[2021-04-20 07:56] #73879 closed

[2021-04-20 07:57] MayankBargali-MSFT commented on #73868
@rajanbhayana I have got an update from the team that the portal changes are not yet deployed. I am assigning this issue to the content author to update the document as appropriate.

@dlepow Can you help with this?

[2021-04-20 08:10] GitaraniSharma-MSFT commented on #74020
@stevevi , We have assigned this to the content owner/author for review.

@vhorne - for your review.

[2021-04-20 08:10] ggailey777 commented on #72548
Hi @arashcomsense, not sure if you've found it, but there's a [SignalR trigger/binding sample](https://github.com/Azure/azure-functions-dotnet-worker/blob/main/samples/Extensions/SignalR/SignalRFunction.cs) in the .NET isolated worker repo.
It doesn't seem to demonstrates users, but I'm not a SignalR expert.

@anthonychu do you have any suggestions here?

[2021-04-20 08:15] shashishailaj commented on #74046
@ducalai Thank you for your query . We will investigate and update the thread.

[2021-04-20 08:17] shashishailaj commented on #74045
@1lomeno3 Thank you for your feedback . We will investigate and update the thread.

[2021-04-20 08:22] 1konna opened #74048 "Microsoft.AzureActiveDirectory"
In the documentation it is written the following:
- Azure Data Lake Store Gen 1 (**Microsoft.AzureActiveDirectory**): Generally available in all Azure regions where ADLS Gen1 is available.

Does  the service endpoint Microsoft.AzureActiveDirectory really relate to ADLS Gen1 or is it an error in the documentation. I have been in the belief that the service endpoint with the name enables Vnet access

[2021-04-20 08:22] priyankareddy20 commented on #73516
Hello James,

I have a query w.r.t Azure Ad identity Protection policies w.r.t User risk
and sign in risk policy.

Security Defaults will trigger MFA and MFA registration policy in Identity
Protection will override the policy.Thats clear.

May I know how user risk policy and sign in risk policy has any relation
with security defaults as risk policies and MfA cannot override with each
other.

I bel

[2021-04-20 08:24] shashishailaj commented on #74045
@1lomeno3 We have updated the link and requested the content team to review. It will be published after the content team approves the same. The correct link is as below for your reference. Please check the same in the meantime while we update the page on our side.

https://learn.akamai.com/en-us/webhelp/enterprise-application-access/enterprise-application-access/GUID-6B16172C-86CC-48E8-B30D-8E678B

[2021-04-20 08:25] nataliahering opened #74049 "Update documentation for redirect URI and native app registration"
According to this https://docs.microsoft.com/en-gb/azure/active-directory-b2c/tutorial-desktop-app?tabs=app-reg-ga, when we define a redirect uri for a native app, for production purposes we should define a unique scheme. However, for system browsers we need to always (both dev and prod) use http://localhost.
From the documentation one understands that localhost should only be used for development

[2021-04-20 08:38] sanmai-NL opened #74050 "Use the set foreground color as foreground color in SVG images"
Use the set foreground color, e.g. CSS `currentColor`, as foreground color in SVG images instead of black, to maintain legibility under a dark theme.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a32c05e-04ab-f76f-8dd1-cbffed44da06
* Version Independent ID: 906d444a-332d-2254-7093-8dc817bb1026
* Content: [Architectur

[2021-04-20 08:40] amanmcse commented on #74046
@ducalai In this case, there won't be any difference whether the app is registered using **Azure AD > App Registration** or **Azure AD B2C > App Registration** as client_credentials flow is only supported by standard Azure AD functionality of B2C tenant and not via user flows or custom policy.
You can go ahead and register the application using Azure AD B2C > App registrations page. As the new App

[2021-04-20 08:44] ducalai commented on #74046
Ok, thank you for your help!

[2021-04-20 08:45] DaveZimmermann commented on #73836
Hi @SwathiDhanwada-MSFT
Thanks for your response!
I've tried to match it as close as possible and still have a huge difference:
https://azure.com/e/ec8c8b47e91b463a86ae6d103125e255
and
[AzureDetailedEstimator.pdf](https://github.com/MicrosoftDocs/azure-docs/files/6342058/AzureDetailedEstimator.pdf)
I cannot explain that to myself, even with different churns...

[2021-04-20 08:49] dtewinkel commented on #64660
To secure our environment, we were just looking into using system assigned manage identity to pull images for a Web App slot from an ACR (in a different subscription, but same AAD).
Any ETA for a fix?

[2021-04-20 09:14] MennoBroxterman commented on #56453
Thank you very much for sharing this, my health probe is now working.

[2021-04-20 09:34] dgpoulet opened #74052 "The link to "Pricing Tiers" links back to this page."
[Enter feedback here]

In the doc section "Adjust performance and scale within seconds" the  last sentence: "See Pricing tiers for details." contains a hyperlink which doesn't point to information about pricing tiers, instead it just links back to this page.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f71a77c-23ce-5

[2021-04-20 09:49] SubhashVasarapu-MSFT commented on #73712
@brcarpio, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-04-20 09:49] #73712 closed

[2021-04-20 09:49] GitaraniSharma-MSFT commented on #74050
@sanmai-NL , thank you for the feedback. We have assigned this to the content owner/author for review.

@cherylmc , could you please review the suggestion and update the doc accordingly?

[2021-04-20 09:51] naleczynskia opened #74053 "SQL Sink wraps stored procedure in transaction"
It is worth mentioning that when stored procedure is invoked from SQL sink, Data Factory automatically wraps it in a transaction. A transaction declared inside the stored procedure will be a nested transaction. This is an important consideration for exception handling in SQL Server.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2021-04-20 09:51] SubhashVasarapu-MSFT commented on #73786
@marekchmel, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-04-20 09:51] #73786 closed

[2021-04-20 09:55] GitaraniSharma-MSFT commented on #74048
@1konna , thank you for your query. We'll review this and get back to you shortly!

[2021-04-20 11:01] KrishnaG-MSFT commented on #73933
@MoeJw [This](https://azuremarketplace.microsoft.com/en-us/marketplace/apps/category/management-tools?subcategories=management-solutions%3Ball&page=1&filters=microsoft) is the place to find all such solutions. There is also a filter to list out 'Microsoft' published solutions and third parties published solutions separately.

[2021-04-20 11:11] tomkerkhove opened #74056 "Azure API Management - Provide documentation on how to deploy to Kubernetes with Helm"
Provide documentation on how to deploy to Kubernetes with Helm which is more convenient.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc120706-8993-1b82-d2c8-d4cd07204c36
* Version Independent ID: e5d540e9-e45c-9e94-a8a0-d1fdea8f4f3f
* Content: [Deploy a self-hosted gateway to Kubernetes](https://docs.microsoft.com/e

[2021-04-20 11:16] arashcomsense commented on #72548
@ggailey777 That example was not the one that I have been after.

[2021-04-20 11:25] shashishailaj commented on #74049
@nataliahering Thank you for your feedback . We will investigate and update the thread.

[2021-04-20 11:26] SwathiDhanwada-MSFT commented on #73720
@paulfinol Its possible. You can check [this azure document](https://docs.microsoft.com/en-us/azure/migrate/tutorial-discover-physical#start-continuous-discovery) on how to discover servers using Azure Migrate appliance.

As there are no documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-04-20 11:26] #73720 closed

[2021-04-20 11:32] shashishailaj commented on #74049
@nataliahering You have already pushed a change to the sample. We will review the changes in the linked issue and update the details on this document .

[2021-04-20 11:40] teodor-kostadinov opened #74058 "Extra "}" in the Azure Data Lake Gen2 example."
The following section

[code]

Has an extra `}` at the end.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d55b056-a9c1-5e92-4fdd-23d7269129f1
* Version Independent ID: 82a77acc-2107-33f5-bfa2-28e6b11128b9
* Content: [Access Azure Data Lake Storage using Azure Active Directory credential passthrough - Azure Databricks

[2021-04-20 11:41] MoeJw commented on #73933
Yeah, Thank for considering looking into this, but is there  an Api to fetch them all or doc list them all

[2021-04-20 11:42] andybouts commented on #73684
Thanks @kobulloc-MSFT , appreciate the update.

Perhaps the most elegant solution would be for Az CLI to be automatically installed on every VM.

[2021-04-20 12:00] Mahesh-MSFT opened #74059 "Provide clarity on connectivity between 2 VNets attached to same ER circuit."
As part of [FAQ on VNets linked to the same ExpressRoute circuit](https://docs.microsoft.com/en-us/azure/expressroute/expressroute-faqs#can-virtual-networks-linked-to-the-same-expressroute-circuit-talk-to-each-other), documentation ***recommends*** to use VNet peering for VNet to VNet connectivity.

Customers who have configured ER connectivity 4-5 years back using [VNet-to-VNet connectivity via E

[2021-04-20 12:19] shashishailaj commented on #74042
@Mikako-ff Thank you for your feedback . We will investigate and update the thread.

[2021-04-20 12:22] oliharvey opened #74060 "confusing/disingenuous documentation regarding whether scaling is seamless or not."
I find this page confusing as it seems contradictory - e.g. "You can adjust performance without downtime to your app or to your customers" - but later "You can expect a short connection break when the scale up/scale down process is finished".

This is key because either the scaling is seamless or not - it seems that it is not because any transcations running at switchover time will break. I unders

[2021-04-20 12:28] sokoloffmaks opened #74061 "Provide a corresponding kusto query for each of sections"
Hi , pls update documentation providing corresponding kusto query for each of sections
I.E.  I want to know what kusto query to run to show "number sessions available"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed15d22c-accc-c862-b736-3ee64bdc2a0a
* Version Independent ID: e40d29e3-bc61-a353-0a3f-b56b836a788f
* Con

[2021-04-20 12:28] SwathiDhanwada-MSFT commented on #73836
@DaveZimmermann Thanks for sharing these files.  Here are the changes that I made to the estimation file and I was able to get it.

-  Updated the estimate price as shown below image. As the Protected Instance price for Azure Backup is  CHF 5.7374 as shown in [this document](https://azure.microsoft.com/en-in/pricing/details/backup/#:~:text=The%20Protected%20Instance%20charge%20is,charged%20Storage

[2021-04-20 12:29] DCtheGeek commented on #74025
@MauricioZa The non-compliance message doesn't have a parameter in PS/CLI yet, but it's on the roadmap.  Once it is completed, the cmdlet/operation Docs should be updated with a relevant example of it's use.  Since this is a coming feature to SDK and not an existing problem with Docs, I'm going to close this issue.  Thanks again for the question!

#please-close

[2021-04-20 12:29] #74025 closed

[2021-04-20 12:31] KrishnaG-MSFT commented on #73933
AFAIK we don't have any docs. @tfitzmac Any insights on this please?

[2021-04-20 12:37] dominicbetts commented on #73659
#please-close

[2021-04-20 12:37] #73659 closed

[2021-04-20 12:39] SwathiDhanwada-MSFT commented on #73871
@MAlin881 As we haven't heard from you, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-04-20 12:39] #73871 closed

[2021-04-20 12:40] natpascual1027 commented on #73970
@ssivas

Hi. Thanks for this. The non-compliance makes sense. So maybe, just maybe, since it works even without applying a license initially, license can be assigned after the invitation process. Or better yet, the group wherein the guest user will be joined to temporarily, assigns the licenses automatically.

[2021-04-20 12:41] AnuragSharma-MSFT commented on #73732
@anosov1960 Could you please help us with this query?

[2021-04-20 12:45] RyanHill-MSFT commented on #47611
Sorry about that @gfaraj, I will need to follow up with the team to see if the detector is configured for function apps. But I'm glad you found it. The detector would have directed you to misconfiguration with the config file. Just make sure that `enabled` under `platform` is set to **true** in your auth.json file.

One more thing. Your screen shot above is reference for the auth.json itself, [see

[2021-04-20 12:51] GitaraniSharma-MSFT commented on #74059
@Mahesh-MSFT , thank you for your feedback. I see you have started an internal email communication regarding this. So will wait for PG confirmation to proceed further.

[2021-04-20 12:57] SwathiDhanwada-MSFT commented on #73802
@asukumar22 As mentioned by Tom, Azure CLI command works in bash environment. For your reference, adding the screenshot.

![image](https://user-images.githubusercontent.com/48976275/115399479-e37ba700-a205-11eb-874d-d37a0c59e516.png)

As there are no further documentation changes, we will close the issue for now. If there are further questions , please reply and we will be glad to assist you.

[2021-04-20 12:57] #73802 closed

[2021-04-20 12:59] TimBoothbyViz commented on #71385
Hi,
I've run into the same issue adding a client cert from Azure Key Vault.

@HarshitaSingh-MSFT Is there any news on when the update you mentioned will be available or any workaround for this?
I've tried Jack's solution of exporting the cert & private key from the vault to a pfx and uploading to the API service, but when I try to add this to the backend I get an error saying the cert must have th

[2021-04-20 13:00] AnuragSharma-MSFT commented on #74052
@dgpoulet Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-04-20 13:01] AnuragSharma-MSFT commented on #74060
@oliharvey Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-04-20 13:02] AnuragSharma-MSFT commented on #73849
@gjmoyer Awaiting your response on this.

[2021-04-20 13:21] gamullen opened #74062 "qualys"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fdbbf80-92cd-d6b2-85fd-a830589a8ed9
* Version Independent ID: d89d9eef-daed-636d-7414-0b15f3195734
* Content: [Security Center's integrated vulnerability assessment solution for Azure and hybrid machines](https://docs.microsoft.com/en-us/azure/securi

[2021-04-20 13:22] gamullen commented on #74062
Opened by mistake

[2021-04-20 13:22] #74062 closed

[2021-04-20 13:24] mrmyss2018 opened #74063 "Teams Presence not working after machine wide teams is installed"
There appears to be a limitation with the machine wide version of teams once it is installed, the outlook presence functionality stops working once the client is installed. Is this a known issue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85b331f4-5939-688a-31e6-7f4c5e1c185d
* Version Independent ID: 42e1f341-92c0-

[2021-04-20 13:27] fvarga01 opened #74064 "Network traffic diagram in section "Deny public network access" is inaccurate"
When "Deny public network access" is set to NO, connections are allowed by using either public endpoints (with IP-based firewall rules or with virtual-network-based firewall rules) or private endpoints (by using Azure Private Link).

However, the diagram incorrectly shows a connection being denied when the following is true:
* Deny public network access is set to NO
* No matching firewall rules

*

[2021-04-20 13:29] mmacy commented on #72782
@shaima-MS We're now tracking this internally in this ADO work item for triage and scheduling:

ID | Title
-- | --
[1370826](https://identitydivision.visualstudio.com/Technical%20Content/_workitems/edit/1370826) | [ISSUE][72782] Application secret for applications integrate with Azure AD B2C

[2021-04-20 13:36] karthisnk opened #74065 "kubectl Mitigation failed with error ""no matches for kind "ConstraintTemplate" in version "templates.gatekeeper.sh/v1beta1""""
[Enter feedback here]

kubectl apply -f https://raw.githubusercontent.com/open-policy-agent/gatekeeper-library/master/library/pod-security-policy/capabilities/template.yaml

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3c187c0-27f1-11c9-41af-6c65ca36e77e
* Version Independent ID: 249a570b-90ba-4a11-4467-320f0369ec25

[2021-04-20 13:41] jordaniza opened #74066 "Please add video speed controller to allow us to speed up/slow down video"
I think MSFT are erring on the side of 'talk slowly so people understand you', which makes complete sense. The videos are too slow for native speakers, however, and it's incredibly tedious to watch and hard to focus. Please can you add a speed controller so we can speed up the playback.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2021-04-20 13:52] SwathiDhanwada-MSFT commented on #73891
@PaulVrugt You can't assign permission to specific custom log. Same information is documented.
![image](https://user-images.githubusercontent.com/48976275/115407546-bf23c880-a20d-11eb-86d7-7a76d97888aa.png)

[2021-04-20 13:53] SwathiDhanwada-MSFT commented on #73873
@MesyMacos Did you get chance to check my previous comment ? Kindly let me know if you are still facing the issue.

[2021-04-20 13:54] PaulVrugt commented on #73891
My apologies. For some reason, I didn't see that section all together

[2021-04-20 14:00] prvempat opened #74067 "Cancel purchase (delete domain) Document update"
Feedback:

1) The Cancel Purchase(delete domain) in the document https://docs.microsoft.com/en-us/azure/app-service/manage-custom-dns-buy-domain#cancel-purchase-delete-domain, needs update. The steps 3 and 4 are obsolete and we no longer see hostname bindings mentioned in the step 3 though the custom domain is configured to any app service(s).

2) If any user wants to delete the custom domain, he/

[2021-04-20 14:01] SwathiDhanwada-MSFT commented on #74066
@jordaniza Thanks for your feedback.

Assigning to content author @rboucher for review.

[2021-04-20 14:04] MesyMacos commented on #73873
Hi @SwathiDhanwada-MSFT
Apologies for the delayed reply. Thanks for looking into this!

I created a new VM on Monday before your comment came in and everything was fine. The metrics got displayed very quickly too. Thank you!

[2021-04-20 14:04] #73873 closed

[2021-04-20 14:11] gugovind commented on #73824
Thanks @balintbako-d4t4 and @DCtheGeek. The Security Compliance Toolkit are our source for the Azure Baselines, but the toolkit setting relates to on-prem environments. We review the Security Compliance toolkit baselines and include only rules/setting as applicable to cloud compute environments. If you are able to send your findings offline, I can provide more details.

[2021-04-20 14:14] SwathiDhanwada-MSFT commented on #73891
No problem @PaulVrugt. As there are no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-04-20 14:14] #73891 closed

[2021-04-20 14:14] psmanhas commented on #74061
@sokoloffmaks Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-04-20 14:16] DCtheGeek commented on #73824
Thanks @gugovind!

@balintbako-d4t4 As this isn't a problem with the Docs, I'm going to close this Issue, but please feel free to continue the conversation directly with @gugovind per his offer above.  Thanks!

#please-close

[2021-04-20 14:16] #73824 closed

[2021-04-20 14:20] KranthiPakala-MSFT commented on #74058
@teodor-kostadinov ,
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-04-20 14:23] KranthiPakala-MSFT commented on #74058
Hi @leifbro , @mssaperla - As @teodor-kostadinov called out, there is an extra `{` in the below code section. Could you please fix the doc to resolve the issue.

https://docs.microsoft.com/en-us/azure/databricks/security/credential-passthrough/adls-passthrough#--azure-data-lake-storage-gen2-1

![image](https://user-images.githubusercontent.com/50185738/115412529-3c692200-a1a9-11eb-9864-5c8e0aac30c

[2021-04-20 14:23] psmanhas commented on #74061
@Heidilohr Can you please check and add your comments on this doc update request as applicable

[2021-04-20 14:29] GitaraniSharma-MSFT commented on #73809
@dfatkulbayanova , I'm following up on my previous comment to check if you could share the screenshots to proceed further.

[2021-04-20 14:30] KranthiPakala-MSFT commented on #73823
@leifbro - Any update on this fix? Thank you

[2021-04-20 14:30] WiseOldHowell opened #74068 "Parameters appear to be incorrect"
The parameters appear to be incorrect.
Per this page: https://docs.microsoft.com/en-us/powershell/module/az.network/new-azapplicationgatewayfirewallexclusionconfig?view=azps-5.8.0
They are:
New-AzApplicationGatewayFirewallExclusionConfig
   -**Variable** <String>
   -**Operator** <String>
   -**Selector** <String>
   [-DefaultProfile <IAzureContextContainer>]
   [<CommonParameters>]

---
#### Docu

[2021-04-20 14:42] barclayn commented on #68547
@ErikMogensen Thank you for your feedback. We have an internal work item to track this suggestion that we will re-evaluate soon as we update the article.

[2021-04-20 14:42] barclayn commented on #68547
#please-close

[2021-04-20 14:42] #68547 closed

[2021-04-20 14:45] barclayn commented on #67689
@knutwannheden Thank you for your feedback. I have created a work item for us to track this suggestion so we can consider it when we are updating the article.

[2021-04-20 14:45] barclayn commented on #67689
#please-close

[2021-04-20 14:45] #67689 closed

[2021-04-20 14:51] barclayn commented on #66656
@jurjenoskam Thank you for your feedback. We have a work item to track this suggestion. We are working on an approach to keep that article up to date and we will evaluate this work item when start implementing the changes.

[2021-04-20 14:51] nunepalli commented on #74021
@NavtejSaini-MSFT
I don't see Azure DMS in the methods described in the links you provided.
So, does Azure DMS work only for Azure SQL (single database and managed instance)?

[2021-04-20 14:51] barclayn commented on #66656
#please-close

[2021-04-20 14:51] code4clouds opened #74069 "Missing lead information in SF"
The Salesforce Lead documentation is missing where the Publisher will see the lead inside SalesForce once the Form is generated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4eb3603-16cb-584a-017e-c6ae6d178b1f
* Version Independent ID: 59a4a44d-8ba4-9d1e-b9b0-e7cbd02e2b29
* Content: [Lead management in Salesforce -

[2021-04-20 14:54] gllebede commented on #73892
Thank you for reporting the issue.

ASA SDK 2.7.1 is not compatible with the XR Plugin Framework. The ASA SDK you are targeting is compatible with Unity 2019 LTS, ARCore and ARKit XR Plugins version 3.1.3 and Windows Mixed Reality 4.2.1. May I ask you to remove XR Plugin Management (it may ask to remove other packages first) and try to install platform-depended package?

HoloLens – Windows Mixed R

[2021-04-20 14:59] GitaraniSharma-MSFT commented on #74048
@1konna , if you click Azure Data Lake Store Gen 1 in this doc, it will take you to the [ADLS doc](https://docs.microsoft.com/en-us/azure/data-lake-store/data-lake-store-network-security?toc=/azure/virtual-network/toc.json) where you can confirm that Microsoft.AzureActiveDirectory is the service endpoint required to allow Vnet access for ADLS. Also, you can refer the [Limitations section](https://

[2021-04-20 14:59] #74048 closed

[2021-04-20 15:06] willduarte opened #74070 "Outdated github actions to deploy ASPNET projects on azure app service"
[The examples of ASPNET yaml](https://docs.microsoft.com/en-us/azure/app-service/deploy-github-actions?tabs=userlevel#aspnet-1) uses `microsoft/setup-msbuild@v1.0.0` which throw the error below:

[code]

Updating to use `microsoft/setup-msbuild@v1.0.2` resolves the problem.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2021-04-20 15:16] kobulloc-MSFT commented on #73684
@andybouts I would personally love to have CLI installed automatically on every VM (although I'm not sure what the logistics would be when it comes to updating VM images).  I'll keep you updated.

[2021-04-20 15:21] barclayn commented on #71430
@chrisweis Thank you for your feedback. We are making updates to the article. We have a work item to track this and hope to be making public changes soon that would include a fix to the issue you pointed out.

[2021-04-20 15:21] barclayn commented on #71430
#please-close

[2021-04-20 15:22] #71430 closed

[2021-04-20 15:22] JamesTran-MSFT commented on #73516
@priyankareddy20
Thank you for the follow up on this!

The Identity Protection policies (MFA, Sign-in risk, and User risk) will override the Security Defaults policy.

[2021-04-20 15:30] bwren commented on #73883
Thanks for this. I'll get it updated.

#please-close

[2021-04-20 15:30] #73883 closed

[2021-04-20 15:33] kenwith commented on #73003
#please-close

[2021-04-20 15:33] #73003 closed

[2021-04-20 15:34] barclayn commented on #69182
@tshaiman checking the cosmos db documentation I found https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-setup-rbac and https://docs.microsoft.com/en-us/azure/cosmos-db/managed-identity-based-authentication  Please take a look and let us know if these articles fail to address your question.

[2021-04-20 15:34] barclayn commented on #69182
#please-close

[2021-04-20 15:34] #69182 closed

[2021-04-20 15:36] andybouts commented on #73684
Thanks, I believe that other providers may be doing this.

[2021-04-20 15:36] nayenama commented on #73880
Multiple glossaries is not available in Purview today.  Please log a UAT for the same.

[2021-04-20 15:36] barclayn commented on #66643
@karataliu  I checked with the managed identities engineering team and that step is not required.

[2021-04-20 15:37] barclayn commented on #66643
#please-close

[2021-04-20 15:37] #66643 closed

[2021-04-20 15:37] nayenama commented on #73880
#please-close

[2021-04-20 15:37] #73880 closed

[2021-04-20 15:39] derdanu commented on #45247
The answer is wrong. It's full duplex. 1Gbps Circuit has 1Gbps in AND 1Gbps out

[2021-04-20 15:47] NavtejSaini-MSFT commented on #74064
@rohitnayakmsft Can we check the above feedback and check if a change in diagram is required or not.
@fvarga01 We are checking and will get back to you.

[2021-04-20 15:59] SubhashVasarapu-MSFT commented on #74068
@WiseOldHowell, Thanks for reaching out. We will investigate and update this thread.

[2021-04-20 16:00] smcd253 opened #74071 "create-device-update-acccount.md does not exist"
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/iot-hub-device-update/device-update-azure-real-time-operating-system.md#prerequisites
Link to "create and link" broken.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: baa3f791-71f3-7fb2-3c15-4a9d80b17ed2
* Version Independent ID: 56d431fd-607c-a8d6-12a6-ce

[2021-04-20 16:03] luisquintanilla commented on #73832
@don007git were you able to get this working?

[2021-04-20 16:03] pgowdy1 commented on #69667
Is there any update on this? We're running into the same problem an would like the flexibility to adjust the Load Balancing time variable through the ARM template. At the moment I'm not positive that this is possible...?

[2021-04-20 16:05] SillyKeith opened #74072 "Include a note after executing the UUU tool about the expected behavior "Wait for Known USB Device Appear...""
[Enter feedback here]
After Step 2 add a note about the expected behavior of the UUU tool.

Note:  The UUU flashing utility will display "Wait for Known USB Device Appear..."  This is expected.  The flash tool is now waiting for you to execute the next two commands on the device to put it into Flash Mode.  When the device completes it's reboot cycle, the UUU tool will find the USB device and the u

[2021-04-20 16:07] kgremban commented on #74006
Hi @v-zzhe is this the same issue that you and I discussed over emails yesterday, where you switched the authentication type to SSH key and were able to get the VM started successfully?

[2021-04-20 16:08] JamesTran-MSFT commented on #74005
@CarlosPiAn
Thanks for your time and patience! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-04-20 16:09] jlichwa commented on #73358
@blessedwithsins I'm glad that issues is sorted out. Yes example shows array of multiple secrets and that is why it needs "-|". We are trying to follow official Secrets Store CSI Driver documentation as close as possible. #please-close

[2021-04-20 16:16] #73358 closed

[2021-04-20 16:17] v-zzhe commented on #74006
Hi @kgremban Yes, it is. I am able to get the VM after switching to  SSH key authentication.

[2021-04-20 16:17] b-juche commented on #73865
We added that maxfiles limits are inodes limits in Linux systems:

Linux file systems refer to the limit as _inodes_.
You can initiate a support request to increase the maxfiles (**inodes**) limit beyond 100 million.

[2021-04-20 16:17] SubhashVasarapu-MSFT commented on #73903
@mikeatandersen, Appreciate your patience. The appropriate rights were added to the form. you should be able to access it now. Please do check and confirm.Thanks!

[2021-04-20 16:18] b-juche commented on #73865
#please-close

[2021-04-20 16:18] #73865 closed

[2021-04-20 16:20] SatishBoddu-MSFT commented on #74006
Thank you @kgremban for the Awesome help!

[2021-04-20 16:21] JamesTran-MSFT commented on #74009
@callit
Thank you for pointing this out!

Since this is a tutorial, I believe this is why these Admin roles are listed. However, the pre-requisites only require a user account in Azure AD with permissions to configure provisioning.
![image](https://user-images.githubusercontent.com/36619112/115430595-5a3e8300-a1b9-11eb-99b4-293aca78dd3b.png)

I've assigned this issue to the author to review and up

[2021-04-20 16:22] kobulloc-MSFT commented on #73684
Thank you for pointing that out.  I'll definitely pass that along.

[2021-04-20 16:27] msmimart commented on #72898
Hi @nikki-c, thanks so much for pointing this out. The video links should be working now. I'll go ahead and close this for now, but please let us know if there's still an issue.
#please-close

[2021-04-20 16:27] #72898 closed

[2021-04-20 16:30] Oury-MSFT commented on #74018
@asears I have raised a pull request to update the link. This change should be live later this week once it is approved.
Thanks again for helping improve our documentation!

[2021-04-20 16:34] YutongTie-MSFT commented on #73895
@lostmygithubaccount Hello Cody, could you please share some insights here?

[2021-04-20 16:36] JamesTran-MSFT commented on #74022
@afield1235
Thank you for the quick response and screenshots!

I wasn't able to replicate your issue, but can you try logging in/out, or closing out of your browser and signing back in? To see if this helps resolves your issue.
![UpdateNamedLocation](https://user-images.githubusercontent.com/36619112/115432767-9b379700-a1bb-11eb-9ce9-20fc6a6a6574.gif)

If you're still having problems adding a loca

[2021-04-20 16:37] SumanthMarigowda commented on #73800
@

[2021-04-20 16:38] SumanthMarigowda commented on #73800
@xps233 Test-NetConnection is apparently not in the default 2008 R2, so if they install either Management Framework 5.1 or PowerShell 7, then it should work Installing [PowerShell on Windows - PowerShell | Microsoft Docs ](https://docs.microsoft.com/en-us/powershell/scripting/install/installing-powershell-core-on-windows?view=powershell-7.1)

[2021-04-20 16:38] #73800 closed

[2021-04-20 16:38] #73516 closed

[2021-04-20 16:40] rboucher commented on #69667
#assign:fewatson

[2021-04-20 16:41] rboucher commented on #69667
#reassign:fewatson

[2021-04-20 16:41] rboucher commented on #69667
#assign:JasonFreeberg

[2021-04-20 16:44] #74045 closed

[2021-04-20 16:50] priyankareddy20 commented on #73516
But in my tenant I have created security defaults where MFA is being
triggered and I created User risk policy sign in risk policy alone.
All policies r working fine.
No.policy did override another.

When I create MFA registration policy in Identity Protection it is
overriding security defaults policy

Regards
Priyanka

On Tue, Apr 20, 2021, 5:22 PM James Tran-MSFT ***@***.***>
wrote:

[2021-04-20 16:50] JasonFreeberg commented on #69667
Hi everyone, the app setting `WEBSITE_HEALTHCHECK_MAX_PING_FAILURES` corresponds to the "Load Balancing" slider in the Portal. Health check pings every minute, so the slider is just translating the number of pings to minutes.

@maximivanov -- Do you have multiple function app instances running? It could be that you're looking at log messages for multiple instances. Health check should only be ping

[2021-04-20 16:52] AbhishekTripathi opened #74074 "Explanation required where rate-limit for a product is applied"
Assume following policy
[code]

How should the above sample be interpreted if it is configured against an APIM Product? Is 25 requests applicable globally for all APIs combined except "service" API? Another interpretation could be that out of 25 total, 10 is reserved for "service" and the remaining left-over goes to other services?

This scenario should be better described in the document with the

[2021-04-20 17:04] pochiraju commented on #74018
#Approved

[2021-04-20 17:04] pochiraju commented on #74018
#Signoff

[2021-04-20 17:08] DoychinDoychev commented on #73772
@vladvino thank you. A follow up - i have a managed certificate from AWS ACM. How do i use it with the custom domain.
P.S. I've read https://docs.microsoft.com/en-us/azure/api-management/configure-custom-domain#use-the-azure-portal-to-set-a-custom-domain-name multiple times, the document omits a lot of the steps, settings and scenarios that are implemented in the UI. In addition to that I still ne

[2021-04-20 17:10] jesussalasp commented on #73799
@shashishailaj any update on this?

[2021-04-20 17:12] jaseidman commented on #74058
Hi @teodor-kostadinov – thanks for reporting this. This will be fixed shortly.

[2021-04-20 17:15] DaveZimmermann commented on #73836
Hi @SwathiDhanwada-MSFT

Thanks a lot for the time you're spending for me! If I understood your first answer, then the default settings of the excel are realistic and therefore you don't need to enter "Enter your own churn", especially if we're not having own experiences so far, right?

Best Regards

Dave

[2021-04-20 17:18] vhorne commented on #73694
PR is merged.
#please-close

[2021-04-20 17:18] #73694 closed

[2021-04-20 17:21] RyanHill-MSFT commented on #73397
@emayljames, I have assigned the issue to the content author to investigate further and update the document as appropriate.

There are issues when running the tutorial. You may have better luck deploy the tutorial to a Linux hosted app as Composer is readily available. On Windows, you can run `php composer.phar install` from `D:\home\site\wwwroot>` manually and check for errors.

[2021-04-20 17:31] RonnieQuan commented on #74019
@GitaraniSharma-MSFT
This is a critical question, since we are facing the performance issue to host our windows virtual desktop.
and we need more information to determine our new networking configuration strategy.

Appreciate if you could reply ASAP!

[2021-04-20 17:36] KranthiPakala-MSFT commented on #73950
@MKBahuguna
We will now proceed to close this thread. Please do share the forum thread link for reference once it is posted.  If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2021-04-20 17:36] #73950 closed

[2021-04-20 17:44] #74018 closed

[2021-04-20 17:51] vladvino commented on #73772
@DoychinDoychev we will review and update the doc. In the meantime please contact support so we can help you more directly and effectively. Thanks!

[2021-04-20 17:56] helderpinto opened #74078 "Appliance installation steps details are inconsistent - we see a blend of Public and Private Endpoints-related instructions"
When following the [steps to install the appliance for Private Endpoints](https://docs.microsoft.com/en-us/azure/migrate/how-to-use-azure-migrate-with-private-endpoints#download-the-appliance-installer-file), we see some inconsistencies:

- Step 2 of "Verify file security" refers to a file named "AzureMigrateInstaller-VMware-**PrivateEndPoint**.zip"
- Step 3 of "Verify file security" has links to

[2021-04-20 17:58] scottjreece opened #74079 "These instructions and screenshots don't match the current user interface"
These instructions and screenshots don't match the current user interface

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc2ee874-df45-1de2-1b30-1fd75c7fd709
* Version Independent ID: ee181722-8386-9842-407f-d0549012d2e9
* Content: [Add and manage TLS/SSL certificates - Azure App Service](https://docs.microsoft.com/en-

[2021-04-20 17:59] jmprieur opened #74080 "Missing section about web APIs"
This page does not mention the libraries involved in web APIs
(they are the same as for the web apps)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b787325-589c-b5f5-f530-7f1fe12e075e
* Version Independent ID: 6d678569-0ebe-f2ef-ecd7-69cc62b4b7be
* Content: [Microsoft identity platform authentication libraries](https

[2021-04-20 18:03] afield1235 commented on #74022
Yes, I tried all those steps. All of these named locations are over a year old and we are constantly adjusting them. The new interface will not work with them and we cannot go back and delete/recreate every single one.

[2021-04-20 18:03] mike-urnun-msft commented on #73772
@DoychinDoychev I'd be happy to help with opening a support case. Does your subscription carry a support plan? If not, let us know and we'd be happy to help.

[2021-04-20 18:04] DeSeelam commented on #74078
Hi @helderpinto

Thank you for bringing this to our notice. We'll get this fixed.

Tagging @Vikram1988 for awareness.

[2021-04-20 18:06] amymcel opened #74081 "Export Certificate"
This section in the article only describes how to export the app service certificate to pfx using CLI. This feature is also available via the portal. When we only include CLI or PowerShell as the way to accomplish a task we are giving the impression that the portal does not support this feature.

My ask is to add the steps for exporting a certificate to pfx via the portal.

---
#### Document Detai

[2021-04-20 18:20] orspod commented on #73383
@jatinas - thanks for the response. @dgcaron - I will now close this issue

[2021-04-20 18:20] orspod commented on #73383
#please-close

[2021-04-20 18:20] #73383 closed

[2021-04-20 18:26] nataliahering commented on #74049
@shashishailaj I don't think I have pushed any changes. If you think it will accelerate the process, happy to create a PR though

[2021-04-20 18:28] rboucher commented on #54822
@kazshi
This one is correct.
"The number of unexpired queue messages in the storage account."
we will update the docs appropriately.

Sorry for the huge delay.

[2021-04-20 18:35] DavidMwihuri01 commented on #73206
Hi @janetslei, thanks so much for pointing this out. The article has been updated. I'll go ahead and close this for now, but please let us know if there's still an issue.
#please-close

[2021-04-20 18:35] #73206 closed

[2021-04-20 18:36] rboucher commented on #54822
#please-close

[2021-04-20 18:36] #54822 closed

[2021-04-20 18:37] shortpatti commented on #65138
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2021-04-20 18:37] #65138 closed

[2021-04-20 18:47] RonnieQuan opened #74083 "Powershell to Associate VMSS to ASG"
This is an urgent question, does powershell support to associate VMSS with ASG?

If yes, do you have an example?

Many thanks!

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58c3ba2e-4447-da7a-02d2-a5637cd1d1c8
* Version Independent ID: 9e27ac75-fbd1-79b2-e816-a65e27e5b6ed
* Content: [Networking

[2021-04-20 18:48] shortpatti commented on #71010
@YuichiTorigoe, according to engineering, it's either (specify a circuit you already have access to in the specified sub/rg) OR (supply circuit id and auth key).  We're currently updating the content so that it's clearer.

#please-close

[2021-04-20 18:48] #71010 closed

[2021-04-20 18:51] waynestevensinsight opened #74084 "Feedback on Tutorial for Custom Policy user flows in AAD B2C"
Overall I'm finding this complicated and difficult to follow, seems like a lot of work just so I can enable federation with AAD. Here is some initial feedback:

1. This page (https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-create-user-flows?pivots=b2c-custom-policy) tells me a prerequisite is to complete this page (https://docs.microsoft.com/en-us/azure/active-directory-b2c/id

[2021-04-20 18:54] aylapai opened #74085 "Update Dynatrace Description"
Hello,

We have updated our product messaging a bit and would like to update the description under Dynatrace to read:

Dynatrace is a software intelligence monitoring platform that simplifies cloud complexity and accelerates digital transformation with automatic and intelligent observability. Dynatrace is a single source of truth for your cloud platforms, allowing you to monitor the health of your

[2021-04-20 19:04] tracy-hunt commented on #74028
Here's what I did and it appeared to resolve the issue.

1) "MyFirebaseMessagingService" (from step 12 in the "Registering with FCM" section) should be "AzureListener."
2) In the class, changing the "this" references to the "context" parameter passed into OnPushNotificationReceived seems to work.

The updated code looks like the below. Note that I uniquely identify each push by storing a Preferenc

[2021-04-20 19:08] aahill commented on #71917
Thanks for reaching out, I'm thinking was a temporary bug, as I tested the code and was able to get the 'length' parameter in the output, using the code in in the article.

#please-close

[2021-04-20 19:08] #71917 closed

[2021-04-20 19:09] lengau opened #74086 "Unclear how to access schedule status in Python"
The timer binding shows how to run a timer trigger and shows a JSON representation of the timer object:

[code]

However, it doesn't show how to access any of those values other than `isPastDue` in Python. The obvious values (e.g. `myTimer.ScheduleStatus`) work in C#, but not in Python.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2021-04-20 19:18] mumian commented on #73834
@afscrome.  Thank you for the comment.  I have submitted a PR to address the issue.

#please-close

[2021-04-20 19:18] #73834 closed

[2021-04-20 19:32] rboucher commented on #74085
Hi @aylapai, please email me directly from your Dynatrace corporate email and we can discuss further.  We limit partner descriptions to 100 words.

[2021-04-20 19:33] rboucher commented on #74085
#please-close

[2021-04-20 19:33] #74085 closed

[2021-04-20 19:37] aylapai commented on #74085
Hi Rob,

Thanks for your quick response! I should clarify, it’s not just the company description, but also how we integrate with Azure Monitor.

Here’s the copy:

 Dynatrace is a software intelligence monitoring platform that simplifies cloud complexity and accelerates digital transformation with automatic and intelligent observability. Dynatrace is a single source of truth for your cloud platform

[2021-04-20 19:40] crisansou opened #74087 "How to see the schedule configured for the pipeline using the studio web experience?"
Hello,

I created the pipeline and set up the schedule, but I can only see the information configured using the SDK. Is it possible to change the schedule using studio web?

![image](https://user-images.githubusercontent.com/29444086/115453185-b8895700-a1f5-11eb-8af5-2ef568488f2c.png)

![image](https://user-images.githubusercontent.com/29444086/115453525-22a1fc00-a1f6-11eb-91d4-fff9eb7f141a.png)

[2021-04-20 19:42] rboucher commented on #74085
@aylapai.  Please email me. This is a public forum so not appropriate for partner discussions.  Also, we don't let just anyone claim they are from a company and change descriptions. I need to see an email coming form your corporate account. We can engage more there.

[2021-04-20 19:46] aylapai commented on #74085
@rboucher just emailed you.

[2021-04-20 19:46] ChaitanyaNaykodi-MSFT commented on #74056
Hello @tomkerkhove,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-04-20 19:48] JamesTran-MSFT commented on #74080
@jmprieur
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-04-20 19:49] ChaitanyaNaykodi-MSFT commented on #74074
Hello @AbhishekTripathi,
Thank you for your feedback! We will review and update as appropriate.

[2021-04-20 19:50] JamesTran-MSFT commented on #74022
@afield1235
Thank you for the quick follow up on this!

Since you're still having issues, we'd like to take a closer look into your environment and issue, can you please email me with the info below. I'll go ahead and enable a one-time free technical support request for your subscription so you can work with our support engineers to get this issue resolved.

Email: AzCommunity@microsoft.com
Subjec

[2021-04-20 19:50] #74022 closed

[2021-04-20 19:50] ChaitanyaNaykodi-MSFT commented on #74086
Hello @lengau,
Thank you for your feedback! We will review and update as appropriate.

[2021-04-20 19:53] SubhashVasarapu-MSFT commented on #74083
@RonnieQuan, Thanks for reaching out. We will investigate and update this thread.

[2021-04-20 19:56] wmgries commented on #73804
I have addressed this and will publish a PR later today or tomorrow with this feedback incorporated. #please-close

[2021-04-20 19:56] #73804 closed

[2021-04-20 19:57] wmgries commented on #73759
I have addressed this and the PR will be published this evening or tomorrow depending on how long it takes to review. #please-close

[2021-04-20 19:57] #73759 closed

[2021-04-20 20:16] msmbaldwin commented on #68483
Hi, @starbuck3000. We have completely rewritten this article, removing the reference to a "table", and clarifying the terminology.  What we previously referred to as "locations", we now call "regions", and we have revised many of our previous references to regions to correctly classify them as "geographies".  Thank you for your feedback. #please-close

[2021-04-20 20:16] #68483 closed

[2021-04-20 20:31] JamesTran-MSFT commented on #74084
@waynestevensinsight
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-04-20 20:39] santhoshbomma9 opened #74089 "can we switch a published plan from public to private or vice-versa?"
can we switch a published plan from public to private or vice-versa?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1cf32c6-d75a-b5d2-c6af-41647f7b868c
* Version Independent ID: 22e77ed0-db1b-50c3-03fa-5ee6f9b194c9
* Content: [Update an existing offer - Microsoft commercial marketplace](https://docs.microsoft.com/en-g

[2021-04-20 20:43] SatishBoddu-MSFT commented on #74072
Hello @SillyKeith
I have assigned the issue to the content author for further review.

[2021-04-20 20:49] Oury-MSFT commented on #74030
@TheovanKraay Could you please help clarifying the statements in this [document](https://docs.microsoft.com/en-us/azure/cosmos-db/change-feed). I highlighted the statements in yellow. In my understanding the second statement is referring to change log not change feed. Is there any difference between change feed and change log? See below
![image](https://user-images.githubusercontent.com/78940872/1

[2021-04-20 20:50] waynestevensinsight commented on #74084
Thanks for considering my feedback. One thing I forgot to mention: I found it a little strange that I had to walk through setting up a Facebook app just so that I could federate with AAD. I don't need/want to use Facebook authentication, but the Tutorial seemed to require it. Thanks again!

[2021-04-20 20:59] mrbullwinkle commented on #73973
adding @DavidZeLiang on the engineering team for any recommendations on troubleshooting this error with the sample code.

[2021-04-20 21:00] TheovanKraay commented on #74030
Tagging @timsander1 for comment and review.

I think the two paragraphs in question should be reversed and reworded as follows:

“Only the most recent change for a given item is included in the change log. Intermediate changes may not be available.

Each change included in the chang log appears exactly once in the change feed, and the clients must manage the checkpointing logic. If you want to avo

[2021-04-20 21:16] mcarey-admin commented on #8812
Still sucks

[2021-04-20 21:20] RonnieQuan opened #74090 "Associate Azure Load Balancer to Application Security Group"
Does Azure support associate load balancer to application security group?
We would like to reference ASG in NSG rule, instead of using the load balancer IP address directly.

Thank you!

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9094312b-daa3-640d-ce45-6505aeb6e276
* Version Independent ID: a

[2021-04-20 21:28] SubhashVasarapu-MSFT commented on #74090
@RonnieQuan, Thanks for reaching out. We will investigate and update this thread.

[2021-04-20 21:48] MicrosoftGuyJFlo commented on #73516
As designed. The Identity Protection policies are Conditional Access policies under the covers they can be enabled in Identity Protection or manually using the guidance in Conditional Access with more customization.

[2021-04-20 21:52] vhorne commented on #72827
@hamzajeljeli95
The **Managed rules** screenshot looks accurate to the current portal to me.

[2021-04-20 21:54] MicrosoftGuyJFlo commented on #74008
As designed. The Identity Protection policies are Conditional Access policies under the covers they can be enabled in Identity Protection or manually using the guidance in Conditional Access with more customization. Warning message is clear enough. Not adding more to the doc.

[2021-04-20 21:54] MicrosoftGuyJFlo commented on #74008
#please-close

[2021-04-20 21:54] #74008 closed

[2021-04-20 21:55] BharathNimmala-MSFT commented on #73843
@trenton-tamura It would really help if you could share the documentation link, so that we can help you accordingly. Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-04-20 21:55] #73843 closed

[2021-04-20 21:57] MicrosoftGuyJFlo commented on #73690
Covered in the [security defaults article](https://docs.microsoft.com/azure/active-directory/fundamentals/concept-fundamentals-security-defaults#blocking-legacy-authentication)

@DeanGross What else are you looking for specifically?

[2021-04-20 22:05] callit opened #74091 "Incorrect Sign On URL"
When using multi-provider SSO as directed in this document, the Sign On url should be in the form of:

https://<instance>.service-now.com/login_with_sso.do?glide_sso_id=<sys_id of the sso configuration>

If you use the URL that is currently in the documentation, the user will be directed to the ServiceNow login page instead of being automatically logged in.

The sys_id of the Identity provider can

[2021-04-20 22:10] JamesTran-MSFT commented on #74091
@callit
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-20 22:14] BharathNimmala-MSFT commented on #73707
@1RedOne Just to add further to the [documentation reference already shared earlier](https://docs.microsoft.com/en-us/azure/azure-monitor/logs/private-link-security), below are few items would like to share post my initial analysis.

Once you have[ automation account securely connected to Azure Private link ](https://docs.microsoft.com/en-us/azure/automation/how-to/private-link-security#hybrid-wor

[2021-04-20 22:14] #73707 closed

[2021-04-20 22:14] joakimhellum opened #74092 "Limit the amount of memory your Linux container can use"
Dear App Service team,

Can you please advise if it's currently possible to limit the maximum amount of memory a Linux container can use on App Service, either in single or multi-container configuration (which would modify the containers cgroup)? The docs describe how to set memory limit for Windows container, but not for Linux.

We are running memory intensive app using Linux container in App Ser

[2021-04-20 22:27] mrbullwinkle commented on #8812
@mcarey-admin thanks for reaching out. I am not on the Application Insights team anymore, but the closed issue auto-pings the previous owner. My understanding is the reason continuous export does not work with the latest features is that it has been deprecated:

![image](https://user-images.githubusercontent.com/31510320/115470597-93e8ab80-a204-11eb-997f-a3a28ece453f.png)

The replacement is the n

[2021-04-20 22:31] abdulrm opened #74093 "Request to add Zonal ARM template link to the document"
It will be really good and handy. If we can add the entire ARM template link or template in the document "instead of the sample part of the ARM"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d05795f9-5027-e37d-7862-29c72f5c4edb
* Version Independent ID: 7ccc48be-64dd-10ed-a0bf-e0c90db04bed
* Content: [Availability Zon

[2021-04-20 22:32] BharathNimmala-MSFT commented on #73856
@Pankajazlearn It would really help if you can share the documentation link you are referring so that we can direct you accordingly. Since we have not heard back from you we will now proceed to close this thread for now. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-04-20 22:32] #73856 closed

[2021-04-20 22:32] wmgries commented on #71822
I added a comment. This should go live tomorrow. #please-close

[2021-04-20 22:32] #71822 closed

[2021-04-20 22:32] DeanGross commented on #73690
I was thinking that Security Defaults provide another option to block legacy auth and that it should be mentioned in this article to remind people that they may not need to do anything

[2021-04-20 22:33] wmgries commented on #22816
We removed these instructions awhile ago and I guess we never circled back and closed this issue. #please-close

[2021-04-20 22:33] #22816 closed

[2021-04-20 22:40] NBroomfield opened #74094 "Conflict between public and private ingress"
When creating a private nginx ingress controller alongside a public one, which ever is created last seems to be the only one that works reliably, the other reports errors:

E0420 22:37:01.667729       8 reflector.go:138] k8s.io/client-go@v0.20.2/tools/cache/reflector.go:167: Failed to watch *v1.ConfigMap: failed to list *v1.ConfigMap: configmaps is forbidden: User "system:serviceaccount:ingress-ng

[2021-04-20 22:45] wmgries commented on #32605
The scenario here is using Azure File Sync to sync data between two different locations on the same server. This isn't something we support today, and have only sporadically been asked for it, so I'm not certain we will ever support this. I have updated the deployment guide to add a comment that this isn't supported. #please-close

[2021-04-20 22:45] #32605 closed

[2021-04-20 22:47] pmorch opened #74095 "Helm versions must be semver, unfortunately"
See [oci: reconsider to remove the restriction of image tag must match the chart version. · Issue #9378 · helm/helm](https://github.com/helm/helm/issues/9378)

image tag must match the chart version:

from: https://helm.sh/docs/topics/registries/

So while the example works, if you every want to use such a chart as a dependency in another chart (which you probably will, eventually), then that won'

[2021-04-20 22:51] wmgries commented on #41286
I think this doc has changed significantly between the time this issue was opened and now, so I apologize it has taken us a long time to address this issue. In general, you probably want to use AD DS, not Azure AD DS, with Azure Files. Azure AD DS is kind of a niche scenario where you don't have on-premises users that are trying to access the Azure file share.

With respect to AD DS, ACLs work the

[2021-04-20 22:51] #41286 closed

[2021-04-20 22:55] wmgries commented on #43666
Hi folks, awhile ago, we changed the macOS documentation to use the open command, which is seems to basically be a wrapper around Finder, rather than the mount_smbfs command, at the suggestion of the Apple SMB team. Unfortunately, our Portal documentation still uses the older command, but we are working to get this fixed.

I would suggest using the open command and inserting the storage account ke

[2021-04-20 22:55] #43666 closed

[2021-04-20 23:08] wmgries commented on #52315
Hi folks, this has been the case for quite awhile. The initial version of this guidance went out in October 2019, although it has been significantly improved and expanded since then.

Here are some of the current links for reference:

- https://docs.microsoft.com/en-us/azure/storage/files/storage-files-planning#networking
- https://docs.microsoft.com/en-us/azure/storage/files/storage-files-network

[2021-04-20 23:08] #52315 closed

[2021-04-20 23:11] wmgries commented on #53295
When traffic is coming outside of the Azure datacenter, we always mandate encryption using SMB 3.0+, including on macOS. An SMB client does not need to do both signing and encryption, and doing both can cause a performance overhead. Windows for example, does not sign when it encrypts.

I'm not sure if the macOS client still does both, but we removed this note based on Apple's request. The original

[2021-04-20 23:11] #53295 closed

[2021-04-20 23:14] mstehrani commented on #73955
Hi @VladislavKabachnyi, it looks like 't1' wasn't meant to be a CTE but actually just a reference to the #stats_ddl temporary table that was created in the stored proc. We've made the change in the code example and it will show in documentation by tomorrow.

[2021-04-20 23:24] mstehrani commented on #73955
#please-close

[2021-04-20 23:24] #73955 closed

[2021-04-20 23:42] wmgries commented on #67742
This actually does not require running from within an Azure VM. Today, Azure File Sync uses the management API for file shares ([ListShare](https://docs.microsoft.com/rest/api/storageservices/list-shares), etc.) rather than the Microsoft.Storage resource provider API, which means that when you restrict the public endpoint but fail to set up the networking/DNS, your browser won't be able to list th

[2021-04-20 23:42] #67742 closed

[2021-04-20 23:44] wmgries commented on #67987
I fixed this with an earlier commit - fix should be going out tomorrow. Thanks for bringing this to our attention. #please-close

[2021-04-20 23:44] #67987 closed

[2021-04-20 23:53] bacongobbler commented on #74095
Note that in the future, commands like `helm chart save` will be removed in favour of `helm package`. More information can be found in [HIP 6](https://github.com/helm/community/blob/main/hips/hip-0006.md).

[2021-04-20 23:57] BryanTrach-MSFT commented on #74063
@mrmyss2018 Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-20 23:59] BryanTrach-MSFT commented on #74065
@karthi-sn Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-21 00:01] BryanTrach-MSFT commented on #74067
@prvempat Our team is unable to update pictures. Since the feedback seems to include pictures that might be outdated, we have assigned your feedback directly to the author to have them review the feedback and take action as necessary.

[2021-04-21 00:02] gomker commented on #23558
I find it odd this issue is closed, this should stay open if the Azure Keyvault does not support Bag Attributes that are part of the PKCS #12 RFC or at least acknowlege that this is known bug.

[2021-04-21 00:14] BryanTrach-MSFT commented on #74069
@code4clouds Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-21 00:18] MarileeTurscak-MSFT commented on #73850
This functionality does not currently exist. The process of creating a tenant is somewhat complex and requires the acceptance of various agreements, so it can only be done through the portal.

If you would like for this functionality to be added, you can make a feature request in [User Voice](https://feedback.azure.com/). However, for the reasons mentioned above I think it is unlikely that this wi

[2021-04-21 00:18] #73850 closed

[2021-04-21 00:24] BryanTrach-MSFT commented on #74070
@willduarte Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-21 00:24] BharathNimmala-MSFT commented on #74089
@santhoshbomma9 Thank you for reaching out with your query, our team will review it and get back to you at the earliest.

[2021-04-21 00:26] BryanTrach-MSFT commented on #74071
@smcd253 Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-21 00:27] BryanTrach-MSFT commented on #74079
@scottjreece Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-21 00:28] BryanTrach-MSFT commented on #74081
@amymcel Hello Amy, good to hear from you.

I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-21 00:32] dlepow commented on #68226
The article is updated with a note about using the Azure CLI for registry login without passing credentials. I'll now proceed to close this issue. Thanks again for the feedback.
#please-close

[2021-04-21 00:32] #68226 closed

[2021-04-21 00:38] gomker commented on #23558
For anyone else finding this through searching it does appear the docs say explicity that the [PEM should be PKCS#8 encoded](https://docs.microsoft.com/en-us/azure/key-vault/certificates/certificate-scenarios#formats-of-import-we-support)

To further @msfcolombo 's answer (for those who need to use an existing certificate) the following should work

[code]

[2021-04-21 00:39] dlepow commented on #71439
@tdihp - Apologies for slow response. If I understand your question, I think you can simplify configuration by enabling the registry's [dedicated data endpoint](https://docs.microsoft.com/azure/container-registry/container-registry-firewall-access-rules#enable-dedicated-data-endpoints). Using this endpoint doesn't require you to set up any explicit policies or rules to access blob storage, and sho

[2021-04-21 00:43] wmgries commented on #68514
I added a note in the doc. This limitation will be going away when large file share support comes for GRS file shares. #please-close

[2021-04-21 00:44] #68514 closed

[2021-04-21 00:44] leifbro commented on #73823
Merged to master in Databricks source repo; should deploy to Microsoft docs within 12 hours

[2021-04-21 01:00] xps233 commented on #73800
Hi @SumanthMarigowda , thanks for taking notice on this.

Previous then I've got tried on this, obviously this gonna not work:
![ppp66](https://user-images.githubusercontent.com/74043506/115481768-e74c0f80-a27f-11eb-9619-f674ec4c12bc.PNG)

Could you get suggested on this? Thanks for checking.

Also please re-open this issue...

[2021-04-21 01:35] mrutherford2 commented on #51639
I'm deploying my Vue app via Azure Dev Ops to an Azure App Service running Linux and adding this start up command fixed my issue immediately. Thanks so much for sharing this, I've been struggling to get it to show anything other than the standard welcome page for a day now. I haven't seen this mentioned anywhere in MSFT docs so it should probably be referenced in some of the documentation surround

[2021-04-21 01:38] Uggi opened #74097 "Luis Prediction Endpoint Now Supports Bing Spell Check"
According to  [What's New - Jan 2021](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/whats-new), "The V3 prediction API now supports the Bing Spellcheck API."

However this page still explicitly states Bing Spell check is not Supported:

### Not supported
**Bing Spell Check**
_This API is not supported in V3 prediction endpoint - continue to use V2 API prediction endpoint for spell

[2021-04-21 01:50] tdihp commented on #71439
Thanks for the reply @dlepow. I do understand dedicated data endpoint behaves differently.

The goal of this issue is on clarify how [service endpoint polices](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-service-endpoint-policies-overview) will behave in combination with direct blob access of ACR and service endpoint, instead of a workaround as suggested. As blob storage

[2021-04-21 01:54] mike-urnun-msft commented on #73613
Hello @sijucm - Thank you for sharing your feedback!

Yes, the default is AMQP 5671 port but please note that you provide a Service Bus ConnectionString (which can be customized at your end) to the binding configuration which then gets passed into the runtime and used as-is for establishing connectivity. Azure Functions' language extensibility model relies on gRPC for communication between differe

[2021-04-21 02:20] timurabdurafeev opened #74098 "there is no need to update .env file with a registry credentials"
looks like Azure IoT Edge extension already doing this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4cdb69f-46f8-26c2-0518-b3816ed287ec
* Version Independent ID: fd679e7b-0da6-0d67-9ed5-ce4b19636f6e
* Content: [Tutorial - Develop module for Linux devices using Azure IoT Edge](https://docs.microsoft.com/en-us/azure/

[2021-04-21 02:25] ryancrawcour opened #74099 "preserve is missing on Copy Activity Settings page"
[Enter feedback here]
the document says in order to preserve the metadata when using the Copy activity you should set this under Settings.
when i go to settings for my Copy activity i do not see "Preserve"

![image](https://user-images.githubusercontent.com/38923605/115487714-59871900-a2ad-11eb-803e-104ed48b481f.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2021-04-21 02:27] stevevi commented on #73917
Thanks @ryanhofdotgov for bringing this issue to my attention.  I updated the article to remove private endpoint limitations given that the feature is available for Azure Database for PostgreSQL as you indicated.  The update should be live tomorrow.  However, based on product team's input, Advanced Threat Protection is still not available for Azure Database for PostgreSQL in Azure Government.  For

[2021-04-21 03:13] CHEEKATLAPRADEEP-MSFT commented on #74099
@ryancrawcour When you copy files as-is from Amazon S3/Azure Data Lake Storage Gen2/Azure Blob/Azure File Storage to Azure Data Lake Storage Gen2/Azure Blob/Azure File Storage with **binary format**, you can **find the Preserve option** on the Copy Activity > Settings tab for activity authoring or the Settings page in Copy Data Tool.

![ADF-Preserve](https://user-images.githubusercontent.com/79183

[2021-04-21 03:34] lgayhardt commented on #73811
Search is now "Transaction Search".  I made an [internal work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1837118) to update the doc and screenshots to reflect the name change.

Thank you.
#please-close

[2021-04-21 03:34] #73811 closed

[2021-04-21 03:59] ram-msft commented on #73948
@wangzheng0310 Thanks, Please follow the [doc ](https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-setup-vscode-extension)to Set up Azure Machine Learning Visual Studio Code extension. You can also use the exit command from the terminal. Can you please add more details about the document that you are trying.

Please follow the doc for [Compute instance](https://docs.microsoft.com/en-

[2021-04-21 04:08] AshokPeddakotla-MSFT commented on #74098
@timurabdurafeev Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-04-21 04:21] leroydsouzapact opened #74100 "Missing product M365_SECURITY_COMPLIANCE_FOR_FLW"
Missing the product details for SKU M365_SECURITY_COMPLIANCE_FOR_FLW

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [Product names and service plan identifiers for licensing - Azure AD](https://docs.microsoft.

[2021-04-21 04:24] ram-msft commented on #73972
@hylinux Thanks, Can you please add more details about the document that you are trying and add more details about the context menu that you are trying.

[2021-04-21 04:27] AnuragSharma-MSFT commented on #73849
@gjmoyer We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-04-21 04:28] #73849 closed

[2021-04-21 04:30] ram-msft commented on #74087
@crisansou Thanks for the question. We are investigating the issue and will update you shortly.

[2021-04-21 04:49] CHEEKATLAPRADEEP-MSFT commented on #73875
@arun-varma-dasari You don't need a VM to be created to send logs from ADF to Log Analytics.

Make sure you have followed the document correctly and once it configured make sure to wait for 15 minutes might elapse between when an event is emitted and when it appears in Log Analytics.

If you are still facing the issue,  I would recommend you to create a thread on the forums - [Microsoft Q&A](https

[2021-04-21 04:49] #73875 closed

[2021-04-21 04:59] SwathiDhanwada-MSFT commented on #73836
@DaveZimmermann Yes. You are right.

[2021-04-21 05:16] KranthiPakala-MSFT commented on #73823
@leifbro Thanks for the update @leifbro .

[2021-04-21 05:18] priyankareddy20 commented on #73516
Hello John,

Unfortunately I did not understand.
In my previous email I have explained the scenario from my tenant.

Regards
Priyanka

On Tue, Apr 20, 2021, 11:49 PM John Flores ***@***.***> wrote:

[2021-04-21 05:19] KranthiPakala-MSFT commented on #73823
@abij Thanks for the feedback and helping us to improve the doc content. The doc links have been fixed and they are live now.

We will now proceed to close this issue. Please do let us know if you have further query.

Thank you

[2021-04-21 05:19] #73823 closed

[2021-04-21 05:21] wangzheng0310 commented on #73948
Thanks @ram-msft, but I guess we are not referring to the same thing.

I connected to the compute instance from VS Code following this https://docs.microsoft.com/en-us/azure/machine-learning/how-to-set-up-vs-code-remote?tabs=studio

As you can see from the bottom left of the screenshot, VS Code directly connected to the remote compute instance, in a similar way that we SSH to a remote server. The

[2021-04-21 05:27] psmanhas commented on #74095
@pmorch Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-04-21 05:27] psmanhas commented on #74095
@dlepow Can you please check and add your comments on this doc update request as applicable

[2021-04-21 05:29] psmanhas commented on #74094
@NBroomfield Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-04-21 05:32] KranthiPakala-MSFT commented on #74058
@jaseidman  - Thanks much for the quick fix :)

@teodor-kostadinov - Appreciate much for your feedback and helping us to improve the doc content.
The reported issue has been fixed and the changes are live.

We will now proceed to close this issue based on this update. Feel free to comment if you have any further query.

Thank you

[2021-04-21 05:32] #74058 closed

[2021-04-21 05:37] SnehaAgrawal-MSFT commented on #74092
@joakimhellum Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-21 05:38] SnehaAgrawal-MSFT commented on #74093
@abdulrm Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-21 05:43] DaveZimmermann commented on #73836
thanks a lot for your answer and your great support! We can close it then here.

[2021-04-21 05:43] #73836 closed

[2021-04-21 06:02] SubhashVasarapu-MSFT commented on #73903
@mikeatandersen, We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-04-21 06:02] #73903 closed

[2021-04-21 06:08] AnuragSharma-MSFT commented on #73979
@yahorsi Could you please check the same document in below section:

[Connecting using Managed Identity in C#](https://docs.microsoft.com/en-us/azure/mysql/howto-connect-with-managed-identity#connecting-using-managed-identity-in-c)

[2021-04-21 06:14] AnuragSharma-MSFT commented on #73983
@surendramaran Thanks for the patience. There is one dedicated article on connecting and querying Azure MySQL using Node.js.

[Quickstart: Use Node.js to connect and query data in Azure Database for MySQL](https://docs.microsoft.com/en-us/azure/mysql/connect-nodejs)

Please let us know if this helps.

[2021-04-21 06:19] erzaliator opened #74102 "No documentation on HOW to create linked services"
There are no examples on step-by-step creation of linked services. Even a single example a some type would be helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70754c7c-a557-5683-bb58-b2fd0409e09f
* Version Independent ID: e91ceff6-8314-c9af-973c-d434c178fc0c
* Content: [Linked services in Azure Data Factory - Az

[2021-04-21 06:23] RohitMungi-MSFT commented on #74097
@Uggi Thanks for spotting this. We will verify the support for Bing Spell check API and update the document accordingly. Thanks.

[2021-04-21 06:26] CHEEKATLAPRADEEP-MSFT commented on #74102
@erzaliator You may checkout this article which explains how to [Create a linked service](https://docs.microsoft.com/en-us/azure/data-factory/quickstart-create-data-factory-portal#create-a-linked-service) in Azure Data Factory.

Hope this helps.

[2021-04-21 06:32] BharathNimmala-MSFT commented on #73853
@omerzubair Thanks again for reaching out to us with your query, just to keep you informed the Managed Identity Preview Feature  is rolled out to all Public regions.

Able to see Identity blade for both Au Central and Au Central 2 regions

![image](https://user-images.githubusercontent.com/45180002/115506753-189cef00-a230-11eb-9a99-5abe48974f8d.png)

![image](https://user-images.githubusercontent.

[2021-04-21 06:39] SnehaAgrawal-MSFT commented on #73648
@robgale-FJ Thanks again for the feedback! The PR has been created for this, will merge once verified.
Will now move to close this issue if you have any further query on this please let us know.

[2021-04-21 06:39] #73648 closed

[2021-04-21 06:47] erzaliator commented on #74102
Awesome! Maybe we can include an example like [Create a linked service](https://docs.microsoft.com/en-us/azure/data-factory/quickstart-create-data-factory-portal#create-a-linked-service) in this page as well.

[2021-04-21 06:58] #73369 closed

[2021-04-21 06:59] JasonWHowell commented on #73369
@tejinderrai
We have updated the docs, and they should publish overnight. Thanks for raising this point! ~Jason

[2021-04-21 07:01] tejinderrai commented on #73369
Thank you, that's very much appreciated.
Tejinder

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Jason Howell ***@***.***>
Sent: Wednesday, 21 April 2021, 07:59
To: MicrosoftDocs/azure-docs
Cc: tejinderrai; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Azure Storage: "Only block blobs are currently supported." (#73369)

@tejinderrai<https://github.com/te

[2021-04-21 07:15] yahorsi commented on #73979
It does not use Azure SDK to obtain AD token

[2021-04-21 07:36] jixin85 opened #74104 "Azure files reserved capacity is not available on pricing page, or price caculator"
[Enter feedback here]

Hi,

As of 21th Apr, Azure files reserved capacity feature mentioned on this page is not reflected on Azure files pricing page, or Azure price calculator

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfc547fe-4f9d-fee8-6ba7-7d63b9a30f65
* Version Independent ID: 14745939-7ec7-eed5-5db6-b5aa82c8d

[2021-04-21 07:40] G3Kaliaperumal commented on #8423
I am facing the same issue. If this is resolved, pls let me know the steps.

[2021-04-21 07:49] hudabne opened #74105 "incorrect powershell script for unassigning user"
The powershell command below is incorrect:
#To remove the App role assignment run the following command.
Remove-AzureADServiceAppRoleAssignment -ObjectId $spo.ObjectId -AppRoleAssignmentId $assignments[assignment #].ObjectId

Below is the correct command
Remove-AzureADServiceAppRoleAssignment -ObjectId $spo.ObjectId -AppRoleAssignmentId $assignments.ObjectId

---
#### Document Details

⚠ *Do not e

[2021-04-21 08:01] richardhauer commented on #37952
Even though this is closed, in v3 and vs2019, 2 years on this is still a problem 😢

[2021-04-21 08:06] AnuragSharma-MSFT commented on #73979
@yahorsi Please try the code mentioned in below article. It is using AzureServiceTokenProvider class to obtain access token:

[How to connect to Azure Database for MySQL using Managed Identity of Function App](https://techcommunity.microsoft.com/t5/azure-database-for-mysql/how-to-connect-to-azure-database-for-mysql-using-managed/ba-p/1518196)

[2021-04-21 08:21] o-l-a-v opened #74106 "Why the use of "Any" tag for source and destination in example NSG?"
Given following documentation:

https://docs.microsoft.com/en-us/azure/bastion/bastion-nsg#apply

Are there any specific reasons to why you use "Any" as destination for most inbound rules, and as source for most outbound rules in this recommended NSG for Bastion? Vs. using "VirtualNetwork" tag, which I guess would be sufficient?

If there's a specific reason for it, it would be nice if the documen

[2021-04-21 08:38] ant0nsc opened #74107 "DataFactor QuickStart Python page is not up-to-date with latest authentication libraries"
The example no longer works as printed here. When running as-is, it will fail when accessing Azure resource for the first time with `AttributeError: 'ClientSecretCredential' object has no attribute 'signed_session'`.

Root cause is given here: https://github.com/Azure/azure-sdk-for-python/issues/16520

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-04-21 08:43] Ben-m-s opened #74108 "Authenticator app not working as broker app for Teams on Android"
In the section "[Require approved client app](https://docs.microsoft.com/en-gb/azure/active-directory/conditional-access/concept-conditional-access-grant#require-approved-client-app)", it is stated that the Microsoft Authenticator app can act as a broker on Android devices for the approved client apps, among which Microsoft Teams is included. However, we have confirmed that Microsoft Teams on an A

[2021-04-21 08:48] LyleXu opened #74109 "I got the error "failed to downlaod package" according to this page"
Hi There,

I'm using Visual Studio 2019 (16.9.4)
After deploy the ASP.NET core web applicatoin, I got the error as below.
The package.zip has been uploaded to the blob, but looks like it cannot download the package.zip from the blob.
Any idea that I can resolve this error?

-------------------------------------------------------------------------------------------------------------------------
16:

[2021-04-21 08:48] scubaninja commented on #69996
Hello @Anand-Moghe ! Could you please help us by providing some further details?
In regards to deploying from Azure DevOps Repos, that functionality is currently there. When creating the static web app, ensure you select 'other' repository. We've published some documentation here: https://docs.microsoft.com/en-us/azure/static-web-apps/publish-devops

Would appreciate some feedback if you feel ther

[2021-04-21 09:00] w0ut0 opened #74110 "What type of Azure Functions are supported? What bindings?"
On this page we only see an example of a C# function. Are other functions also supported (Python, Nodejs, Java,..)?
What bindings can be used? Can we use bindings to storage and event grid on IoT edge?

Thanks for the clarification.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7852968-3c54-5584-df91-b01521efae43
* V

[2021-04-21 09:07] GitaraniSharma-MSFT commented on #74019
@RonnieQuan , I have reached out to the ExpressRoute PG team to get information on this feature, since last I heard such a feature was in pipeline but not sure if it is in preview yet. Will update the thread as soon as I get an update from the team.

[2021-04-21 09:08] yahorsi commented on #73979
I saw this sample, and this is the only sample that using AzureServiceTokenProvider.
What confuses me is that this is not official documentation but a blog article.

[2021-04-21 09:11] shashishailaj commented on #74104
@jixin85 Thank you for your feedback . We will investigate and update the thread.

[2021-04-21 09:12] shashishailaj commented on #74100
@leroydsouzapact Thank you for your feedback . We will investigate and update the thread.

[2021-04-21 09:13] shashishailaj commented on #74108
@Ben-m-s Thank you for your feedback . We will investigate and update the thread.

[2021-04-21 09:14] shashishailaj commented on #74105
@hudabne Thank you for your feedback . We will investigate and update the thread.

[2021-04-21 09:37] EricHindrichsen opened #74111 "Link to Billing Model page missing"
Hi,

the sentence _For more information, see Billing model for Azure AD External Identities._ feels like it should have pointed to a doc page, but it doesn't.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a8a3416-ca49-e148-89ec-aa004914eaa5
* Version Independent ID: 6e6831f4-40ed-4058-5a6f-56cd3900460a
* Content: [Wh

[2021-04-21 09:40] hiyosh-msft opened #74112 "H.265 for Pass Through is not supported with RTMP"
[Enter feedback here]
"Supported Input Codecs" for Pass Through states that H.264 and H.265 are supported.
However, H.265 is not supported for RTMP (only Smooth), so documentation should state this more clearly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90e8c074-b714-d7ca-00f3-595fab2d5cc1
* Version Independent ID

[2021-04-21 09:57] CHEEKATLAPRADEEP-MSFT commented on #74107
@ant0nsc  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-04-21 10:18] psmanhas commented on #71418
@ddobric We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-04-21 10:18] #71418 closed

[2021-04-21 10:19] psmanhas commented on #71812
@larryclaman Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-04-21 10:19] psmanhas commented on #71812
@mlearned Can you please check and add your comments on this doc update request as applicable

[2021-04-21 10:25] psmanhas commented on #73820
@the-grayest The doc has been updated.

Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-04-21 10:25] #73820 closed

[2021-04-21 10:26] psmanhas commented on #73940
@zr-msft Can you please check and add your comments on this doc update request as applicable

[2021-04-21 10:28] GitaraniSharma-MSFT commented on #74106
@o-l-a-v , thank you for your feedback. We'll review this and get back to you shortly!

[2021-04-21 11:07] ragazzojp opened #74114 "Any other headers added by Microsoft CDN?"
Does the Azure CDN Microsoft profile add any other headers when connecting to the origin? Any `X-Forwarded-For` or similar? In case, please describe it in this page.

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7a58401-81ed-f661-1c77-d8a15ad89bfe
* Version Independent ID: 48aeffc9-01fe-8b06-c589-02218d01

[2021-04-21 11:08] FallenHoot opened #74115 "Updating WVD documentation with Mac Beta Client"
This section needs to also talk about the [Mac Beta Client](https://docs.microsoft.com/en-us/windows-server/remote/remote-desktop-services/clients/remote-desktop-mac#what-about-the-mac-beta-client)

Wouldn't hurt to talk about [What is New with MacOS client](https://docs.microsoft.com/en-us/windows-server/remote/remote-desktop-services/clients/remote-desktop-mac#what-about-the-mac-beta-client)

--

[2021-04-21 11:18] SubhashVasarapu-MSFT commented on #74083
@RonnieQuan, I see it is possible with PS.
![image](https://user-images.githubusercontent.com/44890829/115545191-251d5800-a2c1-11eb-89f5-5ef9e9169e36.png)

![image](https://user-images.githubusercontent.com/44890829/115545237-32d2dd80-a2c1-11eb-8286-ae137e8659bd.png)

![image](https://user-images.githubusercontent.com/44890829/115545296-454d1700-a2c1-11eb-81ab-c098faf5c912.png)

Hope this helps!

[2021-04-21 11:31] slbentley commented on #16407
@amitsriva Any update on this?

[2021-04-21 11:31] tomaszkuciaba opened #74116 "The configuration of the listener via Failover Cluster will fail"
The configuration of the VNN listener via Failover Cluster Manager will fail, AD Object will not be created, and all subsequent steps will fail.

Windows Server 2019 Datacentre (Azure VM)
SQL 2019 Standard

My workaround.
Open SSMS
Navigate to AG, expand the node with AG listener, create listener add port and static IP.
At this point, AD Object will be created.
Go back to Failover Cluster Manager,

[2021-04-21 11:33] yoelhor commented on #74046
Thanks for the feedback, and thanks @amanmcse for the clarification. I'm updating the document now.

[2021-04-21 11:47] yoelhor commented on #74024
Hi @las3r,

There is no a migration path from user flows to custom policies. Yes, you do need to start from scratch. Please follow the steps below:

1. [Prepare your environment](https://aka.ms/ief). Tip use the [IEF Setup App](https://aka.ms/iefsetup) to deploy the necessary components.
2. Then add the [REST API to your policy](https://docs.microsoft.com/azure/active-directory-b2c/custom-policy-r

[2021-04-21 11:49] #74046 closed

[2021-04-21 11:51] yoelhor commented on #73966
Will be fixed with the #151689 PR.

#please-close

[2021-04-21 11:51] #73966 closed

[2021-04-21 12:02] cephalin commented on #55533
Fixed by https://github.com/MicrosoftDocs/azure-docs/pull/73863. #please-close

[2021-04-21 12:02] #55533 closed

[2021-04-21 12:10] cephalin commented on #73397
@emayljames Please take a look at this article for general PHP help: https://docs.microsoft.com/en-us/azure/app-service/configure-language-php?pivots=platform-linux

The tutorial is not general purpose and was indeed more explicit previously about Laravel being just an example. We can add that verbiage back in.

[2021-04-21 12:10] cephalin commented on #73397
#please-close

[2021-04-21 12:10] #73397 closed

[2021-04-21 12:13] cephalin commented on #73558
@ankitvijay Thanks for the PR. I've approved it. #please-close

[2021-04-21 12:13] #73558 closed

[2021-04-21 12:28] AshokPeddakotla-MSFT commented on #74110
@w0ut0  Thanks for the feedback! I have assigned the issue to the content author @kgremban  to evaluate and update as appropriate.
@kgremban please provide further updates if samples are available with other SDKs.

[2021-04-21 12:28] #74070 closed

[2021-04-21 12:37] RonnieQuan commented on #74083
Yes, you are right, it's possible, just need one example code.
After spend hours to try and also search, this example code works https://github.com/Azure/azure-powershell/issues/11131

I suggest to add the example to Azure doc.

Thanks!

[2021-04-21 12:41] fvenezia opened #74120 "The command AzADDomainServiceReplicaSetObject is not recognized"
The provided scripts in the page references an AzADDomainServiceReplicaSetObject  command wich is oboslete, I used AzADDomainServiceReplicaSet instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c701f84-d6a8-b5aa-dad7-4c38b7749670
* Version Independent ID: 207343c0-a46d-d277-c900-879d1065f25e
* Content: [Enable Az

[2021-04-21 12:44] Jonatan-V commented on #64660
I think this is currently a general limitation of app service (and function apps and aci), and is what they are trying to explain in the Note in this [doc](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-authentication-managed-identity).

I have tried using msi with partial success myself. If you change a running app service to use msi with acr it will continue to work

[2021-04-21 12:45] RonnieQuan commented on #74019
@GitaraniSharma-MSFT  Thank you for the prompt response.

Just to clarify, we do not use any Azure out of box hub, spoke or virtual WAN, we created our own hub vnet and spoke vnet.

[2021-04-21 12:58] yoelhor commented on #73471
Dear @danlopez,

I have added a  [readme file](https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/tree/master/SocialAndLocalAccountsWithMfa) to the _SocialAndLocalAccountsWithMfa_ starter pack. You can also compare the base file of the _SocialAndLocalAccounts_ and _SocialAndLocalAccountsWithMfa_ and add the missing  elements.

#please-close

Yoel

[2021-04-21 12:58] #73471 closed

[2021-04-21 12:58] faizankhan1995 opened #74121 "Where is the API Documentation ?"
Do we have a proper API documentation (Swagger or similar) for long Audio API ?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a0f7a9a-7459-927f-743f-7fe8f649b85e
* Version Independent ID: 7a99ae60-b57d-9770-3602-d993fa156db9
* Content: [Long Audio API - Speech service - Azure Cognitive Services]

[2021-04-21 13:19] rharper82 opened #74122 "Required URLs for Government"
Hi there! Please include the required URLs for government customers, or link to a page with this information available.

I believe this is the correct list.

www.msftncsi.com
*.Microsoft.com
*.WindowsAzure.us
*.microsoftonline.us
*.windows.net
*.usgovcloudapi.net

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b566a3bb-

[2021-04-21 13:22] sawchengling66 opened #74123 "AKS Start/Stop Cluster is GA?"
Can't find corresponding GA announcement to this: https://azure.microsoft.com/en-us/updates/public-preview-aks-startstop-cluster-feature/, so is start/stop feature no longer subjected to preview terms?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f07b13b8-6b8b-57f9-7fb3-361329af08be
* Version Independent ID: d3c6ae95

[2021-04-21 13:26] kiranpradeep opened #74125 "Volume mount createOptions is not documented"
In section _Deploy from Visual Studio Code_ [[link](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-deploy-blob?view=iotedge-2020-11#deploy-from-visual-studio-code)], step 6, asks to use either of volume or bind mounts. For bind mount, Step 3b has correctly provided `createOptions` value as screenshot.

But for volume mount, there are no references. Volume mounts will not be precreated auto

[2021-04-21 13:30] judedaryl commented on #56907
@JasSuri

We also have this issue with **autofill** not working from an iPhone. Looked up the generated js injected by b2c into the DOM and it was listening only to ``keyup`` and ``paste``.

Autofill is a mixture of keydown + input + keyup + change event multiplied by the number of characters in the verification code. But strangely enough it does not trigger the verification code submission, takin

[2021-04-21 13:36] jsandersrocks opened #74126 "How does this relate to the master list?"
https://www.microsoft.com/en-us/download/confirmation.aspx?id=56519  parsing down to Service Management Addresses we see additional IPs (ranges) listed.  How does this relate to the list here?  Had a customer case due to this - jsanders.  My 'guess' is that this is specific to ASE but we really don't spell this out anywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2021-04-21 13:38] ssivas commented on #74111
@EricHindrichsen ,  Thanks for reaching out , I just created pull request to update Doc with [Billing model for [Azure AD External Identities](https://docs.microsoft.com/en-us/azure/active-directory/external-identities/external-identities-pricing). Kindly allow sometime to reflect same changes public article. Once again thank you for bringing this to our attention.

#please-close

[2021-04-21 13:38] #74111 closed

[2021-04-21 13:43] gomateus opened #74127 "Note misleading"
[Enter feedback here]

Hi team,

On this documentation: https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-partitioning

The first note says: "Partitioning is available at entity creation for all queues and topics in Basic or Standard SKUs. It is not available for the Premium messaging SKU, but any previously existing partitioned entities in Premium namespaces continue to wor

[2021-04-21 13:49] lbabay opened #74128 "NPS extension for azure MFA licensing"
I have seen a few previous posts for this, and I may be reading it wrong, but it seems to be contradictory.

I am looking to use the NPS extensions for azure MFA integration with on premise NPS server. I have been trying to use the SAML anyconnect integration with a cisco ASA but have not gotten that to work. I have read on the previous posts that you can use the NPS extension if you have the azur

[2021-04-21 13:58] psmanhas commented on #74123
@sawchengling66 Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-04-21 13:58] JasSuri commented on #56907
It should be fixed with the latest page layout
https://docs.microsoft.com/en-us/azure/active-directory-b2c/page-layout#mfa-page-multifactor

[2021-04-21 13:59] psmanhas commented on #74115
@FallenHoot Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-04-21 13:59] psmanhas commented on #74115
@Heidilohr Can you please check and add your comments on this doc update request as applicable

[2021-04-21 14:02] psmanhas commented on #74116
@tomaszkuciaba Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-04-21 14:03] KrishnaG-MSFT commented on #74109
@LyleXu Thanks for your comment! We will review and provide an update as appropriate.

[2021-04-21 14:04] KrishnaG-MSFT commented on #74122
@rharper82 Thanks for the feedback.
Assigning @v-amallick for visibility, review and document enhancement consideration as appropriate.

[2021-04-21 14:12] Herman5006 opened #74129 "some questions for nat gateway"
[Enter feedback here]
In the public document of NAT gateway:
https://docs.microsoft.com/en-us/azure/virtual-network/nat-gateway-resource#availability-zones

it mentions "A zonal promise does't exist when a) the zone of a virtual machine instance and the zone of a zonal NAT gateway are not aligned, or b) a regional NAT gateway resource is used with zonal virtual machine instances."

what does the z

[2021-04-21 14:14] yoelhor commented on #74084
Thanks for the feedback. When clicking on create new app, this is the what is see. Can you share your screen.

![image](https://user-images.githubusercontent.com/20111866/115568366-e38eac00-a2c4-11eb-97b0-f038931e12e1.png)

The rest of the issues, I'm fixing.

[2021-04-21 14:16] GitaraniSharma-MSFT commented on #74106
@o-l-a-v , I tested this in my lab and tried to attach a NSG to my BastionSubnet with inbound & outbound rules where "Any" was replaced with "Virtual Network" but it failed with below error:
![image](https://user-images.githubusercontent.com/67630903/115568477-f364bb00-a2d9-11eb-9566-f83fdd29bbf0.png)

It looks like a design limitation to me but I have reached out to the Bastion PG to get more det

[2021-04-21 14:16] ToruMakabe opened #74130 "Definition of Severity"
Let me know the definition of "Severity' such as high/medium. Is this related to the CVSS score? Or is it Azure Security Center's own standard? I cannot find the definition on Azure docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29434ef1-ac47-9226-c97a-b3ebd76438b1
* Version Independent ID: d7ca7e00-09b4-819d-2e8

[2021-04-21 14:23] waynestevensinsight commented on #74084
Interesting, I see some different options:

![image](https://user-images.githubusercontent.com/74793004/115569638-6c88f180-a28b-11eb-8a92-f7a3d75ba6ba.png)

[2021-04-21 14:32] GitaraniSharma-MSFT commented on #74114
@ragazzojp , thank you for your feedback. We'll review this and get back to you shortly!

[2021-04-21 14:36] Hmr-ramzi opened #74131 "After start and stop, AKS takes the long time to pull all images again."
After start and stop, AKS takes the long time to pull all images again.

# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback li

[2021-04-21 14:36] #74131 closed

[2021-04-21 14:39] judedaryl commented on #56907
@JasSuri oh! Awesome, let me test that out.

[2021-04-21 14:42] maxkudosh opened #74132 "'Using a webhook to start a Python runbook is not supported.' note seems obsolete"
'Using a webhook to start a Python runbook is not supported.' note on this page is probably obsolete. There is no such limitation mentioned on[ runbook types page](https://docs.microsoft.com/en-us/azure/automation/automation-runbook-types#python-runbooks).
And it is possible to add webhooks to Python 2 runhook at Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2021-04-21 14:45] YutongTie-MSFT commented on #74121
@faizankhan1995 Hello, could you please check if this is what you want? Thanks. https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/rest-text-to-speech#long-audio-api

[2021-04-21 14:48] faizankhan1995 commented on #74121
@YutongTie-MSFT Is this same for Long Form Documents ? Where the audio produced from text will be much more than 10 minutes ?

[2021-04-21 14:48] ropstah commented on #56270
Make that "at least 4"

[2021-04-21 14:49] ABerTSC commented on #48159
@MarileeTurscak-MSFT Is there a way with this powershell script to also get the default access role i need "every" user who is assigned to a app?

[2021-04-21 14:50] AnuragSharma-MSFT commented on #73979
@yahorsi Thanks for the reply and your valuable inputs. Yes you are right this is not an official documentation. Actually the docs mainly contain of very basic scenarios of implementation and then the other implementations are open to explore for the community. Microsoft Employees and Community members keep on contributing to Git repository or different blogs and this is one among those blobs.

Ag

[2021-04-21 14:50] MGoedtel commented on #73816
@thepaulmacca - If you don't see the function, this is typically because you have selected the option - Manage Machines\Enable on all available and future machines in the Automation account that Update Management feature is enabled in. If Manage Machines option is greyed out, then this validates this option has been selected. With that configuration scenario, the function isn't created for manual

[2021-04-21 14:50] #73816 closed

[2021-04-21 14:52] psmanhas commented on #73672
@Andytrop Apologies for the delay in response and all the inconvenience caused because of the issue.

I followed the article step by step and was successfully able to retrieve logs using the mentioned command:

![image](https://user-images.githubusercontent.com/35990743/115573865-be0e9c00-a2de-11eb-97e1-ac58f0ad1fab.png)

Also I was able to successfully able to access application as well:

![image

[2021-04-21 14:56] yahorsi commented on #73979
I would say as this is an officially supported feature it requires official doc and sample as it's done e.g. for Azure SQL. The problem of the blog posts is that in time they become deprecated while official docs are usually updated and kept up to date

[2021-04-21 15:05] AnuragSharma-MSFT commented on #74032
@loudywen, GitHus is primarily for any document issue or queries. For technical queries related to implementation, I would suggest you to log an issue on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/questions/ask.html) forum or [Stack Overflow](https://stackoverflow.com/questions/ask). Doing this on the forums allows us to help out other people who may have the same questions as you.

[2021-04-21 15:05] #74032 closed

[2021-04-21 15:06] JasSuri commented on #56907
;) and your analysis was spot on.

[2021-04-21 15:07] whomanGHA opened #74134 "Slot Limits missing for Function specific SKUs"
There is a Staging Slots per app entry under App Service limits but not the Function section.  So the limits for Function specific SKUs (Consumption/Elastic Premium) are not listed.  These are quite low and should be called out here.  Should be in the duplicate table here as well - https://docs.microsoft.com/en-gb/azure/azure-functions/functions-scale.

---
#### Document details

⚠ *Do not edit th

[2021-04-21 15:08] SnehaAgrawal-MSFT commented on #74112
@hiyosh-msft Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-21 15:13] NBroomfield commented on #74094
@psmanhas Thanks, I've done a bit more digging and same across this stack overflow article which mentions the same errors I'm seeing:

https://stackoverflow.com/questions/64032639/how-to-update-nginx-ingress-controller-so-that-latest-ingress-paths-are-used

I've run the following command:

kubectl create clusterrolebinding cluster-admin-binding --clusterrole=cluster-admin --serviceaccount=ingress-

[2021-04-21 15:17] mikenri opened #74135 "Ports are not supported for service endpoints"
The ports mentioned on this page do not work for deployments where a service endpoint is used on a subnet within an Azure vNET.

Azure support has confirmed that this is not supported for service endpoints, this should be added to the documentation.

Are there any plans to support this on service endpoints?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2021-04-21 15:22] AnuragSharma-MSFT commented on #73979
@yahorsi Yes sure. This is being assigned to the content author to evaluate and update as appropriate.

[2021-04-21 15:27] psmanhas commented on #74094
@NBroomfield Thank you for sharing out the information and really glad that your issue is resolved . I have shared your feedback with our internal team so they can look into issue and make changes as per the requirement.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

Thanks

[2021-04-21 15:27] #74094 closed

[2021-04-21 15:36] roygara commented on #73016
#assign:yuemlu

[2021-04-21 15:37] roygara commented on #73040
#assign:wmgries

[2021-04-21 15:37] KenBenjamin opened #74137 "Improper path specified"
In the section "Password hash synchronization and FIPS", `Go to %programfiles%\Azure AD Sync\Bin.` should read `Go to %programfiles%\Microsoft Azure AD Sync\Bin`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c900f942-4456-5238-9f4c-a7a5bd685c04
* Version Independent ID: a5d7d971-765f-0977-f531-232ea5924121
* Content:

[2021-04-21 15:38] roygara commented on #72871
#assign:yuemlu

[2021-04-21 15:38] roygara commented on #72859
#assign:wmgries

[2021-04-21 15:38] miiitch opened #74138 "privatelink.vault.azure.net is maybe missing"
Hi,

I think that the private dns zone privatelink.vault.azure.net is missing for Keyvault.

Regards
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a88af182-32aa-a8f3-359d-b92ae1cfb8c7
* Version Independent ID: 01ce07fc-4bc2-def5-9ecd-a80330ad9488
* Content: [Azure Private Endpoint DNS configuration](https://docs.micros

[2021-04-21 15:39] roygara commented on #70159
#assign:yuemlu

[2021-04-21 15:39] roygara commented on #66817
#assign:yuemlu

[2021-04-21 15:41] roygara commented on #66778
#assign:yuemlu

[2021-04-21 15:47] rpanday commented on #73089
Adding for reference, link to source code that is redirecting to code sample homepage: https://code.msdn.microsoft.com/Simple-Azure-Cloud-Service-e01df2e4

[2021-04-21 15:55] roygara commented on #65886
Sorry for the delay, we've updated the article to include this new limit. Those changes will be live later today.

Thanks for pointing this out and helping us improve the documentation, we appreciate it!

#please-close

[2021-04-21 15:55] #65886 closed

[2021-04-21 16:04] sijoxavier89 opened #74139 "correction-search param _count documentation"
[Enter feedback here]
In the documentation it is mentioned the details of _count search parameter as below

_count ->  _count is limited to 1000 characters. If set to higher than 1000, only 1000 will be returned and a warning will be returned in the bundle.
![_count](https://user-images.githubusercontent.com/25562242/115585489-a6f98b00-a299-11eb-9012-9d157e00ef9e.PNG)

I think this would be 1000 r

[2021-04-21 16:06] jmeadowcroft commented on #48376
@jakaruna-MSFT can we get the docs updated to reflect this extra step?

[2021-04-21 16:20] JamesTran-MSFT commented on #74120
@fvenezia
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-21 16:22] ashishnitk opened #74140 "Not able to fetch emailId from linkedin and assign it to B2C User Principal Name,"
[Enter feedback here]
Question: Are you using a built-in policy (for example: Sign-up or Sign-in Policy) or a custom policy?
**Answer: Custom Policy**

Details:
I am not able to fetch emailId from linkedin and assign it to B2C User Principal Name, while fetching FirstName LastName are working fine.
PFA policy docs.
I have tried with the feildName: email, emailAddress, email.localized
below is the

[2021-04-21 16:22] wmgries commented on #68993
This was added yesterday. Thanks for the feedback. #please-close

[2021-04-21 16:22] #68993 closed

[2021-04-21 16:23] JamesTran-MSFT commented on #74130
@ToruMakabe
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-21 16:23] JamesTran-MSFT commented on #74137
@KenBenjamin
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-21 16:27] wmgries commented on #74104
Unfortunately, while product teams at Microsoft are easily able to update the documentation, this is not the case for the pricing page or calculator. The request has been made to update these pages, however, I don't have an ETA update for when this will be updated.

The good news here is that RI portal should tell you how much RIs cost over their time period. If you need further information on RIs

[2021-04-21 16:27] #74104 closed

[2021-04-21 16:29] rpanday commented on #73089
For any waiting for this to fix, here is a copy of source code https://github.com/rpanday/contosoAdsCloudService

[2021-04-21 16:31] BryanTrach-MSFT commented on #74128
@lbabay Thank you for your question. Can you please share with us the URL of the doc that you are having issues with?

[2021-04-21 16:32] BryanTrach-MSFT commented on #73990
@sonalinoolkar Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-04-21 16:32] #73990 closed

[2021-04-21 16:32] okkarkyaw92 opened #74141 "Need to remove Assign users to a session host (https://docs.microsoft.com/en-us/azure/virtual-desktop/create-profile-container-adds#assign-users-to-a-session-host)"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69769604-b1c3-a2b8-318d-354ebf0d82a1
* Version Independent ID: 964330fc-1a4f-05ca-502a-a09f26e79f10
* Content: [Create FSLogix profile container Azure Files Active Directory Domain Services - Azure](https://docs.microsoft.com/en-us/azure/virtual-deskt

[2021-04-21 16:37] veyalla commented on #73991
Hi @jokarl, Such deployment requirements are would need to be handled by custom cloud-side logic. We currently don't have any built-in support or recommended patterns for this. If possible, please create or upvote a suggestion around the functionality at https://aka.ms/iotedge-suggestion

[2021-04-21 16:43] NavtejSaini-MSFT commented on #74021
@nunepalli The DMS Service does support the SQL Server to SQL Server VM Offline migration as mentioned in this table - https://docs.microsoft.com/en-us/azure/dms/resource-scenario-status#offline-one-time-migration-support

It provides all Source=Target information in details

[2021-04-21 16:45] NavtejSaini-MSFT commented on #74034
@mairaw Please convey if you need further help here.

[2021-04-21 16:45] lbabay commented on #74128
@BryanTrach-MSFT  here is where I was looking at the previous ticket. https://github.com/MicrosoftDocs/azure-docs/issues/54017

[2021-04-21 16:46] NavtejSaini-MSFT commented on #74135
@mikenri We are checking this. Can you please provide the ticket number of support under which this information was provided.

[2021-04-21 16:48] SubhashVasarapu-MSFT commented on #74138
@miiitch, from portal configuration it looks like there is only one private dns ("privatelink.vaultcore.azure.net") is available. I did test it locally and can see only **keyvault-name.privatelink.vaultcore.azure.net** getting populated on creating new private endpoint connection to Azure key vault.
![image](https://user-images.githubusercontent.com/44890829/115590240-5d875b00-a2ee-11eb-92dd-296aa

[2021-04-21 16:48] NavtejSaini-MSFT commented on #74139
@sijoxavier89 We are checking this and will get back to you.

[2021-04-21 16:49] nunepalli commented on #74021
@NavtejSaini-MSFT
I think we are getting confused here.

I saw the same link where it says DMS supports migration to SQL Server VM, and started trying that.
I got stuck up in the "configure migration settings" screen (you can see the screenshot in my first message above).

Then, you responded to my first message giving links to various methods for migrating on-prem sql server database to Azure VM.

[2021-04-21 16:49] LudicrousLiam opened #74143 "Demo Environment Non Functional"
There is no data in the Demo environment. AzureActivity is empty

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a7fbec9-98e3-15e5-8a64-c8af022d9283
* Version Independent ID: fde9de60-b8ca-3c20-443e-adc4d0177bca
* Content: [Log Analytics tutorial - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/log

[2021-04-21 16:50] miiitch commented on #74138
This is strange: I created a keyvault and the DNS configuration of the private endpoint is the following:
![image](https://user-images.githubusercontent.com/2396269/115591496-6ff39b80-a2d2-11eb-8801-ddd0216a7608.png)

[2021-04-21 16:51] miiitch commented on #74138
Ok I see, there is not parity like other services; vault.azure.net is translated in privatelink.vaultcore.azure.net ?

[2021-04-21 16:53] SubhashVasarapu-MSFT commented on #74138
@miiitch , you should be able to see the private DNS zone you have created in their respective category,

![image](https://user-images.githubusercontent.com/44890829/115591913-434e7c80-a2f0-11eb-8e88-3fca83aaf7f4.png)

[2021-04-21 16:55] miiitch commented on #74138
Thanks for you help. I didn't find it first because I had to create the DNS zone before and I thought that there is a consistent pattern like blob table...

[2021-04-21 16:55] #74138 closed

[2021-04-21 17:01] bitsofinfo commented on #60595
also, please provide some docs on what to do for this error. I have diagnostics hooked up to logs analytics workspace, and I see this error in the default query: I can't find anything helpful for this.

[code]

[code]

[2021-04-21 17:02] mikenri commented on #74135
@NavtejSaini-MSFT , the case number is 2104120040003562.

Thank You.

[2021-04-21 17:05] JamesTran-MSFT commented on #74091
@callit
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-04-21 17:08] elisolMS commented on #73970
Actually, let me clarify - while the guest user requesting and being assigned an access package in Entitlement Management counts as P2 **usage**, that does not necessarily mean you are out of compliance from a licensing perspective.  Guest licensing in Azure AD is done in one of two ways:

1. Legacy: Using a 1:5 model - that is, for every 1 P2 license you have for your member users, you also can h

[2021-04-21 17:11] mtillman commented on #74100
@assign @Nicholak-MS who maintains the content of this page

[2021-04-21 17:12] mtillman commented on #74100
#assign @Nicholak-MS

[2021-04-21 17:18] rolyon commented on #73839
Hi @AlexImray
Thanks for this feedback. I've sent this to the service team. They will investigate.
thanks

[2021-04-21 17:19] brianjking commented on #73385
I too am experiencing an issue with trying to set the default answer. I created the bot using https://qnamaker.ai and have deployed it to the web chat.

We tried to add the `DefaultAnswer` to the  Application settings as seen [here](https://github.com/MicrosoftDocs/azure-docs/issues/54185#issuecomment-627066063) to no avail.

What is especially strange is that I receive two different responses dep

[2021-04-21 17:20] deccansoft opened #74144 "Azure Monitor Retention"
[Enter feedback here]
Documentation says: **"For most resources in Azure, metrics are stored for 93 days. There are some exceptions:"**
In Azure Portal I am able to see only 30 days of metrics. Can you please reconfirm that it is 93 and not 30.
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ba2ac57-fd54-ef23-7

[2021-04-21 17:21] roygara commented on #73119
I'm closing this out, as it's not documentation feedback.

#please-close

[2021-04-21 17:22] #73119 closed

[2021-04-21 17:23] v-tcassi commented on #71342
The documentation updates appear to have resolved the issues brought up here. If you have any follow up questions, you can reopen it!

Thanks!

#please-close

[2021-04-21 17:23] #71342 closed

[2021-04-21 17:23] BryanTrach-MSFT commented on #74128
@lbabay Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-21 17:24] MicrosoftGuyJFlo commented on #72729
#please-close

[2021-04-21 17:24] #72729 closed

[2021-04-21 17:32] roygara commented on #65473
#assign:#yuemlu

[2021-04-21 17:32] PRMerger14 commented on #65473
#yuemlu is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-04-21 17:33] roygara commented on #65473
#assign:yuemlu

[2021-04-21 17:37] #73690 closed

[2021-04-21 17:38] jokarl commented on #73991
Thanks for the feedback @veyalla. Before I close this, would you say my approach outlined above is something that would work?

I'm thinking just keep track of all the offsets, run something on a chron schedule hourly in a function and apply if the offset equals our desired time.

[2021-04-21 17:41] pochiraju commented on #74021
@nunepalli , it will be easy if you can raise a CSS ticket for troubleshooting the issue you are facing or reach out to us at dmsfeedback@microsoft.com with screen shot that we can help through those channels.
Thanks
raj

[2021-04-21 17:54] JamesTran-MSFT commented on #74120
@fvenezia
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

![image](https://user-images.githubusercontent.com/36619112/115596476-00a78880-a28d-11eb-817e-38

[2021-04-21 17:54] #74120 closed

[2021-04-21 18:06] fgheysels opened #74145 "How to deploy an Azure SignalR service via ARM template with Managed Identity enabled"
I am deploying an Azure SignalR service using an ARM template via an Azure Devops pipeline.  I need to have a system assigned managed identity to be set on my SignalR service, so that I can reference a secret that exist in KeyVault in my SignalR upstream settings.
However, I do not find any documentation on how I can enable a system assigned identity on my SignalR resource.
(See the available docu

[2021-04-21 18:13] RyanHill-MSFT commented on #73451
Hi @vivere-dally, I'll do my best to alleviate some of the confusion 😊

Every app service [file structure](https://github.com/projectkudu/kudu/wiki/File-structure-on-azure) is linked to a backend storage. `${WEBAPP_STORAGE_HOME}` is the environment variable to that allows you to use this underlying storage to persist data from your container. If you only want to persist information your app uses,

[2021-04-21 18:13] #73451 closed

[2021-04-21 18:13] JamesTran-MSFT commented on #74137
@KenBenjamin
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-04-21 18:13] #74137 closed

[2021-04-21 18:19] roygara commented on #19797
#assign:fauhse

[2021-04-21 18:20] choccychops opened #74146 "Function Set-MfaState Disabled generates a 'Set-MsolUser : Unknown error occurred.' error"
Using the Set-MfaState function throws an 'Unknown error occurred' message for all accounts in our tenant created before today.

Any newly created test accounts behave as expected and I can shift between the MfaStates. All existing accounts, where we're now experiencing flakey MFA behaviour and broken Teams sign ins, as the legacy portal and CAPs conflict, cannot be changed.

Reported it to suppor

[2021-04-21 18:22] SatishBoddu-MSFT commented on #74125
Hello @kiranpradeep
I have assigned the issue to our SME for further review.

[2021-04-21 18:27] roygara commented on #48878
#please-close

[2021-04-21 18:27] #48878 closed

[2021-04-21 18:27] altude opened #74147 "Fix typos and clear information up"
There are quite a few typos and explanations that could be improved. For example, `package**s**.json` is often used instead of `package.json` (plural rather then singular), and under [Sample .env file](https://docs.microsoft.com/en-us/azure/media-services/latest/configure-connect-nodejs-howto#sample-env-file), there could be a little bit more explanation on how to get the values from the azure por

[2021-04-21 18:30] DerekHerman-MSFT commented on #73980
@ehsf973 There is a diagram in the ZRS section. Is there something you feel should be added?
https://docs.microsoft.com/en-us/azure/storage/common/storage-redundancy#zone-redundant-storage

[2021-04-21 18:30] JamesTran-MSFT commented on #74146
@choccychops
Thank you for pointing this out!

Can you share the support request number you're working on? Additionally, can you share any screenshots you have regarding this potential bug within the Set-MfaState script? This way I can gain a better understanding of your issue.

If you have any other questions, please let me know.
Thank you for your time and patience throughout this issue.

[2021-04-21 18:39] stevek180 opened #74148 "New App Registration Procedure in Azure Portal"
The instructions for creating an App Registration in the App Center is outdated for the Notifications Hub tutorial.  The azure portal now has an "App registrations" feature.  Please update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b48be73-2f29-6b2a-c837-751d3862bcdb
* Version Independent ID: efd00d73-1ff5-8689-8

[2021-04-21 18:39] ryanhofdotgov commented on #73917
Thanks! Going back to the US Government portal, I see now that Advanced Threat Protection is marked as `(Preview)`.

[2021-04-21 18:40] JamesTran-MSFT commented on #74130
@ToruMakabe
You can find the clarification between Low, Medium, and High severity here - [How are alerts classified?](https://docs.microsoft.com/en-us/azure/security-center/security-center-alerts-overview#how-are-alerts-classified)
![image](https://user-images.githubusercontent.com/36619112/115604286-0d7caa00-a296-11eb-80c1-d47db7db2602.png)
Similar Issue - https://github.com/MicrosoftDocs/azure-d

[2021-04-21 18:40] #74130 closed

[2021-04-21 18:43] softwarecraft opened #74149 "Several incomplete or fragmentary sentences"
Please proofread this page, there are several incomplete or fragmentary sentences such as

"Between network isolated application hosting, single tenancy, and the ability [eop]" in https://docs.microsoft.com/en-ca/azure/app-service/environment/overview#usage-scenarios

and

"All infrastructure is automatically. [eos]" in https://docs.microsoft.com/en-ca/azure/app-service/environment/overview#usage-

[2021-04-21 18:43] roygara commented on #17762
#assign:RenaShahMSFT

[2021-04-21 18:58] kgremban commented on #74098
Hi @timurabdurafeev yes, the extension does pull the registry credentials in most cases. However, sometimes the extension cannot grab the credentials, or a user might go through a different set of steps to get to this point. And even if the credentials do get pulled correctly, we want to make sure that you at least know where to find them in case something changes or you need to set them manually

[2021-04-21 19:00] RyanHill-MSFT commented on #73445
@Kalaivin, can you further elaborate on this? The app registration and app service name can have the same name; it's the default when you enable Azure AD from the app service. I'm looking through the tutorial and I'm not seeing where SQL would get the application name from.

[2021-04-21 19:06] mike-urnun-msft commented on #74127
@gomateus Thank you for your feedback! We will review and update as appropriate.

[2021-04-21 19:11] billmath commented on #61459
This document has been changed and the issue should now be resolved.

#please-close

[2021-04-21 19:11] #61459 closed

[2021-04-21 19:12] billmath commented on #55635
This document has been replaced by the cloud sync version and the issue should be resolved.

#please-close

[2021-04-21 19:12] #55635 closed

[2021-04-21 19:14] MicrosoftGuyJFlo commented on #64362
@Justinha Thoughts on this? Looks like CXP hasn't had any luck on this.

[2021-04-21 19:18] MGoedtel commented on #54817
@kevindd992002 - After the Log Analytics agent for Windows is installed, it can take several minutes before it downloads the Azure Automation solution MP to the machine.  That is dependent on you importing/enabling the solution in the workspace, as called out in step 1 of the manual install steps. If you followed the steps from the beginning, then if the agent is successfully communicating with th

[2021-04-21 19:19] mairaw commented on #74034
@NavtejSaini-MSFT I own that target page so I'm telling you that the way you have your prereqs stated is wrong. For example, .NET Framework only works on Windows. So, if you're code is supposed to also work on macOS and Linux, then you need to say they need to download .NET Core 3.1 or .NET 5. I haven't tested the code in any of the platforms to know whether they would work on all three products.

[2021-04-21 19:22] stevevi commented on #73917
Thank you again.  If you spot any other discrepancies, please let me know.

[2021-04-21 19:23] mairaw commented on #74033
The change is wrong. I'll fix that on an internal PR I have.

[2021-04-21 19:23] stevevi commented on #73917
#please-close

[2021-04-21 19:23] #73917 closed

[2021-04-21 19:31] billmath commented on #56684
This note has been updated and fixed.

#please-close

[2021-04-21 19:31] #56684 closed

[2021-04-21 19:32] billmath commented on #63182
Per Nuno this is fixed.

#please-close

[2021-04-21 19:32] #63182 closed

[2021-04-21 19:33] curtand commented on #43533
Hi @MikeKaneDXC
I'm publishing with my upcoming update early next week (I had a PR already open). Thanks for your patience. I fixed step 5, but the UI is matched right now in the other steps based on my walkthrough today..

#please-close

[2021-04-21 19:33] #43533 closed

[2021-04-21 19:36] billmath commented on #56753
I have created an internal work item for this.  I need to verify this with engineering.

#please-close

[2021-04-21 19:36] #56753 closed

[2021-04-21 19:39] billmath commented on #52921
Taking this as an internal work item.

#please-close

[2021-04-21 19:39] #52921 closed

[2021-04-21 19:41] choccychops commented on #74146
Absolutely - 25298819 is our ticket number and attached to this is a screenshot of the function looping through our userbase.

![image](https://user-images.githubusercontent.com/73173829/115611300-cddbaf80-a2e1-11eb-8d28-31a3dca8116a.png)

Attempting to disable a user via the legacy MFA portal also generated an error and when reported to support, the rep suggested I wasn't the first to alert them

[2021-04-21 19:41] billmath commented on #52921
Also, refer to:  https://docs.microsoft.com/en-us/azure/active-directory/devices/azureadjoin-plan

This doc is more authoritative for Azure AD Join than the one referenced above.

[2021-04-21 19:43] vhorne commented on #72827
#please-close

[2021-04-21 19:43] #72827 closed

[2021-04-21 19:44] rolyon commented on #63616
@ChrisAtMAF Thanks for your feedback. I checked and the command you should use going forward is Get-AzureADMSAdministrativeUnitMember:
https://docs.microsoft.com/en-us/powershell/module/azuread/get-azureadmsadministrativeunitmember
This doc does document the number of objects returned.
thanks

[2021-04-21 19:44] rolyon commented on #63616
#please-close

[2021-04-21 19:44] #63616 closed

[2021-04-21 19:46] VipinAgarwal opened #74152 "How can we add more than one partner?"
[Enter feedback here]
Currently we are helping customer to setup their azure resources. They already has another Customer Partner filled in for another bunch of services. So wanted to see how can we take the credit from Microsoft for the work we are helping on our end.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f9

[2021-04-21 19:47] SatishBoddu-MSFT commented on #74006
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2021-04-21 19:47] #74006 closed

[2021-04-21 19:49] #73538 closed

[2021-04-21 19:49] TravisCragg-MSFT commented on #73540
@chenlrambus We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-04-21 19:49] #73540 closed

[2021-04-21 19:54] curtand commented on #48759
Hi lxsocon
I replaced the command in the requested location. Thanks for your feedback! Fixed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/155379

#please-close

[2021-04-21 19:54] #48759 closed

[2021-04-21 19:56] joleito opened #74153 "We cannot "Resume" backups."
Hello team,

I hope you're all doing great!
I was reviewing this documentation with one of our customers and found a specific part that seems to be confusing to them:
Despite the documentation clearly states in the second line that "To move virtual machines configured with Azure Backup, you must delete the restore points from the vault.", in the point number 4 it says "Resume the backup", which in

[2021-04-21 19:58] murrayi opened #74154 "Correct Content-Type Header for "Token Request - Auth Code" in Postman Collection"
Please correct the key-value pair to ```Content-Type: application/x-www-form-urlencoded``` for the header of the **Token Request - Auth Code** POST.

Here's where to correct this error:

In the article titled **Microsoft identity platform and OAuth 2.0 authorization code flow** contains a section **Request an access token**:
https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2

[2021-04-21 19:58] billmath commented on #53273
ADSyncConfig.psm1 has not been deprecated.

#please-close

[2021-04-21 19:58] #53273 closed

[2021-04-21 19:59] TravisCragg-MSFT commented on #73704
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-04-21 19:59] #73704 closed

[2021-04-21 20:01] billmath commented on #63471
I have created an internal work item for this.

#please-close

[2021-04-21 20:01] #63471 closed

[2021-04-21 20:02] Justinha commented on #70432
This is fixed now that the TAP topic is published. See https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-authentication-temporary-access-pass#:~:text=A%20Temporary%20Access%20Pass%20is%20a%20time-limited%20passcode,to%20onboard%20other%20authentication%20methods%2C%20including%20Passwordless%20ones.

[2021-04-21 20:02] MicrosoftGuyJFlo commented on #63138
Thanks for providing feedback that helps improve our documentation. We believe this issue has been resolved and we are closing the issue. #please-close

[2021-04-21 20:02] #63138 closed

[2021-04-21 20:03] billmath commented on #62873
I have created an internal work item for this.

#please-close

[2021-04-21 20:03] #62873 closed

[2021-04-21 20:03] roygara commented on #48825
Since this feature is available in every region, the original issue was over regional availability, and subsequent responses are for product support (GitHub issues are strictly for documentation, not support) we'll close this issue out. For product support, please use either the [Q&A](https://docs.microsoft.com/answers/topics/azure-files.html), [UserVoice](https://feedback.azure.com/forums/217298-

[2021-04-21 20:03] #48825 closed

[2021-04-21 20:05] billmath commented on #55412
Azure AD Connect must be installed on a domain-joined Windows Server 2012 or later.

#please-close

[2021-04-21 20:05] #55412 closed

[2021-04-21 20:05] rolyon commented on #64361
Hi @aslomp
Thanks for your feedback. The AzureAD module is still available for Azure AD administrative tasks:
https://docs.microsoft.com/en-us/powershell/azure/active-directory/overview
It is different than the Az module:
https://docs.microsoft.com/en-us/powershell/azure/new-azureps-module-az
thanks

[2021-04-21 20:05] VanMSFT commented on #73326
Hi @chriswill - Thank you so much for your feedback. We appreciate your review of the code example. This is something we will look to address in the future when we make a documentation update. For now, if there's no failures in the example, we will close this thread, and track changes internally. Again, we appreciate you taking the time to provide feedback.

#reassign:VanMSFT
#please-close

[2021-04-21 20:05] #73326 closed

[2021-04-21 20:05] rolyon commented on #64361
Let us know if you have additional feedback.
thanks
#please-close

[2021-04-21 20:05] #64361 closed

[2021-04-21 20:06] billmath commented on #55569
I have created an internal work item for this.

#please-close

[2021-04-21 20:06] #55569 closed

[2021-04-21 20:06] TravisCragg-MSFT commented on #73833
@duaneguthrie This doc outlines our plans with marketplace images and CentOS, which does not include 7.9. I would recommend that you create a custom image for 7.9 with cloud-init enabled for your Azure deployments. If you would like us to add a 7.9 image with cloud-init enabled in the future, your best bet is the feedback link I posted above.

We will now proceed to close this thread. If there are

[2021-04-21 20:06] #73833 closed

[2021-04-21 20:06] billmath commented on #56114
I have created an internal work item for this.

#please-close

[2021-04-21 20:06] #56114 closed

[2021-04-21 20:10] SatishBoddu-MSFT commented on #73907
Hello @panabaker Thanks for the feedback.

Please see these sections for further help in this matter.

![image](https://user-images.githubusercontent.com/62923178/115614352-7407c500-a2a2-11eb-8d0f-3a2cc26caca5.png)

Please let us know if we are good to close this issue over here, please also utilize the [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/questions/topics/single/336151.html) f

[2021-04-21 20:12] #70432 closed

[2021-04-21 20:16] curtand commented on #49747
Hi @maheshn99

Thanks for your feedback! Aside from the words "just in time," they aren't related at all. The Security article is about locking down your VM management ports, while Privileged Identity Management can only elevate someone into the the owner role of a VM on an Azure subscription.

#please-close

[2021-04-21 20:16] #49747 closed

[2021-04-21 20:17] MicrosoftGuyJFlo commented on #54082
Whiteboard is supported by app protection policies in Intune. #please-close

[2021-04-21 20:17] #54082 closed

[2021-04-21 20:19] rolyon commented on #47372
Hi @v-akhana
We've updated the description for User Administrator:
https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference#user-administrator
We've also added a Password reset permissions table:
https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference#password-reset-permissions
Hopefully this is more clear. Let us know if you have additional f

[2021-04-21 20:19] curtand commented on #48846
Hi @scottclarke1

Thanks for your feedback and your patience! I have pinged the PM but there is an article that dates from September:  https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/powershell-for-azure-ad-roles

I hope this help and Shaun or I will add to this when he replies.
@souravmishra-msft

[2021-04-21 20:20] rolyon commented on #47372
#please-close

[2021-04-21 20:20] #47372 closed

[2021-04-21 20:21] JamesTran-MSFT commented on #74154
@murrayi
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-21 20:21] #65275 closed

[2021-04-21 20:26] MicrosoftGuyJFlo commented on #51293
#reassign @MicrosoftGuyJFlo I am not aware of any limitations as the writer for the feature area. Feel free to follow up via email in my profile if you are looking for something specific.

[2021-04-21 20:26] MicrosoftGuyJFlo commented on #51293
#please-close

[2021-04-21 20:26] #51293 closed

[2021-04-21 20:27] JamesTran-MSFT commented on #74154
@murrayi
Thank you for your feedback!

Are you asking for a change to the key value within Postman itself? Since our docs are currently reflecting what you're asking.
![image](https://user-images.githubusercontent.com/36619112/115616649-4c662c00-a2a5-11eb-84cf-55fdcb4cd036.png)
![image](https://user-images.githubusercontent.com/36619112/115616561-2fc9f400-a2a5-11eb-9c56-d0e0b8c9740b.png)

[2021-04-21 20:28] ColeMSFT opened #74156 "Add a statement that says a Public IP address is a requirement to have an FQDN for a VM in the Azure Portal"
I would like to add a statement into this document and have the statement state a Public IP address is a requirement to have an FQDN for a VM in the Azure Portal. I had a customer recently ask if he could use an FQDN in the Portal with a private IP address. I explained to him that a Private IP address won't work with the FQDN in the Portal. He understood and requested an update to the documentatio

[2021-04-21 20:30] kobulloc-MSFT commented on #73830
@dohughes-msft There is an active PR and the changes should go live shortly.  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-04-21 20:30] #73830 closed

[2021-04-21 20:31] duaneguthrie commented on #73833
What I would like to prioritized is an end-to-example:
1. Start  Azure approved centos 7.x
2. Add stuff with placker. . Publish to shared gallery.
3. Deploy arm template with vm  image from shared gallery.
5. Demonstrate cloud-init runs.

On Thu, Apr 15, 2021 at 10:39 AM TravisCragg-MSFT ***@***.***>
wrote:

--

This message is intended exclusively for the individual(s) or
entity to which it is ad

[2021-04-21 20:31] curtand commented on #51582
Hi @challengelogic
\\Thanks for your feedback!!!
The screenshot was updated some months ago. Thanks for your patience.

@MarileeTurscak-MSFT
#please-close

[2021-04-21 20:31] #51582 closed

[2021-04-21 20:31] hpsin commented on #74154
Yeah, this is a bug in the Postman.  It doesn't seem to have any impact, but a good catch.

[2021-04-21 20:32] rolyon commented on #55215
Hi @danmyhre
This role is now named Modern Commerce User. You can find info about this role here:
https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference#modern-commerce-user
Let us know if you have additional feedback.
thanks

[2021-04-21 20:32] rolyon commented on #55215
#please-close

[2021-04-21 20:32] #55215 closed

[2021-04-21 20:35] JamesTran-MSFT commented on #74154
@murrayi
Since this is a bug in Postman and doesn't have any impact on our docs, I'll go ahead and close out this issue.

Thank you for pointing this out!

[2021-04-21 20:35] #74154 closed

[2021-04-21 20:36] CaitlinV39 commented on #74139
This feedback is correct, thank you for identifying this. We are going to publish a larger update to this page in the next couple of days and will ensure that this is resolved as part of that.

[2021-04-21 20:36] KumudD commented on #70238
@rjstephan Thanks for bringing this to our attention. The link has been fixed.

#please-close

[2021-04-21 20:36] #70238 closed

[2021-04-21 20:38] KumudD commented on #68300
@jcroom Thanks for bringing this to our attention. The link has been fixed.

#please-close

[2021-04-21 20:38] #68300 closed

[2021-04-21 20:38] hpsin commented on #74154
@murrayi - can you review this Postman collection to see if it's better?
https://www.getpostman.com/collections/dba7e9c2e0870702dfc6

[2021-04-21 20:39] MicrosoftGuyJFlo commented on #65008
Emails out to PG.

[2021-04-21 20:39] curtand commented on #52335
Hi @neeleshray-msft
Can you assign this issue to Robert Lyon? He is the Roles (and admin units) writer now.

[2021-04-21 20:40] ChaitanyaNaykodi-MSFT commented on #73792
Hello @maple10001, Thank you for your feedback. I have made a PR for the suggested change and is currently under review. I will now proceed to close this issue out, please tag me in your response if there are any additional concerns. Thank you!

[2021-04-21 20:40] #73792 closed

[2021-04-21 20:40] rolyon commented on #57178
Hi @leonnickjr
Thanks for your feedback. We've refactored this page to include a table at the top that you could copy to a spreadsheet. Hopefully this helps.
Let us know if you have additional feedback.

[2021-04-21 20:40] rolyon commented on #57178
#please-close

[2021-04-21 20:40] santhoshbomma9 opened #74157 "Can we clarify if managed disks are supported for building a VM offer?"
Can we clarify if managed disks are supported for building a VM offer?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5593bdab-9a8f-334b-1209-ecd329908c6a
* Version Independent ID: f948a23e-7aac-59c5-a9d0-8aba2f13d60e
* Content: [Generate a SAS URI for a VM image - Azure Marketplace](https://docs.microsoft.com/en-us/az

[2021-04-21 20:40] #57178 closed

[2021-04-21 20:41] roygara commented on #19797
#assign:mtalasila

[2021-04-21 20:42] MicrosoftGuyJFlo commented on #65008
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2021-04-21 20:42] #65008 closed

[2021-04-21 20:42] kobulloc-MSFT commented on #73684
@andybouts The most recent update is that both avenues are being actively explored (a solution using cloud-init as well as having CLI preinstalled on VMs).  I will update this thread as I become aware of new information but a better source of news will be the product group itself:

- [Azure CLI blogs](https://azure.microsoft.com/en-us/blog/tag/azure-cli/)
- [Azure VM blogs](https://azure.microsoft

[2021-04-21 20:42] curtand commented on #52398
Hi @nastassiar
Thanks for your feedback! That overview has been replaced as it was out of date. Try this: https://docs.microsoft.com/en-us/azure/active-directory/roles/custom-overview

#please-close

[2021-04-21 20:42] #52398 closed

[2021-04-21 20:42] murrayi commented on #74154
Yes, the bug is with Postman and not specifically with the docs, but yes... in fact your screenshots show the inconsistency as well.

The documentation here says (correctly):
```application/x-www-form-urlencoded```

Whereas Postman collection says (incorrectly):
```application/x-www-url-form-urlencoded```

So I was just asking for the Header to be corrected to avoid the "grant_type" error it comes

[2021-04-21 20:46] mutazn opened #74158 "Remove --export from kubectl command"
Remove --export from this command as it is deprecated.
`kubectl get deployment -o=yaml --export > deployments.yaml`

Exact link: https://docs.microsoft.com/en-us/azure/aks/aks-migration#deployment-of-your-cluster-configuration

Error: unknown flag: --export
See 'kubectl get --help' for usage.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2021-04-21 20:46] curtand commented on #52843
Hi @robmacf
Thanks for your feedback! Only Azure AD roles, the subscription roles for Azure resources, and ownership and membership of privileged access groups can be managed in PIM. Other M365 roles aren't manageable in PIM at this time.

#please-close

[2021-04-21 20:46] #52843 closed

[2021-04-21 20:47] Justinha commented on #64362
@matthewjlevy Unfortunately we cant test or provide guidance on the PR process. Similarly with Azure Storage, there is no way to simulate if the primary is down. You can try and work with your DNS or NSG and see if that helps to simulate if a region is down but we can't provide guidance because of other configuration dependencies on things like compute and storage.

[2021-04-21 20:47] MicrosoftGuyJFlo commented on #65508
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2021-04-21 20:47] #65508 closed

[2021-04-21 20:47] #64362 closed

[2021-04-21 20:48] JamesTran-MSFT commented on #74154
@murrayi
Thank you for the detailed response!

@hpsin
Since I'm not aware of any way we can change the key value within Postman, do you think a PR to make a note of this in our docs would be helpful?

[2021-04-21 20:48] curtand commented on #53242
Hi @DeanGross
Thanks for your feedback! At this time, an administrative unit can contain only users and groups. I have no information about when that might change.

#please-close

[2021-04-21 20:48] #53242 closed

[2021-04-21 20:48] ajburnle commented on #54422
Hey @bcraigie

Thanks for providing feedback that helps improve our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response.  We are currently updating all the end-user content and will be migrating to the Microsoft Support site. We are closing the issue as we are migrating the content to a new site.

[2021-04-21 20:48] #54422 closed

[2021-04-21 20:49] MicrosoftGuyJFlo commented on #44645
As mentioned in a comment this error will occur if the the user was not granted "Virtual Machine User Login" for the virtual machine #please-close

[2021-04-21 20:49] #44645 closed

[2021-04-21 20:49] rolyon commented on #59839
Hi @jflieben
Thanks for your feedback. We've updated this page to include a recent list of permissions. Let us know if this doesn't capture the changes.
thanks

[2021-04-21 20:49] rolyon commented on #59839
#please-close

[2021-04-21 20:49] #59839 closed

[2021-04-21 20:50] ajburnle commented on #58556
Hey @furanity

Thanks for providing feedback that helps improve our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response.  We are currently updating all the end-user content and will be migrating to the Microsoft Support site. We are closing the issue as we are migrating the content to a new site.

[2021-04-21 20:50] #58556 closed

[2021-04-21 20:50] curtand commented on #53427
Hi @PaddyMaddy

Thanks for your feedback. The wizard has been replaced and the document updated. It is true as I understand it that the wizard was simply not available for a time.

https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/pim-security-wizard

#please-close

[2021-04-21 20:50] #53427 closed

[2021-04-21 20:50] billmath commented on #56804
I have created an internal work item for this.

#please-close

[2021-04-21 20:50] #56804 closed

[2021-04-21 20:51] ajburnle commented on #60137
Hey @HandyAndyOnGitHub

Thanks for providing feedback that helps improve our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response.  We are currently updating all the end-user content and will be migrating to the Microsoft Support site. We are closing the issue as we are migrating the content to a

[2021-04-21 20:51] #60137 closed

[2021-04-21 20:52] curtand commented on #53457
Hi @PaddyMaddy

PIM and the documentation have been updated and consent is no longer required. Thanks for your feedback!!!!

#please-close

[2021-04-21 20:52] #53457 closed

[2021-04-21 20:52] hpsin commented on #74154
@JamesTran-MSFT we can update the link to point to a new set, which I've provided above.
@mmacy, we should add a work item to add the link to the postman set to all the docs.

[2021-04-21 20:53] ajburnle commented on #60807
Hey @micfau1091

Thanks for providing feedback that helps improve our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response.  We are currently updating all the end-user content and will be migrating to the Microsoft Support site. We are closing the issue as we are migrating the content to a new sit

[2021-04-21 20:53] #60807 closed

[2021-04-21 20:56] ajburnle commented on #60809
Hey @djlause

Thanks for providing feedback that helps improve our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response.  We are currently updating all the end-user content and will be migrating to the Microsoft Support site. We are closing the issue as we are migrating the content to a new site.

[2021-04-21 20:56] #60809 closed

[2021-04-21 20:56] viniciustotti opened #74159 "Document Extraction cognitive skill supporting Blob URL"
Hi there,

I am exploring this Cognitive Skill to implement a Use Case from the company I'm working on.

The feature seems to fit our needs to do the document cracking from a Table Storage as a data source, where it will store the Blob URL of the file that needs to extract the content.

Running some tests, I had some challenges using the skill, and the document mentions using an object like this:

[2021-04-21 20:56] ajburnle commented on #61923
hey @grantog

Thanks for providing feedback that helps improve our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response.  We are currently updating all the end-user content and will be migrating to the Microsoft Support site. We are closing the issue as we are migrating the content to a new site.

[2021-04-21 20:56] #61923 closed

[2021-04-21 20:58] ajburnle commented on #62464
Hey @Ammaracas

Thanks for providing feedback that helps improve our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response.  We are currently updating all the end-user content and will be migrating to the Microsoft Support site. We are closing the issue as we are migrating the content to a new site

[2021-04-21 20:58] #62464 closed

[2021-04-21 21:00] ajburnle commented on #63148
Hey @reynolwi

Thanks for providing feedback that helps improve our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response.  We are currently updating all the end-user content and will be migrating to the Microsoft Support site. We are closing the issue as we are migrating the content to a new site.

[2021-04-21 21:00] #63148 closed

[2021-04-21 21:04] ekpgh commented on #72255
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2021-04-21 21:04] #72255 closed

[2021-04-21 21:05] ajburnle commented on #63531
Hey @steveharsant

Thanks for providing feedback that helps improve our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response.  We are currently updating all the end-user content and will be migrating to the Microsoft Support site. We are closing the issue as we are migrating the content to a new s

[2021-04-21 21:05] #63531 closed

[2021-04-21 21:05] ajburnle commented on #64123
Hey @krob527

Thanks for providing feedback that helps improve our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response.  We are currently updating all the end-user content and will be migrating to the Microsoft Support site. We are closing the issue as we are migrating the content to a new site.

[2021-04-21 21:05] #64123 closed

[2021-04-21 21:06] ajburnle commented on #49858
Hey @sorosgaa

Thanks for providing feedback that helps improve our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response.  We are currently updating all the end-user content and will be migrating to the Microsoft Support site. We are closing the issue as we are migrating the content to a new site.

[2021-04-21 21:06] #49858 closed

[2021-04-21 21:06] HansOlavS opened #74160 "Documentation on refresh identity provider tokens is outdated/incorrect for Azure Active Directory"
I've enabled Azure App Service Authentication and set it up to use Azure Active Directory and I want it to handle refresh tokens and followed the guide on updating the authsettings in resources.azure.com in section #refresh-identity-provider-tokens. The documentation states:
[code]

This always gives a 400 Bad Request with this payload:
[code]

---
#### Document Details

⚠ *Do not edit this sectio

[2021-04-21 21:07] iqshahmicrosoft commented on #74157
Managed disks are supported for building a VM offer technical asset.

From: santhoshbomma9 ***@***.***>
Sent: Wednesday, April 21, 2021 1:41 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Iqbal Shahid ***@***.***>; Mention ***@***.***>
Subject: [MicrosoftDocs/azure-docs] Can we clarify if managed disks are supported for building a VM offer? (#74157)

Can we clarify if managed disks are supported

[2021-04-21 21:10] murrayi commented on #74154
To change a key value within Postman, you simply double-click the value, make the edit... and save the collection.

Perhaps slightly redundant, but just to demonstrate the difference. I'll share the original vs the corrected.
Note: You have to first run the "Authorize Request" GET request, then copy the code into the key-value in the token request body.

Original (currently in the documentation -

[2021-04-21 21:14] santhoshbomma9 commented on #74157
wow @iqshahmicrosoft , thanks for the very quick turn around. I believe this is support only when using SIG right? for SAS uri it still needs to be unmanaged disk right?

[2021-04-21 21:17] vimeht commented on #71662
This should be assigned to @ValOlson

[2021-04-21 21:19] vimeht commented on #71520
This should be assigned to @ValOlson

[2021-04-21 21:19] ajburnle commented on #58262
Hey @justin-r-r

Thanks for providing feedback that helps improve our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response.  We are currently updating all the end-user content and will be migrating to the Microsoft Support site. We are closing the issue as we are migrating the content to a new sit

[2021-04-21 21:19] #58262 closed

[2021-04-21 21:23] ajburnle commented on #61157
Hey @demersjd

Thanks for providing feedback that helps improve our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response.  We are currently updating all the end-user content and will be migrating to the Microsoft Support site. We are closing the issue as we are migrating the content to a new site.

[2021-04-21 21:23] #61157 closed

[2021-04-21 21:23] ajburnle commented on #50115
Hey @sorosgaa

Thanks for providing feedback that helps improve our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response.  We are currently updating all the end-user content and will be migrating to the Microsoft Support site. We are closing the issue as we are migrating the content to a new site.

[2021-04-21 21:23] #50115 closed

[2021-04-21 21:29] ajburnle commented on #63534
Hey @ivandretvic

Thanks for providing feedback that helps improve our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response.  We are currently updating all the end-user content and will be migrating to the Microsoft Support site. We are closing the issue as we are migrating the content to a new si

[2021-04-21 21:29] #63534 closed

[2021-04-21 21:29] ValOlson commented on #74071
This is being addressed as part of https://github.com/MicrosoftDocs/azure-docs-pr/pull/155344. Thank you!

[2021-04-21 21:30] iqshahmicrosoft commented on #74157
You can use managed images for both SIG (recommended) and SAS URI methods. Follow the steps in the documentation 😊

From: santhoshbomma9 ***@***.***>
Sent: Wednesday, April 21, 2021 2:15 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Iqbal Shahid ***@***.***>; Assign ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Can we clarify if managed disks are supported for building a VM offer? (#7415

[2021-04-21 21:30] ajburnle commented on #62402
Hey @ilyalehrman

Thanks for providing feedback that helps improve our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response.  We are currently updating all the end-user content and will be migrating to the Microsoft Support site. We are closing the issue as we are migrating the content to a new si

[2021-04-21 21:30] #62402 closed

[2021-04-21 21:31] ajburnle commented on #57749
Hey @dustefan and @maweeras-msft

Thanks for providing feedback that helps improve our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response.  We are currently updating all the end-user content and will be migrating to the Microsoft Support site. We are closing the issue as we are migrating the con

[2021-04-21 21:31] #57749 closed

[2021-04-21 21:34] ajburnle commented on #53339
Hey @SergeyVoskoboynikov

Thanks for providing feedback that helps improve our documentation. I'm glad you found a solution, we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response.  We are currently updating all the end-user content and will be migrating to the Microsoft Support site as well for you to reference in the future. #please-close

[2021-04-21 21:34] santhoshbomma9 commented on #74157
Sorry the docs say otherwise. @iqshahmicrosoft
![image](https://user-images.githubusercontent.com/40445595/115623926-b6cf9a00-a2ae-11eb-99f6-55a55e9f3202.png)

[2021-04-21 21:35] ajburnle commented on #62871
Hey @Scribliotech

Thanks for providing feedback that helps improve our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response.  We are currently updating all the end-user content and will be migrating to the Microsoft Support site. We are closing the issue as we are migrating the content to a new s

[2021-04-21 21:35] #62871 closed

[2021-04-21 21:36] ajburnle commented on #54672
Hey @p0shkar

Thanks for providing feedback that helps improve our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response.  We are currently updating all the end-user content and will be migrating to the Microsoft Support site. We are closing the issue as we are migrating the content to a new site.

[2021-04-21 21:36] #54672 closed

[2021-04-21 21:37] ajburnle commented on #54963
Hey @ckssaas

Thanks for providing feedback that helps improve our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response.  We are currently updating all the end-user content and will be migrating to the Microsoft Support site. We are closing the issue as we are migrating the content to a new site.

[2021-04-21 21:37] #54963 closed

[2021-04-21 21:38] ajburnle commented on #57089
Hey @mattbaker-digital

Thanks for providing feedback that helps improve our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response.  We are currently updating all the end-user content and will be migrating to the Microsoft Support site. We are closing the issue as we are migrating the content to a

[2021-04-21 21:38] #57089 closed

[2021-04-21 21:46] murrayi commented on #74154
@hpsin - Yes! That works.

After copying the {client_id} into the **Get Request** Params, making the request to return the code, and copying that code, client_id, and client_secret (which is provided in both the original/corrected collections I've shared across)... the token request does obtain a token.

So there are 2 solutions now:
(hpsin) - No **Headers**
(murrayi) - Provide the key-value pair`

[2021-04-21 21:54] JamesTran-MSFT commented on #74154
I've created a PR to update the documentation and it's currently waiting for the @hpsin to review and sign off.

Thank you for pointing this out!

[2021-04-21 21:58] stewartadam commented on #30499
For those running into this from a web search, two notes:
1. Looks like the formatting on line endings were corrupted in [the reply](https://github.com/MicrosoftDocs/azure-docs/issues/30499#issuecomment-488812159) above; a proper certificate should have **newlines** between the `-----DELIMITERS-----`, i.e.:

[code]
2. The format of the file downloaded using `az keyvault secret download` will vary

[2021-04-21 22:04] jaschoen-msft commented on #50919
@skunevich @savas-guven - static ip for private endpoints has been filed as a feature request for Azure Private Link and is on the roadmap, no firm eta though.

[2021-04-21 22:15] wmgries commented on #61063
This article was updated this morning. #please-close

[2021-04-21 22:15] #61063 closed

[2021-04-21 22:18] RyanHill-MSFT commented on #73648
Hi @robgale-FJ, I really don't believe there's any issue with the YAML. I copied the sample YAML and got different validation errors around `pool` keyword. I think it will be best to file a new issue on the https://github.com/microsoft/azure-pipelines-tasks/issues.

[2021-04-21 22:23] mimckitt commented on #71589
#assign: @mimckitt

[2021-04-21 22:32] mdrakiburrahman opened #74165 "Screenshot shows AutoResolveIR, but may be intending SHIR"
The screenshot is associated with using a **Self-Hosted IR** to perform scans against Private Endpoint protected resources, with **MSI Auth** not being supported:

![image](https://user-images.githubusercontent.com/46581776/115628966-759bb200-a2cf-11eb-98e3-fa4d889a89d9.png)

But seems to have **AutoResolveIR** and **MSI Auth** selected.

Updating to an SHIR and non-MSI auth may clear confusions,

[2021-04-21 22:43] maximivanov commented on #69667
@JasonFreeberg as mentioned in the original post I could see doubled log message when running a single (EP) function app instance. After scaling out to 2 instances I got 2x more messages (4 log messages every X seconds).

[2021-04-21 22:46] badalk commented on #73803
@palma21 @psmanhas is there any update on this? I thought it would be just the matter of clarifying the concepts in the documentation but looks like this is taking time to do so. May I know if someone is still looking into this?

[2021-04-21 23:06] ManojBableshwar commented on #74087
The AzureML Studio Web UI does not support viewing and editing pipeline schedules today. This feature is on our backlog.

[2021-04-21 23:07] andrewbrownmsft commented on #71488
This PR fixes the Import image: https://github.com/MicrosoftDocs/azure-docs-pr/pull/155435

[2021-04-21 23:07] doah78 opened #74168 "The word "Populated" is not spelled correctly."
![image](https://user-images.githubusercontent.com/7544245/115631958-66673500-a2cc-11eb-90af-6438367da143.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8e131bf-99d7-a850-a597-ac02b9f6c3a9
* Version Independent ID: a27625d3-cf35-ffaf-5734-d1a2bbcdd60c
* Content: [Tutorial: Azure Active Directory single sign-on (S

[2021-04-21 23:10] crisansou commented on #74087
Hi @ManojBableshwar,

Ok, thanks for the info.

Best regards,
Cristina

[2021-04-21 23:11] Ayanmullick opened #74169 "Will there be a boot-to-patch option?"
If a non-production VM is shutdown to optimize compute cost for more than 3 months, could there a way to boot, patch and shutdown the VM every month to ensure one's Azure infrastructure is compliant with governance and regulatory requirements?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc698477-83d9-7411-f504-8d485

[2021-04-21 23:11] #74087 closed

[2021-04-21 23:11] iqshahmicrosoft commented on #74157
We do support vhd extraction from managed disk based VMs. This sentence should be removed (I will get the docs updated soon).

Managed or unmanaged is used in the context of a disk - not vhd. Vhd is a file (managed/unmanaged doesn't apply)

From: santhoshbomma9 ***@***.***>
Sent: Wednesday, April 21, 2021 2:35 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Iqbal Shahid ***@***.***>; Mention ***@

[2021-04-21 23:12] sijoxavier89 commented on #74139
Awesome!

[2021-04-21 23:13] aahill commented on #74097
Thanks for reaching out @Uggi I'll update the documentation to remove Bing Spell Check from the "not supported" section.

You can find an article about Bing Spell Check with v3 of the API here: https://docs.microsoft.com/azure/cognitive-services/luis/luis-tutorial-bing-spellcheck

#please-close

[2021-04-21 23:13] #74097 closed

[2021-04-21 23:13] i-would opened #74170 "Outdated Standard custom setup samples instructions"
I tried to review the Standard custom setup samples but the instructions need to be updated. The interfaces have changed and is this URL incorrect: https://ssisazurefileshare.blob.core.windows.net/publicpreview?sp=rl&st=2020-03-25T04:00:00Z&se=2025-03-25T04:00:00Z&sv=2019-02-02&sr=c&sig=WAD3DATezJjhBCO3ezrQ7TUZ8syEUxZZtGIhhP6Pt4I%3D

---
#### Document Details

⚠ *Do not edit this section. It is re

[2021-04-21 23:27] MarileeTurscak-MSFT commented on #74168
@doah78
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-21 23:28] MarileeTurscak-MSFT commented on #74168
Thanks for calling this out. I made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/155458

[2021-04-21 23:28] #74168 closed

[2021-04-21 23:31] ToruMakabe commented on #74130
@JamesTran-MSFT Thanks. But, it's still unclear. Is there any quantitative definition? For example, the CVSS v3 score of my assessment result is 7.5 (High on CVSS definition), but the severity of Azure Security Center is mideum. It makes me a bit confused.
![2021-04-22 081658](https://user-images.githubusercontent.com/993850/115632840-8ede4600-a343-11eb-998c-c624c3483f58.png)(sorry in Japanese)

[

[2021-04-22 00:21] kolchy opened #74171 "Guidance to use Microsoft.Azure.Services.AppAuthentication is outdated"
Hi!

We've just finished following the guidance in this doc, only to find that the guidance is actually outdated 😢

Based on [this doc](https://docs.microsoft.com/en-us/dotnet/api/overview/azure/service-to-service-authentication) and [this doc](https://docs.microsoft.com/en-us/dotnet/api/overview/azure/app-auth-migration) we should be using `Azure.Identity` instead of `Microsoft.Azure.Services.App

[2021-04-22 00:21] Bob-Bradley opened #74172 "Gaps where MIM is still required."
[Enter feedback here]
I'd appreciate if the following could be noted here:
_**There are certain important use cases for which there is no Microsoft-supported alternative to MIM, of which the following are significant:
* Password synchronisation (where an alternative modern auth option is not yet available or viable); and
* On prem write-back of Azure security groups and membership.**_
While AADC s

[2021-04-22 00:34] ajburnle commented on #73970
Hey @natpascual1027,

Was your issue resolved?

[2021-04-22 00:47] NavtejSaini-MSFT commented on #74135
@mikenri This document explains the connection of Azure MySQL with Gateaway option. The Connection with service end point is explained here in detail - https://docs.microsoft.com/en-us/azure/mysql/concepts-data-access-and-security-vnet#limitations

[2021-04-22 00:48] NavtejSaini-MSFT commented on #74021
Thank you @pochiraju for taking this further. @nunepalli Apologize for the confusion. Please do send a mail to DMS team or raise support ticket to resolve this issue.
Let me know if anything else is required from this.

[2021-04-22 00:51] swatisahay commented on #69667
@JasonFreeberg, Setting the WEBSITE_HEALTHCHECK_PING_FAILURES on the arm template does not update Load Balancing time on the portal ? I tried setting WEBSITE_HEALTHCHECK_PING_FAILURES  and WEBSITE_HEALTHCHECK_MAX_PING_FAILURES but it doesnot update portal at all

[2021-04-22 01:02] NavtejSaini-MSFT commented on #74034
@mksuni Please let us know if there is a need to make the changes to the document.

[2021-04-22 01:38] BharathNimmala-MSFT commented on #74132
@maxkudosh Thank you for your feedback, we will review it and get back to you at the earliest.

[2021-04-22 01:42] BharathNimmala-MSFT commented on #74126
@jsandersrocks Thank you for reaching out with your query, our team will review it and get back to you at the earliest.

[2021-04-22 01:43] BharathNimmala-MSFT commented on #74143
@LudicrousLiam Thank you for reaching out with your query, we will review it and get back to you at the earliest.

[2021-04-22 02:13] BharathNimmala-MSFT commented on #74134
@whomanGHA Thank you for reaching out with your query, our team will review it and get back to you at the earliest

[2021-04-22 02:15] BharathNimmala-MSFT commented on #74152
@VipinAgarwal Thank you for your query , our team will review it and get back to you at the earliest.

[2021-04-22 02:18] BharathNimmala-MSFT commented on #74129
@Herman5006 Thank you for reaching out with our query, our team will review it and get back to you at the earliest.

[2021-04-22 02:22] BharathNimmala-MSFT commented on #74153
@joleito Thank you for reaching out with your query, our team will review it and get back to you at the earliest.

[2021-04-22 02:23] BharathNimmala-MSFT commented on #74144
@deccansoft Thank you for reaching out with your query, our team will review it and get back to you at the earliest.

[2021-04-22 02:33] KrishnaG-MSFT commented on #74152
Tagging @dhirajgandhi @bandersmsft for visibility, review and to help provide insights.

[2021-04-22 02:34] KrishnaG-MSFT commented on #74153
Assigning @tfitzmac for visibility, review and document enhancement consideration as appropriate.

[2021-04-22 02:35] BryanTrach-MSFT commented on #74140
@ashishnitk Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-22 02:36] BryanTrach-MSFT commented on #74141
@okkarkyaw92 Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-22 02:38] BryanTrach-MSFT commented on #74149
@softwarecraft Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-22 02:40] BryanTrach-MSFT commented on #74145
@fgheysels Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-22 03:00] PeterCLu commented on #73212
@levpreece, thanks so much for the response. That absolutely cleared things up. I've added a note that users should expect to scroll down to see the matching log, rather than leave the implication that they should see it at the top.

You should see the changes live in a few hours #please-close.

If you feel that your documentation issue hasn't been resolved, feel free to open a new issue with addi

[2021-04-22 03:00] #73212 closed

[2021-04-22 03:18] Karishma-Tiwari-MSFT commented on #74156
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-22 03:30] SnehaAgrawal-MSFT commented on #73859
@iyerusad Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-04-22 03:37] psmanhas commented on #74158
@mutazn
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-04-22 03:37] psmanhas commented on #74158
@mlearned
Can you please check and add your comments on this doc update request as applicable

[2021-04-22 03:39] psmanhas commented on #74169
@Ayanmullick Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-04-22 03:42] santhoshbomma9 commented on #74157
Great, very helpful thank you @iqshahmicrosoft !

[2021-04-22 03:42] #74157 closed

[2021-04-22 03:50] psmanhas commented on #48376
@mlearned
Can you please check and add your comments on this doc update request as applicable

[2021-04-22 04:01] mike-urnun-msft commented on #73890
Hi @geoffbrucepayne - Here's a sample using Mocha: https://github.com/Azure-Samples/azure-functions-unit-testing-mocha

Let me know if you run into issues or have any questions and I'd be happy to help.

[2021-04-22 04:05] psmanhas commented on #74123
@sawchengling66 I had discussion internally and below is the statement I got:

The mentioned functionality is in GA now and that is why our official documentation https://docs.microsoft.com/en-us/azure/aks/start-stop-cluster doesn't has a Preview mentioned and is the most updated one which you can folow.

Hope it helps!!!

Thanks

[2021-04-22 04:46] AnuragSharma-MSFT commented on #74052
@dgpoulet Thanks for letting us know the issue with the doc. We have created a PR which on review and approval from team shall be made live in few days.

Please let us know if you have any other queries otherwise we will close the thread.

[2021-04-22 04:47] DeSeelam commented on #74078
Closed.

[2021-04-22 04:48] DeSeelam commented on #74078
@BharathNimmala-MSFT , we can close this issue.

[2021-04-22 04:50] Patrik-Berglund commented on #33157
Yep, same problem here...

[2021-04-22 04:52] BharathNimmala-MSFT commented on #74078
Thank you @DeSeelam for helping on the thread. Closing the thread.

[2021-04-22 04:52] #74078 closed

[2021-04-22 05:08] MayankBargali-MSFT commented on #74043
@XZ07 Just following up here to see if you are facing any document issues.

[2021-04-22 05:11] MayankBargali-MSFT commented on #73125
@johol545 Thanks for reporting this issue. The issue is also reproduced at our end. The team will be working on this and I will update you once the issue is fixed. As the workaround as you have already mentioned you are using other browsers. We will proceed with closing the issue as GitHub is mainly related to the doc issue. But I will update this thread once the issue is fixed.

Feel free to get

[2021-04-22 05:11] #73125 closed

[2021-04-22 05:11] Adi-Nugraha-T opened #74176 "the titles and content for changing schedule and scale size needs to be switched"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 228988d8-beaf-9bb1-efae-c2c25130b525
* Version Independent ID: 8c714c20-60f3-dd75-5ba9-a66d17410685
* Content: [Tutorial: Manage compute with Azure Functions - Azure Synapse Analytics](https://docs.microsoft.com/en-us/azure/synapse-analytics/sql-data-

[2021-04-22 05:15] MayankBargali-MSFT commented on #73734
@pemsft The document has updated but it will take some time to get the approval and to published soon as this is a new feature and still portal changes are not deployed to support this feature and will create confusion for others. Once the portal is supported with this feature the document will be published.

We will now proceed to close this thread. If there are further questions regarding this m

[2021-04-22 05:15] #73734 closed

[2021-04-22 05:21] MalachiMcintosh opened #74177 "Code example missing closing brace"
This [Post-Trigger code](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-write-stored-procedures-triggers-udfs#post-triggers) example "function updateMetadata()" is missing it's closing } brace.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14913a18-671a-c55f-d082-e750bec7baab
* Version Independent ID: 9cc08ba

[2021-04-22 05:21] CHEEKATLAPRADEEP-MSFT commented on #74033
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-04-22 05:21] #74033 closed

[2021-04-22 05:22] CHEEKATLAPRADEEP-MSFT commented on #74099
@ryancrawcour  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-04-22 05:22] #74099 closed

[2021-04-22 05:47] CHEEKATLAPRADEEP-MSFT commented on #74102
@erzaliator  I've addressed this issue in PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/155513
The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2021-04-22 05:47] #74102 closed

[2021-04-22 05:51] BhargaviAnnadevara-MSFT commented on #74147
@IngridAtMicrosoft Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-04-22 05:52] BhargaviAnnadevara-MSFT commented on #74148
@stevek180 Thanks for the feedback. I have assigned the issue to the content author to evaluate and update the document as appropriate.

[2021-04-22 06:05] CHEEKATLAPRADEEP-MSFT commented on #74170
@i-would Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@swinarko Could you please update the document with latest screenshots of the Azure Storage Explore and check the shared access signature URI?

![image](https://user-images.githubusercontent.com/79183421/115663898-c9a1a780-a35e-11eb-824c-1719a96550fd.png)

[2021-04-22 06:05] ram-msft commented on #73948
@wangzheng0310 Thanks for the details. @luisquintanilla Could you please check on this issue.

[2021-04-22 06:07] AnuragSharma-MSFT commented on #74177
@MalachiMcintosh Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-04-22 06:16] mscatyao commented on #33157
@dfendit @Patrik-Berglund can you two provide some details on your setups/goal and the steps you take to hit the problem?

[2021-04-22 06:17] CHEEKATLAPRADEEP-MSFT commented on #74165
@mdrakiburrahman From the above screenshot shows as support MSI credential method when you scan your Azure sources using a Azure Integration Runtime.

![image](https://user-images.githubusercontent.com/79183421/115664423-6e23e980-a35f-11eb-9ba1-1a67a0b0d2bf.png)

The document says "We currently **do not support MSI credential** method when you scan your Azure sources using a **self-hosted IR**. Yo

[2021-04-22 06:20] GitaraniSharma-MSFT commented on #73809
@dfatkulbayanova , since we have not heard back from you, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-04-22 06:20] #73809 closed

[2021-04-22 06:21] mikesierra2 opened #74178 "Instructions for agent install via Intune?"
This documentation talks about Azure DSC and manual install. Can you add the instructions for deploying this app via Intune? Is this possible/recommended/not-recommended? Why? We have been deploying all of our apps with Intune, so would rather continue that practice with this agent if possible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-04-22 06:22] J-a-k-o-b opened #74179 "UsageLocation is not an ADDS Attribute"
Hi,

I wonder why the attribute usageLocation is listed in here. It's not an ADDS Attribute, it's only available in AAD, so it can't be used as a source for a sync.

Regards
Jakob

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7abde7c-df25-bd14-574c-92858daed39d
* Version Independent ID: 6652a5bc-4985-d45e-36fb-54da40

[2021-04-22 06:25] jflieben commented on #59839
@rolyon I'm afraid that didn't fully fix it. The list is appreciated and better, but this still doesn't match:
![image](https://user-images.githubusercontent.com/1587420/115665947-38bdd280-a344-11eb-8b75-87413e929142.png)

[2021-04-22 06:28] GitaraniSharma-MSFT commented on #74019
@RonnieQuan , per the ExR PG team, there is a **Private Preview** for Fastpath over Vnet peering available. The tentative date for it to be in Public preview is in next couple of months and GA would take some further time. However, if you would like to test the private preview feature, we can check the details with the PG team. Do let me know your thoughts on same.

[2021-04-22 06:29] BharathNimmala-MSFT commented on #73853
@omerzubair Please review the above information and circle back if you have any further queries.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue for now, however if you have any further queries on the document or the on the information shared above. Please tag us in your reply and will be happy to reopen the thre

[2021-04-22 06:29] #73853 closed

[2021-04-22 06:36] CHEEKATLAPRADEEP-MSFT commented on #74176
@Adi-Nugraha-T Could you please provide more details on your feedback. What do you mean by "the titles and content for changing schedule and scale size needs to be switched"?

[2021-04-22 06:39] sawchengling66 commented on #74123
Certainly helps, it's now ok to stop a production cluster without worrying not getting support if it can't be restarted. Still curious why missing GA announcement but well not relevant since I got the confirmation now.

Thanks!

[2021-04-22 06:39] #74123 closed

[2021-04-22 06:41] KranthiPakala-MSFT commented on #73922
Hi @ahalabi I have followed the exact steps described in the tutorial to make sure if it is working or not and I was able to see the new cluster created and also verified by looking at the job run history.

![image](https://user-images.githubusercontent.com/50185738/115666953-156e3580-a2fa-11eb-949c-19328ac65805.png)

![image](https://user-images.githubusercontent.com/50185738/115666891-fd96b180-a

[2021-04-22 06:41] #73922 closed

[2021-04-22 06:43] swinarko commented on #74170
You need to select SAS URL as the connection method:

![image](https://user-images.githubusercontent.com/40014527/115667709-b8fe2b00-a378-11eb-96e8-4f74e537b5c5.png)

#please-close

[2021-04-22 06:43] #74170 closed

[2021-04-22 06:44] maulik-modi opened #74180 "CORS is supported with Azure blob storage Or Not?"
**CORS is supported as per this page starting from 2021**
https://docs.microsoft.com/en-us/rest/api/storageservices/cross-origin-resource-sharing--cors--support-for-the-azure-storage-services

**CORS is not supported in this reference - note section**
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/storage/blobs/storage-blob-static-website.md

---
#### Document Details

⚠ *Do not

[2021-04-22 06:54] DavidZeLiang commented on #73973
Hello, @SajalSood43 . The problem is because of the change of the response format recently. To solve that issue, you can change the line with error to `model_status = self.ad_client.get_multivariate_model(trained_model_id).model_info.status`. I will fix it in the sample code asap too. Sorry for the inconvenience.

[2021-04-22 07:02] MathieuRietman opened #74181 "Missing services"
Missing Services in documentation:
- Azure Redis Cache
- Azure Data Factory
- Storage Static Web
- Azure Migrate

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97849a4b-e79a-840e-8cfc-d43b0ea1dec3
* Version Independent ID: 6d224a2c-5e53-832a-ecd4-ae30fd472b76
* Content: [Azure Private Link availability](https://docs.mi

[2021-04-22 07:06] MathieuRietman opened #74182 "Missing services"
Missing Azure services in the list

Batch  -   privatelink.{region}.batch.azure.com
Migrate - privatelink.prod.migration.windowsazure.com
DigitalTwins - privatelink.digitaltwins.azure.net

Possible managed disk privatelink.blob.core.windows.net
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a88af182-32aa-a8f3-359d-b92ae

[2021-04-22 07:09] JPalmerDev opened #74183 "AZ Function docs do not convey how to deal with the 'read only' aspect caused by uploading a zip."
Uploaded an azure function via zip through the visual studio publishing.
Attempted to follow other tutorials, such as setting up a proxy, or testing the function in the azure portal. Was greeted with an unhelpful error message: "Your app is currently in read only mode because you are running from a package file. To make any changes update the content in your zip file and WEBSITE_RUN_FROM_PACKAGE a

[2021-04-22 07:17] BhargaviAnnadevara-MSFT commented on #74159
@viniciustotti Thanks for the feedback. I have assigned the issue to the content author to evaluate and update the document as appropriate.

[2021-04-22 07:21] GitaraniSharma-MSFT commented on #74106
@o-l-a-v , the PG has confirmed that this is a known issue to them. Currently the code logic check for ANY keyword and if it is not present the NSG validation fails. The PG is working to fix this. So no change is required in the doc.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-04-22 07:21] #74106 closed

[2021-04-22 07:59] SajalSood43 commented on #73973
Thank you, Its working now.

[2021-04-22 08:02] AnuragSharma-MSFT commented on #74160
@HansOlavS Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-04-22 08:19] JohnLBevan opened #74184 "Explain reasoning for duplicate content in the structure"
The current suggested structure includes `policy.json`, `policy.parameters.json`, and `policy.rules.json`.
The policy file includes sections for parameters and rules; and the content of these in all examples I've seen typically duplicate exactly what's in the `.parameters` and `.rules` files.

To me it would make sense to only maintain these definitions in one place; then if a different format wer

[2021-04-22 08:22] AnuragSharma-MSFT commented on #74177
@MalachiMcintosh Really appreciate you pointing out the issue with the document. We have created a PR and after it gets reviewed and approved from document in few days, it will go live.

Please let me know if there is any other query or else we will go ahead and close this thread.

[2021-04-22 08:29] cveld opened #74186 "Please include a big warning about wiping of existing app gateway configuration"
We are exploring the Application Gateway Ingress Controller feature and we found out that it actually wipes any existing configuration when it is kicked of.

Can you confirm it works this way?
So actually one will need to set up a dedicated app gateway to connect with Azure Kubernetes Service (AKS) Cluster's Application Gateway Ingress Controller (AGIC) feature.

---
#### Document Details

⚠ *Do n

[2021-04-22 08:31] sabrina199477 commented on #39711
is there any news about this problem ?
i have the same issue. i need to keep the same Ip of my VM but with a different name !!

[2021-04-22 08:51] CHEEKATLAPRADEEP-MSFT commented on #74170
@swinarko The above steps mentioned works, could you please update the screenshots mentioned under [Standard custom setup samples](https://docs.microsoft.com/en-us/azure/data-factory/how-to-configure-azure-ssis-ir-custom-setup#standard-custom-setup-samples) - section.

[2021-04-22 08:53] choccychops commented on #74146
All now working ok - not sure who to thank but the function is operational in our tenant and we've been able to fix the problems we'd been having all week. Lots and lots of happy staff!

[2021-04-22 08:53] #74146 closed

[2021-04-22 09:08] maximus-net opened #74189 "The ability to allow access to saved searches is not possible when data retrieval is limited should be included here."
The document should also include or highlight that when using Resource Based permissions in this context it's not possible to use parsers created for datasets. As per https://docs.microsoft.com/en-us/azure/azure-monitor/faq#why-cant-i-see-query-explorer-and-save-buttons-in-log-analytics

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2021-04-22 09:20] shashishailaj commented on #74189
@maximus-net Thank you for your feedback . We have requested the content team to review this ask and accordingly update the thread.

[2021-04-22 09:22] shashishailaj commented on #74172
@Bob-Bradley Thank you for your inputs . We have assigned this to the content team to review and update as necessary .

[2021-04-22 09:25] shashishailaj commented on #74180
@maulik-modi Thank you for pointing that out. We have requested the content team to check the same and update as necessary .

[2021-04-22 09:29] SubhashVasarapu-MSFT commented on #74181
@MathieuRietman , Thanks for reaching out. We will investigate and update this thread.

[2021-04-22 09:30] SubhashVasarapu-MSFT commented on #74182
@MathieuRietman, Thanks for reaching out. We will investigate and update this thread.

[2021-04-22 09:31] anirbansaha96 commented on #73973
Thank you, I am closing the issue since it is resolved. Thank you @SajalSood43 for testing it out @DavidZeLiang for the solution.

[2021-04-22 09:31] #73973 closed

[2021-04-22 09:31] SubhashVasarapu-MSFT commented on #74186
@cveld , Thanks for reaching out. We will investigate and update this thread.

[2021-04-22 09:54] SvenSowa opened #74191 "Add Select-AzSubscription hint for better usability"
Please add a hint to make sure, one is in the right subscription, as the feature registration seems to be per subscription.
Select-AzSubscription xyz before running any of the commands mentioned below.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0269a82-164f-c86b-05f5-831381455059
* Version Independent ID: 02280290

[2021-04-22 09:56] OrrinEdenfield opened #74192 "SQL Dedicated or SQL Serverless too?"
This page seems to be detailing data types supported/not supported by SQL Dedicated. I'm struggling to find a similar page for SQL Serverless.

We could include SQL Serverless as well as I just tried to submit a query to SQL Serverless using VARCHAR(MAX) and that doesn't seem to be supported (there may be other types, but this is just an example).

Thank you!

---
#### Document Details

⚠ *Do not

[2021-04-22 10:00] Adi-Nugraha-T commented on #74176
https://docs.microsoft.com/id-id/azure/synapse-analytics/sql-data-warehouse/manage-compute-with-azure-functions#change-the-compute-level
the content of this direct link is to change the schedule,
<img width="518" alt="screen2" src="https://user-images.githubusercontent.com/67138921/115695800-4bf49080-a38c-11eb-8f8b-88e141b51532.png">

https://docs.microsoft.com/id-id/azure/synapse-analytics/sql-da

[2021-04-22 10:01] batamig commented on #74189
Hi @maximus-net  - thanks so much for your feedback.

I've added this to our backlog to take to the team for verification before we update as needed.
I'm closing this issue in the meantime, but feel free to continue commenting. We always appreciate customer input on docs!

#please-close

[2021-04-22 10:01] #74189 closed

[2021-04-22 10:10] wangzheng0310 commented on #73987
I did some research these days and this step-by-step guide https://github.com/jhirono/amlsecurity well explains how to access to private link enabled workspace.
FYI.

[2021-04-22 10:16] AaliAlikoski opened #74193 "Account and database management actions"
Is it possible to define actions for managing a database account and database such as

Microsoft.DocumentDB/databaseAccounts/sqlDatabases/create
Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers/create

for creatting new databases and containers? I am looking for a way to use RBAC permissions for setting up a complete db account from code.

---
#### Document Details

⚠ *Do not edit thi

[2021-04-22 10:26] lightupdifire opened #74194 "A list of Selected Microsoft 365 groups"
Hello,

It is not clear if we can select a Dynamic/Security group in the "Selected" scenario,

As an example:
1. We build dynamic group (or PowerShell that add groups into one single group) as an example with a name: **GroupCleaning**
2. We add this group **GroupCleaning** in the "Selected" scenario
3. So this group GroupCleaning members will be other groups that we want to use Expiration policy

[2021-04-22 10:32] chaisen2006 opened #74196 "Rule per listener in Multi Site"
Can you confirm if we could have 1 rule per listener in multi site option in Azure App Gateway.
In URL based routing, we can have multiple rules per listener, so that's not the case with multi site. Am I correct?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32e7a4ca-bf44-675a-189d-addc8284e1ab
* Version Indep

[2021-04-22 10:33] vussan opened #74197 "POST https://api3.cc.skype.com/conv/ 403 (Forbidden)"
After performing all the tasks mentioned in the document and click on Join Teams Meeting button, I get 403 error on https://api3.cc.skype.com/conv. Am I missing something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d2754e5-acea-2ab9-5291-e5aa11a61f79
* Version Independent ID: ed9e617f-24a7-efa3-12da-6e59e357a947
*

[2021-04-22 10:40] AnuragSharma-MSFT commented on #74193
@AaliAlikoski Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-04-22 10:44] rajsshah86 opened #74198 "Bastion can be used with Private DNS zones"
The answer to the question  "https://docs.microsoft.com/en-us/azure/bastion/bastion-faq#can-i-use-azure-bastion-with-azure-private-dns-zones"  is not clear or wrong.

I have a VM and Bastion on same Vnet . This Vnet is linked to a private DNS zones and still I can access my VM via bastion. According to the document it is not possible. can you give clarity on the statement that you have written wit

[2021-04-22 10:51] wangzheng0310 opened #74199 "cannot use workspace managed identity on File Share datastore"
Hi,

The tutorial mentioned that in order to enable certain features in AML Studio in a vnet, we must enable managed identity authentication for the workspace default storage accounts (1 blob, 1 file share).

![Screenshot 2021-04-22 033322](https://user-images.githubusercontent.com/6865636/115700754-de108080-a31b-11eb-8470-50d5df88d9ec.png)

However, managed identity authentication seems not an op

[2021-04-22 10:53] andyturn31 opened #74200 "Is this feature still in Preview?"
Is this feature still in Preview?
I can't find a mention of it in Azure Updates:
https://azure.microsoft.com/en-gb/updates/?query=bastion

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e03fe8f3-cb91-cb10-8e72-5e6c6270f644
* Version Independent ID: c11d8e02-48e2-9250-fa59-3f00114c765c
* Content: [VNet peering an

[2021-04-22 10:56] mdrakiburrahman commented on #74165
@CHEEKATLAPRADEEP-MSFT thank you for reaffirming what the documentation says - we are aligned.

My point was, the screenshot above (that you shared) is showing the Azure-AutoResolveIntegrationRuntime (which is wrong) - the screenshot should be showing a Self-Hosted IR (as you have bolded) instead.

This screenshot can cause confusions, and should perhaps be updated with a Self-Hosted IR instead.

[2021-04-22 11:05] CHEEKATLAPRADEEP-MSFT commented on #74165
@mdrakiburrahman Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@viseshag Could you please update the screenshot which should point to Self-Hosted IR?

[2021-04-22 11:12] GitaraniSharma-MSFT commented on #74196
@chaisen2006 , thank you for your query. We'll review this and get back to you shortly!

[2021-04-22 11:13] GitaraniSharma-MSFT commented on #74200
@andyturn31 , thank you for your query. We'll review this and get back to you shortly!

[2021-04-22 11:16] GitaraniSharma-MSFT commented on #74198
@rajsshah86 , thank you for your feedback. We'll investigate this and get back to you shortly!

[2021-04-22 11:46] shashishailaj commented on #74179
@J-a-k-o-b Thank you for your feedback . The usageLocation attribute is surely not available in the on-premise ADDS . The similar attribute we have in the on-premise is msExchUsageLocation if you have Microsoft exchange in your on-premise environment or the schema for your Active directory is extended with exchange attributes.  The sync rule mappings are done for msExchUsageLocation attribute (on-