[2020-05-08 15:18] disaam01 commented on #52724
hi. does this work?
throws me an error in "public override void OnNewToken(string token)"

[2020-05-08 15:20] FMauroy commented on #53576
The first command that fails in ca-cert.ps1 is this one:
openssl req -new -x509 -config ...
when we try the "New-CACertsCertChain" command.

It fails with an "unknown option" message. So a best practice would be to enclose all paths with quotes (or double quotes?) to avoid any issue.

[2020-05-08 15:23] EsaFazal72 opened #54442 "AKS virtual node (ACI) pod execution error"
I have an AKS cluster with virtual-node enabled and I've been trying to run a pod in the virtual node (ACI) with Azure files storage mounted. But I keep getting an error within the pod:

Error message: `Pod kubelet-aci requires volume azure which is of an unsupported type`

The YAML configuration file of the pod :
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-05-08 15:23] SamaraSoucy-MSFT commented on #54416
@lokesh051  Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

The best place for specific answers about implementations are going to be the [Microsoft Q&A] (https://docs.microsoft.co

[2020-05-08 15:25] SamaraSoucy-MSFT commented on #54420
@aroje  Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

The best place for specific answers about implementations are going to be the [Office365](https://techcommunity.microsoft.co

[2020-05-08 15:26] EsaFazal72 opened #54443 "AKS virtual node (ACI) pod execution error"
I have an AKS cluster with virtual-node enabled and I've been trying to run a pod in the virtual node (ACI) with Azure files storage mounted. But I keep getting an error within the pod:

Error message: `Pod kubelet-aci requires volume azure which is of an unsupported type`

The YAML configuration file of the pod :
[code]
Please assist me with this issue.

---
#### Document Details

⚠ *Do not edit

[2020-05-08 15:28] SamaraSoucy-MSFT commented on #54420
@aroje This repository is for the Azure docs. Could you please post your question over at https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness which is the repo relevant to your issue?

The best place for specific answers about implementations are going to be the [Office 365](https://techcommunity.microsoft.com/t5/office-365/ct-p/Office365)and [Stack Overflow](stackoverflow.com) forums. We

[2020-05-08 15:31] SamaraSoucy-MSFT commented on #54203
Checking in to see if you could provide a link to the documentation you are having issues with. If I do not hear back within 24 hours I will mark this issue as resolved.

[2020-05-08 15:34] SamaraSoucy-MSFT commented on #54077
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-05-08 15:34] #54077 closed

[2020-05-08 15:36] SamaraSoucy-MSFT commented on #54352
Unfortunately, that a 3rd party site and I have no way to update their docs. I'd suggest posting an issue to their Github repo: https://github.com/kedacore/keda instead.

[2020-05-08 15:37] SnehaAgrawal-MSFT commented on #53672
@RonnieQuan just checking if have chance to see previous response.

[2020-05-08 15:38] SamaraSoucy-MSFT commented on #54351
Duplicate of #54352

[2020-05-08 15:38] jtuliani commented on #54439
Thanks for the quick response. Just one clarification...you said to avoid grouping more that 300 subscriptions in a single query, to avoid throttling. And you said by default the scope is all subscriptions in the tenant.

Suppose I have 600 subscriptions in my tenant (inc Lighthouse delegations) and I use the default scope (all subscriptions). Will that work, or is it likely to be throttled?

[2020-05-08 15:39] #54351 closed

[2020-05-08 15:41] DCtheGeek commented on #54439
That depends on a number of factors.  I'd simply try the query and see if you get throttled.  If not, carry on.  If you start getting throttled as resources and subscriptions grow, then check the [doc](https://docs.microsoft.com/azure/governance/resource-graph/concepts/guidance-for-throttled-requests) and make any necessary adjustments.

[2020-05-08 15:42] SaurabhSharma-MSFT commented on #54426
@jonwbstr Thanks for the feedback !  I have assigned this issue to content author to investigate and update the troubleshooting document as appropriate.
Also, I suggest you to please post Set-MsolUser expected error message as a feedback at [UserVoice](https://feedback.azure.com/forums/169401-azure-active-directory). This will allow the community to upvote and for the product team to include into

[2020-05-08 15:44] SaurabhSharma-MSFT commented on #54422
@bcraigie Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-08 15:44] SaurabhSharma-MSFT commented on #54409
@seephez Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-08 15:47] djpmsft commented on #54427
This is referring to loading the UX editor

[2020-05-08 15:47] djpmsft commented on #54427
#please-close

[2020-05-08 15:47] #54427 closed

[2020-05-08 15:56] wesmc7777 commented on #53650
@abatishchev The document is correct. You can retrieve the *iothubowner* connectionstring key for an IoT Hub that has already been created with the following CLI command:

[code]

However, this quickstart is doing that for you. The template instructions creating a mapping to the key so that after the IoT Hub and DPS resources are created, the IoT Hub is linked to the DPS resource using the key map

[2020-05-08 15:57] aholler2 opened #54447 "Syslogs on Linux App Service"
Is it possible to collect syslogs from Linux app service? Are these collected? If so, how do you enable them and where do they end up?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfc316af-0d30-b449-a04f-3019b7a16bc1
* Version Independent ID: 01c4c435-fda9-374a-70b3-f1d7f13c7651
* Content: [Enable diagnostics logging

[2020-05-08 16:06] udbach opened #54448 "Does Group Writeback feature allow updates to Azure AD ?"
There is a Hybrid AD environment setup, where In-house AD changes are automatically synced with Azure AD for specified user attributes on a set frequency.
And the requirement is to do other way, i.e Sync Azure AD user changes back to In-house AD.

Idea is to use Azure Graph APIs and do custom integrations from outside network, by keeping In-house AD within VPN.

Does "Group Writeback" feature does

[2020-05-08 16:08] udbach opened #54449 "Does Group Writeback feature allow updates ?"
There is a Hybrid AD environment setup, where In-house AD changes are automatically synced with Azure AD for specified user attributes on a set frequency.
And the requirement is to do other way, i.e Sync Azure AD user changes back to In-house AD.

Idea is to use Azure Graph APIs and do custom integrations from outside network, by keeping In-house AD within VPN.

Does "Group Writeback" feature does

[2020-05-08 16:12] mblanco77 commented on #54309
Hi this is explained in the link "adding new virtual network links"

[2020-05-08 16:14] udbach commented on #54449
What are the detailes steps to enable "Group writeback" feature ?

[2020-05-08 16:20] pamstat opened #54450 "Missing info regarding moving log analytics workspace"
Wondering whether a log analytics workspace can be moved from one resource group to another.  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23df5354-6833-a5da-0eb3-d860150c8b78
* Version Independent ID: 682ec206-0fda-3e0b-5841-543860a87e34
* Content: [Move operation support by resource type - Azure Resource Ma

[2020-05-08 16:25] arturzeitler commented on #53703
In my case
await client.receive(on_event=on_event)
worked, perfectly. (Python 3.7)

[2020-05-08 16:26] VikasPullagura-MSFT commented on #54437
@EsaFazal72 Thanks for posting your Question.
I see this as a duplicate of [54438](https://github.com/MicrosoftDocs/azure-docs/issues/54438).
Hence closing this.

[2020-05-08 16:26] #54437 closed

[2020-05-08 16:30] Phydeauxman commented on #13291
@yoshioterada it was due to domain name we were using in the connected site. Apple reserves some domains within their OS and we just happen to use one of those in the site were connecting to. The domain suffix in particular that was causing the conflict was `.local`

[2020-05-08 16:31] fmms commented on #42240
Unfortunately I have the same issue and a reboot did not help. The connection check says everything is perfect:
![image](https://user-images.githubusercontent.com/908734/81426831-08dce580-915a-11ea-8b6f-f915c29aac15.png)

However when trying to connect I do get "Connecting to VPN server failed with exception: No such host is known.".

Any idea what to look for?

[2020-05-08 16:31] aroje commented on #54420
Hello,
Since this is not an an issue related to Docs, but to MS Teams itself, you can remove it from here.
Thank you,
Ana

[2020-05-08 16:31] #54420 closed

[2020-05-08 16:32] VikasPullagura-MSFT commented on #54438
@EsaFazal72 Thanks for posting your Question.
I see there are multiple issues opened for same query. [54438](https://github.com/MicrosoftDocs/azure-docs/issues/54438), [54437](https://github.com/MicrosoftDocs/azure-docs/issues/54437), [54442](https://github.com/MicrosoftDocs/azure-docs/issues/54442).
Hence closing this duplicate issue.
Original Issue [54443](https://github.com/MicrosoftDocs/azure-

[2020-05-08 16:32] #54438 closed

[2020-05-08 16:32] VikasPullagura-MSFT commented on #54442
@EsaFazal72 Thanks for posting your Question.
I see there are multiple issues opened for same query. [54438](https://github.com/MicrosoftDocs/azure-docs/issues/54438), [54437](https://github.com/MicrosoftDocs/azure-docs/issues/54437), [54442](https://github.com/MicrosoftDocs/azure-docs/issues/54442).
Hence closing this duplicate issue.
Original Issue [54443](https://github.com/MicrosoftDocs/azure-

[2020-05-08 16:32] #54442 closed

[2020-05-08 16:33] abatishchev commented on #53650
Hi,
The document mentions type `Microsoft.Devices/IotHubs/IotHubKeys` which doesn't exist. So I don't see the document is correct.

[2020-05-08 16:35] ecfan commented on #54413
Hi @Stephvan, thanks for reaching out. I'm investigating with the engineering team.

[2020-05-08 16:38] PeterCLu commented on #52295
#please-close

[2020-05-08 16:38] #52295 closed

[2020-05-08 16:41] rolyon commented on #53213
Hi @jiasli
Thanks for your feedback. This example shows the capping for PowerShell, which most customers use. I will update the docs to make this more clear.
thanks

[2020-05-08 16:41] bandersmsft commented on #47577
@TheKangaroo @littlenomads @cmbaconsulting Per the enginnering team, deleting resources isn't required, but is recommended.

Updated the article with https://github.com/MicrosoftDocs/azure-docs-pr/pull/114505 for clarity.

#please-close

[2020-05-08 16:41] #47577 closed

[2020-05-08 16:41] PeterCLu commented on #54056
Hi @andreas-wilm, thanks for your report. Our documentation team has been notified of your requestl and a work item has been added to the documentation backlog. #please-close

[2020-05-08 16:41] #54056 closed

[2020-05-08 16:44] rolyon commented on #53680
Hi @kilasuit
Thanks for your feedback. I'll work on adding an example for a resource.
thanks

[2020-05-08 16:48] NavtejSaini-MSFT commented on #54397
@vaibhavramdasi We are checking this and will get back to you.

[2020-05-08 16:48] asudbring commented on #37214
#reassign:@mdgattuso

[2020-05-08 16:49] asudbring commented on #33617
#reassign:@mdgattuso

[2020-05-08 16:51] asudbring commented on #54265
Assigning to PM for review

#reassign:@mdgattuso

[2020-05-08 16:52] asudbring commented on #53862
Sending to PM for review
#reassign:@mdgattuso

[2020-05-08 16:52] nitinkhandelwal26 commented on #36941
root@iotedge:/home/iotadm# iotedge restart edgeAgent && iotedge restart edgeHub
edgeAgent
A module runtime error occurred
        caused by: Could not restart module edgeHub
        caused by: Client error

[2020-05-08 16:52] doc-rj-celltrak commented on #54365
Ok, thanks @shashishailaj

[2020-05-08 16:53] asudbring commented on #53854
Assigning to PM for review
#reassign:@christiankuhtz

[2020-05-08 16:53] asudbring commented on #53626
Assigning to PM for review
#reassign:@mdgattuso

[2020-05-08 16:54] PeterCLu commented on #53364
Hi @djpugh, the product team is aware of this bug and is working on a fix. I'll proceed to #please-close this issue.

https://dev.azure.com/msdata/vienna/_workitems/edit/727132/?triage=true

[2020-05-08 16:54] #53364 closed

[2020-05-08 16:54] asudbring commented on #53310
Article has been rewritten and that section was changed

#please-close

[2020-05-08 16:54] #53310 closed

[2020-05-08 16:55] asudbring commented on #53706
Assigning to the PM for review
#reassign:@mdgattuso

[2020-05-08 16:56] GiftA-MSFT commented on #54419
@moudgilatul9 we will review your feedback and get back to you shortly. Thanks.

[2020-05-08 16:57] GiftA-MSFT commented on #54418
@naveenambitious we will review your feedback and get back to you shortly. Thanks.

[2020-05-08 16:58] GiftA-MSFT commented on #54408
@damochiz we will review your feedback and get back to you shortly. Thanks.

[2020-05-08 16:59] GiftA-MSFT commented on #54402
@dashesy we will review your feedback and get back to you shortly. Thanks.

[2020-05-08 16:59] Shorinsean commented on #54104
There are multiple complications  - comments inline below.
a couple of scenarios where this won’t work.

The second is that CNAMEs

Thanks,

Sean

From: ruairidhlc <notifications@github.com>
Sent: Thursday, May 7, 2020 2:02 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Sean Deuby <Sean@enterpriseidentity.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/a

[2020-05-08 17:02] wesmc7777 commented on #53650
You'll find `Microsoft.Devices/iotHubs/iotHubKeys` in the [Operations List for DPS](https://docs.microsoft.com/en-us/rest/api/iot-dps/operations/list)...

[code]

[2020-05-08 17:03] TimothyMothra commented on #54389
Hello, I'm an engineer on the C# SDK.
Yes, we introduced this breaking change, it was necessary to fix a privacy bug.
As of today, this does not affect the Status Monitor v2 product because they are not on the latest version of our SDK.
We've been in communication with that team so that they make this change when they update.

@ank3it, @mrbullwinkle

[2020-05-08 17:06] arizzi12 commented on #52176
fixed this with an env variable. now getting: An unhandled exception occurred while processing the request.
SqlException: Invalid object name 'Todo'

thinking the db didn't actually upload? sorry, thx for the guidance...

[2020-05-08 17:08] Mike-Ubezzi-MSFT commented on #54194
@RobinHSanner There is a link to the complete project. I spent quite some time last night going through this tutorial, both in respect to the steps outlined in the document and checking on the complete project by comparing the code snippet in the doc with the complete project. The StartUp.cs file was the only doc issue I could find as it pertains to the using directives. The project itself may hav

[2020-05-08 17:12] PeterCLu commented on #54134
Hi @ashoksamal6363 thanks for your report. This appears to be a technical support request. This repo issues track against documentation issues. You can file a support ticket in the Azure portal by selecting the question mark (?) icon in the upper right hand corner of the portal. Then, select **New support request**.

![image](https://user-images.githubusercontent.com/10505176/81430408-356e0e80-911

[2020-05-08 17:12] #54134 closed

[2020-05-08 17:14] roygara commented on #54404
@olavt Thanks for reaching out, the article documents which regions ultra is in, as well as which series of VM supports ultra disk, in the [ga-scope-and-limitations](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/disks-types#ga-scope-and-limitations) heading. It does not, and cannot, give an exact list of the region matchups. There is no article that has a list of the regional avail

[2020-05-08 17:14] #54404 closed

[2020-05-08 17:15] SpaceKatt opened #54453 "TPM udev rules for `iotedge` security daemon setup incomplete"
Please change the documentation to incorporate the extra field in the udev rules listed under **Solution**.

**Problem**

I was receiving an error while starting up the IoT Edge Security Daemon, while using a TPM to authenticate with a DPS.

[code]

OS info:
[code]

**Solution**

Changing the `udev` rules to include the `OWNER` attribute solved my issue

Before

[code]

After

[code]

---
#### Doc

[2020-05-08 17:21] doc-rj-celltrak commented on #54365
In case it helps, another AWS reference is found under the header "To set up the SAML IdP to add a signing certificate" on this [page](https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-identity-provider.html#cognito-user-pools-saml-providers).

[2020-05-08 17:21] mailtogurvindersingh opened #54454 "broken link"
the link on the FQA is broken

it gives 404
(https://docs.microsoft.com/azure/load-balancer/concepts-limitations#load-balancer-types).

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26f2ee4c-633b-8579-47e1-1543db5acaeb
* Version Independent ID: 0baa18b9-14ca-1703-ba64-f036ec39b639
* Content: [Fre

[2020-05-08 17:25] Grace-MacJones-MSFT commented on #54429
Hi @werkilla, Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-08 17:25] Mike-Ubezzi-MSFT commented on #54410
@minascasiou Thank you for bringing this to our attention. Let me step through this and identify any corrections that may need to be made.

[2020-05-08 17:25] bigdatamoore opened #54455 "Issue getting container working following these steps"
Following these steps, we are unable to get this to work.  The Dockerfile appears to be missing the last two lines with the CMD to start the services.   We were able to get it working if we use pip requirements instead of Conda.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5111706-3d4f-f436-5f72-49b879c8d3fa
* Versi

[2020-05-08 17:26] Grace-MacJones-MSFT commented on #54447
Hi @aholler2, Thanks for the Comment. We are actively investigating and will get back to you soon.

[2020-05-08 17:32] rafaheringer opened #54456 "Azure don't let create Azure Functions on existing Consumption Plan"
Today the Azure don't let create new Azure Function on existing Consumption Plans. I don't know why and I don't find any documentation about this recent change. When I create the Function App, if I select the Plan Type Consumption  (Serveless), the input with Plan selection disappears. And, when I finally Review And Create, on ASP is automatically created with default nomenclature (like ASP-{myres

[2020-05-08 17:37] GiftA-MSFT commented on #54419
@moudgilatul9 there's no way to migrate Studio (classic) assets to Azure Machine Learning designer (preview) at the moment. We don't have public information on when this migration feature will be available. Please continue to check our [release notes](https://docs.microsoft.com/en-us/azure/machine-learning/azure-machine-learning-release-notes) for updates. Thanks.

[2020-05-08 17:37] #54419 closed

[2020-05-08 17:39] markarnolditpro opened #54457 "How to verify settings on App Service?"
Once settings are deployed to the app service, is there a way to visualize the values on the app service itself?  Historically I could go to the cmd prompt on the app service and check the environment variables for instance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 876582b8-4dd5-387d-a6fd-7d9becf2968b
* Version I

[2020-05-08 18:13] ctimon opened #54459 "Snapshots are not a valid backup strategy"
Back in my days in Customer Support, we never considered snapshots to be a valid backup strategy. You either used Windows Backup or a 3rd party solution. It should be no different in Azure. Azure Backup should be the backup strategy for virtual machines.  Snapshots do have a purpose in some scenarios like 'testing', 'troubleshooting' and as part of a patching evolution in case something goes wrong

[2020-05-08 18:22] mrbullwinkle commented on #54396
#assign:mrbullwinkle

[2020-05-08 18:27] CristianBerlingo opened #54460 "Setting "Treat application as a public client" is missed"
Hi!

The option "Treat application as a public client" isn't available in App registrations (Preview). How can we set up it?
![image](https://user-images.githubusercontent.com/26780719/81436060-2e102a80-913f-11ea-9548-6c55e8f1b06c.png)

In the portal of Azure the options available in the Authentication section are the following:
![image](https://user-images.githubusercontent.com/26780719/81436720-

[2020-05-08 18:29] GreenReaper opened #54462 "Addition of Standard CDN from Microsoft POP locations"
This page does not cover the Standard CDN from Microsoft - which is unfortunate if you're using it, as many of the number of its POPs show up in the new raw logs but are not listed here, and are not immediately obvious.

Some clear if you know airport symbols:

- DXB appears to be Dubai (was hit from Pakistan)
- CPT is Cape Town
- HK is Hong Kong
- SG is Singapore
- TYO is Tokyo
- MNL is Manila
-

[2020-05-08 18:33] ealsur commented on #54194
The sample does work with the Emulator, just need to specify the emulator connection information on the `appsettings.json`:
![image](https://user-images.githubusercontent.com/1633401/81433728-e6c37300-9119-11ea-88d3-fbc7b665d3cc.png)

@Mike-Ubezzi-MSFT I cloned the Github repo, replaced the keys and ran it (through `dotnet run` and from inside VS), and the code ran without any error. I didn't have

[2020-05-08 18:36] burstingninja opened #54463 "Budget Alert not considering Bandwidth"
I set an alert for 50 dollars in a resource group and its currently at 59.99 according to the budget alert it has only spent a little over 5 dollars; most of the cost is being generated by the bandwidth of a virtual machine,  which as of now is of 52 dollars. according to the cost Analysis tool. I should have received an alert by now, but because of budget alert is ignoring the bandwidth this has

[2020-05-08 18:41] bandersmsft commented on #48537
@rich-davies Thanks for raising this issue. It looks like there were changes to the cancel permssions. Contributors can't cancel a subscription any longer. Updated article with https://github.com/MicrosoftDocs/azure-docs-pr/pull/114540
#please-close

[2020-05-08 18:41] #48537 closed

[2020-05-08 18:44] kgremban commented on #53576
Oh, I see. I was misunderstanding your original issue to mean that the errors were in the command line samples, not within the scripts themselves. Let me look into the process for updating those and I'll get back to you. Thanks for the extra information!

[2020-05-08 18:46] MGoedtel commented on #50331
We've made a number of recent changes to the content to make it clear about using internal versus external cmdlets with Automation runbooks and this should address your feedback.  We also no longer reference the PowerShell ISE add-on for editing/testing runbooks outside of the Runbook authoring experience in the portal.  Our recommendation continues to be that you manage editing/managing runbook l

[2020-05-08 18:46] #50331 closed

[2020-05-08 18:48] mike-urnun-msft commented on #54384
Hello @boreys - Portal makes requests to ARM REST API endpoints, so you should definitely be able to translate anything done in Portal to Powershell or Azure CLI script for your automation needs.

[2020-05-08 18:49] pigualada commented on #54460
I solved it editing Manifest with the following line:
"allowPublicClient": true

If you don't do it, just when you try to login, password is not recognized

[2020-05-08 18:49] Hasil-Sharma opened #54464 "Running AppendVariable Activity in Parallel using ForEach Activity"
Hey,

I've an AppendVariable activity within a ForEach activity which has an array input. For each of the values in input array AppendVariable appends some value to an output array. All execution of AppendVariable append to the output array.

I want to understand the behavior of AppendVariable activity when multiple such activities are executed in parallel on same array. Is it possible that output

[2020-05-08 18:51] SHAGGAR commented on #54017
@neeleshray-msft This is exactly what I needed to know.  Thanks!

[2020-05-08 18:51] #54017 closed

[2020-05-08 18:54] SamaraSoucy-MSFT commented on #54457
Thanks for the question! We will review and get back to you shortly.

[2020-05-08 18:58] arizzi12 commented on #52176
thoughts? please...

[2020-05-08 18:59] CristianBerlingo commented on #54460
@pigualada Thank you very much! that works for me.
It would be great that Microsoft's people update the documentation with this.

[2020-05-08 19:06] Hasil-Sharma commented on #54369
Thanks

[2020-05-08 19:06] #54369 closed

[2020-05-08 19:06] mike-urnun-msft commented on #54334
@manish-jain-1 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-08 19:06] #54334 closed

[2020-05-08 19:06] mike-urnun-msft commented on #54201
@vvolodin Since we haven't heard back, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-08 19:06] #54201 closed

[2020-05-08 19:07] SaurabhSharma-MSFT commented on #54312
@DeanGross Please refer to [blog ](https://guides.appriver.com/m/89074/l/821381-how-to-sync-usage-location-to-o365-with-ad-sync) for updating location in Azure AD connect. Also, refer to know more about [configuration editor](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sync-change-the-configuration)

[2020-05-08 19:14] RavulaChetan opened #54465 "Allow Access from Azure Portal checkbox"
When using powershell to add Virtual Networks to Cosmos DB.
checkbox "Allow access from Azure Portal" gets disabled. Is  there a way to enable it as part of added virtual networks.

Powershell command i am using to add networks
Update-AzCosmosDBAccount `
   -ResourceGroupName $resourceGroupName `
   -Name $accountName `
   -EnableVirtualNetwork $true `
   -VirtualNetworkRuleObject @($vnetRule)

[2020-05-08 19:21] Grace-MacJones-MSFT commented on #52176
Hi @arizzi12, apologies for the frustration this issue may have caused. This will require deeper investigation. Send us an email AzCommunity[at]microsoft[dot]com ATTN: Grace as the subject. please include your subscription ID and the link to this thread to we can enable one-time free support for you.

[2020-05-08 19:22] jlian commented on #51932
It turns out we had an additional PR to merge, which happened a couple days ago https://github.com/Azure/azure-rest-api-specs/pull/9162

As a result, the ARM template schema was automatically updated 2 days ago https://github.com/Azure/azure-resource-manager-schemas/blob/master/schemas/2020-03-01/Microsoft.Devices.json

So ARM template would work for folks using API. But the portal still needs som

[2020-05-08 19:24] ecfan commented on #52956
Hi @GiantCrocodile,

The topic is now updated with a new section for how to use GET parameters: https://docs.microsoft.com/azure/logic-apps/logic-apps-http-endpoint#accept-parameters-in-endpoint-url

[2020-05-08 19:26] arizzi12 commented on #52176
all good...got it working...db never made it up to azure...ty...sorry for the wasted time :-)

[2020-05-08 19:27] anishjaindev opened #54466 "Job Database can be same as Target Database"
Hello,

Hope you'll are doing good. I have a small job to be triggered on schedule on one of the table in my database.

Can I create a job agent on the same database as Target Database considering it is only one job and scheduled run.

Please guide me on the same.

Thanks.

[2020-05-08 19:27] Grace-MacJones-MSFT commented on #52176
@arizzi12 no problem. Glad you were able to get it working :)

[2020-05-08 19:33] aka5h2017 commented on #44375
@msrini-MSFT will it overwrite existing managed rules?

[2020-05-08 19:34] #41015 closed

[2020-05-08 19:39] buildtrue opened #54467 "What about existing WAF instances?"
The Closed feedback with this title ("What about existing WAF instances?") seems unresolved.

Could someone address the central question in that feedback, or reopen it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55f82804-ee47-ea10-8cfc-9ad8cad0cf0e
* Version Independent ID: 20be6e1c-3f35-de50-df18-2b4669497ac8
* Co

[2020-05-08 19:47] christianse2 opened #54468 "Not working when using api server authorized-ip-ranges"
The documentation has a note that this won't work with private clusters but there is no mention that this functionality requires a public exposed API and will stop working when restricting the API with authorized IP ranges.

Are there any plans to automatically add the required Azure IP's to make this service work? Like how the cluster IP's are allowed by default beside the IP's defined by the use

[2020-05-08 19:56] DCtheGeek commented on #54439
@jtuliani Since this is a product question and not a docs question and I believe I've answered it, I'm going to go ahead and close this issue.  Thanks again for the question!

@MicrosoftDocs/azure-cxp-triage #please-close

[2020-05-08 19:56] #54439 closed

[2020-05-08 19:59] mike-urnun-msft commented on #54423
@dudu-markovitz Thank you for your feedback! We will review and update as appropriate.

[2020-05-08 20:00] kummanish commented on #50302
Currently Vnet service endpoint can only use the VNet in the same region. We do not support cross region VNet support. https://docs.microsoft.com/en-us/azure/postgresql/concepts-data-access-and-security-vnet#only-one-geographic-region

[2020-05-08 20:01] kummanish commented on #50302
@NavtejSaini-MSFT let me know if there is any more update needed here.

[2020-05-08 20:02] SamaraSoucy-MSFT commented on #54462
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2020-05-08 20:03] SamaraSoucy-MSFT commented on #54465
@RavulaChetan Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

The best place for specific answers about implementations are going to be the [Microsoft Q&A ](https://docs.microsoft.

[2020-05-08 20:04] SamaraSoucy-MSFT commented on #54466
@anishjaindev Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

The best place for specific answers about implementations are going to be the [Microsoft Q&A ](https://docs.microsoft.

[2020-05-08 20:06] SamaraSoucy-MSFT commented on #54358
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2020-05-08 20:08] lobrien commented on #53793
As far as I can tell, this is not a docs issue. I do not see how I can help further.

#assign @YutongTie-MSFT

[2020-05-08 20:09] anlucen commented on #54126
Hey team, this documentation needs be to include the RDP https://docs.microsoft.com/en-us/windows/client-management/connect-to-remote-aadj-pc.

[2020-05-08 20:11] seankearney commented on #39361
A valid scenario where you wouldn't have an `ApplicationInsights.config` file is when you are developing a Function app. All documentation indicates you just need to set `APPINSIGHTS_INSTRUMENTATIONKEY` in your your `host.json` (or `local.settings.json`) file. While this should work for actual App Insights, no data is available in Visual Studio. Adding an empty `ApplicationInsights.config` file do

[2020-05-08 20:15] ecfan commented on #54413
Hi @Stephvan,

The feature is still stuck in deployment and won't appear live until Monday. Please accept our apologies for the confusion! A new **Authorization** option should then appear on the logic app's **Settings** menu. The **Identity** option is for enabling system-assigned or user-assigned identities.

[2020-05-08 20:16] ecfan commented on #54413
@mike-urnun-msft: This issue is actually a product issue, and no changes are required for the docs.

[2020-05-08 20:17] kummanish commented on #54350
@NavtejSaini-MSFT  this would be due to a basic server being used. Private link is only available for General purpose and Memory optimized tier. https://docs.microsoft.com/en-us/azure/postgresql/concepts-data-access-and-security-private-link

[2020-05-08 20:19] Karishma-Tiwari-MSFT commented on #54443
Thanks for the question. We are currently investigating and will update you shortly.

[2020-05-08 20:20] Karishma-Tiwari-MSFT commented on #54428
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-08 20:24] anishjaindev commented on #54466
Thanks @SamaraSoucy-MSFT. Apologies for posting the query in the wrong forum. but could you please provide me the correct link for posting my query on technical implementation on Azure SQL jobs.

[2020-05-08 20:24] PrometheusRising1 opened #54470 "Clarify if SQL Server IaaS Extension is Necessary"
One way of reading the Important section seems to imply that the VM extension is required to create a failover cluster instance and this does not appear to be the case.  Please clarify if this is required or not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45511218-137b-ba77-3e15-8af90f16c05b
* Version Independent I

[2020-05-08 20:28] RonnieQuan commented on #54350
Thank you for the information.

[2020-05-08 20:28] #54350 closed

[2020-05-08 20:31] ederbond opened #54471 "Documentation out-dated regarding to client-side .NET SDK support for managing installations."
On this part of the documentation,
https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-push-notification-registration-management#installations

it still says that about installations, "However, it is not supported by client-side .NET SDK (Notification Hub SDK for backend operations) "
However I think this is not the case anymore cause the latest version of that package alrea

[2020-05-08 20:31] RonnieQuan commented on #53935
Thanks for the info, I'm trying to understand if the notification hub can run without private vnet or anything like vnet integration, looks like, will use IAM authentication as security control.

[2020-05-08 20:31] #53935 closed

[2020-05-08 20:33] RonnieQuan commented on #53934
That's fine, since the document mentioned federated authentication, but there is no any detail about it, that's why I tried to clarify.

[2020-05-08 20:35] ederbond opened #54472 "Code example that makes no sense"
On the first block of code example of this section:
https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-push-notification-registration-management#example-code-to-register-with-a-notification-hub-from-a-device-using-an-installation

There's a bunch of "free" (not enclosed by a class) declaration of variables mixed with another class and methods.
If that code of block is suppo

[2020-05-08 20:36] RonnieQuan commented on #53672
@SnehaAgrawal-MSFT  In my case, I don't use ASE, I use vnet integration feature for PaaS app service, I woudl assume it requires same RBAC permission

[2020-05-08 20:49] bandersmsft commented on #54463
@burstingninja Can you clarify a bit so that I can help? What did you set the budget amount to? What value did you set the alert condition to? It sounds like 50. It sounds like your evaluated spend shown in budgets is $52.00. What's the current progress % for the budget?

[2020-05-08 20:50] jluk commented on #54162
ACI does not support managed disks as a volume yet. cc @macolso

ACI supports azure files with this document:
https://docs.microsoft.com/en-us/azure/container-instances/container-instances-volume-azure-files

[2020-05-08 20:52] jluk commented on #53947
@VikasPullagura-MSFT this is an ACR credential issue, not an AKS issue - please request ACR for troubleshooting.

Please verify the credentials setup to pull from the private registry is correct. It also looks like you are pulling ACI containergroups as well.

[2020-05-08 20:52] santhoshbomma9 opened #54473 "any where I can see default region vcpus limits?"
hi team, Can I see if there is a page which shows default regional vcpu limits by region please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4ceb778-b895-8e58-033a-b997eaa77935
* Version Independent ID: 1c6eeec2-f7f9-23f4-f018-ccd7add31846
* Content: [Spot virtual machine quota - Azure](https://docs.microsoft.com/e

[2020-05-08 20:54] gstevens-kyriba commented on #43248
OH, BUT IT IS POSSIBLE....

NAME	TYPE		LOCATION
asp-kyr-gwy-qa	App Service plan	Linux ASP	West US 2
kyr-cashflow-qa	Service Fabric cluster	Linux SF Cluster	West US 2
kyr-cashflow-qa-nsg	Network security group	NSG	West US 2
kyr-frontend-qa	App Service plan	Windows ASP	West US 2
kyr-frontend-qa	App Service	Windows App Service 	West US 2
kyr-gateway-qa	Public IP address	IP	West US 2
kyr-gwy-qa	App Se

[2020-05-08 20:55] Mike-Ubezzi-MSFT commented on #53694
@rockboyfor Do you have an example document you can share where you are running this query?
We will now proceed to close this thread. If you can provide an example document I would be happy to investigate this issue further. This channel is specific to raising documentation issues. If you have a specific implementation issue you require assistance with, please post your inquiry on [Stack Overflow]

[2020-05-08 20:55] #53694 closed

[2020-05-08 20:58] beelesnik commented on #50302
Thank You

[2020-05-08 20:58] #50302 closed

[2020-05-08 21:01] TravisCragg-MSFT commented on #54386
@RonnieQuan Some features of application gateway require outbound connectivity to function, like DNS, health probes, and metrics.

Blocking outbound internet connectivity is not recommended, but might be something you will be able to get working.

[2020-05-08 21:03] TravisCragg-MSFT commented on #54001
@Broker80 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-08 21:03] #54001 closed

[2020-05-08 21:03] JiwanMS commented on #43248
@oviliz Yes, I am creating the app service plan in the same region. There are a number of other resources in that RG and it wont be possible to delete everything. I have tried deleting all the app service, functions and app service plan. I am going to run the test again this weekend and provide you with the tracking ID that i get from the error while creating the linux app service plan.

[2020-05-08 21:04] boreys commented on #54384
@mike-urnun-msft the goal is auto generate OpenAPI from Azure Function Javascript code. If you ever use Swashbukle lib above, it does that. then Powershell script is used to automate deployment API to APIM. The tutorial is the reverse of the real world use case.

[2020-05-08 21:04] AzureAzim opened #54475 "A little additional clarity on the permission scope"
It is unclear how to add this permission scope: /providers/microsoft.insights/eventtypes/management

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 564fcf4e-69b9-a8b0-a362-c4effeca4a8b
* Version Independent ID: 7ae1feea-e9ca-bc0a-c984-81b19f4339b8
* Content: [Grant access to create Azure Enterprise subscriptions - Azure

[2020-05-08 21:06] MartinJaffer-MSFT commented on #54317
Yes, @CharmanderJieniJieni  that is correct.
Create a named location for your on-prem, and mark it as trusted location.
Create a policy which denies all except that named location.

Let me know if you have any trouble, and we can re-open the issue.

[2020-05-08 21:06] #54317 closed

[2020-05-08 21:07] kroymann commented on #24239
@JeremyWeir While the issue you linked is related to this one, they do not seem to be the same problem.  As I understood it, this issue here was focused on exposing metrics from the read scale-out replicas that could then be used like any other Azure metric (ie: building charts, creating automated alerts, etc), which is related to but separate from having the Query Store enabled for read-only repl

[2020-05-08 21:08] Mike-Ubezzi-MSFT commented on #54194
@ealsur Thank you so much for the explanation. I did in fact use a different project name (ToDoItems) and have all the namespace references updated.

I do have one question with regard to CompatibilityVersion. I guess using VS2019 will default to .NET Core 3 where 2x will be flagged as a warning.

`services.AddMvc().SetCompatibilityVersion(CompatibilityVersion.Version_2_1);`

![Screenshot (953)](h

[2020-05-08 21:13] v-radelg opened #54478 "Feedback. 001"
@akdae commented 13 hours ago — with docs.microsoft.com

We are in the process of adding TomTom to the list of subcontractors for online services, described in the Usage section of this document. ], “Currently in preview stage. ],
When creating a demo application based on the document, the map that should be displayed on the screen is not displayed, or it appears in the development tool, an error

[2020-05-08 21:17] JeremyWeir commented on #24239
@kroymann Good point, I think I came to assume that Query Store was what powered the metrics we see for Azure SQL databases, but whether or not that is the case, you're right, any metrics we can get outside of Query Store would be helpful.

[2020-05-08 21:18] Alucardz commented on #54072
We are getting the "py4j.security.Py4JSecurityException: … is not whitelisted" error on a high-concurrency cluster that does not have credential passthrough enabled. How is that possible? We're using a service principal to access ADLS Gen2.

[2020-05-08 21:19] ealsur commented on #54194
Correct, that's why I updated the sample and that Compatibility code is no longer there. The article should get updated too, although I'm not sure what's the automatic update frequency.

[2020-05-08 21:19] v-radelg opened #54479 "Incomplete code"
@peetronix commented 5 hours ago — with docs.microsoft.com

The following line is required at the end of the code to display the image: plt.show()

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7dd31cc0-0bff-8bb0-f848-d048eb0bf53e
* Version Independent ID: 639d27af-330f-2377-72ed-47e2b913c1d9
* Content: [Quickstart: An

[2020-05-08 21:24] TravisCragg-MSFT commented on #54291
@viju2008 Unfortunately no Cognitive Services are enabled for service endpoints at this time. If you would like us to add this in the future, please leave your feedback here at [Azure Networking's feedback.azure.com page](https://feedback.azure.com/forums/217313-networking).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply

[2020-05-08 21:24] #54291 closed

[2020-05-08 21:26] burstingninja commented on #54463
At Cost Management > Budget:
I set a budget of 50 dollars.
The condition was to send me an email when it reached 90%.
According to the budget, my current evaluated spend is of $5.45 with a progress of 10.91%
The progress formula is correct; but the evaluated spend is wrong.

*From my understanding the evaluated spend is wrong compared to the information provided by cost Analysis.

When I go to Cos

[2020-05-08 21:33] KranthiPakala-MSFT commented on #54032
@DaveVoyles I have escalated this issue internally. Will keep you posted as soon as I have a response.
Thanks!

[2020-05-08 21:34] bandersmsft commented on #54463
@burstingninja Investigating with the enginnering team. In the meantime, Bandwidth is a reported cost from meter category so it’s costs are shown in Cost Management. So, bandwidth costs (if used by resources in the budgeted resource group) should be monitored by the budget. I'll get back to you after team investigation.

[2020-05-08 21:38] burstingninja commented on #54463
@bandersmsft
Here I can provide additional screen captures:
From budgets
![image](https://user-images.githubusercontent.com/7752099/81451294-c6131180-9149-11ea-8b59-a48dc58aae5e.png)
From Cost Analysis without applying the budget to the view:
![image](https://user-images.githubusercontent.com/7752099/81451361-f3f85600-9149-11ea-83fb-e143fe7052c8.png)
From Cost Analysis, applying the budget to the

[2020-05-08 21:38] MarileeTurscak-MSFT commented on #54460
@ChristianBerlingo, thanks for the feedback! Looking into this.

[2020-05-08 21:39] kiwiant commented on #54389
Understand the necessity of the change and agree with it.

My goal was to communicate to the community this change to avoid hours of lost time investigating. A document on troubleshooting known issues on Azure Monitor seems like an ideal place to communicate this breaking change.

We are using Az.ApplicationMonitor 1.1.0 on-prem with version 2.14 of the Nuget packages and were directly affected us

[2020-05-08 21:44] TimothyMothra commented on #54389
I'm sorry to hear you were affected by our change. In the future, feel free to ask us questions on our github! We try to have conversations about topics like this publically so they get indexed by search engines.

I'm curious to hear more about your use case.
The Az.ApplicationMonitor product will back off if your application is already instrumented with our SDK.
I assume you're using Az.Applicati

[2020-05-08 21:46] bandersmsft commented on #54463
@burstingninja Okay, we'll looking at your screenshots.

Budget evaluation runs every 20 hours. When you created the budget, under **Budget Scoping**, did you click **Add filter** > **ResourceGroupName** and select the resource group that contains your VM?

[2020-05-08 21:48] burstingninja commented on #54463
yes, the Budget Scoping is at ResourceGroupName level

[2020-05-08 21:49] SaurabhSharma-MSFT commented on #54449
@udbach Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-08 21:52] GiantCrocodile commented on #52956
There's a small issue @ecfan. The signature GET variable is replaced by a several Z characters like `ZZZZZZZZZZZZZZZZZZZZZZZZZZZZ` in the article. This should be replaced with `{shared-access-signature}` to make it easier to understand and to match with other parts of the article.

[2020-05-08 21:56] slsu0424 commented on #53793
Thank you for your help!  Yes, if this is a product issue, I would appreciate if the product team could look into this and provide feedback on the issues I am seeing.

[2020-05-08 22:03] ealsur commented on #54194
The new ConfigureServices snippet looks like:

![image](https://user-images.githubusercontent.com/1633401/81452936-20f23c00-913d-11ea-9ec5-08bdfe510f02.png)

[2020-05-08 22:04] cananac opened #54480 "ATP settings not supported for key vaults"
Hi,

When I enable ATP for Key Vaults on Security Center and call ATP API (https://docs.microsoft.com/en-us/rest/api/securitycenter/advancedthreatprotection/get) for one of my key vaults to check if it is enabled or not, I get the error below. But the same API works for storage accounts. And also storage accounts have Advanced Security settings section on portal where the enablement can be seen.
S

[2020-05-08 22:07] joeri-juramento opened #54481 "Reference & Relation to FIDO2 / Passwordless login"
I am a missing a reference on this page to FIDO2 / Passwordless login (with Security Key).
I misread the table of what you can and cannot do with Security Defaults.
The "hardware token" is apparently not a reference to a Security Key using FIDO2.
Maybe a note-box can be more explicit.
I read this:

&gt;(Verification code from mobile app) or hardware token

but you meant this:

&gt;Verification cod

[2020-05-08 22:07] kiwiant commented on #54389
Correct Az.ApplicationMonitor to collect SQL command text. We were using the Status Monitor but after the upgrade we lost the SQL command text. More interestingly this was a partial loss as some (not all) store procedure calls showed.

In hindsight this may have coincided with the the use of the 2.14 Application Insights packages. The eventually solution 2.15 beta and the use of the EnableSqlComma

[2020-05-08 22:07] ecfan commented on #52956
@GiantCrocodile, thanks for your feedback. The fictitious values will be replaced with the parameter descriptions instead.

[2020-05-08 22:15] aahill commented on #54326
Hi @codenclick thanks for reaching out. Is this regarding version 3 of the API, using Python? If so, the `inputs` parameter has been renamed `documents` in a [recent release](https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md#change-log-azure-ai-textanalytics) of the SDK.

I was able to run the current code in the article, try updating y

[2020-05-08 22:15] #54326 closed

[2020-05-08 22:20] rolyon commented on #54316
Hi @harouny
We published a doc update that hopefully makes this more clear.
https://docs.microsoft.com/en-us/azure/role-based-access-control/overview
thanks

[2020-05-08 22:20] rolyon commented on #54316
#please-close

[2020-05-08 22:20] #54316 closed

[2020-05-08 22:24] rolyon commented on #53213
Hi @jiasli
We published a doc update that hopefully makes this more clear.
https://docs.microsoft.com/en-us/azure/role-based-access-control/custom-roles
If you have any additional feedback, feel free to reopen this issue.
thanks

[2020-05-08 22:25] rolyon commented on #53213
#please-close

[2020-05-08 22:25] #53213 closed

[2020-05-08 22:33] JohnKozell opened #54482 "I don't see "autoComplete" documented as used for the ServiceBusTrigger"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27150c55-615f-fb44-d5e4-7b5815631c7d
* Version Independent ID: 271006dc-afce-99f3-0790-41fa2e35b22b
* Content: [host.json reference for Azure Functions 2.x](https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json)
* Content Source:

[2020-05-08 22:35] JohnKozell commented on #54482
[Found it](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus-output?tabs=csharp#host-json)

[2020-05-08 22:35] #54482 closed

[2020-05-08 22:41] MicrosoftGuyJFlo commented on #54481
Security defaults has nothing to do with FIDO2 tokens. If you are wanting to use FIDO2 tokens then you will want to use Conditional Access policies to require MFA.

[2020-05-08 22:41] MicrosoftGuyJFlo commented on #54481
#please-close

[2020-05-08 22:41] #54481 closed

[2020-05-08 22:42] markingmyname commented on #11093
@markingmyname

[2020-05-08 22:43] femsulu commented on #54430
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-05-08 22:47] jlichwa opened #54483 "I tried create group with MSI Identities and it did not work. Is that a limitation?"
I used cli command:
az ad group member add -g <group-id> --member-id <managedidentity-principalid>

When I used that group to assign permission to Key Vault it showed access denied. It works when I use that identity directly

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c77e2d99-4816-b005-7457-cc836b92ee0f
* Version I

[2020-05-08 22:47] Karishma-Tiwari-MSFT commented on #54196
Thanks for sharing the update.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-05-08 22:47] #54196 closed

[2020-05-08 22:47] femsulu commented on #54431
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-05-08 22:51] femsulu commented on #54433
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-05-08 22:55] Mike-Ubezzi-MSFT commented on #53903
@mananshah19 Apologies for the delay in returning an answer to you. In step #1, there is a template [101-sql-vm-ag-setup](https://github.com/Azure/azure-quickstart-templates/tree/master/101-sql-vm-ag-setup) which where the field `Existing Fully Qualified Domain Name` value is declared. This is the Client Access Point if I understand your question accurately, which is the front-end FQDN a client wo

[2020-05-08 22:55] lisaguthrie commented on #54457
Hi @markarnolditpro - by "deployed to App Service," are you referring to configuration values that you export from App Config to App Service? Or to configuration values that you read into an app running on App Service?

If you're exporting to App Service, then the configuration values appear in the same place in App Service that they always do. You can check them in the environment variables, etc.

[2020-05-08 22:57] femsulu commented on #54433
@mepand & @dcurwin for input.

[2020-05-08 23:00] femsulu commented on #54434
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-05-08 23:00] BharathNimmala-MSFT commented on #53936
@saikrishna-v Apologies for the delayed response on this, i am working through this with our team and will get back to you at the earliest.

[2020-05-08 23:00] femsulu commented on #54434
@mepand & @dcurwin - any input please?

[2020-05-08 23:01] femsulu commented on #54450
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-05-08 23:02] femsulu commented on #54463
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-05-08 23:04] NavtejSaini-MSFT commented on #54263
@markarnolditpro Please let us know if you have any further question or we can close this request.

[2020-05-08 23:05] Karishma-Tiwari-MSFT commented on #53968
@cynthn Thank you. I will reach out to Jerry in the Portal team.

@MasterKolka I will be sharing your product feedback with the product team and will share here as I hear an update.

Please also post this as a product feedback [here](https://feedback.azure.com/forums/216843-virtual-machines). This will allow the community to up-vote and for the product team to include into their plans. We also hav

[2020-05-08 23:05] #53968 closed

[2020-05-08 23:12] jlichwa commented on #35875
This updated in our new document https://docs.microsoft.com/en-us/azure/key-vault/keys/about-keys#rsa-algorithms
#please-close

[2020-05-08 23:12] #35875 closed

[2020-05-08 23:16] femsulu commented on #54468
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-05-08 23:17] femsulu commented on #54475
Thanks for your comment. The feedback has been shared with the content owner for further review.

[2020-05-08 23:19] GiftA-MSFT commented on #54208
@paparush I had no issues running the sample C# code provided for speech recognition as shown below.

![image](https://user-images.githubusercontent.com/51332022/81456557-bb17ab80-9160-11ea-96b3-adfe0b976283.png)

[2020-05-08 23:21] Karishma-Tiwari-MSFT commented on #54443
The supported ACI volume mount type are AzureFile

Please refer to the following document: https://docs.microsoft.com/en-us/azure/container-instances/container-instances-volume-azure-files#deploy-container-and-mount-volume---yaml

[code]
Let me know if you have any questions.

[2020-05-08 23:22] Karishma-Tiwari-MSFT commented on #54091
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-05-08 23:22] #54091 closed

[2020-05-08 23:23] Karishma-Tiwari-MSFT commented on #53950
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-05-08 23:23] #53950 closed

[2020-05-08 23:24] Karishma-Tiwari-MSFT commented on #54288
@yyanev @SanDeo-MSFT Can you please share your insights on this customer query. Thanks :)

[2020-05-08 23:24] Karishma-Tiwari-MSFT commented on #54327
@rohancragg Did that help answer your question?

[2020-05-08 23:25] NavtejSaini-MSFT commented on #54159
@mslot Please let us know if you need any further help with this or we can go ahead and close the request.

[2020-05-08 23:26] #54290 closed

[2020-05-08 23:26] NavtejSaini-MSFT commented on #54353
@manish-jain-1 Please let us know if we can help with this further or we can go ahead and close the thread.

[2020-05-08 23:33] #54208 closed

[2020-05-08 23:34] #54178 closed

[2020-05-08 23:35] Mike-Ubezzi-MSFT commented on #53976
@srini1978 The [Change Data Capture](https://docs.microsoft.com/en-us/sql/relational-databases/track-changes/about-change-data-capture-sql-server?view=sql-server-ver15) is supported by SQL Server and Azure SQL Database Managed Instance. It is **not** supported by Azure SQL Database single instance, elastic pool, or Hyperscale instances.
[Change Tracking](https://docs.microsoft.com/en-us/sql/relati

[2020-05-08 23:37] NavtejSaini-MSFT commented on #54324
@kcd333 Please let us know if you need further help regarding this issue.

[2020-05-08 23:38] NavtejSaini-MSFT commented on #54210
@NaveYosef Please let us know if you need any further help regarding this issue.

[2020-05-08 23:39] KranthiPakala-MSFT commented on #54464
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate.

[2020-05-08 23:52] GiftA-MSFT commented on #54418
@naveenambitious here's an [example](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-consume-web-service#call-the-service-java) that demonstrates how to consume webservice in Java.  Hope this helps. Thanks.

[2020-05-08 23:52] #54418 closed

[2020-05-08 23:56] aceptra opened #54484 "ASP.NET Core ITelemetryInitializer Not Working When TelemetryType Is PageView"
We're also using ASP.NET Core like some of the other user comments here, with ITelemetryInitializer and Claims.

But.....

It does not work for Page View telemetry. Is this b/c the Page View telemetry (in contrast to Request telemetry), comes from the JavaScript SDK?

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-05-08 23:58] GiftA-MSFT commented on #54408
@sdgilley can you please review the above feedback for doc enhancement. Thanks.

[2020-05-09 00:00] NavtejSaini-MSFT commented on #54397
@vaibhavramdasi The answer is no. As the document says shown below:
"The Hub Database must be an Azure SQL Database."
![Capture](https://user-images.githubusercontent.com/52257742/81458060-9aeaeb00-9166-11ea-832b-63c979d13ba3.JPG)
Hope this helps.

[2020-05-09 00:03] TravisCragg-MSFT commented on #54454
@mailtogurvindersingh Thanks for the feedback! Both links have been updated, and the docs should reflect the change within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-09 00:03] #54454 closed

[2020-05-09 00:07] GiftA-MSFT commented on #54330
@lingfengdk you can use the [update](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.webservice.akswebservice?view=azure-ml-py#update-image-none--autoscale-enabled-none--autoscale-min-replicas-none--autoscale-max-replicas-none--autoscale-refresh-seconds-none--autoscale-target-utilization-none--collect-model-data-none--auth-enabled-none--cpu-cores-none--memory-gb-none--enable-

[2020-05-09 00:07] #54330 closed

[2020-05-09 00:10] GiftA-MSFT commented on #54177
@thuwas what language are you using?

[2020-05-09 00:11] Mike-Ubezzi-MSFT commented on #53903
@mananshah19 If you have further questions we can continue the conversation but I am going to close this issue. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-09 00:11] #53903 closed

[2020-05-09 00:11] GiftA-MSFT commented on #54479
@v-radelg we will review your feedback and get back to you shortly. Thanks.

[2020-05-09 00:12] GiftA-MSFT commented on #54455
@bigdatamoore we will review your feedback and get back to you shortly. Thanks.

[2020-05-09 00:13] Mike-Ubezzi-MSFT commented on #53976
@srini1978 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-09 00:13] #53976 closed

[2020-05-09 00:20] jlichwa commented on #35884
This document is completely rewritten. It does not seem like we suggest key retrieval. Keys itself are hidden completely, we don't even store them in key vault and we expose SAS token instead for clients to use. #please-close

[2020-05-09 00:20] #35884 closed

[2020-05-09 00:20] atrauzzi opened #54485 "Can you use machine generated identities?"
Are you able to use machine generated identities to access Key Vault when configuring certificates on Application Gateways?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c416d5e-5bfd-c641-e9bb-324dcb921acc
* Version Independent ID: 8739a044-d471-c432-3ed1-503539408ae8
* Content: [TLS termination with Azure Key Vault

[2020-05-09 00:25] aanexplus commented on #53383
Ok will do

[2020-05-09 00:48] dsindona commented on #54004
@LazzariPaolo sorry for the delayed response. Can you please contact support at: https://aka.ms/marketplacepublishersupport

[2020-05-09 00:49] dsindona commented on #54002
@LazzariPaolo sorry for the delayed response. Can you please contact support at: https://aka.ms/marketplacepublishersupport

[2020-05-09 00:49] dsindona commented on #54004
Closing the issue for now. Please let us know if you are unable to resolve this with support.
#please-close

[2020-05-09 00:49] #54004 closed

[2020-05-09 00:50] dsindona commented on #54002
Closing the issue for now. Please let us know if you are unable to resolve this with support.
#please-close

[2020-05-09 00:50] #54002 closed

[2020-05-09 01:11] lianguage opened #54487 "Need a Trigger sample data"
I spent 2 days trying to figure out what the C# binding Id="{Query.Id"} actually meant (maybe I'm just really stupid, but just in case there's other people out there like me, this would be helpful).

If you guys could put in a sample of what the actual Get/Post request would look like in this case it would be hugely helpful in deciphering what the "{Query.ID}" actually does. Even more helpful woul

[2020-05-09 01:17] BharathNimmala-MSFT commented on #54272
@yves-chan Thanks again for bringing this to our notice, i have raised a PR to update the document. Once its reviewed and approved the document will reflect accordingly next week.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy

[2020-05-09 01:17] #54272 closed

[2020-05-09 01:33] Mike-Ubezzi-MSFT commented on #54159
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-09 01:33] #54159 closed

[2020-05-09 01:38] atrauzzi commented on #44746
Encountering this as well, seems a little misleading as I'm given a list of certificates, not secrets.  Also, I have already granted `GET` permission to the user managed identity that is being used.

Something doesn't seem right here.

[2020-05-09 01:45] TravisCragg-MSFT commented on #54467
@buildtrue To update an existing WAF policy using PowerShell, you will need to get the existing WAF policy, update it with the information you would like to add, and then update the policy.

For example, to add a new custom rule:
[code]

I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-09 01:47] mike-urnun-msft commented on #54456
@rafaheringer Thank you for your feedback! We will review and update as appropriate.

[2020-05-09 01:49] mike-urnun-msft commented on #54487
@lianguage  Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-05-09 02:08] RyanHill-MSFT commented on #54306
Hi @gary918,

After getting [authenticated](https://docs.microsoft.com/en-us/dotnet/azure/sdk/authentication?view=azure-dotnet#mgmt-auth), you can use the following fluent [api](https://docs.microsoft.com/en-us/dotnet/api/overview/azure/appservice?view=azure-dotnet)

[code]

Hope this helps.

[2020-05-09 02:39] hitsy opened #54489 "Monitoring of the customer-managed TDE"
According to this documentation and reference in https://docs.microsoft.com/en-us/sql/relational-databases/security/encryption/troubleshoot-tde?view=azure-sqldw-latest#getting-tde-status-from-the-activity-log

Suggestion is that we should be able to monitor activity logs to possibly raise alerts. However this is not case.

Or are there specific steps that may not be are referenced in these 2 artic

[2020-05-09 02:52] BharathNimmala-MSFT commented on #54436
@jelmerS2 Thank you for your query , our team will look into it and get back to you at the earliest.

[2020-05-09 02:54] BharathNimmala-MSFT commented on #54435
@shraboin Thank you for your query, our team will look into it and get back to you at the earliest

[2020-05-09 02:55] BharathNimmala-MSFT commented on #54441
@jelmerS2  Thank you for your query and our team will look into it and get back to you at the earliest.

[2020-05-09 02:57] BharathNimmala-MSFT commented on #54432
@pascal-hauser Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-05-09 02:58] BharathNimmala-MSFT commented on #54440
@jelmerS2  Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-05-09 04:08] planrite opened #54490 "I'm an administrator with two-factor enabled but my codes were not backed up to my new phone app"
I have two-factor enabled using MS Authenticator app on my phone. When I switched phones this week, everything backed up except my azure ID! So now I cannot login anywhere except the mail app on my MacBook, because it asks for authenticator codes but the app doesn't work now so I'm legitimately locked out of my account. How can I restore access?

---
#### Document details

⚠ *Do not edit this sect

[2020-05-09 04:09] MicrosoftGuyJFlo commented on #53835
Updating as part of referenced private PR

[2020-05-09 04:31] abatishchev commented on #53650
I see, I for confused between IoT Hub and Provisioning Service. Thanks!

[2020-05-09 04:31] #53650 closed

[2020-05-09 05:55] likebupt commented on #53335
@akshit-srivastava  Hi , could you please send email to describe your problems to amlforum@microsoft.com ? Our engineer could help, and I can also send your the meeting invitation. I cannot see your email address currently:)

[2020-05-09 06:30] Rockjesse commented on #53008
The issue is still not resolved, nobody follow it  and no one reply my email.
Is there anyone know the meaning of this error code?
I want to reopen the case.

[2020-05-09 06:33] nth-block commented on #44189
Thanks for the update. While the link by @ShaneBala-keyvault  is not directly referenced in the docs, this is exactly what I was looking for. My operations team will be delighted.

[2020-05-09 06:33] viju2008 commented on #53892
@RohitMungi-MSFT

In the sample i could not find any sample which limits audio length... can you provide line number

[2020-05-09 06:50] ChiragMishra-MSFT commented on #54453
@SpaceKatt Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2020-05-09 06:51] ChiragMishra-MSFT commented on #54459
@ctimon Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2020-05-09 07:05] ChiragMishra-MSFT commented on #54473
@santhoshbomma9 Thanks for reaching out. We are working on your query and will get back to you shortly.

[2020-05-09 07:07] ChiragMishra-MSFT commented on #54470
@PrometheusRising1 Thanks for reaching out. We are working on your query and will get back to you shortly.

[2020-05-09 07:09] ChiragMishra-MSFT commented on #54471
@ederbond Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2020-05-09 07:10] ChiragMishra-MSFT commented on #54472
@ederbond Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2020-05-09 07:11] ChiragMishra-MSFT commented on #54478
@v-radelg Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2020-05-09 07:12] ChiragMishra-MSFT commented on #54480
@cananac Thanks for reaching out. We are working on your query and will get back to you shortly.

[2020-05-09 07:13] viju2008 commented on #54291
@TravisCragg-MSFT
I have posted the idea on Azure networking feedback forum... please ask them to provide ETA by when custom domains and vnet in india region

[2020-05-09 07:13] ChiragMishra-MSFT commented on #54483
@jlichwa Thanks for reaching out. We are working on your query and will get back to you shortly.

[2020-05-09 07:14] ChiragMishra-MSFT commented on #54484
@aceptra Thanks for reaching out. We are working on your query and will get back to you shortly.

[2020-05-09 07:16] ChiragMishra-MSFT commented on #54485
@atrauzzi Thanks for reaching out. We are working on your query and will get back to you shortly.

[2020-05-09 07:18] ChiragMishra-MSFT commented on #54489
@hitsy Thanks for reaching out. We are working on your query and will get back to you shortly.

[2020-05-09 07:18] ChiragMishra-MSFT commented on #54490
@planrite Thanks for reaching out. We are working on your query and will get back to you shortly.

[2020-05-09 07:19] joeri-juramento commented on #54481
Okay, and I am trying to communicate with you that is not clear from the page. It is only clear after you mental model has grown.

The reference to "hardware token" is ambiguous.

Furthermore, your reference to "Conditional Access" is not that straight forward because this screen:
![afbeelding](https://user-images.githubusercontent.com/22143678/81466993-39a63480-91c5-11ea-9db4-d2ce750f8871.png) do

[2020-05-09 07:20] andyzhangx commented on #51498
should already been fixed in recent new AKS cluster, fixed by: Azure/aks-engine#2661
https://github.com/Azure/AgentBaker/blob/b0a6b8b1e824720ecb23d1dd322e2b0e1363ffae/parts/linux/cloud-init/artifacts/cse_config.sh#L26-L29
[code]

[2020-05-09 07:32] vuryleo opened #54491 "The images about [Verify data transform] are displayed as code blocks in MS Edge browser"
As title,
The images under [Verify data transform and transfer](https://docs.microsoft.com/en-us/azure/databox-online/azure-stack-edge-deploy-configure-compute#verify-data-transform-and-transfer) are displayed as code blocks other than images.

OS: WIndows 10 Enterprise 18363.778
Browser: MS Edge 81.0.416.72

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-05-09 08:54] EsaFazal72 commented on #54443
@Karishma-Tiwari-MSFT Thank you for the quick response. I'm aware ACI supports AzureFile and I'm using it as the storage mount. As you can see above in pod spec I've attached a PVC and it has the storage secrets. FYI, I've also configured an image pull secret since I'm pulling the image from a private container registry (ACR). I just can't figure out where I went wrong, please help!

The following

[2020-05-09 09:14] EsaFazal72 commented on #54162
@jluk Thank you for that clarification. I did create AzureFile storage and I still keep running into an issue, I've elaborated more on that here #54443. Please help!

[2020-05-09 09:17] jiasli commented on #53213
@rolyon, the update looks great! Azure CLI will switch to the one in REST spec in the future. At least, it is now clearer for the users.

[2020-05-09 09:42] vvolodin commented on #54201
I was using this tuturial, I just entered another name for the function:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-vs-code?pivots=programming-language-csharp

[2020-05-09 09:58] akshit-srivastava commented on #53335
Thanks @likebupt. I have shared the details which we discussed over the mail.

[2020-05-09 10:10] UnsnappedKhan8 commented on #53966
yet i was still mentioned

[2020-05-09 10:43] agassijoelbrio opened #54492 "I am not able to install FSLogix in personal desktops in WVD"
Hi, I created a WVD as personal. I installed WVD and storing user profiles in the storage account it is not working.

[2020-05-09 10:43] RhomGit commented on #53783
Thanks @jennyf19 that explained it perfectly.
I have done as you suggested and it worked, exactly what I was hoping for!

[2020-05-09 10:58] MaranVerweij opened #54493 "Enabling Scheduled Events for a VMSS with Availability Zones"
Note that to enable Scheduled Events for a VMSS configured with Availability Zones an instance in each availability zone must query the service. The following text in the article might need to be adjusted to reflect that.

"Scheduled Events is disabled for your scale set if the scale set instances don't make a request for 24 hours."

Alternatively, recommend that explicitly all VMSS instances must

[2020-05-09 11:03] VikasPullagura-MSFT commented on #54493
@MaranVerweij
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-09 11:03] VikasPullagura-MSFT commented on #54493
@avirishuv
Can you please check and add your comments on this doc update request as applicable.

[2020-05-09 12:06] atrauzzi commented on #17159
Directing people to support tickets has to be the worst option you can possibly rely on. They never understand anything and you end up spending days just getting the problem described to them.

[2020-05-09 12:48] MonikaReddy-MSFT commented on #54143
@DawgFan  - Can you check the above and confirm if doc update is required for this.

[2020-05-09 13:08] BhargaviAnnadevara-MSFT commented on #54417
@mrbullwinkle Should/Can this be referenced just yet? I gather from [this](https://github.com/microsoft/ApplicationInsights-dotnet/issues/1214) issue that work is in progress.

[2020-05-09 13:11] tlaundal opened #54496 "Outdated process"
The process is Azure portal is different from what is described here.

There is now a wizard-like thing for requesting increases for different vcpu quotas, and it seems total regional vcpu is automatically increased as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e19f68c5-3917-c131-a379-3b9e3156593b
* Version I

[2020-05-09 13:25] J-Prashant commented on #52724
Hi, It works. If you show your code then we may sort it out.

[2020-05-09 15:15] SamaraSoucy-MSFT commented on #54492
@agassijoelbrio Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

The best place for specific answers about implementations are going to be the [Microsoft Q&A ](https://docs.microsof

[2020-05-09 15:18] SamaraSoucy-MSFT commented on #54496
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2020-05-09 15:37] zepedaherbey commented on #30605
@rimman,
We are revisiting this issue.
In this article this statement is mentioned a couple of times:
(1)
"Most small Cosmos containers have many logical partitions but only require a single physical partition"

You state:
(2)
"When you start out with small volume (2GB) and let's say 400RUs (it may end up on a single physical partition)"

I would like clarification on the "Most" in statement (1) a

[2020-05-09 15:46] stap123 opened #54498 "Why do the docs use pre-release and unsupported packages in their examples?"
I am curious as to why this doc uses a pre-release and unsupported package for the tutorial.

As a new user to B2C I need to understand how to use the currently released version of the product that would allow me to use supported Microsoft libraries in our production application. This document (and some others I've seen) uses pre-release APIs from NuGet packages that aren't out yet. (ClientCredent

[2020-05-09 15:47] zepedaherbey commented on #53374
@markjbrown,
Your reply does not answer the question at hand.

Whether the container will grow or not is part of a different conversation. There are containers that are meant to stay small in perpetuity and if a different use case comes in and calls for a larger collection then a new container is created. As simple as that.

The question is what is the recommendation for small containers that will

[2020-05-09 15:48] ChiragMishra-MSFT commented on #54498
@stap123 Thanks for reaching out. We are currently investigating into the query and will update you shortly.

[2020-05-09 15:50] ChiragMishra-MSFT commented on #54400
@abhishek0818 We haven't heard back from you. Could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-05-09 15:59] markjbrown commented on #53374
If you keep your container under 6000 RU/s and <20GB it will always remain on a single physical partition.

[2020-05-09 16:10] zepedaherbey commented on #53374
@markjbrown,
Thank you , great to know this. Is there any official documentation where this is stated?

Thank you

[2020-05-09 16:32] nitinkhandelwal26 opened #54499 "Problem with New IoT edge release : 417 -- The device's deployment configuration is not set"
Hi Team,
There is problem with the new IoT edge release. $edgehub module is not getting configured. I have run all the given command but it's not working and showing status: 417 -- The device's deployment configuration is not set
I also deployed Azure Marketplace offering for Azure IoT Edge on Ubuntu, still the same issue. 417 -- The device's deployment configuration is not set.

I executed &gt;

[2020-05-09 16:35] nitinkhandelwal26 commented on #54499
root@iotedge:/home/iotadm# iotedge restart edgeAgent && iotedge restart edgeHub
edgeAgent
A module runtime error occurred
caused by: Could not restart module edgeHub
caused by: Client error

[2020-05-09 16:39] ghost opened #54500 "Is PS Core actually a requirement for the WVD cmdlets?"
[launch powershell.exe]

[code]

[and so on...]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9a90055-9f07-35c5-b54b-d3cae7d894ba
* Version Independent ID: 326f52c7-f59b-ddda-029d-ef7a1140490b
* Content: [PowerShell module Windows Virtual Desktop - Azure](https://docs.microsoft.com/en-us/azure/virtual-desktop/powersh

[2020-05-09 16:46] ecfan commented on #54413
I see the **Authorization** option in production now, although might not be available yet in every region. If not, should be by Monday.

@mike-urnun-msft: #please-close

[2020-05-09 16:46] #54413 closed

[2020-05-09 16:49] ecfan commented on #48311
#assign @derek1ee, could you help with answering this customer's questions?

[2020-05-09 16:49] PRMerger18 commented on #48311
derek1ee, is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-05-09 16:50] ecfan commented on #48311
@DixitArora-MSFT, please assign to @derek1ee?

[2020-05-09 16:52] ecfan commented on #52912
#assign @ecfan #in-progress

[2020-05-09 16:53] PRMerger19 commented on #52912
ecfan is already assigned.

[2020-05-09 16:57] ecfan commented on #52912
@DixitArora-MSFT: #please-close

[2020-05-09 16:57] #52912 closed

[2020-05-09 16:59] ecfan commented on #52103
@daviburg, maybe you can also help answer this question?

[2020-05-09 17:01] nitinkhandelwal26 opened #54501 "Problem with New IoT edge release - EdgeHub : 417 -- The device's deployment configuration is not set"
Hi Team,

There is problem with the new IoT edge release. $edgehub module is not getting configured. I have run all the given command but it's not working and showing status: 417 -- The device's deployment configuration is not set
I also deployed Azure Marketplace offering for Azure IoT Edge on Ubuntu, still the same issue. 417 -- The device's deployment configuration is not set.

I executed &gt;

[2020-05-09 17:03] ecfan commented on #46826
@jonfancey, can you help answer questions about this customer's scenario?

[2020-05-09 17:22] YutongTie-MSFT commented on #53008
@Rockjesse Hi Jesse, please do check your email. Thanks and sorry for the delay.

[2020-05-09 17:39] DCtheGeek commented on #50986
@wadstromdev I've looked closer at your issue and believe I see the problem. You are using `$params` as [splatting](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_splatting?view=powershell-7) to the `New-AzSubscriptionDeployment` cmdlet, which is fine.  However, **rgName** is a parameter of the Resource Manager template, not the cmdlet, so it can't be in t

[2020-05-09 17:40] DCtheGeek commented on #50986
#reassign:DCtheGeek

[2020-05-09 18:11] ziadhassan7 commented on #54387
@ram-msft
Of course, here it is:
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/rest-speech-to-text#pronunciation-assessment-parameters

[2020-05-09 18:11] nitinkhandelwal26 opened #54502 "417 -- The device's deployment configuration is not set"
Hi Team,

There is problem with the new IoT edge release. $edgehub module is not getting configured. I have used deploy to Azure button but it's not working and showing status: 417 -- The device's deployment configuration is not set
I also deployed Azure Marketplace offering for Azure IoT Edge on Ubuntu, still the same issue. 417 -- The device's deployment configuration is not set.

I executed &gt

[2020-05-09 19:31] Prasy12 opened #54503 "Unzip multiple files from Zip and select one as source in copy activity in Azure Data Factory"
I see there is a way to deflate a ZIP file but when there are multiple .csv files within a ZIP, how do I specify which to use as my source for copy activity in Azure Data Factory? It is now parsing both csv files and giving as a single file and I'm not able to select the file I want

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-05-09 20:25] cryptofetti opened #54505 "Redeploy Host Pool Failed at Desired State Configuration Stage - Cannot Remove Microsoft.IdentityModel.Clients.ActiveDirectory.dll"
I was originally able to deploy a host pool and pass all the DSC checks after the VMs were domain joined. Recently I created customized a host session image, and went to redeploy my existing host pool, but this time selecting the image I created in Azure. The redeployment continues to fail on the Desired State Configuration (DSC) stage and reports the following error.

Test-TargetResource function

[2020-05-09 21:44] BorisWilhelms opened #54506 "Missing property "socketIp""
Hello,

my access logs contain a property "socketIp". It is mostly identical to the clientIp, but now always. Could please describe the property, since it is missing here on the page.

Best regards
Boris

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3af5b015-4ac5-9d08-4ea0-4fbcdf9c0f6b
* Version Independent ID: 35a8cc

[2020-05-09 21:58] aurokk opened #54507 "Missing docs about change stream starting point options"
Hello!
Please update the docs about the options related to this feedback
https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/40371088-change-stream-starting-point?tracking_code=3da54317c213f5f71df05f4efca1b8e8

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32ee62ff-7042-a2d2-94d6-69189878aff3
* Version

[2020-05-09 22:04] VivekDevops opened #54508 "Get a token using Go"
The sample go code given here, to get the token requires a minor tweak.

msi_endpoint, err := url.Parse("http://169.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01")

the api-version in the above line should also be added using msi_parameters.Add

like below
msi_parameters.Add("api-version", "2018-02-01")
similar to
msi_parameters.Add("resource", "https://management.azure.com/")

[2020-05-09 23:05] gravitee-portal-research commented on #7705
One more

[2020-05-09 23:36] SamaraSoucy-MSFT commented on #54499
Thanks for the question! We will review and get back to you shortly.

[2020-05-09 23:37] rjisom opened #54509 "Cert won't display under Authentication Settings (MAC)"
After adding the certificate to my keychain the certificate is not a selectable certificate under "Choose An Identity".

I tried reinstalling the cert but it still won't show up as an option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d5150fc-9936-07cf-dce7-44d0ec114cd0
* Version Independent ID: 8b627174-56cd-a81e

[2020-05-09 23:39] SamaraSoucy-MSFT commented on #54500
Thanks for the question! We will review and get back to you shortly.

[2020-05-09 23:40] SamaraSoucy-MSFT commented on #54501
Thanks for the question! We will review and get back to you shortly.

[2020-05-09 23:43] SamaraSoucy-MSFT commented on #54501
Duplicate of #54499

[2020-05-09 23:43] #54501 closed

[2020-05-09 23:43] SamaraSoucy-MSFT commented on #54502
Duplicate of #54499

[2020-05-09 23:43] #54502 closed

[2020-05-09 23:44] SamaraSoucy-MSFT commented on #54503
Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

The best place for specific answers about implementations are going to be the [Microsoft Q&A ](https://docs.microsoft.com/answers/)a

[2020-05-09 23:46] SamaraSoucy-MSFT commented on #54505
Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

The best place for specific answers about implementations are going to be the [Microsoft Q&A](https://docs.microsoft.com/answers/) a

[2020-05-09 23:46] SamaraSoucy-MSFT commented on #54506
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2020-05-09 23:47] SamaraSoucy-MSFT commented on #54507
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2020-05-09 23:48] SamaraSoucy-MSFT commented on #54509
Thanks for the question! We will review and get back to you shortly.

[2020-05-09 23:49] cryptofetti commented on #54505
https://docs.microsoft.com/en-us/azure/virtual-desktop/troubleshoot-set-up-issues

[2020-05-09 23:51] mike-urnun-msft commented on #53689
@NickSevens Sorry for the late reply. The main benefit is to keep the payload data intact as the message flows through different components of your architecture. Logic Apps, for example, automatically `base64` encodes service bus messages and you'd need to explicitly call a method to decode the message in order to consume its content. Messages aren't encoded by default from the messaging services

[2020-05-09 23:51] #53689 closed

[2020-05-09 23:55] rjisom commented on #49359
I'm having this same issue. I do not have a support plan.

[2020-05-09 23:58] rjisom commented on #49359
@TravisCragg-MSFT

[2020-05-10 00:09] besteban1989 commented on #43686
Same here 😪

[2020-05-10 00:35] mike-urnun-msft commented on #54423
Hello @dudu-markovitz - How did you do your installation? Were there containers involved? I don't believe the host itself would include an ODBC driver but it's possible the python language worker may be.

[2020-05-10 00:44] Ayanmullick opened #54510 "Query in PowerShell"
Is it possible to query a specific Log Analytics data table through PowerShell using Microsoft's database querying PowerShell cmdlet like below?
`Read-SqlTableData -ServerInstance "MyServer\MyInstance" -DatabaseName "MyDatabase" -SchemaName "dbo" -TableName "MyTable" -TopN 3`

https://docs.microsoft.com/en-us/powershell/module/sqlserver/read-sqltabledata?view=sqlserver-ps#examples

---
#### Docume

[2020-05-10 00:52] mike-urnun-msft commented on #54190
@Antiohne Per your feedback, we've created a PR that provides more context and the changes should live soon.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-10 00:52] #54190 closed

[2020-05-10 01:00] RaisinBread42 commented on #50616
@ncarandini  found this other article which helped me -  https://docs.microsoft.com/en-us/samples/azure-samples/active-directory-b2c-dotnetcore-webapp/an-aspnet-core-web-app-with-azure-ad-b2c/

In addition to the instructions, ensure to change the `AzureAdB2CInstance` within AzureAdB2COptions.cs  to your tenant's name suffixed with /tfp.

[2020-05-10 01:02] mike-urnun-msft commented on #54164
@chunliu Thanks again for reporting this issue and helping us drive improvements towards MS Docs! I've created a PR that removes the duplicate entry in the left nav and this change should be live soon.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-10 01:02] #54164 closed

[2020-05-10 01:25] SeaDude opened #54511 "Unclear what Extension Bundles are/do"
Step 6. above is unclear to me. I can't tell what Extension Bundles do even after visiting the link. The voice in this step is negative (..."if you don't want x do y"). Is there a way to restate this for clarity?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2646ad4-34b7-fc5e-dcc9-d53a061df394
* Version Independent I

[2020-05-10 01:43] SeaDude opened #54512 "Need python examples for env variables"
Where the doc reads...
[code]
...the python runtime is missing. Please consider adding.
Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2646ad4-34b7-fc5e-dcc9-d53a061df394
* Version Independent ID: bbff4fda-24e4-2b62-24b9-94cda5f53bed
* Content: [Work with Azure Functions Core Tools](https://docs.microsoft.co

[2020-05-10 01:48] SeaDude opened #54513 "How to programmatically access connection string using python?"
The part that reads...
[code]
...could benefit from some content around programmatically accessing connection strings. Copying and pasting from the portal GUI is not conducive to python scripting.
Is there a way to get this via python directly?
Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15591874-317e-ce4c

[2020-05-10 01:53] kcd333 commented on #54324
It's all good. Thank you!

[2020-05-10 01:53] #54324 closed

[2020-05-10 02:26] BharathNimmala-MSFT commented on #54510
@Ayanmullick Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-05-10 02:33] RickB-2840 commented on #53059
It's impossible to follow these instructions. Document says to create rules allowing UDP and TCP to FQDNs, but:
 - Application rules can use FQDN, but can't specify UDP and TCP, which aren't application protocols (they are transport layer protocols)
 - Network rules can specify UDP and TCP, but they can't use FQDN.

[2020-05-10 02:49] ParthiKarnan commented on #54235
Understood @DixitArora-MSFT , thanks for your information 🙂!

[2020-05-10 02:58] dgancho commented on #52975
@femsulu

I do not think so. Is there anything specific you want me to check?

[2020-05-10 03:45] SeanFeldman commented on #54155
@SumanthMarigowda-MSFT I'm confused by your [comment](https://github.com/MicrosoftDocs/azure-docs/issues/54155#issuecomment-625828602). The given [sample](https://docs.microsoft.com/en-ca/azure/storage/blobs/storage-blob-index-how-to?tabs=net#filter-and-find-data-with-blob-index-tags) mixes the asynchronous code with synchronous. That's a very poor practice and not suitable for guidance. The same

[2020-05-10 04:19] SaurabhSharma-MSFT commented on #54336
@aaronsgutierrez We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-10 04:19] #54336 closed

[2020-05-10 04:19] SaurabhSharma-MSFT commented on #54093
@BASFmthibodeaux We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-10 04:19] #54093 closed

[2020-05-10 05:08] dudu-markovitz commented on #54423
Hi

It was completely straightforward.

  *   Deployed a Function App in the Azure Portal
     *   Python 3.8
     *   Consumption
     *   Linux
  *   From my local VS Code
     *   Added pyodbc to requirements.txt
     *   Wrote the function
     *   Deployed

[cid:image002.png@01D626A1.791F4190]

import azure.functions as func

def main(req: func.HttpRequest) -> func.HttpResponse:

    with ope

[2020-05-10 05:59] ChiragMishra-MSFT commented on #54511
@SeaDude Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2020-05-10 06:00] ChiragMishra-MSFT commented on #54512
@SeaDude Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2020-05-10 06:02] ChiragMishra-MSFT commented on #54513
@SeaDude Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2020-05-10 06:06] SnehaAgrawal-MSFT commented on #54157
@billti We will now close this out but if you feel you need more information please just let us know.

[2020-05-10 06:06] #54157 closed

[2020-05-10 07:02] monish001 opened #54515 "Behaviour of Time Trigger Functions on scale out of ASP in ASEv2"
Hi Authors,

Thank you for the content on the best practices on Function Apps. I have a use-case that is not covered above.

What is the behaviour of Time Trigger Functions on scale out of ASP in ASEv2. If I have a ASP of configuration I1:2, for the time-trigger functions, do I need to manage Leader Election Pattern at application level?

---
#### Document Details

⚠ *Do not edit this section. It

[2020-05-10 07:14] Prasy12 commented on #54503
Document: https://docs.microsoft.com/en-us/azure/data-factory/connector-http

[2020-05-10 07:20] dcurwin commented on #54433
[Duplicate issue](https://github.com/MicrosoftDocs/azure-docs/issues/54434)

[2020-05-10 07:20] dcurwin commented on #54433
#please-close

[2020-05-10 07:20] #54433 closed

[2020-05-10 07:21] dcurwin commented on #54434
#reassign:adityabalaji-msft

[2020-05-10 07:23] dcurwin commented on #54213
#reassign:GeethalakshmiG

[2020-05-10 07:33] oshihirii commented on #19346
I get this message when calling the `signIn()` function like this:
[code]

Using:
[code]

I have set my application as single tenant, because i only want it to be accessible by people in the organisation structure, but I get this error before I have even signed in.

For context, I am trying to extricate the essential login/logout components from the tutorial here:

https://docs.microsoft.com/en-us

[2020-05-10 07:57] binduchinnasamy opened #54516 "Sample code needs change in azure/batch/tutorial-run-python-batch-azure-data-factory.md"
Change the Python code in the last line from

 blobService.create_blob_from_text(containerName, "iris_setosa.csv", "iris_setosa.csv")

to

  blobService.create_blob_from_path(containerName,"iris_setosa.csv","iris_setosa.csv")

As the existing code doesn't produce the correct output in the container
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-05-10 08:25] iaasazure opened #54517 "Step 2 issue"
Step 2 works as you have the ASM module installed for an MSI install
The following works if you have the module installed using PowerShellGet
$AsmPath = (Get-Module Azure).Path
Import-Module $AsmPath.Replace('Azure.psm1','ExpressRoute\ExpressRoute.psd1')
the same issue exists on https://docs.microsoft.com/en-us/azure/expressroute/expressroute-howto-move-arm

---
#### Document Details

⚠ *Do not ed

[2020-05-10 08:53] davidobrien1985 commented on #52575
The same needs to be done for python as well.
If you update one language, update them all please.

[2020-05-10 09:08] davidobrien1985 commented on #52575
For python, it's done this way:

[code]

[2020-05-10 10:50] AmitavaHazra opened #54518 "Authoritative source other that On Prem AD"
We can use AAD connect to provision data from AD to Azure AD. At the same time we have other connector option in AAD connect UI so that we can import few additional attribute from other authoritative source and can join with one prem AD user and can sync that to with Azure AD. -
 Is it supported to have additional attribute contributed from other MA (Extensible 2.0 connector) and can be synced to

[2020-05-10 11:17] AshokPeddakotla-MSFT commented on #53960
@sharadrumane I followed the same steps and unable to repro your issue.  Please double check the steps and try again.  Make sure you are able to connect SQL server with correct username and password.

[2020-05-10 11:35] AshokPeddakotla-MSFT commented on #54095
@asinitson Which OS are you using? Please ensure to Replace <HostStoragePath> and <ModuleStoragePath> with your host and module storage path; both values must be an absolute path.

Are you able to complete the steps through portal?

[2020-05-10 11:42] AshokPeddakotla-MSFT commented on #54181
Please file a support request as suggested.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-10 11:42] #54181 closed

[2020-05-10 12:03] johnnzy1 opened #54519 "400 Bad Request"
I think I've followed these instructions properly, but possibly not, as Postman gives me an error code of 400.600.000.000 and says "Value cannot be null.\r\nParameter name: BlobMetadataCreate".

What does that refer to, and how do I fix it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49f053b4-ce1b-5019-3ee5-a821a19a

[2020-05-10 12:28] assaf-grth opened #54520 "Support translate of documents"
Is there a support for an ability of translating a document received as a binary stream request, returning a binary stream of resulting translated document?
Assuming the input is office based document

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8492ec21-4a6a-1283-5d64-fd8e67ac2abd
* Version Independent ID: 3a7de8d9-

[2020-05-10 12:41] CoderKooke commented on #50686
We are finding that leaving this value blank, expecting the incoming headers to be forwarded on results in a 404.

[2020-05-10 14:04] codemaker opened #54521 ""Get Shared Access Signature" is disabled"
The "Get Shared Access Signature" option is disabled ins storage explorer, what may be the reason?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be092d5e-0fd1-09c2-ed05-41052bd92d9e
* Version Independent ID: 071489ab-93ea-e73f-6c6a-d110afb13afe
* Content: [Quickstart - Create a blob with Azure Storage Explorer - Azure

[2020-05-10 14:24] ncarandini commented on #50616
@RaisinBread42 Thanks, I'll give a look.

[2020-05-10 14:46] jimmytrivedi commented on #54401
I'm also getting this error: Failed to update MicrosoftGraphAPI application. Error detail: Your reply url contains prohibited words or prohibited domains. [lbEGs]

[2020-05-10 15:05] VikasPullagura-MSFT commented on #54516
@binduchinnasamy
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-05-10 15:06] pjmlp opened #54522 "Java sample is incorrect."
The Java example is not properly written.

Not only is assert a keyword, making the parenthesis spurious, it is not used in a way that Java developers would expect and the catch block doesn't make sense, giving an assert exception instead of exiting with value 1.

Also a more modern example using at very least Java 11 capabilities (given its LTS status, otherwise Java 14) would be more interesting

[2020-05-10 15:18] techjazz-MS commented on #54062
Closing this thread for now.

[2020-05-10 15:20] souravmishra-msft commented on #54062
Closing this thread for now.

[2020-05-10 15:20] #54062 closed

[2020-05-10 15:24] asifwaquar opened #54523 "Not able to create peer node with Hyperledger Fabric Azure Kubernetes Service (AKS) Template for default node size 3x Standard DS2 v2"
Hi Team,

I have created one ordering service with default node size VM 3x Standard DS2 v2 by using hyperledger fabric Kubernetes Service template . When i tried to create peer node to build consortium with default node size 3x Standard DS2 v2 . I was unable to create although i tried peer node in different resource group and by changing different secret id but every time i got same template valid

[2020-05-10 15:27] RohitMungi-MSFT commented on #53892
@viju2008 The sample does not cover a scenario that limits the audio length. This would probably need a custom implementation in the [Read](https://docs.microsoft.com/en-us/dotnet/api/microsoft.cognitiveservices.speech.audio.pullaudioinputstreamcallback.read?view=azure-dotnet#Microsoft_CognitiveServices_Speech_Audio_PullAudioInputStreamCallback_Read_System_Byte___System_UInt32_) method. In this sa

[2020-05-10 15:36] souravmishra-msft commented on #54141
@MarkusVi, can you please look into this?

[2020-05-10 15:37] souravmishra-msft commented on #54231
@raghu2505, Thank you for reaching out and I apologize for the delay, as its taking me sometime to validate this. Ideally the tenant detail needs to have https, but I am working on this to confirm, as you mentioned that in Postman it works.

Do allow me sometime to check and validate this and will get back to you.

[2020-05-10 15:38] SamaraSoucy-MSFT commented on #54515
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2020-05-10 15:38] SamaraSoucy-MSFT commented on #54515
Thanks for the question! We will review and get back to you shortly.

[2020-05-10 15:40] SamaraSoucy-MSFT commented on #54517
Thanks for the feedback! We will review and get back to you shortly.

[2020-05-10 15:42] SamaraSoucy-MSFT commented on #54518
Thanks for the question! We will review and get back to you shortly.

[2020-05-10 15:43] SamaraSoucy-MSFT commented on #54519
Thanks for the question! We will review and get back to you shortly.

[2020-05-10 15:44] SamaraSoucy-MSFT commented on #54520
Thanks for the question! We will review and get back to you shortly.

[2020-05-10 15:44] SamaraSoucy-MSFT commented on #54521
Thanks for the question! We will review and get back to you shortly.

[2020-05-10 15:46] SamaraSoucy-MSFT commented on #54522
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2020-05-10 15:47] SamaraSoucy-MSFT commented on #54523
Thanks for the question! We will review and get back to you shortly.

[2020-05-10 15:53] DixitArora-MSFT commented on #54101
@jzoran05 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-10 15:53] #54101 closed

[2020-05-10 15:54] #54235 closed

[2020-05-10 16:19] nnkteja commented on #53895
Sample working example:
[code]

[2020-05-10 16:40] shubhammicrosoft1 opened #54524 "Can we enable Azure AD integration v2 on existing AKS clusters"
Wouldn't it be great if we can enable AAD integration on existing AKS clusters?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22a4b366-3eac-83f8-05bb-1302ce5c9235
* Version Independent ID: 73a9c88b-784d-2f96-becc-14e8d751834f
* Content: [Use Azure AD in Azure Kubernetes Service - Azure Kubernetes Service](https://docs

[2020-05-10 16:47] markjbrown commented on #53374
multiple places. here for example, https://docs.microsoft.com/en-us/azure/cosmos-db/partition-data#logical-partitions

If you are new to this type of database I would strongly encourage you to read our docs on partitioning and modeling.

thanks.

[2020-05-10 17:21] rohitpant55 opened #54525 "Sharding with databases present in multiple servers"
Hi All,
We have a requirement to keep our shards/databases in multiple azure SQL servers with different usernames and passwords than that of the catalog/shard manager server.
All the documents present online needs the username and password for catalog/shard manager and tenant databases to be the same. But for our application requirement, we need to have tenants/databases in different servers with

[2020-05-10 17:25] lijun1234 commented on #35358
I get similar issue if VM uses StardardSSD_LRS managed disk. In short at the time create AzureToAzureDiskReplicationConfig, the command throw out the disk type, StardardSSD_LRS , is not Premium_LRS, Standard_LRS, Standard_SSD which are defined in validation set.
I manually setup replicated item for this vm from Azure portal. Noticed the StandardSSD_LRS is accepted by GUI creation.
The following is

[2020-05-10 17:28] lijun1234 commented on #35358
![ASRDiskTypeError](https://user-images.githubusercontent.com/6380633/81506118-5e77d600-92b1-11ea-82cc-42ff1a768013.png)

[2020-05-10 17:36] mmustamandi opened #54526 "DNS Resolution"
I am able to get P2S connected from a MAC, but there is no DNS resolution. Pinging by IP works fine and I am able to resolve DNS when connected from a Windows device.  I can set a server with nslookup and then I can resolve FQDN, but that is the extent of it. Any help would be appreciated.

[2020-05-10 18:11] kvsrkrishnan commented on #54428
I have the same trouble. I tried creating from the Portal yesterday and I was able to see the session hosts populated, except that the status of all the session hosts seem "unavailable". This morning, one of them showed Available. The difference in "qwinsta" output is "rdp-sxs" is in Listen mode. for others it is not shown.

[2020-05-10 18:19] AjayKumar-MSFT commented on #53673
@trichardson01-kellogg, Apologies for the delay.  Midrolls for MP4’s aren’t supported by AMP at this time.

[2020-05-10 18:22] AjayKumar-MSFT commented on #53717
We will now proceed to close this thread. If there are further questions regarding this matter, please tag us in your reply. We will gladly continue the discussion.

[2020-05-10 18:22] #53717 closed

[2020-05-10 18:33] AjayKumar-MSFT commented on #54471
Eder,  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-05-10 18:35] jimmytrivedi opened #54527 "Where is the Implicit Grant option?"
I'm getting unauthorized_client even though I did for public / personal Microsoft account while App registration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fafd4de9-a6d0-b206-d4b2-008aecee39b8
* Version Independent ID: 6b9d8293-945f-c122-340b-3f1d0c19fa44
* Content: [Modify Microsoft identify platform app accounts

[2020-05-10 18:51] cesar-younes opened #54528 "Use D2_v2 in Define Packer template section script"
I got random WinRM timeout issues when using DS2_v2 as the VM size for Packer to use. I got to the bottom of it based on a suggestion from @danielsollondon on a thread in the Packer org on GitHub. It seems a similar issue was opened here, https://github.com/MicrosoftDocs/azure-docs/issues/44790, and the same resolution was suggested, which is to use D2_v2 instead of DS2_v2. I can confirm that I ha

[2020-05-10 18:55] nexxuno opened #54529 "Export failure"
Hello, I have a Object Detection trained model (general (compact)) and I want to export it to coreML and Tensorflow Lite but the export fails with only a "Failed" message. Where can I find more logs or some diagnostic data? Where can I report this?

---
#### Detalji dokumenta

⚠ *Ne uređujte ovu sekciju. Ona je neophodna za povezivanje problema slijedom docs.microsoft.com ➟ GitHub.*

* ID: 916de6f

[2020-05-10 19:36] lokijota commented on #40810
+1. Agreed with @brandonh-msft .

[2020-05-10 19:51] AjayKumar-MSFT commented on #53934
RonnieQuan, This [document](https://docs.microsoft.com/azure/notification-hubs/configure-notification-hub-portal-pns-settings?tabs=azure-portal) outlines steps on how to configure authentication -platform notification system (PNS) settings in Notification Hubs on multiple platforms. Two main patterns for registering devices: registering from the device directly to the notification hub, and registe

[2020-05-10 19:53] js-securecom commented on #54158
Yes - that is the page I have logged the issue against. Please check the python script mentioned on that page and I think you will find that it doesn't recognize 18.04 as a supported Linux version. Here is the direct link again: https://gallery.technet.microsoft.com/scriptcenter/Troubleshooting-utility-3bcbefe6

[2020-05-10 20:27] kirikintha opened #54530 "Resource Locks Break this approach"
Hello,

In my organization's governance we create delete locks in our resource group. When you remove the ability to delete the data factory resource (IE not just simply updating the template), this breaks the scripting and deployment CI.

Is there any way to do this without deleting the resource? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-05-10 22:04] MartinJaffer-MSFT commented on #54184
@MattEvansA45 I have attempted to reproduce your issue.

My setup:
Source: blob CSV
Sink: Azure SQL table containing a column of type binary
Mapping: intentionally mapped a string from source to the incompatible binary in sink (expect all to fail)
Settings:  Skip & Log Incompatible rows ; selected a blob storage; specified a container & folder
Debug run result of copy activity:
![image](https://us

[2020-05-10 22:06] cdeil opened #54531 "az db-up extension compile error on macOS"
Thanks for the very nice tutorial!

Unfortunately `az extension add --name db-up` doesn't work for me.

With Azure CLI installed via HomeBrew on MacOS, I get this error:

https://gist.githubusercontent.com/cdeil/d8f214ae77d61ee6eef7cb561a8f54c8/raw/ebcbec876a84ea06a603baa98d8953fe8c333f3d/gistfile1.txt

Why is there a compilation going on? Shouldn't pip install a binary? Is this an issue on the Az

[2020-05-10 22:22] SeaDude opened #54532 "`func azure storage fetch-connection-string <storage-account-name>` clarification"
Where the doc reads: `Use Core Tools to download the connection string from Azure with one of the following commands:` then - `Get the Connection string for a specific storage account:`...
- User must first `cd` to the root directory of the function being created
- Once the `func azure storage fetch-connection-string "storage-account-name"` command is run, the connection string will be written to

[2020-05-10 22:27] zepedaherbey commented on #53374
@markjbrown,

I've read the documents. On the other hand, and correct me if I'm wrong:
(1) there seems to be a push from the Cosmos team to not address the question of small containers that will not grow or are slowly growing.
(2) There also seems to be a push from the Cosmos team to convince the user to ignore what happens behind the scenes in terms of physical partitioning, i.e. physical partiti

[2020-05-10 22:29] SeaDude opened #54533 "Extension bundle logistics"
On this page, it reads: `You enable extension bundles in the app's host.json file.`
On the previous page that led me here it reads: `You should add extension bundles to the host.json before you add bindings to the function.json file.`
In my first reading here, its unclear to me whether I edit only the `host.json` file or BOTH the `host.json` and `function.json` files.

---
#### Document Details

⚠

[2020-05-10 22:30] SeaDude commented on #54533
Some kind of flowchart/visual aid of the process of creating an Azure Function locally and publishing it to the cloud would greatly benefit me as a technical, new user of this tool.

[2020-05-10 22:39] sanketpandia opened #54534 "Getting 404 Not found."
I added the headers and body as per the format specified in the Documentation. Tried it using Postman.

Getting a 404 error response.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78411727-ea56-aef5-4f04-b016c25afba9
* Version Independent ID: 8687b7bc-a196-6fd0-fa57-9fa5dd2d4545
* Content: [Send metrics to the Azure M

[2020-05-10 23:09] xtianus79 opened #54535 "This example needs more information such as what is the resulting object when there are multiple orders of pizza and quantify identifiers"
The example leaves something to be further explained. For example if I say a medium pizza and in the same sentence ask for 3 large pizzas how would you associate the quantities together. It can be done but it is not as straightforward or easy as the example implies without examples of outputting objects.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-05-10 23:24] SamaraSoucy-MSFT commented on #54524
Thanks for the question! We will review and get back to you shortly.

[2020-05-10 23:25] SamaraSoucy-MSFT commented on #54525
Thanks for the question! We will review and get back to you shortly.

[2020-05-10 23:26] SamaraSoucy-MSFT commented on #54526
Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

The best place for specific answers about implementations are going to be the [Microsoft Q&A](https://docs.microsoft.com/answers/) a

[2020-05-10 23:27] SamaraSoucy-MSFT commented on #54527
Thanks for the question! We will review and get back to you shortly.

[2020-05-10 23:28] SamaraSoucy-MSFT commented on #54528
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2020-05-10 23:29] SamaraSoucy-MSFT commented on #54529
Thanks for the question! We will review and get back to you shortly.

[2020-05-10 23:30] SamaraSoucy-MSFT commented on #54530
Thanks for the question! We will review and get back to you shortly.

[2020-05-10 23:32] SamaraSoucy-MSFT commented on #54531
Thanks for the question! We will review and get back to you shortly.

[2020-05-10 23:34] SamaraSoucy-MSFT commented on #54532
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2020-05-10 23:35] SamaraSoucy-MSFT commented on #54533
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2020-05-10 23:35] SamaraSoucy-MSFT commented on #54534
Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-05-10 23:36] SamaraSoucy-MSFT commented on #54535
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2020-05-11 00:03] NavtejSaini-MSFT commented on #54397
@vaibhavramdasi Please let us know if you need any further help regarding this thread.

[2020-05-11 00:15] NavtejSaini-MSFT commented on #54186
@stephanebachelier The latest Mongo compass is only compatible with 3.2.
Product Team is working on getting it compatible for version 3.6. Please let us know if you need any further help.

[2020-05-11 00:52] jdelforno opened #54536 "Be specific when referencing Workspaces"
Given the new preview of "Workspaces", it would be a good idea to be extremely specific when referencing "Log Analytics Workspaces" vs "Workspaces".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 014e86f7-1ca2-a994-0a0e-1c191b1b0e9e
* Version Independent ID: 5fc1cdeb-70ef-b8f8-b6cf-0c23989cfb9c
* Content: [Connect Sysl

[2020-05-11 01:11] mandiaya commented on #53677
Any update?

[2020-05-11 01:13] neeleshray-msft commented on #54067
@Larryngolog As of now, the Document on the Azure AD Connect Version history is what we have. We will update the document with details but we do not have an ETA for the same now.

We will be closing this thread. Let us know if you need further help.

[2020-05-11 01:13] #54067 closed

[2020-05-11 01:14] neeleshray-msft commented on #54136
@pravinady  We will be closing this thread now. Let us know if you need further help.

[2020-05-11 01:14] #54136 closed

[2020-05-11 01:14] neeleshray-msft commented on #54139
@Azhar001 We will be closing this thread now. Let us know if you need further help.

[2020-05-11 01:14] #54139 closed

[2020-05-11 01:14] neeleshray-msft commented on #54168
@sp4rc We will be closing this thread now. Let us know if you need further help.

[2020-05-11 01:14] #54168 closed

[2020-05-11 01:16] neeleshray-msft commented on #54391
@msmimart Could this be confirmed from the Product Team ?

[2020-05-11 01:17] neeleshray-msft commented on #54412
@robabh We will be closing this thread now. Let us know if you need further help.

[2020-05-11 01:17] #54412 closed

[2020-05-11 01:19] neeleshray-msft commented on #54399
@MicrosoftGuyJFlo   Could you approve the changes to the PR#54425 ?

[2020-05-11 01:31] Johnnytechn commented on #54286
If someone with a clear understanding of the problem, please help explain. Thanks.

[2020-05-11 01:44] hannesne opened #54537 "Indexing"
Starting with Mongo 3.6, data is no longer automatically indexed. Please update this article accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c76c687-04ee-8d28-f5e9-c5ee795f88f8
* Version Independent ID: 73fe052d-0fda-eb77-e387-1b333a86eb6a
* Content: [Pre-migration steps for data migration to Azure Cosmos

[2020-05-11 01:53] mcollier commented on #40810
It appears that the input binding examples have moved to https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-cosmosdb-v2-input?tabs=csharp.  The examples include the partition key, and a note indicating that if the collection is partioned, then a partition key is required.

Is there more to do on this feedback?  @mike-urnun-msft @craigshoemaker

[2020-05-11 02:02] RonnieQuan opened #54538 "Clarify Multiple Private Endpoints for a Key Vault"
What's the design idea behind this feature, support up to 64 private endpoints for a Key Vault? Just want to understand what's the use case for this product feature.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 191d0067-67ee-212d-77f6-ffb1db64582f
* Version Independent ID: 71d5a250-17e6-8500-b6a3-3c46401a255c
* Conte

[2020-05-11 02:17] RonnieQuan opened #54539 "Please Provide Information for Key Vault with a Prviate Endpoint"
From portal, Networking -&gt;Firewalls and virtual networks -&gt; Allow access from:
two options,
all network
Private endpoint and selected networks

What does allow access from private endpoint and selected networks mean?
Is Allow trusted Microsoft services to bypass this firewall option still available after I configure private endpoint keyvault?

---
#### Document Details

⚠ *Do not edit this s

[2020-05-11 02:19] g-rad commented on #54529
I'm experiencing the same issue

[2020-05-11 02:43] DixitArora-MSFT commented on #54160
@ntziolis I have assigned this to content author for further review and update as appropriate.

[2020-05-11 02:53] DixitArora-MSFT commented on #54286
@Johnnytechn Microsoft Azure operated by 21Vianet (Azure China) is a **physically separated instance** of cloud services located in China. It's **independently operated and transacted** by Shanghai Blue Cloud Technology Co., Ltd. ("BlueCloud").

Few Microsoft engineers who have special rights for Azure China can play around this.

Recommendation at this point is better to open a support case to tr

[2020-05-11 03:01] ToruMakabe opened #54540 "Hyperscale supports Geo-restore"
According to the doc "Azure SQL Database Hyperscale FAQ", Hyperscale seems that it supports geo-restore.  https://docs.microsoft.com/en-us/azure/sql-database/sql-database-service-tier-hyperscale-faq#can-i-perform-geo-restore-with-a-hyperscale-database

But in this doc, "Yes - all service tiers other than hyperscale". There is a mismatch between two docs. Could you please check the supportability?

[2020-05-11 03:01] DixitArora-MSFT commented on #54331
@v-radelg It is already mentioned in the public doc :

"The JAVA_HOME environment variable must be set to the install location of the JDK to complete this quickstart"
https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-azure-function-azure-cli?pivots=programming-language-java&tabs=bash%2Cbrowser#configure-your-local-environment

For now will proceed to close this thread.

[2020-05-11 03:01] #54331 closed

[2020-05-11 03:23] ram-msft commented on #53863
@divlja-guska We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-11 03:23] #53863 closed

[2020-05-11 03:27] likebupt commented on #53335
@akshit-srivastava   Hi, did you send the e-mail already? Sorry that I have not received it yet... Could you please cc keli19@microsoft.com, Xiao.Zhang@microsoft.com  ? Thanks!

[2020-05-11 03:43] rockboyfor opened #54541 "The two SQL query clause issue in the section of `reserved-keywords-and-special-characters-in-json`."
There is two sql query clause format issue(missing [0]) in the following URL:
https://docs.microsoft.com/en-us/azure/cosmos-db/sql-query-working-with-json#reserved-keywords-and-special-characters-in-json
If we follow the original clause in the document, we can not get the right items in the container.
Could you please help to take a look at it?

1. The first sql clause
    Original:  `SELECT * FRO

[2020-05-11 03:46] RyanHill-MSFT commented on #54421
@langebo WEBAPP_STORAGE_HOME maps to D:\home which is a writable media. Can you provide a sample of your yaml and docker file?

[2020-05-11 03:51] robabh commented on #54412
Hi All,

Thanks for looking into the thread.
So you mean to say that for SSO... Azure is the IDP while for provisioning
idcs is the IDP?

On Mon, 11 May, 2020, 6:48 AM neeleshray-msft, <notifications@github.com>
wrote:

[2020-05-11 03:54] jnprakash commented on #28738
You security team should provide admin consent to the app. Talk to you
security team on it.

On Tue, May 5, 2020 at 5:25 AM mayankprayas <notifications@github.com>
wrote:

--
Thanks and Regards
Jay

[2020-05-11 04:06] SubhashVasarapu-MSFT commented on #54065
@ranabanerjee15 , We have assigned this issue to the content author for updating the document accordingly.

[2020-05-11 04:19] msghaleb opened #54542 "miss match?"
In the "Available versions of Azure Multi-Factor Authentication" section is says that E3=P1 and E5=P2 however below it in the "Feature comparison of versions" it puts E3 with different Features than P1/P2?? and didn't mention E5 at all.

I believe under "Feature comparison of versions" the last 2 columns should be E3/P1 and then E5/P2.

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-05-11 04:20] #54542 closed

[2020-05-11 04:30] robabh opened #54543 "#54412 continuation"
Hi All, Thanks for looking into the thread. So you mean to say that for SSO... Azure is the IDP while for provisioning idcs is the IDP?
this doesnt seem to work

Related -- #54412

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bd22ad1-c4f8-fa9e-f43f-f5200fde8070
* Version Independent ID: 80c91745-f550-bca7-6674-d42584

[2020-05-11 04:35] stuhad commented on #52940
@cocallaw did you need any further information?

[2020-05-11 04:50] ranabanerjee15 commented on #54065
Thanks will look forward to the updated documentation

Kind Regards
Rana Banerjee

On Mon, 11 May, 2020, 2:06 pm suvasara, <notifications@github.com> wrote:

[2020-05-11 04:59] RohitMungi-MSFT commented on #54520
@assaf-grth Currently the translator text translate API does not support passing a complete document as binary format, There are also some limits while passing the number of text characters with the API which are documented [here ](https://docs.microsoft.com/en-us/azure/cognitive-services/translator/request-limits)for reference.

[2020-05-11 05:12] ziadhassan7 commented on #54387
Thanks a lot! I got my answer and it works :D
https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/618

I hope the SDK version supports the pronunciation param soon.

[2020-05-11 05:12] #54387 closed

[2020-05-11 05:16] sanketpandia commented on #54534
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-store-custom-rest-api

This is the url of the docs

[2020-05-11 05:16] PramodValavala-MSFT commented on #54244
@SirRacha Hope my previous comment clears things up.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-11 05:16] #54244 closed

[2020-05-11 05:21] jeevansd commented on #53677
@mandiaya It is ready. Tomorrow I will host it on the Microsoft Download Center. Also we are in the process of publishing this plugin on the Atlassian Marketplace now. :-)

[2020-05-11 05:22] mandiaya commented on #53677
Thanks! Please let me know, if it already can be download

[2020-05-11 05:27] SubhashVasarapu-MSFT commented on #53543
@DaFitRobsta , Appreciate your patience. Based on this [doc](https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations#microsofteventhub) there does seem to be specific permissions covered under Microsoft.EventHub/*. So, an Event Hub Data Owner should be able to work with networks on an Event Hub.

[2020-05-11 05:28] SeaDude commented on #11419
Just a heads up, after installing to Ubuntu 18.04 via the `snap` method, when asked to connect the password manager to the snap package via: `snap connect storage-explorer:password-manager-service:password-manager-service`, this command did not work. I had to use `snap connect storage-explorer:password-manager-service` instead. (looks like the last part of the command is duplicated both here in th

[2020-05-11 05:45] KalyanChanumolu-MSFT commented on #54059
@nitin24g I have checked this and the scenario is not currently supported without pyodbc.
This feature is already being worked on by the product team.
Please upvote and follow this [UserVoice item](https://feedback.azure.com/forums/217321-sql-database/suggestions/35773315-implement-python-bindings-for-azure-sqldb-spark-co) for updates

We will proceed to close this issue now.
If there are further

[2020-05-11 05:45] #54059 closed

[2020-05-11 05:48] vipulsparsh commented on #54406
@KarstenKleinschmidt  Thanks for reaching out.

This request is tracked under the link [here](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/33713527-support-for-3rd-party-emm-solutions-when-requiring).

Please vote the idea on the azure AD feedback forum as this is periodically reviewed by the product group . As this is a highly voted Idea , this must surely be under

[2020-05-11 06:06] robabh commented on #54543
i tried following the steps, but get an unauthorized error in the test conencion page

[2020-05-11 06:09] KalyanChanumolu-MSFT commented on #54275
@sfoxover The namespaces are mentioned on the [official documentation](https://docs.mongodb.com/drivers/csharp/#connect-to-mongodb-atlas) but I think it makes sense to include them at appropriate places on the docs as well.
We will revisit this when the samples are updated.

We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gl

[2020-05-11 06:09] #54275 closed

[2020-05-11 06:11] KalyanChanumolu-MSFT commented on #54186
@stephanebachelier This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-05-11 06:13] divyaswarnkar commented on #52103
@anttitoippa Thanks for sharing additional details. From what I understand based on your doc is that you are using SAP trigger. The message structure you are seeing is by design.In SAP trigger, we currently do not support plain XML SAP schema.  One way to handle this is to use the XML transformation step after you receive the message, and transform it in the desired format. Hope this helps.

[2020-05-11 06:16] VikasPullagura-MSFT commented on #54267
@sp4rc Any update on the issue?
Can you please share the requested data.
Thanks.

[2020-05-11 06:18] RohitMungi-MSFT commented on #53144
@gdprtcl Multiple models can be deployed using the -f option or --model-metadata-file with model registration metadata. Here is a reference from the [documentation](https://docs.microsoft.com/en-us/cli/azure/ext/azure-cli-ml/ml/model?view=azure-cli-latest#ext-azure-cli-ml-az-ml-model-deploy).

[2020-05-11 06:19] KalyanChanumolu-MSFT commented on #54206
@abhirockzz The version of Redis supported by Azure Cache for Redis is 4.0.14.
I agree with you that this information needs to be available on the documentation.

This is being assigned to the content author @yegu-ms to evaluate and update the documentation as appropriate.

[2020-05-11 06:19] raghu2505 commented on #54231
Additional info
- The VM where we have hosted the Syncope application is on our VPN. We have created an inbound rule to allow requests to come in from AzureActiveDirectoryDomainServices.
- When we ran the test connection and checked the logs on Apache Syncope, there was no log entry at all for the request made.

[2020-05-11 06:26] shashishailaj commented on #54536
@jdelforno Thank you for your feedback . We will investigate and update the thread further.

[2020-05-11 06:28] devvrr opened #54544 "What should be inbound/outbound rule for Load balancer rule"
In "create load balancer rule", in "Add load-balancing rule" step, there is a "implicit create outbound rule" option. This is not mentioned in this page

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1895941d-fa70-08ea-53c4-c49a65300625
* Version Independent ID: c41d9420-3dc5-5c49-8135-d208ee13bc14
* Content: [Quicksta

[2020-05-11 06:29] shashishailaj commented on #54543
@robabh Thank you for your feedback . We will investigate this and update the thread.

[2020-05-11 06:31] shashishailaj commented on #54539
@RonnieQuan Thank you for your feedback . We will investigate and update the thread further.

[2020-05-11 06:31] shashishailaj commented on #54538
@RonnieQuan Thank you for your feedback . We will investigate and update the thread further.

[2020-05-11 06:32] langebo commented on #54421
@RyanHill-MSFT Sure thing. You can see the entire project here: https://github.com/langebo/slimbo?files=1

The yaml file I use for deployment on azure is "docker-compose.azure.yml". To replicate my issue you need to remove line 12 which contains "PGDATA: /tmp". Otherwise postgres will not use the bind mount specified in thr volumes section.

Thank you for your effort, I really appeciate that.

[2020-05-11 06:35] devvrr opened #54545 "What are outbound NAT rules for a loadbalancer"
the "create load balancer rule" window shows an option "create implicit outbound rules". But we only have "inbound rules" menu for a load balancer but not a "outbound rules"

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1895941d-fa70-08ea-53c4-c49a65300625
* Version Independent ID: c41d9420-3dc5-5c49-8135-d208ee13bc14

[2020-05-11 06:35] robabh commented on #54543
Thanks. Trying this out throws me with unauthorised error

On Mon, 11 May, 2020, 11:59 AM ShashiShailaj-MSFT, <notifications@github.com>
wrote:

[2020-05-11 06:37] amanmcse commented on #54022
@josuvil We don't have an official statement yet, I am checking with product team on this. I will post on this thread once there is an update.

[2020-05-11 06:43] mcalnd70 commented on #53967
@fabienso sorry I have no idea what you mean

[2020-05-11 06:46] shashishailaj commented on #54536
@yelevin Could you please take a look at this and see how best we can improve the documentation ?

[2020-05-11 06:50] QuetzalcoatlRosso opened #54546 ""Reduce rate of requests""
Greetings -- I'm getting the following error message when calling the Azure Search api to return results for a set of queries:

'value' {"error":{"code":"","message":"Failed to execute request. Reduce the rate of requests, or adjust the number of replicas/partitions. See http://aka.ms/azure-search-throttling for more information."}}

Question: what does it mean to reduce the rate of requests and w

[2020-05-11 06:50] sporter83 opened #54547 "Budget filtering using tags"
[create-budget](https://github.com/Azure/azure-quickstart-templates/tree/master/create-budget)

### Issue Details
Hi! - we've been unable to add any form of filtering on tags via ARM template (example: [New-Billing.txt](https://github.com/Azure/azure-quickstart-templates/files/4552378/New-Billing.txt)), we've tried adding;
[code]
Without the "filters" section the template works as expected. We hav

[2020-05-11 06:51] sporter83 opened #54548 "Budget filtering using tags."
[create-budget](https://github.com/Azure/azure-quickstart-templates/tree/master/create-budget)

### Issue Details
Hi! - we've been unable to add any form of filtering on tags via ARM template (example: [New-Billing.txt](https://github.com/Azure/azure-quickstart-templates/files/4552378/New-Billing.txt)), we've tried adding;
[code]
Without the "filters" section the template works as expected. We hav

[2020-05-11 07:02] VikasPullagura-MSFT commented on #54293
@kazshi As you mentioned we can take snapshot of the OS disk of VMSS instance. However, below is the powershell script that you can try out for capturing the OS disk snapshot. I will advise you replace the name of the OS disk name with the data disk and try it in a test environment before you try in production (I did not try this, so requesting to test it once).

[code]

[2020-05-11 07:09] SwathiDhanwada-MSFT commented on #54548
@sporter83 Thanks for your comment. We will review the issue and get back to you.

[2020-05-11 07:10] KalyanChanumolu-MSFT commented on #54210
@NaveYosef We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-11 07:10] #54210 closed

[2020-05-11 07:11] KalyanChanumolu-MSFT commented on #54263
@markarnolditpro We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-11 07:11] #54263 closed

[2020-05-11 07:11] sharadrumane commented on #53960
@AshokPeddakotla-MSFT Thanks for your reply and valuable time. i resolved the issue,SimulatedTemperatureSensor module was not sending data to edge database so i restated the module and it worked as expected so i am closing the ticket.

[2020-05-11 07:12] KalyanChanumolu-MSFT commented on #54353
@manish-jain-1 We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-11 07:12] #54353 closed

[2020-05-11 07:12] #53960 closed

[2020-05-11 07:18] KalyanChanumolu-MSFT commented on #54209
This is being assigned to the content author to evaluate and update the samples & documentation as appropriate.

[2020-05-11 07:20] KalyanChanumolu-MSFT commented on #54207
This issue is being assigned to the content author to evaluate and update the tutorial & documentation as appropriate.

[2020-05-11 07:23] KrishnaG-MSFT commented on #54138
@Mexicoder At this point it appears that there's no edits or updates needed for the referred Azure documentation soclosing this issue for now. If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-05-11 07:23] #54138 closed

[2020-05-11 07:23] kazshi commented on #54293
@VikasPullagura-MSFT Thanks for your comment. Actually I tried but I don't know how to specify the data disk, would you please provide a sample for the data disk?

[2020-05-11 07:32] SudeshSharma opened #54549 "App Service Certificate for securing profile files"
Hello guys,

I have created website on azure vm iis webserver and also created a login form. When user's login they can upload files on their respective profile accounts. My question is, if i have scured my web site with https azure certificate then do that certificate also encrypt files that users uploads on their profile?

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-05-11 07:36] asergaz commented on #53757
Hello @sandervandevelde ,
I now understand better your concerns, wasn't clear that you were looking to Azure IoT Edge devices.

I cannot find any environment variable that will allow you to re-provision your IoT Edge device without rebooting it.

I can see a similar ask on IoT Edge Feedback Forum: [Remote Restart of the IoT EDGE Daemon for re-provisining services](https://feedback.azure.com/forums

[2020-05-11 07:38] KrishnaG-MSFT commented on #54158
@js-securecom The one you are referring to is [this](https://gallery.technet.microsoft.com/scriptcenter/Troubleshooting-utility-3bcbefe6) Offline Troubleshooter script which doesn’t have Ubuntu 18.04 as supported OS. Although it won’t affect other troubleshooting tasks. It has been added as Supported OS in our recent change. [This](https://docs.microsoft.com/en-us/azure/automation/troubleshoot/upd

[2020-05-11 07:42] amanmcse commented on #54262
@maya-cnx For all the graph calls listed [here](https://docs.microsoft.com/en-us/graph/api/resources/privilegedidentitymanagement-directory?view=graph-rest-beta#methods) Directory.AccessAsUser.All (access as signed in user) permission is required. This permission can only be provided as delegated permission.
Application permissions are not supported for this purpose, which is why we cannot assign

[2020-05-11 07:47] KalyanChanumolu-MSFT commented on #54541
@rockboyfor Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2020-05-11 07:49] KalyanChanumolu-MSFT commented on #54540
@ToruMakabe Thank you for the feedback.
We are actively investigating and will get back to you soon.

[2020-05-11 07:50] manish-95 opened #54550 "Example for Pronunciation file"
Although the general format for the Pronunciation file is given in the page, a more specific example with a few sample lines such as the one given in the Audio + human-labeled transcript data for testing/training tab would be helpful.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b5a089e-3c35-9111-0498-2d17422d53e8
*

[2020-05-11 07:51] KalyanChanumolu-MSFT commented on #54537
@hannesne Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-05-11 07:51] wandhydrant opened #54551 "Non-SRIOV like H16r, CentOS 7.6+ and RDMA = impossible?"
Hello! I'm a bit confused about this situation, it would be great to clarify:

_TL;DR: I want to use RDMA/Infiniband on a non-SRIOV Instance like H16r with a recent CentOS (7.8 or if need be 7.7). Am I right this is not possible?_

I'm successfully using CentOS 7.5 but I fear that the necessary kernel drivers (msft-rdma-drivers as present in the repositories of OpenLogic until 7.5) are no longer m

[2020-05-11 08:00] nitinkhandelwal26 commented on #54499
Any update Team?

[2020-05-11 08:00] gary918 commented on #54306
Thanks @RyanHill-MSFT ! Do we also have python APIs for this?

[2020-05-11 08:06] cyberzhu opened #54552 "Hyperlink changed"
SCIM link in the Scenario 2 is wrong

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b62768b6-f7b3-2f02-9940-71993d09c107
* Version Independent ID: 66385fba-cd55-0b79-181c-971c2ff0b9d3
* Content: [Common application management scenarios for Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/

[2020-05-11 08:08] Rockjesse commented on #53008
Could you please check your email? @YutongTie-MSFT
Does Speech SDK work well under Ubuntu?

[2020-05-11 08:12] AjayKumar-MSFT commented on #53526
@kevinmkane, I had been discussing on this internally. It is a known limitation on App Service Windows Servers. As of today, there isn't a way to fetch any intermediate certificates from Azure's ARR. Our product engineering team is actively working on it, but we do not have an ETA on this yet, we will post back as soon as we have an update. As a workaround, you can still make separate recursive fe

[2020-05-11 08:12] #53526 closed

[2020-05-11 08:29] GitMaggie commented on #28297
+1 Got a new complain on the same issue , looking forward to a resolution

[2020-05-11 08:29] abhirockzz opened #54553 "Guidance on CA (Certificate Authority) verification"
In my env, I see encountered this error while trying to connect:

[code]

This was fixed by adding `ssl_cert_reqs='none'` to the constructor. The document should add guidance on the recommended configuration for client apps:

(1) Is `ssl_cert_reqs='none'` alright?
(2) Required CA certificate should be obtained as per env

&gt; note: the doc does mentions RHEL, but the app could be running anywhere

[2020-05-11 08:31] asergaz commented on #53901
Hello @teapotestac ,
We have moved this issue to the github sample repo: https://github.com/Azure-Samples/web-apps-node-iot-hub-data-visualization/issues/46

We will continue the troubleshoot there as this is related with the code of the sample and not the doc.

Thank you!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply.

[2020-05-11 08:31] #53901 closed

[2020-05-11 08:42] rishabh1896 opened #54554 "Custom Metadata setting in Azure data factory"
Can we not create Custom metadata setting from azure data factory on demand setting?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b67214c-fd95-c1d3-dd60-b2bf4115327f
* Version Independent ID: 5d5570a4-5d3a-fcd1-f032-393a2d387ce5
* Content: [Use external metadata stores - Azure HDInsight](https://docs.microsoft.com/e

[2020-05-11 08:43] ram-msft commented on #53793
@sanpil could you please check on this issue.

[2020-05-11 08:46] #54554 closed

[2020-05-11 08:46] ChiragMishra-MSFT commented on #54472
@sethman

[2020-05-11 08:50] JoseFMP opened #54555 "A record explained is clear. But what happens if the IP of the web app changes?"
As far as I understand under certain conditions the IP of the web app  service can change. Also, it is NOWHERE stated that the IP is fixed. So if we use the approach described in this doc, it can happen our website gets broken because the IP of the AZ web app service has changed.

Isn't there a more robust solution?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-05-11 08:52] JoseFMP opened #54556 "The IP of the web app service, can change or not? Why is it nowhere specified?"
As far as I understand under certain conditions the IP of the web app service can change. Also, it is NOWHERE stated that the IP is fixed. So if we use the approach described in this doc, it can happen our website gets broken because the IP of the AZ web app service has changed.

Isn't there a more robust solution?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-05-11 08:52] JoseFMP commented on #54555
Sorry, wrong repository.

[2020-05-11 08:52] #54555 closed

[2020-05-11 08:54] SubhashVasarapu-MSFT commented on #52647
@haymansfield , Appreciate your patience. AFAIK, Traffic selectors in Azure permits traffic between specified pair of local address ranges and remote addresses meaning need to specify entire address range/ space.

[code]
Did you try setting subset ranges here ?

[2020-05-11 08:55] asergaz commented on #54436
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-11 08:56] asergaz commented on #54441
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-11 08:58] asergaz commented on #54440
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-11 09:10] bartvermeersch opened #54557 "SPZA_IW or "App Connect" missing"
I have no clue what SKU this is and I'm unable to find any information on it thus far. It is also missing from this list.

We have in our tenant 10000 licenses for App Connect (SPZA_IW).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd

[2020-05-11 09:12] SnehaAgrawal-MSFT commented on #54556
@JoseFMP Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-11 09:18] WikkidEdd commented on #54345
I ran into the same problem.

'cephalin-core' should be definitely be replaced with '<server name>' in the connection string generation.

The knowledge level of someone running through these tutorials shouldn't have to track down why this isn't working themselves.

[2020-05-11 09:24] jespernohr opened #54558 "support for creating a managed automation account"
Thank You for this helpfull how-to.
I am trying to create an application definition for an Automation Account but it seems that Microsoft.Automation is not yet supported by the 0.1.2-Preview Schema

reference: https://github.com/Azure/azure-resource-manager-schemas/tree/master/schemas/0.1.2-preview

Does the Microsoft.common support naming an Automation Account or do I have to wait for a schema up

[2020-05-11 09:25] SnehaAgrawal-MSFT commented on #53672
@RonnieQuan Thanks for the clarification! I have assigned the issue to content author @ccompy  for further review on this.

[2020-05-11 09:28] ram-msft commented on #54110
I have assigned the issue to the doc author to update appropriately.

[2020-05-11 09:28] WoutVergauwen opened #54559 "unsupported scenarios"
The first note describes an unsupported scenario for protected groups, but that scenario is not mentioned in the unsupported scenarios at the bottom of the page, and it's even mentioned that Administrator SSPR works, which makes it all very confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebc51bb0-dd9d-cb3f-3e

[2020-05-11 09:32] jakaruna-MSFT commented on #48298
If you issue is not solved yet, please send an email to azcommunity@microsoft.com.
We will enable a one time free support ticket for you to get the issue resolved.

While sending the email, please include this issue description in the subject and the issue url in the email body.

Once your issue is resolved, you can post the answer for the benefit of the community.

[2020-05-11 09:34] jakaruna-MSFT commented on #48962
I am not sure about that. We will involve azure support to get the answer for this.  please send an email to azcommunity@microsoft.com.
We will enable a one time free support ticket for you to get the issue resolved.

While sending the email, please include this issue description in the subject and the issue url in the email body.

Once your issue is resolved, you can post the answer for the benef

[2020-05-11 09:36] ajbrun commented on #28378
Any update on this? I am also receiving this error message and so far haven't found anything documenting it...

https://jwt.ms/#error=server_error&error_description=AADB2C90037%3a+An+error+occurred+while+processing+the+request.+Please+contact+administrator+of+the+site+you+are+trying+to+access.%0d%0aCorrelation+ID%3a+185b015e-8aca-4719-aca4-1ad228de87c8%0d%0aTimestamp%3a+2020-05-11+09%3a35%3a34Z%0d

[2020-05-11 09:38] jakaruna-MSFT commented on #46264
@EarthlyAlien Please open a new issue or post a question here https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=opinsights

[2020-05-11 09:41] jakaruna-MSFT commented on #46264
@vrat87 Generally new features are announced in Azure updates https://azure.microsoft.com/en-in/updates/  you can filter by services.

Since this feature is not there already, you can submit a feedback here https://feedback.azure.com/forums/216843-virtual-machines

Product teams looks into these items and build their backlog.  Community can vote for this feature as well.

[2020-05-11 09:48] SadiqhAhmed-MSFT commented on #54547
@sporter83 Thanks for the question. We are actively investigating and will get back to you soon.

[2020-05-11 09:52] lokijota commented on #40810
So actually I've just tried it just yesterday. I have a CosmosDb collection partitioned on /nameOfField, and no-matter what I do in an output binding:

- specify partition key with "/nameOfField"
- specify partition key with "/nameNonExistentField"
- specify partition key with "a_value_of_the_partition_key_field"
- leave partition key out

It always inserts the new record.

Interestingly, when ins

[2020-05-11 09:55] LengZai commented on #45991
Hi,
Any update on that issue?
It seems I got a similar issue. When I send an email from my App Service without the Application Settings WEBSITE_VNET_ROUTE_ALL=1, I can send an e-mail to smtp.office365.com:587 without any issue using .Net Core 3.1 but as soon I set the value to route all outbound to the Vnet with the Vnet integration, i got the following message:

[code]

In the meantime, i'm going

[2020-05-11 10:01] sergiomcalzada commented on #50810
It will be helpful to know what claims are returned by the user info endpoint. And more helpful if could be configured

[2020-05-11 10:03] neeleshray-msft commented on #54490
@planrite
Few things to we can get done here:

1. **Recover your account on the Authenticator App** - The Microsoft Authenticator app backs up your account credentials and related app settings, such as the order of your accounts, to the cloud. After backup, you can also use the app to recover your information on a new device, potentially avoiding getting locked out or having to recreate accounts.

[2020-05-11 10:06] SadiqhAhmed-MSFT commented on #53077
@rvahaver Closing this issue for now. Feel free to reach out to us if you have additional questions we can help with.

[2020-05-11 10:06] #53077 closed

[2020-05-11 10:11] naveenambitious commented on #54418
Thanks for the help. I have included the java code successfully but now another issue has been faced. I am working on edgecloudsim model , where I have implemented a model that takes decision from the trained machine learning model(deployed on azureml web service) . But the problem is, it gives HTTP error 503 frequently. to overcome this I have included thread.sleep(700) , now no 503 error is occu

[2020-05-11 10:11] shashishailaj commented on #54552
@cyberzhu Thank you for your feedback . We will investigate and update the link .

[2020-05-11 10:13] sandervandevelde commented on #53757
Thanks @asergaz for the update.

I filed my idea [here](https://feedback.azure.com/forums/907045-azure-iot-edge/suggestions/40393507-force-reprovisioning-of-the-iot-edge-daemon)

[2020-05-11 10:14] steveculshaw opened #54560 "Update for V2+ functions"
Really needs to be updated for V2+ functions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0849e19e-7d1a-07e4-1f37-05fa6f05adde
* Version Independent ID: 14d5ae77-cdd3-48d7-5948-005c30aeff8a
* Content: [OpenAPI metadata in Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-api-definition

[2020-05-11 10:21] #54552 closed

[2020-05-11 10:36] SumanthMarigowda-MSFT commented on #54521
@codemaker  I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issu

[2020-05-11 10:36] #54521 closed

[2020-05-11 10:37] reginbald opened #54561 "Managed Identities for App Service to App Service communication"
Is it possible to use managed identities to grant access to communication between two app services?
Similar to how we get access to key vaults.
E.g. todo service needs access to email service. Using arm templates or azure portal, todo service has been given access to the email service using it's managed identity. Todo service sends a token generated using the managed identity with it's requests to

[2020-05-11 10:37] shashishailaj commented on #54552
@cyberzhu Thank you for your contribution . WE have fixed the link. You must see the changes in the next release within next 24-48 hours.

Thank you

[2020-05-11 10:41] gdprtcl commented on #53144
@RohitMungi-MSFT Yep. I had deployed multiple models using multiple "-m" in the command. Thanks for documenting.

[2020-05-11 10:42] shashishailaj commented on #54559
@WoutVergauwen Thank you for your feedback . We will have this reviewed and update the thread. In case it requires a document update we will involve the content team.

[2020-05-11 10:43] shashishailaj commented on #54557
@bartvermeersch Thank you for your feedback . We will have this reviewed and update the thread.

[2020-05-11 10:52] ltchiu opened #54562 "Change trace levels"
There is no option of View Settings when I right clicked on the app.   Therefore I cannot change trace levels.  Please see screen shot below from VS 2019.

![image](https://user-images.githubusercontent.com/12950290/81553574-f544a100-934a-11ea-87ce-e27adf7d4ecd.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72d855

[2020-05-11 10:53] SumanthMarigowda-MSFT commented on #54344
@erikdfuqueneb We need work closer on this issue, I would recommend you to contact support, so If you have a support plan, I request you file a support ticket, else please do let us know, we will try and help you get a one-time free technical support. In this case, could you send an email to AzCommunity[at]Microsoft[dot]com referencing this thread as well as your subscription ID. Please mention "A

[2020-05-11 10:55] SumanthMarigowda-MSFT commented on #54432
@pascal-hauser Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-11 10:56] SumanthMarigowda-MSFT commented on #54491
@vuryleo Can you share the screenshot the image?

[2020-05-11 10:58] mrbullwinkle commented on #54396
Thanks for bringing this to our attention. I have added a line indicating that there is known issue and a link to the workaround. This change is merged internally and will go-live in the public docs between 10-11 AM (UTC-7) today.

[2020-05-11 10:59] mrbullwinkle commented on #54396
#please-close

[2020-05-11 10:59] #54396 closed

[2020-05-11 11:03] asergaz commented on #54519
Hello @johnnzy1 ,
Do you get the same error when using swagger REST API directly from here? https://docs.westcentralus.azuresmartspaces.net/management/swagger/ui/index#/Spaces/Spaces_UpdateBlob

Thanks

[2020-05-11 11:19] asergaz commented on #54499
Hello @nitinkhandelwal26 ,
Want to be sure, that you are asking us to test it following the [Quickstart: Deploy your first IoT Edge module to a virtual Linux device](https://docs.microsoft.com/en-us/azure/iot-edge/quickstart-linux) and check if we can reproduce the issue?

Thanks!

[2020-05-11 11:20] MattEvansA45 commented on #54184
My setup is similar, although i'm copying from an ODBC connection and using "Enable Staging = true"
![image](https://user-images.githubusercontent.com/41288088/81555420-75392e00-9380-11ea-8131-dce645c195f2.png)
however i definitely do not have that value available in the output despite it writing out the incompatible rows to the storage area. Ive just re run it again to check
![image](https://user

[2020-05-11 11:28] nitinkhandelwal26 commented on #54499
Yes, you can deploy in ubuntu machines 16.04 or 18.04 any other version,
I have tried below links
https://docs.microsoft.com/en-us/azure/iot-edge/quickstart-linux

https://docs.microsoft.com/en-in/azure/iot-edge/how-to-install-iot-edge-ubuntuvm
Or any other way I have also tried using
https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux
manual commands,

Or through

Market

[2020-05-11 11:31] andresferreira commented on #54186
I also cannot access Cosmos DB Mongo DB API(version 3.6) account from Compass

[2020-05-11 11:34] KalyanChanumolu-MSFT commented on #54537
@LuisBosquez Could you please check this feedback and update the docs accordingly.
The behavior is specifically documented [here](https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb-indexing#indexing-for-mongodb-server-version-36) but not called on the pre-migration steps.

[2020-05-11 11:40] naveenambitious opened #54563 "Http error 503"
The service has been unresponsive after 1000+ task request within 10mints. Frequently getting 503 error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9415d8d-a30c-42f9-989c-c7b3a79d7108
* Version Independent ID: b7b8ae97-1801-42b1-431e-c96ca5e958f7
* Content: [Create client for model deployed as web service - Azure

[2020-05-11 11:42] johnfslattery commented on #36124
Is there an update on when firewalling this storage account will be supported? It would be much better from a security perspective to be able to limit access to this account without comprimising the vulnurability scanning aspects?

[2020-05-11 11:44] DixitArora-MSFT commented on #54560
Hi @steveculshaw Thanks for your feedback. We will review and update as appropriate.

[2020-05-11 11:48] ram-msft commented on #51234
@rohitchouhan08 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-11 11:48] #51234 closed

[2020-05-11 11:50] KalyanChanumolu-MSFT commented on #54553
@abhirockzz Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-05-11 11:56] michalczerwinski commented on #49245
@JennyLawrance , @AjayKumar-MSFT: friendly reminder...

[2020-05-11 11:59] ram-msft commented on #51213
@hellotorax We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-11 11:59] #51213 closed

[2020-05-11 12:01] ram-msft commented on #50867
@GaelBSB We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-11 12:01] #50867 closed

[2020-05-11 12:04] ram-msft commented on #50858
Please follow the Create an RD Web feed URL (https://<rdweb-dns-name>.domain/RDWeb/Feed/webfeed.aspx, such as https://rdweb.contoso.com/RDWeb/Feed/webfeed.aspx).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-11 12:04] #50858 closed

[2020-05-11 12:05] snkancharla2002 commented on #35089
thanks for your help. It worked like a dream for me. I was struggling almost for 45 min to configure gateway subnet :)

[2020-05-11 12:11] VikasPullagura-MSFT commented on #54516
@mammask
Can you please check and add your comments on this doc update request as applicable.

[2020-05-11 12:14] MonikaReddy-MSFT commented on #54040
@mrbullwinkle - Thanks for providing more insights on this.
@clarkezone - I hope the solution provided by @mrbullwinkle has answered your question.
Thanks again for bringing this to our attention. At this moment there are no doc updates, so we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discus

[2020-05-11 12:14] #54040 closed

[2020-05-11 12:14] NikosSpanos opened #54564 "Time Efficiency and Read Big Data Optimization"
After reading the [article](https://docs.microsoft.com/en-us/azure/databricks/data/data-sources/azure/azure-datalake-gen2), I have a question to raise regarding the time efficiency and reading a huge volume of data (big data) from Azure Data Lake to Databricks.

As referenced in the article there are three ways to connect Azure data lake with Databricks:
Way 1: Mount an Azure Data Lake Storage Gen

[2020-05-11 12:19] jonathan-vella opened #54565 "Service Tags"
The registration script validates Azure AD connectivity as per the following (lines 427-432):
	Check.AadConnectivity()
	{
		#Check.HttpConnectivity "AAD1" "HEAD" "https://login.windows.net/" "200"
		#Check.HttpConnectivity "AAD2" "HEAD" "https://login.microsoft.com/" "200"
		Check.HttpConnectivity "AAD3" "GET" "https://graph.windows.net/microsoft.com/\$metadata" "200"
	}

Although the necessary se

[2020-05-11 12:19] MonikaReddy-MSFT commented on #54371
@mrbullwinkle - Thanks for providing insights on this and replicating the issue.
@v-radelg - I hope @mrbullwinkle answered your question. At this moment, there are no doc updates and we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-11 12:19] #54371 closed

[2020-05-11 12:25] bartvermeersch commented on #52083
@curtand can you please review my last comment? The page is referring to an Office 365 group, not an AzureAD group.

[2020-05-11 12:28] mrbullwinkle commented on #54417
@BhargaviAnnadevara-MSFT, @NewGyu is correct we should swap the links, but thank you so much for double-checking to confirm.

I have updated the doc and the changes are merged internally. The changes will go-live in the public repo between 10 AM - 11 AM (UTC-7).

[2020-05-11 12:29] mrbullwinkle commented on #54417
#assign:mrbullwinkle

[2020-05-11 12:29] mrbullwinkle commented on #54417
#please-close

[2020-05-11 12:29] #54417 closed

[2020-05-11 12:35] damienbod opened #54566 "Azure B2C refresh id_token returns incorrect auth_time"
When using OIDC code flow with PKCE and refresh tokens, the id_token returned in the refresh has an incorrect `auth_time` claim value. It returns the new issued time, and not the original.

From the OIDC specs

its iat Claim MUST represent the time that the new ID Token is issued, if the ID Token contains an auth_time Claim, its value MUST represent the time of the original authentication - not th

[2020-05-11 12:43] tomkuijsten commented on #54411
Any progress?

[2020-05-11 12:55] Mahesh-MSFT opened #54567 "Is it a MUST to have contoso.com hosted in Azure DNS?"
This document walks through to create private zone private.contoso.com.
However, it is not clear if the domain contoso.com should be hosted in Azure DNS for this example to work.

Is that a requirement? or
Can a domain (contoso.com) be hosted with any service provider?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: def

[2020-05-11 13:02] RohitMungi-MSFT commented on #53144
@gdprtcl We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-05-11 13:02] #53144 closed

[2020-05-11 13:02] AshokPeddakotla-MSFT commented on #53501
As suggested, please reachout to support for further help.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-11 13:02] #53501 closed

[2020-05-11 13:08] imwenyz commented on #36849
I made a pull request to azure-quickstart-templates/101-app-function
https://github.com/Azure/azure-quickstart-templates/pull/7526

[2020-05-11 13:13] MichielCornilleESC commented on #35318
Does this work when the keyvault is already created in another resource group?

[2020-05-11 13:16] VikasPullagura-MSFT commented on #54293
@kazshi I just tried reproducing your ask in my lab environment. Once you assign the VMSS details to the variable `$vmss1`, check the value assigned from the variable. From this you can specify the data disk details. Below are the details on how to create the snapshot for your reference.

`$snapshotconfig = New-AzSnapshotConfig -Location $location -AccountType Standard_LRS -OsType Linux -CreateOpt

[2020-05-11 13:16] VikasPullagura-MSFT commented on #54293
@kazshi
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. and we will continue the discussion.

[2020-05-11 13:16] #54293 closed

[2020-05-11 13:21] AshokPeddakotla-MSFT commented on #53960
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-05-11 13:24] asergaz commented on #53757
Thank you so much @sandervandevelde . I will update the UserVoice thread with news and request that it is triaged by IoT Edge Team.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-11 13:24] #53757 closed

[2020-05-11 13:28] neeleshray-msft commented on #54543
@robabh When the IDP is configured, IDCS passes the sync to Azure. While SSO is needed Oracle Cloud Infrastructure authenticates from Azure, hence here Azure is used for SSO.

Could you post a screenshot of the error that you are getting or any details of the error message ?

[2020-05-11 13:29] abhilashmk opened #54568 "Private DNS Zone does not work with Regional VNET"
https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet#azure-dns-private-zones. This does not work with Regional VNET -- Doc needs to be updated, one of our Engineer confirmed this on GitHub issue https://github.com/MicrosoftDocs/azure-docs/issues/36828.  Please consider to update on priority as customers are using these blog as reference and running into issues.

---
###

[2020-05-11 13:34] BharathNimmala-MSFT commented on #54558
@jespernohr Thank you for your query , our team will look into it and get back to you at the earliest.

[2020-05-11 13:35] duckie commented on #30997
I really dont get the "this is gonna take a long time so let's close it". What is the logic here ? Dont we close issues once it is actually fixed ?

[2020-05-11 13:37] BharathNimmala-MSFT commented on #54565
@jonathan-vella Thank you for your question, assigning this issue to our document author @dcurwin for further evaluation of the query.

[2020-05-11 13:42] JeroenMvS opened #54569 "Does the O365 Connector only support Exchange & SharePoint?"
All documentation indicates that you are able to select whatever O365 activity you want to send to Sentinel, but in my environment and all demo's I have seen I can only select Exchange & SharePoint and no data from Teams etc.
Can you please confirm if only Exchange & SharePoint are supported?
Is there any indication on when all O365 audit logs, in particular Teams, will be available?
If only Excha

[2020-05-11 13:42] jokarl commented on #52817
When I created this ticket, we were running function runtime `~1`. I upgraded today to `~3`, and type should now be `cosmosDB`. I went back and read more carefully, and I was at fault. Here's the [>2.x docs](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-cosmosdb-v2-output?tabs=javascript) and [here's 1.x](https://docs.microsoft.com/en-us/azure/azure-functions/functions-

[2020-05-11 13:44] neeleshray-msft commented on #54483
@jlichwa
"`az ad group member add`" is to add members to a group.
Are you trying to add permissions for the Key Vault to a  particular group ?

Have you tried this ?
`az keyvault set-policy --name [--object-id]`. <where object id is the Group's Object ID> ?

I tried with UPN of a User and here's the result:
![71801075-ca90c600-3094-11ea-9062-bc0cdd65370d](https://user-images.githubusercontent.com/

[2020-05-11 13:45] sschotte opened #54570 "outdated information in section Deploy an all-in-one industrial IoT services demo"
The instruction to deploy using -type demo is outdated. This type is not available via the https://github.com/Azure/azure-iiot-components.git repository.
The supported types are listed in the scripts i.e. minimum, local, services, app, all.
I assume that the demo setup is no longer valid nor the demo type setup.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2020-05-11 13:45] VikasPullagura-MSFT commented on #54362
@yellow456434 Can you please share the az cli version on which you are trying this tutorial.
We will reproduce in our lab and will get back on this.

[2020-05-11 13:45] KalyanChanumolu-MSFT commented on #54357
@cpwood Let me repro this and come back to you with an update

[2020-05-11 13:47] oliverholliday commented on #49586
I spent hours trying to figure out how to consent for this situation before seeing this comment. Please update the docs to at least mention the possibility.

[2020-05-11 14:02] StefanIvemo opened #54571 "Change Limits and sizing text for Virtual Networks"
The text "The Azure virtual network can be as large as /8, but is limited to 65,536 configured IP addresses." should probably be changed to something else. I've seen deployments where people with limited networking skills have deployed AKS Clusters to VNets with 10.0.0.0/8 as address space that where created following this article. And then after some time realized that they needed to communicate

[2020-05-11 14:03] dcurwin commented on #54565
#reassign:pvrk

[2020-05-11 14:04] abhilashmk commented on #54568
Update -- Got some information that this works only with Windows Apps and not Linux Apps

[2020-05-11 14:07] robabh commented on #54543
Error says unauthorised.

On Mon, 11 May, 2020, 6:58 PM neeleshray-msft, <notifications@github.com>
wrote:

[2020-05-11 14:14] InstanceFactory opened #54572 "How to delete Data when Diagnostics is disabled?"
I disabled diagnostics after using the storage account some days already. Later I noticed that all the metric data recorded during that time is not deleted, even though it already passed the retention time.

As I am not able to access these tables via PowerShell, C# or Azure CLI, what is the way to delete all the data, or even better delete the entire tables? Azure Storage Explorer shows an "permi

[2020-05-11 14:22] Klaas- commented on #49961
So on the case about kdump I got results,
81-ci-gen2 / 81-ci include crashkernel=auto.

However the images are missing in the docs.

The page has been moved, I'll reopen this Issue against the current list

[2020-05-11 14:22] #49961 closed

[2020-05-11 14:23] dominicbetts commented on #54343
Can you uninstall the `azure-cli-iot-ext`, it's superseded by the latest version of the `azure-iot` extension that includes these commands:

[code]

[2020-05-11 14:30] Klaas- opened #54573 "RHEL 8 Images"
This is a follow up to #49961

Open Issues Docs:
* 81-ci-gen2 / 81-ci missing from list
* unclear which image rhel 8 is always the newest minor release (8.2 was release 2 weeks ago)

Issues inside RHEL8 Images:
* ~~kdump - it seems kdump is deactivated by default on all rhel images in azure that I've looked at, it is not recommended by Red Hat to turn this off. I opened up a support case for this,

[2020-05-11 14:31] TomGeske commented on #53988
This should be enough:

We don't specifically document ARM syntax for every feature but let me check and come back on this.

Yes, we should add a bit more context on our docs. Right now MI it works like:

- **System assigned** MI is used to create resources on behalf of the user. E.g. network resources like load balancer or public IP in your resource group. Today system assigned managed identity l

[2020-05-11 14:36] alkohli commented on #54073
@rvunen Hello, typically the data upload starts within 1 business day after the arrival of the disks. The time to complete the upload to Azure is dependent on the data size being migrated.

[2020-05-11 14:38] alkohli commented on #54073
#close-off

[2020-05-11 14:41] ram-msft commented on #54130
@deloittecanada123 We are able to execute the [sample ](https://github.com/Azure-Samples/cognitive-services-quickstart-code/blob/master/dotnet/TextAnalytics/program.cs) with out an error. If possible can you please share the code that you are trying.
Please install the client library Azure.AI.TextAnalytics. Select version 1.0.0-preview.4. and install.
![image](https://user-images.githubusercontent

[2020-05-11 14:45] emelus commented on #54319
@darayavah I'm in the exact place! I'm trying to use Azure Logic Apps, but there's so little resources over the internet! Just one page here, that basically doesn't work with me, even if I update the model ID...

https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/tutorial-form-recognizer-with-logic-apps

[2020-05-11 14:48] PhilPeters304 opened #54574 "Code Examples"
Just wanted to say thanks so much for including code examples! We're assessing the best way of centralised logging with multiple log sources and being able to just grab the Powershell to test this out was really handy; and knowing I can just steal the C# to create an engineered solution was also great! Please include that where possible in the future!!!

---
#### Document Details

⚠ *Do not edit t

[2020-05-11 14:48] spitfire184 commented on #38914
+1

[2020-05-11 14:54] jlichwa commented on #54483
It works with users, service principals, but when Security Group has MSIs (Function Apps) it does not work. Functions are not able to access key vault when access policy using group of MSIs. Adding MSIs directly works.

[2020-05-11 14:55] SamaraSoucy-MSFT commented on #54354
Just checking in. Could you please provide the relevant documentation so we can route this question appropriately?

[2020-05-11 14:55] SamaraSoucy-MSFT commented on #54364
Just checking in. Could you please provide the relevant documentation so we can route this question appropriately?

[2020-05-11 15:00] SamaraSoucy-MSFT commented on #54448
Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-05-11 15:02] sdgilley commented on #54214
@ezwiefel, thanks for your feedback.  I've opened a work item and will be discussing this with the engineers to find a better way to keep this list updated and accurate.  I don't have a specific timeline yet, hopefully in the next week or so.  This issue is linked to the work item so will be updated when a PR has merged.

#please-close

[2020-05-11 15:02] #54214 closed

[2020-05-11 15:02] tfitzmac commented on #53644
@pmozbert - the links have been fixed to go to an overview page for Event Hubs REST API. The operations are still usable. When Event Hubs has republished its REST API docs, the links will get updated again.

[2020-05-11 15:02] tfitzmac commented on #53644
#please-close

[2020-05-11 15:02] #53644 closed

[2020-05-11 15:10] aidanfinn opened #54575 "AzureResourceGroupDeployment@2 Deprecated"
"DotNetCoreCLI is deprecated" error when you use the full example in DevOps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a8ced6a-595a-aa79-4b92-05ccf4c91852
* Version Independent ID: 59231e9b-7b95-ff92-7ef1-2a329211bed9
* Content: [CI/CD with Azure Pipelines and templates - Azure Resource Manager](https://docs.micr

[2020-05-11 15:12] SaurabhSharma-MSFT commented on #54341
@tplas We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-11 15:12] #54341 closed

[2020-05-11 15:14] diberry commented on #54535
@xtianus79 This is a good question. LUIS is performing extraction but not applying any post processing beyond that. The aggregation you are referring to, such as total pizzas orders, would need to be a post-processing step in the client application. I'll add information about the post processing step within the month. #please-close

[2020-05-11 15:14] #54535 closed

[2020-05-11 15:14] SaurabhSharma-MSFT commented on #53151
@mdaslamansari We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-11 15:14] #53151 closed

[2020-05-11 15:15] yanivlavi commented on #38898
Custom JSON is not supported with common alert schema is overrides it.
Also, in common alert schema limits results to 256k and is dropped it the results are larger.
I suggest you move to using LinkToSearchResultsAPI to query log analytics for the results.

[2020-05-11 15:18] emelus opened #54576 "How to use GetModel instead of TrainModel?"
I'm trying to use the GetModel (now preview) function from the Form Recognizer Logic app, but no avail. If I am to follow the document above, doesn't that mean that the model will be trained every single time an eligible email is received? If I'm to follow that then I get the error that my custom training set is too large ("over 50 files"). So how can use an existing model created by the Labelling

[2020-05-11 15:20] yanivlavi commented on #38898
See the note here:
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-common-schema-definitions#log-alerts

[2020-05-11 15:24] DawgFan commented on #54143
@MonikaReddy-MSFT I apologize for the delay. Yes, you can find documentation for how to update Cloud Role Name here: https://docs.microsoft.com/en-us/azure/azure-monitor/app/api-filtering-sampling#opencensus-python-telemetry-processors.

@mrbullwinkle We should probably provide a quick link out to this documentation from the general python docs.

@tarockey Any feedback on where in the doc you'd ex

[2020-05-11 15:25] williamayerst commented on #49073
Any update on this?!

[2020-05-11 15:26] sladeedmonds commented on #36287
It is currently possible to enable a storage endpoint on a Managed Instance subnet that is delegated to Microsoft.sqlManagedInstance, but only in the Commercial cloud.  In the Gov cloud, it seems this feature is currently unsupported.  When will this be supported in Azure Gov?

[2020-05-11 15:26] SnehaAgrawal-MSFT commented on #54549
@SudeshSharma Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-11 15:27] dsindona commented on #52007
@FbaillonGfi our engineering team is updating the documentation to Odata v4 version syntax (currently v2). Thanks for pointing this out.
#please-close

[2020-05-11 15:27] #52007 closed

[2020-05-11 15:28] stephbaron commented on #53943
Another option is to configure activity log diagnostic settings to send resource health events to a log analytics workspace and configure log query alerts for notification purposes.

[2020-05-11 15:29] henrynn commented on #8825
What is the difference between medium and large for V1 application gateway. The link in portal doesn't provide the information and I can't find that in our doc.
https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-faq#performance

[2020-05-11 15:35] sladeedmonds opened #54577 "Storage endpoint for Managed Instance subnet"
According to a support engineer I am working with, It is currently possible to enable a storage endpoint on a Managed Instance subnet that is delegated to Microsoft.sqlManagedInstance, but he is only able to confirm the Commercial cloud. In the Gov cloud, it seems this feature is currently unsupported. When will this be supported in Azure Gov?  As a side note, the documentation isn't very clear to

[2020-05-11 15:38] joedevgee opened #54578 "Instruction on how to use SAS token"
I've used above method to generate a SAS in order to upload content to Azure storage. for example using the generated SAS in a URI: ` PUT https://mystorageaccount.blob.core.windows.net/my-container/test.mp4?sv=GENERATED_SAS`
I tried both PUT and POST. but keeps getting error:
[code]
Do we need to add any header to the upload request? If so, the doc needs update

Thanks
---
#### Document Details

⚠

[2020-05-11 15:42] mrbullwinkle commented on #54143
@DawgFan, I am also going to add that code snippet here with a new tab for python: https://docs.microsoft.com/azure/azure-monitor/app/app-map?tabs=net#set-cloud-role-name. We currently link here from the correlation doc, and its where we define setting cloud role name for the other supported languages.

And I will also add a link from the Python docs to the telemetry processors doc as you suggeste

[2020-05-11 15:44] GiftA-MSFT commented on #54418
@naveenambitious since this is not a doc issue, I encourage you to engage on the MSDN or StackOverflow forums where our developer community and dedicated experts can assist. Thanks :).

[2020-05-11 15:46] GiftA-MSFT commented on #54550
@manish-95 we will review your feedback and get back to you shortly. Thanks.

[2020-05-11 15:50] GiftA-MSFT commented on #54563
@naveenambitious we will review your feedback and get back to you shortly. Thanks.

[2020-05-11 15:50] clj2567 commented on #45639
In addition to this, is there anyway to install different dependencies using apt-get on the function host?

[2020-05-11 15:51] billti commented on #54157
I know where I can find it. I mentioned that. My point was the docs tell you something that is misleading (i.e. just use the app name followed by backslash followed by user name). They don't mention this format requires escaping and that you SHOULD use the portal to get the escaped version.

[2020-05-11 15:52] GiftA-MSFT commented on #54576
@emelus we will review your feedback and get back to you shortly. Thanks.

[2020-05-11 16:02] artisticcheese opened #54579 "Can VMs be restored from recovery vault during this timeframe?"
There is a note stating that classic VMs can not be created after Feb 28, 2020. Does restore of classic VMs from recovery vault still be allowed (bearing in mind it's essentially creating a classic VM)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e76e6fc5-89f6-b1d8-feb1-44b5a1aefcf4
* Version Independent ID: 402e320

[2020-05-11 16:08] JackQuincy commented on #12753
Yes you do it using azure monitor diagnostics settings. Here is documentation on how to do it to push logs to a storage account, https://docs.microsoft.com/en-us/azure/azure-monitor/platform/cli-samples#diagnostics . change --storage-account {storage account id} to --workspace {name or id of workspace} and you should be able to push to log analytics instead.

[2020-05-11 16:17] Hjaf opened #54581 "ticks()"
Since there is no function to convert ticks to DateTime, addDays() or similar functions can be used along with a corresponding div() for the unit. But its not clear from the documentation what date to use. I see people referring to dates like 1601-01-01. etc. It would be helpful if the 0001-01-01 date is mentioned in the documentation-section for ticks()

---
#### Document Details

⚠ *Do not edit

[2020-05-11 16:23] thomaux commented on #49245
Just verified that a similar setup with WebSockets does work on a Windows App, but not on a Linux one. This is independent of what pricing tier is chosen.

[2020-05-11 16:24] #54143 closed

[2020-05-11 16:26] JennyLawrance commented on #49245
There is probably multiple issues combined here:
Websockets not working for free is identified, and we will have a fix for it.

@thomaux , can you give me the app url you have setup (send email to jennylaw(at)microsoft(dot)com and we can investigate.

[2020-05-11 16:33] rohinkoul commented on #54567
Domain contoso.com need not be created in Azure DNS. You can host contoso.com with any provider and it has no bearing on the private DNS zone as private zones are not accessible over internet.

[2020-05-11 16:34] lfittl-msft commented on #53738
Hi @evertonmc

We don't document this officially right now, but the following should work:

[code]

Could you give that a try?

Thanks,
Lukas

[2020-05-11 16:35] SatishBoddu-MSFT commented on #53938
@julie-wins Just checking back, Please make sure the '**Device connection string**' is different from the '**Service connection string**' which you have used and there are no typo errors. Please let us know if you need further assistance in this issue.

[2020-05-11 16:36] BhargaviAnnadevara-MSFT commented on #54484
@NumberByColors @cijothomas Can you please help clarify/confirm if this is indeed the case?

[2020-05-11 16:37] #46392 closed

[2020-05-11 16:37] code-vega commented on #34657
Any updates on this?

[2020-05-11 16:39] SubhashVasarapu-MSFT commented on #53009
@Nimleth , Agree with your point. So here by design Azure private link In the event of any security incident within your network, only the mapped resource would be accessible, eliminating the threat of data exfiltration.

[2020-05-11 16:40] cijothomas commented on #54484
PageView telemetry comes from js , the initializer must be part of js, not server side code.

[2020-05-11 16:43] msmimart commented on #48856
@yoelhor could you have a look in conjunction with https://github.com/MicrosoftDocs/azure-docs/issues/23029

[2020-05-11 16:44] Chris113113 opened #54582 "No documentation about system reserved resources when deploying a model to ACI"
It looks like the system deploys two additional containers alongside my model when I deploy to ACI. I don't see the resources used for this documented anywhere.

This reduces the amount of free resources I can use when deploying a model.

I see 3 containers deployed:
My model (resource values I request)
azureml-init-aci (0.1 CPU, 0.5GB Mem)
azureml-fe-aci (0.1 CPU, 0.5GB Mem)

---
#### Document De

[2020-05-11 16:45] Mike-Ubezzi-MSFT commented on #24239
@JeremyWeir @kroymann We are learning how to best manage this newer channel. The original intent   and the one it still serves today is to address documentation related topics, both enhancements and corrections that need to be made. This should also include issues where the documentation and the product do not align. As a specific product evolves over time or as changes are made (to the portal as

[2020-05-11 16:45] AshokPeddakotla-MSFT commented on #54095
Have you had a chance to see above response?

[2020-05-11 16:51] davidsmatlak commented on #48303
@greendx thanks for your documentation feedback. I confirmed that the activity log alerts are limited to a **maximum** of 100 active alert rules per subscription, so the limit can't be increased. The documentation is correct.

[2020-05-11 16:51] vipulsparsh commented on #54395
@yelevin I have created a pull request, but I do not have merge rights on that specific branch. It would be great if you can review the pull request and update as needed.

[2020-05-11 16:51] davidsmatlak commented on #48303
#please-close

[2020-05-11 16:51] #48303 closed

[2020-05-11 16:52] jeffpatton1971 opened #54583 "Portal does NOT accept dashes for the Certificate Name property"
I didn't bother to try using PowerShell or the Rest API to see if there is a difference there, but as this page is discussing creating certificates via the portal there is a bug in the portal UI, the info icon states that dashes are acceptable, but that is incorrect. So either the validation is failing on the dashes in the portal because reasons, or dashes really aren't allowed in Certificate Name

[2020-05-11 16:53] AmitavaHazra opened #54584 "Azure SSPR with federated identity (ADFS)"
If we have federated identity enabled (ADFS) (without managed identity PSH or PTA) then can we implement Azure SSPR enabling password write back  in AAD connect ? Lets assume we have all user synced from on prem AD to Azure AD.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cacc043b-aeec-5deb-e60f-b11e6381b0ba
* Versio

[2020-05-11 16:54] SatishBoddu-MSFT commented on #54373
@Marusyk We have reviewed the document and unable to repro the issue (for C#-Individual Enrollment-self-signed scenario). Could you please let us know which Enrollment type you have used? Please let us know if you have used self-signed or CA X.509 certificates?

[2020-05-11 16:55] himanshusinha-msft commented on #53714
@rr-on-gh : Since you have already an answer for this on SO , so going ahead and closing the issues now .

[2020-05-11 16:55] #53714 closed

[2020-05-11 16:59] julie-wins commented on #53938
Thank you, i will be away from Pi another couple days

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: SatishBoddu <notifications@github.com>
Sent: Monday, May 11, 2020 12:35:32 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: julie-wins <julie.wins@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Line 3

[2020-05-11 16:59] kgremban commented on #53576
@FMauroy That update has been made to the ca-certs.ps1 script and now works on directories with spaces in it. Thanks again for flagging this error.

I'm going to close this issue now. If you still experience this issue in the future, feel free to post here again and we can reopen it.

#please-close

[2020-05-11 16:59] #53576 closed

[2020-05-11 16:59] KranthiPakala-MSFT commented on #54554
Hi @rishabh1896 ,  I see that you have opened a query here and closed it. Was your query resolved? Please feel free to reach out if you need any assistance on the same.

Thank you.

[2020-05-11 17:03] tx5westmt opened #54585 "MFA Registration for OTP Guests"
We have OTP enabled and when we sent the user invitation an MFA registration requirement forced them to setup authenticator app or phone challenge.  They can access the My Apps portal but clicking  to view their profile / edit security info seems to be a dead end as they are then asked to sign in with a valid microsoft account (the email address sent is mail#user@yahoo.com).  I understand we are s

[2020-05-11 17:05] vermagit commented on #54551
@wandhydrant Your understanding of the support matrix of the CentOS versions vis-a-vis SR-IOV VM types is correct: <=7.5 for non-SR-IOV types such as H16r, and >=7.6 for SR-IOV types. The IB Linux extension installs only OFED, not the ND drivers for the non-SR-IOV VM sizes.
You make a reasonable point on the need to use newer versions. However, the ND drivers on those, if installable, would be uns

[2020-05-11 17:05] SubhashVasarapu-MSFT commented on #54545
@devvrr , We are looking into this query and will update you as soon as possible.

[2020-05-11 17:06] SubhashVasarapu-MSFT commented on #54544
@devvrr , We are looking into this query and will update you as soon as possible.

[2020-05-11 17:07] SubhashVasarapu-MSFT commented on #52646
@surajmb , Could you please provide your insights here?

[2020-05-11 17:10] SubhashVasarapu-MSFT commented on #53153
@tomcooperca , Appreciate your patience. We have assigned this issue to the respective product owner to provide valuable insights.

[2020-05-11 17:17] jodus-max commented on #36505
Hi, I'm having the same issue.
Have tried all the above suggestions and when I check container settings, it defaults to Docker Hub after every release I make from my pipeline.

Would appreciate if someone can guide me on this

[2020-05-11 17:21] raghu2505 commented on #54231
It finally worked with using the public IP address of the machine instead of the private IP address. It now works thanks.

[2020-05-11 17:25] #54395 closed

[2020-05-11 17:25] udbach commented on #54448
Documentation Link:
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-preview

Thanks,
Uday

From: Samara Soucy <notifications@github.com>
Sent: Monday, May 11, 2020 8:30 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Uday Bachu (CRM) <udbach@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Does Group Writeb

[2020-05-11 17:28] yugangw-msft commented on #54027
@lilx-MSFT, the upcoming release of Azure CLI will expose `--expiration-in-days` from `az acr token create`. This is also consistent with the existing command of `az acr token credential regenerate`
Hope this helps.

[2020-05-11 17:29] udbach commented on #54449
Thanks @SaurabhSharma. Can you please update your investigations ?

[2020-05-11 17:34] alexandarp opened #54586 "--automatic-repairs-period Flag is incorrect"
The `--automatic-repairs-period` flag doesn't exist in the `az` CLI. It should be `--automatic-repairs-grace-period`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0e152c2-665d-022e-9f54-c53e9607add8
* Version Independent ID: ccbc724d-ea1f-eb6d-e47c-685c4fb95ca5
* Content: [Automatic instance repairs with Azure virtu

[2020-05-11 17:53] viswanadham-k commented on #53624
Hi @townendk
Thanks for the feedback.
I hope latest version WVD scaling tool sort out your issue. So can you please follow the below steps and update the latest version.

Below are the steps to update the Azure automation-based scaling tool located here to latest version

Access below link and copy the content of basicScale.ps1 code into a clipboard
https://raw.githubusercontent.com/Azure/RDS-Temp

[2020-05-11 17:57] jonwbstr commented on #54426
https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/40397299-uniqueness-violation

[2020-05-11 17:57] bandersmsft commented on #54463
@burstingninja Is this still an issue for you? It looks like cost analysis is getting updated faster than the budget evaluation run. Consequently, you're seeing a delayed budget evaluated spend.

[2020-05-11 18:01] VikasPullagura-MSFT commented on #53301
@payiAzure Ideally the deployment should not fail for the reason of using the same certificate.

Internal team has suggested to open a support case to investigate this issue further. While opening the support case, please provide the cluster resource identifier, region and approximate timestamp of the failed attempt to create the cluster.

If you don't have the ability to open a technical support

[2020-05-11 18:01] #53301 closed

[2020-05-11 18:06] VikasPullagura-MSFT commented on #54586
@alexandarp
Thanks for pointing this out. We are working on updating the document and will get back on this.

[2020-05-11 18:06] Mahesh-MSFT commented on #54567
Thanks for the clarification.

Is this behavior applicable even in [Split-Horizon functionality](https://docs.microsoft.com/en-us/azure/dns/private-dns-scenarios#scenario-split-horizon-functionality) scenario?

[2020-05-11 18:08] mrvladis commented on #28378
@ajbrun  It may be faster for you to either try to re-build your policies with the templates from social accounts or explore AWS Cognito.

[2020-05-11 18:09] burstingninja commented on #54463
I decided to delete the resources, so its not a problem related to costs anymore. On the other hand, is it possible to add to the documentation a note which mentions how often the budget alert runs (according to one of your messages, every 20 hours) and also ask for a feature to run it more often or adjust how often it run (with the purpose that it prevent unexpected charges) with the next run tim

[2020-05-11 18:18] Karishma-Tiwari-MSFT commented on #54470
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.
CC: @MashaMSFT

[2020-05-11 18:21] Karishma-Tiwari-MSFT commented on #54524
Please post this as a product feedback [here](https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks). This will allow the community to up-vote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.