[2018-03-09 17:02] spottedmahn opened #5546 "Page not in tree on left"
Why isn't this page showing up on the left?

![image](https://user-images.githubusercontent.com/14079228/37219539-c5e7f61c-2391-11e8-8201-7e60824a085e.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c368cf5f-c6f0-a600-7dd3-7ce49192f1ca
* Version Independent ID: 9cfd94e2-5b23-ee9d-4a37-acb0d0808e88
* Content: [Azure

[2018-03-09 17:09] CarlRabeler commented on #5534
@jdenicola67 Please clarify your comment

@bonova @srdjan-bozovic

[2018-03-09 17:10] doodlemania2 opened #5547 "Update doc to not have old portal screenshots"
Update doc to not have old portal screenshots

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c60e59e-b306-3b47-dcad-56a3c03de428
* Version Independent ID: 95ea9500-3d2e-6bef-a743-86e660e1ca86
* Content: [Azure Disk Encryption for Windows and Linux IaaS VMs | Microsoft Docs](https://docs.microsoft.com/en-us/azure/secur

[2018-03-09 17:11] Jeremywhiteley commented on #5314
They can’t answer that and they just send me back to the Cosmos DB team.   I am frustrated by this.

[2018-03-09 17:19] hrboyceiii opened #5548 "App Authentication Extension not working on VS2017 15.5.4"
I have followed these steps several times, including installing Azure CLI tools thinking it was a dependency for using the VS Extension however I cannot get it to work.  I am signed in to VS using my Azure AD Account.  I have specified that account in the Extension Options.  I have filtered the account to the Tenant where the resource (Azure SQL) is located I want to authenticate into.

My applica

[2018-03-09 17:43] nebosite opened #5550 "How to get app id URI"
With the new Azure portal:   To find the App ID URI, click Azure Active Directory, find your app registration, click settings, then properties

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e20004e2-beab-6e67-9b98-eaa12f612442
* Version Independent ID: 2a3db0c8-d0df-cca5-fb52-36d68cd67207
* Content: [Azure AD Service t

[2018-03-09 17:51] mtillman commented on #5189
#in-process
@DeanGross Instead of updating the article you refer to (which is old and needs to be replaced), can you look at our main doc pages for managing groups. That's the best place to find guidance on this subject.

[2018-03-09 18:00] Mike-Ubezzi-MSFT commented on #5449
@nikess
So, I was unable to find any specific documentation or a tutorial that supports your desired migration strategy but, I have found the following (additional) information that details the current lift-and-shift strategy. The Channel 9 video provides a means to offer feedback and ask questions. Perhaps your use case is a good one for the Fast Track Team and there is the MSDN forums, where thi

[2018-03-09 18:15] DaveVoyles opened #5551 "Creating an environment locally, or in Azure?"
"To deploy and test your web service on the local machine, set up a local environment using the following command. The resource group name is optional."

az ml env setup -l [Azure Region, e.g. eastus2] -n [your environment name] [-g [existing resource group]]

This looks like it is creating an environment in Azure, and not locally. Am I misunderstanding?

---
#### Document Details

⚠ *Do not edit

[2018-03-09 18:17] ealsur commented on #5314
Are these articles helpful? https://cgillum.tech/2016/05/27/app-service-auth-and-azure-ad-b2c/, https://cgillum.tech/2016/08/10/app-service-auth-and-azure-ad-b2c-part-2/ to setup Easy Auth and B2C?

[2018-03-09 18:18] MikeDodaro commented on #5312
@Nhoya Try this: where the metadata says: ms.author: Nhoya , change to ms.author: rosh

[2018-03-09 18:32] CarlRabeler commented on #5449
See also: Migrate SQL Server to Azure SQL Database Managed Instance https://docs.microsoft.com/en-us/azure/dms/tutorial-sql-server-to-managed-instance
Log shipping is currently not a supported migration method. This article SQL Server instance migration to Azure SQL Database Managed Instance https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-migrate discusses the onl

[2018-03-09 18:33] bernardw1 opened #5553 "Provisioning Mode - Only option is Manual"
Seeing how the last feedback I left about is document was not really read and closed out of hand. I am going to leave feedback on the documentation again hoping it will actually be looked at.

First off - I do have O365/Azure, I have setup and have the Samanage SSO working. This means I do also have a Samanage account that is an administrator too. (see the prerequisites have been met).

So now if

[2018-03-09 18:34] bernardw1 commented on #5553
here is the screen shot of the Azure Enterprise app
![capture](https://user-images.githubusercontent.com/23319226/37223441-20975842-2396-11e8-85c3-6e2f5a3ef8a9.PNG)

[2018-03-09 18:36] Nhoya commented on #5312
Still failing

[2018-03-09 18:39] MikeDodaro commented on #5312
I noticed this: ms.date: 09/03/2018 .  That is not US style and it would mean September 9, 2018.  Try changing to 03/09/2018

[2018-03-09 19:00] Nhoya commented on #5312
Still failing, i don't think is related to the source of the markdown page

[2018-03-09 19:00] jason-j-MSFT commented on #5551
@DaveVoyles
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-09 19:01] jason-j-MSFT commented on #5550
@nebosite
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-09 19:01] jason-j-MSFT commented on #5548
@hrboyceiii
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-09 19:02] jason-j-MSFT commented on #5547
@doodlemania2
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-09 19:02] jason-j-MSFT commented on #5546
@spottedmahn
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-09 19:03] jason-j-MSFT commented on #5545
@spottedmahn
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-09 19:04] jason-j-MSFT commented on #5544
@danmyhre
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-09 19:04] MikeDodaro commented on #5312
We are trying to find a bot expert to see what needs to be done to get this accepted.

[2018-03-09 19:04] BryanTrach-MSFT commented on #5504
@fingerbib2000 Thank you for bringing this up and thank you to @cephalin for the quick reply. We will close this out now. If there are any concerns with the published changes, please reopen the request.

[2018-03-09 19:04] #5504 closed

[2018-03-09 19:05] jason-j-MSFT commented on #5542
@cdelcambre
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-09 19:05] jason-j-MSFT commented on #5541
@DareDevelOps
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-09 19:06] jason-j-MSFT commented on #5539
@fujikosu
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-09 19:07] jason-j-MSFT commented on #5536
@dajean0104
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-09 19:07] jason-j-MSFT commented on #5535
@WiseOldHowell
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-09 19:07] jason-j-MSFT commented on #5533
@JasonSingh
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-09 19:08] jason-j-MSFT commented on #5532
@ChristianRMKoerber
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-09 19:08] jason-j-MSFT commented on #5531
@shreenathv
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-09 19:09] jason-j-MSFT commented on #5530
@arunakshi
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-09 19:09] jason-j-MSFT commented on #5527
@aL3891
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-09 19:10] jason-j-MSFT commented on #5526
@niliferk
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-09 19:10] jason-j-MSFT commented on #5522
@mjstenbe
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-09 19:10] jason-j-MSFT commented on #5521
@yrfu
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-09 19:11] jason-j-MSFT commented on #5520
@JohnMoor
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-09 19:11] jason-j-MSFT commented on #5519
@phatcher
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-09 19:12] jason-j-MSFT commented on #5517
@FrederikLeed
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-09 19:12] jason-j-MSFT commented on #5516
@buzzfrog
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-09 19:12] jason-j-MSFT commented on #5513
@johnwildes
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-09 19:12] jason-j-MSFT commented on #5512
@nitinkale
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-09 19:13] jason-j-MSFT commented on #5511
@JohnDoe2193
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-09 19:13] jason-j-MSFT commented on #5508
@zartcosgrove
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-09 19:13] MikeDodaro commented on #5312
Please don't change anything while we investigate.

[2018-03-09 19:13] samboot7 opened #5558 "data_sensitivity_information in the audit log is always empty"
Have an Azure SQL database with server level auditing configured.
Added classifications to several columns in the "Data discovery & classification (preview)" settings of the database.  A mixture of the recommended and manually entered.
Ran several queries on the Azure SQL database that referenced the columns that now have classifications.
Viewed the audit log via the sys.fn_get_audit_file function

[2018-03-09 19:23] MicahMcKittrick-MSFT commented on #5527
@aL3891 I have assigned this issue to the content author to review your suggestion.

@ChackDan Please take a look and let us know what you think.

[2018-03-09 19:25] MicahMcKittrick-MSFT commented on #5522
@mjstenbe RDP to Linux VMs is nothing something that works out of the box. What distribution of Linux are you using?

For exmample, to RDP to a Ubuntu VM you need to install and configure this service:
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/use-remote-desktop

[2018-03-09 19:35] mike-urnun-msft commented on #5456
Hi @githubavi,

Event Hub is designed more to be the "front-door" for massive scale of incoming data at low latency; it decouples and sits in-between your publisher and receiver so that publisher and receiver can do their work independently. So in this context, there really is single pipeline in which your event triggered data flows through: publisher->event hub->receiver. However, you may still o

[2018-03-09 19:50] kgremban commented on #5472
@AzureDataGeek I just tested this again on a MacBook Pro, and the instructions worked as written. I attached a screenshot from the terminal output. After the successful installation, I tested it with the command 'sudo iotedgectl --help' which worked as expected. This seems like an issue with your environment, not a doc bug.

Besides checking that you're running the most up to date version of Pytho

[2018-03-09 19:51] kgremban commented on #5472
#in-process

[2018-03-09 19:52] jeevansd commented on #5521
@yrfu I think the problem is in the Azure AD app. By default when you add the Microsoft JIRA app from the gallery then it should create the certificate with 3 years validity. Also it has be active by default. In your case this has not happened and there must be an error. So I will suggest you should delete that app and add that new Microsoft JIRA app from the gallery again. Then try to click on th

[2018-03-09 19:54] jdenicola67 commented on #5534
In the section titled "To apply the route table to the Managed Instance subnet", it has the following as the first two steps:

When I do this, these steps are not accurate. When you click Subnets, there is nothing there. Step 2 says to "click the Managed Instance subnet" but it has not been created yet.

You must click "Associate" to add the subnet at this point.

[2018-03-09 19:55] Jeremywhiteley commented on #5314
Thank you.  Those articles were super helpful.  They addressed some of my other questions.  I will need to try it and see what works.

I still think a complete sample with authentication here would be super helpful for developers.

https://azure.microsoft.com/en-us/resources/samples/

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Matias Quaranta <notifications@g

[2018-03-09 20:18] BryanTrach-MSFT commented on #5550
@navyasric Can you please take a look and update the document as necessary?

[2018-03-09 20:21] jason-j-MSFT commented on #5483
@JackXueIndiana
Debug logging can be enabled on the HDI client side to produce errors when you are being throttled:
https://docs.microsoft.com/en-us/azure/data-lake-store/data-lake-store-performance-tuning-mapreduce#limitations

[2018-03-09 20:21] #5483 closed

[2018-03-09 20:24] MicahMcKittrick-MSFT commented on #5511
@JohnDoe2193 thanks for bringing this to our attention. I have assigned this issue to the content owner to take a look and update the doc as needed.

@MikeRayMSFT please review the solution mentioned and check to see if it would fit good in this doc. Thank you.

[2018-03-09 20:33] MicahMcKittrick-MSFT commented on #5547
@ejarvi can you take a look at this? Seems @Dewtiv is no longer contributing to this doc

[2018-03-09 20:34] MicahMcKittrick-MSFT commented on #5541
@DareDevelOps Thanks for the suggestion. I have assigned this issue to the content author to review and update the doc as needed.

[2018-03-09 20:35] femsulu commented on #5344
@bennbatt8112, following up on George's update above. Please let me know if you have any additional questions. If not, may I close this issue?

[2018-03-09 20:39] MohitGargMSFT commented on #5553
Related to How to set Provisioning Mode #5496

[2018-03-09 20:40] MohitGargMSFT commented on #5496
@bernardw1 Apologies that issue was closed without your confirmation. I have reopened this issue so that we continue the discussion here and capture all details in this thread itself. Please let me know if this is fine with you. Let me know if you are fine closing the other issue.

Please note that Samanage tenant by default is not professional. I was able to repro it when we choose Samanage appli

[2018-03-09 20:40] MicahMcKittrick-MSFT commented on #5532
@ChristianRMKoerber Looks like you are getting this error because you are not allowed to deploy the Standard_DS1_V2 series VMs in WestEurope. This is likely due to some Policies put into place by your Subscription Admin. As you can see from the error message you are able to deploy a Standard_DS1_v2 series machine to the following regions only:

centraluseuap
eastus
eastus2
eua
southcentralus
south

[2018-03-09 20:40] #5532 closed

[2018-03-09 20:41] #5368 closed

[2018-03-09 20:43] Mike-Ubezzi-MSFT commented on #5407
I do not see paused as a valid possible state for 'state_desc'. Please see the following link and look for column name 'state' (see attached image):

https://docs.microsoft.com/en-us/sql/relational-databases/system-catalog-views/sys-databases-transact-sql

**This applies to:**
SQL Server (starting with 2008)
Azure SQL Database
Azure SQL Data Warehouse
Parallel Data Warehouse

![screenshot 7](https

[2018-03-09 20:43] #5394 closed

[2018-03-09 20:44] MicahMcKittrick-MSFT commented on #5537
Thanks @ScottAzure.

I have assigned this issue to the content author to review and update the document as appropriate.

@dlepow please review the suggestion provided by Scott.

[2018-03-09 20:47] tfitzmac commented on #5541
#in-process

[2018-03-09 20:49] MicahMcKittrick-MSFT commented on #5512
@nitinkale Appreciate the suggestions. I have assigned this issue to the content author to review these and update the doc as appropriate.

[2018-03-09 20:51] drcrader opened #5560 "Separate disks for data and logs?"
If I provision two P30 disks for SQL data, which configuration is recommended? One disk for data and TempDB files and the other disk for log files, or stripe the two disks using Storage Spaces and place all files on the same drive?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 139dc620-240c-779f-1eed-c12accfe2ef6
* Ve

[2018-03-09 20:52] MohitGargMSFT commented on #5496
@asmalser-MSFT Also I am assigning this to you to confirm if above information provided is correct. Please add additional details if necessary.

[2018-03-09 20:53] yaroman commented on #5407
There is another link:
https://docs.microsoft.com/en-us/azure/sql-data-warehouse/quickstart-scale-compute-tsql
![image](https://user-images.githubusercontent.com/10407137/37229474-0d8f5972-23b2-11e8-96c8-9bef146dbc27.png)

[2018-03-09 20:53] #5118 closed

[2018-03-09 20:57] yaroman commented on #5407
And why would it even show ONLINE when a DW is not?

[2018-03-09 20:58] ejarvi commented on #5547
Yes, I'll take a look.   Thanks @doodlemania2 for the heads up.

[2018-03-09 20:58] jkeech opened #5561 "I don't think this guarantees a singleton function"
Looks like there is a race condition in this code that could generate multiple instances on the backend, which defeats the purpose of trying to create a singleton. Between the `GetStatus` and `StartNewAsync` call, a new instance could be added on the backend by a different thread. There needs to be an atomic GetOrCreate type of action to guarantee singleton behavior, unless I'm misunderstanding ho

[2018-03-09 21:00] Mike-Ubezzi-MSFT commented on #5482
I believe Step 5 is establishing an application registration type that is not necessarily dependent on having that service exist in your Azure account.

Can you type _SQL Server Analysis Services_ into the search box, and see if that API type is made available to you? Can you provide a screen capture of your result.

Thank you,
Mike

[2018-03-09 21:03] MicahMcKittrick-MSFT commented on #5551
@DaveVoyles It uses a combination of both. If you look at the difference between a Local Deployment and a Cluster deployment the only thing you will notice is a cluster deployment creates a Kubernetes Deployment on ACS.

So essentially you are using your local machine as the Container Service for the deployment.

Once you confirm it can run locally you can perform the Cluster Deployment which take

[2018-03-09 21:05] MohitGargMSFT commented on #5517
@FrederikLeed I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-09 21:11] MicahMcKittrick-MSFT commented on #5537
@dlepow I talked with Scott and the main issue customers are seeing with this doc is that only RSA types are supported and not other encryption types. When we are pointing customers to this doc it does not actually state supported keys. So having this information in here would greatly help our customers. Please reach out to either of us more more information :)

[2018-03-09 21:11] tfitzmac commented on #5455
#in-process

[2018-03-09 21:12] Mike-Ubezzi-MSFT commented on #5407
The purpose of this interaction is to address document related issues/questions. The screen capture you provided shows a potential documentation issue. So, let me push this on to the document owner to be addressed. The result of this should answer the question whether the DW can even reach a Paused status, as an Azure Managed SQL instance can never really be Offline or Paused as you do not have th

[2018-03-09 21:12] artisticcheese opened #5563 "Can you set cloud role instance via configuiration file"
Hello,

For Application Insights Status monitor is it possible to set Cloud Roles Instance or any other properties for that matter at runtime since code is not instrumented to modify those values.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83dd1058-3012-a275-1252-87eee4a56e26
* Version Independent ID: 1e90c53b-caad

[2018-03-09 21:12] mimig1 commented on #5460
@MicrosoftDocs/azure-cxp-triage - Please add the functions label to this.

[2018-03-09 21:16] MohitGargMSFT commented on #5519
@phatcher I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-09 21:16] danvanderboom opened #5564 "Misspelling of addEdges"
Search for “addEges”, update to “addEdges”.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0374b015-1139-9df8-6c96-a8657a088748
* Version Independent ID: 2e18d44d-de3c-eee5-7932-0a5a967e9b17
* Content: [Azure Cosmos DB Gremlin support | Microsoft Docs](https://docs.microsoft.com/en-us/azure/cosmos-db/gremlin-support)
*

[2018-03-09 21:18] cynthn commented on #5295
#please-close https://docs.microsoft.com/en-us/azure/virtual-machines/windows/capture-image-resource

[2018-03-09 21:19] csadam commented on #5482
![screenshot](https://user-images.githubusercontent.com/16628339/37230406-b0909a02-23e7-11e8-9a3f-2e996f32c124.png)

[2018-03-09 21:21] jeevansd commented on #5521
@yrfu We are also in the process of adding the new version of the plugin where we have fixed some of these issues. Please download the new version on Monday PST EOD.

[2018-03-09 21:28] QiiLin opened #5565 "The Given instructions does work...."
I did the above steps....the sample code/instructions does not work..when I open the deployed page, ..it only gives me a simple line of text: you don't' have permission...etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b0165d7-6462-842c-76ec-1a1f344fa51a
* Version Independent ID: 3b2c77ed-d9eb-cf20-0ace-908b88927e

[2018-03-09 21:31] MohitGargMSFT commented on #5520
@JohnMoor As I go through the document, initially it provides insights about what condition and Access controls means in context of Conditional Access Policy. Based on it, the document provide details about of different type of conditions and I can follow it fine. Please help with more specific inputs that concerns you here.

[2018-03-09 21:32] MicahMcKittrick-MSFT commented on #5472
@kgremban thanks for confirming the steps worked on a Mac. As you mentioned, this does not appear to be an issue with the doc as we have confirmed both the Linux and Mac instructions work.

@AzureDataGeek As was mentioned, this is likely due to some issues with your local machine. Such as not having  an up-to-date module installed.

Since this has been seen to not be an issue with the document its

[2018-03-09 21:32] #5472 closed

[2018-03-09 21:37] tfitzmac commented on #5455
@chris9263 - thanks for suggesting this fix.

[2018-03-09 21:37] #5455 closed

[2018-03-09 21:37] #5541 closed

[2018-03-09 21:39] tfitzmac commented on #5541
@DareDevelOps - thanks for suggesting this change. I think it helps clarify those sections.

[2018-03-09 21:40] MikeDodaro commented on #5312
I have pulled your branch into mine.  We'll need an email address for you, per this:
ms.author: The email alias of the FTE sponsor, and the full email address of the community author.

[2018-03-09 21:40] spottedmahn opened #5566 "Missing from tree on left"
Why isn't this page showing up on the tree on the left?

![image](https://user-images.githubusercontent.com/14079228/37231321-b199fac6-23b8-11e8-81db-34cefec33fba.png)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ae79d47-b33f-66df-e37d-71e19a3c8318
* Version Independent ID: 779c20d6-ed3f-8747-d9ad-63f7d1ed728b
* Cont

[2018-03-09 21:41] v-jaswel commented on #5533
Hi Jason,

When you mention subscriber ID, are you referring to these lines in the quick start code?

// These properties are used for optional headers (see below).
// static string ClientId = "<Client ID from Previous Response Goes Here>";
// static string ClientIp = "999.999.999.999";
// static string ClientLocation = "+90.0000000000000;long: 00.0000000000000;re:100.00000000000

If so, you can g

[2018-03-09 21:43] Mike-Ubezzi-MSFT commented on #5407
Issue Summary:

The 'check database state' sql code sample (link below) is described as having the following result in the document:
**When you run this command, you should receive a Status value of Online, Pausing, Resuming, Scaling, or Paused.**

**Link** https://docs.microsoft.com/en-us/azure/sql-data-warehouse/quickstart-scale-compute-tsql#check-database-state

The enduser is not seeing any on

[2018-03-09 21:43] bernardw1 commented on #5496
Yes I am happy to discuss the issue in this thread, and you can close the other thread, I just wanted to make sure that the topic was seen since this one was marked as closed.

As to our plan with Samanage, we do have the professional plan with Samanage. It is currently a trial but we are purchasing the professional plan with them. Here is a screen shot showing that we have the professional plan.

[2018-03-09 21:48] jeevansd commented on #5192
@leemac and @aazizi18 We found the issue and fixed it for the 7.8 version. Now we are publishing the newer version of the plugin in the Microsoft Download center. Once the update is complete then I will update this thread. Current planned ETA is Monday EOD.

[2018-03-09 21:50] tfitzmac commented on #5199
@ravi-karur - unfortunately, there is no way to do this right now. We will update this article if that changes.

[2018-03-09 21:53] dlepow commented on #5381
@jithinjosepkl - Thanks for this feedback! For background, the IaaS deployment script is still available for HPC Pack 2012 R2 customers, so it remains documented here with other "classic" VM docs. I appreciate your point about providing guidance for Resource Manager deployment especially for HPC Pack 2016. I'll update to include a link to [this article](https://docs.microsoft.com/azure/virtual-mac

[2018-03-09 21:54] tfitzmac commented on #5199
#please-close

[2018-03-09 21:59] jason-j-MSFT commented on #5507
@zartcosgrove
I have assigned the issue to the content author to investigate further and update the document as appropriate.

@saveenr
I was able to replicate the issue and resolve it by installing the U-SQL extensions from the Data Lakes Analytics - "Sample scripts" blade, and checking on the installation job completion from the "Job management" blade.

![capture0](https://user-images.githubuserc

[2018-03-09 21:59] Mike-Ubezzi-MSFT commented on #5482
Issue Summary

The end user is not able to proceed past step 5 of the this tutorial, as SQL Server Analysis Services is not available as an option.

**Link** https://docs.microsoft.com/en-us/azure/analysis-services/analysis-services-async-refresh#interactive-login-or-usernamepassword

[2018-03-09 22:04] Nhoya commented on #5312
Since my address is public i'v no problem in sending it here nhoyadx [ at ] gmail.com

[2018-03-09 22:08] MikeDodaro commented on #5312
Can you see this? https://github.com/MicrosoftDocs/azure-docs-pr/pull/35014

[2018-03-09 22:10] Nhoya commented on #5312
No i can't since the -pr repository is private and I need an invite to join

[2018-03-09 22:12] kgremban commented on #5430
Hi @melzoghbi thanks for taking the time to open this issue.

I retested the original steps (docker login) and they do work as expected. Perhaps you were trying to sign in with your Azure account credentials, rather than taking the username and password from the ACR access keys?

I also tested the steps that you recommend. I do like the simplicity of logging in with the az acr login command, but t

[2018-03-09 22:13] MikeDodaro commented on #5312
We won't be able to get it through editorial review before 3:00 PM, but it will probably get published on Monday.  I may have a few more questions.

[2018-03-09 22:16] Nhoya commented on #5312
Sure, totally not a problem for me, if you have any questions feel free to ask

[2018-03-09 22:20] dlepow commented on #5537
@ScottAzure @MicahMcKittrick-MSFT @iainfoulds - I agree we should be more crisp about the supported formats. How about I add a short heading toward the top of each of these key articles that says "Supported key pairs" and the sentence "The keys that Azure supports are 2048-bit SSH-2 RSA keys."? I believe this statement is accurate but please correct if not. I notice [this article](https://docs.mic

[2018-03-09 22:22] Phydeauxman opened #5568 "Links in article do not work"
I tried for some time to get the links in this article to work to get detail on the types of events that are audited in Azure AD.  Never could get any of them to return data.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95a0ad3b-1b44-1f41-aff4-9da16556523e
* Version Independent ID: 50cb941d-fc32-fcb0-5336-5d003b0410e

[2018-03-09 22:25] MohitGargMSFT commented on #5535
I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-09 22:27] Mike-Ubezzi-MSFT commented on #5500
I can confirm that both are still In Preview. I have posted the Azure roadmap links for each below but, as for the dates for availability, I do not have that available.

**MySQL**
https://azure.microsoft.com/en-us/roadmap/?tag=azure-database-for-MySQL
**PostgreSQL**
https://azure.microsoft.com/en-us/roadmap/?tag=azure-database-for-postgresql

[2018-03-09 22:27] ScottAzure commented on #5537
That wishy washy statement isn't ideal for customers. We should understand the formats and draw a line

[2018-03-09 22:27] MicrosoftGuyJFlo commented on #5330
No problem @FrederikLeed

[2018-03-09 22:27] MicrosoftGuyJFlo commented on #5330
#please-close

[2018-03-09 22:28] MicrosoftGuyJFlo commented on #5198
#please-close

[2018-03-09 22:31] CarlRabeler commented on #5534
The mi_subnet is created as part of step 3 of this procedure: https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-tutorial-portal#configure-a-virtual-network-vnet in this tutorial.

From: jdenicola67 <notifications@github.com>
Sent: Friday, March 9, 2018 11:55 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Carl Rabeler <carlrab@microsoft.com>; Men

[2018-03-09 22:31] curtand commented on #5147
@MarkusVi @Rachitgupta1994

Any comments, gentlemen?

[2018-03-09 22:39] mike-urnun-msft commented on #5486
@ShaunInIdaho Thank you for bringing this to our attention. We have corrected the said references on this doc, and the changes will reflect after the content author reviews and approves the PR.

[2018-03-09 22:44] Mike-Ubezzi-MSFT commented on #5506
Issue Summary

Step 1 of the tutorial creates a variable of clf but then in step 3, clf2 shows up and it is not clear what it is being used for.

https://docs.microsoft.com/en-us/azure/machine-learning/preview/model-management-service-deploy#3-create-a-scorepy-file

import pickle
from sklearn import datasets
iris = datasets.load_iris()
X, y = iris.data, iris.target
**clf** = linear_model.LogisticR

[2018-03-09 22:45] billmath commented on #5415
@amanarneja  #please-close

[2018-03-09 22:47] billmath commented on #5108
@MohitGargMSFT  #please-close

[2018-03-09 22:48] BryanTrach-MSFT commented on #5475
@kgremban Can you please review this request and determine if clarification is needed on how to locate the deployment.json file?

[2018-03-09 22:51] tamram commented on #5334
@cstainie - Thank you. I've made that point in a few additional places as well, so that it will be easier for customers to find.

[2018-03-09 23:00] ti82 opened #5571 "DnsName Confusion"
I can't seem to get this to work, and I suspect it has to do with using a different common name than in the example. The guide only mentions changing the subject, but the -DnsName argument is also specified. Is that necessary and should it change to match?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63df9645-af2c-3c

[2018-03-09 23:04] jason-j-MSFT commented on #5558
@samboot7
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-09 23:07] rwike77 commented on #5253
Let's close this.  The other issue will be flagged for doc follow up if there needs to be any content changes.  #please-close.

[2018-03-09 23:07] amanarneja commented on #5565
@QiiLin Thanks for reporting! We are investigating and will get back to you.

[2018-03-09 23:08] amanarneja commented on #5566
@spottedmahn Thanks for the feedback! We are looking into it and will get back to you.

[2018-03-09 23:09] Mike-Ubezzi-MSFT commented on #5513
Issue Summary

The Graph API overview page has a use case image that immediately communicates scope and scale of that API. The Table API does not have such an image. The image that is displayed on the monitor in the background of the video for the Table API might be a good one to include, as it instantly communicates scope/scale to the reader.

[2018-03-09 23:10] MohitGargMSFT commented on #5544
@danmyhre Regarding 'scope above the subscription level' - Thanks for the feedback! Can you post this as a feedback @ https://feedback.azure.com/forums/169401-azure-active-directory. This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2018-03-09 23:12] DaveVoyles commented on #5551
OK, I think I have a better understanding now, thank you.

So if I were to go with the first option (local), it will prepare the setup for a docker container to run locally (in this case, OS X), as well as prep the environment in Azure. For a single container.

And I suppose the idea is that when this gets deploy to Azure, it will actually be deployed in a Docker container to a VM.

Thank you for

[2018-03-09 23:14] amanarneja commented on #5568
@Phydeauxman Sorry that the links aren't working for you. I tried clicking through them but couldnt spot the exact issue. Could you point our the link or set of links that are broken ?

[2018-03-09 23:15] MohitGargMSFT commented on #5553
@bernardw1 As discussed in other thread, closing this issue as duplicate. Thanks.
Duplicate of #5496

[2018-03-09 23:15] #5553 closed

[2018-03-09 23:15] MicahMcKittrick-MSFT commented on #5551
Happy to help! What you said is correct. Generally you will run something locally to verify that the code works then proceed with pushing it to Azure. Overall this saves you time as you don't need to constantly redeploy to Azure to test simple code changes. Especially if you are like me and constantly forgot ";" and quotes :)

[2018-03-09 23:17] MicahMcKittrick-MSFT commented on #5571
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-09 23:22] amanarneja commented on #5571
@ti82 Can you please help us with what exactly did not work? The cert steps themselves work irrespective of the changes to DNSName or Subject. The connectivity will depend on the parameters of the environment being set up.

[2018-03-09 23:22] rwike77 commented on #5376
@hiraldesai Hi, sorry for any confusion.  The Add-AzureRmServiceFabricClusterCertificate cmdlet was added after this article was originally written.  The original ARM template instructions did require you to have the template you used to set up the cluster.  Yes, you can now add a secondary cert using the cmdlet even if you don't have the cluster template.  We'll update the article to make this mo

[2018-03-09 23:22] #5108 closed

[2018-03-09 23:23] #5198 closed

[2018-03-09 23:23] #5199 closed

[2018-03-09 23:23] #5253 closed

[2018-03-09 23:23] #5295 closed

[2018-03-09 23:24] #5330 closed

[2018-03-09 23:24] #5415 closed

[2018-03-09 23:25] DaveVoyles commented on #5551
Perfect, thank you! Actually just got my first web deploy working while you write were thing that, so it all went well!

![working-deploy](https://www.dropbox.com/s/2py4lmd1pkpsdf9/Screenshot%202018-03-09%2018.23.32.png?raw=1)

[2018-03-09 23:25] Phydeauxman commented on #5568
@amanarneja The Graph Explorer link in the Accessing the API section points to https://graphexplorer2.cloudapp.net but then that just does a redirect to https://graphexplorer.azurewebsites.net.  When I enter the `https://graph.windows.net/<my-directory>.onmicrosoft.com/activities/audit?api-version=beta`  I get the response below:

`
{
  "error":{
    "code":"Current user is not set.","message":"me

[2018-03-09 23:25] MicahMcKittrick-MSFT commented on #5561
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-09 23:27] MicahMcKittrick-MSFT commented on #5551
@DaveVoyles Awesome! Best of luck in your upcoming workshop. I will go ahead and close this out but if you feel more clarification is needed just let me know.

[2018-03-09 23:27] #5551 closed

[2018-03-09 23:27] DareDevelOps commented on #5541
Thank you for letting us contribute!

[2018-03-09 23:32] Mike-Ubezzi-MSFT commented on #5542
The following link provides and overview and description of all the Azure Power Shell cmdlets available for Azure VM backup operations. The Azure PS can be access from the Azure Portal or can be installed locally. Please communicate any discrepancies you might encounter.

https://docs.microsoft.com/en-us/azure/backup/backup-azure-vms-automation

Thanks,
Mike

[2018-03-09 23:40] cdelcambre commented on #5542
Hello,
    My email specified “PowerShell fileshare backup configuration”.

If you look a few articles up from what you sent below, You’ll see an article “Back up Azure File shares”.  There is not any mention of PowerShell in that article.  The article on backing up VM’s is 50% PowerShell.

https://docs.microsoft.com/en-us/azure/backup/backup-azure-files

Thanks,
Cody Delcambre

From: Mike Ubezzi

[2018-03-09 23:49] jason-j-MSFT commented on #5526
@niliferk
Sorry, it looks like the only locale that is currently supported is US English (en-US) as outlined here:
https://docs.microsoft.com/en-us/azure/cognitive-services/custom-speech-service/customspeech-how-to-topics/cognitive-services-custom-speech-change-locale

[2018-03-09 23:49] #5526 closed

[2018-03-10 00:03] Rachitgupta1994 commented on #5147
Hi,

Thanks for your responses gentlemen. I have got what I needed. For the
single sign on option to appear, we have to add a non gallery application
from the enterprise apps. This option doesn't appear for apps which we
added as we are developing.

However, this should be clearly mentioned in the docs. Request you to
include the same.

Regards,
Rachit

On Sat, Mar 10, 2018, 04:02 Curtis Love <not

[2018-03-10 00:04] jimdial commented on #5471
@KumaresanLakshmanan  Could you please look at the [effective routes](https://docs.microsoft.com/azure/virtual-network/virtual-network-routes-troubleshoot-portal) for any network interface in a subnet you've disabled BGP route propagation for?  There shouldn't be any BGP routes listed there, but if there are, please let me know. #in-process

[2018-03-10 00:09] cgillum commented on #5561
@jkeech You are correct, and we are planning on updating this example. I believe the simple way to fix it is to put a `[Singleton]` attribute on the HTTP trigger function.

We're separately considering some other APIs such as a `GetOrCreate` to make this even simpler and more obvious, but that's probably further down the line.

[2018-03-10 00:13] Mike-Ubezzi-MSFT commented on #5542
There is very little in the way of powershell for fileshares or storage resources via Powershell. Are you looking to target specific folders or are you looking to backup the entire resource? Do you have some use cases? Thanks

[2018-03-10 00:18] WootJay commented on #5260
Hi,
It's under **Step 6 - Management tasks**, and **PowerShell** section of this document - [Buy and Configure an SSL Certificate for your Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/web-sites-purchase-ssl-web-site#powershell)

`# Create an App Service plan in Free tier.`

`New-AzureRmAppServicePlan -Name $webappname -Location $location -ResourceGroupName $webappname -Tie

[2018-03-10 00:26] cdelcambre commented on #5542
Looking to configure the policy and backup of an azure file share to an azure recovery services vault via powershell.  The entire file share, no sub folders or anything complicated like that.

[cid:image001.jpg@01D3B7C3.68C4F3C0]

From: Mike Ubezzi <notifications@github.com>
Sent: Friday, March 9, 2018 4:13 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Cody Delcambre <cdelcam

[2018-03-10 00:26] kgremban commented on #5430
#in-process

[2018-03-10 00:29] jkeech commented on #5561
Thanks! I wasn't aware of the `[Singleton]` attribute. That does seem like it should fix it. Based on https://github.com/Azure/azure-functions-host/issues/912, the singleton attribute might not be fully supported yet for functions? It would be great to update these docs to leverage `[Singleton]` if it's a supported way to serialize callers into the outer function.

[2018-03-10 00:38] rwike77 commented on #5376
@hiraldesai  I just committed some updated to this article, which should publish live on Monday morning.  Thanks again for the feedback.

[2018-03-10 00:39] #5376 closed

[2018-03-10 00:56] rwike77 commented on #5376
#please-close

[2018-03-10 02:25] femsulu commented on #5530
@arunakshi , please change "-ResourceGroup" to "-ResourceGroupName" and "-Actions" to "-Action" then retry. let me know if that resolves your issue. I believe the sample cmdlet refrenced in the doc contains outdated arguments and params. Once you confirm this resolved your issue, I will work internally to correct the doc.

[2018-03-10 03:16] femsulu commented on #5516
@buzzfrog, thanks for bringing this to our attention. Kicked off a fix to add the correct link and will send an update once the public doc is updated.

[2018-03-10 03:24] MicahMcKittrick-MSFT commented on #5561
Thanks for replying @cgillum. I will let you and @jkeech work on this issue and once all is good I will close it out. Thanks.

[2018-03-10 03:29] MicahMcKittrick-MSFT commented on #5451
@mrdfuse thank you for clarifying that.

I have assigned this to the content author to take a look and help if possible.

@ggailey777 can you take a look and see if you can help out here?

[2018-03-10 09:36] gsuttie opened #5577 "Examples not working"
I find a lot of these examples give me the following error - "....is currently not available in location 'EastUS'
zones '' for subscription <my subscription"

Please try another size or deploy to a different location or zones. See
https://aka.ms/azureskunotavailable for details.

Is this because of my subscription or where I am located - tried a few things like different vm sizes etc but no joy.

[2018-03-10 09:51] itskarthiksrinivas commented on #5515
Hi Christine,

When I have a VM without public IP and not behind load balancer, is 160 TCP
ports gets pre allocated?

Regards,

Karthik Srinivas

On Fri 9 Mar, 2018, 11:49 AM Christian Kuhtz, <notifications@github.com>
wrote:

[2018-03-10 12:50] vhe1 opened #5578 "Storage queue message expiration?"
Hi!
So, this is Workflow Foundation for Azure. Happy! :-)

But storage queues lose their messages after 7 days. Is that an issue? I'll have workflows where timeouts are a lot longer, like 30 days or six months.

Also, workflows may have loops. Like, you model the lifecycle of a support ticket and this can be closed and reopened several times. Would this be relevant for the event replay?

---
####

[2018-03-10 14:31] imsauravroy007 commented on #5197
Hi matt why the previous comments were deleted ?

[2018-03-10 14:49] redshirt68 opened #5582 "This is not working. Solution in this message."
https://community.box.com/t5/Box-Troubleshooting-Forum/Box-SSO-Error/m-p/49314/highlight/false#M25937

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a6d67a1-eade-6bdd-ab13-744a7c351c53
* Version Independent ID: 9c1bce95-5f19-6175-7df6-a1e26368704f
* Content: [Tutorial: Azure Active Directory integration with Box | Mic

[2018-03-10 15:05] arixon1 commented on #5192
I also encountered with the exact issue described above. it would be helpful to get the new version of the plugin ASAP.
Thanks!

[2018-03-10 16:50] mjanulaitis opened #5584 "Join a Party cluster always returns access denied"
When I attempt to join a party cluster, I authorize using my GitHub account however the web page immediately returns access denied for example: https://try.servicefabric.azure.com/?error=access_denied

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3aa58af5-02ea-e425-1fc5-9f588d394016
* Version Independent ID: 86440381-

[2018-03-10 17:00] hrboyceiii commented on #5548
So I think I got it working....I found similar, unrelated to MSI, issue; I had the Resource ID invalid for Azure SQL DB (https://stackoverflow.com/questions/48560663/token-based-database-authentication-fails-with-login-failed-for-user-nt-author) and once I correct that MSI seemed to work locally (my Azure AD account was logging into the database when running in VS2017).  However, I still see those

[2018-03-10 17:36] jrp2014 opened #5585 "Active Directory Federation Services (AD FS) based deployments do not work as envisaged in this document"
Out of the box, an ADFS-based installation has no subscriptions (including a default subscription).  The documentation above doesn't point you to how to go about creating one. (You can't do it through the administrative portal, so far as I can see.)

Result of New-AzureRmResourceGroup -Name "MyResourceGroup" -Location "Local" is:

New-AzureRmResourceGroup : 'this.Client.SubscriptionId' cannot be n

[2018-03-10 18:19] jrp2014 opened #5586 "Sign in to the Azure Stack administrator portal [as what??]"
To get this to work (in ADFS mode, at least) you need to log in as cloudadmin, not the AzureStackAdmin.  (Yes, this is mentioned 2/3 of the way down in the release notes for an old release of ASDK, but most of the documentation, and GitHub powershell scripts have not yet caught up, leading to an exasperating out-of-the-box experience.)

---
#### Document Details

⚠ *Do not edit this section. It is

[2018-03-10 18:58] MathieuBuisson opened #5587 "Can you explain the allowed syntax for prefix and suffix filters ?"
Can we use wildcards in "**subjectBeginsWith**" value ?
And can we use wildcards in "**subjectEndsWith**" value ?

For example, can we specify the following value for "**subjectBeginsWith**" to get virtual machines events in any resource group using an asterisk (*) character in place of the resource group name :

`/subscriptions/<subscription-id>/resourcegroups/*/providers/Microsoft.Compute/virtua

[2018-03-10 19:04] amanarneja commented on #5564
@danvanderboom Thanks for pointing it out. We are on it :)

[2018-03-10 19:05] amanarneja commented on #5563
@artisticcheese We are checking and will get back to you.

[2018-03-10 19:06] amanarneja commented on #5560
@drcrader We are looking into this question and will get back to you.

[2018-03-10 19:24] MikeYeager opened #5588 "The product and its documentation is very confusing."
I want to set up authentication for a web site and web api I'm creating. I go into my Azure account and select AAD B2C and it creates what appears to be an entirely new Azure account (tenant). I can't do anything until I go into that account and link it back to a subscription in my original account. I think I now understand why it works like this, but the guidance and documentation don't help at a

[2018-03-10 20:11] amanarneja commented on #5588
@MikeYeager Sorry about the confusing experience. There are 2 aspects that i can make out over here.

1.) The document itself is confusing: I have assigned this issue to the Author to take a look at the feedback and see if it can be made more clear.

2.) Product Feedback: There is some valuable Product related feedback in your comment as well. Can you please post that feedback at https://feedback.

[2018-03-10 20:14] amanarneja commented on #5582
@redshirt68 Thanks for pointing this out! I have assigned it to the author to do a quick sanity check and work on a fix.

[2018-03-10 20:16] amanarneja commented on #5585
@jrp2014 Thanks for the feedback! I have assigned the issue to the author to take a look and update as appropriate.

[2018-03-10 20:18] amanarneja commented on #5586
@jrp2014 Sorry for the frustrating experience. I have assigned the issue to the author to take a look and update to make the experience better.

[2018-03-10 20:26] amanarneja commented on #5587
@MathieuBuisson Currently subjectBeginsWith nor subjectEndsWith supports wildcards (Source: https://docs.microsoft.com/en-us/powershell/module/azurerm.eventgrid/new-azurermeventgridsubscription?view=azurermps-5.4.0). This actually might be a good product feedback though. Can you post it @ https://feedback.azure.com/forums/909934-azure-event-grid so that the team can triage/investigate it ?

[2018-03-10 20:26] #5587 closed

[2018-03-10 20:33] amanarneja commented on #5584
@mjanulaitis Thanks for pointing this out, I can reproduce this as well with Github. Facebook seems to work fine though. I have assigned the issue to the Author to take a look and investigate.

[2018-03-10 20:53] amanarneja commented on #5578
@vhe1 Thanks for the happy feedback :) We will investigate your questions and see if we can find some quick suggestions for you. If now we might ask you to post the questions in an appropriate forum that will allow for a more researched and authoritative set of answers.

[2018-03-10 20:58] amanarneja commented on #5577
@gsuttie Sorry about that experience. Without knowing the location/zone its hard to say, but the best bet would be to follow the guidance at https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-sku-not-available-errors. Once you have walked through it, the issue might just be that the regions in this document aren't available to your subscription and at the bottom of the

[2018-03-10 20:58] #5577 closed

[2018-03-10 21:07] amanarneja commented on #5406
@DaveStabilify Dave, can you help with clarification of what is not working ? I have assigned the issue to you in the meantime.

[2018-03-10 21:08] jrp2014 opened #5590 ""Applies the latest Windows Server 2016 cumulative update to the new VHD ...""
Actually, it doesn't.  It applies the October 2017 cumulative update.  If you want the latest, you need to download it and use CUPath.  Shame.  I thought that I'd found a good way of getting the latest patches automatically, but this is not it.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d5d4c0e-0054-452c-ac27-03e4

[2018-03-10 21:11] davidokeyode opened #5591 "very useful"
Very useful thanks. I do have a question. I'm looking to use a custom domain storage account with my own domain name. How do I configure the app (connection string) to use a custom domain name storage account? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1026434-050e-b1d5-7cac-47cf5d5d2cad
* Version Independ

[2018-03-10 21:14] DeanGross commented on #5189
@mtillman , thanks for the suggestion. I'm familiar with the extensive guidance, but what I'm looking for is the recommended best practices for groups. The page states that "For each best practice, we’ll explain:
- What the best practice is
- Why you want to enable that best practice
- What might be the result if you fail to enable the best practice
- Possible alternatives to the best practice
- H

[2018-03-10 21:26] femsulu commented on #5591
@davidokeyode Thanks for the feedback. We are actively investigating and will get back to you.

[2018-03-10 21:30] femsulu commented on #5590
@jrp2014  - Thanks for the feedback. We are actively investigating and will get back to you.

[2018-03-10 23:19] handcyclist opened #5592 ""iothub_client_sample_mqtt" missing in SDK1.2.0"
I have SDK version 1.1.29 from Jan 2, 2018 and it included this sample.
I have done more installs to work with Ubuntu and Raspberry and realized that this sample is missing in SDK 1.2.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6c3553f-2073-38e0-4a93-7aaf483ce66c
* Version Independent ID: 8354a3d4-2117-5948-a6eb-

[2018-03-10 23:35] femsulu commented on #5592
@handcyclist
Thanks for the feedback. We are actively investigating and will get back to you.

[2018-03-11 03:12] MGoedtel commented on #5197
@imsauravroy007 - I'm not sure what you are referring to?  What previous comments?

[2018-03-11 03:17] imsauravroy007 commented on #5197
Dont act smart matt , shall I show you the screenshot where you acknowledged that there was a mistake in the earlier post which confused everyone ? Shall I report this to your seniors ?

[2018-03-11 03:24] MGoedtel commented on #5197
@imsauravroy007 - There is no need for that attitude.  It didn't dawn on me you were referring to the old feedback model which has been recently replaced by integrating with GitHub issues, and that you had provided feedback prior to its implementation.  It's impossible to keep track of who provides feedback for an article.  If you have an issue, please by all means report it.

[2018-03-11 03:49] ravipatel26 opened #5593 "Typo in code sample in the "Add a certificate to VM from Key Vault" section"
There is a typo in the code sample in the "Add a certificate to VM from Key Vault" section.
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/tutorial-secure-web-server

Line 3 of the sample code should be:
`$vm=Get-AzureRmVM -ResourceGroupName $resourceGroup -Name "myVM"`

Instead of the following:
`$vm=Get-AzureRMVM -ResourceGroupName $resourceGroup -Name "myVM"`

---
#### Document

[2018-03-11 04:02] gsacavdm opened #5594 "Why is Azure CLI 1.0 preferred over 2.0?"
This document has the following note:

There are currently two versions of the Azure CLI. CLI1.0 is based on Node.js, and has commands beginning with "azure". CLI2.0 is based on Python and has commands beginning with "az". While zone file import is supported in both versions, we recommend using the CLI1.0 commands, as described in this page.

However it provides no information whatsoever as to why

[2018-03-11 05:46] amanarneja commented on #5593
@ravipatel26 Thanks for the feedback! While from an aesthetic point of view, I am working on a pull request for this, power-shell is not case sensitive so this shouldn't have any functional implications.

[2018-03-11 06:03] #5593 closed

[2018-03-11 06:04] amanarneja commented on #5594
@gsacavdm Thanks for reaching out with your question. I have assigned this document to the author to help with the reason why 1.0 is preferred over 2.0.

[2018-03-11 06:12] amysy opened #5595 "Thanks for a great step by step but"
The only problem I faced was pushing to azure I tried both Azure and local terminal cmd but didn't work. I created a folder as well call git to correct the error through KUDU environment. Didn't get fixed still looking for resolution. In addition, the CLI was not starting and is erroring out.
below read error message:
local terminal and also bash
html-docs-hello-world>git push azure master
fatal:

[2018-03-11 06:14] amanarneja commented on #5568
Thanks for getting back to me! I wanted to check a couple of things.

1.) You clicked the login button on the top right and is shows your logged in identity
2.) https://graph.windows.net/me works fine for you
3.) You have gone through the pre reqs @ https://docs.microsoft.com/en-us/azure/active-directory/active-directory-reporting-api-prerequisites

Let me know and we can continue digging further

[2018-03-11 06:25] mimig1 commented on #5314
@Jeremywhiteley - We are tracking the complete samples via our internal work item, and it looks like you've been unblocked by the code sample and articles provided by @ealsur. I'm going to suggest that we close this issue as the immediate need has been taken care of, and the request for the long term plan has been filed. If this is not a correct assessment, please let me know. #please-close

[2018-03-11 11:41] Jeremywhiteley commented on #5314
Though it’s a good article.  From what I have read you can’t use key vault with azure ad b2c.

https://stackoverflow.com/questions/41473562/can-i-share-the-same-keyvault-between-azure-b2c-and-azure-b2b-aad

I am puzzled why Microsoft can’t provide code examples that show good practices on how to secure these technologies together.   Google and AWS make it easy.

[2018-03-11 13:08] liranms opened #5596 "There's not such function CreateDatabaseIfNotExists"
There's only CreateDatabaseIfNotExistsAsync, sometimes you use the CreateDatabaseIfNotExists in the examples above..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 557827fd-e323-7b37-2fb8-a2b6d5c10811
* Version Independent ID: 9b04167b-a8f8-d252-971e-e39b181ce589
* Content: [Azure Cosmos DB: SQL API getting started wit

[2018-03-11 13:31] AzureDataGeek opened #5597 "Error in Device Twin configuration Json"
There are a few places in the reported device twins above where "configId" is used on the cloud but "changeId" is used on the device desired.  They should be the same property name, no?

"configId": "{id of the current configuration}",    <-- In Cloud version
"changeId": "{id of the current configuration}",    <-- In Desired version

---
#### Document Details

⚠ *Do not edit this section. It is re

[2018-03-11 14:49] Phydeauxman commented on #5568
It appears for the culprit is missing the prereqs.

[2018-03-11 15:45] mcraghead opened #5598 "And You Disable It How?"
You do a very complete job of explaining the various ways of how to enable Application Insights, but I have yet to find anything about how you disable it for an application. Where is that information?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 098ffe3a-2cbd-1038-30f2-dd2f528984a3
* Version Independent ID: 65da3e70-

[2018-03-11 16:30] MicahMcKittrick-MSFT commented on #5598
@mcraghead to remove an application insights account you simply navigate to "Application Insights" in the portal. This can be done by searching for it under All Services. Once you are on the Application Insights page you can right click on the insights you desire to delete and click "Delete".

You can also go to your Application Insights page and under "More" you will see the option to delete.

I

[2018-03-11 16:30] #5598 closed

[2018-03-11 16:32] MicahMcKittrick-MSFT commented on #5596
@liranms Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-11 16:34] MicahMcKittrick-MSFT commented on #5597
@AzureDataGeek Thanks for the feedback! I have assigned the issue to the content author to investigate further.

[2018-03-11 16:49] MicahMcKittrick-MSFT commented on #5595
@amysy I followed the steps in the doc and did not run into the issue you are seeing.

Can you confirm that you can browse to your webapp as listed in the steps? http://<app_name>.azurewebsites.net

Before running the git push azure master command you should be able to at least browse to your app. In this case it seems that either your app is not up and running from the previous steps.

I would al

[2018-03-11 16:55] MicahMcKittrick-MSFT commented on #5590
@jrp2014 thanks for pointing this out. I have assigned the issue to the content author to review and update the doc as needed.

@mattbriggs can you please take a look and see if the instructions are still valid?

[2018-03-11 17:01] MicahMcKittrick-MSFT commented on #5578
@vhe1 all great questions! I have assigned this to the content author to see if they can shed some light.
If not, then I suggest you submit a forum post **[here](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureFunctions)** and we can dig deeper :)

@cgillum would you be able to answers some of these questions?

[2018-03-11 17:02] cgillum commented on #5578
The answer to both questions can be found in the [Durable Timers](https://docs.microsoft.com/en-us/azure/azure-functions/durable-functions-timers) article. To summarize:

* Yes, we limit timer duration to avoid the 7 day expiration. This is just a temporary limitation for Durable Functions. We have a work-item tracking extending this limit [here](https://github.com/Azure/azure-functions-durable-ex

[2018-03-11 18:30] jrp2014 commented on #5590
Thanks.  As a test, using only the instructions here, try walking through an ADFS deployment out of the box, run the CanaryValidation test (which will require you to remote powershell to a particular VM, to retrieve a piece of data) and spin up a VM (using the right one of AzureStackAdmin, CloudAdmin, TenantUserAdmin, Tenant, ..., in all the right places).  The AzureStack PowerShell tools themselv

[2018-03-11 19:42] vhe1 commented on #5578
Ok, understood.
* The kind of loops I have in mind aren't being executed many times, maybe just once or twice. So replay isn't a problem.
* Looking forward to the duration extension.

Thanks a lot!

[2018-03-11 20:02] alexeyshishkin01 opened #5599 "typo to fix"
for Debian 8 “Jessie” / Debian 9 “Stretch” section, 'Check your current package version' pls. change:
from
'apt list --installed | grep walinuxagent'
to
'apt list --installed | grep waagent'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e49e7b6-0a98-3d9f-0c18-a76bd5a88854
* Version Independent ID: cfbf8ca9-ddb5-057a-

[2018-03-11 20:03] guibirow commented on #5505
Endpoints override is a feature added in recent versions of SF. I am not aware exactly which version introduced this feature, but if you are not using the latest SF version, I recommend checking the release notes to identify which version supports it. I might be wrong, but I think is the version 5.8/2.8.

If you are using an old project that was upgraded to newer versions, check if your VS has the

[2018-03-11 20:31] pjmeyer opened #5601 "Linux VM name can't have underscores"
The CLI returns this error message: "Linux host name cannot exceed 64 characters in length or contain the following characters: ` ~ ! @ # $ % ^ & * ( ) = + _ [ ] { } \\ | ; : ' \" , < > / ?."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a60d96f9-f869-b3e9-fe07-94b53bd1f136
* Version Independent ID: 5c5bff37-d707-9220

[2018-03-11 20:36] pjmeyer opened #5602 "Reminder to close SSH session before deleting VM"
If someone fails to run `exit` or `logout` to close the SSH session before running the removal command, it'll fail because they're running it in the VM and not the cloud shell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a60d96f9-f869-b3e9-fe07-94b53bd1f136
* Version Independent ID: 5c5bff37-d707-9220-53c1-bc1fe35ee

[2018-03-11 20:49] themightylc opened #5603 "How to use the permission token with .NET API?"
I (hopefully correctly) implemented a Mid-Tier Service as described. It generates a token like this:
type=resource&ver=1&sig=ID8s7304pqOPbn2fOrR3vw==;53YDNAVh364AY/E7k9EAqdKSjewMGG9qujORRxG59hy8bhy/FD2Mhl1Gt4Nzbdbgoa0/I/1FnBChRJ8unklgjOMYZUombKSjBcu2z5YxwTXUtDpnP/SJg5Wr33d5+rEeVtpC5y8JB0IxyRIsMyw2JXm2Tap3PDCi63mdktCDqqkD+ZwOlPu0CgMyCiqQWXq0DNylCqT2AfFn7djaGRIrJaBQqOUvde+FVhywattoMmFD9qtcypdmQeelyE

[2018-03-11 21:06] fosterclivet commented on #5535
Before provisioning a user the Azure service queries Google for a user with an externalId attribute value matching the mailNickname attribute value of the user in Azure AD.  Only if the query comes back without  finding a match does the create action proceed. On the other side the suspend action only fires when accounts move out of scope from an AD point of view - removing the user or group from t

[2018-03-11 21:11] tobyjw commented on #5504
When I first deploy the app to Azure everything works. When I add in the 'Done' field to Create and Index, it will work locally, but not when deployed to Azure. If I remove the 'Done' field and redeploy, everything is fine again! Any ideas why this might be?

[2018-03-11 21:34] tobyjw opened #5604 "'Done' breaks the Azure deployment"
The basic app deploys and works absolutely fine in Azure, but when I add in the 'Done' field it'll work locally but won't work in Azure. If I remove it again and redeploy, it's fine. I cannot find where it's going wrong!

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00961883-36eb-f736-b906-73d4c35e69b0
* Version Indep

[2018-03-11 22:48] amanarneja commented on #5568
Awesome, I am closing this issue based on that. If you do have deeper problems with this scenario after the pre reqs are done, would be good to post @ https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuread

[2018-03-11 22:48] #5568 closed

[2018-03-11 22:56] mcraghead commented on #5598
That removed the Application Insights. Thank you.
Michael K. Craghead

    On Sunday, March 11, 2018, 12:30:11 PM EDT, Micah <notifications@github.com> wrote:

@mcraghead to remove an application insights account you simply navigate to "Application Insights" in the portal. This can be done by searching for it under All Services. Once you are on the Application Insights page you can right click on

[2018-03-11 23:19] colonelsalt opened #5605 "Fixes for outdated points"
Just a heads-up on a couple of places where these docs seem to be outdated:

"Allowed External Redirects URLs" is now in the root of the "Authentication / Authorization" page in the Azure portal, and there's no need to activate Azure Active Directory to edit them.

Also, the function signature for AppDelegate in point 3 for the Swift section has been changed; the correct signature is now "func app

[2018-03-11 23:44] evilensky opened #5607 "barriers=0"
Red Hat has the following statement on write barriers:
https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/6/html/storage_administration_guide/writebarrieronoff

Perhaps this recommendation should be removed from this tutorial?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ab24f5b-50fd-37cc-e031-34

[2018-03-11 23:44] MicahMcKittrick-MSFT commented on #5599
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-11 23:46] MicahMcKittrick-MSFT commented on #5601
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-11 23:47] MicahMcKittrick-MSFT commented on #5602
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-11 23:48] MicahMcKittrick-MSFT commented on #5603
Thanks for the feedback! I have assigned the issue to the content author to investigate further.

[2018-03-11 23:50] MicahMcKittrick-MSFT commented on #5604
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-11 23:50] MicahMcKittrick-MSFT commented on #5605
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-11 23:51] MicahMcKittrick-MSFT commented on #5607
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-12 00:18] maxianheng opened #5608 "Do you guys have fans who are worthy of this? Mys, we have a small problem. Your subscription "pay as you go xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx" and the service was banned on March 10, 2018 because we detected violations of the terms of service. If you think this information is wrong, please contact Azure Support and the relevant personnel will help you quickly."
Do you guys have fans who are worthy of this? Mys, we have a small problem. Your subscription "pay as you go xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx" and the service was banned on March 10, 2018 because we detected violations of the terms of service.
If you think this information is wrong, please contact Azure Support and the relevant personnel will help you quickly.

---
#### 文档详细信息

⚠ *请勿编辑此部分。 doc

[2018-03-12 00:56] dcbrown16 opened #5609 "List missing"
Just a quick note, looks like the list after the first paragraph to select portal, PowerShell, CLI or videos is missing on this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39ff12ef-1abb-2760-2783-522f5e792d25
* Version Independent ID: e8ca6554-be74-1af1-28c3-0ba8932dff3d
* Content: [How to configure routing

[2018-03-12 01:57] ChRonX13 commented on #5392
Thanks @YeeSuan95, ran into the EXACT same issue, perhaps worth someone documenting this as it wasn't immediate apparent even after following the migration guide!

[2018-03-12 03:13] Adam-Smith-MSFT commented on #5503
@jordanmills  There is an option to use Azure CLI to change the tiers, you can check the following link: https://docs.microsoft.com/en-us/cli/azure/storage/blob?view=azure-cli-latest#az_storage_blob_set_tier
And using Powershell using Set-AzureRmStorageAccount (This is for the full storage account and not blob), more info can be found here: https://docs.microsoft.com/en-us/azure/storage/common/sto

[2018-03-12 03:13] #5503 closed

[2018-03-12 03:17] dcbrown16 opened #5612 "Title is broken in Japanese"
Title of document should be "Azure SQL DB" but in Japanese it is "の接続文字列" (= "connection string of").
Please correct this.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 09dd1d03-ae28-c5a2-7c64-2f51675f6b09
* Version Independent ID: dac74d68-2105-a029-1f49-d444c0a252f4
* Content: [Data Factory を使用して SQL Database をコピー先またはコピー元としてデータをコピーする | Microsoft D

[2018-03-12 03:29] georgewallace commented on #5594
@KumudD Can you answer @gsacavdm ?  When I originally wrote the article 2.0 did not work to import zone files, as I have not owned this content in a while I am not sure if this has changed.

[2018-03-12 03:37] EmanuelYuCorella opened #5613 "Problems when I try to run network watcher on some connections."
If I try to run the vpn connection troubleshooting using more than 1 connection, the trobleshooting give me an unhealty state but if if check maually the connection status it seen connected.

I tried to use automation to make the vpn monitoring but with this issues I will have bad notifications,

Regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-03-12 03:42] EmanuelYuCorella opened #5614 "Not Working if you choose more than 1 connection."
I was tried to use the Network Watcher choosing more than 1 connection but the tool is not working and send the status unhealthy, I tried con confure using automation to monitor my 9 vpn connection status but with this issue the notifications that I configured are working bad.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-03-12 04:45] Ramji-S commented on #5323
Thanks @mrbullwinkle for clarifying. My other concern was once these rules get out of their preview mode, does this mean I need to ensure that I "uncheck" the default Email notifications preference as well ? I believe it is by default enabled for all "email owners/contributors and readers" ?

[2018-03-12 05:12] mmercan commented on #5145
Sorry adam i just saw your comment,
I would like to be able to follow the examples in this document without azure cli, i would like to be able to create my ACS with powershell cmdlets generate ssh keys etc.

[2018-03-12 05:24] hihorika commented on #5565
@amanarneja It seems that the zip file linked in this document doesn't include `web.config`.
The `web.config` is needed to execute iisnode and node.

So I think that the link has to be replaced by another link to a zip file which contains valid web.config`.

[2018-03-12 05:25] dcbrown16 opened #5618 "Japanese localization"
I noticed this page is missing the ExpressRoute section in Japanese, is that still in process?
Similarly, the Integration Runtime page has some outdated information about regions available for Azure-SSIS in Japanese.
https://docs.microsoft.com/en-us/azure/data-factory/concepts-integration-runtime#azure-ssis-ir
English: East US, East US 2, Central US, Australia East, North Europe, and West Europe
J

[2018-03-12 05:39] amanarneja commented on #5608
@maxianheng Apologies for the loss of time and frustration. We completely understand that getting into such a situation can be frustrating. We have constantly improving algorithms which try their best to reduce false positives and only detect true violations such that we can be in compliance with our terms of service as well as local laws.

If you havent yet reached out to support, I highly encour

[2018-03-12 05:49] amanarneja commented on #5609
@dcbrown16 Thanks for pointing this out! I have assigned the issue to the author to update with the missing list.

[2018-03-12 05:54] themightylc commented on #5603
Turns out I was using the wrong constructor.

When I started out developing I was using the DocumentClient constructor that takes the master-key as SecureString. Then I just plugged in the token in my current Interface (a method called SetAuthKey(string plainTextKey)) and internally, the wrong constructor was called. With the right constructor, it just works.

Maybe this will help some other soul

[2018-03-12 06:42] ShyykoSerhiy opened #5621 "Activity Web1 failed: Response Content is not a valid JObject"
Web activity fails if response is valid JSON array.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34b3d465-6a2b-88ad-6e80-4fb784cd489e
* Version Independent ID: 51b70888-d089-7352-4abd-7d587726700a
* Content: [Web Activity in Azure Data Factory | Microsoft Docs](https://docs.microsoft.com/en-us/azure/data-factory/cont

[2018-03-12 07:50] thomas-bak opened #5622 "Download link not working properly"
I tried clicking the link in Chrome and there's no download initiated.
I tried clicking it in Edge and there's no apparent action happening but checking the download section in the hub I can see it there but I had to go look for it. Also, the download didn't start for me, just waiting.
I finally opened it in Safari on my iPhone from where I could save the application to my OneDrive.
I could then o

[2018-03-12 07:54] jerzy-wachowiak opened #5623 "Deployment logs in D:\home\site\deployments"
It worth to mention, that deployment logs can be find in D:\home\site\deployments.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46653d6e-d057-e698-ef94-32d48e12d39f
* Version Independent ID: 74beaf3c-60f9-006d-110a-fbe2348d4797
* Content: [Enable diagnostics logging for web apps in Azure App Service | Microsoft Docs]

[2018-03-12 08:01] thomasahle opened #5624 "Resizing root partition"
How do I resize the size of /dev/sda1 mounted on /? I can't easily umount it, since it is always being used when the VM is started.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79e96564-edb3-8f68-63a4-960954f5d25b
* Version Independent ID: bc037676-9288-ac7d-3751-c2f30cfa608f
* Content: [Expand virtual hard disks on

[2018-03-12 08:47] janvandillen opened #5626 "Keys tab missing"
When trying to get an authentication key I cannot see the "keys Tab"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11aaa091-1108-52f6-0066-0f4e939aeef4
* Version Independent ID: dbc7e37e-87a7-c124-3e4c-47aa060e6cf3
* Content: [Create identity for Azure app in portal | Microsoft Docs](https://docs.microsoft.com/en-us/a

[2018-03-12 08:51] mjstenbe commented on #5522
@MicahMcKittrick-MSFT Im using Ubuntu version 16.04 LTS. I have installed xfce and xrdp, restarted the machine and opened the RDP ports both in Linux and in Azure NSG. Still I am unable to open RDP connection.

Im wondering if DevTestLab creates extra problems with RDP?

[2018-03-12 08:59] pvn2266 opened #5627 "Mention Intune Company Portal Support"
As mentioned in the documentation about Authenticator App. Please mention few details regarding: 'How my app can fetch Login/credentials from Intunes Company Portal App'

I tried but though I am logged In company portal app still my app throws login screen as embedded, though ADCredentialsType credType is set to 'AUTO' i.e Broker Login

---
#### Document Details

⚠ *Do not edit this section. It is

[2018-03-12 09:43] pankajisgarg opened #5628 "Passing arguments to device method"
Can you please update the documentation to show how to access the parameters passed from cloud to device e.g. in case of FirmwareUpdate method.
Is there any C# example of this code?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 082b9590-9260-0e18-9e69-398d2dec65e5
* Version Independent ID: 7c6731fe-1691-a244-46ec-fb3e

[2018-03-12 09:44] kabala123 opened #5629 "Update Dynamics 365 Screenshots"
The screenshots must be updated as the Dynamics 365 V 9.X release.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92313471-ef48-c68c-5d4a-9a9923376302
* Version Independent ID: 021f2639-563f-2242-b6c8-ce7c8120b1f6
* Content: [Microsoft Dynamics CRM and Azure Application Insights | Microsoft Docs](https://docs.microsoft

[2018-03-12 10:18] Minewiskan commented on #5482
@csadam @Mike-Ubezzi-MSFT It appears the API name was changed. It is now Azure Analysis Services. It requires a very specific search as well. I'm updating this article right now. Update should be live later today.

[2018-03-12 10:21] dkatson opened #5630 "you should add --edge-hostname to iotedgectl setup to avoid error if you simulate device on Azure VM"
If you run iotedgectl setup as it written here in documentation you get error
"Error parsing user input data: Invalid hostname. Hostname cannot be empty or greater than 64 characters: vmname.qsllsajjxokubljooaxmh3feyb.ax.internal.cloudapp.net."

To avoid this error you should execute
iotedgectl setup --connection-string "{device connection string}" --auto-cert-gen-force-no-passwords --edge-hostnam

[2018-03-12 10:27] bastyuchenko opened #5631 "Validation response"
Hi! I tried to implement an example from the article https://docs.microsoft.com/en-us/azure/event-grid/custom-event-quickstart-portal and it works fine.
As far as I undestood RequestBin doesn't return a response with "validationResponse" but it is still posible to use RequestBin as a subscriber endpoint. Does it mean that "validationResponse" is not neccessary to validate a subscriber endpoint?

-

[2018-03-12 10:33] dominicbetts commented on #5531
#please-close

[2018-03-12 10:45] suleymanov opened #5632 "App won't work after deployment to Azure"
I added requirements (flask==0.12.1, pymongo==3.5.1) and my cosmos db connection string and deployment to Azure went successfull. But anyway, something crashes out there as app website is not accessible. Any suggestions what trouble might be?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e178cd44-55d5-23ab-d965-94c47a

[2018-03-12 11:02] craigshoemaker commented on #5469
@srhallx - The comments and formatting of this article are now updated based on your feedback. Thanks for letting us know!

#please-close

[2018-03-12 11:06] Sogup commented on #5225
The list of VSS writers is huge and not specific to Azure Backup. Depending on the VSS writer in a bad state, service name is required to be added to the command which is easily publicly available as per the service user is using.
Since this is an Azure Backup specific troubleshoot doc, it doesn’t make sense to add this info here. So we can close this bug.

[2018-03-12 11:34] VaclavK opened #5633 "Which Azure services' packages/SDK support telemetry"
I am trying to find a list of Azure services which would support AI Telemetry (fire telemetry events) in their SKDs. e.g. I can see telemetry events from service bus client, cosmos client etc. but I would like to see a definitive list of services that "support telemetry" internally.

as a DevOps team member, I want to know which services' client implementation would fire those events and know whic

[2018-03-12 11:42] stevep4 opened #5634 "IWA without Preauthentication?"
I'm publishing some anonymous / public pages (SharePoint 2016) and therefore need to use Passthrough in AAD App Proxy.

However when users click "Sign in" I'd like for them to be sent to the AAD IWA page to log them in with KCD... is there any way? i.e. I can't use Preauthentication. Surely there's a URL that I could redirect users to?

I'd rather not have a second AAD App Proxy that is set to pre

[2018-03-12 11:59] uandrei opened #5637 "Invalid path towards install.cmd"
In the step defining startup task for the role, the XML contains the task install.cmd, but it's set to look for it in the root, rather than the bin folder. That should look like this:
<Task commandLine="bin/install.cmd" executionContext="elevated" taskType="simple">

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f082a3

[2018-03-12 12:01] femsulu commented on #5531
closed as requested.

[2018-03-12 12:01] #5531 closed

[2018-03-12 12:45] ATGardner opened #5638 "Request body does not contain the datasets/linkedServices as expected."
I only get the parameters I send manually.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34b3d465-6a2b-88ad-6e80-4fb784cd489e
* Version Independent ID: 51b70888-d089-7352-4abd-7d587726700a
* Content: [Web Activity in Azure Data Factory | Microsoft Docs](https://docs.microsoft.com/en-us/azure/data-factory/control-flow-

[2018-03-12 14:02] toddwalstad opened #5639 "Powershell Script has errors"
The powershell script has a leading backslash in the names that doesn't allow the cert to be used in the app service for SSL.  Instead of  "\\*.internal-contoso.com","\\*.scm.internal-contoso.com" it should just be  "*.internal-contoso.com","*.scm.internal-contoso.com".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b

[2018-03-12 14:05] Martin00001 opened #5640 "Sčítání nebo násobení"
V části textu, který je označen jako Příklad 1 je nesprávně uvedeno 495 + 8 IOPS. Mělo by tam být uvedeno 495 * 8 IOPS.

---
#### Podrobnosti dokumentu

⚠ *Neupravujte tuto část. Vyžaduje se k propojení problémů docs.microsoft.com ➟ GitHub.*

* ID: 4ea00c3f-e389-9258-45a5-395247555f75
* Version Independent ID: f01af29d-f543-077a-3d71-6b6b437758cd
* Content: [Vysoce výkonné úložiště Premium a Azure

[2018-03-12 14:06] cephalin commented on #5498
@pkellner this issue is resolved. Please verify and close if appropriate. Thanks!

[2018-03-12 14:07] jimdial commented on #5613
#in-process

[2018-03-12 14:09] jimdial commented on #5614
#in-process

[2018-03-12 14:11] spottedmahn commented on #5464
Another example of having this documented would help: [Xamarin.Forms app using Azure AD B2C only showing Microsoft login](https://stackoverflow.com/a/49202693/185123)

[2018-03-12 14:17] ATGardner commented on #5638
I built the WebActivity using an ARM template, and now my server gets the datasets/linkedServices. So maybe it's something to do with the ADF web UI.

[2018-03-12 14:40] Phydeauxman commented on #5568
@amanarneja Actually, I went thru the pre-reqs and am still unable to get anything from the Graph Explorer.  I was able to use the PowerShell sample to pull some data but when trying to use the Graph Explorer, it always returns null.  Should I be able to paste in the link below into the query line and have it return some results?  It always returns null...even though I am logged in:
https://graph.

[2018-03-12 15:15] pkellner commented on #5498
@cephalin I don't see either the pull request or the issues fixed. What URL's would I see the resolution on?

[2018-03-12 15:30] Adam-Smith-MSFT commented on #5225
Thanks @Sogup I'll close the issue.

[2018-03-12 15:30] #5225 closed

[2018-03-12 15:42] billmath commented on #5493
@mmatturro  Thanks for catching this.  I have updated the URL.  It should be live later today.  Thanks!

[2018-03-12 15:52] dciborow opened #5642 "Need example for changing collection rate"
I want to change the collection before and after my load. (bulk load would be great but 1.1.0 jar is not working with AMLW/DSVM). No examples of how to do this...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a960cd1-4cc3-5fd2-7d07-b2264a21eceb
* Version Independent ID: 33e5eced-2094-d072-5daa-65a09a678be5
* Content:

[2018-03-12 15:55] PatAltimore commented on #5179
#please-close

[2018-03-12 15:56] mjstenbe commented on #5056
Adding to this. I just tried accessing Ubuntu VM with RDP outside DevTestLab and it worked like a charm.

Now the issue must be the NSG on DevTestLab. I have applied one NSG rules for the entire DevTestLab but they dont seem to affect on individual ? VM machines? Is there some rule overwriting the lab rules

[2018-03-12 15:57] mimig1 commented on #5513
#in-process

[2018-03-12 15:59] #5179 closed

[2018-03-12 16:02] nunocenteno opened #5643 "Invalid properties @trigger().outputs.windowStartTime and @trigger().outputs.windowEndTime"
If I try to use the expression @trigger().outputs.windowStartTime or @trigger().outputs.windowEndTime as stated in this documentation I receive an error stating that the variables windowStartTime and windowEndTime don't exist.

{
    "errorCode": "InvalidTemplate",
    "message": "The template language expression 'trigger().outputs.windowStartTime' cannot be evaluated because property 'windowStart

[2018-03-12 16:04] PatAltimore commented on #5588
@MikeYeager Thanks for the feedback. We have a new set of documentation in process to make this clearer. The new docs include quickstarts, tutorials, and an update to the overview to help clarify that point. For B2C, you're correct. You need a B2C tenant and the apps need to be registered in the B2C tenant.  You can see one of the new tutorials here: https://docs.microsoft.com/en-us/azure/active-d

[2018-03-12 16:04] mimig1 commented on #5564
@amanarneja - Are you making this fix?

[2018-03-12 16:05] #5469 closed

[2018-03-12 16:06] amanarneja commented on #5613
@EmanuelYuCorella Thanks for reporting! @jimdial is looking into it and will get back to you.

[2018-03-12 16:07] amanarneja commented on #5614
Duplicate of #5613

[2018-03-12 16:07] #5614 closed

[2018-03-12 16:08] amanarneja commented on #5614
Closed since this is tracked by the MicrosoftDocs/Azure-Docs#5613

[2018-03-12 16:11] MikeYeager commented on #5588
Thanks Pat! I know a lot of people will appreciate that.

From: Pat Altimore <notifications@github.com>
Sent: Monday, March 12, 2018 11:04 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Mike Yeager <myeager@eps-software.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] The product and its documentation is very confusing. (#5588)

@MikeYeager<ht

[2018-03-12 16:12] #5449 closed

[2018-03-12 16:12] pankajisgarg opened #5644 "Real device model"
Where does the real device schema lives, is it part of Device simulation project only?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2aca7d13-4905-1ec1-7f93-3152897aa3ef
* Version Independent ID: 3de08582-739f-5cf7-e791-d47b9b638c35
* Content: [Device schema in remote monitoring solution - Azure | Microsoft Docs](http

[2018-03-12 16:13] mimig1 commented on #5596
#in-progress

[2018-03-12 16:13] mimig1 commented on #5596
Thank you @liranms, I have filed a pull request to correct this issue. It should be fixed later today.

[2018-03-12 16:15] Mike-Ubezzi-MSFT commented on #5426
@douglaslMS I have this question out to the product help group (ADF v2 Help) but have not heard back as of yet.

[2018-03-12 16:16] PatAltimore commented on #5588
@MikeYeager Thanks! Good to hear.

[2018-03-12 16:16] PatAltimore commented on #5588
#please-close

[2018-03-12 16:16] DeanGross opened #5645 "Usage with Office 365 CAS"
For firms that O365 E3 and EMS E3, what functionality is provided? where can I find more info about the capabilities and limitations for this scenario

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cdeff91-7de9-f1b5-fc0f-651f5483f70e
* Version Independent ID: 5454e612-884d-a322-49b4-d0e69c30c083
* Content: [Find unman

[2018-03-12 16:20] tfitzmac commented on #5626
@janvandillen - thanks for this feedback. I see that the UI has changed and you now need to select Settings to see the Keys option. I will update this article.

However, if you created a Native app, you will not see Keys because that app type does not have credentials.

[2018-03-12 16:21] mimig1 commented on #5603
@themightylc We're glad you were able to solve your issue. #please-close #resolved-by-customer

[2018-03-12 16:26] melzoghbi commented on #5430
@kganjam thanks for taking a look into this. here is my feedback:
1) Yes i did use my Azure Credentials rather than the username and password in ACR. since i got "Login Succeeded" message i assumed that everything is good!. I learnt the hard lesson after i connected with the product team and they pointed out this to me. So what i would recommend a change _is to clearly state to use the ACR usernam

[2018-03-12 16:32] Adam-Smith-MSFT commented on #5591
@davidokeyode You can configure a custom domain for accessing blob data in your Azure storage account. I'd recommend checking the following document: https://docs.microsoft.com/en-us/azure/storage/blobs/storage-custom-domain-name

[2018-03-12 16:33] mimig1 commented on #5513
@jason-j-MSFT Thank you for the feedback. I have created an internal work item to track the creation of an article that describes when choose each of the API models, similar to the Azure Storage article (https://docs.microsoft.com/en-us/azure/storage/common/storage-decide-blobs-files-disks). This work will be completed in an upcoming sprint. Internal work item: https://mseng.visualstudio.com/Techn

[2018-03-12 16:44] KumaresanLakshmanan commented on #5471
Thanks for reply. After disabling BGP route propagation, effective routes of network interface in a subnet associated to UDR is not displaying BGP routes. Yes, this works.
I would suggest to update the content in this document precisely stating that it will disable the BGP route propagation in network interfaces of an associated subnet.

[2018-03-12 16:44] spottedmahn opened #5646 "Document the Run Now Functionality"
IMHO, there should be a separate page on the Run Now functionality.  It is very handy and powerful for testing your policies.

There are some references to it on various pages but I think it deserves its own page.

![image](https://user-images.githubusercontent.com/14079228/37297123-51ff3d32-25f3-11e8-859e-63873f6b1b58.png)

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2018-03-12 16:44] mschappel-r7 opened #5647 "Conflicting Information on Invalid Resource Tag Characters"
## Technology
Resource tags

## Documentation
https://github.com/MicrosoftDocs/azure-docs/blob/master/includes/resource-manager-tag-introduction.md

## Feedback
In the Azure portal UI, when applying a new tag to a resource, if I enter an invalid character, it displays a list of characters that are not supported: `< > * % & : \ ? / +`. The documentation linked above lists a subset of the list displ

[2018-03-12 16:46] mikemartin1090 opened #5648 "Powershell Version 2 can't access the Authentication attributes of a user"
In the [Powershell Version 2](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-passwords-data#use-powershell-version-2) section above, it states that you can get the authentication number of a user. However, that is not true in all scenarios. I'd like this corrected in the documentation, or removed until the [Get-AzureADUser cmdlet](https://docs.microsoft.com/en-us/powershe

[2018-03-12 16:48] spottedmahn opened #5649 "Add Reference to https://jwt.ms"
https://jwt.ms is a very handy site.  I use it all the time w/ the run now functionality.

Reference: [How to use https://jwt.ms/ to decode JSON Web Tokens](https://saraford.net/2017/08/31/how-to-use-httpsjwt-ms-to-decode-json-web-tokens/)

---

I like to create an app called Token Viewer that redirects to https://jwt.ms

![image](https://user-images.githubusercontent.com/14079228/37297338-cad4871

[2018-03-12 16:56] neilpeterson commented on #5607
@iainfoulds can you address this?

[2018-03-12 16:56] MicahMcKittrick-MSFT commented on #5601
@pjmeyer good catch! I will update the doc to remove the underscores and replace them with dashes instead.

[2018-03-12 16:58] DeanGross opened #5650 "Confusing Setup steps"
According to https://docs.microsoft.com/en-us/cloud-app-security/editions-cloud-app-security-o365 Step 2 does not seem to be possible when using Office 365 CAS. It would be helpful if these instructions made this clear.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed645c0b-ff24-fa9c-eacc-4ed7fa730d5a
* Version Indepe

[2018-03-12 16:59] mmacy commented on #5200
Hi @mandarsudame, I'm requesting that this issue be closed. If you feel that for any reason it should remain open, however, please let us know. Thanks again for using ACI!

#please-close

[2018-03-12 17:00] nyuen opened #5651 "The performance metrics are not up-to-date"
According to the announcement back in September 20 at ignite the storage account performances have been boosted: https://azure.microsoft.com/en-us/blog/announcing-larger-higher-scale-storage-accounts/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c9ef03f-cf87-a333-623b-afbd39fd75a2
* Version Independent ID: 7ab8460b-

[2018-03-12 17:05] karlochacon opened #5652 "Routing and Remote Access Service ????"
hi guys
my customer is using Cisco Meraki and now we see is not compatible..... so any experiences with Routing and Remote Access Service in windows 2012?

thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 779fbece-f67b-28ef-143e-f58ecfa29b1d
* Version Independent ID: fe532684-022f-9006-9179-c534fd923171
* Content:

[2018-03-12 17:08] dbax001 opened #5653 "Test"
Testing 1, 2, 3

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a224f020-9828-db10-d927-4f0bc875e0a6
* Version Independent ID: d5d7dd34-0997-0338-0e10-1aa7ec40dc4a
* Content: [Azure Security Center Tutorial - Define and assess security policies | Microsoft Docs](https://docs.microsoft.com/en-us/azure/security-center/tut

[2018-03-12 17:08] MicahMcKittrick-MSFT commented on #5599
@alexeyshishkin01 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@timlt can you take a look? Seems the author @SuperScottz is no longer contributing here.

[2018-03-12 17:08] Mike-Ubezzi-MSFT commented on #5542
@cdelcambre

It looks like Azure Recovery Services has a set of PowerShell cmdlets that fit your needs. I was looking/searching under Azure Storage but found the below content under Azure Recovery Services:

https://docs.microsoft.com/en-us/powershell/module/azurerm.recoveryservices.backup/?view=azurermps-5.4.0

Does this meet your needs?

[2018-03-12 17:10] MicahMcKittrick-MSFT commented on #5602
@pjmeyer I have assigned the issue to the content author to investigate further and update the document as appropriate.

@jluk please take a look and consider the changes proposed.

[2018-03-12 17:15] Thraka commented on #5637
Would adding bin/install.cmd to the task fix this problem? I'm not setup to test this right away so if you have something going that can check that, it would be great.

[code]

[2018-03-12 17:15] cdelcambre commented on #5542
I'm afraid not.  Nothing for azure file shares.   For example, when creating a new backup policy, there is only two options...  Neither of which are file share.

-WorkloadType

Specifies the workload type. The acceptable values for this parameter are:

  *   AzureVM
  *   AzureSQLDatabase
?

https://docs.microsoft.com/en-us/powershell/module/azurerm.recoveryservices.backup/New-AzureRmRecoveryServi

[2018-03-12 17:16] danmyhre opened #5654 "Reader role can't view functions within a function app"
This document doesn't mention it, but users with reader level access also can't see the functions within a function app.  In left navigation, you see:

Functions (No access)
Proxies (No access)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b3ea2e8-963b-cc01-3d5c-4fecd6a3cec1
* Version Independent ID: 198149eb-9b33-ec

[2018-03-12 17:23] ecfan commented on #5412
@daviburg Thanks for the suggested update. I've added this item to the doc backlog. @kevinlam1 @MandiOhlinger @amanarneja

[2018-03-12 17:23] jluk commented on #5602
Ack I have a pr out to address these issues. thanks @pjmeyer

[2018-03-12 17:27] yushwang commented on #5652
Hi,

There are three options:

1. Deploying a virtual appliance that support IKEv1 with route-based configurations to interact with customers on-premises Meraki devices.
2. Deploying a different VPN device on-premises to connect to Azure VPN gateways. Windows Server 2012 should work for this purpose.
3. We have been working with the Cisco Meraki team regarding adding IKEv2 to their IPsec/IKE suppo

[2018-03-12 17:27] yushwang commented on #5652
#please-close

[2018-03-12 17:30] cherylmc commented on #5609
@dcbrown16 - I can add this back in. Not all of our articles have it, as you can navigate to anything using the TOC to the left. But there's no reason not to have it either! :-)

[2018-03-12 17:30] cherylmc commented on #5609
#please-close

[2018-03-12 17:43] mimig1 commented on #5596
This issue has been fixed and is live on the site: https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-dotnetcore-get-started #please-close

[2018-03-12 17:43] suhuruli commented on #5584
We are working on a fix for the Github auth issue. Sorry about that! The fix should be live shortly.

[2018-03-12 17:44] rothja commented on #5560
@drcrader Thanks for the question. When you provision a new VM and allow the portal to make this choice for you, it creates multiple disks and uses striping (your second option). Doing this should give you great performance, because you allow the underlying storage architecture to abstract the details. Using two separate disks would probably give you similar performance, but I don't have exact num

[2018-03-12 17:44] #5601 closed

[2018-03-12 17:45] mjanulaitis commented on #5584
Great thanks

Mike Janulaitis
801-910-4256
mike@uppersetting.com

________________________________
From: Sudhanva Huruli <notifications@github.com>
Sent: Monday, March 12, 2018 11:43:27 AM
To: MicrosoftDocs/azure-docs
Cc: Michael Janulaitis; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Join a Party cluster always returns access denied (#5584)

We are working on a fix for the Github auth issue.

[2018-03-12 17:48] rothja commented on #5560
#please-close

[2018-03-12 17:54] yushwang commented on #5652
Already addressed.

#please-close

[2018-03-12 17:57] douglaslMS commented on #5618
@dcbrown16 I've learned from the Localization team that the Japanese localized version should typically follow the English updates by about two weeks. Note that I only added the ExpressRoute section quite recently. Loc tells me that they had a systems issue last week that prevented a large number of localized articles from being published in a timely manner. They're going to assign a higher priori

[2018-03-12 18:04] Mike-Ubezzi-MSFT commented on #5542
Issue Summary

The end user is looking to invoke all Azure File Share back-up tasks via PowerShell but there is content detailing how to accomplish this.

[2018-03-12 18:06] MicahMcKittrick-MSFT commented on #5522
@mjstenbe thanks for clarifying that. I have attempted to repro and as you are seeing I also cannot connect via RDP.

I tested the using the same steps on a non-devtest machine and it worked without issue.

sudo-apt-get install xrdp
sudo apt-get install ubuntu-desktop
sudo apt-get update

Add NSG for port 3389

I have assigned the issue to the Content Owner to help clarify if this is possible and

[2018-03-12 18:07] #5560 closed

[2018-03-12 18:08] #5596 closed

[2018-03-12 18:19] BryanTrach-MSFT commented on #5618
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we are happy to continue the discussion.

[2018-03-12 18:19] #5618 closed

[2018-03-12 18:20] BryanTrach-MSFT commented on #5612
@dcbrown16 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-12 18:21] BryanTrach-MSFT commented on #5621
@ShyykoSerhiy Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-12 18:22] MohitGargMSFT commented on #5654
Thanks for your feedback. We will investigate update as appropriate.

[2018-03-12 18:22] BryanTrach-MSFT commented on #5622
@thomas-bak
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-12 18:23] BryanTrach-MSFT commented on #5623
@jerzy-wachowiak
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-12 18:23] BryanTrach-MSFT commented on #5624
@thomasahle
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-12 18:24] MohitGargMSFT commented on #5653
Thanks.

[2018-03-12 18:24] #5653 closed

[2018-03-12 18:25] cherylmc commented on #5154
I've updated the doc to include a link to view ckt and peering information for your subscription. It should publish today or tomorrow. #please-close

[2018-03-12 18:25] BryanTrach-MSFT commented on #5627
@pvn2266 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-12 18:25] #5652 closed

[2018-03-12 18:25] BryanTrach-MSFT commented on #5628
@pankajisgarg Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-12 18:26] BryanTrach-MSFT commented on #5629
@kabala123 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-12 18:26] BryanTrach-MSFT commented on #5630
@dkatson Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-12 18:27] BryanTrach-MSFT commented on #5631
@bastyuchenko Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-12 18:27] jimdial commented on #5404
Thanks @Jeroen-Priester. We've added some clarifying text to the article in this [PR](https://github.com/MicrosoftDocs/azure-docs/pull/5656) to resolve this. #please-close

[2018-03-12 18:28] BryanTrach-MSFT commented on #5632
@suleymanov Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-12 18:28] BryanTrach-MSFT commented on #5633
@VaclavK Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-12 18:28] BryanTrach-MSFT commented on #5634
@stevep4 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-12 18:29] MohitGargMSFT commented on #5651
Thanks for your feedback. We will investigate update as appropriate.

[2018-03-12 18:29] MohitGargMSFT commented on #5650
Thanks for your feedback. We will investigate update as appropriate.

[2018-03-12 18:29] MohitGargMSFT commented on #5649
Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-12 18:30] BryanTrach-MSFT commented on #5639
@toddwalstad Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-12 18:30] MohitGargMSFT commented on #5648
Thanks for your feedback. We will investigate update as appropriate.

[2018-03-12 18:30] MohitGargMSFT commented on #5647
Thanks for your feedback. We will investigate and update as appropriate.

[2018-03-12 18:30] BryanTrach-MSFT commented on #5640
@Martin00001 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-12 18:31] iainfoulds commented on #5599
Thanks @alexeyshishkin01 . I believe these updates are correct, but I'll confirm.

@MicahMcKittrick-MSFT Can you please reassign this to @jpconnock ?

[2018-03-12 18:31] BryanTrach-MSFT commented on #5642
@dciborow Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-12 18:31] BryanTrach-MSFT commented on #5643
@nunocenteno Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-12 18:31] BryanTrach-MSFT commented on #5644
@pankajisgarg
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-12 18:32] BryanTrach-MSFT commented on #5645
@DeanGross Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-12 18:32] MohitGargMSFT commented on #5646
Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-12 18:32] jimdial commented on #5471
Thanks @KumaresanLakshmanan.  I changed: "The **Disable BGP route propagation** option prevents on-premises routes from being propagated to an Azure virtual network via BGP."
to  "The **Disable BGP route propagation** option prevents on-premises routes from being propagated via BGP to the network interfaces in a virtual network subnet.", which should address your concern. The change should publish

[2018-03-12 18:36] neilpeterson commented on #5607
#in-process

[2018-03-12 18:40] ggailey777 commented on #5265
@ericbrunner when I try this this morning, the `?clientId=default` query string now seems to now be working. Perhaps something got checked-in early (or late). Can you try to create your webhook again using the current default URL (which should include `?client=default`)?
#resolved

[2018-03-12 18:40] MohitGargMSFT commented on #5520
@JohnMoor Please help with an update.

[2018-03-12 18:44] jluk commented on #5602
Fixed by #35087

#please-close

[2018-03-12 18:48] MohitGargMSFT commented on #5544
@danmyhre Please help with an update.

[2018-03-12 18:52] ggailey777 commented on #5451
@mrdfuse the article that you are citing is not about zip push deployment but about a standard Git or FTP-based deployment. I'm not sure that zip push deployment currently supports app level credentials. @cephalin do you happen to know?

[2018-03-12 18:56] JRATMS opened #5657 "General Wild Card Application with exception Example Incorrect"
You need to make sure that a CNAME records exist that points finance.adventure-works.com to the application specific endpoint, specified on the Application Proxy page for the application. For this scenario, finance.adventure-works.com points to https://finance-awcycles.msappproxy.net/.

The screenshot is incorrect, it does not show https://finance-awcycles.msappproxy.net/.

---
#### Document Detai

[2018-03-12 18:58] MohitGargMSFT commented on #5627
@pvn2266 I am assigning the issue to the author to investigate and update as appropriate.

[2018-03-12 18:59] omegagx opened #5658 "4.4.0-112"
When would site recovery support Ubuntu running kernel 4.4.0-112 ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc12f304-5826-fb32-1728-5e43f1b05d8a
* Version Independent ID: 7cc3d5a7-9b0e-dd6b-3b34-2036219f5bd6
* Content: [Support matrix for replicating VMware VMs and physical servers to Azure with Azure Site Recove

[2018-03-12 19:00] #5602 closed

[2018-03-12 19:00] CarlRabeler commented on #5534
Steps are correct as tested by me and by product team
#please-close

[2018-03-12 19:02] #5534 closed

[2018-03-12 19:06] ggailey777 commented on #5460
@llauner you are right that at this time, the Azure Cosmos DB trigger, input bindings, and output bindings work with SQL API and Graph API accounts only. If you want to propose that Functions add support for MongoDB API, please provide that feedback [here](https://feedback.azure.com/forums/355860-azure-functions). In the meantime, if you want to use MongoDB APIs in a function, you can still use th

[2018-03-12 19:22] suleymanov commented on #5632
@BryanTrach-MSFT Thank you, I'll be waiting for updates. I added issue post here as well: https://github.com/Azure-Samples/python-docs-hello-world/issues/8. You might want to check my commits to that repository:

https://github.com/suleymanov/python-docs-hello-world/commit/fae9e218f0872d030a6a0b54e9f14df050ba9ce4 (deploys well, app webpage opens successfully)
https://github.com/suleymanov/python-d

[2018-03-12 19:24] #5471 closed

[2018-03-12 19:41] mrdfuse commented on #5451
Yes you are right, I have no idea how I arrived at that conclusion. I remember having too many tabs open figuring out how to deploy Azure Functions :) Sorry!
But it might be useful to support in the future? Like I said, I don't like that one user can deploy to all my environments in Azure.

[2018-03-12 19:44] Mike-Ubezzi-MSFT commented on #5632
Is it possible that the MongoDB connection string does not include a FQDN as part of the configuration?

+client = MongoClient('mongodb://**macrodb**: _<- This may need to be FQDN_

Can you provide a screen capture of the browser 500 error, and any additional error details.

[2018-03-12 19:45] clarkbreyman-yammer opened #5659 "Scheduled Event Datetime Format Incorrect"
I've received events with the datetime format of "Mon, 12 Mar 2018 18:18:23 GMT"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ff57b63-a05d-2339-069d-de4c9749e2ae
* Version Independent ID: 2e4fd8b7-6057-07ad-d23a-bb73fd432f8a
* Content: [Scheduled Events for Windows VMs in Azure | Microsoft Docs](https://docs.microso

[2018-03-12 19:46] ggailey777 commented on #5336
I'm not sure if the [Cosmos DB change feed](https://docs.microsoft.com/azure/cosmos-db/change-feed) supports that scenario, which is what Functions uses. Your best bet would be to post your question in the [Azure Cosmos DB forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=cosmosdb).

[2018-03-12 19:47] slyons opened #5660 "Typo in second kubectl create command"
File that is referenced should be "azure-file-pvc.yaml" not "azure-file-sc.yaml"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a57e48b4-dc33-0b9d-b773-42ce7d2bffd0
* Version Independent ID: e912ac2d-cf6a-0b54-4697-1940b1270874
* Content: [Use Azure File with AKS | Microsoft Docs](https://docs.microsoft.com/en-us/azure

[2018-03-12 19:48] SergeyKanzhelev commented on #5633
@nikmd23 is working on this list. Nik, can you help here?

[2018-03-12 20:09] banisadr commented on #5631
@bastyuchenko RequestBin and HookBin are whitelisted currently to not require the validationResponse, but for all other cases, it is required.

[2018-03-12 20:15] mjanulaitis opened #5661 "VS Actor Template Does Not Compile"
I have created a default Actor Service using the VS2017 template.  The Interface project does not compile with an error on line 10 stating RemotingListener could not be found.  The line is: [assembly: FabricTransportActorRemotingProvider(RemotingListener = RemotingListener.V2Listener, RemotingClient = RemotingClient.V2Client)]

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-03-12 20:27] suleymanov commented on #5632
@Mike-Ubezzi-MSFT I don't think it's possible because it works fine when launched locally. Error screenshot: https://www.dropbox.com/s/kvvj26cd7y7uala/Screenshot%202018-03-12%2023.23.59.png?dl=0
My last non-working commit with your repository: https://github.com/suleymanov/CosmosDB-Flask-Mongo-Sample/commit/6bff64cc8ff12c458d1ba81c2595c3af3af714d4
(Works well when launched locally.)

[2018-03-12 20:30] Rod-Sychev opened #5662 "Typo"
For the "AT&T NetBond" provider in the list of locations there is a typo in the name of the city Toronto, currently "Toronoto".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a00024b9-36f7-c9a8-4277-9360b0cd6163
* Version Independent ID: aa65d869-db72-c0d8-a7e1-75a4949b6bbc
* Content: [Connectivity providers and locati

[2018-03-12 20:38] lousimonetti opened #5663 "Typo"
There's a typo in the header "Remove Microsoft ccounts from admin roles" - should be "Remove Microsoft Accounts from admin role"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 826a3309-03a5-60b4-aa4c-63f385150455
* Version Independent ID: 1d2e2f1c-2805-5cda-a4ad-76fedbc3f525
* Content: [Best practices for securing admi

[2018-03-12 20:38] KumudD commented on #5594
@gsacavdm The doc needs to be updated to use Azure CLI 2.0.
#In-process

[2018-03-12 20:53] MohitGargMSFT commented on #5634
@stevep4 Assigning the issue to the author to investigate and update as appropriate.

[2018-03-12 20:53] Jdkruse opened #5664 "Documentation"
Is there a reason why the pictures in the Documentation are all taking place in West US instead of a government region? We are looking into information on this and when the documentation doesn't follow what the article is about it doesn't give me a ton of confidence.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f2c3

[2018-03-12 20:57] jason-j-MSFT commented on #5508
@zartcosgrove
I'm unable to replicate your exception while following the docs.  You might try registering your Cognitive Extensions again as outlined here:
https://msdn.microsoft.com/en-us/azure/data-lake-analytics/u-sql/cognitive-capabilities-in-u-sql#registeringExtensions

[2018-03-12 21:06] curtand commented on #5147
Hi @Rachitgupta1994,
We have added this work to our back log and will add it as soon as possible. Glad you came to a solution and thanks for your help!

@Adam-Smith-MSFT, can you label this resolved?

[2018-03-12 21:06] jason-j-MSFT commented on #5539
@fujikosu
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-12 21:07] cherylmc commented on #5154
#please-close

[2018-03-12 21:10] kgremban commented on #5042
@amanarneja This issue has been addressed, but I haven't heard back from Larry. Is it appropriate to close this issue and he can reopen it if necessary?

[2018-03-12 21:10] #5381 closed

[2018-03-12 21:14] pemj opened #5665 "iot-hub-devguide-messages-c2d: Message Feedback section is ambiguous"
The Message Feedback section discusses both C2D messages and feedback messages, and there is sometimes ambiguity between which one is being discussed.

Specifically, the EnqueuedTime property ("Timestamp indicating when the message was created") does not specify if it reflects the time at which the original C2D message was enqueued into the hub by the service app, or the time at which the feedback

[2018-03-12 21:14] Adam-Smith-MSFT commented on #5591
@davidokeyode  Let me know if the previous comment answered your question.

[2018-03-12 21:27] cmh904 commented on #5496
Has a solution been found to this yet?  I'm having almost identical situation, all prerequisites met as well but nothing more than 'Manual' option for Provisioning.  Any update is appreciated.

[2018-03-12 21:27] tfitzmac commented on #5626
#in-process

[2018-03-12 21:28] tamram commented on #5334
#please-close

[2018-03-12 21:29] MicrosoftGuyJFlo commented on #5155
@grizzljt I think your question is different from the one posed by @StevenWDK

If I were deploying I would look to secure the authentication using a conditional access policy requiring MFA.

[2018-03-12 21:29] MicrosoftGuyJFlo commented on #5155
#please-close

[2018-03-12 21:32] cherylmc commented on #5662
I'll take care of that. Thanks!

[2018-03-12 21:35] iainfoulds commented on #5607
Hi @evilensky , thanks for feedback. I've followed up with the product group to make sure they're okay with removing that parameter to make sure that we stay consistent across other docs. If needed, I'll update this doc and link the PR.

[2018-03-12 21:38] jason-j-MSFT commented on #5548
@hrboyceiii
Greatd find and thanks for the follow-up!

[2018-03-12 21:38] #5548 closed

[2018-03-12 21:46] ggailey777 commented on #5451
@mrdfuse I agree that would probably be a helpful feature addition. You are welcome to propose it [here](https://feedback.azure.com/forums/355860-azure-functions). If there's nothing else for this issue, you can please close it for us. Thanks again for contacting us with your question.

[2018-03-12 21:47] mattreatMSFT commented on #5613
@EmanuelYuCorella please reach out to me at mareat@microsoft.com with your subscription and call details so that I can help investigate the issue you are facing.

[2018-03-12 21:51] zartcosgrove commented on #5508
My original issue was that I hadn't installed the extensions. There is no
link to installation of extensions on this page, and no where on the page
does it indicate that extensions need to be installed.

-------------------
SHAZAAM!

On Mon, Mar 12, 2018, 13:57 Jason J <notifications@github.com> wrote:

[2018-03-12 21:53] cherylmc commented on #5662
All set. Thanks! #please-close

[2018-03-12 21:56] dfcarpenter commented on #5571
Can you please add or point to instructions for OSX/Linux?

[2018-03-12 21:59] ttugates opened #5667 "Broken Link"
The link under https://docs.microsoft.com/en-us/azure/media-services/media-services-dotnet-get-started#publish-the-asset-and-get-urls-for-streaming-and-progressive-download

That is linked to: http://southworks.com/blog/2015/05/27/reusing-azure-media-services-locators-to-avoid-facing-the-5-shared-access-policy-limitation/
... is broken.

---
#### Document Details

⚠ *Do not edit this section. It i

[2018-03-12 22:04] Leonardo-Ferreira commented on #5391
this doesn't work for the classic Table Storage... "CloudTable" does not seem to define a Execute method (only ExecuteAsync) and it does not accept TabeQuery as parameter...

[2018-03-12 22:14] mrdfuse commented on #5451
Ok, done, please vote :) https://feedback.azure.com/forums/355860-azure-functions/suggestions/33612868-zip-deploy-functions-with-app-level-credentials-in

[2018-03-12 22:14] #5451 closed

[2018-03-12 22:16] jason-j-MSFT commented on #5507
@saveenr
A link to the installation instructions for the Cognitive Extensions in U-SQL can be found here:
https://msdn.microsoft.com/en-us/azure/data-lake-analytics/u-sql/cognitive-capabilities-in-u-sql

[2018-03-12 22:18] jeevansd commented on #5192
@leemac @arixon1 and @aazizi18 we have now uploaded the new version of the plugin here.
http://download.microsoft.com/download/3/C/9/3C94C886-0C89-4182-A758-6DB982E1F398/MicrosoftJIRASSO6x7x.obr
Please use this new plugin and try. Let us know how it goes.

[2018-03-12 22:20] jeevansd commented on #5521
@yrfu Now we have uploaded the new version of the plugin here http://download.microsoft.com/download/3/C/9/3C94C886-0C89-4182-A758-6DB982E1F398/MicrosoftJIRASSO6x7x.obr
Please download this plugin and let us know how it goes.

[2018-03-12 22:23] jason-j-MSFT commented on #5508
@zartcosgrove
I'm glad you were able find the solution to your original issue.  I understand having a reference to the extensions installation instructions on the doc page you pointed out would be helpful.  We are tracking the issue here:
https://github.com/MicrosoftDocs/azure-docs/issues/5507

[2018-03-12 22:23] #5508 closed

[2018-03-12 22:23] MohitGargMSFT commented on #5645
@DeanGross Microsoft Cloud App Security Discovery is available to all Azure AD Premium P1 and EMS E3 customers. There are links to more related documents in Next Steps section of this document. For setup you  can follow this document - [Set up Cloud App Discovery in Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/cloudappdiscovery-get-started)

Please let us know if you are looki

[2018-03-12 22:23] cephalin commented on #5498
@pkellner I apologize. Got mixed up with a different issue. The fix for this one was just merged and will be published tomorrow at 10am.

[2018-03-12 22:26] bastyuchenko commented on #5631
@banisadr, thank you for the explanation!

[2018-03-12 22:26] #5631 closed

[2018-03-12 22:27] Rod-Sychev commented on #5662
All good,
Cheers!

[2018-03-12 22:27] #5662 closed

[2018-03-12 22:30] MohitGargMSFT commented on #5647
@mschappel-r7 I am assigning the issue to the author to investigate and update as appropriate.

[2018-03-12 22:32] #5609 closed

[2018-03-12 22:32] #5603 closed

[2018-03-12 22:33] #5588 closed

[2018-03-12 22:34] #5404 closed

[2018-03-12 22:34] Mike-Ubezzi-MSFT commented on #5558
@samboot7 Are you using Table or Blob for your audit log? I see a discrepancy in the documentation in that there is no 'Blob' option when configuring the Audit and Threat Detection functionality but, that might be just a side issue.

As to not seeing the 'data_sensitivity_information' column data, the following documentation for the sys.fn_get_audit_file function does not include that column as pa

[2018-03-12 22:35] #5334 closed

[2018-03-12 22:35] #5314 closed

[2018-03-12 22:36] #5200 closed

[2018-03-12 22:36] #5155 closed

[2018-03-12 22:37] #5154 closed

[2018-03-12 22:37] Juliako commented on #5443
@giemch, working on it.

[2018-03-12 22:39] MicahMcKittrick-MSFT commented on #5595
@amysy I will go ahead and close this for now. If you are still seeing an issue please try the steps above. For further assistance please submit a forum post and we can continue to work from there.

[2018-03-12 22:39] #5595 closed

[2018-03-12 22:42] SyntaxC4 commented on #5444
@MicrosoftDocs/azure-cxp-triage Can you please re-assign to @cephalin

[2018-03-12 22:49] JasonWHowell commented on #5500
@yesoreyeram Thanks for the question. We don't make any promises about future dates on the general availability of the services (ie. taking it out of preview status). Generally GA takes place between 6 months to 1 year after the public preview is announced. The preview announcement was last May 2017 at the //build conference.

[2018-03-12 22:51] JasonWHowell commented on #5500
#please-close

[2018-03-12 22:51] alkohli commented on #5664
Hello JD, The actual difference in the deployment in the government region and the Azure public cloud is minimal. Only 2 steps are different, one is the service creation where the DC regions are different. The other initial configuration through setup wizard. This was tried multiple times in the Classic portal. It is hard to get the actual device set up in Government region for screenshots and hen

[2018-03-12 22:54] #5500 closed

[2018-03-12 22:54] alkohli commented on #5664
#in-progress

[2018-03-12 23:01] JasonWHowell commented on #5261
@daviburg Hi David, do you still see this problem? Maybe it was resolved with a recent deployment, so checking that before we spend more time on it. Maybe ping us on email internally if its still broken so we can investigate further. Thanks, Jason (JasonH).

[2018-03-12 23:05] dcbrown16 commented on #5618
Understood, thanks @douglaslMS ! Looks like the customer was satisfied with my explanation so less urgent now.

[2018-03-12 23:10] DeanGross commented on #5645
Thanks, i have seen that document. I would like to know what happens when the Cloud App Security Discovery license is assigned to a user.
I would also like to know what functionality is expected to be available in the CAS portal. I have seen some behavior that is not consistent with any of the documentation which leads me to believe that some of the menu items are dependent on the license, but I h

[2018-03-12 23:27] wmmihaa opened #5673 "Unable to build (linux-x64) and push module (to docker hub)"
(Using Win10 Pro)

#1 Build IoT Edge module Docker image not working for linux-x64.
Error message:
"invalid COPY: Current WorkingDir /app is not platform consistent"
Noteworthy:
Building for windows-nano works

#2 Edge: Push IoT Edge module Docker image fails  (to docker hub)
Error message:
"denied: requested access to the resource is denied"

"denied: requested access to the resource is denied"

[2018-03-12 23:29] samboot7 commented on #5558
@Mike-Ubezzi-MSFT I am using Blob storage for the audit log.
 I appreciate the column is not documented but I was assuming that as the function returned the column 'data_sensitivity_information'  it would be populated where applicable.  The data in that column is also missing when I download the XEL file from my blob storage.
I am seeing audit Records in the Azure portal, but the 'data_sensitivity

[2018-03-12 23:29] #5626 closed

[2018-03-12 23:32] MohitGargMSFT commented on #5648
@mikemartin1090 Assigning the issue to the author to investigate and update as appropriate.

[2018-03-12 23:33] tfitzmac commented on #5626
@janvandillen - I have fixed the steps. It should get published tomorrow. I hope that helps.

[2018-03-12 23:35] tfitzmac commented on #5647
#in-process

[2018-03-12 23:37] MicrosoftGuyJFlo commented on #5648
@sadiehenry @richagi any thoughts on this issue?

[2018-03-12 23:37] MicrosoftGuyJFlo commented on #5648
#in-process

[2018-03-12 23:38] MohitGargMSFT commented on #5650
@DeanGross Please note that this document is related to Microsoft Cloud App Security Discovery.

However, You are right in your observation as there is difference in Microsoft Cloud App Security and Office 365 Cloud App Security. Please check this document - [What are the differences between Microsoft Cloud App Security and Office 365 Cloud App Security?](https://docs.microsoft.com/en-us/cloud-app

[2018-03-12 23:51] mtillman commented on #5189
@DeanGross I see what you're asking for. I've opened an item on our internal work backlog to address your request. Since it's now on our backlog, we're going to close the issue here. When we update the content, we'll report back on this issue so that you will be notified.
#please-close

[2018-03-12 23:54] MohitGargMSFT commented on #5496
@asmalser-msft Please update on above.

[2018-03-13 00:00] Mike-Ubezzi-MSFT commented on #5558
Issue Summary

In the instructions to set-up and use 'Get started with SQL database auditing', the resulting audit log .xel as returned by sys.fn_get_audit_file (being viewed in SSMS for example), includes an empty column "data_sensitivity_information" but, the documentation for this function does not list this column as part of the output. Does the documentation need to be updated to refelct this

[2018-03-13 00:01] MohitGargMSFT commented on #5645
@DeanGross Assigning the issue to the author to further investigate and update as appropriate.

[2018-03-13 00:09] Mike-Ubezzi-MSFT commented on #5624
The following are instructions for resizing the OS disk for a Linux VM. In addition, do not attempt to **downsize** the OS disk if it is a disk type of XFS.

https://docs.microsoft.com/en-us/azure/virtual-machines/linux/expand-disks

[2018-03-13 00:11] #5389 closed

[2018-03-13 00:12] georgewallace commented on #5398
@arcotek-ltd Just wanted to follow up on this issue. Are you able to clarify if you were referring to what I mentioned above or something else?

[2018-03-13 00:29] derekschauland opened #5676 "Creating a use case"
Would it be possible to work with someone to build a use case for Management Groups? If I am using IAM and Resource Groups today - with Azure AD groups as the primary, what is the benefit of the use of Management Groups? Is one way better than the other? I am happy to build the document, but am trying to get my head around the goal of management groups for security and resource management

---
###

[2018-03-13 00:45] MGoedtel commented on #5197
#please-close

[2018-03-13 00:48] dkkapur commented on #5463
@juhacket please have a look at this, thanks!

[2018-03-13 01:31] SIGAN opened #5677 "Missing limit for "Data Lake Analytics""
Maximum number of ADLA accounts per region per subscription: 5

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57b6d-3c6f-e546-b3ea-f83892f4c23d
* Version Independent ID: 27aecc7b-f107-96d4-b044-ae026bca2727
* Content: [Azure subscription limits and quotas | Microsoft Docs](https://docs.microsoft.com/en-us/azure/azur

[2018-03-13 01:34] SIGAN opened #5678 "Maximum number of ADLA accounts is per region"
Please change to "Maximum number of ADLA accounts __per region__ per subscription: 5"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b6da17d-60c8-8992-d959-0c794a08c19b
* Version Independent ID: 785930e5-6074-2756-c294-a42e9de36e9f
* Content: [Azure Data Lake Analytics Quota Limits | Microsoft Docs](https://docs.micro

[2018-03-13 01:57] baywet opened #5679 "Sample not showing up if device not connected"
The very beginning of the documentation instructs to keep the device disconnected. However as long as you keep it disconnected, the sample for the mx3166 won't show up

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38a2f207-a9ea-0fe8-723f-3b9c1d9e1ee0
* Version Independent ID: 1201503a-df9a-af95-9d1a-e07bfd7f812a
* Con

[2018-03-13 02:10] DeanGross commented on #5650
Thanks, I am very confused about what exactly is included in CAS Discovery, that article you linked to does not mentioned it at all,  there is no documentation available the clearly explains what is included in CAS Discovery and what needs to be done to use it in an Office 365 tenant.

[2018-03-13 02:22] ajayaldo commented on #5276
While moving one azure api app from a resource group with multiple azure api apps with in same subscription, it throws a validation error. Tried from portal as well as powershell, no respite.

subscription id '4dbd35fa-7649-4a3e-bc8b-943ac1c48927', tracking id '40ea95b4-4c27-4738-9013-187690012a98', request correlation id '2ea747b7-bc73-49d5-9ead-94396a5ecdd5'.",

The error is "The resource '/subs

[2018-03-13 02:31] ajayaldo opened #5680 "Validation Error while moving one API app from a resource groups with multiple API apps in some Resource Groups"
While moving one azure API app from a resource group with multiple azure API apps within the same subscription, it throws a validation error. Tried the portal as well as PowerShell, no respite.

tracking id '40ea95b4-4c27-4738-9013-187690012a98', request correlation id '2ea747b7-bc73-49d5-9ead-94396a5ecdd5'.",

The error is "The resource '/subscriptions/{sub id}/resourceGroups/test-accounts/provid

[2018-03-13 03:08] imsauravroy007 commented on #5197
You removed the earlier post Matt :) , Due to your wrong postings it created a turmoil in my office :(

[2018-03-13 03:17] Juliako commented on #5224
#please-close

[2018-03-13 03:20] yujhongmicrosoft commented on #5127
This update was made:[https://docs.microsoft.com/en-us/azure/azure-government/documentation-government-services-webandmobile].

[2018-03-13 03:21] Juliako commented on #5667
#fixed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/35162

[2018-03-13 03:23] TheChadR opened #5681 "You can deploy to only five resource groups in a single deployment ?"
In the note above there is a mention of being able to..... "You can deploy to only five resource groups in a single deployment."
In this scenario, does this include the one you specify as part of the new-azurermresourcegroupdeployment command ?
If so, can this be clarified ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2018-03-13 03:42] mimig1 commented on #5513
#please-close as we will track the new article creation internally. @jason-j-MSFT At the current time the Table API is recommended when you have Azure Table storage data, but want the premium benefits offered by the Azure Cosmos DB Table API as outlined here https://docs.microsoft.com/en-us/azure/cosmos-db/table-introduction#table-offerings. If you're looking to start a new database from scratch,

[2018-03-13 04:19] timwieman opened #5682 "Misspelling of "Learn" as "Leran""
Misspelled "Leran" under topic "Configure Alert Rules" (https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-overview-metrics#configure-alert-rules)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27080c52-e0a2-ad26-7e4c-9cf31fed5f34
* Version Independent ID: 7d9f8df7-bc6c-2160-5d58-2e1b7ccf7d59

[2018-03-13 04:19] Juliako commented on #5667
#please-close

[2018-03-13 04:57] pvn2266 commented on #5627
@MohitGargMSFT thanks for quick response. Awaiting for update from your end

[2018-03-13 05:00] mikejonestechno commented on #5476
Similar situation, I want to provide unattended install of the Status Monitor - ideally by including it in a nested PowerShell Desired State Configuration that installs and configures the rest of IIS.

[2018-03-13 05:25] MohitGargMSFT commented on #5627
@pvn2266 This issue has been assigned to author.

@asmalser-msft Please help with an update.

[2018-03-13 06:02] shirosan322 opened #5683 "Japanese for "Create the device app" is wrong"
Japanese for "Create the device app"  is tranlated to  "サービス アプリを作成する".
But I think that Japanese for "Create the device app" is "デバイスアプリを作成する".

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: f15f149b-4059-d877-f390-156852d88d1d
* Version Independent ID: 3f633622-d0b0-be26-f115-9595a6ee4cde
* Content: [Azure IoT Hub デバイス ツインの使用 (.NET/.NET) | Microsof

[2018-03-13 06:05] jg11jg opened #5684 "Provide any redirect URI should now be Provide any Sign-on URL"
If I'm following the instructions correctly, then it appears that that text entry box has been relabelled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a4b8453-d2bc-9c8d-bb16-26fa7e4c6363
* Version Independent ID: 160642fc-b5a9-1ebe-7daf-105509b6e2f4
* Content: [Use the Graph API - Azure AD B2C | Microsoft Docs](htt

[2018-03-13 06:14] ericbrunner commented on #5265
Sure I will try. But what is ?client=default ?
I only have seen ?code=default where code is equal to x-functions-key as header parameter for authentication.

[2018-03-13 06:48] mguntli opened #5686 "Azure Table Storage not available with Premium Performance"
It is not described that Table Storage is only available on Standard Performance. The "Create Storage Account" blade makes it very hard to create a storage account for a table storage, since it's a trial and error which options lead to the expected result.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06288d35-3c83-c2

[2018-03-13 07:45] sid326 opened #5693 "Application Insight resource is showing connected to the OMS workspace which is already been deleted 2 month ago."
I have connected my application insights resource to the log Analytics OMS workspace using
log-analytics-app-insights-connector. After testing I have deleted the OMS workspace But when I again tried to connect that application insight resource to another OMS workspace its showing that it is already connected to some other workspace( Previous workspace which was deleted 2 months back). Why it is sh

[2018-03-13 08:25] dtissen opened #5694 "Wie werden Forwards konfiguriert"
Es gibt leider keine Antwort - weder auf ihrer Homepage noch im Internet wie ich den Traffic für eine IP verteilen kann. Auch ein Load Balancer kann den NAT Traffic nicht auf Port Ebene unterschiedlichen IPs weiterleiten. Wie gedenkt Azure das Thema zu lösen?

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel er

[2018-03-13 08:48] wminos opened #5695 ""Customize Actions" isn't visible in the portal."
Currently, Alerts (preview) UI has changed in the portal.
At this page, "3. Define action group" picture contains "Customize Actions" with "Include custom payload for webhook".
But now it isn't visible in the portal.

![alerts preview action group](https://user-images.githubusercontent.com/36513305/37331376-18d9cce4-26e7-11e8-84b2-7764c1746496.png)

---
#### Document Details

⚠ *Do not edit this s

[2018-03-13 08:50] peterwake opened #5696 "Moving a VM from a personal Azure subscription to a work Azure account"
My company is now using Office365 and I want to move an Azure VM I set up with my personal hotmail account (on a pay as you go subscription) to be managed by my work account. I go to the VM and select Move > Move to Another Subscription, but it just says I don't have any subscriptions to move resources to. Should I add my work account as a guest user?

---
#### Document Details

⚠ *Do not edit thi

[2018-03-13 09:17] msvijayn commented on #5695
Hi Park Manu,
As indicated in step 3, there are three divisions inside the page. See [image] (https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/media/monitor-alerts-unified/alertspreviewadd.png). As indicated in doc, the customize action is available in section 3 of the [this screenshot in step 3](https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/media/monitor-alert

[2018-03-13 09:20] ericbrunner commented on #5265
@ggailey777 I recorded a screencast about what I did while following the [GitHub WebHook Tutorial](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-github-webhook-triggered-function).

[Show Screencast](https://screencast-o-matic.com/watch/cFeIQqDrht)

[2018-03-13 09:29] Minewiskan commented on #5482
#resolved

[2018-03-13 09:31] rnjane opened #5697 "Thanks"
Worked like a charm for me. Thanks for this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea96d36c-ecca-def8-29bb-081f363f48ce
* Version Independent ID: c482444e-69a8-b31d-a7a8-ce24d8ff72f6
* Content: [Upload an Azure Service Management Certificate | Microsoft Docs](https://docs.microsoft.com/en-us/azure/azure-api-ma

[2018-03-13 09:32] msvijayn commented on #5695
If you have any further questions, please re-open
#sign-off

[2018-03-13 09:45] Variour opened #5698 "Best practice key rollover"
Is there a best practice (regarding how to do it) for the AZUREADSSOACC key roll over?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c653c09-5b97-4bf0-7581-d4749993e3d9
* Version Independent ID: a90440e8-1d30-9fba-5148-813df159ae2f
* Content: [Azure AD Connect: Seamless Single Sign-On - Frequently asked questions | M

[2018-03-13 10:06] markedrichardson opened #5699 "Conflicting information within the documentation"
The top paragraph of this document states "The plugin is enabled, by default, when deploying Kubernetes clusters with the Azure Container Service Engine (or ACS engine)."
The Constraints section states "The plugin is not enabled when deploying a Kubernetes cluster with the Azure Container Service (AKS) or ACS cluster with Kubernetes."
Please clarify which is correct.

---
#### Document Details

⚠

[2018-03-13 10:11] cephalin commented on #5604
@tobyjw While investigating your issue I found another issue that I fixed at: https://github.com/Azure-Samples/dotnetcore-sqldb-tutorial/commit/a006de8e53aeba585d6262ff3a225ec690bdfa2b.

I may have reproduced your issue but i'm not sure because it was because I forgot to run the following commands locally after adding the Done property:

[code]

Take a look and see if this solves your issue.

[2018-03-13 10:24] cephalin commented on #5480
Tracking this request internally with work item [1206389](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1206389).

[2018-03-13 10:35] cephalin commented on #5260
@WootJay Oh yes. Sorry it was linked out to another repo so didn't come up on my source search.

If you take a look at the sample script, it actually shows the command to scale up the pricing tier to BASIC a few lines later. This way we cover both new apps and existing apps.

[2018-03-13 10:58] femsulu commented on #5344
@bennbatt8112
We will now close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-13 10:58] #5344 closed

[2018-03-13 11:12] FabioEnne opened #5700 "How to correctly configure IoTEdge Module to report data to Remote Monitoring"
As the title says, whats the correct way to configure an IoTEdge Module to report data to Remote Monitoring? Actually I have a custom module running on an IoTEdge device that is working correctly (I can check that is working properly by looking at the docker logs of the module) , but its not transmitting anything to the Remote monitoring dashboard, by the way the device is listed on the available

[2018-03-13 11:16] csadam commented on #5482
Thank you for the fast solution. It works with 'Azure Analysis Services'

[2018-03-13 11:16] #5482 closed

[2018-03-13 11:23] thomas-bak commented on #5622
My bad, it works fine in incognito mode so probably an extension issue or similar.

[2018-03-13 11:23] #5622 closed

[2018-03-13 11:29] thomas-bak commented on #5622
For Chrome it turned out to be the ClickOnce plugin which I can't find in the store anymore:

![image](https://user-images.githubusercontent.com/22938084/37339094-d47e8c88-26b9-11e8-8125-3cd36d351318.png)

For Edge it's as mentioned, not sure if that's intended but it's a little too hidden for me.
For IE11 it works.

[2018-03-13 11:32] pvn2266 commented on #5627
@asmalser-msft , I am not expecting and SDK update. A simple statement regarding the feasibility is also fine for me now, 'Whether intune supports SSO feature for iOS and android respectively for my own apps just like Authenticator app'

[2018-03-13 11:40] Variour opened #5701 "Dead links"
The links for "64-bit Azure Active Directory module for Windows PowerShell" lead to the "Microsoft Connect Has Been Retired" page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c653c09-5b97-4bf0-7581-d4749993e3d9
* Version Independent ID: a90440e8-1d30-9fba-5148-813df159ae2f
* Content: [Azure AD Connect: Seamless Sing

[2018-03-13 11:41] MerrionComputing opened #5702 "Regarding "When publishing events to custom topics, you should consider modeling the subject of your events to aid in routing and filtering""
Could you add some detail on this - maybe an example of what it implies i.e. would a /domain/entity/instance subject be a good model ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c612f098-ae63-bc16-d594-14e8550ff688
* Version Independent ID: 2dd289e9-53ad-0d16-7dc6-47a687880031
* Content: [Azure Event Grid event sch

[2018-03-13 11:44] femsulu commented on #5476
@artisticcheese , @mikejonestechno

Was able to get some useful information on from my dev team. "Unattended install" has not been tested on ServerCore so it is not officially supported. The PG appreciates your direct feedback so please share your request for server core support [here](https://feedback.azure.com/forums/357324-application-insights).
For an unattended install (excluding Server Core)

[2018-03-13 11:51] femsulu commented on #5493
I just tested the link and can confirm this is resolved on the public facing doc. Closing this issue as resolved.

[2018-03-13 11:51] #5493 closed

[2018-03-13 11:54] femsulu commented on #5516
@buzzfrog , I just verified that the link has been fixed in the public facing doc. Thanks for raising this issue. I will now close this issue. Don't hesitate to ping if you have any followup questions.

[2018-03-13 11:54] #5516 closed

[2018-03-13 11:55] femsulu commented on #5530
@arunakshi, just checking in to see if my above response resolved your issue.

[2018-03-13 12:03] wminos commented on #5695
It seems that there is a mistake in delivering something.
The image file you linked to is missing the Customize Actions entry.
However, it is included in the document that created this issue.

<img width="500" alt="alertspreviewoverridelog" src="https://user-images.githubusercontent.com/36513305/37340563-e60bb44c-2701-11e8-935b-bdf461e9fad0.png">

[2018-03-13 12:07] dominicbetts commented on #5628
Hi @pankajisgarg

We are currently updating this article to provide more information about the parameter passing in C, in the meantime please take a look at the Node.js sample for a more complete implementation of the firmware update process. The tutorial for the previous version of Remote Monitoring PCS also shows an example of parameter passing to Direct Methods in C - please take a look at http

[2018-03-13 12:07] dominicbetts commented on #5628
#please-close

[2018-03-13 12:09] msvijayn commented on #5695
@wminos - when you start you should see something like [image in step 3](https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/media/monitor-alerts-unified/alertspreviewadd.png).

Then you need to follow steps to create a log alert (i.e.) steps 8 to 10. As indicated in doc for step 12, "For Log Alerts some additional functionality is available to override the default Actions" as [illus

[2018-03-13 12:11] wminos commented on #5695
I did not see it carefully. Now I understand.
Thank you!

[2018-03-13 12:12] msvijayn commented on #5695
@wminos you're welcome
I'll ask CXP to close the issue.

#please-close

[2018-03-13 12:27] femsulu commented on #5667
Thanks for the update Juliako. Closing this request out as resolved.

[2018-03-13 12:28] femsulu commented on #5667
@ttugates ,
We will now close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-13 12:28] #5667 closed

[2018-03-13 12:32] ttugates commented on #5667
Thanks, just checked and the link is still broken.

If it's somehow fixed in a way with eventual consistency.  Please disregard this.

[2018-03-13 12:46] arunakshi commented on #5530
@femsulu, thank you very much for your reply, no it didnt work either and i get the same error.
Add-AzureRmMetricAlertRule : Exception type: ErrorResponseException, Message: Null/Empty, Code: Null, Status code:BadRequest, Reason phrase: Bad Request

[2018-03-13 12:53] cephalin commented on #5444
Tracking internally at https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1206517 for the isolated tier information. Thanks @JatinBavishi !

[2018-03-13 12:54] lousimonetti commented on #5663
I submitted PR [5671](https://github.com/MicrosoftDocs/azure-docs/pull/5671)

[2018-03-13 13:02] andrejpk opened #5703 "Advanced changes to applicationhost.config via applicationHost.xdt not documented?"
Advanced config of App Service's applicationhost.config is allowed through creating a transformation file named applicationHost.xdt in the app root. This is an advanced concept but if it's supported, it should be documented here officially. Maybe I'm missing it, but I don't see that in docs anywhere here. Should we add something on that here?

see: https://blogs.msdn.microsoft.com/benjaminperkins/

[2018-03-13 13:09] CamiloTerevinto opened #5704 "Update code examples"
There are multiple calls to `CloudTable.Execute(TableOperation)`, which, according to the documentation, no longer exists. Either update to `CloudTable.ExecuteAsync(TableOperation)` or to `CloudTable.Execute(TableOperation, TableRequestOptions, OperationContext)`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9ca205b

[2018-03-13 13:18] jeroenwo opened #5705 "404 on detailed documentation links"
The provided detailed links (like "CREATE EXTERNAL DATA SOURCE", https://docs.microsoft.com/en-us/sql/t-sql/statements/create-external-data-source-transact-sql.md) do not work. Removing .md from the link (https://docs.microsoft.com/en-us/sql/t-sql/statements/create-external-data-source-transact-sql.md) works.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2018-03-13 13:19] mguntli opened #5706 "Using directives do not match original Azure Table storage"
At the top of the article it's written: "The content in this article applies to the original Azure Table storage"

**Section "Add using directives"**
Current WindowsAzure.Storage 9.1.0 has a the namespace: Microsoft.WindowsAzure.Storage.Table

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9ca205b-55ab-683a-46ee-afc9f6

[2018-03-13 13:20] buzzfrog commented on #5472
@AzureDataGeek, I had the same problem, but when I tried:
    sudo pip install azure-iot-edge-runtime-ctl --ignore-installed pyOpenSSL
it worked.
I don't know if this is a good solution.

[2018-03-13 13:23] #5704 closed

[2018-03-13 13:30] jcbendernh opened #5707 "Additional step needed under the Deploy a SQL Server container section"
It seems that the routes section in the deployment.json file will overwrite the values set in the routes section of the Set Modules components of the Iot Hub >>>  IoE Edge >>> Devices Details blade on the Azure Portal.  Thus I had to make sure the routes section in the deployment.json file had the following...

        "routes": {
          "sensorToFilter": "FROM /messages/modules/tempSensor/outp

[2018-03-13 13:32] Zebusch opened #5708 "awverify?"
Have you removed the possibility to use awverify to prepare the custom domain name mappings? I have not managed to do this like usual and the UI in Azure Portal seem to have changed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 224b73dd-c59d-a833-0d4d-a778af6086a9
* Version Independent ID: c6b167c9-9589-45d0-ee6a-7a4

[2018-03-13 13:37] slonimg opened #5709 "Wrong edge on conditions graph"
Condition #4 (ELSE IF) should only have 2 outgoing edges.
1. No Match -> Condition #5
2. Match -> Features (Set B)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98bbd9be-a763-d338-f06b-8279f0b32610
* Version Independent ID: 4ae5a6b1-c739-e259-67f9-6551ca3fe58e
* Content: [Azure CDN rules engine conditional expressions

[2018-03-13 13:44] amanarneja commented on #5673
@wmmihaa Sorry about that experience and thanks for reporting it! I have assigned this issue to the author to investigate.

[2018-03-13 13:48] artisticcheese commented on #5476
Here is how to do it unattended.

[code]

[2018-03-13 13:48] Hechamon opened #5710 "#linktosearchresults variable does not actually have a link in it"
According to this doc, I should be able to use that variable, however later in the doc you build the link yourself and in my testing the variable does not contain a value. Please decide which version should be working. Thank you :D

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1390bec-bae0-2fe7-a29c-a242584fd7b3
* Ve

[2018-03-13 13:48] mguntli opened #5711 "Old namespace for CloudConfigurationManager"
CloudConfigurationManager does not exist anymore in the Microsoft.Framework.Configuration.
Is it now moved to Microsoft.Azure?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8664f4cd-95e4-aa94-edee-03200598f85c
* Version Independent ID: c0644aaa-f25b-4ba7-ce01-45bc065372ed
* Content: [How to get started with table stor

[2018-03-13 13:51] cephalin commented on #5623
Tracking this request internally with work item [1206569](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1206569).

[2018-03-13 13:57] amanarneja commented on #5676
@derekschauland Thanks for the offer to contribute. Management groups become interesting when we are talking about large organizations which consist of Multiple subscriptions (sometimes resultant of complex EA deals based on organization structure).
I have assigned the issue to @tysonn to consider the new doc idea to explain this better.

[2018-03-13 14:00] amanarneja commented on #5697
@rnjane Thanks for the positive feedback! Great that it worked well :)

[2018-03-13 14:00] #5697 closed

[2018-03-13 14:15] derekschauland opened #5712 "API Management Service call out"
I am not sure if this call out should go in this document or in one specific to API Management Service VNet connectivity - there should be some mention of needing the Subnet used for API Management Service resources should only contain API Management Service resources.  I am not sure if I saw this in an email or a blog post, but in recent testing - the addition of API Management Service resources

[2018-03-13 14:33] spelluru commented on #5149
#please-close

I have a VSTS work item to track this. Thanks.

[2018-03-13 14:44] leemac commented on #5192
Thank you @jeevansd! It appears to work now.

I did have to walk through the tutorial again. After I uploaded the plugin to jira, I go the same error, perhaps something was cached. Everything looks good now on our end.

[2018-03-13 14:49] wminos commented on #5264
Perhaps this issue does not have the perfect answer. However, it would be a great help if start to know the most recommended method from service fabric developer or experienced person as a position to introduce it. (In fact, there is not much documentation for service fabrics except for official documents and video lectures)

[2018-03-13 14:57] liangqin12354 opened #5714 "Qin"
Hi Rob, after I set up the environment for Grafana. I stuck at 'login page for the Grafana'. In the 'Public IP address', I can't find the way or information that I can log into Grafana. I tried both IP address and DNS name with 3000, neither works. Could you help me to solve it? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2018-03-13 15:08] HenrikBach1 commented on #5042
I can confirm that the command "iotedgectl uninstall" is added to the documentation.

[2018-03-13 15:08] hravnaas opened #5715 "VS 2015 SDK and Tools attempts to (but fails) to install C++ redist package for 2017"
Hi, I just attempted run the "Install the Microsoft Azure Service Fabric SDK and Tools" for VS 2015, but one of the steps failed, specifically the one trying to install the C++ redist package for 2017. Seems odd that a 2017 component is attempted installed on my VS 2015. Is this correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2018-03-13 15:11] KumaresanLakshmanan opened #5716 "Would like to know whether ServiceNow EventManagement plugin is required for incident creation"
We are looking for leveraging ITSM Connector to integrate with ServiceNow ITSM tool to create the incidents for Azure Alerts.

Would like to know whether the ServiceNow EventManagement Plugin is required for incidents creation by Azure ITSM connector.

Also, would like to understand how ITSM connector connects to ServiceNow instance and creating incidents. Does it creates records in events and ale

[2018-03-13 15:12] thomasahle commented on #5624
It turns out, that if I used the `az` command, rather than the web portal, the resizing on the filesystem happened automatically on the root disk.
This is a bit funny, since it didn't happen on my other disks, on which I had to follow the guide by Mike-Ubezzi-MSFT, but it is useful, since of course, it was hard to unmount the root partition.

[2018-03-13 15:32] melzoghbi opened #5717 "I get exit code 1 when i deploy this ml model into iot edge"
Hi, I followed the steps but i am not able to run the container since the status shows "backoff" after i deployed this model into iot edge using the defaul docker image.

Then i changed the docker base image from the portal to the one that supports ARM32:

![image](https://user-images.githubusercontent.com/11993393/37354194-78fb901a-26b7-11e8-888e-38ba9daf0341.png)

But now after i did a deploymen

[2018-03-13 15:32] tfitzmac commented on #5647
@mschappel-r7 - thanks for pointing out this discrepancy. I have confirmed that the documentation is mostly right. I will update the doc to indicate that these restrictions apply to the tag name, not the tag value. Also, I received errors when trying to use \ so I will add that.

It looks to me like the portal is enforcing some restrictions that aren't needed. Or, perhaps, there is something about

[2018-03-13 15:33] tfitzmac commented on #5647
@MohitGargMSFT - can you reassign this item to the portal team so they can evaluate whether they need to change their error condition?

[2018-03-13 15:35] Mike-Ubezzi-MSFT commented on #5624
Marking this issue as resolved. If you should have any additional questions please do not hesitate to ask.

[2018-03-13 15:39] #5513 closed

[2018-03-13 15:59] cephalin commented on #5708
@Zebusch It's documented here: https://docs.microsoft.com/en-us/azure/app-service/app-service-custom-domain-name-migrate

[2018-03-13 16:10] rayne-wiselman commented on #5658
Hi Mohit, did you triage this issue as a content issue? It's a question about a future feature which we wouldn't answer in the article. We don't comment on features that aren't yet released. thx

[2018-03-13 16:16] mlimache opened #5718 "Memory requirements"
The document says 12GB on memory, but when you install the setup, the installer asks you for 16GB.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 613fc8ec-8a64-58ba-e798-706db4ef74c0
* Version Independent ID: 45654ffd-6447-ba3c-aa31-3b15e30a7d10
* Content: [Manage the configuration server for physical server disaster r

[2018-03-13 16:20] cherylmc commented on #5571
Here are links for creating the client configuration https://docs.microsoft.com/azure/vpn-gateway/point-to-site-vpn-client-configuration-azure-cert, and client certificate install https://docs.microsoft.com/azure/vpn-gateway/point-to-site-how-to-vpn-client-install-azure-cert. Is that what you are asking for?

[2018-03-13 16:42] Mike-Ubezzi-MSFT commented on #5426
The end user is looking for additional content in regard to data retention for pipeline run activity and running the Get-AzureRmDataFactoryV2PipelineRun cmdlet against that historical data. It would be helpful to detail the capabilities when looking to access historical run data programmatically.

[2018-03-13 16:43] ecfan commented on #5412
@daviburg Can we close this issue now that a work item exists on the backlog to address? Thanks!
@amanarneja

[2018-03-13 16:43] stasku commented on #5681
+1. Does the limit apply to both - nested inline and linked sub-deployments?

[2018-03-13 16:55] MicrosoftGuyJFlo commented on #5663
Fixed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/35158 in our private repo last night. Saw your tweet to Alex and took care of it. Thanks for the contribution though.

[2018-03-13 16:55] MicrosoftGuyJFlo commented on #5663
#please-close

[2018-03-13 16:58] vojta001 opened #5719 "Improve image quality"
The image describing Blob service components is very helpful, but it contains JPEG compression artifacts (the fact that someone converted it to PNG doesn't help), which is disturbing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a056685-6734-380e-562c-92e30b8976a3
* Version Independent ID: 1d17cc5e-f2b1-5489-79fa-e8

[2018-03-13 17:18] mimig1 commented on #5428
Emailed @kirankumarkolli about this issue.

[2018-03-13 17:22] MarkusVi commented on #5448
Hi @TrixM, sorry to hear that the script didn't work for you. The best I can tell you is that it should. For a further investigation, you might want to open a support ticket.
However, your solution is also good. It is just a different route to get to the same result using the Active Directory PowerShell cmdlets.

#please-close

[2018-03-13 17:24] codyrat opened #5721 "OMS required permissions"
What are all the permissions that are required to deploy NPM and OMS within Azure? Where are these documented?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68c6efe1-73cb-10bc-91c7-6a93265eed2c
* Version Independent ID: b4015538-934a-49c3-802b-a3f0a7e215b6
* Content: [Configure Network Performance Monitor for Azure Ex

[2018-03-13 17:27] #5695 closed

[2018-03-13 17:28] ggailey777 commented on #5265
@ericbrunner it looks like from the screen cast that your Webhook is now succeeding, right?  I opened an issue about the duplicate "default" values in the UI: https://github.com/Azure/azure-functions-ux/issues/2413. I think that this query string must support the ability to use various keys with the webhook, but I don't see that support in the UI--aside from the URL chooser.

[2018-03-13 17:30] #5498 closed

[2018-03-13 17:33] jimt4593 opened #5723 "Incorrect wording of sentence."
Following wording is incorrect.  Sentence:
   For TCP protocol, give the relative path and the name of the webpage or the file that the monitoring accesses.

Should read:

   For the HTTP and HTTPS protocols, give the relative path and the name of the webpage or the file that the monitoring accesses.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2018-03-13 17:38] ivratche opened #5724 "Seamless SSO for Safari"
The provided Apple link has absolutely no mention of the word Azure. Did you mean Active Directory domain join, instead of Azure AD join? Either the statement is wrong or the link is wrong. Please correct accordingly!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d9cfb97-d0f3-3cc1-a460-ff4e05530b92
* Version Independ

[2018-03-13 17:45] cparker4486 opened #5725 "This document is out of date"
There are several expressions available in the editor that aren't listed here. For example, addToTime() being one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d03bfc0e-6636-8847-8a22-1bf280d26b6e
* Version Independent ID: ea462c47-798f-981b-85fd-3771a4a1f5a4
* Content: [Workflow Definition Language schema - Azure Lo

[2018-03-13 17:54] jakedenyer-s24 opened #5726 "App Id URI vs. Application ID"
I ran into an issue connecting my ASP.NET Core 2.1 API to API Management

In this section - you state that you need to use the App Id URI

But I was only able to get this to work by using the Application ID field of the Application Registration in Azure AD.

[2018-03-13 17:56] ti82 commented on #5571
Yes I have seen those links. I was following the steps provided on the page that I commented on, with the only difference being that I changed the name of the root and client to be more specific to my needs. The guide only mentions changing the Subject Common Name of the cert, which would mean that if the DnsName wasn't updated then the Subject wouldn't match with the Subject Alternative Name, so

[2018-03-13 18:01] jeevansd commented on #5192
@leemac Thanks for the confirmation and we are really happy to help you up!
@arixon1  and @aazizi18 Can you please confirm the output? Is the issue resolved for you?

[2018-03-13 18:04] MarkusVi commented on #5128
Hi @fswgm, thanks for your suggestion.
We have created a backlog item to track this.

Thanks,
Markus

#please-close

[2018-03-13 18:11] davidmu1 commented on #5135
#please-close

[2018-03-13 18:13] davidmu1 commented on #5152
@kylefu8: The link has been added.

[2018-03-13 18:13] davidmu1 commented on #5152
#please-close

[2018-03-13 18:19] hravnaas commented on #5715
![failedinstallscreenshot](https://user-images.githubusercontent.com/2955789/37361520-54305ad8-26b0-11e8-83e2-37d073fc80f2.PNG)

[2018-03-13 18:21] davidmu1 commented on #5286
@MohitGargMSFT: I'm having some difficulty understanding what needs to be corrected in the English version of the article. Can you please elaborate on what the issue is? I'm not finding 911100 in the article.

[2018-03-13 18:34] femila commented on #5093
@mattbriggs Hi Matt, could you take a look at this one and update the link to point to https://pypi.org/project/azure-storage/0.30.0/

[2018-03-13 18:39] MohitGargMSFT commented on #5658
@omegagx Please note that as stated by Rayne we currently have no release date to share site recovery support Ubuntu running kernel 4.4.0-112. You can check the [Azure Update](https://azure.microsoft.com/en-us/updates/) here and also subscribe to it to get notification around new feature releases. Thanks.

[2018-03-13 18:40] BryanTrach-MSFT commented on #5663
Thank you for the feedback @lousimonetti. We will now proceed to close this thread. If there are issues regarding this matter in the future, please reopen the thread and we can take another look.

[2018-03-13 18:40] #5663 closed

[2018-03-13 18:41] MikeWasson opened #5727 "What are the prerequisites?"
Do I need to install an SDK or NuGet package for this code example?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bc7ce7b-9308-8a1a-4b62-dc687bb68285
* Version Independent ID: df006540-2a76-c947-b950-e0fb5003eb3a
* Content: [Query data from an Azure Time Series Insights environment using C# code | Microsoft Docs](htt

[2018-03-13 18:44] mattbriggs commented on #5093
@femila updated at 1802 (I think). PyPi points to: https://pypi.org/project/azure-storage/0.30.0/ (line 65). @brainwane thanks for your feedback! #please-close

[2018-03-13 18:44] BryanTrach-MSFT commented on #5661
@mjanulaitis Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-13 18:46] MohitGargMSFT commented on #5659
Thanks for your feedback. We will investigate update as appropriate.

[2018-03-13 18:47] MohitGargMSFT commented on #5657
Thanks for your feedback. We will investigate update as appropriate.

[2018-03-13 18:47] BryanTrach-MSFT commented on #5448
@TrixM We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion

[2018-03-13 18:47] #5448 closed

[2018-03-13 18:48] arixon1 commented on #5192
Hi, I can confirm that it is working now, thank you.
However, we have a situation that our Jira server resides on our local LAN (on-prem) and we would like to publish it externally through Azure application proxy. since Application Proxy cannot work with SAML the SSO only works internally. how can we overcome this issue?

Thanks!

[2018-03-13 18:48] MohitGargMSFT commented on #5660
@slyons Thanks for your feedback. We will investigate update as appropriate.

[2018-03-13 18:49] MohitGargMSFT commented on #5665
@pemj Thanks for your feedback. We will investigate update as appropriate.

[2018-03-13 18:50] SyntaxC4 commented on #5708
@Zebusch Thanks for your feedback. Does Cephas' answer provide you the information you need?

[2018-03-13 18:50] mattbriggs commented on #5055
Okay ... ran again. I think the issue is resolved. #please-close

[2018-03-13 18:52] DonPetry-EY opened #5728 "Does not apply to Managed Disks"
Should this article explicitly state that this feature is not provided for Managed Disks?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7e05a67-3121-bbc2-7a46-637199104ea3
* Version Independent ID: 2802344c-0571-bdac-4755-580f75f404b0
* Content: [Azure Storage Service Encryption for Data at Rest | Microsoft Docs](htt

[2018-03-13 18:56] silverf1re opened #5729 "The source script rum needs to be delivered over https."
IE and chrome throw worrying messages to users.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b62bfe91-9863-3740-850f-103d9fe6b1eb
* Version Independent ID: 4443c50c-7b67-5ff7-e67f-418334d2b33f
* Content: [Real User Measurements to Azure Traffic Manager with web pages | Microsoft Docs](https://docs.microsoft.com/en-us

[2018-03-13 18:57] mattbriggs commented on #5342
An update from a different thread is in process. Will update when I verify the change.

[2018-03-13 18:58] DonPetry-EY opened #5730 "Does not apply to Managed Disks"
The article should be updated to make it clear this does not apply to Managed Disk.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6dc2f1a2-3f5a-baf3-94e7-37bf4539530b
* Version Independent ID: 13dd580d-f249-62eb-13e2-da76f2f7f7dc
* Content: [Azure Storage Service Encryption using customer-managed keys in Azure Key Vau

[2018-03-13 18:58] DavidHBallantyne commented on #5342
Thanks!

Sent from my iPhone

[2018-03-13 18:58] DonPetry-EY opened #5731 "Does not apply to Managed Disks"
This article should be updated to make it clear this feature is not available for Managed Disks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1eb0407d-f4a5-6059-488d-fd082915c675
* Version Independent ID: 7c2fb429-743c-aea0-f1d5-de6dc2e62e8e
* Content: [Azure virtual network service endpoints | Microsoft Docs](https:

[2018-03-13 19:09] jason-j-MSFT commented on #5677
@SIGAN Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-13 19:09] jason-j-MSFT commented on #5678
@SIGAN Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-13 19:09] #5591 closed

[2018-03-13 19:09] jason-j-MSFT commented on #5679
@baywet
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-13 19:10] jason-j-MSFT commented on #5680
@ajayaldo
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-13 19:10] jason-j-MSFT commented on #5681
@TheChadR
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-13 19:10] jason-j-MSFT commented on #5682
@timwieman
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-13 19:11] jason-j-MSFT commented on #5683
@shirosan322
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-13 19:11] jason-j-MSFT commented on #5686
@mguntli
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-13 19:11] jason-j-MSFT commented on #5693
@sid326
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-13 19:12] jason-j-MSFT commented on #5694
@dtissen
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-13 19:12] jimdial commented on #5699
@markedrichardson They're both correct. ACS and AKS (the constraint) both create Kubernetes clusters that are managed by Azure. The ACS Engine creates Azure Resource Manager templates that allow you to deploy a Kubernetes cluster that you manage. Does that help?

[2018-03-13 19:12] jason-j-MSFT commented on #5696
@peterwake
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-13 19:12] jason-j-MSFT commented on #5698
@Variour
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-13 19:13] jimdial commented on #5699
#in-process

[2018-03-13 19:13] mattbriggs commented on #5222
Hi ... I have a question out about this and should update shortly. Thanks! Matt #in-process

[2018-03-13 19:13] jason-j-MSFT commented on #5700
@FabioEnne
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-13 19:13] jason-j-MSFT commented on #5701
@Variour
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-13 19:13] jason-j-MSFT commented on #5702
@MerrionComputing
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-13 19:14] jason-j-MSFT commented on #5703
@andrejpk
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-13 19:15] jason-j-MSFT commented on #5707
@jcbendernh
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-13 19:16] jason-j-MSFT commented on #5709
@slonimg
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-13 19:17] jason-j-MSFT commented on #5710
@Hechamon
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-13 19:17] jason-j-MSFT commented on #5711
@mguntli
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-13 19:17] jason-j-MSFT commented on #5712
@derekschauland
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-13 19:18] jason-j-MSFT commented on #5715
@hravnaas
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-13 19:19] jason-j-MSFT commented on #5714
@liangqin12354
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-13 19:19] tobyjw commented on #5604
I thought we almost had it, the AddProperty files were not added to git, I had to run 'git add .' before I could commit, but the same issue happens now they're deployed to Azure. Files are confirmed live by checking https://<appname>.scm.azurewebsites.net/.

I'll try rebuilding from scratch, I might have just missed something crucial. Just very odd that it works locally, and not on Azure, but the

[2018-03-13 19:19] jason-j-MSFT commented on #5716
@KumaresanLakshmanan
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-13 19:20] jason-j-MSFT commented on #5717
@melzoghbi
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-13 19:20] jason-j-MSFT commented on #5718
@mlimache
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-13 19:20] jason-j-MSFT commented on #5719
@vojta001
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-13 19:20] jason-j-MSFT commented on #5721
@codyrat
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-13 19:21] CindyBai opened #5732 "Run in an HDInsight cluster error"
For the session "Run in an HDInsight cluster", I got the error below:
The specified project file is invalid or does not exist', 'errorCode': 'Microsoft.DataPrep.MessagingErrors.InvalidProjectFile. I was able to run every step in previous session successfully. Any ideas what might go wrong?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-03-13 19:22] jason-j-MSFT commented on #5723
@jimt4593
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-13 19:22] jason-j-MSFT commented on #5724
@ivratche
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-13 19:22] jason-j-MSFT commented on #5725
@cparker4486
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-13 19:23] jason-j-MSFT commented on #5726
@jakedenyer-s24
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-13 19:25] jason-j-MSFT commented on #5621
@ShyykoSerhiy
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

Could you provide details on how you are validating your JSON response and what JSON standard you validating against?

[2018-03-13 19:26] melzoghbi commented on #5717
Thanks @jason-j-MSFT for your prompt response. I am kind of stuck on this article since it is the only resource to deploy ML models into iot edge! any help is appreciate it.

[2018-03-13 19:35] cherylmc commented on #5571
A gateway reset is not something typically required, but I'm glad you were able to get this up and running.

[2018-03-13 19:36] cherylmc commented on #5571
#please-close

[2018-03-13 19:49] baywet commented on #5679
Hey @jason-j-MSFT I can issue a PR if you guys want. I'm new to Azure IoT but I'm used to doing that often on Azure/OfficeDev/OpenSource. I only wanted confirmation this is how it should work.

[2018-03-13 20:01] #5571 closed

[2018-03-13 20:08] skepticatgit opened #5733 "SSL flag for pg_restore"
Please update the documentation to include ssl flag for pg_restore command. Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43b2566e-1fc7-cf49-512a-794f56760672
* Version Independent ID: fe824068-38f3-d7db-260f-e2af6e5fa7a1
* Content: [How To Dump and Restore in Azure Database for PostgreSQL | Microsoft Docs]

[2018-03-13 20:09] jason-j-MSFT commented on #5638
@ATGardner
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-13 20:26] Itziclinic opened #5734 "Missing intranet | site to zone entry"
I've found that when setting up Hybrid AD Join for Down-level devices the URL "https://aadg.windows.net.nsatc.net" is missing from general setup information, but included as a mandatory Azure AD SSO endpoint in the troubleshooting documentation available here: https://docs.microsoft.com/en-us/azure/active-directory/device-management-troubleshoot-hybrid-join-windows-legacy. I believe this should al

[2018-03-13 20:33] tfitzmac commented on #5681
@TheChadR and @stasku - It is 5 total resource groups. So, that is usually 1 resource group specified in the command and 4 resource groups specified in either nested or linked deployments.

The odd caveat I have seen is that if the parent template only contains nested or linked deployments and does not create any actual resources, then you can 5 resource groups in the nested or linked deployments.

[2018-03-13 20:33] hiraldesai commented on #5376
Thank you @rwike77 & @mike-urnun-msft !

[2018-03-13 20:34] Mike-Ubezzi-MSFT commented on #5665
End user is seeking clarification of IoT Messaging, as the Dev Guide discusses C2D feedback messages a section before the topic on C2D messages sent from an IoT Hub. Also, there is a JSON sample of a Feedback Message but, the 'EnqueuedTime' property is not present in the JSON sample. This is causing some confusion and hard to follow.

[2018-03-13 20:37] bryanhfoster opened #5735 "Broken Link"
link for  "Azure Service Penetration Testing Notification form" is broken
points to: https://portal.msrc.microsoft.com/engage/pentest
redirects to: https://portal.msrc.microsoft.com/en-us/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19cb71ec-6372-f406-8542-8058f59c7ec1
* Version Independent ID: a3c05dfb-8f20-b364-52

[2018-03-13 20:40] brainwane commented on #5093
You're welcome! You probably want to switch PyPI links throughout your documentation to point to the new PyPI. [Here's a migration guide](https://warehouse.readthedocs.io/api-reference/integration-guide/#migrating-to-the-new-pypi).

[2018-03-13 20:51] peterwake commented on #5696
Just to let you know I found a way of transferring the *whole* subscription over. Might be worth referring to it in this doc though

[2018-03-13 20:51] #5696 closed

[2018-03-13 20:53] Ayanmullick opened #5736 "Windows Defender Advanced Threat Protection extension"
Are there plans to have an extension for Windows Defender Advanced Threat Protection for Linux VM's so that Linux VM's could be onboarded to an ATP workspace directly from the Azure portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5a34cdf-219a-f1b6-8bd0-929c110953b4
* Version Independent ID: 19dfbb00-7bb4-f8e9-a

[2018-03-13 21:02] j-martens commented on #5453
@okhoma Can this issue be closed?

[2018-03-13 21:03] cynthn commented on #5696
@peterwake I'd love to hear what you found! Even if it doesn't belong in this topic, it would be worth adding in a link or creating a different topic to cover the process. Thanks :)

[2018-03-13 21:06] Mike-Ubezzi-MSFT commented on #5632
I am going to walk through the tutorial, "Azure Cosmos DB: Build a Flask app with the MongoDB API". By locally versus deployed to Azure, you are running the MongoDB emulator locally but then attempting to connect to a MongoDB instance deployed in Azure?
I want to clarify what you are running locally; if you have deviated from the tutorial, so I can take this into account as part of the repro steps

[2018-03-13 21:10] cloudinnovating opened #5738 "v1 or v2 storage type support"
documentation needs to be updated to reflect appropriate option for storage account type (ie v1 vs v2)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8621ec19-98d2-d173-09f6-f8e26f769dd4
* Version Independent ID: e85e619c-4ec7-34cb-9620-2b725712d858
* Content: [Create resources for use with Azure Site Recovery | Micros

[2018-03-13 21:11] suleymanov commented on #5632
@Mike-Ubezzi-MSFT
No, I don't have MongoDB emulator (my system is Mac OS). Actually, I've understood that issue is with pymongo installation on Azure side. I can install it with pip (env/scripts/pip) or with easy_install, but the app still crashes.

[2018-03-13 21:18] douglaslMS commented on #5426
@JoNevi I've received the following information from the ADF product team. I hope this answers your question:

There are no max dates for RunStartedAfter or RunStartedBefore - that is, the API returns a 200 OK response. However, on the ADF side, ADF only stores pipeline runs up to 45 days.

For example, if you query RunStartedAfter: 3/13/2017 to RunStartedBefore: 3/13/2018, the API doesn't return

[2018-03-13 21:20] suleymanov commented on #5632
@Mike-Ubezzi-MSFT
Last error:

[code]

[2018-03-13 21:21] mike-urnun-msft commented on #5682
@timwieman Thank you for bringing this to our attention. We have corrected the typo and created PR for the author to review. Once the PR is approved & merged, change will reflect on the live site, and this issue should auto-close.

[2018-03-13 21:28] peterwake commented on #5696
Hi @cynthn this was the support doc I used - https://docs.microsoft.com/en-us/azure/billing/billing-subscription-transfer.

[2018-03-13 21:31] mike-urnun-msft commented on #5374
Hey @Osypchuk - Per your comments above, were you able to get your questions answered on the gitter channel?

If there are further questions regarding this matter, feel free to post the details of the problems you're having here, and we'll be happy to investigate further and provide clarity.

[2018-03-13 21:33] rabryst opened #5742 "Missing word in introduction"
There is a word missing in the sentence: "While such individual events are infrequent, at cloud scale, they every week if not every day."
This should read: "While such individual events are infrequent, at cloud scale, they occur every week if not every day."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15036ef6-9c0b-

[2018-03-13 21:37] jason-j-MSFT commented on #5660
@slyons
Thank you for bringing this to our attention. We have corrected the typo and created PR for the author to review. Once the PR is approved & merged, change will reflect on the live site, and this issue should auto-close.

[2018-03-13 21:44] #5681 closed

[2018-03-13 21:50] julianddavidson opened #5745 "Powershell for static IPs"
It would appear that you can now make an IP static with the GUI. How about updating the documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6e90ecd-11ee-351b-2ab8-33ddab58bff2
* Version Independent ID: 545840a6-72a9-4367-85d5-773c7336d631
* Content: [Guidelines for Deploying Windows Server Active Directory o

[2018-03-13 21:56] jugglinmike opened #5746 "Missing property"
- Edition: Windows 10 Pro
- Version: 1803
- OS Build: 17120.1

In this version of Windows, the key named `SSLCertificateSHA1Hash` is not
available:

    PS C:\WINDOWS\system32> Remove-ItemProperty -Path 'HKLM:\SYSTEM\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -name "SSLCertificateSHA1Hash"
    Remove-ItemProperty : Property SSLCertificateSHA1Hash does not exist at path
    HKEY

[2018-03-13 22:02] jugglinmike commented on #5746
I'm seeing now that the command is preceded by the following explanation:

So it looks like I spoke too soon; the error probably indicates the absence of self-signed certificates.

[2018-03-13 22:02] #5746 closed

[2018-03-13 22:03] suleymanov commented on #5632
Finally this worked:

[code]

[2018-03-13 22:09] stasku commented on #5681
Thanks. When this limitation got enforced? I have work in progress that involves deploying resources across more than 5 groups. What is the recommended way for me now to proceed? Multiple deployments?

[2018-03-13 22:25] SteveBurkettNZ opened #5749 "Footnote 10 on App Service limits table (Standard) SLA missing"
Under the App Service limits table, the Standard tier SLA has a footnote #10, but this footnote is not present below the table. Should be footnote #9, same as Premium tier?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57b6d-3c6f-e546-b3ea-f83892f4c23d
* Version Independent ID: 27aecc7b-f107-96d4-b044-ae026bca2727

[2018-03-13 22:28] Mike-Ubezzi-MSFT commented on #5632
Awesome, that's great. I am going to mark this issue as resolved. If you happen to have additional questions or run into complications, please feel free to open additional issues.

[2018-03-13 22:29] #5632 closed

[2018-03-13 22:35] kgremban commented on #5475
Hi again @sandervandevelde 😄 I agree with your statement that this article jumps right in to file editing without setting much context. The deployment.json file that needs to be edited is the one that was created in the FilterFunction folder during the previous Azure Function tutorial (listed in the prerequisites).

Did you know that the Azure Function tutorial was supposed to be completed before

[2018-03-13 22:35] kgremban commented on #5475
#in-process

[2018-03-13 22:37] daweins opened #5750 "Neither ACS nor AKS are in preview for Azure Government"
Please update documentation accordingly at https://docs.microsoft.com/en-us/azure/azure-government/documentation-government-compute#azure-container-service

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f566c78c-d06d-34bf-b358-feb1328954c5
* Version Independent ID: 6dbccffe-0164-48e9-a1e1-b3b5f87182a2
* Content: [Azure

[2018-03-13 22:38] gangaken opened #5751 "test"
---test
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b3fb7da-5483-160d-1781-d4abff9d798d
* Version Independent ID: d5e51b7e-7f34-c7df-ce4f-ee4bf5c8059a
* Content: [Consistency levels in Azure Cosmos DB | Microsoft Docs](https://docs.microsoft.com/en-us/azure/cosmos-db/consistency-levels)
* Content Source: [articles/cosmo

[2018-03-13 22:43] kgremban commented on #5630
Hi @dkatson thanks for the input. For context, were you running iotedgectl setup in a VM? I did know that there's an issue with hostnames getting too long inside of VMs, but haven't ever experienced this issue running the commands on my physical machine. I like your solution, I just need to know what specific situations it applies to.

[2018-03-13 22:43] kgremban commented on #5630
#in-process

[2018-03-13 22:47] jeevansd commented on #5192
@arixon1  Thanks for the confirmation.
If you want to use this app from outside of your organization you will need application proxy along with this Microsoft JIRA gallery app. You need to create an Application Proxy app say app1 where the internal URL is the JIRA SP initiated Sig on URL. So this way the users can invoke this app and can initiate SSO. The you need App Proxy app say App2 which has

[2018-03-13 22:51] kgremban commented on #5673
Hi @wmmihaa it looks like a couple different things might be going on in your system. I just tested these steps on my Windows 10 device using Linux containers, so I know that they should still work.

For your first issue, find out what type of containers Docker is using on your machine. It may be that it's set to use windows containers which is why you're seeing an error when you try to build an i

[2018-03-13 22:54] kgremban commented on #5717
Hi @melzoghbi, can you provide more information? Which module was giving you the backoff status? The $edgeHub runtime module? And are you running this on a physical edge device, or a simulated device on your computer?

[2018-03-13 22:56] Mike-Ubezzi-MSFT commented on #5642
End user is looking for a greater scope in functionality than what is detailed for the Collection Examples.

[2018-03-13 22:59] neilpeterson commented on #5457
These changes have been merged in and should publish tomorrow morning.

#please-close

[2018-03-13 23:04] mimig1 commented on #5642
#in-progress You'll need to use ReplaceOffer from the Python SDK (http://azure.github.io/azure-documentdb-python/api/pydocumentdb.document_client.html). It's similar to the .NET & Java samples provided here (https://docs.microsoft.com/en-us/azure/cosmos-db/set-throughput#to-set-the-throughput-by-using-the-sql-api-for-net). I will get a Python snippet shortly.

[2018-03-13 23:21] iainfoulds commented on #5607
@evilensky To follow-up here, the guidance does vary between storage tiers, distros, and filesystem, so for the scope of this tutorial I have created a PR that removes the guidance. When the PR merges, this issue will automatically close.

In short, for VMs that use Premium storage and disks that have write cache disable, best performance can be achieved when barriers are disabled. For more inform

[2018-03-13 23:24] amanarneja commented on #5382
@v-royhar Roy, can you take a look at this feedback and see if the doc needs to be updated?

[2018-03-13 23:26] amanarneja commented on #5546
@dstrockis - Can you take a look as to if the doc is supposed to be in the left pane navigation ?

[2018-03-13 23:28] amanarneja commented on #5566
@rojasja Can you take a look at why this doc is missing from the left hand navigation ?

[2018-03-13 23:29] #5608 closed

[2018-03-13 23:33] mike-urnun-msft commented on #5533
@JasonSingh I have assigned this issue to the author who would like some more info from you in his comment above.

[2018-03-13 23:35] amanarneja commented on #5673
@kgremban Thanks for checking!
@wmmihaa Let us know if this information was helpful. If not, can you please post this @ https://social.msdn.microsoft.com/Forums/en-US/home?forum=iotedge. It will allow the community and the engineering team to help you resolve the issue.

[2018-03-13 23:36] mike-urnun-msft commented on #5456
Hey @githubavi,

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

#please-close

[2018-03-13 23:42] amanarneja commented on #5565
@hihorika Thank you for pointing this out! 👍
@cephalin - Can you take a look ?

[2018-03-13 23:44] SyntaxC4 commented on #5725
Adding @ecfan as FYI

[2018-03-13 23:45] amanarneja commented on #5564
@mimig1 Just linked the PR that @Mike-Ubezzi-MSFT Submitted.

@danvanderboom Change is on its way, thanks for pointing this out. I am closing this issue based on the linked pull request.

[2018-03-13 23:45] #5564 closed

[2018-03-13 23:45] jason-j-MSFT commented on #5727
@MikeWasson
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-13 23:46] jason-j-MSFT commented on #5728
@DonPetry-EY
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-13 23:46] jason-j-MSFT commented on #5730
@DonPetry-EY
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-13 23:47] jason-j-MSFT commented on #5731
@DonPetry-EY
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-13 23:47] jason-j-MSFT commented on #5732
@CindyBai
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-13 23:47] jason-j-MSFT commented on #5729
@silverf1re
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-13 23:48] jason-j-MSFT commented on #5733
@skepticatgit
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-13 23:48] jason-j-MSFT commented on #5734
@Itziclinic
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-13 23:48] SyntaxC4 commented on #5412
@daviburg Thanks for the suggestion, as @ecfan mentions we have this tracked internally [1204234](https://mseng.visualstudio.com/TechnicalContent/AzureApps/_queries/edit/1204234/?triage=true) for review.

[2018-03-13 23:49] jason-j-MSFT commented on #5735
@bryanhfoster
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-13 23:49] jason-j-MSFT commented on #5736
@Ayanmullick
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-13 23:49] jason-j-MSFT commented on #5738
@cloudinnovating
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-13 23:50] jason-j-MSFT commented on #5742
@rabryst
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-13 23:50] jason-j-MSFT commented on #5745
@julianddavidson
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-13 23:50] amanarneja commented on #5042
@HenrikBach1 Thanks for the confirmation
@kgremban Thanks for updating.
@larrylieberman Based on the updates we are closing this issue. Let us know if your feedback wasn't addressed completely.

[2018-03-13 23:50] #5042 closed

[2018-03-13 23:50] jason-j-MSFT commented on #5749
@SteveBurkettNZ
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-13 23:51] jason-j-MSFT commented on #5750
@daweins
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-13 23:52] jason-j-MSFT commented on #5055
@markm555
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-13 23:52] #5055 closed

[2018-03-13 23:53] jason-j-MSFT commented on #5093
@brainwane
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-13 23:54] jason-j-MSFT commented on #5128
@fswgm
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-13 23:54] #5128 closed

[2018-03-13 23:54] #5093 closed

[2018-03-13 23:59] jason-j-MSFT commented on #5135
@mhallst2
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-13 23:59] #5135 closed

[2018-03-13 23:59] jtuliani opened #5752 "Missing RBAC permissions for policy initiatives"
Doc gives RBAC for managing policy definitions and assignments
However, doesn't give RBAC for managing policy initiatives

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51022609-2dee-d21c-9274-384ed82b0f4e
* Version Independent ID: 832b8356-a0ed-06e2-a43a-a8eb0a5869dc
* Content: [Overview of Azure Policy | Microsoft Do