[2019-06-14 14:37] #33252 closed

[2019-06-14 14:38] jeffwmiles opened #33345 "v2 Gateway FrontendIP guidance"
The section "Static versus dynamic public IP address" states that a v2 gateway can have both a public and private IP.

This description should be updated to state that a public IP is REQUIRED, and that the private IP cannot be set during creation - this matches the current Azure portal experience.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-06-14 14:41] mdgattuso commented on #32985
sure I can update the doc next week.

[2019-06-14 14:51] areddish commented on #33257
There are two ways to use existing projects or tags:

1. Store the relevant ids for later use, i.e. **project.id** and **bus_stop_tag.id**, and then load and pass the stored value in to the call. For example if your project.id is "d6bef13c-f3cb-4784-9396-8cbf7f44acab" then you can write that to a file or hard coded it into your source. Then later pass that into the calls.

[code]
2. Use the enumer

[2019-06-14 14:57] BreakingBI opened #33346 "Unable to Create Image with inteference-schema Package"
I've been testing automatic schema generation and am unable to create an image that includes the inference-schema package.  I can create images with the numpy and scikit-learn packages, but inference-schema will result in a failure.  Please advise.

https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-deploy-and-where#optional-automatic-swagger-schema-generation

---
#### Documen

[2019-06-14 15:00] wukun2015 commented on #33163
thanks erhopf. @timtre, i‘m not sure. Don't see Play icon on desktop but there are lot of google advertisement jump.

[2019-06-14 15:00] HeidiSteen commented on #33247
@JayaC19 -- is there anything more you need to see WRT this issue?? If not, I think we should close it.  Thanks!

[2019-06-14 15:02] #33261 closed

[2019-06-14 15:07] mmacy commented on #32643
@amchew To verify, this requires the same update as in [Update Microsoft Application Registration Portal instructions #31915](https://github.com/MicrosoftDocs/azure-docs/issues/31915), is that correct?

[2019-06-14 15:10] smoms opened #33347 "Clarification on Actor Partitioning"
Hi, I am not sure i got completely the way Actors are partitioned. In the page is mentioned that an Actor is a stateful service and ranged partitioned (uniform Int64 scheme). Am I correct then that an Actor instance ID corresponds to one only integer number (e.g. 123) and that can only manage state that correspond to the bucket (123)?
Also, what is meant for Partitioning in the above example of th

[2019-06-14 15:11] erhopf commented on #33163
#please-close

@wukun2015 let me know if you run into any other issues. I'm going to close this issue, but feel free to reopen it at any point you need help ;).

[2019-06-14 15:11] #33163 closed

[2019-06-14 15:12] #32349 closed

[2019-06-14 15:19] m-brooks opened #33348 "Incomplete instructions"
"When you're ready to upload your data, click Upload data to launch the wizard..."
Would you like to tell us WHERE we go to click this - is it in an application, some web page, …?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 120ebdde-5785-5850-c963-803bf3744112
* Version Independent ID: 82bc9a4e-3908-499f-dd2c-31eacc

[2019-06-14 15:20] Mike-Ubezzi-MSFT commented on #33083
@NayanShetty The solution you may have received from Azure Support would look something like the below. If Azure Support did not return a solution or for others who are looking for the solution to this issue, it is as follows:

- Create a free subscription
- Remove the spending limit ([steps here](https://docs.microsoft.com/en-us/azure/billing/billing-spending-limit#remove-the-spending-limit-in-ac

[2019-06-14 15:21] yegu-ms commented on #32024
@13daysaweek, thanks for asking! Filter usage are documented in the following:

- https://docs.microsoft.com/en-us/azure/azure-app-configuration/use-feature-flags-dotnet-core#mvc-filters

- https://docs.microsoft.com/en-us/dotnet/api/microsoft.featuremanagement?view=azure-dotnet-preview

#please-close

[2019-06-14 15:22] Mike-Ubezzi-MSFT commented on #23045
@pradeepkaja  The solution you may have received from Azure Support would look something like the below. If Azure Support did not return a solution or for others who are looking for the solution to this issue, it is as follows:

- Create a free subscription
- Remove the spending limit ([steps here](https://docs.microsoft.com/en-us/azure/billing/billing-spending-limit#remove-the-spending-limit-in-a

[2019-06-14 15:26] Mike-Ubezzi-MSFT commented on #24214
@mellondongit @das-kaustav @atulaggarwal88 The solution you may have received from Azure Support would look something like the below. If Azure Support did not return a solution or for others who are looking for the solution to this issue, it is as follows:

- Create a free subscription
- Remove the spending limit ([steps here](https://docs.microsoft.com/en-us/azure/billing/billing-spending-limit#r

[2019-06-14 15:28] yegu-ms commented on #33149
@anuraj, thanks for asking! The current feature management library doesn't work on ASP.NET full framework yet. It currently has a dependency the .NET Core configuration system for retrieving feature flags.

#please-close

[2019-06-14 15:28] #33149 closed

[2019-06-14 15:28] wukun2015 opened #33349 "Sample code for face signature?"
Hello,

i'd try face sig created on rest api (https://signature.centralus.cts.speech.microsoft.com/UI/index.html) , but no findings in https://docs.microsoft.com/en-us/java/api/com.microsoft.cognitiveservices.speech.conversation?view=azure-java-stable either.

Would be better if any sample provided, thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2019-06-14 15:37] jhakulin commented on #33349
Thanks for feedback.
Speech SDK APIs for Conversation Transcription support only voice signature currently.
Support for face/image signature will be added to SDK APIs in the  future releases.

[2019-06-14 15:46] Mike-Ubezzi-MSFT commented on #24801
@tusharnarang +Others:
There are 2 ways to address a server-side resource: by RID and by id. Both ways can be used for stored procedure. When using id, the link looks like this: dbs/myDatabase/colls/myContainer/sprocs/spCreateToDoItem, so this is correct link given that database id = “myDatabase”, collection id = “myContainer”, sproc id = “spCreateToDoItem”. Note that ids are caes-sensitive.

If y

[2019-06-14 15:55] MicahMcKittrick-MSFT commented on #33347
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-14 15:56] MicahMcKittrick-MSFT commented on #33336
Thanks for the question! We are investigating and will update you shortly.

[2019-06-14 15:56] MicahMcKittrick-MSFT commented on #33324
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-14 15:57] MicahMcKittrick-MSFT commented on #33341
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-14 15:57] ericjiang18 commented on #33257
ok got it! thanks

[2019-06-14 16:00] roygara commented on #33325
@tsiddle thanks for reaching out, I'll help clarify this:

When you select a redundancy option, it is done at the storage account level, not at any lower level. So you can select RA-GRS as the storage redundancy for your storage account and any blob in that storage account will make use of it, for example. Any fileshares/files in that storage account will not, and will treat it as GRS instead. It'

[2019-06-14 16:00] #33325 closed

[2019-06-14 16:00] ChristianMontoya commented on #33231
@mmaraa : Thanks for the suggestions! Both have now been addressed.

[2019-06-14 16:00] ChristianMontoya commented on #33231
#please-close

[2019-06-14 16:00] #33231 closed

[2019-06-14 16:01] Mike-Ubezzi-MSFT commented on #24801
As for the issue where the sproc is executed but doesn’t return any data. There is a common misunderstanding of partition keys for request, by mixing up partition key definition in the collection (e.g. /country) and actual PK value in a document (e.g. “USA”). When a sproc is executed or a document is deleted, partition key provided is the value and not definition. Just set partitionKey to a value

[2019-06-14 16:02] Mike-Ubezzi-MSFT commented on #24801
@5mdd and @tusharnarang Please let me know if there are any additional questions regarding this topic.

[2019-06-14 16:04] CHDAFNI-MSFT opened #33351 "Add Azure AD terminology - Alternate ID"
For section https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-proxy-configure-single-sign-on-with-kcd#working-with-different-on-premises-and-cloud-identities - It sounds like it's talking about Alternate ID. From a keyword search perspective it would be beneficial to notate the term in the document which ultimately means... Application Proxy supports Alternate ID

---

[2019-06-14 16:17] osudude opened #33352 "How to automate the upload / binding of SSL cert to ASE?"
This article is a nice introduction for how to manually create SSL cert and how to manually upload the cert via the portal.  However, it should also document how to automate the cert upload / binding using powershell and/or terraform.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f3a8caa-796a-18ab-480c-161e6c806782
*

[2019-06-14 16:30] MicahMcKittrick-MSFT commented on #31168
@blueelvis its a good question as to why the commands are not az container update such as with a Web App. I personally don't know the exact reason behind it. But at the very least, I am glad to hear this issue was made clear and you can continue with your work :)

For reference, you can see all the commands and what they do for containers here

https://docs.microsoft.com/en-us/cli/azure/container?

[2019-06-14 16:30] #31168 closed

[2019-06-14 16:37] MicahMcKittrick-MSFT commented on #33305
@sam90909 based on my understanding, tenant 2 won't see anything in their portal, but rather they will have the permissions to pull the image from tenant 1 and create VMs.

@cynthn can you confirm on what exactly the specific behavior should be? We might want to add a note to the doc as well.

[2019-06-14 16:40] MicahMcKittrick-MSFT commented on #33309
Per the example, that info is being pulled from the azuredeploy.json parameters file

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-create-cluster-using-cert-cn#update-the-template-file

You can read more about ARM template structures here

https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-authoring-templates

[2019-06-14 16:41] KranthiPakala-MSFT commented on #33178
@mrphinche Glad to know that your issue is resolved. Yes, it will work adding virtual network of IR VM to the firewall rules We really appreciate for bringing this to our notice and sharing your solution. This will help others a lot.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion a

[2019-06-14 16:41] #33178 closed

[2019-06-14 16:41] stepro commented on #33166
I agree about updating the docs to clarify our current behavior with a service mesh. @zr-msft, can you add this to the troubleshooting section or somewhere else you deem appropriate?

It's worth pointing out that if you disable the proxy on a pod, Dev Spaces is still usable, but will lack the following two features:

- Ability for that pod to dynamically route an outgoing request to another servic

[2019-06-14 16:41] MicahMcKittrick-MSFT commented on #33324
@SychevIgor all the steps listed in this doc work as written. I am not sure if there would be any extra steps needed when deploying via DevOps. That being said, if there is it should be listed in the DevOps documentation instead.

Are you following any specific docs in regards to that?

[2019-06-14 16:42] FrankHu-MSFT commented on #32517
I'm sorry about the late response. I've reopened the git issue and are currently looking into this in tandem with Support. Unfortunately the forgot password is still in a preview state as of posting this, but we will see if we can provide you with anymore information.

[2019-06-14 16:42] MicahMcKittrick-MSFT commented on #33336
@VVillar not sure exactly what you are asking. Can you elaborate?

[2019-06-14 16:43] MicahMcKittrick-MSFT commented on #33341
@woutervanranst I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-14 16:52] KranthiPakala-MSFT commented on #33256
@kevCurnow I see the issue is closed, just wanted to check if your issue got resolved.
Please let us know if you are still having the issue, we will be glad to take a deeper look into it.
Thanks.

[2019-06-14 16:55] MicahMcKittrick-MSFT commented on #33347
@aljo-microsoft would you be able to elaborate further on this topic?

[2019-06-14 16:59] normesta commented on #32801
Thank you for the feedback. The term "synchronize" along with any order is likely going to cause confusion. Removing the term from each subheading to be a bit more clear about  what is happening. Thx again!

[2019-06-14 16:59] normesta commented on #32801
#please-close

[2019-06-14 16:59] #32801 closed

[2019-06-14 17:06] rupeshprasad commented on #32517
Thanks for update. Let me know if you need any information from my side.

[2019-06-14 17:06] normesta commented on #31344
Hi @yangsiyu007. Thank you for the feedback. Did you ever figure this out? The AzCopy v8 content (while still visible) has been archived in favor of AzCopy V10. This is why no updates have been made to that content in some time.

[2019-06-14 17:17] haroldwongms commented on #33341
@woutervanranst I will work on updating the prerequisites section to call this out.

[2019-06-14 17:18] Mike-Ubezzi-MSFT commented on #33328
@alvipeo Thank you for bringing this to our attention. We are investigating why this is the case and determine next steps.

[2019-06-14 17:19] amchew commented on #32643
Hi! Yes that's right. This section under the add an OIDC/OAUTH provider.

[2019-06-14 17:20] Mike-Ubezzi-MSFT commented on #33338
@romankiss Thank you for bringing this to our attention. We are investigating to identify next steps.

[2019-06-14 17:20] bwren commented on #33203
Thanks, I'll pass on the engineering team for potential updates.

[2019-06-14 17:20] jsenich opened #33356 "AADSTS7000215 is missing"
This page is missing AADSTS7000215: Invalid client secret is provided. I get this error when authenticating with either a non-existent or expired client secret.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a826ee6f-f457-7109-9f77-67c57977d4e7
* Version Independent ID: 11766f27-492e-a579-dced-8a42528cbb47
* Content: [

[2019-06-14 17:22] YutongTie-MSFT commented on #33349
@jhakulin Thank you Jarno.

@wukun2015
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-06-14 17:22] #33349 closed

[2019-06-14 17:24] MGoedtel commented on #33139
@antonihanus - The use of the double-quotes for the parameters passed to the MSI package can be necessary depending on the starting/ending characters in the parameter value for the Id/Key.  This is a byproduct of Windows Installer and I thought I had a note in the article about this but I may be thinking about this in relation to deploying via DSC.  Anyway, I'm making some other edits to the artic

[2019-06-14 17:24] #33139 closed

[2019-06-14 17:25] robinsh commented on #32681
That's good to hear @nelsonavanade . I'm glad I could help. Ping us back if you have any more questions!

[2019-06-14 17:26] YutongTie-MSFT commented on #33348
@m-brooks
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-14 17:26] robinsh commented on #27826
@AshokPeddakotla-MSFT @sergaz-msft Thanks for directing this my way. I'll take a look at it and figure out how to help.

[2019-06-14 17:28] Karishma-Tiwari-MSFT commented on #21850
@axelgMS It looks like customers are still seeing this issue. Can you please share the details as requested by @cynthn in the [replies above](https://github.com/MicrosoftDocs/azure-docs/issues/21850#issuecomment-452427874) so that she can help update the doc. Thanks :)

[2019-06-14 17:29] Karishma-Tiwari-MSFT commented on #33093
@VaroJulio Thanks for the update. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-06-14 17:29] #33093 closed

[2019-06-14 17:34] rajaprad opened #33357 "Unable to add AD Guest Account as an user in SQL Databases"
Please move it to appropriate repo. I feel this is a valid scenario to support.

Am trying to add an **_user_** in SQL Database.

1. The **_user_** is a guest in an active directory xyz.onmicrosoft.com
2. The **_user_** has limited permissions on the active directory and the Subscription (where the database recides)
3. Intention is to provide AD Authentication for SQL Database to the **_user_** wi

[2019-06-14 17:38] rajaprad commented on #23023
@MicahMcKittrick-MSFT  - This isn't a document issue. Please help moving this to issues under - service Fabric or Azure Automation Repo.

[2019-06-14 17:38] cynthn commented on #21850
@NyashaNziboi and @Karishma-Tiwari-MSFT Thanks for the feedback! The original post from @axelgMS  details the issue "VMs created from specialized disk don't have osProfile as this is created for VM provisioning (contains the VM name, RDP user, password…. and these already exist for Specialized VMs). So the code above only works for VMs created from a Generalized image."

The article is written usi

[2019-06-14 17:39] YutongTie-MSFT commented on #33346
@BreakingBI
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-14 17:39] YutongTie-MSFT commented on #33343
@kzu
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-14 17:46] YutongTie-MSFT commented on #33332
@jeffgleed I am very sorry about your experience, I have assigned the issue to the content author to investigate further and update the document as appropriate. Thank you.

[2019-06-14 17:47] YutongTie-MSFT commented on #33339
@michalmar
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-14 17:50] antonihanus commented on #33139
Cool, thanks Matt

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Matt Goedtel <notifications@github.com>
Sent: Friday, June 14, 2019 10:25:18 AM
To: MicrosoftDocs/azure-docs
Cc: antonihanus; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Exampels need double quotes around the Workspace ID and primary key (#33139)

@antonihanu

[2019-06-14 17:50] PRMerger18 commented on #33139
Only Microsoft employees can manage issues via commenting in this repo.

[2019-06-14 17:57] SaurabhSharma-MSFT commented on #33356
@jsenich Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-06-14 18:00] SaurabhSharma-MSFT commented on #33351
@CHDAFNI-MSFT Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-14 18:02] SaurabhSharma-MSFT commented on #33342
@georgedavid29 Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-14 18:03] SaurabhSharma-MSFT commented on #33329
@Mattzard Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-06-14 18:06] SaurabhSharma-MSFT commented on #33326
@bencorley Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-14 18:07] SaurabhSharma-MSFT commented on #33323
@J0F3 Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-14 18:08] SaurabhSharma-MSFT commented on #33322
@aniksparrow Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-14 18:09] SaurabhSharma-MSFT commented on #33357
@rajaprad To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either in MSDN or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2019-06-14 18:19] PramodValavala-MSFT commented on #33063
@yixue-at-symantec It does seem to have failed but it actually is transitioned to manual mode as documented

The subscription is visible in the portal as well with its `provisioningState` set to `AwaitingManualAction`. You check this using the [REST API](https://docs.microsoft.com/en-us/rest/api/eventgrid/eventsubscriptions).

Now, if you make a GET call to the `validationUrl` sent to your webhook

[2019-06-14 18:19] KranthiPakala-MSFT commented on #33172
@vinuvt Since the same query is discussed in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/62729e3b-915c-4b67-a904-594737193756/passing-value-to-linked-server-parameters-from-c?forum=AzureDataFactory
), we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen

[2019-06-14 18:20] #33172 closed

[2019-06-14 18:20] MGoedtel commented on #29912
#please-close as I have updated the documentation with respect to this scenario to help others avoid this situation.  It will be published later this afternoon.  Thanks!

[2019-06-14 18:20] #29912 closed

[2019-06-14 18:22] SaurabhSharma-MSFT commented on #33160
@MadhanRamachandran We will now proceed to close this thread as we haven't heard back from you. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-06-14 18:22] #33160 closed

[2019-06-14 18:22] darrenmart opened #33359 "Request rate limit: 100/second or 100/minute?"
This page lists the request rate limit at 100/minute but the pricing page at https://azure.microsoft.com/en-us/pricing/details/cognitive-services suggests it is 100/second (1000/minute). It seems like a contradiction, am I misinterpreting? Thanks for any clarification you can provide!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-06-14 18:26] DixitArora-MSFT commented on #33119
@axisc Any inputs in this ?

[2019-06-14 18:27] KranthiPakala-MSFT commented on #33344
@pedromartins4 Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2019-06-14 18:28] TravisCragg-MSFT commented on #33209
@ketaanhshah If you would like to upgrade to a V2 Gateway, the process was recently released and [you can find it here](https://docs.microsoft.com/en-us/azure/application-gateway/migrate-v1-v2).

[2019-06-14 18:30] AjayKumar-MSFT commented on #33238
@zboyanov, You're welcome! We will close this out, but if you feel you need more information please just let us know.

[2019-06-14 18:30] #33238 closed

[2019-06-14 18:31] ketaanhshah commented on #33209
@TravisCragg-MSFT Thank you Travis this is exactly the place we used, and after doing this in our test/dev environment we re-read the warning logs and u wont blive you would ROFLOL what we found was the CRS issues/warnings were about a cookie and its value and all we needed was the exclusion rule! So we applied the exclusion rule and viola! even in V1 WAF we were able to do away all the warnings a

[2019-06-14 18:34] justinfcoffey opened #33360 "Update to Partner List"
Can the list of Direct CSPs be updated? We've been approved for a few months and it appears this hasn't been updated since the initial publish date in February 2019.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cb5aabb-d415-ca88-35e8-5024b4b5573f
* Version Independent ID: 0fa69cdd-7d81-6dfb-d31f-a020fd067e34
* Conte

[2019-06-14 18:39] arsing opened #33361 "The value of the `https_proxy` env var must use the `http` scheme, not `https`"
No, the IoT Edge daemon, and Edge Agent and Edge Hub containers should always use HTTP.

Also, for this example in the "JSON deployment manifest files" section:

`"value": "https://proxy.example.com:3128"` should be `"value": "http://proxy.example.com:3128"`

---

The name of the env var, `https_proxy`, means that that proxy is used for connections to HTTPS destinations. The URL of the proxy itsel

[2019-06-14 18:39] ckarras opened #33362 "RunDetails doesn't work from databricks"
I have built a model from Databricks using the sample 06.AutoML_Databricks_local notebook. Now I'm trying to test the feature importance feature, as described here using this code:

from azureml.widgets import RunDetails
RunDetails(local_run).show()

I get the following error: No module named 'azureml.widgets'

The solution suggested on https://github.com/Azure/MachineLearningNotebooks/issues/195,

[2019-06-14 18:46] vmaruthi opened #33363 "Broken Link"
Direct Link is pointing to Microsoft Internal Sharepoint
"Windows: Download and install USB driver from STMicroelectronics website or direct link"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cf9b53c-0438-f23c-fd2e-d57481d57e85
* Version Independent ID: f01afd66-d093-ac44-2b20-df225530b39e
* Content: [IoT DevKit to

[2019-06-14 18:47] YutongTie-MSFT commented on #33362
@ckarras Thanks for the feedback! We are currently investigating and will update you shortly.

@swatig007  FYI

[2019-06-14 18:48] vmaruthi commented on #33363
Looks like there is an existing similar issue already reported

[2019-06-14 18:48] YutongTie-MSFT commented on #33359
@darrenmart
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-14 18:48] Adam-Smith-MSFT commented on #33334
@jaymins93 Thanks for posting, I'd recommend posting your request in [MSDN](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=windowsazuredata) or StackOverflow.com , since the issue is not specifically related to the documentation. We'll follow up on your request once it has been posted on the forums.
We will now proceed to close this thread. If there are further questions regarding

[2019-06-14 18:48] #33334 closed

[2019-06-14 18:48] normesta commented on #22879
The "zone" code is a regional code that is used internally. There's no use for this code beyond including it in the URL when referencing the page.  I've cleaned up this topic a bit to make that clear. Thank you for the feedback!

[2019-06-14 18:49] normesta commented on #22879
#please-close

[2019-06-14 18:49] #22879 closed

[2019-06-14 18:49] lmadduri commented on #29144
Seconding-- the original command was not working for me and giving me an error saying "The request did not have a subscription or a valid tenant level resource provider." The updated command works fine

[2019-06-14 18:55] todorgb commented on #33360
Hi Justin, Yes - we are shooting for an updated end of June to catch a few partners that have been added to the list. Apologies for the delay.

[2019-06-14 19:00] normesta commented on #23361
@jpetitte thank you for the question / feedback. As far as I am aware, this is a regional code for internal use and we have no public documentation that itemizes them. I've made some changes to the doc to position that information a bit more clearly. If your ask is to obtain this list, I'll defer to our feature management team. @dineshmurthy can you please comment on whether we can make this list

[2019-06-14 19:02] TravisCragg-MSFT commented on #33209
@ketaanhshah Glad to hear that everything is resolved!

[2019-06-14 19:03] munozrickT4S opened #33364 "Please add link to how to do this for ASE (Isolated)"
This page only seems to cover setting up the domain for a single App Service (e.g. Web App) not for an ASE or ILB. I'm guessing that's documented elsewhere (haven't found it yet), but IWBNI there was a link to that documentation from this page. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 224b73dd-c59d-a833-0

[2019-06-14 19:08] munozrickT4S opened #33365 "Add info or link to how this works with ASE (Isolated)"
When I look at the ASE portal page, it's very different than the image above for "App Service". So it's not clear how to set up the custom domain for an ASE (Isolated). The only item available in the ASE blade I see is "ILB Certificate" (under Settings). If this is documented elsewhere (haven't found one yet), please add a link to that page. Thx

---
#### Document Details

⚠ *Do not edit this sect

[2019-06-14 19:20] cynthn commented on #21850
Just to be a little clearer about what is happening here: AzVMSecret updates the "secrets" property in the "osProfile" section of the resource manager template for the VM. Virtual machines that are created by attaching an existing disk (aka spcialized disk) do not have an "osProfile" section in their VM template. No "osProfile" means there is no "secret" either.

You can go into the portal, find t

[2019-06-14 19:26] Grace-MacJones-MSFT commented on #33352
Hi @osudude, thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-14 19:29] yixue-at-symantec commented on #33063
I just noticed that the manual validation is actually working, but it's sending a wrong notification on the portal says

Is it possible get this misleading notification removed?
I noticed that if i use arm template to deploy eventgrid subscription instead of add the subscription in "blobstorage>events>add", when transitioned to manual mode it didn't send the "failed" notification.

[2019-06-14 19:29] TravisCragg-MSFT commented on #23257
@v-maroge [This Document outlines monitoring across an ExpressRoute](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/network-performance-monitor-expressroute).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-14 19:29] #23257 closed

[2019-06-14 19:38] sonpeppers opened #33366 "Telemetry to determine advantage of this feature"
Would restricting internet access by adding a vnet for an acr improve issues related to connection failures i.e. many incoming connection attempts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5bb583eb-86b2-5383-350c-985f66de2dd6
* Version Independent ID: d08f5439-4db8-f9d0-eeb4-c1f4656fe0fa
* Content: [Deploy an Azu

[2019-06-14 20:02] YutongTie-MSFT commented on #33011
@JohnStraumann  Hi, could you please send us an email at Azcommunity@microsoft.com with your Azure subscription ID and URL of this thread? I failed to reproduce this error so we want more details for it. Thank you.
We will now proceed to close this thread since it's not a document issue. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladl

[2019-06-14 20:02] #33011 closed

[2019-06-14 20:13] MicahMcKittrick-MSFT commented on #33366
@sonpeppers yes that would be one advantage. Since you can isolate who can access the private network that means you can lock down your clusters even further so only users who have access to that specific network can access the cluster. Thus, eliminating the need to public facing endpoints.

[2019-06-14 20:14] cephalin commented on #20359
@nickwalkmsft sorry for the delay. I've fixed the language now and added steps for using app-level credentials. it should be published in the next day.

#please-close

[2019-06-14 20:14] #20359 closed

[2019-06-14 20:15] femsulu commented on #33340
@MedAnd Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-06-14 20:21] rwike77 commented on #31345
Hi @umeshbarapatre , apologies for the slow reply.  Thank you for the offer to contribute.  How about this, could you [open a PR](https://github.com/MicrosoftDocs/azure-docs/pulls) and submit a rough outline of the content you'd like to add?  I'd also like product engineering to review it. Please tag me in the PR.  Thanks.

[2019-06-14 20:22] JimHart opened #33368 "examples for storageId and storageUri are reversed in the create section"
It seems that the examples for storageId and storageUri are reversed in the create section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9af79de-8771-00cb-8fdc-df622a3c939a
* Version Independent ID: 3cc3477b-9949-cc6a-613c-4eeb6f781f4e
* Content: [Manage packet captures with Azure Network Watcher - REST API](https:/

[2019-06-14 20:26] JohnStraumann commented on #33011
Visual Studio Enterprise
1435361f-04bc-4fb1-86c4-859aa6873f62

https://github.com/MicrosoftDocs/azure-docs/issues/33011#issuecomment-502244699

From: YutongTie-MSFT <notifications@github.com>
Sent: Friday, June 14, 2019 4:03 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: JohnStraumann <john.straumann@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDoc

[2019-06-14 20:34] kavitajoshi commented on #31924
Hello someone at Microsoft,
Can you please respond to my issue and re-open this ticket? Issue has not be resolved.
Thanks!

[2019-06-14 20:51] FrankHu-MSFT commented on #33351
Hey Chdafni, thanks for the information and the information you also provided :
https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/operations/configuring-alternate-login-id
https://docs.microsoft.com/en-us/windows-server/security/kerberos/kerberos-constrained-delegation-overview

We are currently looking into this and will let follow up on the thread for updates. Thanks!

[2019-06-14 21:02] TravisCragg-MSFT commented on #33345
@jeffwmiles Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-14 21:06] kobulloc-MSFT commented on #33075
@spzSource We are going to continue looking at this, and will update this thread as new information becomes available.  For now, this is being tracked as a Power BI online bug.  With nothing to address on the documentation side of things, we are going to close this as resolved for tracking purposes.

Thank you again for bringing this to our attention!

[2019-06-14 21:06] #33075 closed

[2019-06-14 21:07] TravisCragg-MSFT commented on #33368
@JimHart Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-14 21:10] alvipeo opened #33369 "What about credentials? VM Size?"
How user can connect to it then? Please add this to your scripts

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3757d33c-7b1e-c2ac-fdd7-d549832f1122
* Version Independent ID: 095e05e5-5d12-9914-0fe8-8e801779a666
* Content: [Quickstart - Create a Windows VM with Azure PowerShell](https://docs.microsoft.com/en-us/azure/v

[2019-06-14 21:10] FrankHu-MSFT commented on #33323
hey @J0F3 could you please provide the commands that you are using where you're getting this error? If you're using a non-interactive login flow, then you won't be given the chance to use MFA and thus requiring MFA is working, by not allowing you to login without another layer of auth.

[2019-06-14 21:12] Alberto-Vega-MSFT commented on #33082
@arnabhetc I see that you created a thread here https://stackoverflow.com/questions/56545255/how-acess-docker-database-created-by-azure-iot-edge-by-outside-apllication-lik
Closing this issue for now. If you do not get a satisfactory answer there please feel free to tag me here and we will reopen the issue to make sure you get help.

[2019-06-14 21:12] #33082 closed

[2019-06-14 21:17] spzSource commented on #33075
@kobulloc-MSFT thanks for reply. Is it possible to know id of bug related to PowerBI online, so I can track it too? I wondering because business with whom I work are waiting for defect to be fixed in order to continue using Power BI as appropriate. Current situation prevents us to use Power BI for covering our needs...

[2019-06-14 21:35] CarlRabeler commented on #32934
@cephalin please let me know if you need assistance from the SQL content team here - both @mike-ubezzi and @davidbaxterbrowne have valid points here

[2019-06-14 21:37] MicahMcKittrick-MSFT commented on #33369
@alvipeo appreciate the feedback. The goal of these specific quick starts is to get users up and running quickly to try out Azure. If you want more control over the size and what not we have other guides on that

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/tutorial-manage-vm

As per the credentials, when you create the VM in PowerShell it will prompt you for that info. We do st

[2019-06-14 21:37] #33369 closed

[2019-06-14 21:39] SaurabhSharma-MSFT commented on #33007
@nicolaszhang Have you used the Grant permissions button to provide the consent after adding the API ?

[2019-06-14 22:04] Darko-git commented on #33309
That file you are referencing does not contain the parameter in question (certificateIssuerThumbprint).
That is exactly what this issue is about, the parameter is just magically used in the template without it being set anywhere.

[2019-06-14 22:05] jennyf19 commented on #32367
@andrewconnell Thanks for catching this. We changed the namespace in the [3.0.3-preview release](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/3.0.3-preview) so that developers would not need to add an additional namespace `Microsoft.Identity.Client.AppConfig` and just `Microsoft.Identity.Client` would suffice. We will update the doc, thanks again for bringing

[2019-06-14 22:05] haroldwongms commented on #33341
Documentation has been updated and will be live within the next few days.

[2019-06-14 22:12] MicahMcKittrick-MSFT commented on #33309
Ah okay. Looking back at the doc, it seems we suggest you remove it since you are setting up common name certs instead

![image](https://user-images.githubusercontent.com/32313503/59541568-ca419b00-8eb6-11e9-8220-2b321db71430.png)

[2019-06-14 22:12] Mike-Ubezzi-MSFT commented on #33190
@MisinformedDNA We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-14 22:12] #33190 closed

[2019-06-14 22:12] #33341 closed

[2019-06-14 22:16] randyshoopman opened #33371 "Converted to Azure CLI?"
It says : "This article has been updated to use the new Azure PowerShell Az module" but it still looks like the AzureRM style syntax.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1004d268-8e8b-a08c-f31d-5b099cb38132
* Version Independent ID: 732f5f54-eb4b-97f3-a46a-d07825bd3e34
* Content: [Use Azure PowerShell to ena

[2019-06-14 22:16] chk1982 opened #33372 "Exchange Hybrid Writeback PublicDelegates Incorrect Description?"
I believe the attribute description for PublicDelegates under the Exchange Hybrid Writeback section is incorrect. My understanding of the feature is that it allows a cloud mailbox to grant SendOnBehalfOf permission to on-premises delegates. The delegate list would then be written back to on-prem remote mailbox user accounts, which would be checked when on-premises mailboxes try to send on behalf o

[2019-06-14 22:17] kyallanum opened #33373 "This does not include a vital step to create run.cmd file."
.NET Core 2.2 does not create an executable file for the WebJob to run when deployed. This could stump a few people when attempting to deploy webjobs if they don't know all of the requirements for a Webjob.

Please add a section to create a run.cmd file with UTF-8 encoding using the command:
dotnet &lt;dll file name&gt;

So that when attempting to deploy and run the webjob it works.

---
#### Docu

[2019-06-14 22:17] michaelarner commented on #32021
I am running into the same issue moving from AzureRm to Az. Very weird that I login as the subscription owner and cannot create a KeyVault without gymnastics.  The documentation for New-AzKeyVault should at the very least do something to address this issue.

[2019-06-14 22:31] Darko-git commented on #33309
No, we never remove this, this is new (and what this page is about).
Currently, we are introducing common names and we added certificate common name parameter, but we never add certificate issuer thumbprint parameter. But we are using it anyway.

It should be either removed from the template or defined somewhere.

[2019-06-14 22:32] kobulloc-MSFT commented on #33075
@spzSource We want to make sure that we do everything we can to minimize the impact on your end and will do our best to keep you updated (including a bug ID if that ends up being publicly available).  We should be able to provide more information on Monday.

[2019-06-14 22:35] Alberto-Vega-MSFT commented on #32988
What are you getting in the Visual Studio Output window? Ideally you would see the anchor identifier coming back from the cloud service.

[2019-06-14 22:38] rwike77 commented on #31396
@AE-MS, thanks for bringing this up.  I've updated the article, changes will publish live on Monday.  #please-close

[2019-06-14 22:38] #31396 closed

[2019-06-14 22:46] MicahMcKittrick-MSFT commented on #33309
@aljo-microsoft can you chime in on this one? I am not feeling I am explaining this very well.

[2019-06-14 23:00] sonpeppers opened #33375 "Delete by age is dangerous"
Is there a way to delete by 'last pulled' instead of 'last updated'? We have some images that are still used regularly but don't need changes as often

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb1b3438-58e2-cd26-3b5e-1a1717fe182f
* Version Independent ID: ad41d0b4-39b1-7e24-836e-ff12d5016623
* Content: [Delete ima

[2019-06-14 23:10] kobulloc-MSFT commented on #33075
@spzSource We'd like to track your issue in addition to the bug, and we'll need some additional information to do that.  Please email the following to AzCommunity@microsoft.com and we'll get back to you promptly:

	• Your Subscription ID (this can be found by searching for "Subscriptions" in the portal)
	• A link to this thread so we can validate and expedite the request
	• A brief, 2-3 sentence s

[2019-06-14 23:12] aashishb commented on #33339
Not possible today. This is a high priority feature on our backlog.

[2019-06-14 23:15] TravisCragg-MSFT commented on #33209
@TomaszOledzki is there anything else that I can assist you with regarding this issue?

[2019-06-14 23:22] MicahMcKittrick-MSFT commented on #33375
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-14 23:23] MicahMcKittrick-MSFT commented on #33371
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-14 23:37] kgremban commented on #33361
Thanks for pointing this out, @arsing. I'll make these changes and then close the issue when they're merged.

[2019-06-15 00:05] Mike-Ubezzi-MSFT commented on #33101
In Visual Studio, I was able to get this to build successfully by manually installing Microsoft.Azure.DocumentDB version 1.6.1. Take a look at the packages.config for your copy of the ToDo Solution and make a change to the DocumentDB library version.

`Install-Package Microsoft.Azure.DocumentDB -Version 1.6.1`

![Screenshot (83)](https://user-images.githubusercontent.com/37126106/59544257-3925f080

[2019-06-15 00:06] #33360 closed

[2019-06-15 00:06] TravisCragg-MSFT commented on #33174
@Sudharma Thanks for the feedback! Unfortunately, as you have already found, this is a current limitation of the product.

For product feature requests, the best place to give that feedback is on [feedback.azure.com](feedback.azure.com), and you have already[ found an existing piece of feedback which addresses the issue](https://feedback.azure.com/forums/217313-networking/suggestions/14095221-sett

[2019-06-15 00:07] TravisCragg-MSFT commented on #33174
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-15 00:07] #33174 closed

[2019-06-15 00:13] Alberto-Vega-MSFT commented on #33363
@vmaruthi Thanks for taking the time for reporting this. I will close this as a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/31133 and I will investigate.

With that said if there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-15 00:13] #33363 closed

[2019-06-15 00:56] #33361 closed

[2019-06-15 01:18] afmorris commented on #20758
@rachel-msft thanks for the update! I just tested it for our application, and everything seems to be working from what I can tell!

[2019-06-15 02:00] DashleenBhandari-MSFT commented on #33364
@munozrickT4S , Thanks for raising the issue. We will investigate and update you.

[2019-06-15 02:03] DashleenBhandari-MSFT commented on #33364
@munozrickT4S , The steps would be same for apps in ASE as well. As per the doc [here](https://docs.microsoft.com/en-us/azure/app-service/environment/create-ilb-ase#overview). Please let us know if you are looking for something else.

[2019-06-15 02:04] DashleenBhandari-MSFT commented on #33372
@chk1982 , Thanks for raising the issue. We will investigate and update you.

[2019-06-15 02:05] DashleenBhandari-MSFT commented on #33365
@munozrickT4S , Thanks for raising the issue. We will investigate and update you.

[2019-06-15 02:11] Grace-MacJones-MSFT commented on #33373
Hi @kyallanum, thanks for your feedback. To clarify, were you wanting to see a new section added to the doc or a note with info on how to create a run.cmd file?

[2019-06-15 02:13] arsing commented on #33361
Why did the bot close this? It's not fixed yet.

From: PRMerger20 <notifications@github.com>
Sent: Friday, June 14, 2019 17:57
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Arnav Singh <arsing@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] The value of the `https_proxy` env var must use the `http` scheme, not `https` (#33361)

Closed

[2019-06-15 02:21] hpsin commented on #31924
Can you try using a second "/"? So yammer.com//.default? This is documented in the /.default section of the docs. Can you share any messages with the 401?

[2019-06-15 03:08] arun-a-nayagam commented on #28317
Comparing the common (https://login.microsoftonline.com/common/v2.0/.well-known/openid-configuration) and a tenant specific (https://login.microsoftonline.com/{tenant}/v2.0/.well-known/openid-configuration) jwks_uri, it looks like the same set of private keys is used to generate an id_token.
Isn't this a security risk?
I understand the JWT validator should verify the "aud" but you would think Azur

[2019-06-15 05:07] SinghGurd opened #33382 "AAD Connect new server build and ADFS settings"
Documentation is not clear about post installation steps required with respect to ADFS. If AAD Connect is installed in Staging mode on a new Server using existing database then what steps need to be done for ADFS when there is existing federation setup with AAD already and when these must be done.

Documentation states that 'User Signin method' needs to be changed for versions lower than 1.2.65.0.

[2019-06-15 05:31] DashleenBhandari-MSFT commented on #33382
@SinghGurd , Thanks for raising the issue. Could you please provide the document that you are referring to?

[2019-06-15 05:42] polarapfel opened #33383 "Sample code needs fix"
This piece of code is not correct, starting with the "include" statement.

`include Microsoft.Extensions.Configuration;
// retrieve App Service app setting
System.Configuration.ConfigurationManager.AppSettings["MySetting"]
// retrieve App Service connection string
Configuration.GetConnectionString("MyDbConnection")`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2019-06-15 05:55] SinghGurd commented on #33382
Oops...It's about https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-install-existing-database

[2019-06-15 06:22] arkiaconsulting commented on #31554
@mattsmall1972 Following the guidelines [here](https://docs.microsoft.com/en-us/azure/key-vault/key-vault-ovw-storage-keys)

here is a bash script you can run to demonstrate a typical use of those specific types of Key Vault secrets (change name variable)
[code]

[2019-06-15 06:48] SteveBurkettNZ opened #33384 "Compatibility with Windows 2019 and SQL 2017?"
Is this extension compatible with the latest Windows and SQL versions?   If so, can this info be updated in the Prerequisites section please?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24255026-2d1c-0607-77e6-f9dd10fbe8dd
* Version Independent ID: 832ee4c2-a497-6db6-573d-5c9abe694b00
* Content: [Automate management

[2019-06-15 07:44] skyovi opened #33385 "Pricing for taking over an unmanaged azure active directory"
What is the cost (pricing) involved If an admin from the partner org admin takes over an unmanaged directory or viral tenant?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd934d58-08f8-a3ca-2686-0006b0b8f74a
* Version Independent ID: 84d9cab3-09b7-95ba-83ea-435ca0ccbb47
* Content: [Administrator takeover of an unmana

[2019-06-15 08:15] luisdanielmesa opened #33386 "Commands only work in linux environments"
'sensible-editor' is only available in linux environments. Make it more generic by using an editor available in all platforms (like VS Code), or let the user decide by not explicitly instructing to use certain commands, and instead use a generic term like "use a suitable editor".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-06-15 08:32] IotCore-Developer commented on #32579
Hello,

Because of my illness I wasn’t able to respond to your email.
I will try the suggestions, thank you.

Best regards,

Klaas

Sent from Mail for Windows 10

From: AshokPeddakotla-MSFT
Sent: Wednesday, June 5, 2019 10:01 AM
To: MicrosoftDocs/azure-docs
Cc: IotCore-Developer; Mention
Subject: Re: [MicrosoftDocs/azure-docs] In real life application, doesn't seemto work (#32579)

@IotCore-Develo

[2019-06-15 09:25] cuongdnv opened #33387 "Unsupported kubernetes version"
it given this error :
fatal: [localhost]: FAILED! =&gt; {"changed": false, "msg": "Unsupported kubernetes version. Expected one of [u'1.11.9', u'1.11.8', u'1.10.12', u'1.10.13', u'1.12.                      8', u'1.13.5', u'1.12.7'] but got None"}
How can i update my kubernetes version?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-06-15 09:33] DashleenBhandari-MSFT commented on #33383
@polarapfel , Thanks for raising the issue. We will investigate and update you.

[2019-06-15 10:05] sireesha302 commented on #33111
Hiii,

I created a rule for moving blob file to archive tier after one day modification..One day is completed but file tier doesnot change..Whats the reason plz tell me ?

[2019-06-15 10:17] sireesha302 opened #33388 "Tier changing is not working"
Hiii,

I created a rule for moving blob file to archive tier after one day modification..One day is completed but file tier doesnot change..Whats the reason plz tell me ?

[2019-06-15 10:32] JohnStraumann commented on #33011
Can you folks also help with this question:

https://social.msdn.microsoft.com/Forums/en-US/315706cb-54e9-4a72-ba41-1e4e781a3622/microsoftazurecognitiveservicessearchwebsearch?forum=AzureCognitiveService

?

From: YutongTie-MSFT <notifications@github.com>
Sent: Friday, June 14, 2019 4:03 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: JohnStraumann <john.straumann@outlook.com>;

[2019-06-15 10:35] DashleenBhandari-MSFT commented on #33384
@SteveBurkettNZ , Thanks for raising the issue. We will investigate and update you.

[2019-06-15 10:39] DashleenBhandari-MSFT commented on #33385
@skyovi , Thanks for raising the issue. We will investigate and update you.

[2019-06-15 10:40] DashleenBhandari-MSFT commented on #33386
@luisdanielmesa , Thanks for raising the issue. We will investigate and update you.

[2019-06-15 10:43] DashleenBhandari-MSFT commented on #33387
@cuongdnv , Thanks for raising the issue. We will investigate and update you.

[2019-06-15 10:45] DashleenBhandari-MSFT commented on #33388
@sireesha302 , Thanks for raising the issue. Could you please provide the document you are referring to?

[2019-06-15 11:55] aceptra opened #33389 "Formatting of Code Examples"
The formatting of these samples leaves some to be desired, with terminating semicolon on a separate line, and large gaps the leading commas. The same is true for other Azure DW SQL samples. The other TSQL MSDN documentation is quite different.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 068afb53-f222-d2d8-64e0-e84eb

[2019-06-15 12:32] joheynek opened #33390 "Outdated"
Screenshots provided in the document is outdated. IAM interface has been changed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35b52f01-3dee-6d41-f9f6-7710e461ffeb
* Version Independent ID: c8ef08a8-d503-b52f-9de8-21b13cfa3d72
* Content: [Azure Active Directory Connect Health operations](https://docs.microsoft.com/en

[2019-06-15 13:07] pipern opened #33391 "Typo in "- name: Create virtual network inteface card" inteface -> interface"
There's a minor typo: inteface -&gt; interface

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 510094c2-581d-6df4-f091-60dde3899e85
* Version Independent ID: 97865acf-0bee-d4f4-6f29-c3f9e5bb9aa3
* Content: [Quickstart - Configure Linux virtual machines in Azure using Ansible](https://docs.microsoft.com/en-us/azure/virtu

[2019-06-15 13:09] sireesha302 commented on #33388
https://docs.microsoft.com/en-us/azure/storage/blobs/storage-lifecycle-management-concepts

Iam referring this

[2019-06-15 13:14] sireesha302 commented on #33388
I created  storage account in cool tier yesterday.and uploaded block blob.
LifeCycleManagement -> Added rule that -> move blob to archive tier if blob modified date greater than 1

Today i checked but blob tier didnt changed.

{
    "rules": [
        {
            "enabled": true,
            "name": "rule1",
            "type": "Lifecycle",
            "definition": {
                "actions":

[2019-06-15 14:15] DashleenBhandari-MSFT commented on #33389
@aceptra , Thanks for raising the issue. We will investigate and update you.

[2019-06-15 14:17] DashleenBhandari-MSFT commented on #33390
@joheynek , Thanks for raising the issue. We will investigate and update you.

[2019-06-15 14:19] DashleenBhandari-MSFT commented on #33391
@pipern , Thanks for raising the issue. We will investigate and update you.

[2019-06-15 14:27] bbaassssiiee opened #33392 "No module named packaging.version, packaging 19.0 installed (Both for Brew & Conda)"
TASK [Create resource group] **********************************************************************************************************************
Saturday 15 June 2019  16:24:16 +0200 (0:00:01.004)       0:00:01.109 *********
An exception occurred during task execution. To see the full traceback, use -vvv. The error was: ImportError: No module named packaging.version
fatal: [localhost]: FAILED!

[2019-06-15 14:34] MedAnd commented on #26599
Friendly ping... any update 😎 ?

[2019-06-15 14:35] MedAnd commented on #24034
Friendly ping... any update 😎 ?

[2019-06-15 15:04] SaurabhSharma-MSFT commented on #33392
@bbaassssiiee Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-15 15:21] bbaassssiiee commented on #33392
PYTHONPATH is the problem

[2019-06-15 15:48] DixitArora-MSFT commented on #33062
@SeanFeldman I have assigned this to content author to review and update as appropriate.

[2019-06-15 16:43] michaelarner commented on #24386
Is it possible to reopen this?  I am having the same issue with Set-AzDiagnosticSetting' the subscription used to create the site is not whitelisted for it.

[2019-06-15 17:35] AjayKumar-MSFT commented on #33247
@JayaC19, We will now proceed to close this thread. If there are further questions regarding this matter, please tag us in your reply. We will gladly continue the discussion.

[2019-06-15 17:35] #33247 closed

[2019-06-15 17:47] AjayKumar-MSFT commented on #33207
@gitsathish, I have tried the steps and code snippet as outlined in the document and it works fine. Kindly ensure that you aren't creating duplicates names, do re-try and let us know if the issue still persists with more details on the error you may receive for further investigation.

![image](https://user-images.githubusercontent.com/44606227/59554597-05c98b80-8fc3-11e9-8f67-4c31c817f35e.png)

[2019-06-15 17:53] SeanFeldman opened #33395 "Incorrect casing of the subscription name in DLQ storage blob path"
I've created a lower-case event subscription named `asb-sub-2-storage`.

![image](https://user-images.githubusercontent.com/1309622/59554696-14348a80-8f64-11e9-9aa6-3ac1ce3259eb.png)

When a DLQ blob was created, noticed that the name is upper-cased.

`eventgridtoasb/ASB-SUB-2-STORAGE/2019/6/13/5/e3b13e86-a4b8-429d-a6c2-74ba646f1c5e.json`

Looks like a bug.

---
#### Document Details

⚠ *Do not ed

[2019-06-15 17:55] SeanFeldman commented on #33395
While this is not doco issue, it is connected to the product.

[2019-06-15 19:46] suhuruli commented on #33142
Hi! Do you mean specify directly in the documentation how much CPU and Memory the `docker run` command will require? We can definitely add that and that's a great idea.

[2019-06-15 20:23] superleah commented on #33254
No setting cookies

[2019-06-15 20:23] superleah commented on #33254
I'm sleeping no coo(he's

[2019-06-15 20:26] superleah commented on #33254
I got https too

[2019-06-15 20:27] superleah commented on #33254
In progress make in active

[2019-06-15 20:27] superleah commented on #33254
Delete in progress --

[2019-06-15 20:28] superleah commented on #33254
Thank you I just got here

[2019-06-15 20:30] superleah commented on #33254
Come on give me another com] and give me your meter read like always

[2019-06-15 20:33] #33254 closed

[2019-06-15 21:12] mike-urnun-msft commented on #32942
Hi @asbailey https://conferenceapi.azurewebsites.net/?format=json appears to be up and running,.

We will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-06-15 21:12] #32942 closed

[2019-06-15 22:11] arkein commented on #18185
@georgewallace I had a long running script (few hours) as a last step of VM ARM and was looking for a way to give an idea of what's happening inside the VM to whoever looking into the deployment. Also would be nice to have an example of a solution as a source of inspiration of a kind.

At this point, the script was merged into the DCS, so I no longer have a need for a custom status update solution

[2019-06-15 22:16] ggailey777 commented on #21038
Thanks @arjendenhartog, we now explicitly declare this in the [service limits section](https://docs.microsoft.com/azure/azure-functions/functions-scale#service-limits). #please-close

[2019-06-15 22:16] #21038 closed

[2019-06-15 22:52] ggailey777 commented on #31910
It looks like this question has been answered in https://github.com/Azure/azure-functions-host/issues/4491, but we should still update the docs.

[2019-06-15 23:14] ggailey777 commented on #33086
@benbelow is this the issue that you were running into?
![image](https://user-images.githubusercontent.com/1388263/59557188-9767d780-8f88-11e9-8cad-b50225be8ca6.png)
I found this in the App Service application settings article [Configure app settings](https://docs.microsoft.com/azure/app-service/configure-common#configure-app-settings).

[2019-06-15 23:27] Mike-tech opened #33401 "Adding JavaScript to AD B2C custom sign up page - User flow"
I'm using Azure AD B2C for authentication. I followed this instruction [here ](https://docs.microsoft.com/en-us/azure/active-directory-b2c/javascript-samples) to add javascript to my custom page. JavaScript is enabled for this policy and also has page layout version selected.

Trying to add a javascript to a custom page to a standard user flow policy. The page seems not to fire js script. This is

[2019-06-16 00:03] jeremych1000 commented on #33016
Looks like the client app CLI creation has native-app enabled as a parameter.

[code]

Closing.

[2019-06-16 00:03] #33016 closed

[2019-06-16 00:19] posix4e commented on #16721
What if we want to actually scale down?

[2019-06-16 01:54] sapatelbaps opened #33403 "restarting xrdp service might be necessary"
I just setup redhat linux db server on Azure and came to this link.

I followed the answer of below MSDN community question but still it did not work.
At the end, I just restarted the xrdp service and RDP client has access of the RedHat Linux VM now.

You may update the steps and/or have one more doc page for RedHat linux as well to be helpful to new Windows users who want remote access of various

[2019-06-16 02:19] DashleenBhandari-MSFT commented on #33395
@SeanFeldman , Thanks for raising the issue. We will investigate and update you.

[2019-06-16 02:20] DashleenBhandari-MSFT commented on #33401
@Mike-tech , Thanks for raising the issue. Could you please provide the document you are referring to.

[2019-06-16 02:21] DashleenBhandari-MSFT commented on #33403
@sapatelbaps , Thanks for raising the issue. We will investigate and update you.

[2019-06-16 05:21] brent-robinson opened #33404 "Proxies for Point-to-Site connections"
For the question "Can I traverse proxies and firewalls using Point-to-Site capability?", the answers provide general advice for firewalls, but make no mention of whether SSTP and OpenVPN support proxies. Can this documentation be updated to clarify?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3113b20-0f6c-988e-444b

[2019-06-16 05:35] DashleenBhandari-MSFT commented on #33404
@brent-robinson , Thanks for raising the issue. We will investigate and update you.

[2019-06-16 06:12] sundhar19 commented on #33057
tags should be treated as variable.
you should use tags={

}

[2019-06-16 06:45] brent-robinson opened #33405 "Can all internet traffic from branch be routed through the Azure Virtual WAN?"
Could Azure Virtual WAN be used to direct all internet traffic from branches through the Azure Virtual WAN, such that centralised network filtering (with an NVA) could be applied, as well as consistent outbound IP addresses for all branch internet-bound traffic? Similar to how organisations would route all internet traffic from their branches through their primary data centre.

---
#### Document D

[2019-06-16 07:01] Mike-tech commented on #33401
I did above, but here is the link to the document again:
[https://docs.microsoft.com/en-us/azure/active-directory-b2c/javascript-samples](https://docs.microsoft.com/en-us/azure/active-directory-b2c/javascript-samples)

[2019-06-16 07:04] DashleenBhandari-MSFT commented on #33405
@brent-robinson , Thanks for raising the issue. We will investigate and update you.

[2019-06-16 07:34] vishalbhardwaj26 commented on #14035
still looking for the resolution on this. I have seen MS folks closed all related issues with any specific resolution, that implies we cannot control iot hub behind iot central. if yes it is messy then and will wait for any other implementaions

[2019-06-16 07:39] Karishma-Tiwari-MSFT commented on #32709
@iainfoulds Please let me know if this issue needs further action.

[2019-06-16 07:54] Karishma-Tiwari-MSFT commented on #33034
@brushwood24 You mentioned that 'I followed these instructions to remove a VM from an availability set'. Do you mean, you deleted the original VM and then recreated it in a new availability set?
If yes, can you please check the currently set value of OSDisk.CreateOption Property and share.

[2019-06-16 07:58] Karishma-Tiwari-MSFT commented on #33072
@dkkapur Can you please help confirm on the format of AccountName? I will update the doc, once confirmed. Thanks :)

[2019-06-16 08:00] Karishma-Tiwari-MSFT commented on #33081
@MSSedusch Can you please share your insights on this customer's query? Thanks :)

[2019-06-16 08:47] Karishma-Tiwari-MSFT commented on #33089
@rabbboudi While using unmanaged disks, you have to create a storage account to store the disks. In this case, you need to take care of the IOPS limits for storage account and the other limitations applied to storage account.

But when you use [managed disks](https://docs.microsoft.com/en-us/azure/storage/storage-managed-disks-overview), Azure takes care of the underlying storage accounts for you.

[2019-06-16 10:04] J0F3 commented on #33323
I have the problem with Azure PowerShell in PowerShell 6 and also with the Azure CLI when using the device code login  ```az login --use-device-code ```.

MFA itself seems not the problem, I can enforce MFA in the MFA settings and then the login still works but when it is enforced by a Conditional Access Policy I get the error. So the Conditional Access Policy is the actually the problem not MFA.

[2019-06-16 12:06] nopjmp opened #33408 "Troubleshooting Documentation should include lockout duration information"
It wasn't obvious to me that the active directory domain services included an internal lockout period and I thought my account wasn't working. Looks like the default is 1440 minutes or 24 hours on Active Directory and applies here as well, unless changed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7236bae9-3382-65d

[2019-06-16 12:09] JensPfeifle commented on #14035
We would also be very interested in connecting IoT Edge devices (running the OPC Publisher module to send data from OPC UA servers in our case) to an IoT Central application.
Setting the connection string in the IoT Edge configuration gives the following in the IoT Edge log:
[code]

So it looks like the IoT Hub behind IoT Central simply not have an IoT Edge device registered. Don't know where to g

[2019-06-16 12:34] dcurwin commented on #33067
@femsulu You can assign this to me.

[2019-06-16 12:37] dcurwin commented on #33223
@SwathiDhanwada-MSFT Please assign this to me.

[2019-06-16 13:04] SaurabhSharma-MSFT commented on #33408
@nopjmp Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-06-16 14:44] amir-microsoft opened #33409 "Remove properties on diagnostics logs"
When turning on diagnostics logs, and send them to Azure Monitor logs, the request and response body are also being logged, which is an issue with privacy of user data. is there a way to prevent it from being logged, while still getting the reset of the properties?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecc5e84

[2019-06-16 15:10] TomaszOledzki commented on #33179
@SubhashVasarapu-MSFT Thanks for the replay. You're pasting screen from WAF v2 I presume but docs on the site I'm referring is for WAF v1.

 I think docs should be updated to either show WAF v2 or list the names for WAF v1 as suggesting in the first comment.

Kind regards,
Tomasz

[2019-06-16 15:35] ChJenk commented on #33167
This is reference to Office supporting Skype, not Windows supporting Windows Virtual Desktop. @DHB-MSFT can you comment further? (@DHB-MSFT is the writer for Office deployments). Thanks!

[2019-06-16 16:34] mgouffe opened #33410 "Truncate Table Option doesn't work in Sink of ADF Data Flow"
Truncate Table Option doesn't work in Sink of ADF Data Flow

[2019-06-16 17:47] lp-code opened #33411 "VNet peering command arguments"
When establishing the peering by running

`az network vnet peering create --resource-group peering --name vnet1-vnet2 --vnet-name vnet1 --remote-vnet-id $vnet2id --allow-vnet-access`

in the cloud shell I get a warning

`Option '--remote-vnet-id' has been deprecated and will be removed in version '2.1.0'.`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2019-06-16 17:57] KalyanChanumolu-MSFT commented on #33048
@tristanbarcelon I tried to mimic your set up and reproduce the issue.
I started an emulator instance and started parallel console apps accessing multiple databases (like multiple build jobs executing unit tests) and depending on the intensity of the operation, the emulator does slow down. The emulator doesn't have the same level of performance as the actual cosmos instance itself.

I believe you

[2019-06-16 18:05] ianblenke commented on #9764
A full year later and still no comment?

Attempting to use Azure Active Directory Domain Services, and the synchronization is not happening.

I'm trying to craft some sensible Network Security Groups, and exposing 443 to the entire public internet seems to be an unacceptable workaround.

[2019-06-16 18:09] fume commented on #31958
@PramodValavala-MSFT
any news?

thanks

[2019-06-16 19:33] lyda opened #33412 "Azure AD for non-Azure Linux boxes"
Is it possible to authenticate using Azure AD on Linux boxes outside of Azure?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb8e2623-1f79-aee3-bd97-8b5f647b6980
* Version Independent ID: 6346b54d-cc8d-0b79-a6b8-f9144cfa2459
* Content: [Log in to a Linux VM with Azure Active Directory credentials](https://docs.microso

[2019-06-16 20:23] mikaelsnavy opened #33413 ""Windows Server containers in Kubernetes limitations" Link Is 404"
The link for "Windows Server containers in Kubernetes limitations." to https://kubernetes.io/docs/setup/windows/ results in a 404. Perhaps https://kubernetes.io/docs/setup/production-environment/windows/ is the correct link?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1297e121-7cf0-63c1-99b3-87a85d80945b
* Version I

[2019-06-16 21:43] shweta-singh83 opened #33414 "Clear information about this very useful feature in App Insights!! Keep it up!"
Keep up good documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfc7b703-b823-5719-36de-0eeaf096b3ca
* Version Independent ID: d85431d2-7253-80e9-9036-b62e2e230cca
* Content: [Application Map in Azure Application Insights](https://docs.microsoft.com/en-us/azure/azure-monitor/app/app-map#feedback)
* Content S

[2019-06-16 21:51] mill5james commented on #27696
Feel free to close it. I have two people that sear it didn't work but now it does.
meh.

[2019-06-16 21:51] #27696 closed

[2019-06-16 21:52] natelaff commented on #21570
Ah yes, I've hit this too. I turned this on thinking my custom domain wouldn't be affected, sure enough, everything broke. I want to turn this on for future use, but I still have app versions using http through a particular domain. So are the docs wrong, or is this not functioning as expected?

[2019-06-16 22:04] ggailey777 commented on #33013
I have fixed the next steps. #please-close

[2019-06-16 22:04] #33013 closed

[2019-06-16 22:05] ggailey777 commented on #30440
Fix is live. #please-close

[2019-06-16 22:05] #30440 closed

[2019-06-16 22:10] ggailey777 commented on #28205
@dirkesquire this article is intended to get folks to the correct local development tool article, but we haven't had one for VS Code. There is a new VS Code dev article being worked on in our private repo that will address this issue.

[2019-06-16 22:35] ggailey777 commented on #25655
We have an internal work item now ([1556880](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1556880)) to track this requested scenario for possible future documentation. #please-close

[2019-06-16 22:35] #25655 closed

[2019-06-16 22:56] VVillar commented on #33336
@MicahMcKittrick-MSFT What does --os-family 4 mean? as an os-family is it ok the value 4 or it has to be an string like "Windows" or "Linux"

[2019-06-16 23:00] paulkel opened #33415 "Azure Native Environment diagram omits VM4 label"
Azure Native Environment diagram omits VM4 label for lower VM iin Virtual Network 1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31580c1b-34e7-acad-dfed-db47f7dae39f
* Version Independent ID: 8a07d877-784a-3d88-54cd-8cd5341a2859
* Content: [Guidelines for Azure NetApp Files network planning](https://docs.microsoft.c

[2019-06-16 23:23] dcbrown16 commented on #32314
Ok, so it was added to a different page. Good to have that link here for reference. Thank you!

[2019-06-16 23:35] ChackDan commented on #23023
+alex to respond.

From: Pradebban Raja <notifications@github.com>
Sent: Friday, June 14, 2019 10:40 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Chacko Daniel <chackdan@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Unable to use command -Connect-ServiceFabricCluster from Azure Automation (#23023)

@MicahMcKittrick-MSFT<https://

[2019-06-17 00:45] CastleArg opened #33416 "How to view dashboards in Azure Cost Management?"
The azure portal states that Cloudlyn is being gradually deprecated in favour of native Azure Cost Management.  Will we be able to get dashboard functionality here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ccd32784-49dd-2daa-89cd-31de8b744915
* Version Independent ID: a04cb30c-4ef9-a88b-a567-fc5a7a4c1b05
* Conten

[2019-06-17 01:48] AmanGarg-MSFT commented on #33414
@shweta-singh83 Thank you for the feedback. Appreciate it!

[2019-06-17 01:48] #33414 closed

[2019-06-17 01:49] techaimail opened #33417 "How to set timezone for LINUX app services in Azure"
Is there any way to set the timezone for LINUX app services in azure?
Is there any like the following to Linux app services?
https://www.jasongaylord.com/blog/tip-changing-an-azure-app-service-time-zone

[2019-06-17 02:04] okwindart opened #33420 "Manual Trigger example does not work"
I am attempting to create a web job that runs on a manual trigger (using .Net Core 2.1 and Azure SDK 3.x). I am simply copying/pasting the code from the example (Manual Trigger) to just get a working starting point. However, when I run the sample (locally as well as on my test server in Azure), I get this error:

'CreateQueueMessage' can't be invoked from Azure WebJobs SDK. Is it missing Azure Web

[2019-06-17 02:31] DashleenBhandari-MSFT commented on #33409
@amir-microsoft , Thanks for raising the issue. We will investigate and update you.

[2019-06-17 02:32] DashleenBhandari-MSFT commented on #33410
@mgouffe , Thanks for raising the issue. Could you please provide the document you are referring to.

[2019-06-17 02:34] DashleenBhandari-MSFT commented on #33411
@lp-code , Thanks for raising the issue. We will investigate and update you.

[2019-06-17 02:35] DashleenBhandari-MSFT commented on #33412
@lyda, Thanks for raising the issue. We will investigate and update you.

[2019-06-17 02:38] DashleenBhandari-MSFT commented on #33413
@mikaelsnavy , Thanks for raising the issue. We will investigate and update you.

[2019-06-17 02:45] SnehaAgrawal-MSFT commented on #33416
@CastleArg Thanks for the question! We are investigating and will update you shortly.

[2019-06-17 02:46] genlin commented on #32404
I will discuss Subbu offline for this issue.

#please-close

[2019-06-17 02:46] #32404 closed

[2019-06-17 02:51] SnehaAgrawal-MSFT commented on #33420
@okwindart Thanks for the question! Could you share the URL of the doc you are referencing.

[2019-06-17 03:15] KalyanChanumolu-MSFT commented on #33090
Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate. 

[2019-06-17 03:17] KalyanChanumolu-MSFT commented on #33206
We will now proceed to close this thread.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion. 

[2019-06-17 03:17] #33206 closed

[2019-06-17 03:19] Flanker32 opened #33421 "The format of diagnostics logs seems has been out of date"
This page tells users the format of the diagnostics logs is `{Date}  PID[{process ID}] {event type/level} {message}`, but this didn't match the result of portal, which seems to be `{Date} {Log Level} {PID} - {message}`.
Please provide an official log pattern so that we could use the regex pattern to analyze the log.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2019-06-17 03:29] SnehaAgrawal-MSFT commented on #33421
@Flanker32 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-17 03:50] SnehaAgrawal-MSFT commented on #33417
@techaimail Thanks for the question! We are investigating and will update you shortly.

[2019-06-17 03:54] DashleenBhandari-MSFT commented on #33364
@munozrickT4S , Please let us know if you are looking for something else.

[2019-06-17 03:55] DashleenBhandari-MSFT commented on #33260
@cephalin , Could you please verify this and update the document if needed.

[2019-06-17 04:43] DashleenBhandari-MSFT commented on #33263
@AzureGuineaPig , Looks like you have closed the issue. Feel free to reach out to us if you need any help.

[2019-06-17 04:53] KalyanChanumolu-MSFT commented on #33295
@pzerger The Studio 3T screens seem to have changed from the time the documentation was created.
Please use the "From URI" button on the "New Connection" Screen and paste the Connection string to automatically choose the right options.

![image](https://user-images.githubusercontent.com/8835012/59579214-808cc680-90e9-11e9-8c4a-e813b185c7ec.png)

[2019-06-17 04:57] KalyanChanumolu-MSFT commented on #33295
@sivethe Please check if we need to update the documentation to reflect the new screens.

[2019-06-17 05:03] PramodValavala-MSFT commented on #31958
@jtmilne Sorry for not getting back sooner.

Yes. If not called, it is as you've mentioned.

It is renewed automatically.

Now that you mention it, the description of the `autoComplete` property does sound a bit misleading. Please feel free to open a new issue to track this change or even a PR to fix it. 😃

[2019-06-17 05:03] CHEEKATLAPRADEEP-MSFT commented on #33344
@pedromartins4 You are correct. Azure Blob storage and Azure SQL Database are currently supported as input source for reference data.

Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/79781](https://github.com/MicrosoftDocs/azure-docs-pr/pull/79781).

The changes should be live EOD or tomorrow. We will now close this issue. In futu

[2019-06-17 05:03] #33344 closed

[2019-06-17 05:15] PramodValavala-MSFT commented on #33063
@yixue-at-symantec We have raised this issue with the concerned team.

We are assigning this issue to the content author to close once the issue is fixed.

[2019-06-17 05:23] AjayKumar-MSFT commented on #33207
@gitsathish, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will continue the discussion.

[2019-06-17 05:23] #33207 closed

[2019-06-17 05:26] AjayKumar-MSFT commented on #33237
@sander, The URL has been updated and the doc reflects the changes. We will close this out, but if you feel you need more information please just let us know.

[2019-06-17 05:26] #33237 closed

[2019-06-17 05:28] PramodValavala-MSFT commented on #33185
@jcbrooks92 The doc mentions this,

which implies the V2 runtime. Also, I believe the docs for Azure Functions are geared towards for V2 by default unless specified otherwise.

We are assigning this issue to the content author to review and update accordingly keeping the docs uniform.

[2019-06-17 05:29] dave-read opened #33422 "Unable to use Horizontal Pod Auto Scaling (HPA) for Pods in Dev Spaces enabled namespaces"
The containers injected (e.g. devspaces-proxy) to support Dev Spaces do not have requests/limits set which break the HPA.
Here's a suggestion to add to troubleshooting topics to help others that may run into this.   It's possible that having a topic about overall environment design to support a range of testing types/goals might be helpful.

Error
When enabling Horizontal Pod Auto Scaling for a Po

[2019-06-17 05:35] YASWANTHM-MSFT commented on #33005
@Elangamban ,Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion

[2019-06-17 05:35] #33005 closed

[2019-06-17 05:40] jakaruna-MSFT commented on #32209
@brobichaud DNS server mapping to the container in ACI is not working(or wrong ip mapping) for the latest images. Team is informed about this BUG. I will post the updated here.

[2019-06-17 05:43] YASWANTHM-MSFT commented on #32885
@lightningrob , Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion

[2019-06-17 05:43] #32885 closed

[2019-06-17 05:46] angoyal-msft commented on #33145
@nssidhu
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-17 05:46] #33145 closed

[2019-06-17 05:47] YASWANTHM-MSFT commented on #31344
@yangsiyu007 , Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion

[2019-06-17 05:47] #31344 closed

[2019-06-17 05:47] PramodValavala-MSFT commented on #33283
@swagulkarni The best way to achieve this is using the [Azure Key Vault SDK for Java](https://docs.microsoft.com/en-us/java/api/overview/azure/keyvault?view=azure-java-stable) and Manged Identity.

In Java, you will have to use [AppServiceMSICredentials](https://azure.github.io/azure-sdk-for-java/com/microsoft/azure/credentials/AppServiceMSICredentials.html) for Manged Identity.

[Here](https://st

[2019-06-17 05:50] ManojReddy-MSFT commented on #33320
@dcbrown16 The doc has been updated. Thanks again for reporting this.

[2019-06-17 05:50] #33320 closed

[2019-06-17 05:54] DixitArora-MSFT commented on #33119
@cocowalla I have assigned this to content author to review and update as appropriate.

[2019-06-17 05:55] DixitArora-MSFT commented on #33120
@cocowalla I have assigned this to content author to review and update as appropriate.

[2019-06-17 06:25] zboyanov commented on #33238
Should I replace that  "Endpoint=sb" with www or https: ?? Thank you.

On Fri, Jun 14, 2019 at 9:30 PM AjayKumar-MSFT <notifications@github.com>
wrote:

[2019-06-17 06:29] tamram commented on #17145
@roygara - Can you verify?

[2019-06-17 06:33] SychevIgor commented on #17145
it will be nice to do something with it. it was reported 9 months ago

[2019-06-17 06:47] VikasPullagura-MSFT commented on #32800
@michaeldisalvo I got below reply from the author, closing the issue for now as there is no doc enhancement at this point. If you need anything else just let us know.

The document is clear in the context of the examples.

You may have a scale set that runs an old version of Ubuntu LTS 16.04. You want to update to a newer version of Ubuntu LTS 16.04, such as version 16.04.201801090. The image refe

[2019-06-17 07:06] mayanknayar commented on #32800
@michaeldisalvo - Thank you for your feedback.

The doc two examples for two separate cases - one for platform image and one for custom image modification on the scale set. The document also calls out restrictions on create time properties related to images:
https://docs.microsoft.com/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-upgrade-scale-set#create-time-properties

Based on you

[2019-06-17 07:14] huislaw commented on #33226
Thanks, any update so far?

[2019-06-17 07:18] #32800 closed

[2019-06-17 07:32] ManojReddy-MSFT commented on #33053
@kumarallamraju We have not heard from you in a while. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-06-17 07:32] #33053 closed

[2019-06-17 07:34] ManojReddy-MSFT commented on #33385
@skyovi There is no cost involved when you perform an administrative takeover of a viral tenant as Azure AD is a free feature. If you need any licenses for the users in your tenant, then you would have to purchase them accordingly.

[2019-06-17 07:57] sarbosahaisixi opened #33423 "Example fails due to JVM issue"
Hello,

I have followed the steps noted in the tutorial all the way through to creating a notebook and inserting the necessary code to capture Twitter data. However, it fails with the following error message:

notebook:20: error: Static methods in interface require -target:jvm-1.8
  val messageData = EventData.create(message.getBytes("UTF-8"))
                                    ^
notebook:17: err

[2019-06-17 08:06] KalyanChanumolu-MSFT commented on #32822
@thomasvdb just following up to see if you were able to get this issue resolved.
Please provide the support ticket number in case you need any help.

[2019-06-17 08:12] SubhashVasarapu-MSFT commented on #33020
@vhorne , I have raised  a PR against few typos in the above mentioned document. Could you please review and sign off?

[2019-06-17 08:13] jfalameda commented on #33142
Hi,

I now as a fact, that the docker virtual disk needs quite a lot of space,
like 70-90gb in order to work, also little ram will make SF to crash. I am
not a aware of the specifics, but I know as a fact that there are some
limitations.

Adding this information would prevent other users from running into the
same problem.

Kind regards,
/ José.

El sáb., 15 jun. 2019 a las 21:47, Sudhanva Huruli

[2019-06-17 08:21] MSSedusch commented on #33081
@anilbsap mixing the Pacemaker configuration of the SAP NetWeaver (A)SCS and the NFS server is not supported by SUSE or Red Hat. In some situations, having the NFS server and the ASCS in the same Pacemaker cluster can lead to blocking situations that would result in a hanging ASCS stop process. If you want to get rid of the NFS server, you can use Azure NetApp files as described in this article: h

[2019-06-17 08:24] dips23 opened #33424 "Is Synchronization Management is also about database synchronization ?"
Hello,

As far as I understand, directory synchronization is all about synchronizing AD components like users, computers, groups available in Active Directory. However, as per the diagram here, It seems, Identity management also synchronizing databases and exchange email which seems not really clear to me.

Does it mean, Dir Syn helps in the synchronizing database? OR it is the tool to synchronize

[2019-06-17 08:35] ahamedembibe opened #33425 "Typo"
['SchemaName') supposed to be 'SchemaName').

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f155bac-1a8d-184d-6fe8-8784ec0e86bb
* Version Independent ID: 8943d45f-d066-0c23-a01d-e4ef4200f4e7
* Content: [Tutorial: Use Azure Database Migration Service for an online migration of RDS MySQL to Azure Database for MySQL](htt

[2019-06-17 08:43] PramodValavala-MSFT commented on #33288
@lucashuet93 Thanks for catching that! We have raised a PR to fix it.

[2019-06-17 08:43] msrini-MSFT commented on #33404
@brent-robinson , If you are using Azure P2S, then clients can connect using 3 modes. IKEv2, SSTP or Open VPN. For the client who uses SSTP or OpenVPN, outbound port 443 needs to be allowed. For the clients who are using IKEv2, UDP ports 500 or 4500 needs to be opened by the Firewall of the Client.

Can I have my SSTP or OpenVPN clients behind forward/reverse proxy -  Is it your question?

[2019-06-17 08:46] DixitArora-MSFT commented on #33243
@StefanIvemo For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply.

[2019-06-17 08:46] #33243 closed

[2019-06-17 08:46] VikasPullagura-MSFT commented on #32996
@OzBob Do you have any update on the issue?

[2019-06-17 08:50] BhargaviAnnadevara-MSFT commented on #33422
@dave-read Thanks for the feedback! This detail would certainly be helpful to find in the Troubleshooting doc. I've assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-17 08:56] dominicbetts commented on #21642
Hi @romankiss - I'm going to request that this issue is closed. Please feel free to reopen it if you have any follow-up questions related tot he IoT Central docs.
Thanks, Dominic

#please-close

[2019-06-17 08:56] #21642 closed

[2019-06-17 08:57] tariqjaber opened #33426 "Optional Secret Token field"
Hello,
Is this field optional or the documentation need to be updated to remove "Optional" if it is required for new implementations?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45cb3eec-7693-4e22-bcde-3f85d5a4be14
* Version Independent ID: 506c3302-e823-8f1e-d547-083ef0b664df
* Content: [Automate provisioning of ap

[2019-06-17 08:57] DixitArora-MSFT commented on #33268
@swagulkarni Just checking if you have [follow this ](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-java-maven)and see if it helps.

[2019-06-17 08:59] msrini-MSFT commented on #33411
@lp-code , Thank you for bring this up. The parameter --remote-vnet-id is deprecated. You need to use **--remote-vnet** and specify the ID or Name.

I will update the document. Here is the reference of VNET Peering create CLI: https://docs.microsoft.com/en-us/cli/azure/network/vnet/peering?view=azure-cli-latest#az-network-vnet-peering-create

[2019-06-17 09:00] smereczynski opened #33427 "Supported OS versions"
RHEL 7.6 and Centos 7.6 are not supported yet. please change.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17a20cc3-d50f-ff9f-d781-ecfeb366807f
* Version Independent ID: 12557b74-5318-f7c6-3098-544bc9634c04
* Content: [Learn about Azure Image Builder for Linux Virtual Machines (preview)](https://docs.microsoft.com/en

[2019-06-17 09:01] StefanIvemo commented on #33243
@DixitArora-MSFT Is it being closed because it's not possible and treated as a feature request? @gs11 I've added a feature request to the feedback forum https://github.com/MicrosoftDocs/azure-docs/issues/33243#event-2416864971.

[2019-06-17 09:07] DixitArora-MSFT commented on #33243
@StefanIvemo Sure. Internally also I will bring traction to this.

[2019-06-17 09:08] msrini-MSFT commented on #33411
@KumudD , Can you review and approve the PR which I have made?

[2019-06-17 09:27] ChiragMishra-MSFT commented on #33423
@sarbosahaisixi Thanks for bringing this to our notice. It's a duplicate issue of
https://github.com/MicrosoftDocs/azure-docs/issues/32295

A workaround for now would be to setup a cluster with Databricks Runtime Version 5.2.

I will now proceed to close this thread and reference this on the main thread. Please feel free to comment on the other one.

[2019-06-17 09:43] CHEEKATLAPRADEEP-MSFT commented on #33425
@ahamedembibe Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/79789.](https://github.com/MicrosoftDocs/azure-docs-pr/pull/79789.)

The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love

[2019-06-17 09:43] #33425 closed

[2019-06-17 09:44] VikasPullagura-MSFT commented on #33391
@pipern I have raised a PR. The changes will be reflected once approved.

[2019-06-17 10:23] cuongdnv opened #33430 "How to deploy a container from ACR to AKS using Helm"
I want to deploy an ACR (Azure container registry) service to AKS (Azure Kubenetes Service) using Helm.
I have setup the AKS.
I have an ACR service.

Please show me how to deploy a container from ACR to AKS using Helm.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6afe8c14-efa4-31a6-9fd9-e68f2d878226
* Version Indepen

[2019-06-17 10:38] AshokPeddakotla-MSFT commented on #24335
@ondrejspilka Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-06-17 10:38] #24335 closed

[2019-06-17 10:45] ram-msft commented on #33141
Thanks @AngryVirginian. @diberry Could you please update the document to the 'context' object to request the answer to the user's question and include follow-up prompts.

[2019-06-17 10:46] Sudharma commented on #33174
@TravisCragg-MSFT I assumed that since the feedback was almost 3 years ago and the product would have matured in this case hence I added that as reference! Could you then suggest how do we add the health probe at different port other than application! I am currently doing as follows,

1. Create seperate probe for health and create seperate http-setting and map it.
2. create seperate probe for actu

[2019-06-17 10:49] ram-msft commented on #33257
@ericjiang18 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-17 10:49] #33257 closed

[2019-06-17 10:54] SubhashVasarapu-MSFT commented on #33064
@KeiroKamioka0000 , Appreciate your patience.Receive-side network processing in multi-core virtual machines is conventionally bottle-necked by the fact that a single virtual processor services all the interrupts from a virtual network adapter. Virtual Receive-side scaling solves this problem by enabling a network adapter to distribute its network processing load across multiple virtual processors

[2019-06-17 10:54] #33064 closed

[2019-06-17 11:00] bakerm00 opened #33431 "LDAP query basics "link" redirects to https://docs.microsoft.com/en-us/exchange/"
'LDAP query basics' redirects to https://docs.microsoft.com/en-us/exchange/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b1a608e-ed83-547e-cfa4-4ce59bfc5515
* Version Independent ID: a5f7df2c-cd86-bc1c-51c8-404a3ae88d35
* Content: [Bind using Secure LDAP (LDAPS) to an Azure AD Domain Services managed domain](https:/

[2019-06-17 11:17] SnehaAgrawal-MSFT commented on #33424
@dips23 Thanks for the question! We are investigating and will update you shortly.

[2019-06-17 11:20] SnehaAgrawal-MSFT commented on #33426
@tariqjaber Thanks for the question! We are investigating and will update you shortly.

[2019-06-17 11:23] SnehaAgrawal-MSFT commented on #33427
@smereczynski Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-17 11:27] SnehaAgrawal-MSFT commented on #33430
@cuongdnv Thanks for the question! We are investigating and will update you shortly.

[2019-06-17 11:29] SnehaAgrawal-MSFT commented on #33431
@bakerm00 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-17 11:34] saschastops opened #33432 "Clarify the meaning of "Not supported""
Hello, when the article states domain controllers and VDI are "not supported" does that mean it cannot be done or does it mean we have take prevent it from happening so that the environment remains in a supported state. E.g. domain controllers will they simply not join AAD or do we have exclude them from joining (e.g. setting registry key to block the join.)
Thank you

---
#### Document Details

⚠

[2019-06-17 11:43] ManojReddy-MSFT commented on #33431
@bakerm00  Thanks for reporting this.
@MikeStephens-MS It looks like the original reference was set to a TechNet article which has been moved. I found a reference to that in the internet archive [here ](https://web.archive.org/web/20150107115343/https://technet.microsoft.com/library/aa996205.aspx). Can you update the doc with the new reference?

[2019-06-17 12:00] jakaruna-MSFT commented on #33430
@cuongdnv We can achieve this using 2 ways.
- You can give [access](https://docs.microsoft.com/en-us/azure/aks/tutorial-kubernetes-deploy-cluster#configure-acr-authentication) to AKS to pull images from the ACI. Once thats done, Then in helm chart you need to provide only the ACR image url. Authentication is taken care by the role assignment.
- You need to create a secret as described [here](https

[2019-06-17 12:01] JohnTaylor-Fuse opened #33433 "How do we request updates to this page and the"
I work at Fuse and the base URL shown on this page and for the underlying configurations are incorrect. The base URL should be https://{tenantname}.fuseuniversal.com

What do I need to do to request this update?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b749a044-2daf-7704-6ca7-e2026b5a838c
* Version Independent ID

[2019-06-17 12:06] rabbboudi commented on #33089
@Karishma-Tiwari-MSFT I see but why the best practice is to put all the VM's disks in the same storage account ? is it to faciltate the administration only ?

[2019-06-17 12:08] ManojReddy-MSFT commented on #31078
@lightupdifire We have not heard from you in a while. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-06-17 12:08] #31078 closed

[2019-06-17 12:12] brushwood24 commented on #33034
I deleted the original VM and then recreated it without adding it to an availability set.

The currently set value of the OSDisk.CreateOption property is "Attach"

[2019-06-17 12:22] benbelow commented on #33086
Hi @ggailey777 ,

I don't believe so.

(a) I'm not running anything in a linux container, I'm using windows.
(b) I'm talking about the settings used for *local development*. I would not expect to need to look anywhere else in the documentation except the local setup instructions for restrictions on what can be set as an app setting in `local.settings.json`

[2019-06-17 12:42] KalyanChanumolu-MSFT commented on #33278
@achandlerwhite Bandwidth charges for data transfer are applicable and billed as per the rates [here](https://azure.microsoft.com/en-us/pricing/details/bandwidth/)

[2019-06-17 12:42] ManojReddy-MSFT commented on #33222
@GavinEke I am afraid it is currently not possible to populate the strongauthneitcationinfo details with PS directly. This is a widely requested feature and I would recommend voting for this [here](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/33487279-pre-provision-mfa-strongauthenticationuserdetails).

A possible solution here is locking down the Azure portal, howev

[2019-06-17 12:47] KalyanChanumolu-MSFT commented on #33278
Tagging @rimman @SnehaGunda for awareness

[2019-06-17 12:58] SubhashVasarapu-MSFT commented on #33116
@carteixeira , Custom DNS will be holding a private IP which can be driven by allowing virtual network tags under NSG by default. But where as Azure DNS will be holding an IP which can be only driven when there is a allow rule for AzureLoadBalancer Tag in NSG. Since you have an a deny outbound rule with higher priorities. You need to explicitly allow azure loadbalancer tag in the NSG for successfu

[2019-06-17 12:58] #33116 closed

[2019-06-17 13:13] SubhashVasarapu-MSFT commented on #33179
@TomaszOledzki , Appreciate your patience. The above post i have mentioned earlier talks about the WAF for frontdoor. I am assigning this to the author for updating the document accordingly. @vhorne , Could you please provide your insights on this issue.

[2019-06-17 13:22] SubhashVasarapu-MSFT commented on #33415
@paulkel , I have assigned this issue to the respective author for editing the document accordingly. @b-juche , Could you please have a look in to this issue?

[2019-06-17 13:26] Philo commented on #15639
While this does work, it requires a second routing rule, with a service charging model based on number of routing rules I feel there should be something more intrinsic to the service to support this.

[2019-06-17 13:27] marcinpraczko opened #33434 "Not clear details how to use SSL cert"
On your documentation there are nice pages which help with Certificate Authorization (which is recommended by you). However I do not clearly see what ~/.azure/credentials should look like for Certificate Auth, only for Password based.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38838df3-4e07-1722-d828-e38e00fc296e
*

[2019-06-17 13:27] KalyanChanumolu-MSFT commented on #33277
@SQLBrander sys.resource_stats_raw is specific to Managed Instance only.
The article in question is Azure SQL Database. Please post the scripts that didn't work for you.

[2019-06-17 13:28] adderly commented on #16691
Is this solved?

[2019-06-17 13:36] kavitajoshi commented on #31924
Hello Hirsch,

I have tried with //.default as well with no success.

Attached is 401 response from Chrome dev tool. Also see console output of User object from getAccount() & Response to call acquireTokenSilent(tokenRequest) methods.
[cid:image002.jpg@01D524F0.1C2BC840]

From: Hirsch Singhal <notifications@github.com>
Sent: June 14, 2019 10:22 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.g

[2019-06-17 13:39] craigshoemaker commented on #33185
@jcbrooks92, @PramodValavala-MSFT - Good catch. I merged a PR that explicitly states that DI support begins with v2.x. Here's what I added:

This change will go live this morning.

#please-close

[2019-06-17 13:39] #33185 closed

[2019-06-17 13:39] GruffDan commented on #26570
Everything for Google crap...

[2019-06-17 13:40] jcbrooks92 commented on #33185
Thanks Craig!

[2019-06-17 13:40] GruffDan opened #33435 "Helpful!!!"
Thanks ever so much!!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac9e8541-82eb-c4c5-5ed1-ff135a27e5ea
* Version Independent ID: 651b56dd-d7cb-1c25-2e4d-52bc6a513d78
* Content: [Azure MFA sign-in with two-step verification - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/user-help/m

[2019-06-17 13:41] thomasvdb commented on #32822
@KalyanChanumolu-MSFT I just had a call with a support engineer and we're trying to work things out. I'm awaiting feedback right now but support has been great so far!

[2019-06-17 13:44] rokulka commented on #30336
Please try running the below query -

traces
    | where message  contains "generateanswer"
    | extend question = tostring(customDimensions['Question'])
    | extend answer = tostring(customDimensions['Answer'])
    | project timestamp, question, answer

This should provide all relevant information except the response duration field.

[2019-06-17 13:49] #33388 closed

[2019-06-17 13:50] rokulka commented on #30336
Please try the below query for your specific timerange -

traces
    | where message  contains "generateanswer"
    | extend question = tostring(customDimensions['Question'])
    | extend answer = tostring(customDimensions['Answer'])
    | extend kbId = tostring(customDimensions['KbId'])
    | project timestamp, kbId , question, answer

We might not be able retrieve the response duration field.

[2019-06-17 14:00] bvandersen opened #33436 "Typo"
This sentence: "Deny assignments follow a similar pattern as deny assignments..."
Should've probably said: "Deny assignments follow a similar pattern as role assignments..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5bc146ac-d530-fccb-0157-43cfcaeab937
* Version Independent ID: 84376ebf-b328-39b0-5435-569a31c879e1

[2019-06-17 14:01] rokulka commented on #33141
The above documentation link is form multi-turn/hierarchical KBs.

By using the 'context' : {} , we expect the new azure search index schema for multi-turn to be present. If you have an old index, using the context flag won't return any results.

Hope this helps.

[2019-06-17 14:03] cephalin commented on #32934
Thanks guys for the feedback. I've added a note in the [Grant database access to identity](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-connect-msi#grant-database-access-to-identity) to spell out the limitations and to bring visibility to the below section. I don't want to actually change the flow of the tutorial because I want minimize steps to the working scenario

[2019-06-17 14:17] linushak commented on #30269
Any update on this? @orbus-dkreivenas did you find a workaround? We are experiencing exactly the same behaviour.

[2019-06-17 14:22] orbus-dkreivenas commented on #30269
Unfortunately, no still waiting for a response. Currently, we left it as it is, as we only perform soft delete on our side.

[2019-06-17 14:24] miksch27 commented on #32341
Thank you. Well, your answer and Oracle/Microsoft plans generate further questions. I'm going to ask later on other places. But so far, thank you!

[2019-06-17 14:24] MarkDNL commented on #32765
There is still a fundamental difference between https://azure.microsoft.com/en-us/pricing/details/application-gateway/ and  https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-autoscaling-zone-redundant#pricing when it comes to pricing:

AppGwv2 gateway hours: $0,008 per hour on pricing page vs $0,20 per hour on the docs page.
LCU: $0,26 per gateway-hour on the pricing p

[2019-06-17 14:26] linushak commented on #30269
@orbus-dkreivenas Cool. As Azure AD performs a hard-delete 30 days after the soft-delete, have you experienced that automatic deletion to be sending the DELETE request as expected?

[2019-06-17 14:28] CeciAc opened #33438 "Warnings when executing this script"
Hi team,
I'm moving this from here: https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/391
The user is reporting an error with the script

@rfcdejong commented 6 hours ago

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04f5da69-0386-feb0-469a-788ae89d3a3d
* Version Independent ID: 27031537-f436-7252-b73c-7f8edbc1

[2019-06-17 14:31] orbus-dkreivenas commented on #30269
@linushak We did not wait for 30 days so cannot confirm. I suspect that the request will not come due to scim provisioning and Azure AD hard delete being separate processes.

[2019-06-17 14:35] AlissonRS commented on #32612
@BryanTrach-MSFT thanks for your help, that was very helpful.

There are continuous and triggered webjobs. In what state should a triggered webjob be when it's not processing/running?

e.g a webjob that is triggered by a storage queue, but there has not been any messages enqueued for a few days, therefore the webjob has not been running since then. What is the status the webjob will be while waiti

[2019-06-17 14:44] miksch27 commented on #32341
Sorry @romitgirdhar. I try a short question: If you don't offer Oracle XE on Azure because of 'certificed on Azure' . Where are the benefits of using 'certified on Azure' .. What and where are the differents that require a certification from Microsoft VMs for 18 XE? From customer point of view I don't see it (except maybe the licence cost) Oracle 12c image or Oracle 18XE in an Azure Image. What is

[2019-06-17 14:59] swagulkarni commented on #33283
Thanks @PramodValavala-MSFT
Is there a similar SDK that I can use to rotate keys in Azure Cosmos DB?

[2019-06-17 15:06] KehindeOwens commented on #30836
I have the same issue as KlaBier. Microsoft is mentioning that these conditional access rules will supersede ATL but I don't see how sign-in frequency or persistent sessions correlate with setting ATL to let's say "an hour". I'm not saying it doesn't, i'm just curious as to where this documentation is.

[2019-06-17 15:09] ericjiang18 commented on #33257
I ran into error somehow

 File "Training.py", line 39, in <module>
    bus_stop_tag = next(filter(lambda t: t.name == "postive", trainer.get_tags()), None)
TypeError: get_tags() missing 1 required positional argument: 'project_id'

[2019-06-17 15:09] ericjiang18 commented on #33257
@ram-msft

[2019-06-17 15:18] sergaz-msft commented on #30574
Hi @bearrito let us know if this issue can now be closed? Thank you.

[2019-06-17 15:25] MicahMcKittrick-MSFT commented on #33438
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-17 15:26] sergaz-msft commented on #32668
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-17 15:26] #32668 closed

[2019-06-17 15:37] MicahMcKittrick-MSFT commented on #32223
@cynthn looks like @danis is not part of this repo anymore. Do you know who we can work with on this issue?

[2019-06-17 15:43] xenalite opened #33442 "What permissions are required on the source repository?"
Can you outline what permissions are required on the source registry to perform this command?
I am attempting to do "Import from a registry in a different subscription", but I keep getting this:
[code]

I tried assigning "Reader", "AcrPull" and "Contributor" on "omtest1" registry and none of these seem to work.

Command used:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is re

[2019-06-17 15:43] brandonh-msft opened #33443 "How to utilize other Logging services/platforms?"
This page should provide information on if/how other platforms can be used "natively" with Azure Functions. i.e. can I, somehow, make ILogger an NLog object? Some other logging platform? If not, it should be called out so customers aren't banging their heads against a wall trying to do it. If so, we should have an example of how to do this.

---
#### Document Details

⚠ *Do not edit this section.

[2019-06-17 15:48] MicahMcKittrick-MSFT commented on #33442
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-17 15:51] MicahMcKittrick-MSFT commented on #28822
FYI, the Product team is aware of the issue with the India Region. At this time, there is no ETA on when a fix will be deployed. Seeing as this is a preview feature the product team is aware and will work on a fix prior to any GA date.

We will close this for now. The comment will remain on this doc so others are also aware of this bug.

[2019-06-17 15:51] #28822 closed

[2019-06-17 15:53] MicahMcKittrick-MSFT commented on #32209
We are tracking this bug here: https://github.com/Azure/AKS/issues/1029

Please follow that issue for any updates around this bug.

[2019-06-17 15:53] #32209 closed

[2019-06-17 15:53] oddhair opened #33444 "Could you mention incompatibility with the Microsoft Teams Rooms?"
We're installing some Microsoft Teams Rooms at organizations with this feature required for all users. I don't believe that it compatible at this time and a nod to that on the documentation of this feature would help a lot in convincing the more security-conscious to relax the two-factor auth in light of the possibility of automatic password rotation.

---
#### Document Details

⚠ *Do not edit thi

[2019-06-17 15:54] MicahMcKittrick-MSFT commented on #33142
Thanks for the info @jfalameda

@suhuruli I will assign this issue to you to continue the work :)

[2019-06-17 15:55] MicahMcKittrick-MSFT commented on #33324
@SychevIgor I will close this for now as no doc enhancements are needed on this doc. If you have further info you want to share feel free to let me know and we can always reopen and continue the discussion.

[2019-06-17 15:55] #33324 closed

[2019-06-17 15:56] MicahMcKittrick-MSFT commented on #33336
Got it. You can find more information about OS Family here:

https://docs.microsoft.com/en-us/cli/azure/batch/pool?view=azure-cli-latest#az-batch-pool-create

[2019-06-17 15:56] #33336 closed

[2019-06-17 15:57] MicahMcKittrick-MSFT commented on #33366
@sonpeppers I will close this for now. If you have further comments just let me know and we can always reopen and continue the discussion.

[2019-06-17 15:57] #33366 closed

[2019-06-17 15:58] hpsin commented on #31924
Where did you find this scope? The yammer documentation has their own oauth setup that doesn't talk about AAD, and my guess is that they're rejecting your token because it's not issued to an app on the trusted apps list in the response.

[2019-06-17 16:01] MicahMcKittrick-MSFT commented on #33371
@randyshoopman thanks for pointing this out. The majority of the doc has been updated to use the new Az Module but it looks like a few lines were missed. I have corrected the doc.

Once the PR merges the changes will go live after a few hours.

[2019-06-17 16:01] #33371 closed

[2019-06-17 16:03] MicahMcKittrick-MSFT commented on #33375
@sonpeppers there is not a specific way to delete by last pull. However, I think that would be a great idea. Please file a feedback request for ACI here: https://feedback.azure.com/forums/602224-azure-container-instances

That way others can see your suggestion and upvote the suggestion. This will allow the product team to prioritize the feedback and consider implementing that feature into ACI.

[2019-06-17 16:03] #33375 closed

[2019-06-17 16:07] MicahMcKittrick-MSFT commented on #33392
@bbaassssiiee I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-17 16:08] areddish commented on #33257
@ericjiang18 Sorry, I missed the arg in the snippet, will edit but it should be:

[code]

[2019-06-17 16:08] MicahMcKittrick-MSFT commented on #33403
@sapatelbaps thanks for this feedback. In my experience I have not had to run this step. However, it might be good to note regardless. I will assign to the content author to review and consider adding this note.

[2019-06-17 16:10] KeepSloanWeird commented on #33304
Any updates?

[2019-06-17 16:12] b-juche commented on #33415
Please assign to @ram-kakani (@Ram Kakani<mailto:Ramakanth.Kakani@microsoft.com>).  Ram is the technical author of this article.  I only helped converting the content for publishing.

From: suvasara <notifications@github.com>
Sent: Monday, June 17, 2019 6:22 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Chen, Julie <Julie.Chen@netapp.com>; Mention <mention@noreply.github.com>

[2019-06-17 16:12] MicahMcKittrick-MSFT commented on #33413
@mikaelsnavy thanks for pointing this out. The correct link is

https://docs.microsoft.com/en-us/azure/aks/windows-node-limitations

I have corrected the document. Once the PR merges the changes will go live after a few hours.

[2019-06-17 16:12] #33413 closed

[2019-06-17 16:14] MicahMcKittrick-MSFT commented on #33438
@rfcdejong thanks for pointing this out. The warning can simply be ignored. The item being deprecated does not impact this script. Thank you for letting us know though.

[2019-06-17 16:14] #33438 closed

[2019-06-17 16:16] MicahMcKittrick-MSFT commented on #33387
@cuongdnv at which step in the doc are you getting this error?

[2019-06-17 16:18] MicahMcKittrick-MSFT commented on #29190
@mayanknayar this is the issue we have been discussion offline. Can you take a look further here? We can all schedule a call if needed.

[2019-06-17 16:21] shashishailaj commented on #33435
@GruffDan Thank you for your comment . Its great to know that the current article is helpful for you . Please let us know in case you require any changes in the documentation and we will help you further.

[2019-06-17 16:26] bbaassssiiee commented on #33392
I cleaned my osx system python, it had an version of ansible installed that misguided the play. Normally you would use brew or conda to run a decent version of python on the Mac.

[2019-06-17 16:26] #33392 closed

[2019-06-17 16:26] b-juche commented on #33415
+@paulkel<https://github.com/paulkel> -- @ram-kakani (@Ram Kakani<mailto:Ramakanth.Kakani@microsoft.com>) is the technical author of this content and can answer/address your questions.

From: Chen, Julie
Sent: Monday, June 17, 2019 9:13 AM
To: MicrosoftDocs/azure-docs <reply@reply.github.com>; MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>; Ram Kakani <Ramakanth.Kakani@microsoft.com>
Cc:

[2019-06-17 16:32] MicahMcKittrick-MSFT commented on #33434
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-17 16:32] cuongdnv commented on #33430
In first way. How can i provide ACR image url to helm chart. Give me an example please? (The helm file with provided url )
Thanks you.

[2019-06-17 16:33] Grace-MacJones-MSFT commented on #33373
Thanks for the detailed feedback @scottkdavis. I have assigned the issue to the content author to evaluate and update the doc as appropriate.

[2019-06-17 16:33] rachel-msft commented on #20758
Thanks for the confirmation @afmorris. And thank you to all for your patience and help.

[2019-06-17 16:33] aaron-entwistle commented on #32522
@seesharprun It looks like it's base64 encoding.

[2019-06-17 16:33] faheemhkhan opened #33445 "Needs updating"
In very small writing it states on how to connect to the subscription but doesn't advise on how to do this for our Government customers. This needs to be in the sample script or bolded.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aaf8069a-d18b-a8b2-be13-0025059a22dd
* Version Independent ID: 127759a9-8f34-525f-c4d5-

[2019-06-17 16:41] KumudD commented on #33411
@anavinahar Please can you review and approve if accurate. Thanks!

[2019-06-17 16:46] ggailey777 commented on #21078
@taromielnaz as I mentioned, for version 2.x of the Functions runtime, F# script is no longer supported. Probably the best thing is create a new F# class library project in Visual Studio and add the package [Microsoft.NET.Sdk.Functions](https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/). At this point, you should basically be able to follow the general steps for developing and publishing

[2019-06-17 16:46] #21078 closed

[2019-06-17 16:50] nehagup opened #33447 "net/http: request canceled (Client.Timeout exceeded while awaiting headers)"
In the Face API [Quickstart Golang tutorial](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/cognitive-services/Face/QuickStarts/go.md#write-the-script), the image url used is secure (using https). The connection may work most of the time, but it sometimes fails to fetch images and throws `Failed to connect: net/http: request canceled (Client.Timeout exceeded while awaiting header

[2019-06-17 16:50] ericjiang18 commented on #33257
@areddish
I somehow got this error:
AttributeError: 'NoneType' object has no attribute 'id'

[2019-06-17 16:53] areddish commented on #33257
That’s the error you’d get if you don’t have project set to a valid project object.

[2019-06-17 16:53] suchiagicha commented on #33071
@leen89757
Why you are upgrading from V2_1 to V2?
V2_1 is the latest version for remoting and the recommended one.
Because of the interface types issues in V2 , we released V2_1 . V2_1 supports the interface return types.

[2019-06-17 16:54] cynthn commented on #32223
@danielsollondon can you jump in on this thread?

[2019-06-17 16:56] ColinLaws commented on #33338
I originally found this issue and posted it to Stack Overflow. I have contacted the Azure SQL and Azure Event Grid engineers. The response from the team indicated that a webhook will not be sent by Azure Event Grid for the 'Create new database from DacPac' operation when called via the REST API, as the REST API returns a '202 Accepted' and not a '200 OK'.

I was instructed that to get the status o

[2019-06-17 17:02] vpopescu commented on #33387
The problem is that the version is being passed as "None" if not specified. Shouldn't it pick a reasonable default (latest?) when creating a new cluster with no version specified, and keep the current version when testing if the cluster exists, again with no version specified? Seems that kubernetes_version is now required across the board.

(fix for the OP post is to specify kubernetes_version)

A

[2019-06-17 17:02] MicahMcKittrick-MSFT commented on #33445
@faheemhkhan we have separate documentation for Azure Gov customers

https://docs.microsoft.com/en-us/azure/azure-government/documentation-government-get-started-connect-with-ps

The connection to Azure Subscription is also included in many other docs so we don't want to go into too much detail in this doc.

At this time we plan to leave this doc as is. However, your comment will remain on this do

[2019-06-17 17:02] #33445 closed

[2019-06-17 17:14] AndrewDarby opened #33450 "compression should give preference to brotli over other device accepted encodings"
I am using Azure CDN Standard from Verizon.
Using a browser with "Accept-Encoding: br" does result in asset being brotli compressed.
However, most current browsers that support brotli, provide a header with "Accept-encoding: gzip, deflate, br". In this case the browser supports brotli, but the CDN returns gzip assets and not brotli compressed assets.
Can the CDN provider change this behaviour, or

[2019-06-17 17:15] aljo-microsoft commented on #33309
@Darko-git
If I understand correctly, using the content referenced, you provisioned a cluster using common name and issuerthumpbrint pinning. The Parameter "certificateIssuerThumpbrint" value isn't being declared in your template or parameters file, but your cluster is reference to this parameter that isn't defined isn't causing your any issues?

[2019-06-17 17:17] cradle77 commented on #21911
Hello @johndowns , did you ever get through this?

I'm facing the same issue, however I noticed that the assignment gets effectively created. I'm not very comfy with the idea of trapping the any error in the cmdlet to deal with the Forbidden issue

[2019-06-17 17:18] mdgattuso commented on #33450
Azure CDN from Verizon prefers other types of compression over brotli and this is not configurable. If you would like to have your content brotli compressed, you can use Azure CDN from Microsoft. The Microsoft tier does prefer brotli over other types of compression.

[2019-06-17 17:20] MarileeTurscak-MSFT commented on #33436
@bvandersen
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-17 17:21] rajrao opened #33451 "Examples needed"
I wish this page had examples, as I am not sure how to read the grammar as defined.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89ecf634-12c0-e66f-63fa-96acfad3fe5c
* Version Independent ID: 2f49b2a0-6706-5af8-4a60-faa07019c770
* Content: [SQLRuleAction syntax reference in Azure](https://docs.microsoft.com/en-us/azu

[2019-06-17 17:21] MarileeTurscak-MSFT commented on #33444
@oddhair
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-17 17:23] MarileeTurscak-MSFT commented on #33433
@JohnTaylor-Fuse
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-17 17:24] MarileeTurscak-MSFT commented on #33432
@saschastops
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-17 17:28] v-videba commented on #9764
Currently when you create an AADDS, the NSG rule on port 443 is restricted with a Service Tag named AzureActiveDirectoryDomainServices.  Perhaps you can use this on your case @ianblenke

[2019-06-17 17:30] MarileeTurscak-MSFT commented on #33433
Hi @JohnTaylor-Fuse , thanks for catching this. You can make a pull request by hitting the "edit" button on the top right corner of the article, and then clicking "edit this article" in the top right corner on the next page. Feel free to try it! I am also happy to do this for you if you would prefer.

[2019-06-17 17:40] lastcoolnameleft opened #33452 "Missing Document"
docs.microsoft.com does not have an document for how to change an Azure Subscription Name.  However, docs.azure.cn does.  Can someone please port this document over to docs.microsoft.com?

https://docs.azure.cn/en-us/billing/billing-how-to-change-azure-account-profile

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7d3

[2019-06-17 17:42] ericjiang18 commented on #33257
@areddish i am pretty sure I have the project object, but still shows error

[2019-06-17 17:43] MisinformedDNA commented on #32931
Added [feedback request](https://feedback.azure.com/forums/281804-azure-resource-manager/suggestions/37939288-allow-actual-output-of-type-securestring).

[2019-06-17 17:49] vishiy commented on #33129
Should be fixed. Please ensure browser cache is cleared before trying out. Thanks.

[2019-06-17 17:53] Karishma-Tiwari-MSFT commented on #33115
@TiloGit Can you please confirm that you upgraded the AKS cluster using [this section](https://docs.microsoft.com/en-us/azure/aks/upgrade-cluster#upgrade-an-aks-cluster) and not the node pool?

[2019-06-17 17:57] bartvermeersch opened #33453 "Graph call or Manifest in App registration"
Can we change the manifest directly through the App registration instead of using an HTTP PATCH graph call?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11a39d87-a57c-ef0b-eb9f-286d3ee65141
* Version Independent ID: a1257f6d-fa84-8470-8ad8-f63d0dcbca20
* Content: [Configure the role claim issued in the SAML token for

[2019-06-17 17:58] BryanTrach-MSFT commented on #32612
@AlissonRS Good catch, the status for that would be 'Ready', which means the webjob is in a ready state to be triggered and complete the request.

[2019-06-17 18:00] TiloGit commented on #33115
upgrade via Azure portal (GUI) here the URL example for the GUI page:

[2019-06-17 18:01] MashaMSFT commented on #32798
Hi @MNF , thanks again for bringing this to our attention! You're right, one-way replication was added unintentionally. We have removed it :) Thanks again! We'll proceed with closing out this Git Issue but please feel free to respond should you need anything further. #please-close

[2019-06-17 18:01] #32798 closed

[2019-06-17 18:04] ahamedembibe opened #33454 "Warning after migration cutover"
Getting following error after database migration cutover (for most of the databases migrated from RDS --&gt; Azure MySQL).

Migration Details section says "Completed with warning" and below found in "Error Details" section.

Error type
Warning
Error Detail
Migration completed with Warning(s)
Error Events
[

"Truncation of a column occurred while fetching a value"
]

---
#### Document Details

⚠ *D

[2019-06-17 18:06] HJToland3 commented on #33454
@ahamedembibe, thanks for your comment. I'll get back to you ASAP with additional detail.

[2019-06-17 18:08] StefH opened #33455 "Queue storage trigger link does not point to link on this page"
`Queue storage trigger` link does not point to link on this page.

Change this to:
`https://docs.microsoft.com/en-us/azure/app-service/webjobs-sdk-how-to#queue-storage-trigger-configuration`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4500b14-64b4-4d1b-aae3-f0fd4dde85f2
* Version Independent ID: 8fb75741-37b9-b45f-

[2019-06-17 18:10] TylerMSFT commented on #33430
I've put this overall request on our backlog as proposed item for future doc work.
#please-close

[2019-06-17 18:10] #33430 closed

[2019-06-17 18:15] Mike-Ubezzi-MSFT commented on #33048
Here are the findings from the investigation to date:

•	It takes about 13 mins 30 secs from the beginning of pulling the container until the container is running. It usually takes the container about 3 minutes to switch from the “started” to the “running” state.

•	It takes about 15 to 16 mins and 40 seconds from starting to pull the container until failing to run the container. The time is taken

[2019-06-17 18:15] normesta commented on #33294
Hi @mattgaspar - thanks for the feedback. I've update the article to incorporate that note and to mention that Storage Explorer uses of the account key to authorize. Thanks again.

[2019-06-17 18:15] normesta commented on #33294
#please-close

[2019-06-17 18:15] #33294 closed

[2019-06-17 18:15] promoisha commented on #33409
@amir-microsoft, may I know Api Management instance name in the subj, so I can look into it? Thanks!

[2019-06-17 18:17] normesta commented on #32783
@CIPop - thank you for the feedback! I've updated the article to draw visibility to the --tenant-id switch in cases where folks belong to more than organization. Thx!

[2019-06-17 18:17] normesta commented on #32783
#please-close

[2019-06-17 18:17] #32783 closed

[2019-06-17 18:18] Mike-Ubezzi-MSFT commented on #33048
So, what might be the difference if you run the Cosmos Emulator locally (installed) versus having the Cosmos Emulator as part of the container and run that locally as part of the pipeline?

[2019-06-17 18:26] kgremban commented on #30574
As a note, I have made the documentation updates that I mentioned earlier. There's now three different articles to directly address the three different steps: setting up the gateway, creating trust between the gateway and the leaf, and authenticating the leaf to IoT Hub. I hope these changes help!

[2019-06-17 18:30] rajrao opened #33456 "Examples are needed"
Especially around using dates

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03b00e4d-3af1-d053-373e-7724bc81113b
* Version Independent ID: e0e54223-efc3-f69f-efc1-e19ba0010760
* Content: [Azure Service Bus SQLFilter syntax reference](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-messaging-sq

[2019-06-17 18:31] ahamedembibe commented on #33454
One other database shows below error after the cutover. The warning has below details:

Error Detail

Error type
Warning
Error Detail
Migration completed with Warning(s)
Error Events
[

"Truncation of a column occurred while fetching a value",

"The given Source Change Position points inside a transaction. Replicate will ignore this transaction and will capture events from the next BEGIN or DDL ev

[2019-06-17 18:43] Karishma-Tiwari-MSFT commented on #33386
@cynthia Can you please share your thoughts on the suggestion provided by customer on the editor used in the doc and the wordings. Thanks. :)

[2019-06-17 18:44] kgremban commented on #33361
Hi Arnav, the bot closes issues when the changes are merged into master, but we only publish from master three times a day so there's some delay between merging and the changes showing up live. Please check again, and if there's anything that you see still needs to be fixed just let me know.

[2019-06-17 18:47] Karishma-Tiwari-MSFT commented on #33081
Thanks @MSSedusch
@anilbsap Let us know if that helped answer your question.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-06-17 18:47] #33081 closed

[2019-06-17 18:49] TravisCragg-MSFT commented on #33405
@brent-robinson Yes this should be possible, but it could run into bandwidth limitations. ExpressRoute might be a better option for larger on-prem sites.

[2019-06-17 18:55] igormusinov commented on #31690
Long story short

https://feedback.azure.com/forums/602224-azure-container-instances/suggestions/31660276-cache-the-downloaded-container-image-in-the-contai

[2019-06-17 18:56] igormusinov opened #33457 "Cache the downloaded container image in the Container Instances (preview"
Each time I start a new container, the image is pulled from the repository. Even if I start 10 times the same image. I would like to have the **image cached** (maybe on the resource group level) so that I only get the penalty of pull once. (https://feedback.azure.com/forums/602224-azure-container-instances/suggestions/31660276-cache-the-downloaded-container-image-in-the-contai)

Will this **IMPORT

[2019-06-17 18:56] kgremban commented on #33255
Hi @smoms, licensing and version support is always tricky to communicate. We talk about development and testing on any Windows 10 device, because developers may want to install the IoT Edge runtime on their own Windows 10 machines for inner loop development. However, for deploying IoT Edge in production you should only use devices running the operating system versions listed in the support page.

[2019-06-17 18:57] HeidiSteen commented on #33003
@aasis21 Hi Ashish, did you see my response? Can you circle back and let me know if the link to the non-async API doc resolved your issue?   In general, most customers can and should use async to get thread-reuse so we aren't promoting the sync methods to the same level as async.

[2019-06-17 19:00] msmimart commented on #29786
#reassign:msmimart

[2019-06-17 19:01] msmimart commented on #30269
#reassign:msmimart

[2019-06-17 19:04] msmimart commented on #24510
#reassign:msmimart

[2019-06-17 19:04] msmimart commented on #30439
#reassign:msmimart

[2019-06-17 19:05] msmimart commented on #30545
#reassign:msmimart

[2019-06-17 19:05] smoms commented on #33255
@kgremban thanks. Sorry but to me does not make sense. Because i am asking whether those Windows OS are supported, Yes/No?
By the way I think today I've found the answer here: https://techcommunity.microsoft.com/t5/Azure-IoT/June-IoT-Edge-updates/m-p/690821#M134  What do you think?

[2019-06-17 19:06] msmimart commented on #31291
#reassign:msmimart

[2019-06-17 19:06] msmimart commented on #31292
#reassign:msmimart

[2019-06-17 19:11] FrankHu-MSFT commented on #33323
I see, we are currently looking into this and will get back to you as soon as possible, thanks for bringing this to our attention.

[2019-06-17 19:27] amir-microsoft commented on #33409
Thank you for getting back to me @promoisha
This is more of a general product question, and I rather not share our instance details on a public thread,
If you still need it, maybe we can continue over email?
Thanks!

[2019-06-17 19:29] basilwong opened #33459 "Typo in the 'Fixed Range' Description"
"The value that enter for the expression will be used as part of a partition function."

- Minor grammatical error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f0974c5-2c61-421e-418e-5d2ed2bf123b
* Version Independent ID: b49e84e9-33fc-22eb-f2f5-416226eda328
* Content: [Azure Data Factory Mapping Data Flow Optimize

[2019-06-17 19:29] carteixeira commented on #33116
You did not understand the issue here. It is not that I have the deny outbound rule, it's that the system automatically creates this rule. So, this is confusing because I expect the system to create all the necessary rules, but in this case, it only works if custom DNS is defined on the VNET, if I'm using Azure DNS (default) it does not work unless a rule to allow AzureLoadBalancer is created manu

[2019-06-17 19:37] MicahMcKittrick-MSFT commented on #33457
@igormusinov we have already worked on this issue you brought up

https://github.com/MicrosoftDocs/azure-docs/issues/31690#issuecomment-502808114

I see a uservoice item was created too which has plenty of upvotes already. As more people find this feature useful they can upvote and the Product Team can consider adding that feature.

[2019-06-17 19:37] #33457 closed

[2019-06-17 19:38] Sas002 opened #33460 "How to use Azure Shell programmatically instead from browser"
How to use Azure Shell programmatically instead from browser

[2019-06-17 19:40] MicahMcKittrick-MSFT commented on #33460
@Sas002 is there a specific doc you are referring to?

As per the cloud shell, it just is a instance of PowerShell or Bash. So the commands work the same if you run them on premise vs in the Cloud Shell.

[2019-06-17 19:40] arsing commented on #33361
My bad. I think I missed the "... via PR#" part of the close message.

[2019-06-17 19:44] igormusinov commented on #33457
@MicahMcKittrick-MSFT we've worked , but haven't solve this problem

[2019-06-17 19:44] kgremban commented on #33255
Olivier's post is consistent with what's in https://docs.microsoft.com/azure/iot-edge/support

There's a difference between an operating system that works with IoT Edge, and an operating system that Microsoft declares to be 'generally available' for IoT Edge. The tier 1 generally available operating systems listed in the support page are those that we test before every release and agree to support

[2019-06-17 19:46] MarileeTurscak-MSFT commented on #33436
@bvandersen thanks for catching this! I made a pull request to fix this typo. https://github.com/MicrosoftDocs/azure-docs-pr/pull/79829

It should go live within 24 hours.

[2019-06-17 19:46] #33436 closed

[2019-06-17 19:46] igormusinov commented on #33457
@MicahMcKittrick-MSFT This feature have to be  one the most important. Is there any news about it ?

[2019-06-17 19:49] promoisha commented on #33409
@amir-microsoft sure, my alias is glfeokti

[2019-06-17 19:49] jpda opened #33461 "Limit the domain of sign-in accounts is trivially bypassed"
Adding `domain_hint` to `additionalLoginParams` just changes the outbound request to the identity provider to include `domain_hint` - this can be bypassed by removing the parameter in the request, so the domain isn't whitelisted by anything else. One can still login directly with a different domain. Probably worth it to mention that it isn't a hard whitelist, but a convenience function.

---
####

[2019-06-17 19:51] cijothomas commented on #33299
@awentzel Enabling Application Insights from the portal at run time (https://docs.microsoft.com/en-us/azure/azure-monitor/app/azure-web-apps#enable-agent-based-monitoring-net-core) is NOT supported in Linux Web Apps. You can still onboard to Application Insights at build time following doc below:
https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core

@mrbullwinkle Can you add a ban

[2019-06-17 19:54] CelesteDG commented on #30487
#reassign:rwike77

[2019-06-17 20:01] Karishma-Tiwari-MSFT commented on #33115
The link does not work for me.
Is this the way you upgraded your AKS cluster via Azure portal?

![image](https://user-images.githubusercontent.com/20851144/59632817-f1d77400-90ff-11e9-9d3a-a262d015dc59.png)

[2019-06-17 20:02] Karishma-Tiwari-MSFT commented on #33115
@TiloGit The link does not work for me.
Is this the way you upgraded your AKS cluster via Azure portal?

image
![image](https://user-images.githubusercontent.com/20851144/59632862-13d0f680-9100-11e9-8d5a-95e41c1772d8.png)

[2019-06-17 20:03] CelesteDG commented on #30211
#reassign:rwike77

[2019-06-17 20:03] PRMerger6 commented on #30211
rwike77
 is not a valid GitHub ID, or is not a collaborator on this repo.

[2019-06-17 20:04] aahill commented on #32980
Thanks @YutongTie-MSFT I'll check on the limits for pinning items and add some information about this. #please-close

[2019-06-17 20:04] #32980 closed

[2019-06-17 20:04] CelesteDG commented on #30211
#reassign:rwike77

[2019-06-17 20:14] HJToland3 commented on #33454
@ahamedembibe, for this message specifically, the warning means that any table with LOB columns must have a primary key.  Online migration is not supported otherwise. Still finalizing a response on your first query. Thanks!

[2019-06-17 20:17] t-pash commented on #31924
Few things to make sure:

- Implicit Grant Flow is enabled for your AAD app (msal uses Implicit Grant Flow).  On the app registrations page, go to your app, go to **Authentication** and enable the **Access tokens and ID tokens** under the **Advanced Settings** > **Implicit Grant**. Hit Save.
- Try changing the scopes to "https://api.yammer.com/user_impersonation"
- Make sure your msal config varia

[2019-06-17 20:19] hpsin commented on #31924
Hey @t-pash , the token is being correctly issued, so these are already correct.  This is a problem with Yammer rejecting the token.

[2019-06-17 20:24] nyameen commented on #27534
Hi,

I am interested in this concept as well. Has there been any updates?

Thanks,
Nick

[2019-06-17 20:24] ignacioPastor commented on #29557
I'm getting the same error, I'm running the same commands than @mansetaashok, but in my case, it works if I download LUIS from the UI. But it fails if I use the API to download the LUIS

API call to download the LUIS
[code]

Docker command
[code]

ERROR
[code]
Actually, it really seems to be a compressing error, if I try to uncompress the file downloaded from the UI I can see a file with text, but

[2019-06-17 20:26] swagulkarni commented on #33268
Hi @DixitArora-MSFT  - Yes I have followed the steps provided in the link that you shared.

[2019-06-17 20:36] julianparismorgan commented on #32988
@ggorby / @Alberto-Vega-MSFT, I don't think this is an issue with ASA returning anchors. Rather, it looks like either an issue with the shader or with the material not being assigned properly. I'll look into this and get back to you. cc. @darax / @vriveras

[2019-06-17 20:41] psbds opened #33464 "Problem with --subscription parameter in AKS Virtual-Kubelet"
Hello,

It seems that a problem happens using the --subscription parameter to find the AKS Cluster in another subscription (Also, this parameter doesn't appear in the docs but shows on az aks install-connector -h).

The issue is, if **my cluster is in the subscription ABC** and my current az context is set to subscription **XYZ**

If i run the command:
[code]

The deployment runs just fine, everyt

[2019-06-17 20:42] SaurabhSharma-MSFT commented on #33453
@bartvermeersch Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-17 20:43] SaurabhSharma-MSFT commented on #33357
@rajaprad We will now proceed to close this thread as we haven't heard back. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-06-17 20:43] #33357 closed

[2019-06-17 20:49] HJToland3 commented on #33454
@ahamedembibe, for your first question above, when specifying target details, you should use the Advanced online migration settings below:

- **When source table is truncated** | Specifies whether DMS truncates the target table during migration. This setting can be helpful if one or more tables are truncated as part of the migration process.

- **Configure settings for large objects (LOB) data** |

[2019-06-17 20:52] Karishma-Tiwari-MSFT commented on #33464
@psbds Thanks for the question. We are currently investigating and will update you shortly.

[2019-06-17 20:53] FrankHu-MSFT commented on #32531
@ayprof after looking into this issue further, my suggestion is to file a support ticket with Microsoft as this issue will need a more hands-on approach. Someone from support will be able to help you in a deeper manner to look into what the issue is in your environment. That being said, I'll be closing out this issue by end of day today.

[2019-06-17 20:55] dlepow commented on #33282
@GuyPaddock - Thanks for the great suggestion. I'll update the script to show the untagged manifests that would be deleted if deletion is enabled. This behavior will be similar to the "delete digest by timestamp" script earlier in the article.
#in-progress

[2019-06-17 20:58] Grace-MacJones-MSFT commented on #33461
Hi @jpda, thanks for bringing this to our attention.  We'll investigate and updated the documentation as appropriate

[2019-06-17 20:58] SaurabhSharma-MSFT commented on #33266
@padoughe The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2019-06-17 20:58] #33266 closed

[2019-06-17 20:58] vhorne commented on #33262
Custom WAF rules article updated to match the What's New article statement that this is a v2 feature.

[2019-06-17 20:58] vhorne commented on #33262
#please-close

[2019-06-17 20:58] #33262 closed

[2019-06-17 20:59] diberry commented on #29557
@AmirGeorge Can you please work with @ignacioPastor?

[2019-06-17 21:04] VergilPrime opened #33465 "Caching Rules panel is seperate from Azure?"
Clicking the "Caching Rules" button only allows you to open another separate panel, there should be instructions for using this panel instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 454efdf2-6764-efd3-0c96-b372bd7fc436
* Version Independent ID: 73f53a96-7cfc-897f-c7d7-bc07740db699
* Content: [Manage expiration

[2019-06-17 21:08] the-blesss opened #33466 "New-AzStorageAccount is not taking the -kind option in my testing using Azure PS Cloud console"
Az module 1.5.2
If I leave the -kind option off, the storage account creates without error. It appears to complete with the -kind option too, but it throws the error that this option is not recognized.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cf8ca6e-bad1-958a-6f3a-2fb746271b77
* Version Independent ID: 9d6338f7

[2019-06-17 21:12] MarileeTurscak-MSFT commented on #33433
@JohnTaylor-Fuse I made a PR to the article which should go live in 24 hours. If you have anything else you would like to change please feel free to do the same. https://github.com/MicrosoftDocs/azure-docs-pr/pull/79838

[2019-06-17 21:12] #33433 closed

[2019-06-17 21:12] vhorne commented on #33020
@SubhashVasarapu-MSFT
Please provide a link to the PR.

[2019-06-17 21:14] chadmcox opened #33467 "Sign-on URL isnt needed"
Under Configure Azure AD single sign-on, 5. Sign-on URL doesn't seem to be needed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85cbe739-d436-c414-8ad0-1197ff2af011
* Version Independent ID: b0d675ef-1efd-eec6-cf82-a39b07472b98
* Content: [Tutorial: Azure Active Directory integration with Jamf Pro](https://docs.micro

[2019-06-17 21:18] mansetaashok commented on #29557
Hello @RohitMungi-MSFT @diberry @AmirGeorge,

I am also facing an error while running container as Kubernetes pods.

I have created a Kubernetes cluster in Azure (AKS) and it's working fine, However when I deploy the same in Customer's UCP (Universal Control Plane) Docker environment, encountered with below error after starting the container.

[code]

Can Anyone please help me in this. Thank you.

[2019-06-17 21:20] MashaMSFT commented on #33384
Hi @SteveBurkettNZ , thanks for bringing this to our attention! Yes, it should be compatible with SQL 2017 and Windows 2019 but let me confirm just in case, before updating the documentation.

Thanks!

[2019-06-17 21:22] mhopkins-msft commented on #33111
@sireesha302 Please see [Azure support options](https://azure.microsoft.com/en-us/support/options/) for help with your question. You could also post your question in the [Azure Community Support](https://azure.microsoft.com/en-us/support/community/) forums.

[2019-06-17 21:23] Naksta opened #33468 "Named Location"
PG Update for Named Locations :
https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/location-condition#named-locations

**Current:**
The number of named locations you can configure is constrained by the size of the related object in Azure AD. Organizations can configure up to 90 named locations, each configured with up to 1200 IP ranges.

**Updated:**
The number of named loc

[2019-06-17 21:27] MarileeTurscak-MSFT commented on #33452
@lastcoolnameleft
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-17 21:30] the-blesss commented on #33466
Sorry, I tested locally and it works, now I completely closed out of the cloud shell instead of just restarting the session and it works too.

[2019-06-17 21:30] #33466 closed

[2019-06-17 21:30] mhopkins-msft commented on #32438
@hilari0n - Does the [Policy](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-lifecycle-management-concepts#policy) section of this article answer your questions?

[2019-06-17 21:34] MicahMcKittrick-MSFT commented on #33457
The feature suggestion is open for upvotes.

Current status is the feature suggestion is under review from the product team.

You can follow that feedback item for any updates.

https://feedback.azure.com/forums/602224-azure-container-instances/suggestions/31660276-cache-the-downloaded-container-image-in-the-contai

Nothing special can be done besides that. Each product team takes all the feedback

[2019-06-17 21:36] mansetaashok commented on #29557
@ignacioPastor, I was facing the same issue when exporting a package file using CURL command.

I had downloaded the package file directly from LUIS portal instead of using CURL command and it worked.

![image](https://user-images.githubusercontent.com/40860482/59638326-64743e00-9158-11e9-9687-70107c20e2a7.png)

[2019-06-17 21:37] KranthiPakala-MSFT commented on #33459
@basilwong Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2019-06-17 21:38] MicrosoftGuyJFlo commented on #33468
Sent to PG for confirmation.

Will handle offline.

#please-close

[2019-06-17 21:38] #33468 closed

[2019-06-17 21:39] #31910 closed

[2019-06-17 21:39] SibonayK commented on #17145
Sorry @tamram  and @SychevIgor - this was on me. I've just pushed updated screenshots. We can close this issue now

[2019-06-17 21:40] MarileeTurscak-MSFT commented on #29144
I have made a pull request to update this document. Once accepted, the changes should go live in 24 hours. https://github.com/MicrosoftDocs/azure-docs-pr/pull/79840

[2019-06-17 21:40] #29144 closed

[2019-06-17 21:41] ayprof commented on #32531
Funny enough, I opened this issue because I already have a support ticket with Microsoft and they have not been very helpful.

[2019-06-17 21:49] tusharck opened #33469 "Wrong Hyperlink"
Just an information, at the line "The second call is Create Index API," it is pointing to a wrong URL which is create data source instead of create index.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ab1cea8-3915-f271-06ca-bf8885a80409
* Version Independent ID: 3a9a5ee2-97fa-affa-7bdc-d8f26f6bfb25
* Content: [Tutori

[2019-06-17 21:50] MicahMcKittrick-MSFT commented on #33387
Thanks for that. I will assign to the content author to review.

[2019-06-17 21:55] yzheng-msft commented on #33111
@livshita, we made last minute change on the plan to support suffix. It is not part of the GA.

[2019-06-17 22:05] Darko-git commented on #33309
No, this has nothing to do with me provisioning something.

I am just trying to point out that your documentation is using a parameter in the template that is not defined anywhere.

Just search for certificateIssuerThumbprint here:
https://github.com/Azure-Samples/service-fabric-cluster-templates/blob/master/5-VM-Windows-1-NodeTypes-Secure/AzureDeploy.json

and here:
https://docs.microsoft.com/en-

[2019-06-17 22:13] kumarallamraju opened #33470 "extra backslash at the end of az vm create command"
[Enter feedback here]
az vm create \
    --resource-group myResourceGroup \
    --name myVM \
    --image Canonical:UbuntuServer:16.04-LTS:latest \
    --size Standard_D2S_V3 \

There should not be back slash at the end of the command..
It should be --size Standard_D2S_V3

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-06-17 22:15] robertsonhoddersappdev commented on #19821
I realise this has been closed, but it's a pretty huge issue for anyone building mobile apps, or really any app where there is not the option to force all clients to upgrade immediately. It would definitely help if there was some clarity around whether login.microsoftonline.com is going away anytime soon, but some guidance as to whether there is anyway to support both. At this point option 2 sugge

[2019-06-17 22:16] mhopkins-msft commented on #33111
#please-close

[2019-06-17 22:16] #33111 closed

[2019-06-17 22:17] Mike-Ubezzi-MSFT commented on #33338
@ColinLaws Thank you very much for posting this detailed feedback. This really needs to be brought to the attention of both the Azure REST API and SQL Database product groups but providing a link to the Azure SQL Database Uservoice ([link](https://feedback.azure.com/forums/217321-sql-database)) so this can get posted and started.

[2019-06-17 22:18] vikramdadwal opened #33471 "Nuget package does not have option to pass context in QnA query Paylaod ?"
Where can I pass the multi turn context in the existing nuget method? As it takes on ITurnContext and QnAMakerOption object only ?

![image](https://user-images.githubusercontent.com/10174566/59640522-30c2f500-9113-11e9-876e-d8dbea7c4eb1.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38f6b983-0c19-6439-78df-ea7bda

[2019-06-17 22:30] YutongTie-MSFT commented on #33471
@vikramdadwal Thank you for your feedback, we will investigate it and get back to you soon.

[2019-06-17 22:31] diberry commented on #33471
@vikramdadwal Please wait for the [Botbuilder PR](https://github.com/microsoft/botbuilder-dotnet/pull/1930) to be merged.

[2019-06-17 22:35] MarileeTurscak-MSFT commented on #33443
@brandonh-msft
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-17 22:35] jimmyca15 commented on #33286
Hello @chivandikwa.

The options pattern is a best practice for binding configuration to strongly typed .NET classes which is part of the goal of this tutorial. In this document it is used to bind the settings within the `IConfiguration` to the `Settings` class. While you are right that the settings can be retrieved directly from `IConfiguration`, if we use `IConfiguration` directly we will loose

[2019-06-17 22:35] yzheng-msft commented on #28776
The CLI documentation is at https://docs.microsoft.com/en-us/cli/azure/storage/account/management-policy?view=azure-cli-latest

[2019-06-17 22:36] alexmarshall132 commented on #31409
@MarileeTurscak-MSFT Is there any update on this ? This is blocking development of functionality at my workplace due to potential security risks around granting the Contributor role by default. I need a definitive answer from Microsoft so that I can proceed on our projects.

[2019-06-17 22:36] MarileeTurscak-MSFT commented on #33470
@kumarallamraju
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-17 22:38] vikramdadwal commented on #33471
Thanks @diberry  Any timelines here please.

[2019-06-17 22:46] yegu-ms commented on #33286
#please-close

[2019-06-17 22:46] #33286 closed

[2019-06-17 22:50] TravisCragg-MSFT commented on #33465
@VergilPrime Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-17 22:51] mike-urnun-msft commented on #33456
Hi @rajrao Thank you for your feedback! We will review and update as appropriate.

[2019-06-17 22:52] MarileeTurscak-MSFT commented on #33470
I made a pull request to fix the broken link and am assigning this to @msmbaldwin to update the command. https://github.com/MicrosoftDocs/azure-docs-pr/pull/79856

[2019-06-17 22:52] mike-urnun-msft commented on #33451
Hi @rajrao Thank you for your feedback! We will review and update as appropriate.

[2019-06-17 22:53] MarileeTurscak-MSFT commented on #33470
I believe the slashes are just there to separate the commands since they are on each line but maybe they should not be there. Will let @msmbaldwin make the call.

[2019-06-17 22:55] MarileeTurscak-MSFT commented on #33452
This document exists in docs but the information for changing the subscription name is not there, as you mentioned. I'm assigning this to @genlin to update.

[2019-06-17 23:02] johndowns commented on #21911
Hi @cradle77, I haven't re-tested this recently (I'll try to do this again soon) but last time I checked, the issue was still there. Like you, I'm not comfortable having logic to just ignore the issue, as it seems like it's a bug.

@shashishailaj if you can allow me to reopen the ticket, perhaps we can continue to follow this up as per your suggestion?

[2019-06-17 23:04] dkoleary88 opened #33472 "refresh_token string maximum length"
I can't find any documentation on the parameters of the refresh_token string, eg maximum length. This is important because I am trying to develop an application around this API, and storing the refresh token is one of the basic necessities of such an app. I'm guessing the max length for storage purposes, and constantly running into issues as a token that is longer than what I anticipated shows up.

[2019-06-17 23:04] AngryVirginian commented on #33141
@rokulka My dev KB has a couple of items with multi-turn prompts including the item "who are you" in my example JSON above.  Yet, the behavior is that "context": {} does not return anything while "context": null (or omitting the context property) returns result as expected.

[2019-06-17 23:18] diberry commented on #33471
@vikramdadwal While you are waiting - you might use this [temporary workaround](https://github.com/managedcoder/BotFrameworkAccelerators/tree/master/MultiturnQnAMaker).

[2019-06-17 23:23] kaushikghosh opened #33473 "Importing Vertex with different Labels, g.V().count() is coming incorrect"
I imported Vertices with 2 different labels. The first label say "label1" has 100 docs and the second one say "label2" has 2060 docs. After running the import and defining edges, when I do g.V().count() I get 100 and not 100 + 2060.

Also when I query the graph I do not see its linked between the 2 vertex.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-06-17 23:25] diberry commented on #33226
@huislaw Please log these issues on the [Reconizers-Text](https://github.com/Microsoft/Recognizers-Text) repo. That is where they can be fixed. Thanks.

[2019-06-17 23:54] JustinGrote opened #33475 "Does *NOT* provide access to Activity API under free tier"
This page says the Azure Sendgrid subscription supplies full API access. It does not. Attempting to use the messages API ('https://api.sendgrid.com/v3/messages?limit=10') on the free plan still results in forbidden. Please update the documentation to reflect this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73d91616

[2019-06-17 23:56] aljo-microsoft commented on #33309
@Darko-git
I think I understand now.

In the referenced document, I provide content for articulating to a user how to update Azure Resource Manager template file parameters section and parameters file for common name; while leaving out verbose content to explicitly define the optional certificateIssuersThumpbrint parameter in your template file parameters section and parameters file. This can caus

[2019-06-17 23:56] #33309 closed

[2019-06-17 23:57] Mike-Ubezzi-MSFT commented on #33101
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-17 23:57] #33101 closed

[2019-06-17 23:59] avelis26 opened #33476 "Recommendation"
The final step of the "Create a custom fine grained password policy (FGPP) on a managed domain" section could include information on how long until the policy to takes effect oh perhaps information on how to force propagation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2eb4c941-c464-75cb-7a98-39c3a58be1b5
* Version

[2019-06-18 00:01] SaurabhSharma-MSFT commented on #33467
@chadmcox Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-06-18 00:05] cabailey commented on #32155
#assign:sandeepkalarickal

[2019-06-18 00:06] SaurabhSharma-MSFT commented on #33275
@dguimbellot Yes, unfortunately this is because of a limitation where enabling SQL VA is not possible behind storage firewall.  This feature is currently in development but no ETA as of now.

[2019-06-18 00:06] SaurabhSharma-MSFT commented on #33007
@nicolaszhang We will now proceed to close this thread as I haven't heard back. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-06-18 00:06] #33007 closed

[2019-06-18 00:08] kumarallamraju commented on #33470
@MarileeTurscak-MSFT  backslash is not needed in the last line of the command.
It's OK not to fix it. Just thought I would point it out to be in consistent with other az cli syntax in other parts of MSFT azure online docs..

[2019-06-18 00:27] cynthn commented on #33305
@sam90909 and @MicahMcKittrick-MSFT Yes, when you share the image resources using an app registration, Tenant2 won't see the resources in the portal. This process is for sharing "at scale" (where you don't want to give permissions individually).

If you just share the gallery directly (for example, share from your work account to your personal account, using e-mail) then you can see the resources

[2019-06-18 00:31] FrankHu-MSFT commented on #32531
Please continue to engage with Microsoft Support, and let them know that this is still currently an issue and they'll look into it, please make note that the request needs to be Base64 encoded, then URL encoding before you send the request to Azure AD. But, since the entityID contains a space, you should also URL encode the NameID before encoding the complete SAML Request.

[2019-06-18 00:31] #32531 closed

[2019-06-18 00:32] MarileeTurscak-MSFT commented on #33447
@nehagup
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-18 00:38] kaushikghosh commented on #33473
Adding to this, the problem is because, the Source and Target properties are not getting populated when I do a Bulk Import using this Bulk Import Tool.

[2019-06-18 00:39] MarileeTurscak-MSFT commented on #33472
@dkoleary88
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-18 00:39] MarileeTurscak-MSFT commented on #33476
@avelis26
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-18 00:44] SaurabhSharma-MSFT commented on #33322
@aniksparrow I am not getting any error while building and running the downloaded solution from the page.   Can you please share the error message you are getting ?

[2019-06-18 00:46] Plasma commented on #19531
We just had an issue related to this very problem, due to the constant blob updates (and the most recent Event Hub SDK now doing a ListBlobsAsync()) this was freezing hub processing.

[2019-06-18 00:56] Mike-Ubezzi-MSFT commented on #33328
The PowerShell script example does include the new Az.SQL cmdlets but does not provide any detail about the Geo-Replication specific cmdlets such as:

- [New-AzSqlDatabaseFailoverGroup](https://docs.microsoft.com/en-us/powershell/module/az.sql/new-azsqldatabasefailovergroup?view=azps-2.2.0)
- [Switch-AzSqlDatabaseFailoverGroup](https://docs.microsoft.com/en-us/powershell/module/az.sql/switch-azsql

[2019-06-18 01:01] Alberto-Vega-MSFT commented on #33058
@ggorby Thanks again for taking the time to report this. I moved this issue to the repo that contains the sample applications. Closing the issue here. If you have any questions please feel free to tag me in your reply.

[2019-06-18 01:01] #33058 closed

[2019-06-18 01:09] coreyperkins opened #33479 "Kubernetes: ImagePullBackOff unauthorized: authentication required"
I have fully documented an issue on SO that might be of some use here. It could possibly lean toward making the authentication to the registry more user-friendly and less prone to problems that are hard to track down.

https://stackoverflow.com/questions/56638583/kubernetes-imagepullbackoff-unauthorized-authentication-required

Additionally, if anybody has any input, I am all ears. We've been stra

[2019-06-18 01:13] hilari0n commented on #32438
Uhm... No. That's why I created this feedback issue. Yes, the article is quite detailed, so I'm managing for now, but it's still not a Json schema.

[2019-06-18 01:14] NyashaNziboi commented on #21850
Hi @cynthn, I am happy to try the workarounds you have in mind until a solution is deployed

[2019-06-18 01:23] tamram commented on #17145
#please-close

[2019-06-18 01:23] #17145 closed

[2019-06-18 01:24] tamram commented on #17144
@SibonayK - Could you also verify that this issue has been addressed? Thanks!

[2019-06-18 01:25] tamram commented on #17139
@SibonayK - Could you also verify that this issue has been addressed? Thanks!

@roygara - FYI

[2019-06-18 01:25] tamram commented on #17144
@roygara - FYI

[2019-06-18 01:26] cynthn commented on #21850
@NyashaNziboi The only work around that I'm relatively sure will work is not pretty :)

You'd basically need to generalized the VM in question (run Sysprep), then create an image of the VM, then create a new VM from that image. That would give you a VM with an osProfile that could be updated with the secret.

But, that basically **destroys the original VM** (it can't be rebooted). If this is just

[2019-06-18 01:27] PramodValavala-MSFT commented on #33283
@swagulkarni Glad we could help!

Yes. You will just have to use the [CosmosDB Management SDK for Java](https://docs.microsoft.com/en-us/java/api/com.microsoft.azure.management.cosmosdb?view=azure-java-stable), specifically this API - [`CosmosDBAccount.regenerateKey`](https://docs.microsoft.com/en-us/java/api/com.microsoft.azure.management.cosmosdb.cosmosdbaccount.regeneratekey?view=azure-java-sta

[2019-06-18 01:28] tamram commented on #15916
#reassign:@roygara

[2019-06-18 01:31] tamram commented on #15675
@pzerger - Thanks for your feedback. It appears that this was fixed by @eNeRGy164 in https://github.com/MicrosoftDocs/azure-docs/pull/27456.

@roygara @wmgries - FYI

#please-close

[2019-06-18 01:31] #15675 closed

[2019-06-18 01:32] tamram commented on #14298
@wmgries @RenaShahMSFT - Has this been addressed?

@roygara - FYI

[2019-06-18 01:32] tamram commented on #14086
@SibonayK - Have you made this update yet?

@roygara - FYI

[2019-06-18 01:34] nishantsny opened #33480 "My code does not get the token, instead it get the string @Microsoft.KeyVault(...)"
I have setup an Azure function and I am trying to use this article to hook key vault up with the function. But I am not seeing the token in the logs, I simply see just the String.
Please put me in contact with an MSFT ADO dev to get this resolved.
I will be happy to share the azure function links/key-vaults over internal mail.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-06-18 01:34] tamram commented on #12554
#reassign:@normesta

[2019-06-18 01:35] tamram commented on #13178
#reassign:@normesta

[2019-06-18 01:41] tamram commented on #33092
@ktrueman - Thanks for your feedback. I've made the update and it should go live in the next few days.

[2019-06-18 01:41] tamram commented on #33092
#please-close

[2019-06-18 01:41] #33092 closed

[2019-06-18 01:48] tamram commented on #32632
#reassign:@tfitzmac

@tfitzmac - Reassigning to you.

The issue here is in the reference for the Azure Storage ARM template:

https://docs.microsoft.com/azure/templates/microsoft.storage/2019-04-01/storageaccounts

Azure Storage encryption has been enabled by default since around Jan 2018. There is no option to turn it off. We would appreciate your updating the reference to clarify this. Thank you

[2019-06-18 01:48] PRMerger18 commented on #32632
tfitzmac

tfitzmac is not a valid GitHub ID, or is not a collaborator on this repo.

[2019-06-18 01:51] yzheng-msft commented on #19531
Thanks all for the feedback. I will move this FAQ "Are there any special considerations for using soft delete?" up to make it clearer.

[2019-06-18 02:03] dcbrown16 opened #33481 "Purpose of Email Settings"
What does the admin email under "Email Settings" on the Notification Templates page do? Does it send the admin all those emails, or is the admin's email somehow included in the emails that are sent out?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a55c0a23-de53-df95-fcc9-70cebebf3d0c
* Version Independent ID: 51f1b3f

[2019-06-18 02:14] rayluo commented on #28661
To add more info into this conversation, I also noticed there is actually [another official document page here](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-national-cloud) mentioning "use MSAL library in National Cloud", and we know that MSAL talks to AADv2 endpoint only. So, that hints National Cloud does support AAD v2.0 endpoints.

[2019-06-18 02:16] KalyanChanumolu-MSFT commented on #33048
Thanks Mike for pitching in.
What I believe is happening here is there are 12 - 16 builds trying to access the same Emulator instance with a database of its own and executing different tests.
I doubt if the Emulator is built to service so many concurrent requests across several databases.
With the container however, there is flexibility to spin up more than one emulator instance vs having just one

[2019-06-18 02:18] KalyanChanumolu-MSFT commented on #33277
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-18 02:18] #33277 closed

[2019-06-18 02:20] KalyanChanumolu-MSFT commented on #33295
@pzerger Thank you for bringing this to our attention. We have made the content owner aware of the issue.
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-18 02:20] #33295 closed

[2019-06-18 02:21] KalyanChanumolu-MSFT commented on #33278
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-18 02:21] #33278 closed

[2019-06-18 02:46] SnehaAgrawal-MSFT commented on #33480
@nishantsny Thanks for the question! We are investigating and will update you shortly.

[2019-06-18 02:47] SnehaAgrawal-MSFT commented on #33455
@StefH Thanks for the feedback! We are currently investigating and will update you shortly

[2019-06-18 02:50] nishantsny commented on #33480
If possible please move further communication to my MSFT alias @nisunny
(CC'ed)

On Mon, Jun 17, 2019, 7:47 PM SnehaAgrawal-MSFT <notifications@github.com>
wrote:

[2019-06-18 02:50] SnehaAgrawal-MSFT commented on #33469
@tusharck  Thanks for the feedback! We are currently investigating and will update you shortly

[2019-06-18 02:53] SnehaAgrawal-MSFT commented on #33473
@kaushikghosh Thanks for the feedback! We are currently investigating and will update you shortly

[2019-06-18 02:56] SnehaAgrawal-MSFT commented on #33475
@JustinGrote Thanks for the feedback! We are currently investigating and will update you shortly

[2019-06-18 02:58] swagulkarni commented on #33283
Hi @PramodValavala-MSFT - Thanks for your prompt response.
I will try the CosmosDB SDK for key regeneration. As a follow-up, does this also requires using Azure functions managed identity?
I couldn't find any Access control option to add the function as service principle in CosmosDB like the way we do it for Key Vault. If managed identity is required, how can we ensure that the function has the ri

[2019-06-18 02:59] SnehaAgrawal-MSFT commented on #33481
@dcbrown16 Thanks for the question! We are investigating and will update you shortly.

[2019-06-18 03:00] liydu commented on #31133
@flaxed, you can now download from a direct link on the doc which is a way we try to mitigate the email registration process.

[2019-06-18 03:06] SnehaAgrawal-MSFT commented on #33421
@Flanker32 Thanks again for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-06-18 03:08] SnehaAgrawal-MSFT commented on #33479
@coreyperkins Thanks for the question! Could you share the URL of the doc you are referencing.

[2019-06-18 03:15] cogran commented on #33213
Consider adding phrasing along the lines of:

The current phrasing sounds as though all features and regions are available, especially if looking at the Azure Government documentation first.

An example of this is Network Watcher and Traffic Analytics. While Network Watcher is generally available, Traffic Analytics is not available in every region (public or government). However, the statement of

[2019-06-18 03:15] leen89757 commented on #33071
@suchiagicha
Thanks for the info! We do this because we thought that V2 is the newer version and did some improvements and V2_1 is like a "Middle-Version" for interface compatibility, which seems misunderstanding.   Do you also mean V2_1 has a better performance than V2?  Is there some reference or documents already mentioned that?

[2019-06-18 04:44] ToMakeSense opened #33485 "Importing WSDL API on Azure portal changes the displayName itself even you set the displayName"
Importing WSDL API on Azure portal changes the displayName itself even you set the displayName, for example, if use "Wsdl.XML.V1" as displayName, when it's done. the actually displayName is "wsdl-xml-v1" the same as Name(Api Id). That's to say, "." is changed to "-", upper chars are changed to low case.

I think it's kind of bug for Azure portal for WSDL API importing, it's OK for other kind of AP

[2019-06-18 04:48] #33391 closed

[2019-06-18 05:05] KetanChawda-MSFT commented on #33485
@ToMakeSense Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-18 05:09] #33459 closed

[2019-06-18 05:09] VikasPullagura-MSFT commented on #32996
@OzBob Closing this issue for now. Reach us if you need any further assistance on this. Thanks.

[2019-06-18 05:09] #32996 closed

[2019-06-18 05:13] KranthiPakala-MSFT commented on #33459
@basilwong The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, we will now close the issue based on this update, please let us know if there is something else that we can help you with.

[2019-06-18 05:15] aniksparrow commented on #33322
@SaurabhSharma-MSFT thanks from your prompt reply.
The problem is solved now. Looks like one dependency's version was mismatched from my side! changed the version and it worked,

[2019-06-18 05:15] #33322 closed

[2019-06-18 05:28] sujayvsarma commented on #26147
The team resp seems to be on a LONG vacation.

[2019-06-18 05:28] SychevIgor commented on #33324
@MicahMcKittrick-MSFT  if you can complete this tutorial on a new cluster without errors- I'm surprised.
I can't.

What actually helped me:

apiVersion: v1
kind: ServiceAccount
metadata:
  name: tiller
  namespace: default
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: tiller
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster

[2019-06-18 05:33] KetanChawda-MSFT commented on #33443
@brandonh-msft I have assigned the issue to the content author @ggailey777  to evaluate and update as appropriate.

[2019-06-18 05:45] jakaruna-MSFT commented on #33464
@psbds Can you provide the version of Azure cli which you are using

[2019-06-18 05:47] puneetg1983 commented on #33161
I have to admit that the docs on this are a bit unclear and we are working to get some detailed documentation on AutoHealing behavior.

When a rule for private bytes is configured, Autohealing checks the w3wp process memory (private bytes to be exact) **on end of each HTTP request** and if the private bytes of the process is more than the configured threshold _at that point_, then the configured a

[2019-06-18 05:48] ignacioPastor commented on #29557
@mansetaashok yes downloading the package from the portal (UI) also works for me. What I'm trying is to use the CURL (API) in order to automatize the process.

About your issue, I don't know what could be the origin, I got similar error messages with incorrect api keys on the billing address, confirm that the billing address is correct, but probably that is not the issue.

[2019-06-18 05:50] DixitArora-MSFT commented on #33268
@swagulkarni Just following up here... Hope my previous comment helps.

[2019-06-18 05:56] DashleenBhandari-MSFT commented on #33364
@munozrickT4S , I have not heard back from you. I will go ahead and close the issue. Feel free to reopen the issue if you need any assistance.

[2019-06-18 05:56] #33364 closed

[2019-06-18 05:59] DashleenBhandari-MSFT commented on #33410
@mgouffe , Could you please provide the document you are referring to.

[2019-06-18 06:18] Vijay-Nirmal commented on #17058
Any update?

[2019-06-18 06:28] 3nyaww opened #33489 "Second note section's format is broken."
[Enter feedback here]
Second note section's format is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2004e554-882e-932e-d55b-7b60b53bcc5b
* Version Independent ID: 67dd746b-88a3-b114-68e2-622c18e95853
* Content: [Set up failover across multiple Azure CDN endpoints with Azure Traffic Manager](https://docs.micros

[2019-06-18 06:29] radicalhqer commented on #15833
Yes, I had built it on PBI desktop and yes, I have set it up as "Anonymous" and "Public".

[2019-06-18 07:05] ethenhunt321 commented on #17524
For App Service Plan, tier is required and here.
for the given API both sku and tier is important.
tier would be {"Free","Basic","Standard"} while
sku name would be {"F1","B1","B2","B3",S1,"S2","S3"}

[2019-06-18 07:23] jakaruna-MSFT commented on #33430
@cuongdnv you need to create a new helm chart for your application.
I suggest you to go through this [document](https://helm.sh/docs/developing_charts/#charts) for more information about charts.

I am giving quick info here.
To create a chart from command line use `helm create <chart name>`
It will create a chart with default templates(One deployment, service and one ingress). By default that ingr

[2019-06-18 07:27] pezholio commented on #33480
Can confirm, I get the same issue in my Web App. My identity is set up correctly and has the correct permissions etc on the key vault.

[2019-06-18 07:45] pezholio opened #33491 "@Microsoft.KeyVault reference returning plain text in Web App"
I've created a KeyVault, a Managed Service Identity and a Web App using ARM templates, and I'm trying to reference a secret in my KeyVault using `@Microsoft.KeyVault`, but no matter what I try, the secret gets returned in my app as plain text, rather than the actual secret, as I expect.

The Service Identity is applied to the Web App, and has both `get` and `list` permissions on the KeyVault. A lo

[2019-06-18 07:53] Rajeswari-Mamilla commented on #30342
Please refer to Internet access section in https://docs.microsoft.com/en-us/azure/site-recovery/physical-azure-set-up-source#prerequisites. Document is updated with list of all URLs
#please-close

[2019-06-18 07:53] #30342 closed

[2019-06-18 07:53] JohnTaylor-Fuse commented on #33433
Hi Marilee,
Thank you and to everyone else for your prompt response and updating the
doc. I assume that the updated URL is also reflected in the underlying
integration configuration too or is this another change request?
Many Thanks
John

   <https://fuse.fuseuniversal.com/communities/2086>
john.taylor@fuseuniversal.com

<https://twitter.com/Fuseuniversal>
<https://www.youtube.com/user/FusionUnive

[2019-06-18 08:01] smoms commented on #33255
@kgremban  From what I understand Windows Server is now GA, that means Tier 1, right? If yes, you would need to review the doc.
Windows 10 Core is Tier 2, but soon will become Tier 1, right?
I would appreciate you could answer these questions only.
thanks lot.

[2019-06-18 08:13] pezholio commented on #33491
In case it helps, here's a simplified version of the template I'm using with all the parts that (I think) are relevant:

[code]

[2019-06-18 08:19] SinghGurd commented on #33382
Any update on this one.

[2019-06-18 08:25] hilari0n opened #33494 "Assigning user to Enterprise Application via Azure CLI"
Is there a way to assign users (or security groups) to an Enterprise Application (preferably with application role support) via Azure CLI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 163a1f88-c268-18aa-a1e6-89b4a11bfb01
* Version Independent ID: 1136a613-48f8-fb67-39d3-d9abdd351a0f
* Content: [Assign a user or group

[2019-06-18 08:30] cuongdnv commented on #33430
Thank you @jakaruna-MSFT

[2019-06-18 08:30] ManojReddy-MSFT commented on #33382
@SinghGurd Apologies for the delayed response. Adding ADFS Servers to the AD Connect when operating in staging mode will not affect the behavior of ADFS and Azure authentications with ADFS. Changing the sign-in method will change the domain state to federated. If your domain is already federated then there will be no impact at all.

If you make any changes(SSL cert change ) to the ADFS servers fro

[2019-06-18 08:32] SwayTex opened #33495 "TLS 1.2 Cipher Suites Supported by HTTPS Availability Test"
Hi.

Would like to know what are the Cipher Suites supported in TLS 1.2 for the HTTPS Availability test in Application Insight.
And is it possible to force specific Ciphers?

I saw no reference of it in documentation, it would be nice to have some.

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10858323-182

[2019-06-18 08:33] Rajani-Janaki-Ram commented on #30944
When you select create VM on-premises option, it allows you to choose the host on which you want to place the VM on.

[2019-06-18 08:33] Rajani-Janaki-Ram commented on #30944
#please-close

[2019-06-18 08:33] #30944 closed

[2019-06-18 08:38] Rajani-Janaki-Ram commented on #30054
Updated. PR out

[2019-06-18 08:38] Rajani-Janaki-Ram commented on #30054
#please-close

[2019-06-18 08:38] #30054 closed

[2019-06-18 08:44] Rajani-Janaki-Ram commented on #19628
Updated, PR out

[2019-06-18 08:45] Rajani-Janaki-Ram commented on #19628
#please-close

[2019-06-18 08:45] #19628 closed

[2019-06-18 08:59] huislaw commented on #33226
Thanks.

[2019-06-18 09:02] rayne-wiselman commented on #33242
The document is currently correct. We'll update in accordance with future features releases.

Thanks!
#please-close

[2019-06-18 09:02] #33242 closed

[2019-06-18 09:03] dominicbetts commented on #33074
Hi @ac2707 - this article describes how to deploy the predictive maintenance solution from the solution accelerator site: https://www.azureiotsolutions.com/Accelerators - were you successful deploying from here rather than using the CLI? Thanks!

[2019-06-18 09:03] rayne-wiselman commented on #33223
@SwathiDhanwada-MSFT Please remove the assigned-to-author tag and assign to dcurwin. thx

[2019-06-18 09:07] ac2707 commented on #33074
Hi @dominicbetts  yes, this does work, issue is while trying to deploy via CLI. Please advise.. Thanks

[2019-06-18 09:19] cuongdnv opened #33497 "The request did not have a subscription or a valid tenant level resource provider"
when i run this command
az role assignment create --assignee &lt;appId&gt; --scope &lt;acrId&gt; --role acrpull
it given this error :
The request did not have a subscription or a valid tenant level resource provider.
How can i fix it ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4af71a4-648e-580f-7e86-94ce05196de5

[2019-06-18 09:34] rvvincelli commented on #11984
On a Linux containers AppService I get this too indeed, my understanding is that on a Linux service plan direct AppInsights integration is not supported, as also made evident by the following error I get:

`System.IO.FileNotFoundException:` Could not find file /home/SiteExtensions/Microsoft.ApplicationInsights.AzureWebSites/Microsoft.ApplicationInsights.AzureWebSites.2.6.5.nupkg`

In my understand

[2019-06-18 09:40] UMANGAWASTHY opened #33498 "Azuer Function + KeyVault + User Assigned Managed Identity inside a single resource group."
Azuer Function + KeyVault + User Assigned Managed Identity inside a single resource group.

I am using Keyvault secrect to store sql server creditional and i am access this secrect inside azuer function v2(.net core) using User Assigned Managed Identity.
While development on Visual Studio 2019 it is working . After publish to azuer it's not working.

It's throwing error like this :

Parameters: Co

[2019-06-18 09:47] baoduy commented on #32708
The document is really useful or maybe out of date. I'm not able to access the file share after mount to Azure Web App Container.

[2019-06-18 10:04] tosmolka opened #33499 "Pagination support for Azure DevOps - Reporting Work Item Revisions"
REST connector currently almost supports pagination in Azure DevOps REST API for [Reporting Work Item Revisions](https://docs.microsoft.com/en-us/rest/api/azure/devops/wit/reporting%20work%20item%20revisions?view=azure-devops-rest-5.0) .

It processes correctly `nextLink` but I was not able to find a way to interrupt the pagination. Azure DevOps sets `isLastBatch=true` when there are no more pages

[2019-06-18 10:05] shashishailaj commented on #21911
@johndowns My apologies for this delay. I have reopened it and will take a look again through all this. Please allow me a day or two for reviewing this one again.

thank you.

[2019-06-18 10:09] EricBergDE opened #33500 "Issuing access to a service principal"
Hi team,
you state that it is possible to grant access to a service principal.
When trying this we get the error: "Principals of type Application cannot validly be used in role assignments"
Could you please help out here
Cheers
Eric

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4569359f-ed2e-1c44-1d75-059f21434f50
* V

[2019-06-18 10:16] sonpeppers opened #33501 "Does docker push/delete commands to acr raise these events?"
Wasn't 100% certain from this webpage, are events are only emitted with Event Grid if acr rest endpoint / az cli used, or will commands like docker push also raise Microsoft.ContainerRegistry.ImagePushed for example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d8eee12-9ce4-08ee-b1ca-039bf1670fe4
* Version Independen

[2019-06-18 10:20] iqsarv opened #33503 "Properties of an Azure Cosmos container"
# Ambiguous TTL PropertyName

Under https://docs.microsoft.com/en-us/azure/cosmos-db/time-to-live, PropertyName  for TTL says `ttl`

Under https://docs.microsoft.com/en-us/azure/cosmos-db/databases-containers-items
Properties of an Azure Cosmos container section says PropertyName `TimeToLive`

Which one is correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2019-06-18 10:29] AjayKumar-MSFT commented on #33238
You do not have to replace it, just copy the content from the Azure Portal clipboard as mentioned below:
![image](https://user-images.githubusercontent.com/44606227/59675020-0855fc00-91e2-11e9-9932-7167bd2e6f8a.png)

[2019-06-18 10:35] johnmeredith opened #33504 "Which Identifier URI?"
Hi - I'm slightly confused regarding this statement:
"A good identifier URI would be the URI of your FHIR server.".

Would this be the Object ID of the FHIR App Service instead of the auto generated URI when you select "Set"?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5988a84f-de28-e2e4-f14b-c162bf71a380
* Version

[2019-06-18 10:39] msrini-MSFT commented on #33404
@brent-robinson , do you have any update for me?

[2019-06-18 10:41] Rajeswari-Mamilla commented on #29320
@fixx220 It takes 5 min for the changes to be reflected. So, in case of this error, you can wait for 5 min and then retry the operation. Logging out and logging in is not necessary. I am adding this suggestion to troubleshooting documentation. Thank you for sharing your input.
#please-close

[2019-06-18 10:41] #29320 closed

[2019-06-18 10:42] Rajeswari-Mamilla commented on #30256
Please use OS_details.sh for installation purposes. Thank you for sharing the feedback on install_linux.sh script. We will review and update it as required.
#please-close

[2019-06-18 10:42] #30256 closed

[2019-06-18 10:48] ChiragMishra-MSFT commented on #33499
@tosmolka Thanks for bringing this to our notice. We are looking into the issue and will update you shortly.

[2019-06-18 10:52] SwathiDhanwada-MSFT commented on #33220
For troubleshooting,you can verify by checking the CPU utilization.To get the details of criteria "Microsoft_CPU_TotalCPUUtilization"

Query : armclient GET "subscriptions/subscriptionId/resourceGroups/resourceGroupName/providers/Microsoft.Compute/virtualMachines/VmName/providers/Microsoft.WorkloadMonitor/monitors/Microsoft_CPU_TotalCPUUtilization?api-version=2018-08-31-preview"

![image](https://

[2019-06-18 11:02] SnehaAgrawal-MSFT commented on #33489
@3nyaww Thanks for your feedback! We will investigate and update as appropriate

[2019-06-18 11:05] SnehaAgrawal-MSFT commented on #33494
@hilari0n Thanks for the question! We are investigating and will update you shortly.

[2019-06-18 11:07] brent-robinson commented on #33404
Yes - that was my question. Upon doing further research, it looks like it is supported for unauthenticated proxies.

[2019-06-18 11:08] upliftertom opened #33505 "Using ACR containers with docker-compose on azure app service"
Are there any further articles about how to use images using the docker-compose method using images from Azure Container Registry?  All the examples I have seen only use public images and it would be useful to know more about the options for using docker-compose and azure app service with private containers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2019-06-18 11:08] SnehaAgrawal-MSFT commented on #33495
@SwayTex Thanks for the question! We are investigating and will update you shortly.

[2019-06-18 11:12] brent-robinson commented on #33405
That makes sense. Thank you.

[2019-06-18 11:12] SnehaAgrawal-MSFT commented on #33497
@cuongdnv Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-18 11:14] SnehaAgrawal-MSFT commented on #33498
@UMANGAWASTHY Could you share the URL of the doc you are referencing.

[2019-06-18 11:16] SnehaAgrawal-MSFT commented on #33500
@EricBergDE Thanks for the question! We are investigating and will update you shortly.

[2019-06-18 11:19] ChiragMishra-MSFT commented on #33499
@tosmolka Unfortunately as of now this cannot be achieved as dynamic expressions or "stop" conditions are not supported by the REST connector.

I would recommend you to provide feedback at the [feedback forum](https://feedback.azure.com/forums/270578-data-factory/). All the feedback you share, is closely monitored by the Data Factory Product team and implemented in future releases.

Also, Regardin

[2019-06-18 11:19] #33499 closed

[2019-06-18 11:21] zwilias opened #33506 "Tenant URL format"
In existing setups, our clients use URL's like `https://api.example.com`. In new setups, we notice at least one of our clients has to enter `https://api.example.com/scim`.

In the documentation, 2 sections give a different example input:

- step 7 of _To connect an application that supports SCIM_ lists `https://api.contoso.com/scim/v2/`
- step 7 of [To register the sample scim endpoint in azure ad

[2019-06-18 11:23] xenalite commented on #33442
The answer is `Reader` role on source registry and `Contributor` role on target registry.
Tracking the related issue here: https://github.com/Azure/acr/issues/237

[2019-06-18 11:23] #33442 closed

[2019-06-18 11:25] johnmeredith opened #33507 "Authentication not necessary but where to setup App Service Authentication?"
Just a note to say I got very confused trying to get the OAuth 2 configured, frequently getting
`invalid_resource` and `Error` in postman. I checked by authentication within the app and noticed App Service Authentication was off. When I tried committing patient records to the service it then worked fine and I put 2+2 together. I suspect that I had not configured the Authentication under the App Se

[2019-06-18 11:27] Suchiman commented on #22714
@AjayKumar-MSFT 5 months later, any update yet?

[2019-06-18 11:28] SnehaAgrawal-MSFT commented on #33505
@upliftertom Thanks for the question! We are investigating and will update you shortly.

[2019-06-18 11:29] axelgMS opened #33508 "OperationNotAllowedOnGeneralizedVM when adding tag to a generalized VM"
Can we add a quick note stating that it's not possible to add a tag to a Generalized VM?
The error "OperationNotAllowedOnGeneralizedVM" is thrown, and this is by-design.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc003943-8bc8-10ac-e633-5640cff3c397
* Version Independent ID: f8826361-f601-acf9-3e3d-c96579c02093
* C

[2019-06-18 11:29] rayne-wiselman commented on #32690
I think this article is currently up-to-date. I see references to 9.25 in there.
thx
#please-close

[2019-06-18 11:29] #32690 closed

[2019-06-18 11:37] AleksCallebat opened #33509 "docs typo : gpu_enabled ==> enable_gpu"
according to the doc : https://docs.microsoft.com/en-gb/python/api/azureml-core/azureml.core.model.inferenceconfig?view=azure-ml-py

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4dc42c56-1798-5f0c-9150-118546b2d015
* Version Independent ID: cc6f4163-3fd0-e2e5-79e4-cf4342e8e487
* Content: [Deploy a model for inference

[2019-06-18 11:40] VikasPullagura-MSFT commented on #33427
@cynthn Can you please look into the issue.

[2019-06-18 11:40] arindam-b opened #33510 "How to consume postgresql metrics in Azure"
Hello,

I am referring url: https://docs.microsoft.com/en-us/rest/api/postgresql/operations/list#operation

Can you please specify the endpoint for fetching metrics for below mentioned two metrics:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93da39f3-c5d3-cce9-0101-784415455e26
* Version Independent ID: f9164

[2019-06-18 11:49] smereczynski commented on #33427
I have noticed that in docs it is said that AIB "will support Azure Marketplace base OS images" and there is 7.6 mentioned. It can be misunderstood because some people (like me) are using ISO sources. Reading docs I missed the info about source type.

[2019-06-18 12:00] tusharnarang commented on #24801
This was the reason why I was getting no response. Thanks alot for your help

[2019-06-18 12:09] hkusulja commented on #31871
Reference/link to uservoice for implementing MFA App secret support for Azure AD client credential flow (ROPC) is needed :)

[2019-06-18 12:09] jakaruna-MSFT commented on #33497
@cuongdnv I suspect that your acr id is wrong.
It should be in the below format.
`/subscriptions/<subscription id>/resourceGroups/<resource group name>/providers/Microsoft.ContainerRegistry/registries/<registry name>`
App id will be something like this `e7596ae3-6864-4cb8-94fc-20164b1588a9`
Can you verify those values and let me know

[2019-06-18 12:12] cuongdnv commented on #33497
thank you bro. i fixed it. i haven't enough authority to complete this role assignment.

[2019-06-18 12:13] jakaruna-MSFT commented on #33497
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-06-18 12:13] #33497 closed

[2019-06-18 12:15] AjayKumar-MSFT commented on #33491
@pezholio, Thank you for leveraging Azure docs feedback channel. We notice that you have commented on an ongoing GitHub thread with a similar issue #33480, could you please confirm if you're referring to this document content: [Key Vault references - Azure App Service](https://docs.microsoft.com/azure/app-service/app-service-key-vault-references) or some other doc? If it's latter, please do share

[2019-06-18 12:15] cuongdnv commented on #33497
Thank you very much.

[2019-06-18 12:16] pezholio commented on #33491
Sorry, yes, it's that doc :)

[2019-06-18 12:19] jakaruna-MSFT commented on #32227
@SharmainePopov This feature is not available in portal.
Please submit a feedback [here](https://feedback.azure.com/forums/223579-azure-portal/suggestions/17935345-virtual-machine-scale-sets-portal-features) which discusses about the portal improvements for VMSS.
You can also create a new feedback [here](https://feedback.azure.com/forums/34192--general-feedback).