[2019-07-30 11:37] j-re commented on #35894
Thanks very much for fast reply! It makes sense to me now.

On Fri, 26 Jul. 2019, 9:02 pm jakaruna-MSFT, <notifications@github.com>
wrote:

[2019-07-30 11:53] chaosonline opened #36101 "*.windows.net is missing"
We are using blob storage on a *.windows.net URL but it is missing in this list.
It is stated though in the (deprecated) IP list as IpRange Subnet="40.118.0.0/17"

Please update the list so IT can white list the right URLs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8336877-da93-ecd6-829a-0cc068caaf29
* Version In

[2019-07-30 11:58] angie4u commented on #35948
I also get this error today!

[2019-07-30 12:00] mikevax opened #36102 "Azure Monitor diagnostic logs are not guaranteed to be reliable"
could someone elaborate a bit on this comment.
"The events emitted by the IoT Hub service using Azure Monitor diagnostic logs are not guaranteed to be reliable or ordered. Some events might be lost or delivered out of order"

When you say "not guaranteed to be reliable"  would imply that an application cannot use " Azure Monitor diagnostic " to determine a device state correct ? How unreliable is

[2019-07-30 12:01] rvahaver opened #36103 "Authenticator App Alternatives?"
I have a few users that do not have smart phones.  What are the alternatives and how are able to implement them for those individuals.?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c08f708d-bd04-a587-65c5-78a5f02adebc
* Version Independent ID: 7c277e69-3e43-8542-03db-2d4a23dd5442
* Content: [Baseline policy End user

[2019-07-30 12:02] rgherta commented on #35841
@Mike-Ubezzi-MSFT  You are correct, this was my main confusion. I did not specify a shard key hence the error. The documentation should detail the fact that Shard Keys are optional UNLESS you are using an unlimited storage Database. In this case, due to auto-scaling, all collections must have a shard key. I will close this issue but many newcomers might have the same problem.

[2019-07-30 12:03] #35841 closed

[2019-07-30 12:40] smushtaq1 opened #36105 "Unclear instructions"
I have an issue with Step # 6 under Section - Grant your VM's system-assigned managed identity access to use storage account access keys.    When I try to do this, I don't get an option to select Resource Group.    I can choose subscription and then the next drop down is for the VM and my VM isn't listed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2019-07-30 12:42] bertrandpons opened #36106 "Question on Azure Event Hubs Capture - Time windows"
Hello,

Question based on the following documentation: https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-capture-enable-through-portal

I do not fully understand _Time window_ concept for Azure Event Hubs Capture: is it about the duration for which logs are stored in a blob file  (if set for 5min, every 5 min a new file is created)?

Thank you for your clarification

---
#### Document D

[2019-07-30 12:43] jcridgeNATS opened #36108 "Install-WindowsFeature -name Web-Server -IncludeManagementTools : NOT WORKING in Azure VM"
Creating an Azure VM - basics

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/quick-create-portal?toc=%2Fazure%2Fvirtual-machines%2Fwindows%2Ftoc.json#feedback

The step to "Install web server" i.e. To see your VM in action, install the IIS web server. Open a PowerShell prompt on the VM and run the following command:

"Install-WindowsFeature -name Web-Server -IncludeManagementTool

[2019-07-30 12:44] shashishailaj commented on #35392
@cjjnash You can use [Microsoft Graph Beta REST API](https://docs.microsoft.com/en-us/graph/api/resources/privilegedidentitymanagement-resources?view=graph-rest-beta) to query the governed resources. You can use [governanceResource](https://docs.microsoft.com/en-us/graph/api/resources/governanceresource?view=graph-rest-beta) which can be used to represents resources that could be managed by Privil

[2019-07-30 12:46] Hatzman91 opened #36109 "link to samples"
the link in "Next steps" sends me to 4-5 year old samples

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4500b14-64b4-4d1b-aae3-f0fd4dde85f2
* Version Independent ID: 8fb75741-37b9-b45f-c0ca-9948ddaf1c06
* Content: [How to use the WebJobs SDK - Azure](https://docs.microsoft.com/en-us/azure/app-service/webjobs-sdk-how-

[2019-07-30 12:55] jcridgeNATS commented on #36108
CORRECTION.  It does work provided I use the icon on the  start menu to start PowerShell

[2019-07-30 12:55] #36108 closed

[2019-07-30 13:03] julie-ng opened #36110 "dotenv code outdated"
In step 4, instead of:

[code]

It should be
[code]

per latest documentation on https://www.npmjs.com/package/dotenv

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59571387-86d7-72d7-2c96-6a8e75ee8b1e
* Version Independent ID: d24f0ef2-188f-5603-915e-0a69c2d9b17a
* Content: [Connect a Node.js Mongoose application to A

[2019-07-30 13:08] Mitaric commented on #35869
So, just to clarify.  When configuring via the Azure CLI, It is necessary to do a "one off" backup of the web app prior to configuring a recurring backup and schedule?  If configured via the portal, we are able to configure a backup and schedule without doing a "one off" backup.

[2019-07-30 13:09] aosyatnik opened #36111 "HoloLens | Azure Spatial Anchors: SessionUpdated is not called on real device"
Good day.

Short description of issue: `CloudSession_SessionUpdated` or `CloudSession_OnLogDebug` not called at all on real hololens device.

Long description :
I was making this tutorial: https://docs.microsoft.com/en-us/azure/spatial-anchors/tutorials/tutorial-new-unity-hololens-app. This is my code:

[code]

I've already tried tutorial for android device. It was working fine. Now I'm trying tut

[2019-07-30 13:11] #36011 closed

[2019-07-30 13:12] Nicholas-I commented on #36030
@sergaz-msft right here: https://docs.microsoft.com/en-us/azure/digital-twins/quickstart-view-occupancy-dotnet#provision-graph

[2019-07-30 13:14] shashishailaj commented on #35299
@SwayTex . We got a response from Product group. We do not have any specific recommendation for the VM but we have the following basic requirements

 Supported OS:
   64-bit
       CentOS 6 and 7
       Amazon Linux 2017.09
       Oracle Linux 6 and 7
       Red Hat Enterprise Linux Server 6 and 7
       Debian GNU/Linux 8 and 9
       Ubuntu Linux 14.04 LTS, 16.04 LTS and 18.04 LTS
       SUSE Li

[2019-07-30 13:14] #35299 closed

[2019-07-30 13:15] dastewa commented on #36009
Hi @DixitArora-MSFT! Thanks for replying as it looks like I made a mistake here. I could've sworn I posted my question as a separate issue and not as a reply to @mgarf's question - which is it's own important, independent issue. I'm sorry about that! Should I delete and repost my question as a separate issue?

[2019-07-30 13:16] orspod commented on #35792
@jaijitendra, I believe your issue has been resolved.
@CHEEKATLAPRADEEP-MSFT, please close

[2019-07-30 13:19] igusme commented on #35975
@ManojReddy-MSFT Thank you so much for the information provided. Per your recommendation, I have submitted this as a feature request for the product team.

Here is the link to the request

https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/38262202-allow-b2b-guest-users-to-authenticate-on-windows-1

Thanks again for taking the time to clarify this topic.

[2019-07-30 13:24] damart23 opened #36113 "Fortinet configuration guide link is not valid"
The links point to https://docs.fortinet.com/document/fortigate/5.6.0/cookbook/435823/getting-started which is not the guide on how to configure Fortigate on Azure

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 779fbece-f67b-28ef-143e-f58ecfa29b1d
* Version Independent ID: fe532684-022f-9006-9179-c534fd923171
* Content

[2019-07-30 13:30] droessmj commented on #35318
In a similar vein, I'm seeing my Key Vault deny an inbound connection from my App Service. In this case, I've attached the App Service (Function App) to a subnet via the new Vnet join functionality, and then added the subnet as an allowed network on the Key Vault. My logs are showing an error of "Client address (X.X.X.X) is not authorized and caller is not a trusted service"

[2019-07-30 13:47] AlexanderTodorovic commented on #35896
Thank you!

[2019-07-30 13:54] jwisener commented on #36001
You can close it. I figured it out. Thanks

[2019-07-30 13:54] #36001 closed

[2019-07-30 13:54] jwisener commented on #36001
Trial and error

[2019-07-30 13:55] jwisener commented on #36003
Okay thanks

[2019-07-30 13:55] #36003 closed

[2019-07-30 14:01] MasayukiOzawa opened #36114 "Prerequisite is different from Register with the resource prover"
The function is Register with the resource prover (https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-sql-register-with-resource-provider), I think it is the same.but the prerequisites are different.
The last modified date of this document is 2/13/2019, but is the difference in the prerequisites because the document has not been updated?

---
#### Document

[2019-07-30 14:03] AlexanderTodorovic opened #36115 "trim_reason_desc=REORG"
Dear All,  when I query the view dbo.vCS_rg_physical_stats
it returns also the trim_reason_desc=REORG
but it is not documented here. Could you please be so kind and add the
explanation for it? Thanks, Alex

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35d06a19-f303-656f-f8aa-1e61ec6f0383
* Version Independent ID: 0c39

[2019-07-30 14:05] NavtejSaini-MSFT commented on #36110
@julie-ng Thanks for the feedback and we will check the same.
@sivethe Please check and make the necessary changes.

[2019-07-30 14:08] wooters commented on #36056
@RohitMungi-MSFT Thanks for your reply. But I'm asking a different question. My question is: instead of sending a URI for a single audio file, can we instead send in the URI for a **folder/directory**?

[2019-07-30 14:08] garrmark commented on #36051
I tried to configure this in my standalone cluster with the following:
        "fabricSettings": [
            {
                "name": "PlacementAndLoadBalancing",
                "parameters": [
                    {
                        "name": "EnforceUserServiceMetricCapacities",
                        "value": true
                    }
                ]
            }
        ]

I get t

[2019-07-30 14:12] msangapu-msft commented on #35090
Hi @TheChadR, we understood your feedback. We are planning to add an additional step, but it will be a global change in our documentation and requires another team to make the change. This has been created as an internal work item to be prioritized.

Meanwhile, we rely on the "bash" heading above the snippet to help customers understand which language to use (as mentioned by Ajay https://github.co

[2019-07-30 14:13] msangapu-msft commented on #30364
#please-close

[2019-07-30 14:13] #30364 closed

[2019-07-30 14:14] mowens1234 opened #36116 "Dependency Agent Uninstall"
When I try to package the dependency agent, the uninstall logic does not work on server 2012R2. The agent is installed via the exe - (Also, could you make an MSI to make packaging easier?) It shows up in appwiz.cpl, with no MSI guid associated with it. When I run  "C:\Program Files\Microsoft Dependency Agent\Uninstall_9.9.0.6300.exe" I get a blue ribbon that states "This app can't run on your PC.

[2019-07-30 14:16] mowens1234 commented on #36116
![Error](https://user-images.githubusercontent.com/24703845/62136945-1bfd8380-b2b3-11e9-9699-e835e3250ddb.png)

[2019-07-30 14:20] jefffanjoy opened #36117 "First note on the page has a broken reference to "./how-to/region-mappings.md""
First note on the page has a broken reference:

The Update Management solution requires linking a Log Analytics workspace to your Automation account. For a definitive list of supported regions, see [./how-to/region-mappings.md]. The region mappings do not affect the ability to manage virtual machines in a separate region than your Automation account.

---
#### Document Details

⚠ *Do not edit this

[2019-07-30 14:21] jelledruyts opened #36118 "Documentation on allowed token audiences"
Can we fully document the Azure AD options, including "allowed token audiences" and including the fact that the Client ID of the app is always allowed?

When you enable EasyAuth and use the "Advanced" management mode for Azure AD authentication, you have settings for the Client ID, Issuer Url and Client Secret. These are fairly easy to understand but clear documentation is always good, and these a

[2019-07-30 14:27] KrishnaG-MSFT commented on #36117
@jefffanjoy Thanks for the comment. We are actively investigating and will get back to you shortly with an update.

[2019-07-30 14:30] mchudinov opened #36119 "Remove-AzTableRow error "Delete requires an ETag""
I have a script that delete rows from a storage table exactly as it is described in this article. The script worked fine until this week. Starting from this week I get the following error:

Exception calling "Delete" with "1" argument(s): "Delete requires an ETag (which may be the '*' wildcard)."
At C:\Program Files\WindowsPowerShell\Modules\AzTable\2.0.2\AzureRmStorageTableCoreHelper.psm1:748 cha

[2019-07-30 14:31] callranjithkani commented on #36023
https://docs.microsoft.com/en-us/azure/data-factory/copy-activity-overview

[2019-07-30 14:33] pagyP commented on #36029
Thanks for sorting :)

[2019-07-30 14:33] #36029 closed

[2019-07-30 14:33] pagyP commented on #36029
Thanks for sorting :)

[2019-07-30 14:35] varunpuranik commented on #30681
@haohaowasky -
The tag 1.0 points to the latest version of the EdgeHub image. Currently it points to the 1.0.8 version.
If you do any change to the deployment that requires the module to be re-created, then the EdgeAgent will first pull the image to see if there was an update. This will pull down the latest version if there is one.
That is likely what happened in your case - the change in upstream

[2019-07-30 14:41] sergaz-msft commented on #30681
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-30 14:41] #30681 closed

[2019-07-30 14:46] thecpshah opened #36120 "Different coding language support in different subscription"
<img width="160" alt="Available notebooks" src="https://user-images.githubusercontent.com/10298891/62139494-5f6ee680-b2e1-11e9-9674-249ef7cbab41.PNG">
I have access to two subscriptions and I see different coding languages in the two.

In one subscription: I only see `Python` but in another, I see `R`, `Julia`, `Python` (see attached image)

Why is that the case?

---
#### Document Details

⚠ *Do

[2019-07-30 14:50] adelisle opened #36121 "az provider list didn't work"
`az provider list --query "[?contains(namespace,'Microsoft.ContainerInstance')]" -o table` didn't work as-is, had to double the quotes like so `az provider list --query """[?contains(namespace,'Microsoft.ContainerInstance')]""" -o table`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 183d8705-0563-9944-d779-774c8b828c3

[2019-07-30 14:57] zacktayl commented on #35553
Any update on this issue? This is blocking my work as well.

[2019-07-30 15:07] ram-msft commented on #34532
@Ayanmullick Thanks, Feel free to initiate a new item at [UserVoice]https://cognitive.uservoice.com/forums/912196-anomaly-detector). So that product group team will review and take up in the upcoming releases.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the iss

[2019-07-30 15:07] #34532 closed

[2019-07-30 15:10] SvetlanaDevOps commented on #25052
One more thing: it seems strange that ARM doesn't recognize syntax `ipAddress": "122.133.144.0/24`, as it shown in [Programmatic manipulation of access restriction rules
](https://docs.microsoft.com/en-gb/azure/app-service/app-service-ip-restrictions#programmatic-manipulation-of-access-restriction-rules). Actually in ARM template you must specify ipAddress and subnetMask separately otherwise you g

[2019-07-30 15:15] RobC-CTL commented on #36103
Not an answer but if the user removes '&requirement=App' from the end of the URL on the "Additional Security Verification" screen this will expose the other options.  It would be very useful to have text/phone available as alternative options

[2019-07-30 15:16] mdid4d opened #36122 "Digital Payment of identity"
Request to resloved digital payment of identity

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5bc3bc72-3623-6acf-44e2-887ad49ffd96
* Version Independent ID: 73530cea-caa3-4159-0f4b-d67407abb315
* Content: [Manage access to Azure resources using RBAC and the Azure portal](https://docs.microsoft.com/en-us/azure/role-bas

[2019-07-30 15:17] skyapps-co opened #36123 "Scripts"
The FAQ is referring to Scripts that will be available to migrate the scheduler jobs over to Logic Apps. ("For script availability, check back later"). As we're approaching the deadline, I'm waiting for these scripts to upgrade my jobs. When do you expect to have them ready? Thanks!

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-07-30 15:19] SubhashVasarapu-MSFT commented on #36013
@venkatx5, The URLs were edited so that the redirection occurs without any errors. Along with Airtel, we have also edited Ascenty provider URL which is leading to 404 pages. Thanks once again for your feedback on azure docs. The changes might take some time to get reflected on the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will

[2019-07-30 15:19] #36013 closed

[2019-07-30 15:21] v-labens commented on #36066
In Dynamics 365, you can connect a Team to an Office 365 Group. However it does not appear to be able to connect if the Office 365 Group is set to type of "Dynamic", where users are added automatically. Is this not how it's supposed to function?

[2019-07-30 15:22] laultman commented on #34613
This is still an issue. There does not seem to be a workaround. Breakglass accounts still must have  MFA. Checked again today 7/30/2019. This is a REAL issue here in Florida for our government accounts where we are prone to hurricanes that take out everything. We experienced this issue last year during Hurricane Michael when all services including cell service was gone!

[2019-07-30 15:24] laultman commented on #35337
This is not a documentation issue as much as it is really a problem with the Azure policy itself. As a CSP we are required to follow the policies by August 1, 2019 two day from now.

[2019-07-30 15:25] kraigb commented on #36089
That level of privacy (private repos as well as managing the authentication and authorization for private notebooks) is not part of the current Azure Notebooks preview. The engineering team is aware of the need for such scenarios, however, so stay tuned for future announcements.

[2019-07-30 15:34] festivus opened #36124 "Assessment Storage Account Firewall"
If I turn on the Firewall on the storage account that the sql vulnerability assessment uses, will it still work?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02495b5c-f888-b3fc-82e0-37350af6ae81
* Version Independent ID: ff0899fe-800e-328a-1690-f0d911331837
* Content: [SQL Vulnerability Assessment - Azure SQL Databas

[2019-07-30 15:36] mmacy commented on #35742
@moseleycj Hi Chris, checking back in to see if you've had a chance to verify whether you had the directory containing your B2C tenant selected prior to selecting AAD in the menu.

[2019-07-30 15:39] TimPosey2 commented on #22771
I think the storage table is still incorrect.

The cost for 3TB (3 regions * 1TB each) should be $768.  Also the storage cost for West US should be $256 (1TB * $0.25/GB).  Assuming 1TB = 1024GB.

[2019-07-30 15:40] SubhashVasarapu-MSFT commented on #36113
@damart23, Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-07-30 15:47] tommparekh commented on #36031
Thanks for your response. Here is what I see:

![image](https://user-images.githubusercontent.com/24255850/62144436-d1cecf00-b2bf-11e9-9809-fa3de47161d7.png)

[2019-07-30 15:53] fs366e2spm opened #36125 "Logic App Certificate BadRequest"
## Creating an issue
Hi,
There are not a lot of information available how to use certificates in a Logic App.
Found this blog and followed it:
https://laurakokkarinen.com/authenticating-to-office-365-apis-with-a-certificate-step-by-step/

Unfortunately only a BadRequest is returned:
**_BadRequest. The provided authentication certificate is missing the private key. The private key is required to si

[2019-07-30 15:54] moseleycj commented on #35742
Hi Marsh, Apologies, I can confirm that I did not have the B2C tenant
selected. When selected, the App Registrations (Legacy) option is available
as described.

On Tue, 30 Jul 2019, 16:37 Marsh Macy, <notifications@github.com> wrote:

[2019-07-30 15:55] diberry commented on #35661
@bluetrane The team is interested in reviewing your utterances to see why they are not firing. Is that a possibility?

[2019-07-30 15:58] ps-tb opened #36127 "Retrieving SSL certificate for ILB ASE"
This documentation was extremely helpful recently. One issue thought that I experienced is related to the following.

If you follow those directions, at least given the ILB ASE setup found in the documentation (or how I've set it up), 443 isn't an open port and it doesn't return anything. Do you need to open that port in the network security group in order for this to work? It would be helpful if

[2019-07-30 15:59] SubhashVasarapu-MSFT commented on #36113
@damart23, The document was edited accordingly with the correct URL of FortiGate cookbook for azure. It takes some time to get reflected over docs.

[2019-07-30 16:00] regenbauma commented on #35948
I also got this error today.

2019-07-30T15:57:05.533 [Error] Executed 'Functions.HttpTriggerallan' (Failed, Id=b75a09c2-178c-491f-a706-1ff62aadd308)
Result: Failure
Exception: Error: Required Header authorization is missing. Ensure a valid Authorization token is passed.
ActivityId: 5ff9b804-c1b5-448a-bb49-3380aff62aa6, Microsoft.Azure.Documents.Common/2.5.1
Stack: Error: Required Header authoriza

[2019-07-30 16:03] SubhashVasarapu-MSFT commented on #36127
@ps-tb, Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-07-30 16:04] mamccrea commented on #35979
@Exnav29 - that's great! Thanks again for your input. The doc has been updated to reflect the new steps.

[2019-07-30 16:08] #36090 closed

[2019-07-30 16:09] mmacy commented on #35742
@moseleycj Thanks Chris! Will get the doc updated with the current UI showing "(Legacy)" and will make it more clear that the B2C-containing director must be selected. Leaving this issue open until fix is merged.

[2019-07-30 16:11] tbalasavage opened #36128 "More details on end-to-end encryption are required"
This guide is helpful for setting up HTTP but having end-to-end encryption via HTTPS can be a requirement. Given this page and other the available documentation [1][1] [2][2], it's not necessarily easy to accomplish this. It would be helpful if there was a section on HTTPS in this guide (acknowledging how v1 and v2 ASE requirements may differ). For instance, there's no certificate uploaded for v2

[2019-07-30 16:15] #35792 closed

[2019-07-30 16:25] twooley commented on #26869
Hi, @jtuliani. I removed the video link as the original video appears to be gone (couldn't find it elsewhere). Thanks for pointing this out.

[2019-07-30 16:26] twooley commented on #26869
#please-close

[2019-07-30 16:26] #26869 closed

[2019-07-30 16:26] SaurabhRaoot opened #36129 "Performance and Retry Mechanism"
I am using Event Processor Host where I have to read 1 Million messages per Minute, Event hub is using 40 TUs. But still many times Input Messages and Output Messages are not in sync. I have set MaxBatchCount to 10240 and Prefetch Batch count to 20480. When checked with Microsoft Product team they suggested to implement retry Mechanism.

How to implement retry Mechanisms ?
Should we go for dedicat

[2019-07-30 16:26] DCtheGeek commented on #36074
@sspage I'd recommend taking a look at the [Author policies for array properties](https://docs.microsoft.com/azure/governance/policy/how-to/author-policies-for-arrays#evaluating-the--alias) page as it provides a deeper example and table of how a **\[\*\]** alias works.  I believe from your description, the one you want is:

`"not":{"field":"Microsoft.Storage/storageAccounts/networkAcls.ipRules[*].

[2019-07-30 16:31] SaurabhSharma-MSFT commented on #35875
@hcstern Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-07-30 16:32] SaurabhSharma-MSFT commented on #35822
@alvipeo We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-30 16:32] #35822 closed

[2019-07-30 16:33] SaurabhSharma-MSFT commented on #35594
@liroforum Are you still having issues ?

[2019-07-30 16:33] MashaMSFT commented on #36114
Hi @MasayukiOzawa , thank you for contacting Microsoft! sorry I'm not sure I understand your question. What's the same, and what's different?

Thanks!
Masha from the SQL Docs team

[2019-07-30 16:36] pbburkhalter commented on #33099
I am having this issue as well, please update with the correct URL to use in the Workday IdP SSO Service URL textbox.

[2019-07-30 16:38] regenbauma commented on #35948
this resolves fine if you use the full connection string
const client = new CosmosClient("AccountEndpoint=https://test-account.documents.azure.com:443/;AccountKey=c213asdasdefgdfgrtweaYPpgoeCsHbpRTHhxuMsTaw==;")

[2019-07-30 16:41] MicahMcKittrick-MSFT commented on #36121
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-30 16:42] pbburkhalter opened #36131 "This documentation is incorrect and doesn't allow you to complete the configuration for SSO into Workday."
AADSTS750054: SAMLRequest or SAMLResponse must be present as query string parameters in HTTP request for SAML Redirect binding is received because Workday doesn't support HTTP Redirect binding and the URL to use for the idP sso service URL provided by Azure won't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a0

[2019-07-30 16:43] jeevansd commented on #33099
@kulbirjandoria and @pbburkhalter I will provide the screenshot for your reference.

[2019-07-30 16:48] rupeshprasad commented on #36046
I kind of figured out the issue.
Step A - Initially i defined the attribute as string and was putting date in it.
Step B - Later i changed the datatype to dateTime and re uploaded the policy.
Second time also policy got uploaded without any error. Now i ended up with attribute whose type is string but string data time data and at last policy file says date.

This was a mistake from my side but i w

[2019-07-30 16:48] MicahMcKittrick-MSFT commented on #35593
@ntlgr I reached out to the product team regarding ask. At this time there is no information we are able to share publicly surrounding adding additional regions.

As new updates come in, we will be sure to update the documentation accordingly.

[2019-07-30 16:48] #35593 closed

[2019-07-30 16:49] jeffjwu opened #36132 "Upsert Data Example Missing Temp Table Handling Info"
In the section regarding upsert-data, the example talks about bulk loading the data into a temporary table and then invoking a stored procedure with the merge statement. However, there's no explanation or recommendation given on how to persist the global temp table utilized in the pipeline as it gets dropped immediately after the copy data activity finishes. This causes the stored procedure to fai

[2019-07-30 16:50] xelossan opened #36133 "Sending sensor data through hardware gateway"
Hi, What if I cannot add required properties to device's message? In my case, there's a single third party gateway device that collects telemetry from multiple sensors and sends it as a JSON array to configured endpoint. I cannot modify the message.
Is there a way to support this case without adding another gateway/web app or something between the existing gateway device and Digital Twins?

---
##

[2019-07-30 16:51] ppavanm commented on #35692
@kgremban any suggestion?

[2019-07-30 16:55] SaurabhSharma-MSFT commented on #35900
@lightupdifire You can enable/disable it using Powershell cmdlet - [Set-AdfsEndpoint](https://docs.microsoft.com/en-us/powershell/module/adfs/set-adfsendpoint?view=win10-ps).

[2019-07-30 16:55] normesta commented on #12554
@JohnRusk - Thank you for looking at this. Yes this item has bounced around a lot and came into my view in June.

[2019-07-30 16:55] normesta commented on #12554
#please-close

[2019-07-30 16:55] #12554 closed

[2019-07-30 16:58] JasonWHowell commented on #35979
@mamccrea Are we ready to close this one out?

[2019-07-30 17:00] JimacoMS3 commented on #33801
Hi Christophe,

Glad to hear the solution is running now! I don't personally know the answer to your question as I don't have this hardware setup. Bear with me for a couple of days while I track down someone who can help out.

Best,

Jimaco

[2019-07-30 17:01] mamccrea commented on #35979
#please-close

[2019-07-30 17:01] #35979 closed

[2019-07-30 17:07] schneuwlybe commented on #25052
I think the main problem is, that IP Restriction Automatation (With ARM and Powershell) is only poorly implemented. When you export an ARM Template from an existing application there are no ip restrictions exported. Also there is currently no way to add IPv6 Addresses besides the Portal. Since IP Restrictions is a fairly new feature, it is possible, that they are still on the implementation of the

[2019-07-30 17:07] Grace-MacJones-MSFT commented on #36109
Hi @Hatzman91, thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-30 17:12] roygara commented on #35852
@devan10 Thanks for reaching out, in this case both are correct. You can use PowerShell 6 instead of PowerShell 5.1 with 2012 R2 but, it still requires that you install Windows Management Framework 5.1 for other functionality in Windows Management Framework 5.1.

I'm going to close out this issue now, please feel free to respond to this and open it up if you've any additional questions regarding t

[2019-07-30 17:12] #35852 closed

[2019-07-30 17:13] mahoekst opened #36134 "Update to V2"
This page has a ton of important information and needs to be copied to the V2 hive and updated (MSAL.JS instead of ADAL.JS for example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e11bfab1-b878-dfb4-a052-0434b9701dc2
* Version Independent ID: 736dfa91-cebf-1277-b6f4-0aa0bb3310ca
* Content: [Developer guidance for Az

[2019-07-30 17:16] nerddtvg opened #36135 "Note Has Bad Link Reference"
The first note on this page has a link that failed to resolve/auto-update:

The Update Management solution requires linking a Log Analytics workspace to your Automation account. For a definitive list of supported regions, see [./how-to/region-mappings.md]. The region mappings do not affect the ability to manage virtual machines in a separate region than your Automation account.

---
#### Document

[2019-07-30 17:17] nerddtvg commented on #36135
Self-closing because I didn't see #36117 already called this.

[2019-07-30 17:17] #36135 closed

[2019-07-30 17:17] JimacoMS3 commented on #35024
#reassign JimacoMS3

[2019-07-30 17:18] codyborn commented on #34985
Can you see if you can deploy this contract to any other Ethereum network (ex. Kovan) to see if we can narrow it down further?

Can you attempt using the versions that I'm using to see if you can still reproduce?
Truffle v5.0.3 (core: 5.0.3)
Solidity v0.5.0 (solc-js)
Node v10.13.0

[2019-07-30 17:19] JimacoMS3 commented on #35024
Hi @sebader,

Thanks again for your feedback. I've updated the topic here: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-device-twins#device-operations . Please let me know if any other changes are required.

Best,

Jimaco

[2019-07-30 17:20] vitaly-livshits opened #36136 "REST in the first diagram should be capitalized"
EOM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d37ec9b1-bb55-c423-8a70-d34b67c5ba79
* Version Independent ID: 2f853cf4-4f90-6d8d-dd13-abe6508126a5
* Content: [Azure Resource Manager Overview](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-overview)
* Content Source: [articles/azure-re

[2019-07-30 17:20] YutongTie-MSFT commented on #36120
@thecpshah
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-30 17:24] cijothomas commented on #35974
@Rugved Yes the doc is outdated. Thats for reporting.
Also i'd recommend to record IP addres in (item as ISupportProperties).Properties instead of GlobalProperties as the cardinality could be very high for something like IP Adress.
GlobalProperties are meant to store low-cardinality properties like Region name, environment name etc.

[2019-07-30 17:24] cijothomas commented on #35974
@CHEEKATLAPRADEEP-MSFT please update doc to use (item as ISupportProperties).Properties.

[2019-07-30 17:25] cijothomas commented on #21079
This issue is addressed - please-close

[2019-07-30 17:26] rwike77 commented on #36134
Thanks, @mahoekst  I agree.  We actually have a doc workitem open to do just that.  We should get the work done in the next couple weeks.  #please-close

[2019-07-30 17:26] #36134 closed

[2019-07-30 17:29] Exnav29 opened #36137 "Usability Suggestions"
Hi Again,
A suggestion I have for this guide and all how-to guides would be to make links open in a separate tab or window.  When someone goes through a how-to they will need to access the links depending on what they are doing (i.e., setting up a new Twitter Developer account) they may go through several screens to complete that step.  Afterward, they will need to return to the how-To guide.  Hav

[2019-07-30 17:33] BharathNimmala-MSFT commented on #21079
Thank you @cijothomas , @lmolkova and @mrbullwinkle  .

@imeya Hope your query has been answered, will go ahead and close the issue. Feel free to revert back if you have any further queries. Thank you

[2019-07-30 17:33] #21079 closed

[2019-07-30 17:39] RyanHill-MSFT commented on #36118
Thanks for feedback @jelledruyts. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-07-30 17:40] sebader commented on #35024
looks good! thanks

[2019-07-30 17:40] #35024 closed

[2019-07-30 17:41] MashaMSFT commented on #24229
Hi @SimonGivan , just to clarify.. you were logged into the machine sql-server-0 with the account 'sqlserver-0\DomainAdmin' and you were unable to connect to SQL Server using windows authentication? Is that correct?

Thanks!
Masha from the SQL Docs team

[2019-07-30 17:41] raghunaik2009 opened #36138 "SSL creation azure machine learning services doesn't work"
After using SSL to secure a web service through Azure Machine Learning I'm not able to consume the webservice. Please find the below error message
INTERNAL SERVER ERROR: :error, %Protocol.UndefinedError{description: "", protocol: String.Chars, value: {:closed, 'The connection was lost.'}}
Kindly help me to resolve this error.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-07-30 17:44] MarileeTurscak-MSFT commented on #35733
Hi @ingo-aware ,

AD Connect supports all Windows Server editions after Server 2008, excluding Small Business Server or Windows Server Essentials before 2019.

[2019-07-30 17:44] mamccrea commented on #36137
Hi @Exnav29 - thank you for the recommendation. Our site does not use new tabs for links, but you can open a link in a new tab by holding the Ctrl key while you click, or you can right-click the link and select "Open in new tab."

We also recommend that users create new resource groups to complete the how-to guides, quickstarts, and tutorials. That way you keep resources separate and can delete th

[2019-07-30 17:45] MarileeTurscak-MSFT commented on #35733
@billmath is this something we can add explicitly in the notes and in the AD Connect prerequisites page? I'm happy to add it myself if needed.

A few people have asked about this.

[2019-07-30 17:46] MarileeTurscak-MSFT commented on #35733
Since this is answered we will proceed to close this thread.

[2019-07-30 17:46] #35733 closed

[2019-07-30 17:49] ShawnPOWER opened #36139 "Clarification on free Azure AD B2B users which do not need any additional Azure AD features"
It is unclear to me if there is a free tier of Azure AD B2B based on reading this document. It would be great to include some verbiage around that in more detail. I understand Basic and higher Azure AD Licenses and how that relates to B2B, I just am unclear on the free Azure AD use case here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-07-30 17:51] billmath commented on #35733
@MarileeTurscak-MSFT  we do actually call this out on the pre-req page:

Azure AD Connect cannot be installed on Small Business Server or Windows Server Essentials before 2019 (Windows Server Essentials 2019 is supported). The server must be using Windows Server standard or better.

Then there are additional bullet points as well.

[2019-07-30 17:57] DeveloperBeginner opened #36140 "twinClient.getTwin(device) throws java.lang.RuntimeException: java.nio.charset.IllegalCharsetNameException: java.nio.charset.CharsetICU[UTF-8] on Android"
OS and version used:
Android 6.0.1
Java runtime used:
Java 8
SDK version used:
IOT service client 1.17.1
(implementation group: 'com.microsoft.azure.sdk.iot', name: 'iot-service-client', version: '1.17.1')

twinClient.getTwin(device) throws the following exception

    java.lang.RuntimeException: java.nio.charset.IllegalCharsetNameException: java.nio.charset.CharsetICU[UTF-8]
        at com.micros

[2019-07-30 17:59] rajatb94 commented on #35553
Hi @zacktayl,
Speech Batch Transcription Docs is currently there for v2.0. You will have to use v2.1 which is not mentioned. I am sharing u the end point URL with the request format
**URL**
[<YOUR_REGION_SPECIFIC_HOST>/api/speechtotext/v2.1/transcriptions](url)

**REQUEST (POST)**
[code]

**NOTE:**

1. Other End Points will remain similar. You just need to replace v2.0 with v2.1 in request URL.
2.

[2019-07-30 18:01] Karishma-Tiwari-MSFT commented on #20572
@curtand Can you please review the doc updates suggested by @scottstout and update the doc as needed. Thanks :)

[2019-07-30 18:02] rajatb94 commented on #35553
Please feel free to ping me in case u have any doubt.

[2019-07-30 18:02] SvetlanaDevOps opened #36141 "How do I lock down the access to my backend to only specified instance(s) of Azure Front Door?"
Answer [here](https://docs.microsoft.com/en-us/azure/frontdoor/front-door-faq#how-do-i-lock-down-the-access-to-my-backend-to-only-azure-front-door) describes how to allow access for Azure Front Door Services in general. But how can I restrict access only to my particular Front Door instance? Or to some several instances, in general.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2019-07-30 18:02] enlightenalpha opened #36143 "LIS drivers for OpenLogic CentOS"
In this section, you recommend using rpm -e to remove package hypervkvpd.  Without using the --nodeps option, we hit an error due to dependencies.  Is it safe to remove dependencies?  If so, the document should reflect by suggesting use of yum instead.  If not, then consider using rpm -e --nodeps in the document example.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2019-07-30 18:03] jpe316 commented on #34940
Following up on this.

In order to update a service you need to provide a collection of models as well as an inference_config.
We have removed the 'dependency' parameter from InferenceConfig in favor of taking files from a specified source directory based on customer feedback.

We are slowly phasing out ImageConfig in favor of InferenceConfig, please move to using InferenceConfig going forward.

@

[2019-07-30 18:08] KranthiPakala-MSFT commented on #36132
@jeffjwu Thanks for the feedback and bringing this to our notice. At this time we are reviewing the ask and will update as appropriate.

[2019-07-30 18:10] KranthiPakala-MSFT commented on #36129
@SaurabhRaoot Thank you for reaching out and bringing this to our notice. At this time we are reviewing the ask and will provide an update as appropriate.

[2019-07-30 18:14] haokanga commented on #36053
As far as I can tell, VNet is still needed to grant Azure Database Migration Service access to the source server. However, the wording, esp. the reference to "on-premises/ExpressRoute/VPN/Windows Firewall" can be confusing for users.

I don't think Windows Firewall is relevant.

[2019-07-30 18:16] deborahc commented on #35948
@southpolesteve - can you take a look?

[2019-07-30 18:17] enlightenalpha opened #36145 "LIS drivers for OpenLogic CentOS"
The documentation suggests running: rpm -e hypervkvpd prior to installing microsoft-hyper-v package via yum.  We receive a dependency error when trying to remove hypervkvpd.  Should you include --nodeps in your example?  Is it safe to remove this package without the dependencies?  Better yet, can we use yum to remove it and all dependencies prior to installing microsoft-hyper-v?  The documentation

[2019-07-30 18:18] bobbytreed commented on #35131
There is a runbook that can assist https://docs.microsoft.com/en-us/azure/automation/automation-onboard-solutions and I have updated the doc

a deployment just means a single deployment action. If you have VMs across multiple resource groups you can either take this action multiple times or look at the script

#please-close

[2019-07-30 18:18] #35131 closed

[2019-07-30 18:19] bobbytreed commented on #35445
This is a code bug being tracked here https://github.com/azureautomation/runbooks/issues/43

#please-close

[2019-07-30 18:19] #35445 closed

[2019-07-30 18:20] yoelhor commented on #36046
Azure AD B2C date claim supports both date and string type for backward compatibility.

[2019-07-30 18:20] pbburkhalter commented on #33099
Do you have a timeline for when you will provide the screenshot?

[2019-07-30 18:21] SaurabhSharma-MSFT commented on #36139
@ShawnPOWER Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-07-30 18:22] SaurabhSharma-MSFT commented on #36131
@pbburkhalter Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-07-30 18:22] NavtejSaini-MSFT commented on #36124
@ronitr Thanks for the question and we are looking into it and will get back to you.

[2019-07-30 18:23] SaurabhSharma-MSFT commented on #36105
@smushtaq1 Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-30 18:24] SaurabhSharma-MSFT commented on #36103
@rvahaver Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-30 18:24] SamaraSoucy-MSFT commented on #36019
@VaclavK
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-30 18:24] #36019 closed

[2019-07-30 18:25] NavtejSaini-MSFT commented on #36119
@roygara Thanks for the feedback and we are checking this further.

[2019-07-30 18:26] bobbytreed commented on #35584
I was informed that you can add the initial saved searches back listed here: https://docs.microsoft.com/en-gb/azure/automation/automation-onboard-solutions-from-automation-account#scope-configuration

I have updated the doc, but let me know if this solves your issue.

[2019-07-30 18:26] SaurabhSharma-MSFT commented on #36097
@rexhinvorpsi Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-30 18:27] SaurabhSharma-MSFT commented on #36096
@Adam-Driver Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-30 18:29] SaurabhSharma-MSFT commented on #36095
@Adam-Driver Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-07-30 18:31] NavtejSaini-MSFT commented on #36115
@AlexanderTodorovic Thanks for the feedback and we will check this and get back to you on this.

[2019-07-30 18:31] MicahMcKittrick-MSFT commented on #36143
Duplicate of #36145

[2019-07-30 18:31] #36143 closed

[2019-07-30 18:32] SaurabhSharma-MSFT commented on #36085
@watahani Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-30 18:32] mwhisler commented on #7650
@JulianHayward I am also seeing this error when I try to use the secret identifier URL of the SSL cert in a different subscription and different resource group.  I am able to use the same key vault to pass in secrets though.

[2019-07-30 18:32] MicahMcKittrick-MSFT commented on #36145
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-30 18:34] SaurabhSharma-MSFT commented on #36084
@ROHAN-TODEKAR Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-30 18:35] MicrosoftGuyJFlo commented on #36085
@watahani the article recommends enabling the combined experience under the Plan registration policy heading.
https://docs.microsoft.com/azure/active-directory/authentication/howto-mfa-getstarted#plan-registration-policy

[2019-07-30 18:35] MicrosoftGuyJFlo commented on #36085
#please-close

[2019-07-30 18:35] #36085 closed

[2019-07-30 18:36] jeevansd commented on #33099
You shoudl configure it in this way.
![image](https://user-images.githubusercontent.com/15001780/62155633-40129200-b2be-11e9-9960-65b8a2cc1504.png)

[2019-07-30 18:37] sahil839 commented on #36031
I am also seeing same response as above by using `truffle version` but the error still persists.

[2019-07-30 18:37] MicrosoftGuyJFlo commented on #36096
It may take some time to update the backend processes that handle this as it is still in preview. When the feature moves to general availability this should be resolved.

[2019-07-30 18:37] MicrosoftGuyJFlo commented on #36096
#please-close

[2019-07-30 18:37] #36096 closed

[2019-07-30 18:39] MicrosoftGuyJFlo commented on #36095
@Adam-Driver Within SSPR nesting works. I will add an item to my backlog to add a note to the doc.

[2019-07-30 18:39] MicrosoftGuyJFlo commented on #36095
#please-close

[2019-07-30 18:39] #36095 closed

[2019-07-30 18:40] arsing opened #36148 "`Install-IoTEdge -Dps` example should set `-ScopeId` and `-RegistrationId` parameters explicitly"
In the "Option 2: Install and automatically provision" section, step 5 suggests to use

[code]

In 1.0.7 and earlier, this would then prompt the user for the `ScopeId` and then for the `RegistrationId`. In 1.0.8 and above, `-RegistrationId` is just one of the three ways to use DPS, so the parameter is optional and PS won't prompt the user to supply it. This means the script will fail later with an

[2019-07-30 18:40] yoelhor commented on #34565
The forgot password link on sign-up or sign-in flow redirects to app URL based on the `response_mode` query string parameter you specify in the authorization request. It can be `query` (this is probably what you are looking for), `form_post`, or `fragment` (default). So, any response (access token, or error message) is based on the same `response_mode` query string parameter.

[2019-07-30 18:42] pbburkhalter commented on #33099
I am pretty sure that's wrong. What you provided is basically what I am already using, except my tenant ID is obviously different than whatever you have in your link. Can you please double check?

[2019-07-30 18:42] MicrosoftGuyJFlo commented on #36077
Forwarded to MFA/Conditional Access PMs.

[2019-07-30 18:43] robinsh commented on #31362
#reassign @robinsh

[2019-07-30 18:43] jeevansd commented on #36131
@pbburkhalter I dont think this is true. Azure AD does support POST biding for receiving the SAML Request and Azure AD only support POST binding for sending the SAML token. If you are facing issues then please feel free to raise the support ticket and we can get all the traces and help you out in much more structured way.

Thanks.

[2019-07-30 18:43] jeevansd commented on #36131
#please-close

[2019-07-30 18:43] #36131 closed

[2019-07-30 18:43] robinsh commented on #31362
#please-close

[2019-07-30 18:43] #31362 closed

[2019-07-30 18:44] Karishma-Tiwari-MSFT commented on #35671
@g-kannan The document mentions that 'The template cannot create servers in an existing domain or virtual network.'
The [Create an availability group with SQL Server 2014 replica virtual machines template](https://github.com/Azure/azure-quickstart-templates/tree/master/sqlvm-alwayson-cluster) creates the same solution as this tutorial using PowerShell. It would still require modification if you ar

[2019-07-30 18:45] Adam-Driver commented on #36095
Thanks, i have put the link that states nesting works with SSPR, I am after a support statement that the Combined Registration Process supports nesting. ie the Enhanced user preview featrues. It just says to specify a group and doesnt mention nesting at all.

Cheers,

[2019-07-30 18:45] NavtejSaini-MSFT commented on #22771
@TimPosey2 Thanks for checking this and providing feedback.
@rimman we are reopening this issue and assigning it to you. Please check the calculations that have been done for 100 GB but table and preceding para mentions calculations with 1 TB. Please check.

[2019-07-30 18:45] #35671 closed

[2019-07-30 18:50] veyalla commented on #36148
FYI  @kgremban

[2019-07-30 18:52] KranthiPakala-MSFT commented on #35861
@sureshsmmail We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Also please do share the stackoverflow thread link (once created) here, for future references.
Thank you.

[2019-07-30 18:52] #35861 closed

[2019-07-30 18:55] ronitr commented on #36124
Using a storage account behind a firewall for SQL Vulnerability Assessment is under development but not yet officially supported. There is a private preview for this capability, if you are interested in trying it out in preview.

[2019-07-30 19:02] sspage commented on #36074
This format seems to work.  Thanks for the help.

[2019-07-30 19:02] #36074 closed

[2019-07-30 19:02] NavtejSaini-MSFT commented on #36124
@ronitr Assigning to you for any further user question.

[2019-07-30 19:04] Ayanmullick commented on #34532
@ram-msft  Uservoice feedback posted.

https://cognitive.uservoice.com/forums/912196-anomaly-detector/suggestions/38265406-powershell-cmdlet-request

[2019-07-30 19:06] ronitr commented on #36124
+@Ameer Tayyem<mailto:Ameer.Tayyem@microsoft.com>, @Yoav Frandzel<mailto:yoavf@microsoft.com>, @Michal Bar<mailto:Michal.Bar@microsoft.com> FYI

From: NavtejSaini-MSFT <notifications@github.com>
Sent: Tuesday, July 30, 2019 10:03 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Ronit Reger <ronitr@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/a

[2019-07-30 19:08] MicrosoftGuyJFlo commented on #31334
@marcelotpcosta Hard to diagnose with the information provided. I would open a support case if you haven't already.

The current version of MFA Server is 8.0.1. There was a fix added back in version 7.0.0 (March 2016) to support the User Portal install on Windows 10. My contacts in support have not heard of any customers with this issue and have helped several through installs recently.

[2019-07-30 19:08] MicrosoftGuyJFlo commented on #31334
#please-close

[2019-07-30 19:08] #31334 closed

[2019-07-30 19:09] MicrosoftGuyJFlo commented on #35881
#please-close

[2019-07-30 19:09] #35881 closed

[2019-07-30 19:10] NavtejSaini-MSFT commented on #36053
@haokanga We will assign this to the author for added clarity to the doc
@HJToland3 Please check if we can add clarity to the document for the VNet for Azure DB migration service.

[2019-07-30 19:17] awgraf opened #36150 "Setup Configuration Server typo"
There is a section about the cache disk that references a requirement of 600 TB where this should be 600 GB (assuming documentation in other locations is correct).

CPU	Memory	Cache disk	Replicated machine limit
8 vCPUs
2 sockets * 4 cores @ 2.5 Ghz	16 GB	600 TB	Up to 550 machines
Assumes that each machine has three disks of 100 GB each.

---
#### Document Details

⚠ *Do not edit this section. It

[2019-07-30 19:18] ccompy commented on #35993
The App Service SLA applies if you are a windows web app going to an RFC1918 address.  Opening a support ticket for any issues is through the normal process.  If support tells you otherwise, I can only say that they are incorrect.  Feel free to point to this statement, give them my email address ccompy@microsoft.com, or even point to the docs.  Within the bounds that I have noted, the feature is s

[2019-07-30 19:18] Choosetango opened #36151 "All I get is 404 resource not found"
Looks like this:
Response:
{
  "error": {
    "code": "404",
    "message": "Resource not found"
  }
}

I also get this in the error message in the stack trace:
response	{StatusCode: 404, ReasonPhrase: 'Resource Not Found', Version: 1.1, Content: System.Net.Http.HttpConnection+HttpConnectionResponseContent, Headers:
{
  apim-request-id: 5f4bb16d-e2dc-4d84-a858-b51444855424
  Strict-Transport-Secur

[2019-07-30 19:24] msmimart commented on #33426
If **Secret Token** is left blank, Azure AD includes an OAuth bearer token issued from Azure AD with each request. The article has been updated with this additional information. Thanks for your feedback!
#please-close

[2019-07-30 19:24] #33426 closed

[2019-07-30 19:25] yoelhor commented on #35370
The access and ID tokens issue by Azure AD B2C are self-contained. So that an application needs no further interaction with Azure AD B2C to perform an authorization decision of the client requesting access to a protected resource.  After an access token is issued, there is no way to invalidate it (since there shouldn’t be any further interaction with Azure AD B2C).

Azure AD B2C support the revoca

[2019-07-30 19:25] kgremban commented on #35692
Hi @ppavanm, I confirmed that DPS for downstream devices is not a feature at this time. It's technically doable, though. As long as your downstream device has internet connectivity (which is should, since you're using the same physical device as your IoT Edge gateway) you can use the regular DPS steps to provision the downstream device. After that, you'll have to manually adjust the connection str

[2019-07-30 19:27] Mike-Ubezzi-MSFT commented on #36023
Customer provided a specific document link, metadata updated and assigned to appropriate service area.

[2019-07-30 19:28] cap273 opened #36152 "Clarification: must user profile shares be deployed on Azure VMs, or can/will Azure Files in storage accounts work?"
As title said. It is unclear in this documentation if (1) FSLogix is strictly necessary for user profile shares, and regardless of whether FSLogix is strictly necessary or not, (2) are there any available or recommended solutions that avoid setting up Azure VM(s) for user profile shares and instead leverage Azure Files.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-07-30 19:30] HJToland3 commented on #36053
@haokanga, I contacted the PM for the feature yesterday and again today. I will respond as soon as I have feedback to provide. Thanks!

[2019-07-30 19:34] HJToland3 commented on #36053
Just got a response - all items are accurate - we will update the third bullet to read:

Configure your Windows/Linux Firewall to allow for database engine access. For MySQL server, allow port 3306 for connectivity.

[2019-07-30 19:37] mwhisler commented on #19055
@singhkays I'd love to get clarification on this.  I've got the same situation where I have SSL certs in a production key vault in Subscription A, but my dev and test VMs are in Subscription B and can't reference the certs.  I can pull in secrets via ARM parameters, but not certs.

Can we confirm that sourceVault for a virtual machine resource MUST be in the same subscription as the VM?

Here's th

[2019-07-30 19:38] MartinJaffer-MSFT commented on #35926
@pes-kapacity I have reproduced the issue.  In my blob storage, my test file had ending 'csv' when it should have been 'txt'.  Thank you for providing those details.  I will forward this to internal teams, and update here when I know more.

[2019-07-30 19:39] CHDAFNI-MSFT opened #36153 "Clarify who can cancel a subscription - document seems inaccurate"
"Only an Azure subscription Account Administrator can cancel an Azure subscription. An Azure subscription administrator can also assign another user as a subscription administrator so that they can cancel a subscription. After you cancel the subscription, your access to Azure services and resources ends."

Conflicting statement
"Only an Azure subscription Account Administrator can cancel an Azure

[2019-07-30 19:39] msmimart commented on #33544
@my-work-sivabankapalli Thanks so much for pointing this out. The article has been updated with additional explanation from the product team. Please see the section "Handling endpoint authentication." #please-close

[2019-07-30 19:39] #33544 closed

[2019-07-30 19:40] Mike-Ubezzi-MSFT commented on #36099
@XamarinTounsi Thank you very much for bringing this to our attention. Please take a look at the following document: How to use the managed client for Azure Mobile Apps ([link](https://docs.microsoft.com/en-us/azure/app-service-mobile/app-service-mobile-dotnet-how-to-use-client-library)) for additional information. In the meantime, I am going to assign this to the appropriate service area for furt

[2019-07-30 19:47] Alberto-Vega-MSFT commented on #36148
@arsing Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-30 19:48] PingPongSet opened #36154 "Resources for programmatic device enrollment in C# using DPS for Symmetric Key"
I am looking for resources including code examples in C# backend and documentation for programmatic device enrollment using DPS for Symmetric Key.

Specifically, I need to enrol device programmatically in C# at backend via DPS for Symmetric Key.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc736dd3-8c16-7731-1a25-faa

[2019-07-30 19:49] MarileeTurscak-MSFT commented on #36049
Tagging @RobdeJong as well to see if there is some existing text that could be added.

[2019-07-30 19:49] sauryadas commented on #35937
I think if the Service principal has contributor permissions on the RG that the public IP is in then it should work fine. you can try it out.. I am packed but can try it out on Friday if you need me to do it.

Thanks

Saurya

________________________________
From: Micah <notifications@github.com>
Sent: Friday, July 26, 2019 8:54 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: S

[2019-07-30 19:52] KranthiPakala-MSFT commented on #36038
@pes-kapacity Hi Peter, for deeper analysis on the issue, we have enabled your subscription for a one time free technical support. Please follow the instructions sent in the email to open a support ticket and do share the support ticket number for tracking purpose.

Since we are following up this offline through email and as well as in below forums threads,
we will now proceed to close this thread

[2019-07-30 19:52] #36038 closed

[2019-07-30 19:56] Alberto-Vega-MSFT commented on #36140
@DeveloperBeginner Thanks for taking the time for bringing this to our attention. Would you please open an issue on the SDK? https://github.com/Azure/azure-iot-sdk-java
If you are interested you could potentially create a pull request with the fix.

[2019-07-30 19:59] SaurabhSharma-MSFT commented on #35900
@lightupdifire Can you please elaborate what your ask is ?  You can enable the endpoint in ADFS using [Enable-AdfsEndpoint](https://docs.microsoft.com/en-us/powershell/module/adfs/enable-adfsendpoint?view=win10-ps) PowerShell cmdlet.

[2019-07-30 20:00] JimacoMS3 commented on #24580
Hi @inesk-vt,

It's been a number of days, and I haven't heard back from you, so I'm going to close this issue. Feel free to open a new issue and link this one if you think additional information is needed in the topic. Thanks again for your feedback!

Best,

Jimaco

[2019-07-30 20:00] JimacoMS3 commented on #24580
#please-close

[2019-07-30 20:00] #24580 closed

[2019-07-30 20:00] bandersmsft commented on #36153
@CHDAFNI-MSFT Thanks, Chase. Yes, I'll clarify.

[2019-07-30 20:01] MicahMcKittrick-MSFT commented on #36121
@adelisle we generally write these docs suggesting the users use Azure Cloud Shell. This ensures all the latest updates and what not are applied to that CLI enviornment.

I checked the commands in Cloud Shell as they are written as the worked
[code]

So at this time the doc is correct. Thank you for the feedback and if you have any other feedback just let me know.

[2019-07-30 20:01] #36121 closed

[2019-07-30 20:01] SaurabhSharma-MSFT commented on #36084
@ROHAN-TODEKAR I suggest you to please open a [Azure Support Ticket](https://aka.ms/azsupt) so that Identity Support engineer can check further on this issue. In case you limitations in your support plan to open support ticket please let me know.

[2019-07-30 20:02] Karishma-Tiwari-MSFT commented on #36152
Thanks for the question. We are currently investigating and will update you shortly.

[2019-07-30 20:02] mkstephenson commented on #35937
I have tried it out in the meantime and it works. The IP address needs to have the basic SKU and the service principal only needs Network Contributor permissions on the RG but apart from that it works fine.

[2019-07-30 20:03] bandersmsft commented on #36153
#in-process

[2019-07-30 20:03] MarileeTurscak-MSFT commented on #35797
I have assigned this to the content author @rwike77 to look into your feedback.

[2019-07-30 20:05] MarileeTurscak-MSFT commented on #35912
Since I have not heard back with you I will proceed to close this thread. Please open a new issue and clarify your ask, and I will gladly continue the discussion.

[2019-07-30 20:05] #35912 closed

[2019-07-30 20:11] MicahMcKittrick-MSFT commented on #35937
Thanks @mkstephenson @sauryadas

I will update the doc then :)

[2019-07-30 20:11] #35911 closed

[2019-07-30 20:12] rvahaver commented on #36103
Thanks for letting me know this work around.

David Haver
Senior Cloud Architect
THInc.IT, A Cherry Bekaert LLP Company
(O) 804-794-3491 | (D) 804-673-5762 | (C) 804-690-7669

From: Rob Clarke <notifications@github.com>
Sent: Tuesday, July 30, 2019 11:15 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: David Haver <david.haver@thincit.com>; Author <author@noreply.github.com>
Sub

[2019-07-30 20:12] rimman commented on #22771
I've walked through the example. Yes, you are right, the table incorrectly computed storage cost. I've just fixed it: $256 for West US and $768 for the other 3 regions. Just submitted PR, it should go live shortly. Thank you!

[2019-07-30 20:13] roberdaniel commented on #22538
The md5 hash generated by AZCopy is not the same as generated by another tools like md5checker or FCIV.
Can you explain how to check if a file uploaded to Azure Blob is not corrupt?
Regards.

[2019-07-30 20:14] mike-urnun-msft commented on #36045
@MisinformedDNA We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-30 20:14] #36045 closed

[2019-07-30 20:16] haokanga commented on #36053
Thank you @HJToland3 ! 3 other comments on the tutorial:

1. I also get confused about the section "Set up AWS RDS MySQL for replication", could you consider adding the rationale of this section? I assume it enables Azure Database Migration Services to capture the new DB changes during the live migration.

2. After "To create a new parameter group, follow the instructions provided by AWS in the ar

[2019-07-30 20:22] JimacoMS3 commented on #31133
#reassign JimacoMS3

[2019-07-30 20:23] MicahMcKittrick-MSFT commented on #36004
@monsterrroll thanks for that! I did test deploying a Gen2 VM to the Bms4 series and it was successful. However I just checked via a marketplace image.

As per you image you uploaded, did you first go through the following doc to ensure it was configured correctly?

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/prepare-for-upload-vhd-image

[2019-07-30 20:24] JimacoMS3 commented on #31133
The direct link appears to be working. Closing this issue. @flaxed Thanks, again, for your feedback. If you still experience problems, you can open a new GitHub issue and link this one.

[2019-07-30 20:26] mike-urnun-msft commented on #36125
Hi @fs366e2spm - Thank you for your feedback. Since this channel is for driving improvements towards  MS Docs, could you open a thread on [MSDN forums](https://social.msdn.microsoft.com/Forums/en-US/home?forum=azurelogicapps) instead?

[2019-07-30 20:26] MarileeTurscak-MSFT commented on #35910
Hey @win2000b ,

Can you please share the full alert?

The product team is fixing the docs as they are incorrect. The endpoint needs to be enabled for intranet and not extranet.

[2019-07-30 20:26] southpolesteve commented on #35948
@regenbauma @angie4u @kilmfer91 Sorry for the trouble! The sample is using the 2.x.x version of the SDK, but the 3.x.x version has a slightly different constructor: https://github.com/Azure/azure-cosmos-js/blob/master/changelog.md#improved-client-constructor-options-246

I'll get the sample updated ASAP

[2019-07-30 20:30] JimacoMS3 commented on #31133
#please-close

[2019-07-30 20:30] #31133 closed

[2019-07-30 20:33] Mike-Ubezzi-MSFT commented on #35676
@antstanley This is being assigned to the content author to evaluate and update as appropriate. Thank you!

[2019-07-30 20:35] yoelhor commented on #34125
You can use the [GetMappedValueFromLocalizedCollection](https://docs.microsoft.com/en-us/azure/active-directory-b2c/string-transformations#getmappedvaluefromlocalizedcollection) claims transformation. In the following example, I used 2 claims transformation. The first one set a value of the key. While the second one, search the key in the claim restriction collection (which is localized).

[code]

[2019-07-30 20:36] prees1 opened #36155 "misspelled parameter when referring to parameter `api-version`"
In this document - https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/marketplace/partner-center-portal/pc-saas-fulfillment-api-v2.md

The parameter `api-version` is incorrectly referred to as `ApiVersion` in the table and content. The camel case references the placeholder value used in the example, but the parameter itself is named `api-version`.

The documentation for `v1` does it

[2019-07-30 20:37] Mike-Ubezzi-MSFT commented on #35676
@SnehaGunda Is there a content strategy to walk customer's through the versioning issue so that there is greater awareness of the breaking changes that will occur between v2 and v3? Thanks!

[2019-07-30 20:37] kfollis commented on #36101
Thank you for your contribution. I have added this URL to the list and will close this issue.
#please-close

[2019-07-30 20:37] #36101 closed

[2019-07-30 20:38] swagulkarni opened #36156 "Publish Swagger API Documentation from git repository"
Hi,
Does API-M provide any plugin that can be used in the project pom.xml which publishes the swagger API documentation to the developer portal during the build process?

[2019-07-30 20:39] Mike-Ubezzi-MSFT commented on #35721
@deborahc I am seeing multiple customers having issues with this tutorial. Is there a new version of the tutorial being made available?

[2019-07-30 20:39] SaurabhSharma-MSFT commented on #36097
@rexhinvorpsi Have you looked into the document [Installing AD DS by Using Windows PowerShell](https://docs.microsoft.com/en-us/windows-server/identity/ad-ds/deploy/install-active-directory-domain-services--level-100-#BKMK_PS) ?

[2019-07-30 20:41] deborahc commented on #35721
@Mike-Ubezzi-MSFT - @southpolesteve is updating the docs. See https://github.com/MicrosoftDocs/azure-docs/issues/35948

[2019-07-30 20:43] Absoblogginlutely opened #36157 "Is it possible to enable/disable these policies via powershell?"
Would be good if we could  enable these policies via a script when onboarding clients rather than using the web interface. I don't see any documentation on working with these.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53ea4e70-2931-8691-e9cc-13c72b514d9c
* Version Independent ID: c1aa4a8f-16b2-79ac-edb1-8a87f51a3f

[2019-07-30 20:45] Mike-Ubezzi-MSFT commented on #35724
@deborahc Here is another customer having issue with this tutorial. Per a previous GitHub Issues, the Query Azure Cosmos DB resources [section](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-nodejs-get-started#Query) contains a JavaScript example that needs to be updated:

![Screenshot (143)](https://user-images.githubusercontent.com/37126106/62163899-398d1600-b2d0-11e9-84fa-24171c57bf48

[2019-07-30 20:49] Mike-Ubezzi-MSFT commented on #35795
@kuzhao Please let us know if the above information does not resolve the issue your customer is experiencing.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-30 20:49] #35795 closed

[2019-07-30 20:50] #35894 closed

[2019-07-30 20:50] larryms opened #36158 "Example IP ranges invalid."
In one section, you write "When you specify a CIDR range, start with the first IP address in the range. For example, 137.117.106.90/29 is a valid range, but make sure you specify the first IP address in the range, such as 137.117.106.88/29."

But then later, you provide an example:  "The IP address ranges to authorize are 20.42.25.196/32 (the Azure firewall public IP address), then 172.0.0.10/16 a

[2019-07-30 20:51] adelisle commented on #36121
Is it a bug in the regular CLI then?

Sent from my iPhone

On Jul 30, 2019, at 16:01, Micah <notifications@github.com<mailto:notifications@github.com>> wrote:

@adelisle<https://eur02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fadelisle&data=02%7C01%7C%7Cd5c70e317a9241b94b1808d71528c489%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C637001137146503075&sdata=9o029b5%2FsynKVRTcgAH

[2019-07-30 20:54] TomArcherMsft commented on #20354
@MarkWarneke My apologies for not coming back and updating this. All of the articles have been updated for 2.8

@DiegoRamirez-MSFT #please-close

[2019-07-30 20:54] Mike-Ubezzi-MSFT commented on #35815
@alvipeo The differance can be explained as follows:

**Planned failover**

Planned failover performs full synchronization between primary and secondary databases before the secondary switches to the primary role. This guarantees no data loss. Planned failover is used in the following scenarios:
- Perform disaster recovery (DR) drills in production when the data loss is not acceptable
- Relocate t

[2019-07-30 20:54] #35815 closed

[2019-07-30 20:56] MarileeTurscak-MSFT commented on #35415
Comment from the PG:
Yes, you are right. Azure AD does not support the space character in the Identifier value. Per the SAML specifications it should be URL or URN value. In this case as a workaround I suggest to use %20 or "_" and then while sending the SAML request the SAML ISsuer value has to have the same exact value like %20 if you are using that. Then only Azure AD can find that app in custo

[2019-07-30 20:56] Mike-Ubezzi-MSFT commented on #35929
@iqsarv Please let us know if you have any additional questions.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-30 20:56] #35929 closed

[2019-07-30 20:56] lingtham opened #36159 "Is there a difference in pricing between Dynamic and Static disks?"
I was looking at the pricing for Managed Disks but I wasn't able to find anything about pricing for Dynamic vs Static disks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1ac572f-c613-71fc-580a-2805b740b793
* Version Independent ID: b4aeef15-7b0f-abc7-872e-28051e10d6ca
* Content: [Dynamically create a Disk volume for

[2019-07-30 21:01] larryms commented on #36158
BTW, I found that this same issue was noted at #31726, but the older issue was closed even though the problem still exists:  the documentation as written generates an error if a reader trys to follow along.

[2019-07-30 21:08] arsing commented on #36148
Sorry, I double-checked with @mrohera. The `-SymmetricKey` method also requires the `-RegistrationId` parameter, so that example also needs to be changed to take it. (The third method, X.509, is the only one that doesn't need `-RegistrationId`, but still that's why it was made optional.)

[2019-07-30 21:09] Mike-Ubezzi-MSFT commented on #35961
@carloxsf The LTR functionality stores the backups in an RA-GRS blob storage account and the space consumed information can be done through the following documentation:

Monitor a storage account in the Azure portal ([link](https://docs.microsoft.com/en-us/azure/storage/common/storage-monitor-storage-account))
Check space used in azure storage accounts in my subscription ([link](https://stackoverf

[2019-07-30 21:10] Mike-Ubezzi-MSFT commented on #35961
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-30 21:10] #35961 closed

[2019-07-30 21:13] Alberto-Vega-MSFT commented on #36133
@xelossan Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-30 21:15] TravisCragg-MSFT commented on #36141
@SvetlanaDevOps This article tells how to use IP restrictions to restrict traffic to only be from the Azure Front Door service, but you can also configure your web site to only accept requests from specific X-Forwarded-Host header values, meaning that only requests meant for your web site will be processed by your servers.

It is not a good practice to only allow requests from a specific IP or IPs

[2019-07-30 21:19] HJToland3 commented on #36053
@haokanga, if you have suggested edits to any page, you can make them via GitHub.  We will review and approve accordingly.

Re the issue you are stuck on, can you please send a query to the Ask Azure Database Migrations (AskAzureDatabaseMigrations@service.microsoft.com) alias? That is the best way to get an answer to this type of question. Thanks!

[2019-07-30 21:21] kgremban commented on #36148
Thanks, everybody. @v-stadam can you make this update?

[2019-07-30 21:23] v-stadam commented on #36148
@kgremban On it

[2019-07-30 21:23] himanshusinha-msft commented on #35449
@patrickgalbraith : Apologizes for delay , unfortunately it just works fine for me . Adding the screenshot and also add the simple proc which it is calling .

Create Proc SetData
as
Insert into ##Test1Destination(id_new) values (1000)

![Capture](https://user-images.githubusercontent.com/47539458/62166399-845d5c80-b2d5-11e9-956f-cbd00db5d5b7.PNG)

[2019-07-30 21:24] Alberto-Vega-MSFT commented on #36102
@mikevax Thanks for the feedback! I have assigned the issue to the content author to help answer the question

[2019-07-30 21:24] PatAltimore commented on #36031
@tommparekh @sahil839, I can reproduce the issue. Can you verify you have done step 5 - "npm install web3@1.0.0-beta.37"? I think you will need to install web3 in the project directory to avoid the error you are getting.

Pat

[2019-07-30 21:27] Alberto-Vega-MSFT commented on #31502
Hi @BretStateham would you please help with the previous troubleshooting questions?

[2019-07-30 21:30] bandersmsft commented on #36153
@CHDAFNI-MSFT Another team member updated this article yesterday for clarity. The current article should be accurate now. If you read something you think is inaccurate, please let us know.
#please-close

[2019-07-30 21:30] #36153 closed

[2019-07-30 21:34] FrankHu-MSFT commented on #35732
Unfortunately it's not possible to automate adding users to a local admin currently, and per the original poster's description. The stackoverflow's manual way of adding users is currently the only way to perform this.

Please see:
https://social.msdn.microsoft.com/Forums/en-US/5ade571b-a085-4db2-aecf-f13a3c36c810/azuread-user-as-local-administrator-on-scecified-registered-device?forum=WindowsAzure

[2019-07-30 21:39] peledins opened #36161 "can storageAccountKey string be any value?"
I don't believe it can be.
I think it can be key1 or key2 - and it sets which is the active key and that's it.

this is not clear from the documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1059069a-e860-f66d-3445-60425a5bffe1
* Version Independent ID: 1d80c823-5a41-7d2b-f40d-b0f2ca3c673f
* Content: [Azure Ke

[2019-07-30 21:46] VadimBurshtyn opened #36162 "User-assigned managed identity roadmap"
Can someone please share some information on User-assigned managed identity roadmap.
I'd like to know when it will become "Available" (GA) for Azure App Services and Functions.
I can see the [service statuses](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/services-support-managed-identities), but maybe there is some doc/official post with some details?

[2019-07-30 21:51] peledins opened #36163 "Why no table access?"
It would be good to
1) list that table access is not possible with AAD (or is it?)
2) say why is it so?

(it would seem that AAD access to tables would be really really great, because much of this feature is to make sure we don't need to use storage strings, but no support for table means I have to keep using storage strings.).

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-07-30 21:53] fperreaultnv opened #36164 "Documentation Outdate"
This documentation seems outdated because the FirebaseInstanceIdService class is deprecated is deprecated.
The FirebaseMessagingService class now exposes a virtual method named "OnNewToken".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a03ab5f-3dda-f469-33e0-9504c90d468c
* Version Independent ID: 4f8e4309-cd06-f09f-

[2019-07-30 21:55] eamonoreilly commented on #35610
You can get the current path and load the PowerShell file using the below command

`
. (Join-Path (Split-Path -Parent $PSCommandPath) utility.ps1)
`

Thanks,
Eamon

[2019-07-30 21:57] mikemorrison111 opened #36165 "Return value for GetSeriesFromFile() is not correct"
Worked for me when I change it to:
     return new Request(list, Granularity.Daily);
From:
   //return new Request(series, Granularity.Daily);
Error was "Program.cs(100,32): error CS0103: The name 'series' does not exist in the current context"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ef51340-5611-4ec1-b2a8-6c5f

[2019-07-30 21:59] MicahMcKittrick-MSFT commented on #36159
@lingtham there is not a price difference between dynmaic and static disks.

You can use the pricing calculator to price all the storage costs across azure

https://azure.microsoft.com/en-us/pricing/calculator/?service=storage

It is not dependent on the service you are using with storage but just the storage type itself.

You can also find more info about the costs of storage here

https://azure.

[2019-07-30 21:59] #36159 closed

[2019-07-30 21:59] FrankHu-MSFT commented on #35662
Hey  @sgdesmet

We're looking into the metadata and next month we should have all the production ready parameters for B2C in the document.

Would it be fine to go ahead and close this issue now since there are plans to put this in the docs? Or would you like to leave this issue open?

Thanks,
- Frank

[2019-07-30 22:00] MicrosoftGuyJFlo commented on #36157
@Absoblogginlutely Sorry there is no way to do that today. If you want to suggest that via product feedback to the left of the doc feedback button on the page that goes to the product group.

[2019-07-30 22:00] MicahMcKittrick-MSFT commented on #36158
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-30 22:01] FrankHu-MSFT commented on #36046
I'm following up on this, @rupeshprasad are there anymore questions within the scope of this github issue? Or would it be fine to go ahead and close this issue out.

[2019-07-30 22:01] Karishma-Tiwari-MSFT commented on #36158
@larryms The doc author shared in the comment [here](https://github.com/MicrosoftDocs/azure-docs/issues/31726#issuecomment-494049853) that

And there is this is an Azure CLI / Python issue - Azure/azure-cli#9189 open to fix this issue.

[2019-07-30 22:02] MicrosoftGuyJFlo commented on #36157
#please-close

[2019-07-30 22:02] #36157 closed

[2019-07-30 22:03] mike-urnun-msft commented on #35686
@TsuyoshiUshio As you've pointed out above, it was probably subscription specific restriction. I'm able to deploy the sample successfully:

![image](https://user-images.githubusercontent.com/36717703/62168766-2895d200-b2db-11e9-8b43-2092d7675d37.png)

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the dis

[2019-07-30 22:03] #35686 closed

[2019-07-30 22:05] FrankHu-MSFT commented on #35883
Hey @peledins I'm following up on this we are currently making this change to the document. Thanks again for letting us know about this, we appreciate the feedback and help to making sure that the documents are correct.

I'll be closing out this github issue now, if there are still anymore issues within the scope of this issue please reopen it and we can continue working on it.

[2019-07-30 22:05] #35883 closed

[2019-07-30 22:06] #35584 closed

[2019-07-30 22:06] YutongTie-MSFT commented on #36165
@mikemorrison111  Thanks for the feedback, I am investigating it and will fix if I can verify it. ^^

[2019-07-30 22:07] FrankHu-MSFT commented on #35484
I'm following up on this issue, we're currently making this change now.
As this is being implemented into the docs, I will be proceeding to close out this issue.

Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please reopen this git issue if you have anymore concerns. Thanks

[2019-07-30 22:08] FrankHu-MSFT commented on #35441
Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please reopen this git issue if you have anymore concerns. Thanks

[2019-07-30 22:09] Karishma-Tiwari-MSFT commented on #36065
I have created a PR with the update and changes will be live shortly.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/83819

[2019-07-30 22:09] FrankHu-MSFT commented on #33184
@bryanadvisicon thanks for your feedback again. Can you please reply to libbro2006's response? Currently this feature is in preview, and we're working to make this work properly as quickly as possible.

If there's no response, I will be closing out this git issue by end of day today. Please reopen this git issue if you have anymore concerns. Thanks

[2019-07-30 22:11] aoandrew opened #36167 "This walk through does not work as expected"
Hi there - this walk through does not work as expected.

Assumption - the starting point for this doc is the project in the quickstart (ie here: https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-create-first-csharp)

There is a lot of moving pieces so it's difficult to know where the issues is.  I'm not sure but I'm going to guess some of the issue lies here: https:/

[2019-07-30 22:15] jay98014 commented on #35881
@correnta1 please check out the new content on this page (see new content under "Deployment Strategy" at top of page), along with similar content on the trouble-shooting and faq pages.   Any questions, just lmk.

[2019-07-30 22:17] KranthiPakala-MSFT commented on #36052
@RajatUC  We are closing this issue as we have not heard back from you. You can always re-open the issue and tag me in your reply if you think that is appropriate. We will gladly continue the discussion.

[2019-07-30 22:17] #36052 closed

[2019-07-30 22:18] marcelmedina opened #36168 "Python 3.7"
When us support to python 3.7 going to be added?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ef8971a-b5bf-ee50-4e60-8b7d835310c6
* Version Independent ID: ef161257-703a-634b-0e47-cca31a0b41c6
* Content: [Create and deploy Azure Functions in Python with Visual Studio Code](https://docs.microsoft.com/en-us/azure/azur

[2019-07-30 22:21] TheMelter opened #36169 "Incorrect create file share command"
The following command:
`az storage share create --name files --quota 2048 --connection-string $current_env_conn_string 1 > /dev/null`

Results in:

Should remove additional argument '1' to:
`az storage share create --name files --quota 2048 --connection-string $current_env_conn_string > /dev/null`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-07-30 22:23] jlian opened #36170 "Still shows IoT Hub classic alerts as opposed to the new Azure Monitor alerts"
Just want to quickly point out that this page is outdated and should be updated to guide the new alerts experience https://azure.microsoft.com/en-us/updates/iot-hub-new-alerts/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d5cbf72-7e69-a301-5ee6-5c95a8ff9a0b
* Version Independent ID: ebfe9cf0-706b-e317-0d69-46f2b1928

[2019-07-30 22:25] #36065 closed

[2019-07-30 22:28] Karishma-Tiwari-MSFT commented on #35657
@sandereek Can you please check that the subscription you are using is the one where you have the resource group 'rg_tools'. In cloud shell, your set default subscription is automatically selected.

Make sure that you set the correct subscription context first after login to Azure via PowerShell, using the command:
Set-AzureRmContext -SubscriptionId "25ec5bae-****-****-****-***********"

Reference

[2019-07-30 22:29] jnoller commented on #35558
Assign this issue to me. /var/run/reboot-required is only for operating system security updates, not AKS cluster, kubernetes, or other updates. Those notifications are sent via Portal notification, the AKS release notes, etc.

I will clarify the wording

[2019-07-30 22:42] peter-tridius opened #36172 "Role"
What directory role is required to access the Identity Experience Framework?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33489541-1210-69d0-4a45-5ba306d254fc
* Version Independent ID: 4dd79b67-4004-f7d0-d59d-d3c94677b36e
* Content: [Azure Active Directory B2C custom policies](https://docs.microsoft.com/en-us/azure/a

[2019-07-30 22:45] FrankHu-MSFT commented on #35639
Hey @wucj

In regards to your questions

I suggest reading the doc suggested in the answer to the 2nd question. Here : https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent#using-permissions

It might be that in your request you're requesting the consented scopes.

I highly suggest taking a look through the docs here : https://docs.microsoft.com/en-us/azure/act

[2019-07-30 22:49] FrankHu-MSFT commented on #35448
hey @smudireddy It looks like the issue is that you might not be specifying the correct OIDC manifest if the JWT token is not being properly signed.

I'm assuming that this error is occurring when you're trying to access some sort of service, and the access token you're using is from the ADAL library from the v1.0 endpoint.

You will need to make sure that the JWKS_URI has the correct app id and t

[2019-07-30 22:49] FrankHu-MSFT commented on #35448
Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please reopen this git issue if you have anymore concerns. Thanks

[2019-07-30 22:49] tamram commented on #35215
#reassign: @roygara

[2019-07-30 22:54] FrankHu-MSFT commented on #36059
@peledins thanks again for letting us know about this. We will look into this and try to add this into the docs accordingly.

[2019-07-30 22:55] adelisle commented on #36121
Is it a bug in the regular CLI then?

[2019-07-30 23:08] MarileeTurscak-MSFT commented on #35984
I am not certain as it seems like the guide for it still exists. https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/enable#steps-to-enable-azure-active-directory-identity-protection

I am assigning this to the content author as I cannot speak to why it was removed, @msaburnley

[2019-07-30 23:10] rachel-msft commented on #35755
@archmangler, same region read replicas are generally available. Cross region read replicas are in public preview for another month or so more.

[2019-07-30 23:11] MarileeTurscak-MSFT commented on #36087
@kjehanse
Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-30 23:13] Don-Fuego opened #36174 "Supported Topologies - Single / Multiple forest"
Can this page also mention what are the supported topolgies.

e.g. Single and multiple forest are supported.

The tutorials only go over single forest topolgies.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c900f942-4456-5238-9f4c-a7a5bd685c04
* Version Independent ID: a5d7d971-765f-0977-f531-232ea5924121
* Content:

[2019-07-30 23:13] MarileeTurscak-MSFT commented on #36093
@takekazuomi
Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-30 23:17] robinsh commented on #36170
Okay. I’ll put it on the list.

Robin

From: John Lian <notifications@github.com>
Sent: Tuesday, July 30, 2019 3:24 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Robin Shahan <Robin.Shahan@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [MicrosoftDocs/azure-docs] Still shows IoT Hub classic alerts as opposed to the new Azure Monitor alerts (#36170)

Just want to

[2019-07-30 23:35] Grace-MacJones-MSFT commented on #36164
Hi @fperreaultnv , thanks for your feedback! We will review and update this doc accordingly.

[2019-07-30 23:37] Grace-MacJones-MSFT commented on #36164
@jwargo  can you please verify this?

[2019-07-30 23:40] rachel-msft commented on #35906
The read replica is created with a locked down firewall that doesn't inherit the master's access rules (this is noted in the `Connect to replica` section of the [concepts doc](https://docs.microsoft.com/azure/postgresql/concepts-read-replicas)).
Azure Database for PostgreSQL today doesn't have an a way to sync/inherit firewall rules. Thank you for your feedback. As Mike mentioned, you can create a

[2019-07-30 23:41] KranthiPakala-MSFT commented on #36129
@SaurabhRaoot Retry behavior in the Azure Event Hubs Client Library is controlled by the _RetryPolicy_ property on the _EventHubClient_ class. The default policy retries with exponential backoff when Azure Event Hub returns a transient _EventHubsException_ or an _OperationCanceledException_. For more info please refer to this doc : _[Event Hubs Retry Mechanisms](https://docs.microsoft.com/en-us/az

[2019-07-30 23:49] dmitry-lif commented on #34940
Thank you. Pushing aux source code along with models sounds reasonable.
Pls, could you provide an example how to push sources dir + multiple models using CLI ?

[2019-07-30 23:50] JimacoMS3 commented on #34226
Hi @majikthys,

I was able to mess around with this a bit today. The quickstart code referenced by this topic has changed since it was written. It no longer uses the connectCallback version of client.open. In the current quickstart code, you can paste the following in:

[code]
just after the call that creates the client:

[code]
That should unblock you (That is, if you are blocked). **Note**: I'm

[2019-07-31 00:04] KranthiPakala-MSFT commented on #36137
@mamccrea Thanks for your response.

@Exnav29 Thank you very much for the feedback and bringing this to our notice. But unfortunately, we do not have the feature to use new tabs for links at the moment.

Please let us know if there is something else we could assist you with.

[2019-07-31 00:06] femsulu commented on #36101
added triage labels.

[2019-07-31 00:07] femsulu commented on #36116
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-31 00:08] femsulu commented on #36122
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-31 00:09] femsulu commented on #36123
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-31 00:10] Alberto-Vega-MSFT commented on #36154
@PingPongSet Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-31 00:11] femsulu commented on #36135
added triage labels.

[2019-07-31 00:11] femsulu commented on #36136
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-31 00:12] femsulu commented on #36150
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-31 00:12] roygara commented on #35215
@CharmanderJieniJieni Thanks for reaching out, I'll try to clarify: We've removed these tables from the article altogether. The reason we did this is it doesn't make sense to compare them by specification when really what differentiates each offering is the intended use case or scenario.

If you're looking for disk information, I'd suggest starting here:
https://docs.microsoft.com/en-us/azure/virt

[2019-07-31 00:20] MasayukiOzawa commented on #36114
I'm sorry.
I was reading a Japanese page (ja-jp).
The English version of the Japanese page (changed to English with the toggle switch) says "A pay-as-you-go SQL Server VM with the SQL IaaS extension installed." In the URL change to en-us), this description did not exist.
There was no difference in the English page.

[2019-07-31 00:20] #36114 closed

[2019-07-31 00:28] MarileeTurscak-MSFT commented on #36093
Thanks @takekazuomi

I made a pull request to add this to the document. Changes should go live in 24 hours.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/83844

[2019-07-31 00:28] #36093 closed

[2019-07-31 00:34] michaelrnz commented on #30680
Just in case someone else finds this, I resolved this issue by going into the Microsoft Authenticator app, choosing to "Disable phone sign-in" for my AAD Work Account, and then enabling it again right after. This updated the icon in the https://myprofile.microsoft.com portal from a normal MS Authenticator padlock icon, to a phone sign-in icon like you see in the app itself. After about half a day,

[2019-07-31 00:37] BhargaviAnnadevara-MSFT commented on #35974
@cijothomas Thanks for providing additional context. I shall raise a PR with the change shortly.

[2019-07-31 01:02] Mitaric opened #36175 "App Service Twitter Authentication not Working"
When following this article to enable Twitter as the Identity Provider for my App Service, I am receiving the following error:  "The page cannot be displayed because an internal server error has occurred."  I am able to successfully configure Facebook as the Identity Provider, but Twitter seems to not be working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-07-31 01:17] artisticcheese commented on #35610
thanks, this worked

[2019-07-31 01:17] #35610 closed

[2019-07-31 01:20] Mike-Ubezzi-MSFT commented on #36106
@bertrandpons Thank you very much for bringing this to our attention. We are investigating and will update you when we have clarity on the functionality.

[2019-07-31 01:24] Mike-Ubezzi-MSFT commented on #36111
@aosyatnik Thank you very much for bringing this to our attention. We are investigating and will update you when we have clarity of the issue. Thank you!

[2019-07-31 01:32] Mike-Ubezzi-MSFT commented on #36138
@raghunaik2009 Thank you very much for bringing this to our attention. Can you please provide the documentation or tutorial you are attempting to follow so that we can address both your issue and ensure the documentation is correct. Thank you.

[2019-07-31 01:32] larryms commented on #36158
@Karishma-Tiwari-MSFT I guess what's frustrating me is, although there is a known root cause, why would one knowingly leave the documentation examples as broken, where there's a really simple fix.  I created a PR for this #36177 that hopefully solves the documentation issue at this time.

[2019-07-31 01:35] Mike-Ubezzi-MSFT commented on #36151
@Choosetango Thank you very much for bringing this to our attention. Are you following a specific tutorial or set of instructions from the documentation? If so, can you please provide the link as it will be beneficial to addressing booth your issue and the documentation itself. Thank you.

[2019-07-31 01:39] poctob opened #36178 "App Settings variable name character limit is not documented"
App Settings variable names are currently limited to 64 characters on Linux Web Apps and anything over is silently truncated. As far as I know, this "feature" is not documented anywhere and can cause a lot of headaches.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b421fa01-1f39-28a5-78c2-63dd5700c8c5
* Version Indepe

[2019-07-31 01:40] Mike-Ubezzi-MSFT commented on #36108
@jcridgeNATS Thank you very much for bringing this to our attention and for detailing the resolution. I have assigned this to the service area responsible for this topic to share the good news.

[2019-07-31 01:42] tommparekh commented on #36031
Thanks Pat. I am sure I did follow step # 5 earlier but never saw web3 dir under node_modules. I tried again and now I see web3 folder under node_modules which was never present earlier.

However, the issue persists and getting below error :

![image](https://user-images.githubusercontent.com/24255850/62177447-ef795400-b312-11e9-8f98-26246a379fcb.png)

[2019-07-31 01:43] tommparekh commented on #36031
![image](https://user-images.githubusercontent.com/24255850/62177480-0c158c00-b313-11e9-962a-2bdb5702bcf9.png)

[2019-07-31 01:52] tommparekh commented on #36031
btw, while reviewing npm install, i see below error which may be a concern. Any thoughts?

![image](https://user-images.githubusercontent.com/24255850/62177820-58150080-b314-11e9-99e5-28d42413aee0.png)

[2019-07-31 01:54] MartinJaffer-MSFT commented on #35926
Hello @pes-kapacity .  This feature is a bit misleading in how it is presented.  Currently, the 'fileExtension' only takes effect when all three of the following conditions are true:

- sinkFileName is empty
- sourceFileName is empty
- copyBehavior  is _**not**_ PreserveHierarchy

The product group is aware of the issue.  At this moment, there is no timeline for a change.

Would you like me to wor

[2019-07-31 02:08] mike-urnun-msft commented on #36168
Hi @marcelmedina - Thank you for your feedback. I don't believe that there's a specific timeline that we're able to share at this time. You may engage in the discussion directly here: Azure/azure-functions-python-worker#450

[2019-07-31 02:11] mike-urnun-msft commented on #36156
Hi @swagulkarni - Thank you for your feedback. Since this channel is for driving improvements towards MS Docs, could you provide us with a URL of the specific documentation that your feedback may be applicable to? If such isn't a case, could you open a thread on [MSDN forums](https://social.msdn.microsoft.com/Forums/en-US/home?forum=azureapimgmt) instead?

[2019-07-31 02:17] wucj commented on #35639
Thanks for answering my question. I am closing this issue now.

[2019-07-31 02:17] #35639 closed

[2019-07-31 02:17] mike-urnun-msft commented on #36167
Hi @aoandrew - Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-07-31 02:32] ToruMakabe opened #36179 "failed to find run images for builder"
The following error happened with using buildpack. I appreciate if you would give me some advice, thanks!

[code]

Azure CLI -&gt; 2.0.70 and I confirmed the existence of cloudfoundry/cnb:bionic image.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73ff7047-440a-0262-6ea5-e06f0092f576
* Version Independent ID:

[2019-07-31 02:46] MashaMSFT commented on #29495
Hi @langstonj , I just wanted to reach out to you and let  you know that I am still working on compiling a list and adding it to the documentation. Your request has not been forgotten :)

Thanks for your patience!
Masha from the SQL Docs team

[2019-07-31 02:47] akshaybabloo commented on #34565
Ah! got it. Thanks for your help guys

[2019-07-31 02:47] #34565 closed

[2019-07-31 03:16] SnehaAgrawal-MSFT commented on #35817
@alvipeo We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-31 03:16] #35817 closed

[2019-07-31 03:19] femsulu commented on #35876
Hi @Sam-SFO, you are correct. A storage account is required. The step isn't mentioned in the article because the Recovery Services Vault and Backup Services take care of this behind the scenes.

Reference [here](https://docs.microsoft.com/en-us/azure/backup/backup-create-rs-vault).
![image](https://user-images.githubusercontent.com/34327711/62181206-5c86ec80-b307-11e9-9253-4725df778d61.png)

We wi

[2019-07-31 03:19] #35876 closed

[2019-07-31 03:26] MashaMSFT commented on #36114
Hi @MasayukiOzawa , thank you so much for bringing this to our attention! This document has been recently changed, so the Japanese version may not have been updated yet. I will certainly file a bug to get this fixed, and also update the date of the article :)

Thanks again and hope you have a wonderful rest of your day!
Masha from the SQL Docs team

[2019-07-31 03:27] femsulu commented on #35958
A fix-request has been initiated to resolve the typo. Once approved, the change will be applied to the doc. Thanks again for catching this.
We will now close this request.

[2019-07-31 03:27] #35958 closed

[2019-07-31 03:27] sahil839 commented on #36031
I also installed web3. It didn't give any errors but it certainly showed some warnings.

[2019-07-31 03:46] femsulu commented on #36087
Thanks for catching this. A PR has been succesffuly initiated to resolve this issue. The change is pending review + approval after which the change will be live - in roughly 24 hrs.
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-07-31 03:46] #36087 closed

[2019-07-31 04:00] femsulu commented on #36116
@mowens1234, i can confirm 2012 R2 is on the list of [supported Win server OS](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/service-map-configure#supported-windows-operating-systems). Can you try to see if you have all the latest updates applied to the server and retry? If that doesnt work then we will need to redirect your issue to the Azure technical support team using [these st

[2019-07-31 04:00] #36116 closed

[2019-07-31 04:00] ManojReddy-MSFT commented on #35975
@igusme Thanks for taking the time to create the feature request.

We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-07-31 04:00] #35975 closed

[2019-07-31 04:01] SnehaAgrawal-MSFT commented on #36178
@poctob Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-31 04:04] SnehaAgrawal-MSFT commented on #36175
@Mitaric Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-31 04:06] richardspitz opened #36180 "Per-node performance metrics collection"
Please add a section to this document to cover the additional configuration required for each node in the HDInsight cluster to send performance metrics to the Log Analytics workspace enabled for the HDInsight cluster.
To do this, navigate to the Log Analytics Workspace --&gt; Advanced Settings. Then click Data --&gt; Linux Performance Counters --&gt; Check "Apply below configuration to my machines

[2019-07-31 04:13] richardspitz commented on #36180
![HDI-Perf-1](https://user-images.githubusercontent.com/15606759/62183385-c787f180-b30e-11e9-99f2-e17ee9f52f29.jpg)
![HDI-Perf-2](https://user-images.githubusercontent.com/15606759/62183386-c8208800-b30e-11e9-80ee-c5e39ef42bcb.jpg)
![HDI-Perf-3](https://user-images.githubusercontent.com/15606759/62183384-c787f180-b30e-11e9-91ef-3521a1f4b032.jpg)

[2019-07-31 04:25] MarileeTurscak-MSFT commented on #36103
Thanks for suggesting the workaround, @RobC-CTL . There are no alternatives at the moment when enabling the baseline policy.

If you would like these options to be added please leave feedback in feedback.azure: https://feedback.azure.com/forums/169401-azure-active-directory

I have also created an escalation so that the product team is aware of this feedback. I'll update this thread when I have a

[2019-07-31 04:25] MarileeTurscak-MSFT commented on #36103
We will now proceed to close this thread but feel free to tag me in the comments if you have further questions. I'll also update the thread when I have a response.

[2019-07-31 04:25] #36103 closed

[2019-07-31 04:26] #36010 closed

[2019-07-31 04:26] msrini-MSFT commented on #29971
There are no technical limitation as such. Your ask will be considered based on the Uservoice votes, this feature will be prioritized.

[2019-07-31 04:26] #29971 closed

[2019-07-31 04:32] kobulloc-MSFT commented on #35959
@robvet I used the same command that you did but I was not able to reproduce the error you saw.  I know it can be a bit of a pain but have you updated the Azure CLI to version 2.0.70?  There have been a couple misleading error messages that were actually the fault of an outdated CLI.

![image](https://user-images.githubusercontent.com/37556655/62184110-77f6f500-b311-11e9-80b9-1412d9b49903.png)

[2019-07-31 04:35] SumanthMarigowda-MSFT commented on #36163
@peledins Thanks for the question! We are investigating and will update you shortly.

[2019-07-31 04:35] jakaruna-MSFT commented on #35433
@vinothinidharmaraj
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-07-31 04:35] #35433 closed

[2019-07-31 04:37] SumanthMarigowda-MSFT commented on #36169
@TheMelter Thanks for the question! We are investigating and will update you shortly.

[2019-07-31 04:44] Bafff opened #36181 "If you created and uploaded a custom Linux disk image, make sure the Microsoft Azure Linux Agent version 2.0.5"
"If you created and uploaded a custom Linux disk image, make sure the Microsoft Azure Linux Agent version 2.0.5"
I think that correct link needs to be for Linux agent page: https://docs.microsoft.com/ru-ru/azure/virtual-machines/extensions/agent-linux and not for Windows

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d

[2019-07-31 04:55] jakaruna-MSFT commented on #35904
@nit23uec  The link which i shared above provisions the File share when we create pvc.
Provided we have the storage class created(Once per cluster).
Here file share is provisioned when we create a pvc and it will be deleted when we delete the PVC.
That file share will be created in the node resource group.

We call this as dynamic provisioning of file shares as and when required. Provisioned volum

[2019-07-31 04:56] dpatrickx opened #36183 "Does AKS cluster autoscaler have `--expander` flag or something similar?"
The cluster autoscaler of Kubernetes has a --expander flag, determining which kind of node is selected when it needs to scale up a cluster, see in https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-are-expanders
Does AKS autoscaler have this flag or something similar?
When cluster autoscaler is enabled in multiple nodepools, what is the strategy of selecting which

[2019-07-31 04:57] jakaruna-MSFT commented on #35904
Pod provisioning time will increase if we increase the number of volumes because, First all the volumes will be mounted to the underlying node and then the container starts.
But i don't have any stats.
I don't know about the maximum number of volumes which we can attach to the pod. I will check with the team and let you know.

[2019-07-31 04:58] jakaruna-MSFT commented on #36012
@WhitWaldo is there any update

[2019-07-31 04:58] SadiqhAhmed-MSFT commented on #36155
@prees1 Thanks for bring this to our attention. The content owner would review it and update as appropriate.

@qianw211 FYI.

[2019-07-31 04:59] jakaruna-MSFT commented on #35997
@colemickens I reached out to the internal teams.
I will update here once i have some information

[2019-07-31 05:03] Bafff opened #36184 "Troubleshooting page is a mess"
https://docs.microsoft.com/en-us/azure/virtual-machines/troubleshooting/ is just a bunch of text without proper order and subsections.

For example:

This is under SSH but doesn't in any way about it:

"Common error messages
Performance issues with Windows VMs
How to use PerfInsights
Performance diagnostics extension"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2019-07-31 05:06] patrickgalbraith commented on #35449
@himanshusinha-msft No luck on my end. Can you export the code for the pipeline that you are using.

![image](https://user-images.githubusercontent.com/811945/62185189-935d1100-b3a0-11e9-8497-121a38dfda6a.png)

[2019-07-31 05:10] kobulloc-MSFT commented on #35959
@robvet It looks like this may be related to a service principle password requirement (unrelated to AKS, but it sounds like it is being deprecated soon in 2.1.0).

https://github.com/MicrosoftDocs/azure-docs/issues/26847#issuecomment-474144383
https://github.com/Azure/azure-cli/issues/5959#issuecomment-439142295

"Yes, this isn't an AKS-specific requirement, and as noted, password usage for servic

[2019-07-31 05:18] SubhashVasarapu-MSFT commented on #36113
@damart23, Appreciate your patience.The changes will take some time to get reflected over the doc.
We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-07-31 05:18] #36113 closed

[2019-07-31 05:25] VikasPullagura-MSFT commented on #36184
@Bafff Thanks for providing feedback and bringing this to our attention. I am assigning the issue to content author for getting this fixed.

[2019-07-31 05:29] TranBaVinhSon commented on #35895
Sorry for my late response. But I'm using a personal account and created an application by myself so I'm not sure about `application admin`. I still can't `Grant Consent` button

[2019-07-31 05:36] ishepherd commented on #35316
Earlier this year there was some serious work on improving App Insights integration on Functions 2.0. eg https://github.com/Azure/azure-webjobs-sdk/pull/2073

@brettsam @lmolkova, please can you advise this questioner above? I have same question.
I think I remember reading that it could be possible after your improvements, (it will be tough to find that comment now)

[2019-07-31 05:37] kazshi opened #36185 "Content for Query Editor needs to be updated"
Currently there's no information about 'Save query' and 'Export...' features, please add information for the added features.  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9788706b-bc01-9560-4b57-8ad44f2431bf
* Version Independent ID: e6ef3341-5520-a10a-bb5f-59166647478c
* Content: [Azure portal: Query Azure S

[2019-07-31 05:37] ManojReddy-MSFT commented on #35510
@jimt4593  We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-07-31 05:37] #35510 closed

[2019-07-31 05:39] ManojReddy-MSFT commented on #36172
@peter-tridius You should be a Global Administrator in the directory to access the B2C extension from Azure Portal. IEF is part of the same B2C extension.

Ref: https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-faqs#why-cant-i-access-the-azure-ad-b2c-extension-in-the-azure-portal

[2019-07-31 05:40] jakaruna-MSFT commented on #36179
@ToruMakabe
Thanks for the question! We are investigating and will update you shortly.

[2019-07-31 05:43] Bafff commented on #36184
Maybe it is more related to the https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/virtual-machines/troubleshooting/index.md page. But there was no link to open an issue there

[2019-07-31 05:44] raghunaik2009 commented on #36138
I was referring below documentation link for securing Webservices in AKS
https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-secure-web-service

[2019-07-31 05:53] VikasPullagura-MSFT commented on #36184
@Bafff Yes, we see the menu on the left is correct but the one on the right side is not aligned correctly.

![image](https://user-images.githubusercontent.com/48944027/62187004-9a2a5a80-b385-11e9-9f49-1c1f1ee6cbc3.png)

[2019-07-31 06:02] xelossan commented on #36133
No, the gateway has its own message format that cannot be modified without changing its firmware, which cannot be done without manufacturer's help.

The message looks like this:
`{"d0f01843e9cd":{"Time":"7","Type":"Care T","Rssi":"-74","Name":"","Batt":"2.88","Alarms":"4","Temperature":"25.58"},"d0f01843e9cc":{"Time":"0","Type":"Care T","Rssi":"-89","Name":"","Batt":"3","Alarms":"0","Temperature":

[2019-07-31 06:09] lightupdifire commented on #35900
@SaurabhSharma-MSFT ,
I'm asking to add to this document information:
If used ADFS, and followed recommendation in ADFS document, for best practices securing ADFS and disabled windowstransport for proxy, when ADFS was build in organization:
"https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/deployment/best-practices-securing-ad-fs#disable-ws-trust-windows-endpoints-on-the-proxy-ie-fro

[2019-07-31 06:13] sahil839 commented on #36031
I got following warnings on running `npm install web3@1.0.0-beta.37`.
[code]
but it says that it has been installed.

[2019-07-31 06:13] CHEEKATLAPRADEEP-MSFT commented on #36180
@richardspitz  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-07-31 06:15] watermarking opened #36187 "latestlinuxmobsvc.tar.gz file is not compressed with gzip"
At this decompress step, the file was compressed with xz.
# tar -zxvf latestlinuxmobsvc.tar.gz

# file latestlinuxmobsvc.tar.gz   -&gt; please verify this file is compressed with xz
# mv latestlinuxmobsvc.tar.gz latestlinuxmobsvc.tar.xz
# unxz latestlinuxmobsvc.tar.xz
# tar -xvf latestlinuxmobsvc.tar

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-07-31 06:16] AjayKumar-MSFT commented on #35967
@kylebarker715, Just checking to see if the above suggestions helped or you need further assistance on this topic.

[2019-07-31 06:25] smudireddy commented on #35448
Hi Frank Hu,

In our iOS Application we integrated  *ADAL for iOS* framework as per the
instructions specified in the below github page.
https://github.com/AzureAD/azure-activedirectory-library-for-objc

Could you please point to me where we should configure the OIDC manifest ?
The registered application manifest file attached here for your reference.

Info:  For the same registration, Android age

[2019-07-31 06:30] mayurigupta13 commented on #36187
Adding @Rajeswari-Mamilla to look into this.

[2019-07-31 06:34] CHEEKATLAPRADEEP-MSFT commented on #35944
@gus1818  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-07-31 06:34] #35944 closed

[2019-07-31 06:38] ishepherd commented on #36082
Ok, thanks!

[2019-07-31 06:44] VikasPullagura-MSFT commented on #36184
@anandhms Can you please look into the issue and fix the menu in the document.

[2019-07-31 06:46] watermarking opened #36188 "Please run these all steps as root user"
Please run these all steps as root user

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15ce1edd-0073-5ca9-b319-d716b320ea60
* Version Independent ID: db093811-c4c6-ded8-150b-2b91f937e5fd
* Content: [Install a Linux master target server for failback to an on-premises site](https://docs.microsoft.com/en-us/azure/site-rec

[2019-07-31 06:52] a-christiaens opened #36189 "single access token for multiple resources"
How can I request a single access token which grants me access to multiple resources?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e20004e2-beab-6e67-9b98-eaa12f612442
* Version Independent ID: 2a3db0c8-d0df-cca5-fb52-36d68cd67207
* Content: [Azure AD Service to Service Auth using OAuth2.0](https://docs.microsoft.com

[2019-07-31 06:54] VikasPullagura-MSFT commented on #36181
@Bafff Thanks for the feedback. I have raised PR for fixing the links in the document. Changes will be live once the PR is approved.

[2019-07-31 06:56] dcbrown16 commented on #35723
@msrini-MSFT I'm working with @kazshi on this issue. The current question is whether it is supported to have both of the following connections
1) Vnet to Vnet connection between classic Vnet and ARM Vnet
2) ExpressRoute connection to the same ARM Vnet
These connections can coexist, just like an S2S VPN and an ER connection on the same subnet, right?
There is no need to connect ER to the classic Vn

[2019-07-31 06:57] ManojReddy-MSFT commented on #35990
@mahoekst The PR has been approved and will be published shortly. I will proceed with the closure of this request. Let me know if you have any further questions regarding this.

[2019-07-31 06:57] #35990 closed

[2019-07-31 06:59] chan71 opened #36190 "Bigger font in answer"
Answer to this question is in bold and bigger font. Needs to be consistent.
Q: How do I leave a tenant when I am added as a collaborator?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41754710-a866-faf4-5b12-2029a700e232
* Version Independent ID: f46b759a-3abe-3d26-4671-999d88d38442
* Content: [Frequently asked questi

[2019-07-31 07:02] win2000b commented on #35910
No problem. Will this stop the device registration service working externally?

You’re receiving this email because we have detected a critical alert on one of your AdFederationService instances.

Title: The Windows Transport endpoint is enabled. It is recommended that the endpoint be disabled from the extranet due to a known security vulnerability.

Description: WS-Trust Windows transport endpoin

[2019-07-31 07:11] smudireddy commented on #35448
Hi Frank Hu,

The request which throwing this error is
https://login.microsoftonline.com/common/oauth2/token

Regards,
M.Suresh

On Wed, Jul 31, 2019 at 11:54 AM Suresh Mudireddy <
suresh.mudireddy@gmail.com> wrote:

[2019-07-31 07:12] msrini-MSFT commented on #35723
@dcbrown16 , yes site to site and express route can co-exist but for the classic environment, it is not recommended to use Express route as any new circuit cannot be linked to the classic express route gateway.

[2019-07-31 07:13] ManojReddy-MSFT commented on #35371
@aaazzz  Apologies for the delayed response. Can you share the error you are receiving?

is your legacy application failing to read this value? I am not clear on how this would affect the behavior of application.

[2019-07-31 07:15] formulahendry commented on #35998
Also, you could narrow down the issue to see whether it is issue of IoT Hub toolkit or IoT Edge setup issue.  You could right-click on a device, and then 'Send D2C message to IoT Hub', and then type something to send, and then see if there is any message received

[2019-07-31 07:17] dcbrown16 commented on #35723
Ok, got it. Thanks @msrini-MSFT!

[2019-07-31 07:21] pes-kapacity commented on #35926
Hi Martin,

Thanks for getting back to me. All those conditions are true in our case:

Here is the source:

[cid:image003.png@01D54781.09BB22B0]

Sink:

[cid:image001.png@01D54781.3D514FF0]

And this is the copy behavior:

[cid:image002.png@01D54781.3D514FF0]

So we meet all three conditions, but still see .csv files in the blob storage, rather than txt files.

Thanks 😊

Best,

Peter

____________

[2019-07-31 07:22] danield137 opened #36192 "Phrasing regarding `EventData` metdadata"
This text is very vague.. it implies that `EventData` class has members such as `metadata` and `headers`. I would suggest either rephrasing to technical terms, or maybe elaborating on the meaning of those two terms.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b109d8b1-4a76-6c2c-b7a1-f473c3723a68
* Version Independen

[2019-07-31 07:23] Firewaters commented on #35900
It's also listed [here](
https://docs.microsoft.com/en-us/azure/active-directory/devices/hybrid-azuread-join-manual#set-up-issuance-of-claims) that it's required.

[2019-07-31 07:23] rexhinvorpsi commented on #36097
Hi ,
Will this work the same for an Azure VM. It is actually a kubernetes node created via aks-engine.

[2019-07-31 07:35] lightupdifire commented on #35900
@Firewaters ,

So you think braking Security Best Practices is a good solution?

"https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/deployment/best-practices-securing-ad-fs#disable-ws-trust-windows-endpoints-on-the-proxy-ie-from-extranet"

And it is fine for Enterprise organizations to allow NTLM logins to be processed from the extranet. As a result, it will bypass AD FS lockout prote

[2019-07-31 07:35] thecpshah commented on #36036
@ram-msft Hello, is there any update on this issue?

[2019-07-31 07:36] smudireddy commented on #35448
Hi Frank Hu,

Here attached the jSON retrieved using (
https://login.microsoftonline.com/common/.well-known/openid-configuration?appid=8956eb2e-092c-41a1-9e3a-bb8e6ec0086a
)
for your reference. Please help me to figure out what configuration caused
this issue.

Regards,
M.Suresh

On Wed, Jul 31, 2019 at 11:54 AM Suresh Mudireddy <
suresh.mudireddy@gmail.com> wrote:

[2019-07-31 07:42] Firewaters commented on #35900
Totally wasn't my intention, just specifying that this article indicates it's needed. I'm completely for disabling this and it's why I'm here.

[2019-07-31 07:50] smartczh opened #36193 "How to map eventData properties to data explorer using "Ingest data from Event Hub"?"
I don't know how to get the properties of the eventData in data ingestion settings.
I used "$.” to get the whole message of the event, but the properties are not in the message.
or is it not supported? if so, will it be supportted in the future? thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5808ed2-5d09-4c56-d

[2019-07-31 08:04] win2000b commented on #32502
This page is not updated when new versions come out. We are running 5.1.4500.0 which is not listed. There is also a new version pending install!

[2019-07-31 08:06] win2000b opened #36194 "Page not updated when new versions come out"
This page is not updated when new versions come out. We are running 5.1.4500.0 which is not listed. There is also a new version pending install. Please can it be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34ee5745-9573-219d-480d-201c9d1459b4
* Version Independent ID: 5b75108a-595a-5a13-d934-0a1e1f51b917
*

[2019-07-31 08:12] win2000b commented on #35910
Its also mentioned on windows hello for business. So need full clarity on this please

https://docs.microsoft.com/en-us/windows/security/identity-protection/hello-for-business/hello-hybrid-cert-trust-devreg

[2019-07-31 08:13] jakaruna-MSFT commented on #36179
@ToruMakabe please add --pull at the end of your command.
That will force the task to pull the latest builder image .
` az acr pack build  --registry jakaruna --image '{{.Run.Registry}}/node-app:1.0' --builder 'cloudfoundry/cnb:bionic' https://github.com/Azure-Samples/nodejs-docs-hello-world.git --pull`

`cloudfoundry/cnb:bionic` is a cached image. so generally --pull is not required. i will check

[2019-07-31 08:26] koyasuda-msft opened #36196 "Update information about AzCopy sample command"
The following sample command using AzCopy to download Azure Storage analytics logging is old command.
I cannnot use folloing sample command. Please revise for AzCopy v10.

□ current sample
AzCopy 'http://&lt;yourstorageaccount&gt;.blob.core.windows.net/$logs/queue'  'C:\Logs\Storage' '2014/05/20/09' '2014/05/20/10' '2014/05/20/11' /sourceKey:&lt;yourstoragekey&gt; /S /V /Y

□ my suggest sample
azc

[2019-07-31 08:38] #36181 closed

[2019-07-31 08:42] nagytech opened #36197 "'Create a read replica' instructions are incomplete"
The examples on this page should show how to create a replica in another resource group as shown in the latest az cli docs:

https://docs.microsoft.com/en-us/cli/azure/postgres/server/replica?view=azure-cli-latest#az-postgres-server-replica-create

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25a7f0ad-43fe-aa7b-ed1c-5

[2019-07-31 08:43] DeepGit01 commented on #34979
Just wanted to highlight a documentation bug in the ILB ASE creation doc which was updated recently. This is in the DNS configuration section.
https://docs.microsoft.com/en-us/azure/app-service/environment/create-ilb-ase#dns-configuration

Shouldn’t this statement “create a zone in <ASE name>.scm.appserviceenvironment.net named scm” be like “create a zone in scm.<ASE name>.appserviceenvironment.ne

[2019-07-31 08:47] jcridgeNATS commented on #36108
Hi Mike

The thing was, I’d never used PowerShell before, the UI in the VM was generally unfamiliar and I certainly didn’t recognise the icons already set up for PowerShell and other apps in the menu bar. Perhaps they need labels on them for the first time learner, certainly a clearer instruction on the notes where to go.
Instead I’d managed to navigate to a list of alternative PowerShell EXEs via

[2019-07-31 08:51] DixitArora-MSFT commented on #35935
@nathanwinder Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-31 08:51] #35935 closed

[2019-07-31 08:54] tastyeggs opened #36199 "NT Authority\SYSTEM needs to be given Admin permission in clusters with windows security for POA to function"
This took me many hours of debugging, and I finally came across this: https://github.com/MicrosoftDocs/azure-docs/issues/18713

IMHO, this important bit of information needs to be front-and-center on this page. I'm sure everyone who uses windows authentication + POA will get stumped by this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-07-31 08:59] JohnRambo90 commented on #19568
Hi got the same issue which is mentioned by deomel but currently i'm not able to fix it.

The ReadDeviceToCloudMessages says me:
Successfully created the EventHub Client from iothub connection string.
The partition ids are:  [ '0', '1' ]

And then nothing happens.

Node Version:  10.15.3
Package.json:
  "dependencies": {
    "@azure/event-hubs": "*", // adjusted this but it do not change anything

[2019-07-31 09:06] monhaber commented on #32474
@rkarlin this is sentinell

[2019-07-31 09:11] SadiqhAhmed-MSFT commented on #36194
@win2000b Thank you for the feedback. This issue is being assigned to the content author to evaluate and update as appropriate.

@Rajani-Janaki-Ram FYI.

[2019-07-31 09:17] msvijayn commented on #27062
#please-close

[2019-07-31 09:17] #27062 closed

[2019-07-31 09:17] win2000b commented on #36194
In the mean time the link for Update 38 is
https://support.microsoft.com/en-gb/help/4513507/update-rollup-38-for-azure-site-recovery

It would be nice to have the update details available as soon as the update is available so users can see what the update will fix etc.

[2019-07-31 09:18] ChiragMishra-MSFT commented on #36192
@danield137 Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-07-31 09:19] ChiragMishra-MSFT commented on #35816
@linda33wj Can you please take a look at this ?

[2019-07-31 09:23] linruhui commented on #31879
@cephalin
Do you have any plan to add these limitation of TCP connections in https://azure.microsoft.com/en-us/pricing/details/app-service/windows/ or azure portal when we choose the instance type for our web app?

Because, if you choose azure Iaas, it is easy to link the different limitations of TCP connections to different virtual machine type. But when it goes to Azure Paas, users may not know

[2019-07-31 09:24] SadiqhAhmed-MSFT commented on #36188
@watermarking Thanks for the comment! What I assume by this "Please run these all steps as root user" the steps mentioned in the article needs to be run by root user and this information is missing in the document. A note on this would help? I would appreciate if you could put up more details for better understand and we can evaluate the requirement and push for doc updates.

[2019-07-31 09:25] AmanGarg-MSFT commented on #36082
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-07-31 09:25] #36082 closed

[2019-07-31 09:26] SadiqhAhmed-MSFT commented on #36187
@watermarking Thanks for the comment!

++ @mayurigupta13 & @Rajani-Janaki-Ram

[2019-07-31 09:27] ChiragMishra-MSFT commented on #36075
@granto9 The doc has been fixed and merged into production. I will now proceed to close this issue. However please feel free to still comment and tag me if you have any queries.

[2019-07-31 09:27] #36075 closed

[2019-07-31 09:30] noelfernandes commented on #23213
@PramodValavala-MSFT I'm running VS2019 Community 16.2.0. I have the Azure Development workload installed and I am trying to create a durable function app by following the steps under the section "Create a function app project" in this article.

I have also nuget-ed 'Microsoft.Azure.WebJobs.Extensions.DurableTask v1.8.3' in to the project and ensured that the relevant package references exist in t

[2019-07-31 09:30] VikasPullagura-MSFT commented on #36199
@tastyeggs Thanks for the feedback. I am assigning the issue to the content author for adding the content.

[2019-07-31 09:30] VikasPullagura-MSFT commented on #36199
@khandelwalbrijesh Please look into the issue and add your comments.

[2019-07-31 09:31] jvanderbiest opened #36200 "Create a TXT record"
It is worth mentioning that you also need to create a TXT record when adding custom hostnames.
In step

It will only pass validation for App-01 if have created an @ TXT record with the value app-01.azurewebsites.net
Then if you want to configure it for App-02 you will have to delete the previous TXT record and create one for app-02.azurewebsites.net

---
#### Document Details

⚠ *Do not edit this

[2019-07-31 09:33] noelfernandes commented on #23213
@PramodValavala-MSFT Please ignore above comment. I figured it out.

[2019-07-31 09:36] #36192 closed

[2019-07-31 09:39] sgdesmet commented on #35662
Hey @FrankHu-MSFT no problem, closing the issue is fine by me

[2019-07-31 09:39] #35662 closed

[2019-07-31 09:41] msrini-MSFT commented on #36200
@jvanderbiest , Thank you for your feedback. We will review and respond shortly.

[2019-07-31 09:43] danield137 commented on #36192
Why was this closed?

[2019-07-31 09:50] khandelwalbrijesh commented on #36199
We will add a section for this in FAQs soon.

[2019-07-31 09:53] ChiragMishra-MSFT commented on #36192
@danield137 I have updated the doc to create more clarity. Once my changes are merged, it automatically closes the issue.

[2019-07-31 10:00] v-viinde commented on #34684
@jeevansd We have already mentioned in our article regarding API access enabling. Please see the screenshot below:
![image](https://user-images.githubusercontent.com/27664888/62203025-03bb6080-b3a8-11e9-9d53-8d8c90af5f7e.png)

[2019-07-31 10:02] v-viinde commented on #34684
@jeevansd We have already mentioned in our article regarding API access. Please see the screenshot below:
![image](https://user-images.githubusercontent.com/27664888/62203245-5eed5300-b3a8-11e9-8eec-2a8d7d649f30.png)
cc: @chetansriv @v-pugoe

[2019-07-31 10:04] KalyanChanumolu-MSFT commented on #35863
@drestuart Thank you for the feedback.

You can easily extend the functionality by writing your own methods to check for existence and then create the database/container.

Here is a code sample to help you.

[code]

[2019-07-31 10:05] KalyanChanumolu-MSFT commented on #35863
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-31 10:05] #35863 closed

[2019-07-31 10:07] ChiragMishra-MSFT commented on #36023
@callranjithkani As of today, ADF cannot parse scientific notation of decimals implicitly. I would recommend you to use an [Azure function activity](https://docs.microsoft.com/en-us/azure/data-factory/control-flow-azure-function-activity) or a [custom activity](https://docs.microsoft.com/en-us/azure/data-factory/transform-data-using-dotnet-custom-activity) to first convert scientific to decimal da

[2019-07-31 10:07] #36023 closed

[2019-07-31 10:07] msrini-MSFT commented on #36200
@jvanderbiest , Yes, you can either use the TXT record or use a CNAME record with adverify.customdomain.com to pass the validity.

Again, as you mentioned, you need to do for each web app separately.

@vhorne , Can we add a additional step as how to get the domain validated?

[2019-07-31 10:10] tkumark opened #36201 "How to I query logs sent to log analytics"
How to I query logs sent to log analytics? can you please add examples to the document.
I tried
ApplicationGatewayAccess
| limit  10
I got syntax error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5f080ad-843f-d7be-eba6-2837993d052b
* Version Independent ID: b6f75acf-e3ed-f6c3-a29e-8f440eb0a9dd
* Content: [Monitor a

[2019-07-31 10:14] ChiragMishra-MSFT commented on #36106
@bertrandpons You have correctly understood about the Time window here. It is in fact the duration for which logs are written into a file. The next attribute - Size Window corresponds to the size of the file that you want to write to.

As an example, if you set the time window to 1min and size window to 10MB, a file will be written every minute or as soon as the file grows to 10MB in size, whichev

[2019-07-31 10:17] AmanGarg-MSFT commented on #36024
Closing as #36023 is closed

[2019-07-31 10:17] #36024 closed

[2019-07-31 10:18] Oseroke opened #36202 "Can't find the "Certificates & Secrets""
Studying this and I can't find the "Certificates and secrets" on Azure. Has the name changed?

https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-create-service-principal-portal.

I can't also find where to upload certificates.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11aaa091-1108-52f6-0066-0f

[2019-07-31 10:18] AmanGarg-MSFT commented on #36161
@peledins Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-07-31 10:18] ChiragMishra-MSFT commented on #35816
@ivanignatiev Here's an [official sample](https://github.com/nabhishek/customactivity_sample/tree/linkedservice) that you can refer to.

[2019-07-31 10:19] bertrandpons commented on #36106
@ChiragMishra-MSFT Many thanks for your answer!

[2019-07-31 10:19] #36106 closed

[2019-07-31 10:20] AmanGarg-MSFT commented on #36174
@Don-Fuego Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-07-31 10:21] AmanGarg-MSFT commented on #36162
@VadimBurshtyn Thank you for the question! We are investigating this and will get back to you shortly.

[2019-07-31 10:21] w0ut0 opened #36203 "Mistake in "until" example"
In the until action example (https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-workflow-actions-triggers#until-action)
The following line is wrong:
@equals(outputs('Http')['statusCode', 200])
It should be
@equals(outputs('Http')['statusCode'], 200)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a0dd3aa-82c2

[2019-07-31 10:27] msrini-MSFT commented on #36201
@tkumark , Thank you for your feedback. Will take a look and get back to you shortly.

[2019-07-31 10:28] angoyal-msft commented on #36094
@trieuduong1602 I am checking internally with the product team. Will get back to you with an update.

[2019-07-31 10:29] sandereek commented on #35657
@Karishma-Tiwari-MSFT, thanks. That indeed does the trick. Maybe update the example script with this statement as well?

[2019-07-31 10:35] msrini-MSFT commented on #36201
Here is a sample query to get the Access Logs of Application Gateway:

**AzureDiagnostics | where Category == "ApplicationGatewayAccessLog"**

![image](https://user-images.githubusercontent.com/47132998/62205393-f785d200-b3ac-11e9-9634-05691389ec89.png)

Let me know if you have any further questions.

[2019-07-31 10:40] monsterrroll commented on #36004
I prepared the vhd through following that link only, and the VM does not boot when i see through boot diagnostics screenshot.

[2019-07-31 10:43] angoyal-msft commented on #36185
@kazshi Thanks for your feedback. I have assigned this issue to content author for updating the document appropriately.

[2019-07-31 10:43] gnumarco commented on #19828
I manage to connect to CosmosDB using Studio3T, but Studio3T does not see any collection, although I created them in the CosmosDB mamagement interface.
It is not clear for me either how to perform a "clear" of a collection using CosmosDB (meaning deleting all the documents without droping the collection).
I trying using Python, but CosmosDB doesn't accept Collection.delete_many({})

[2019-07-31 10:54] camillagaardsted opened #36204 "TDE is enabled by default on a new Azure SQL Managed instance database"
I've just created some new databases on a managed instance, and I noticed TDE is enabled on these by default. So this important section below is not true any more:

Azure SQL Managed Instance databases, existing SQL databases created before May 2017 and SQL databases created through restore, geo-replication, and database copy are not encrypted by default.

---
#### Document Details

⚠ *Do not edit

[2019-07-31 10:57] angoyal-msft commented on #36197
@nagytech Thanks for your feedback. I have assigned this issue to the content author to update the document appropriately.

[2019-07-31 11:06] IvoMerchiers opened #36205 "Should discuss dependence on API Management gateway tier"
As stated on https://docs.microsoft.com/en-us/learn/modules/protect-apis-on-api-management/6-rate-limit-policy :

This is important information that should be mentioned here as well, especially since most test environments will be using the Consumption tier.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c64c31f4-ee3f-

[2019-07-31 11:07] vrishni commented on #36036
@thecpshah I believe that must be getting the model through score.py init() function which gets initiated during the deployment. Is your issue related to accessing the data during deployment? And also please share your complete code of score.py.

[2019-07-31 11:36] KeithTemplin opened #36206 "Examples"
Show examples of the rules via a screenshot, poweshell command, and json

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc46ceac-e45e-6f29-dd5b-6453c614d9b2
* Version Independent ID: b8b3bb83-5204-1f8b-787f-eb3da444e22e
* Content: [Working with VMs and NSGs in Azure Bastion](https://docs.microsoft.com/en-us/azure/basti

[2019-07-31 11:38] RohitMungi-MSFT commented on #36056
@wooters For folder/directory inside a blob container we cannot generate a SAS token that can be passed to GetTranscriptions()

![image](https://user-images.githubusercontent.com/46958063/62208102-7b42bd00-b3b3-11e9-8486-cfa31325ba83.png)

We can pass the SAS URI for the container instead and get the list of files and pass the URI but that needs to be handled by the client currently as that is not

[2019-07-31 11:49] BhargaviAnnadevara-MSFT commented on #35974
@cijothomas I couldn't find a standard example for the same anywhere else in the docs. Could you please make the change?

[2019-07-31 12:03] jakaruna-MSFT commented on #36183
@dpatrickx Thanks for your question.
Autoscaler is scoped to a nodepool. I dont know how it behaves with multiple nodepools.
I will check with the internal teams and let you know the details.
@mlearned please add your comments

[2019-07-31 12:03] ExarKun1983 opened #36207 "Issue with Tutorial: Extract, transform, and load data by using Azure Databricks"
Hi,

I'm following the tutorial from https://docs.microsoft.com/en-Us/azure/azure-databricks/databricks-extract-load-sql-data-warehouse
but when I try to execute almost the very last piece of code:
val blobStorage = "adbtutorial.blob.core.windows.net"
val blobContainer = "adbblob"
val blobAccessKey =  "****"

val tempDir = "wasbs://" + blobContainer + "@" + blobStorage +"/tempDirs"

val acntInfo =

[2019-07-31 12:20] duanecbarb opened #36208 "Incorrect Link Location"
Under Next steps, the link "Enable Conditional Access" to your published apps, takes you to a page that explains how to publish SharePoint using KCD. There is nothing about AAD CA on that page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 535c4a4a-b242-cf28-f1b8-fd1fc9781946
* Version Independent ID: 1cc8604c-f345-55

[2019-07-31 12:27] JasSuri commented on #36172
We also have a new role to manage IEF:
* **[B2C IEF Policy Administrator](#b2c-ief-policy-administrator)**: Users in this role have the ability to create, read, update, and delete all custom policies in Azure AD B2C and therefore have full control over the Identity Experience Framework in the relevant Azure AD B2C tenant. By editing policies, this user can establish direct federation with external

[2019-07-31 12:31] JasSuri commented on #36014
Detailed release notes here:
https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-developer-notes-custom

IEF is GA, however some aspects of it are still in preview.
Built In policies use IEF in the back end, the only real reason OIDC is in preview for Built In policies is due to the UI layer. It is GA for IEF as Yoel mentioned.

We cant share a GA date.

[2019-07-31 12:40] jwargo commented on #36164
@Grace-MacJones-MSFT we’re planning an update. Customers can use this doc in the meantime: https://docs.microsoft.com/en-us/xamarin/xamarin-forms/data-cloud/azure-services/azure-notification-hub.

[2019-07-31 12:41] JasSuri commented on #31300
@subhashvinjamuri - To assign a B2C admin role to a user, first you must select a B2C Tenant in the dropdown in the right hand corner of the Azure Portal (Directory Picker). Then when you assign the role to a user, the role is being assigned against this tenant.
If you then need to assign the user the same role in another B2C tenant, choose the respective Directory from the Directory Picker and re

[2019-07-31 12:41] thecpshah commented on #36036
@vrishni This is where I am confused. Where in the `score.py` 's `init()` function, I should read the class file?

In the training dataframe, I am applying `LabelEncoder` on one feature. Now the test data has to go through same transformation as train data and for that I am storing `classes` from `LabelEncoder`.

How do I read this file in `Init()`?

[2019-07-31 12:47] theheatDK opened #36209 "Log analytics workspace vs storage account?"
Hi,
I am a little confused :-)
This article talks a lot about logs in storage accounts. I thought Azure Monitor default stored log files in a log analytics workspace, but this is not mentioned?
If you have all your log files in a log analytics workspace, how do configure RBAC so users only have access to part of the data? According to Microsoft you should have so few log analytic workspaces as pos

[2019-07-31 12:57] sunnynazar opened #36210 "Log Analytics Agent extension shows in failed state after successful provisioning ."
I am using terraform to create Log Analytics Agent extension for Ubuntu 18.04-LTS , the extension shows in success state after getting applied with terraform.

But after sometime , i see it shows in failed state with below error.

OMSAgent onboarding script /opt/microsoft/omsagent/bin/omsadmin.sh does not exist. Enable cannot be called before install.

Can you please tell me what can be done to fi

[2019-07-31 13:10] KalyanChanumolu-MSFT commented on #36204
@camillagaardsted Thank you for providing feedback.
TDE is now enabled by default but there are customers who were early adopters of the managed instance service and the section could still be relevant.

We will review the section at an appropriate time and make the changes accordingly.
We will proceed to close this issue now. If there are further questions regarding this matter, please comment an

[2019-07-31 13:10] #36204 closed

[2019-07-31 13:10] jpdussourd-msft opened #36211 "Reference Windows Market place image in Linux VM Documentation"
The page is referencing Windows Marktet plate image (Windows Server 2019 Datacenter
Windows Server 2016 Datacenter
Windows Server 2012 R2 Datacenter
Windows Server 2012 Datacenter) where we should have linux reference or the page shouldn't exist as we are in the Linux VMs Documentation part.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-07-31 13:13] KalyanChanumolu-MSFT commented on #35724
@rajata07 The docs are being updated to reflect the new changes.
We have assigned the issue to the content author accordingly.

[2019-07-31 13:14] dkumar006 opened #36212 "Connectivity Issues"
Hi, I have an ETL job (in Java Language) which is trying to connect and perform the operations and then store back in another AZURE SQL Database. Since 29th July 2019, this workflow is not able to establish connection.
We manage to connect by using additional parameters "encrypt=true;hostNameInCertificate=*.&lt;domainName&gt;" but now it closes the connection whilefetching the data.
Please help me

[2019-07-31 13:39] bobbytreed commented on #34858
Currently the RunAs feature has not been tested with gMSA or sMSA. As such, it is currently unsupported in this configuration. There no plan to support this in the near future either.

Apologies for any problems this causes for you.

#please-close

[2019-07-31 13:39] #34858 closed

[2019-07-31 13:40] KalyanChanumolu-MSFT commented on #36212
@dkumar006 Thank you for reaching out.
Support on Github is limited to the documentation only.

For product support and troubleshooting help, I would request you to post the issue on the [MSDN Forum](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=ssdsgetstarted) for greater visibility.

We will proceed to close this issue now.

[2019-07-31 13:40] #36212 closed

[2019-07-31 13:42] KrishnaG-MSFT commented on #36157
@MicrosoftGuyJFlo Thanks for the quick response. 😊

[2019-07-31 13:43] tommparekh commented on #36031
@PatAltimore, thought you should know - I am trying to install the web3 library in Azure VM (but getting errors). Just in case if it helps.

[2019-07-31 13:43] paoloricciuti opened #36215 "Out of date"
This article is out of date, there is no Export button in Azure Monitor.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ccfc16a9-cd12-5fca-4a97-931ca901c824
* Version Independent ID: f22eda89-9c14-d3c2-a714-37216fdf4c60
* Content: [Archive Azure metric and log data using Azure Storage](https://docs.microsoft.com/en-us/

[2019-07-31 13:51] vrishni commented on #36036
@thecpshah Create the scoring script, called score.py. The web service call uses this script to show how to use the model.
Include these two required functions in the scoring script:
The init() function, which typically loads the model into a global object. This function is run only once when the Docker container is started.
The run(input_data) function uses the model to predict a value based on t

[2019-07-31 14:00] Sethu2488 opened #36216 "Data Transfer"
Suppose we have configured a Data Factory pipeline to copy data between blob storage to Data Lake Gen2 storage using the self-hosted on-premise IR, will this data get copied to on-premise IR first and then transfered to Data Lake OR the transfer will be direct from Blob storage to Data Lake.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-07-31 14:07] edberwick opened #36217 "Set-VMBootDiagnostics"
Set-VMBootDiagnostics command is incorrect in the text block, missing the last S...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51fe6df9-e646-2add-678b-a4383f09715f
* Version Independent ID: 77c5735e-9942-e983-d603-5e084993b192
* Content: [Quickstart - Direct web traffic with Azure Application Gateway - Azure PowerS

[2019-07-31 14:12] anssenfang1 opened #36218 "Is it applicable to ESP cluster"
[Enter feedback here]
Does it work for ESP cluster?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60051411-676b-2ae6-4424-710f14483b35
* Version Independent ID: 602517a2-f0b8-2909-fc20-17684596da5e
* Content: [Monitor and manage Hadoop with Ambari REST API - Azure HDInsight](https://docs.microsoft.com/en-us/azure/hdin

[2019-07-31 14:13] anssenfang1 commented on #36218
Does it work for ESP cluster?

[2019-07-31 14:15] rupeshprasad commented on #36046
@yoelhor - If that is the case and considering my scenario that dates are stored in string field (extensions_lastlogindata) )then how can i use graph api to filter users based on extensions_lastlogindata. If it would have been a date filed then i caould have used below query

"start/extension_${ExtentisonAttributeId}_LastLoginDate ge '${utcDateMinusOneDay}' and userType eq 'Member'"

how do i do t

[2019-07-31 14:18] KalyanChanumolu-MSFT commented on #36193
@smartczh Thank you for the feedback. We are actively investigating and will get back to you soon.

[2019-07-31 14:22] SumanthMarigowda-MSFT commented on #36196
@koyasuda-msft Thanks for your question. We are checking on this and will respond to you soon.

[2019-07-31 14:27] NavtejSaini-MSFT commented on #36124
@festivus Please confirm if you have any other question regarding this.

[2019-07-31 14:33] tonyStann opened #36219 "Copy JSON Array data from REST data factory to Azure Blob as is"
I have used REST to get data from API and the format of JSON output that contains arrays. When I am trying to copy the JSON as it is using copy activity to BLOB, I am only getting first object data and the rest is ignored.

In the documentation is says we can copy JSON as is by skipping schema section on both dataset and copy activity. I followed the same and I am the getting the output as below.

[2019-07-31 14:42] mrbullwinkle commented on #35974
@cijothomas I can make the update to the docs. This is what I am planning to add, anything you would like changed in my example?

[code]

[2019-07-31 14:44] mahoekst commented on #35990
application.AcquireTokenInteractive(scopes)
.ExecuteAsnc(); still has the typo. Asnc should be Async

[2019-07-31 14:44] pdeveau commented on #25476
I think I'm missing something.  I'd want to have a repository in azure devops git, set my collaboration branch to develop, and use feature branches for development.  I can then create a pull request to integrate changes from feature branch into my develop branch.  At this point, I'd release code to some integration environment for any developer smoke testing.  After this, I'd want to promote code

[2019-07-31 14:44] mahoekst commented on #35990
Can you open it again and fix the typo as well Asnc should be Async

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: K N Manoj Reddy <notifications@github.com>
Sent: Tuesday, July 30, 2019 11:58:10 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Matthijs Hoekstra <matthijs@hoekstraonline.net>; Mention <mentio

[2019-07-31 14:45] amel00 commented on #35895
What roles can grant admin consent? I know GA but can the app admin role grant admin consent

[2019-07-31 14:46] RyanHill-MSFT commented on #35830
@swasifali could you provide repo steps for the issue?

[2019-07-31 14:48] MicahMcKittrick-MSFT commented on #36121
Not a bug per say. There are just differences between running items on prem vs in the cloud shell. We cannot control the different environment people run locally so to make a place where all users can run the same code we then write it to work in the cloud shell.

[2019-07-31 14:49] wojciehm opened #36220 "Wrong value for $vnet -Name"
Is: $vnet = Get-AzVirtualNetwork -ResourceGroupName TestRG1 -Name TestVet1
Should be: $vnet = Get-AzVirtualNetwork -ResourceGroupName TestRG1 -Name VNet1

Otherwise there is an error during the creation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3948f50e-8970-c91f-1003-46d61a639a11
* Version Independent ID: 57af65

[2019-07-31 14:51] MicahMcKittrick-MSFT commented on #36211
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-31 14:56] NavtejSaini-MSFT commented on #36053
@haokanga The section "To set the MySQL binary logging format" explains the custom parameter creation in the document "https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_LogAccess.Concepts.MySQL.html"
It describes associating the new parameter group to your DB if you are creating a custom group.
Please let us know if you have any other question or you have redirected your particular quest

[2019-07-31 14:56] ManojReddy-MSFT commented on #35990
@mahoekst I don't think the PR is merged to the public repository yet. It generally takes 24-48 hours for this to happen.

[2019-07-31 14:59] NavtejSaini-MSFT commented on #22771
Thanks @rimman for the changes. @TimPosey2 The changes are live now and you can review the same. If there is no further question we will move to close this issue.

[2019-07-31 14:59] mathewhtaylor opened #36221 "Page Outdated given new Partner Center based connection."
This page is not up to date regarding the dialog box of items that is presented to the user when they attempt to connect their Dynamics CRM with Azure Marketplaces.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9b4f6eb-9298-e9f5-7a2c-246d7c8f2122
* Version Independent ID: 2b169d7b-7d6e-c1a5-9cec-452ddf26c1b3
* Conten

[2019-07-31 15:03] ToMakeSense opened #36222 "The resource group name of disk is in upper-case, however other resources isn't"
I found the resource group name of **disk** is in upper-case, however other resources are not if I create the VM and related resources via Azure portal. I know this does not affect the use. But it is better to be consistent.
![image](https://user-images.githubusercontent.com/6244148/62223388-6e3fc100-b3e7-11e9-8571-ce818dd3ca58.png)

![image](https://user-images.githubusercontent.com/6244148/62223

[2019-07-31 15:15] thecpshah commented on #36036
Let me try again to explain in detail, the code is below:

[code]
Now, I take this `df` and train a `Decision Tree` model and save the model as `.pkl` file which then gets loaded.

For the `new (unseen)` data that gets sent to the API, it has to go through the **same** transformation as training which is where `lbl_encoder.npy` comes in. How do I use this file in `score.py`?

[2019-07-31 15:19] kobulloc-MSFT commented on #35959
@robvet As there is nothing more to address in the documentation, we are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-07-31 15:19] #35959 closed

[2019-07-31 15:22] sc-bperry commented on #25476
The master branch and the adf_publish branch do not have the same content because they serve different purposes, and you should not merge from your adf_publish branch into another branch. Your master branch and all sub-branches contain the JSON definitions of your various ADF objects. When you edit your ADF with the web GUI, the changes are made to the JSON files in whichever branch you're working

[2019-07-31 15:23] AdamGlass opened #36223 "aks version default"
"AKS defaults to N-1 (minor.latestPatch, eg 1.12.b) to provide customers a known, stable and patched version by default."

get-versions shows 1.14.3 as the latest version but the default is 1.12.8 .  Is the text about 'default' more 'intentional' than rigidly applied?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec48

[2019-07-31 15:31] liben-y opened #36224 "Azure Active Directory Authentication Provider not working"
Azure Active Directory Authentication when set doesn't work with the vnet preview. After setting up a linux based container app that tries to connect to a database within the vnet the app crashes when trying to re-direct to the azure authentication page. When the vnet preview is disconnected it starts to work. There is nowhere in this document that specifies it doesn't so I assumed it did.

---
##

[2019-07-31 15:32] spelluru commented on #33456
Duplicate of: https://github.com/MicrosoftDocs/azure-docs/issues/33451

#please-close

[2019-07-31 15:32] #33456 closed

[2019-07-31 15:33] pdeveau commented on #25476
@sc-bperry I don't disagree with your statements, the issue I'm having is, I don't believe I can set any branch policies on the adf_publish branch, nor can I restrict who can publish the data factory, as the granularity does not seem to exist within the RBAC's.  Because of some other out of band (read as also out of my control), there is some need to restrict this operation to a select few.  The b

[2019-07-31 15:34] ToruMakabe commented on #36179
@jakaruna-MSFT Thanks! It works with the option. Let me know when you get the reason.

[2019-07-31 15:43] sc-bperry commented on #25476
@pdeveau Ah, I get it now and see how that would be a problem for a change control, especially in larger organizations. Well, you've probably already tried this, but maybe there is a policy you could set on the adf_publish branch to add code reviewers or additional approvers by going to Repos > Branches > ellipses next to branch > Branch policies. I've never done this myself, so I don't know if it

[2019-07-31 15:48] matthewjlevy opened #36225 "No mechanism to except at least one admin from this policy"
The policy clearly doesn’t have any way of excluding any admins in the portal, yet upon validation (when you enable policy) it warns you to “Exclude at least one admin”. But how??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0327017d-eaaf-2f62-88b5-09f5bb142987
* Version Independent ID: f08f88b4-bea1-e47f-e978-feae56

[2019-07-31 15:53] craig-martin commented on #34858
Oh that's too bad, this is such a cool product and scenario.  I get that supporting LocalSystem limits the threat model for the product, but also limits the reach since LocalSystem can't access anything outside the computer.  Using a credential asset forces the use of passwords which we're trying to get away from.  Thanks for the response!

[2019-07-31 15:54] NavtejSaini-MSFT commented on #36115
@AlexanderTodorovic Trim_reason_desc can have many values. All of these have not been explained here including REORG. You can refer the following document for the different values and there explanations:
https://docs.microsoft.com/en-us/sql/relational-databases/system-dynamic-management-views/sys-dm-db-column-store-row-group-physical-stats-transact-sql?view=sql-server-2017

This link is already ad

[2019-07-31 15:54] zacktayl commented on #35553
Thanks, @rajatb94!

My webhook is now working again!

@Karishma-Tiwari-MSFT - This is a little concerning that apis are being changed/deprecated without any notice to devs/companies who rely on these apis. Is there somewhere that documents api deprecation timelines? Or maybe an email listing that I could be added to?

[2019-07-31 16:01] aodugga opened #36226 "Add a warning for increasing storage via CLI"
Hi there,
One of my Cx used CLI to add more storage to their PostgreDB to get more IOPs. They are stuck now as you cannot decrease the storage - the only way to fix it is to recreate the DB using pg_dump/restore
Could you please add a warning about this here? # Scale up the server to provision a storage size of 7GB
I have another request open already
https://github.com/MicrosoftDocs/azure-docs/iss

[2019-07-31 16:26] ecfan commented on #36203
Hi @w0ut0, thanks for finding this issue, working on a fix now.

[2019-07-31 16:28] ethzeus commented on #36031
change the last "Web3" to "web3" like this:  var Web3 = require("web3");

[2019-07-31 16:29] PatAltimore commented on #36031
@tommparekh There's a PR with a change that should avoid the issue. It should be merged soon but you can try it: https://github.com/MicrosoftDocs/azure-docs/pull/36160/files?short_path=bdbbe7e#diff-bdbbe7ef3d0dc513ea7382e8a321529b. It uses Truffle console instead.

Thanks,
Pat

[2019-07-31 16:30] anumjs commented on #35969
@XiaoyuMSFT could you please have a look at this

[2019-07-31 16:32] spelluru commented on #35157
#in-progress

[2019-07-31 16:33] correnta1 commented on #35881
The change looks good.  Thank you

[2019-07-31 16:35] DeanGross opened #36228 "Highly Privileged Roles"
How come the Teams Admin role and Application Admin role are not considered to be Highly Privileged, (Like SharePoint and Exchange)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 826a3309-03a5-60b4-aa4c-63f385150455
* Version Independent ID: 1d2e2f1c-2805-5cda-a4ad-76fedbc3f525
* Content: [Best practices for secure ad

[2019-07-31 16:35] mliudev commented on #34906
Not quite. The format that I get back from the jwks_uri is something like this:

[code]

[2019-07-31 16:39] sln007 opened #36229 "Is the Object Id of Azure Key Vault actually global?"
I was trying to setup the Key Vault to manage my storage account keys using Azure CLI. I already have an existing Key Vault and a storage account. These are the steps I followed:
- az login
&gt; Logged in Successfully using User ID
- az role assignment create --role "Storage Account Key Operator Service Role" --assignee-object-id 93c27d83-f79b-4cb2-8dd4-4aa716542e74 --scope "/subscriptions/&lt;sub

[2019-07-31 16:42] pdeveau commented on #25476
@sc-bperry I've tried setting the branch policies on the adf_publish branch before, the UX is pretty bad, it silently fails to tell the user it couldn't update the adf_publish branch giving all appearances through messaging that the entire publish cycle has succeeded.

[2019-07-31 16:42] bijopunnoose opened #36230 "Issue with secure_environment_variables"
Since secure_environment_variables is a attribute rather than a nested block secure_environment_variables  should be followed by "=" as below
secure_environment_variables = {
      "COSMOS_DB_ENDPOINT"  = "${azurerm_cosmosdb_account.vote-cosmos-db.endpoint}"
      "COSMOS_DB_MASTERKEY" = "${azurerm_cosmosdb_account.vote-cosmos-db.primary_master_key}"
      "TITLE"               = "Azure Voting App

[2019-07-31 16:44] JayaSaiSontineni opened #36231 "Not being able to record video with multi- azure kinect camera"
I have tried External synchronization with two cameras using one single host PC as well two different Host pc's.

two cameras using one single host PC:

Not being able to start recording for sub, If i'm changing the external sync for one device to master, automatically subordinate camera device is also being set to master.

![AK_Error](https://user-images.githubusercontent.com/40176153/62230915-e6

[2019-07-31 16:48] SubhashVasarapu-MSFT commented on #35718
@cogran, Yes it is officially documented in Azure documents. You can refer that [here](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-point-to-site-routing#multipeered).
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-07-31 16:48] #35718 closed

[2019-07-31 16:49] cherylmc commented on #36206
Thanks for your suggestion. I'll take it on as a doc bug for when we move out of the preview phase.

[2019-07-31 16:49] cherylmc commented on #36206
#please-close

[2019-07-31 16:49] #36206 closed

[2019-07-31 16:51] DeanGross opened #36232 "Privileged Authentication Administrator- duplicate text"
the same text is duplicated in the paragraph and the bullets under it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8eadd92
* Version Independent ID: a380a828-03f9-e037-3a62-e4165fda7cb6
* Content: [Administrator role descriptions and permissions - Azure Active Directory](https://docs.mic

[2019-07-31 16:56] kylebarker715 commented on #35967
Thanks! It was helpful. I was reading incorrectly :)

[2019-07-31 16:56] cherylmc commented on #36220
Good catch! Fixing now. Thanks!

[2019-07-31 16:56] cherylmc commented on #36220
#please-close

[2019-07-31 16:56] #36220 closed

[2019-07-31 16:57] FrankHu-MSFT commented on #35484
I'll be closing out this git issue now, please reopen this git issue if you have anymore concerns. Thanks

[2019-07-31 16:57] #35484 closed

[2019-07-31 16:58] KranthiPakala-MSFT commented on #36216
@Sethu2488 Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate

[2019-07-31 17:00] MicahMcKittrick-MSFT commented on #36222
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-31 17:01] KranthiPakala-MSFT commented on #36218
@anssenfang1 Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate

[2019-07-31 17:02] MicahMcKittrick-MSFT commented on #36223
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-31 17:03] SaurabhRaoot commented on #36129
Thanks for you reply Kranthi. This help to implement retry logic while sending messages to event hub.
Do we need to implement any retry logic while reading messages from event hub using Event Processor Host OR It will be automatically handled ?

[2019-07-31 17:04] FrankHu-MSFT commented on #35441
I'm closing out this git issue now, please reopen this git issue if you have anymore concerns. Thanks

[2019-07-31 17:04] #35441 closed

[2019-07-31 17:05] KranthiPakala-MSFT commented on #36219
@tonyStann Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate

[2019-07-31 17:05] FrankHu-MSFT commented on #33184
I'm closing out this git issue now, please reopen this git issue if you have anymore concerns.

We're currently still looking into this, thanks again for your feedback in regards to this issue.

[2019-07-31 17:05] #33184 closed

[2019-07-31 17:06] rajatb94 commented on #35553
Welcome @zacktayl ... Its my pleasure to be of some help..
I m still waiting for a stable response from Azure team.

[2019-07-31 17:08] cowinr opened #36233 "Sample code is all old v2 SDK"
The samples are almost 4 years old and are using the v2 API.
There are newer samples at https://github.com/Azure/azure-cosmos-dotnet-v3/tree/master/Microsoft.Azure.Cosmos.Samples/CodeSamples using the v3 API.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c070e047-1e14-7974-fae8-84e71c3877e5
* Version Independent ID: 9

[2019-07-31 17:09] TheOpsMgr opened #36234 "Cannot create a MSA using a work email address"
The instructions say "use this link to create a new Microsoft Account https://signup.live.com/signup.aspx" using a generic company email address as per the guidelines - however you CAN'T create an MSA using a company email address. It gives you an error message and suggests creating a new gmail account.

"You can’t sign up here with a work or school email address. Use a personal email address, suc

[2019-07-31 17:13] YutongTie-MSFT commented on #35986
@marcelohsilva Hi, sorry for your experience. Could you please try to do following if you have not done it before:
1. Go to portal.azure.com
2.Create a resource
3.Select QnA Maker
4.This time you should see the drop down and create it.

IF above not help you solve your problem, please create a support ticket if you have a support plan under your subscription. If you don't have a support plan, plea

[2019-07-31 17:14] SubhashVasarapu-MSFT commented on #36217
@edberwick, Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-07-31 17:14] NavtejSaini-MSFT commented on #36226
@aodugga Thanks for the feedback and our team is already working to get this information added to the document.

[2019-07-31 17:18] sahil839 commented on #36031
@PatAltimore I tried following the above PR. After editing the config file when I run
 `truffle console --network defaultnode` it gives error that `Could not connect to your Ethereum client`.

[2019-07-31 17:18] DeanGross opened #36235 "long complicated page"
This page is very long and challenging to navigate, it would be easier to use if it was split up into several pages. Moving the Role Permissions and Role template IDs to their own pages would be helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8eadd92
* Version Independent ID: a380a8

[2019-07-31 17:21] MicahMcKittrick-MSFT commented on #36230
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-31 17:23] fperreaultnv commented on #36164
@jwargo I think this documentation is also outdated. The [`FirebaseRegistrationService` ](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/data-cloud/azure-services/azure-notification-hub#register-using-a-custom-firebaseinstanceidservice) code example leads to a `FirebaseInstanceIdService is obsolete` error.

Should I move the `FirebaseRegistrationService`'s `[IntentFilter(new [] { "com.goog

[2019-07-31 17:24] DeanGross opened #36237 "Compliance Admins"
The text states that the Compliance and Compliance Data Admins can manage features in the Teams Admin center, but the table below the text does not state what these roles can do. Please make the text and table consistent for both of these roles.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f1

[2019-07-31 17:24] SubhashVasarapu-MSFT commented on #36217
@edberwick, Set-AzVMBootDiagnostic is the right command there. Are you facing any issue with that specific command? You can refer to this [document](https://docs.microsoft.com/en-us/powershell/module/az.compute/set-azvmbootdiagnostic?view=azps-2.5.0). Please let me know if I misinterpreted your question.

[2019-07-31 17:25] NavtejSaini-MSFT commented on #36233
@cowinr Thanks for the feedback. We will check with author regarding the same.
@SnehaGunda Please check and make the necessary changes or please help with the information if new docs will be provided for the same.

[2019-07-31 17:28] YutongTie-MSFT commented on #36165
@aahill Hi, I can not create a PR for this issue, could you please take a look and update the document? Thank you very much.

[2019-07-31 17:28] DeanGross commented on #36237
The descriptions of these 2 roles makes it difficult to differentiate them. Please review and add some text to help make it more clear which role does what. A matrix table of roles and permissions could be helpful.

[2019-07-31 17:30] Alberto-Vega-MSFT commented on #19568
Hi @JohnRambo90
Do you also have the message routing configured on your hub?
This is what deomal  did https://docs.microsoft.com/en-us/azure/iot-hub/tutorial-routing
This sample/tutorial doesn't work with message routing.

Also please make sure that you add the latest event hubs version"
[code]

[2019-07-31 17:30] Mike-Ubezzi-MSFT commented on #36202
@Oseroke Thank you very much for bringing this to our attention. We are currently investigating and will update you when we have additional information.

[2019-07-31 17:34] rachel-msft commented on #35906
#please-close

[2019-07-31 17:34] #35906 closed

[2019-07-31 17:35] MarileeTurscak-MSFT commented on #36208
@duanecbarb
Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-31 17:36] YutongTie-MSFT commented on #36076
@ricardoqg Here is the document : https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/quickstarts/csharp-hand-text

@PatrickFarley  Hi Patrick, could you please check this issue and make it easier for customers to find the document ^^? Thank you very much.

[2019-07-31 17:37] Alberto-Vega-MSFT commented on #31502
Hi @BretStateham just wanted to check if you have any updates?

[2019-07-31 17:38] SubhashVasarapu-MSFT commented on #32765
@MarkDNL, You can see the docs are carrying the same numerals for a fixed price as well as capacity unit price. There might be some delay in updating of documents. Now the pages were in Sync. Thanks for reaching out.

[2019-07-31 17:39] djpugh opened #36239 "REST authentication header documentation issue"
The docs says "To invoke the run of the preceding pipeline, you need an Azure Active Directory authentication header token, as described in AzureCliAuthentication class or get more details at Authentication in Azure Machine Learning notebook."

neither explain how to get the header token - I think it should refer to https://docs.microsoft.com/en-gb/python/api/azureml-core/azureml.core.authenticati

[2019-07-31 17:41] MarileeTurscak-MSFT commented on #36208
Good catch! I've made a pull request to add the link that provides instructions for adding conditional access to applications in Azure. https://github.com/MicrosoftDocs/azure-docs-pr/pull/83918

@ing @msmimart for approval

[2019-07-31 17:41] MarileeTurscak-MSFT commented on #36208
We will now proceed to close this thread. Changes take 24 hours to process once approved.

[2019-07-31 17:41] #36208 closed

[2019-07-31 17:42] SubhashVasarapu-MSFT commented on #35925
@m4h3, Could you please share the screenshot of that zone selection for Basic SKU public IP?

[2019-07-31 17:44] SaurabhSharma-MSFT commented on #35933
@bachoang The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2019-07-31 17:44] #35933 closed

[2019-07-31 17:44] SaurabhSharma-MSFT commented on #35594
@liroforum We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-31 17:44] #35594 closed

[2019-07-31 17:45] mattchenderson commented on #36175
We are aware of an issue with this and are working to resolve it.

[2019-07-31 17:49] SaurabhSharma-MSFT commented on #35900
@lightupdifire Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-07-31 17:54] SubhashVasarapu-MSFT commented on #20701
@atomikdesign, There was no ETA set as of now for this feature. You can vote for this feature [here](https://feedback.azure.com/forums/217313-networking/suggestions/11699136-wildcard-ssl-domain-url-support-for-azure-cdn) and can provide your feedback.
Thank you.

[2019-07-31 17:54] #20701 closed

[2019-07-31 17:55] SaurabhSharma-MSFT commented on #36105
@smushtaq1 Thanks for the feedback !  It seems the Step 6 and the screenshot needs correction so I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-07-31 17:57] RyanHill-MSFT commented on #36128
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-31 17:58] MarileeTurscak-MSFT commented on #36202
Hi @Oseroke ,

You just need to go to Azure Active Directory > App Registrations > My App > Certificates and secrets

You can only access this by going through the App Registrations blade and not through the Enterprise Apps blade.

![image](https://user-images.githubusercontent.com/13383753/62235522-06a35a80-b382-11e9-8776-2ec69b07c106.png)

Let me know if you can see it now.

[2019-07-31 17:58] Shell32-Natsu commented on #30370
@NingKuang @Karishma-Tiwari-MSFT Hi, any update for this problem?

[2019-07-31 17:59] MicahMcKittrick-MSFT commented on #35937
@mkstephenson I have updated the doc. Once the PR merges the changes will go live after a few hours.

[2019-07-31 17:59] #35937 closed

[2019-07-31 17:59] MarileeTurscak-MSFT commented on #36190
@chan71
Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-31 17:59] YutongTie-MSFT commented on #36089
@kraigb Thank you Kraig!

@IvoMerchiers Thank you for your feedback. I am also looking forward to this feature. I would highly recommend you to post your idea to User Voice forum: https://feedback.azure.com/forums/257792-machine-learning We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continu

[2019-07-31 17:59] #36089 closed

[2019-07-31 18:00] SubhashVasarapu-MSFT commented on #35014
@cherylmc, Could you provide your insights on this?

[2019-07-31 18:00] MicahMcKittrick-MSFT commented on #36004
@monsterrroll hard to say exactly what the issue is without checking the backend logs. Do you happen to have the ability to open a technical support ticket? If not, you can email me at AzCommunity@microsoft.com and provide me with your SubscriptionID and link to this issue. I can then enable your subscription for a free support request.

I will close this and be on the lookout for that email as ne

[2019-07-31 18:00] #36004 closed

[2019-07-31 18:00] MarileeTurscak-MSFT commented on #36190
Closing this out as this appears to be resolved. Thanks for contributing this fix!

[2019-07-31 18:00] #36190 closed

[2019-07-31 18:01] smushtaq1 commented on #36105
Thank You,
Shahab Mushtaq | ECS Senior Specialist Applications
Information Technology | Regional Hub AMS – Saint Louis
Office Phone: +1 (314) 982-2964 | Team Site<http://thenest-eur-hq.nestle.com/GL/GL_GLTS/ECSHomepage/Pages/EnterpriseComputingSolutions.aspx>
We make IT possible
[http://phonebook.us.nestle.com/PhoneBookPhoto.asp?mail=Shahab.Mushtaq@nestle.com]<http://phonebook.us.nestle.com/?mail=

[2019-07-31 18:01] Karishma-Tiwari-MSFT commented on #36158
@larryms Thanks for your contribution. The PR will be merged once it is reviewed by the reviewer @mlearned :)

[2019-07-31 18:02] kgremban commented on #36148
@arsing The article changes went out this morning. Can you take a look and either close this issue or let us know if there's more to be done?

[2019-07-31 18:03] FrankHu-MSFT commented on #35895
@amel00 you can find roles that can grant admin consent here : https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-roles

Typically it's the application admin role that is used to grant admin consent for applications.

@TranBaVinhSon the reason you're having issues is because you're utilizing a client credential flow with a Microsoft Account. You will

[2019-07-31 18:04] MicahMcKittrick-MSFT commented on #36211
@jpdussourd-msft valid point. However at this time, we have decided to use the same doc for both the Linux and the Windows docs while this feature is in preview. Once the feature moves to GA we will add more info to both the docs.

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/generation-2

Some of the docs are setup to share between windows and linux so occasionally you will see

[2019-07-31 18:04] #36211 closed

[2019-07-31 18:05] arsing commented on #36148
It looks correct to me, but @mrohera can confirm.

[2019-07-31 18:06] SubhashVasarapu-MSFT commented on #34515
@KumudD, Could you please provide your insights on this?

[2019-07-31 18:10] JimacoMS3 commented on #33801
Hi Christophe,

I reached out to our dev team. You can change the alert value in “config.h” which is in the getstarted code of MXChip IoT Devkit.  Here's a screenshot from VS Code:

<img width="784" alt="Temp alert threshold" src="https://user-images.githubusercontent.com/47835911/62236236-85e55e00-b383-11e9-8dcc-f2280f0f00d8.png">

Please let me know if we can go ahead and close this issue.

Best

[2019-07-31 18:12] amel00 commented on #35895
@FrankHu-MFST
Thank you very much for the reply was able to find the roles

[2019-07-31 18:12] julianparismorgan commented on #36111
Hey @aosyatnik, glad to help! I have a few questions:
- Which tutorial are you following? You linked to the tutorial for [starting a new Unity HL app from scratch](https://docs.microsoft.com/en-us/azure/spatial-anchors/tutorials/tutorial-new-unity-hololens-app), but your code is from the samples.
- The quote below links to issue with getting the Android NDK DLL. Are you getting this exception? Or

[2019-07-31 18:12] kylebrandt opened #36241 "Incorrect Link for Azure Monitor Logs API in log-query-overview"
In https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-monitor/log-query/log-query-overview.md#where-else-are-log-queries-used :

``` [Azure Monitor Logs API](../platform/alerts-overview.md) ```

Poings to alert overview instead REST API documentation. I imagine it should be either `https://dev.loganalytics.io` or `https://dev.applicationinsights.io` , not sure which.

---
####

[2019-07-31 18:14] SubhashVasarapu-MSFT commented on #34514
@ivasilyev-servicetitan-com, The document was updated accordingly.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-07-31 18:14] #34514 closed

[2019-07-31 18:15] eversonamancio opened #36242 "Please updaate the script to create the web app"
# Here is the updated code

# User Configuration Section Begins

# Subscription name in Azure account. Check in Azure Portal.
$azureSubscriptionName = ""

# Resource group name for resource deployment. Could be an existing resource group or a new one to be created.
$resourceGroupName = ""

# Location for existing resource group or new resource group deployment
################################### L

[2019-07-31 18:16] rynothopter commented on #30836
How will these new Conditional Access controls impact customers that don't have Azure P1/P2 licensing?

Will customers who are currently federating O365 to an on-prem SSO like AD FS still be bound by the access/refresh token model or will this particular CA policy be made available to all non-Premium licensing levels?

[2019-07-31 18:20] Karishma-Tiwari-MSFT commented on #35657
@sandereek Glad to hear that your issue is resolved.
Here is the document which covers this information.
https://docs.microsoft.com/en-us/powershell/azure/manage-subscriptions-azureps?view=azps-2.5.0
We appreciate your feedback and will update this specific doc if we get similar feedback from users. Thanks :)

[2019-07-31 18:20] #35657 closed

[2019-07-31 18:21] FrankHu-MSFT commented on #36235
@DeanGross  Thanks for your Feedback! We will investigate this and get back to you as soon as possible,

[2019-07-31 18:22] FrankHu-MSFT commented on #36228
@DeanGross Thanks for your Feedback! We will investigate this and get back to you as soon as possible,

[2019-07-31 18:22] FrankHu-MSFT commented on #36189
@a-christiaens Thanks for your Feedback! We will investigate this and get back to you as soon as possible,

[2019-07-31 18:22] #24510 closed

[2019-07-31 18:23] Karishma-Tiwari-MSFT commented on #35553
@YutongTie-MSFT @PanosPeriorellis Can you please share the information asked by the customer above? Thanks :)

[2019-07-31 18:24] MarileeTurscak-MSFT commented on #36232
@DeanGross
Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-31 18:25] MarileeTurscak-MSFT commented on #36225
@matthewjlevy
Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-31 18:25] FrankHu-MSFT commented on #36229
@sln007 Thanks for your Feedback! We will investigate this and get back to you as soon as possible,

[2019-07-31 18:26] MicahMcKittrick-MSFT commented on #36222
@ToMakeSense thanks for bringing this to our attention. It appears to be isolated to the disks as I created a few VMs and all the resource group names were all caps visually only when related to the disks. All else was however I put it in to begin with. This does no impact functionality as the capitalization on the backend is ignored.

From a doc perspective, there is not an issue. Rather a odd di

[2019-07-31 18:26] #36222 closed

[2019-07-31 18:29] YutongTie-MSFT commented on #36239
@djpugh
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-31 18:29] Mike-Ubezzi-MSFT commented on #36207
@ExarKun1983 Thank you very much for bringing this to our attention. We are investigating and will update you when we have full clarity of the issue.

[2019-07-31 18:33] dlebu opened #36244 "Validating contract privacy fails"
I followed all the steps in the send transaction tutorial but getting this error when invoking this command on the default node in the truffle console:

[code]

Error:
[code]

Deploying the smart contract succeeded though. Here are the details for that:
[code]

Any help is appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-07-31 18:34] annabarh commented on #30836
@cblomart, here is how rolling window works. When a refresh token is originally issued it has a lifetime of 90 days from the time it was issued. When it redeemed for an access token, a new refresh token issued it's lifetime of 90 days from the moment of issuance. So this 90 days window consistently rolls forward on every new token.

@cronq: the auth timestamp is in the token itself, it is not stor

[2019-07-31 18:37] dlebu commented on #35473
Possible duplicate: #36244

[2019-07-31 18:38] MicrosoftGuyJFlo commented on #36225
@matthewjlevy There is no way to exclude users from the baseline policies.

[2019-07-31 18:39] AjayKumar-MSFT commented on #35977
@marckassay, These are very good feedback. Thanks for sharing.
This specific doc aims at outlining basic steps for deploying WebApp on Azure App Service and the sample(s) available on GitHub is generic for the users to configure based on their requirement, having said that, the repository for deployment based on the runtime you're leveraging should have appropriate files in your project and this d

[2019-07-31 18:40] dlebu commented on #35473
@PatAltimore in my case and possibly in @shreya6491's case as well deploying the smart contract succeeded. What failed was verifying the contract privacy and also sending transactions. Are those scenarios covered in the new wiki?

[2019-07-31 18:44] Mike-Ubezzi-MSFT commented on #36210
@sunnynazar Thank you very much for bringing this to our attention. We are currently investigating and will update you when we have greater clarity. This appears to be a bug but would like to involve the service area lead for this service to get clarity.

[2019-07-31 18:45] xieb0001 commented on #25655
would like to see this feature, will be great helpful.

[2019-07-31 18:45] AjayKumar-MSFT commented on #35967
@kylebarker715, Thanks for the update. Much appreciate your response. We will now proceed to close this issue.

[2019-07-31 18:45] #35967 closed

[2019-07-31 18:47] FrankHu-MSFT commented on #36161
hey @peledins  thanks for letting us know about this issue, we're looking into this and will make the changes accordingly!
- Frank

[2019-07-31 18:48] mike-urnun-msft commented on #36168
Hi @marcelmedina - We will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-31 18:48] #36168 closed

[2019-07-31 18:48] mrohera commented on #36148
Looks good to me.

[2019-07-31 18:48] MartinJaffer-MSFT commented on #36216
Hello @Sethu2488  and thank you for your inquiry.  From my experience investigating the logs of a self-hosted integration runtime on my own laptop, the answer is "Yes, the data does travel through the IR."  In the logs I saw the fetch requests and cache creation notifications.

May I ask what your reason for using a self-hosted IR for cloud-to-cloud is?

[2019-07-31 18:49] Grace-MacJones-MSFT commented on #35664
@joelbloch I  believe https://<webappname>.scm.azurewebsites.net/ZipDeployUI is still the right way to downloading zip file. I noticed the link you posted had an extra period after the m in"scm."  can double check your link and see if you are still getting that error.

Also, please remember  "If you downloaded the files in a ZIP file, extract the files first. For example, if you downloaded a ZIP f

[2019-07-31 18:49] #35664 closed

[2019-07-31 18:49] FrankHu-MSFT commented on #36189
Hey @a-christiaens  so you CANNOT get a single access token to access multiple resources. Because each access token will only have one audience, and the audience dictates what the access token can be used for.

You can do multiple different implementations to try to "hack" this to work, although this is not recommended.

What is recommended is to utilize the on-behalf of flow to get a new access t

[2019-07-31 18:50] 1VIP commented on #36066
☺

[2019-07-31 18:50] MicrosoftGuyJFlo commented on #26598
@Martony78 the doc should have everything you need.

[2019-07-31 18:51] MicrosoftGuyJFlo commented on #26598
@Martony78 sorry this issue got lost in the shuffle when I took over the docs and was getting up to speed on the content.

[2019-07-31 18:51] Mike-Ubezzi-MSFT commented on #36215
@paoloricciuti Thank you for bringing this issue to our attention but it would be very helpful to know the specific document you are referring to, as I see no document details or link. Can you please provide a link to the document?

[2019-07-31 18:52] mrbullwinkle commented on #35974
Thanks again @Rugved for bringing this to our attention. We have updated the doc as follows:

### ASP.NET / ASP.NET Core

[code]

The changes have merged internally. They will go-live this afternoon between 3-4 PM (UTC-7)

[2019-07-31 18:53] tchristiani commented on #32172
We have added this item to our backlog for improving this quickstarts.
#please-close

[2019-07-31 18:53] #32172 closed

[2019-07-31 18:56] MarileeTurscak-MSFT commented on #35924
I am not sure what you mean by "second Azure Active Directory instance in the same Azure Tenant." There is only one directory per tenant.

Tenants are independent of each other so licenses would need to apply to each one specifically. You can't share a license across tenancies or across user accounts.

[2019-07-31 18:57] MarileeTurscak-MSFT commented on #35924
We will now proceed to close this thread.

Let me know if this helps answer your question! If I misunderstood anything or if you have further questions, feel free to tag me in the comments and I will gladly continue the discussion.

[2019-07-31 18:57] #35924 closed

[2019-07-31 18:57] ecfan commented on #36203
Issue now fixed and published.

@mike-urnun-msft: #please-close

[2019-07-31 18:57] #36203 closed

[2019-07-31 18:58] 1VIP opened #36245 "Panduan masalah dokumentasi Azura"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-07-31 18:58] prbajrac commented on #29673
@MicahMcKittrick-MSFT Any news on this ? Is it even possible to do so? I have a customer who requires to update the credentials so that he can integrate Azure AD into his cluster.

[2019-07-31 18:58] vladvino commented on #36205
Good point @IvoMerchiers, thank you. Proposed change is in https://github.com/MicrosoftDocs/azure-docs-pr/pull/83931. #please-close

[2019-07-31 18:58] #36205 closed

[2019-07-31 18:58] sanpil commented on #36239
Perhaps we should link to this notebook which explains how to get the header: [https://aka.ms/pl-pub-rep](https://aka.ms/pl-pub-rep).

[2019-07-31 18:59] ahmedelnably commented on #36000
I no longer work on app service team, @btardif may help

[2019-07-31 19:01] Mike-Ubezzi-MSFT commented on #36231
@JayaSaiSontineni Thank you very much for bringing this to our attention. We are investigating and will update you when we have greater clarity of the issue. In the meantime, I am assigning this to the service area lead to be investigated.

[2019-07-31 19:04] vboyev-MSFT opened #36246 "How to script adding a second workspace to OMS/ALA"
Scenario:
MMA is deployed. Servers are connected to SCOM as well as to ALA workspace. Need to script an additional workspace.

This scenario is not documented. How do you add an additional workspace key and ID while preserving the existing configuration programmatically?

Also, how do you programmatically remove a single workspace if multiple are defined?

This becoming a common scenario with cust

[2019-07-31 19:04] chlowell commented on #33604
@mattchenderson any update on this?

[2019-07-31 19:05] noelbundick opened #36247 "Bad example in "Make changes and redeploy""
The section says to change from `return request.createResponse(200, "Hello, " + name);`, but the code in Function.java is actually `return request.createResponseBuilder(HttpStatus.OK).body("Hello, " + name).build();`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e656bde5-b5d8-8d80-b7b3-ab430e57613e
* Version Independe

[2019-07-31 19:09] tiagocostapt opened #36248 "App Service - Basic Tier - 99.9% ?"
Is this value right?
In https://azure.microsoft.com/en-us/support/legal/sla/app-service/v1_4/ we can find it's 99.95%

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57b6d-3c6f-e546-b3ea-f83892f4c23d
* Version Independent ID: 27aecc7b-f107-96d4-b044-ae026bca2727
* Content: [Azure subscription limits and quotas](https

[2019-07-31 19:10] MicahMcKittrick-MSFT commented on #36223
@AdamGlass looking at the available versions we see the following:

[code]
As you can see 1.14.3 and 1.14.1 are both in preview. So we would not consider those as the latest stable build. Rather, we would take 1.13.7 as the latest stable version and use N-1 as mentioned in the doc which would result in 1.13.5

That being said, although we do use N-1 as the default, it does not get applied as soon

[2019-07-31 19:10] #36223 closed

[2019-07-31 19:16] MicahMcKittrick-MSFT commented on #36230
@bijopunnoose thanks for the find! I have corrected the doc. Once the PR merges the changes will go live after a few hours.