[2022-07-08 17:49] hiumingw opened #95519 "This spark connector is no longer supported"
azure-sqldb-spark has reached end of life in 2020.  Can someone please update this page with the new connector sql-spark-connector

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 493e6bd2-ce9d-c473-a623-910b428d47b7
* Version Independent ID: a45fa45f-9f56-5162-f62a-f3d86d088487
* Content: [Use the Spark connector with M

[2022-07-08 17:54] GeethaThatipatri-MSFT commented on #95519
Hi @hiumingw Thanks for reaching out, We will Investigate and update you shortly.

[2022-07-08 17:57] kobulloc-MSFT commented on #95392
@def1nity No worries!  As I mentioned in my edit, it took me some additional research to see why you were running into this so it's not immediately clear what the cause of the error is.  I've made a recommendation to the documentation team to add a note for anyone else who may be running into this (and it appears a good number of people are).  Thank you again for helping to improve our documentati

[2022-07-08 18:01] mbender-ms commented on #95360
Thanks for that insight, @cveld. It's always good to hear how our products are being used.

[2022-07-08 18:08] ganga1980 commented on #95347
Hi, @fwikestad, thanks for creating this. Can you please provide more details whats meant by "disabling AKS insights restart the AKS cluster." Are you saying AKS cluster stopped and then disabling AKS insights on stopped cluster triggering the AKS cluster start? https://docs.microsoft.com/en-us/azure/aks/start-stop-cluster?tabs=azure-cli
Can you please provide detailed repro steps to investigate f

[2022-07-08 18:10] Iyer-Narayan opened #95520 "The term "Component" is very confusing in the examples"
Since [components](https://docs.microsoft.com/en-us/cli/azure/ml/component?view=azure-cli-latest) are a thing in Azure ML, the examples using this name to describe a job is very confusing.

Perhaps job or step would be a better term here.

jobs:
  component_a:
    type: command
    component: file:./componentA.yml
    inputs:
      component_a_input:
        type: uri_folder
        path: ./data

[2022-07-08 18:10] nagula-ritvika opened #95521 "Missing details about Vnet"
[Enter feedback here]

How do we pass in the vnet in which we want to deploy the vm ? i dont see any example for this

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 074568ee-1fc9-3d9a-1c10-96ada221c0aa
* Version Independent ID: 9e5ebd88-534b-3d7e-f145-03797a56330f
* Content: [Tutorial - Create and manage Linux VMs with

[2022-07-08 18:16] kobulloc-MSFT commented on #95521
@nagula-ritvika Thank you for your feedback!  We are reviewing the documentation and will get back to you shortly.

[2022-07-08 18:23] kabharati commented on #94905
#Please-close

[2022-07-08 18:23] #94905 closed

[2022-07-08 18:29] tfitzmac commented on #95438
It looks like the @ is no longer required. It still worked for most scenarios, but I got an error I ran Azure CLI in a PowerShell window and used a relative path.

Thanks again for making us aware of this issue. I'll update the article.

[2022-07-08 18:31] dlepow commented on #94253
Assigning for doc update:
#reassign: @dlepow

[2022-07-08 18:33] kabharati commented on #95374
Updated docs will reflect by EOD.

[2022-07-08 18:33] kabharati commented on #95374
#please-close

[2022-07-08 18:33] #95374 closed

[2022-07-08 18:39] kabharati commented on #92524
We are working on this baseline and this should be published in next couple of months.

[2022-07-08 18:39] kabharati commented on #92524
#Please-close

[2022-07-08 18:39] #92524 closed

[2022-07-08 18:39] kobulloc-MSFT commented on #95521
@nagula-ritvika This is covered more in detail in the CLI documentation for [`az vm create`](https://docs.microsoft.com/en-us/cli/azure/vm?view=azure-cli-latest#az-vm-create).  To specify the virtual network/vnet for a VM during creation, you would use the `--vnet-name` parameter:

_Example: Create a Debian VM with SSH key authentication and a public DNS entry, located on an existing virtual netwo

[2022-07-08 18:41] kabharati commented on #88228
This is already documented in below section.
(https://docs.microsoft.com/en-us/azure/postgresql/flexible-server/concepts-networking#virtual-network-concepts)

Here is the snippet from the docs.

The smallest CIDR range you can specify for a subnet is /28, which provides fourteen IP addresses, however the first and last address in any network or subnet can't be assigned to any individual host. Azur

[2022-07-08 18:41] kabharati commented on #88228
#please-close

[2022-07-08 18:41] #88228 closed

[2022-07-08 18:42] kabharati commented on #90888
You should be able to see this as long as you're in same subscription. I would recommend opening a support ticket with Microsoft so that an engineer can look into this.

[2022-07-08 18:42] kabharati commented on #90888
#please-close

[2022-07-08 18:42] #90888 closed

[2022-07-08 19:07] AjayKumar-MSFT commented on #95254
pdegenhardt, after initial review, I have assigned the issue to the content author to review further and update the document as appropriate. Thanks again for the feedback!

[2022-07-08 19:13] rajeshsetlem commented on #90234
@fercobo-msft Thanks for the feedback. Have updated the doc, changes will be live today.

[2022-07-08 19:13] rajeshsetlem commented on #90234
#please-close

[2022-07-08 19:13] #90234 closed

[2022-07-08 19:23] tfitzmac commented on #95438
I have updated the article and it should get published later today.
#please-close

[2022-07-08 19:23] #95438 closed

[2022-07-08 19:34] rajeshsetlem commented on #50659
Hi @Timovzl , Apologies for the delay in getting back to you. To your original question reg synchronous or asynchronous on read scale, the transactions generated on primary are committed (meaning written to transaction log) to the secondary replica for premium zone redundant database in synchronous manner. But the redo process happens asynchronously and thus you might read stale data. Committing s

[2022-07-08 19:35] rajeshsetlem commented on #50659
#please-close

[2022-07-08 19:35] #50659 closed

[2022-07-08 19:39] Oury-MSFT commented on #95484
@GithubMirek Could you please provide your inputs on the above question.? Thanks

[2022-07-08 19:39] s-gratz opened #95525 "How do we unregister an Azure AD Password Protection Proxy"
We recently upgraded our AAD Connect server to v2.x.  This upgrade required a swing migration because our v1.6 AAD Connect was running on Windows Server 2012.  Earlier this week, I installed the AAD PP Proxy on the new AAD Connect server and would like to unregister the old server before we decommission it.  Thus far, all of my attempts to search for a way to unregister an AAD PP Proxy have come u

[2022-07-08 19:46] aaelony-aeg commented on #95484
Yes, see below.  I think this issue is specific to the notion of the SQL Server Driver on the Mac M1 and support for MFA accounts.

Seeking _any_ viable query that correctly executes and returns a result set that will enable programmatic query access from a Jupyter Notebook (or similar)

[code]

[2022-07-08 19:48] aaelony-aeg commented on #95484
`~/.odbc.ini` contains `DSN=MSSQLTest;UID=***;PWD***;` and
`/etc/odbcinst.ini ` contains some of the things I have tried.

[code]

[2022-07-08 19:57] whhender commented on #95240
@ShaneOsborne - I have corrected the original article so that it's clearer that it's referencing just the REST API options, and I have added the portal options to the permissions page as well: https://docs.microsoft.com/en-us/azure/purview/catalog-permissions

You should see these edits appear this afternoon. Thanks again for your feedback!

[2022-07-08 19:57] whhender commented on #95240
#please-close

[2022-07-08 19:57] #95240 closed

[2022-07-08 20:09] mumian commented on #95176
@verschaevesiebe - there is still a limit.  It is not 4M, but 1M, 1,048,576 characters to be exact.  The loadTextContent size limit is 131,072 characters.  It is loaded as native ARM-JSON, so it doesn't have to have expression limit.  The dev set a 1M limit to avoid parsing big files.  I hope it helps.

#please-close

[2022-07-08 20:09] #95176 closed

[2022-07-08 20:22] jifems commented on #95464
Thank you so much Tom! We just launched a new preview feature and started getting this question from a few customers. This will help a lot!

[2022-07-08 20:34] rajeshsetlem commented on #70761
Hi @MarkFreemanBDO, Apologies for the delayed response. Please find below responses to your questions:

For example, if a query is executed using ApplicationIntent=ReadOnly in the Query string, does it get recorded in the Query Store for the primary read-write database?
No, it doesn't. The connection gets routed to the readable secondary.

Is there any way to tell which queries are hitting the rea

[2022-07-08 20:37] TerryLanfear commented on #94993
@DeanGross - Thank you for your feedback. I was unable to find a video or collection of videos to link to so I removed the bullet under Next steps.

@Givary - This issue is resolved via PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/204175

#please-close

[2022-07-08 20:42] jdyver opened #95526 "Old Network Reconfiguration Instructions"
(https://docs.microsoft.com/en-us/azure/defender-for-iot/organizations/how-to-set-up-your-network#cant-connect-by-using-a-web-interface)

These instructions do not work in v22.x and later.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a52ecb3a-e8d9-d76e-968a-2ef492cd4946
* Version Independent ID: a92c8824-7a7e-9510-837

[2022-07-08 20:44] rajeshsetlem commented on #84006
@MDG025 Apologies for the delayed response. Zone redundant option is described in detail under High Availability section of business continuity
https://docs.microsoft.com/en-us/azure/azure-sql/database/high-availability-sla?view=azuresql&tabs=azure-powershell#premium-and-business-critical-service-tier-zone-redundant-availability

[2022-07-08 20:44] rajeshsetlem commented on #84006
#please-close

[2022-07-08 20:44] #84006 closed

[2022-07-08 20:54] rajeshsetlem commented on #93380
Hi @Muasho, Thanks for your feedback. We have updated the doc with screenshot.

[2022-07-08 20:54] rajeshsetlem commented on #93380
#please-close

[2022-07-08 20:54] #93380 closed

[2022-07-08 20:58] MarkFreemanBDO commented on #70761
@rajeshsetlem So is it correct that there is no way to capture statement text or execution plans or any information useful for performance tuning for anything executing with **ApplicationIntent=ReadOnly**?

If a SQL statement is driving up CPU usage in a geo-replicated secondary, Microsoft provides no way at all to see what it is, where it is coming from, who is executing it, or any statistics or

[2022-07-08 21:04] mike-urnun-msft commented on #95505
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-07-08 21:10] tfitzmac commented on #95355
@sopelt - thanks for this feedback. I was able to reproduce the issue of concurrent deployments with a static module name and the same scope interfering with the output. I'll add clarification to the article.

[2022-07-08 21:16] deathcat05 opened #95528 "APPSETTING_DEFAULT_OS error when trying to upgrade from Debain 9 to Debian 11"
I am trying to follow the steps in this doc to ensure my app is running smoothly for the transition to Debian 11. However, I am not able to perform step 2 successfully. I get the following error when running this command

`az webapp config appsettings set -g MyResourceGroup -n MyUniqueApp --settings APPSETTING_DEFAULT_OS=bullseye --debug`

` {"Code":"BadRequest","Message":"AppSetting with name 'AP

[2022-07-08 21:27] kegregoi opened #95529 "Symantec extension update"
This article is really out of date and still uses Classic operations - please update to ARM.

There is also an option in the Portal to install this Symantec extension and that should be covered here as well.

Part of the installation process is to provide details such customer id, domain id, and customer secret. We've seen cases where customers expect us to provide these details, but they need to

[2022-07-08 21:33] phwecker opened #95531 "missing tags in table"
seems the list of current tags is out of date. customer pointed out to me, that there are more tags to choose from in portal than listed here in this doc

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d4e1aef-bb70-e95a-66fa-b8e25bc9fcbb
* Version Independent ID: d223a464-6a66-4755-2eea-40148ab3cf29
* Content: [FQDN ta

[2022-07-08 21:59] kobulloc-MSFT commented on #95521
@nagula-ritvika We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-07-08 21:59] #95521 closed

[2022-07-08 22:00] tfitzmac commented on #95355
I have added clarification to the article. It might be Monday morning before it is published.
#please-close

[2022-07-08 22:00] #95355 closed

[2022-07-08 22:11] SaurabhSharma-MSFT commented on #95496
@georgeOsdDev Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-08 22:12] mkarmark commented on #95212
Do you have more details on when this changed? I recently worked through the setup per the instructions and didn't see any issues

[2022-07-08 22:12] SaurabhSharma-MSFT commented on #95506
@RamenTurismo Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-08 22:17] JamesTran-MSFT commented on #95517
@pirminf
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-07-08 22:20] JamesTran-MSFT commented on #95525
@s-gratz
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-07-08 22:28] PingPongSet opened #95536 "How is RADIUS server used in P2S"
I want to understand how the RADIUS server is used for P2S VPN?

Because the RADIUS server below is in S2S, not P2S, and has no interaction with P2S.
https://docs.microsoft.com/en-us/azure/vpn-gateway/media/point-to-site-how-to-radius-ps/radius-diagram.png

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-07-08 22:28] JamesTran-MSFT commented on #95426
@frenky29a
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-07-08 23:33] SaurabhSharma-MSFT commented on #95515
@SB-o-matic To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/products/) or [StackOverflow](https://stackoverflow.com/) as it could be better place to get help on your scenario where the community m

[2022-07-08 23:35] davidsmatlak commented on #47899
#reassign:davidsmatlak

[2022-07-08 23:35] davidsmatlak commented on #92769
#reassign:davidsmatlak

[2022-07-08 23:36] davidsmatlak commented on #86440
#reassign:davidsmatlak

[2022-07-08 23:36] davidsmatlak commented on #78234
#reassign:davidsmatlak

[2022-07-08 23:37] davidsmatlak commented on #81525
#reassign:davidsmatlak

[2022-07-08 23:38] davidsmatlak commented on #79056
#reassign:davidsmatlak

[2022-07-08 23:38] davidsmatlak commented on #77708
#reassign:davidsmatlak

[2022-07-08 23:38] davidsmatlak commented on #74550
#reassign:davidsmatlak

[2022-07-08 23:39] davidsmatlak commented on #73550
#reassign:davidsmatlak

[2022-07-08 23:39] davidsmatlak commented on #73499
#reassign:davidsmatlak

[2022-07-08 23:40] davidsmatlak commented on #55026
#reassign:davidsmatlak

[2022-07-08 23:40] SaurabhSharma-MSFT commented on #95508
@special-arrow Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-08 23:40] davidsmatlak commented on #54901
#reassign:davidsmatlak

[2022-07-08 23:41] davidsmatlak commented on #53365
#reassign:davidsmatlak

[2022-07-08 23:41] SaurabhSharma-MSFT commented on #95512
@L-u-k-e-GIT Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-08 23:41] davidsmatlak commented on #47532
#reassign:davidsmatlak

[2022-07-08 23:41] davidsmatlak commented on #38155
#reassign:davidsmatlak

[2022-07-08 23:44] davidsmatlak commented on #55026
#assign:MSEvanhi

[2022-07-08 23:52] kobulloc-MSFT commented on #95529
@kegregoi Thank you for your feedback!  We've assigned this to the document author for further review.

[2022-07-08 23:58] RyanHill-MSFT commented on #95528
Are you sure that https://<-app service name->.scm.azurewebsites.net/Env shows 99.x for the PLATFORM_VERSION @deathcat05 ?

[2022-07-09 00:06] RyanHill-MSFT commented on #95528
Are you sure that https://<-app service name->.scm.azurewebsites.net/Env shows 99.x for the PLATFORM_VERSION @deathcat05?

[2022-07-09 00:07] RyanHill-MSFT commented on #95528
test

[2022-07-09 00:13] lawrkelly opened #95537 "Script in doc is not working"
[The script doesn't work.  It uses the port as name and then rejects it]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 328f78e4-c8b4-301d-16a9-57e931a410ba
* Version Independent ID: b19558b2-6ef2-2d3c-44dc-8c7f46638748
* Content: [Configure DNN listener for availability group - SQL Server on Azure VMs](https://docs.mi

[2022-07-09 00:30] deathcat05 commented on #95528
@RyanHill-MSFT Oh. I see now. My app is still on 98.x. Tricky! Once my app reaches version 99.x, then I'll be able to perform the upgrade? If so, will this PLATFORM_VERSION upgrade happen automatically, and when?

Thank you!

[2022-07-09 01:53] kobulloc-MSFT commented on #95537
@lawrkelly Thank you for your feedback!  We've assigned this to the document author for further review.

[2022-07-09 02:06] rodrigobrochado commented on #50407
Still a problem. Got here while migrating from GCP to Azure. Any news?

[2022-07-09 03:01] VikasPullagura-MSFT commented on #95514
@AnvaySingh
Thanks for your Question! We are currently investigating and will get back on this.

[2022-07-09 03:03] VikasPullagura-MSFT commented on #95520
@Iyer-Narayan
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-07-09 03:03] VikasPullagura-MSFT commented on #95520
@xiaoharper
Can you please check and add your comments on this doc update request as applicable.

[2022-07-09 03:05] VikasPullagura-MSFT commented on #95526
@jdyver
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-07-09 03:05] VikasPullagura-MSFT commented on #95526
@batamig
Can you please check and add your comments on this doc update request as applicable.

[2022-07-09 03:06] VikasPullagura-MSFT commented on #95531
@phwecker
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-07-09 03:06] VikasPullagura-MSFT commented on #95531
@vhorne
Can you please check and add your comments on this doc update request as applicable.

[2022-07-09 03:07] VikasPullagura-MSFT commented on #95536
@PingPongSet
Thanks for your Question! We are currently investigating and will get back on this.

[2022-07-09 08:47] ncikac opened #95540 "Azure notification hubs - Windows (WNS) error - Invalid WNS credentials"
Hi. I am following this tutorial. Did triple check that I didn't miss anything, however STEP 3 in chapter "Configure WNS settings for the hub" returns error message: Error updating notification hub. Error. BadRequest. Message: **Invalid WNS credentials**.

More details can be found here: [Azure notification hubs - Windows (WNS) error - Invalid WNS credentials](https://stackoverflow.com/questions/7

[2022-07-09 10:07] lgmorand opened #95542 "Code sample containers wrong content"
There is a markdown include in the C# code

[code]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20c3df07-5950-bd23-4bfc-47fe636a5f44
* Version Independent ID: c12e72fa-3996-0246-a5cd-e2f9856e04a3
* Content: [Azure AD authentication for Application Insights - Azure Monitor](https://docs.microsoft.com/en-gb/azure/azure

[2022-07-09 11:27] mansohrstrom opened #95543 "D365 Field Service missing"
Hi, can't find c7d15985-e746-4f01-b113-20b575898250 Dynamics 365 Field Service in here nor in the CSV file located here

https://download.microsoft.com/download/e/3/e/e3e9faf2-f28b-490a-9ada-c6089a1fc5b0/Product%20names%20and%20service%20plan%20identifiers%20for%20licensing.csv

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-07-09 12:22] PriyankaRudramaina commented on #95513
@kevmurray

Thank you for your feedback. We will investigate and update the thread further.

[2022-07-09 14:58] tshaiman opened #95544 "Broken link"
[Enter feedback here]
at the bottom of the page there is redirection to an article called "Create ingress nginx controller with public static IP address"
that points to https://docs.microsoft.com/en-us/azure/aks/ingress-static-ip
this article does not exists

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7179d4ae-db6e-

[2022-07-09 15:13] kobulloc-MSFT commented on #95544
@tshaiman Thank you for bringing this to our attention!  We are reviewing the link and will get back to you shortly.

[2022-07-09 15:23] bubba198 commented on #34672
All we have is pricing for the basic, missing pricing for standard and high performance

![image](https://user-images.githubusercontent.com/10265342/178111992-86aec38f-4f71-4a4c-a0b5-7aa0742fa8be.png)

[2022-07-09 15:51] SaurabhSharma-MSFT commented on #95540
@ncikac Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-09 15:52] SaurabhSharma-MSFT commented on #95542
@lgmorand Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-09 15:53] SaurabhSharma-MSFT commented on #95543
@mansohrstrom Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-09 16:48] kobulloc-MSFT commented on #95544
**Link details**
It looks like the link in question is under [Next steps](https://docs.microsoft.com/en-us/azure/aks/static-ip#next-steps):

Link address:
https://docs.microsoft.com/en-us/azure/aks/ingress-static-ip

Resulting destination URL:
https://docs.microsoft.com/en-us/azure/aks/ingress-tls

**Link update**
[Create an ingress controller](https://docs.microsoft.com/en-us/azure/aks/ingress-ba

[2022-07-09 17:27] tshaiman commented on #95544
amazing ! well done guys

[2022-07-09 17:27] #95544 closed

[2022-07-09 17:41] AjayKumar-MSFT commented on #95503
charlesleaub, No worries. Thanks for taking time to post this question on Azure docs feedback channel.
Much appreciate your follow-up and closure.

-As a side note, this channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2022-07-09 17:44] AjayKumar-MSFT commented on #95249
codycorraini, We'd raised a PR and the doc would reflect the changes shortly. Thanks again for taking time to share your feedback.

[2022-07-09 17:44] #95249 closed

[2022-07-09 18:39] 4ttedertlf opened #95545 "Libraries markdown table - can this include a reason for each of the libraries?"
I understand I need the 2 libraries - but what does each do and how are they related? I don't need a huge explanation just a single sentence or phrase in the table for each.

@diberry, @mmacy  fyi
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5da4c0e7-0dff-f71e-efd9-ec996defef28
* Version Independent ID: 98411939-83ed-

[2022-07-09 19:29] 4ttedertlf opened #95546 "Please add or link to code that uses the Graph JS SDK instead of an HTTP call"
Why does the `Call the Microsoft Graph API` section call an HTTP URL to get Graph instead of the SDK? Please show how to use the Graph SDK instead of an HTTP URL.

@diberry @mmacy  fyi
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5da4c0e7-0dff-f71e-efd9-ec996defef28
* Version Independent ID: 98411939-83ed-4762-076e-30

[2022-07-09 23:43] ctvanzandt42 opened #95547 "Support for using Key Vault references for secret values?"
I'd be curious to know how secret values are secured in the current form of Container Apps and if there are plans to enable Key Vault references similarly to how you can in App Services. This is probably the main blocker for me in moving a production app to Container Apps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-07-10 03:52] Abhishek-Dutta opened #95548 "Apply ACLs recursively - update documentation for child acl automatic deletion"
[Enter feedback here]
Apply ACLs recursively, here it does not say that while propagating it from parent it will also delete all the acl that are present only on child blobs. This was a major issue for us where all existing acl got deleted for the child blob in adls gen 2 of us and created multiple job failures. And there is no way for easy recovery  from this state.

Can you please explicitly men

[2022-07-10 04:16] VikasPullagura-MSFT commented on #95545
@4ttedertlf
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-07-10 04:16] VikasPullagura-MSFT commented on #95545
@j-mantu
Can you please check and add your comments on this doc update request as applicable.

[2022-07-10 04:30] VikasPullagura-MSFT commented on #95546
@4ttedertlf
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-07-10 04:30] VikasPullagura-MSFT commented on #95546
@j-mantu
Can you please check and add your comments on this doc update request as applicable.

[2022-07-10 04:33] VikasPullagura-MSFT commented on #95547
@ctvanzandt42
Thanks for your Question! We are currently investigating and will get back on this.

[2022-07-10 04:35] VikasPullagura-MSFT commented on #95548
@Abhishek-Dutta
Thanks for the feedback! We are currently investigating and will get back on this.

[2022-07-10 04:59] gary-newsham-class-com-au opened #95549 "this is the page that Azure portal sent to when I want to create a new directory. But this doesn't tell me how to create a directory... it assumes I have one and tells me how to create a tenant. The link/help in Azure dashboard needs to point to a different page"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 588fc4d6-0c4d-297d-cfe1-8562728fdc4d
* Version Independent ID: cf117c91-90fa-036b-9763-a3c16b398a33
* Content: [Tutorial - Create an Azure Active Directory B2C tenant](https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-create-tenant)

[2022-07-10 07:26] samisokok commented on #36607
Hi,
In Az500, I also tested Azure PIM in lessons.
However, even the subscription is expired. I keep receiving the email (Weekly DIgest)
When accessing the link:
https://portal.azure.com/#blade/Microsoft_AAD_IAM/IdentityProtectionMenuBlade/WeeklyDigest
It shows "No access"
Could Azure provide any suggestions ????? It's very frustrating receiving emails that could not be unsubscribed.

[2022-07-10 08:46] ElazarK commented on #95426
@frenky29a Thank you for bringing this to our attention, the page was actually just updated to include the appropriate policy [Enable Microsoft Defender for Cloud on your subscription - Microsoft Azure](https://ms.portal.azure.com/#view/Microsoft_Azure_Policy/PolicyDetailBlade/definitionId/%2Fproviders%2FMicrosoft.Authorization%2FpolicyDefinitions%2Fac076320-ddcf-4066-b451-6154267e8ad2).

Once the

[2022-07-10 08:46] ElazarK commented on #95426
#please-close

[2022-07-10 08:46] #95426 closed

[2022-07-10 10:51] bgawale opened #95554 "Add explanation for "Flow_Type": "Bluefield""
Would be good to highlight what does below configuration signify or point to the direction where additional reference for this can be found.
`"Flow_Type": "Bluefield"`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bc462b2-cc7f-7209-fac7-9796d3f714be
* Version Independent ID: 723b1388-1661-1ffc-c44f-3b6de246f23c
* Con

[2022-07-10 11:55] PingPongSet opened #95555 "[Question] Doc Errata?"
The "Connect a site to a virtual hub" line is the same as "Connect a VPN site to a virtual hub". The former has no corresponding section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d62470b-a511-4b32-5498-2ae5182ec585
* Version Independent ID: df2d4c2e-8afb-14ae-6667-9a504a5f8197
* Content: [Tutorial: Create site-t

[2022-07-10 12:57] VikasPullagura-MSFT commented on #95554
@bgawale
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-07-10 12:57] VikasPullagura-MSFT commented on #95554
@AaronMaxwell
Can you please check and add your comments on this doc update request as applicable.

[2022-07-10 13:00] VikasPullagura-MSFT commented on #95555
@PingPongSet
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-07-10 13:00] VikasPullagura-MSFT commented on #95555
@cherylmc
Can you please check and add your comments on this doc update request as applicable.

[2022-07-10 14:10] v-amallick opened #95556 "Video link not rendering thumbnail view"
Please fix the video syntax/video domain issue that is causing an issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f97e4b07-cad6-3650-0434-78e2a09a7edb
* Version Independent ID: 122fc486-e88c-f7ea-2625-b653b0a12d3a
* Content: [Continuous backup with point in time restore feature in Azure Cosmos DB](https://docs.mi

[2022-07-10 14:18] v-amallick commented on #95556
It seems that the issue is happening because the video is enclosed in angular brackets.

[2022-07-10 14:30] ailwqqqssdsaasfaddqag commented on #95556
مرسل من هاتف Samsung Galaxy الذكي.
-------- الرسالة الأصلية --------من: Abhishek Mallick ***@***.***> التاريخ: ١٠‏/٧‏/٢٠٢٢  ١٧:١١  (GMT+03:00) إلى: MicrosoftDocs/azure-docs ***@***.***> نسخة: Subscribed ***@***.***> الموضوع: [MicrosoftDocs/azure-docs] Video link not rendering thumbnail view (Issue #95556)

Please fix the video syntax/video domain issue that is causing an issue.

Document Details

[2022-07-10 15:21] ailwqqqssdsaasfaddqag commented on #95556
لقد تمت دعوتك للانضمام إلى سباق Sweatcoin ‏"July 250K Step Challenge " https://sweatco.in/app/race/mover94515750371/229مرسل من هاتف Samsung Galaxy الذكي.

[2022-07-10 16:17] ezYakaEagle442 commented on #95119
also at [https://azure.microsoft.com/en-us/develop/java/](https://azure.microsoft.com/en-us/develop/java/) see the picture below :

[
![image](https://user-images.githubusercontent.com/43554247/178152992-40a7a701-88a4-4f6e-86e0-cf91e34a5cee.png)
](![image](https://user-images.githubusercontent.com/43554247/178152994-53c67070-f5ff-4284-9bb9-7340ba58e0b8.png))

[2022-07-10 16:58] DavidPaf commented on #24814
It is useful to have a ARM template to deploy it to Azure for real experience and customer can gradually leverage to Azure services for web hosting and further usages.

I see in some tutorials there is supported button with ARM template to deploy it like

![image](https://user-images.githubusercontent.com/61499598/178154435-fe1f6956-3e3b-4663-baaf-ca6ea3b28a68.png)

[2022-07-10 17:01] SaurabhSharma-MSFT commented on #95549
@gary-newsham-class-com-au Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-10 17:03] SaurabhSharma-MSFT commented on #95556
@v-amallick Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-10 17:50] JeffreyWolford commented on #95321
Thanks for the feedback on the IIS logging.  You have brought up a great point and I will work with the engineers to investigate adding the new fields. Are there other fields besides the X-Forwarded-For and X-Forwarded-Proto should be consider?

The team is currently working on other log types, like JSON, Firewall, and delimited.  We are still in talks with SQL team to collect their logs.

[2022-07-10 18:10] gertkix opened #95559 "wrong application mentioned"
Your first screenshots are not from Cloud for Customer but from SAP IAS services.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d33e9a4e-b5e2-cdfb-b3e0-0565e91fb78d
* Version Independent ID: 22602ede-b2c2-a9c1-4929-8cd7cfa8cef9
* Content: [Tutorial: Azure Active Directory single sign-on (SSO) integration with SAP Clou

[2022-07-10 18:57] RyanHill-MSFT commented on #95528
Should be but if you run into any issues, please comment and tag me. As for when, I would say end of August maybe September, but it's all tentative.

[2022-07-10 18:57] #95528 closed

[2022-07-10 19:23] daemenseth opened #95560 "Issues with the provided ansible playbook"
[Enter feedback here]
There are some issues with the provided ansible script.

- Copy past to vscode gives spacing errors.
- ansible_system does not exist in windows facts
- When a job is is skipped because condition is not met the register will be run. Because windows and linux task are using the samen register names this gives erros with next job.

I have rewrite the playbook so it works for us

[2022-07-10 19:23] AnnuKumari-MSFT commented on #95398
Hi @r33dz ,

I tried to use my linked service pointing to Azure SQL database as the Source dataset in 'Delta copy from a database' template and it's working for me. Here is the detailed video :

![azSQLTable](https://user-images.githubusercontent.com/96407195/178158973-1b0355f1-e0a9-4206-84a5-a1928e8af191.gif)

If you have any further query on the implementation part,  I would recommend you to cre

[2022-07-10 19:23] AnnuKumari-MSFT commented on #95195
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-07-10 19:23] #95195 closed

[2022-07-10 20:43] r33dz commented on #95398
Hi @AnnuKumari-MSFT : The request is for Azure SQL DB as _destination_, not source as you show in your example. I am happy to try another forum, although I suppose the request is to update the template.

Thanks,

-Reed

[2022-07-10 21:08] alfredorevilla opened #95561 "Add instructions on how to enable public networking to private only accessible keyvaults"
Motivation:
https://docs.microsoft.com/en-us/answers/questions/920551/accessing-azure-key-vault-from-local-ip-address.html#answer-920614

Proposed action:
Add instructions on how to enable public networking to private only accessible keyvaults

`az keyvault update --public-network-access enabled --name <KEYVAULT NAME>`

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2022-07-10 21:13] #95561 closed

[2022-07-10 23:15] jun110 opened #95562 "Proxy settings for Azure Arc server"
If the version of Az.ConnectedMachine module is the latest version, the following sample will generate an error.

[code]
![image](https://user-images.githubusercontent.com/25476639/178165632-aba2422a-488a-4651-8692-bf93dd217872.png)

Error message :

Probably because the parameter type was changed from IAny to Hashtable.

![image](https://user-images.githubusercontent.com/25476639/178165710-e99428

[2022-07-10 23:20] deathcat05 commented on #95528
Thanks so much, @RyanHill-MSFT ! Will do

[2022-07-11 00:37] SaurabhSharma-MSFT commented on #95559
@gertkix Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-11 00:38] SaurabhSharma-MSFT commented on #95560
@daemenseth Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-11 00:40] SaurabhSharma-MSFT commented on #95562
@jun110 Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-11 01:17] maiorano84 opened #95563 "Azure Traffic Manager"
This section is willfully misleading:

https://docs.microsoft.com/en-us/azure/traffic-manager/traffic-manager-faqs#can-i-use-traffic-manager-with-a-naked-domain-name

The answer should be:

Yes, **but only if you are using Azure DNS.** To learn how to create an alias record for your domain name apex to reference an Azure Traffic Manager profile, see [Configure an alias record to support apex domai

[2022-07-11 01:30] Aprilllllll opened #95564 "--query objectId does not work"
The command '#az ad group show --group <group name> -o tsv --query objectId' does not give an content.
Instead, the '#az ad group show --group <group name>' -o tsv --query id works

![image](https://user-images.githubusercontent.com/96217475/178172087-1ed8cdaf-018b-4efd-b044-fcd76af776f5.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2022-07-11 02:39] KeeveySongMS opened #95565 "Can we add the fact that pre-requisite for restore a deleted dedicated sql pool is that you haven't created a new pool with the same name please?"
Can we add the fact that pre-requisite for restore a deleted dedicated sql pool is that you haven't created a new pool with the same name please?

There is nowhere on this documentation indicates that if we deleted a sql pool, then created a new sql pool with the same name, the restore point for the previous sql pool will be overwrited by the new sql pool. Then when I tried to follow this doc, I g

[2022-07-11 03:30] PriyankaRudramaina commented on #95564
@Aprilllllll,

Thank you for your feedback. We will investigate and update the thread further.

[2022-07-11 03:42] VikasPullagura-MSFT commented on #95499
@Brad-Bueche Any update on this?
Can you please share the document link as requested.

[2022-07-11 03:55] VikasPullagura-MSFT commented on #95563
@maiorano84
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-07-11 03:55] VikasPullagura-MSFT commented on #95563
@asudbring
Can you please check and add your comments on this doc update request as applicable.

[2022-07-11 04:05] Hakuroda opened #95567 "Misleading point in "Use dependency injection in .NET Azure Functions""
In a documentation "https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/azure-functions/functions-dotnet-dependency-injection.md", it seems that this configuration makes users can choose any ideal configuration files using by appsettings.json. I think someone might misunderstand that "context.EnvironmentName" will pad automatically.
I tested my env and I understand the point of document

[2022-07-11 04:19] #94993 closed

[2022-07-11 04:39] pnarsi opened #95568 "Use AKV in private-link for Dedicated Cluster CMK"
In the limitations section it says that:

![image](https://user-images.githubusercontent.com/7891408/178189058-bd82037c-c795-46f6-a80d-fba3e3a7498d.png)

As far as I am aware an Azure Monitor Logs dedicated Cluster is not vNET integrated so it cannot access a AKV private endpoint.

Furthermore Log Analytics is also not listed as a supported Trusted Microsoft Service for AKV https://docs.microsoft.

[2022-07-11 04:52] Nihanthsai opened #95570 "Good"
[Enter feedback here]
Understood the course...Helped a lot.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1b9d373-2140-ead0-e1b2-de63f8e94125
* Version Independent ID: 0bcd0103-042c-0ed8-2c8b-922ee27bff3c
* Content: [Tune Model Hyperparameters - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine-le

[2022-07-11 04:53] Nihanthsai opened #95571 "New"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1426d15-311b-d80b-4756-71a5de7ef268
* Version Independent ID: 2401679f-c8bd-699a-1c17-4e4956598bd7
* Content: [Neural Network Regression: Component Reference - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine-learning/component-

[2022-07-11 05:19] shwetamathur7 commented on #95437
Hi @andy-connective Thanks for your suggestion. All the pages related to troubleshoot provisioning are segregated based on the different scenarios for clear and detailed understanding.  All the links of these pages along with quarantine status are already mentioned in the "Recommended content" to troubleshoot further.

[2022-07-11 05:52] CHEEKATLAPRADEEP-MSFT commented on #95565
@KeeveySongMS  Thanks for the feedback! I have assigned the issue to the content author to evaluate and add the above details.

[2022-07-11 06:22] cs-jakeb commented on #94511
Any update on the page limit?

[2022-07-11 06:29] rockboyfor opened #95572 "Could you please confirm the location and service provider on `China North 3` region?"
Hi guys,

Could you please help to add the location and service provider content for `China North 3` region of  Azure China cloud?
https://docs.microsoft.com/en-gb/azure/expressroute/expressroute-locations-providers#azure-regions-and-geopolitical-boundaries-for-national-clouds
![image](https://user-images.githubusercontent.com/4704301/178198060-00f0b8e4-6172-4558-ac5d-1bf9804ac876.png)

We notice

[2022-07-11 07:20] codyatmicrosoft opened #95573 "Typo in API Version"
Docs mention `2021-05-01-preview` but I think this should be `2022-05-01-preview`, e.g. when creating template with the following:
[code]
I get this error:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07fc8414-3bff-03f8-fdca-f040eed71389
* Version Independent ID: 8196bd5d-b265-fd62-59c4-2a97b34ebf69
* Content:

[2022-07-11 07:28] RohitMungi-MSFT commented on #95316
@pamelafox `Ocp-Apim-Subscription-Region` header is required if you use a multi service cognitive resoruce or a regional translation service. If the translation service is global this header is optional since the default value is global. This is documented in the reference [doc ](https://docs.microsoft.com/en-us/azure/cognitive-services/translator/reference/v3-0-reference#authentication)for transl

[2022-07-11 07:30] RolandlinAKS opened #95574 "It is failed to create application gateway according to the command in the document"
[Enter feedback here]
We are required to create a new application gateway before we enable the AGIC addon.
https://docs.microsoft.com/en-us/azure/application-gateway/tutorial-ingress-controller-add-on-existing?toc=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Faks%2Ftoc.json&bc=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fbread%2Ftoc.json#deploy-a-new-application-gateway
In this part, wh

[2022-07-11 07:41] GitaraniSharma-MSFT commented on #95572
@rockboyfor , thank you for your feedback. We'll review this and get back to you shortly!

[2022-07-11 07:44] meenaTrex opened #95575 "To remove access of re-enabling cancelled subscriptions by subscription owners"
# Problem Statement

Once any subscription goes into disabled state upon cancellation, as per our organization hierarchy setup, we would programmatically move that subscription to decommissioned Management Group where subscription owner won't have access to enable it again. Only a dedicated team at root management Group level with owner rights can do so.

# Possible ways figured out
1. If there co

[2022-07-11 07:47] mhux2000 commented on #62804
I was also running into this issue on a Premium plan that is. It's a type error so my easy dirty fix was to remove the type definition altogether. Works like a charm.

[code]

[2022-07-11 07:55] romankiss opened #95576 "Mapping telemetry data from device component to the modeled _mappeddata."
Hi,

The [document ](https://docs.microsoft.com/en-us/azure/iot-central/core/howto-map-data)states the following:

`For devices assigned to a device template, you can't map data for components or inherited interfaces. However, you can map any data from your device before you assign it to a device template.`

Can be document described more details how we can mapped an unmodeled telemetry data from

[2022-07-11 07:57] #95573 closed

[2022-07-11 08:36] ShaikMaheer-MSFT commented on #95235
@fsteph Looks strange. If you see the popup it should allow you to submit. Are you seeing any error also there? Kindly check is pop blocker creating issue? Kindly share screenshot of same to better idea.

Please, we can use feedback button at top right corner as well to submit feedback.
![image](https://user-images.githubusercontent.com/84302758/178223089-954b3101-42dd-4df1-bc00-d62faa6e03e7.png)

[2022-07-11 08:37] Loule-Corro commented on #94855
hi, any news on deployment?

[2022-07-11 08:37] silmaril42 opened #95578 "Missing comma in SQL code for "Identify long running transactions""
Example SQL under "Identify long running transactions" is missing a comma, so the content of `database_transaction_begin_time` is shown with the name `transaction_state`, while the intention was probably to show both values separately.

Instead of
[code]

you should write
[code]
if I don't misunderstand this query completely ;-)

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2022-07-11 08:40] ShaikMaheer-MSFT commented on #95308
@filippopovic looks like column names in parquet is differing with example and resulting this error. Could you please validate and update doc as appropriate? Thank you.

[2022-07-11 08:43] ShaikMaheer-MSFT commented on #95315
@vvasic-msft Could you please validate the feedback of adding creating master key step in to documentation and update doc as appropriate? Thank you

[2022-07-11 09:10] ezYakaEagle442 opened #95580 "Reference to Azul JDK should be updated by MS Build of OpenJDK"
at [https://docs.microsoft.com/en-us/azure/spring-cloud/faq?pivots=programming-language-java#who-built-these-java-runtimes](https://docs.microsoft.com/en-us/azure/spring-cloud/faq?pivots=programming-language-java#who-built-these-java-runtimes)
 it refers to Azul :

 _Azul Systems. The Azul Zulu for Azure - Enterprise Edition JDK builds are a no-cost, multi-platform, production-ready distribution o

[2022-07-11 09:10] RolandlinAKS commented on #95574
In addition, in the same document.
https://docs.microsoft.com/en-us/azure/application-gateway/tutorial-ingress-controller-add-on-existing?toc=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Faks%2Ftoc.json&bc=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fbread%2Ftoc.json#peer-the-two-virtual-networks-together
The Vnet peering seems to be done automatically. Please confirm this.

[2022-07-11 09:13] wedoazure opened #95581 "Structured Logs Enablement"
Hi, for this section:

With this new feature, you'll be able to choose to use [Resource Specific Tables](https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/resource-logs#resource-specific) instead of the existing [AzureDiagnostics](https://docs.microsoft.com/en-us/azure/azure-monitor/reference/tables/azurediagnostics) table. In case both sets of logs are required, at least two diagnos

[2022-07-11 09:14] AnuragSingh-MSFT commented on #95002
@ethanhou-MSFT, @ioeifcss, we will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-07-11 09:14] #95002 closed

[2022-07-11 09:48] AnuragSharma-MSFT commented on #95578
@silmaril42 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-07-11 09:56] GitaraniSharma-MSFT commented on #95581
@wedoazure , thank you for your feedback. We have assigned this to the content owner/author for review.

@vhorne , could you please validate this with the PG and provide some insights?

[2022-07-11 10:07] AnuragSingh-MSFT commented on #95562
@jun110, thank you for bringing it to our attention. I am assigning this issue to our content team for review.

@bwren, can you please review this issue and share your thoughts. Thank you

[2022-07-11 10:20] AnuragSingh-MSFT commented on #94819
@andyjballgit, Apologies for the delayed response. I have reached out to our team to get additional information and will update this thread soon.

[2022-07-11 10:26] devhpes commented on #47048
Hi All,

Any way to connect private endpoint with delegated subnet, I am using ARM template for the same. Any work around for it.

[2022-07-11 10:41] #95353 closed

[2022-07-11 10:47] ezYakaEagle442 commented on #95119
also at [https://docs.microsoft.com/en-us/azure/container-apps/compare-options](https://docs.microsoft.com/en-us/azure/container-apps/compare-options)

_[Azure Spring Apps](https://docs.microsoft.com/en-us/azure/spring-cloud/overview) makes it easy to deploy Spring Boot microservice applications to Azure without any code changes. The service manages the infrastructure of Spring Cloud applications

[2022-07-11 10:57] ezYakaEagle442 opened #95583 "Add a Java section in the FAQ"
Please add a Add a Java section in the FAQ including those links :

- [Java Runtime support](https://docs.microsoft.com/en-us/azure/developer/java/fundamentals/java-support-on-azure)
- [Monitoring](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-in-process-agent) see also [#290](https://github.com/microsoft/azure-container-apps/issues/290)
- [Containerize your Java applications](http

[2022-07-11 11:22] olivermt opened #95584 "Documentation is very unclear on unsetting/setting single secrets"
There is essentially no way to know if using `--secrets` requires you to include all existing secrets when setting a new secret.
This is expressly documented for env vars and seems like a strange oversight.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 735a0e03-0632-feb7-8787-e62118809072
* Version Independent ID: 938

[2022-07-11 11:50] AnuragSingh-MSFT commented on #95366
@adi-garg, thank you for the suggestion. These scripts are provided as examples (not the **About** section of the repo) and can be used as base to create your own custom scripts to be used as post/prescripts for Azure Automation Update Management.

In either case (managed identity or credentials), the identity/credential used will have to have permissions allotted to it to ensure that it can acces

[2022-07-11 11:50] JohnD76 opened #95586 "Clarification on sentence and what the product does."
[Enter feedback here]
Can we have some clarity on what the following means please:

"Cost allocation doesn't affect your billing invoice. Billing responsibilities aren't changed. The primary purpose of cost allocation is to help you charge back costs to others. All chargeback processes happen in your organization outside of Azure. Cost allocation helps you charge back costs by showing them as they

[2022-07-11 12:00] #95231 closed

[2022-07-11 12:06] Givary commented on #95271
@Koning53 Reviewed your ask, here we are using custom policy, customizing the email verification process with MailJet template, tittle stands correct, no modification is needed.

Let me know if you have any further questions.

[2022-07-11 12:06] #95271 closed

[2022-07-11 12:26] Givary commented on #95421
@tommyallieri Unable to understand your ask, Please explain me in detail what exactly you are looking here.

[2022-07-11 12:41] ShaikMaheer-MSFT commented on #95567
@Hakuroda Thanks for sharing feedback. We are actively validating it. We will share updates soon.

[2022-07-11 12:43] ShaikMaheer-MSFT commented on #95568
@pnarsi Thanks for sharing feedback. We are actively validating it. We will share updates soon.

[2022-07-11 12:54] FuyukiSakura opened #95588 "Sample for `MultiLingualTranslation` uses the wrong Speech Config"
[code]

The config used in the document should be `SpeechTranslationConfig` instead of `SpeechConfig` as the latter does not expose `AddTargetLanguage`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 749ce598-a45b-328b-9fe8-cbd150e4d1c3
* Version Independent ID: 19428cf8-7164-7c7e-c0f5-bdfe104e2058
* Content: [How to t

[2022-07-11 13:21] ericd-mst-github commented on #94855
Hi all,

As of now, here is the complete list of regions that have been deployed with the bug fix as confirmed from engineering:

EastUS2EUAP
EastUSSTG
northeurope
southcentralus
AustraliaCentral
AustraliaCentral2
BrazilSoutheast
CanadaCentral
CanadaEast
CentralIndia
CentralUSEUAP
FranceCentral
FranceSouth
GermanyNorth
GermanyWestCentral
JioIndiaCentral
JioIndiaWest
KoreaCentral
KoreaSouth
NorwayE

[2022-07-11 13:25] KapilAnanth-MSFT commented on #95574
Hi @RolandlinAKS ,

With respect to priority for Rules in App gateway, we are aware of this issue, and this is being tracked on https://github.com/MicrosoftDocs/azure-docs/issues/94424
This issue is assigned to the content owner/author for review.

With respect to the Vnet peering, you should manually create the peering from both the Vnets as documented.
Can you please let us know what exactly are

[2022-07-11 13:26] waszak opened #95589 "Missing information how to setup emulator on Ubuntu Agent CI on Azure Devops"
I notice that you only provided information how to setup CI using Windows Agent.
All I need is  that you provide  how to setup this for Ubuntu Agent.  The issue with Ubuntu Agent is that you need to specify
AZURE_COSMOS_EMULATOR_IP_ADDRESS_OVERRIDE. If you don't do it correctly then SDK will hang. Web will work.

From your [documentation ](https://docs.microsoft.com/en-us/azure/cosmos-db/linux-emu

[2022-07-11 13:30] AjayKumar-MSFT commented on #95282
Apologies for the delay! Kindly ensure that there is no trailing slash on the output location, there has been similar discussions, modifying the output_location line has helped users - see https://github.com/Azure/static-web-apps/issues/73#issuecomment-647030412 .

[2022-07-11 13:35] vmhenard opened #95590 "Misleading diagram on basic logs under "How retention and archiving work""
Hello,

The diagram under the section "How retention and archiving work" is a bit misleading, as it implies Basic logs are available for alerts.
Unless I’m missing something, Basic logs are referenced explicitly as not supporting alerts in other pages (https://docs.microsoft.com/en-us/azure/sentinel/basic-logs-use-cases, https://docs.microsoft.com/en-us/azure/azure-monitor/logs/log-analytics-works

[2022-07-11 13:37] snyms opened #95591 "Step is wrong about the SAML2 Provider"
I have found one minor issue with this guide.

In the step **Configure Snowflake SSO**:
Step 6: In the SAML2_PROVIDER, give the value like AzureAD.

This is also incorrect in the associated screenshot.

----
I have just gone through this setup with Snowflake Professional Services and the value **AzureAD** is not accepted on the Snowflake side, it must be set to **Custom**

---
#### Document Detail

[2022-07-11 13:44] kabharati commented on #90055
#please-close

[2022-07-11 13:44] #90055 closed

[2022-07-11 13:48] MonikaReddy-MSFT commented on #95575
@meenaTrex - Yes please, that would be great. Thank you.

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-07-11 13:48] #95575 closed

[2022-07-11 13:55] RohitMungi-MSFT commented on #95588
[FuyukiSakura](https://github.com/FuyukiSakura) Thanks for spotting this. I have added a PR to get this corrected.
The change should be updated in the document within 24 hours of the PR approval. Thanks!!

[2022-07-11 13:56] seesharprun commented on #95589
#assign:milismsft

@milismsft and @stefarroyo, can either of you answer this question?

[2022-07-11 14:01] jcbrooks92 opened #95592 "Document Azure Government API endpoint"
The azure government API endpoint should be documented. I'm not sure if this is the right page but there should be a reference to the other national clouds endpoints.

Example : consumption.azure.us for Azure Gov

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77db9ac7-6b1c-496b-36a3-24119c897546
* Version Independent I

[2022-07-11 14:17] RyanHill-MSFT commented on #95583
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-07-11 14:32] guywi-ms commented on #94841
@konrad-jamrozik Thanks very much for reaching out with this question!
As you wrote, the `.create-or-alter` function is not supported in cross-service queries.
There are SDKs that you can use to create functions programmatically, including:
- C# SDK: https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.operationalinsights.models.savedsearch?view=azure-dotnet
- Python SDK: https:/

[2022-07-11 14:33] guywi-ms commented on #94841
#please-close

[2022-07-11 14:34] TWolverson opened #95593 "Why can't we set public access to "Disabled" when configuring private storage for Logic Apps Standard?"
Point 5c seems contradictory:

"On the Networking pane, on the Firewalls and virtual networks tab, under Allow access from, clear Selected networks, and add virtual networks as necessary."

What is the point of configuring private endpoints? I want to set this to Disabled, because Private Endpoints should provide connectivity. I don't understand why we need this setting. The tooltip on this page s

[2022-07-11 14:37] mennolaan opened #95594 "System assigned and user assigned are mixed"
It refers to getting the client Id of the system assigned identity. However the script display its retrieves the appId.

az ad sp list --display-name vm-name --query [*].appId --out tsv

I believe it should display how to retrieve the clientId when using user assgined identity and retrieving the appId in case of system assigned identity. That value is used when adding it in the postgress db. The c

[2022-07-11 14:39] cijothomas opened #95595 "Misleading sampling example"
[Enter feedback here]
This section is misleading and incorrect:
https://docs.microsoft.com/en-us/azure/azure-monitor/app/sampling#log-query-accuracy-and-high-sample-rates

The scenario as described is _" For example, 25 different users made a single request to a web application and each of those requests generated 1 Request telemetry record, 1 Dependency telemetry record, 1 Trace Message telemetry

[2022-07-11 14:56] TWolverson commented on #95593
As an aside, the steps as described do not work. My App Service can't access its content share, but won't give me any information as to why.

[2022-07-11 14:56] Givary commented on #95591
@snyms Thank you for your feedback, let me investigate on this with my team and update you.

[2022-07-11 14:59] ddib-ccde opened #95596 "The term default route is overloaded in the documentation"
The term default route is being used in a way that creates confusion in this document. A default route is the least specific route, normally 0.0.0.0/0 for IPv4. A route to for example 10.0.0.0/8 would not be considered a default route as it's not a route that can be used to reach the internet. Azure has routes that are there by default, but that does not mean that they are default routes. Rather t

[2022-07-11 15:02] PRMerger4 commented on #94918
Invalid command: '#assign-reviewer'. This command is only available for PRs.

[2022-07-11 15:09] sandervandevelde commented on #78468
Hello @dominicbetts , thanks for the update. I hope it's not deprecated only to dodge my question :-)

[2022-07-11 15:13] stevendick-swissre opened #95598 "App Insights sample filtering complete lack of documentation on available attributes"
[Enter feedback here]
Since the Java App Insights agent does everything auto-magically, how am I supposed to discover the names of attributes I can use for sample filtering? There is no obvious link to any documentation and the given examples are incredibly limited.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d239d

[2022-07-11 15:17] AaronMaxwell commented on #95324
@mumian Could you check this feedback related to the bicep examples you recently added please?

[2022-07-11 15:21] AaronMaxwell commented on #94865
@cijothomas Do you know if we have any outstanding bugs open that prevent us from removing the 5 second sleep from the sample code?

Task.Delay(5000).Wait();

[2022-07-11 15:27] mumian commented on #95324
@AaronMaxwell - thank you for letting me know.  I will fix it today.

#please-close

[2022-07-11 15:27] #95324 closed

[2022-07-11 15:30] #77743 closed

[2022-07-11 15:33] sforstre opened #95599 "ARM Deployment Fails"
ARM Deployment fails, due to missing Request Routing Prio in azuredeploy.json

--> Please add  in Line 290 [ "priority": 1, ] into ARM File (or contact me how i can support you into fixing this on-the-fly) :)

cheers
Sven

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a50f5f4b-95c9-2378-fe47-5f28354213fa
* Version Inde

[2022-07-11 16:25] GitaraniSharma-MSFT commented on #95432
@Nott6170 , I checked with PG and received a confirmation that the same applies for Azure Front Door Classic.
So, I have created a PR to update the doc for Azure Front Door (Classic) and the changes will reflect soon.

[2022-07-11 16:25] #95432 closed

[2022-07-11 16:46] WilliamDAssafMSFT commented on #95578
Nice catch @silmaril42! You're right, these are two different columns. Will address in an updating doc update already in flight. Thanks again for this feedback, your suggestions help improve our documentation.

#please-close

[2022-07-11 16:46] #95578 closed

[2022-07-11 16:51] SwathiDhanwada-MSFT commented on #95595
@cijothomas Thanks for your feedback.

Assigning to content author @AaronMaxwell  for review.

[2022-07-11 16:52] #85905 closed

[2022-07-11 16:53] stevevi commented on #50828
This is an old issue.  I followed up separately but could not establish a current repro.

[2022-07-11 16:53] stevevi commented on #50828
#please-close

[2022-07-11 16:53] #50828 closed

[2022-07-11 16:57] lauradolan commented on #61846
Thanks for your feedback! We've updated this doc to remove the duplicate image. #please-close

[2022-07-11 16:57] #61846 closed

[2022-07-11 16:57] trask commented on #95554
hey @AaronMaxwell, this is not a component I'm familiar with

[2022-07-11 17:02] lauradolan commented on #63908
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-07-11 17:18] agowdamsft commented on #89660
@ZeroDeltaE I will close this issue for now as we have it documented that 18.04 is support only with AKS. If the issue is with IaaS VM feel free to open a new issue. Iaas VM's do support 18.04 and 20.04. 16.04 is no longer supported.

[2022-07-11 17:19] agowdamsft commented on #89660
@MarileeTurscak-MSFT can you please close this issue.

[2022-07-11 17:22] lauradolan commented on #89660
Thanks for your feedback on the documentation! I'm closing this issue per the response above from @agowdamsft . #please-close

[2022-07-11 17:28] YutongTie-MSFT commented on #95314
Hello @dem108 I don't find any official doc for this part, could you please help?

@sunnyhay
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-07-11 17:30] mbender-ms commented on #88467
Doc has been updated with current portal changes.

#please-close

[2022-07-11 17:30] #88467 closed

[2022-07-11 17:43] thisisanniefang commented on #93957
Hi @Nott6170, thanks for your feedback - we will be adding a note regarding this known issue on IP-based LBs as per your recommendation, hope this helps!

#please-close

[2022-07-11 17:43] #93957 closed

[2022-07-11 18:01] digienigma opened #95605 "In this AppGw doc, Linux backend VM should install NGINX, not IIS"
[Enter feedback here]
https://docs.microsoft.com/en-us/azure/application-gateway/quick-create-cli#create-the-backend-servers

"You also install IIS on the virtual machines to test the application gateway."

is AppGw doc, Linux backend VM should install NGINX, not IIS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b198

[2022-07-11 18:17] ezYakaEagle442 opened #95606 "jdk:8-zulu-alpine reference should be updated with MS Build of OpenJDK"
[code]
should be replaced by:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7bb4890-22e2-2c12-b368-b0aff3001b5c
* Version Independent ID: 772fc69b-5148-2e53-c19e-fc145ec804e1
* Content: [Quickstart - Build and push container images of the Java Spring Boot App to Azure Container Registry - Azure Container Regi

[2022-07-11 18:24] pamelafox commented on #95316
Ah okay, I did see that note about the headers but I didn't grok exactly what a "global" vs "regional" resource was. I realize now that it refers to the region I selected when making the resource, and I now see the blue banner suggesting picking "Global". I think I'm so used to selecting a non-Global region for other Azure services that I didn't see the banner (and didn't know "Global" was even an

[2022-07-11 18:52] WilliamDAssafMSFT commented on #91873
Hi @KeeveySongMS, I can confirm that in Azure Synapse Analytics, the Azure SQL logical server DNS alias is only supported for dedicated SQL Pool (formerly DW). For dedicated SQL pools in Azure Synapse workspaces, the DNS alias is not currently supported. We have a doc update in flight to make this more clear. Thanks for taking the time to create this doc feedback!

#please-close

[2022-07-11 18:52] #91873 closed

[2022-07-11 18:52] kobulloc-MSFT commented on #95606
@ezYakaEagle442 Thank you for bringing this to our attention!  We are reviewing the documentation and will get back to you shortly.

[2022-07-11 18:56] KarlErickson commented on #95606
#assign:karlerickson

[2022-07-11 19:09] dzsquared commented on #93581
#please-close

[2022-07-11 19:09] #93581 closed

[2022-07-11 19:12] mike-urnun-msft commented on #95593
Thank you for your feedback! We will review and update as appropriate.

[2022-07-11 19:12] JimacoMS4 commented on #71797
Hi @Suizi11 -- thanks again for your feedback. Since this is a fairly old issue, As stated previously, a topic was added to address your concerns. At this point, I'm going to close this issue. If, after checking out the new topic, you feel additional content is needed, please open a new issue and reference this one.

Thanks again for taking the time to help us improve our documentation,

Jimaco

#

[2022-07-11 19:12] #71797 closed

[2022-07-11 19:13] laujan commented on #95316
Hi @pamelafox and @RohitMungi-MSFT, I have added a note to the quickstart for clarification. Thank you very much for your feedback!

cc: @YutongTie-MSFT

[2022-07-11 19:15] miked1313 opened #95610 "Incorrect Event Viewer Log Path"
This article says to go to Event Viewer under Applications and Services Logs > Microsoft > AzureMfa > AuthN > AuthZ.  That is an incorrect path.

We found log entries for Troubleshooting steps for common errors under **Applications and Services Logs** > **Microsoft** > **AzureMfa** > **AuthZ** > **AuthZOptCh**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2022-07-11 19:16] whhender commented on #93129
@F-Zainab - Thanks again for your patience. I've added this limitation to the documentation! You should see it in the public documentation later this afternoon.

[2022-07-11 19:16] whhender commented on #93129
#please-close

[2022-07-11 19:16] #93129 closed

[2022-07-11 19:34] mmacy commented on #95025
#label:"usability-accuracy"
#label:"doc-bug"

FYI @JamesTran-MSFT

[2022-07-11 19:35] YutongTie-MSFT commented on #95316
@laujan Are we good to close it ?

[2022-07-11 19:44] #95515 closed

[2022-07-11 19:44] shayoniseth commented on #95325
The omission was deliberate, dependency agent will not be replaced. It will simply migrate to use AMA as the underlying agent to upload the collected map information (already available in private preview today on AMA, as part of VM Insights)

[2022-07-11 19:45] SaurabhSharma-MSFT commented on #95286
@mattetti We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-07-11 19:45] #95286 closed

[2022-07-11 19:59] mbender-ms commented on #90273
This issue relates to a number of other issues. Assigning to that author.
#reassign: @mohnader

[2022-07-11 20:16] KarlErickson commented on #95606
@selvasingh if you approve, I can make the update. Thanks!
CC @bmitchell287

[2022-07-11 20:21] camaier opened #95613 "Documentation out of Date"
The chart with the supported VM sizes is out of date. As per this newer document for the VM size, https://docs.microsoft.com/en-us/azure/virtual-machines/nva10v5-series, the NVadsA10 v5-series does support Ultra disk, and the older Ultra Disk document, the one I'm leaving feedback on here, does not show this series in the chart.

Please update the supoorted VM sizes.

---
#### Document Details

⚠

[2022-07-11 20:27] bandersmsft commented on #95586
@JohnD76 Hi there. Cost allocation provides a report to say you need to cross charge Mike in accounts, $40 this month and leave it up to the internal finance cross charge processes that you don't have.

Many organizations do internal cross charging, which is the primary purpose of cost allocation -- to facilitate chargeback. If you have no internal chargeback process, cost allocation won't have mu

[2022-07-11 20:27] #95586 closed

[2022-07-11 20:30] laujan commented on #95316
Yes, #please-close.

[2022-07-11 20:30] #95316 closed

[2022-07-11 20:32] bandersmsft commented on #95592
Hi @jcbrooks92 I'm verifying your input with the Cost Management engineering team. I'll reply here when I have details to share.

[2022-07-11 20:33] camaier opened #95614 "Documentation is Out of Date"
The chart with the supported VM sizes is out of date. As per this newer document for the VM size, https://docs.microsoft.com/en-us/azure/virtual-machines/nva10v5-series, the NVadsA10 v5-series does support Ultra disk, and the older Ultra Disk document, the one I'm leaving feedback on here, does not show this series in the chart. I also reported this for the https://docs.microsoft.com/en-us/azure/v

[2022-07-11 20:45] JonathonFS commented on #39808
@JonesMikael is right about the language being confusing. The article states "_If your devices have FIPS-compliant TPM 1.2, you must disable them before proceeding with hybrid Azure AD join._" This tells me you can Hybrid Azure AD join a TPM 1.2 device, as long as you disable the TPM chip. This implies software-based _is_ an option. But that seems to contradict what @neeleshray-msft said.

[2022-07-11 20:47] jqamer opened #95615 "Error on read using basic authentication"
java.sql.SQLException: com.microsoft.sqlserver.jdbc.SQLServerException: Type with name 'SQLAnalyticsConnectorFileFormateb601fa164d147e782fd41101b75387a' already exists.
  at com.microsoft.spark.sqlanalytics.utils.SQLAnalyticsJDBCWrapper.executeUpdateStatement(SQLAnalyticsJDBCWrapper.scala:206)

  at com.microsoft.spark.sqlanalytics.ItemsScanBuilder$PlanInputPartitionsUtilities$.createCETASResource

[2022-07-11 20:55] nagasandeepMSFT opened #95616 "This document regarding Debian 11 upgrade is making customers confusion."
[Enter feedback here]

Based on the statement: "On June 30th 2022 Debian 9 (also known as "Stretch") will reach End-of-Life (EOL) status, which means security patches and updates will cease."
Customers think that their applications are not going to receive security patches. They are worried about this statement. The document does not **clearly** mention specific plans for PHP 7.4 with ANT 98.X app

[2022-07-11 20:55] #95427 closed

[2022-07-11 21:04] MonikaReddy-MSFT commented on #95590
@vmhenard - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-07-11 21:05] MonikaReddy-MSFT commented on #95598
@stevendick-swissre  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-07-11 21:06] ChaitanyaNaykodi-MSFT commented on #95599
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-07-11 21:08] ChaitanyaNaykodi-MSFT commented on #95605
Thank you for your feedback! We will review and update as appropriate.

[2022-07-11 21:17] alumriel commented on #95481
Thanks!
@curtand feel free to reach out to me for any clarification if needed.
We are trying to find a way to use a powershell script to activate our PIM "azure resources" roles, but I have no idea how to do that and there is no documentation I can find for how to accomplish this.
Our PIM activation only lasts 8 hours, so speeding up this process would be useful to my entire company.

[2022-07-11 21:35] gabesmsft opened #95617 "Private endpoint DNS zone name is different from what is shown in screenshot"
The screenshot shown at the end of step 4 in [Create a private endpoint](https://docs.microsoft.com/azure/static-web-apps/private-endpoint#create-a-private-endpoint) shows privatelink.azurestaticapps.net as the private endpoint DNS zone, whereas creating a private endpoint on Static Web App now creates the DNS zone as privatelink.**1.**azurestaticapps.net.

Could we get the screenshot updated to s

[2022-07-11 21:40] cynthn commented on #82870
#reassign @mattmcinnes

[2022-07-11 21:44] neerajrai1 opened #95618 "Need to update on value for spark.datasource.hive.warehouse.load.staging.dir"
[Enter feedback here]
Under this part :
https://docs.microsoft.com/en-us/azure/hdinsight/interactive-query/apache-hive-warehouse-connector#configure-spark-cluster-settings

Step 3 👍
spark.datasource.hive.warehouse.load.staging.dir
Current Value 👍
wasbs://STORAGE_CONTAINER_NAME@STORAGE_ACCOUNT_NAME.blob.core.windows.net/tmp.
Set to a suitable HDFS-compatible staging directory. If you have two diffe

[2022-07-11 22:26] ChaitanyaNaykodi-MSFT commented on #95471
Thank you @MarioAtTrimble for the feedback. This feedback is already open and assigned to author for update in GitHub issue # https://github.com/MicrosoftDocs/azure-docs/issues/94424. It will be updated soon.

We are closing this issue as duplicate for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2022-07-11 22:26] #95471 closed

[2022-07-11 22:41] ChaitanyaNaykodi-MSFT commented on #95460
Hello @sunnyhay,
I think you need to add the host name in this format `pbi-endpoint.eastus2.inference.ml.azure.com` remove the https and the path `/score` as [these are](https://docs.microsoft.com/en-us/azure/application-gateway/multiple-site-overview#allowed-characters-in-the-host-names-field) the only allowed characters in the host names field. You can add a p[ath based routing rule](https://doc

[2022-07-11 22:41] #95460 closed

[2022-07-11 23:07] prachikapoor3009 opened #95619 "How do I link Automation account in eastus in one resource group to workspace in eastus2 in other resource group of same subscription"
How do I link Automation account in eastus in one resource group to workspace in eastus2 in other resource group of same subscription
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8f86bd0-7555-9be2-1015-76e3ab88062f
* Version Independent ID: 1d310402-fadf-d602-048a-b2e16bd86a7e
* Content: [Supported regions for linked

[2022-07-11 23:15] #95605 closed

[2022-07-11 23:16] ChaitanyaNaykodi-MSFT commented on #95605
Hello @digienigma, we have made the suggested changes in the doc, you will able to see the changes in next 24 hours. Please let us know if you have any further concerns.

[2022-07-11 23:32] Surachai-kent opened #95621 "Zen"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efcccbd1-9103-6af1-e40f-a169f499a870
* Version Independent ID: 7cd5ceeb-f6d4-c165-f33f-ea59483f88bb
* Content: [Command-line and PowerShell reference for Azure Cosmos DB Emulator](https://docs.microsoft.com/en-us/azure/cosmos-db/emulator-command-line-

[2022-07-11 23:33] tlaur opened #95622 "Confusing storage auto-grow example for MySQL Flexible Server"
The "Storage auto-grow" section of the MySQL Flexible Server documentation gives an example of automatically growing provisioned storage from 10 GB to 15 GB of storage if less than 1 GB is available and auto-grow is enabled. However, is 20 GB not the minimum possible amount of storage as stated earlier in the documentation? If so, then may I suggest changing the numbers in the example to reflect a

[2022-07-11 23:36] ChaitanyaNaykodi-MSFT commented on #94496
Hello @tdevopsottawa, apologies for the delayed response here.

To connect to Microsoft cloud services using ExpressRoute, you’ll need to set up and manage routing. Some connectivity providers offer setting up and managing routing as a managed service. Check with your connectivity provider to see if they offer this service. If they don't, you must adhere to the requirements [as stated here](https:

[2022-07-11 23:36] #94496 closed

[2022-07-11 23:37] pnarsi commented on #95325
Thanks for the clarification @shayoniseth

[2022-07-11 23:37] #95325 closed

[2022-07-11 23:39] adbadram commented on #93400
Ack.. give us sometime to comeback on this

[2022-07-11 23:51] digienigma commented on #95605
Hello,

Thank you for your help.  Just checked after refresh, it still the same:

“A backend can have NICs, virtual machine scale sets, public IP addresses, internal IP addresses, fully qualified domain names (FQDN), and multi-tenant back-ends like Azure App Service. In this example, you create two virtual machines to use as backend servers for the application gateway. You also install IIS on the

[2022-07-11 23:55] ChaitanyaNaykodi-MSFT commented on #95605
Hello @digienigma, the change should be visible in next 24 hours.

[2022-07-12 00:05] JonathanPitre opened #95625 "Where's the download link for Windows 10, version 21H2 6C Local Experience Packs ?"
Where's the download link for Windows 10, version 21H2 6C Local Experience Packs ?

According to this article, Local Experience Packs 6C should be applied to the June update but the link is nowhere to be found ?

https://docs.microsoft.com/en-us/windows-hardware/manufacture/desktop/language-packs-known-issue?view=windows-10

Please update the article accordingly.

---
#### Document Details

⚠ *Do

[2022-07-12 00:10] Karishma-Tiwari-MSFT commented on #95504
Looks like you have closed the issue.
If there are further questions regarding this matter, please share the details and tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-07-12 00:17] Karishma-Tiwari-MSFT commented on #95625
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-07-12 00:17] ChaitanyaNaykodi-MSFT commented on #94492
Hello @brianrutter, apologies for the delayed response here. For Classic AFD sku the logs are under `FrontdoorWebApplicationFirewallLog` and from Premium/Standard AFD SKU the logs are under `FrontDoorWebApplicationFirewallLog`. I have made a PR to update the documentation with the information above and it is currently under doc author's review. We will now proceed to close this issue out. Please t

[2022-07-12 00:17] #94492 closed

[2022-07-12 00:37] Oury-MSFT commented on #95621
@Surachai-kent could you please clarify what the issue is about?

[2022-07-12 00:38] tamram commented on #95514
#reassign: @tamram

[2022-07-12 00:39] Oury-MSFT commented on #95622
@tlaur Thank you for your feedback. We are reviewing this and will get back shortly.

[2022-07-12 00:41] tamram commented on #95514
@AnvaySingh - The documentation describes how to use a lifecycle management policy to delete a blob based on its age (IOW, the number of days after it was created). You need to use the _daysAfterCreationGreaterThan_ action run condition.

You can see an example that uses that condition here:

https://docs.microsoft.com/azure/storage/blobs/lifecycle-management-overview#manage-previous-versions

#pl

[2022-07-12 00:41] #95514 closed

[2022-07-12 00:43] LivefromRaleighwood opened #95627 "Missing listed screenshots - articles/active-directory/authentication/concept-certificate-based-authentication.md"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-07-12 00:44] LivefromRaleighwood commented on #95627
articles/active-directory/authentication/concept-certificate-based-authentication.md - There are two screen shots listed...and are bad links. Please fix. Thanks.

[2022-07-12 01:04] WilliamDAssafMSFT commented on #95497
Thanks @GeoGerrit for taking the time to provide this feedback, your suggestions help improve our documentation. Some additional linkage on these pages would help. A doc update is in flight and should be published soon.

#please-close

[2022-07-12 01:04] #95497 closed

[2022-07-12 02:47] ju-shim commented on #71137
VMSS encryption is supported with API version 2017-03-30 onwards.

If you are using templates to enable VMSS encryption, please update API version for VMSS / ADE extension inside the template.

Here is a sample template https://github.com/Azure/azure-quickstart-templates/blob/master/201-encrypt-running-vmss-windows/azuredeploy.json

---------- Notes: -------------

Earlier today we had released a

[2022-07-12 02:47] #71137 closed

[2022-07-12 02:52] CHEEKATLAPRADEEP-MSFT commented on #95615
@jqamer  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2022-07-12 02:54] CHEEKATLAPRADEEP-MSFT commented on #95618
@neerajrai1  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-07-12 03:42] GeethaThatipatri-MSFT commented on #95126
@eyankzz We will proceed to close this issue now. If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2022-07-12 03:42] #95126 closed

[2022-07-12 03:43] GeethaThatipatri-MSFT commented on #95127
@eyankzz We will proceed to close this issue now.If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2022-07-12 03:43] #95127 closed

[2022-07-12 03:54] ShaikMaheer-MSFT commented on #95613
@camaier Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-07-12 03:57] SumanthMarigowda commented on #95614
@camaier Thanks for the question! We are investigating and will update you shortly.

[2022-07-12 04:07] mike-urnun-msft commented on #95367
Hello @mszy-tribal - Depending on the specific trigger you may need the retry feature on, the exact alternatives for each trigger scenario may vary. For more on how to configure such alternatives, please post on the [MS Q&A channel](https://docs.microsoft.com/en-us/answers/index.html) instead and we'd be happy to assist you there.

As far as the particular retry policy feature built in the host ru

[2022-07-12 04:09] mike-urnun-msft commented on #95141
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-07-12 04:09] #95141 closed

[2022-07-12 04:17] iljoong opened #95629 "'objectId' should replace with 'id'"
[Enter feedback here]

For Linux apps, it needs to run following command to get objectid of app registration but it returns nothing with `--query objectId`. You should use 'id' instead of 'objectId'.

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28fe407c-980d-6dfc-305c-63202534bf48
* Version Independent ID: 09b

[2022-07-12 04:31] KrishnaG-MSFT commented on #95479
@markmassad We have verified and updated as required. The update will go live in some time. Thanks again!

[2022-07-12 04:31] #95479 closed

[2022-07-12 04:35] Venkateshdodda-MSFT commented on #95617
@gabesmsft Thank you for your feedback! We will review and update as appropriate.

[2022-07-12 05:04] mike-urnun-msft commented on #95379
Hello @osman-top - I'm following up before I close this issue. Batched messages are available in an array or collection so you can iterate through them to gain access to each message. Per Service Bus doc on Batching, we also note the following:

Feel free to open a new post on the MS Q&A channel as suggested in my previous comment and provide more info as to why you think that you'd be forced into

[2022-07-12 05:04] #95379 closed

[2022-07-12 05:15] AjayKumar-MSFT commented on #95616
@nagasandeepMSFT, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-07-12 05:15] AjayKumar-MSFT commented on #95629
@iljoong, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-07-12 05:16] Venkateshdodda-MSFT commented on #95617
@burkeholland As @gabesmsft pointed out in #step-4  `Add Private Endpoint ` looks like the newly creating private endpoint DNS zone is in this format 'privatelink.1.azurestaticapps.net' and the current screenshot in the document need to be updated with the below.

I have tested this sharing the screenshot for your reference:

![image](https://user-images.githubusercontent.com/103091186/178413796-e

[2022-07-12 05:16] AjayKumar-MSFT commented on #95282
binaryjam,  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion. Thanks!

[2022-07-12 05:16] #95282 closed

[2022-07-12 05:24] SwathiDhanwada-MSFT commented on #95619
@prachikapoor3009 Thanks for your question. In Azure Automation, you can enable the Update Management, Change Tracking and Inventory, and Start/Stop VMs during off-hours features for your servers and virtual machines. These features have a dependency on a Log Analytics workspace, and therefore require linking the workspace with an Automation account.

When you are trying to enable any of these fea

[2022-07-12 05:30] muxmuse opened #95631 "Outbound IP changes when node pool is scaled"
The following behavior is not intuitive and should be highlighted in the documentation (or fixed?)

1. Create a static IPv4 address and an AKS with managed NAT gateway and auto-scaling.
2. Change the NAT gateway's outbound IP to the static IPv4 address.
3. Increase the minimum number of nodes.
4. Observe that the NAT gateway's outbound IP has changed.

This also happens when the new lower number o

[2022-07-12 05:35] shizn commented on #93742
This issue has been fixed in the CLI. Please upgrade to the latest version and try it again. Thanks!

[2022-07-12 05:35] shizn commented on #93742
#please-close

[2022-07-12 05:35] #93742 closed

[2022-07-12 05:40] SreejaBhattacharya-MSFT commented on #95631
@muxmuse , thanks for the feedback. I'll review this and update the thread.

[2022-07-12 05:42] dominicbetts commented on #78468
@sandervandevelde - I'm sure there were other reasons :)

[2022-07-12 05:44] shizn commented on #93707
This is the default behavior from ARM. We routed this issue to another place. #please-close.

[2022-07-12 05:44] #93707 closed

[2022-07-12 05:55] prachikapoor3009 commented on #95619
Thanks for your reply
But with terraform when I am trying to link the azure resource loganalytics workspace in one resource group
And automation account of other resource group
It does not get linked.
It says parentresource not found
Help with the solution

[2022-07-12 05:56] aurangzeb-sinewave opened #95632 "Correction required in Example code."
Correction in code is required.
Existing:
// Distributed token caches have a L1/L2 mechanism.
// L1 is in memory, and L2 is the distributed cache
// implementation that you will choose below.
// You can configure them to limit the memory of the
// L1 cache, encrypt, and set eviction policies.
services.Configure<MsalDistributedTokenCacheAdapterOptions>(options =>
  {
    // Optional: Disable the L1

[2022-07-12 06:08] #95341 closed

[2022-07-12 06:29] DonKoning commented on #94855
Looks like it's working now!

- Created new VM application version
- Deployed VM Application to VM
- Refresh VM, no failed state
- Login to VM
- Check installed apps

![image](https://user-images.githubusercontent.com/81743089/178423475-3eade5e5-3ac2-426f-9787-3f133faaadd1.png)

[2022-07-12 06:41] thirotane opened #95633 "Changing major version from Azure Poral in Linux Application."
https://docs.microsoft.com/en-us/azure/azure-functions/set-runtime-version?tabs=portal#view-and-update-the-current-runtime-version

In this section, it says that "This section doesn't apply when running your function app [on Linux](https://docs.microsoft.com/en-us/azure/azure-functions/set-runtime-version?tabs=portal#manual-version-updates-on-linux)."
However, it seems that we can also see the run

[2022-07-12 06:50] shivamMg opened #95634 "[Bug in SDK tutorial] Job stuck in Running state for python=3.6.2"
Following [this](https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-1st-experiment-sdk-train) tutorial, after "Submit the run to Azure Machine Learning" the newly created Job gets stuck in Running state. The std_log.txt file for this Job shows an exception:

[code]

You can find the full std_log.txt at https://gist.github.com/shivamMg/a7cac23cc6e19ddf9251e8ce15fd949c

Instead of usin

[2022-07-12 07:03] m3ngi3 commented on #95427
Thanks for the update @bandersmsft!
Are there any plans on this topic?
How is a Microsoft Partner then to link PVA customer deployments to their Microsoft Partner (MPN) id?

[2022-07-12 07:16] frkim opened #95635 "Wrong command line in sample "Azure Container Apps - vNet - private DNS""
Hello,
There is an error in this demo scripts (private DNS part):

### Bash
[code]

### Powershell
[code]

**the properties "defaultDomain" and "staticIP" are located in "properties" element instead of root level**

Correct command lines

### Bash
[code]

### Powershell
[code]

https://docs.microsoft.com/en-us/azure/container-apps/vnet-custom?tabs=bash&pivots=azure-cli#deploy-with-a-private-dns

-

[2022-07-12 08:02] JananiRamesh-MSFT commented on #95228
@dgdel04 Following up to see if had a chance to retry the operation, please let me know in case of further queries i would be glad to assist you.

[2022-07-12 08:05] #95383 closed

[2022-07-12 08:18] taizawa512 commented on #95167
Hi @jianleishen, @jonburchel,

Do you have any update on this?

[2022-07-12 08:25] ShaikMaheer-MSFT commented on #95453
@lBilali Host name still going to be your oracle host name only. When you choose TNSNAMES.ORA file then select `Oracle service name` as connection type and configure corresponding service name in linked service.

[2022-07-12 08:40] mlamb1966 commented on #94855
confirmed working in UK south.

- Created new VM application version
- deployed VM with Application from ARM template
- verified successful deployment
- verified application installed

[2022-07-12 08:47] enterprisebug opened #95637 "Typo ReadProfileFromCustomertsDatabase > ReadProfileFromCustomersDatabase"
Just a small typo: change from `ReadProfileFromCustomertsDatabase` to `ReadProfileFromCustomersDatabase`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cdf618a-59b9-1924-4672-87e702d4724c
* Version Independent ID: 4f24b2d8-0b9a-2379-4841-5d4397711c32
* Content: [Define a validation technical profile in a custom policy

[2022-07-12 09:17] weyCC81 commented on #91157
We have recieved the following Workaround, but this is not yet tested and confirmend:
`$accountName = "demogilabs.net\MSOL_XXXXXXXX" #[this is the account that will be used by Azure AD Connect Sync to manage objects in the directory, this is an account usually in the form of AAD_number or MSOL_number].
$AdminSDHolder = "CN=AdminSDHolder,CN=System,DC=demogilabs,DC=net"
$cmd = "dsacls.exe '$AdminSDH

[2022-07-12 09:27] Klaas- opened #95642 "Check for != Healthy instead of = [ multiple error codes ]"
Hi,
during configuration only existing health states are shown, not all that exist. So it's easier to use != healthy instead of covering all existing failure types (and maybe excluding future failture codes that do not yet exist).

Greetings
Klaas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f92acc95-43dd-7756-e20e-f

[2022-07-12 09:46] sladkoff opened #95643 "Durable timers currently cannot be scheduled further than 7 days into the future"
According to this [JS doc](https://github.com/Azure/azure-functions-durable-js/blob/dev/src/durableorchestrationcontext.ts#L364-L365) in `azure-functions-durable-js`:

I haven't seen this limitation mentioned in the docs. I think it should be added. It seems that the JS documentation is up-to-date as I wasn't able to schedule a timer further than 7 days in the future in my test.

---
#### Document

[2022-07-12 09:48] SadiqhAhmed-MSFT commented on #95642
@Klaas- Thanks for the feedback. We will review this request with the content owner and update as appropriate.

[2022-07-12 09:56] waszak commented on #95589
I would want to add that this method of obtainig IP works. So I would add sth like this for CI
[code]

[2022-07-12 10:03] bmansheim commented on #95354
Based on feedback from Engineering, I updated the statements to say:

If your machine is in a region in a European geography (such as Europe, France, Germany), its artifacts will be processed in Qualys' European data center. Artifacts for virtual machines located elsewhere are sent to the US data center.

What do you think, @sdaytelefonicatechuk ?

[2022-07-12 10:15] Nagu129106 commented on #24942
not able to create a new nodepool for avilability set node pool, please check below error and sugget the solution how shall i increase node VM sizes(Ram and CPU) as customers increased.

Error : (AgentPoolAPIsNotSupported) AgentPool APIs supported only for clusters with VMSS agent pools.

[2022-07-12 10:44] sdaytelefonicatechuk commented on #95354
Hello @bmansheim thanks for looking at this. At this time I need clear information for my UK customers which data center will be used. So that is my focus.
However it would be ideal to get wider clarity for all nation-specific Azure Regions.
Adding to the confusion, in some documentation the UK is included in the Europe "geography" with the main North and West Europe Azure regions in addition to t

[2022-07-12 10:56] SreejaBhattacharya-MSFT commented on #94542
Hi @Heidilohr , could you please look into this

[2022-07-12 11:05] bmansheim commented on #95354
I can understand the confusion. The only defined list of regions in Europe I found is https://azure.microsoft.com/en-us/global-infrastructure/geographies/#geographies, select "Europe" and select "Show nearby geographies". The geographies shown are the ones that are scanned by Qualys EU, which includes UK.

I can add UK to the "such as" in the statement above to make it more clear for UK customers.

[2022-07-12 11:08] SreejaBhattacharya-MSFT commented on #92071
@mimckitt thanks for sharing the update. I am assigning this issue to you for further updates. Thanks :)

[2022-07-12 11:09] KolbeinFoldoy opened #95644 "Missing closing parenthesis in code example"
Missing closing parenthesis on setup for CreateCheckStatusResponse before the Return method.

Link: https://docs.microsoft.com/nb-no/azure/azure-functions/durable/durable-functions-unit-testing#:~:text=optional%20parameter%0A%20%20%20%20.-,Setup,-(x%20%3D%3E%20x.CreateCheckStatusResponse

---
#### Dokumentinformasjon

⚠ *Ikke rediger denne delen. Den kreves for koblingen docs.microsoft.com ➟ GitHu

[2022-07-12 11:15] MughundhanRaveendran-MSFT commented on #95386
@tspring418 , Have you tried using the Azure cloud shell? the commands are working fine and I am able to deploy ARM template using the CLI commands

[2022-07-12 11:17] HenriHeijltjes opened #95645 "Missing step in documentation about "Apply/associate <business metadata (the template)> to one or multiple <typedefs>?""
[
[Enter feedback here]](https://docs.microsoft.com/en-us/azure/purview/tutorial-atlas-2-2-apis
"Business metadata is a template that contains custom attributes (key values). You can create these attributes globally and then apply them across multiple typedefs."

So when I read this there are 3 steps.
1) Create <business metadata (the template)>.
2) Apply/associate <business metadata (the template

[2022-07-12 11:19] shwetamathur7 commented on #95632
@aurangzeb-sinewave Thanks for your feedback. We will investigate and update the thread.

[2022-07-12 11:20] shwetamathur7 commented on #95637
@enterprisebug Thanks for your feedback. We will investigate and update the thread.

[2022-07-12 11:30] ShaikMaheer-MSFT commented on #95627
@LivefromRaleighwood Thanks for sharing feedback. We are actively validating it. We will share updates soon.

[2022-07-12 11:31] enterprisebug commented on #95637
@shwetamathur7 i created a PR.

[2022-07-12 11:31] #95637 closed

[2022-07-12 12:15] ozanabuse opened #95648 "Oracle supports Classification"
Could you double check and update the docs as classification for Oracle should be supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: acd52f96-bde8-5773-6fd2-cf387ad6fdce
* Version Independent ID: b61b765b-1191-3bc8-5f93-8cb6cf8b85f1
* Content: [Connect to and manage Oracle - Microsoft Purview](https://docs.micro

[2022-07-12 12:23] #95437 closed

[2022-07-12 12:24] sekhemrekhutawysobekhotep opened #95649 "the tutorial page is now largely empty"
Until today link

https://docs.microsoft.com/en-us/azure/app-service/tutorial-custom-container?pivots=container-linux

     used to contain an excellent tutorial on using Azure Container Apps to
      deploy a container image ... now today this page is largely EMPTY

         What happened to its contents ?

         It used to detail steps including below :

[code]

---
#### Document Details

⚠ *

[2022-07-12 12:31] shwetamathur7 commented on #95632
@aurangzeb-sinewave Thanks for your contribution to enhance the document. I have updated the code with syntax errors and changes with be reflected after approval.

[2022-07-12 12:31] #95632 closed

[2022-07-12 12:34] indcoder opened #95651 "Blazor not showed as an option"
In the introduction to [Azure SWA](https://docs.microsoft.com/en-us/azure/static-web-apps/getting-started?tabs=blazor) , we have sample code for 5 options including No framework,  3 Javascript frameworks and Blazor.

<img width="553" alt="image" src="https://user-images.githubusercontent.com/2099300/178488924-c0dc5282-30c4-4b48-9353-1f8dc37bba3e.png">

But in this page [API](https://docs.microsoft

[2022-07-12 12:34] Blackmist commented on #95394
@bstollnitz thanks for reporting this! The file is missing due to a failure in the automated process used to generate the schemas. There is ongoing work to resolve the failure. Once it's resolved, we'll verify that the link is correct and update if needed.

[2022-07-12 12:43] cephalin commented on #95317
this is fixed now. #please-close

[2022-07-12 12:54] mikegoatly opened #95653 "Invalid parameter --credential-description referenced"
The `--credential-description` parameter mentioned in this snippet:

[code]

Should be `--display-name`:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b38cbb3-a70a-4869-2f37-ca2c9ca7e3d8
* Version Independent ID: e4b15b6b-e0fe-fc0e-4981-5b23e3d343ea
* Content: [Register a client application in Azure AD using

[2022-07-12 12:58] AnvaySingh commented on #95514
@tamram Does daysAfterCreationGreaterThan work for base-blobs or the current version of the blob also?

[2022-07-12 13:08] eyankzz opened #95654 "Unable to access ACR"
I am trying to access ACR using az command util to login. Receiving CONNECTIVITY_SSL_ERROR .
Not sure what leads to it as I have set up the ACR per this tutorial command.

[code]

Any help on the same can help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62b41061-33b2-c724-3506-bb81e137ab2d
* Version Independent ID:

[2022-07-12 13:09] ethanhou-MSFT commented on #95002
Hi @AnuragSingh-MSFT ,

Many thanks for the detailed information, it's really helpful. I'll follow it to create a separate DscResource.

[2022-07-12 13:14] sdaytelefonicatechuk commented on #95354
@bmansheim sounds great. Many thanks.

[2022-07-12 13:22] eyankzz commented on #95126
Thanks @shreyaaithal for the update.

Adding for anyone else who lands here. az upgrade command is not available with the previous version (2.0.81) I was on.
I followed this page for upgrading the az tool ' https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli ' using an MSI .

[2022-07-12 13:32] mmitchellcit opened #95655 "Windows Desktop client version, conflicting information on multimedia redirection requirements?"
Is the use of the Insider ring really required? There is conflicting information on this page.

The note at the top of the page states:
"Multimedia redirection requires the Windows Desktop client, version 1.2.2999 or later."

The generally available version is 1.2.3316 (as of 7/11/2022.)

But, under the requirements, it still lists that the ReleaseRing must be set to Insider.

---
#### Document De

[2022-07-12 13:40] BenjiSec opened #95656 "Number of actions and conditions - clarity needed."
Under Incidents limits (https://docs.microsoft.com/en-us/azure/sentinel/sentinel-service-limits#incident-limits) - it is not clear what is meant by Number of actions and Number of conditions. It should be stated that it is for Automation rules, or if it is for something else.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-07-12 13:58] jb185t commented on #95195
If you "Publish" your artifacts from your collaboration branch, they are stored in workspace_publish branch as AnnuKumari-MSFT commented, which is true. But my question was what happens after that.
I figured out that release pipeline containing Synapse Workspace Deployment task fetches the two template files from the workspace_publish branch, manipulates them and deploys them to targeted workspace

[2022-07-12 14:11] thecowmilk opened #95658 "it lacks covering all functions of azure face recognition especially with Python."
[Enter feedback here]

Hello, since I want to test out the Azure API for face recognition and I want to test pictures using `stream` not `with_url`. The problem is that there is only `C#` and python is left out. Please update your docs including Python also. Thanks
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3c39fde

[2022-07-12 14:28] eyankzz commented on #95654
Additional information:

![image](https://user-images.githubusercontent.com/90746355/178513169-a7cf8c37-32c1-4937-b060-31aac0f48a8f.png)

I am able to access the registry URL from browser and doesn't complaint for any SSL connection error.

[2022-07-12 14:34] alurisreedhar1 commented on #92975
@dkamstra - Just checking if you managed to create action group with the template above? I am getting the error below:

##[error]At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/DeployOperations for usage details.
##[error]Details:
##[error]AadWebhookResourceNotOwnedByCaller: AadWebhookResourceNotOwnedByCaller
##[error]Chec

[2022-07-12 14:40] SumanthMarigowda commented on #95416
@randolf720 Apologies for the delay response! Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-07-12 14:41] SumanthMarigowda commented on #95441
@AdelaManea Apologies for the delay response! Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-07-12 14:46] Xplz3d opened #95659 "response.Diagnostics.GetClientElapsedTime() ==> TimeStamp null"
Dear,

It seems that when trying to get the E2E latency when writing to CosmosDB, the timestamp is null:

[code]

<img width="352" alt="image" src="https://user-images.githubusercontent.com/63337188/178518230-14cf2a0e-44f8-4015-b840-050b2e5fe4e2.png">

Is there somthing wrong with the SDK or other thing ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2022-07-12 14:46] Loule-Corro commented on #94855
Seems to be working now, thx!

[2022-07-12 14:47] SumanthMarigowda commented on #95613
@camaier Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-07-12 14:51] shashishailaj commented on #95627
@LivefromRaleighwood I checked this and I think you are trying to read the documentation from GitHub page here. https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/active-directory/authentication/concept-certificate-based-authentication.md

The images are present in the folder https://github.com/MicrosoftDocs/azure-docs/tree/main/articles/active-directory/authentication/media/concept-ce

[2022-07-12 14:51] #95627 closed

[2022-07-12 14:53] SumanthMarigowda commented on #95548
@Abhishek-Dutta Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-07-12 14:54] GeethaThatipatri-MSFT commented on #95654
@eyankzz Thanks for your findings,We will investigate and update as appropriate

[2022-07-12 14:59] YutongTie-MSFT commented on #95658
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-07-12 15:01] L-u-k-e-GIT commented on #94855
confirmed working in Germany West.

[2022-07-12 15:02] YutongTie-MSFT commented on #95394
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2022-07-12 15:04] #91187 closed

[2022-07-12 15:06] whhender commented on #95648
@ozanabuse - Thanks for reaching out! I'll double check and follow up with you!

[2022-07-12 15:14] kengaderdus commented on #95465
@frankdrewes

Thank you for your feedback and patience.  We're collecting all the information required to resolve this issue.

[2022-07-12 15:19] kengaderdus commented on #95036
@danielithomas

We believe the .Net 6 code snippet provided by @yoelhor was helpful. We'll close this issue, and then update the document accordingly.  #please-close

[2022-07-12 15:19] #95036 closed

[2022-07-12 15:38] #95598 closed

[2022-07-12 15:44] roberto-sousa commented on #35923
I'm also waiting on an update for this feature.

[2022-07-12 15:45] GeethaThatipatri-MSFT commented on #95659
Hi @Xplz3d Thanks for your findings, I'm assigning this to the author for the feedback review.

[2022-07-12 15:56] Xplz3d commented on #95659
@GeethaThatipatri-MSFT thanks !

[2022-07-12 15:57] ealsur commented on #95659
This is not a documentation issue, please file an Issue on the SDK repository: https://github.com/Azure/azure-cosmos-dotnet-v3/issues

Make sure you share which SDK version you are using and some way to reproduce the issue.

[2022-07-12 16:04] Ajsalemo opened #95660 "'Configure PHP apps' has wrong casing for checking available PHP runtimes with 'grep' usage via AZ CLI."
[Enter feedback here]
When trying to run the command [here](https://docs.microsoft.com/en-us/azure/app-service/configure-language-php?pivots=platform-windows#show-php-version) - `az webapp list-runtimes --os windows | grep php` - this spits out an empty value. For both local bash and in Cloud Shell (this also being customer reported as well)

This is because `grep` is case sensitive. When running

[2022-07-12 16:05] tobimax opened #95661 "Managed Private Endpoint in Synapse workspace deployment Task"
Hi,

We have a scenario where we do not want to deploy Development MPEs into different (Test/Prod) as they point to different resources. However, we also do not want to leave orphaned objects in the target that are not in the deployment.

The following settings remove the MPEs and the orphaned objects not in the build.
[code]
The following settings deploy the Development MPEs to Test/Prod which is

[2022-07-12 16:17] seesharprun commented on #95659
#please-close

[2022-07-12 16:17] #95659 closed

[2022-07-12 16:19] whhender commented on #95648
@ozanabuse - The Microsoft Purview Data Map does not currently support classification for Oracle. If this is updated in the future, we will also update the documentation!

If you're seeing unexpected behavior from Microsoft Purview, reach out to [support](https://azure.microsoft.com/support/create-ticket/).

Thanks again for reaching out! I'll close this issue for now, but if you have further ques

[2022-07-12 16:19] whhender commented on #95648
#please-close

[2022-07-12 16:19] #95648 closed

[2022-07-12 16:33] mrochon opened #95662 "Missing claim definitions, transformations, journey examples"
This article seems rather incomplete. Claims referenced by the included xml are not defined anywhere, same with claims transformation. an example of a journey definition using these technical profiles would help as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb017dbf-cd54-1283-2a9f-beafcc708ed9
* Version Indep

[2022-07-12 16:37] JamesTran-MSFT commented on #95662
@mrochon
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-07-12 16:42] getk12 opened #95663 "PM/Dev Contact for status.azure.com"
Hello,
I am a PM working on a product where we would like to meet with a PM/Dev contact to discuss having our product listed on the [Azure Status](https://status.azure.com/en-us/status) page.

Please feel free to reach out to me via email or Teams.
MSFT alias "gaking"

Thanks!

Regards,
Gavin
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2022-07-12 16:50] VikasPullagura-MSFT commented on #95655
@mmitchellcit
Thanks for your Question! We are currently investigating and will get back on this.

[2022-07-12 16:54] #84980 closed

[2022-07-12 16:57] JananiRamesh-MSFT commented on #94566
@wkalt Thanks for your patience, this feature is indeed on the backlog, however there is no specific date planned for it yet.
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2022-07-12 16:57] #94566 closed

[2022-07-12 16:59] sunnyhay commented on #95314
Thank you for the response. I'm looking forward to either building an online endpoint under which several deployments are put in different regions for failover consideration, or building several online endpoints deployed in different regions and routed under the same load balancer. Please advise the best practice or solution. For latter case, my user case is to route http requests among two URLs:

[2022-07-12 17:08] #95252 closed

[2022-07-12 17:20] ManasaDevadas opened #95664 "The VM selector tool mentioned in the document is not working as expected"
The VM selector tool mentioned in the document is not working as expected. Unable to update min/max vCPU/memory details.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf1062f1-616d-acc2-abeb-b04e4cad28ad
* Version Independent ID: 44068874-d5de-c2bf-d33b-22b649c7637c
* Content: [VM sizes - Azure Virtual Machines](https

[2022-07-12 17:35] spencerghoul opened #95665 "Make reference to Azure AD Connect more succinct"
In this section of the document:

`If you're not sure which account is currently in use, open Azure AD Connect and select the View current configuration option. The account that you need to add permissions to is listed under Synchronized Directories. The following permissions and options must be set on the account:`

A portion should be reworded to make it more clear which Azure AD Connect you're

[2022-07-12 17:36] Shruti700 opened #95666 "Couldn't connect to VM via public IP."
I have tried creating public load balancer guided by this page but I am unable to successfully test it. I have tried several times even with same region and made sure each step is in accordance to this page. I am unable to connect to my VMs via public IP.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5508502b-91e9-3cd

[2022-07-12 17:36] bandersmsft commented on #95427
@m3ngi3 Unfortunately the short answer is there isn’t a way today for usage (PAL) with PVA but as soon as the functionality is available we’ll update the article to explain. If you have concerns now, you can open a support ticket. I don’t have any other details that I can add to the article right now.

[2022-07-12 17:41] joshuapetryk commented on #94869
The portal appears to be showing this option correctly now.

[2022-07-12 17:48] cgillum commented on #95643
@davidmrdavid can you speak to this?

[2022-07-12 17:48] cgillum commented on #95643
Adding @hossam-nasr as well.

[2022-07-12 17:51] WilliamDAssafMSFT commented on #80260
Thanks again @superman-lopez for bringing this to our attention. Your concerns about the rotation of the planet were spot-on. :)  This article was refreshed last month.

#please-close

[2022-07-12 17:51] #80260 closed

[2022-07-12 17:55] WilliamDAssafMSFT commented on #95493
#Assign:WilliamDAssafMSFT

[2022-07-12 17:55] PRMerger20 commented on #95493
The following users don't have valid GitHub IDs, or are not collaborators on this repo: #assignwilliamdassafmsft

[2022-07-12 17:56] leshicodes commented on #12741
@tjmcdonough Agreed. Make one mistake? See you in 90 minutes. Absolutely hysterical

[2022-07-12 17:58] matlion opened #95667 "Create a static volume with Azure disks in Azure Kubernetes Service does not suceed"
I'm trying to mount an Azure Disk in my aks according to the docs https://docs.microsoft.com/en-us/azure/aks/azure-disk-volume but this just results in an error.
These are the events of the pod mypod:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74be7378-92bc-0e59-0b70-c6b10e80d9b6
* Version Independent ID: f

[2022-07-12 18:00] JamesTran-MSFT commented on #95665
@spencerghoul
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-12 18:01] cynthn commented on #94007
This is an engineering issue, the target of the link will be updated once engineering makes the changes. This isn't a doc issue, it is an engineering issue. It should probably be assigned to the engineering contact?

[2022-07-12 18:08] lauradolan commented on #95664
@kobulloc-msft This appears to be product feedback, not docs feedback. Will you please triage/label as such? Thanks!

[2022-07-12 18:09] JamesTran-MSFT commented on #95458
@ikiris04
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-07-12 18:09] #95458 closed

[2022-07-12 18:12] #95610 closed

[2022-07-12 18:14] enkrumah commented on #94869
@joshuapetryk  Great to hear! let us know if you run into any issues.

[2022-07-12 18:15] enkrumah commented on #94869
#please-close

[2022-07-12 18:17] DeanGross opened #95668 "Prerequisites"
What are the prerequisites to view this data? What role is required to see this page? Please add this informatioin

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 205a71e2-6890-1604-62a1-25acf4bcba8e
* Version Independent ID: 384b9d7e-c3fc-5ba2-b0c7-5cbd56787fc3
* Content: [Manage users and groups with the User manageme

[2022-07-12 18:18] mariandumitru opened #95669 "Azure"
[Introduceți feedbackul dvs. aici]

---
#### Detalii document

⚠ *Nu editați această secțiune. Este necesară pentru asocierea prin link a problemelor între docs.microsoft.com și GitHub.*

* ID: 814b92ed-f712-53c8-644b-d3be513a4d06
* Version Independent ID: 79d8998f-1b47-40ec-e975-8eeda383b0cf
* Content: [Quickstart - Create a Linux VM in the Azure portal - Azure Virtual Machines](https://docs.micr

[2022-07-12 18:18] JamesTran-MSFT commented on #95665
@spencerghoul

[2022-07-12 18:19] #95665 closed

[2022-07-12 18:20] VanMSFT commented on #95509
@amthomas46 - Hi Anna, thanks for the feedback! In this case, "built-in" and "fixed" are interchanged, and mean the same thing. I can see the confusion, so I'll make the changes to reflect "fixed" to clarify. Thanks for catching the error!

FYI - @AndreasWolter in case you want to comment.

[2022-07-12 18:39] VanMSFT commented on #95484
Hey @David-Engel - Can you help with confirming if the ODBC driver for Mac supports MFA? Monterey appears to be supported in the drivers list.

https://docs.microsoft.com/en-us/sql/connect/odbc/linux-mac/system-requirements?view=sql-server-ver16

[2022-07-12 18:44] #95509 closed

[2022-07-12 18:45] mike-urnun-msft commented on #95633
Thank you for your feedback! We will review and update as appropriate.

[2022-07-12 18:48] mike-urnun-msft commented on #95644
Thank you for your feedback! We will review and update as appropriate.

[2022-07-12 18:48] DeanGross opened #95671 "Vague instructions"
I don't understand what the phrase means "like members of this group to Request on."  Could you please reword the instructions. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cb5cb9c-4503-3bc6-2f87-18308a5fecb3
* Version Independent ID: b91f1a1f-c978-9193-21fb-1cff734cccb8
* Content: [Select group-based permiss

[2022-07-12 18:48] Kendubu1 opened #95672 "zone pivots missing from configure-custom-container page"
[Enter feedback here]
Linux & Windows zone pivots include specific steps for either OS but neither seem to be visible on the site though included in the document.

I would expect the container-linux or container-windows options for the document but they are not present.
![image](https://user-images.githubusercontent.com/9121941/178570523-1fa06d7c-282d-4d05-a39f-89eaeb4a386c.png)

---
#### Document

[2022-07-12 18:50] Kendubu1 commented on #95672
Last Seen June 6th from via Wayback.
https://web.archive.org/web/20220706210216/https://docs.microsoft.com/en-us/azure/app-service/configure-custom-container?pivots=container-linux

![image](https://user-images.githubusercontent.com/9121941/178571643-682b0d85-c92e-4c09-9733-e21ce1759bc5.png)

[2022-07-12 19:02] diberry opened #95673 "Linux app - configure versioning"
The Note "For Linux apps, ..." includes an azure CLI command that doesn't work. There is not property named objectId in the result. However, if I look at the app registration on the portal, I do see an Object ID, and when I find the same number in the az cli command's results, it is named _id_.

I"ll submit a PR with this change if you know _id_ is the correct property name.

---
#### Document Det

[2022-07-12 19:03] MonikaReddy-MSFT commented on #95635
@frkim  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-07-12 19:08] WilliamDAssafMSFT commented on #95493
#Assign:@WilliamDAssafMSFT

[2022-07-12 19:08] PRMerger20 commented on #95493
The following users don't have valid GitHub IDs, or are not collaborators on this repo: #assignwilliamdassafmsft

[2022-07-12 19:10] WilliamDAssafMSFT commented on #95493
#Assign: @WilliamDAssafMSFT

[2022-07-12 19:10] PRMerger9 commented on #95493
The following users don't have valid GitHub IDs, or are not collaborators on this repo: #assign williamdassafmsft

[2022-07-12 19:12] WilliamDAssafMSFT commented on #95493
#assign:WilliamDAssafMSFT

[2022-07-12 19:25] PatrickFarley commented on #95253
According to the PM, it's now available for Language resources. Please reopen if you still have this issue.
#please-close

[2022-07-12 19:25] #95253 closed

[2022-07-12 19:29] PatrickFarley commented on #95467
We want to give users the most straightforward quickstart possible, while also warning about security features being sacrificed for simplicity.
#please-close

[2022-07-12 19:29] #95467 closed

[2022-07-12 19:31] ElanShudnow opened #95674 "Wrong MaxShares value for Ultra Disk"
The article mentions:
Ultra disk ranges
The minimum maxShares value is 1, while the maximum maxShares value is 5. There are no size restrictions on ultra disks, any size ultra disk can use any value for maxShares, up to and including the maximum value.

However, in the Azure Portal, it is showing maxShares of 15 possible for Ultra Disk.

---
#### Document Details

⚠ *Do not edit this section. It i

[2022-07-12 19:36] Eurosome opened #95675 "Request to EncodingReservedUnitTypes v2 API endpoint failed."
Getting the following message on the Azure CLI after running the rdp command:

`az network bastion rdp --name "My-Bastion" --resource-group "MyRSName>" --target-resource-id "MyVMResourceId"`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa3395d9-6a03-3431-25cc-9e9813bb9059
* Version Independent ID: 90f02c63-2bd0-c8e4-

[2022-07-12 19:41] MashaMSFT commented on #90120
Hi @sch56 , thanks for contacting Microsoft! Since it's been some time since we've heard from you, we're going to assume that your issue has been resolved and close out this Git Issue but please feel free to comment should you need anything further.

Thanks again and hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2022-07-12 19:41] #90120 closed

[2022-07-12 19:45] m365ken commented on #56193
Hello, Is there any update on this issue? I'm unable to use User-Assigned Managed Identity in the App Function. Thanks

[2022-07-12 19:47] markingmyname commented on #90546
#assign: @GennadNY

[2022-07-12 19:47] PRMerger4 commented on #90546
Users gennadny are already assigned.

[2022-07-12 19:48] khdownie commented on #95416
@randolf720 there is no discussion of machine accounts in the article for which you opened this issue:

https://docs.microsoft.com/en-us/azure/storage/files/storage-files-identity-ad-ds-update-password

Are you saying that we should add a note about machine account passwords to this article? The TechCommunity content is maintained by a different team.

[2022-07-12 19:52] erik-ha-msft commented on #93719
Thank you for the feedback. The release tracker is available on the article linked.

[AKS release tracker - Azure Kubernetes Service | Microsoft Docs](https://docs.microsoft.com/en-us/azure/aks/release-tracker)

#please-close

[2022-07-12 19:52] #93719 closed

[2022-07-12 19:52] erik-ha-msft commented on #93569
Thank you for the feedback. The release tracker is available on the article linked.

[AKS release tracker - Azure Kubernetes Service | Microsoft Docs](https://docs.microsoft.com/en-us/azure/aks/release-tracker)

#please-close

[2022-07-12 19:52] #93569 closed

[2022-07-12 20:11] HeidiSteen commented on #95344
Actually, I think I misdiagnosed the issue.  I think the problem is that the value for _Id isn't valid JSON.  If I was using another tool or approach, maybe I could strip the ObjectId() and get just the string value, but as it stands, the _id field won't work as-is.

[2022-07-12 20:12] Wibusts opened #95678 "Groups could not be assigned on Active option"
[Enter feedback here]
On testing we have confirm that other groups could be assigned as eligible. But process provide an error when active assign is test.

Will be useful to clarify this behavior over a quick note.

Error when active option is selected over a group assignment:
![image](https://user-images.githubusercontent.com/62709550/178585939-a1655be1-6509-4446-97d6-3d5187465bff.png)

also, wil

[2022-07-12 20:22] aaelony-aeg commented on #95484
also, the default shell in Monterey is `Zsh` and the following recommended `sqlcmd -?` does not work in `Zsh`.

[code]
However, in `bash` it reveals the version of `sqlcmd` installed:

[code]

Unfortunately, merely switching from Zsh to bash does not change the errors above for `sqlcmd` though.

[2022-07-12 20:35] JamesTran-MSFT commented on #95678
@Wibusts
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-07-12 20:36] kobulloc-MSFT commented on #95669
@mariandumitru Hello!  Did you have feedback regarding creating a Linux VM in the documentation?

[2022-07-12 20:46] dumarkov opened #95679 "Microsoft.Network/privateEndpoints "Out" --> "In""
Microsoft.Network/privateEndpoints
PEBytesIn
The description should be "Total number of Bytes In" (instead of Out)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f496941-f125-1671-5de7-66438e68043f
* Version Independent ID: ce30fce1-45a5-4f00-e0e9-57a00cc07687
* Content: [Azure Monitor supported

[2022-07-12 20:59] JonathanPitre commented on #95625
Without the 6C ISO update the Language Pack is not fully installed.

![image](https://user-images.githubusercontent.com/15003329/178592481-bca51b5f-8b8a-4e0c-ae93-19a013583054.png)
![image](https://user-images.githubusercontent.com/15003329/178592533-a782c6c8-0e12-4a39-811d-1435f8a88fb1.png)

[2022-07-12 21:12] Grace-MacJones-MSFT commented on #95649
Hi @sekhemrekhutawysobekhotep, Thanks for the feedback! I believe the content got moved to a different page. Is this the same content you were referring to https://docs.microsoft.com/en-us/azure/container-apps/get-started-existing-container-image-portal?pivots=container-apps-private-registry

[2022-07-12 21:14] KranthiPakala-MSFT commented on #95661
Thanks for reaching out! We have assigned the issue to the content author to further review this and provide an update as appropriate.

@liudan66 - Could you please review the above requirement from user and share your inputs? - Thank you

[2022-07-12 21:14] ChaitanyaNaykodi-MSFT commented on #95675
Thank you for your feedback! We will review and update as appropriate.

[2022-07-12 21:15] Grace-MacJones-MSFT commented on #95651
Hi @indcoder, thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update this doc  as appropriate

[2022-07-12 21:18] Grace-MacJones-MSFT commented on #95673
Hi @diberry,  Thanks for brining this to our attention. @cephalin can you please confirm if _id_ is the correct property name?

[2022-07-12 21:24] Grace-MacJones-MSFT commented on #95660
Hi @Grace-MacJones-MSFT , Thanks for bringing this to our attention! We will review and update this doc accordingly.

[2022-07-12 21:35] AaronMaxwell commented on #94865
This is being resolved in https://github.com/MicrosoftDocs/azure-docs-pr/pull/204495.

#please-close

[2022-07-12 21:35] #94865 closed

[2022-07-12 21:36] #94575 closed

[2022-07-12 21:37] MashaMSFT commented on #92022
Hi @SJokubauskaite , thanks for contacting Microsoft! You should be able to install the package using [sqlmlutils](https://docs.microsoft.com/sql/machine-learning/package-management/install-additional-r-packages-on-sql-server?view=azuresqldb-mi-current).

If the package is a binary package (precompiled to binary), it's possible to install via sqlmlutils. However, source packages are not supported.

[2022-07-12 21:37] #92022 closed

[2022-07-12 21:39] cwatson-cat commented on #93942
#please-close

[2022-07-12 21:39] #93942 closed

[2022-07-12 21:43] JamesTran-MSFT commented on #95671
@DeanGross
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-07-12 21:47] julia-hofmeister opened #95681 "Cartopy documentation outdated and doesn't work"
Cartopy documentation on databricks installation is outdated and doesn't work. Cartopy now needs updated dependencies and the code on the page won't work with the current version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44c4849f-e257-9989-3c58-450d88e4e63d
* Version Independent ID: 0fdd1b9c-85c2-74db-cad2-3faf59

[2022-07-12 21:52] ju-shim commented on #83225
Hello,

Just to update this thread. Me and the PM team have been working on a new document to address this need. We currently have a draft in place and I am hoping we can get it reviewed and published this month. Thank you for your patience.

Julia (VM/VMSS writer)

[2022-07-12 21:55] shohamMSFT commented on #88418
@beneuto You can use the ALTER DATABASE SET ENCRYPTION ON/OFF to turn TDE on/off for a particular database (both Azure SQL DB and SQL MI).
This is independent of they key management mode, whether you are using service-managed keys (default) or CMK, you can use the above command to turn TDE on/off for your database.

[2022-07-12 21:55] shohamMSFT commented on #88418
#please-close

[2022-07-12 21:55] #88418 closed

[2022-07-12 22:04] ju-shim commented on #85491
We have addressed the password update, that is fixed. Most of the steps work now. We may be rewriting the Linux portion of our FAQ to be clearer, using the internal steps that Jose provided via internal communication. Thank you!

#please-close

[2022-07-12 22:04] #85491 closed

[2022-07-12 22:08] shohamMSFT commented on #94661
@AojieSong Thanks for the feedback! In the same article, we have clearly called out that TDE is enabled by default for all newly created databases (for both SQL DB and SQL MI). So customers don't need to go to each database to enable TDE explicitly, unless the database is very old (created before May 2017). The database when created has TDE enabled by default and only inherits the key management s

[2022-07-12 22:08] shohamMSFT commented on #94661
#please-close

[2022-07-12 22:08] #94661 closed

[2022-07-12 22:18] JamesTran-MSFT commented on #95446
@dbollaer
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-07-12 22:18] hossam-nasr commented on #95643
This restriction was lifted in this PR: https://github.com/Azure/azure-functions-durable-js/pull/340. If you're using v2.x of the Durable SDK, you _can_ schedule timers more than 7 days in advance. We just need to update the comment to reflect that change.

@sladkoff If you have a repro using v2.x of the Durable SDK where you cannot schedule a timer more than 7 days in advance, please file an issu

[2022-07-12 22:18] ju-shim commented on #89791
Hello,

Thank you for reaching out - we are taking a look at the article in question and the lessons learned by the original reporter. I'll hopefully have an update soon to this thread and edits to the article.

@alex-sameli - Although I am still looking into if this info is true, it seems that Ariel found the following, which may be helpful to you:

[code]

Thank you for your patience.

[2022-07-12 22:28] BaillyAlex opened #95684 "Advisor Alert not triggering - Upgrade to the latest version of the Azure Connected Machine agent - Reliability"
Hello,
I created an alert linked to an action group to execute a job on a automation account when I have this recommendation **Upgrade to the latest version of the Azure Connected Machine agent** under **Reliability**.
The recommendation on the advisor have been showing up since 6 hours and my alert are still not been trigger.
Any advice ?
Thank you.

[2022-07-12 22:29] ju-shim commented on #91013
#reassign @ericd-mst-github

Apologies for the delay on addressing this issue. This is now assigned to the right content author and they will be able to address this issue and provide the right doc updates if necessary. Thank you for your patience!

[2022-07-12 22:30] ju-shim commented on #91013
#reassign: @ericd-mst-github

[2022-07-12 22:30] ianrenUipath opened #95685 "what is context.Variables.ContainsKey("latlong=""")?"
[Enter feedback here]

what is context.Variables.ContainsKey("latlong=""")?

why there is "latlong=""" ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cbc2b4a-c544-4962-7418-3254927b0260
* Version Independent ID: 3958adc9-4928-be9d-21ba-801321305d1d
* Content: [Sample API management policy - Add capabilities to backe

[2022-07-12 22:33] ju-shim commented on #92371
Thank you for reaching out. I am currently investigating this limitation which is not properly documented yet in our docs it seems. What other customers have found was the following (which I still need to verify), but maybe it will be helpful to you in the meantime:

[code]

Thank you for your patience. I will circle back to this issue once the team is done looking into this.

[2022-07-12 22:33] rolyon commented on #93712
Hi @DeanGross
We've made some updates to the Global Reader role description.
https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference#global-reader
Let us know if you have additional feedback.
thanks

[2022-07-12 22:34] rolyon commented on #93712
#please-close

[2022-07-12 22:34] #93712 closed

[2022-07-12 22:35] ju-shim commented on #92552
Thank you for letting us know! We recently updated the quick start with fresh images to address outdated UI.

Best,
Julia (VM/VMSS writer)

#please-close

[2022-07-12 22:35] #92552 closed

[2022-07-12 22:43] cynthn commented on #82870
#assign @mattmcinnes

[2022-07-12 22:44] cynthn commented on #82870
#assign:@mattmcinnes

[2022-07-12 22:45] #93401 closed

[2022-07-12 22:51] ju-shim commented on #95513
@PriyankaRudramaina & @kevmurray - Our team released a massive refresh to almost every doc in the Virtual Machine Scale Sets space this Monday. All quick starts were updated after a detailed review. I believe these issues were addressed and it should be working now. Can you take a look and provide any additional feedback? Thank you.

[2022-07-12 22:57] #95681 closed

[2022-07-12 23:00] ju-shim commented on #72921
#reassign: @lauradolan

I am reassigning this to the right content author to look into and determine if any content updates must be made. Thank you.

[2022-07-12 23:16] ElanShudnow opened #95687 "Could use clarification on Hybrid Runbook Workers with Private Link"
Please provide clarification on the following point:
With the current implementation of Private Links for Azure Automation, it only supports running jobs on the Hybrid Runbook Worker connected to an Azure virtual network and does not support cloud jobs.

There's 2 places we can run Hybrid Runbook Workers.  The first is on an Azure VM and the second is on an on-premises VM outside of Azure.  Can th

[2022-07-12 23:24] JimacoMS4 commented on #94680
Hi @frozen-oranges - I still haven't heard back from the product team, however, from my own testing, it appears that the request ID is set internally by IoT Hub. I don't believe that it can be set on an HTTPS header. I'm going to change the documentation accordingly. Thanks for pointing out this discrepancy in our documentation.

Thanks,

Jimaco

[2022-07-12 23:34] markingmyname commented on #90343
@kabharati

Any chance this info - https://docs.microsoft.com/en-us/azure/templates/microsoft.network/azurefirewalls?tabs=json - can be added?

[2022-07-12 23:35] markingmyname commented on #92572
@sr-msft any follow-up?

[2022-07-12 23:44] #95644 closed

[2022-07-12 23:45] mike-urnun-msft commented on #95644
@KolbeinFoldoy Thanks again for sharing this feedback and helping us drive improvements towards MS Docs! We've merged a fix and the change should be live soon.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-07-12 23:46] mike-urnun-msft commented on #95367
@mszy-tribal We will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-07-12 23:46] #95367 closed

[2022-07-12 23:49] markingmyname commented on #93419
@pnarsi

Thank you for the clarification.

This change should be applied to both the single server firewall article and the flexible server firewall article by the end of the week.

Please note: Microsoft recommends for users to deploy a Flexible Server and not a Single Server.

I hope this helps.

thank you.

#please-close

[2022-07-12 23:50] #93419 closed

[2022-07-12 23:52] markingmyname commented on #95594
#assign: @kabharati

[2022-07-12 23:55] David-Engel commented on #95484
@VanMSFT

Azure Active Directory Interactive authentication isn't supported by the Microsoft ODBC Driver for SQL Server on Linux or macOS.

https://docs.microsoft.com/en-us/sql/connect/driver-feature-matrix?view=sql-server-ver16#table2

@aaelony-aeg
The StackOverflow suggestion doesn't work because, as the error indicates, the administrative policy applied to your account requires Interactive/MFA

[2022-07-13 00:00] pnarsi commented on #93419
@markingmyname - yes, I aware of the Flexible Server recommendation. Unfortunately Flexible Server didn't support CMK for Encryption at Rest, Azure AD based authentication, and Azure Defender for Cloud so it isn't a viable option at the moment.

[2022-07-13 00:05] aaelony-aeg commented on #95484
Thank-you for the link above and this clarification.

This is curious, because Azure Data Studio querying with MFA _does_ work on the Mac (M1 MacOS Monterey) but seemingly only with the SQL kernel.

- What _driver_ does Azure Data Studio use?
- Can it be used outside of Azure Data Studio to query an MFA DW in a jupyter notebook with a python kernel?
- Why or Why not?

It would be _amazing_ if ther

[2022-07-13 00:06] roygara commented on #95614
Closing, as a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/95613

#please-close

[2022-07-13 00:06] #95614 closed

[2022-07-13 00:07] roygara commented on #95613
@camaier Thanks for reaching out, we appreciate it! Yes, that VM size is supported, we'll update the article to reflect that. The changes should be live sometime tomorrow.

Thanks for bringing this to our attention, we appreciate it!

#please-close

[2022-07-13 00:07] #95613 closed

[2022-07-13 00:11] aaelony-aeg commented on #95484
perhaps the _bulk copy_ route is supported?

[2022-07-13 00:13] ms-ishiyam opened #95688 "Flow count of GW instance."
I know GW instance support 1M total flows. If flow counts exceed over the limit, some traffic will be lost but there is no limitation in this document. (https://docs.microsoft.com/en-us/azure/expressroute/expressroute-about-virtual-network-gateways)
Could you add this limitation into this docs ?

https://docs.microsoft.com/en-us/azure/virtual-network/virtual-machine-network-throughput#flow-limits-

[2022-07-13 00:19] tamram commented on #95441
@AdelaManea - Just yesterday we updated the documentation for client-side encryption v2. As part of that update, we noted that CSE is not supported for tables. You can see that note here:

https://docs.microsoft.com/azure/storage/common/storage-service-encryption#client-side-encryption-for-blobs-and-queues

[2022-07-13 00:35] tamram commented on #95441
#please-close

[2022-07-13 00:35] #95441 closed

[2022-07-13 01:10] timker commented on #95114
It would be great if Azure supported auto renewal of apex domains

[2022-07-13 01:28] v-jbasden commented on #79634
@Lukeout I am here to help with updating the documentation for this issue and need assistance.

Does the PowerShell command for downloading the public configuration file schema definition need to be updated and/or does guidance on where to install the module from need to be added?

[2022-07-13 01:30] KrishnaG-MSFT commented on #95679
@dumarkov Thanks for your comment! We will review and provide an update as appropriate.

[2022-07-13 01:31] KrishnaG-MSFT commented on #95687
@ElanShudnow Thanks for your comment! We will review and provide an update as appropriate.

[2022-07-13 01:33] KrishnaG-MSFT commented on #95663
@getk12 I will reach out to you offline via email or Teams

[2022-07-13 02:04] MonikaReddy-MSFT commented on #95653
@mikegoatly  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-07-13 02:04] GeethaThatipatri-MSFT commented on #95653
@mikegoatly Thanks for your findings, I'm assigning this to the author for the feedback review.

[2022-07-13 02:06] MonikaReddy-MSFT commented on #95645
@HenriHeijltjes  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-07-13 03:08] SumanthMarigowda commented on #95674
@ElanShudnow Thanks for the question! We are investigating and will update you shortly.

[2022-07-13 03:23] OzBob opened #95689 "Docs Access Denied with Query String search from Sql Server Management Studio F1"
Access Denied 403 when search for @@VERSION

https://docs.microsoft.com/en-us/sql/t-sql/functions/version-transact-sql-configuration-functions?f1url=%3FappId%3DDev15IDEF1%26l%3DEN-US%26k%3Dk(@@VERSION_TSQL);
denies access to Azure Docs via search.

If remove "(@@VERSION_TSQL);" off the end
https://docs.microsoft.com/en-us/sql/t-sql/functions/version-transact-sql-configuration-functions?f1url=%3Fap

[2022-07-13 04:53] mariandumitru commented on #95669
Yes!
On 12 Jul 2022, 23:36 +0300, kobulloc-MSFT ***@***.***>, wrote:

[2022-07-13 05:23] hkusulja commented on #84432
It seems that there is limitation that Azure AD does not support replace/transform the data inside claims from non-ASCII to ASCII as it is per standard required.

[2022-07-13 05:42] SreejaBhattacharya-MSFT commented on #95667
@matlion , thanks for reaching out. I'll try to repro this and check why this is happening.

[2022-07-13 05:50] SreejaBhattacharya-MSFT commented on #94007
@cynthn yes, I believe Micah's team was working on this one. @mimckitt could you please confirm if this can be assigned to someone from your team?

[2022-07-13 05:58] VikasPullagura-MSFT commented on #95655
@mmitchellcit

Multimedia redirection for AVD is not GA yet. So it would definitely requires users to be on Insider ring.

Can you please share the other pages where you quote "The generally available version is 1.2.3316 (as of 7/11/2022.)

[2022-07-13 07:01] ezYakaEagle442 commented on #95119
also at [https://docs.microsoft.com/en-us/azure/spring-cloud/media/spring-cloud-principles/azure-spring-cloud-overview.png](https://docs.microsoft.com/en-us/azure/spring-cloud/media/spring-cloud-principles/azure-spring-cloud-overview.png)

![image](https://user-images.githubusercontent.com/43554247/178671368-13c4e1ee-dd88-4793-8bae-dee2ff858a1c.png)

@KarlErickson

[2022-07-13 07:09] widuan opened #95691 "Any limitation to name a resource group?"
[Enter feedback here]

When we created the resource group, Azure didn't stop us to use Chinese characters, but in the later usage, some features are not working well. For example, when we were creating new load balancer, in the backend pool step, we can't see the VMs under specified resource group. The root cause is the specified resource group was using Chinese characters as name.

We didn't see

[2022-07-13 07:10] joelbloch opened #95692 "Code challenge error when running the test app"
[Enter feedback here]
Hello, I followed this page, I don't think I made any error (but I can't be sure).
When I test the sample app, I get an error upon signin in : the server expects a code challenge that the sample app does not provide.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 866b331e-e1ac-cd02-9aa3-f7334fa595

[2022-07-13 07:26] jeremy-donson commented on #90525
Please explain why this was closed.  Thx

[2022-07-13 07:47] #95545 closed

[2022-07-13 08:10] mennolaan commented on #56193
Hi m365ken.

This is due to the fact that there is another property you need to supply in case you use User Assigned Identity with web apps and functions. There is a property called keyVaultReferenceIdentity, this needs to have a value, otherwise it assumes system assigned identity. It has three optsion, SystemAssigned, the clientid of user assigned, null as a value. Its the same value as you set

[2022-07-13 08:18] kobulloc-MSFT commented on #95669
@mariandumitru Please share your feedback regarding the documentation here.

[2022-07-13 08:20] SwathiDhanwada-MSFT commented on #95691
@widuan Thanks for your question. For naming rules and restrictions of any service, kindly check [this document](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/resource-name-rules). For any requests to include other characters, kindly raise feedback [here ](https://feedback.azure.com/d365community/forum/9a0ece70-ff24-ec11-b6e6-000d3a4f07b8)

[2022-07-13 08:27] m3talstorm commented on #36650
This is incorrect, as @stefan-schweiger suggests as well as https://github.com/MicrosoftDocs/azure-docs/issues/87490

Once a Key Vault reference is resolved by an App Service/Azure function, it will cache this value for up to 24 hours.
Restarting or scaling up/out the App service/Azure function will not force the Key Vault value to be refetched.

The only way to force a refresh is to change the va

[2022-07-13 08:29] ezYakaEagle442 commented on #95119
also at :
- [https://github.com/Azure/Azure-Spring-Cloud](https://github.com/Azure/Azure-Spring-Cloud)
- [https://github.com/Azure/spring-cloud-deploy](https://github.com/Azure/spring-cloud-deploy)
- [https://github.com/Azure/Azure-Spring-Cloud-PR](https://github.com/Azure/Azure-Spring-Cloud-PR)

[2022-07-13 08:36] KrishnaG-MSFT commented on #94270
Hi @Madhufuture,

Yes. policy fragment can be deployed independently.

You have got the invalid template error because name of the policy fragment has incorrect segment lengths.

A nested resource type must have identical number of segments as its resource name.
A root resource type must have segment length one greater than its resource name.

For more information w.r.t it, refer below article:
ht

[2022-07-13 08:42] Givary commented on #95279
@Arne-RFA Apologies for the delayed response, i have researched on your ask, yes Azure AD password proxy service can be installed on a DC which also has a Azure AD Connect configuration, as mentioned above only recommended for testing only, as proxy service requires internet connectivity, having connectivity to DC is a security concern.

Let me know if you have any further questions.

[2022-07-13 08:47] ShaikMaheer-MSFT commented on #95235
As there is no update. I am going ahead to close the issue. Kindly feel free to re-open if needs more discussion. Thank you.

[2022-07-13 08:47] #95235 closed

[2022-07-13 08:53] ShaikMaheer-MSFT commented on #95684
@BaillyAlex It seems you have product question related to Azure monitor. Please note, GitHub forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilise Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html)

[2022-07-13 08:58] shwetamathur7 commented on #95692
@joelbloch Thanks for your feedback. We will investigate and update the thread.

[2022-07-13 09:02] LifeRyuto opened #95696 "Regarding system maintenance window"
Does it mean below? Is it okay to assume the maintenance will never start before 11 pm? And it will surely end by 7 am?
- 11 pm - 12 am
- 12 am - 1 am
- .......
- 5 am - 6 am
- 6 am - 7 am

Or, does it include each or both of the one-hour windows below?
- 10 pm - 11 pm
- 7 am - 8 am

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2022-07-13 09:02] ShaikMaheer-MSFT commented on #95685
@ianrenUipath Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-07-13 09:03] BaillyAlex commented on #95684
Hello @ShaikMaheer-MSFT and thank you for your reply.
I will have a look.

[2022-07-13 09:05] VirajVaitha123 opened #95697 "Real World Solution?"
[Enter feedback here]
Hi,

Thanks for the great libraries you have provided.

I was going through the tutorial on deploying models on AzureML, and in your example on Azure ML entry script authoring you mentioned "for a real world solution you would load the data from resp body". Wouldn't it be great if that example code snippet was here or a link to show exactly how you do this?

Just gives more c

[2022-07-13 09:08] madhugilla opened #95698 "Azure Function CosmosDB output binding support for partial updates"
Does the Azure Function CosmosDB output binding support for partial updates to a document ? the usecase that we are looking at is using cosmosdb as an eventsource db (append only) and keep on adding to a document rather than replacing it.

[2022-07-13 09:10] ShaikMaheer-MSFT commented on #95688
@ms-ishiyam Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-07-13 09:11] randolf720 commented on #95416
@khdownie: thanks, the set-adaccountpassword is one of the commands:
Set-ADAccountPassword -Identity storageaccountname$ -Reset -NewPassword (ConvertTo-SecureString -AsPlainText "output_kerb1" -Force)_

To my knowledge the set-adaccountpassword set's the machine accounts password. If it's not the machine account password, which password is being set?

If it's not the machine accounts password it m

[2022-07-13 09:19] NafuKrypto opened #95699 "Issue"
So I was following this doc : [Azure Databrick Unity Catalog](https://docs.microsoft.com/en-us/azure/databricks/data-governance/unity-catalog/azure-managed-identities)

I followed every step until **Use a managed identity to access storage managed by a Unity Catalog metastore** which is titled in the doc.

When I go to the link of Azure Databrick console given in **Use a managed identity to access

[2022-07-13 09:52] AnnuKumari-MSFT commented on #95398
Hi @r33dz ,
Templates are pre-defined pipelines which has some set of codes which can be re-used and customized according to the need and requirements. So, if your requirement is to have Azure SQL as sink datastore, you can easily create a new dataset pointing to Azure SQL table and use that in the Sink setting.

If you particularly want to have this feature in the template, I would recommend you

[2022-07-13 09:52] #95398 closed

[2022-07-13 09:58] v-amallick commented on #95642
Hi @Klaas-

We have updated the [Sample alert scenarios](https://docs.microsoft.com/en-us/azure/backup/metrics-overview#sample-alert-scenarios) section. The changes will be live today.

As the document updates are done, we are now closing this issue. Please reopen this issue if you have any queries around it.

Thanks!
#please-close

[2022-07-13 09:58] #95642 closed

[2022-07-13 10:33] stevendick-swissre commented on #95598
This doesn't answer the original question - the documentation remains virtually useless as nowhere can I find documentation on available attributes to use in the filter declarations.

[2022-07-13 10:45] gichamba commented on #32204
That doesn't seem to solve the problem for me. I still can't see the unique constraints on the portal.

[2022-07-13 10:57] m3talstorm commented on #36650
More details: https://github.com/MicrosoftDocs/azure-docs/issues/51708

[2022-07-13 10:59] m3talstorm commented on #51708
This madness caused us a 6-hour P1 recently.

[2022-07-13 11:03] AnuragSharma-MSFT commented on #95696
@LifeRyuto Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-07-13 11:40] CHEEKATLAPRADEEP-MSFT commented on #95699
@NafuKrypto  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2022-07-13 11:54] Alex-B5 opened #95701 "Please change the line"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12220c1c-ebce-cf63-0ef7-41c6b6747329
* Version Independent ID: 92bd839f-13a7-296d-c11d-f88fabca61e3
* Content: [Use Python to manage data in Azure Data Lake Storage Gen2](https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-directory

[2022-07-13 11:55] Alex-B5 opened #95702 "Please change the line local_file = open("C:\\file-to-upload.txt",'r') to 'rb'"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12220c1c-ebce-cf63-0ef7-41c6b6747329
* Version Independent ID: 92bd839f-13a7-296d-c11d-f88fabca61e3
* Content: [Use Python to manage data in Azure Data Lake Storage Gen2](https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-directory

[2022-07-13 12:13] GitaraniSharma-MSFT commented on #95688
@ms-ishiyam , thank you for your feedback. We have assigned this to the content owner/author for review.

@duongau , for your review.

[2022-07-13 12:26] GitaraniSharma-MSFT commented on #95536
@PingPongSet ,

AD Domain authentication allows users to sign in to Azure using their organization domain credentials. It requires a RADIUS server that integrates with the AD server.

If the RADIUS server is located on-premises, It's important for the VPN gateway to be able to reach the RADIUS server, hence a VPN site-to-site connection from Azure to the on-premises site is required.

**Now, to an

[2022-07-13 12:26] #95536 closed

[2022-07-13 12:58] SumanthMarigowda commented on #95702
@Alex-B5 Thanks for the question! We are investigating and will update you shortly.

[2022-07-13 13:28] Klaas- commented on #95642
Commit https://github.com/MicrosoftDocs/azure-docs/commit/2a1172d64567b1439ab3b0787bdbd5321c583487

[2022-07-13 13:30] AaronMaxwell commented on #95595
#please-close

[2022-07-13 13:31] #95595 closed

[2022-07-13 13:34] AaronMaxwell commented on #95506
@cijothomas Please take a look and let us know if the code sample provided needs an update or if this should be moved to a support request.

[2022-07-13 13:40] MonikaReddy-MSFT commented on #95698
@madhugilla - Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2022-07-13 13:50] lBilali commented on #95453
hi @ShaikMaheer-MSFT
Still we are not able to use TNSNAMES.ORA

Just to explain a bit our situation:
One of our providers has an Oracle Server let's call it `OracleServer`. On this server we don't have control since it is managed by our provider. They have given us a TNS entry which we can use.

We have a server where we have installed Oracle Client and added a TNSNAMES.ORA file with the TNS entry

[2022-07-13 13:53] match-gabeflores opened #95706 "Typo in section header"
section header has a typo:

`How ages rows are deleted` should be "How **aged** rows are deleted"

https://docs.microsoft.com/en-us/azure/azure-sql/database/temporal-tables-retention-policy?view=azuresql#how-ages-rows-are-deleted

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 245f4279-9fd4-3141-6d52-727a084fb19f
* Vers

[2022-07-13 14:13] ShaikMaheer-MSFT commented on #95453
@lBilali As you rightly guessed we should not use `ClientServer` name as host. We should consider using oracle server name as host.

Usually, tns entry may have following details in it. From that you can take respective values in to Oracle linked service in ADF
![image](https://user-images.githubusercontent.com/84302758/178754843-f3f18419-9f65-46b3-9fe8-8b6250fb6d3b.png)

Please Note, GitHub forum

[2022-07-13 14:24] getk12 commented on #95663
Thanks Krishna, looking forward to chatting with you.

Regards,
Gavin

From: KrishnaG-MSFT ***@***.***>
Sent: Tuesday, July 12, 2022 9:34 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Gavin King ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] PM/Dev Contact for status.azure.com (Issue #95663)

@getk12<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fg

[2022-07-13 14:32] dominicbetts commented on #95576
@Sekhar-Kutikuppala - can you take a look at this please?

As @romankiss states above, we have the following statement in the [mapping doc](https://docs.microsoft.com/en-us/azure/iot-central/core/howto-map-data):

_For devices assigned to a device template, you can't map data for components or inherited interfaces. However, you can map any data from your device before you assign it to a device tem

[2022-07-13 14:34] SQLSprint opened #95708 "Model Deployment Still Running After one hour"
[Enter feedback here]

The following step runs for one hour and never completes (I tried twice):

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3dfa0c7-942e-7120-1f84-aeec42f9b10a
* Version Independent ID: 18a7dc7e-11f3-f612-d239-1682f283aff5
* Content: [Tutorial: Create the predictive model with a notebook (p

[2022-07-13 14:38] dominicbetts commented on #95576
#reassign Sekhar-Kutikuppala

[2022-07-13 14:40] dominicbetts commented on #95576
#reassign: Sekhar-Kutikuppala

[2022-07-13 14:46] GeethaThatipatri-MSFT commented on #95706
Hi @match-gabeflores Thanks for your findings,We will investigate and update as appropriate

[2022-07-13 14:55] hhunter-ms commented on #95062
Closing this issue as it's been resolved. Don't hesitate to reach out with a new issue if you have any further questions! #please-close

[2022-07-13 14:55] #95062 closed

[2022-07-13 15:01] BakkerJan opened #95711 "Remove-ADSyncToolsAadObject"
When using Remove-ADSyncToolsAadObject, Azure AD objects that were previously restored, cannot be deleted.

Any guidance around that?

Issue: This error indicates that a deleted object was recovered from the recycle bin in Azure AD before Azure AD Connect was able to confirm its deletion. Please delete the recovered object in Azure AD to fix this issue.

![image](https://user-images.githubusercont

[2022-07-13 15:11] romankiss commented on #95576
@dominicbetts - thanks Dominic. The ingress mapping is a great feature of the Azure IoT Central. I hope, it will possible to use for a real scenario such as mapping to the any telemetry data in the device model. Currently, the mapping is working only between the default component level.

Also, in additional, there is missing an input/export those maps manually on the portal and by using the REST A

[2022-07-13 15:40] JamesTran-MSFT commented on #95711
@BakkerJan
Thanks for your feedback!

Based off the error message, I'd recommend deleting the recovered object in Azure AD to resolve the issue. However, I've assigned this issue to the author who will investigate and update as appropriate.

[2022-07-13 15:40] bbuchan10 opened #95712 "Fields are backwards"
Hi, these fields are backwards in this guide:

IdP Entity ID (idp-entity-id) | Azure Login URL
IdP Single Sign-On URL (idp-single-sign-on-url) | Azure AD Identifier

Should be:
IdP Entity ID (idp-entity-id) | Azure AD Identifier
IdP Single Sign-On URL (idp-single-sign-on-url) | Azure Login URL

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2022-07-13 15:58] DeanGross opened #95713 "Entra is missing"
Please add baselines for the Entra Permissions Management and Entra Verified Identity services

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbc0759d-deb8-42b4-798c-770347ccb527
* Version Independent ID: 5846d3f2-0aa4-d4d4-7e1d-659477e722e2
* Content: [Azure security baseline for Azure Active Directory](https://docs.m

[2022-07-13 16:00] BakkerJan commented on #95711
@JamesTran-MSFT Thanks for the update.

I can think of a workaround to get this fixed with PowerShell, sure, but the whole  idea is that the cmdlet takes batches of 10 and then deletes the objects. I kinda like that intelligence, so it would be great if the cmdlet can force that action. I think for most org, the reason that an object becomes orphaned is because some admin restored a synced deleted

[2022-07-13 16:02] csgreen opened #95714 "Add Global Reader to permissions table"
Global Reader is not in comparison table for permissions/roles and could be missed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2e83171-fd05-9fe1-3ba7-0fb20161ee63
* Version Independent ID: 2e6b2451-5ff8-a277-90ea-49aa70957977
* Content: [What is Azure Active Directory Identity Protection? - Microsoft Entra](https:

[2022-07-13 16:20] WilliamDAssafMSFT commented on #95493
Hi @michael-freidgeim-webjet, the doc is correct and this behavior is expected. The exception number and error string message are different bits of information. `error: 0` is expected. https://docs.microsoft.com/sql/relational-databases/errors-events/mssqlserver-11001-database-engine-error

#please-close

[2022-07-13 16:20] #95493 closed

[2022-07-13 16:20] PriyankaRudramaina commented on #92884
@rectified95,

This is not documentation issue here. It appears to be the issue from the free subscription. If you are using the default size VM "Standard_D2s_v3" please ensure your subscription has vCPU quota for this series in the specific region. If not, you can create the AKS cluster in a region that has this SKU available or use a different size VM.
To check if this vCPU quota is available fo

[2022-07-13 16:20] #92884 closed

[2022-07-13 16:21] lauradolan commented on #95664
Thanks @ManasaDevadas I've passed your feedback along to the product team for review.

Since this is a not a documentation-related bug, I'm closing this issue now. #please-close

[2022-07-13 16:21] #95664 closed

[2022-07-13 16:29] duongau commented on #95572
@GitaraniSharma-MSFT I'll check on this and report back. Thank you.

[2022-07-13 16:37] JamesTran-MSFT commented on #95712
@bbuchan10
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-13 16:38] JamesTran-MSFT commented on #95713
@DeanGross
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-07-13 16:39] JamesTran-MSFT commented on #95714
@csgreen
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

![image](https://user-images.githubusercontent.com/36619112/178786189-248dcc9a-9b4c-4503-b8d9-a1fd947c05e1.png)

[2022-07-13 16:46] XcoderBlood opened #95716 "[...]_manifest.json file name changed"
This document says this => The name of the metadata JSON file has the following format: <source_file_name>_manifest.json

I found that that at some point in the last year or so this has changed. Previously the filename would be up to 32 characters long excluding the file extension and based on what the BaseName formatting option dictated.
Now the file is more than 32 characters long... not matchin

[2022-07-13 16:47] duongau commented on #95572
Hello @rockboyfor, thank you for your feedback. I've confirmed and added China North 3 to the table. This should reflect later today. Cheers!

https://github.com/MicrosoftDocs/azure-docs-pr/pull/204585

[2022-07-13 16:47] #95572 closed

[2022-07-13 17:07] hemantmalik opened #95718 "Request to add appropriate Microsoft Docs link for enabling SSO when it's disabled"
A lot of users have reported the SSO disabled experience to be their default and scramble to guide their admins with information on what they are asking for. In some cases the Admins were aware what to configure. Could you please link to the appropriate Microsoft docs that addresses the 2nd pre-requisite around SSO if it's disabled? Thank you!

---
#### Document Details

⚠ *Do not edit this sectio

[2022-07-13 17:08] reigntastic opened #95719 "Disabling Authorized IP Ranges Doesn't Work From Azure Cloud Shell Powershell"
https://docs.microsoft.com/en-us/azure/aks/api-server-authorized-ip-ranges#disable-authorized-ip-ranges

Running the command specified here to disable auth IP ranges from Azure Cloud Shell returned an error:
az aks update --resource-group PII-RG --name PII-CLUSTER --api-server-authorized-ip-ranges "" 
argument --api-server-authorized-ip-ranges: expected one argument
Examples from AI knowledge base

[2022-07-13 17:18] TimMurnaghan opened #95720 "It's horrible to have this a product at all"
[Enter feedback here]
This is really product feedback - but the button doesn't work.

Splitting permissioning options out into another product is just horrible.
It's really hard to work out what it actually is.

Maybe the access reivews and audit different functions are - but MFA?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2022-07-13 17:26] aaelony-aeg commented on #95484
Thank-you for these detailed comments.  Much appreciated.

Although ODBC seems a no go at the moment given this info, it dawns on me (if I squint a bit at [the driver feature matrix](https://docs.microsoft.com/en-us/sql/connect/driver-feature-matrix?view=sql-server-ver16#table2) ) _JDBC Driver for SQL Server_ **is** supported _with MFA_.

Maybe that is a better route to explore on the M1 ?

Thanks

[2022-07-13 17:31] tuvi2 commented on #38371
has this limitation been addressed?

[2022-07-13 17:51] KapilAnanth-MSFT commented on #95574
Hi @RolandlinAKS ,

May I know if you got a chance to review my previous comments?
If you could provide more clarity on the challenge you were facing with VNet peering, we can have a look at it and assist you accordingly.

[2022-07-13 17:53] ChrisRomp opened #95722 "Command Fix for ACR Quickstart"
The command:
[code]

On Windows PowerShell Core will create a file where there's a break after `FROM` in the output file.  Wrapping the string in `"` (quotes) will make this work correctly on PS Core and still be compatible with Bash and other shells.

Suggested command:
[code]

Related issue: https://github.com/Azure/azure-cli/issues/19968

---
#### Document Details

⚠ *Do not edit this section.

[2022-07-13 18:18] brianlehr commented on #95356
@jspaans91 This is great feedback.  We will post a table shortly which gives better explanations for each of the different Failed Reasons states.  I'll update this issue once the documentation is updated.

[2022-07-13 18:45] #95540 closed

[2022-07-13 18:47] AjayKumar-MSFT commented on #94511
@craigshoemaker, Requesting your comments on this. Thanks!

[2022-07-13 18:53] mbender-ms commented on #71539
Add updates to documentation for clarity on intra-subnet traffic.

Associated PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/204623

#Please-close

[2022-07-13 18:53] #71539 closed

[2022-07-13 19:16] DeanGross opened #95726 "Visualization of icons"
The text tells us that a normal or high risk icon will be displayed, but I don't know what they look like. Please include examples so that we know what to expect

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fffd8219-5f7a-bb8a-dc21-c835c360af93
* Version Independent ID: 8d5fd89c-a4ac-72d8-07e8-746b517e12ef
* Content:

[2022-07-13 19:20] DeanGross opened #95727 "Folder Explanation"
The instructions include "From the Authorization System dropdown, select from a List of accounts and Folders".
What are the folders that are being referenced? This is not a typical Azure resource and I'm not sure what a folder should contain in regards to an Authorization System.
Please elaborate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2022-07-13 19:28] davidsmatlak commented on #95718
#assign:davidsmatlak

[2022-07-13 19:29] mbender-ms commented on #95596
Thanks for the feedback @ddib-ccde.

Would it be clearer if all references to default routes that are system-defined default routes be referred to as **system default routes**?

[2022-07-13 19:59] pritamso commented on #38371
@tuvi2 Here's the User Story (https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1856480) which was created as a part of Task (https://ceapex.visualstudio.com/CPS/_workitems/edit/445413).

**It's still unassigned.**

CC: @rboucher

[2022-07-13 19:59] rrelyea opened #95728 "Docs should clarify "click on add" and ..."
docs should discuss the fact that when you click add there are two choices in a drop down.

![image](https://user-images.githubusercontent.com/8865080/178823272-8c4ec046-13f6-4cb9-a8a2-4a222a630690.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7cafac9-f288-9348-1915-0236405c9794
* Version Independent ID: ac2ef81

[2022-07-13 20:00] durayakar opened #95729 "There is a need for a comprehensive example for modifying WAF Policies"
This example is very far from reality, and does very little to help with a real-life WAF rule/policy customization.

There is a need for prescriptive guidance to modify an existing WAF by disabling some managed rules, and adding some custom rules, possibly with some exceptions.

When you set out to do that, you land on WAF Policies. And the documentation shows managing the WAF policies on the port

[2022-07-13 20:20] ChaitanyaNaykodi-MSFT commented on #95729
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-07-13 20:24] #94253 closed

[2022-07-13 20:35] MashaMSFT commented on #94494
Hi @jzuchora87 , thanks so much for bringing this to our attention! We're currently in the process of updating these screenshots and the changes should be live next week. I'll close out this Git Issue for now but please feel free to comment should you need anything further.

Thanks again for helping improve our documentation, and hope you have a wonderful rest of your day!
Masha from the SQL Docs

[2022-07-13 20:35] #94494 closed

[2022-07-13 20:36] MashaMSFT commented on #95073
Hi @utsavkale , thanks so much for bringing this to our attention! We're currently in the process of updating these screenshots and the changes should be live next week. I'll close out this Git Issue for now but please feel free to comment should you need anything further.

Thanks again for helping improve our documentation, and hope you have a wonderful rest of your day!
Masha from the SQL Docs t

[2022-07-13 20:36] #95073 closed

[2022-07-13 20:36] MashaMSFT commented on #94090
Hi @ankitajaiswalkohler , thanks so much for bringing this to our attention! We're currently in the process of updating these screenshots and the changes should be live next week. I'll close out this Git Issue for now but please feel free to comment should you need anything further.

Thanks again for helping improve our documentation, and hope you have a wonderful rest of your day!
Masha from the

[2022-07-13 20:36] #94090 closed

[2022-07-13 20:36] MashaMSFT commented on #93531
Hi @DanielA2119 , thanks so much for bringing this to our attention! We're currently in the process of updating these screenshots and the changes should be live next week. I'll close out this Git Issue for now but please feel free to comment should you need anything further.

Thanks again for helping improve our documentation, and hope you have a wonderful rest of your day!
Masha from the SQL Docs

[2022-07-13 20:36] #93531 closed

[2022-07-13 20:40] markingmyname commented on #93419
@pnarsi

The good news by tomorrow morning, the new Note about what port to open for TCP should be visible.

Thank you for bringing this to our attention.

Thanks for being patient with us while we get to your suggestion.

[2022-07-13 20:44] mbrat2005 opened #95730 "New Image Builder Distributor PowerShell is Missing"
New image builder distributor PowerShell snippet is missing from the document. Should be here: https://github.com/MicrosoftDocs/azure-docs/blob/ac568da3869aaa64ca038041f329363f277160f7/articles/virtual-machines/windows/image-builder-powershell.md?plain=1#L197

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0b40c35-05a3

[2022-07-13 20:45] matlion commented on #95667
It would also help to get some more information why the mount fails.
Permissions? Name mismatch?

[2022-07-13 20:52] aaelony-aeg commented on #95484
It seems possible, but still a bit tricky especially wrt to params and flags needed for ActiveDirectoryInteractive authentication.  Any documentation and examples you might have could be very useful.

Thank-you

[2022-07-13 20:58] WilliamDAssafMSFT commented on #87600
#assign:WilliamDAssafMSFT

[2022-07-13 21:14] hemantmalik commented on #95718
Thanks @davidsmatlak for the quick response. A lot of users experience that they can't SSO to the service when they try to navigate from Azure Portal. They are presented with something similar to below screenshot. Most of those users have struggled to

- find out "who" they should reach out within their Azure ecosystem and (a problem hard to solve for us)
- "what" are they asking to be done - this

[2022-07-13 21:20] WilliamDAssafMSFT commented on #87600
Thanks @csvdarius for taking the time to provide this feedback to Microsoft Docs. I believe the difference here is **Redirect** vs **Proxy** connection policy.

- When using **Redirect**, refer to the full list of [Azure IP Ranges and Service Tags – Public Cloud](https://www.microsoft.com/download/details.aspx?id=56519) in your region for the IP addresses to allow.
- When using the **Proxy** conne

[2022-07-13 21:20] #87600 closed

[2022-07-13 21:21] WilliamDAssafMSFT commented on #88530
Thanks again @jpmaciasg for taking the time to provide this feedback to Microsoft Docs. Following up here because it is relevant to a Doc update in flight. Your issue may be because of the **Redirect** vs **Proxy** connection policy.

- When using **Redirect**, refer to the full list of [Azure IP Ranges and Service Tags – Public Cloud](https://www.microsoft.com/download/details.aspx?id=56519) in y

[2022-07-13 21:22] WilliamDAssafMSFT commented on #86741
Thanks @fowl2 for taking the time to provide this feedback to Microsoft Docs. I believe the difference here is **Redirect** vs **Proxy** connection policy.

- When using **Redirect**, refer to the full list of [Azure IP Ranges and Service Tags – Public Cloud](https://www.microsoft.com/download/details.aspx?id=56519) in your region for the IP addresses to allow.
- When using the **Proxy** connectio

[2022-07-13 21:22] WilliamDAssafMSFT commented on #86741
#assign:WilliamDAssafMSFT

[2022-07-13 21:23] WilliamDAssafMSFT commented on #87938
Thanks @jackchenwork for taking the time to provide this feedback to Microsoft Docs. Need more information on the connection policy you're using for Azure SQL Database, but I believe the difference here is **Redirect** vs **Proxy**.

- When using **Redirect**, refer to the full list of [Azure IP Ranges and Service Tags – Public Cloud](https://www.microsoft.com/download/details.aspx?id=56519) in yo

[2022-07-13 21:23] #87938 closed

[2022-07-13 21:32] kobulloc-MSFT commented on #95730
@mbrat2005 Thank you for the feedback!  We are reviewing the documentation in regards to the PowerShell snippet and will get back to you shortly.

[2022-07-13 21:32] srinia commented on #95480
Hi @techsaau T,
   Thanks for reporting this. As documented, this [stored procedure](https://docs.microsoft.com/en-us/azure/azure-sql/database/elastic-jobs-tsql-create-manage?view=azuresql#sp_start_job) does not take the version number as a parameter. Are you looking to see if that can be added? If so, what would be reason/scenario for that?

thanks
Srini

[2022-07-13 21:42] davidsmatlak commented on #95718
@hemantmalik Thanks for the update. I'll follow up with the product team about your questions.

[2022-07-13 21:47] jshall commented on #86803
I've noticed the same thing in both the SWA CLI dev instance and on Azure.

[2022-07-13 22:05] mmannion opened #95731 "Add instructions for verifying connectivity to Qualys cloud servers"
This page cites in two locations:

- The need to be able for hosts with the Qualys extension to be able to connect to the remote Qualys cloud servers on port 443
- URLs for those cloud servers

It does not, however, describe how to test whether that connectivity is successfully configured.

- **Please add to this page step-by-step instructions for verifying connectivity to the Qualys cloud servers

[2022-07-13 22:17] enkrumah commented on #94869
Test connection should not affect your job as long as you've given the necessary permissions. Can you run your job to see if you get any output?

[2022-07-13 22:17] laujan commented on #95316
closes: https://github.com/MicrosoftDocs/azure-docs/pull/95218

[2022-07-13 22:22] JamesTran-MSFT commented on #95726
@DeanGross
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-07-13 22:37] khdownie commented on #95416
@randolf720 I understand now. Thanks. You are correct that AD machine account (computer account) pw's do not expire. However, service account pw's can expire, and a storage account identity in AD DS can be either a service account or a computer account. Thank you for this and I will clarify in the docs that this guidance applies to service accounts.

[2022-07-13 22:43] Oury-MSFT commented on #95622
@Bashar-MSFT Coud we please update the storage auto-grow section with the minimum number of storage amount which is 20GB.

[2022-07-13 22:44] #95621 closed

[2022-07-13 23:01] m365ken commented on #56193
Thanks @mennolaan. That was a perfect answer. Fixed my issue. Thanks :)

[2022-07-13 23:05] rwike77 commented on #95401
@rw-nzta  Doh, you're right.  Pushing a fix now.  Thanks.

[2022-07-13 23:08] billzCFGH opened #95734 "Unable to locate documentation for flattening multiple arrays in a single document"
I'd like to use the Data Flow tool in Azure Synapse. It seems like a useful tool. However, I am unable to _completely_ flatten a JSON file using the Flatten transformation. I am only able to flatten one array at a time; this seems like an enormous miss on the tool's part. Surely the team understands that most JSON files have more than one array inside of them, right?

Example:

[code]

Please prov

[2022-07-13 23:09] edburns commented on #76174
I am working on this issue in private repo PR [204464](https://github.com/MicrosoftDocs/azure-docs-pr/pull/204664).

[2022-07-13 23:28] YutongTie-MSFT commented on #95708
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-07-13 23:38] rwike77 commented on #94167
@John-Garland   Hi,  you're right, the note isn't very clearly worded.  It should be "Azure AD issued tokens may not be used for federated identity flows."  The federated identity credentials flow does not support tokens issued by Azure AD.  Hope that helps, I'll update the note.

[2022-07-13 23:41] KranthiPakala-MSFT commented on #95734
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

@kromerm - Could you please review the above feedback from user and share your inputs? - Thanks

[2022-07-13 23:42] kgremban commented on #83482
@macux Thank you for providing this feedback. I've submitted updates to the doc, including linking out to the IoT Show video and reorganizing the Filtering section to be clearer. I'm going to close this issue as resolved once those changes are published, but please feel free to comment again with any additional feedback or suggestions and we can reopen the issue.

[2022-07-13 23:42] SillyKeith opened #95735 "The custom install command says .DEP and should say .DEB"
[Enter feedback here]
This command description shows incorrect Extension name.  DEP vs DEB  it's subtle but P is not B  :-)

sudo apt-get install -y ./"<PATH TO FILE>"/"<.DEP FILE NAME>"

![image](https://user-images.githubusercontent.com/28606059/178855163-fe7618de-228d-454c-8f7a-54d626a2545b.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2022-07-13 23:44] KranthiPakala-MSFT commented on #95681
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-07-13 23:45] willvelida opened #95736 "Clarification on Quotas in Azure Container Apps"
Looking at the quotas for Azure Container Apps, it seems like there are a couple of typos within the quantities per feature. Should the quantities be as follows?

| **Feature** | **Quantity** |
| ------------ | ------------- |
| Container apps per environment | 20 per environment |
| Replicas per container app | 30 per container app |
| Cores | 60 per container app |

Currently, the quantities are

[2022-07-13 23:45] rwike77 commented on #95401
Updates just merged and should go live tomorrow.  Closing this now.  #please-close

[2022-07-13 23:45] #95401 closed

[2022-07-13 23:56] #83482 closed

[2022-07-13 23:58] kobulloc-MSFT commented on #95719
@reigntastic Thank you for your feedback!  We are reviewing the documentation and will get back to you shortly.

[2022-07-14 00:07] #94167 closed

[2022-07-14 00:54] rajeshsetlem commented on #70761
Hi @MarkFreemanBDO, You can connect to the read replica with ApplicationIntent=ReadOnly and use DMV's to monitor performance of queries executed in the read replica. Please check https://docs.microsoft.com/en-us/azure/azure-sql/database/read-scale-out?view=azuresql

In future when Query Store for Azure SQL DB readable secondary becomes available then you can use Query Store.

Let me know if you ne

[2022-07-14 01:16] Venkateshdodda-MSFT commented on #95728
@rrelyea Thank you for your feedback! We will review and update as appropriate.

[2022-07-14 01:24] henrywang08 opened #95738 "In "Support scenarios", on-premises resources should use Kerberos authentication, not NTLM"
The below statement should be revised since on-premises resources are authenticated through Kerberos, since NTLM authentication doesn't use Kerberos ticket.

"On-premises resources, and Windows-integrated authentication to websites. The resources can include websites and SharePoint sites that require IIS authentication and/or resources that use **NTLM** authentication."

Please replace "NTLM" to "

[2022-07-14 01:30] markingmyname commented on #95192
#reassign: @code-sidd

[2022-07-14 01:32] markingmyname commented on #93167
#reassign: @markingmyname

[2022-07-14 01:35] RolandlinAKS commented on #95574
Hi @KapilAnanth-MSFT
Sorry for the delay response. I was following the document to do the lab. Let me retry it and check if I made a mistake here.

[2022-07-14 01:44] MonikaReddy-MSFT commented on #95716
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2022-07-14 01:57] pnarsi opened #95739 "Log Analytics Built-in Roles"
In addition to the Monitoring Reader and Contributor roles there are also the Log Analytics Reader and Contributor Builtin roles. The latter two are not mentioned in this article. It would be useful to have a section that explains the Log Analytics roles and when to use them.

There is a separate article that talks about the Log Analytics roles here: https://docs.microsoft.com/en-us/azure/azure-mo

[2022-07-14 02:40] Bashar-MSFT commented on #95622
@Oury-MSFT can you please assign this to @VandhanaMehta as she owns storage from the PM perspective

[2022-07-14 03:52] bgawale commented on #95554
Thanks, good to have this link updated in the source documentation for the reference?

[2022-07-14 03:55] jaredthirsk commented on #34167
It has gotten worse.  Now I get a message at account.microsoftonline.com saying "More information required"  "Your organization needs more information to keep your account secure".

Then it takes me to our favorite phishing fakeout site, windowsazure.com, where in lowercase it says "confirm your current password" "In order to keep your security information private, we need you to re-enter your cur

[2022-07-14 04:01] SwathiDhanwada-MSFT commented on #95739
@Pnarsi Thanks for your feedback.

Assigning to content author @bwren for review.

[2022-07-14 04:02] rikkigouda opened #95742 "Request for the definition of "enough time" for permission changes to replicate."
In the following paragraph:

What is the definition of "enough time"?

We currently have a pipeline that does the following:

- Creates a role assignment on a Storage Account/blob container.
- Waits for 10 seconds. (because of the above information)
- Copies a file onto a blob container.
- Removes the role assignment.

Even with 10 seconds delay - we still face intermittent failures (rooted in RBA

[2022-07-14 04:04] AshokPeddakotla-MSFT commented on #95735
@SillyKeith Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-07-14 04:24] JananiRamesh-MSFT commented on #95228
@dgdel04 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-07-14 04:24] #95228 closed

[2022-07-14 04:33] tamram commented on #95514
@AnvaySingh - it works for both current and previous versions.

[2022-07-14 04:36] kogepanh opened #95744 "Private Endpoints and VNet Integration are available for App Service Basic and Standard SKU"
Private Endpoints and VNet Integration are available for App Service Basic and Standard SKU.

But it is not mentioned in this documentation page.

We are already using VNet Integration and Private Endpoints in the Basic SKU, and it has been mentioned in the team blog.

<https://azure.github.io/AppService/2022/04/14/Enhanced-security-for-basic-sku.html>

Thank you,

---
#### Document Details

⚠ *Do

[2022-07-14 04:37] kobulloc-MSFT commented on #95669
@mariandumitru We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-07-14 04:37] #95669 closed

[2022-07-14 04:41] techsaau commented on #95480
@srinia then it is documented wrong here:

https://docs.microsoft.com/en-us/azure/azure-sql/database/elastic-jobs-tsql-create-manage?view=azuresql#begin-unplanned-execution-of-a-job

check the last query:
-- Execute a specific version of a job (e.g. version 1)
exec jobs.sp_start_job 'CreateTableTest', 1;

[2022-07-14 04:44] bggolding opened #95745 "Don’t understand how to grant app permissions to another app’s scopes"
Where it says:

I don’t know how to do this. I’ve just spent ages trying to work out how and I’m still not confident I’ve done the right thing. I’m concerned if I get this wrong that I my app won’t authenticate correctly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cf702a6-5194-45a9-efdf-2bb3aa88e13c
* Version Inde

[2022-07-14 04:46] jaredthirsk commented on #34167
UPDATE: I followed the instructions here to enable the combined experience and no more of the above with the windowsazure.com domain! (https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-registration-mfa-sspr-combined) Thanks, @tilarso!

[2022-07-14 04:52] shwetamathur7 commented on #95745
@bggolding Thanks for your feedback. We will investigate and update the thread.

[2022-07-14 05:11] v-hgampala commented on #95591
Issue resolved.
#please-close

[2022-07-14 05:18] MayankBargali-MSFT commented on #95736
@willvelida Thank you for your feedback! We will review and update as appropriate.

[2022-07-14 05:33] amanmcse commented on #95742
@rikkigouda Thank you for your feedback. We will investigate and update the thread further.

[2022-07-14 05:34] amanmcse commented on #95738
@henrywang08 Thank you for your feedback. We will investigate and update the thread further.

[2022-07-14 05:45] ShaikMaheer-MSFT commented on #95727
@DeanGross Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-07-14 05:48] ShaikMaheer-MSFT commented on #95731
@mmannion Thank you for sharing feedback.

@ElazarK Could you please validate feedback and update document as appropriate? Thank you.

[2022-07-14 05:58] RolandlinAKS commented on #95574
Hi @KapilAnanth-MSFT
I have setup a testing environment for this issue.
1. Create an AKS cluster and an application gateway in different resource group with different Vnet via Portal, and Vnet are not peering now.
2. Test via the Azure CLI to enable the AGIC addon. Vnet are not peering.
3. Test via the Azure Portal to enable the AGIC addon. Vnet are peering. Disable the AGIC addon, Vnet peering is

[2022-07-14 06:03] SwathiDhanwada-MSFT commented on #95744
@kogepanh Thanks for your comment. We will review the issue and get back to you shortly.

[2022-07-14 06:25] AnuragSingh-MSFT commented on #94835
@rboucher, requesting your response for this issue. Thank you.

[2022-07-14 06:26] #95591 closed

[2022-07-14 06:28] AnuragSingh-MSFT commented on #94819
@andyjballgit, I got confirmation that the "total size of rules within a single Rule Collection Group" -- It is the size of file containing the JSON of rule collection group without spaces. Please let me know if you have any questions.

[2022-07-14 06:29] Givary commented on #95591
@snyms worked with the team, made suggested change and they will reflect into the article within 24 to 48 hrs.

[2022-07-14 06:31] janhurst opened #95747 "MLflow open api spec download link is malformed"
The open api spec download located at https://docs.microsoft.com/en-us/azure/databricks/_static/api-refs/mlflow-2.0-azure.yaml seems to be malformed. It cannot be opened in the ReDoc link either.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cac22d71-488d-ae4f-bcff-ab889e22f8eb
* Version Independent ID: 6d0fed6f-1ded-

[2022-07-14 06:32] tkoenig89 commented on #95506
I stumbled over this as well, but going back to version `2.19.0` (which is reverenced in the docs, as @RamenTurismo stated) or `2.18.0` does not make the specific overload of `AddApplicationInsights` available.

[2022-07-14 06:32] omrigaonms commented on #95342
Hi Gitarani,

Hope you are well.
Kindly update us on this issue.

Looking forward to hear from you.

Thanks,

Omri Gaon, B.Sc.
Support Engineer
Azure Networking
Customer Service & Support
Office:    +972 -77 -938-9592
Email:    ***@***.******@***.***>
Working hours: 9 AM - 6 PM UTC+3 (Sun-Thu)
Need help outside of my working hours?
Locating an Engineer: ***@***.******@***.***>
Managerial Assistanc

[2022-07-14 06:40] ciufudean opened #95748 "The same page appears twice in the TOC"
This page https://docs.microsoft.com/en-us/azure/azure-monitor/app/javascript is mapped twice in the app insights TOC:
1. /.../OpenTelemetry based instrumentation/Javascript/Browser
2. /..../Application Insights SDKs/Javascript/Client-side Javascript

This is confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5

[2022-07-14 06:43] ciufudean opened #95749 "typo"
*All configuration options have been move towards the end of the script.*
replace with *have been moved*

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d56ecb14-9e66-5313-a381-d2824ec3d1e2
* Version Independent ID: ff056ac8-ae76-be10-6895-757333a28e05
* Content: [Azure Application Insights for JavaScript web apps - Azu

[2022-07-14 06:59] VandhanaMehta commented on #95200
@LifeRyuto - you could remove the filter for resource group and run the query. That should help you with the correct result

[2022-07-14 07:06] VandhanaMehta commented on #95200
@markingmyname could you please close this one. No action required from us

[2022-07-14 07:22] bmansheim commented on #95731
#reassign: @bmansheim

[2022-07-14 08:14] adminAsks opened #95751 "JIRA SAML SSO add-on redirects to incorrect URL from mobile browser"
Hi,

we are using Azure Active Directory single sign-on (SSO) integration with JIRA SAML SSO by Microsoft for the past few months.
Everything works seemingly fine on PC browsers, however we encountered an issue certain mobile browsers.
Certain mobile browsers redirect to the incorrect URL on their first sign in.

The URL gets "duplicated" after redirect so it looks like:

- https://jira.bistudio.c

[2022-07-14 08:19] SwathiDhanwada-MSFT commented on #95749
@ciufudean Thanks for the feedback! I have fixed the referenced change, and the change should reflect on the doc within 24 hours. We will now proceed to close this thread.

[2022-07-14 08:43] #95749 closed

[2022-07-14 09:00] #86601 closed

[2022-07-14 09:14] dbollaer commented on #95446
Thank you, I started implementing one myself. The scenario is that we have organisation which we work closely together with. We want to provision their accounts as guest accounts on tenant. So we are using scim as a bridge between our tenants.

[2022-07-14 09:14] nitinkansal1984 opened #95752 "AKS Web App Routing Feature"
@jahabibi

As per documentation this addon is supposed to create 4 deployments:
Nginx ingress Controller: The ingress controller exposed to the internet.
External-DNS controller: Watches for Kubernetes Ingress resources and creates DNS A records in the cluster-specific DNS zone.
CSI driver: Connector used to communicate with keyvault to retrieve SSL certificates for ingress controller.
OSM: A ligh

[2022-07-14 09:28] #95744 closed

[2022-07-14 09:29] SwathiDhanwada-MSFT commented on #95691
@widuan  This channel is mainly used for documentation changes. As there are no further documentation changes, we will close the issue for now. If there are further questions, please revert and we will be glad to assist you.

[2022-07-14 09:29] #95691 closed

[2022-07-14 09:39] MughundhanRaveendran-MSFT commented on #95386
@tspring418 , Sure. thanks for the feedback. We will make the changes to the document

[2022-07-14 09:53] shwetamathur7 commented on #95692
@joelbloch You are getting this error because you have chosen "SPA" under redirect URI which registering the application which enabled PKCE flow and looking for code_challenge parameter which is required to get the access token in PKCE flow. Please update you redirect URI with "Web" as mentioned in the document and you will be able to run the application as specified in the document.

[2022-07-14 09:53] OzBob commented on #95689
@ShaikMaheer-MSFT this is a docs related issue. It is a docs platform related issue. Or did you mean to say i can only raise docs "content" related issues in github?
Thank you for your suggestion on posting it in forums. Which one? Who hosts your docs platform?

[2022-07-14 10:18] angryconsultant opened #95753 "myapps.microsoft.com = only work account"
I'm trying to leave an organization with my personal account but when using the link: https//myapps.microsoft.com it´s stating that i need to login using a work account. According to documentation that link should be for personal accounts

![image](https://user-images.githubusercontent.com/22960234/178960410-7a893072-2166-4e4d-8805-7d801b5efbd7.png)

---
#### Document Details

⚠ *Do not edit this

[2022-07-14 10:20] #95753 closed

[2022-07-14 10:29] ezYakaEagle442 opened #95754 "Add link to Dapr - APIM integration"
In the next steps , could you please add a link to [https://github.com/dapr/samples/tree/master/dapr-apim-integration](https://github.com/dapr/samples/tree/master/dapr-apim-integration)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20dccd8b-f67a-8728-3bb3-f46a0ffdfd40
* Version Independent ID: 3e79e57d-a348-b0d3-cd89-