[2021-03-13 20:06] ecfan commented on #71603
#assign @ecfan

[2021-03-13 20:06] #71603 closed

[2021-03-13 20:10] bryans2k commented on #71909
Also, If anyone else encounters a problem then disabling your Firewall IPS, Web Proxy, and any applicable Azure Conditional policies would help in figuring out the cause.

From: Brinegar, Bryan B
Sent: Wednesday, March 10, 2021 6:54 PM
To: MicrosoftDocs/azure-docs ***@***.***>; MicrosoftDocs/azure-docs ***@***.***>
Cc: Mention ***@***.***>
Subject: RE: [MicrosoftDocs/azure-docs] Is this HTML5 web

[2021-03-14 02:38] SlokaTech-Git opened #72120 "Not clear in Section Configure Azure DevOps and an Azure subscription"
[Enter feedback here]
The Point No 4 is not related to the section Configure Azure DevOps and an Azure subscription. I think it is related to Examine the AKS cluster. This make us confusion. Please check it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5573bc6e-0482-2240-2d07-2d0f54ccf5eb
* Version Independent ID: dc

[2021-03-14 03:13] SlokaTech-Git opened #72121 "Not clear Examine the CI pipeline"
I couldn't find below sections in my portal. Can you give more screenshots? That would help beginners to learn without any confusion.

At the top of the DevOps Starter dashboard, select Build Pipelines. A browser tab displays the build pipeline for your new project.

Point to the Status field, and then select the ellipsis (...). A menu displays several options, such as queueing a new build, pausin

[2021-03-14 04:37] BhargaviAnnadevara-MSFT commented on #72117
@shashishailaj Thanks for the question. We're investigating this and will get back to you shortly.

[2021-03-14 04:42] BhargaviAnnadevara-MSFT commented on #72121
@SlokaTech-Git Thank you for the question. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2021-03-14 04:43] BhargaviAnnadevara-MSFT commented on #72120
@SlokaTech-Git Thank you for the question. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2021-03-14 04:49] BhargaviAnnadevara-MSFT commented on #72119
@tomkuijsten Thanks for the feedback. We're investigating this and will get back to you shortly.

[2021-03-14 04:51] BhargaviAnnadevara-MSFT commented on #72118
@allenh100 Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-03-14 05:06] BhargaviAnnadevara-MSFT commented on #72110
@dmorris6-hub Sure, thanks. I've routed this to the appropriate Team to investigate and update.

[2021-03-14 05:11] BhargaviAnnadevara-MSFT commented on #72109
@andrewatfornax Any further update here?

[2021-03-14 05:46] allanlw commented on #72111
Hi @BharathNimmala-MSFT -- To clarify, this *is* a "doc-enhancement" and not a "product-question". The C# TTS SDK uses this API and is capable of providing the word boundary information to the caller, so clearly it is contained in the response, it is just not documented.

[2021-03-14 05:47] memildin commented on #72091
Hi @colindomoney, thanks for the question.

We have the schemas on their own page which you can find by looking for "Schema" in the search box:

![image](https://user-images.githubusercontent.com/55078580/111058759-4193cc80-8499-11eb-835e-0afe92a426f7.png)

Use the tabs on [that page](https://docs.microsoft.com/en-us/azure/security-center/alerts-schemas?tabs=schema-continuousexport) for the releva

[2021-03-14 05:47] #72091 closed

[2021-03-14 05:52] memildin commented on #72070
Hi <user>, thanks for the feedback and for taking the time to help us improve the docs.

The page you mention has a list which it introduces as "**Some** of the major features of Azure Defender".

Azure Defender includes 9 plans: Azure Defender for servers, Azure Defender for App Service, Azure Defender for Storage, Azure Defender for SQL, Azure Defender for Kubernetes, Azure Defender for containe

[2021-03-14 05:52] #72070 closed

[2021-03-14 05:56] Soyofuki opened #72122 "Typo in the example for adding access policy via ARM"
The parameter name certificatesPermissions is mismatching with that in the access policy template.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2b7f3c4-f1c8-bef4-6b96-c33595705d29
* Version Independent ID: c8da98b4-4d71-ea99-ccae-8d53fdb69cda
* Content: [Create an Azure key vault and a vault access policy by using A

[2021-03-14 06:17] Turbofroggy opened #72123 "Need Powershell Example"
This document needs a Powershell example of how to access Storage with a Managed Identity.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5ce8d88-79ef-1c9a-fd65-167e3ca2f36a
* Version Independent ID: 2c78ff72-b8c6-2b1f-de73-114594a8dbf1
* Content: [Access Azure Storage using a Windows VM system-assigned managed identi

[2021-03-14 07:13] colindomoney commented on #72091
Hi - I'm aware of that page with a sample schema that gives me the format of the alert; however what I am unable to find is the actual values of fields within this alert for specific events here: https://docs.microsoft.com/en-us/azure/security-center/alerts-reference#alerts-windows. For example for "A logon from a malicious IP has been detected" what are the values in the schema for "AlertType", "

[2021-03-14 07:14] BhargaviAnnadevara-MSFT commented on #72122
@Soyofuki Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-03-14 07:19] BhargaviAnnadevara-MSFT commented on #72122
@Soyofuki Thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review. The changes should reflect post the merge.

[2021-03-14 07:19] #72122 closed

[2021-03-14 09:14] BhargaviAnnadevara-MSFT commented on #72123
@Turbofroggy Thanks for the feedback. We're investigating this and will get back to you shortly.

[2021-03-14 11:43] MNF opened #72125 "Provide examples how claims can be validated/verified"
“After you've validated the signature of the ID token, there are several claims that you need to verify”
It will be good if the section had a link to code examples, how individual listed claims can be verified

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c54adceb-9510-aeb5-0c61-c0d052459cda
* Version Independent ID:

[2021-03-14 12:25] motim6026 opened #72126 "B2C custom policy get external azure ad tenant_id in token"
I implemented identification using custom policy to enable identification using azure AD (multi tenant).
My problem is that in the token I need to get the user's original tenant id (not the b2c tenant id) it is possible to do this
let's say that the b2c id is: 2b075fc8-7611-40d1-991b-64e5484ec1f6 and the external user tenant id is 0dbceff2-f2d3-45a7-910a-ffeb1deb0913 i want to get the 0dbceff2-f2d

[2021-03-14 12:41] ScapyArtGroup opened #72127 "ScapyArtGoup/azure"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-03-14 12:56] gilhanan opened #72128 "Azure CLI "delete all deployments older than five days" example uses wrong PowerShell syntax"
Azure CLI "delete all deployments older than five days" example uses wrong PowerShell syntax:
[code]

I think we can use this example instead:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a9c195d-22dc-a381-dedd-b829d6a3e82f
* Version Independent ID: eed3f4f4-98b3-f47e-07d4-d146085cfc68
* Content: [Deployment

[2021-03-14 13:04] jimdigriz commented on #70193
Updating this as if it takes MS more than a month to find out this information, they probably never will.

For others wondering, for the payload it looks like the limits are ~1MiB for uncompressed and ~256kiB when gzip'ed (using `application/x-ndjson`).

[2021-03-14 13:29] BhargaviAnnadevara-MSFT commented on #72127
@ScapyArtGroup Thank you for the question. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2021-03-14 13:32] BhargaviAnnadevara-MSFT commented on #72125
@MNF Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-03-14 13:33] BhargaviAnnadevara-MSFT commented on #72126
@motim6026 Thanks for the question. We're investigating this and will get back to you shortly.

[2021-03-14 13:36] BhargaviAnnadevara-MSFT commented on #72128
@gilhanan Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-03-14 16:13] AnuragSharma-MSFT commented on #71882
@daemel Could you please look into the last comment?

[2021-03-14 16:18] BhargaviAnnadevara-MSFT commented on #72114
@Bigbnz Any further update here?

[2021-03-14 18:47] wolfgz commented on #61644
any update?

[2021-03-14 19:03] malhmoud-MSFT opened #72130 "Article does not have the correct Powershell commands"
Please note that all Powershell tabs on the article represent CLI / Bash commands, and not Powershell commands. Can this be fixed?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cad5909e-e1c6-aa8e-82f1-f2851c1caced
* Version Independent ID: 42292330-aa69-9df0-5bd7-e07c9daed995
* Content: [Tutorial: Use Azure Event Grid

[2021-03-14 19:11] sabuncu opened #72131 "Improve phrasing for built-in Compute role"
Under the **Compute** section, for the role _Classic Virtual Machine Contributor_, the language is somewhat nondescript:

"Lets you manage classic virtual machines, but not access to them, and **not the virtual network or storage account they're connected to.**"

Could be rephrased to remove ambiguity.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-03-14 20:21] epa095 opened #72132 "Clarify the use of managed identity in compute cluster"
In the section "Managed identity usage" it is unclear to me if I *have* to provide the client id, or if it is only in the case when I have a user-assigned identity. If I have a system-assigned managed identity, should I be able to just use the following?
[code]
If that is the case then it should probably be mentioned, since it seems like the easiest way to use the system-assigned managed identity.

[2021-03-14 20:30] epa095 commented on #72132
To clarify, in the AKS/AML section [here](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-use-azure-ad-identity#access-key-vault-from-your-web-service) it uses exactly `DefaultAzureCredential()`, and if that should be possible then it should be mentioned in the compute section as well, and if it is *not* possible then it should be warned, since it is a natural thing to try.

[2021-03-14 22:26] andrewatfornax commented on #72109
https://docs.microsoft.com/en-us/azure/azure-monitor/logs/manage-cost-storage

[2021-03-14 22:26] SlokaTech-Git commented on #72121
https://docs.microsoft.com/en-us/azure/devops-project/azure-devops-project-aks#examine-the-ci-pipeline

[2021-03-14 23:12] Eneuman opened #72133 "Is the new AD Pod Identity supported by az PS modules?"
I couldn't find any information about the PS modules for this?

Does the az PS modules support this preview yet?

ie. Can I create a new cluster using `New-AzAksCluster` ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3c187c0-27f1-11c9-41af-6c65ca36e77e
* Version Independent ID: 249a570b-90ba-4a11-4467-320f0369ec25
*

[2021-03-14 23:41] MoneyMan573 opened #72134 "Login Issue"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 276c38fe-aa72-6afa-23d8-14ff206c6f50
* Version Independent ID: 9ffe59dd-c667-4802-1da0-6917638804c5
* Content: [Common problems with account two factor authentication - Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/user-help/multi-

[2021-03-15 00:02] spelluru commented on #72130
@mhopkins-msft - could you please look into it? I am looking at the history and these changes came from the commit:

https://github.com/MicrosoftDocs/azure-docs/commit/9c95afb0af83df61f70cc5400269f6f9800f1356#diff-8ab3465c782e1959acc26ae13acd1756a112de64a8a17947c32e9e0f00addb2b

Thanks

[2021-03-15 00:14] enaess commented on #67478
The code in source depot of network-manager-sstp should now work with sstp-client and connecting to Azure VPN Gateway.

[2021-03-15 00:29] Tonnacloud opened #72135 "Challender"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 779fbece-f67b-28ef-143e-f58ecfa29b1d
* Version Independent ID: fe532684-022f-9006-9179-c534fd923171
* Content: [Azure VPN Gateway: About VPN devices for connections](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-vpn-devices)
* C

[2021-03-15 00:45] PingPongSet opened #72136 "Example of multiple apps using ASP.NET Core and Helm"
Is it possible to provide an example of multiple apps using ASP.NET Core and Helm

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65f634bf-2280-a093-5897-724310dafa2d
* Version Independent ID: f11c0af7-bfaf-6d64-2c75-9015b0eb1f30
* Content: [Kubernetes on Azure tutorial  - Prepare an application -

[2021-03-15 01:20] MonikaReddy-MSFT commented on #72135
Thanks for brining this to our attention.
 Can you please share with us more info on the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-03-15 02:47] VikasPullagura-MSFT commented on #72136
@PingPongSet
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-03-15 02:47] VikasPullagura-MSFT commented on #72136
@mlearned  @zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2021-03-15 02:53] wukun2015 opened #72137 "Does Speech service billing endpoint support IPv6?"
Hello,

Customer is using speech container product and their network infrastructure is going to upgrade from IPv4 to IPv6 only.

Per [speech container config how-to](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-container-howto?tabs=stt%2Ccsharp%2Csimple-format#billing), billing endpoint has to be configured but it seems not IPv6 supportive. Below is ping test res

[2021-03-15 03:12] JayaChatterjee-MSFT commented on #71733
@craigshoemaker could you please review and confirm?

[2021-03-15 03:36] zilingxie98 opened #72138 "slow query log configuration"
Hi team,

Would you also give some instruction about "long_query_time" parameter when enabling slow query log please? Sometimes default 10s is not applicable for all the situations but some customer may not notice. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 131b90e6-7d8a-8824-1186-8557979c614a
* Version Ind

[2021-03-15 03:37] savjani commented on #72138
Adding @Bashar-MSFT to help with this

[2021-03-15 03:42] MayankBargali-MSFT commented on #71925
@sijucm Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-03-15 03:42] #71925 closed

[2021-03-15 04:17] BhargaviAnnadevara-MSFT commented on #72109
@andrewatfornax Thank you for the response. I've routed this to the appropriate Team to investigate and update.

[2021-03-15 04:23] BhargaviAnnadevara-MSFT commented on #72121
@SlokaTech-Git Thank you for the response. We're investigating this and will get back to you shortly.

[2021-03-15 04:24] BhargaviAnnadevara-MSFT commented on #72127
@ScapyArtGroup Could you please elaborate on the feedback you intend to provide along with the MS doc URL?

[2021-03-15 04:32] KrishnaG-MSFT commented on #71833
At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now.
If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2021-03-15 04:32] #71833 closed

[2021-03-15 04:43] SubhashVasarapu-MSFT commented on #71763
@DL444, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-03-15 04:43] #71763 closed

[2021-03-15 04:47] KalyanChanumolu-MSFT commented on #72119
@deborahc I can't find the document explaining internals of partitioning.
Please do the needful.

[2021-03-15 04:51] ram-msft commented on #72132
@epa095 Thanks for the feedback! We will review and update accordingly.

[2021-03-15 04:52] ram-msft commented on #72137
@wukun2015 Thanks for the question. We are investigating the issue and will update you shortly.

[2021-03-15 04:53] MarileeTurscak-MSFT commented on #72131
@sabuncu
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-15 04:57] SaiKishor-MSFT commented on #72045
@RonnieQuan Great article! Thanks for sharing.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue. Thank you!

[2021-03-15 04:57] #72045 closed

[2021-03-15 05:09] inknochen opened #72139 "Subscriptions per Azure Active Directory tenant Unlimited // Wrong"
There's no hierarchy between them. When you create a tenant, that tenant won't have a subscription created, unless you do that. One Subscription can only be tied to one tenant.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36f49a06-90b1-cbe1-3853-2c38277b79f8
* Version Independent ID: 02ff6f6c-3ef6-b48f-060d-b290419e0

[2021-03-15 05:11] MarileeTurscak-MSFT commented on #72131
Thanks! I made a pull request to update the language around both of the VM contributor roles.

[2021-03-15 05:11] #72131 closed

[2021-03-15 05:27] SubhashVasarapu-MSFT commented on #71905
@TheAnahaym, Apologies for the delay in response. This is mentioned to be one of the vulnerable spots. But Azure do provide ability to customers to limit the sources which can utilize this rule.

[2021-03-15 05:51] SadiqhAhmed-MSFT commented on #72007
@raisingcode We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2021-03-15 05:51] #72007 closed

[2021-03-15 05:52] SadiqhAhmed-MSFT commented on #72007
@raisingcode We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2021-03-15 05:58] RohitMungi-MSFT commented on #72025
@crisansou Thanks. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-03-15 05:58] #72025 closed

[2021-03-15 06:10] PramodValavala-MSFT commented on #72063
@jaehyunshinML Just following up here... Hope my previous comment clears things up.

[2021-03-15 06:19] dominicbetts commented on #21684
Hi @tomiwijaya - you can use the continuous data export feature in IoT Central to export data to blob storage. The following Learn module describes how to use data in blob storage with Azure Machine Learning: https://docs.microsoft.com/en-gb/learn/modules/work-with-data-in-aml/

[2021-03-15 06:23] karlochacon opened #72140 "How Spokes can browse internet from Azure Firewall"
hi guys

is this step by step is will the VMs in the Spoke vNet access internet through the Azure Firewall? or only on premises configuration is allowed and something else need to be add to filter and applies rules to VMs in Spoke vNet?

if so please add a section as optional to allow internet browsing from Spoke vNet using Azure Firewall instead of native internet traffic that you get by default

[2021-03-15 06:40] jaehyunshinML commented on #72063
![Screen Shot 2021-03-12 at 2 59 07 pm (1)](https://user-images.githubusercontent.com/43566021/111113124-667d6200-85b5-11eb-92a9-d8900db6283d.png)
I am using a Linux machine for the azure function. I do not have an option for Bitbuket as you can see the screen shot.

[2021-03-15 06:47] linda33wj commented on #71815
@AndyWDev Thanks for the feedback. The later "[Install NuGet packages](https://docs.microsoft.com/en-us/azure/data-factory/quickstart-create-data-factory-dot-net#install-nuget-packages)" section describes the steps to install the dependent packages. "Azure .NET SDK" section is a bit misleading that we will remove it to avoid confusion.

[2021-03-15 06:57] SadiqhAhmed-MSFT commented on #72139
@inknochen Thank you for your post!

I agree with you point "_When you create a tenant, that tenant won't have a subscription created, unless you do that. One Subscription can only be tied to one tenant_." This doc - https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-how-subscriptions-associated-directory#:~:text=An%20Azure%20subscription%20has%20a,users%2C%20ser

[2021-03-15 06:59] ggailey777 commented on #71997
@DmytroVas thanks for letting us know about the discrepancy between the screenshot and the current experience. We'll work to get that updated.

I'm not able to reproduce the UI that you are seeing. How did you create your function app? Did you choose a language?

[2021-03-15 07:41] jitendraRai opened #72141 "Customer is looking Azure B2C example on RUST langauge"
Reference is :- https://stackoverflow.com/questions/66592165/is-there-an-azure-ad-b2c-sample-app-written-in-rust

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b173931-43e9-e281-8208-1246213e4cb5
* Version Independent ID: e815eca7-9f19-b5c9-f99c-7991ec3f02a5
* Content: [Use Azure Cache for Redis with Rust](https://doc

[2021-03-15 07:58] pvrk commented on #71601
Sorry for the delay. [This document](https://docs.microsoft.com/azure/virtual-network/virtual-networks-udr-overview#default) explicitly mentions that data between Azure services always flows via Azure backbone. Public IP access is still required for command traffic/network traffic. In this case, your Azure firewall should be configured relevant service Azure firewall tags (Backup, AAD, Storage)

[2021-03-15 07:59] pvrk commented on #71601
@dimilider : Please note.

[2021-03-15 08:01] methorst opened #72143 "Why are the names of the apps not mentioned in this page?"
A lot of explanation in this page, but the most importent thing is missing. Which apps can i use (the name in the stores)?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42fff764-77f2-2878-f27f-867c71d9a8fc
* Version Independent ID: 669c3568-eedc-f959-01d6-fcde93b9daaa
* Content: [Configure app p

[2021-03-15 08:07] jacquest74 commented on #52663
Hi everyone,

I found a workaround with a customer where I got the same error. It seems there is some sort of policy on the environment preventing the Get-AzRoleAssignment from running properly so I then hashed out the following section (as it is merely a check for permissions) and then it ran successfully (Mine was lines 81 - 85):

# Get the Role Assignment of the authenticated user
$RoleAssignme

[2021-03-15 08:09] inknochen commented on #72139
Yes, the doc is confusing for the students. Most of them consider there's a
hierarchy between the two and also the statement that you can have
Subscriptions per AAD is incorrect, you can make a Subscription trust AAD
Tenant which for me is not the same. Maybe we can clarify that, like saying
Subscription *trust* to AAD Tenant / *ONE*
Subscriptions that can trust a single AAD Tenant / Unlimited

I

[2021-03-15 08:44] crgarcia12 opened #72144 "Ubuntu 20 is supported for Gen2"
[Enter feedback here]
Ubuntu 20 is also supported in [here](https://docs.microsoft.com/en-gb/azure/virtual-machines/generation-2#generation-2-vm-images-in-azure-marketplace)

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 940f5217-9f40-0563-27d2-d9e7f7e42005
* Version Independent ID: e088e366-77aa-6358-2540-2c937c6474ec

[2021-03-15 08:49] michalchecinski opened #72145 "Cannot find Microsoft.RecoveryServices/vaults/backupstorageconfig"
I cannot find definition for `Microsoft.RecoveryServices/vaults/backupstorageconfig`, which is failing to deploy with error: `resourceName parameter is invalid. Please provide a valid resourceName`. So it looks like this resource couldnot be found on the Azure REST API.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0

[2021-03-15 09:05] SadiqhAhmed-MSFT commented on #72145
@michalchecinski Thank you for your post. We will look into it and get back to you soon.

[2021-03-15 09:17] SadiqhAhmed-MSFT commented on #72139
@inknochen **This** may again be confusing to other Azure users who may be going through the doc.
**Subscription *trust* to AAD Tenant / *ONE*
Subscriptions that can trust a single AAD Tenant / Unlimited**

You may have to read it twice to better understand the statement - "Multiple subscriptions can trust the same Azure AD directory. Each subscription can only trust a single directory."

As per m

[2021-03-15 09:24] m1ghtym0 opened #72148 "Bug in SGX AKS Webhook"
I'm not sure what changed in the SGX AKS Webhook but today my deployments started failing and here is what I found:

1. My deployment contains a mutating admission webhook: https://github.com/edgelesssys/helm/blob/main/marblerun-coordinator/templates/marble-injector.yaml
2. The pod for this deployment was not created, when inspecting the replicaset it said:
[code]
3. Checking the logs of the sgx-w

[2021-03-15 09:29] yjin81 commented on #71881
@bbrandt , I think there are 2 scenarios you may have this issue:
1. Your OS does not have the support TLS version (1.2+). In this case, you need to upgrade your OS to get latest updates, e.g. Windows Update.
2. The default TLS of your OS is not supported. In this case, I think you need to either change the default TLS with OS settings ([example](https://support.microsoft.com/en-us/topic/update-to

[2021-03-15 09:38] dcblakesley opened #72149 "Usage"
I'm using v4.  I spent hours trying to pass in json without it working.  Here's what finally worked.

var queryText = "SELECT * FROM c WHERE c.A = @userId ";
var queryDefinition = new QueryDefinition(queryText);
queryDefinition.WithParameter("@userId", "97a611aa-b894-42fa-9934-e957bf272466");
...
await foreach (var contact in _contactsContainer.GetItemQueryIterator<Contact>(queryDefinition)){}

--

[2021-03-15 09:39] DmytroVas commented on #71997
Hi Glenn.
Yes, when I created the function app I choose "Powershell" as a language, then created first function. at the time my UI was exactly as shown on the webpage.

Now it looks like this:

and there's no Powershell triggers whatsoever.
Happy to do Teams call.

    On Monday, 15 March 2021, 06:59:38 GMT, Glenn Gailey ***@***.***> wrote:

@DmytroVas thanks for letting us know about the discrepa

[2021-03-15 09:39] AnishJS opened #72150 "Missing reference to resource group naming following pattern"
The documentation should ideally reference:
https://docs.microsoft.com/en-us/azure/backup/backup-during-vm-creation#azure-backup-resource-group-for-virtual-machines

Where it states the resource group should have the naming convention as follows:
alpha-numeric string * n alpha-numeric string

This will help future users to not get confused.

---
#### Document Details

⚠ *Do not edit this section.

[2021-03-15 09:43] sriram-cloudadmin opened #72151 "adaptive-network-hardening"
Hi guys,

I would like to know, If there is any other option for fixing Adaptive network hardening recommendations should be applied on internet facing virtual machines. The fix i got to know is we have to update the Azure Security center from free to standard tier. please let me know if any other solution is available

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2021-03-15 09:45] shashishailaj commented on #72133
@Eneuman Thank you for your query. We will investigate and update the thread.

[2021-03-15 09:48] ShachafGoldstein commented on #60590
https://dev.to/superjohn140/azure-alerts-secure-webhook-azure-functions-with-authentication-364

This helped me when I landed here

[2021-03-15 10:17] JayaChatterjee-MSFT commented on #71820
For HTTPS, its not possible but you could just use their Internal CA / Root, which is the way to go for internal applications.  You can check this : https://docs.microsoft.com/en-us/azure/app-service/configure-ssl-bindings#add-a-certificate-for-custom-domain
However, this is not a documentation issue hence we will be closing it, you can post it on Microsoft QnA forum.

[2021-03-15 10:17] #71820 closed

[2021-03-15 10:26] shashishailaj commented on #72134
@MoneyMan573 Thank you for your engagement on azure-docs repo. We use this repository for gathering feedback on documentation improvement from customers.  We are sorry for the inconvenience you have to face due to the login issue. Since your's is an issue which may require troubleshooting in all probability , I would like to suggest you to open a thread on our forum [Microsoft QnA](https://docs.mi

[2021-03-15 10:28] shashishailaj commented on #72143
@methorst Thank you for your feedback . We will engage the content team to review this request and see how best we can update this document.

[2021-03-15 10:30] shashishailaj commented on #72144
@crgarcia12 Thank you for pointing this out. We will have this reviewed and update the thread.

[2021-03-15 10:31] shashishailaj commented on #72148
@m1ghtym0 Thank you for your query on this. We will investigate and update the thread.

[2021-03-15 10:44] flatrixnet commented on #14413
Looks Like this problem is happening again
Log Analytics data to a dashboard is not available as described on documentation
![image](https://user-images.githubusercontent.com/1478089/111141245-3ca74980-857b-11eb-9357-37dacafeb1f3.png)

[2021-03-15 11:24] shashishailaj commented on #72151
@sriram-cloudadmin Thank you for your feedback . We will investigate and update the thread.

[2021-03-15 11:29] ksgopal4 commented on #71933
Thanks for testing this @ssivas. I am still getting the same issue, please see screenshots. Please note I am using ASP.NET Core .NET 5 project template and I have 'read directory data' not selected (default) .

![image](https://user-images.githubusercontent.com/17493643/111146446-5c417080-8581-11eb-9320-6f5ae6db1357.png)

this results in

![image](https://user-images.githubusercontent.com/17493643

[2021-03-15 11:31] shashishailaj commented on #72140
@karlochacon Thank you for your feedback . We will investigate and update the thread.

[2021-03-15 11:31] craigshoemaker commented on #71733
just signed off on [PR 149511](https://github.com/MicrosoftDocs/azure-docs-pr/pull/149511)

[2021-03-15 11:46] kamfaima opened #72154 "Confusion between Azure Data Box physical or virtual offerings"
I think there is some confusion over the deployment methods Azure Data Box is available.

Under the main heading of **What is Azure Data Box Gateway?** (https://docs.microsoft.com/en-us/azure/databox-gateway/data-box-gateway-overview) in the second paragraph it says:

While under **Region Availability** (https://docs.microsoft.com/en-us/azure/databox-gateway/data-box-gateway-overview#region-availa

[2021-03-15 12:10] MNF opened #72155 "Can policy from one tenant derive from other tenant’s policy?"
The last example of the page has base policy with     `<TenantId>yourtenant.onmicrosoft.com</TenantId>`
But in derived policy TenantId="mytenant.onmicrosoft.com" is different.
[code]
Is it an error , and they must be the same, or it is really supported to refer from one tenant’s policy to other tenant’s policy?
This support will be great and allow to share custom policies  between development and

[2021-03-15 12:33] ecerulm opened #72156 "typo: onpremisessamaccount -> onpremisessamaccountname"
It says `onpremisessamaccount` but it should be `onpremisessamaccountname`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d362c1b5-1460-4de9-c53d-f0ec1ef07742
* Version Independent ID: 9dc0a4df-81c8-13eb-720f-f589a3712e42
* Content: [Customize app SAML token claims - Microsoft identity platform](https://docs.microsoft.

[2021-03-15 12:35] lonevvolf opened #72157 "Changing Location header does nothing for the ARRAffinity issue"
The main suggestion to change the Location header does absolutely nothing for the ARRAffinity issue.  How would that help?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aacd2683-3d38-ac23-22bb-fadd39d16dcc
* Version Independent ID: 0eef0b80-ee12-958f-cbf3-e35ab8e7e535
* Content: [Troubleshoot redirection to App Servic

[2021-03-15 12:36] yoelhor commented on #72126
Hi,

The Azure AD `tid` claim contains the federated tenant ID (not the B2C one).

[code]

If you want to store the value in another claim. First define such a claim:

1. Open the extensions file of your policy. For example, SocialAndLocalAccounts/TrustFrameworkExtensions.xml.
2. Search for the BuildingBlocks element. If the element doesn't exist, add it.
3. Locate the ClaimsSchema element. If the

[2021-03-15 12:43] kireque commented on #66817
+1
I am facing the same issue. Documentation is not clear / incorrect.

SPN value can be added the to attribute servicePrincipalName, but I do not have an option to change te password.
Please correct documentation appropriately

[2021-03-15 12:46] yoelhor commented on #72125
Dear @MNF,

Most of the open-source libraries that apps use (for both mobile or web) do the token validation for you automatically. Is there any reason you want to validation the token manually? If yes, which claims you want us to elaborate on?

Yoel

[2021-03-15 12:46] #72155 closed

[2021-03-15 12:48] yoelhor commented on #72155
Thanks for your feedback @MNF! It's impossible to inherit from another tenant. I have fixed the document. Will be published later today.

Yoel

[2021-03-15 12:51] Tiberriver256 opened #72158 "Missing documentation: How does policy inheritance work?"
I have the same policy with a slightly different configuration at the global, product, API and endpoint policy layers. How do they work together? Does one override the other? How does the 'Calculate effective policy' work?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 250924d9-418b-9a24-90fe-5b3835c3b2a7
* Version Ind

[2021-03-15 12:53] Pesonet1 commented on #14413
Currently facing same problem as @flatrixnet

[2021-03-15 12:56] ticoncei opened #72159 "DataUri Page layout versions differ between documents"
When reviewing the B2C content definitions documented and specifically the section for page layout migration: https://docs.microsoft.com/en-us/azure/active-directory-b2c/contentdefinitions#migrating-to-page-layout

Here we're told to change the data Uri values, to use '**contract**' as well as the version **1.2.0**:
 _<ContentDefinition Id="api.localaccountsignup">
    <DataUri>urn:com:microsoft:a

[2021-03-15 12:56] michael-freidgeim-webjet commented on #72125
@yoelhor , from the wording in the document I assumed that it is developers responsibility to implement all validations.
“After **you've validated** the signature of the ID token, there are several claims that **you need to verify**”

It will be good to rephrase the text and mention that “the open-source libraries that apps use (reference to list of such libraries will be appreciated) do the token

[2021-03-15 12:58] KalyanChanumolu-MSFT commented on #72141
@jitendraRai There is a code sample [here](https://github.com/Azure-Samples/azure-redis-cache-rust-quickstart) that demonstrates use of Azure Cache with Rust.
Could you please elaborate what you mean by Azure AD B2C sample? Are you looking for managed identity integration with Azure Cache?

[2021-03-15 13:03] KalyanChanumolu-MSFT commented on #72149
@dcblakesley Thank you for reaching out and taking the time to provide feedback.
Documentation on the page targets v3 SDK since v4 is currently in preview.
Once v4 is generally available, we will make updates to the SDK documentation wherever applicable.

[2021-03-15 13:12] jmprieur commented on #71242
#please-close

[2021-03-15 13:14] GitaraniSharma-MSFT commented on #71936
@akshaymatmicrosoft , We have assigned this issue to the respective product owner for updating the doc accordingly.

@RamanDhillon , as per your email discussion with @akshaymatmicrosoft & @sumeetmittal on ICM 229258739, request you to make the necessary changes to the doc.

[2021-03-15 13:44] Leonardo-Ferreira commented on #71820
@JayaChatterjee-MSFT that is precisely my point, I don't want HTTPS, im fine with regular http!

[2021-03-15 13:44] elvirk opened #72161 "Can Resource Provider be register with ARM Template?"
[

Can ARM Template be used to register Resource Provider?
]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e0f4357-f70d-c3b7-5107-5dd4c1430efc
* Version Independent ID: 84c23960-2831-bc9f-7bbe-33e751a19ad2
* Content: [Resource providers and resource types - Azure Resource Manager](https://docs.microsoft.com/en-us/azu

[2021-03-15 13:46] AmitFidler commented on #56636
Hi, wanted to ask the same question about driveId / subscriptionId.
both of them are registred as : Unique identifier for the subscription. Read-only.
but is it unique across tenants?
thanks!
Amit

https://docs.microsoft.com/en-us/onedrive/developer/rest-api/resources/drive?view=odsp-graph-online
https://docs.microsoft.com/en-us/graph/api/resources/subscription?view=graph-rest-1.0

[2021-03-15 14:10] ram-msft commented on #72011
@annarailton Thanks, Can you please add more details about the error that you are facing.

Please follow the below doc to deploy using Azure CLI.

https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-azure-kubernetes-service?tabs=azure-cli#using-the-cli

[2021-03-15 14:12] v-amallick commented on #71657
The document is is updated with the information.
https://docs.microsoft.com/en-us/azure/backup/backup-architecture#architecture-direct-backup-of-on-premises-windows-server-machines-or-azure-vm-files-or-folders

[2021-03-15 14:17] tiny-dancer commented on #27485
+1, it would be extremely valuable if these docs have a clear front and center documentation of geo-restore, point in time restore and import support across sku's  (hyperscale, business critical) and regions.  The trial and error approach has consumed an unfortunate amount of time and ultimiately we do find snippets through out the documentation however a single clear location across the 3 would b

[2021-03-15 14:27] GiftA-MSFT commented on #72084
@trevorbye it seems [User-Agent](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/rest-text-to-speech#request-headers-1) should be "Optional". Can you please confirm if we can update?

[2021-03-15 14:31] AgribotGit opened #72163 "Clarify what "API endpoint" is and where to get it"
The instructions and code snippet says ....
 Replace with valid values
ENDPOINT = "<your API endpoint>"
training_key = "<your training key>"
prediction_key = "<your prediction key>"
prediction_resource_id = "<your prediction resource id>"

But ...
Nowhere do the instructions explain what the "API endpoint " is , and where to get it.
There are several endpoints for different things ;- resource ?? r

[2021-03-15 14:32] ram-msft commented on #72061
@jinchad Thanks, Could you please share .yml file to check on this.

[2021-03-15 14:41] zaalion opened #72164 "AuthenticationException: The remote certificate is invalid according to the validation procedure."
[Enter feedback here]

Hello,

I followed all the steps in the documentation (including steps 1 and two). However, I get the following error when running the .NET code.

AuthenticationException: The remote certificate is invalid according to the validation procedure.

Could you help please?

Thanks,
Rez
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-03-15 14:47] #71602 closed

[2021-03-15 14:48] sdgilley commented on #71602
@lostmygithubaccount - let's sync up to go over what Ray references should be removed.

[2021-03-15 15:02] CGiardino opened #72165 "Tomcat 9: migration from Active MQ to Azure Service Bus"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5c54bf2-d022-fe32-7343-89241511875d
* Version Independent ID: 1eb62e81-5032-75b2-2fd8-445fece55660
* Content: [Migrate Java Message Service (JMS) applications from Apache ActiveMQ to Azure Service Bus - Azure Service Bus](https://docs.microsoft.com/en-us/azure/service-bus-

[2021-03-15 15:07] spelluru commented on #48341
Response from our dev:
Delivery to Azure functions works using the client secret. Behind the scenes, the Event Grid is fetching the client secret for the target function. If a customer protects their azure function with AAD application, they have to take the generic ‘web hook’ approach. In the documentation page, we probably have to call this out explicitly.

I will add a note to the article. Than

[2021-03-15 15:07] #48341 closed

[2021-03-15 15:07] bertrandpons opened #72166 "Clarification about permissions to grant to access Azure File Shares from Azure Storage Explorer"
Hello,

Could you please clarify the permissions needed to allow azure file shares access to Azure AD user from Azure Storage Explorer. I would like to grant access to Azure File Shares only, not containers, queue or tables.

Thank you for your help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0d85386-ebaa-b58c-eae

[2021-03-15 15:10] MonikaReddy-MSFT commented on #72135
@Tonnacloud - Thanks for brining this to our attention.
Can you please share with us more info on the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-03-15 15:20] inknochen commented on #72139
I'm telling you that I as a trainer have to do that clarification every
time to students. So I believe the current state is less than clear. Just
my two cents

Regards
Ilan

On Mon, Mar 15, 2021, 02:17 SadiqhAhmed-MSFT ***@***.***>
wrote:

[2021-03-15 15:21] yoelhor commented on #70065
Hey @locktar the article has been updated last week. Please [see the changes](https://github.com/MicrosoftDocs/azure-docs/commit/bde2cf39ee13efccc78b07bef38f4a375e2dc7b2#diff-21893e57729812d675c1fc1e6fc8e37c24f4c885070be494dc36096bb44d18e6).

Yoel

[2021-03-15 15:30] LockTar commented on #70065
Thanks @yoelhor. The text is much clearer. Sample could be updated but it is already much better.

[2021-03-15 15:38] davidsmatlak commented on #72128
#assign:davidsmatlak

[2021-03-15 15:45] mimckitt commented on #72042
I am going to close this for now. If you have further feedback just let us know.

#sign-off

[2021-03-15 15:45] #72042 closed

[2021-03-15 15:46] mimckitt commented on #71080
#reassign: @psmanhas

@psmanhas  reach out to the author of this doc. I do not work with DevOps much. Seems you might want to reach out offline as the GitHub alias is no longer valid

[2021-03-15 15:54] JamesTran-MSFT commented on #72159
@ticoncei
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-15 15:55] JamesTran-MSFT commented on #72156
@ecerulm
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-15 15:55] HWidforss opened #72167 "Not possible to change "license-type" for an existing database through Azure CLI"
The page (https://docs.microsoft.com/en-us/azure/azure-sql/azure-hybrid-benefit?tabs=azure-cli) mentions that you can change your vCores database `license-type` using the Azure CLI. However the `license-type` option is only available for `az sql db copy`, `az sql db create` and `az sql db restore`, and it is not available for `az sql db update`.
Consider changing the information on the page, and I

[2021-03-15 16:01] JeissonL commented on #71952
I'm pending to your comments. Thank you so much.

[2021-03-15 16:01] KrishnaG-MSFT commented on #72161
@elvirk Thanks for your comment! We will review and provide an update as appropriate.

[2021-03-15 16:02] KrishnaG-MSFT commented on #72150
@AnishJS Thanks for the feedback.
Assigning @v-amallick for visibility, review and document enhancement consideration if appropriate.

[2021-03-15 16:04] mmacy commented on #71871
@JamesTran-MSFT can you retitle this issue to something more descriptive? Maybe:

### Request: repository of verified applications that support this front-line worker feature

[2021-03-15 16:04] allanlw opened #72168 "Discrepancy between host.json log filters and dotnet log filters should be documented"
Having failed to understand this and spent a while figuring it out, I would like to save someone else the pain.

E.g. Attempting to get logs at trace level, setting a log filter in `host.json` does not work:

[code]

Instead you must do:
[code]

Same with the `"default": "Trace"` key and `logging.SetMinimumLevel(LogLevel.Trace)`, although the latter causes my function to not start correctly and ti

[2021-03-15 16:05] zabielsz commented on #35923
Hi @kromerm
Is there any update? I'm using self-hosted IR to connect to Snowflake. Because of lack of support of self-hosted IR in Data Flow, seems like ADF is no good in my case.

[2021-03-15 16:11] mabushaireh opened #72169 "sqoop version on HDI 4.0 now is 1.5.2 as per my recent cluster created"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c8918ad-1e5e-7c35-c0cc-40553544c6fb
* Version Independent ID: 8173044c-4690-9514-f995-6df7fcacc2a7
* Content: [Apache Hadoop components and versions - Azure HDInsight 4.0](https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-40-component-versio

[2021-03-15 16:12] yoelhor commented on #72159
Good point @ticoncei. I'm updating the migration section to use the lates version.

[2021-03-15 16:17] JamesK3 commented on #72006
Slight correction/additional information, looks like the command works fine as-is when outside of 'interactive' mode; however, when using az CLI with '--interactive'

[code]

[2021-03-15 16:17] shakedGraitzer opened #72171 "Pagination and parameterized are the same page"
this page (parameterized-queries page) is shown whether the pagination page or the parameterized-queries page is selected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4787bd5-5e70-c491-0772-5158de8b8624
* Version Independent ID: cb34b3f3-4dcb-0c98-ace5-1da73b2259bc
* Content: [Parameterized queries in Azure Cosmos

[2021-03-15 16:20] ArminEberle opened #72172 "az command not having a similar result like in the docs"
Dear page editors,

I landed on the given page due to CVE-2021-27075 .
The page tells me I should check my Kubernetes Node version using this command:

'
[code]
In the output you can see the `latestNodeImageVersion` like on the example below:
'

However, when I issue this comand, i do not get a latestNodeImageVersion attribute as result, I only get:

[code]

which renders me clueless on how to pro

[2021-03-15 16:21] YutongTie-MSFT commented on #72163
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-15 16:22] tfitzmac commented on #72139
@inknochen - thanks for this feedback. I can see the need to clarify that there is not a hierarchical relationship. I am going to use the term "associate" which comes from the [AAD article](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-how-subscriptions-associated-directory). And, I'll link to that article for more details. I think trying to go into those de

[2021-03-15 16:26] rohitnayakmsft commented on #67801
#please-close

[2021-03-15 16:26] #67801 closed

[2021-03-15 16:27] rohitnayakmsft commented on #68752
#please-close

[2021-03-15 16:27] #68752 closed

[2021-03-15 16:28] rohitnayakmsft commented on #68966
#please-close

[2021-03-15 16:28] #68966 closed

[2021-03-15 16:29] rohitnayakmsft commented on #69598
#please-close

[2021-03-15 16:29] #69598 closed

[2021-03-15 16:29] rohitnayakmsft commented on #69872
@AnuragSharma-MSFT please redirect this to Synapse team

[2021-03-15 16:30] KranthiPakala-MSFT commented on #72169
@mabushaireh
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-03-15 16:31] rohitnayakmsft commented on #71343
@KalyanChanumolu-MSFT The link was pointing to https://gallery.technet.microsoft.com/scriptcenter/Start-and-End-IP-addresses-bcccc3a9 which is now dead. Can you please track down where this script is now hosted and update the link ?

[2021-03-15 16:33] tfitzmac commented on #72139
The update has been merged and should be published later today.
#please-close

[2021-03-15 16:33] #72139 closed

[2021-03-15 16:35] rohitnayakmsft commented on #71740
This is by design. The connection is created ( or deleted) from the Networking side. On Sql DB ( or any linked resource), Approve or Reject is the only option available - and once selected it cannot be reverted.

[2021-03-15 16:35] rohitnayakmsft commented on #71740
#please-close

[2021-03-15 16:35] #71740 closed

[2021-03-15 16:37] tfitzmac commented on #72128
That example is for Azure CLI. By default, we use Bash syntax for CLI examples.
#please-close

[2021-03-15 16:37] #72128 closed

[2021-03-15 16:53] JamesTran-MSFT commented on #72002
@harald-quist-stratsys
I just wanted to check in and see if you had any other questions or if you were able to resolve this issue?

[2021-03-15 16:54] tfitzmac commented on #72161
@elvirk - a template can't explicitly register a resource provider, but the registration happens automatically when you deploy an ARM template that contains a resource from a resource provider that isn't registered. For some reason, I added that detail to [another article](https://docs.microsoft.com/azure/azure-resource-manager/management/azure-services-resource-providers#registration) but not thi

[2021-03-15 16:57] rfcdejong commented on #32277
I didn't find it in any documentation, gladly this post exists so I resolved the issue by giving rights to the account on an instance I didn't even know it existed on the sql server

[2021-03-15 16:57] JamesTran-MSFT commented on #72017
@Toasty66
Thank you for your time and patience! I received a response from our engineering team and will post it below.

**Update:**
The only way to get this information is either through password last change in Azure AD or looking at the value of pwdlastset attribute for users in Azure AD Domain Services.

Since there's no way to determine which accounts have the required hashes, and which don't

[2021-03-15 16:57] #72017 closed

[2021-03-15 16:58] yoelhor commented on #72125
Thanks, I'm fixing the document, and closing this issue.

[2021-03-15 17:04] bbrandt commented on #71881
I have SignalR service sending and receiving messages now.  I did not have to change the TLS setting.

My issue getting messages to SignarR Service was that I was using a user id containing a `/`, which is not supported by the SignalR Management SDK.  I suspect it didn't work because it uses the userid in the URL without encoding it, which causes a 404.  This limitation does not seem to be documen

[2021-03-15 17:04] JnHs commented on #62225
Hi @collins-emetonjor - apologies for the extremely long time to respond to this issue, and thank you for raising it. We've updated the script in the topic accordingly.
I'm going to close this issue now, but please let us know if you have additional feedback or problems with this script. Thank you!
#please-close

[2021-03-15 17:04] #62225 closed

[2021-03-15 17:04] JnHs commented on #63005
Hi @rharris-hs - apologies for the extremely long time to respond to this issue, and thank you for raising it. We've updated the script in the topic accordingly.
I'm going to close this issue now, but please let us know if you have additional feedback or problems. Thank you!
#please-close

[2021-03-15 17:04] #63005 closed

[2021-03-15 17:05] JnHs commented on #63422
Hi @paramrsingh - apologies for the extremely long time to respond to this issue, and thank you for raising it. We've updated the script in the topic accordingly.
I'm going to close this issue now, but please let us know if you have additional feedback or problems. Thank you!
#please-close

[2021-03-15 17:05] #63422 closed

[2021-03-15 17:05] mmacy commented on #72118
#reassign:hamiltonha

[2021-03-15 17:05] tfitzmac commented on #72161
The update should be published later today.
#please-close

[2021-03-15 17:05] #72161 closed

[2021-03-15 17:06] JnHs commented on #64152
Hi @silverdrake11 - apologies for the extremely long time to respond to this issue, and thank you for raising it. We've updated the script in the topic accordingly.
I'm going to close this issue now, but please let us know if you have additional feedback or problems. Thank you!
#please-close

[2021-03-15 17:06] #64152 closed

[2021-03-15 17:06] JnHs commented on #69940
Hi @shiweizhang0529 - apologies for the long time to respond to this issue, and thank you for raising it. We've updated the script in the topic accordingly.
I'm going to close this issue now, but please let us know if you have additional feedback or problems. Thank you!
#please-close

[2021-03-15 17:06] #69940 closed

[2021-03-15 17:16] JnHs commented on #70954
Hi @trinadhkotturu - thanks again for raising the issue and for your patience. The script has been updated so I'm going to close this issue now. Please let us know if you have additional feedback or concerns. Thanks!
#please-close

[2021-03-15 17:16] #70954 closed

[2021-03-15 17:21] #72125 closed

[2021-03-15 17:22] JnHs commented on #71093
@bram2506 I'll close this issue now but please let us know if you still have questions. Thanks!
#please-close

[2021-03-15 17:22] #71093 closed

[2021-03-15 17:24] laujan commented on #71988
Checking with the PM to find out if the lack of availability on the free tier is intended.

[2021-03-15 17:24] mo-norant commented on #23280
any solution on this?

[2021-03-15 17:30] harald-quist-stratsys commented on #72002
Yes! Thank you very much for the info.

________________________________
Från: James Tran-MSFT ***@***.***>
Skickat: Monday, March 15, 2021 5:54:10 PM
Till: MicrosoftDocs/azure-docs ***@***.***>
Kopia: Harald Quist ***@***.***>; Mention ***@***.***>
Ämne: Re: [MicrosoftDocs/azure-docs] How are roles updated? (#72002)

@harald-quist-stratsys<https://eur01.safelinks.protection.outlook.com/?url=https

[2021-03-15 17:32] Bashar-MSFT commented on #72138
done in this PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/150422

[2021-03-15 17:33] JamesTran-MSFT commented on #72002
@harald-quist-stratsys
Thank you for the quick response!

I'll go ahead and close out this issue and I'm glad I was able to help resolve this for you!

[2021-03-15 17:33] #72002 closed

[2021-03-15 17:35] garthoid opened #72174 "Does not work."
[Enter feedback here]

Followed steps on the page.

`kubectl get svc` shows a load balancer with my external IP. However I cannot reach the target external IP. No default load balancer 404 page is received. It just times out. Have redid these steps several times with the same result.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2021-03-15 17:38] JasonWHowell commented on #72169
@deshriva please confirm if the 4.0 versions need to be updated. Thanks, Jason

[2021-03-15 17:44] alexkarcher-msft commented on #72035
Hi Ricktam!

There is a bit of naming ambiguity across Azure services, but that resource ID/URL is a reference to a particular service you wish to authenticate against. When configuring that logic app connection you specify your specific twins instance by using **host**

[2021-03-15 17:48] JamesTran-MSFT commented on #72156
@ecerulm
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author(@kenwith) to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-03-15 17:48] #72156 closed

[2021-03-15 17:52] JasonWHowell commented on #72015
#assign:viseshag to update the right pages.

[2021-03-15 17:55] josuvil opened #72175 "Did "Clear state and restart synchronization" go away?"
Hello,

I was checking this document against my Enterprise Apps and I no longer see "Clear state and restart synchronization" on the Provisioning page. I do see "Restart Provisioning" on the top of the page. Is this across the board? If so, we might have to update this document. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2021-03-15 17:55] JamesTran-MSFT commented on #72051
@RMKoRn
Thank you for your time and patience!

For the phone number you have listed, is this under aka.ms/mfasetup? If so, you should be able to have an admin re-require you to register for MFA. Additionally, you can always reset the phone number for your account within the Authentication methods tab under your user.

**Navigate to AzureAD -> Users -> Select your account -> Authentication methods:

[2021-03-15 18:02] moafzalmulla opened #72176 "Missing dependency import"
[Enter feedback here]
 Hi there, I am implementing this for a client.
When using : https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-directory-file-acl-javascript#connect-by-using-an-account-key

The code does not work until the dev, includes 2 more imports.

Currently implements as follows:
const AzureStorageDataLake = require("@azure/storage-file-datalake");

When it should

[2021-03-15 18:04] Oury-MSFT commented on #72167
@HWidforss We are looking into this and We will get back to you.

[2021-03-15 18:05] ramandhillon84 commented on #71936
@GitaraniSharma-MSFT - @sumeetmittal owns this area now, you can assign this to him :)

[2021-03-15 18:11] sumeetmittal commented on #71936
@akshaymatmicrosoft, @GitaraniSharma-MSFT : Folks, I don't believe this is a limitation. This is a desired behavior. SEP is for restricting the access to specific storage account and denying access to all others. And this goes along the lines..

[2021-03-15 18:11] ggailey777 commented on #71997
Weird, when I create a PowerShell function app I do see the various trigger options:
![image](https://user-images.githubusercontent.com/1388263/111200474-09ff5000-857f-11eb-8292-df623044eefd.png)
If you are PowerShell, you have to running on Windows (Linux option is disabled in the UI).
Can you maybe try to create another PowerShell function app and see if it does the same thing.

[2021-03-15 18:21] SaurabhSharma-MSFT commented on #69316
@fvarga01 A PR have been submitted a PR by the author to update the documentation and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

@julieMSFT FYI

[2021-03-15 18:21] #69316 closed

[2021-03-15 18:23] SaurabhSharma-MSFT commented on #69947
@mtowse The fix is available in production.  Please check and let me know in case you see any issues. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2021-03-15 18:23] #69947 closed

[2021-03-15 18:25] ChaitanyaNaykodi-MSFT commented on #72158
Hello @Tiberriver256,
Thank you for your feedback! We will review and update as appropriate.

[2021-03-15 18:27] SaurabhSharma-MSFT commented on #71467
@my3sons I have check internally and you may need to create a support ticket for this issue as it looks like Schema's are forward compatible.  Please open a [Azure Support Ticket](https://aka.ms/azsupt) so that a Support engineer can check further on this issue. In case you limitations in your support plan to open support ticket Please send an email to azcommunity[at]microsoft[dot]com with your **

[2021-03-15 18:28] ChaitanyaNaykodi-MSFT commented on #72168
Hello @allanlw,
Thank you for your feedback! We will review and update as appropriate.

[2021-03-15 18:29] b-juche commented on #71720
@olt1892 - Would you mind clarifying?  Thanks much!!
If you are an ANF team member and would like further discussion through email, feel free to reach out at juliec@netapp.com.

[2021-03-15 18:33] asudbring commented on #71863
@GitaraniSharma-MSFT

The markdown code has the right entry for this in the file:

## Next steps
* To get the latest IP addresses for allowlisting, see the [Azure CDN Edge Nodes API](/rest/api/cdn/edgenodes).

I can remove the edgenodes and see if that fixes it.  I also noticed that when you go to the API page, and try to click on EdgeNodes, it 404's

![image](https://user-images.githubusercontent

[2021-03-15 18:33] SaurabhSharma-MSFT commented on #71880
@ss4aman As per internal discussion this looks like this information needs to be added to current documentation.  We are working internally to update the documentation.  Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2021-03-15 18:33] #71880 closed

[2021-03-15 18:36] jordanmills opened #72177 "Needs more information about the dashboard and configuration"
I almost reported this as out of date and inaccurate when I finally found what I was looking for.  What looks like the dashboard in the solution view is apparently not, and has no configuration.  To get there, you have to click to activate the summary in the summary tile, then click on the summary.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2021-03-15 18:36] SaurabhSharma-MSFT commented on #72015
Thanks @JasonWHowell.

[2021-03-15 18:37] ricktam1469 opened #72178 "The query must declare the twins where the query begins."
[I am not clear with the statement. Could anyone please help me with a simple example? ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cffbc230-7cbf-b2c4-7845-c82b0d1cdba0
* Version Independent ID: b2ef5908-7ccd-076a-e409-13fee63349e0
* Content: [Query language - Azure Digital Twins](https://docs.microsoft.com/en-us/a

[2021-03-15 18:38] ecfan commented on #71603
#assign:ecfan

[2021-03-15 18:42] JustinGrote opened #72179 "Advertised and Learned Route commands don't exist"
https://docs.microsoft.com/en-us/azure/route-server/quickstart-configure-route-server-powershell#troubleshooting

Mentions two commands that don't exist, at least up to 4.6.0 of `Az.Network`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9051fe3-f785-0f9d-3915-8a08d842ab0a
* Version Independent ID: b2ae1d2f-3d9d-8ec9

[2021-03-15 18:44] ricktam1469 commented on #72035
Thanks for the reply.
While trying to get the authentication token using  az account get-access-token command (or by using subscription based command using subscription id), the postman is not validating the auth token in the bearer token field.
**_Error:
{
    "statusCode": 401,
    "message": "Unauthorized"
}_**
But when using the token from command  az account get-access-token --resource 0b07f4

[2021-03-15 18:45] Bashar-MSFT commented on #72138
@AnuragSharma-MSFT please resolve this

[2021-03-15 18:50] #72159 closed

[2021-03-15 18:51] RyanHill-MSFT commented on #72019
Hi @sopelt, support for this workflow should be coming within the next month or so. We'll also be updating our docs with regards to this scenario. Stay tuned!!

[2021-03-15 18:51] #72019 closed

[2021-03-15 18:54] asudbring commented on #71863
@GitaraniSharma-MSFT I think i figured it out.  It looks like I fixed this like months ago and then it got edited again and that Github link got put in.

The link is supposed to go to:
https://docs.microsoft.com/en-us/rest/api/cdn/edgenodes   CURRENTLY 404

I have a PR in to fix the link in the CDN doc, but the API page still 404's to that link so that will have to be fixed on the other end.

Link

[2021-03-15 19:07] asudbring commented on #71818
Created PR to add link
https://github.com/MicrosoftDocs/azure-docs-pr/pull/150461

#please-close

[2021-03-15 19:07] #71818 closed

[2021-03-15 19:15] MarileeTurscak-MSFT commented on #72175
@josuvil
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-15 19:15] #71997 closed

[2021-03-15 19:17] alexkarcher-msft commented on #72035
Awesome! This seems like the correct behavior. You will only be able to access twins using a token with the correct context (0b07f429-9f4b-4714-9392-cc5e8e80c8b0)

[2021-03-15 19:22] baanders commented on #72035
Adding onto the response above,
The reason that you need to use the command as written, `az account get-access-token --resource 0b07f429-9f4b-4714-9392-cc5e8e80c8b0` instead of using your subscription ID, is that you're trying to get a token with permission to access the **Azure Digital Twins service** in general. Because of this, the entire Azure Digital Twins service is the target resource for t

[2021-03-15 19:35] ramya-rao-a commented on #71337
@spelluru, I no longer see any note on availability/reliabillity/consistenency at the end of the doc for [conceptual docs for Partitions in Event Hubs](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-features#partitions). Was that intentional?

[2021-03-15 19:36] garthoid commented on #72174
Suggest you mention that if you create a public IP and you add it to the resource group that acr nodes reside within, and associate it with a DNS that it may pick up the NSG rules associated with the cluster.

[2021-03-15 19:41] baanders commented on #72178
@ricktam1469 Thank you for the question; I agree that this wording is confusing.

This statement is referring to the fact that relationships in Azure Digital Twins can't be queried as independent entities--you have to also give information about the twin they're coming from.
So, in order to query for a relationship, you'll have to include information in the JOIN query about the source twin for the

[2021-03-15 19:59] ricktam1469 commented on #72178
Thanks.

[2021-03-15 20:02] shamird opened #72182 "Useless information"
I you cannot login because Azure Active Directory is down in multiple regions - how is this page can help?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 581d46fd-9672-0bc6-7152-39301c893fd4
* Version Independent ID: 202e0e14-10e9-2173-b4a5-bb8cf6cdd400
* Content: [Receive activity log alerts on

[2021-03-15 20:06] memildin commented on #71610
Hi @DeanGross

Those alerts were never Security Center alerts. They’re part of the Azure Active Directory (AAD) Identity Protection connector (IPC).

IPC was sending them to Security Center. For the last two years, the only customers who’ve been seeing those alerts are organizations who configured the export (from the connector to ASC) in 2019 or earlier.

AAD IPC has continued to show them in its

[2021-03-15 20:06] #71610 closed

[2021-03-15 20:23] baanders commented on #72178
Thanks for the reply! I'll go ahead and sign off on the fix, which will close this issue. Feel free to continue the thread even after that point if needed.

[2021-03-15 20:24] #72178 closed

[2021-03-15 20:24] tfitzmac commented on #68335
It sounds like there is no doc update.
#please-close

[2021-03-15 20:24] #68335 closed

[2021-03-15 20:25] baanders commented on #72035
@ricktam1469  Could you confirm whether this resolves your issue, or whether we should keep open the issue thread while we work towards further resolution?

[2021-03-15 20:35] oelouazi commented on #9681
hi your code was really helpfull but plz how to add more information not only age and gender , cuz when i try to put more attribut they told i can't put for than the tuple weight

[2021-03-15 20:44] ricktam1469 opened #72185 "Multi-Tenant capability of ADT"
Is there any document regarding Multi Tenant capability of ADT?
Is Multitenant capability is limited to Azure Active Directory- App registration process?

[2021-03-15 20:51] MarileeTurscak-MSFT commented on #71952
Which IP are you referring to? Are you referring to the client IP? These can be IPV4 or IPV6. https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-health-adfs-risky-ip

It's now supported to host applications in Azure with IPV4 and IPV6 capabilities. https://docs.microsoft.com/en-us/azure/virtual-network/ipv6-overview

Let me know if this answers your question and feel fre

[2021-03-15 20:51] #71952 closed

[2021-03-15 20:59] robsmi-msfte opened #72187 "Need better options when can't log in to Azure Portal"
I am here right now, because I can't log in to the Azure Portal.  Azure AD is having some kind of outage.  How do you get help then?  Call on the phone?  It seems like we would have better options than that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bb3e4b3-be5b-87f7-7d83-d62e98ccde78
* Version Independent ID: fc

[2021-03-15 21:03] ricktam1469 commented on #72035
Thanks. Yes please close it for now, if anything is required, I will reopen and ask.
Thanks for the clarifications.

[2021-03-15 21:03] #72035 closed

[2021-03-15 21:33] TravisCragg-MSFT commented on #72133
@Eneuman This preview is only supported via the CLI at this time. If you would like us to change this in the future, please [leave your feedback here at AKS' feedback.azure.com page](https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly cont

[2021-03-15 21:33] #72133 closed

[2021-03-15 21:47] MarileeTurscak-MSFT commented on #72085
Thanks! I made a pull request to add this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/150499

[2021-03-15 21:47] #72085 closed

[2021-03-15 21:54] LenaVinogradov commented on #56915
Bernarldo, can you please also add to the ticket the info on how to identify GCC tenant? thank you!
Also, It's a long time, and I see the ticket still open. Any plans to actually publish this change? thank you again .
Lena

[2021-03-15 21:55] AjayKumar-MSFT commented on #71892
Mark, Apologies for the delay! I'll connect with you further offline on this and also share your feedback with the content owner for further review, for doc update as necessary.  I'll close this for now, will follow-up with you offline and update.

[2021-03-15 21:55] #71892 closed

[2021-03-15 22:01] MarileeTurscak-MSFT commented on #72022
I've reached out to ask for confirmation around the intended behavior.

[2021-03-15 22:03] MarileeTurscak-MSFT commented on #72083
Thanks! I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/150503

@memildin please review. This is confirmed in recent documentation and announcements.

[2021-03-15 22:03] #72083 closed

[2021-03-15 22:04] TravisCragg-MSFT commented on #72054
@jonwbstr Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-03-15 22:22] normesta commented on #72073
Thank you for reporting this to us @marnheus . We've corrected the doc. The change should appear live by tomorrow. Thx again!

#please-close

[2021-03-15 22:23] #72073 closed

[2021-03-15 22:42] MarileeTurscak-MSFT commented on #72187
@robsmi-msfte I'm so sorry for the inconvenience. The issue has been identified and a fix has been rolled out, but there are still services that are affected. Some services and offerings may have varying times of recovery following the underlying fix. Please try restarting your services in order to obtain new tokens and metadata.

You can check the Azure Status page for updates on this outage. htt

[2021-03-15 22:53] danielsc commented on #71602
Not Ray but daskcloudprovider.
All the best,
Daniel

From: Sheri Gilley ***@***.***>
Date: Monday, March 15, 2021 at 15:49
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Daniel Schneider ***@***.***>, Author ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] reference to deprecated azureml-dask-cloudprovider (#71602)

@lostmygithubaccount<https://nam06.safelinks.protection.outlook.com/?url=https%

[2021-03-15 22:56] lostmygithubaccount commented on #71602
We also reference Ray in this article and others where it should be removed - particularly the main overview page.

​- Cody
________________________________
From: Daniel Schneider ***@***.***>
Sent: Monday, March 15, 2021 3:53 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Cody Peterson ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] reference to deprecated azureml-das

[2021-03-15 22:57] robotpukeko opened #72190 "Sample data link not working"
In the Download the flight data section, the link provided to the Research and Innovative Technology Administration, Bureau of Transportation Statistics data extract is broken and returns an error message when accessed:

Note

A syntax error has occurred. The reason is probably that you have used a bookmarked URL with an invalid parameter. Please click TranStats on the sidebar to start from the Tr

[2021-03-15 23:02] MicrosoftGuyJFlo commented on #71771
Nothing to document here. #please-close

[2021-03-15 23:02] #71771 closed

[2021-03-15 23:06] MicrosoftGuyJFlo commented on #71821
@idg-sam since you are a Microsoft employee please reach out to me internally so we can discuss further. #please-close

[2021-03-15 23:06] #71821 closed

[2021-03-15 23:08] msftradford opened #72191 "Which version of ASA should be used here?"
It looks like the minimum version of ASA is 2.7.0. Is that the version that I should be using?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d172218-934f-1431-be92-4ad6897a31e9
* Version Independent ID: 124f517a-9531-838d-3834-a21f94da9fdb
* Content: [Install Azure Spatial Anchors for Unity - Azure Spatial Anchors](h

[2021-03-15 23:11] #72191 closed

[2021-03-15 23:17] msftradford opened #72192 "What is the minimum supported of the ASA SDK?"
What is the minimum supported of the ASA SDK?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d172218-934f-1431-be92-4ad6897a31e9
* Version Independent ID: 124f517a-9531-838d-3834-a21f94da9fdb
* Content: [Install Azure Spatial Anchors for Unity - Azure Spatial Anchors](https://docs.microsoft.com/en-us/azure/spatial-anc

[2021-03-15 23:18] msftradford commented on #72192
Acknowledged. Working on a PR for this.

[2021-03-15 23:24] #72192 closed

[2021-03-15 23:32] James-Hamil-MSFT commented on #72165
Hi, we are investigating your issue and will update you shortly.

Best,
James

[2021-03-15 23:34] James-Hamil-MSFT commented on #72157
Hi, we are investigating your issue and will update you shortly.

Best,
James

[2021-03-15 23:35] James-Hamil-MSFT commented on #72154
Hi, we are investigating your issue and will update you shortly.

Best,
James

[2021-03-15 23:35] pospospos2007 opened #72193 "missing info "EdgeTransparentGatewayManifest.json""
May I know where is EdgeTransparentGatewayManifest.json you mention in document?

https://docs.microsoft.com/en-us/azure/iot-central/core/how-to-connect-iot-edge-transparent-gateway

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f913c62-cab9-6f45-8c98-aaaf04fb622f
* Version Independent ID: a9d8bcc5-f742-bf1d-c3c8-c144

[2021-03-15 23:36] msftradford opened #72194 "What is the minimum supported version of the ASA SDK?"
What is the minimum supported version of the ASA SDK?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d172218-934f-1431-be92-4ad6897a31e9
* Version Independent ID: 124f517a-9531-838d-3834-a21f94da9fdb
* Content: [Install Azure Spatial Anchors for Unity - Azure Spatial Anchors](https://docs.microsoft.com/en-us/azure/spa

[2021-03-15 23:38] msftradford commented on #72194
Acknowledged. Working on a PR now.

[2021-03-15 23:45] #72194 closed

[2021-03-15 23:59] Oury-MSFT commented on #72167
@HWidforss, I did a repro of the issue and I was able to update the database license type using Azure CLI. Please try this again and let me know if you are still facing the same issue.

![Update az DB](https://user-images.githubusercontent.com/78940872/111236153-72662580-85af-11eb-9f0b-f138df8fa8a9.PNG)

If you are still facing the issue, Please share the script you are using.

[2021-03-16 00:02] TravisCragg-MSFT commented on #72009
Hey @Klaas-! This is a possible use case, but I would highly consider [following the SAP HANA specific guidance Here ](https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/sap-hana-backup-guide). Incremental snapshots does not configure with a LVM or RAID is not aware of the LVM, but it should be possible to get this working.

If you want to freeze the file system, you can do that

[2021-03-16 00:08] Oury-MSFT commented on #72171
@shakedGraitzer
For Pagination I am seeing this (Please see screen below)
![Pagination](https://user-images.githubusercontent.com/78940872/111236790-e654fd80-85b0-11eb-83f4-50f3ff223d95.PNG)
And for Parameterized (see screen shot below)
![Parametized](https://user-images.githubusercontent.com/78940872/111236815-f836a080-85b0-11eb-890f-8578042d29ae.PNG)
Could you please confirm from your end with s

[2021-03-16 00:11] timsander1 commented on #72171
Thanks for flagging this @shakedGraitzer. I just fixed this a few hours ago!

[2021-03-16 00:11] MarileeTurscak-MSFT commented on #72187
Update from the engineering team: if you are unable to use portal.azure.com, please use canary.portal.azure.com.

[2021-03-16 00:15] yicw16322 commented on #71085
thanks for your feedback, we have already updated the document @v-lali

[2021-03-16 00:17] JasonWHowell commented on #71085
#please-close

[2021-03-16 00:17] #71085 closed

[2021-03-16 00:21] v-davito opened #72197 ""detectOrientation": true (needs to be True with a capital T)"
Below feedback received from OpenHack program coach.
Document link: https://docs.microsoft.com/en-us/azure/search/cognitive-search-skill-ocr
"detectOrientation": true - This doesn't work, it needs to be True with a capital T, so the documentation may need to be corrected.
From Manu Kanwarpal (MSFT)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2021-03-16 00:23] ktleach opened #72198 "VM Data needs update"
[Enter feedback here]
This page does not align with what is in Azure from a VM size name  perspective.
Also basic VMs option in portal do not have details on these pages.

Standard DS3 v2 (4 vcpus, 14 GiB memory)
is where in these pages?

How may NICs are available per are not in the portal.  Nor is total throughput.
The max bandwidth numbers on this page do not say if it is per NIC or combined.

[2021-03-16 00:29] MarileeTurscak-MSFT commented on #72087
Hi @HugoPain,

Entitlement management allows you to grant access to users to request access packages. Users can have the ability to request them without actually requesting them. **Member** users are required to have a Premium P2 license assigned if they request access packages **and** if they can request access packages. But **Guest** users only need a license if they actually request access pack

[2021-03-16 00:29] #72087 closed

[2021-03-16 00:42] alkohli commented on #72154
@kamfaima Data Box Gateway is a virtual device only. I have created a PR to remove the reference to physical device ASAP. Thanks much for bringing this to my notice!

[2021-03-16 00:43] siers82 opened #72199 "PureCloud by Genesys - Incorrect URL for Asia Pacific region (missing .com from mypurecloud.com.au)"
Hi Team,

In both the documentation and the integration in the gallery - the default/pre-entered URL's for the Asia Pacific region are missing the '.com' from mypurecloud.com.au

Currently:
https://login.mypurecloud.au/saml

Should be:
https://login.mypurecloud**.com**.au/saml

Obviously can be manually changed - however should be updated to correct URL in both locations.

---
#### Document Detail

[2021-03-16 00:48] alkohli commented on #72154
#please-close This was resolved by this PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/150527 that just got merged and should go live. Closing this issue.

[2021-03-16 00:48] #72154 closed

[2021-03-16 01:31] MonikaReddy-MSFT commented on #72172
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-03-16 01:35] YutongTie-MSFT commented on #72163
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@PatrickFarley Hello, could you please check on this issue and update the document ? Thanks.

[2021-03-16 01:44] MonikaReddy-MSFT commented on #72198
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-03-16 02:03] kobulloc-MSFT commented on #23280
@mo-norant It's been a while, but I believe AmanGarg's answer is still useful:
https://github.com/MicrosoftDocs/azure-docs/issues/23280#issuecomment-457598507

[2021-03-16 02:18] lgayhardt commented on #72108
Hi @formalist it looks like Visual Studio has removed offline trends analysis with App Insights. If your app is connected to Azure you can perform analysis via [Kusto queries and the Logs interface in the portal](https://docs.microsoft.com/azure/azure-monitor/logs/log-query-overview).

Thank you for pointing this out! =)
I will updated the docs to retire the trends article.

#please-close

[2021-03-16 02:18] #72108 closed

[2021-03-16 02:24] GavinJin8 opened #72200 "Microsoft Managed Certificate auto renewal didn't work when custom domain is mapped to your cndverify subdomain"
[Enter feedback here]
You are supposed to receive DigiCert validation email when the CNAME record entry contains the cdnverify subdomain, but in actual situation, this guide is only applicable for first procurement.
I run into a actual case that customer's Microsoft Managed Certificate auto renewal didn't work  when custom domain isn't mapped to your CDN endpoint, instead cx's CNAME record has bee

[2021-03-16 02:35] ToruMakabe opened #72201 "Specify service name fronted by load balancers"
There is a statement in [Configure backend pool by IP address and virtual network] > [limitations] as the following.

"Load balancers or services fronted by load balancers cannot be placed in the backend pool of the load balancer"

Many Azure services do not disclose internal architecture, so we cannot know which services fronted by load balancers or not. Could you specify the applicable service n

[2021-03-16 02:38] positivism1 opened #72203 "change create to created"
Once you have create a composite resource module
change to Once you have **created** a composite resource module

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d1c3be2-bb62-2e96-01eb-ee2d16c4a3c4
* Version Independent ID: 544726a4-a816-2eb3-f236-f083b618074d
* Content: [Convert configurations to composite resources fo

[2021-03-16 02:48] SatishBoddu-MSFT commented on #72164
@zaalion
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-16 02:57] trentis opened #72204 "Typo in one of the headers"
https://docs.microsoft.com/en-us/azure/azure-monitor/logs/log-standard-columns#_substriptionid

Can also be seen when linking the URL I'm assuming it was meant to be subscription.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12164faf-cdf0-c227-b65d-2e680ba49e7c
* Version Independent ID: a69d780a-4c2f-1993-fe68-e46212

[2021-03-16 03:03] KalyanChanumolu-MSFT commented on #72166
@bertrandpons Thank you for reaching out. We will get back to you soon.

[2021-03-16 03:04] KrishnaG-MSFT commented on #72177
@jordanmills  Thanks for your comment! We will review and provide an update as appropriate.

[2021-03-16 03:05] KrishnaG-MSFT commented on #72203
@positivism1  Thanks for your comment! We will review and provide an update as appropriate.

[2021-03-16 03:05] KrishnaG-MSFT commented on #72204
@trentis  Thanks for your comment! We will review and provide an update as appropriate.

[2021-03-16 03:17] hisasima opened #72205 "Firewall setting on KeyVault"
I know we can use below setting of firewall on KeyVault in order to limit source address.

1. Add get permission for secret.
2. Select "Private endpoint and selected networks" and allow "trusted Microsoft services".
3. Add client public IP if you use portal to configure SSL certificate.

Could you add this knowledge into this document. I think this is helpful for many people.

---
#### Document De

[2021-03-16 03:25] yutaro113 commented on #71022
@HarshitaSingh-MSFT Thanks for the updating. Is this already reflected on the doc? As far as I see, it seems still not reflected. Thank you!

[2021-03-16 03:27] swmolen opened #72206 "Salesforce Not in Identity Providers in AAD B2C"
The documentation states that there is a Salesforce Identity Provider, but that is not reflected on the site.

![image](https://user-images.githubusercontent.com/78946170/111251581-89237100-85dd-11eb-9f01-cd16569c8d08.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4feda2d5-79cd-ddea-51e5-4cf3b8b80566
* Version Ind

[2021-03-16 03:27] SatishBoddu-MSFT commented on #72193
@pospospos2007
I have assigned the issue to the content author for further review.

[2021-03-16 03:42] charwen commented on #72179
@JustinGrote  thanks for letting us know. We forgot to rename the cmdlets. For now, please run the following commands instead

Get-AzVirtualRouterPeerAdvertisedRoute
Get-AzVirtualRouterPeerLearnedRoute

[2021-03-16 03:43] VikasPullagura-MSFT commented on #71482
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-03-16 03:43] #71482 closed

[2021-03-16 03:45] VikasPullagura-MSFT commented on #72174
@garthoid
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-03-16 03:45] VikasPullagura-MSFT commented on #72174
@mlearned @zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2021-03-16 04:41] #71946 closed

[2021-03-16 04:42] BryanTrach-MSFT commented on #71946
@v-jameelaesa Thank you for the feedback. After review, we agree that this is a doc bug and needs to be fixed. We submitted and merged a PR to update the doc. The changes should be public within 24 hours for [this ](https://docs.microsoft.com/en-us/azure/communication-services/quickstarts/voice-video-calling/calling-client-samples)document.

We appreciate you raising this up to us so we can preven

[2021-03-16 04:44] BharathNimmala-MSFT commented on #72182
@shamird Our sincere apologies for your experience.

We had an outage causing Authentication errors across multiple Microsoft services.

SUMMARY OF IMPACT: Starting at approximately 19:15 UTC on 15 Mar 2021, some customers may experience issues authenticating into Microsoft services, including Microsoft Teams, Office, Dynamics, Xbox Live, and the Azure Portal. Other Azure services that rely on aut

[2021-03-16 05:02] VigilanteWang opened #72207 "Backup policy Example A"
In the part of backup [policy](https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-resilient-controls#microsoft-recommendations-1) Example A. Is it true that the policies and the order of activation, actually enables users which are NOT in the ContingencyAccess group can also access SP and EXO from Corporate network and a Windows PC, even on a non-domain joined PC? Then,

[2021-03-16 05:08] AshokPeddakotla-MSFT commented on #72191
Related to https://github.com/microsoftdocs/azure-docs/issues/72192
https://github.com/microsoftdocs/azure-docs/issues/72194

[2021-03-16 05:10] AjayKumar-MSFT commented on #72197
@v-davito,  Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-03-16 05:17] SwathiDhanwada-MSFT commented on #71748
@bondib Apologies for late response. I am checking internally with product team. I will update you soon.

[2021-03-16 05:20] vipulsparsh commented on #72199
@siers82 Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-03-16 05:27] vipulsparsh commented on #72206
@swmolen The document actually describes the available Identity providers plus those which can be added manually by following the links.

![image](https://user-images.githubusercontent.com/63580915/111259918-e6eba380-8645-11eb-9990-7e0d16e1a686.png)

The article shows which all IDP are possible, the portal shows the current list of all IDPs for whom the integration is done by default from Service.

[2021-03-16 05:42] SnoWolfT opened #72209 "When will all availability zones support Standard_L80s_v2 with UltraDisk enabled?"
We were trying to create a node pool in AKS with UltraDisk enabled and the VM model is Standard_L80s_v2, VM count is 2, zones are 1,2,3.
We found that node pool creation always fails, and I think the reason Standard_L80s_v2 with UltraDisk enabled is only supported in **2 zones** in East US 2 region.

This is verified by the following command:
az vm list-skus --resource-type virtualMachines --locat

[2021-03-16 05:53] SuneethaYamani commented on #51847
I am getting same issue..
{
  "error": {
    "code": "BadRequest",
    "message": "Please subscribe to async events to use async class",
    "innererror": {
      "code": "EventList"
    }
  }
}
with isAsync=false it is working

[2021-03-16 05:54] SuneethaYamani commented on #51847
@ElliotWood how did you solve this issue

[2021-03-16 05:56] ManasaDevadas opened #72210 "Multisite hosting - CNAME or ALIAS?"
For multisite, we should create CNAME or Alias? Even that is described as a point and in the tutorial it is showing editing hostfile directly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 841418eb-7a51-60fe-a651-bf77a7c790de
* Version Independent ID: 2a5ede90-8d15-e4d4-faa6-99efed460a54
* Content: [Tutorial: Hosts mu

[2021-03-16 05:57] nayenama commented on #69874
semi-colon (;) is not currently supported as a delimiter. Please use ',' only.

[2021-03-16 05:57] nayenama commented on #69874
#please-close

[2021-03-16 05:57] #69874 closed

[2021-03-16 06:14] VikasPullagura-MSFT commented on #72190
@robotpukeko
Thanks for the feedback! We will check and update the document as appropriate.

[2021-03-16 06:25] Herman5006 opened #72212 "origin "cache-control: no-cache" was overridden to to provided cache duration."
[Enter feedback here]
In below page:
https://docs.microsoft.com/en-us/azure/cdn/cdn-caching-rules#caching-behavior-settings
It mentions that "Override: Ignore origin-provided cache duration; use the provided cache duration instead. This will not override cache-control: no-cache.", which means if cache-control is set to no-cache from origin side, cache-control will not be overridden to provided cac

[2021-03-16 06:26] alexeyshishkin01 opened #72213 "Build on a schedule"
the title of the article of the contents is '4 - Build on a schedule', which implies building of images
when you click on the article link the title changes to 'Tutorial: Run an ACR task on a defined schedule'
but the article does not cover building topic, it's all about running already built images

so, my question is how to build images on a schedule ?
say, no other triggers for building an imag

[2021-03-16 06:30] SubhashVasarapu-MSFT commented on #71837
@lissff, Appreciate your patience. Yes, When SP Id expires in a user automation script then the dependent resources will no longer work due to authentication issue. All you can do is reset the existing service principal credential with the desired expiry date in years.

Here is [doc](https://docs.microsoft.com/en-us/azure/aks/update-credentials) that clearly explains about resetting an existing SP

[2021-03-16 06:30] #71837 closed

[2021-03-16 06:36] dominicbetts commented on #72193
Hi @pospospos2007 - in the [prerequisites ](https://docs.microsoft.com/en-us/azure/iot-central/core/how-to-connect-iot-edge-transparent-gateway#prerequisites) section at the start of the article are the links to the device model and the gateway manifest that you need to complete the steps in the article. Thanks.

[2021-03-16 06:37] dominicbetts commented on #72193
#sign-off

[2021-03-16 06:37] dominicbetts commented on #72193
#please-close

[2021-03-16 06:37] #72193 closed

[2021-03-16 06:42] tjunnu commented on #35637
Hi @RohitMungi-MSFT , I am Java developer. I have integrated Microsoft translator api  to translate from one language to another language. What I understood with this api is, we need to pass text(which text we want to translate) to this api. But my requirement got changed I need to translate email content in my application. Could you please tell me, can we achieve this with translator api? If yes

[2021-03-16 06:43] emaborsa opened #72214 "Exception in custom User Flow"
I used [this guide ](https://docs.microsoft.com/en-us/azure/active-directory-b2c/customize-ui-with-html?pivots=b2c-user-flow#custom-html-and-css-overview)in order to customize the page layout of a user flow.
Without this customization everything works fine. Setting the custom url as described and run it in azure leads to the following exception:

`ArgumentException: An item with the same key has a

[2021-03-16 06:46] ram-msft commented on #72061
Thanks, We have raised a bug for this user error, please share the .yml to include in the bug, also please share CLI version and Installed AML packages a s shown below.

CLI Version
azureuser@mlops-ci:~/cloudfiles/code/hello-test$ az extension list
[
  {
    "experimental": false,
    "extensionType": "whl",
    "name": "azure-cli-ml",
    "path": "/opt/az/extensions/azure-cli-ml",
    "preview":

[2021-03-16 06:53] BhargaviAnnadevara-MSFT commented on #72114
@Bigbnz We will now proceed to close this thread, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-03-16 06:53] #72114 closed

[2021-03-16 06:54] BhargaviAnnadevara-MSFT commented on #72127
@ScapyArtGroup We will now proceed to close this thread, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-03-16 06:54] #72127 closed

[2021-03-16 06:57] ram-msft commented on #72111
Thanks, @trevorbye Can you help on the document enhancement.
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/rest-text-to-speech#sample-response

[2021-03-16 07:00] ivanpavlof opened #72215 "Number of outbound IP addresses"
The article says that an app service has 4 outbound IP addresses, but the app I created in the Shared app service tire has 7.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c32dd6f-050f-e3f7-569f-42b5efdf3918
* Version Independent ID: 1b3c9880-c5fc-53b2-c8d5-04c5ed4c21b4
* Content: [Inbound/Outbound IP addresses - Azu

[2021-03-16 07:04] sammalwad opened #72216 "The Logic/Flowchart for the JIT is incorrect"
#https://docs.microsoft.com/en-us/azure/security-center/just-in-time-explained#how-security-center-identifies-which-vms-should-have-jit-applied

In the flowchart the VM which does not have JIT/NSG/Firewall is classified as Not applicable is incorrect.
The VM should have been classified as Unhealthy/Vulnerable as the VM still exists.
Also in case if the user enables JIT and selects open to All Ips

[2021-03-16 07:11] emaborsa opened #72218 "The application associated with client id '...' has no registered redirect URIs"
I am trying to use Azure B2C in a WebApi project, as tutorial I followed [this example](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/4-WebApp-your-API/4-2-B2C).

The TodoListClient works, I can log in and out successfully.
The TodoListService does not work properly. When I call https://localhost:44332/api/TodoList I get the answer `The applicatio

[2021-03-16 07:15] KrishnaG-MSFT commented on #72109
@andrewatfornax Great observation and thanks for reporting! I was also able to reproduce the same.

![image](https://user-images.githubusercontent.com/45988031/111269510-bf500780-8654-11eb-9642-6d057396a1f2.png)

Assigning content owner @bwren for visibility, review and document enhancement consideration as appropriate.

[2021-03-16 07:18] AnuragSharma-MSFT commented on #71882
@daemel Due to lack of response, we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-03-16 07:18] #71882 closed

[2021-03-16 07:21] AnuragSharma-MSFT commented on #72138
@Bashar-MSFT Thanks for the PR and making the appropriate change.

@zilingxie98 You can now go through the change. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

@savjani

[2021-03-16 07:21] #72138 closed

[2021-03-16 07:22] rpatycr commented on #16481
I have a similar issue where the Azure container keeps restarting when I add persistency to my Nginx docker container using Azure File shares.
When I'm not using volumes the container works fine. But I want to store my certificates.

Snipped of the error:

[code]

Other files are created in the Azure file share but not **chained.crt** .
Checking the running container without Azure file share, I ca

[2021-03-16 07:26] VikasPullagura-MSFT commented on #72213
@alexeyshishkin01
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-03-16 07:27] VikasPullagura-MSFT commented on #72213
@dlepow
Can you please check and add your comments on this doc update request as applicable.

[2021-03-16 07:32] Brucius opened #72219 "Query on supported restore methods"
Hi, would like to enquire one of the supported restore method options called "Replace existing". Refer to https://docs.microsoft.com/en-us/azure/backup/backup-support-matrix-iaas#supported-restore-methods

The doc says
_Replace existing is supported for unencrypted managed VMs and for VMs created using custom images. It's not supported for unmanaged disks and VMs, classic VMs, and generalized VMs.

[2021-03-16 07:42] tomconte commented on #69709
@YutongTie-MSFT @shivanissambare would it make sense to look at this issue again?

[2021-03-16 07:47] akshaymatmicrosoft commented on #71936
@sumeetmittal: If this is not a limitation, then please propose how the doc should be updated to clarify that Service Endpoint Policies cannot be configured for "Managed" Storage Account? In our case, customer already had Service Endpoint policy configured for one specific Unmanaged Storage Account, however this ended up blocking access to one of the Managed Storage Accounts (as expected). Since a

[2021-03-16 07:54] HWidforss commented on #72167
Thanks for looking into this!

I cannot see from your example whether `license-type` is being set.

If I try to run `az sql db update ... license-type BasePrice` I get the following error:

`2021-03-16T07:39:36.0031564Z ERROR: unrecognized arguments: --license-type BasePrice
 2021-03-16T07:39:36.0459019Z
 2021-03-16T07:39:36.0459586Z TRY THIS:
 2021-03-16T07:39:36.0460023Z az sql db update --resou

[2021-03-16 07:58] v-lali commented on #71085
Thanks for the update. Much appreciate for your efforts in this ticket 👍

[2021-03-16 08:11] Peter-B- opened #72220 "Explain the effect of the "Client Secret" setting"
It seems like you can use the "Client Secret" setting to switch from implicit flow to hybrid flow.

I found a [post on techcommunity](https://techcommunity.microsoft.com/t5/apps-on-azure/azure-app-service-easyauth-and-azure-active-directory-flows/ba-p/1099890) that pointed me to that effect. According to my tests, this is true.

If this is so, it would be great if the effect would be mentioned in

[2021-03-16 08:14] VictorDC92 opened #72221 "Enable pod identity with kubenet"
Hello,

I have an aks with kubenet and I want to enable the pod identity extension. You used the following command to enable it.

**az aks update -g $MY_RESOURCE_GROUP -n $MY_CLUSTER --enable-pod-identity --enable-pod-identity-with-kubenet**

I get the following error.
**The behavior of this command has been altered by the following extension: aks-preview
Operation failed with status: 'Bad Request

[2021-03-16 08:31] jfemia commented on #48676
Is there already a page with this info on it? I came from https://docs.microsoft.com/en-us/azure/active-directory-b2c/user-flow-self-service-password-reset and it's not on there - it's weird that I have to dig through github for this critical information.

[2021-03-16 08:37] James-Hamil-MSFT commented on #72185
Hi, we are investigating your issue and will update you shortly.

Best,
James

[2021-03-16 08:42] SumanthMarigowda commented on #72018
@skydoctor Firstly, apologies for the delay in responding here! Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-16 08:43] SumanthMarigowda commented on #72064
@billspat  Firstly, apologies for the delay in responding here! Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-16 08:48] SumanthMarigowda commented on #72067
@kostrse Apologies for the delay! For better understanding the issue: Are you referring to this import (copy) container images to an Azure container registry, without using Docker commands. For example, import images from a development registry to a production registry, or copy base images from a public registry.
https://docs.microsoft.com/en-us/azure/container-registry/container-registry-import-i

[2021-03-16 08:50] SumanthMarigowda commented on #72080
@mslot Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-16 09:07] tompaana opened #72225 "Cannot find Cosmos .NET SDK with RBAC support"
["In .NET" section](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-setup-rbac#in-net) states that "the preview version" of the SDK supports RBAC, and the section comes with a code snippet where the constructor of the `CosmosClient` takes in a service principal instance. However, the latest NuGet package (https://www.nuget.org/packages/Microsoft.Azure.Cosmos) as of writing this is 3.17.0 (

[2021-03-16 09:11] davidjytang opened #72226 "Query pattern to RU calculator"
Is there a calculator specifically turning query patterns into number of RUs? I would imagine if there is one, that calculator would probably have options for boundedness and index.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abb0beaa-01ab-7031-937e-2d44c147b5d2
* Version Independent ID: 742b249e-054f-a160-c2f5-7c22

[2021-03-16 09:19] savjani commented on #71348
@SamaraSoucy-MSFT - if there are not further questions, can you please close this thread.

[2021-03-16 09:21] v-amallick commented on #72219
Thank you for reaching out.
Assigning to @GeethalakshmiG

[2021-03-16 09:24] #72190 closed

[2021-03-16 09:48] woutervanranst opened #72228 "Clarify that ActionGroup refers to Azure Monitor"
The "Purpose" for the "Action Group" entry is rather sussinct and does not add value/clarity.
Perhaps clarify that this refers to the Azure Monitor Action Groups

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08217244-82bb-13b5-46f7-454801d8f865
* Version Independent ID: 4a8b0a32-bf57-7544-c60d-6b7f250c4477
* Content:

[2021-03-16 09:58] dgcaron opened #72229 "the payload for enabling the customer managed keys is not complete"
i have worked through this documentation to enable the customer managed keys and found that the payload for enabling the encryption is incomplete.

[code]
yields the following result
[code]
the payload should be
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b96959e5-3ca5-7725-4f06-4d2abbf4a48e
* Version Independ

[2021-03-16 10:07] t-leblanc opened #72230 "Component Expiry Notification"
Good day support,

In regards of section https://docs.microsoft.com/en-us/azure/site-recovery/service-updates-how-to#component-expiry

_Site Recovery notifies you of expired components (or nearing expiry) by email (if you subscribed to email notifications), or on the vault dashboard in the portal._

Is this notification also available through a  Log Analytics event? We would like to pick up only t

[2021-03-16 10:27] AnuragSharma-MSFT commented on #72225
@tompaana Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-03-16 10:27] shashishailaj commented on #72207
@VigilanteWang Thank you for your query . We will investigate and update the thread.

[2021-03-16 10:28] AnuragSharma-MSFT commented on #72226
@davidjytang Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-03-16 10:34] shashishailaj commented on #72218
@emaborsa Thank you for your query . We will investigate and update the thread.

[2021-03-16 10:40] shashishailaj commented on #72216
@sammalwad Thank you for your feedback . We will investigate and update the thread.

[2021-03-16 10:43] demoolya opened #72232 "Create an Azure Arc data controller in the Azure portal - Provisioning Notebook Namespace Input"
Steps to Reproduce:

1. Generate provisioning notebook for Azure Arc data controller with the steps mentioned in https://docs.microsoft.com/en-in/azure/azure-arc/data/create-data-controller-resource-in-azure-portal?view=sql-server-ver15
2. In the step 4 while configuring environment variables it asks for the namespace for Arc data controller, the Note for this input is quite long due to which the

[2021-03-16 10:46] tompaana commented on #72225
Update: Microsoft.Azure.Cosmos **3.17.0-preview1** has it. The version number and package date threw me off.

[2021-03-16 10:51] krysickij1 commented on #53441
@YutongTie-MSFT any updates on this topic? Does MSFT have such feature on a roadmap? When can we expect to have it?

[2021-03-16 10:52] shashishailaj commented on #72214
@emaborsa Thank you for your query . We will investigate and update the thread.

[2021-03-16 11:29] SadiqhAhmed-MSFT commented on #72230
@t-leblanc Thank you for posting your query. We will look into it and get back to you shortly.

[2021-03-16 11:33] SadiqhAhmed-MSFT commented on #72219
@Brucius Thank you for posting your query. We will look into it and get back to you shortly.

[2021-03-16 11:40] KrishnaG-MSFT commented on #72229
@dgcaron Thanks for your comment! We will review and provide an update as appropriate.

[2021-03-16 11:42] vipulsparsh commented on #71760
@Norrch2 There is no ETA yet.

[2021-03-16 11:42] #71760 closed

[2021-03-16 11:43] KrishnaG-MSFT commented on #72232
@demoolya Thanks for the feedback.
Assigning content owner @twright-msft for visibility, review and document enhancement consideration as appropriate.

[2021-03-16 11:52] allanlw opened #72235 "Microsoft.Consumption/budgets/read and Microsoft.CostManagement/budgets/read have same description but behave differently"
Both `Microsoft.Consumption/budgets/read` and `Microsoft.CostManagement/budgets/read` are described as:

However with just the permission `Microsoft.Consumption/budgets/read` it is not possible to call service consumption [Budgets - Get](https://docs.microsoft.com/en-us/rest/api/consumption/budgets/get) on a resource group (you will get 401). `Microsoft.CostManagement/budgets/read` is also require

[2021-03-16 11:54] vipulsparsh commented on #71777
@btHolert We will be closing this thread now, feel free to come back if you need any help.

[2021-03-16 11:54] #71777 closed

[2021-03-16 11:55] #71935 closed

[2021-03-16 11:57] MonikaReddy-MSFT commented on #72228
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-03-16 12:04] MonikaReddy-MSFT commented on #72006
@JamesK3 - Thank you for providing more insights. we are looking into this and will update you asap.

[2021-03-16 12:05] MonikaReddy-MSFT commented on #72135
Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2021-03-16 12:05] #72135 closed

[2021-03-16 12:20] vipulsparsh commented on #72065
@sunilprabha This is not supported yet. Please check https://github.com/microsoftgraph/microsoft-graph-docs/issues/7596
You can vote on the user voice similar to this on Graph User voice.

[2021-03-16 12:21] #72065 closed

[2021-03-16 12:22] vipulsparsh commented on #72118
@allenh100 Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-03-16 12:27] amanmcse commented on #72214
@emaborsa I have posted the answer to your query here: https://docs.microsoft.com/en-us/answers/questions/314957/exception-in-custom-azure-user-flows.html

Please test and reply on that thread, if you need any further assistance.

[2021-03-16 12:27] #72214 closed

[2021-03-16 12:35] MCGPPeters opened #72236 "Add troubleshooting detail on"
When creating a volume mount one can encounter the following well known message:

Warning  FailedMount  36s  kubelet, aks-xxxxx-xxxx-xxxxxx  MountVolume.SetUp failed for volume "*****************" : mount failed: exit status 32
Mounting command: systemd-run
Mounting arguments: --description=Kubernetes transient mount for /var/lib/kubelet/pods/9a1cbae3-7597-4600-9d53-2b189987041f/volumes/kubernetes

[2021-03-16 12:35] v-jheichman opened #72237 "Asset still shows up when Azure SQL Database deleted and Scan is deleted"
I deleted an Azure SQL Database and then deleted the Scan. Why does the asset still show up? Is there any way to manually remove the asset if there's no underlying database to scan anymore?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1ff61cb-2be2-9ca9-3f94-ffb769e4ffcc
* Version Independent ID: 6e1b75c1-581e-ae7c-d

[2021-03-16 12:45] AjayKumar-MSFT commented on #71978
ChrisClarkRs, I have assigned the issue to the content author to review further and update the document as appropriate.

[2021-03-16 12:50] andybooth opened #72238 "Discrepancy around requirement for Hosting Plan with Linux Azure Functions and Consumption Plan"
A notice in document states "The Consumption plan cannot be explicitly defined for Linux. It will be created automatically.". However, if you create a Python Azure Function within Azure Portal, the deployment template creates one explicitely. Similarly if you export the Automation Template for the resource group, a Server Farm/Consumption Plan is added to the ARM template even for Linux, not just

[2021-03-16 13:10] VikasPullagura-MSFT commented on #72236
@MCGPPeters
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-03-16 13:10] VikasPullagura-MSFT commented on #72236
@mlearned @zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2021-03-16 13:11] shashishailaj commented on #70841
@parwejp Hope you are doing great . Could you please share your findings while comparing the success/failure scenarios as mentioned in the last post ?

[2021-03-16 13:14] shashishailaj commented on #72235
@allanlw Thank you for your feedback . We will investigate and update the thread.

[2021-03-16 13:19] AjayKumar-MSFT commented on #72047
@tielushko, There was breaking change in the beta SDKs, which renamed the method from **IssueToken** to **GetToken**. If you upgrade your SDK to version 1.0.0-beta5, you will see this method.

We're sorry for the inconveniences and we will improve the communication of breaking changes in the SDKs.
Much appreciate you taking time to share your feedback on this.  We have also shared your feedback wi

[2021-03-16 13:19] #72047 closed

[2021-03-16 13:26] JFolberth opened #72239 "Screenshots to Enable Azure Defender incorrect and process is off"
Believe due to updates the screenshots for how to enable Azure Defender for individual storage accounts is incorrect.  I have been unable to do toggle this feature on/off for individual storage accounts via the portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b92c195-c670-2e27-2422-fd131586bdd7
* Version Indepen

[2021-03-16 13:48] tomkerkhove opened #72240 "AKS Nodes mentions Moby container runtime, instead of containerd"
AKS Nodes are using Moby but as of Nov 2020, the [new default container runtime is containerd](https://github.com/Azure/AKS/blob/d3cc6badf9319b6e2ab6f1a8a8fb42e16dd81014/CHANGELOG.md#release-2020-11-16)?

Do you want me to send a PR wit this change?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a445f8cc-6581-ad43-1dba

[2021-03-16 13:49] JeissonL commented on #71952
Thank you @MarileeTurscak-MSFT,
I'm talking about if the Application Proxy Connector and all the applications that is published through its, are supported for IPv6?
There are not information about it.

[2021-03-16 13:50] sujitdmello opened #72241 "Introduction may be misleading - can we really change the number of vCPUs or memory using autoscale?"
Changing vCPUs and memory in Azure Spring Cloud is considered a **scale up** operation. This is done via a manual task in the Portal or CLI. The **scale-out** feature adds instances. Adding instances indirectly _does_ add vCPUs and memory associated with each instance, but the statement in the introduction seems to imply that you can **scale up** using auto-scale, which is not the case. For exampl

[2021-03-16 14:28] KranthiPakala-MSFT commented on #72038
@dphugo - Thanks much for pointing me to the exact location.
The PR for the fix has been created and it will be merged soon. Changes should reflect within 24hrs. Thanks again for pointing this out,  please let us know if there is something else that we can help you with.

[2021-03-16 14:34] msftradford opened #72242 "What is the minimum supported ASA SDK version?"
What is the minimum supported ASA SDK version?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d172218-934f-1431-be92-4ad6897a31e9
* Version Independent ID: 124f517a-9531-838d-3834-a21f94da9fdb
* Content: [Install Azure Spatial Anchors for Unity - Azure Spatial Anchors](https://docs.microsoft.com/en-us/azure/spatial-an

[2021-03-16 14:35] msftradford commented on #72242
Acknowledged. Working on a PR now.

[2021-03-16 14:42] mennomenno opened #72243 "Ubuntu 20.04 LTS not supported?"
Listed as supported operating systems are Ubuntu 16.04 LTS, Ubuntu 18.04 LTS. Is 20.04 LTS indeed not (yet) supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b0ecacc-0792-42eb-f396-551988b74b8b
* Version Independent ID: a9799067-aa80-3f4b-cbcb-2d4ccefe2baf
* Content: [Enable VM insights guest health (preview)

[2021-03-16 14:46] NillsF opened #72244 "AKS best practice still mentions kured in stead of node auto upgrade"
To discuss with the AKS team: The AKS security best practice document still mentions using ```kured``` as a best practice for node updates.

Since node auto updates are available now, should we recommend this in stead of ```kured```?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57992e58-4e0c-5b5d-0136-ca7974283d2d
*

[2021-03-16 14:48] adamgourd opened #72245 "Clarify that Windows Hello for Business applies to the "Require multi-factor authentication" condition"
It might be helpful to indicate here that Windows Hello for Business in recognized as MFA authentication (fulfilling the "Require multi-factor authentication" condition when defining grant/block access rules.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d043ad9-0da6-de81-d1ae-be0de39abe66
* Version Independent ID: 2

[2021-03-16 14:57] LoicAG commented on #71126
@RyanHill-MSFT thank for the feedback; can you please share the timeline for this bug fix? This is very problematic, especially due to its "hidden" nature: in the Azure Portal, everything looks just fine.

[2021-03-16 15:09] RyanHill-MSFT commented on #71126
The changes should be applied by April.

[2021-03-16 15:10] martincoetzer commented on #72207
To successfully sign-in, users need to meet all policies. The first policy checks if you are in the group and are domain joined, then next policy checks if you have a Windows device.

[2021-03-16 15:12] AgribotGit opened #72246 "The instruction about how to get the prediction resource ID is wrong"
hello
First a thank you to those on your  trying to explain how to use this custom vision feature using python

The instruction that says

You can find the prediction resource ID value on the resource's Overview tab, listed as Subscription ID
is wrong

the correct way is explained at https://github.com/MicrosoftDocs/azure-docs/issues/28445

Please change that important how-to information on your w

[2021-03-16 15:13] LuisCabrer commented on #72197
This is not true, you will need True with a capital T if working with Python (which looks like JSON, but it is not strictly JSON).
Since the snippet is in json, true (with lowercase t) is correct.  Please close this issue.

[2021-03-16 15:17] JamesTran-MSFT commented on #72245
@adamgourd
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-16 15:25] #72171 closed

[2021-03-16 15:33] MonikaReddy-MSFT commented on #72244
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-03-16 15:36] MonikaReddy-MSFT commented on #72240
@tomkerkhove - Thanks for bringing this to our attention. Sure, please go ahead and raise the PR and mention this issue in the PR. And let us know once its completed. Thank you.

[2021-03-16 15:36] #70050 closed

[2021-03-16 15:38] #71680 closed

[2021-03-16 15:40] MarileeTurscak-MSFT commented on #72187
Engineering has reported that they fixed the issue. Full update here: https://status.azure.com/en-us/status

Thank you for reporting and I apologize for the impact that this has caused.

[2021-03-16 15:40] #72187 closed

[2021-03-16 15:43] markjbrown commented on #72226
Hi @davidjytang we do not have a calculator like this.

Queries can vary too widely in RU consumption for a tool like that to be useful so unlikely we would create a tool like this.

The approach we recommend is customers measure queries in portal or code and note their average RU cost, then use that to forecast their throughput needs.

Thanks.

[2021-03-16 15:52] mpb10 commented on #41969
I'm seeing the exact same problem as others in this issue. I'm copying one blob file in a storage account to another storage account. I'm on AzCopy version 10.9.0.

[code]

[2021-03-16 15:59] spelluru commented on #71467
#please-close

[2021-03-16 15:59] #71467 closed

[2021-03-16 16:03] sgdesmet opened #72247 "Bug in self-asserted page layout version 2.1.2"
Some error messages for display controls are not shown in version 2.1.2. The culprit seems to be an unknown variable `isMessageSafe` in the B2C Javascript handling display control state:

![image](https://user-images.githubusercontent.com/1021366/111340769-37c8bf80-8679-11eb-8586-fe9d2c75baa7.png)

PS: if there is a more appropriate location to report these kinds of issues, please let me know!

--

[2021-03-16 16:04] SaiKishor-MSFT commented on #72049
@anzaman I am unable to reproduce this. Could you please look into this issue? Thank you!

[2021-03-16 16:06] PramodValavala-MSFT commented on #72200
@GavinJin8 Thanks for the question! We will review and get back to you!

[2021-03-16 16:11] jelew opened #72248 "Feedback on Windows Machine | Configure the SAN policy as Online All"
Hello team,

There appears to be missing/inaccurate information on this page regarding setting the "SAN Policy = Online All." On the page it claims that it ensures that Windows volumes in Azure VM use the same drive letter assignment as the on-premises VM. I've researched this and discussed with my VM POD TA - we question this statement. Is this documented somewhere or can it be modified to avoid

[2021-03-16 16:11] JamesTran-MSFT commented on #72051
@RMKoRn
I just wanted to check in and see if you had any other questions or if you had a chance to review my previous post?

[2021-03-16 16:12] sopopa1 opened #72249 "subscription is not added to root management group once transferred to a new tenant"
Hi,

One customer reported that the documentation should be explicit when it comes to the fact that a subscription is not added to root management group once transferred to a new tenant.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1527b80e-5270-b5f0-9034-747c6f92ae4e
* Version Independent ID: 50b9882c-dcb0-e

[2021-03-16 16:16] klaushofrichter opened #72250 "good beginners guide"
The instructions to setup an application and a service principal are well documented - I was able to handle this without a lot of prior knowledge about Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11aaa091-1108-52f6-0066-0f4e939aeef4
* Version Independent ID: dbc7e37e-87a7-c124-3e4c-47aa060e6cf3
* Content: [Cr

[2021-03-16 16:24] JamesTran-MSFT commented on #72250
@klaushofrichter
Thank you for the feedback and we're glad that you were able to walk through this documentation!

I'll go ahead and close this out at the end of the day pending any other comments from your end.
Thank you for your time and patience!

Adding the author (@rwike77) for visibility on this feedback.

[2021-03-16 16:25] SaiKishor-MSFT commented on #72201
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-03-16 16:25] SaiKishor-MSFT commented on #71885
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-16 16:25] #71885 closed

[2021-03-16 16:26] frozenheart1100 commented on #71809
i email for you, sorry for email lately, i try to fix it by myself but failed :(

[2021-03-16 16:26] SoyUnEmilio opened #72252 "Step 3. 3."
When I enter on the appsettings.json there is another field that I believe it should be mentioned: "Domain".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 479bff62-927a-9f71-c85f-4a1188c72bb2
* Version Independent ID: df934d01-7a9d-f7f9-d9ea-320454e32d77
* Content: [Quickstart: Add sign-in with Microsoft to an ASP.NET

[2021-03-16 16:27] SaiKishor-MSFT commented on #72205
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-03-16 16:28] SaiKishor-MSFT commented on #72210
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-16 16:29] SaiKishor-MSFT commented on #72212
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-16 16:33] palma21 commented on #72172
Hi @ArminEberle could you update your CLI or CLI extension version to the latest. It's likely your version doesn't have that output yet.

[2021-03-16 16:48] duongau commented on #72205
@hisasima Thank you for your suggestion. I will bring this up with our product team to see if this is something we should include in the document. For now I will be closing this ticket.

#please-close

[2021-03-16 16:48] #72205 closed

[2021-03-16 16:55] spelluru commented on #43468
@romankiss - Appreciate if you could submit an idea on User Voice(https://feedback.azure.com/forums/909934-azure-event-grid), or open a support ticket for @ahamad-MS to investigate further. Thank you.

@ahamad-MS - please feel free to reopen the issue if you want to add any information. Thanks.

#please-close

[2021-03-16 16:55] #43468 closed

[2021-03-16 16:56] RyanHill-MSFT commented on #72215
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-16 16:57] RyanHill-MSFT commented on #72220
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-16 17:08] ArminEberle commented on #72172
Hi @palma21 thanks for your reply, this has fixed the issue. My az cli version was  2.11.1 before, after upgrade to 2.20.0 the "latestNodeImageVersion" attribute is returned properly.

[2021-03-16 17:08] #72172 closed

[2021-03-16 17:09] aeb5005 opened #72255 "Add line about creating mount as well as blob"
@ekpgh , We've learned that the documentation needs to be updated. It states to disable the firewall then create the storage target. It should say to create the storage target and the mount in the namespace before re-applying the firewall rules.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c31467b7-6446-3b3e

[2021-03-16 17:10] mmacy commented on #72118
Attempt 2 at #reassign:hamiltonha

[2021-03-16 17:12] PramodValavala-MSFT commented on #72101
@Skylertodd Thanks for the feedback! While there is a policy ([`redirect-content-urls`](https://docs.microsoft.com/en-us/azure/api-management/api-management-transformation-policies#MaskURLSContent)) for performing the same on the body, this isn't one for header values as mentioned in the note under the same section.

The policy that you've shared is indeed the way to go but I'm unsure if that woul

[2021-03-16 17:18] mmacy commented on #72118
@vipulsparsh Can you reassign this to @hamiltonha for me, please? Seems that comment automation is currently down.

[2021-03-16 17:24] VikasPullagura-MSFT commented on #71458
@ddobric Any update that you can share from the support case you have opened.

[2021-03-16 17:28] JamesTran-MSFT commented on #72252
@SoyUnEmilio
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-16 17:32] MicrosoftGuyJFlo commented on #72245
Good call @adamgourd I will get this added shortly. Probably will add it to the MFA definition in the detail article https://docs.microsoft.com/azure/active-directory/conditional-access/concept-conditional-access-grant

[2021-03-16 17:50] VikasPullagura-MSFT commented on #72209
@SnoWolfT
Thanks for your Question! We are currently investigating and will get back on this.

[2021-03-16 18:05] ewahner opened #72257 "What If is greyed out."
What If is greyed out.  Is this a paywall type of issue?  I currently use Azure AD B2C and would like to test out Conditional Access with it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b96bf8a-e95d-292c-366d-c5d2a0f887b1
* Version Independent ID: f640200f-9a70-0109-e2b3-2187f0dfad02
* Content: [Troubleshoot Condit

[2021-03-16 18:11] BharathNimmala-MSFT commented on #72182
@shamird The issue has been mitigated , please find the latest status [here on Azure Status page](https://status.azure.com/en-us/status/history/). Hope you could follow through the document now.

Thanks again for reaching out to us. Please note that [this ](https://github.com/MicrosoftDocs/azure-docs/issues)channel (the Azure Docs repository) is only for driving improvements related to the Azure d

[2021-03-16 18:11] #72182 closed

[2021-03-16 18:30] JamesTran-MSFT commented on #72257
@ewahner
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-16 18:38] JasonWHowell commented on #72169
#assign:deshriva

[2021-03-16 18:39] bandersmsft commented on #67482
https://github.com/MicrosoftDocs/azure-docs-pr/pull/150130

[2021-03-16 18:42] Justinha commented on #72143
@methorst is there a specific app or set of apps that concerns you? The topic mentions non-browser based apps before 2013.

[2021-03-16 18:44] bandersmsft commented on #67482
@shellysolomonwang I updated the article for the current upgrade behavior. If your Azure for Students Starter subscription doesn't have the option to upgrade, then you don't qualify for the upgrade to a free account. I noted that in the article update. In your case, if you want to upgrade your Student subscription to a pay-as-you-go subscription, please open a support request in the Azure portal.

[2021-03-16 18:44] #67482 closed

[2021-03-16 18:47] ddobric commented on #71458
Sorry, till now no support ticked opened.
We have many test runs with several containers. The issues are obvious. When the container has a memory peek over the specified limit then:

1. Container is terminated by the host without any error, that might indicate the reason.
From time to time the container log contains _outofmemory_ exception (code is in .net core).

Expectation: If the container nee

[2021-03-16 18:49] normesta commented on #67988
Hi @CloudCrusader  - Media Services has been added to the table. Thank you for raising this issue!

#please-close

[2021-03-16 18:49] #67988 closed

[2021-03-16 18:50] normesta commented on #69060
Hi @eliasvakkuri - Azure Perview has been added to the table. Thank you for raising this issue!

#please-close

[2021-03-16 18:50] #69060 closed

[2021-03-16 18:51] SillyKeith opened #72258 "There is no "Reset" button, it's the Power button and we should add that there's a second button."
[Enter feedback here]
Replace "reset" with "power"

Step 2, the NOTE says : The power adapter port is located on the right side of the carrier board. The remaining ports (2x USB-A, 1x USB-C, 1x HDMI, and 1x Ethernet) and the **reset** button are located on the left side of the carrier board.

This is a Power button not a reset button.

We need to add information about the other button too:  The se

[2021-03-16 18:52] JamesTran-MSFT commented on #72252
@SoyUnEmilio
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author(@jmprieur) to review and sign off.

![image](https://user-images.githubusercontent.com/36619112/111362730-62e8ea00-864c-11eb-9e01-f485ff8d1ad0.png)

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank yo

[2021-03-16 18:52] #72252 closed

[2021-03-16 19:03] MonikaReddy-MSFT commented on #72198
@ktleach - Standard DS3 v2 (4 vcpus, 14 GiB memory) is mentioned right on the document.

Can you elaborate more on this question - This page does not align with what is in Azure from a VM size name perspective ?

[2021-03-16 19:12] coolsammy opened #72259 "Note about Google pickle string creation"
Please add a note that the Google pickle string creation should be done on a windows machine. Creating this pickle string from a pickle file created on a Linux server does not work. There seems to be a new line added to the pickle string file that the App function cannot gracefully interpret.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2021-03-16 19:13] MarileeTurscak-MSFT commented on #72259
@coolsammy
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-16 19:14] BharathNimmala-MSFT commented on #72243
@mennomenno Thank you for reaching out to us.

If your query is pertaining to VM insights guest health, Ubuntu 20.04 LTS  is not supported yet, however our Product team is currently evaluating the work to support Ubuntu 20.04 LTS. We will circle back once we have a concrete timeline to share and update the documentation accordingly.

In case your are query is regarding Enabling VM Insights , pleas

[2021-03-16 19:14] #72243 closed

[2021-03-16 19:39] swmolen commented on #72206
Okay. You should make the documentation more clear. "After adding Salesforce as an Identity Provider (see the last step), you can then go to your user flow and select "Salesforce" or whatever name you assigned as your identity provider. @vipulsparsh

[2021-03-16 19:48] TravisCragg-MSFT commented on #71949
@zuhaib446 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-16 19:48] #71949 closed

[2021-03-16 19:59] jsandersrocks opened #72260 "Addresses and API do not agree"
Customer ran the armclient command and it does not agree with the published data:

I have a question I was hoping you could answer. Is the list of UDRs available at this website kept upto date for ASE? https://docs.microsoft.com/en-us/azure/app-service/environment/management-addresses

I ran the API call using armclient provided at the bottom of that page for a sample of 4 ASEs in production. I se

[2021-03-16 20:02] bandersmsft commented on #72055
@gpetersOB I'm investigating your question with the App Service enginnering team.

[2021-03-16 20:03] TravisCragg-MSFT commented on #71954
@slime-uk it is likely that new documentation will only include Az module examples. Most actions are still possible on the old Azure RM Modules, but documentation will be prioritizing the Az modules going forward.

Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-03-16 20:13] jmprieur commented on #72252
It's only required for B2C applications. AAD applications use the tenant ID (but your app could use it for display purpose)

[2021-03-16 20:19] YutongTie-MSFT commented on #53441
@krysickij1 Thanks for following up this thread. I would encourage you to open a new one since this thread was too old and difficult to track.

[2021-03-16 20:21] nibaccam commented on #71377
Hi @szakharov7723 thank you for reporting this. You're correct, this code should say fitted_model not fitted_pipeline. I've updated the documentation and the fix should be published later today.

We will now proceed to close this thread.
#please-close

[2021-03-16 20:21] #71377 closed

[2021-03-16 20:23] joshnoe commented on #18258
Please reopen this and fix it. Publishing from Visual Studio deletes all functions, without a warning. I'm not sure why anyone would think this is expected behavoir?

[2021-03-16 20:32] enkrumah commented on #70174
Thank you for your feedback. We have added the updates to a PR request.
#please-close

[2021-03-16 20:32] #70174 closed

[2021-03-16 20:34] enkrumah commented on #69617
We plan to add additional updates to this. This ties into future plans with ML integration with ASA
#please-close

[2021-03-16 20:34] #69617 closed

[2021-03-16 20:34] enkrumah commented on #68885
We plan to add additional updates to this. This ties into future plans with ML integration with ASA
#please-close

[2021-03-16 20:34] #68885 closed

[2021-03-16 20:40] sandervandevelde opened #72261 "External output creation fails when formatted as seen in docs"
I tried to create an external output as seen in the documentation. It fails:

![image](https://user-images.githubusercontent.com/694737/111376468-c4867400-869f-11eb-9b5e-f8d4e39380f9.png)

I tried the same using the same text on one line. That succeeds.

Does it seem the well-formed example is not accepted by the SQLCMD tool inside the container?

---
#### Document Details

⚠ *Do not edit this sec

[2021-03-16 20:41] StanlyLife commented on #61114
Status?

[2021-03-16 20:45] KumudD commented on #68141
@ankur8 NSG2 is associated with NIC1 for VM1 as shown in the image and also described in the article. Thanks!

#please-close

[2021-03-16 20:45] #68141 closed

[2021-03-16 20:45] bmc-at-hfi commented on #20104
@danmana

I encountered a quirk with your workaround. It's an odd edge case, but if you _type_ the URL of a static asset, such as a .png, into your browser, I believe it must initially send that request with the `text/html` header, as it triggers my Vue application's 404 page. Worse yet, the browser will cache that, and that image will be broken until the cache is busted.

Replicated this in Chrom

[2021-03-16 20:50] sandervandevelde commented on #72261
I tried it a few times, deleting, adding, deleting. I sometimes get some exceptions but I'm not sure why. It seems to work most of the times so I close it again.

[2021-03-16 20:50] #72261 closed

[2021-03-16 20:50] ramandhillon84 commented on #68277
Hi @tdenesevich ,

I believe the purple Note section is highlighting that the Azure Portal currently allows you to add a new Network Interface with IPv6 configuration to an existing VM, but there was not an option to add an IPv6 configuration to the existing Network Interface of the VM. Although you can achieve any of these via command-line (CLI / PowerShell).
I'll edit the Note to clarify the inf

[2021-03-16 20:53] ramandhillon84 commented on #69167
Hi @TheLinuxGuy,

Thanks for the feedback. I'll update the documentation & try to add an example to clarify the current support & limitations.
For clarification though - you can deploy a dual stacked VM with private & public IPv4 & IPv6 addresses without the Load Balancer as well. An Instance Level Public IPv6 address is allowed on the Azure VMs.

Thanks

[2021-03-16 21:12] julieMSFT commented on #71007
@Gunnnn Thank you for contacting Microsoft. This article, articles/synapse-analytics/sql-data-warehouse/pause-and-resume-compute-powershell.md only applies to dedicated SQL pool (formerly  SQL DW). It does not apply to a dedicated SQL pool created in a workspace. I have updated the article with the proper naming and you will see the changes soon. I will go ahead with closing this issue. The @notif

[2021-03-16 21:13] julieMSFT commented on #71007
#https://github.com/MicrosoftDocs/azure-docs-pr/pull/150688

[2021-03-16 21:13] ericthomas1 opened #72262 "Critical Questions: Client Certificate Handling"
Hello,

I need more details on what Azure App Service does when it receives a request that includes a Client Certificate. The [docs here](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-configure-tls-mutual-auth#access-client-certificate) state:

`"App Service does not do anything with this client certificate other than forwarding it to your app."`

I'm certain this is not compl

[2021-03-16 21:14] normesta commented on #56310
Thank you for sharing these snippets! Currently, this article points to a guide that shows how use the Azure Portal to create a private link for an Azure Storage account. To keep article duplication down, we plan to (for now) continue pointing to the PowerShell and CLI articles that feature an Azure web app as the target service. The steps for creating a private link are very close to the same. We

[2021-03-16 21:14] #56310 closed

[2021-03-16 21:16] julieMSFT commented on #71007
#please-close

[2021-03-16 21:16] #71007 closed

[2021-03-16 21:23] pidahbus opened #72264 "Critical: Configure JDBC URL using Azure Active Directory token authentication for non-admin user"
Hi, I am trying to connect to Azure Databricks Cluster through JDBC connection from my local machine using Azure Active Directory token authentication. For that case, as rightly described I need to replace ```AuthMech=3;UID=token;PWD=<personal-access-token>``` with ```AuthMech=11;Auth_Flow=0;Auth_AccessToken=<Azure AD token>``` in the JDBC URL. This ```<Azure AD token>```, I need to collect either

[2021-03-16 21:24] TheLinuxGuy commented on #69167
If that’s possible, I did not find an example documentation or azure CLI via power shell to deploy it.

Could that be documented please? I still need to deploy a VM with dual stack IPv4/6 public addresses without a load balancer and for now I have hosted it elsewhere.

Sent from my iPhone

On Mar 16, 2021, at 4:54 PM, RamanDhillon[MSFT] ***@***.***> wrote:

﻿
CAUTION: This email originated from ou

[2021-03-16 21:25] Nickomang opened #72265 "Incorrect link to troubleshooting Azure Monitor log page"
In the [Troubleshooting Azure Monitor alerts and notifications](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-monitor/alerts/alerts-troubleshoot.md) article there is a link titled "Troubleshooting Azure Monitor Log Alerts in Microsoft Azure" that points to the page for troubleshooting metric alerts. I have a PR fixing this for your review:

https://github.com/MicrosoftDocs

[2021-03-16 21:25] JSeb225 commented on #70730
Thanks, we submitted a PR to edit the illustration. It should be updated in the public doc shortly
#please-close

[2021-03-16 21:25] #70730 closed

[2021-03-16 21:37] Oury-MSFT commented on #72167
@stevestein We were able to reproduce the issue and the issue is only with az sql db update. Using the mention command , we are not able to change the license type . Please help us to edit this document accordingly.
@HWidforss We have assigned to our doc author and they will review it further.

[2021-03-16 21:38] lukealton opened #72266 "Update the Page for New Releases"
Downloaded the threat modeling tool today and got version 7.3.00929.2. Latest version on the page with release notes is 7.3.00729.1 (July 2020). Updating the page would be helpful in getting needed info about new versions of the tool and also indicate the tool is still being actively developed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-03-16 21:39] NavtejSaini-MSFT commented on #72261
@sandervandevelde We are glad this was resolved.

[2021-03-16 21:43] TravisCragg-MSFT commented on #72221
@VictorDC92 I was able to create a kubenet cluster and update it to use pod identity without issue. You might want to [update your Az PowerShell Module](https://docs.microsoft.com/en-us/powershell/azure/install-az-ps?view=azps-5.6.0#update-the-azure-powershell-module) and make sure to add and update the aks-preview module as described in this doc.

If you are still getting this error after updatin

[2021-03-16 21:45] nibaccam commented on #71508
@szakharov7723 thank you for your question. Try using the forecast() method instead of the predict() method, so

`best_run.forecast(test_data)`

Let me know if this solves the issue. If so,  I'll make an update to the document.

[2021-03-16 22:05] MarileeTurscak-MSFT commented on #72022
As you rightly said this behavior only applies if risk-based step-up consent is active, and risk-based step-up consent is enabled by default.

This document says, "If Microsoft detects a risky end-user consent request, the request will require a 'step-up' to admin consent instead. This capability is enabled by default, but it will only result in a behavior change when end-user consent is enabled."

[2021-03-16 22:08] felixtsem5 opened #72267 "Cosmos DB metrics page has been updated"
The metrics blade of Cosmos DB looks different from what is presented on this doc page. The tabs shown in the first image (Overview, Throughput, etc) has been moved to the Insights blade.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4535fb42-55f9-4d8c-52d2-30b5eb0ef726
* Version Independent ID: f5cccae0-a752-4065-605

[2021-03-16 22:08] JamesTran-MSFT commented on #72266
@lukealton
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-16 22:10] JamesTran-MSFT commented on #72247
@sgdesmet
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-16 22:12] sdgilley commented on #61114
Are you saying you can't create a new workspace in a resource group that you are own of?  Or are you saying you can't MOVE or copy their workspace to a new resource group?

We don't have the ability to move or copy a workspace.  See https://docs.microsoft.com/en-us/azure/machine-learning/how-to-manage-workspace?tabs=python#moving-the-workspace

[2021-03-16 22:12] #72250 closed

[2021-03-16 22:13] KranthiPakala-MSFT commented on #72237
@v-jheichman
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-03-16 22:18] BharathNimmala-MSFT commented on #72265
Thanks a lot @Nickomang for helping us to improve the doc. Greatly appreciate you taking time to also raising a PR to fix the link, once its reviewed by author it will be merged with the live document later in the week.

At this point it appears that there's no further edits or updates needed to the documentation, other than what you have already raised a PR for. We will go ahead and close this is

[2021-03-16 22:18] #72265 closed

[2021-03-16 22:20] #72051 closed

[2021-03-16 22:20] sumeetmittal commented on #71936
Akshay,

Sorry, AAD is failing so I can't comment on github, but replying here.

You can add the text under Configuration or Troubleshooting Scenarios. I think its already listed under troubleshooting scenarios. Please take a read.

Calling it a limitation seems to imply that this is something that we may change/remove in near future which is not correct.

Regards
Sumeet Mittal

From: Akshay Mitta

[2021-03-16 22:24] lopezbertoni opened #72270 "Fix in App settings definition"
The docs state that the config should be the following:

`
{
  "ApplicationInsights":
    {
        "Instrumentationkey":"putrealikeyhere"
    }
}
`

This should be camel cased I believe, like the following:

`
{
  "ApplicationInsights":
    {
        "InstrumentationKey":"putrealikeyhere"
    }
}
`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2021-03-16 22:25] normesta commented on #52208
Thanks for the suggestion @RonnieQuan. The underlying details as to why the direct private link might behave unreliably is a bit complex so we've intentionally avoided itemizing the reasons. There are parts of the connection process that take a dependency on the public endpoint - for example - obtaining the Azure AD audience when authorizing etc.  The message that we are trying to convey is that a

[2021-03-16 22:25] #52208 closed

[2021-03-16 22:29] bandersmsft commented on #72055
@gpetersOB Instance size flexibility isn't avaliable for App Service reservations. However, the App Service team is investigating whether they'll add it in the future. If you're interested in leaving feedback to ask that App Service reservation  support for instance size flexibility, you can do that at https://feedback.azure.com/forums/926206-azure-reservations.
#please-close

[2021-03-16 22:29] #72055 closed

[2021-03-16 22:38] ChaitanyaNaykodi-MSFT commented on #71963
Hello @mohsin-ac, Thank you for the feedback. I have made a PR to rectify the url, and is currently pending Doc author's approval. We will now proceed to close this issue out. Please tag me in your response if there are any additional concerns. Thank you!

[2021-03-16 22:38] #71963 closed

[2021-03-16 22:38] BharathNimmala-MSFT commented on #72248
@jelew Thanks a lot for bringing this to our notice and sharing your feedback, I have assigned the issue to our document author to further review the feedback and update the document accordingly.

[2021-03-16 22:46] garthoid opened #72271 "User role not mentioned to achieve app registration"
[Enter feedback here]

What role do I need to be to create an app registration. I have user and security administrator and I do not have sufficient privs? You do not mention this in the doc but the screen shot appears to show a user.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11aaa091-1108-52f6-0066-0f4e939aeef4
* V

[2021-03-16 22:47] garthoid commented on #72271
wrong page

[2021-03-16 22:47] #72271 closed

[2021-03-16 22:47] garthoid opened #72272 "User role not mentioned to achieve app registration"
[Enter feedback here]

What role do I need to be to create an app registration. I have user and security administrator and I do not have sufficient privs? You do not mention this in the doc but the screen shot appears to show a user.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9642c47-826b-017f-eff3-ab3b25e4e454
* V

[2021-03-16 22:48] BharathNimmala-MSFT commented on #72270
Thank you @lopezbertoni for bringing this to our notice,  we will review the feedback and update the document accordingly.

[2021-03-16 22:48] Oury-MSFT commented on #72267
@felixtsem5 We are looking into this and We will get back to you.

[2021-03-16 22:49] mike-urnun-msft commented on #72024
@allanlw Thank you for sharing this feedback and helping us drive improvements toward MS Docs! Upon reviewing your feedback, we have determined that the [Troubleshoot storage doc](https://docs.microsoft.com/azure/azure-functions/functions-recover-storage-account#storage-account-is-inaccessible) _(specifically, the Storage account is inaccessible
 section)_ to be a more suitable doc for communicati

[2021-03-16 22:49] #72024 closed

[2021-03-16 22:50] cijothomas commented on #72270
```{ "ApplicationInsights": { "InstrumentationKey":"putrealikeyhere" } }``` is the correct one.

[2021-03-16 22:52] lgayhardt commented on #72270
@lopezbertoni Thanks for catching that!
I will update the doc and the change should go live tomorrow.

#please-close

[2021-03-16 22:52] #72270 closed

[2021-03-16 23:02] RyanHill-MSFT commented on #72215
@ivanpavlof as we continue to improve Azure App Service, the number of outbound IP Addresses isn't set in stone. The key thing is knowing [when they change](https://docs.microsoft.com/en-us/azure/app-service/overview-inbound-outbound-ips#when-outbound-ips-change) and [how to retrieve them](https://docs.microsoft.com/en-us/azure/app-service/overview-inbound-outbound-ips#find-outbound-ips).

I've up

[2021-03-16 23:03] JamesTran-MSFT commented on #72272
@garthoid
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-16 23:05] normesta commented on #51330
Thank you for the suggestions! I've updated the "Grant access from an internet IP range" section of the doc with a bit more detail. Those changes will appear live tomorrow AM.  Yes - for clients in the paired region, that are in a VNET with a service endpoint, you can't use IP Network rules to restrict access. Thanks!

#please-close

[2021-03-16 23:05] #51330 closed

[2021-03-16 23:05] OpalescentTopaz commented on #68262
Any further info?

[2021-03-16 23:10] Oury-MSFT commented on #72267
@felixtsem5  I was able to see the tabs you mentioned above (Overview, Throughput, ect) on the **Metrics(classic)** blade in the Azure portal. Please let me know if that is not the case from your end. Please see the screen below
![Azure cosmos DB Metrics](https://user-images.githubusercontent.com/78940872/111391389-c5a0ac80-8671-11eb-8e22-569993185731.PNG)

[2021-03-16 23:11] MGrasdal commented on #68262
I have heard nothing. I made the original report 2 and half months ago, and there has been no sign of any activity to fix this, aside from the odd comment from MS here. I am sure this issue does require a complicated fix, so I am not sure what is causing the delay.

[2021-03-16 23:16] JamesTran-MSFT commented on #72272
@garthoid
Thank you for pointing this out! Within our documentation the only pre-requisite to create an AzureAD app registration is an Azure account that has an active subscription.

I was able to test this out within my subscription on a User with no assigned roles:
![create_appReg](https://user-images.githubusercontent.com/36619112/111391929-cede4900-8672-11eb-84c4-35dd8e57603a.gif)

If you're h

[2021-03-16 23:17] normesta commented on #62207
Hi @evanzhang89  - yes this is something others have mentioned as well. Sorry for the confusion. Service **instances** can be in any subscription as long as the service is registered in your subscription. A service instance can be created in another subscription. That's no problem. As long as you've registered the service itself in your subscription. Thank you for sharing the confusion. We'll cont

[2021-03-16 23:17] #62207 closed

[2021-03-16 23:17] szakharov7723 commented on #71508
Unfortunately, I can't test it, but I actually used the following:

d = datetime.timedelta(days = 14)fcstrange = today + d#print(yesterday)
best_run, fitted_model = remote_run.get_output()
import numpy as nplabel_fcst, data_trans = fitted_model.forecast(
     forecast_destination=fcstrange)

I just retrained the model for every new data.

But for future users it would be definitely helpful to have

[2021-03-16 23:20] JamesTran-MSFT commented on #72247
@sgdesmet
Thank you for pointing this out! I've reached out to our engineering team regarding this and will update as soon as possible.

[2021-03-16 23:24] julieMSFT commented on #70727
#reassign:gaursa

[2021-03-16 23:24] PRMerger12 commented on #70727
gaursa is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-03-16 23:31] #72215 closed

[2021-03-16 23:39] Oury-MSFT commented on #72267
@felixtsem5 I have assigned the issue to the content author for further review and update the doc as appropriate.
cc @kanshiG Could you please look into this issue.

[2021-03-16 23:41] RyanHill-MSFT commented on #72262
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-16 23:42] julieMSFT commented on #70727
#reassign:gaursa

[2021-03-16 23:44] julieMSFT commented on #69736
#reassign:gaursa

[2021-03-16 23:44] RyanHill-MSFT commented on #72260
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-16 23:58] claire-q opened #72274 "Can we add a note that On prem VM without On prem DS is able to use AADDS function with VPN"
In this page Note:
"
Azure AD DS authentication over SMB with Azure file shares is supported only on Azure VMs running on OS versions above Windows 7 or Windows Server 2008 R2.
"

A customer migrated their on-prem DS to the cloud and decommissioned on-prem DS, however they do have local devices, they asked the possibility of on-prem VM to use AAD authentication on file share without on-prem DS.

T

[2021-03-17 00:01] nibaccam commented on #71508
I went ahead and updated the documentation to use the forecast() method since that's what should be used, not the predict() method.

We will now proceed to close this thread.
#please-close

[2021-03-17 00:01] #71508 closed

[2021-03-17 00:25] c4rlosmarin opened #72275 "Azure Policy Insights link broken"
The Azure Policy Insights link is broken on this page:

![image](https://user-images.githubusercontent.com/17365297/111396538-8461ca00-867c-11eb-817c-67c9297346b3.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a6a5887-ea7a-5cae-b0a0-62ebc5a140ae
* Version Independent ID: 84476c7d-ab41-1f02-44c9-25ce1eaa1315
* Con

[2021-03-17 00:31] greendx opened #72276 "14 days to register for Azure AD Multi-Factor Authentication"
https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/concept-fundamentals-security-defaults#unified-multi-factor-authentication-registration

Is there a way to modify the 14 days to register for Azure AD Multi-Factor Authentication period to something shorter? What's the reason for this grace period anyway?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2021-03-17 00:36] tekkies commented on #72042
@mimckitt you mentioned "You can use MSDN to deploy client images for dev/ test though." - does this mean I should check the box for "I confirm I have an eligible Windows 10 license with multi-tenant hosting rights." when creating a Windows VM, as long as I am only using the machine for dev/test?

[2021-03-17 00:38] ChaitanyaNaykodi-MSFT commented on #71956
Hello @timmackey,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

@ggailey777, looks like the publish window for the VS version v16.9.1 or v16.9.2 has changed, screenshot and step descriptions described here (https://docs.microsoft.com/en-us/azure/azure-functions/functions-add-output-binding-storage-queue-vs#download-the

[2021-03-17 00:46] mimckitt commented on #72042
Yes that is fine. We are working to update the portal experience to remove that box when using msdn subscriptions. So in the meantime, checking the box will work and allow you to deploy.

[2021-03-17 00:47] garthoid commented on #72272
So this is confusing. I appear to need a "app developer" role to be able to create a registration. Otherwise I get an access denied error. This appears to be a different experience to yours. In addition, [this page](https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-create-service-principal-portal) also seems to contradict the notion that anyone can make an app registration by s

[2021-03-17 00:49] kobulloc-MSFT commented on #72241
@sujitdmello Thank you for the feedback! We are investigating this and will get back to you shortly.

[2021-03-17 00:57] Brucius commented on #72219
Thank you @SadiqhAhmed-MSFT , any update on this?

[2021-03-17 00:58] ChaitanyaNaykodi-MSFT commented on #72238
Hello @andybooth,
Thank you for your feedback! We will review and update as appropriate.

[2021-03-17 01:06] VigilanteWang commented on #72207
Hi @martincoetzer thanks for reply. But the first policy actually applies only to users in ContingencyAccess, right? So users not in that group won't be checked? What's more,  at step 6, existing MFA policy for SharePoint Online and Exchange Online are disabled, so after that, with backup policy 1-4 enabled, User with a windows pc and on coporate network can also access SP and EXO? Since there see

[2021-03-17 01:20] BharathNimmala-MSFT commented on #72275
@c4rlosmarin Thanks a lot for bringing this to our notice, will fix the broken link and update the document accordingly.

[2021-03-17 01:26] georgeOsdDev opened #72278 "Add note about App Service storage limit"
[Enter feedback here]
In the section of App Service storage limit,
It is better to add note about file system quota for App Service hosted apps is determined by the aggregate of App Service plans created in this region and resource group.
![image](https://user-images.githubusercontent.com/1381907/111400671-2203da80-870b-11eb-94a7-d0bb52ad63d8.png)

---
#### Document Details

⚠ *Do not edit this se

[2021-03-17 01:31] jnoyola commented on #58020
Was there ever any response or documentation update? I'm experiencing similar issues. Every configuration/URL I try results in "ValidationFailed" in the portal when trying to use an authenticated script.

[2021-03-17 01:40] BharathNimmala-MSFT commented on #72278
@georgeOsdDev Thanks a lot for sharing the feedback and helping us improve Azure documentation. Our team will further review the feedback and update the document accordingly.

[2021-03-17 01:58] SubhashVasarapu-MSFT commented on #71905
@TheAnahaym, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-03-17 01:58] #71905 closed

[2021-03-17 02:22] SubhashVasarapu-MSFT commented on #71992
@iisworks, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-03-17 02:22] #71992 closed

[2021-03-17 02:30] SubhashVasarapu-MSFT commented on #71993
@prebenolsen, Since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-03-17 02:30] #71993 closed

[2021-03-17 02:34] BharathNimmala-MSFT commented on #71950
@bertrandpons Apologies for delay in getting back to you on this. Post discussion with our team , it was called out that currently there are no plans to support Debian 10 yet on Log Analytics Agent.

As we get more information on this we will circle back and update our customers and the documentation accordingly.

Please note that [this](https://github.com/MicrosoftDocs/azure-docs/issues) channel

[2021-03-17 02:34] #71950 closed

[2021-03-17 02:36] ram-msft commented on #72011
@annarailton Thanks, It’s not supported using az ml cli - it’s only available for batch scoring as part of an ML pipeline.

[2021-03-17 02:39] ram-msft commented on #72061
@jinchad Thanks, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-17 02:39] #72061 closed

[2021-03-17 03:03] jasonhorner commented on #70019
Awesome thanks so much!!!

[2021-03-17 03:18] Clare-Zheng82 commented on #71815
Thanks for the feedback! This article has been refreshed. The "Azure .NET SDK" section has been removed. We will now proceed to close this thread.
(Please open a new issue if you have follow up questions.)

#please-close

[2021-03-17 03:18] #71815 closed

[2021-03-17 03:23] chrisreeves- commented on #68262
I'm also experiencing this bug and would greatly appreciate some traction

[2021-03-17 03:33] star286 opened #72280 "Question about the Azure app service plan pricing."
For azure app service plan pricing, when I go to the [pricing calculator page](https://azure.microsoft.com/en-us/pricing/calculator/),
and select "App Service" -> then I want to estimate the monthly cost for the **Shared service plan**. But it shows me this:

**1 instances * 730 hours**

I don't know where does the **730 hours** come from, can you please explain? The screenshot is as below:

![pri

[2021-03-17 03:49] KalyanChanumolu-MSFT commented on #72239
@JFolberth Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-03-17 03:50] AnuragSharma-MSFT commented on #72107
@hammady Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-03-17 03:56] SwathiDhanwada-MSFT commented on #71866
Assigning to content author @bwren for review.

[2021-03-17 04:07] KalyanChanumolu-MSFT commented on #72141
@jitendraRai It's been a while we heard from you.
We will proceed to close this issue now.

[2021-03-17 04:07] #72141 closed

[2021-03-17 04:32] AnuragSharma-MSFT commented on #72226
@markjbrown Thank you for the inputs.
@davidjytang Please let us know if you need more info on the same.

[2021-03-17 04:36] AnuragSharma-MSFT commented on #72225
@tompaana Really nice to know you figured it out and adding it as a comment on the issue itself which would help others as well having similar queries.

Please let us know if you want to discuss any more thing.

[2021-03-17 05:02] AshokPeddakotla-MSFT commented on #72264
@pidahbus Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-17 05:04] AshokPeddakotla-MSFT commented on #72258
@SillyKeith Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-03-17 05:48] KalyanChanumolu-MSFT commented on #72255
@aeb5005 Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-03-17 05:58] erapade commented on #69598
@rohitnayakmsft I saw this was closed now, but I didn’t see any update. I still don’t see any private link connection on the no/right side of the diagram. Has a change not reach the documentation that I can see or has this just been ignored?
My understanding is that you still can use a private link even if “Deny public network access” is set to No, and this runs as a parallel thread with all optio

[2021-03-17 06:10] benpaul4u opened #72282 "Misleading document"
[Enter feedback here]
WVD scaling script dont allow scale in or scale out. This document is misleading. Please correct it. Say auto turn-on turn-off.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24a6c4e2-702f-2b17-3e2d-c86f33b13beb
* Version Independent ID: 1e7811d8-668a-db98-34ca-eaf4d7ee8c1f
* Content: [Scale sessi

[2021-03-17 06:12] davidjytang commented on #72226
@markjbrown Thanks for the insight.

[2021-03-17 06:12] #72226 closed

[2021-03-17 06:14] meteor8shower opened #72283 "incorrect link to "Recover from an outage""
under "Geo-restore considerations", the link to "Recover from an outage" takes you to an incorrect page("Azure Key Vault availability and redundancy").

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de79f464-39dc-a5ad-0d9d-fab2ed248222
* Version Independent ID: 6cf17fc7-3bdd-c419-8d9d-7d3067bb86ae
* Content: [R

[2021-03-17 06:32] dd09 opened #72284 "The notification template for fcm is incorrect"
The notification template for FCM provided in the code is incorrect. It fails with error message body is null

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e5b2d7d-fac3-149c-12a9-d0bd80d28838
* Version Independent ID: 526fb7f3-49d6-7e0d-f802-f0d718e2ade1
* Content: [Send localized push notifications to iOS using Azur

[2021-03-17 06:37] VikasPullagura-MSFT commented on #72282
@benpaul4u
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-03-17 06:37] VikasPullagura-MSFT commented on #72282
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2021-03-17 07:03] JasonWHowell commented on #70174
Fixed by https://github.com/MicrosoftDocs/azure-docs-pr/pull/150668

[2021-03-17 07:05] KrishnaG-MSFT commented on #72249
@sopopa1 Thanks for the feedback.
Assigning content owner @rthorn17 for visibility, review and document enhancement consideration as appropriate.

[2021-03-17 07:06] JasonWHowell commented on #70258
#reassign:yicw16322

[2021-03-17 07:28] Klaas- commented on #72081
https://docs.microsoft.com/en-us/azure/azure-monitor/alerts/alerts-unified-log#aggregation-granularity
“As bin() can result in uneven time intervals, the alert service will automatically convert bin() function to bin_at() function with appropriate time at runtime, to ensure results with a fixed point.”

So it seems you have an automated conversion in the backend of the queries, that is not really

[2021-03-17 07:31] tomkerkhove commented on #72240
After reading it again it looks accurate, I'm closing this issue - Sorry!

[2021-03-17 07:31] #72240 closed

[2021-03-17 07:40] lgayhardt commented on #61816
@Rick-Anderson Thank you for going in to detail on the improvements that need to be made to this doc. @cijothomas made a PR that partially addressed some of your feedback. I made a [work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1826963) to address the rest and added it to our backlog.

#please-close

[2021-03-17 07:40] #61816 closed

[2021-03-17 07:55] tompaana commented on #72225
I think this issue can be closed.

[2021-03-17 08:22] yoelhor commented on #72206
Thanks for the feedback. I'm updating the identity providers with the guidance you have suggested. The updated version will be published later today, and this GitHub issue will be closed automatically. Again, thanks for your feedback.

Yoel

[2021-03-17 08:29] kfollesdal opened #72285 "Connect to vm with private ssh key stored in Key Vault with password not working"
Have created an ssh key pair with password with the following commando:

`ssh-keygen -m PEM -t rsa -b 4096 -C "username@corp" -N "password" -f sshkey`

and saved the private ssh key in key vault with following kommando:

`az keyvault secret set --name "ssh-private-vm" --vault-name $KEYVAULT_NAME --description "Private ssh key for vms" --file sshkey`

Have an linux vm that use this ssh key pair. If

[2021-03-17 08:37] #72206 closed

[2021-03-17 08:47] yjin81 commented on #71881
Thanks for the follow up. It is really helpful for me to understand your issue. It might be a potential bug which the SDK need to handle the escaped representation in future. I will sync with the product team offline later.

[2021-03-17 08:52] AnuragSharma-MSFT commented on #72225
@tompaana Thanks for the confirmation.

[2021-03-17 08:52] #72225 closed

[2021-03-17 08:53] AnuragSharma-MSFT commented on #72283
@meteor8shower Thank you for the feedback. We are actively investigating and will get back to you soon

[2021-03-17 09:06] roopesuomalainen commented on #62877
Same issue, has been for more than 2 weeks. "You are unable to add a verified publisher to this application. Please contact your administrator for assistance. [82Nu2r1OdZjKcsCHYrDu6K]".

I am global admin in both MPN and Azure.

[2021-03-17 09:32] Eneuman opened #72289 "Are the arguments needed for POD identity to work?"
Under the heading "Run a sample application" it says:

But in the demo.yaml file there is also the following added arguments:
[code]

It's not clear if the arguments are needed for pod identity to work or if they are used in the demo application..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3c187c0-27f1-11c9-41af-6

[2021-03-17 09:33] VictorDC92 commented on #72221
Hello, we found that the documentation does not talk about **enabling managed identity**.
https://docs.microsoft.com/en-us/azure/aks/use-azure-ad-pod-identity

I have found that to enable the managed identity it is necessary to execute the following.

**az aks update -g resource_group -n cluster_name  --enable-managed-identity**

I wonder if I accept that changes be made to the cluster. What are t

[2021-03-17 09:36] BhargaviAnnadevara-MSFT commented on #72120
@SlokaTech-Git #4 described in the doc indeed fits in the [Configure Azure DevOps and an Azure subscription](https://docs.microsoft.com/en-us/azure/devops-project/azure-devops-project-aks#configure-azure-devops-and-an-azure-subscription) section, although it indeed is for configuring your AKS Cluster configuration.

Here is what it is intends to convey:
The default settings presented while configu

[2021-03-17 09:37] memildin commented on #70931
Hi @jyeblog, thanks for the feedback and for taking the time to help us improve the docs.
I've made changes to this page in light of your feedback. Those changes will go live within the next 24hrs.
I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

#please-close

[2021-03-17 09:38] dtopham75 opened #72290 "Wrong screengrab in 'Find the Disk' section on 'Use the portal to attach a data disk to a Linux VM'"
It looks like the wrong screengrab has been used in the 'Find the Disk' section. Immediately after the text _'For a more complex example, here is what multiple data disks looks like in the portal:'_. The text says that the image shows a configuration with 3 data disks with different LUNs, but the image shows just one - the same image as is used further up the page.
![Screenshot 2021-03-17 093725](

[2021-03-17 09:38] memildin commented on #70931
#please-close

[2021-03-17 09:38] #70931 closed

[2021-03-17 10:18] v-lyivan opened #72291 "Unable to split/filter the metric PacketCount of the Public IP address resources by port"
Unable to split or filter the PacketCount metric of any Public IP address resource by port.
When I try to split the only available port is "0" which is not the only one available.
As per the documentation this is supported - [Public IP Addresses metrics](https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/metrics-supported#microsoftnetworkpublicipaddresses) - supported dimensions Direc

[2021-03-17 10:18] dumbledad commented on #61114
Create

[2021-03-17 10:36] Alex-str11 opened #72292 "Enterprise application owner"
If the enterprise application owner has no directory role, editing the SAML sign-in certificate is greyed out. Custom roles are needed to have access to that and the below links should be associated with this documentation for a better experience. Otherwise customers have to open support requests to get the info.

-> https://docs.microsoft.com/en-us/azure/active-directory/roles/custom-enterprise-a

[2021-03-17 11:03] kathodion opened #72293 "Step "Step 2. Configure G Suite to support provisioning with Azure AD""
Hello

It seems that the step "Step 2. Configure G Suite to support provisioning with Azure AD" does not be necessary anymore. Also, the configuration option for "On the Security page, select API Reference." in the google cloud is not present anymore.
Could you clarify this step please?

Kind regards
Pascal

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2021-03-17 11:29] samueljamkhandi-MSFT opened #72294 "Enabling SSE+CMK for existing VMSS is possible?"
Do not see a document to enable SSE+CMK for existing VMSS. Based on my testing in labs looks like not possible. Could you please check and confirm the same.
If not possible, could you please help to update the same in the public document as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82b11e69-2d61-94c2-d1b7-5e

[2021-03-17 11:36] BhargaviAnnadevara-MSFT commented on #72121
@SlokaTech-Git Please find the screenshots below:

`#2.` At the top of the DevOps Starter dashboard, select **Build Pipelines**. A browser tab displays the build pipeline for your new project.

![image](https://user-images.githubusercontent.com/44050820/111458651-b1c37c00-873f-11eb-9eb6-ba4f8361b4a3.png)

Clicking on Build Pipelines would redirect you to your Azure DevOps organization at: `https:/

[2021-03-17 11:39] DmytroVas commented on #71997
Hi Glenn.
It's weird, when i create a new function app, I can see HTTP trigger. Even after creation of first function, I still able to use HTTP trigger template. Now other HTTP triggers (Javascript, C#, F#) became unavailable.

What's wrong with the first Function App then?
Thanks,Dmytro 
    On Monday, 15 March 2021, 18:11:52 GMT, Glenn Gailey ***@***.***> wrote:

Weird, when I create a PowerShel

[2021-03-17 11:42] chez-charlie commented on #66521
Hi, please refer to https://docs.microsoft.com/azure/data-factory/control-flow-system-variables and https://docs.microsoft.com/azure/data-factory/how-to-use-trigger-parameterization for more information

[2021-03-17 11:42] chez-charlie commented on #66521
#please-close

[2021-03-17 11:42] #66521 closed

[2021-03-17 11:45] chez-charlie commented on #57997
This should have been a delayed roll out issues. CMK is now available everywhere. #please-close

[2021-03-17 11:45] #57997 closed

[2021-03-17 12:05] chez-charlie commented on #43897
Hi Surface Errors back to WebHook has now been implemented. There is a new setting called reportStatusOnCallBack that you can configure now. Thanks for the feedback #please-close

[2021-03-17 12:05] #43897 closed

[2021-03-17 12:15] VikasPullagura-MSFT commented on #72290
@dtopham75
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-03-17 12:15] VikasPullagura-MSFT commented on #72290
@cynthn
Can you please check and add your comments on this doc update request as applicable.

[2021-03-17 12:24] akshaymatmicrosoft commented on #71936
@sumeetmittal : Current documentation doesn't explicitly talk about Managed Storage Account and hence this thread. "**Troubleshooting scenario**" section does say the following:

**_A managed Azure Service stopped working after applying a Service Endpoint Policy over the subnet
Managed services are not supported with service endpoint policies at this time. Watch this space for updates._**

Does th

[2021-03-17 12:27] SwathiDhanwada-MSFT commented on #72291
@v-lyivan Thanks for your comment. We will review the issue and get back to you shortly.

[2021-03-17 12:43] dkattan commented on #62877
I am also getting the "You are unable to add a verified publisher to this application. Please contact your administrator for assistance.", but this appears to be different than the error this issue was created about:
"A verified publisher cannot be added to this application. Please contact your administrator for assistance."

Likewise I am a global admin in both MPN and Azure

[2021-03-17 12:45] StanlyLife commented on #61114
Seems like we weren't able to create a vm instance from the API due to the AAD setup where we chose single-tenant... Thanks!

[2021-03-17 12:46] ktatar1209 opened #72295 "mismatch"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d56ecb14-9e66-5313-a381-d2824ec3d1e2
* Version Independent ID: ff056ac8-ae76-be10-6895-757333a28e05
* Content: [Azure Application Insights for JavaScript web apps - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/app/javascript)
*

[2021-03-17 12:46] dkattan commented on #70851
I am currently experiencing this issue, I have opened a support request.

Is there no other way to correct this problem?

[2021-03-17 12:47] dkattan commented on #66693
This is still an issue:
"code": "UserUnableToAddPublisher",
"message": "You are unable to add a verified publisher to this application. Please contact your administrator for assistance."

[2021-03-17 12:53] Jared975 opened #72296 "Bad Hyperlink on page"
The link for enabling Automanage for Linux VMs links to the Windows page.
Not a big deal, but an easy fix.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7327d9ed-171b-67df-fd1b-b1a748e81dcb
* Version Independent ID: aa88c15d-b283-86cb-fbe6-2b99ad5d0745
* Content: [Azure Automanage for virtual machines](https://docs.mi

[2021-03-17 13:03] ravindraaditya commented on #35934
+1

[2021-03-17 13:13] ram-msft commented on #72011
@annarailton We have roadmap to support in near future. Created a task to update the documentation.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-17 13:13] #72011 closed

[2021-03-17 13:24] DCtheGeek commented on #72275
#reassign:DCTheGeek

[2021-03-17 13:25] DCtheGeek commented on #72275
@c4rlosmarin Thanks for pointing this out.  This is now fixed!

#please-close

[2021-03-17 13:25] #72275 closed

[2021-03-17 13:28] RodrigoGroener opened #72298 "Missing chapter 4.8 encryption of data at rest"
Missing chapter 4.8 in the security baseline about encryption of data in rest.
![imgpsh_mobile_save](https://user-images.githubusercontent.com/3526035/111474487-6bb0ed00-872c-11eb-9cae-daf9a5fa35ae.jpg)

see the excel version where it's filled out: https://github.com/MicrosoftDocs/SecurityBenchmarks/blob/master/Azure%20Offer%20Security%20Baselines/1.1/api-management-security-baseline-v1.1.xlsx

--

[2021-03-17 13:35] burakkarakus opened #72300 "Javascript link below redirects to Java documentation."
Javascript link below in this page redirects to Java documentation. It is supposed to redirect to Node docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71adf8e4-a51b-d20d-39e1-fd7551bc94b9
* Version Independent ID: 3d26fbc0-b6ae-e0ca-089f-e4966c19ef22
* Content: [Overview of features - Azure Event Hubs - Azure Even

[2021-03-17 13:38] jordanmills commented on #72177
Thank you!

[2021-03-17 13:40] piotrgwiazda opened #72302 "Please provide instruction for configuring Conditional Access Policy in AAD."
I would like to configure Azure Synapse Portal in such a way that the portal is available only through the Private Endpoint Hub connection and prevent access from outside the authorized network route. I understand that by just enabling Private Endpoint Hub I won't block the Internet access.
Please provide instructions for how to configure conditional access for Synapse Analytics portal. The docume

[2021-03-17 13:43] jonbprogramming opened #72304 "Missing single quote"
The second example code is missing ending single quote after param storageSKU string = 'Standard_LRS. Causes an error when deploying.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f819c500-ec35-424c-8559-f557f0840f4d
* Version Independent ID: deb6b4a0-16f1-9c58-f535-5b608fce4994
* Content: [Tutorial - add outputs to A

[2021-03-17 13:44] dfendit commented on #35298
+1 having the same issue here after testing it through SSLLABS on App Gw v2. Any solution for this?

[2021-03-17 13:44] Mexicoder commented on #60590
@ShachafGoldstein glad to hear my blog post helped you

[2021-03-17 13:56] gmuenster opened #72305 "Misleading troubleshooting link in "Next steps""
From how I would interpret the text in the "Next steps" section, I would expect the "troubleshooting" link to point to a "Troubleshoot serverless SQL pool" page. Especially if the next sentence is pointing out explicitly to resources for dedicated pools, if you rather work with those. The link is pointing to the "Troubleshoot dedicated SQL pools" page though:
https://docs.microsoft.com/en-us/azure

[2021-03-17 13:57] spelluru commented on #72300
#assign:spelluru
Hi @burakkarakus - Thank you for reporting the issue. Appreciate it. I have fixed the link in this article and a few other articles as well. The updates will go live in 3 hours so.

#please-close

[2021-03-17 13:57] #72300 closed

[2021-03-17 13:59] bourgeoisrebel opened #72306 "Greater clarity regarding authentication cross tenant"
[Enter feedback here]

The steps to authenticate need to be made clearer:

The SPN is created in tenant 1 which houses the gallery. The admin that creates the SPN in tenant 1 needs to authenticate against tenant 2 in the step outlined (it's not clear who has to do this step), but in order to succeed, the tenant 1 account needs to be added as a guest account in tenant 2 (no roles are required, just

[2021-03-17 13:59] AshokPeddakotla-MSFT commented on #72164
@zaalion Are you using symmetric key authentication or X.509 authentication?
Please note that IoT Edge gateways support downstream module connections using symmetric key authentication but not X.509 certificate authentication.

[2021-03-17 14:04] vdimov-gcmlp opened #72307 "Override chunk size section is inaccurate"
Setting to configure chunk size doesn't exist for SFTP-SSH Get Content or Get Content Using Path actions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8acdbe0-a74f-a747-10f3-c861c831e46a
* Version Independent ID: bf1b180c-b240-6340-d409-74dfc125a5d6
* Content: [Connect to SFTP server with SSH - Azure Logic Apps](htt

[2021-03-17 14:05] MayankBargali-MSFT commented on #72298
@RodrigoGroener Thank you for your feedback! We will review and update as appropriate.

[2021-03-17 14:08] seanalexander opened #72308 "The code doesn't work and returns a 403"
In the article we use "**az ad sp create-for-rbac**" to set the role as:
`--role "Storage Blob Data Contributor"`

However, in the code we have:
`await containerClient.CreateIfNotExistsAsync();`

In the list of actions specified, it does not have Create Container.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3dc128b

[2021-03-17 14:08] psignoret commented on #71087
#reassign:psignoret

[2021-03-17 14:12] mumian commented on #72304
@jonbprogramming - thank you for your comment.  I have submitted a PR to address the issue.

#please-close

[2021-03-17 14:12] #72304 closed

[2021-03-17 14:15] MonikaReddy-MSFT commented on #72296
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-03-17 14:31] jonbprogramming opened #72310 "Compiling Issue"
When deploying the app service example it fails. The compiler states that the property name is missing from
kind: 'linux'
  properties: {
    perSiteScaling: false
    reserved: true
    targetWorkerCount: 0
    targetWorkerSizeId: 0

The second example code is missing ending single quote after param storageSKU string = 'Standard_LRS. Causes an error when deploying.

---
#### Document Details

⚠ *

[2021-03-17 14:34] DCtheGeek commented on #72275
#remove-label:"cxp"
#label:"assigned-to-author"

[2021-03-17 14:35] DCtheGeek commented on #72275
#remove-label:"cxp"

[2021-03-17 14:40] SaurabhSharma-MSFT commented on #72305
@gmuenster Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2021-03-17 14:43] SaurabhSharma-MSFT commented on #72302
@piotrgwiazda Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2021-03-17 14:59] ahmetarslan2020 commented on #71785
It looks like the issue has been resolved now.

[2021-03-17 15:06] rothja commented on #71656
@krishnamsft20 Thank you for the suggestion. @vanmsft Can you take a look at this question. Maybe we just need to cross link from the Azure SQL docs to the Linux docs about setting up the client tools? #assign:vanmsft

[2021-03-17 15:08] rothja commented on #71656
#reassign:vanmsft

[2021-03-17 15:10] rothja commented on #72167
@stevestein is out of the office. @WilliamDAssafMSFT William, can you please take a look at this reported problem with the Azure CLI. You can reach out to @MikeRayMSFT with any questions about updating the reference content. #reassign:WilliamDAssafMSFT

[2021-03-17 15:11] MayankBargali-MSFT commented on #72307
@vdimov-gcmlp Thank you for your feedback! We will review and update as appropriate.

[2021-03-17 15:15] rothja commented on #69135
@MaraSteiu , have you had a chance to take a look at this suggestion for our docs? Thank you!

[2021-03-17 15:16] rothja commented on #67658
@markingmyname Mark, could you take a look at this pull request? It is SSMS related. If you can confirm, can you sign off on it? Thank you! #reassign:markingmyname

[2021-03-17 15:21] mmacy commented on #72272
@garthoid I agree, the wording in [How to: Use the portal to create an Azure AD application and service principal that can access resources](https://docs.microsoft.com/azure/active-directory/develop/howto-create-service-principal-portal) isn't very clear, and we should list required role(s) in this article's **Prerequisites** section. I'll fix both. #reassign:mmacy

While this statement in the art

[2021-03-17 15:22] MayankBargali-MSFT commented on #72307
@vdimov-gcmlp Can you confirm which action you are talking about? Are you referring to "[Get File Content](https://docs.microsoft.com/en-us/connectors/sftpwithssh/#get-file-content)" and Get file content using path (https://docs.microsoft.com/en-us/connectors/sftpwithssh/#get-file-content-using-path).

I have tested with the above two actions and I do see chunk size is available for these actions.

[2021-03-17 15:27] vdimov-gcmlp commented on #72307
See screenshots below from Microsoft Flow.

SFTP-SSH Actions:
***@***.***D71B18.25582E20]

***@***.***D71B18.25582E20]

From: MayankBargali-MSFT ***@***.***>
Sent: Wednesday, March 17, 2021 10:23
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Vladimir Dimov ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Override chunk size section is inaccurate (#72307)

** EXTERNAL E-MA

[2021-03-17 15:30] msftradford commented on #72242
Fixed in [PR#150617](https://github.com/MicrosoftDocs/azure-docs-pr/pull/150617)

[2021-03-17 15:30] #72242 closed

[2021-03-17 15:30] JamesTran-MSFT commented on #72292
@Alex-str11
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-17 15:31] JamesTran-MSFT commented on #72293
@kathodion
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-17 15:31] HarshitaSingh-MSFT commented on #72289
Hello @Eneuman , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-03-17 15:32] VikasPullagura-MSFT commented on #72306
@bourgeoisrebel
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-03-17 15:32] VikasPullagura-MSFT commented on #72306
@axayjo
Can you please check and add your comments on this doc update request as applicable.

[2021-03-17 15:33] rvvincelli commented on #24385
Stumbled upon this and related errors, apparently even deleting the serving endpoint left the state unclean and we were not able to redeploy with the same name. Killing the ACI container directly did not help either.

[2021-03-17 15:33] SwathiDhanwada-MSFT commented on #71748
@bondib As you mentioned, the current behavior of the UI validation blocks the deployment when there are overlapping addresses. Product team is working on this feature which warns when there are overlapping addresses and it is expected to be available by the end of June.

As there are no further documentation changes, we will close the issue for now. If there are further questions , please revert

[2021-03-17 15:33] #71748 closed

[2021-03-17 15:37] VanMSFT commented on #71656
Hi @krishnamsft20 - I'm adding a reference to installing mssql-tools and using sqlcmd in the **Next steps** of the article. Thanks!

[2021-03-17 15:38] VikasPullagura-MSFT commented on #71458
@ddobric Thanks for the update.
I would recommend you to share the feedback [here](https://feedback.azure.com/forums/602224-azure-container-instances). Product teams will add comments to your feedback.

I would still recommend to open a support case so that the support team can check and share the cause.

However, I am tagging @macols from product team for visibility on this.

[2021-03-17 15:38] #71458 closed

[2021-03-17 15:41] SwathiDhanwada-MSFT commented on #72310
@jonbprogramming Thanks for your comment. We will review the issue and get back to you shortly.

[2021-03-17 15:42] ChrisGibson1982 opened #72311 "Validation Frequency"
Just after some clarity on **new content** in the below text.  Does a new version of a custom module (and updated policy) that's already assigned, count as new content or is it just new assignments?

"**Validation frequency**

The Guest Configuration client checks for new content every 5 minutes. Once a guest assignment is received, the settings for that configuration are rechecked on a 15-minute

[2021-03-17 15:44] SwathiDhanwada-MSFT commented on #72295
@ktatar1209 Thanks for reaching out! Can you please elaborate your issue so that I can assist you accordingly?

[2021-03-17 15:45] bbrandt commented on #71881
Thank you.  Let me know the team could use any additional details.

[2021-03-17 15:45] #71881 closed

[2021-03-17 15:45] DCtheGeek commented on #72311
@ChrisGibson1982 Thanks for the question.  I'm tagging the PM so we can get clarification and then update that statement to help others.

/cc @mgreenegit

[2021-03-17 15:45] DCtheGeek commented on #72311
#assign:mgreenegit

[2021-03-17 15:45] DCtheGeek commented on #72311
#label:"product-question"

[2021-03-17 15:46] DCtheGeek commented on #72311
#label:"triaged"

[2021-03-17 15:46] DCtheGeek commented on #72311
#label:"assigned-to-author"

[2021-03-17 15:47] SwathiDhanwada-MSFT commented on #72066
@sachinpanwar I have made changes to the document, once the changes are approved they will live. We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-03-17 15:47] #72066 closed

[2021-03-17 15:51] VanMSFT commented on #71656
#please-close

[2021-03-17 15:51] #71656 closed

[2021-03-17 15:52] sasever opened #72312 "incorrect information on unique key number requirement"
[Enter feedback here]
Below info is not correct and has to be fixed:
Has many unique values. The column can have some duplicate values. However, all rows with the same value are assigned to the same distribution. Since there are 60 distributions, the column should have at least 60 unique values. Usually the number of unique values is much greater.

60 unique keys does not necessarily fall into 60

[2021-03-17 15:59] SadiqhAhmed-MSFT commented on #72230
@t-leblanc you can look for errors with id 153059, state as ‘Warning/Critical’ & message “The support for Azure Site Recovery mobility service Version (9.29.5380.1) running on your protected virtual machines will end in the next (33) days” to filter out machines that are nearing expiry window using the query available at https://docs.microsoft.com/en-us/azure/site-recovery/monitor-log-analytics#mu

[2021-03-17 16:01] mberges2121ms opened #72313 "status code link is not pointing to the correct site"
on section
https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-probe-overview#default-health-probe

checking on the documentation the status code link is not redirecting correctly it sends you to
https://msdn.microsoft.com/library/aa287675.aspx
that somehow does not have a list of status ID

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2021-03-17 16:02] shashishailaj commented on #72280
@star286 Thank you for pointing this out . We have assigned this to the team for clarification and we will update the findings here.

[2021-03-17 16:03] andyturn31 opened #72314 "DataSource.Error: Web.Contents failed to get contents"
I've followed the documentation but don't seem to be able to get PowerBI to pull in the logs.  I just get an error message as below.  What could this be?

DataSource.Error: Web.Contents failed to get contents from 'https://api.loganalytics.io/v1/subscriptions/***removed********/resourceGroups/***removed*******/providers/Microsoft.Network/azureFirewalls/***removed*******/query?query=%0A%0AAzureDiag

[2021-03-17 16:03] shashishailaj commented on #72276
@greendx Thank you for your query . We will investigate and update the thread.

[2021-03-17 16:05] vdimov-gcmlp commented on #72307
See screenshots below from Microsoft Flow.

SFTP-SSH Actions:

![image](https://user-images.githubusercontent.com/73200875/111499198-b15fbc80-8710-11eb-8ac0-6abb4070087d.png)

![image](https://user-images.githubusercontent.com/73200875/111499092-97be7500-8710-11eb-9360-14ff299e15af.png)

[2021-03-17 16:08] WilliamDAssafMSFT commented on #72167
Thanks @HWidforss for contacting Microsoft with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.  Thanks for all the information so far in

[2021-03-17 16:09] DerekHerman-MSFT commented on #72176
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.