[2020-01-23 09:53] souravmishra-msft commented on #46442
@JGezels, Thank you for sharing the update. I did test the same in lab and I too find the same issue. Allow me sometime as we are working on this in the backend and will update you shortly.

[2020-01-23 09:56] DixitArora-MSFT commented on #46423
@ishepherd Azure Functions Premium plan provides the same features and scaling mechanism used on the Consumption plan (based on number of events) with no cold start, enhanced performance and VNET access. Azure Functions Premium plan is billed on a per second basis . So it will be billed for 10 seconds as it is executed for 10 seconds.

[2020-01-23 10:01] KrishnaG-MSFT commented on #46671
@maverick126 Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-01-23 10:02] tb2johm opened #46699 "Running the Azure CLI deployment doesn't seem to work"
First of all, I think that you have forgotten a " in the end of the example text: \"observedCertificates\": [\ &lt;observedCerts&gt;\"] }} should be \"observedCertificates\": [\" &lt;observedCerts&gt;\"] }}
However when running the code I only get an _Expecting value: line 1 column 1 (char 0)_

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-01-23 10:04] ArgTang commented on #46609
done

[2020-01-23 10:08] DigIntSys commented on #5297
Same here. I'm using the test feature under apim > Api's. have added Ocp-Apim-Trace : true and Ocp-Apim-Subscription-Key : my admin primary subscr key and i cannot use trace because "response does not contain Ocp-Apim-Trace-Location header".
Is there anything else that needs to be done to activate trace? I think this was working before (around December).

[2020-01-23 10:12] blaawolf commented on #24239
Are you planning to include read scale-out DB replica metrics in the main dtu_used metric or at least add a separate one for only the replicas (the latter might be actually more useful)? We would like to continue utilizing the metrics provided by Azure and use the replicas.

We do not want to run out of DTUs without knowing it.

[2020-01-23 10:17] ejjpi commented on #24239
I think this issue won't ever be properly addressed in this repo: this is not about a missing part of the documentation but the lack of a critical monitoring feature on the Azure portal.
Can anybody from Microsoft move/escalate this issue to the proper area/team?

[2020-01-23 10:18] igomat opened #46701 "PowerShell - recommended version"
Which version of PowerShell is recommended for the Azure File Sync Agent 9.1.0.0? On Windows Server 2012 R2.
In context of not upgrading PS version for next 3 years anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61bb35a5-e2f3-1ce8-1d6e-a926374de6c8
* Version Independent ID: e4b3065a-5351-26ef-cdbb-ef2eaea3f301

[2020-01-23 10:21] igomat commented on #46701
Would that be PS version 7?

[2020-01-23 10:33] souravmishra-msft commented on #46442
@JGezels, I tested the same in lab and If you are trying to look for the extensionAttribute that is newly created under the location "_Home
AzureAD-Environment-TenantName - App registrations
GraphTestApp - Token configuration (preview)_", it wont be available in that list. For the newly created ExtensionAttribute to be present in the JWT, you need to follow the following steps:

Steps:
Once the ex

[2020-01-23 10:40] SnehaAgrawal-MSFT commented on #46425
@sujayvsarma & @Richards706 Thanks for the clarification and feedback for this.  I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-01-23 10:42] SadiqhAhmed-MSFT commented on #46689
@anvar-ms Thanks for bringing this to our attention. Raised a pull request (PR) - https://github.com/MicrosoftDocs/azure-docs-pr/pull/102047, post evaluation by the content owner the updates will go live in few hours.

We will now proceed to close this issue. Feel free to get back to us, if you've any additional feedback that needs our attention.

[2020-01-23 10:42] #46689 closed

[2020-01-23 10:43] KevinBollengier opened #46702 "Download users: missing fields"
Currently when downloading the users from your Azure AD it does not export the authentication phone fields.

[2020-01-23 10:49] SadiqhAhmed-MSFT commented on #46671
@yashesvi and @bandersmsft for visibility.

[2020-01-23 10:53] MikeWedderburn-Clarke commented on #44706
Under 'Exchange Policies' it appears to clarify this:
"There's no penalty or annual limits for exchanges."

[2020-01-23 11:00] Xandven commented on #28157
Another thing to remember is that if the AD user that is going to be used to domain join the hosts already exists and you setup a new Azure AD DS, you will need to reset the password of that user (at myapps.microsoft.com) before you deploy. Or even better create a new user to join the hosts to the domain.

[2020-01-23 11:02] AshokPeddakotla-MSFT commented on #46512
Adding @arduppal to help further in this issue.

[2020-01-23 11:04] AshokPeddakotla-MSFT commented on #46641
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-01-23 11:04] maptan commented on #46515
@ketan-chawda-msft , sorry, I thought this was linked to the document page.
The URL is https://docs.microsoft.com/en-us/azure/site-recovery/concepts-on-premises-to-azure-networking#get-new-ip-addresses

[2020-01-23 11:21] SadiqhAhmed-MSFT commented on #46683
@SaurabhSM Thanks for the feedback. We are looking into this and will get back to you shortly.

@dcurwin For visibility.

[2020-01-23 11:22] dcurwin commented on #46683
#reassign:pvrk

[2020-01-23 11:26] SadiqhAhmed-MSFT commented on #46567
@bdschaap Closing this issue for now. Feel free to re-open the issue and tag me in your reply if you've any further questions in this matter.

[2020-01-23 11:26] #46567 closed

[2020-01-23 11:32] shashishailaj commented on #46592
@truekonrads  As you have mentioned that you only have access to one subscription. You may check the overview section on the subscription to find the correct directory name and once you have found it please change the values accordingly within the URL provided below. Please try the following URL after substituting the subscriptionID there.

https://portal.azure.com/#@contoso.onmicrosoft.com/resour

[2020-01-23 11:32] RohitMungi-MSFT commented on #46611
@likebupt It looks like a note is missing in the document. Could you please check and add it as appropriate.

[2020-01-23 11:34] Coldpawz opened #46704 "Custom error page requirements"
Hi, please could you verify whether the following sections of the page are still accurate?
1. Custom error pages can solely be served from storage accounts/blob locations (#27391)
2. The Application Gateway does not periodically refresh the custom error page once it has obtained a copy and cached it

Many thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2020-01-23 11:38] DixitArora-MSFT commented on #46433
@vladvino Any inputs in this ?

[2020-01-23 11:40] shashishailaj commented on #46432
@mybm3w Thank you for pointing this out. Currently the feature is in preview and we appreciate the details provided. However we will engage the documentation team to review the details about what can be updated in the article at the moment.

Thank you.

[2020-01-23 11:42] shashishailaj commented on #46480
@josuvil Thank you for pointing this out . We will have this updated on the article as a limitation.

[2020-01-23 11:51] DixitArora-MSFT commented on #46573
@SeanFeldman PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-23 11:54] DixitArora-MSFT commented on #46572
@nhwilly Thanks so much for providing the details this will definitely help us in improving the documentation. I will definitely discuss internally on this. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-23 11:54] #46572 closed

[2020-01-23 11:56] #46573 closed

[2020-01-23 11:58] dr-raypc opened #46705 "Wrong Image"
Under "Retrieve your domain name", step 3 which states to retrieve your domain name has the wrong image in place.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a1b0992-84f5-43f1-6b18-b690dde9753b
* Version Independent ID: db4234aa-2047-33db-6c8a-19a7b732074b
* Content: [Microsoft Graph API for Azure Active Directory

[2020-01-23 12:01] MGwiozda opened #46706 "Unclear sentence in relation to the dispatch app"
We have a dispatch app that contains 6 child apps.
Every Child-App includes some entities. In total all the apps have more then 50 List entities. Now when we use `dispatch refresh` an error occurs in the terminal that sais "Exceeded entity limit for Dispatch".

This error suggests that we can only have 50 entities in total in the dispatch app itself. But the following sentence in the documentation

[2020-01-23 12:04] DixitArora-MSFT commented on #46597
@maskati PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-23 12:06] SwathiDhanwada-MSFT commented on #46668
As there are no further documentation changes , we will close the issue for now. Kindly revert if you have further questions.

[2020-01-23 12:06] #46668 closed

[2020-01-23 12:06] ankur021188 opened #46707 "Unable to view custom Json payload for webhook while creating webhook action for log alert rules"
This is the custom json payload, which I am supplying
[code]
but this text is not visible anywhere in the pagerduty log entry.
Please suggest the proper way to view the custom json payload

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1390bec-bae0-2fe7-a29c-a242584fd7b3
* Version Independent ID: 27892ee4-2ec3-ea70-f7

[2020-01-23 12:10] #46597 closed

[2020-01-23 12:10] RohitMungi-MSFT commented on #46694
@erhopf @ArcherAZ Could you please let us know if there is an option to download the data for Insertion, Deletion and Substitution? It looks like we can only create test and compare the data between two models.

[2020-01-23 12:11] MohitVerma-MSFT commented on #46670
Hello @ebasseri ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-23 12:12] MohitVerma-MSFT commented on #46676
Hello @rjosephp ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-23 12:12] eelajah commented on #27800
Hello Christian, do you have any documentation since Ignite has already long passed?

[2020-01-23 12:13] MohitVerma-MSFT commented on #46684
Hello @BenDutton ,
Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-23 12:14] MohitVerma-MSFT commented on #46686
Hello @prajeeshprathap ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-23 12:15] MohitVerma-MSFT commented on #46687
Hello @boethius ,

Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-01-23 12:16] MohitVerma-MSFT commented on #46688
Hello @pyephyoeaung ,

Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-01-23 12:17] truekonrads commented on #46592
Using https://portal.azure.com/#@mydriectory/resource/subscriptions/a6c92b7a-73eb-427c-9355-277cxxxxxxxx/properties gets me redirected to the /overview; in other words the properties is not only not listed in the menu, but also unavailable and user (me) is presented with "Overview" instead.

WARNING - RANT AHEAD:

With regards to the second part, I'm not going to open a ticket with portal team:
a)

[2020-01-23 12:18] MohitVerma-MSFT commented on #46690
Hello @vinothrao ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-23 12:20] MohitVerma-MSFT commented on #46691
Hello @jikuja ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-23 12:22] MohitVerma-MSFT commented on #46695
Hello @ECocca ,

Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-01-23 12:23] MohitVerma-MSFT commented on #46696
Hello @Cubercoding ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-23 12:23] DixitArora-MSFT commented on #46621
@pawod Both these provides a more readable and convenient syntax to create formatted strings. I don't think there is a doc change required for this. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-23 12:23] #46621 closed

[2020-01-23 12:24] MohitVerma-MSFT commented on #46698
Hello @Rocky-25 ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-23 12:26] MohitVerma-MSFT commented on #46699
Hello @tb2johm ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-23 12:30] MohitVerma-MSFT commented on #46701
Hello @igomat ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-23 12:31] nonstoptimm commented on #39862
Hi @IEvangelist - works like a charm - thank you so much for your support and efforts!

[2020-01-23 12:35] MohitVerma-MSFT commented on #46702
Hello @KevinBollengier ,
Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-01-23 12:35] mathias-nickl opened #46708 "Is "Multiple IP addresses per NIC" supported?"
Section "Multiple IP addresses per NIC": Documentation purports that multiple IP addresses can be assigned to a NIC in a scale set. However, there is no hint, howto implement it.  The Azure Portal does not provide this feature. It is unclear whether documentation is incomplete or wrong.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-01-23 12:37] MohitVerma-MSFT commented on #46704
Hello @Coldpawz ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-23 12:38] shashishailaj commented on #46592
@truekonrads My sincere apologies if I was not thoughtful enough in my answer to foresee that you may or may not have a paid subscription. I would request you to email us on azcommunity[at]microsoft[dot]com and we will help you open up a case with them without any cost to you .

We use github for documentation improvement only. It is practically not possible to troubleshoot issue on github and we

[2020-01-23 12:38] MohitVerma-MSFT commented on #46705
Hello @dr-raypc ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-23 12:41] MohitVerma-MSFT commented on #46706
Hello @MGwiozda ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-23 12:42] MohitVerma-MSFT commented on #46707
Hello @ankur021188 ,

Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-01-23 12:44] jakaruna-MSFT commented on #46609
Also use this command now and check if its registered or in pending state
`az feature list --namespace Microsoft.Network --query "[?name=='Microsoft.Network/AllowBringYourOwnPublicIpAddress'] | [].[name, properties.state]"`

[2020-01-23 12:46] rayne-wiselman commented on #46384
Verifying this. Thx

[2020-01-23 12:46] jakaruna-MSFT commented on #46498
@masnider please answer the customers question and update the doc if needed.

[2020-01-23 12:53] danmyhre commented on #45598
In my scenario, it turned out to be that the "/" was missing from the end of the issuer.  Make sure both the "Tenant" field and the "Issuer" field both end with "/"

[2020-01-23 12:56] rayne-wiselman commented on #46160
From the [VMware common questions article](https://docs.microsoft.com/azure/site-recovery/vmware-azure-common-questions#can-i-replicate-new-machines-to-storage-accounts)

Can I replicate new machines to storage accounts?
No. Beginning in March 2019, in the Azure portal, you can replicate only to Azure managed disks.

Replication of new VMs to a storage account is available only by using PowerShell

[2020-01-23 13:06] ECocca commented on #46695
https://docs.microsoft.com/it-it/azure/cognitive-services/luis/luis-reference-prebuilt-person?tabs=V3

[2020-01-23 13:06] KalyanChanumolu-MSFT commented on #46690
@vinothrao Thank you for reaching out.
Support on GitHub is limited to documentation only.
Please post this issue on [StackOverflow](https://stackoverflow.com/questions/tagged/azure-sql-database?tab=Newest) or [MSDN](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=ssdsgetstarted) for better visibility

[2020-01-23 13:17] mohibakhan commented on #46632
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-iot?tabs=csharp

[2020-01-23 13:30] alexshipp-er opened #46709 "Misleading instructions"
Where it says "Replace the &lt;container-name&gt; placeholder with any name that you want to give your container.", I found this did not work. I had to pre-create a container and use the name of the created container.

The same applies to this bit "Replace the container-name placeholder with any name that you want to give your container."

---
#### Document Details

⚠ *Do not edit this section. It

[2020-01-23 13:42] rayne-wiselman commented on #45340
This is now fixed and URL requirements are under the appliance - https://docs.microsoft.com/en-us/azure/migrate/migrate-appliance#url-access

Thanks!
#please-close

[2020-01-23 13:42] #45340 closed

[2020-01-23 13:44] rayne-wiselman commented on #44404
Thanks  for your feedback! Port requirements are now listed under the Azure Migrate replication appliance used for VMware agent-based/physical replication. https://docs.microsoft.com/en-us/azure/migrate/migrate-replication-appliance#port-access

#please-close

[2020-01-23 13:44] #44404 closed

[2020-01-23 13:46] ducksecops opened #46710 "Solution doesn't appear to like - in resource group name"
Hi All,

I was looking to deploy this solution but have issues with the resource name variable. It appears to now like - in the names and ignores everything after the -. For example live-system1 in the resource name also picks up live-system1, live-system2 etc.

[2020-01-23 13:53] IEvangelist commented on #39862
#please-close

[2020-01-23 13:53] #39862 closed

[2020-01-23 14:06] BakkerJan opened #46711 "FIDO2 and MultiFactorAuth"
How does FIDO2 and Conditional Access integrate? I've noticed that the MFA requirement is satisfied the token. Block action works as expected.  But is Identity Protection able to prompt for MFA when a sign-in is risky, or is it automaticly statisfied? It might be a rare usecase, but wonder how this is designed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2020-01-23 14:08] anlucen commented on #46640
Hello,

The request is to update the documentation and add the version 1902 information.

Regards,
Anais Hoekstra
Support Engineer
Office: +1 9807767725
Cloud Identity Engineer
anlucena@microsoft.com<mailto:anlucena@microsoft.com>
Customer Services and Support
Working hours: Mon-Fri 09:00-18:00 (GMT+5)
Technical Advisor                                |  TJ Wasser (tjwasser@microsoft.com<mailto:tjw

[2020-01-23 14:12] dominicbetts commented on #45653
Hi @romankiss,

The way that I connected a device using a self-signed cert to IoT Central is as follows:

1. I used the script described here to create the self-signed cert to use: https://github.com/Azure/azure-iot-sdk-node/blob/master/provisioning/tools/readme.md.
    The cert looks like:

[code]

1. I added the cert to my IoT Central app as an "Individual Enrollment" as shown in the screenshot

[2020-01-23 14:18] jakaruna-MSFT commented on #46493
@alphakevin
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2020-01-23 14:18] #46493 closed

[2020-01-23 14:23] DavidSchrag commented on #29289
In the section "Configure Mimecast Personal Portal Single Sign-On," the screen shots still do not match the Mimecast Administration Console UI.

[2020-01-23 14:27] shashishailaj commented on #46458
@kyriakopoulosd We are engaging the content authors for checking and updating the documents accordingly.

Thank you.

[2020-01-23 14:27] ondrejhlavacek commented on #46595
@jakaruna-MSFT thanks a lot, let us know!

[2020-01-23 14:28] shashishailaj commented on #46458
@iainfoulds Do you have any information on any details available about the supported NFC readers as mentioned in the article which can be incorporated within the current article?

[2020-01-23 14:30] ginomessmer opened #46713 "Clarification required for session setup"
In the [Set up the session](https://docs.microsoft.com/en-us/azure/spatial-anchors/how-tos/create-locate-anchors-unity#set-up-the-session) section it says to set a native session pointer with `this.cloudSession.Session = aRSession.subsystem.nativePtr.GetPlatformPointer();`, but there's no such thing as `ARSession.subsystem` with the latest ARFoundation package that is provided by Unity. Maybe we n

[2020-01-23 14:33] MGoedtel commented on #45749
#please-close due to inactivity after my detailed response.

[2020-01-23 14:33] JesvinJoseph commented on #46657
Thank you for the response. I am using the golang SDK.  But with C# everything working fine.
But this happens when we change the user.

[2020-01-23 14:33] #45749 closed

[2020-01-23 14:35] ArgTang commented on #46609
still pending

[2020-01-23 14:35] PtwHub commented on #46601
Yes, an Identity Translation scenario/detail would be helpful. In particular, we are currently looking at the necessary use-case of moving a device from one iot-edge-instance to another. This "move device" (e.g. a legacy device connected via iot-edge identity translation) needs to be simple and clear since it does/will happen quite often and we need to automate and make it as transparent as possib

[2020-01-23 14:35] shashishailaj commented on #46670
@ebasseri Thank you for catching this. We have made a internal change and this will be updated within the next 24-48 hours as per next release cycle. We will now close this issue. Should you have any further queries, feel free to let us know and we will be happy to help.

Thank you.

[2020-01-23 14:35] #46670 closed

[2020-01-23 14:38] MGoedtel commented on #44336
Looping in @snehithm from the product team to review.

[2020-01-23 14:39] JesvinJoseph commented on #46657
With golang it works only with /tmp folder. if I mount the /tmp to /blobroot and run as default user, it will work. But with the same case, if I run as 1000 user, it will give the above error, and also in all the other cases.

[2020-01-23 14:42] david-tap opened #46715 "OATH Tokens limited to 6-digit"
The page neglects to mention that OATH tokens are currently limited to 6-digit versions.
Neither the "Activate" button in the portal, nor the login prompt, allow entering more than 6 digits.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8f14188-98ec-5c94-f408-162ee1baa076
* Version Independent ID: 41ed4874-e1e6-56d3-

[2020-01-23 14:43] ginomessmer commented on #46713
Nevermind, I figured it out by myself. I was missing the `ARSession` MonoBehaviour component in my script. I think it would be useful if you could add a section that describes the basic scene setup for Unity and ARFoundation.

**However**, I'm not even able to set `SpatialAnchorManager.Session = ARSession.subsystem.nativePtr.GetPlatformPointer();` because the property is read-only...

![image](htt

[2020-01-23 14:44] MGoedtel commented on #44628
@MSNina123456  - We are planning to update all the content to reference the Az module cmdlets, and hopefully this work will start during our next sprint.  Thanks for bringing this up.  #please-close

[2020-01-23 14:44] #44628 closed

[2020-01-23 14:48] MGoedtel commented on #44930
We are planning to update all the content to reference the Az module cmdlets, and hopefully this work will start during our next sprint. Thanks for bringing this up. #please-close

[2020-01-23 14:48] #44930 closed

[2020-01-23 14:55] leela-uppuluri commented on #46646
@RohitMungi-MSFT I was trying to run the anomaly detection example from the tutorial that was provided in the `Deploy Azure Machine Learning as an IoT Edge module (preview)` documentation and there are certain steps which says to how run this tutorial on Azure notebooks. As part of that, I was trying to run jupyter notebook file of this anomaly detection example and in one of the cell it was askin

[2020-01-23 15:07] Canis-Lupis opened #46716 "More explanation needed, please."
I feel my first comment was closed without proper resolution.  That may be because I didn't explain myself well enough.

@MarileeTursack, yes, step 3 states to "select Enterprise applications" but this only, at best, IMPLIES that Enterprise applications are the only types of apps that can be hidden--no where does it EXPLICITLY state this.

I came across this article because I was looking for a way

[2020-01-23 15:08] tsuwandy commented on #46706
@MGwiozda, Dispatch copies the entities from child LUIS apps which are used in patterns (otherwise, it doesn’t transfer any entities).  I am guessing that there are more than 50 entities used in patterns total?  Is it possible to combine some of the list entities in the child LUIS apps?

[2020-01-23 15:19] gerrynicol opened #46717 "Tenant Groups and Tenants"
Could you please clarify the following. I have a WVD Tenant Group created with one Tenant in it using a Dev Azure Subscription. The Tenant group is named 'Default Tenant Group'. I now want to create a new Tenant in a 'Prod' subscription. What should be the correct process for me to create this new Tenant? Can I keep the existing Tenant? Both are using the same Azure AD

---
#### Document Details

[2020-01-23 15:22] shashishailaj commented on #46469
@cmgharris When you say Managed Office365 domain . do you mean you have bought only the Office365 email services which are sold as additional value added service with the domain by vendors like godaddy ? or do you refer to something else ?

[2020-01-23 15:22] MatthiasGwiozda commented on #46706
Thats an important information. We used many patterns to boost the recognition percentage of our intents.

@tsuwandy so you are saying that we need to shorten the list of patterns or use less entities that are used in patterns in our child apps?

I will try this. Would be nice if this important information would be somewhere in the docs (I didn't find it anywhere)

[2020-01-23 15:25] eross-msft commented on #46636
#reassign:curtand  Attempting to reassign to the author taking over

[2020-01-23 15:27] shashishailaj commented on #46468
@cmgharris This thread seems to be duplicate of #46469 . We will continue the discussion on the other thread and close this one . Should you have any issue , please feel free to let us know and we will be happy to help.

[2020-01-23 15:27] #46468 closed

[2020-01-23 15:32] NavtejSaini-MSFT commented on #46314
@hruday94 We are going to close this thread for now. If you have any other question or concern, please comment and we will continue the discussion.

[2020-01-23 15:32] #46314 closed

[2020-01-23 15:34] diberry commented on #46706
#in-process

[2020-01-23 15:35] #46480 closed

[2020-01-23 15:37] shashishailaj commented on #46469
@cmgharris We have closed the other related issue and will answer it here itself. Could you please help us with the information requested as below and we will take this further accordingly.

thank you

[2020-01-23 15:45] mabubaker1947 commented on #21968
Would you post the link to teh issue on iotedge repo her so that people gets a direction to what has been a proposed fix from Microsoft?

[2020-01-23 15:47] ccg-ahagen opened #46718 "Typo in last python code example"
Last line should say 'stop_by_schedule_id'.  It's missing the id part.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0873373-90d0-b221-35be-8e243425cdbe
* Version Independent ID: 1c5bfc26-b81e-4883-4913-cb9b378b3785
* Content: [Schedule Azure Machine Learning pipelines - Azure Machine Learning](https://docs.microsoft

[2020-01-23 15:49] ashuthinks opened #46719 "Microsoft.Azure.ServiceBus unable to work on .net core Http trigger Azure Function app"
I want to read messages from topic but using Http trigger function app not using service bus trigger function app.

I have tried both below code to do it using http trigger function app but
first approach works only at very first trigger and for second trigger though we have messages into topic in code while debug it shows 0 messages found.

and in 2nd approch it wont go into method `ProcessMessag

[2020-01-23 15:52] OffColour opened #46720 "Other deployment methods"
This can also be deployed via Azure Security Center and Policy.
I'm sure six different methods is quite enough.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00a00a3e-a0df-7ee5-4733-7231bd7a024f
* Version Independent ID: 94361683-e1e7-7e55-6993-86d3c2486a14
* Content: [Connect Windows computers to Azure Monitor - Azur

[2020-01-23 16:01] shawnolson-fp commented on #46665
[ExpressRoute Peering](https://docs.microsoft.com/en-us/azure/expressroute/expressroute-howto-routing-portal-resource-manager) would be a good place to add it.

[2020-01-23 16:02] petehauge commented on #45598
Thanks @danmyhre  - that was the issue, you're a hero!  I appreciate the help!

[2020-01-23 16:04] shawnolson-fp commented on #46665
I think mentioning "if configuring BGP peering with Microsoft, please use AS 12076 on the far-end (local to the user) device as the remote-as"

[2020-01-23 16:16] OffColour opened #46721 "Terminology still massively confusing"
Take this an example:
"Azure Monitor logs provides monitoring capabilities across cloud and on-premises assets. The Log Analytics agent virtual machine extension for Windows is published and supported by Microsoft. The extension installs the Log Analytics agent on Azure virtual machines, and enrolls virtual machines into an existing Log Analytics workspace. This document details the supported plat

[2020-01-23 16:18] OffColour opened #46722 "Log Analytics Agent"
So why do we still have the Log Analytics Agent and Log Analytics Extension (which I think are the same underlying thing and are both referred to as MMA when they're installed)?

We've then got the Azure Monitor VM Extension which seems to be a rebranded Log Analytics Extension with exactly the same functionality.

Then there's the Azure Diagnostics Extension (which is called IAAS when installed).

[2020-01-23 16:24] NavtejSaini-MSFT commented on #46361
@phatcher We are going ahead and closing this thread for now. If you have any other issue regarding this, please comment on this thread and we will continue the discussion.

[2020-01-23 16:25] NavtejSaini-MSFT commented on #46098
@OnlineGameGuy Pleae convey if you need further assistance regarding this.

[2020-01-23 16:30] NavtejSaini-MSFT commented on #46542
@SnehaGunda We are going ahead and closing this thread for now. If you have any other question please get back to us.

[2020-01-23 16:30] #46542 closed

[2020-01-23 16:32] RohitMungi-MSFT commented on #46646
@leela-uppuluri The containerRegistry details are being loaded from the deployment.json file. You can try to update this field in the JSON file or update the registry name directly against reg_name and try to run the cell again.

@kgremban Could you please check if we can update the document to provide an appropriate field in the deployment.json file so the registry value is picked up correctly in

[2020-01-23 16:32] bandersmsft commented on #12981
Closing this issue.
#please-close

[2020-01-23 16:32] #12981 closed

[2020-01-23 16:33] SumanthMarigowda-MSFT commented on #46348
@Sunny-Pahuja Regular GRS is not read accessible in the second region, unless you do a failover as the  notes, They said GRS when they meant RA-GRS

[2020-01-23 16:36] adhodgson1 opened #46723 "No instructions on setting up client Azure AD application from scratch"
This page links to the instructions to set up Azure AD for an AKS cluster giving the staement that there are notes on the page regarding the reply URLS.  However, the additional reply URLs for Container Insights are not on that page.  In addition, it would be good to get the instructions updated for setting this up with Azure CLI as well.

---
#### Document Details

⚠ *Do not edit this section. It

[2020-01-23 16:39] bandersmsft commented on #41378
@jtuliani The article has been updated and should address your concern so I'm closing this issue.
#please-close

[2020-01-23 16:39] #41378 closed

[2020-01-23 16:43] NickMSW commented on #12702
For anybody looking into this in the future, it is possible to do this: https://stackoverflow.com/questions/53599796/mount-azure-files-folder-into-kubernetes

[2020-01-23 16:43] deyanp opened #46724 "TaskCanceledException"
When calling EventHubClient.GetRuntimeInformationAsync() we are getting a TaskCanceledException ... but not every time, only a few times per day (we call this every 5 minutes).
Tried to check InnerException etc, but nothing useful ... any idea what could be the reason for it?

The EventHubClient instance we are instantiating once upon app init (lazy), and reusing afterwards ...

---
#### Document

[2020-01-23 16:46] Russellmd opened #46725 "Can not set Function as Stream analytics output"
**The relevant Azure service or technology**: Stream analytics
**A link to the published documentation article that you have feedback about**: https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-with-azure-functions

Hi,
I have today a strange issue (yesterday it worked well) on trying to set Function App as Stream analytics output in Azure portal. On loading function informat

[2020-01-23 16:49] max-bre commented on #44565
Any news about the "error:  The given key was not present in the dictionary."?
-I get that error message it after loading my own ONNX model and running the sample.
-I can not find place where to modify: "Also modify ClassLabel to the number of labels the model contains."

[2020-01-23 16:49] Chad-Campus opened #46726 "Filter sign-in activities"
![filter](https://user-images.githubusercontent.com/52751067/73005298-b8be5b00-3dd6-11ea-8d46-3dbe1c551614.PNG)

Is there a command to show everything but a single item.  We are located in the USA and want to see ALL sign-ins from outside the USA.

I can select location and select a Country but I want "NOT" US

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-01-23 16:57] tamram commented on #45935
#please-close

Closing since the doc issue has been addressed - @angurusw you can still follow up here after the issue is closed.

[2020-01-23 16:57] #45935 closed

[2020-01-23 16:57] taromielnaz opened #46727 "Avoid downtime"
Is there any way to avoid downtime during the update?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3461048-c7fc-3979-a818-39af99d5e6bb
* Version Independent ID: d0e5e766-ef63-d934-b21b-678933a5cc65
* Content: [Manage updates and patches for your Azure VMs](https://docs.microsoft.com/en-us/azure/automation/automation

[2020-01-23 16:58] alex-frankel commented on #46668
Drew - can you share the email you used to sign up? I am not seeing it in my list

[2020-01-23 17:04] roygara commented on #46132
Since I haven't heard back, I'm going to close this out. If you've any further questions on this specific issue, feel free to re-open this issue. Again, thanks for reaching out.

#please-close

[2020-01-23 17:04] #46132 closed

[2020-01-23 17:06] max-bre commented on #44565
Oh, more precisely I get the error: when I run the sample with my own model, and try to recognise some image.

[2020-01-23 17:07] leela-uppuluri commented on #46646
@RohitMungi-MSFT Thanks for your quick response. When I replaced the reg_name with the my actual ContainerRegistry name it went through. I really appreciate that.

[2020-01-23 17:10] tamram commented on #46348
@Sunny-Pahuja - After a failover, data can be read or written.

The documentation is correct. The first instance you point out does not explicitly state that you can write data after the failover. But that is the point of the failover - your storage account is restored to normal function.

I'm working on making this more clear going forward.

[2020-01-23 17:11] fume opened #46728 "RaiseErrorIfClaimsPrincipalAlreadyExists works only for operation Write"
Please can you document with which Operations the RaiseErrorIfXXX metadatas work with?
I was using the RaiseErrorIfClaimsPrincipalAlreadyExists = true on a Read operation but it doesn't work. I guess that RaiseErrorIfClaimsPrincipalDoesNotExist works the opposite, so only for Write op.

Please can you document such things?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-01-23 17:12] JasonWHowell commented on #46447
#please-close Looks like the answer was provided. Thanks, everyone ~Jason

[2020-01-23 17:12] #46447 closed

[2020-01-23 17:16] tamram commented on #44191
@sopelt - The user delegation SAS feature is now generally available and approved for production use.

[2020-01-23 17:16] egondalia opened #46729 "Churn query not working"
Unable to run     .."Query data change rate (churn) and upload rate for an Azure VM.."

operator: Failed to resolve table or column or scalar expression named 'InstanceName_s'

Running on the Demo environment it works as the "InstanceName_s" exists in "AzureDiagnostics" but I have enabled all ASR diagnostics but do not have "InstanceName_s" and so fails, why am I missing this?

[2020-01-23 17:16] tamram commented on #44191
#please-close

[2020-01-23 17:16] #44191 closed

[2020-01-23 17:16] JasonWHowell commented on #46645
I tried it today, and I saw this in my Activity Log. Wonder if it is a permissions issue. Did you delete the cluster, or the workspace?

![image](https://user-images.githubusercontent.com/5067358/73007230-0b8d1800-3dc1-11ea-8436-130743990e67.png)

[2020-01-23 17:16] MRayermannMSFT commented on #46541
@rawin1015 , unfortunately I don't remember the patch you are referring to. If you're having issues with Storage Explorer, please file an issue here: https://github.com/microsoft/AzureStorageExplorer/issues

Also, at this point, it is probably better to stop using the patch. If there was a bug, then it most likely would have been fixed. So please try using vanilla Storage Explorer. You can redownl

[2020-01-23 17:17] djsowa opened #46730 "Key list - no longer exists."
In latest version of CLI to obtain connection string You would have to use a bit different approach since CLI for AppConfig service has been changed.

```appConfigHostname=$(az appconfig credential list --resource-group RG_NAME --name APP_CONF_NAME --query "[?name=='Secondary Read Only'].connectionString" -o tsv) && echo "$appConfigHostname"```

---
#### Document Details

⚠ *Do not edit this secti

[2020-01-23 17:18] tamram commented on #44313
@ehsf973 @CeciAc - The security guide has been retired. Please visit Channel 9 for up-to-date videos. Thank you.

#please-close

[2020-01-23 17:18] #44313 closed

[2020-01-23 17:19] egondalia commented on #46729
Can someone add label below please

site-recovery/svc

[2020-01-23 17:26] taromielnaz opened #46731 "Content"
Let's imagine we created the load balancer successfully. How the content of the website is equal since we have 3 VMs? When users have directed 2 three VMs which content of the website is shown to users?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0aecd7fa-47dd-4854-caaf-8f037872998a
* Version Independent ID: ffb49fc

[2020-01-23 17:28] SaurabhSharma-MSFT commented on #46534
@aguiweb The PR for the fix has been created and it will be merged as soon as it get reviewed and approved by the document author. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-01-23 17:28] #46534 closed

[2020-01-23 17:37] asudbring commented on #46731
Hi @taromielnaz!
You would have to have to publish the same website to all of the web servers, or use a replication mechanism to copy the website to each web server and keep them in sync.

[2020-01-23 17:38] lobrien commented on #46718
Thanks for the sharp eyes!

[2020-01-23 17:39] mamccrea commented on #46084
Hi @craigjar - We were unable to reproduce the behavior you're experiencing. When we enable a cluster with table ACLs, we're able to read the table using the Python Spark API as indicated in the doc. To investigate further we would need more information about how to reproduce the problem.

[2020-01-23 17:45] JimacoMS3 commented on #27534
Assigning this back to Wes as he is the best documentation resource for the provisioning service

[2020-01-23 17:45] JimacoMS3 commented on #27534
#reassign @wesmc7777

[2020-01-23 17:47] roygara commented on #45760
@parimanur Thanks for reaching out and making us aware of this, we appreciate it. :)

We actually fixed most of those issues earlier, some new ones have cropped up and so we've made more fixes today. They'll be live later today.

Thanks again!

#please-close

[2020-01-23 17:47] #45760 closed

[2020-01-23 17:49] Ravi-Alwis commented on #46645
This is correct Delete workspace is there.
But Delete Cluster not

In the original documentation with the screenshot it shows Delete Cluster too

From: Jason H <notifications@github.com>
Sent: Thursday, January 23, 2020 12:17 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Ravipriya De Alwis <radeal@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDoc

[2020-01-23 17:50] SaurabhSharma-MSFT commented on #46360
@ZaherButt As per [this](https://social.msdn.microsoft.com/Forums/lync/en-US/e7a3ea0b-3c24-4a06-a6f9-80db4442b498/can-the-passthrough-authentication-agent-be-installed-on-server-core?forum=WindowsAzureAD) MSDN thread it seems Server Core is not supported.  I am assigning this to author to validate and update the documentation.

[2020-01-23 17:51] adibalwani opened #46732 "CustomExtensionScript only cares about the exit code and not the strerr"
Please make this explicit in the docs that CustomExtensionScript only succeeds when exit code returned from "commandToExecute" is 0. It does not care about the StrErr returned through the console.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40aaccb8-19ba-168f-f5bf-65f1f5331541
* Version Independent ID: 6cdfd166-633a

[2020-01-23 17:52] FrankHu-MSFT commented on #46728
@fume Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-23 17:52] FrankHu-MSFT commented on #46726
@Chad-Campus Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-23 17:52] FrankHu-MSFT commented on #46716
@Canis-Lupis Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-23 17:52] FrankHu-MSFT commented on #46715
@david-tap Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-23 17:53] #46718 closed

[2020-01-23 17:54] mattsmall1972 opened #46733 "This code does not work in UWP"
I am having the same problem as this person:
https://docs.microsoft.com/answers/questions/5621/how-to-get-uwp-to-connect-to-an-azure-sql-database.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 692d8637-4033-767b-aa29-3859f301b7b8
* Version Independent ID: de143a26-3dd6-a513-6854-604e4f68c52f
* Content: [ActiveDire

[2020-01-23 17:55] souravmishra-msft commented on #46487
@drdamour, just wanted to check if you got a chance to check my previous response. An answer to that would be great so that we know exactly which connection string is causing an issue.

[2020-01-23 17:56] #46507 closed

[2020-01-23 17:57] drdamour commented on #46487
there is only one connection string table in the doc  it's headed as "Connection String Support"

[2020-01-23 17:57] FrankHu-MSFT commented on #46711
@BakkerJan Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-23 17:58] SaurabhSharma-MSFT commented on #42829
@JustenCs You can now find the video under "[Next Steps](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/migrate-adfs-application-activity#next-steps)" section of the document. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-01-23 17:58] #42829 closed

[2020-01-23 17:58] patternpaul opened #46734 "Password Expiry documentation is potentially confusing"
Hello,

The password expiry documentation seems confusing for this specific section: "Password expiry (Do passwords ever expire)"
![image](https://user-images.githubusercontent.com/3682501/73010059-3e420b00-3dd7-11ea-9950-ea8f75edf491.png)
- the default value says "false days"
- it also indicates that "false" means active even though the field is described as "Do passwords ever expire". I would ha

[2020-01-23 17:58] SwathiDhanwada-MSFT commented on #46507
Thanks for your feedback. We have updated the document and the changes will be reflected within 24 hours.

We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-01-23 18:00] SwathiDhanwada-MSFT commented on #46727
Thanks for your comment. We are actively looking into it and will get back to you shortly.

[2020-01-23 18:01] yugangw-msft commented on #44883
@majusmisiak, right now we are in the transition period of deprecating helm2 and moving to helm3. Unfortunately, we don't have a timeline can be shared yet.
    https://github.com/Azure/acr/blob/master/docs/acr-roadmap.md#acr-helm-ga

[2020-01-23 18:04] ketan-chawda-msft commented on #46719
@ashuthinks
Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-01-23 18:06] #46729 closed

[2020-01-23 18:09] himanshusinha-msft commented on #46724
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-23 18:12] egondalia opened #46735 "Query data change rate (churn) and upload rate for an Azure VM [site-recovery/svc]"
operator: Failed to resolve table or column or scalar expression named 'InstanceName_s'

Running on the Demo environment works because "InstanceName_s" exists in "AzureDiagnostics" but I have enabled all ASR diagnostics and don't have "InstanceName_s" so failing I think, why am I missing this?   (see document link below)

https://docs.microsoft.com/en-us/azure/site-recovery/monitor-log-analytics#q

[2020-01-23 18:18] duranmg commented on #44499
I doesn't work in vs2019 either

[2020-01-23 18:30] taromielnaz commented on #46731
Thanks. What if my server acts like SFTP server on port 22? Does this solution work or just on HTTP/HTTPS protocol?

[2020-01-23 18:32] djpmsft commented on #43727
Hi there,

Apologies for the delay in response. If you are still experiencing this issue I have a few questions/suggestions:

What is the field you are trying to parameterize in your linked service and what is the value in the dev environment? Most likely you need to use a custom parameters file and add the field you are parameterizing so it shows up as a parameter in the generated ARM Template

[2020-01-23 18:32] duranmg opened #46736 "VS2019 not respecting StartDevelopmentStorage setting in project"
I am trying to run locally using the docker/azurite storage emulator.  All is good except when i try to run the Azure Function from VS2019 so I can debug.  I keep getting an error that The Auzre Storage Emulator exe cannot be found ( that's b/c it is not installed).

I tried the setting in the .csproj file to prevent it from starting...
<StartDevelopmentStorage>False</StartDevelopmentStorage>

but

[2020-01-23 18:43] #46361 closed

[2020-01-23 18:44] northtyphoon commented on #46277
@BenjaminHerbert if you run `az acr task show --registry MyRegistry --name MyTask` to check current tracked base image

![image](https://user-images.githubusercontent.com/2686301/73013432-2bc2d400-3dcd-11ea-869c-4d592bd129dc.png)

[2020-01-23 18:47] romankiss commented on #45653
Hi @dominicbetts

thanks for details.
For my root CA and leaf certificates, I am using the document  [Managing test CA certificates for samples and tutorials](https://github.com/Azure/azure-iot-sdk-c/blob/master/tools/CACertificates/CACertificateOverview.md) and for self-signed certificate [this](https://github.com/Azure-Samples/azure-iot-samples-csharp/blob/master/provisioning/Samples/device/X509

[2020-01-23 18:54] msrini-MSFT commented on #46731
Load balancer is a layer 4 component. It will work for port 22 as well.

[2020-01-23 18:56] taromielnaz commented on #46731
Thanks, could you please tell me more about "use a replication mechanism to copy the website to each web server and keep them in sync."

[2020-01-23 18:58] anfeldma-ms commented on #46072
#please-close

[2020-01-23 18:58] #46072 closed

[2020-01-23 19:02] Karishma-Tiwari-MSFT commented on #46708
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-23 19:03] Karishma-Tiwari-MSFT commented on #46717
Thanks for the question. We are currently investigating and will update you shortly.

[2020-01-23 19:04] Karishma-Tiwari-MSFT commented on #46732
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-23 19:18] erhopf commented on #46694
#reassign: @ArcherAz

[2020-01-23 19:19] erhopf commented on #46694
@RohitMungi-MSFT - Archer is out for the New Year holiday. I'll see if there is someone on the broader team that can answer this question.

[2020-01-23 19:25] diberry opened #46737 "QnA query matching answer - from bot framework"
Moving [public issue](https://github.com/microsoft/botbuilder-tools/issues/1402) over

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 858a1c9d-35a7-f809-0fb5-39eec8fca69d
* Version Independent ID: 5c8caacd-0943-c97c-7a14-7f5cf0edc83d
* Content: [How to test a knowledge base - QnA Maker - Azure Cognitive Services](https:

[2020-01-23 19:25] IGx89 opened #46738 "Instructions on how to manage action groups incorrect"
The instructions say "After you create an action group, it's visible in the Action groups section of the Monitor pane." but that doesn't appear to be incorrect. In order to do that I have to do the following:

1. Open Monitor
2. Select the "Alerts" tab
3. Click the "Manage actions" toolbar button

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2020-01-23 19:26] rwike77 commented on #43673
@jkrollin, haven't heard back so closing this.  Feel free to reopen if necessary.  #please-close

[2020-01-23 19:26] #43673 closed

[2020-01-23 19:31] ronortloff commented on #46625
Hi @potato-enthusiast, thanks for the inquiry.  We reserve space within a workload group that has MIN_PERCENTAGE_RESOURCE greater than zero to ensure slots the size of REQUEST_MIN_RESOURCE_GRANT_PERCENT can be granted up to the MIN_PERCENTAGE_RESOURCE  value.  REQUEST_MAX_RESOURCE_GRANT_PERCENT becomes effective when CAP_PERCENTAGE_RESOURCE is greater than MIN_PERCENTAGE_RESOURCE  and REQUEST_MAX_

[2020-01-23 19:43] JasonWHowell commented on #46645
@Ravi-Alwis Agreed. I don't see the Cluster create and Cluster delete in my Activity log either.

I'll discuss with @mamccrea if we need to request a fix in Azure Databricks, or if this is behavior is intentional and we need to update the doc to match reality.

[2020-01-23 19:44] jj-moore commented on #44892
For Windows, the command mvn exec:java -Dexec.mainClass="TestProducer" requires an extra set of quotes here: mvn exec:java -D"exec.mainClass"="TestProducer".  With that change, I was able to get messages sent.

[2020-01-23 19:44] asudbring commented on #46731
That was an example for a simple static website that uses files.  Specifically it depends on the type of website and content and type of web server that is on the VM's.  Lots of variables to be specific.  I would recommend researching more information on the type of web server you plan to deploy such as Apache, NGINX, IIS, and the type of content you are publishing to that web server and the best

[2020-01-23 19:53] rialtus opened #46740 "Password administrator listed twice in Azure portal display name"
In the column "Azure portal display name", the name "Password Administrator" is listed with both "Password Administrator" and "Helpdesk Administrator" - both with different Role template IDs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8eadd92
* Version Independent ID: a380a828-03f9-e037

[2020-01-23 19:55] glaisne opened #46741 "permission not supported by provider"
Microsoft.OperationalInsights/workspaces/intelligencepacks/write is not a real permission.
https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations#microsoftoperationalinsights

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0db74982-1ecc-bfed-5cd1-e68450963636
* Version Independent

[2020-01-23 20:00] mmacy commented on #44225
Hi @NachoVazquez , @NullQuibit, and @Norrch2;

We've confirmed this as a change in behavior between the current **App registration** and the **App registrations (Preview)**. We're currently investigating how best to present the workaround and are also looking at syncing the preview registration behavior with that of the current (GA) registration behavior. I don't have an ETA at this time, but will

[2020-01-23 20:03] Decker-Russell opened #46743 "Unable to mount Fileshare to AKS"
Hello,
It would be great if you could mount an azure file-share to a pod in k8s. It looks like Microsoft has tried to implement but I am experiencing an issue.

*ISSUE*
When creating the private endpoint on the file share, after the targeted cluster has been selected, the Target Sub Resource dropdown never stops loading and will not let the user progress/ mount the fileshare.

[2020-01-23 20:04] mmacy commented on #46165
Confirmed, this domain is currently unavailable. Making change as suggested.

[2020-01-23 20:06] TravisCragg-MSFT commented on #46704
@Coldpawz I am not aware of any changes to these documented constraints. If you have seen behavior that goes against those statements can you give some more information?

[2020-01-23 20:13] mamccrea commented on #46645
I agree - I just tested it and it looks like there isn't a log entry for creating/deleting a cluster. There are multiple log entries for each part of the process (create vm, create network interface, etc) in the new resource group created by the Databricks service, but those events can't be attributed to a person. I'll find out if this is intentional.

[2020-01-23 20:15] Coldpawz commented on #46704
Hi @TravisCragg-MSFT, we've currently got a few App Gateways deployed that have custom error pages pointing to external websites. I asked because the screenshot in #27391 shows the Azure portal (at the screenshot was taken) states only storage account URLs can be used and just wanted to clarify.
Regarding my second question, it was more of a curiosity. It's a feature we'd like to see added to App

[2020-01-23 20:16] mmacy commented on #46412
This is a good catch, @moiso0496, thanks! We're tracking this internally and will update the application. This issue will be closed upon publish of the updated app.

#reassign:WhippsP

[2020-01-23 20:16] jorgemrsantos commented on #46672
Yes, if I try to enable “simple” open vpn through the portal, the profile comes with the ovpn file but when I configure the AAD option doesnt

[2020-01-23 20:22] jispar commented on #46686
CorpNetPublic will not be exposed in public documentation as it's for internal usage only. Service Tag SharePoint documents all internal service tags.

[2020-01-23 20:23] #46165 closed

[2020-01-23 20:33] jonmikeli opened #46744 "Cognitive Services-Speech To Text-TranscriptionResultsContainerUrl property-Is it used?"
Hi,

I am trying to use the Speech To Text service and I expected to find the transcripts in the Url configured in the TranscriptionResultsContainerUrl property.

[code]

However, it seems that the service does not take this property into account.
Is it a bug or am I using it in a bad way?

The property is described as optional but the quickstart below does not mention this property at all.
https:

[2020-01-23 20:36] SnehaGunda commented on #45570
@linkerzx I updated the doc's intro section to include the URI differentiation. The above PR has the updates along with other MongoDB operators.

We will close this issue if there aren't further questions.

#please-close

[2020-01-23 20:36] #45570 closed

[2020-01-23 20:42] Raghu-R opened #46745 "Looks like you can't move a VM and it associated resources alone to another subscription. I have a VM and the NIC assoicated with it in a subnet with other NICs. If I try to move this VM I get validation error referring to other NICs in that subnet are not referenced."
Looks like you can't move a VM and it associated resources alone to another subscription. I have a VM and the NIC assoicated with it in a subnet with other NICs. If I try to move this VM I get validation error referring to other NICs in that subnet are not referenced.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a89a

[2020-01-23 20:42] FrankHu-MSFT commented on #46640
@anlucen I'm not sure I understand, the table currently shows "from xxxx release" meaning 1902 is included for all on-premise UPNs except the non-routable one.

that being said, as this has been addressed i will be closing this by end of daytoday.

[2020-01-23 20:42] SnehaGunda commented on #45063
#please-close

[2020-01-23 20:42] #45063 closed

[2020-01-23 20:43] #46568 closed

[2020-01-23 20:44] potato-enthusiast commented on #46625
Hi Ron, thank you for clearing that up. I misinterpreted this sentence:

Where "resources" refers to the additional resources allocated to the
request beyond those guaranteed by REQUEST_MIN_RESOURCE_GRANT_PERCENT.
I mistakenly interpreted "resources" to mean the entirety of the resources
allocated to the request.

My new, correct interpretation leads to some corollaries:

   1. Resources provided

[2020-01-23 20:44] FrankHu-MSFT commented on #46544
I apologize for that, that being said I will be closing out this git issue as this has been addressed, please let us know if there are anymore concerns in regards to this issue. Otherwise I will be closing out this issue by end of day today.

[2020-01-23 20:45] FrankHu-MSFT commented on #46544
I apologize for that, that being said I will be closing out this git issue as this has been addressed, please let us know if there are anymore concerns in regards to this issue. Otherwise I will be closing out this issue by end of day today.

[2020-01-23 20:45] Raghu-R opened #46746 "Looks like you can't move a VM and it associated resources alone to another subscription"
I have a VM and the NIC associated with it in a subnet with other NICs. If I try to move this VM I get validation error referring to other NICs in that subnet are not referenced.

[2020-01-23 20:48] ronortloff commented on #46625
A doc update is being published.  Let me know if that doesn't help with understanding.

[2020-01-23 20:48] ticianaciminari opened #46747 "Deficiencies in the code"
@kruczekrobert commented on [Wed Jan 22 2020](https://github.com/MicrosoftDocs/azure-docs.pl-pl/issues/472)

Hi, I noticed that the code presented here has one line missing to show functionality:

We need to add plt.show() before plt.axis("off") to show a matplot image window with rectangles/polygons :)

Cheers

https://github.com/MicrosoftDocs/azure-docs.pl-pl/issues/472

---
#### Szczegóły dokum

[2020-01-23 20:50] RVallejoM opened #46748 "AAD allows custom roles?"
AAD allows custom roles? And if so, where do you store them? Can they be seen from ADD or from somewhere else?

[2020-01-23 20:50] ticianaciminari commented on #46747
Hi Team, can you please check the issue reported by user? I'll leave a screenshot as well:
![image](https://user-images.githubusercontent.com/43826292/73022694-d5738680-3e08-11ea-9fcb-8d2daff192e3.png)

Kind regards,

Microsoft DOCS Global Experience Team

[2020-01-23 20:52] femsulu commented on #46384
assigned to rayne to followup.

[2020-01-23 21:00] ticianaciminari opened #46749 "There's a mistake sample command at The serial console.. #3020"
@tawatan commented 14 hours ago — with docs.microsoft.com

Please check below.

No 7
mount /dev/sda2 /temp is incorrect.
mount /dev/sda1 /temp is correct.
No 8
xfs_repair /dev/sda2 -L is incorrect.
xfs_repair /dev/sda1 -L is correct.

No 9
XFS (sda2): Mounting V1 Filesystem is incorrect.
XFS (sda2): Ending clean mount is inccorect.

XFS (sda1): Mounting V1 Filesystem is correct..
XFS (sda1): Endin

[2020-01-23 21:01] ticianaciminari commented on #46749
Hi Team, can you please check comment from user?

Kind regards,

Microsoft DOCS Global Experience Team

[2020-01-23 21:13] femsulu commented on #46741
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-01-23 21:13] femsulu commented on #46738
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-01-23 21:14] MarileeTurscak-MSFT commented on #46716
Thanks @Canis-Lupis ,

I made a pull request to add what you specified. In the future you are also welcome to make your own pull requests for these sorts of changes. https://github.com/MicrosoftDocs/azure-docs-pr/pull/102132

[2020-01-23 21:14] danobri commented on #46465
Here's the issue in the forums:
https://social.msdn.microsoft.com/Forums/azure/en-US/cec1ec65-04f5-43ca-87c2-2ea3495cf22b/missing-path-in-service-sas-uri-the-path-identifies-the-resource?forum=windowsazuredata

However, I feel this is relevant here, as it should be covered in the troubleshooting guide - assuming someone at Microsoft knows how to resolve the issue... :)

[2020-01-23 21:14] JasonWHowell commented on #17744
I emailed the stakeholders again. Since these issues are so old, they will get lost. Better to start fresh I think than to reactivate.

[2020-01-23 21:14] femsulu commented on #46723
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-01-23 21:15] MarileeTurscak-MSFT commented on #46716
I'm closing this out since I've added what you asked for but if you tag me in the comments I will gladly continue the conversation. Feel free to also make your own pull request if you'd like to be credited.

[2020-01-23 21:15] #46716 closed

[2020-01-23 21:17] femsulu commented on #46722
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-01-23 21:18] danobri commented on #46465
Did you attempt to reproduce?

[2020-01-23 21:19] femsulu commented on #46720
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-01-23 21:19] lgayhardt commented on #45891
Hi @pjboardman

The name of the category specifies the source of logging events, in the example "Microsoft" and "Default" are categories. The log category is a string that is associated with each log. When you create logs using the  ILogger<TCategoryName> object, the logs have the fully qualified name of type T as the category.

To learn more about log categories visit the ASP .NET Core documentat

[2020-01-23 21:19] lgayhardt commented on #45891
#please-close

[2020-01-23 21:19] #45891 closed

[2020-01-23 21:22] SnehaGunda commented on #45567
@linkerzx The doc is actually about SQL API accounts only, that's what the account and container creation are about. So MongoDB URI's shouldn't come in context here. However, I agree that the FIllMe text is confusing after asking users to copy the whole URL from the portal. I updated the text to include the URL and Keys.

For MongoDB URIs, I made an update to another doc per your other issue. For

[2020-01-23 21:23] #46565 closed

[2020-01-23 21:24] MattHartz commented on #43749
I am having this same issue. Also am having issue using any other scope other than "/.default" scope for Application Permissions. Any help would be amazing!

[2020-01-23 21:25] FrankHu-MSFT commented on #46715
@david-tap the oath feature is still in public preview and is subject to change. As it's currently in public preview I will be leaving the page as it currently is as it could change tomorrow.

If you're interested in providing feedback in regards to this oath token and would like more/less digits, please post it here : https://feedback.azure.com/forums/169401-azure-active-directory and the product

[2020-01-23 21:39] ecfan commented on #43566
@ToMakeSense & @divyaswarnkar, I have a work item to update the monitoring docs, so I'll add a note to clarify about the delay. Is this question answered? If yes, I'll close this issue. Thanks!

[2020-01-23 21:42] dlepow commented on #46277
@BenjaminHerbert - You also asked about the history of task runs. You can keep data for a task run using [az acr task update-run](https://docs.microsoft.com/cli/azure/acr/task?view=azure-cli-latest#az-acr-task-update-run) and set `no-archive` to false. Explained [here](https://docs.microsoft.com/azure/container-registry/container-registry-tasks-overview#view-task-logs). This prevents purging of ru

[2020-01-23 21:46] diberry commented on #46706
Moved issue to [dispatch repo](https://github.com/microsoft/botbuilder-tools/issues/1403) - #please-close

[2020-01-23 21:46] #46706 closed

[2020-01-23 21:59] chris-konger opened #46752 "Example Typos"
I think the multiple mentions of subnet "10.30.0.0/16" should really be "10.3.0.0/16"? (matching the diagram at top ... the address block corresponding to "VNetB"?) Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d62470b-a511-4b32-5498-2ae5182ec585
* Version Independent ID: df2d4c2e-8afb-14ae-6667-9a504a5f8197

[2020-01-23 21:59] vhorne commented on #42683
Done
#please-close

[2020-01-23 21:59] #42683 closed

[2020-01-23 22:06] devnomadic commented on #46668
@alex-frankel  drew.kennedy@aihw.gov.au (work email address)

[2020-01-23 22:07] NavtejSaini-MSFT commented on #46733
@mattsmall1972 We are assigning this to our Doc author for further review.
@GithubMirek Please check the feedback from user and help respond.

[2020-01-23 22:18] MarileeTurscak-MSFT commented on #46410
Hi @IanPozz81 ,

Are you saying that the access token contains more than what's listed here? https://docs.microsoft.com/en-us/windows/win32/secauthz/access-tokens

Is the id token null or empty?

The identity token is specifically targeted for the client application (for establishing current user identity in the client application), and the client will then ask a different token/s, an access one,

[2020-01-23 22:18] #46410 closed

[2020-01-23 22:20] craigjar commented on #46084
Please make sure your not testing from an admin account, you have to attempt to make the Pyspark jdbc connection from a restricted account.  If not able reproduce in that scenario, I can provide more information ie. version and other environment setup info to help reproduce.

[2020-01-23 22:23] onionhammer commented on #30112
This should be reopened - if there is no way to re-create a custom domain with an ARM template after it has been manually created through the portal.

Expected behavior: ARM should see that the resource already exists and do nothing

[2020-01-23 22:25] Karishma-Tiwari-MSFT commented on #46557
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-23 22:25] #46557 closed

[2020-01-23 22:30] MarileeTurscak-MSFT commented on #46638
@fuocor from my understanding based on the reading that I've done it's a string if there's only one role, but otherwise it's an array of strings.
CC @rwike77

Let me know if that answers your question. If you have further questions feel free to post to Q[&](https://docs.microsoft.com/answers/topics/azure-active-directory.html)A or tag me in the comments and I will gladly continue the discussion.

[2020-01-23 22:30] #46638 closed

[2020-01-23 22:36] RMacfarlane opened #46754 "Tenant value caveats"
I'm currently using a first party client ID to request tokens, so this may not be relevant to this documentation.

In the endpoints section, the `common` tenant description says that it "Allows users with both personal Microsoft accounts and work/school accounts from Azure AD to sign into the application." When using the scope for ARM ("https://management.core.windows.net/.default"), the `common`

[2020-01-23 22:37] kevinlam1 commented on #46429
The NSG rules describe what ports needs to be open with the set of IP addresses that need access to them. So any firewall/router/etc. that is put between any of those endpoints need to ensure that they are accessible. There is more documentation in the works that will go through more complex network configuration scenarios which I expect will cover the scenarios you are thinking of.

[2020-01-23 22:38] SnehaGunda commented on #46542
@steamwings I had a discussion with our dev team on updating the terminology and unfortunately, we can't do it at this point for REST API docs. The examples in the REST API have to refer collections, they aren't updated to containers yet.

We have a disparity between our control plane and data plane APIs. Our control plane APIs (offered through ARM and Resource Provider) refer to these resources a

[2020-01-23 22:39] DixitArora-MSFT commented on #46433
@richieteh94 I have assigned this to content author for further review and update as appropriate.

[2020-01-23 22:40] DixitArora-MSFT commented on #46423
@ishepherd For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-23 22:40] #46423 closed

[2020-01-23 22:45] Mike-Ubezzi-MSFT commented on #45567
The PR has been merged and the changes will be available in the public version of the document in the next 24 hours.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-01-23 22:45] #45567 closed

[2020-01-23 22:45] chris-konger opened #46755 "Typos linked back to first vWAN Tutorial"
The initial Virtual WAN Tutorial has some typos that seem to have trickled down into the How-To Guides. The original diagram/figure shows "VNetB" 10.3.0.0/16 but in various explanatory text and example configs, that has become 10.30.0.0/16

For this page, the example is still valid (it just doesn't agree with the original Tutorial and diagram). There may be other Tutorial and How-To pages with thi

[2020-01-23 22:53] #46371 closed

[2020-01-23 22:53] dcbrown16 commented on #45749
Sorry about the delay. We're a little confused as to why everything shows under "Other Processes", but we're not very familiar with how AKS works in general. We're pursuing some info through other channels. Thanks for checking!

[2020-01-23 22:55] Mike-Ubezzi-MSFT commented on #8416
@ikflc Can you provide me the support request ID, as I need to include this in the escalation I am going to send out. Thank you!
P.S. You can include it here or send to me via [AzCommunity](mailto:azcommunity@microsoft.com) email.

[2020-01-23 22:55] mmacy commented on #46371
Hi @Norrch2, I've added the following row to the **Elements** table in the [TechnicalProfiles](https://docs.microsoft.com/azure/active-directory-b2c/technicalprofiles) doc:

| Element | Occurrences | Description |
| ------- | ----------- | ----------- |
| IncludeInSso | 0:1 |  Whether usage of this technical profile should apply single sign-on (SSO) behavior for the session, or instead require exp

[2020-01-23 22:59] Mike-Ubezzi-MSFT commented on #8416
Can you also include the following out from:  `For more information, see the SQL Server error log. You can also query sys.dm_os_ring_buffers where ring_buffer_type = 'RING_BUFFER_XE_LOG'`

[2020-01-23 23:00] potato-enthusiast opened #46756 "Clarify"
Across multiple pages, the behavior of the "staticrc" workload groups during changes in DWU is unclear.
On one hand, the values for those WG's in sys.workload_management_workload_groups never change when DWU is scaled, effectively making them dynamic resource classes.
On the other hand, entries in sys.workload_management_workload_group_stats change alongside DWU, both for static and dynamic resour

[2020-01-23 23:16] ArielRamirez99 commented on #27380
Why is "Am I required to use a preferred partner device? No. You can use any VPN-capable device that adheres to the Azure requirements for IKEv2/IKEv1 IPsec support." listed twice in the documentation? Is there a reason for this?

[2020-01-23 23:22] simen-wu commented on #41969
I have the same issue with version 10.3.3. I cannot even download a simple text file with azcopy.

[2020-01-23 23:44] alex-frankel commented on #46668
Found it! Thank you. We are going to try to onboard you tomorrow

[2020-01-23 23:45] FrankHu-MSFT commented on #46726
@Chad-Campus thanks for letting us know about this, however this sounds more like a feature request as this is not currently available. My suggestion is to file this under the aad feedback here : https://feedback.azure.com/forums/169401-azure-active-directory and if there's enough community support the product team will look into implementing this. that being said, as this has been addressed I wil

[2020-01-23 23:58] devnomadic commented on #46668
Thanks Alex, much appreciated. We are keen to test & contribute!

[2020-01-24 00:05] torfulle opened #46758 "AAD Tenant Subscription Limit"
Hi, I was just wondering what the limit is for Subscription count per AAD Tenant?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36f49a06-90b1-cbe1-3853-2c38277b79f8
* Version Independent ID: 02ff6f6c-3ef6-b48f-060d-b290419e0aba
* Content: [Azure subscription limits and quotas - Azure Resource Manager](https://docs.mic

[2020-01-24 00:06] Mike-Ubezzi-MSFT commented on #46562
@JonathanWilbur Are your questions answered or are you still seeking clarity for some detail related to auto-pause for Serverless SQL?

[2020-01-24 00:11] BharathNimmala-MSFT commented on #46421
@javafun Thank you for sharing the feedback. With in the [document](https://docs.microsoft.com/en-us/azure/azure-monitor/app/profiler-troubleshooting?source=docs), below **_highlighted_** information has been already called out regarding supportability for profilers. Hope this information helps, please let us know if you have any queries around it.

We will certainly take your  feedback back to ou

[2020-01-24 00:11] #46421 closed

[2020-01-24 00:17] tucane commented on #46460
same problem here, but with dependencies on linked services(keyvault and adls storage).

Do we have a command that can simply just delete the items in the data factory? I don't think the data factory will delete removed items with incremental resource group deployment so I am planning to do a full clear before the resource group deployment in each release.

[2020-01-24 00:22] ronortloff commented on #46756
Hello,
sys.workload_management_workload_groups is a catalog view representing what the configured values are.
sys.dm_workload_management_workload_groups_stats is a dynamic management view (DMV) representing the run-time "effective" values and run-time statistics on workload group usage.

Use the catalog view for generic DDL (drop if exists or joining to classifier catalog views).  Use the DMV for

[2020-01-24 00:24] GiftA-MSFT commented on #46747
@PatrickFarley can you please review and update accordingly? Thanks.

[2020-01-24 00:26] ronortloff commented on #46625
#please-close

[2020-01-24 00:26] #46625 closed

[2020-01-24 00:30] MarileeTurscak-MSFT commented on #46502
@mrmueller if you're referring to the settings in SuccessFactors then it might be better to ask them. I don't see any reason why the functionality would be different but I believe the settings you referenced are on their side.

@cmmdesai thoughts?

[2020-01-24 00:39] larryclaman commented on #40844
I see you closed this issue, but I believe the problem remains.  What @jochenvw pointed out is correct:  you can't click on the test line until the number is greater that 0.
I think the documentation should be corrected such that under the section "Run a test migration", step 1 should read:
"In Migration goals > Servers > Azure Migrate: Server Migration, click Replicating servers"  for the first t

[2020-01-24 00:40] MarileeTurscak-MSFT commented on #46502
I have reached out to the product team on my end about this as well and am awaiting their response.

[2020-01-24 00:46] Mike-Ubezzi-MSFT commented on #46365
@Simon-HL Can you update this issue with the result of implementing `-r "node|10.6"` in step 2 as detailed in the previous comment. This will be helpful.

[2020-01-24 00:58] NoShet opened #46760 "No information on connecting to storage account on OAuth2"
In the example it uses key authentication to connect to the storage account but there is no information available for how to use OAuth2 to authenticate

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f1ffca1-98ba-0b91-1c6f-a92dde893b30
* Version Independent ID: 8e14882f-c7b2-3f27-554f-973a41e1d380
* Content: [Configure

[2020-01-24 01:01] MarileeTurscak-MSFT commented on #46532
Can you please clarify what you mean by a separate 2FA for each subscription/tenant? Do you mean that the MFA settings are different per-tenant and that to log into different tenants you need to MFA separately?

You can't change the MFA settings for a directory that you do not have global administrative rights on, as the admins can enforce the MFA rules that they want to enforce. You can, however,

[2020-01-24 01:02] MarileeTurscak-MSFT commented on #46532
Hope this helps! If I misunderstood or if you have further questions feel free to tag me in Microsoft Q&A or in the comments, since this section is meant more for documentation bugs. https://docs.microsoft.com/answers/topics/azure-active-directory.html

[2020-01-24 01:02] #46532 closed

[2020-01-24 01:06] MarileeTurscak-MSFT commented on #46528
I believe this is referring to the role assignment queries. I'm assigning this to the content author, @rolyon, to look into.

[2020-01-24 01:19] Norrch2 opened #46761 "Return Azure Ad B2C Access Token To RP"
Thank you for this post. I was wondering if there is a way to return an access_token to the RP so not only do they get an id_token they also get an access_token?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14744614-c06f-0e1b-52a3-a3ca8ccf3df7
* Version Independent ID: 24b72c17-464d-63bd-e6fd-ef8fe0b78cca
* Content:

[2020-01-24 01:56] pschaeflein opened #46762 "Naming inconsistent between this page and Azure Portal"
In the "Expose an API" section of the document, the term "resource URI" is used.

On the Azure Portal page for application registration, on the "Expose an API" blade, the term used is "Application ID URI".

I believe this documentation page should use the same terms as the portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2020-01-24 01:58] fhryo-msft commented on #44927
I checked again and "合計" has been changed to "Average" now.

[2020-01-24 02:04] ikflc commented on #8416
Hi There,

Support Id 120012223000709

I got the following by running
select * from sys.dm_os_ring_buffers where ring_buffer_type = 'RING_BUFFER_XE_LOG'

<Record id = "1425" type ="RING_BUFFER_XE_LOG" time ="1126183998"><XE_LogRecord message="file: file create or open failed (last error: 5)"></XE_LogRecord></Record>
<Record id = "1426" type ="RING_BUFFER_XE_LOG" time ="1126183999"><XE_LogRecord me

[2020-01-24 02:12] TravisCragg-MSFT commented on #46710
@ducksecops can you post a link to the doc you are following?

[2020-01-24 02:21] TravisCragg-MSFT commented on #46725
@Russellmd Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-01-24 02:24] TravisCragg-MSFT commented on #46735
@egondalia Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-01-24 02:25] TravisCragg-MSFT commented on #46736
@duranmg can you post a link to the doc you are following?

[2020-01-24 02:26] TravisCragg-MSFT commented on #46743
@Decker-Russell can you post a link to the doc you are following?

[2020-01-24 02:31] ToMakeSense commented on #43566
@ecfan there is documentation to clarify about the delay, see [View logic app run information](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-monitor-your-logic-apps-oms#view-logic-app-run-information)

the question is not answered, I think it's a bug. you can double confirm.

[2020-01-24 02:32] TravisCragg-MSFT commented on #46745
@Raghu-R You must move all virtual machines in the same virtual network if you are moving that VM to a new subscription. [This limit is documented Here](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/move-limitations/virtual-machines-move-limitations#scenarios-not-supported). you will either need to use Azure recovery services or a manual migration to move the VM.

[2020-01-24 02:34] TravisCragg-MSFT commented on #46746
closing as a duplicate of #46745

[2020-01-24 02:34] #46746 closed

[2020-01-24 02:35] TravisCragg-MSFT commented on #46748
@RVallejoM can you post a link to the doc you are following?

[2020-01-24 02:38] TravisCragg-MSFT commented on #46729
@egondalia I see this issue is closed, Please let me know if you need further assistance.

[2020-01-24 02:48] afield1235 opened #46763 "Missing Reply URL"
Zoom's document states you must have a Reply Url Set: https://support.zoom.us/hc/en-us/articles/115005887566-Configuring-Zoom-with-Azure#h_04f20f53-96b6-4877-9b14-b1a862fe34c8

For Identifier (Entity ID), enter your vanity URL without https://.
Eg. yourvanityurl.zoom.us

**For Reply URL, enter https://*.zoom.us/saml/SSO**

For Sign on URL, enter https:// followed by your Vanity URL.
Eg. https://yo

[2020-01-24 03:22] afield1235 opened #46766 "Doc is out of date"
Followed it the best I could, interfaces don't look the same in Zoom. Couldn't get this to work, some of the labeled names aren't the same or don't exist. I've done 100s of SSO implementations with Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65a972cb-fe26-60cb-b12d-1af9ed8e87eb
* Version Independent ID: ff97a

[2020-01-24 03:29] MohitVerma-MSFT commented on #46709
Hello @alexshipp-er ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-24 03:33] ankur021188 commented on #46707
Hi @MohitVerma-MSFT ,
I was referring to https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-log-webhook

[2020-01-24 03:47] jeevansd commented on #46766
Thanks  for the feedback here. We will start the conversation with zoom team and will update the instructions.

[2020-01-24 04:09] dcbrown16 opened #46767 "Restoring to a different cluster"
"The only time it would change is if you restore the namespace on to a different cluster."
This statement in regards to IP addresses is a little confusing. Is it referring to a geo-disaster recovery, as covered in this article?
https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-geo-dr

If so, the verb favored by that article is failover, so we should standardize.

---
#### Document Detai

[2020-01-24 04:14] dylanhughes commented on #36222
This still looks to be the case, any further update from engineering team when this will be resolved please?

[2020-01-24 04:24] lovingld opened #46768 "Lovinglsp"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-01-24 04:45] MohitVerma-MSFT commented on #46713
Hello @ginomessmer ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-24 04:47] MohitVerma-MSFT commented on #46721
Hello @OffColour ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-24 04:53] MohitVerma-MSFT commented on #46768
Hello @lovingld ,

Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-01-24 04:58] justinatomatic commented on #46601
We are also keen to implement Identity translation on a IoT Edge Gateway and can't see any documentation or API's on how to achieve this.

[2020-01-24 04:59] MohitVerma-MSFT commented on #46730
Hello @djsowa ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-24 05:02] MohitVerma-MSFT commented on #46734
Hello @patternpaul ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-24 05:03] MohitVerma-MSFT commented on #46602
Hello @uzumaki98 ,

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-01-24 05:03] #46602 closed

[2020-01-24 05:04] MohitVerma-MSFT commented on #46631
Hello @shankurmahajan ,

Just wanted to check if you got a chance to check my above response.

[2020-01-24 05:07] MohitVerma-MSFT commented on #46665
Hello @shawnolson-fp ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-24 05:08] MohitVerma-MSFT commented on #46688
Hello @pyephyoeaung ,

Just wanted to check if you got a chance to check my above response.

[2020-01-24 05:09] MohitVerma-MSFT commented on #46687
Hello @boethius ,

Just wanted to check if you got a chance to check my above response.

[2020-01-24 05:11] MohitVerma-MSFT commented on #46695
Hello @ECocca ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-24 05:12] MohitVerma-MSFT commented on #46702
Hello @KevinBollengier ,

Just wanted to check if you got a chance to check my above response.

[2020-01-24 05:13] MohitVerma-MSFT commented on #46707
Hello @ankur021188 ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-24 05:28] SadiqhAhmed-MSFT commented on #46760
@NoShet Thanks for the Comment. We are actively investigating and will get back to you soon.

@dcurwin FYI.

[2020-01-24 05:30] ejstan opened #46769 "How do you generate a CSR in AKS for other SSL providers?"
This page shows how to use Let's Encrypt. I would like to know how will you be able to create a CSR from your AKS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 597ba957-9501-5919-73a0-6d47b1ca2c6d
* Version Independent ID: 6345fa19-b3f2-ffd6-f526-908f845b51f6
* Content: [Use your own TLS certificates for ingress with

[2020-01-24 05:32] boominathantradezap opened #46770 "ClientAuthError: Nonce is not matching, Nonce received:"
On First time everything works fine , when i try again one more time to login its shows this error
ClientAuthError: Nonce is not matching, Nonce received:

[2020-01-24 05:33] MohitVerma-MSFT commented on #46737
Hello @diberry ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-24 05:42] SadiqhAhmed-MSFT commented on #40844
@larryclaman Thanks for the feedback.

@rayne-wiselman To review and update the document.

[2020-01-24 06:05] SadiqhAhmed-MSFT commented on #46758
@torfulle AFAIK, there are no such limitations. Per account there are limits but  not at tenant level.

One Account - 50 Subscriptions, after opening a support case they could increase up to 200. BUT THIS APPLY ONLY FOR PowerShell / CLI / REST.

There is no limit through Azure portal.

Good to read links - https://docs.microsoft.com/en-us/office365/enterprise/subscriptions-licenses-accounts-and-te

[2020-01-24 06:12] SumanthMarigowda-MSFT commented on #46740
@rialtus Thanks for your question. We are checking on this and will respond to you soon.

[2020-01-24 06:13] SumanthMarigowda-MSFT commented on #46744
@jonmikeli Thanks for your question. We are checking on this and will respond to you soon.

[2020-01-24 06:35] ketan-chawda-msft commented on #46429
@frehnejc Checking in to see if the above post helped answering your question.

[2020-01-24 06:37] ketan-chawda-msft commented on #46515
@maptan Thanks for providing the doc link! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-01-24 06:38] boethius commented on #46687
Please see the URL here:

https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/billing-subscription-transfer

[2020-01-24 06:42] boominathantradezap commented on #46770
When i cleared sthe cookie storage data its fixed

[2020-01-24 06:42] #46770 closed

[2020-01-24 06:44] juanjojulian opened #46771 "Wrong API version"
If I use the URL provided in this page "http://169.254.169.254/metadata/scheduledevents?api-version=2017-11-01" I get a "BAD REQUEST" response. If I use the following URL (note different API version) "http://169.254.169.254/metadata/scheduledevents?api-version=2017-08-01" it works, so I assume the API version in this page is wrong.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2020-01-24 06:46] ketan-chawda-msft commented on #46749
@ticianaciminari Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-24 06:48] ketan-chawda-msft commented on #46755
@chris-konger Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-24 06:49] ketan-chawda-msft commented on #46752
@chris-konger Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-24 06:51] ketan-chawda-msft commented on #46754
@RMacfarlane Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-24 07:00] dcurwin commented on #46760
#reassign:adityabalaji-msft

[2020-01-24 07:14] KrishnaG-MSFT commented on #46718
@lobrien Thanks for the super quick response. :+1:

[2020-01-24 07:33] klimcio commented on #46518
@ketan-chawda-msft Unfortunately I'm not the admin in my company, therefore I still have to wait in order to set the admin consent. I will comment soon after that.

[2020-01-24 07:52] KosukeHosoda opened #46772 "SNAT port count Azure Firewall can use"
I think customers would like to know how many SNAT ports Azure Firewall can use. So it would be helpful if you could add the description regarding the maximum SNAT ports.
ex.)
・AzFW can use 2048 SNAT ports per 1 public IP address.
・Basically, AzFW can use 2048 SNAT ports per 1 public IP adress. but it depends on the instance count and if customers need more SNAT ports, customers can require more i

[2020-01-24 07:59] Dokoh opened #46773 "%Program Files%"
Hi,
I think there is an issue regarding this environment variable when I lookup on my computer the environment variable is %ProgramFiles% and not %Program Files%

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: faed3c33-d05e-7a05-1327-27a79325f677
* Version Independent ID: 151a61e3-ea34-7716-bbc8-66177f768b7b
* Content:

[2020-01-24 08:04] MohitVerma-MSFT commented on #46761
Hello @Norrch2 ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-24 08:05] MohitVerma-MSFT commented on #46762
Hello @pschaeflein ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-24 08:08] MohitVerma-MSFT commented on #46763
Hello @afield1235 ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-24 08:10] MohitVerma-MSFT commented on #46766
Hello @afield1235 ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-24 08:18] thomasonsignup commented on #46623
For future reference this needs to be added to commands to make it work (ARM template below)
"command": [
	"./run.sh", "eula=accept"
  ],

[2020-01-24 08:20] KosukeHosoda opened #46774 "SNAT port count Application Gateway can use"
When we set up backend as a public IP address, AppGW might use SNAT ports so that the AppGW instance connects to internet. So, I guess AppGW has a certain limit regarding SNAT port counts. (ex. 1024 ports per instance). It would be helpful if you could add the description for the SNAT ports limitation. Because we should consider the limitation if AppGW doesn't scale out according to the SNAT port

[2020-01-24 08:27] neeleshray-msft commented on #46500
@cmmdesai Can this be verified and changed if needed ?

[2020-01-24 08:29] neeleshray-msft commented on #45980
@mmacy Can this be updated in the document ?

[2020-01-24 08:30] neeleshray-msft commented on #46773
@Dokoh Thanks for reaching out. We will review and update as appropriate.

[2020-01-24 08:45] neeleshray-msft commented on #46773
@Dokoh We have updated the document and it should reflect soon.

[2020-01-24 08:58] cmgharris commented on #46469
@shashishailaj Everything I know about managed and federated domains is from here: https://answers.microsoft.com/en-us/msoffice/forum/all/difference-between-federated-managed-and-standard/45d6c089-8361-4b76-9d94-6aa5752ad263 and the answer given is this:
"Managed domain is the normal domain in Office 365 online. And federated domain is used for Active Directory Federation Services (ADFS). Once a m

[2020-01-24 09:05] wukun2015 commented on #46679
Any update please ?

[2020-01-24 09:16] jayasuryajeyakodi commented on #28140
@dixitArora-MSFT  can you ask the author to provide example of function.json that has the bindings?

[2020-01-24 09:21] MohitVerma-MSFT commented on #46767
Hello @dcbrown16 ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-24 09:23] MohitVerma-MSFT commented on #46769
Hello @ejstan ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-24 09:26] MohitVerma-MSFT commented on #46771
Hello @juanjojulian ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-24 09:28] MohitVerma-MSFT commented on #46772
Hello @KosukeHosoda ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-24 09:33] MohitVerma-MSFT commented on #46774
Hello @KosukeHosoda ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-24 09:41] ms-yuukih opened #46775 "Needs update: 1.3.20.0 and older are the ones that will be deprecated, not 1.1.751.0"
Regarding the message for deprecation process... 18 months from Nov 1st, 2020 would be May 1 st, 2019, not 2018.
Therefore, Azure AD Connect with version 1.3.20.0 (which was released on 4/24/2019) and older are the ones that will be deprecated. Not 1.1.751.0. Please update the page if this is correct.

"Starting on November 1st, 2020, we will begin implementing a deprecation process whereby versio

[2020-01-24 09:43] jayasuryajeyakodi commented on #21211
@MegoCs were you able to fix the issue

[2020-01-24 09:47] jsteezy commented on #21125
Is there any update on this? I note there is a comment saying >3-4 months from a year ago

[2020-01-24 09:49] luthv opened #46776 "Not enough info on differences between v1 and v2"
I'm trying to migrate from v1 to v2, in v1 we have queue configuration in host.json such as batchSize and newBatchThreshold, are these two options no longer available in v2?
Is there any equivalent settings in v2 if we want to optimize the queue receiver?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0440205f-adcc-0fc

[2020-01-24 09:51] ChrisSommers opened #46777 "JiT with Azure Firewall"
When using JiT with Azure Firewall, I've observed some odd behaviour.

If you let the requester specify the IP/range to be allowed as the source for the connection, JiT will configure a DNAT rule on the Firewall with the source as specified. Fine. But JiT will then configure the NSG rule with the same source. The problem here is that the VM sees the traffic as coming from the Firewall, not from th

[2020-01-24 09:57] mrmueller commented on #46502
@MarileeTurscak-MSFT
The settings I am referencing are in Azure AD on the "SuccessFactors to Active Directory User Provisioning" application.

[2020-01-24 10:14] AhmadBaaraGE opened #46778 "Grant permission to the data factory that needs to access the self-hosted integration runtime you created and registered using Powershell"
Hello I am trying to run the powershell script to grant a Data Factory a link to the integration runtime hosted on another Data Factory however I am struggling with passing the correct variables

Where can I find the values  for "-ObjectId $factory.Identity.PrincipalId" and "-Scope $SharedIR.Id" when granting permissions?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-01-24 10:29] joeweale commented on #45598
Worthwhile noting I had the same issue and @danmyhre suggestion resolved it.

Needs to be set correctly in the Set-AzVirtualNetworkGateway powershell cmd (not just the client config)

[2020-01-24 10:30] SadiqhAhmed-MSFT commented on #46596
@RonaldMariah Closing this thread for now. Feel free to reach out to us if you need any further help on this.

@JnHs Thanks for helping.

[2020-01-24 10:30] #46596 closed

[2020-01-24 10:31] MohitVerma-MSFT commented on #46775
Hello @ms-yuukih ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-24 10:32] MohitVerma-MSFT commented on #46776
Hello @luthv ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-24 10:34] Lonefish opened #46780 "SQL Query"
Might be worth noting that in order to run the SQL Query in a Python notebook you should put '%sql ' in front of the query. As a complete beginner in AI/ML and jupyter notebooks I ran into this problem.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd258593-1687-8901-0279-9cc2087459de
* Version Independent ID: dfbe6c9

[2020-01-24 10:34] MohitVerma-MSFT commented on #46777
Hello @ChrisSommers ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-24 10:36] MohitVerma-MSFT commented on #46778
Hello @AhmadBaaraGE ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-24 10:37] boachim opened #46781 "ID Token Header - Mandatory or optional fields"
Could we add an extra column to the Header claims table including if the field is mandatory or optional?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0cace34-34bf-32f7-c857-e4d71d535a77
* Version Independent ID: cdbbc4ae-5894-da21-42d7-928b3674bbd1
* Content: [Microsoft identity platform ID token reference](https://

[2020-01-24 10:38] MohitVerma-MSFT commented on #46780
Hello @Lonefish ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-24 10:38] MohitVerma-MSFT commented on #46781
Hello @boachim ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-24 10:39] Lonefish commented on #46780
I just realised that this is an SQL notebook and uses the %python magic command. Might be clearer if the magic command is put in the code examples too and make it clear that the notebook should be created as an SQL notebook. I created a notebook, copied the commands and only after the first cell is there a mention that it's an SQL notebook, so I glanced over it.

[2020-01-24 10:56] klimcio commented on #46518
@ketan-chawda-msft It appears it worked. Thank you :-)

[2020-01-24 10:58] #46518 closed

[2020-01-24 11:15] CarlRabeler commented on #46319
@GregUzelac Hi Greg, how much input output operations per second do you need?

[2020-01-24 11:18] CarlRabeler commented on #46690
@vinothrao Does the IP address from where you are executing the REST request  change with each request or is it always the same? The IP address for the firewall rule is the IP address for the client that is submitting the REST request.

[2020-01-24 11:23] booyaa opened #46782 "`modifyOutputPath: true` in the example C# yaml causes zip file to have the wrong folder depth"
This causes problems when using the App Function Deploy task (release pipeline).

Instead of this type of folder structure:

[code]

you get this (note the extra folder `s`)

[code]

I'll create a PR to fix the documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ab62930-d35d-d6d3-8bb7-2ed6b34636bb
* Version I

[2020-01-24 11:40] YvonneArnoldus opened #46784 "Why do I get "Your session has expired" error message before the Bastion session starts?"
I get this message When I start the url from the azure portal. When I have the roles Reader and Virtual Machine Administrator Login on the subscription. So It is also a issue when you have not enough rights.

Can you explain this and also explain which roles you need.

I would like to know how to set role assignment to give some Bastion access to vm's but nothing else.

---
#### Document Details

[2020-01-24 11:43] loopfish opened #46785 "Does the Workspace need to be in the same Resource Group/Subscription as the App Service?"
The wizard only lists Workspaces in the same Resource Group/Subscription as the App Service (but the Workspace I want to use is in another Subscription and Resource Group) - is this a limitation, because it is not mentioned in this documentation...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfc316af-0d30-b449-a04f-

[2020-01-24 11:55] YvonneArnoldus opened #46786 "Reader Role on Subscription does not work"
This documentation tells you that you need 3 Reader role assignments, I have given my user the Reader role assignment on the subscription so I have those roles.

But I still get "A session should be initiated only from the Azure portal. Sign in to the Azure portal and begin your session again" when I login on the virtual machine.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2020-01-24 11:56] YvonneArnoldus commented on #46786
Update: I tried in Firefox that worked oke, Chrome [Version 79.0.3945.130 (Official Build) (64-bit)] is the issue.

[2020-01-24 11:57] YvonneArnoldus commented on #46784
Update: It isn't the roles that gives the error but it is Chrome [Version 79.0.3945.130 (Official Build) (64-bit)] that does it, because I got it working in Firefox.

[2020-01-24 11:57] MohitVerma-MSFT commented on #46782
Hello @booyaa ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-24 11:58] rhummelmose commented on #40780
Why haven't we fixed this yet???....

[2020-01-24 11:58] MohitVerma-MSFT commented on #46784
Hello @YvonneArnoldus ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-24 11:59] MohitVerma-MSFT commented on #46785
Hello @loopfish ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-24 12:05] MohitVerma-MSFT commented on #46602
Hello @uzumaki98
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-01-24 12:07] MohitVerma-MSFT commented on #46786
Hello @YvonneArnoldus ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-24 12:13] sujayvsarma opened #46787 "[Pri 1] App Service + Certificates - Multiple API do not return Json -- returns Xml"
Folks,
Please check this out, and probably route this ticket to the product engineering team for a fix.

These App Service Certificate Orders endpoints return Xml response and not Json-response. The documentation says they should return Json.

- https://docs.microsoft.com/en-us/rest/api/appservice/appservicecertificateorders/retrievecertificateactions

- https://docs.microsoft.com/en-us/rest/api/a

[2020-01-24 12:17] MohitVerma-MSFT commented on #46395
Hi @LearnsHappily ,

Have you checked my previous response.

[2020-01-24 12:20] MohitVerma-MSFT commented on #46730
Hi @djsowa ,

Could you please elaborate on this feedback?

[2020-01-24 12:23] SaurabhSharma-MSFT commented on #46247
@mjlanham We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-01-24 12:23] #46247 closed

[2020-01-24 12:39] djsowa commented on #46730
Sure.

In [sample code](https://docs.microsoft.com/en-us/azure/azure-app-configuration/scripts/cli-create-service#sample-script) section U use `az appconfig key list ...` to produce connection string.

However  command `az appconfig key list ` seems to be removed from CLI. So to get connection string from AppCofig instance u can use something like this:

appConfigConnectionstring=$(az appconfig cr

[2020-01-24 12:54] wonderplayer opened #46788 "Is 32 addresses really enough?"
"When VNet Integration is used with VNets in the same region as your app, it requires the use of a delegated subnet with at least 32 addresses in it"

When creating resource by hand, it requires at least 200 addresses in IP address space. Some other resource mentioned that it requires 100 IP addresses.
How many IP addresses are really required?

---
#### Document Details

⚠ *Do not edit this secti

[2020-01-24 13:00] RyanHill-MSFT commented on #46785
Just to make sure I understand @loopfish, you want configure your Azure Monitor to use a storage account that's in a separate resource group? Can you elaborate on what you mean by _workspace_ in this context?

[2020-01-24 13:02] RyanHill-MSFT commented on #46788
Thanks for the feedback @wonderplayer! We are currently investigating and will update you shortly.

[2020-01-24 13:20] MohitVerma-MSFT commented on #46787
Hello @sujayvsarma ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-24 13:29] loopfish commented on #46785
App Service >> Diagnostics >> Add Diagnostics Settings >>

It seems that attempting to do any of :
Archive to storage account
Stream to even hub
Send to Log Analytics
 -- only shows the current App Service's subscription in the drop-down:

![image](https://user-images.githubusercontent.com/39245344/73072657-7156ce00-3ead-11ea-9692-09ed2cb74639.png)

(we have many subscriptions)

[2020-01-24 13:36] qhaitoNNV opened #46789 "Choosing IKE version for VPN Connection"
At the moment, it's possible to choose what IKE version you want your Connection to negotiate on.
Could you please update this document making reference to the IKE version options now available on Route based Gateway's.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1fe1809b-6ed1-ff3e-bd4f-ee80095a8efc
* Version Indepe

[2020-01-24 14:00] dombat opened #46790 "What about B2C?"
Do these risk detections apply to Azure B2C as well? It is not mentioned at all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 198f0e69-af2a-8c82-041a-c5ca4126f02f
* Version Independent ID: 4be57788-f1c2-d6d4-b94a-a59350a618a7
* Content: [Azure Active Directory risk detections](https://docs.microsoft.com/en-us/azure/a

[2020-01-24 14:00] diberry commented on #46737
Answered in the bot framework repo. #please-close

[2020-01-24 14:00] #46737 closed

[2020-01-24 14:05] neeleshray-msft commented on #46740
@rialtus There is a difference between a "Password Administrator" and a "Helpdesk Administrator".

A Helpdesk Administrator with this role can change passwords, invalidate refresh tokens, manage service requests, and monitor service health.

While the Password Administrator with this role have limited ability to manage passwords. This role does not grant the ability to manage service requests or m

[2020-01-24 14:13] neeleshray-msft commented on #46504
@boachim We have verified and updated the link in the document and it should reflect on the document soon.

[2020-01-24 14:14] LarsKemmann commented on #32024
Agreed. In particular, some explanation on Microsoft Docs for how to do user group segmentation with feature flags would be helpful, because as of right now the only info provided for filters is focused on the built-in percentage and timeframe filters.

[2020-01-24 14:15] neeleshray-msft commented on #46790
@dombat Thanks for reaching out. We will review and update as appropriate.

[2020-01-24 14:32] Simon-Bru commented on #5638
I had the same issue, you can reproduce by cloning a web activity with dataset (i did so in a different pipeline).
I tried to recreate a separate Web Activity with dataset and it worked fine.
Hope I can help locate the bug.

[2020-01-24 14:36] shankurmahajan commented on #46631
Hey Mohit,

This is the URL

https://docs.microsoft.com/en-us/azure/active-directory-b2c/customize-ui-overview

[2020-01-24 14:37] torfulle commented on #46758
Thanks for the quick response! To clarify we do not have a limit for creating Subscriptions through the Azure Portal per one AAD Tenant.

Is there any way we can publicly document this? I appreciate the below links however they do not specify that.

From: SadiqhAhmed-MSFT <notifications@github.com>
Sent: Friday, January 24, 2020 1:06 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>

[2020-01-24 14:41] CaioCavalcanti commented on #43302
I had the same problem here and was able to solve with this: https://github.com/ScottHolden/ARMExamples/blob/master/AppService-VnetNew-Storage/deploy.json

[code]

[2020-01-24 14:43] dkedzior-smh commented on #46469
Hi, I have a similar problem. When i try call https://login.microsoftonline.com/{tenantID}/oauth2/v2.0/token with coded SAML assertion, scope set to 'openid https://graph.microsoft.com/.default, urn:ietf:params:oauth:grant-type:saml2-bearer as grant_type i got error "error": "invalid_request" and clientID
    "error_description": "AADSTS50107: The requested federation realm object 'https://sts.win

[2020-01-24 14:43] elvirk commented on #46426
Thank you!

[2020-01-24 14:46] lovingld commented on #46768
Ty

[2020-01-24 14:48] shibinchandra commented on #38706
Will the location rewrite set option or custom domain option ever work when you enable AAD authentication in your web app.

[2020-01-24 14:49] mmacy commented on #45980
Hi @neeleshray-msft, this was resolved in https://github.com/MicrosoftDocs/azure-docs-pr/pull/101452

#please-close

[2020-01-24 14:49] #45980 closed

[2020-01-24 14:54] sunilprabha opened #46791 "url path based default page"
I want to find out how to manage the default page .
i set up appgateway v1 wiht multi site , path based routing  to do this https://a1.b.com and https://a1.b.com/images  images server , in this the default page is defaut.aspx. when I hits https://a1.b.com/images  the default page do not load, but it will load only when I hit the page directly, https://a1.b.com/images/default.aspx.
How do i make th

[2020-01-24 14:56] yashas850039 opened #46792 "No data displayed on cost analysis tab"
we have transferred billing  to new billing scope under same subscription.We have an EA subscription . Post transfer we are unable to see cost views/cost analysis .However on EA portal or usage and credits we can see the charges.
Can you please tell me what changes need to be done view cost analysis.#cost management

![image](https://user-images.githubusercontent.com/55894920/73078186-ac4a0900-3e8

[2020-01-24 15:01] arthurdenisov opened #46793 "Versioning mismatch"
In the #gremlin-api section, the link goes to the general "Downloads" page, so I downloaded the Gremlin Console v3.4.4, but the snippet used for establishing a connection to the Cosmos DB Emulator has the version "3.3.4" for changing directories. Was confused why the snippet didn't find my files. Perhaps would be better to point to the specific version download (https://archive.apache.org/dist/tin

[2020-01-24 15:03] MonikaReddy-MSFT opened #46794 "Cognitive Services is not showing up in Extensions and update search box."
We have a customer who is unable to see Cognitive Services when they search for it in Extensions and Update Search box. I am able to replicate the same issue. The doc seems to be updated or the issue needs to be fixed with Visual Studio 2019.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef190b6a-7fc0-c071-4b3a-a140f4

[2020-01-24 15:04] hisasima commented on #38706
I confirmed that not using app service option can work well but using rewrite set is not appropriate to the senario. Because some redirect behavior does not have Location header so rewrite rule can not work well. I hope you to check this behavior and add some notes about this issue.

--- notifications@github.com wrote:

[2020-01-24 15:06] deeksha-microsoft opened #46795 "Will there be a datapath downtime when enabling Floating IP"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-01-24 15:12] deeksha-microsoft opened #46796 "Will enabling floating IP cause downtime"
If I enable floating IP in an existing LB rule (doing it via powershell). Will there be a downtime in datapath? Because the 5-tuple changes and no more Destination NAT will be happening on SLB. Will the existing connection close gracefully and new connections start with the new settings?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2020-01-24 15:13] #46795 closed

[2020-01-24 15:18] msrini-MSFT commented on #27380
Thanks @ArielRamirez99.

PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/102219

[2020-01-24 15:29] TerenceSansom commented on #41565
Have the doc been updated, as this still seems pretty vague?

[2020-01-24 15:29] TerenceSansom commented on #41005
Have the doc been updated, as this still seems pretty vague

[2020-01-24 15:30] jcbrooks92 commented on #46788
Each instance in the app service requires 1 IP address. Right now for non ASE scenarios these are the scale limits:

Premium V2 in certain regions - 30 instances
https://azure.microsoft.com/en-us/updates/increased-app-service-scale-out-limits-for-premiumv2-plans/

All other SKUs that support VNET integration (non-ASEs) - 20 instances

[2020-01-24 15:31] mennomenno opened #46797 "Is a seccomp profile active for the containers?"
Are the containers on Azure Container Instances constrained by a seccomp profile as in [the default docker setup]( https://docs.docker.com/engine/security/seccomp/)?
If so, is it possible to modify or disable (unconfined) that profile?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f275d757-c0ac-498e-cf5f-b2aa1b6aade7

[2020-01-24 15:36] msrini-MSFT commented on #46672
Can you do a Get-AzVirtualnetworkGateway -ResourceGroupName RGname -Name Gatewayname and check whether your VPN gateway is configured with OpenVPN under VpnClientConfiguration ?

[2020-01-24 15:40] DCtheGeek commented on #46453
@spmanjunath Thanks for the feedback. We've reviewed the image and believe it is readable and will keep it as is for now. We've still taken note of your comment for updates to the page and graphic in the future.  Thanks again!

@MicrosoftDocs/azure-cxp-triage #please-close

[2020-01-24 15:40] #46453 closed

[2020-01-24 15:40] shibinchandra commented on #38706
@hisasima, Thanks for your reply. I followed the exact steps under "Alternate solution: Use a custom domain name".
Everything went smooth until I enabled the Azure AD Authentication. Now I am getting an error ERR_TOO_MANY_REDIRECTS.

[2020-01-24 15:43] KristiRyder commented on #46103
I am also seeing that API Management is showing NO. However I am seeing a document updated in August that shows instructions for how to migrate across regions for API Management here: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-migrate Please update this to YES

[2020-01-24 15:43] msrini-MSFT commented on #46574
@Tyler-Angell , Please tag me if you have any further questions.

[2020-01-24 15:43] #46574 closed

[2020-01-24 15:44] msrini-MSFT commented on #46598
@Zerbax , do you have any update in this issue?

[2020-01-24 15:45] cmgharris commented on #46469
@dkedzior-smh I believe this to be because the domain represented by your tenant id is a managed domain rather than a federated domain as defined in my response above. Is that the case? I think this workflow only works for federated domains, though it's not obvious why this should be.
I'm very frustrated by this; having authenticated via sso, users can access any of the Office365 applications; so

[2020-01-24 15:47] jcbrooks92 commented on #41583
Azure AD integration works with App Services and is the recommend for authentication, I'm not aware of specific restrictions but if you have more specifics about your AAD integration that may help.

Using ADFS does not work as expected due to the sandbox restrictions blocking ports related to LDAP and the VMs cannot be domain joined.
https://github.com/projectkudu/kudu/wiki/Azure-Web-App-sandbox#r

[2020-01-24 15:51] SnehaGunda commented on #46098
#please-close

[2020-01-24 15:51] #46098 closed

[2020-01-24 15:53] msrini-MSFT commented on #46796
@deeksha-microsoft , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-01-24 15:54] NavtejSaini-MSFT commented on #46756
@potato-enthusiast Please get back to us if you have any further question.

[2020-01-24 15:59] SnehaGunda commented on #46793
@arthurdenisov thanks for pointing out, I submitted a PR to fix the issue. We will now close this issue.

#please-close

[2020-01-24 15:59] #46793 closed

[2020-01-24 16:00] rajrao opened #46798 "Troubleshooting tips needs to include the fact that AppNodes are generated from Request and Dependency telemetry"
A 6th bullet point should be added under "Troubleshooting/General", that specifies that Application nodes are generated from request and dependency telemetries only.

This information probably should also be added under "What is a component", because currently as designed, a component, is one that is not just a running app, but one that makes requests and/or has dependencies and this is what led m

[2020-01-24 16:05] shashishailaj commented on #46469
@cmgharris We thank you fr your time and patience with us. We are reaching out to the product team to get more clarification on this . I will update this thread once I have more information .

[2020-01-24 16:05] msangapu-msft commented on #46387
@johnheusinger Thank you for the feedback. This has been fixed in a recent update and the quickstart works as written.
#please-close

[2020-01-24 16:06] #46387 closed

[2020-01-24 16:08] NavtejSaini-MSFT commented on #46546
@wmengmsft Please check the feedback from the user and help us respond.
@leotsarev We have assigned it to our doc author for further review.

[2020-01-24 16:09] rialtus commented on #46740
I agree there is an difference between the two roles. However, the documentation page at https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-roles#role-template-ids has a list of Role Template IDs. That list has “Password Administrator” listed twice in the column “Azure portal display name” – once matched with the Graph displayName of “Password adminis

[2020-01-24 16:11] vhorne commented on #46350
@MikeWedderburn-Clarke
Hi Mike, could you please elaborate what your're looking for with #2? There is info in the article about rule processing order, so need to more about what exactly you're looking for.

[2020-01-24 16:15] vlado101 opened #46799 "Showing the mapping examples using Data Factory UI and not just JSON"
Hello,

Would it be possible to show how this would look like in the Azure Data Factory UI vs just showing JSON code? I am trying to work through an example of adding dynamic content to the mapping section in a copy activity and I am having trouble following how the above examples would be implemented.

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2020-01-24 16:20] WillParry commented on #46654
How long will it usually take for this to be clarified? I notice there are two other open issues on this document and one of them is a number of months old.

Also I'd really like to know if I was misunderstanding the documentation and how to use this extension. I do have a workaround, but this is by using the older schema which still works. I can't see from the PowerShell code, quite what the diff

[2020-01-24 16:22] erhopf commented on #46744
@jonmikeli - Can you clarify what's happening when you try to use this param? Can you share with us the output that you're getting from the service or any errors that you're receiving?

[2020-01-24 16:49] Adam-Goodwin commented on #31188
Been running into the same problem, switching from Windows 2016 to 2019 solved the issue

[2020-01-24 16:49] scottwojan opened #46800 ""This article discusses policy expressions syntax is C# 7" makes no sense"
"This article discusses policy expressions syntax is C# 7" makes no sense

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a90be78-63d0-8ee0-d1d6-a9280e2ba892
* Version Independent ID: 500c452d-372b-92a9-dfca-b2586669a9bf
* Content: [Azure API Management policy expressions](https://docs.microsoft.com/en-us/azure/api-man

[2020-01-24 17:06] jpconnock commented on #46730
Thanks for the feedback, @djsowa -- I'll update this article today.  I'll also run a scan through other articles to see if we use _az appconfig key list_ elsewhere and update those as well.

We sincerely appreciate your help!

[2020-01-24 17:19] BharathNimmala-MSFT commented on #46798
@rajrao Thank you for sharing your feedback, we will further evaluate this and get back to you at the earliest. Thanks

[2020-01-24 17:28] bandersmsft commented on #45769
@amberbhargava Will you please respond?

[2020-01-24 17:51] ccowden commented on #33750
Please update!

[2020-01-24 17:58] KrishnaG-MSFT commented on #46770
@boominathantradezap Glad to know that you have self resolved and hence closed the issue. Thanks for the update.

Just FYI, this azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions if any, or doc related reproduction required product issues, etc.) so in future if you share

[2020-01-24 17:59] SaurabhSharma-MSFT commented on #46556
@connerza You can use AzureServiceMSICredential for the same.  Please refer to [below](https://azure.github.io/azure-sdk-for-java/com/microsoft/azure/credentials/AppServiceMSICredentials.html) for details.

[2020-01-24 18:00] SnehaGunda commented on #46546
@leotsarev Thanks for pointing out, I submitted a PR to fix the LINQ example. the changes should be live today.

We will now close this issue.

#please-close

[2020-01-24 18:00] #46546 closed

[2020-01-24 18:01] mike-urnun-msft commented on #46647
@se7vanj We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-01-24 18:01] #46647 closed

[2020-01-24 18:04] KranthiPakala-MSFT commented on #46780
@Lonefish Thanks for the feedback! We have assigned the issue to the content author to investigate this and provide an update as appropriate.

[2020-01-24 18:11] GiftA-MSFT commented on #46794
@MonikaReddy-MSFT thanks for your feedback. Will look into this issue and get back to you shortly.

[2020-01-24 18:13] KranthiPakala-MSFT commented on #46799
@vlado101 Thanks for the feedback and bringing this to our notice. At this time we are reviewing the ask and will provide an update as appropriate.

[2020-01-24 18:14] #46629 closed

[2020-01-24 18:15] marc-gmail-towersap commented on #45872
Not sure why that would be an issue. these same images work locally and in an azure app service.

[2020-01-24 18:16] iainfoulds commented on #46629
This doc has been updated to show the latest portal UI, and give an indication that you may need to scroll to the side to see all the available menu options at the top of the _Users_ window. This doc update should publish live later today.

[2020-01-24 18:29] miaojiang commented on #41005
Please see the reference here: https://docs.microsoft.com/en-us/rest/api/apimanagement/2019-01-01/subscription/createorupdate

[2020-01-24 18:36] jmoralesv commented on #32504
I'm also a newbie with Azure Service Bus and lacking of examples in the documentation is a very bad decision. It will be a year since this feedback was added and it looks like it's hard for the Azure docs team to just add some examples here.

[2020-01-24 18:42] Poolshark314 commented on #46142
Hawkbox, we are having the exact same issue where we are using Microsoft DNS on-prem and it is registering A records dynamically, but no PTR records show up. I wish there was more documentation or even a mention of how to get this working. The only thing we saw that would do it is if we set the IP WITHIN the VM, it would register the PTR record, but I have read that modifying the network settings

[2020-01-24 18:46] bandersmsft commented on #40519
@KrishnaG-MSFT Will you please reassign to the enginnering team? I've got @torfulle in contact in email with the enginnering team so that they can address this issue.

[2020-01-24 18:52] potato-enthusiast commented on #46756
Thank you for clearing that up. It is great news by the way. My team was
under the impression that the workload groups percentages remained static
with changes in DWU it was introducing additional challenges.

Best,
potato-enthusiast

On Fri, Jan 24, 2020 at 10:54 AM NavtejSaini-MSFT <notifications@github.com>
wrote:

[2020-01-24 18:55] tfitzmac commented on #46322
To take actions in another subscription, the account needs to be a member of that domain. Depending on your scenario, you could look at either [Managed Applications](https://docs.microsoft.com/en-us/azure/azure-resource-manager/managed-applications/) or [Azure Lighthouse](https://docs.microsoft.com/azure/lighthouse/) for other ways to manage resources in other subscriptions.

[2020-01-24 18:55] tfitzmac commented on #46322
#please-close

[2020-01-24 18:55] #46322 closed

[2020-01-24 19:00] spelluru commented on #32504
#reassign: axisc

[2020-01-24 19:04] kknight-valorem opened #46804 "Creating a VM from a managed disk isn't supported, need to create from an image"
need to update copy a disk instructions to create an image instructions
then the "+ Create VM" lights up on the image so that you may create a VM

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d84bf446-324c-da0c-c099-b352849a696d
* Version Independent ID: c55004b7-c4f5-290f-d5a7-be39bf961ec7
* Content: [Create a Window

[2020-01-24 19:09] SnehaGunda commented on #42990
@sujayvsarma

Apologies for the long delay but here are some fixes and responses to your questions:

1. We have a doc on different ways to query data from Table API (https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-query-table) and the LINQ query in the doc wasn't accurate, we fixed it in the above PR.

2. Our quickstart docs (for example https://docs.microsoft.com/en-us/azure/cosmos-db/c

[2020-01-24 19:30] #46544 closed

[2020-01-24 19:31] #46640 closed

[2020-01-24 19:31] #46715 closed

[2020-01-24 19:31] #46726 closed

[2020-01-24 19:31] hawkbox commented on #46142
They've been going to fix this "Real soon now" for 2 years. I ended up having to run scripts to register the ptr records, messing with the IP in the VM is a really bad idea. I learned that the hard way.
At this point I doubt they will ever bother to make this work properly.

[2020-01-24 19:32] hawkbox commented on #46142
You mean like I did 2 years ago and it was going to get fixed?

[2020-01-24 19:50] Karishma-Tiwari-MSFT commented on #46277
Thanks @northtyphoon @dlepow
@BenjaminHerbert Did that help answer your question?

[2020-01-24 19:54] markjbrown commented on #46491
Have this in a PR. https://github.com/MicrosoftDocs/azure-docs-pr/pull/101927

Thanks for raising this.

#please-close

[2020-01-24 19:54] #46491 closed

[2020-01-24 20:00] roygara commented on #45283
@xiangwu-ms Thanks for reaching out and helping us find areas to improve our docs, we appreciate it. :)

We've made some elaborations to the doc and they'll be live later today.

Accordingly, I'll close this out.

#please-close

[2020-01-24 20:00] #45283 closed

[2020-01-24 20:02] cmcapellan opened #46807 "Don't see explanation of "Replication" option in "Storage service" section under "Volume""
I know Azure changes every 5 minutes, but don't see any explanation of the Replication option that appears in the Volume menu.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b217d92-d610-5339-f6c6-d444609e6e98
* Version Independent ID: 22cd1277-6b37-4265-deb0-bf1956d219b8
* Content: [Manage volumes by using Azure NetA

[2020-01-24 20:05] Karishma-Tiwari-MSFT commented on #46743
@Decker-Russell The scope for these doc issues is to help identify gaps and issues with the documentation, please provide the link to the documentation you are following.

Else, if you are looking for help with debugging issues I would suggest opening a thread on [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureContainerServices) or [Stack Overflow communities](https://s

[2020-01-24 20:09] Karishma-Tiwari-MSFT commented on #46721
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-01-24 20:15] clambert opened #46808 "Workspace has to be created before you have access to data connectors"
Workspace has to be created before you have access to data connectors. It was very confusing because I had trouble figuring out how to make my azure portal match what I was reading. Please update the documentation to include the workspace info before the data connectors

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f

[2020-01-24 20:16] lexykassan opened #46809 "Databricks failed to sync with DevOps due to authorization code or refresh token expiry"
I'd had the integration between Azure Databricks and Azure DevOps Git working. Now all synced notebooks are showing "Git: Failed" with an error message of "Error while syncing Git history: {"error_description":"AADSTS70008: The provided authorization code or refresh token has expired due to inactivity. Send a new interactive authorization request for this user and resource." There was no means of

[2020-01-24 20:20] KingdomOfEnds commented on #43477
@gregorvilkner , @Alberto-Vega - We've updated https://docs.microsoft.com/en-us/azure/time-series-insights/time-series-insights-manage-reference-data-csharp with a C# sample - you can use it as well. Thanks!

[2020-01-24 20:20] SadiqhAhmed-MSFT commented on #46758
@torfulle Thanks for the feedback. We will have this review by our content author and update as appropriate.

@rothja Could you please review this request on adding the information about AAD tenant/subscription limits per account as discussed above?

[2020-01-24 20:23] TravisCragg-MSFT commented on #46791
@sunilprabha If you hit your server directly (without the app gateway) with the /images path, do you receive the default page? If not, you will need to configure your web server to server the default page in that scenario.

You can also configure a [URL redirect](https://docs.microsoft.com/en-us/azure/application-gateway/redirect-overview) to redirect https://a1.b.com/images to https://a1.b.com/im

[2020-01-24 20:26] Karishma-Tiwari-MSFT commented on #46769
Please follow the below documents and let me know if that helps.
https://kubernetes.io/docs/tasks/tls/managing-tls-in-a-cluster/#create-a-certificate-signing-request

Basically, you will have to first generate the CSR(certificate signing request)
https://kubernetes.io/docs/tasks/tls/managing-tls-in-a-cluster/#create-a-certificate-signing-request

Next you would need to create the  Certificate Sign

[2020-01-24 20:30] TravisCragg-MSFT commented on #46792
@yashas850039 can you post a link to the doc you are following?

[2020-01-24 20:30] kjanss opened #46810 "missing rights for service principal"
when deploying using an internal azure lb, the creation of the load balancer fails with an 403 unauthorized error. When removing the annotation so an external ip is assigned, there is no problem. this is resolved after adding the k8s cluster sp as an owner role on the AKS node subnet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2020-01-24 20:35] Mike-Ubezzi-MSFT commented on #8416
@ikflc You can also do the following to get more helpful information:

Once you have the current log open, try restarting the Audit then refresh the log, and there should be a more verbose / text-based entry in there that will likely be more helpful.

[2020-01-24 20:37] b-juche commented on #46807
Cc: @lichunli-ms, @ntap512

As I understand, the Replication functionality is currently in private preview only.  Therefore Azure NetApp Files documentation does not include it yet.   Please contact Product Manager @lichunli-ms for details about the Replication functionality.

[2020-01-24 20:37] Poolshark314 opened #46811 "Reverse dynamic PTR records don't register for private IPs"
Using Microsoft DNS servers on-prem and configured our Azure private vnets to use them. Dynamic A records are working fine, however PTR records are not created.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7b1b215-0434-145b-cd11-95d0f32bc015
* Version Independent ID: d328a868-a151-1985-2b62-f3884f7ad76c
* Content: [

[2020-01-24 20:38] shashankkr opened #46812 "Long Polling and Auto Scaling"
All Service Bus triggers are long-polling triggers. This description means that when the trigger fires, the trigger processes all the messages and then waits 30 seconds for more messages to appear in the queue or topic subscription.

Does this mean that all the messages will be processed in parallel? If the logic app keeps getting messages then what will happen in the next trigger poll (the previo

[2020-01-24 20:38] FrankHu-MSFT commented on #46761
@Norrch2 can you clarify what you're asking? I'm not sure I understand.

You said:

Where does it say that you can exchange any tokens for another token? This is saying that if you pass an access token through to b2c, you'll get the same external idp access token in the JWT you receive back from the b2c tenant.

You're not getting any tokens, you're only getting the same token being passed on the

[2020-01-24 20:40] IEvangelist commented on #46623
You must first [request access to the container registry](https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/deploy-form-recognizer-on-container-instances#request-access-to-the-container-registry). #please-close

[2020-01-24 20:40] #46623 closed

[2020-01-24 20:42] Norrch2 commented on #46761
Sure Frank,

Currently IEF only passes back an ID_token to the application that calls it. The documentation states that we can have an access token passed back to the application by following the steps in the article. It also states that this is compatible with an OpenIDConnect or OAuth provider. I noticed that the login-nonInteractive profile is an openIdConnect. I attempted to get the access tok

[2020-01-24 20:44] gsnyder87 commented on #46432
after using the Add-AzureADMSFeatureRolloutPolicyDirectoryObject cmdlet, do you see anything in the applies to property of the Get-AzureADMSFeatureRolloutPolicy results? I added a group to the seamlessSso rollout policy and still do not see anything in the results.

[2020-01-24 20:45] tfitzmac commented on #46758
#please-reassign:tfitzmac

[2020-01-24 20:45] tfitzmac commented on #46758
#reassign:tfitzmac

[2020-01-24 20:46] tfitzmac commented on #46758
I am trying to confirm that subscriptions are unlimited per AAD tenant.

[2020-01-24 20:57] yashas850039 commented on #46792
https://docs.microsoft.com/en-us/azure/cost-management-billing/costs/assign-access-acm-data

https://docs.microsoft.com/en-us/azure/cost-management-billing/costs/cost-analysis-common-uses

https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/billing-subscription-transfer

[2020-01-24 20:57] iainfoulds commented on #46458
Thanks for the feedback, @kyriakopoulosd. The NFC reader must be one that is supported by your security key, not necessarily the Azure service. As such, there isn't a supported list of NFC readers. A list of known-compatible security keys is found in that same article at https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-authentication-passwordless#fido2-security-keys

[2020-01-24 21:07] rstorgaard opened #46813 "Please add screenshot and description showing where to find the payout summary in the Partner Center UI"
Not clear where to find the payout and transaction history UI. Most marketplace partners will be looking for it somewhere in the commercial marketplace section

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0d6140f-656f-cbb1-e7f6-c35d44b55d5f
* Version Independent ID: d8ceecca-4ed3-931e-bf3a-76524e1d1249
* Content: [C

[2020-01-24 21:08] connerza commented on #46556
@saurabhsensharma That link takes me to a 404. I did however find that I could use `AzureCliCredentials`

[2020-01-24 21:08] cmcapellan commented on #46807
Hi Julie, we are not in any private previews for NetApp Files that I am aware of. Is it possible this feature went GA already?

[2020-01-24 21:12] mcbsys opened #46814 "Need instructions on running Python script under Linux"
The instructions say, "From the download location (usually the Downloads folder), right-click the executable or script and run it with Administrator credentials." This doesn't work from a Linux command line. Please update to include Linux instructions, e.g.

1. Upload the Python script to a compatible Linux server.
2. chmod +x restore.py
3. ./restore.py

---
#### Document Details

⚠ *Do not edit t

[2020-01-24 21:12] netresults-scott commented on #43961
For anyone who was unable to switch on the Security Defaults due to 'Classic Policies' - even after locating and removing the Classic Policies that were present - try again now.

I was advised earlier this week that a bug had been ID'd with regards to this, and to try again today (Friday Jan 24, 2020).

On doing so today, I was able to enable Security Defaults without issue.

[2020-01-24 21:17] b-juche commented on #46807
Please contact Product Manager @lichunli-ms about the this functionality.

[2020-01-24 21:19] ghogen commented on #46794
Please enter this at Dev Community
https://developercommunity.visualstudio.com/spaces/8/index.html
This is an issue with the extension.

[2020-01-24 21:19] davidsmatlak commented on #31198
I submitted a fix for this issue and when it merges, this issue will automatically close.

[2020-01-24 21:20] ghogen commented on #46794
#please-close

[2020-01-24 21:20] #46794 closed

[2020-01-24 21:24] rohinkoul commented on #46142
You can use [Azure DNS private zones](https://docs.microsoft.com/en-us/azure/dns/private-dns-overview) if you need reverse DNS lookup in a virtual network. PTR/A records will be automatically registered for the VM if you are using Azure DNS private zones autoregistration feature.
@TravisCragg-MSFT : If the requirement is to enable dynamic DNS in vnet via Azure DHCP then please move this item to SD

[2020-01-24 21:27] lichunli-ms commented on #46807
@cmcapellan Hi Carlos, as now of now Azure NetApp Files does not provide any public feature for replication, therefore there is no documentation mentioning it. The feature is on our road map and you'll see documentation for it once it's in _public_ preview. If you have any other question, please feel free to contact anffeedback@microsoft.com

[2020-01-24 21:28] TravisCragg-MSFT commented on #46800
@scottwojan can you post a link to the doc you are following?

[2020-01-24 21:30] MarileeTurscak-MSFT commented on #46502
I have reached out to the product team to ask. I don't think the functionality would be different as otherwise that probably would have been noted, but hopefully someone can confirm.

[2020-01-24 21:32] hawkbox commented on #46142
I am using ADDNS with Windows DNS servers with Windows servers in Azure and VMware. Dynamic DNS works fine, if I'm not running a VM in Azure. I'm not running VMs only in Azure so Azure DNS private zones by their own definition will not work.

[2020-01-24 21:35] MarileeTurscak-MSFT commented on #46552
I have reached out to the product team to check. I know sometimes there are limits like this on premises but I'm not sure if the portal has any documented limitation.

[2020-01-24 21:35] TravisCragg-MSFT commented on #46795
@deeksha-microsoft If you need further assistance with this issue, can you post a link to the doc you are following?

[2020-01-24 21:40] Karishma-Tiwari-MSFT commented on #46561
I have created a PR with the update, changes will be live shortly.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/102286
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-24 21:40] #46561 closed

[2020-01-24 21:42] SaurabhSharma-MSFT commented on #46569
@trevor-schmidt There is no API endpoint available which provides the detailed like this.  Please post this as a feedback on [Uservoice](https://feedback.azure.com/forums/34192--general-feedback). This will allow the community to up-vote and for the product team to include into their plans. "This Product" button in at the bottom section of the document now to take you directly to the appropriate f

[2020-01-24 21:43] TravisCragg-MSFT commented on #46811
@Poolshark314 Can you give some more details about what you are doing? Are you using the default DNS servers in a VNET (168.63.129.16) or custom DNS servers, or a private DNS zone?

[2020-01-24 21:45] TravisCragg-MSFT commented on #46789
@qhaitoNNV Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-01-24 21:50] SaurabhSharma-MSFT commented on #46556
@connerza sorry my bad. Here is the correct [link](http://azure.github.io/ref-docs/java/com/microsoft/azure/credentials/AppServiceMSICredentials.html).

[2020-01-24 21:51] pete1854 commented on #32884
Hi,
Have you made any progress having the add-on trigger SSO in the aforementioned scenario (i.e. JSD added post Jira-installation)?

[2020-01-24 21:51] FrankHu-MSFT commented on #46734
hey @patternpaul you're absolutely right there are some issues here that need to be addressed. We're looking into this and making a change now. Please let us know your thoughts on this wording :

[2020-01-24 21:51] MarileeTurscak-MSFT commented on #46551
Per my understanding this should only work for soft-deleted users. As it shows in the screenshot, users are permanently deleted after 30 days and there is no way to restore those ones.

CC: @curtand

[2020-01-24 21:51] #46551 closed

[2020-01-24 21:52] curtand commented on #46552
This answer is probably the same as in the “bulk create” article, which is https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/users-bulk-add. it says “Each bulk activity to create users can run for up to one hour. This enables bulk creation of at least 50,000 users.”

I believe that’s a restriction in bulk activities in general. Krinstina can comment if the number of user i

[2020-01-24 21:54] MicahMcKittrick-MSFT commented on #38116
SSE does not apply to the Temp disk as it is not a managed disk. The Temp disk is a local storage disk located on the same hardware that is hosting the VM itself in the data center.

ADE does not apply to the temp disk.

If you want to encrypt the temp drive, you need to do it from within the OS itself. But seeing as this disk is temporary, if you redeploy the VM or it gets moved to a new host, yo

[2020-01-24 21:56] curtand commented on #46551
@aleazofeifam
Marilee is quite correct. This is why in the documentation I don't mention "hard" and "soft" deletes. The hard delete is PERMANENT. A described in https://docs.microsoft.com/azure/active-directory/fundamentals/active-directory-users-restore

[2020-01-24 21:57] davidsmatlak commented on #31199
#in-progress

[2020-01-24 22:02] SaurabhSharma-MSFT commented on #46531
@gomnet can you please provide a code snippet with the request parameters for which you are getting this error.

[2020-01-24 22:03] #46458 closed

[2020-01-24 22:03] himanshusinha-msft commented on #46464
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-01-24 22:06] b-juche commented on #46807
Product manager responded to the question.

#please-close

[2020-01-24 22:06] #46807 closed

[2020-01-24 22:14] normesta commented on #46297
@jameserra. Thank you for bringing that to our attention. The article has been updated. Those changes will appear live shortly.

[2020-01-24 22:14] normesta commented on #46297
@please-close

[2020-01-24 22:15] normesta commented on #46297
#please-close

[2020-01-24 22:15] #46297 closed

[2020-01-24 22:20] MarileeTurscak-MSFT commented on #46698
Thanks for this feedback! I've created a work item to add this.

[2020-01-24 22:20] #46698 closed

[2020-01-24 22:30] Karishma-Tiwari-MSFT commented on #46479
We generally write these docs to utilize the Azure Cloud Shell. But I understand your concern, we will share this feedback with the doc-owner to see if this is something we can include in the doc.
In the meantime, this issue will stay with this doc for others to reference.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter,

[2020-01-24 22:30] #46479 closed

[2020-01-24 22:31] KranthiPakala-MSFT commented on #46809
@lexykassan Thanks for reaching out to us. At this time it does not look like you are referring to a document content, but to a specific scenario. If that's the case we request you to please post your question on [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDatabricks) and other forums ([stackoverflow](https://stackoverflow.com/questions/tagged/azure-databricks)), we have

[2020-01-24 22:34] MarileeTurscak-MSFT commented on #46762
Thanks @pschaeflein .

I agree with you. The article uses the new name in some spots and the old name in others. I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/102298

[2020-01-24 22:34] #46762 closed

[2020-01-24 22:35] normesta commented on #41912
Hi @svangeti - Thx for the question. The feature is not yet supported for Data Lake Storage Gen2 - https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-known-issues#support-for-other-blob-storage-features.

[2020-01-24 22:35] normesta commented on #41912
#please-close

[2020-01-24 22:35] #41912 closed

[2020-01-24 22:40] rohinkoul commented on #46142
@hawkbox Looks like you have enabled your on-prem DHCP server to register DNS records on behalf of your Windows Server machines. This strategy will not work in the cloud. Azure DHCP can't contact your on-prem DNS servers (or even your DNS server in vnet) and register records there. It's unlikely that such a feature will be enabled in the foreseeable time. There is another way of achieving this i.e

[2020-01-24 22:47] GregUzelac commented on #46319
@CarlRabeler Hi Carl. It's not that I need a certain number of I/O ops / sec. It's that the documentation seems unclear about the units.

I stumbled upon this while I was researching DTU usage and monthly costs of a multi-tenant web app (has an Azure SQL DB per tenant).

[2020-01-24 22:50] Karishma-Tiwari-MSFT commented on #46804
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-24 22:51] Karishma-Tiwari-MSFT commented on #46797
Thanks for the question. We are currently investigating and will update you shortly.

[2020-01-24 22:51] hawkbox commented on #46142
Yes, I assumed they would not fix it. But Azure DNS private zones are being wildly misrepresented as a solution to this problem.  I have hacked solutions together already. I'm just incredibly unimpressed with how half assed Azure is about Enterprise domains.

[2020-01-24 22:51] Karishma-Tiwari-MSFT commented on #46810
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-24 22:53] ivratche opened #46816 "Azure Resource Discovery"
The following statement is made above: "Only owners of each resource, resource group, and subscription will be able to discover them inside Privileged Identity Management"
However, the discovery page only supports searching for a management group or subscription. Can someone clarify or fix the statement?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-01-24 22:56] mike-urnun-msft commented on #46812
@shashankkr Thank you for your feedback! We will review and update as appropriate.

[2020-01-24 22:57] SaurabhSharma-MSFT commented on #46614
@tdefise  Security center generates these alerts by advanced detection which is enabled which you opt for Standard Pricing tier. Also, please refer to [Alerts for Azure network layer](https://docs.microsoft.com/en-us/azure////security-center/alerts-reference#alerts-azurenetlayer) for different alerts types and the resources involved.

[2020-01-24 22:57] SaurabhSharma-MSFT commented on #46522
@guyetoro We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-01-24 22:57] #46522 closed

[2020-01-24 22:58] MarileeTurscak-MSFT commented on #46590
@truekonrads I checked the link and the page still works. It's just that certain features are deprecated in it. You can still add, cancel, and manage subscriptions through that account.azure.com interface.

![image](https://user-images.githubusercontent.com/13383753/73110040-d1537180-3eb9-11ea-8f0e-9f90f8f58c56.png)

I'm closing this out but if you have further suggestions feel free to tag me in t

[2020-01-24 22:58] #46590 closed

[2020-01-24 22:59] jpconnock commented on #46730
I've found no other articles using _az appconfig key_.  I've submitted a PR to amend this article using @djsowa 's suggestion.  Thanks again!  I think I've missed the Friday publish, so the changes may not appear on the site for a few days.  Thanks for your patience.

If you have further concerns, please re-open this Issue or open a new one -- we're happy to receive your feedback.

#please-close

[2020-01-24 22:59] #46730 closed

[2020-01-24 23:04] tamram commented on #38116
#reassign: msmbaldwin

[2020-01-24 23:21] #46748 closed

[2020-01-24 23:22] Karishma-Tiwari-MSFT commented on #46666
From my understanding, it should mean all pods in that node can Read and Write to the volume and not a single pod. Let me confirm on this with internal team and share update here.

[2020-01-24 23:26] femsulu commented on #46813
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-01-24 23:29] femsulu commented on #46814
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-01-24 23:38] rohinkoul commented on #46142
@hawkbox Have you explored Azure AD domain services? https://docs.microsoft.com/en-us/azure/active-directory-domain-services/synchronization#synchronization-from-on-premises-ad-ds-to-azure-ad-and-azure-ad-ds

[2020-01-24 23:49] dannygovier commented on #43244
Since I found this while researching my own similar problem, I thought I would share how I was able to solve this by using a nested template and the base64ToString function. I have a secret in a key vault that contains a base64 encoded rsa key. To get the correct value in the deployment I use this technique.

In the parameters of the parent template I have a Parameter:

            "type": "string

[2020-01-24 23:50] MarileeTurscak-MSFT commented on #46684
@BenDutton it depends on what you mean by bulk. You can add multiple at a time to the assignments but you still have to click through each one, it seems.

![image](https://user-images.githubusercontent.com/13383753/73111819-a91b4100-3ec0-11ea-9868-a6065993cd01.png)

![image](https://user-images.githubusercontent.com/13383753/73111917-1b8c2100-3ec1-11ea-918b-e5c2f43d73e0.png)

You can hit the check

[2020-01-24 23:56] TravisCragg-MSFT commented on #46665
@shawnolson-fp thanks for the feedback. For private peering, you can use a private ASN to connect with. you can [read more about the difference Here](https://networklessons.com/bgp/bgp-private-and-public-as-range).

I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-01-24 23:57] KranthiPakala-MSFT commented on #46630
Hi @cpyne Thanks for reporting this to us. I have confirmed with the HDI engineering team about this and they have confirmed it should be HBase 2.0.2.

I have submitted a PR to update the doc to reflect HBase 2.0.2 and engineering team is working to fix this in UI.

[2020-01-24 23:57] #46630 closed

[2020-01-25 00:05] ronortloff commented on #46756
#please-close

[2020-01-25 00:05] #46756 closed

[2020-01-25 00:06] MarileeTurscak-MSFT commented on #46808
@clambert thanks for this feedback! I made a pull request to add a note about this in the instructions and am passing your feedback along to the content author, @rkarlin , to update other relevant documentation. https://github.com/MicrosoftDocs/azure-docs-pr/pull/102314

[2020-01-25 00:06] #46808 closed

[2020-01-25 00:07] MarileeTurscak-MSFT commented on #46684
The functionality above using the checkmarks and selecting several usernames seems to be the extent of bulk assignment. Hope this answers your question.

I'm closing this out but if you have further questions feel free to tag me in the comments and I will gladly continue the discussion.

[2020-01-25 00:07] #46684 closed

[2020-01-25 00:20] tfitzmac commented on #46103
Thanks for this feedback. The article has been updated.

[2020-01-25 00:20] tfitzmac commented on #46103
#please-close

[2020-01-25 00:20] #46103 closed

[2020-01-25 00:28] KranthiPakala-MSFT commented on #46648
@gursethi Truncate option is not available in COPY activity, Settings specific to Azure Synapse Analytics are available in the Settings tab of the sink transformation of Data Flow activity.

Please see below image:
![image](https://user-images.githubusercontent.com/50185738/73113018-52186a80-3ec6-11ea-8a57-03bff7790e28.png)

I believe you are referring to this section: _[Mapping data flow properti

[2020-01-25 00:29] KranthiPakala-MSFT commented on #46648
@gursethi
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2020-01-25 00:29] #46648 closed

[2020-01-25 00:40] Karishma-Tiwari-MSFT commented on #46699
Can you please share on which step are you seeing the issue and what is the error message you are seeing? Thanks

[2020-01-25 00:47] SnehaGunda commented on #42990
#please-close

[2020-01-25 00:47] #42990 closed

[2020-01-25 00:51] tfitzmac commented on #46102
I have added a CSV for this page at [https://github.com/tfitzmac/resource-capabilities/blob/master/region-move-support.csv](https://github.com/tfitzmac/resource-capabilities/blob/master/region-move-support.csv).

[2020-01-25 00:52] tfitzmac commented on #46102
#please-close

[2020-01-25 00:52] #46102 closed

[2020-01-25 01:12] Grace-MacJones-MSFT commented on #46146
Hi Jeff ,thanks for your patience. I reached out to the engineering team internally and I am told a broad update will be going out soon to clearly address the Azure Gov IP dependencies.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-25 01:12] #46146 closed

[2020-01-25 01:27] mike-urnun-msft commented on #46643
Sorry, @gtrennert - When you say it's not working, what exactly is the specific issue that you're pointing out though? I'm just trying to understand the exact issue that you're pointing out in your feedback.

[2020-01-25 01:27] divyaswarnkar commented on #43566
@ToMakeSense running status of Logic Apps in Log Analytics indicate that the workflow completed events have not reached your workspace. Thats the reason why you cant see tracked properties. Now the question is why the data has not reached ? For that we may have to check if there was any incident in that time frame that impacted you, or if there was some other issue that cause this. Are you seeing

[2020-01-25 01:34] JonathanWilbur commented on #46562
I think this answers my question, just for clarity, you are saying that:

- A login event, but not a TCP connection, un-pauses the server.
- Once unpaused, the server will not pause again until said authenticated TCP connection is terminated.

If that is correct, and hence my understanding is correct, you may close this issue. Thanks for your help!

[2020-01-25 01:45] Grace-MacJones-MSFT commented on #46566
Hello @maxal1917,   I don't believe so but please keep in mind that DNSSEC remains on Azure Networking's  long term roadmap. Based on [this response](https://feedback.azure.com/forums/217313-networking/suggestions/13284393-azure-dns-needs-dnssec-support) from the Azure networking engineering team it is  suggested that you consider evaluating a 3rd party DNS hosting solutions that provide this feat

[2020-01-25 01:45] #46566 closed

[2020-01-25 01:47] scottwojan commented on #46800
https://docs.microsoft.com/en-us/azure/api-management/api-management-policy-expressions

[2020-01-25 01:50] Poolshark314 commented on #46811
We have dynamic DNS enabled over GPO and changed the VNET DNS settings to use the custom on-prem DNS. A records register fine, but no PTR records get created.

[2020-01-25 02:01] gtrennert commented on #46643
I'm running the function (HttpTrigger) and there is no log message appearing

[2020-01-25 02:06] FrankHu-MSFT commented on #46761
@Norrch2 could you provide a link to the noninteractive profile? Noninteractive to me sounds like it's following the client credential flow.

[2020-01-25 02:18] MohitVerma-MSFT commented on #46816
Hello @ivratche ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-25 02:20] Grace-MacJones-MSFT commented on #46060
Hi @mossywell,  upon further review we feel your feedback would be best received by the doc author to determine if an update to the current doc is necessary, or to create a new doc if they align with the feedback.

[2020-01-25 02:21] femsulu commented on #46160
@KonTheCat
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-01-25 02:21] #46160 closed

[2020-01-25 02:25] rbrto commented on #24942
Same Issue here when I try to upgrade node count from 3 to 4 using terraform

**Output Terraform**
Error: Error updating Default Node Pool "svl-development" (Resource Group "svl-development-rg"): containerservice.AgentPoolsClient#CreateOrUpdate: Failure sending request: StatusCode=400 -- Original Error: Code="AgentPoolAPIsNotSupported" Message="AgentPool APIs supported only for clusters with VMSS

[2020-01-25 02:25] FrankHu-MSFT commented on #46545
@ticoncei  thanks for letting us know about this, however we believe that this is documented in the article and as such will be closing out this git issue, please let me know if there are any other concerns in regards to this, thanks

[2020-01-25 02:36] KonTheCat commented on #46160
Hello. This is still a little bit unclear. Can you please let me know what version of the relevant PowerShell module will work to configure replication to the storage accounts?

Also, in the below part of the article where $VM3 is configured, it would be valuable to point out what module version is required to make this work. My whole problem is that I was following this article and the valid para

[2020-01-25 02:36] FrankHu-MSFT commented on #46754
@RMacfarlane can you clarify what you mean by this? You're saying that the personal account can hit a tenant and get access to the scope? Are you sure that this personal account isn't in the AAD Tenant already?

In addition to that, it wouldn't make alot of sense to be able to get an access token to ARM from the common endpoint as that's a multi-tenant endpoint. The ARM Resource needs a tenant oth

[2020-01-25 02:39] jeevansd commented on #32884
@jshomphe @mandiaya @pete1854 We are completing our development and testing for JIRA service Desk customer portal. We are planning to release this new version in the next 2 weeks or so. So please keep an eye here and I will update this item when we publish the new plugin.

[2020-01-25 02:51] niklarin opened #46820 "Some GA regions are missing on this page"
For instance, Norway and Switzerland regions. It would be great if this page is updated whenever the region page is (https://azure.microsoft.com/en-us/global-infrastructure/regions/).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a788e4-0130-73f2-d985-6fc3aec77974
* Version Independent ID: a9f4ec3f-f0a3-b050-020b-f4

[2020-01-25 03:01] MohitVerma-MSFT commented on #46820
Hello @niklarin ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-25 03:14] jeevansd commented on #46426
@elvirk I Am the author of the article. Yes, we recommend to create multiple instances of the AWS application mapping to every AWS account. That way you can grow in accounts and roles in the future. One AWS app with multiple accounts does not scale in the future. So the recommendation.

[2020-01-25 03:27] MohitVerma-MSFT commented on #46631
Hello @shankurmahajan ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-25 03:28] MohitVerma-MSFT commented on #46687
Hello @boethius ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-25 03:30] MohitVerma-MSFT commented on #46688
Hello @pyephyoeaung ,

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-01-25 03:30] #46688 closed

[2020-01-25 04:14] sujayvsarma commented on #42990
#reopen

This is NOT what I asked for. The updates you made do not cover the questions I asked, or explain HOW to do it using the SDK.

To rephrase, I want the SDK documentation to cover the concepts used [here](https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-query-table).

Also, the SDK documentation needs to be severely overhauled to explain how to do things instead of simply "download

[2020-01-25 04:29] mike-urnun-msft commented on #46377
@nofield Sorry for the late reply.  Although, Key Vault reference based connection isn't currently supported in local development at this time, this is definitely possible when configured on Azure. Please review this repo for the sample that I created for this scenario in case it's helpful.

Since this channel is more for driving improvements towards MS Docs and we haven't determined any changes f

[2020-01-25 04:29] #46377 closed

[2020-01-25 04:32] ram-msft commented on #46679
@wukun2015 Since this channel is for driving improvements towards MS Docs,
Please raise an issue in the following link the product team then check this.
https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues

[2020-01-25 05:26] tej-rana commented on #34451
@AjayKumar-MSFT  Not sure what VNet integration means, but for **Linux** containers **PORT** is still not working.  This is what I see when setting PORT and WEBSITES_PORT. `- docker run -d -p 0:8080 --name tiny-api_api_3_dc7b3363 -e PORT=5000 -e WEBSITES_ENABLE_APP_SERVICE_STORAGE=false -e WEBSITES_PORT=5000 -`
I'm running a dotnet core app and I suppose I can set the port just like the example do

[2020-01-25 05:33] mike-urnun-msft commented on #46379
Thanks, @pragnagopa! I've created a [PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/102328) that adds the sample that you have provided above. Once merged, the changes should live within a few hrs.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-01-25 05:33] #46379 closed

[2020-01-25 07:42] mike-urnun-msft commented on #46643
Thanks, @gtrennert! If you're running your HttpTriggered function but keep getting the `No new trace in the past x min (s).` message in the activity log window, then that's certainly an issue. Did you see if the logs are also absent in the Applications Insights portal too? If so, would you be able to send me an email with your subscription ID as well as the URL of this issue at `azcommunity at mic

[2020-01-25 08:20] jonmikeli commented on #46744
Hi @erhopf,

Sure.
What happens is that no matter the value of that property, transcripts are stored in another storage.
You will find an example below:

[code]

In addition, is there any plan to add a property allowing to set a folder of audio files instead of one single blob file?
Actually, that was what I expected from `recordingsUrl ` until I realized I had misunderstood and that the property

[2020-01-25 09:52] DavidDeSloovere commented on #45062
The version in the host.json file indicates the version of the host.json schema itself. Although tied to Functions runtime, it's not the same. host.json v1 is for Functions runtime v1, however host.json v2 is for Functions runtime v2 and v3.

[2020-01-25 10:03] andyjballgit opened #46822 "Does FrontdoorWebApplicationFirewallLog only log if blocked ?"
have set this up to both Storage Accounts and Log Analytics and I only get log data if the request is blocked

thanks in advance

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de4370d8-9497-7fc4-1fd0-8c88b810959e
* Version Independent ID: 6f32101e-de15-a63b-f5cb-893e37ac407f
* Content: [Azure Web Application Firewall m

[2020-01-25 10:09] MohitVerma-MSFT commented on #46822
Hello @andyjballgit ,
Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-25 10:21] LowerKees opened #46823 "First sentence of the article"
The first sentence of the article reads:
'Active geo-replication is Azure SQL Database feature that allows you to create readable secondary databases of individual databases on a SQL Database server in the same or different data center (region).'

I think this could be improved by adding the word 'an' in 'Active geo-replication is an Azure SQL Database feature...'. The 'SQL Database server' could

[2020-01-25 10:36] sujayvsarma commented on #46431
Running the portal with F12 (Developer Tools) open, told me the following:

- The data on the portal comes from:
https://s2.billing.ext.azure.com/api/Billing/RemainingCredits

But the regular Bearer token does not work with this API. There is something else going on behind the scenes which is not visible with an F12 view.

So question is, will there be an Azure API wrapper for whatever https://s2.

[2020-01-25 12:14] MohitVerma-MSFT commented on #46823
Hello @LowerKees ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-25 12:18] r3dr4gon commented on #46464
Seems like for ADL gen2 the ARM template look like:

"captureDescription": {
          "enabled": true,
          "encoding": "Avro",
          "destination": {
            "name": "EventHubArchive.AzureBlockBlob",
            "properties": {
              "storageAccountResourceId": "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageName'))]",
              "blobContainer": "[to

[2020-01-25 12:18] #46464 closed

[2020-01-25 12:39] govi2010 commented on #20701
@mdgattuso  any update?

[2020-01-25 12:50] sander1095 commented on #20701
@govi2010

Take a look here https://docs.microsoft.com/en-us/azure/cdn/cdn-map-content-to-custom-domain

In my case, I want to be able to go example.com instead of www.example.com .

I think you can use A records to solve this problem :)

[2020-01-25 14:19] zakibenz commented on #46531
+1

[2020-01-25 14:22] zakibenz commented on #46531
I am running into the same issue (I can validate Id_token sgnature but not access_token).
Here is my code:

`import base64
import jwt
from cryptography.hazmat.primitives.asymmetric.rsa import RSAPublicNumbers
from cryptography.hazmat.backends import default_backend
from cryptography.hazmat.primitives import serialization

def ensure_bytes(key):
    if isinstance(key, str):
        key = key.encode

[2020-01-25 14:28] zakibenz commented on #46531
I've checked that I am using right endpoints (v2.0).
I am using the right **jwks_uri**  from metadata url:

https://login.microsoftonline.com/{tenant}/.well-known/openid-configuration?appid=<your-app-id>

I've also checked I am using the right key corresponding to the right **kid**

[2020-01-25 14:33] govi2010 commented on #20701
@sander1095 I have wildcard domains. Like *.abc.com.
a.abc.com
b.abc.com
asldjhasld.abc.com

[2020-01-25 15:32] Ayanmullick opened #46825 "Boot diagnostics configuration missing"
How could one enable Boot diagnostics thru the Sample diagnostics configuration?

![image](https://user-images.githubusercontent.com/17693249/73127304-d250d580-3f83-11ea-913c-9c85f931d69f.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1004d268-8e8b-a08c-f31d-5b099cb38132
* Version Independent ID: 732f5f54-eb4b-97f

[2020-01-25 15:48] elvirk commented on #46426
@jeevansd - I can see that if I'm CSP that has multiple customers, but if I'm one customer with 100 of projects and I allocate AWS account per project then it doesn't make sense to have 100 applications in AAD.
In this case I want one AAD application where I can have my **custom roles** that will be consistent across all my AWS accounts. If I need to update one of the roles then I only need it to

[2020-01-25 15:56] radumg opened #46826 "No reference to what ServiceBus library is currently deployed & used by LogicApps"
Neither this page nor the reference page that's supposed to have technical details of the `ServiceBus Connector` provide any guidance as to what version of ServiceBus library is being used/deployed to Azure LogicApps right now.

There are [documented wire compatibility issues](https://github.com/Azure/azure-service-bus-dotnet/issues/239) between the new version (Microsoft.Azure.*) and old one (Win

[2020-01-25 16:43] grockland commented on #20025
@maxcalvin is totally on the mark.  A StatefulService is explicitly a service that usually does NOT access external entities like a DB, rather it uses ReliableDictionary to hold local state.  If this is sufficient for the service fine, if not then a StatelessService accessing a DB can be used.  Mark Fussell is a good source at https://channel9.msdn.com/Shows/Cloud+Cover/Episode-210-Service-Fabric-

[2020-01-25 17:01] manknewl opened #46827 "URI name"
https://contosovault.vault.azure.net/secrets/ExamplePassword
doesnt seem to match the resource name contoso-vault2.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16b2d08f-c5b9-ed1f-f97f-475552cd7970
* Version Independent ID: 264a3806-0b3e-5480-59f1-cad723b6cae6
* Content: [Quickstart: Set and retrieve a secret from Az

[2020-01-25 17:32] dcurwin commented on #46814
#reassign:pvrk

[2020-01-25 17:38] msrini-MSFT commented on #46598
@Zerbax , please tag me if you have any further questions.

[2020-01-25 17:38] #46598 closed

[2020-01-25 17:57] msrini-MSFT commented on #46672
@jorgemrsantos , Do you have any update for me?

[2020-01-25 19:17] Jsmedegaard opened #46828 "Break glass admin not possible?"
Turning on security defaults, seems to go against Microsofts own best practice, which suggests to have a break glass admin without MFA enabled, in case of issues with MFA. What is Microsoft suggestion regarding this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfac0ecf-e5a9-c5ff-f8c2-ce27789708f5
* Version Independe

[2020-01-25 19:45] Ayanmullick commented on #35575
The `Enable-AzureRmAlias` step should also be documented in this page or included in the script.

[2020-01-25 20:28] edburns opened #46829 ""Property iteration" and "Variable iteration" sections of "Resource, property, or variable iteration in Azure Resource Manager templates" do not mention existence of "offset" argument to `copyIndex()`."
Consider [Resource, property, or variable iteration in Azure Resource Manager templates](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/create-multiple-instances).

The "copy" feature is the single most vital and useful feature in ARM
templates.  Without "copy" you can't really do anything useful in ARM.
Therefore, this document needs to be comprehensive and rock-solid
acc

[2020-01-25 20:52] js-mode commented on #20737
We are having this same issue and now Azure support is linking to this issue after having us manually run several commands that do not work. Is there a particular way to get to the proper back end group for resolution of this issue?

[2020-01-25 20:56] jldeen commented on #20737
FWIW, I opened a support ticket and I pinged people internally. I have not heard back, but I'll keep shaking the product group tree to get some sort of answer for everyone.

[2020-01-25 21:03] Jsmedegaard commented on #46828
Just realized there was a question regarding this already. Feel free to close this.

[2020-01-25 21:10] julie-wins commented on #43515
Adding that I am getting the same error when I follow this document:
https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-raspberry-pi-kit-node-get-started

When I try to connect using my connection string, I get the bindings error described above.

I have tried the steps described above

[2020-01-25 21:11] JimacoMS3 commented on #46125
@uriel-kluk I tried the sample and it works fine. I even added lines in the TriggerReboot method to print the response to the c2d method. It still works OK. i.e.

[code]

With this code, I got the following result:

[code]

Did you have different results? Have I misunderstood your comment?

[2020-01-25 21:11] JimacoMS3 commented on #46125
#reassign @JimacoMS3

[2020-01-25 21:20] JimacoMS3 commented on #44819
@reassign @JimacoMS3

[2020-01-25 21:28] rajrao opened #46830 "message factories and the .net standard client"
The comment about using Message Factories seems to be for the older .net framework client. With the .net standard client, I cant seem to find any factories. Should the documentation be updated to reflect how one should implement these best practices?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7eb26ad-3f91-13f4-582

[2020-01-25 21:38] JimacoMS3 commented on #44819
@apulliam -- thanks for pointing this out! Agreed. I changed the text in all the C# quickstarts. It should publish by EOD Monday 1/27.

[2020-01-25 21:38] edburns commented on #46829
Issued [PR 46831](https://github.com/MicrosoftDocs/azure-docs/pull/46831).

[2020-01-25 21:42] SahinOzdemir commented on #43244
Hi

I actually tried this, but for me it was not working. In the end the performance of the sftp adapter wasn't good enough and I switched over to writing a custom azure function to handle the high load.

Sahin

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: dannygovier <notifications@github.com>
Sent: Saturday, January 25, 2020 12:49:10 AM
To: MicrosoftDocs/

[2020-01-25 22:07] JimacoMS3 commented on #36499
#reassign @JimacoMS3

[2020-01-25 22:18] JimacoMS3 commented on #36499
@LaiHoangLe - thanks for bringing this to our attention. We're currently updating all of our IoT Hub python content to align with the azure iot hub Python SDK v2.x. This GA'd in December although there is still some ongoing work to bring it to feature parity. Check out the readme on the landing page to understand the currently supported feature set: https://github.com/Azure/azure-iot-sdk-python.

[2020-01-25 22:53] RMacfarlane commented on #46754
My team has a first party app registration with MSA passthrough enabled. Using `common` as the tenant and the ARM scope, I'm not able to log into a personal account. Using `organizations` and the ARM scope, I am able to use a personal account. The personal account is not in AAD, it's an outlook account.

This does not match what the documentation says for these, and it is not made clear that the s

[2020-01-26 00:19] uriel-kluk commented on #46125
[code]
For this function, I had to change result = "'Reboot started.'" to a JSON string. it compiles but it throws an error if I keep it like that.

[2020-01-26 00:30] craigktreasure commented on #46713
@ginomessmer It looks to me like you've gotten some objects mixed up. The docs actually say this to setup the sessions:
[code]

`this.cloudSession` actually refers to an object of type `CloudSpatialAnchorSession`, where the `Session` property is settable on Android and iOS. You're trying to set the `Session` property on the `SpatialAnchorManager` object, which isn't necessary. You should read thro

[2020-01-26 01:42] heresabya commented on #46403
@asergaz  could you please reopen this thread .My Comment - In my case there is no issue in hardware , as I am successfully installed Rasbian Stretch and install IoT Edge runtime .Its working awesome with edge modules .So expectedly it should work for Windows 10 IoT Core build 17763 .As you said and also suggested in microsoft doc IoT edge is not supported ARM32v7 but supported AMD64 version .If y

[2020-01-26 02:46] JimacoMS3 commented on #46125
Strange. It both compiled and ran for me. What version of .NET Framework are you compiling it against? I'm using 4.7.2. Are you running on a Windows 10 box? (Just trying to figure out what's different between our systems.)

[2020-01-26 02:51] JimacoMS3 commented on #43405
#reassign @JimacoMS3

[2020-01-26 02:52] JimacoMS3 commented on #39536
#reassign @JimacoMS3

[2020-01-26 03:45] MohitVerma-MSFT commented on #46825
Hello @Ayanmullick ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-26 03:46] MohitVerma-MSFT commented on #46826
Hello @radumg ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-26 03:51] MohitVerma-MSFT commented on #46827
Hello @manknewl ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-26 03:54] MohitVerma-MSFT commented on #46828
Hi @Jsmedegaard ,

I will go ahead and close this as per the above conversation.

[2020-01-26 03:54] #46828 closed

[2020-01-26 03:56] MohitVerma-MSFT commented on #46829
Hello @edburns ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-26 03:57] MohitVerma-MSFT commented on #46830
Hello @rajrao ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-26 07:39] manojr1 commented on #29187
Can the **.Net SDK Blob API** be used against the Data Lake **Gen 2** store now?

[2020-01-26 09:08] orspod commented on #45973
@CarlosOnline please respond with detailed information regarding the errors. We were not able to find any errors in the commands.

[2020-01-26 09:21] BhargaviAnnadevara-MSFT commented on #46475
@ticianaciminari Thanks for the feedback. Unfortunately, I'm unable to reproduce this issue at the moment. Assigning this to the content author to investigate and update as appropriate.

[2020-01-26 10:56] BhargaviAnnadevara-MSFT commented on #46475
@titiks Thanks for the feedback. I have assigned the issue to the content author to evaluate the doc enhancement and update as appropriate.

@ticianaciminari @spelluru FYI.

[2020-01-26 11:09] veonua commented on #32781
could you please track issues publically. this would help other customers to address the same issue

[2020-01-26 12:16] AshokPeddakotla-MSFT commented on #46520
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-01-26 12:16] #46520 closed

[2020-01-26 12:18] AshokPeddakotla-MSFT commented on #46601
Thanks for the feedback! I have assigned the issue to the content author @kgremban to evaluate and update as appropriate.

[2020-01-26 13:11] NoNameProvided commented on #20737
Also, how can one request support to delete the resource manually, if not on a paid support plan? To open technical support tickets, we must have a paid support plan.

I just have experienced this multiple times yesterday (freshly created resource groups) and since you cannot even move the resources which stuck to a "dead-rg" because the network profiles cannot be moved between resource groups. So

[2020-01-26 13:39] aelij opened #46832 "Key Vault integration"
Currently we use [Key Vault FlexVolume](https://github.com/Azure/kubernetes-keyvault-flexvol) to retrieve certificates as files on AKS, which isn't compatible with K8s secrets, required by this feature.

Is there a way to integrate KV with the App Gateway ingress controller?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-01-26 14:01] RohitMungi-MSFT commented on #46646
@leela-uppuluri We will now proceed to close this thread.

[2020-01-26 14:01] #46646 closed

[2020-01-26 14:35] yanivlavi commented on #44936
Can you please open a support ticket for us to check the issue (with screenshots)?
The name should remain the same in the Azure Portal.

[2020-01-26 14:59] amanmcse commented on #46832
@aelij  Thank you for your query. We will check and update on the same.

[2020-01-26 16:02] RohitMungi-MSFT commented on #46653
@CESARDELATORRE We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-01-26 16:10] Noirde commented on #45071
Any updates or further hints?

[2020-01-26 16:12] MegoCs commented on #21211
@jayasuryajeyakodi i had a call with the product team they said it was related to an old version of my functions and jobs VS extension, they mentioned an upgrade to latest version would solve the issue but i had no time that time to re visit this issue

[2020-01-26 16:14] Shelabd opened #46833 "Train with labler"
I have used the correct form recognizer URI link from my Azure portal and the correct api key and i still get an error "endpoint not found, please make sure to use correct endpoint"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67f00138-7492-ba6e-6665-de0a6e0803f8
* Version Independent ID: 3835780b-1ace-77e3-553e-a537

[2020-01-26 16:22] scale-tone opened #46834 "Service Bus does support Server-Side+Customer-Managed Keys"
According to this: https://docs.microsoft.com/en-us/azure/service-bus-messaging/configure-customer-managed-key.

While I don't see any built-in support for Client-Side+Customer-Managed Keys encryption.

Is it a typo?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd0472f9-1ed9-0154-3bfd-b25e5da64cd1
* Version Independe

[2020-01-26 16:56] MohitVerma-MSFT commented on #46834
Hello @scale-tone ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-26 16:58] MohitVerma-MSFT commented on #46833
Hello @Shelabd ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-26 17:19] manojr1 commented on #29187
In case someone else has the same question, please see below.
I was able to use the blob storage API to successfully store json data in Gen2 storage.
Here is the code I used:  (After getting the Azure.Storage.Blobs package from Nuget. Package uploaded on 1/9/2020)

`		using System;
		using System.Text;
		using System.IO;

		using Azure.Storage.Blobs;
		using Azure.Storage.Blobs.Models;

		public c

[2020-01-26 17:38] omarman2 opened #46835 "omarman_2006a@hotmail.com"
omarman_2006a

---
#### تفاصيل المستند

⚠ *تجنب تحرير هذا القسم. مطلوب لـ docs.microsoft.com ➟ ربط مشكلة GitHub.*

* ID: c1cce701-aeb0-07af-6961-4f3e5cf2ed44
* Version Independent ID: 9c3e5bd6-7367-bfd8-f296-2f91f058a0fe
* Content: [Get started guide for developers on Azure](https://docs.microsoft.com/ar-sa/azure/guides/developer/azure-developer-guide)
* Content Source: [articles/guides/developer/

[2020-01-26 18:21] ondrejhlavacek commented on #46595
I have tried using the AKS ARM template to update the default Node Pool node count and it works.

[2020-01-26 19:57] ddelapasse2 commented on #32799
@KalyanChanumolu-MSFT  should this work the same way for geometry types?

I'm unable to make this work.  In the original table the shape column is type geometry.  I created the external table with shape as a varchar(max), but my conversion fails when I select from the view with "The data type of the column 'BP_OMV_DB.sys.geometry' in the external table is different than the column's data type in t

[2020-01-26 20:23] irgnosis opened #46836 "Read Secret from Key Vault"
Is it possible to read the SQL Password from a Key Vault in my spark application?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2a29fe3-e3f9-97b3-239a-551992234cd5
* Version Independent ID: 038cd019-e614-62e5-3dd6-67c793294226
* Content: [Use Apache Spark to read and write data to Azure SQL database](https://docs.mic

[2020-01-26 20:41] david-tap commented on #46715
I find it hard to agree.
This feature is in public preview, not undocumented. If there's a specific restriction or note, such as Azure MFA fields accepting only 6 digits, and there's no plan for this restriction to change anytime soon, why should it not be added?

[2020-01-26 20:55] dotnetgator opened #46837 "DeploymentMode options are not fully explained"
The DeploymentMode attribute of the TrustFrameworkPolicy element can take 3 values - Developer, Debugging, and Production.

Production is indicated to be the default, but the specific consequence of selecting it is not defined. Choosing Development determines whether or not detailed logs are sent to AppInsights (from the linked page: "These detailed logs are collected only when the policy is place

[2020-01-26 20:58] martingbrown opened #46838 "The highlighting in the example is wrong"
In the json under "Add Tags" the first resource has the "tags" attribute highlighted. The second two resources have the "kind" attribute highlighted. This isn't what's changed. It is the two "tags" attributes that have changed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0ec160c-4fc0-b821-0297-baf82f54a40f
* Versio

[2020-01-26 21:04] bhatir opened #46839 "500 Error"
I am deploying a Laravel app and followed the guidance here with the .htaccess file but I keep getting a 500 error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ba00ed4-0fb2-ae6f-dec8-fc1e6a77c6e0
* Version Independent ID: 0b72e7cc-958d-378d-34b5-029c187db2a5
* Content: [Configure PHP apps - Azure App Service](https:

[2020-01-26 21:05] JesvinJoseph commented on #46657
This is not actually related to the user. Sorry for the confusion. This is related to an encrypted partition.

[2020-01-26 21:05] #46657 closed

[2020-01-26 21:12] SamKilkens opened #46841 "'OTP' should be added under 'Source'"
One Time Passcodes feature adds another 'Source' option for external users namely 'OTP'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6eb6697-4ace-adb6-c922-df8a9a485283
* Version Independent ID: fd4ce34d-d55e-92af-d71a-625210ad3a63
* Content: [Properties of a B2B guest user - Azure Active Directory](https://docs.mi

[2020-01-26 22:26] JimacoMS3 commented on #37653
#reassign @JimacoMS3

[2020-01-26 22:29] JimacoMS3 commented on #37653
@PingPongSet  Thanks for pointing this out. I've added a link to to the Get Twin REST API per @Alberto-Vega . It will be live by  Monday (1/27) afternoon PST. I'll close this issue then. Thanks again for pointing this out.

[2020-01-26 22:47] JimacoMS3 commented on #44535
@AshokPeddakotla-MSFT , @boreys -- This doesn't seem to be a documentation issue, rather, I think the question here is whether certain functionality exists. That would be a question better addressed directly to the product team, ether by filing an issue on stack overflow or by filing an issue against the appropriate Github repo. @AshokPeddakotla-MSFT I'm assigning the issue back to you. Can you pl

[2020-01-26 22:48] JimacoMS3 commented on #44535
#reassign @AshokPeddakotla-MSFT

[2020-01-26 22:53] EddyHaigh opened #46842 "SPA with asp.net core back end"
Could do with a "SPA with asp.net core back end" example?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a80d3420-d113-358b-709f-a61da7211a2b
* Version Independent ID: 5b0994ea-bd51-d7c0-460d-0412945148d8
* Content: [Move single-page app to production - Microsoft identity platform](https://docs.microsoft.com/en-us/azur

[2020-01-26 22:59] dotnetgator opened #46843 "Several topics contained in this document appear to be misplaced"
I'm not quite sure I understand the rationale behind including information about general Policy inheritance and execution in the Reference document that explains the structure of the TrustFrameworkPolicy XML element. These items are important, but

- BasePolicy should be its own topic, alongside the other child elements (Building Blocks, ClaimsProviders, UserJourneys, RelyingParty.) And then perha

[2020-01-27 00:04] jkewley commented on #46548
FWIW, this bog post has the image with a white background: https://medium.com/@charotamine/automate-azure-private-link-using-arm-templates-7fe86efdee3b

[2020-01-27 00:21] JimacoMS3 commented on #43540
#reassign @JimacoMS3

[2020-01-27 00:22] JimacoMS3 commented on #43540
@dcbrown16 Thanks for the feedback. I've added the PowerShell reference to the TOC  under Reference. It should publish by Monday (1/27) afternoon PST.

[2020-01-27 00:28] 9songs opened #46844 "Enable UPN change for older tenants"
When migrating from AD FS to PHS, you might run into an issue for users whose UPN changed. The updated UPN of affected users is not sychronized to Azure AD anymore, resulting in them not being able to authenticate anymore.
Historically, updates to the UPN attribute using the sync service from on-premises were blocked. This apparently only applies to tenants created before approx. 2017. For those t

[2020-01-27 00:29] JimacoMS3 commented on #38102
#reassign @JimacoMS3

[2020-01-27 00:29] JimacoMS3 commented on #38102
@rezasherafat Can you please answer the question?

[2020-01-27 00:34] JimacoMS3 commented on #45415
#reassign @JimacoMS3

[2020-01-27 00:37] JimacoMS3 commented on #43454
#reassign @JimacoMS3

[2020-01-27 01:15] rofutrel-msft commented on #37462
I see that the following was removed from the azure cni article but still exists in the kubenet article, was this intended?

 https://docs.microsoft.com/en-us/azure/aks/configure-azure-cni

[2020-01-27 01:40] TravisCragg-MSFT commented on #46835
@omarman2 If you need assistance, can you please clarify what you need help with?

[2020-01-27 02:25] dotnetgator opened #46846 "DataType description is very incomplete"
What are the parameters governing the behaviors for each of the indicated data types.
- Is there a maximum length for "string". What kind of encodings are supported?
- Is boolean "true, false", or is it 1,0? Or perhaps -1 and 0? Is it "truthy" like JavaScript?
- What are the ranges of int and long - are they 32/64-bit respectively? Are negative values supported?
- What are the legal Date and DateT

[2020-01-27 02:26] dcbrown16 opened #46847 "Outdated screenshots"
The Portal creation experience has changed, so at least the step 9 screenshot is outdated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d304d03-8d1a-9638-bff4-6b2af687a80b
* Version Independent ID: 90892d89-3227-123c-39da-ab4860b479ed
* Content: [Configure an internal load balancer (ILB) endpoint - Azure Application

[2020-01-27 02:36] KrishnaG-MSFT commented on #46838
@martingbrown Thanks for your comment! We will review and provide an update as appropriate.

[2020-01-27 02:53] tmmueller opened #46848 "Preview"
What does the migration feature being in preview mean? Are migrations fully supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39deaffe-a3b4-7909-0e9e-10e14f766bf4
* Version Independent ID: edb0ea30-964d-54c6-9589-f233286a8816
* Content: [Migrate Azure AD Domain Services from a Classic virtual network](https://d

[2020-01-27 02:53] MohitVerma-MSFT commented on #46836
Hello @irgnosis ,

Thank you for your feedback! We will review and provide an update as appropriate.