[2020-11-03 17:23] YutongTie-MSFT commented on #65212
@sinujohn Hello Sinu, thanks for the hard testing. 300 alternate questions per answer is the recommended setting. If you add more alternate question, the runtime latency and the overall system will be impacted. They will be slow.

We will update the document with more clarification. Thanks again for your corner case testing.  We will now proceed to close this thread. If there are further questions

[2020-11-03 17:23] #65212 closed

[2020-11-03 17:24] AlexandraKemperMS commented on #64797
#please-close

[2020-11-03 17:24] #64797 closed

[2020-11-03 17:28] JamesTran-MSFT commented on #65387
@BloodBaz
Thank you for your feedback!

I've created a PR to update the "S" within the documentation when referring to "scopes",  and will assign this issue to the author to take a look into your doc enhancement requests for 1, 3, and 4.

If you have any other questions, please let me know.
Thank you for your time and patience throughout this issue.

[2020-11-03 17:29] danabrash commented on #52975
Hi @rpsqrd

It's an Azure VM, brand new install.  just spun it up to test Arc, so it started 100% clean.  I've removed folders etc. trying to reset, but it never gets the azcmagent.exe in the right folder at all.

thanks for your help!

[2020-11-03 17:33] JamesTran-MSFT commented on #65477
@LCI-MattJ
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-11-03 17:34] SaiKishor-MSFT commented on #64682
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-03 17:34] #64682 closed

[2020-11-03 17:35] SaiKishor-MSFT commented on #64513
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-03 17:35] #64513 closed

[2020-11-03 17:36] SaiKishor-MSFT commented on #65470
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-03 17:41] duongau commented on #65432
@simonezzzz can you create a PR against the troubleshooting page with the suggested text you would like to have added? I'll review it and see if it needs any further tweaking before publishing.

[2020-11-03 17:42] tfitzmac commented on #65449
@chez-charlie - do you know if there is a limit on the size of a parameter for Data Factory? For ARM templates, there is a limit on the total size of the template and the parameter file, but now specific limits for a parameter.

[2020-11-03 17:44] YutongTie-MSFT commented on #64679
@kngohil Hello Kishan, since we have not heard from you, we will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-11-03 17:44] #64679 closed

[2020-11-03 17:44] tfitzmac commented on #65229
@mumian - can you take a look at this issue? I didn't test the tutorial but from a quick glance it seems like the parameters are missing.

[2020-11-03 17:45] YutongTie-MSFT commented on #65475
@meeldurb
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-03 17:47] mvrak commented on #62107
With the imminent move of MSAL Node to preview we have now published up to date samples covering web apps.  This sample should be archived.  The webapp scenario is now covered by MSAL Node.

[2020-11-03 17:48] rpsqrd commented on #52975
Thanks for confirming. We don't technically support running Arc in Azure VMs, since all the capabilities Arc provides are natively available in Azure VMs.

However, if you want to use an Azure VM for testing purposes, you can do so by blocking access to the Instance Metadata Service endpoint and removing the Azure Guest Agent before trying to install the Arc agent. We just published 2 jumpstart sc

[2020-11-03 17:55] Karishma-Tiwari-MSFT commented on #65466
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-03 17:56] Karishma-Tiwari-MSFT commented on #65471
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-11-03 17:56] Karishma-Tiwari-MSFT commented on #65478
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-11-03 17:57] baanders commented on #65354
Thanks @jjadta for the comment! This makes sense.

The intent was to clarify that while Event Grid, Service Bus, etc... are other Azure services that you set up separately, the endpoint is part of the ADT instance. However, I see how this could be confusing, especially when the wording is different from the CLI documentation.

Here's a suggested rewrite for the sentence:
"Next, create an Event Gri

[2020-11-03 17:59] Karishma-Tiwari-MSFT commented on #65464
Thanks for the question. We are currently investigating and will update you shortly.

[2020-11-03 17:59] JamesTran-MSFT commented on #65392
@si-chan
I have created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2020-11-03 17:59] #65392 closed

[2020-11-03 18:01] JamesTran-MSFT commented on #65463
@rmiguelac
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-11-03 18:02] mmacy commented on #62107
Thanks, @mvrak.

@DevRCRun, can you let us know if the following quickstart and the sample it references work better for you:

- [Quickstart: Sign in users and get an access token in a Node web app using the auth code flow](https://docs.microsoft.com/azure/active-directory/develop/quickstart-v2-nodejs-webapp-msal)
- [Azure-Samples/ms-identity-node](https://github.com/Azure-Samples/ms-identity-node

[2020-11-03 18:09] PeterCLu commented on #65339
@dkvaravo thanks for your report. I've updated the documentation to fix the variable name. You should see the changes live in a few hours. I'll proceed to #please-close this issue.

[2020-11-03 18:09] #65339 closed

[2020-11-03 18:10] PeterCLu commented on #65475
@likebupt, can you take a look?

[2020-11-03 18:11] PeterCLu commented on #65475
#assign:@nibaccam

[2020-11-03 18:11] mamccrea commented on #64191
Hi @tedvanderveen  - we are still investigating this issue. Thank you for your patience.

[2020-11-03 18:15] PeterCLu commented on #65341
#assign:@nibaccam

[2020-11-03 18:17] damar3 commented on #58976
I have the same problem.  I decorate the method with [Export("application:didReceiveRemoteNotification:")] but it is not triggered. What may I try to do?

[2020-11-03 18:20] SatishBoddu-MSFT commented on #65226
Hello @mail2hjain We see that the Microsoft Product Team has already responded to your feedback/query on October 30th, 2020.

We are posting the same consolidated response over here, so that other community members also get benefit from a similar question.

“Azure blob storage on iot edge” for Windows AMD64, Linux AMD64 and Linux ARM32 is generally available for production workload.
Linux ARM64 is

[2020-11-03 18:24] psmanhas commented on #65128
@mattp-rab Apologies for all the delay in response and the inconvenience caused because of the issue.
I had discussion internally and below is their response:

IP changes upon restart/stop/start is expected behavior and published in our documentation.
The  sample for using Runbook to automate updates to AG given IP changes is the best solution we have for the customer at this time.

Hope it helps!

[2020-11-03 18:27] tfitzmac commented on #65355
@mpchen - thanks for the question. That operation registers the management group but not its subscriptions.

[2020-11-03 18:27] psmanhas commented on #64657
@guptaanoop29 Firstly, apologies for the delay in responding on this and any inconvenience this issue may have caused.

 As this issues need more investigation and live troubleshooting for quicker resolution I would recommend you to contact azure support. If you have a support plan, requesting you to file a support ticket, else please do let us know, we will try and help you get a one-time free te

[2020-11-03 18:27] tfitzmac commented on #65355
#please-close

[2020-11-03 18:27] #65355 closed

[2020-11-03 18:30] siwon opened #65483 "Missing regions"
[Enter feedback here]
Hi,

There is a missing region for linux container (maybe more ?) in this page :
- francecentral

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4153e809-a854-ff58-3d1e-31770c36a1f9
* Version Independent ID: e37b5834-9174-5ea2-567c-7b2628ed9eeb
* Content: [Resource availability by region -

[2020-11-03 18:32] tedvanderveen commented on #64191
@mamccrea I'm sure the issue can be quite easily replicated. The community would very much be supported with a complete end-to-end sample that includes deployment packaging and a supporting ARM template deployment config.

[2020-11-03 18:32] BryanTrach-MSFT commented on #65462
@ChrisSommers Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-03 18:33] BryanTrach-MSFT commented on #65386
@tiagonmas Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-11-03 18:39] BryanTrach-MSFT commented on #65469
@npalmiusfutr Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-03 18:39] SnehaGunda commented on #64998
@thomaslevesque transactional batch content will be live later today. We will close this issue now.

#please-close

[2020-11-03 18:39] #64998 closed

[2020-11-03 18:40] #39950 closed

[2020-11-03 18:45] BryanTrach-MSFT commented on #65375
@Juliako We created a pull request but couldn't sign off on it due to validation warnings about 56 docs that are linked in this document not having a valid doc author alias. We have reassigned the feedback to you to take a further look.

[2020-11-03 18:52] SatishBoddu-MSFT commented on #65226
Hello @mail2hjain Please let us know if the above response address your query and are we good to close this discussion? Please let us know if you need further help in this matter.

[2020-11-03 18:52] Torxsmind commented on #64320
@memildin we have a locked down PIM setup along with JIT.  I am looking for documentation / guidance on the permissions needed to allow a developer to request JIT.  I believe the real issue comes to writing the subnet NSG or local NIC NSG.  This requires write access privileges.

According to the link you pasted:

Microsoft.Security/locations/jitNetworkAccessPolicies/initiate/action

This is the o

[2020-11-03 18:53] BryanTrach-MSFT commented on #65467
@fbuser1 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-03 18:57] Mexicoder opened #65484 "Azure monitor availability functions doc needs more info"
The "code sample" section is labelled incorrectly, that is a template at best.
The code is half-finished and based on what I am seeing in the code sample this is on its way to being an example of a URL ping test.
My issue with this is that based on other GitHub issue pages this product was meant to replace Multi-step web tests.

It would be better if this documentation was able to relate that or a

[2020-11-03 18:58] memildin commented on #64320
@Torxsmind, thanks for the additional details.

As mentioned on that page, there's also a script for creating a least-privileged role for JIT access: [Set-JitLeastPrivilegedRole script](https://github.com/Azure/Azure-Security-Center/tree/master/Powershell%20scripts/JIT%20Custom%20Role) from the Security Center GitHub community pages.

I think your comment got cut at the end ("*there should be some

[2020-11-03 18:58] femsulu commented on #65166
thanks for clarifying @chuckthompsonprofisee . Checking internally. Please stay tuned for an update.

[2020-11-03 19:08] SatishBoddu-MSFT commented on #65094
@sympleconfigmgr
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2020-11-03 19:08] #65094 closed

[2020-11-03 19:09] nibaccam commented on #65475
Hi @meeldurb can you provide example values for your StartDate and EndDate columns, so we know what type of format we are working with, please?

[2020-11-03 19:14] mvrak commented on #59014
We don't have any plans to update this OIDC sample app and will be archiving it.  The sample uses an implicit flow strategy that has issues with Samesite.

For an alternative, we recently published samples for MSAL Node, which covers this scenario and does not rely on the implicit flow.  It should have no issue with Samesite.  https://docs.microsoft.com/en-us/azure/active-directory/develop/quickst

[2020-11-03 19:17] mumian commented on #65229
@pemsft - the cmdlet shall prompt you to enter the parameter values.  I think it makes sense to update the article. I will get it fixed today. Thanks for the comment.

#please-close.

[2020-11-03 19:17] #65229 closed

[2020-11-03 19:18] BharathNimmala-MSFT commented on #65480
@saikovvuri Thanks a lot for bringing this to our notice, we will review this and update the document accordingly.

[2020-11-03 19:19] DerekHerman-MSFT commented on #65461
@Arithmomaniac Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-11-03 19:22] Tiberriver256 opened #65485 "Where is the 'Developer Portal' button?"
Regarding the instructions for accessing the developer portal. I can't seem to find the button for the 'Developer Portal' anywhere along the top navigation bar. Is it possible to include a screenshot of where it should be?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54c705a3-b106-e0dd-8f50-a74c3752ab40
* Version Ind

[2020-11-03 19:33] rgg-amahajan opened #65487 "contains expression does not seem to work with string as noted?"
When I try to use contains on a string field to find presence of a substring, it shows an error in the expressions builder. But per this page, contains is supposed to work with strings? I have ensured type of title is String in the schema.

<img width="540" alt="Screen Shot 2020-11-03 at 2 31 33 PM" src="https://user-images.githubusercontent.com/58790146/98032083-786a1f80-1de1-11eb-907b-1dd22e9150

[2020-11-03 19:35] mikebudzynski commented on #65485
The button is in the command bar of the Overview page of your API Management service:

![image](https://user-images.githubusercontent.com/40186513/98032312-ad1dad00-1dc8-11eb-88fb-9b04c3cac03c.png)

[2020-11-03 19:35] mikebudzynski commented on #65485
#please-close

[2020-11-03 19:35] #65485 closed

[2020-11-03 19:46] Tiberriver256 commented on #65485
Thank you. Seems like it was a portal bug with the way I created it. I only had the delete button after creating it from the VSCode extension. I deleted the resource and re-created it from the portal and now I have the buttons. Thank you!

[2020-11-03 19:52] mikebudzynski commented on #65485
You might have created a Consumption tier service. Consumption tier services don't come with the developer portal.

[2020-11-03 19:55] BharathNimmala-MSFT commented on #65484
@Mexicoder Thanks you for taking time to share your valuable feedback, I am assigning the issue to document author @lgayhardt  to further evaluate the feedback and see how we can enhance the documentation.

[2020-11-03 19:57] SatishBoddu-MSFT commented on #65265
@xiafu-msft We are checking with the PG team on this.

![image](https://user-images.githubusercontent.com/62923178/98034352-b8260c80-1dcb-11eb-9645-1b36f11d44aa.png)

[2020-11-03 20:03] sethmanheim commented on #65143
@RubenDelange I am not seeing the error screen shot you're referring to, but if you can clarify, I can try to fix it.

[2020-11-03 20:04] #65403 closed

[2020-11-03 20:07] c-lamont commented on #58976
@damar3 You should override `ReceivedRemoteNotification` without any decoration.

[2020-11-03 20:08] MayMSFT commented on #65341
Hi @saimachi

Thanks for the question. Connecting to Synapse SQL pool is not supported out of box at the moment. As a workaround, you can transfer data to one of your supported data sources (e.g. blob, azure data lake gen2) using Azure Data Factory.

Thanks!

[2020-11-03 20:20] RubenDelange commented on #65143
@sethmanheim : https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/notification-hubs/media/notification-hubs-windows-store-dotnet-get-started/result-of-send.png

At the bottom you see the "The Token obtained from the Token Provider is invalid/wrong" message + top right: "1 failed"

[2020-11-03 20:24] DerekHerman-MSFT commented on #65479
@Chireven Sorry you had issues with this portion of the doc. Can you confirm which command you ran that resulted in the error?

[2020-11-03 20:28] VanMSFT commented on #59897
Thanks @Faiqg! We're updating the document with the correct link.

[2020-11-03 20:35] Raymoncorrea commented on #65194
@amanmcse This was not set manually. Our tenant was created in 2018, so possibly it was disabled by default that time. I'll just enable it on our tenant.

[2020-11-03 20:36] jjadta commented on #65354
Yes, reads well!

On Tue, Nov 3, 2020 at 9:58 AM Bailey Anderson <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2020-11-03 20:39] GiftA-MSFT commented on #65426
@sfilipi the complete code is in provided [here ](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/batch/csharp/batchclient/program.cs) as mentioned in the document.

![image](https://user-images.githubusercontent.com/51332022/98038160-a6079680-1dea-11eb-9ac4-55b39588fb39.png)

[2020-11-03 20:39] #65426 closed

[2020-11-03 20:45] sfilipi commented on #65426
@GiftA-MSFT I don't think that should mean that the example in the documentation should not be corrected to at least have matching closing braces. Most of the examples in doc.microsoft.com, and all of the ones in mature products, are selected to be able to copy/paste/use. I don't think this issue should be closed .

[2020-11-03 20:45] RonnieQuan opened #65489 "Question About Microsoft-managed keys"
Is the Microsoft-manged keys are shared or reused by muliptle resources across multiple subscriptions?
or it's dedicated, if it's dedicated, is it dedicated per subscription or per specific resource?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7e05a67-3121-bbc2-7a46-637199104ea3
* Version Ind

[2020-11-03 20:51] DerekHerman-MSFT commented on #65473
@mromp-swc Thanks for the feedback. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-11-03 20:52] MarileeTurscak-MSFT commented on #65389
The article says that Azure AD joined or hybrid Azure AD joined Windows 10 devices are supported. I made a pull request to update this but will leave it open for approval from @MicrosoftGuyJFlo in case anything has changed.

[2020-11-03 20:52] #65389 closed

[2020-11-03 20:52] RonnieQuan opened #65491 "Question about Platform-managed keys"
Is plateform-managed keys dedicated to a specific subscription or even to a specific managed disk? or it's shared with multiple resources in multiple subscriptions?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ade067f1-3f3e-73de-0321-bb8d07147cd3
* Version Independent ID: e8dc38c4-0114-b7c2-887

[2020-11-03 20:57] XchgGuy commented on #62675
To the foregoing, I'd add that I had to uninstall both the AzureAD and AzureADPreview modules, as well as the Azure PowerShell program (Apr-2018 version) from Windows' "Programs and Features" control panel. After reinstalling the AzureADPreview module using _Install-Module_, I was able to run the example lines and send the invitation.

[2020-11-03 21:03] baanders commented on #65354
@jjadta Great, thanks for the confirmation!

I am making this edit in PR [#136417](https://github.com/MicrosoftDocs/azure-docs-pr/pull/136417), and will have Git close this issue when the fix is merged.
(You can still feel free to comment back on this thread with additional comments or questions if needed.)

Thanks again for the feedback!

[2020-11-03 21:03] #65354 closed

[2020-11-03 21:04] mamccrea commented on #64191
@tedvanderveen This is a known issue that needs to be fixed, but we don't currently have a timeline for the fix.

[2020-11-03 21:04] chuckthompsonprofisee opened #65492 "IdentitySelector required is not honored"
If I add this to the control
"constraints": {
                    "required": true
                },
it does not listen to it and does not put the red asterisk by the control like the other controls do.  How do I make it required?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3229bf2-ea0e-a540-ab95-e2541bc07de3
* Ve

[2020-11-03 21:06] mumian commented on #65095
@chuckthompsonprofisee - one correction, the retention interval range is between 1 and 26 hours.  The article will be updated late today.

[2020-11-03 21:17] TravisCragg-MSFT commented on #65491
@RonnieQuan Platform Managed Keys are enabled by default on a Managed Disk. Each Disk gets a separate key and is entirely managed by the Azure Platform.

Can you elaborate on your question if you need more information?

[2020-11-03 21:18] skinlayers commented on #33157
Hmm. What if you turned the Key Vault firewall off before installing the renewed cert, and then flipping it back on again afterwards? Would the AGW see the change, and grab the new cert quickly enough while the firewall is down? I'm currently working on an Azure Function with a timer to handle renewing the cert in Key Vault using certbot/Let's Encrypt. I should be able to script a few `az` command

[2020-11-03 21:20] djpmsft commented on #65487
Hey there,

It looks like you are using data flows which actually uses a slightly different type of expression language. This is due to data flows being spark based vs our orchestration capabilities. You can find the function reference here: https://docs.microsoft.com/en-us/azure/data-factory/data-flow-expression-functions.

I believe the function your are looking for is `instr()` to see if design

[2020-11-03 21:22] #59897 closed

[2020-11-03 21:24] RonnieQuan commented on #65491
We just want to make sure Azure platform managed key is not Multi-tenant key, in my enterprise environment, we allow to use Azure managed key only when it's dedicated and not shared with other subscription or other resources.

From you last reply, I understand that a separate platform managed key is used for each disk encryption.
Can you please confirm?

[2020-11-03 21:25] antaki93 opened #65493 "iot-service-client serviceClient.send(...) throws java.io.IOException on Android"
# Context
Android 10 with Java 8 features
iot-service-client:1.26.0

## Description of the issue
Invoking of _serviceClient.send(deviceId, messageToSend)_ method throws _java.io.IOException: Encountered exception during amqp connection: proton:io with description NoErrorDescription_.

## Code sample exhibiting the issue
[code]
## Console log of the issue
[code]

---
#### Document Details

⚠ *Do no

[2020-11-03 21:29] tfitzmac commented on #63672
#please-close

[2020-11-03 21:29] #63672 closed

[2020-11-03 21:38] abatishchev commented on #65342
I don't see anything has changed, why it was closed?

[2020-11-03 21:47] bhpawarMSFT commented on #65144
@lukipro: Increasing limit up to 150 is enough for your scenario?

[2020-11-03 21:52] tamram commented on #65489
@RonnieQuan - Blobs and Azure Files automatically use a Microsoft-managed key that is scoped to the storage account.

Queues and Tables use a Microsoft-managed key that is scoped to the service. In order to use customer-managed keys with Queues/Tables, you need to first create an account that uses a key that is scoped to the account.

[2020-11-03 21:54] JhonRayoCoder opened #65494 "Typo Key Vault Authentication Fundamentals Article"
There is a typo in the python example on the article **_Key Vault Authentication Fundamentals_**.

The typo is:

ENTER YOUR **_CLIEND_** SECRET HERE

Screenshot:

![Capture](https://user-images.githubusercontent.com/48707041/98044681-3fd44100-1df5-11eb-9721-27cda9d0873d.PNG)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-11-03 21:56] davidsmatlak commented on #65253
@tfitzmac I don't know of any way to change the control to only allow the selection of existing app registrations or to make the password visible.

[2020-11-03 21:56] #63894 closed

[2020-11-03 21:57] MarileeTurscak-MSFT commented on #65494
@JhonRayoCoder
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-03 21:58] MarileeTurscak-MSFT commented on #65494
Thanks! I made a pull request to fix that. https://github.com/MicrosoftDocs/azure-docs-pr/pull/136478

[2020-11-03 21:58] #65494 closed

[2020-11-03 22:04] ChaitanyaNaykodi-MSFT commented on #65468
Hello @janossch,  Thank you for your feedback! We will review and update as appropriate.

[2020-11-03 22:20] tfitzmac commented on #65492
#assign:davidsmatlak

[2020-11-03 22:20] PRMerger10 commented on #65492
davidsmatlak is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-11-03 22:22] davidsmatlak commented on #65492
#assign:davidsmatlak

[2020-11-03 22:22] PRMerger12 commented on #65492
Only Microsoft employees can manage issues via commenting in this repo.

[2020-11-03 22:28] SteveBurkettNZ opened #65496 "Microsoft Defender for Endpoint : Licensed for Linux servers?"
Hi guys, what's the story with Azure Defender for servers including a Microsoft Defender for Endpoint license for Linux servers now that Microsoft Defender for Endpoint for Linux is Generally Available?

Article says 'Integrated license for Microsoft Defender for Endpoint (Windows only) '. This needs to be changed to reflect that it applies to Linux too?  Or does Azure Defender for servers not gra

[2020-11-03 22:33] MarileeTurscak-MSFT commented on #65416
But there are no license requirements for the sync from Azure AD to AAD-DS. It works for all Azure AD editions (free, basic & premium).

[2020-11-03 22:36] MarileeTurscak-MSFT commented on #65416
There are no license requirements for the sync from Azure AD to AAD-DS. It works for all Azure AD editions (free, basic & premium).

But for on-premises writeback you need at least a Premium P1 license.

Hope this helps!

[2020-11-03 22:36] #65416 closed

[2020-11-03 22:41] MarileeTurscak-MSFT commented on #65240
Thanks for the update! Closing this out.

[2020-11-03 22:41] #65240 closed

[2020-11-03 23:38] nibaccam commented on #65475
Hi @meeldurb in speaking with the product team, this "unable to parse column values" message shouldn't block you from creating the dataset. You can continue creating the dataset and set the data type for that column in a separate workflow outside of Azure Machine Learning studio. For example, you can load it into a dataframe and set the column type there.

We will now proceed to close this thread.

[2020-11-03 23:38] #65475 closed

[2020-11-03 23:47] dcbrown16 opened #65501 "Hybrid Benefit"
"It's currently not possible to dynamically switch between BYOS and pay-as-you-go billing models for Linux images. To switch the billing model, you must redeploy the VM from the respective image."

This appears to be outdated info per the preview of Hybrid Benefit for Linux.
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/azure-hybrid-benefit-linux

Please update with a statement tha

[2020-11-04 00:21] jorgecotillo commented on #62449
@SwathiDhanwada-MSFT fix has been deployed to all regions, can you please check if it does not longer repro? If not, we can then proceed to close this issue.

[2020-11-04 00:34] ababdul opened #65502 "This Doc is missing more details spicifacally regarding where to find the FQDN if we are entering the DNS records manually"
This doc states the following "The list of fully qualified domain names and IPs can be obtained from the "Private Endpoint" page in Overview. " However, I cant not find these FQDN nor IPs anywhere in any doc. It's a lot easier to provide a link directly where this mentioned info is located.

Another note here, when we are adding a record such as "{Vault-ID}-asr-pod01-{type}-.{target-geo-code}.site

[2020-11-04 00:34] GiftA-MSFT commented on #65426
@sfilipi thanks for your feedback. Document will be updated soon to show matching closing braces.

[2020-11-04 00:52] davidsmatlak commented on #65253
I'll contact the developers about these questions and post a comment after I receive a response.

[2020-11-04 00:52] davidsmatlak commented on #65492
I'll contact the developers about this question and post a comment after I receive a response.

[2020-11-04 00:53] #65341 closed

[2020-11-04 00:54] robwillup opened #65503 "Typo in "Understanding policy configuration" section"
### The current text reads:

### Should be:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 250924d9-418b-9a24-90fe-5b3835c3b2a7
* Version Independent ID: cfd91d85-ffff-d2b0-fc7f-61bcae6ed615
* Content: [Policies in Azure API Management](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-policies

[2020-11-04 01:25] ChaitanyaNaykodi-MSFT commented on #65503
Hello @robwillup,
Thank you for pointing out the typo. I have made a PR to fix it.

[2020-11-04 01:26] ChaitanyaNaykodi-MSFT commented on #65350
Hello @MarkPhillips00763,  Since we have not heard back from you we will now proceed to close this thread.

[2020-11-04 01:26] #65350 closed

[2020-11-04 01:29] simonzhaoms commented on #62449
Yes.  It works well for Southeast Asia

[2020-11-04 01:29] #62449 closed

[2020-11-04 01:30] WinstonHoward-MSFT commented on #65483
Thanks for the issue, I've assigned it to the doc author to take a look!

[2020-11-04 01:32] WinstonHoward-MSFT commented on #65501
Thanks for the issue, I've assigned it to the author to take a look at it.

[2020-11-04 01:33] BharathNimmala-MSFT commented on #65502
@ababdul Thank you for your query, we will look into it and get back to you at the earliest.

[2020-11-04 01:33] macolso commented on #65483
Yes it is - I will fix this ASAP. Thanks for bringing to my attention 👍

[2020-11-04 02:45] chinkl75 opened #65505 "Could not change from SAS to X.509"
Hi,
   I had tried for days with several attempts to change from SAS to X.509, but the problem could not be resolved. Would appreciate if there is some help.
   Under the "Device" on the left section, I select "Connect". Note that I have already successfully verified my Certificate (X.509) before. The "device connection" page then pop up and I change the "connect method" from SAS to Certification

[2020-11-04 02:51] spelluru commented on #64953
@mhopkins-msft - could you please comment? Thanks

#assign:mhopkins-msft

[2020-11-04 02:54] MS-jeremy commented on #64658
@markjbrown , thanks, may I know if the PR has been published? from the doc I'm still seeing the old contents.

[2020-11-04 02:54] spelluru commented on #56771
It's documented in this article:
https://docs.microsoft.com/en-us/azure/event-grid/delivery-and-retry#delivery-event-formats

#please-close

[2020-11-04 02:54] #56771 closed

[2020-11-04 02:57] MS-jeremy commented on #64883
@AnuragSharma-MSFT Can I get the tracking link of the PR? It's past 9 days but it hasn't been updated.

[2020-11-04 03:03] ravishankerb commented on #65445
So if i buy 1 P1 License and enable branding on Azure AD, like setting Logo, banner etc,, will I be compliant?
Or will i need P1 license for every user?

[2020-11-04 03:08] spelluru commented on #43431
Updated.

#please-close

[2020-11-04 03:08] #43431 closed

[2020-11-04 03:08] mdrideout commented on #40645
For anyone else googling this issue. I was having a very similar error with a fresh install and solved it. Solution Below. This was the error just trying to run `func` in the terminal on MacOS. (node 12)

[code]

## Solution
I had to run `npm i -g azure-functions-core-tools@3 --unsafe-perm true` **AFTER** `brew install azure-functions-core-tools@3` and `brew install azure-cli`.

I had initially ru

[2020-11-04 03:38] spelluru commented on #60462
#in-progress

[2020-11-04 03:45] spelluru commented on #55919
#please-close

[2020-11-04 03:45] #55919 closed

[2020-11-04 03:57] spelluru commented on #22652
#please-close

[2020-11-04 03:57] #22652 closed

[2020-11-04 04:19] AnuragSharma-MSFT commented on #64883
@MS-jeremy You can track the PR here:
https://github.com/MicrosoftDocs/azure-docs-pr/pull/135175

[2020-11-04 04:37] MS-jeremy commented on #64883
@AnuragSharma-MSFT the page you send seems not working - Page Not Found.

[2020-11-04 04:53] AnuragSharma-MSFT commented on #64883
@MS-jeremy Looks like access issue. Below is the suggested change:

![image](https://user-images.githubusercontent.com/66360845/98070787-ce919e00-1e87-11eb-80c8-e6d413232082.png)

[2020-11-04 04:57] HarithaMaddi-MSFT commented on #65487
@djpmsft - Thanks Daniel for quick and detailed response.

@rgg-amahajan - Thanks for posting the query. Please let us know if you have further queries.

[2020-11-04 05:00] BhargaviAnnadevara-MSFT commented on #65352
@MarkPhillips00763 We will now proceed to close this thread, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-11-04 05:00] #65352 closed

[2020-11-04 05:04] AshokPeddakotla-MSFT commented on #65493
@antaki93 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-04 05:09] PramodValavala-MSFT commented on #65357
@oising Elastic Premium Plans are the plans referred to as Premium Plans as available when creating a function app. Could you confirm what are the other premium plans you mention? Perhaps you are referring to App Service Plans?

![image](https://user-images.githubusercontent.com/43602528/98071621-10234880-1e8a-11eb-8284-bf587b13f9a1.png)

[2020-11-04 05:14] krubenok commented on #40645
In hindsight (one year later and now having much more experience), this issue was because I my installation was incomplete/broken. Uninstalling and reinstalling from `brew` was sufficient to fix this.

[2020-11-04 05:25] MayankBargali-MSFT commented on #64962
@RiverPhillips Thanks for your feedback. I have created an internal work item and updated the document. Once it is approved and reviewed by @craigshoemaker it will be published. For now, we will go ahead and close this issue and will update this thread. Feel free to get back to me if you have any queries or concerns.

[2020-11-04 05:25] #64962 closed

[2020-11-04 05:26] cvraman commented on #52706
@ericsampson : Is there a configuration in host.json where I can specify both the MaxMessageCount and for improving the fill rate ?

[2020-11-04 05:28] WinstonHoward-MSFT commented on #65136
Hi @kieronlanning ,

Thanks for your patience. I wanted to build a fresh cloud service to repo this. I'm able to pull a field from a cscfg file from a cloud service. I think your issue is your trying to use XPath to set an XML field and XPath is only designed to query an XML document. Like I said I can query the property and extract it but I'm not sure how you intend to set the property. Thanks ag

[2020-11-04 05:34] VikasPullagura-MSFT commented on #65489
@tamram Thanks for adding your comments on this.

@RonnieQuan
Hope the provided information is helpful.

[2020-11-04 06:02] SwathiDhanwada-MSFT commented on #65448
Assigning to content author @bwren to review and update the document accordingly.

[2020-11-04 06:07] JayaChatterjee-MSFT commented on #65144
@lukipro Could you please confirm if the proposed limit would work in this case? Also we can continue this offline to share the updates. You may send an email with subject line “Attn:Jaya” to AzCommunity[at]Microsoft[dot]com referencing this thread.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue t

[2020-11-04 06:16] shashishailaj commented on #65496
@SteveBurkettNZ Thank you for your query. We will investigate and update the thread

[2020-11-04 06:31] kieronlanning commented on #65136
@WinstonHoward-MSFT What was the query you used? I've tried multiple combinations of queries and couldn't get ahold of it any certificate related?

[2020-11-04 06:39] VikasPullagura-MSFT commented on #65274
@JAK1047 I checked with internal team on this. And this is standard behavior for AAD. Are you selecting "No, sign in to this app only"? If so, you may want to try with unchecking the checkbox and selecting OK if that's an option for you.

[2020-11-04 06:43] amanmcse commented on #63990
Hi @notoriousedd Please find my comments inline.

**Can you enable self-service sign-up for any single tenant app that is integrated with the AAD tenant under app registrations?**
Yes, it can be enabled on any single tenant app. You don't get "sign-in options" link with https://login.microsoftonline.com/common/ or https://login.microsoftonline.com/organizations/

**Does the app require the use of

[2020-11-04 06:52] bsiva commented on #65165
Tagging @rashi-ms to look into this suggestion

[2020-11-04 06:58] BharathNimmala-MSFT commented on #65165
Thanks a lot @bsiva  and @rashi-ms  for helping on this thread.

@jtuliani Thanks again for sharing your valuable feedback. Assigning this issue to @rashi-ms to further evaluate the feedback and enhance the document accordingly.

[2020-11-04 07:11] puneethkgowda opened #65506 "Azure container registry repo addition error using Helm 3"
I am having issues in adding the Azure container registry as repo in azure CI/CI pipeline using Helm 3 .
Getting below error
**Error: looks like "https://xxx.azurecr.io" is not a valid chart repository or cannot be reached: failed to fetch https://xxx.azurecr.io/index.yaml : 404 Not Found**

Syntax using for adding the repo
**helm repo add <Name> https://xxx.azurecr.io --password $(acr_password)

[2020-11-04 07:21] amanmcse commented on #65434
@rrajan82 Thank you for the feedback. I have updated the document and the changes might take approx. 24 hrs to reflect in the document.

[2020-11-04 07:21] #65434 closed

[2020-11-04 07:29] v-hagamp commented on #58910
Issue resolved as suggested.
#please-close

[2020-11-04 07:29] #58910 closed

[2020-11-04 07:31] HarithaMaddi-MSFT commented on #65435
@hariAtCba - I will proceed to close the issue now. Please feel free to post for any further queries.

[2020-11-04 07:31] #65435 closed

[2020-11-04 07:48] hariAtCba commented on #65435
I get it now, it just initially reads a bit different because I initially didn’t even look in the `properties` object for the `parameters` attribute, initially thought to just add it outside of the `properties` object altogether.

From: HarithaMaddi-MSFT <notifications@github.com>
Sent: Tuesday, 3 November 2020 5:18 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Hari Veerakuma

[2020-11-04 08:09] mail2hjain commented on #65226
Thanks @SatishBoddu-MSFT for the explanation. I understand that this is generally available for production.
My confusion was with respect to the license file shipped with the docker image which hints at this being in preview.
Therefore with this thread, I wanted to clarify if the license file present in the docker is up-to-date or not? And If it is not, then where can I find the relevant license t

[2020-11-04 08:15] Jirapong opened #65507 "Azure Sql Server metastore 1.2.1 error syntax"
I've create Azure Databricks with metastore version 1.2.1 as following configuration

* Databricks Runtime 5.5 LTS

[code]

Schema and Table are created after start the cluster.

However, I receive an error when try to create database.

[code]

Error is

[code]

Did i missed any configurations here? Thank you.

[2020-11-04 08:16] AshokPeddakotla-MSFT commented on #65505
@chinkl75 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-04 08:27] matthewjlevy opened #65508 "RBAC required for enabling LDAPS"
It is not clear from this documentation what Azure Role or Azure AD Role is required to enable LDAPS. From my testing, even a user with Contributor role on the managed domain as a member of the AAD DC Administrators group in AAD cannot enable LDAPS - It would imply then that a Global Admin with Contributor role is required to enable LDAPS. This is problematic in organizations that have split funct

[2020-11-04 08:32] SubhashVasarapu-MSFT commented on #65110
@cookbr, Appreciate your patience. This issue has been assigned to the content author for updating the doc accordingly.

[2020-11-04 08:41] psmanhas commented on #65506
@puneethkgowda Thank you for your query!!!

Can you please help me out wit documentation you are following so that I can help you out better on this?

Thanks

[2020-11-04 08:46] #65201 closed

[2020-11-04 08:49] vipulsparsh commented on #65072
@markkuleinio https://docs.microsoft.com/en-us/azure/azure-portal/azure-portal-safelist-urls?tabs=public-cloud seems to be the latest list on this. Which all other URLs you found which can be added on this list, apart from the previous ones you mentioned.
If you have other URLS as well, please let us know

[2020-11-04 08:55] meeldurb commented on #65475
Yes true, now the columns are saved as stringtype. However when I change the types in code and register the dataset again, the types change back to stringtype again.

[2020-11-04 08:55] psmanhas commented on #65447
@qmutz Any update on the issue? Can you please provide information as per the ask so I can help you out better.

[2020-11-04 08:56] meeldurb commented on #65475
![image](https://user-images.githubusercontent.com/23190761/98090240-0f87b380-1e84-11eb-8ad9-9c80ab6c5b22.png)

[2020-11-04 09:00] puneethkgowda commented on #65506
I have reference the below doc.
I am able to save and push the chart to repo.
I can even pull and extract to local cache.
But if i try to add the repo locally, its giving error. As a workarouf , i am indivually pulling each chart to local and trying to deploy

[2020-11-04 09:03] psmanhas commented on #65506
@puneethkgowda Thank you for responding back.

Apologies I am not able to see doc in your comment so can you please send it over again so I have better idea.

Thanks

[2020-11-04 09:09] thomaslevesque commented on #64998
@SnehaGunda great, thanks!
Just one thing: I notice it appears under "server-side programming" :
![image](https://user-images.githubusercontent.com/1864281/98091334-96895b80-1e85-11eb-99ea-19ccfa9bacd9.png)
That's probably not the right place, is it? I mean, the implementation of this feature is server-side, but as far as I can tell it can only be used from the client, not in a stored procedure (w

[2020-11-04 09:11] rkontrimas opened #65509 "RHEL largest sector check"
Check for largest sector should be with -E switch and not -e.
sgdisk -E /dev/sda

According to sgdisk man:

e, --move-second-header
Move backup GPT data structures to the end of the disk. Use this option if you've added disks to a RAID array, thus creating a virtual disk with space that follows the backup GPT data structures. This command moves the backup GPT data structures to the end of the disk

[2020-11-04 09:25] HarithaMaddi-MSFT commented on #65204
@Anmolgan81 - can you please share timings observed to load after implementing this approach for one table with 1 million records and 20-30 columns. Also, share the configuration details of the Azure SQL database and parallel copies or any other settings if used in ADF. This will help us and PG to share you valuable alternatives.

After the merge statement in the stored procedure shared, please ad

[2020-11-04 09:26] HarithaMaddi-MSFT commented on #65204
@dearandyxu - Can you please share your thoughts on the ask above

[2020-11-04 09:28] puneethkgowda commented on #65506
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/container-registry/container-registry-helm-repos.md

[2020-11-04 09:36] Berndinox commented on #53602
Same here, looks like a common issue tbh...

[2020-11-04 09:37] psmanhas commented on #65506
@puneethkgowda Thank you for the information let me check on this and i will get back to you with update.

[2020-11-04 09:42] nicoterreyre opened #65510 "Missing authorization step between AKS and ACR for "Develop on Azure Kubernetes Service (AKS) with Helm" tuto"
Hello,

It seems that there is a missing step in the tutorial in order to allow AKS to access correctly the newly created ACR.

In order for the command: **helm install webfrontend webfrontend/** to deploy correctly the image in AKS, I had to first run this command:
**az aks update -n MyResourceGroup -g MyAKS --attach-acr myACR**

Otherwise, I had this issue that was visible from the deployment ev

[2020-11-04 09:44] gaurav7961 commented on #33822
Hi is there any update on this ?
It seems to be same resolution.

[2020-11-04 09:51] rayne-wiselman commented on #65480
@saikovvuri Thanks for your feedback! Can you point out where you see the discrepancy? Thx!

[2020-11-04 09:53] markkuleinio commented on #65072
@vipulsparsh I don't have anything else to add to the original list in the NPS extension page.

[2020-11-04 10:00] rayne-wiselman commented on #65301
Thanks for your feedback!  I've opened an internal backlog item to do this over the next few weeks. Since we're tracking internally I'll close this issue.
#please-close

[2020-11-04 10:00] #65301 closed

[2020-11-04 10:03] savjani commented on #65393
@NavtejSaini-MSFT - You can close this as @balintbako reached out to us on email and I am following up with him on email to address his question.

[2020-11-04 10:12] rayne-wiselman commented on #65249
@AzureAndre Thanks for your feedback! In an Azure Migrate project, you can do concurrent analysis for up to 1000 servers. I've updated the article and that should go live today.

#please-close

[2020-11-04 10:12] #65249 closed

[2020-11-04 10:12] unaihuete93 commented on #39518
Any update on this topic?

[2020-11-04 10:12] rayne-wiselman commented on #63974
@MattMattics Thanks for your feedback. We're checking this.

[2020-11-04 10:13] rayne-wiselman commented on #62640
Article updated. #please-close

[2020-11-04 10:13] #62640 closed

[2020-11-04 10:21] richardhauer opened #65511 "Referenced blade "Token Configuration" is missing"
I have checked a number of Applications and the Token Configuration blade referenced in this page is not present.

If this feature is only available in AAD Premium or something it would be good to mention that in the document. If there is some sort of "opt in" required, again that would be worth mentioning, or if there is some privilege that we are supposed to have to access this feature... you ge

[2020-11-04 10:26] rayne-wiselman commented on #61209
@stantoni-msft. Added this to the article. It should show updated later today. Thx
#please-close

[2020-11-04 10:27] #61209 closed

[2020-11-04 10:28] Radu-Gina opened #65512 "Unclear way on how to use Azure RBAC Roles"
Within the "Azure RBAC for Kubernetes Authorization (Preview)" section, there are built in Azure RBAC Roles described (ex Azure Kubernetes Service RBAC Cluster Admin) however it is not apparent at first how to make them work within an AKS cluster.
If you just try to add them from the Azure Portal, the cluster will be unaffected.

There is a tiny url mentioned at the bottom of the roles table (**Se

[2020-11-04 10:32] OD1995 opened #65513 "`CurrentUtcDateTime` for Python"
It looks like it is possible to get the current UTC date time for .NET and JavaScript durable functions, is there an equivalent for Python durable functions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d835903-bb13-1907-aa84-4d67eb1f5850
* Version Independent ID: 669a49bd-2a6f-c578-288d-89be1535d077
* Content: [Dur

[2020-11-04 10:37] rayne-wiselman commented on #57738
@kiwibayer Thanks for your feedback!

Can you provide more details on what you think is missing in the  article https://docs.microsoft.com/en-us/azure/migrate/migrate-support-matrix-hyper-v-migration#hyper-v-host-requirements.

The Prerequisites section at the top of the article links to the Hyper-V host requirements here - https://docs.microsoft.com/en-us/azure/migrate/migrate-support-matrix-hype

[2020-11-04 10:45] fionnmcconville opened #65514 "Bulk Upsert Javascript stored procedure always exceeds execution cap of 5 seconds and results in a timeout"
I'm currently running a script in python SDK which programmatically bulk upserts 1.5 million documents into a collection in azure cosmos db. I've been using the bulk import sproc from the samples provided in the github repo: https://github.com/Azure/azure-cosmosdb-js-server/tree/master/samples/stored-procedures, the only change being that I've swapped collection.createDocument with collection.upse

[2020-11-04 10:50] jmprieur commented on #65387
@BloodBaz
Thanks for your feedback.
Although we try our best to have code that just builds in the doc, nothing is better than looking at the sample: https://github.com/azure-samples/active-directory-dotnetcore-devicecodeflow-v2, which builds and is even preconfigured

[2020-11-04 10:58] Deepakgullipalli opened #65515 "Azure Search not working with Unicode Code characters between 296-304(including)"
When tried to search documents with words containing these unicode characters, results are not fetched, it works fine with english 'i', but not latin i with dot

[2020-11-04 10:58] difatkulbayanova opened #65516 "ASE can have up to 100 instances or 201 instances? Different information on different pages"
Hi! I have found different misleading information on the pages

An ASE is dedicated exclusively to a single subscription and can host 100 App Service Plan instances. The range can span 100 instances in a single App Service plan to 100 single-instance App Service plans, and everything in between.  - ASE introduction page

An ASE can have up to 201 total instances across all the App Service plans in

[2020-11-04 11:00] jogikalpesh commented on #64287
@SnehaAgrawal-MSFT :  while configuring authentication for app service, you require to provide issuer url

![image](https://user-images.githubusercontent.com/18412205/98103022-61e3c700-1eba-11eb-80bc-f36ed55bc23f.png)

This url is in the form : "<authentication-endpoint>/<tenant-id>/v2.0" --> for eg. "https://login.microsoft.com/de7b297a-c7aa-4b34-8a1c-2fdda8e11fe3/v2.0". Where "de7b297a-c7aa-4b34

[2020-11-04 11:02] GitaraniSharma-MSFT commented on #65364
@sonya6688 , below is the update I received from the backend team:

We don't publish 95th percentile.

There is no concept of max latency. The packet always travels on the same path unless the traffic takes a slightly longer route due to multiple fiber cuts. So the latency will always remain same unless you run the test for a long duration (say a month). Average latency is the latency that we see

[2020-11-04 11:02] #65364 closed

[2020-11-04 11:04] AnuragSharma-MSFT commented on #65514
Hi @fionnmcconville, thanks for reaching out to us. On GitHub we basically take up queries/issues related to Microsoft documents.

Please post this issue on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/questions/ask.html) or [StackOverflow](https://stackoverflow.com/questions/ask) or for better visibility.

We’d be happy to answer this on the forums and walk you through whatever might

[2020-11-04 11:14] #65144 closed

[2020-11-04 11:16] AjayKumar-MSFT commented on #65516
@difatkulbayanova, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-11-04 11:18] AjayKumar-MSFT commented on #65515
@Deepakgullipalli,  Thanks for leveraging Azure docs feedback channel to raise this question. Could you please share the Azure documentation for which this feedback is applicable to?

 This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2020-11-04 11:20] #65515 closed

[2020-11-04 11:50] damar3 commented on #58976
I removed decoration but it is not triggered. When the app is not in foreground I receive notify (but not debug). This is my code:

`using Syncfusion.XForms.iOS.Graphics;
using Syncfusion.XForms.iOS.Border;
using Syncfusion.XForms.iOS.Buttons;
using System;
using System.Collections.Generic;
using System.Linq;
using Syncfusion.SfCalendar.XForms.iOS;

using Foundation;
using UIKit;
using Syncfusion.

[2020-11-04 12:37] difatkulbayanova opened #65517 "You can set certificates on the individual web apps in the ILB ASE ?"
You can set certificates on the individual web apps in the ILB ASE - please explain ?
For ILB ASE you can only upload one single certificate ( wildcard or SAN ), you cannot set certs on the individual web apps and upload them, this is not IP based SSL, therefore assuming it is not correct and relates to external ASE
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It

[2020-11-04 12:45] shenqianjin opened #65518 "I already disabled my primary endpoint, However, accessing is NOT routed to my failover endpoint."
Triffic endpoints configuration page:
![image](https://user-images.githubusercontent.com/19339116/98113219-4ee2ee00-1ede-11eb-812a-cd617b189cd5.png)

Access the DNS page:
![image](https://user-images.githubusercontent.com/19339116/98113168-3bd01e00-1ede-11eb-9153-e23ed1037fd4.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2020-11-04 12:59] rayne-wiselman commented on #54329
Thanks for your feedback! Docs are correct - assessment is supported for all.

#please-close

[2020-11-04 12:59] #54329 closed

[2020-11-04 12:59] rayne-wiselman commented on #54200
Issue fixed in docs. Thx
#please-close

[2020-11-04 12:59] #54200 closed

[2020-11-04 13:05] psmanhas commented on #65512
@Radu-Gina Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-11-04 13:05] psmanhas commented on #65512
@palma21 Can you please check and add your comments on this doc update request as applicable

[2020-11-04 13:07] psmanhas commented on #65510
@nicoterreyre Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2020-11-04 13:15] shashishailaj commented on #65509
@rkontrimas Thank you for pointing this out . We will have this reviewed and update the thread accordingly.

[2020-11-04 13:15] ericsampson opened #65519 "Add F# to the list of supported languages for Static Web App APIs"
The document currently states that "The API must either be a JavaScript, C#, or Python Azure Functions app.", but F# should be added to this list as it is supported.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35afa1cb-f318-7126-c6e6-e75f580f1cce
* Version Independent ID: 45329936-9959-2cfb-8108-179f9fbb4382
* Conte

[2020-11-04 13:15] shashishailaj commented on #65508
@matthewjlevy Thank you for your feedback . We will investigate and update the thread.

[2020-11-04 13:17] carmelgafa opened #65520 "Missing Import"
Needs additional import
from azureml.core.environment import Environment

so that curated environment can be used

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5b90fbd-19a9-4fe7-032b-765457549f30
* Version Independent ID: a23a02a5-23fd-9935-4031-b943aa468030
* Content: [Train and deploy a Tenso

[2020-11-04 13:18] ericsampson commented on #65519
Are Java and TypeScript truly not supported? Or just also currently not listed.

[2020-11-04 13:18] Rohitwghela commented on #41104
Hi @neeleshray-msft
Is this feature available now? I mean to change the "From" address for group expiration policy?

[2020-11-04 13:23] rayne-wiselman commented on #57738
@kiwibayer - I now see you did a private PR to fix this. Emailing you on the process. Thx!

[2020-11-04 13:23] rayne-wiselman commented on #57738
#please-close

[2020-11-04 13:23] #57738 closed

[2020-11-04 13:24] fionnmcconville commented on #65514
Apologies, it's my first time doing something like this. I'll do that now thank you!

[2020-11-04 13:24] #65514 closed

[2020-11-04 13:25] rayne-wiselman commented on #63974
Adding @Vikram1988 for tracking on this.

[2020-11-04 13:31] #65378 closed

[2020-11-04 13:39] #65373 closed

[2020-11-04 13:42] antaki93 commented on #65493
I found the following workaround. I replaced
[code]
to
[code]

[2020-11-04 13:51] SatishBoddu-MSFT commented on #65226
Thank you @mail2hjain for responding to this thread.

Did you get the latest version? wanted to check if this license text is still visible for the latest version or older versions?

Any screenshots will help me in this regard.

[2020-11-04 14:01] MonikaReddy-MSFT commented on #65518
@shenqianjin -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-11-04 14:12] shashishailaj commented on #65511
@richardhauer Thank you for your query . We will investigate and update the thread.

[2020-11-04 14:15] rgg-amahajan commented on #65487
Thank you for pointing me to the right resource, @djpmsft ! It works. Closing this issue now.

Thanks @HarithaMaddi-MSFT for the follow up, am good for now!

[2020-11-04 14:15] #65487 closed

[2020-11-04 14:23] onitake opened #65521 "AWS SSO documentation should describe SSO resource, not legacy IAM integration"
The "Azure Active Directory single sign-on (SSO) integration with Amazon Web Services (AWS)" documentation page describes how to set up SAML authentication with AWS IAM.

This scenario is no longer the preferred solution, as AWS provides a much more sophisticated "Single Sign-On" resource now: https://aws.amazon.com/single-sign-on/

Please update the documentation to describe Enterprise App setup

[2020-11-04 14:29] NavtejSaini-MSFT commented on #65347
@nivohavi For now we are going ahead and closing this issue. If you need immediate help regarding this, please do contact support. If you still want to raise the issue regarding a documentation, please do mention the document when you raise the issue.
Github documentation are managed by specific teams depending on the document we have issue with. So it will be easier for us to help you in the futu

[2020-11-04 14:29] #65347 closed

[2020-11-04 14:32] mennolaan commented on #56193
I would love for User assigned as well. Currently my arm is not working on a fresh deployment.

My arm deploys a keyvault with secrets and a function app that needs one of those secrets before initializing a function(servicebus queue). Acces policy on keyvault is set to principalid of function. The function uses a System Identity.

Because the keyvault has an acces policy for the function, the fun

[2020-11-04 14:38] JFolberth commented on #40968
@mattchenderson I've created PR to resolve this issue since the API reference is pretty old.

[2020-11-04 14:43] NavtejSaini-MSFT commented on #65394
@hurtn TDE protector is set at server level and TDE is set at Database level.
The document does mention to set the TDE at DB level in portal.
![image](https://user-images.githubusercontent.com/52257742/98124901-c2a2dd80-1e81-11eb-96ad-3a62c35d157b.png)

Also if you see the Powershell or REST commands, it does give commands to create/update TDE protector on Server level
![image](https://user-images

[2020-11-04 14:45] NavtejSaini-MSFT commented on #65047
@Marusyk Totally understand your ask here. Please raise a support ticket for better understanding and resource telemetry.

[2020-11-04 15:11] MhAllan opened #65522 "How to do Duratble Function with Visual Studio not VSCode?"
We need example how to do with VS not VSCode because the experience is terrible

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4885c7aa-95fd-b501-37c8-deaeaf5ec54b
* Version Independent ID: 92dcd574-ffef-25f6-0a52-30dbce334b79
* Content: [Create your first durable function in Azure using C#](https://docs.microsoft.com/

[2020-11-04 15:14] Waterfox83 opened #65523 "Outdated documentation"
The screenshots of the UI are old and new UI of the data factory and data flow is completely different. Please update the page according to the new UI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ccf00363-3f01-bded-5d7b-0c15fecda6c1
* Version Independent ID: 114d19e7-bf5f-060c-55c0-71d1bc8cf1e9
* Content: [Create a

[2020-11-04 15:21] kishaa commented on #65334
I am also facing the same issue. @giatule The name of the ingress object shows you must have referred
https://docs.microsoft.com/en-us/azure/application-gateway/tutorial-ingress-controller-add-on-existing

[2020-11-04 15:31] saxfreddie opened #65524 "Link to SAP Business One Hardware Requirements Guide in the page redirects to a non existing SAP page"
[Enter feedback here]

Link to  "SAP Business One Hardware Requirements Guide" in the page redirects to a **non existing SAP page.**

https://help.sap.com/http.svc/rc/011000358700000244612011e/9.3/en-US/B1_Hardware_Requirements_Guide.pdf

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c88fe88b-64af-eafa-60fa-4bdce1a47f9

[2020-11-04 15:35] nayrangnu opened #65525 "Missing Table?"
The _Encryption at rest for IaaS customers_ section of _Encryption at rest in Microsoft cloud services_ mentions a reference table twice which should list the "major storage, services, and application platforms and the model of Encryption at Rest supported." This table is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2020-11-04 15:40] mholo65 commented on #61497
Subscribing, as I'm also encountering this issue. I spent some time digging in the schema for Front Door, and I didn't find a way to avoid circular dependency when having rules engine associated with a routing rule.

[2020-11-04 15:53] NavtejSaini-MSFT commented on #65393
Thank you @savjani for the help. If you have any insights regarding the question from @balintbako that you can share here, please do share.

[2020-11-04 15:53] #65393 closed

[2020-11-04 15:58] sadiqkhoja opened #65526 "Where is FixedDelayRetry Attribute?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da28e92f-8a1e-9937-4547-180e26ede62e
* Version Independent ID: 2b95e024-e55b-98d4-bd84-8cba06319c9e
* Content: [Azure Functions error handling and retry guidance](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-error-pages?ta

[2020-11-04 16:02] NavtejSaini-MSFT commented on #65399
@asampson68 We have created to PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/136609 to correct the variable. Once approved changes will be visible in 24 hours.

[2020-11-04 16:02] aliaksei-lebedzeu commented on #64853
Ran into the exact same issue going through the following page:
https://docs.microsoft.com/en-us/learn/modules/load-balance-web-traffic-with-application-gateway/5-exercise-create-configure-application-gateway

[code]

[2020-11-04 16:10] JamesTran-MSFT commented on #65525
@nayrangnu
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-04 16:13] accampos commented on #56956
I've just peered my VNets and it is still not possible that a Web App in an ASE connect to another Web App in another ASE. Any other suggestion, please? It would be very useful if an Azure Private Link could work With ASEs.

[2020-11-04 16:13] AjayKumar-MSFT commented on #65338
@Ayanmullick, You may use the [workaround script ](https://github.com/Azure/azure-powershell/issues/10518)to use with PowerShell.

[2020-11-04 16:18] notoriousedd commented on #63990
Thanks for your feedback.  When I tested this I only received the expected login experience for apps using MSAL and the v2 endpoint.  If it should work for old ADAL sample apps and the v1 endpoint, I will test again.  Would it be possible to document the app requirements on this article formally?

[2020-11-04 16:24] oising commented on #65357
Yes, I'm talking about app service plans -- the use case is this: I create a premium app service plan, integrate a vnet and add a few web apps. Later, I add a function to that same plan, and try to configure a non-http trigger. I can't find the setting for runtime scale monitoring. I pull out half of my hair in frustration. I create another separate function to test, and this time I create the pla

[2020-11-04 16:32] vlado101 opened #65528 "The specified DSN contains an architecture mismatch between the Driver and Application"
Hello,

I am working on a pipeline that was set up to write data using a 64-bit ODBC driver (pointing to Teradata).

I have tested the connection to a self hosted IR (the connection was a success), but when I activate the job to write data into a table (selected from the ODBC connection) I get the following error:

![image](https://user-images.githubusercontent.com/9321800/98138495-2a145980-1e91-1

[2020-11-04 16:38] AshokPeddakotla-MSFT commented on #65330
@ningweinw Messages are queued up based on their endpoints. All priority 0 messages targeting a specific endpoint will be processed before any priority 1 messages targeting the same endpoint are processed, and down the line. If multiple routes for the same endpoint have the same priority, their messages will be processed in a first-come-first-served basis. If no priority is specified, the route is

[2020-11-04 16:43] greg-walrath opened #65530 "Filtering on ApproximateLastLogonTimeStamp not behaving as expected"
When I run this command:

Get-AzureADDevice -All:$true | select-object -Property Enabled, ObjectId, DeviceId, DisplayName, DeviceTrustType, ApproximateLastLogonTimestamp | export-csv devicelist-summary.csv

I get a list of about 29,000 devices from our tenant. However, if I filter on ApproximateLastLogonTimeStamp like this:

$dt = [datetime]'2020/08/01'

I only get about 55 devices listed, even th

[2020-11-04 16:45] VikasPullagura-MSFT commented on #65524
@saxfreddie Thanks for pointing this out. We will update the document to fix this.

[2020-11-04 16:57] satterly commented on #60553
@tiny-dancer legendary one-line command fu, but no-one should be forced to use xml for anything.

[2020-11-04 16:58] GiftA-MSFT commented on #65520
@carmelgafa we'll review your feedback and get back to you shortly, thanks!

[2020-11-04 16:59] fictiont commented on #28505
@Grace-MacJones-MSFT @msangapu guys, more than a year passed and docs aren't still fixed.
I was sniffing around for a few hours till I seen this thread

PLEASE FIX THE DOCS TO BE 100% CLEAR!

@sebagomez thank you man for clarifying this, you saved me a few more hours :) It works well putting customer-id into host volume.

[2020-11-04 17:14] JamesTran-MSFT commented on #65521
@onitake
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-11-04 17:16] ChaitanyaNaykodi-MSFT commented on #65513
Hello @OD1995,  Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-11-04 17:20] goyomiller opened #65532 "Unfortunately, it's not possible to inject ILogger into Startup.cs in ASP.NET Core 3.0 anymore."
https://stackoverflow.com/questions/54570904/unable-to-resolve-service-for-type-microsoft-extensions-logging-ilogger1webap

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b09a09da-72ae-d5c0-fe25-69274054d302
* Version Independent ID: 6911ee60-7c91-f024-8788-94939567d477
* Content: [Explore .NET trace logs with ILogger -

[2020-11-04 17:24] ChaitanyaNaykodi-MSFT commented on #65522
Hello @MhAllan, Thank you for reaching out! [here](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-create-first-csharp?pivots=code-editor-visualstudio) is the quick start document using Visual Studio.
Can you also elaborate more on what blockers you faced while following the documentation for VS Code? This is help us in improving the document.

[2020-11-04 17:34] onitake commented on #65521
AFAIK, the old IAM-based SAML integration is still supported and used by some organizations. So it may be better to keep the documentation - but provide a new document that accurately describes how to integrate with AWS SSO. The title of the present article is a bit misleading.

[2020-11-04 17:36] ChaitanyaNaykodi-MSFT commented on #65526
Hello @sadiqkhoja, Thank you for reaching out! The FixedDelayRetry attribute is described [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-error-pages?tabs=csharp#fixed-delay-retry) in the document. Please let me know if you have any additional concerns.

[2020-11-04 17:36] Ayanmullick commented on #65338
Thanks @AjayKumar-MSFT , I was able to deploy the certificate using the workaround. How do I provide the path and the password for the cmdlet for binding?

`New-AzWebAppSSLBinding -WebAppName $webappname -ResourceGroupName $webappname -Name $fqdn -CertificateFilePath $pfxPath -CertificatePassword $pfxPassword -SslState SniEnabled`

[2020-11-04 17:37] writex opened #65533 "Unclear text that may be removed"
Delete from the sentence above the text "on this article" -- it is not needed. Is the intent to say that users will not receive emails for expiring cluster certificates?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30fab368-8a51-14d6-1775-defa5f0ff04f
* Version Independent ID: a8fbbe3d-063a-d6c9-b61d-1ebcfcaa1422
* C

[2020-11-04 17:42] writex opened #65534 "Comma Splice"
This sentence has a comma splice:
Secondary cluster certificate cannot be added through the Azure portal, use Azure powershell.

You could break it up with a transition. Also, capitalize PowerShell:

Secondary cluster certificate cannot be added through the Azure portal; instead, use Azure Powershell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-11-04 17:43] meyetman commented on #65475
Hi @meeldurb, there are a few options to set the column type.
If you load data from the sdk, you can use set_column_types to state that this column should be a date. https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.data.dataset_factory.tabulardatasetfactory?view=azure-ml-py#from-delimited-files-path--validate-true--include-path-false--infer-column-types-true--set-column-types-none-

[2020-11-04 17:55] SaiKishor-MSFT commented on #65334
@giatule & @kishaa We are looking into this right now and will update you soon. Thank you!

[2020-11-04 18:00] dimiboi opened #65535 "Inconsistent case in digital twin queries"
All the queries are in upper case while this one is in lower case:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9ee1efe-19d2-31f5-fa74-78809d965085
* Version Independent ID: 699a0893-ee40-069c-270c-18e2623bbf39
* Content: [Query the twin graph - Azure Digital Twins](https://docs.microsoft.com/en-us/azure/dig

[2020-11-04 18:07] sadiqkhoja commented on #65526
in which namespace/nuget this attribute lies? visual studio can't find it

[2020-11-04 18:07] asergaz commented on #64993
Hello @yahanda ,

I noticed that IoT Edge Repo provides a sample to connect a downstream device using DotNet Core SDK using X509 Authentication: https://github.com/Azure/iotedge/tree/master/samples/dotnet/EdgeX509AuthDownstreamDevice

In that sample we do not need to set the connection string with the flag `x509=true`

We would rather provide the X509 certificates in PEM format and leave the funct

[2020-11-04 18:08] WinstonHoward-MSFT commented on #65534
Thanks for the grammatical feedback, I've assigned this to the doc author to take a look.

[2020-11-04 18:10] WinstonHoward-MSFT commented on #65533
Thanks for the feedback, I've assigned this issue to the author to take a look.

[2020-11-04 18:11] markjbrown commented on #64658
Yes, that table you referred to has been updated but there was a small passage in a paragraph above which still mentioned the N+1. That has now been updated and should merge later today.

Thanks.

[2020-11-04 18:22] cgillum commented on #65513
You can use the `current_utc_datetime` property, as shown in the example here: https://docs.microsoft.com/azure/azure-functions/durable/durable-functions-overview?tabs=python#monitoring

[2020-11-04 18:22] msjuergent commented on #65524
PR with correction of the link merged.

[2020-11-04 18:27] cgillum commented on #65513
But, yes, it looks like we need to update this article to mention the Python APIs.

[2020-11-04 18:28] onitake commented on #65521
Here's a better article from AWS: https://docs.aws.amazon.com/singlesignon/latest/userguide/azure-ad-idp.html

[2020-11-04 18:33] krispenner commented on #65338
@Ayanmullick I believe `CertificateFilePath` and `CertificatePassword` are for uploading a certificate, since the managed certificate is already available you will need to specify the thumbprint of it using the `Thumbprint` parameter instead. You will need to dynamically retrieve the thumbprint of the newly created managed certificate similar to how the workaround template does it.

[code]

[2020-11-04 18:37] mx-iao commented on #65520
Thanks for catching this. I've opened a PR to update the docs

[2020-11-04 18:43] SatishBoddu-MSFT commented on #65535
@dimiboi Thanks for the feedback!
I have assigned the issue to the content author for further review.

[2020-11-04 18:44] Ayanmullick commented on #65338
The binding fails due to some reason, @AjayKumar-MSFT and @krispenner

![image](https://user-images.githubusercontent.com/17693249/98155210-7bc1e180-1e9b-11eb-869e-0227d42eb797.png)

[2020-11-04 18:55] Ayanmullick commented on #65338
That worked. Thanks @AjayKumar-MSFT and @krispenner. It'd be great if a certificate creation cmdlet could be added to Az.Websites PowerShell module

[2020-11-04 18:57] WinstonHoward-MSFT commented on #65136
Hi @kieronlanning ,

This is the `.cscfg` file I used
[code]

I queried the test setting such:

In code:
``
var setting = RoleEnvironment.GetConfigurationSettingValue("Test");
``

In query:
``
xpath="/RoleEnvironment/CurrentInstance/ConfigurationSettings/ConfigurationSetting[@name='Test']/@value"
``

[2020-11-04 18:57] BryanTrach-MSFT commented on #65517
@difatkulbayanova Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-04 18:58] BryanTrach-MSFT commented on #65519
@ericsampson Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-04 19:04] BryanTrach-MSFT commented on #65507
@Jirapong Thank you for your question. Can you please share with us the URL of the doc that you are having issues with?

Please note that we scope issues on this repro to feedback related to the docs. If you have a product question, please post it on Microsoft Q&A or Stack Overflow. Thank you for your understanding.

[2020-11-04 19:05] sean-keane25 opened #65539 "Default resource providers"
This documentation states that "By default, many resource providers are automatically registered." but does not indicate which resource providers are automatically registered. Where do I obtain a list of the resource providers that are automatically registered?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e0f4357-f7

[2020-11-04 19:06] WinstonHoward-MSFT commented on #65136
If you really need to to __set__ an XML property in your ``.csdef`` you should write a DOM Parser like [this](https://docs.microsoft.com/en-us/dotnet/standard/data/xml/reading-an-xml-document-into-the-dom) to read the XML in, then change the property according to your xpath query (see how I queried the data above) then write out the new XML.
-
The important thing is these XML files are used for th

[2020-11-04 19:15] SubhashVasarapu-MSFT commented on #65327
@RonnieQuan, Appreciate your patience.

1.What are the difference between these three skus? so each one ties to a zone?
ErGw1AZ
ErGw2AZ
ErGw3AZ
**---> The difference in the SKUs is the number of VMs - not the zone that the gateways instances are deployed across.**

2.When create zone redundancy gateway, the gateway is deployed across multiple zones, which SKU we should use?
ErGw1AZ or ErGw2AZ or E

[2020-11-04 19:18] cameronlarue opened #65540 "Incorrect global variable name in documentation"
I'm pretty sure you're using both ${factoryName} and ${dataFactoryName} in this tutorial. At the top, when setting up globals, you use ${factoryName}. But then in code lower down the page, you reference ${dataFactoryName}.

I was getting a resource doesn't exist error until I figured that out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-11-04 19:21] SadiqhAhmed-MSFT commented on #65278
@Lahiru89 I hope the previous post answered your query. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-04 19:21] #65278 closed

[2020-11-04 19:22] jeevansd commented on #65521
@onitake Azure AD does not support AWS SSO. It is a different product. So we do not recommend to use this approach as describe in the article you have given above. I will add this as a note in our main article.

[2020-11-04 19:23] jeevansd commented on #65521
#please-close

[2020-11-04 19:23] #65521 closed

[2020-11-04 19:30] antaki93 commented on #65493
Also, I forgot that executing network operations in the main thread in Android is a bad idea. **I would expect to see _android.os.NetworkOnMainThreadException_ here.** Another solution can look like
[code]

[2020-11-04 19:40] saxfreddie commented on #65524
The mentioned page has not yet been corrected.
There’s a link in it (https://help.sap.com/http.svc/rc/011000358700000244612011e/9.3/en-US/B1_Hardware_Requirements_Guide.pdf) which is broken.

[2020-11-04 19:41] SadiqhAhmed-MSFT commented on #65431
@SeaGT Thanks for your patience in this matter. Reg: your query, it depends on the type of customer. It is applicable to MCA only. Link : https://docs.microsoft.com/en-us/azure/cost-management-billing/understand/pay-bill

[2020-11-04 19:52] baanders commented on #65535
Hi @dimiboi, I've updated the formatting of this query to uppercase in PR [#136667](https://github.com/MicrosoftDocs/azure-docs-pr/pull/136667).

Since this is a straightforward edit, I'll have Git automatically close this issue when the PR with the fix is merged. However, you can still feel free to comment back in the thread with additional comments or questions.

Thanks!

[2020-11-04 19:54] #65535 closed

[2020-11-04 19:54] avpdm opened #65541 "Graph API to disable user sign-ins and installation of an app"
[Enter feedback here]
Can you please provide Graph API to Disable user sign-ins for an enterprise app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f07ca31-dd65-9b05-186b-429eb48f91f8
* Version Independent ID: 3229b6cb-5833-cc86-ac18-95ce512182ff
* Content: [Disable user sign-ins for an enterprise app in Azure AD](h

[2020-11-04 20:28] wwlorey opened #65543 ""Production" tree item does not include "Open in Portal" menu item"
The "Production" tree item referenced in the docs doesn't have an "Open in Portal" menu item. It should instead reference the static web app tree item which does have that "Open in Portal" menu item.

![image](https://user-images.githubusercontent.com/22795803/98164241-d73ea000-1e98-11eb-8fb0-503e69dcb013.png)
![image](https://user-images.githubusercontent.com/22795803/98164257-dad22700-1e98-11eb-

[2020-11-04 20:36] wwlorey opened #65544 "[Suggestion] Avoid the Azure Portal in Static Web Apps tutorial"
The linked tutorial begins and ends with steps that are to be followed in VS Code. In the middle of the tutorial, the user is instructed to open the portal.

The info available in the portal is also accessible in the VS Code extension. I think it could be confusing for new users to be exposed to the portal which has a lot of info (perhaps more than a new user needs) when the VS Code experience is

[2020-11-04 20:42] #65338 closed

[2020-11-04 20:51] simonvane commented on #36178
Yes, it does. That's where I had the problem.

[2020-11-04 20:55] samirvora-MS opened #65545 "Data Factory Schedule Trigger setting"
Data Factory scheduled trigger has advanced recurrence option which is not listed in this document
![image](https://user-images.githubusercontent.com/68021697/98166836-aa48b800-1ead-11eb-88c9-1b7e4541154f.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89177180-caeb-e2e1-5614-60719f593672
* Version Independent ID:

[2020-11-04 21:14] RonnieQuan opened #65546 "Use ARM to Deploy Managed VNet"
Can you please confirm if ARM can be used to deploy managed vnet?

Do you a example or document?

Looks like rest API is documented https://docs.microsoft.com/en-us/rest/api/datafactory/managedvirtualnetworks/createorupdate
But ARM manual, I don't see this resource type,  https://docs.microsoft.com/en-us/azure/templates/microsoft.datafactory/allversions

[Enter feedback here]

---
#### Document De

[2020-11-04 21:16] julieMSFT commented on #37606
#please-close

[2020-11-04 21:16] #37606 closed

[2020-11-04 21:19] markjbrown commented on #64675
I have updated this article to note that this must be a non-zero value. Should appear later today or tomorrow.

thanks.

[2020-11-04 21:19] markjbrown commented on #64675
#please-close

[2020-11-04 21:19] #64675 closed

[2020-11-04 21:23] RonnieQuan commented on #65546
There is one incomplete arm example https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment#example-parameterizing-an-existing-azure-databricks-interactive-cluster-id
showing resource type  "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints"
so wondering if you have a document or example for Microsoft.DataFactory/factories/managedVirtualNe

[2020-11-04 21:42] SaurabhSharma-MSFT commented on #65222
@rajatbagchi As mentioned in the [uservoice](https://feedback.azure.com/forums/270578-data-factory/suggestions/37560658-schedule-trigger-add-concurrency-flag-to-prevent) you can set the concurrency at pipeline level.  We do not have any other place to set the concurrency for a scheduled trigger, however, you can set max concurrency level for a tumbling window trigger.

[2020-11-04 22:03] billdeitrick opened #65548 "Get-AzRecoveryServicesVaultSettingsFile Needs to Include Certificate Parameter"
The `Get-AzRecoveryServicesVaultSettingsFile` cmdlet is recommended here as a means of retrieving the vault settings file. The example command does not have the `-Certificate` parameter which is [required for all parameter sets](https://docs.microsoft.com/en-us/powershell/module/az.recoveryservices/get-azrecoveryservicesvaultsettingsfile?view=azps-5.0.0). Could you consider updating this example a

[2020-11-04 22:07] artisticcheese opened #65549 "Vmware migration targets non-existent storage account for boot diagnostics"
Followed through steps to create replication for agentless VMware migration and enabling replication fails with error below. This storage account does not exist. There are storage accounts with similar name in this resource group but not this specific one. It happens both via UI or powershell enablement of replication.

[code]

Template which is being submitted is below which fails

[code]

---
##

[2020-11-04 22:18] msjuergent commented on #65524
I checked, it works for me. New link is in the published article meanwhile. Though I did not change the date of the article

[2020-11-04 22:49] ChiragPavecha commented on #65512
Submitted https://github.com/MicrosoftDocs/azure-docs-pr/pull/136691

[2020-11-04 23:06] durayakar opened #65553 "Copy Button does not work for PowerShell samples"
Copy Button does not work for PowerShell samples on this page...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d429ecd5-657d-35fc-fbe5-d8131c4da484
* Version Independent ID: 5b51f1ff-c0b2-4810-7c05-b867a9aa06af
* Content: [Azure Cloud Shell Quickstart - PowerShell](https://docs.microsoft.com/en-us/azure/cloud-shell/qu

[2020-11-04 23:09] NunoBem commented on #47611
@taimila @gfaraj @PaulARoy do you guys have an ios app, and if so, after de "Sign in with Apple" it asks to register the user, and if so, have Apple allow it?

[2020-11-04 23:16] JAK1047 commented on #65274
Yes we're selecting "No, sign in to this app only" since we're mainly supporting BYOD users who might have other Microsoft products we don't want to interfere with. Without MFA we get the prompt a single time for consent on first launch then the user does not receive it again unless they remove their subscription and re-subscribe. Same with MFA enabled. It's only when the conditional access sessio

[2020-11-04 23:25] ericsampson commented on #65519
Thanks @BryanTrach-MSFT ! I also noticed that the product FAQ page is also missing F#:

https://azure.microsoft.com/en-us/services/app-service/static/#faqs

[2020-11-04 23:45] bkgoksel opened #65554 "AKS-Azure PostgreSQL DB connection page doesn't explain how to connect"
The page offers some best practices for improved performance in the connections, but doesn't actually explain how to connect to Azure PostgreSQL DBs from AKS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 702c42c6-2f4c-6f58-6f7e-09d5d1545705
* Version Independent ID: 346b5b91-d9c0-4b13-0897-e8155f476fae
* Content: [Co

[2020-11-04 23:51] zzgzy opened #65555 "Missing information"
[Enter feedback here]

This page should mention an important information about the key to the log analytics workspace will change after the migration happened. People who are saving the primary key to the Key Vault should be reminded to rotate the secret accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00ee3

[2020-11-04 23:55] onitake commented on #65521
That makes no sense. You're supporting an older product (AAD integration via AWS IAM), but not the one recommended and supported by the vendor (AWS SSO)?

In any case, my biggest issue with the article is that it names AWS Single Sign-On in the title, but doesn't cover the AWS product of that name. If you're not going to provide documentation that covers the actual AWS SSO setup, then please at le

[2020-11-04 23:58] avpdm opened #65556 "I want to disable all future user consent operations to for specific add-in"
I want to disable all future user consent/installation operations to for specific add-in. Can you please guide me how we can do it in the portal and what is the Graph API that we need to use to perform the action.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 579c02d4-7be2-a892-90a6-b42104427215

[2020-11-05 00:00] julieMSFT commented on #64745
@ShaneOsborne Hi Shane, thank you for bringing this to our attention. I have updated the screen shot and text. You should see the update in the next day or so. I will go ahead with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2020-11-05 00:00] julieMSFT commented on #64745
#https://github.com/MicrosoftDocs/azure-docs-pr/pull/136698

[2020-11-05 00:03] julieMSFT commented on #64745
#reassign:julieMSFT

[2020-11-05 00:04] julieMSFT commented on #64745
#please-close

[2020-11-05 00:04] #64745 closed

[2020-11-05 00:05] salus-watson opened #65558 "Closed Parenthesis in the wrong place"
The Code snippet with the following code:
[code]

Should be this instead:

[code]

And this one:
[code]

should be:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea11ca51-2d51-8328-09d7-2ee9944e5751
* Version Independent ID: 2077160d-3c5f-33d1-4d14-43a758071a76
* Content: [Getting started with Microsoft Azure M

[2020-11-05 00:06] davidmrdavid commented on #65513
Thanks for the heads up @cgillum, and thanks for this issue @OD1995 !!

I'm updating the docs in this PR to include Python-specific recommendations: https://github.com/MicrosoftDocs/azure-docs/pull/65557

[2020-11-05 00:13] BharathNimmala-MSFT commented on #65555
@zzgzy Thanks a lot for bringing this to our notice, we will review this information with required team and update the document accordingly.

[2020-11-05 00:20] SaurabhSharma-MSFT commented on #65540
@cameronlarue Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-05 00:21] SaurabhSharma-MSFT commented on #65523
@kromerm Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-11-05 00:23] SaurabhSharma-MSFT commented on #65545
@samirvora-MS Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-11-05 00:47] runceel commented on #65526
@sadiqkhoja
I found the attributes on `Microsoft.Azure.WebJobs` v3.0.23. As now, you have to update the package manually.

[2020-11-05 00:58] abatishchev opened #65559 "Parameter 'osDisk.name' is not allowed"
I tried a snippet from the sample as follows:

[code]
and got the following error:

[code]
The API version was `2019-06-01`.

Please check with the PG and update the example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f54a1dea-9a23-a032-33c8-060aa893a957
* Version Independent ID: bc24822f-2075-cdec-ccd6-2a74a61a372

[2020-11-05 01:06] BharathNimmala-MSFT commented on #65532
@goyomiller Thank you for reaching out. the [document ](https://docs.microsoft.com/en-us/azure/azure-monitor/app/ilogger#capture-ilogger-logs-from-startupcs-and-programcs-in-aspnet-core-apps) already calls the below as the note.

`In ASP.NET Core 3.0 and later, it is no longer possible to inject ILogger in Startup.cs and Program.cs. See https://github.com/aspnet/Announcements/issues/353 for more d

[2020-11-05 01:07] MarileeTurscak-MSFT commented on #65530
@greg-walrath
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-05 01:11] BharathNimmala-MSFT commented on #65548
@billdeitrick Thank you for bringing this to our notice, we will further review it and update the document accordingly.

[2020-11-05 01:14] BharathNimmala-MSFT commented on #65539
@sean-keane25 Thank you for your query, our team will further review it and get back to you at the earliest.

[2020-11-05 01:16] MarileeTurscak-MSFT commented on #65541
@avpdm
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-05 01:16] BharathNimmala-MSFT commented on #65549
@artisticcheese Thank you for reaching out , our team will further review it and get back to you at the earliest.

[2020-11-05 01:22] SaiKishor-MSFT commented on #65470
@kamilzzz

1. when a VPN Gateway in a single region is down then onpremise to cloud connectivity would still work because we do have another VPN Gateway in a secondary region (and working app there)

Depending upon whether you are using BGP based VPN or not, you can control the routing behavior for traffic from on-premise to the cloud services either automatically or manually. (If using BGP, it al

[2020-11-05 01:30] shenqianjin commented on #65518
https://docs.microsoft.com/en-us/azure/traffic-manager/quickstart-create-traffic-manager-profile#view-traffic-manager-in-action

--> item 2.

[2020-11-05 01:35] MarileeTurscak-MSFT commented on #65085
Hi @joshmachnik,

I'm sorry to hear that! Can you please share a screenshot of the Overview page on your B2C tenant?

![image](https://user-images.githubusercontent.com/13383753/98171174-25a56c00-1ea4-11eb-8e71-ec60bcaaa389.png)

Meanwhile I will check with the product team to see if anything changed about that feature.

[2020-11-05 01:40] abatishchev commented on #65559
Once I removed `name` I'm got another error:

[code]

[2020-11-05 01:43] MarileeTurscak-MSFT commented on #65181
Sorry if I am misunderstanding but it looks like it is saying that it did not run the assessment. What data are you hoping to see?

Did you configure the VMS for adaptive controls as mentioned in the guide?

[2020-11-05 02:06] sidkri opened #65560 "Azure Functions error handling and retries needs some clarifications/corrections"
In this section of [the retries docs page](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-error-pages?tabs=csharp#trigger-specific-retry-support), it states "By default, these triggers retry requests up to five times."  The default for Service bus is actually 10.  [Docs page that says this](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-dead-let

[2020-11-05 02:07] BryanTrach-MSFT commented on #65519
@ericsampson We reached out to the product group to get official confirmation. They mentioned that the doc will remain for now as the languages listed are the ones they're officially supporting in public preview. While you might be able to run other languages in public preview beyond what's listed in the doc, these would be considered unsupported at this time.

They did want me to mention that the

[2020-11-05 02:07] #65519 closed

[2020-11-05 02:07] MhAllan commented on #65522
That is, thank you, I struggled to find it by google all the time getting VSCode examples

[2020-11-05 02:07] sidkri commented on #65560
@jeffhollan FYI

[2020-11-05 02:09] #65522 closed

[2020-11-05 02:10] BryanTrach-MSFT commented on #65553
@durayakar We are sorry to hear you encountered this issue.

We just tried the copy button in Chrome, Firefox, and Edge. We tried ~10 different copy buttons in each browser and the data successfully copied to our clip board and we were able to paste it into a document.

Can you please verify that you're still having the issue? If you are, what browser and operating system are you using?

We look f

[2020-11-05 02:37] D-Jeffrey opened #65561 "Sample code has a wrap which cause example to fail as presented"
There should be 10 lines of code, the last line is wrapped from line 10.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df8fdc8c-e174-0a4c-44f7-0de94bc31ed4
* Version Independent ID: e1bd9924-b106-950b-4408-c62cfe4fd784
* Content: [Manage Office 365 services using Azure Automation](https://docs.microsoft.com/en-us/azur

[2020-11-05 02:53] KrishnaG-MSFT commented on #65561
@D-Jeffrey Thanks for your comment! We will review and provide an update as appropriate.

[2020-11-05 03:03] cakriwut opened #65562 "The page title and left navigation is not same."
[Enter feedback here]
The left navigation : Differences between delegated and application permission
Page title  : How to recognize differences between delegated and application permissions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 302bd043-95bf-9186-53ee-62c749286044
* Version Independent ID: 5bb9f81f-53e6-04aa-e

[2020-11-05 03:50] AnuragSharma-MSFT commented on #65554
@bkgoksel Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-11-05 04:16] vinayakdshenoy opened #65565 "Password Spray PHS requirements"
[Enter feedback here]

Hi,

I am the feature triad CXP PM for Azure AD Identity Protection. In speaking with the data scientist team and the feature PM, I am submitting a request for change (edit) to the definition of Password Spray. Please could we mention that for this to work, we need for the Password Hashes to be sync'd to the cloud but, it's not necessary that PHS be a method of authenticatio

[2020-11-05 04:20] reddyeshwar17 opened #65566 "how to avoid using VM in connected factory demo"
I was trying to deploy the Azure IOT accelerators connected factory solution from this location- https://www.azureiotsolutions.com/Accelerators, by following MS docs.

This deployment is creating public IP’s and downloading some images from market place but my Organization is not allowing the public IP’s and market place images.

I have downloaded the code from git repo- https://github.com/Azure/a

[2020-11-05 04:22] #64991 closed

[2020-11-05 04:33] SnehaAgrawal-MSFT commented on #65543
@wwlorey Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-11-05 04:35] SnehaAgrawal-MSFT commented on #65544
@wwlorey Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-11-05 04:44] AshokPeddakotla-MSFT commented on #65493
@antaki93 Glad to hear you got it working with a work around. Appreciate for sharing the resolution.
Notifying author @wesmc7777 for further review and update the doc if necessary.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-05 04:44] #65493 closed

[2020-11-05 04:57] AshokPeddakotla-MSFT commented on #65558
@salus-watson Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-05 04:58] SubhashVasarapu-MSFT commented on #65189
@artmasa, Appreciate your patience. ARM support for Private link is evolving now. I would recommend you post your query to this mail at AzCommunity@microsoft.com. We will direct you to the SME team for further assistance.

Also, as a quick check please go through this https://docs.microsoft.com/en-us/cli/azure/appconfig?view=azure-cli-latest#az_appconfig_update  with “--enable-public-network true”

[2020-11-05 04:58] #65189 closed

[2020-11-05 04:58] HarithaMaddi-MSFT commented on #65546
@RonnieQuan - Thanks for posting the query. I am looking into it and will update you shortly.

[2020-11-05 04:58] paulbouwer commented on #64991
@Subhraj07 - I see that you have closed this issue. The details that you posted in your last comment all look correct. The next step was to understand how you created your AKS cluster, and then what version of kubectl and client os you were using.

Did you manage to find out what the issue was?

[2020-11-05 04:59] HarithaMaddi-MSFT commented on #65528
@vlado101 - Thanks for posting the issue. I am looking into it and will get back to you soon.

[2020-11-05 05:07] psmanhas commented on #65559
@abatishchev Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-11-05 05:08] psmanhas commented on #65559
@jboeshart Can you please check and add your comments on this doc update request as applicable

[2020-11-05 05:16] Wuhao1627003 commented on #11491
@twooley Any update on this? UserTokenProvider now only allows reading auth from cache, but I don't know how to write my auth to cache.

[2020-11-05 05:19] bluefooted commented on #63828
Hi @lyceus !  BYOL and AHB are the same, using the license model feature of the SQL IaaS agent extension is the new way to deploy SQL VMs using Azure Hybrid Benefit. Before this feature, you had to deploy a BYOL image to use AHB, and thus to go back to PAYG licensing you would have to redeploy the VM. Now you can easily switch between the two. This blog talks a little bit about the feature: https:

[2020-11-05 05:25] haalcala opened #65567 "Can you please provide sample CUSTOM applications using SAML?"
[Enter feedback here]

Can you please provide sample CUSTOM applications using SAML?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ea1437d-a485-ed34-7706-c5be45ff3d8f
* Version Independent ID: f265f582-1894-bef9-9b81-a6bbd34b4381
* Content: [Quickstart: Set up SAML-based single sign-on (SSO) for an application in you

[2020-11-05 05:32] MicrosoftGuyJFlo commented on #65565
#assign @MicrosoftGuyJFlo

[2020-11-05 05:36] MicrosoftGuyJFlo commented on #65565
Taking to internal email. #please-close

[2020-11-05 05:36] #65565 closed

[2020-11-05 05:46] VikasPullagura-MSFT commented on #65274
@JAK1047
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-11-05 05:46] VikasPullagura-MSFT commented on #65274
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2020-11-05 05:46] anastasia-ms commented on #65558
Ah.  Will fix this! Thank you.

On Nov 4, 2020, at 8:57 PM, AshokPeddakotla-MSFT <notifications@github.com> wrote:

﻿

@salus-watson<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fsalus-watson&data=04%7C01%7Cv-stharr%40microsoft.com%7C8c9218e3201f4cee0ff008d88147556b%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637401490664817796%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4w

[2020-11-05 05:47] SadiqhAhmed-MSFT commented on #65287
@Chingleberry The option should be visible in the customer’s subscription.

![image](https://user-images.githubusercontent.com/44458118/98202546-3fa08680-1f58-11eb-9341-8c49ba4aad6a.png)

[2020-11-05 05:50] VikasPullagura-MSFT commented on #65524
@msjuergent Thanks for fixing this.

@saxfreddie The document is fixed now. Please check at your end.

If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-11-05 05:50] #65524 closed

[2020-11-05 05:50] YutongTie-MSFT commented on #53602
@Berndinox Hello, I would recommend you to open a new ticket since this one is too old and provide the document you are referring to so that wo can help to address quick. Thanks!!!

[2020-11-05 05:53] manurm1 opened #65568 "Need explanation for setting "Read-Write" default for OS Disk"
One of Unified Support Customer - Hilti, had brought this request to know reason for setting OS disk cache policy as "Read-Write".

In the document, we do confirm "ReadWrite" to be default host caching for OS disk, but we don't even provide any explanation (even small statement) for it.

Request to add more details in the document, so it can be passed to this customer and also, avoid other custome

[2020-11-05 06:07] Anmolgan81 commented on #65204
@HarithaMaddi-MSFT we are trying to eliminate the error that we are facing, we also came across one issue that was related to writing data from staging to destination and if watermark column is datetime, both at source and destination, ADF pipeline fails to run and we get an error at source as below: Failure happened on 'Source' side. 'Type=System.Data.SqlClient.SqlException,Message=Conversion fai

[2020-11-05 06:14] psmanhas commented on #65568
@manurm1 Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-11-05 06:14] psmanhas commented on #65568
@roygara Can you please check and add your comments on this doc update request as applicable

[2020-11-05 06:19] AjayKumar-MSFT commented on #65338
@Ayanmullick, Glad to know it works now. We have shared your feedback with the concerned product/content owner to update the doc as appropriate. Thanks for your feedback and update.

[2020-11-05 06:24] tom-blake commented on #20348
@yoshir6

Cheers! Managed to find the `subnetResourceId` in the end on a SO post - MSFT really need to improve those docs! As an update for anyone else, my solution was:

[code]

[2020-11-05 06:44] KennethMLdk opened #65569 "Conditional access rules for access portal"
Documentation states that Azure portal is included in the Microsoft Azure Management application, but Graph isn't. However when you access the portal some Graph API is called and the access to portal can be blocked using a conditional access policy including all apps and excluding Microsoft Azure Management (actual Azure supportcase: [REG:120102824010777] Conditional access policy hits excluded cl

[2020-11-05 06:55] yusukekodama opened #65570 "Access control in "Scenrio1" should be with OR control"
Scenario1 - 9. Under Access controls > Grant, select the following options:

These control should be with OR since not all apps of "Office 365"  (e.g. Teams) support "Require App Protection Policy" grant control. So should be like this:
- Require approved client app
- Require app protection policy (preview)
- Require one of the selected controls

This is guided in 17:50 of this session:
https://te

[2020-11-05 07:24] yooakim opened #65571 ""Add-AzKeyVaultCertificate: Operation returned an invalid status code 'Forbidden'""
I am following this guide using a CLoud Console, when I get to the step of adding the certificate to the Key Vault I get this error:

[code]

Not sure why? Can anyone give some ideas on how to overcome this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8bf51cac-f999-cb1c-b2c8-bf5cc224ecf8
* Version Independent ID: db

[2020-11-05 07:28] ronazi opened #65572 "Broken link - https://www.powershellgallery.com/stats/packages/Az?groupby=Version"
In the page - https://docs.microsoft.com/en-us/azure/data-factory/how-to-configure-azure-ssis-ir-custom-setup

_Installing Azure PowerShell
If you select the Install Azure PowerShell type for your express custom setup, you can install the Az module of PowerShell on your Azure-SSIS IR. To do so, enter the Az module version number (x.y.z) you want from a **[list of supported ones.](https://www.power

[2020-11-05 07:33] ronazi opened #65573 "Need additional info on the page - https://docs.microsoft.com/en-us/azure/data-factory/how-to-configure-azure-ssis-ir-custom-setup"
If the user wants to install two SDKs (For ex: Oracle and also zulu) on the Azure SSIS-IR, we need to specify that the main.cmd needs to be combined for them. No detail on this is given clearly on the article. Any additional info would be helpful.
https://docs.microsoft.com/en-us/azure/data-factory/how-to-configure-azure-ssis-ir-custom-setup

---
#### Document Details

⚠ *Do not edit this section.

[2020-11-05 07:37] HarithaMaddi-MSFT commented on #65546
@nabhishek - Can you please take a look and share your thoughts.

[2020-11-05 07:45] HarithaMaddi-MSFT commented on #65528
@linda33wj - Can you please take a look and share your thoughts.

[2020-11-05 07:47] #65320 closed

[2020-11-05 07:53] mail2hjain commented on #65226
@SatishBoddu-MSFT   I am using the 1.3-nanoserver-1809 version.
Here are some screenshots indicating the same.

![blob-container](https://user-images.githubusercontent.com/64826770/98212433-995d7c80-1f69-11eb-8811-49574091d361.png)
![blob-license-file](https://user-images.githubusercontent.com/64826770/98212442-9a8ea980-1f69-11eb-9d3d-ae88de24c878.png)
![blob-license](https://user-images.githubuse

[2020-11-05 08:15] HarithaMaddi-MSFT commented on #65572
@ronazi  - Thanks for your contribution, I've addressed this issue in PR: MicrosoftDocs/azure-docs-pr#136725

The changes should be live soon. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2020-11-05 08:18] HarithaMaddi-MSFT commented on #65573
@ronazi - Thanks for posting the query. I am moving it to content author to review.

@swinarko - Can you please take a look and share your thoughts.

[2020-11-05 08:18] karataliu commented on #63375
https://docs.microsoft.com/en-us/azure/aks/cluster-configuration is the page without preview note, which is actually in preview

https://docs.microsoft.com/en-us/azure/aks/kubernetes-portal is a sample that is doing good.

[2020-11-05 08:23] kieronlanning commented on #65136
@WinstonHoward-MSFT Sorry, there's some confusion here. We need to get the certificate thumbprint via XPath from the `Certificates/Certificate` property. Properties defined via the configuration section are fine.

Taking the example from the initial issue, we want to get the thumbprint from here:

[code]

[2020-11-05 08:55] sgdesmet opened #65574 "ip-filter and X-Forwarded-For"
It is unclear from the documentation if or how `ip-filter` works behind a reverse proxy. Does it take the `X-Forwarded-For` header into account? From our tests this does not appear to be the case.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 248a0753-0fa7-1cc0-d13a-d378ab182e95
* Version Independent ID: 7efa247a-7184

[2020-11-05 08:57] saipraveen-a opened #65575 "Minor corrections to documentation"
[Enter feedback here]

[code]
In the above section, the create secret command does not work if the generated secret is used as is from the previous step. I have got it working by putting the secret in quotes (" ").

Also the kubectl apply -f is repeated in the line below the create secret.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-11-05 09:05] SvenRandom opened #65576 "The name of createUIDefinition.json is case sensitive. It should be createUiDefinition."
[Enter feedback here]
the name of createUIDefinition.json is case sensitive. It should be createUiDefinition. If you use createUIDefinition as the name, when delpoy it from Storage, you will error that
The package zip file is missing required files 'createUiDefinition.json'. The required file names are case sensitive.

Please correct the document.

---
#### Document Details

⚠ *Do not edit this se

[2020-11-05 09:09] MS-Alexander opened #65577 "Article should also cover Encryption at host ?"
I think this page should also provide information about the Encryption at host option ?
As documented here:  https://docs.microsoft.com/en-us/azure/virtual-machines/disk-encryption#encryption-at-host---end-to-end-encryption-for-your-vm-data
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16c7901b-4

[2020-11-05 09:27] dcurwin commented on #64646
Hello @NickEales  -

Thanks so much for your continued effort in improving the documentation on this issue.

First of all, we've corrected the mistake you caught, and removed the "other" from "any other extension." That change should be published in the next few hours.

Regarding the instructions about the extension being in a failed state. We had many conversations with the engineering team (whic

[2020-11-05 09:30] PaulARoy commented on #47611
Yes we have an iOS App. Apple explicitly says we should not ask for name and email again so we didn't try to push it.

[2020-11-05 09:38] ravindraP20 opened #65579 "How to enable Azure Defender for Azure MySQL Database Server"
Hello,

We have enabled Azure defender at subscription level
![DefenderOn](https://user-images.githubusercontent.com/72969399/98223709-81d9c000-1f78-11eb-935a-47d56c82b2d2.png)

and now want to enable Azure defender for Azure MySQL Database Server. But we can not find the corresponding configuration option.

We can not see the Azure MySQL Database Server in the resources to enable Azure defender.

[2020-11-05 09:40] dombat opened #65580 "TSLint depreciated"
TSLint is depreciated. Will ESLint be coming? if so, will this documentation be updated to reflect the change and what repercussions there are for existing users of the TSLint task?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4ede120-eba4-51e3-3b40-9c214375990f
* Version Independent ID: a24e2a42-dc7f-4537-ac0f-8dab

[2020-11-05 09:49] dombat opened #65581 "Roslyn-based analyzers goes to .NET API Analyser"
The link for Roslyn based analyzers goes to .NET API analyser. https://docs.microsoft.com/en-us/dotnet/standard/analyzers/api-analyzer

Which is correct? If the tool is API Analyser the text in Rosalyn analysers section should be more specific.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4ede120-eba4-51e3-3b40-9c21

[2020-11-05 10:03] Chingleberry commented on #65287
Hi

Hey Sadiqh,

Interestingly I can see that option on my Visual Studio subscription, but when using customer view (owner permissions) of an Azure subscription (CSP) it doesn't appear to be visible...

![image](https://user-images.githubusercontent.com/58812329/98226585-2692d800-1f4e-11eb-9da5-9f8bc6070911.png)

[2020-11-05 10:37] whiskeysierra opened #65582 "Ubuntu 20.04 LTS (Focal Fossa) Support"
Are there any concrete plans or a roadmap when the current Ubuntu LTS version is being supported?

Currently it fails with `Error Code 51, 'Unsupported OS'`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb8e2623-1f79-aee3-bd97-8b5f647b6980
* Version Independent ID: 6346b54d-cc8d-0b79-a6b8-f9144cfa2459
* Content: [Log

[2020-11-05 10:40] fernandocostas opened #65583 "Apparent Code error at GitHub"
Hi!

At the github page/ NodeJs code:
https://github.com/Azure-Samples/cognitive-services-quickstart-code/blob/master/javascript/TextAnalytics/text-analytics-v3-client-library.js

Where it says:
const textAnalyticsClient = new TextAnalyticsClient(endpoint,  new **TextAnalyticsApiKeyCredential**(key));

(Trying to run the code you get an error saying TextAnalyticsApiKeyCredential doesn't exist)

It

[2020-11-05 10:41] rudolphjacksonm opened #65584 "--uptime-sla Argument Does Not Exist"
The `--uptime-sla` argument doesn't exist on newer versions of the Azure CLI:

[code]
Attempting to use this flag as per the documentation results in an error:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a26e9dfe-c152-881c-5c60-e5753e0e4d2e
* Version Independent ID: e56264a6-3476-9b5f-c800-2c528129c2e2
* Cont

[2020-11-05 10:42] SubhashVasarapu-MSFT commented on #65575
@saipraveen-a, Thanks for reaching out. We will investigate and update this thread.

[2020-11-05 10:43] VikasPullagura-MSFT commented on #65556
@avpdm
Thanks for your Question! We are currently investigating and will get back on this.

[2020-11-05 10:47] akshaymatmicrosoft opened #65585 "Statement under "**Capacity Metrics**" needs to be updated with correct refresh hours frequency"
Statement under "**Capacity Metrics**" needs to be updated. This is after discussion with Storage Product Group. Previous edit on 24 hours was wrong. Also, as there are 3 docs (corresponding to queue, blobs, files) affected by change, please ensure that the below text is updated as-is (for consistency with other articles).

**Change this**
Capacity metrics values are refreshed daily (up to 24 Hour

[2020-11-05 10:48] akshaymatmicrosoft commented on #65585
#sign-off

[2020-11-05 10:50] akshaymatmicrosoft opened #65586 "Statement under "**Capacity Metrics**" needs to be updated with correct refresh hours frequency"
Statement under "**Capacity Metrics**" needs to be updated. This is after discussion with Storage Product Group. Previous edit on 24 hours was wrong. Also, as there are 3 docs (corresponding to queue, blobs, files) affected by change, please ensure that the below text is updated as-is (for consistency with other articles).

**Change this**
Capacity metrics values are sent to Azure Monitor every ho

[2020-11-05 10:50] SubhashVasarapu-MSFT commented on #65277
@juyamagu, Appreciate your patience. The doc has been updated accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-11-05 10:50] #65277 closed

[2020-11-05 10:51] akshaymatmicrosoft commented on #65586
#sign-off

[2020-11-05 10:54] akshaymatmicrosoft opened #65587 "Statement under "**Capacity Metrics**" needs to be updated with correct refresh hours frequency"
Statement under "**Capacity Metrics**" needs to be updated. This is after discussion with Storage Product Group on ICM 211204371. Also, as there are 3 docs (corresponding to queue, blobs, files) affected by change, please ensure that the below text is updated as-is (for consistency with other articles).

**Change this**
Capacity metrics values are sent to Azure Monitor every hour. The values are r

[2020-11-05 10:54] akshaymatmicrosoft commented on #65587
#sign-off

[2020-11-05 10:55] vipulsparsh commented on #65562
@cakriwut Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2020-11-05 10:55] vipulsparsh commented on #65562
@rwike77 Can you have a look ?

[2020-11-05 10:59] dennis-gropyus commented on #65582
👍 I would also like to have this fixed!

[2020-11-05 11:01] blessedwithsins opened #65588 "South Central US AZ Support"
Hi Team,

Customer is trying to deploy AKS Cluster in South Central US Region. However, he wants to create with AZ support. But when i try to deploy AKS Cluster in same region, it doesn't allow me to choose AZ.

![image](https://user-images.githubusercontent.com/26162427/98232899-3f1de500-1f84-11eb-932d-e33aed91d339.png)

Please check and comment on the same.

Regards,
Piyush Gaur

Ping me on piga

[2020-11-05 11:01] VikasPullagura-MSFT commented on #65576
@SvenRandom
Thanks for the feedback! We will update the document accordingly.

[2020-11-05 11:02] VikasPullagura-MSFT commented on #65560
@sidkri
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-11-05 11:03] VikasPullagura-MSFT commented on #65560
@craigshoemaker
Can you please check and add your comments on this doc update request as applicable.

[2020-11-05 11:05] #65576 closed

[2020-11-05 11:06] VikasPullagura-MSFT commented on #65576
Document is updated and changes will go live soon.

[2020-11-05 11:06] vipulsparsh commented on #65567
@haalcala You can have a look at this Gihub page where we have a sample and step by step instructions to configure SSO using SAML with AAD. the test application we use is AAD Saml ToolKit.
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory/saas-apps/saml-toolkit-tutorial.md

![image](https://user-images.githubusercontent.com/63580915/98233344-ee5abc00-1f84-11eb-89e2-

[2020-11-05 11:07] VikasPullagura-MSFT commented on #65571
@yooakim
Thanks for your Question! We are currently investigating and will get back on this.

[2020-11-05 11:07] vipulsparsh commented on #65569
@KennethMLdk Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-11-05 11:10] vipulsparsh commented on #65577
@MS-Alexander Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2020-11-05 11:12] psmanhas commented on #65447
@qmutz We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-11-05 11:12] #65447 closed

[2020-11-05 11:16] VikasPullagura-MSFT commented on #65586
@akshaymatmicrosoft
Thanks for the feedback! We will update the document accordingly.

[2020-11-05 11:16] vipulsparsh commented on #65580
@dombat Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-11-05 11:17] VikasPullagura-MSFT commented on #65587
@akshaymatmicrosoft
Thanks for the feedback! We will update the document accordingly.

[2020-11-05 11:17] VikasPullagura-MSFT commented on #65585
@akshaymatmicrosoft
Thanks for the feedback! We will update the document accordingly.

[2020-11-05 11:20] vipulsparsh commented on #65072
@markkuleinio Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@MicrosoftGuyJFlo  Can you look into this

[2020-11-05 11:22] vipulsparsh commented on #65453
@slebodat Can you confirm if you have the Edit role for Azure policy. What role do you have on the subscription you are trying to disable this on ?

[2020-11-05 11:26] naleczynskia opened #65589 "User-Agent security feature"
"The User-Agent cannot be spoofed since the request was already secured by the prior security features."
This is very unclear. Some example would help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2526d6f8-e90d-5ecc-dbca-14540fcad599
* Version Independent ID: e308750d-5a63-db74-9113-38cad322d48c
* Content: [Get start

[2020-11-05 11:26] swinarko commented on #65573
Thanks for your feedback, our doc has been updated and is being republished. #please-close

[2020-11-05 11:26] #65573 closed

[2020-11-05 11:27] swinarko commented on #65572
Thanks for your feedback, our doc has been updated and is being republished. #please-close

[2020-11-05 11:27] #65572 closed

[2020-11-05 11:32] VikasPullagura-MSFT commented on #65582
@whiskeysierra Thanks for your query.

Requesting you to post the roadmap queries [here](https://feedback.azure.com/forums/216843-virtual-machines). Appropriate teams will check and add comments on feedback.azure.com

[2020-11-05 11:44] slebodat commented on #65453
@vipulsparsh yes, I can. I'm subscription's owner and  tenant's GA.

[2020-11-05 11:44] VikasPullagura-MSFT commented on #65588
@blessedwithsins Thanks for your Query.

AKS clusters can currently be created using availability zones in the following regions:

Australia East
Canada Central
Central US
East US 2
East US
France Central
Japan East
North Europe
Southeast Asia
UK South
West Europe
West US 2

Please check this [document](https://docs.microsoft.com/en-us/azure/aks/availability-zones#limitations-and-region-availabili

[2020-11-05 11:44] VikasPullagura-MSFT commented on #65588
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-11-05 11:44] #65588 closed

[2020-11-05 11:47] shashishailaj commented on #65581
@dombat Thank you for your feedback . We will have this reviewed with the content team ..

[2020-11-05 11:59] AnuragSharma-MSFT commented on #65579
@ravindraP20 Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2020-11-05 12:29] joshmachnik commented on #65085
@MarileeTurscak-MSFT  I've attached a screen print. Just FYI, it's currently set back to Premium P1 billing. I had changed two of my B2C tenants to Premium P2 to see if it would make a difference, but no change. I waited over 48hrs to see before changing them back. I also opened a case with MS and was told that B2C does not have the capability to use custom greetings. I've since opened a feedback

[2020-11-05 12:38] stefandoh opened #65590 "Typo in extension logs path"
In https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/features-windows#troubleshoot-vm-extensions the following typo has been identified:

Please be aware that the path has been rewritten so that displaying the phrase <<#extensionName#>>. The additional "<#" and "#>" have to be replaced. Seems to be a github posting thingy.

Actual issue is that the path is missing an backslash. Th

[2020-11-05 12:46] #64888 closed

[2020-11-05 13:09] JayaChatterjee-MSFT commented on #65574
@sgdesmet Thank you for the question. We will review and get back to you.

[2020-11-05 13:14] corticalstack opened #65591 "Link broken to train.py"
Link is broken to train.py. URL giving 404 is:
https://github.com/Azure/azureml-examples/blob/main/code/models/fastai/pets-resnet34/train.py

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af5a2184-2f06-5c07-477c-86b2591fb2aa
* Version Independent ID: 0cbf10e2-1cc1-7eff-57a9-6bc8872e7620
* Content: [Train a model by usi

[2020-11-05 13:20] remilema opened #65592 "Error on page"
**South Central US** does not support Availability Zones - bottom of page says it does and is misleading

"Azure also offers Availability Zones support in the following regions: • US Gov Virginia • South Africa North • **South Central US**"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ef6739c-50e6-e80b-cfc1-4d7d5b5d

[2020-11-05 13:28] SadiqhAhmed-MSFT commented on #65287
@Chingleberry This is not supported for CSP.

In CSP already the usage and billing is emitted on the partner tenant which already has MPN ID linked. Hence the partner will automatically get the benefits for the customer’s deployment.

Hope this answers your query!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will g

[2020-11-05 13:28] #65287 closed

[2020-11-05 13:31] eugeneromero commented on #32068
@manya0393 I think you might be seeing the same bug I reported [here](https://github.com/terraform-providers/terraform-provider-azurerm/issues/9170). I also listed a workaround in that bug report, hopefully this helps you, until the issue is properly fixed.

[2020-11-05 13:34] josef-mende-diva-e opened #65593 "Split into subpages or make interactive"
The page is incredibly long and hence hard to navigate.
I was trying to find all roles that contain a certain permission. So I obviously used "find on page" and it brings me to some place on the page with every find.
The problem is that I have no idea what section I'm in at the moment. I have to scroll up to the headline every time.
That's because the page is inflated so the sections are too broad

[2020-11-05 13:39] louisbherer commented on #65000
Had the same problem. Message changed this morning to : "error_code":"CUSTOMER_UNAUTHORIZED","message":"Unable to grant read/list permission to Databricks service principal to KeyVault \'https://mykv.vault.azure.net/\': key not found: https://management.core.windows.net/"}'

[2020-11-05 13:40] SatishBoddu-MSFT commented on #65226
@mail2hjain Thank you, this is very helpful, let me check with my team.

[2020-11-05 13:54] simondmorias commented on #65000
The outcome from support was that this is only supported when using a user account AAD token. It will not work for a service principal. Hopefully they will update the docs to show the limitation.

[2020-11-05 14:09] tanteemmie commented on #45738
I tried to implement lifecycle management for append blob, but it doesn't remove the items, even after waiting for 96hours.
I have blobs in the container log that are last modified in March 2020 so definately older than 20 days. If I look in the appendBlob properties it says container: logs.

this is the code view for the lifecycle management
`{
  "rules": [
    {
      "enabled": true,
      "nam

[2020-11-05 14:25] kishaa commented on #65334
@SaiKishor-MSFT I tried to enable add-on mentioned on https://docs.microsoft.com/en-us/azure/aks/http-application-routing but its not working either

[2020-11-05 14:27] yahanda commented on #64993
Hi @asergaz

I'm sorry it takes a long time to reply and I have made some mistakes.

I have accidentally used the sample of [EdgeDownstreamDevice](https://github.com/Azure/iotedge/tree/master/samples/dotnet/EdgeDownstreamDevice
) instead of [EdgeX509AuthDownstreamDevice](https://github.com/Azure/iotedge/tree/master/samples/dotnet/EdgeX509AuthDownstreamDevice
).
As you pointed out, the EdgeX509Auth

[2020-11-05 14:34] MGoedtel commented on #65561
@D-Jeffery - I'll bug this and get it fixed today to remove the carriage return and merge the remaining arguments with the command-line.  Thanks for bringing this to my attention.  #please-close

[2020-11-05 14:34] #65561 closed

[2020-11-05 14:43] MonikaReddy-MSFT commented on #65592
@remilema -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-11-05 14:56] amanmcse commented on #65454
@danrich0 Yes, when orchestration step 5 is executed claim newPhoneNumberEntered always exists. If, due to preconditions, orchestration step 5 is skipped, newPhoneNumberEntered will not exist. When checking `<Precondition Type="ClaimsExist" ExecuteActionsIf="false">` in orchestration step 6, we check which all claims are present in the claims bag at that moment in the user journey. So, the step 6

[2020-11-05 15:00] amanmcse commented on #65458
@sgdesmet  Only signed JWTs are supported. As of now, we don't support JWE in general.

[2020-11-05 15:00] #65458 closed

[2020-11-05 15:00] VikasPullagura-MSFT commented on #65590
@stefandoh Thanks for pointing this out. We will update the document as appropriate.

[2020-11-05 15:01] SwathiDhanwada-MSFT commented on #65472
@mikeelliottuk I have executed the wget command in Azure CLI and in Linux environment and I was able to download without any issues. Kindly let me know in which tool were you facing this issue.

Reference snapshots

Linux:
![image](https://user-images.githubusercontent.com/48976275/98257429-b021c480-1fa5-11eb-8472-99d9aac4a447.png)

Azure CLI
![image](https://user-images.githubusercontent.com/4897

[2020-11-05 15:10] Canis-Lupis opened #65596 "User Administrator could use a clarification"
The description for User Administrator states that this role allows for managing of Groups as well.  Shared Mailboxes show up under Groups in the O365 Admin Center.  However, people with User Administrator role cannot manage Shared Mailboxes.   I think this should be clarified so that people realize that Shared Mailboxes don't really count as Groups even though they show up under Groups.

Also, if

[2020-11-05 15:10] deepend-dev commented on #37163
just add below property:
[code]

[2020-11-05 15:15] BillGatesIII opened #65597 "Second screeshot has the same Policy name as the first one"
In the second screenshot the Policy name is the same as in the first screenshot. I guess it should be different.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9561a367-20d8-62e9-57e5-694bab4c0878
* Version Independent ID: a7c757e0-052b-fc42-70c5-030081baa573
* Content: [Configure authentication s

[2020-11-05 15:26] jozbone opened #65598 ""Status check with slot" section appears to be incorrect"
Is the host.json for the Functions 2.0 setting correct in the "Status check with slot" section?

The same wasn't working for me, but then I came across this doc on durable functions performance (https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-perf-and-scale#storage-account-selection), which does work. It appears to be doing the same thing with the storage account s

[2020-11-05 15:29] goyomiller commented on #65532
well the document is just wrong.

the first example show how to add ILogger to PRogram.cs so as to be able to
use it in Startup.cs but thisisnt supported and throws a runtime exception
in core 3.0

Greg

On Wed, Nov 4, 2020 at 8:06 PM BharathNimmala-MSFT <notifications@github.com>
wrote:

--
-g

[2020-11-05 15:30] SumanthMarigowda-MSFT commented on #65456
@yanxiaodi The PS Cmdlets looks correct,
![Capture](https://user-images.githubusercontent.com/44606021/98260876-d3e70980-1fa9-11eb-9759-460512f4134d.PNG)
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-05 15:30] #65456 closed

[2020-11-05 15:44] v-chkinn opened #65599 "Info on Teaming"
Reading through the doc,  I'm not certain if Teaming is or is not allowed.  It would be nice to call this out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c983ce71-9558-9f6e-14d9-feb6f19fe375
* Version Independent ID: 99f023ee-50d7-48e3-74bf-070f818cc639
* Content: [Create and manage Windows VMs in Azure that use mu

[2020-11-05 16:01] LijuV-MSFT opened #65600 "Policy switch is mandatory with ResetExclusionSettings"
**Documentation says**
Reset disk exclusion setting with PowerShell
`Enable-AzRecoveryServicesBackupProtection -Item $item -ResetExclusionSettings -VaultId $targetVault.ID`

**Error I received:**
[code]

**Successful command:**
`Enable-AzRecoveryServicesBackupProtection  -Policy $Pol -Item $item -VaultId $($Vault.ID) -ResetExclusionSettings`

---
#### Document Details

⚠ *Do not edit this section.

[2020-11-05 16:02] abatishchev commented on #65559
Here's a [quick start template](https://github.com/Azure/azure-quickstart-templates/blob/master/101-vm-from-user-image/azuredeploy.json) which looks very different, first creates a resource of type `Compute/images` and references it, namely:

[code]

[2020-11-05 16:13] RonnieQuan commented on #65546
Really appreciate your guidance, please respond at your earliest convenience.

[2020-11-05 16:15] ii-batman opened #65601 "How to block access from selected regions but allow from other regions and enforce MFA every 1hr?"
The doc shows how to grant access but I want to block access from everywhere except Spain for example (Trusted location) and I want users in Spain to be prompted for MFA every 1hr.

Is this possible with CA? Is there a way of doing this?

Thanks, M

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d1666c5-5bed-be10-287e-

[2020-11-05 16:15] RonnieQuan commented on #65491
@TravisCragg-MSFT  Appreciate if you could confirm the Azure managed key for managed disk is not multi-tenant key, could you please respond at your earliest convenience?

[2020-11-05 16:15] asergaz commented on #64993
Thanks @yahanda ,

Like I mentioned, not all SDK lamnguages behave the same. For Node you explicitly need to add `x509=true` in the connection string.

See: https://github.com/Azure/azure-iot-sdk-node/blob/master/device/samples/simple_sample_device_x509.js

@kgremban do we want to enhance this doc to mention that?

Thanks!

[2020-11-05 16:17] RonnieQuan commented on #65489
@tamram  @VikasPullagura-MSFT
Thank you so much for the information, yes it helps.
May I clarify when we say scoped to service, meaning in the entire Azure space, there is only one shared managed key for Queue?
and same for table?

Looking forward to your reply!

[2020-11-05 16:21] TheUniversalSpider commented on #65000
Thanks for the info @simondmorias

[2020-11-05 16:26] Iahkcuba opened #65603 "Station manager"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ffaa109-a657-db74-2a16-a59b481a0894
* Version Independent ID: ba2ffc07-b06c-7416-0700-63143ec3efcc
* Content: [Register authentication info to reset your own password - Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/user-help/activ

[2020-11-05 16:28] MaxMelcher opened #65604 "Subnet size not specified for vnet integration"
Can you please provide guidance how big the subnet has to be for vnet integration? What are the limitations if you pick a small one, e.g. /28

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9dfacd9d-6903-1cd0-2db7-110b70e14d3b
* Version Independent ID: 4c3e1d9f-ba8e-5dfd-8dd9-f1695456775f
* Content: [Networking overview

[2020-11-05 16:28] YutongTie-MSFT commented on #65591
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-05 16:38] YutongTie-MSFT commented on #65583
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-05 16:41] jboeshart commented on #65559
I'm seeing that this is still a valid property and there are a number of quickstart templates that use it, so I'm not sure why you are getting that error. What is the full contents of your template that you're deploying?

https://docs.microsoft.com/en-us/rest/api/compute/virtualmachines/createorupdate#osdisk

[2020-11-05 16:43] dcurwin commented on #65600
#reassing:kirushk

[2020-11-05 16:44] dcurwin commented on #65600
#reassign:kirushk

[2020-11-05 16:49] SnehaAgrawal-MSFT commented on #65424
@shizn Thanks again for the raising the PR! I have assigned the issue to the content author @cephalin  to review further and update the document as appropriate.

[2020-11-05 16:51] jeffhollan commented on #65560
Fixed with https://github.com/MicrosoftDocs/azure-docs-pr/pull/136754

[2020-11-05 16:52] saachigopal commented on #65591
Link has been updated, should be visible soon!

[2020-11-05 16:56] #65560 closed

[2020-11-05 17:05] dckfnuance opened #65607 "Cannot create Encryption Scope using customer-managed key"
I am able to create Encryption Scope using MS-managed key but not with customer-managed key.
First, I added the key in my key vault which is in the same region and has both soft-delete and purge protection enabled.
Then I go to my storage account and try to create the Encryption Scope. I choose the key vault and key and click create. Then nothing happens.
When I check the activity log, I see the f

[2020-11-05 17:19] SnehaAgrawal-MSFT commented on #65406
@booyaa Thanks again for the feedback! As its mentioned in [this section](https://docs.microsoft.com/en-us/azure/app-service/configure-ssl-certificate#create-a-free-certificate-preview) that “It's a fully functional TLS/SSL certificate that's managed by App Service and renewed automatically.”

You can create a certificate that can be used for SSL Binding for the selected sub-domain.
App Service Ma

[2020-11-05 17:20] erikanderson commented on #64849
@JamesTran-MSFT  I've been checking the docs page but have not yet seen the update

https://docs.microsoft.com/en-us/azure/active-directory-b2c/policy-keys-overview#key-rollover

[2020-11-05 17:28] pvrk commented on #65600
#reassign:pvrk

[2020-11-05 17:28] JamesTran-MSFT commented on #64849
@erikanderson
Thank you for the follow up.

The PR that was made, added a new section called [Replace a key](https://docs.microsoft.com/en-us/azure/active-directory-b2c/policy-keys-overview#replace-a-key), that goes over our recommendations if you need to change an existing key.

![image](https://user-images.githubusercontent.com/36619112/98275045-0ad90300-1f49-11eb-9ca6-09f114c6a8a8.png)

If you

[2020-11-05 17:29] pvrk commented on #65600
@hiaga: Can you please check?

[2020-11-05 17:30] erikanderson commented on #64849
Ok, thank you, was still looking in the key rollover section

[2020-11-05 17:34] MonikaReddy-MSFT commented on #65592
@remilema - After confirming with the Product team, South Central US has launched with Managed Access on October 20th.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-05 17:34] #65592 closed

[2020-11-05 18:04] JamesTran-MSFT commented on #65593
@josef-mende-diva-e
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-11-05 18:05] JamesTran-MSFT commented on #65597
@BillGatesIII
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-11-05 18:11] BryanTrach-MSFT commented on #65566
@reddyeshwar17 Thank you for your question. Can you please share with us the URL of the doc that you are having issues with?

Please note that we scope issues on this repro to feedback related to the docs. If you have a product question, please post it on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/). Thank you for your underst

[2020-11-05 18:15] BryanTrach-MSFT commented on #65507
@Jirapong Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-11-05 18:15] #65507 closed

[2020-11-05 18:15] abatishchev commented on #65559
Sure, it's still a valid property but it can be used only in particular cases. Custom VHD images doesn't seem to be one of them.

[2020-11-05 18:16] sukhans commented on #65580
@dombat yes ESLint is currently being tested. There is work around ESLint rules providing coverage for the old TSLint security rules. It should be replaced soon. TSLint users will need to remove the task for TSLint and add the new ESLint task once it is available.

[2020-11-05 18:19] alexkarcher-msft commented on #64762
Hi @MatasK23

Good news is that it looks like you're updating twins correctly! Now we need to figure out why those update messages aren't hitting your 2nd function app. Is the event hub connected to twins receiving messages? This should be the one you configured a route and endpoint for in twins.

[2020-11-05 18:32] MartinJaffer-MSFT commented on #65153
@levistormgeo  I did not get a response to my inquiry.

@linda33wj  do you know who owns the Marketo connector?

[2020-11-05 18:34] PeterCLu commented on #65591
Thanks @corticalstack for the report and @saachigopal for the fix!

I'll proceed to #please-close this issue. If you feel that your documentation issue hasn't been resolved, please feel free to open a new issue with additional information.

[2020-11-05 18:34] #65591 closed

[2020-11-05 18:36] mhopkins-msft commented on #64953
The commands that are labeled **PowerShell** can be copied and pasted directly into a PowerShell command window. They are not Bash commands.

#please-close

[2020-11-05 18:36] #64953 closed

[2020-11-05 18:36] PeterCLu commented on #65520
Thanks @carmelgafa for the report and @mx-iao for the fix!

I'll proceed to #please-close this issue. If you feel that your documentation issue hasn't been resolved, please feel free to open a new issue with additional information.

[2020-11-05 18:36] #65520 closed

[2020-11-05 18:36] abatishchev commented on #65559
@jboeshart:

Not sure if it matters or not but the link is for VMs not VMSS

[2020-11-05 18:37] PeterCLu commented on #64990
@saachigopal, do we have an eta for this update?

[2020-11-05 18:37] NavtejSaini-MSFT commented on #65394
@hurtn Please let us know if you need any further help.

[2020-11-05 18:39] #65399 closed

[2020-11-05 18:43] PeterCLu commented on #65090
Hi @yoganandmf thanks for your report. This appears to be a technical support related issue. The best way for you to get help is by creating a support ticket and working with our support engineers, who are well suited for the task! Use the following steps to create a support ticket:

1. Navigate to the Azure portal.
2. Select the support question mark (?).
3. Select Help + support
4.Select Create

[2020-11-05 18:45] bdschaap opened #65608 "Multiple Hybrid Authentication Methods for an AAD Tenant"
Can an AAD tenant use multiple hybrid authentication methods supported at the same time?  For instance, can one user use AD FS, another user use password hash synchronization, and yet another user use pass-through authentication?  Is there any documentation for this scenario if it's supported?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-11-05 18:46] PeterCLu commented on #65121
Hi @artsheikoupply thanks for your report. This appears to be a technical support related issue. The best way for you to get help is by creating a support ticket and working with our support engineers, who are well suited for the task! Use the following steps to create a support ticket:

1. Navigate to the Azure portal.
2. Select the support question mark (?).
3. Select Help + support
4. Select Cr

[2020-11-05 18:54] ChaitanyaNaykodi-MSFT commented on #65407
Hello @johnayoub, Yes you should be able to publish to private endpoint enabled Event Grid Topic.  It will be helpful if you can go through the [conceptual overview](https://docs.microsoft.com/en-us/azure/app-service/networking/private-endpoint#conceptual-overview) of using private endpoints for Azure Web App. You can also find [these](https://www.michaelscollier.com/) blogs helpful in setting up

[2020-11-05 18:54] #65407 closed

[2020-11-05 18:54] JamesTran-MSFT commented on #65596
@Canis-Lupis
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-11-05 18:55] #65581 closed

[2020-11-05 18:55] shashishailaj commented on #65581
@dombat WE discussed this internally wit the product group and they approved the chaange to a more appropriate link for the Rosln API analyzers. The security extension is a complete package with multiple tools each with a different value proposition. The API analyzers remain the same as mentioned in the text, however by default it is focused on Security only rules so that one can run Security spec

[2020-11-05 19:05] dimiboi opened #65610 "Incorrect IoT Hub Connection String Variable Name"
In [Configure and run the simulation](https://docs.microsoft.com/en-us/azure/digital-twins/tutorial-end-to-end#configure-and-run-the-simulation) the correct variable name should be `iotHubConnectionString` as seen [here](https://github.com/Azure-Samples/digital-twins-samples/blob/d8fc71795de6244f0139bfe2c6a039cca74809ee/DeviceSimulator/DeviceSimulator/AzureIoTHub.cs#L19), not `connectionString` as

[2020-11-05 19:08] JamesTran-MSFT commented on #65525
@nayrangnu
Thank you for pointing this out! I have assigned this issue to the author who will investigate and update as appropriate.

![image](https://user-images.githubusercontent.com/36619112/98285238-1cc1a280-1f57-11eb-8ed9-79b0f6cb6006.png)
https://docs.microsoft.com/en-us/azure/security/fundamentals/encryption-atrest#encrypted-storage

[2020-11-05 19:08] damiandiaz76 opened #65611 "Problem syncing between 2 different storage accounts"
When I try to sync between 2 storage accounts:
azcopy sync "https://<storage-a>.blob.core.windows.net/$web" "https://<storage-b>.blob.core.windows.net/$web"

I get this error message:
error parsing the input given by the user. Failed with error service level URLs (https://<storage-a>.blob.core.windows.net) are not supported in sync:

---
#### Document Details

⚠ *Do not edit this section. It is re

[2020-11-05 19:09] IngridAtMicrosoft opened #65612 "There is no table below on this page."
The Encrypted storage section mentions a table but there isn't one on the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd0472f9-1ed9-0154-3bfd-b25e5da64cd1
* Version Independent ID: 846187d4-c24c-279f-e216-80b6507228b3
* Content: [Microsoft Azure Data Encryption-at-Rest](https://docs.microsoft.com/en-us/azure/s

[2020-11-05 19:22] damiandiaz76 commented on #65611
This was user error.  The "$web" container name was being converted to blank on the command line.  I needed to escape the $.

[2020-11-05 19:22] #65611 closed

[2020-11-05 19:26] MikeWedderburn-Clarke opened #65614 "MACsec encryption wording"
In this article it states:
"Is VNet peering traffic encrypted?
When Azure traffic moves between datacenters (outside physical boundaries not controlled by Microsoft or on behalf of Microsoft)."

The part in brackets concerns me and I think it may be incorrect.
Did you mean that as an example of why we might want to encrypt it?
Because it sounds like it is saying that it is only encrypted when it g

[2020-11-05 19:26] martincoetzer commented on #65608
Yes you can use PHS for some users and AD FS for the rest of the users. Or you can use PTA for some users and AD FS for the rest. It is called [staged rollout](https://docs.microsoft.com/azure/active-directory/hybrid/how-to-connect-staged-rollout)

#please-close

[2020-11-05 19:26] #65608 closed

[2020-11-05 19:28] AndriySvyryd opened #65615 "Remove DbContext pooling link"
DbContext pooling reuses Entity Framework services, it is not needed to enable connection pooling.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e8650b7-1fd8-8626-de01-73130af5f656
* Version Independent ID: b1766fa1-9bf4-33ed-8bd7-9fee6cd0769e
* Content: [Troubleshooting intermittent outbound connection errors in Azu

[2020-11-05 19:41] stevevi commented on #65299
@mcpfe let me know if your recommendation is to replace the Translator API endpoint for Azure Gov with what you discovered versus what the product team provided?

[2020-11-05 19:46] mmacy commented on #65344
@GermanEZI thanks for your question. As no documentation updates are required in response and it seems @jmprieur has answered your question satisfactorily, I'll now close out this issue. If you feel this issue has been closed prematurely, however, please feel free to open a new issue (recommended) or @-mention either of us in a comment in this one. Thanks! #please-close

[2020-11-05 19:46] #65344 closed

[2020-11-05 19:46] WinstonHoward-MSFT commented on #65584
Thanks for the feedback, I've assigned this to the author to take a look.

[2020-11-05 20:01] ChaitanyaNaykodi-MSFT commented on #65203
Hello @dooriya, sorry about the delay. Can you please send an email to "AzCommunity[at]Microsoft[dot]com" so that I can enable a one-time free support ticket for you. Please include below mentioned details in your email.
Subject: Attn: Chaitanya
In email body please include your [Subscription ID](https://wmatthyssen.com/2019/09/06/azure-tip-how-to-quickly-find-your-azure-subscription-id-guid/) and

[2020-11-05 20:01] #65203 closed

[2020-11-05 20:03] ChaitanyaNaykodi-MSFT commented on #65598
Hello @jozbone,  Thank you for your feedback! We will review and update as appropriate.

[2020-11-05 20:29] levistormgeo commented on #65153
I have upvoted this issue now. Here is a link to the issue so more of us can upvote: https://feedback.azure.com/forums/270578-data-factory/suggestions/37275298-marketo-data-factory-connection-issue

[2020-11-05 20:30] abatishchev commented on #65342
@souravmishra-msft, @ChaitanyaNaykodi-MSFT please reopen.

[2020-11-05 20:30] abatishchev commented on #56483
@femsulu ping

[2020-11-05 20:39] MarileeTurscak-MSFT commented on #65612
@IngridAtMicrosoft
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-05 20:42] MarileeTurscak-MSFT commented on #65603
Hi @Iahkcuba , was there feedback on the document that you wanted to leave related to the station manager?

[2020-11-05 20:47] NunoBem commented on #47611
@PaulARoy  so you "deleted" your social logins (or never implemented) on your iOS App?

[2020-11-05 21:01] SatishBoddu-MSFT commented on #44996
We request you to post a separate technical question on Microsoft Q&A for further help in this matter.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for tech

[2020-11-05 21:01] #44996 closed

[2020-11-05 21:22] Karishma-Tiwari-MSFT commented on #65599
Can you please clarify what you mean by Teaming?

[2020-11-05 21:37] cynthn commented on #65599
@Karishma-Tiwari-MSFT I think they are asking about this kind of functionality: https://docs.microsoft.com/en-us/windows-server/networking/technologies/nic-teaming/nic-teaming. I'm not sure if it is supported, can someone from networking help?

[2020-11-05 21:38] prbans opened #65617 "Please include links to more documentation"
Could you please link Jesse's awesome docs somewhere on this page?

https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/eventhub/Azure.Messaging.EventHubs/MigrationGuide.md

It has a tonne of details that are super important

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27b148ea-a4e1-f9c1-0345-2b090be9db1b
* Ve

[2020-11-05 21:38] prasannag6 opened #65618 "Update vSphere versions"
1. Update vSphere versions on this page to 6.7 U3 (from U2)
Should be updated for the rows - VCSA / vSphere / ESXi, ESXi and vSAN
Build numbers (vCenter 14368073 / ESXi 14320388) point to 6.7 U3
2. Since the version information might change frequently in AVS, in the future can this information be pulled automatically from the production build used and the page updated automatically?

---
#### Docu

[2020-11-05 21:43] shortpatti commented on #65618
#assign @shortpatti

[2020-11-05 21:43] samadara-msft opened #65619 "Incremental snapshots currently cannot be moved between resource groups."
Please update below documentation to include Incremental snapshots currently cannot be moved between resource groups.

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/disks-incremental-snapshots

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d8793d6-bb58-2beb-f959-4654d7bdad69
* Version Independent ID:

[2020-11-05 21:51] NavtejSaini-MSFT commented on #65604
@MaxMelcher We are checking this and will get back to you.

[2020-11-05 21:52] Keevyn-Flores opened #65620 "Workaround for Invalid column name 'IS_REWRITE_ENABLED' Databricks External Apache Hive metastore from HDI."
[Enter feedback here]
Attempting to set up an external Hive metastore for Azure Databricks. The Metastore is in Azure SQL and the Hive version is 1.2.1 (included with azure HdInsight 3.6).

https://stackoverflow.com/questions/63782822/setting-up-azure-sql-external-metastore-for-azure-databricks-invalid-column-na

This is because the hive schema metastore of DBR 7.3 (Spark 3.0.1) with current hive-

[2020-11-05 22:17] flyboyjon commented on #38401
There's another limitation with running a function in a local Docker container.  The local.settings.json file is not referenced hence any Application Settings, that had been modified for local use, will not be used as they are when running a local host. Instead the setting will be looked for in the Docker container, and will fail as the container doesn't appear to implement the application setting

[2020-11-05 22:57] YutongTie-MSFT commented on #65583
@fernandocostas Hello Fernando, thanks for your feedback. This code has been update to V3.0 and it's under review now. The old code should be used only for v2.

https://github.com/Azure-Samples/cognitive-services-quickstart-code/pull/177

[2020-11-05 23:11] BharathNimmala-MSFT commented on #65589
@naleczynskia Thanks a lot for your feedback, we will review it and enhance the document as needed

[2020-11-05 23:15] DerekHerman-MSFT opened #65622 "az keyvault secret list command doesn't show a shared access signature definition"
There is an open CLI issue for this, but the below command does not work currently.
https://github.com/Azure/azure-cli/issues/14706

az keyvault secret list --vault-name <YourKeyVaultName>

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b568009-2a35-c627-cfa0-ff5cbfde027e
* Version Independent ID: 07fc2d02-be89-1170-3b

[2020-11-05 23:16] DerekHerman-MSFT commented on #65607
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-05 23:27] MarileeTurscak-MSFT commented on #65603
@Iahkcuba I am closing this out because it is unclear what this request is about. Please create a new issue detailing your feedback on the document, if needed.

[2020-11-05 23:27] #65603 closed

[2020-11-05 23:39] davidsmatlak commented on #65492
- Tested the `IdentitySelector` control using the `constraints` property and confirmed it doesn't make properties required.
- The [IdentitySelector schema](https://docs.microsoft.com/azure/azure-resource-manager/managed-applications/microsoft-managedidentity-identityselector#schema) doesn't specify support for `constraints`.
- The `constraints` description in [CreateUiDefinition elements](https://

[2020-11-05 23:55] masnider commented on #65374
@mcurko hi and thanks for the comment. I'm not sure I understand what you are suggesting/recommend we change.

Secondaries can perform read-only tasks without having listeners. Consider a replica which just reads data out of the collections and writes out to some other system. You only need to open the listeners on a secondary if you need to have requests _in_ to that replica. Whether the replica

[2020-11-05 23:58] SatishBoddu-MSFT commented on #65226
Hello @mail2hjain Below is the response from PG team to fix the License text in upcoming releases.

We really appreciate your feedback on this matter and bringing this to our attention.

Please let us know if you need any further help in this matter.

[2020-11-06 00:05] Mozumich77 opened #65625 "Reactivate disabled Azure for Students subscription, please!"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fec29c99-b938-0cd3-4f37-a467efe72f72
* Version Independent ID: 1735a445-7c8d-1bd7-8416-0b53c6363b77
* Content: [Reactivate disabled Azure for Students subscription](https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/azurestudents-su

[2020-11-06 00:06] SaiKishor-MSFT commented on #65334
@kishaa Thank you for the update. I am working with my internal team regarding this and will update you soon. Thank you!

[2020-11-06 00:14] JamesTran-MSFT commented on #65622
@DerekHerman-MSFT
Thank you for pointing this out!

I tested this and was able to list my sastoken.
![image](https://user-images.githubusercontent.com/36619112/98310224-45f72880-1f81-11eb-86c1-b3dcb5a93b7a.png)

When following the docs, the "az keyvault secret list" should only list the sas token name and not the ID.

The ID for the SAS token (SASDefinitionID) is:
`https://<YourKeyVaultName>.vault

[2020-11-06 00:19] tiszaiz commented on #47611
Hi, I am trying to add Apple Sign-In to a Xamarin.Forms app.
1. The app gets an idToken using Xamarin.Essentials `AppleSignInAuthenticator.AuthenticateAsync()`
2. But when I send that idToken to AppService’s /.auth/login/apple endpoint I get a 401.83 Unauthorized response.
Trace log shows: _Warning  JWT validation failed: IDX10214: Audience validation failed._

Is there a way to add extra allowedA

[2020-11-06 00:29] djpmsft commented on #62379
Sorry for taking so long on this. I have updated the images and the changes should be live tomorrow.

#please-close

[2020-11-06 00:29] #62379 closed

[2020-11-06 00:33] SenthuranSivananthan opened #65627 "Instruction for using a package repository like Maven"
Are there any instructions for adding the JAR through a package repository like Maven?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 750f10f8-28b3-c30d-2475-0e5217a446dd
* Version Independent ID: 66562094-9524-c37a-e493-971908169eef
* Content: [Azure Monitor Application Insights Java - Azure Monitor](https://docs.micr

[2020-11-06 00:37] MarileeTurscak-MSFT commented on #65085
Thanks for all of these details! The product team says that you are correct that this used to be an option, but that it seems to have gotten disabled. The team is trying to correct the issue now.

[2020-11-06 01:02] BryanTrach-MSFT commented on #65615
@AndriySvyryd Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-06 01:03] BryanTrach-MSFT commented on #65618
@prasannag6 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-11-06 01:06] BryanTrach-MSFT commented on #65601
@ii-batman Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-06 01:12] bluefooted commented on #63828
@lyceus one more point of clarity on the server + CAL vs. core licensing question. Server + CAL licensing cannot be used for Azure Hybrid Benefit, but you can use these licenses in Azure using BYOL images.

[2020-11-06 01:13] SatishBoddu-MSFT commented on #65610
Hello @dimiboi
I have assigned the issue to the content author for further review.

[2020-11-06 01:19] SatishBoddu-MSFT commented on #65330
Hello @ningweinw Please let us know if you need further help in this matter.

[2020-11-06 01:21] VikasPullagura-MSFT commented on #65585
@akshaymatmicrosoft No changes required to the document as per internal team. Hence, closing the issue.

[2020-11-06 01:21] #65585 closed

[2020-11-06 01:26] BharathNimmala-MSFT commented on #65317
@seanbecker15 Thanks again for bringing this to our attention, I had a chat with our document author @lgayhardt and she will further help to review this ask and validate with engineering team and see if we need to have a backlog item to update this not only for this document but where ever its applicable. So assigning the issue to her.

Thanks a lot @lgayhardt  for helping on this thread.

[2020-11-06 01:29] VikasPullagura-MSFT commented on #65614
@MikeWedderburn-Clarke
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-11-06 01:29] VikasPullagura-MSFT commented on #65614
@KumudD
Can you please check and add your comments on this doc update request as applicable.

[2020-11-06 01:32] VikasPullagura-MSFT commented on #65619
@samadara-msft
Thanks for the feedback! We will check and update the document to include your feedback.

[2020-11-06 01:33] #65280 closed

[2020-11-06 01:34] VikasPullagura-MSFT commented on #65280
@maburlik Thanks for sharing the details.
Updated the document based on your comments. Changes will go live soon.

[2020-11-06 01:36] mswilson4040 commented on #38401
@flyboyjon Yea you have to set those environment variables on your docker command/file. I supposed you could of course just copy that file into the container as well.

[2020-11-06 01:46] abatishchev commented on #65559
From what I tried and read I can say that the template in the doc is incorrect as it mixes up mutually exclusive properties.
However per @jboeshart it's by design: it's not a _deployable_ sample, it's just a sample.
I believe this is a correct approach and goes against other articles for ARM templates and the idea of documentation in general.

[2020-11-06 02:24] sergey-savelyev commented on #45817
You just saved my day. Thank you so much!

[2020-11-06 02:28] fowl2 commented on #41744
For anyone playing along at home, roughly here's what I did that worked:
* Move/create an Azure subscription into the test tenant ("switch directory").
  * I used an MSDN Azure Subscription. In my company I wouldn't normally have access to do this on a 'company owned' subscription.
  * I invited my main tenant user as a guest into the test tenant to perform the transfer.
  * I had global administr

[2020-11-06 02:33] chinkl75 commented on #65505
@AshokPeddakotla-MSFT
Thank you for picking up the investigation. Something just came into my mind. I do not have a secondary cert. Is it compulsory to add a secondary cert? If you know the answer, could you let me know? Meanwhile i am googling for some more information.

[2020-11-06 02:56] wmpauli opened #65630 "Update documentation to reflect timing of data filtering steps"
Please update documentation to correctly reflect which data filtering steps are performed before a training run is submitted and which steps happen dynamically inside of the training run.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2648736-6cba-a7e9-26bb-f1f53b0a5bd5
* Version Independent ID: 5230d35d-9f56-e068-b3e

[2020-11-06 03:51] dcbrown16 opened #65632 "License requirement"
It appears that at least for Portal deployment, deploying these images now requires that you check the following box and use the Hybrid Benefit.
"I confirm I have an eligible Windows 10 license with multi-tenant hosting rights."

Can this be clarified in the document? Is it not possible to deploy Windows 10 Pro in a PAYG arrangement?

---
#### Document Details

⚠ *Do not edit this section. It is r

[2020-11-06 04:05] SwathiDhanwada-MSFT commented on #65627
@SenthuranSivananthan Thanks for your comment. We will review the issue and get back to you shortly.

[2020-11-06 04:14] RyanHill-MSFT commented on #65291
Hi @larryclaman, I did not notice the steps you were referring to, but I did want to clarify if you mean deploying an ASE through an ARM template or through the CLI? When it comes to how appropriately setup your ASE for high availability, https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/enterprise-integration/ase-high-availability-deployment is a great reference doc but

[2020-11-06 04:14] Mooorning commented on #45236
لا الوصول لحسابي الفيس بوك بسبب أداة
 رمزاالمصادقة وانا املك كلمة السر واعرفها لكن عمل سوفت وير للجهاز وحذف برنامج المصادقة الثنائية

[2020-11-06 04:25] reddyeshwar17 commented on #65566
I would like to publish this https://github.com/Azure/azure-iot-connected-factory
project from visual studio without using power shell and I Need to avoid using VM.  How can I do that?

[2020-11-06 04:39] wmpauli commented on #65630
For example, https://docs.microsoft.com/en-us/azure/cognitive-services/translator/custom-translator/sentence-alignment suggests that sentence alignment happens during training, while this page (data-filtering) suggests that only de-duplication happens during training, while the other steps may or may not happen before training.

This is important information to know for customers who want to evalu

[2020-11-06 04:45] psmanhas commented on #65632
@dcbrown16 Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-11-06 04:45] psmanhas commented on #65632
@xujing-ms Can you please check and add your comments on this doc update request as applicable

[2020-11-06 05:02] ram-msft commented on #65630
@wmpauli Thanks for the feedback! We will review and update accordingly.

[2020-11-06 05:38] AnuragSharma-MSFT commented on #65452
@sumitsar Thanks for you valuable feedback.

Machine learning Services for Azure SQL Managed Instance is still in preview phase and hence it is not updated as supported on all the articles yet. However, once it is Generally Available(GA), the same shall be updated across the documents.

[2020-11-06 05:43] AnuragSharma-MSFT commented on #65554
@bkgoksel This is being assigned to the content author to evaluate and update as appropriate.

[2020-11-06 06:37] SadiqhAhmed-MSFT commented on #65431
@SeaGT We haven't heard back from you. Please reply if you have any questions in this matter and we will gladly continue the discussion.

[2020-11-06 06:37] #65431 closed

[2020-11-06 06:40] SubhashVasarapu-MSFT commented on #65327
@RonnieQuan, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-11-06 06:40] #65327 closed

[2020-11-06 06:59] SadiqhAhmed-MSFT commented on #65404
@ChrisSommers This looks like a known issue/bug. We are investigating the issue and will get back to you with an update once we make any progress on the same.

[2020-11-06 07:24] PaulARoy commented on #47611
Not at all, I'm simply stuck because I can't push updates for the moment. I have thousand of users from social media, I can't remove them. But Apple doesn't plan to remove apps that are not compliant (to my knowledge), it simply won't accept new updates / new apps that do not respect this.

[2020-11-06 07:31] bmcder opened #65635 "Incorrect information about the behaviour in a Warned state"
The information about the subscription being in a warned state is incorrect.
It is not true that the subscription can be used normally or that all operations are available in this state.

Take a look at https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/subscription-lifecycle-api-reference.md which states

Warned | The subscription has been warned (generally due to forthcoming su

[2020-11-06 07:38] SwathiDhanwada-MSFT commented on #65635
@bmcder Thanks for your comment. We will review the issue and get back to you shortly.

[2020-11-06 07:44] HarithaMaddi-MSFT commented on #65617
@prbans - Thanks for posting the valuable suggestions. I am moving it to content author to review and share the thoughts.

@spelluru - Can you please take a look on the above ask.

[2020-11-06 07:46] HarithaMaddi-MSFT commented on #65620
@Keevyn-Flores - Thanks for your valuable feedback. I am moving it to content author to review and share their thoughts.

@mssaperla - Can you please take a look.

[2020-11-06 07:58] ningweinw commented on #65330
Hi

Thank you for your response, that answers my question

Best Regards
Ning Wei

On Fri, Nov 6, 2020 at 9:20 AM SatishBoddu <notifications@github.com> wrote:

[2020-11-06 08:15] mcrobbj opened #65636 "Documentation says TokenNotFound but in tests its TokenNotPresent"
[Enter feedback here]

Documentation says TokenNotFound but in tests its TokenNotPresent
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f1f26d3-94ce-6840-ee8a-d358113b56aa
* Version Independent ID: d2f8fc50-3785-6950-304b-699860dacd90
* Content: [Error handling in Azure API Management policies](https://docs.microsoft.c

[2020-11-06 08:25] mcurko commented on #65374
I'm trying to compare to a system like Cosmos DB (particularly since it's built on top of ASF) with replication, because I guess that, unless background job is performed by them, secondary replicas in ASF don't have much to do, and could as well serve inbound read-only requests, thus offloading the primary.

[2020-11-06 08:49] yanxiaodi commented on #65456
Ok so I think I misunderstood the meaning. I thought the PowerShell script should be **Azure PowerShell**. Actually the sample is running the Azure CLI script in PowerShell.

[2020-11-06 08:53] souravmishra-msft commented on #65368
Hello @yiliuTo thank you for sharing the query. The appRoles that you create in your App Manifest, first needs to be assigned to the user in that app. Let's check the steps below:

I created the following appRoles in the app manifest:
![image](https://user-images.githubusercontent.com/54057592/98345697-055be580-203b-11eb-9124-9cb6b3f034f9.png)

After the appRoles are created in the app manifest, y

[2020-11-06 08:56] souravmishra-msft commented on #65455
Hello @MicrosoftGuyJFlo , can you please take a look at this and update the doc accordingly.

[2020-11-06 09:02] souravmishra-msft commented on #65556
Hello @avpdm, thank you for reaching out. For a specific application(app-registration), no its not possible. the options mentioned in the [doc](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/methods-for-removing-user-access) are for all your applications registered in your AAD Tenant. There are no options available for doing it for individual apps.

[2020-11-06 09:03] AjayKumar-MSFT commented on #65611
@ damiandiaz76, Thanks for leveraging Azure docs feedback channel to raise this question and following-up with a solution that worked for you. Much appreciate your feedback!

[2020-11-06 09:03] boonasty69 commented on #65636
Yeah GitHub Microsoft Authenticator issue

[2020-11-06 09:10] SAIMMINHAS commented on #65181
Hi,

All i'm looking for is to get the results to appear in the following tabs: i.e. it needs to detect any vulnerability in the VMs, malicious and/or unauthorized software running onto the machine. etc. Now i did installed some dummy software's on the VMs but it never showed up.

![image](https://user-images.githubusercontent.com/30388154/98347094-dc256000-200e-11eb-9176-739851de09b6.png)

and

!

[2020-11-06 09:28] ChrisSommers commented on #65404
Thank you very much

[2020-11-06 09:30] ChrisSommers commented on #65404
In case it's of any help - the inability to change the PIP setting in the failover settings existed before I actually deleted the PIP. So it's not the fact that the PIP has been deleted that is causing the issue.

[2020-11-06 09:33] shifzha opened #65638 "Add supportability of AOVPN device tunnel for different auth method please"
Hi Team,

I'm Shifeng from Azure networking support team, I recently have multiple cases that customers are trying to deploy RADIUS cert P2S AOVPN device tunnel but failed.

According to below workitem, this scenario is not supported. But it's not in the public documentation and customers are complaining about this.
https://msazure.visualstudio.com/One/_workitems/edit/8073583

Would you please hav

[2020-11-06 09:37] MatasK23 commented on #64762
Hi @alexkarcher-msft

Yes the event hub is connected to the twins and successfully receives the messages

[2020-11-06 10:07] Subhraj07 commented on #64991
HI @paulbouwer

I am unable to find the reason behind the issue. But now I tried the same thing in a new cluster and it worked perfectly fine.

Please find the command I used to create an AKS cluster:
az aks create -g $resource_group -n $cluster_name -s Standard_D4s_v3 -c 2 -l $location --generate-ssh-keys

[2020-11-06 10:08] AshokPeddakotla-MSFT commented on #65330
@ningweinw Thanks for the confirmation.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-06 10:08] #65330 closed

[2020-11-06 10:11] PramodValavala-MSFT commented on #65357
@oising Apologies for not getting back on this. We have assigned this issue to the content author as this is a convention used across the docs.

[2020-11-06 10:18] sachdevaswati commented on #65398
Hey hypdeb, first of all, thank you for the feedback, that will only make the product better.

Just to be clear, I hope you are using the document that needs to be downloaded from under this section - https://docs.microsoft.com/en-us/azure/backup/backup-azure-database-postgresql#prerequisite-permissions-for-configure-backup-and-restore

This is an automated script that helps ease the process. It's

[2020-11-06 10:20] padmajauk opened #65640 "Unable to create data controller as per the steps"
This command: kubectl create --namespace arc -f <path to your data controller secret file>
gives the following error
error: unable to recognize "arc-data-services/data-controller.yaml": no matches for kind "datacontroller" in version "arcdata.microsoft.com/v1alpha1"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2486cd

[2020-11-06 10:20] xps233 opened #65641 "AAD authentication on VM actually support network security group"
Hi Team,

By this [document](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/login-using-aad#configure-role-assignments-for-the-vm):  it said

But actually, after we've tried several times, it has been proved it do support this function when you create a VM with default basic NSG.

Screenshot as:

![adq](https://user-images.githubusercontent.com/74043506/98355089-a4450980-205c-11eb-9

[2020-11-06 10:21] M0ns1gn0r opened #65642 "No explanation for "You do not have access to telemetry for this component" error"
I was navigated to this page from the explanation to "You do not have access to telemetry for this component" error:

![image](https://user-images.githubusercontent.com/5908454/98354994-d8e79f80-2021-11eb-83f9-3bea454f07fe.png)

However, this page only briefly mentions that there could be no access (obviously) but doesn't give any instructions how to give that access or where a corresponding docum

[2020-11-06 10:23] davidsteinar opened #65643 "Conflicting values of the payload success status"
In the docs there are conflicting values of the payload success status. Could you clarify the proper success status?

Is it "Success" or "Succeed" ?

Also, in the section [Update the status of an operation](https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/pc-saas-fulfillment-api-v2#update-the-status-of-an-operation) the possible status values are given as "Success"/"Failure

[2020-11-06 10:23] algorni commented on #44709
But this is still not linked from this other doc:

https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-troubleshoot-connectivity

I'm going to create a pull request for docs to add this to the troubleshooting doc.

[2020-11-06 10:24] nareshnagpal06 opened #65644 "Active Learning Button Disabled"
[Enter feedback here]
Hi
Even after enabling the Active Learning in service settings, I am not able to select Active Learning in my Knowledge base.

![image](https://user-images.githubusercontent.com/33876096/98354924-6b4e6a00-2047-11eb-9b7d-1220d17ce4de.png)

![KBOptions](https://user-images.githubusercontent.com/33876096/98355545-473f5880-2048-11eb-9ad9-e566bfb1ed0b.jpg)
---
#### Document Detail

[2020-11-06 10:32] jonathan-martin-endava commented on #63478
Hi Grace,
With further testing we have identified that the Custom Domain Verification ID is identical for all App Services across a subscription. It would be really useful if you'd update the page referenced above with a comment as such as that then means its not a true blocker for automation.
Thanks,

[2020-11-06 10:50] durayakar commented on #65553
Sorry, my phraseology was not correct...

The problem is not with copy paste functionality, it is with the copied scripts.

The copied scrips does NOT work in PowerShell

Duray AKAR

ABI Services Group LLC
VP of IT

+1(954)536-9151

________________________________
From: Bryan Trach <notifications@github.com>
Sent: Wednesday, November 4, 2020 9:10:49 PM
To: MicrosoftDocs/azure-docs <azure-docs@nor

[2020-11-06 10:53] psmanhas commented on #65641
@xps233 Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-11-06 10:53] psmanhas commented on #65641
@SanDeo-MSFT Can you please check and add your comments on this doc update request as applicable

[2020-11-06 11:16] KrishnaG-MSFT commented on #65625
@Mozumich77 Thanks for your comment! We will review and provide an update as appropriate.

[2020-11-06 11:26] edfreeman opened #65645 "Is the max concurrency limit 20 or 50?"
I'm a little bit confused. The `isSequential` Property mentions that a

but the `batchCount` (where the concurrency limit is set) has a upper limit of 50 (see picture).

![image](https://user-images.githubusercontent.com/30260217/98361048-befa8c80-2022-11eb-829e-2063a0278295.png)

and further down the page:

![image](https://user-images.githubusercontent.com/30260217/98361108-d76aa700-2022-11eb-96

[2020-11-06 11:57] creyke opened #65646 "MessageSender output parameter type is undocumented"
When opting to use parameters as opposed to a return type, the only options documented in the **Usage** section are `ICollector<T>` and `IAsyncCollector<T>`.

These collectors serialize `T` to a byte array in the message body but do not provide access to the message metadata elements such as the properties _PartitionKey_ and _MessageId_. Write access to the metadata is required when using for exam

[2020-11-06 12:00] SnehaAgrawal-MSFT commented on #65371
@n01d Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-11-06 12:28] aodugga opened #65647 "Add Guidelines for resolving "Remove-AzRoleAssignment: Cannot delete the last RBAC admin assignment""
Hi Team,

My customer contacted me today as they had this issue where they were trying to remove an RBAC admin assignment on PowerShell but kept seeing the response

Remove-AzRoleAssignment: Cannot delete the last RBAC admin assignment

I checked online and another customer had actually [posted some documentation feedback (https://feedback.azure.com/forums/34192--general-feedback/suggestions/40234

[2020-11-06 12:39] VeV-HDT opened #65648 "SCIM - Provisioning of custom extension attribute is not working - Custom Schema is missing"
Dear Reader,
Something is clearly not square with the doc or we have a bug in the implementation but this is clearly not working:
https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/customize-application-attributes#provisioning-a-custom-extension-attribute-to-a-scim-compliant-application

The request as shown is impossible to reproduce:
![image](https://user-images.githubuserc

[2020-11-06 12:59] SimonSimCity commented on #50024
@meraj-kashi This is also what I was struggling with. Maybe you already found the solution - if not, take this as an attempt of me to try to explain what you have to do here:

This approach is very well explained when using the wizard (https://docs.microsoft.com/en-us/samples/azure-samples/functions-js-iot-hub-processing/processing-data-from-iot-hub-with-azure-functions/). I wanted to do it myself

[2020-11-06 13:00] gjongeneel opened #65649 "Metadata WVD"
In the ARM version, it stills read tenant names. Would that be rather workspace names now? Would it be possible to provide any additional information about the exact metadata, so what is exactly stored in this metadata location? We have customers that are very GDPR and compliancy aware and they are hesitant to use WVD for this reason. Would you agree that storing user principal names in this locat

[2020-11-06 13:01] JAK1047 commented on #65274
I confirmed unchecking the box and allowing the Microsoft account to be added does prevent the popup when the session is timed out after CA, so we can test to make sure allowing the account on BYOD machines won't be a problem for us. Best thing for the documentation would probably be an alert bubble just stating if you use the "sign in to this app only" option previously the prompt will start appe

[2020-11-06 13:26] robertpiska opened #65651 "No additional prompt appears after permissions changed"
Hi,

I have added one new API delegated permission to application. I expect consent prompt appears after user login but no prompt appears.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27339f6f-c63d-d2cc-ec02-8727b5587bf0
* Version Independent ID: 8edacd13-bbd1-cfc7-e686-7ca7bf4cb2ad
* Content: [Unexpected consent pro

[2020-11-06 13:30] markusdresch commented on #45105
i can't get this to work. wouldn't even want to enable javascript if it wasn't **literally impossible** to redirect the "forgot password" link when using SSO with SAML in an external site like salesforce. i added every single content definition as listed in https://docs.microsoft.com/en-us/azure/active-directory-b2c/contentdefinitions#migrating-to-page-layout and still get

when uploading the cust

[2020-11-06 13:31] jopowel opened #65652 "typo in client application registration - azure api for fhir/tutorials/deploy javascript application"
in the section "Client application registration" there is a list of 4 items. Item 3 reads "Name your application and se" - what is se? (is it supposed to be "service principle" ?).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c226d80-2f60-0a3e-c66f-edaf3bcd0891
* Version Independent ID: cb1869bc-b6a5-1d1c-3792-f0247

[2020-11-06 13:41] jhancock4d opened #65653 "The documentation refers to a toolbar under manage for apps to add a collaborator. This doesn't exist."
The documentation appears to be out of date becuase there is no add collaborator button nor toolbar under manage on an app. Thus there is no way to add collaborators from the luis.ai portal.

Further adding a Cognitive Services Collaborator in the Azure portal does not grant the person access to the app. (nor does just Contributor role per the docs)

---
#### Document Details

⚠ *Do not edit this

[2020-11-06 13:52] n-elia opened #65654 "Missing MQTT parameters to use DPS Enrollment Groups"
Hi. There is no explanation on how to use the Enrollment Groups of the Device Provisioning Service through MQTT.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af124669-06d7-a0b0-da60-78081380af4c
* Version Independent ID: 578a6172-e018-af2b-ce40-d0e3d24026aa
* Content: [Azure IoT Hub Device Provisioning Service - TPM

[2020-11-06 13:53] SadiqhAhmed-MSFT commented on #65643
@davidsteinar Thanks for the comment. We will investigate this issue and get back to you shortly.

[2020-11-06 13:56] SnehaAgrawal-MSFT commented on #65406
@booyaa We will now proceed to close this thread. If there are further questions regarding this matter, Let us know. We will gladly continue the discussion.

[2020-11-06 13:56] #65406 closed

[2020-11-06 14:02] SnehaAgrawal-MSFT commented on #65409
@Marwaabouawad Thanks again for the feedback! I have created PR for this, once its validated it will get merge. If there are further questions on this matter please let me know.

[2020-11-06 14:02] #65409 closed

[2020-11-06 14:09] subashsivaji opened #65655 "Unable to grant read/list permission to Databricks service principal to KeyVault"
As mentioned in the docs, I have contributor permission on xxxxx key vault - but still I get below error when creating Azure Key vault backed secret scope via azure databricks UI.

`Unable to grant read/list permission to Databricks service principal to KeyVault 'https://xxxxx.vault.azure.net/': Status code 403, {"odata.error":{"code":"Authorization_RequestDenied","message":{"lang":"en","value":"I

[2020-11-06 14:14] jyeblog opened #65656 "When Managed Storage Account would support Serial Console"
Is there a place that I can subscribe to, so I would be aware when Managed Storage Account would support Serial Console?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 691353ad-7c13-bce2-510f-b9a641cf95c4
* Version Independent ID: afced714-86a0-0fb7-b885-3021839b2fe3
* Content: [Azure boot diagnostics - Azure Virtual M

[2020-11-06 14:20] SadiqhAhmed-MSFT commented on #65625
@Mozumich77  The article - [Reactivate disabled Azure for Students subscription](https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/azurestudents-subscription-disabled) details all the steps to reactivate your cancelled Azure for student subscription. Appreciate if you could provide more details on your ask.

[2020-11-06 14:42] SatishBoddu-MSFT commented on #65654
Hello @n-elia Thanks for the feedback.
I have assigned the issue to the content author for further review.

[2020-11-06 14:52] mattallscripts opened #65657 "WKWebView SSO"
This document states that WKWebView does not support SSO.

We have a hybrid native iOS+Android app built with Xamarin in which we have embedded WKWebViews for specific web-based features. The system browser does not match our use-case so that is not an option at this time.

We'd like to be able to SSO into those web apps and see that we can [set the cookies for a WKWebView](https://stackoverflow.c

[2020-11-06 14:57] DeanGross opened #65658 "Criteria for new articles"
What is the criteria for including a link to a new article? The October section includes links to articles that were published months ago.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9bf2726-1963-44fd-de66-d8205960b0db
* Version Independent ID: ab2d6328-e47c-709d-13ab-a6d823d5115f
* Content: [What's new in Azure Ac

[2020-11-06 15:03] larryclaman commented on #65291
Hi @RyanHill-MSFT, When I referred to 'not following the steps on this page', I indeed meant "if you deploy an ASE via the portal or cli".

Per your comment "_ASEs aren't deployed across AZs by default. Furthermore, scale units aren't deployed across availability sets_." -> Yes, this is exactly the type of clarification that I would like to see added to the ASE documentation.

For example, you ref

[2020-11-06 15:09] n-elia commented on #65654
Thank you :)
Just to be more detailed, when using the MQTT protocol directly (as a device) along with X.509 certificate authentication to setup a Device Provisioning Service Individual Enrollment, I should put the `registration_id` of the individual enrollment inside some MQTT parameters such as the _client username_ and the _topic_ for sending the register message.
There is no reference on how to

[2020-11-06 15:13] shashishailaj commented on #65658
@DeanGross Thank you for your query. We will investigate and update the thread.

[2020-11-06 15:17] shashishailaj commented on #65647
@aodugga Thank you for sharing the customer's experience. We will have this reviewed and update the thread

[2020-11-06 15:18] mattallscripts opened #65659 "Inconsistent Documentation - Supported NameID Formats"
This page indicates that "Windows domain qualified name" is a valid NameID format. However [other documentation](https://docs.microsoft.com/en-us/azure/active-directory/develop/single-sign-on-saml-protocol#nameidpolicy) indicates that  "Windows domain qualified name" is **not** a valid NameID format.

Indeed when we created a new Application Registration from the Azure portal and tried sending a S

[2020-11-06 15:22] shashishailaj commented on #65496
@memildin Could you please provide your inputs on this. As per the article https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/microsoft-defender-atp-linux#system-requirements , I think we can change the statement on this article adding linux related support for Microsoft Defender.

[2020-11-06 15:32] cbezenco opened #65661 "eventhub dedicated quota limits / conflicting links - customer feedback"
Customer feedback on the following eventhub dedicated quota documentation links: https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-dedicated-overview#event-hubs-dedicated-quotas-and-limits

_I'm having hard time reconciling my reading of the documented Dedicated Event Hubs  limits and what we are actually experiencing. My reading of the documentation is that there can be up to 1024 part

[2020-11-06 15:39] jhollowe opened #65662 "Incorrect Sed Command [Enable Infiniband]"
[Enter feedback here]
In the [Enable IP over InfiniBand (IB)](https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/hpc/enable-infiniband#enable-ip-over-infiniband-ib) section, the sed command does not work. It should be
`sudo sed -i -e 's/# OS.EnableRDMA=n/OS.EnableRDMA=y/g' /etc/waagent.conf`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-11-06 15:40] jamvillalobos commented on #40530
@inaun totally aggree. Documentation is not a fix. Global reader role must have read only unrestricted access.

[2020-11-06 15:50] AviateX14 opened #65663 "Is it posisble to obtain the domain verification ID in advance?"
As per the document, in order to register a custom domain against App Service I have been taking the domain verification ID from an already existing web application and placing it in DNS as described (TXT asuid.mydomain.com = {{ value from portal }}.

The problem with this is that the applicatoin needs to exist before you can get the ID, meaning that automation that tries to create an app and imme

[2020-11-06 16:03] nberdy commented on #65654
@n-elia does [this doc](https://docs.microsoft.com/en-us/azure/iot-dps/iot-dps-mqtt-support) help?

Also, if you are trying to go through the registration process with a device, it's the same call regardless of whether that device was enrolled with an individual enrollment or a group enrollment. The device never needs to know how its enrolled.

[2020-11-06 16:21] oising commented on #65357
@PramodValavala-MSFT Thanks Pramod -- appreciate the update.

[2020-11-06 16:26] kenwith commented on #65658
@DeanGross - Hi Dean! I recently moved over to Azure content from Office. Nice to see your ideas and contributions here too. :)

There is a script that pulls data from the PR's in this repo. The goal is to have this article so that it is easier to see what has changed. The configurations for the script is here: https://github.com/MicrosoftDocs/azure-docs/tree/master/.whatsnew So far we just have a

[2020-11-06 16:26] #65658 closed

[2020-11-06 16:29] SeaGT commented on #65431
Correct - and I am an MCA customer and I'm clicking on the Billing Scope for my MCA entry.  See the image - where is the Blue Pay now of which you speak?

![image](https://user-images.githubusercontent.com/24259804/98390439-35d75b80-200a-11eb-9ed5-ff8bc762ce04.png)

[2020-11-06 16:33] Absoblogginlutely opened #65664 "Application Developer role no longer exists"
Application Developer role no longer exists, so not able to grant permissions to this role to allow an application to be registered in Azure AD. User registration is typically disabled in a locked down or new Azure tenant.
Screenshot shows the possible Application roles.

![image](https://user-images.githubusercontent.com/21364480/98390615-9c1ca800-2023-11eb-8b8e-6901924bcf78.png)
What is the appr

[2020-11-06 16:33] ajgball opened #65665 "Private Endpoints"
[Private Endpoints do not support subscription move]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23df5354-6833-a5da-0eb3-d860150c8b78
* Version Independent ID: 682ec206-0fda-3e0b-5841-543860a87e34
* Content: [Move operation support by resource type - Azure Resource Manager](https://docs.microsoft.com/en-us/azure/azu

[2020-11-06 16:37] brandonmbanks commented on #32068
@manya0393 I am also experiencing the same error. I believe the solution for this is to use the new [azurerm_mssql_server_extended_auditing_policy](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/mssql_server_extended_auditing_policy) resource.

In this resource the storage account key is optional. The API requires not passing the storage account key to use the mssq

[2020-11-06 16:40] baanders commented on #65610
@dimiboi Thanks for the catch!

Updating the variable name to match the code sample in PR #136892.

Since this is a straightforward edit, I'll have Git automatically close this issue when the PR with the fix is merged. However, you can still feel free to comment back in the thread with additional comments or questions.

[2020-11-06 16:48] benc-uk opened #65667 "Provide ARM template for policyExemptions"
Please provide ARM template details for creating a policyExemptions object/resource

You provide templates for policyassignments, policyDefinitions and policySetDefinitions (initiatives) but not policyExemptions
e.g. https://docs.microsoft.com/en-us/azure/templates/microsoft.authorization/policyassignments

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-11-06 16:50] smoms opened #65669 "New Claim is not present in the App Metadata XML document"
Hi,

I have tried to add another claim as:

surname2           user.givenname

but when i look into the App Metadata XML file the new claim is not present. Why?

thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0800632e-a9b3-5f96-f290-207c7ef6be88
* Version Independent ID: eaa3c7a0-76d5-433f-9ac3-bc72638c0ff3
* Co

[2020-11-06 16:51] djpmsft commented on #65645
#assign @chez-charlie

[2020-11-06 16:54] DCtheGeek commented on #65667
#assign:DCtheGeek

[2020-11-06 16:55] MakeSense27 opened #65670 "Run and configure ADT explorer"
Hi,

I am currently working through the "Quickstart - Explore a sample Azure Digital Twins scenario using ADT Explorer" section but I am stuck when I get to the "Run and configure ADT explorer" section. When I run "npm install", here what is displayed:

![image](https://user-images.githubusercontent.com/64645715/98391469-faaf4980-2056-11eb-9f63-1abdc1a4dd16.png)
![image](https://user-images.github

[2020-11-06 16:56] DCtheGeek commented on #65667
@benc-uk Thanks for the feedback.  While Azure Policy exemptions are in preview, the only supported method for working with them is [REST API](https://docs.microsoft.com/rest/api/resources/policyexemptions). When the feature is GA and supports other methods of management, they will be added to the docs.  Thanks!

@MicrosoftDocs/azure-cxp-triage Please label 'product-question' and #please-close.

[2020-11-06 16:56] #65667 closed

[2020-11-06 16:57] cfjedimaster opened #65672 "Feedback on Step 10"
Step 10 has this text:

"In the Visual Studio Code Explorer window, return to the Static Web Apps section and right-click on Production and select Open in Portal to view app in the Azure portal."

A few things. First, by default, my explorer had Free Trial (the name of my subscription), as a closed node. I wasn't quite sure where to click. I opened it up and saw `my-first-static-web-app`. I opened