[2021-03-03 16:58] bakintunde opened #71545 "Missing information in SecretProviderClass.yaml"
Please include more details around properly exposing the keyvault secrets as secrets in the kubernetes cluster.
The page shows how to expose the keyvault secrets on the file system but not yet how to show them as cluster secrets.

A critical piece of information that's missing on the page is the use of spec.secretObjects as shown [here](https://azure.github.io/secrets-store-csi-driver-provider-azu

[2021-03-03 17:01] nayar34 opened #71546 "Can you do Passwordless Auth with any M365 license or do you need to have Azure AD P1 or P2 to do it?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee6ac70d-5853-6a3a-0964-23b46910b4c4
* Version Independent ID: a5beda87-9845-8807-6221-7fdc64079587
* Content: [Passwordless sign-in with the Microsoft Authenticator app - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory

[2021-03-03 17:13] 1RedOne opened #71547 "Consider adding more information about how Hot Patching differs from traditional patching"
The 'How hotpatching' section is very sparse on details.  A reader might expect a terse technical summary of how Hot Patching is able to work and why reboots aren't needed, where traditional windows needed to reboot to apply a patch.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc698477-83d9-7411-f504-8d485377be73
*

[2021-03-03 17:24] stingster commented on #71526
@tamram I think I should have been more specific.

We selected LRS + OR as a redundancy option. Do you mean that ZRS is the only option where one is allowed to select the availability zone for the storage account?

[2021-03-03 17:29] minhe-msft commented on #70289
Added example for using expression functions in dynamic content editor.
https://docs.microsoft.com/en-us/azure/data-factory/control-flow-expression-language-functions#examples

#please-close

[2021-03-03 17:29] #70289 closed

[2021-03-03 17:36] PureRandom opened #71548 "Code Snippet Incorrect in Containerizing Apps"
In the PowerShell snippet at https://docs.microsoft.com/en-gb/azure/migrate/tutorial-containerize-aspnet-kubernetes#download-and-install-azure-migrate-app-containerization-tool

It currently has
`.\App ContainerizationInstaller.ps1`

but should be
`.\AppContainerizationInstaller.ps1`

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2021-03-03 17:38] glentoconnor opened #71549 ".\AzureMfaNpsExtnConfigSetup.ps1 script not working."
All -

When I run the "AzureMfaNpsExtnConfigSetup.ps1" script, it does not complete as shown in the documentation.  In fact, it doesn't even look like it's the same script....

This is on a Windows 2012 R2 Server, a domain controller (which is not my RDG Server, by the way.

My output is shown below along with a dump from @PSVersionTable.  Thoughts?

Thanks.  Glen
=================================

[2021-03-03 17:40] 4172580636 opened #71550 "https://portal.azure.com/#create/hub"

[2021-03-03 17:45] bretcowie commented on #71495
@JamesTran-MSFT I think I answered my own question. Deprovisioning seems to automatically occur as part of removing the user from the application. I suppose this could have been inferred based on the summary at the top of the article. Perhaps just adding a section towards the end stating this would be helpful to others. Thanks!

[2021-03-03 17:50] ChaitanyaNaykodi-MSFT commented on #71542
Hello @xuhongl,
Thank you for your feedback! We will review and update as appropriate.

[2021-03-03 17:55] sviera91 opened #71551 "New-AzRouteServer has the wrong parameter name"
[New-AzRouteServer example command does not have a flag named "name". The actual name is "RouteServerName"

https://docs.microsoft.com/en-us/powershell/module/az.network/new-azrouteserver?view=azps-5.5.0]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9051fe3-f785-0f9d-3915-8a08d842ab0a
* Version Independent ID: b2ae1

[2021-03-03 17:58] minhe-msft commented on #67682
Fixed by adding parameter and variable naming rules.

#please-close

[2021-03-03 17:58] #67682 closed

[2021-03-03 17:59] JamesTran-MSFT commented on #71545
@bakintunde
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-03 18:03] mrbullwinkle commented on #71371
Thanks for bringing this to our attention. I will test this out with the latest runtime to confirm if there is still an issue, and update the article accordingly.

[2021-03-03 18:05] MarileeTurscak-MSFT commented on #71544
@btatter
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-03 18:06] YutongTie-MSFT commented on #71404
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-03-03 18:06] #71404 closed

[2021-03-03 18:23] maslade opened #71553 "CD document missing details around Linux limitations"
From experimenting in the portal, I believe that Linux web apps do not have the full range of options (particularly, no Azure Repos option) for configuring Continuous Deployment. I think this would be a good note to add.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81dce42d-71bc-9ac0-b016-4add247bb48a
* Version Indep

[2021-03-03 18:25] himanshusinha-msft commented on #71543
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-03-03 18:27] Grace-MacJones-MSFT commented on #71536
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-03 18:31] JamesTran-MSFT commented on #71549
@glentoconnor
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-03 18:35] JamesTran-MSFT commented on #71403
@commakoerschgen
Thanks for pointing this out!

Since @psignoret created a PR to update the documentation I'll go ahead and close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let us know.

Thank you!

[2021-03-03 18:35] #71403 closed

[2021-03-03 18:39] duongau commented on #71551
@sviera91 Thank you for catching that. I have updated the command to use the correct flag name.

[2021-03-03 18:41] lgayhardt commented on #57716
@cijothomas Thanks for the feedback, the update should go live later today.

#please-close

[2021-03-03 18:41] #57716 closed

[2021-03-03 18:42] BryanTrach-MSFT commented on #71437
@tielushko Thank you for the update. We have assigned this to the doc author, @mikben, to have them review and take action as needed.

[2021-03-03 18:42] #71428 closed

[2021-03-03 18:47] ertork commented on #71146
@jitendraRai Thanks, but my question is actually to the document you are referring to, because it states that interactive sign ins will update the lastSignInDateTime value. However, users can sign in non-interactively, so the date might not be "correct" as the user has actually been active at a later time than lastSignInDateTime.
Maybe my question is then; for how long can a user sign in non-inter

[2021-03-03 18:49] JamesTran-MSFT commented on #71495
@bretcowie
Thank you for the quick follow up and I'm glad that you were able to resolve your issue!

I've created a PR to update the documentation and it's currently waiting for the author(@zchia)  to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-03-03 18:49] #71495 closed

[2021-03-03 18:51] JamesTran-MSFT commented on #71457
@Nimleth

**AKV update:**
No, there aren’t any plans. Blocking older version can be a breaking changes for many customers. Clients can enforce the most recent version of TLS, and whenever a client does so, the entire connection will use the corresponding level of protection. The fact that Key Vault still supports older TLS versions won’t impair the security of connections using newer TLS versions.

[2021-03-03 18:51] #71457 closed

[2021-03-03 18:52] JamesTran-MSFT commented on #71459
@fkucuk
I just wanted to check in and see if you had any other questions or if you were able to resolve this issue?

[2021-03-03 18:53] JamesTran-MSFT commented on #71476
@ConeyGreen
I just wanted to check in and see if you had any other questions or if you were able to read through my previous comment?

[2021-03-03 18:57] mike-urnun-msft commented on #71245
@fvarga01 Thank you for sharing your feedback! Upon reviewing your feedback, we are proceeding to assign this issue to the content author to review further and take the next course of action.

[2021-03-03 18:58] tamram commented on #71526
@stingster - yes, in order to use an availability zone in the primary region, your account must use ZRS or GZRS (the geo-redundant version of ZRS).

Only ZRS/GZRS uses availability zones, and only in the primary region.

[2021-03-03 18:58] cynthn commented on #70993
ssh-keygen uses lower case -m to denote the format for the key. As far as I can tell, it isn't required.

[2021-03-03 19:03] SatishBoddu-MSFT commented on #68570
FYI: @qm13

[2021-03-03 19:03] #68570 closed

[2021-03-03 19:06] JohnStraumann66 commented on #71404
Can you send me the code you used to test this?

[2021-03-03 19:07] rgg-amahajan commented on #70289
Looks wonderful, thank you!

[2021-03-03 19:13] irfanazam1 opened #71556 "Should specify BSD based Linux distro or Ubuntu!"
This page mentions how to configure RDP on Linux but is not applicable to all Linux distributions. It should specify what Linux distribution is actually applies.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077ee673-528a-d893-5832-7656b91dbec8
* Version Independent ID: 2180e845-1ead-3b47-03be-c26aee00c6f7
* Content:

[2021-03-03 19:14] SaiKishor-MSFT commented on #71291
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-03 19:16] ericsampson commented on #71180
Thanks you @Grace-MacJones-MSFT !! :) 👍

[2021-03-03 19:20] tifischer opened #71557 "IR version requirements"
[Enter feedback here]

Please include the minimum IR version requirements.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e632aab-071d-60ae-748f-458c6e8715b1
* Version Independent ID: 9089b4ae-3818-dcfb-f5e7-9118516bb167
* Content: [Create and manage Integration Runtimes - Azure Purview](https://docs.microsoft.com/en-u

[2021-03-03 19:32] JamesTran-MSFT commented on #71549
@glentoconnor
Thank you for your detailed post!

Based off your error message this looks like it might be an internet connection issue, can you confirm you aren't having any connection issues on the PC you're trying to download the NuGet package on?

**Error Message:**
WARNING: Unable to download the list of available providers. Check your internet connection.

I was able to run the \AzureMfaNpsEx

[2021-03-03 19:47] dbman86 commented on #71428
thank you @JamesTran-MSFT

[2021-03-03 19:48] MarileeTurscak-MSFT commented on #71546
@nayar34
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-03 19:50] mikben commented on #71437
Thanks @tielushko. A task has been created to address this - we'll post back when the doc has been updated. cc @akania

[2021-03-03 19:52] #36128 closed

[2021-03-03 19:52] johndowns commented on #71542
Thanks @xuhongl, I have pushed a fix to this and it hopefully should be published soon. Thanks for pointing this out.

[2021-03-03 19:58] rp-msft opened #71559 "Rewording/calrity on OS versions supported section for ACI"
The section listing supported images for OS versions can be improved upon, we have cases where Cx look at this line Windows: 1809, 10.0.17763.1040 or newer and try 1903 or newer versions which end up failing.

https://docs.microsoft.com/en-us/azure/container-instances/container-instances-faq#what-windows-base-os-images-are-supported

Nano Server: 1809, 10.0.17763.1040 or newer
Windows Server Core:

[2021-03-03 20:05] PatrickFarley commented on #70999
#please-close

[2021-03-03 20:05] #70999 closed

[2021-03-03 20:06] ChaitanyaNaykodi-MSFT commented on #71542
Thank you @johndowns for such a quick resolution.
Hello @xuhongl, thank you for providing the feedback. We will now proceed to close this issue out. Please tag me in your response if there are any additional concerns.

[2021-03-03 20:06] #71542 closed

[2021-03-03 20:11] SaiKishor-MSFT commented on #71326
@cherylmc Could you please look into this? Thank you!

[2021-03-03 20:11] DiHo78 commented on #20737
Let me guess @petersgiles
You or a colleague played around with Azure Container Instances. Then ressources should be removed and now you're stuck with a vnet that cannot be deleted because a network profile is still (already) in use withcontainer nics....

[2021-03-03 20:15] kobulloc-MSFT commented on #68274
@Cedric-Bravo At this point the documentation calls out that Azure App Configuration compliments Azure Key Vault:

https://docs.microsoft.com/en-us/azure/azure-app-configuration/overview

We are going to close this thread as resolved but if there are any further comments regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-03-03 20:16] SadiqhAhmed-MSFT commented on #71548
@PureRandom Thank you for bringing this to our attention. We will look into this and take appropriate action to update the documentation.

[2021-03-03 20:17] Kimel03 commented on #68148
@asergaz hi, it seems the issue is still there. Cannot find AZ3166 even though using the last fixed URL. Is there some other known issue?

[2021-03-03 20:17] petersgiles commented on #20737
Yep pretty much, we are using terraform to create and remove Azure Container Instances and occasionally (too occasionally really) the nic is left orphaned by the delete process, the only way to fix it at the moment is via a support ticket with Microsoft. One of their engineers has to clean it up after you've proven you've tried everything else. It took me about 2 days to get our Azure network back

[2021-03-03 20:19] SadiqhAhmed-MSFT commented on #71548
@rahug1190 For visibility

[2021-03-03 20:28] AlexandraKemperMS commented on #68221
@MarkAtAgilliance This change has been included in a docs update and will be published soon. I will now proceed to close this thread, please feel free to reach out with any further questions/feedback.
#please-close

[2021-03-03 20:28] #68221 closed

[2021-03-03 20:28] emuench commented on #69961
@stmummer Can you follow up on this?

[2021-03-03 20:33] dougrchamberlain commented on #60331
I am having the same frustration.

[2021-03-03 20:34] JustinGrote opened #71560 "Creation Example: -Name should be -RouteServerName"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9051fe3-f785-0f9d-3915-8a08d842ab0a
* Version Independent ID: b2ae1d2f-3d9d-8ec9-8112-722b315ce283
* Content: [Quickstart: Create and configure Route Server using Azure PowerShell](https://docs.microsoft.com/en-us/azure/route-server/quickstart-configure-route-server-powers

[2021-03-03 20:40] SaiKishor-MSFT commented on #71539
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-03-03 20:41] SaiKishor-MSFT commented on #71396
@assaf-grth
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https:/

[2021-03-03 20:43] #71291 closed

[2021-03-03 20:46] cveld commented on #42844
We would like to prevent too many role assignment as there is a limit per subscription. So ideally we would like to apply only one role assignment for many of our initiatives. Is it possible to assign the same managed identity to many initiatives?

[2021-03-03 21:03] MarileeTurscak-MSFT commented on #71546
Hi @nayar34,

Azure AD Multi-Factor Authentication is listed as a prerequisite for this feature, and Azure MFA requires at least a Premium P1 license. https://docs.microsoft.com/en-us/azure/active-directory/authentication/tutorial-enable-azure-mfa

[2021-03-03 21:03] #71546 closed

[2021-03-03 21:08] oloria opened #71562 "Unable to add a network rule in my storage account firewall, for a subnet in a VNet belonging to another Azure AD tenant."
### Good Day Team,

I'm trying to grant access to a Vnet/subnet from a different AD Tenant into my storage account's Firewall whitelist.
Following the documentation it's mentioned that this is possible, but only through PowerShell.

So I'm trying to follow the documentation and using PS from the Azure Cloud Shell.

* **Note** : I excluded information from my resources and subscription details from

[2021-03-03 21:08] MonikaReddy-MSFT commented on #71535
@MashaMSFT  - Thank you for providing your insights.
@dfatkulbayanova  - I hope @MashaMSFT has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-03 21:21] timsander1 commented on #70912
Hi @tomkuijsten , there is no CLI support right now for switching to geometry. I've created a work item internally to add this.

[2021-03-03 21:25] stewartadam opened #71563 "Troubleshooting steps should document use of IOTEDGE_LOG=debug (or expand on edgelet=debug)"
Trying to provision a device with DPS was returning this cryptic error message, which none of the troubleshooting instructions helped with:

[code]

Only after searching the Rust source code and finding a reference to `IOTEDGE_LOG` and setting it to `debug` (instead of `edgelet=debug`) did it finally reveal the true error:

[code]

These log messages are **not** produced when configured as `edgele

[2021-03-03 21:39] rinisbet opened #71564 "How do I set an environment variable?"
Article doesn't describe how to set an environment variable, just puts code in that reads it. Too much friction for a customer trying to just get this off the ground

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0de01786-459d-f25b-5219-eb6f598db9bd
* Version Independent ID: a34a0d3c-758a-c56d-517c-9d5235edc5b7
* Conte

[2021-03-03 21:43] rwike77 commented on #71000
@jeanluc33  Yes, I agree some guidance on why the old script was removed would be nice.  Unfortunately, I don't know why.  I'll update if I find out.  Doc update has merged, so I'll close this now.  #please-close

[2021-03-03 21:43] #71000 closed

[2021-03-03 21:44] DerekHerman-MSFT commented on #71392
@Spsutar
Is there a reason you cannot download the latest AzFilesHybrid module and run the Powershell command? I am trying to better understand the ask.

[2021-03-03 21:46] dcstwh commented on #67993
#sign-off

[2021-03-03 21:49] rinisbet opened #71565 "FunctionApps have system-assigned identities by default"
In this section (Set up security access for the function app) My function app already had system-assigned identity enabled. WOrth double-checking, but you may be able to remove this section

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0de01786-459d-f25b-5219-eb6f598db9bd
* Version Independent ID: a34a0d3c-758a-c56d-5

[2021-03-03 21:52] rinisbet commented on #71564
TUrns out later in the doc we assign this in the portal. We should mention "you will set this later" and link to the section where you'll eventually set this value

[2021-03-03 21:54] waynehoggett opened #71566 "Encrypting VMs in failover clusters"
Can we get some clarity on this dot point?

- Encrypting VMs in failover clusters.

Why is this not supported? Can you use a "user-defined managed identity"? Is traditional BitLocker supported as an alternative?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 288f8109-44b2-99b4-118b-b26c54326aad
* Version Independent ID

[2021-03-03 21:55] vjirovsky opened #71567 "AAD single sign-on with AWS (multi-accounts)"
This documents looks to don't cover new better approach to integrate multi-AWS accounts over AWS SSO service
Especially section "Configure AWS SSO" looks wrong

(same issue on this page https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/amazon-web-service-tutorial#configure-amazon-web-services-aws-sso )

More details can be found here:

https://aws.amazon.com/blogs/aws/the-next-evol

[2021-03-03 21:55] MarileeTurscak-MSFT commented on #70935
Sorry for the delay.

Based on some of the discussions online it looks like this is a known issue, but I've reached out to the product team to confirm and check if there is a workaround.

https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/18367720-allow-password-expiration-policy-to-sync-from-on-p

https://techcommunity.microsoft.com/t5/office-365/password-expiration-with-

[2021-03-03 21:56] baanders commented on #71395
Hi @algattik, I am adding this guidance and an example in [PR #148490](https://github.com/MicrosoftDocs/azure-docs-pr/pull/148490).

Since this addresses the ask, I'll have Git automatically close this issue when the fix is merged. Please feel free to comment back in the thread with additional comments or questions even after it's closed!

Thank you :)

[2021-03-03 22:05] #71395 closed

[2021-03-03 22:08] mknowlesnc opened #71569 "Need help USING the Programs I pay for"
I have been a Microsoft customer for probably 30 years.  I currently PAY for Office 360, or whatever you are calling it these days.  I had a drive crash and had to reinstall everything.  NOW, when I go into Excel, Word, or PowerPoint, they tell me that a license has not been assigned to me.  What the hell?! I am the one and ONLY user.  I am the ADMIN but apparently, I need to speak to the ADMIN so

[2021-03-03 22:13] JamesTran-MSFT commented on #71567
@vjirovsky
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-03 22:24] ninarn commented on #67389
I have updated and revamped the documentation to be clearer and to provide more detailed guidance on the error message you mentioned. https://docs.microsoft.com/en-us/azure/azure-sql/database/connect-query-portal#troubleshooting-and-considerations

You are not seeing the IP address in the error message you mentioned because it is describing a separate issue. The issue is not with your server firew

[2021-03-03 22:25] ninarn commented on #67389
#please-close

[2021-03-03 22:25] #67389 closed

[2021-03-03 22:26] ninarn commented on #43641
I have updated the query editor documentation to make this limitation clearer https://docs.microsoft.com/en-us/azure/azure-sql/database/connect-query-portal#troubleshooting-and-considerations

[2021-03-03 22:26] Saratoga6 opened #71570 "err1"
smbPath=$(echo $httpEndpoint | cut -c7-$(expr length $httpEndpoint))$fileShareName
expr: syntax error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d60d83f-0094-6c5e-e105-712c24bf1acc
* Version Independent ID: 594af294-fd5d-a8c7-d456-6d753b7b62f8
* Content: [Use Azure Files with Linux](https://docs.microsoft.com/en-u

[2021-03-03 22:27] ninarn commented on #53260
I have updated the query editor documentation to make this clearer https://docs.microsoft.com/en-us/azure/azure-sql/database/connect-query-portal#troubleshooting-and-considerations

[2021-03-03 22:27] ninarn commented on #43133
I have updated the query editor documentation to make this required permissions clearer https://docs.microsoft.com/en-us/azure/azure-sql/database/connect-query-portal#troubleshooting-and-considerations

[2021-03-03 22:37] nayenama commented on #70016
Data assets can be searched based on glossary terms however the search result page does not display schema info to which glossary is tagged.

[2021-03-03 22:51] krknopp commented on #40132
Please remove this limit!  I'm constantly having to modify our headers and hope I don't break anything by using wildcards and stuff.

[2021-03-03 22:57] DerekHerman-MSFT commented on #71456
@alfiyashka Can you please let me know which article you are referring to?

[2021-03-03 22:59] marcusgaspar opened #71572 "what are the IPs 172.17.x.x"
[Enter feedback here]
It is not clear for me what are the IPs 172.17.x.x you defined in the configuration of the session "Handling the All-or-Nothing nature of Private Links". Is it just an example or do we need to use these IPs in the configuration? Could you please help me clarifying it?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-03-03 23:16] mhopkins-msft commented on #69726
Hi @JeffLoo-ong

I haven't heard back from you in a week so I'm going close this issue for now. If you still have problems, please feel free to reactive the issue.

Thanks,
 ~ *Mark*

#please-close

[2021-03-03 23:16] #69726 closed

[2021-03-03 23:23] DerekHerman-MSFT commented on #71570
@Saratoga6 Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-03 23:27] Grace-MacJones-MSFT commented on #71553
Thanks for your feedback! We will review and update this doc soon

[2021-03-03 23:30] #71399 closed

[2021-03-03 23:36] SatishBoddu-MSFT commented on #71563
Hello @stewartadam
I have assigned the issue to the content author for further review.

[2021-03-03 23:37] SatishBoddu-MSFT commented on #71564
Hello @rinisbet Thanks for the doc feedback.
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-03-03 23:38] duongau commented on #71551
This issue was resolved with PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/148907.

#assign @duongau
#please-close

[2021-03-03 23:38] #71551 closed

[2021-03-03 23:38] carlost-MSFT opened #71574 "What are the IP addresses from which the health checks originate?"
What are the IP addresses from which the health checks originate?
This session points to a JSON file that is not up to date with Virtual Network Service Tags:
https://docs.microsoft.com/en-us/azure/virtual-network/service-tags-overview#use-the-service-tag-discovery-api-public-preview

Instead of pointing directly to the JSON, it should point to the Service Tag link above and mention how to use API

[2021-03-03 23:38] SatishBoddu-MSFT commented on #71565
@rinisbet
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-03-03 23:44] gitmadness commented on #71401
Thanks

[2021-03-03 23:53] SamComber opened #71575 "Custom container authentication issue"
I don't seem to be able to supply the correct credentials to pull a custom image from an Azure Container Registry when starting my cluster in databricks. I have pushed my image to the Azure Container Registry, and used the same username and password from the access keys panel to attempt to authenticate pulling this when I start my cluster.

Are these the correct credentials to use? Is this the rig

[2021-03-03 23:58] jamesnovak opened #71576 "Any updates on the steps to test with Postman?"
I am on a project for Dept of Veterans Affairs with Microsoft Consulting and we are looking to leverage Azure API for FHIR for data conversion and storage.

I have been following this tutorial and its related docs and cannot get past Auth failed messages.  I have installed Azure API for FHIR, FHRI version R4 in an Azure environment where I have full admin rights, and all resources have been create

[2021-03-04 00:02] VikasPullagura-MSFT commented on #71547
@1RedOne
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-03-04 00:02] VikasPullagura-MSFT commented on #71547
@ju-shim
Can you please check and add your comments on this doc update request as applicable.

[2021-03-04 00:09] DerekHerman-MSFT commented on #71562
@oloria Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-04 00:14] VikasPullagura-MSFT commented on #71556
@irfanazam1
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-03-04 00:14] VikasPullagura-MSFT commented on #71556
@cynthn
Can you please check and add your comments on this doc update request as applicable.

[2021-03-04 00:15] VikasPullagura-MSFT commented on #71559
@rp-msft
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-03-04 00:15] VikasPullagura-MSFT commented on #71559
@macolso
Can you please check and add your comments on this doc update request as applicable.

[2021-03-04 00:21] cynthn commented on #71556
I updated the doc to say that it was written and tested with Ubuntu 18.04 and double-checked the it was also in the prereq section. Changes should be live tomorrow.

#sign-off

[2021-03-04 00:27] YutongTie-MSFT commented on #71404
@JohnStraumann66 I didn't use any code, I just use the console to try. https://westus.dev.cognitive.microsoft.com/docs/services/computer-vision-v3-1-ga/operations/5d986960601faab4bf452005

This API is better when you use for heavy-text.

[2021-03-04 00:30] brianlo-ms opened #71577 "Incorrect Nomenclature for the 'Msv2 Medium Memory Diskless'"
'Msv2 Medium Memory **Diskless**' VMs should not have a 'd' in their naming convention.
Otherwise they end up with the same name as those in the table below it.
Please correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7457bf0-dc21-6f49-d4e5-4de493219ef1
* Version Independent ID: f5969121-2e88-8bf3-77f0-428ae4cc5

[2021-03-04 00:35] SaiKishor-MSFT commented on #71530
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-04 00:36] SaiKishor-MSFT commented on #71574
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-04 00:39] toolboc opened #71578 "Broken link in Modifying the Device Update Agent"
The link mentioned in *Modifying the Device Update Agent* is broken:
It should be: https://github.com/Azure/iot-hub-device-update/blob/main/docs/agent-reference/how-to-modify-the-agent-code.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4f4520a-f352-6318-d524-828a60a6ec2f
* Version Independent ID: 7e15e3b9-ca42-d37

[2021-03-04 00:41] mike-urnun-msft commented on #56727
@paulhickman-a365 Since the documentation now lists a support-level table that includes information for the Elastic Premium plan, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-03-04 00:41] #56727 closed

[2021-03-04 01:16] dcstwh commented on #68036
This should already be fixed.

[2021-03-04 01:16] dcstwh commented on #68036
#please-close

[2021-03-04 01:16] #68036 closed

[2021-03-04 01:18] dcstwh commented on #71251
This should be covered in https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment-improvements

[2021-03-04 01:18] dcstwh commented on #71251
Do verify it captures what you have in mind, and we can close this issue.
Thank you.

[2021-03-04 01:42] santhoshbomma9 opened #71580 "term - startDate in the Get Subscirption response remain the same or change as the billing term changes?"
[code]

Is the above statement true? On a monthly Subscirption doesn't the term start date and end date change for every month? Or would it always be the date when the ISV activated the subscription?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe8750da-cb47-7396-8d1b-0abff019a0be
* Version Independent ID: b19143ed-64

[2021-03-04 01:43] loganballard commented on #49186
@berndverst  Any update on this?  It would be a great feature to not have to use an insecure method for app service to talk to ACR.

[2021-03-04 01:55] kprpg opened #71581 "App Service Sandbox reference outdated"
There is a reference to "App Service sandbox" - this is very outdated. The link takes one to a page dated 2019 and since then much enhancements and improvements have been done. I think this is a misleading link specially when it claims it is maintained directly by the ASE team - but the contents are so outdated. Either update it OR remove the reference.

---
#### Document Details

⚠ *Do not edit t

[2021-03-04 01:59] rarandiv commented on #71527
Hi @danimir , I could now see the suggested updates in the document. Thanks for making this happen.

![image](https://user-images.githubusercontent.com/72970021/109899036-37184c80-7cbb-11eb-96d3-a19dae16ad57.png)

[2021-03-04 02:00] savjani commented on #71348
@SamaraSoucy-MSFT - if there are not further questions, can you please close this thread.

[2021-03-04 02:03] Wang-Caixing opened #71582 "Question about supported OS images Sku of automatic OS image upgrade"
[Enter feedback here]

Hi Team,

I  have a questions regarding this doc:    https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-automatic-upgrade#supported-os-images .

In the supported OS images table,  it lists "
MicrosoftWindowsServer | WindowsServer | 2019-Datacenter-with-Containers
".

My question is:   Are '2019-datacenter-with-containers-g2', '2019-d

[2021-03-04 02:14] ValOlson commented on #71578
I have created a PR from my branch for this fix. Thank you!

[2021-03-04 02:29] KrishnaG-MSFT commented on #71572
@marcusgaspar Thanks for your comment! We will review and provide an update as appropriate.

[2021-03-04 02:35] KrishnaG-MSFT commented on #71550
@4172580636 Thanks for reaching out!

[This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so can you please share the Azure document link to which your feedback is related. Also, please elaborate what's your

[2021-03-04 02:39] lipalath-ms opened #71585 "Message not being sent to Service Bus Topic"
I have a C# code to send a message to the service bus topic as follows:

[code]

On running the code, when it hits the breakpoint after line:
[code]
I see message is not being added to the topic all the time when I execute the code.

DuplicateDetectionHistoryTimeWindow is 10 min
![image](https://user-images.githubusercontent.com/6519992/110037916-e96c0600-7cf3-11eb-9a6f-489a27a3cfc6.png)

When I t

[2021-03-04 03:11] sqlposh opened #71586 "Max NICs / Expected bandwidth seems...off"
All the numbers in the Max NICS / Expected network bandwidth (MBps) column of the sizing table are just 2.

Is that 2MBps?  2 NICs?  seems like something's missing here.  I would expect something like

2/1000
4/4000
8/8000

and stuff like that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aca0ec03-776b-fb48-3c1d-82dc

[2021-03-04 03:15] aspnet4you opened #71587 "The aspnet4you-sc cluster certificate expired 42 days ago. Unable to rotate certificate."
I use AKS for my lab and research. AKS is good as I don't get charged for cluster. I turn off the nodes when not in use. This morning I discovered the cluster is not working. Diagnostics tells me cluster certificate expired 42 days ago!

I have tried to rotate the certificate multiple time but without success. These are the commands I ran and cursor hangs forever! I wait 40 minutes or so and nothi

[2021-03-04 03:25] SnehaAgrawal-MSFT commented on #71581
@kprpg Thank you for your feedback . We will investigate and update the thread further.

[2021-03-04 03:27] #71304 closed

[2021-03-04 03:31] psmanhas commented on #71538
@marcelkmfst Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-03-04 03:33] psmanhas commented on #71566
@waynehoggett
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-03-04 03:33] psmanhas commented on #71566
@msmbaldwin Can you please check and add your comments on this doc update request as applicable

[2021-03-04 03:35] psmanhas commented on #71575
@SamComber Thank you for your query!!! Can you help us understand which article you are following so we can help you out better on this?

Thanks

[2021-03-04 03:38] psmanhas commented on #71587
@aspnet4you Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-03-04 03:38] psmanhas commented on #71586
@sqlposh Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-03-04 03:40] psmanhas commented on #71577
@brianlo-ms
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-03-04 03:40] psmanhas commented on #71577
@ayshakeen Can you please check and add your comments on this doc update request as applicable

[2021-03-04 03:44] psmanhas commented on #71557
@tifischer
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-03-04 03:45] psmanhas commented on #71557
@viseshag
Can you please check and add your comments on this doc update request as applicable

[2021-03-04 03:45] BhargaviAnnadevara-MSFT commented on #71560
@JustinGrote Thanks for bringing this to our attention. This has been fixed and the changes reflect in the doc in question.

[2021-03-04 03:45] #71560 closed

[2021-03-04 03:46] GiftA-MSFT commented on #71540
@jpe316 please review above feedback for doc enhancement. Thanks.

[2021-03-04 03:46] AnuragSharma-MSFT commented on #71576
@jamesnovak Thank you for the feedback. We are actively investigating and will get back to you soon

[2021-03-04 03:55] psmanhas commented on #71582
@Wang-Caixing
Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-03-04 03:58] mimckitt commented on #71577
Thanks for pointing this out! Fix is submitted. Changes will be live tomorrow morning.

#please-close

[2021-03-04 03:58] #71577 closed

[2021-03-04 04:00] JayaChatterjee-MSFT commented on #71001
@vjraitila Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-03-04 04:00] #71001 closed

[2021-03-04 04:04] JayaChatterjee-MSFT commented on #71276
@HipYoda This seems to be application specific or configuration related issue and needs dedicated troubleshooting. Hence I would request you to open a support ticket with Microsoft Support if you have a subscription which allows you to do so. Otherwise , you can send an email with subject line “Attn:Jaya” to AzCommunity[at]Microsoft[dot]com referencing this thread along with the subscription id to

[2021-03-04 04:04] #71276 closed

[2021-03-04 04:23] AshokPeddakotla-MSFT commented on #71578
@ValOlson Thanks for the fix.
@toolboc Changes will go live once it has been peer reviewed and merged. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-04 04:23] #71578 closed

[2021-03-04 04:37] an-emma commented on #69383
@manojkukkapalli  Thanks for pointing it out. In the example here, the maximum duration checking intervals are set to be the same size as the specified max duration (10). So we would in this case check max duration at 0,10,20,30. For this middle window at 20, it is not yet 10 min long so we don't end it there. At 30 though it is both a checking position and it is already longer than 10 min.

[2021-03-04 04:40] MayankBargali-MSFT commented on #71255
@phatcher  Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me and we will gladly continue the discussion.

[2021-03-04 04:40] #71255 closed

[2021-03-04 04:44] MayankBargali-MSFT commented on #71585
@lipalath-ms Thank you for your feedback! We will review and update as appropriate.

[2021-03-04 04:56] manojkukkapalli commented on #69383
@an-emma  Okay,So the window closes at the integer values of max duration like 10,20,30.... etc which is why it closed at 30 mins.

[2021-03-04 04:57] an-emma commented on #69383
Yes. You are correct.

[2021-03-04 05:20] lgayhardt commented on #71347
@BrunoWouters Thanks for catching that, I made a PR to change the ID of pageview to STYz with the operation_ParentId empty. The change should go live tomorrow.

#please-close

[2021-03-04 05:20] #71347 closed

[2021-03-04 05:33] sqlposh opened #71589 "Max cached and temp storage?"
It's unclear what "Max cached and temp storage throughput" means in the table...

That is, I know what cached and temp storage are, but does that "and" mean both values are identical?  Or does it mean the two values together have that maximum?

If it's the former, then the max cached IOPs = 10000 and the max temp IOPs = 10000

but if it means the two together, then if the cached IOPs are 7000, the

[2021-03-04 05:35] SPDEVGUY opened #71590 "Documentation missing how to translate existing windows claims to azure ad claims as part of implementation"
Page requires resources on how an IT support person managing their sharepoint farm can convert from the windows claims to azure AD TIP claims.  Since Azure AD is not created with UseDefaultConfiguration on the New-SPTrustedIdentityTokenIssuer the convert-spwebapplication command will fail saying that SAML is not supported.

A path for translating the existing windows claims to Azure AD claims is r

[2021-03-04 05:37] nitinme commented on #71179
The PR is merged and the links have been updated. All Uservoice links are now replaced with links for feedback.azure.*

#please-close

[2021-03-04 05:37] #71179 closed

[2021-03-04 05:41] lgayhardt commented on #71262
@ss185475 The ILogger doc that you linked to is mainly for to how use App Insights to capture ILogger logs. The issue you had is more related to [logging](https://docs.microsoft.com/aspnet/core/fundamentals/logging/?view=aspnetcore-5.0) in general. This doc on the [Startup class](https://docs.microsoft.com/aspnet/core/fundamentals/startup?view=aspnetcore-5.0) in the ASP.NET Core documentation talk

[2021-03-04 05:41] #71262 closed

[2021-03-04 05:44] SubhashVasarapu-MSFT commented on #71118
@SteveColegrove, this issue has been assigned to the respective content owner for updating the document accordingly.

[2021-03-04 05:46] psmanhas commented on #71589
@sqlposh
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-03-04 05:46] psmanhas commented on #71589
@ayshakeen
Can you please check and add your comments on this doc update request as applicable

[2021-03-04 05:46] RohitMungi-MSFT commented on #68170
@panitaxx This fix is yet to be updated in production. I will update as soon as the team rolls it out, we are currently holding non critical rollouts due to Ignite 2021.

[2021-03-04 06:18] SubhashVasarapu-MSFT commented on #71389
@nilsga, Appreciate your patience. AFAIK, this is not yet supported in Azure. Please take a few minutes to submit your idea in the one of the forums available on here or vote up an[ idea](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/38663206-support-for-idn-domain-names) submitted by another Azure customer. All the feedback you share in these forums will be monitored

[2021-03-04 06:18] #71389 closed

[2021-03-04 06:33] HollyQM commented on #71452
@moagra thank you very much for the answer! Please kindly keep us informed of any progress, thanks in advance.

[2021-03-04 06:36] yuki-0310 opened #71591 "It seems to be different from the domain name in the documentation."
The har file was retrieved when the test connection button was clicked in Data Import of Azure Search.
And request was sent to the following.
https://stamp2.ext.search.windows.net/api/subscriptions/6747898f-5136-4160-9d4c-848883672ac2/resourceGroups/NishikawaEventGrid001/providers/Microsoft.Search/searchServices/testsearch00001/datasources/getSqlTableViews

We executed the ping command.
It was the

[2021-03-04 06:49] SnehaAgrawal-MSFT commented on #71591
@yuki-0310 Thank you for your feedback . We will investigate and update the thread further.

[2021-03-04 07:12] vipulsparsh commented on #71569
@mknowlesnc Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-03-04 07:14] vipulsparsh commented on #71590
@SPDEVGUY Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-03-04 07:26] VicSmith opened #71592 "Error: (Azure Key Vault) is configured for use by Azure Active Directory users only. "Please do not use the /consumers endpoint to serve this request""
Please note full error I am getting here:
https://stackoverflow.com/questions/66470333/error-azure-key-vault-is-configured-for-use-by-azure-active-directory-users-on

Full Error:
Microsoft.Extensions.Configuration.AzureAppConfiguration.KeyVaultReferenceException: SharedTokenCacheCredential authentication failed: AADSTS9002332: Application 'cfa8b339-82a2-471a-a3c9-0fc0be7a4093'(Azure Key Vault) is

[2021-03-04 07:31] BhargaviAnnadevara-MSFT commented on #71592
@VicSmith Thanks for bringing this to our attention. We're investigating this and will get back to you shortly.

[2021-03-04 07:51] KrishnaG-MSFT commented on #71336
@aruwo17 I couldn't find any error / attachment / screenshot in the issue here. However, I have tried to reproduce the issue but ended up successfully updating Azure modules and importing AzureRM.OperationalInsights module. Please check below screenshots for reference.

![image](https://user-images.githubusercontent.com/45988031/109926275-d0aa2300-7ce8-11eb-9623-02e2bf45842b.png)

![image](https:/

[2021-03-04 07:51] #71336 closed

[2021-03-04 07:53] SamComber commented on #71575
Hi @psmanhas, this article, in particular the last point of step 4, "Select authentication type". https://docs.databricks.com/clusters/custom-containers.html

[2021-03-04 07:53] VicSmith commented on #71592
@BhargaviAnnadevara-MSFT : Note, I added more detail.

[2021-03-04 08:13] YutongTie-MSFT commented on #71351
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-03-04 08:13] #71351 closed

[2021-03-04 08:26] tksh164 opened #71594 ""SSL 1.x" means "TLS 1.x" ?"
**SSL** 1.x is incredibly old. I am guessing this meaning **TLS** 1.x, right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0edef100-c23f-752e-f2a9-4cf50f358e77
* Version Independent ID: 2017b797-fc03-5eb1-17e0-077c5de16a76
* Content: [Install Log Analytics agent on Linux computers - Azure Monitor](https://docs.micros

[2021-03-04 08:27] SwathiDhanwada-MSFT commented on #71580
@santhoshbomma9 Thanks for your comment. We will review the issue and get back to you shortly.

[2021-03-04 08:33] loofunk commented on #60331
@hansenms @ryanfincham I think the read me needs updated to have more information

[2021-03-04 08:34] loofunk commented on #60331
@dougrchamberlain What issues are you having? I managed to fix it.

[2021-03-04 08:42] fkucuk commented on #71459
@James-Hamil-MSFT
Thanks for the interest. I have resolved the situation with our local MS engineers.

There are lots of concepts in this document. It is hard to digest at first. Let's go over the documentation together. I want you to know I am not an experienced AKS user.

https://docs.microsoft.com/en-us/azure/key-vault/general/key-vault-integrate-kubernetes#use-managed-identities

Well, we are

[2021-03-04 08:51] horeich commented on #19477
Same problem here.

Set up a email rule accoring to [https://docs.microsoft.com/en-us/azure/iot-central/core/tutorial-create-telemetry-rules](url).

I do not receive any email. The user I'm sending the email to is added to the appliaction. What could be the problem here?

![grafik](https://user-images.githubusercontent.com/53815851/109937338-15c15b80-7ccf-11eb-8b16-a8bfafe5b967.png)

[2021-03-04 08:57] dfatkulbayanova commented on #71535
Thanks that clarified! so Windows 2008 32bit is supported but programmatically

[2021-03-04 09:11] psmanhas commented on #71473
@arturdrozd Can you please provide the information as per the ask so we can help you out better.

Thanks

[2021-03-04 09:20] psmanhas commented on #71418
@ddobric Can you please help me understand since when are you facing this issue? Is it from time of creation of container or  recent one?

[2021-03-04 09:23] KrishnaG-MSFT commented on #70308
@jyeblog The Azure document referred with this issue is related to "[Deploy Azure Monitor Application Insights Agent for on-premises servers](https://docs.microsoft.com/en-us/azure/azure-monitor/app/status-monitor-v2-overview)" which suggests to

- import [Az.ApplicationMonitor](https://www.powershellgallery.com/packages/Az.ApplicationMonitor/) PS module and
- enable monitoring with the help of En

[2021-03-04 09:23] #70308 closed

[2021-03-04 09:38] SwathiDhanwada-MSFT commented on #71594
@tksh164 Thanks for your comment. We will review the issue and get back to you shortly.

[2021-03-04 09:46] SubhashVasarapu-MSFT commented on #71514
@Andriy-dev, appreciate your feedback. The URL is up now.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-03-04 09:46] #71514 closed

[2021-03-04 09:52] leizhang1984 opened #71596 "Is there any latency to backup user-defined restore points in one azure datacenter and restore in remote Azure Datacenter"
Hi,

I have one question about latency to backup user-defined restore points in one azure datacenter and restore in remote Azure datacenter.

Assuming I create a user-defined restore point in Azure Synapse SQL Pool **in East Asia Region** at **2021-03-04 5:00 p.m.** (assuming restore operation will successfully immediately)
and restore this point in remote Azure datacenter Synapse SQ Pool in **Sou

[2021-03-04 09:55] alessandrograno-4wardPRO commented on #70935
Hi, thanks for the answer.

Based on the articles you mentioned I am still not able to find any suitable solution apart from switching to PTA.

I know a workaround would be to disable EnforceCloudPasswordPolicyForPasswordSyncedUsers feature then create a script or a custom sync rule to disable cloud users when the local AD password expires, but that is not what we would want to do.

Right now I ha

[2021-03-04 10:01] ddobric commented on #71418
It is all time. After the container is deployed, running, failing, whatever. There is no monitoring data at *german* locations.

[2021-03-04 10:05] oaas opened #71597 "Wrong command in PowerShell page, causes can not use PowerShell to update AppGw certificate"
https://docs.microsoft.com/en-us/powershell/module/az.network/add-azapplicationgatewaysslcertificate?view=azps-5.6.0#example-3--add-an-ssl-certificate-using-keyvault-secret--versioned-secretid--to-an-application-gateway-

$AppGW = Get-AzApplicationGateway -Name "ApplicationGateway01" -ResourceGroupName "ResourceGroup01"
$secret = Get-AzKeyVaultCertificate -VaultName "keyvault01" -Name "sslCert01"

[2021-03-04 10:06] lightupdifire commented on #59999
Hello,
Any plans to support FIDO2 Passwordless for WVD without a corporate network?

[2021-03-04 10:18] AshokPeddakotla-MSFT commented on #71198
@songqiwei Our team is interested in knowing more about your scenario. what is the use case you are after, and what will you do with the information once you've added it to the message?
Please reach out to us directly by sending an email to azcommunity@microsoft.com with the below details, we will work closely on this matter.

Thread URL: #
Your Subscription ID:
Email Subject: Attn Ashok Peddakotl

[2021-03-04 10:21] harelbr commented on #64618
Hi @zzgzy - The documentation has been updated some time ago.
You may close the issue now. Thanks!

[2021-03-04 10:30] gmajsterek commented on #8580
Yes we have same problem as @jackt-moran. Did you manage to work it out - creating proof of possession from purchased CA Certificate?

[2021-03-04 10:34] DavidWorner-Cert opened #71598 "How hard is the AWS Certified SysOps Administrator Associate?"
The AWS-certified SysOps Administrator Associate Certification has a reputation for being the most difficult associate-level certificate in the Amazon Web Services Certification Programs. But how hard is it really?

The AWS SysOps Administrator exam is such that it focuses on test scenarios that cover aspects of the deployment and operation of AWS services. This means that it can be a little diffi

[2021-03-04 10:46] squasta opened #71599 "Looks like stop and start AKS cluster feature is not Generally Available since the 8th of february 2021"
In the Changelog of AKS : https://github.com/Azure/AKS/releases/tag/2021-02-08

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f07b13b8-6b8b-57f9-7fb3-361329af08be
* Version Independent ID: d3c6ae95-654f-be23-5dcd-3c3146d5cf63
* Content: [Start and Stop an Azure Kubernetes Service (AKS) - Azure Kubernetes Service](https

[2021-03-04 10:48] lovelinuxalot commented on #56453
I am also facing the same issue with v2 Application Gateway, From my tests what I can conclude is that

1. Backend health of the application Gateway is part of the Gateway itself, because it works with the custom CA root certificate uploaded in the HTTP settings
2. Health probes are not part of the Gateway, as the probes do not work with the custom CA root certificate attached to the Gateway HTTP

[2021-03-04 11:03] somarnebur opened #71600 "NO SNAT (0.0.0.0/0) ALL SNAT (255.255.255.255/32) (AZ Firewall)"
Either you choose NO SNAT or ALL SNAT, it will only get applied on TCP/UDP.
ICMP for instance is not affected by changes on the "private IP address ranges"
It will continue behave as product design (IANA RFC 1918), and snat for others.

[2021-03-04 11:05] SubhashVasarapu-MSFT commented on #71447
@dduleep, appreciate your patience. It is a product limitation as stated in the document. Outbound IP's will not be part of the Azure DevOps Service Tag.
![image](https://user-images.githubusercontent.com/44890829/109954702-a87dec80-7d07-11eb-844b-f731dbe09dab.png)

[2021-03-04 11:07] SubhashVasarapu-MSFT commented on #71597
@oaas, Thanks for reaching out. We will investigate and update this thread.

[2021-03-04 11:20] dimilider opened #71601 "Data Flow"
Hi team,
could you please describe in more detail how the actual backup data flow will then be routed? Will the backup data be transferred via the Azure Firewall in case of there is a Azure Firewall as next hop for the default route /0 or is the data will be flow via the Azure Fabric?

Regards,
Dimitri
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-03-04 11:41] yoelhor commented on #71232
Dear @Ponant thanks for your feedback.  The content definition may work as you have pointed out. But, it's officially supported with this specific version. As the UI has been tested agains this version and above. I'm updating the policy upload section (which will close this issue). If you need anything else, please open new issue. Thanks again, Yoel

[2021-03-04 11:54] danielsc opened #71602 "reference to deprecated azureml-dask-cloudprovider"
this page recommends the use of AzureML with the Dask Cloudprovider.

However, it seems that AzureML has been deprecated from Dask Cloudprovider: https://cloudprovider.dask.org/en/latest/azureml.html
![image](https://user-images.githubusercontent.com/8079390/109960142-b53f1800-7ce8-11eb-922f-3b5cc20e78bf.png)

So, the reference should be removed.

---
#### Document Details

⚠ *Do not edit this sec

[2021-03-04 12:20] lostmygithubaccount commented on #71602
we should probably also remove the numerous Ray references, including on the main overview page, which does not note that the feature has limited preview support

"The service also interoperates with popular deep learning and reinforcement open-source tools such as PyTorch, TensorFlow, scikit-learn, and Ray RLlib." - https://docs.microsoft.com/en-us/azure/machine-learning/overview-what-is-azure-ml

[2021-03-04 12:26] jitendraRai commented on #71146
Thanks @ertork. The question you asked how long can a user sign in non-interactively, before an interactive sign in is required? Could you please clarify your question?

 Now we support Audit log for sign-in users for interactive, non-interactive, service principal and managed identity and you can do the further analysis. however until access or id token expired user can logged in using non-intera

[2021-03-04 12:27] Cedric-Bravo commented on #68274
@kobulloc-MSFT
Hi, the problem is not with this page but with this one.

https://docs.microsoft.com/en-us/azure/azure-app-configuration/overview-managed-identity

The following sentence introduces the false idea that App configuration needs a Managed Identities to interact with the KV. It's false, because App Configuration doesn't interact directly with the KV

_This topic shows you how to create

[2021-03-04 12:30] yoelhor commented on #71139
@clupeacode thanks for the feedback.
@amanmcse I'm updating the doc, please close your PR.

[2021-03-04 12:32] yoelhor commented on #71003
Thanks for the feedback @Norrch2. I'm updating the doc and closing this issue.

[2021-03-04 12:38] #71282 closed

[2021-03-04 12:40] #71208 closed

[2021-03-04 12:41] stingster commented on #71526
@tamram thank you for your prompt reply!

Can you please be so kind to answer a couple more questions:
1. Is an LRS storage account wholly hosted within a single availability zone or there is no guarantee for that?
2. If it is, is there a way to determine in which zone is hosted **after creation** then? (I think you've already said there's no way to request a specific AZ **on the creation** of an

[2021-03-04 12:43] #71003 closed

[2021-03-04 12:47] #71139 closed

[2021-03-04 12:53] scale-tone opened #71603 "The page contains Logic Apps team's email (logicappsemail@microsoft.com), which is no longer valid"
Provide the correct way of contacting the team, in case a customer needs to increase the limits.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 845c4db9-1f3a-26d1-5061-c018cb1fe336
* Version Independent ID: c2a03981-a0aa-64a5-2659-e10202e5bb14
* Content: [Limits and configuration - Azure Logic Apps](https://docs.micros

[2021-03-04 13:05] DeanGross opened #71604 "Request for guidance"
In the section about credentials, there are numerous choices, please provide some guidance about when each should or should not be used. I'm sure that this info exists somewhere else, but it would be helpful to have it mentioned here, or even better a link to an article that provides recommended best practices for choosing credential type.

---
#### Document Details

⚠ *Do not edit this section. I

[2021-03-04 13:08] sarahkang58 commented on #19261
@mercurjl @roysudi @normesta @pexxi

Hi all, sorry for bringing this thread up again about a year later.

I'm also using a storage static website with a CDN endpoint and I need to set the `X-Content-Type-Options: nosniff` response header.  However, I'm using the Azure CDN Standard from Verizon product, and this plan doesn't have the Standard Rules Engine for setting the header.  [See Azure CDN pro

[2021-03-04 13:10] yoelhor commented on #69086
You are right, the run now works only for web (OpenID Connect) applications, where an id token return (without authorization code exchange). This is what you must enable implicit flow.

![image](https://user-images.githubusercontent.com/20111866/109968580-9007d500-7cfb-11eb-8946-f6f4abb18adc.png)

[2021-03-04 13:11] DeanGross opened #71605 "Setting Expectations for Label changes"
Please provide some information about how long we should expect changes made in the M365 Compliance Center to take to show up in Purview. Some changes in M365 labels take a long time to get fully functional and we need to know what to expect for Purview. It is very hard to run tests without having a general idea is something should take minutes or hours.
---
#### Document Details

⚠ *Do not edit t

[2021-03-04 13:20] ErikDeRoos commented on #69086
While you are right in that the documentation states this somewhere.

Lets put it another way: if you want to debug an application registration DONT use the 'Run now'. Because if it is a SPA type it wont work. And changing that application type is just stupid because you are debugging your application with the SPA flow.

[2021-03-04 13:22] yoelhor commented on #68326
Dear @Mike-Ubezzi-MSFT, thanks for the feedback. To upgrade the sample code, please [open an issue](https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi/issues) directly at the sample code GitHub repo.

#please-close

[2021-03-04 13:22] #68326 closed

[2021-03-04 13:23] #68455 closed

[2021-03-04 13:26] Anmolgan81 opened #71606 "Can we create 100+ databases in Azure MI?"
Is this possible to create??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4dff594a-77ba-dca2-e3ae-f3a7bf0c3e1d
* Version Independent ID: b496ce1e-c8e6-8fe4-d41d-6f57606f5034
* Content: [Resource limits - Azure SQL Managed Instance](https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/resource-limits)
* C

[2021-03-04 13:29] MayankBargali-MSFT commented on #71603
@scale-tone Thank you for your feedback! We will review and update as appropriate.

[2021-03-04 13:50] #69657 closed

[2021-03-04 13:50] vlccnt opened #71608 "Lock at inner scope and not at outer scope"
While it is clear for me that all resources inherit their lock from their parent scope, I am wondering whether it works the other way around. For example, a ReadOnly lock is applied to some resources in a resource group but the resource group itself is not locked. What will happen if I try to delete the resource group? What will happen with unlocked resources in this resource group?

I have only C

[2021-03-04 13:52] zaidmohd commented on #36664
@AlexisJackson Is this also applicable to System Managed Identity? That we need to assign VM System Managed Identity read access to the VM itself?

[2021-03-04 14:06] Blackbaud-BenLambert opened #71609 "Unclear phrasing on this page"
Hi APIM team - just a suggestion.  This page has a section for describing the context variable, and it contains the following sentence:

I think the "...pertinent to the `\request`" portion of that sentence reads awkwardly to me.  What is meant by `\request`?  The context variable provides access to the Response as well (depending on where the policy is used), so maybe consider rewording this?

--

[2021-03-04 14:10] SaiKishor-MSFT commented on #71396
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-04 14:10] #71396 closed

[2021-03-04 14:11] #70938 closed

[2021-03-04 14:19] DeanGross opened #71610 "Impact of deprecation"
What happens when the Azure Active Directory Identity Protection connector alerts are removed? is there a replacement

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab76ee15-b4b1-c9e9-22b7-b52517240b33
* Version Independent ID: 89aa209c-e745-e031-88fe-12e2244c1272
* Content: [Important changes coming to Azure Security

[2021-03-04 14:24] cephalin commented on #71553
Fixed with https://github.com/MicrosoftDocs/azure-docs-pr/pull/149033. The doc update should be published later today. #please-close

[2021-03-04 14:24] #71553 closed

[2021-03-04 14:25] cephalin commented on #70570
Fixed with https://github.com/MicrosoftDocs/azure-docs-pr/pull/149033. The doc update should be published later today. #please-close

[2021-03-04 14:25] #70570 closed

[2021-03-04 14:28] wUEZRs commented on #70353
It's hard to describe it much more than above, as it's a click and do solution

1) We wanted to create a test VM so I went to the Azure backup service and pressed restored a VM from backup > to a separate VM

2) I named the restoration "VM-test" so not to disturb prod

3) When the VM was created, in the Azure portal, it was named VM-test but in reality it had assumed the name and ip address of  th

[2021-03-04 14:41] #64618 closed

[2021-03-04 14:42] tamram commented on #71526
@stingster -

1. An LRS account is not hosted within an availability zone at all. Only ZRS accounts (or GZRS, which also uses ZRS in the primary region) use Azure availability zones.
2. There's no way to pick a zone when you create the account. You can only select the primary region. After the account is created, you can see the region in the account overview in the portal.

Feel free to tell me m

[2021-03-04 14:43] yoelhor commented on #70861
Hi @Norrch2

The sub journey should return the claims back to the main journey. Please check my policy (replace the file extension to xml). In the  return token claims, you can see that all claims reruns with values.

[SubJourneyCall.txt](https://github.com/MicrosoftDocs/azure-docs/files/6084397/SubJourneyCall.txt)

In your case, the precondition needs to be fixed. The `true` must be `True`.

[cod

[2021-03-04 14:50] spelluru commented on #71328
Fixed the issue.
#please-close

[2021-03-04 14:50] #71328 closed

[2021-03-04 14:54] yoelhor commented on #68158
Thanks for the feedback. I'm updating the article accordingly. The issue will be closed when the change is published.

[2021-03-04 15:02] ashic opened #71611 "Azure Portal works, Storage Explorer can't see blobs"
I've given users Read and Storage Blob Data Reader on a storage account. In the Azure Portal, the users can see blobs under the storage account if they click Blob Service > Containers. However, if they select Storage Explorer (preview), the get an auth error saying they don't have permissions to listKeys. Int he desktop version of Storage Explorer, they can see the storage account but nothing unde

[2021-03-04 15:05] yoelhor commented on #68117
CombinedSignInAndSignUp and ClaimsProviderSelection orchestration steps share the same principle. They must be followed by orchestration step type of ClaimsExchange. The ClaimsExchange must contain claims exchanges, with the same name as specifies in the TargetClaimsExchangeId.

So, why your policy doesn't work? because the first one is type CombinedSignInAndSignUp. So, it must be followed by Clai

[2021-03-04 15:10] felickz commented on #33157
Has anyone attempted this using Private Link with a gateway on a VNET?

[2021-03-04 15:24] Norrch2 commented on #70861
HI @yoelhor

First, thank you for all that you do in the B2C :D I am a big fan.

Also, I will test this. My concern is that if you look at orchestration step 2 the value is also lowercase and it works fine. Should there be a difference?

[2021-03-04 15:26] gfallerBB opened #71612 "New-AzDataLakeGen2Item upload to ADLS does not work"
I try to upload files with PowerShell ( (from an Azure VM to a ADLS Gen2 Blob).
The file upload with azcopy (login --identity) works fine.
When I use the powershell cmdlet it just gets stuck with this screen. No error / no progress.

 New-AzDataLakeGen2Item task status :
    Total: 1. Successful: 0. Failed: 0. Active: 1.
 Upload file 'C:\xyz.json' to blob 'test/' in containe
    Percent : 0%.

Pow

[2021-03-04 15:30] JasSuri commented on #70861
If you use lower case, it assumes "True". You **need** to capitalise `True/False` for boolean precondition values.

[2021-03-04 15:31] NavtejSaini-MSFT commented on #71527
@rarandiv If there are no more question, we will close the issue by EOD.

[2021-03-04 15:35] NavtejSaini-MSFT commented on #71525
@theav8or We are assigning this to our doc author for further review.
@mksuni can you please check if this document can be enhanced to include that info on those lines.

[2021-03-04 15:37] NavtejSaini-MSFT commented on #71524
@tejinderrai Product team keeps this document fairly updated with supplement document [here](https://docs.microsoft.com/en-us/azure/azure-sql/database/gateway-migration?tabs=in-progress-ip) which talks about the newer gateways.
Is there anything in particular you are looking to find here.

[2021-03-04 15:42] #68158 closed

[2021-03-04 15:42] SamaraSoucy-MSFT commented on #71596
Thanks for the question! We will review and get back to you shortly.

[2021-03-04 15:43] Norrch2 commented on #70861
@JasSuri Thank you for your reply.

I have created a pull request to update documentation. https://github.com/MicrosoftDocs/azure-docs/pull/71613

[2021-03-04 15:45] #71410 closed

[2021-03-04 15:58] 3dprintscanner opened #71616 "Page out of date"
This page appears to be out of date.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e64957b2-62c1-a751-5a18-3f30e2926104
* Version Independent ID: dae827dc-ff96-a1dd-7320-8f493953a33e
* Content: [Tutorial - Create user flows - Azure Active Directory B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutor

[2021-03-04 16:06] AnuragSharma-MSFT commented on #71606
@Anmolgan81 Thank you for the feedback. We are actively investigating and will get back to you soon

[2021-03-04 16:12] #71232 closed

[2021-03-04 16:14] Ponant commented on #71232
OK @yoelhor , you are welcome.

[2021-03-04 16:15] aruwo17 commented on #71336
Hi Krishna,

It's like you eventually responded and then closed the ticket immediately without any recourse to confirm with me if issue raised has indeed been resolved or query issue raised.
Issue has not been fixed!

https://docs.microsoft.com/en-us/azure/automation/update-management/enable-from-runbook#install-and-update-modules

  *   Step 2:  Select Update Azure Modules to update the Azure mod

[2021-03-04 16:18] danimir commented on #71527
@rarandiv - you are welcome. The clarification made total sense. Thanks again on your feedback to Azure docs!

[2021-03-04 16:19] cveld opened #71617 "Auto deployment feature"
I think the page can be improved to make it crystal clear how the DeployIfNotExists effect behaves with regards to triggering a new deployment. I.e.
1. When the policy assignment has been established, all matching existing resources are being scanned, and only the compliancy status is raised. No auto-deployment will be done.
2. With the policy assignment in place, when any new resource gets create

[2021-03-04 16:20] yoelhor commented on #71616
I'm a little unclear on this. Could you elaborate?

[2021-03-04 16:21] SaiKishor-MSFT commented on #71600
@somarnebur Could you please link the doc that you are referring to this issue?

[2021-03-04 16:24] aidarko opened #71618 "Azure Cli does not work properly to set up DDoS Protection Plan"
[Enter feedback here]

There're multiple issues while working with Azure cli in order to set up DDoS protection plan:

**1. The command, which is given on the page is not complete:**

    --resource-group MyResourceGroup \
    --vnet MyVnet \
    --ddos-protection true

It ends up with:

Correct comand is:

    --resource-group MyResourceGroup \
    --vnet MyVnet \
    --ddos-protection true \

[2021-03-04 16:26] #70534 closed

[2021-03-04 16:27] SnehaAgrawal-MSFT commented on #71319
@mjfusa Thanks for feedback! Your feedback has been shared with the content owner for further review

[2021-03-04 16:29] ashic commented on #71611
An observation - in Storage Explorer, when I try to expand the Storage Account, I get an error next to Account Name, Account Kind, etc. in the UI stating "Error loading property".

[2021-03-04 16:31] AzureAzim opened #71619 "Forest requirements missing"
What are the domain functional level and forest functional levels for ADDS Auth in Azure Files?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 534b3ef3-5664-973e-b146-8c1f960bf536
* Version Independent ID: 57c3ce18-2857-8ed0-10a5-5061d391a079
* Content: [Frequently asked questions (FAQ) for Azure

[2021-03-04 16:34] yoelhor commented on #69952
Thank @pramodkumarhk for letting us know. I'm updating the article and closing this issue.

[2021-03-04 16:40] #69952 closed

[2021-03-04 16:46] DCtheGeek commented on #71617
@cveld Thanks for the question and feedback.  I'd like to address and understand each part:

The Doc currently says "During an evaluation cycle, policy definitions with a DeployIfNotExists effect that match resources are marked as non-compliant, but no action is taken on that resource.", which I believe explains this part.  Can you help me understand how I can make that more clear?

The Doc curren

[2021-03-04 16:56] tejinderrai commented on #71524
Hello,

A  .0 network address is reserved for the network address range and not used by any hosts and gateways or routers. Typically it is referred to as a network broadcast address.  A number of the gateway addresses specify x.x.x.0 in the network address, but the .0 is reserved. That's why I was flagging this as a question, to see if all the documented .0 addresses are in fact wrong? Or should b

[2021-03-04 16:59] MashaMSFT commented on #71535
Hi @dfatkulbayanova , yes exactly :) You have to do it manually: [https://docs.microsoft.com/azure/azure-sql/virtual-machines/windows/sql-agent-extension-manually-register-single-vm?tabs=bash%2Cazure-cli#noagent-management-mode](https://docs.microsoft.com/azure/azure-sql/virtual-machines/windows/sql-agent-extension-manually-register-single-vm?tabs=bash%2Cazure-cli#noagent-management-mode)

For the

[2021-03-04 17:03] ChaitanyaNaykodi-MSFT commented on #71609
Hello @Blackbaud-BenLambert,
Thank you for your feedback! We will review and update as appropriate.

[2021-03-04 17:03] somarnebur commented on #71600
https://docs.microsoft.com/en-us/azure/firewall/snat-private-range

[2021-03-04 17:05] AlexandraKemperMS commented on #71592
Hi @VicSmith, thanks for reaching out. This seems to be an issue in relation to your authentication method. There are 2 types of authentication supported by App Config - access keys(also known as connection strings) and Azure AD. Based on the line
`options.Connect(settings["ConnectionStrings:AppConfig"])`
in your code, you are using a connection string/access keys to authenticate. However, your Ke

[2021-03-04 17:05] AlexandraKemperMS commented on #71592
Hi @VicSmith, thanks for reaching out. This seems to be an issue in relation to your authentication method. There are 2 types of authentication supported by App Config - access keys(also known as connection strings) and Azure AD. Based on the line
`options.Connect(settings["ConnectionStrings:AppConfig"])`
in your code, you are using a connection string/access keys to authenticate. However, your Ke

[2021-03-04 17:07] asudbring commented on #71246
Issue resolved
#please-close

[2021-03-04 17:07] #71246 closed

[2021-03-04 17:08] subashsivaji opened #71621 "Limitation in multiline values in ADF CDM connector"
Could please add a limitation section in this doc that says, If the Metadata format source property value is `model.json` and if any values contains multiline character, then ADF mapping data flow creates multiple rows for that.

Following is output from Dataverse from dynamics - which exports to data lake as model.json
![image](https://user-images.githubusercontent.com/10966624/110000869-aa49af00

[2021-03-04 17:12] VicSmith commented on #71592
@AlexandraKemperMS , Thanks... I will give it a try.  Do you thing the example code in the doc needs to be updated based on the context of the page?  Also, is there any differnet in code for .NET 5.  My solution is not using .NET Core 3.
Thanks,
Vic

[2021-03-04 17:19] ashic commented on #71611
Logs from a linux run trying to expand the containers shows this:

[code]

[2021-03-04 17:20] kylegeorgearch opened #71622 "Outdated and Confusing for Learning Pool Clients"
I work for Learning Pool and this page is outdated and providing confusing information to our clients. It wasn't written by us and we can support our clients through our implementation team when they purchase SSO for our products.

Is there a way I can verify my identity at Learning Pool and get this removed?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsof

[2021-03-04 17:29] roygara commented on #71024
@llihho Thanks for reaching out, can you provide some context? Which specific code section provided you an error? Is this CLI or PowerShell?

@psmanhas FYI

[2021-03-04 17:33] #68117 closed

[2021-03-04 17:35] elqu20 opened #71623 "test"
test
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77457907-d6c3-0d25-8e13-885c1a141fc7
* Version Independent ID: 68cc315a-ca2c-b68f-7357-999197203d03
* Content: [Azure Percept Vision datasheet](https://docs.microsoft.com/en-us/azure/azure-percept/azure-percept-vision-datasheet)
* Content Source:

[2021-03-04 17:37] chitturs opened #71624 "Az CLI and PS examples simply don't work"
Passing JSON payload through command line is very easy to get wrong. For PS, it ends up adding a \ in front of every double quote and thus causes the remote service to fail to parse the json. For az, it would be best to pass a json file path in command line as opposed to sending the string directly.

Please fix the samples (for both Linux and Windows).

These samples work for me.

		a. AZ (copy to

[2021-03-04 17:38] yoelhor commented on #70861
@Norrch2  your PR will cause a conflict, please close it. I have just updated the doc with something related to IDP selection.

[2021-03-04 17:44] anupam128 opened #71625 "Resource group deletion document should also list the access control required"
Resource group deletion document should also list the access control required.
Some members of our organization are not able to delete resource groups and it is not clear what access needs to be provided.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e30e8626-d145-a638-e3ad-6948f7897dec
* Version Independent ID: a261c

[2021-03-04 17:48] KranthiPakala-MSFT commented on #71604
@viseshag
Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-03-04 17:49] KranthiPakala-MSFT commented on #71605
@DeanGross
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-03-04 17:54] stingster commented on #71526
@tamram -
Our application forms a `fail unit` with an ABS instance.  Shortly put, if an ABS instance crashes, our app has to crash immediately and the traffic should go to other units from other availability zones. To achieve a high SLA we need the ABS instance connected to our app to reside in the same zone as the app itself.

Imagine if all ABS instances would be located in the same zone/data ce

[2021-03-04 17:58] yoelhor commented on #70861
This is the new section I have added:

Orchestration steps can be conditionally executed based on preconditions defined in the orchestration step. There are two types or preconditions:
 
- **Claims exist** - Specifies that the actions should be performed if the specified claims exist in the user's current claim bag.
- **Claim equals** - Specifies that the actions should be performed if the specifi

[2021-03-04 17:59] #71564 closed

[2021-03-04 17:59] KranthiPakala-MSFT commented on #71621
@subashsivaji -
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-03-04 18:00] roygara commented on #70550
#assign:mhopkins-msft

[2021-03-04 18:01] roygara commented on #70550
#assign: mhopkins-msft

[2021-03-04 18:06] yoelhor commented on #70152
Looks like it's this issue has been fixed

#please-close

[2021-03-04 18:06] #70152 closed

[2021-03-04 18:06] DerekHerman-MSFT commented on #71570
@Saratoga6
I tried but was able to run the above command without issue. Make sure you are running this as a separate command and not on the same line as the previous. If you are still having issues could you share the Linux distribution and the full command line?

[2021-03-04 18:07] tamram commented on #71526
@stingster - It sounds to me like the best offering we have for you would be ZRS or GZRS/RA-GZRS.

LRS doesn't use Azure availability zones technology. It copies the data three times within the same data center, but not across zones.

It would be helpful if our team could contact you. Is there a way we can reach you? Or feel free to email me directly using my github alias (tamram) + "@microsoft.co

[2021-03-04 18:11] nayenama commented on #70016
#please-close

[2021-03-04 18:11] #70016 closed

[2021-03-04 18:15] elqu20 opened #71626 "test-2"
[Enter feedback here]
test again
@elqu20

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77457907-d6c3-0d25-8e13-885c1a141fc7
* Version Independent ID: 68cc315a-ca2c-b68f-7357-999197203d03
* Content: [Azure Percept Vision datasheet](https://docs.microsoft.com/en-us/azure/azure-percept/azure-percept-vision-datasheet)
* C

[2021-03-04 18:17] vikaskumawat80 opened #71627 "What happens to AD DS Joined Storage Account if we Failover?"
I don't see any explanation around the failover of Identity? What happens if the Storage Account is joined to AD DS and I failover to the secondary region? Would it retain the ACLs and trust with the Domain or, I have to reconfigure these?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d254d903-bd6c-48ce-967d-0a96f2ca9

[2021-03-04 18:21] stingster commented on #71526
@tamram

Someone from our company will follow this thread on another channel but that will not happen until next week so we want it to have some information earlier.

Thank you once again you have been really helpful.

[2021-03-04 18:22] #70861 closed

[2021-03-04 18:31] tamram commented on #71526
@stingster - Glad I could help. I'm now editing my previous message to remove my contact info.

[2021-03-04 18:43] v-anvari opened #71628 "Function retry policy setting of App level vs Function delay retry"
cc @jeffhollan / @pragnagopa

We have customers confused with the usage of the retry policy in the Host.json in App Level vs function delay retry.

![image](https://user-images.githubusercontent.com/66122429/110012533-9ff8d680-7d46-11eb-8c09-b7dfa11e1be3.png)

![image](https://user-images.githubusercontent.com/66122429/110012654-c1f25900-7d46-11eb-8af4-9697a0e52627.png)

The confusion here is that

[2021-03-04 18:45] CelesteDG commented on #65401
@SruthiJeelugula - Please see the response from jesakowi above. If you have any other follow up questions or this doesn't address your question, let us know.

#please-close Closing this issue for now. Answer provided.

[2021-03-04 18:45] #65401 closed

[2021-03-04 18:51] rohitnayakmsft commented on #71190
Please assign this to a PM in the Azure Synapse team. I am not the POC for Synapse.

[2021-03-04 18:53] CelesteDG commented on #68619
@MarileeTurscak-MSFT Hi Marilee. Can you please remove doc-enhancement from the labels? It's an ongoing discussion with PM at the moment so unless it's a definitive ask for docs enhancement it would be more accurate to put product-question for now. Thank you.

[2021-03-04 18:53] ChaitanyaNaykodi-MSFT commented on #71271
Hello @cachai2, I was able to replicate the issue above. Can you please have a look?

[2021-03-04 18:53] #71356 closed

[2021-03-04 18:54] Josh-Kewley-BC opened #71629 "Configuring an auto-instrumented app service"
Hi there,

We are using the auto-instrumentation option of app service to connect our Java back end to AI. The instructions on this page talk about downloading a jar and using a json file in the same directory as the jar to configure app insights.  If the application is auto-instrumented, where should the applicationinsghts.json be located?

This documentation page should probably differentiate be

[2021-03-04 18:54] CelesteDG commented on #69050
@rwike77 Please take a look at this issue and provide an assessment.

[2021-03-04 18:59] yoelhor commented on #70510
Thanks for your feedback. I'm adding the claims transformation to the string claims transformation document.

[2021-03-04 19:00] PeterCLu commented on #70877
Linked PR has been merged in #please-close

[2021-03-04 19:00] #70877 closed

[2021-03-04 19:00] PeterCLu commented on #71036
Linked PR has been merged #please-close

[2021-03-04 19:00] #71036 closed

[2021-03-04 19:01] CelesteDG commented on #69650
@wingmans - Hello. Thank you for the feedback. Can you please provide more specifics about which specific link is broken? The topic itself is not a whitepaper but meant more as a reference topic. If there's anything in the topic that needs more clarification, please let us know and we'll work to see how we can address that feedback.

Flagging @sureshja to make a note of the comment here and the re

[2021-03-04 19:04] yoelhor commented on #70455
Thanks for the feedback. This issue is now fixed.

#please-close

[2021-03-04 19:04] #70455 closed

[2021-03-04 19:26] DerekHerman-MSFT commented on #71562
@oloria Can you try running the CLI equivalent of the above command with the --subscription parameter?
subnetid=$(az network vnet subnet show --resource-group "myresourcegroup" --vnet-name "myvnet" --name "mysubnet" --query id --output tsv --subscription "sub-id")

[2021-03-04 19:26] sdebruyn commented on #55046
Thank you @RyanHill-MSFT, that explains it very well. It seems that this is still a little bit unstable.

[2021-03-04 19:30] msereda commented on #70938
@yoelhor thank you for the confirmation and update.

[2021-03-04 19:34] MarileeTurscak-MSFT commented on #71610
@DeanGross
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-04 19:34] emuench commented on #70394
Working with SR.

[2021-03-04 19:36] timoteosoutello opened #71631 "ingress-controller-troubleshoot page with "embed launch" icon broke"
Regarding page -> https://docs.microsoft.com/en-us/azure/application-gateway/ingress-controller-troubleshoot

That some browsers (Chrome / Edge), the icon stays like a "broken image" regarding "Embed Launch" link, examples:

![image](https://user-images.githubusercontent.com/3386186/110019550-5e950680-7d07-11eb-9283-32f9fc48152d.png)
![image](https://user-images.githubusercontent.com/3386186/11001

[2021-03-04 19:50] jamesnovak commented on #71576
Thanks!  please let me know if there is anything on my end to test.

[2021-03-04 19:51] baanders commented on #71565
Hi @rinisbet,

I was able to reproduce what you described with the system managed identity enabled by default, so I'm updating the guidance to anticipate that it'll already be set up.

I also tried creating an Azure function in a different way (through the portal) to see if it's *always* enabled by default, and found that in this case, it was not. To account for contingency scenarios that we may n

[2021-03-04 19:51] KranthiPakala-MSFT commented on #71471
@leifbro Could you please review and merge the PR - Thanks!

[2021-03-04 20:01] alexkarcher-msft commented on #71353
Hi @bgulseren

I was not able to reproduce your issue on my end. Can you confirm what version of the Functions runtime you are running? I sounds like the required package changed as Functions has been upgraded.

[2021-03-04 20:03] DavidTrigano commented on #71538
Hi @marcelkmfst,

Thank you for your question.

When there is a change in an Azure resource that was previously associated with a feature (in this example Azure SQL Auditing) you must check if the capability has stopped working.
This is applicable to any service in Azure, as we do not update all the associated feature during a change in an Azure resource.
We are also sending emails when there is a

[2021-03-04 20:07] esmiddy opened #71634 "Updates/Additions to the CUA Program"
The CUA program has been a great initial resource as we continue working on creative ways to accurately and efficiently attribute customer Azure usage to Partner services and solutions. One question I had was are there plans in the works/ in the future to add additional capability to the CUA program (e.g. ability to attribute usage beyond a specific ARM template or ARM API -- say at the RG or subs

[2021-03-04 20:15] antiGithub commented on #39665
Unfortunately, I also encountered this problem and wasted a lot of time. Since there is no workaround, does the variant have to be used via a custom domain?

It's a shame that there is no uncomplicated solution here ...

[2021-03-04 20:18] antiGithub commented on #66458
+1

[2021-03-04 20:19] James-Hamil-MSFT commented on #71598
Hi, we are investigating your issue and will update you shortly.

[2021-03-04 20:33] zaalion opened #71635 "The "Include in ARM template" link has disappeared from global parameters management page"
[Enter feedback here]

The "Include in ARM template" link has disappeared from global parameters management page
I only see +new and edit-all links now.

any idea?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b30daa8-67a6-a4ed-e644-eae2f79c361f
* Version Independent ID: c982e67d-577d-67f6-aafc-1b733b213d26
* Content:

[2021-03-04 20:54] paulfinol opened #71636 "Site recovery on-premises hardware requisites"
https://docs.microsoft.com/en-us/azure/site-recovery/vmware-azure-deploy-configuration-server

i dont fully understand what are the requirement for the configuration server or process server

firs there are some prerequisites and then some Sizing and capacity requirements which one to follow?
first on prerequisites section  seems need three disks but not mentioned OS disk size
later on Sizing and

[2021-03-04 21:07] kathung opened #71637 "dbutils.fs.rm("<path-to-directory>", True)"
For the Scala code, the 'True' below needs to be 'true'.  Otherwise it errs out.  Thank you.
dbutils.fs.rm("<path-to-directory>", True)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ca51a29-21e0-6375-b778-8e5c65310a19
* Version Independent ID: 52fafdc0-6405-484a-0c62-00af67fd0307
* Content: [Create table in overwrite

[2021-03-04 21:10] MarileeTurscak-MSFT commented on #71622
@kylegeorgearch
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-04 21:16] RideMo opened #71639 "Customers asking more description about KeepAliveInDays parameter"
Customers asked for more detailed explanation about the custom policy value  _KeepAliveInDays_   What is it and how used.  E.g.    <SingleSignOn Scope="Tenant" KeepAliveInDays="30" />

Recommendation:  The keepAliveInDays parameter allows you to configure how the long the keep me signed in (KMSI) session cookie should persist.  For example, if you set the value to 30, then KMSI session cookie will

[2021-03-04 21:18] pisees opened #71640 "Link to "Overview of Microsoft Azure compliance" is not working"
Hi the link to "Overview of Microsoft Azure compliance" is not working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed330edc-c3ab-d053-faad-4dc5da373b48
* Version Independent ID: 625ab8a7-8379-0a1c-c633-fa7bf80f161e
* Content: [Introduction to Azure Kubernetes Service - Azure Kubernetes Service](https://docs.microso

[2021-03-04 21:18] donduvall commented on #69839
Any movement on this at all?

[2021-03-04 21:22] #70510 closed

[2021-03-04 21:26] glentoconnor commented on #71549
JamesTran-MSFT,

That looks more like what I expected!!  And, that is what the article says I should be getting.  You definitely got further than I did....  Now the question is why???

Before mine ever gets close to having me sign in, it fails with can't get to:
https://go.microsoft.com/fwlink/?LinkID=627338&clcid=0x409  (I have found I can bring up that page and it is just a page of text, etc.)

[2021-03-04 21:28] #70065 closed

[2021-03-04 21:38] yoelhor commented on #70149
One more change and I'm closing this issue.

[2021-03-04 21:40] #71639 closed

[2021-03-04 21:42] v-jheichman opened #71642 "Need Clarification for Steps in Scanning Azure Synapse Data Analytics"
### Further clarification needed on these steps and error messages
**1. Networking access between the Purview account and Azure Synapse Analytics?**
What are the steps for this?

**2. What else can we verify when we get this scan?**
_Error: (22300) Cannot connect to SQL Database: 'jh-rg-synapse.database.windows.net', Database: 'jh_dedicated', User: ''. Check the linked service configuration is cor

[2021-03-04 21:43] LockTar commented on #70065
No change?

[2021-03-04 21:50] DerekHerman-MSFT commented on #71612
@gfallerBB Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-04 21:55] yoelhor commented on #70058
Thanks @LockTar for the feedback. I have updated the doc (will be published later today). BTW, only the city claim is needed to to be added to the input claims collection (as the rest defined in the base policy).

[2021-03-04 21:58] zhenlan commented on #71592
@VicSmith in your Key Vault *access policy*, can you please check whether you are using 'vault access policy' or 'Azure role-based access control'? The document showed an example using access policy, but it can go wrong if Azure RABC is selected in your Key Vault.

[2021-03-04 22:00] yoelhor commented on #67400
Thanks for the feedback. The metadata is now documented [here](https://docs.microsoft.com/azure/active-directory-b2c/identity-provider-generic-saml-options?pivots=b2c-custom-policy#require-encrypted-saml-responses).

#please-close

[2021-03-04 22:00] #67400 closed

[2021-03-04 22:00] DerekHerman-MSFT commented on #71619
@AzureAzim On the [activation page ](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-identity-auth-active-directory-enable#supported-scenarios-and-restrictions):
_Only supported on clients running on OS versions newer than Windows 7 or Windows Server 2008 R2._
Let me know if you that doesn't answer your question or you have further issues.

[2021-03-04 22:00] #70149 closed

[2021-03-04 22:01] code-on-git commented on #44301
In late 2019 this was in planned state.
What state is it in now?

[2021-03-04 22:02] #70058 closed

[2021-03-04 22:03] hpourreza opened #71644 "minor typo"
[Enter feedback here]
Under the "Send logs to Azure Log Analytics" section, the **following** seems to be extra:
Select the Send to Log Analytics checkbox, select a log analytics workspace, and then click the **and then click the** Save button.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63c3effd-7cc3-f021-358a-adea

[2021-03-04 22:03] omerzubair opened #71645 "powershell command - Import a certificate from your vault to your app"
Hi
i need
**powershell** command for following heading in this doc.
**"Import a certificate from your vault to your app"**

I am unable to upload using interface. It gives me this error with no detail.
**Import Key Vault Certificate
Failed to import Key Vault Certificate**

![image](https://user-images.githubusercontent.com/7728453/110036755-9b0d4480-7d91-11eb-9251-1ef0c94be981.png)

---
#### Docu

[2021-03-04 22:04] code-on-git opened #71646 "WAF request size 128 kb"
Hi,
We have a customer that has some request that exceeds the 128 kb limit.
Are there any plans to increase the limit?
Does the WAF have any value if we turn of the inspection of the request body?

[2021-03-04 22:07] oloria commented on #71562
Hi @DerekHerman-MSFT  Thank you for checking.

I've tried as you suggested with CLI from the Cloud Shell and I'm getting the following error :

[code]

**Note**: Please notice that I removed the Subscription ID and other resources id's from the command and the error message and I've checked that I'm using the correct alphanumeric value for the subscription. Actually I ran the following CLI command

[2021-03-04 22:08] yoelhor commented on #66676
Closing due to inactivity.

#please-close

[2021-03-04 22:08] #66676 closed

[2021-03-04 22:08] paulfinol opened #71647 "Configuration server prerequisites"
What do I need for the configuration server?
Review the prerequisites.

there is a mix of hardware requirements between the prerequisites and Sizing and capacity requirements, which one to follow?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a699efb-c78c-2dc6-2d0d-6ffc0a2918ce
* Version Independent ID: 36a048d5-71b5

[2021-03-04 22:11] yoelhor commented on #66914
The document format has been changed, and addressed this issue.

#please-close

[2021-03-04 22:11] #66914 closed

[2021-03-04 22:11] #71565 closed

[2021-03-04 22:17] Aaron-ML opened #71650 "Suggesting to use an outside cron job to update nodes?"
Are we really suggesting it's best practice to setup a third party cron job to apply security updates to nodes?

Why would we do this versus using a built tool like Kured? Seems like a dangerous suggestion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9659eab1-b7f7-d163-ff0a-577b7496b5c8
* Version Independent ID: 089

[2021-03-04 22:17] lipalath-ms opened #71651 "Issue with DuplicateDetectionHistoryTimeWindow when trying to send message to service bus topic"
I have a C# code to send a message to the service bus topic as follows:

[code]

On running the code, when it hits the breakpoint after line:
[code]
I see message is not being added to the topic all the time when I execute the code.

DuplicateDetectionHistoryTimeWindow is 10 min
![image](https://user-images.githubusercontent.com/6519992/110037916-e96c0600-7cf3-11eb-9a6f-489a27a3cfc6.png)

When I t

[2021-03-04 22:23] jeffwmiles opened #71653 "Inter-zone bandwidth charges for VMs deployed without availability zone assignment"
According to [pricing details for bandwidth](https://azure.microsoft.com/en-us/pricing/details/bandwidth/), July 1 2021 marks the date when data transfer between Availability Zones will begin.

According to [Issue 39091](https://github.com/MicrosoftDocs/azure-docs/issues/39091), virtual machines created with no selected availability zone will be placed without control by an "allocator" service.

❓

[2021-03-04 22:25] jeffwmiles commented on #69949
I agree that this topic needs further documentation; it is extremely difficult to find accurate information and it matters for design purposes.

This was previously discussed in 2019 ([Issue 39091](https://github.com/MicrosoftDocs/azure-docs/issues/39091)), but I do not see any documentation changes arising from that.

[2021-03-04 22:31] prsandhu commented on #69949
@anavinahar - Hi Anavi - Can you please drive clarity on this topic for Public IP addresses?

[2021-03-04 22:33] James-Hamil-MSFT commented on #71599
Hi, are you asking about the release date?

[2021-03-04 22:34] James-Hamil-MSFT commented on #71601
Hi, we are investigating your issue and will update you shortly.

[2021-03-04 22:35] aspnet4you commented on #71587
@MonikaReddy-MSFT - Do you have any update on this? My AKS cluster is down since I can't rotate expired certificate following the documentation provided by Microsoft. Azure manages the master and I have no control over it to renew certs manually.

Is there any workaround to solve the problem (other than recreating aks cluster from scratch)?

[2021-03-04 22:38] #71598 closed

[2021-03-04 22:40] Aaron-ML commented on #71650
I see you have documentation for Kured: https://docs.microsoft.com/en-us/azure/aks/node-updates-kured

[2021-03-04 22:43] dpolivy opened #71654 "Examples on how to configure object replication with ARM Templates"
I'd love to see some examples of how to properly configure object replication using ARM templates. It does seem this is possible using this [template definition](https://docs.microsoft.com/en-us/azure/templates/microsoft.storage/2019-06-01/storageaccounts/objectreplicationpolicies), but not sure the proper syntax to use for creating a policy and applying it to two separate storage accounts (which

[2021-03-04 22:59] jlichwa commented on #68668
@becke-ch-s0-v1 Secrets are available on Management Plane for ARM deployment. Private link only affects Data Plane.

It is described here:
https://docs.microsoft.com/en-us/azure/templates/microsoft.keyvault/vaults/secrets
"...APIs using this model are is intended for internal use in ARM deployments. Users should use the data-plane REST service for interaction with vault secrets."

I hope that expl

[2021-03-04 22:59] #68668 closed

[2021-03-04 23:00] KranthiPakala-MSFT commented on #71637
@kathung
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-03-04 23:00] JnHs commented on #71093
Hi @bram2506 - apologies for taking so long to reply. Please take a look at this section of the doc, which explains more about using the relative path: https://docs.microsoft.com/en-us/azure/batch/virtual-file-mount#mount-a-virtual-file-system-on-a-pool
Let us know if you still have additional questions.

[2021-03-04 23:03] KranthiPakala-MSFT commented on #71637
@leifbro Could you please review and merger the PR - Thank you!

[2021-03-04 23:07] jlichwa commented on #71545
@bakintunde intent of this tutorial is to provide basic example. For detail documentation and options you should refer to official product documentation as you provided - https://azure.github.io/secrets-store-csi-driver-provider-azure/configurations/set-env-var/

[2021-03-04 23:09] DerekHerman-MSFT commented on #71562
@oloria I wish to engage with you offline for a closer look, please send an email with subject line “Attn:deherman” to AzCommunity[at]Microsoft[dot]com referencing this thread and the Azure subscription ID and I will follow-up with you.

[2021-03-04 23:11] SaiKishor-MSFT commented on #71600
Azure Firewall uses the Standard Load Balancer, which doesn't support SNAT for IP protocols today. We're exploring options to support this scenario in a future release. Therefore, ICMP is currently not supported. You can find this information in [Azure Firewall Known issues. ](https://docs.microsoft.com/en-us/azure/firewall/overview#known-issues)

[2021-03-04 23:11] SaiKishor-MSFT commented on #71600
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-04 23:11] #71600 closed

[2021-03-04 23:16] DerekHerman-MSFT commented on #71627
@vikaskumawat80 Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-04 23:21] jlichwa commented on #69324
@andyliuliming If you run command again it will override configuration.  If you want to regenerate key you should call this command.  https://docs.microsoft.com/en-us/cli/azure/keyvault/storage?view=azure-cli-latest#az_keyvault_storage_regenerate_key

#please-close

[2021-03-04 23:21] #69324 closed

[2021-03-04 23:37] msmbaldwin commented on #70075
Hi, @ssivas.  What is the PR #?

[2021-03-04 23:44] bwren commented on #71469
I agree those appear to be in error, thanks. Fixing them now.

#please-close

[2021-03-04 23:44] #71469 closed

[2021-03-04 23:47] AnejaAmit opened #71655 "Change HCX version to 3.5.3"
[Please change HCX version to 3.5.3]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecae1fa9-e6f3-ecf3-fc19-afea5f16fe54
* Version Independent ID: 14ffd8ac-9c84-7653-89cf-d01a915a4a2e
* Content: [Azure VMware Solution platform updates - Azure VMware Solution](https://review.docs.microsoft.com/en-us/azure/azure-vmware/a

[2021-03-04 23:54] kobulloc-MSFT commented on #71623
@elqu20 Thank you for reaching out to us.  If you have a comment or a question about our documentation, please open an issue and we'd be happy to assist you.

[2021-03-04 23:54] #71623 closed

[2021-03-04 23:55] AnejaAmit commented on #71655
Update: Change HCX version from 3.5.2 to R146

[2021-03-04 23:57] kobulloc-MSFT commented on #71626
@elqu20 Thank you for reaching out to us. If you have a comment or a question about our documentation, please open an issue and we'd be happy to assist you.

[2021-03-04 23:57] #71626 closed

[2021-03-04 23:57] bwren commented on #70813
We actually have an update for this going out within the next few hours. The live data feature is for clusters with or without Container insights. The update makes that more clear.

#please-close

[2021-03-04 23:57] #70813 closed

[2021-03-05 00:01] DerekHerman-MSFT commented on #71644
@hpourreza Thanks for reporting this. I have created a PR for this and the changes should go live soon.

[2021-03-05 00:01] #71644 closed

[2021-03-05 00:02] DerekHerman-MSFT commented on #71654
@dpolivy Thanks for the feedback I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-05 00:06] VikasPullagura-MSFT commented on #71655
@AnejaAmit
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-03-05 00:06] VikasPullagura-MSFT commented on #71655
@shortpatti
Can you please check and add your comments on this doc update request as applicable.

[2021-03-05 00:07] shortpatti commented on #71655
Document updated

#please-close

[2021-03-05 00:07] #71655 closed

[2021-03-05 00:10] VikasPullagura-MSFT commented on #71640
@pisees
Thanks for the feedback! We are currently investigating and will get back on this.

[2021-03-05 00:13] VikasPullagura-MSFT commented on #71650
@Aaron-ML
Thanks for the feedback! We are currently investigating and will get back on this.

[2021-03-05 00:15] VicSmith commented on #71592
@zhenlan ... My Access Policy was and is set to "Vault access policy".

[2021-03-05 00:18] VicSmith commented on #71592
@zhenlan and @AlexandraKemperMS
BTW... Looks like  the documentation has me running a Azure role-based access control command.
Was I supposed to select the Azure role-based access control Permission model?
![image](https://user-images.githubusercontent.com/1848257/110048647-dd913b80-7d15-11eb-8e03-21390dc419c5.png)

[2021-03-05 00:19] artisticcheese commented on #52274
There shall be a feature added like that. There is a lot of situations where you need to perform clean up in some sort of store when scale in happens. Good example is Active Directory, you need to remove instance from AD.

[2021-03-05 00:22] VicSmith commented on #71592
@zhenlan  and @AlexandraKemperMS and @BhargaviAnnadevara-MSFT ...

In the CLI az ad sp create-for-rbac command there is a name in your example that has http://mySP there.
Since this is a name, can it be any text without the http?
![image](https://user-images.githubusercontent.com/1848257/110048947-7c1d9c80-7d16-11eb-96b5-f99cedaa9625.png)
---
![image](https://user-images.githubusercontent.com/1848

[2021-03-05 00:24] krishnamsft20 opened #71656 "Can we add Connect from Linux client using SQLCMD?"
[Enter feedback here]
Recently, one of the customers opened a case regarding how to connect to Azure SQL database from Linux client.

It would be nice to let customers know that they can install mssql-tools in Linux and run sqlcmd to test connections.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02a4f57d-539b-2bb3-81

[2021-03-05 00:26] TravisCragg-MSFT commented on #70385
@Klaas- The terms are used for conceptual reasons. Availability Zones do not actually have fault domains or update domains attached to them.

[2021-03-05 00:30] cpinotossi opened #71657 "Checksum"
Could you please be moredetailed about how the checksum created by the mars agent is used afterwards? Is it used at the vault to verify consistency?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd590e9e-840e-e1ee-72af-103e1507668b
* Version Independent ID: 46224bb5-d2a3-4fbd-66f1-d6b2807dae50
* Content: [Architecture

[2021-03-05 01:06] James-Hamil-MSFT commented on #71611
Hi, we are investigating your issue and will update you shortly.

[2021-03-05 01:06] James-Hamil-MSFT commented on #71608
Hi, we are investigating your issue and will update you shortly.

[2021-03-05 01:07] MonikaReddy-MSFT commented on #71647
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-03-05 01:07] MonikaReddy-MSFT commented on #71646
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-03-05 01:17] paulfinol commented on #71647
https://docs.microsoft.com/en-in/azure/site-recovery/vmware-azure-deploy-configuration-server

[image: image.png]

[image: image.png]

Paul Finol

On Thu, Mar 4, 2021 at 10:07 PM MonikaReddy-MSFT <notifications@github.com>
wrote:

[2021-03-05 01:25] ChaitanyaNaykodi-MSFT commented on #71651
Hello @lipalath-ms, Thank you for reaching out. Please note that this channel (the Azure Docs repository) is only for driving improvements related to the Azure documentation. As we did not determine any documentation improvements, we will now proceed to close this issue out.
It will be helpful if you could ask the question on our [Microsoft Q&A paltform](https://docs.microsoft.com/en-us/answers/in

[2021-03-05 01:25] #71651 closed

[2021-03-05 01:34] mmacy commented on #70484
@frankiea This is a great question! Apologies for the delay in response, but I needed to ensure clarity and accuracy in my response. Hopefully it contains both. If this answers your questions sufficiently, let me know and we'll look at integrating this into the documentation for others' benefit.

#### Q: Could you add details about the actual differences between an SPA vs. Web Redirect URI? All my

[2021-03-05 02:13] AndyWDev opened #71660 "Potentially incorrect step on page."
I am not sure if the following steps are correct.

1. From the Azure portal, select your Azure Purview account. Navigate to the Management Center and then navigate to credentials.

_There doesn't appear to be a management center in the Purview account, however, there is one in the Azure Purview Studio.  Also, under step 3, I think there is an additional step required._

---
#### Document Details

[2021-03-05 02:43] SnehaAgrawal-MSFT commented on #71645
@omerzubair Thanks for the feedback. We are currently investigating and will update you shortly.

[2021-03-05 02:45] zhenlan commented on #71592
@VicSmith the 'http' is the required format. If you don't include it, I think the CLI will add it for you automatically.

Do you have a private endpoint enabled for your Key Vault? (check under 'Networking' blade).

[2021-03-05 02:49] ElliotWood opened #71662 "Add device to Azure IoT Hub- instructions not aligned to UI"
Hi Docs,

Following the steps 1-3 for section "Add device to Azure IoT Hub" does not match the UI in the Portal.

[code]
Create device is not an option for 'Device Update IoT Hub' - This is found on the IoT Hub under 'IoT Devices' -> '+ New'
[code]

Explorers is not an option for 'Device Update IoT Hub'. The rest of the instruction is correct for IoT as stated above.

---
#### Document Details

⚠

[2021-03-05 03:02] Rajneel4Orion commented on #71012
@James-Hamil-MSFT  , the third party application is called Orion but I am also having trouble getting the email to work with Printers as well (epsom). Orion is just using a relay sorta setup to send directly from the application.

[2021-03-05 03:10] hpsin commented on #68619
You've got it, @isc-mcozine .  We return an access token that's scoped to some selection of openid plus one or both of profile and email. This is a Graph access token, but more importantly it works on the userinfo endpint.  The OIDC scopes in the access token provide additional details about the user - basic information with openid, object ID and name with profile, email address with email.

All o

[2021-03-05 03:13] KrishnaG-MSFT commented on #71617
@DCtheGeek Thanks for the super quick response. :+1:

[2021-03-05 03:15] KrishnaG-MSFT commented on #71625
@anupam128 Thanks for your comment! We will review and provide an update as appropriate.

[2021-03-05 03:20] KrishnaG-MSFT commented on #71657
@cpinotossi Thanks for the feedback
Assigning @dcurwin for visibility, review and document enhancement consideration if appropriate.

[2021-03-05 03:22] KrishnaG-MSFT commented on #71636
@paulfinol Thanks for your comment! We will review and provide an update as appropriate.

[2021-03-05 03:26] BharathNimmala-MSFT commented on #71355
@RonnieQuan Thanks again for reaching out , not sure I understand the scenario you are looking for.  Please review the [Authenticating Azure Monitor requests](https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/rest-api-walkthrough#authenticating-azure-monitor-requests) and especially for the custom metrics you might need the [Monitoring Metrics Publisher ](https://docs.microsoft.com/e

[2021-03-05 03:26] #71355 closed

[2021-03-05 03:29] KrishnaG-MSFT commented on #71634
@esmiddy Thanks for your comment! We will review and provide an update as appropriate.

[2021-03-05 03:55] #71370 closed

[2021-03-05 03:56] #71476 closed

[2021-03-05 03:56] BryanTrach-MSFT commented on #71370
@casualc0der Thank you for bringing this up. We agree that the master terminology should be removed in favor of the main terminology. As a result, we submitted a PR and the changes should be public with 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the

[2021-03-05 03:58] AnuragSharma-MSFT commented on #71656
@krishnamsft20 Thank you for the feedback. We are actively investigating and will get back to you soon

[2021-03-05 04:03] BhargaviAnnadevara-MSFT commented on #71531
@ulysses4 Please provide us with the documentation link you were referring to, if any.

[2021-03-05 04:04] BhargaviAnnadevara-MSFT commented on #71460
@DavidWorner-Cert We will now proceed to close this thread, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-03-05 04:04] #71460 closed

[2021-03-05 04:07] SwathiDhanwada-MSFT commented on #71629
@Josh-Kewley-BC Thanks for your comment. We will review the issue and get back to you shortly.

[2021-03-05 04:07] JamesTran-MSFT commented on #71549
@glentoconnor
Thank you for the quick response!

We'd like to take a closer look into your environment and issue, can you please email me with the info below. I'll go ahead and enable a one-time free technical support request for your subscription so you can work with our support engineers to get this issue resolved.

Email: AzCommunity@microsoft.com
Subject: ATTN - James Tran
Body:
Azure Subscrip

[2021-03-05 04:07] #71549 closed

[2021-03-05 04:12] VicSmith commented on #71592
@zhenlan ,
I have "All networks" selected.

Which one should I have selected?

![image](https://user-images.githubusercontent.com/1848257/110066272-a97a4280-7d36-11eb-8540-30b92748081b.png)

[2021-03-05 04:24] psmanhas commented on #71618
@aidarko
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-03-05 04:24] psmanhas commented on #71618
@aletheatoh Can you please check and add your comments on this doc update request as applicable

[2021-03-05 04:26] psmanhas commented on #71624
@chitturs
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-03-05 04:26] psmanhas commented on #71624
@msmbaldwin
Can you please check and add your comments on this doc update request as applicable

[2021-03-05 04:35] KalyanChanumolu-MSFT commented on #71398
@pemsft Thank you for pointing out the issue, I have updated the doc accordingly.
The changes should be live EOD or tomorrow.

We will proceed to close this issue now.

[2021-03-05 04:35] #71398 closed

[2021-03-05 04:44] zhenlan commented on #71592
@VicSmith just to double confirm, there is nothing under the 'Private endpoint connections' tab, right?

You are using the [`DefaultAzureCredential`](https://docs.microsoft.com/en-us/dotnet/api/azure.identity.defaultazurecredential?view=azure-dotnet), which will attempt a few different credential types automatically. If you follow the document to set up your service principal as environment variab

[2021-03-05 04:49] psmanhas commented on #71631
@timoteosoutello
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-03-05 04:49] psmanhas commented on #71631
@timoteosoutello Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-03-05 04:50] thiruma0203 opened #71664 "OS disk partitioning info is not matched to actual behavior"
Documentation says OS partitioning is RAW when RHEL 7.6 is used.

  | 7.6 | RAW | Linux Agent | Attached to EUS repositories by default as of May 2019.
  | 76-gen2 | RAW | Linux Agent | Attached to EUS repositories by default.

However, when VM deployed from below image, OS disk is partitioned with LVM.

                "storageProfile": {
                    "imageReference": {

[2021-03-05 04:51] psmanhas commented on #71628
@v-anvari
Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-03-05 04:53] psmanhas commented on #71664
@thiruma0203
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-03-05 04:53] psmanhas commented on #71664
@asinn826
Can you please check and add your comments on this doc update request as applicable

[2021-03-05 04:57] VicSmith commented on #71592
@zhenlan Here is what the "Private endpoint connections tab shows".

![image](https://user-images.githubusercontent.com/1848257/110069199-f103cd00-7d3c-11eb-86ef-85b455996c7e.png)

[2021-03-05 05:01] VicSmith commented on #71592
Note, I am running locally.
I ran ENV set both locally and also in my Azure Shell....
All errors I am showing are from my local environment.  I have not deployed this change to Azure yet.
Here is my ENV set in PowerShell:
![image](https://user-images.githubusercontent.com/1848257/110069355-3c1de000-7d3d-11eb-95eb-ffdd76e25203.png)

Here is my ENV value check... All three show up:
![image](https://

[2021-03-05 05:03] AjayKumar-MSFT commented on #71639
Great! Thanks for the update on this, Edward.

[2021-03-05 05:05] VicSmith commented on #71592
@zhenlan :: In your previous response it seems like you wanted me to use Vault Access Policy.... But when setting up the Service Principle, I used a command related to Azure RABC.  Should I indeed have the "Azure role based access control" selected?

[2021-03-05 05:07] ssivas commented on #70075
Hi @msmbaldwin, This is PR [link](https://github.com/MicrosoftDocs/azure-docs-pr/pull/146113)

[2021-03-05 05:17] KrishnaG-MSFT commented on #71336
Hi @aruwo17,

Firstly, as already mentioned in my earlier comment, I still don't see any error / attachment / screenshot. I see your comment as shown in below screenshot.

![image](https://user-images.githubusercontent.com/45988031/110069434-c85fef80-7d9d-11eb-83b6-5015a228b1ba.png)

Next, apologies if you have felt that the issue is closed without any recourse but as already mentioned in my earli

[2021-03-05 05:43] aletheatoh commented on #71618
Thank you so much for the feedback, @aidarko. I have updated the following commands.

Issue 1 should be addressed.

Can you let me know with the new create commands 1 & 2, do the changes (the VNET being linked to the DDoS Protection Plan) get reflected on the UI?

Please see updated command 4 to disable DDoS Protection on a VNET, and try setting --ddos-protection-plan "". Let me know if this still

[2021-03-05 05:44] aletheatoh commented on #67539
@oaas @TravisCragg-MSFT thanks for the feedback, I think this has been addressed https://docs.microsoft.com/en-us/azure/ddos-protection/diagnostic-logging?tabs=DDoSProtectionNotifications#log-schemas. Apologies I missed this earlier.

[2021-03-05 05:48] jonwbstr opened #71665 "Does this method support Azure AD:DS?"
A customer recently created an Azure Files file share and joined the file share to azure AD: DS using this method. Everything worked, and the configuration showed it successfully joined.

However, users received the error "Access Denied" when attempting to map the share.

The Azure File Share diagnostics indicated it could not find the signedinuser's GUID sync'd to AzureAD:DS.

The best explanatio

[2021-03-05 05:51] aspnet4you commented on #71587
Found the problem, it was silly thing that was causing azure cli command not to execute when running inside PowerShell ISE! I ran the same command from Azure Cloud Shell and it worked. I was able to rotate the certificate.

![image](https://user-images.githubusercontent.com/33773493/110070910-a2f0c880-7d40-11eb-8c9c-10aff6405109.png)

[2021-03-05 05:51] #71587 closed

[2021-03-05 06:02] jitheshksn commented on #66361
Hi MSFT team,
Any update on this issue. We are also facing the same issue.

[2021-03-05 06:03] HarshitaSingh-MSFT commented on #71385
@jackawatts , you are right. But, be assured that we are working on releasing new API version that will allow referencing certificate by Id and it will be out soon.

Let me know if this answers your query.

[2021-03-05 06:09] felickz commented on #41214
FYI this is now possible with: https://docs.microsoft.com/en-us/azure/active-directory-b2c/azure-monitor

[2021-03-05 06:27] SnehaAgrawal-MSFT commented on #71534
@ixevix Thanks again for the feedback! It's actually defaulted to false.
A recent update here by author: https://github.com/MicrosoftDocs/azure-docs/issues/70306

Also, azure docs provide the most up-to-date info; having said that I will reach out and share the feedback with the author( Jim Cheshire)

We will now proceed to close this thread. If there are further questions regarding this matter, p

[2021-03-05 06:27] #71534 closed

[2021-03-05 06:29] AnuragSharma-MSFT commented on #71387
@zqyAmy Please let us know if above comment helps.

[2021-03-05 06:44] rarandiv opened #71666 "Recommendations to add possible workaround in the doc to downscaling the storage of azure PostgreSQL"
We would like to scale down the storage of Azure PostgreSQL but, as per this document and by product design, it’s clear that the **Storage can only be scaled up, not down.**

However, due to this product limitation, we have to pay for the storage which we are not using and hence would like to scale it down to save the cost.

Was thinking about a possible workaround and one workaround would be **To

[2021-03-05 06:52] ChaitanyaNaykodi-MSFT commented on #71284
Hello @HK-Zhang, apologies for the delay. [These are](https://docs.microsoft.com/en-us/rest/api/storageservices/Naming-and-Referencing-Containers--Blobs--and-Metadata?redirectedfrom=MSDN) naming rules for a Blob in Azure Storage account. The character limit is 1024 for blob names.
As we drive this channel for documentation improvements and we did not determine any we will now proceed to close this

[2021-03-05 06:52] #71284 closed

[2021-03-05 07:14] donghui-wu777 opened #71667 "the limit of global virtual network peering"
[Enter feedback here]
Connectivity doesn't work over global virtual network peering for the following resources:

**Application gateway (uses Basic ILB SKU)**

--------------------------

Would you please correct "Application gateway" to "Application gateway V1" ? Because AppGWv2 uses Standard ILB.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2021-03-05 07:32] miaojiang commented on #70505
Please try reinstall the latest (GA) version of the extension.

[2021-03-05 07:57] deomaximo opened #71668 "Stream Analytics Job input degraded"
I've ran this several times and in both westus and centralus.  This is the error I get.  Any suggestions appreciated.

[3/5/2021, 1:50:22 AM] Source 'contosoinputs' had 1 occurrences of kind 'InputDeserializerError.InvalidData' between processing times '2021-03-05T07:50:22.1685422Z' and '2021-03-05T07:50:22.1685422Z'. Could not deserialize the input event(s) from resource 'Partition: [0], Offset:

[2021-03-05 08:05] AshokPeddakotla-MSFT commented on #71635
@zaalion Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-05 08:06] AshokPeddakotla-MSFT commented on #71642
@v-jheichman Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-05 08:07] simonec73 opened #71669 "The link to the script to propagate ACLs does not work anymore"
The link https://docs.microsoft.com/en-us/azure/storage/blobs/recursive-access-control-lists?tabs=azure-powershell sends back to this page.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3aa443a-b30f-2914-5cb8-b032be075c07
* Version Independent ID: ece80543-b5c2-7415-776c-06cdf55d2006
* Content:

[2021-03-05 08:37] chriscopemorgan commented on #71348
Hi Parikshit

My initial question still remains unanswered.

Please explain how one manages the bin_log setting for Azure MySQL server. Whether Source or Destination.  Its not visible in Server parameters, and I cannot find a way to edit the related cnf file.

The use case is for replicating from a remote server.  Not using the Azure-Azure replication feature.

Thanks

Regards

Chris Cope Morgan

[2021-03-05 08:41] amanmcse commented on #71590
@SPDEVGUY I have assigned the issue to the author to review and update the doc.

[2021-03-05 08:49] genlin commented on #70053
@fei0x  I cannot reproduce your problem. In my test machine (Windows 2012 and Windows 10), The script can be pasted into PowerShell and run normally. You may try to update the PowerShell and see if the problem still happen.

#please-close

[2021-03-05 08:49] #70053 closed

[2021-03-05 08:51] AnuragSharma-MSFT commented on #71666
@rarandiv Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-03-05 08:53] AshokPeddakotla-MSFT commented on #71662
@ElliotWood Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-03-05 08:59] tj94 opened #71670 "Azure ARM Template (Creating multiple VMs with copy) - The template output 'objectResult' is not valid: The template function 'copyIndex' is not expected at this location."
#no matter what I try this doesn't seem to work. I have this template and a parameter file. I am trying to use copy/copyIndex() to create x such virtual machines that follows the name 1-5 for e.g. The last run error was The template output 'objectResult' is not valid: The template function 'copyIndex' is not expected at this location. The function can only be used in a resource with copy specified

[2021-03-05 09:01] Klaas- commented on #70385
So any given hypervisor is part of: an availability zone, a fault domain and an update domain as three distinct parameters?

[2021-03-05 09:06] SnehaAgrawal-MSFT commented on #71645
@omerzubair Thanks for asking question! For Imports a certificate to a key vault using PowerShell you may refer to below link:
https://docs.microsoft.com/en-us/powershell/module/azurerm.keyvault/import-azurekeyvaultcertificate?view=azurermps-6.13.0

[2021-03-05 09:22] omerzubair commented on #71645
@SnehaAgrawal-MSFT I already have  certificate in the keyvault.
I need PowerShell to connect webapp to the keyvault certificate.

[2021-03-05 09:24] genlin commented on #69623
@@jelew, Thanks for the feedbacks. An PR was summited to update the article. In server 2012 and later version, we need to run " reg load HKLM\BROKENSYSTEM F:\windows\system32\config\SYSTEM" (without the file extenstion).  I will process to close this PR. Thanks again for helping to improve the document.

#please-close

[2021-03-05 09:24] #69623 closed

[2021-03-05 09:25] genlin commented on #69150
@@jelew, Thanks for the feedbacks. In server 2012 and later version, we need to run " reg load HKLM\BROKENSYSTEM F:\windows\system32\config\SYSTEM" (without the file extenstion). I will update the article and process to close this PR. Thanks again for helping to improve the document.

#please-close

[2021-03-05 09:25] #69150 closed

[2021-03-05 09:26] genlin commented on #68970
@RicardoNiepel I see you are working with Billing PMs for this issue offline. So I will process to close this issue.

#please-close

[2021-03-05 09:26] #68970 closed

[2021-03-05 09:31] xiaofmao opened #71672 "Static website hosting with Premium BlockBlobStorage account"
Hi,

While reading the online documents about the static website hosting feature, there is a Note in below two documents "Make sure to create a general-purpose v2 Standard storage account . Static websites aren't available in any other type of storage account."
https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-static-website
https://docs.microsoft.com/en-us/azure/storage/blobs/stor

[2021-03-05 09:33] genlin commented on #52940
#please-close

[2021-03-05 09:33] #52940 closed

[2021-03-05 09:41] SwathiDhanwada-MSFT commented on #71670
@tj94 Thanks for your comment. We will review the issue and get back to you shortly.

[2021-03-05 10:03] RohitMungi-MSFT commented on #71448
@ShrivastavaAkash Did you get a chance to re-upload your data and check if it worked? If you are still facing the issue you can raise a support ticket or we could help you with a one time free support ticket for this issue. Thanks!!

[2021-03-05 10:08] cimares commented on #27331
"all Microsoft cloud services that require user-level licensing is supported, including all Office 365 products." just means that these products licenses can be controlled by a GBL policy.

[2021-03-05 10:10] cimares opened #71673 "Clarity of the license position could be improved."
I get questioned on this a lot when talking to clients and this whole page could be improved just by adding a simple statement to the licensing position.

--------
You must have one of the following licenses **_for every user who benefits from_** group-based licensing:

Paid or trial subscription for Azure AD Premium P1 and above

Paid or trial edition of Office 365 Enterprise E3 or Office 365 A3

[2021-03-05 10:11] RohitMungi-MSFT commented on #71513
@armanrahman22 Did you get a chance to check the examples from the github repo and check if it worked for you?

[2021-03-05 10:19] c-14795 opened #71674 "Creating a job with adf with custom job name or run name"
#Create a job with custom job name in ADB using ADF

I have read the below article, but of no help
https://docs.microsoft.com/en-us/azure/data-factory/transform-data-using-databricks-notebook

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a176f27b-f9fc-e0ff-0a48-aa42036051f2
* Version Independent ID: d2356b83-3101-4b56

[2021-03-05 10:35] GitaraniSharma-MSFT commented on #71361
@IntegerMan , Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue, if required.

[2021-03-05 10:35] #71361 closed

[2021-03-05 10:38] jf-2386 opened #71675 "You can't create user flow this way"
You can't create user flow this way. This is obsolete B2C tutorial. You need to go to registered app. Then select branding. And in bottom you will see link to customize user flows (The UX customization is controlled in the user flow. Configure here.).

---
#### Podrobnosti o dokumente

⚠ *Neupravujte túto sekciu. Vyžaduje sa pre lokalitu docs.microsoft.com ➟ prepojenie na problém v službe GitHub.*

[2021-03-05 11:04] dvXcode commented on #70505
Already tried to reinstall the extension. We using version 1.0.0. Unfortunately, it doesn't help.

[2021-03-05 11:10] wenyang opened #71676 "Should "Microsoft.MachineLearningService" be "Microsoft.MachineLearningServices"?"
From the page https://ms.portal.azure.com/#blade/HubsExtension/ArmExplorerBlade, the namespace should be Microsoft.MachineLearningServices

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2caff87f-9f38-988a-12f3-fc96798e3c99
* Version Independent ID: 80ab1cdf-282d-29d6-c146-68d1ce8d00b8
* Content: [Create workspaces in t

[2021-03-05 11:21] pierreandre opened #71677 "Synapse Visual Expression Builder - missing functions"
At the top of the page, it is indicated that the documentation is applies to both Azure Synapse Analytics and Azure Data Factory, but this does not seem to be true. Many of the functions listed on this page, like bitwiseAnd, bitwiseOr and others are not recognized by Synapse's Visual Expression Builder. Should those functions be available in Synapse or is the documentation incorrect?

---
#### Doc

[2021-03-05 11:36] da-art85 opened #71678 "Azure technical documentation repository"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-03-05 11:41] jacknewberry opened #71679 "Missing OrchestrationStep to invoke the SubJourney."
I think this page is missing an important step. It does not mention adding the OrchestrationStep to invoke the SubJourney.

The step is included in the sample: https://github.com/azure-ad-b2c/samples/blob/master/policies/embedded-password-reset/policy/TrustFrameworkExtensionsCustomSelfServicePasswordReset.xml#L83, but is not mentioned in the docs.

---
#### Document Details

⚠ *Do not edit this se

[2021-03-05 11:49] jacknewberry opened #71680 "Not all versions documented."
This issue relates to template `unifiedssp`, but may also occur for other templates.

This page lists version `2.1.2` as the latest version, however when I upload a policy with an incorrect version, the API responds with a list of available versions that goes up to `2.1.4`.

It would be good if this page included an explanation of the later versions.

It is not clear to me if v2.1.4 is in fact a r

[2021-03-05 12:21] het-msft commented on #69334
@MonikaReddy-MSFT , Why this change is still not live? At what point it is stuck?

[2021-03-05 12:54] craigshoemaker commented on #71349
@mkarmark - is the following scenario happening because the `routes.json` and `staticwebapp.config.json` are in conflict with one another?

[2021-03-05 12:57] savjani commented on #71348
@chriscopemorgan - In Azure Database for MySQL, binlog is enabled by default on large storage and it cannot be disabled i.e. log_bin is set to ON. You cannot control or disable it since the backups and other data integrity and high availability are dependent on it.

[2021-03-05 13:01] craigshoemaker commented on #38213
@stefanushinardi - can you help us define some Python test guidance? I'm thinking maybe we do pivots on the [testing article](https://docs.microsoft.com/azure/azure-functions/functions-test-a-function) and add a section for Python?

[2021-03-05 13:14] SvenSowa opened #71681 "Standard_NV24ms_v3 not documented"
I cant find the documentation for standard_NV24ms_v3 on your page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0ffeb72-66b6-6d6e-413c-aa4b8354a2a3
* Version Independent ID: f21d752c-a983-fe90-c48f-238d11d6c3c0
* Content: [NVv3-series - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/

[2021-03-05 13:22] MonikaReddy-MSFT commented on #71681
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-03-05 13:24] MonikaReddy-MSFT commented on #71646
Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-03-05 13:27] vipulsparsh commented on #71673
@cimares Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-03-05 13:28] vipulsparsh commented on #71679
@jacknewberry Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-03-05 13:40] ingoke opened #71682 "Section of conditional access to be updated"
The section about Conditional Access should be updated. CA can be enabled by activation of MS Authentication Library (Preview) in the settings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06b6cadc-f93d-75de-7611-b1e3d80917e2
* Version Independent ID: bcf194d8-3442-b284-576f-407af9ca1067
* Content: [Azure Storage Exp

[2021-03-05 13:51] chriscopemorgan commented on #71348
Ok that’s good to know and maybe worth including in the documentation.  Is this true for ALL Azure for MySQL servers?

If not how does one manage the setting?

Regards

Chris Cope Morgan

InterAccess Communications

Port Elizabeth, South Africa

Mob +27 83 232 1122

From: Parikshit Savjani
Sent: Friday, 5 March 2021 14:57
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: chriscopemo

[2021-03-05 14:14] PiMihai commented on #71349
@craigshoemaker I don't think so. At first I only tried with `staticwebapp.config.json`, I saw the error, then I tried renaming it to `routes.json` and moved it to the `assets` FE folder. At no point were they defined at the same time.

[2021-03-05 14:19] craigshoemaker commented on #46533
@mathewc or @brettsam - can either of you provide some additional context regarding how a function scales with the Timer trigger?

[2021-03-05 14:29] craigshoemaker commented on #47210
@mathewc - can you please verify that changing the timestamp is the most appropriate way to trigger the function?

[2021-03-05 14:31] dominikfoldi commented on #36458
Here is a (currently) working ARM Template for Consumption plan when `WEBSITE_RUN_FROM_PACKAGE` is set to `1` with a deployment slot without specifying the `WEBSITE_CONTENSHARE` property:

[code]

You have to provide the appsettings in the functionapp's properties/siteConfig/appSettings object instead of using the `config` type. Otherwise, you would get the `Required parameter WEBSITE_CONTENTSHARE

[2021-03-05 14:33] craigshoemaker commented on #47267
Thanks, @gregsmi

This issue is resolved in production.

#please-close

[2021-03-05 14:33] #47267 closed

[2021-03-05 14:56] ericpopivker commented on #36846
I am currently debugging  Cosmos Db to see why it is using to much RU, and not being able to see the query makes it very difficult.  The only solution I see is logging queries on Client Side for now.

Here is what querytext_s looks like:

[code]

In an enterprise application with hundreds of queries, this is like looking for a needle in a haystack.
Is there a reason for masking property names in q

[2021-03-05 15:01] tfitzmac commented on #71455
@pwcasdf - did you send a request to the URI in the location property? 202 just means the validation request was accepted. To get the validation answer, you have to query the location.

[2021-03-05 15:02] rdefreitas opened #71684 "No Signup Link / Instructions on NFS 3.0 Documentation"
A link should be provided here with instructions to signup for this feature. If it can be done with the CLI, please provide a sample.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b27543b5-a932-1e96-ed33-05ab951cfda5
* Version Independent ID: 43b1d7a8-5c11-804e-4f5c-30e8ae333c82
* Content: [Network File Syste

[2021-03-05 15:07] dVerschaeve opened #71685 "Incorrect documentation"
Found some issues in this article:

Example 5:
* filter is not working: https://graph.microsoft.com/beta/roleManagement/directory/roleAssignments&$filter=principalId eq ‘<object-id-of-principal>’
* changing the & in ? makes the call work: https://graph.microsoft.com/beta/roleManagement/directory/roleAssignments?$filter=principalId eq ‘<object-id-of-principal>’

Same applies for other examples usin

[2021-03-05 15:18] craigshoemaker commented on #47377
@jeffhollan - is this a feature that should be added to the docs?

[2021-03-05 15:24] craigshoemaker commented on #49298
@cachai2 - is this a scenario you want to have documented?

[2021-03-05 15:28] craigshoemaker commented on #51311
@jeffhollan - how is `maxBatchSize` set?

[2021-03-05 15:31] pwcasdf commented on #71455
@tfitzmac wow... this is my bad
thank you for the reply!!

[2021-03-05 15:31] #71455 closed

[2021-03-05 15:34] kanshiG commented on #36846
The primary reason is PII information can be logged as part of the query text.
You can call in support and get the log to actual query text - which is only visible to you, but please remember to close that path once done.

You code would have that pattern and most of those queries should be taking lot of RUs.

Warm Regards
Govind Kanshi
________________________________
From: ericpopivker <notifica

[2021-03-05 15:35] jeffhollan commented on #47377
Yes definitely. I think technically it is already in the bindings concept doc but it’s a frequent enough FAQ I think it makes sense to surface in this and event hubs docs explicitly

[2021-03-05 15:38] jeffhollan commented on #51311
Not sure. Would be good to ping Fabio and Alexey. I thought it would be the same as maxConcurrentCalls in host.json but would be good to confirm

[2021-03-05 15:38] natharatms opened #71687 "Documentation is wrong?"
I have a case open with a customer who is asking about this statement in the first bullet point under limitations: "If you use the extension on an existing deployment, your users have to perform proof-up again to populate their MFA details in the cloud."

I am pretty sure this statement is incorrect.  All the config script does, unless I've missed something, is request GA creds to log into the Ten

[2021-03-05 15:42] craigshoemaker commented on #52171
Thanks @CeciAc and @MohamedSahbi! I updated the example to use 25 days as Mohamad suggested.

#please-close

[2021-03-05 15:42] #52171 closed

[2021-03-05 15:49] craigshoemaker commented on #52860
@jeffhollan - can you help provide some details on the concurrency rules here?

[2021-03-05 15:53] craigshoemaker commented on #53468
Moving to #please-close this issue as this is more of a support question rather than an issue with the documentation

[2021-03-05 15:54] #53468 closed

[2021-03-05 15:58] craigshoemaker commented on #54378
@rigdern - looks like the source code comments are filled out pretty well now. What more information would you like to see, or do those comments provide sufficient information now?

[2021-03-05 16:00] craigshoemaker commented on #54683
@brettsam - is a peek-lock/complete scenario supported in the Blob Storage trigger?

[2021-03-05 16:03] craigshoemaker commented on #55868
#reassign:@ggailey777

[2021-03-05 16:03] SadiqhAhmed-MSFT commented on #71636
@paulfinol Answered your queries here - https://docs.microsoft.com/en-us/answers/questions/299403/site-recovery-process-server-configuration-require.html?childToView=301099#comment-301099

Feel free to ping with further question. If none, we should be good to close this issue.

[2021-03-05 16:05] wilbug1git1 opened #71688 "Connection security certificates"
In the Connection Security section it mentions the following:
By default, the certificate used for RDP encryption is self-generated by the OS during the deployment. If desired, customers may deploy centrally managed certificates issued by the enterprise certification authority. For more information about configuring certificates, see Windows Server documentation.

Which OS generates the cert, the

[2021-03-05 16:07] MarileeTurscak-MSFT commented on #71675
@jf-2386
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-05 16:07] algattik opened #71689 "Clarify ETag changes at every update"
For a blob in Azure Storage, the ETag changes at every update. Is it the same for an ADT twin? Could we document that fact?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e97b4d5-7efe-4f5f-0b83-c67de8c36d10
* Version Independent ID: d64704f7-0e1b-eb34-46e7-0bca3ab707fd
* Content: [Manage digital twins - Azure Digital

[2021-03-05 16:12] craigshoemaker commented on #56939
thanks, @dcollien - I have added the link you provided to the doc.

#please-close

[2021-03-05 16:12] #56939 closed

[2021-03-05 16:21] davidspooner opened #71690 "Update to Requirements section due to customer confusion"
Customer have expressed confusion with the statement, we should update to call out specifically that AAD Connect requires connectivity to ALL domain in a forest when configuring.

The Azure AD Connect server needs DNS resolution for both intranet and internet. The DNS server must be able to resolve names both to your on-premises Active Directory and the Azure AD endpoints.

---
#### Document Detai

[2021-03-05 16:22] jpmlblog opened #71691 "permissions listed are not enough"
[Enter feedback here]
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-secure-training-vnet#prerequisites

The required permissions listed in the prerequisites do not seem to be enough.
When I checked, "Microsoft.Network/virtualNetworks/read" and "Microsoft.Network/virtualNetworks/subnets/read" and "Microsoft.Network/virtualNetworks/subnets/join/action" were required, and "Microsoft.

[2021-03-05 16:29] craigshoemaker commented on #71245
@fvarga01 - what sort of scenario brings about this request? In general terms, unhandled exceptions stop execution, so I'm not sure this is something we need to explicitly document here.

[2021-03-05 16:33] craigshoemaker commented on #70657
thanks, @y10e - I have added a note and link referencing the version restriction.

#please-close

[2021-03-05 16:33] #70657 closed

[2021-03-05 16:47] chaholl opened #71692 "azure-preview should be aks-preview"
In the requirements section, you mention that azure-preview extension is required. I guess you actually mean aks-preview.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3c187c0-27f1-11c9-41af-6c65ca36e77e
* Version Independent ID: 249a570b-90ba-4a11-4467-320f0369ec25
* Content: [Use Azure Active Directory pod-managed

[2021-03-05 16:47] dialedin2014 opened #71693 "Backup and restore across platforms not supported"
Please add clarification.  It would have saved a lot of time searching for a way to restore an android based backup when switching to an iPhone.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b52a210-1be6-4e5f-d95c-8ea7b87919ca
* Version Independent ID: 02a43ebb-7471-d7ff-4f7e-84c9f7a66326
* Content: [Back up and reco

[2021-03-05 16:57] ericpopivker commented on #36846
@kanshiG
I am not sure what you mean by:
"The primary reason is PII information can be logged as part of the query text."

Can you give an example please.

[2021-03-05 17:03] SoulKa opened #71695 "Missing "=""
Hello, I think there's a "=" missing in the first example on this page.
E.g. `type="secureBootEnables"` should be `type=="secureBootEnables"`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0c92573-fe70-8f86-228a-93ad2af1eecb
* Version Independent ID: 9dcee7f9-d9c3-c8f6-1e3f-b187a88ee13a
* Content: [How to author an Az

[2021-03-05 17:05] algattik commented on #71689
Also, it would be useful to clarify what we can do with this ETag. Which operations support If-Modified-Since, If-Match etc?

[2021-03-05 17:06] squasta commented on #71599
Please take time to read changelog of AKS before asking if i am asking a question ;)

"Release Notes
Features
Cluster Start/Stop is now GA."

[2021-03-05 17:07] SaiKishor-MSFT commented on #71667
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-05 17:09] squasta commented on #71599
Ah... there was a typo in my issue title, i wanted to write now and not "Looks like stop and start AKS cluster feature is **NOW** Generally Available since the 8th of february 2021"

[2021-03-05 17:13] MarileeTurscak-MSFT commented on #71653
@jeffwmiles
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-05 17:14] DerekHerman-MSFT commented on #71665
@jonwbstr Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-05 17:14] MarileeTurscak-MSFT commented on #71660
@AndyWDev
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-05 17:15] MarileeTurscak-MSFT commented on #71680
@jacknewberry
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-05 17:17] MarileeTurscak-MSFT commented on #71693
@dialedin2014 Thanks for the feedback. What clarification would be most helpful to add?

[2021-03-05 17:18] MonikaReddy-MSFT commented on #71692
@chaholl -  Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-03-05 17:19] DerekHerman-MSFT commented on #71669
@simonec73 Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-05 17:27] DerekHerman-MSFT commented on #71672
@xiaofmao Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-05 17:28] ssivas commented on #71685
@dVerschaeve , Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-05 17:35] ssivas commented on #71690
@davidspooner , Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-05 17:45] DerekHerman-MSFT commented on #71611
@ashic Please post your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-05 17:45] #71611 closed

[2021-03-05 17:49] GiftA-MSFT commented on #71691
@jpmlblog we'll review your feedback and get back to you shortly. Thanks.

[2021-03-05 17:49] tj94 commented on #71670
Any updates on this would be helpful. :)

[2021-03-05 17:50] YutongTie-MSFT commented on #71676
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-05 17:50] DerekHerman-MSFT commented on #71456
@alfiyashka Since we have not heard back from you I am closing out this issue. If you still have issue with a specific documentation page please navigate to the bottom of that page and submit feedback.
![feedback](https://user-images.githubusercontent.com/65573242/110153698-402b1b80-7d98-11eb-8f6e-6ce62befb4e6.png)

[2021-03-05 17:50] #71456 closed

[2021-03-05 17:56] yousif-cose opened #71696 "Just google"
https://google.com

[2021-03-05 18:03] SamaraSoucy-MSFT commented on #71677
Thanks for the question! We will review and get back to you shortly.

[2021-03-05 18:04] rp-msft opened #71698 "Improvement upon responsibility calrification"
There needs to be more clarity for situations where agent nodes exhibit events like failed dns, time sync or kubelet events and node auto repair doesn't fix the issue. Since these impact applications running on these nodes, what are the recommendations for cx to avoid such events , for example if node time sync is in failed state and pods running application get into significant time drift. Where

[2021-03-05 18:06] SamaraSoucy-MSFT commented on #71311
I'm going to close this issue since there has not been any follow up questions.

[2021-03-05 18:06] #71311 closed

[2021-03-05 18:09] becke-ch-s0-v1 commented on #68668
Sorry but this sentence does not explain why this data plane back-door was implemented in Key-Vault. Even the key vault is completely locked down the data plane and secrets can be modified from anywhere.I think this should be documented more prominent here (this case is referring to this documentation): https://docs.microsoft.com/en-us/azure/key-vault/general/overview-vnet-service-endpoints.

_Not

[2021-03-05 18:11] DerekHerman-MSFT commented on #71682
@ingoke Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-05 18:20] jlichwa commented on #68668
".... here is one exception regarding data-plan access " - So that statement is incorrect, secrets are available on management plane also. You can also use REST API etc...
ARM is management plane only and our customers want to be able to configure their infrastructure through ARM which includes secrets, keys and soon will have certificates.
So secrets and keys can be managed on both management pla

[2021-03-05 18:23] happy-jo opened #71700 "PIM Privledge Access Group - Update for IaaS application"
Microsoft Docs URL: https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/groups-features

Can a section be added notating that this feature only apples to Azure AD roles and can not be applied to Azure IaaS (or other platforms) related roles?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-03-05 18:37] mroyski opened #71701 "AzureSDK is required parameter"
In step 2 of the section "Deploy U-SQL database through Azure Pipelines" for the command line tasks can you include the AzureSDKPath parameter in the examples? It caused me quite a headache for a while because I did not add it in to deploy to an adla account. Maybe people catch on a little quicker than I do and can catch that faster but it would be more helpful I think :)

---
#### Document Detail

[2021-03-05 18:56] amitbapat commented on #68668
Key management from control plane is limited to only one single use case - create key via template if a key with same name does not exist. Calling this "key management" is a stretch. No other key operation can be performed from control plane - delete, purge, backup, restore, encrypt, decrypt, sign, verify, wrap unwrap are ONLY available via data plane.

[2021-03-05 19:03] kgremban commented on #71510
We're still validating the TPM provisioning with DPS scenario with the IoT Edge 1.2 public preview version. I rolled back these changes to the content, and will reintroduce them when we've been able to verify them.

[2021-03-05 19:05] Lucas-MSFT commented on #61587
@TheFairey Can you provide the result of the az aks create command with --debug enabled? What do you see under the path for --vnet-subnet-id?

Example:
2021-03-05T18:52:30.4039936Z DEBUG: cli.knack.cli: Command arguments: ['aks', 'create', '--resource-group', 'devops01', '--name', 'aks01', '--kubernetes-version', '1.19.6', '--location', 'eastus', '--node-vm-size', 'Standard_D2s_v3', '--vm-set-type

[2021-03-05 19:08] kgremban commented on #68820
@rido-min @AshokPeddakotla-MSFT This week we published updates to go along with the 1.2-rc4 release, including adding a 1.2 version to the Install IoT Edge on Linux article so that it now point to the 1.2 packages: https://docs.microsoft.com/azure/iot-edge/how-to-install-iot-edge?view=iotedge-2020-11. I'm going to mark this issue as resolved.

#please-close

[2021-03-05 19:08] #68820 closed

[2021-03-05 19:10] MarileeTurscak-MSFT commented on #71544
Thank you. I have reported the issue to the product team and will get back to you. I'm testing in my own tenant as well.

[2021-03-05 19:14] kgremban commented on #71563
@stewartadam Thank you for sharing your experiences with us. To verify the steps that you took, it sounds like you were following these steps:

![image](https://user-images.githubusercontent.com/13578436/110162492-ac5f4c80-7da3-11eb-8486-ab3d99a76e80.png)

But you got more informative logs by setting `Environment=IOTEDGE_LOG=dubug` instead of `Environment=IOTEDGE_LOG=edgelet=debug`?

@veyalla what

[2021-03-05 19:18] kvansaders opened #71705 "More Information regarding "Rolling 90 Days""
In the line "The Azure Active Directory (Azure AD) default configuration for user sign-in frequency is a rolling window of 90 days."
What is the resetting factor of a "rolling" 90 days?  Does the 90 day period reset when a refresh token is used / requested?  Is another login required?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2021-03-05 19:22] SlavaRoikhman opened #71706 "ZRS for Canada Central"
Please add Canada Central for Zone-redundant storage under supported regions for General purpose v2 sa.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f618f40d-ae53-5c3b-d8bf-0e80614f66d3
* Version Independent ID: 93083407-8f1e-b3e2-6a62-e30be5e1fbcb
* Content: [Data redundancy - Azure Storage](https://docs.mi

[2021-03-05 19:31] JakeCroz1 opened #71707 "Video is not uploading to blob storage container"
In the attempt to upload the video, ignite.mp4, to azure blob storage, the console app hangs on await blob.UploadAsync(fileToUpload) within the CreateInputAssetAsync() method. On the Azure Portal, my blob storage container says Authentication method: Access key (Switch to Azure AD User Account). I'm not sure if that's causing the console app to hang.
[Enter feedback here]

---
#### Document Detail

[2021-03-05 19:32] CelesteDG commented on #66458
Hello @taylorchasewhite and @antiGithub - Thank you for bringing attention to this issue. We just confirmed with our engineering team that they rolled out a code fix a month ago for a fix that seems related to this. Their request is for you to retry to determine if that fix that was applied also fixes this issue and to please let us know here so we can further follow up. Thank you.

[2021-03-05 19:46] veyalla commented on #71563
Well, need to dev team to weigh in - can you please open an issue or transfer this one to the azure/iotedge repo?

[2021-03-05 19:59] MarileeTurscak-MSFT commented on #71375
Hi @mpchen,

This level of granularity isn't supported at this time. As you probably know, you can choose to enforce MFA for high-risk users only, or require every user to MFA.

You can choose which authentication methods are available to users and require them to use a more "high security" method such as the Authenticator app, but these settings are available tenant-wide.

![image](https://user-i

[2021-03-05 19:59] #71375 closed

[2021-03-05 20:00] SatishBoddu-MSFT commented on #71668
@deomaximo
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-05 20:02] SatishBoddu-MSFT commented on #71689
@algattik Good Point! Our SME Content Author will review your feedback!

[2021-03-05 20:04] MarileeTurscak-MSFT commented on #71696
Hi @yousif-cose, thanks for the comment. If you would like to leave feedback on a specific piece of documentation, feel free to create a new issues linking that document and detailing the feedback around it.

[2021-03-05 20:04] #71696 closed

[2021-03-05 20:09] DerekHerman-MSFT commented on #71684
@rdefreitas There is a link in the artcile: _For step-by-step guidance, see [Mount Blob storage by using the Network File System (NFS) 3.0 protocol (preview)](https://docs.microsoft.com/en-us/azure/storage/blobs/network-file-system-protocol-support-how-to)._ Let me know if you have further issues.

[2021-03-05 20:11] SatishBoddu-MSFT commented on #71668
@deomaximo Wanted to understand the exact place where you are stuck/

In the [Part2 ](https://docs.microsoft.com/en-us/azure/iot-hub/tutorial-routing-view-message-routing-results)article which step is causing the error? and may I know the reason why did you run this tutorial in 2 different regions?

![image](https://user-images.githubusercontent.com/62923178/110168213-b5ecb280-7dab-11eb-892e-bdfaf

[2021-03-05 20:14] deomaximo commented on #71668
When I ran the device simulator and started the  stream analysis which was suppose to send the data to Power BI.

[2021-03-05 20:15] deomaximo commented on #71668
The default was westus so I ran it in another to see if it happened elsewhere.

[2021-03-05 20:16] SatishBoddu-MSFT commented on #71668
Sorry for the inconvenience caused, let me verify this from our side!

[2021-03-05 20:31] kosinsky opened #71708 "az tool support for new Synapse built-in RBAC roles"
The pages shows how to assign original 4 roles as well as new preview roles. However, it doesn't work with az command
It says that `Synapse User` role doesn't exist
[code]
If I try to list all role definitions it shows only original 4 roles:
[code]

Please, provide support and documentation for assigning roles with az
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2021-03-05 20:36] DerekHerman-MSFT commented on #71706
@SlavaRoikhman For product feedback and feature requests I will refer you to our feedback forum. This allows the community to add their voice and upvote popular ideas. The forums are monitored and responded to by our product teams.
https://feedback.azure.com/forums/217298-storage
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your r

[2021-03-05 20:39] v-jheichman commented on #71642
Clarification points #1 and #2 were resolved when I switched from accessing Azure on a remote desktop to accessing Azure on my laptop. Point #3 is still and issue.

Why don't Serverless pools show up in the drop down box when I connect to a registered Synapse workspace and create a scan?

[2021-03-05 20:45] danhellem commented on #71689
@algattik yeah the etag is updated anytime the resource is updated. So it this case, when a twin gets update, it will get a new etag.

The etags come in handy when the client is not sure if the data has been updated on the server. You can call the [twin add API](https://docs.microsoft.com/en-us/rest/api/digital-twins/dataplane/twins/digitaltwins_add) and if the etag's match, then you don't have to

[2021-03-05 20:45] taylorchasewhite commented on #66458
Sweet! Thanks @CeleseteDG. I can confirm this now works.

Thanks a lot, I'm closing with this comment, but please feel free to make whatever changes on your end.

[2021-03-05 20:53] ninarn opened #71710 "Bug in quickstart instructions"
The name of the app that the quickstart selects for you is "springboot-<randomnumbers>" (mentioned in "Configure the Maven Plugin" section), but then later in the instructions it tells you that the demo app should have a name of "helloworld-<randomnumbers>" (mentioned in "Deploy the app" section).

Also the screenshot of what you will see when you navigate to the app URL is now incorrect. It seems

[2021-03-05 21:00] baanders commented on #71689
I'm adding the details provided above to the document in [PR #149313](https://github.com/MicrosoftDocs/azure-docs-pr/pull/149313).

![image](https://user-images.githubusercontent.com/55546137/110172891-d0cf1f00-7dcb-11eb-89f3-e1b86c47d384.png)

@algattik, Does this resolve your issue, or is there more detail you'd like to see reflected in the docs?

Thanks all for continuing to make the Azure Digi

[2021-03-05 21:00] frablaser opened #71711 "Should add the location in a variable or if it is not westus it will have always a 401 not autorised error!!"
code do ..
 detectLanguageWebRequest.Headers.Add("Ocp-Apim-Subscription-Region", "westus");

Got all time 401 errors until I modified it for:
 detectLanguageWebRequest.Headers.Add("Ocp-Apim-Subscription-Region", "eastus");

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bfeb62f-8c6b-ed9b-3563-051

[2021-03-05 21:00] DerekHerman-MSFT commented on #71706
@SlavaRoikhman It was pointed out to me that this is just a doc update. Reopening and assigning to author to update.

[2021-03-05 21:14] MarileeTurscak-MSFT commented on #71687
@natharatms
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-05 21:21] James-Hamil-MSFT commented on #71678
Hi, what is the document you're referring to?

[2021-03-05 21:27] sardar-ji opened #71712 "Kubernetes cluster is not getting created"
while running the below command on free-tier

az aks create -g MyResourceGroup -n MyAKS --location eastus  --attach-acr HarprHelmACR --generate-ssh-keys

getting the below mentioned error.

Operation failed with status: 'Bad Request'. Details: Provisioning of resource(s) for container service HarprAKS in resource group MyResourceGroup failed.

Message: Operation could not be completed as it result

[2021-03-05 21:31] v-jheichman commented on #71298
Resolved the issue by using an App Registration instead of using a Service Principal

It may be helpful to note in the documentation:
1. Specify App Registration instead of Service Principal
2. Fill in  the App Registration Application (Client) ID in the box labeled Service Principal when creating a scan
3. Make sure the Value in the Client Secret from the App Registration is entered into the Valu

[2021-03-05 21:31] #71298 closed

[2021-03-05 21:33] MS-jgol commented on #71629
@Josh-Kewley-BC
A couple of questions:
1. are you using App Service Linux - custom containers or pre-defined stack, Windows?
2. are you doing a lot of customization and configs through json?

Otherwise, the json file goes into the same folder as the Java agent jar file and then you deploy the app in App Service.

[2021-03-05 21:42] Josh-Kewley-BC commented on #71629
Hi there,

I'm using this option on an Linux app service plan, no custom containers. I'd like to be able to customize the instance using the applicationinsights.json for features such as logging level:

![image](https://user-images.githubusercontent.com/70601887/110176573-85b80a80-7dd1-11eb-9f63-03b9a7a35d3d.png)

[2021-03-05 21:45] GiftA-MSFT commented on #71711
@frablaser thanks for your feedback. Did you notice the note below?

![image](https://user-images.githubusercontent.com/51332022/110176958-28708900-7dd2-11eb-8b3d-ab66d352f7ce.png)

[2021-03-05 21:53] saimachi opened #71713 "Unable to create AKS resources using the Resource View"
Hello,

I am working on a project that involves AKS resource view to deploy containerized node.js applications. I have performed this process in the past by using the Kubernetes Dashboard and the _az aks browse_ command. However, I am unable to use the AKS resource view in my AAD-enabled AKS instance to manage my resources.

Specifically, whenever I try to create a Cluster IP resource using AKS re

[2021-03-05 21:59] zhenlan commented on #71592
From the screenshots you shared, looks like you set up your service principal correctly with the access policy.

Thanks for sharing screenshots of the environment variables. I understand your app is running locally. How do you start your app? Do you start the app from that same console window where you set environment variables?

A few other questions to rule out other possibilities
- Is your serv

[2021-03-05 22:07] shants123 commented on #69126
Hi @ManuRiver , Maintenance docs are here: https://aka.ms/mc-doc. You are right that the API docs don't have enough information and its because most of these scopes are in private preview. The only ones available for public are "Host" and "OSImage". We will update our API docs too in next release. Thanks for reporting.

[2021-03-05 22:10] v-jrushing commented on #69628
"We have updated this in the CUA v2 docs that should publish in the next couple days as the feature ships. If this does not resolve your question(s), please provide additional information, or submit a support ticket at https://docs.microsoft.com/en-us/azure/marketplace/support. Thank you for contributing!" #please-close."

[2021-03-05 22:10] #69628 closed

[2021-03-05 22:17] stperic opened #71714 "Link"
[Enter feedback here]
Hi,

The following stopped working: https://gallery.technet.microsoft.com/Shared-Responsibilities-81d0ff91

Thanks,
Eric

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3b44b4c-526f-7b2a-7977-02c88df6969a
* Version Independent ID: 87f296a8-b30e-ae96-53bc-d13a133dec83
* Content: [Security recommend

[2021-03-05 22:25] #70124 closed

[2021-03-05 22:25] artisticcheese opened #71715 "Typo in "type" of ManagedImage"
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/image-builder-json#distribute-managedimage
Value for `type` shall be `ManagedImage` (capital `M`) not `managedImage`
Current value will result in error message below being thrown

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ef2d683-1557-7097-0415-

[2021-03-05 22:26] NavtejSaini-MSFT commented on #71524
@rohitnayakmsft Can you please check and comment on this.

[2021-03-05 22:28] #71527 closed

[2021-03-05 22:28] ssivas commented on #70913
@harald-quist-stratsys , I would request you to refer the example in the RFC at the bottom of this table. R[FC 7644 - System for Cross-domain Identity Management: Protocol (ietf.org)](https://tools.ietf.org/html/rfc7644#section-3.12). Thanks

[2021-03-05 22:28] #70913 closed

[2021-03-05 22:28] DeanGross opened #71716 "Automate/API"
Is there any way to get the Identity Secure Score information automatically, via an api or powershell? if so, please add reference to this documentation
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfcc3d22-db50-3c7a-a6b8-b9740a34920c
* Version Independent ID: d283a2fc-92fc-ab0e-5a7d-b92248213d2e
* Content: [What is i

[2021-03-05 22:32] DeanGross opened #71717 "Secure Score is Missing"
I don't see the Identity Secure Score menu item. I'm guessing that its because the tenant has Azure AD Free version, but there are not any licensing prerequisites listed. If there are prereqs, please add them to this documentation. If not can you identify any other reason that I would not be seeing this feature
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2021-03-05 22:35] NavtejSaini-MSFT commented on #71387
@zqyAmy We are going ahead and closing this feedback for now and please get back to us if any other question and we will continue the dicussion.

[2021-03-05 22:35] #71387 closed

[2021-03-05 22:35] frablaser commented on #71711
No I didn't read up to this point... 🙄 Maybe it could be more easier to write this important point. in the code...? I was near to give up with MS stuff and return to google (who is as hard as MS to manage by the way).

[2021-03-05 22:37] NavtejSaini-MSFT commented on #71538
@DavidTrigano Thank you for the insight.
@marcelkmfst Please let us know if you need any further help.

[2021-03-05 22:40] NavtejSaini-MSFT commented on #71606
@Anmolgan81 Please follow [this ](https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/resource-limits) document for more info about the MI resource limits. With regards to number of DB, the limit is 100.
![image](https://user-images.githubusercontent.com/52257742/110181445-cf0c5800-7dd9-11eb-8fd9-7a2398cace32.png)

[2021-03-05 22:43] normesta commented on #60473
Thank you for the suggestion  @subashsivaji ! I've updated the docs to say this: "Applying a rule can be performed by a Storage Account Contributor or a user that has been given permission to the Microsoft.Network/virtualNetworks/subnets/joinViaServiceEndpoint/action Azure resource provider operation via a custom Azure role." The entry also has links to docs that contain more information about ope

[2021-03-05 22:44] #60473 closed

[2021-03-05 22:54] ssivas commented on #71569
@mknowlesnc ,

Thanks for reaching out and sorry for the the inconvenience.
I would request you to reach out to [Office 365 - Microsoft Tech Community](https://techcommunity.microsoft.com/t5/office-365/bd-p/Office365General) since this sounds more like Office 365 apps and licensing rather than AzureAD related. Thanks.

[2021-03-05 23:13] rohitnayakmsft commented on #71524
@tejinderrai The SQL Gateway IP addresses in each region are owned by Microsoft and assigned via a central team in Azure. This is a fixed static IP address and not a CIDR range like that for a Vnet/Subnet. Hence the considerations you mentioned above are not applicable.

[2021-03-05 23:19] tigerdeccan opened #71718 "Add arm template to this process please"
Hello

can you please show arm template example and also show how to auto approve it possible because when deploying via DevOps you won’t want to manually approve this . If you know any Rest API to approve this is much appreciated
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e68bb13-6dc8-eb0a-7

[2021-03-05 23:41] julieMSFT commented on #69994
Hi @jovalen, thank you for reopening this issue and providing the code you were running. We are looking into this issue further.

[2021-03-05 23:49] SatishBoddu-MSFT commented on #71714
@stperic We need more info on this issue.

Please elaborate on what stopped working? is it a URL?, is it any broken Hyperlink? or any Search functionality not working?

Please include some images or screenshots of the issue, so that we help in fixing it.

[2021-03-05 23:50] julieMSFT commented on #70097
#assign:julieMSFT

[2021-03-05 23:52] MarileeTurscak-MSFT commented on #71705
@kvansaders
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-06 00:00] MonikaReddy-MSFT commented on #71715
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-03-06 00:01] MarileeTurscak-MSFT commented on #71693
I think this is good feedback. I made a pull request to update the article with a "known limitations" section.

@curtand please review and let me know if it looks good.

You can also leave feedback in user voice here: https://feedback.azure.com/forums/169401-azure-active-directory

[2021-03-06 00:01] #71693 closed

[2021-03-06 00:02] jamesnovak commented on #71576
I was able to connect after working with a colleague [Ryan Moore](https://github.com/hapa1).
After running into similar issues, Ryan suggested changing the Auth settings for Grant Type to Client Credentials and use the Oauth2 v2 version of the URLs.
Once I made this update and retrieved another token, I was able to connect without issue.
These same settings were used to successfully connect from a

[2021-03-06 00:04] MonikaReddy-MSFT commented on #71712
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-03-06 00:05] MonikaReddy-MSFT commented on #71713
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-03-06 00:05] MonikaReddy-MSFT commented on #71715
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-06 00:05] #71715 closed

[2021-03-06 00:05] MonikaReddy-MSFT commented on #71695
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-03-06 00:07] MonikaReddy-MSFT commented on #71695
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-06 00:07] #71695 closed

[2021-03-06 00:09] MonikaReddy-MSFT commented on #71646
Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2021-03-06 00:09] #71646 closed

[2021-03-06 00:10] MonikaReddy-MSFT commented on #71647
Thank you for providing the info. We will investigate it further and get back to you shortly.

[2021-03-06 00:12] julieMSFT commented on #70097
Hi @moatwork, thank you for contacting Microsoft. I have updated the document with the following:
"Serverless SQL pool allows you to query your data lake files, while dedicated SQL pool allows you to query and ingest data from your data lake files." You will see this update soon. Thank you for your contribution to MicrosoftDocs.  I will go ahead with closing this issue. The @notification mechanism

[2021-03-06 00:13] julieMSFT commented on #70097
#reassign:julieMSFT

[2021-03-06 00:13] MonikaReddy-MSFT commented on #71692
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-06 00:13] #71692 closed

[2021-03-06 00:27] julieMSFT commented on #70097
#please-close

[2021-03-06 00:27] #70097 closed

[2021-03-06 00:30] julieMSFT commented on #70097
#reassign:julieMSFT

[2021-03-06 00:38] MarileeTurscak-MSFT commented on #71687
I don't think those lines are relevant since MFA server isn't supported for new deployments anyway.

I made a pull request to remove those lines. https://github.com/MicrosoftDocs/azure-docs-pr/pull/149378

@justinha and @natharatms feel free to review.

[2021-03-06 00:38] #71687 closed

[2021-03-06 00:43] MS-jgol commented on #71629
@Josh-Kewley-BC We are a few weeks from releasing a version where some of the configurations (logging level is one of them) will be exposed in the portal. Will that work for you?

[2021-03-06 00:56] julieMSFT commented on #70724
#reassign:julieMSFT

[2021-03-06 00:57] MarileeTurscak-MSFT commented on #69907
This issue was reported quite a few times.

It looks like the missing step in the guide is to create a service principal. If  the App doesn't have an associated Service Principal the CLI falls back to use the provided appId 0d126170-fadc-4c1d-b96a-b7c756242d6a as Service Principal objectId.

The article was revised and all of the comments say that to fix this,

https://github.com/kubernetes-sigs/c

[2021-03-06 00:58] MarileeTurscak-MSFT commented on #69907
Related threads:

https://github.com/MicrosoftDocs/azure-docs/issues/35335

https://github.com/Azure/azure-cli/issues/16862

[2021-03-06 00:59] MarileeTurscak-MSFT commented on #69907
Please try this solution and let me know if it helps. If not, feel free to email me at AzCommunity@microsoft.com ("Attn: Marilee Turscak") and include your subscription ID, and I can get a support case opened for you.

[2021-03-06 00:59] #69907 closed

[2021-03-06 01:04] MarileeTurscak-MSFT commented on #71616
@3dprintscanner please create a new issue clarifying where this is out of date and we will gladly help resolve this.

[2021-03-06 01:04] #71616 closed

[2021-03-06 01:08] SamaraSoucy-MSFT commented on #71405
@tom-norwood
The product team is currently working on getting this implemented. I'm not able to give you a firm release date at this time, but the goal is to to release it this summer.

If you have an NDA with us that allows you to join private previews, and are interested, the product team can add you to the private preview for this feature. If you would like to do this, please send an email to m

[2021-03-06 01:08] #71405 closed

[2021-03-06 01:16] julieMSFT commented on #70724
Hi @jasonhorner, thank you for bringing this to our attention. I am looking into this.

[2021-03-06 01:29] olt1892 opened #71720 "$volumeSizeBytes = 1099511627776 # 100GiB"
[Enter feedback here]
$volumeSizeBytes = 1099511627776 # 100GiB

Please double check that. It create a volume with 1TB quota.

Should it be  107374182400

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ecb551a-3b78-df78-cefd-cd07614e043f
* Version Independent ID: 9bbe39e4-8813-7e06-1c1d-9e07d3704435
* Content: [Quickst

[2021-03-06 01:42] musripad commented on #54493
I have created a VMSS, what is the detailed process or steps to enable Schedule Events? Can we do it via portal or CMD line. Looking for detailed steps

[2021-03-06 01:48] TheFairey commented on #61587
@Lucas-MSFT Hi, this is currently being handled under the ticket with TrackingID#2103020040002132, latest info I have from the aks team is this is caused by any variable that has '/' in. Will share any updates in this thread for any others suffering the same issue.

[2021-03-06 01:54] James-Hamil-MSFT commented on #71688
Hi, we are investigating your issue and will update you shortly.

[2021-03-06 01:54] James-Hamil-MSFT commented on #71674
Hi, we are investigating your issue and will update you shortly.

[2021-03-06 02:17] rigdern commented on #54378
@craigshoemaker I filed the GitHub issue because I couldn't find any reference documentation for `TimerInfo` on docs.microsoft.com. For example, the docs don't describe the meaning of `TimerInfo's` `Schedule` or `ScheduleStatus` properties.

I was expecting the `TimerInfo` documentation to look similar to the reference documentation for `System.Threading.Tasks.Task` in that all properties and meth

[2021-03-06 02:29] kanshiG commented on #36846
If your query has name, ssn, credit card or anything that has to be private ssn  == XXXX-XXX-4444 or creditcard == 122333444.

Warm Regards
Govind Kanshi
________________________________
From: ericpopivker <notifications@github.com>
Sent: Friday, March 5, 2021 8:57 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Govind Kanshi <govind.kanshi@microsoft.com>; Mention <mention@nore

[2021-03-06 02:51] SamaraSoucy-MSFT commented on #71596
The snapshot would begin copying at 5:20. It does take time to move data, how long depends on how much data you are transferring and current network conditions, so I'm unable to give you an exact number. We [publish the average latency](https://docs.microsoft.com/en-us/azure/networking/azure-network-latency) between regions, so that presents a minimum transfer time. Between East Asia and Southeast

[2021-03-06 02:59] shashishailaj commented on #71718
@tigerdeccan Thank you for your feedback . We will investigate and update the thread.

[2021-03-06 03:01] shashishailaj commented on #71720
@olt1892 Thank you for [pointing this out . We will have this reviewed and updated as needed.

[2021-03-06 03:03] shashishailaj commented on #71717
@DeanGross Thank you for your query. We will investigate and update the thread.

[2021-03-06 03:05] shashishailaj commented on #71700
@happy-jo Thank you for your feedback . We will investigate and update the document as needed.

[2021-03-06 03:11] shashishailaj commented on #71716
@DeanGross Thank you for your query . We will investigate and update the thread.

[2021-03-06 03:16] shashishailaj commented on #71698
@rp-msft Thank you for your query. We will investigate and update the thread.

[2021-03-06 03:17] shashishailaj commented on #71708
@kosinsky Thank you for your feedback . We will investigate and update the thread.

[2021-03-06 03:20] shashishailaj commented on #71710
@ninarn Thank you for your feedback on this. We will investigate and update the thread.

[2021-03-06 03:23] shashishailaj commented on #71707
@JakeCroz1 Thank you for your feedback . We will investigate and update the thread.

[2021-03-06 03:25] fvarga01 commented on #71245
I had a customer raise this. I explained that this is expected behavior and that it would be more problematic if output bindings where sent when an unhandled exception is raised. I think it may be beneficial to add a note in the docs to explain this.

[2021-03-06 03:27] shashishailaj commented on #71701
@mroyski Thank you for your query. We will investigate and update the thread.

[2021-03-06 05:12] BhargaviAnnadevara-MSFT commented on #71531
@ulysses4 We will now proceed to close this thread, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-03-06 05:12] #71531 closed

[2021-03-06 05:27] AnuragSharma-MSFT commented on #71576
@jamesnovak Glad to hear it worked out for you and appreciate you added the solution here that will surely help others who have similar issues.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-03-06 05:27] #71576 closed

[2021-03-06 06:32] alkohli commented on #70918
@tejinderrai Thank you for your feedback! The gathering and inclusion of other options and integration runtimes would significantly alter the scope of this article. This is something we could keep in our backlog for the future. Thanks!
#please-close

[2021-03-06 06:32] #70918 closed

[2021-03-06 06:34] leizhang1984 commented on #71596
@SamaraSoucy-MSFT, Thank you for your reply.

May I double check your reply?

When I restore user-defined restore point (I created in East Asia Region at 2021-03-04 5:00 p.m) in remote Azure Data Center Synapse SQL pool.
After restored successful, the restored data is same version as 2021-03-04 5:00 p.m. , not 24 hour ago version, am I correct?

[2021-03-06 06:39] kye opened #71721 "Remove recommendation to use OAuth 2.0"
This quote

seems to be at odds with this quote, also on docs.

https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-migrate-acs-sas

The recommendation to use OAuth 2.0 should be removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13478d1d-11eb-930a-02c4-559a1ef89fa6
* Version Independent ID: b

[2021-03-06 07:00] alkohli commented on #66692
@matgree - this is now done. The changes were made in the following PRs that are now merged:https://github.com/MicrosoftDocs/azure-docs-pr/pull/149395 and https://github.com/MicrosoftDocs/azure-docs-pr/pull/149396 -  and should go live soon. Closing the issue.
#please-close

[2021-03-06 07:00] #66692 closed

[2021-03-06 08:04] ericpopivker commented on #36846
@kanshiG
I understand about not exposing sensitive data, but why mask property names?

for ex:
WHERE (((c.p1__10 = @param1__14)

Why p1_10 can't be c.SSN or c.CreditCardNumber.   I am ok with value of param1_14 being masked.

[2021-03-06 08:21] algattik commented on #71689
Thank you. Also, it would be useful to clarify if this ETag can be used in HTTP Headers like we can do with storage blobs:
- with read operations to avoid fetching content that hasn't changed.
- with write operations to support optimistic concurrency.

[2021-03-06 08:31] lorenz-haenggi-jarowa opened #71722 "Add Additional tips how to debug a protectedSettings in a CustomScriptExtension on a VM or VMSS"
Your document is great about the customextensions and debugging.

I wanted to add one more thing how to get the encrypted message of the "ProtectedSettings" on the VM and see if there is any issue with the command. ARM templates strings with complex commands including secrets are errornous.

but they only be tested while running the command on the machine

this is how you can do it:

- open the fi

[2021-03-06 09:25] algattik commented on #71689
Also, filtering queries by ETag doesn't see to work:

[code]

[2021-03-06 10:12] sarah026 commented on #69159
@samcloud2000 Good luck Sam, i do look forward to hearing a good news on that... the inconsistency between our experience and theirs isnt promising :(

[2021-03-06 11:35] al-n commented on #70433
Hi, are there any news on this? Thanks :)

[2021-03-06 13:05] phatcher commented on #71368
I have also had this; it one case it leapt into live after manually creating the file share, in the other it stubbornly remained down - this was via a terraform rather than ARM but to me this looks like a flaw in the startup logic, as it is the only way I have to make this work reliably is to deploy the app (an associated slot) without security/vnet and then apply the security settings as a second

[2021-03-06 13:21] BoSoeborgPetersen opened #71725 "Copy-paste error in documentation."
The text "Configure a new node pool to use host-based encryption by using the --aks-custom-headers flag." is obviously the result of an copy-paste error, should be "Configure a new node pool to use Ultra disks by using the --aks-custom-headers flag."

In this section of the page:
https://docs.microsoft.com/en-us/azure/aks/use-ultra-disks#enable-ultra-disks-on-an-existing-cluster

---
#### Document

[2021-03-06 13:29] blueghostuk opened #71726 "az webapp log tail --filter option no longer available?"
"To filter specific events, such as errors, use the --Filter parameter. For example:"

https://docs.microsoft.com/en-us/cli/azure/webapp/log?view=azure-cli-latest indicates the command should be `--only-show-errors`, there is no mention of the `--filter` option

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfc316af-0d

[2021-03-06 13:35] BoSoeborgPetersen opened #71727 "Make AKS public IP per node section a separate page."
I don't think the AKS public IP per node section should be part of this page on using multiple node pools, so I suggest to make it a separate page.

This also makes the "Clean up resources" section confusing.

Relevant to this section:
https://docs.microsoft.com/da-dk/azure/aks/use-multiple-node-pools#assign-a-public-ip-per-node-for-your-node-pools-preview

---
#### Dokumentoplysninger

⚠ *Undlad

[2021-03-06 17:05] vforteli commented on #71368
So far this has worked all the time for me. I did forget to the azurewebjobsconnectionstring at one point, and this is still required. I did run into one old resourcegroup where contentovervnet wasnt supported at all. This is however mentioned in the documentation that not all stamps support this feature. For me it has worked on all new ones though.

[2021-03-06 17:22] kanshiG commented on #36846
Thanks for the input. It has been under discussion .For now I would request you to go via support request and get full query text

.
________________________________
From: ericpopivker <notifications@github.com>
Sent: Saturday, March 6, 2021 12:05:12 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Govind Kanshi <govind.kanshi@microsoft.com>; Mention <mention@noreply.github.com>

[2021-03-06 17:34] DerekHerman-MSFT commented on #71721
@kye Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-06 17:37] DerekHerman-MSFT commented on #71722
@lorenz-haenggi-jarowa Thanks for the feedback. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-06 17:39] DerekHerman-MSFT commented on #71725
@BoSoeborgPetersen Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-06 17:40] nhwilly opened #71729 "Type in code"
For us copy and paste types, there's a typo in this line:
[code]
In `CustomMessageSerializerSettingFactory` the `Setting` should be plural so that it matches the internal class.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2157bbd2-2dd9-8597-26d6-c96f556ba519
* Version Independent ID: c996389d-3ded-f2ac-c62d-afcb3e33

[2021-03-06 17:42] DerekHerman-MSFT commented on #71726
@blueghostuk Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-06 17:43] DerekHerman-MSFT commented on #71727
@mlearned Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-06 18:29] asudbring commented on #70433
Sending to PM for review

#reassign:@ivapplyr

[2021-03-06 21:02] LPalmerMSI opened #71730 "Deploy on Azure Web App"
This page doesn't talk about how to deploy the applicationinsights-agent jar on Azure Web Apps.

1) How do you deploy a java web app onto Azure Web App and include the agent?
2) What directory on the Web App should host the jar?

I've found that I can use Kudu to upload the jar and the applicationinsights.json file into the Home directory and then use a hard coded path in configuration but I need

[2021-03-06 21:28] chaisen2006 opened #71731 "Remove Shared Dashboard - Programmatically"
Can you please let know how to Remove a Shared Dashboard - Programmatically.
I would prefer a Power Shell Script.

Want to use it in Devops Pipeline.

Thank you!

[2021-03-06 21:35] VicSmith opened #71732 "Can you text from Toll Free Numbers to Countries that are NOT United States?"
SMS section:

This does not make sense to me.
I see a list of international numbers and countries.  Are you saying I can't text to those countries.  Only text within the United States from a toll free number which is also the only number type you can text from???

-----

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e

[2021-03-06 22:27] jimbobbennett opened #71733 "Python sample code for Azure Functions/Even hubs throws exceptions"
In the Python sample code for an event hub trigger:

[code]

Running this code causes the function to fail with an exception. It looks like the `logging.info()` lines are incorrect as they are passing parameters without formatting inside the `msg`.

See the docs on `logging`: https://docs.python.org/3/howto/logging.html#logging-variable-data

---
#### Document Details

⚠ *Do not edit this section.

[2021-03-06 23:02] sardar-ji commented on #71712
I think this command which was mentioned in the tutorial was missing the node count attribute. By default its looking for the node pool of min 6 node which is not possible in free-trial.

By giving --node-count 1, this command is working.

az aks create --resource-group MyResourceGroup --name myAKSCluster --node-count 1 --enable-addons monitoring --attach-acr HarprHelmACR --generate-ssh-keys

[2021-03-06 23:02] #71712 closed

[2021-03-07 00:56] gregdegruy opened #71735 "Control Zoom on Azure Kinect Camera"
Is there a way to Zoom in using the camera or is there any support in the Kinect DK to add Zoom controls?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cdf6aaae-43da-9f8d-961d-61fef5bbacd1
* Version Independent ID: b7ad1780-2502-0f7b-fcef-36654ef50efd
* Content: [Azure Kinect Viewer](https://docs.microsoft.com/en-us/a

[2021-03-07 02:17] vishvanathan-k opened #71736 "Can't Delete a newly created Azure AD"
We have created mistakenly created 2 Azure AD for use in O365. I Was not able to delete any one of them because of a remove domain error . Even though It was just newly created , we didn't change any of settings or add a domain.
![image](https://user-images.githubusercontent.com/66466541/110226920-0fbebb00-7f19-11eb-9965-cf908527bf0e.png)
See the Custom domain's page
![Untitled](https://user-image