[2019-03-09 10:45] Martony78 opened #26598 "ADFS Enable-AdfsDeviceRegistration"
This documentation never mention enabling ADFS Device Registration, is it a prerequisite or not?
https://blogs.technet.microsoft.com/taehee/2019/01/24/workplace-join-device-registration-to-azure-ad-for-local-domain-joined-windows-7-and-2012/#comment-535

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9c51404-0a1b-c22e-

[2019-03-09 12:55] MedAnd opened #26599 "Configuring the Service Fabric VolumeDriver on a local 1 or 5 node Windows development cluster?"
Currently documentation for SF Mesh exists, however please document the process to configure the Service Fabric VolumeDriver on a local 1 or 5 node Windows and Linux development cluster. Thx.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33213fe3-c523-df14-797e-856e1597f31d
* Version Independent ID: b54b22bd-f275-b4eb

[2019-03-09 13:24] cesaredecal commented on #25798
Hello! I am using this API at a hackathon and I confirm the demo page isn't working properly although the API should be working fine.

[2019-03-09 14:05] jkras1993 commented on #6595
How can  I get this for java android? do I have to implement the code myself?

[2019-03-09 14:12] CHEEKATLAPRADEEP-MSFT commented on #26598
@Martony78 Thanks for the question! We are investigating and will update you shortly.

[2019-03-09 14:15] CHEEKATLAPRADEEP-MSFT commented on #26599
@MedAnd Thanks for the feedback! I have assigned the issue to the content owner for further review.

[2019-03-09 14:35] HaraldHeide commented on #26104
Yeah, noticed now. something kind of works with ARCore 1.7 but seems to work a lot smoother with arcore 1.5. THX a lot for this thingie… :-)

[2019-03-09 16:23] santoshmallena opened #26600 "Managed Data & OS Disk Size Limitations"
[Enter feedback here]
Hello Team, In below provided document , I found that the data disk & os disk maximum limitations are 4 GiB & 2 GiB. I think its small mistake in that document because if its maximum 4 Gib for data disk we can create or extend the datadisk size more 4 Gib right. It may be wither minimum or in TB. Please give a clarity on it.

---
#### Document Details

⚠ *Do not edit this sec

[2019-03-09 16:46] sarat24 opened #26601 "ASR replication flow"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-03-09 16:47] #26601 closed

[2019-03-09 18:31] MohitGargMSFT commented on #26601
@sarat24 I see you closed the issue. Please open a new content feedback request on the document in case you need any assistance.

[2019-03-09 19:10] AjayKumar-MSFT commented on #26397
@bradhowe, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-03-09 19:10] #26397 closed

[2019-03-09 19:17] AjayKumar-MSFT commented on #26518
@kazshi, Your feedback has been shared with the content owner for further review on this ask.

[2019-03-09 20:46] justSteve opened #26602 "Application Resource Provider is not selectable"
At Step 3 Select Contributor for the role.

My screen shows:
Role:Contributor
Assign access to: Azure AD user, group, or sp
Select: [shows only the handful of email-based user accounts I have setup in AD.

Choosing the Assign access to: dropdown offers 'Sys Assigned managed id' but not App Resource Provider.

am deadended

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-03-09 21:02] lesterw1 commented on #26465
I understand auth in all those other scenarios. Thank you.  What is missing is: (a) how API Management integrates; and (b) whether the set of users in API management can be completely independent (i.e., NOT in the tenant active Directory) ans still be added.  Thanks.

[2019-03-09 21:52] femsulu commented on #26493
@PaulSells, a PR has been initiated that will resolve this typo. We will now close this issue. Thanks again for catching this.

[2019-03-09 21:52] #26493 closed

[2019-03-09 22:48] femsulu commented on #26567
@mayurigupta13 - FYI

@naimco, got a 404 error when opening the image link you shared. Can you share an example of a location to support your statement below? Would like to reproduce to see this is indeed a bug with the SupportedRoleSize output..
As you are probably aware, not all Vm sizes are supported/available across all regions. although Av2 series should be available in all regions so curious

[2019-03-09 23:31] MattRalph commented on #8535
Also, PolicyBasedTrafficSelectors are not supported on Basic SKU
That's the message I get in the portal
Is this a chicken and egg scenario now?
It needs higher than Basic SKU, but only Basic SKU supports PolicyBasedTrafficSelectors

Why I'm here: I was hoping to connect three On-Prem sites to one Azure Virtual Network Gateway, i.e., only consume one public IP in Azure

The network diagrams at the

[2019-03-09 23:44] jgallucci32 commented on #25111
FYI the issue has reappeared in the 1902 update published just 2 days ago.
When I get back to my desk Monday I will submit new issue.

On Tue, Feb 19, 2019 at 11:26 AM TravisCragg-MSFT <notifications@github.com>
wrote:

--
John Gallucci
john.gallucci.iv@gmail.com

[2019-03-10 02:58] CHEEKATLAPRADEEP-MSFT commented on #26600
@santoshmallena Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-03-10 03:00] CHEEKATLAPRADEEP-MSFT commented on #26602
@justSteve Thanks for the question! We are investigating and will update you shortly.

[2019-03-10 03:09] carehart opened #26603 "Appending agent args for appdynamics"
The section on new relic has a final bullet on handling *appending* the env vars, when the app dynamics section does not. See last bullet for each.

Alao, you may want to show how such appending would be done, commensurate with the hand-holding of the previous steps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da9ef

[2019-03-10 03:17] CHEEKATLAPRADEEP-MSFT commented on #26331
@hmayer1980  I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-03-10 03:25] carehart opened #26604 "About the link in "next steps""
Folks, in the final "next steps" section, there is a link said to be for "Java Enterprise developer guide", which goes to this link, https://aka.ms/wildfly-quickstart, but somehow ends up redirecting us back to this article itself. I searched for but could not find an article of that name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-03-10 03:31] PatMyron commented on #26502
If the operations are not proportional to the equation units, it might be helpful to remove the equations altogether and just leave the five operation names

[2019-03-10 03:51] stratospheres opened #26605 "Improper value suggested for "Partition Key" in tutorial."
In step 2 of Add a Collection, the instructions incorrectly suggest to set Partition Key to "/userid" ("Enter a partition key such as /userid.").

However, a few steps later, it becomes clear that the rest of the tutorial needs that to be set to "/category". It's especially unfortunate as there is no way to change the partition key once it's set and the only way to have it properly set is to delet

[2019-03-10 04:01] carehart commented on #26604
Ah, I think I found what that meant to link to:

https://docs.microsoft.com/en-us/azure/app-service/containers/app-service-linux-java

[2019-03-10 04:03] carehart opened #26606 "Another suggested link for "next steps""
https://docs.microsoft.com/en-us/azure/app-service/containers/app-service-linux-java

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c13f5f59-c119-40e6-1396-d6e65b737693
* Version Independent ID: eb8a9ad0-44fc-6e06-adb0-29df32aee19a
* Content: [Create Java web app on Linux - Azure App Service](https://docs.microsoft.com

[2019-03-10 04:10] carehart commented on #24835
Excellenr observation, kazshi. Thanks for the links in the meantime. Ajay, can you ping the author again on this?

[2019-03-10 04:23] stratospheres opened #26607 ""Review The Code" section is out of sync with actual published Git repository."
The "Review The Code"section is full of content describint the code, but the actual published Git repository code doesn't match it at all. Please update the walkthrough to properly match the code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4255f572-38cc-08aa-6fb7-08c919713cf9
* Version Independent ID: c04fe4dd-e75d

[2019-03-10 05:31] MohitGargMSFT commented on #26603
@carehart Thanks for your feedback! We will investigate and update soon on it.

[2019-03-10 05:33] MohitGargMSFT commented on #26604
@carehart Thanks for your feedback! We will investigate and update soon on it.

[2019-03-10 05:37] MohitGargMSFT commented on #26605
@stratospheres Thanks for your feedback! We will investigate and update soon on it.

[2019-03-10 05:41] MohitGargMSFT commented on #26606
@carehart Thanks for your feedback! We will investigate and update soon on it.

[2019-03-10 05:43] SumanthMarigowda-MSFT commented on #26420
@MS-Santi It will be soon update once it's GA , One policy per account 100 rules and each rule can have up to 10 prefixes defined.

[2019-03-10 05:45] MohitGargMSFT commented on #26607
@stratospheres Thanks for your feedback! We will investigate and update soon on it.

[2019-03-10 06:04] naimco commented on #26567
Here is the proper link,  https://i.imgur.com/MnIQlYxh.png

@femsulu it does not matter which region is targeted, the bug occurs any time a SubscriptionID is used.

The function that populates the SupportedroleSizes.txt file has an issue.

[2019-03-10 06:21] s-toussaint opened #26608 "Error while trying to install dependencies for sample project"
Hi,

I have cloned the repository and tried to run the mvn install command from the ./sample directory but got the following error:

[WARNING] The POM for com.microsoft.azure:elastic-db-tools:jar:1.0.1 is missing, no dependency information available
Downloading: https://repo.maven.apache.org/maven2/com/microsoft/azure/elastic-db-tools/1.0.1/elastic-db-tools-1.0.1.jar
[INFO] -----------------------

[2019-03-10 08:11] AndrewShepherd opened #26609 ""Assign a policy - PowerShell" describes unnecessarily convoluted way to check policy"
The document [https://docs.microsoft.com/en-us/azure/governance/policy/assign-policy-powershell](https://docs.microsoft.com/en-us/azure/governance/policy/assign-policy-powershell) describes how to assign a policy and then identify non-compliant resources.
To identify non-compliant resources it describes how to use the armclient to construct and issue a REST request.

We don't need to issue a REST

[2019-03-10 08:35] Mark7even opened #26610 "Consent per user"
Can consent be added on a user-by-user basis?

For instance, I turned off "Users can consent to apps accessing company data on their behalf", but I would like to give 1 user access to integrate Amazon Alexa with Office 365. It seems like it is currently only on or off globally. This is a glaring issue in my opinion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2019-03-10 10:14] SuttyHoo opened #26612 "Incomplete"
A tutorial that should take a few minutes, to an hour as I had to figure out what references to take in.
Don't have time for that overhead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5ce8d88-79ef-1c9a-fd65-167e3ca2f36a
* Version Independent ID: 2c78ff72-b8c6-2b1f-de73-114594a8dbf1
* Content: [Use a Windows VM syst

[2019-03-10 10:53] SuttyHoo opened #26614 "Errors"
A socket operation was attempted to an unreachable network  VS 2017; Core2.1

   // Call /token endpoint
    HttpWebResponse response = (HttpWebResponse)request.GetResponse();

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5ce8d88-79ef-1c9a-fd65-167e3ca2f36a
* Version Independent ID: 2c78ff72-b8c6-2b1f-de73-114594a8db

[2019-03-10 11:15] theheatDK commented on #22688
Hi,
It has now been two months. Any update? :-)
Regards peter

[2019-03-10 13:49] CHEEKATLAPRADEEP-MSFT commented on #26608
@s-toussaint Thanks for the question! We are investigating and will update you shortly.

[2019-03-10 13:52] CHEEKATLAPRADEEP-MSFT commented on #26609
@AndrewShepherd Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-10 13:55] CHEEKATLAPRADEEP-MSFT commented on #26610
@Mark7even Thanks for the question! We are investigating and will update you shortly.

[2019-03-10 13:57] CHEEKATLAPRADEEP-MSFT commented on #26612
@SuttyHoo Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-10 13:58] CHEEKATLAPRADEEP-MSFT commented on #26614
@SuttyHoo Thanks for the question! We are investigating and will update you shortly.

[2019-03-10 14:29] DCtheGeek commented on #26609
@AndrewShepherd Thanks for pointing this out. Looks like I didn't update the QuickStart when the `Get-AzPolicyState` and related cmdlets were released.  I'll get it updated asap!

@MicrosoftDocs/azure-cxp-triage Please assign to me and #in-progress.

[2019-03-10 14:39] DixitArora-MSFT commented on #26479
@MisinformedDNA Created a function app with blob storage trigger and blob input binding with CloudBlobContainer parameter. Hope this will help.

Below is the sample code for function app.

**Code Sample :**

#r "Microsoft.WindowsAzure.Storage"

using System;
using Microsoft.WindowsAzure.Storage.Blob;
using Microsoft.Extensions.Logging;

public static void Run(Stream myBlob, **CloudBlobContainer co

[2019-03-10 15:24] DCtheGeek commented on #26609
@AndrewShepherd I've made the changes to the article.  I also did some other minor cleanup.  Thanks again for pointing this out, much appreciated. When the changes merge in preparation to be published, this Issue will automatically be closed.  If you have any other issues with docs, please do post them.  Thanks again!

[2019-03-10 15:27] rierjarv opened #26615 "Possible error in docs for Batch service environment variables ?"
This is my first feedback so probably the format is somewhat incorrect. However, on page

[](https://docs.microsoft.com/en-us/azure/batch/batch-compute-node-environment-variables)

the environment variable AZ_BATCH_TASK_SHARED_DIR is listed twice one after the other with different meaning. When I look the list upwards, the example directory path for AZ_BATCH_NODE_SHARED_DIR is the same as in one o

[2019-03-10 15:29] rkarlin commented on #26483
@Placid7 Glad you figured it out - sorry it wasn't so clear. I'll update the documentation to make sure the article is more clear. thanks so much for your feedback.

[2019-03-10 15:30] AjayKumar-MSFT commented on #24835
Thank you @carehart for your feedback on this item. We have been discussing on this internally and will get back to you soon.
@Jen7714 , Requesting your review on this feedback.

[2019-03-10 16:12] AjayKumar-MSFT commented on #26500
@IGx89, Glad it was helpful! Yes, that's correct. Your feedback has been shared with the content owner for a doc refresh .We will close this out with a doc update pending, but if you feel you need more information please just let us know.

[2019-03-10 16:12] #26500 closed

[2019-03-10 16:15] rkarlin commented on #26562
Hi @cicorias I'm not really sure how to fix this - I only see one file in my cloned repo

[2019-03-10 16:23] rkarlin commented on #25973
@mnuhfer Hi, thanks for your feedback. we changed the commands a bit  - they should work now. Please let me know if you're still encountering problems.
thanks!

[2019-03-10 16:49] vd3d commented on #25129
@BryanTrach Thanks a lot for closing it,

But, it does not really answer my question... first the documentation does not really reflect this feature (except for the @Mike-Ubezzi-MSFT project), and the Azure Storage Explorer is not able to manage the content of the graph.

So, is there some official communication ? and/or tools ?

thanks

[2019-03-10 16:56] MicahMcKittrick-MSFT commented on #26615
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-10 17:13] AjayKumar-MSFT commented on #26232
You're welcome! Kindly let us know if you need further assistance.

[2019-03-10 17:41] MisinformedDNA commented on #26479
The only major differences I see between your code and mine is that a) I am using C# with attributes and you are using C# script and b) you are using a super old version of WindowsAzure.Storage (4.3.0), while I am using the latest (9.3.3).

![image](https://user-images.githubusercontent.com/1784452/54088979-baec0800-4331-11e9-9f83-4b45d49bacf1.png)

[2019-03-10 17:58] badalk commented on #26563
I am ensuring all the setup once again and will come back if i need to raise a ticket. Thanks @iainfoulds @MicahMcKittrick-MSFT

[2019-03-10 18:06] jtuliani commented on #22688
The PG confirmed to me separately that yes, there's no default probes on App GW v2 and that yes, they will fix that before GA.

[2019-03-10 18:26] CloudyEMS opened #26617 "Discrepancy between API Reference and documentation in the need of specifying identifiers"
Under the "locating a cloud spatial anchor" [section](https://docs.microsoft.com/en-us/azure/spatial-anchors/concepts/create-locate-anchors-unity#locating-a-cloud-spatial-anchor), it is explicitly written that we need to know the identifiers of the cloud spatial anchors in order to locate them. But as seen in the API reference [here](https://docs.microsoft.com/en-gb/dotnet/api/microsoft.azure.spat

[2019-03-10 18:33] cicorias commented on #26562
@rkarlin  - I created a PR https://github.com/MicrosoftDocs/azure-docs/pull/26564 that does the delete of the Pascal cased file...

[2019-03-10 18:43] jhankins71 opened #26618 "Problem with Connect-AzureRM Account"
I have a lot of Powershell scripting experience but I have never to use the graphical runbook tool so I started working my way through "My First Runbook". My AzureRM.Profile module did not have Connect-AzureRmAccount but did have Add-AzureRmAccount. However, it kept giving me an error "Name Parameter Not Configured" when I tried to save the runbook. I narrowed it down to the Add-AzureRmAccount com

[2019-03-10 19:13] theheatDK commented on #22688
Thanks @jtuliani

[2019-03-10 19:17] yushwang commented on #8535
Hi Folks, sorry for the confusion -

(1) For "Basic SKU", there is a policy-based gateway which is IKEv1 with policy-based traffic selectors. That is the only mode of operations and you do NOT need to set the "PolicyBasedTrafficSelectors" option. Alternatively, you can createa Basic SKU, route-based gateway which is IKEv2, but any-to-any traffic selectors.

(2) For VpnGw1/2/3, the default mode of

[2019-03-10 20:53] MohitGargMSFT commented on #26618
@jhankins71 Thanks for your feedback! We will investigate and update soon on it.

[2019-03-10 20:54] MohitGargMSFT commented on #26617
@CloudyEMS Thanks for your feedback! We will investigate and update soon on it.

[2019-03-10 20:58] MohitGargMSFT commented on #26478
@erenik I am moving ahead and closing this feedback now. Please open a new content feedback on the related document and we will definitely assist you on it. Thanks.

[2019-03-10 20:58] #26478 closed

[2019-03-10 22:51] AndrewShepherd commented on #26609
Interestingly, I don't think we need the tag `-Filter "IsCompliant eq false"`

From my testing, I came to the conclusion that the underlying REST call never returns resources that are compliant with the policy. If you clear the filter you only get non-compliant resources, and if you set `IsCompliant eq true` you get nothing back.
(I tested this on both poweshell and by making REST calls through Po

[2019-03-10 22:57] #26609 closed

[2019-03-10 23:24] blazingpotsie commented on #26104
I got the sample to work for the Android.  on a Samsung Galaxy S9 using Unity 2018.3.7f1.  I had to do the "re-import all" in order to remove the blue background but after that it worked great.  I am impressed with how well the sample stays put.  Now I am off to get it in the Hololens and on an I-pad.  I only have a Hololens 1 but have ordered 4 of the Hololens 2s.   Plan to spend the next several

[2019-03-10 23:31] mries opened #26619 "Connection draining on Azure loadbalancer"
When will connection draining be an available feature for Azure loadbalancer?  I was lead to understand it was to be ready for release end of this quarter.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e1e7cb2-c5a7-7122-c729-dc259db99a40
* Version Independent ID: 45c6fd72-5114-fcda-0bab-2d80ac6bed33
* Content

[2019-03-11 00:14] v-maroge commented on #21105
Hi, @xurui203. Our customer is also confused with this statement. If you have less TUs than the number of partitions, (i.e. 1TU with two partitions) that means they would have slower performance compared to 1TU=1partition, right? And you say you cannot do vise versa like 2TU to 1 partition?

Our customer is trying to make a long term plan for future event increase, but is wondering if it were bett

[2019-03-11 00:23] justinbarias commented on #13847
Hi
Is there a future roadmap to support Dimensions for metrics to be forwarded to Log Analytics?

[2019-03-11 00:44] teppeiy opened #26620 "Suggest adding max # of app/token note under Microsoft Authenticator app section"
Please include following sentence under "Microsoft Authenticator app" section as well.

Users may have a combination of up to 5 OATH hardware tokens or authenticator applications such as the Microsoft Authenticator app configured for use at any time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8f14188-98ec-5c94-f40

[2019-03-11 00:51] crgarcia12 commented on #9472
I'm getting this error now :(

[2019-03-11 01:22] Leon99 opened #26626 "Support for elastic pools?"
Similar to https://github.com/MicrosoftDocs/azure-docs/issues/9118. It looks like it's impossible to copy a DB in an elastic pool. Should be noted in the documentation.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc3f1726-f5b5-e504-33c4-8ceefa5b02f7
* Version Independent ID: baf2eb27-05bf-8d85-2a34-2f6c0ef739b1
* Co

[2019-03-11 01:48] PramodValavala-MSFT commented on #26465
@lesterw1 By default, the users in APIM are **_not_** in the same tenant. They just rely on username/password based logins and are stored within APIM itself.

Your users would just use the [Developer Portal](https://docs.microsoft.com/en-us/azure/api-management/api-management-key-concepts#a-namedeveloper-portal-a-developer-portal) to login and manage their subscription.

The only scenario where th

[2019-03-11 02:28] shashishailaj commented on #26344
@michaelspinks We will be closing this issue now. Should you have a further query , please feel free to tag me to your reply or open a new issue and we will help you with the same.

[2019-03-11 02:28] #26344 closed

[2019-03-11 02:37] DixitArora-MSFT commented on #26497
Hi @mswilson4040  Just following up here, let us know if we can assist further, otherwise, we'll proceed to close this issue :)

[2019-03-11 02:38] shashishailaj commented on #26620
@teppeiy Thank you for your feedback , we will have this checked by the doc authors and get the document updated after review.

[2019-03-11 02:48] shashishailaj commented on #26449
@smudgecat We agree and have noted the feedback . We will be waiting for the myprofile product to come out of preview and once its fully GA , As John mentioned internal links will be updated to use Myprofile once its fully rolled out. We will be closing this issue for now , please tag us to your reply in case you have any further query on the same or open a new issue and we will be glad to help yo

[2019-03-11 02:48] #26449 closed

[2019-03-11 02:49] CHEEKATLAPRADEEP-MSFT commented on #26619
@mries Thanks for the question! We are investigating and will update you shortly.

[2019-03-11 02:50] blouwagie opened #26641 "Define "recently" with a date"
Hi you say "This article was recently updated to use the term Azure Monitor logs instead of Log Analytics. " and don't define the date of "recently" so as A reader I can not know whether this is indeed somewhere in the beginning of March 2019, or the beginning of the year. Can you clarify by adding a date please?
Thank you
Bart

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-03-11 02:51] CHEEKATLAPRADEEP-MSFT commented on #26626
@Leon99 Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-03-11 02:53] CHEEKATLAPRADEEP-MSFT commented on #26641
@blouwagie Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-11 03:05] CHEEKATLAPRADEEP-MSFT commented on #26560
@techmechnegi Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-03-11 03:05] #26560 closed

[2019-03-11 03:06] shashishailaj commented on #26476
@bladegery  Please provide your company details and the requirement you have stated to the email address mentioned by @jeevansd we will have the information added to our list in order to prioritize this. Also this is to keep the information of customers who are actively working on this so that we can update them once this is delivered as we are actively looking on this  .

Thank you.

[2019-03-11 03:06] CHEEKATLAPRADEEP-MSFT commented on #26559
@mdsajidfaizan We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-11 03:06] #26559 closed

[2019-03-11 03:08] shashishailaj commented on #26620
@teppeiy We have reviewed the same and as per the discussion we will submit a pull request shortly on this.

[2019-03-11 03:08] SubhashVasarapu-MSFT commented on #26619
@KumudD Could you please provide your insights on this?

[2019-03-11 03:08] CHEEKATLAPRADEEP-MSFT commented on #26467
@BreakingBI We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-11 03:08] #26467 closed

[2019-03-11 03:33] CHEEKATLAPRADEEP-MSFT commented on #26587
@vasanthachavali Linked services are much like connection strings, which define the connection information needed for Data Factory to connect to external resources. Think of it this way: a linked service defines the connection to the data source, and a data set represents the structure of the data.

For example, an Azure Storage linked service specifies the connection string to connect to the Azur

[2019-03-11 03:35] CHEEKATLAPRADEEP-MSFT commented on #26556
@realolap Could you ask your question in the forums? The audience there would be a better suited to answer your question. [https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureAnalysisServices](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureAnalysisServices)

[2019-03-11 03:38] ManojReddy-MSFT commented on #26588
@pyoungberg When a user / administrator disables a device , the device is no longer considered as registered with Azure AD. So it will not be able to pass a conditional access policy which says you have to come from a compliant device or a hybrid azure ad joined device.

Administrator can enable the device from Azure portal. You can check this [doc ](https://docs.microsoft.com/en-us/azure/active-d

[2019-03-11 03:40] ManojReddy-MSFT commented on #26342
@JimmyLS We have not heard from you in a while.We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-03-11 03:40] #26342 closed

[2019-03-11 03:41] ManojReddy-MSFT commented on #26291
@erosinger We have not heard from you in a while.We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-03-11 03:41] #26291 closed

[2019-03-11 03:41] ManojReddy-MSFT commented on #26226
@aszalacinski We have not heard from you in a while.We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-03-11 03:41] #26226 closed

[2019-03-11 03:42] ManojReddy-MSFT commented on #26047
@usx22186 We have not heard from you in a while.We will now proceed to close this thread. If you want to continue this conversarion, please tag me in the comments and I will get back to you.

[2019-03-11 03:42] #26047 closed

[2019-03-11 03:43] ManojReddy-MSFT commented on #26148
@sujayvsarma I am following up to get an update regarding this.

[2019-03-11 04:05] KetanChawda-MSFT commented on #26406
@ParthiKarnan Checking in to see if the above post helped answering your question.

[2019-03-11 04:27] RohitMungi-MSFT commented on #26261
@PatrickFarley Could you please review the section [Create the Android Studio Project](https://docs.microsoft.com/en-us/azure/cognitive-services/face/tutorials/faceapiinjavaforandroidtutorial#create-the-android-studio-project) and update point 3 to the correct API version as it looks like API 22 throws some errors from http library?

[2019-03-11 04:32] masters3d opened #26653 "What is the replacement for BizTalk HCM Hybrid Connection Manager?"
I need to replicate the use case that BizTalk Hybrid provided. The above screenshot mentions `App Service Hybric Connections`. It is unclear to me what is the replacement for the above article? What you explain this? How is related to https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-service-endpoints-overview

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2019-03-11 04:33] ryandenkaat opened #26654 "Blank page after redirect back to application"
I have set up a ClaimsProvider for a customer's ADFS server and after the user signs in there is just a blank HTML page displayed (completely white). All other ClaimsProviders set up within the Azure AD B2C custom policy work as expected. Any ideas?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e14a5d4c-5125-8ed2-7fda

[2019-03-11 04:39] Mike-Ubezzi-MSFT commented on #26348
@alec-lieberman-ef We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-11 04:39] #26348 closed

[2019-03-11 04:41] msrini-MSIT commented on #23320
@way2arun , I will go ahead and close this issue, please share the template to us and we will review and post the outcome here.

[2019-03-11 04:41] #23320 closed

[2019-03-11 04:43] KalyanChanumolu-MSFT commented on #26228
@imeya
We will now proceed to close this thread.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion. 

[2019-03-11 04:43] #26228 closed

[2019-03-11 04:49] sujayvsarma commented on #26148
The tokens looked comparable. But when the ADAL token was used against the AzureRM endpoint (https://management.azure.com/subscriptions?api-version=2019-03-01 for example), it returned a valid answer. When I use the MSAL one, it returns "{ value: [ ] }".

[2019-03-11 04:52] KalyanChanumolu-MSFT commented on #26522
@olofh-msft
Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-03-11 05:20] KetanChawda-MSFT commented on #26400
Unfortunately, this isn't supported yet for local development. Work for it is underway, No ETA currently.

[Here](https://github.com/Azure/azure-functions-host/pull/3791) is a PR for supporting Key Vault in the Functions Host and the [issue](https://github.com/Azure/azure-functions-core-tools/issues/933) for tracking its integration with core tools.

Since there is no doc update required, we will

[2019-03-11 05:20] #26400 closed

[2019-03-11 05:22] DixitArora-MSFT commented on #26479
@MisinformedDNA Thanks for your reply. I tried a quick sample with updated WindowsAzure.Storage version to 9.3.3 and it worked seamlessly, using the same binding metadata.

[2019-03-11 05:47] anilripla opened #26675 "Authorization token and token query string name"
1. How do you obtain an authorization token to make calls to the API
2. What is the query string parameter name for the token that must be resolved by the ISV

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9862992-905d-6343-d921-11d0cc117fa9
* Version Independent ID: 47437574-5c46-b88b-aee3-4ebf52efe4bf
* Content: [Sa

[2019-03-11 05:48] jakaruna-MSFT commented on #26600
@santoshmallena In the document, we have

Which roughly translates to 4 TiB.
The same applies for OS disk also. Doc has 2,048 GiB and it translates to 2 Tib.
Since we are familiar with GiB, All values are provided in GiB.

[2019-03-11 05:50] santoshmallena commented on #26600
Thanks for update.

Regards,
Santosh Mallena

On Mon, Mar 11, 2019 at 11:18 AM jakaruna-MSFT <notifications@github.com>
wrote:

[2019-03-11 06:02] ryandenkaat commented on #26654
Further to this I have sourced this error message in the Response headers when the blank page loads in:

AADB2C: A claim with id 'issuerUserId' was not found, which is required by ClaimsTransformation 'CreateAlternativeSecurityId' with id 'CreateAlternativeSecurityId' in policy 'B2C_1A_signup_signin' of tenant 'mytenant.onmicrosoft.com'.

It looks like in the latest version on GitHub the policy's

[2019-03-11 06:13] SumanthMarigowda-MSFT commented on #26455
@xuemind This may require a deeper investigation, so If you have a support plan, I request you file a support ticket, else please do let us know, we will try and help you get a one-time free technical support. In this case, could you send an email toAzCommunity[at]Microsoft[dot]com referencing this thread. Please mention "ATTN subm" in the subject field. Thank you for your cooperation on this matt

[2019-03-11 06:14] SumanthMarigowda-MSFT commented on #26355
@navin22 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-03-11 06:16] SumanthMarigowda-MSFT commented on #26420
@MS-Santi We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-11 06:16] #26420 closed

[2019-03-11 06:35] navin22 commented on #26355
Okay, You guys can close this. But Wanted to know when to use the AzCopy to migrate or your own solution using DML?

[2019-03-11 06:44] chanmmn opened #26682 "Where to paste all the json in Azure Data Factory"
Is there a step by step where can I insert those json code on this page into Azure Data Factory?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2e7af17-5daf-eebf-92b4-433eca93d328
* Version Independent ID: cce235ca-d882-4f70-cacc-b3c2c7feae13
* Content: [Copy data to/from SQL Server using Azure Data Factory](https://d

[2019-03-11 06:49] SumanthMarigowda-MSFT commented on #26390
@shudson302  The dependencies is for .NETFRAMEWork not for .NETCORE.
That's the reason you are facing this error!
![Capture](https://user-images.githubusercontent.com/44606021/54105004-b1c56e80-43f7-11e9-8b05-e4f3febe3b1a.PNG)

[2019-03-11 06:49] jakaruna-MSFT commented on #26507
@v-kydela If we follow the document, We should be able to create a windows VM without any issues.
If we want to change the OS version we can change that in Step 4 under "[Create virtual machine](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/quick-create-portal#create-virtual-machine)". Document speaks about creating a windows VM and it achieves that. I think doc update is not nee

[2019-03-11 06:50] ManojReddy-MSFT commented on #26148
@sujayvsarma What is the value you are passing in the  resource parameter in ADAL and MSAL token requests?

[2019-03-11 06:56] ryanpch commented on #24686
Hi there, I came across the same issue as well. Does it require Azure databricks premium to talk to Azure datalakes gen2 block storage? I've also tried to use secret and scope method in databricks to connect to the datalakes gen2 but I got an error message when creating the scope-secret on Azure databricks. The error message is 'Premium Tier is disabled in this workspace.' Based on all the comment

[2019-03-11 06:56] sujayvsarma commented on #26148
Always "https://management.core.windows.net/". I have also tried with "https://management.azure.com/" -- gives me exactly the same results as the "core" URL.

[2019-03-11 06:57] ChiragMishra-MSFT commented on #26356
@Anded  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory) or [stack overflow](https://stackoverflow.com/questions/tagged/azure-data-factory).

Once you post your issue on forums, it will have visibility across the community which is a better suited audienc

[2019-03-11 06:57] #26356 closed

[2019-03-11 06:57] KrishnaG-MSFT commented on #26641
Adding @bwren for visibility and document enhancement clarifications and considerations.

[2019-03-11 06:58] sujayvsarma commented on #26148
While this issue definitely needs to be resolved, given that Microsoft is recommending everywhere that MSAL is the way forward, I have since abandoned this approach (I have run out of "POC-time" in the project) and gone in a different direction for my authorization needs. Therefore, I can no longer provide you with code snippets, screenshots, etc.  If this information means that you leave the issu

[2019-03-11 07:10] Anded commented on #26356
@ChiragMishra-MSFT Shouldn't such behaviour be documented? I only figured it through trial and error.

[2019-03-11 07:13] CHEEKATLAPRADEEP-MSFT commented on #26682
@chanmmn  After creating the pipeline, on your right hand top corner; you will find the code.

![image](https://user-images.githubusercontent.com/44426401/54106075-061e1d80-43fb-11e9-8795-7f56bfcedd40.png)

Click on code to insert the JSON code and click on Finish.

![image](https://user-images.githubusercontent.com/44426401/54106144-3960ac80-43fb-11e9-83ce-52d8d7f4f3b7.png)

Hope this helps.

[2019-03-11 07:18] ChiragMishra-MSFT commented on #26356
@Anded It's expected that the response from the Web API endpoint is in JSON format and comes with a Status 200. Also, the output of an activity can be accessed by a subsequent activity once the activity completes execution by using an expression similar to this - activity(‘activityName’).output.

Hence, In your case, you might want to modify your function app to accomodate.

Here's a similar issue

[2019-03-11 07:26] ryandenkaat commented on #26654
This issue is blocking me from being able to get User's authenticating to my application using a customer's ADFS server. Any input would be appreciated.

[2019-03-11 07:30] RohitMungi-MSFT commented on #26345
@robert4os The code in [quickstart ](https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/quickstarts-sdk/csharp-analyze-sdk) specifies the features to return where **VisualFeaturesTypes.Brands** is not included, hence you are not able to view the returned brand name. Please include the same as mentioned below for the features to return.

[code]
In DisplayResults() you can pri

[2019-03-11 07:32] #26345 closed

[2019-03-11 07:39] kirthiroyadu commented on #16649
Please add in FCM related code changes too. There is unnecessary confusion about that. Would like for you to add in some notes about shifting from GCM to FCM for existing apps using the NotificationHub.

[2019-03-11 07:43] kirthiroyadu commented on #25735
I don't see an updated document with FCM related info.
Not sure about the reasoning behind closing this ticket without actually updating the doc.

[2019-03-11 07:52] dpapkin opened #26692 "Screenshots not current."
Please updated the screenshots ASAP, it is used in AZ100 course
Browse an event in the Activity Log
#2 screenshot different. need to select +Add Filter to Select Resource Group and Select myResourceGroup from dropdown

#4 is different also . Please update
Thank you.

David Papkin

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-03-11 07:55] dpapkin commented on #21062
@Karishma-Tiwari-MSFT . It5 still has not been fixed. This quickstart is being used in current Microsoft AZ100 class.

[2019-03-11 07:56] RJK23 commented on #25042
@mayurigupta13 Can you please provide brief in depth details about calculation of throuphput which is done internally as vhd size is 64 MB only. I am confused as how much time vhd is hitted on storage of 1 GiB.
@femsulu Please continue this discussion.

[2019-03-11 07:56] hihayak opened #26693 "setting for Log4J v1.2"
for "Add the appender to your logging framework"  of  "Log4J v1.2",  &lt;level&gt; should be there instead of &lt;priority&gt; ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c61a621d-efd0-94a1-386b-db00da932da5
* Version Independent ID: 797c2db5-9efd-fdf4-0b6b-cb3df7a31c83
* Content: [Explore Java trace logs in Azure

[2019-03-11 08:27] jankuc opened #26698 "Wrongly named settings in the article 'Create a pool in a virtual network'"
The article speaks of differences in creating pools in vnets in `Virtual Machine configuration` and `Cloud Services configuration`. I believe these are now named `User Subscription` and `Batch service` pool allocation modes. If this is true, it would be beneficial to fix this in the article as it is confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2019-03-11 08:41] jakaruna-MSFT commented on #26698
@jankuc Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-11 08:53] rydes commented on #21610
I agree. I've spent quite some time figuring it out.

[2019-03-11 08:53] wilsonchua20 commented on #23489
@erhopf the code i used:
    @WebMethod
    public void speechToText (){

         String subscriptionKey = "mysubscriptionkey";
         String url = "https://westus.stt.speech.microsoft.com/speech/recognition/conversation/cognitiveservices/v1?langauge=en-US&format=simple";
        OkHttpClient client = new OkHttpClient();
        try{
            File file = new File("filepath", "whatstheweather

[2019-03-11 08:54] DixitArora-MSFT commented on #26347
@NathanielRose  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-11 08:54] #26347 closed

[2019-03-11 09:10] RohitMungi-MSFT commented on #26578
@GaniLio Once you run the solution you need to enter the path to the image on your local computer. Here is a screen shot of the image i used and the output when I ran this quickstart.

Image used:
![image](https://user-images.githubusercontent.com/46958063/54111975-2c4bb980-440b-11e9-8709-9e769cf47adf.png)

Output from the API for the above image:
![image](https://user-images.githubusercontent.com

[2019-03-11 09:12] #26578 closed

[2019-03-11 09:20] Klaas- opened #26699 "Questions about data redundancy numbers"
Hi,
I would like to know a little more about the redundancy numbers; you seem to have different numbers on different pages for this.

This article states the following:

From my understanding a managed disk is always LRS storage (https://azure.microsoft.com/en-us/pricing/details/managed-disks/

And then there is this article:
https://docs.microsoft.com/en-us/azure/storage/common/storage-redundancy

[2019-03-11 09:20] xvercruysse opened #26700 "Prebuilt entities support in fr-fr culture"
In this documentation page, the PersonName prebuilt entity is shown as available for the French(France) culture. However, when in the Luis app that I created on eu.luis.ai, I cannot find  the personName prebuilt entity in the "Add prebuilt entity" section. Am I missing something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-03-11 09:28] subashsivaji opened #26701 "Gremlin API (Graph) support"
Could you please explicitly state whether it supports Gremlin API (Graph) or not?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c77b390-e483-d7d4-3ea8-813a296c9e89
* Version Independent ID: 3b1e6865-894e-9958-3e6d-4b04bf40e892
* Content: [Connect Apache Spark to Azure Cosmos DB](https://docs.microsoft.com/en-us/azure

[2019-03-11 09:29] YvonneArnoldus opened #26702 "The Results of Query by using an OData filter is incorrect"
It seems the PartitionKey and RowKey are swapped in the results. RowKey should be Ben and PartitionKey should be Smith.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69086594-0d9f-3413-ac83-690b95125002
* Version Independent ID: d6ae6180-ae9f-2fa0-bc36-adc658747001
* Content: [How to query table data in Azure Cosmos D

[2019-03-11 09:29] Freakling opened #26703 "camelcase for settings not supported"
Hi!

I tried to implement this but it did not work until I changed the case to Pascal case. There is an inconsistency of documentation.
It worked when implemented exactly as shown in the link below. Please update the documentation here.
https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-bindings#host-json

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-03-11 09:42] SnehaGunda commented on #23319
@CeciAc new is required in the code block. Did you test it without using that keyword and did the code sample work?

[2019-03-11 10:10] KalyanChanumolu-MSFT commented on #26701
Thank you for your interest in Azure products and services.
We are investigating and will get back to you soon.

[2019-03-11 10:14] DeeDab opened #26704 "EventGrid Structure"
Hello!

In my service i use EventGrid and i don't find answer for few questions:
EventGrid sends events in an array, judging from the documentation.
1. Could it be that 1 event will be VerificationEvent, and the remaining events of the desired topic
2. Can it be that in the array there will be both subDeleted events and the desired topic mixed in?
3. What are your recommendations for event validat

[2019-03-11 10:15] AlejoSQL opened #26705 "Internal Architecture"
Hi all: Is this content still valid/not-outdated? https://www.sigops.org/s/conferences/sosp/2011/current/index.html This was a presentation by Brad Calder .

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a056685-6734-380e-562c-92e30b8976a3
* Version Independent ID: 1d17cc5e-f2b1-5489-79fa-e8557fadc5b5
* Co

[2019-03-11 10:22] KalyanChanumolu-MSFT commented on #26702
Thank you for the feedback.
We are investigating and will get back to you soon. 

[2019-03-11 10:25] jakaruna-MSFT commented on #26699
Thanks for the question! We are investigating and will update you shortly.

[2019-03-11 10:32] bladegery commented on #26476
@shashishailaj Just sent the email.

[2019-03-11 10:42] naznaaa commented on #24444
hello @AshokPeddakotla-MSFT we have to connect esp32 and azure using x.509 certificate authentication by direct method communication in espidf . can you please provide a sample or document to refer

[2019-03-11 10:45] jssanta96 opened #26706 "Connect to SQL Server database on Azure through a proxy server"
I am looking to connect to my azure sql server (xxxx.database.windows.net), through the azure datacenter ip, I already established the mode of connection in proxy but it does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1a62365-4312-8aad-d2f1-bb5c4184adf1
* Version Independent ID: 2ba5b809-8025-d7ee-c756-d

[2019-03-11 10:48] KetanChawda-MSFT commented on #26703
@Freakling Thank you for providing the feedback. We will review and provide an update as appropriate ?

[2019-03-11 10:49] hkusulja opened #26707 "Explain how to trigger only once per month on last calendar day of month"
How to trigger on last calendar day of month (some months have 28days, sometimes 29, some 30 and some 31 days) ?

Explain what will happen on:
Start: 2019-01-31
Interval: 1
Frequency: Month

will it run on 2019-02-28 , or it will not be run in February at all ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9106dab-3f

[2019-03-11 10:49] jssanta96 commented on #26706
I am looking to connect to my azure sql server (xxxx.database.windows.net), through the azure datacenter ip, I already established the mode of connection in proxy but it does not work

[2019-03-11 10:54] SumanthMarigowda-MSFT commented on #26705
@AlejoSQL Thanks for your question. We are checking on this and will respond to you soon.

[2019-03-11 10:57] ManojReddy-MSFT commented on #26148
@sujayvsarma I understand. I do not intend to close this issue as long as you are engaged and have questions regarding this. Let's work together to see if this is actually a flaw in MSAL.

Ideally MSAL is used to communicate to the V2 endpoint and V2 endpoint accepts scopes instead of resource parameter. We should be sending  "https://management.core.windows.net/.default" as the scope parameter.

[2019-03-11 11:02] KetanChawda-MSFT commented on #26703
@cgillum As per the comment [here](https://github.com/MicrosoftDocs/azure-docs/issues/24256#issuecomment-460751878) I believe it should work for both `camelCase` and `PascalCase`. Can you please confirm?

[2019-03-11 11:12] AmanGarg-MSFT commented on #26706
@jssanta96 Can you please share the url of the document you are referring to?

[2019-03-11 11:14] SnehaAgrawal-MSFT commented on #26535
@KeiroKamioka0000 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-03-11 11:14] #26535 closed

[2019-03-11 11:15] jssanta96 commented on #26706
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-connectivity-architecture

[2019-03-11 11:17] sujayvsarma commented on #26148
Thank you @ManojReddy-MSFT.

Replies to your questions:

1. I don't control that. I am simply using the [MSAL SDK from NuGet](https://www.nuget.org/packages/Microsoft.Identity.Client/), with values set up from the "Endpoints" pane of Azure AD. I have tried appending "v2" in various ways ("oauth2/v2", "/v2" etc) but the SDK does not seem to like it.

2 & 3. I don't have the link anymore, but here i

[2019-03-11 11:17] AmanGarg-MSFT commented on #26707
@hkusulja Thank you for the question! We are investigating this and will get back to you shortly.

[2019-03-11 11:21] AmanGarg-MSFT commented on #26706
@jssanta96 Thank you for the question! We are investigating this and will get back to you shortly.

[2019-03-11 11:31] lucidhwee opened #26708 "Please correct the Site Recovery IP in the Korea South region."
Please correct the type of Site Recovery IP in Korea South region.
It shows "52.231.298.285" which is not available for a normal IP address range.
XML file of SiteRecovery IP also shows the same typo.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa423fbe-759a-16f7-ce8a-c46eeb416037
* Version Independent ID: 5e6271b8-

[2019-03-11 11:34] KetanChawda-MSFT commented on #26704
@DeeDab Thanks for posting your question. We will review this and provide an update as appropriate.

[2019-03-11 11:42] SadiqhAhmed-MSFT commented on #26692
@dpapkin Thanks for the feedback! We will assign this to the content owner to review further and update as appropriate.

[2019-03-11 11:47] SadiqhAhmed-MSFT commented on #26675
@anilripla Thanks for the comments. We are investigating this issue and will get back to you soon.

@v-miclar Could you please help here or get some traction from your team on this?

[2019-03-11 11:47] emardee opened #26709 "Suggested hotfix KB2386717 not available"
In the section on error 6329, it suggests needing hotfix KB2386717. However clicking that link says the hotfix is no longer available to download. This is very annoying as I need that very hotfix. Hoping there is another workaround to get Password Writeback working on SBS2008. At the least this article might need updating...

eg this section:
 
--
6329 | MMS(3040): admaexport.cpp(2837): The server

[2019-03-11 11:50] SadiqhAhmed-MSFT commented on #24762
@Sat0rN What do you mean by ‘backup job has been deleted’? Not sure when and how the backup job gets deleted but even if it were to get deleted, your backups will remain intact.

For throttling, I guess you are referring to this [question](https://docs.microsoft.com/en-us/azure/backup/faq-backup-sql-server#can-i-throttle-the-backup-speed).

**‘DefaultBackupTasksThreshold’** number refers to the ma

[2019-03-11 11:51] SnehaAgrawal-MSFT commented on #26604
@Potapy4 Thank you for raising PR with the changes, much appreciated.
@carehart A request with URL changes has been made and will push after its been reviewed by the author.

[2019-03-11 11:54] RohitMungi-MSFT commented on #26700
@xvercruysse Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-03-11 12:14] SadiqhAhmed-MSFT commented on #26708
@lucidhwee Thanks for the feedback! We will assign this issue to the content owner for further review and update as appropriate.

@sujay @asgang Could you please check the doc and update as needed?

[2019-03-11 12:18] AmanGarg-MSFT commented on #26709
@emardee Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-03-11 12:23] jakaruna-MSFT commented on #26250
@atullalwani is there any update

[2019-03-11 12:26] m60freeman commented on #25415
This change has not appeared in the publicly visible page. I see it on https://docs.microsoft.com/en-us/azure/sql-database/sql-database-vcore-resource-limits-single-databases, but not on https://docs.microsoft.com/en-us/azure/sql-database/sql-database-dtu-resource-limits-single-databases.

[2019-03-11 12:30] emardee commented on #26709
Great. I've also got a ticket open in Azure Portal (SSPR feature) for alternatives to that hotfix. If they reveal any workaround, I'll share it back here for updating this document.

[2019-03-11 12:33] CeciAc opened #26710 "The host name hello_world.azurewebsites.net is invalid."
@BujarMurati commented on [Fri Mar 08 2019](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/264)

Following the tutorial returns the error in the title after the command:
 az webapp up -n hello_world

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: 0077a811-b0b7-93b1-80b0-a4d4561

[2019-03-11 12:37] CeciAc commented on #26710
Hi team,
I'm moving this here since the contributor is reporting an error in the example
best

[2019-03-11 12:41] AjayKumar-MSFT commented on #25735
@kirthiroyadu, Thank you for checking back on this. Kindly check these #22763, #23360, #24212 issues. It's been tracked internally. @jwargo, requesting your insights on this ask further.

[2019-03-11 12:48] brettsam commented on #26591
Additional info -- this key is mentioned here as well, so it should probably be cross-linked: https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring#enable-application-insights-integration. Although that doc mentions using the portal to wire-up the key, which does not seem to be possible right now with Linux. Maybe a note needs to be added there as well?

[2019-03-11 12:55] sergaz-msft commented on #19946
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-11 12:55] #19946 closed

[2019-03-11 12:58] jakaruna-MSFT commented on #26584
@sayash After updating the service principal credentials or changing the service principal, You need to update the AKS to make use of the new service principal.
You can use this [command](https://docs.microsoft.com/en-us/azure/aks/update-credentials#update-aks-cluster-with-new-credentials) or the [API](https://docs.microsoft.com/en-us/rest/api/aks/managedclusters/resetserviceprincipalprofile) to d

[2019-03-11 13:22] AjayKumar-MSFT commented on #26653
@masters3d,
Thank you for raising this question!
If I have understood you correctly - As mentioned in this blog - https://azure.microsoft.com/services/biztalk-services/ - BizTalk Services is no longer available to new customers and was retired entirely on 31st May 2018.

The Hybrid Connections (HCs) enables bi-directional, binary stream communication and simple datagram flow between two networked

[2019-03-11 13:39] JRiggenbach opened #26712 "Any Limitations while in Preview?"
Is there currently a max on the amount of transaction/requests with this feature while in preview?  I have a policy to delete any blob in my container that is older than 90 days.   There is a folder structures that ultimately breaks down to a folder per day, which each folder should hold 3million+ blobs.  When the policy runs, its seems to cap out around 300K requests, which is far below what shou

[2019-03-11 13:40] CeciAc opened #26713 "Size when partitioning is vague"
@tomkuijsten commented on [Mon Mar 11 2019](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/231)

This statement:

"Service Bus creates 16 copies (16 partitions) of the entity for each GB you specify."

Conflicts with the next line:

"As such, if you create a queue that's 5 GB in size, with 16 partitions the maximum queue size becomes (5 * 16) = 80 GB."

I might read it wrong, but if ther

[2019-03-11 13:41] CeciAc commented on #26713
Hi team,
I'm moving this here since the user is reporting an inconsistency in the documentation
best

[2019-03-11 13:47] Taharez opened #26714 "New-AzureRmServiceFabricCluster creates KeyVault without access permissions and fails"
When running the first powershell sample "Use the default cluster template that ships in the module
" the KeyVault created does not have any access permissions which causes the cluster setup command to fail: "New-AzureRmServiceFabricCluster : 2:22:54 PM - System.AggregateException: One or more errors occurred. ---&gt;
Microsoft.Azure.KeyVault.Models.KeyVaultErrorException: Operation returned an in

[2019-03-11 13:48] the-grayest opened #26715 "Not every code box/command box in this article required for "Try It" button"
For example, all related to in-VM commands:
sudo apt-get -y install stress
sudo stress --cpu 10 --timeout 420 &

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13e5e0df-cbd8-63d6-1c96-5da43aff04c4
* Version Independent ID: d04e7ecd-f77e-16c5-f470-2f604cbd713a
* Content: [Tutorial - Autoscale a scale set with Azure templ

[2019-03-11 13:53] SumanthMarigowda-MSFT commented on #26355
@navin22 This article provides different option on Azure solution for data transfer
https://docs.microsoft.com/en-us/azure/storage/common/storage-choose-data-transfer-solution

[2019-03-11 13:54] masters3d commented on #26653
Got it. I am still unclear how I can replicate the HCM Hybrid Connection Manager on the host with out using App Service. My usecase is exactly what BizTalk was targeting so I’d like to know how to replicate since it was retired. I downloaded HCM exe but it’s not usable without being able to configure it on the portal. Do you have a sample of the code needed to configure something similar to HCM on

[2019-03-11 14:00] metin commented on #18995
I am having the same issue. Followed the tutorial, added firewall role and all. But no luck.

[2019-03-11 14:00] AjayKumar-MSFT commented on #26710
@CeciAc, Thank you for moving this request.
@BujarMurati, The "_" character is not supported in the WebApp name, hence the reason for this error.
![image](https://user-images.githubusercontent.com/44606227/54128880-076b3c80-4433-11e9-9fcb-83c856706150.png)

You could provide any other name without underscore ("_") special character (however, a hyphen ('-') is allowed in the app name), for example

[2019-03-11 14:02] erenik commented on #26478
Hi, it is related to the guide here, which only documents az cli commands. I was wondering if the same support exists for ARM templates. https://docs.microsoft.com/en-us/azure/aks/cluster-autoscaler#enable-the-cluster-autoscaler-on-an-existing-aks-cluster

I am currently trying to enable VMSS with the AKS deploy, but guess I am missing something for the agentPoolProfiles section.

[2019-03-11 14:07] cephalin commented on #25739
@btardif Can you assist here?

[2019-03-11 14:10] shashishailaj commented on #26654
@ryandenkaat Thank you for your query . We will have this investigated and update the thread accordingly.

[2019-03-11 14:14] gnanap commented on #21125
@yanivfi, I second your point. using function app, will it fall in server-to-server flow? will microsoft block after trying n numbers of post request?

We are really looking for solution for CORS issue. Any ETA on this?

[2019-03-11 14:14] Raviafkumar commented on #26190
Hi , I just want to highlight that I used jdbc driver provided in Microsoft and I was able to load the data in azure sql db  .
I also want to  highlight the piece of code written on this page to load data in azure sql  .
Please see the url in below pic . usually when we connect any program like java we use url which has server name ,user name , password etc . however in below pic we are not specif

[2019-03-11 14:15] bramvdklinkenberg opened #26716 "Missing (or cannot find) docs"
In the part of "Use a trusted registry" there is this text:
For additional security, you can also digitally sign your container images just like you can digitally sign your application code. You then only permit AKS to deploy signed images.

But I cannot find any documentation on how to set this configuration on AKS on how to only allow signed images from ACR.
Hope you can help me out with this.

[2019-03-11 14:15] kulukamal commented on #22945
yes i have tried.it's giving same exception .

[2019-03-11 14:18] jaketf95 opened #26717 "Download links don't work"
When you click the update links they direct to an error page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 601aaca4-89f2-59e9-78b3-46ff1f7320c1
* Version Independent ID: 88e4204c-1e22-3378-eb5e-1ebe7169454d
* Content: [Client libraries required for connecting to Azure Analysis Services](https://docs.microsoft.com/en-

[2019-03-11 14:23] codyrat opened #26718 "Recovery URLs not included in US Government IP Ranges or Service Tags"
The following URLS IP addresses are not published within the US Government IP Ranges Service Tags document. https://www.microsoft.com/en-us/download/confirmation.aspx?id=57063

USDoD East pod01-rec2.ude.backup.windowsazure.us
USDoD Central pod01-rec2.udc.backup.windowsazure.us
USGov Virginia pod01-rec2.ugv.backup.windowsazure.us
USGov Texas pod01-rec2.ugt.backup.windowsazure.us
USGov Arizona pod01

[2019-03-11 14:23] cgillum commented on #26703
Yes, it should work for both Pascal and camel case.

[2019-03-11 14:35] eross-msft commented on #26588
@pyoungberg  I went ahead and updated the My Profile - Devices article with this information. You should see it go live at some point later today.

[2019-03-11 14:43] Blackmist commented on #25181
This update has been checked in and will be published later today. #please-close

[2019-03-11 14:44] anwarmahmood1 opened #26720 "If you set authentication data through PowerShell, is it visible to all?"
If you populate on premises Active Directory and synchronise [quote]"The synced data is made available to Azure AD and..." [quote], I am assuming office phone and mobile phone are visible to all, for example using the Outlook address book or Graph.  This is undesirable.

If I follow instructions in "Set and read the authentication data through PowerShell", then will this information be visible to

[2019-03-11 14:46] panoschatz opened #26721 "Template Validation Failing"
Amending this, as I put the snippet in the correct place, but now get the below error:

[code]
It's not exactly helpful..

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8f43189-3418-fd30-0528-550157d8366d
* Version Independent ID: 049e3b0e-6f10-6985-c719-05fe43fc00b8
* Content: [Automatically enable diagnostic setting

[2019-03-11 14:47] BharathNimmala-MSFT commented on #26693
@hihayak  Thank you for your feedback, we are looking into this and will get back to you shortly.

[2019-03-11 14:48] panoschatz commented on #15201
Hi,

has anyone managed to overcome this issue? I'm getting the same problem as the original one raised. Trying to configure NSG diagnostics logs to a Storage Account.

Deployment template validation failed: 'The template resource 'Microsoft.Insights/nsgtest' for type 'providers/diagnosticSettings' at line '1' and column '5997' has incorrect segment lengths. A nested resource type must have identi

[2019-03-11 14:49] Blackmist commented on #18901
@salperwy and @csalperwyck thanks for the feedback and I apologize for the long delay in resolving this. The documentation has been updated to state that we require AKS 1.11.##, and that the cluster also requires at least 12 virtual cores. I've verified with the engineering team that Azure Machine Learning service supports AKS 1.11 versions. If you receive errors using this version still, please c

[2019-03-11 14:52] Expecho opened #26722 "How about Sql Server Elastic Pool"
Does managed identities apply to database in a SQL Database Elastic Pool as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31b0d33c-f88e-d50c-2926-7933940f3b92
* Version Independent ID: 4aaef906-f501-6947-5d23-1b704470f09d
* Content: [Secure SQL Database connection with managed identity - Azure App Service](https

[2019-03-11 15:04] jflieben opened #26723 "Bug with already removed licenses"
I'd like to report a bug when using Group based licensing:

1. assign license to tenant (through CSP)
2. assign license to group
3. make a user a member
4. remove license from tenant (through CSP)
5. wait until the license is fully gone
6. view group in AzureAD portal, following error will result:
![image](https://user-images.githubusercontent.com/1587420/54133784-f7456400-4416-11e9-8e1b-b7af7d5fc

[2019-03-11 15:07] msangapu commented on #21610
Hi @guillermoarellano Thank you for your feedback. The sample used here does not require npm install or npm start. Custom deployment script information can be found here: https://github.com/projectkudu/kudu/wiki/Custom-Deployment-Script

@guillermoarellano @rydes Would it be helpful to link to custom deployment from this article?

[2019-03-11 15:13] atullalwani commented on #26250
@jakaruna-MSFT : Thank you for the information. We can close this thread. Please do notify me once manual snapshots are made available. I have upvoted in the above link. 👍

[2019-03-11 15:13] #26250 closed

[2019-03-11 15:17] ritul51 commented on #22723
Please give scripts to create schema in sink.

Create corresponding table schemas in SQL Data Warehouse. You can use Migration Utility to migrate schema from Azure SQL Database to Azure SQL Data Warehouse. You use Azure Data Factory to migrate/copy data in a later step.

[2019-03-11 15:20] PatMyron opened #26724 "Emit used capacity metric per container"
It'd be nice if used capacity metrics were emitted per container in addition to per storage account, so granular capacity usage data could be quickly seen from the portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88dabf76-bd53-0581-5b33-f90c85462bd1
* Version Independent ID: 1b82ca05-8b26-c823-3810-8cb6bccfd361
*

[2019-03-11 15:22] mswilson4040 commented on #26497
This was more around getting the documentation fixed rather than a support question. Thanks for the clarity on the format change between v1 and v2, but I think what closes this ticket is a fix to the documentation (or stating the difference between the two)

[2019-03-11 15:23] dominicbetts commented on #25635
Hi @ericloeliger - I'm going to request that this issue is closed. Please feel free to reopen it if you encounter any further mismatches. Thanks for taking the time to report the original issue.

#please-close

[2019-03-11 15:35] YASWANTHM-MSFT commented on #26724
@PatMyron , Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-03-11 15:44] RohitMungi-MSFT commented on #25181
@Blackmist Thanks for the update. @letmaik The requested changes will be published in azure docs later today. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-11 15:45] #25181 closed

[2019-03-11 15:51] jofrance opened #26725 "There's no information for Packages required by ADE for Linux"
Please add the list of packages required for ADE to work in case those need to be manually downloaded and installed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fced1c4-261e-91b2-6756-766304dd0739
* Version Independent ID: 7a561a07-b166-e2de-bba6-8ce5828e9382
* Content: [Enable Azure Disk Encryption for Linux IaaS

[2019-03-11 16:12] MicahMcKittrick-MSFT commented on #26714
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-11 16:12] RyanHill-MSFT commented on #26393
@danobri TIFF images are supported. Uploaded images get converted into JPGs. If the TIFF image contains multiple pages, multiple JPGs are created (one per page).

[2019-03-11 16:12] #26393 closed

[2019-03-11 16:13] MicahMcKittrick-MSFT commented on #26716
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-11 16:13] MicahMcKittrick-MSFT commented on #26715
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-11 16:14] kvlopez1 commented on #15201
@panoschatz in my experience this error happens when you have a nested resource and might be missing a resource. For example, your type is providers/diagnosticSettings then you might be missing the providers resource. I've also experience this error if you have a resourceId() and you're not specifying the right resources such as subscription/resourceGroup/resourceName/nestedResource. Hope this hel

[2019-03-11 16:15] ijabit commented on #24460
@SnehaGunda were you able to get a response?

[2019-03-11 16:16] danobri commented on #26393
Thanks for confirming.  So will you be updating the documentation?  https://docs.microsoft.com/en-us/azure/search/cognitive-search-skill-ocr#feedback

[2019-03-11 16:22] sdgilley commented on #25947
We are adding a new article to better explain the functions of a workspace.  This article  is in our documentation plan and will be published sometime within the next 45 days.

#please-close

[2019-03-11 16:25] RyanHill-MSFT commented on #26393
@danobri Yes, the documentation will be updated.

[2019-03-11 16:27] jessenguyen7 commented on #26714
I ran into the same issue on Friday (3/8/2019).

Also, the PowerShell sample initializes two variables ($vaultName="myvault" and $vaultResourceGroupName="myvaultrg") but doesn't pass it into the New-AzureRmServiceFabricCluster command causing the Key Vault name to be called "mycluster" and doesn't create a separate resource group for the Key Vault.

[2019-03-11 16:28] CarlRabeler commented on #9118
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-import#limitations
Are you referring to this limitation?

[2019-03-11 16:29] ajlam commented on #25361
@roelal, I will keep you posted on this thread with deployment updates.

Closing this issue for now. #please-close

[2019-03-11 16:30] Diro92 opened #26729 "Welcome Message"
is there a way to send a welcome message in the Qna Implementation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f45d867c-c72a-c619-b58a-777ff5f8c5c1
* Version Independent ID: e0f90b85-14bb-0925-c50b-b1d31dd9388a
* Content: [QnA bot - Azure Bot Service - QnA Maker - Azure Cognitive Services](https://docs.microsoft.co

[2019-03-11 16:32] jwargo commented on #25735
@kirthiroyadu sorry about that, I just decided to close the open issues rather than just keep them open. We're knee deep in refreshing the SDK and the docs, so there's no way this work isn't being completed. Right now, Notification Hubs doesn't care about the two services, we handle everything under the covers, as soon as the SDK refresh happens (which should be soon) then you'll be good.

[2019-03-11 16:33] CarlRabeler commented on #26626
This reference content shows support for copy into an elastic pool - are you saying that it does not work ? https://docs.microsoft.com/en-us/powershell/module/az.sql/new-azsqldatabasecopy

[2019-03-11 16:33] MicahMcKittrick-MSFT commented on #26715
@the-grayest That's a fair point.

I will assign to the author to review.

[2019-03-11 16:34] cyberswimmer opened #26730 "document needs rewrite..."
Document needs rewrite given (a) modern Azure Key Vault BYOK APIs and availability of the CipherTrust Cloud Key Manager from Thales and (b) the divestment of the nShield HSM product family from Thales.  Please email me to discuss how to rewrite the document. BYOK is highly simplified with CipherTrust Cloud Key Manager relative to nShield.

I am Eric Wolff, Senior Product Marketing Manager at Thale

[2019-03-11 16:35] MicahMcKittrick-MSFT commented on #26615
@rierjarv good find.

@laurenhughes can you take a look? Doesn't seem right we have the same thing listed twice with different explications. So I am assuming a simple error was made in this doc.

[2019-03-11 16:35] danobri commented on #26393
Thank you!

[2019-03-11 16:38] angusmack commented on #26717
Me too! Where can we get this?!?

[2019-03-11 16:42] pwen090 commented on #11104
Clearing KnownNetworks and KnownProxies is bad for security. How do we programmatically get the right addresses to use with Azure App Service for Linux?

[2019-03-11 16:53] MicahMcKittrick-MSFT commented on #25771
@amandadebler checking in on this

[2019-03-11 16:56] diberry commented on #26263
@srilekha82 Thank you for reporting this issue. The service team confirmed the issue and will release a fixed container early next week. #please-close

[2019-03-11 16:59] #25947 closed

[2019-03-11 17:00] CHEEKATLAPRADEEP-MSFT commented on #26717
@jaketf95 Thanks for reporting this issue. I have assigned the issue to the content author to review further and update the document as appropriate.

@Minewiskan When I click on download, gives the following error message:

![image](https://user-images.githubusercontent.com/44426401/54142160-25459b00-444d-11e9-9ce7-22c28ee4c627.png)

[2019-03-11 17:01] RyanHill-MSFT commented on #26722
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-11 17:02] Karishma-Tiwari-MSFT commented on #26383
@mmisztal1980 Any update? Please check your Azure CLI version and update it to the latest.

[2019-03-11 17:03] #26349 closed

[2019-03-11 17:06] way2arun commented on #23320
@msrini-MSIT I have sent you the arm template thanks

[2019-03-11 17:07] PatrickFarley commented on #22945
@lebronJ , Can you help us with this? User is getting a 'not found' exception on the Face detect method call in the .NET SDK. Do you know what the 'not found' exception means?

[2019-03-11 17:12] reneschulte commented on #26617
Same here. I tried it myself with an empty identifier array and get the same result although it should actually provide me all anchors.

[2019-03-11 17:12] ajlam commented on #18995
@metin, is the error message the same as the original poster's? Also, is SSL enabled or disabled on the server?

[2019-03-11 17:14] gaurav5430 opened #26731 "confusing language in HTTP probe section"
"HTTP / HTTPS probes can also be useful if you want to express health probe. implement your own logic to remove instances from load balancer rotation if the probe port is also the listener for the service itself."

I am still confused as to what this means exactly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e1e7cb

[2019-03-11 17:15] SumanthMarigowda-MSFT commented on #26712
@JRiggenbach Thanks for your question. We are checking on this and will respond to you soon.

[2019-03-11 17:15] mattbriggs commented on #25926
@raluca256 I think you are pointing to a file share that you have defined. Do you mean do you want to know the IP address of the server hosting the IBC service?

[2019-03-11 17:18] gaurav5430 opened #26732 "Out of the box support for load balancing based on CPU usage"
In the HTTP probe section, it is vaguely mentioned that we can host a custom script on the health probe endpoint which checks for the CPU usage, and returns a non 200 status to deregister that instance from the Load Balancer.

Are there any links to get more information about whether or not an our setup needs this? Do scale sets have a role to play in this? Any pointers to concrete implementations

[2019-03-11 17:19] RyanHill-MSFT commented on #26057
Hi @dmarlow, are your two App Services under the same app service plan? If not, both web jobs should be within the same plan in order to share outbound IPs.

[2019-03-11 17:21] AmanGarg-MSFT commented on #26723
@jflieben Can you please provide the url of the document you are referring to?

[2019-03-11 17:21] matdarMsft commented on #24002
Assuming I understand your question, the appropriate header for sending the token is "Authorization" with value "Bearer <your token here>"

Please let me know if you have additional questions.  Thanks!

[2019-03-11 17:23] jeffmartinxyz opened #26733 "Error: failed to download "install/kubernetes/helm/istio" (hint: running `helm repo update` may help)"
Am I missing a prerequisite?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68b5d00d-529b-a8be-47bf-773c967f0e72
* Version Independent ID: 0cf044ef-b26f-a8fa-213f-1e3fffaf53d6
* Content: [Install Istio in Azure Kubernetes Service (AKS)](https://docs.microsoft.com/en-us/azure/aks/istio-install)
* Content Source:

[2019-03-11 17:25] Minewiskan commented on #26717
@jaketf95 - Thanks for contributing. This issue has been resolved.
#please-close

[2019-03-11 17:25] tchristiani commented on #6595
The request for sample code in Java Android has been added to our backlog.
This issue is closed.

[2019-03-11 17:26] dlstucki commented on #26653
This is effectively the V2 of BizTalk Hybrid Connection Manager:
https://docs.microsoft.com/en-us/azure/app-service/app-service-hybrid-connections

[2019-03-11 17:28] Placid7 opened #26734 "Just-In-Time service tag"
Which service tag can I use to allow Just-in-time without opening up my NSG to all internet traffic?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25f0758b-8274-d2b5-4702-2c7ca6b0b14a
* Version Independent ID: d1215107-abf9-fefd-a63b-b20ec3f7f744
* Content: [Just-in-time virtual machine access in Azure Security Center

[2019-03-11 17:30] #26575 closed

[2019-03-11 17:31] #26483 closed

[2019-03-11 17:32] Karishma-Tiwari-MSFT commented on #21062
@femsulu Looks like this doc has not been updated. Do you know who is the right person to update this doc?Thanks. :)

[2019-03-11 17:34] mike-urnun-msft commented on #26713
Hi @CeciAc Thank you for your feedback! We will review and update as appropriate.

[2019-03-11 17:35] dmarlow commented on #26057
No, these are separate. I'm curious if I can retain a set of IPs when moving. Looks like it's only possible using ASE, but that's prohibitively expensive.

[2019-03-11 17:35] YutongTie-MSFT commented on #26263
@srilekha82
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-03-11 17:35] #26263 closed

[2019-03-11 17:36] YutongTie-MSFT commented on #26729
@Diro92
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-11 17:38] RenaShahMSFT commented on #25755
#sign-off

[2019-03-11 17:40] v-kydela commented on #26507
@jakaruna-MSFT - I wasn't able to figure out what to do based on the document, so I still think the document should be updated to reflect what you've told me

[2019-03-11 17:41] YutongTie-MSFT commented on #23489
@wilsonchua20 We'd like to work with you further on this issue. Can you please email us at azcommunity@microsoft.com? Please provide us with your subscription ID and the URL for this thread.

[2019-03-11 17:41] #26219 closed

[2019-03-11 17:42] Norrch2 opened #26735 "Protocols?"
Hello,

Does the RelyingParty have different protocols for Technical Profile element than what the Technical Profile actually supports?

For example,

According to this document the technicalprofile element only supports SAML2 or OpenIDConnect. However, when I Go to the technical profile page https://docs.microsoft.com/en-us/azure/active-directory-b2c/technicalprofiles it shows that the supported

[2019-03-11 17:43] MartinJaffer-MSFT commented on #26114
I see...  This is troubling.  What web browser are you using?  Can you try other browsers?
You are correct, the preview is unrelated.  To me, it looks like the web elements are not populating on the page.
Chrome is the recommended browser.

[2019-03-11 17:43] david-mcgillicuddy-ovo commented on #9278
Hi, we're still having this issue after the change. You run `dice_device_enrollment`, register the generated cert as an individual enrollment and then run `prov_dev_client_sample` and everything is fine.

However it's not at all clear how to use a cert which has already been generated (and so use a group enrollment). With the IoT client sample you can use `IoTHubDeviceClient_LL_SetOption` with `OP

[2019-03-11 17:44] awormasi opened #26736 "Where does port 19000 come from?"
In this example, where does port 19000 come from? The only port mentioned is 8080 but the screenshot shows 19000. Not following ...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 089974a0-7387-0266-d499-362153ed2851
* Version Independent ID: f3a0c273-e276-6eab-9a24-e4b0603274e4
* Content: [Deploy a Service Fabric app t

[2019-03-11 17:45] mmisztal1980 commented on #26383
My version was `2.0.32` I'll update and check once I land (in transit now)

[2019-03-11 17:45] furmangg opened #26737 "tempdb for Gen2"
The docs say "399 GB per DW100. Therefore at DWU1000, tempdb is sized to 3.99 TB." But I think that's only correct for gen1. My Gen2 notes say 2TB of tempdb space per node (which is per DW500c). I'm not 100% sure my notes are accurate, so I would confirm that with someone on the DW team. Then please do update the docs with the correct Gen2 number.

---
#### Document Details

⚠ *Do not edit this se

[2019-03-11 17:51] MarileeTurscak-MSFT commented on #26720
@anwarmahmood1
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-11 17:52] joninmoz opened #26738 "Insufficient Free Space Issue - CentOS 7?"
I have a Centos 7 vm that has 1 32 gb hard drive. When I try to replicate it, I get the following message. It says I need 2 tb of free space on the new drive to complete the replication:

Error ID151111
Error Message: Insufficient free space available on the root partition(/). Ensure that there is at least 2097152 MB free space available on the root partition before you try to protect the virtual

[2019-03-11 17:53] brettsam commented on #21130
`NullScope` is an empty `IDisposable` that appears to have been made internal in Microsoft.Extensions.Logging 3.0 beta: https://github.com/aspnet/Extensions/pull/502#issuecomment-439570310. You can see the implementation here: https://github.com/aspnet/Extensions/blob/master/src/Logging/shared/NullScope.cs. .NET doesn't have anything like this built-in so we were using this in the sample.

We may

[2019-03-11 17:53] gaurav5430 opened #26739 "Accessibility Problems with Content Feedback links"
This is not an issue with the documentation. This is a technical issue with the tab panel that appears when a user clicks on "Content Feedback" .

The links on the tab panel seem like buttons, which can be interacted with to display the issue details.
The tab panel seems to contain links with `role="button" `, these links do not work when Space bar is pressed.
For complying with `role="button"` th

[2019-03-11 17:55] mmisztal1980 commented on #26383
Verified to work with the lastest Azure CLI, thanks guys, sorry about the inconvenience

[2019-03-11 17:55] #26383 closed

[2019-03-11 17:55] gaurav5430 commented on #26739
This is also true for the links in the tab titles

[2019-03-11 17:57] BryanTrach-MSFT commented on #26057
No, retaining IPs when moving your web apps is not possible at this time. You will need to either maintain your environment to have two seperate IPs or prepare to relocate both web apps into the same App Service Plan where you can set a static IP by using an IP based SSL binding. You would need to prepare for both apps to have their IPs changed during this process.

We will now proceed to close th

[2019-03-11 17:57] #26057 closed

[2019-03-11 18:06] eguman opened #26740 "ca-cert needs to be replaced with cert-signed"
The last command in the Server setup script is duplicate:

keytool -keystore kafka.server.keystore.jks -alias CARoot -import -file ca-cert -storepass $SRVPASS -keypass $SRVPASS -noprompt

ca-cert needs to be replaced with cert-signed:

keytool -keystore kafka.server.keystore.jks -alias CARoot -import -file cert-signed -storepass $SRVPASS -keypass $SRVPASS -noprompt

---
#### Document Details

⚠ *D

[2019-03-11 18:08] ggailey777 commented on #25802
@ScotiaB Sorry for your inconvenience, but we currently don't have .NET-style reference documentation for the WebJobs SDK. This is a known content gap that we are tracking internally ([1473268](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1473268)). I will add a link in the article to the source code for this v2.x class, which you can find [here](https://github.com/Azure/azure-webj

[2019-03-11 18:11] SaurabhSharma-MSFT commented on #26734
@Placid7 Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-11 18:11] SaurabhSharma-MSFT commented on #26730
@cyberswimmer Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-11 18:12] SaurabhSharma-MSFT commented on #26725
@jofrance Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-11 18:16] MicahMcKittrick-MSFT commented on #26408
@brent-robinson doesn't look like anything is in the works yet.

Assigning to @dkkapur to provide further insight when he has it.

[2019-03-11 18:19] suhuruli commented on #8508
I will close this since the PR was merged.

[2019-03-11 18:20] suhuruli commented on #8508
@MicahMcKittrick-MSFT , looks like i can't close this. Can we close it now?

[2019-03-11 18:25] suhuruli commented on #11396
@git-heath and @radderz can you guys confirm if this is fixed now? We did update the documentation.

[2019-03-11 18:27] hahazeMSFT opened #26741 "Installing VMAgent"
Page needs a complete make over but the must **important** change is to update the `AllowExtensionOperations` option after manually installing the VMAgent on a VM that was deployed **from image** without `ProvisionVMAgent` enable.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab75f449-661d-bd1e-3ebd-61e2384a91

[2019-03-11 18:28] MarileeTurscak-MSFT commented on #26079
Hi @FabianGCZ ,

The reason you are having this issue is because this needs to be done with a user account and not a service principal. @prashanthyv is adding a note in the document to clarify this.

[2019-03-11 18:28] MicahMcKittrick-MSFT commented on #26714
@Taharez @jessenguyen7 I just ran through the power shell example modifying it with my own resource names and it worked as expected.

[code]

![image](https://user-images.githubusercontent.com/32313503/54146916-3f03c580-43ee-11e9-95ed-ec8a065e7015.png)

Using just the example as written with the exception of changing the DNS name as it is already taken

[code]

I see a vault is created called myva

[2019-03-11 18:28] #26204 closed

[2019-03-11 18:29] xuemind commented on #26455
@SumanthMarigowda-MSFT The page works correctly now. I can check the code it has been updated as following.
[code]

[2019-03-11 18:30] MicahMcKittrick-MSFT commented on #26733
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-11 18:30] Karishma-Tiwari-MSFT commented on #26383
@mmisztal1980 Glad to know that it worked out for you.

[2019-03-11 18:35] MicahMcKittrick-MSFT commented on #26736
@awormasi port 19000 in Service Fabric Clusters is the default connection endpoint used to deploy services. So whenever you push a new application to SF from Visual studio for example, you send the request to the SF cluster name such as mytestcluster.southcentral.cloudapp.azure.com and add connection endpoint that will take the app and allow you to publish that application

The same is true for th

[2019-03-11 18:36] MicahMcKittrick-MSFT commented on #26741
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-11 18:42] hmayer1980 commented on #26114
"I tried Chrome because ADF V2 experience is not running on IE or FireFox (I do use an Azure Windows Server VM)."

[2019-03-11 18:42] #8508 closed

[2019-03-11 18:44] t-eckert commented on #20842
@mike-urnun-msft, it looks like this may have been forgotten about? I am using this page to run a lab at PyCon and writing updated documentation for the lab. If I get a chance today I may make a PR to do the update. Is that cool?

[2019-03-11 18:48] awormasi commented on #26736
Thank you!

[2019-03-11 18:48] MashaMSFT commented on #18595
Hi @mcurko , it's been some time so we'll have to assume the tutorial is resolved and close out this Git Issue. However, please feel free to comment should you need anything further, and thanks again for notifying us of this! #please-close

[2019-03-11 18:51] MicahMcKittrick-MSFT commented on #26736
If you look at your Service Manifest as well you can see all the default ports that get setup and what they are for :) Just let me know if you have any further questions.

[2019-03-11 18:51] #26736 closed

[2019-03-11 18:51] BujarMurati commented on #26710
Thanks for the response.

Since _ is not a valid character, I suggest to change the example code:

to something like

since the underscore in the placeholder suggests that underscores are valid.

https://docs.microsoft.com/de-de/azure/app-service/containers/quickstart-python#feedback

[2019-03-11 18:52] MartinJaffer-MSFT commented on #26114
![image](https://user-images.githubusercontent.com/46612670/54149353-2518b180-43f3-11e9-9b0e-471439061c80.png)
Well, good news is, I think I know which element is responsible.  I highlighted the element in this picture while using Chrome developer tools.
If I understand you correctly, you are using a remote desktop, on a VM of Azure WIndows Server, to access the Azure Portal and Data Factory V2.
I

[2019-03-11 18:58] mattbriggs commented on #25926
#please-close

[2019-03-11 18:59] mattbriggs commented on #26511
@cregnierThanks. I've added the new folders to the variable for both the Azure AD and AD FS examples. #please-close

[2019-03-11 18:59] banisadr commented on #26704
Hi DeeDab,

All great questions, let me see if I can help clarify:

We will always send the ValidationEvent on its own. You won't event have it mized in with the other events from the topic.

This is the same as 1, you won't recieve the deletion event mized in with other events from the topic.

There is no "one size fits all" answer here. For background, as far as the Event Grid backend is concern

[2019-03-11 19:00] shudson302 commented on #26390
Ok, so the sample code will only work with full .net framework?  Is there another sample that works with .net core?

[2019-03-11 19:07] SaurabhSharma-MSFT commented on #26576
@Placid7 You do not need to create any alerts.  If you are on boarding Azure Security Center to Sentinel then all the alerts created by Security Center will be streamed into Azure Sentinel. You can get the results on various dashboards and you can click on log Analytics Image ![image](https://user-images.githubusercontent.com/38112130/54150590-08ca4400-43f6-11e9-9709-b13f073c22d6.png) to edit the

[2019-03-11 19:07] mike-urnun-msft commented on #20842
Thanks @hf-kklein! I believe @ggailey777 can provide a better guidance on this matter as he's the listed author on this doc.

[2019-03-11 19:14] SwamyNallamalli opened #26742 "How to limit the parallel invocations of timer triggers"
Is there a way we can limit the execution of trigger to only one invocation. While one run is happening, is there a setting to stop it from triggering again?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5527c3b-a5da-c73d-66c2-20d96003ff7c
* Version Independent ID: 42154c7b-b0e0-26db-79bc-3f1673c48e40
* Content: [Tim

[2019-03-11 19:15] Alberto-Vega-MSFT commented on #26252
@wassx We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-11 19:15] #26252 closed

[2019-03-11 19:21] veyalla commented on #25783
@smoms Could you please open an issue for this on https://github.com/azure/iotedge/issues?

[2019-03-11 19:23] CeciAc opened #26743 "MSRC page not found"
@kiyoaki commented on [Thu Feb 14 2019](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/2130)

これらのプログラムの詳細については、「MSRC Bug Bounty」ページと「MSRC のブログ」をご覧ください。
MSRC の詳細については、「 MSRC ホーム ページ」をご覧ください。

上記文章の「MSRC Bug Bounty」と「 MSRC ホーム ページ」がリンク切れです。

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: d5c870dd-3f3f-cfb8-f124-7bc196f2a76d
* Version Independ

[2019-03-11 19:24] CeciAc commented on #26743
Moving this from the ja-JP repo as per @SunnyDeng 's comment above

[2019-03-11 19:30] Alberto-Vega-MSFT commented on #26617
@CloudyEMS @reneschulte Would you please provide more detail about the scenario you are trying to enable?

[2019-03-11 19:34] Alberto-Vega-MSFT commented on #26104
@HaraldHeide We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-11 19:34] #26104 closed

[2019-03-11 19:36] Alberto-Vega-MSFT commented on #22783
@djaus2 Closing this issue since we haven't heard back from you. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-11 19:36] #22783 closed

[2019-03-11 19:47] Mike-Ubezzi-MSFT commented on #26737
@furmangg Thank you for bringing this to our attention. I have assigned the issue to the content author @sachinpMSFT to review and update as appropriate.

[2019-03-11 19:47] Alberto-Vega-MSFT commented on #26018
@mattmgroom Closing this issue since we haven't heard back from you.  If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-11 19:47] #26018 closed

[2019-03-11 19:49] conork20 opened #26744 "Incorrect statement about Exported Device CSV"
The article states: "You can export device details in bulk to get connection strings and other properties. The export process creates a CSV file with the device identity, device name, and primary connection string for all the selected devices.". The exported CSV does not contain the devices' connection strings. It contains their Primary and Secondary SAS token, with which the connection string can

[2019-03-11 19:51] FabianGCZ commented on #26079
Hello Marilee, just talked to Prashanth and confirmed this is not supported atm. Thanks.

[2019-03-11 19:51] #26079 closed

[2019-03-11 20:01] laserninja opened #26745 "image: nvidia/k8s-device-plugin:1.12 not available on dockerhub"
image: nvidia/k8s-device-plugin:1.12 not available on dockerhub. Can you pelase confirm. https://hub.docker.com/r/nvidia/k8s-device-plugin

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: deaac79e-bd40-2d95-7288-e15371726e91
* Version Independent ID: 9fd80908-20f1-7970-3bda-5a4283e4af21
* Content: [Use GPUs on Azure Kube

[2019-03-11 20:05] mrosett commented on #24799
Just checking in on this. I'd love to hear an update.

[2019-03-11 20:06] rachel-msft commented on #18950
Thank you. I've edited the doc. #please-close

[2019-03-11 20:07] rachel-msft commented on #21770
Thank you. I've edited the docs. I reference the OpenSSL instructions, since that will be the source of truth. #please-close

[2019-03-11 20:08] #21770 closed

[2019-03-11 20:13] sheepherd commented on #16809
any news concerning FreeBSD support?
![screenshot_2019-03-11_210151](https://user-images.githubusercontent.com/5450794/54154113-6f288400-4441-11e9-96d2-97b643ef8662.png)
I am trying to deploy pfSense to an Azure Stack environment, which works fine by PowerShell but not via ARM Template. Seems to get stuck in a loop or it fails with "Guest agent Not Ready. VM agent is not ready"
disabling [provisio

[2019-03-11 20:15] jessenguyen7 opened #26746 "Windows Defender Exclusions"
I want to use the sample given for the Windows Defender exclusions for Service Fabric cluster but the sample references the below parameters in "Paths" but the actual paths of the Service Fabric files aren't given. Is this documented some place?

"Exclusions": {
                "Paths": "[concat(parameters('svcFabData'), ';', parameters('svcFabLogs'), ';', parameters('svcFabRuntime'))]",

[2019-03-11 20:16] raluca256 commented on #25926
I closed it 10 days ago :).

[2019-03-11 20:18] cicorias commented on #26562
Another PR fixed this so closing

[2019-03-11 20:18] #26562 closed

[2019-03-11 20:21] prashanthmadi commented on #25690
Thanks @Mike-Ubezzi-MSFT . Looks like Doc has been updated to provide better steps. it works fine now.

[2019-03-11 20:22] Mike-Ubezzi-MSFT commented on #18950
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-11 20:22] #18950 closed

[2019-03-11 20:24] MartinJaffer-MSFT commented on #26740
Thank you for bringing this to our attention, @eguman .  We will review the document and update as appropriate.

[2019-03-11 20:29] #26604 closed

[2019-03-11 20:32] spelluru commented on #22692
@jwargo - please enter **#please-close** as comment. Thanks.

[2019-03-11 20:32] BharathNimmala-MSFT commented on #26693
@hihayak  [Documentation ](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-trace-logs#add-the-appender-to-your-logging-framework) does walks through both Log4J v2.0 and Log4J v1.2. Usage of <Root level="trace"> is for Log4J v2 and <Root><priority value = "trace" />  is for Log4J v1.2.

[Apache Logging Reference](https://logging.apache.org/log4j/2.0/manual/migration.html
) which has s

[2019-03-11 20:45] jwargo commented on #22692
#please-close

[2019-03-11 20:46] MicahMcKittrick-MSFT commented on #16809
CC @jpconnock @cynthn

[2019-03-11 20:46] elliottnichols opened #26747 "Unit Testing Issue with Variables"
Per @edwardpius comment in issue https://github.com/MicrosoftDocs/azure-docs/issues/23920, this doc and go unit test example appear to have an issue with arguments passed to terratest .FormatArgs function

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ca5a5ec-9b3c-afac-5413-d16f1109a75a
* Version Independent I

[2019-03-11 20:47] carehart commented on #26604
Glad to help. (And I might have implemented the change and made a pull request, but I wasn't 100% sure that the proposed link I'd found was the right one. Thanks for confirming and making the change.)

[2019-03-11 20:55] Karishma-Tiwari-MSFT commented on #26746
Thanks for the question. We are currently investigating and will update you shortly.

[2019-03-11 20:55] Karishma-Tiwari-MSFT commented on #26745
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-11 21:03] MarkusVi commented on #26365
Hi @bt102, thanks for pointing this out. I have staged an update.

#please-close

[2019-03-11 21:04] alpinedelight opened #26748 "Great job"
I've read through documentation of numerous Azure services, and have to say this article is in my opinion the golden standard. Very clear, simple examples... great job.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfaec879-f3e0-afba-fbe8-85e6e28937df
* Version Independent ID: b21d00cd-0323-26d0-34b4-f0a76ee8aaea
* Co

[2019-03-11 21:13] lleonard-msft commented on #25748
#please-close

[2019-03-11 21:16] Mike-Ubezzi-MSFT commented on #18595
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-11 21:16] #18595 closed

[2019-03-11 21:20] MicahMcKittrick-MSFT commented on #26748
@alpinedelight thanks for that feedback! Glad you are finding the documentation helpful :)

Kudos to @roygara for writing it :)

[2019-03-11 21:20] #26748 closed

[2019-03-11 21:20] dtec83 opened #26749 "XFS format for data disk not currently supported in single pass"
https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption-linux#enable-encryption-on-a-newly-added-data-disk

There's currently a restriction for XFS format support on data disk encryption using single pass. Is not supported for normal encryptions, ext4  is recommended to be used instead. Also EncryptFormatAll could be used if XFS format is really required (but considering it

[2019-03-11 21:21] radwiv opened #26750 "Forced Tunneling doc edit"
There is a typo. You may replace classic with Resource Manager in below text:

Forced tunneling can be configured by using PowerShell, not through the portal. If you want to configure forced tunneling for the Resource Manager deployment model, select classic article from the following dropdown list:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-03-11 21:23] carehart opened #26751 "why does deploy of war require curl/powershell? why no UI to upload it?"
Folks, the docs here ("Deploy WAR file") show only one option for deploying a war: our needing to do a post via curl or powershell. Why not offer us a UI (like with the zip above) to let us point to a WAR to be deployed?

I understand the value of CURL/PS for automation, but for folks getting started (with a war to deploy), being able to do it more easily would help a lot. (And I realize we are to

[2019-03-11 21:25] shannonjk opened #26752 "This is not CICD"
First and foremost, while I appreciate the efforts gone into creating this article, after having reread this article several times, and attempting to implement into a production environment, I have come to the conclusion that this is absolutely not CICD.

Problem 1: Manually download and edit JSON, every single time you have to promote code changes
Problem 2: Let's say that you accounted for the p

[2019-03-11 21:25] vladvino commented on #26376
Great feedback @ToMakeSense, thank you. I updated
https://docs.microsoft.com/en-us/azure/api-management/api-management-transformation-policies#SetBackendService article with information on how to manage backend-id (see PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/69090) and added suggestion about exposing backend entity on the Azure portal to the backlog to be considered in future planni

[2019-03-11 21:27] cijothomas commented on #14929
This was not completed. I'll submit a PR with the correct wordings.

[2019-03-11 21:27] Mike-Ubezzi-MSFT commented on #26580
@Knight21024 Do you have other issues with using SSMS client while connected with the Azure SQL Managed Instance? This is either a route issue (either forward or reverse route table is missing) assuming you are attempting to run SSMS from on-premise or from another VNet, or this is a bug with SSMS. The route issue tends to be login issue, and you can authenticate without issue.

[2019-03-11 21:28] vladvino commented on #25121
@mike-urnun-msft Please assign this to @miaojiang.

[2019-03-11 21:29] vladvino commented on #25118
This item was addressed in PR #67862. #please-close

[2019-03-11 21:32] kobulloc-MSFT commented on #25506
@craigsmitham Thank you!  It's always nice to hear when an answer has been helpful :)

[2019-03-11 21:33] #25802 closed

[2019-03-11 21:34] MicrosoftGuyJFlo commented on #18099
Opened backlog item to see what can be created to support this. Working with the PG to get an update.

[2019-03-11 21:34] MicrosoftGuyJFlo commented on #18099
#please-close

[2019-03-11 21:38] vladvino commented on #22404
@mike-urnun-msft  please assign this to @mikebudzynski

[2019-03-11 21:39] vladvino commented on #22226
@mike-urnun-msft please assign this to @mikebudzynski

[2019-03-11 21:44] MicrosoftGuyJFlo commented on #24302
https://docs.microsoft.com/azure/active-directory/authentication/howto-mfa-nps-extension-vpn#install-and-configure-the-nps-extension

If the value is set to True or is blank, all authentication requests are subject to an MFA challenge. If the value is set to False, MFA challenges are issued only to users who are enrolled in Azure Multi-Factor Authentication. Use the False setting only in testing o

[2019-03-11 21:44] MicrosoftGuyJFlo commented on #24302
#please-close

[2019-03-11 21:45] eross-msft commented on #26588
This update is now live.

@ManojReddy-MSFT  #please-close

[2019-03-11 21:47] eross-msft commented on #9380
Since we've gotten nothing else, we should close this item. #please-close

[2019-03-11 21:52] vladvino commented on #22158
Thanks for the feedback @andrewatfornax. I updated the doc - see PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/69101. #please-close

[2019-03-11 21:52] LHGDevOps opened #26753 "Troubleshooting Step"
We have encountered this issue and others may need the assistance from this blog post:
https://rajeevpentyala.com/2011/09/21/missing-prvreadasyncoperation-privilege-exception/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9b4f6eb-9298-e9f5-7a2c-246d7c8f2122
* Version Independent ID: 2b169d7b-7d6e-c1a5-9cec-452ddf26c1

[2019-03-11 21:58] jonmach opened #26754 "Cannot get SimilatedDevice.py to run"
This does not work on MacOS 10.14.3 with either Python 2.7, Anaconda 3.6 or Anaconda 3.7.

Lots of issues just getting the SimulatedDevice.py to work.

pip install azure-iothub-service-client
  629  19/03/11 21:28:31 pip install azure-iothub-device-client

I tried using pip install of both azure-iothub-service-client, and azure-iothub-device-client - Library not loaded errors when I tried python S

[2019-03-11 22:07] adityadr commented on #23801
Hello Team, Is there any update on this open issue? We are facing a similar problem in our production environment and need help in getting the list of all values that are returned for "Status" field in the API

[2019-03-11 22:16] Mike-Ubezzi-MSFT commented on #23801
@gauravmalhot Can you please take a look at this issue?

[2019-03-11 22:17] KeiroKamioka0000 opened #26755 "Does it support SQL Server 2008?"
Does the SQL Server on Azure VMs will support the SQL Server 2008?

According from the following virtual machine documents, it says "64-bit versions of SQL Server 2008 and later versions are supported. "

However, this document says "ll the supported SQL Server versions (2008R2, 2012, 2014, 2016) and editions (Developer, Express, Web, Standard, Enterprise) are available.", and it never mention abo

[2019-03-11 22:18] carehart opened #26756 "Where can we find more about the deployment_user discussed here?"
This page shows using curl or powershell to push a war to a web app, and it shows using a "deployment user" account. but I find nothing here or in preceding pages in this section of the docs about that. Could someone provide a link for us, for us to find more? Again, consider this may be someone coming to Azure Web Apps anew, and is directed to this page as "how to deploy a war as a web app".

To

[2019-03-11 22:18] Grace-MacJones-MSFT commented on #26751
Hi @carehart , thank you for the detailed feedback! Yes, cURL/PS steps are great for automation & quicker deployments. The documentation platform is mainly for documentation feedback/enhancement but you may post your product feedback on [Uservoice](https://feedback.azure.com/forums/169385-web-apps).  All of the feedback on the Uservoice platform are monitored and reviewed by the Microsoft engineer

[2019-03-11 22:18] #26751 closed

[2019-03-11 22:21] #25961 closed

[2019-03-11 22:24] banisadr commented on #24674
Hi @mcurko,

This is getting a little bit into each services implementation.

RBAC is used at the control plane to check that whatever entity requested events from a resource has permissions to subscribe (authorization to create an event subscription). The objective here is to ensure a bad actor cannot receive events they should not be allowed to access.

Endpoint validation is done after and dist

[2019-03-11 22:25] femsulu commented on #26718
@codyrat Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-03-11 22:26] femsulu commented on #26721
@panoschatz Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-03-11 22:27] JeffreyCA opened #26757 "Using "Tune Model Hyperparameters" with "Train Anomaly Detection Model" modules"
In the **Anomaly Detection: Credit Risk** sample experiment, the **Tune Model Hyperparameters** module is used with **Train Anomaly Detection Model**, however I couldn't find anything in the documentation about using both together. In what scenarios would I use one over the other? What's the difference between these three approaches?

![2019-03-11 at 01 52 753 PM](https://user-images.githubusercon

[2019-03-11 22:27] JeffreyCA opened #26758 "Anomaly Detection with Single Parameter - "Train Model" vs "Train Anomaly Detection Model""
In Step 6 on [here](https://docs.microsoft.com/en-us/azure/machine-learning/studio-module-reference/pca-based-anomaly-detection), it says **If you set the Create trainer mode option to Single Parameter, use the Train Model module.**

Why does it suggest **Train Model** instead of **Train Anomaly Detection Model**? What is the difference between the two?

**Train Model** is suggested on both [One-C

[2019-03-11 22:28] mike-urnun-msft commented on #26742
Hi @SwamyNallamalli Thank you for your feedback! We will review and update as appropriate.

[2019-03-11 22:34] Msextro opened #26760 "Choose the right SQL Server option in Azure CORRECTION?"
"However, it also prevent you to do some custom administration tasks that could improve performance of your workload."  This sentence seems incorrect.  Word prevent should be permits?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd929b95-a669-6c8f-d55e-8b93c1e395a1
* Version Independent ID: 9348ee72-e3be-75b8-2124-09

[2019-03-11 22:36] femsulu commented on #26738
@joninmoz thanks for raising this. Engaging the feature owner for more input.

@mayurigupta13 , @rayne-wiselman  - any idea why the "2TB requirement/exception" is thrown even though the source VM has a single 32 GB HD?

[2019-03-11 22:37] paulbouwer commented on #26733
@jeffmartinxyz - it looks from the error message, like helm is not looking locally to install the helm chart.

Ensure that you have downloaded the Istio release
- [Download Istio](https://docs.microsoft.com/en-us/azure/aks/istio-install#download-istio)

And are running the `helm install` command from the top-level folder of the Istio release that you downloaded and extracted.

There is a note in t

[2019-03-11 22:38] wesmc7777 commented on #26754
@jonmach We are aware of dependency limitations with the current builds of the library. These are [noted here](https://github.com/Azure/azure-iot-sdk-python#important-installation-notes---dealing-with-importerror-issues)

* Mac OS: Python 3.7.0 (or 2.7) + libboost-1.67 + curl 7.61.1 (all installed via homebrew) Any other distribution/OS probably embed different versions of boost & dependencies whi

[2019-03-11 22:39] vibhorbatra commented on #23825
@Pcoric I run into the same issue with analysis being "Couldn't detect language", can you advise the change you made to make it work?

[2019-03-11 22:44] CelesteDG commented on #10652
Reported this issue to the feature team at the time, but there were no bugs found. We also are phasing out the use of the application registration portal (https://apps.dev.microsoft.com) in favor of the App registrations (Preview) experience that will GA sometime soon.

#please-close

[2019-03-11 22:46] PingPongSet opened #26761 "AzureWebJobsScriptRoot variable is not defined on Azure Functions, but defined locally"
AzureWebJobsScriptRoot variable is not defined on Azure Functions. The code below returns no value.
System.Environment.GetEnvironmentVariables(EnvironmentVariableTarget.Process)["AzureWebJobsScriptRoot"];
Is this a bug with Azure Functions?

If so, what is an alternative solution?

Before the issue is fixed by Microsoft, can this variable, AzureWebJobsScriptRoot, be defined myself to "%HOME%\site\

[2019-03-11 22:46] #18099 closed

[2019-03-11 22:47] #18901 closed

[2019-03-11 22:47] #22158 closed

[2019-03-11 22:47] #22692 closed

[2019-03-11 22:47] #24302 closed

[2019-03-11 22:47] #25118 closed

[2019-03-11 22:47] #25361 closed

[2019-03-11 22:48] #25635 closed

[2019-03-11 22:48] VanMSFT commented on #18643
Thanks @mcurko for your patience on this issue. Changes have been made to app code in the docs. We appreciate you bringing this to our attention.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/68894

#please-close

[2019-03-11 22:48] #25748 closed

[2019-03-11 22:48] #26365 closed

[2019-03-11 22:48] #26376 closed

[2019-03-11 22:48] #26511 closed

[2019-03-11 22:49] #26588 closed

[2019-03-11 22:49] #26717 closed

[2019-03-11 22:49] #9380 closed

[2019-03-11 22:54] CelesteDG commented on #20138
Please reassign to @danieldobalian as owner for iOS tutorial.

[2019-03-11 22:56] CloudyEMS commented on #26617
I am trying to implement a simple sharing scenario between various devices. One device would save an anchor in the cloud, while the others would try to locate said anchor. The app would use limited resources and shouldn't need to have a backend service to keep track of created anchors and their IDs.

According to the [API Reference](https://docs.microsoft.com/en-gb/dotnet/api/microsoft.azure.spati

[2019-03-11 22:56] CelesteDG commented on #19646
Please reassign to @navyasric as JavaScript SPA tutorial owner.

[2019-03-11 23:00] MarileeTurscak-MSFT commented on #26735
@Norrch2
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-11 23:01] MarileeTurscak-MSFT commented on #26749
@dtec83
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-11 23:07] aashishb commented on #25353
GCC support is not on the roadmap. I will add it to our backlog.

[2019-03-11 23:09] CelesteDG commented on #11342
@mdomsch - My sincerest apologies for the delayed follow up on this. I had a discussion with our branding, design, and feature teams and these were actually delivered a while back. Here's an example of the assets in French: https://docs.microsoft.com/fr-fr/azure/active-directory/develop/howto-add-branding-in-azure-ad-apps

There are only specific locales (about 13) that we support for localized ve

[2019-03-11 23:11] carehart commented on #26751
Well, I suppose I worded the title especially to imply that mine was a product question. It is actually a docs one, in that I am asking: are you sure there is NOT a way to do it in the UI? I just find that often the docs, being so large, have gaps where one page may refer to a thing that another may not.  @Grace-MacJones-MSFT

[2019-03-11 23:19] chetansriv commented on #10734
@KeepSloanWeird We have verified with Slack team and they have confirmed that they only need claims which are mentioned in the tutorial. Also they confirmed that they needs signed SAML assertions only. No further action needed on this.

[2019-03-11 23:19] chetansriv commented on #10734
#please-close

[2019-03-11 23:21] panoschatz commented on #15201
@kvlopez1 - I realised this was my mistake, so I put the snippet under the resource section of the NSG in my template. This removes the above error, however I now get:
[code]
which again isn't particularly helpful

[2019-03-11 23:22] carehart commented on #26756
I found the docs with the needed UI approach for creating a deployment user. Could someone please add a link to that here? Thanks.

https://docs.microsoft.com/en-us/azure/app-service/deploy-configure-credentials

[2019-03-11 23:34] CelesteDG commented on #16848
Please reassign the issue to @jmprieur to evaluate if the [archived v1 sample](https://github.com/AzureADQuickStarts/WebAPI-Bearer-DotNet/archive/complete.zip) will be updated.

[2019-03-11 23:37] tastyeggs commented on #24896
Circling back to this, I'd like to point out that anyone who has wanted to give Service Fabric a try on Ubuntu/macOS in the last 1 month would have given up.

[2019-03-11 23:40] SunnyDeng commented on #26743
@MarileeTurscak-MSFT please close this one. This was a wrong move by @CeciAc.
I am tracking this issue in the original ISSUE in ja-jp repo.
Thanks

[2019-03-11 23:44] jeffmartinxyz commented on #26733
Yup, I was just doing it wrong. Thanks for following up. I think it would be good to mention this step, though most would be familiar with this. Unfortunately I don’t use helm that often and wasn’t aware.

From: Paul Bouwer <notifications@github.com>
Sent: Monday, March 11, 2019 3:38 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Jeff Martin <Jeffrey.Martin@microsoft.com>; Men

[2019-03-11 23:49] Karishma-Tiwari-MSFT commented on #26747
@elliottnichols
Thanks for the feedback! I have assigned the issue to the content author who is looking into the other issue as well.

[2019-03-11 23:57] suhuruli commented on #24896
@tastyeggs, I understand the pain .. The team is publishing a fix for this with the latest SF release. We have also now added a note to this document with the stated.

[2019-03-11 23:58] djaus2 commented on #22783
No the matter wasn't resolved as the update still exhibited the problem. On vacation this week so will revisit this next week. Maybe there is a later version to try.

[2019-03-11 23:58] MarkusVi commented on #22401
Hi @JoelHazelton, I have staged an update to this article wit the most recent list of supported cloud apps.

#please-close

[2019-03-12 00:01] tastyeggs commented on #24896
Thanks @suhuruli

[2019-03-12 00:01] Leon99 commented on #26626
@CarlRabeler I didn't know about this option, apologies, it does work.

[2019-03-12 00:01] #26626 closed

[2019-03-12 00:03] KeiroKamioka0000 opened #26763 "Detail MySQLAuditLogs"
I see that [MySqlSlowLogs] is mentioned in the document.
Is it possible to add about [MySQLAuditLogs] in the document?

I assuming that obtainable information in [MySQLAuditLogs] is already listed in the [diagnostic-logs] sections.
However, customer can't tell that until customer obtain the actual AuditLogs to see it.

Thanks,

![image](https://user-images.githubusercontent.com/37641695/54165568-8

[2019-03-12 00:07] ajlam commented on #26763
@KeiroKamioka0000, thanks for filing the issue. The audit logging functionality is currently in private preview. If you are interested in trying it out, please contact me at: andrela@microsoft.com

#please-close

[2019-03-12 00:13] KeiroKamioka0000 commented on #26763
Thanks for the quick answer!

[2019-03-12 00:16] YutongTie-MSFT commented on #26757
@JeffreyCA
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@garyericson @ericlicoding Hi Gary and Eric, would you please check this issue? Thanks. And also, the link of Doc-feedback under Module References repo is broken. Please check and update.

[2019-03-12 00:17] YutongTie-MSFT commented on #26758
@JeffreyCA
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-12 00:18] #26763 closed

[2019-03-12 00:22] CarlRabeler commented on #26755
Please assign to @MashaMSFT

[2019-03-12 00:23] CarlRabeler commented on #26760
Addressing in this PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/69128

From: Msextro <notifications@github.com>
Sent: Monday, March 11, 2019 3:35 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Carl Rabeler <Carl.Rabeler@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [MicrosoftDocs/azure-docs] Choose the right SQL Server option in Azure CORRECTION? (#2

[2019-03-12 01:19] wesmc7777 commented on #26754
#please-close

[2019-03-12 01:24] Alberto-Vega-MSFT commented on #26744
@conork20 The links included in this issue give 404. It looks like your feedback belongs to https://docs.microsoft.com/en-us/azure/iot-central/howto-manage-devices

[2019-03-12 01:33] leedabee opened #26779 "documentation link format"
The link in the first sentence in this paragraph looks like it needs a small fix: https://docs.microsoft.com/en-us/azure/data-factory/transform-data-using-machine-learning#data-factory-and-machine-learning-together

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87aead2a-319e-0c71-1d5b-8a42ebdca892
* Version Independent

[2019-03-12 01:37] mike-urnun-msft commented on #26761
Hi @PingPongSet Thank you for your feedback! We will review and update as appropriate.

[2019-03-12 01:59] kvsrkrishnan opened #26780 "AzCopy: The value for one of the HTTP headers is not in the correct format."
I am trying to upload a folder containing multiple VHDs (80 GB in size) to AzureStack and it failed with the below error. Is this a supported scenario?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1141c265-4aea-c6be-4d61-3566fe8474b8
* Version Independent ID: 3cb0f2ba-cf8b-7fdd-414b-b8d95dca004c
* Content: [C

[2019-03-12 02:11] sumptersmartt opened #26783 "8TB VHD"
“We only support VHD uploads of up to 8 TiB.”
Azure currently does not support vhdx and vhd does not support &gt;2TB volumes. Clearly I am missing something. I’m unsure if there is a way to create an 8TB VHD outside of azure, upload it as a page blob and mount it as an unmanaged disk or somehow convert it to a managed disk.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-03-12 02:19] shashishailaj commented on #26555
@JasperWind I have assigned this to the author for further update.

@jeevansd Could you please take a look into this if the documentation could be updated as per details mentioned by @JasperWind

[2019-03-12 02:25] TechB0t commented on #24770
@Wedvich

You need as many premium licenses as many users are in scope of condional access policy.It is not required that you should assign license to the users in scope but you should have that many licenses.For configuration of conditional access policy you need to assign license.

[2019-03-12 02:43] motowilliams commented on #15051
Also update for Async methods

[2019-03-12 02:48] YASWANTHM-MSFT commented on #26780
@kvsrkrishnan, Thanks for your question. We are checking on this and will respond to you soon.

[2019-03-12 02:52] shashishailaj commented on #20138
@CelesteDG Assigned to @danieldobalian as requested.
@danieldobalian  Could you please look into this issue ? Thank you..

[2019-03-12 02:54] dmarlow commented on #24239
Having round-robin to the read replicas as well as metrics would be a great boost for performance. Please add this.

[2019-03-12 03:04] femsulu commented on #26281
@AlexanderDignan you are correct.  Storage redundancy option can only be selected after the creation of the vault and before any machine is registered to the vault. Once an item is regiestered to the vault, the storage redundancy option is locked and cannot be modified.
The feature team is always looking for ways to improve the product so if this is something you would like to see supported, I str

[2019-03-12 03:04] #26281 closed

[2019-03-12 03:06] femsulu commented on #26359
@snehithm, can we add an example or reference to an example in this doc?

[2019-03-12 03:13] bjon045 commented on #9798
This still has not been addressed. It makes it very challenging to debug issues in APIM.

[2019-03-12 03:13] ramraj4k commented on #14368
FYI.. Profiling data generated successfully...

While generating reporting, noticed following error often..

Required profiled data file for generating report is not found in the directory: C:\ASR\ASR\ProfiledData. Ensure that profiling has been done for at-least 30 minutes and then generate report.

[2019-03-12 03:16] uopeydel opened #26787 "After delete and create new it alway show error"
Step
1) Go to Monitor - Logs
2) Create 1st resource
3) Delete resource is create at 2.
4) Create new resource difference name with 1st
5) Always show error below can't create new one or access new resource  is create from 4.

Error is

This resource was not found, it may have been deleted. /subscriptions/529bc395-404b-4c9f-a407-59913b16ad12/resourceGroups/application-insight-group/providers/Micros

[2019-03-12 03:18] Shekharb694 commented on #25749
Yeah sure !
Project level Gradle :
---------------------------------------------------------------------------------------------
// Top-level build file where you can add configuration options common to all sub-projects/modules.

buildscript {
    repositories {
        google()
        jcenter()

    }
    dependencies {
        classpath 'com.android.tools.build:gradle:3.3.2'

        // NOTE: D

[2019-03-12 03:20] Shekharb694 commented on #25749
The error occurs when I'm trying to implement the dependency.
Please help asap !
Thank You!

[2019-03-12 03:35] acured commented on #22945
Hi @PatrickFarley , I'm working with @lebronJ.
Hi @kulukamal
Which endpoint have you used? end with "/face/v1.0" or not? If the endpoint has "/face/v1.0", you can remove it and have a try?

[2019-03-12 03:39] femsulu commented on #21062
@dpapkin according to the Alert feature team,  the [QuickStart doc](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/quick-audit-notify-action-subscription) you are using for the MS Az100 class appears to be outdated and unmanaged. The recommendation is to use [these steps](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-activity-log#azure-portal) instead. (ref @m

[2019-03-12 03:45] KalyanChanumolu-MSFT commented on #26755
Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-03-12 03:50] KetanChawda-MSFT commented on #26703
@Freakling It should work with for both Pascal and Camel case. Could you please confirm again if it is the same behavior in your case.

[2019-03-12 03:51] KetanChawda-MSFT commented on #26406
@ParthiKarnan Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-12 03:51] #26406 closed

[2019-03-12 03:55] KalyanChanumolu-MSFT commented on #26760
@Msextro Thank you for pointing this out.
As @CarlRabeler as mentioned, this is already addressed and will get fixed once the PR is merged.

We will close this issue now.
In future, if you see any minor bug fixes to the doc, feel free to click on the edit button and submit a PR to update. We love to take community contributions. 

[2019-03-12 03:55] #26760 closed

[2019-03-12 04:02] femsulu commented on #26364
@EdwinGomes  Are you still having issues with DSC on your Linux VM?
If yes, please re-post the issue on our [Azure automation discussion Forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=azureautomation) to get the best response/guidance.
@KrisBash can you confirm the existing DSC modules for Linux VMs supports Ubuntu version 18.04?
Cheers.

[2019-03-12 04:02] #26364 closed

[2019-03-12 04:12] ToMakeSense commented on #26376
@vladvino the URL you given is break, i think you mean this commit [Added information about backend-id](https://github.com/MicrosoftDocs/azure-docs/commit/8e10c6db7c665dac92dcd7ca67e847833c70b051), thanks for your feedback.

[2019-03-12 04:13] kogesaka opened #26816 "About the placement place of the certificate"
Hi folks,

The command of sample PowerShell is described as "cert:\localMachine\my" although "To check that the certificate is set, go to the Kudu console and issue this command dir cert:\localmachine\root in the PowerShell debug console. " is in the section of Private client certificate.

App Service (include Web App, App Service Environment) recognizes that the certificate can not be placed in l

[2019-03-12 04:14] dpapkin commented on #21062
Hi,

the az100 skillpipe is the 2019 Q1 course manual.

Additional Practice - Alerts

The Azure Activity Log provides a history of subscription-level eventsin Azure. It offers information about who created, updated, or deletedwhat resources and when they did it. You can create an Activity Logalert to receive email, SMS, or webhook notifications when an activityoccurs that match your alert conditio

[2019-03-12 04:30] vladvino commented on #26376
Correct, thank you.

[2019-03-12 04:34] PramodValavala-MSFT commented on #26465
@lesterw1 Just following up here... Hope my previous comment clears things up.

[2019-03-12 04:43] KetanChawda-MSFT commented on #26591
@morgangrobin I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-12 04:46] mimig1 commented on #21043
@dsindona - Should this be reassigned?

[2019-03-12 04:49] CHEEKATLAPRADEEP-MSFT commented on #26752
@Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-03-12 04:54] paulbouwer commented on #26733
I have repeated the note and merged the PR.

[2019-03-12 04:54] ianhuynh opened #26843 "possible to extending pre-built entity?"
e.g. what about county?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc4ddee5-63b7-865f-d8e3-7ee080ac9fe8
* Version Independent ID: 42a03274-7cba-0fc1-80ad-93f3c44a7d8e
* Content: [Geography V2 prebuilt entity - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-reference-pr

[2019-03-12 04:56] ianhuynh opened #26844 "is there a 'rank' pre-built entity?"
how would you recommend modeling "top 10" , "bottom 10" ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec294f2d-b77c-07ce-8367-09f1e2530b3d
* Version Independent ID: 24e4c175-d833-2b81-8a72-b8d8feb5c163
* Content: [Ordinal Prebuilt entity - Azure](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-re

[2019-03-12 04:57] mimig1 commented on #19714
@jasongroce - Should this be reassigned?

[2019-03-12 05:00] ianhuynh opened #26845 "alias for pre-built entity (same concept as extending)?"
e.g. US is aka Lower 48 in some domain.   If want to take advantage of the pre-built entity and not having to create a custom entity called "country".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc4ddee5-63b7-865f-d8e3-7ee080ac9fe8
* Version Independent ID: 42a03274-7cba-0fc1-80ad-93f3c44a7d8e
* Content: [Geography

[2019-03-12 05:03] Leon99 opened #26846 "CPU/Memory consumption on empty app plan"
I'm observing constant CPU consumption ~8% and memory ~60% on a Linux plan with 0 apps. Is this expected? If yes, I reckon it's worth highlighting here since it differs from Windows app plans. If no, how do I diagnose it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e26e5a4-7b72-ba7e-cfed-e31a4a8aaef9
* Version Inde

[2019-03-12 05:06] yuriwoof opened #26847 "SP_PASSWORD must contains 1 numeric character and 1 special character."
That's trivial question.
"az ad sp create-for-rbac" requires numeric and special character for password.

[code]

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13ac2648-7dce-c83c-0b14-79d5b091b1af
* Version Independent ID: 6aa0b306-6926-87cc-9b59-496ac91dfba6
* Content: [Secure pods with network policies in Azu

[2019-03-12 05:10] SumanthMarigowda-MSFT commented on #26705
@AlejoSQL May I know what exactly are you trying to perform (Can you bit elaborate more on this query)?

[2019-03-12 05:14] CHEEKATLAPRADEEP-MSFT commented on #26556
@realolap We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-12 05:14] #26556 closed

[2019-03-12 05:15] CHEEKATLAPRADEEP-MSFT commented on #26587
@vasanthachavali We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-12 05:15] #26587 closed

[2019-03-12 05:15] CHEEKATLAPRADEEP-MSFT commented on #26682
@chanmmn We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-12 05:17] metin commented on #18995
@ajlam I just talked to our network guy, seems like it is because of our corporate network and firewall. I was able to connect outside of our work network.

Maybe you can include this as a notice in the tutorial.

[2019-03-12 05:19] DixitArora-MSFT commented on #26497
@mswilson4040 I have assigned this to content author to review and update as appropriate.

[2019-03-12 05:23] yzheng-msft commented on #26712
@JRiggenbach There was no performance tuning in preview. We will GA this feature by end of the month and this issue will go away at GA.

[2019-03-12 05:25] CHEEKATLAPRADEEP-MSFT commented on #26740
@eguman Thanks for pointing out the issue, I've addressed this issue in PR [https://github.com/MicrosoftDocs/azure-docs-pr/pull/69150](https://github.com/MicrosoftDocs/azure-docs-pr/pull/69150).
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to t

[2019-03-12 05:25] #26740 closed

[2019-03-12 05:30] CHEEKATLAPRADEEP-MSFT commented on #25476
@gauravmalhot Could you please look into this issue?

[2019-03-12 05:33] #10652 closed

[2019-03-12 05:33] #10734 closed

[2019-03-12 05:33] #11342 closed

[2019-03-12 05:34] #18643 closed

[2019-03-12 05:34] #26754 closed

[2019-03-12 05:34] #22401 closed

[2019-03-12 05:49] hmayer1980 commented on #26114
I think its not browser related at all - there is just different HTML delivered to me then you. Sure its not a preview feature or limited to a certain region / data center in azure currently?

I asked a college of mine, and the dialog looks exactly as mine to him- no trigger dependencies.

I checked it on my Windows 10 Desktop, and there is no difference in the UI experience.

This is how the HTML

[2019-03-12 05:51] RohitMungi-MSFT commented on #26700
@xvercruysse Thanks for pointing out this issue. Yes, It looks like some of the PreBuilt entities documented are not part of the available PreBuilt entities.

@diberry Here is a screen shot of the list of PreBuilt Entities available for fr-fr in luis portal. I see that we are missing another entity that is listed in the documentation apart from personName. The list of missing PreBuilt entities are

[2019-03-12 05:56] SubhashVasarapu-MSFT commented on #26732
@gaurav5430 , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-03-12 05:57] SubhashVasarapu-MSFT commented on #26731
@gaurav5430 , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-03-12 05:59] AshokPeddakotla-MSFT commented on #25783
@smoms As suggested, please open an issue on the git. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-12 05:59] #25783 closed

[2019-03-12 05:59] RohitMungi-MSFT commented on #25225
@KeiroKamioka0000 @xiaoharper Thanks for your response. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-12 05:59] #25225 closed

[2019-03-12 06:12] SumanthMarigowda-MSFT commented on #25755
@SRGOM We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-12 06:12] #25755 closed

[2019-03-12 06:13] kazshi commented on #26518
@AjayKumar-MSFT It would be great if you could provide information about "MPE_ENC_ENCRYPTION_NOT_SPECIFIED_IN_URL" for now since my customer is waiting for that.   Thanks.

[2019-03-12 06:13] SumanthMarigowda-MSFT commented on #26355
@navin22 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-12 06:13] #26355 closed

[2019-03-12 06:14] SumanthMarigowda-MSFT commented on #26455
@xuemind Thank you for the update!
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-12 06:25] dcbrown16 opened #26849 "Three copies"
My understanding is that LRS provides the equivalent of three copies.
There's a table to this effect here:
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/regions-and-availability
It's mentioned in the announcement from way back when:
https://blogs.msdn.microsoft.com/windowsazurestorage/2012/06/08/introducing-locally-redundant-storage-for-windows-azure-storage/
And farther down thi

[2019-03-12 06:31] RohitMungi-MSFT commented on #26845
@ianhuynh Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-03-12 06:32] dcbrown16 opened #26850 "Outbound IP address?"
Why would you note down the outbound IP address to register here? Shouldn't it be the Virtual IP Address (inbound IP) of the Web App?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c48f4d61-3e3d-30f8-b86c-1da0657e684d
* Version Independent ID: 3a036764-9d39-8c83-f5ea-1cdc321c370f
* Content: [Host load-balanced Azure we

[2019-03-12 06:32] yashapatel786 commented on #11046
[> @smcd253 glad that you finally made it through :)!

Having the same issue in starting IoT edge daemon. Please refer to this issue :
[https://github.com/Azure/iotedge/issues/940](https://github.com/Azure/iotedge/issues/940)

[2019-03-12 06:32] RohitMungi-MSFT commented on #26844
@ianhuynh Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-03-12 06:32] SubhashVasarapu-MSFT commented on #26739
@gaurav5430 , Thanks for your suggestion on docs experience. We are looking into this feedback and will update you as soon as possible.

[2019-03-12 06:52] msrini-MSIT commented on #26731
@gaurav5430 , Lets say if you are using TCP probe, LB basically check whether it can establish a successful 3 way handshake to the configure probe port. What if you have configured multiple site in the same port and one site is returning 500 when accessed.

That's how you can use HTTP/HTTPS probes and specify a unique path and make sure your site is UP and running. Additionally, if one of your VM

[2019-03-12 06:55] msrini-MSIT commented on #26732
@gaurav5430 , You have PowerShell Scripts to check the CPU utilization of your VM. So you can add a trigger, when it reaches threshold, probe page will return non 200.

[2019-03-12 07:02] RohitMungi-MSFT commented on #26843
@ianhuynh The current prebuilt entity GeographyV2 identifies the countryRegion in the user utterance, countryRegion is the [subtype ](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-reference-prebuilt-geographyv2#subtypes)of GeographyV2 prebuilt entity.

Here is a screen shot of my app that I tested with the prebuilt entity GeographyV2 and it identifies the entity after adding

[2019-03-12 07:15] wassx commented on #26252
Thanks for clarification!

[2019-03-12 07:16] ManojReddy-MSFT commented on #25419
@htate1234 Sorry for the delayed response.  The product team confirmed that he section you want to customize cannot be modified currently.

You will have to use PS/Graph API to make the invitations and suppress the invitation email from being sent. Post that you can send a completely customized email as per your requirement. You will have to set "sendInvitationMessage" parameter to false for suppr

[2019-03-12 07:25] angoyal-msft commented on #26352
@Josh-Broughton Thanks for your patience. I have checked with Product Group team. This is what their reply is : For Database we don’t have an Update exposed via CLI. So it’s not possible to modify throughput on a database with CLI after it has been provisioned.

As of now we do not have any timelines when will this be available.
So, we will now proceed to close this thread. If there are further qu

[2019-03-12 07:25] #26352 closed

[2019-03-12 07:28] DashleenBhandari-MSFT commented on #26846
@Leon99 can you provide the name of the plan. Also for how long are you seeing the memory >60%?

[2019-03-12 07:36] Sat0rN commented on #24762
Hi @SadiqhAhmed-MSFT  Thank you for answering! Regarding the backup policy, it's not possible to change parameters of an active SQL backup policy, you'd have to create a new one. So what happens to the data stored if a policy gets deleted?

And to verify, without throtteling at what number are the SQL databases concurrently being backupped?

[2019-03-12 07:36] YASWANTHM-MSFT commented on #26724
@PatMyron, Could you elaborate with more information on this to help better on this?

[2019-03-12 07:38] AjayKumar-MSFT commented on #24835
@carehart, Thank you for your feedback and apologies for any inconvenience! We’ve reached out to the owner of this feature and the team is working on updating this page with the up-to-date information as well as the additional details that were requested. This will take a bit of time to rewrite, but we will follow up on this post, when that goes through.
For now, we will close this out, but if you

[2019-03-12 07:39] darivuki opened #26853 "Configuring Log Analytics to send Azure diagnostics - Set-AzDiagnosticSetting"
Is it possible to enable only metrics instead of metrics and logs with this cmdlet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb75e535-de4f-e730-4dfb-dfc160386f45
* Version Independent ID: 6b355634-913c-65e4-62fa-a51cfeff143a
* Content: [Use PowerShell to Create and Configure a Log Analytics Workspace](https://doc

[2019-03-12 07:51] DashleenBhandari-MSFT commented on #26816
@kogesaka This feature is available only for App Service Environment(ASE). The ASE is a single tenant system. Because it is single tenant, there are some features available only with an ASE that are not available in the multi-tenant App Service (web App).

You can load root certificate in ASE. Here are the steps to do the same from portal:

	· Go to an app that needs the cert to be available.
	· P

[2019-03-12 08:13] Leon99 commented on #26846
B1. We've tried S1, it's even worse - 12-13% consistent CPU load with no apps.
Memory slightly above 60% all the time.

[2019-03-12 08:15] RohitMungi-MSFT commented on #26844
@ianhuynh Current 'rank' pre-built entity is not supported. But you can create a simple entity and train your model to recognize these entities. Here is a example of sample utterances I added to recognize some prebuilt entities like keyPhrase, number, percentage along with a custom entity called 'rank' of type simple.

Here is a screen shot of the utterances i added for my intent.

![image](https:

[2019-03-12 08:17] DixitArora-MSFT commented on #26742
@SwamyNallamalli Use of CRON expressions for the timer trigger in Azure function lets the timer trigger to run function on schedule.

A CRON expression includes six fields:
{second} {minute} {hour} {day} {month} {day-of-week}

Below example will trigger the function at 9:30 AM every Monday in January.

"0 30 9 * Jan Mon" | at 9:30 AM every Monday in January
-- | --

We can set the CRON expression

[2019-03-12 08:19] KrishnaG-MSFT commented on #24745
@cmeeren & @imeya I have checked with author @vgorbenko internally and got the below update from him.

"_This is a known limitation of the new metrics explorer. Unfortunately, I don’t have an ETA when this will be fixed. For now, the user can open Analytics and run the query to get the data he or she needs_".

Hope this helps!!

[2019-03-12 08:20] ishepherd opened #26855 ""Object level storage tiers aren't yet available""
[The pricing page](https://azure.microsoft.com/en-au/pricing/details/storage/data-lake/) quotes pricing for Cool/Archive on ADLS Gen 2.
So, are they now supported at object level?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46d15a48-4780-edbb-4485-121f901cbac9
* Version Independent ID: fc65764c-2d2a-4901-5c31-82b456

[2019-03-12 08:26] cmeeren commented on #24745
Thanks, but what is meant by "the query"? Using the new Metrics explorer, I can't see any way of getting to the underlying query in Analytics.

[2019-03-12 08:30] RohitMungi-MSFT commented on #26845
@ianhuynh I think this issue is similar to [26843](https://github.com/MicrosoftDocs/azure-docs/issues/26843) where country can be obtained from the GeographyV2 pre built entity. Please take a look at the example I provided in the issue [26843](https://github.com/MicrosoftDocs/azure-docs/issues/26843) for identifying countries.

[2019-03-12 08:31] michevnew opened #26856 "Modern auth"
Since when does Office 2010 support Modern auth? I doubt I've missed any announcement on this, but can you please double-check and correct the article. Also the link to "modern authentication" (https://aka.ms/modernauthga) is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12cbaf93-735d-e257-9203-0437bdf9d1ea
*

[2019-03-12 08:41] msrini-MSIT commented on #26850
@dcbrown16 , Thank you for providing your feedback. I will take a look and get back to you shortly.

[2019-03-12 08:41] jakaruna-MSFT commented on #26847
@yuriwoof Yes. Service principal passwords has that restriction.
Not sure whether we can add that to the Document because thats not specific to this doc.

@iainfoulds Please provide your comments

[2019-03-12 08:46] jakaruna-MSFT commented on #26507
@v-kydela You are right.
I think we can change "Windows Server 2016 Datacenter" to "Windows Server" . That should avoid the confusion.

[2019-03-12 08:48] Anmolgan81 opened #26857 "How to Migrate AWS RDS PostGresql database to Azure SQL Database?"
Do we need to create VPN for RDS PostGresql database to azure sql database? since both of the databases can be publically accessable then whats the point of creating VPN connection between both of the systems?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5bcab499-9364-ccbf-4b6a-9dc220bfdf22
* Version Independent ID:

[2019-03-12 08:50] jakaruna-MSFT commented on #26438
@mayankag289 is there any update

[2019-03-12 08:51] alo360 opened #26858 "Disconnect the secondary database by using the planned termination mode (4).? How to use it? I can not see this option on azure database on geo-replicate"
Disconnect the secondary database by using the planned termination mode (4).
In this [article](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-manage-application-rolling-upgrade), I can not find out the termination mode to switch secondary database to read_write. If I cancel replicate this will disable replicate and I can not switch between two databases after upgrade schema.

---

[2019-03-12 08:53] DashleenBhandari-MSFT commented on #26816
@kogesaka Thank you for the prompt response. Closing the issue now.

[2019-03-12 08:53] #26816 closed

[2019-03-12 08:54] DashleenBhandari-MSFT commented on #26846
@Leon99 , Could you please provide the name of App Service Plan from Azure portal?

[2019-03-12 08:54] AjayKumar-MSFT commented on #26756
@carehart, Thanks a lot for your feedback on this! It’s much appreciated.
The document that you pointed out above has been referenced in this associated document already, under the section ‘Deploy WAR file’ -see Set and reset user-level credentials.

If you know the change that is needed in an article, we encourage you to submit the changes directly using a Pull Request (PR). If the change is larg

[2019-03-12 08:55] msrini-MSIT commented on #26850
@dcbrown16 , Yes your understanding is correct, that has to be Inbound IP address, but the first IP address which is listed in the Outbound IP list is always the Inbound IP address which the Web App uses.

If you want to test it out, first note down the first IP of the Outbound IP address from Properties and then to ping the WebApp's FQDN. You can compare the results and it will be the same as the

[2019-03-12 08:55] #26850 closed

[2019-03-12 08:58] jakaruna-MSFT commented on #26547
@iainfoulds I think @celamb4 is asking about the second question in [FAQ](https://docs.microsoft.com/en-us/azure/aks/configure-azure-cni#frequently-asked-questions).

Actual question is

No. Per-pod network policies are currently unsupported.

Do we need to update the answer for that question mentioning the preview support for per pod policies?

[2019-03-12 09:01] CHEEKATLAPRADEEP-MSFT commented on #26779
@leedabee Thanks for pointing out the issue. This issue has been addressed in the following PR [https://github.com/MicrosoftDocs/azure-docs/pull/26854](https://github.com/MicrosoftDocs/azure-docs/pull/26854).
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update

[2019-03-12 09:01] #26779 closed

[2019-03-12 09:03] KalyanChanumolu-MSFT commented on #26607
@stratospheres
I have submitted a Pull request to the Azure Samples code repo to address this issue.

@SnehaGunda Please approve the pull request.

[2019-03-12 09:16] SumanthMarigowda-MSFT commented on #26849
@dcbrown16 Thanks for your question. We are checking on this and will respond to you soon.

[2019-03-12 09:18] forester123 opened #26859 "The code examples still use the ACS auth model which is deprecated"
As titled, the code examples should be updated to use AAD credentials, ACS is deprecated. This kind of issue also exists in many other media service docs. Suggest to update and fix them all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94073f74-6def-a2d7-a22b-c49c690444ac
* Version Independent ID: bb525388-9376-979f-

[2019-03-12 09:28] SadiqhAhmed-MSFT commented on #26853
@darivuki Thanks for the comment! Yes, it is possible to enable only metrics. Refer to [link1 ](https://docs.microsoft.com/en-us/powershell/module/azurerm.insights/set-azurermdiagnosticsetting?view=azurermps-6.13.0#examples )and [link2](https://docs.microsoft.com/en-us/powershell/module/az.monitor/set-azdiagnosticsetting?view=azps-1.4.0)

[2019-03-12 09:39] jakaruna-MSFT commented on #26783
@roygara Please add your comments

[2019-03-12 09:40] jakaruna-MSFT commented on #26501
26512

[2019-03-12 09:44] darivuki commented on #26853
Ahhh! The trick is to explicitly enable metrics without explicitly enabling logs. Thank you!

[2019-03-12 09:51] Expecho opened #26860 "Azure Point-in-time restore fails due to insufficient permissions, required permissions should be in the docs"
When attempting a Point-in-time restore it fails with a generic message with no details as to why it may have failed. When doing it as a member with the Owner role it does work. I have assigned the user the Contributor role but this did not help. It would be really helpful if the documentation includes the required permissions.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-03-12 10:03] PramodValavala-MSFT commented on #26713
@CeciAc @tomkuijsten I believe that line should be something like this instead

@spelluru @axisc Could you confirm?

[2019-03-12 10:09] SadiqhAhmed-MSFT commented on #26853
@darivuki Happy to help! We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-12 10:09] #26853 closed

[2019-03-12 10:15] PramodValavala-MSFT commented on #26707
@hkusulja That's a good question!

Azure Logic Apps is set to replace Azure Scheduler as mentioned in this [official announcement](https://azure.microsoft.com/en-in/updates/azure-scheduler-will-retire-on-september-30-2019/). So, the Recurrence Trigger supports the advanced examples mentioned [here](https://docs.microsoft.com/en-us/azure/scheduler/scheduler-advanced-complexity#examples-recurrence-s

[2019-03-12 10:25] AlejoSQL commented on #26705
Hi @SumanthMarigowda-MSFT :

We have had multiple clients really wanting to understand the inner workings of Azure storage. We have been able to explain this for multiple other components (Azure SQL DW Gen 2, Azure Managed Instance, Hyperscale) , but storage has been really difficult and a blocker to get past RFP stage... We always get scored low there.

Also, because it helps us better and more c

[2019-03-12 10:27] Leon99 commented on #26846
The name is lx-auea-1. Does it help?

[2019-03-12 10:34] KalyanChanumolu-MSFT commented on #26605
@stratospheres Thank you for letting us know.
This is being assigned to the content author to evaluate and update as appropriate. 

[2019-03-12 10:35] abhiSakhuja opened #26862 "Another issue with non-availability of operation model"
Hi Team,

It's been found that "activity_runs.list_by_pipeline_run" is not available in "azure.mgmt.datafactory.models.ActivityRunsQueryResponse" module. However, we have a different function as "query_by_pipeline_run" which doesn't redirect list directly to ActivityRun module "azure.mgmt.datafactory.models.ActivityRun". And also, date format must be ISO (as per the module "ActivityRunsOperations"

[2019-03-12 10:40] hkusulja commented on #26707
@PramodValavala-MSFT I am using Azure Logic App, with trigger -
[code]

Now I see your example, i have modified it to:
[code]

Please confirm this is only UI / designer issue, and it will be fixed? can you document that this is only code option?

[2019-03-12 10:50] mayankag289 commented on #26438
HI team,

I think the reason is the port which is used to connect to the link. Port
443 is disabled due to client policy and when i checked with fiddler, the
link uses this port. I think that is the reason i am not able to download
this.

I am not sure if there is any other link or solution which you can
provide.

Thanks for the help.

Thanks,
mayank

From:   "notifications@github.com" <notificati

[2019-03-12 10:54] SimonKanaan opened #26863 "Commands don't work"
Had to change to following...

Login-AzureRmAccount

# Variables for common values
$resourceGroup = "myResourceGroupSK"
$location = "westeurope"
$vmName = "myVM"

# Create user object
# Notes - Admin or Administrator is not allowed)
$cred = Get-Credential -Message "Enter a username and password for the virtual machine."

# Create a resource group
New-AzureRmResourceGroup -Name $resourceGroup -Loca

[2019-03-12 10:54] femsulu commented on #26391
Hi @ctaggart according to my research, only KubeEvents_CL & KubePodInventory_CL are only for AKS. the remaining logs are for ACS. AFAIK events ContainerLog and ContainerLogPoc are synonymous and should contain the same logs. Please verify and let me know if this isn't the case for you.

We will now close this issue. If there are further questions regarding this matter, please reply and we will gla

[2019-03-12 10:54] #26391 closed

[2019-03-12 11:02] jakaruna-MSFT commented on #26501
@ctaggart Currently monitoring ACI events via Azure monitor is not supported.
There is an excising feedback [here](https://feedback.azure.com/forums/602224-azure-container-instances/suggestions/33771877-eventgrid-notification-when-aci-container-stops) which is asking for the Event grid notification when container terminates.
Please up vote that feedback or create a new one. Product teams will be l

[2019-03-12 11:09] angoyal-msft commented on #26860
@Expecho Thanks for your feedback. I believe this is the [documentation](https://docs.microsoft.com/en-us/sql/relational-databases/backup-restore/restore-a-sql-server-database-to-a-point-in-time-full-recovery-model?view=sql-server-2017#Permissions) which can help user to understand the permissions required for Point-in-time restoring the database.

Anyhow would assign this issue to content author

[2019-03-12 11:09] femsulu commented on #26457
@qianw211 & @vikaskumawat80  - any idea if plan upgrade is supported?

[2019-03-12 11:13] #26863 closed

[2019-03-12 11:13] SimonKanaan commented on #26863
https://azure.microsoft.com/sv-se/blog/azure-powershell-cross-platform-az-module-replacing-azurerm/

[2019-03-12 11:30] anwarmahmood1 opened #26864 "federated? managed? what do these terms mean? Please add 'authentication' to make it clearer!"
It currently says...

Beginning with version 1.1.819.0, Azure AD Connect provides you with a wizard to configure hybrid Azure AD join. The wizard enables you to significantly simplify the configuration process. For more information, see:

    Configure hybrid Azure Active Directory join for federated domains

    Configure hybrid Azure Active Directory join for managed domains

It would be clearer

[2019-03-12 11:34] femsulu commented on #26459
@helderpinto please [review the documentation](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/archive-diagnostic-logs#diagnostic-settings) on how to update log retention period via diagnostic settings.
![image](https://user-images.githubusercontent.com/34327711/54196976-03194080-4480-11e9-9b3a-69b2a3e43efe.png)

[2019-03-12 11:34] #26459 closed

[2019-03-12 11:39] ToMakeSense opened #26865 "limit usage regarding ARM function --> reference"
The documentation I am referencing: [Resource functions for Azure Resource Manager templates# reference](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-template-functions-resource#reference).

I used sample ARM template below for logic app deployment, it refering to existing function app in the same resource group which is deployed ahead
[code]

when redeploying this

[2019-03-12 11:41] SaurabhSharma-MSFT commented on #26573
@rishtech Are you checking the SAML tokens as SAMLClaimType is used for emitting the claims in SAML tokens ?

[2019-03-12 11:41] liamfoneill opened #26866 "Prevent Creation of Additional AAD Tenants?"
I wish to be able to prevent my users from being able to create additional AAD tenants. How can I do so?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ce34b51-c8d3-32cc-6a22-7928fb522a05
* Version Independent ID: 59b90561-8d1e-6521-0f60-98fbfda70922
* Content: [Quickstart to access and create a new tenant - Azure Act

[2019-03-12 11:49] jakaruna-MSFT commented on #26863
@SimonKanaan Good to know that your issue is resolved.
Feel free to post here is you face any new issues.

[2019-03-12 11:50] SumanthMarigowda-MSFT commented on #26712
It’s going to be updated soon, You may keep a track on Azure [Updates](https://azure.microsoft.com/en-in/updates/
)

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issu

[2019-03-12 11:50] #26712 closed

[2019-03-12 11:53] SumanthMarigowda-MSFT commented on #26316
@jeremyhagan Can re-try Disk Encryption process and let me know the status, we are able to encrypt as mentioned in the Document

[2019-03-12 11:57] taranais commented on #25542
is there  any progress in this issue ?

[2019-03-12 12:01] ChiragMishra-MSFT commented on #26862
@abhiSakhuja Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-03-12 12:05] femsulu commented on #26460
Hi @StingyJack , custom dashboards are supported depending on the type of resource/data point you are trying to represent. For example, Application Insights supports creation of custom dashboards. can you share more details on your customization scenario? Also worth mentioning you have the option to either [share feedback directly](https://feedback.azure.com/forums/223579-azure-portal) with the Po

[2019-03-12 12:08] ctaggart commented on #26501
Which API would you use to query the events? Something in here?
https://docs.microsoft.com/en-us/rest/api/container-instances/container

[2019-03-12 12:08] femsulu commented on #26482
thanks for the pointer @Placid7.
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-03-12 12:08] #26482 closed

[2019-03-12 12:11] chrislewisdev2 opened #26867 "Geo Replication Missing"
The list of factors you have for what may affect the number of request units does not include global distribution scenarios which may also impact the number of RUs :  https://docs.microsoft.com/en-us/azure/cosmos-db/scaling-throughput

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abb0beaa-01ab-7031-937e-2d44c147b5d2
*

[2019-03-12 12:11] SnehaAgrawal-MSFT commented on #26606
@carehart we have made a pull request for adding the referenced document. The changes will be pushed after the author reviewer.

[2019-03-12 12:15] Blackmist commented on #25353
@gitathrun @Bpratt thanks for your feedback on this! Since this is not a documentation change, but a feature request (and has been added to the backlog for the service,) I will mark this as closed.

#please-close

[2019-03-12 12:16] hakimtaoussi opened #26868 "picture error"
hi,
below the sentence"And the IssuerUri on the new domain has been set to https://bmfabrikam.com/adfs/services/trust", the picture associated is incorrect.
regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 081729e5-959f-d8c2-de1b-b035c6dbc8fb
* Version Independent ID: c93eda68-5b52-04bf-fca2-53bb7eba178a
* Conten

[2019-03-12 12:22] ctaggart commented on #26391
@femsulu, when I query `ContainerInventoryPoc` there is nothing in it and we definitely have containers instances. I'd like to be able to [query logs for container data](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/containers#to-query-logs-for-container-data), but I am unable to. I'm guessing that ACS doesn't support that log, but in your research, you came to a different conclusi

[2019-03-12 12:22] jtuliani commented on #11667
@TravisCragg-MSFT  Any update? Thanks...

[2019-03-12 12:23] gitathrun commented on #25353
Alright, @Bpratt , but it can be solved by using Dockerfile installation with

RUN apt-get install build-essential

Thanks for the reply anyway.

Marked close

[2019-03-12 12:23] #25353 closed

[2019-03-12 12:24] gitathrun commented on #25451
Any update with this topic?

[2019-03-12 12:26] Taharez commented on #26714
@MicahMcKittrick-MSFT I did the same thing (just the example with changed names/location), so not sure what is going on. Some difference in version of one of the modules?

[2019-03-12 12:28] AjayKumar-MSFT commented on #26710
@BujarMurati, We have made a pull request to update the code to ' az webapp up -n <yourappname>' , the doc changes will be pushed after author's reviewal. Thanks again for reporting this!

[2019-03-12 12:30] jtuliani opened #26869 "Video link busted"
Video link is broken. And the text refers to distcp, not Sqoop

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5af1384a-5be4-0627-019e-f284a17d3f6a
* Version Independent ID: b1b046c8-9de0-a8d1-80f2-c3c15e4bbd02
* Content: [Copy data between Azure Data Lake Storage Gen1 and Azure SQL database using Sqoop](https://docs.mi

[2019-03-12 12:31] htate1234 commented on #25419
Thank you for the update.

If the email invitation is sent through the API, does that mean it’s not automatic? Meaning, I need to manually trigger an email for each invite?

If not, and there’s a way to do it automatic, if there any way I could get one of your times to get on a 20-30 minute call to assist me in just giving me a walkthrough/overview of the process?

Harold Tate
E-Mail: HTate@Accent

[2019-03-12 12:34] craigshoemaker commented on #26497
Thanks, @mswilson4040 I'm looking into this with the Product Team

[2019-03-12 12:37] femsulu commented on #26554
adding @georgewallace to confirm but afaik the Azure Automation update management solution takes care of this on your behalf. Are you asking about non-Azure/ on-prem VMs?

ref this [blog post](https://www.petri.com/azure-update-management-part-1-overview-and-enrolling-azure-vms) on update management for details.

[2019-03-12 12:46] murdockcrc opened #26870 "Trying out DTracing with C#"
Reading section "Using third-party clients", I understand that I only need to add the key/value "tracestate" to the dictionary of application properties in the instance of "Message" class. I have implemented that and receive the following payload in IoT Hub:

 "applicationProperties": {
    "tracestate": "timestamp=1552394581",
    "temperatureAlert": "false"
  }

Is this the correct implementatio

[2019-03-12 12:52] dsindona commented on #21043
@mimig1 Mike is taking care of Dan's issues. @v-miclar Can you please update the author and ms.author values for this file when you address this issue?

[2019-03-12 12:52] tfitzmac commented on #26865
@ToMakeSense - I would suggest using the [copy element](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-create-multiple#property-iteration) on the resource property. You should be able to use the length function with your split function to get the number of elements in the array. You would use that value for the count.

I haven't tested your scenario myself, but let us

[2019-03-12 12:57] lesterw1 opened #26871 "How about a SIMPLE example?"
The examples here are great but as a new user, I just want to do a very simple single keyword search on a single data source for data appearing in any column.  For example, consider the data source "signinlogs"... I want to find instances where "Jones" appears. Can you provide an example?   Everything I have tried fails with a syntax error.

---
#### Document details

⚠ *Do not edit this section.

[2019-03-12 13:00] jbpaux commented on #26780
You have to use an older version of azcopy as the latest one is built against newer storage api versions not compatible with azure stack ... Follow instructions here : https://docs.microsoft.com/en-us/azure/azure-stack/user/azure-stack-storage-transfer#azcopy (yes I know, it's a shame and not the hybrid promise but I hope API versions will bump soon)

[2019-03-12 13:07] jflieben commented on #26723
https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/licensing-groups-assign

[2019-03-12 13:10] mayurigupta13 commented on #26738
Please raise this issue in a support ticket.

[2019-03-12 13:16] PramodValavala-MSFT commented on #26707
@hkusulja Yes. Its just that the UI doesn't support these advanced schedules yet.
Also, if you were wondering, the [JSON schema](https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json) for the Logic App confirms the validity of these options.

Please feel free to open a feature request on [UserVoice](https://feedback.azure.com/forums/287593-logic-a

[2019-03-12 13:22] dwumpus commented on #10427
same

[2019-03-12 13:22] toddgauntgs opened #26872 "Revocation Lists Question"
Hi,

It would be great to know if Azure handles checking revocation lists for X.509 certificates used to authenticate devices for either the Azure Device Provisioning Service or the Azure IoT Hub. Very interested to know if CAs have any authority here, or if it is up to programmatically blacklisting devices on Azure

-- Todd
---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-03-12 13:23] coreyzw opened #26873 "RBAC not the same for guest accounts in AAD vs local accounts"
Having a guest account that is an Owner in a management group and inhereted owner of a subscription will not allow the assignment of a blueprint however a local account in the same group can. There may be an issue with how guest accounts are given RBAC specifically for this. In this case "Owner" is not the same behind the scenes.
Case for this would be a federated AAD used for general access and t

[2019-03-12 13:24] hkusulja commented on #26707
yeah, please update the docs, and say this options is only through code/JSON , not in Designer / UI... tx

[2019-03-12 13:26] nils-a opened #26874 "can a "Key Vault reference" be used in local development"
Is it possible to use the `@Microsoft.KeyVault()`-Syntax in `local.settings.json`?
Please add some documentation on whether it is or is not possible to do this.
(And if it is, how to do that...)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7feaa3d0-7233-a3cb-cb9b-a9a55b1f0d7a
* Version Independent ID: f41f9d51-52f8-1

[2019-03-12 13:29] femsulu commented on #26567
@mayurigupta13 - thoughts please?

[2019-03-12 13:31] csukppcy opened #26875 "/29 subnet requirements"
Raised a call regarding unable to provision application gateway into an empty /28 & /29 - upon raising a support call we can see it needs to be a /27 or bigger to be able to do this via the portal.

Question which is misleading:
How large should I make my subnet for Application Gateway?
Application Gateway consumes one private IP address per instance, plus another private IP address if a private f

[2019-03-12 13:37] SaurabhSharma-MSFT commented on #26654
I suggest you please open a new MSDN forum post with the details and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required.  Please provide the MSDN link over here so that I can help you getting answered.

[2019-03-12 13:41] kscerri opened #26876 "Previous tutorial with git deployment"
The previous version of this documentation made use of local-git rather than zip deployment. As asked previously, can you please share the previous tutorial?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0077a811-b0b7-93b1-80b0-a4d45615ef4b
* Version Independent ID: cc95198d-5560-2bf1-09ae-b8d210e45f2d
* Content: [Cre

[2019-03-12 13:44] SaurabhSharma-MSFT commented on #26725
@jofrance Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-03-12 13:45] SaurabhSharma-MSFT commented on #26730
@cyberswimmer Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-03-12 13:49] sghdesign commented on #24689
Any update on this issue?

[2019-03-12 13:51] scottsa-msft opened #26878 "Permissions and how they impact Office 365"
It would be good to have a chart that would break out each of the Azure admin roles as rows and have in a column if they impacted Azure and another column that shows if they impact Office 365 roles, and a third for security and compliance center roles.     This data is buried in the details above but it would be good to add a simple chart as companies assign Azure admin roles and miss that this is

[2019-03-12 13:54] expiscornovus opened #26879 "Can the import from pbix article be changed/removed?"
I am pretty new to Azure Analysis Services, so I followed the instructions of this article.

But since the web designer is deprecated shouldn't it be better to just remove the whole article since imported a pbix from the web designer isn't supported anymore?

https://azure.microsoft.com/en-us/updates/azure-analysis-services-web-designer-to-be-discontinued/

⚠ *Do not edit this section. It is requi

[2019-03-12 14:00] mayurigupta13 commented on #26567
We have received this feedback and are currently verifying this behavior.

[2019-03-12 14:09] moazmirza opened #26880 "Possible typos noted on ASR documentation"
Please review the following possible typos:
1. In Section VMWare to Azure Architecture (https://docs.microsoft.com/en-us/azure/site-recovery/vmware-azure-architecture), the VMWare to Azure replication diagram misspelled HTTPS 443 as HTPPS 443
2. This probably isn't a typo but initially I thought it was. Under Azure to Azure Architecture (https://docs.microsoft.com/en-us/azure/site-recovery/azure-t

[2019-03-12 14:11] pochiraju commented on #26857
No need of VPN when migrating form RDS PostgreSQL to Azure SQL Database as both support public endpoint.  But DMS doesn't support this specific migration scenario, we support migrating from RDS PostgreSQL to Azure Database for PostgreSQL, is that what you are looking for?

[2019-03-12 14:14] Anmolgan81 commented on #26857
Yes we have RDS PostgreSQL to Azure SQL Database migration. So we dont need to create VPN for this, how will we whitelist the public IP address of DMS in order to connect to the AWS Source server?

[2019-03-12 14:15] georgewallace commented on #26554
@jquinn99002 Thanks for reaching out... We talk about this is different sections in the Update Management documentation. The simple answer, whatever is right for your environment.  Some environments may want the local Windows Update settings to automatically update so no matter if you have a deployment or not, you know your machines are patched. Other environments may only deploy certain patches a

[2019-03-12 14:16] Anmolgan81 commented on #26857
Also I couldnt find any tutorials on Migrating RDS PostgreSQL to Azure Database for PostgreSQL?

[2019-03-12 14:17] rishtech commented on #26573
This doesn't work either in SAML or JWT.

On prem CO attribute is synced to the country attribute of Azure Active Directory.
Above mentioned is the policy that I have created to send country attribute named as location.

This doesn't work if the value is "India", it does work if it is ''IN''.
If we follow the article, the attribute value will be sent as it is in the claims, would appreciate if you

[2019-03-12 14:24] Blackmist commented on #25362
Hi @letmaik the binary data example takes whatever data you send and reverses it on the `respBody.reverse()` line. So it only reverses the data once. It's a contrived example, since there are no Jupyter Notebooks currently that demonstrate how to use binary data with a deployed model.

Would it be clearer if it just returned the text that you sent it vs. the call to reverse the data?

[2019-03-12 14:24] stardusttrans opened #26881 "Becoming a Custom Control provider"
Hi,
I'm working at a leading Identity and access management company.
We are interested to become a 3rd Party MFA provider for Azure Custom Controls.
Could you please advise on the on-boarding process?
Thanks

[2019-03-12 14:25] emres opened #26882 "Which AutoML components aren't compatible with Python 3.7?"
Regarding the following statement:

 "Azure Machine Learning SDK will work with Python 3.5.2 or later, but the automated machine learning components are not fully functional on Python 3.7".

which automated machine learning components are not fully functional on Python 3.7?

What are the reasons for that?

Is there a timeline when they will be compatible with Python 3.7.x ?

---
#### Document Deta

[2019-03-12 14:27] mestew commented on #26725
@msmbaldwin

[2019-03-12 14:32] PatMyron commented on #26724
It'd be nice to be able to filter these used capacity metrics per container in the portal:

<img width="1458" alt="Screen Shot 2019-03-12 at 10 30 44" src="https://user-images.githubusercontent.com/7014355/54208289-fad9f900-44b1-11e9-85e1-dc3282a818b5.png">

[2019-03-12 14:42] sdgilley commented on #25943
@CeciAc, can you tell me which part of the document this comment is about?  I don't see the text "Identify Azure Subscriptions" anywhere in the English version.  Thanks.

[2019-03-12 14:45] RyanHill-MSFT commented on #26876
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-12 14:56] CeciAc commented on #25943
你好，@saraao
我们诚挚感谢你的评论，我们会努力改善你在 docs.microsoft.com 的使用体验。但是，为了解决你的反馈，我们需要更多信息。你可以提供更为详细的信息并阐明你的评论吗？
顺祝商祺！
Microsoft DOCS 国际团队

[2019-03-12 14:59] diberry commented on #26700
@xvercruysse Thank you for reporting this. @RohitMungi-MSFT  I'll look into this. #in-progress

[2019-03-12 15:02] letmaik commented on #25362
I would remove the reversing completely as it gives the impression that you *have* to do that before further processing the binary data. So, yes, just returning the same without reversing is clearer.

[2019-03-12 15:03] YASWANTHM-MSFT commented on #26855
@ishepherd, Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-03-12 15:03] DCtheGeek commented on #26873
@coreyzw Thanks for the feedback. I'm looking into this with the PM.

@MicrosoftDocs/azure-cxp-triage Please assign to me, label 'product-question', label 'blueprints/svc', and #in-progress

[2019-03-12 15:05] helderpinto commented on #26459
I am sorry @femsulu , but you misunderstood my point. I was not referring to the Azure Diagnostics settings that are available in almost every Azure resource. I was referring specifically to the Azure Diagnostics VM Extension that behaves in a completely different manner and does not allow to forward logs to Log Analytics nor to Event Hubs and does not allow us to specify the retention period. So

[2019-03-12 15:07] Placid7 commented on #26576
I have my Security Center connected in Data Collection. There is no option to add a "Security Center" dashboard in Sentinal.

[2019-03-12 15:15] diberry commented on #26844
@RohitMungi-MSFT Can you please send me your app JSON file for this? I would like to include this in a doc about modeling techniques and suggestions.

[2019-03-12 15:16] Sheikh-Aman opened #26884 "Directory Listing available while the build is in progress"
I am not sure if it's a content issue or product, but I am confident that there are better ways of doing this.

I am deploying my existing RoR code using this guide, and I pushed my code to Azure, waiting for it to build, and am receiving updates from remote server.

While all this is happening, I checked my app's URL, and I can see the directory listing, exposing all my code etc.
I don't think th

[2019-03-12 15:17] shashishailaj commented on #26864
@anwarmahmood1 Thank you for your feedback . We will have this content reviewed and actioned accordingly as per review.

[2019-03-12 15:21] shashishailaj commented on #26866
@liamfoneill Thank you for your query. We will investigate and update this.

[2019-03-12 15:23] shashishailaj commented on #26874
@nils-a Thank you for your query . We will investigate and update this thread.

[2019-03-12 15:24] shashishailaj commented on #26882
@emres Thank you for your query . We will investigate and update this thread.

[2019-03-12 15:28] shashishailaj commented on #26881
@stardusttrans Thank you for your interest in Azure custom controls program related to 3rd Party MFA . We will have this checked internally and update this thread.

[2019-03-12 15:29] Blackmist commented on #25362
Thanks @letmaik I'll make that change and add some code comments also.

[2019-03-12 15:30] shashishailaj commented on #26880
@moazmirza Thank you for pointing the typos. We will have this reviewed and actioned accordingly.

[2019-03-12 15:31] msmimart commented on #25419
@ManojReddy-MSFT thanks - I'll update the screenshot.

[2019-03-12 15:33] shashishailaj commented on #26879
@expiscornovus Thank you for your query . We will have this investigated and update this thread.

[2019-03-12 15:35] shashishailaj commented on #26878
@scottsa-msft Thank you for your query. We will have this investigated and update accordingly.

[2019-03-12 15:35] Placid7 commented on #26482
@femsulu Why is this being closed? No one addressed the issue. What I gave was a work around no a resolution.

[2019-03-12 15:37] shashishailaj commented on #26871
@lesterw1 Thank you for your feedback . We will have this request reviewed and updated.

[2019-03-12 15:38] Placid7 commented on #26482
@MohitGargMSFT @femsulu  Why is this being closed? What I offered was a work around. No one addressed the issue or gave a resolution.

[2019-03-12 15:38] shashishailaj commented on #26869
@jtuliani Thank you for pointing that out . We will have this reviewed and actioned accordingly.

[2019-03-12 15:39] qianw211 commented on #26457
@v-miclar Mike, could you please take a look at this?  Thanks!

[2019-03-12 15:40] Adam-Smith-MSFT commented on #26496
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-12 15:40] #26496 closed

[2019-03-12 15:40] shashishailaj commented on #26868
@hakimtaoussi Thank you for pointing that out. We will review and update this thread accordingly.

[2019-03-12 15:46] rboucher commented on #26459
@helderpinto Thanks for your question.  A couple things. The VM Extension does allow forwarding to Eventhubs as listed in this page.  Second, you are correct that there is no retention period to specify for deletion of this type of data from Azure Storage.  We do expect that you will delete your own data when you no longer desire it.  When I search the internet, there are a number of strategies th

[2019-03-12 15:47] pinyuko commented on #25948
Do we have update on this? Thanks!

[2019-03-12 15:55] kscerri commented on #26876
Thanks … Look forward to your reply.

Ken

[2019-03-12 15:56] CarlRabeler commented on #26760
PR has merged - change live later today

[2019-03-12 16:03] expiscornovus commented on #26879
Thanks @shashishailaj :)

[2019-03-12 16:09] jancorluy commented on #20362
According to this documentation: https://docs.microsoft.com/en-us/azure/service-fabric-mesh/service-fabric-mesh-secrets-overview Service Fabric Mesh is using Azure key vault integration, is this correct?
Here is the text:
Inline or stored in Azure Key Vault
Mesh applications and service resources include Managed Service Identity (MSI) with Azure Active Directory (AAD) in order to be able to access

[2019-03-12 16:11] jancorluy opened #26885 "Service Fabric Mesh, using secrets combined with azure key vault"
According to this documentation: https://docs.microsoft.com/en-us/azure/service-fabric-mesh/service-fabric-mesh-secrets-overview Service Fabric Mesh is using Azure key vault integration, is this correct?
Here is the text:
Inline or stored in Azure Key Vault
Mesh applications and service resources include Managed Service Identity (MSI) with Azure Active Directory (AAD) in order to be able to access

[2019-03-12 16:12] hrboyceiii opened #26886 "Policy Definition Schema is not up-to-date"
Two items I have discovered where the schema incorrectly marks the policy as invalid:

1) a parameterized value for the "effect" property
2) Valid values for the effect enum does not include "disabled"

Is there a more recent policy schema available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9762f1b7-0e3a-d58f-fd9

[2019-03-12 16:16] carehart commented on #24835
Thanks, but I am curious: why would the ticket be closed before the change was made? That would seem to remove the motivation for those concerned to get the change done. Or am I missing something about that perhaps being a stated approach taken with the docs now being tracked in github?

My concern is that someone looking at the page online will NOT see this as an "open issue", and therefore would

[2019-03-12 16:16] WagoL opened #26887 "Configure service connectivity monitors with powershell"
Is it possible to add/delete/update connectivity monitors with powershell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1facbcdc-5bf4-2036-e4a1-661d7c2d53ef
* Version Independent ID: 5f1985fa-c239-9d51-f27c-2f323fe2799e
* Content: [Network Performance Monitor solution in Azure Log Analytics](https://docs.microsoft.co

[2019-03-12 16:19] AzureStacker opened #26888 "Changes - After installing updates or hotfixes to Azure Stack - Forever?"
The change which requires the following commands to be run:

$adminResourceManagerEndpoint = "https://adminmanagement.&lt;region&gt;.&lt;domain&gt;"
$homeDirectoryTenantName = "&lt;homeDirectoryTenant&gt;.onmicrosoft.com" # This is the primary tenant Azure Stack is registered to

Update-AzsHomeDirectoryTenant -AdminResourceManagerEndpoint $adminResourceManagerEndpoint `
  -DirectoryTenantName $hom

[2019-03-12 16:21] quincycs opened #26889 "Signout scenario not described."
Quickstarts for V1 describe recommendations on how to sign out.  V2 still uses a browser to signin, therefore what is the best way to clear the logged in state of the browser context so that a user can signin with a different user?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae07d114-c399-29bb-ea3c-40fab750eed4
* Ve

[2019-03-12 16:22] jancorluy commented on #25285
Hi @vikramdadwal I couldn't help noticing to see that you use secrets there in your service fabric mesh application, I would like to use them too in combination with azure key vault.  Can you link me to any documentation or provide me with a sample on how to use it?

[2019-03-12 16:25] gaurav5430 commented on #26739
Also `aria-role="button"` should just be `role="button"`

[2019-03-12 16:27] gaurav5430 commented on #26732
That's great, where can i find an example of such Powershell scripts?
Also, I am interested in understanding if such an optimization would actually be required in real life scenarios, or would it be somehow handled by LB and scale sets?

[2019-03-12 16:28] andrewdmoreno commented on #25285
@jancorluy - Yeah I think something must have changed since I reported that I got it working. After subsequent deployments of my application it has stopped functioning for me. I have opened Azure/service-fabric-mesh-preview#353 with a sample git repo just trying to get the out of box asp net core api sample to run using https. Has been quite frustrating.

Not sure if @vikramdadwal is still having

[2019-03-12 16:31] carehart commented on #26756
Ah, I see that now. I guess I missed it because that sentence is in a paragraph separate from the one above, and prefaced with, "For the HTTP BASIC authentication, you need your App Service deployment credentials." I guess I would just ask: is that sentence really needed? If instead the one referring to this link was simply made the last sentence of the previous paragraph, I suspect it would be mo

[2019-03-12 16:34] karthikdevarakonda commented on #26514
Just wanted to follow up on this to check if there is any update?
- Karthik

[2019-03-12 16:35] aschemel commented on #26729
Hi @Diro92!

I think you should take a look at https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-send-welcome-message?view=azure-bot-service-4.0&tabs=js

[2019-03-12 16:42] sdgilley commented on #25943
Sorry, I meant to say can you tell me where this is in the English version of the article?  Thanks.

[2019-03-12 16:42] AjayKumar-MSFT commented on #24835
@carehart, Sorry about that, as I mentioned we have been discussing on this internally, the team is actively working on updating this doc with the up-to-date information and will surely follow up on this post as soon as we have more details to add. We are knee deep in refreshing this doc, so there's no way this work isn't being completed. Thanks again for your feedback and appreciate your co-opera

[2019-03-12 16:45] CeciAc commented on #25943
Hi @sdgilley
I'm not sure either, let's wait for the user's clarification, maybe it's not on this page
best regards

[2019-03-12 16:52] Karishma-Tiwari-MSFT commented on #26733
Thanks @paulbouwer :)
@jeffmartinxyz The update has been made.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-03-12 16:52] #26733 closed

[2019-03-12 16:52] ericdrobinson opened #26892 "Monitoring Functions on Consumption Plans?"
What features are **not** supported for monitoring a Functions app running on a [Linux] Consumption Plan?

Many of the features described in this documentation do not appear to work or reveal any actual information with such a setup.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13672b67-22ea-3dda-8b6b-3332c24e6030
*

[2019-03-12 16:52] dlenin opened #26893 "need more clarity"
Can you please provide more details on below statements as i finding difficult to follow using Visual code.
"Browse to Azure Templates.
In Filter by title, enter storage accounts.
Select Reference/Template reference/Storage//Storage Accounts as shown in the following screenshot"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-03-12 16:53] ToMakeSense commented on #26865
@tfitzmac see my test case below, it's not working. `reference` can't be used in `count` of [copy element](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-create-multiple#property-iteration).
[code]
when I hard cording with **`"count": 5,`**, the outputs are:
[code]

[2019-03-12 16:55] StingyJack commented on #26460
Take the webjobs tile as an example. It shows the count of webjobs on an app service, which is not useful for a dashboard. I would want to make a tile that lists webjobs with status

[2019-03-12 16:56] v-miclar commented on #26457
I have no idea what this man is talking about when he specifies "units".  Pricing is either monthly or yearly in USDs.  Maybe ask someone on your team?  @qianw211

[2019-03-12 16:57] StingyJack commented on #26460
Did not mean to close, crummy hotel WiFi and laggy mobile

[2019-03-12 17:01] Blackmist commented on #25362
Thanks again for the feedback @letmaik . I've updated the example to remove the reverse code and just return the posted data. I've also added comments like "In a real example, code to send the data to the model would go here".

This update should go live later today.

#please-close

[2019-03-12 17:02] ianhuynh commented on #26843
Hi  @RohitMungi-MSFT , your use case above references Delhi in India, Redmond in America.   Both are `cities` which are supported out of the box as subtype "city".   I am referring to `county` and this may only be relevant to North America.   The hierarchy would be

"Country : State/Province : County:  City"

E.g.

Jefferson County exists in Washington State:  https://www.co.jefferson.wa.us/
The s

[2019-03-12 17:03] helderpinto commented on #26459
I am sorry for the mistake regarding Event Hubs. Regarding the second point, I am just asking for a side note stating that retention is not configurable for the Azure Storage sink and what is the built-in (if any) retention period. With that note, customers will better understand what costs they will potentially incur in the future by sending VM Diagnostics Logs to Azure Storage. As far as I could

[2019-03-12 17:03] vhorne commented on #21863
Updated article with this info.
#please-close

[2019-03-12 17:04] axisc commented on #26713
@PramodValavala-MSFT - this is true.

[2019-03-12 17:05] ianhuynh commented on #26844
awesome!.  Will give this a try

[2019-03-12 17:05] AmanGarg-MSFT commented on #26787
@uopeydel Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-03-12 17:06] lmothander opened #26894 "Outdated Documentation"
Seems like this is out of date. The Request trigger no longer just says "Request", I am seeing "When a HTTP request is received". Additionally, there is not a "Show Advanced Options" section for me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a18a5a6-0630-17aa-a2d1-686e575d7e22
* Version Independent ID: 02b19cbb-7f

[2019-03-12 17:08] RyanHill-MSFT commented on #26722
@Expecho Manged identies do indeed apply to Elastic pools as well. The deployment options are really the only difference between a single instance and a managed pool.

[2019-03-12 17:09] #26722 closed

[2019-03-12 17:11] spelluru commented on #26526
@Silverlight42 - The EventProcessorHost hyperlink takes me to the following API page that shows the namespace details about the class.
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.eventhubs.processor?view=azure-dotnet.

I can include a note in the article but I am wondering if you looked at the hyperlink.

In the quick starts, we do have steps to add this package:

https://docs.micr

[2019-03-12 17:12] Roblarson opened #26895 "Are Underscores and Hypens supported or not supported?"
There are two notes marked Important in the user-assigned section. One says that user assigned names can only use alpha, underscore, or hyphen. The next one says that special characters are not supported. Which is it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2e9d8d8-1932-23e1-f6c4-0724d0fe0152
* Version Independ

[2019-03-12 17:13] PramodValavala-MSFT commented on #26713
@axisc Thanks for the confirmation! I am raising a PR with the fix.

[2019-03-12 17:13] ianhuynh commented on #26845
@RohitMungi-MSFT .    This is not a dup of #26843, sorry for the confusion in how the feedback was posed.

#26843 asked about the ability to extend geographyV2 to support county within the hierarchy (Country, State/Province, `County`, City, POI) .

#26845 This one is about creating alias (industry vertical specific terms) for `Country`.    For example,

USA is also known (geographically speaking)

[2019-03-12 17:16] CarlRabeler commented on #24877
@Mike-Ubezzi-MSFT please close based on above-referenced PR

[2019-03-12 17:17] mumian commented on #26893
@dlenin - Thank you for your feedback.  I  have made some changes to the article.  The changes will go live later today.  See this process helps:
1. Open "https://docs.microsoft.com/azure/templates/" in a web browser.
2. Select the "Filter by title" textbox in the upper left corner on the page, and then enter "storage accounts".
3. Expand "Reference/Storage/2018-07-01", and then select "Storage Ac