[2019-10-02 16:17] RyanHill-MSFT commented on #39935
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-02 16:18] mganeshphani commented on #39518
I had a similar scenario with databricks and they do a good job of masking these

[2019-10-02 16:19] MicahMcKittrick-MSFT commented on #39902
@runecalico thanks for this find.

@zr-msft @MicrosoftDocs/aks-pm thoughts on this?

It does seem a bit contradictory

![image](https://user-images.githubusercontent.com/32313503/66062119-a94c9680-e4f5-11e9-9f29-8145219f1946.png)

![image](https://user-images.githubusercontent.com/32313503/66062072-8f12b880-e4f5-11e9-9f6c-89c5ee97d470.png)

[2019-10-02 16:21] #39663 closed

[2019-10-02 16:25] mmacy commented on #39513
Hi @crixo, are you all set on this one? OK to close this issue?

[2019-10-02 16:27] sergaz-msft commented on #39958
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-02 16:33] hawkbox commented on #39870
It's not a 2016 issue, our AAD connect server is a 2012R2 box that has been running without issue for years.

[2019-10-02 16:33] StarWardo opened #39964 "Sphere not turning yellow"
The guide that I am following:
https://docs.microsoft.com/en-us/azure/spatial-anchors/tutorials/tutorial-new-unity-hololens-app#trying-it-out

I successfully follow the guide until: Upload your local anchor into the cloud
When I test the app on the hololens the sphere does not turn yellow.

-----

Debugger window is showing this when I tap on the hololens:
Exception thrown at 0x7694F322 in myappna

[2019-10-02 16:33] MicahMcKittrick-MSFT commented on #39923
@Ziimulis looks like it was just an oversight. We have more info available here:

https://docs.microsoft.com/en-au/azure/virtual-machines/windows/compute-benchmark-scores

I went ahead and updated this doc though. Once the PR merges the changes will go live after a few hours.

[2019-10-02 16:33] #39923 closed

[2019-10-02 16:36] #39749 closed

[2019-10-02 16:36] MicahMcKittrick-MSFT commented on #39926
@arsenyspb I am assigning this to the content author to review. We will need to confirm with the product team before making any updates/ statements around this.

[2019-10-02 16:37] anfelbeghoura opened #39965 "integrate code to CModule"
I'm working on raspberry pi 3 as the edge device and I have a C code that has his special libraries, it was tasted on raspberry pi 3 and works fine, but I need to integrate it on CModule, I tried to add the path of .c files and .h files to CMakeLists.txt file but it doesn't work so is there any document that explains how to add our special code to a CModule or to any other module???
Thank you

---

[2019-10-02 16:38] coryty87 opened #39966 "Permissions to add users"
What permissions level do you need in order to add users to the Device Admin group?  I have added our MSP to the Cloud device Admin group but the option to add a user is still Greyed out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 823c9751-c496-f972-3b1b-640a1bd81412
* Version Independent ID: 6951f3d5-c766-133c-478

[2019-10-02 16:41] jluk commented on #39639
@jenetlan tagging you per thread from Tony

[2019-10-02 16:49] virajith commented on #39683
The base documentation for Azure storage -- https://docs.microsoft.com/en-us/azure/storage/

[2019-10-02 16:51] arsenyspb commented on #39926
That works for me. Please loop the colleagues in, and let's clarify this.
Many thanks.

On Thu, 3 Oct 2019 at 00:36, Micah <notifications@github.com> wrote:

--
Regards,
Arseny Chernov
arseny.chernov@gmail.com

[2019-10-02 16:53] cynthn commented on #39926
@singhkays

[2019-10-02 16:55] lichasu opened #39968 "saved my day"
@tomtoepel commented on [Tue Oct 01 2019](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/571)

"HttpListener can listen on multiple addresses on the same port as long as the URL prefix is unique."
It's Important to know, when you create http listener for named or ranged partitions. The url prefix for http/https endpoints must be different for each partition. Now it works.

---
#### Dokum

[2019-10-02 16:56] lichasu commented on #39968
Hi team, please check this issue.

Thanks!

[2019-10-02 17:06] Neckross opened #39971 "What's the roadmap to DISABLE THIS FEATURE in future AD Connect versions???"
This does more harm than good
It creates more work to fix instead of facilitating the locations of remediation
Now you have to make the modification in multiple places:
AD onprem
MSOL PowerShell
MSOL Deleted users
EXO mbx alias
EXO PowerShell
Soft Deletion trigger to play between AD and Azure AD
AD Connect metaverse

Prior to this the object just won't sync, which was good. You only had a single p

[2019-10-02 17:15] shashishailaj commented on #39722
Thanks for sharing your views. I hope this is clarified now. Please let us know in case you have any additional queries on this . We will close this by the End of day today in case we do not hear from you.
Thank you.

[2019-10-02 17:16] Alberto-Vega-MSFT commented on #39570
@sw-tt-janvivakotar Thanks we will close this issue here.

[2019-10-02 17:16] #39570 closed

[2019-10-02 17:17] daveba commented on #37296
#please-close since Bill has answered the question.

[2019-10-02 17:17] #37296 closed

[2019-10-02 17:18] J0F3 opened #39972 "When is GA expected?"
Hi there,

When is the API planned to get out of preview and the 200 subscription limits gets removed?

Furthermore is it planned that the API gets a function to query existing/already created subscriptions form a enrollment account?
This would be very useful for idempotent automation code so it can be checked if a subscription with a specific name already exists and creates it only when not it ex

[2019-10-02 17:19] btardif commented on #39906
PR has been merged so changes are addressed. #please-close

[2019-10-02 17:19] #39906 closed

[2019-10-02 17:20] rolyon commented on #38869
Hi @jtuliani
We updated the document to include a line about cancelling the subscription.
https://docs.microsoft.com/en-us/azure/role-based-access-control/rbac-and-directory-admin-roles#classic-subscription-administrator-roles
Let us know if you have any additional feedback.
thanks

[2019-10-02 17:20] rolyon commented on #38869
#please-close

[2019-10-02 17:20] #38869 closed

[2019-10-02 17:20] jmprieur commented on #39722
@aaronjones1, I see your point. The issue is it's complex to combine ASP;NET Core, Identity model extensions for .NET (the .NET middleware which does the token validation), and MSAL.NET in a clean way. In the past the code snippets were showing (expanded) the code that would be needed, but I got the feedback that the code would better be aligned with the sample, which tries to show reusable code t

[2019-10-02 17:22] MarileeTurscak-MSFT commented on #39971
@Neckross
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-02 17:28] SaurabhSharma-MSFT commented on #39657
@belaie We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-10-02 17:28] #39657 closed

[2019-10-02 17:31] kristapratico opened #39973 "Pip install command incorrect for python face sdk"
Should be: `pip install --upgrade azure-cognitiveservices-vision-face`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d930c16-d536-f5d3-fed6-8e08a9d4ae19
* Version Independent ID: 505b497d-5bb1-57c9-c400-8305e0a9300b
* Content: [Quickstart: Face client library for Python](https://docs.microsoft.com/en-us/azure/cogniti

[2019-10-02 17:35] shashishailaj commented on #39646
@tmweah You are absolutely correct in all the steps you mentioned . You should start with the [Active Directory Service article](https://azure.microsoft.com/en-us/services/active-directory/) . This has a Start free button where you can sign up for a Azure AD subscription if you already have an azure subscription . Alternatively you can signup for a new separate [azure trial subscription](https://a

[2019-10-02 17:35] #39646 closed

[2019-10-02 17:35] yobyot opened #39974 "Grammar: is "auto-failover groups" singular or plural?"
The first two sentences on this page read, in part:

"Auto-failover groups is a SQL Database feature that allows you to manage replication and failover of a group of databases on a SQL Database server or all databases in a managed instance to another region. It is a declarative abstraction..."

I think the feature as described in these sentences is plural, not singular. So, "Auto-failover groups _

[2019-10-02 17:35] Alberto-Vega-MSFT commented on #39948
@bkocis Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-02 17:44] alvipeo commented on #39232
@msrini-MSFT can you please help us with SR 119100222000002? because the guys who work on it never heard of these custom rules. Please?

[2019-10-02 17:53] PeterAnaniaHC opened #39975 "This doesn't Work for Timer Functions"
If the function is bound to an HTTP action then it will work fine, but the act of adding a constructor disables the timer in a timer function.

To make matters worse, there is no means by which one can instantiate a TimerInfo object in code. If you could do that then in the constructor you could call the function and passing in the TimerInfo object, but the TimeSchedule property of the TimeInfo cl

[2019-10-02 17:54] Karishma-Tiwari-MSFT commented on #39968
Glad to know that the document helped you. Thank you for the feedback.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-10-02 17:54] #39968 closed

[2019-10-02 17:57] Nickomang commented on #30019
Added a reference to the tagged doc as well as security best practices.

#please-close

[2019-10-02 17:57] #30019 closed

[2019-10-02 18:00] MicahMcKittrick-MSFT commented on #39873
@tvprasad checking in on this

[2019-10-02 18:01] infy-vijayaraghavanl opened #39976 "KEK Script isn't working as expected"
I keep running into the error below. I am using the script as is with two exceptions. I had to change 1.0.0 to 1.5.2 for $adal & $adalforms.

Invoke-RestMethod : {"error":{"code":"BadParameter","message":"Error occurred while decoding OAEP padding."}}
At line:1 char:1
+ Invoke-RestMethod -Method POST -Uri $unwrapKeyRequestUrl -Headers $he ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2019-10-02 18:04] MicahMcKittrick-MSFT commented on #39066
Just an FYI, we are still working on this.

as a temp work aroudn you can re-install LIS RDMA package.

The hv_vmbus.ko that comes with the LIS RDMA package was reverted to build-in hv_vmbus.ko during NVIDIA installation.

I am working to determine if this is something that will be patched or we need to add it to the documentation.

[2019-10-02 18:05] MicahMcKittrick-MSFT commented on #39477
Just a quick update, we are still working on confirming. I have some offline conversations going and will update once I have more.

[2019-10-02 18:11] TravisCragg-MSFT commented on #39957
@solbkeston This is a known limitation with Azure Bastion at this time. This feature is on our roadmap and will be added in the future.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-02 18:11] #39957 closed

[2019-10-02 18:14] okan-aslaner-bib opened #39977 "Does ACM consider memory usage?"
Does ACM take memory into consideration like Cloudyn does?  If so, how does it collect that information?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b703202c-7c7d-7177-6496-d1c61dacf22b
* Version Independent ID: f9ee0bcc-f74a-dbba-c9b9-f84bf7b800a7
* Content: [Reduce service costs using Azure Advisor](https://docs.m

[2019-10-02 18:15] okan-aslaner-bib opened #39978 "Host versus VM CPU"
In Azure Cost Management, when I look at the View Usage Pattern for a VM that has a recommendation to resize, I see that the CPU is for the virtual host and is not for the virtual machine on that host.  Is the resize recommendation based on host or VM CPU?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b703202c-7c7d-71

[2019-10-02 18:21] MarileeTurscak-MSFT commented on #39816
I do not think there is a limit, but I've checked with the product team to confirm.

[2019-10-02 18:21] dlepow commented on #39687
@george-moussa @cocowalla - Thanks for the questions about using a service principal with certificate. As @MicahMcKittrick-MSFT explained, you can assign a certificate to a service principal, following steps in Azure AD docs. Where you store the cert is up to you, but you will need to access it from your local machine in later steps.

To use the SP with certificate to access an Azure container reg

[2019-10-02 18:24] khihouston commented on #39453
Any updates ?

[2019-10-02 18:33] mike-urnun-msft commented on #39946
Hi @andreibarsa - Thank you for your question. Since this channel is for driving improvements towards MS Docs, could you provide us with a URL of specific documentation that your question is most applicable to?

[2019-10-02 18:34] dmarlow opened #39979 "Key Vault and SQL resource subscriptions"
Can Key Vault and Azure SQL Server be in different subscriptions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a055099c-c99c-6e7e-25cd-1c6088426a14
* Version Independent ID: 8eaa8cc2-1499-47da-5c39-fde7d5730b51
* Content: [PowerShell and CLI: Enable SQL TDE - with Azure Key Vault - Bring your own key - Azure SQL Data

[2019-10-02 18:36] mike-urnun-msft commented on #39951
@sampayo123 Thank you for your feedback. It seems that your feedback is related to BotFramework. Could you provide us with a URL of specific MS Doc that your feedback is applicable to?

[2019-10-02 18:37] mike-urnun-msft commented on #39950
Hi @SeanFeldman - Thank you for your feedback! We will review and update as appropriate.

[2019-10-02 18:38] MicrosoftGuyJFlo commented on #39860
The PG is looking into this. Will update when they respond.

[2019-10-02 18:39] normesta commented on #34074
Thank you for the suggestion. The content has been updated with those instructions.

[2019-10-02 18:39] mike-urnun-msft commented on #39954
Hi @Deltaxel - Thank you for your feedback. Since this channel is for driving improvements towards MS Docs, could you provide us with a URL of specific MS Documentation that your feedback may be most applicable to?

[2019-10-02 18:39] normesta commented on #34074
#please-close

[2019-10-02 18:39] #34074 closed

[2019-10-02 18:41] normesta commented on #35267
Thank you for raising this issue. You can use single quotes for parameters in stead of double quotes. That way the $ symbol is not interpreted as a special character. The content has been updated to reflect this change. That said, this won't appear in the live version of the content until sometime next week. Thank you.

[2019-10-02 18:41] normesta commented on #35267
#please-close

[2019-10-02 18:41] #35267 closed

[2019-10-02 18:42] mike-urnun-msft commented on #39956
Hi @amarnathprofisssional - Thank you for your feedback. Since this channel is for driving improvements towards MS Docs, could you provide us with a URL of specific MS Documentation that your feedback may be most applicable to?

[2019-10-02 18:42] MicrosoftGuyJFlo commented on #37915
Teams is not currently supported for this policy. We will update the docs to provide more clarity. Consider using an "OR" policy with approved apps.

[2019-10-02 18:43] mike-urnun-msft commented on #39960
Hi @boscoedash - Thank you for your feedback. Since this channel is for driving improvements towards MS Docs, could you provide us with a URL of specific MS Documentation that your feedback may be most applicable to?

[2019-10-02 18:43] MicrosoftGuyJFlo commented on #37915
#please-close

[2019-10-02 18:43] #37915 closed

[2019-10-02 18:44] mike-urnun-msft commented on #39964
Hi @StarWardo - Thank you for your feedback. Since this channel is for driving improvements towards MS Docs, could you provide us with a URL of specific MS Documentation that you were following and your feedback may be most applicable to?

[2019-10-02 18:48] BacharBader opened #39980 "Some resources has the same name and resourcegroup but different resourceID"
Add tags to a resource that has existing tags may failed if there is two resources having the name resource name and resource group. it could be in case of SQL database that have a replica with the same name in the same resource group but in different SQL server. for that we have to add another loop to go through each one of them. for example:

$r = Get-AzResource -ResourceName exampleSQLDB -Resou

[2019-10-02 18:48] mike-urnun-msft commented on #39966
Hi @coryty87 - Thank you for your feedback. Since this channel is for driving improvements towards MS Docs, could you provide us with a URL of specific MS Documentation that your feedback may be most applicable to?

[2019-10-02 18:52] mike-urnun-msft commented on #39975
Hi @PeterAnaniaHC - Thank you for your feedback! We will review and update as appropriate.

[2019-10-02 18:53] mike-urnun-msft commented on #39976
Hi @infy-vijayaraghavanl - Thank you for your feedback. Since this channel is for driving improvements towards MS Docs, could you provide us with a URL of specific MS Documentation that your feedback may be most applicable to?

[2019-10-02 18:53] prodigiouspenguin opened #39981 "Bypass URL is incorrect in documentation"
A section on https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/jiramicrosoft-tutorial reads:

[code]

This is not quite correct as the Jira login url is *login.jsp* instead of *login.action* (which _is_ correct for Confluence). The URL should be updated to read
`https://<domain:port>/login.jsp?force_azure_login=false`

---
#### Document Details

⚠ *Do not edit this section. It is r

[2019-10-02 18:56] mike-urnun-msft commented on #39885
Hey @martins-vds We hope the answers your question on this matter, and we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-10-02 18:56] #39885 closed

[2019-10-02 18:58] mike-urnun-msft commented on #39802
@lichasu @maysmiling PR has been approved and merged. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-10-02 18:58] #39802 closed

[2019-10-02 18:58] infy-vijayaraghavanl commented on #39976
For a second there I thought you may have posted a solution for me already :) Have been struggling with this for hours now. Here is the article:

https://docs.microsoft.com/en-us/azure/virtual-machines/troubleshooting/troubleshoot-bitlocker-boot-error#solution

[2019-10-02 18:59] RichShillingtonMSFT commented on #36887
@AakashMasand Try running Clear-AzContext then connecting to Azure again. If you have more than one Context in cache it will throw this error.

[2019-10-02 19:00] SteveLasker commented on #39854
We still need to account for the untagged manifests that were in the registry prior to enabling the policy.
Users can use: https://docs.microsoft.com/en-us/azure/container-registry/container-registry-delete#delete-untagged-images
However, we will incorporate deleting previously untagged manifests in the policy as well.

@dlepow, can you add a x-reference to the delete-untagged-images doc as well?

[2019-10-02 19:03] MarileeTurscak-MSFT commented on #39981
@prodigiouspenguin
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-02 19:07] renerichard-gr commented on #39870
Just to confirm that I also copied "C:\Program Files\Microsoft Azure Active Directory Connect" to a Windows 10 machine (worked on 1809, but not 1803) and I was able to rollover.

[2019-10-02 19:07] crixo commented on #39513
Hi @mmacy, sure you can close it. Thanks a lot for your support

[2019-10-02 19:07] MarileeTurscak-MSFT commented on #39981
Thanks for this! I see you already made the pull request so I will close this out. Once approved, the change should go live within 24 hours.

[2019-10-02 19:07] #39981 closed

[2019-10-02 19:09] mmacy commented on #39513
Excellent, thanks @crixo. You're quite welcome!

#please-close

[2019-10-02 19:09] #39513 closed

[2019-10-02 19:15] dvherk opened #39983 "Availability list is outdated"
Please update the list of regions where the public preview is available.
For example; public preview for West and North EU is actually available in the portal already.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbfc7ccc-7fd0-9bb7-7d39-e9cfa09736ce
* Version Independent ID: c0e7f101-5707-63ff-8193-c74a3e1d9a75
* Con

[2019-10-02 19:16] cocowalla commented on #39687
@dlepow @MicahMcKittrick-MSFT I actually figured this out myself last night, but the docs didn't make it easy 😅

First to create a new service principal with a certificate, and remove subscription Contributer rights, which are added by default (which, BTW, don't seem like very safe defaults!):

[code]
I then went into the portal and assigned the `AcrPull` to the new `acme-acr` service principal, f

[2019-10-02 19:20] wshamroukh opened #39984 "The Private zone should be only database.windows.net"
If you create a private zone privatelink.database.windows.net and you create an A record myserver, so the FQDN for this will be myserver.privatelink.database.windows.net hence when you try to resolve myserver.database.windows.net, it will only resolve to the Public IP address of the SQL server, not to the private endpoint NIC. I have tried to follow your steps above, and i always end up resolving

[2019-10-02 19:29] frenky29a opened #39985 "User-Assigned Managed Identity - Blueprint Assignment bug"
UAMI is not working for Blueprint Assignment...

Set-AzBlueprintAssignment : The client '---' with object id '---' does not have authorization to perform action 'Microsoft.Authorization/roleAssignments/write' over scope '/subscriptions/xxx' or the scope is invalid.

The user has these permissions on subscription:
Blueprint Contributor
Blueprint Operator
Managed Identity Operator
Managed Identity C

[2019-10-02 19:29] NullQubit opened #39986 "Misleading information"
In the note it says "we recommend to start with Hosted VS2017 or Hosted VS2019." but the task does not work with VS2019 (windows 2019).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 617f002c-f40e-28a0-2ab7-e3227e08e37c
* Version Independent ID: a06ba438-55c8-e77c-ec89-095d44fbf4f3
* Content: [Set up CI/CD pipeline wit

[2019-10-02 19:30] aaronjones1 commented on #39722
Okay, thank you for the explanation!  Integration with Microsoft Graph is an important part of the design of our new web app and .NET Core has seemed like the way to go in every other respect so far.  I hope the MS Graph piece won't be too difficult to figure again.  Thanks again for your responses!

[2019-10-02 19:32] banzaisi opened #39987 "Azure Private Link"
Would be useful to mention the new Azure Private Link service in the section "Securing Azure service access from on-premises"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1eb0407d-f4a5-6059-488d-fd082915c675
* Version Independent ID: 7c2fb429-743c-aea0-f1d5-de6dc2e62e8e
* Content: [Azure virtual network service endpo

[2019-10-02 19:40] billmath commented on #39132
@MIBadran Thank you for your feedback.  This doc is scheduled for an update in the near future and these issues will be addressed at this time.  Thanks!

#please-close

[2019-10-02 19:40] #39132 closed

[2019-10-02 19:43] coryty87 commented on #39966
Sorry forgot to add this:
https://docs.microsoft.com/en-us/azure/active-directory/devices/assign-local-admin

[2019-10-02 19:44] edburns commented on #39919
@tfitzmac Thanks for your feedback.  I have pushed a1f0500dd9f7f7de as an attempt to correctly apply it.

[2019-10-02 19:46] billmath commented on #38335
@DaveClarky I apologize for your support incident.  Unfortunately, I was only made aware of this issue last week at which time we posted the following doc:  https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-device-disappearance

#please-close

[2019-10-02 19:46] #38335 closed

[2019-10-02 19:48] billmath commented on #33816
Checking with engineering to make sure ADDS for 2019 is now supported with Azure AD Connect Health.

[2019-10-02 19:52] Karishma-Tiwari-MSFT commented on #39918
I have created a PR with the updates and changes will be live shortly.

[2019-10-02 19:52] billmath commented on #33390
@joheynek Thank you for the feedback.  I have created a work item to address this and get the screenshots update.  Thanks!

#please-close

[2019-10-02 19:52] #33390 closed

[2019-10-02 19:52] #39918 closed

[2019-10-02 19:53] MicahMcKittrick-MSFT commented on #39976
Can you share the script you are using since you mentioned you modified it? Also, can you elaborate on the reason for changing the value?

[2019-10-02 19:54] femsulu commented on #39938
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-10-02 19:54] billmath commented on #28276
@serafing  Thank you for the feedback. I have created a work item to address this and get the screenshots update. Thanks!

#please-close

[2019-10-02 19:54] #28276 closed

[2019-10-02 19:55] femsulu commented on #39940
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-10-02 19:56] femsulu commented on #39947
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-10-02 19:58] femsulu commented on #39972
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-10-02 19:58] algattik opened #39988 "Event Hubs output: clarify format / fact that messages are batched up"
Two topics:

(1) The documentation of the "Format" section under Event Hubs does not make sense: "This array is closed only when the job stops ... it's preferable to use line-separated JSON, because it doesn't require any special handling while the output file is still being written to. " this text would apply to append blob output but not to Event Hubs.

(2) From the doc it is not clear that even

[2019-10-02 19:59] femsulu commented on #39977
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-10-02 20:00] Alberto-Vega-MSFT commented on #39585
@cofjee Since we haven't heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-02 20:00] #39585 closed

[2019-10-02 20:02] Alberto-Vega-MSFT commented on #39655
@NovoJeep Thanks for confirming

[2019-10-02 20:02] mike-urnun-msft commented on #39884
Thanks for clarification, @erwinkramer! We have proceeded to assign this issue to the author to review further and take the right course of action.

[2019-10-02 20:03] computernations opened #39989 "Import-Module Microsoft.Rdinfra.RdPowerShell not loading"
I'm unable to import the RD module using Powershell (version 5.1.17134.407).  I successfully ran NuGet (shown below my error) before attempting the RDPowershell module.  Not sure how to get the RD module?

Error
Import-module : The specified module 'Microsoft.Rdinfra.RdPowershell' was not loaded because no valid module
file was found in any module directory.
At line:1 char:1
+ Import-module Micros

[2019-10-02 20:03] femsulu commented on #39978
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-10-02 20:04] tdenizen commented on #33551
I'm having the same issue

[2019-10-02 20:11] infy-vijayaraghavanl commented on #39976
Its the same script as in 'Key Encryption Key Scenario'. The only change I am talking about is in line with your 'Troubleshooting Guidelines'. So I got nothing else new on my script!

[2019-10-02 20:15] bdschaap opened #39990 "Key Size Field for Key Transactions?"
Do the logs contain a key size field for Key* transactions?

I'm trying to figure out how to Key Vault monitor service limits for key transactions.  There isn't a metric available at the right granularity level to monitor this.  If a key size field is included in the logs then I may be able to use it to monitor the service limits.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2019-10-02 20:18] alex-frankel commented on #39985
Can you provide the full set of arguments you passed to the cmdlet? The error you are getting makes it seem like it was configured as SystemAssigned, not UserAssigned

[2019-10-02 20:19] bdschaap opened #39992 "How to Monitor Key Vault Service Limits"
Can you tell me how to monitor the Key Vault service limits?  I don't believe this level of detail is available in the Azure Monitor metrics.  I can do most of it through diagnostic logs but am uncertain if the key size field is available for key transactions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b3e7270-ab3

[2019-10-02 20:21] MicahMcKittrick-MSFT commented on #39976
Thanks for that. It seems the script was recently updated just a few months ago due to some other errors. I can send to the content author to review to ensure it is up to date. In the meantime, if you need help getting your VM to book due to bitlocker errors, I would suggest submitting a support request. If you cannot create a technical support ticket I can enable one for you if you provide me wit

[2019-10-02 20:23] eugen-nw opened #39994 "It is not clear what happens after Managed Identities are enabled on a Cluster"
Will the Identity icon appear in the Cluster's properties in Azure Portal?  If it appears, can the associated Managed Identities then be used by all the Services and Applications running on the Cluster?  I am brand new to this topic and do see that App Services, Azure Functions, etc. display the Identity icon and I can associate Managed Identities there with service instances.

---
#### Document D

[2019-10-02 20:26] NavtejSaini-MSFT commented on #39974
@yobyot Thanks for the feedback. We are looking into this.

[2019-10-02 20:27] NavtejSaini-MSFT commented on #39979
@dmarlow We are checking this and will get back to you.

[2019-10-02 20:28] NavtejSaini-MSFT commented on #39986
@NullQubit We are checking this and we will get back to you.

[2019-10-02 20:28] yegu-ms commented on #38711
@BugAgain thanks for point this out! We've updated the doc.

[2019-10-02 20:29] yegu-ms commented on #38711
#please-close

[2019-10-02 20:29] #38711 closed

[2019-10-02 20:33] Alberto-Vega-MSFT commented on #39724
Hi @ptranter did you get a chance to look into my previous question?

[2019-10-02 20:36] tfitzmac commented on #39883
@boteng-msft - thanks for this feedback. I have restructured the content to make sure this information is clearly presented.

[2019-10-02 20:37] KranthiPakala-MSFT commented on #39904
@jonmclean Thanks for your response and explanation. I will reach out to the content author to check if this information can be added to the doc.

Appreciate your feedback.

[2019-10-02 20:37] dlepow commented on #39687
@cocallaw - Thanks for pointing out the gotchas or limitations with managing certs assigned to the service principal, which are good "things to know" to add to documentation.

One note: you can manage the SP's rights appropriately by setting scope and role at creation time, for example:

[code]

Also note that different Azure tools (portal, CLI, PowerShell, APIs, etc.) might provide more or less c

[2019-10-02 20:37] #39687 closed

[2019-10-02 20:38] tfitzmac commented on #39919
#sign-off

[2019-10-02 20:38] tfitzmac commented on #39919
@edburns - thanks!

[2019-10-02 20:42] avidiyal opened #39995 "VMDK files dont merge by themselves after you upload to datastore. you may have to use other tools to combine those vmdk's."
I do see this issue as well. esxi6.7 is the default downloadable available currently with VMWare. I was unable to download older versions of vmware to get support for datastore VMFS5. Could you please let us know of any link to download esxi6.5 or may be provide single vmdk file instead of merging it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-10-02 20:45] NavtejSaini-MSFT commented on #39986
@NullQubit We have assigned this our author for further review
@deborahc Please check the issue provided by the user and provide feedback.

[2019-10-02 20:49] FrankHu-MSFT commented on #39879
Hey @mustafamg, there is no b2c setting in the portal that allows for this to happen, however you could utilize JavaScript to check the user's cache.

If they have <some-token> or some identifier that shows that it's the company's employee, then they can register, otherwise blank out the page and say you are not an company employee and will be unable to signup here accordingly.

Please see these d

[2019-10-02 20:50] TomArcherMsft commented on #25683
@CeciAc  The PR has been merged. Please close the issue. #sign-off

[2019-10-02 20:51] dlepow commented on #39854
@mkstephenson and ACR team - Thanks for helpful feedback. I'll update the article and we can sort out the fine points during the review cycle.

[2019-10-02 20:53] tfitzmac commented on #39858
@anderson-rancan - sorry for this gap in the documentation. Can you tell me whether you were using Complete mode for a template deployment? I am trying to track down the scenario for this error.

[2019-10-02 20:57] #39883 closed

[2019-10-02 21:00] TomArcherMsft commented on #37922
@puicchan Could you please help answer this question?

[2019-10-02 21:02] FrankHu-MSFT commented on #39795
We've been connecting offline, and it seems like there might be an issue regarding Chrome's Web Security.

Per the error :

Currently looking into this further and engaging with the product teams to see why this error might be occurring

[2019-10-02 21:03] NavtejSaini-MSFT commented on #39979
@dmarlow Please find the document giving guidelines that cross tenant Azure SQL DB and Key vault is not possible.
Check [this ](https://docs.microsoft.com/en-us/azure/sql-database/transparent-data-encryption-byok-azure-sql#guidelines-for-configuring-tde-with-azure-key-vault)document for more details.

[2019-10-02 21:03] TomArcherMsft commented on #37439
@puicchan Do you know the answer to this?

[2019-10-02 21:05] frenky29a commented on #39985
Sure.
Both commands are failing, when I create or update the Blueprint:

    New-AzBlueprintAssignment -Name $assignmentName -Blueprint $bp -SubscriptionId $subscriptionId -AssignmentFile $assignmentFilePath

    Set-AzBlueprintAssignment -Name $assignmentName -Blueprint $bp -SubscriptionId $subscriptionId -AssignmentFile $assignmentFilePath

The assignment file looks like this:
(tenant and subscr

[2019-10-02 21:08] TravisCragg-MSFT commented on #33601
@JoeRistine @LenCardinal @datfinesoul  Thank you all for your additional follow ups on this issue!

@vhorne currently has the action to update the pricing in the doc.

[2019-10-02 21:09] Adam-Smith-MSFT commented on #39936
@JenszSigterman Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-02 21:14] mrpophali commented on #32711
I am also getting same issue as above
Azure ML SDK Version:  1.0.62
VM: STANDARD_D2_V2
sklearn.__version:  0.20.3

tried workaround as suggested above to use "import joblib". Getting below warning

/anaconda/envs/azureml_py36/lib/python3.6/site-packages/sklearn/base.py:253: UserWarning: Trying to unpickle estimator LogisticRegression from version 0.21.3 when using version 0.20.3. This might lead t

[2019-10-02 21:15] jeevansd commented on #39594
@levidehaan and @1800Zeta Thanks for helping here.
Note that now these claims are getting added automatically when you add the AWS app from the gallery. That way you dont have to configure values manually for them. You can always change them as needed.

[2019-10-02 21:17] 1800Zeta commented on #39594
I did the gallery app the other day and they weren't added automatically. That's why I ended up finding this issue and commenting.

Using mobile, please excuse spelling and grammar errors.

________________________________
From: Jeevan Desarda <notifications@github.com>
Sent: Wednesday, October 2, 2019 10:15:57 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Mark Lewis <mark.le

[2019-10-02 21:17] jeevansd commented on #39594
#please-close

[2019-10-02 21:17] #39594 closed

[2019-10-02 21:17] mike-urnun-msft commented on #39989
Hi @computernations  - Thank you for your feedback. Since this channel is for driving improvements towards MS Docs, could you provide us with a URL of specific MS Documentation that you were following and your feedback may be most applicable to?

[2019-10-02 21:18] alex-frankel commented on #39985
For the sake of debugging, can you try executing the cmdlet with this additional parameter:

`-UserAssignedIdentity "/subscriptions/AAAABBBB-CCCC-DDDD-EEEE-FFFFGGGGHHHH/resourceGroups/rg-deployment-temp-storage/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uami-blueprint"`

I know it's detailed in the assignment file and this is redundant information, but it will help me track down th

[2019-10-02 21:19] MicahMcKittrick-MSFT commented on #39994
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-02 21:21] tfitzmac commented on #38591
@ndnx - were you using Azure Stack when you saw this error? Was the deployment running under your user account or a service principal?

[2019-10-02 21:28] frenky29a commented on #39985
Nope...

New-AzBlueprintAssignment : Parameter set cannot be resolved using the specified named parameters. One or more parameters issued cannot be used together or an insufficient number of parameters were provided.
At C:\---\deploy-bp.ps1:219 char:5
+     New-AzBlueprintAssignment -Name $assignmentName -Blueprint $bp -S ...
+     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2019-10-02 21:32] Grace-MacJones-MSFT commented on #39518
Hi @EagleWizard28, Upon further review we feel your feedback would be best received by the doc author to review this request, determine if an update to the current doc is necessary, or to create a new doc

[2019-10-02 21:35] MarileeTurscak-MSFT commented on #39905
Thanks @Allbondiga

I made a pull request to add this note and remove the Transient NameID from the dropdown options. https://github.com/MicrosoftDocs/azure-docs-pr/pull/90408

[2019-10-02 21:35] #39905 closed

[2019-10-02 21:38] MarileeTurscak-MSFT commented on #39861
Hi @the-grayest ,

Can you specify how you would like this to be noted? You are also free to make a pull request yourself by clicking the "Edit" button in the top right corner of the article.

[2019-10-02 21:43] TravisCragg-MSFT commented on #39987
@banzaisi Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-02 21:43] ksu11 commented on #22106
Hello I can't add WindowsAzure.Messaging says is not compatible

[2019-10-02 21:48] MarileeTurscak-MSFT commented on #39971
Hi @Neckross ,

This currently is not on the roadmap, but you can make a request in User Voice to add this ability, and I will share it along. https://feedback.azure.com/forums/169401-azure-active-directory

You can also keep an eye on the AD Connect release notes.

I have also passed your feedback along to the product team and will update this thread when I have a response.

[2019-10-02 21:48] #39971 closed

[2019-10-02 21:48] dmarlow commented on #39979
Thank you!

[2019-10-02 21:48] #39979 closed

[2019-10-02 21:48] Nasherx commented on #27791
I'm getting the same problems. Set as TenantCreator and Default Access role. Been following this guide: https://docs.microsoft.com/en-us/azure/virtual-desktop/create-service-principal-role-powershell

`PS C:\Users\Murphy> Add-RdsAccount -DeploymentUrl "https://rdbroker.wvd.microsoft.com"

[2019-10-02 21:49] TomArcherMsft commented on #38837
@KrishnaG-MSFT As @chrisdpratt mentions the article works as-is due to the versioning system using the latest version of the provider. #please-close.

[2019-10-02 21:49] #38837 closed

[2019-10-02 21:57] ambhatna commented on #36331
@chainhead
We now supports ProxySQL. For more information, you can refer to the blog [Load balance read replicas using ProxySQL in Azure Database for MySQL](https://techcommunity.microsoft.com/t5/Azure-Database-for-MySQL/Load-balance-read-replicas-using-ProxySQL-in-Azure-Database-for/ba-p/880042).

Please let us know if you have any other question.

[2019-10-02 22:01] Karishma-Tiwari-MSFT commented on #39894
I have created a PR with the update and changes will be live shortly.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-10-02 22:01] #39894 closed

[2019-10-02 22:07] Karishma-Tiwari-MSFT commented on #39921
The doc says - "In addition, IBM software, including WebSphere and MQ, is now in the Azure Marketplace."

I think the doc is talking about these options on Azure marketplace :
https://azuremarketplace.microsoft.com/en-us/marketplace/apps/midvision.websphere-mq

https://azuremarketplace.microsoft.com/en-us/marketplace/apps/midvision.websphere-mq-90?tab=Overview
\
https://azuremarketplace.microsoft.

[2019-10-02 22:10] Karishma-Tiwari-MSFT commented on #39933
@lukos Can you also please share the document with this link which led you here?
I would like to correct the link on that document as well. Thanks.

[2019-10-02 22:11] Karishma-Tiwari-MSFT commented on #39959
Thanks @roygara
@mbiver This has been fixed. The PR is merged and changes will be live shortly.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-10-02 22:11] #39959 closed

[2019-10-02 22:13] shizn commented on #39845
Hi @anfelbeghoura, the IoT Edge project template is leveraging [multi-stage builds](https://docs.docker.com/develop/develop-images/multistage-build/) in the provided dockerfiles. If you look into the Dockerfile.amd64, you can find the command `apt-get install -y azure-iot-sdk-c-dev`. The sdk has been installed during docker build time, in the build-env container.

[2019-10-02 22:19] v-stadam commented on #38597
An updated version of the article is now available: https://docs.microsoft.com/en-us/azure/iot-edge/how-to-auto-provision-simulated-device-linux#give-iot-edge-access-to-the-tpm

[2019-10-02 22:24] Karishma-Tiwari-MSFT commented on #39430
@pdebruin Are you still seeing this issue? Can you please share the screenshot of the error you are seeing?

[2019-10-02 22:55] Heidilohr commented on #27791
Hi, everyone. If you're still running into the "User is not authorized to query the management service" error, I highly recommend checking out our [PowerShell troubleshooting documentation](https://docs.microsoft.com/azure/virtual-desktop/troubleshoot-powershell#error-get-rdsdiagnosticactivities----user-isnt-authorized-to-query-the-management-service).

[2019-10-02 22:58] rlimberger opened #40000 "How to use azure-iot-device node sdk directly in a web app?"
Is it possible to use the azure-iot sdk for node directly in the web app? This example uses the server.js program to bridge between the IoT Hub and the local web app. I would like to ass an example where a, lets say, React.js app uses azure-iot-device-mqtt directly without a local node app acting as a replay. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2019-10-02 23:00] wilbert11 commented on #33999
I am experiencing the same issue. After delete the virtual cluster, portal confirms successful deletion but appears again after refresh.

[2019-10-02 23:02] rodrigoviola opened #40002 "Typo in docs"
[Enter feedback here]

A few spaces missing in this sentence.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9664ac97-ad76-df45-3833-c927b098ab95
* Version Independent ID: 5f7c02b5-5454-509c-5681-8a4c1cdbb62b
* Content: [Backup and restore in Azure Database for PostgreSQL - Single Server](https://docs.microsoft

[2019-10-02 23:12] brandonh-msft commented on #39921
Ah. I think we have a discoverability problem, then. If you [search the marketplace for IBM](https://azuremarketplace.microsoft.com/en-us/marketplace/apps?search=IBM) - you don't see these offerings. I came by this revelation from our IBM page: https://azure.microsoft.com/en-us/campaigns/ibm/

If you scroll to the bottom you'll see "Create VM images" and if you click any of those icons, you won't

[2019-10-02 23:19] rachel-msft commented on #40002
@rodrigoviola Thanks for reaching out. The un-rendered raw text ([which you can access here](https://raw.githubusercontent.com/MicrosoftDocs/azure-docs/master/articles/postgresql/concepts-backup.md)) shows:

![image](https://user-images.githubusercontent.com/32173602/66088486-1d0b9500-e530-11e9-9f49-219de1457709.png)

The spaces are there, but may not show as clearly because of the font of the web

[2019-10-02 23:46] michaelsmitha commented on #39595
Hi @LaloCo ,

The blog post we pointed to is for existing azure mobile app node customers. You won’t be able to setup everything within online “App Service Editor”.

For new apps, you will have to develop locally and push to the backend. You can install the `azure-mobile-apps` dependency via `npm install` and use git to deploy to the backend. Here is the documentation that should guide you through

[2019-10-02 23:51] pacodelacruz commented on #39558
Is the full URL with query params
`signin-sso?token=token%3d"MYTOKEN"%2crefresh%3d"true"&returnurl=%2fdocs%2fservices%2fMYAPI%2fexport%3fDocumentFormat%3dOpenApiJson`
required?

I've tested sending a GET request directly to
`/docs/services/MYAPI/export?DocumentFormat=OpenApiJson`
and it works OK when the user is signed in.

I would prefer to fix the link, if possible, rather than having to disable

[2019-10-03 00:10] FrankHu-MSFT commented on #39665
Hello @xkobal and @seagull3 can you try creating or using an user that was newly created or created after the AAD Tenant you're in was created and try doing the verification again?

[2019-10-03 00:14] xtellurian opened #40003 "Package "Microsoft.Azure.TimeSeriesInsights" unavailable on NuGet"
This sample uses the namespace "Microsoft.Azure.TimeSeriesInsights", which I expected to be available on Nuget.
However, it appears not to be listed.

https://www.nuget.org/packages?q=Microsoft.Azure.TimeSeriesInsights

Could you list the C# client on Nuget?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d0948c2-4922-

[2019-10-03 00:14] MarileeTurscak-MSFT commented on #39801
@demesg can you clarify what happens when you try to do it?

Do you think the documentation is missing something?

[2019-10-03 00:15] cdandrea opened #40004 "Interrupt mode now showing "Other" instead of "Work or School""
It also appears that interrupt mode, with the nice wizard is no longer working, i.e. green bars and green number sequence to satisfy your orgs requirements.

If SSPR or MFA is enabled/enforced, the user is prompted to provide more information. If/when they choose the default method of the Microsoft Authenticator app, and proceed to the next screen, instead of seeing "Work or School" they see "Othe

[2019-10-03 00:17] mandarsudame commented on #10326
[code]
worked for me too. Thanks!

[2019-10-03 00:33] chelhernandez commented on #34912
Actually for me the query from the doc is not working. Could you help us updating the code? And give us the details to change. Thanks.

[2019-10-03 00:48] NavtejSaini-MSFT commented on #40002
@rachel-msft Thanks for the confirmation.
@rodrigoviola We will be going ahead and closing this issue.

[2019-10-03 00:56] rodrigoviola commented on #40002
@rachel-msft That's weird. It seems to be a Safari issue, on macOS and iOS. Other browsers display the text correctly.

macOS:
![image](https://user-images.githubusercontent.com/4070970/66091704-d9785180-e556-11e9-924d-5821be1b4e32.png)

iOS:
![IMG_5477](https://user-images.githubusercontent.com/4070970/66091768-20fedd80-e557-11e9-9321-50b83a1bd62e.jpg)

[2019-10-03 00:58] KingdomOfEnds commented on #40003
Good Evening @xtellurian ! Thanks for your great question. I believe the necessary libraries are generated within https://github.com/Azure-Samples/Azure-Time-Series-Insights/tree/master/csharp-tsi-preview-sample/DataPlaneClient/Generated - I've reached out to the Engineering team to verify whether the generated code is available on NuGet. Thanks!

[2019-10-03 01:05] dcbrown16 commented on #33855
appears to be reflected already
#please-close

[2019-10-03 01:05] #33855 closed

[2019-10-03 01:09] spelluru commented on #38643
Sorry it took so long to confirm this and fix the article. Please see the updated table:
https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-quotas#event-hubs-basic-and-standard---quotas-and-limits

[2019-10-03 01:09] spelluru commented on #38643
#please-close

[2019-10-03 01:09] #38643 closed

[2019-10-03 01:16] xtellurian commented on #40003
Thanks @KingdomOfEnds :)

I forked the repo and am publishing my own package, but I won't be supporting it going forward.

If the Engineering Team chooses to publish on NuGet, is it possible for them to target ~NetStandard2.0? The sample code is [targeting net452](https://github.com/Azure-Samples/Azure-Time-Series-Insights/blob/master/csharp-tsi-preview-sample/DataPlaneClient/DataPlaneClient.cspro

[2019-10-03 01:17] boscoedash commented on #39960
Apologies. I modified the description

[2019-10-03 01:20] KingdomOfEnds commented on #40003
@xtellurian - I will make sure to relay both your question and advice to the Engineering team! I know they have many great new features planned as the current Preview moves toward General Availability. I also know their objectives align with yours. I will update this Issue once more information becomes available! Thanks!

[2019-10-03 01:25] pacodelacruz commented on #39558
I believe that depending on the token value, different rules can be triggered. In a different request, for the same API, now the GET requests are being blocked due to `942370 - Detects classic SQL injection probings 2/2`.
I believe that fixing the actual link on the Dev portal would be the best solution. Otherwise, additional rules can be triggered for different tokens.

[2019-10-03 01:27] Roblarson opened #40006 "How about some instructions for installing applications in the image"
The "Software preparation and installation" section says it is going to show how to do that and then skips the topic entirely.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cdad1b23-8c75-cd08-41cc-6313fc7016bd
* Version Independent ID: f7979a0f-a1be-100f-33b5-01627c45f783
* Content: [Prepare and customize a master VHD

[2019-10-03 01:31] kenoby-dev commented on #39558
@pacodelacruz I would agree with that approach.  Not sure why the links have been constructed in that way (using the token approach).

[2019-10-03 01:59] KrishnaG-MSFT commented on #39980
@BacharBader Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-10-03 02:02] KrishnaG-MSFT commented on #39985
@alex-frankel Thanks for the quick response.
@DCtheGeek FYI.

[2019-10-03 02:04] KrishnaG-MSFT commented on #39955
@mmacy Thanks for the quick response.

[2019-10-03 02:19] jonathaneckman opened #40007 "PAYG with Custom Images?"
We want to use one of the SQL Server editions discussed here, but wish to create and deploy our own image using Packer or Azure Image Builder so that we can control what is installed. Can we use the Pay-as-you-Go model with custom images?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a863cb0-c5d3-87d6-7c4d-28a1316d70

[2019-10-03 02:23] ctolkien commented on #21125
Still no Cors support?

[2019-10-03 02:39] tehtertot commented on #39133
Sorry for the delayed response. I am trying to wrap my head around an appropriate workflow with multiple contributors. If we each have pipelines we are trying to test, and we want to run triggers, we are each on our own branches, but must merge into master before being able to run triggers, test parallel performance (since this is not available in debug mode either). If it doesn't perform as expec

[2019-10-03 02:53] Alberto-Vega-MSFT commented on #39965
Have you seen this one? [Where you can update custom C Module With your code](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-c-module#update-the-module-with-custom-code)
Also please read:
 https://docs.microsoft.com/en-us/azure/iot-edge/how-to-vs-code-develop-module you  also by navigating  the left side panel of the docs page you will find more related documents. Also you can find code

[2019-10-03 02:55] Alberto-Vega-MSFT commented on #40000
@rlimberger Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-03 03:13] arsing commented on #38597
Thanks.

[2019-10-03 03:13] #38597 closed

[2019-10-03 03:24] aayush3667 opened #40008 "Restore database backup to a sql server"
Hi

I want to use SQL Server Management Studio (SSMS) to restore a database (the Wide World Importers - Standard .bak file) from Azure Blob storage into an Azure SQL Database (single database).
I've tried searching the internet for the solution but couldn't find any.
Please help in finding any.

Thanks in advance

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-10-03 03:39] tellstoriesatbedtym opened #40009 "Echo Bot app to be on the Free tier App Service Plan?"
Why can't the Echo Bot app be on the Free tier App Service Plan?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a0e7068-9f6c-5b21-f12f-f44d27c17acd
* Version Independent ID: 49c118b3-3e55-b321-26be-f4f668745f72
* Content: [Tutorial: Voices enable your bot using Speech SDK - Azure Cognitive Services](https://docs.micro

[2019-10-03 03:49] RohitMungi-MSFT commented on #39939
@sofianemad Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-03 03:50] RohitMungi-MSFT commented on #39983
@dvherk Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-03 03:52] RohitMungi-MSFT commented on #39984
@wshamroukh Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-03 03:54] RohitMungi-MSFT commented on #39988
@algattik Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-03 03:57] RohitMungi-MSFT commented on #39990
@bdschaap Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-03 03:58] RohitMungi-MSFT commented on #39992
@bdschaap Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-03 04:01] RohitMungi-MSFT commented on #39995
@avidiyal Could you please provide us more details about the documentation you are following for these steps? This will help us direct you to the right team and service.

[2019-10-03 04:01] KalyanChanumolu-MSFT commented on #39730
@ctoronavisaf We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-10-03 04:01] #39730 closed

[2019-10-03 04:07] KalyanChanumolu-MSFT commented on #40008
@aayush3667 Is this question related to documentation on GitHub?
If yes, please provide the link.
Support on GitHub is limited to documentation only. Please post your question on [MSDN Forum](https://social.msdn.microsoft.com/forums/azure/en-us/home?forum=ssdsgetstarted) for greater visibility.

[2019-10-03 04:17] RohitMungi-MSFT commented on #40009
@tellstoriesatbedtym Thanks for the feedback. The speech service in this documentation link uses tier F0 but yes the app service is standard. This is due to the current offerings from the app service plans and using a free tier might limit the capabilities of this tutorial.

[2019-10-03 04:21] pdebruin commented on #39430
Yes still see the issue, attached.
![2019-10-03 (2)](https://user-images.githubusercontent.com/4709852/66099171-0ef85b80-e5a6-11e9-87bd-8abc9658a0ec.png)

[2019-10-03 04:24] aayush3667 commented on #40008
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-get-started-restore

This documentation is for managed instance.
I want for either a single database or elastic pool

Thanks

[2019-10-03 04:28] pdebruin commented on #39430
Maybe related, in step 2 I have to select All repositories radio button. When I use the default My repositories, I get "Failed to get the repository tree for repository. Error: Forbidden". Repo is public: pdebruin/aspcore3
![2019-10-03 (3)](https://user-images.githubusercontent.com/4709852/66099384-ffc5dd80-e5a6-11e9-8706-d610261e6c6f.png)

[2019-10-03 04:31] DixitArora-MSFT commented on #39755
@JakeAlmer For now will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-03 04:31] #39755 closed

[2019-10-03 04:34] KalyanChanumolu-MSFT commented on #36317
Related [Issue](https://github.com/MicrosoftDocs/azure-docs/issues/34928)

[2019-10-03 04:38] CodeSizzler commented on #39929
Hi RohitMungi,

Thanks for responding.

Here is the document link which we are referring for -

https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-blobs?toc=%2fazure%2fstorage%2fblobs%2ftoc.json

[2019-10-03 05:04] RohitMungi-MSFT commented on #39787
@tomygrenier Thanks for the clarification. Yes, the sidebar only returns the URLs.

[2019-10-03 05:04] mike-urnun-msft commented on #40006
@Roblarson Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-10-03 05:04] souravmishra-msft commented on #39759
@jgwinner, Just following up on this to check if you can share the details requested for in the previous response.

[2019-10-03 05:09] tellstoriesatbedtym opened #40011 "Passing media stream directly to DLS?"
I am trying to use Direct Line Speech (DLS) in my custom voice app. The Voice app has access to the audio streams which I want to (pcm encoded) it directly to Direct Line Speech.

From the DLS Client sample code (https://github.com/Azure-Samples/Cognitive-Services-Direct-Line-Speech-Client), I see that the method ListenOneAsync() in Microsoft.CognitiveServices.Speech.Dialog.DialogServiceConnector

[2019-10-03 05:14] iqsarv commented on #39778
There is no error now. Please go ahead close the issue

[2019-10-03 05:14] #39778 closed

[2019-10-03 05:20] jakaruna-MSFT commented on #40006
cc @ChristianMontoya

[2019-10-03 05:22] jakaruna-MSFT commented on #39838
@Dusted1969 is there any update

[2019-10-03 05:25] RamakrishnaPathuri commented on #39928
1) Created Azure AD B2C tenant on my account and  created the application and flows
2) Replaced web.config app settings values according to my values
3) Build & run the application to test the app.
4) Where we are unable to redirect to the signup  azure ad b2c application authentication URL
We are getting the Url : https://localhost:44316/Account/SignUpSignIn

[2019-10-03 05:25] tellstoriesatbedtym commented on #40011
I've created a stack overflow question too - https://stackoverflow.com/questions/58212779/how-to-pass-media-stream-to-the-direct-line-speech-endpoint

[2019-10-03 05:27] jakaruna-MSFT commented on #39747
@delkos I will close this issue for now.
Feel free to open new ones if you face any issues with docs. If the issues are not related to docs, open an MSDN thread [here](https://social.msdn.microsoft.com/Forums/en-US/home?forum=WAVirtualMachinesforWindows).

[2019-10-03 05:27] #39747 closed

[2019-10-03 05:28] andreibarsa commented on #39946
Hi,
Here is mentions that an sdk for ADLS v2 is not yet available:
https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-upgrade

[2019-10-03 05:29] dcurwin commented on #39947
@Sogup @GeethalakshmiG Can you comment?

[2019-10-03 05:30] VikasPullagura-MSFT commented on #39851
@yckwan The recommendations apply to all users in a session.
Document author has a backlog on this item to add a note clarifying this point in the article to avoid future confusion.
I am closing the issue for now. However if you want have any other questions on this, mention my name in the comment to reopen the issue for discussing further.

[2019-10-03 05:30] #39851 closed

[2019-10-03 05:34] kazshi opened #40012 "some UI strings on the portal have been updated"
Looks like the following UI strings in this page haven't been updated, currently they're inconsistent with the portal UI. Please check and fix as necessary.
- Allow access to Azure services =&gt; Allow Azure services and resources to access this server
- Set server firewall =&gt; Show firewall settings

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-10-03 05:39] tellstoriesatbedtym commented on #40009
I was able to follow the guide and use F0 for the Echo service and the Direct Line speech worked with the client sample app. That's why it was confusing what's the reason to use the Standard tier for. Can you clarify the same in the documentation so it's clear for everyone else.

[2019-10-03 05:42] RohitMungi-MSFT commented on #39973
@kristapratico Thanks for the feedback. A [PR ](https://github.com/MicrosoftDocs/azure-docs-pr/pull/90429)is raised to fix the issue. The change should be reflected within 24 hours of PR approval.

[2019-10-03 05:51] VikasPullagura-MSFT commented on #40007
@jonathaneckman Yes, you can use images using Packer or Azure Image builder in Pay-As-You-Go subscription model. The billing model is on the subscription level.
Hope this answers your query.
Thanks.

[2019-10-03 05:54] CHEEKATLAPRADEEP-MSFT commented on #39946
@andreibarsa   Thanks for the question! We are checking with the product team and will update you soon.

[2019-10-03 05:58] CHEEKATLAPRADEEP-MSFT commented on #39988
@algattik Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

@mamccrea Could you look into this issue?

[2019-10-03 06:01] shashishailaj commented on #39722
@aaronjones1 Thank you . Should you have any difficulties with the MS graph piece , you can always open a thread on the [Azure AD MSDN forums](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuread) and we will surely help you with the same. If its related to some documentation , please do open the same on the documentation page itself.

Thanks.

[2019-10-03 06:01] #39722 closed

[2019-10-03 06:04] msvijayn commented on #38162
@nitin775 - thank you for your feedback. We will look to rephrase the content in the next iteration of the documentation refresh.

@yanivlavi & @rboucher -  the new owners of the service & content respectively. To close on the doc feedback.

[2019-10-03 06:04] SadiqhAhmed-MSFT commented on #39709
@JiayueHu and @v-miclar Any update on this?

[2019-10-03 06:10] msvijayn commented on #37876
_One is why you are hard coding the subscription information as variables when you are also passing it in as a parameter - why?_

Ans: ARM templates are used in two forms by customers, one where they dynamically pass variables and other values are hardcoded. In the sample provided, we have tried to mix both - so that customers wanting either experience can easily adapt the sample to send values dy

[2019-10-03 06:14] BhupalPatil opened #40013 "Can the app registration be optional? #39600"
@Virginia001 , I have raised some quesitons inline to your reply on [#39600](https://github.com/MicrosoftDocs/azure-docs/issues/39600). Could you please help with those points?

Thanks.
Bhupal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53d7aa53-325c-87ce-70e9-992b2e5deed7
* Version Independent ID: ac83b404-7a04-a5f

[2019-10-03 06:22] #38902 closed

[2019-10-03 06:23] dcbrown16 opened #40014 "Which metrics?"
What metrics exactly are available through Intelligent Insights logs?
In particular, as shown here Managed Instance databases do not support the basic metrics or basic logs, but they do support Intelligent Insights.
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-metrics-diag-logging
Can we get info such as per DB IOPS/CPU/memory for Managed Instance from these Intelligent Insight

[2019-10-03 06:25] ChiragMishra-MSFT commented on #39777
@fantinis Glad to hear that the issue was resolved. I will now proceed to close this issue. However feel free to still comment if you have any queries.

[2019-10-03 06:33] jmprieur commented on #39722
@aaronjones1 : the same sample is an incremental tutorial one step of which is calling MSGraph (See https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/2-WebApp-graph-user/2-1-Call-MSGraph). Also the scenario "Web app signs-in users" is followed by [Web app calls Graph](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-web-app-cal

[2019-10-03 06:45] mikaelsand opened #40015 "Pointing to archived documentation"
The article does not give information on how to setup the OAUTH2 service and links to another article on GitHub. That article is archived and also not a very good article on how to setup OAUTH2 with AAD.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa82acc4-680a-1431-f4fc-4848e8efe2ce
* Version Independent ID: fbf311

[2019-10-03 06:51] tomygrenier commented on #39787
Is it planned for you to add it ?

[2019-10-03 06:52] rayne-wiselman commented on #39937
@vcbinoy Hi, thanks for your feedback. It's stated at the top of the article that the appliance is used for:

VMware VM | VMware VM assessment with the Azure Migrate Assessment tool.
VMware VM agentless migration with the Azure Migrate Server Migration tool

#please-close

[2019-10-03 06:52] #39937 closed

[2019-10-03 06:58] prabansa commented on #39897
Hi Abhijeet, Thanks for reaching out. In the example you shared, you can "publish" up to 14 knowledge base in Basic Azure Search tier. Once you have exhausted limit of Azure search index, you should get an error while publishing the KB. You can also go to Azure portal, select resource groups and navigate to the resource group where the QnA Maker service is deployed and select the Azure Search reso

[2019-10-03 07:09] pbakhil opened #40016 "correction in section to Limits and policies"
In Azure portal, instead of properties the above mentioned policies are under the section Limits and policies under Settings. Can you please make that correction?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2e73463-a5fb-9965-e6ba-27f1cd8f93a7
* Version Independent ID: 21ac7187-c528-0f80-2c96-eeabead9fa2d
* Content:

[2019-10-03 07:16] ndnx commented on #38591
@tfitzmac - I don't know about Azure Stack, but the deployment was running under a service principal. I have also opened a support ticket to Azure and they replied that the error was really caused by the **Microsoft.Network** provider registration.

They said the provider registration occur automatically when we tried to deploy an ARM template which use provider that was unregistered. However in m

[2019-10-03 07:40] ChiragMishra-MSFT commented on #40016
@pbakhil Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@saveenr Can you please have a look at this?

[2019-10-03 07:42] ChiragMishra-MSFT commented on #40012
@kazshi Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@linda33wj Can you please have a look at this ?

[2019-10-03 07:42] SadiqhAhmed-MSFT commented on #39733
@sochan1 Adding that failover has 3 options:

•Latest (default): Processes all the data in the Site Recovery service and provides the lowest Recovery Point Objective (RPO).
•Latest processed: Reverts the virtual machine to the latest recovery point that has been processed by Site Recovery service.
•Custom: Fails over to a particular recovery point. This option is useful for performing a test failo

[2019-10-03 07:51] Ashish-Jovial commented on #33160
Hi @MadhanRamachandran ,

I am also getting the same error. How did you resolved that?

[2019-10-03 07:51] chijiokeNwafor commented on #39952
Hi Micah,

Please forgive me i forgot to mention the resource. It is actually for Service bus. The East US region is available on the portal, but the docs says otherwise. Thank you for looking into this.

[2019-10-03 07:54] chijiokeNwafor commented on #39952
Hi Micah,

i already replied on GitHub link. However, i forgot to mention the resource
in question.

It is for Service bus. On the portal it shows East US as an available
region, but the docs says otherwise.

On Wed, Oct 2, 2019 at 3:55 PM Micah <notifications@github.com> wrote:

[2019-10-03 08:01] Potapy4 commented on #40002
@rachel-msft actually @rodrigoviola was right - there were some characters instead of spaces 👀 I created a PR to fix this

[2019-10-03 08:19] xkobal commented on #39665
I have created another application call 'test', id: "dc0a40ac-6182-4563-ade8-5e8174ed6343"

The error is the same.

I have forgot a point in my first message, when I click on "Verify and save domain", there is no call on the hosted file.

[2019-10-03 08:41] gavsto commented on #39939
I had this problem too, this really should be in the documentation.

[2019-10-03 08:41] Zenuka commented on #30853
Should this issue be re-opened or is there another issue where I can check the progress?

[2019-10-03 08:47] infy-vijayaraghavanl commented on #39976
Well, I have logged a support request and several hours into the case we haven't been able to figure out why the script won't work. With MS we could confirm to the point that we get the Auth token just fine. I fail @ Invoke-RestMethod. Took fiddler trace and observed 'HTTP/1.1 400 Bad Request'.

We have as well tried $UnwrapKeyRequestUrl = $KEKUrl+ "/unwrapkey?api-version=7.0"; where api-version=7

[2019-10-03 08:55] danimir commented on #40014
Intelligent Insights are described on [this page](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-intelligent-insights-use-diagnostics-log) in detail. Intelligent insights are *not* raw metrics and they do not provide raw information you are looking for. This is a built in AI that can automatically troubleshoot performance issues listed on [this page](https://docs.microsoft.com/en

[2019-10-03 09:13] DixitArora-MSFT commented on #40015
@mikaelsand Could you please elaborate which other article you are referring.

[2019-10-03 09:29] msozcelik opened #40022 "Create a resource menu has been changed"
There is no more "Management Tools" menu item on the "Create a resource" section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7c2cc34-ba4a-1181-ccda-88dd901e0212
* Version Independent ID: 9b4a3b68-03fc-387a-ee5d-e7f73ee3c567
* Content: [Azure Quickstart - Create an Azure Automation account](https://docs.microsoft.c

[2019-10-03 10:00] isshukla opened #40023 "Wrong variable "$feip" defined in the section: "Create Internal Load Balancer""
In the line starting with "$rule"; instead of "$feip" it should be "$frontendIP"  or you should define "$feip" then use it in the New-AzLoadBalancerRuleConfig command

$frontendIP = New-AzLoadBalancerFrontendIpConfig -Name $lbFrontName -PrivateIpAddress 10.0.1.5 -SubnetId $vnet.subnets[0].Id

$rule = New-AzLoadBalancerRuleConfig -Name HTTP -FrontendIpConfiguration $feip -BackendAddressPool  $bepoo

[2019-10-03 10:00] git001 opened #40024 "Could not create a role assignment for monitoring addon"
Which role assignment is required for monitoring and http_application_routing addon?
Where can I define the role for the addons into the `aks create ...` command line?

I have created a issue in AKS with the exact error message.

https://github.com/Azure/AKS/issues/1249

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25

[2019-10-03 10:02] pachi-belero opened #40025 "Wrong file name in example?"
Example file referenced as "resourceProjection.parameters.json" maybe should be "delegatedResourceManagement.parameters.json"? That seems to be the name of the file in the GitHub repo.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85dc331a-0f34-f9a2-43d9-8ab7e0e635c6
* Version Independent ID: 96c07c81-f84c-f47b-659c-b

[2019-10-03 10:03] SashaMilic opened #40026 "SocketStream read error - Socket SO_ERROR"
**This issue is for a: (mark with an x)**

**Minimal steps to reproduce:**

**Expected/desired behavior**

**OS and Version?**

**Any log messages given by the failure**

**Debug error**

------
**Some time it throws this error:**

**Mention any other details that might be useful**

[code]

[2019-10-03 10:32] RohitMungi-MSFT commented on #40004
@cdandrea Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-03 10:35] astraujums opened #40027 ""registration ID" should be used instead of "device ID""
In the Registration ID section there is text "The device ID must be unique". It likely needs to read "The registration ID must be unique".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99cde61d-0cab-c249-4a33-ab8d49105ceb
* Version Independent ID: 16535131-6077-d876-da32-f1c755a9629a
* Content: [Device concepts in Azu

[2019-10-03 10:35] SwathiDhanwada-MSFT commented on #39569
@BhupalPatil  I have reproduced the issue from my end and i was able to find the logs in the workspace.Normally, it takes 30 min for the data to show up.Can you please cross verify again? Here is a snapshot from my end.
<img width="870" alt="2019-10-03 16_03_35-MM-Log-Analytics-Workspace-With-PerGB2018-Pricing-Tier - Logs - Microsoft Azure" src="https://user-images.githubusercontent.com/48976275/6

[2019-10-03 10:35] RohitMungi-MSFT commented on #40013
@BhupalPatil Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-03 10:37] anderson-rancan commented on #39858
hey @tfitzmac , yes it was **Complete mode**. This is the call from our Powershell script:

`New-AzureRmResourceGroupDeployment -Name $deploymentName -ResourceGroupName $ResourceGroupName -TemplateFile $TemplateFile -TemplateParameterObject $TemplateParameters -Mode $Mode -Force  -Verbose  -ErrorVariable ErrorMessages`

After I changed it to Incremental the error was gone, but now I'm investigatin

[2019-10-03 10:39] github2alfred opened #40029 "Please write clearly if it is a must or not to use azure kms."
Please use the right wording. If azure vm "must" use azure kms or not. Some people have kms on premise and would like to connect azure vm to this on premise kms via private link [s2s vpn or express route]

#Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback

[2019-10-03 10:39] SwathiDhanwada-MSFT commented on #40022
@msozcelik Thank you for your feedback! We will review and provide an update as appropriate.

[2019-10-03 10:39] RohitMungi-MSFT commented on #40026
@SashaMilic Could you please provide more information about the document link that you used before seeing this error? This will help us direct the issue to the right team.

[2019-10-03 11:03] StarWardo commented on #39964
Hello @mike-urnun-msft , I have added the link to the Docs.
My excuses, I thought it was already added.

[2019-10-03 11:09] nareshynn commented on #39079
same problem for me as well. we have github enterprise server in azure and i can able to see my repositories in azure devops. while configuring in data factory repository setting it showing git repository not found.
and we tried to do we can able to configure service connection and github connections in azure devops project settings.when we are trying to configure repos in azure data factory repos

[2019-10-03 11:10] #40022 closed

[2019-10-03 11:11] jwisener opened #40030 "Unclear for mutiple apps"
It’s unclear from the documentation provided, how to orchestrate across multiple app instances. For example, if I have a web app on one instance and say an API on another instance. The web app depends on the API being swapped before it should be swapped. How does one ensure, both are swapped together? For example, if a swap fails on either one then you want to the whole swap rolled back for both.

[2019-10-03 11:11] SwathiDhanwada-MSFT commented on #40022
Thanks for catching this. A PR has been successfully initiated to resolve this issue. The change is pending review + approval after which the change will be live - in roughly 24 hrs.	We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-10-03 11:15] Boombasteg opened #40031 "Problem with automatically purge images from an Azure container registry"
I'm trying to run scripts from [this article](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-auto-purge).

I've prepared test repositories, little changed first example and try to run it:
`
az acr login --name myacrname
$PURGE_CMD="mcr.microsoft.com/acr/acr-cli:0.1 purge \ --registry {{.Run.Registry}} --filter 'hello-world:.*'"
az acr run \ --cmd "$PURGE_CMD" --regist

[2019-10-03 11:25] kubaseai opened #40032 "What about network encryption?"
Let's say I've got REST microservices running on AKS communicating together over HTTP and Kevin Mitnick wants to read my traffics, enters your data center and connects to Brocade network devices. How is network protected? It's mainly SDN with AES? Can I send sensitive data over HTTP without a need for HTTPs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2019-10-03 11:37] anfelbeghoura commented on #39965
Thank you

[2019-10-03 11:37] #39965 closed

[2019-10-03 11:40] tomaszglinski opened #40033 "Clearly state that AI key is not needed in logback XML if given via properties"
I just tested, it is fine if AI key is provided via configuration property. Providing it via logging config file would make things much more complex. I was very unhappy when I red that

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c61a621d-efd0-94a1-386b-db00da932da5
* Version Independent ID: 797c2db5-9efd-fdf4-0b6b-c

[2019-10-03 11:45] anfelbeghoura commented on #39845
Thank you very much @shizn ; now I understand the way it works, if you don't mind, I will close this issue for now and I might reopen it if needed.

[2019-10-03 11:45] #39845 closed

[2019-10-03 11:46] Deltaxel commented on #39954
Sure! Here is a partial list of documents and samples that I tried:

UWP tutorial: https://docs.microsoft.com/en-us/graph/tutorials/uwp
UWP quick start: https://developer.microsoft.com/en-us/graph/quick-start?platform=option-windowsuniversal
Use the SDK: https://docs.microsoft.com/en-us/graph/sdks/create-client?context=graph%2Fapi%2Fbeta&view=graph-rest-beta&tabs=CS

I can't find the tutorial that

[2019-10-03 11:54] jonathaneckman commented on #40007
I used the wrong term. I was referring to the pay-per-usage VM billing model, not the pay-as-you-go subscription model. Specifically, this sentence from this article:

“Paying the SQL Server license per usage means that the per-second cost of running the Azure VM includes the cost of the SQL Server license.”

I’d like to pay per-second using a custom SQL Server image instead of buying licenses.

[2019-10-03 11:58] nareshynn opened #40034 "Github Repository not found in data factory"
same problem for me as well. we have github enterprise server in azure and i can able to see my repositories in azure devops. while configuring in data factory repository setting it showing git repository not found.
and we tried to do we can able to configure service connection and github connections in azure devops project settings.when we are trying to configure repos in azure data factory repos

[2019-10-03 12:06] jakaruna-MSFT commented on #40024
@git001
Thanks for the question! We are investigating and will update you shortly.

[2019-10-03 12:07] gerrynicol opened #40036 "Add clearer details on a personal desktop"
When you select a personal desktop rather than a pooled desktop what number of desktops should be selected to create within the host pool? If you want to create 10 personal desktops, should you add the 10 users as the comma separated list and then select 10 vm's to be created?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-10-03 12:25] jakaruna-MSFT commented on #39330
Thanks for the detailed explanation.
I see only this [page](https://wiki.jenkins.io/display/JENKINS/Azure+Container+Agents+Plugin) in jenkins which explains about that plugin which DIDNT cover all scenarios.

 will forward this item to the "Jenkins container agent plugin team".

[2019-10-03 12:25] jakaruna-MSFT commented on #39485
@athinanthny Please add your comments

[2019-10-03 12:43] #39841 closed

[2019-10-03 12:45] Sogup commented on #39947
That's right.
Announcement: https://azure.microsoft.com/en-us/updates/azurebackuplargediskpreview/
Azure Backup support for disks upto 30TB is in preview.
@dcurwin Can you please update the doc.

[2019-10-03 12:48] TWolverson commented on #21911
@johndowns would you perhaps be able to share how you found out how to do this, please? I've been searching for the best part of a day for official documentation that explains it and have come up with nothing.

[2019-10-03 12:55] BhupalPatil commented on #39569
@SwathiDhanwada-MSFT , thanks for the updates... I will try again and confirm.

[2019-10-03 12:58] Rygorazd opened #40037 "Graphic in dark theme"
First graphic in "Azure Tenancy" section is almost not visible (layers) in Dark Theme

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c9d1ff4-9e32-39fc-2d8d-46d3c07bca4d
* Version Independent ID: 72b20547-e78b-f6d2-6e69-31c846965ad0
* Content: [Isolation in the Azure Public Cloud](https://docs.microsoft.com/en-us/azure

[2019-10-03 13:06] grzegorzwierzbicki opened #40038 "substring search is case sensitive"
substring search is case sensitive
This actually makes it harder to find groups than the "old" way

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6864fd99-6f1f-a4db-931e-b5dfc915fec8
* Version Independent ID: 76c2f17c-011d-c0a5-b163-7399cce97701
* Content: [Search and filter groups members and owners (preview) - Azure

[2019-10-03 13:08] RohitMungi-MSFT commented on #39787
@tomygrenier I think this [article](https://docs.microsoft.com/en-us/azure/cognitive-services/bing-web-search/rank-results) on how to use the rankingresponse might help you understand how you can provide a similar experience as bing search.

To explore further we would recommend to go through this [video](https://channel9.msdn.com/Events/Cognitive-Services/Cognitive-Services-Live/Leverage-the-Powe

[2019-10-03 13:10] RohitMungi-MSFT commented on #39826
@pmontanaro We will now proceed to close this thread. Please feel free to raise an issue against the tutorial/document you are using from azure docs from the feedback section if you encounter future issues.

[2019-10-03 13:10] #39826 closed

[2019-10-03 13:13] LaloCo commented on #39595
Ah, thanks @michaelsmitha, finally got it working on an ASP.NET Web App.

[2019-10-03 13:13] #39595 closed

[2019-10-03 13:14] RohitMungi-MSFT commented on #39928
@RamakrishnaPathuri The scope of this repo is to handle issues related to azure documentation. If you are facing an issue with the service or an application we recommend to post the same in the appropriate MSDN or Stackoverflow forum as the developer community is quite active and you would receive an appropriate response.

We will now proceed to close this thread. If there are further questions pl

[2019-10-03 13:14] #39928 closed

[2019-10-03 13:16] SubhashVasarapu-MSFT commented on #40023
@isshukla , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-10-03 13:18] iaasazure opened #40039 "Include the "Five steps to securing your identity infrastructure" article"
Five steps to securing your identity infrastructure
https://docs.microsoft.com/en-us/azure/security/fundamentals/steps-secure-identity

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3e80266-d60e-c46d-38a1-83cfd677f299
* Version Independent ID: c255951e-acda-184a-996b-b3df4a18913a
* Content: [Security best practices an

[2019-10-03 13:22] RohitMungi-MSFT commented on #40009
@tellstoriesatbedtym The free tier of app service might work but due to the limits of this tier the sample  may not work for some users who would like to use their existing free tier app service or if the free tier limits change.
We would recommend this feedback/suggestion to the content author of this document to include this as part of their next document update.

[2019-10-03 13:27] jvtroyen opened #40040 "How to prevent AccountEnabled=true when removing email verification?"
If we opt to remove the email verification, I was expecting AccountEnabled to remain false.
We would then be forced to provide our own verification-procedure to put AccountEnabled to true.

Or is this not the meaning of AccountEnabled and I need to look at a different field?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-10-03 13:29] aaronjones1 commented on #39722
Oh, should've caught that. Thank you!

[2019-10-03 13:39] SamaraSoucy-MSFT commented on #40033
Hi @tomaszglinski

Thank you for the feedback. I'll review the documentation and get back with you shortly.

[2019-10-03 13:47] RohitMungi-MSFT commented on #40011
@tellstoriesatbedtym After looking around a bit it looks like this is still experimental and there is an [issue](https://github.com/microsoft/BotBuilder-Samples/issues/1731) from the botbuilder repo which covers using streaming audio the direct line endpoint.
The experimental sample is [here](https://github.com/microsoft/BotBuilder-Samples/tree/master/experimental/directline-speech/javascript_node

[2019-10-03 13:50] ToddBowman opened #40041 "load balancers and global vnet peering"
Now that AKS can use standard load balancers, does that mean all AKS services will work across a global vnet peer?  As I understand it, services using basic load balancers can't be reached across a global vnet peer.  We've been holding off on global vnet peering for this reason.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-10-03 13:52] LS16395762 opened #40042 "No information on new Global Reader role"
Please add information for new Global Reader role that is rolling out.  Message center ID MC191391

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8eadd92
* Version Independent ID: a380a828-03f9-e037-3a62-e4165fda7cb6
* Content: [Administrator role descriptions and permissions - Azure Active

[2019-10-03 13:52] RohitMungi-MSFT commented on #40025
@pachi-belero Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-03 13:56] RohitMungi-MSFT commented on #40029
@github2alfred Could you please provide us the documentation link to the question raised? This will help us redirect the issue to the correct team.

[2019-10-03 14:02] tahir1122 opened #40043 "Azure - New resourceGroupDeployment error"
I am trying to create a new resource with Azure and getting this error

VM has reported a failure when processing extension 'DSC'. Error
message: "The DSC Extension received an incorrect input: An error occurred while executing script or module
'RSSBus.ps1':  The term 'C:\Packages\Plugins\Microsoft.Powershell.DSC\2.80.0.0\bin\..\DSCWork\RSSBus.0\RSSBus.ps1' is
not recognized as the name of a cmdle

[2019-10-03 14:02] RohitMungi-MSFT commented on #40031
@Boombasteg Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-03 14:04] RohitMungi-MSFT commented on #40034
@nareshynn Could you please let us know the documentation link that you are using before facing the above problem? This would help us redirect you to the right team.

[2019-10-03 14:06] RohitMungi-MSFT commented on #40043
@tahir1122  Could you please let us know the documentation link that you are using before facing the above problem? This would help us redirect you to the right team.

[2019-10-03 14:07] mamaejim opened #40044 "NSG flow log limitation with Storage service endpoints"
Discussed NSG flow log limitation with thread below on July, but the limitation is not resolved as of now.

https://github.com/MicrosoftDocs/azure-docs/issues/29114

Could you please consider to indicate that in the document?
A lot of users uses service endpoint for Azure storage and they cannot aware this limitation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2019-10-03 14:09] zoekdestep opened #40045 "Sudo not found"
When I implement the RUN wget onboarding agent in my Linux container:
wget https://raw.githubusercontent.com/Microsoft/OMS-Agent-for-Linux/master/installer/scripts/onboard_agent.sh && sh onboard_agent.sh -w -s

I get a sudo: not found error:
onboard_agent.sh: 99: onboard_agent.sh: sudo: not found

Please advise. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-10-03 14:11] tahir1122 commented on #40043
http://harvestingclouds.com/post/step-by-step-arm-templates-deploying-template-using-azure-powershell/

[2019-10-03 14:13] tahir1122 commented on #40043
PS >  New-AzureRMResourceGroupDeployment -ResourceGroupName serverTEST -TemplateFile C:\mainTemplate.json

[2019-10-03 14:26] rathishrms opened #40046 "Automation - ARM, API ?"
Is there a way to automate this to do it outside the portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 588fc4d6-0c4d-297d-cfe1-8562728fdc4d
* Version Independent ID: cf117c91-90fa-036b-9763-a3c16b398a33
* Content: [Tutorial - Create an Azure Active Directory B2C tenant](https://docs.microsoft.com/en-us/azure/activ

[2019-10-03 14:35] Dusted1969 commented on #39838
Hi - yes I moved the mounts to the OS disk and now everything persists as expected.  I guess I was just commenting on the fact that a newbie (like me) using an Azure Ubuntu build might get caught out with this as the default location for /mnt is on the ephemeral disk as default.

Thanks for your assistance.

[2019-10-03 14:35] #39838 closed

[2019-10-03 14:35] jzuchora87 opened #40047 "Question on auto update"
Starting with Update Rollup 35, you can choose an existing automation account to use for updates. Prior to this update, Site Recovery created this account by default. This option is available when you enable replication for a VM. If you change the setting, it will apply for all Azure VMs protected in the same vault.

Do you have an example of how this looks? According to the portal as of today, it

[2019-10-03 14:41] Karishma-Tiwari-MSFT commented on #40036
Thanks for the question. We are currently investigating and will update you shortly.

[2019-10-03 14:44] GiftA-MSFT commented on #39799
@swanderz thank you for clarifying your question. Unfortunately, there's no way to automatically view/download data outputs (generated when using PipelineData object) in the portal without writing files to the ./outputs folder. However, this is valuable feedback that we can provide to the product team.
@rastala can you please confirm if there is an alternative solution, otherwise can you please cr

[2019-10-03 14:47] nareshynn commented on #40034
@RohitMungi-MSFT https://azure.microsoft.com/en-in/blog/azure-data-factory-visual-tools-now-supports-github-integration/

[2019-10-03 14:51] smartstoremx commented on #39611
Hi, I create an Net Core Api 3, I using

Trace.AutoFlush = true;
Trace.TraceInformation("1) runing end point ");
Trace.TraceWarning("2) Warning msg ");
Trace.TraceError("3) Report error );

In Azure: I  have this:
![image](https://user-images.githubusercontent.com/30731883/66137830-ac19bb00-e5cb-11e9-928f-327aa776baf6.png)

Azure- Log Stream do not show me any messages or errors? Do you know why?

[2019-10-03 14:58] MarshHawk commented on #39611
@smartstoremx Yeah, that was basically my question. Trace is not sufficient. I configured logging an then got a logger from the factory:

`Host.CreateDefaultBuilder(args).ConfigureLogging(logging => {
                    logging.ClearProviders();
                    logging.AddConsole();
                    logging.AddAzureWebAppDiagnostics();
                })`

[2019-10-03 15:00] curtand commented on #33940
hi @Oechiih

You might be confusing Azure RBAC roles that grant permissions on Azure subscriptions and resources with Azure AD administrative roles, which grant permissions on Azure Active Directory resources such as users, groups, and so on. He says “Security Administrator does not have access to Azure subscriptions. This is correct and by design. Roles in Azure AD do not grant access in Azure.”

[2019-10-03 15:00] #33940 closed

[2019-10-03 15:04] curtand commented on #39198
Hi @ali-hamud
The PM who originated and verified his information will be back from Parental Leave on October 8. I’ll verify and respond then. Thanks for your information!

[2019-10-03 15:06] JakeAlmer commented on #39755
That links has good information, I'm just suggesting you put in the other article so developers can find it. If you're going a developer "Avoid attempting to read values from files like local.settings.json or appsettings.{environment}.json on the Consumption plan" then linking to what they should do would make it easier to do it correctly.

[2019-10-03 15:07] shashishailaj commented on #40037
@Rygorazd Thank you for pointing this out. We will investigate this with content authors and update this thread.

[2019-10-03 15:08] shashishailaj commented on #40038
@grzegorzwierzbicki Thank you for your feedback . We will investigate and update this thread.

[2019-10-03 15:08] shashishailaj commented on #40032
@kubaseai Thank you for your query . We will investigate and update this thread

[2019-10-03 15:10] TerryLanfear commented on #34762
@garybushey - Thank you for the feedback! The link has been fixed and now goes to a blog post about application security groups (https://azure.microsoft.com/blog/applicationsecuritygroups/).

#please-close

[2019-10-03 15:10] #34762 closed

[2019-10-03 15:12] JeremyHargis commented on #39870
This is now inexplicably working for me. I didn't make any changes on the server prior.

[2019-10-03 15:14] shashishailaj commented on #40039
@iaasazure Thank you for the fantastic idea . We will have this checked with the content team to get the idea reviewed and act accordingly.

[2019-10-03 15:15] shashishailaj commented on #40040
@jvtroyen Thank you for your query. We will investigate and update this thread further.

[2019-10-03 15:18] SubhashVasarapu-MSFT commented on #39750
@KarlaK-fl , Appreciate your patience. As far as i know, there is only one possibility and that was resetting the whole gateway where all connection will be rebooted. Generally it would take a minute to get rebooted and sometimes up to 30 to 45 minutes depending on the gateway instances. How ever let me confirm with the team regarding this issue and i will get back to you.

[2019-10-03 15:19] #39919 closed

[2019-10-03 15:21] tellstoriesatbedtym commented on #40011
Thank you @RohitMungi-MSFT for the referenced issue. It indeed is similar to what I am facing but the solution is with a node js pre-release SDK, while I am looking for a C# solution. Let me try raising issue on the other repo.

[2019-10-03 15:22] Karishma-Tiwari-MSFT commented on #40041
Thanks for the question. We are currently investigating and will update you shortly.

[2019-10-03 15:23] SubhashVasarapu-MSFT commented on #40044
@mamaejim , Thanks for your feedback. We are assigning this issue to the content author for updating the document accordingly.
@KumudD , Could you please provide your insights here?

[2019-10-03 15:24] yegu-ms commented on #34839
@sk1tt1sh Thanks for your suggestion! We're tracking it [here](https://github.com/Azure/AppConfiguration/issues/156) for our doc updates.

[2019-10-03 15:24] yegu-ms commented on #34839
#please-close

[2019-10-03 15:24] #34839 closed

[2019-10-03 15:25] djpmsft commented on #39133
Hey @tehtertot ,

The publish branch of your dev environment is where you want to test your triggers. Since triggers are scheduling of jobs, they most be ran against a publish branch. The publish branch of your dev factory should not be considered a production environment, but as a place you can test triggers. Once you are satisfied with all the changes currently in the publish branch (which comes

[2019-10-03 15:28] #40011 closed

[2019-10-03 15:36] GiftA-MSFT commented on #39973
Hello @PatrickFarley, can you please approve the PR request and close the thread? Thanks.

[2019-10-03 15:39] asudbring commented on #37583
Updated terms in document.
#please-close

[2019-10-03 15:39] #37583 closed

[2019-10-03 15:39] sochan1 commented on #39733
@SadiqhAhmed-MSFT makes sense, we can close this thread...

[2019-10-03 15:45] toddysm commented on #39331
@rolyon Apologies for the delay. I will not reopen the issue as this seems to be a portal problem. Where can I file bugs for the portal? We are noticing other strange behaviors in the portal that we would like to have some clarifications about.

[2019-10-03 15:48] djpmsft commented on #39079
@nareshynn are you in Gov cloud or a different region?

[2019-10-03 15:54] richjhart opened #40048 "Unable to start project - "dotnet ef database update" does not work"
When I ran the command in Git Bash, I got the following error:

$ dotnet ef database update
Could not execute because the specified command or file was not found.
Possible reasons for this include:
  * You misspelled a built-in dotnet command.
  * You intended to execute a .NET Core program, but dotnet-ef does not exist.
  * You intended to run a global tool, but a dotnet-prefixed executable with

[2019-10-03 15:55] #40002 closed

[2019-10-03 15:55] markjbrown commented on #30853
Working to get this out over the next couple of weeks.

[2019-10-03 15:58] MicahMcKittrick-MSFT commented on #39873
Closing this out. If still have issues just let us know.

[2019-10-03 15:58] #39873 closed

[2019-10-03 15:58] GiftA-MSFT commented on #39897
@prabansa thank you for your explanation.
@abbodh as highlighted in the previous comment, limits are apply based on the tier you've selected, and you'll have to monitor the usage in the overview page of your search service. Please let us know if you have further questions, otherwise, we'll proceed to close this thread. Thanks.

[2019-10-03 15:58] Boombasteg commented on #40031
Try to run in Azure Cloud Shell:
![image](https://user-images.githubusercontent.com/11660672/66143434-d4c3a400-e60f-11e9-998c-1f1b4d2f1afe.png)

[2019-10-03 16:00] MicahMcKittrick-MSFT commented on #39880
@robinmanuelthiel still looking to have you elaborate a bit more as per my above comment.

[2019-10-03 16:03] RohitMungi-MSFT commented on #40043
@tahir1122 Thanks for the link. The scope of this repo is to handle issues related to azure documentation. If you are facing an issue with the service or an application we recommend to post the same in the appropriate MSDN or Stackoverflow forum as the developer community is quite active and you would receive an appropriate response.

[2019-10-03 16:05] MicahMcKittrick-MSFT commented on #39952
@chijiokeNwafor thanks for the extra details. I confirmed and updated the doc. I also found AZ zones for Service Bus are available in UK South and Japan East so updated that as well.

Once the PR merges the changes will go live after a few hours.

[2019-10-03 16:05] #39952 closed

[2019-10-03 16:06] alex-frankel commented on #39985
I am able to repo. I moved this issue over to the azure-powershell repo so we can track it better.

https://github.com/Azure/azure-powershell/issues/10184

We can close this issue

[2019-10-03 16:09] MicahMcKittrick-MSFT commented on #39994
@eugen-nw there is not portal support for Managed Identifies with Service Fabric. All operations need to be performed by updating via template. When it comes to Service Fabric the simplest and most effective way to manage a cluster both on prem and in Azure is via template. The portal has limited options on what can be achieved.

[2019-10-03 16:13] IEvangelist commented on #39397
Hi @xtianus79,

The container is periodically updated, and it is not currently announced. The updates are usually minor and typically never include breaking changes. We're working on providing more clarity into this process. I'll try to post here when the container is updated with the fix.

[2019-10-03 16:21] DCtheGeek commented on #39985
#please-close

[2019-10-03 16:21] #39985 closed

[2019-10-03 16:22] NavtejSaini-MSFT commented on #39974
@yobyot This has been assigned to doc author for review.
@anosov1960 Please look into this and advise if we need to create a PR for this.
@stevestein For awareness that this should be taken as a general feedback on the docs and we help each other in fixing the same

[2019-10-03 16:23] egondalia opened #40049 "List latest recovery points with Powershell"
Is there a command to List latest recovery points with Powershell

Old link here but unable to make it work, appreciate option to query this info:

https://social.msdn.microsoft.com/Forums/en-US/954c6662-34af-4ac3-a8d3-0a764bab29bc/list-latest-recovery-points-with-powershell?forum=hypervrecovmgr

[2019-10-03 16:24] SubhashVasarapu-MSFT commented on #39983
@dvherk , It looks like all the regions specified in the Azure portal under private link resource were commonly available for the entire three resources types,(Microsoft.Network/privateLinkServices,Microsoft.Sql/servers,Microsoft.Storage/storageAccounts).I even tested deploying some of them. Let me have a sync with the author and if necessary will definitely update the available regions list in th

[2019-10-03 16:29] Alberto-Vega-MSFT commented on #39607
@josiahlaivins Did you get a chance to see the previous comment?

[2019-10-03 16:32] sssseossss opened #40050 "Unclear about "Gateway subnet address range""
Hi, it is unclear in the 2nd section about "Gateway subnet address range". I cannot find such setting in the Azure dashboard in Virtual network pane. The Virtual network gateway IP is blank and the subnet is "GatewaySubnet" - there are no numerical expression, so how can we choose its range? Maybe this is deprecated? Thanks!

https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-howto-sit

[2019-10-03 16:33] josiahlaivins commented on #39607
Yes, I will test this this week to see if it works, thank you for the responses!
________________________________
From: Alberto Vega <notifications@github.com>
Sent: Thursday, October 3, 2019 12:30:21 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Josiah Laivins <josiah.laivins@mariner-usa.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Conta

[2019-10-03 16:35] o-o00o-o opened #40051 "How to find the error if failed?"
Normally when we run this interactively (in ssms) we get a response and if failure it provides the error message. How can we get this? All we get is status failed with no details. I also can't find where I can get this information from AAS portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f706b7d-0a82-4535-f7ec-3

[2019-10-03 16:36] smartstoremx commented on #39611
Thank you for your help. It still not working.

a) Added the nugget : Microsoft.Extensions.Logging.AzureAppServices

<img width="398" alt="nuget_Logger" src="https://user-images.githubusercontent.com/30731883/66146194-4da80900-e5da-11e9-8746-3b3507daee7c.png">

b) This is the code that I have in program.cs

 public static IWebHostBuilder CreateWebHostBuilder(
           string[] args) => WebHost.C

[2019-10-03 16:38] PatrickFarley commented on #39973
approved
#please-close

[2019-10-03 16:38] #39973 closed

[2019-10-03 16:40] migrande opened #40052 "Incorrect Verbiage in Configure log profile using Azure CLI section"
In the Configure log profile using Azure CLI section, the "days" parameter says "If zero, then the enabled parameter should be set to true".  This is wrong though - if days is zero, then you need to set enabled to false to disable the retention policy.  The description of the enabled parameter directly contradicts the days parameter.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2019-10-03 16:40] malishivom commented on #29061
Why username and public key list is not showing in Admin credential list?
This feature is implemented for this plugin or not?

[2019-10-03 16:44] TravisCragg-MSFT commented on #39742
@Biju-Joseph Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-03 16:44] #39742 closed

[2019-10-03 16:46] SubhashVasarapu-MSFT commented on #39793
@mjpagan , As of now accelerated networking works only with Win 2012 R2, 2016,2019 and there is no support for Win 2008.

[2019-10-03 16:51] mjpagan commented on #39793
Thank you for digging up that answer. I appreciate the clarification.

[2019-10-03 16:54] eugen-nw commented on #39994
ARM templates are one way to go about it.  Accidentally, we've _never_ had the need to use one to deploy a SF cluster and we've been in this business for years.  We configure Clusters using the Portal and deploy Applications and Services using Azure DevOps release pipelines.  ARM templates could be _simplest_ when you have in house knowledge and experience using them.  For me so far most samples I

[2019-10-03 17:01] bouchaet commented on #39564
Hi, I'm glad to see that you can confirm the problem. Thank you. Regards,
Etienne

Le mar. 1 oct. 2019, à 15 h 28, AjayKumar-MSFT <notifications@github.com> a
écrit :

[2019-10-03 17:02] MicahMcKittrick-MSFT commented on #39994
DevOps piplines are another good way to achieve deployment too. It is similar to the template style. I am not overly skilled in DevOps but many users find that way of deploying to be ideal.

Deploying a cluster via the portal is a fine way to. But as far as configuring and updating the cluster you are quite limited if using only portal

[2019-10-03 17:03] TerryLanfear commented on #40039
@iaasazure - Thank you for your feedback. The article you suggest we link to is valuable. We currently link to that article via the table of contents on the left side of the pane. The link is titled Platform and infrastructure > Identity management > Security checklist.

We are in the process of reworking our Azure security site. The best practices article that you suggest we add the link to will

[2019-10-03 17:04] alfeuduran commented on #30253
There is an option to install all libraries in all clusters.

this option is located on library space, click  on that and the options appear

<img width="1109" alt="Captura de Tela 2019-10-03 às 14 02 38" src="https://user-images.githubusercontent.com/36578943/66148151-a9788f00-e5e6-11e9-9469-c410658d7e62.png">

[2019-10-03 17:08] mustafamg commented on #39879
Thanks, @FrankHu-MSFT , I am with custom policies now and it seems to work.

[2019-10-03 17:08] #39879 closed

[2019-10-03 17:12] taromielnaz commented on #8231
Following @KrzysztofRosada, this is my question as well. How can we see how basic is protecting my services? is there any place to see the report or settings? Or even make sure that it is working.

[2019-10-03 17:15] jkochhar commented on #38623
@lanfeust69 I will create a bug on our side to investigate it further. It does seem we are generating the manifest as you pointed out with empty Name so will need to see how we address it.

[2019-10-03 17:15] nareshynn commented on #39079
@djpmsft: no its public cloud.

[2019-10-03 17:16] FrankHu-MSFT commented on #39665
Hey @xkobal to clarify not a new application. try using a NEW USER in the AAD Tenant that was newly created or created after the AAD Tenant was created.

[2019-10-03 17:17] FrankHu-MSFT commented on #40046
@rathishrms Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-03 17:17] FrankHu-MSFT commented on #40042
@LS16395762 Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-03 17:19] cahann commented on #39397
Unfortunately, we depend on bing spell check so getting it to run on containers is out of out scope. We are exploring other spell check options but no ETA yet

[2019-10-03 17:23] FrankHu-MSFT commented on #40046
Hey @rathishrms currently there are no methods to create AAD Tenants or AAD B2C Tenants programmatically,

If you're interested in this feature I suggest filing it as a feedback against the product here :
https://feedback.azure.com/forums/169401-azure-active-directory?category_id=160596

Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing

[2019-10-03 17:24] FrankHu-MSFT commented on #39795
Hey @tschn so it turns out ROPC in browser is not supported due to CORS policy.
The result is expected.

We are currently working to change our docs accordingly to say that ROPC in any browser is not supported.

Thank you for bringing this to our attention, we are currently making the changes accordingly.

Please let us know if there are anymore questions within the scope of this git issue.
If not

[2019-10-03 17:29] MicahMcKittrick-MSFT commented on #39994
Fair enough. I would suggest filing a feature request here:

https://feedback.azure.com/forums/293901-service-fabric

That way others can view it and upvote if they think it would be useful and the product team can prioritize the ask.

[2019-10-03 17:29] #39994 closed

[2019-10-03 17:32] rolyon commented on #39331
Hi @toddysm
If an issue with the portal, I think you can submit a bug using the Azure portal feedback site. There is a bug link on the right side of the page.
https://feedback.azure.com/forums/223579-azure-portal
You could also open a support ticket.
https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-troubleshooting-support-howto
thanks

[2019-10-03 17:33] chemitaxis commented on #39665
Hi, I'm having same issue here... here is my endpoint to my domain verification:

https://genial.ly/.well-known/microsoft-identity-association.json

I have adapted my Express NodeJS application to return the Content-Type to 'application/json' but I can't remove the charset part (security reasons of Express package):

<img width="760" alt="Screenshot 2019-10-03 at 19 31 49" src="https://user-images

[2019-10-03 17:37] SamaraSoucy-MSFT commented on #39669
@balukantu

It depends on how you are viewing the data. If you look at the screenshots, the initial screen shows the average length so (sum of processing time)/(count of requests). When you are looking at the Profiler trace, that is the breakdown of an individual request.

If you choose the "View in Analytics" option then you can view the data however you wish.

I'm going to close this thread. If

[2019-10-03 17:37] #39669 closed

[2019-10-03 17:39] Alberto-Vega-MSFT commented on #39655
Hi @NovoJeep can you please answer the questions from my previous post? I need the info so we can better help.

[2019-10-03 17:39] rachel-msft commented on #40002
Thank you @rodrigoviola and @Potapy4. We appreciate your contributions.

[2019-10-03 17:40] BryanTrach-MSFT commented on #40030
@jwisener Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-03 17:41] tysonn commented on #40022
@SwathiDhanwada-MSFT - Please remember to assign a classification label to this issue.

[2019-10-03 17:42] BryanTrach-MSFT commented on #40048
@richjhart We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-03 17:42] eugen-nw commented on #39994
Thank you.  There's already one:
https://feedback.azure.com/forums/293901-service-fabric/suggestions/38639077-don-t-require-arm-deployment-to-use-managed-identi

[2019-10-03 17:44] PramodValavala-MSFT commented on #39659
@markdebruijne Apologies for the delay. I can confirm the behavior that you've described. I will check with the team internally and will keep this issue updated with the details.

[2019-10-03 17:46] aresmaverick opened #40053 "Protocol misspelled"
Under Deployment -&gt; “Be consistent with upstream protocol”, there is a APQPWS instead of AMQPWS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf2368f4-6deb-ffb0-5e5a-eb73b5c7098e
* Version Independent ID: c4d71d39-ebd9-da2b-251d-ca288bc733dc
* Content: [Prepare devices and deployments for production - Azure IoT Ed

[2019-10-03 17:55] brandonh-msft commented on #39921
ah yes right you are; just wasn't the same title & icon as shown on that IBM page so my eyes didn't "see" it ;)

I'll leave resolution up to you folks as to how you want to handle this; was just a confusing experience for me.

[2019-10-03 17:57] SaurabhSharma-MSFT commented on #39932
@JamesBaxterSoftware You have to catch the error codes at app level and redirect based on the value. See an example [here](https://github.com/AzureADQuickStarts/B2C-WebApp-OpenIDConnect-DotNet-SUSI/blob/0d7534eb768954a5c383c4508036d6a871d22354/WebApp-B2C-DotNet/App_Start/Startup.Auth.cs#L49)

[2019-10-03 17:58] Karishma-Tiwari-MSFT commented on #39933
I have updated the title. The PR is created and changes will be live shortly.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/90509
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-10-03 17:58] #39933 closed

[2019-10-03 17:58] KranthiPakala-MSFT commented on #40051
@o-o00o-o Thank you for reaching out and bringing this to our notice. At this time we are reviewing the ask and will provide an update as appropriate

[2019-10-03 18:01] Alberto-Vega-MSFT commented on #39724
@ptranter Since we haven't heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-03 18:01] #39724 closed

[2019-10-03 18:05] threecatsdigital opened #40055 "Set-AzVMDiskEncryptionExtension throwing an error"
I'm using the following to create a KEK key and encrypt my disks (based on the instructions above with some minor changes):

# Step 1: Initialize the parameters for our needs.
# Fill in 'MyLocation', 'MyKeyVaultResourceGroup', and 'MySecureVault' with your values.
# Use Get-AzLocation to get available locations and use the DisplayName.
# It is assumed that VM and the Key Vault will be in the same

[2019-10-03 18:08] MarileeTurscak-MSFT commented on #40042
"Global reader: Has full read-only access to all aspects of Microsoft Cloud App Security. Cannot change any settings or take any actions."

I am assigning this to the author, @curtand , to update this with the right IDs and descriptions.

[2019-10-03 18:09] raymondhu6188 commented on #39709
@SadiqhAhmed-MSFT  please remove me from the list, I'm not working in this area.

[2019-10-03 18:13] udooz opened #40056 "IoT Hub Device Stream: Second SSH connection failed with timeout exception"
Successfully established SSH client connection using IoT Hub Device Stream with the given example at [https://github.com/Azure-Samples/azure-iot-samples-csharp/tree/master/iot-hub/Quickstarts/device-streams-proxy](https://github.com/Azure-Samples/azure-iot-samples-csharp/tree/master/iot-hub/Quickstarts/device-streams-proxy).

**The second SSH connection failed with time out exception on Device Pro

[2019-10-03 18:13] tschn commented on #39795
Thanks, that's the conclusion I was coming to as well, I will run my
request from the server side, thanks for getting back to me!

On Thu, Oct 3, 2019 at 1:25 PM Frank Hu <notifications@github.com> wrote:

--
Todd Schoen

[2019-10-03 18:24] MarileeTurscak-MSFT commented on #39890
@resorath thanks for this. what would you suggest needs to be added?

If you want credit for pointing this out and to be attributed on the article, you are welcome to make a pull request yourself by clicking the edit button on the top right corner of the article.

[2019-10-03 18:25] MarileeTurscak-MSFT commented on #40055
@threecatsdigital
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-03 18:34] MicahMcKittrick-MSFT commented on #39824
We have discussed this item and since the script is mainly used for non-production clusters and to help new users test rolling over certs we have decided to keep the doc as is.

However your comment will remain on this doc so if others feel the same way we can always come back and revisit or work on an additional doc.

[2019-10-03 18:34] #39824 closed

[2019-10-03 18:35] Johnsiii88 opened #40058 "Deletion of LTR Backups"
I would like the documentation to be clear as to deletion of LTR Backups.  Assume a scenario where an Azure account was compromised (hacked) and the person deleted the LTR backups and then deleted the Azure Sql Server.  Could the database(s) still be restored from either the most recent backups or the LTR backups?  Is this documented anywhere?

---
#### Document Details

⚠ *Do not edit this sectio

[2019-10-03 18:36] MicahMcKittrick-MSFT commented on #38677
After some review, we have opted to leave this doc as it. This document clearly states it is for existing clusters. In your case, if the cluster is new you won't have these values which we cover in this document instead

https://docs.microsoft.com/en-us/azure/service-fabric/configure-new-azure-service-fabric-enable-managed-identity

[2019-10-03 18:39] MicahMcKittrick-MSFT commented on #38304
We will go ahead and close this as Deep has provided additional details. If more info is needed just let us know and we can always reopen and continue the discussion.

[2019-10-03 18:39] #38304 closed

[2019-10-03 18:43] SaurabhSharma-MSFT commented on #40055
@threecatsdigital Can you please confirm if the PowerShell to generate these variables like $VMRGName, $vmName etc are working fine.   Please check for individual cmdlets and try to debug that. There could be some issues with those.

[2019-10-03 18:44] femsulu commented on #37876
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-10-03 18:44] #37876 closed

[2019-10-03 18:45] #39733 closed

[2019-10-03 18:45] MicahMcKittrick-MSFT commented on #39721
@prvempat it is not so much a Visual Studio limitation but deploying Windows Client Images. Regardless, I added a note to the doc and linked to the Client Images/ subscriptions info.

Once the PR merges the changes will go live after a few hours.

[2019-10-03 18:45] #39721 closed

[2019-10-03 18:49] MicahMcKittrick-MSFT commented on #39485
@MedAnd as this will addressed in a future release of SF, we will leave the doc as is. However this comment will remain on the doc in the meantime in case others hit any issues.

[2019-10-03 18:53] MicahMcKittrick-MSFT commented on #39014
I went ahead and added that info to the note at the top of the page.

once the PR merges the changes will go live after a few hours.

[2019-10-03 18:53] #39014 closed

[2019-10-03 18:54] RyanHill-MSFT commented on #39935
Hi @dazinator. You can't mount source volumes inside a docker file. I found https://stackoverflow.com/questions/26050899/how-to-mount-host-volumes-into-docker-containers-in-dockerfile-during-build?noredirect=1&lq=1 explains that VOLUME is prepopulated with the image contents at the start of the RUN command and discarded at the conclusion of the RUN command

If you want to persistent storage for ap

[2019-10-03 18:55] dragav commented on #39485
@MicahMcKittrick-MSFT the observation (and ensuing suggestion) raised by @MedAnd is valid, and I'm afraid others will hit the same problem. We do need a doc update - perhaps not in the MI pages but in the SF app resource doc. I'm following up internally with Athinanthny for this edit. Thanks.

[2019-10-03 18:57] MicahMcKittrick-MSFT commented on #38623
Thanks @jkochhar I will close this out as we are tracking it internally. Let me know if you want anything done from a doc perspective in the meantime.

[2019-10-03 18:57] #38623 closed

[2019-10-03 18:57] MicahMcKittrick-MSFT commented on #38440
@jnoller any update on this?

[2019-10-03 18:58] iaasazure commented on #40039
Thanks

[2019-10-03 18:58] MicahMcKittrick-MSFT commented on #39319
We have already covered this in this issue:

https://github.com/MicrosoftDocs/azure-docs/issues/8765

Closing this as we are not providing the info in the table at this time.

[2019-10-03 18:58] #39319 closed

[2019-10-03 19:00] abeerqannita opened #40059 "33008 ADPasswordPolicyError"
maybe you want also to include a reason for such failure/event is having one of those settings configured for the account 'Password never expires' or/and ' User can not change password' , if you have any of those options enabled for the account, sspr fails and this event is generated on  AD on-prem

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-10-03 19:01] MicahMcKittrick-MSFT commented on #39485
@dragav sounds good. Reopened and assigned to @athinanthny :)

[2019-10-03 19:03] FrankHu-MSFT commented on #39665
Hello,

This is a different error @chemitaxis per the doc it has to be application/json. It will not work with the content type charset=utf-8. You will need to remove that from your headers in the nodeJS server.

[2019-10-03 19:05] TravisCragg-MSFT commented on #40050
@sssseossss a VPN Gateway has to be deployed in a subnet named "GatewaySubnet". This must be a subnet in your Virtual Network, and the "Gateway Subnet Address Range" is the range of this subnet. You can [find more information about the GatewaySubnet Here](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-vpn-gateway-settings#gwsub).

To get a GatewaySubnet's existing address ran

[2019-10-03 19:06] MicahMcKittrick-MSFT commented on #38472
We have opted to keep the doc as is for now. However this issue will remain on the document so if others find this info is needed they can comment and we can always reopen and reconsider in the future.

[2019-10-03 19:06] #38472 closed

[2019-10-03 19:08] MicahMcKittrick-MSFT commented on #39639
Closing as @zr-msft submitted a PR to add this information.

[2019-10-03 19:08] #39639 closed

[2019-10-03 19:09] jnoller commented on #38440
@MicahMcKittrick-MSFT No, per my comment this change is outside the scope of the current product, and is not technically supported.

[2019-10-03 19:12] MicahMcKittrick-MSFT commented on #38440
Got it. Thanks! I will close this out then. If you want it reopened just let me know.

[2019-10-03 19:12] #38440 closed

[2019-10-03 19:13] qianw211 commented on #38995
@damsoz Lead management docs in the CPP are outdated.  Please see Partner Center articles for the latest instructions: https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/commercial-marketplace-get-customer-leads

[2019-10-03 19:13] qianw211 commented on #38995
#please-close this is a known issue and it's tracked.

[2019-10-03 19:13] #38995 closed

[2019-10-03 19:27] NovoJeep commented on #39655
Sorry, it seems my latest replt did not reach the hub.

Unfortunately for customer adoption to our solution, we cannot asj them to open tcp port 8883 and the device we use but we do not make ryns its own operating system for which we don't have source code. This industrial device is also not able to use websocket, only mqtt but we can change tcp port.

[2019-10-03 19:28] johndowns commented on #21911
@TWolverson are you asking how I figured out the original steps to follow, which became the repro steps in the issue? If so I don’t think I had a single source - I had to put together a few things to figure out what should work (and then, of course, discovered it didn’t!).

It’s a good point regarding having a docs page on this though - I will see if I can contribute to a docs page to help people

[2019-10-03 19:30] TerryLanfear commented on #40039
#please-close

[2019-10-03 19:30] #40039 closed

[2019-10-03 19:32] qianw211 commented on #38953
@lukepuplett Hi, here's the answer to your question:

Using solution templates built on Azure Resource Manager (ARM) templates, you can define resources to provision automatically within a customer’s Azure subscription. Any Azure resource supported by ARM can be configured as part of an Azure Application (solution template), and they are in Azure Marketplace and not Microsoft AppSource due to the

[2019-10-03 19:33] Oechiih commented on #33940
Hi @curtand

As it has been a while since I opened this issue I don't remember exactly what I tested. But I'm not confusing AAD roles and RBAC roles. My point is the documentation on the Security Administrator AAD Role is misleading as (IIRC) it doesn't enable you to do the actions mentioned in Azure Security Center.

Also I think the fact that there is a 'Security Administrator' AAD role and a 'S

[2019-10-03 19:37] femsulu commented on #38953
thanks @qianw211.
@lukepuplett hope the above answer helps. We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-10-03 19:37] #38953 closed

[2019-10-03 19:39] qianw211 commented on #39190
@arvitis Hi, could you please clarify your question as to what is optional or mandatory?  Thanks!

[2019-10-03 19:39] allenwux opened #40060 "404 error"
the link https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/dev/src/ADAL.PCL.Desktop/CryptographyHelper.cs returns 404

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b43a059-533f-0222-edef-36b42cac58de
* Version Independent ID: 49576515-89ce-a8a8-b22d-008ba291a3d4
* Content: [Azure Active Directo

[2019-10-03 19:39] shashishailaj commented on #39764
@Maarten-TOPdesk We have added a internal change for this and this should be live after review in the next 24-48 hours. We will close this issue now. Should you still not see the relevant change , please feel free to let us know and tag me to your reply.

Thank you.

[2019-10-03 19:39] #39764 closed

[2019-10-03 19:43] curtand commented on #40042
Hi @LS16395762
When this feature is publicly available, the description and permissions will be published.

[2019-10-03 19:46] mcblair commented on #31771
We're seeing this as well. .NET Core 3.0 Blazor Server-Side App. Default blazor template, no changes. We don't even see the option for websockets on our app service in azure. So unfortunately the websocket doesn't open and the performance and behavior of the app is far from desired.

[2019-10-03 19:47] lukepuplett commented on #38953
Thank you. Its occurring to me that Azure Applications are Microsoft's name for the _customer's_ marketplace application - or at least one of the three types of marketplace apps/value-props customers can setup.

Wow. I thought by Azure Applications you meant like, Azure resources/services/things like Cosmos DB or Azure Search.

It's funny how when you chat informally to people they're better at ex

[2019-10-03 19:49] shashishailaj commented on #39765
@Maarten-TOPdesk We have added a internal change for this and this should be live after review in the next 24-48 hours. We will close this issue now. Should you still not see the relevant change , please feel free to let us know and tag me to your reply.

Thank you.

[2019-10-03 19:49] #39765 closed

[2019-10-03 19:49] abramjstamper commented on #19578
I'm also having the same (or related) issue with Azure App Services (Linux host). Per [docs](https://docs.microsoft.com/en-us/azure/app-service/containers/app-service-linux-faq#language-support), if you're having issues with sockets, you're supposed to disable `perMessageDeflate`. However, that didn't make a difference for me. I'm also tracking my issue [here](https://stackoverflow.com/questions/5

[2019-10-03 19:50] tchristiani commented on #38647
please #reassign to @PatrickFarley

[2019-10-03 19:50] PRMerger18 commented on #38647
to is not a valid GitHub ID, or is not a collaborator on this repo.

[2019-10-03 19:50] shashishailaj commented on #39939
@rkarlin Could you please have this request reviewed ?

[2019-10-03 19:51] flluisie commented on #39192
@RohitMungi-MSFT I tried a little experiment similar to yours. I used the JPG form attached to the Github thread and generated 3 instances of it: one empty and two filled. The results are not too bad (see overlaid attachments: keys=blue, values=red, unassigned=yellow), but we don’t consistently associate all digits to the corresponding key. We are constantly improving the service, but it will take

[2019-10-03 19:52] Karishma-Tiwari-MSFT commented on #39921
Thanks @brandonh-msft
As this is more of an update on the Azure marketplace page, we will keep the doc as is. This issue will be available for anyone to refer. If we see more feedback coming up on this, will share with the right team for the updates.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a com

[2019-10-03 19:52] #39921 closed

[2019-10-03 19:55] sweetmoniker opened #40062 "Instruction to overcome 50MB ftp limit does not work with "When a file is added or modified (properties only)""
This doesn't work. In the Get file content step the only dynamic content available are "List of" options. "File Content" is not available for selection and the app the fails.

![image](https://user-images.githubusercontent.com/29126278/66159524-2a8b5280-e5f6-11e9-9010-5ace92bd3336.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-10-03 19:56] jgwinner opened #40063 "Outline is off"
On the left it says "About Azure File Sync" but at the top of the page this topic is "Planning for an Azure File Sync deployment"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1aa8c1f7-dc55-7129-95be-687a0b11a636
* Version Independent ID: 4a09b58a-9fd2-69fc-0348-e6d4d0956a20
* Content: [Planning for an Azure File Sync

[2019-10-03 19:59] chemitaxis commented on #39665
Thanks @FrankHu-MSFT. If another came here for the same problem with Node, I solved the problem with this code:

[code]

[2019-10-03 20:03] qianw211 commented on #38953
Thanks for sharing! We'd love your feedback on this guide, which is written to be a little more casual and conversational (nicely put in your terms 😊).

https://www.microsoftpartnercommunity.com/t5/Microsoft-AppSource-and-Azure/Simplified-Commercial-Marketplace-Guide-Sell-through-Microsoft/m-p/13770#M539

[2019-10-03 20:04] tchristiani commented on #38647
PatrickFarley is a valid GitHub alias with rights in this repo.

[2019-10-03 20:07] TerryLanfear commented on #39332
#please-close

[2019-10-03 20:07] #39332 closed

[2019-10-03 20:15] ozanbora commented on #19578
I did a very detailed investigation a while ago, because I had no other options make it work in my case. I have tried perMessageDeflate and bunch of different combinations.

My problem was related to CORS policy settings applied through AppService settings on Azure Portal. I think it has something to do with reverse proxy rules which intercepts the requests. So I removed every CORS policy and appl

[2019-10-03 20:22] MarileeTurscak-MSFT commented on #40059
@abeerqannita
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-03 20:24] Mike-Ubezzi-MSFT commented on #39896
@skiwii When using the command line to register a database or update credentials for a specific member database, you can enable or disable encryption with the -encryption argument. See: [Register a Database](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-data-sync-agent#register-a-database) or [Update Credentials](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-d

[2019-10-03 20:24] MedAnd commented on #38677
My cluster is an existing cluster which did not have these values hence why I created this issue. I used Azure ARM Explorer to GET the ARM template / json definition if that helps?

[2019-10-03 20:26] FrankHu-MSFT commented on #39665
thanks for providing your solution on this thread! We definitely appreciate it @chemitaxis !

[2019-10-03 20:26] jcbrooks92 commented on #28508
@SnehaAgrawal-MSFT  could we get someone to follow up on this to make sure the doc references the need for the dns entry for ilbasename.appserviceenvironment.net?

[2019-10-03 20:39] jhulbertpmn opened #40065 "SecretsCertificate element in ApplicationManifest.xml"
It wasn't clear to me from the article that adding the SecretsCertificate element to ApplicationManifest.xml was necessary to be able to decrypt the value. I had my certificate in the local machine store and the encrypted value in the settings.xml file, but a call to DecryptValue() threw an exception stating the certificate could not be located. Once I added the SecretsCertificate element with the

[2019-10-03 21:02] MicahMcKittrick-MSFT commented on #38677
Ah okay. There were a few open issues around managed identities so I might have gotten them mixed up.

[2019-10-03 21:07] TomArcherMsft commented on #35060
@femsulu I was at AnsibleFest last week with no way to connect. I'll take a look at this, and if necessary involve the engineering team to resolve. Thanks for the ping.

[2019-10-03 21:11] Karishma-Tiwari-MSFT opened #40066 "AKS supports Standard loadbalancers now"
AKS should be removed from the list here: https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-faq#what-are-the-constraints-related-to-global-vnet-peering-and-load-balancers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07cec477-f584-400f-889c-9a5403f34bad
* Version Independent ID: f777fdfd-2f5a-56b

[2019-10-03 21:16] Karishma-Tiwari-MSFT commented on #40066
https://github.com/MicrosoftDocs/azure-docs-pr/pull/90559 Fixed

[2019-10-03 21:16] #40066 closed

[2019-10-03 21:18] Karishma-Tiwari-MSFT commented on #40041
@ToddBowman Can you please elaborate on 'all AKS services'. Do you mean AKS in all regions?

[This article](https://azure.microsoft.com/en-us/updates/global-vnet-peering-now-supports-standard-load-balancer/) states that,

Also, please refer to the FAQ on Global Vnet peering and load balancers for details: https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-faq#what-are-the-cons

[2019-10-03 21:19] TomArcherMsft commented on #35060
@bpollard I'm also getting an error; albeit a different one. What version of Ansible are you using?

[2019-10-03 21:20] MedAnd commented on #38677
No worries, let me know if you need any more info...

[2019-10-03 21:21] qianw211 commented on #37716
@fxnicolas Hi, could you please get in touch with @ramankumarlive directly? Thanks!

[2019-10-03 21:22] Dagizmo opened #40067 "Linked Service Appears as Version 1, but is current version"
Currently reading this doc, first page when open is version 1, but if you switch to version 1 again you're really sent to the V1 page, Current version is mislabeled.

https://docs.microsoft.com/en-us/azure/data-factory/concepts-linked-services

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70754c7c-a557-5683-bb58-b2fd0

[2019-10-03 21:29] puicchan commented on #33434
You can refer to https://docs.ansible.com/ansible/latest/scenario_guides/guide_azure.html

[2019-10-03 21:33] djpmsft commented on #40067
Good catch! Will fix this shortly

#please-close

[2019-10-03 21:33] #40067 closed

[2019-10-03 21:37] MicahMcKittrick-MSFT commented on #40065
To confirm, you are referring to this section?

![image](https://user-images.githubusercontent.com/32313503/66166127-41787780-e5eb-11e9-9afd-83d7fd141232.png)

Would something like the following be better:

[2019-10-03 21:37] jomalsan commented on #39724
@Alberto-Vega-MSFT It looks like there is an additional package that needs to be installed on Mac and Linux: https://pypi.org/project/azure-iothub-service-client/

Although Macs do not come with apt-get, so I had to use homebrew to get the package to install:
[code]

At that point when running `python BackEndApplication.py` I ran into other issues:

[code]

[2019-10-03 21:37] tchristiani commented on #38647
#reassign @PatrickFarley

[2019-10-03 21:45] bpollard commented on #35060
@TomArcherMsft unfortunately I do not have access to the environment I was running this on but my initial post says:

ansible --version
ansible 2.8.2

[2019-10-03 21:46] Adam-Smith-MSFT commented on #40063
@jgwinner Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-03 21:47] TomArcherMsft commented on #30230
@jakaruna-MSFT  Apologies for not updating this earlier. I've checked with the product team on questions like this before, and the consensus is there are no current plans to update these articles for Windows. #please-close

[2019-10-03 21:47] #30230 closed

[2019-10-03 21:48] huster16 opened #40068 "Azure wether can provide the IoT edge device?"
Hi, our team is very interest in the Azure IoT edge solution. And we may want to use the gateway function in our experimental scenarios. May I ask whether Azure can provide the IoT edge gateway service that users can use it without providing the hardware device? Thanks! Looking for your reply.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-10-03 21:51] Karishma-Tiwari-MSFT commented on #39925
@cynthn Can you please review this suggestion and share your inputs. Thanks :)

[2019-10-03 21:55] abramjstamper commented on #19578
That was the issue exactly. Removing the CORS settings through the portal and a restart got web sockets to work. My support agent just got back with me in the last few minutes and she stated that CORS is not supported on Linux App Service (as of today). It would be nice for MS to disallow setting it on the portal or at least including it in an FAQ. I know I read every document about Linux App Serv

[2019-10-03 21:59] rbrundritt commented on #39664
Made an improvement to this function so it also supports arrays of ids.

[code]

[2019-10-03 21:59] TomArcherMsft commented on #27414
Sorry about not seeing this email. I don't have a problem with this suggestion and will confirm with the engineering team to get their thoughts.

[2019-10-03 22:01] dazinator commented on #39935
@RyanHill-MSFT
That's odd because I figured out how to do it.

In the DOCKERFILE use VOLUME c:/Foo

Then in your azure storage account, create an azure file share named Bar.

Then in azure app service, in your app configuration, under 'Paths' tab, you can map your azure file share Bar to the container volume mount path C:/Foo

Now inside the container your application just needs to save files to d

[2019-10-03 22:03] cloudmelon opened #40069 "Azure Kubernetes cluster autoscaler switch issue"
# Azure documentation issue guidance
Hello,

Firstly Issue doc Link : https://docs.microsoft.com/en-us/azure/aks/cluster-autoscaler#create-an-aks-cluster-and-enable-the-cluster-autoscaler

Following the doc to create a cluster using the following command :
az aks create \
  --resource-group myResourceGroup \
  --name myAKSCluster \
  --node-count 1 \
  --vm-set-type VirtualMachineScaleSets \
  --e

[2019-10-03 22:06] JoelCBennett opened #40070 "Typo in Graph API Call"
You say to make the call GET https://graph.microsoft.com/beta/servicePrincipals/[servicePrincipalId]/synchronization/jobs

This is incorrect.  It needs to be GET https://graph.microsoft.com/beta/servicePrincipals/[servicePrincipalId]/synchronization/secrets

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b0acae5-fe69-4

[2019-10-03 22:08] MicahMcKittrick-MSFT commented on #40069
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-03 22:09] msmbaldwin commented on #29841
Hi, @jofrance.  We completely overhauled this article, and moved it to https://docs.microsoft.com/en-us/azure/virtual-machines/linux/disk-encryption-linux. Thanks for your feedback -- we incorporated it! #please-close

[2019-10-03 22:09] #29841 closed

[2019-10-03 22:10] puicchan commented on #37439
This is currently not supported. We can add to backlog.

[2019-10-03 22:14] iainfoulds commented on #39944
Thanks for the feedback, @gerrynicol. I'll add a note to make this explicit. As there's [no access to the DCs in Azure AD DS](https://docs.microsoft.com/en-us/azure/active-directory-domain-services/faqs#can-i-connect-to-the-domain-controller-for-my-managed-domain-using-remote-desktop) and [on-prem GPOs and sysvol aren't synchronized](https://docs.microsoft.com/en-us/azure/active-directory-domain-s

[2019-10-03 22:15] rajanbhayana opened #40071 "increase proxy buffer size on addon-http-application-routing-nginx-ingress-controller"
I am getting "upstream sent too big" in my ingress controller. Can you please let me know how to fix this on the default http routing.
thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51a32f9e-c92f-412b-d460-567f3c542b98
* Version Independent ID: fad073ab-a376-1535-7bc4-deaca1d98dd9
* Content: [HTTP application r

[2019-10-03 22:24] MicahMcKittrick-MSFT commented on #40071
When exactly in the process of this document are you getting this error? can you provide a screenshot?

[2019-10-03 22:25] femsulu commented on #40060
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-10-03 22:27] rajanbhayana commented on #40071
the error comes post deployment. My image works fine when i use it with docker container or when accessed via load balancer. however when i setup ingress to use pod, i get 502 bad gateway on few pages. since issue was on after i setup ingress, i inspected logs using
kubectl logs -f deploy/addon-http-application-routing-nginx-ingress-controller -n kube-system --tail 100

and got following error log

[2019-10-03 22:27] femsulu commented on #37439
Thanks for the update, @puicchan

@kitkatneko  We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-10-03 22:27] #37439 closed

[2019-10-03 22:28] femsulu commented on #40052
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-10-03 22:28] milazzom opened #40072 "The "Action Groups" section is no longer available"
The Action Group section is no longer available under Monitor -&gt; Settings.  Where did it go?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81ec8d74-7b0a-a943-b1b4-fc3d9210b363
* Version Independent ID: 11688ab7-9553-f03d-5a06-06f25383eff9
* Content: [Azure billing and cost management budget scenario](https://docs.m

[2019-10-03 22:30] #39944 closed

[2019-10-03 22:33] MicahMcKittrick-MSFT commented on #40071
@rajanbhayana thanks for that. I know the HTTPS routing addon is not intended for production workloads so this could possibly be a limitation that cannot be changed. I am not sure though. Adding @MicrosoftDocs/aks-pm to see if anyone knows off the top of their head.

[2019-10-03 22:36] rajanbhayana commented on #40071
this is for a non prod setup. i am aware of production recommendations. was just saving myself sometime. If its a limitation, then i ll drop the default routing.

[2019-10-03 22:53] cmmdesai commented on #40070
Thank you for the feedback. I have updated the tutorial and fixed the URL. It should get reflected in tomorrow's publish.

[2019-10-03 23:04] femsulu commented on #40047
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-10-03 23:05] rajurh opened #40074 "Passing secrets for yaml file using keyvault secrets"
The documentation is good but one of the fundamentals which we cover in release pipeline is missing related to tokenize. I have a scenario where I have secrets managed in Azure keyvault and integrated with Azure devops and create a variable group. With hard coded values Azure container instance gets created but how do I pass the value to yaml file? Any e.g. or documentation around will be apprecia

[2019-10-03 23:07] mike-urnun-msft commented on #40049
Hi @egondalia - Thank you for your feedback. Since this channel is for driving improvements towards MS Docs, could you provide us with a URL of specific MS Documentation that your feedback may be most applicable to? That way, we're able to connect you with the right team that's best suited to answer your question.

[2019-10-03 23:08] dcbrown16 commented on #37583
Great, thanks so much!

[2019-10-03 23:08] femsulu commented on #40045
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-10-03 23:09] mike-urnun-msft commented on #40056
Hi @udooz - Thank you for your feedback. Since this channel is for driving improvements towards MS Docs, could you provide us with a URL of specific MS Documentation that your feedback may be most applicable to? That way, we're able to connect you with the right team that's best suited to answer your question.

[2019-10-03 23:10] msmbaldwin commented on #31814
Hi, @johanburati. We currently have no plan to support RHEL 6.10. However, we have been adding support for newer releases, such as RHEL 8.   Thank you. #please-close

[2019-10-03 23:10] #31814 closed

[2019-10-03 23:10] mike-urnun-msft commented on #40062
Hi @sweetmoniker - Thank you for your feedback! We will review and update as appropriate.

[2019-10-03 23:11] mike-urnun-msft commented on #40074
Hi @rajurh - Thank you for your feedback. Since this channel is for driving improvements towards MS Docs, could you provide us with a URL of specific MS Documentation that your feedback may be most applicable to? That way, we're able to connect you with the right team that's best suited to answer your question.

[2019-10-03 23:15] msmbaldwin commented on #32439
#please-close

[2019-10-03 23:15] #32439 closed

[2019-10-03 23:15] KranthiPakala-MSFT commented on #40027
@astraujums Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2019-10-03 23:18] rido-min opened #40075 "How to install in Ubuntu 19.04"
Ubuntu 19.04, released on April 2019, is not in this list. May I assume this URL will work?

`curl https://packages.microsoft.com/config/ubuntu/19.04/multiarch/prod.list &gt; ./microsoft-prod.list`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3b8296d-c923-e990-dcad-35ef2b908a2a
* Version Independent ID: 5f85fd7b-f2b

[2019-10-03 23:22] kgremban commented on #40053
Thanks for flagging this typo, @aresmaverick. I've opened a pull request to fix this, and since it's a small change I'll set the PR to automatically resolve this issue once it's merged. If you have any followup questions or concerns, you can comment on this issue again and we'll reopen it.

[2019-10-03 23:26] msmbaldwin commented on #38046
I updated the article to replace --password with --sdk-auth. Thanks, @ryandle! #please-close

[2019-10-03 23:26] KranthiPakala-MSFT commented on #40053
@aresmaverick Thanks for the feedback and bringing this to our notice.

@kgremban Thank you for the quick fix.

[2019-10-03 23:26] #38046 closed

[2019-10-03 23:26] dcbrown16 commented on #40014
Thanks @danimir! I understood that the platform metrics are offered per instance, not per DB in MI.
This Intelligent Insights page (that I reported the issue on) has a "Metrics" section - what are we getting there?
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-intelligent-insights-use-diagnostics-log#metrics
DurationIncreaseSeconds and the other two examples that are mentioned a

[2019-10-03 23:27] #40053 closed

[2019-10-03 23:30] msmbaldwin commented on #30584
Hi, @taromielnaz. You are right about the lack of a "UseExistingKek" field in the ARM template, so I updated the keyEncryptionKeyURL description. It now reads: "The URL of the key encryption key, in the format https://<keyvault-name>.vault.azure.net/key/<key-name>. If you do not wish to use a KEK, leave this field blank."

Thank you for your feedback! #please-close

[2019-10-03 23:30] #30584 closed

[2019-10-03 23:31] msmbaldwin commented on #39584
Hi, @Tarvinder91. You are right about the lack of a "UseExistingKek" field in the ARM template, so I updated the keyEncryptionKeyURL description. It now reads: "The URL of the key encryption key, in the format https://<keyvault-name>.vault.azure.net/key/<key-name>. If you do not wish to use a KEK, leave this field blank."

Thank you for your feedback! #please-close

[2019-10-03 23:31] #39584 closed

[2019-10-03 23:39] Alberto-Vega-MSFT commented on #40068
Hi @huster16 Thanks for reaching out. We do not have that as an offering. With that said you could look into using an Azure VM to run it. You will need to evaluate if that fits your use case scenario.

[2019-10-03 23:42] DouglasAndrJohnston opened #40077 "Null User Principal during Easy Auth"
I'm setting up a site to use easy authentication with azure. I'm able to login to the app through azure with my microsoft account, and the app is running on Tomcat 9. However, when I attempt to follow the steps for accessing the user principal as described above in the Secure Applications section of this page, but casting the user principal to a map and looking through it, the user principal is co

[2019-10-03 23:47] shahiddev opened #40078 "Change of terminology"
The term "master" has negative connotations and we should look to use terms like control plane instead.
Happy to submit a PR to change term if you approve?

See similar conversations in Kubernetes project.
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/architecture/architecture.md#cluster-control-plane-aka-master

---
#### Document Details

⚠ *Do not edit this se

[2019-10-03 23:51] Alberto-Vega-MSFT commented on #40075
Hi @rido-min I would recommend you to stick with what is published on this document. Did you tried running that?

[2019-10-04 00:00] ElanShudnow opened #40080 "/28 CIDR should be changed to /27"
The documentation on this page mentions, "While you can create a gateway subnet as small as /29, we recommend that you create a gateway subnet of /28 or larger (/28, /27, /26 etc.). That way, if you add functionality in the future, you won't have to tear your gateway, then delete and recreate the gateway subnet to allow for more IP addresses."

However, if you read the ExpressRoute documentation,

[2019-10-04 00:00] rido-min commented on #40075
In the doc there is not mention to Ubuntu 19.04, so I dont know how to install.

Should I use the url I suggested? Should I install like a Tier 2?

[2019-10-04 00:04] Alberto-Vega-MSFT commented on #40075
@rido-min Oh Okay, I thought you tried by modifying the URL. I would not advise you to do that I would recommend you to stick to what it is listed.

[2019-10-04 00:05] rajanbhayana commented on #40071
I have removed the default http routing addon and rolled out my own ingress controller and its working fine. still keen to know if something could have been done.

[2019-10-04 00:06] rido-min commented on #40075
But 19.04 is not listed !!

This means that 19.04 is not supported (Tier 1)? May I try to install as Tier 2?

Any plans to include docs for 19.04?

[2019-10-04 00:20] dlepow commented on #40031
@Boombasteg - Thanks for your feedback. I notice you are running the command in a PowerShell environment. The examples in the article are formatted for a Bash shell, so need a little adaptation to run in PowerShell. A note should be added to the article.

So in your Cloud Shell example, the error is due to the '\\' character which is used as a line break in Bash. This error can be resolved by remo

[2019-10-04 00:20] RavulaChetan commented on #20348
@ScottHolden, I am looking to add my App Service to a existing subnet. which resources are needed to do just the integration of execiting App Service to a subnet. i have tried taking but and pieces of the ARM template provided but not able to perform the integration successfully.

[2019-10-04 00:22] cherylmc commented on #40080
At this time, we'll keep it as is. This article is specifically for VPN gateway. It talks about the possible settings, but you should of course use the setting that makes the most sense for your configuration.  The ExpressRoute coexist scenario is not the typical use case. Thank you for taking the time to comment, though!

[2019-10-04 00:27] Alberto-Vega-MSFT commented on #39655
Since you can't modify the code you won't be able to authenticate to IoT Hub? Even without the port constraints your customer has?

[2019-10-04 00:43] MarshHawk commented on #39611
@smartstoremx What if you:
1. Configure AddAzureWebAppDiagnostics in Configure logging like above example
2. Use a logger instead of trace in the diagnositics class, e.g.:
public void Configure(IApplicationBuilder app, IWebHostEnvironment env, ILogger<Startup> logger) {
logger.LogInformation("Info log from startup");
...
and
3. put ConfigureLogging(...) before Use Startup

Does that work?

[2019-10-04 00:49] knssub opened #40081 "Documentation Inadequate"
Hi,
Please make the documentation more partner-friendly. The current info is inadequate and creates a lot of confusion. You should update the PAL FAQ and documentation from the below document.
https://aka.ms/palfaq (found thru internet search)

There is no way for a customer or even Partner to verify where the PAL is actually applied in the Azure Portal (except the PowerShell cmdlet). There should

[2019-10-04 00:59] ScottHolden commented on #20348
Hi @RavulaChetan, what error are you getting?

That all looks fine, only thing to keep in mind is that you would need to deploy this to the same resource group that the VNet is in, as the subnet lives below there (subnet can't live in a separate resource group).

Also, does the "existing subnet" have anything in it already? You can only delegate an empty subnet :)

Hopefully this helps, otherwise

[2019-10-04 01:04] andrewbeaumont opened #40082 "End Points to add are unclear"
At table 'Job Runtime Data service URLs' and 'Agent service URLs' it has a single endpoint for the Australian region.
However the end point should be determined by looking at the URL as per Step 4 on page:
https://docs.microsoft.com/en-us/azure/automation/automation-windows-hrw-install#manual-deployment

In my case the endpoint was actually 'https://AE-agentservice-prod-1.azure-automation.net' as

[2019-10-04 01:08] cherylmc commented on #40080
I've added a note to the existing doc to check the requirements for the coexist configuration. Hope that helps!

[2019-10-04 01:11] cherylmc commented on #40080
#please-close

[2019-10-04 01:11] #40080 closed

[2019-10-04 01:26] rajurh commented on #40074
Thanks Mike below is the link I am referring to
https://docs.microsoft.com/en-us/azure/container-instances/container-instances-multi-container-yaml.

I am looking for an example something like below where for botframework its well documented but its for json same not working for yaml file
https://microsoft.github.io/botframework-solutions/howto/virtual-assistant/continuousdeployment/
Refer to step

[2019-10-04 01:30] post2vishwa commented on #33934
Hi Oliver / Sergaz,

I am able to configure proxy at IoT Hub for edgeAgent and edgeHub modules with documentation provide at  https://docs.microsoft.com/en-us/azure/iot-edge/how-to-configure-proxy-support#configure-the-iot-edge-agent

and "edgeAgent" is successfully running on edge device and corresponding 'running' status is showing at IoT Hub.

My problem is "edgeHub" is not running.

Could you

[2019-10-04 01:42] jgwinner opened #40083 "What about machines already joined to an on-premises Active Directory?"
It would be good to mention on this page what the case is with PC's that are already joined to a Domain.

I'm working through a case with OneDrive Known Folder Move not working.

This article is linked. I assumed that as we had Azure Active Directory Synchronization working, and UPN's were identical, this prerequisite was handled. As there's no discussion of Group Policy here, or of domain joined

[2019-10-04 02:23] rboucher commented on #38162
@nitin775 I've rewritten this section to make it more understandable, though I'm still tweaking it.  Please review the result and see if you agree it better.. If so, we can close this request or you can wait for it to go live and verify it works for you.

Log search alert rule - firing and state

Log search alert rules work only on the logic you build into the query. The alert system doesn't have

[2019-10-04 02:47] gutzeit1106 opened #40084 "Current Default limit for storage accounts per region per subscription is 250 ?"
&gt;Storage
&gt;There is a limit on the number of storage accounts per region as well in a given subscription. The default limit is 200 and &gt;includes both Standard and Premium Storage accounts. If you require more than 200 storage accounts in a given region, &gt;make a request through Azure Support. The Azure Storage team will review your business case and may approve up to 250 &gt;storage acco

[2019-10-04 02:49] CherylHuan opened #40085 "Why upper case of Namespace was changed to lower case?"
We uploaded a custom metrics, and the string of namespace was changed to lower case. Can you mention that in this doc if it is by design?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09e9e6a7-4b37-e559-f719-63199aa78a0a
* Version Independent ID: 398a63dd-0e08-9ff3-da4e-e26fb50cb287
* Content: [Custom metrics in Azure

[2019-10-04 02:58] andrewymching commented on #39870
Right. Confirm the rollover process works again on my AAD Connect 2012R2 Server now. I have not yet applied any pending updates this week. So probably this was a problem in Azure AD service and fixed now...

[2019-10-04 02:59] jgwinner commented on #39759
Sure. So basically it's very simple.

One Office 365 account. One license, for me@corp.com. I have a few resource mailboxes, such as info@corp.com

I setup a Windows Server 2012R2 domain controller.

Created a corp.com domain.

Added one user, me@corp.com

Setup AD Sync; used the default installation.

So, what then happens is I get an account, me.4200@corp.com that cannot be deleted, and has the

[2019-10-04 03:16] palma21 commented on #39902
Standard LB requires explicit egress (public egress) unlike basic which has implicit.

For this reason standard LB today is created with an ingress pool and an egress pool, and with a public IP associated to this egress pool. Otherwise the cluster would not have externel connectivity by default.

You can still expose your applications privately by leveraging the annotation. This annotation, as for

[2019-10-04 03:16] udooz commented on #40056
Hi @mike-urnun-msft,
MS-Doc URL: [https://docs.microsoft.com/en-us/azure/iot-hub/quickstart-device-streams-proxy-csharp](https://docs.microsoft.com/en-us/azure/iot-hub/quickstart-device-streams-proxy-csharp)

[2019-10-04 03:22] euandekock commented on #19578
@ozanbora Can you provide some more details of how you configured (or disabled) CORS on your Web App to get the sockets working. My app which uses bokeh, has never had any CORS settings enabled. As I am using bokeh, I don't have programmatic control inside the App of the websocket implementation, so I cannot set things like `perMessageDeflate`

.

[2019-10-04 04:00] SwathiDhanwada-MSFT commented on #39569
@BhupalPatil We will close the thread for now. If there are any further questions, please respond and we will gladly continue the discussion.

[2019-10-04 04:00] #39569 closed

[2019-10-04 04:09] AgassiJoeLVedala89 opened #40086 "Windows Virtual Desktop"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-10-04 04:09] SwathiDhanwada-MSFT commented on #40072
@milazzom Thanks for the comment. We are investigating into the issue and will update you shortly.

[2019-10-04 04:11] SwathiDhanwada-MSFT commented on #40082
@andrewbeaumont Thanks for the comment. We are investigating into the issue and will update you shortly.

[2019-10-04 04:13] #40025 closed

[2019-10-04 04:17] SwathiDhanwada-MSFT commented on #40025
@pachi-belero Thanks for catching this. A PR has been successfully initiated to resolve this issue. The change will be live in roughly 24 hrs.	We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-10-04 04:17] mike-urnun-msft commented on #39954
@Deltaxel Thanks for additional info! Since you've opened this issue on `azure-docs` repo, it might be better to open an issue here instead: https://github.com/microsoftgraph/msgraph-training-uwp, especially If you've encountered an issue with the tutorial.

[2019-10-04 04:21] #40046 closed

[2019-10-04 04:22] FrankHu-MSFT commented on #39665
Hey @xkobal and @seagull3 I'm following up on this issue. Can you please confirm whether or not the solution of using a new user in the AAD tenant resolves the issue?

If there's no response by end of day tomorrow I will be closing out this issue.

If you have anymore issues please open a new git issue with a reference to this issue.

Thanks,
- Frank Hu

[2019-10-04 04:23] RohitMungi-MSFT commented on #39192
Thanks @flluisie for your inputs too. I am sure the service will provide us more accurate output with the improvements in OCR. @alexespencer We will go ahead and close this issue as improvements to the service for such examples are currently in development. Thanks for highlighting the scenario for us.

[2019-10-04 04:25] mike-urnun-msft commented on #40086
Hello @AgassiJoeLVedala89 - Since you've opened this issue on `azure-docs` repo, did you have any feedback to share on any specific documentation?

[2019-10-04 04:36] #40072 closed

[2019-10-04 04:37] SwathiDhanwada-MSFT commented on #40072
@milazzom Thanks for catching this. A PR has been successfully initiated to resolve this issue. The change will be live in roughly 24 hrs. We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-10-04 04:38] AgassiJoeLVedala89 opened #40087 "Join Domain Failed - Windows Virtual Desktop"
Hi, I am doing a POC on windows virtual desktop. I have issues in creating a host pool. The error is saying failed to join the AD with the domain XYZ.

To be more specific I followed steps 1 2 3 in the documentation. In the third step, the host pool is failing to join the AD. I am giving UPN name as one of the users in the domain which has tenant creator and global admin role.

[2019-10-04 04:42] souravmishra-msft commented on #39774
@fxgsell, Both OptionalClaims and OptionalClaim are objects, not collections, arrays or strings. The idToken, accessToken, and saml2Token properties are of type collection.

[2019-10-04 04:42] #39774 closed

[2019-10-04 04:45] souravmishra-msft commented on #39839
@aliliaqat, Hope the above response helped. In case you have any further queries on this, please feel free to re-open this thread.

Closing this thread for now.

[2019-10-04 04:45] #39839 closed

[2019-10-04 04:47] souravmishra-msft commented on #39821
@Norrch2, Hope the above response helped you. If there are any more queries around this, please feel free to re-open this thread.

Closing the thread for now.

[2019-10-04 04:47] #39821 closed

[2019-10-04 04:48] souravmishra-msft commented on #39613
@crixo, Hope the above response helped. Please feel free to re-open this thread in case of any further queries.

Closing the thread as of now.

[2019-10-04 04:48] #39613 closed

[2019-10-04 04:49] souravmishra-msft commented on #39470
@cap273, Closing this thread as of now. Please feel free to re-open this thread if any more queries around this issue.

Closing this thread as of now.

[2019-10-04 04:49] #39470 closed

[2019-10-04 04:51] RohitMungi-MSFT commented on #40058
@Johnsiii88 Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-04 04:52] CHEEKATLAPRADEEP-MSFT commented on #39946
@andreibarsa Developer SDK for ADLS Gen2 will be available in private preview soon.
Regarding service general availability, I would suggest to keep an eye on [Azure updates](https://azure.microsoft.com/en-us/updates/?product=storage&status=all).
Azure updates provide information about important Azure product updates, roadmap, and announcements.

[2019-10-04 04:52] #39946 closed

[2019-10-04 05:00] RohitMungi-MSFT commented on #40087
@AgassiJoeLVedala89 Could you please let us know the documentation link that you are using before facing the above problem? This would help us redirect you to the right team.

[2019-10-04 05:02] CHEEKATLAPRADEEP-MSFT commented on #40034
@nareshynn Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience

[2019-10-04 05:09] avi2183 opened #40088 "The length of execution output is over limit (around 1M currently), Azure Data Factory"
Environment: Azure Data Factory Pipeline Run.

Getting this error while running DataFlow thru a Pipeline. "the length of execution output is over limit (around 1M currently)".

However, when run the pipeline with "Data Flow Debug". its works fine. Bit Weird.

Any idea on how to resolve this issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-10-04 05:17] KrishnaG-MSFT commented on #39913
Assigning content owner @rayne-wiselman for visibility, review and document enhancement considerations.

[2019-10-04 05:18] kazshi commented on #39561
@KalyanChanumolu-MSFT I got information about what "any subnets using Microsoft.SQL as a Service Endpoint cannot communicate with the Gateway IP addresses" case is from Rohit.
However, I'm not clear why it's listed there and what is actual 'impact' for the case.

[2019-10-04 05:21] Grace-MacJones-MSFT commented on #39518
@mattchenderson can you please provide some insight on this scenario?

[2019-10-04 05:26] nitin775 commented on #38162
Thanks for accepting the feedback. I will review the changes given in your email below.

Kind Regards
Nitin

From: Rob Boucher Jr (Microsoft) [mailto:notifications@github.com]
Sent: 04 October 2019 07:54
To: MicrosoftDocs/azure-docs
Cc: BHASIN, Nitin (Technology India, CPB Services); Mention
Subject: Re: [MicrosoftDocs/azure-docs] Rephrase the sentences (#38162)

**********************************

[2019-10-04 05:27] RohitMungi-MSFT commented on #40084
@gutzeit1106 Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-04 05:29] codeitcody commented on #38427
Thank you for looking into this!

I've seen this issue prevent several OIDC compliant services and libraries from integrating with Microsoft. For example Amazon Cognito refuses to integrate because it correctly notices the `iss` in the JWT token does not match the `.../{tenantid}v2.0`. issuer in Azure .well-known endpoint. Other auth services fail for the same reason.

This quirk makes Azure non-c

[2019-10-04 05:30] AjayKumar-MSFT commented on #39776
@robbiedesutter, Your feedback has been shared with the content owner (@ccompy)  for further review.

[2019-10-04 05:42] shashishailaj commented on #40083
@jgwinner Thank you for your query. We will investigate and update this thread.

[2019-10-04 05:50] PramodValavala-MSFT commented on #36705
@dcbrown16 I've gone ahead and added the links to the powershell cmdlets at the end of the doc.

As for a complete sample, there is one [listed under `Samples > Azure Powershell`](https://docs.microsoft.com/en-us/azure/api-management/powershell-samples)

[2019-10-04 05:56] SubhashVasarapu-MSFT commented on #39793
@mjpagan , Due to hardware incompatibility like supporting drivers for accelerated networking, Win 2008 is not here in the list.
We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-10-04 05:56] #39793 closed

[2019-10-04 06:00] CHEEKATLAPRADEEP-MSFT commented on #40034
@nareshynn We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-10-04 06:00] #40034 closed

[2019-10-04 06:08] RohitMungi-MSFT commented on #40088
@avi2183 Could you please let us know the documentation link that you are using before facing the above problem? This would help us redirect you to the right team.

[2019-10-04 06:22] maheshkumagali opened #40089 "Unable to create knowledgebase for azure cognitive service (Error: “No Endpoint keys found.”)"
I am creating a new knowledge base connecting it to an already existing Azure Cognitive Service. But I am getting error: "No Endpoint keys found." when i click "Create KB".
Error: https://i.stack.imgur.com/pp8tV.png

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a29f839a-d836-5f3a-f58c-f60f71a4fc18
* Version Independen

[2019-10-04 06:22] RohitMungi-MSFT commented on #39995
@avidiyal Could you please let us know the documentation link that you are using before facing the above problem? This would help us redirect you to the right team.

[2019-10-04 06:25] SubhashVasarapu-MSFT commented on #39772
@woutervanranst , Appreciate your patience.yes you can have multiple private endpoints on the same Vnet or subnet to the same or different SQL PaaS resource.
We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-10-04 06:25] #39772 closed

[2019-10-04 06:26] RohitMungi-MSFT commented on #40026
@SashaMilic It would be great if you can provide us the doc link of the steps you followed before seeing this error. This will help us to direct this issue to the right team.

[2019-10-04 06:27] RohitMungi-MSFT commented on #40029
@github2alfred It would be great if you can provide us the doc link for the documentation you are referring to.

[2019-10-04 06:30] RohitMungi-MSFT commented on #40043
@tahir1122 We will proceed to close this thread as this forum is to drive issues in azure documentation. Please use the MSDN or Stack forums for this service for service related issues so the wider developer community can help.

[2019-10-04 06:30] #40043 closed

[2019-10-04 06:41] Boombasteg commented on #40031
Thank you Dan, your example is work!

[2019-10-04 06:41] #40031 closed

[2019-10-04 06:44] avi2183 commented on #40088
Following are:
https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#data-factory-limits
https://docs.microsoft.com/en-us/azure/data-factory/concepts-pipelines-activities

[2019-10-04 06:54] woutervanranst commented on #39772
Thanks for the answer but that was not the question -- can one SQL PaaS resource have multiple private endpoints on multiple VNETs (not whether one VNET can have multiple private endpoints for multiple PaaS resources)

[2019-10-04 07:13] spzSource commented on #32439
Sorry, just trying to understand. Was it decided to not update documentation?

[2019-10-04 07:29] ChrisSommers opened #40092 "Same VM in the backend pool of multiple App Gateways/Firewalls"
Can a VM be in the backend pool of &gt;1 WAG/WAF?
For example, could I have a WAG/WAF in UK South with a VM in its backend pool and also have the same VM in the backend pool of a WAG/WAF in UK West?
These 2 WAGs/WAFs would then be fronted by Traffic Manager.
I'm thinking of this to try and increase the availability of the WAG/WAF

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2019-10-04 07:47] aneequrrehman opened #40093 "We encountered an error while updating provisioning configuration for 'XYZApp'"
When configuring a non-galley app for SCIM provisioning, I am facing this error:

We encountered an error while updating provisioning configuration for {appName}.

I checked the network tab and here's the response from the server:

[code]

I have been following this: https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/use-scim-to-provision-users-and-groups#provisioning-users-and-gr

[2019-10-04 07:59] BryanTrach-MSFT commented on #39807
@pcreynolds If you go to the TLS/SSL settings blade for your web app, you should see the "Add TLS/SSL binding" button. Click this to start the process of binding your new SSL cert to the web app.

Once you complete the above step, there will likely be your old and new bindings. Remove the old binding, paying close attention to the thumbprint. That should be all that's needed to rotate your cert.

[2019-10-04 07:59] #39807 closed

[2019-10-04 08:04] VikasPullagura-MSFT commented on #40007
@jonathaneckman Thanks for clarifying your question.
I am checking with the internal team on this, will update here once I get the response.

[2019-10-04 08:06] BryanTrach-MSFT commented on #39834
@RazvanEmilR The doc has not been updated since May, which was a month before iOS 13 was publicly announced. We have assigned your feedback to the doc author to have them review the doc to see if there are any changes needed to the steps listed in order to ensure compatibility with iOS 13.

[2019-10-04 08:12] RohitMungi-MSFT commented on #40077
@DouglasAndrJohnston Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-04 08:18] xkobal commented on #39665
@FrankHu-MSFT as my applications are "Applications from personal account", if I create another user, it can see my applications so I can't test.

[2019-10-04 08:23] KrishnaG-MSFT commented on #40080
@cherylmc Thanks for the quick response. 👍

[2019-10-04 08:26] KrishnaG-MSFT commented on #40081
Assigning content owner @dhirajgandhi for visibility, review and document enhancement considerations.

[2019-10-04 08:27] RohitMungi-MSFT commented on #40089
@maheshkumagali Is it possible to check if you are facing a similar issue when you create a new QnA resource along with the KB?
From the error it looks like the existing QnA service keys or service might be having issues. Is it possible to raise a support ticket for this resource from Azure portal?

[2019-10-04 08:28] KrishnaG-MSFT commented on #40085
Assigning content owner @anirudhcavale for visibility, review and document enhancement considerations.

[2019-10-04 08:30] RohitMungi-MSFT commented on #40078
@shahiddev Thanks for pointing this out. You can raise a PR with the changes and one of our authors would review the changes. The contribution guide for azure docs is [here](https://docs.microsoft.com/en-us/contribute/).

[2019-10-04 08:38] RohitMungi-MSFT commented on #39787
@tomygrenier We will go ahead and close the thread as the API for sidebar lists only URLs for now. If you have any questions please let us know.

[2019-10-04 08:38] #39787 closed

[2019-10-04 08:40] maheshkumagali commented on #40089
Thanks for replying.
Just to make another point: my cognitive service does have the endpoint as shown here: https://i.stack.imgur.com/6PDQA.png.

Also I am able to create new KB pointing to another cognitive service. I am facing issue only when creating the new KB pointing to a particular cognitive service. Any things I need to check on the cognitive service?

[2019-10-04 08:42] RohitMungi-MSFT commented on #39930
@BrianMouncer It would be great if you could consider the request to document changelogs for future releases.

[2019-10-04 08:44] RohitMungi-MSFT commented on #40009
@tellstoriesatbedtym We will now proceed to close this thread and pass the feedback to the content author. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-04 08:44] #40009 closed

[2019-10-04 08:50] TWolverson commented on #21911
@johndowns OK, thanks - I've been trying to reproduce for some time and it doesn't seem to work for me at all; as far as I can tell I have exactly the same setup you do, but app role assignments don't appear as role assignments at all in powershell - even the app registrations I know have them. I set them up, and they appear in the portal, but Get-AzureADServiceAppRoleAssignment returns nothing.

[2019-10-04 08:53] mike-urnun-msft commented on #39626
Hi @markdebruijne

I've gone through the steps and I wasn't able to reproduce this issue, screenshot below:

![image](https://user-images.githubusercontent.com/36717703/66193501-892cec80-e647-11e9-8f35-6ef2dc76a7df.png)

As our next step, given that this channel is more for driving improvements towards MS Docs and the issue that you've encountered appears to be unrelated to this documentation, we

[2019-10-04 08:53] #39626 closed

[2019-10-04 09:06] RohitMungi-MSFT commented on #40084
@gutzeit1106  Thanks for pointing this out. @nishankgu The document needs an update with the storage limits as pointed out in Storage service [documentation ](https://docs.microsoft.com/en-us/azure/storage/common/storage-scalability-targets)and as seen under the subscription limits in azure portal..

![image](https://user-images.githubusercontent.com/46958063/66195451-405f4d00-e6b4-11e9-8f39-c4ec1

[2019-10-04 09:15] RohitMungi-MSFT commented on #40089
@maheshkumagali If you are able to create a new KB with the new QnAMaker then there is an issue with the first QnAMaker resource. You can try to restart your app service and wait for some time for it to reinitialize. Checkout the help from the QnAMaker helper bot.

![image](https://user-images.githubusercontent.com/46958063/66196049-7c46e200-e6b5-11e9-8ca4-d816377c92b4.png)

If the above does not

[2019-10-04 09:28] maheshkumagali commented on #40089
Any idea on how to restart QnAMaker service? I dont find that option in azure portal.

[2019-10-04 09:39] interfacemirror opened #40094 "IoT Device is write protected"
Hello

There is no explanation of what should be done when the IoT Kit is write protected. I got my device and cannot upgrade the firmware because the device is write protected. What should be done in this situation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cf9b53c-0438-f23c-fd2e-d57481d57e85
* Version Independe

[2019-10-04 09:42] SubhashVasarapu-MSFT commented on #39770
@woutervanranst , Appreciate your patience.Private Link is only for outbound connections.

[2019-10-04 09:43] jakaruna-MSFT commented on #40069
@MicahMcKittrick-MSFT
This flag is available in Azure cli version 2.0.71 but not available in cloud shell Azure cli version 2.0.74

I believe this was removed in the latest CLI to favor the default value.

[2019-10-04 09:50] TWolverson commented on #21911
Never mind - I was testing against an app registration that had scopes defined but no app roles. Performing the steps as you described works when I set up the app roles properly.

[2019-10-04 09:52] jrm346 opened #40095 "Problem importing in non live revision"
Hi,

i was working on a revision to my api and wanted to append a new azure function app. I followed the steps above and got an invalid name error in step 8 of Append Azure Function App to an existing API. When i went to my live revision i was able to import the function without any issues. If this is the desired behavior please make the requirement that you must be on the live revision more clear

[2019-10-04 09:54] smoms opened #40096 "Download of image deltas channel clarification"
Hi,
I am not sure what is the purpose of this TCP outbound channel:
*.blob.core.windows.net	443	Download of image deltas

What if this channel is not open? Is it optional?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf2368f4-6deb-ffb0-5e5a-eb73b5c7098e
* Version Independent ID: c4d71d39-ebd9-da2b-251d-ca288bc733dc
*

[2019-10-04 10:04] sergaz-msft commented on #40056
Hi @udooz please give us more details so that we try to repro this. What you mean by the second SSH connection fails? Which step in the tutorial are you blocked?

Thanks!

[2019-10-04 10:09] maheshkumagali commented on #40089
I restarted the app services in the same resource group but in vain.

[2019-10-04 10:17] smoms opened #40097 "Clarification on multiple protocol ports"
Hi,

regarding this rule:

*.azure-devices.net	5671, 8883, 443	IoT Hub access

Is it enough to choose one port only in the Firewall as Edge will automatically try all of them?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf2368f4-6deb-ffb0-5e5a-eb73b5c7098e
* Version Independent ID: c4d71d39-ebd9-da2b-251d-ca288bc733

[2019-10-04 10:18] RohitMungi-MSFT commented on #40089
@maheshkumagali Please raise a support request against this QnA resource so the product team can help you with the same. If you are able to use your new QnA resource you can delete this resource.

[2019-10-04 10:27] jrm346 commented on #39429
@PramodValavala-MSFT Sorry for the slow response.

This cleared up my original question. But it did open up a new query how do I set template parameters? There doesn't appear to be a button to add them. Also, how do they differ from query parameters? I couldn't find anything that explained template parameters in the APIM documentation.

[2019-10-04 10:34] woutervanranst commented on #39770
Outbound from what PoV? From the storage account or from the resource consuming the storage account?

[2019-10-04 10:42] Rachitgupta1994 opened #40098 "How to use Timer trigger with SDK 3.0"
While trying to migrate our project from 2.x to 3.x and from framework to core, i found that the even after installing the mentioned packages, VS can't resolve `TimerTrigger`, neither the `using Microsoft.Azure.WebJobs.Extensions;` statement helps. How do we use the timer trigger in web jobs? Do we have to use the brute force approach and use something like Quartz.Net?

---
#### Document Details

[2019-10-04 10:46] azuregurus commented on #35478
"You can have only one regional VNet Integration per App Service plan. Multiple apps in the same App Service plan can use the same VNet."

[2019-10-04 11:11] udooz commented on #40056
Hi @sergaz-msft,

[Run the SSH client](https://docs.microsoft.com/en-us/azure/iot-hub/quickstart-device-streams-proxy-csharp#run-the-ssh-client):

`ssh <username>@localhost -p 2222`

On first console window, when I tried above SSH - _**Successful**_
On another console window, when I run  `ssh <username>@localhost -p 2222` again, connection got refused with the message:

The **device-streams-proxy/

[2019-10-04 11:22] shreyasraghunath commented on #32325
@sushilraje, any updates here?

[2019-10-04 11:28] stdedos commented on #38880
I has been 3 weeks. It would appear to be a very straightforward operation (and resolution, hopefully).

What is its status?

[2019-10-04 12:17] DaveKLloyd opened #40100 "Incorrect argument on az storage account create"
--hierarchical-namespace  does not appear to be a parameter of "az storage account create" I tried to use it as shown here and I get this error: [ERROR: az: error: unrecognized arguments: --hierarchical-namespace true]  Also the documentation does not mention it https://docs.microsoft.com/en-us/cli/azure/storage/account?view=azure-cli-latest#az-storage-account-create.

---
#### Document Details

⚠

[2019-10-04 12:35] SadiqhAhmed-MSFT commented on #39754
@dcbrown16 Thanks for confirming. Regarding doc-enhancement with this info, I will check with the concerned team to evaluate the content and update as needed.

[2019-10-04 12:35] #39754 closed

[2019-10-04 12:53] qzdl opened #40102 "Brevity; Link to docs of abstractions over ACR / AKS integration"
A summary of the operations described at [aks/cluster-container-registry-integration](https://docs.microsoft.com/en-us/azure/aks/cluster-container-registry-integration]
should be added at the top of this page.

 The 'How-To' details integration from new / existing AKS / ACRs through
the `--attach-acr` and `--detach--acr` option flags; this abstraction simplifies
the process for new users and those

[2019-10-04 13:10] danimir commented on #40014
dcbrown16 You are making an assumption that instance level metrics and intelligent insights have a relationships - they do not. You cannot compare them the way you are describing as they are not related. Intelligent Insights is a separate product. Think of it as a completely separate system from the standard raw metrics. Intelligent Insight "metrics" in JSON is populated with 14-15 detectable perf

[2019-10-04 13:11] xtianus79 commented on #39397
@cahann thank you

[2019-10-04 13:13] larryms opened #40104 "Article should be reconciled with newer version"
Can the information on this page be reconciled with the newer method documented at https://docs.microsoft.com/en-us/azure/aks/cluster-container-registry-integration ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed59d472-ac33-5c03-dbb7-0e86e88c7dd8
* Version Independent ID: 69e1ad8c-2dd3-cc1b-2b31-996a5d866cc0
* Cont

[2019-10-04 13:21] SychevIgor opened #40105 "Step by step guide for real kubernetes, not for local with miniqube"
Could you add to this article more information about installation on real cluster instead of local environment to "quickly test"?
Agree, feature is in a preview, but it's harder to test this feature with guide only for local machine.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1a53f1e-4a0f-e340-b0ab-0e75046afbac
*

[2019-10-04 13:31] j-martens commented on #39590
@Blackmist

[2019-10-04 13:31] BhupalPatil opened #40106 "How to achieve device registration without SDK"
This document talks about how the data packet format in case of device to iot hub connection (without sdk) however if device is registered with DPS (using X509 cert) is there any reference for how to achieve device registration without SDK?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcf2a86a-1de0-2786-db87-58279cef

[2019-10-04 13:32] j-martens commented on #39375
@AFUEU thank you for your question. We hope this has helped. We will now proceed to #please-close the thread.

[2019-10-04 13:32] #39375 closed

[2019-10-04 13:33] j-martens commented on #39535
@trevorbye - do you have anything to add here cc: @nibaccam

[2019-10-04 13:34] computernations commented on #39989
Hello Mike,  Thanks for the response.  The learning module that I'm working
on is for the Deliver remote desktops and apps from Azure with Windows
Virtual Desktop -
https://docs.microsoft.com/en-us/learn/modules/m365-prepare-for-wvd/set-up-wvd-tenant.
I successfully completed unit 1 through 4 and am working on unit 5.  In the
middle of the page the section named "Create the Windows Virtual Desktop

[2019-10-04 13:34] j-martens commented on #39852
Great feedback. @nibaccam can you please add?

[2019-10-04 13:36] gautemo commented on #28729
I don't think this issue should be closed. I have the same problem with version 1.3.1

[Documentation](https://docs.microsoft.com/en-us/azure/key-vault/service-to-service-authentication#connection-string-support) says I only need "RunAs=App;AppId={ClientId of user-assigned identity}" for User-assigned identity

But in [AzureServiceTokenProviderFactory.cs](https://github.com/Azure/azure-sdk-for-net

[2019-10-04 13:43] fantinis opened #40107 "Failed to setup debug session."
I have been using data flow for weeks, today I'm trying to run a debug session on _AutoresolveIntegrationRuntime_ but it fails every time.
Where I can see the event log for understanding what's happened?

![image](https://user-images.githubusercontent.com/8880203/66212228-d186f180-e6bd-11e9-8e3f-a32b3eb85090.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-10-04 13:45] nonstoptimm commented on #39862
Hi @erhopf, thanks for your quick response!
Actually I tried it by just inserting the text with the respective tags like mentioned above. The tags are read in the TTS-result so somehow it does not work with this configuration. As far as I know/understand, the string variable “self.tts” is xml-encoded when it’s being put into the XML. Do you have a hint how to solve this?
Best, Timm

[2019-10-04 13:55] berlamont commented on #39834
We are running into the same thing

[2019-10-04 14:02] dhirajgandhi commented on #40081
Hello - The partner can see the list of customers and subscriptions in the partner center.  Due to security requirements, only partner admins can list of all the subscriptions. The partner admins typically go to partner center to manage their activities.  This is similar what DPOR has.

[2019-10-04 14:05] fantinis commented on #40107
Now is working, I close the issue.

[2019-10-04 14:10] KetanChawda-MSFT commented on #40095
@jrm346 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-10-04 14:12] nareshynn commented on #39079
@djpmsft for reference here i am attaching error message screen shot. please check.

![test](https://user-images.githubusercontent.com/48849057/66214257-fe97cc00-e6de-11e9-886c-1659f9beca0a.png)

[2019-10-04 14:13] NovoJeep commented on #39655
@Alberto-Vega-MSFT I just found something called "Azure IoT Protocol Gateway" maybe this could help to fix my issue.

[2019-10-04 14:20] SamaraSoucy-MSFT commented on #40033
I'm not quite sure which configuration file you are asking about. Are you using an implementation of the `Configurator` interface instead of `logback.xml`, or are you talking about using the `AI-Agent.xml` in addition to either the `Configurator` interface or the `logback.xml` file?

[2019-10-04 14:24] nexxai opened #40110 "TXT records vs. CNAME"
I could not get the TXT record type to validate my domain, but creating a CNAME record in the suggested format worked fine.  Is this a me-thing, or is this an issue with the documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56baff6e-3653-f1a5-1c9b-dd4d372e2291
* Version Independent ID: e44e3b63-6f49-ef86-06

[2019-10-04 14:28] bobbytreed commented on #39940
I have updated the docs @MicrosoftDocs/azure-cxp-triage #please-close

[2019-10-04 14:28] #39940 closed

[2019-10-04 14:28] bobbytreed commented on #39673
I have updated the docs @MicrosoftDocs/azure-cxp-triage #please-close

[2019-10-04 14:28] #39673 closed

[2019-10-04 14:31] mbinnix opened #40111 "Any word re. GA of elastic jobs?"
Is there an estimate available for when elastic jobs will become GA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af7d5bb1-1cb9-b796-2abc-e0250ddbd82b
* Version Independent ID: a6281493-bf6b-0449-23a1-77019959fee4
* Content: [Azure SQL Job automation](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-j

[2019-10-04 14:32] eram opened #40112 "TU >= Partitions"
"the number of partitions in an event hub be greater than or equal to the number of throughput units" &gt; should be&gt; "the number of *throughput units* be greater than or equal to the number of *partitions in an event hub*"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71adf8e4-a51b-d20d-39e1-fd7551bc94b9
* Version

[2019-10-04 14:34] bobbytreed commented on #39763
@MicrosoftDocs/azure-cxp-triage  I closed the wrong issue with my pr, could you please re-open?

[2019-10-04 14:38] MarcoJanse opened #40114 "Missing instructions for creating your own baseline policy for End User protection"
I am looking for instructions to create the exact same policy as the baseline policy, as the Baseline policy: "End user protection (preview)" can not be edited to add exclusions to this policy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c08f708d-bd04-a587-65c5-78a5f02adebc
* Version Independent ID: 7c277e69-3e43-85

[2019-10-04 14:44] Boombasteg opened #40115 "How can automatically purge images from an Azure container registry by count versions"
I'm trying possibilities of automatically purging from [this article](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-auto-purge) .

And now after some difficulties I have script that remove tags filtered by regexp, certain age in certain time. Cool!

But in some my repositories tags have names like 'v1.0.15', 'v1.0.10', 'v1.0.4' and may not a change for a long time. I

[2019-10-04 14:49] RohitMungi-MSFT commented on #40092
@ChrisSommers Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-04 14:52] VNJoe commented on #38230
This issue was acknowledged and apparently remediated by Azure team.  The people on here who didn't assist me, told me what I was seeing wasn't happening, and closed out my comment ought to reconsider their participation in GitHub and how they participate.  Closing issues and ignoring facts is no way to support your products, especially given the detail and screenshot info I provided to support th

[2019-10-04 14:55] xtianus79 commented on #39589
ok what was the final result was I fully refunded? if not I can kill my resource groups today as I have returned from overseas?
________________________________
From: suvasara <notifications@github.com>
Sent: Monday, September 30, 2019 2:43 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Are ther

[2019-10-04 14:58] VNJoe commented on #38230
@RadioActiveLamb Those reports trigger additional, hidden security features for Azure and Office 365 that are undocumented, including what you'd mentioned, and, in my case, triggering a forced password reset for anyone on that list that gets MFA enabled.  The reports are only in Azure and not sent to tenant admins unless you have Premium AD; otherwise, you just have to look there every day, multip

[2019-10-04 14:58] Chreschtf opened #40116 "replace 'endpoint key' with 'authoring key'"
Just a small type at point "2. Replace the value of the Ocp-Apim-Subscription-Key field with your LUIS endpoint key.", should be authoring key which was previously referenced, as the endpoint (url) is not the right value for that field. Had me a bit confused there.
Cheers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: