[2021-01-15 20:01] #67955 closed

[2021-01-15 20:02] DerekHerman-MSFT commented on #68968
@diegoalb Thanks for bringing this to our attention. There is an existing issue open for this. Please follow it for updates.
https://github.com/MicrosoftDocs/azure-docs/issues/68773

[2021-01-15 20:02] #68968 closed

[2021-01-15 20:03] spelluru commented on #68969
Confirmed with the product team:

"In the context of Relay, entity means either a WCF Relay or a Hybrid Connection. "

I will update the documentation.

[2021-01-15 20:06] GiftA-MSFT commented on #68965
@DiSae we'll review your feedback and get back to you shortly. Thanks.

[2021-01-15 20:09] Plus3IT-Azure opened #69004 "400 error when using this approach"
Hello,

I followed the directions of this article using my function app's URL in addition to attaching /admin/functions/ to it. I received a 400 error stating "The request hostname is invalid". Do I need to add this path to an application gateway setting or something similar?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-01-15 20:10] GiftA-MSFT commented on #68967
@Dastreum we'll review your feedback and get back to you shortly. Thanks.

[2021-01-15 20:13] GiftA-MSFT commented on #68970
@RicardoNiepel we'll review your feedback and get back to you shortly. Thanks.

[2021-01-15 20:16] femsulu commented on #68999
Hi @Naishy, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-01-15 20:17] GiftA-MSFT commented on #68976
@AdamSharif-MSFT we'll review your feedback and get back to you shortly. Thanks.

[2021-01-15 20:20] SaurabhSharma-MSFT commented on #68848
@marcelfranke You are getting this error as notebook requires sklearn.  Please uncomment the code in the first cell and rerun all cells. It will fix your error.
![image](https://user-images.githubusercontent.com/38112130/104774553-bb266d00-572b-11eb-9b4b-ed4a754bf9bd.png)

Also, one of the cells may fail and ask you to authenticate to Azure. Keep an eye out for this in the cell outputs, and authen

[2021-01-15 20:26] kobulloc-MSFT commented on #68967
@Dastreum That is correct.  The correct screenshots should be as follows, and the documentation should be updated early next week (there's been a slight delay in updating images).

https://github.com/MicrosoftDocs/azure-docs/issues/68580

![image](https://user-images.githubusercontent.com/37556655/104775230-de055100-572c-11eb-921a-f51ffd01f7e0.png)

![image](https://user-images.githubusercontent.c

[2021-01-15 20:39] hrasheed-msft commented on #67210
#please-close

[2021-01-15 20:39] #67210 closed

[2021-01-15 20:40] hrasheed-msft commented on #67401
#reassign @chanuengg

[2021-01-15 20:42] hrasheed-msft commented on #67543
@wbvreeuwijk It looks like you've probably gotten your issue resolved, so we'll proceed to close this issue. If you still need additional support please reach out and we can reopen the issue.

#please-close

[2021-01-15 20:42] #67543 closed

[2021-01-15 20:53] MicrosoftGuyJFlo commented on #47622
#please-close followed up in email.

[2021-01-15 20:53] #47622 closed

[2021-01-15 20:55] MicrosoftGuyJFlo commented on #65008
@shashishailaj this needs to go to the Edge product group.

[2021-01-15 21:30] besmirzanaj opened #69006 "Fix broken documentation"
Found two issues with this document.
1.
Installing WALinuxAgent does not provide a latest copy from any repository that has these fields defined:
[code]

Script block in section 12 should be changed from
[code]
to
[code]

2
The Azure datasource configuration provided in this document does not work and does not mount the azure datastore. To mount the datastore for cloud-init to consume I had to use

[2021-01-15 21:30] besmirzanaj commented on #69006
This is for the CentOS 7+ section

[2021-01-15 21:34] Gamecock opened #69007 "Unable to follow this documention"
The first thing wrong is that page says to get the system key:
`https://{functionappname}.azurewebsites.net/runtime/webhooks/eventgrid?functionName={functionname}&code={systemkey}`

That URL returns a 404.
An event grid trigger has to be published to the function app before that command will work.
https://github.com/Azure/azure-functions-eventgrid-extension/issues/70

The next thing wrong is the e

[2021-01-15 21:36] clemmayer opened #69009 "Out of date references to Graph API inactive user report"
Has anyone been able to get this to work for GCC High (Us Government Environment) with GCC High endpoints?

https://docs.microsoft.com/en-us/graph/api/resources/signinactivity?view=graph-rest-beta

It also seems to reference permissions that no longer exist

AuditLogs.Read.All vs AuditLog.Read.All (current)
Organisation.Read.All vs Organization.Read.All (current)

I'd like to do this via the Power

[2021-01-15 22:05] TravisCragg-MSFT commented on #68996
@ezYakaEagle442 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-01-15 22:09] TravisCragg-MSFT commented on #69001
@RyanMannix You are correct that this is a specified external range, it should be specified using CIDR notation.

Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-01-15 22:18] #68899 closed

[2021-01-15 22:22] RyanMannix commented on #69001
@TravisCragg-MSFT I figured it out after a little trial and error.
The format that worked:
`loadBalancerSourceRanges:
    - "76.125.140.138/32"`
Probably no need to update the docs, I'm just new to kubernetes
Feel free to close the issue.

[2021-01-15 22:25] RyanMannix commented on #69001
@TravisCragg-MSFT Probably no need to change the docs.. I figured it out after a little trial and error.

[2021-01-15 22:25] spelluru commented on #68969
#please-close

[2021-01-15 22:25] #68969 closed

[2021-01-15 22:26] emuench commented on #68087
We now have a single process for both Gen1/Gen2 VMs. Please check the updated VM articles and contact us again or submit a support ticket if you need more information or have other questions. Thanks for contributing! #please-close

[2021-01-15 22:26] #68087 closed

[2021-01-15 22:27] TravisCragg-MSFT commented on #69001
@RyanMannix Sounds good, I will go ahead and close the issue.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-15 22:27] #69001 closed

[2021-01-15 22:33] DanielBirmingham opened #69010 "Add file size limit to banner logo details"
Under the 'To customize your branding' section > 'Banner Logo' item, please add the size limit.

Example
"The image can't be taller than 60 pixels, wider than 280 pixels, or larger than 10KB."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72f2e675-436d-dcd4-fa27-49408b201158
* Version Independent ID: 4d821732-fc10-f4a

[2021-01-15 22:34] emuench commented on #63051
Thank you for letting us know the answer didn't help. I've bounced this back to the PMs to see how we can help further.

[2021-01-15 22:37] emuench commented on #63051
#please-open

[2021-01-15 22:40] MonikaReddy-MSFT commented on #69006
@besmirzanaj - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-15 22:40] #69006 closed

[2021-01-15 22:45] MarileeTurscak-MSFT commented on #69010
@DanielBirmingham
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-15 22:47] emuench commented on #68088
Checking with PM.

[2021-01-15 22:52] lujiangfeng666 commented on #63522
#please-close

[2021-01-15 22:52] #63522 closed

[2021-01-15 23:04] JamesTran-MSFT commented on #69009
@clemmayer
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-15 23:05] kgremban commented on #68820
@rido-min Thank you for pointing this out. We started the 1.2 preview branch with new features that aren't available in previous versions, and are still working on clarifying the differences within all the content, as well as identifying which articles apply to one/both versions. This is on our backlog and I'll update this issue when we have completed the work.

[2021-01-15 23:06] davekats opened #69011 "Singleton Scope IDs for HTTP Trigger Functions"
Hello,

I am unclear on how the `scopeId` parameter of the `SingletonAttribute` works. Specifically does the `scopeId` parameter work for HTTP Trigger Azure Functions when you bind it to a route parameter? How does the binding work? What variables/values can I bind to?

For example:
[code]
A HTTP POST request to this function with the URI 'v1/hello' would return: "Hello world".

But would the Sing

[2021-01-15 23:07] MartinJaffer-MSFT commented on #68856
@YidiQin The details appear to be part of the Databricks library, rather than the Azure portion.  I do not have access to the library's source code.

My best guess is that if you want to read all the read_groups, then the manifest should say "read_group", and if you want only a specific read_group from the file, use its identifier.
This would suggest the file would need to be in the manifest multi

[2021-01-15 23:26] odee30 opened #69012 "By default ADFS only signs the assertion"
It would be useful if the document also suggested that the the AD FS relying party trust is configure to sign the message and the assertion.

Set-AdfsRelyingPartyTrust -TargetName relyingPartyName -SamlResponseSignature MessageAndAssertion

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e9d8807-22ec-2e19-45f4-974c3c600

[2021-01-15 23:30] JamesTran-MSFT commented on #69012
@odee30
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2021-01-15 23:42] KranthiPakala-MSFT commented on #68978
@mssaperla Looks like this doc needs an update. Could you please review and update the doc to reflect the latest info.

![image](https://user-images.githubusercontent.com/50185738/104788882-3f86e900-5748-11eb-83fc-c4c4a0d93427.png)

@cdawson1971 Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-01-15 23:45] DerekHerman-MSFT commented on #68993
@ManuRiver Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-01-16 00:09] KranthiPakala-MSFT commented on #68989
@Craigmeister68,
Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2021-01-16 00:14] colathro opened #69013 "Possible Bad Docker Run Commands MacOS"
I was following the instructions for starting the container on Mac OS, and wasn't able to connect to Service Fabric Explorer, I.E. "http://localhost:19080" or "sfctl cluster select --endpoint http://localhost:19080"

With the basic run command described in the article - it doesn't seem to work on my macbook out of the box.

After a couple hours of debugging it ends up that the publishing of these

[2021-01-16 00:30] MarileeTurscak-MSFT commented on #68919
Thanks! I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs/pull/69014

[2021-01-16 00:30] #68919 closed

[2021-01-16 00:39] artisticcheese commented on #68938
I verified that current code will fail if there are more then 1 VNET with same name. Not only that but code get all VNETs in all regions with that name so it may even fail if VNET is in wrong region with only 1 VNET in place.

[code]

[2021-01-16 01:00] colathro commented on #69013
Without those extra ports, it seems like there may be issues deploying the example app. (It never left error state)

Upon deleting the container and docker run with the same parameters, SFX is no longer accessible.

"wget localhost:19080" from inside the container returns a index.html and a 200 - so I assume thats working as intended, so it seems like the problem still lies on the routing docker p

[2021-01-16 01:00] SnehaAgrawal-MSFT commented on #69011
@davekats Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-01-16 01:02] SnehaAgrawal-MSFT commented on #69004
@Plus3IT-Azure Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-01-16 01:04] SnehaAgrawal-MSFT commented on #69007
@Gamecock Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-01-16 01:15] andrewkarcher opened #69015 "Merge Statement for Azure Synapse is now in Preview"
In the Query Language Features the "Merge" Statement is listed as not supported. It is now supported in Preview

https://azure.microsoft.com/en-us/updates/new-merge-command-for-azure-synapse-analytics/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7183d46a-a815-a4ee-ed9d-273dffb14f41
* Version Independent ID: a1613e7c

[2021-01-16 01:17] SnehaAgrawal-MSFT commented on #69013
@colathro Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-01-16 01:24] SnehaAgrawal-MSFT commented on #68994
@quasarea Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-01-16 01:29] SnehaAgrawal-MSFT commented on #69015
@andrewkarcher Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-01-16 01:34] colathro commented on #69013
@SnehaAgrawal-MSFT Actually, I kept digging and just found this to be an issue with the newest docker for mac version.

https://github.com/docker/for-mac/issues/5247

Thanks for the quick response, I'll continue to effort on that issue!

[2021-01-16 01:34] #69013 closed

[2021-01-16 02:13] yinoa opened #69017 "Azure VPN gateway| On a single tunnel a maximum of 1 Gbps throughput can be achieved ?"
[Enter feedback here]
It is mentioned that "On a single tunnel a maximum of 1 Gbps throughput can be achieved."

Does it mean the maximum throughput of single tunnel is 1Gbps?  It cannot exceed?

We have noticed it could reach to 1.25 Gbps in practice.

https://github.com/jocortems/azurehybridnetworking/tree/main/Multiple-VPN-Tunnels-From-CiscoCSR-to-AzureVNG

Please help to confirm it and update

[2021-01-16 02:53] femsulu commented on #68970
reassigning to content author, @genlin to review abovementioned content enhancements.

[2021-01-16 04:10] prasanthranga opened #69019 "Custom keyword"
Hi Team,

I am working on implementing azure speech to text in JavaScript.  I am able to convert text to speech, now I need custom keyword recognition.

In git Get started with Custom Keyword, I don't find any code sample in JavaScript, could you please provide a git hub link or code for integrating custom keyword in JavaScript.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2021-01-16 05:21] gs-repo commented on #68713
I’ve included my script and resulting errors below:

azure@Azure:~$ ORGNAME=peer01
azure@Azure:~$ USER_IDENTITY="admin.$ORGNAME"
azure@Azure:~$ CC_NAME=test-asset-contract
azure@Azure:~$ CC_VERSION=1
azure@Azure:~$ CC_LANG=node
azure@Azure:~$ # If you are using chaincode_example02 to validate then CC_PATH=“/home/<username>/azhlfTool/samples/chaincode/src/chaincode_example02/go”
azure@Azure:~$ CC_P

[2021-01-16 06:08] KalyanChanumolu-MSFT commented on #68669
@michaelgobz Its been a while we heard from you. We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-01-16 06:08] #68669 closed

[2021-01-16 06:51] kemurayama commented on #68104
Thanks. I look forward to the update.

[2021-01-16 09:04] rrajan82 opened #69021 "Please add the message that the user gets with the feature enabled"
[Enter feedback here]
Please add a note for the below in the article which will help administrators in validating that the proxy in their environment is configured to make of tenant restrictions feature.

When this feature is enabled by having the proxy inject the headers Restrict-Access-To-Tenants, Restrict-Access-Context, the user trying to access a resource from a tenant that is not part of the

[2021-01-16 09:23] rrajan82 opened #69022 "Please include details for AADSTS500021"
AADSTS500021

Status	                Failure
Sign-in error code	500021
Failure reason	        Access to '{tenant}' tenant is denied.

AADSTS500021 indicates that the tenant restriction feature is configured and that the user is trying to access a tenant that is not part of the list of allowed tenants specified in the header Restrict-Access-To-Tenant.

https://docs.microsoft.com/en-us/azure/active-

[2021-01-16 09:59] ddobric opened #69023 "Understanding accessing of the telemetry data"
It would be great to describe on this page (or a linked page) how to access the logs, how the telemetry data is organized in logs and how to use them. For example, wherein storage is the data and how to read it. The same also for event hub, how the telemetry message looks like and an example of how to read it (link to EventHub sample).

Thanks.

---
#### Document Details

⚠ *Do not edit this secti

[2021-01-16 12:01] SnehaAgrawal-MSFT commented on #69017
@yinoa Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-01-16 12:04] SnehaAgrawal-MSFT commented on #69019
@prasanthranga Thanks for the question! Could you please share the document link you are referring to help you better on this.

[2021-01-16 12:06] SnehaAgrawal-MSFT commented on #69021
@rrajan82 Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-01-16 12:08] SnehaAgrawal-MSFT commented on #69022
@rrajan82 Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-01-16 12:11] SnehaAgrawal-MSFT commented on #69023
@ddobric Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-01-16 12:22] chintanr97 commented on #68713
Hi @gs-repo,

It looks like the chaincode container could not be created during `chaincode instantiation` due to chaincode compilation issues. We recommend you to start with sample Golang chaincodes as shared with `azhlfTool` client. Also, please make sure that the `$CC_PATH` (currently set as: `CC_PATH=/home/azure/sample`) correctly points to the chaincode project root directory, as described abo

[2021-01-16 12:40] prasanthranga commented on #69019
Hi Team,
Please find below as link,
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/custom-keyword-basics?pivots=programming-languages-objectivec-swift

[2021-01-16 12:49] SwathiDhanwada-MSFT commented on #68654
Assigning to content author @lgayhardt for inputs on this issue.

[2021-01-16 12:55] yinoa commented on #68335
Any update?

[2021-01-16 13:26] gs-repo commented on #68713
I’ve tried the chaincode on local dev environment and no issues. The sample directory just contains js file and package.json.

I’m happy to test the sample golang chaincode, but do need to understand the path to deploying this one.

Thanks

________________________________
From: Chintan Rajvir <notifications@github.com>
Sent: Saturday, January 16, 2021 4:22:29 AM
To: MicrosoftDocs/azure-docs <azur

[2021-01-16 14:05] chintanr97 commented on #68713
Hi @gs-repo,

We currently only support Golang chaincodes with our marketplace solution. However, if you are performing some PoCs and trying out Node.js chaincodes, they need to be written with Node.js version `8.16.1` and NPM version `latest`.

A sample Node.js chaincode can be found in `fabric-samples` HLF GitHub repository [here](https://github.com/hyperledger/fabric-samples/blob/v1.4.4/chainco

[2021-01-16 17:14] psmanhas commented on #67453
@rageshm110 Apologies for all the delay in response and inconvenience caused because of the issue.

Yes I got confirmation from our backend team that you should be able to delete ingress-controller-leader-addon-HTTP-application-routing making use of the mentioned command.

Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please

[2021-01-16 17:14] #67453 closed

[2021-01-16 17:21] psmanhas commented on #68685
@yeqing113 Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-01-16 17:21] #68685 closed

[2021-01-16 18:01] grimson73 opened #69025 "Small typo"
[Enter feedback here]
Small typo on
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sync-endpoint-api-v2#frequently-asked-questions
.....enable syncing groups larger than 50K **_withuot_** any additional configuration......

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 222dec3c-a2c5-e7f8-

[2021-01-16 19:53] GiftA-MSFT commented on #69025
@grimson73 we'll review your feedback and get back to you shortly. Thanks.

[2021-01-16 19:54] #68913 closed

[2021-01-16 20:39] Marusyk opened #69026 "Broken link to description of ConnectionCount"
The link should be replaced by https://github.com/Azure/azure-signalr/blob/dev/docs/run-asp-net-core.md#connectioncount

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8de41c1-28fe-15a2-cb60-9f091b1d64eb
* Version Independent ID: aa4b481f-6cec-2417-e2a7-f59961fcaadd
* Content: [Azure SignalR Service internals](https://

[2021-01-16 22:12] briannoyes opened #69028 "Step 4.3 #2 missing required command"
Step 4.3 #2 of the tutorial is missing a required step. Before running:
python manage.py migrate
You first need to run:
pip install -r requirements.txt

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a96d5fc-0dd1-a344-5416-44039cee39b8
* Version Independent ID: 72844ca4-b087-de15-be00-e0d87020a48b
* Content: [Tutorial:

[2021-01-16 22:56] andybochmann opened #69029 "See all support MySQL versions links to the wrong page"
The link to "See all supported versions" in the middle of this page contains a link to the PostgreSQL version page instead of the MySQL version page.

The correct link would be https://docs.microsoft.com/en-us/azure/mysql/concepts-supported-versions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f766765-03b0-2d76-7fe0

[2021-01-17 00:50] GiftA-MSFT commented on #69026
@Marusyk we'll review your feedback and get back to you shortly. Thanks.

[2021-01-17 00:51] GiftA-MSFT commented on #69028
@briannoyes we'll review your feedback and get back to you shortly. Thanks.

[2021-01-17 00:52] GiftA-MSFT commented on #69029
@andybochmann we'll review your feedback and get back to you shortly. Thanks.

[2021-01-17 01:29] savjani commented on #69029
Thanks @andybochmann for your feedback. I have rectified the link and it should be live in a day. thanks !!!

[2021-01-17 04:49] tdihp commented on #68652
@SubhashVasarapu-MSFT Thanks for the reply. Could you please confirm and decide which to use for **reflecting DNS setting**?
This is a doc-enhancement question on how we can have a practice on reflecting DNS setting for Linux distributions. Previously reboot was clearly suggested for both Windows and Linux, now for Windows the clear suggestion is to renew DHCP lease, but does this also work **as i

[2021-01-17 07:19] assaf-grth commented on #68697
In my case I have a principal with db_datareader role saved as basedline
If the role will change to db_datawriter or db_ddladmin, will future scans raise this change as a difference from the current baseline?

[2021-01-17 08:06] dcurwin commented on #68982
#reassign:SujayJDesai

[2021-01-17 11:45] jhueppauff opened #69033 "Does this work if the certificate is renewed?"
I am wondering if this will work if the certificate is renewed?
As far as I understand cloudinit is only a one time thing and for this to work, it would require continuous execution

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 996eb4d1-198e-a69a-b9c5-d247db46d025
* Version Independent ID: 5bfe27b3-22e9-efa8-6a1c-3637

[2021-01-17 12:54] SnehaAgrawal-MSFT commented on #68859
@nagasandeepp We will now proceed to close this thread. If there are further questions regarding this matter, please let us know. We will gladly continue the discussion.

[2021-01-17 12:54] #68859 closed

[2021-01-17 12:57] SnehaAgrawal-MSFT commented on #68945
@L1ttl3J1m Thanks again for the feedback! We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2021-01-17 12:57] #68945 closed

[2021-01-17 13:00] SnehaAgrawal-MSFT commented on #68935
@KimBon Thanks again for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-01-17 13:04] SnehaAgrawal-MSFT commented on #69033
@jhueppauff Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-01-17 13:11] jimmy999860 opened #69034 "TRINITY"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e30e735-75da-4043-c515-909f97a1bbba
* Version Independent ID: 471da130-86c5-aa29-f212-dd700edec9fb
* Content: [What is Azure Database for PostgreSQL](https://docs.microsoft.com/en-us/azure/postgresql/overview)
* Content Source: [articles/postgresql/o

[2021-01-17 13:11] #69034 closed

[2021-01-17 13:41] czerwonykalafior opened #69035 "List the blobs in a container - client missing"
`container_client` in ['List the blobs in a container'](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-python#create-a-container) needs to be created as blow. From the text you get the impression that you can use `container_client` from ["Create a container"](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-python#create-a-container) but

[2021-01-17 14:19] SurenderGutha opened #69036 "Correct the line related to DeploymentMode"
Please correct the following line in the page:
"Do not set the DeploymentMode to Developer in production environments."

DeploymentMode should be either Development or Production.
It should be like "Do not set the DeploymentMode to Development in production environments."

Thanks
Surender Reddy Gutha
[Enter feedback here]
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this sectio

[2021-01-17 14:43] agribot2 opened #69037 "provide Python code example for how to use a prodictive endpoint"
Please also write the existing example using python code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 021ecbd2-8976-64a4-ca95-0009a1c02692
* Version Independent ID: 47011e64-0198-6fac-cd07-0334f350f59c
* Content: [Use prediction endpoint to programmatically test images with classifier - Custom Vision - Azure Cogniti

[2021-01-17 15:03] SwathiDhanwada-MSFT commented on #68542
@MGoedtel Apologies for assigning this issue late. Can you please look into this and update the document if necessary?

[2021-01-17 16:07] simplyvinaykumar opened #69038 "Cosmos DB emulator not starting all of sudden"
Cosmos DB emulator not starting all of sudden. Please have a look at attached etl file. Getting connection refused error.

[2021-01-17 16:58] bitflame opened #69040 "validating the maps search for side street"
[Enter feedback here]
Hi
I am learning the maps API and the query : https://atlas.microsoft.com/search/address/reverse/crossstreet/json?&api-version=1.0&subscription-key=3CW1zxJDw0VLLOmSWV5Thz-v-Ez3HPPvweBNIM2LKHA&language=en-US&query=47.591180,-122.332700 should give a different side-street according to the docs. It should give "Occidental Avenue South." or something like that. It instead gives:

[2021-01-17 18:02] Sharmistha-Rai commented on #68695
@scyto - were you able to check the MARS version?

[2021-01-17 18:06] shashishailaj commented on #69036
@SurenderGutha Thank you for catching this. We will review and have this updated .

[2021-01-17 18:24] shashishailaj commented on #68955
@Azrielsetiyadi As we have not recieved any response from you, we are going to close this issue now. Should you still have any issue related to any of the azure documentation pages , please open a new issue referencing the document and we will be happy to help you on the same. In case you have an issue that requires troubleshooting , we have a forum [Microsoft QnA](https://docs.microsoft.com/en-us

[2021-01-17 18:24] #68955 closed

[2021-01-17 18:40] spelluru commented on #68091
#in-progress

[2021-01-17 18:40] spelluru commented on #66848
#in-progress

[2021-01-17 18:45] shashishailaj commented on #65008
@akshayku Could you please help on this ? or redirect to someone who can help from Edge PG ?

[2021-01-17 19:01] grumm90 commented on #65873
yes, we have multiple servers and every server has an unique url.

[2021-01-17 19:01] grumm90 commented on #65873
when you land in the main url the lbp picks a server.

[2021-01-17 19:36] spelluru commented on #41907
Please see this documentation too:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.messaging.brokeredmessage.scheduledenqueuetimeutc?view=azure-dotnet

#please-close

[2021-01-17 19:36] #41907 closed

[2021-01-17 19:38] spelluru commented on #41907
Also, see a related GitHub issue:
https://github.com/Azure/azure-service-bus/issues/347

[2021-01-17 20:14] GiftA-MSFT commented on #69035
@czerwonykalafior we'll review your feedback and get back to you shortly. Thanks.

[2021-01-17 20:15] GiftA-MSFT commented on #69037
@agribot2 we'll review your feedback and get back to you shortly. Thanks.

[2021-01-17 20:18] piotrgradzinski commented on #66364
Hello @yoelhor !
That is exactly the point I was missing. Thank you!
I will create a PR to update this information in the docs.

[2021-01-17 20:18] #66364 closed

[2021-01-17 20:20] GiftA-MSFT commented on #69038
@simplyvinaykumar this repo is for reporting documentation issues, can you please share the document you're providing feedback on? Otherwise, I encourage you to use post your question on [Microsoft Q&A platform](https://docs.microsoft.com/en-us/answers/products/). Thanks.

[2021-01-17 20:22] GiftA-MSFT commented on #69040
@bitflame we'll review your feedback and get back to you shortly. Thanks.

[2021-01-17 21:11] apurba-tukl commented on #31974
Hello
<img width="1157" alt="Screen Shot 2021-01-17 at 21 57 12" src="https://user-images.githubusercontent.com/23707967/104856087-bc64bf00-5910-11eb-8763-a0d499d42b27.png">
,

I am trying to do the
https://microsoftlearning.github.io/mslearn-dp100/instructions/15-detect-unfairness.html

In the notebook "15 - Detect Unfairness.ipynb"-notebook there is a cell that is giving the following error mess

[2021-01-17 21:13] apurba-tukl opened #69042 "ImportError: cannot import name 'AzureMLAggregatedException' while using 'run = exp.start_logging()'"
Hello,
I am trying to do the https://microsoftlearning.github.io/mslearn-dp100/instructions/15-detect-unfairness.html

In the notebook "15 - Detect Unfairness.ipynb"-notebook there is a cell that is giving the following error message when trying to execute the line 'run = exp.start_logging()'

ImportError: cannot import name 'AzureMLAggregatedException'.

Could someone please help me in resolving

[2021-01-17 21:15] apurba-tukl commented on #31974
Hello,
I am trying to do the
https://microsoftlearning.github.io/mslearn-dp100/instructions/15-detect-unfairness.html

In the notebook "15 - Detect Unfairness.ipynb"-notebook there is a cell that is giving the following error message when trying to execute the line 'run = exp.start_logging()'

ImportError: cannot import name 'AzureMLAggregatedException'.

Could someone please help me in resolving

[2021-01-17 21:18] ajaynabh-rhipe opened #69043 "Storage vMotion, please explain"
[Enter feedback here]
Hi Team,

can you please explain what Storage vMotion means here in this section, Storage vMotion is VMware terminology and mainly used in the context of VMs.

thanks
Ajay

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d4ead57-359a-a5a5-4f9d-65686d2b4f00
* Version Independent ID: 2d1f858e-a2e3-a6

[2021-01-17 22:46] sandervandevelde opened #69044 "Is this list op OPC-UA settings up to date?"
The documentation seems related to OPC Publisher version 2.3:

![image](https://user-images.githubusercontent.com/694737/104858313-6e56b800-591e-11eb-8409-acc6a46d2eb0.png)

Currently, version 2.7 is available.

In https://github.com/Azure/iot-edge-opc-publisher#performance-and-memory-tuning-opc-publisher , settings like 'om' are seen which are not mentioned here.

That readme is just 3 days old.

[2021-01-18 00:52] dmaxwe22 opened #69045 "Provisioning multiple devices using X.509 issues: Windows, Linux sections, single vs. multiple devices, is Visual Studio installed on actual Edge Device?"
Instead of going back and forth MULTIPLE times between Windows and Linux, divide the article into separate documents or tabs for Windows and Linux.

Secondly, the title mentions "multiple" but the end result is just one device in the example and does not wrap it up with instructions how to perform multiple device provisioning (batch, script, etc..). A simple few sentences would suffice such as rep

[2021-01-18 01:23] hungapl commented on #68755
Hi @RohitMungi-MSFT, the run completed successfully:

![azureml_ru](https://user-images.githubusercontent.com/30487789/104862405-f40a5000-597e-11eb-83c0-e7b1d795c1f3.png)

Here is a screenshot of the notebook output:
![notebook1](https://user-images.githubusercontent.com/30487789/104862438-01273f00-597f-11eb-8fcc-192ac09b2db8.png)

The version is 1.19.0

I found the tutorial from the 'Samples note

[2021-01-18 01:32] Samantha-Yu commented on #64075
@ushaq Thanks for the feedback! This article has been refreshed accordingly. We will now proceed to close this thread.
(Please open a new issue if you have follow up questions.)

#please-close

[2021-01-18 01:32] #64075 closed

[2021-01-18 02:00] adi-ch2019 commented on #8144
Facing the same issue but this is on Release pipelines in DevOps. I have 2 tasks build and push using Docker-compose template.
On manually running the release pipeline, I get the following error.
".. failed to build : no matching manifest for windows/amd64 10.0.14393 in the manifest list entries"

[2021-01-18 02:08] Samantha-Yu commented on #67213
@prasenjitcloudgurua  Thanks for the feedback! This article has been refreshed accordingly. We will now proceed to close this thread.
(Please open a new issue if you have follow up questions.)

#please-close

[2021-01-18 02:08] #67213 closed

[2021-01-18 02:28] JohnGGeo commented on #64898
Have to agree with the above discussing tenant restrictions with Implications of blocking inbound or outbound guest access is critical for this document.

[2021-01-18 02:36] AshokPeddakotla-MSFT commented on #69044
@sandervandevelde Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-18 02:41] MGrasdal commented on #68262
Hi all, is this issue gaining any traction at all? It has been at least 10 days since the last response from MS.

[2021-01-18 02:49] AshokPeddakotla-MSFT commented on #69045
@dmaxwe22 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-01-18 02:52] sayanghosh123 opened #69048 "Global Administrator / Company Administrator Azure AD Powershell change?"
The page states "In the Microsoft Graph API and Azure AD PowerShell, this role is identified as "Company Administrator". It is "Global Administrator" in the Azure portal."

This used to be the behaviour. However, one of my old scripts started failing and after debugging it seems Get-AzureADDirectoryRole now returns / accepts "Global Administrator" and not "Company Administrator". Can you please co

[2021-01-18 03:05] PramodValavala-MSFT commented on #68658
@Damag3d Thanks for the feedback! While this doc aims to cover the required configuration from the APIM perspective, this may be a viable candidate for a separate article.

We have assigned this issue to the content author to review and update accordingly.

[2021-01-18 03:24] linda33wj commented on #62078
Thanks for your feedback. Doc is updated to clarify "consumer key" (client id) and "consumer key" (client secret). HTH.
#please-close

[2021-01-18 03:24] #62078 closed

[2021-01-18 03:28] gary918 opened #69049 "To improve command copy-paste"
[hi, when I copy-paste commands such as '# sudo su -', the '#' will be also included which is a little bit annoying. Can we improve this? Thanks!]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4578ad5-aa5a-99c8-0400-5031f7b899f1
* Version Independent ID: 853408d7-9ef4-75f5-e282-3fe3fb59bbdd
* Content: [Set up Postgre

[2021-01-18 03:31] linda33wj commented on #64512
Thanks for your feedback and sorry for the delayed response. There is no limit on # of rows to be copied. Connector manages the paging automatically.
#please-close

[2021-01-18 03:31] #64512 closed

[2021-01-18 03:36] GiftA-MSFT commented on #69042
@apurba-tukl this repo is for reporting documentation issues, can you please share the document you're providing feedback on? Otherwise, I encourage you to use post your question on [Microsoft Q&A platform](https://docs.microsoft.com/en-us/answers/products/). Thanks.

[2021-01-18 03:38] GiftA-MSFT commented on #69043
@ajaynabh-rhipe we'll review your feedback and get back to you shortly. Thanks.

[2021-01-18 03:49] jeevanbalanmanoj opened #69050 "Helpful if scopes like https://graph.microsoft.com/User.Read are explained earlier in the scope section"
Does it make sense to make the reader familiar with the **two** types of **scopes** ( ie OIDC scopes like email, profile, etc vs the ones formed by 'resource id' + permission eg https://graph.microsoft.com/User.Read )  earlier in the scopes section instead of making them read into the [json request](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent#scopes-a

[2021-01-18 03:49] AnuragSharma-MSFT commented on #68697
@assaf-grth Yes the scans will raise this change if we change the roles as mentioned by you as they are differ from the baseline. Again we can approve these changes as baseline. Also we can set up periodic scan as per the same article and it will detect any vulnerability in the database on weekly basis.

Please let me know if this helps.

[2021-01-18 03:51] ravisha22 opened #69051 "Add ASN number requirements"
Please add the ASN number requirement from this article https://docs.microsoft.com/en-us/azure/azure-vmware/tutorial-expressroute-global-reach-private-cloud to the network planning checklist document (https://docs.microsoft.com/en-us/azure/azure-vmware/tutorial-network-checklist) and FAQ document (https://docs.microsoft.com/en-us/azure/azure-vmware/faq)

---
#### Document Details

⚠ *Do not edit t

[2021-01-18 03:52] ravisha22 opened #69052 "Add ASN number requirement"
Please add the ASN number requirement from this article https://docs.microsoft.com/en-us/azure/azure-vmware/tutorial-expressroute-global-reach-private-cloud to the network planning checklist document (https://docs.microsoft.com/en-us/azure/azure-vmware/tutorial-network-checklist) and FAQ document (https://docs.microsoft.com/en-us/azure/azure-vmware/faq)

---
#### Document Details

⚠ *Do not edit t

[2021-01-18 03:53] AnuragSharma-MSFT commented on #68928
@niklarin Thanks for the information provided.

@peterwj We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-01-18 03:53] #68928 closed

[2021-01-18 04:04] Ari-NAB opened #69053 "Error in code example: AttributeError: type object 'datetime.datetime' has no attribute 'datetime'"
Error  in example: `AttributeError: type object 'datetime.datetime' has no attribute 'datetime'`

https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-instance-management?tabs=python#purge-instance-history

The code example for Durable Functions that demonstrates how to purge history has an incorrect use of a package. As well as code errors when calling the package.

Or

[2021-01-18 04:13] JamesTran-MSFT commented on #69048
@sayanghosh123
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-18 04:13] JamesTran-MSFT commented on #69050
@jeevanbalanmanoj
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2021-01-18 04:21] PramodValavala-MSFT commented on #68802
@rgg-amahajan Thanks for the feedback! We worked up a PR to include this information in the docs, which once merged should reflect in a couple of hours.

[2021-01-18 04:25] qaehtesh opened #69054 "Document Update request to add clarity on user MFA triggers"
This documentation says we will ask to perform MFA to regular user as necessary however is there any details on what this necessary implies and possible scenarios however this seems vague and confusing for customers and need to add more clarity here. I understand we may not be able to add granular details to by pass or exploit this however basic information should be provided saying user MFA for s

[2021-01-18 04:48] AshokPeddakotla-MSFT commented on #68336
@payalgaikwad42 Just wanted to check if you have tried with the version 1.4.0 and you are still facing the issue? If not, can this issue be closed?

[2021-01-18 04:51] AshokPeddakotla-MSFT commented on #68713
@gs-repo Did you get a chance to see Chintan's response? We hope that address your query.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-18 04:51] #68713 closed

[2021-01-18 04:56] AshokPeddakotla-MSFT commented on #68401
@martgut Update: Our team is actively looking into this issue. Appreciate your time and patience.

[2021-01-18 05:18] Abdulrahman-Shabaka opened #69055 "a problrm"
[Enter feedback here]

well,
![prob 1](https://user-images.githubusercontent.com/73299367/104875207-65d1a200-595d-11eb-85b7-a4bb62fb3952.png)
 I followed the steps but when I hit run  I got a message for an invalid URL actually this one <https://csdx.blob.core.windows.net/resources/Face/Images/> is the problem and I have no idea about what this URL belongs to the is no description for this info.

[2021-01-18 05:19] VikasPullagura-MSFT commented on #69049
@gary918 Thanks for sharing the Feedback. I have updated the document and changes will go live once the PR is approved.

[2021-01-18 05:20] PunditSharp commented on #63922
Any update on this item?  I'm also finding myself in the same position of not being able to get post-login redirects working.  @taschemann did you ever come right with this?

[2021-01-18 05:21] VikasPullagura-MSFT commented on #69051
@ravisha22
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-01-18 05:21] VikasPullagura-MSFT commented on #69051
@shortpatti
Can you please check and add your comments on this doc update request as applicable.

[2021-01-18 05:23] VikasPullagura-MSFT commented on #69052
@ravisha22 As you have already opened an issue here #69051, closing this as a duplicate item.

[2021-01-18 05:23] #69052 closed

[2021-01-18 05:49] VikasPullagura-MSFT commented on #29354
@cynthn
Can you please check and add your comments on this doc update request as applicable.

[2021-01-18 05:50] BhargaviAnnadevara-MSFT commented on #68907
@WhiteTomX Hope the above inputs help. Are there any further questions here?

[2021-01-18 05:50] shashishailaj commented on #69054
@qaehtesh Thank you for your feedback . We will have this reviewed and update the thread on how best we can incorporate the suggestions in the existing article.

[2021-01-18 05:55] BhargaviAnnadevara-MSFT commented on #68918
@maertendMSFT Thanks for the update.

@larryclaman The doc has been updated appropriately. We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-01-18 05:55] #68918 closed

[2021-01-18 05:59] RohitMungi-MSFT commented on #68170
@panitaxx According to the updates from our team a fix is identified and it would be available soon in production in corresponding regions. I do not have an exact date on when it would be rolled out but I will update the thread as soon as I see a notification. Thanks!!

[2021-01-18 06:00] MariachiForHire commented on #51106
Just a heads up. I also ran into this issue, but I had to add to wrap, with the file function.

public_key     = file("[PATH-TO-PUBLIC-KEY"]

[2021-01-18 06:10] PramodValavala-MSFT commented on #69053
@Ari-NAB Thanks for catching that! The code in Method 1 that you've shared is best included in the docs. We will work up a PR to update the doc accordingly.

[2021-01-18 06:20] PramodValavala-MSFT commented on #69053
@Ari-NAB On second thought, the code snippet is meant to delete histories that are 30 days or older, so the code should actually be this

[code]

We have worked up a PR to address this bug, which once merged should reflect in a couple of hours.

[2021-01-18 06:22] #69053 closed

[2021-01-18 06:33] adriennn commented on #65546
any update on this?

[2021-01-18 06:39] VikasPullagura-MSFT commented on #68984
@vikancha-MSFT Thanks for sharing the details and the status on the document update.

@DougPetrole The document will be updated once the build errors are resolved.

[2021-01-18 06:39] #68984 closed

[2021-01-18 06:40] RohitMungi-MSFT commented on #68881
@RonnieQuan We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-01-18 06:40] #68881 closed

[2021-01-18 06:41] RohitMungi-MSFT commented on #68882
@RonnieQuan We will now proceed to close this thread. As mentioned in the referenced issue and response from @nerajput1607  please check if the documentation helps. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-01-18 06:41] #68882 closed

[2021-01-18 06:43] RohitMungi-MSFT commented on #68972
@haymansfield We hope the response from @wolfma61 helped clarify the support of managed identities.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT @wolfma61 in your reply.

[2021-01-18 06:43] #68972 closed

[2021-01-18 06:50] phatcher opened #69056 "Please release new version of tool"
Can someone please address the pull requests and release a new version of the tool since the current release does not support TLS 1.2

Commented here since no one is paying attention on the project repo

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9edf1df2-588e-01ff-6d1c-234b8e51d550
* Version Independent ID: 27873c0

[2021-01-18 07:02] vipulsparsh commented on #69022
@rrajan82  Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-01-18 07:07] assaf-grth commented on #68697
Thanks for the update

[2021-01-18 07:07] #68697 closed

[2021-01-18 07:09] Ari-NAB commented on #69053
@PramodValavala-MSFT :) Good spot. Thanks!

[2021-01-18 07:12] ChaitanyaNaykodi-MSFT commented on #68789
Hello @OD1995,
Apologies for the delay. You can use the [CloudBlockBlob.UploadFromStreamAsync Method](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.storage.blob.cloudblockblob.uploadfromstreamasync?view=azure-dotnet-legacy) to perform asynchronous operation to upload a stream to a block blob. You can also refer [this blog](https://www.cyotek.com/blog/upload-data-to-blob-storage-with-

[2021-01-18 07:12] #68789 closed

[2021-01-18 07:12] AnuragSharma-MSFT commented on #68943
@stepheja This is being assigned to the content author to evaluate and update as appropriate.

[2021-01-18 07:18] SubhashVasarapu-MSFT commented on #68783
@RonnieQuan, Appreciate your patience. Availability zone/Zone redundancy concept is not supported in APPGW V1 (standard{small,medium,large} & WAF V1) sizes. This feature is only available for standard V2 for now.

**Screen shot of the lab,**
![image](https://user-images.githubusercontent.com/44890829/104883718-30dc4400-598b-11eb-9737-f7202dc5784b.png)

We are closing this issue for now. If there a

[2021-01-18 07:18] #68783 closed

[2021-01-18 07:20] Samantha-Yu commented on #57256
Thanks for the feedback. This article has been refreshed. We will now proceed to close this thread.
(Please open a new issue if you have follow up questions.)

#please-close

[2021-01-18 07:20] #57256 closed

[2021-01-18 07:21] RohitMungi-MSFT commented on #68755
@hungapl The step run seems to be available from the screen shot from portal. I am not sure if your find_step_run() is returning the right Run object which might be causing this. I just tried running this in a cell to confirm if the id of the run is same as the portal in my case.

pipeline_run.find_step_run(batch_score_step.name)

![image](https://user-images.githubusercontent.com/46958063/1048839

[2021-01-18 07:24] jitendraRai opened #69058 "Date need to change for Set redirect URLs to b2clogin.com for Azure Active Directory B2C -"
As per the document,  Retirement of login.microsoftonline.com will now occur no earlier than 14 January 2021. Could you please update the document with latest update.

URL:- https://docs.microsoft.com/en-us/azure/active-directory-b2c/b2clogin

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89933f39-e8c4-32fd-736a-9f258c

[2021-01-18 07:25] RohitMungi-MSFT commented on #69055
@Abdulrahman-Shabaka From the screen shot it looks like you have not replaced the key, endpoint and base URL correctly in your sample code. Please remove the placeholder < and > characters in all variables and try to run again.

[2021-01-18 07:30] AnuragSharma-MSFT commented on #68975
@alexgorb2016 Yes you are right in mentioning that the variable **_$memberDatabaseName_** is not used in the script provided as script is related to on-premise SQL database. You can refer to below article where it has PowerShell script for both Azure SQL Database as well as On-Premise Database:
https://docs.microsoft.com/en-us/powershell/module/az.sql/new-azsqlsyncmember?view=azps-5.3.0

For the c

[2021-01-18 07:37] v-hagamp commented on #58086
Issue got resolved as suggested above.
#please-close

[2021-01-18 07:37] #58086 closed

[2021-01-18 07:37] v-hagamp commented on #48981
Issue got resolved as suggested above.
#please-close

[2021-01-18 07:37] #48981 closed

[2021-01-18 07:38] RohitMungi-MSFT commented on #69019
@prasanthranga Thanks for sharing the link. It looks like a sample for JS is not available in the samples repo. We have assigned this to our content team to review the request and provide a sample that could help. Thanks!

[2021-01-18 07:47] KalyanChanumolu-MSFT commented on #68749
@ShadowPic Its been a while we heard from you. We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-01-18 07:47] #68749 closed

[2021-01-18 07:53] ChaitanyaNaykodi-MSFT commented on #68805
Hello @hannesne,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-01-18 07:57] eliasvakkuri opened #69060 "Please update the firewall exceptions to include Azure Purview"
Please update the firewall exceptions to include Azure Purview. This is not stated explicitly anywhere, but based on testing the exception is required for Purview to be able to access a Data Lake Storage that has network restrictions in place.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2632af75-7664-b79b-ac5b-c7c17

[2021-01-18 07:59] Herman5006 opened #69061 "private endpoint for backup service doesn't work with custom dns"
[Enter feedback here]
I set up private endpoint for azure Recovery Services vault, then I followed below link to set up my owner DNS server, but I can't resolve private endpoint FQDN in VM in same VNET.
Link: https://docs.microsoft.com/en-us/azure/backup/private-endpoints#dns-changes-for-custom-dns-servers

Setup:
client VM, DNS Server VM(windows server 2016) are in same VNET with private endpoint

[2021-01-18 08:05] SwathiDhanwada-MSFT commented on #68824
@omerzubair As mentioned , you need to enable the code level diagnostics manually. Yes its possible to enable the Profiler using Azure PowerShell. Same information has been documented in [this article](https://docs.microsoft.com/en-us/azure/azure-monitor/app/profiler#enable-profiler-manually-or-with-azure-resource-manager).

Hope this helps! As there are no further documentation changes, we will c

[2021-01-18 08:05] #68824 closed

[2021-01-18 08:09] SwathiDhanwada-MSFT commented on #68846
@neepika987 Thanks for your feedback. After noticing several customers has posted the issue, the issue has been resolved in source and the blocking list is updated accordingly.

@mgblythe Can you please review this ?

[2021-01-18 08:10] SwathiDhanwada-MSFT commented on #69061
@Herman5006 Thanks for your comment. We will review the issue and get back to you shortly.

[2021-01-18 08:21] AshokPeddakotla-MSFT commented on #68890
@PeteHaigh-MSFT I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-01-18 08:27] VampireDaniel opened #69062 "how to connect when Geo-replication steup successful"
After Geo-replication steup successful, what's the connection string for mulitple region
For example,  I have redis-us(Primary), redis-eu(Seconday) linked on azure portal. and I have one app deployed in us, i definitely need to connect to redis-us(Primary) with connection string get from azure portal.

Then My question is, what's the connection string for the same app deployed in eu?
Does it requi

[2021-01-18 08:34] SwathiDhanwada-MSFT commented on #69023
Assigning to content author @bwren for reviewing the feedback and updating the document if necessary.

[2021-01-18 08:36] yutaro113 opened #69063 "Restriction and the Right way of deleting functions from portal should be mentioned."
For the Linux Consumption function app, each functions deployed on Function App cannot be deleted from portal.

In the Portal, "Delete" button is diabled. Just diabling may confuse users. Right way of deleting functions (deleting code from project itself and deploying again may be the solution) should also be mentioned here.
![image](https://user-images.githubusercontent.com/36602021/104890806-6a2

[2021-01-18 08:37] shhazam-ms commented on #68890
Hi Pete- thanks so much for reaching out. I'll investigate and get back to you as soon as possible.
@PeteHaigh-MSFT

[2021-01-18 08:37] amanmcse commented on #68841
@iamkarlson  The "GenerateOtp" and "SendOtp" Technical profiles can only be used as validation technical profiles under display controls as shown below and can't be used in orchestration step under user journey.

`<DisplayControls>
  <DisplayControl Id="emailVerificationControl" UserInterfaceControlType="VerificationControl">
    <DisplayClaims>
      <DisplayClaim ClaimTypeReferenceId="email" Req

[2021-01-18 08:37] #68841 closed

[2021-01-18 08:37] psmanhas commented on #68976
Taken offline with @AdamSharif-MSFT.We will now close this issue.

[2021-01-18 08:37] #68976 closed

[2021-01-18 08:47] asafsofer-sl opened #69064 "List of Inbound ports must be open on the NSG in order to k8s keep working fine ?"
there is a need to block any inbound port on the NSG that is not mandatory by both Azure K8S (application , for sure we will keep open). any official answer that must keep open ?

like all was blocked at first and i can see :

dial tcp 10.113.0.35:10250 i/o timeout error

- [x ] The relevant Azure service or technology.
- [ ] A link to the published documentation article that you have feedback abo

[2021-01-18 08:49] amanmcse commented on #68958
@ifslearning Unfortunately minimum value supported is 15 seconds and cannot be configured with less value than that.

You can post an idea at our [product feedback portal](https://feedback.azure.com) regarding this. The feedbacks on this portal are monitored by Product team for product improvements.

[2021-01-18 08:49] #68958 closed

[2021-01-18 08:53] dcurwin commented on #69061
#reassign:utraghuv

[2021-01-18 09:04] SadiqhAhmed-MSFT commented on #68964
@ToruMakabe Appreciate your patience.
Reg: your query - OS has to be installed with English locale. Conversion of locale post installation could result in potential issues.

Hope this answers your question.

Feel free to ping if you have further questions.

[2021-01-18 09:07] vipulsparsh commented on #68960
@mwiedemeyer Can you try the object ID of the service principal created for that application and not the actual application's object  ID. Let me know if that works.

[2021-01-18 09:09] vipulsparsh commented on #68971
@Donovand4 Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-01-18 09:11] ToruMakabe commented on #68964
@SadiqhAhmed-MSFT Thanks. Could you please describe it on the doc for other users?

[2021-01-18 09:13] vipulsparsh commented on #69058
@jitendraRai Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-01-18 09:26] rahulroshan96 opened #69065 "azcopy error - failed to perform copy command due to error: a SAS token (or S3 access key) is required"
Which version of the AzCopy was used?

`azcopy version 10.8.0`

Which platform are you using? (ex: Windows, Mac, Linux)

`Linux 10-145-130-131 5.4.0-1031-azure #32-Ubuntu SMP Tue Oct 6 09:47:33 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`

What command did you run?

`./azcopy copy "storageAccountSASURI1" "storageAccountSASURI2" --blob-type PageBlob`

What problem was encountered?

[code]
How can we re

[2021-01-18 09:30] gary918 commented on #69049
Thanks a lot, @VikasPullagura-MSFT !

[2021-01-18 09:40] JayaChatterjee-MSFT commented on #68808
@ecfan Could you please look into it?

[2021-01-18 09:42] GitaraniSharma-MSFT commented on #68798
@marcelkmfst , We have assigned this query to the content owner/author for review and clarification.

@cherylmc , could you please provide clarity on why the article recommends to create two VPN sites instead of just adding another link?

[2021-01-18 09:43] AnuragSharma-MSFT commented on #69056
@phatcher This is being assigned to the content author to evaluate and update as appropriate.

[2021-01-18 09:44] AnuragSharma-MSFT commented on #69062
@VampireDaniel Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-01-18 09:44] ifslearning commented on #68958
@amanmcse I assume you mean 15 minutes, not seconds?

[2021-01-18 10:12] amanmcse commented on #68958
@ifslearning Sorry, I meant 15 minutes. I've updated my previous comment.

[2021-01-18 10:14] amanmcse commented on #69021
@rrajan82 This error code can be searched here: https://login.microsoftonline.com/error

[2021-01-18 10:15] HarithaMaddi-MSFT commented on #68706
@chez-charlie - Can you please take a look and share your thoughts.

[2021-01-18 10:17] RicZhou-MS opened #69066 "The calculation of example is incorrect"
KB has below calculation example  for a window scale factor of 3 in section of TCP window scaling, and seems the calculation is not correct.

65,535 \* (2^3) = 262,140 bytes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9e17ce9-1b86-b744-f5c8-c86db7267376
* Version Independent ID: 915a5706-f1ba-525e-a8dc-338574e3c3f7

[2021-01-18 10:19] jovanpop-msft commented on #69015
That's correct. Updated.

[2021-01-18 11:03] asergaz commented on #68717
Hello @ramakrpr I am glad you are now unblocked :)!

Regarding your other question

In our doc we just mention Azure Storage SAS connection string as the possibility: https://docs.microsoft.com/en-us/azure/iot-edge/how-to-store-data-blob?view=iotedge-2020-11#devicetoclouduploadproperties

![image](https://user-images.githubusercontent.com/22173500/104906699-f5864900-597b-11eb-998f-69e625f14976.png

[2021-01-18 11:03] #68717 closed

[2021-01-18 11:03] amanmcse commented on #68956
@JimmyLS Thank you for your feedback. I have updated the statement and the change should reflect within next 24 hrs.

I have not added reference to Azure AD Graph Api as starting June 30th, 2020 we will no longer add any new features to Azure AD Graph API. We strongly recommend that you use Microsoft Graph API instead of Azure AD Graph API to access Azure Active Directory resources.

[2021-01-18 11:04] #68956 closed

[2021-01-18 11:07] asergaz commented on #68336
Fyi this issue is related with: https://github.com/MicrosoftDocs/azure-docs/issues/68717

[2021-01-18 11:23] pareshr13 commented on #29976
You will find launchSettings.json file in \Properties folder of you application.
Open launchSettings.json file, you will have following content

    {
     "iisSettings": {
    "windowsAuthentication": false,
    "anonymousAuthentication": true,
    "iisExpress": {
      "applicationUrl": "http://localhost:55298",
      "sslPort": 44391
    }
    },
     "profiles": {
    "IIS Express": {
      "c

[2021-01-18 11:49] WhiteTomX commented on #68907
I will try to test today. Will come back to you!

[2021-01-18 11:50] sayanghosh123 commented on #69048
Hi - as per this link
https://docs.microsoft.com/en-us/answers/questions/233909/get-azureaddirectoryrole-and-34global-administrato.html

Seems the documentation will need to be updated.

[2021-01-18 12:00] melvinga commented on #68766
Hi Jeeva,

Thanks for the response.

I did something and it worked. Not sure if it's the same thing as you advised.

1) Logged into portal.azure.com using the test user credentials (not the microsoft account I created)
2) Navigated to Active Directory --> Enterprise Applications --> All Applications --> SAML Toolkit --> Single sign-on
3) Clicked "Test this application"
4) Clicked "Sign in as curre

[2021-01-18 12:03] OD1995 commented on #68789
Hi @ChaitanyaNaykodi-MSFT, thanks for your response. The links you provided are for .NET/C#, is there an equivalent method for Python?

[2021-01-18 12:11] AjayKumar-MSFT commented on #68983
Thanks for the update, knunery - #68985

[2021-01-18 12:13] AjayKumar-MSFT commented on #68985
Thanks for the update, knunery. Much appreciate the follow-up with the solution that worked for you, it will benefit the community with a similar question.

As a side note, this channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2021-01-18 12:17] payalgaikwad42 commented on #68336
Hi, @asergaz @AshokPeddakotla-MSFT I have tried with version "1.4-linux-amd64". It is working fine now. tested with azure storage explorer version 1.14. Need to test it using azure sdk to upload the files.

[2021-01-18 12:22] mmajcica opened #69067 "Not working for the KeyVault"
In case the named value is of KeyVault type, it can't be linked in the policy. Can you confirm this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 336f4e1b-62f2-fde1-d31f-a7cc30fc857c
* Version Independent ID: d5ccdd33-80d7-035f-1941-cc8a90c331ab
* Content: [How to use named values in Azure API Management policies](ht

[2021-01-18 12:23] WhiteTomX commented on #68907
Hey,
thank you very much. I tested and can confirm that i can create two outomation accounts with the same name in diffrent resource groups as long as they are in different regions.
So I think the scope should somehow address this. When the scope is `resource group` i expect that i can create them independently of anything than the resource group. I can't think of a way to address this in just the

[2021-01-18 13:02] psmanhas commented on #69065
@rahulroshan96 Thank you for your query!!!

I digged a little deep into this and found that this has been reported as bug [here](https://github.com/Azure/azure-storage-azcopy/issues/122).

I can see that there are workarounds provided on same and Product Group is working on the issue. You can indeed reply on same thread mentioning about your issue as well since our internal is already aware of thi

[2021-01-18 13:02] #69065 closed

[2021-01-18 13:10] git001 commented on #68869
Yes it's there.
I have used the cli `az webapp log tail --name Dev-App --resource-group Dev`.
I have take a look into "Dev-App | Container settings => Logs".
Any yes also the `https://<app-name>.scm.azurewebsites.net/api/logs/docker`.

Everywhere are the same timestamps "2021-01-13T13:21:31.136Z" but I have today pushed another image with another sha256 and also restarted the app, nothing changed.

[2021-01-18 13:29] BhargaviAnnadevara-MSFT commented on #68907
@WhiteTomX Thanks for confirming. Are you suggesting that we add a note with this info to the [doc in question](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/resource-name-rules)?

@tfitzmac Please provide your inputs on clarifying this further in the docs.

[2021-01-18 13:31] BhargaviAnnadevara-MSFT commented on #68994
@quasarea Thanks for reaching out. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2021-01-18 13:37] quasarea commented on #68994
Mostly:
* https://docs.microsoft.com/en-us/azure/security/develop/security-code-analysis-overview
* https://secdevtools.azurewebsites.net/helpbinskim.html

[2021-01-18 13:54] moazmirza opened #69069 "ANF subnet size alignment"
This link suggests /26: https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/sap-hana-scale-out-standby-netapp-files-rhel#overview
This link suggests /28: https://docs.microsoft.com/en-us/azure/azure-netapp-files/azure-netapp-files-delegate-subnet#considerations

Can we align on the recommendations across the docs? I believe /28 is the right recommendation. Thanks in advance!

---

[2021-01-18 13:55] AshokPeddakotla-MSFT commented on #69044
@sandervandevelde I have assigned the issue to the content author @dominicbetts to evaluate and update the doc as appropriate.

[2021-01-18 13:57] adontz opened #69070 "SP Entity ID for Atlassian Cloud should end with /"
SP Entity ID for Atlassian Cloud should end with /

So it is "https://auth.atlassian.com/saml/<Tenant ID>/" and not "https://auth.atlassian.com/saml/<Tenant ID>"

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb39c8bf-2709-c59d-94f8-6db76d21bcfb
* Version Independent ID: f7122c2c-ef68-95b6-2273-e

[2021-01-18 14:17] jovanpop-msft commented on #69015
MERGE is marked as available in preview: https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/overview-features?branch=pr-en-us-143452
Can we close this one?

[2021-01-18 14:38] mwiedemeyer commented on #68960
I tried all IDs I have found. What exactly do you mean with the service principal id?
![image](https://user-images.githubusercontent.com/4295189/104928626-25951280-59a3-11eb-8785-4f39b83ab1c2.png)

[2021-01-18 14:49] SumanthMarigowda-MSFT commented on #68838
@robert4os  The Microsoft-managed key is rotated appropriately per compliance requirements. Note that the frequency may change without notice. Azure does not expose the logs to indicate rotation to customers. If you have specific key rotation requirements, then we recommend that you move to customer-managed keys. That way, you can manage and audit the rotation yourself.

Just by generating a new k

[2021-01-18 14:49] #68838 closed

[2021-01-18 14:51] DavidMwihuri01 commented on #56244
@msmimart, it looks to me like this issue is already resolved as the link does not point to a foreign page.

[2021-01-18 14:53] SumanthMarigowda-MSFT commented on #68954
@hoakedo Thanks for the feedback!  Your feedback has been shared with the content owner for further review.

[2021-01-18 15:14] Grace-MacJones-MSFT commented on #69060
Thanks for your feedback! We will review and update this doc accordingly.

[2021-01-18 15:18] agribot2 opened #69072 "Please also provide Python code, not just c#"
Hi
This page, and other pages that relate to prediction cognitive services , endpoints, etc could be greatly improved by providing Python code examples. The Python language is an easily understood language and python code can be understood (and re-used )  by programmers who use several other different languages.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2021-01-18 15:18] Grace-MacJones-MSFT commented on #68715
Upon further review we feel your feedback would be best received by the doc author to add more clarity to the doc about  "Allowed Token Audiences"

[2021-01-18 15:19] Grace-MacJones-MSFT commented on #69066
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-18 15:57] asergaz commented on #68336
Glad we could help @payalgaikwad42 :)!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-18 15:57] #68336 closed

[2021-01-18 16:09] patrickbadley opened #69073 "Add note about AddApiAuthorization<ApplicationUser, ApplicationDbContext>();"
I struggled for some time when using these docs for an identityserver certificate.  In the end I found that if you follow these instructions for loading the certificate, you need to make sure AddSigningCredentials() is not called, or an error will occur because the credentials are configured in code.  Since AddApiAuthorization<T1, T2>() calls AddSigningCredentials under the hood, you need to confi

[2021-01-18 16:09] AnuragSharma-MSFT commented on #68962
@wigsaparelli Thanks for the details you mentioned. The numbers mentioned in the article are correct. So if we try to create more than 100 containers across the same account, we would get the error "**_Storage quota for 'Collection' exceeded"_**. However, we can go ahead and create any number of databases. It is not mandatory to have any container inside a database.

So as an example, we create 4

[2021-01-18 16:10] jfjcn opened #69074 "Printing stylesheet isn't the same as other pages"
When I print this page in Windows on Chromium Edge, the first few words on the left-hand-side of the page are getting cut off.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b1e0765-a7aa-6e76-3aca-751dc8a531dc
* Version Independent ID: e95861b3-cfd3-2b75-95e8-1c0176ba79f2
* Content: [Quickstart: Direct web traffic usi

[2021-01-18 16:22] JayaChatterjee-MSFT commented on #69067
@mmajcica Thank you for the question. We will review and get back to you.

[2021-01-18 16:30] walkinwillie opened #69075 "No guidance on getting a trust seal"
There is no guidance on the page on getting a trust seal to put on your website. I went through GoDaddy and they said I had to go through Azure even though the cert details clearly says the cert is issued through GoDaddy. Searching on the internet shows this has been an issue for a while. Needs to get fixed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2021-01-18 16:32] ramakrpr opened #69076 "Proxy For IOT Stack Edge Device"
Hi,

Following this link:
https://docs.microsoft.com/en-us/azure/iot-edge/how-to-configure-proxy-support?view=iotedge-2018-06

We have an IOT Stack Edge device that we have procured. We intent to set this up but being in a secure network it will need to use a proxy. We follow the documentation above to setup this, but the documentation doesnt throw much details on what kind of proxy we are talking

[2021-01-18 16:44] piotrgwiazda opened #69077 "Will the TABLE_ACCESS logging work for MySQL 8.0"
The documentation reads that "Table access logs are only output for MySQL 5.7.".
Is the TABLE_ACCESS logging recommended for MySQL 8.0 or DML_SELECT/DML_NONSELECT pair?
What is the actual difference?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d3ea3f1-0aef-0c5b-54ff-3079e41bf522
* Version Independent ID: 022a680c-6

[2021-01-18 16:56] arrestle opened #69078 "What do you put into the appsettings.json ClientSecret? The "Description" or the "Value" or the "ID"? I can't get any of them to work."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1279b6d-8210-1751-8e37-cf544cd3695d
* Version Independent ID: 6dc2d359-8d50-1df3-7983-29fb06bfdbb6
* Content: [Tutorial - Create a Blazor Server app that uses the Microsoft identity platform for authentication - Microsoft identity platform](https://d

[2021-01-18 17:19] SnehaAgrawal-MSFT commented on #69073
@patrickbadley Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-01-18 17:21] SnehaAgrawal-MSFT commented on #69075
@walkinwillie Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-01-18 17:23] SnehaAgrawal-MSFT commented on #69064
@asafsofer-sl Thanks for the reaching here! could you please share the link of the document you are referring to help you better on this.

[2021-01-18 17:35] muhammad-2bcloud opened #69080 "Helm is not supported with shared application gateway deployment for 2+ clusters"
[Enter feedback here]
I didn't have knowledge that this scenario of having 2 AKS clusters or more with application gateway ingress controller using helm deployment because it wasn't expressed as a limitation, I had to talk to Microsoft support team to find out that this scenario is actually not supported because you didn't state that in the limitation are but inside one of the tutorials, it wasn't

[2021-01-18 17:41] ecfan commented on #68808
I can repro the behavior also, but I need to check with the product team why this happened.

[2021-01-18 17:42] TestUser0811 opened #69081 "How to deploy Service Fabric application with user-assigned managed identity using octopus?"
The document says "To deploy a Service Fabric application with managed identity, the application needs to be deployed through Azure Resource Manager, typically with an Azure Resource Manager template"

In our deployment model, we are using Teamcity for build/package creation & Octopus for deploying the packages to Azure SF cluster.

How to deploy Service Fabric application with user-assigned manag

[2021-01-18 17:50] ecfan commented on #65838
@lasyan3, can you please answer the questions from @rohithah? Thanks!

[2021-01-18 17:54] SadiqhAhmed-MSFT commented on #69043
@ajaynabh-rhipe Thank you for pointing this out. This is intended only for VMware to Azure method. We will change the document.PR is approved, the changes should reflect in next few hours.

[2021-01-18 18:06] SadiqhAhmed-MSFT commented on #68959
@sk-bln Germany West Central is not restricted and customers can use it directly. We are already in the process of updating our public documentation with the same information. The PR has been raised - https://github.com/MicrosoftDocs/azure-docs-pr/pull/143486 changes should reflect post review/approval by the content owner in next few hours.

[2021-01-18 18:34] marciomocellin commented on #68997
I tested to do with AzureML SDK Version 1.20.0.
The same problem occurred.

[2021-01-18 18:44] WhiteTomX commented on #68907
Yep, that's what I'm suggesting. Some background: Whenever we use a resource first, we create a naming convention mostly based on this [doc](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/resource-name-rules) as we won't try everything. Now we started to use this naming convention in production and started deploying stuff automatically (with Terraform). So we were quite s

[2021-01-18 19:10] #69029 closed

[2021-01-18 19:21] bt101 opened #69083 "Missing GUIDs, Products and / or Service Plans"
The following skuId's returned from the Microsoft Graph API subscribedSkus, appear to be missing from this page:
https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users/licensing-service-plan-reference

skuId | skuPartNumber
1f2f344a-700d-42c9-9427-5cea1d5d7ba6 | STREAM
710779e8-3d4a-4c88-adb9-386c958d1fdf | TEAMS_EXPLORATORY
7ac9fe77-66b7-4e5e-9e46-10eed1cff547 | DYN365_TEAM_MEMB

[2021-01-18 19:38] dcstwh commented on #67213
Thank you @Samantha-Yu  for refreshing the article.
#please-close

[2021-01-18 20:25] LijuV-MSFT opened #69084 "Confusing statement about supported configurations"
_**Note**
This feature is for cloud-authenticated Azure AD users only._

Does "cloud-authenticated AAD users" include hybrid identities authenticated by Azure AD (so PHS only)? Or does it mean cloud-only accounts?

_**Note**
Currently, this feature is not supported on Azure AD joined Windows 10 devices for tenants with cloud authentication. This feature is not applicable to Hybrid Azure AD joined

[2021-01-18 20:39] guilleabdon commented on #56453
Hello everyone. I had the same issue with an application gateway and the CN.....
I've check all the parameters, use new certificates but the problem still there.
Someone might have a solution to this problem?

[2021-01-18 20:45] shashishailaj commented on #69063
@yutaro113 Thank you for your suggestions . We will have this reviewed with the content team and update the thread.

[2021-01-18 20:49] shashishailaj commented on #69070
@adontz Thank you for pointing this out. We will investigate and update the thread.

[2021-01-18 20:51] shashishailaj commented on #69070
@jeevansd Could you please review this and let me know in case a pull request needs to be initiated for this ?

[2021-01-18 21:05] NavtejSaini-MSFT commented on #68778
@lfittl-msft Can you please verify the token expiration for the Managed Token.

[2021-01-18 21:08] Mortana89 commented on #46309
Where can we see if and when this will be implemented?

[2021-01-18 21:27] moazmirza opened #69085 "GB instead of MB - typo in the table"
There a typo in the table. Please update the unit in the table from MB to GB for the values that go beyond 1000MB. Thanks
https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/hana-vm-operations-netapp#sizing-for-hana-database-on-azure-netapp-files

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a770df7f

[2021-01-18 21:50] ErikDeRoos opened #69086 "The 'Run now' cant be used on SPA application due to missing code_challenge"
The 'Run now' to debug can't be used on SPA applications due to missing code_challenge. You end up on an error page stating 'Sorry, but we're having trouble signing you in.' with the error stating 'AADB2C99059: The supplied request must present a code_challenge'.

I ended up on https://github.com/MicrosoftDocs/azure-docs/issues/64073#issuecomment-753487922 to find this easy solution from a related

[2021-01-18 21:55] Michal-Ziemba opened #69087 ""Verify the new top-level domain" section - wrong screenshot"
At the article in the section "[Verify the new top-level domain](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-install-multiple-domains#verify-the-new-top-level-domain)" the second screenshot should show the result of the following command:
`Get-MsolDomainFederationSettings -DomainName bmfabrikam.com`
but it is not. Can you correct this, please?

/Michal
---
#### Do

[2021-01-18 22:33] msjuergent commented on #69085
Fixed it. Pull request is on its way

[2021-01-18 22:39] hungapl commented on #68755
If the tutorial works for you, then it sounds like there issue related to the environment/compute.  I will try start from scratch again.  If it does not work, I will raise a support ticket.  Thanks

[2021-01-18 22:39] #68755 closed

[2021-01-18 22:42] mack0196 opened #69088 "Tutorial enable-dynamic-configuration-aspnet-core missing direction"
Direction to update Startup.ConfigureServices for Core 3x is missing **services.AddAzureAppConfiguration();**

[code]
Fails at runtime without

![image](https://user-images.githubusercontent.com/6463105/104968695-2d0ce980-59ac-11eb-9d3f-e403e40ddab3.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80b8d3d6-4125-638f

[2021-01-18 23:32] CountlessNumber opened #69089 "Admin Certificates More details needed"
More detail is required for Admin certificates - "You also can use these steps to install the client certificates on the machines that you want to allow access to the cluster."

Does that mean admin certificates are installed on nodes, or just admin machines? Do admin certs need to have the Network Permissions settings applied?

Too vague, not enough detail.

---
#### Document Details

⚠ *Do not e

[2021-01-19 00:10] wanglijun378617 commented on #68761
Hi @psmanhas , but can you route the issue to the Azure CLI team to have a check?

[2021-01-19 00:10] pnarsi opened #69090 "Browser Access to Synapse Studio"
Are the required ports documented for an end user on my network wanting to access Synapse Studio correct? The page currently says:

"Make sure that the firewall on your network and local computer allows outgoing communication on TCP ports 80, 443 and 1443 for Synapse Studio."

A user in my network would connect to Synapse Studio via a web browser so ports 80 and port 433 make sense. Yes Synapse Wo

[2021-01-19 00:17] msjuergent commented on #69085
Should get published tomorrow

[2021-01-19 01:13] TonySh127-ms opened #69091 "Cannot use CopyKeysSinglePass-Az.ps1- Error: Cannot find type [Microsoft.IdentityModel.Clients.ActiveDirectory.AuthenticationContext]: verify that the assembly containing this type is loaded."
The resource admin account cannot run the script "CopyKeysSinglePass-Az.ps1"due to below exception error:

Exception: Cannot find type [Microsoft.IdentityModel.Clients.ActiveDirectory.AuthenticationContext]: verify that the assembly containing this type is loaded.
At: $AuthContext = New-Object "Microsoft.IdentityModel.Clients.ActiveDirectory.AuthenticationContext" `Line: 551; Char:20
StackTrace:
a

[2021-01-19 01:15] git001 commented on #68869
Well the solution for my problem was that I change the registry from "Private Registry" to "Azure Container Registry" in the "**container settings**" page after running the following command

    az webapp create --name Dev-App \
    --plan Dev-AppServicePlan \
    --resource-group chat-Dev \
    --deployment-container-image-name devcontainerregistry.azurecr.io/chat-node:latest

I have put the acr

[2021-01-19 01:15] #68869 closed

[2021-01-19 01:20] praveensoni5 opened #69092 "Azure B2C"
HI,

I followed this article
https://docs.microsoft.com/en-us/azure/active-directory-b2c/azure-monitor

However, I get a message while configuring the diagnostics settings
"To setup Diagnostic settings to use Azure Monitor for your Azure AD B2C directory, you need to set up delegated resource management. You can start here to learn how to set this up."
The resource delegation is configured as ment

[2021-01-19 01:22] praveensoni5 commented on #44051
I still get the error despite configuring the resource delegation

"To setup Diagnostic settings to use Azure Monitor for your Azure AD B2C directory, you need to set up delegated resource management. You can start here to learn how to set this up."

[2021-01-19 01:50] NavtejSaini-MSFT commented on #68871
@johnvlittle Please let us know if you have any further issue regarding this.

[2021-01-19 01:54] NavtejSaini-MSFT commented on #68901
@k3rst1n  As this note mentions the timing is not one size fit all but is managed by Azure internally.

![image](https://user-images.githubusercontent.com/52257742/104978147-38254100-59cf-11eb-87a0-8f8afe80ce8c.png)

It will be vary for different servers, resources and when you did the first set up and there is no particular rule that we can share.

[2021-01-19 01:56] NavtejSaini-MSFT commented on #69015
Thank you @jovanpop-msft for updating the document. @andrewkarcher We are going ahead and closing this issue. Please let us know if you have any other query.

[2021-01-19 01:56] #69015 closed

[2021-01-19 01:58] NavtejSaini-MSFT commented on #68888
@savjani Thank you for the correction.
@sumitkute We will go ahead and close this issue for now. Please get back to us if any other issue.

[2021-01-19 01:58] #68888 closed

[2021-01-19 02:00] NavtejSaini-MSFT commented on #69034
@jimmy999860 Thank you for closing this issue

[2021-01-19 02:02] NavtejSaini-MSFT commented on #69077
@piotrgwiazda We are checking this and will get back to you.

[2021-01-19 02:06] NavtejSaini-MSFT commented on #68989
@Craigmeister68 Please check this document for more info- https://docs.microsoft.com/en-us/azure/cosmos-db/table-api-faq
Please share if you need any further information.

[2021-01-19 03:01] VikasPullagura-MSFT commented on #69069
@moazmirza
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-01-19 03:01] VikasPullagura-MSFT commented on #69069
@rdeltcheva
Can you please check and add your comments on this doc update request as applicable.

[2021-01-19 03:03] VikasPullagura-MSFT commented on #69085
@msjuergent Thanks for updating the document.

@moazmirza Thanks for pointing this out. The document is updated and changes will be live soon.

[2021-01-19 03:03] #69085 closed

[2021-01-19 03:04] SadiqhAhmed-MSFT commented on #69043
@ajaynabh-rhipe The doc has been updated.

Thanks once again for bringing this to our attention.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-19 03:04] #69043 closed

[2021-01-19 03:05] VikasPullagura-MSFT commented on #69089
@CountlessNumber
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-01-19 03:05] VikasPullagura-MSFT commented on #69089
@erikadoyle
Can you please check and add your comments on this doc update request as applicable.

[2021-01-19 03:13] chhtw opened #69096 "This page should move to "Hot-to guides/Develop" or "Concepts/Performance considerations""
This page is not talking about how to troubleshoot. Move to another catalog will be better.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6cd61eed-2347-7a72-0d0a-67d9d582e26f
* Version Independent ID: 7be46f73-a54f-29c3-8a75-54a82f70d0b5
* Content: [Improve throughput performance of Python apps in Azure Functions](htt

[2021-01-19 03:17] capraynor opened #69097 "Typo: All "back up" in this page should be "Backup"
All "back up" in this page should be "backup"
Please fix this typo, since this will affect in-page search.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a19dc4f-d95f-e61b-f134-27d32579a545
* Version Independent ID: 06add71b-1a1a-27c8-6ddb-ceb4a54860c7
* Content: [CLI Samples - Azure App Service](https://docs.microsof

[2021-01-19 03:23] YutongTie-MSFT commented on #69072
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-19 03:50] ThanhLongDoBK opened #69098 "failed when member is existed"
Hi,

I have a failed case: when I send email from already registered email. api of mailchimp return 400 status code and my logic app fail. This is my code: https://drive.google.com/file/d/1nLIHgewVVM5wP-A-YB3sA7h4zo8aam66/view?usp=sharing

Can you have any solution for this problem?

Best regards.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2021-01-19 03:53] AJRus opened #69099 "OTP, Guest accounts and conditional access"
How is OTP handled when there is a conditional access policy in place to support an MFA request?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83f1378d-b047-11d1-a138-5c52a3fee6ba
* Version Independent ID: 57c51f57-90ad-e0f9-1e6b-3262f94de02c
* Content: [One-time passcode authentication for B2B guest users - Azure AD]

[2021-01-19 03:53] AshokPeddakotla-MSFT commented on #69076
@ramakrpr Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-19 03:54] ThanhLongDoBK opened #69100 "Microsoft Azure logic app dont run in fail branch"
Hi friends,

I'm a beginner in MS Azure logic app. And this is my logic app: https://drive.google.com/file/d/1_eXivwP78GyLQkicw-pnZpuVeGxQqsOe/view?usp=sharing

When I send an email without an attached file. My logic app dont run anything. Can you investigate what is problem in here? I also trying to investigate this problem seriously.

Thanks teacher.

---
#### Document Details

⚠ *Do not edit th

[2021-01-19 03:58] Heman-ava opened #69101 "Issue with running Step to Analyze data in Storage Account for the Synapse Analytics Tutorial"
The instructions on this page seems to be confusing and incorrect.
https://docs.microsoft.com/en-us/azure/synapse-analytics/get-started-analyze-storage

It says "The name of the storage account: contosolake & The name of the container in the storage account: users"
However, in the previous steps of the tutorial, I dont see any  mention of contosolake or users ??

Because of that, step 5 to load th

[2021-01-19 03:58] CHEEKATLAPRADEEP-MSFT commented on #69090
@pnarsi  Thanks for the question! We are investigating and will update you shortly.

[2021-01-19 04:12] BhargaviAnnadevara-MSFT commented on #69088
@mack0196 Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-01-19 04:20] AnuragSharma-MSFT commented on #68975
@alexgorb2016 Awaiting your response on the above comment.

[2021-01-19 04:21] AnuragSharma-MSFT commented on #68966
@lonevvolf This is being assigned to the content author to evaluate and update as appropriate.

[2021-01-19 04:25] SnehaAgrawal-MSFT commented on #69097
@capraynor Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-01-19 04:53] HarithaMaddi-MSFT commented on #69101
@Heman-ava - Thanks for posting the valuable feedback. I am looking into it and will get back to you shortly.

[2021-01-19 04:55] SubhashVasarapu-MSFT commented on #69074
@jfjcn, We have assigned this issue to the respective content developer for providing better insights.

[2021-01-19 05:04] helizabethwhite opened #69102 "Purview - "Next steps" links pointing to each other"
The 'Next steps' link at the bottom of the [Quickstart page](https://docs.microsoft.com/en-us/azure/purview/create-catalog-portal) links to the Catalog Permissions page. 👍

However, after advancing to the Catalog Permissions page, the current page's 'Next steps' seems to link back to where we just came from - the Quickstart page.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2021-01-19 05:12] Pooja-Harjani commented on #68961
Hi @SnoWolfT , Thank you for using Azure Performance Diagnostics and for reporting this issue. Our team is working on a fix. We expect to release updated versions (with the fix) on the Azure Portal and on the Microsoft Download center in a few days. I will update this thread when they are released. Thank you once again. Best Regards, Pooja Harjani

[2021-01-19 05:16] KalyanChanumolu-MSFT commented on #69078
@arrestle Thank you for reaching out. We are actively investigating and will get back to you soon.

[2021-01-19 05:21] JoseFMP commented on #30719
Where is "All services > Monitor > Logs" ?

[2021-01-19 05:24] psmanhas commented on #68761
@wanglijun378617 Sure let me check internally if I can do anything on that

[2021-01-19 05:27] HarithaMaddi-MSFT commented on #69102
@helizabethwhite - Thanks for sharing valuable feedback. We are looking into it and will update you shortly.

[2021-01-19 05:48] AnuragSharma-MSFT commented on #68986
@hrkyemba Renaming a database is possible if Geo-replication is not enabled. In your case I think Geo-Replication is enabled hence facing the error. There is a user voice on the same and you can upvote it:
https://feedback.azure.com/forums/915676-sql-managed-instance/suggestions/37323409-allow-dbs-to-be-renamed-when-georeplication-is-ena

[2021-01-19 05:49] Moomite commented on #46425
I totally agree with this comment. This process seems to be one of the most basic and most important functions and yet it is so f$%^*&^@$ difficult with MS. Why? I have spent a fortune on trying to get my app hosted in the cloud and yet I have come across this difficulty where the documentation/process is wrong time and time again. It is so disheartening and it has cost me a fortune in time, effor

[2021-01-19 05:53] BharathNimmala-MSFT commented on #68731
@jasonzio My sincere apologies for delay in getting back to this thread. We greatly appreciate you taking time to share your feedback to improve our documentation. I will raise a PR shortly to reflect the feedback and update the document . Once PR is reviewed and approved , it will merge with the live document later in the week.

At this point it appears that there's no further edits or updates ne

[2021-01-19 05:53] #68731 closed

[2021-01-19 05:55] JPalmerDev opened #69104 "https://aka.ms/csspeech/samples leads to SDK samples github home page, rather an explicit example"
[Enter feedback here]
When viewing the docs on https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/direct-line-speech
You can choose to click one of the Sample Code links
![image](https://user-images.githubusercontent.com/53239030/104993444-b259c380-59d7-11eb-8ff2-4c9364fd9dbd.png)
This takes you to the home page for the github home page for the github service speech sdk sampl

[2021-01-19 05:57] HarithaMaddi-MSFT commented on #69102
@helizabethwhite - Yes, I can see that we are forming a circular loop in these documents. As per my understanding, creating an purview account can be a additional information in the catalog permissions document and next steps can be to derive data insights from the purview. I have addressed this in the [PR ](https://github.com/MicrosoftDocs/azure-docs/pull/69103)- which needs review from the conte

[2021-01-19 05:57] HarithaMaddi-MSFT commented on #69102
@yarong - Can you please look at the PR and approve if appropriate.

[2021-01-19 05:59] psmanhas commented on #69081
@TestUser0811 Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-01-19 06:03] Pannawitek opened #69105 "Since Azure Backup Center is still in "preview" state, can I use it for my production. I'm looking for "long-term backup for postgres" which is not available in Recovery Vault, but available in Backup Center (preview)"
Since Azure Backup Center is still in "preview" state, can I use it for my production. I'm looking for "long-term backup for postgres" which is not available in Recovery Vault, but available in Backup Center (preview)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25783fc2-ffe4-7b7c-966e-9abae277e2ff
* Version Independ

[2021-01-19 06:20] shashishailaj commented on #69080
@muhammad-2bcloud Thank you for reporting this. We will engage the content team for review and update the documents as required.

[2021-01-19 06:25] shashishailaj commented on #69080
@mscatyao Could you please review the suggestions and see how best we could incorporate the details in the document ?

@muhammad-2bcloud Please share the case number which was used to engage with Microsoft support which will help us internally track more details about this.

Thank you.

[2021-01-19 06:29] oadrian2 opened #69107 "Is there a way to send have group included in upstream messages?"
Hub, category and {message} {connected/disconnected} is useful, but group replacement seems to be missing. Am I misunderstanding how this is used?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16e8524d-09b1-64fe-c19d-17431cd934e2
* Version Independent ID: 4fd36fca-bc59-680c-6d7a-f35987421a41
* Content: [Upstream setti

[2021-01-19 06:30] oadrian2 opened #69108 "What `host.com` should be isn't explained well."
Should host.com be your main website address, or your Azure Function server? It's not clearly explained.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16e8524d-09b1-64fe-c19d-17431cd934e2
* Version Independent ID: 4fd36fca-bc59-680c-6d7a-f35987421a41
* Content: [Upstream settings in Azure SignalR Service](https://docs

[2021-01-19 06:33] asafsofer-sl commented on #69064
Hi ,
for sure , for the outbound i can see this document : https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic
explaining each port for what it is needed , for example: port 1194 for For tunneled secure communication between the nodes and the control. and i did not found same document for inbound. any advice ?

[2021-01-19 06:43] insankim opened #69109 "Incorrect document tree for "Time sync for Windows VMs in Azure""
[Enter feedback here]
Time sync for Windows VMs in Azure document belongs to Tag a VM sub tree and its name in the tree is "Tag a VM"
This document has to be under Manage VMs sub tree with name "Time sync" same as Linux documentation.
<Wrong>
![image](https://user-images.githubusercontent.com/25474333/104997277-ac61f200-5a6c-11eb-89e2-e7c89976acd1.png)

<Correct>
![image](https://user-images.githu

[2021-01-19 06:44] SadiqhAhmed-MSFT commented on #68964
@ToruMakabe Raised a PR - https://github.com/MicrosoftDocs/azure-docs-pr/pull/143511 to add a note. The changes will go live post review by the content owner.

[2021-01-19 06:48] bgawale commented on #56453
Only workaround for now is to add the custom probe without 'Test' and then associate it with the HTTP setting.

[2021-01-19 06:49] SnehaAgrawal-MSFT commented on #69028
Thanks again for the feedback! As mentioned in the [document](https://docs.microsoft.com/en-us/azure/app-service/tutorial-python-postgresql-app?tabs=powershell%2Cclone#43-run-django-database-migrations) that step `source /antenv/bin/activate`  while activating the venv the requirements.txt is installed automatically. Please let us know if you have query on this.

[2021-01-19 06:57] psmanhas commented on #69109
@insankim Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-01-19 06:57] psmanhas commented on #69109
@cynthn Can you please check and add your comments on this doc update request as applicable

[2021-01-19 06:58] MayankBargali-MSFT commented on #68949
@Gamecock Attributes and annotations are not supported in python as mentioned in [attributes and annotations](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob-trigger?tabs=python#attributes-and-annotations) section. You can leverage the myblob.name and split the string to get your desired result.

Please let me know if you have any queries or concerns.

[2021-01-19 07:06] PramodValavala-MSFT commented on #69096
@chhtw Thanks for the feedback! We will review and update accordingly.

[2021-01-19 07:23] KalyanChanumolu-MSFT commented on #69078
@arrestle Use the Value you get when you create a new client secret.

![image](https://user-images.githubusercontent.com/8835012/105001084-38681f80-5a55-11eb-9afd-2a625d684eb1.png)

What error are you getting?

[2021-01-19 07:30] ctolkien commented on #55802
Sooo.... this has been a huge bugbear of mine for quite a while. And it seems that it _does_ support using MSI, but..... maybe not officially?
 In the 2019-08-01 version of the 'sites' ARM template, this was added:
![image](https://user-images.githubusercontent.com/515955/105001561-133ed580-5a84-11eb-8db5-30ebc9bf17da.png)

It was removed in the next release of the API.

I've successfully set this

[2021-01-19 07:30] ctolkien commented on #64660
Sooo.... this has been a huge bugbear of mine for quite a while. And it seems that it _does_ support using MSI, but..... maybe not officially?
 In the 2019-08-01 version of the 'sites' ARM template, this was added:
![image](https://user-images.githubusercontent.com/515955/105001561-133ed580-5a84-11eb-8db5-30ebc9bf17da.png)

It was removed in the next release of the API.

I've successfully set this

[2021-01-19 07:34] ezYakaEagle442 opened #69110 "Add an ARM Template to create ARO cluster"
Please add a snippet to show how to create ARO cluster with ARM refering to this official Template :
[https://docs.microsoft.com/en-us/azure/templates/microsoft.redhatopenshift/2020-04-30/openshiftclusters](https://docs.microsoft.com/en-us/azure/templates/microsoft.redhatopenshift/2020-04-30/openshiftclusters)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2021-01-19 07:41] JimmyLS opened #69111 "Will B2BManagementPolicy be retired like token lifetime policy (refresh token, session token)"
Microsoft plans to retire the configurable token lifetime feature for refresh and session token lifetimes on January 30, 2021. The B2BManagementPolicy use similar command line here (New-AzureADPolicy), just want to confirm **if this feature will be affected or not**.

![image](https://user-images.githubusercontent.com/25541899/105002435-3eb5c600-5a6c-11eb-9938-5b91b4f123a1.png)

Token lifetime pol

[2021-01-19 07:48] keen85 opened #69112 "Azure SQL Managed Instance: relative storage metric"
Hello,

currently there are two _absolute_ storage related metrics:
- Storage space reserved
- Storage space used

I am wondering why there is no _relative_ storage metric (the ratio of storage space used and storage space reserved as percentag value). This would it make it much easier to create and maintain alerts.
Right now, a threshold for an alert has to be "hardcoded" as an absolute value. If

[2021-01-19 07:50] psmanhas commented on #69110
@ezYakaEagle442 Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-01-19 07:50] psmanhas commented on #69110
@sakthi-vetrivel Can you please check and add your comments on this doc update request as applicable

[2021-01-19 08:11] SumanthMarigowda-MSFT commented on #68661
@joelverhagen Aplogies for delay in responding here! Have you referred to this article:  [How the size of an entity is caclulated in Windows Azure table storage?](https://docs.microsoft.com/en-us/archive/blogs/avkashchauhan/how-the-size-of-an-entity-is-caclulated-in-windows-azure-table-storage)

[2021-01-19 08:31] muhammad-2bcloud commented on #69080
Hi,
Case 121011725000206

BR,

Muhammad Awad

Cloud Solution Architect

M: 972 54 561 4780 E: Muhammad@2bcloud.io<mailto:Muhammad@2bcloud.io>

[cid:3d3c5355-cf9c-461b-a310-168bb169fbaf]

LinkedIn<http://www.linkedin.com/company/2bcloud>  Facebook<https://www.facebook.com/2Bcloud-102061604703430>  2bcloud.io<http://www.2bcloud.io/>

________________________________
From: ShashiShailaj-MSFT <notific

[2021-01-19 08:37] shashishailaj commented on #69083
@bt101 Thank you for sharing this feedback . We will engage with the content author to review this request .

[2021-01-19 08:37] KalyanChanumolu-MSFT commented on #69112
@keen85 Thank you for reaching out and providing your feedback.
Please submit your idea [here](https://feedback.azure.com/forums/217321-sql-database). The product team prioritizes these based on the number of votes and incorporates them into the product.

Low level metrics are natively made available for Alerting and Reporting purposes.
You can however build composite metrics using these by [expor

[2021-01-19 08:42] GitaraniSharma-MSFT commented on #68940
@darginok , We have assigned this issue to the respective product owner for updating the doc accordingly.

@surajmb , could you please review the suggestion and provide your inputs?

[2021-01-19 08:47] shashishailaj commented on #69084
@LijuV-MSFT Thank you for your feedback . We will investigate and update the thread.

[2021-01-19 09:08] ydhondt opened #69113 "Code bugs and updates"
The code sample parses hard coded dates without setting a culture. As a result, people running this code and having a default date format like _dd/mm/yyyy_ will experience a crash on lines like _DateTime.Parse("06/20/1977")_. Easy (but not nicest) fix would be to change those line to _DateTime.Parse("06/20/1977", new CultureInfo("en-us"))_

The code sample is also highly outdated with references t

[2021-01-19 09:12] shashishailaj commented on #69086
@ErikDeRoos Thank you for sharing this . We will investigate and update the thread.

[2021-01-19 09:14] shashishailaj commented on #69087
@Michal-Ziemba Thank you for your inputs. We will review this with the content author and update the thread.

[2021-01-19 09:17] shashishailaj commented on #69111
@JimmyLS Thank you for pointing this out . We will have this reviewed and update the thread.

[2021-01-19 09:19] shashishailaj commented on #69099
@AJRus Thank you for your feedback . We will investigate and update the thread.

[2021-01-19 09:30] MayankBargali-MSFT commented on #69100
@ThanhLongDoBK Thank you for your feedback! We will review and update as appropriate.

[2021-01-19 09:30] MayankBargali-MSFT commented on #69098
@ThanhLongDoBK Thank you for your feedback! We will review and update as appropriate.

[2021-01-19 09:44] agecas commented on #45225
Have you figured this out? As 1 year later I still see no documentation on Microsoft site on how url rewrites work.

[2021-01-19 09:46] andyong79 commented on #32068
I was also getting a similar error BlobAuditingInsufficientStorageAccountPermissions: Insufficient read or write permissions on storage account 'xxxx'. Add permissions to the server Identity to the storage account.
I was already successfully adding the permissions to the storage account for the SQL server identity (configured to be Identity Type SystemAssigned on the SQLServer) and I could see it

[2021-01-19 09:55] AshokPeddakotla-MSFT commented on #69040
Adding @rbrundritt for further help.
@rbrundritt Could you please look into this issue and provide your suggestions?

[2021-01-19 09:55] ElazarK commented on #68890
Hi, @PeteHaigh-MSFT the documentation is in the process of being updated. In the meantime you can navigate to this page https://azure.microsoft.com/pricing/details/azure-defender/ for pricing details. If you have any further questions please feel free to use the "Chat with Sales" option in the lower right hand corner of the screen. They will be happy to answer any additional questions you may have

[2021-01-19 09:57] ElazarK commented on #68890
#please-close

[2021-01-19 09:57] #68890 closed

[2021-01-19 10:07] psmanhas commented on #69033
@jhueppauff I checked it, and from the article, the cert is created and passed onto the VM while provisioning through cloud init.

So if you change the certificate yes it will still work but you might have to manually make the changes.

Hope it helps.

Thanks

[2021-01-19 10:09] wigsaparelli commented on #68962
Thanks @AnuragSharma-MSFT, your reply certainly clarifies everything.  Still strange though as what use is a database without a container(?) so the 100 container limit per account is still very limiting (if you can pass that on to the team), but the documentation is 100% accurate as things stand.
Thank you.

[2021-01-19 10:12] RohitMungi-MSFT commented on #69104
@JPalmerDev Thanks for the feedback. I think it would be better to link it to the repo home page where Java and C# sample links are available.

https://github.com/Azure-Samples/cognitive-services-speech-sdk#voice-assistants-quickstarts

I will create a PR to update the link. Thanks!!

[2021-01-19 10:14] MayankBargali-MSFT commented on #69098
@ThanhLongDoBK From the backend logs, I can see that the action 'Add_member_to_list' results in 400 error. I will suggest you to review [Add member to MailChip list](https://docs.microsoft.com/en-us/azure/logic-apps/tutorial-process-mailing-list-subscriptions-workflow#add-member-to-mailchimp-list) and see if you are passing the value correctly. I will also suggest you to review the run history and

[2021-01-19 10:17] MayankBargali-MSFT commented on #69100
@ThanhLongDoBK Can you send the run ID's where you have observed this behavior along with the timeframe in UTC.

Please do note that this repository is primarily for addressing feedback on azure documentation. For other queries, [Microsoft Q&A](https://docs.microsoft.com/answers) is the best place to reach out to the wider community.

[2021-01-19 10:22] rahug1190 commented on #68938
Will track this as an enhancement item. Thank you for checking and pointing this out @artisticcheese.

[2021-01-19 10:38] innovolt opened #69116 "Don't get the VM name as suggested in Step 5 under Grant Access section"
I don't get any VM name when typed in the search box as suggested Step 5 of Grant Access section. I can see user names are coming up there but no VM.

![image](https://user-images.githubusercontent.com/16989541/105023046-7cb4e900-5a70-11eb-9128-215a21b6c955.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8bd348f-e

[2021-01-19 10:41] Incursus commented on #44571
"New subscription activated" notification template still links to legacy portal, even when using `$DevPortalHost`. I don't see this issue as resolved.

[2021-01-19 10:43] innovolt commented on #69116
My bad. It is working for me after assigning System Assigned Managed Identity to my VM. We can close this issue.

[2021-01-19 10:53] ToruMakabe commented on #68964
@SadiqhAhmed-MSFT Thank you for your support. Please close this issue after the PR merged.

[2021-01-19 10:55] dominikfoldi opened #69117 "`--slot` flag is not documented for `func azure functionapp publish`"
The `--slot` flag for the `func azure functionapp publish` command is not documented here. This flag enables the deployment to slots of the function app.
Commit where this functionality was added: https://github.com/Azure/azure-functions-core-tools/commit/9cc58db73732bf17364c151be822036f52c78cd4

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-01-19 11:12] JayaChatterjee-MSFT commented on #69004
@Plus3IT-Azure I tried to test it with a queue trigger and it works fine for me. Did you provide the input in the request body correctly?

[2021-01-19 11:25] AnuragSharma-MSFT commented on #69113
@ydhondt Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-01-19 11:35] HarithaMaddi-MSFT commented on #69101
@Heman-ava - This tutorial works even if you have used storage account with different name to link to synapse workspace. I created using different name and the queries worked fine for me. And, the name of the storage account is mentioned in the step 1 of this tutorial as below. I will proceed with closing the issue now, please feel free to comment for further queries and we will be glad to assist.

[2021-01-19 11:35] #69101 closed

[2021-01-19 11:53] Damag3d commented on #68658
Currently my team has implemented this model:
- tenant A
- - SPA -> API A -> API A managed identity -> Function (AAD) -> managed identity ->
- tenant B
- -  -> API B -> API B managed identity -> Function (AAD) -> managed identity -> resources

The only thing that is left is add B2C in tenant A.

This way we can have model where tenant B is a provider of reusable microservices, tenant A host custom

[2021-01-19 12:03] SnehaAgrawal-MSFT commented on #69107
@oadrian2 Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-01-19 12:03] SnehaAgrawal-MSFT commented on #69108
@oadrian2 Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-01-19 12:11] #68959 closed

[2021-01-19 12:11] mfmcdonagh opened #69118 "Azure Monitor Agent is missing a deploy at scale strategy which should be listed as a limitation"
Excuse me if I'm reading this incorrectly, but under limiations for Azure Monitor Agent I feel it should be mentioned that it can't be deployed at scale using a policy similiar to how the log analyics agent can be deployed using a policy https://docs.microsoft.com/en-us/azure/azure-monitor/deploy-scale

This seems like a big drawback which should be highlighted.

---
#### Document Details

⚠ *Do n

[2021-01-19 12:13] shashishailaj commented on #69116
@innovolt Glad to know that you were able to figure this out. In addition to this , I would suggest you to check out the article which lists the [services that support managed identities](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/services-support-managed-identities) .

You can also check the article related to enabling [Managed Identities](https://d

[2021-01-19 12:13] #69116 closed

[2021-01-19 12:16] madsd opened #69119 "Azure Functions support ZRS storage account"
The doc states: "This is because Functions relies on Azure Storage for operations such as managing triggers and logging function executions. Some storage accounts don't support queues and tables. These accounts include blob-only storage accounts, Azure Premium Storage, and general-purpose storage accounts with ZRS replication."

However, according to https://docs.microsoft.com/en-us/azure/storage/

[2021-01-19 12:21] Isszul commented on #48902
Still broken!

[2021-01-19 12:42] GitaraniSharma-MSFT commented on #68950
@VitalyMCT , I checked with the Product group team and they confirmed that Private Link support with Azure Automation is available in Azure Commercial and Azure US Government clouds. So the below article is correct:
https://docs.microsoft.com/en-us/azure/automation/how-to/private-link-security

I have created a PR to update the current Private Link doc with the same information and it will be upda

[2021-01-19 12:42] #68950 closed

[2021-01-19 12:47] YoshiakiOi opened #69121 "Azure VPN ID is used in the screenshot"
While it says "Do not use the Azure VPN client's application ID: It will grant all users access to the VPN gateway. Use the ID of the application(s) you registered.", the screenshot is using the ID of Azure VPN app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e67936ea-baf7-b3cc-83ff-10ebe553818b
* Version Independen

[2021-01-19 12:49] dmeatte-aq opened #69122 "Explanation on Race Conditions"
[code]

I feel this note needs a better explanation. What in this code allows only one orchestration instance to start? It would be nice if the note linked to the [StartNewAsync](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.webjobs.extensions.durabletask.idurableorchestrationclient.startnewasync?view=azure-dotnet#Microsoft_Azure_WebJobs_Extensions_DurableTask_IDurableOrchestrationCl

[2021-01-19 13:12] AnuragSharma-MSFT commented on #68962
@wigsaparelli Rightly said as the documentation is correct. Even programmatically I tried creating more than 100 containers through multiple databases and received the storage quota error.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-01-19 13:12] #68962 closed

[2021-01-19 13:35] arrestle commented on #69078
An unhandled exception occurred while processing the request.
MsalServiceException: A configuration issue is preventing authentication - check the error message from the server for details.You can modify the configuration in the application registration portal. See https://aka.ms/msal-net-invalid-client for details. Original exception: AADSTS7000215: Invalid client secret is provided.
Trace ID: 40

[2021-01-19 13:41] arrestle commented on #69078
Thank you for the quick response. I'm getting a little further, it looks like this now (I removed the ClientSecret)

An unhandled exception occurred while processing the request.
Exception: OpenIdConnectAuthenticationHandler: message.State is null or empty.
Unknown location

Exception: An error was encountered while handling the remote login.
Microsoft.AspNetCore.Authentication.RemoteAuthenticatio

[2021-01-19 13:46] shashishailaj commented on #69091
@TonySh127-ms Thank you for reporting this. We will investigate and update the thread.

[2021-01-19 13:55] shashishailaj commented on #69105
@Pannawitek Thank you for your feedback . We will investigate and update the thread.

[2021-01-19 14:00] RNalivaika opened #69123 "AzureAD Connect sourceAnchor"
The document states that Azure AD Connect 1.1.524.0 and newer use ms-DS-ConsistencyGuid as sourceAnchor attribute by default.
I have recently installed 1.5.45.0 on a vanilla onprem AD domain where ms-DS-ConsistencyGuid had not been used on any domain account or group, but the install wizard still chose objectGUID as sourceanchor..
R-

---
#### Document Details

⚠ *Do not edit this section. It is r

[2021-01-19 14:01] abdas-007 opened #69124 "Thanks!"
[Enter feedback here]

This is really helpful conceptual information for a somebody new to K8s!
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a445f8cc-6581-ad43-1dba-719a94eda81a
* Version Independent ID: 31280746-d8de-91b4-d430-91693c2e869d
* Content: [Concepts - Kubernetes basics for Azure Kubernetes Services (AKS) -

[2021-01-19 14:17] DeanGross opened #69125 "Unable to add comments to some security pages"
Several of the sections of the security docs don't provide the ability ask questions/add comments like we can on this page, examples include https://docs.microsoft.com/en-us/security/zero-trust/identity and https://docs.microsoft.com/en-us/security/compass/compass.

Please enable the page commenting feature on all of the security docs.
Thanks
---
#### Document Details

⚠ *Do not edit this section.

[2021-01-19 14:22] ManuRiver opened #69126 "Maintenance control article lacks information or definition regarding scope classes"
Maintenance control is missing descriptive information, it is not clear the scope of each class,  name of scope classes does not self explain or imply what are they for.
I don't see any details on what the behavior of Maintenance is going to be for **Extension, Host, InGuestPatch InResource, OSImage and Resource**. What is the effect of enabling one versus the other?

https://docs.microsoft.com/en

[2021-01-19 14:28] Abdulrahman-Shabaka commented on #69055
@RohitMungi-MSFT
I am really grateful to you this was the problem thanks a lot for your caring.
this problem solved because of you.

[2021-01-19 14:40] agribot2 opened #69127 "You may be charged if you use this"
I was shocked to discover that Microsoft applied changes when I trying out this process !

You need to VERY CLEARLY warn readers that depending on the type of subscription, changes might be incurred.

and FYI , before I used the Azure application and features, I searched around for clear information about costs and many web pages said that initial limited use would be "free"

This page need to inc

[2021-01-19 14:51] jsquire commented on #64979
While an event processor is running, it will periodically perform a load balancing cycle in which it audits its own health and inspects the state of collaboration around the Event Hub and Consumer Group pair by any other processors.  As part of that load balancing cycle, an event processor will attempt to update the timestamp on its ownership record for each partition that it owns.

Unlike in prev

[2021-01-19 14:52] jsquire commented on #64979
This got a bit longer than expected; the TLDR is only in the following cases:

- A processor lets all of its ownership records expire
- One ownership record expires and there's an unequal share of partitions and one processor has to own an extra

[2021-01-19 15:05] joelverhagen commented on #68661
Yes, that was my original reference when implementing the calculation. However there are still 88 bytes unaccounted for as shown in my repro code.

[2021-01-19 15:06] BhargaviAnnadevara-MSFT commented on #69124
@abdas-007 Thank you very much for the feedback! We're glad you found the document helpful!

[2021-01-19 15:06] #69124 closed

[2021-01-19 15:09] SaurabhSharma-MSFT commented on #68848
@marcelfranke We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-01-19 15:09] #68848 closed

[2021-01-19 15:11] madsd commented on #69119
Duplicate to #63283, however this has been open for several month without any actions.

[2021-01-19 15:20] marcelfranke commented on #68848
You are right, uncommenting the pip install section solved it. I should better read the documentation. Thanks for your help.

[2021-01-19 15:21] rbahne opened #69129 "PreRequisites not listed"
Page says to: "Verify that you have the appropriate permissions as described under Prerequisites."
However this page has no Prerequisites section listing what they are.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e0c8df1-852c-a3b2-96e1-4af8981e3cf9
* Version Independent ID: 2d4a7e2c-dcb2-dcdd-0ae2-374b6443e

[2021-01-19 15:21] souravmishra-msft opened #69130 "Remove "Company Administrator" term from the doc."
Please update the doc by removing the "Company Administrator" from the below section: https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference#global-administrator--company-administrator

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8eadd92
* Version Independent

[2021-01-19 15:25] haoxi911 commented on #37847
Exactly same here.. A warning message should be added besides the secret ID, most of OAuth developers will assume the client ID and client secret are besides each other.

[2021-01-19 15:36] FOSSKolkata opened #69131 "Links of further reading are broken"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1e601c7-34eb-a840-2238-8287454b5470
* Version Independent ID: b881b144-6afe-1a7c-eb4c-807a68a736bc
* Content: [Security technical capabilities in Azure - Microsoft Azure](https://docs.microsoft.com/en-us/azure/security/fundamentals/technical-capabili

[2021-01-19 15:40] KalyanChanumolu-MSFT commented on #69078
Please check your App registration and ensure Redirect URI is configured correctly.

Support on GitHub is limited to documentation issues only.
For technical assistance and help with troubleshooting, please reach out to us on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/dotnet-aspnetcore-blazor.html).

[2021-01-19 15:53] jhodgsonuk opened #69133 "AppInsights example + screenshot for Website-monitoring is out of date"
Minor, but under "Configure Application Insights SDK" the screenshot in point 1 is out of date - AppInsights now has connectionString which includes Instrumentation key and ingestion endpoint.

Worth updating step 1 + 2 to reflect new AppInsights Azure portal functionality.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2021-01-19 15:59] spelluru commented on #66848
@krish-gh - Thanks for the feedback. We really appreciate it. The article is updated for the new package: Azure.Messaging.ServiceBus now. Please feel to contact me via email or IM if you have more feedback. Thanks!!

#please-close

[2021-01-19 15:59] #66848 closed

[2021-01-19 16:08] #68802 closed

[2021-01-19 16:09] SadiqhAhmed-MSFT commented on #68959
@sk-bln The doc is updated - https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-support-matrix#region-support

Thanks once again for bringing this to our attention.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-19 16:12] rgg-amahajan commented on #68802
@PramodValavala-MSFT thanks for the update. I don't see the page updated yet, is the PR merged recently?

[2021-01-19 16:14] #68864 closed

[2021-01-19 16:15] PramodValavala-MSFT commented on #68802
@rgg-amahajan The PR should be merged soon (in of a private fork on this public repo) which takes a couple of hours to reflect.

[2021-01-19 16:16] 13daysaweek opened #69135 "More detailed documentation required"
Hi, based on a recent experience working with a customer to implement SQL Data Sync, there are some things that I believe should be added to the documentation to provide a better customer experience.  Specifically:

- How does the SQL Data Sync agent determine where it will store temporary files before they are sent to the cloud service?  I was only able to determine this by running the agent exec

[2021-01-19 16:17] catchtwenty2 commented on #36607
Commenting for additional visibility on this issue. Does not seem to be a way to stop these weekly PIM emails

[2021-01-19 16:18] JamesTran-MSFT commented on #69131
@FOSSKolkata
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-19 16:19] JamesTran-MSFT commented on #69125
@DeanGross
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2021-01-19 16:21] SubhashVasarapu-MSFT commented on #68893
@lzl124631x, Apologies for the delay in response. You can set the FQDN or IP by setting the type to external endpoint,

![image](https://user-images.githubusercontent.com/44890829/105062161-4ee79880-5aa0-11eb-97d0-9352b2418ef5.png)

Ref: https://docs.microsoft.com/en-us/azure/dns/dns-alias-appservice

Let us know if you are looking for more info.

[2021-01-19 16:26] MonikaReddy-MSFT commented on #68262
@MGrasdal - Apologies for the delay in response. And Yes, Our Internal team is looking into this issue and we will let you know once we have some update from them. Thank you for your understanding.

[2021-01-19 16:27] SadiqhAhmed-MSFT commented on #69091
@TonySh127-ms Please note that this channel (the Azure Docs repository) is only for driving improvements related to the Azure documentation.

Your query needs a further deeper dive technically. It would be great if you can reach out to Azure technical support team by raising a technical support request using this link - https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-crea

[2021-01-19 16:27] #69091 closed

[2021-01-19 16:49] MarileeTurscak-MSFT commented on #69123
@RNalivaika
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-19 16:59] ChaitanyaNaykodi-MSFT commented on #69117
Hello @dominikfoldi,  Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-01-19 17:02] ChaitanyaNaykodi-MSFT commented on #69119
Hello @madsd,  Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-01-19 17:04] BhargaviAnnadevara-MSFT commented on #68907
@WhiteTomX Ok, got it. Thanks again for the feedback! I have submitted a PR to fix the issue that's in review. The changes should reflect post the merge.

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-01-19 17:04] #68907 closed

[2021-01-19 17:04] ChaitanyaNaykodi-MSFT commented on #69122
Hello @dmeatte-aq,  Thank you for your feedback! We will review and update as appropriate.

[2021-01-19 17:09] martinnaughton commented on #11487
I found this issue when looking for how to send a list of deviceIds for a job. I think most companies would do the firmware upgrades in batches like a list of devices. To ensure they are working. It seems you can only do a list with OR statements and not a list like IN. Which works in the IOT hub devices query language but not here as a target condition. I think this should be noted in the documen

[2021-01-19 17:11] helizabethwhite commented on #69102
@HarithaMaddi-MSFT FYI, i left a small spelling comment on the PR you linked! 🙂

[2021-01-19 17:15] BhargaviAnnadevara-MSFT commented on #68994
@quasarea Thank you for the response. This feedback seems to be for the BinSkim tool, and I see you have opened an [issue](https://github.com/microsoft/binskim/issues/334) with their GitHub repository already. I'd request you to follow further updates to the issue on the same.

I'd like to let you know that this channel (the [Azure Docs](https://github.com/MicrosoftDocs/azure-docs) repository) is

[2021-01-19 17:15] #68994 closed

[2021-01-19 17:19] JamesTran-MSFT commented on #69130
@souravmishra-msft
Thanks for your feedback! We will investigate and update as soon as possible.

It also looks like there's a [similar issue](https://github.com/MicrosoftDocs/azure-docs/issues/69048) that you worked on and confirmed the change of Company Admin to Global Admin.

[2021-01-19 17:27] craigdubose opened #69138 "NFS - Azure Data Import"
We had a recent support request that caused several points of frustration for the customer. When attempting to import the data from a data disk to an Azure Blob with NFS enabled. The support request uncovered that NFS enabled Blobs can not be an import target at this time. Can we update our documentation to cover this? MSFT Alias: wedubose if you need to PM me.

---
#### Document Details

⚠ *Do no

[2021-01-19 17:30] NavtejSaini-MSFT commented on #68871
@johnvlittle We are going ahead and closing this issue for now. Please get back to us for any questions.

[2021-01-19 17:30] #68871 closed

[2021-01-19 17:32] NavtejSaini-MSFT commented on #68901
@k3rst1n Please let us know of you have any further question.

[2021-01-19 17:49] tamram commented on #68902
@PCNZ - Because RA-GRS is more expensive than GRS, there needs to be a mechanism to ensure that users aren't just enabling RA-GRS only when they need read access to the secondary and then reverting to GRS when they don't. This is that mechanism.

The other statement you point out is not a contradiction, because it's referring to GRS and not to RA-GRS.

#please-close

[2021-01-19 17:49] #68902 closed

[2021-01-19 17:52] KranthiPakala-MSFT commented on #65546
Hi @nabhishek - Could you please have a look at this ask from Cx and do the helpful needed. Thank you

[2021-01-19 17:54] cynthn commented on #69109
@insankim Thank you for the feedback! These files will be moved in a new update to the TOC that should be out later this week.

#please-close

[2021-01-19 17:54] #69109 closed

[2021-01-19 18:04] MonikaReddy-MSFT commented on #69133
@jhodgsonuk -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-01-19 18:05] olegelantsev opened #69139 "Missing `aks` in `az nodepool` command reference"
`az nodepool upgrade --node-image-only` should be `az aks nodepool upgrade --node-image-only`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a9c74a8-9f1a-3d3d-3aed-f8ec45f92e05
* Version Independent ID: 01e98043-dc80-490e-a761-8d558ff4e6df
* Content: [Use managed identities in Azure Kubernetes Service - Azure Kubernet

[2021-01-19 18:10] mgblythe commented on #68846
@SwathiDhanwada-MSFT - what do you need me to review?

[2021-01-19 18:10] #68964 closed

[2021-01-19 18:12] KumudD commented on #48177
@sohamnchatterjee @amitsriva @duongau Please can you review the issue reported here and provide your feedback whether managed certificate is supported for apex or root domains. Thanks!

[2021-01-19 18:13] MartinJaffer-MSFT commented on #68856
Given that the implementation details are beyond my reach, I am assigning this to the content owner, @mssaperla , in case they have more information.
@YidiQin

[2021-01-19 18:15] tamram commented on #60473
@normesta - FYI

[2021-01-19 18:18] KumudD commented on #48177
#reassign: sohamnchatterjee

[2021-01-19 18:19] timothymeyers opened #69140 "Update User the Server Assessment tool/Agentless to be simpler and consistent"
Suggest updating the [_Use the Server Assessment tool_][_Agentless_] cell in [this table](https://docs.microsoft.com/en-us/azure/migrate/server-migrate-overview#compare-deployment-steps) to be "Assessment is optional." It is a simpler way of saying the same thing, and it is the way it is written for the [_Agent-based_] cell next to it.

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-01-19 18:23] SaiKishor-MSFT commented on #69121
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-19 18:25] MarileeTurscak-MSFT commented on #69129
@rbahne
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-19 18:29] JamesTran-MSFT commented on #69139
@olegelantsev
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-19 18:29] YutongTie-MSFT commented on #69127
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-19 18:36] VanMSFT commented on #69113
@jaszymas - Hi Jakub, please see the feedback for the code sample. Thanks!

[2021-01-19 18:52] kobulloc-MSFT commented on #68967
@Dastreum The updated documentation is now live.  Thank you again for helping to improve our documentation!  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-01-19 18:52] #68967 closed

[2021-01-19 18:53] JamesTran-MSFT commented on #69009
@clemmayer
Thank you for your time and patience throughout this issue.

When it comes to the [signInActivity resource type MSGraph RESTAPI](https://docs.microsoft.com/en-us/graph/api/resources/signinactivity?view=graph-rest-beta), you can try using it with the [Graph API Gov endpoints](https://developer.microsoft.com/en-us/graph/blogs/new-microsoft-graph-endpoints-in-us-government-cloud/). However

[2021-01-19 18:57] JamesTran-MSFT commented on #68979
@bhsolberg
Thank you for the detailed issue explanation!

In order to gain a better understanding of your issue, we'd like to take a closer look into your environment, can please email me with the info below. I'll go ahead and enable a one-time free technical support request for your subscription so you can work with our support engineers on this issue.

Email: AzCommunity@microsoft.com
Subject: A

[2021-01-19 18:57] #68979 closed

[2021-01-19 18:58] ggailey777 commented on #68802
@rgg-amahajan thanks for reporting this! We definitely shouldn't be creating a 32-bit instance for plans with >4GB of memory. I've looped-in the product team to see how we can get that fixed in the product.

[2021-01-19 18:58] jaszymas commented on #69113
Hi Van,

I've fixed the issue with Culture for the certificate store sample in 2019. The same changes are applicable to the AKV sample. The ask to rewrite the sample using M.D.S. and .NET Core is a bigger one. I can start looking into this.

Thanks,

Jakub

From: Van To <notifications@github.com>
Sent: Tuesday, January 19, 2021 10:37 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>

[2021-01-19 19:09] JamesTran-MSFT commented on #69048
@sayanghosh123
Thank you for pointing this out and providing the Q&A link! I worked with @souravmishra-msft on this issue and created a PR to update the documentation, it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-01-19 19:09] #69048 closed

[2021-01-19 19:11] JamesTran-MSFT commented on #69130
@souravmishra-msft
Thank you for pointing this out! I've created a [PR]( https://github.com/MicrosoftDocs/azure-docs-pr/pull/143584) to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-01-19 19:11] #69130 closed

[2021-01-19 19:14] JamesTran-MSFT commented on #69131
@FOSSKolkata
Thanks for your feedback! In order to better help you with this issue would you be able to share some examples/locations of where you see these broken links?

I've also assigned this issue to the author who will investigate and update as appropriate.

[2021-01-19 19:24] IanMercer opened #69141 "Missing instruction to install Microsoft.Identity.Web.MicrosoftGraph package"
The extension method `AddMicrosoftGraph` appears to have moved into a new Nuget package `Microsoft.Identity.Web.MicrosoftGraph`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 957649d9-8576-a551-716a-e273b9f3dadb
* Version Independent ID: af706ddf-6af2-9158-c153-998c6d56cbc5
* Content: [Tutorial - Web app accesses Micr

[2021-01-19 19:25] JamesTran-MSFT commented on #69139
@olegelantsev
I have created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

![image](https://user-images.githubusercontent.com/36619112/105082082-e8cf2700-5a47-11eb-8b14-03da2db1ee5f.png)
Reference: https://docs.microsoft.com/en-us/cli/azure/ext/aks-preview/aks/node

[2021-01-19 19:25] #69139 closed

[2021-01-19 19:35] ArneSaether opened #69142 "Missing information of the functionality for the different SQL Extension modes"
[Enter feedback here]
Hi
I cant any information on the differences of functionality or information provided by the different extension modes. If we implement for instance Lightweight mode, what functionality will be unavailable versus implementing Full mode. The article should also include what kind of monitoring impact will the different modes have.

Let me know if  you have any questions
Regards

[2021-01-19 19:51] boomalator opened #69143 "Instructions are incomplete. Does not create working site without additional steps."
The point of a walkthrough is to have a working sample, but this article does NOT create a browsable static web site.

For example, the document shows 6 steps under "Create Static Web Site". The extension seems to prompt me for only three (step 1/3), including "Choose Build Preset" which is not mentioned. Then if I choose custom, I get a new set of steps, some of which match this document.

Prior

[2021-01-19 19:51] nitinme commented on #57993
Thanks for your dedication to our documentation. At this time looks like this issue is not related to content anymore. The scope of our feedback channel here on GitHub covers specific documentation fixes and because this issue does not relate to documentation, we are closing this issue. #please-close

[2021-01-19 19:51] #57993 closed

[2021-01-19 19:52] nitinme commented on #69055
Closing since the issue is resolved. Thanks.

#please-close

[2021-01-19 19:52] #69055 closed

[2021-01-19 19:53] yao-li opened #69144 "Missing line in ConfigureServices for Step 4 .Net Core 3.x"
[Enter feedback here]
Thanks for the great tutorial. It was really helpful.

I noticed that before adding the UseAzureAppConfiguration middleware in Configure method.

AddAzureAppConfiguration is also needed in the ConfigureService method.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80b8d3d6-4125-638f-746a-4bbdf0378

[2021-01-19 20:11] #68571 closed

[2021-01-19 20:12] TheUniquePaulSmith opened #69146 "PersistedClaims and AlwaysUseDefaultValue?"
Does **[PersistedClaims](https://docs.microsoft.com/en-us/azure/active-directory-b2c/technicalprofiles#persistedclaim)** support **AlwaysUseDefaultValue** as does the [OutputClaims](https://docs.microsoft.com/en-us/azure/active-directory-b2c/technicalprofiles#outputclaim)?

The documentation does not indicate that, but in my own testing it does seem to take effect in custom policies.
Is the docume

[2021-01-19 20:26] mmacy commented on #68638
@derisen can you provide some guidance and code that shows how to specify a custom state and then request, receive, and access that state?

We have a snippet showing the definition of the [AuthenticationParameters](https://azuread.github.io/microsoft-authentication-library-for-js/ref/msal-core/modules/_authenticationparameters_.html) and a four-liner for the loginRequest and passing it to loginPop

[2021-01-19 20:32] MashaMSFT commented on #69142
Hi @ArneSaether , thanks for your feedback! The management modes section should have the information you're looking for:

[2021-01-19 20:34] #69142 closed

[2021-01-19 20:39] ekote commented on #44928
@SatishBoddu-MSFT - do you have any update on that issue?

[2021-01-19 20:53] AjayKumar-MSFT commented on #69026
@Marusyk, The PR is merged and the doc now reflects the changes.  Thanks for your valuable feedback and contribution in improving the Azure docs.

[2021-01-19 20:53] #69026 closed

[2021-01-19 20:53] Grace-MacJones-MSFT commented on #69143
Hi @boomalator thanks for bringing this to our attention! I have assigned the issue to the content author to evaluate and update doc as appropriate

[2021-01-19 21:11] MicrosoftGuyJFlo commented on #69054
Adding the following additional text in bold approved by the product group.

One common method to improve protection for all users is to require a stronger form of account verification, such as Multi-Factor Authentication, for everyone. After users complete Multi-Factor Authentication registration, they'll be prompted for additional authentication whenever necessary. **Users will be prompted prima

[2021-01-19 21:11] MicrosoftGuyJFlo commented on #69054
#reassign @MicrosoftGuyJFlo

[2021-01-19 21:13] PRMerger9 commented on #69054
GitHub user ssivas has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-01-19 21:13] #69054 closed

[2021-01-19 21:14] scyto opened #69148 "Please document need to enable two enterprise apps and errors that show that."
Push notifications used to work.
I had authenticator set up years ago with AAD.
For some time push has not worked and i have to do the thing with the two digit numbers.
Saw issue trying to enable password less.
Searched on the terms found this article http://www.sharepointalex.uk/office-365/azure-password-less-sign-in-something-went-wrong-error/#comment-883

how nearly 3 years after that was publi

[2021-01-19 21:16] #69042 closed

[2021-01-19 21:16] #69038 closed

[2021-01-19 21:22] eljacobsen12 opened #69149 "Changing the password for the azure sql admin account"
Any requirements when changing the password for this AD account? Do we need to walk back through the admin setup if the password changes for the account?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55747c48-5caa-3234-f978-a667aed13352
* Version Independent ID: c18a4db6-71e3-a539-1e7f-2f49662f4

[2021-01-19 21:24] JamesTran-MSFT commented on #69148
@scyto
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2021-01-19 21:25] jelew opened #69150 "Suggested update to "Getting Windows Ready" troubleshooting document"
Following Step 2 shows loading the System.hiv.

For Server 2012R2, 2016, 2019 this does not load the System hive. It creates a BROKENSYSTEM key but nothing below it. Unloading it creates a SYSTEM.hiv file on the problem OS disk.

Step 2.Run the following script:

**reg load HKLM\BROKENSYSTEM F:\windows\system32\config\SYSTEM.hiv**

Step 2b) **reg load HKLM\BROKENSYSTEM F:\windows\system32\config\S

[2021-01-19 21:27] emuench commented on #68088
It is now a single process for both Gen1/Gen2 and this is reflected in recent topic updates. If this does not resolve your question, please provide additional information, or submit a support ticket at https://docs.microsoft.com/en-us/azure/marketplace/support. Thank you for contributing! #please-close

[2021-01-19 21:27] #68088 closed

[2021-01-19 21:29] kalyankrishna1 opened #69151 "also document oid for app only tokens"
that it contains the id of the sP

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2471c08b-befe-8e1a-df08-f13e116c231e
* Version Independent ID: 0d827d33-2906-6352-9398-13863def9354
* Content: [Microsoft identity platform access tokens - Microsoft identity platform](https://docs.microsoft.com/en-us/azure/active-director

[2021-01-19 21:31] MarileeTurscak-MSFT commented on #69146
@TheUniquePaulSmith
Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-19 21:32] MonikaReddy-MSFT commented on #69150
@jelew -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-01-19 21:33] MonikaReddy-MSFT commented on #69144
@yao-li -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-01-19 21:36] MicrosoftGuyJFlo commented on #67001
Updating the docs to include the exclusion step.

[2021-01-19 21:38] MonikaReddy-MSFT commented on #69144
@yao-li - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-19 21:38] #69144 closed

[2021-01-19 21:39] emuench commented on #63255
If this does not resolve your question(s), please provide additional information, or submit a support ticket at https://docs.microsoft.com/en-us/azure/marketplace/support. Thank you for contributing!

[2021-01-19 21:44] MonikaReddy-MSFT commented on #69133
@jhodgsonuk -
- Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-01-19 21:45] anastasia-ms commented on #69040
Docs are wrong. Fixing

[2021-01-19 21:49] johnayoub opened #69155 "Application Gateway Health Probe User Agent"
Hello,

What is the user agent sent with health probe requests? We would like to filter out requests coming through to application insights.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05a592c5-5d16-e44d-d6c7-5d0b2c0833c4
* Version Independent ID: dd9d601c-5d4b-f1bc-01df-7e1d6b57d0da
* Content: [Health monitoring ov

[2021-01-19 21:54] bainian12345 commented on #57363
There is no throttle or anything on the throughput of HybridConnection, under most scenarios the bottleneck will be the network speed. Regarding the last question, the throughput is not influenced by the number of Hybrid Connections. The Relay service will be taking as much load as its CPU/memory could handle.

[2021-01-19 22:07] Gamecock commented on #68949
Sorry, I missed that in the docs

[2021-01-19 22:07] #68949 closed

[2021-01-19 22:12] SatishBoddu-MSFT commented on #44928
Sorry, I think the best place to post this troubleshooting/technical question to get a faster response is may-be on Q&A.

We request you to post a separate technical question on **Microsoft Q&A** for further help in this matter.

Please do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2021-01-19 22:17] deathcat05 opened #69157 "Is client_credentials for B2C Tenants still not supported?"
I'm trying to understand if `client_credentials` flow for requesting access tokens for B2C tenants is still **not** poosible?

[This page ](https://docs.microsoft.com/en-us/azure/active-directory-b2c/microsoft-graph-get-started?tabs=app-reg-ga) says it's still not possible.

However, there is a [document here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/manage-user-accounts-graph-a

[2021-01-19 22:18] vick-git opened #69158 "Performance number/metrics of the basic cache."
On behalf of clients and self understanding, is it possible to add basic cache related details as well among tables here? I am aware basic cache doesn't have SLA but still curious to know the performance number/metrics of the same.

https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-planning-faq#azure-cache-for-redis-performance

![image](https://user-images.githubusercontent.com/5

[2021-01-19 22:30] #67001 closed

[2021-01-19 22:40] spelluru commented on #64979
Thanks @jsquire

#please-close

[2021-01-19 22:40] #64979 closed

[2021-01-19 22:40] spelluru commented on #57363
Thanks @bainian12345

#please-close

[2021-01-19 22:40] #57363 closed

[2021-01-19 22:42] Grace-MacJones-MSFT commented on #69118
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-19 22:42] spelluru commented on #23000
Please see the latest management samples at:
https://github.com/Azure/azure-event-hubs/tree/master/samples/Management

#please-close

[2021-01-19 22:42] #23000 closed

[2021-01-19 22:45] Grace-MacJones-MSFT commented on #69126
Hi @ManuRiver,  thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update the doc as appropriate

[2021-01-19 22:46] normesta commented on #68429
Closing issue as we have this note captured where the events are documented.

#please-close

[2021-01-19 22:46] #68429 closed

[2021-01-19 22:47] Grace-MacJones-MSFT commented on #69149
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-19 22:55] spelluru commented on #37393
https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-programming-guide#publisher-revocation
Currently, only REST API supports this feature (publisher revocation).

Examples are here:
https://docs.microsoft.com/en-us/rest/api/eventhub/revoke-publisher#examples

I am guessing that the REST API article has been updated.

[2021-01-19 22:58] normesta commented on #68954
Thanks @hoakedo. @jeffpatt24 Is this expected behavior?

[2021-01-19 23:00] normesta commented on #67988
@santoshc1 can you please comment on this? Thx!

[2021-01-19 23:00] kprunella commented on #67402
Content has been updated. This can be closed. Link Below.
https://docs.microsoft.com/en-us/azure/dedicated-hsm/high-availability

[2021-01-19 23:01] #66265 closed

[2021-01-19 23:07] normesta commented on #68872
Hi @michelamarie. The article currently describes authorization via SAS and Azure AD. Can you share with me what you would like to have seen in the doc to clarify things?  Would it be helpful to mention the use of TLS (HTTPS) for connection and data transfer? Thx!

[2021-01-19 23:11] JamesTran-MSFT commented on #69151
@kalyankrishna1
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2021-01-19 23:21] dcbrown16 commented on #37393
Ok, thank you.

[2021-01-19 23:21] #37393 closed

[2021-01-19 23:32] cynthn commented on #69126
@ManuRiver Are you asking about the API reference docs or the Overview article? This repo doesn't contain the API reference, so it might be better to go to the API docs and submit this feedback there?

[2021-01-19 23:37] DerekHerman-MSFT commented on #69138
@craigdubose Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-01-19 23:39] jlichwa commented on #67402
#please-close

[2021-01-19 23:39] #67402 closed

[2021-01-19 23:39] DerekHerman-MSFT commented on #69060
@eliasvakkuri Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-01-19 23:39] sarah026 opened #69159 "Private endpoints on storage accounts"
The limitation stated around the private endpoints doesn't seem to hold.
I have a client that has access to two storage accounts over private endpoints, and I can't copy between them.
I'm using the latest AzCopy 10.8.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d6cc016-6c8f-81d7-3b5b-edce932294cf
* Version Indepen

[2021-01-19 23:47] Francisco-Gamino opened #69160 "Update Managed Dependencies section for PowerShell function apps--The Az module is no longer downloaded/installed by default"
Going forward, when a new PowerShell funciton app is created (via the Portal, Core Tools or VSCode Extension), managed dependencies will continues to be enabled in `host.json`. However, the `requirements.psd1` file will have the `Az` entry commented out by default. As a result, the `Az` module will not longer be downloaded/installed. However, if the user would like to enable downloading/installing

[2021-01-19 23:47] MicrosoftGuyJFlo commented on #59437
@andresm53 if this is still an issue please let me know. It sounds like you had a support case open for this. #please-close

[2021-01-19 23:47] #59437 closed

[2021-01-19 23:48] Francisco-Gamino commented on #69160
cc: @stefanushinardi @AnatoliB

[2021-01-19 23:56] jbaboval opened #69161 "This page doesn't answer the question"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b52a210-1be6-4e5f-d95c-8ea7b87919ca
* Version Independent ID: 02a43ebb-7471-d7ff-4f7e-84c9f7a66326
* Content: [Back up and recover accounts with the Microsoft Authenticator app - Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/user-help/user-help-auth-app

[2021-01-20 00:05] zhusulai opened #69162 "Compute Instances cannot be created if workspace is set to HBI"
It should be noted on this page that compute instances cannot be created if HBI flag is set on the workspace.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70b332b2-b671-a5e8-0db0-38aa1378dbaf
* Version Independent ID: 13cd812a-48e4-dd85-3cc8-a0b357a5a453
* Content: [Create and manage a compute instance - Azure Machin

[2021-01-20 00:23] NavtejSaini-MSFT commented on #68989
@Craigmeister68 Please let us know if you have any further questions regarding this issue.

[2021-01-20 00:31] NavtejSaini-MSFT commented on #69077
@piotrgwiazda We will be checking regarding this with our doc author.
@savjani Can you please check regarding this and provide your feedback.

[2021-01-20 00:34] NavtejSaini-MSFT commented on #69135
@13daysaweek We are assigning this to our doc author for further review.
@stevestein Please check the document if it can be enhanced with this information.

[2021-01-20 01:01] JamesTran-MSFT commented on #69161
@jbaboval
Thanks for your feedback! Would you be able to provide some more details of what this doc isn't answering? This way we can correctly route your issue and assist.

If you have any other questions, please let me know.
Thank you!

[2021-01-20 01:15] YutongTie-MSFT commented on #69162
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-20 01:29] cshea15 opened #69165 "Add more info"
I think we should add details on why Private and Public VMs that are failed over using ASR will still work without having to add another Session Host. Should add that because of the computer name and the agent is going to use the latest registration key that the machines, even though are failed over to another region, will still work in the original HostPool.
[Enter feedback here]

---
#### Docume

[2021-01-20 01:45] stefanushinardi commented on #69160
#assign: @stefanushinardi

[2021-01-20 01:52] KrishnaG-MSFT commented on #69140
@timothymeyers Thanks for your comment! We will review and provide an update as appropriate.
@anvar-ms - FYI

[2021-01-20 01:59] ruandersMSFT commented on #59979
"Unable to query Bastion Data" is being observed in our deployment.  We have the Bastion Hosts deploying in a Hub Subscription VNet, trying to access VMs in a Peered Spoke Subscription VNet.  Users already had Read access across the 3 documented resources (Bastion Host, VM and VM NIC).  "Unable to query Bastion Data" was resolved when we additionally granted Read access to the VNet that contains t

[2021-01-20 02:03] spelluru commented on #68091
@hansmbakker - Thanks for the feedback. I worked with our product team to update the article for the new SDK.

#please-close

[2021-01-20 02:03] #68091 closed

[2021-01-20 02:14] spelluru commented on #44367
@ddineen - Thanks for the feedback. We really apologize for taking so long to respond to you. We have taken this as an action item from our side and added a work item in our internal Azure DevOps. We will prioritize and work on it as soon as possible. Thanks.

#please-close

[2021-01-20 02:14] #44367 closed

[2021-01-20 02:34] ManuRiver commented on #69126
Hi cynth, thanks for your reply, but seems like you misunderstood my ask.

I am talking about the classes here referenced at CLI and other documents, there is not clear explanation of its use case scenarios or context, there is few where you can guess and interpret, but is not clearly defined:
https://docs.microsoft.com/en-us/cli/azure/ext/maintenance/maintenance/configuration?view=azure-cli-lates

[2021-01-20 02:35] SubhashVasarapu-MSFT commented on #69155
@johnayoub, Thanks for reaching out. We will investigate and update this thread.

[2021-01-20 02:36] TheLinuxGuy opened #69167 "Deploying a dual-stack IPv6/IPv4 Azure VM is unclear if impossible w/o load balancer"
It feels unclear if I can get away with deploying a single VM (Ubuntu) with dual-stack public IPv6/IPv4. Haven't found any information or explanations if Azure has constraints preventing IPv6 public onto a single VM.

Please clarify this or better provide an example deployment of a dual-stack single VM with public addresses.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2021-01-20 02:45] Grace-MacJones-MSFT commented on #69141
Hi @IanMercer ,  thanks for the feedback! We are currently investigating and will update the doc.

[2021-01-20 02:54] KalyanChanumolu-MSFT commented on #69149
@eljacobsen12 Authentication is performed directly against Azure AD.
You don't have to run the set up again when AD account password is updated.

[2021-01-20 03:12] spelluru commented on #41398
@videlalvaro - Apologize for the delay in getting back to you. I have started reviewing old GitHub issues for Service Bus and taking care of them as early as I can.

As per the first paragraph, all partitions could be on the same server. We could mention that difference between Event Hubs and the CAP Theorem in a note. Thanks.

[2021-01-20 03:15] spelluru commented on #10834
Updated this section:
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-sas#generate-a-shared-access-signature-token

#please-close

[2021-01-20 03:15] #10834 closed

[2021-01-20 03:16] spelluru commented on #56870
@jakub-klapka - Thanks very much for the feedback and we sincerely apologize for the delay in getting back. The section is updated now with some sample code:
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-sas#generate-a-shared-access-signature-token

#please-close

[2021-01-20 03:16] #56870 closed

[2021-01-20 03:29] BharathNimmala-MSFT commented on #68814
Thanks a lot @renatosalas for helping on this thread.

@omerzubair My sincere apologies for delay in getting back to this thread. Post discussion with the team internally on this, below is the update I can share.

To Answer your query around does the BYOD storage account need to have Blob Private endpoint? , so simple answer is It depends on the scenario you have.

•	If you have "restricted all in

[2021-01-20 03:29] #68814 closed

[2021-01-20 03:41] tomatsue opened #69168 "Box requires a specific claim"
Box expects `http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name` claim as [emailAttribute](https://support.box.com/hc/en-us/articles/360043696514) which is required in SAML SSO. The claim is mapped to user.userprincipalname by default. So users may need to change it to user.mail in the configuration.

It would be helpful if this is mentioned like [the doc for G Suite](https://docs.microsof

[2021-01-20 03:47] SwathiDhanwada-MSFT commented on #68846
@mgblythe Just checking with you, if you would like to add a note related to this as a troubleshooting step in Azure Docs.

[2021-01-20 03:56] AnuragSharma-MSFT commented on #68975
@alexgorb2016 Because of lack of response, we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-01-20 03:56] #68975 closed

[2021-01-20 03:57] AnuragSharma-MSFT commented on #68986
@hrkyemba We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-01-20 03:57] #68986 closed

[2021-01-20 04:09] omerzubair opened #69169 "The screenshots are out of date"
need to update the screen shots for example HttpTrigger

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c4cf342-0f52-5ebb-aeb2-a1ae5a2b6133
* Version Independent ID: 7c75fc5a-df94-4254-2d85-e1118f401fd7
* Content: [Create your first function in the Azure portal](https://docs.microsoft.com/en-us/azure/azure-functions/fu

[2021-01-20 04:12] AnuragSharma-MSFT commented on #69158
@vick-git Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-01-20 04:32] spelluru commented on #45782
This quick start was updated recently with links to samples on GitHub:
https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/servicebus/azure-servicebus/samples

#please-close

[2021-01-20 04:32] #45782 closed

[2021-01-20 04:38] VikasPullagura-MSFT commented on #69165
@cshea15
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-01-20 04:39] VikasPullagura-MSFT commented on #69165
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2021-01-20 04:41] ram-msft commented on #69037
Thanks, @PatrickFarley Could you please help with the doc for python example.

[2021-01-20 04:45] VikasPullagura-MSFT commented on #69142
@MashaMSFT Thanks for sharing the details.

[2021-01-20 04:51] #69049 closed

[2021-01-20 04:52] dalesayers opened #69170 "lvaEdge Module error - The API version '1.0' is not supported. Supported version(s): 2.0"
Performed a fresh deployment and for [LVA on IoT Edge](https://docs.microsoft.com/en-us/azure/iot-central/retail/tutorial-video-analytics-deploy) and not receiving metrics on IoT Central dashboard for virtual camera.  lvaEdge log shows following error:

<6> 2021-01-20 04:29:37.718 +00:00 Application: The module is now running.; Context: activityId=281fbf04-bf46-45cc-a7b3-edc487e75cba
<6> 2021-01-2

[2021-01-20 05:09] ChaitanyaNaykodi-MSFT commented on #68873
Hello @JTInfinite, I did not observe the same. I was able to follow these steps `subscriptions > {your subscription} > providers > Microsoft.Web > sites.` and click on "providers" link as shown below.

![image](https://user-images.githubusercontent.com/67453298/105129091-2c05b600-5a99-11eb-919c-dde5e4538526.png)

Azure Resource Explorer  (https://resources.azure.com/)

We will now proceed to close

[2021-01-20 05:09] #68873 closed

[2021-01-20 05:11] cmmdesai commented on #68723
Updated the configuration steps as shared by @dananairn. Thank you @dananairn for the feedback.
#please-close

[2021-01-20 05:11] #68723 closed

[2021-01-20 05:11] mpchen opened #69171 "custom recommendations?"
What are the mapping between policy/initiative and recommendations? If I create custom policy/initiative, is it possible for them to show up as custom recommendations?

Thanks.

[2021-01-20 05:14] cmmdesai commented on #63705
@MichaelAOliver sorry for the delay. We have now updated our docs to include the SOAP requests that we send to Workday. https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/workday-integration-reference
Thank you again for your feedback which helps us improve!
#please-close

[2021-01-20 05:14] #63705 closed

[2021-01-20 05:16] cmmdesai commented on #57724
@InformTechPro we have removed references to the link as it was not valid. For pre-requisites related to the provisioning agent, please refer to: https://docs.microsoft.com/en-us/azure/active-directory/cloud-provisioning/how-to-prerequisites.
Thank you again for your feedback which helps us improve!
#please-close

[2021-01-20 05:16] #57724 closed

[2021-01-20 05:21] cmmdesai commented on #31700
@JoelCBennett , @frobnitzz - sincere apologies that it took so long to respond to this issue. My bad that I missed it. I have updated the docs to call out that Event ID 5 represents Agent -> Azure AD communication for bootstrapping purposes. Since it happens every 10 minutes, we recommend filtering it out when analyzing the Event Log. Thank you again for your feedback, which helps us improve the d

[2021-01-20 05:21] #31700 closed

[2021-01-20 05:31] YutongTie-MSFT commented on #68997
@marciomocellin Thanks for the information, I have assigned this issue to the author for more investigation.

@gvashishtha Hello Gopal, could you please check on this issue? Thank you.

[2021-01-20 05:32] TomArcherMsft commented on #42422
This is duplicated in https://github.com/MicrosoftDocs/azure-docs/issues/45213. #please-close

[2021-01-20 05:32] #42422 closed

[2021-01-20 05:36] TomArcherMsft commented on #45213
I believe this is fixed with the code I submitted last year. #please-close

[2021-01-20 05:36] #45213 closed

[2021-01-20 05:43] PeteHaigh-MSFT commented on #68890
Thanks for getting back to me. BTW I am *sales* (Tech Strategist at Microsoft NZ) 😊

From: Elazar Krieger <notifications@github.com>
Sent: Tuesday, 19 January 2021 10:56 pm
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Peter Haigh <Peter.Haigh@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Sentinel traffic costs (#68890)

Hi, @PeteHa

[2021-01-20 05:57] AnuragSharma-MSFT commented on #68973
@Harshitjain188 Sorry for the trouble you are facing, but this issue mostly looks like either of connectivity issue or access related issue. Are you still facing the issue? If yes, please try connecting the databases with the SSMS once. Also try adding the firewall rules  to Azure SQL Database once.

[2021-01-20 06:06] amanjeetsingh opened #69172 "Clarification / more information - migration behaviour for subscriptions"
To extend on my previous [question](https://github.com/MicrosoftDocs/azure-docs/issues/68258).

1. When it comes to defining a change window for a set of customer subscriptions, does that mean that we target 48-72 hrs change window for each subscription migration to another tenant? Even though it should take a few mins there are scenarios where it may take 48-72 hours? So, best case scenario for s

[2021-01-20 06:19] psmanhas commented on #69033
@jhueppauff Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

Thanks

[2021-01-20 06:19] #69033 closed

[2021-01-20 06:39] ChaitanyaNaykodi-MSFT commented on #68870
Hello @rccnw, thank you for the feedback. I have made a PR to rectify the steps in the document. The change will be merged as soon as doc author approves them. Thank you!
We will now proceed to close this issue out, please tag me in your response if there are any additional concerns.

[2021-01-20 06:39] #68870 closed

[2021-01-20 06:39] HarithaMaddi-MSFT commented on #69102
@helizabethwhite - Thanks for the review. As suggested by author, raised [PR ](https://github.com/MicrosoftDocs/azure-docs-pr/pull/143708) in private repo and merged the changes. I will proceed with closing this issue now, please let us know for any further queries.

[2021-01-20 06:39] #69102 closed

[2021-01-20 06:48] EitanBlumin opened #69173 "Issue with SQL AG listener creation in a workgroup is not reflected in documentation"
The following page is supposed to explain how to configure a domain-independent SQL AG in a workgroup:

https://docs.microsoft.com/en-us/azure/azure-sql/virtual-machines/windows/availability-group-clusterless-workgroup-configure#configure-a-load-balancer

In the step for configuring the load balancer, it references this page:

https://docs.microsoft.com/en-us/azure/azure-sql/virtual-machines/windo

[2021-01-20 07:01] ThanhLongDoBK commented on #69100
thanks you! I have resolved this problem.

[2021-01-20 07:01] #69100 closed

[2021-01-20 07:04] #69098 closed

[2021-01-20 07:09] IanMercer opened #69174 "Inconsistent comparison makes it hard to see if connected/disconnected events are supported"
The comparison between A.  _IoT Hub message routing_ and B. _IoT Hub integration with Event Grid_ is inconsistent making it hard to figure out which features are supported.

In particular, are **connected/disconnected** events supported by _IoT Hub message routing_ or not? From the A/B comparison below it's hard to tell. They aren't "lifecycle" events, I don't think.

Device messages and events :

[2021-01-20 07:20] nduijvelshoff commented on #59437
@MicrosoftGuyJFlo the documentation is still not updated with the missing information. Please chase for an update internally instead of closing an unsolved issue.

[2021-01-20 07:25] MayankBargali-MSFT commented on #68904
@adriangalvarez You don't need to explicitly install the NuGet package for Microsoft.ApplicationInsights.AspNetCore when you are integrating AI with the function app. You need to only update the local.settings.json and adding [APPINSIGHTS_INSTRUMENTATIONKEY ](https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#appinsights_instrumentationkey) parameter and the value as AI

[2021-01-20 07:25] #68904 closed

[2021-01-20 07:31] AshokPeddakotla-MSFT commented on #69040
@anastasia-ms Thanks for fixing the doc..
@bitflame We hope that address your issue. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-20 07:31] #69040 closed

[2021-01-20 07:51] ArneSaether commented on #69142
NO, this does NOT say anything about the different functionality for each mode @MashaMSFT and @VikasPullagura-MSFT . Meaning what the different mode will actually GIVE you of functionality, so you need to re-open this case. The table you are referring to, is only showing impact the different installation/enabling will have on the SQL Server itself and cost.

I'm searching for information like;
Lig

[2021-01-20 07:52] psmanhas commented on #69173
@EitanBlumin Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-01-20 07:52] psmanhas commented on #69173
@MashaMSFT Can you please check and add your comments on this doc update request as applicable

[2021-01-20 08:10] vipulsparsh commented on #68960
@mwiedemeyer We are checking this internally will keep you posted.

[2021-01-20 08:10] Itsmexander opened #69176 "I cannot sign into my MS team on my PC because I had mistook disable it and my university can't do any hting about it either"
[Enter feedback here]
I can't sign in with my university account after I had disabled it by mistake and my university's admin can't do anything about it

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7afc666a-4a7f-5b12-e262-36e412b8f565
* Version Independent ID: 2aaa7597-390b-b8bf-21bb-b59e16354b66
* Content: [Manage y

[2021-01-20 08:22] vipulsparsh commented on #69084
@LijuV-MSFT This will work with cloud authenticated AAD users who support PHS and PTA.  You use this while logging to portal or apps, It does not support when you use the login to join a machine with AAD, and same goes with AAD registration.

[2021-01-20 08:23] vipulsparsh commented on #69087
@Michal-Ziemba  Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-01-20 08:26] SnehaAgrawal-MSFT commented on #69075
Thanks again for the feedback! If I am understanding you right you are looking for retrieving Site seal for App Service certificate.  If so you may refer to this document link:
https://docs.microsoft.com/en-us/rest/api/appservice/appservicecertificateorders/retrievesiteseal

Let us know if this helps or further query on this.

[2021-01-20 08:50] psmanhas commented on #69064
@asafsofer-sl Thank you for reaching out.

As mentioned in the same article:

`This document covers only how to lock down the traffic leaving the AKS subnet. AKS has no ingress requirements by default. Blocking internal subnet traffic using network security groups (NSGs) and firewalls is not supported. To control and block the traffic within the cluster, use Network Policies.`

So if you want to c

[2021-01-20 08:51] MayankBargali-MSFT commented on #69169
@omerzubair Thanks for the feedback! I have assigned the issue to the content author to update the document as appropriate.

[2021-01-20 09:07] vipulsparsh commented on #69092
@praveensoni5  I followed the same article, I was also getting the same thing you are getting.

1)I waited for 15 minutes, signed in again with the B2C tenant user who was the member of a security group I created.
2)After logging in, I selected the Directory as my tenant where my subscription is attached and not with the B2c tenant.
3)Once done, I now have option to Add diagnostic setting:

![imag

[2021-01-20 09:12] vipulsparsh commented on #69092
@praveensoni5 @praveensoni5  I followed the same article, I was also getting the same thing you are getting.

1)I waited for 15 minutes, signed in again with the B2C tenant user who was the member of a security group I created.
2)After logging in, I selected the Directory as my tenant where my subscription is attached and not with the B2c tenant.
3)Once done, I now have option to Add diagnostic se

[2021-01-20 09:16] shashishailaj commented on #69157
@deathcat05 Thank you for your query . We will investigate and update the thread.

[2021-01-20 09:22] shashishailaj commented on #69176
@Itsmexander Thank you for your query. We will investigate and update the thread.

[2021-01-20 09:25] shashishailaj commented on #69172
@amanjeetsingh Thank you for your query . We will investigate and update the thread.

[2021-01-20 09:28] shashishailaj commented on #69168
@tomatsue Thank you for your feedback . We will investigate and update the thread.

[2021-01-20 09:37] RohitMungi-MSFT commented on #69104
@JPalmerDev This change is now updated in the document.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-01-20 09:37] #69104 closed

[2021-01-20 09:43] magnus-longva-bouvet opened #69178 "It's not clear whether ACI supports on-premise container registries or not"
This issue concerns an ambiguity between two documentation pages.

https://docs.microsoft.com/en-us/azure/container-instances/container-instances-overview#fast-startup-times

https://docs.microsoft.com/en-us/azure/container-instances/container-instances-image-security#use-a-private-registry

It's stated explicitly that you _can't_ use on-premise container registries, but it's also hinted in the se

[2021-01-20 09:59] psmanhas commented on #68527
@eugen-nw Updating from SPN cluster to MSI cluster requires aks-preview extension. Could you please try to run command `az --version` and check the output in “Extensions”. If aks-preview is not installed, you can install it by running command `az extension add -n aks-preview`. Let me know about results.

Thanks

[2021-01-20 10:02] psmanhas commented on #68109
@mcurko Apologies for delay in response and all the inconvenience caused because of the issue.

Can you please provide detail around your environment you are running on? And the SF version?

Thanks

[2021-01-20 10:15] mcurko commented on #68109
I'm using the latest NuGet packages. The code doesn't compile, so it's not a matter of the environment, since I haven't gotten to the point where it might run.

[2021-01-20 10:17] AshokPeddakotla-MSFT commented on #69170
@dalesayers Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-01-20 10:18] savjani commented on #56534
@NavtejSaini-MSFT - I only feel we are going in circles here. It would be best to close this thread rather than deadlocked by waiting on each other

[2021-01-20 10:19] AshokPeddakotla-MSFT commented on #69174
@IanMercer Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-01-20 10:39] yahorsi opened #69179 "More details and samples are requered"
Hi Guys,

After reading the article it is still very hard to implement the solution. Article require samples for:
1. How to create AD users in the database, how should their login's looks like, what auth method should be used
2. After the token is acquired how we should connect to the database, how exactly token should be used

Ideally, some code samples on .NET....

---
#### Document Details

⚠ *

[2021-01-20 10:49] gix111 opened #69180 "Failing Container orchestration on the Microsoft Service Fabric"
Hello,

i tried to containerize a simple **Service Fabric Project** into a **Service Fabric Container Project**.

![2](https://user-images.githubusercontent.com/37616713/105158370-31e9ae80-5b0e-11eb-9709-a6b97393bc10.png)

I used the **Create your first Service Fabric container application on Windows** manual (https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/service-fabric/service-

[2021-01-20 10:54] gix111 commented on #69180
This issu is also in stacoverflow:
 https://stackoverflow.com/questions/65808021/failing-container-orchestration-on-the-microsoft-service-fabric

[2021-01-20 10:54] AshokPeddakotla-MSFT commented on #69170
Adding author @KishorIoT to provide an update incase if there is any change recently.

[2021-01-20 11:09] SwathiDhanwada-MSFT commented on #69171
@mpchen Yes you are right. As the Security Center policies are based on policy initiatives created in Azure Policy, you will be able to create custom initiatives and in turn you can receive recommendations.

For more information, kindly check below reference articles.

- [Managing Security Policies](https://docs.microsoft.com/en-us/azure/security-center/tutorial-security-policy)
- [Using custom se

[2021-01-20 11:09] #69171 closed

[2021-01-20 11:20] VikasPullagura-MSFT commented on #69178
@magnus-longva-bouvet
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-01-20 11:20] VikasPullagura-MSFT commented on #69178
@macolso
Can you please check and add your comments on this doc update request as applicable.

[2021-01-20 11:41] AnuragSharma-MSFT commented on #69179
@yahorsi Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-01-20 11:52] magnus-longva-bouvet opened #69181 "Which charges incur when running init containers?"
Suppose I have 10 init containers which run in succession, and each container runs for 3600 seconds. Will I be charged for a total of 10*3600 = 36,000 seconds, or more than that? I.e., will charges incur for init containers in "standby", waiting for their turn to execute?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-01-20 12:15] AnuragSharma-MSFT commented on #69113
@jaszymas @VanMSFT Thanks for providing the details.

@ydhondt Please let us know if you need more information.

[2021-01-20 12:17] tshaiman opened #69182 "Windows VM"
[Enter feedback here]
The tutorial describes the steps needed to perform in order to connect to Cosmos Db, but few question arise for it  :
- is it limited only to Windows VM ? if so - why ? our code runs dotnet core on linux machines with AzureCLI and Azure Power Shell Core , I don't think only Windows users will want to connect to Cosmos.
- Its not clear if/when the Cosmos team will enable a "na

[2021-01-20 12:32] payalgaikwad42 commented on #68336
@asergaz  Hi, The I am encountering a issue again with Java v8 sdk to upload blob to local blob storage. I want to upload log files to local blob storage module but empty files are getting uploaded. Here is the chunk of code which I am using:

blobClient = storageAccount.createCloudBlobClient();
container = blobClient.getContainerReference("quickstartcontainer");
System.out.println("Creating conta

[2021-01-20 12:45] k3rst1n commented on #68901
No, thanks for clarifying!

[2021-01-20 12:45] #68901 closed

[2021-01-20 12:46] mmajcica commented on #69067
It works as expected. My apologies, I had an issue in my ARM template that made me think this was the issue.

[2021-01-20 12:46] #69067 closed

[2021-01-20 12:48] payalgaikwad42 commented on #68336
[blobstorage.logs.txt](https://github.com/MicrosoftDocs/azure-docs/files/5842465/blobstorage.logs.txt)

[2021-01-20 12:53] lrandall-gillsch opened #69183 "What Microsoft 365 service URLs support the '?whr=yourdomainname'?"
Hi,

In the last section "Add your custom branding to pages", you give two examples of pages that support custom branding on the page and sign in page, what are the other URLs that support this, also are there any others that are similar to Outlook.com, e.g. https://outlook.com/contoso.com to bring up a branded sign in page?

Many thanks,

Luke
---
#### Document details

⚠ *Do not edit this sectio

[2021-01-20 12:57] vipulsparsh commented on #69157
@deathcat05 Client_credential is still not supported directly with B2c as all endpoints for B2C are user specific. However you now have an option now to register the app on Azure AD App registration. (Kind of workaround)

You can read more here : https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/18529918-aadb2c-support-oauth-2-0-client-credential-flow

[2021-01-20 13:04] shashishailaj commented on #69159
@sarah026 Thank you for your query. We will investigate and update the thread .

[2021-01-20 13:06] oleksandr-bilyk opened #69184 "7z compression works but PowerShell Compress-Archive doesn't"
We develop C# Azure Function and C# Web Site on App Service.
We build project, sign binaries and then compress to deploy. 7z compression to zip deploys both function and website and works properly. PowerShell Compress-Archive compressed files deployment doesn't fail but doesn't work.

7z a "<file-name>.zip" "<source>/*"
Compress-Archive -Path * -DestinationPath <file-name>.zip

Please contact me b

[2021-01-20 13:08] bitflame commented on #69040
Thank you for looking into it.

[2021-01-20 13:09] shashishailaj commented on #69167
@TheLinuxGuy Thank you for your query . We will engage with the content author and have this reviewed .

[2021-01-20 13:10] greschd opened #69185 "Partition keys moved from mlx5_0 to mlx5_1"
On HB120rs_v2 nodes, it appears the partition keys mentioned in the "discover partition keys" section have moved from `/sys/class/infiniband/mlx5_0/ports/1/pkeys` to `/sys/class/infiniband/mlx5_1/ports/1/pkeys`. I'm not sure if this is true for all regions / nodes types / etc., but it should probably be mentioned that they could also be located in the `mlx5_1` directory.

Note that pkey `0` is pre

[2021-01-20 13:20] AjayKumar-MSFT commented on #69184
@oleksandr-bilyk,  Thanks for sharing your feedback! I have followed-up with you on this.

[2021-01-20 13:48] SubhashVasarapu-MSFT commented on #69167
@TheLinuxGuy, as of now this might not be possible dual stack deployment on VM without standard load balancer. Here is a similar ask in the [feedback forum](https://feedback.azure.com/forums/217313-networking/suggestions/33989284-static-ipv6-to-vm-without-load-balancer). We will assign this to the respective content author for updating the document if necessary.

[2021-01-20 14:00] scarabetta opened #69186 "publisherDomain attribute is read only and different from the documentation"
The "publisherDomain attribute" item is read only, cannot be modified. Also, the manifest shows the B2C tenant domain ({tenant}.onmicrosoft.com) while the documentation example suggest the app domain like "https:/mydomain.com", which is very confusing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f7ced07-0b71-715f-74

[2021-01-20 14:14] K-a-r-l commented on #51400
If it helps anyone else: I had this same issue and after speaking with a Microsoft support member was given this resolution:

Certificates generated through the cert MMC or PowerShell will not work directly. To get them to work use openssl to convert them to a pem, then back to a pfx, like this:

openssl pkcs12 -in mycert.pfx -out mycert.pem
openssl pkcs12 -in mycert.pem -export -out mycert2.pfx

[2021-01-20 14:18] oleksandr-bilyk commented on #69184
It was my mistake in Powershell ussage. I'm sorry. We waisted 5 days, posted this issue and finally understood that it was our bad. Thank you. Have a nice day.

[2021-01-20 14:18] #69184 closed

[2021-01-20 14:24] LijuV-MSFT commented on #69084
@vipulsparsh
I feel the first part is clear - this feature works for authN to Azure AD for PHS and PTA scenarios.
As for the second, what I understand is this - You cannot use this feature while joining or registering a machine to Azure AD.
But what about these scenarios?
- Interactive logon to an AAD-joined machine using email as alternate login id.
- Interactive logon to an AAD-registered machin

[2021-01-20 14:27] MonikaReddy-MSFT commented on #69181
@magnus-longva-bouvet -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-01-20 14:30] arijitdas opened #69188 "Wrong ARM template samples!"
Both of the samples are wrong. It shows 'ipSecurityRestrictions' directly under 'properties' attribute. Strange that the invalid payload is accepted by ARM deployment and it silently ignores the IP based restrictions!

The correct syntax should be: properties > siteConfig > ipSecurityRestrictions

Ref:  https://docs.microsoft.com/en-us/azure/templates/microsoft.web/2020-06-01/sites

[code]

[code]

[2021-01-20 14:38] hrkyemba commented on #68986
The topic is on performing disaster recovery drills, and specifically talks about geo-replicated databases. So I think it is wrong for the doc to tell the user to rename their database, when that is not allowed for geo-replicated databases. You should add a caveat that you can only rename a database that is not geo-replicated.
Also, the main doc on renaming a DB(https://docs.microsoft.com/en-us/sq

[2021-01-20 14:39] jbaboval commented on #69161
Wow, somebody read this.

The question was "how do you transfer accounts without an iCloud account"?

The answer, apparently, is "you can't".

[2021-01-20 14:39] #69161 closed

[2021-01-20 14:39] bengimblett opened #69189 "Clarity required re usage of the role (differs between portal and CLI/PS1)"
if you want to use the custom role described in this document, via the Az portal e.g. it is a user assignment and the user expect to effect a change via the Az Portal UI, then you do need to add an additional scope , at a minimum the user must be assigned reader for the APIM service/resource - before they'd be able to use the custom role via the Az portal. This appears to be simply because that is

[2021-01-20 14:48] darioairoldi opened #69190 "Unclear statement about ,Net Core support for IWA with MSAL"
this sentence is not very clear about ,Net Core support for IWA:

The IWA flow is enabled for .NET desktop, **.NET Core**, and Windows Universal Platform apps. On **.NET Core** you must provide the username to IWA, because **.NET Core can't obtain usernames** from the operating system.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2021-01-20 14:50] zhusulai opened #69191 "High Business Impact - Workspace or Subscription"
I get the below error message when I try to provision a compute instance in my workspace. HBI for my workspace is set to false. The documentation says HBI is a property of a workspace. However, the error message seems to indicate it has an impact on the entire subscription. Can we get some more details on what happens when you set HBI to true and whether it will impact other workspaces in the same

[2021-01-20 14:55] GitaraniSharma-MSFT commented on #69017
@yinoa , I believe you are referring to Virtual WAN VPN gateway as described in below article:
https://docs.microsoft.com/en-gb/azure/virtual-wan/virtual-wan-about#what-is-the-total-vpn-throughput-of-a-vpn-tunnel-and-a-connection

And not normal Azure VPN gateway since normal Azure VPN gateway has different throughput based on different SKUs. However Virtual WAN VPN gateway operates on scale units

[2021-01-20 14:58] K-a-r-l opened #69192 "Client Certificate authentication - Add note about issues with certificates generate in cert mmc/PowerShell"
In the Client Certificate authentication section, can you please add a note that when using certificates, if you receive the error "Could not load the certificate private key. Please check the authentication certificate password is correct and try again." you may need to perform some additional steps.

I had this issue, and after logging a ticket (121011824004546) with Microsoft support, was told

[2021-01-20 15:06] vipulsparsh commented on #68960
@mwiedemeyer

Make sure you copy the object ID of service principal from Enterprise Applications page and not from App registration
![image](https://user-images.githubusercontent.com/63580915/105193976-25da0d00-5b5f-11eb-8b73-b02fe0b3b744.png)

Use the following Graph API to fetch the different published AAD Directory roles in the tenant and copy the templateID from the output:

GET https://graph.

[2021-01-20 15:17] mwiedemeyer commented on #68960
Thanks. However, the portal UI does also not show any results even for the object id from "Enterprise Apps"
You should mention this in the docs, that it is assignable only with the graph api.

[2021-01-20 15:19] KalyanChanumolu-MSFT commented on #69078
We will proceed to close this issue now.
If there are further questions regarding this matter, please reach out to us on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/dotnet-aspnetcore-blazor.html).

[2021-01-20 15:19] #69078 closed

[2021-01-20 15:19] KalyanChanumolu-MSFT commented on #69112
@keen85 We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-01-20 15:19] #69112 closed

[2021-01-20 15:20] zhusulai commented on #69162
Just to provide some more details: when I try to provision a compute instance in a workspace that has HBI set to true, I get the following error message. Also, the error message seems to indicate the HBI flag has an effect on the entire subscription. Some clarification on the exact impact of setting HBI to true is appreciated.

[code]

[2021-01-20 15:23] clemmayer commented on #69009
What about this part that does relate to this article?

_It also seems to reference permissions that no longer exist

AuditLogs.Read.All vs AuditLog.Read.All (current)
Organisation.Read.All vs Organization.Read.All (current)_

[2021-01-20 15:27] vipulsparsh commented on #69084
@LijuV-MSFT  last option is supported.  Signing on to modern applications (O365 client for example) and browser-based applications (Azure AD portal, for example) using email as alternate login id.

[2021-01-20 15:39] BharathNimmala-MSFT commented on #68849
@andy-clapham Please note that [this ](https://github.com/MicrosoftDocs/azure-docs/issues)channel (the Azure Docs repository) is only for driving improvements related to the Azure documentation. Since we have not heard back from you on specific feedback regarding the documentation we will now proceed to close this thread. If there are further specific feedback on the documentation , please tag us

[2021-01-20 15:39] #68849 closed

[2021-01-20 15:44] ram-msft commented on #69037
@agribot2 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-20 15:44] #69037 closed

[2021-01-20 15:47] Grace-MacJones-MSFT commented on #69182
Thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2021-01-20 15:49] Grace-MacJones-MSFT commented on #69183
Hi @lrandall-gillsch, thanks for the Comment. We are actively investigating and will get back to you soon.

[2021-01-20 15:51] briannoyes commented on #69028
Hmm, didn't seem to have done it for me, but I could have had something else out of whack. Thanks for the clarification.

[2021-01-20 15:51] #69028 closed

[2021-01-20 15:51] Grace-MacJones-MSFT commented on #69186
thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-01-20 15:52] Grace-MacJones-MSFT commented on #69191
Thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2021-01-20 15:54] Grace-MacJones-MSFT commented on #69192
Hi @K-a-r-l , thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update the doc as appropriate

[2021-01-20 15:56] Grace-MacJones-MSFT commented on #69188
Hi @arijitdas, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-01-20 15:58] BharathNimmala-MSFT commented on #68857
@alinuxguru70 Apologies for delay in getting back to you on this thread. Thanks again for your feedback, I have raised a PR to include the RHEL 8 support as well. Once its reviewed and approved , it will merge with the live document.

At this point it appears that there's no further edits or updates needed to the documentation, other than what is listed above. We will go ahead and close this issue

[2021-01-20 15:58] #68857 closed

[2021-01-20 16:06] AspenForester commented on #41325
Yeah, I just deployed another batch of hybrid workers, and was disappointed that a) this hasn't been updated, and b) this script isn't maintained in the azureautomation/runbooks github repo.  The script is currently available as a stand-alone script from PowerShellGallery, why not add it to the repo, and get it updated?

[2021-01-20 16:14] BharathNimmala-MSFT commented on #68865
@Plus3IT-Azure My sincere apologies for delay in getting back to this thread. Regarding your query, if the data getting ingested to Application Insights or Log Analytics, you should be able to create a '+ New Alert Rule' if you can write a query.

Please see [this ](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-log#create-a-log-alert-rule-with-the-azure-portal) documentation

[2021-01-20 16:14] #68865 closed

[2021-01-20 16:16] JamesTran-MSFT commented on #69190
@darioairoldi
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2021-01-20 16:20] mikebergin opened #69193 "Register, not create"
After you enter the URI, you hit REGISTER, not CREATE
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f1c454d-73bc-5a73-5d3f-1b1ca7625044
* Version Independent ID: 552b3f09-6650-e7f7-01f2-a702005b83e9
* Content: [Configure Azure AD authentication - Azure App Service](https://docs.microsoft.com/en-

[2021-01-20 16:22] macolso commented on #69181
Hi @magnus-longva-bouvet, you will be charged for the container group's entire resource request for the duration of the container group's lifespan. Individual init containers do not have resource requests, but rather consume resources from the container group (which must be composed of at least 1 standard container).

For example, here is a container group composed of 3 containers with a resource