[2021-07-21 17:23] LeoMarks7 opened #78664 "BIOS UUID troubleshooting not showing in document"
I receveid problems in discover for physical servers, the BIOS UUID not showing in the appliance discover.
The error page shows this document and guide to execute some commands, but for Windows this commands not exists in document.

I received this via Support Engineer, the Microsoft can add this commands bellow for search BIOS UUID in this document:
[CmdletBinding()]
Param(
  [Parameter(Mandatory

[2021-07-21 17:34] Karishma-Tiwari-MSFT commented on #78632
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-21 17:36] JamesTran-MSFT commented on #78663
@pierrejeandev
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-21 17:40] ohadschn opened #78665 "Document "agentpool" node label"
It appears that [AKS nodes automatically include a label that identifies the node pool to which they belong](https://stackoverflow.com/a/56371867/67824):
`agentpool=pool_name`

This seems to be an extremely useful fact, but I couldn't find it documented anywhere in the MS docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-07-21 17:42] tigormanmsft opened #78666 "Section "High availability and disaster recovery options" incorrect on 2 out of 3 bullet-items"
The section is located [HERE](https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/oracle/oracle-overview#high-availability-and-disaster-recovery-options), and currently consists of three bulleted items as follows...

[code]

The second bullet item about using Azure Site Recovery is misleading, because while ASR can indeed be configured on a VM running Oracle database, ASR is also lim

[2021-07-21 17:42] irenehua commented on #76703
The public documentation is not designed to include all possible error codes. Is the error text shown when you encountered the error not clear enough? For example, is it confusing or lacking action items? In that case, we can definitely discuss how to improve the error text.

Thanks,
Irene

[2021-07-21 17:42] irenehua commented on #76702
The public documentation is not designed to include all possible error codes. Is the error text shown when you encountered the error not clear enough? For example, is it confusing or lacking action items? In that case, we can definitely discuss how to improve the error text.

Thanks,
Irene

[2021-07-21 17:46] irenehua commented on #76700
@asudbring could you help update the screenshot?

[2021-07-21 17:46] lAnubisl commented on #63810
Hello @mike-urnun-msft
There is no answer to the question in your reply.
according to https://docs.microsoft.com/en-us/powershell/module/az.apimanagement/set-azapimanagementapirevision?view=azps-6.2.1 there should be an InputObject which is required.
This object is type of https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.commands.apimanagement.servicemanagement.models.psapimanagementapi

[2021-07-21 17:50] l3ender commented on #49147
We are seeing the same issue. Is there a workaround?

[2021-07-21 17:50] sanjay3290 opened #78668 "onprem azure devops support"
Is this task available in marketplace to use with onprem tfs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63230b97-2269-3fed-7fca-882bb380c5f6
* Version Independent ID: feb2708e-5cea-4ad8-eaaa-f3061e18c11a
* Content: [Tutorial: Publish Azure Static Web Apps with Azure DevOps](https://docs.microsoft.com/en-us/azure/s

[2021-07-21 17:51] b-juche commented on #78657
Issue resolved through clarification by technical owner.

#please-close

[2021-07-21 17:51] #78657 closed

[2021-07-21 17:51] duongau commented on #76365
@david-frazee I have added Republic of the Congo (CG) to the list. It should reflect in the live documentation later today. Thanks!

#please-close

[2021-07-21 17:51] #76365 closed

[2021-07-21 17:56] asudbring commented on #76700
@irenehua Yep, I have this in the pipeline when the portal changes are published for all.

[2021-07-21 18:02] KumudD commented on #53044
@aquibqureshi26 Thanks for raising the question to help us improve our documentation. We are closing this PR for now, but feel free to comment here if you have more questions.
#please-close

[2021-07-21 18:02] #53044 closed

[2021-07-21 18:03] LeoMarks7 opened #78669 "BIOS UUID troubleshooting not showing in document"
I receveid problems in discover for physical servers, the BIOS UUID not showing in the appliance discover.
The error page shows this document and guide to execute some commands, but for Windows this commands not exists in document.

I received this via Support Engineer, the Microsoft can add this commands bellow for search BIOS UUID in this document:
[CmdletBinding()]
Param(
[Parameter(Mandatory=$

[2021-07-21 18:05] #78669 closed

[2021-07-21 18:07] #77858 closed

[2021-07-21 18:21] ckarrasalithya opened #78670 "Automate deployment of a Stream Analytics job to IoT Edge"
I'm using the procedure on https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-deploy-stream-analytics?view=iotedge-2020-11&toc=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fstream-analytics%2Ftoc.json%3Fview%3Diotedge-2020-11&bc=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fbread%2Ftoc.json%3Fview%3Diotedge-2020-11 to deploy a Stream Analytics job on an IoT Edge device. Every time

[2021-07-21 18:21] r-milne opened #78671 "Note on JAMF"
Page states that only JAMF is  a supported 3rd party MDM.    In the section to require device to be marked as compliant.

Is that still the case ?
https://docs.microsoft.com/en-us/mem/intune/protect/device-compliance-partners

Cheers,
Rhoderick

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd934939-4dbb-3a92-f996-56b9

[2021-07-21 18:50] jasongroce commented on #76041
#please-close

[2021-07-21 18:50] #76041 closed

[2021-07-21 18:51] Mike-Crowley opened #78672 "this release DOES contain new functionality"
this article says "this release does not contain any new functionality", but there is a lot of new functionality listed here: https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-version-history#2030

one example:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c1e2969-8162-7cad-99b7-803ba08

[2021-07-21 19:31] Karishma-Tiwari-MSFT commented on #78415
Thanks for the feedback! I reproduced it and found that the document is missing import instructions.
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-21 19:45] MarileeTurscak-MSFT commented on #78672
@Mike-Crowley
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-21 19:46] Karishma-Tiwari-MSFT commented on #78281
Here are few links on the similar issue:
https://support.oracle.com/knowledge/Oracle%20Database%20Products/1628949_1.html
https://asktom.oracle.com/pls/apex/f?p=100:11:0::::P11_QUESTION_ID:9536677900346193239
https://stackoverflow.com/questions/21026205/tnsconnect-shows-operation-timeout

Please go through these and let me know if you are still seeing this issue.

[2021-07-21 19:47] JamesTran-MSFT commented on #78661
@RonnieQuan
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-21 19:48] JamesTran-MSFT commented on #78671
@r-milne
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-21 20:01] MarileeTurscak-MSFT commented on #78672
Thanks! I made a pull request to add a reference to the release notes: https://github.com/MicrosoftDocs/azure-docs-pr/pull/166437

@billmath please review and add details as needed.

[2021-07-21 20:01] #78672 closed

[2021-07-21 20:02] JamesTran-MSFT commented on #78589
@jd1984
Thank you for the quick follow up on this!

I was able to reproduce your issue within my lab, and it looks like this might be a limitation/bug with the [role-assignable groups preview feature](https://docs.microsoft.com/en-us/azure/active-directory/roles/groups-concept). I've reached out to our engineering team so they can be aware of this issue.

**Directly assigning the User Admin role t

[2021-07-21 20:02] #78589 closed

[2021-07-21 20:25] James-Hamil-MSFT commented on #78641
Hi @jukkaleh , are you asking how this can be accomplished or would you like us to update the document with more information? Please let me know and I can assist you further.

Best,
James

[2021-07-21 20:28] JamesTran-MSFT commented on #78640
@hadr10
Thank you for you question!

Since this doesn't have to do with improving our documentation, I'd recommend asking this question on our [Q&A](https://docs.microsoft.com/en-us/answers/products/) forum or within the [CyberArk Commons Community](https://discuss.cyberarkcommons.org/latest) forum.

Thank you for your time and patience throughout this issue.

[2021-07-21 20:28] #78640 closed

[2021-07-21 20:31] oscarmandley opened #78673 "404 link at EOF"
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7c93e65-86c1-fd8b-a888-c57d3b26e2bd
* Version Independent ID: 3f31fd84-7dba-2444-2344-ec70113ba694
* Content: [Use Azure Databricks for sentiment analysis](https://docs.microsoft.com/en-gb/azure/databricks/scenarios/databricks-sentiment-analysis-cogn

[2021-07-21 20:32] JamesTran-MSFT commented on #78658
@pmoprhy
When it comes to the [certificate prompt](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/concept-conditional-access-conditions#why-do-i-see-a-certificate-prompt-in-the-browser), it looks like this should only be happening when a user first signs in through the browser.

- Is this occurring after the first sign-in?
- Is the user signing out after each session?
-

[2021-07-21 20:33] mikben commented on #75328
Thanks for submitting this issue - we've updated the docs to reflect @LoadLibrary's guidance above. #please-close

[2021-07-21 20:33] #75328 closed

[2021-07-21 20:34] leandmilo commented on #75273
Guys, any comments about this? Thank you

[2021-07-21 20:53] JamesTran-MSFT commented on #78659
@dalewkim
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-07-21 20:53] #78659 closed

[2021-07-21 21:03] James-Hamil-MSFT commented on #77772
Hi @mrochon , sorry for the delay. The paragraph is correct. userType will say Guest and not Invited. However, creationType will always show invited. You can change the userType from Guest to Member using the GraphAPI if you'd like.

I was looking at this thread and it details some of these differences: https://stackoverflow.com/questions/47143711/how-to-identify-different-kinds-of-users-in-azure-

[2021-07-21 21:04] SaurabhSharma-MSFT commented on #78597
@AwdotiaRomanowna The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

Thanks
Saurabh

[2021-07-21 21:04] #78597 closed

[2021-07-21 21:06] JamesTran-MSFT commented on #78663
@pierrejeandev
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-07-21 21:06] #78663 closed

[2021-07-21 21:08] JamesTran-MSFT commented on #78671
@r-milne
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

![image](https://user-images.githubusercontent.com/36619112/126560326-30746bfc-7456-4f8a-8e91-366bce74dcfd.png)

[2021-07-21 21:18] James-Hamil-MSFT commented on #78661
Hi @RonnieQuan , These is a list of all our billing roles: https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/understand-mca-roles

For your ask I think the best thing you can do is make a custom role: https://docs.microsoft.com/en-us/azure/role-based-access-control/custom-roles

This way you can customize what the user has permissions to while letting them deal have access to b

[2021-07-21 21:22] aspnet4you opened #78674 "Policy behavior difference between Edge and Chrome with filters for devices"
I am trying to use Filters for devices (Preview) and experiencing different behavior from Edge and Chrome. What I wanted to do is, allow a user to connect to SharePoint site based on Authentication Context if the user comes from specific set of devices. They the user comes from any other devices, they will be denied.

So, I created two CA policies with filters for devices (preview).
1) Block if de

[2021-07-21 21:27] erni19 opened #78675 "No"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea77d5a9-6619-0f31-9567-6085b7a4b5a2
* Version Independent ID: f4cf720d-60dd-f086-3ace-1ff17e427757
* Content: [Delete an Azure AD organization (tenant) - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users

[2021-07-21 21:28] erni19 commented on #78675
No 'Delete Directory' tab only 'Manage Tenant' . How can we delete the directory specifically the Teams free org. It didn't use to be this way. The dashboard changed.

[2021-07-21 21:30] mrochon commented on #77772
It's not correct. I can set a managed user's type to Guest and so for that user saying they are a B2B collaboration user would not be true. Likewise, I can set the member type to Member for an invited user and based on the statement above would then not know that the user is a b2B user. The statement should say 'An Azure AD business-to-business (B2B) collaboration user is a user with **creationTyp

[2021-07-21 21:39] GiftA-MSFT commented on #78611
@vaidya-s I tried above steps and observed same issue as above feedback. Can you please review and updates steps accordingly? Thanks.

[2021-07-21 21:40] James-Hamil-MSFT commented on #77772
Interesting. I'll look into it some more and assign the author so we can fix the documentation! Thanks for bringing this to our attention.

[2021-07-21 21:40] Karishma-Tiwari-MSFT commented on #78635
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-21 21:40] MarileeTurscak-MSFT commented on #78675
@erni19
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-21 21:43] Karishma-Tiwari-MSFT commented on #78637
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-21 21:51] erni19 commented on #78675
Thanks

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Marilee Turscak - MSFT ***@***.***>
Sent: Thursday, July 22, 2021 5:41:02 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: erni19 ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] No (#78675)

@erni19<https://github.com/erni19>
Thanks for your feedback! We will investigate and u

[2021-07-21 21:56] aminsaied opened #78677 "Indentation bug"
There are indentation errors in the code snippets. This means when you copy/paste you need to adjust the spaces afterwards. Right now there are mixed 3/4 space examples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23f9d033-9007-7b0a-d651-88d5d3846b2a
* Version Independent ID: c6efa8cc-8594-698b-21eb-5e4d9ad24bbd
* C

[2021-07-21 21:57] Karishma-Tiwari-MSFT commented on #78639
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-21 22:00] YutongTie-MSFT commented on #78677
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-21 22:01] normesta commented on #76929
Thanks for raising @maku0119 . We've removed the regional availability info from this article as it's redundant to the information presented in this article - [https://docs.microsoft.com/en-us/azure/storage/common/storage-redundancy#zone-redundant-storage](https://docs.microsoft.com/en-us/azure/storage/common/storage-redundancy#zone-redundant-storage). That article should reflect accurate regional

[2021-07-21 22:01] #76929 closed

[2021-07-21 22:15] devopsleigh opened #78678 "Failure in Azure Automanage Account permissions ARM"
ARM deployment of permissions fails with error:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77142b63-bcf5-89d1-c1d4-253e4f738a0f
* Version Independent ID: 4472f32e-dced-8e16-66cc-51b9cfc09b2a
* Content: [Azure Automanage Account](https://docs.microsoft.com/en-us/azure/automanage/automanage-account)
* Content

[2021-07-21 22:23] fgheysels commented on #78596
I'm using a standard IoT Hub.
Have you tested this with a 'regular' device or with an IoT edge device ?

I'm having the same behavior as the one that is explained here:
https://sandervandevelde.wordpress.com/2021/05/10/message-enrichment-for-azure-iot-edge-modules/

[2021-07-21 22:27] leaht17 commented on #78660
It looks like the correct link is probably [https://docs.microsoft.com/en-us/azure/developer/python/tutorial-python-postgresql-app-portal?pivots=postgres-single-server](https://docs.microsoft.com/en-us/azure/developer/python/tutorial-python-postgresql-app-portal?pivots=postgres-single-server). It links back to the CLI tutorial I started from.

[2021-07-21 22:35] timtong1982 opened #78679 "Microsoft.Azure.AppConfiguration.AspNetCore doesn't support dotnet core 5.0"
[Enter feedback here]
Microsoft.Azure.AppConfiguration.AspNetCore doesn't support dotnet core 5.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2984100d-7d78-2115-40f4-4b9478a5a5bc
* Version Independent ID: 24ac6adc-6779-b847-ce81-c9d36e4b067b
* Content: [Quickstart for Azure App Configuration with ASP.NET Core](https

[2021-07-21 22:36] rolyon commented on #71287
Hi @smedin4
Thanks for your feedback. I've sent a message to the team to see if we can make some doc updates.
thanks

[2021-07-21 22:36] rolyon commented on #71287
#please-close

[2021-07-21 22:36] #71287 closed

[2021-07-21 22:46] IndifferentDisdain opened #78680 "Browser title has typo"
The value for the `title` key in `head` has a typo.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7f0abb5-40bf-b46b-0887-918814f0d233
* Version Independent ID: d48959f4-372e-821b-842b-bcfeaa6c9f2c
* Content: [Pull settingsfromo App Configuration with Azure Pipelines](https://docs.microsoft.com/en-us/azure/azure-app-c

[2021-07-21 23:04] normesta commented on #78212
Ok. I've noted the limitation in the getting started doc near the list of commands. Thank you!

#please-close

[2021-07-21 23:04] #78212 closed

[2021-07-21 23:05] Karishma-Tiwari-MSFT commented on #78648
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-21 23:05] normesta commented on #77427
Thanks @oulman! Yes the doc was out of date. It's been updated with examples. Thanks for letting us know!

#please-close

[2021-07-21 23:05] #77427 closed

[2021-07-21 23:07] JamesTran-MSFT commented on #78674
@aspnet4you
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-21 23:09] Karishma-Tiwari-MSFT commented on #78665
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-21 23:15] Karishma-Tiwari-MSFT commented on #78666
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-21 23:17] normesta commented on #77172
Thanks @boumenot - including @santoshc1 to confirm the change. Santosh can you please confirm one IP address per service (not IP address per account)? thx!

[2021-07-21 23:31] normesta commented on #76550
Thanks for pointing this out @Arithmomaniac . Closing issue as this is related to a different article. I've started a thread with you directly and included the right folks. Thx again.

#please-close

[2021-07-21 23:31] #76550 closed

[2021-07-21 23:38] ermacia91 commented on #78557
@JamesTran-MSFT the point was to address this section:

As you can see, it states to select the users you want to download, which is not the correct statement. The correct statement is: "Navigate to Azure Active Directory > Users.  Then select the filters for which you want to select the users."

[2021-07-21 23:40] normesta commented on #74180
Hi @maulik-modi - Static websites hosted in Azure Storage do not support CORS. Here's a link to a related issue where a similar question was raised.  Quote from other response: " The statement about CORS support refers to the ability to list domains that can access resources in your storage account. That capability is documented here - [Cross-Origin Resource Sharing (CORS) support for Azure Storag

[2021-07-21 23:40] #74180 closed

[2021-07-21 23:54] BharathNimmala-MSFT commented on #78373
@scseely My sincere apologies for delay in getting back to this thread.

Thanks again for bringing this to our notice and helping us improve our Azure documentation. I have raised a PR to incorporate the feedback shared. Once the PR is reviewed and approved , changes would go live.

At this point it appears that there's no further edits or updates needed to the documentation, other than what has b

[2021-07-21 23:54] #78373 closed

[2021-07-21 23:58] femsulu commented on #78637
Redirecting to Stream analytics SME for further review.
@MartinJaffer-MSFT  - Kindly take a look and ping me if you have any questions,.

[2021-07-22 00:29] BharathNimmala-MSFT commented on #78482
@jrmoulckers Apologies for any confusion the note might have been caused. I see that the note have already been [updated](https://docs.microsoft.com/en-us/azure/azure-monitor/agents/data-collection-rule-azure-monitor-agent#create-rule-and-association-in-azure-portal) with below information

"Creating a data collection rule using the portal also enables System-Assigned managed identity on the targe

[2021-07-22 00:29] #78482 closed

[2021-07-22 00:56] SaurabhSharma-MSFT commented on #78598
@arunkumarthiags Can you please help here.

[2021-07-22 00:57] Karishma-Tiwari-MSFT commented on #78642
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-22 00:58] Karishma-Tiwari-MSFT commented on #78678
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-22 00:58] abatishchev commented on #76703
See also: #68694

[2021-07-22 01:06] mmacy commented on #78338
@pitawatn Yes, we absolutely need an ASP.NET Core web app tutorial here on docs.microsoft.com. As @jmprieur says, we're starting work now on new  multi-part tutorial series, and an ASP.NET Core web app will be one of the first sets that we do.

Closing this issue as we are tracking this internally in this Azure DevOps work item:

ID | Tags | Title
-- | -- | --
[1476595](https://identitydivision.vi

[2021-07-22 01:06] #78338 closed

[2021-07-22 01:51] gary918 commented on #78332
Got it. Thank for your reply @MartinJaffer-MSFT !

[2021-07-22 01:51] kobulloc-MSFT commented on #78680
@IndifferentDisdain Thank you for bringing this to our attention!  I'm probably looking at the wrong place but I don't see the typo.  Where exactly are you seeing this?

[2021-07-22 01:56] kobulloc-MSFT commented on #78679
@timtong1982 Thank you very much for your feedback.  I've assigned this to the document author for review.

[2021-07-22 02:38] ANKGITDEMOS commented on #78650
ViewUtils.java

On Wed, 21 Jul, 2021, 9:11 pm Jason Freeberg, ***@***.***>
wrote:

[2021-07-22 02:40] JasonWHowell commented on #77418
This isn't a doc change that I'm willing to make. 1-2 days isn't how the OAuth refresh interval should work.

Wonder if your token is getting throttled by Quickbooks or something performance related, maybe when there are too many requests happening in a day or so, so it blocks it.

Sounds like something broken, and needs to be diagnosed. Please work with support if you still have it in the broken

[2021-07-22 02:40] #77418 closed

[2021-07-22 02:44] jipsterious opened #78682 "Setting for "Identity-based access for file shares" has migrated to file share"
[Enter feedback here]
To update document.  Setting for "Identity-based access for file shares" has migrated to the file share page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 100a0bd2-817c-8c9e-68d6-cb00a5f405eb
* Version Independent ID: ee7081d3-a43f-47ea-db7f-ff6ba23d50b3
* Content: [Use Azure AD Domain Services

[2021-07-22 02:50] SatishBoddu-MSFT commented on #78670
Hello @ckarrasalithya
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-22 02:51] SatishBoddu-MSFT commented on #78596
Thank you, I remember that issue. Let me check once again with my team on this!

[2021-07-22 03:01] SatishBoddu-MSFT commented on #78670
Hello @ckarrasalithya

To publish a Stream Analytics job on IoT Edge, call the POST method using the Edge Package Publish API.[Publish Edge package](https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-cicd-api#publish-edge-package)

Please refer to this document: [Implement CI/CD for Stream Analytics on IoT Edge using APIs](https://docs.microsoft.com/en-us/azure/stream-analyti

[2021-07-22 03:03] MonikaReddy-MSFT commented on #78664
@LeoMarks7 - Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-07-22 03:09] JasonWHowell commented on #76676
I'll update the doc to be published overnight.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/166488/

This is a list ordering/cosmetic concern. I will make the list match the ADF Authoring page. It's pretty minor and the information is the same I think.

Thanks, Jason
#please-close

[2021-07-22 03:09] #76676 closed

[2021-07-22 03:11] flexiteam-hakiem opened #78683 "Tab Crashed"
- Tab keep crashing on this page.
- This issue occur on Firefox and Microsoft Edge.
- This page tries to load sample map for "Creating a Map, Azure Maps".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4dbd1c7c-f712-ae16-529c-645da8646f2a
* Version Independent ID: 15786e93-71fa-80b4-4436-e0c1f7e024a9
* Content: [Create

[2021-07-22 03:33] AshokPeddakotla-MSFT commented on #78683
@flexiteam-hakiem Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-22 03:59] Karishma-Tiwari-MSFT commented on #78653
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-22 04:00] Karishma-Tiwari-MSFT commented on #78651
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-22 04:02] Karishma-Tiwari-MSFT commented on #78654
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-22 04:04] Karishma-Tiwari-MSFT commented on #78660
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-22 04:06] kshitishsahoo commented on #78399
In Partner Center Insights, there is a report for the Partners to view their Azure usage: (Details in the following link) PartnerAttributionType column has the PAL attribution transactions populated:

https://review.docs.microsoft.com/en-us/partner-center/insights-data-definitions?branch=main#azure-usage-report

We get requests to see the change immediately regarding attribution. So, I was request

[2021-07-22 04:06] Karishma-Tiwari-MSFT commented on #78669
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.
It looks like you closed the issue. Let me know if still have any questions and would like me to reopen it.

[2021-07-22 04:07] SnehaAgrawal-MSFT commented on #78668
@sanjay3290 Thank you for your feedback! We will review and update as appropriate.

[2021-07-22 04:07] Karishma-Tiwari-MSFT commented on #78662
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-22 04:11] LeoMarks7 commented on #78664
Hi,
Below is URL of the document:
https://docs.microsoft.com/en-us/azure/migrate/migrate-support-matrix-physical#physical-server-requirements

Regards,
Leonardo Marques

Obter o Outlook para iOS<https://aka.ms/o0ukef>
________________________________
De: MonikaReddy-MSFT ***@***.***>
Enviado: Thursday, July 22, 2021 12:03:34 AM
Para: MicrosoftDocs/azure-docs ***@***.***>
Cc: Leonardo Marques ***@*

[2021-07-22 04:33] jayendhar-cf commented on #77418
This is not caused by any throttling on the account. Refer to Quickbooks documentation around refresh tokens - https://developer.intuit.com/app/developer/qbo/docs/develop/authentication-and-authorization/faq

Even though the refresh token is valid for 100 days, it looks like Quickbooks updates the refresh token every 24 hrs. This is an additional measure implemented by Intuit on top of the standar

[2021-07-22 04:35] CredibleAshok opened #78684 "Argument of type 'null' is not assignable to parameter of type 'MsalGuardConfiguration'"
I tried to create a sample angular application as per this page. But in app.module.ts. I am getting the following error. This is a simple SPA in angular latest.
![image](https://user-images.githubusercontent.com/28974651/126590272-c57448aa-95ec-4ac8-bb86-bcced6b43e14.png)
Please let me know if this is not enough details.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section

[2021-07-22 04:54] SnehaAgrawal-MSFT commented on #78673
@oscarmandley Thank you for your feedback! We will review and update as appropriate.

[2021-07-22 05:01] prvempat commented on #74067
Hi @cephalin just another reminder to see if you got a chance to update the document

[2021-07-22 05:04] aspnet4you commented on #78674
@JamesTran-MSFT,
I was able to solve the issue and Chrome is successfully evaluating the device filter. Chrome and Edge are behaving same way now.

I want to give credit to Kenneth van Surksum for his blog post on [Browser restrictions and configuration when using Conditional Access on your modern workplace](https://www.vansurksum.com/2021/01/27/browser-restrictions-and-configuration-when-using-co

[2021-07-22 05:09] akashperfect opened #78685 "Is it possible to pull telemetry data from default endpoint using AAD"
This information could be added into the page whether its possible to pull telemetry data from default endpoint which is events hub in this case using AAD.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ae91bcd-cd93-e731-bad0-d31489796538
* Version Independent ID: 31e7b4e3-f164-6781-867e-e61a82171bd8
* Content: [Contr

[2021-07-22 05:10] CredibleAshok commented on #78684
I found the answer for this, as for first null, I used

[code]
and for the second null, I used
[code]
The error went away.
Thank you

[2021-07-22 05:10] #78684 closed

[2021-07-22 05:10] SwathiDhanwada-MSFT commented on #77924
Thanks @harelbr for updating the document.

@slavizh We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-07-22 05:10] #77924 closed

[2021-07-22 05:17] HarshitaSingh-MSFT commented on #78407
Hello!
Just checking to see if you have had a chance to see the previous response. Kindly let us know if it answers your question and if you need further assistance on this issue.

[2021-07-22 05:46] alschneiter opened #78686 "Missing bracket"
There is a missing bracket in the PowerShell command.

Documented command:
Get-ADServiceAccount –Filter * | where $_.ObjectClass -eq "msDS-GroupManagedServiceAccount"}

Correct command:
Get-ADServiceAccount –Filter * | where-object **{**$_.ObjectClass -eq "msDS-GroupManagedServiceAccount"}

Small thing. Thanks
Al
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2021-07-22 05:46] eikooc opened #78687 "Add resource group annotation tip"
You should add to the note on having the IP in a different resource group that you should add this annotation to the `helm install` command

[code]

This is an important step, as otherwise the nginx ingress controller won't have permissions to find the public IP, and will just have this error message:

[code]

Cheers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2021-07-22 05:56] ladykraken commented on #78686
https://github.com/MicrosoftDocs/azure-docs/issues/78686#issue-950320975https://github.com/MicrosoftDocs/azure-docs/issues/#78686issue-Documented command: Documented command:
Get-ADServiceAccount –Filter * | where $_.ObjectClass -eq "msDS-GroupManagedServiceAccount"}

Correct command:
Get-ADServiceAccount –Filter * | where-object $_.ObjectClass -eq {"msDS-GroupManagedServiceAccount"}

[2021-07-22 06:09] miqm commented on #78229
👍🏻  to this, I'm also looking forward how to achieve this.

[2021-07-22 07:15] AndreasMWalter opened #78689 "Not all RFC 1918 ranges have none routes"
Hiya, just out of curiosity, you specify that you put "none" routes to the RFC1918 and I can see those routes in Azure all fine.

But last time I checked 172.16.0.0/12 is also part of the "Reserved for private use" RFC 1918 Ranges. Why do you not create None-routes for those?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-07-22 07:45] psmanhas commented on #78517
@vinishgeorge Can you please provide input on above mentioned ask so I can help you out better?

Thanks

[2021-07-22 07:48] HarshitaSingh-MSFT commented on #78686
Hello @alschneiter and @ladykraken , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-07-22 07:57] AshokPeddakotla-MSFT commented on #78685
@akashperfect Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-07-22 07:59] carlosporter opened #78690 "How to prevent users from re-using access tokens from "az login""
I was wondering,

How would be possible to secure "az ssh"  on an environment where several users have access to a windows jumbox where the Azure CLI is installed and configured to used "az ssh" but at the same time all the operators share the admin credentials  ( they all use the same username and password to access the windows jumpbox ).

I was thinking of possible solutions such as:

- by creat

[2021-07-22 08:03] jukkaleh commented on #78641
@James-Hamil-MSFT
Yes I would like you to update documentation.
[Microsoft video on youtube](https://youtu.be/HdBSBSbgYQQ?t=885) referred to this as "Assigning groups to Approles", but couldn't find any documentation on azure how it actually works, thus this issue.

[2021-07-22 08:06] martintoreilly opened #78691 "Does the WAF process the response data from the protected web application(s)"
Hi, it's not clear from either the documentation or the pricing page whether the response data from the web applications protected by an Azure WAF is processed by the WAF. This will make a huge difference to the costs for data heavy web applications such as remote desktop applications or sites with video downloads. It seems like all the filtering / protection processing should only be required on

[2021-07-22 08:08] memildin commented on #77942
Hi @amanjeetsingh, thanks for the feedback and for taking the time to help us improve the docs.

I've spoken with the various Microsoft PMs who own these features and am happy to say that there'll be progress on this capability within the next two months.

As soon as there's a product change, it'll be reflected on this docs page.

I'm going to close this issue, but feel free to comment again here

[2021-07-22 08:08] #77942 closed

[2021-07-22 08:18] pnl0ep7f opened #78692 "Alternative for deploying automation runbook without a public uri"
HI,

I am trying to deploy a Powershell runbook using ARM templates. The [documentation ](https://docs.microsoft.com/en-us/azure/templates/microsoft.automation/automationaccounts/runbooks?tabs=json) describes how to generate the ARM template. The part to specify the contents of the script is defined with the object publishContentLink.

` "publishContentLink": {
      "uri": "string",
      "conten

[2021-07-22 08:24] andrePKI opened #78694 "Permissions required: only contributor"
It states "1. As a user with the role Security admin or Subscription Contributor, from the toolbar on the alerts page, select Create sample alerts."
But in our tenant having the role `Security Administrator` is neither sufficient nor necessary. One must have the `contributor` role to the subscription for which sample alerts should be created.

---
#### Document Details

⚠ *Do not edit this section

[2021-07-22 09:02] neok-g opened #78696 "How to update sharedsecret of VPN Gatway connection via Bicep"
Hi,

Not sure if this is the right location but I am trying to update the shared secret of an existing VPN gateway connection via Azure bicep.

Initially I tried to retrieve the updated secret from a keyvault however the secret was not updated. Therefore I tried to set the new shared secret via a hard-coded value also without success.

Below the bicep code. sharedKey is a parameter which is set wi

[2021-07-22 09:05] SubhashVasarapu-MSFT commented on #74257
@Kirkmj, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-07-22 09:05] #74257 closed

[2021-07-22 09:08] SubhashVasarapu-MSFT commented on #77881
@Spotakash, since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-07-22 09:08] #77881 closed

[2021-07-22 09:11] SubhashVasarapu-MSFT commented on #77926
@Prasenjitcloudgurua, since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-07-22 09:11] #77926 closed

[2021-07-22 09:18] SubhashVasarapu-MSFT commented on #74186
@cveld , Apologies for the delay in response. when you deploy multiple clusters then it is necessary to enable an option called Shared Application Gateway when AGIC is used for multiple AKS clusters. By default, AGIC assumes full ownership of the Application Gateway it is linked to. AGIC version 0.8.0 and later can share a single Application Gateway with other Azure components. Else, Existing conf

[2021-07-22 09:20] SubhashVasarapu-MSFT commented on #69885
@sundbing, we are working on updating the document accordingly.

[2021-07-22 09:32] AnuragSharma-MSFT commented on #78525
@dhruvrajn Thanks for your patience. This statement is specific to Iaas where the SLA was mentioned 99.95, not for paas where it is 99.99 as mentioned by you.

[2021-07-22 10:13] SrijitBose-MSFT commented on #78687
@eikooc thank you for your feedback. We have shared the same with the content author.

[2021-07-22 10:31] Bafff commented on #46309
Is that are you have been looking for?

[](https://docs.microsoft.com/en-us/azure/storage/tables/authorize-access-azure-active-directory)

[2021-07-22 10:39] HarshitaSingh-MSFT commented on #78560
No additional charge to enable customer-managed-key. With customer-managed-key, Request Units will see an slight increase to support additional layer of encryption and decryption of your data. Check out [Customer-Managed Keys for Azure CosmosDB](https://rajurh.blogspot.com/2020/05/customer-managed-keys-for-azure.html). Let me know if this answers your question.

[2021-07-22 10:59] thecpshah opened #78698 "Missing code"
Hi,

I am trying to replicate the code shown [here](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-machine-learning-interpretability-aml#raw-feature-transformations)

The comment says assume that an array of numerical and categorical features exists but these two are not created. I mean if you were going to give all the code then might as write two more lines.

Also the code blocks

[2021-07-22 11:18] hisuwh commented on #44432
Is this possible through the azure cli?

[2021-07-22 11:24] JayaChatterjee-MSFT commented on #78494
You may refer to these documents : https://dev.applicationinsights.io/
https://dev.applicationinsights.io/quickstart
https://docs.microsoft.com/en-us/powershell/module/az.applicationinsights/new-azapplicationinsightscontinuousexport?view=azps-6.2.1
You may also develop a custom API to retrieve logs : https://zimmergren.net/retrieve-logs-from-application-insights-programmatically-with-net-core-c/
W

[2021-07-22 11:24] #78494 closed

[2021-07-22 11:33] SnehaAgrawal-MSFT commented on #78682
@jipsterious Thank you for your feedback! We will review and update as appropriate.

[2021-07-22 11:50] just-artsemkanapliou opened #78701 "Batched event delivery behavior missed"
It seems that general Event Grid Concepts section is missing some info with regards to behavior of events batching. So it's not clear whether it is possible to have part of batch delivered or not. It seems impossible plus there is such info provided on some other pages e.g. `All or none` behavior described on this pages [Event Grid on Kubernetes](https://docs.microsoft.com/en-us/azure/event-grid/k

[2021-07-22 12:25] HarshitaSingh-MSFT commented on #78694
Hello @andrePKI , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-07-22 12:35] HarshitaSingh-MSFT commented on #78407
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-22 12:35] #78407 closed

[2021-07-22 12:46] gunterda opened #78702 "Storage Account"
This sentense seems wrong:
"Using storage accounts as target storage is not supported by Azure Site Recovery. It is recommended to rather use managed disks as the target storage for your machines. Managed disks only support LRS type for data resiliency."

Replication from Hyper-V to Azure always requires a storage account. There is no way to select a managed disk as a target. You only can change f

[2021-07-22 13:21] thecpshah opened #78703 "Package installation"
Is there a difference between `interpret` and `azureml-interpret`?

This page asks to install `azureml-interpret` where as this [page](https://interpret.ml/docs/getting-started) asks to install `interpret`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c71ab89d-aa07-b190-ac65-7d9eea831ec6
* Version Independent ID: 532f

[2021-07-22 13:31] drazkiewicz opened #78704 "az image create will not work without location"
To below command you have to add --location at the end. It will not work without it.
az image create \
    --resource-group myResourceGroup \
    --name myImage \
    --source myVM \

Without location you will see error:
(NotFound) Source Virtual Machine 'name-of-your-machine' specified in this request does not exist in this Azure location.

Please correct the script on this page.

---
#### Docume

[2021-07-22 13:34] MonikaReddy-MSFT commented on #78704
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-22 13:39] MonikaReddy-MSFT commented on #78704
@drazkiewicz - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-22 13:39] #78704 closed

[2021-07-22 13:44] GrzegorzHejman opened #78705 "Azure Image Builder related resources custom tagging"
During the build process, the Azure Image Builder creates some resources (a resource group, storage account etc.). Is there any way to provide custom tags for these resources? We have a policy assigned at the subscription level that prevents the creation of resources without specific tags and it causes the image build process to fail.

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-07-22 13:49] OliverRC opened #78706 "YAML for ACI Deployment not support VNET's or Subnets"
I cannot see a way to do a VNET and Subnet integration when deploying to an ACI instance using the YAML file.
Is it not possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d76dd9b1-b82f-0f68-0f82-dac7275885a6
* Version Independent ID: 13450a08-6624-cd01-fa9d-c86e0da5a2d0
* Content: [YAML reference for container gr

[2021-07-22 13:51] hamdyghanem commented on #44432
yes it
[code]

[2021-07-22 13:52] tgpmoraes commented on #78538
Thanks Jejiang for the quick response. Feel free to close the issue.

[2021-07-22 13:55] vboyev-MSFT commented on #76302
Scenario is an AAD registered app that checks for compliance of policy.  When looking at the alert and the suppression dialog - the ResourceID in the suppression dialog does not appear to map (or not obviously or documented to map) to any property to within the source alert, or the entity (in this case an AAD registered app). Does ResourceID in the suppression dialog map to the ObjectID? Applicati

[2021-07-22 14:00] MGoedtel commented on #78366
Valid points, I'm going to create a work item and see about addressing this in our August sprint.  Thanks @WyattBest.

[2021-07-22 14:01] GeordieP opened #78707 "Configure Azure Static Web Apps page - references incorrect file name"
The [Restrictions](https://docs.microsoft.com/en-us/azure/static-web-apps/configuration#restrictions) section refers to a filename that doesn't seem to be recognized by the `AzureStaticWebApp@0` Azure Devops CI task. In my testing, `staticwebapps.config.json` is not recognized, while `staticwebapp.config.json` works. This is also the filename used in the [React basic](https://github.com/staticwebd

[2021-07-22 14:40] prabhakarks80 commented on #29112
is there a downtime required for this activity?

[2021-07-22 14:46] ckarrasalithya commented on #78670
Thanks, it seems to be what I was looking for. I suggest adding a reference to this page to the tutorial, as a note in the "Deploy the page" section.

[2021-07-22 15:07] FrankAtHexagon opened #78708 "Outdated information"
I just wanted to note that while I like this series of articles, it's also outdated. Mixer, for instance, has been deprecated for some time in Istio.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: def7ccf3-9a46-d83f-a05b-ce23883e7f84
* Version Independent ID: 1f19d0c4-3972-1fe0-1581-6309332df24b
* Content: [Overview of

[2021-07-22 15:08] hisuwh commented on #44432
Thanks @hamdyghanem
Do you know if you can set the stack .NET version and Platform (32bit/64bit) this way too?

[2021-07-22 15:12] S1r-Lanzelot opened #78709 "Invalid syntax in script"
[Enter feedback here]
The example script has invalid syntax and the 512 addition appends to the string instead of adding. I was using Azure cli

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77b58ea9-fc39-64f0-111c-371c9176ed55
* Version Independent ID: 54408794-9e81-79ed-32ff-1c05979ff0e8
* Content: [Upload a VHD to A

[2021-07-22 15:12] GiftA-MSFT commented on #78698
@thecpshah we'll review your feedback and get back to you shortly. Thanks!

[2021-07-22 15:14] GiftA-MSFT commented on #78703
@thecpshah we'll review your feedback and get back to you shortly. Thanks!

[2021-07-22 15:21] hamdyghanem commented on #44432
for the platform, you can set use32BitWorkerProcess by false, which means it will be 64 bit

[code]

[2021-07-22 15:30] SumanthMarigowda commented on #78440
@robotrapta Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-07-22 15:30] #78440 closed

[2021-07-22 15:34] robinsh commented on #78435
#please-close

[2021-07-22 15:34] #78435 closed

[2021-07-22 15:34] SnehaAgrawal-MSFT commented on #78537
@trichardson010 Thanks for asking question! from the AMP API, I don’t see its support of multiple pre-rolls.
You may try testing with 1 pre-roll, 4 mid-rolls (with the first one close to the start), 1 post-roll.

[2021-07-22 15:35] kvietmeier opened #78710 "Outdated DPDK instructions"
DPDK is no longer built with gcc/make, it is built with meson and ninja.

Instructions are also incomplete WRT binding and the devices to use.

	• Install DPDK
	Get the package here (check for the latest) - https://core.dpdk.org/download
	mkdir temp
	cd temp
	wget https://fast.dpdk.org/rel/dpdk-21.05.tar.xz
	tar xf dpdk-21.05.tar.xz
	cd dpdk-21.05

	• Build DPDK - uses meson/ninja - not gcc make

[2021-07-22 15:42] mimckitt commented on #78642
We have another issue already open for this problem and are looking into it.

[2021-07-22 15:42] robertdeheer opened #78711 "StorageBlobLogs table missing"
[Enter feedback here]
Hello,

It seems the table is missing. What's the replacement?

'where' operator: Failed to resolve table or column expression named 'StorageBlobLogs'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63c3effd-7cc3-f021-358a-adeaf59a0a69
* Version Independent ID: 36381f6b-f57b-95a2-67cd-80bffcee238c

[2021-07-22 15:42] SatishBoddu-MSFT commented on #78670
Hello @ckarrasalithya Thanks for the feedback, we will consider this with our team.

[2021-07-22 15:42] #78670 closed

[2021-07-22 15:52] BarbaraSelden commented on #78686
i am good with this change. #sign-off

[2021-07-22 15:55] SnehaAgrawal-MSFT commented on #78555
@connelhooley Thanks for asking question! If I have understood right you may want to look into this document link: https://docs.microsoft.com/en-gb/azure/static-web-apps/publish-devops

[2021-07-22 16:08] ozanbora commented on #41837
In 2021, wasted almost 5 hours to figure out what is wrong with the extension settings.

Just for an integer value to be expected as a string in JSON format..

And may be you can understand what is going on, if you can only connect to the VM and check extension status, or from the portal.

Agent Status
[code]

Portal Status
[code]

[2021-07-22 16:18] Karishma-Tiwari-MSFT commented on #78684
Thanks for sharing the update.

[2021-07-22 16:19] Karishma-Tiwari-MSFT commented on #78689
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-22 16:20] pmoprhy commented on #78658
<<Is this occurring after the first sign-in?>>
Yes, but it didn't before macOS 11.3.1
Is the user signing out after each session?
I don't know
How often is this occurring?
Everytime.

I'm guessing but we're launching Company Portal in our application and using  https://github.com/AzureAD/microsoft-authentication-library-for-objc  There's some speculation that it might set the identity preference f

[2021-07-22 16:21] Karishma-Tiwari-MSFT commented on #78696
Thanks for your question.
Is there something in any specific doc you are looking to have updated or are having issues with? The scope for these doc issues is to help identify gaps and issues with the documentation. Please provide us with the link to the documentation you are referring to so we can better assist.

Else, if you are looking for help with debugging issues I would suggest opening a sup

[2021-07-22 16:21] Karishma-Tiwari-MSFT commented on #78692
Thanks for your question.
Is there something in any specific doc you are looking to have updated or are having issues with? The scope for these doc issues is to help identify gaps and issues with the documentation. Please provide us with the link to the documentation you are referring to so we can better assist.

Else, if you are looking for help with debugging issues I would suggest opening a sup

[2021-07-22 16:23] tcarcachi opened #78712 "Suggestions to get user friendly guidelines"
Greetings,

I worked with a customer who was not able to scrap metrics with Prometheus following this web page. We realized that the documentation is lacking of some useful steps that might help to users with no previous experience using this feature.

Below are the suggestions you could analyze to be added to this webpage:
I suggest making the doc more prescriptive by adding some steps like the f

[2021-07-22 16:30] connelhooley commented on #78555
Thanks for taking the time to get back to me, I have a my static web app deploying ok by following the article you linked to. What I'd like to do, is update my azure functions app settings along with the deployment. E.g. update the connection string the app is using via the deployment. Atm I've gone into the portal and configured it manually, but I was wondering if it's possible to do that in the

[2021-07-22 16:30] mhmoore12 commented on #78062
@MonikaReddy-MSFT
No worries - when do you think you'll be able to get an answer on this?

Thanks,

Michael

[2021-07-22 16:35] asears opened #78713 "Provide powershell examples"
Current examples tab only shows Portal, Azure Cli,, do not have Powershell examples with use of data share, used in many common scenarios.

Bicep is also starting to be surfaced in examples.

Found examples here.
https://docs.microsoft.com/en-us/azure/data-share/samples-powershell

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2021-07-22 16:41] voidmodular opened #78714 "Download link for the NPS extension does not work."
[Enter feedback here]

Download link for the NPS extension does not work.  It brings me to a page that says "Service Unavailable - DNS failure"

![image](https://user-images.githubusercontent.com/54509893/126676193-d5cecf28-5258-44b3-ab80-232a443d3f94.png)

![image](https://user-images.githubusercontent.com/54509893/126676261-55c34514-500a-41da-b24a-cd4e7dcbe964.png)

---
#### Document Details

⚠

[2021-07-22 16:45] SnehaAgrawal-MSFT commented on #78607
@zaalion Thanks for asking question! As its further mentioned in the [document](https://docs.microsoft.com/en-us/azure/app-service/monitor-instances-health-check#limitations) that "Premium Functions have their own internal health probes that are used to inform scaling decisions."

[2021-07-22 16:49] duongau commented on #78229
@hb66772-home and @miqm I have notified our PG team in regards to this issue,. They are aware of the problem and currently working on a solution for this. At this time I don't have an ETA of when this will be fixed. I will post here as soon as I have a solid timeline. Thank you!

[2021-07-22 16:53] KranthiPakala-MSFT commented on #78713
HI @asears
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2021-07-22 16:54] gabsylvain opened #78715 "Dockerfile commands outdated"
Hi, there is a new version of the databricksruntime/standard image and the previous command to install Python libraries doesn't work anymore:

` RUN /databricks/conda/envs/dcs-minimal/bin/pip install pandas`

I have played around locally with the new docker image and this is what works now:

`RUN /databricks/python3/bin/pip install pandas`

**Source**: https://github.com/databricks/containers/comm

[2021-07-22 16:58] dlepow commented on #78566
@MarcoPeretti - The article has been updated with a corrected command, and I will now close this issue. Thank you again for contacting us.
#please-close

[2021-07-22 16:58] #78566 closed

[2021-07-22 17:02] anavinahar commented on #76700
Hi @shashankbarsin  - not all users have this update just yet - once it is rolled out to everyone, we will update it.

Thanks for reaching us!

#please-close

[2021-07-22 17:02] #76700 closed

[2021-07-22 17:03] cburuzie commented on #78506
This has been updated.

Reference: https://docs.microsoft.com/en-us/azure/load-balancer/skus

#please-close

[2021-07-22 17:03] #78506 closed

[2021-07-22 17:04] anavinahar commented on #77906
Yep, you will see this shortly - stay tuned until then!

Thanks for reaching us

#please-close

[2021-07-22 17:04] #77906 closed

[2021-07-22 17:06] MonikaReddy-MSFT commented on #78708
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-22 17:10] ChaitanyaNaykodi-MSFT commented on #78455
Hello @sowmya3434, apologies for the delay here. I was able to replicate the issue faced. I have reached out to the team internally to regarding this issue and will post an update here as soon as I have a response. Thank you!

[2021-07-22 17:11] MonikaReddy-MSFT commented on #78708
@FrankAtHexagon - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-22 17:11] #78708 closed

[2021-07-22 17:13] anavinahar commented on #76702
Let us know!

#please-close

[2021-07-22 17:13] #76702 closed

[2021-07-22 17:13] anavinahar commented on #76703
Let us know!

#please-close

[2021-07-22 17:13] #76703 closed

[2021-07-22 17:17] anavinahar commented on #78647
This has been fixed, the doc will be live within 24 hours, thank you!

#please-close

[2021-07-22 17:17] #78647 closed

[2021-07-22 17:20] Justinha commented on #78714
@voidmodular working for me at https://www.microsoft.com/en-us/download/details.aspx?id=54688

[2021-07-22 17:25] MartinJaffer-MSFT commented on #78715
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-07-22 17:27] dejanstamenov commented on #78193
Thanks for updating the docs @RohitMungi-MSFT. However, I do see some other gaps as well, that I will highlight below.

Sections [Synthesize speech to a file](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/get-started-text-to-speech?tabs=import%2Cwindowsinstall&pivots=programming-language-javascript#synthesize-speech-to-a-file) and [Synthesize to speaker output](https://d

[2021-07-22 17:29] SepidehSaba opened #78717 "How to prevent knowledgestore to use the rowkey and partitionkey provided. and how to provide those in the knowledgestore"
We are seeing that the table projection on the Knowledge store is autogenerating the PartitionKey and RowKey in the table storage
we want to be able set those values and prevent the knowledge store from autogenarte them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05427126-e183-7783-24c3-3bcbd5538e33
* Version Indep

[2021-07-22 17:29] fernandoferrini commented on #78171
Hello, have you had the chance to reproduce the error? Thanks.

[2021-07-22 17:33] Justinha commented on #78645
@priyankareddy20 Thanks for the feedback. I'll add the following text from a related M365 article to this topic to make this point more clear:

For the purposes of this article, a tenant-level service is an online service that—when purchased for any user in the tenant (standalone or as part of Office 365 or Microsoft 365 plans)—is activated in part or in full for all users in the tenant. Although

[2021-07-22 17:42] jasongroce commented on #76600
@kbangalore Can you take a look at this?

[2021-07-22 17:43] jasongroce commented on #76600
#reassign:kbangalore

[2021-07-22 17:46] tgpmoraes opened #78718 "Pyspark not available for Kernel"
[Enter feedback here]

I have tried twice the tutorial, in both I got the same result, no Spark Pool available to choose as Kernel.

Another thing, I needed to install pyspark using pip, otherwise I wouldn't be able to import pyspark.sql.

![image](https://user-images.githubusercontent.com/8151342/126684694-0ef0bf5d-5882-4196-8cdd-156221042ee1.png)

---
#### Document Details

⚠ *Do not edit this s

[2021-07-22 18:04] jasongroce commented on #70237
#please-close Thank you so much @shvanderberg. We have reviewed these changes and will include them in future documentation updates.

[2021-07-22 18:04] #70237 closed

[2021-07-22 18:05] jasongroce commented on #70122
Cross reference with #70237

[2021-07-22 18:07] jasongroce commented on #72556
#please-close Thank you for the feedback @mneLSI. We have included this feedback in changes to the documentation that we will be publishing in the future.

[2021-07-22 18:07] #72556 closed

[2021-07-22 18:11] jasongroce commented on #73483
Hello @stderr-to-devnull , thank you for the feedback. We are redoing these docs to bring them up to date, and your feedback will be incorporated in upcoming changes. #please-close

[2021-07-22 18:11] #73483 closed

[2021-07-22 18:17] anavinahar commented on #77720
@rockboyfor - this is mentioned in #5 in the table - also mentioned here:

![image](https://user-images.githubusercontent.com/20465886/126688884-b186b498-f68f-408a-99ce-b34470bbd2f5.png)

Will update to make it more clear

[2021-07-22 18:19] FrankAtHexagon commented on #78708
Thanks for your quick response!

[2021-07-22 18:19] anavinahar commented on #77720
Changes to make it more clear checked in - should be live within 24 hours
#please-close

[2021-07-22 18:19] #77720 closed

[2021-07-22 18:26] jasongroce commented on #74568
Thanks for your feedback @jbridger . We will take your feedback and look at how we can make this information clearer. We do have additional information available in the docs, for example at https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/pc-saas-fulfillment-api-v2#get-subscription. That might help provide some additional insights. #please-close

[2021-07-22 18:26] #74568 closed

[2021-07-22 18:33] JamesTran-MSFT commented on #78557
@ermacia91
Thank you for pointing this out! I've created a PR to update the documentation step and it's currently waiting for the author to review and sign off.

Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-07-22 18:34] jasongroce commented on #76794
#reassign:iqshahmicrosoft @iqshahmicrosoft Can you take a look a this question?

[2021-07-22 18:35] cicorias opened #78721 "what is Azure CNI? is that meant to be Azure CLI?"
The page introduces a three-letter acronym CNI but that seems to be CLI - regardless, please expand the acronym on first use.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3c187c0-27f1-11c9-41af-6c65ca36e77e
* Version Independent ID: 249a570b-90ba-4a11-4467-320f0369ec25
* Content: [Use Azure Active Directory pod-mana

[2021-07-22 18:36] jasongroce commented on #77905
#reassign:iqshahmicrosoft @iqshahmicrosoft Can you take a look at this VM question?

[2021-07-22 18:37] alschneiter commented on #78686
Thanks Barbara

[2021-07-22 18:40] HarshitaSingh-MSFT commented on #78686
@BarbaraSelden, I have created a PR for the same, pls review.

[2021-07-22 18:43] JamesTran-MSFT commented on #78690
@carlosporter
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-22 18:45] JamesTran-MSFT commented on #78714
@voidmodular
Thanks for your feedback! The link also works for me as well.

Are you able to copy and paste the link into a different browser? Or try this in a private session?
https://www.microsoft.com/en-us/download/details.aspx?id=54688

![image](https://user-images.githubusercontent.com/36619112/126692417-3155e869-3cbd-47df-bb80-cec5ba87f923.png)

[2021-07-22 18:55] JamesTran-MSFT commented on #78658
@pmoprhy
Thank you for the quick response on this!

Since this issue isn't directly related to our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our [Q&A forum](https://docs.microsoft

[2021-07-22 18:55] #78658 closed

[2021-07-22 18:57] JamesTran-MSFT commented on #78674
@aspnet4you
Thank you for the quick follow up and I'm glad that you were able to resolve your issue!

[2021-07-22 18:57] #78674 closed

[2021-07-22 19:00] JamesTran-MSFT commented on #78690
@carlosporter
Thank you for your time and patience!

Since this issue isn't directly related to our docs, I'd recommend leveraging our [Q&A forum](https://docs.microsoft.com/en-us/answers/products/) by posting your issue there so our community, and MVPs can further assist you in troubleshooting this issue or finding potential workarounds.

[2021-07-22 19:20] Karishma-Tiwari-MSFT commented on #78696
Thank you for your time and patience!

Since this issue isn't directly related to our docs, I'd recommend leveraging our [Microsoft Q&A forum](https://docs.microsoft.com/en-us/answers/topics/azure-virtual-network.html) by posting your issue there so our community, and MVPs can further assist you in troubleshooting this issue or finding potential workarounds.

[2021-07-22 19:20] #78696 closed

[2021-07-22 19:23] SaiKishor-MSFT commented on #78691
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-22 19:23] SaiKishor-MSFT commented on #78710
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-22 19:24] Karishma-Tiwari-MSFT commented on #78692
Thank you for your time and patience!

Since this issue isn't directly related to our docs, I'd recommend leveraging our [Microsoft Q&A forum](https://docs.microsoft.com/en-us/answers/topics/azure-automation.html) by posting your issue there so our community, and MVPs can further assist you in troubleshooting this issue or finding potential workarounds.

[2021-07-22 19:24] #78692 closed

[2021-07-22 19:28] Grace-MacJones-MSFT commented on #78707
thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-07-22 19:33] carlgrzywacz commented on #78534
This request is regarding functionality that currently isn't documented.

[2021-07-22 19:41] Karishma-Tiwari-MSFT commented on #78721
CNI stands for Azure Container Networking Interface (CNI).
With Azure CNI, every pod gets an IP address from the subnet and can be accessed directly. These IP addresses must be unique across your network space, and must be planned in advance. Each node has a configuration parameter for the maximum number of pods that it supports. The equivalent number of IP addresses per node are then reserved up

[2021-07-22 19:41] #78721 closed

[2021-07-22 19:46] Karishma-Tiwari-MSFT commented on #78702
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-22 19:49] Karishma-Tiwari-MSFT commented on #78281
We will now close this issue. Let me know the details and if there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-07-22 19:49] #78281 closed

[2021-07-22 20:00] carlosporter commented on #78690
@JamesTran-MSFT

Thanks I already posted the question at https://docs.microsoft.com/en-us/answers/questions/486392/how-to-prevent-users-from-re-using-access-tokens-f.html

[2021-07-22 20:11] roygara commented on #78682
#assign: roygara

[2021-07-22 20:11] roygara commented on #78682
Thanks for reaching out, @jipsterious , we appreciate it!

We've gone ahead and staged updates for the article. They'll be live later today.

Accordingly, I'm closing this out.

#please-close

[2021-07-22 20:11] #78682 closed

[2021-07-22 20:14] gabrielbarceloscn commented on #19305
@wggley  in Linux you´ll need to load the certificate directly from file system:

[code]

[2021-07-22 20:33] saintshoobs opened #78724 "Azure - Routing Optimization"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4792b5c-81ee-5619-15bd-cd63aec1f946
* Version Independent ID: 12f9c00f-e6f6-ab76-8d34-b7f5a6b4d15f
* Content: [Azure ExpressRoute: Optimize routing](https://docs.microsoft.com/en-us/azure/expressroute/expressroute-optimize-routing)
* Content Source:

[2021-07-22 20:34] MarileeTurscak-MSFT commented on #78675
Thanks for the feedback. You are correct. To delete the tenant, you need to go to Azure Active Directory > select "Manage tenants" > select the check mark next to the tenant > and then select "Delete".

![image](https://user-images.githubusercontent.com/13383753/126706027-c28f856a-9ad6-4b6a-9f36-c017f92d4b2e.png)

I made a pull request to update the text to match the UI.

CC @curtand

[2021-07-22 20:34] #78675 closed

[2021-07-22 20:36] DerekHerman-MSFT commented on #78711
@robertdeheer
I tested and StorageBlobLogs worked for me. I believe it may have changed at somepoint from StorageBlobLog. Can you test both to see if it works?

[2021-07-22 20:38] hudsonjwh opened #78725 "how can you script the scaling of a DW, rather than just manually moving a slider?"
how can you script the scaling of a DW, rather than just manually moving a slider?

would have been nice if this page included information that addresses the question above.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c277e0aa-fe77-35a7-2714-e53da9aab18e
* Version Independent ID: 8e5dac8a-8ccd-f910-fdd7-e52f55cc15d1

[2021-07-22 20:40] kobulloc-MSFT commented on #78680
@IndifferentDisdain Ah, title: Pull **settingsfromo** App Configuration with Azure Pipelines.  Got it.  Thank you!  I'll get a PR out for this.

[2021-07-22 20:40] saintshoobs opened #78726 "ExR - Asymmetric Routing"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40339914-7a1f-70f5-ec8e-d899d3eb1495
* Version Independent ID: 60b0885c-aec6-1d88-42c8-2247b365e724
* Content: [Azure ExpressRoute: Asymmetric routing](https://docs.microsoft.com/en-us/azure/expressroute/expressroute-asymmetric-routing)
* Content Sour

[2021-07-22 20:51] DerekHerman-MSFT commented on #78709
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-22 21:23] Trevor-Davis opened #78728 "Missing Steps"
[these instructions skip right over creating disks.  IF someone followed these instructions step by step they will get stuck after assigning the resource provider to teh subnet]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72c0156c-9519-75bf-06da-8edd3ca4bf2b
* Version Independent ID: 1d99add5-7aec-1e78-46ab-29df5187

[2021-07-22 21:30] rolyon commented on #78171
Hi @fernandoferrini
Thanks for your feedback. The team looked into this and provided the following info:
There isn't a limit for built-in role assignments at tenant scope
There is a limit of 100 built-in role assignments at a scope **per principal**
There is a limit of 100 custom role assignments (regardless of scope) **per principal**

If you want the team to investigate further, they would need

[2021-07-22 21:41] roygara commented on #78709
@S1r-Lanzelot Thanks for reaching out. I've tested the script with two different bash shells, the script works correctly as written, so this isn't a doc issue. Accordingly, I'm closing this issue out.

For product support, I recommend reaching out to either the [feedback forum](https://feedback.azure.com/forums/216843-virtual-machines) or the [Q&A](https://docs.microsoft.com/answers/topics/azure-m

[2021-07-22 21:41] #78709 closed

[2021-07-22 21:43] kgremban commented on #77687
@algattik Since I didn't hear back from you, I went ahead and updated the prerequisites with a specific callout that you'll need to provide the path to the deployment.template.json file, and included a link to the conceptual page about deployment manifests. When the pull request with these changes is merged, I'll close this issue.

If you have any further questions or comments on this topic, feel

[2021-07-22 21:46] SaurabhSharma-MSFT commented on #78609
@ShiningMassXAcc I suggest you to please post this as a feedback at [UserVoice](https://feedback.azure.com/forums/915676-sql-managed-instance). This will allow the community to upvote and for the product team to include into their plans. "This Product" button in at the bottom section of the document now to take you directly to the appropriate feedback page.

Thanks
Saurabh

[2021-07-22 21:48] shivanissambare commented on #78611
Hi,

https://docs.microsoft.com/en-us/python/api/azureml-contrib-functions/azureml.contrib.functions?view=azure-ml-py#package-workspace--models--inference-config--generate-dockerfile-false--functions-enabled-false--trigger-none----kwargs-

[code]

I just want to make sure you have set functions_enabled=True
By default this value is `false`

[2021-07-22 21:53] v-mparker opened #78729 "Directions don't match portal screen"
Hi! Thanks for keeping these pages up-to-date.

For this section of the load balancer quick start article: https://docs.microsoft.com/en-us/azure/load-balancer/quickstart-load-balancer-standard-public-portal?tabs=option-1-create-load-balancer-standard#create-outbound-rule-configuration

When I navigate to "Add outbound rule," I'm seeing a screen that differs from what's described.

The article tel

[2021-07-22 21:55] S1r-Lanzelot commented on #78709
Interesting, I was using the Azure CLI as it was annotated on that script. Please let me know if youre interested in reproducing, I can provide more details.

[2021-07-22 21:59] nastassiar opened #78730 "How to retrieve the name of the offer and plan purchased, as well as the billing terms?"
Near the top of the page one of the requirement is as follows:

"Present the name of the offer and plan purchased, as well as the billing terms."

Looking through the SaaS API v2 documentation it doesn't appear there are endpoints to retrieve this information: https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/pc-saas-fulfillment-api-v2

Is there another recommended way to re

[2021-07-22 22:03] #77687 closed

[2021-07-22 22:05] GiftA-MSFT commented on #78617
@danzel updating `AsyncStatus` to `Status` should resolve the issue. I've created a PR to fix this issue. Thanks again!

[2021-07-22 22:05] kgremban commented on #74110
@w0ut0 I'm going to close this issue now, but if you have further questions or comments on the topic feel free to post here again and we can reopen the issue.

Thank you

#please-close

[2021-07-22 22:05] #74110 closed

[2021-07-22 22:10] roygara commented on #78709
@S1r-Lanzelot What shell were you using? I suspect that's the culprit here. If you use the Azure Cloud Shell or a local shell that's using bash syntax, it should work (or did in my testing). If you need more troubleshooting than that, I recommend reaching out to either of those avenues.

[2021-07-22 22:10] erni19 commented on #78675
Thank you very much!

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Marilee Turscak - MSFT ***@***.***>
Sent: Friday, July 23, 2021 4:35:06 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: erni19 ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] No (#78675)

Closed #78675<https://github.com/MicrosoftDocs/azure-docs/issues/78675>.

[2021-07-22 22:12] tracychms commented on #78474
the blob path is accurate with mnist sample images. sample is working fine.
sample mnist image in blob: https://pipelinedata.blob.core.windows.net/sampledata/mnist/0.png

[2021-07-22 22:14] #78617 closed

[2021-07-22 22:14] KranthiPakala-MSFT commented on #78718
@tgpmoraes
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-07-22 22:15] rboucher commented on #52532
I'm going to close this at this point as we are over a year with no resolution, but also without serious incident as a result of this problem.  If a resource provider continues to provide this information in the backend (the existence of this log), but it's not available on in your configuration, we obviously have a disconnect somewhere in the system.  But I'm not clear where that is right now and

[2021-07-22 22:15] rboucher commented on #52532
#please-close

[2021-07-22 22:15] #52532 closed

[2021-07-22 22:18] S1r-Lanzelot commented on #78709
Ah yup, got it - I was confused, my apologies. I was using "Windows Terminal" thus requiring me to update the syntax, but I see what you're saying now. Thanks for the reply.

[2021-07-22 22:20] robertdeheer commented on #78711
Strange, I still get an error.

On Thu, Jul 22, 2021 at 1:36 PM DerekHerman-MSFT ***@***.***>
wrote:

[2021-07-22 22:23] v-gpettibone commented on #66083
#reassign gregpe01

[2021-07-22 22:23] PRMerger13 commented on #66083
gregpe01 is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-07-22 22:24] KranthiPakala-MSFT commented on #78725
@hudsonjwh
Thanks for reaching out.
Here are documents that explain how to Scale compute for dedicated SQL pool (formerly SQL DW) with Azure PowerShell and T-SQL

Azure Powershell : [Scale compute for dedicated SQL pool (formerly SQL DW) with Azure PowerShell](https://docs.microsoft.com/azure/synapse-analytics/sql-data-warehouse/quickstart-scale-compute-powershell)

T-SQL : [Scale compute for dedi

[2021-07-22 22:25] v-gpettibone commented on #66083
#reassign v-gpettibone

[2021-07-22 22:29] v-gpettibone commented on #63590
#reassign v-gpettibone

[2021-07-22 22:30] v-gpettibone commented on #63273
#reassign v-gpettibone

[2021-07-22 22:33] v-gpettibone commented on #60606
#reassign v-gpettibone

[2021-07-22 22:35] v-gpettibone commented on #59846
#reassign v-gpettibone

[2021-07-22 22:38] robotrapta commented on #78440
Sorry, my bad.  You are correct disks appear to be performing as described.  I had a network bottleneck in my test setup that I hadn't accounted for.  Apologies for getting upset.

[2021-07-22 22:40] v-gpettibone commented on #58855
#reassign v-gpettibone

[2021-07-22 22:42] v-gpettibone commented on #56291
#reassign v-gpettibone

[2021-07-22 22:48] v-gpettibone commented on #54998
#reassign v-gpettibone

[2021-07-22 22:49] McMatty opened #78731 "Firewall requirements too permissive"
[Enter feedback here]

What reason would you allow access to every *.blob.core.windows.net
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fab35792-13ac-5fc9-c434-49d3a98e77c0
* Version Independent ID: 75dc39cc-d528-088c-3f8e-2454a5db56bb
* Content: [Log Analytics agent overview - Azure Monitor](https://docs.microsoft.co

[2021-07-22 22:51] GiftA-MSFT commented on #78703
@thecpshah `azureml-interpret` contains [functionalities ](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-machine-learning-interpretability#supported-interpretability-techniques) supported by Microsoft. Hope this  helps!

[2021-07-22 22:51] v-gpettibone commented on #48533
#reassign v-gpettibone

[2021-07-22 22:52] v-gpettibone commented on #45301
#reassign v-gpettibone

[2021-07-22 22:54] v-gpettibone commented on #36676
#reassign v-gpettibone

[2021-07-22 22:58] iqshahmicrosoft commented on #77905
The documentation will be updated tomorrow to mentioned that if you are using APIs, please continue using SAS URIs.

[2021-07-22 23:03] MarileeTurscak-MSFT commented on #78645
Thanks @Justinha,

Since you are adding this text I will close this out for now. For further questions feel free to open a new thread on [Q&A](https://docs.microsoft.com/answers/topics/azure-active-directory.html?filter=unanswered) or send me an email at AzCommunity@microsoft.com (attn: Marilee Turscak)

[2021-07-22 23:03] #78645 closed

[2021-07-22 23:05] Karishma-Tiwari-MSFT commented on #78701
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-22 23:08] crisansou commented on #78611
Hi @shivanissambare ,

Yes, I set the parameter **functions_enabled** to **True** as instructed in the tutorial.

https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-functions#create-the-image

[2021-07-22 23:09] KranthiPakala-MSFT commented on #78595
Hi @tgpmoraes, Do you mean if you are unable to view the option for `Integration Dataset`, `Inline`, `Workspace DB`?

If yes, then you can see these options when you create a data flow in Synapse Studio pipelines. Create a data flow and under source transformation you should see the options. Please see below GIF:

![SynapseDataflow](https://user-images.githubusercontent.com/50185738/126719814-82d6

[2021-07-22 23:15] iqshahmicrosoft commented on #76794
There is a small information icon next to all properties, if you hover over them you would see the details. The documentation will get updated tomorrow.

[2021-07-22 23:26] KranthiPakala-MSFT commented on #78595
Hey @tgpmoraes,

I just realized that there is a slight difference between the `source type`  of Data factory and Synapse Studio and feels like the doc needs an update/enhancement.

I have escalated to ADF product and content team to further review this doc and update accordingly with latest info.

Thanks much for bringing this to our notice and helping us improve the content.

[2021-07-23 00:27] bwren commented on #78624
@Nustinian Thanks for this. Making an update to that article right now.

[2021-07-23 00:27] bwren commented on #78624
#please-close

[2021-07-23 00:27] #78624 closed

[2021-07-23 00:42] wggley commented on #19305
thanks @gabrielbarceloscn I gave up using thumbprint and solved using Azure Key Vault.

But I still don't understand why the feature is available for linux containers if it can't work.

[2021-07-23 01:09] Karishma-Tiwari-MSFT commented on #78706
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-23 01:11] Karishma-Tiwari-MSFT commented on #78705
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-23 01:12] Karishma-Tiwari-MSFT commented on #78712
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-23 01:13] Karishma-Tiwari-MSFT commented on #78717
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-23 01:44] mstada opened #78734 "Page broken when importing to AzurePortal"
When importing the latest quickstart changes into the azure portal, we noticed this page is broken. In particular, the `:::code` directive is not supported. Please revert to using code blocks as in other quickstarts such as https://github.com/MicrosoftDocs/azure-docs/blame/master/articles/active-directory/develop/quickstart-v2-aspnet-core-webapp-calls-graph.md#L87-L91

---
#### Document Details

⚠

[2021-07-23 01:51] jennyf19 commented on #78734
FYI @henrymbuguakiarie

[2021-07-23 02:07] rbrayb opened #78735 "Missing permissions for password change"
The code as documented here does not work for password change. You get a null object error.

The reason is permissions as documented here - https://docs.microsoft.com/en-us/azure/active-directory-b2c/microsoft-graph-get-started

You need to add the User administrator role,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-07-23 02:19] Wordie20 opened #78736 "Plagiarism and missing information"
Most of this page has been copy and pasted from this community post on the Cisco forums: https://community.cisco.com/t5/security-documents/anyconnect-azure-ad-saml-sso/ta-p/3810013

If you read through some bits do not even make sense as it has been copy and pasted and then somewhat changed to make it look like it was not initially a forum post. It is also littered with grammatical errors

Step 4

[2021-07-23 02:22] VikasPullagura-MSFT commented on #78728
@Trevor-Davis
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-07-23 02:22] VikasPullagura-MSFT commented on #78728
@roygara
Can you please check and add your comments on this doc update request as applicable.

[2021-07-23 02:26] BharathNimmala-MSFT commented on #78730
@nastassiar Thank you for reaching out with your query, assigned this issue to our document author to further review.

[2021-07-23 02:32] BharathNimmala-MSFT commented on #78731
@McMatty Thank you for reaching out with your query , we will look into it and get back to you at the earliest.

[2021-07-23 02:54] MonikaReddy-MSFT commented on #78524
@gagarine - Sorry for the inconvenience caused to you. We will ensure to update the documentation that doesn't have clear guidance. Do you mind sharing any specific document that you were going through while facing this issue?

[2021-07-23 03:22] stormshaun commented on #53717
What does "The DNS for your on prem agent must point webappname.scm.azurewebsites.net to the private ip of the Private endpoint.""mean? How is this achieved? The recommendation seems vague

[2021-07-23 03:23] adamasmar opened #78737 "Including Azure App Service Authentication Example"
Would there be any possibility of adding how to configure Azure SignalR to work when an App Service is using Authentication via an Identity Provider configured within the App Service itself? I have done some fairly basic App Service config changes through the Azure UI and get 403 errors when attempting to connect to the ChatHub. This goes away when I configure Authentication to allow unauthorized

[2021-07-23 03:32] sowmya3434 commented on #78455
Thanks for the update @ChaitanyaNaykodi-MSFT

[2021-07-23 04:14] tamram commented on #77749
@artemislee88 - Thanks for your feedback. This discrepancy has been addressed.

#please-close

[2021-07-23 04:14] #77749 closed

[2021-07-23 04:14] tamram commented on #78443
@sharadkeshari  - Thanks for your feedback. This discrepancy has been addressed.

#please-close

[2021-07-23 04:14] #78443 closed

[2021-07-23 04:15] tamram commented on #73769
@mark-strasser-nnl - Thanks for your feedback. This issue was addressed back in May in the docs. Sorry we didn't respond here until now.

#please-close

[2021-07-23 04:15] #73769 closed

[2021-07-23 04:22] tamram commented on #77805
@mauriciojost - There are two types of access policies available under the **Access policies** menu item. The first is a stored access policy for managing shared access signatures (SAS), and the second is an immutability policy (time-based retention policy or legal hold).

The second screenshot you include above is for a stored access policy, not an immutability policy. Make sure that you are sele

[2021-07-23 04:22] #77805 closed

[2021-07-23 04:23] KalyanChanumolu-MSFT commented on #78247
Linking similar issues

https://github.com/MicrosoftDocs/azure-docs/issues/78383

https://github.com/MicrosoftDocs/azure-docs/issues/78384

https://github.com/MicrosoftDocs/azure-docs/issues/78496

[2021-07-23 04:24] KalyanChanumolu-MSFT commented on #78383
@hyoshioka0128 We have created an internal Feedback item with our Localization team and will be addressing this issue at the earliest.
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-07-23 04:24] #78383 closed

[2021-07-23 04:24] KalyanChanumolu-MSFT commented on #78384
@hyoshioka0128 We have created an internal Feedback item with our Localization team and will be addressing this issue at the earliest.
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-07-23 04:24] #78384 closed

[2021-07-23 04:25] KalyanChanumolu-MSFT commented on #78496
@hyoshioka0128 We have created an internal Feedback item with our Localization team and will be addressing this issue at the earliest.
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-07-23 04:25] #78496 closed

[2021-07-23 04:26] KalyanChanumolu-MSFT commented on #78445
@hyoshioka0128 We have created an internal Feedback item with our Localization team and will be addressing this issue at the earliest.
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-07-23 04:26] #78445 closed

[2021-07-23 04:28] KalyanChanumolu-MSFT commented on #78247
@SunnyDeng Created [Internal Feedback Item](https://ceapex.visualstudio.com/CEINTL/_workitems/edit/461987) for these translation issues.

[2021-07-23 04:53] ram-msft commented on #78561
@danzel Thanks, Raised PR #https://github.com/MicrosoftDocs/azure-docs-pr/pull/166692  request for the same

[2021-07-23 05:06] vinaytejasvi91 opened #78739 "No correlation between Australia East Gateway IP address and Gateway Subnet CIDR IP Range"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1a62365-4312-8aad-d2f1-bb5c4184adf1
* Version Independent ID: 2ba5b809-8025-d7ee-c756-d6d1bab033fb
* Content: [Azure SQL Database Connectivity Architecture - Azure SQL Database and Azure Synapse Analytics](https://docs.microsoft.com/en-us/azure/azure

[2021-07-23 05:15] msewaweru commented on #76350
We have added a note in the article to highlight situations when the links would fail as explained above in [PR #166345](https://github.com/MicrosoftDocs/azure-docs-pr/pull/166345).
#please-close.

[2021-07-23 05:15] #76350 closed

[2021-07-23 05:24] psmanhas commented on #78517
@vinishgeorge Assuming that you have a CSP Subscription in place as mentioned [here](https://docs.microsoft.com/en-us/partner-center/customer-support#microsoft-partner-support-guidance) :

CSP customers can't create support tickets themselves. They need to contact you for support. CSP Partners are required to receive incoming support requests from their customers, diagnose issues to the best of yo

[2021-07-23 05:24] #78517 closed

[2021-07-23 05:25] Marco-Santoni opened #78740 "How to reuse connections among Python Function executions?"
Our main issue with scaling is that we define a connection to a DB or to a Service Bus within every Function execution. We did not find documentation on how to reuse the connection client among multiple Function executions.

There is [documentation](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-python?tabs=azurecli-linux%2Capplication-level#global-variables) on how to

[2021-07-23 05:26] HarshitaSingh-MSFT commented on #78560
Hello!
Just checking to see if you have had a chance to see the previous response. Kindly let us know if it answers your question and if you need further assistance on this issue.

[2021-07-23 06:07] SnehaAgrawal-MSFT commented on #78724
@saintshoobs Thank you for your feedback! We will review and update as appropriate.

[2021-07-23 06:10] SnehaAgrawal-MSFT commented on #78726
@saintshoobs Thank you for reaching here! Could you please elaborate your query to help you better on this.

[2021-07-23 06:12] SnehaAgrawal-MSFT commented on #78729
@v-mparker Thank you for your feedback! We will review and update as appropriate.

[2021-07-23 06:29] JayaChatterjee-MSFT commented on #78601
Hello @ggailey777, should we add a note ?

[2021-07-23 07:01] mingshen-ms commented on #70090
#please-close Thank you for the feedback @pvones. We have included this feedback in changes to the documentation that we will be publishing in the future.

[2021-07-23 07:01] #70090 closed

[2021-07-23 07:03] mingshen-ms commented on #71252
#please-close Thank you for the feedback @malscent. We have included this feedback in changes to the documentation that we will be publishing in the future.

[2021-07-23 07:03] #71252 closed

[2021-07-23 07:29] vinishgeorge commented on #78517
@psmanhas  sorry couldn't get that information yet . I will let you know once it is available with me. I will forward the above solution to the concerned team and will get back to you.

Thank you for the quick support !!

PS: The error image attached in the question is a bit misleading though it end with a semicolon ":" is it supposed to tell me the name of my Partner service provider ?

[2021-07-23 07:38] HarshitaSingh-MSFT commented on #78735
Hello @rbrayb , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-07-23 07:45] ram-msft commented on #78561
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-23 07:45] #78561 closed

[2021-07-23 08:12] SnehaAgrawal-MSFT commented on #78737
@adamasmar Thanks for the question! We are investigating and will update you shortly.

[2021-07-23 08:40] miqm commented on #78229
@hb66772-home - Right now what I've tested is that during deployment you need to click validate and update DNS entry. if you do this before task timeout (which is relatively long) your deployment will proceed.

[2021-07-23 08:48] Ravivarman13 opened #78741 "Does WAF policy custom Rule Support Hostname/Domain Name/FQDN as Remoteaddr"
[As per the documentation the Match variable mentioned as "RemoteAddr – IP Address/**hostname of the remote computer connection**" but  we have option only to choose IP address as source not the hostname or the domain name. This leads customers to think that they can block the malicious domain name, as the hostname defined as match variable in RemoteAddr.]

![image](https://user-images.githubuserc

[2021-07-23 08:56] Swilvan opened #78743 "Add plugin to Linux strongSwan CLI setup"
Hi there!

I used this page (specifically the Linux (strongSwan CLI) part) to configure a p2s vpn connection on my ubuntu 20.04 machine and found it to be almost perfect. My vpn only worked after I ran across https://github.com/MicrosoftDocs/azure-docs/issues/32421 and realised that I had to install `libcharon-extra-plugins` to get it to work completely.
I think it would be swell if you could add

[2021-07-23 08:57] vivaladan commented on #67794
I've lost a ton of time trying to diagnose why zip deploys keep deploying to storage and changing WEBSITE_RUN_FROM_PACKAGE from "1" to a URL. I was following docs, so would really appreciate it if the docs are correct. What is the optimum way of deploying to a linux func app then for cold start time?

[2021-07-23 09:44] pascalvanegmond opened #78744 "Suggestion to improve the docs about the status of the freshly created edge device"
Hi,

I'm new to Edge device programming. So I followed this guide to set up my first edge device.
What is was struggling with it that after completing the guide my device returned a `417 -- The device's deployment configuration is not set`
I thought something went wrong with setting up my device.  Since when I did a `docker ps -a` I could only see edgeAgent container and not the edgeHub container.

[2021-07-23 09:52] Tasos-Torou commented on #78637
Thank you. Awaiting your response.

[2021-07-23 09:53] v-hagamp commented on #74864
#please-close

[2021-07-23 09:53] #74864 closed

[2021-07-23 09:57] supachris28 commented on #77655
Hi Pramod,

This doesn't work in dotnet 5 - we can't find any combination of anything
that allows setting a port when debugging from visual studio.

On Tue, 6 Jul 2021, 12:39 Pramod Valavala, ***@***.***> wrote:

[2021-07-23 09:59] shashishailaj commented on #78734
@mstada Thank you for sharing this. We are engaging with the team internally to get it fixed.

@henrymbuguakiarie Could you please check this one ?

[2021-07-23 10:09] AnuragSharma-MSFT commented on #78739
@vinaytejasvi91 Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-07-23 10:12] shashishailaj commented on #78736
@Wordie20 Thank you for providing your valuable inputs on this page. I agree that we definitely can change the grammar and the content on this page. It was written some time ago. However if we do not need to call Cisco TAC now-a-days for this scenario , we will update the same after checking this again . I am engaging the product team for reviewing this one to see how best this can be addressed. P

[2021-07-23 10:27] artparks commented on #64660
Please can this be re-opened? The missing functionality discussed in this thread has, to the best of my knowledge, not been addressed.

[2021-07-23 10:49] henrymbuguakiarie commented on #78734
@mstada Sure let me check it.

[2021-07-23 10:57] dominicbetts commented on #78478
Hi @scout208 - thanks for getting in touch. I'll let you know as soon as I find out what the plan is for this article.

[2021-07-23 11:09] AshokPeddakotla-MSFT commented on #78744
@pascalvanegmond Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-07-23 11:19] SadiqhAhmed-MSFT commented on #78497
@VictorSago Closing this issue for now as now further action required.

[2021-07-23 11:19] #78497 closed

[2021-07-23 11:21] VaclavK commented on #78325
trying to do the same and continue getting   "message": "Alert rule payload cannot be empty" (bad request) - which I assume is related to this

even doing alert manually and exporting template and running it gives me the same response.

[2021-07-23 11:26] pnl0ep7f commented on #78325
HI @VaclavK  , for api version 2021-02-01-preview, the alert gets created but the custom json settings are not set. and for the api version 2018-04-16 , I am also getting the same error as you  "message": "Alert rule payload cannot be empty" (bad request)

[2021-07-23 11:36] SubhashVasarapu-MSFT commented on #78743
@Swilvan, Thanks for reaching out. We will investigate and update this thread.

[2021-07-23 11:37] Swilvan commented on #78743
Cheers! Let me know if I can help out

[2021-07-23 11:38] VaclavK commented on #78325
would you mind sharing your 2021 preview api resource template snippet?

I don;t get it to work with the 2021 version or 2018

my snippet

{
        "type": "microsoft.insights/scheduledqueryrules",
        "apiVersion": "2021-02-01-preview",
        "name": "CustomQATestAILogQuery",
        "location": "westeurope",
        "properties": {
            "displayName": "CustomQATestAILogQuery",

[2021-07-23 11:49] AshokPeddakotla-MSFT commented on #78683
@flexiteam-hakiem I'm unable to reproduce this issue. Are you still blocked?
@anastasia-ms Can you look into this issue?

[2021-07-23 11:58] VaclavK commented on #78325
@pnl0ep7f  interestingly it worked for me with 2020-05-01-preview

[2021-07-23 11:59] psmanhas commented on #78705
@GrzegorzHejman Thank you for your query!!!

One method I can think of is to make use of Builder Template deployment which you can modify during deployment process to tag the resources created during deployment.

Template Link here : https://docs.microsoft.com/en-us/azure/virtual-machines/linux/image-builder-json

For adding tags you can follow something as mentioned [here](https://docs.microsoft.

[2021-07-23 12:00] HarshitaSingh-MSFT commented on #78740
Hello @Marco-Santoni , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-07-23 12:01] psmanhas commented on #78517
@vinishgeorge You are correct. As far as I have seen it ideally it gives the contact email atleast who to reach out to . Not sure why it is not showing up here

[2021-07-23 12:16] SubhashVasarapu-MSFT commented on #78741
@Ravivarman13, looks like the doc needs an update. WAF receives requests form of IP address which is RemoteAddr but not from Domains/RemoteHostnames. We will check with the backend team on this and will update the document accordingly.

[2021-07-23 12:21] krishrocks1904 opened #78749 "even though microsoft claiming to get rid of start stop trigger step with new CI improvement (41:17 https://www.youtube.com/watch?v=bxTU4Lx_TSM"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 126c00f8-e9d2-4af1-65b1-67a1e5516197
* Version Independent ID: 30660b73-1e11-3e1f-f2c8-1daa094a410a
* Content: [Automated publishing for continuous integration and delivery - Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/cont

[2021-07-23 12:24] krishrocks1904 opened #78750 "Start Stop still requires in new CI improvement"
[Enter feedback here]

even though microsoft claiming to get rid of start stop trigger step with new CI improvement but its not working.

refer time 41:17
here on this microsoft video
https://www.youtube.com/watch?v=bxTU4Lx_TSM
but its not working I am still getting the error

![image](https://user-images.githubusercontent.com/67486994/126781028-8ff1c570-ac3e-474b-ba2e-c321f9375aa3.png)

---
####

[2021-07-23 12:49] gomateus opened #78752 "Wrong link when we click on the second option (RBAC)"
The second link that should take us to RBAC documentation when accessing event hubs actually takes us to SAS documentation:

Please replace the link with the correct one.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4642657-5800-d9af-69cd-9623b8e2c4bc
* Version Independent ID: 5fb587c3-318f-56a9-6eb2-0d3935e

[2021-07-23 12:58] roflemin opened #78753 "Need to update the requirements for this feature to match production"
The article should state is is required to have a Sentinel enabled workspace which has the SecurityInsight solution installed before the CommonSecurityLog will be present. Without this the table will not be created and available for queries.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cbfa632-1612-9d5f-7f36-3128d73

[2021-07-23 13:01] v-bbalaiagar commented on #78586
Hi @Karishma-Tiwari-MSFT, I have taken the code from this document - https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-warmup?tabs=csharp

[2021-07-23 13:21] v-bbalaiagar opened #78755 "ANSI control characters in container logs."
Logs contain ANSI control characters, making the log output slightly more difficult to read.

**Repro steps**

1. Create a containerized Azure Function for Linux, as indicated at https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image?tabs=bash%2Cportal&pivots=programming-language-csharp#create-and-test-the-local-functions-project
2. Publish the image to

[2021-07-23 13:57] GitaraniSharma-MSFT commented on #78710
@kvietmeier , We have assigned this to the content owner/author for review.

@laxmanrb , for your review.

[2021-07-23 14:02] GitaraniSharma-MSFT commented on #78729
@v-mparker , We have assigned this to the content owner/author for for updating the doc accordingly..

@asudbring , could you please update the steps under "[Create Outbound rule](https://docs.microsoft.com/en-us/azure/load-balancer/quickstart-load-balancer-standard-public-portal?tabs=option-1-create-load-balancer-standard#create-outbound-rule)" as they do not include options to create new fronten

[2021-07-23 14:04] VikasPullagura-MSFT commented on #78728
@Trevor-Davis

These instructions are not missing, the [Prerequisites](https://docs.microsoft.com/en-us/azure/virtual-machines/disks-pools-deploy?tabs=azure-portal&source=docs#prerequisites) section has a mention on that you need to create disks.

Hope the provided information is helpful.

We will now close this issue as there are no document updates required at this point. If there are further qu

[2021-07-23 14:04] #78728 closed

[2021-07-23 14:06] Vallentyne opened #78756 "typo in image"
Obviously a minor one, but there is a typo in the main image on this page: https://docs.microsoft.com/en-us/azure/vpn-gateway/media/site-to-site-vpn-private-peering/routing.png

"Exress route"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56e6b95b-6755-01d7-6e2d-72dfeb474a1a
* Version Independent ID: ef384f98-fe94-688

[2021-07-23 14:13] GitaraniSharma-MSFT commented on #78756
@Vallentyne , thank you for the feedback. We have assigned this to the content owner/author for updating the image in the doc correctly.

@cherylmc , could you please update the correct the typo in the figure 1 of [Routing](https://docs.microsoft.com/en-us/azure/vpn-gateway/site-to-site-vpn-private-peering#routing) section to **Express Route**:

![image](https://user-images.githubusercontent.com/6

[2021-07-23 14:15] GitaraniSharma-MSFT commented on #78380
@tullydwyer , Since we have not heard back from you we will now proceed to close this thread. Please do let us know once you email us the support request number and we will reopen the issue for further investigation.

[2021-07-23 14:15] #78380 closed

[2021-07-23 14:31] andrewphaine commented on #36222
Is there any answer or resolution for this? I get the same when deploying a VM using an ARM Template - VM and disk resource group are uppercase.

[2021-07-23 14:39] #78629 closed

[2021-07-23 14:41] SnehaAgrawal-MSFT commented on #78629
@proximity-vb Thanks for the feedback! The PR has been created it will visible soon.

[2021-07-23 14:44] thecpshah commented on #78703
Thanks for your reply. However, `interpret.ml` which is a community version is also maintained by Microsoft, as shown the image attached.

So again, why the need to use Azure specific package?

<img width="887" alt="Screenshot 2021-07-23 154205" src="https://user-images.githubusercontent.com/10298891/126799001-d13dbd98-5778-4f91-a1ff-2a047d8b640f.png">

[2021-07-23 14:52] umarlatif-lab opened #78758 "Preview commands not in line with GA"
The commands on this page are not in line with the current commands - which changed when Azure Image Builder went from preview to GA - most of this page in fact needs updating.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdd1ceed-3b0d-e6ea-c508-c17a7cadddd1
* Version Independent ID: 1ec9906b-ea9d-535b-9523-5f45aa342

[2021-07-23 14:54] faustinopalma opened #78759 "The explanation about Capacity Priority is misleading"
From this page in our documentation, a customer may interpret that Reserved Instances with Capacity Priority does guarantee that the capacity will be available but, from experience, it seems to be not true.

On other threads on GitHub, there are answers form Microsoft's employees that are contradictory:
Capacity is guaranteed --> "By choosing to go with Capacity Priority over Size Flexibly we will

[2021-07-23 14:57] mimckitt commented on #36222
We added a comment about this in the naming convention doc

https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/resource-name-rules

Essentially, the only answer/ resolution is that you need to either adjust your app to not be case specific or add additional scripts in place to adjust the case. Engineering is aware of this casing issue but we have no ETA on a fix.

[2021-07-23 15:33] diberry opened #78760 "C# Logger version number - caveat when using Entity Framework"
I'm converting much older code that uses Entity Framework for the data layer to a C# Function which has to be 3.x because the EF dependency doesn't work with Core 5x - and probably won't be until .Net Core 6x (@anthonychu @IEvangelist to verify)

So I'm setting up a test project for my C# Function app which depends on EF, so the whole thing is .Net Core 3.x - this article as stated - doesn't tell

[2021-07-23 15:42] JamesTran-MSFT commented on #78714
@voidmodular
Thank you for your time and patience throughout this issue. Since Justin and I didn't have any issues with the link in the doc, I'm going to close out this issue.

If you're still experiencing problems downloading the NPS extension using the link, please let me know and I'd be more than happy to re-open this issue and look into this.

Thank you!

[2021-07-23 15:42] #78714 closed

[2021-07-23 16:00] donchai opened #78761 "-RoutingWeight effect on Azure Site to Site IPsec connections targeting same On-premise address spaces"
Is -RoutingWeight found in this page applicable to Site to Site VPN connection as follow?

On-premise A VPN GW Device#1 (local subnet 10.0.0.0/16) -> Internet (Site to Site IPsec 1st tunnel) -> Azure VPN GW#1 (remote subnet 192.168.0.0/16 with -RoutingWeight 1000)
On-premise A VPN GW Device#2 (local subnet 10.0.0.0/16) -> Internet (Site to Site IPsec 2nd tunnel) -> Azure VPN GW#1 (remote subnet 19

[2021-07-23 16:12] #78734 closed

[2021-07-23 16:16] ecfan commented on #74722
We have a doc work item and PR opened to clarify the example. Thanks!

[2021-07-23 16:26] jlichwa commented on #78238
@scott we have that explained in certificates documentation https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#composition-of-a-certificate

[2021-07-23 16:27] MartinJaffer-MSFT commented on #78413
I figured out some of the Kusto query.  Use Parse to extract pieces of the JSON to make new columns.

Using the StormEvents example,

StormEvents
| limit 3
| parse StormSummary with * 'TotalDamages":' TotalDamages:long * 'StartTime":"' StartTime  '"Description":' Description
| project TotalDamages, StartTime, Description

[2021-07-23 16:35] SnehaAgrawal-MSFT commented on #78537
@trichardson010 further to add more on this, AMP has not very flexible support for pre and mid rolls.
If you are looking for a more advanced player framework – that better supports full ad models – would be to look at Bitmovin.com or Theo Player.

We will now close this, if you have further query let us know.

[2021-07-23 16:35] #78537 closed

[2021-07-23 16:37] MarileeTurscak-MSFT commented on #78753
@roflemin
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-23 16:37] jlichwa commented on #77120
Thank you @andrewrondeau-optirtc. It is fixed. #please-close

[2021-07-23 16:37] #77120 closed

[2021-07-23 16:38] jlichwa commented on #78182
@AArnott thank you. We fixed the issue. #please-close

[2021-07-23 16:38] #78182 closed

[2021-07-23 16:39] MartinJaffer-MSFT commented on #78413
Okay, this needs polish, but it does work as proof of concept.

Query (all except event type are parsed from json)
`StormEvents
| limit 3
| parse StormSummary with * 'TotalDamages":' TotalDamages:long * 'StartTime":"' StartTime  '"Description":' Description
| project TotalDamages, StartTime, Description, EventType`

mapping (image)
![image](https://user-images.githubusercontent.com/46612670/126813

[2021-07-23 16:39] #78413 closed

[2021-07-23 16:42] scott1138 commented on #78238
@jlichwa while you aren't wrong, it isn't very clear.  The whole reason I opened this issue was a co-worker was questioning my i
implementation and referring to the document the issue was open on.  I think changing the section I copied below to include certificate data under secrets would be helpful.  It's kind of subjective, so if it isn't something you feel is helpful, it's OK to close this issu

[2021-07-23 16:47] shizn opened #78762 "The link to GitHub Actions sample is not working"
As title. The repo was private archived.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be62de4a-a2fb-9c31-95af-a7877d7ddeb3
* Version Independent ID: de6778b8-6947-c1c2-46f2-dc1e5393d7eb
* Content: [CI/CD for Azure API Management using ARM templates](https://docs.microsoft.com/en-us/azure/api-management/devops-api-dev

[2021-07-23 16:51] v-gpettibone commented on #66083
The steps for creating an IoT Hub by using the portal were updated a few months ago and are now current.

[2021-07-23 16:51] v-gpettibone commented on #66083
#please-close

[2021-07-23 16:51] #66083 closed

[2021-07-23 16:52] ChaitanyaNaykodi-MSFT commented on #78760
Hello @diberry,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.
FYI - @craigshoemaker

[2021-07-23 16:55] #78758 closed

[2021-07-23 16:55] umarlatif-lab commented on #78758
Sorry my mistake please ignore this

[2021-07-23 16:56] bhsanghv opened #78763 "Cannot see any option to Add a RH ALert through AKS Cluster"
[Enter feedback here]
I cannot see any option to setup RH Alert via AKS Cluster. The only option available is through Service Health. Has anything changed recently? Or I need to setup something to enable RH Alert through the AKS Cluster page rather than doing it from the Service Health Page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2021-07-23 16:56] lukealton opened #78764 "Reader Permissions for Azure AD Authentication Method Policies?"
There doesn't appear to be a documented role that can provide read-only permissions to the authentication method policy blade in Azure AD. Neither the Global Reader or Security Reader role provide those permissions. If there isn't a role for that, it would be helpful to document that as another bullet point under the Global Reader role limitations or start a similar limitation note section under t

[2021-07-23 16:59] yalamarti opened #78765 "Could you please mention in this FAQ how the Cosmos based cache handles changes to the DB connection string, in case we are using a connection string Azure KeyVault as our configuration backend. Thank you."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e99cfa38-05f5-d225-a540-73bc0e5f314e
* Version Independent ID: ed098969-0af1-152f-67b6-d9e1e4849766
* Content: [Azure Cosmos DB integrated cache frequently asked questions](https://docs.microsoft.com/en-us/azure/cosmos-db/integrated-cache-faq)
* Conte

[2021-07-23 17:08] KranthiPakala-MSFT commented on #78749
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-07-23 17:09] KranthiPakala-MSFT commented on #78749
Seems like this is a duplicate of the other thread: https://github.com/MicrosoftDocs/azure-docs/issues/78750

Hence closing this as duplicate.

[2021-07-23 17:09] #78749 closed

[2021-07-23 17:11] KranthiPakala-MSFT commented on #78750
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-07-23 17:11] Karishma-Tiwari-MSFT commented on #78758
Thanks for sharing the update.

[2021-07-23 17:14] KranthiPakala-MSFT commented on #78752
Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2021-07-23 17:14] v-gpettibone commented on #63273
A new X.509 certificate tutorial has recently been added to the documentation. Please see the following articles:

https://docs.microsoft.com/en-us/azure/iot-hub/tutorial-x509-introduction
https://docs.microsoft.com/en-us/azure/iot-hub/tutorial-x509-certificates
https://docs.microsoft.com/en-us/azure/iot-hub/tutorial-x509-scripts
https://docs.microsoft.com/en-us/azure/iot-hub/tutorial-x509-openssl

[2021-07-23 17:14] v-gpettibone commented on #63273
#please-close

[2021-07-23 17:14] #63273 closed

[2021-07-23 17:16] mtillman commented on #75103
#re-assign Nicholak-MS

[2021-07-23 17:17] mtillman commented on #76972
#reassign Nicholak-MS

[2021-07-23 17:17] mtillman commented on #76978
#reassign Nicholak-MS

[2021-07-23 17:18] mtillman commented on #77128
#reassign Nicholak-MS

[2021-07-23 17:18] mtillman commented on #77562
#reassign Nicholak-MS

[2021-07-23 17:18] mtillman commented on #77581
#reassign Nicholak-MS

[2021-07-23 17:19] josuvil opened #78768 "Source Anchor value updates using the Apply Fix method"
Hello,

It would be nice to include on this great document information about how the "Apply Fix" method updates source anchor values on orphaned objects. We understand that in scenarios where there is a UPN conflict (Error Type: QuarantinedAttributeValueMustBeUnique), that this health service portal can a) update the source anchor value using the value of the quarantined object and delete the quar

[2021-07-23 17:19] mtillman commented on #78007
#reassign Nicholak-MS

[2021-07-23 17:19] mtillman commented on #78029
#reassign Nicholak-MS

[2021-07-23 17:20] mtillman commented on #78499
#reassign Nicholak-MS

[2021-07-23 17:23] KranthiPakala-MSFT commented on #78765
Thanks for the feedback! We have assigned the issue to the content author to further review this and provide an update as appropriate.

[2021-07-23 17:27] v-gpettibone commented on #45301
A new x.509 tutorial has recently been added which addresses this issue. Please see the following:
https://docs.microsoft.com/en-us/azure/iot-hub/tutorial-x509-introduction
https://docs.microsoft.com/en-us/azure/iot-hub/tutorial-x509-certificates
https://docs.microsoft.com/en-us/azure/iot-hub/tutorial-x509-scripts
https://docs.microsoft.com/en-us/azure/iot-hub/tutorial-x509-openssl
https://docs.mi

[2021-07-23 17:29] v-gpettibone commented on #45301
#please-close

[2021-07-23 17:29] #45301 closed

[2021-07-23 17:31] JasonWHowell commented on #78637
The port you mentioned is for communication with Azure Service Bus AMQP is here: https://docs.microsoft.com/azure/service-bus-messaging/service-bus-faq#what-ports-do-i-need-to-open-on-the-firewall--

[2021-07-23 17:35] SnehaGunda commented on #78247
I also created an issue: https://ceapex.visualstudio.com/CEINTL/_workitems/edit/461781

[2021-07-23 17:41] KranthiPakala-MSFT commented on #78673
Hi @leifbro - Could you please review this feedback and update the doc as needed? - Thank you

![image](https://user-images.githubusercontent.com/50185738/126820748-fd219fc2-3d05-49dc-bc69-e052ef9d8b4a.png)

![image](https://user-images.githubusercontent.com/50185738/126820772-07e1d436-467b-496a-bd82-55fb0a6441d5.png)

[2021-07-23 17:42] SaurabhSharma-MSFT commented on #78609
@ShiningMassXAcc We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-07-23 17:42] #78609 closed

[2021-07-23 17:42] #78573 closed

[2021-07-23 17:48] KranthiPakala-MSFT commented on #78725
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2021-07-23 17:53] william-cairns opened #78771 "Describe how to view/edit the idle timeout"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 802f720e-6a3d-c4f9-b646-789f53f80f11
* Version Independent ID: ff8d3d52-9b1b-25a9-6833-fb7f3fa4e1cf
* Content: [Web terminal - Azure Databricks - Workspace](https://docs.microsoft.com/en-us/azure/databricks/clusters/web-terminal)
* Content Source: [da

[2021-07-23 18:01] elvirk commented on #78533
@krish-gh  - my additional question related to this issue is that in my 'main.bicep' file I have following module:

module spokeVNET './vnet.bicep' = {
  name: 'spoke-vnet'
  scope: resourceGroup(otherSubscriptionID)
  params: {
    prefix: 'spoke'
    addressSpaces: [
      '192.168.1.0/24'
      '10.0.0.0/23'
    ]
    subnets: [
      {
        name: 'spoke-vnet'
        properties: {

[2021-07-23 18:01] asears opened #78772 "Role should be Storage Blob Data Reader"
The full name in the role on this page should be Storage Blob Data Reader, as linked to here.
https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#storage-blob-data-reader

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81c80f3d-0b15-6bd8-775c-15abff5d7a1a
* Version Independent ID: aaada5e3-7c

[2021-07-23 18:07] JamesTran-MSFT commented on #78764
@lukealton
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-23 18:08] JamesTran-MSFT commented on #78768
@josuvil
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-23 18:15] Markus-Wolff opened #78773 "Azure Cloud Services"
Azure Cloud Service can no longer be found in the Azure Portal; I was only able to find it via search engine. It seems to be in extended support; as I will need soon sharding and split-merge for a productive app; can you please provide a new and supported option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b10fc569-

[2021-07-23 18:24] MarileeTurscak-MSFT commented on #78753
This aligns with what I have seen in corresponding guidelines. I made a pull request to update the prerequisites. https://github.com/MicrosoftDocs/azure-docs-pr/pull/166768

@yelevin please confirm.

[2021-07-23 18:24] #78753 closed

[2021-07-23 18:26] balag0 commented on #67794
Run From Package = External Url is the optimum (and currently only way) to deploy to Linux function app.

[2021-07-23 18:40] ladykraken commented on #78686
#sign-off

[2021-07-23 18:46] Hazhzeng commented on #78740
Define the SQL client engine in global scope. Initialize it on the first call. Here's an example:
[code]

[code]

[2021-07-23 18:49] KranthiPakala-MSFT commented on #78595
@tgpmoraes - Just had a confirmation from content team that there is already an effort going on in update the shared docs to different between Synapse and ADF features. Hopefully those changes will be live in couple of weeks.

As this feedback is already being tracked internally and a work is in progress, we will now proceed to close this thread. If there are further questions regarding this matte

[2021-07-23 18:49] #78595 closed

[2021-07-23 18:50] #78725 closed

[2021-07-23 18:53] AjayKumar-MSFT commented on #78085
chtourou-youssef, Apologies for the delay. We have raised a PR, once it's reviewed and merged, the doc would reflect changes appropriately. We will close this for now, thanks again for taking time to share your feedback.

[2021-07-23 18:53] #78085 closed

[2021-07-23 19:03] ecfan commented on #26707
This update is live:

https://docs.microsoft.com/azure/logic-apps/concepts-schedule-automated-recurring-tasks-workflows#run-once-at-last-day-of-the-month

https://docs.microsoft.com/azure/connectors/connectors-native-recurrence (inline example under **Workflow definition**)

[2021-07-23 19:08] Blackmist commented on #75560
Sorry for the late response on this @gvashishtha

After consulting with the engineering team, we have decided to remove this article. The engineering team has recommended that we direct customers to the new [Azure CLI extension for ML (2.0)](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-configure-cli) preview if they are interested in building continuous integration and deployment

[2021-07-23 19:08] #75560 closed

[2021-07-23 19:12] knicholasa commented on #77523
Hi @hanslai, thanks for your feedback. We have added a note for those who are using .NET 5 so that they use the latest template with the auth code flow.

[2021-07-23 19:12] knicholasa commented on #77523
#please-close

[2021-07-23 19:12] #77523 closed

[2021-07-23 19:17] #78680 closed

[2021-07-23 19:20] MicrosoftGuyJFlo commented on #78671
@r-milne Correct. The Intune doc wins here. I will make the update.

[2021-07-23 19:21] leifbro commented on #78673
Fixed in Databricks source. Will bed deployed to docs.microsoft.com between now and Monday night

[2021-07-23 19:39] Ivaylo1 opened #78775 "Update needed"
[Enter feedback here]
in this paragraph https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-bgp-overview#can-i-use-32-bit-4-byte-asns

The information is no longer correct. 32-bit ASN could be configured in the GUI by providing the number in an AS plain format.
Actually we weren't able to do it in the CLI since the number was converted in intiger so the number's postfix is not accepted

[2021-07-23 19:40] YutongTie-MSFT commented on #78772
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-23 19:41] shashishailaj commented on #60776
The Nuget error is not seen now . There are a few things which are fixed for this one however , this still does not complete and  we have raised this internally to have it fixed. I do not have a timeline for this one yet but we should see some traction within this quarter. At this point I will close this thread and will update once the article is updated.

Thank you.

[2021-07-23 19:41] #60776 closed

[2021-07-23 19:49] #78671 closed

[2021-07-23 19:59] HarshitaSingh-MSFT commented on #78694
I was able to reproduce this, let me get back to you with an update.

[2021-07-23 20:04] CaitlinV39 commented on #78244
@zxue would you be able to review this?

[2021-07-23 20:17] gmndrg opened #78776 "Azure Databricks integration with Redis only works with Redis Enterprise"
It is not clear that Azure Databricks integration with Azure Cache for Redis will only work with Redis Enterprise and not with other SKUs.

In the notebook of how to integrate: https://docs.microsoft.com/en-us/azure/databricks/_static/notebooks/redis.html explains that it works with a package that is for Redis Enterprise only.

Please clarify in the documentation the type of Azure Cache for Redis

[2021-07-23 20:19] bstollnitz opened #78777 "Extra word "We" in introduction"
The introductory section for this page contains the following sentence:

"We For example, when deployed into a secured Azure Virtual Network."

The word "We" should be removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffaa9580-1a45-09b4-5b1e-73e0e01adcc5
* Version Independent ID: 289a227d-1f6e-db2a-998e-4cb8aa95a

[2021-07-23 20:29] joheec opened #78778 "Permission Denied (publickey)"
On my mac, I was unable to ssh until I went to the virtual machine > Support + troubleshooting > Reset password and added my public ssh key there.

Took me a while to find this solution, an would be helpful to have in the docs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbbd6dbf-a5be-f8cf-4f8d-08809db1d973
* Version

[2021-07-23 20:35] bwren commented on #77683
@andrewDoing If I remember correctly, we tested these against existing resources. Are you talking about a template where you create the resource and define its diagnostic setting at the same time? Probably would help for us to have an note specifying that.

[2021-07-23 20:37] shashishailaj commented on #78577
@G0PINATH-WW You are correct.  I used the following snippet to test the same.

**#Token using Powershell .**
[code]
The SAS token in the end does have a service version **2019-07-07** when acquired through the latest Az.Storage module (3.9.0) and its **2020-08-04** when we try to obtain the SAS token from the portal as seen below.

**#Token from Portal**
[code]
We will take this up internally with

[2021-07-23 20:43] bwren commented on #78505
Thanks. Looks like someone already made that update for us.

#please-close

[2021-07-23 20:43] #78505 closed

[2021-07-23 20:46] v-gpettibone commented on #63590
The old name actually only occurred in one include file (iot-hub-include-create-hub.md) that is used in many other documents. It tells people how to create a hub using the portal. This has been fixed on PR 166785 - https://github.com/MicrosoftDocs/azure-docs-pr/pull/166785

[2021-07-23 20:47] v-gpettibone commented on #63590
#please-close

[2021-07-23 20:47] #63590 closed

[2021-07-23 20:47] zxue commented on #78244
If OAuth2 authorization code grant type is used, grant the user with the same role. I will create a PR to add the extra step. Also I will add a link to the application registration doc.

[2021-07-23 20:59] KranthiPakala-MSFT commented on #78673
Thanks @leifbro for the quick fix.

@oscarmandley - Thanks for reporting this issue. PR for the fix has been submitted and changes should reflect by end of Monday.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2021-07-23 20:59] #78673 closed

[2021-07-23 21:04] sturrent opened #78779 "AKS Uptime SLA documentation should include limitations around conflicting address spaces"
Currently, the uptime SLA feature requires the Openvpn tunnel implementation which uses 172.30.0.0/16, 172.31.0.0/16.
The Azure CNI documentation mentions that the cluster "may not use" those ranges, but this can be confusing for users that don't have a good Azure and AKS networking understanding.

For example:
Creating an AKS cluster with Azure CNI and using subnet cidr 172.0.0.0/16 does not have

[2021-07-23 21:05] KranthiPakala-MSFT commented on #78771
Hi @william-cairns Thanks for reaching out. Could you please elaborate a bit on your feedback.

This channel is for driving improvements towards MS Docs, in case if this is a product related to question, we request you to please reach out in other forums like [Microsoft Q&A](https://docs.microsoft.com/answers/products/) or Stackoverflow. We have our engineers and other community members who will b

[2021-07-23 21:09] MarileeTurscak-MSFT commented on #78655
The RBAC service team confirmed that some types are used only internally and should not be exposed in the REST spec. (Reference: https://github.com/Azure/azure-cli/issues/11594).

They advised to only use User, Group or ServicePrincipal.

CC: @rolyon

[2021-07-23 21:09] #78655 closed

[2021-07-23 21:10] roygara commented on #78348
#please-close

[2021-07-23 21:10] #78348 closed

[2021-07-23 21:12] KranthiPakala-MSFT commented on #78776
Hi @gmndrg -
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2021-07-23 21:13] KranthiPakala-MSFT commented on #78776
@leifbro - Could you please review this enhancement feedback? - Thank you

[2021-07-23 21:28] bwren commented on #78257
Thanks, and I agree. We know we have some work to do with AMA and DCRs, and we'll be getting to this level of detailed content soon. As AMA starts to support critical features like VM insights and Sentinel, it will be completely replacing Log Analytics agent, and we 'll be shifting over all our documentation, and AMA/DCR documentation is going to get some significant resources.

#please-close.

[2021-07-23 21:28] #78257 closed

[2021-07-23 21:34] YutongTie-MSFT commented on #78777
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-23 21:35] gcmlpfaltaher opened #78781 "Standard Logic Apps: Why is a Storage Account Required for "Stateless" workflows for Logic Apps?"
In the documentation, it mentions that a Storage Account is required for "Stateless" workflows for Standard Logic Apps.  Shouldn't it instead state required for "Stateful" workflows for Standard Logic Apps?  The documentation doesn't line up with the purpose of having a stateless workflow.

Can someone help provide some feedback as to why we'd need a storage account for a "Stateless" workflow?

--

[2021-07-23 22:15] roygara commented on #77325
@jenellea Thanks for reaching out and bringing this to our attention, we appreciate it! I've gone ahead and updated the article, the changes should be live early next week.

Accordingly, I'll close this out.

#please-close

[2021-07-23 22:15] #77325 closed

[2021-07-23 22:16] kingeke opened #78782 "NO PHP??"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b2f8fc6-8048-42e9-803f-6b5f307664c9
* Version Independent ID: 0744fa48-8797-e4fb-5ed9-6395adfc7656
* Content: [Acquire tokens to call a web API (daemon app) - The Microsoft identity platform](https://docs.microsoft.com/en-us/azure/active-directory/de

[2021-07-23 22:23] tamaszl opened #78783 "wrong URL in Fortinet ssl-vpn saml guide prevents it to work properly"
[Enter feedback here]
on step 4 the urls are wrong

change to:
add saml
a. https://<FQDN>/remote/saml/login
remove /
b. https://<FQDN>/remote/saml/metadata

c. https://<FQDN>/remote/saml/login

d. https://<FQDN>/remote/saml/logout

You can also verify this information from Fortinet guide:
https://docs.fortinet.com/document/fortigate-public-cloud/6.4.0/azure-administration-guide/584456/configuring-

[2021-07-23 22:33] roygara commented on #78134
@verboompj Thanks for reaching out, we appreciate it! We've since updated the article and removed that parameter.

#please-close

[2021-07-23 22:33] #78134 closed

[2021-07-23 22:48] MartinJaffer-MSFT commented on #78750
@krishrocks1904 I have watched the video at the time specified.  I agree it sounds to imply the start/stop trigger part was integrated into an NPM package.  Should that be the case, you may need to update the package to latest version.

However, counter to the implication that the start/stop is managed for you, I see no mention in the documentation of this being the case.  In 2 places, the documen

[2021-07-23 22:52] MartinJaffer-MSFT commented on #78750
Thank you for your feedback. This has been assigned to the content owner, @nabhishek , and will be updated as appropriate.

@nabhishek , there is a contradiction between a video you presented in, and the Azure doc.  Can you please spare a moment to speak to the truth of whether Start/Stop trigger script is managed by ADO package, or still needs customer application?

[2021-07-23 22:57] mrochon opened #78784 "The title and placement of this article is misleading"
The article describes how to enable a developer portal user to access an API that has already been configured to validate OAuth2 tokens. It does not add any new protection to the back-end. It uses the Authz Code grant, which is OK for the developer portal, which is user-facing but for the APIM itself, which just gets called by client apps. Some of the other articles parallel to this one do that, e

[2021-07-23 23:07] MarileeTurscak-MSFT commented on #78783
@tamaszl
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-23 23:13] MarileeTurscak-MSFT commented on #78783
Thank you. I checked your guide and made a pull request to update the URLs: https://github.com/MicrosoftDocs/azure-docs-pr/pull/166816

CC: @jeevansd

[2021-07-23 23:13] #78783 closed

[2021-07-23 23:24] MarileeTurscak-MSFT commented on #78782
Hi @kingeke,

I am assigning your request to the content author, @jmprieur , for review.

[2021-07-23 23:56] LAKeller88 opened #78785 "I'm being billed for a subscription that I don't have."
I don't have a subscription, and never have but I'm being billed for a subscription.

I see the alias "v-lakell."  I did work for a MSFT group more than a year ago and used that alias. I used Azure with the team but did not have a personal subscription.

I am now "v-lakeller." I don't use Azure at all.

You'll see that any subscription that is erroneously attached to my former alias has *never* be

[2021-07-24 00:08] Oury-MSFT commented on #78773
@Markus-Wolff Thanks for contacting Microsoft. Are you able to access the Azure Portal?

[2021-07-24 00:19] jmprieur commented on #78782
Thanks for your feedback
@SaeedAkhter-MSFT for consideration

[2021-07-24 00:22] mbendana opened #78786 ""message": "GroupType cannot be set for security groups assignable to roles."
Is there a bug in Microsoft Graph?

The following query fails with the following error if the "mailEnabled" property is set to "false" in the request body.

POST https://graph.microsoft.com/beta/groups
{
  "description": "This group is assigned to Helpdesk Administrator built-in role of Azure AD.",
  "displayName": "Contoso_Helpdesk_Administrators",
  "groupTypes": [
    "Unified"
  ],
  "isAssign

[2021-07-24 00:59] Karishma-Tiwari-MSFT commented on #78759
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-24 01:12] Karishma-Tiwari-MSFT commented on #78761
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-24 01:12] Karishma-Tiwari-MSFT commented on #78762
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-24 01:20] Karishma-Tiwari-MSFT commented on #78763
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-24 01:21] Karishma-Tiwari-MSFT commented on #78775
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-24 01:49] Karishma-Tiwari-MSFT commented on #78778
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-24 01:49] Karishma-Tiwari-MSFT commented on #78779
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-24 01:51] Karishma-Tiwari-MSFT commented on #78781
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-24 04:01] Vipin-Sharma opened #78787 "Java Azure function best practices for user generated logs: ExecutionContext.getLogger() vs slf4j/log4j"
As per this page, we can use below for user generated logs

`context.getLogger().info("My app logs here.");
`

To understand best practices and how logging can help function app users:
1. The object of ExecutionContext class is available to us at the entry point of the function app, are we supposed to pass along this object in all the classes/methods we call so that we can use this for logging the

[2021-07-24 06:14] SnehaAgrawal-MSFT commented on #78784
@mrochon Thank you for your feedback! We will review and update as appropriate.

[2021-07-24 06:18] SnehaAgrawal-MSFT commented on #78785
@LAKeller88 Thank you for your feedback! We will review and update as appropriate.

[2021-07-24 06:20] SnehaAgrawal-MSFT commented on #78786
@mbendana Thank you for your feedback! We will review and update as appropriate.

[2021-07-24 06:22] SnehaAgrawal-MSFT commented on #78787
@Vipin-Sharma Thank you for your feedback! We will review and update as appropriate.

[2021-07-24 08:54] thesuraj2011 opened #78789 "I removed my account from authenticator app and now I am trying to login it's asking to approve from authenticator or enter passcode but I cannot. Is there any other option to login?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee6ac70d-5853-6a3a-0964-23b46910b4c4
* Version Independent ID: a5beda87-9845-8807-6221-7fdc64079587
* Content: [Passwordless sign-in with the Microsoft Authenticator app - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory

[2021-07-24 09:01] Markus-Wolff commented on #78773
I can access the Azure Portal and now also did found Cloud Service Classic; I was even there able to create the service; however, the deployment failed. It gave me the following message:
            "message": "The requested VM tier is currently not available in West Europe for this subscription. Please try another tier or deploy to a different location."

I also tried the same in the "East US" re

[2021-07-24 09:38] dheerajawale-svg opened #78790 "Documentation on moving file between blob storage containers"
Need more Documentation on moving file between blob storage containers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70e7e183-024f-9c05-c8b4-540b243dc1ea
* Version Independent ID: d3c45856-5fc7-ee0a-9d17-6d42d378f8d8
* Content: [.NET SDK - Filesystem operations on Data Lake Storage Gen1 - Azure](https://docs.microsoft

[2021-07-24 12:38] elvirk opened #78792 "How to setup Scope Value for RG in other subscription"
[Additional question related to this issue https://github.com/MicrosoftDocs/azure-docs/issues/78533 is that in my 'main.bicep' file I have following module:

module spokeVNET './vnet.bicep' = {
name: 'spoke-vnet'
scope: resourceGroup(otherSubscriptionID)
params: {
prefix: 'spoke'
addressSpaces: [
'192.168.1.0/24'
'10.0.0.0/23'
]
subnets: [
{
name: 'spoke-vnet'
properties: {
addressPrefix: '10.0.0.

[2021-07-24 13:26] HarshitaSingh-MSFT commented on #78789
Hello @thesuraj2011 , thank you for reaching out to us. Can you pls tell what is the ask here?

[2021-07-24 14:19] ravivivekvl opened #78793 "Getting 404 error after deployment"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64e750b6-a84d-c665-9bb3-167241a33d10
* Version Independent ID: f22f673f-469c-e137-304b-aa92662e0790
* Content: [Quickstart: Deploy an ASP.NET web app - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/quickstart-dotnetcore?tabs=ne

[2021-07-24 14:20] #78793 closed

[2021-07-24 14:34] krishrocks1904 commented on #78750
@MaanasSaranMSFT : Which version of NPM is stable and which should be using? Is there any documentation which provides this information?

[2021-07-24 14:47] daisystevens100 commented on #65971
What is the latest on this case? I also need a solution to this problem

[2021-07-24 15:55] DerekHerman-MSFT commented on #78790
@dheerajawale-svg  Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-24 15:57] DerekHerman-MSFT commented on #78792
@elvirk Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-24 16:23] DerekHerman-MSFT commented on #78755
@v-bbalaiagar
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-24 16:38] ggailey777 commented on #78755
@v-bbalaiagar `DisableColors` is actually a host.json setting, which we have documented here: https://docs.microsoft.com/azure/azure-functions/functions-host-json#console

Where in the [Create Azure Functions on Linux using a custom image](https://docs.microsoft.com/azure/azure-functions/functions-create-function-linux-custom-image?tabs=bash%2Cportal&pivots=programming-language-csharp#create-and-t

[2021-07-24 19:42] Karishma-Tiwari-MSFT commented on #78793
Looks like you have closed this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-07-24 19:44] chinhdo opened #78795 "Missing instructions to import required modules"
The instructions on this page are missing steps to import two modules: Az.Account and Az.Compute.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3632c749-8963-f5ed-55ec-28af005780bd
* Version Independent ID: 3ec0f957-e320-7ea7-e5f5-07f543f3c31b
* Content: [Create a PowerShell Workflow runbook in Azure Automation](https

[2021-07-25 00:06] Kitsula opened #78797 "Outdated document: policy combined"
I've learned, that now **audit** logs for SQL DB (server) are part of diagnostics settings for SQL Databases. Policy name "Deploy - Configure diagnostic settings for SQL Databases to Log Analytics workspace". The document and Azure Sentinel Data connector page for Azure SQL Databases are misleading, confusing, most likely outdated.
There should be a document with a description of two ways how to s

[2021-07-25 02:08] stephanadler1 opened #78798 "'Latest' as the secret version is not available for BYOC in the CDN endpoint configuration"
The suggestion to select `Latest` as the certificate/secret version is not available for BYOC in KeyVault. In my case I've imported the certificate into KeyVault and made another attempt by creating a new certificate (CSR) is created in the KeyVault with the type of CA set to `Certificate issued by a non-integrated CA`.

I'm using the Azure CDN `Premium_verizon` SKU.

Note from section **Select th

[2021-07-25 02:51] loosus opened #78799 "Clarify location of GPO setting and suggest a default GPO that can be used"
For precision, change the following paragraph:

Password policies in the on-premises AD DS environment may prevent password resets from being correctly processed. For password writeback to work most efficiently, the group policy for _Minimum password age_ must be set to 0. This setting can be found under **Computer Configuration > Policies > Windows Settings > Security Settings > Account Policies*

[2021-07-25 03:14] loosus opened #78800 "For clarification, add step in process"
Add a step between the following two steps, from:

6. On the **Optional features** page, select the box next to **Password writeback** and select **Next**.
7. On the **Ready to configure** page, select **Configure** and wait for the process to finish.

to

6. On the **Optional features** page, select the box next to **Password writeback** and select **Next**.
7. On the **Directory extensions** pag

[2021-07-25 03:17] DerekHerman-MSFT commented on #78795
@chinhdo Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-25 03:18] DerekHerman-MSFT commented on #78797
@Kitsula Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-25 03:22] DerekHerman-MSFT commented on #78798
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-25 03:28] jyravi opened #78801 "Azure Databricks as Compute target -Confusing"
In the beginning of this page, it states that "Learn how to attach Azure compute resources to your Azure Machine Learning workspace. Then you can use these resources as **training and inference compute targets** in your machine learning tasks."

However, in the section, https://docs.microsoft.com/en-us/azure/machine-learning/how-to-set-up-training-targets#select-a-compute-target , it says as a not

[2021-07-25 03:31] RonnieQuan commented on #78661
Thanks for the information.

The role listed in  https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/understand-mca-roles, seems they are not RBAC roles. Since none of those roles show in https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles.

If it's not RBAC role, I'm not sure how is it related to custom role.

My question is about
"You can link multip

[2021-07-25 04:16] WhitWaldo opened #78802 "Samples should be provided with code-based configuration"
Put simply: All the examples on the page reflect edits needed to the ApplicationInsights.config file to configure. Please include an example in each segment indicating how to configure the same from a .NET code-based approach.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7265053-e223-593d-eba7-7dc87c3f9246
* Version

[2021-07-25 06:01] SnehaAgrawal-MSFT commented on #78799
@loosus Thank you for your feedback! We will review and update as appropriate.

[2021-07-25 06:03] SnehaAgrawal-MSFT commented on #78800
@loosus Thank you for your feedback! We will review and update as appropriate.

[2021-07-25 06:05] SnehaAgrawal-MSFT commented on #78801
@jyravi Thank you for your feedback! We will review and update as appropriate.

[2021-07-25 06:07] SnehaAgrawal-MSFT commented on #78802
@WhitWaldo Thank you for your feedback! We will review and update as appropriate.

[2021-07-25 06:34] chshihMSFT opened #78803 "description of query metric "writeOutputTimeInMs" is incorrect"
Description of metric "**writeOutputTimeInMs**" should be "_Time spent writing the output in milliseconds_", instead "Query execution time in milliseconds". thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5108574a-cc34-22e6-1bf8-9ea50264ea4f
* Version Independent ID: 29d8f8d8-3e26-a10e-0893-a507456b3477
* Conten

[2021-07-25 09:20] SadiqhAhmed-MSFT commented on #78785
@LAKeller88 Sorry for the inconvenience this must have caused. To fix this issue we need to check your account details to understand which Azure subscription is linked to your alias (Email). Azure billing team would be the best place to address this issue. Kindly contact them by raising a support request - https://github.com/Huachao/azure-content/blob/master/articles/billing-how-to-create-billing-

[2021-07-25 09:44] G0PINATH-WW commented on #78577
$latestVersionAvailable =  ( Get-AzStorageBlob -Container $containerName -Prefix "$blobToRestore" -IncludeVersion | `
                    where {[datetime]$_.VersionId -lt $restorationPointInTime} | sort versionid -Descending |Select Name, VersionId -First 1).versionId

$srcurl = "https://$sourceStorageAccountName.blob.core.windows.net/"+ $containerName + "/" +"$blobToRestore"+ "?versionid=$latest

[2021-07-25 11:34] VinceI opened #78806 ""Alerts" does not appear as a selection in the side menu."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b667465c-46d2-f1b1-97fa-6fd23c65a534
* Version Independent ID: 72635a60-157d-d3dc-8b9e-db90ada90bba
* Content: [Filter and manage alerts from the Alerts page - Azure Defender for IoT](https://docs.microsoft.com/en-us/azure/defender-for-iot/organizatio

[2021-07-25 11:47] shhazam-ms commented on #78806
Hi Vincel, Thanks so much for writing.
Can you provide more info on this? I see the Alert in the side menu?
![image](https://user-images.githubusercontent.com/73219914/126897868-97248d6e-fd94-490e-bda9-3273e1f49ddc.png)

[2021-07-25 11:53] VinceI commented on #78806
Sorry, my mistake.

We are new users of Azure Sentinel.

In following links to help with “Alerts” we somehow landed on a “Defender for IoT” help page.

Please ignore my request for assistance with finding the “Alerts” link/button.

Thanks

[2021-07-25 12:04] shhazam-ms commented on #78806
Thanks for getting back to me. All the very best

[2021-07-25 13:14] bbaassssiiee opened #78807 "Powershell provisioner hangs in IMAGE_STATE_COMPLETE"
The powershell snippet that is supposed to run Sysprep doesn't work anymore with the current Windows 2016 base image.

There is a Guest Agent running (misbehaving perhaps) and the provisioner is in an endless loop in IMAGE_STATE_COMPLETE until a timer runs off, the resulting image is unusable because of the running guest agent and not-responsiveness.

---
#### Document Details

⚠ *Do not edit this

[2021-07-25 15:49] powertrio77 opened #78809 "more wording on this page, or more reference to the Cars price used in the Regression Learning Path"
Microsoft says, You can now use the three indicator columns as features in a machine learning model. On the webpage Convert To Indicator Values. I like this webpage. Can you elaborate on how to use a column with only 1 and 0s in a linear regression model? Is 1 considered a high value and zero low? Also, I read that Linear Regression Gradient descent auto normalizes numerical columns to values betw

[2021-07-25 16:08] DerekHerman-MSFT commented on #78803
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-25 16:10] #78806 closed

[2021-07-25 16:13] DerekHerman-MSFT commented on #78807
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-25 17:13] powertrio77 commented on #78809
link to screen shots in Azure Forum
https://docs.microsoft.com/en-us/answers/questions/486649/how-to-use-convert-to-indicator-values-to-convert.html

[2021-07-25 17:47] weyCC81 commented on #76063
**Recipe**
_Ingredients_
- Take an account with just "Global Reader" assigned
- Take a user with or without "Send As" permission assigned

_Method_
1. Login to Microsoft 365 Admin Center with Account (https://admin.microsoft.com/)
2. Switch to New Exchange Admin Center (https://admin.exchange.microsoft.com/)
3. Choose Mailbox (User) under Recipients >Mailboxes
4. Open de register "Mailbox" form th

[2021-07-25 17:53] weyCC81 commented on #75627
@rolyon Is there any update on "role assignments via group membership",
 in regard to "new Exchange Admin Center" or the documentation?

[2021-07-25 17:54] weyCC81 commented on #76214
Update: There is an open ticket with Microsoft and the acknowledged this as a bug, currently waiting for the solution.

[2021-07-25 20:53] DeanGross opened #78810 "page update date value"
The page shows that the last update was in March, yet there is content for V2.0.3 that was added in July. Please resolve this discrepancy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57f5478b-3132-21d0-a420-a1140db235de
* Version Independent ID: 266bbd16-2117-f680-6493-e183eb09fdbc
* Content: [Azure AD Connect: Versi

[2021-07-26 00:46] flexiteam-hakiem commented on #78683
Hi @AshokPeddakotla-MSFT . I had try on other network. Seem the issue does not occur. This issue is related to our configuration on company firewall.

[2021-07-26 00:46] #78683 closed

[2021-07-26 00:49] ram-msft commented on #78654
@avarantes Thanks, We will review the doc and update the same. Please follow the below sample to Manage Custom Models Asynchronously or Synchronously.
https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/formrecognizer/Azure.AI.FormRecognizer/samples/Sample6_ManageCustomModels.md

[2021-07-26 00:51] TeplrGuy commented on #32672
@ajayanti1 @genius00xp any update on this? I am also facing a similar issue where using .cer does not work but pfx/p12 and crt along with key works.

[2021-07-26 01:45] v-hakob commented on #78560
Thank you @harahma . Sorry for the late response. We understand the doc says there is no charge to enable customer-managed key,s but our customer asked how about the recurring charges? Are there no recurring charges using Cosmos DB for customer managed keys with Sentinel?

[2021-07-26 02:22] ram-msft commented on #78809
@powertrio77 Thanks for the question. We are investigating the issue and will update you shortly.

[2021-07-26 02:32] msfcolombo opened #78812 "Pages does not explain "non-zonal" load balancer"
The page introduces 3 types of load balancers:

However, it only explains 2 types: the **zone redundant** and **zonal** ones.

What is a **non-zonal** load balancer? I assume this is a load balancer for a region that does not support AZs, but I would like confirmation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 946

[2021-07-26 02:32] pdhimate commented on #42539
Is there an official blog or template available for this? The one in the unofficial blog does not seem to work.

[2021-07-26 02:34] merill opened #78813 "Incorrect links"
Hey folks,

A few of the links in this section are not formatted correctly.

https://docs.microsoft.com/en-au/azure/active-directory/fundamentals/security-operations-user-accounts#where-to-look

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 121555b7-46c7-cffd-3f63-330f24d41e18
* Version Independent ID: a01f31b3-8723-70

[2021-07-26 02:45] maskx opened #78814 "Broken links"
The link for  **Overview of the resiliency pillar** in  **Regions** section is incorrect

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cca70845-100f-2cfd-aba3-34b7fa4a5264
* Version Independent ID: 475b26e5-9e23-f769-3bd5-cbc4a678dbf0
* Content: [Regions and Availability Zones in Azure](https://docs.microsoft.com/en-u

[2021-07-26 03:50] ram-msft commented on #78654
@laujan Could you please review and update the doc for Manage Custom Models.

[2021-07-26 03:55] MayankBargali-MSFT commented on #78576
@yutaro113 The KUDO logs are controlled by the [fileLoggingMode](https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#logging) property in the host.json file.
With the debugOnly(the default option) property we will delete the file it's older than 1 day old and won't log more than 5 MB (cant be increased).

With the Always property we will keep them always but it is not recomm

[2021-07-26 04:01] SnehaAgrawal-MSFT commented on #78810
@DeanGross Thank you for your feedback! We will review and update as appropriate.

[2021-07-26 04:02] SnehaAgrawal-MSFT commented on #78607
@zaalion Since we did not here from you. We will close this out but if you feel you need more information let us know.

[2021-07-26 04:02] #78607 closed

[2021-07-26 04:05] MayankBargali-MSFT commented on #78784
@mrochon Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-26 04:09] Raag007 opened #78817 "This documentation needs to be updated with latest commands, versions and scripts."
This documentation needs to be updated with latest commands, versions and scripts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12009c1f-282d-2632-fac0-64b09c432833
* Version Independent ID: 6052d3d4-d295-9340-b16d-4c200e34cd73
* Content: [Use ingress controller with static IP - Azure Kubernetes Service](https://docs

[2021-07-26 04:20] AnuragSharma-MSFT commented on #78525
@dhruvrajn We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-07-26 04:20] #78525 closed

[2021-07-26 04:39] VikasPullagura-MSFT commented on #78817
@Raag007
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-07-26 04:39] VikasPullagura-MSFT commented on #78817
@mlearned @zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2021-07-26 04:46] SnehaAgrawal-MSFT commented on #78555
@connelhooley Thanks for clarification! I have shared your feedback with the content owner for further review.

[2021-07-26 05:12] pvrk commented on #78532
The document is updated. @v-amallick: Do you think we can close the issue?

[2021-07-26 05:16] aleks-noname opened #78818 "Is error in documentation?"
Hello.

I guess is it error in second paragraph:

This tutorial shows you how to discover Amazon Web Services (AWS) instances with the Azure Migrate: Discovery and assessment tool, using a lightweight Azure Migrate appliance. **You deploy the appliance as a *physical server*, to continuously discover machine and performance metadata.**

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-07-26 05:20] PramodValavala-MSFT commented on #78534
@carlgrzywacz Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2021-07-26 05:26] v-amallick commented on #78532
Thank you, @pvrk.

Hi @prosprice, closing the issue as the document is updated.

Thanks.

[2021-07-26 05:26] v-amallick commented on #78532
#please-close

[2021-07-26 05:26] #78532 closed

[2021-07-26 05:31] BhargaviAnnadevara-MSFT commented on #78814
@maskx Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-07-26 05:39] bigtoerag commented on #48560
Also seeing it still happening so I cant see exactly when a company details was changed, production impact across SharePoint and OneDrive.

Activity
Set company information

ModifiedProperties
[
    {
        "Name": "Included Updated Properties",
        "NewValue": "",
        "OldValue": ""
    }
]

[2021-07-26 05:39] shashishailaj commented on #78813
@merill Thank you for catching this. We will have this reviewed with the content team and update accordingly after review.

[2021-07-26 05:45] SadiqhAhmed-MSFT commented on #78578
@karkavi980 Appreciate your patience in this matter!
Currently the tool does not calculate the resource requirement for the container and assigns a default value. You can view and edit the container spec to be created in the Kubernetes deployment YAML file created at the deployment step.

Hope this answers your question1

[2021-07-26 05:50] SadiqhAhmed-MSFT commented on #78818
@aleks-noname Thanks for the feedback. We will review this with the content owner and get back to you soon.

[2021-07-26 06:01] HarshitaSingh-MSFT commented on #78560
@v-hakob , as I mentioned above, Request Units(RUs) will see an slight increase to support additional layer of encryption and decryption of your data, which means charges for the consumed RUs will be there.

[2021-07-26 06:17] v-hakob commented on #78560
@HarshitaSingh-MSFT  Thank you for the quick response. The customer said they need to create the estimate.

Are Request Units only the factors which impact the costs of COSMOS DB using customer managed keys for Sentinel?

They asked if they need to consider the following factors for additional charges?

Database operations
Consumed storage such as:
Transaction
Analysis
Backup

[2021-07-26 06:19] noueh opened #78820 "Whats-new content is slow to be reflected in the Japanese version."
Whats-new content is slow to be reflected in the Japanese version. Important GA information is not reflected yet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05d09275-f180-dcfa-1ae7-8cd2661ba1ee
* Version Independent ID: 5d5e2be3-b92c-82a8-7447-5e637e19f735
* Content: [What's new in the Text Analytics API - Text Ana

[2021-07-26 06:24] noueh commented on #78820
We can't even propose to fix the document in PR because of the differences: on Github, the March information is at the top, while the actual public document lists the June information at the top.
In fact, the information has already been posted for July.

https://github.com/MicrosoftDocs/azure-docs.ja-jp/blob/master/articles/cognitive-services/text-analytics/whats-new.md
![image](https://user-imag

[2021-07-26 06:37] HarshitaSingh-MSFT commented on #78789
Hello!
Just checking to see if you have had a chance to see the previous response. Kindly let us know if it answers your question and if you need further assistance on this issue.

[2021-07-26 06:52] HarshitaSingh-MSFT commented on #78735
@rbrayb, which code/section are you referring to here?

[2021-07-26 07:10] vipulsparsh commented on #78797
@Kitsula Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-07-26 07:11] vipulsparsh commented on #78800
@loosus Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-07-26 07:12] vipulsparsh commented on #78810
@DeanGross Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-07-26 07:19] SnehaAgrawal-MSFT commented on #78568
@andreflowers Apologize for the inconvenience with this issue! I have assigned the issue to the content author and will reach out  internally to review further and update the document as appropriate.

[2021-07-26 07:21] SwathiDhanwada-MSFT commented on #78802
Assigning to content author @lgayhardt for review.

[2021-07-26 07:29] SnehaAgrawal-MSFT commented on #78569
@andreflowers Apologize for the inconvenience with this issue! I have assigned the issue to the content author and will reach out internally to review further and update the document as appropriate.

[2021-07-26 07:31] ggailey777 commented on #78601
You should actually be able to create a Dockerfile that targets .NET 5.0 as a .NET isolated project. We need to update the article to show this, but you should be able to use the following `func init` command to do this:

[code]

In the Dockerfile, you can see it's pulling from .NET 5.0 images:
[code]

[2021-07-26 07:31] vineetvikram commented on #78818
@SadiqhAhmed-MSFT , please assign this task to rahugup from Azure Migrate team.

[2021-07-26 08:00] HarshitaSingh-MSFT commented on #76938
This is reported to the product team and I'll update the thread once the issue is resolved.

[2021-07-26 08:00] #76938 closed

[2021-07-26 08:02] amanmcse commented on #78633
@JamesBaxterSoftware
1. Update the email claim with DefaultPartnerClaim as shown below:
[code]
2. Update the AAD-UserReadUsingObjectId technical profile with signInNames.emailAddress output claim as shown below:
[code]
3. Update the RP file with signInNames.emailAddress output claim as shown below:
[code]
**Note:** NameFormat in the SAML response will be in urn:oasis:names:tc:SAML:2.0:attrname-for

[2021-07-26 08:03] #78633 closed

[2021-07-26 08:06] rbrayb commented on #78735
What I am saying is that you need to add the API permissions as per the link to the article. The article does not currently mention the special permissions required to change the password.

[2021-07-26 08:07] HarshitaSingh-MSFT commented on #78563
This is to inform that we are working on this.

[2021-07-26 08:24] ajay-aravind opened #78821 "Please have a doc link added to explain what is meant by "active-active gateway" in this page"
Please have a doc link added to explain what is meant by "active-active gateway" in this page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6577bc7-c52a-f290-4864-b3dbd8f58321
* Version Independent ID: 51723b3e-3217-a681-3f8e-1585d86f47fc
* Content: [Tutorial - Create and manage a VPN gateway: Azure portal - Azure VP

[2021-07-26 08:27] sidprasher commented on #78326
Hi, any thoughts on this?

[2021-07-26 08:46] adityabalaji-msft commented on #78403
Hi @SteveColegrove - if the requirement is to create a custom backup policy for all vaults in scope using Azure Policy, you can use the following steps:
1) Write a custom Azure Policy (deployifnotexists) that accepts the required schedule, retention etc. as parameters. The name of the backup policy can have some particular naming convention eg. “CustomBackupPolicyForVault”
2) The Azure Policy scan

[2021-07-26 09:19] ltoinel commented on #56093
Have you planned a Kerberos authentication in the ADF Roadmap ?

[2021-07-26 09:38] jgdick opened #78822 "The variable $gatewaySubnet is not initialized"
At code section :

$gatewayIpConfig = New-AzVirtualNetworkGatewayIpConfig `     -Name "vnetGatewayConfig" `     -SubnetId $gatewaySubnet.Id (...)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4387410-73b7-a07e-708c-eeac4e81397f
* Version Independent ID: aaaab239-4acf-d9ea-c3a6-9abb0cdbb623
* Content: [Configure a Poi

[2021-07-26 09:51] SubhashVasarapu-MSFT commented on #78821
@ajay-aravind, Thanks for reaching out. We will investigate and update this thread.

[2021-07-26 09:53] psmanhas commented on #78705
@GrzegorzHejman Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-07-26 10:05] ryoji-kawamura commented on #77649
@CelesteDG @jeevansd @GitaraniSharma-MSFT Can you please let me know what the status of this correspondence is?

[2021-07-26 10:11] HarshitaSingh-MSFT commented on #78694
I have made changes to the doc, please expect it to be live soon.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-26 10:11] #78694 closed

[2021-07-26 10:37] Cisvhenriksen commented on #64660
Just adding a note:

It seems that the functionality is working if you are using the Azure CLI to enable managed identity, but then it breaks if your re-release using a pipeline to deploy new container?

I got it working using the Azure CLI: `az resource update --ids /subscriptions/<SUBSCRIPTIONS_ID>/resourceGroups/<RESOURCE_GROUP_NAME>/providers/Microsoft.Web/sites/<SITE_NAME>/config/web --set pr

[2021-07-26 10:55] Marusyk commented on #78601
@ggailey777 thanks, I'll try and let you know

[2021-07-26 11:03] panicoenlaxbox opened #78824 "Some errors in examples and basic example not working"
Some examples are not right:

[code]

*Error in SQL statement: AnalysisException: cannot resolve 'count()' due to data type mismatch: count requires at least one argument...*

It should be `count(*)` instead `count()`

The next one issue is here:

[code]

*Error in SQL statement: AnalysisException: cannot resolve '`x.id`' given input columns: ...*

It should be:

[code]

Moreover, it's not working

[2021-07-26 11:15] SadiqhAhmed-MSFT commented on #78818
@Rahulg1190 FYI

[2021-07-26 11:18] KalyanChanumolu-MSFT commented on #78662
@hhitchler Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-07-26 11:22] YajB opened #78825 "doc-enhancement/Updates to Tutorial: Azure Active Directory single sign-on (SSO) set up for Logz.io - Azure AD Integration"
Kind greetings!
I'm the Logz.io technical writer who created new content for this tutorial.

The content was provided today (26.July.2021) as an `.md` file with 10 `.png` images in an email to Samiran Saha <Samiran.Saha@microsoft.com> and Rohit Tatachar <rotata@microsoft.com>.  Please contact me if there are questions or issues that need to be clarified. My email is yael.berlinger@logz.io

The ema

[2021-07-26 11:38] Tasos-Torou commented on #78637
Thanks Jason,

Is there a list of ports/ URLs we need to add to the firewall in order to make Azure Stream Analytics from within Visual Studio work? Currently, my traffic is blocked and I dont know which URLs I need to add to the firewall. I have a added couple of Azure IP addresses but I am guessing they keep changing.

[2021-07-26 11:38] Bafff opened #78827 "Using Service principals within groups"
I can see here in the article such a statement

But [here we can](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/managed-identity-best-practice-recommendations#using-user-assigned-identities-to-reduce-administration) read about assigning  Managed Identities (that are Service Principals as we know) via Groups
![image](https://user-images.githubusercontent

[2021-07-26 11:45] simonech opened #78828 "Custom ErrorHandler not needed for Application Insights Manual Configuration in .NET"
According to this other link https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-exceptions#mvc, from version 2.6 of the SDK, Exceptions are logged automatically, so no need to add them as shown in steps 5 and 6 of [Add Application Insights manually](https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net#add-application-insights-manually).
Actually, with the latest version,

[2021-07-26 11:49] GrzegorzHejman commented on #78705
@psmanhas Unfortunately, adding tags to the ARM template will only add them to the image template and the image version resources. This will not affect the resource group (named "IT-....") and the storage account within that resource group. Both of those resources are created automatically by the image builder service when you deploy the ARM template using the New-AzResourceGroupDeployment cmdlet.

[2021-07-26 12:06] CHEEKATLAPRADEEP-MSFT commented on #78824
@panicoenlaxbox  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-07-26 12:27] LockTar commented on #78069
Hi @James-Hamil-MSFT any update on this. I really want to remove my hotfix

[2021-07-26 12:43] HarshitaSingh-MSFT commented on #78828
Hello @simonech , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-07-26 12:45] HarshitaSingh-MSFT commented on #78827
Hello @Bafff , thanks for the question! We are taking a look into this and will get back to you soon.

[2021-07-26 12:49] HarshitaSingh-MSFT commented on #78825
Hello @YajB , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-07-26 13:03] arambazamba opened #78830 "Nuget Packages"
It would be of great help if you could also state the NuGet Packages that should be added to the project to make this samples work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7af26f57-f473-916a-bd4d-0918ef9eefcd
* Version Independent ID: b553182a-4d34-96d6-219e-1abbd031c642
* Content: [LINQ to SQL translation in Azu

[2021-07-26 13:04] GitaraniSharma-MSFT commented on #78812
@msfcolombo , thank you for your query. We'll review this and get back to you shortly!

[2021-07-26 13:12] arambazamba commented on #78830
Microsoft.Azure.DocumentDB.Core

[2021-07-26 13:23] Rao-CZ opened #78832 "Dependency diamond mis-recognized as dependency circle"
Section 5 - circular dependency detected - this error gets thrown also if you have dependency chain like
[code]
In another words: if A depends on B and C, C depends on D, and D depends on B, there is no circle (n.b. direction of arrows) just a (lame and a bit of weird) dependency diamond.

Solution is to drop dependency "D on B".

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2021-07-26 13:24] jamesbmorris92 commented on #78281
Hi All,

It seems that although I was getting that error, I am able to follow the rest of the setup steps in the guide and also connect to the oracle database from my own personal computer. I think this can be closed. I will update if I find anything else.

Best regards,
James

[2021-07-26 13:54] gradinDotCom opened #78833 "Numeric Typo"
10,00 should be 10,000 (I suspect)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 320bfdb2-0d8b-20f1-252e-d9a3ab8e3357
* Version Independent ID: 42efc64b-4190-7bc6-2a93-14c5d56f34e0
* Content: [Plans and pricing for commercial marketplace offers](https://docs.microsoft.com/en-us/azure/marketplace/plans-pricing#plan-vis

[2021-07-26 13:57] MonikaReddy-MSFT commented on #78833
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-26 14:00] Bafff opened #78834 "Please update supported list of services for Managed Identities"
Hi!

Why does this page does not include **[Azure Database for Postgres](https://docs.microsoft.com/en-us/azure/postgresql/howto-connect-with-managed-identity)** for example?

Does the list of supported services still relevant? Can we receive up-to-date list, it would be very useful not for me only, I'm sure!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2021-07-26 14:07] RohitMungi-MSFT commented on #78820
@noueh Thanks for reporting this. I think we have an ongoing issue with localization for Japanese in documentation that our team is working on.

@SunnyDeng Could you please help check if this is the same issue as reported in internal feedback items 461781 and 461987?

[2021-07-26 14:12] GiftA-MSFT commented on #78703
`azureml-interpret` contains functionalities for working with model interpretability in Azure Machine Learning.

[2021-07-26 14:14] KrishnaG-MSFT commented on #78832
@Rao-CZ Thanks for your comment! We will review and provide an update as appropriate.

[2021-07-26 14:20] ahawes-clarity opened #78835 "Apple rejecting Azure AD B2C "Sign in with Apple" implementation."
It would be good to mention that Apple is rejecting Azure AD B2C "Sign in with Apple" implementation because it does not meet their guidelines. In addition Apple is also forcing users of third-party authentication services like Azure AD B2C to include "Sign in with Apple". This combination means that Azure AD B2C is not a viable option for any applications that need to target iOS.

Apple says:
* Y

[2021-07-26 14:26] SadiqhAhmed-MSFT commented on #78785
@LAKeller88 Closing this issue for now as no action pending from our end.

[2021-07-26 14:26] #78785 closed

[2021-07-26 14:39] pumpkinclarinet opened #78837 "FileShareProvisionedIOPS showing with wrong unit"
Unit for the values of FileShareProvisionedIOPS appear as "bytes" (from: https://docs.microsoft.com/en-us/azure/storage/files/storage-files-monitoring-reference#azure-files)
![image](https://user-images.githubusercontent.com/53820260/127007420-e3808f7b-6b9c-4e8e-90dd-6729a4b627e3.png)

The unit appearing as bytes is confusing customers.

Can we modify it to appear as we can see on the following pu

[2021-07-26 14:40] GitaraniSharma-MSFT commented on #78798
@stephanadler1 , We have assigned this issue to the respective product owner for review.

@amitsriva , for your review.

[2021-07-26 14:51] caitlinzinda opened #78839 "Is there a way around using mydomain?"
Hi,

Is there a way that users can use SSO by logging into salesforce.com without going directly to the custom domain? Everything I'm reading indicates the user would be required to go to their SF mydomain first, but we wanted to know if there was a way to set it up to where they can go to salesforce.com.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2021-07-26 15:05] gilleta opened #78840 "improve step 2.6"
Step 2.6 could be improved by specifying that the Secret Token should not only be vanilla base64 but it should rather be **base64 with line wrapping disabled (base64 -w 0)**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bd22ad1-c4f8-fa9e-f43f-f5200fde8070
* Version Independent ID: 80c91745-f550-bca7-6674-d42584ac9dbe

[2021-07-26 15:13] msmimart commented on #72864
Hi @glomaga, we don't currently have an example for this, but I've created an internal work item to submit this request. Since we'll track it internally, I'll go ahead and close this issue for now. Thanks again for your feedback! #please-close

[2021-07-26 15:13] #72864 closed

[2021-07-26 15:20] GitaraniSharma-MSFT commented on #78761
@donchai , Weighting connections with S2S VPN is not supported. Weight is specific to Expressroute Gateway connections.  VPN GWs do honor AS path prepending in both Active/Standby and Active/Active scenarios.

Reference : https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-vpn-faq#does-azure-vpn-gateway-honor-as-path-prepending-to-influence-routing-decisions-between-multiple-connections

[2021-07-26 15:20] #78761 closed

[2021-07-26 15:24] MicrosoftGuyJFlo commented on #78522
#please-close

[2021-07-26 15:24] #78522 closed

[2021-07-26 15:27] twooley commented on #78072
@mkistler The article has been updated with your suggested improvements (good ones). Thank you for taking the time to submit an issue for this.

#please-close

[2021-07-26 15:27] #78072 closed

[2021-07-26 15:39] MayankBargali-MSFT commented on #78590
@lanicolas Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2021-07-26 15:41] DerekHerman-MSFT commented on #78822
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-26 15:45] #78590 closed

[2021-07-26 15:47] mhackermsft opened #78841 "Example does not show how to actually access the message's content."
Document does not show how to read the content of the service bus message.  It shows getting messages and completing them, but that is not very useful.  Most users need to process the incoming message, so showing how to get the ContentData in the loop would be more helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2021-07-26 15:49] marcelkmfst opened #78842 "clarification arround UPN"
This statement is not clear:

_The UPN you use to subscribe to Azure Virtual Desktop must exist in the Active Directory domain the VM is joined to._

Is it requried that the UPN is configured for the user or is it really enough if the upn is present?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2eeca14-80ef-c0b4-271

[2021-07-26 15:50] #78686 closed

[2021-07-26 15:54] MicrosoftGuyJFlo commented on #46500
Looks like the reference was removed. #please-close

[2021-07-26 15:54] #46500 closed

[2021-07-26 15:57] #78777 closed

[2021-07-26 15:59] GitaraniSharma-MSFT commented on #78691
@martintoreilly , Azure WAF only process/inspect inbound traffic. There is no inspection on Outbound data/traffic.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-07-26 15:59] #78691 closed

[2021-07-26 16:00] YutongTie-MSFT commented on #78677
@aminsaied Hello Amin, is this an item you want to track on your end? It seems you are the author of this document.

[2021-07-26 16:05] #52347 closed

[2021-07-26 16:14] GitaraniSharma-MSFT commented on #78812
@msfcolombo , The frontend Public IP of a Standard load balancer can be:
1. Zone-redundant, which is advertised from all three zones.
2. Zonal, which is guaranteed in a specific pre-selected availability zone.
3. No-zone, which isn't associated with a specific pre-selected availability zone.

If you're creating a public IP address in a region that supports availability zones, the Availability zone

[2021-07-26 16:14] #78812 closed

[2021-07-26 16:17] nick-luong opened #78843 "contentLength": 0,"
[Enter feedback here]
I see "contentLength": 0 in one of event. Is there any where in document mentions this?

Currently, I found also found that PutBlob event also have contentLength
[
    {
        "data": {
            "api": "PutBlob",
            "blobType": "BlockBlob",
            "contentLength": 0,
            "contentType": "application/octet-stream",
            "eTag": "0x8D94D2A81AF9E

[2021-07-26 16:17] kobulloc-MSFT commented on #78842
@marcelkmfst Thank you for the feedback!  I've assigned this to the document author for clarification.

[2021-07-26 16:31] burkeholland commented on #78555
+ @scubaninja

[2021-07-26 16:39] v-bbalaiagar commented on #78755
Tagging @mcollier for inputs

[2021-07-26 16:43] BharathNimmala-MSFT commented on #78403
Thanks a lot @adityabalaji-msft for helping on the thread.

@SteveColegrove - Please review the information shared by @adityabalaji-msft  and let us know if you have any further questions.

Please note that [this ](https://github.com/MicrosoftDocs/azure-docs/issues) channel (the Azure Docs repository) is only for driving improvements related to the Azure documentation. At this point it appears tha

[2021-07-26 16:43] #78403 closed

[2021-07-26 16:48] MicrosoftGuyJFlo commented on #77107
@richardojel

Can you please provide the information requested?

[2021-07-26 16:49] #59339 closed

[2021-07-26 16:53] Nandeeshswami opened #78846 "App Role Assignment limits not clear"
[Enter feedback here]

In this doc it says "A user, group, or service principal can have a maximum of 1,500 app role assignments."

Does that mean a principal can have up to a maximum of 1500 appRoles?
OR
An appRole exposed by a Resource App can only be assigned to a maximum of 1500 principals?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-07-26 17:05] GreggRevak opened #78847 "Currently available settings not reflected on page"
The page does not reflect currently available settings. For example, "Require app protection policy" is an option on the "Grant" page but is not addressed in this policy page.
The page has not been updated since March of 2020 and changes have been release to conditional access since that time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2021-07-26 17:14] YutongTie-MSFT commented on #78717
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-26 17:16] stephanadler1 commented on #78798
Some clarification: I've eventually found the limitation being described in FAQ item 7. However, since selecting `Latest` as the way to automate updates when new certificates arrive is so prominently features, its limitations when using BYOC should be noted in the same way.

[2021-07-26 17:20] #78560 closed

[2021-07-26 17:20] MartinJaffer-MSFT commented on #78830
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-07-26 17:27] martintoreilly commented on #78691
Thanks @GitaraniSharma-MSFT. Just to be totally clear, does that mean that outbound data does not count towards the throughput-based variable costs (v1 WAF) / capacity unit costs (v2 WAF)?

[2021-07-26 17:32] JamesTran-MSFT commented on #78834
@Bafff
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-26 17:33] JamesTran-MSFT commented on #78835
@ahawes-clarity
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-26 17:34] #78772 closed

[2021-07-26 17:36] JamesTran-MSFT commented on #78840
@gilleta
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-26 17:38] JamesTran-MSFT commented on #78847
@GreggRevak
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-26 17:54] laujan commented on #78377
Hi @RohitMungi-MSFT. Will do. Thank you!

[2021-07-26 18:00] SaiKishor-MSFT commented on #78639
@eedwards36 Thank you for pointing this out. We have updated the doc and this should reflect soon. Thank you!

[2021-07-26 18:00] #78639 closed

[2021-07-26 18:09] SaiKishor-MSFT commented on #78483
@sdgilley Thank you. We are working on updating the document to make it more clear. I will update you as soon as we have more details. Thank you so much!

[2021-07-26 18:09] SaiKishor-MSFT commented on #76824
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-26 18:09] #76824 closed

[2021-07-26 18:12] aarmos commented on #5872
What kind of full sync you mean here?

[2021-07-26 18:42] efonsecab opened #78849 "Enhance mediator script documentation"
The product documentation does not state that the default mediator scripts do not support having multiple video and insights widgets in the same page without custom modification.

This is a sample of the approach we took for the product we are building:
https://github.com/efonsecab/FairPlayTube/blob/main/src/FairPlayTubeSln/FairPlayTube.Client/wwwroot/js/azure/video-indexer/vb.widgets.mediator.js

[2021-07-26 18:43] v-gpettibone commented on #59846
Amitabh-github opened a support issue to get more than 10 endpoints in Sep 2020. This is not a documentation issue. Closing the issue.

[2021-07-26 18:43] v-gpettibone commented on #59846
#please-close

[2021-07-26 18:43] #59846 closed

[2021-07-26 18:47] barclayn commented on #78834
@Bafff Thank you for your feedback. We are aware that the page needs updating. We have an active work item for it and we hope to provide updates in the near future but we have nothing to share beyond this at this time.  #please-close

[2021-07-26 18:47] #78834 closed

[2021-07-26 18:47] noueh commented on #78820
Thanks for quick reply. I understood you are going on this issue. You can close this PR itself.

The below document described about Text Analytics feature "Personally Identifiable Information (PII)" that is already GA has the same issue.

https://docs.microsoft.com/ja-jp/azure/cognitive-services/text-analytics/how-tos/text-analytics-how-to-entity-linking?tabs=version-3-preview#personally-identifia

[2021-07-26 18:48] HarshitaSingh-MSFT commented on #78740
We will incorporate this in the documentation and it will be live soon.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-26 18:48] #78740 closed

[2021-07-26 18:52] ecfan commented on #74722
Hi @danbudimir, the doc has been updated. Please let us know if there's any additional questions about the update. Thanks for reaching out!

@JayaChatterjee-MSFT: #please-close

[2021-07-26 18:52] #74722 closed

[2021-07-26 18:54] ashkickindevelopment opened #78850 "Upon creating a new resource, for example a VM - does it require someone to have the Owner role in order for a microsoft.compute to be automatically enabled? Or could they have Contributor role at the subscription level and still register the provider?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16b4bb50-25ad-a3c6-f42a-84f33c84e362
* Version Independent ID: 6188226a-1f56-2a0a-fc57-4b8616b5fe32
* Content: [Resource providers by Azure services - Azure Resource Manager](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azu

[2021-07-26 19:02] jitendraRai opened #78851 "If you choose Azure AD Public identities for your Azure Government application, you must register the application in your Azure AD Public tenant."
References:- https://stackoverflow.microsoft.com/questions/265905/267662#267662

The customer is looking for the document mentioned the same identity provider statement using in the Azure B2C tenants. Such as the special consideration is where you perform your app registration. If you choose Azure AD B2C Public identities for your Azure AD B2C Government application, you must register the applicat

[2021-07-26 19:02] HarshitaSingh-MSFT commented on #78563
As it is taking longer than expected, assigning this to author to update the thread once the issue is resolved.

[2021-07-26 19:03] HarshitaSingh-MSFT commented on #78399
As it is taking longer than expected, assigning this to author to update the thread once the issue is resolved.

[2021-07-26 19:07] chuckthompsonprofisee opened #78852 "json sent to AZ_SCRIPTS_OUTPUT_PATH does not show up in error"
in my deployment script (cli) I am testing a condition and if it is not met, then I write and error and sent it to AZ_SCRIPTS_OUTPUT_PATH and then exit like this:

result="{\"Result\":[\
{\"SUCCESS\":\"false\"},
{\"ERROR\":\"An error has occurred\"}\
]}"
echo $result > $AZ_SCRIPTS_OUTPUT_PATH
exit 1

the script fails like I would expect, but the details is this:
ERROR TYPE
The provided script fail

[2021-07-26 19:13] tfitzmac commented on #78850
@ashkickindevelopment - you need permission for the `/register/action` operation on the resource provider. The contributor role includes that permission.

[2021-07-26 19:18] barclayn commented on #77471
@lniedzielski  thank you for your feedback. We are aware of the need to update the status article. We have an open internal work item to address that  but unfortunately I don't have an ETA at this time. #please-close

[2021-07-26 19:18] #77471 closed

[2021-07-26 19:19] msmimart commented on #76226
@D-Jeffrey, thanks so much for your feedback, we really appreciate it. I've updated the screenshots and text, and these changes will publish shortly. #please-close

[2021-07-26 19:19] #76226 closed

[2021-07-26 19:26] AjayKumar-MSFT commented on #78660
leaht17, Apologies for the delay! There are two URLs, one for Portal and another tutorial for CLI, both the URLs work fine now.

[Tutorial: Deploy a Django web app with PostgreSQL in Azure App Service]
https://docs.microsoft.com/en-us/azure/app-service/tutorial-python-postgresql-app?pivots=postgres-single-server&tabs=bash%2Cclone

[Tutorial: Deploy a Django web app with PostgreSQL using the Azure

[2021-07-26 19:26] #78660 closed

[2021-07-26 19:38] barclayn commented on #77703
@santhoshbomma9  Thank you for your feedback. Could you elaborate?

[2021-07-26 19:39] AjayKumar-MSFT commented on #78653
chtourou-youssef, Apologies for the delay! It's the root folder.  The platform automatically saves a snapshot of all apps for data recovery purposes.

The home directory contains an app's content, and application code writes to it. Also, if an app runs on multiple instances, the home directory is shared among all instances so that all instances see the same directory.

Path D:\home\site - This fau

[2021-07-26 19:41] JamesTran-MSFT commented on #78851
@jitendraRai
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-26 19:42] barclayn commented on #77897
@vurhanau if you still experience problems with the instructions please let us know. #please-close

[2021-07-26 19:42] #77897 closed

[2021-07-26 19:44] kenwith commented on #78840
@gilleta - updated to include the additional information. Thanks again for taking the time to provide the feedback based on your experience. I know it takes time to share the knowledge once you have figured something out and it is greatly appreciated.

Should be live shortly: https://github.com/MicrosoftDocs/azure-docs-pr/pull/166927

#please-close

[2021-07-26 19:44] #78840 closed

[2021-07-26 19:52] chtourou-youssef commented on #78653
So , i the path of the application is in another folder , and the /home/site/wwwroot contain only a sample html page , when restore the web app , i will found only the sample html page , and all files inside /var/ will be destroyed ?

[2021-07-26 20:11] JamesTran-MSFT commented on #78839
@caitlinzinda
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-26 20:19] RonnieQuan opened #78854 "Azure Bot Service Tag IP Restriction for Web App"
Looks like from Azure portal, it shows much more service tags can be configured for Web App Inbound Access Restrictions.

Can you please confirm if can use "Azure Bot" service tag to limit the incoming traffic from bot service only?
![image](https://user-images.githubusercontent.com/25850020/127053243-ab6c4df9-3b14-40ec-afee-f856bef98b3a.png)

[Enter feedback here]

---
#### Document Details

⚠ *D

[2021-07-26 20:22] MicrosoftGuyJFlo commented on #78847
This page is approved client app not app protection policy.

App protection policy is https://docs.microsoft.com/azure/active-directory/conditional-access/app-protection-based-conditional-access

[2021-07-26 20:29] barclayn commented on #77895
@vurhanau thank you for your feedback. I have made some changes in response to your submission. They should be live within 24 hours. #please-close

[2021-07-26 20:29] #77895 closed

[2021-07-26 20:30] spelluru commented on #78841
Here's the syntax to get the content of the message: `base64ToString(items('For_each_message_from_subscription')?['ContentData'])`

Here's what I tried.

1. Added a ForEach loop
2. Added the "Send an email" action. Configured the body with an expression: `base64ToString(items('For_each_message_from_subscription')?['ContentData'])` where the name of my for each loop is "For each message from subscr

[2021-07-26 20:31] spelluru commented on #78841
I will update the tutorial soon

[2021-07-26 20:31] Justinha commented on #78051
@priyankareddy20 it's at https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-authentication-passwordless#fido2-security-key-providers

I will add a cross-reference.

Thanks for the feedback!

[2021-07-26 20:33] cynthn commented on #78778
I've added a link to the top of the topic that points to the troubleshooting docs that are maintained by CSS. I hope this helps!

#please-close

[2021-07-26 20:33] #78778 closed

[2021-07-26 20:34] Justinha commented on #77373
#please-close

[2021-07-26 20:34] #77373 closed

[2021-07-26 20:36] matthewc101 opened #78855 "Condition error"
[Enter feedback here]

You make reference to the order value and the logic condition which determines what the flow will do.  I think you meant to say when the order is below a certain threshold, not above it.  Thanks.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12b20c74-3d65-5747-39a0-77b3c2214e0e
* Version Independ

[2021-07-26 20:37] aahill commented on #76951
#please-close