[2020-08-12 12:02] viktors-telle opened #60704 "Upgrade scenario does not work with Load Balancer Basic SKU"
The description should explicitly mention that the upgrade will work if you have a load balancer with Standard SKU.
I have the existing Load Balancer with static Public IP. Both of them have Basic SKU. Unfortunately, these upgrade steps do not work in such a scenario since you can't add another VMSS to the Load Balancer that has Basic SKU. I get this error message:

`Virtual Machine /subscriptions

[2020-08-12 12:12] HarithaMaddi-MSFT commented on #60703
@richardswinbank - Thanks for your valuable feedback. I am assigning this issue to the content owner to provide some more information here.

@ChrisLound - Can you please have a look at this one ?

[2020-08-12 12:22] souravmishra-msft commented on #60292
@arkaonelovemanu , Closing this thread since no further response received.

[2020-08-12 12:22] #60292 closed

[2020-08-12 12:23] ArenHarut commented on #60696
@MayankBargali-MSFT thanks for your prompt response. I will continue communication via email. I have already sent you an email with the specific information that you mentioned to azcommunity@microsoft.com. Please let me know that you received the email.

[2020-08-12 12:23] jayendranarumugam opened #60705 "Creating Synapses Workspace through ARM Template using SPN Failing during provisioning "storageRoleDeploymentResource" with BAD Request"
Is there any Specific permissions needed to include while deploying a Synapses workspace through ARM with SPN Authentication?

ARM will getting failed at `storageRoleDeploymentResource' Resource provisioning state with BAD request

Also the sql admin was randomly assigned with a GUID. Do we need any special permission to include in the doc to cover the SPN Deployment ?

Doc Link: https://docs.micr

[2020-08-12 12:25] BhargaviAnnadevara-MSFT commented on #60533
@sogetidev1 We will now proceed to close this thread, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-08-12 12:25] #60533 closed

[2020-08-12 12:30] Svijay-msft commented on #60615
#reassign:lisaguthrie

[2020-08-12 12:33] ChrisLound commented on #60703
@richardswinbank<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Frichardswinbank&data=02%7C01%7CChris.Lound%40microsoft.com%7Cc7374aae07c443a1073308d83eb91084%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637328311867148721&sdata=%2FopOFPkUyn2pvU7AbAiu8gtO2pI7ez5%2BYmlNJ6ZG5Ys%3D&reserved=0> – Thanks for the comments.  This task was simply to illustrate the collection

[2020-08-12 12:43] shashishailaj commented on #60373
@rwike77 Could you please review this query and see if the document needs a change ?

[2020-08-12 12:47] mikaelsand opened #60706 "Really small change to an API response"
About this part: https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-securing-a-logic-app#enable-azure-active-directory-oauth

When calling a Logic App, that has been secured by OAUTH and I supply neither a signature nor a token I get this error message:
`{
    "error": {
        "code": "DirectApiAuthorizationRequired",
        "message": "The request must be authenticated _only by_ Shar

[2020-08-12 13:00] ArenHarut commented on #60696
@MayankBargali-MSFT I also checked Service Health about maintainance notice or alerts and there was only one for August 10.
https://portal.azure.com/#blade/Microsoft_Azure_Health/AzureHealthBrowseBlade/healthHistory/trackingId/8_4Y-V88
![image](https://user-images.githubusercontent.com/60018498/90017963-4c953d00-dcbd-11ea-985d-044ca4f66dd1.png)

But we received Server errors on August 7 and 11, to

[2020-08-12 13:11] Svijay-msft commented on #60615
@lisaguthrie

One of the overload of AddFeatureManagement method is expecting IConfiguration object.

![image](https://user-images.githubusercontent.com/66949976/90017995-ea8f0480-dcc9-11ea-81ac-a9c5b74f1959.png)

Reference : [AddFeatureManagement(IServiceCollection, IConfiguration)](url)

In the example in the [documentation ](https://docs.microsoft.com/en-us/azure/azure-app-configuration/use-fea

[2020-08-12 13:19] n-mitic opened #60708 "How to use OIDC claim resolver in precondition of multiple validation profiles"
I need to do some validation based on {OIDC: ClientId}, and I use similar validation profiles like the ones from the example on the page.

In the technical profile, I have set

                        ...
                        <Item Key="IncludeClaimResolvingInClaimsHandling">true</Item>
                        <Item Key="UserMessageIfClaimsTransformationBooleanValueIsNotEqual"> Check failed! </

[2020-08-12 13:29] danesco0507 commented on #58896
Hi, I'm having a similar problem. I''m trying to store transcripts on my blobstore using the python script and it is always return an other blobs URL. (Transcription is working)

My TranscriptionDefinition is:

`
URI_SERVICIO =  f"https://{AZURE_ACC_NAME}.blob.core.windows.net/{AZURE_CONTAINER}?{sas_token}"

    transcription_definition = cris_client.TranscriptionDefinition(
        name=NAME

[2020-08-12 13:29] MayankBargali-MSFT commented on #60696
@ArenHarut I have sent you a detailed analysis from backend logs. In nutshell, there were service updates on the scale unit where your namespace. These updates are pushed from the product group from time to time to improve the service.

There will be no notification sent to the customers but to minimize the impact in your application please make sure that retry logic is handled in the code with ex

[2020-08-12 13:39] IgorCayosoft opened #60710 "Licensing error goes against description."
The documentation says "You can access this property in all editions of Azure AD" but trying to use it returns the error "Neither tenant is B2C or tenant doesn't have premium license". Is requiring a and Azure Premium license a recent change and what is the plan going forward?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-08-12 13:46] SB-o-matic opened #60711 "Azure B2C Customization - Change “Sign in with your Social Account” text"
I will like to be able to change the following texts on a B2C signin signup page.

“Sign in with your social account”
“Sign in with your existing account”
I am not a content developer. I have a html page That references some css and then the element. But I have not been able to modify the texts above since it comes from B2C.

Is it possible? How do I go about it? Also if I switched to a Sign in po

[2020-08-12 13:49] SwathiDhanwada-MSFT commented on #60590
@Mexicoder Is this request for document update or are you still facing the issue even when the "Application ID URI" is set ?

[2020-08-12 13:54] MonikaReddy-MSFT commented on #60711
@SB-o-matic -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-08-12 13:56] BhargaviAnnadevara-MSFT commented on #60381
@rogerwcpt The changes will reflect in the doc shortly after the merge. Thanks again for the feedback.

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-08-12 13:56] #60381 closed

[2020-08-12 13:59] eamonoreilly commented on #60701
We are tracking this issue on https://github.com/Azure/azure-functions-powershell-worker/issues/417

At the moment, it is not possible to use requirements.psd1 and instead you have to add the module to the modules folder at the root of the app after accepting the license.

[2020-08-12 14:03] cephalin commented on #51836
@GFoley83 Sorry for the delay. This clarification has been added to the intro paragraph and will be published within a day. #please-close

[2020-08-12 14:03] #51836 closed

[2020-08-12 14:08] Le0nn93 opened #60712 "Incorrect information in content"
The note section and the line below are incorrect (Chapter "Adding DNS records"):
 "This needs to be done for your Backup DNS zone only, those for Blobs and Queues will automatically be updated."

When you are using an integrated DNS zone it will only add the records of the Private Endpoint for the Backup DNS Zone automatically. The records for the Blob and Queue Private DNS Zones need to be added

[2020-08-12 14:13] fgheysels commented on #56351
Is there already any news on this ?

[2020-08-12 14:22] spelluru commented on #60020
Fixed the article. #please-close

[2020-08-12 14:22] #60020 closed

[2020-08-12 14:23] parasharshah opened #60713 "Update APIs used on the page"
Hi - now we have TA v3.x available. Can you please update the article with new capabilities and references to v3.x instead of v2.x mentioned on this page? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12c8e934-6639-88c5-08c1-31c90531854e
* Version Independent ID: 440b6cf2-692c-9a2c-558b-22326b3bdfb3
* Content:

[2020-08-12 14:25] paratz opened #60714 "Clarification on License requirements for PIM"
[Enter feedback here]

Hello, is it possible to further elaborate on the license requirements? Azure AD P2 license is required for admins taking the elegible  roles? or only for PIM administrators?

For instance in the access reviews documentation, there's a clear statement about the license requirements of the feature: https://docs.microsoft.com/en-us/azure/active-directory/governance/access-revi

[2020-08-12 14:26] spelluru commented on #60595
@zmarty - I will work with the PM to clean this page. Please see the supported documented in the following referred page.
https://docs.microsoft.com/en-my/azure/event-grid/metrics.

[2020-08-12 14:32] Tiberriver256 commented on #60020
Thank you!

[2020-08-12 14:34] Tiberriver256 commented on #60020
Looks like the title still has a typo in it @spelluru

![image](https://user-images.githubusercontent.com/6989492/90028154-5308c200-dc87-11ea-9d48-879d76a2b85e.png)

[2020-08-12 14:36] mvelikikh opened #60715 "Linux VMs TOC Bastion suggestion"
Hi folks,

The Use Bastion section of [the Linux VMs documentation](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/) looks like this:
![linux_vms_toc_bastion](https://user-images.githubusercontent.com/5602278/90026099-cd007180-dcae-11ea-986d-bcff9e073a94.png)
I would like to point out to the following issues:

1. 'Use Bastion to connect' is written twice
2. the 'Bastion SSH connecti

[2020-08-12 14:40] yeswps opened #60716 "System Topic at Management Group level"
I can create system topic at subscription level, while this is great, I have multiple subscriptions, so I have to create system topic on each one of them to aggregate certain event.

Is it possible to have a system topic created at management group level, that can see events from all subscriptions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-08-12 14:50] #60648 closed

[2020-08-12 14:51] SquirrelAssassin commented on #60648
Thanks for the feedback and were talking about about alot of server json schemas
    "resources": [
        {
            "apiVersion": "2015-06-15",
            "type": "Microsoft.Network/networkInterfaces",

[2020-08-12 14:56] parasharshah opened #60717 "Code showing blank"
Hi - Sentiment score for Sentence is blank. Can it be fixed in the code and also the output?
Sentence score:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f57e416-a37f-e719-4a3e-58a4e6390818
* Version Independent ID: dbb3821b-5793-b41b-9601-559b00e4096a
* Content: [Quickstart: Text Analytics client library v3 - Azure

[2020-08-12 14:58] shashishailaj commented on #60692
@mounirkam Thank you for your query. We generally use Github for Azure Documentation Improvement . We will try to help you here however if the issue requires deeper troubleshooting , we will recommend you to open a thread on [Microsoft QnA](docs.microsoft.com/answers/index.html) where the community can help you with errors like these or open a support case with Microsoft through your subscription

[2020-08-12 14:59] spelluru commented on #60020
Will fix it now. Thanks @Tiberriver256

[2020-08-12 15:05] sehaswell commented on #59420
Thanks :)

[2020-08-12 15:15] kunalbabre opened #60718 "This document lacks clarity"
Hi Team,

This is very confusing, it is not clear what the behaviour us expected

e.g. I got Service Bus Topic and Subscription if I disable a topic does that mean it can still receive a message but readers cannot read the message?

Can we have a simple table for each type and behaviour?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2020-08-12 15:17] rohancragg opened #60719 "Add note to mention that cloud-init values can also be passed using an ARM template"
The following docs link to this page and mention that cloud-init values can be passed using an ARM template parameters (e.g. contained in a bash script file)

- https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deploy-powershell#pass-parameter-values
- https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deploy-cli#inline-parameters

A reciprocal link from

[2020-08-12 15:17] NavtejSaini-MSFT commented on #60503
@RonnieQuan At this time we are going ahead and closing this request. If you have any other question, please do raise another feedback. Thanks

[2020-08-12 15:17] #60503 closed

[2020-08-12 15:18] NavtejSaini-MSFT commented on #60505
@RonnieQuan At this time we are going ahead and closing this request. If you have any other question, please do raise another feedback. Thanks

[2020-08-12 15:18] #60505 closed

[2020-08-12 15:20] NavtejSaini-MSFT commented on #60489
@MhAllan Please convey if you have any further question in this regard.

[2020-08-12 15:21] parasharshah opened #60720 "Add code for better print"
Can we add sample code to parse the JSON as a proper text?
Something like what has been done here: https://docs.microsoft.com/en-us/azure/cognitive-services/text-analytics/quickstarts/text-analytics-sdk?tabs=version-3&pivots=programming-language-python#sentiment-analysis

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9

[2020-08-12 15:23] kashyap-bhatt-by opened #60721 "Synapse doesn't support update"
Synapse doesn't support update

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e95f16ad-0c69-114b-6323-aab6d0f56b30
* Version Independent ID: 1f12fb16-6cb6-fa15-7eec-b513c9d02452
* Content: [Distributed tables design guidance - Azure Synapse Analytics](https://docs.microsoft.com/en-us/azure/synapse-analytics/sql-data-wa

[2020-08-12 15:25] nerajput1607 commented on #60567
This is correct, your data is actually stored at the azure search region you have chosen. There is only one point when your data gets temporarily stored in the blob in west-us which is part of ingestion process. When you do ingestion your data is temporarily stored in blob storage before the extraction of the content and then this data get moved to your Azure search region.

[2020-08-12 15:30] spallister commented on #60531
Great - Thanks for the additional details, @MayankBargali-MSFT.

So if I just care about dequeuing messages from a queue in the same order in which they were enqueued, could I just always use the same `SessionId`.  So in my previous example, if I sent the messages as follows:
- Message 1 (`SessionId`: 2ff4b564-d0fe-4d09-bc4a-d5acd5e5c022)
- Message 2 (`SessionId`: 2ff4b564-d0fe-4d09-bc4a-d5acd5e5c

[2020-08-12 15:39] paulehr opened #60722 "Issue getting status output from Get-AzVM in Graphical Runbook tutorial"
The follow Code in the example will not work and will cause the job to fail out with with a null input type

`$StatusesJson = $ActivityOutput['Get-AzVM'].StatusesText
 $Statuses = ConvertFrom-Json $StatusesJson
 $StatusOut =""
 foreach ($Status in $Statuses){
 if($Status.Code -eq "Powerstate/running"){$StatusOut = "running"}
 elseif ($Status.Code -eq "Powerstate/deallocated") {$StatusOut = "stoppe

[2020-08-12 15:45] artisticcheese opened #60723 "Shared Disks inside availability set and proximity group"
SharedDisks based on Ultra disks are not supported inside availability set or proximity placement group. Ultra disks are zonal resources and have to be deployed to specific zone which removes possibility of VM using availability set. (https://docs.microsoft.com/en-us/azure/virtual-machines/windows/disks-enable-ultra-ssd#ga-scope-and-limitations)
Please clarify statement below in document

`Azure s

[2020-08-12 15:50] amit-sycomp commented on #60614
Hello Tom,

If I need to provide the allowed location in order to choose it from.

{
  "$schema": "https://schema.management.azure.com/schemas/0.1.2-preview/CreateUIDefinition.MultiVm.json#",
  "handler": "Microsoft.Azure.CreateUIDef",
  "version": "0.1.2-preview",
  "parameters": {
    "config": {
      "basics": {
        "description": "xyz",
        "location": { 
                      "label"

[2020-08-12 15:52] zmarty commented on #60661
The point of my feedback was to improve the documentation. The way it is written now, it suggests you need to do this for dedicated plans, when it's actually On by default. It also does not tell you HOW to set it On. The explanations and the screenshot you pasted should go in the documentation, not in the Github issue here, I actually know all of this :) I am just trying to clarify for new users.

[2020-08-12 15:52] SwathiDhanwada-MSFT commented on #60722
@paulehr Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-08-12 15:53] zmarty commented on #60661
Comment applies both to the original page I reported, and also to this second link I added: https://github.com/Azure/Azure-Functions/wiki/Enable-Always-On-when-running-on-dedicated-App-Service-Plan

[2020-08-12 15:53] kenwith commented on #60316
@PeterSkovgaard - I got in touch with the product team and they agree that the call should return the new value since it is an await. They would like to discuss your use case with you further if possible, please email me (my email in my GitHub profile) and I will loop you and we can get the use case figured out.

I will make sure to capture any knowledge and get the docs updated with any new info

[2020-08-12 15:54] kenwith commented on #60316
#please-close

[2020-08-12 15:54] #60316 closed

[2020-08-12 15:54] zmarty commented on #60595
@spelluru Thanks, it would be great if you can clean up the page. The link you pasted here is very useful, thank you. The reason I could not find that page using web searches is that the page you linked to has different names for the metrics (they all end in Count) compared to what we see in the graphs. Maybe add some more keywords to that page?

[2020-08-12 15:55] kenwith commented on #60316
@PeterSkovgaard - I just checked and looks like my email is not in my GitHub profile anymore. Anyways, my email is   kenwith    at  microsoft.com. Thanks.

[2020-08-12 15:55] EricWantsToPlay opened #60724 "Doc Enhancement - Enabling SendGrid IP Access Management"
**ISSUE:** _I received a support case regarding a customer not adding all the possible Outbound IPs of their Azure App Service web app into the SendGrid IP Access Management whitelist, and receiving "Access Attempt From Non-Whitelisted IP" notifications. Their main feedback was to add a section to official Azure documentation about Outbound IPs and the SendGrid whitelist, because they found offici

[2020-08-12 15:58] zmarty commented on #60595
Can you also explain the difference between Publishing and Delivery? It's not clear.

[2020-08-12 16:04] timkatje opened #60725 "Pool size calculations are missing closing angle brackets after second criteria"
[Enter feedback here]
Under the "How do I choose the correct pool size" section there are two formulas provided to properly select the eDTU/vCore assignment of your elastic pools.  The calculations use angle brackets to contain criteria to compare.  In both calculations, the last criterion is missing the closing angle bracket (`>`).

For the DTU-based calc, this is the current line:
`MAX(<Total nu

[2020-08-12 16:07] kushalbhabra commented on #60567
Thanks for your answer.

Could you please help on following queries as I could on find details on the documentation.

- Is there any architecture available that explain flow data of during ingestion and prediction?
- Is this specifically for the portal or same for rest API.
- At what points would the data be outside Europe, in transit and rest while using it for Europe region.

[2020-08-12 16:09] spelluru commented on #60716
Confirmed with the dev manager. Creating system topics at management group level is not supported. Thanks.

[2020-08-12 16:09] cijothomas commented on #60196
https://github.com/microsoft/ApplicationInsights-dotnet/issues/1569#issuecomment-635457311

[2020-08-12 16:11] spelluru commented on #60595
Yes. That's right.

[2020-08-12 16:12] XUTProf opened #60726 "Networking options for App Services"
Lots of good details for setting up networking for app services.  Would be great if there's a summary table to compare options against considerations, and a flowchart for decision making.
thanks,
Stuart Ngai.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae743313-9367-b465-e31a-5beae33018d1
* Version Independent ID: c

[2020-08-12 16:12] spelluru commented on #60595
I will improve SEO for the article using the right keywords. I will also confirm the supported aggregations with the devs and update the article. Thanks.

[2020-08-12 16:16] 123Jun321 opened #60727 "how can i understand the throttling of IOT twin updates of s2"
Hi  Team

when we read this document https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-quotas-throttling#operation-throttles , we have some questions and hope you can help us to understand.

one is the throttling of twin update of s2, we noticed the other value of b1or s1or b3 or s3 is a specific rate but when we look the value of b2 or s2, it was  "Higher of 50/sec or 5/sec/unit", I

[2020-08-12 16:17] Mexicoder commented on #60590
Yes I am still facing issues. More info is here https://docs.microsoft.com/en-us/answers/questions/63854/how-to-debug-azure-monitor-alert-secure-webhook.html

[2020-08-12 16:18] BhargaviAnnadevara-MSFT commented on #60559
@pemsft Thanks for catching that error in the docs! I have submitted a PR to fix the issue that's in review.

[2020-08-12 16:18] craigktreasure commented on #60652
@Roentgens4u Happy to point you in the right direction. You'll find the Unity asset package containing the Azure Spatial Anchors SDK in the [releases](https://github.com/Azure/azure-spatial-anchors-samples/releases). The scenes are not included in the Unity asset package, but are instead found in our sample. After cloning the samples repository, by following the instructions in the article, you'll

[2020-08-12 16:24] tfitzmac commented on #60614
That should be right but I didn't test the code.

[2020-08-12 16:26] ArenHarut commented on #60696
@MayankBargali-MSFT thank you so much for your answer in the email. I will pass this to our Dev team, too.
Closing this ticket.

[2020-08-12 16:26] #60696 closed

[2020-08-12 16:27] clawrenceks commented on #36458
@shubDhond This issue is definitely not fixed. On the Windows Consumption plan if you deploy a template with only the WEBSITE_CONTENTAZUREFILECONNECTIONSTRING and without the WEBSITE_CONTENTSHARE you will get the error "WEBSITE_CONTENTSHARE is missing".

Trying to use the App Service deployment tasks in Azure DevOps and setting only the WEBSITE_CONTENTAZUREFILECONNECTIONSTRING will also produce a

[2020-08-12 16:31] kirasoderstrom commented on #59701
I have Az.OperationalInsights version 2.3.0 but I am still running into the same issue 'Remove-AzOperationalInsightsWorkspace: A parameter cannot be found that matches parameter name 'ForceDelete'.'

[2020-08-12 16:36] D4-AzIdentity commented on #60579
Hi Team,

Any updates of this topic? Any actions items need to perform?

[2020-08-12 16:46] iainfoulds commented on #60579
@D4-AzIdentity What's the PR number for this change? There's nothing listed as having been opened - https://github.com/MicrosoftDocs/azure-docs/pulls/D4-AzIdentity

After you make a commit, you need to create a PR to compare the changes, which automatically then requests a review.

[2020-08-12 16:57] ccapellan commented on #40136
Thanks @ecfan.  That worked for me!

[2020-08-12 16:58] #60570 closed

[2020-08-12 17:03] amitabh-github commented on #59846
Hello Guys, Never heard back from you on this.  Can you make an exception for my subscriptions to allow more than 10 custom endpoints on IOT hub? This is a must requirement for our project so let me know whom to contact to get is done? Thanks.

[2020-08-12 17:07] NavtejSaini-MSFT commented on #60725
@timkatje We are checking this and we will get back to you.

[2020-08-12 17:11] DerekHerman-MSFT commented on #57198
@mhopkins-msft There is now a Message never expires option in the portal. Please update the document at your convenience.

[2020-08-12 17:12] SaurabhSharma-MSFT commented on #60710
@IgorCayosoft Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-12 17:17] Roentgens4u commented on #60652
Thank you!  You guys are great!

[2020-08-12 17:17] MartinJaffer-MSFT commented on #60721
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-08-12 17:20] MarileeTurscak-MSFT commented on #60714
@paratz
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-12 17:23] Svijay-msft commented on #60615
@worming004 Your feedback has been shared with the content owner for further review.

[2020-08-12 17:23] SaurabhSharma-MSFT commented on #60525
@Jasonvgrace We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-08-12 17:23] #60525 closed

[2020-08-12 17:23] SaurabhSharma-MSFT commented on #59529
@jaffadog We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-08-12 17:23] #59529 closed

[2020-08-12 17:25] punitbasnet opened #60728 "Add further information to the document."
Please add the following in the Configure SNAT private IP address ranges - Azure portal section of the document.

If you desire to not SNAT certain private address that are not RFC 1918 compliant you can add those address with a /32 prefix in the IP prefixes section. This will prevent outbound traffic to those destination addresses from being SNATed.

---
#### Document Details

⚠ *Do not edit this

[2020-08-12 17:34] ChaitanyaNaykodi-MSFT commented on #60706
@mikaelsand, Thank you for your feedback! We will review and update as appropriate.

[2020-08-12 17:38] roygara commented on #60414
@larryclaman Thanks for bringing this to our attention, we appreciate it! I'm checking with the product team to ensure that process can be used without issue for unmanaged disks and am getting conflicting answers. I'll remove the statement for now and in the future when there is consensus will replace it with something else.

I've already made that change and it'll be live later today, so I'll go

[2020-08-12 17:38] #60414 closed

[2020-08-12 17:39] NavtejSaini-MSFT commented on #60725
@timkatje We have raised Pull Request to make the change - https://github.com/MicrosoftDocs/azure-docs-pr/pull/125878
Once approved the changes will be visible in approx 24 hours.

[2020-08-12 17:40] mukesh-dua opened #60730 "Accelerated Networking - Possibility to attach multiple VF interface and to configure multiple VLAN/MAC filters"
Hi,

I read through the article but couldn't any idea on if Azure allows:
1. attachment of multiple VFs to Virtual Machine
2. If a user can configure multiple VLAN or MAC address within the VM

I believe we have Mellanox cards underneath which provides the VF. With Intel cards, there is an option to enable trust mode which allows for tenant user to add/configure multiple VLAN and MAC address. I am

[2020-08-12 17:40] #60472 closed

[2020-08-12 17:40] TravisCragg-MSFT commented on #60370
@baier We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-12 17:40] #60370 closed

[2020-08-12 17:41] BharathNimmala-MSFT commented on #60712
@Le0nn93 Thank you for bringing this to our notice, we will look into and get back to you at the earliest.

[2020-08-12 17:49] JayaChatterjee-MSFT commented on #60661
@zmarty Thank you for the feedback. We will update the documents accordingly.

[2020-08-12 17:50] DanielBirmingham opened #60731 "Azure AD ToU FAQ Update Request"
The following FAQ Q&A pair is not completely accurate, which has caused confusion.  Hyperlinks in ToU PDFs do not work when accessed from the Azure AD MyApps / MyAccount portal.  This exception should be noted to reduce confusion.

Q: If hyperlinks are in the terms of use PDF document, will end users be able to click them?
A: Yes, end users are able to select hyperlinks to additional pages but lin

[2020-08-12 17:58] WinstonHoward-MSFT commented on #60723
Thank you for the feedback, I've asked the doc author to take a look at this.

[2020-08-12 17:59] JamesTran-MSFT commented on #60731
@DanielBirmingham
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-12 18:01] MonikaReddy-MSFT commented on #60395
@ThaMc -
I'm going to assign this to the document author so they can update the document accordingly.

[2020-08-12 18:02] #60614 closed

[2020-08-12 18:02] amit-sycomp commented on #60614
This is resolved, Thanks, Tom.

[2020-08-12 18:04] MarileeTurscak-MSFT commented on #60708
@n-mitic
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-12 18:04] stevestein commented on #38410
@mattneerincx - thanks for raising this issue. Apologies for the delayed response.  This page has recently been updated and I believe the current values are correct at this time.

[2020-08-12 18:05] stevestein commented on #38410
#please-close

[2020-08-12 18:05] #38410 closed

[2020-08-12 18:10] SatishBoddu-MSFT commented on #60519
Hello @dbuskirk Thanks for reaching out to us on this issue!

We have validated the GetStarted tutorial on MXChip Az3166 and were able to push to code to the device with **no issues** from VS code.

**Could you please let us know if you were also trying the same Get Started Sample?**

![image](https://user-images.githubusercontent.com/62923178/90050936-c3194700-dc8b-11ea-842f-7c0278c71412.png)

Th

[2020-08-12 18:11] svickers opened #60733 "User attribute mapping incorrect"
In the Snowflake provisioning docs the section that goes through user attribute mapping references fields that aren't available.  The two in question are `urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:defaultRole` and `urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:defaultWarehouse`.  When configuring in Azure, those don't show up and it looks like there is no way to add t

[2020-08-12 18:13] BharathNimmala-MSFT commented on #60403
@mvfolino68 Thank you for circling back on this and asking to close the thread.

If you have any information that can be shared for broader community usage please feel free to do so.

We will go ahead and close this issue for now, however will continue to track this with our internal team and if there is information that can be shared here will update the thread accordingly. If you have any furthe

[2020-08-12 18:13] #60403 closed

[2020-08-12 18:15] miqm opened #60735 "Additional Headers are required for Event Grid testing"
Please add to the documentation that besides Content-Type and aeg-event type headers 2 more are required for testing to work:
* Host
* Content-Length

Without them, Azure Functions host returns 400 or 411 error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f79bffab-0af8-75fc-f800-73eb979611ad
* Version Independent ID

[2020-08-12 18:16] BharathNimmala-MSFT commented on #60490
Thank you @Sharmistha-Rai for helping on this this thread.

@ShajithThaze Please review the above information shared by @Sharmistha-Rai and let us know if you have any further queries.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be

[2020-08-12 18:16] #60490 closed

[2020-08-12 18:17] AjayKumar-MSFT commented on #49245
@Sijoma, Thanks for the update. Yes, as mentioned in this [document](https://docs.microsoft.com/azure/app-service/faq-app-service-linux#web-sockets) -“Web Sockets are not currently supported for Linux apps on Free App Service Plans. We are working on removing this limitation and plan to support up to 5 web socket connections on Free App Service plans.” - Our product team is working on it, but we d

[2020-08-12 18:21] Sijoma commented on #49245
They also do not work for paid plans (B1).

[2020-08-12 18:29] #60659 closed

[2020-08-12 18:40] bluefooted commented on #60723
This is correct, because of this requirement with Ultra Disks, Azure Shared Disks for FCIs are supported only with Premium disks. This is indicated in the documentation for creating a SQL Server FCI on Azure Shared Disks as well as in the pre-requisites in both this document and the one you referenced in your issue. https://docs.microsoft.com/en-us/azure/azure-sql/virtual-machines/windows/failover

[2020-08-12 18:43] ntimmerman opened #60736 "OSError: [WinError 10013] An attempt was made to access a socket in a way forbidden by its access permissions"
[Enter feedback here]

When I attempt to start the http.server, I get the following error. I have tried running my terminal as admin.

OSError: [WinError 10013] An attempt was made to access a socket in a way forbidden by its access permissions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f894a59-0503-d934-947b-723a

[2020-08-12 18:43] bandersmsft commented on #60623
@ollliegits Thanks very much for your feedback. I've updated the article with your suggested change.
#please-close

[2020-08-12 18:43] #60623 closed

[2020-08-12 18:44] ZohairTharani opened #60737 "Why are Partial ARM Templates created?"
From my understanding, they seem to be created when publishing from Data Factory reflecting the changes made due to the date/time stamps, but I can't find anything to support that.

Do we need to delete them from our adf_publish branch?

Can someone point me to any documentation or give me a reason as to why Partial ARM Templates are created?

---
#### Document Details

⚠ *Do not edit this section

[2020-08-12 18:48] artisticcheese commented on #60723
I might have misunderstood that it was actually a requirement for FCI rather then just prerequisite for instructions only. Kind of removes GA for shared disks since essentially FCI is only supported in single geo region (West US).

[2020-08-12 18:53] Jared-Harrington-Gibbs opened #60738 "Conflicting information on AllowAdHocSubscriptions"
The article states (emphasis mine):

The referenced article however states:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06c24fd7-43ce-1445-b734-ffd28410911f
* Version Independent ID: b835d64a-a78a-95d9-11a7-8b93a23944c8
* Content: [Self-service sign-up for email-verified users - Azure AD](https://docs.microsoft.com/

[2020-08-12 18:55] anthonychu commented on #60736
This might be a firewall issue. Are you able to run other web apps using Python (like a Flask app, for example)?

[2020-08-12 19:01] anbene commented on #60651
#reassign:anbene

[2020-08-12 19:02] cephalin commented on #47198
@dazinator Further documentation for Windows containers is being planned. Stay tuned. #please-close

[2020-08-12 19:02] #47198 closed

[2020-08-12 19:05] AjayKumar-MSFT commented on #49245
Users with a similar issue, fixed it by switching the plan -B1 -> B2 -> B1, kindly see if this works for you. Having mentioned that, I'm discussing on this internally and will post back with more update.

[2020-08-12 19:08] brucedkyle opened #60739 "How do you set the resourceTag when calling 'az deployment group create'"
How do you set the resourceTag parameter?

The example shows the following code:

[code]
1. How do you set the resourceTags parameter with an object in Bash?
2. If my tags have spaces, how do you set the resourceTags as an object parameter?

I was thinking (wrongly) that this should work:

[code]

Suggestions?
(I was hoping this would have been explained in the documentation -- because the article

[2020-08-12 19:16] AzureAndre opened #60740 "Link wrong on page"
[Enter feedback here]
The link on the page for "Triggers and actions that support managed identities" points to the same URL as the following link "Supported authentication types on outbound calls"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cdfb9148-5d81-f65e-3cb3-aa7c5eb5867b
* Version Independent ID: 5051db4d-83d

[2020-08-12 19:22] HizzyCO commented on #47842
I am running into the same need. I am working on DR for my AKS cluster and I have managed disks mounted as a volumn. It would be really nice if I could implement azure site recovery with these disks

[2020-08-12 19:25] shashishailaj commented on #60520
@azureuser33 We generally use Azure-Docs github repo for Azure Documentation improvement and would like to request you to use our new forum [Microsoft QnA](https://docs.microsoft.com/answers) for troubleshooting issues. We will try to give you some pointers but this may need deeper checks as far as I can think. Could you please check the output of the netsetup.log on the failing and succeeding mac

[2020-08-12 19:25] #60520 closed

[2020-08-12 19:32] robinsh commented on #59846
To make this request, put in a support ticket.

From: amitabh-github <notifications@github.com>
Sent: Wednesday, August 12, 2020 10:04 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Robin Shahan <Robin.Shahan@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Custom endpoint in Azure IoT is restricted to 10 max (#59846)

Hello Guys, Ne

[2020-08-12 19:35] HarshitaSingh-MSFT commented on #60427
@saurabhvartak1982 , since this issue is being worked through PR which is under review, we will close this for now. Also, I suggest you keep track of the notifications related to the PR. But if you feel you need more information please just let us know/tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-12 19:35] #60427 closed

[2020-08-12 19:38] Rabbit994 opened #60741 "Powershell 7 support in Azure Functions"
While this blog article isn't 100% clear: https://azure.microsoft.com/en-us/updates/azure-functions-powershell-7-support-is-now-generally-available/ would it be possible to get this page updated with Function RunTime versions support which version of Powershell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40e84dea-0

[2020-08-12 19:47] #60535 closed

[2020-08-12 19:48] zr-msft commented on #60535
Thank you @keatseongchan for the feedback!

I have updated the article to address your feedback and the changes should be available soon.

[2020-08-12 19:56] scyto opened #60742 "I can't find the add publisher button."
I want to setup multiple plublisher accounts.
I logged in as instructed, and maybe i am being stupid, but as written i don't see an add publisher button or an account settings button.  Could you add more detailed documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00448cbd-79ca-5067-9d01-7f99578864f7
* Versio

[2020-08-12 19:58] zr-msft commented on #47869
thank you for the feedback @porrascarlos802018 and the updates @neaggarwMS @tamilmani1989 and @palma21

closing this issue due to the details above

#please-close

[2020-08-12 19:58] #47869 closed

[2020-08-12 19:58] nehsin commented on #59846
Hey @amitabh-github - Can you provide details on your project, subscription details and why you need to extend that beyond 10 endpoints?

[2020-08-12 20:00] YutongTie-MSFT commented on #60720
@parasharshah
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-12 20:03] Manny53 opened #60743 "Azure resource Move Error:is not a top level resource"
Hi there,

I'm trying to move CDN endpoint resource to a new subscription and I'm getting the following error. I have CDN profile and endpoint in the same RG.

Identifier '/subscriptions/8acxxxxx-xxxx-xxxx-xxxx-xxxxxxxx3fe6/resourceGroups/internal/providers/Microsoft.Cdn/profiles/internal-cdn/endpoints/internal-cdn-endpoint' is not a top level resource.

Can you please provide some suggestions to

[2020-08-12 20:08] YutongTie-MSFT commented on #60717
@parasharshah
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-12 20:11] cnadler-MSFT opened #60745 "Broken link"
Link to stream logs to event hub results in a 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6c9e569-75d5-4919-cc39-781f33673ace
* Version Independent ID: 40c5055f-f00d-5384-6500-8cfb4ec05534
* Content: [Integrate Splunk using Azure Monitor](https://docs.microsoft.com/en-us/azure/active-directory/reports-monitori

[2020-08-12 20:12] YutongTie-MSFT commented on #60713
@parasharshah
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-12 20:12] HarshitaSingh-MSFT commented on #60733
@svickers, thanks for the question. We're investigating this and will get back to you shortly.

[2020-08-12 20:14] HarshitaSingh-MSFT commented on #60738
@Jared-Harrington-Gibbs , thanks for the question. We're investigating this and will get back to you shortly.

[2020-08-12 20:17] AnuragSharma-MSFT commented on #60529
Thanks @kfarlee for the details provided.

@Parviz39 Please let us know if this answers your query.

[2020-08-12 20:21] MarileeTurscak-MSFT commented on #60745
@cnadler-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-12 20:22] Karishma-Tiwari-MSFT commented on #60594
Please query the status of the session hosts via powershell and let me know:
Get-RdsSessionHost -TenantName "contoso" -HostPoolName "contosoHostPool

[2020-08-12 20:30] MarileeTurscak-MSFT commented on #60745
I tested it and the link seems to work just fine. https://docs.microsoft.com/azure/active-directory/reports-monitoring/tutorial-azure-monitor-stream-logs-to-event-hub

If you still run into issues feel free to make a pull request to the document.

[2020-08-12 20:30] #60745 closed

[2020-08-12 20:32] bluefooted commented on #60723
@artisticcheese Yes, it's GA in that it's no longer a preview feature, but the availability is definitely still pretty limited. We are in the process of lighting up new regions though, there should be much broader availability by the end of Q3 CY20.

[2020-08-12 20:37] davidsmatlak commented on #60737
#assign:davidsmatlak

[2020-08-12 20:37] PRMerger15 commented on #60737
Only Microsoft employees can manage issues via commenting in this repo.

[2020-08-12 20:47] dsghi opened #60748 "Missing details on the values necessary to enable AAD Auth for P2S VPN."
Step 9 - Enable Azure AD authentication on the VPN gateway - it is not clear in this section where the values for these fields come from. **Tenant** is clear that it's the AAD Tenant ID, and  I assume the **Audience** is the same for everyone, as that is the ID of the app we grant permission for. There is no information at all that references **Issuer**. Having some details on where to locate this

[2020-08-12 20:51] #60700 closed

[2020-08-12 20:58] taromielnaz opened #60749 "Wrong Link"
[Enter feedback here]

The link of  DTU resource limits - Azure SQL Database. redirects to the same as  vCore resource limits - elastic pools.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83ac6bf5-b77e-2eeb-20ad-f850fbbf06c6
* Version Independent ID: fa64f1b9-62f1-3abc-523c-419682d911c0
* Content: [DTU resource limits

[2020-08-12 21:03] zr-msft commented on #60700
thank you @superstandy and @galvesribeiro for the feedback.

I've updated the article to address your feedback and the changes should be available soon/=.

[2020-08-12 21:06] carlneal opened #60750 "Error on send: One or more errors occurred."
Hello I keep getting an error when I run this app. The error reads "Error on send: One or more errors occurred."  Please advise

#Sets: 1,#FilesDump: 1,#CDRPerFile: 1000,%CallBack: 0.2, #DurationHours: 2
Time Increment Per Set: 2
20200812 170236
MO,d0,0,Australia,234507214,466921402416657,567841148,466922202679249,20200812,170236,1,0,,,b,1,,3,,442,886932428134,,,20200812 170236
Error on send: One

[2020-08-12 21:09] stevestein commented on #38023
@juongithub - Apologies for the slow response. The brief period would typically be on the order of seconds. Where we say that load balancing may occasionally occur, I don't have any official statistics to share, but it is a rare event.

Thanks!
#please-close

[2020-08-12 21:09] #38023 closed

[2020-08-12 21:14] artisticcheese commented on #60723
So Ultra disks support for shared disks is not on a road map for FCI? Only expanding availability of Premium SSDs as Shared disks is planned?

[2020-08-12 21:15] scyto commented on #60742
Ok i finally found the flow, here is roughly how your docs should read as there is nothing to select call account settings.

-------

1. sign into the partner portal
2. from the cog on the menu bar select developer settings
3. choose publisher settling
4. click add publisher

note you will need to create your publisher buisness location before it can be added here
to create a location do the follo

[2020-08-12 21:15] SnehaGunda commented on #60355
@griffinbird thank you for pointing out. I submitted a PR above to fix the issue.

In the future, if you find issues with the content, please feel free to click on the edit button on the page and submit a PR. We love to get community contributions.

We will now close this issue.

#please-close

[2020-08-12 21:15] #60355 closed

[2020-08-12 21:15] abhiyadav1323 commented on #60595
@spelluru I work in the same team as @zmarty and I was checking the logs on the event grid side but couldn't find the metrics `DestinationProcessingDurationInMs` in the logs.

Kusto query:
[code]

I only got these metrics
![image](https://user-images.githubusercontent.com/14785768/90068802-21ebba00-dca6-11ea-9ab9-44f8e7ad89d1.png)

It would be great to know `DestinationProcessingDurationInMs` to f

[2020-08-12 21:17] roygara commented on #60414
@larryclaman To follow up, I heard back from the product teams. This controlled failover is not a supported scenario when using unmanaged disks. Thanks again for reaching out. :)

[2020-08-12 21:30] bluefooted commented on #60723
It's my understanding that the limitations documented are just for now and that things will change over time, but I'm trying to sort out those details now. Expect an update to documentation soon to make this clearer.

[2020-08-12 21:31] spelluru commented on #60595
@abhiyadav1323 - please send an email to me and I will loop in the PM and dev who can help. Thanks.

[2020-08-12 21:35] ianc911 opened #60751 ""Disable access to the public endpoint" section unclear"
The **"Disable access to the public endpoint"** section merely says **"At the top of the page, select the Selected networks radio button. This will un-hide a number of settings for controlling the restriction of the public endpoint."** No mention is made of selecting the desired VNET's for access below. And will this still allow my on-prem networks access over the VPN tunnel? Dunno. The documentat

[2020-08-12 21:36] baristaTam commented on #30381
Hi, Just adding several months later I am following the tutorial here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-vs-code?pivots=programming-language-powershell

I too had to install .NET Core 2.2 along with 3.1 which was already installed.
The prerequisites for the article say .NET Core SDK 2.2+
I would think .NET Core 3.1 counts as "+" and the prereqs

[2020-08-12 21:47] BharathNimmala-MSFT commented on #60742
@scyto Thank you for bringing this to our notice and glad to hear that you were able to sort out the issue. We appreciate you taking time to share the flow for broader community here.

Will take your feedback and work with respective document author to see how we can enhance the documentation to reflect this flow. Will take it as a backlog item and update this thread accordingly when we have an up

[2020-08-12 21:48] Multiconecta commented on #51830
What? Deleting stuff without knowing what it does? Only if I've tried every other alternative before. Well, that was my case and it worked wonderfully. Thank you.

I didn't left and/or joined via dsregcmd. If I remember well, I was not logged in Office apps and in Settings - Accounts there was only local AD joined. After boot and user logon, I've got WAMdefaultSet YES, AzureADPrt YES, IsDeviceJoin

[2020-08-12 21:50] ianc911 opened #60752 "No mention of on-prem networks over a VPN Gateway"
No mention is made for allowing access from corporate networks over a VPN tunnel to the storage account. Please add it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2632af75-7664-b79b-ac5b-c7c17e6a609a
* Version Independent ID: 6ecf71b6-77c4-3ab6-8ec9-353ea407d70f
* Content: [Configure Azure Storage firewalls and vir

[2020-08-12 21:52] SnehaGunda commented on #60392
@ealsur can you please look into this issue?

@NavtejSaini-MSFT  can you please assign this issue to @ealsur

[2020-08-12 21:57] TravisCragg-MSFT commented on #60699
@squasta Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-08-12 21:59] asnierma commented on #60657
Hey Todor,

Thanks for the info but not sure I 100% follow..

How can they be an authorized Azure gov partner, have a CSP Azure gov tenant they can login to, and the CSP enrollment status report shows the tenant, but not be approved for CSP?

https://lynx.office.net/tenants/0c8d9cd8-acb5-4bba-aba1-fb9464d8985a/account/identity

[cid:image001.png@01D670C9.F14BEA70]

I thought when they got their Az

[2020-08-12 22:00] eavonius opened #60754 "Instructions for Windows Container mounting incorrect"
This topic gives instructions for mounting Azure file shares under Windows containers.

The topic says use C:directoryname but that does not work.

I'm running this command using the Azure CLI DevOps task and I've tried all these combinations:

C:datafiles
C:\datafiles
C:/datafiles
/datafiles
\datafiles

Only /datafiles and \datafiles doesn't get an error and "appears" to work - but there is no fo

[2020-08-12 22:02] MarileeTurscak-MSFT commented on #60603
@thequesarito , can you please send me a screenshot of what you are seeing? I am able to search by last name in my tenant so am having trouble reproducing this.

[2020-08-12 22:04] MarileeTurscak-MSFT commented on #60603
Never mind. Just tested again and it seems to be inconsistent. I can search by some last names and not others.

[2020-08-12 22:04] MarileeTurscak-MSFT commented on #60603
I'm creating a product bug to address this with the portal team.

[2020-08-12 22:05] SatishBoddu-MSFT commented on #60487
Hello @Rohan-Deshamudre, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-12 22:05] #60487 closed

[2020-08-12 22:08] Sunny-Sharma opened #60755 "LEMP link not working"
I want to create a LEMP server rather than a LAMP server.  The article mentions another tutorial for LEMP but it points back to this Lamp page - https://docs.microsoft.com/en-us/azure/virtual-machines/linux/tutorial-lamp-stack

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1e11aaf-3a77-95dc-371c-01d67556c2c3
* Version

[2020-08-12 22:09] WinstonHoward-MSFT commented on #60664
Hey, @tanmayjog I'm just checking in, if your still getting an error let me know.

[2020-08-12 22:09] TravisCragg-MSFT commented on #60728
@punitbasnet  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-08-12 22:12] SatishBoddu-MSFT commented on #60633
Hello @tommmc Thanks for reaching out to us!

Have you tried with a different browser?

Clearing the browser cache also helps.

Please let us know if the issue is still persistent!

[2020-08-12 22:16] peternield opened #60756 "Setting signature algorithm and other SAML configuration options"
Please add a section that describes setting the signature algorithm for SAML responses to anything other than SHA1, as well as any other options that can be defined in either the RelyingParty and/or the TechnicalProfile for the SAML2 token issuer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1376f79b-474f-4b83-2583-0

[2020-08-12 22:21] MarileeTurscak-MSFT commented on #60603
Thank you! I created a product bug to address this and will update the thread when I have a response from the product team.

[2020-08-12 22:21] #60603 closed

[2020-08-12 22:26] DerekHerman-MSFT commented on #60751
@ianc911
If you want to keep the connection strictly private you would not add VNET's below. This is stated in the[ next section of the document](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-networking-endpoints?tabs=azure-portal#restrict-access-to-the-public-endpoint-to-specific-virtual-networks).
Yes disabling access to the public endpoint will still allow connection to the

[2020-08-12 22:27] JamesTran-MSFT commented on #60731
@DanielBirmingham
I have created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2020-08-12 22:27] #60731 closed

[2020-08-12 22:33] DerekHerman-MSFT commented on #60752
@ianc911
In the See Also section we link to separate documentation which covers this. [Configure a Site-to-Site VPN for use with Azure Files](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-configure-s2s-vpn). There is also more information about this on the [Azure Files networking considerations page](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-networking

[2020-08-12 22:33] #60752 closed

[2020-08-12 22:35] davidsmatlak commented on #60737
@ZohairTharani Thank you for your question. There's information about partial saves of ARM templates in the [Advantages of Git integration](https://docs.microsoft.com/azure/data-factory/source-control#advantages-of-git-integration) section of the _Source control in Azure Data Factory_ article. The [Linked Resource Manager templates](https://docs.microsoft.com/azure/data-factory/continuous-integrat

[2020-08-12 22:35] SgtSpamCan commented on #60333
You can close the thread.  For my purposes, I had to do work to remove the
client secrets from the discussion just so I could get to the heart of the
walk-through as advertised.

If you want to do a walk-through about Client Secrets, IMHO, then you
should do that separately and Link It from this walk-through.

On Sun, Aug 9, 2020 at 9:11 PM AnuragSharma-MSFT <notifications@github.com>
wrote:

[2020-08-12 22:44] peternield commented on #51996
@SaurabhSharma-MSFT The link that you provide is to a document entitled "Defining a SAML Identity Provider..." which I took to be applicable when B2C acts as a Service Provider and federates "with a SAML-based Identity Provider, such as ADFS and Salesforce". The comment that Nick (and I) raised relates to when B2C acts as the SAML Identity Provider and issues tokens in response to SAML requests fr

[2020-08-12 22:45] ianc911 commented on #60751
"This is stated in the next section of the document."

Which I would not have read since I'm only interested in disabling access to the public endpoint. In general, users don't read docs or sections of docs that don't apply to them. Each section should provide an adequate explanation for that specific case without needing to read others.

"Yes disabling access to the public endpoint will still all

[2020-08-12 22:46] TravisCragg-MSFT commented on #60730
@mukesh-dua only this small functionality is exposed to allow for faster Networking. You can do whatever you want from within the Operating System. I recommend testing out the functionality on a VM to see what works and what doesnt.

You can also use [Nested Virtualization](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/nested-virtualization) to gain control of the virtualization

[2020-08-12 22:47] DerekHerman-MSFT commented on #60751
@ianc911
Thanks for the feedback on this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-08-12 22:52] TravisCragg-MSFT commented on #60748
@dsghi Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-08-12 22:52] mattneerincx opened #60757 "Documentation for Max log size (GB) 1229 on this page is incorrect (should be 1024)"
I have found that the documentation for **Max log size (GB)** is incorrect on this page.

The documentation states that for certain sizes a **Max log size (GB)** value of 1229 is allowed.   This is incorrect.  The maximum allowed value for **Max log size (GB)** is 1024 GB or 1TB.

https://docs.microsoft.com/en-us/azure/azure-sql/database/resource-limits-vcore-single-databases

So everywhere in the

[2020-08-12 22:53] ianc911 commented on #60751
Thanks. The opacity of the documentation here is compounded by the counterintuitiveness of the UI itself - Clicking the radio button for 'Selected Networks' would imply that the selection of some network is actually necessary to allow access. Confusing. I'm quite certain the UI portion is not your fault however... :)

[2020-08-12 22:57] GiftA-MSFT commented on #60526
@crevulus thanks for reaching out. Please refer to the response in this [thread](https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/756).

[2020-08-12 22:58] MarileeTurscak-MSFT commented on #60688
@AmanSextus
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-12 22:59] GiftA-MSFT commented on #59940
@MrSimple263 I will proceed to close this thread since there are no other comments but feel free to comment below if you need further assistance. Thanks.

[2020-08-12 22:59] #59940 closed

[2020-08-12 23:08] TravisCragg-MSFT commented on #60688
@AmanSextus Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-08-12 23:19] mamccrea commented on #60750
Hi @carlneal! During which step of the tutorial are you receiving this error?

[2020-08-12 23:36] carlneal commented on #60750
Hello @mamccrea it's during the step where we type "telcodatagen.exe 1000 0.2 2" and after we update the .config file located at "TelcoGenerator\TelcoGenerator\telcodatagen.exe.config." I updated the connection string as indicated, and then ran the command previously mentioned, to get the error listed.

[2020-08-12 23:36] cwester72 commented on #60594
You can close this I just created a new one.

Thanks!

[360 Visibility]<https://can01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.360visibility.com%2F%3Fsource%3Dsig&data=01%7C01%7Ccwester%40360visibility.com%7Cefdf591fa73746359d5508d78a2f3de5%7C0815a0a621fd4467a0ad296bc115d5f2%7C0&sdata=3hLAC7yoe%2F0iTm8rHw12Lpwcd9lvmzKYG5tDIdIXjDk%3D&reserved=0>
Craig Wester
Cloud Solutions Consultan

[2020-08-12 23:38] carlneal commented on #60750
I used the following (exact name is masked) for the telcodatagen.exe.config file:

EventHubName = "nameofeventhub"
Microsoft.ServiceBus.ConnectionString = "Endpoint=sb://nameofeventhub.servicebus.windows.net/;SharedAccessKeyName=MyPolicy;SharedAccessKey=randomlettersforkey0W+RBIfjg5sTdpzuRCYOfoycewzWTg="

[2020-08-13 00:07] artisticcheese opened #60760 "Possible error in instructions how to create new cluster in Azure"
Instructions for creating cluster `New-Cluster -Name <FailoverCluster-Name> -Node ("<node1>","<node2>") –StaticAddress <n.n.n.n> -NoStorage -ManagementPointNetworkType Singleton` implying that in Azure you can use Singleton ManagementPointNetworkType and link is provided to blog post (https://blogs.windows.com/windowsexperience/2018/08/14/announcing-windows-server-2019-insider-preview-build-17733/

[2020-08-13 00:26] ealsur commented on #60392
The point is, the options to host it are very wide, we could list a few, but it can range from a WebJob, to a Kubernetes Pod, we cannot add code samples for all. Especially because the code to run it is the same regardless of the platform. Some platforms might need particularities (for example, running in an Cloud Service Worker Role requires the user code to have an infinite loop somewhere) but n

[2020-08-13 00:38] petersgiles commented on #30381
Agreed, I have wasted hours this morning trying to bend time and space working through getting the hello world example working

[2020-08-13 00:45] davidsmatlak commented on #60739
@brucedkyle Thank you for your documentation inquiry. I'll research the question and post an update in this issue.

[2020-08-13 00:47] davidsmatlak commented on #60739
MS triage team, please assign to @davidsmatlak. Thanks.

[2020-08-13 00:48] Karishma-Tiwari-MSFT commented on #60693
@mammask Can you please share your insights on the customer issue? Thanks :)

[2020-08-13 00:51] Karishma-Tiwari-MSFT commented on #60755
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-13 00:57] Karishma-Tiwari-MSFT commented on #60704
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-08-13 00:58] Karishma-Tiwari-MSFT commented on #60719
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-13 01:00] Karishma-Tiwari-MSFT commented on #60482
We will now close this issue. Please share the details when you are ready and tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-08-13 01:00] #60482 closed

[2020-08-13 01:01] Karishma-Tiwari-MSFT commented on #60578
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-08-13 01:01] #60578 closed

[2020-08-13 01:02] Karishma-Tiwari-MSFT commented on #60594
Thanks for sharing the update. If you see this issue again, please let me know and I can connect you to a support engineer for backend troubleshooting.

[2020-08-13 01:02] #60594 closed

[2020-08-13 01:10] mike-urnun-msft commented on #60715
@mvelikikh Thank you for your feedback! We will review and update as appropriate.

[2020-08-13 01:34] wjia7 commented on #60667
Is there a way to quickly disable and re-enable the Accelerated Networking on your VM via Azure Portal?

[2020-08-13 01:55] mike-urnun-msft commented on #60705
@jayendranarumugam Thank you for your feedback! We will review and update as appropriate.

[2020-08-13 01:57] skywalkerisnull commented on #60676
@shashishailaj We found the problem, the naming/labelling in the Partner Portal that allows us to navigate "Microsoft 365" and then when we view the license for the client, we see 365 E3, when we dug into the specific license further. It is Office 365 E3, not Microsoft 365 E3 as a comparison here: https://www.microsoft.com/en-au/microsoft-365/enterprise/compare-microsoft-365-and-office-365

That a

[2020-08-13 01:57] #60676 closed

[2020-08-13 01:57] mike-urnun-msft commented on #60724
@EricWantsToPlay Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-08-13 02:00] mike-urnun-msft commented on #60727
@123Jun321 Thank you for your feedback! We will review and update as appropriate.

[2020-08-13 02:03] mike-urnun-msft commented on #60735
@miqm Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-08-13 02:05] mike-urnun-msft commented on #60740
@AzureAndre Thank you for your feedback! We will review and update as appropriate.

[2020-08-13 02:09] mike-urnun-msft commented on #60741
@Rabbit994 Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-08-13 02:13] mike-urnun-msft commented on #60743
@Manny53 Thank you for sharing your feedback! Since this channel is for driving improvements towards MS Docs, could you provide us with a specific URL of the MS Doc that your feedback is most applicable to? That way, we're able to connect you with the right team that's best fit to address your feedback.

[2020-08-13 02:18] ram-msft commented on #60507
@andrewdoesdata We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-13 02:18] #60507 closed

[2020-08-13 02:31] NavtejSaini-MSFT commented on #60749
@taromielnaz We are checking this and will get back to you.

[2020-08-13 02:32] NavtejSaini-MSFT commented on #60757
@mattneerincx We are checking this and we will get back to you.

[2020-08-13 02:39] NavtejSaini-MSFT commented on #60749
@taromielnaz We have raised the request to correct this https://github.com/MicrosoftDocs/azure-docs-pr/pull/125971 and once approved the changes will be visible in 24 hours.

[2020-08-13 02:52] JavedEqbal commented on #58539
Any updates on this ?

[2020-08-13 04:02] MithunChopda commented on #60575
Hi asergaz,

My issue is not documented in the troubleshooting page.

I figured out that there is a dependency on Media Feature pack. This pack was missing on my computer. I installed this pack from https://www.microsoft.com/en-us/software-download/mediafeaturepack (I am on Windows 10 Pro N).

Post this the Recorder and the Viewer worked fine. Kindly consider documenting this dependency if you thi

[2020-08-13 04:13] PramodValavala-MSFT commented on #60537
@jeremyfiel Hope my previous comment clears things up.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-13 04:13] #60537 closed

[2020-08-13 04:15] AshokPeddakotla-MSFT commented on #60521
@JohnStraumann66 Did you get a chance to look at the above response? Do let us know if that helps.

[2020-08-13 04:18] AshokPeddakotla-MSFT commented on #60558
@lalalawink We hope that address your query. Do let us know if you have any further queries.

[2020-08-13 04:48] VikasPullagura-MSFT commented on #60760
@artisticcheese
Thanks for your Question! We are currently investigating and will get back on this.

[2020-08-13 04:48] VikasPullagura-MSFT commented on #60760
@MashaMSFT
Can you please check and add your comments on this issue.

[2020-08-13 04:52] ChaitanyaNaykodi-MSFT commented on #60718
@kunalbabre, Thank you for your feedback! We will review and update as appropriate.

[2020-08-13 05:09] MayankBargali-MSFT commented on #60495
@anilpras Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-08-13 05:09] #60495 closed

[2020-08-13 05:18] SnehaAgrawal-MSFT commented on #60726
@XUTProf Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-13 05:19] VikasPullagura-MSFT commented on #60612
@Shuanglu The document is updated based on your feedback.

We will now close this issue.

[2020-08-13 05:19] #60612 closed

[2020-08-13 05:21] SnehaAgrawal-MSFT commented on #60754
@eavonius Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-13 05:40] dcurwin commented on #60712
#reassign:utraghuv

[2020-08-13 05:52] #60559 closed

[2020-08-13 05:53] BhargaviAnnadevara-MSFT commented on #60559
@pemsft I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly. Thanks again for the feedback.

[2020-08-13 06:22] psmanhas commented on #59733
@patrickhiggins  Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-08-13 06:22] #59733 closed

[2020-08-13 06:31] PramodValavala-MSFT commented on #60701
@nicolonsky Hope @eamonoreilly's comment clears things up and please feel free to follow the [issue](https://github.com/Azure/azure-functions-powershell-worker/issues/417) linked to stay updated on the progress.

[2020-08-13 06:44] glprasanna commented on #60221
Hi Jeevan,

Thank you for checking.
Please note that we have disabled Websudo on our JIRA and still facing same error.

Yes, we are fine to get into call to troubleshoot. Please let us know timings.

Regards,
Prasanna

[2020-08-13 06:49] BharathNimmala-MSFT commented on #60425
@shakibqureshi Apologies for delayed response on this. Post validation with our team it has been called out that "The name of the agents installed for migrating Hyper-V VMs are Azure Site Recovery Provider and Recovery Services agent" and its document accordingly. However if you see any other documentation reference that contradicts this information please let us know so that we can take action ac

[2020-08-13 06:49] #60425 closed

[2020-08-13 06:52] foramkumar-parekh opened #60775 "Directly forward user to login with their AAD account"
I followed the steps mentioned in the documentation and I can log in using the social and local account starter pack.

Now, what I need is,

1. The user just sees the email field. (self-asserted HRD)
2. Based on the email, users are redirected to an appropriate technical profile. If the user has domain contoso.com, we will use AD authentication, else local b2c sign in
3. For point 2, I need to mak

[2020-08-13 07:12] robinhultman commented on #36458
Having the same issue as @clawrenceks

[2020-08-13 07:13] rrajan82 opened #60776 "When running Install-MSCloudIdUtilsModule, the command fails stating that 'Unable to find version '2.14.201151115' of package 'Microsoft.IdentityModel.Clients.ActiveDirectory'."
[Enter feedback here]

nuget.exe: The underlying connection was closed: An unexpected error occurred on a send.
At line:1 char:1
+ &"C:\Users\rrajan\Documents\WindowsPowerShell\Modules\MSCloudIdUtils\ ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (The underlying ...rred on a send.:String) [], RemoteException
    + FullyQuali

[2020-08-13 07:22] MSSedusch commented on #60261
@abudja we will add a link to the ASR document. Thanks for the suggestion.

[2020-08-13 07:24] crevulus commented on #60526
This doesn't address the REST API, only the Python SDK.

I'd like to know if the initial & end timeout is controllable for the REST API.

[2020-08-13 07:27] ndeusch opened #60777 "node_modules.tar.gz missing?"
Hello,

when following the guideline i get an error message after deploying to azure app services.

Please have a look on the attached logs.

What can i do for solving this issue?

''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''
2020-08-13T07:20:34.486954994Z   _____
2020-08-13T07:20:34.486986796Z   /  _  \ __________ _________   ____
2020-08-13T07:20:34.486992296Z  /  /_\  \___   /

[2020-08-13 07:38] JadeCoding opened #60778 "This tutorial need to be updated"
First of all is the code section here need to be removed in the full example (as I explained below):
//According to breaking change of preview.3,
//Type definitions in Azure.DigitalTwins.Core.Models namespace moved to Azure.DigitalTwins.Core.
using Azure.DigitalTwins.Core.Models;

Then the try catch should be enabled for

DigitalTwinsClient client = new DigitalTwinsClient(new Uri(adtInstanceUrl),

[2020-08-13 07:46] JadeCoding commented on #60633
I hit this too when trying https://docs.microsoft.com/en-us/azure/digital-twins/tutorial-code
And there is an very similar issue: https://github.com/Azure/azure-sdk-for-net/issues/13940

[2020-08-13 08:10] satyasyamnn opened #60779 "Configure device settings - options missing"
In the current device settings page, I cant see option to add "Additional local administrators to Azure AD joined devices". May be it is a bug to be fixed. If this the change, can you please let me know where can I find options to add device admins to Azure AD joined devices. Is it now to be done through Azure policies?

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-08-13 08:23] mennomenno opened #60780 "Does allowing 'Any' protocol inbound allow more than TCP, UDP and ICMP?"
When allowing 'Any' protocol inbound, does that also allow e.g. ESP?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e905802-0b08-4b3b-25ec-0f88c023bc32
* Version Independent ID: f31325e5-49ea-b28c-336e-10f2a3fc12b4
* Content: [Azure network security groups overview](https://docs.microsoft.com/en-us/azure/virtual-netwo

[2020-08-13 08:24] Vivelin opened #60781 ""Groups assigned to this application" option missing"
I can see a "Groups assigned to this application" option when adding groups claims, but it is missing from the documentation (under the header "Configuring groups optional claims").

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d8e93d6-413b-34aa-3359-41f5baa442d3
* Version Independent ID: 0d657318-8058-a76a-c219-393a

[2020-08-13 08:45] lbugnion opened #60782 "The provided JSON payload for "Create a service health alert" is invalid"
There is an error in the provided JSON payload:

`"impactedServices": "[{"ImpactedRegions"}]",`

The mask should be replaced by a list of values.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28360a4e-c758-66f0-39fd-518e480d80d9
* Version Independent ID: 52f4d95e-627c-07d7-a4a3-95b31fc616d4
* Content: [How to trigger

[2020-08-13 08:49] zhangjiwen14 opened #60783 "results is undefined"
I am new to Cosmos db. I am trying to execute a stored procedure written inside Cosmos DB from node js Azure function. But the 'results' is coming undefined. Here is the piece of code written in Azure function:

const parameters = [
    {
      Id: Id
    }];
const client = cosmosClient.getClient();

  const { container } = await FetchContainerDetails(cosmosClient, client);
const sprocLink='dbs/db

[2020-08-13 08:58] AnuragSharma-MSFT commented on #60783
@zhangjiwen14 Thank you for the details. We are actively investigating and will get back to you soon.

[2020-08-13 09:09] chetansir opened #60784 "sql magic commands not working properly"
Document section at below link mentions that "%%sql?" can be used to see the help section for this magic cell command.

However its not working and throwing below error.

"Invalid input! database name not provided."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d6aa152-5044-1011-2d67-72e6a241ed94
* Version Independen

[2020-08-13 09:16] dbuskirk commented on #60519
Hi Satish:

Just to be clear, I have already run this example successfully after some modifications. My primary question involves changes to the library.

Note that I am using what I believe to be the most recent library, which is more recent than appears in the board manager in VSCode Arduino.

[cid:e352fb74-c67d-457a-ba1f-290a52584e1f]
When I attempt to run the example code without modification

[2020-08-13 09:21] SwathiDhanwada-MSFT commented on #60782
@lbugnion Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-08-13 09:27] HarshitaSingh-MSFT commented on #60625
@anomepani, just checking in to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this issue or is good to be closed.

[2020-08-13 09:33] ram-msft commented on #60288
@darshats We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-13 09:33] #60288 closed

[2020-08-13 09:35] arunpnair opened #60785 "The Linux link under the section "Use a service principal" is broken"
The Linux link under the section "Use a service principal" is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eee999c1-32dd-d014-40df-8027adee1258
* Version Independent ID: 19a29c09-79f8-580a-841f-873e2801da56
* Content: [Integrate Azure Key Vault with Kubernetes](https://docs.microsoft.com/en-us/azure/key-vault

[2020-08-13 09:38] rockboyfor opened #60786 "The Java SDK V4 code of Indexing policy is empty."
Hi
Good day!

The following Java SDK V4 code of Indexing policy is empty:
https://docs.microsoft.com/en-us/azure/cosmos-db/performance-tips-java-sdk-v4-sql?tabs=api-sync#indexing-policy

Could you please help to check it?

Best Regards!
Edward Chen

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0e7859f-11e3-14fd-cd65-

[2020-08-13 09:45] jayendranarumugam commented on #60705
Hi @mike-urnun-msft , I just found the workaround but not exactly sure this is correct solution, currently my SPN have contributor access to RG. I've changed the access to owner and it got worked. Is owner access really needed to a SPN for creating Synapses workspace ?

[2020-08-13 09:48] AjayKumar-MSFT commented on #60543
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion.

[2020-08-13 09:48] #60543 closed

[2020-08-13 09:49] mounirkam commented on #60692
@shashishailaj  Thanks for your reply. I tried to open the Microsoft QnA link but the page was not found. I am also not sure if i understood you correctly whether i can pursue this here. Can you at least tell me if what i am trying to achieve is applicable to this topic and perhaps make it clearer in the documentation as well regarding supported scenarios and the difference to the full federation

[2020-08-13 09:52] hongman opened #60787 "Missing docs file for Quickstart: Call an ASP.NET Core web API Protected by Microsoft identity platform"
There is no docs for Quickstart: Call an **ASP.NET Core** web API Protected by Microsoft identity platform
(ASP.NET : https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-dotnet-native-aspnet)

![image](https://user-images.githubusercontent.com/8444994/90118889-d7e10200-dd93-11ea-9376-44cacb9721be.png)

That document is not **docs.microsoft.com/~~~**, but [this link](https

[2020-08-13 09:54] HarshitaSingh-MSFT commented on #60668
@simorocksTheBest , As you mentioned, you have created the custom policies and set them up in your tenant by following the [Set up sign-in for multi-tenant Azure AD by custom policies - Azure AD B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-multi-tenant-custom?tabs=app-reg-ga). I assume that now you want to know about their usage/implementation in your

[2020-08-13 09:57] SnehaAgrawal-MSFT commented on #60777
@ndeusch Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-13 10:09] anomepani commented on #60625
I am getting different issue while running provided PowerShell script.
While using `Connect-AzureAD` or `Connect-MsolService` I am getting this error
```Could not load type 'System.Security.Cryptography.SHA256Cng' from assembly ```

[2020-08-13 10:10] shashishailaj commented on #60756
@peternield Thank you for your feedback . We will investigate and update the thread .

[2020-08-13 10:12] AnuragSharma-MSFT commented on #60784
@chetansir Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-08-13 10:12] a-martynov commented on #59736
This page tells that feature is not yet supported
https://docs.microsoft.com/en-us/powershell/module/az.sql/new-azsqldatabasefailovergroup?view=azps-4.5.0
When is it planned ?

[2020-08-13 10:14] AnuragSharma-MSFT commented on #60786
@rockboyfor Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-08-13 10:14] SadiqhAhmed-MSFT commented on #60631
@Richiec76 Any progress on this?

[2020-08-13 10:20] GitaraniSharma-MSFT commented on #60667
@wjia7 , apologies for the confusion. You cannot enable/disable accelerated networking on an existing VM via Azure portal (portal only works while new VM creation) but it can be done via Azure CLI/PowerShell. You need to first stop the VM from portal and make sure that it is in stopped/decommissioned state. Make a note of the name of the NIC and run the below commands:

**Azure CLI:
==============

[2020-08-13 10:20] Richiec76 commented on #60631
Hi Sadiq,

Apologies, I didn’t see the reply until now. I did try AZ 4.5, but I will reset it and see if that helps.

The AzureCLI commands work fine, I tested that out.

I’ll let you know how I get on with the Powershell Az reset

Thank you,

Richard

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: SadiqhAhmed-MSFT<mailto:notifications@github.com>
Sent: Thursd

[2020-08-13 10:21] shashishailaj commented on #60775
@foramkumar-parekh Thank you for your query. We will investigate and update the thread.

[2020-08-13 10:22] GitaraniSharma-MSFT commented on #60667
@wjia7 , apologies for the confusion. You cannot enable/disable accelerated networking on an existing VM via Azure portal (portal only works while new VM creation) but it can be done via Azure CLI/PowerShell. You need to first stop the VM from portal and make sure that it is in stopped/decommissioned state. Make a note of the name of the NIC and run the below commands:

Azure CLI:
To disable:
az n

[2020-08-13 10:30] GitaraniSharma-MSFT commented on #60780
@mennomenno , In the protocol column, **Any** encompasses TCP, UDP, and ICMP only. You can either select one of them or all of them by selecting Any. It is mentioned in the article as below:

![image](https://user-images.githubusercontent.com/67630903/90124247-b248fe00-dd7d-11ea-9811-49177f60b75b.png)

We are closing this issue for now. If there are further questions regarding this matter, please

[2020-08-13 10:30] #60780 closed

[2020-08-13 10:31] j0ej0e21 commented on #60494
Any movement on this issue?

[2020-08-13 11:04] ArenHarut opened #60788 "Monitoring and alerting for Azure file share usage"
In one of our projects we are using some file shares which might have problems with filling up from time to time.
I was wondering how we can monitor or create an alert in order to understand the usage of the file share vs quota of the file share. By the way, I created another alert with these conditions:
![image](https://user-images.githubusercontent.com/60018498/90127449-3e572780-dd76-11ea-8365-2

[2020-08-13 11:09] practicalspartaa opened #60790 "Azure Data sync have limitation of 5 sync group but i have created up-to 7 sync group and its was working."
Azure Data sync have limitation of 5 sync group but i have created up-to 7 sync group and its was working. I didn't understand this and why is there a limitation of 5 sync groups then?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa9bff59-c1f2-f93e-46ed-50eb2b6bc1e8
* Version Independent ID: 83943260-4a5c-cae6-0b77-6

[2020-08-13 11:11] practicalspartaa opened #60791 "Azure Data sync creates some temp file on On-premise Database and machine. Then what is the purpose of Sync database in Azure?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-08-13 11:15] demadred opened #60792 "TSI invalid query payload after 404 fix"
I've been trying to connect Power BI to Time Series Insights and haven't been able to do this successfully.

In my first attempts I've encountered the exact issue that has been described in:

- [Error when trying to connect TSI with Power BI](https://github.com/MicrosoftDocs/azure-docs/issues/43139)
- [404 'Not Found' Error](https://github.com/MicrosoftDocs/azure-docs/issues/53955)

The resolution

[2020-08-13 11:21] satyajitmahapatra opened #60793 "Error when trying to enable static website on Azure storage account using CLI az storage blob service-properties update from git bash on windows"
I was trying to enable static website for a storage account on Azure using the below command
`az storage blob service-properties update --account-name myStorageAcc --static-website`.
I was running this command from git bash on Windows 10. But it threw below error
`az storage blob service-properties: 'update' is not in the 'az storage blob service-properties' command group. See 'az storage blob ser

[2020-08-13 11:22] NavtejSaini-MSFT commented on #60790
@practicalspartaa We are checking this and will get back to you.

[2020-08-13 11:23] mennomenno commented on #60780
Thanks for your fast response; I should have read more carefully.

[2020-08-13 11:25] KeithDarragh1 opened #60794 "Front Door - Session Affinity"
This section about session affinity needs a major rewrite.

I have had a support case open since May 29, which I have only resolved today. Firstly, it should be made clear what the cookies used for Front Door Session Affinity are called i.e. ASLBSA & ASLBSACORS. Microsoft support and I have been looking at the ARRAffinity cookie which was a complete waste of time.

Secondly, the response header mu

[2020-08-13 11:28] shashishailaj commented on #60787
@hongman Thank you for your contribution . We will have this reviewed by the content authors and will update on this.

[2020-08-13 11:30] shashishailaj commented on #60776
@rrajan82 Thank you for your analysis and query. We will investigate this and update this thread.

[2020-08-13 11:32] erydrn opened #60795 "Size limitation issue while back-up Oracle Database using Oracle RMAN and Azure Blob Fuse"
Hello,

We tried to back up Oracle Database by using Oracle RMAN and Azure Blob Fuse. We also followed this guide;

https://docs.microsoft.com/en-us/azure/storage/blobs/storage-how-to-mount-container-linux

Everything works fine. We also saw the backup files in the storage; however, while backing up, blob fuse creates temporary storage in the server which has 75GB size. If the backup size is more

[2020-08-13 11:33] shashishailaj commented on #60779
@satyasyamnn Thank you for your query. We will investigate and update the thread.

[2020-08-13 11:34] shashishailaj commented on #60781
@Vivelin Thank you for your feedback . We will investigate and update the thread.

[2020-08-13 11:35] omarelhariry commented on #60025
Composite children are independent models, they should be added by their name directly.
If this is a V1 hierarchical entity, then yes, the double colon should work.

[2020-08-13 11:35] msaranga opened #60796 "Invitation API Link broken"
Following link in code sample : https://developer.microsoft.com/graph/docs/api-reference/v1.0/api/invitation_post is not working in this pafe
https://docs.microsoft.com/en-us/azure/active-directory/external-identities/code-samples

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 488fdbc7-ca6a-0356-35a2-c3de26392fc4
* Ver

[2020-08-13 11:36] shashishailaj commented on #60785
@arunpnair Thank you for pointing this out. We will review this and have it fixed on our end.

[2020-08-13 11:37] omarelhariry commented on #60025
Composite children are independent models in the application so, they can be added by their name directly.
Is this a V1 hierarchical entity? If yes, then, the double colon should work.

[2020-08-13 11:39] TuanAnh207 opened #60797 "Confusing sentence"
In the section "How can I control these capabilities?"
AllowEmailVerifiedUsers controls whether "**a user can create or join a directory**". If you set that parameter to $false, no email-verified user can join the directory.
I think it should be "a user can be created in or join a directory"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2020-08-13 11:40] Victor-Savu opened #60798 "What does the downtime entail"
The warning on this page says that rotating the certificates can cause up to 30 minutes of downtime for the cluster. What does that downtime entail?

During that "downtime":
1. [ ] Can I deploy resources using `kubectl apply`?
1. [ ] Can I query the status of existing resources with `kubectl get`?
1. [ ] Will my pods be running as usual?
1. [ ] Will my services be accessible over the internet (i.e

[2020-08-13 11:41] shashishailaj commented on #60796
@msaranga Thank you for your feedback . We will have this reviewed and update the thread.

[2020-08-13 11:42] shashishailaj commented on #60797
@TuanAnh207 Thank you for your feedback . We will investigate and update the thread.

[2020-08-13 11:48] AnuragSharma-MSFT commented on #60784
@chetansir Sorry for the trouble you are having. Could you please provide the complete error message and also the exact command you are executing either through screenshots or you can copy paste them here?

[2020-08-13 12:15] AshokPeddakotla-MSFT commented on #60778
@JadeCoding Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-08-13 12:27] chetansir commented on #60784
Please find below.
Capture 1 shows command working for respective DB and container
![Capture1](https://user-images.githubusercontent.com/44327226/90134132-52a71e80-dd8e-11ea-8e32-a121817bf147.PNG)

Capture 2 shows _**'%%sql?'**_ magic command mentioned in documentation for viewing out the help section of this command, however it doesn't works. Neither via capture 1 script nor capture 2

![Capture2

[2020-08-13 12:38] Reddy1990 commented on #44948
is REST API only option to create data catalog ?  Just wanted to reconfirm if there are any new changes has occurred on this item.

[2020-08-13 12:50] MonikaReddy-MSFT commented on #60579
@iainfoulds  - Thank you for providing your insights.
@D4-AzIdentity - I hope @iainfoulds has answered your question.  ALso please take look at this doc for more reference - https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further quest

[2020-08-13 12:50] #60579 closed

[2020-08-13 13:04] AnuragSharma-MSFT commented on #60786
@rockboyfor Thanks for letting us know the issue, really appreciate your inputs. We have updated the document content accordingly.
The changes should be live once the PR is approved.

[2020-08-13 13:20] vipulsparsh commented on #60446
@elvirk  Yes, multiple subscriptions are allowed. I would recommend to create a support ticket on this as this kind of scenarios might have various reasons.

[2020-08-13 13:25] JoeWirtley commented on #60392
Somewhere in the Microsoft universe of samples and documentation, there should be at least one complete end-to-end implementation of a change feed processor on some host.  I cannot find any.   If one exists somewhere, consider linking to it from this page.

[2020-08-13 13:25] Petitohead opened #60800 "Screenshots need to be updated"
ASC Standard trial is only 30 days, not 60 right now.  This is confusing for customers attempting to enroll and not seeing what they expect.

Thanks!
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 479d4bc3-f4c0-29d6-d364-b87e94909901
* Version Independent ID: 4072adaf-066d-b248-1b15-222b017e7179
* Content: [Upgrade to s

[2020-08-13 13:48] MayankBargali-MSFT commented on #60531
@spallister Yes you need to use the same session ID (ex: 2ff4b564-d0fe-4d09-bc4a-d5acd5e5c022) when you are sending messages to queue and use the same session ID to receive those messages for the FIFO guarantee.

[2020-08-13 13:59] fbruemmer73 commented on #60524
Hello, I think this is in reference to https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-arduino-iot-devkit-az3166-get-started  step 6.
The Az3166 used to be in this list but it disappeared.

[2020-08-13 14:03] vipulsparsh commented on #60658
@Jhines09  Yes that would mean the same unsupported thing.  DO you see any other error message in event logs.
You can find them here :

Open Event Viewer.
Expand Windows Logs, and then expand Application.
In the Actions pane, select Filter Current Log.
In the Event sources box, select the Directory Synchronization check box.
Select OK.

[2020-08-13 14:11] jrudley opened #60804 "no support needs called out"
The csi driver repo states no support from Microsoft. This needs called out because this page is a tutorial on how to deploy this, but doesn't state anywhere about no support. It could impact SLA's required by a customer.
https://github.com/Azure/secrets-store-csi-driver-provider-azure#support

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-08-13 14:33] Lelivienne opened #60805 "how to get available SKUs from object?"
while writing any automation you need to know what SKUs are available for current context. can't find a way how to query for this information - only way currently is to check upfront on the the web page and hardcode the value /:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0377d24-bad6-0d7e-e5b1-0343d225d835
* Versi

[2020-08-13 14:37] ronortloff commented on #60014
Thanks for the feedback.  I switched the code example to be based off of mediumrc which is 10%.

[2020-08-13 14:37] ronortloff commented on #60014
#please-close

[2020-08-13 14:37] #60014 closed

[2020-08-13 14:37] ealsur commented on #60392
Are the current samples  not enough? In the current page there are links to GitHub repos containing both a full console application (which technically can be run in a VM / pod, and even a WebJob with some minor adjustment).

![image](https://user-images.githubusercontent.com/1633401/90147972-a9353e00-dd37-11ea-9e19-a997bf22d603.png)

* https://github.com/Azure-Samples/cosmos-dotnet-change-feed-pro

[2020-08-13 14:39] willieken559099 commented on #60527
It's not document issue ! I just need to know how to configure Celestica switch DX010 32x100 ports to 10G in the Bcm file , this is very important please .

[2020-08-13 14:45] anfeldma-ms commented on #60786
Thanks, I will take a look.

Andrew Feldman
Program Manager | Azure Cosmos DB
anfeldma@microsoft.com

Follow us on Twitter - @AzureCosmosDB<https://twitter.com/AzureCosmosDB> | #CosmosDB<https://twitter.com/search?f=tweets&vertical=default&q=%23CosmosDB&src=typd>
Follow us on StackOverflow | [azure-cosmosdb]<https://stackoverflow.com/questions/tagged/azure-cosmosdb>
Add Cosmos DB skill<https://www

[2020-08-13 14:49] chandainfy commented on #25357
@CHEEKATLAPRADEEP-MSFT  we have a similar situation, however, the SQL server name is correct, credentials are correct and allowed all azure resource is enabled.
still, the Data factory pipeline is failing with below error:
 "message": "ErrorCode=SqlFailedToConnect,'Type=Microsoft.DataTransfer.Common.Shared.HybridDeliveryException,Message=Cannot connect to SQL Database: '<DB Server Name>', Database

[2020-08-13 14:58] AshokPeddakotla-MSFT commented on #60695
@jamesmcroft Could you please confirm, you have set the contentType to JSON and the contentEncoding to UTF-8 in the message system properties?

[2020-08-13 15:03] micfau1091 opened #60807 "Please update document."
Can you please update the page to reflect the updated interface?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8751595d-4839-d2ee-1e2c-16d07ef84a2d
* Version Independent ID: e66f96b3-5b88-9304-1ec0-9e3bb8a2cfbe
* Content: [How to manage app passwords - Azure Active Directory](https://docs.microsoft.com/en-us/azure/act

[2020-08-13 15:07] JnHs commented on #54217
Hi @DaveVoyles - thanks so much for sharing your feedback, and I apologize for the long delay in responding. I see that the link to iris.csv was already added. Just updated the instructions to remove the first reference to uploading main.py as that can be done in the second step instead. I will close this issue now but please let us know if you have further feedback or concerns - thanks again!
#pl

[2020-08-13 15:07] #54217 closed

[2020-08-13 15:07] SatishBoddu-MSFT commented on #60633
Hello @tommmc Just checking back, could you please let us know if you need further help in this matter.

**Change default browser on Windows:**

![image](https://user-images.githubusercontent.com/62923178/90151290-683f2880-dd3b-11ea-9ca5-130ff8734f1d.png)

![image](https://user-images.githubusercontent.com/62923178/90151305-6e350980-dd3b-11ea-8cd3-9069595c724c.png)

**Clear Browser Cookies in Chro

[2020-08-13 15:09] AshokPeddakotla-MSFT commented on #60524
@udaybhanupathania Thanks for sharing the link.

I just tried following the doc and I'm able to see MXChip - Microsoft Azure IoT Developer Kit AZ3166 from the list.

![image](https://user-images.githubusercontent.com/44426435/90151970-ec79c600-dda4-11ea-8880-418366a1dd5b.png)

 I would suggest you, please reboot the VSCode once you complete the step 5 and check.

[2020-08-13 15:18] SLeuthold commented on #60323
@SaurabhSharma-MSFT thank you, checking in on this!

[2020-08-13 15:24] MarileeTurscak-MSFT commented on #60804
@jrudley
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-13 15:24] cephalin commented on #54345
Sorry for the delay. I've replaced the hardcoded value with a parameter. The update should be published within a few hours. #please-close

[2020-08-13 15:24] #54345 closed

[2020-08-13 15:27] cephalin commented on #55107
#please-close The original issue was actually how to configure Azure DNS. As this doc isn't specific to Azure DNS, it must stay general as people must follow their domain provider's own documentation to accomplish this.

[2020-08-13 15:27] #55107 closed

[2020-08-13 15:37] SwathiDhanwada-MSFT commented on #60788
@ArenHarut Thanks for your comment. We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation. We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page creates an issue that contains all the article details so you can focus on the feedback part.

![image](https

[2020-08-13 15:53] motasem13hamad opened #60808 "Regional Vnet on a flex stamp"
Feedback regarding this part
"The feature is available only from newer Azure App Service scale units that support PremiumV2 App Service plans. Note that this does not mean your app must run on a PremiumV2 pricing tier, only that it must run on an App Service Plan where the PremiumV2 option is available (which implies that it is a newer scale unit where this VNet integration feature is then also av

[2020-08-13 15:53] djlause opened #60809 "Inaccurate information with recent changes"
Inaccurate information with recent changes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8751595d-4839-d2ee-1e2c-16d07ef84a2d
* Version Independent ID: e66f96b3-5b88-9304-1ec0-9e3bb8a2cfbe
* Content: [How to manage app passwords - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/user-hel

[2020-08-13 15:55] MarileeTurscak-MSFT commented on #60809
@djlause which information is inaccurate?

[2020-08-13 15:58] JamesTran-MSFT commented on #60800
@Petitohead
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-13 16:08] ArenHarut commented on #60788
@SwathiDhanwada-MSFT thanks for explaining this to me. I will wait for answer

[2020-08-13 16:13] mike-urnun-msft commented on #60791
@practicalspartaa Thank you for sharing your feedback! Since this channel is for driving improvements towards MS Docs, could you provide us with a specific URL of the MS Doc that your feedback is most applicable to? That way, we're able to connect you with the right team that's best fit to address your feedback.

[2020-08-13 16:14] mike-urnun-msft commented on #60793
@satyajitmahapatra Thank you for sharing your feedback! Since this channel is for driving improvements towards MS Docs, could you provide us with a specific URL of the MS Doc that your feedback is most applicable to? That way, we're able to connect you with the right team that's best fit to address your feedback.

[2020-08-13 16:17] #60259 closed

[2020-08-13 16:18] zr-msft commented on #60259
Thank you @jamesorlando for the feedback!

I've updated the article to address your feedback and the changes should be available soon.

[2020-08-13 16:23] lorne-olo commented on #18508
It's August 2020. I think I followed the docs correctly. using https. all lower case origin. What the heck is the fix to this problem?

[2020-08-13 16:23] JamesTran-MSFT commented on #60807
@micfau1091
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-08-13 16:26] AshokPeddakotla-MSFT commented on #60652
@Roentgens4u Let us know if there any further queries. If not, are we good to close this issue?

[2020-08-13 16:30] curtand commented on #60738
Hi @Jared-Harrington-Gibbs
You're right. Those are old references. I removed the explicit mention of Flow not working with the cmdlets but left the link to Flow and how it works in the article. the update will be published this afternoon, live by 4 PM PDT.

Thanks for your input! Good catch.

@HarshitaSingh-MSFT
#please-close.

[2020-08-13 16:31] #60738 closed

[2020-08-13 16:31] satyajitmahapatra commented on #60793
Hi Mike, Here is the link in MS Doc. https://docs.microsoft.com/en-us/cli/azure/storage/account/blob-service-properties?view=azure-cli-latest#az-storage-account-blob-service-properties-update

[2020-08-13 16:32] ZohairTharani commented on #60737
@davidsmatlak Thanks for you response! Just to clarify, these partial saves (Partial ARM Templates) are created every time you publish from master in Data Factory?

Would we need to delete these partial saves from our repo?

[2020-08-13 16:34] macros82 opened #60811 "When i try and run the command to get the certificate expiration i get an error that base64 command is not recognized"
base64 : The term 'base64' is not recognized as the name of a cmdlet, function, script file, or operable program.
Check the spelling of the name, or if a path was included, verify that the path is correct and try again.
At line:1 char:119

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b78509d-73eb-6c32-aee1-9b34685a64

[2020-08-13 16:36] macros82 commented on #60811
I have the latest azure Cli installed and I am running in powershell.
 az --version
azure-cli                         2.10.1

command-modules-nspkg              2.0.3
core                              2.10.1
nspkg                              3.0.4
telemetry                          1.0.4

[2020-08-13 16:41] NavtejSaini-MSFT commented on #60489
@MhAllan We are going ahead and closing this feedback for now. Please do get back to us if you have any further question.

[2020-08-13 16:41] #60489 closed

[2020-08-13 16:41] YutongTie-MSFT commented on #58896
@danesco0507 Hi Daniel, please open a new ticket. This thread is old. Thanks! ^^

[2020-08-13 16:45] pragnagopa opened #60812 "[Azure Functions][Bindings]Update table binding docs - IQueryable is not supported in V2 and V3"
Please update following section:
- https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-table?tabs=csharp#cloudtable

`IQueryable isn't supported in the Functions V2 and V3 runtimes ` or be more explicit `IQueryable is supported only in the Functions V1 runtime`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-08-13 16:50] Nickomang commented on #60704
@viktors-telle , Thanks for bringing this to our attention. The doc has been updated with a note explicitly calling out the limitations of the standard SKU LB.

[2020-08-13 16:50] YutongTie-MSFT commented on #60484
@rvooren
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-08-13 16:50] #60484 closed

[2020-08-13 16:57] serkantkaraca opened #60813 "Provide a warning that Azure Storage Lease Manager takes "consumer group" names as case-sensitive."
Customers need to know that default lease manager is built on Azure Storage Blobs and blob names are case sensitive. So that, changing the casing of consumer group name in the host initialization code can cause reading of all partitions from the start of the stream.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78479c

[2020-08-13 17:02] #60501 closed

[2020-08-13 17:06] mike-urnun-msft commented on #60812
Thank you, @pragnagopa! We have assigned this issue to the content author to review and take the next course of action.

[2020-08-13 17:10] MrRitt opened #60815 "Azure CLI commands please"
Add Azure CLI commands to the "Register the feature" section.

Register the feature:
az feature register --namespace Microsoft.NetApp --name ANFTierChange

Check the status of the feature registration:
az feature show --namespace Microsoft.NetApp --name ANFTierChange

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0269

[2020-08-13 17:15] Mexicoder opened #60816 "docker build command missing argument"
The "Update the image in the registry" docker command is missing the PATH argument

This:
`docker build --tag <docker_id>/azurefunctionsimage:v1.0.1`
should be this:
`docker build --tag <docker_id>/azurefunctionsimage:v1.0.1 .`

Also, kudos to the author, great tutorial.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d

[2020-08-13 17:18] TravisCragg-MSFT commented on #60328
@omerzubair We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-13 17:18] #60328 closed

[2020-08-13 17:27] himanshusinha-msft commented on #60813
Thanks @serkantkaraca  for sharing the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-08-13 17:29] WinstonHoward-MSFT commented on #60664
@tanmayjog . I will now close this issue. If there are further questions regarding this matter, please tag me in a comment. Have a good one.

[2020-08-13 17:29] #60664 closed

[2020-08-13 17:29] santhoshbomma9 opened #60817 "Update initiating from Marketplace on SaaS"
Do we have this functionality at all? I dont see a place where we can see this.
https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/pc-saas-fulfillment-api-v2#update-initiated-from-the-marketplace

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe8750da-cb47-7396-8d1b-0abff019a0be
* Version Independ

[2020-08-13 17:31] akramwaseem opened #60818 "Above provided instructions doesn't work."
I tried to follow the instructions above. none of them work.
are these still valid ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ba1dad2-9792-2a7b-cdb6-68da0524cff3
* Version Independent ID: 42736112-f6db-d241-e89b-48fd2c35ceb7
* Content: [Manage an Azure Kubernetes Service cluster with the web dashboard - Azure Ku

[2020-08-13 17:32] santhoshbomma9 commented on #60817
I think this is working

[2020-08-13 17:32] #60817 closed

[2020-08-13 17:36] bandersmsft commented on #59663
@seanalexander Sorry about the lack of clarity for this. The information we had published was a bit contradictory. I've updated the article for clarity. As long as VMs are in the same instance size flexibility group, they'll get the discount. If any are not in the group, they won't. Premium storage VMs aren't in the same instance size flexibility group as non-premium storage VMs so only one type c

[2020-08-13 17:36] #59663 closed

[2020-08-13 17:38] Nickomang commented on #60704
#please-close

[2020-08-13 17:38] #60704 closed

[2020-08-13 17:40] jcpayne commented on #60501
Thank you very much for this careful answer.  I will give the code a try.

John

From: GiftA-MSFT <notifications@github.com>
Reply-To: MicrosoftDocs/azure-docs <reply@reply.github.com>
Date: Monday, August 10, 2020 at 2:52 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: John Payne <drjohnpayne@gmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-do

[2020-08-13 17:46] #47591 closed

[2020-08-13 17:47] SnehaAgrawal-MSFT commented on #60754
@eavonius Thanks for asking question! If you want to link storage to your Windows container app you need to be created your Azure Storage account, file share and directory.
Also note that Name of directory must be no more than 255 characters in length, and must not contain the following characters: " \ / : | < > * ?

To elaborate on Mount path is the path within your file share that you'd like to

[2020-08-13 17:50] macros82 commented on #60811
Linux commands work when i prefix it with wsl. However command still fails

base64: invalid input
unable to load certificate
140083053204096:error:0909006C:PEM routines:get_name:no start line:../crypto/pem/pem_lib.c:745:Expecting: TRUSTED CERTIFICATE

Output for first command:

kubectl config view --raw -o jsonpath="{.clusters[?(@.name == 'clustername')].cluster}"
map[certificate-authority-data:LS

[2020-08-13 17:55] KrishnaG-MSFT commented on #60544
Assigning @anirudhcavale for visibility, review and document enhancement consideration as appropriate.

[2020-08-13 17:58] KrishnaG-MSFT commented on #60545
@adibiton Verified and updated the document as required. The changes will go live in sometime (i.e., in less than 24 hours). Thanks.

[2020-08-13 17:58] #60545 closed

[2020-08-13 18:07] Manny53 commented on #60743
Hi Mike, I'm referencing the following URL to move the resources to different subscription

https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/move-resource-group-and-subscription

[2020-08-13 18:07] Karishma-Tiwari-MSFT commented on #60715
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-08-13 18:09] itahirov opened #60820 "InstallFont.ps1 is running ok, but I don't see the font I copied in fonts directory"
The commands been run from kudu console of the container.

PS C:\inetpub\wwwroot> $FONTS = 0x14
$objShell = New-Object -ComObject Shell.Application
$objFolder = $objShell.Namespace($FONTS)
$objFolder.CopyHere("FrederickatheGreat-Regular.ttf")
$FONTS = 0x14
PS C:\inetpub\wwwroot> $objShell = New-Object -ComObject Shell.Application
PS C:\inetpub\wwwroot> $objFolder = $objShell.Namespace($FONTS)
PS C

[2020-08-13 18:10] Karishma-Tiwari-MSFT commented on #60818
@akramwaseem Can you please confirm that you are following the pre-requisites and have gone through the warning details:

![image](https://user-images.githubusercontent.com/20851144/90170944-992c5700-dd55-11ea-8e45-25fc0febf8e2.png)

[2020-08-13 18:13] mimckitt commented on #59534
You are correct. The VM does require deallocation prior to updating any attached disks.

I will update the doc and changes will be live this afternoon.

#please-close

[2020-08-13 18:13] #59534 closed

[2020-08-13 18:15] DerekHerman-MSFT commented on #60793
@satyajitmahapatra
I believe this is the [correct document ](https://docs.microsoft.com/en-us/cli/azure/storage/blob/service-properties?view=azure-cli-latest)you are referring to. Can you please confirm the CLI version you are running by running "az --version"?

[2020-08-13 18:26] #60818 closed

[2020-08-13 18:28] akramwaseem commented on #60818
Yes, I am on 1.16 on AKS.
I think it's working now. I have to get the namespace secre from kube-system. Config file and the access token info provided above still doesn't work.
I tried the access token with the command provided no luck.
I am closing this since it's no longer needed.

[2020-08-13 18:29] Mike-Ubezzi-MSFT commented on #60527
Hi @willieken559099 - Apologies for what appears to be an issue with getting you the information you require from a feedback channel that does not directly support the tpoic you are seeking support for. However, We are trying to get you this information regardless of the circumstance, as I see you asked the same question in the correct location (#Azure/sonic-buildimage/issues/5162) but without any

[2020-08-13 18:35] SaurabhSharma-MSFT commented on #60636
@hokiejane Yes you can invite B2B users but there are certain limitations who can be invited as mentioned [here](https://docs.microsoft.com/en-us/azure/active-directory/external-identities/current-limitations#azure-us-government-clouds)

[2020-08-13 18:40] DerekHerman-MSFT commented on #60795
@erydrn
You should be able to scale up past 75GB. [This issue](https://github.com/Azure/azure-storage-fuse/issues/161) on the blobfuse git page might be relevant.

NFS 3.0 support was recently released for Blob Storage, you might try using this as an alternative.

https://docs.microsoft.com/en-us/azure/storage/blobs/network-file-system-protocol-support-how-to?tabs=linux

[2020-08-13 18:56] cjmakwana opened #60821 "Not able to get role as a claim in the token"
Hi,

In my case, I have configured all as per the page here. In my application, I have manifested 6 roles. Then created few users and assigned the users with different roles using enterprise apps blade for a selected app. However, when I use Microsoft Graph API to login using that user, I am not getting the role claim in the token. Please let me know whether my AD subscription (which is pay-as-you

[2020-08-13 19:01] mhopkins-msft commented on #57198
I've updated the content and the screenshot to show the **Message never expires** option. It will be published later today.

Thanks!
 ~ *Mark*

#please-close

[2020-08-13 19:01] #57198 closed

[2020-08-13 19:02] Superset1986 opened #60823 "ingress gateway stops working after az aks rotate-certs"
After running "az aks rotate-certs" my ingress pods are unable to start.   After enabling debug i can see they fail with this message.

I0813 18:51:41.356617       6 round_trippers.go:443] GET https://172.16.80.1:443/version?timeout=32s  in 7 milliseconds
I0813 18:51:41.357626       6 round_trippers.go:449] Response Headers:
I0813 18:51:41.357807       6 main.go:222] Unexpected error discovering K

[2020-08-13 19:03] willieken559099 commented on #60527
Thank you Mike , I really appreciate your help .

[2020-08-13 19:03] ggailey777 commented on #23014
This has been changed to POST as some point in the past. #please-close

[2020-08-13 19:03] #23014 closed

[2020-08-13 19:04] NickLocke opened #60824 "host.json file during development?"
The document is silent on any special requirements for the development environment.  I have a host.json file (V2) in place which specifies a batchSize of 1.  When I run the app locally, I can see from the console log that the default batchSize of 16 is being used.  I may be missing something, but cannot see how to set a batch size of 1 in development, if it is not via host.json (which doesn't seem

[2020-08-13 19:06] ggailey777 commented on #24975
Thanks for the feedback everyone. I am going to close this issue because: 1) deploying a project file is not functions-specific and 2) we aren't currently funded to document Functions Proxies. If this is still an major issue, we should consider providing feedback to have Proxies supported in the tooling. #please-close

[2020-08-13 19:06] #24975 closed

[2020-08-13 19:07] GiftA-MSFT commented on #60527
Thanks @Mike-Ubezzi-MSFT for following up. Will now proceed to close this thread. @willieken559099 thanks for your patience and please refer to the appropriate [repo](https://github.com/Azure/sonic-buildimage/issues/5162) for updates.

[2020-08-13 19:07] #60527 closed

[2020-08-13 19:14] ggailey777 commented on #30381
Sorry for the inconvenience. I'm checking on the .NET Core version issue.

[2020-08-13 19:20] ggailey777 commented on #30494
We now have a PR that captures the restart behavior that Alex mentions. #please-close

[2020-08-13 19:20] #30494 closed

[2020-08-13 19:20] bakerm00 opened #60825 "cross subscription management"
clarity on cross subscription mgmt of on/off required?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ceebde9-ebae-6dbd-c53c-30a654a52c74
* Version Independent ID: e7ce38c3-eab5-9077-4bd1-818e906fcccf
* Content: [Enable Azure Automation Start/Stop VMs during off-hours](https://docs.microsoft.com/en-us/azure/automation

[2020-08-13 19:21] ggailey777 commented on #32079
#reassign:anthonychu
@anthonychu I'll defer to you on how you want to handle this suggestion.

[2020-08-13 19:22] awaemmanuel commented on #25298
It there support to create the filesystem via ARM now please? My scenario, using ARM, is to deploy the AML Workspace with a StorageV2, create a filesystem and then use that filesystem as ADLS v2 filesystem.

[2020-08-13 19:25] ggailey777 commented on #35548
This is outside the scope of the run from package article. If you think it's valuable as a reference, we could add a link to the announcement. #please-close

[2020-08-13 19:25] #35548 closed

[2020-08-13 19:27] larrymccutchan commented on #60543
Weird that this is using my gmail address. I will need to look into it.
I was using my larrymccutchan@outlook.com login.
Thanks for looking into it.

-larry

On Thu, Aug 13, 2020 at 5:48 AM AjayKumar-MSFT <notifications@github.com>
wrote:

[2020-08-13 19:29] ggailey777 commented on #38100
@JonathanWilbur can you please provide more information about `HTTP headers get lower-cased in Azure functions`?
Reassigning to @craigshoemaker who is our JavaScript expert. #reassign:craigshoemaker

[2020-08-13 19:34] ggailey777 commented on #41273
Thanks @Rceballos101 for the feedback. We aren't going to be able to address that scenario at this time. #please-close

[2020-08-13 19:34] #41273 closed

[2020-08-13 19:37] ggailey777 commented on #41396
I believe that this issue has now been addressed. Please reopen if there are still problems with the article. #please-close

[2020-08-13 19:37] #41396 closed

[2020-08-13 19:38] ggailey777 commented on #43230
Reassign:anthonychu @anthonychu please take a look at this Durable issue.

[2020-08-13 19:39] ggailey777 commented on #42808
This has been documented. #please-close

[2020-08-13 19:39] #42808 closed

[2020-08-13 19:40] GiftA-MSFT commented on #60526
@crevulus currently, Initial Silence Timeout isn't configurable via Rest API. Sorry for the inconvenience, the product team are aware of this feedback and it's still on their roadmap. Thanks.

[2020-08-13 19:40] #60526 closed

[2020-08-13 19:47] ggailey777 commented on #42659
@anthonychu can you provide feedback here? #reassign:anthonychu

[2020-08-13 19:48] ggailey777 commented on #41566
This has been updated. #please-close

[2020-08-13 19:48] #41566 closed

[2020-08-13 19:50] ggailey777 commented on #43206
For a faster response, please submit your question to [Microsoft Q&A](https://docs.microsoft.com/answers/topics/azure-functions.html) or [Stack OverFlow](https://stackoverflow.com/questions/tagged/azure-functions). #please-close

[2020-08-13 19:50] #43206 closed

[2020-08-13 19:55] anthonychu commented on #43230
@cgillum @ConnorMcMahon Is there anything in this doc that is specific to v1 or v2 of Durable Functions?

[2020-08-13 20:08] RayMckaig opened #60826 "Prosody contour not working for neural or standard voices"
When I use the contour attribute on the prosody tag it is ignored. The page [(SSML page link)](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-synthesis-markup?tabs=csharp) clearly states that contour is now supported.

     "Pitch contour changes are now supported with neural voices."

I'm using the "westus2" region, and one example is shown below. Each of the vers

[2020-08-13 20:18] eanders-MS opened #60827 "EGT?"
The page mentions "EGT" several times without an explanation of what an EGT is, or a link to such.
https://docs.microsoft.com/en-us/azure/storage/tables/table-storage-design-modeling

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36234da5-cf5a-9dd0-96c1-2f29ac7ce405
* Version Independent ID: a7f8aaa3-9939-89fa-5694-3f5

[2020-08-13 20:22] jamesbak commented on #25298
Hi @awaemmanuel,

Yes, with the release of [Multi-Protocol Access](https://docs.microsoft.com/azure/storage/blobs/data-lake-storage-multi-protocol-access) the [ARM container-level operations](https://docs.microsoft.com/azure/templates/microsoft.storage/storageaccounts/blobservices/containers) are now available for accounts with the Hierarchical Namespace enabled.

HTH,
James

[2020-08-13 20:26] DerekHerman-MSFT commented on #60827
@eanders-MS
Thanks for the feedback! This is referring to Entity Group Transactions. I am updating the documentation to reflect this.

[2020-08-13 20:31] ConnorMcMahon commented on #43230
We are going to have new guidance for Durable 2.x starting with release 2.3.0 (essentially always use Moq), so I think we should probably revisit this shortly.

[2020-08-13 20:40] sergioadofaci opened #60829 "Missing info on custom image App Service for SSH access"
Hi everyone,

To access a custom app service via az webapp ssh, it is necessary to have the file /etc/motd, otherwise it won't work.

This is not reflected on the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36d6ead7-4a59-ee55-327a-6cc1a909b6b8
* Version Independent ID: d529825d-8e4e-1174-14ff-b404791ef304
* Co

[2020-08-13 20:40] ecfan commented on #60740
Hi @AzureAndre, both links are correct as they should point at the same section. However, I clarified the table header column so that the context is clearer:

![image](https://user-images.githubusercontent.com/13206671/90184818-92f4a580-dd6a-11ea-8b76-044ebbf55e5b.png)

[2020-08-13 20:46] #60740 closed

[2020-08-13 20:47] konrad-jamrozik opened #60830 "I don't understand this sentence: " _etag is an internal identifier and is used for concurrency control tells about the version of the item""
Should this sentence:
__etag is an internal identifier and is used for concurrency control tells about the version of the item_
instead be
__etag is an internal identifier and is used for concurrency control **telling** about the version of the item_
or perhaps
__etag is an internal identifier and is used for concurrency control **and** tells about the version of the item_

or something else?

As

[2020-08-13 21:07] #60332 closed

[2020-08-13 21:08] kgremban commented on #60649
@damonbarry and/or @uriel-kluk the article on setting up a gateway device had two sections -- one for making sure edgeHub is running on the device, and one talking about how to route messages from downstream devices. I merged those two sections into one, [deploy edgeHub and route messages](https://docs.microsoft.com/azure/iot-edge/how-to-create-transparent-gateway#deploy-edgehub-and-route-messages

[2020-08-13 21:41] tobystic commented on #22591
Or (dot).source the code line. Use forward slash ./helloworld.ps1

[2020-08-13 21:41] damonbarry commented on #60649
@kgremban I like it!

@uriel-kluk What do you think?

[2020-08-13 21:42] shekhag opened #60832 "Request for Clarification - Azure Enrolment Transfer"
Dear Author,

I request your clarification on the following -

**_"When you request to transfer an entire enterprise enrolment to an enrolment, the following actions occur:
All Azure services, subscriptions, accounts, departments, and the entire enrolment structure, including all EA department administrators, transfer to a new target enrolment."_**

Could you please clarify if -

1. EA Administrat

[2020-08-13 21:48] palma21 commented on #60823
+ @andyzhangx

[2020-08-13 21:48] #60811 closed

[2020-08-13 21:50] zr-msft commented on #60811
Thank you @macros82 for the feedback.

I have updated the article to clarify that is a Bash command. The changes should be available soon.

[2020-08-13 21:51] zr-msft commented on #60798
Thank you @Victor-Savu for the feedback.

Downtime includes all four items you mentioned.

#please-close

[2020-08-13 21:51] #60798 closed

[2020-08-13 21:55] samgladstone opened #60833 "This page should warn about the upcoming retirement of ADAL"
I recently received a communication that ADAL is being retired in 2022, which I believe is what is configured in the express settings. I feel the page should warn that ADAL will be retired.

As an aside, I would guess that the express settings should probably configure MSAL settings in the future, but that is probably a separate item.

Thanks

---
#### Document Details

⚠ *Do not edit this section

[2020-08-13 21:56] BharathNimmala-MSFT commented on #60825
@bakerm00 Thank you for your feedback, we will review it and get back to you at the earliest.

[2020-08-13 22:12] Karishma-Tiwari-MSFT commented on #60798
Thanks Zr-msft.

@Victor-Savu  We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-08-13 22:12] SatishBoddu-MSFT commented on #60519
Hi @dbuskirk Since we didn't see any error with the Get-started tutorial, we would like to know more about the issue in detail.

Could you please include any screenshot for the error which you have mentioned. [I think the images are not uploaded properly]

Please pinpoint the exact location where you have made changes for the code to work? any image or screenshot will help.

[2020-08-13 22:38] michaelstiben opened #60834 "Speech Batch retrieve an empty resultsUrls"
Following this docs found a weird behavior. I uploaded 5 audios. The 5 audios ran well but one of them has a broken resultsUrls link even though the status is successful.

This is how it looks the json:

![image](https://user-images.githubusercontent.com/41975874/90193786-4a99af80-dd8b-11ea-83a9-6bd23a852a59.png)

and the resultsUrls value is: https://spsvcprodeus2.blob.core.windows.net/bestor-acc

[2020-08-13 22:41] laurenhughes commented on #59208
@JohnRusk, thanks for your feedback!

The replacement for the web dashboard is the Kubernetes resource view in the Azure portal. It's described in [Access Kubernetes resources from the Azure portal (Preview)](https://docs.microsoft.com/azure/aks/kubernetes-portal). I updated the web dashboard page to link to the alternative, the update should be live in a few hours.

#please-close

[2020-08-13 22:41] #59208 closed

[2020-08-13 22:45] TravisCragg-MSFT commented on #60794
@KeithDarragh1 Can you provide the Support Request # (SR#) for the support request you are referring to?

Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-08-13 22:52] munir94 opened #60835 "Number of Appliance Needed"
may i know for how many total number of appliance really needed for Azure Migrate that support Physical machine,

Is it 1 for Assessment and 1 for replication/migration ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f3d7cc0-ecf8-a48f-3c6e-8e18c7787c41
* Version Independent ID: 31b358bd-1ee6-a058-8590-802941350e90
*

[2020-08-13 22:57] MarileeTurscak-MSFT commented on #60804
Thanks! I made a pull request to add the support note to the document https://github.com/MicrosoftDocs/azure-docs-pr/pull/126101

[2020-08-13 22:57] #60804 closed

[2020-08-13 23:07] ggailey777 commented on #44791
@ballzer0 I assume your function app is running on Linux...what plan are you using? I don't see `Container settings` in my Linux consumption app.

[2020-08-13 23:09] MarileeTurscak-MSFT commented on #60671
Thanks! I made a pull request to add a note about disabling the on-premises account. https://github.com/MicrosoftDocs/azure-docs-pr/pull/125947

[2020-08-13 23:09] #60671 closed

[2020-08-13 23:25] TravisCragg-MSFT commented on #60805
@Lelivienne to my knowledge there is not a way to get a list of available SKUs from the API, and there is not an exposed function in Azure PowerShell or the CLI.

Please let me know if you need any additional information.

[2020-08-13 23:26] abhishekhotti opened #60837 "Availability Ping Test"
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-metric-create-templates#template-for-an-availability-test-along-with-a-metric-alert

This template is not up to date. Please update these. I have tried creating multiple Application Insights Apps and yet none of them work. I am trying to automate setting up a URL Ping Test automatically after the creation of a few other resources

[2020-08-13 23:28] ggailey777 commented on #44330
We're tracking the need for a Functions container conceptual article internally [here](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1115822).  Please feel free to pose additional Functions container questions in the [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-functions.html). #please-close

[2020-08-13 23:28] #44330 closed

[2020-08-13 23:34] ggailey777 commented on #43754
@brettcannon let's just remove it from the list, since it's not really a Functions thing anyway.

[2020-08-13 23:52] tongyuze opened #60838 "Error Code Missing in Document"
https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow
In "Error codes for token endpoint errors", there should be an error code which is "invalid_scope“.
It's given as an error example, but it's not in the error form.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a826ee6f-f457-7109-9

[2020-08-13 23:54] roygara commented on #60129
@JeffSmalley Thanks for the question! The short answer is, the AzRm cmdlets would be the preferred cmdlet. They use a different, more suitable backend.

[2020-08-13 23:54] tamram commented on #59219
@bill-barron - The template reference has been updated to include this property.

[2020-08-13 23:56] ggailey777 commented on #44083
Custom containers aren't yet supported for Linux Consumption plans for reasons indicated [here by Ahmed](https://github.com/MicrosoftDocs/azure-docs/issues/44330#issuecomment-565243770). We will add a note to the article to clarify this. We also have a Functions container article in our backlog.

You get event-driven scaling for your containerized functions using Premium plan.

[2020-08-14 00:04] realscherr opened #60839 "IP Addresses for all regions"
It appears that IP address ranges are missing for a number of regions including Africa and Canada where the product is generally available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3942b937-b212-3ceb-d356-450b7f598f68
* Version Independent ID: 8b015b42-cf02-3942-3cc3-6e0f977d191a
* Content: [IP addresses used by

[2020-08-14 00:13] #60749 closed

[2020-08-14 00:14] #60725 closed

[2020-08-14 00:23] Jhines09 commented on #60658
Hi, Thanks for the reply!

I can try to get that,however the case is already closed as we already identified that the Customer was using Windows Server 2016 Datacenter VM which is not supported, so we did not proceed to collect the event logs.

Best Regards,
Jeffrey
From: VipulSparshMSFT <notifications@github.com>
Sent: Thursday, August 13, 2020 7:04 AM
To: MicrosoftDocs/azure-docs <azure-docs@nor

[2020-08-14 00:25] SnehaGunda commented on #59802
@kendallroden thanks for pointing out, yes there were some issues with the sample, I submitted a commit to update it. I tested the sample, it works fine now. I will update the doc shortly.

https://github.com/Azure-Samples/azure-cosmos-db-cassandra-python-getting-started/commit/aa8f7e32264c7625cf3cd8a87181e82892427576

[2020-08-14 00:25] konrad-jamrozik opened #60840 "The intro paragraphs about push and pull models are confusing."
These paragraphs are confusing:

_You can work with the Azure Cosmos DB change feed using either a push model or a pull model. With a push model, a client requests work from a server and has business logic for processing a change. However, the complexity in checking for changes and storing state for the last processed changes is handled on the server._

_With a pull model, a server requests work,

[2020-08-14 00:26] Grace-MacJones-MSFT commented on #60585
Hi @captain-yossarian,

Thanks for your patience. I was able to produce your scenario and was able to configure continuous integration with GitHub.
![Github_Deploy](https://user-images.githubusercontent.com/42247081/90199570-0823a300-dd8a-11ea-8364-b808f61874a8.PNG)

 You may need to authorize Azure App Service in GitHub. Browse to your GitHub repository and go to Settings > Applications > Authori

[2020-08-14 00:35] JasonWHowell commented on #44948
It's the same @Reddy1990

[2020-08-14 00:38] NavtejSaini-MSFT commented on #60830
@konrad-jamrozik We are checking this and we will get back to you.

[2020-08-14 00:39] NavtejSaini-MSFT commented on #60840
@konrad-jamrozik We are checking this and we will get back to you.

[2020-08-14 00:39] timsander1 commented on #60840
Hi @konrad-jamrozik. That paragraph is just intended to be a general introduction to push model vs pull architectures. Could you keep reading the doc and let me know if that covers your questions? I'm happy to cover any remaining questions here.

[2020-08-14 00:42] TomArcherMsft commented on #37922
@derekschauland I just published a new article for installing Ansible that should resolve any issues. Please let me know if you encounter any further problems. https://docs.microsoft.com/en-us/azure/developer/ansible/install-on-linux-vm

[2020-08-14 00:42] konrad-jamrozik commented on #60840
@timsander1 Here is my current best bet on the meaning:

The client is my code.
The server is the change processor.
In case of the push model (paragraph 1), the change processor pushes the notification to my code there is work to be done. This is written as `a client requests work from a server` which appears to me to be false? I mean, the client is not requesting anything, the change feed process

[2020-08-14 00:42] TomArcherMsft commented on #37922
#please-close

[2020-08-14 00:42] #37922 closed

[2020-08-14 00:43] jyama4ta opened #60841 "ACR endpoint is not included"
When we access ACR via Azure Portal, we need to access '*.azurecr.io'. So could you please add '*.azurecr.io' to the URLs list?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8336877-da93-ecd6-829a-0cc068caaf29
* Version Independent ID: 1e70f094-f220-92c6-7e5b-cfaf071101d5
* Content: [Safelist the Azure portal URLs on

[2020-08-14 00:44] TomArcherMsft commented on #49244
@robcamer I just published a new article for installing Ansible that should resolve any issues. Please let me know if you encounter any further problems. https://docs.microsoft.com/en-us/azure/developer/ansible/install-on-linux-vm

[2020-08-14 00:44] TomArcherMsft commented on #49244
#please-close

[2020-08-14 00:44] #49244 closed

[2020-08-14 00:45] TomArcherMsft commented on #51556
@andreatmicro I just published a new article for installing Ansible that should resolve any issues. Please let me know if you encounter any further problems. https://docs.microsoft.com/en-us/azure/developer/ansible/install-on-linux-vm
#please-close

[2020-08-14 00:45] #51556 closed

[2020-08-14 00:46] konrad-jamrozik commented on #60840
@timsander1 even if this is intended as very high level broad introduction, I would still say it would be good to have consistent meaning of the phrase _to request work_ and make sure it makes intuitive sense, that is, if `X request work from Y` it means that X invokes something on Y, and Y doesn't do anything actively, just receives the call and starts processing. If my thinking is correct, the m

[2020-08-14 00:52] D-Moonesinghe opened #60843 "Is this statment true in this context?"
"You should use extensions to install and manage the agents whenever possible.".

Now that Azure Monitor agent is replacing all the extensions and other agents; does the above sentence still relevant?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4753b2c-fb13-56d5-8e1d-73dddd259ee2
* Version Independent ID: 35bc3d14-

[2020-08-14 00:53] konrad-jamrozik commented on #60840
How about a rewrite like this (diff **in bold**)

_You can work with the Azure Cosmos DB change feed using either a push model or a pull model. **With a push model, a server pushes work to a client that has business logic for processing this work.** However, the complexity in checking for **work** and storing state for the last processed **work** is handled on the server._

_**With a pull model, t

[2020-08-14 00:53] timsander1 commented on #60840
Ah, I see what you mean. I'll submit a docs update to reword that section tonight. I agree that the meaning of "request work" is a little different in paragraph 1 and paragraph 2 and that is unclear.

But yes, your assumptions are correct. For the second paragraph - "With a pull model, a server requests work, often requesting it from a central work queue." In this case, the "central work queue" is

[2020-08-14 00:55] konrad-jamrozik commented on #60840
@timsander1 awesome, thx! :)

[2020-08-14 00:55] timsander1 commented on #60840
I like your reword :). Mind if I use that? You're welcome to submit the PR yourself if you prefer

[2020-08-14 00:56] konrad-jamrozik commented on #60840
@timsander1 ok I'll submit a PR and refer to this discussion in it.

[2020-08-14 01:02] NavtejSaini-MSFT commented on #60529
@Parviz39 At this time we are going ahead and closing this feedback. Please get back to us for any further questions.

[2020-08-14 01:02] #60529 closed

[2020-08-14 01:14] bfg100k opened #60845 "ambiguous statement - unclear what it is trying to say"
However, administrators of 'Contoso' can control access to organization 'Test' if they control the user account that created 'Test.'

What does "control the user account" means? Is it sign in as the user?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a916018-5100-91af-bc16-6aab0372bd48
* Version Independent ID: 2f526

[2020-08-14 01:16] femsulu commented on #60502
Hello @eugen-nw  - sorry for the delayed response. Your request to disable Sampling has been shared with the feature engineers for further review. Would be great if you can post this suggestion to [Community feedback](https://feedback.azure.com/forums/357324-azure-monitor-application-insights?query=sampling) portal so other users can comment and upvote your suggestion. this helps us prioritize thi

[2020-08-14 01:16] femsulu commented on #60502
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

#please-close

[2020-08-14 01:16] #60502 closed

[2020-08-14 01:29] mrbullwinkle commented on #60839
@realscherr these IPs correspond to ingestion endpoints, and globally distributed locations where availability tests can currently be run from. The current list of locations for availability tests is:

![image](https://user-images.githubusercontent.com/31510320/90200391-a40ed800-dda5-11ea-890d-e80ae9550947.png)

There is not currently a 1:1 relationship between all ingestion endpoints + availabili

[2020-08-14 01:29] lucidhwee opened #60846 "SSE with PMK/CMK for Ultra disk"
[Enter feedback here]
Hello team,
according to the Microsoft internal discussion, it seems Azure SSE with PMK/CMK supports Ultra disks. would you team check it and update this page of Azure docs (https://docs.microsoft.com/en-us/azure/virtual-machines/linux/disk-encryption#restrictions-1)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-08-14 01:46] cgillum commented on #32079
As described in the [Task hubs](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-task-hubs?tabs=csharp) documentation, we do allow apps to use the same storage account, but they _must_ be configured to use two different task hub names. Otherwise the two apps will steal messages from each other and you will have issues like instances randomly being stuck in the "Pend

[2020-08-14 01:47] Karishma-Tiwari-MSFT commented on #60494
@j0ej0e21 Apologize for the delay. I was investigating it. This issue would need to be looked over by a support engineer as it would need backend troubleshooting.
Do you have the ability to create a support ticket? If not, email me at AzCommunity@Microsoft.com with Subject 'Attn: Karishma' and provide your Subscription ID and link to this thread.
I can enable a one time free support request so you

[2020-08-14 01:54] berndbausch opened #60847 "Does AKS require AD or not?"
The AKS identity page confuses me (newbie both for K8s and Azure). On one hand, AD seems to be _required_ for AKS, as expressed by this sentence:

"For AKS clusters, this integrated identity solution is Azure Active Directory."

The sentence states that there is no other solution than AD.

On the other hand, this sentence:

"The security of AKS clusters can be enhanced with the integration of Azur

[2020-08-14 01:57] lucidhwee commented on #60846
After I discuss with the internal team, I understand the difference between my understanding and what Azure docs says. (Thus, it doesn't have to be corrected!) Thank you.

[2020-08-14 01:58] lucidhwee commented on #60846
After I discuss with the internal team, I understand the difference between my understanding and what Azure docs says. (Thus, it doesn't have to be corrected!) Thank you.

[2020-08-14 01:58] #60846 closed

[2020-08-14 01:58] berndbausch opened #60848 "Why is an SSH keypair required to create an AKS cluster on the command line?"
When I create an AKS cluster on the portal, SSH keys are not mentioned. However, when creating one with the CLI, the --generate-ssh-keys option is required, or options that make use of existing keys.

However, this page doesn't tell me why SSH key options are required. I did a quick internet search and am not any wiser. The keys might be needed to access the cluster nodes, but I would have thought

[2020-08-14 02:28] ChaitanyaNaykodi-MSFT commented on #60816
@Mexicoder, Thank you for your feedback! We will review and update as appropriate.

[2020-08-14 02:31] JohnRusk opened #60849 "Where is the message displayed after the configMap is updated"
The page says:
[code]
But it doesn't say _where_ to look for the message.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 413a60e0-2723-e21e-dd81-df480c45564b
* Version Independent ID: f79752d6-8240-d62c-5635-a6529f9adf32
* Content: [Configure Azure Monitor for containers Prometheus Integration - Azure Monitor](https://

[2020-08-14 02:31] KrishnaG-MSFT commented on #60841
@jyama4ta Thanks for the comment.
Assigning @mgblythe for visibility, review and document enhancement consideration as appropriate.

[2020-08-14 02:34] jer71146 commented on #60633
I met the same problem with this issue, and had tried to change browsers(chrome and edge) and clean all the cookies like above.
However, I still stuck on following problem.

The browser returned authentication complete message:
"Authentication complete. You can return to the application. Feel free to close this browser tab."

Output in Visual Studio 2019 Console:
"Exception thrown: 'Azure.Identity

[2020-08-14 02:35] mike-urnun-msft commented on #60824
@NickLocke Thank you for your feedback! We will review and update as appropriate.

[2020-08-14 02:38] AshokPeddakotla-MSFT commented on #60792
@demadred Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-14 02:45] AshokPeddakotla-MSFT commented on #60018
@dfay88  Since we are tracking this issue internally would you like to close this issue and post the response here once we have any updates?

[2020-08-14 02:46] AshokPeddakotla-MSFT commented on #60558
@lalalawink We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-14 02:46] #60558 closed

[2020-08-14 02:55] MayankBargali-MSFT commented on #60531
@pallister Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-08-14 02:55] #60531 closed

[2020-08-14 03:13] dfay88 commented on #60018
Sure will do

On Thu, Aug 13, 2020 at 10:45 PM AshokPeddakotla-MSFT <
notifications@github.com> wrote:

[2020-08-14 03:13] #60018 closed

[2020-08-14 03:13] dfay88 commented on #60018
Will update with resolution

[2020-08-14 03:20] superlzy opened #60852 "Initial Config for Alibaba Cloud Service SSO application is wrong"
[Enter feedback here]

I can find Alibaba Cloud role-baesd SAML SSO Sp Metadata [here](https://signin.alibabacloud.com/saml-role/sp-metadata.xml), and it defines AssertionConsumerService location is `https://signin.alibabacloud.com/saml-role/sso`.
But Azure Alibaba Cloud SSO Application specify the Endpoint is `https://signin.alibabacloud.com/saml-role/SSO`, which take me a long time to correct th

[2020-08-14 03:23] tharinduwijewardane commented on #37614
instead of
```scope : https://storage.azure.com/.default```
 following worked for me
```resource : https://storage.azure.com```

Usually thats how we specify the audience when using client credentials authentication in other azure services also

[2020-08-14 03:30] MayankBargali-MSFT commented on #60816
@Mexicoder Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2020-08-14 03:30] SatishBoddu-MSFT commented on #60633
@jer71146 @tommmc We are validating the latest sample.

![image](https://user-images.githubusercontent.com/62923178/90210789-d3bce080-dda3-11ea-9a4a-c251d88827fa.png)

[2020-08-14 03:35] kashyap-bhatt-by opened #60853 "English"
Create **an** SQL pool

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b81ab495-3cc8-59e4-cba8-b8bb0ac7399e
* Version Independent ID: 3832391f-28d8-517a-2e5d-a70fdc832cb3
* Content: [What is Azure Synapse Analytics? - Azure Synapse Analytics](https://docs.microsoft.com/en-us/azure/synapse-analytics/overview-what-is)
* C

[2020-08-14 03:38] tsharp opened #60854 "Domain Validation SLA"
Documentation States 30 minutes for propagation of TLS Certificates but does not state the SLA for Domain Validation which is a bit misleading - this should also call out that the domain validation for managed Azure Front Door certificates.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7be424c-f540-a753-6ecc-6ff39133

[2020-08-14 03:39] vipulsparsh commented on #60658
@Jhines09  Sure no worries, if you get a chance to collect that, it might yield some additional data.  but moreover, it does signify unsupported part. We will close this now, please tag me in your comment if you have any questions.

[2020-08-14 03:39] #60658 closed

[2020-08-14 03:39] vipulsparsh commented on #60446
@elvirk  We will close this now, please tag me in your comment if you have any questions.

[2020-08-14 03:39] #60446 closed

[2020-08-14 03:42] vipulsparsh commented on #60821
@cjmakwana Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-08-14 03:44] vipulsparsh commented on #60838
@tongyuze Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-08-14 03:47] vipulsparsh commented on #60845
@bfg100k  Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-08-14 03:51] satyajitmahapatra commented on #60793
Hi Derek, I am using CLI version 2.0.44

[2020-08-14 03:55] seebosmile commented on #56356
I have the same problem   :

Validation failed: 1 validation error(s) found in policy "B2C_1A_QI_SIGNUP_SIGNIN" of tenant "sandboxQNB2C.onmicrosoft.com".Schema validation error found at line 12 col 8 in policy "B2C_1A_QI_SIGNUP_SIGNIN" of tenant "sandboxQNB2C.onmicrosoft.com": The element 'UserJourneyBehaviors' in namespace 'http://schemas.microsoft.com/online/cpim/schemas/2013/06' has invalid chi

[2020-08-14 04:00] SwathiDhanwada-MSFT commented on #60837
@abhishekhotti Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-08-14 04:01] SwathiDhanwada-MSFT commented on #60843
@D-Moonesinghe Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-08-14 04:02] SwathiDhanwada-MSFT commented on #60849
@JohnRusk Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-08-14 04:10] SatishBoddu-MSFT commented on #60633
Hello @tommmc @jer71146 @JadeCoding

- We have downloaded the Sample ADT app from this [link ](https://docs.microsoft.com/en-us/samples/azure-samples/digital-twins-samples/digital-twins-samples/) dated: 08/11/2020
- Created a new ADT in West US 2
- Created an AAD app and provided all necessary permissions as per the tutorial.

**Below is the recording:** recorded a few minutes back

![1](https://u

[2020-08-14 04:16] KrishnaG-MSFT commented on #60832
@shekhag Thanks for your comment! We will review and provide an update as appropriate.

[2020-08-14 04:16] KrishnaG-MSFT commented on #60835
@munir94 Thanks for your comment! We will review and provide an update as appropriate.

[2020-08-14 04:40] SnehaAgrawal-MSFT commented on #60808
@motasem13hamad Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-14 04:42] SnehaAgrawal-MSFT commented on #60829
@sergioadofaci Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-14 04:44] SnehaAgrawal-MSFT commented on #60833
@samgladstone Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-14 04:47] SnehaAgrawal-MSFT commented on #60820
@itahirov Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-14 04:54] ram-msft commented on #60601
@jtg5122 Thanks for the feedback. The [UpdateKbOperationDTOUpdate ](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.cognitiveservices.knowledge.qnamaker.models.updatekboperationdtoupdate.-ctor?view=azure-dotnet#Microsoft_Azure_CognitiveServices_Knowledge_QnAMaker_Models_UpdateKbOperationDTOUpdate__ctor_System_String_System_Collections_Generic_IList_Microsoft_Azure_CognitiveServices_Kno

[2020-08-14 05:04] RohitMungi-MSFT commented on #60826
@RayMckaig Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-08-14 05:04] viktors-telle opened #60857 "Guidance on how to upgrade to the managed disks when Load Balancer has Basic SKU"
Please suggest the upgrade steps when you have an existing infrastructure with Basic Load Balancer and Basic Static Public IP address. Currently, Azure does not provide the possibility to upgrade Load Balancer and Public IP from Basic to Standard SKU. Recreating these two resources is not an option since you will lose the original Static Public IP.

#### Document Details

⚠ *Do not edit this secti

[2020-08-14 05:07] RohitMungi-MSFT commented on #60834
@michaelstiben Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-08-14 05:10] satyajitmahapatra commented on #60793
I upgraded the CLI version and it is working now. Sorry for the trouble.

[2020-08-14 05:11] #60793 closed

[2020-08-14 05:13] #60816 closed

[2020-08-14 05:22] SnehaAgrawal-MSFT commented on #60754
@eavonius To add to above: You may refer to below CLI command sample for this:

az webapp config storage-account add --resource-group vsoto-cli-ps-tests --name vsoto-test-cli-3 --custom-id myOtherMount --storage-type AzureFiles --share-name testforcli --account-name vsotoxenontest.file.core.windows.net --access-key "<<my-storage-access-key>>" --mount-path "/datafilesFromCli

If using /datafiles an

[2020-08-14 05:44] psmanhas commented on #60848
@berndbausch Thank you for the feedback.We will work on it and will keep you updated on the thread

[2020-08-14 05:44] psmanhas commented on #60847
@berndbausch Thank you for the feedback.We will work on it and will keep you updated on the thread

[2020-08-14 06:13] lostmsu opened #60858 "Where can customer see current consumption on their SaaS subscription?"
I am testing my metered billing implementation, and would like to see how much custom dimension units my test subscription actually consumed so far according to Azure. Is this available anywhere? Is there any way to check the actual consumption for test plans (where custom units set to be free for testing) from the standpoint of the billing system?

---
#### Document Details

⚠ *Do not edit this s

[2020-08-14 06:19] Mike-Ubezzi-MSFT commented on #58856
Hi @Brucius Are you looking to replicate the data to a different subscription to move the data to a new instance in a different subscription? Some options are as detailed in this Stack Overflow post: [Cross Subscription Copying of Databases on Windows Azure SQL Database](https://stackoverflow.com/questions/17746072/cross-subscription-copying-of-databases-on-windows-azure-sql-database) but most app

[2020-08-14 06:22] ragakar opened #60859 "Add lab videos or cmd output snippet in the document for easy ref"
Please add or include lab videos and cmd output snap shot for easy ref

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1f5847a-561c-2cf8-3955-6e5cfef0f73e
* Version Independent ID: 67841eb9-66ec-106f-f6f8-015a4dc6e0d3
* Content: [Setting up Pacemaker on RHEL in Azure](https://docs.microsoft.com/en-us/azure/virtual-mach

[2020-08-14 06:26] Lelivienne commented on #60805
so the only way to check if given location gives availability zone is hardcoding valies and manual update when changes? not even graph?didn't expect that. thx for the update though14 sie 2020 01:26 TravisCragg-MSFT <notifications@github.com> napisał(a):
@Lelivienne to my knowledge there is not a way to get a list of available SKUs from the API, and there is not an exposed function in Azure PowerSh

[2020-08-14 06:33] HarithaMaddi-MSFT commented on #60853
@kashyap-bhatt-by - Thanks for sharing the feedback. However, using an and a does not depend on the spelling of the word it comes before, it depends on the pronunciation of the word. Use 'an' when the first letter of the word, abbreviation or acronym starts with a vowel sound (a, e, i, o u.). Here SQL does not have any vowel sounds and hence "Create a SQL Pool" is used. Hope this answers your quer

[2020-08-14 06:33] #60853 closed

[2020-08-14 06:48] vipulsparsh commented on #60678
@knssub The documentation with 3rd party integration will be coming soon, which MFA provider are you talking about here ?
We have stopped taking request for any new MFA provider for on prem integration for now. The steps with the existing once will be available soon.
Let me know if you have any questions.

[2020-08-14 06:54] vipulsparsh commented on #60779
@satyasyamnn  Its there under the Device Settings page only :

![image](https://user-images.githubusercontent.com/63580915/90222020-d9a8d500-de28-11ea-9898-1bd6b15ab5af.png)

Can you share the screenshot of this page from your portal if its somehow not visible.  You can also read about it here : https://docs.microsoft.com/en-us/azure/active-directory/devices/assign-local-admin

[2020-08-14 06:55] kevdever commented on #56279
@linda33wj the REST method to get the managed identity for ADF V2 does not work, since using the exact steps called out in the link above results in an error: ("Authentication failed. The Authorization header is missing").  Since the idea here is to use the MSID to get an access token, the following call should not require an authorization header, as it defeats the purpose of the MSID: `GET https:

[2020-08-14 06:55] PramodValavala-MSFT commented on #60701
@nicolonsky in the meantime, we will be adding a note to point this out in the docs and this issue will track its progress.

[2020-08-14 07:03] HarshitaSingh-MSFT commented on #60625
@anomepani, you can follow steps mentioned [here](https://docs.microsoft.com/en-us/powershell/module/azuread/?view=azureadps-2.0) to install _Azure Active Directory PowerShell for Graph module_ and [this](https://docs.microsoft.com/en-us/office365/enterprise/powershell/connect-to-office-365-powershell#connect-with-the-microsoft-azure-active-directory-module-for-windows-powershell) for installing _

[2020-08-14 07:05] vipulsparsh commented on #60781
@Vivelin  Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@rwike77  Can you have a look at this ?

[2020-08-14 07:07] HarshitaSingh-MSFT commented on #60738
Thanks @curtand for providing updates from PG. This helps.
CC: @Jared-Harrington-Gibbs

[2020-08-14 07:08] RohitMungi-MSFT commented on #60677
@emma-ehrhardt This change is now in the document. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.  Thanks again!!

[2020-08-14 07:08] #60677 closed

[2020-08-14 07:09] SadiqhAhmed-MSFT commented on #60858
@lostmsu Thanks for the question. We are looking into this and will get back to you soon.

[2020-08-14 07:12] wbplomp opened #60860 "The GUI on the Auzre Portal has changed (for route propergation)"
On the page it says the following:

_"If you have a default route advertised via BGP to force traffic to on-premises, you must create the AzureFirewallSubnet and AzureFirewallManagementSubnet before deploying your firewall and have a UDR with a default route to the Internet, and Virtual **network gateway route propagation** disabled."_

Please note the blade (GUI) on the Azure Portal has changed a

[2020-08-14 07:29] KeithDarragh1 commented on #60794
The support request ID is 120052924005311

The engineers thought the Front Door session affinity cookie was the ARRAffinity, but it is not.

[2020-08-14 07:33] vipulsparsh commented on #60797
@TuanAnh207  Thanks for the feedback. We are engaging  the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@curtand  Can you have a look at this ?

[2020-08-14 07:34] Canafishdrown commented on #59541
Apologies  in advance., maybe  it is the wrong forum to post  this question. I have setup up   federation between Gsuite and  Azure Active Directory..  I am using the free trail for Azure . I get the following error message , and i have researched , but to no avail. Any help would be much appreciated .
![image](https://user-images.githubusercontent.com/34712796/90225186-2ed8ec80-de11-11ea-9bc6-a9a

[2020-08-14 07:39] SnehaAgrawal-MSFT commented on #60673
@Francisco-Gamino Thanks again for the feedback! This doc is about creating a managed identity for App Service and Azure Functions applications and as mentioned further in the doc you may refer to [Managed identities for Azure resources](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/overview) for more info about managed identities in Azure AD.

[2020-08-14 07:47] tommmc commented on #60633
Hello @SatishBoddu-MSFT

Changed default browser to Edge, cleared cookies and same issue.

![image](https://user-images.githubusercontent.com/39488651/90226092-61331b80-de0a-11ea-8b4c-39d123ec69c9.png)

Will try the latest code 08-11-2020 when I get chance.

[2020-08-14 07:54] GitaraniSharma-MSFT commented on #60854
@tsharp , We have assigned this issue to the respective product owner for updating the doc accordingly.
@sohamnchatterjee , Could you please provide your insights here?

[2020-08-14 08:01] JohnRusk opened #60862 "Link to troubleshooting script points to only the non-Azure script"
This sentence: "To help diagnose the problem, we have provided a troubleshooting script available here."

Points to: https://raw.githubusercontent.com/microsoft/Docker-Provider/ci_dev/scripts/troubleshoot/TroubleshootError_nonAzureK8s.ps1

But it should point to:
https://github.com/microsoft/Docker-Provider/tree/ci_dev/scripts/troubleshoot

So that users can choose the right script for their envir

[2020-08-14 08:04] GitaraniSharma-MSFT commented on #60860
@wbplomp , thank you for your feedback. We have assigned this to the content owner/author for review.

I checked the route table GUI in Azure portal and yes, as you correctly mentioned, it is changed now with a setting called "Propagate gateway routes" with options "Yes" and "No". Below is the screenshot:

![image](https://user-images.githubusercontent.com/67630903/90227757-b6832300-de32-11ea-96eb

[2020-08-14 08:20] VikasPullagura-MSFT commented on #60859
@ragakar
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-08-14 08:21] VikasPullagura-MSFT commented on #60859
@rdeltcheva
Can you please check and add your comments on this doc update request as applicable.

[2020-08-14 08:28] psmanhas commented on #60847
@berndbausch Azure AD is an identity solution which give you the granular level hold to allow access using RBAC in AKS and authenticating the users in your directory which help you secure your cluster access and provide only the minimum required permissions to developers and operators.

Azure AD integration helps you to integrate on-premises identities into AKS clusters to provide a single source

[2020-08-14 08:30] SwathiDhanwada-MSFT commented on #60862
@JohnRusk Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-08-14 08:32] SnehaAgrawal-MSFT commented on #60829
@sergioadofaci Thanks again for the feedback! What error you are getting? Could you please share more details on an screenshot to help you better on this.

[2020-08-14 08:43] psmanhas commented on #60848
@berndbausch Your understanding is correct that need to access node is not common at all and hence this has been only mentioned in [this](https://docs.microsoft.com/en-us/azure/aks/ssh) article.

As mentioned in the article throughout the lifecycle of your Azure Kubernetes Service (AKS) cluster, you may need to access an AKS node. This access could be for maintenance, log collection, or other trou

[2020-08-14 08:45] Zander-M opened #60863 "A typo in Python example"
The error messages for setting endpoint and key have some typos. I suppose they should be "From Azure Cognitive Service, ..." instead of "From Azure Cogntivie Service, ...". Great tutorial in general! Really helpful for beginners like me : ) <3

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4c8bd02-16d6-d043-4f2c-a337

[2020-08-14 08:45] mslot commented on #44083
@ggailey777 I have read up on it since. How I understand it is:
1. you can have a Linux consumption plan, that takes the code and run it in a docker, but you cant bring your own image
2. if you want to bring your own image, then you need a premium plan

[2020-08-14 08:45] amanmcse commented on #60821
@cjmakwana You will get the Role claim only when your token request has a scope which is added to the application where the Roles are defined.
[code]
If you use a scope like https://graph.microsoft.com/user.read, you will not get the app role in the token as the role claim.

[2020-08-14 08:46] psmanhas commented on #60857
@viktors-telle Thank you for the feedback.We will work on it and will keep you updated on the thread

[2020-08-14 09:09] wolfma61 commented on #60834
The transcription and artifacts are not in our database anymore, since the transcription was deleted at 08-14 01:16 (UTC+2) (probably by user?). However,  according to message reported by user, the time when he accessed the blob was 2020-08-13 22:31 UTC time, so it was before the deletion.

Since there were no logs about any other activities the system did for this request or this subscription, we

[2020-08-14 09:10] zhouwangzw commented on #60834
We looked into our logs, which showed that the transcription has been deleted via a DELETE REST call. After deletion, you are unable to access the result files anymore.
Thanks

[2020-08-14 09:22] Zenuka commented on #36458
We are also experiencing the same issue as @clawrenceks.
We also cannot set only `WEBSITE_CONTENTAZUREFILECONNECTIONSTRING` without `WEBSITE_CONTENTSHARE` through the Azure portal. We also have `WEBSITE_RUN_FROM_PACKAGE` set to 1.

I'm also not sure how this will work when you have your ARM template deployment mode set to `Complete`? Will it not remove the generated app setting `WEBSITE_CONTENTSHA

[2020-08-14 09:34] SadiqhAhmed-MSFT commented on #60835
@munir94 You're right! :)

Is it 1 for Assessment and 1 for replication/migration ?
-_Yes, one for assessment, one for migration, so total 2_

Reference link - https://docs.microsoft.com/en-us/azure/migrate/migrate-services-overview#azure-migrate-server-migration-tool

Feel free to reply if you have any additional question in this matter.

[2020-08-14 09:43] JayaChatterjee-MSFT commented on #60663
@TurtleBeach Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2020-08-14 09:46] s19k15 commented on #31825
Yes, there is a valid scenario. Take for example the following. You have an infrastructure per country hosting multiple DataWarehouse databases per Country Client. So this Country A can have Client 1 and Client N databases in this Country A VM. Now you need to give access to these DBs though DataFactory to each different Client Azure Tenant by using the same Integration Runtime. Currently, you nee

[2020-08-14 09:50] JohnMcAvinue opened #60864 "Missing the requirement to include a header value"
This page should include a reference to the request header with name "aeg-event-type" and value "Notification" that is required for an Event Grid triggered function.

I kept getting Bad Request responses and it was only after reading through documentation for an hour that I found this page that told me I needed to include this header:

https://docs.microsoft.com/en-us/azure/azure-functions/functio

[2020-08-14 10:06] dbuskirk commented on #60519
Here is the screen shot of the error as I sent before:

[cid:78700b0d-5aa5-4038-bb41-2404833dab59]

The only error is line 103, where strdup is not recognized. This is the unmodified code from the Microsoft sample.

This second screenshot illustrates that I am using version 2.0.0 of the Microsoft Developer library for the AZ3166 board. I expect you are using version 1.6.5.

[cid:78bdac27-b591-4121

[2020-08-14 10:08] AshokPeddakotla-MSFT commented on #60521
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-08-14 10:08] #60521 closed

[2020-08-14 10:12] valiantloong opened #60865 "Add notes for those who buy Azure service by CSP vendors."
Please add advisory to those us who buy from CSP vendors... We are not able to check our Usage ans cost.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b4e8220-2dd3-3ce2-b07e-03c793bac520
* Version Independent ID: 5c7ca9c5-205a-66b0-eabe-ccae39ad0d61
* Content: [Pay your bill for Microsoft Azure](https://docs.microsof

[2020-08-14 10:34] jer71146 commented on #60633
Hello @SatishBoddu-MSFT

I had checked following things that you mentioned above
1. Change default browser(Edge & Chrome) and clean all cookies.
2. Use the Sample ADT app which updated on 08/11/2020
3. Follow the document to set all the permissions and check AAD app permissions were setting correctly.
document: [https://docs.microsoft.com/en-us/azure/digital-twins/how-to-set-up-instance-portal](ht

[2020-08-14 10:35] asergaz commented on #60727
Hi @123Jun321 thanks for the feedback. Let me address your questions with eyes from the content author @robinsh in case I missed any details:

**Note:** basic tiers don't allow you to do Twin updates, so let's focus only on standard tiers.
**Note:** You can purchase up to 200 units for the B1, B2, S1, or S2 edition, or up to 10 units for the B3 or S3 edition.

Based on my experience this means tha

[2020-08-14 10:36] MayankBargali-MSFT commented on #60706
@mikaelsand Thanks for your feedback! I see that you have opened this issue for the improvement of the error message that is returned from the services.

Azure docs issues are mainly for the document bug and enhancement. For services related improvement/feedback you can always reach out here: https://feedback.azure.com/forums/34192--general-feedback

I will reach out to my team with your feedback.

[2020-08-14 10:36] #60706 closed

[2020-08-14 10:36] w0ut0 opened #60866 ""Diagram" is under the "monitoring" submenu"
In the documentation:
**On the page for your VNet, under Settings, click Diagram.**

The "Diagram" button is actually in the "Monitoring" section:
![image](https://user-images.githubusercontent.com/20435853/90241152-c72f9b00-de2a-11ea-92d8-d8ea1cf1aac7.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6194908-a982-6

[2020-08-14 10:37] dabhadkarabhishek opened #60867 "Not able to push message to Queue"
While using above code I am getting below error. I am using .net core 3.1.
Value cannot be null.
Parameter name: uriString

I get this message at below line
queueClient = new QueueClient(ServiceBusConnectionString, QueueName);

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 217f29ba-3552-f406-58d3

[2020-08-14 10:39] w0ut0 commented on #60866
Nevermind, I was looking at the documentation of the "classic" portal.

[2020-08-14 10:39] #60866 closed

[2020-08-14 10:45] danijam opened #60868 "B2C - SAML - App Registration - Supported Account Types Clarification"
In step 4.1 https://docs.microsoft.com/en-us/azure/active-directory-b2c/connect-with-saml-service-providers#41-register-your-application-in-azure-ad-b2c

It says

"Under Supported account types, select Accounts in this organizational directory only"

Yet I understood you needed to use the

"Accounts in any organizational directory or any identity provider. For authenticating users with Azure AD B2

[2020-08-14 10:57] MayankBargali-MSFT commented on #60864
@JohnMcAvinue Thank you for your feedback! We will review and update as appropriate.

[2020-08-14 10:58] #60663 closed

[2020-08-14 10:59] KrishnaG-MSFT commented on #60865
@valiantloong Thanks for the feedback.
Assigning @bandersmsft for visibility, review and document enhancement consideration as appropriate.

[2020-08-14 11:06] amanmcse commented on #60838
Hello @tongyuze,
The reason why it is not in the errors list under "Error codes for token endpoint errors" section is because you don't get "invalid_scope“ error in case of authorization_code flow. The error list in this document is specifically about the errors that occur during authorization_code flow. The example is just to show how an error response looks like.

This particular error occurs wh

[2020-08-14 11:10] HarshitaSingh-MSFT commented on #60668
@simorocksTheBest , just checking in to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this issue or is good to be closed.

[2020-08-14 11:15] MayankBargali-MSFT commented on #60867
Hi @dabhadkarabhishek

I have tested the sample and didn't observe any issue. Can you please verify if you are passing the correct connection string in the ServiceBusConnectionString variable
sb://yourservicebusname.servicebus.windows.net/;SharedAccessKeyName=policyname;SharedAccessKey=yournamespacekey

You can find the connection string in the azure portal:
![image](https://user-images.githubuser

[2020-08-14 11:24] amanmcse commented on #60775
Hello @foramkumar-parekh,
For this purpose, you can refer to the sample provided here: https://github.com/azure-ad-b2c/samples/tree/master/policies/default-home-realm-discovery.

We use this platform to fix documentation related issues. Going forward, kindly use[ Microsoft Q&A](https://docs.microsoft.com/en-us/answers/questions/ask.html) platform for technical assistance.

[2020-08-14 11:28] Prasannaraju5590 commented on #43323
The settings described in this article don't match the current options available in the Azure AD admin center and the information provided in the admin center isn't entirely clear. Can the article be updated to reflect the current options as below:

Self Service Group Management:
Owners can manage group membership requests in the Access Panel
Restrict user ability to access groups features in the

[2020-08-14 11:33] Suizi11 opened #60870 "Root certificate MUST be verified"
In the documentation it's mentioned that the verification process of the root CA certificate is optional:

If I create a group enrollment entry with certificate type CA it's of course necessary to verify it. However, I've tested also the approach using an intermediary certificate which doesn't work --> my edge device wasn't provisioned in the IoT and I got following error message on the device:
[c

[2020-08-14 11:44] Wheeldo74 opened #60871 ""Azure Functions Consumption Plan" not an option."
When publishing, "Azure Functions Consumption Plan" is not an option in Visual Studio 2019.

Options shown are as per screenshot: -

![Annotation 2020-08-14 124239](https://user-images.githubusercontent.com/41961691/90246111-c5b2a280-de2b-11ea-84dc-35c7a9535520.png)

I'm assuming "Azure Functions Consumption Plan" is now known as "Azure Function App (Windows)"?

---
#### Document Details

⚠ *Do no

[2020-08-14 11:51] Prasannaraju5590 opened #60872 "Incomplete instructions"
The settings described in this article don't match the current options available in the Azure AD admin center and the information provided in the admin center isn't entirely clear. Can the article be updated to reflect the current options as below:

Self Service Group Management:
Owners can manage group membership requests in the Access Panel
Restrict user ability to access groups features in the

[2020-08-14 11:58] MayankBargali-MSFT commented on #60864
@JohnMcAvinue I have reviewed both the document.

This first document: https://docs.microsoft.com/en-us/azure/event-grid/post-to-custom-topic talks about how you can post the events to the custom topic that you have created in the portal. To authenticate the custom topic you need to pass the authentication header as 'aeg-sas-key'

Example: aeg-sas-key: VXbGWce53249Mt8wuotr0GPmyJ/nDT4hgdEj9DpBeRr38

[2020-08-14 12:00] pvrk commented on #60239
Thanks all for the good feedback. I have details of the error in the [file recovery](https://docs.microsoft.com/azure/backup/backup-azure-restore-files-from-vm) documentation. The troubleshooting document is for more common errors. If further evidence is found that this error is happening more frequently, will update the troubleshooting doc too.

Closing this since the documentation is updated.

#

[2020-08-14 12:00] #60239 closed

[2020-08-14 12:01] roofiq opened #60873 "Nested reference function"
Hello,

Recently, I was trying to do some kind of nested reference. First one was referring to deployment output that outputs resource Id (key vault in this example) and second was referring to secret object in this key vault.

Below I'm attaching a screenshot, that shows the combination and error output that says:
`The template function 'reference' is not expected at this location`.

![image](htt

[2020-08-14 12:03] shantanuchaudhary24 opened #60874 "Hard dependency on secret versions for keyvault references has been removed"
The "Note" box on this page specifies :
[code]
However, the functions need not require their key vault references to have secret versions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7feaa3d0-7233-a3cb-cb9b-a9a55b1f0d7a
* Version Independent ID: f41f9d51-52f8-1f45-1043-1344a3b74458
* Content: [Use Key Vault referenc

[2020-08-14 12:05] MayankBargali-MSFT commented on #60871
@Wheeldo74 Thank you for your feedback! We will review and update as appropriate.

[2020-08-14 12:46] eavonius commented on #60754
Thanks for the clarification,

I think I may have figured out what the issue is.

I'm running this command on an AppService that uses Windows, if I pass unix
type paths, it succeeds but I never see anything.

Is this only supported in Docker instances or Linux containers?

I'd really like to be able to use Azure File shares mounted to a Windows
App Service, but either I'm still not configuring it

[2020-08-14 12:54] OwenTN opened #60876 "Documentation error?"
It seems like "Accepted protocols are HTTP. Forwarding protocol is either match request or HTTPS." should be "Accepted protocols are HTTP. Forwarding protocol is either match request or HTTP."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42cb8651-4d1d-4031-ad64-93fc7a2c0c6c
* Version Independent ID: d2f0f0f6-378b-d3e

[2020-08-14 13:00] michaelstiben commented on #60834
You're right, the transcription was deleted by one of us. A misunderstanding in our side. I sent again the same audio, the result was successful and the resultUrls had the correct behavior.

If I detect this behavior again, I will open this issue again.

Thank for your help and time.

[2020-08-14 13:00] #60834 closed

[2020-08-14 13:06] #60835 closed

[2020-08-14 13:28] Rajkishore123 commented on #27508
You can check this on [Running Multiple Azure Functions Locally](https://azurelessons.com/run-multiple-azure-functions-locally/).

[2020-08-14 13:32] asorokaChorus opened #60877 "linked"
There are many places on this page that state "see link" but there is no link . It is unclear.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e93508d-e207-2259-9f34-8167aa8714b6
* Version Independent ID: 35b4e4e0-0612-45e1-121d-01959a4db995
* Content: [Create a Dynamics 365 for Customer Engagement & PowerApps offer in

[2020-08-14 13:36] JohnMcAvinue commented on #60864
Thanks for looking into this and replying so promptly.

The first article does not make it clear that it only works when submitting to the real Azure Event Grid. It may have been written for that purpose but it definitely isn't clear and obvious.

From a developer perspective I definitely think this should be made clear and/or the page modified to explain how to call locally. The only differences

[2020-08-14 13:36] sergioadofaci commented on #60829
@SnehaAgrawal-MSFT Hi, sure, here is a [screenshot](https://i.imgur.com/jxUNwij.png). The first command failed and the second got a prompt.

[2020-08-14 13:39] erzads opened #60878 "How to restore a backup in the same VM?"
The article shows how to restore a backup to a new disk and a new VM, but not how to restore it in an existing VM.
In Azure's dashboard there is an option to "replace existing" disk of the VM which the backup was taken from.
How can this be done via rest api?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e3c4a5e-fca9

[2020-08-14 13:43] Richiec76 commented on #60631
Hi,

I cleared out the versions of Az I had (4 were installed), then re-installed 4.5.0. However I still get the same problem

[cid:image001.png@01D67249.24B37C90]

As I said, it works fine with AzureCLI so I am happy to use that approach for now.

Thanks,
Richard

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: SadiqhAhmed-MSFT<mailto:notifications@github.com>

[2020-08-14 13:49] GiftA-MSFT commented on #60567
@erindormier can you please help clarify, thanks.

[2020-08-14 13:56] shortpatti commented on #59202
VPN content draft is with the SME and will be a separate article.

#please-close

[2020-08-14 13:56] #59202 closed

[2020-08-14 14:01] SteveStraleyAstute opened #60879 "This page is totally out of date. The json structure of many of the return values have been changed and thus this page is TOTALLY USELESS"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b0985f3-9f69-f25a-715c-c67ab16b2274
* Version Independent ID: 84c72697-82f5-aefd-8467-7e1a4dd08290
* Content: [Status of asynchronous operations - Azure Resource Manager](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/async-

[2020-08-14 14:09] SwathiDhanwada-MSFT commented on #60590
@Mexicoder Thanks for providing the further information about the issue on Microsoft Q&A platform. As this channel is primarily used for documentation changes and there are no changes to be made to document, we will close the issue here for now and we will continue to assist you on Microsoft Q& A channel.

[2020-08-14 14:09] #60590 closed

[2020-08-14 14:13] SatishBoddu-MSFT commented on #60633
Hello @tommmc @JadeCoding @jer71146

We are working on this issue with our team to verify all steps in the sample code, please stay tuned.

If you need immediate attention/help on this issue please do as mentioned below:

**Further help/support options:**

Please send an email to azcommunity@microsoft.com with the below details, we will work closely on this matter.

**Thread URL:** #60633
**Your S

[2020-08-14 14:19] MayankBargali-MSFT commented on #60864
@JohnMcAvinue Apology if it was not clear in my initial response. Event Grid sources and event grid handlers are two different things. The event grid sources are classified as system topics (azure inbuild topics that pushes the event to event grid) and custom topics (where you can push your custom events to the event grid)

Once you have pushed the events to the event grid topics there are subscri

[2020-08-14 14:23] SadiqhAhmed-MSFT commented on #60631
@Richiec76 Thanks for confirming. Good to hear that CLI works, for PS issue I think its requires further investigation. I would recommend reaching out to support team by raising a technical support ticket. Let me know if you have any limitations creating a support request.

[2020-08-14 14:24] SwathiDhanwada-MSFT commented on #60879
@SteveStraleyAstute Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-08-14 14:25] SatishBoddu-MSFT commented on #60519
@dbuskirk Please confirm if the below images show the exact warning sign on your side and is related to this issue?

![image](https://user-images.githubusercontent.com/62923178/90259669-41e2c100-ddff-11ea-9948-4f058698335a.png)

[2020-08-14 14:30] AshokPeddakotla-MSFT commented on #60524
@udaybhanupathania Please try the above suggestions and let us k now if that resolves your issue,
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-14 14:30] #60524 closed

[2020-08-14 14:30] SadiqhAhmed-MSFT commented on #60877
@asorokaChorus Thanks for bringing this to our attention. This issue is being assigned to the content owner to review and update as appropriate.

@BrianLevenson FYI

[2020-08-14 14:31] SadiqhAhmed-MSFT commented on #60878
@erzads Thanks for the question. We are looking into this and will get back to you soon.

[2020-08-14 14:35] uriel-kluk commented on #60649
Thank you for listening to my recommendations, I do find that your changes
clarify the issue.

This article is under the Transparent Gateway, but the core detail is also
applicable to opaque gateways with downstream devices,
Is there a way to add a note that for opaque gateways explaining that you
still need the Cert setup and a route to an intermediate module (like
Stream Analytics)?

On Thu, Aug

[2020-08-14 14:54] RyanHill-MSFT commented on #47611
@gfaraj you should be able to use the following flow. Send your request with your identityToken to

[code]
and use the authorization token in the X-ZUMO-AUTH header. If you run into issues using this client flow, send me any error messages you receive, and I'll pass along to the rest of time.

[2020-08-14 14:58] pedroivotavares opened #60880 "Tutorial gives wrong command on creation of certificate issuer"
The tutorial gives the wrong command when describing the creation of the Certificate Organization. Where it says
$org = New-AzureKeyVaultCertificateOrganizationDetails -Id OrganizationIDfromDigiCertAccount

it should read

$org = New-AzKeyVaultCertificateOrganizationDetail -Id OrganizationIDfromDigiCertAccount

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-08-14 15:00] shashishailaj commented on #60852
@superlzy Thank you for pointing this out . We will  engage with the content authors on this and update the thread.

[2020-08-14 15:00] shashishailaj commented on #60868
@danijam Thank you for your feedback . We will investigate and update the thread.

[2020-08-14 15:01] shashishailaj commented on #60852
@chetansriv @v-nagta . Can you check this and update the documentation ?

[2020-08-14 15:02] GiftA-MSFT commented on #60863
@Zander-M thanks for your feedback. The document will be updated soon. Thanks :).

[2020-08-14 15:03] cephalin commented on #43262
Sorry for the delay. This looks like an outdated guidance. We've removed the bullet point now and it should be published within a few hours. #please-close

[2020-08-14 15:03] #43262 closed

[2020-08-14 15:05] nicolonsky commented on #60701
Thank you for the update - appreciate that. A hint within the docs would be helpful for others experiencing the same.

[2020-08-14 15:06] shashishailaj commented on #60872
@Prasannaraju5590 Thank you for your feedback . Could you please share the reference of the document as well so that we can better assist in this case and have the document updated as necessary ?

Thank you.

[2020-08-14 15:07] shashishailaj commented on #60880
@pedroivotavares Thank you for your feedback . We will have this reviewed and update the thread.

[2020-08-14 15:10] #60392 closed

[2020-08-14 15:11] ealsur commented on #60392
@SnehaGunda  Hosting option details were now added to the article, plus more Additional resources that include the link to one of the labs

[2020-08-14 15:12] cjmakwana commented on #60821
Hi @amanmcse many thanks for your support. I was not aware that the application specific scope is required to specify in the request. I configured an API scope and granted the necessary permissions. After that, I could see the roles claim (array) with the required roles. Hence, closing this issue now.

[2020-08-14 15:12] #60821 closed

[2020-08-14 15:16] kobulloc-MSFT commented on #59541
@Canafishdrown To help us and other readers track individual issues, we ask that you open a new issue for this question.  If you have feedback that will help us improve the [documentation](https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/google-apps-provisioning-tutorial), then under "Feedback" at the very bottom of the page, click on Submit and review feedback for "This page".

!

[2020-08-14 15:17] premsonbaby commented on #58788
Hi Guys,

Is there any update on this subject?

Thanks.

[2020-08-14 15:18] davidsmatlak commented on #60294
I submitted the fix for this issue and when it merges, this issue will automatically close. After the merge, the updated document will be online within 24 hours.

[2020-08-14 15:20] craigktreasure commented on #56230
@AshokPeddakotla-MSFT We have addressed this and this can now be closed.

[2020-08-14 15:20] da5is opened #60882 "Diagram Misleading - No "VIP" in gateway mode"
From a networking perspective, the diagram is misleading that shows a VIP in front of the Cosmos DB instance - it's a single DNS entry, but from a networking perspective - there's no single Virtual IP address that can be allow-listed from a firewall / proxy perspective.

![This is the diagram in question](https://docs.microsoft.com/en-us/azure/cosmos-db/media/performance-tips/connection-policy.png

[2020-08-14 15:23] mamccrea commented on #60750
Hi @carlneal - I just tested it with no errors. Can you please ensure that your Event Hub Name is correct (the entity path value) and that the preceding semicolon was removed from the connection string? Also, ensure that your access policy is set to Manage.

[2020-08-14 15:24] SibeeshVenu opened #60883 "Azure IoT Central Publish Error Something went wrong Error Code: 400.470.006.319 / 2093ej9xx7l.4"
I am trying to publish my device template, but I am always getting the error " Something went wrong Error Code: 400.470.006.319 / 2093ej9xx7l.4". Please see the preceding image. May I please know what could be the reason?

![image](https://user-images.githubusercontent.com/4262147/90265372-c874be00-de52-11ea-9bb4-dd31865a2c12.png)

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2020-08-14 15:33] #60294 closed

[2020-08-14 15:37] SatishBoddu-MSFT commented on #60883
Hello @SibeeshVenu
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-14 15:39] SatishBoddu-MSFT commented on #60870
Hello @Suizi11
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-14 15:41] PramodValavala-MSFT commented on #60573
@shoubhikghosh83 You code does seem correct. Could you confirm the URL you are trying does instead have the same pattern? Also, could you try each parameter one at a time to see if they work individually?

[2020-08-14 15:42] AshokPeddakotla-MSFT commented on #56230
@craigktreasure Thanks for an update.
@ashtmMSFT We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-14 15:42] #56230 closed

[2020-08-14 15:46] SnehaGunda commented on #59802
The above two PRs fix all the issues. The content updates will be live in a few hours. We will now close this issue.

#please-close

[2020-08-14 15:46] #59802 closed

[2020-08-14 15:49] BrianLevenson commented on #60877
Ack - engaging the article owner to review and address

[2020-08-14 15:52] RonnieQuan opened #60886 "Private Endpoint for All App Service Slots"
During the preview, only the production slot is exposed behind the Private Endpoint, other slots must be reach by Public Endpoint.

Will we have private endpoint for both slots in GA feature?

Thanks!
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2174e399-063b-129a-eef6-2c49a67fd4e2
* Version Ind

[2020-08-14 16:16] MarileeTurscak-MSFT commented on #60603
The product team said they recently pushed a fix but also created a new bug. Could you get a screenshot of the user info for users where you are seeing this? If the last name is in the display name rather than the "last name" box, sometimes this can happen.

[2020-08-14 16:18] WinstonHoward-MSFT commented on #60723
Thanks @bluefooted for jumping in. I will now close this issue. If there are further questions regarding this matter, please tag me in a comment. Have a good one.

[2020-08-14 16:18] #60723 closed

[2020-08-14 16:24] thequesarito commented on #60603
Great - thanks so much! It seems to be resolved now due to the fix being
pushed. This is a user that I had the issue with:
[image: image.png]
Hope this helps!

Thank you,
Claudia Wilson

On Fri, Aug 14, 2020 at 10:16 AM Marilee Turscak - MSFT <
notifications@github.com> wrote:

[2020-08-14 16:30] damonbarry commented on #60649
applicable to opaque gateways with downstream devices,
Is there a way to add a note that for opaque gateways explaining that you
still need the Cert setup and a route to an intermediate module (like
Stream Analytics)?

In an opaque gateway, the protocol translation module acts as the "gateway". So leaf devices send messages to the protocol translation module (how they do that is out of scope for I

[2020-08-14 16:32] dbuskirk commented on #60519
Yes. This is the only problem.
________________________________
From: SatishBoddu <notifications@github.com>
Sent: Friday, August 14, 2020 10:25 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Dan Buskirk <dbuskirk@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Has Arduino library changed? (#60519)

@dbuskirk<https://github.com/dbuski

[2020-08-14 16:41] ggailey777 commented on #60661
We have it documented [in the App Service docs](https://docs.microsoft.com/en-us/azure/app-service/configure-common#configure-general-settings), but not in Functions. Thanks for pointing out the content gap.

[2020-08-14 16:42] AlverezYari opened #60889 "Stream Locator Path is based off output asset name?"
Is there anyway to control the streaming path url. Our output names are comprised of a few different identifiers such as jobid+uploaderid+clipid which makes them a bit too long for the streaming locator to create a URL path off. Is there anything we can do to control that format?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-08-14 16:45] asnierma commented on #60657
+@Todor Batchvarov<mailto:Todor.Batchvarov@microsoft.com>

Asher Nierman
Services Account Manager
CSS Partner Enablement | Advanced Support for Partners (ASfP)<https://partner.microsoft.com/en-us/support/advanced-cloud-support>
Office: (469)-775-3272 | Asher.Nierman@microsoft.com<mailto:Asher.Nierman@microsoft.com>
ASfP Incident Support Operations is available at asfpsam@microsoft.com<mailto:asfps

[2020-08-14 16:47] uriel-kluk commented on #60649
Yes, but what got me into trouble with the documentation, is that I
couldn't find a document to connect a downstream device to n opaque gateway.
All the documents are about Transparent Gateways or Modules inside the Edge.

What do you search if you want to connect a downstream device to a Stream
Analytics Edge module?

It is just a suggestion. I do like the latest change and I am not offended
if y

[2020-08-14 16:48] stbof opened #60890 "Update Microsoft.Databricks table"
From rebecca.li@databricks.com:

For Microsoft.Databricks

The table is incorrect for the part that "Tag in cost reports" for "workspaces" should be marked as "Yes".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66769e1b-720b-f1b1-a5e3-ed5cb24cd233
* Version Independent ID: b6272e61-58c1-3e2f-3e36-a9ee920c0915
* Conte

[2020-08-14 16:49] asnierma commented on #60657
As you can see on the report below - they are Pending for gov. They have an AZURE Gov Tenant, with credentials and identity. They don't have any subscriptions there, they do not have access to partner center for Government nor can they create any customers as they have not signed the agreement yet. The status needs to be Onboarded on the report below for me to be able to update them on the list. T