[2018-06-14 11:40] WaltIQ commented on #10156
The windows machine was missing these updates:
![image](https://user-images.githubusercontent.com/26611505/41409998-140dd306-6fa6-11e8-9dd5-897fedbc2274.png)

I am applying them now and will retest

[2018-06-14 11:40] JeremyTBradshaw commented on #10176
OK thanks very much.  While Googling to research about MDM compliance after seeing your response, I happened to find this article - https://www.microsoft.com/en-us/microsoft-365/blog/2015/07/21/explore-the-built-in-mobile-device-management-mdm-feature-for-office-365/ - as well which indirectly answers the question too.  Thanks again!

[2018-06-14 11:46] cenkersoy opened #10202 "winrm"
Hi, in the "winrm quickconfig" step, I am getting the following:
"WinRM service is already running on this machine.
WinRM is not set up to allow remote access to this machine for management.
The following changes must be made:
Configure LocalAccountTokenFilterPolicy to grant administrative rights remotely to local users."
What would be the recommend steps to remediate this ?
Thanks

---
#### Docum

[2018-06-14 11:47] JensNordenbro commented on #10079
It works on Ubuntu 16.04.

[2018-06-14 11:49] dotnetstep commented on #10058
There are few other pages while I reading I found this mistake. If somebody already a user of powershell then it want be a big problem but if it is first time user then it become some problematic.

[2018-06-14 11:51] evertonmc opened #10203 "Wrong text: Linux container"
https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-dotnetcore-sqldb#create-a-web-app
You’ve created an empty web app in a Linux container, with git deployment enabled.
This is the Windows documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00961883-36eb-f736-b906-73d4c35e69b0
* Version

[2018-06-14 12:11] MikeForster100 commented on #10078
If the machine sees the disk via a USB dock then the process should work?
Does the tool do any checking of any kind?
Ask per @SRayment comment we cant source the recommended options and we need it to support 10TB disks which most of the recommended ones dont.  We are due to send the disks off next week!
We have chosen:
Inateck USB 3.0 Hard Drives Docking Station for 2.5 Inch and 3.5 Inch HDD SSD S

[2018-06-14 12:12] ronaldvanrij commented on #9924
Thank you both for the help, it does make sense now.

[2018-06-14 12:12] #9924 closed

[2018-06-14 12:13] deldrid1 opened #10205 "Example Currently Broken due to Power BI bug"
See https://community.powerbi.com/t5/Desktop/PowerBI-changes-data-table-name-to-RealTimeData-and-creates/td-p/152268 - basically, unless the table name is "RealTimeData" in the streaming analytics output, this doesn't work today.

Also, I was unaware that PowerBi didn't like nested data structures and just imported them as Text...  Might be worth adding a note to clarify that you must use a flat d

[2018-06-14 12:13] Kartik1607 commented on #9899
Ah ok. I think docs should be explicitly updated to mention that only Excel and tsv files support metadata.

Also, if possible it would be really nice feature request to add support to word docs as well albeit through some pattern

[2018-06-14 12:19] Mike-EEE opened #10206 "Prepend?"
This article is really well done.  Thank you for providing such great work on this and for your work with documentation in general.  I have found MSFT documentation in general to be much better these days.

That said. 😊 Something did catch my eye here:

Should this be `prepend` instead?

Thought I would point that out unless I have misunderstood something.

In any case, please continue the great w

[2018-06-14 12:46] VishwajitG opened #10207 "Do you mean contact PostgresSQL Team?"
Contacts section in last para mentions MySQL while the overview is about PostgresSQL.
So is it a copy-paste error or do you really have same team for MySQL and PostgresSQL.
That seam unlikely.

''For any questions or suggestions you might have about working with Azure Database for MySQL, send an email to the Azure Database for MySQL Team (@Ask Azure DB for PostgreSQL). Note that this is not a tech

[2018-06-14 12:58] CKeene78 commented on #10158
From Chrome 66.0.3359.181 / 64-bit
![500chrome](https://user-images.githubusercontent.com/39811430/41413333-4cb959f6-6fd2-11e8-850d-a119a4dd01be.PNG)

IE11
![500ie](https://user-images.githubusercontent.com/39811430/41413431-9f6e0372-6fd2-11e8-871b-8f2d2587299a.PNG)

FF 59.0.2 / 32-bit
![500ff](https://user-images.githubusercontent.com/39811430/41413272-1e350fc6-6fd2-11e8-964e-43db9b5be532.PNG)

[2018-06-14 13:01] WaltIQ commented on #10156
Doing more poking around It is looking more like the RDP client on the Windows box wants to use Network Level Authentication (NLA), but XRDP does not support this

[2018-06-14 13:12] trevor-schmidt commented on #10165
inside log analytics we are trying to query how to correlate usage data/ resource. We are trying to put together a /resource pricing model. so inside the usage query we can see the quantity in MBytes for every AzureDiagnostic but we want to expand that to quantity in MBytes for every resource. ex) how many Mbytes of data are being sent to log analytics from application gateway 5 or any other resou

[2018-06-14 13:32] ahamin01 commented on #10139
Many thanks for the prompt reply.
So, this means that who accepted/rejected the Terms of Use will be retained indefinitely, or just the numbers?

[2018-06-14 13:43] clarkio commented on #8436
@rbmathis @kubiozi It looks like mongoose reserves the key `id` and is trying to create values for it in new documents so changing the model to use the key `uid` instead fixes the problem.

We'll make sure to update the documentation. While we're doing that and in order to get you moving past this issue now you can change it to `uid` in the locations needed (see the following PR for specifics): ht

[2018-06-14 13:44] JohnBoncek commented on #10154
Excellent.  Thank you!

[2018-06-14 13:50] sbhuttan commented on #10106
@vasivara-MSFT - While running the pipline, I am getting error related to missing parameter - which was supposed to be set in Parameters tab. I also ran into same issue as another open issue here #8819, where updated UI did not have the functionality and user was suggested to use XML as a work around. If XML is the way going forward, how can I detailed documentation on it?

[2018-06-14 13:55] caseywatson commented on #6450
I ran into the same problem on Windows and was able to resolve it by fixing the line endings (CRLF to LF). This article explains the problem in more detail - https://omgdebugging.com/2017/12/23/azure-web-app-for-container-failing-site-start/.

[2018-06-14 14:13] dannradkov opened #10208 "ADE for OS disk"
*ADE is supported for RHEL for data disk. The current ADE implementation does work for OS disk but is not currently jointly supported. Both Microsoft and Red Hat are working on a jointly supported solution.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75aaea98-a087-c6d0-61cd-4a2edab37be5
* Version Independent ID: 6a2

[2018-06-14 14:16] JeremyTBradshaw opened #10209 "Should you also mention https://aka.ms/MFASetup"
It is a little easier to get to the same place as described in the instructions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79604501-4e57-c776-6117-82d15c9ebb34
* Version Independent ID: fc6e660a-0180-98b5-c53a-30e57507a707
* Content: [Manage your two-step verification settings](https://docs.microsoft.com/en-us/azu

[2018-06-14 14:27] rsrinivasanhome opened #10210 "Possible updates to documentation"
The difference between the client assertion and assertion  in the table "Second case: Access token request with a certificate" is not clear.  A link and sample would help.    Will the on-behalf flow in Azure work with using an external third party token as input?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cd73bb0-

[2018-06-14 14:31] smoms opened #10211 "read vs write separation not possible"
Is there no way to monitor read vs write separately?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4535fb42-55f9-4d8c-52d2-30b5eb0ef726
* Version Independent ID: f5cccae0-a752-4065-605a-4179016a5a42
* Content: [Monitoring and debugging with metrics in Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/u

[2018-06-14 14:33] jeffwmiles opened #10212 "Clarification on iSCSI guest disks"
In the "Considerations for Profiling" section, there is a statement:
"Azure Site Recovery does not support VMs that have iSCSI and pass-through disks. However, the tool cannot detect and profile iSCSI and pass-through disks that are attached to VMs."

The two sentences appear to say both ASR and the deployment planner tool cannot work with iSCSI or pass-through disks, but the "however" in the seco

[2018-06-14 14:38] zerobane commented on #9939
Take a look here:
https://github.com/Azure/AKS/issues/221

and this one in particular has no documentation:
*feiskyer <https://github.com/feiskyer> *commented 27 days ago
<https://github.com/Azure/AKS/issues/221#issuecomment-390133572>

I don't think you could edit that in AKS. AKS manages
kube-controller-manager for you. So if you want to use a different subnet
(from azure.json one), you need to

[2018-06-14 14:51] SaurabhSharma-MSFT commented on #9925
@FredMurphy Can you please refer to a similar issue raised on [Stackoverflow](https://stackoverflow.com/questions/50260011/azure-ad-b2c-an-account-could-not-be-found-for-the-provided-user-id) and let us know if you have everything correctly setup for password reset.

[2018-06-14 14:53] Brenduns commented on #9892
#please-close

[2018-06-14 14:57] cbeech1980 opened #10214 "LoadBalancer Diagnostics in Azure Gov"
Hi there - I don't see metrics and health diagnostics being available in Azure Gov. Is there any timeline for that to happen?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fabcb1d6-d6df-23a8-6258-d8cc3600804c
* Version Independent ID: 3a6cab2e-d26b-3a60-f9ef-ad85c5324206
* Content: [Azure Standard Load Balancer diagno

[2018-06-14 14:58] sovanny opened #10215 "dockerd command not working"
I'm trying to run the powershell script, but I get an error at the dockerd --register-service command.

Program 'dockerd.exe' failed to run: This function is not supported on this system.
    + CategoryInfo          : ResourceUnavailable: (:) [], ApplicationFailedException
    + FullyQualifiedErrorId : NativeCommandFailed

I am using IOT Core 17134.

How can I install the edge/docker containers?

[2018-06-14 15:00] darylhurst opened #10216 "Adding user to virtual network subnet using Azure CLI or PowerShell"
I'm trying to script provisioning of an AKS cluster using a custom vnet. I can do all of this quite happily but cannot perform the final step of giving the service principal Owner rights to the subnet so Kubernetes can automatically provision a load balancer without throwing permission issues.
Is there an 'az' CLI command or PowerShell cmdlet that can achieve this or is this only possible through

[2018-06-14 15:02] robymes commented on #9010
thanks @wagsousa, I followed your instructions but nothing happens, maybe something's wrong in my event hub.
May I ask a couple of questions?
- I can see that topic is set to "test", what does it mean in Event hub terms?
- Do I have to create an Event hub just after I created the event hub namespace? It's not clear to me

Thanks

[2018-06-14 15:09] wagsousa commented on #9010
- [test ](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-for-kafka-ecosystem-overview#what-does-event-hubs-for-kafka-ecosystems-provide)is the hub name

- Yes, if you were able to run the [github sample](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-quickstart-kafka-enabled-event-hubs) successfully it will be already created, if not you will need to create it mannually

[2018-06-14 15:23] Mike-Ubezzi-MSFT commented on #10180
@ElectricLlama Thanks for the feedback. We are actively investigating and will get back to you but, I did want to mention that MSI is not supported by Azure SQL Database. MSI is supported when Azure SQL is deployed within an Azure VM (IaaS). Let me double-check a few things and I will get back with you. Regards, Mike

[2018-06-14 15:27] sergaz-msft commented on #8984
Hello @turbolego, I have reached out to Product Group and here is what I got:

Untill today, we don't have generic arm and windows support. The Python samples for [seeed kit](https://github.com/Azure-Samples/azure-iot-starter-kits/tree/master/seeed) are using a special base image, built just for the seeed device. For that reason the Important note on the doc is still correct.

We will now proceed

[2018-06-14 15:27] #8984 closed

[2018-06-14 15:32] FrancisRD91 commented on #10110
@YutongTie-MSFT Thanks so much for the attention. I am going to publish the question in MSDN forum.

[2018-06-14 15:33] sergaz-msft commented on #9966
Hello @petersad123, on top of what I mentioned above, if you are not seeing messages coming in IoTHub it is normal that ASA job will not receive any input and throw any output as well.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-06-14 15:33] #9966 closed

[2018-06-14 15:34] davidmu1 commented on #9287
Updated the screenshots and text for the new experience.

#please-close

[2018-06-14 15:34] #9287 closed

[2018-06-14 15:35] sergaz-msft commented on #10002
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-06-14 15:35] #10002 closed

[2018-06-14 15:35] eross-msft commented on #10024
I am adding this doc enhancement to my list of tasks. I will make sure we address it in the next release of the content. In the meantime, I'll add this link to the topic so there's a bit of a clarification: https://docs.microsoft.com/en-us/azure/multi-factor-authentication/end-user/microsoft-authenticator-app-how-to

[2018-06-14 15:40] sergaz-msft commented on #10008
Hello @VitorX , thank you so much for pointing this out 👍 . We will replace the link with the correct one: https://docs.microsoft.com/en-us/rest/api/maps/searchservice/getsearchfuzzy

[2018-06-14 15:41] davidmu1 commented on #9407
I do not have any information about Azure AD B2C availability in the CSP program. We don't typically put announcement or billing information in the overview for the service.

#please-close

[2018-06-14 15:41] curtand commented on #9903
hi @mrik23
This fix to the article is being published at 10 AM today. I'll post in this issue to inform you when it's live. Thanks for your contribution!

@SaurabhSharma-MSFT

[2018-06-14 15:42] curtand commented on #9903
#please-close

[2018-06-14 15:42] saachinvettiyattil opened #10217 "Hi what is the file limit to which thepolybase can write from the container"
What will be the file limit at which the polybase has the limit

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be44db83-d389-9662-031d-ac59d7ee7073
* Version Independent ID: 73954863-684f-12e3-80d1-a9aae6242b13
* Content: [Data loading best practices - Azure SQL Data Warehouse](https://docs.microsoft.com/en-us/azure/sq

[2018-06-14 15:48] Mike-Ubezzi-MSFT commented on #10194
@c-arnab Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

I was able to reproduce this:
Create local copy of GitHub repo and build solution.
![screenshot 57](https://user-images.githubusercontent.com/37126106/41423173-7c2ca3a0-6faf-11e8-9313-3564599fd1ae.png)

![screenshot 56](https://user-images.githubusercontent.com/37126106/4142313

[2018-06-14 15:49] sethmanheim commented on #9922
@NayangiriGoswamiGit OK, please let us know if you have further questions. #please-close

[2018-06-14 15:50] MarkusVi commented on #10176
You're welcome

[2018-06-14 15:52] Mike-Ubezzi-MSFT commented on #10194
@stevestein This tutorial was created in VS2010 and when you build the solution with VS2017, there are some issues that result.

[2018-06-14 15:52] spottedmahn commented on #9564
Hi David 😊

fair enough

Great 👍.  IMO, it seems pretty critical to tell people what they can or can't do when customizing the UI.

[2018-06-14 15:54] davidmu1 commented on #9564
@spottedmahn Thanks Michael. Always appreciate the feedback!

[2018-06-14 15:56] ScottAzure opened #10218 "Step 9 of Create virtual machine scale set has outdated picture"
The new Portal UX has load balancing options that are not reflected in the instructions. There may be other enhancements in the UX that may be missing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0ac55b8-8be8-1f86-e3b1-3fe3f6c340c1
* Version Independent ID: c26d3fc8-b62c-4895-3687-2fc7364c6383
* Content: [Quickstart

[2018-06-14 15:58] barclayn commented on #9714
@SychevIgor Thank you for your feedback. I updated the section and removed the outdated screenshots. The updates should be live today.

[2018-06-14 15:59] barclayn commented on #9714
@SaurabhSharma-MSFT This was fixed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/43766

[2018-06-14 15:59] barclayn commented on #9714
#please-close

[2018-06-14 16:02] Mike-Ubezzi-MSFT commented on #10195
@c-arnab Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-14 16:03] jpconnock commented on #10218
Please use the internal repo to report Issues.

#please-close

[2018-06-14 16:04] Mike-Ubezzi-MSFT commented on #10207
@VishwajitG Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-14 16:06] wesmc7777 commented on #8909
#please-close

[2018-06-14 16:08] #10008 closed

[2018-06-14 16:10] Mike-Ubezzi-MSFT commented on #10207
@JasonWHowell I am unable to find/assign this to the current content owner per the document metadata. I show Sunil Kamath as being still with MS but this person's GitHub alias is not resolving? Should this go to you or somebody else? Thank you, Mike

[2018-06-14 16:19] sergaz-msft commented on #10063
Hello @smharishbabu, that is not expected. Please make sure that you didn't have those containers previously installed. My suggestion is that you remove all containers using this command in powershell:

`docker rm $(docker ps -a -q)           # Remove all containers from this machine`

And then run `iotedgectl start` again.

We will now proceed to close this thread. If there are further questions

[2018-06-14 16:19] #10063 closed

[2018-06-14 16:28] Mike-Ubezzi-MSFT commented on #9915
@wortho We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-14 16:28] #9915 closed

[2018-06-14 16:31] danucalovj opened #10219 "Documentation is severely out of date"
Version of PowerShell must be the latest, and updated to above 6.0.0 (I had to update to 6.2.1 to get this working), because the encryption now runs without the AAD information. Error Message:

Please specify AAD application details, or install AzurePowershell version 6.0.0.0 or above to use AzureDiskEncryption without AAD
At line:255 char:13
+             Write-Error "Please specify AAD applicati

[2018-06-14 16:32] Mike-Ubezzi-MSFT commented on #10154
@JohnBoncek Correct! The screen capture of the database diagram I included here is 'as-built' by the database diagram functionality. I could have moved the tables around to make it match the image in the documentation. If there are no additional questions, I am going to move to close this out. If you should have any additional questions, feel free to reopen this dialog and we can continue the disc

[2018-06-14 16:32] #10154 closed

[2018-06-14 16:33] Mike-Ubezzi-MSFT commented on #9914
@wortho We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-14 16:33] #9914 closed

[2018-06-14 16:37] Mike-Ubezzi-MSFT commented on #10211
@smoms Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-14 16:38] danucalovj opened #10220 "Broken Link"
Broken link on "Troubleshooting Encryption Status"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aed5ca44-9a26-aa5c-089b-73e2d3a626a6
* Version Independent ID: 067a251b-df8b-75bb-d351-4f2b475e55de
* Content: [Azure Disk Encryption troubleshooting](https://docs.microsoft.com/en-us/azure/security/azure-security-disk-enc

[2018-06-14 16:38] sergaz-msft commented on #10066
Hello @smharishbabu , in order to run the tutorial from [this doc](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-csharp-module) you will need to first complete the [quickstart](https://docs.microsoft.com/en-us/azure/iot-edge/quickstart) or [first tutorial](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-simulate-device-windows) successfully and the subsequent prerequisites:

![

[2018-06-14 16:38] #10066 closed

[2018-06-14 16:48] Mike-Ubezzi-MSFT commented on #10195
@c-arnab Was there a specific deployment of the three that did not deploy successfully for you? I deployed all three solutions per the tutorial without issues: [Deploy the Wingtip Tickets SaaS Standalone Application
](https://docs.microsoft.com/en-us/azure/sql-database/saas-standaloneapp-get-started-deploy#deploy-the-wingtip-tickets-saas-standalone-application)

![screenshot 60](https://user-image

[2018-06-14 16:49] jocastel-MSFT commented on #10139
Both the count and who accepted/declined the Terms of Use will be retained indefinitely.

[2018-06-14 16:50] sergaz-msft commented on #10109
Hello @Dunwally , how does your connection string looks like on that piece of the code?

[code]

The error is suggesting that the format is not correct. It should be something like this:

`HostName=youriothubname.azure-devices.net;DeviceId=yourdeviceid;SharedAccessKey=mvYxHBsu6Bp1WtjJU9505GzWG/w11Gqm/6bIG/12345=`

Thank you.

[2018-06-14 17:06] MicahMcKittrick-MSFT commented on #9939
@zerobane I will assign to the content author to review the doc and see if there is room for improvement.

[2018-06-14 17:07] MicahMcKittrick-MSFT commented on #10156
Ahhh okay! That makes sense! Good find :) Maybe something we should mention in the doc.

@iainfoulds what do you think? Would this be good to mention in this doc?

[2018-06-14 17:12] tamram commented on #10058
@dotnetstep - Okay, thanks. If you find a specific example, please don't hesitate to let us know. Otherwise I will open a work item to review the PowerShell docs in light of this problem.

[2018-06-14 17:12] MicahMcKittrick-MSFT commented on #10189
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-14 17:13] MicahMcKittrick-MSFT commented on #10190
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-14 17:14] MicahMcKittrick-MSFT commented on #10192
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-14 17:14] MicahMcKittrick-MSFT commented on #10198
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-14 17:15] MicahMcKittrick-MSFT commented on #10200
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-14 17:20] MohitGargMSFT commented on #10177
@JeremyTBradshaw Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-14 17:21] mattbriggs commented on #9792
@infoberg ... Yes, you are clearing them before doing the next install. I have lost the thread on the issue you are experiencing, can you let me know what it is? Thank! Matt

[2018-06-14 17:22] Mike-Ubezzi-MSFT commented on #10134
@gambrose Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-14 17:31] MohitGargMSFT commented on #10193
@smoms Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-14 17:31] MohitGargMSFT commented on #10191
@gmantri Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-14 17:32] MohitGargMSFT commented on #10199
@ctolkien Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-14 17:33] MohitGargMSFT commented on #10208
@dannradkov Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-14 17:34] MohitGargMSFT commented on #10209
@JeremyTBradshaw Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-06-14 17:35] nitinme commented on #9761
@doghousesoftware Thanks for your interest in Data Lake Store. Under the "Streamed data" section of the article, there is a bullet point that tells how to use "EventProcessorHost" to receive events from EventsHub.

#please-close

[2018-06-14 17:36] MohitGargMSFT commented on #10210
@rsrinivasanhome Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-14 17:37] nitinme commented on #9755
Here's the updated link - https://docs.microsoft.com/en-us/python/api/azure.mgmt.datalake.store?view=azure-python.

It is also available from the Azure Data Lake Store landing page - https://docs.microsoft.com/en-us/azure/data-lake-store/

#please-close

[2018-06-14 17:43] vasivara-MSFT commented on #9922
@NayangiriGoswamiGit We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-14 17:43] #9922 closed

[2018-06-14 17:44] vasivara-MSFT commented on #9755
@gosali @sauercrowd We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-14 17:44] #9755 closed

[2018-06-14 17:48] barlanmsft commented on #10209
@MohitGargMSFT please reassign to @eross-msft.

[2018-06-14 17:50] bmilbauer opened #10223 "Automation - How to onboard servers at scale?"
Is there no other way to onboard servers other than clicking through the GUI? Is there PowerShell support? Command-line support in the backup agent? How do we modify a backup schedule via automation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c04356b4-e2a0-c095-5f47-b7fc1d2b574f
* Version Independent ID: 72900c81-5

[2018-06-14 17:54] Adam-Smith-MSFT commented on #10175
@juanjosemino currently auditing on Azure files is not supported, however, you can enable auditing on the file share side: https://docs.microsoft.com/en-us/windows/security/threat-protection/auditing/apply-a-basic-audit-policy-on-a-file-or-folder
Let me know if this helps.

[2018-06-14 17:56] MicahMcKittrick-MSFT commented on #10091
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2018-06-14 17:56] #10091 closed

[2018-06-14 17:57] MicahMcKittrick-MSFT commented on #10107
I will close this out but if you feel you need more information please just let me know.

[2018-06-14 17:57] MicahMcKittrick-MSFT commented on #10108
I will close this out but if you feel you need more information please just let me know.

[2018-06-14 17:57] #10108 closed

[2018-06-14 17:57] MicahMcKittrick-MSFT commented on #10111
I will close this out but if you feel you need more information please just let me know.

[2018-06-14 17:57] #10111 closed

[2018-06-14 17:58] curtand commented on #9903
Hi @mrik23
The addition to the article is live.
https://docs.microsoft.com/en-us/azure/active-directory/active-directory-accessmanagement-groups-settings-cmdlets#create-settings-at-the-directory-level

[2018-06-14 17:59] Yonathan159 opened #10224 "Support for Custom image"
Hello everyone ,
I need know if I used custom imagen them loss support azure?

regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0665b390-9b97-e799-0837-d03b86544afc
* Version Independent ID: 5bb16d0e-d274-6df9-db4f-ebd414f9bba1
* Content: [Create a managed Azure VM from a generalized on-premises VHD](https://docs

[2018-06-14 17:59] MicahMcKittrick-MSFT commented on #10121
@smflorentino do you already have multiple thumbprints or do you have a single and looking to add more?

[2018-06-14 18:00] MicahMcKittrick-MSFT commented on #10129
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2018-06-14 18:00] #10129 closed

[2018-06-14 18:04] daveba commented on #10170
@WillParry The Azure API Management service is not fully supported.  As more services are supported, we will update the article and tables accordingly.

[2018-06-14 18:09] jason-j-MSFT commented on #10185
@joshkel
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-14 18:10] TravisCragg-MSFT commented on #9892
@Jquintero190 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-06-14 18:10] #9892 closed

[2018-06-14 18:10] jason-j-MSFT commented on #10197
@ConnorKirk
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-14 18:11] #9903 closed

[2018-06-14 18:11] MicahMcKittrick-MSFT commented on #10144
@jackchenquest can you try the same but moving those resource to another resource group rather than another subscription? I am curious if you would get the same error.

[2018-06-14 18:12] mmacy commented on #9799
Thanks, @dankellett, my apologies for the slow reply, here. To deploy to ACI from a private Docker Hub repository, the **Image registry login server** must be `index.docker.io`. For example, here are the settings I used to successfully deploy from my own private repository on Docker Hub:

![image](https://user-images.githubusercontent.com/13394541/41429886-4d432622-6fc3-11e8-84a9-e6ecd37cbab0.png)

[2018-06-14 18:14] Mike-Ubezzi-MSFT commented on #10217
@saachinvettiyattil Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-14 18:14] jason-j-MSFT commented on #10218
@ScottAzure thanks for the feedback! Use this internal repo:
https://github.com/MicrosoftDocs/azure-docs-pr

[2018-06-14 18:14] #10218 closed

[2018-06-14 18:15] SaurabhSharma-MSFT commented on #10021
@rogerbrownmegnajet Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-14 18:15] BryanTrach-MSFT commented on #10201
@cvs79 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-14 18:16] jibinjohnbabu commented on #8348
I'm facing the same issue when I'm trying to deploy the template onto TESTRG resource group where I have my AKS cluster , any thoughts ?

[2018-06-14 18:16] #7433 closed

[2018-06-14 18:17] #10085 closed

[2018-06-14 18:17] #9761 closed

[2018-06-14 18:18] #9714 closed

[2018-06-14 18:18] #9407 closed

[2018-06-14 18:18] #8909 closed

[2018-06-14 18:19] BryanTrach-MSFT commented on #10196
@kishore1702 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-14 18:20] BryanTrach-MSFT commented on #10224
@Yonathan159 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-14 18:22] rashmichandrashekar commented on #8348
@jibinjohnbabu - The template deployment should be in the same resource group as the resource group of the aks cluster you are trying to enable monitoring on.

[2018-06-14 18:23] Mike-Ubezzi-MSFT commented on #10215
@sovanny Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-14 18:27] kgremban commented on #9857
@sergaz-msft Would you #please-close this issue?

[2018-06-14 18:29] MohitGargMSFT commented on #10219
@danucalovj Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-06-14 18:31] tfitzmac commented on #9912
@ToMakeSense - thanks for this feedback. I am seeing the same behavior you noticed. For some reason, the expressions are not being evaluated in the expected order. For example, the 65 elements in the array must be coming from length evaluating the variable as a string (with 65 characters) rather than an array with 5 elements. I am trying to find out if there is a fix or workaround.

[2018-06-14 18:31] smflorentino commented on #10121
Single issuer, multiple issuer thumbprints.

[2018-06-14 18:33] smflorentino commented on #9979
On this page, I think a link or one of those blue "FYI" boxes pointing to another article with more information (we can start with the blog post) would be good.

Thoughts?

[2018-06-14 18:38] wagsousa commented on #9010
You can either put your logs here or open a case through the Azure Portal (just scroll down on the Overview panel until "New Support Request") if you need some help to troubleshoot it.

[2018-06-14 18:38] MohitGargMSFT commented on #10220
@danucalovj Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-06-14 18:40] tfitzmac commented on #9950
@rsch006 - thanks for this feedback. We are evaluating its cause and looking for a fix or workaround.

[2018-06-14 18:44] CelesteDG commented on #9771
Hello @SaurabhSharma-MSFT @MohitGargMSFT @BryanTrach-MSFT and other CXP folks, JFYI that I'm tracking the identified gaps in the Identity team's VSTS DB and it's in my backlog for August (primarily as there's a bigger push for rearchitecting our docs so this will be included as part of that work). This GitHub issue will likely not have any activity until I've started to work on the PBI and can rep

[2018-06-14 18:48] aarondh opened #10226 "I suggest you modify your sample to allow you to specify the subscription as follows:"
# Variables
$probename = "AppPortProbe6"
$rulename="AppPortLBRule6"
$SBname = "myazuresubscription"
$RGname="mysftestclustergroup"
$port=9072

# Select the correct subsciption
Get-AzureRmSubscription –SubscriptionName $SBname | Select-AzureRmSubscription
# Get the load balancer resource
$resource = Get-AzureRmResource | Where {$_.ResourceGroupName –eq $RGname -and $_.ResourceType -eq "Microsoft.Ne

[2018-06-14 18:50] MicahMcKittrick-MSFT commented on #10149
@dasch88 do you get the same error if you try via PowerShell?

[2018-06-14 18:50] mumian commented on #9629
@rawatsudhir1 Thanks for the feedback.  The article will be updated today.

[2018-06-14 18:52] MicahMcKittrick-MSFT commented on #10158
@CKeene78 thanks for those. I think it would be best to get you in touch with a support engineer so they can debug the logs and see what is happening. Do you have the ability to open a technical Support ticket? If not I can enable one for you.

[2018-06-14 18:58] codyrat opened #10227 "AzureUSGovernment Availability"
Is the standard SKU available in the AzureUSGovernment cloud environment? If not, when is this particular sku planned?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09325ff2-5a0a-0aff-e3cb-d1c0585a6842
* Version Independent ID: f370d680-5d1d-99a9-e350-7d9551d24ce6
* Content: [Azure Standard Load Balancer overview](htt

[2018-06-14 19:00] Yonathan159 commented on #10224
thanks you so much!!

On Thu, Jun 14, 2018 at 3:20 PM Bryan Trach <notifications@github.com>
wrote:

--
*Yonathan D. Duran D.*
*Correos:*
Yo_na_than@hotmail.com
Yonathanddff@gmail.com

[2018-06-14 19:00] smflorentino commented on #9978
@MicahMcKittrick-MSFT, sorry for the delay. Why not put this info in a blue "i" box on the page, saying "here's how to do it via a GUI".

I think that's very relevant information.

[2018-06-14 19:00] dlepow commented on #9977
Opened [doc work item](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1283662) to consider this and related issue 9979.

@MicahMcKittrick-MSFT - Do you know of a Marketplace contact who owns descriptions of the Windows Server images? Might be another avenue to improve related customer-facing text.
#please-close

[2018-06-14 19:02] smflorentino commented on #9977
@dlepow I know there are a lot of images, but Windows Server and SAC are first class Microsoft offerings, it would be good to describe them.

[2018-06-14 19:02] bwren commented on #10185
We were meaning that more as just illustrating multiple items as opposed to having complete json.  I can see that it would be a bit more clear though if we add the [] to make it valid json.  Also just saw that we're missing a comma , so I'll go ahead and fix that too.

[2018-06-14 19:03] bwren commented on #10185
#please-close

[2018-06-14 19:04] dlepow commented on #9979
@smflorentino - Yes, adding a link to the blog could help address this. Opened [doc work item](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1283662) to review this and related issue 9977.

#please-close

[2018-06-14 19:08] JensNordenbro commented on #8532
@kgremban ; works on Ubuntu1604; not on Fedora, but at least I can continue! Thanks!

[2018-06-14 19:09] dlepow commented on #9977
@smflorentino - Understood, and I noted that in the doc work item. Thanks!

[2018-06-14 19:09] MicahMcKittrick-MSFT commented on #9978
@smflorentino I can assign the author to review and determine if we should add that. In my opinion it is assumed you can find anything via the portal hence the doc is specific to PowerShell. But I can see both sides.

@dlepow can you take a look?

[2018-06-14 19:10] #9979 closed

[2018-06-14 19:11] MicahMcKittrick-MSFT commented on #9977
Thanks @dlepow. I am not aware of a contact but I can take a look around and pass on the info!

[2018-06-14 19:11] #9977 closed

[2018-06-14 19:14] ericleigh007 commented on #7302
Could you please add recommendations for minimum  image density for good OCR?  200DPI min, as seems to be standard, as an example.  THANKS.

[2018-06-14 19:15] ericleigh007 opened #10228 "Please add Min density, resolution, etc for good OCR for each applicable API"
Could you please add recommendations for minimum image density for good OCR? 200DPI min, as seems to be standard, as an example. THANKS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f12a77c5-fc42-c179-5af7-6c7b2197de28
* Version Independent ID: 2db8d484-530e-d507-2842-c196a5e55c9a
* Content: [Computer Vision API for

[2018-06-14 19:15] jackchenquest commented on #10144
Yes. got same error when moving  the two storage account to another resource group.

[2018-06-14 19:17] dasch88 commented on #10149
Not sure, at the time when I needed this, the template route was better for my situation. I was able to no longer need to do this by leveraging the 'EnableRemotePS' command via Invoke-AzureRmVMRunCommand

[2018-06-14 19:18] MicahMcKittrick-MSFT commented on #10172
Thanks for that @brunoss. I am on getting the same error but am also having issues getting it to work.

@neilpeterson can you try running through the doc and confirming if we are just missing something or if we need to update the doc?

[2018-06-14 19:21] MicahMcKittrick-MSFT commented on #10179
@neilpeterson I am also seeing that it states there are 8 steps.

![image](https://user-images.githubusercontent.com/32313503/41433339-741f8a4c-6fcd-11e8-9253-158e0b755b07.png)

Typo or are we missing steps?

[2018-06-14 19:30] MicahMcKittrick-MSFT commented on #10190
@Risanshita are you referring to limiting access to the function via the portal such as in using Access Control (IAM) or do you mean managing who has access to the function endpoints?

[2018-06-14 19:32] MicahMcKittrick-MSFT commented on #10192
@carloreggiani are you seeing any specific errors? Under the advanced tab when configuring the cluster you should be able to opt to deploy to an existing Vnet.

![image](https://user-images.githubusercontent.com/32313503/41433873-fd7b9cda-6fce-11e8-93fb-25b2332c66fb.png)

[2018-06-14 19:33] MohitGargMSFT commented on #10177
@JeremyTBradshaw Please post this as a feedback @ https://feedback.azure.com/forums/169401-azure-active-directory This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2018-06-14 19:36] MicahMcKittrick-MSFT commented on #10198
@superminiek in most cases removing a data disk will not cause any issues to your VM. It can however if you had setup your VMs OS to host critical files on that disk. Otherwise, if all files critical to the OS functioning are hosting on the C drive then you are free to add and remove as many data disks as you like.

[2018-06-14 19:36] crs2m5smith commented on #8669
I have been trying for days to get this to work. I want to use version 2.0 Api and every time I get access denied. Some how can you show me a new article or guide on how exactly to do this. Nothing is working. My v1.0 simply does not work for the v2.0 West Central US endpoint for Vision

[2018-06-14 19:37] MohitGargMSFT commented on #10191
@gmantri Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-06-14 19:38] crs2m5smith commented on #8669
Update ? @noellelacharite

[2018-06-14 19:39] MicahMcKittrick-MSFT commented on #10224
@Yonathan159 I am not sure I am understanding your question. Are you asking if you decide to use a custom image vs a platform image will Azure still support you in troubleshooting? If that is the question then of course we will still support you :)

We have a list of supported images for Azure.

https://docs.microsoft.com/en-us/azure/azure-stack/azure-stack-supported-os

The above list says for st

[2018-06-14 19:40] MicahMcKittrick-MSFT commented on #10226
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-14 19:41] kduenke opened #10229 "RBAC Enabled with GA Announcement"
@neilpeterson Seems RBAC may be available now...https://azure.microsoft.com/en-us/blog/azure-kubernetes-service-aks-ga-new-regions-new-features-new-productivity/.  Time to update this documentation!  :-)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d501ff67-9208-8bcb-e8df-f09e9b16a802
* Version Independent ID: e3fc38

[2018-06-14 19:41] crs2m5smith commented on #8669
Were you able to get a resolution on your issue too? @sheheryarnaveed

[2018-06-14 19:41] MohitGargMSFT commented on #10193
@smoms Please help with your scenario which you want to implement. This will help us further guide on it.

[2018-06-14 19:44] MohitGargMSFT commented on #10199
@ctolkien Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-06-14 19:44] Yonathan159 commented on #10224
Yes , is correct , my question is about the support is limit for custom
image or is the same support.

Thanks you so much!
Regars

On Thu, Jun 14, 2018 at 4:39 PM Micah <notifications@github.com> wrote:

--
*Yonathan D. Duran D.*
*Correos:*
Yo_na_than@hotmail.com
Yonathanddff@gmail.com

[2018-06-14 19:45] BryanTrach-MSFT commented on #10206
@Mike-EEE Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-14 19:45] smoms commented on #10193
@MohitGargMSFT  well the usual multi-tenant app scenario. App1 developed in tenantX. Made available for use in tenantY (through usual sign up and consent process). Now, tenantX being part of an AAD tenant while tenantY being part of B2C tenant. Is the latter possible?

[2018-06-14 19:46] BryanTrach-MSFT commented on #10203
@evertonmc Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-14 19:49] jimdial commented on #10012
@arokubo Thanks for catching. The blog post is correct. I've updated the article to match the blog post. The change will publish later today.  #please-close

[2018-06-14 19:51] GeisaFaustino opened #10230 "No input images available"
I was trying to reproduce the "Use Custom Vision API to build an object detection project in C#" [tutorial](https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/csharp-tutorial-od) and I could not finish it because there are some problems with it.

- The input images aren´t available at github [link](https://github.com/areddish/cognitive-services-dotnet-sdk-samples)
- It

[2018-06-14 19:52] #10224 closed

[2018-06-14 20:00] trevor-schmidt commented on #10165
it varies so free and paid.

[2018-06-14 20:00] jimdial commented on #9234
@skmkzyk Thanks for your suggestion. I've called out specifically that the private IP address needs to be used for the source or destination of a rule, when the rule is for Azure VMs. The change will publish later today. If the updated text doesn't address your concern, please let me know.  --Thanks #please-close

[2018-06-14 20:02] marthalc commented on #9406
@wernerstinckens and @angusmack-msft the fix has been deployed. Please do let me know if you are still facing any issues. Thanks again for your patience and support.

[2018-06-14 20:04] JinYam commented on #7302
We recommend to use the DPI which will ensure minimum text height of 10-15 pixels for the smallest text you want to be recognized.

[2018-06-14 20:07] brunoss commented on #10172
I guess this won't be particularly useful but I am attaching [a screenshot of the result of both versions](https://imgur.com/a/UzqKDzs)

[2018-06-14 20:13] TravisCragg-MSFT commented on #9234
@skmkzyk We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-06-14 20:13] #9234 closed

[2018-06-14 20:14] #9857 closed

[2018-06-14 20:17] mike-urnun-msft commented on #10203
Hey @evertonmc - Thank you for reporting this! We have removed the callout text and the change will reflect after our next merge; and this issue will auto-close. Again, thank you for your contribution!

[2018-06-14 20:20] MicahMcKittrick-MSFT commented on #10165
Thanks for that. Can you provide some samples of how you are trying to search?

[2018-06-14 20:27] crs2m5smith commented on #8669
Ya pretty sure it is westcentralus. That is what the portal says.

[2018-06-14 20:28] YutongTie-MSFT commented on #10228
@ericleigh007 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@noellelacharite Hi, this is a doc-enhancement issue, could you please check the suggestion and update the document as necessary? Thanks a lot!

[2018-06-14 20:32] YutongTie-MSFT commented on #10196
@heatherbshapiro Hi, this is a doc-bug around the hyperlink "download here" and "http://future.aae.wisc.edu/tab/production.html.", can you please check the issue and update the document as necessary? Thanks a lot!

[2018-06-14 20:35] MicahMcKittrick-MSFT commented on #10165
I believe some of the examples shown here might help:

https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-usage

[2018-06-14 20:37] Mike-Ubezzi-MSFT commented on #10211
@smoms The current monitoring available for Azure Cosmos DB can be found in the following documentation: [Monitor Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/monitor-accounts)

Is there something specific you have in mind?

If what you are seeking is not currently available, use the below User Voice link to recommend features/functionality to the product group:
[Azure Cosmos

[2018-06-14 20:37] #10203 closed

[2018-06-14 20:42] SaurabhSharma-MSFT commented on #9392
@Jens-Lorenz We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-14 20:42] #9392 closed

[2018-06-14 20:42] MohitGargMSFT commented on #10201
@cvs79 Thanks for reporting! I will work to update it and update soon.

[2018-06-14 20:42] #10206 closed

[2018-06-14 20:46] JeremyTBradshaw commented on #10177
@MohitGargMSFT Done (https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/34566406-3-numbers-option-with-microsoft-accounts-will-t).  Thanks.

[2018-06-14 20:46] MikeForster100 commented on #10078
Phew ......quick check as device arrived today and all seems good with this device! Thanks

[2018-06-14 20:48] Mike-Ubezzi-MSFT commented on #10207
@kfile I show Sunil Kamath as being with MS but his GitHub alias is not resolving? Should this go to you or somebody else? Thank you, Mike

[2018-06-14 20:51] #10185 closed

[2018-06-14 20:51] Mike-EEE commented on #10206
Awesome... thank you @BryanTrach-MSFT.  Sanity restored.  For now. 😂

[2018-06-14 20:53] BryanTrach-MSFT commented on #10206
@Mike-EEE No worries, we're happy to hear you find the documentation helpful and we appreciate your feedback. The changes should be public within 24 hours.

Have a great day!

[2018-06-14 20:56] rolyon commented on #9337
Hi @CraigB7708,
I checked with the team. 51005 is an internal implementation detail and not an error condition. You can safely ignore this reference.

[2018-06-14 20:59] MohitGargMSFT commented on #10208
@dannradkov Please help with your query so that we can assist you on it.

[2018-06-14 20:59] rolyon commented on #10021
Thanks for the feedback. I'll have a look at this.
#in-progress

[2018-06-14 21:08] MicahMcKittrick-MSFT commented on #10229
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-14 21:11] trevor-schmidt commented on #10165
This will not give data/resource. we are looking for something like applicationgatewayfirewalls are sending .1325 MBytes of data to log analytics

[2018-06-14 21:12] Mike-Ubezzi-MSFT commented on #10180
@ElectricLlama It appears that AAD authentication is available. Please review these [Prerequisites](https://docs.microsoft.com/en-us/azure/data-factory/tutorial-deploy-ssis-packages-azure#prerequisites):

Please review review the documentation: [Create Azure-SSIS IR with AAD authentication](https://docs.microsoft.com/en-us/azure/data-factory/create-azure-ssis-integration-runtime)

Regards,
Mike

[2018-06-14 21:13] pemj opened #10231 "Missing action option - Azure Function"
I've been looking into exporting data from Azure Monitoring into an Azure Function. The azure portal currently lists "Azure Function" among the type of available actions for an action group, but I don't see it listed here, and there doesn't appear to be any documentation easily available on the portal, such as how the input will be formatted. Is there somewhere I can find that documentation?

---

[2018-06-14 21:31] MicahMcKittrick-MSFT commented on #10165
Do you have the app gateways configured already to send information? https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-azure-networking-analytics

Looks like there is an option to look at the firewall logs. Not 100% you are able to get the exact amount of data though. @georgewallace would you have any idea?

[2018-06-14 21:33] crs2m5smith commented on #8669
@gpkc  Ar you using the free version or paid version btw. I think I saw on the free version it showed a v2.0 endpoint but other than that , I have not been able to find anything on v2.0 api keys

[2018-06-14 21:47] SaurabhSharma-MSFT commented on #10120
@BHoggs Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-14 21:50] MicahMcKittrick-MSFT commented on #10231
What exactly are you looking to have the function do? You should be able to use the alerts and metrics generated in monitor to trigger an function but I am not sure what you mean by exporting data into a function.

[2018-06-14 21:54] parakhj commented on #10193
That's possible. But the B2C service does not support multi-tenant, so you will not be able to use the application to sign into B2C. This is different than using the  Azure AD service being used in the B2C tenant  (which does support multi-tenant apps)

[2018-06-14 21:55] parakhj commented on #10193
@smoms in the future, could you post on stackoverflow.com using the tag 'azure-ad-b2c'. It will help to keep questions like these in the same place

[2018-06-14 21:58] YutongTie-MSFT commented on #10230
@GeisaFaustino Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@areddish Hi, this is a doc-bug issue, could you please check the link and the four vars, and update the document as necessary? Thanks a lot!

[2018-06-14 22:03] SaurabhSharma-MSFT commented on #10016
@SaurabhRaoot In case you are not able to get the claims using the documents links shared earlier I suggest you please open a new MSDN forum post and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required
We will now proceed

[2018-06-14 22:03] #10016 closed

[2018-06-14 22:04] TravisCragg-MSFT commented on #10214
@cbeech1980 the document you linked refers to Standard Load Balancers, and they are not available in Azure Govt at this time. [We are working to get the feature in the future](https://feedback.azure.com/forums/558487-azure-government/suggestions/33417523-azure-load-balancer-standard-in-azure-government). Please post your feedback on the need for [Metrics for Basic Load Balancers Here.](https://fee

[2018-06-14 22:12] BryanTrach-MSFT commented on #10188
@kazshi As far as I am aware, you do not need to add the root cert.

Source: https://azure.microsoft.com/en-us/blog/intermediate-tls-certificates-for-azure-app-service-web-apps/

[2018-06-14 22:13] #10188 closed

[2018-06-14 22:13] schenmsft opened #10234 "Can multiple processes observe the same document change?"
It seems by using the change feed processor library as suggested in the sample code, we cannot observe the same document change by multiple processes/clients.  Is there a way to do that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdcc897a-d6df-3305-e9cb-01889a3c5d4f
* Version Independent ID: 739a9fc7-3782-a860-ac6d

[2018-06-14 22:14] artisticcheese opened #10235 "Ports is extended form is not supported"
Ports is format below is erroring out during deployment
[code]

Error
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6898cd0d-98c0-9c54-feed-93e5025c1eaf
* Version Independent ID: f31f4333-598d-2b12-7138-46d6f0399f50
* Content: [Azure Service Fabric Docker Compose Deployment Preview](https://docs.microsoft.com/e

[2018-06-14 22:21] jason-j-MSFT commented on #10197
@sharonlo101 we have a suggestion to mention dataset parameters to the dataset and linked services concept section.

[2018-06-14 22:33] Dunwally commented on #10109
I have the connection string as you stated it above. The image file of the code view is given up here, hope you get to see it.
![connectionstring_issue](https://user-images.githubusercontent.com/39966265/41441595-ebf83052-6ff8-11e8-8e21-6e3787b1b0eb.PNG)

[2018-06-14 22:38] Dunwally commented on #10109
Please pardon my omission, the connection string is here:
[connectionstring.pdf](https://github.com/MicrosoftDocs/azure-docs/files/2104229/connectionstring.pdf)

[2018-06-14 22:46] sergaz-msft commented on #10109
Hello @Dunwally can you please remove the curly brackets? `{ }` and test it after that? My advisory is that you reset the connection string now that you shared it publicly so that you can protect your environment from undesired connections.

Thank you

[2018-06-14 22:47] TravisCragg-MSFT commented on #10202
@cenkersoy it should prompt you to make the changes in the PowerShell Window after you run the "winrm quickconfig" command. See [This Post ](https://social.technet.microsoft.com/Forums/en-US/49caaf45-eab3-401b-8fd8-00e7105030c7/remote-wmi-on-server-2016-access-denied)for reference.

[2018-06-14 22:50] TravisCragg-MSFT commented on #9905
@saachinvettiyattil We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-06-14 22:50] #9905 closed

[2018-06-14 22:50] SidShetye opened #10236 "Steps do not result in weekly telemetry reports being sent"
Was directed here from the auto-weekly telemetry reports that are *extremely* useful to us. The latest email from the application insights team ("ai-noreply@applicationinsights.io") said

&gt; Note: The weekly telemetry report is being deprecated after June 18, 2018. See this for information on setting up custom reports.

and links to this page. But the instructions on this page do NOT produce the

[2018-06-14 22:54] JimFoster opened #10237 "Stuck"
"Create the Pipeline" fails with the following error:
Set-AzureRmDataFactoryV2Pipeline : HTTP Status Code: BadRequest
Error Code: BadRequest
Error Message: The document creation or update failed because there were duplicate properties in the json payload.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f66fe032-5362-4b8

[2018-06-14 22:59] #10012 closed

[2018-06-14 23:02] MicahMcKittrick-MSFT commented on #10235
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-14 23:04] MicahMcKittrick-MSFT commented on #10235
@artisticcheese where are you seeing the ports written like that in the doc?

[2018-06-14 23:07] artisticcheese commented on #10235
They are not written like that in the doc. This is a bug in implementation of Service Fabric that when compose file has ports written like that inside compose file (which is a valid way to write it) the runtime fails with error mentioned.

[2018-06-14 23:11] MicahMcKittrick-MSFT commented on #10235
Got it. Can you leave the feedback directly to the SF team here:

https://github.com/Microsoft/service-fabric/issues

You can link this issue to that new one as well so we can track. But this way the product team can take a look and implement a fix if needed.

[2018-06-14 23:12] MicahMcKittrick-MSFT commented on #10235
@mani-ramaswamy can you also take a look into this?

[2018-06-14 23:14] BharatNarasimman commented on #10235
@artisticcheese  - yes. Service fabric only supports the short form syntax for the ports.

[2018-06-14 23:16] artisticcheese commented on #10235
Well how do you specify `mode` then?

[2018-06-14 23:36] thesheebs opened #10238 "Run Time Error"
I get an error when I try to run the app.

System.ArgumentNullException
  HResult=0x80004003
  Message=Value cannot be null.
Parameter name: format
  Source=mscorlib
  StackTrace:
   at System.String.FormatHelper(IFormatProvider provider, String format, ParamsArray args)
   at System.String.Format(IFormatProvider provider, String format, Object arg0)
   at SampleAuthenticationApp.Startup..ctor() i

[2018-06-14 23:50] BryanTrach-MSFT commented on #10223
@bmilbauer Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-14 23:50] ctolkien commented on #10199
In hindsight, this probably isn't really a docs issue - it's an issue with my MFA account, but there is no real recourse to fix MFA account issues.

[2018-06-14 23:50] BryanTrach-MSFT commented on #10212
@jeffwmiles Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-14 23:58] #10201 closed

[2018-06-14 23:59] MohitGargMSFT commented on #10201
@cvs79 The change in the document is done and will be live soon.

[2018-06-15 00:00] artisticcheese opened #10240 "Please add documentation how to deploy using powershell"
As subject states please add documentation how to deploy via Powershell and `ApplicationManifest.xml` and `servicemanifest.xml`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 922b9c51-6a6d-1118-d2a2-6d485b222ce8
* Version Independent ID: 6874cc89-a1f8-addd-430f-a4d6b7f89ae8
* Content: [Create an Azure Service Fabric Wi

[2018-06-15 00:04] MohitGargMSFT commented on #10210
@rsrinivasanhome Please note that WebAPI A is required to send the access token A to Azure AD Token endpoint when requesting token for WebAPI B. The Token A needs to go in assertion. Also in case where JWT Token signed with certificate is used as credential (rather than client secret), that is passed in client assertion.

On your query regarding third party token as input for on-behalf flow, as pe

[2018-06-15 00:06] Dunwally commented on #10109
Yes, I changed some characters before I put it out here... Plus I reset as you suggested and it works.
Thanks a million times.

[2018-06-15 00:09] TravisCragg-MSFT commented on #10227
@codyrat Standard Load Balancers are not currently available in Azure Government, but [we are bringing the feature to Azure Govt in the future](https://feedback.azure.com/forums/558487-azure-government/suggestions/33417523-azure-load-balancer-standard-in-azure-government). I recommend adding your input to the request to let them know you would like it added.

We will now proceed to close this thre

[2018-06-15 00:09] #10227 closed

[2018-06-15 00:09] jboren commented on #10161
Hi, Thanks for the response, that's helpful.  Does this mean it only supports github?  How about bitbucket, VSTS, etc?  How about privately hosted git repos?
Thanks!

[2018-06-15 00:16] MohitGargMSFT commented on #9771
@CelesteDG Sure, thanks for the update. We will moved ahead and close this document feedback request for now. Please refer this GitHub issue ID(#9771) in VSTS ID in your backlog. As you implement and close VSTS ID, please update this GitHub issue. The notification will go to required people as you put new comment on the issue.

[2018-06-15 00:16] #9771 closed

[2018-06-15 00:17] #10177 closed

[2018-06-15 00:24] branstraub opened #10242 "AAD B2C OpenID Yahoo"
I'm currently trying to use AAD B2C OpenID Auth with Yahoo, we set up the Client Id and Secret and the url of yahoo OAuth: https://api.login.yahoo.com/.well-known/openid-configuration

But we are facing an error on the Azure portal:

Identity Provider Save Error
3:25 PM
Cannot save Identity Provider: The key type 'EC' from the JSON web keys endpoint 'https://api.login.yahoo.com/openid/v1/certs' is

[2018-06-15 00:26] branstraub opened #10243 "AAD B2C OpenID Yahoo"
I'm currently trying to use AAD B2C OpenID Auth with Yahoo, we set up the Client Id and Secret and the url of yahoo OAuth: https://api.login.yahoo.com/.well-known/openid-configuration

But we are facing an error on the Azure portal:

Identity Provider Save Error
3:25 PM
Cannot save Identity Provider: The key type 'EC' from the JSON web keys endpoint 'https://api.login.yahoo.com/openid/v1/certs' is

[2018-06-15 00:29] Mike-Ubezzi-MSFT commented on #10234
@schenmsft But I don't think it is the exact use case you are seeking, as there is only one consumer per partition key. You are looking for multiple consumers per partition key. I suggest you make a recommendation to the [Azure Cosmos DB User Voice](https://feedback.azure.com/forums/263030-azure-cosmos-db).

[2018-06-15 01:08] raymak23 commented on #10243
I am getting the same error. Looking forward to find solution to this issue.

Cannot save Identity Provider: The key type 'EC' from the JSON web keys endpoint 'https://api.login.yahoo.com/openid/v1/certs' is not a supported key type.

[2018-06-15 01:16] girishkumarbk commented on #8984
I have created the SR ticket# ‘118061518391435’

Thanks,
Girish B K

From: António Sérgio Azevedo <notifications@github.com>
Reply-To: MicrosoftDocs/azure-docs <reply@reply.github.com>
Date: Thursday, June 14, 2018 at 3:56 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Girish Kumar BK <GirishKumar.BK@netapp.com>, Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs

[2018-06-15 01:30] MicahMcKittrick-MSFT commented on #10240
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-15 01:31] pemj commented on #10231
I'm trying to implement a connector as defined in the icm docs, in order to flow alerts from Azure Monitor into icm. To do that, I'd like to trigger an azure function and pass the alert details into it, but unlike with runbooks, email, or any of the other scenarios, there aren't any details about how to parse the alert details (various metric dimensions from the underlying OMS logs, cpu usage, dat

[2018-06-15 04:46] p2netdev opened #10244 "Screenshot and description in step #4 is not correct"
Step 4 contains incorrect screenshot and description. If you go to QnA Maker portal the option you need to choose is called "Create a knowledge base". The screenshot shows also an outdated navigation. Navigation options are "My knowledge bases" and "Create a knowledge base" instead of "My Services" and "Create a new service".

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-06-15 04:58] tony-gutierrez opened #10245 "How do you set up an alert on the number of active messages in a subscription?"
The ui will only let me do an alert on total messages in a topic, which is useless.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 234dca79-9576-7bfb-644a-ef486c9ca2f6
* Version Independent ID: a4d50a1a-4978-1506-77b9-efd12d6ea784
* Content: [Azure Service Bus metrics in Azure Monitor (preview)](https://docs.microsoft.

[2018-06-15 05:02] geglne commented on #8840
What RBAC role is required to sufice, "When a user requests access to a VM, Security Center checks that the user has Role-Based Access Control (RBAC) permissions that provide write access for the VM. If they have write permissions, the request is approved..."?

[2018-06-15 05:13] SaurabhSharma-MSFT commented on #9925
@FredMurphy We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-15 05:14] SaurabhSharma-MSFT commented on #9400
@noamles We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-15 05:14] #9400 closed

[2018-06-15 05:30] jeeshnair commented on #6500
@MicahMcKittrick-MSFT , route addition works. However using AzureServiceProviderClass out of the box does not work from container and fails with below exception. I am also curious to know the local dev box story.

"Parameters: Connectionstring: [No connection string specified], Resource: https://vault.azure.net, Authority: https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47. Exception M

[2018-06-15 05:33] jeeshnair commented on #6500
I think the Azureserviceprovider requires some environment variables to be set which gets provisioned in VM and not on container.

[2018-06-15 06:07] smoms commented on #10211
@Mike-Ubezzi-MSFT thanks. I was wondering if there was a metric to isolate reads from writes metrics. As you suggest i will use User Voice.

[2018-06-15 06:14] smoms commented on #10193
@parakhj to make sure i understand your comment, you are saying that App1 can be instatiated in TenantY but cannot be used by users in TenantY to log into the App1?
Also, is it a typo when you say : _This is different than using the Azure AD service being used in the B2C tenant_? You mean B2B?
thanks, i will post on stackoverflow in the future.

[2018-06-15 06:49] valland opened #10248 "Any limitations on how many permission allowed for a given cosmos db user"
Would it  be possible AND make sense to create, say 10 million permissions on a single cosmos db user, given that you have 10 million unique sharding keys representing 10 million unique end users and would like individual resource tokens for each end user?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6278ead7-854a-a2

[2018-06-15 07:00] sauercrowd opened #10250 "Typo at "Can't delete Experimentation Account""
worksapce instead of workspace
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41a92058-0bf5-37c9-763e-ffe6ad248b62
* Version Independent ID: 2fb8c363-6635-e44f-6c49-ab2c196c2672
* Content: [Known Issues and Troubleshooting Guide](https://docs.microsoft.com/en-us/azure/machine-learning/service/known-issues-and-tr

[2018-06-15 07:04] dcbrown16 opened #10251 "Outdated links"
For more information, see Backup and restore considerations for virtualized domain controllers and Planning for Active Directory forest recovery.

The two links in this sentence go to documentation marked as no longer being updated (for WS 2003 and WS 2008). Is this still accurate?

The Backup configuration page states "Restoring a domain controller (DC) VM that is part of a multi-DC configuration

[2018-06-15 07:21] kunalaphadnis99 opened #10252 "ml module not pushed to device"
Hello,

I have a problem in machine learning module deployment. I have pushed the image to the registry successfully for my custom machine learning module. However, the machine learning module is not getting deployed on the device. The runtime has started and I can see edgeAgent and edgeHub. I have not yet deployed my simulator module, instead I have just deployed my ML module to see the simulated

[2018-06-15 07:28] elpe33 opened #10253 "NameIdentifier claim returns UPN if requiest contain NameIDPolicy with format emailAddress"
I am trying to set up AAD as a SAML IdP for an application that includes a NameIDPolicy in the SAML request. The policy states Format set to urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress. In this case AAD always returns userPrincipalName (or email) in the NameID attribute. This happens even if I customise the NameIdentifier with the Join() method and that way create a NameID that is valid

[2018-06-15 07:35] carloreggiani commented on #10192
Hi

I'm connecting to the cluser, find one failed deployment related to nginx ingress controller: could be a VNet related error?

![immagine](https://user-images.githubusercontent.com/1014429/41455980-6693cf2a-707f-11e8-920e-f4375d4dc962.png)

[2018-06-15 08:06] superminiek opened #10254 "Azure Storage protection"
Any option for Azure Storage (blobs)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a459008-a196-339c-6625-c78b17ccd267
* Version Independent ID: 9d40b143-8dbf-310d-d6a5-6bf245cea085
* Content: [Manage endpoint protection issues with Azure Security Center](https://docs.microsoft.com/en-us/azure/security-center/securi

[2018-06-15 08:08] superminiek commented on #10198
Thank you, my point is related only to Linux and fstab configuration and it is a tip for other users, it would be nice to add this tip in section about fstab configuration.

[2018-06-15 08:10] salvatore-garrubba commented on #10087
@MohitGargMSFT My use case is different from the Client Credential flow you suggested, it's a trusted first party clients on web and native device applications.

I was able to find the correct call, but I would like to have a confirmation because I found a wrong information in the documentation.

As described in the official ROPC documentation [here](https://docs.microsoft.com/en-us/azure/active-d

[2018-06-15 08:30] JensPeterC opened #10255 "What about upgrade domains?"
When reading the documentation and comparing to the functionality of Availability sets, it's clear that Availabilty zones are similar or better than the Fault domains in Availability sets. But there is no no mention of Upgrade domains. Can you confirm that Availability zones will be in different Upgrade Domains?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2018-06-15 08:35] somefella123 commented on #10107
Hi @MicahMcKittrick-MSFT - so for more context, I'm looking at the Alerting system for the first time in detail (as you'll tell from my 3 or 4 comments I've added!).

Fundamentally we want to configure all the different types of new Alert (Metric, Log, Activity Log) and receive webhook notifications via an Action Group if any of these fire.

The problem I've had is that while there's loads of grea

[2018-06-15 08:35] buzzfrog opened #10256 "Configuration of Advanced Networking is inconsistent"
In the beginning of the article it says:
"Advanced networking is currently available only when deploying AKS clusters in the Azure portal or with a Resource Manager template."
But later i the in the article we have an example of doing it with the CLI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22ad4873-c73d-4b90-20

[2018-06-15 08:42] somefella123 commented on #10111
Ahhh @msvijayn this REALLY helps with my understanding. Per the latest comment I left at https://github.com/MicrosoftDocs/azure-docs/issues/10107#issuecomment-396757520, I've found it really hard to get an overview of the WebHook schemas and how they apply.

A simple table summary page would be really helpful, providing a link for each Alert Type to the documentation for the actual webhook payload

[2018-06-15 08:45] darylhurst commented on #10216
Hi, the issue is mentioned here https://github.com/Azure/AKS/issues/357, there is a workaround which I can perform manually through the Azure portal but I was simply wondering if there is a way of scripting the following:

- In the Azure portal, go to Virtual Networks and select the VN (not the generated aks-vnet-xxx VN).
- Go to Subnets and select the subnet you choose in the advanced network opt

[2018-06-15 08:46] sergaz-msft commented on #10109
You are very welcome @Dunwally . We are glad that we were able to help you go through the tutorial successfully 👍 !

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-06-15 08:46] #10109 closed

[2018-06-15 08:51] PinakiIT commented on #5931
Similar issue for me - in June 15-2018. The function has no output when run locally. Does not even come to initial debug point. Tried all JDK flavors, but the same issue. Any help please?

[2018-06-15 09:05] dominicbetts commented on #10183
Hi @VitorX - looks like everything is working again now. Thanks for your patience.

[2018-06-15 09:06] dominicbetts commented on #10183
#please-close

[2018-06-15 09:08] dominicbetts commented on #9125
Hi @cezane - I'm going to close this issue now. Please let us know if you have any further questions or if you think this issue should be reopened. Thanks again for your interest in IoT Hub.

[2018-06-15 09:08] dominicbetts commented on #9125
#please-close

[2018-06-15 09:09] dominicbetts commented on #9367
Hi @fosk06 - I'm going to close this issue now. Please let us know if you have any further questions or if you think this issue should be reopened. Thanks!

[2018-06-15 09:09] dominicbetts commented on #9367
#please-close

[2018-06-15 09:11] dominicbetts commented on #10061
Hi @MichaelXlj - it looks like the article has now been updated. I'm going to go ahead and close this issue now. Thanks!

[2018-06-15 09:11] dominicbetts commented on #10061
#please-close

[2018-06-15 09:55] win2000b opened #10258 "Does not initiate full sync"
I have run the commands above

$adConnector = "&lt;CASE SENSITIVE AD CONNECTOR NAME&gt;"
$azureadConnector = "&lt;CASE SENSITIVE AZURE AD CONNECTOR NAME&gt;"
Import-Module adsync
$c = Get-ADSyncConnector -Name $adConnector
$p = New-Object Microsoft.IdentityManagement.PowerShell.ObjectModel.ConfigurationParameter "Microsoft.Synchronize.ForceFullPasswordSync", String, ConnectorGlobal, $null, $null,

[2018-06-15 09:58] sovanny commented on #10215
@Mike-Ubezzi-MSFT I had made the mistake of trying to install on an incompatible device, I'm sorry my bad.
However I am now trying to install on a x64-based device ( an Intel NUC NUC6CAYH to be precise) , and have the 16299 image (APL BSP) installed, and I got to the next step. `start-service docker` seemingly runs fine, but on a closer inspection the service is not started. I run the `start-servi

[2018-06-15 10:15] FredMurphy commented on #9925
The problem account and the account that works were both created using the Graph API, which is the "correct" way according to the FAQ linked to by Wayne Yang MSFT in the Stack overflow article.

I would reopen this issue if I could. Could you reopen it please? I don't feel it has been resolved. Giving me 12 hours to respond when this is overnight in the UK was a bit too quick for me.

[2018-06-15 10:21] carloreggiani commented on #10192
Situation: no more errors from deployments, but no external access for nginx-ingress service: remain in "pending" state (12h!)

[code]

Another question: IP for kubernetes API is not in my VNet/Subnet so I'm not able to access via _az cli/kubectl_ to the cluster, but only by public ip (need to disable corporate proxy!).

Is it normal?

Carlo

[2018-06-15 10:38] vaibhavssalvi commented on #9490
Me too not able to follow bower configuration, is there an alternate i want to create the azure service, but stuck.

[2018-06-15 10:49] jimeilong commented on #9791
Hello @sergaz-msft thanks!
report another issue

this 4 step looks missing the **--resource-group**

-------------------------------------------------------------
could you please tell me the environment variable is require or not(how to find this kind of value?)?

[2018-06-15 10:54] sergaz-msft commented on #10068
Hello @smharishbabu , thank you for your feedback. That is a normal behavior. For desired properties to persist on any new deployment, you will need to leverage [Deployments](https://docs.microsoft.com/en-us/azure/iot-edge/module-deployment-monitoring).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly conti

[2018-06-15 10:54] #10068 closed

[2018-06-15 11:01] Andreva976 opened #10259 "The integration runtime under data factory does not exist."
"errorCode": "2200",
    "message": "The integration runtime 'NewVMgateway' under data factory 'neptune-techop' does not exist. ",
    "failureType": "UserError",
    "target": "POAccrualFromOnPremisestoDL"

The integration Runtime exists ad is running.
I tried to create a new one, but the issue persists.

Tanks

[2018-06-15 11:11] Anmolgan81 commented on #8390
Hi

I just have 1 question, suppose that the binding of the app service certificate is present inside of the web app then that also needs to be removed in order to move?? or we can move the app service with that binding??

Or if we delete the binding does that also deletes the app service certificate???

Please clarify on this.

Regards,
[1512717838432_download.png]

Anmol Ganju | IFI Techsolution

[2018-06-15 11:24] dominicbetts commented on #9791
Hi @jimeilong @sergaz-msft - I just stepped through the tutorial without encountering any of the errors you've seen.

Step 4 isn't missing **--resource-group**. The previous step 2 sets the resource group for all the subsequent commands.

I didn't need to use **sudo** when I ran **docker ps** in the virtual machine.

You don't need to set any additional properties in the Visual Studio solutions an

[2018-06-15 11:30] olegoga opened #10260 "charset="utf-8" is required on the <script src="scripts/azure-storage.blob.js"/> tag"
Page: https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-javascript-client-libraries

When using this library locally with IIS Express, and following the documentation, the following error occurs in Chrome:

Uncaught SyntaxError: Invalid regular expression: /^[Î‘-Ï‰]+$/: Range out of order in character class
    at Object.241 (azure-storage.blob.js:50818)
    at o (azure

[2018-06-15 11:35] aloncatz opened #10261 "charset="utf-8" is required on the <script src="scripts/azure-storage.blob.js"/> tag"
When using this library locally with IIS Express, and following the documentation, the following error occurs in Chrome:

Uncaught SyntaxError: Invalid regular expression: /^[Î‘-Ï‰]+$/: Range out of order in character class
at Object.241 (azure-storage.blob.js:50818)
at o (azure-storage.blob.js:4)
at azure-storage.blob.js:4
at Object.247../alpha (azure-storage.blob.js:51022)
at o (azure-storage.bl

[2018-06-15 11:35] #10260 closed

[2018-06-15 11:43] TomShinder opened #10262 "Does this support ExpressRoute?"
Does this support ExpressRoute? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc20a64a-096f-7e72-1fb5-436e3366fbd5
* Version Independent ID: d1ba1c1b-5d36-71eb-5442-cf17de18a13b
* Content: [Azure Virtual Network peering](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-peering-overview)
*

[2018-06-15 12:23] SimonLuckenuik opened #10263 "Document limitations and timing (amount of rules, when are actions executed)"
A) Is there any limitation for the amount of rules that can be created inside an account?
For example, if I want to create very granular rules (lifetime managed by per user configuration), for specific folders , like:
Rule 1) prefixMatch: "/Customers/E2FBE47FCEEA499A82FB939B0FEB7691/" - delete after 5 days
Rule 2) prefixMatch: "/Customers/5CDF20E7251B43F5A43AD6A5E1D93990/" - delete after 1 day
...

[2018-06-15 12:44] vxd-dev opened #10264 "OMS Content-Encoding: gzip"
Could you please advise if it is possible to use Content-Encoding: gzip header to send data to OMS? This point in missing in development guide and it looks the header is not working, since I get the 403 InvalidAuthorizationHeader error in the response.

[2018-06-15 12:45] robymes commented on #9010
Thanks, resolved: port 9093 closed on company firewall :-)

[2018-06-15 13:06] spottedmahn opened #10265 "Microsoft Identity Conference Videos"
I just learned of a great set of [videos on YouTube from the MSFT Identity Conference](https://www.youtube.com/channel/UCP2Px7fpUsYBbzROwK7w3tw)!

Can we get some link(s) to them in the documentation?

cc: @parakhj

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 245ef8a4-a811-19b7-676c-aa9b82e2126f
* Version Independent

[2018-06-15 13:09] spottedmahn opened #10266 "Add Link to Identity Conference Session"
I think we should a link to this video: [Using the Graph API](https://www.youtube.com/watch?v=-V-eWGGY9fE) to this page.

Tthoughts? 💭

I'm happy to put PR in 😊

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a4b8453-d2bc-9c8d-bb16-26fa7e4c6363
* Version Independent ID: 160642fc-b5a9-1ebe-7daf-105509b6e2f4
* Content: [

[2018-06-15 13:22] juanjosemino commented on #10175
Thanks Adam for the quick response!
In fact, we are using the snapshots as a backup solution due 'Azure Backup' currently does not support File Shares if the storage account has a configured Virtual Network subnet. That's why we were looking for a way to track the snapshots being created/removed.

[2018-06-15 13:23] trevor-schmidt commented on #10165
we already have setup the app gateways to send to log analytics for firewalls and access and some metrics. But, yes we would be looking for a way to get the amount of data per resource.

[2018-06-15 14:17] mmacy commented on #10256
@buzzfrog Good catch! CLI support was recently added, and we missed updating that sentence. Stand by for update.

[2018-06-15 14:22] pomtom opened #10267 "Unable to install Service Fabric sdk in Windows 10 VS2017"
I am trying to to install MicrosoftAzure-ServiceFabric-CoreSDK.exe in my windows 10 machine.
Microsoft Visual Studio Community 2017
Version 15.7.3
VisualStudio.15.Release/15.7.3+27703.2026
Microsoft .NET Framework
Version 4.7.03056
Installed Version: Community

I have uninstall 2017 and reinstall but still the same problem. Please help me on this issue.

I got below error which i enclosed right un

[2018-06-15 14:35] c-arnab commented on #10195
![arm](https://user-images.githubusercontent.com/5187463/41473487-0cebecfc-70d7-11e8-9cc4-b11234a20bf5.jpg)
@Mike-Ubezzi-MSFT Sorry for not being clear.. In the source code of WTP Application Project Files.sln , you would find the ARMDeployment linked. Its Template folder contains json files -contosoconcerthall.json, dogwooddojo.json, fabrikamjazzclub.json, wingtiptickets.json. But the project nee

[2018-06-15 14:40] barclayn commented on #9000
@leopignataro Thank you for bringing this to our attention. I have updated the article. You should see changes later today.

[2018-06-15 14:43] barclayn commented on #9000
#please-close

[2018-06-15 14:48] Mike-Ubezzi-MSFT commented on #10061
@MichaelXlj We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-15 14:48] #10061 closed

[2018-06-15 14:50] BharatNarasimman commented on #10235
' mode: host for publishing a host port on each node, or ingress for a swarm mode port to be load balanced.'

Service fabric publishes(and reserves) the host port to our discovery service only for the nodes where your service replicas run. So the 'mode' argument is not useful when publishing this to service fabric.

[2018-06-15 15:00] VitorPires opened #10268 "About standard HDD to cold storage"
Hi,
If I add standard HDD s2d will work good in azure environment? Choosing most accessed data to put in SSD and historical in HDD? I need confirm this because when I look what type disk I have in cluster, all disks are listed with HDD. I have premium disk and HDD together.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2018-06-15 15:05] kobulloc-MSFT commented on #9938
We've corrected this on the English site and the correction here should go live soon.  The issue is that two valid links were combined into one URL:

https://blogs.msdn.microsoft.com/apimanagement/2018/03/28/release-notes-march-28-2018/

and

https://blogs.msdn.microsoft.com/apimanagement/2018/04/11/important-changes-to-openapi-import-and-export/

[2018-06-15 15:17] nvick opened #10271 "Firewall Rules are overly permissive"
IMO, the quickstart guide should not show people how to open the postgres server up to the entire internet. I believe showing people how to open it up to a VPC and/or their IP would be safe and more useful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d9b9e4b-b3cc-6913-871e-0728702a6363
* Version Independent ID: 7c3

[2018-06-15 15:23] nextorr opened #10272 "Deactivating cloud appliance does not delete associated VHDs"
After i deactivated a 8020 virtual appliance i noticed that i was still beign charged for the associated premium storage. on further inspection the VHDs associated with the device still exist on the blob container, it just made then available on the lease state.  if this is intended the documentation is wrong as it states that after device deactivation: "The OS disk and data disks created for the

[2018-06-15 15:33] kobulloc-MSFT commented on #10236
@SidShetye Thank you for reaching out to us about the discrepancy between the docs and your experience.  I've assigned this to the document author so they can update this accordingly.

[2018-06-15 15:34] eross-msft commented on #10209
@JeremyTBradshaw Thank you for contacting us with this! Can you provide a bit more clarification around your suggestion? I'm not clear on what place you mean or which instructions are the better way.

[2018-06-15 15:35] cwienands opened #10273 "Quickstart example does not work"
I tried out this quickstart example. After the successful login with a social identity provider, the pop-up window closes. However, the main page running on localhost still displays the "Login" button and does not indicate that I am logged in. Therefore, I also cannot try out the protected API call. I am using a Chrome browser that was recently updated.

---
#### Document Details

⚠ *Do not edit t

[2018-06-15 15:42] artisticcheese opened #10274 "Can not locate `Hosting` element in cluster manifest"
Per instructions (https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-containers#configure-the-runtime-to-remove-unused-container-images) you shall be able to add additional parameters for how containers are used in SF by modifying `Hosting section in the cluster manifest`. I don't see this section in cluster manifest at all.

---
#### Document Details

⚠ *Do not edit

[2018-06-15 15:56] CKeene78 commented on #9508
Struggled, but think I got the "Orchestration Client (Initial trigger) -> Orchestration Trigger (Controlling Function) -> Activity Triggers (Actual work functions)" workflow. So you need all 3, but in a slightly different order than presented here.

The "Functions" terminology in this article is still confusing: no clear reference to "Functions App" (the collection to durable functions) versus "Wo

[2018-06-15 15:58] anamdesibab commented on #9084
Do we have any update, I did try to follow above mention steps to run the functions local still getting the error :
Function host is not running.
Application is shutting down...
and when deploy to cloud, not able to call the function and getting  I get a timeout.

[2018-06-15 16:03] MicahMcKittrick-MSFT commented on #9508
Thanks for the update @CKeene78.

@cgillum can you please take a look?

[2018-06-15 16:08] tutul2010 opened #10275 "Want to use "Location and market-aware results - Results are customized to the location or market of the user."
Hi Team,
We are trying to use "Bing Web search API"(requested on azure portal) with Bot framework(chat bot type app).

We are able to search the hospitals related information by using "Bing Web search API"(requested on azure portal) with chat bot app, But searching results are not proper or right.
Can any one one have an idea to call "Bing Web search API" with botFramework(C#.net) for specific ent

[2018-06-15 16:09] MicahMcKittrick-MSFT commented on #10198
@superminiek I will assign this to the author to review and see if we should add more information to the doc.

@RicksterCDN can you take a look?

[2018-06-15 16:11] MicahMcKittrick-MSFT commented on #10268
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-15 16:12] MicahMcKittrick-MSFT commented on #10255
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-15 16:12] Mike-Ubezzi-MSFT commented on #10248
@valland Thank you for your inquiry. We are actively investigating and will get back to you soon.

[2018-06-15 16:13] SaurabhSharma-MSFT commented on #9925
@FredMurphy Sure, however, I suggest you open an Azure support ticket so that an Identity engineer could further check on it. Please let me know if you do not have support package, and I will help enable a one time free support ticket for you.

[2018-06-15 16:13] Mike-Ubezzi-MSFT commented on #10271
@nvick Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-15 16:15] MicahMcKittrick-MSFT commented on #10267
Thanks for reaching out. For issues related to the SDKs we suggest opening an issue directly to the Service Fabric Team on their Github repo:

https://github.com/Microsoft/service-fabric/issues

You can link this issue to the new one once complete.

[2018-06-15 16:15] #10267 closed

[2018-06-15 16:18] Powerhelmsman opened #10276 "More resources for the azure-docs repo"
This issue was created by @nschonni from https://github.com/MicrosoftDocs/feedback/issues/440
Is your feature request related to a problem? Please describe.
This is probably the largest set of docs, and currently has more than 200 open PRs, can more resources be aligned to triage that repo?
Describe the solution you'd like
Maybe some dedicated resources to grooming and landing simple PRs
Describe

[2018-06-15 16:21] MicahMcKittrick-MSFT commented on #10017
@kamilzelazny any update?

[2018-06-15 16:22] tusharchandwani opened #10277 "Dead Link"
At Step 9. :
    this Azure Resource Manager template &lt;https://github.com/Azure/azure-quickstart-templates/tree/master/201-vm-specialized-vhd&gt;
redirects to a "404 Page not found".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa9efbc0-4051-e112-3db7-302091ffc0bd
* Version Independent ID: c2ef8b57-d581-59c8-d56b-

[2018-06-15 16:32] carpenike opened #10278 "Documentation title reflects Linux but includes Windows deployment components"
Documentation indicates this is to deploy Linux VMs in Azure but the content inside of the document has IIS being installed via PowerShell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3757d33c-7b1e-c2ac-fdd7-d549832f1122
* Version Independent ID: 095e05e5-5d12-9914-0fe8-8e801779a666
* Content: [Quickstart - Create a

[2018-06-15 16:35] MrRoyce commented on #9959
I havn't tried it yet.  Do you have time for a skype call?

On Fri, Jun 15, 2018 at 12:26 PM, António Sérgio Azevedo <
notifications@github.com> wrote:

[2018-06-15 16:40] sergaz-msft commented on #10059
Hello @smharishbabu , the `function.json` file that was created after the command `dotnet new aziotedgefunction -n FilterFunction -r <your container registry address>/filterfunction` is where you can find that parameter.

![image](https://user-images.githubusercontent.com/22173500/41479394-e66d622c-70c2-11e8-9958-24dee8978157.png)

We will now proceed to close this thread. If there are further que

[2018-06-15 16:40] #10059 closed

[2018-06-15 16:42] EM1L opened #10279 "Security section configuration"
Going through the Create secure cluster setup and just noticed there is no mention about the ClientCertificateThumbprints ?

I suppose they have to be different as `.\CreateServiceFabricCluster.ps1` script fails with message:
`Config validation: Client Certificate Thumbprint contains invalid characters`
even if I enter the server cert thumbprint...

---
#### Document Details

⚠ *Do not edit this s

[2018-06-15 16:43] PatAltimore commented on #10080
@jerryhorak Thanks for catching this. The mobile apps weren't ready in time for the initial release. So, the documentation is a little out of sync at the moment. The apps will be available very soon and should be posted in the samples repo. https://github.com/Azure-Samples/blockchain/tree/master/blockchain-workbench

Pat

#in-progress

[2018-06-15 16:43] JonShelley opened #10280 "azcopy on rhel 7"
To install on RHEL 7 I used the had to install the following packages to address these errors when using the all other unix distributions. It would be nice if you could update the docs to include rhel 7 since rhel 6 is nearing the end

yum install -y libunwind iuc
* error: libunwind.so.8: cannot open shared object file: No such file or directory
* Couldn't find a valid ICU package installed on the

[2018-06-15 16:46] gesandovalr opened #10281 "Computer Variable Name"
how do you define the server name in the json payload form?

I'm doing a test with slack and Webhook and I can't  display the server name of the affected system is this even possible? or there is parameter for bringing the server name.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f3dcac5-1b3c-aa49-e830-ca02

[2018-06-15 16:47] tusharchandwani commented on #10277
The correct link should be :
https://github.com/Azure/azure-quickstart-templates/tree/master/201-vm-specialized-vhd-new-or-existing-vnet

[2018-06-15 16:49] JeremyTBradshaw commented on #10209
Steps 1,2, and 3 are the same as going to https://aka.ms/MFASetup.  Those steps in the article are:

1. Sign in to https://myapps.microsoft.com
2. Select your account name in the top right, then select profile.
3. Select Additional security verification.

You end up at https://account.activedirectory.windowsazure.com/proofup.aspx?proofup=1 after step 3.

If you instead just go directly to https://

[2018-06-15 16:53] Mike-Ubezzi-MSFT commented on #10195
@c-arnab Understood. I can see that the following .json files are not part of the complete solution:

wtapp..json
wtapp.parameters.json
wtapp-vnext.json

![screenshot 71](https://user-images.githubusercontent.com/37126106/41479892-8edfed90-7081-11e8-8fbc-8468d61f8c03.png)

**The others are present**
![screenshot 72](https://user-images.githubusercontent.com/37126106/41480011-dc74ab90-7081-11e8-9cc

[2018-06-15 16:56] eross-msft commented on #10209
@JeremyTBradshaw Ah, okay, so just replace the first 3 steps with going directly to the aka.ms link. Nice!
Question for you. I can go in and fix the topic, no problem. But do you want to make the change so you get credit for it? Totally up to you, I just want to make sure you get the credit if you want it.

[2018-06-15 16:57] MicahMcKittrick-MSFT commented on #10121
Got it. I believe you should be able to list all the associated thumbprints seperated by commas:

[code]

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-windows-cluster-x509-security

[2018-06-15 16:58] MicahMcKittrick-MSFT commented on #10144
Thanks @tfitzmac! if this is in fact the case then I think we should make sure to include that information in the doc itself.

[2018-06-15 16:59] MicahMcKittrick-MSFT commented on #10149
Got it thanks!

@singhkays can you look into this one and determine if the doc is still good? Or if you get the same errors we are seeing?

[2018-06-15 17:02] MicahMcKittrick-MSFT commented on #10149
@jpconnock assigning to you as I am unable to assign it to the content author.

[2018-06-15 17:03] kishore1702 commented on #10196
Thanks for the response. Still waiting for document to get updated.

With regards,
Kishore Chowdary,
C-Sharp Corner MVP,
Lead Training Associate,
CodeSizzler.
+91 9159428433

*** AVOID PLASTIC AND PLANT TREES ***

________________________________
From: Bryan Trach <notifications@github.com>
Sent: Thursday, June 14, 2018 11:49:17 PM
To: MicrosoftDocs/azure-docs
Cc: kishore1702; Mention
Subject: Re:

[2018-06-15 17:03] patrick-steele opened #10282 "No mention of SERVERPROPERTY('MachineName')"
In a SQL Managed Instance, `select SERVERPROPERTY('MachineName')` is returning `NULL`.  Is that the expected behavior for a SQL Managed Instance?  Or is it a limitation of the public preview?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b8c7fe7-9597-6ea8-54d3-b85f3cc7b1d3
* Version Independent ID: 29b59670-62c1-7309

[2018-06-15 17:04] MicahMcKittrick-MSFT commented on #10161
@jboren specifically related to container instances you mean?

[2018-06-15 17:09] sergaz-msft commented on #10023
Hello @langemol unfortunetely Microsoft.ServiceBus.dll latest version is [only available for .Net Framework 4.5.2 Full Profile](https://www.nuget.org/packages/WindowsAzure.ServiceBus/4.2.2-preview). The links on this doc for both [PairNamespaceAsync](https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.messaging.messagingfactory#Microsoft_ServiceBus_Messaging_MessagingFactory_PairNames

[2018-06-15 17:09] #10023 closed

[2018-06-15 17:17] msebolt commented on #10205
@dominicbetts Hi Dominic, I think this issue is for one of your articles.

[2018-06-15 17:19] cynthn commented on #10278
@carpenike Yikes! Thank you for catching that, I've filed a PR to update the title. If you were looking for the Linux version of this topic, it is here: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/quick-create-powershell

#please-close

[2018-06-15 17:20] MicahMcKittrick-MSFT commented on #10062
Thanks for that.

Can you open the voting app and do an F12 and check the network portion. Then try to add a voting parameter.

I found the following issue open on the sample: https://github.com/Azure-Samples/service-fabric-dotnet-quickstart/issues/7

I would be curious to see if you are seeing the same error.

[2018-06-15 17:21] MicahMcKittrick-MSFT commented on #10192
@mmacy or @neilpeterson would either of you be able to chime in on this one?

[2018-06-15 17:22] timwieman opened #10283 "Need to set Routes when deploying"
If you don't set a Route when deploying (step 9 of deployment says to just hit "Next"), then the output data from tempSensor will not make it to IoT Hub. You need to add a Route like:
“sensorToHub”: “FROM /messages/modules/tempSensor/outputs/temperatureOutput INTO $upstream”

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2018-06-15 17:24] jungho opened #10284 "List of public internet endpoints required by AKS"
Hello, in many organizations (e.g. major banks, government), it will be an issue to require the VNET to have outbound internet connectivity.  I fully understand this is to deploy and upgrade the Kubernetes cluster.  In order to enable this, security groups will need to understand what public endpoints need to be accessed.  Would it be possible to provide a list of public endpoints so at least they

[2018-06-15 17:28] MicahMcKittrick-MSFT commented on #10231
Thanks for clarifying that. I can have the doc author review to see if we need to add functions into this doc. As per troubleshooting your specific error I might suggest reaching out to the Functions DL to see if the Functions team can assist further with that. Feel free to ping me offline for that DL information.

@dkamstra can you take a look into this and see if we are missing Functions under t

[2018-06-15 17:32] rolyon commented on #9337
Hi @CraigB7708, Let us know if you have any additional feedback.
thanks
#please-close

[2018-06-15 17:33] JimFoster commented on #10237
The issue is in the IncrementalCopyPipeline.json file, line 57 and 58.  But I don't know how to resolve it.

                                "SqlWriterTableType": "@{item().TableType}",
                                "SqlWriterStoredProcedureName": "@{item().StoredProcedureNameForMergeOperation}"

If these are removed, the error goes away - but these are critical functionality.  As soon as EITHER

[2018-06-15 17:34] MicahMcKittrick-MSFT commented on #10268
@VitorPires you are correct. For data that is not going to be access very often such as cold storage we would recommended you use HDD over SSD. This will save you money and in most cases you will not need the disk performance of SSD when you are just storing data and not accessing it often.

[2018-06-15 17:34] MicahMcKittrick-MSFT commented on #10274
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-15 17:35] MicahMcKittrick-MSFT commented on #10277
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-15 17:36] #10278 closed

[2018-06-15 17:36] MicahMcKittrick-MSFT commented on #10279
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-15 17:37] JeremyTBradshaw commented on #10209
No no, it's all yours!  But thanks for the offer.  It's all Microsoft's creation, I'm just consuming it.  While I'm working through learning/testing/implementing, I find myself regularly either asking questions or making suggestions in here with the Github/Docs.  I'm happy to have this capability and that is good enough for me!

[2018-06-15 17:38] eross-msft commented on #10209
Sounds good, I'll make the change and get it published this afternoon. Thanks again :)

[2018-06-15 17:39] TravisCragg-MSFT commented on #9125
@cezane We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-06-15 17:39] #9125 closed

[2018-06-15 17:40] scholtes opened #10286 "Authorization token expires after 15 minutes"
The authorization token that the UI sends to the emulator expires after 15 minutes.  From a debugging and development perspective, it would be convenient if this was a longer interval by default (e.g., 24 hours) or if this was configurable on launch.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 109ed3f8-faf1-92b9-bf5

[2018-06-15 17:40] carpenike commented on #10278
@cynthn Thanks!

[2018-06-15 17:42] TravisCragg-MSFT commented on #10262
@TomShinder Virtual Network Peering is used to connect 2 Azure Virtual Networks in the same tenant together. An ExpressRoute can exist on the same gateway.

Can you please clarify your question?

[2018-06-15 17:45] alkohli commented on #10078
@MikeForster100 Sure, glad to hear that the device does not mask serial number! In case the device masks the serial number, be sure to do the following procedure to ensure that the rest of the process goes smoothly:
 In general, use any other 3rd party connector. However, make sureto verify the serial number in .jrn (journal) file matches with the one printed on your disk label.

<Drive>
  **<Driv

[2018-06-15 17:48] YutongTie-MSFT commented on #10275
@tutul2010 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-15 17:49] YutongTie-MSFT commented on #10250
@sauercrowd Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-15 17:51] MikeDodaro commented on #10275
Have you tried the responseFilter with Entity Search?
https://docs.microsoft.com/en-us/azure/cognitive-services/bing-entities-search/
https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-entities-api-v7-reference

[2018-06-15 17:51] YutongTie-MSFT commented on #10244
@p2netdev Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-15 18:08] Ayanmullick opened #10287 "VSC documentation"
Can this be done thru Visual Studio Code? If yes, please share documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08b0f414-c89e-fff2-2fb5-22c5e1d5cfac
* Version Independent ID: 0a51681e-54a9-65c1-8ddf-e24a5e807587
* Content: [Azure Quickstart - Run Batch job - .NET](https://docs.microsoft.com/en-us/azure/bat

[2018-06-15 18:09] eross-msft commented on #10209
@MohitGargMSFT Fixing this in PR #44023, so this issue can be closed.

[2018-06-15 18:13] tutul2010 commented on #10275
Hi MikeDodaro,
Thank you for help and guide.
I am looking the link that you shared.
Can you please share some code example in C#.net for botframework application.
Thanks, Anirban

[2018-06-15 18:13] Mike-Ubezzi-MSFT commented on #10215
@sovanny I am trying to track down a board so that I can reproduce this; assist you with this issue.

[2018-06-15 18:15] dasch88 opened #10288 "Bits or Bytes?"
In the Pricing and Billing section of this page, it makes reference to GB and TB, but in the tables it refers to GiB and TiB. Which is it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfaec879-f3e0-afba-fbe8-85e6e28937df
* Version Independent ID: b21d00cd-0323-26d0-34b4-f0a76ee8aaea
* Content: [Azure Premium and Stan

[2018-06-15 18:15] MikeDodaro commented on #10275
I don't have any experience with botframework.  I think the code in C# would be similar to other examples on the referenced pages.

[2018-06-15 18:18] wmgries commented on #9475
#please-close

[2018-06-15 18:28] BryanTrach-MSFT commented on #10242
@branstraub Can you please provide us with the Microsoft Doc URL that you are having issues with?

[2018-06-15 18:28] jason-j-MSFT commented on #10237
@JimFoster
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-15 18:28] MohitGargMSFT commented on #10238
@thesheebs Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-15 18:29] jason-j-MSFT commented on #10281
@gesandovalr
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-15 18:30] MohitGargMSFT commented on #10243
@branstraub Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-15 18:30] Adam-Smith-MSFT commented on #10072
@NayangiriGoswamiGit Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-15 18:31] MohitGargMSFT commented on #10253
@elpe33 Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-15 18:31] BryanTrach-MSFT commented on #10259
@Andreva976 Can you please provide us with the URL to the Microsoft Doc that you are having issues with? We look forward to your reply.

[2018-06-15 18:31] MohitGargMSFT commented on #10254
@superminiek Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-15 18:31] BryanTrach-MSFT commented on #10264
@vxd-dev Can you please provide us with the Microsoft Doc URL that you are having issues with? We look forward to your reply.

[2018-06-15 18:32] MohitGargMSFT commented on #10258
@win2000b Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-15 18:32] Adam-Smith-MSFT commented on #10223
@bmilbauer there are automation cmdlets support available, more documentation can be found here: https://docs.microsoft.com/en-us/azure/backup/backup-azure-vms-automation
Let me know if this helps.

Thanks,
Adam

[2018-06-15 18:33] bmilbauer commented on #10223
That’s perfect, thanks for the fast response.

[cid:sig_logo_f5171a6d-0aac-4537-8cf7-f3b2a514406a.png] <https://ivision.com/>
Bradley Milbauer
Senior Consultant | Consulting Services | Infrastructure Services
M: +1 (770) 862-5578<tel:+1%20(770)%20862-5578> | O: +1 (678) 244-3227<tel:+1%20(678)%20244-3227>
[cid:sig_facebook_4c7b99a3-311c-468d-9c74-683eb2595d6a.png] <https://facebook.com/iVisionATL>

[2018-06-15 18:34] MohitGargMSFT commented on #10265
@spottedmahn Thanks for the feedback! I have assigned the issue to the author to investigate and update as appropriate.

[2018-06-15 18:35] BryanTrach-MSFT commented on #10276
@nschonni Thank you for the feedback. Please note that Azure has a team dedicated to triaging Doc comments and we work closely with the content team. Please let us know if you have any further questions or concerns.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and tag me in your reply. We will gladly continue the discussion.

[2018-06-15 18:35] #10276 closed

[2018-06-15 18:35] MohitGargMSFT commented on #10266
@spottedmahn Thanks for the feedback! I have assigned the issue to the author to investigate and update as appropriate.

[2018-06-15 18:37] parakhj commented on #10193
There are two services that you can use to sign into an app. Azure AD and the other is Azure AD B2C. Multi-tenancy is supported for Azure AD, but not Azure AD B2C

[2018-06-15 18:37] BryanTrach-MSFT commented on #10245
@tony-gutierrez Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-15 18:39] MohitGargMSFT commented on #10273
@cwienands Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-15 18:40] BryanTrach-MSFT commented on #10252
@kunalaphadnis99 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-15 18:41] BryanTrach-MSFT commented on #10283
@timwieman Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-15 18:41] Adam-Smith-MSFT commented on #10223
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-15 18:41] #10223 closed

[2018-06-15 18:42] MohitGargMSFT commented on #10208
@dannradkov Request you to please update on it.

[2018-06-15 18:43] BryanTrach-MSFT commented on #10251
@dcbrown16 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-15 18:43] MohitGargMSFT commented on #10210
@rsrinivasanhome We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-06-15 18:43] #10210 closed

[2018-06-15 18:43] BryanTrach-MSFT commented on #10261
@olegoga Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-15 18:44] BryanTrach-MSFT commented on #10263
@SimonLuckenuik Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-15 18:45] BryanTrach-MSFT commented on #10272
@nextorr Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-15 18:46] SimonLuckenuik commented on #10263
Other comments:

I just saw that there are 4 rules per policy, and seeing the Powershell command "Set-AzureRmStorageAccountManagementPolicy" it seems that we have max 1 policy per account? However from the text it seems we can "Add or remove policies", which looks like we can have multiple policies per account?

Can you also provide more information about container support? It says "Apply rules to

[2018-06-15 18:46] BryanTrach-MSFT commented on #10280
@JonShelley Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-15 18:49] Adam-Smith-MSFT commented on #10125
@jtuliani Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-15 18:50] Adam-Smith-MSFT commented on #10104
@wmgries  @RenaShahMSFT is it possible to chime in on this thread ?

[2018-06-15 18:57] Adam-Smith-MSFT commented on #10261
@olegoga Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-15 18:58] johnlnash commented on #10104
Thanks guys.  No offense but I could not wait until I got a reply from you as I had to move forward with what I was working on.  I basically trashed the sync service and recreated it where I needed it.

That said I had another service I was/am using for testing purposes and attempted to move it with the same results.  Additionally it seemed to break the sync relationships for the server endpoints

[2018-06-15 18:58] Adam-Smith-MSFT commented on #10175
@juanjosemino there is a future release planned that gives the ability of narrowed folder permissions in the future(could possibly include auditing), you should see its release in preview soon.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-15 18:58] #10175 closed

[2018-06-15 18:59] Adam-Smith-MSFT commented on #10280
@JonShelley Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-15 19:00] MohitGargMSFT commented on #10238
@thesheebs It works fine for me. Please ensure you have values configured for ClientId, redirectURi, Tenant, Authority in the web.config located in the root folder under the section configuration\appSettings as mentioned in Step9 of [this section](https://docs.microsoft.com/en-us/azure/active-directory/develop/guidedsetups/active-directory-aspnetwebapp#option-2-advanced-mode). These values are ref

[2018-06-15 19:01] Adam-Smith-MSFT commented on #10272
@nextorr Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-15 19:01] pemj commented on #10231
Thanks for the assist!

[2018-06-15 19:03] MohitGargMSFT commented on #10242
@branstraub This is the duplicate document feedback request. I will close this issue and work on the another similar one #10243 .

[2018-06-15 19:03] #10242 closed

[2018-06-15 19:05] VitorPires commented on #10268
I agree with you,its a fantastic solution. But what I need to know is if s2d is recognized different disks HDD and SSD. When I check properties of all disks, all are listed Media Type HDD.?

[2018-06-15 19:06] Mike-Ubezzi-MSFT commented on #10282
@patrick-steele Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-15 19:11] gutjahr opened #10290 "Multi-valued properties and _"
Regarding Multi-valued properties, could you please cover the use of the _ (underscore) operator and explain it in more depth. e.g. "(device.devicePhysicalIDs -any _ -contains "[ZTDId]")"
See the following blog post for an examle of it:
https://blogs.technet.microsoft.com/mniehaus/2018/06/13/autopilot-profile-assignment-using-intune/

---
#### Document Details

⚠ *Do not edit this section. It is r

[2018-06-15 19:12] smoms commented on #10193
@parakhj this is what i needed. many thanks.

[2018-06-15 19:20] Mike-Ubezzi-MSFT commented on #10286
@scholtes That is a great suggestion. Thank you very much for your feedback. You can make feature and functionality requests via the [Azure Cosmos DB User Voice](https://feedback.azure.com/forums/263030-azure-cosmos-db).
Regards,
Mike

[2018-06-15 19:22] Mike-Ubezzi-MSFT commented on #9904
@dolphinsting We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-15 19:22] #9904 closed

[2018-06-15 19:22] Mike-Ubezzi-MSFT commented on #9999
@generalcussolco We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-15 19:22] #9999 closed

[2018-06-15 19:28] Mike-Ubezzi-MSFT commented on #10141
@tjrobinson Thanks for the feedback! I have assigned the issue to the content author to identify if this functionality is available. Regards, Mike

[2018-06-15 19:30] Mike-Ubezzi-MSFT commented on #10141
@rafats Can you assist with this product question? Thank you!

[2018-06-15 19:30] MikeWasson opened #10291 "Smart quotes in JSON property examples"
The example JSON properties have some smart quotes (“”, ‘’), I'm pretty sure those should be straight quotes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47fb1c00-f103-92c2-32e9-eefae46a6ce9
* Version Independent ID: 33555263-7be5-7164-310d-e97e6bea6704
* Content: [Programmatically create Azure Dashboards](https://d

[2018-06-15 19:30] Mike-Ubezzi-MSFT commented on #10180
@ElectricLlama We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-15 19:32] Mike-Ubezzi-MSFT commented on #10211
@smoms Perfect! The User Voice is best for this inquiry but, if there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-15 19:32] #10211 closed

[2018-06-15 19:32] MohitGargMSFT commented on #10253
@elpe33 Please open a new MSDN forum post and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required

Please mention the MSDN post link here and I will make sure it is updated. Thanks.

[2018-06-15 19:32] Mike-Ubezzi-MSFT commented on #10217
@saachinvettiyattil We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-15 19:32] #10217 closed

[2018-06-15 19:33] Mike-Ubezzi-MSFT commented on #10234
@schenmsft We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-15 19:33] #10234 closed

[2018-06-15 19:41] MohitGargMSFT commented on #10254
@superminiek Please check on this document - [Enable encryption for Azure storage account in Azure Security Center](https://docs.microsoft.com/en-us/azure/security-center/security-center-enable-encryption-for-storage-account).

[2018-06-15 19:43] MohitGargMSFT commented on #10258
@win2000b Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-06-15 19:51] roygara commented on #10099
@sbdoroff thank you for submitting feedback, we really appreciate it!

@MicahMcKittrick-MSFT I will add a backlog item  for this and request a close after I do that.

[2018-06-15 19:51] dlepow commented on #9978
@smflorentino - As Micah says, this doc is specific to PowerShell, and we have a corresponding [CLI specific doc](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/cli-ps-findimage) in the Linux VM docset. Still, I see the value of adding a sentence to note that the Marketplace (standalone or the portal) is another way to locate images. One caveat: The Marketplace generally provides le

[2018-06-15 19:57] bwren commented on #10281
I've seen this question before, and there is no variable for the computer name.  The only way to get it would be if the computer name appears in one of the other parameters.  The feedback has been passed to the engineering team.

[2018-06-15 20:00] bwren commented on #10281
#please-close

[2018-06-15 20:00] MicahMcKittrick-MSFT commented on #10284
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-15 20:01] MicahMcKittrick-MSFT commented on #10287
Thanks for the question! We are investigating and will update you shortly.

[2018-06-15 20:02] MicahMcKittrick-MSFT commented on #10288
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-15 20:02] MicahMcKittrick-MSFT commented on #10291
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-15 20:07] dlepow commented on #10200
@bolausson - Thanks for the suggestion; it looks like an elegant approach for this task! I opened a [doc work item](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1284677) to consider this for the next major revision of this doc, since it's more of an enhancement than a correction. So, per our guidelines, I'm closing this issue. BTW, the German and other non-English versions of th

[2018-06-15 20:15] jdogg89 commented on #10284
This is the exact situation my organization is running into. We are looking to adopt AKS as a solution for future k8 deployments but this is a major barrier to considering AKS as a serious solution. Please consider modifying this requirement.

[2018-06-15 20:16] tamram commented on #10175
@craigshoemaker FYI

[2018-06-15 20:20] mmacy commented on #10284
Adding @aanandr @sauryadas @amanohar for input.

Cc: @slack @neilpeterson

[2018-06-15 20:30] prashanthyv commented on #9052
@alphadever - MakeCert is deprecated. Can we not use Powershell commands to do the same?

https://msdn.microsoft.com/en-us/library/windows/desktop/aa386968(v=vs.85).aspx

[2018-06-15 20:31] bryan-oconnel-spr commented on #10087
@salvatore-garrubba - thanks for posting this. I have a similar use case and have been trying to implement the same solution you referenced. Your URL change worked for me; I'm using this when requesting a token:

`https://login.microsoftonline.com/<b2ctenant.onmicrosoft.com>/oauth2/v2.0/token?p=<b2c_1_ropc_auth>`

[2018-06-15 20:33] #10200 closed

[2018-06-15 20:37] juanjosemino commented on #10175
@Adam-Smith-MSFT , in fact I was refering to a way to audit the actions performed over the Azure FileShare, but not at the file system level.
I mean, when a File Share snapshot is taken/removed, nothing is being tracked at the 'Activity Log', only a listkeys event:
![image](https://user-images.githubusercontent.com/38846732/41488421-a335e3e4-70c2-11e8-9886-a16362520178.png)

[2018-06-15 20:37] MicahMcKittrick-MSFT commented on #6500
Thanks for the update @jeeshnair. I am seeing if anyone on my end has any suggestions.

[2018-06-15 20:38] pomtom commented on #10267
![runtime](https://user-images.githubusercontent.com/39467947/41488481-59cbac58-70e4-11e8-8f65-afc7142b5a61.JPG)

I have install runtime by using powershell. Hope this will help to others.

[2018-06-15 20:39] MohitGargMSFT commented on #10273
@cwienands It works fine for me in chrome browser.

![s1](https://user-images.githubusercontent.com/32749549/41488554-8d1df978-70a1-11e8-96de-d2d78d1a6114.JPG)

[2018-06-15 20:40] jboren commented on #10161
@MicahMcKittrick-MSFT  Thanks for the help, sorry if I'm not being clear.  In addition to the link you posted,  I found a few blog posts and think I understand how to make it work for any repo host that uses an access token, for example, it looks like I could use a PAT to mount a repo from VSTS, or an OAuth token for bitbucket.  It looks like for any repo that uses a username/password I can use ht

[2018-06-15 20:41] MohitGargMSFT commented on #10290
@gutjahr Thanks for the feedback! I have assigned the issue to the author to investigate and update as appropriate.

[2018-06-15 20:43] MicahMcKittrick-MSFT commented on #10161
@jboren got it. I believe that you are correct. However I have not used anything other than the git repro for this scenario so I would have to test to confirm. I think it would be good to include some more information around this in the doc. I will assign to the content author to review and see if we can get more information for private repos.

@mmacy can you take a look?

[2018-06-15 20:48] ljtill commented on #8553
@jluk awesome news! thank you so much!

[2018-06-15 20:54] mmacy commented on #9642
Hi @JetPac33, thanks for your patience on this issue. Are you able to consistently reproduce this issue? If so, is it possible for you to reply with another comment and paste a screenshot of the error message you're see, or perhaps the exact text of the error?

Also, if you can provide some additional details about your existing VNet, that would also be helpful.

Cc: @aanandr @sauryadas

[2018-06-15 20:54] mm-gmbd commented on #7933
These docs reference the Publisher Portal, which has been deprecated since May 1st, 2018. The Publisher Portal deprecation warning states "Please use the Azure portal to perform all administrative tasks after this date", and @leftler has stated that all steps/capabilities are available in the Azure Portal, but when I go to the "Settings" tab for an API, under "Security", there are only 3 options f

[2018-06-15 20:55] mmacy commented on #9799
Hi @dankellett, checking in to see if you've had a chance to give this a try.

[2018-06-15 20:55] Blackmist commented on #10127
@dcbrown16 Thanks again for the feedback. I've updated the document to clarify that the summary page appears as part of the creation process and included a screenshot of the full summary page with the advanced edit link highlighted.

#close

[2018-06-15 21:02] aanandr commented on #9642
Will look into this. In the mean time, @JetPac33 if you could send me the exact message it will be very useful.

[2018-06-15 21:02] MicahMcKittrick-MSFT commented on #10165
I have been digging through the data and it looks like you can review the data per resource but it goes into requests and not actual data in and out.

https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-azure-networking-analytics#use-azure-application-gateway-analytics

[2018-06-15 21:04] MicahMcKittrick-MSFT commented on #10255
@JensPeterC you are correct. Each AV zone will have update domains and fault domains. The premise is exactly the same as Availability sets but rather than all those being in a single data center they are spread over multiple centers in the same region.

[2018-06-15 21:05] MicahMcKittrick-MSFT commented on #10268
Can you elaborate on what you mean by s2d?

[2018-06-15 21:06] Mike-Ubezzi-MSFT commented on #10282
@patrick-steele If you review the [Behavior Changes](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-transact-sql-information#Changes) section of the documentation, SERVERPROPERTY('InstanceName') should return a short instance name (non FQDN). Not a NULL value.

SERVERPROPERTY('InstanceName') returns the short instance name, for example, 'myserver'. See [SERVERPRO

[2018-06-15 21:14] MicahMcKittrick-MSFT commented on #10274
@artisticcheese I believe this portion is only applicable to stand alone clusters on premise. It looks like you do not have the ability to modify the manifest when it is running in an Azure environment:

https://docs.microsoft.com/en-us/rest/api/servicefabric/sfclient-api-getclustermanifest

@rwike77, @dkkapur, @srrengar would any of you be able to confirm?

[2018-06-15 21:15] JunSun17 commented on #9642
@JetPac33 93 is calculated here:

the default AKS has 3 agent node, each node itself will take an IP, and each node by default will host 30 pods, so the total is 3 * (1 + 30) = 93.

I do not think we need to specify the minimum, the service will validate the required IPs and compare it with the subnet it gets. It will throw a validation error if not enough IPs is available in the subnet.

[2018-06-15 21:17] MicahMcKittrick-MSFT commented on #10277
@tusharchandwani thanks for the find! I have submitted the fix. Once the changes merge this issue will close and the changes will go live in a few hours.

[2018-06-15 21:18] CarlRabeler commented on #10164
Fixed
https://github.com/MicrosoftDocs/azure-docs-pr/pull/43944
#please-close

[2018-06-15 21:18] MicahMcKittrick-MSFT commented on #10279
@EM1L can you provide me a link to the other doc you referred to when creating a secure cluster?

[2018-06-15 21:21] artisticcheese commented on #10274
Yes, I'm running it in standalone cluster and would like to figure out a way to customize docker runtime on my SF hosts and I'm confused where this settings go in manifest file or which manifest file or how do I modify those for existing cluster.

[2018-06-15 21:27] MicahMcKittrick-MSFT commented on #10274
From the docs it appears to be located in the ClusterConfig.JSON. Have you checked there?

[2018-06-15 21:28] CarlRabeler commented on #9118
resolved
#please-close

[2018-06-15 21:29] artisticcheese commented on #10274
I don't see element called `Hosting` there. My clusterconfig is below.

[code]

[2018-06-15 21:32] mmacy commented on #10161
@jboren You are correct. If you can specify a PAT or other auth value in the URL for the Git repository, ACI will be able to perform the pull. For example, to mount a gitRepo volume from a VSTS Git repository, specify the PAT and *any* username in the URL to the repository. For example, the `--git-repo-url` for a repository "TestProject01" would look something like:

[code]
For VSTS, the username

[2018-06-15 21:33] Mike-Ubezzi-MSFT commented on #10248
@valland Resource tokens are created for each user. Also, users currently have an all or nothing set of permissions. Having to configure over a million perissions for a single user is a bit much. What is the desired functionality you are trying to achieve?

[Resource tokens](https://docs.microsoft.com/en-us/azure/cosmos-db/secure-access-to-data#resource-tokens)

- Provide access to specific collec

[2018-06-15 21:33] nschonni commented on #10276
Hey @BryanTrach-MSFT I opened the issue on the feedback repo because I noted that the PR backlog here is pretty long. I also understand that dealing with PRs (good or bad) takes alot of work and it seemed that some were getting a little long in the tooth (but without merge conflicts).
Your team seems really on top of the issue queue, it was more about the PR stuff

[2018-06-15 21:35] #10277 closed

[2018-06-15 21:38] Mike-Ubezzi-MSFT commented on #10164
@JohnBoncek We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion. Changes will be live if not live at this moment. Thank you, Mike

[2018-06-15 21:38] #10164 closed

[2018-06-15 21:39] Mike-Ubezzi-MSFT commented on #10140
@cbailiss We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-15 21:39] #10140 closed

[2018-06-15 21:39] Mike-Ubezzi-MSFT commented on #9118
@da1rren We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-15 21:39] #9118 closed

[2018-06-15 21:50] MicahMcKittrick-MSFT commented on #10107
Thanks for the clarification! I can see how it can be confusing. There is a lot of data surrounding this so splitting up the docs makes it more readable. But as you mentioned, it can take quite a bit of time to read up on it to fully understand the workings.

I found some GitHub examples that might help you get started:

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/monitoring-a

[2018-06-15 21:55] jeeshnair commented on #6500
There is one more problem to be solved for this to work seamlessly. It seems like the AzureServiceProvider class uses MSI_ENDPOINT and MSI_SECRET environment variable to get MSI token. I can set MSI_ENDPOINT , what goes into secret? Right now Azureserviceprovider fails to get MSI token. I can explicitly get it by making a http request.

Microsoft.Azure.KeyVault.KeyVaultClient
Parameters: Connectio

[2018-06-15 22:03] patrick-steele commented on #10282
@Mike-Ubezzi-MSFT So are you saying SERVERPROPERTY('MachineName') is no longer supported -- and we should use SERVERPROPERTY('InstanceName') instead?

[2018-06-15 22:07] MikeWasson commented on #10291
No I didn't try it, I just noticed the smart quotes, I'm pretty sure it's not valid in JSON

[2018-06-15 22:07] Mike-Ubezzi-MSFT commented on #10282
@patrick-steele That is what the documentation is stating. Given the approval process for deploying a Managed Instance, I don't have the ability to test this. If the documentation is wrong, then I need to push this to have the content updated. Can you please verify that SERVERPROPERTY('InstanceName') returns the appropriate value? Thank you, Mike

[2018-06-15 22:29] justluvz opened #10294 "thank you"
great app

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d23565fb-ccc9-42fc-6bde-f999d92fc762
* Version Independent ID: 60c86bac-f951-8181-793b-34018f4a76ea
* Content: [Microsoft sign-in experience updates](https://docs.microsoft.com/en-us/azure/multi-factor-authentication/end-user/sign-in-experience-updates#current-ui

[2018-06-15 22:48] MikeRayMSFT commented on #10268
S2D is Storage Spaces Direct. I wonder if this question is best answered by some of our good folks in Storage.

[2018-06-15 22:52] MicahMcKittrick-MSFT commented on #10268
Ah okay. I don't believe it makes the distinction between SSD and HDD.... @Adam-Smith-MSFT thoughts?

[2018-06-15 22:58] VitorPires commented on #10268
I'll use to failover cluster sql. Data will growup every year,but the current year need ssd,past years will be historical data. Hdd its a good option for that

[2018-06-15 23:05] #10281 closed

[2018-06-15 23:08] MohitGargMSFT commented on #10077
@SvenHau Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-06-15 23:11] pranavdheer commented on #9681
@dapsjj
For this to work edit your code like this -:
[code]

[2018-06-15 23:28] BryanTrach-MSFT commented on #10294
@justluvz Thank you for the feedback. We love hearing when the docs help our customers. If you have any questions in the future, please reach out. Have a great weekend.

[2018-06-15 23:28] #10294 closed

[2018-06-15 23:30] BryanTrach-MSFT commented on #8342
@SychevIgor We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and tag me in your reply. We will gladly continue the discussion.

[2018-06-15 23:30] #8342 closed

[2018-06-15 23:30] BryanTrach-MSFT commented on #9000
@leopignataro We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and tag me in your reply. We will gladly continue the discussion.

[2018-06-15 23:30] #9000 closed

[2018-06-15 23:31] BryanTrach-MSFT commented on #9337
@CraigB7708 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and tag me in your reply. We will gladly continue the discussion.

[2018-06-15 23:31] #9337 closed

[2018-06-15 23:31] BryanTrach-MSFT commented on #9367
@fosk06 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and tag me in your reply. We will gladly continue the discussion.

[2018-06-15 23:31] #9367 closed

[2018-06-15 23:31] BryanTrach-MSFT commented on #9475
@SteveL-CXP We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and tag me in your reply. We will gladly continue the discussion.

[2018-06-15 23:31] #9475 closed

[2018-06-15 23:31] BryanTrach-MSFT commented on #10183
@VitorX We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and tag me in your reply. We will gladly continue the discussion.

[2018-06-15 23:31] #10183 closed

[2018-06-15 23:46] SQLJuJu opened #10296 "Calculation error in video?"
Hi, in the video you list 1KB x 100,000 records, but extend that calculation to 100GB.   By my calculation that's 100MB.  I understand from pricing that $0.25/GB/month is still correct, so the dollar amounts are accurate, but would that actually be more like 100 million 1KB rows?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-06-16 00:15] dglambert opened #10297 "32k request throttling"
Is this per node or collectively?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93d51fcb-63a2-c622-7df3-27703a171b3a
* Version Independent ID: 0e2ed122-08c3-fae2-3b7f-6fde780a9933
* Content: [Manage pricing and data volume for Azure Application Insights](https://docs.microsoft.com/en-us/azure/application-insights/app-

[2018-06-16 00:44] raymak23 commented on #10243
Stack Overflow post has been created.

https://stackoverflow.com/questions/50884146/aad-b2c-yahoo-openid-connect-failed-to-create-in-azure-portal

[2018-06-16 01:28] nisubr opened #10298 "Please document reminder/timer behaviors upon deploying a newer version of the actor service."
To be precise, what happens to the active actor instances that are firing on reminders when we publish a newer version of the actor service itself.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8258fa61-6b9b-6ad8-1b68-3774e8445c8f
* Version Independent ID: 8d0acb0a-f5d7-94b8-3236-cf1edc646554
* Content: [Overview of a

[2018-06-16 02:28] artisticcheese opened #10299 "Please provide information how to use host environment variables in manifest file"
Docker compose file provides option to use variable substitution to provide dynamic variable from shell environment where compose file is running, so notation below will pull environment variable from the host and put it into running container. What is equivalent in such cases with Service Fabric?
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-06-16 03:41] easyj2j commented on #8669
@crs2m5smith Note that if you're using the paid version, the SO tier doesn't support v2.0

[2018-06-16 05:05] neilpeterson commented on #10229
@kudenke - thanks for catching this. The update has been submitted and will publish on Monday.

#please-close

[2018-06-16 05:09] tutul2010 commented on #10275
Hi ,
If i will share my code, then is it possible to guide me?

Regards,

[2018-06-16 05:10] neilpeterson commented on #10179
@volleynerd - thanks for pointing this out.

The back story: the Log Analytics / container health solution has received some significant updates. We have removed the log analytics tutorial and will add a new container health tutorial back in at some point. With the recent GA release we have had other doc priorities, but will bump this up soon. In the interim, I have updates the text (again thanks

[2018-06-16 06:53] prashanthyv commented on #9052
@PatrickvEk - Thank you for reporting this. Yes the 1024 bit cert is flaky with the command. We should update the document to ask to use 2048 key length

[2018-06-16 08:04] manigandham opened #10301 "Need to add details for Base64 encoding of message contents, which is default in other libraries"
The samples on this page create queue messages by directly setting the message string content, instead of using the Base64 encoder.

This makes these queue messages unreadable from other libraries (like .NET) which use Base64 encoding by default. That setting can be changed but since they have it on by default, it would be better if this library did the same, or at least showed how to do so in the

[2018-06-16 08:43] loket opened #10302 "Enable Log Analytics using command-line arguments"
Is it possible to enable Log Analytics using command-line arguments, instead of by file, as with setting CPU/memory requirements? Something like `az container create --log-analytics-workspace-id LOG_ANALYTICS_WORKSPACE_ID --log-analytics-workspace-key LOG_ANALYTICS_WORKSPACE_KEY ...`?

Thanks in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-06-16 11:01] mkiernan opened #10303 "Example only works on localhost"
I think this example could use a small additional clarification:
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-create-your-first-linux-application-with-java#start-the-test-client-and-perform-a-failover
The testclient.sh only works against a local dev cluster. In the case where you've an actual servicefabric cluster running remotely, you cannot connect to the proxy. In that c

[2018-06-16 11:30] agnimitra commented on #8673
Thanks @kobulloc-MSFT for the updates. Is there any way I can be notified of this feature once its released (added to any preview version).

[2018-06-16 12:04] JGezels opened #10304 "Trust Relations"
Hi

You say "Multiple subscriptions can trust the same directory, but each subscription trusts only one directory. " Does this include Azure B2C also?
In other words, can you have one Azure AD and one (or multiple) Azure B2C's linked to the same subscription?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da261

[2018-06-16 12:37] patrick-steele commented on #10282
@Mike-Ubezzi-MSFT

Here's the queries I'm using:

[code]

Both of these return `NULL` on my managed instance.  Let me know if you need the full instance name and I can send it to you.  Thanks!

[2018-06-16 13:42] #10235 closed

[2018-06-16 14:14] tameyer1 opened #10306 "App Service Hyrbid Connection and Oracle Processes"
I hope this is the correct forum.
We have a .net web hosted in azure. It uses entity framework to query an on premise oracle 12 database over hybrid connection.  The app had been running without issue using the legacy biztalk hybrid connections without issue.  Since they were retired in May we switched to use the newer relay version of hybrid connections.  What we noticed was the oracle database s

[2018-06-16 14:57] tsrob50 opened #10307 "-fileName Value"
There seems to be superfluous information under the PowerShell Example, Post-LogAnalyticsData function with -fileName = $fileName.  No value is given to $fileName in the example and it’s not required to run.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1295e1b3-5aed-3aee-4331-8b81e7a7e544
* Version Independent ID: 3c

[2018-06-16 15:05] hmiao04 opened #10308 "Please explain three Keys' meaning: subscripation Key, Key1 and Key2."
How to use these keys: which key I need use when I access the web?
e.g. WPF framework
which key I should use?
public partial class MainWindow : Window
    {
        // Translator text subscription key from Microsoft Azure dashboard
        const string TEXT_TRANSLATION_API_SUBSCRIPTION_KEY = "my key, but which key?";
        const string TEXT_ANALYTICS_API_SUBSCRIPTION_KEY = "my key, which key?";

[2018-06-16 15:09] cloudinnovating opened #10309 "Custom controls and Okta"
I am trying to setup a custom control with Okta.  Questions below:
Are the 3rd parties listed the only providers supported/functional?
Can someone provide more detail/generic config for setting up custom control for any 3rd party?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e03d33c6-c60b-153c-bf76-a127be502170
* Ver

[2018-06-16 15:37] MikeDodaro commented on #10275
I'll see if I can find somebody who can help.

[2018-06-16 16:27] MicahMcKittrick-MSFT commented on #10302
Thanks for the question! We are investigating and will update you shortly.

[2018-06-16 16:27] MicahMcKittrick-MSFT commented on #10303
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-16 16:30] #10179 closed

[2018-06-16 16:30] #10229 closed

[2018-06-16 17:32] tony-gutierrez commented on #10245
When setting up the alert on the active messages in a topic, there is an entityName field. I tried putting TOPICNAME/subscriptions/SUBSCRIPTIONNAME but that didn't seem to show anything on the graph.

[2018-06-16 17:38] BryanTrach-MSFT commented on #10306
@tameyer1 Can you please provide us with the URL of the doc that you are having issues with?

[2018-06-16 17:43] BryanTrach-MSFT commented on #10307
@tsrob50 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-16 17:44] BryanTrach-MSFT commented on #10296
@SQLJuJu Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-16 17:46] BryanTrach-MSFT commented on #10297
@dglambert Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-16 17:47] BryanTrach-MSFT commented on #10304
@JGezels Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-16 17:49] BryanTrach-MSFT commented on #10309
@cloudinnovating Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-16 17:50] BryanTrach-MSFT commented on #10301
@manigandham Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-16 18:16] BryanTrach-MSFT commented on #10308
@hmiao04 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-16 20:00] rolyon commented on #10077
Thanks for the feedback. I'll take a look at this.
#in-progress

[2018-06-16 21:40] theheatDK opened #10313 "A roadmap for Powershell and AKS?"
I am a little confused. According to https://docs.microsoft.com/en-us/powershell/module/azurerm.aks/?view=azurermps-6.2.0 AzureRM.Aks should be a part of AzureRM 6.2.
I have AzureRM 6.2.1 installed but AzureRM.Aks is nowhere to be found.
Since all the examples are CLI or Portal I assume that AzureRM.Aks is on its way. If so it would be nice to get some indication of when? Weeks, months…
Alternativ

[2018-06-16 23:20] BryanTrach-MSFT commented on #10313
@theheatDK Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-17 00:11] hmiao04 commented on #10308
solved!
All keys are Key 1. But Bing key is different from others. you need create a new Bing key.
thanks any way.

[2018-06-17 00:11] #10308 closed

[2018-06-17 03:32] gauravhub commented on #9154
Is there any plan to support CosmosDB Graph API?

[2018-06-17 04:07] t4apps opened #10315 "massively inadequate"
many people are having issues accessing a message from the service bus. mainly around decrypting the message. I've tried every possible workaround, but i still can't read a message from a logic.
I can do it from a function.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2aeacc5-5b74-c4be-335e-c7e768854e4a
* Version In

[2018-06-17 06:43] yzheng-msft commented on #10263
@SimonLuckenuik
A) there is a rule limit of 4, however, you can add multiple prefixes within a rule if they share the same retention rule. We will increase the limit significantly post preview.
B) Rules are executed in the background once a day for the entire account. The blobs will have to be at least 9 days older to be triggered.

[2018-06-17 07:26] thomasmktong opened #10316 "Can I make a request to reduce quota?"
Seems currently I can only increase the quota in the support page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe04a05a-f753-ee1f-5171-fd2a81a030f9
* Version Independent ID: 1507a7ac-11cc-81a7-e932-9e8ef9644e2b
* Content: [Azure Resource Manager vCPU quota increase requests](https://docs.microsoft.com/en-us/azure/az

[2018-06-17 09:06] malovicn opened #10317 "Client certificates can be enabled now using portal"
"This setting is not currently available through the management experience in the Portal"

I think this is wrong and the setting is available now on portal under App Service / SSL Setting / Client Certificates?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb440603-950a-c224-f6c9-222ca502d5a5
* Version Independent ID:

[2018-06-17 10:48] rayne-wiselman commented on #9718
No specific recommendation on this. Users will choose their failover region based on their business need.

Thanks! #please-close

[2018-06-17 10:48] rayne-wiselman commented on #9405
Fixed. #please-close

[2018-06-17 10:52] rayne-wiselman commented on #9028
@andrewatfornax . Hi, are you seeing that account in the source or target region? In the source region a storage account wiht a randomly generated name is created as a cache storage account/

[2018-06-17 11:08] rayne-wiselman commented on #9458
#please-close. This is fixed

[2018-06-17 11:08] rayne-wiselman commented on #9150
This is fixed. #please-close

[2018-06-17 11:55] ElectricLlama commented on #10180
Not sure how I reopen this, but I'm not asking how to provision a SSIS runtime under the MSI. I've done that already. The problem is that you cannot build and publish a package to the SSIS runtime that uses the MSI to connect to SQL Azure. To put it another way, if I build an SSIS package in SQL Server Data Tools, there is no authorisation method (for example in a ADO.Net connection manager) that

[2018-06-17 12:27] jebeld17 opened #10319 "Videos"
I'd love to see some informational videos for those who learn kinesthetically

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7eaaf7c7-c1fe-1afc-e7f8-bc0e90044fb8
* Version Independent ID: 6461936a-3f5d-c2fe-cb37-e40fc9dc929e
* Content: [Azure Load Balancer overview](https://docs.microsoft.com/en-us/azure/load-balancer/

[2018-06-17 12:27] dave-hillier opened #10320 "Confusing sentence "Last Step of the document""
It says, " DNS zone name collected in the last step of this document." but it means the previous step

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51a32f9e-c92f-412b-d460-567f3c542b98
* Version Independent ID: fad073ab-a376-1535-7bc4-deaca1d98dd9
* Content: [HTTP Application Routing add-on on Azure Container Service

[2018-06-17 12:54] rayne-wiselman commented on #10125
Fixed this issue to state that SSE is default. #please-close

[2018-06-17 13:53] tutul2010 commented on #10275
Thank you Sir.

If any body is interest then it will great help for me.
Thanks,

[2018-06-17 14:37] Mike-Ubezzi-MSFT commented on #10180
@ElectricLlama Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-17 14:43] Mike-Ubezzi-MSFT commented on #10180
@GithubMirek Is there an opportunity here to provide supported/unsupported scenarios in the documentation?

[2018-06-17 14:54] mstruys opened #10321 "Azure Storage Account options"
In step 2, the screen shot is outdated, because it doesn't show Storage (general purpose v1 or v2) in the Account kind field.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b0bc375-145f-3e45-e1e9-1869e183a4a3
* Version Independent ID: 8dc4d773-0a92-31de-6ce4-4a118d552f6a
* Content: [Save your IoT hub messages to Azure

[2018-06-17 16:14] aschiebold opened #10322 "Examples"
Hi. Please provide examples of IP restrictions since it's an Include condition rather than Exclude.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d90bbf62-44f9-30a6-d6ea-bbf776f6efc5
* Version Independent ID: b3961eac-6c70-b345-f48c-e4c0ec67059c
* Content: [Azure App Service IP Restrictions](https://docs.microsoft.com

[2018-06-17 17:08] neilpeterson commented on #10105
@toolboc - thanks for pointing this out. We will get this documentation updated shortly.

#please-close

[2018-06-17 17:16] emaghe commented on #9084
Hello I'm getting the same timeout problem. Any update?
@aappddeevv tried your workaround (jar in the root and place all other jar dependencies in the /lib directory) + function.json file in the hello folder but still not working.
Tried also to change configuration of the maven-dependency-plugin in the pom.xml to put jars and files in root or all in hello folder without success.
Thanks for your he

[2018-06-17 17:21] neilpeterson commented on #10118
@warden - I've created the following product issue for this:

https://github.com/Azure/AKS/issues/442

I am going to close this doc issue for now.

Thanks

#please-close

[2018-06-17 17:30] #10105 closed

[2018-06-17 17:30] #10125 closed

[2018-06-17 17:31] MicahMcKittrick-MSFT commented on #10320
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-17 17:32] MicahMcKittrick-MSFT commented on #10316
Thanks for the question! We are investigating and will update you shortly.

[2018-06-17 17:33] MicahMcKittrick-MSFT commented on #10315
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-17 17:34] MicahMcKittrick-MSFT commented on #10317
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-17 17:35] #10036 closed

[2018-06-17 17:35] #9718 closed

[2018-06-17 17:35] #9458 closed

[2018-06-17 17:35] #9405 closed

[2018-06-17 17:35] #9150 closed

[2018-06-17 17:40] neilpeterson commented on #10172
@brunoss - thanks for opening this issue. At this point, I would suggest checking out the Docker offerings from Docker inc. This will be the most complete and up to date way to run Docker Swarms on Azure.

https://azuremarketplace.microsoft.com/en-us/marketplace/apps/docker.dockerdatacenter?tab=Overview

Thanks

#please-close

[2018-06-17 17:40] #10172 closed

[2018-06-17 17:44] BryanTrach-MSFT commented on #10322
@aschiebold Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-17 17:46] BryanTrach-MSFT commented on #10319
@jebeld17 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-17 17:48] BryanTrach-MSFT commented on #10321
@mstruys Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-17 18:19] #10118 closed

[2018-06-17 19:15] microbart opened #10324 "Create virtual machine tutorial outdated / incorrect"
Create virtual machine tutorial states under step 7:
7. Under Settings, leave the defaults and select OK.

But there are some mandatory settings, so it's not possible to just select OK.

One of the mandatory settings is creating a Diagnostics Storage Account. It is mandatory, even is Guest Diagnostics is disabled.

I find it very weird that if Guest Diagnostics is disabled, I have to create a stor

[2018-06-17 19:16] microbart opened #10325 "Create virtual machine tutorial outdated / incorrect"
Create virtual machine tutorial states under step 7:
7. Under Settings, leave the defaults and select OK.

But there are some mandatory settings, so it's not possible to just select OK.

One of the mandatory settings is creating a Diagnostics Storage Account. It is mandatory, even is Guest Diagnostics is disabled.

I find it very weird that if Guest Diagnostics is disabled, I have to create a stor

[2018-06-17 19:17] #10324 closed

[2018-06-17 20:12] kapopken opened #10326 "RBAC failing on AKS"
I walked through the steps here (https://docs.microsoft.com/en-us/azure/aks/aad-integration) and everything works except when I use the logged in credentials (After the step of using admin account to create cluster role binding). After successfully logging in, i get an error "You must be logged in to the server (Unauthorized). In my kube config, I show an access token was retrieved and the token l

[2018-06-17 21:26] csharpfritz opened #10328 "Poor routing from 'Quickstart' panel in Azure App Service for Linux Containers"
I'm on the portal, in the user-interface wanting to click and select the container image to deploy to the service that I am working with in that user interface, and the help link routes me to a set of command-line instructions.  Its not a consistent experience, and this documentation tells me to go back and create everything by hand that I already created through the Visual Studio publish gestures

[2018-06-17 21:57] artur-tolstenco commented on #6226
adding that if I delete the .configsettings and .assecurityinformation files from the folder that contains the model the Analysis Services Deployment in silent works well. But... it would publish a model that can't connect to the data source - we need a way to put the credentials in the deployment.

any help appreciated

[2018-06-17 22:47] cenkersoy opened #10329 "Management ARM End Point"
Hi, the article states that it is for both ASDK and prod systems. However the management ARM end point of "https://management.local.azurestack.external" is only for ASDK. It should state that in the scripts. You could add " To get this value for Azure Stack integrated systems, contact your service provider."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2018-06-17 23:07] dcbrown16 commented on #10127
Thanks @Blackmist !

[2018-06-17 23:07] #10127 closed

[2018-06-17 23:34] DennisFaucher opened #10330 "Easy to Follow, Doesn't Do Anything"
It would have been nice to perform a predictive analysis on the data.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cdbfe21-960c-a8d5-5fe9-7d3c4ef81f5c
* Version Independent ID: 450f10cf-3c3e-5fb1-ce15-d1fa01148f69
* Content: [Prepare data for classifying Iris tutorial in Azure Machine Learning services (preview)](ht

[2018-06-17 23:52] brjohnstmsft commented on #9759
@codepossible Would you like to elaborate on your feedback? Otherwise, we will close this issue.

[2018-06-17 23:56] BryanTrach-MSFT commented on #10328
@csharpfritz Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-17 23:57] BryanTrach-MSFT commented on #10329
@cenkersoy Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-17 23:58] BryanTrach-MSFT commented on #10326
@kapopken Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-17 23:58] BryanTrach-MSFT commented on #10325
@microbart Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-17 23:59] BryanTrach-MSFT commented on #10324
@microbart We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and tag me in your reply. We will gladly continue the discussion.

[2018-06-18 00:19] BryanTrach-MSFT commented on #10330
@DennisFaucher Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-18 03:13] Benjathing opened #10331 "Input to Bing confusion"
Can I confirm that the paths for the context and inputs in the Bing Search API should be `/document/organizations/*`  not `/document/content/organizations/*` ?
Reading above seems to suggest that the path to the organisation data is appended to `/document`, which is supported by the illustration at the bottom.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2018-06-18 04:10] SnehaGunda commented on #8436
@kubiozi @rbmathis above PR addresses doc fix too. We will merge this PR soon after the @clarkio PR to fix code sample gets merged.

[2018-06-18 04:32] celinama commented on #10189
Hello Hariharan,

How are you?

If Serial Console is only available for ARM deployments, can we put this in doc to avoid confusion?

Thank you for your help.

Celina Ma
Sr. Cloud Solution Engineer
Azure Customer Experience (CXP)
' +61 (2) 88179902
Monday – Friday 9 AM to 6 PM (GMT + 10:00)
If you need immediate attention for any of the ongoing case while I am out of shift, please send a separate e

[2018-06-18 04:36] celinama commented on #10189
+ Alfred ,

Sure will take a loot I think we had something to that effect

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Celina Ma
Sent: Sunday, June 17, 2018 9:32:30 PM
To: MicrosoftDocs/azure-docs; MicrosoftDocs/azure-docs; Hariharan Jayaraman
Cc: Mention
Subject: RE: [MicrosoftDocs/azure-docs] Does this feature only apply on VM deployed in ARM? (#10189)

Hell

[2018-06-18 04:39] ramankumarlive commented on #10041
@sercast thanks for pointing out the issue. We will fix it.

[2018-06-18 05:01] suketunayak opened #10332 "Error"
Error -
val tempDir = "wasbs://" + blobContainer + "\@" + blobStorage +"/tempDirs"
Correct One -
val tempDir = "wasbs://" + blobContainer + "/@" + blobStorage +"/tempDirs"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d863ab39-0b6a-eb81-9dde-5eb25b46cc33
* Version Independent ID: 655abadf-5f9e-a65b-0109-c5166f956c4d
*

[2018-06-18 05:12] kazshi opened #10333 ""This SQL data warehouse must be online to scale.""
I assume we cannot change scale while the SQL DWH is offline since "This SQL data warehouse must be online to scale." appears on  the portal. I would like to see it on the doc content as well since I got a feedback from my customer about it.  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c277e0aa-fe77-35a7-271

[2018-06-18 05:27] dcbrown16 commented on #7269
@curtand @BryanTrach-MSFT @SaurabhSharma-MSFT
It's mid-June now and the screenshots are still out of date. Is this still in progress?

[2018-06-18 05:49] georgiosd commented on #9980
Will gladly do that but I don't know when I will get around to it...

[2018-06-18 05:55] #9899 closed

[2018-06-18 06:01] dcbrown16 opened #10335 "Discoverability of this document"
Is there a reason this doc doesn't show up in the navigation menu?
I would assume it should be in the same group as the following doc, unless this one is obsolete or something, but the last updated date for this doc is 1/2018 as opposed to 9/2017 for the following doc.
https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/what-is-single-sign-on

---
#### Document Details

⚠ *Do not e

[2018-06-18 06:09] trumhemcut opened #10336 "Checking experimentation account"
I've followed the steps below but I'm still getting stuck at the message "Checking experimentation account ..." after restart the app.
====================================================
Stuck at "Checking experimentation account" screen after logging in
After logging in, the Workbench app might get stuck on a blank screen with a message showing "Checking experimentation account" with a spinning

[2018-06-18 06:31] somefella123 commented on #10107
Thanks Micah

[2018-06-18 06:31] #10107 closed

[2018-06-18 06:42] ToruMakabe commented on #10326
I encountered a problem at the same step. But I got another message...

[code]

It is much appreciated that if you could advice me, thanks!

[2018-06-18 06:44] dcbrown16 commented on #10335
I found this link as well which seems to be the same topic as this page. How does it fit in?
https://docs.microsoft.com/en-us/azure/active-directory/application-config-sso-how-to-configure-federated-sso-non-gallery

[2018-06-18 07:20] c-arnab opened #10337 "Deployment succeeding but application shows error"
When I deploy the application by going to http://aka.ms/deploywtp-mtapp, It shows deployment succeeded but when I open the application in the browser (http://events.wingtip-mt.ac2.trafficmanager.net/), It shows below error
﻿
Error.
An error occurred while processing your request.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-06-18 07:20] fazilmajeed opened #10338 "The document is not yet updated??"
Hi
As per the Updates on  **" Azure Service Fabric: The road ahead for microservices  : Build 2018 "**
It is clear that the dependancy on servicefabrics runtime for communicating the microservices, has been removed. But the same has not yet updated in the documents...

[2018-06-18 07:22] superminiek commented on #9718
Thank you!

[2018-06-18 07:27] superminiek commented on #9928
Thank you!

[2018-06-18 07:29] AlexanderTodorovic opened #10339 "Demo is fine with Python 2.7 - Error with Python 3.6"
Dear All,
install from requirements works fine with Python 2.7, but runs into an error with Python 3.6
How can this be fixed?
Thanks,
Alex

File "C:\Users\vs2017\AppData\Local\Temp\2\pip-build-bnjgz588\flask\setup.py", line 62
        print "Audit requires PyFlakes installed in your system."
SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Audit requires PyFlakes installed

[2018-06-18 08:00] FredMurphy commented on #9925
We've almost finished getting a corporate Azure account setup, so I'll contact support through that.

If that's the more appropriate course of action and you can't/won't investigate as part of this issue ticket then I'll reclose it.

[2018-06-18 08:00] #9925 closed

[2018-06-18 08:01] suketunayak opened #10340 "Excellent Demo"
Superb Demo.Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4137b0cc-898b-b25c-6321-fe98f22f803d
* Version Independent ID: 4ec1e187-7e69-e5da-b6dd-cb03b6db9366
* Content: [Tutorial: Stream data into Azure Databricks using Event Hubs](https://docs.microsoft.com/en-us/azure/azure-databricks/databricks-stream-from-e

[2018-06-18 08:01] carloreggiani commented on #10192
Update:

Last Friday I tryed to create the AKS cluster with other IP configuration (using other private subnet in my vpn connected VNet), the nginx ingress problem was still there. I stopped the agent vm machine for the weekend, restarted this morning and... now the external ip is finally there!

[code]
The old rule "reboot to solve any issue" is still there? :)

Carlo

[2018-06-18 08:11] lindsve opened #10341 "Callback after logging on with Google fails"
I tried this setup with an empty web application, and it fails with a server error during the callback after logging on with Google.

My setup is a new web application, node 9, linux and then tried this setup. I have verified the the two properties to be configured on the Azure side and the endpoints to configure for the Google credentials

---
#### Dokumentinformasjon

⚠ *Ikke rediger denne delen

[2018-06-18 08:11] jacob-j commented on #9108
@ggailey777 Yes you do.

When you change to Node.js in the tab you get a link to https://github.com/Azure-Samples/storage-blob-resize-function-node

The command need to be update to this url instead of https://github.com/Azure-Samples/function-image-upload-resize when you have selected Node.js.

Or atleast mention that the url in the command is for C# and you have to manually change to the Node.js

[2018-06-18 08:14] JensPeterC commented on #10255
Thanks, that sounds great. I think you should update the documentation so that this becomes obvious to everyone.
Thanks again.

[2018-06-18 08:20] Naboo2604 opened #10342 "Clean up section in this context little dangerous..."
the command in the cleanup section in this context is a little dangerous - because if beginners want to play with azure policies (this is the real context in this page) and suggest to remove the policy created in the section before - they removing their ResourceGroup and all resources (!) - better change this section to "Removing Azure policy" with cmdlets Remove-AzureRmPolicyAssignment...

---
##

[2018-06-18 08:35] subashsivaji opened #10343 "Azure AD Security group - MailEnabled property"
Can we please make the documentation more explicit - that when creating and providing access to Azure AD security Group - the MailEnabled property of Azure AD security group must be True. Even if its a limitation, having explicitly mentioned in the docs, avoids lot of hassle. Adding Azure AD security Group via SSMS will throw error if this property is set to false. https://social.msdn.microsoft.co

[2018-06-18 08:40] dominicbetts commented on #10205
@rangv - Hi Ranga - this issue is for one of your articles. @sergaz-msft - can you reassign this please?

[2018-06-18 08:40] pallaviMN opened #10344 "Bing Speech API"
Hi Team,

I am using android SDK for bing speech, how can i change URL in "IAuthorizationProvider" for android to westUS, i changed in strings.xml but it didnt not work. Please help

[2018-06-18 08:48] dominicbetts commented on #9994
@cocallaw - it looks like the issue with the IoT extension is now resolved - I just tried it in the Cloud Shell and it works. I'm going to close this issue now, but please let us know if you have any further questions or think that this issue should be reopened. Thanks.

[2018-06-18 08:48] dominicbetts commented on #9994
#sign-off

[2018-06-18 09:26] kaareschmidtalso opened #10346 "Clicking an owner user does nothing when trying to add co-admin"
I've tried IE, Edge, Firefox and Chrome.
This is a CSP subscription and I have tried with an internal AzureAD user and an External Microsoft account user.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5624f3e-5fbf-6f0f-93cf-a4d5aa93ccf8
* Version Independent ID: 9ca6d22b-e684-4e65-cab3-c272189a3ddc
* Content: [Add or

[2018-06-18 09:34] SaurabhRaoot commented on #10016
Thanks SaurabhSharma-MSFT for your reply.

When I create a custom scopes using Application Registration Portal for my Web API application those are becoming part of custom delegate permission.

So when I am trying to access those using client credential grant type .. I am not getting those in access token... The way I am getting Roles for Microsoft Graph Permissions

I have raised support ticket w

[2018-06-18 09:47] axelgMS opened #10347 "Can we check link on "Manually install the extension" ?"
Hey there,
When clicking on the link for "Manually install the extension" below, I'm redirected to https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-quick-collect-azurevm#enable-the-log-analytics-vm-extension which is about Azure Log Analytics extension.
But that web page is about Azure Security Monitoring, so what's the relation ??

---
#### Document Details

⚠ *Do not edit this

[2018-06-18 10:56] 14geronimo opened #10348 "Rephrase instruction to view corrections in LUIS test panel"
This instruction under "View Bing Spell Check corrections in test panel" is a bit misleading: "In the test panel, on the Published pane, select Additional Settings."
It should read instead, referring to the current version of the LUIS UI: "In tte test panel, select Inspect &gt; Compared with published &gt; Additional Settings."

---
#### Document Details

⚠ *Do not edit this section. It is require

[2018-06-18 11:09] avawise001 opened #10349 "Compile Error"
listener.RequestHandler = (context) =&gt;
does not compile
Error	CS1061	'HybridConnectionListener' does not contain a definition for 'RequestHandler' and no extension method 'RequestHandler' accepting a first argument of type 'HybridConnectionListener' could be found (are you missing a using directive or an assembly reference?)
Where is RequestHandler defined?

---
#### Document Details

⚠ *Do not

[2018-06-18 11:09] manaccar opened #10350 "Austral Government"
Australia Central and Australia Central 2 should be under Australia since there is no Australia Government

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b29b475d-056b-ba43-5309-dd1ee50b4318
* Version Independent ID: 55d5f203-32ef-40a1-62fa-83e8c81cdb14
* Content: [Routing requirements for Azure ExpressRoute](https://d

[2018-06-18 11:17] walleSenpai commented on #9779
Hello,

I have installed again iot azure and i connected my raspberry using the iot devices and it worked, in the document says that we need to put the iot hub key and that's why didn't worked,

thanks for fix my problem

[2018-06-18 11:29] vetrivelmp opened #10351 "Can we validate AD Token and B2C Token using single validation code?"
Based on my analysis,
For validating AD Token we are using UseWindowsAzureActiveDirectoryBearerAuthentication() from Owin
For validating B2C Token we are using UseOAuthBearerAuthentication() from Owin

I saw issuer, audience and metadata url are different for AD and B2C tokens.

My Scenario is that my client will pass either AD token or B2C token to my API. But my API should have single code to va

[2018-06-18 11:41] guybartal commented on #10079
running this demo throws error:
500 Server Error: Internal Server Error ("Get https://registry-1.docker.io/v2/microsoft/azureiotedge-agent/manifests/1.0-preview: unauthorized: incorrect username or password")

(base) C:\Users\gubert>iotedgectl setup --connection-string "HostName=iot-hub-gubert.azure-devices.net;DeviceId=Edge1;SharedAccessKey=xxxxxxxxxxxxxxxxx=" --nopass
INFO: Using default IoT Edg

[2018-06-18 11:45] kgeorge314 opened #10352 "Instructions for VS based CI Deployments"
When developing functions locally using `C#` vs `csx` in VS 2017 the build produces a `.dll` file. Instructions are needed on `C# - dll` based deployments.

Related Links - (https://docs.microsoft.com/en-us/azure/azure-functions/functions-develop-vs)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a34424e-6a23-5517-575

[2018-06-18 12:01] aaptbhatt opened #10354 "Facing issue in deploying Azure Security and Compliance Blueprint - HIPAA/HITRUST Health Data and AI"
Hi,
I am reviewing your "Azure Security and Compliance Blueprint - HIPAA/HITRUST Health Data and AI"
solution. While I am trying to deploy the solution facing issue below.

after running
 .\deploy.ps1 -deploymentPrefix hipo  -tenantId 98bb49c0-16c0-4e5d-a7f4-bb008c5c8c0b -tenantDomain aaptbhatt004outlook -subscriptionId 41ad2986-f5c7-427b-b766-1968d0a923bc -globalAdminUsername aaptbhatt004outlook.

[2018-06-18 12:12] JensNordenbro commented on #10079
@guybartal, is this really related to my issue? Please report as another issue so each issue gets tracked correctly!.

[2018-06-18 12:18] smoms commented on #9574
This is indeed also my question. If a device in not IP enabled it should then be in the pattern "Identity translation". That means that the DPS SDK should somehow be "splitted" in the part used by the leaf device and the part used by the GW. Which i believe such SDK is not supported as of-now?

[2018-06-18 12:55] pgarm opened #10355 "Using custom attributes in AD"
I'm trying to sync WID from Workday to have immutable unique ID in AD (helping when EmployeeID, names, etc. change). I've extended AD schema with [string]::workdayID to avoid compatibility issues with other AD-reliant apps, and the SyncAgent fails to recognize the attribute:

Property definition not found for attribute workdayID
   at Microsoft.ActiveDirectory.SynchronizationAgent.Provider.QueryAs

[2018-06-18 12:58] colemickens opened #10356 "Do id_tokens contain email or not?"
The limitation document says id_tokens from the v2 endpoint do not contain the `email` claim, even if they request it.

However, it's explicitly listed as a returned claim in this document. Which document is right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c18ae119-a9b9-44eb-ead0-f8dee59718b2
* Version Independent

[2018-06-18 13:08] sergaz-msft commented on #10349
@avawise001  Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-18 13:11] sergaz-msft commented on #9791
Hello @jimeilong coming back to check if you have seen the comment from @dominicbetts ? Are you still seeing errors after following Dominic's suggestions? Thanks.

[2018-06-18 13:14] sergaz-msft commented on #9959
Hello @MrRoyce,

For a skype call and dedicated support to your issue we ask that you please file a support request @
https://aka.ms/azsupt . If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

PS: If you can share the issues you are sti

[2018-06-18 13:20] v-geberr commented on #10348
@14geronimo Thank you for letting us know the documentation is not clear. I appreciate your suggestion. I'm going to investigate the appropriate correction and will respond back here when I have an approved change. #in-progress

[2018-06-18 13:33] #9994 closed

[2018-06-18 13:35] tudorsibiu90 commented on #10062
I also experience this exact same issue...

[2018-06-18 13:38] microbart opened #10357 "Weird dotted screen with X mousepointer instead of desktop"
I followed all the steps in this manual, but I don't get the same results.

The first time I connected with my RDP client (KRDC) I got a error message "error - problem connecting", I pressed ok. The error message went away and I got the screen as shown in the picture after "Open your local remote desktop client and connect to the IP address or DNS name of your Linux VM. Enter the username and pass

[2018-06-18 13:41] glloyd2010f opened #10358 "Internal Load Balancer Creation"
In the documentation you mention that by just uploading the service manifest it will create the Azure load balancer. I am wondering, is this done using the permission set of the uploading user or as the Service Principal we created/associated to the AKS cluster at time of creation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2018-06-18 13:59] superminiek opened #10359 "Allow access from other Azure resources with public IP"
How to enable access to storage from different Azure item with public IP (VM) which is configured in different subscription and different account? I put public IP in "Firewall" but access is not working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2632af75-7664-b79b-ac5b-c7c17e6a609a
* Version Independent ID: 6ecf71

[2018-06-18 14:14] georgewallace commented on #9819
@jeremytbrun No, it is not available in those regions, the portal changes are rolling out to remove it from the UI in Azure Gov and Azure China.

[2018-06-18 14:18] kapopken commented on #10326
@ToruMakabe verify that you have your delegated permissions set up for your server registration. That could cause your issues.

[2018-06-18 14:18] jimborogers opened #10361 ""Development stage" suitability"
The "Relationship With Bing Maps" table suggests to use Bing Maps for enterprise use cases. However:

1) This page states an SLA is in place for Azure Maps: https://azure.microsoft.com/en-gb/support/legal/sla/azure-maps/v1_0/
2) And this page makes several mentions of using Azure Maps for enterprise purposes: https://azure.microsoft.com/en-gb/blog/announcing-azure-maps/

Point 1 above alone sugges

[2018-06-18 14:33] neilpeterson commented on #10358
@glloyd2010f, it is the service principal.

[2018-06-18 14:44] mmacy commented on #10302
Hi @loket, in this case, the article is accurate in its statement:

"To send container instance data to Log Analytics, you must create a container group by using the Azure CLI (or Cloud Shell) and a YAML file."

The CLI does not currently include named parameters for specifying Log Analytics workspace and its credentials. You must deploy via YAML as described in the article.

[2018-06-18 14:46] ganesr commented on #10350
We are carving the 2 regions out as a separate geo from a billing perspective. Hence the name.

[2018-06-18 14:48] LuisCabrer commented on #10331
You are right! Thanks for spotting that issue.
I have issued a pull request with that fix. I expect it to be deployed later today.

[2018-06-18 14:50] j-martens commented on #10081
Please assign to @tedway . He is the true author.

[2018-06-18 14:51] LuisCabrer commented on #10331
close #10331

[2018-06-18 14:52] cassioiks commented on #9373
@hr00 you might want to check it here: https://issues.apache.org/jira/browse/SPARK-10795

[2018-06-18 14:52] LuisCabrer commented on #10331
#please-close

[2018-06-18 14:57] #10103 closed

[2018-06-18 14:59] msangapu commented on #10328
@csharpfritz Thank you for the feedback. I looked at the portal UI quickstart panel and the links there "Learn more" and "Quickstart guide". Neither of which are taking me to this "Docker/Go app" article. Can you please clarify which document you are being directed to?

@BryanTrach-MSFT  I believe our customer is referring to a link in the portal UI directing to a doc. Not an issue w/ the doc itse

[2018-06-18 15:00] Mike-Ubezzi-MSFT commented on #10339
@AlexanderTodorovic Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-18 15:02] Mike-Ubezzi-MSFT commented on #10337
@c-arnab Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-18 15:03] Mike-Ubezzi-MSFT commented on #10333
@kazshi Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-18 15:03] j-martens commented on #9920
@mufflon Hope this answers your question.  If so, please close. Thanks.

[2018-06-18 15:06] j-martens commented on #10103
@yangsiyu007 The fix should be live in 2 hours.  If all looks good, please close this issue. Thanks for your report.

[2018-06-18 15:07] petersad123 commented on #9966
Seraz-msft and I worked together and determined the issue. The documentation looks to build upon the project, but when you set up the routing for saving the messages to storage the message are routed to stream analytics. The documentation should be updated to remove the storage routing or allow the project to route message both to stream analytics and storage at the same time.

[2018-06-18 15:18] MicahMcKittrick-MSFT commented on #10255
@JensPeterC sure no problem. I will assign to author to review and see if we can make it a bit more clear :)

@iainfoulds can you take a look?

[2018-06-18 15:19] mrbullwinkle commented on #10297
@dglambert & @BryanTrach-MSFT the 32k  events per second throttling limit is per ikey. I will update that in the docs today to clarify. Thank you for the question!

[2018-06-18 15:21] MicahMcKittrick-MSFT commented on #10352
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-18 15:22] MicahMcKittrick-MSFT commented on #10357
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-18 15:22] ToruMakabe commented on #10326
@kapopken Thanks. But the permissions looks correct.

[code]

Any help would be appreciated.

[2018-06-18 15:24] MicahMcKittrick-MSFT commented on #10338
Can you provide me the links to the doc you are referring to?

[2018-06-18 15:31] BeauMarwaha commented on #9131
It seems that as of commit a8f9b5929f16c6c02f8aab9108fe54716ed63d71 this connector is no longer in beta.

[2018-06-18 15:34] MicahMcKittrick-MSFT commented on #10017
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2018-06-18 15:34] #10017 closed

[2018-06-18 15:34] Minewiskan commented on #10343
#in-progress

[2018-06-18 15:35] MicahMcKittrick-MSFT commented on #10062
@gdprtcl, @tudorsibiu90 can you please see my above comment and paste the screenshot here

[2018-06-18 15:35] MicahMcKittrick-MSFT commented on #10121
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2018-06-18 15:36] MicahMcKittrick-MSFT commented on #10158
I will close this out but if you feel you need more information please just let me know.

[2018-06-18 15:36] #10158 closed

[2018-06-18 15:37] bastyuchenko opened #10363 "Dead-letter per topic or per subscription"
Could you clarify - do we have one dead-letter queue for a topic or a lot dead-letter for each subscription within the topic?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9c35042-f064-0f34-8d16-ad40e829ca39
* Version Independent ID: 19d4a83e-55c8-8b9c-38a0-0e9a26ba2cdb
* Content: [Service Bus dead-letter queues](htt

[2018-06-18 15:38] Mike-Ubezzi-MSFT commented on #10339
When using Python 3.x, the requirements.txt errors after adding the Python Flask packages. It is complaining about: "Audit requires PyFlakes installed in your system."

[Step 3: Modify the Python Flask web application](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-python-application#step-3-modify-the-python-flask-web-application)

![screenshot 77](https://user-images.githubusercontent.c

[2018-06-18 15:38] MicahMcKittrick-MSFT commented on #10165
@trevor-schmidt I would suggest you leave your feedback here:

https://feedback.azure.com/forums/267889-log-analytics

That way the log analytics team and look into what you are trying to do and consider adding that functionality.

I will close this for now but if you need additional help let me know and we can always reopen and continue.

[2018-06-18 15:38] #10165 closed

[2018-06-18 15:39] MicahMcKittrick-MSFT commented on #10192
@carloreggiani interesting! When in doubt, restart it :)

If you try the process again does it appear to work first try?

[2018-06-18 15:43] MicahMcKittrick-MSFT commented on #10268
@VitorPires I dug around the Storage Spaces Direct documentation and it appears that since you are configuring this at an OS level there is no distinction between SSH or HHD. It will just see the drive as a storage drive. So picking SSD or HDD will not matter from a storage spaces standpoint other than the speed at which the disks operate.

[2018-06-18 15:48] MicahMcKittrick-MSFT commented on #10279
I will close this out but if you feel you need more information please just let me know.

[2018-06-18 15:48] #10279 closed

[2018-06-18 15:50] MicahMcKittrick-MSFT commented on #10284
@aanandr, @sauryadas, @amanohar and update on this ask?

[2018-06-18 15:50] Adam-Smith-MSFT commented on #10263
@SimonLuckenuik The author(@yzheng-msft provided a response for the questions you've asked. Let me know if we can close this case.

[2018-06-18 16:01] guybartal opened #10364 "Module stuck on "Pending Deployment""
I've added IoT edge device module "filterModule" and it won't deploy it to iot edge, I have waited more than a hour and it's stuck on "Pending Deployment"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 181d5562-f8d7-9c59-85ea-09efbe397f3e
* Version Independent ID: dbedd952-a050-286e-c951-4529ec8e87b8
* Content: [Azure

[2018-06-18 16:02] kapopken commented on #10326
@ToruMakabe Those look correct. Have you tried a --v=9 to see if there is any useful messages?

[2018-06-18 16:13] Kaaikaula commented on #9814
The documentation does not cover virtual machines that were created and SQL Server installed post-creation. It only covers VMs created with Marketplace SQL images. The scenario described by Anmolgan81 is what happens in that case. The documentation does not explain that the portal SQL Configuration GUI will not be available in that case and PowerShell is the only option.

[2018-06-18 16:17] mrbullwinkle commented on #10297
I updated the doc to address the answer to your question. The change will go live between 10:00 AM - 10:30 AM (UTC-7)

[2018-06-18 16:18] dglambert commented on #10297
Awesome thanks

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Michael Bullwinkle <notifications@github.com>
Sent: Monday, June 18, 2018 12:17:20 PM
To: MicrosoftDocs/azure-docs
Cc: Devin Gleason Lambert; Mention
Subject: Re: [MicrosoftDocs/azure-docs] 32k request throttling (#10297)

I updated the doc to address the answer to your question. The change will

[2018-06-18 16:29] MicrosoftGuyJFlo commented on #10076
@YassineSOUABNI any suggestions of how we can be more clear in the document?

[2018-06-18 16:37] sieradz opened #10365 "failing at bundle install on windows 7 with patch errors"
running "bundle install" required python and patch on my windows 7 box.
installed python27 and added to path and that was OK
installed patch from http://gnuwin32.sourceforge.net/packages/patch.htm
was that the one required?
added it to path
still failing ...

Here is the output from bundle install :
"..Installing libv8 3.16.14.19 with native extensions
Gem::Ext::BuildError: ERROR: Failed to build

[2018-06-18 16:39] ecfan commented on #6648
Hi @Molotch, thanks for the feedback! We've created a work item on the backlog for updating this content.

#please-close

[2018-06-18 16:40] YutongTie-MSFT commented on #10348
@14geronimo Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@v-geberr Thank you for your quick action!

[2018-06-18 16:41] iainfoulds commented on #9074
Hi @AshishDhawal . If you are still having issues with WSL, please let us know, but it looks like you were able to get things deployed correctly.

For now, @MicahMcKittrick-MSFT #please-close

[2018-06-18 16:41] jason-j-MSFT commented on #10340
@suketunayak thanks for the feedback!

[2018-06-18 16:41] #10340 closed

[2018-06-18 16:42] lenadroid commented on #10340
Thanks @suketunayak ! :)

[2018-06-18 16:42] YutongTie-MSFT commented on #10244
@p2netdev Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@nstulasi Hi, this is a doc-bug, please check the screenshot in step 4, this is not consistent with the real UI. Thanks a lot.

[2018-06-18 16:45] jason-j-MSFT commented on #10332
@suketunayak
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-18 16:47] iainfoulds commented on #10156
Sorry you ran into issues, @WaltIQ. I've created a PR that adds a note about about lack of NLA support in XRDP. If you need NLA support, alternate RDP servers exist, such as [FreeRDP](http://www.freerdp.com).

[2018-06-18 16:50] ecfan commented on #8147
I've created a work item to fix the docs for this. Thanks for the feedback! #please-close

[2018-06-18 16:52] ecfan commented on #9061
The original doc issue has been fixed: https://docs.microsoft.com/azure/logic-apps/logic-apps-using-sap-connector

Thanks!

#please-close

[2018-06-18 16:57] YutongTie-MSFT commented on #10250
@sauercrowd Hi, we have fixed the typo, thanks for your feedback. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-18 16:57] #10250 closed

[2018-06-18 16:58] Mike-Ubezzi-MSFT commented on #10282
@patrick-steele The properties of 'InstanceName' and 'MachineName' returning NULL values is a known issue and is currently being looked at with the functionality + Docs being addressed. IN the meantime, the following SERVERPROPERTY properties should return thei expected values.

[How to programmatically identify a Managed Instance](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-m

[2018-06-18 16:59] gesandovalr opened #10366 "Inventory Service not updating"
Is there anyway to force the inventory? I added this in a few VM and one of them doesn't update at all the svcstate and has been like this for the last 72 hours, do the VM require a restart in order to track the change in the Windows Services?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b338aff-04ac-4867-2aea-e9e12

[2018-06-18 17:03] YutongTie-MSFT commented on #10275
@tutul2010 Hi, this is not a doc-related issue, so please post it in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home) so that we can help well. Thanks a lot and sorry for all inconveniences. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-18 17:03] #10275 closed

[2018-06-18 17:09] kgremban commented on #10283
Hi @timwieman I also saw your email in the Edge DL. The reason that this quickstart doesn't have you declare a route is that all new deployments have a default route that sends all messages from all modules into $upstream. (see screenshot) Did you follow this article on a new device, and didn't get the default route? Or did you follow this article after doing some of the other tutorials and needed

[2018-06-18 17:10] iainfoulds commented on #9724
After reviewing this, we've created a backlog item to look at adding this into the docs that specifically discuss creating VMs within an Availability Zone, such as https://docs.microsoft.com/en-us/azure/virtual-machines/linux/create-cli-availability-zone

For now, #please-close

[2018-06-18 17:11] MicahMcKittrick-MSFT commented on #10287
@Ayanmullick I tried to run this in VSC but was unable to get it to run as expected. I do not see any official documentation on it either. You could give it a try yourself if you like. You only need to modify a single file. However after modifying them the build feature does not appear to work in VSC as it does in VS

[2018-06-18 17:14] ErikFryksen commented on #10077
Hi,
It seems like this is not fully implemented yet but I found out that the information that you are looking for can be access from the Sign-Ins V2 portal found below:
https://portal.azure.com/?Microsoft_AAD_IAM_allsigninsv2=true#blade/Microsoft_AAD_IAM/ActiveDirectoryMenuBlade/SignIns

[2018-06-18 17:16] dksimpson commented on #9732
in-progress

[2018-06-18 17:17] ecfan commented on #7946
Generally, we work with the product team on updating the docs, create work items, and prioritize the work based different factors.

[2018-06-18 17:18] MicahMcKittrick-MSFT commented on #10291
I submitted the fix. Once the changes merge this issue will close and the changes will go live in a few hours.

[2018-06-18 17:18] gilherau opened #10367 "Label of one of the status"
Slight correction: This document says one of the status is "Verifying" when it fact the interface says "Validating".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47d5c2de-7123-2c3f-6125-f918b03c148d
* Version Independent ID: e88b8769-d27a-513c-fdce-ec7279fa61e0
* Content: [Apply performance recommendations - Azure SQ

[2018-06-18 17:18] ecfan commented on #7946
@BryanTrach-MSFT The original doc issue has been addressed, so #please-close.

[2018-06-18 17:20] DavidAnson opened #10368 "Link to Node.js Developer Center is broken"
404: https://docs.microsoft.com/en-us/develop/nodejs/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51fa6592-d9d4-37e7-1d7b-90e0d39716ef
* Version Independent ID: 681707f2-0fa0-4d7a-e754-04261aad4309
* Content: [Build and deploy a Node.js Express app to Azure Cloud Services](https://docs.microsoft.com/en-us/azure/clou

[2018-06-18 17:21] #10156 closed

[2018-06-18 17:27] MohitGargMSFT commented on #10243
@raymak23 Thanks. I see your query has been answered in SO thread. I will move ahead and close this issue. For any new query related to the document, please open a new issue and we will gladly address it.

[2018-06-18 17:27] #10243 closed

[2018-06-18 17:30] carloreggiani commented on #10192
Nope: I tryed 3 time to create a aks cluster: always error for nginx ingress service after creation.

[2018-06-18 17:30] TravisCragg-MSFT commented on #10350
@manaccar We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.