[2021-05-13 16:05] JamesTran-MSFT commented on #74928
@dave22000
I just wanted to check in and see if you had any other questions?

[2021-05-13 16:10] GitaraniSharma-MSFT commented on #75159
@olafloogman , We have assigned this issue to the respective product owner for updating the doc accordingly.

@damendo , as mentioned in my email, request you to review this and update as required.

[2021-05-13 16:10] Ayanmullick commented on #54510
One should be able to point `Read-SqlTableData` to a Log Analytics Workspace table using the workspace id and the workspace key?

https://azure.microsoft.com/en-us/updates/introducing-the-new-azure-logs-table-pane-schema/

[2021-05-13 16:12] #74962 closed

[2021-05-13 16:12] PRMerger17 commented on #70720
monhaber is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-05-13 16:14] teomonda commented on #74824
hello @JamesTran-MSFT , were you able to make any progress here?

[2021-05-13 16:14] #75001 closed

[2021-05-13 16:15] MashaMSFT commented on #71293
Hi @tarwn,

Thank you so much for contacting Microsoft and our apologies for the delay in response! We beg for your patience as we're working through a long backlog of Git Issues.

Let me see what I can do to get this addressed for you.

Thanks!
Masha from the SQL Docs team
#assign:MashaMSFT

[2021-05-13 16:16] Kasisrinivasan commented on #75261
We don't have the AAD tier upgraded to premium to leverage smart lock out but below is the default I see with free tier

![image](https://user-images.githubusercontent.com/2948496/118154322-e7ee4680-b3e4-11eb-80b7-f6dc3d3ed094.png)

Based on your screenshot, I'm guessing the Smart lock out defaults vary between the different AAD tiers

[2021-05-13 16:20] JamesTran-MSFT commented on #74824
@teomonda
Thank you for following up on this!

The issue is currently assigned to the author @Justinha. However, due to our high volumes, please give Justin some time to look into this and provide any updates.

[2021-05-13 16:21] daveba commented on #75161
Please work with @mtillman to assign to correct content developer.

[2021-05-13 16:28] MashaMSFT commented on #73022
HI @jdanton , thanks for contacting Microsoft and providing your feedback! I've removed these two bullet points from the checklist :) This change will be live next week.

I hope that helps and please let me know if we can help further! I'll close out this Git Issue for the time being but please feel free to comment should you need additional assistance.

Thanks again for reaching out and I hope yo

[2021-05-13 16:28] #73022 closed

[2021-05-13 16:31] MashaMSFT commented on #71954
Hi @slime-uk, thanks for contacting Microsoft! An Azure RM equivalent to New-AzSqlVM does not exist as it was only created for the Az model. As such, we will not be updating the documentation with this information.

However, for your reference, you can use the Azure RM virtual machine commands to register:
o	Connect-AzureRmAccount -TenantId <TenantID> -SubscriptionId <SubId>
o	Set-AzureRmVMSqlServ

[2021-05-13 16:31] #71954 closed

[2021-05-13 16:32] MashaMSFT commented on #74116
Hi @tomaszkuciaba , thanks for the further clarification. In that case, we'll need to investigate further.

Please bear with us :)

Thanks!
Masha from the SQL Docs team

[2021-05-13 16:32] MashaMSFT commented on #74116
#please-open

[2021-05-13 16:32] sumeetmittal commented on #75134
Limitation section for the Private Link Service page is updated.
Re: ETA - This is a roadmap item for H2CY21 but subjected to planning decisions..

[2021-05-13 16:34] r-milne opened #75264 "Update Premier / Unified"
Hi folks,

The TAM nomenclature was dropped this FY.  They are now CSAMs.  Can we add that in  please so we are using the current terminology?

Cheers,
Rhoderick

Microsoft Premier\Unified support training available
If you're interested in learning more about Azure AD Password Protection and deploying it in your environment, you can take advantage of a Microsoft proactive service available to thos

[2021-05-13 16:35] JamesTran-MSFT commented on #75261
@Kasisrinivasan
Thank you for the quick follow up on this!

My test tenant is using the free tier also, but I can see the same defaults within my premium tenant. However, I believe you're right, that the defaults can vary between Public and Gov tenants.

![image](https://user-images.githubusercontent.com/36619112/118156444-36dcb180-b3ce-11eb-9753-bc3b55de0f65.png)

I've created a PR to update the

[2021-05-13 16:35] #75261 closed

[2021-05-13 16:36] JamesTran-MSFT commented on #75264
@r-milne
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-13 16:38] MashaMSFT commented on #72283
Hi @meteor8shower , thanks so much for contacting Microsoft with your feedback! I have processed a change to update this link and it will be live next week.

I'll close out this Git Issue for the time being but please feel free to comment should you need anything further.

Thanks again for reaching out and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#assign:MashaMSFT

[2021-05-13 16:38] #72283 closed

[2021-05-13 16:38] SamaraSoucy-MSFT commented on #75256
Thanks for the feedback! We will review and get back to you shortly.

[2021-05-13 16:40] MashaMSFT commented on #73066
Hi @chull434 , thanks so much for contacting Microsoft! I checked the links and they're working as of today. I'll close out this Git Issue for the time being but please comment should you need anything further.

Thanks again for reaching out and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close
#assign:MashaMSFT

[2021-05-13 16:40] #73066 closed

[2021-05-13 16:41] stevevi commented on #75263
That path is then appended to the endpoint, something like:

https://<your-custom-domain>.cognitiveservices.azure.us/translator/text/v3.0/translate?api-version=3.0

and then you append parameters for specific language such as "to=de".  It should work as stated and probably will work with just:

https://<your-custom-domain>.cognitiveservices.azure.us/translator/text/v3.0/translate?to=de

Why don't

[2021-05-13 16:42] MashaMSFT commented on #74116
@psmanhas, can you please reopen this Git Issue?

[2021-05-13 16:47] MashaMSFT commented on #73114
Hi @rukasakurai , thanks so much for bringing this to our attention! It looks like the links are working as of today. I'll go ahead and close out this Git Issue but please feel free to comment should you need anything further.

Thanks again for reaching out and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close
#assign:MashaMSFT

[2021-05-13 16:47] #73114 closed

[2021-05-13 16:47] JamesTran-MSFT commented on #75264
@r-milne
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-05-13 16:47] #75264 closed

[2021-05-13 16:48] MashaMSFT commented on #73219
Hi @rarandiv , thanks for contacting Microsoft! My apologies for the delay, we're working through a long backlog of items.

Let me see what I can do to get this addressed for you.

Thanks!
Masha from the SQL Docs team
#assign:MashaMSFT

[2021-05-13 16:50] MashaMSFT commented on #73668
Hi @thommck , thanks for bringing this to our attention! Please bear with me as I investigate further.

Thanks!
Masha from the SQL Docs team

#assign:MashaMSFT

[2021-05-13 16:50] MashaMSFT commented on #73887
Hi @MarileeTurscak-MSFT , thanks for letting us know! Let me research this.

Thanks!
Masha from the SQL Docs team
#assign:MashaMSFT

[2021-05-13 16:53] AnthonyDelagarde commented on #11661
@tfitzmac the issue with resource navigation links is blocking the implementation of IPV6 on a  VNET

[2021-05-13 16:53] DerekHerman-MSFT opened #75265 "Please add a note that archive tier blobs are currently not supported."
I was able to confirm this with the product team. Please add a note.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 432e14b2-ad83-1b83-540d-6fa156c06d5f
* Version Independent ID: b7e6f994-c245-fa25-3dec-669b09e0ee77
* Content: [Search over Azure Blob storage content - Azure Cognitive Search](https://docs.microsoft.com/

[2021-05-13 16:53] MashaMSFT commented on #73978
Hi @nielsheeren , thanks for bringing this to our attention! Let me see what I can do to help.

Thanks!
Masha from the SQL Docs team
#assign:MashaMSFT

[2021-05-13 16:55] MashaMSFT commented on #74060
Hi @oliharvey , thanks for bringing this to our attention! Let me look into this for you.

Thanks!
Masha from the SQL Docs team
#assign:MashaMSFT

[2021-05-13 16:59] JamesTran-MSFT commented on #75245
@hristokrastev
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-13 17:07] MashaMSFT commented on #74320
Hi @jonmartin136 , thanks for reaching out! Let me research this for you.

Thanks!
Masha from the SQL Docs team
#assign:MashaMSFT

[2021-05-13 17:08] himanshusinha-msft commented on #75186
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-05-13 17:12] himanshusinha-msft commented on #75257
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-05-13 17:12] BryanTrach-MSFT commented on #75265
@DerekHerman-MSFT Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-13 17:18] SaiKishor-MSFT commented on #75260
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-05-13 17:19] YutongTie-MSFT commented on #75068
@pvasek Thanks for the feedback again. I have contacted the author, she will update the document properly.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-05-13 17:19] #75068 closed

[2021-05-13 17:25] NavtejSaini-MSFT commented on #75254
@langstonj We are checking this and will get back to you.

[2021-05-13 17:25] NavtejSaini-MSFT commented on #75255
@Tovli We are checking this and we will get back to you.

[2021-05-13 17:36] huwgeric opened #75266 "The "Frequently asked questions " need updating..."
In the section "Frequently asked questions" - "When will the new end point become the default for upgrades and new installations? "
In this section, you mentioned in Feb 2021 the ADConnect new release: will use the V2 end point by default [This is correct] and will enable syncing groups larger than 50K without any additional configuration[This is not correct, the new configuration still only suppo

[2021-05-13 17:52] MicrosoftGuyJFlo commented on #75176
@ConfigConfused There was an issue with an updated version of the extension that was caught after the doc went live. The issue has been corrected and should now work as intended. I have retested this morning. If you already deployed a VM you may need to remove and re-install the extension.

[2021-05-13 18:05] MarileeTurscak-MSFT commented on #75266
@huwgeric
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-13 18:11] MikeDodaro commented on #75131
Added the following section to the Deployment topic:

1. If you didn't run the following commands in the previous quickstarts, set the CLI defaults.

Azure CLI
az configure --defaults group='resource group name' spring-cloud='service name'
az spring-cloud config-server git set -n 'service instance name' --uri https://github.com/azure-samples/spring-petclinic-microservices-config

[2021-05-13 18:15] mtillman commented on #75161
#assign @Nicholak-MS who maintains this page

[2021-05-13 18:17] mtillman commented on #75161
#reassign @Nicholak-MS

[2021-05-13 18:23] daniel-fv opened #75268 "Password minimum length in tutorial-enable-sspr-writeback"
In the step **Configure account permissions for Azure AD Connect** we are asked to change the password minimum length within Account Policies using **gpedit.msc**.

gpedit modifies the local computer policies but because we are in a Domain Controller we should be editing the Group Policy Management **gpmc.msc** instead.

I was unable to edit the password minimum length using gpedit.msn I had to us

[2021-05-13 18:30] santhoshbomma9 opened #75269 "Example of creating create an object in Azure AD"
Do we have an example of ARM template deployment scripts creating an Azure AD object?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5c4c8c5-7757-a969-5800-17f2f2312649
* Version Independent ID: 9ced8dd5-43ca-6d1f-c054-842299db8327
* Content: [Use deployment scripts in templates - Azure Resource Manager](https://docs.

[2021-05-13 18:32] JamesTran-MSFT commented on #75268
@daniel-fv
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-13 18:37] callit commented on #74009
I should clarify, I don't know that this is a documentation issue.  Thought
this feedback might go to the team that developed the integration.

I tested multiple other permissions but could only get provisioning to work
with a full admin account.  Not ideal from a security standpoint,
especially when a user_admin and web_service_admin should theoretically do
the trick - the only thing this integra

[2021-05-13 18:43] flyingUnderTheRadar commented on #74936
Were you able to hit the default httptrigger?

[2021-05-13 18:43] Akshat59 opened #75270 "Need applicable subscription details"
Can we enable account lock feature with free subscription or do we need premium
This page should tell us that

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b526157-3403-0211-9fda-9072bda47466
* Version Independent ID: f0ab253a-616c-b1ae-62ba-45f6500e69dd
* Content: [Manage threats to resources and data - Azure AD B2C

[2021-05-13 18:48] ssarwa commented on #75131
Yes. This would make sense. thanks for this.

[2021-05-13 18:57] Nicholak-MS commented on #75161
PR has been created for the name change. #158657

[2021-05-13 19:00] MarileeTurscak-MSFT commented on #75270
@Akshat59
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-13 19:08] rbegito opened #75271 "Azure Firewall bandwidth consumption between availability zones"
I couldn't find in the Azure Firewall documentation what is the estimated traffic between av zones when this option is selected.
Because of the statement  below:
"There's no additional cost for a firewall deployed in an Availability Zone. However, there are added costs for inbound and outbound data transfers associated with Availability Zones"

This question has been recurring in discussions with

[2021-05-13 19:11] textminer opened #75272 "Semantic Search preview enablement days"
Could you please clarify how many days it takes to be enabled to start using Semantic Searches?
I have created the Azure Search component with S1 tier, then I signed for the Preview and when I do follow the instructions, I keep receiving:

"Semantic search is not available for this service."

while hitting the REST API 2020-06-30-Preview version through the Azure Portal.

Thanks.

---
#### Documen

[2021-05-13 19:18] leandmilo opened #75273 "SHAREFILE PROVISIONING"
[Hi guys, can you add how to provision sharefile users please? There is nothing there]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0bc4f40-b67f-5d0d-88f3-7627963d6dd8
* Version Independent ID: e2898011-786f-0157-a567-14e12c8cb384
* Content: [Tutorial: Azure Active Directory integration with Citrix ShareFile](https:

[2021-05-13 19:21] MattBishop13 opened #75274 "Do not see Azure Diagnostics settings in Databricks Blade"
[ Do not see Azure Diagnostics settings in Databricks Blade
![image](https://user-images.githubusercontent.com/49490739/118176046-e3cf2280-b3fe-11eb-9a58-a673215d3297.png)
]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa60fa41-f753-9c55-c799-a870bdb219a4
* Version Independent ID: 786b27ec-7f4d-ad35-e26d-5832c072536e

[2021-05-13 19:34] HeidiSteen commented on #75272
Hi @textminer, can you email the preview team at semanticpreviewext@microsoft.com?  It's usually one business day. Someone on that team can investigate and unblock you.  I'll watch for your email and then close this issue once I see it.

[2021-05-13 19:45] JamesTran-MSFT commented on #75273
@leandmilo
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-13 19:45] MarileeTurscak-MSFT commented on #75270
@Ashkat59 Good question and thanks for the feedback! It is on for everyone already, regardless of license. This is documented in the Azure AD page but not this B2C page. https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-password-smart-lockout

I made a pull request to add this to the document. https://github.com/MicrosoftDocs/azure-docs-pr/pull/158669

@msmimart please r

[2021-05-13 19:45] #75270 closed

[2021-05-13 19:46] aakash-shah opened #75277 "Clarify Whether TCP port 443 (and TCP port 5671) Require Inbound or Outbound Access"
In the Requirements section, in the line for "Firewall ports on the server are running the agent", it indicates that TCP port 443 (and TCP port 5671 for older versions) is required. Please indicate the direction to clarify whether _inbound_ TCP 443 or required, or whether _outbound_ TCP 443 is required.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2021-05-13 19:48] KranthiPakala-MSFT commented on #75197
@Pariyat - Are you noticing any error or issue? If so could you please share it with us? - Thanks

[2021-05-13 19:50] ValOlson commented on #74903
@jeevannagvekar thank you for sharing you logs, device, manifest details. The team will be investigating shortly and we will update you when we know more.

[2021-05-13 19:57] v-dawsonlisa opened #75279 "Customer Feedback - request updates to this document"
The feedback below is directly from the customer for DFM Case 2104270060003089 - Cloud-init not working correctly:

"The supported RHEL version list seems quite out of date – RHEL8.1 was the last version listed and that is quite behind now (our cybersecurity people wouldn’t let us use something that old even if we were inclined to do so). Even the Private Offering we have from Red Hat was using 8.

[2021-05-13 20:03] MarileeTurscak-MSFT commented on #75266
Thank you for this feedback. I made a pull request to update the FAQ. https://github.com/MicrosoftDocs/azure-docs-pr/pull/158673

@billmath please review this feedback and this PR.

[2021-05-13 20:03] #75266 closed

[2021-05-13 20:09] JamesTran-MSFT commented on #75277
@aakash-shah
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-13 20:09] pisees opened #75280 "npm based setup is for TypeScript"
It looks like the code showing in "npm based setup" is for TypeScript and not JavaScript. Is that the case?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d56ecb14-9e66-5313-a381-d2824ec3d1e2
* Version Independent ID: ff056ac8-ae76-be10-6895-757333a28e05
* Content: [Azure Application Insights for JavaScript web apps -

[2021-05-13 20:22] seanmcne opened #75281 "Page should include steps on how to register an admin management application using an appid"
Please include steps on how to register an admin management application using powershell and/or an api call (to grant the appid/service principal permission to access powerplatform admin apis).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9642c47-826b-017f-eff3-ab3b25e4e454
* Version Independent ID: 091f26e7-6543-ef

[2021-05-13 20:44] iamguptarishi opened #75282 "App registration secret expiration limit"
Earlier we were able to set the limit for expiration of token to never and use it in application without bothering any time limit. But it seems that Microsoft has enforced a limit to set the expiration of client secret to 2 years. This cannot be changed from UI. The document needs to be updated accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2021-05-13 20:56] JamesTran-MSFT commented on #75281
@seanmcne
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-13 20:57] JamesTran-MSFT commented on #75282
@iamguptarishi
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-13 20:58] JamesTran-MSFT commented on #75258
@pisees
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-13 21:00] JamesTran-MSFT commented on #75259
@xiongyu0523
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-13 21:01] JamesTran-MSFT commented on #75259
@xiongyu0523
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-13 21:28] ChaitanyaNaykodi-MSFT commented on #74972
Hello @Smoles, Thank you for the feedback, I have made a PR to accommodate the suggested changes which is currently under doc-author's review. We will now proceed to close this issue out, please tag me in your response if there are any additional concerns. Thank you!

[2021-05-13 21:28] #74972 closed

[2021-05-13 21:34] #75131 closed

[2021-05-13 21:37] christiankuhtz commented on #66849
port masquerading SNAT is only used when communicating with endpoints on public Internet.  All communication between endpoints in Azure is on Microsoft's global backbone.  @sumeetmittal  can you help with 3, 4.1, 4.2?

[2021-05-13 21:39] GiftA-MSFT commented on #74970
@maksim-at-cedrus we don't support negative image label for object detection at the moment but it's on our roadmap. Detection implicitly pulls information from the background, i.e., area outside labeled bounding boxes/objects as negative information. Usually it is good enough, but sometimes it is not. Sorry for any inconvenience.

[2021-05-13 21:52] sijoxavier89 opened #75285 "redundant info - concurrent connections"
[Enter feedback here]
Looks like redundant info, which is correct information for **concurrent connections**

---
#### Document Details
![concurrent](https://user-images.githubusercontent.com/25562242/118192300-f0aa4100-b413-11eb-97a7-939a62768a1e.PNG)

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b32e9d86-72de-a3ab-62ac-b628816bd7de
* Version

[2021-05-13 21:54] #74970 closed

[2021-05-13 21:55] kimballjohnson opened #75286 "Possessive Confusion"
This page attempts to explain the multiplicity of relationships among subscriptions, tenants, directory, and trust relationships.
However, in several places, the multiplicity descriptions are confused.

The canonical multiplicity relationships are one-to-one, one-to-many, many-to-one, and many-to-many. But this terminology is not used or emulated.

This article tries to be specific with multiplici

[2021-05-13 22:02] JamesTran-MSFT commented on #75286
@kimballjohnson
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-13 22:03] dave22000 commented on #74928
@JamesTran-MSFT  I have confirmed this tenant has P2 licensing. We are not trying to use a different monitoring solution, just the in-portal Users tab experience with the last month filter

[2021-05-13 22:05] NavtejSaini-MSFT commented on #74965
@sakash279 Please check the feedback further and take necessary action.

[2021-05-13 22:06] NavtejSaini-MSFT commented on #75121
@sambyng-msft Please let us know if you need further help.

[2021-05-13 22:08] JamesTran-MSFT commented on #74928
@dave22000
Thank you for the quick follow up on this! I'll pass your words along to our PG team and update as soon as possible.

[2021-05-13 22:11] dlepow commented on #74290
@mikebudzynski - Is there detail about OpenApiError you'd recommend adding to the docs? Thanks!

[2021-05-13 22:18] NavtejSaini-MSFT commented on #75245
@sr-msft We will need your insight and approval to add this info. Please help us regarding the same.

[2021-05-13 22:22] NavtejSaini-MSFT commented on #75254
@langstonj Can you please confirm what you mean by the you are not seeing value for this. Please elaborate for us.

[2021-05-13 22:26] #63949 closed

[2021-05-13 22:27] stevevi commented on #74737
Thanks, @CHDAFNI-MSFT for your feedback.  That is an old article that I am planning to rewrite completely.  However, given our DoD direction, I am planning to delete the entire Q&A section on DoD regions as we are not investing there anymore.  Instead, DoD customers are encouraged to use regular Azure Gov regions where we have much better service coverage and greater IL5 footprint.  If you perceiv

[2021-05-13 22:29] zr-msft commented on #63949
Thank you @patrick-stephens for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

[2021-05-13 22:33] sumeetmittal commented on #66849
#3 - yes, regional VNET Integration is only for inbound traffic to VNET. Inbound to WebApps is not applicable with regional VNET integration. It doesn't grant private access to your app.
#4.1, 4.2 - Please refer: https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet. It talks at length about NSGs with regional integration.
@ccompy (@ChristinaCompy) can help more from Web

[2021-05-13 22:36] NavtejSaini-MSFT commented on #75255
@danimir 3 links are not working for this page and we have found relevant links for the two and make the change and for the third one we have the lead but again need your confirmation.
The two which we are more confident about is :
Import data from Blob storage using ADF V2 - https://github.com/Azure/azure-quickstart-templates/tree/master/101-data-factory-v2-blob-to-sql-copy
Azure Logic App that r

[2021-05-13 22:52] sakash279 commented on #74965
please use the latest python SDK which is located here. That is more up-to date :
https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/tables/azure-data-tables#creating-entities

In addition, we have opened an issue to include more comprehensive samples there:
https://github.com/Azure/azure-sdk-for-python/issues/18732

[2021-05-13 23:01] kilasuit commented on #75179
No problem thought the PR is set up so it would have Auto closed this when merged anyway :-)

[2021-05-13 23:15] alexandermckay commented on #45642
"And we'll get a 401 Unauthorized, just like we should. Now, we'll add the function key as request-header (remember the value of the function key was test)" Are you definitely passing the function key when you make your requests?

[2021-05-13 23:18] CHDAFNI-MSFT commented on #74737
Hi @stevevi
Acknowledged and sounds good!

[2021-05-13 23:23] KranthiPakala-MSFT commented on #75274
@MattBishop13 Thanks for reaching out. Could you please tell us what Pricing tier is your Azure Databricks service? Is it standard or a Premium plan?

Diagnostic logging in Azure Databricks is currently available only in Azure Databricks Premium plan.

Hope this helps.

[2021-05-13 23:39] xuegao112 opened #75288 "ASP.NET 2.1 With NLog can't be sampled"
Hi team,

I upgrade my AI SDK and NLog nuget package as below:
Microsoft.ApplicationInsights.AspNetCore                           2.2.1      ->         2.17.0
Microsoft.ApplicationInsights.NLogTarget                            Custom ->      2.17.0
NLog                                                                                             5.0.0-beta10 ->              Not upgraded
NLog.Web.Asp

[2021-05-13 23:48] BharathNimmala-MSFT commented on #75269
@santhoshbomma9 Thank you for reaching out with your query, our team will review it and get back to you at the earliest

[2021-05-13 23:49] BharathNimmala-MSFT commented on #75280
@pisees Thank you for reaching out with your query, we will review it and get back to you at the earliest.

[2021-05-13 23:51] JamesTran-MSFT commented on #75288
@xuegao112
Thank you for your feedback! Would you be able to share the documentation that you followed, so I can correctly route your issue.

[2021-05-13 23:59] SaiKishor-MSFT commented on #75271
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-14 00:09] Peppers911 opened #75289 "Wrong <cache-lookup-value/> documentation"
[https://docs.microsoft.com/en-us/azure/api-management/api-management-caching-policies#attributes-2](Documentation) on property `variable-name` is saying that:

But it looks like it does not. Trace message on cache miss:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 181c69b0-e136-426b-02f5-4a1a8f0f419d
* Version Indep

[2021-05-14 00:30] SamaraSoucy-MSFT commented on #75113
I've submitted a pull request to update the doc. It will go live once it has been reviewed by the author.

[2021-05-14 00:30] #75113 closed

[2021-05-14 00:43] mike-urnun-msft commented on #74900
@LoW0lf I'm pretty sure the default auth is SAS. I have reached out to the Event Grid team internally for confirmation, and once I hear back, I will update you here.

[2021-05-14 00:43] chiehpower commented on #75088
Hi @VikasPullagura-MSFT

Sorry for my late reply.

Thanks for your information! Then it makes sense!
I tried to build a long-running process image from a dockerfile, although it was still failing on the latest version of the Tensorflow GPU image, so I guess it is probably a configuration problem. It is better if we can know the exact conditions.

Got it!! Thank you so much!!

BR,
Chieh

[2021-05-14 00:52] TravisCragg-MSFT commented on #75279
@v-dawsonlisa Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-05-14 01:29] mikebudzynski commented on #74290
@dlepow, this is the error's data contract:

[code]

Name, type, validation rule, and details are already described in this section: https://docs.microsoft.com/en-us/azure/api-management/validation-policies#validation-errors

Action corresponds to the an `action` specified in the policy.

We could improve the documentation to make it clearer.

[2021-05-14 01:31] arincolaf commented on #75159
Thanks @GitaraniSharma-MSFT. Could you advise me what's the best way forward to raise an issue about NSG flows not working for App Services / Function Apps that route outbound traffic via a VNET? This is a highly desirable feature, and I was surprised to find out flow logs don't appear for Function Apps.

[2021-05-14 02:15] PramodValavala-MSFT commented on #74936
@flyingUnderTheRadar Yes. With the port mapping above, the endpoint would be `http://localhost:7071/api/Function1`.

[2021-05-14 03:10] oadrian2 opened #75291 ""HTTP trigger, look up ID from route data" JavaScript example uses incorrect casing"
The example function.json uses C# casing rather than the JSON casing.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9e3fe74-1d65-41eb-6a5e-0595e6d06029
* Version Independent ID: 8933389b-f4c0-acbd-afe3-86f18738c1f9
* Content: [Azure Cosmos DB input binding for Functions 2.x and higher](https://docs.microsoft.

[2021-05-14 03:15] #75214 closed

[2021-05-14 03:38] Hyperpolymath opened #75292 "spelling error on this page"
https://management.core.windows.net/<subscrition-id>/services/hostedservices/<service-name>?embed-detail=true

should say 'subscription' presumably? error in missing 'p' in url
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d31d40a3-4ec9-e9ec-0eb9-7c83c8074036
* Version Independent ID: 1ce63082-48

[2021-05-14 04:42] jeevansd commented on #74009
@ArvindHarinder1 Can you please review this?

[2021-05-14 04:45] BhargaviAnnadevara-MSFT commented on #75292
@Hyperpolymath Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-05-14 04:47] jeevansd commented on #75273
@v-rant Can you please work with ShareFile team and get this document updated?

[2021-05-14 04:51] jeevansd commented on #75238
@v-rant Can you please reach out to JFrog team and verify this change?

[2021-05-14 04:57] KranthiPakala-MSFT commented on #75206
Hi @roopasd - There is no Databricks enforced limit if this is set to Optional. Subscription limits for VMs will be the limiting factor.

[2021-05-14 05:27] MattBishop13 commented on #75274
This is perfect thank you for the clarity
________________________________
From: Kranthi Pakala ***@***.***>
Sent: Thursday, May 13, 2021 4:24 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Bishop, Matt ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Do not see Azure Diagnostics settings in Databricks Blade (#75274)

@MattBishop13<https://nam11.safelinks.protection.out

[2021-05-14 05:29] kellylu2sym commented on #75242
sorry for the wrong linke ,the connection str is in this doc :
https://docs.microsoft.com/en-us/azure/storage/files/storage-java-how-to-use-file-storage?tabs=java

[2021-05-14 05:30] JamesTran-MSFT commented on #75285
@sijoxavier89
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-14 05:33] JamesTran-MSFT commented on #75289
@Peppers911
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-14 05:40] prasadgsk opened #75293 "not able to save project - always says my connection don't have storage account, but it has storage account"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67f00138-7492-ba6e-6665-de0a6e0803f8
* Version Independent ID: 3835780b-1ace-77e3-553e-a537b6084de9
* Content: [Quickstart: Label forms, train a model, and analyze forms using the sample labeling tool - Form Recognizer - Azure Cognitive Services](http

[2021-05-14 05:44] prasadgsk commented on #75293
trying to create new custom project using my storage blob container, creates cors entry also
![sa](https://user-images.githubusercontent.com/29196508/118227086-929a4f80-b44d-11eb-8a33-7bbc4ea5ea72.PNG)

https://fott-preview.azurewebsites.net/projects/create

[2021-05-14 05:47] prasadgsk commented on #75293
trying to create new custom project using my sa, always return this error (screen shot)
FYI _ created CORS also for domain = https://fott-preview.azurewebsites.net

![sa](https://user-images.githubusercontent.com/29196508/118227239-d1300a00b44d-11eb-926e-757974556cb8.PNG)

[2021-05-14 05:48] prasadgsk commented on #75293
![sa](https://user-images.githubusercontent.com/29196508/118227385-13594b80-b44e-11eb-9f11-03e0eff8ca07.PNG)

[2021-05-14 05:54] carlosporter opened #75294 "Latest server image for RHEL 7.8 doesn't includes the cloud-init packages."
The documentation says that all server images for RHEL 7.8 support cloud-init

Quote:
 "All RedHat:RHEL 7.8 and 8.2 (Gen1 and Gen2) images are provisioned using cloud-init."

However, during testing I confirmed that cloud-init is not installed on this server image RedHat:RHEL:7.8:7.8.2021051101 ( gen1 )

Example:
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2021-05-14 05:57] jixin85 opened #75295 "Azure file storage is supported as data source"
[Enter feedback here]

Supported data source should include Azure file storage. The listed source only have Azure blob storage, which is confusing to blob only.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efa63aaf-3cb7-96aa-814e-b99cb262973f
* Version Independent ID: 4374af9e-c366-64a1-7562-e481aefb75ba
* Content: [P

[2021-05-14 06:03] ChaitanyaNaykodi-MSFT commented on #74989
Hello @JamesEarle, apologies for the delay. You can refer the [example here](https://github.com/Azure/azure-functions-python-library/blob/dev/tests/test_blob.py) for unit testing in Python.
As there is already an [open issue here](https://github.com/MicrosoftDocs/azure-docs/issues/66844) to track this request. We will now proceed to close this issue out. Please tag me in your response if there are

[2021-05-14 06:03] #74989 closed

[2021-05-14 06:42] karimyousfi opened #75296 "The usage of ${WEBAPP_STORAGE_HOME} in tutorial returns 502.3 bad gateway for images only"
I've been following [this ](https://docs.microsoft.com/en-us/azure/app-service/tutorial-multi-container-app ) tutorial and I have been successful in getting a multi container WordPress installation with a mysql server database and persistent storage.

I've validated the files are mapped correctly using Kudu and I can see all the wordpress files there.

The problem I'm facing is that all images sto

[2021-05-14 07:28] olitomlinson opened #75297 "Ambiguous step in doc"
There is an instruction which says

"Blank out the `api_location` value in the workflow configuration file."

My immediate thought was

- Do I just replace with `"api_location" : ""`
- Do I use null? `"api_location" : null`
- Do I delete the element completely?

Honestly, I took a guess, which was luckily the correct option - `"api_location" : ""` - but it still caused me some moments of thinking/

[2021-05-14 08:00] iamim opened #75298 "Docs article on how to move Azure Storage account does not provide steps on how to actually move it"
The article is lacking the actual discription of how to perform the data move. It only describes the steps necessary for prep work and then redirects to a Getting Started page of AzCopy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f021361-e2aa-1ded-2045-83c56eb22851
* Version Independent ID: ae6d967a-dbea-2d40-c8c5

[2021-05-14 08:14] snakefoot commented on #75288
`NLog 5.0.0-beta10` is deprecated and no longer supported. Please upgrade to:

- NLog ver. 4.5.11 (or newer)
- NLog.Web.AspNetCore ver. 4.5.4 (or newer)

[2021-05-14 08:32] marcelkmfst commented on #75044
Yes, was az Sku. But docs are still Not correct then

Holen Sie sich Outlook für iOS<https://aka.ms/o0ukef>
________________________________
Von: Gitarani Sharma ***@***.***>
Gesendet: Thursday, May 13, 2021 2:30:32 PM
An: MicrosoftDocs/azure-docs ***@***.***>
Cc: Marcel Keller ***@***.***>; Mention ***@***.***>
Betreff: Re: [MicrosoftDocs/azure-docs] Upgarde to Ultra SKU (#75044)

@marcelkmfst<ht

[2021-05-14 08:48] kp2017 opened #75299 "Page main idea and structure is confusing and misleading."
This page is confusing because the main idea paragraph muddies the water between Kubernetes RBAC and AKS.  Kubernetes RBAC is a part of AKS, right? So how can AKS further enhance security and permissions (refer to the snippet)? It seems like AKS has its own application RBAC and also integrates with AAD RBAC.

If we can agree upon the main idea paragraph, then we can move to the next confusing issu

[2021-05-14 09:06] signoredems opened #75300 "Grammar issue"
Current wording: "The architect used Traffic Manager to route traffic to global backends for file and object delivery. While using Front Door, to globally route URL paths that match the pattern /store/* to the service they’ve migrated to App Service. Lastly, routing all other requests to regional Application Gateways."

The second and third sentences are fragments. Here are two alternatives:
1. "T

[2021-05-14 09:45] rtrigueiro opened #75303 "Per-User MFA Licensing"
Hi team,

I'm having hard time to understand the required licensing for per-user MFA.

On this article we see “All Microsoft 365 Plans” can enable MFA on a per-user basis:
https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-mfa-licensing

and here:

https://docs.microsoft.com/en-us/microsoft-365/admin/security-and-compliance/multi-factor-authentication-microsoft-365?view

[2021-05-14 10:12] AndyCross opened #75304 "Available update on "bicep cli""
The newer versions of bicep are shipped inside az cli, so the document could be updated to show commands thus:

[code]

Currently they're shown as

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 453a52e3-47e6-9db6-f0df-b947952e5318
* Version Independent ID: c4c820e9-3b2e-766f-4f97-73ed2842f02a
* Content: [Conver

[2021-05-14 10:34] v-hagamp commented on #74661
Issue resolved with the verified domain value in the URL.
#please-close

[2021-05-14 10:34] #74661 closed

[2021-05-14 10:37] v-hagamp commented on #71843
Issue resolved as per the above suggestion.
#please-close

[2021-05-14 10:37] #71843 closed

[2021-05-14 11:08] AwdotiaRomanowna opened #75305 "weird character in the docs itâ€™s"
weird character itâ€™s

![image](https://user-images.githubusercontent.com/17368813/118262626-6f0aef80-b4b5-11eb-8dd7-6d231ee17e45.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d941a213-7706-3e46-9cc7-cbab9f68f0c1
* Version Independent ID: 8b2fb29a-6102-2222-245f-2ed37547e3ef
* Content: [Backup Azure Database for

[2021-05-14 11:17] mohmdnofal opened #75306 "Change details for how a disk is provisioned"
in [Use the persistent volume](https://docs.microsoft.com/en-us/azure/aks/azure-disks-dynamic-pv#use-the-persistent-volume) it mentions:
Once the persistent volume claim has been created and the disk successfully provisioned, a pod can be created with access to the disk.

The above is no longer correct as we use "WaitForFirstConsumer" as the default binding mode in the default azure disk storage c

[2021-05-14 11:19] craigshoemaker commented on #73982
Thanks @itpropro for pointing this out! The doc is updated now to remove the section that references the deprecated _routes.json_ file.

#please-close

[2021-05-14 11:19] #73982 closed

[2021-05-14 11:29] craigshoemaker commented on #75297
@olitomlinson - excellent point! I have updated the doc in a few places to read more like this:

The live site will update in a few hours 😉

#please-close

[2021-05-14 11:29] #75297 closed

[2021-05-14 11:37] craigshoemaker commented on #69996
Since it's been over two weeks since there has been any activity on this thread, I am going to ask to #please-close this issue.

@Anand-Moghe, if you have further questions, please feel free to open a new issue against the [DevOps article](https://docs.microsoft.com/azure/static-web-apps/publish-devops).

[2021-05-14 11:37] #69996 closed

[2021-05-14 11:50] chakravarthil opened #75307 "Unable to disable geo backups for Synapse SQL pool"
I am unable to disable the geo backup for synapse dedicated SQL Pool as the option in the page is grayed out. I have owner role on both the synapse workspace as well as the SQL pool.

![image](https://user-images.githubusercontent.com/26144172/118266525-5bbd4b80-b4d8-11eb-94bf-83ee59d28a14.png)

Tried in the regions Central India and UK South but the issue persists in both the regions

---
#### Do

[2021-05-14 12:14] lucarv opened #75308 "unable to ssh into device"
[Enter feedback here]
I have a private preview device. I can't create an ssh user using the onboarding experience, but understand this is a known issue.
I can't ssh using root/p@ssw0rd either, I get
Received disconnect from 10.1.1.1 port 22:2: Too many authentication failures
In this document you say one can run a command to recover the root user for ssh, but you also say that you need to run thes

[2021-05-14 12:15] chengyu-liu-cs commented on #74688
We can close this issue. I got a solution from MS customer support.

[2021-05-14 12:15] #74688 closed

[2021-05-14 12:25] agoodwin opened #75309 "WithPrompt recommended guidance incorrect?"
Hi,

Last one from me on this page I promise.

For interactively acquiring a token, a lot of the examples I see show something like this:

[code]

That example is from [here](https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/blob/505d311f1d6ef9dbb7a51751a206502f01773be9/1.%20Desktop%20app%20calls%20Web%20API/TodoListClient/MainWindow.xaml.cs#L286).

In trying to underst

[2021-05-14 12:38] jgcjoec opened #75310 "Is "Windows 64-bit version" truly required?"
Is "Windows 64-bit version" **truly** required? If so, why? Why isn't JIRA Server running on Linux supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d38cad90-6574-38c2-3262-059a9f975064
* Version Independent ID: dd08d5c5-65a4-c2cc-8b51-7a35268dde68
* Content: [Tutorial: Azure Active Directory single sign-on (SS

[2021-05-14 12:53] yobyot opened #75311 "A major change deserves a proofread"
This is a major change in AD. This page is full of subject-verb disagreements and dropped indefinite articles among more serious content organization issues. Surely, the product group can afford a proofreader to fix these issues so they aren’t jarring to a reader struggling to understand the CAE concepts and implementation.

I’ll never understand why MSFT permits product documentation to be publis

[2021-05-14 13:00] jgcjoec opened #75312 "Why do I need to set my users up in 2 places?"
In reading this page, specifically the "Create JIRA SAML SSO by Microsoft test user" section it seems like I have to provision my users in Azure AD AND also in JIRA. Why do I also need to provision them in JIRA? Why not implement this as another "User Directory" in JIRA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d

[2021-05-14 13:02] sambyng-msft commented on #75121
Could you provide more information on the Azure Portal IPS - will they ever change?

I'm looking to set up a Cosmos DB account using ARM outside of Azure portal, and not have to go in to azure portal.

Can i take the set of Azure Portal IPs to be fixed permenantly?

Worry is that the IPs change and I can no longer access my Cosmos DB account in the portal.
________________________________
From: Na

[2021-05-14 13:13] johnpapa opened #75314 "What does JavaScript v12 vs v2 mean?"
See here

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/storage/queues/storage-nodejs-how-to-use-queues.md#javascript-v12

cc @craigshoemaker

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4663227e-b796-6acb-db37-8459eb5fb420
* Version Independent ID: dc2373d5-07c2-aec9-def8-f6d8d8b3a443
* Content: [

[2021-05-14 13:14] Msurrow commented on #61627
@macolso bump. Could you please provide some indication if this (private static ip for acis) is something you are working on or plan on supporting in the future?

Documentation is still inconsistent (same as when this issue was reported aug 2020). First it says:

Then further down the page below:

If the container group is stopped, started, or restarted, the container group�s private IP is subject

[2021-05-14 13:15] SumanthMarigowda commented on #75291
@oadrian2 Thanks for the question! We are investigating and will update you shortly.

[2021-05-14 13:16] ChaiSwaddipong opened #75315 "Inaccurate info on RI for Azure file"
"Azure Storage reserved capacity is not available for premium storage accounts, general-purpose v1 (GPv1) storage accounts, Azure Data Lake Storage Gen1, page blobs, Azure Queue storage, Azure Table storage, or **Azure Files**"

RI for Azure file now available per this https://docs.microsoft.com/en-us/azure/storage/files/files-reserve-capacity.

---
#### Document Details

⚠ *Do not edit this secti

[2021-05-14 13:17] SumanthMarigowda commented on #75293
@prasadgsk Thanks for the question! We are investigating and will update you shortly.

[2021-05-14 13:17] SumanthMarigowda commented on #75294
@carlosporter Thanks for the question! We are investigating and will update you shortly.

[2021-05-14 13:48] jsandersrocks opened #75317 "Incorrect code for azureaduser"
Instead of
azureaduser=$(az ad user list --filter "userPrincipalName eq '<user-principal-name>'" --query [].objectId --output tsv)

It should be:

$azureaduser=(az ad user list --filter "userPrincipalName eq '<user-principal-name>'" --query [].objectId --output tsv)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31b0d3

[2021-05-14 13:49] arashcomsense opened #75318 "No token issued after redirecting to https://jwt.ms"
I followed all the steps outlined in this document *(excluding the steps related to Facebook which I do not need)* but I did not receive a token at https://jwt.ms despite the login was successful. Is a token expected after running sign in/sign up custom policy?

In fact I added a new user with a gmail email address and a password to try this scenario.

---
#### Document Details

⚠ *Do not edit thi

[2021-05-14 13:56] muenchdo opened #75319 "Unclear mapping of Azure AD authentication methods to NIST authenticator types"
I'm having some trouble understanding the following statement:

Single-factor one-time-password hardware (from OTP manufacturers) OR
Hybrid Azure AD Joined w/ software TPM OR
Azure AD joined w/ software TPM OR
Compliant managed device

Does this mean password AND one of the remaining four options? In this case, I think it would be helpful to add some braces around, similar to how it was done above

[2021-05-14 14:01] RPrimrose opened #75320 "A couple of broken links on "Azure Resource Manager deployment model templates for Front Door""
At https://docs.microsoft.com/en-us/azure/frontdoor/front-door-quickstart-template-samples, the links to "Create a Front Door with multiple backends and backend pools and URL based routing" and "Create Front Door with geo filtering" are broken.

I believe they should go to https://github.com/Azure/azure-quickstart-templates/tree/master/quickstarts/microsoft.network/front-door-create-multiple-backe

[2021-05-14 14:05] alejandromoncayo opened #75321 "Should include the AzureSDK approach in the doc as well"
For those looking for  the AzureSDK solution on c# here is how is done:
using Microsoft.Azure.Management.Compute.Fluent;
using Microsoft.Azure.Management.Fluent;
using Microsoft.Azure.Management.ResourceManager.Fluent;
using Microsoft.Azure.Management.ResourceManager.Fluent.Core;
....
private readonly IAzure _azure;
....
var credentials = SdkContext.AzureCredentialsFactory
                .FromSer

[2021-05-14 14:08] BhargaviAnnadevara-MSFT commented on #75300
@signoredems Thank you for the question. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2021-05-14 14:11] BhargaviAnnadevara-MSFT commented on #75317
@jsandersrocks Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-05-14 14:14] BhargaviAnnadevara-MSFT commented on #75320
@RPrimrose Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-05-14 14:19] mjg123 opened #75322 "Gradle-format dependency for cognitive services speech Java SDK should be documented."
I ran into the same problem described at https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/77

The Gradle config is not obvious as Gradle seems to want to download the `.aar` version of the dependency rather than the `.jar`.

In short the solution is to describe the dependency including the extension, ie:

[code]

Even though it seems to be equivalent to the maven-format depend

[2021-05-14 14:20] mjg123 commented on #75322
By the way, is there any reason why the Speech SDK is not in maven central?

[2021-05-14 14:31] spissay opened #75323 "When is the GA date for VM guest health insights?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 412d6d5f-37a0-ec03-d2e2-96a2e6d5996a
* Version Independent ID: 08262432-8584-a61c-ed68-7356a5f254b4
* Content: [VM insights guest health (preview) - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/vm/vminsights-health-overview)
* C

[2021-05-14 14:31] mimcco commented on #75308
@lucarv - thanks for reporting this. For the sake of closing out this GitHub issue, I want to confirm that we connected 1:1 and I showed you how to update your device without using SSH.

[2021-05-14 14:36] zr-msft commented on #67753
#please-close

[2021-05-14 14:36] #67753 closed

[2021-05-14 14:46] fulky opened #75324 "Pre-copy script fails if tables are not already created"
Pre-copy script fails if tables are not already created.   Needs an "IF EXISTS" statement prior to TRUNCATE

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 125c8ae8-332f-8792-d81b-30bb0eb3976f
* Version Independent ID: 2e2ac8cb-4208-6692-0f25-701e4906475a
* Content: [Copy data in bulk using Azure portal - Azure Data Fac

[2021-05-14 14:49] prasadgsk commented on #75293
is there any update on this

[2021-05-14 14:54] JamesTran-MSFT commented on #75296
@karimyousfi
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-14 14:55] JamesTran-MSFT commented on #75295
@jixin85
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-14 14:56] JamesTran-MSFT commented on #75298
@iamim
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-14 14:57] JamesTran-MSFT commented on #75299
@kp2017
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-14 15:01] RutgerKosters opened #75325 "AES Encryption link"
Hi colleagues,

AES encryption for AD authentication (Preview) currently links to:
https://docs.microsoft.com/en-us/azure/azure-netapp-files/azure-netapp-files-create-volumes-smb

It should link to:
https://docs.microsoft.com/en-us/azure/azure-netapp-files/create-active-directory-connections#create-an-active-directory-connection

Gr. Rutger

---
#### Document Details

⚠ *Do not edit this section.

[2021-05-14 15:03] olitomlinson opened #75326 "Improve c# snippet"
For the C# code snippets, please include the assembly references.

Also the C# snippet suggest the following code :

 `JsonSerializer.Deserialize<ClientPrincipal>(json, new JsonSerializerOptions { PropertyNameCaseInsensitive = true });`

Requires the `System.Text.Json` namespace referencing

However this causes ambiguity with `Newtonsoft.Json` which is already imported, and does not compile.

---

[2021-05-14 15:04] JamesTran-MSFT commented on #75303
@rtrigueiro
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-14 15:04] BharathNimmala-MSFT commented on #75305
@AwdotiaRomanowna - Thanks a lot for bringing this to our notice and helping us improve our Azure documentation. I have created a PR to correct the doc. Once the PR is reviewed and approved , changes would go live.

At this point it appears that there's no further edits or updates needed to the documentation, other than what has been listed above. We will go ahead and close this issue for now, how

[2021-05-14 15:04] #75305 closed

[2021-05-14 15:08] subhankars opened #75327 "Confusing error message while running Azure DevOps pipeline build"
Confusing error message while running build in Azure DevOps.

If the input paths in azure-pipelines.yml is not configured properly getting the below error message. .github/workflows is not relevant for Azure DevOps. This is confusing

 _If your application contains purely static content, please verify that the variable '**app_location**' in your workflow file (**located in .github/workflows**) poi

[2021-05-14 15:09] SeadnaS opened #75328 "The NuGet package mentioned is not available for UWP"
Following the instructions it asks me to install azure.communication.calling from nuget. There appears to be no UWP version available.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f6c0b6e-a3b1-ed87-f673-4842029e498f
* Version Independent ID: 10cb7160-76d2-3f5c-3a6d-b9bbddc75d0e
* Content: [Quickstart - Add video cal

[2021-05-14 15:14] GitaraniSharma-MSFT commented on #75044
@marcelkmfst , thank you for the information. We have assigned this to the content owner/author for review.

@duongau , I have looped you in the internal email with ExpressRoute PG. Please review this doc and update as required.

[2021-05-14 15:15] RutgerKosters opened #75329 "Incorrect description for AES Encryption"
Hi colleagues,

Description at the AES Encryption bullet states:

_"Select this checkbox if you want to enable AES encryption for an SMB volume."_

As far as I understand the functionality enables AES encryption for AD auth, which in turn is required for SMB volume encryption. However, AES Encryption for AD auth could potentially also be used by customers, without ever using SMB volume encryption.

[2021-05-14 15:15] GitaraniSharma-MSFT commented on #75038
@Hakuroda , Since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-14 15:15] #75038 closed

[2021-05-14 15:16] v-videba opened #75330 "Another rule should be changed. Out to AAD - Group Writeup Member Limit"
[Enter feedback here]
Hello team.

Had a customer with issues syncing a group of more than 50000 users, so I reproduced the issue on my environment and both had the same error

 _Error in evaluation of expression: IIF((ValueCount("member")> 50000),Error("Maximum Group member count exceeded. Visit https://go.microsoft.com/fwlink/?linkid=2154336 for more information."),IgnoreThisFlow)
. Sync Rule: O

[2021-05-14 15:17] BharathNimmala-MSFT commented on #75323
@spissay Thank you for reaching out with your query, I am checking on this with our Internal team and will keep you updated as we have more information.

[2021-05-14 15:19] GitaraniSharma-MSFT commented on #75242
@kellylu2sym , thank you for providing the correct link. Since the issue is with Storage Doc, I have assigned the SME from Storage team to look into it further.

@SumanthMarigowda , for your review.

[2021-05-14 15:29] SamaraSoucy-MSFT commented on #75307
Thanks for the feedback! We will review and get back to you shortly.

[2021-05-14 15:29] spelluru commented on #74687
#please-close

[2021-05-14 15:29] #74687 closed

[2021-05-14 15:30] spelluru commented on #75117
I agree with deprecating this article.

[2021-05-14 15:40] BharathNimmala-MSFT commented on #75321
@alejandromoncayo Thank you for sharing your idea to enhance our Azure documentation, assigning this issue to our document author @tfitzmac to further evaluate the idea shared and see if it can be incorporated with in the document.

[2021-05-14 15:41] himanshusinha-msft commented on #75324
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-05-14 15:48] MarileeTurscak-MSFT commented on #75227
@jeevansd are you able to provide any documents or context around this? I also couldn't find anything and was not able to find this when trying to add a gallery app from the portal either.

[2021-05-14 15:49] JamesTran-MSFT commented on #75309
@agoodwin
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-14 15:50] JamesTran-MSFT commented on #75310
@jgcjoec
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-14 15:50] JamesTran-MSFT commented on #75311
@yobyot
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-14 15:52] SumanthMarigowda commented on #75030
@asixtwonineartblog Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/  If it's not directly related to the documentation.

[2021-05-14 15:52] #75030 closed

[2021-05-14 15:54] JamesTran-MSFT commented on #75312
@jgcjoec
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-14 15:55] weirdyang opened #75331 "Setup Azure DevOps Starter - Can't select organization."
[Enter feedback here]

I'm trying to set up a DevOps Starter, however at step 4, the only option given to me is to authorize github. However I would like to use the 2 Azure DevOps organizations I have linked to my account. How do I do so?
![image](https://user-images.githubusercontent.com/25576022/118296717-db1a4180-b50f-11eb-887e-5b403bab347b.png)

![image](https://user-images.githubusercontent.c

[2021-05-14 16:07] JamesTran-MSFT commented on #75318
@arashcomsense
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-14 16:11] paulfinol opened #75332 "network requirement for configuration server using expressroute and private links"
If you have private links connectivity to Site Recovery vault, you do not need any additional internet access for the Configuration Server. An exception to this is while setting up the CS machine using OVA template, you will need access to following URLs over and above private link access - https://management.azure.com, https://www.live.com and https://www.microsoft.com. If you do not wish to allo

[2021-05-14 16:11] JamesTran-MSFT commented on #75330
@v-videba
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-14 16:13] JamesTran-MSFT commented on #75319
@muenchdo
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-14 16:21] mikkark opened #75333 "How to monitor Azure Static Web App bandwidth consumption?"
Hi,

great to see that Static Web Apps are now in GA! I have two sites in production on the free plan and I would like to get more information on how to monitor the bandwidth, which is limited in the free plan.

- mikko

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51bfa022-2797-8b08-7e15-332229df9a92
* Version Indepe

[2021-05-14 16:32] uttampcu opened #75334 "Where do we get disablesxsstackrc.ps1 from? There's no source pointer"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07a53ee0-7057-8bd1-79d3-1af1bf4f4579
* Version Independent ID: 36022099-424e-db24-ce9e-637ad39e9f77
* Content: [Troubleshoot Windows Virtual Desktop session host - Azure](https://docs.microsoft.com/en-us/azure/virtual-desktop/troubleshoot-vm-configura

[2021-05-14 16:33] uttampcu commented on #53247
This has now been open over a year, where do we get disablesxsstackrc.ps1 from?

[2021-05-14 16:39] jonburchel commented on #68291
Thanks for submitting this issue @Jigar191089.  The product team discussed it and concluded although the difference you point out in the handling of text by the pyspark API is legitimate, this document is specifically intended to describe the behavior of the ADF delimited text dataset.  There could be other differences between the handling of delimited text by any other API, so listing one excepti

[2021-05-14 16:39] #68291 closed

[2021-05-14 16:43] shadowkiller3 commented on #35432
Thanks for the quick response.
Here is a screenshot of the claims I currently have:
<img width="616" alt="current setup" src="https://user-images.githubusercontent.com/84094721/118299942-67484c80-b4af-11eb-85da-a044b72ca9db.PNG">

I used the Employee ID field to store the Intacct user ID though did not work and kept getting the same error code:
<img width="457" alt="intacct sso error" src="https:/

[2021-05-14 16:52] jonburchel commented on #66341
Thanks for submitting this issue @kolodziejczyk0.  I discussed with our product team now.  They decided against including additional detail specific to the OpenJDK's configuration for now, since there could be other configurations too then that might be missed.  Since these are external to the product, the decision was made to document configuration with the official JRE only.  I will close this i

[2021-05-14 16:52] #66341 closed

[2021-05-14 16:56] JamesTran-MSFT commented on #75304
@AndyCross
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-14 16:56] BharathNimmala-MSFT commented on #75323
@spissay I did hear back from our team and seems that team is still in the process of collecting feedback from the customers to plan the roadmap for this feature. We currently do not have a GA date to share.

Sorry that we are not able to share a GA date yet on this . Please feel free to subscribe to [Azure blog](https://azure.microsoft.com/en-us/blog/) and look for the updates as we announce abou

[2021-05-14 16:56] #75323 closed

[2021-05-14 16:59] r-milne opened #75336 "Update Support Stance"
Hi folks,

In the unsupported section, there is a note about 1 forest -> Multiple tenants not being supported.

This was discussed with PG last year and it was agreed that targeted rollout was supported.

Can you please update this to state using the targeted/controlled validation is supported?

Sandeep Deo <sandeo@microsoft.com>  was part of the discussion with Daniel Stefaniak.

Cheers,
Rhoderic

[2021-05-14 16:59] himanshusinha-msft commented on #75191
@dasabate : Following the document trail , i see that the [here ](https://docs.microsoft.com/en-us/previous-versions/dynamicscrm-2016/developers-guide/jj863631(v=crm.8)#run-time-limitations) , its is mentioned that two concurrent batch calls .
![image](https://user-images.githubusercontent.com/47539458/118303650-8ab4cc80-b49a-11eb-8e40-7c3411938838.png)

So to me it seems the docment does not need

[2021-05-14 16:59] #75191 closed

[2021-05-14 17:00] jonburchel commented on #57531
Hi @saikumaru, and thanks for confirming your findings.  I'm glad you were able to connect with support and get this answered.  I will close this issue out now but if you have further questions we can still continue the discussion on this thread, even after the issue is closed.  #please-close

[2021-05-14 17:00] #57531 closed

[2021-05-14 17:00] JamesTran-MSFT commented on #75336
@r-milne
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-14 17:14] jonburchel commented on #61640
Thanks for reporting this issue @ernstwolf.  Since it is resolved now I will close this one out, but if you have other questions feel free to reply again and the discussion can continue here even after the issue is closed.  #please-close

[2021-05-14 17:14] #61640 closed

[2021-05-14 17:19] JamesTran-MSFT commented on #75268
@daniel-fv
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-14 17:20] HeidiSteen commented on #75265
@BryanTrach-MSFT @DerekHerman-MSFT  I will add the note today, thanks for the assist everyone!

[2021-05-14 17:20] JamesTran-MSFT commented on #75277
@aakash-shah
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-14 17:23] JamesTran-MSFT commented on #75288
@xuegao112
Since NLog 5.0.0-beta10 is deprecated and no longer supported. I'll go ahead and close out this thread.

If you have any other questions or require additional assistance, please let me know.
Thank you for your time and patience throughout this issue.

[2021-05-14 17:33] elfcounsel opened #75337 "PCUser needs to be given access"
pcuser needs to be included in the ACLs (by a group or as an individual user) to have access the directory/file . This requirement isn't documented and really should be. I'm involved in a support case now where this confusion has come up. Just creating the pcuser doesn't automatically grant the linux user access to the directory/file through the pcuser account.

---
#### Document Details

⚠ *Do no

[2021-05-14 17:33] JamesTran-MSFT commented on #75282
@iamguptarishi
Thank you for pointing this out!

It does look like the "Expires" option has changed, with the max selection being 24 months even if you select the "Custom" expiration option.
![image](https://user-images.githubusercontent.com/36619112/118307173-2c3e1d00-b49f-11eb-8f84-3d59f323f7d7.png)
![image](https://user-images.githubusercontent.com/36619112/118307430-8808a600-b49f-11eb-827a-25f

[2021-05-14 17:39] SaluTony opened #75338 "missing error -2134375803 0x80C80285 A file failed to be tiered.""
In the page is not defined the error:

0x80C80285  A file failed to be tiered.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7235bd07-1172-ac6a-3dab-0200fd73bd87
* Version Independent ID: 9620b286-fe9e-0c56-c01f-ddf7c3c36ac0
* Content: [Troubleshoot Azure File Sync](https://docs.microsoft.com/en-us/azure/storage/file-

[2021-05-14 17:44] DerekHerman-MSFT commented on #75314
@johnpapa
v12 is the latest SDK and v2 is the legacy SDK.
v12: https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/storage
v2: https://github.com/Azure/azure-storage-node

[2021-05-14 17:44] #75314 closed

[2021-05-14 17:45] markjbrown commented on #75225
Hi @Rick-Anderson yes, we're going to update this as part of a larger sweep of MongoDB + ASP.NET sample updates.

CC @jcocchi and @christopheranderson

Thanks!

[2021-05-14 17:45] DerekHerman-MSFT commented on #75315
@ChaiSwaddipong  Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-14 17:45] mohitkusecurity commented on #74714
@aapalm @GitaraniSharma-MSFT -

Regarding `Based on CRS Issue 693, rule 942330 is disabled by default in version 3.x, however this isn't the case with "Microsoft_DefaultRuleSet_1.1"`.  We are investigating this with the PG and will provide a response.

In the meantime, here are a couple of things to be aware of -

1. "Microsoft_DefaultRuleSet_1.1" is a customized version of CRS 3.1 and not exactly

[2021-05-14 17:47] JamesTran-MSFT commented on #75319
@muenchdo
I've created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2021-05-14 17:47] #75319 closed

[2021-05-14 17:49] signoredems commented on #75300
For the document I referenced here? I clicked to create this issue from the
bottom of the article. I’m surprised it didn’t associate it with the page.

Here is the URL to the page and section:
https://docs.microsoft.com/en-us/azure/frontdoor/front-door-lb-with-azure-app-delivery-suite#building-with-azures-application-delivery-suite

On Fri, May 14, 2021 at 10:08 BhargaviAnnadevara-MSFT <
***@***.*

[2021-05-14 17:49] johnpapa commented on #75314
Thanks @derekherman-msft. Before closing this, I'd like to ask that we consider clarifying this in the tabs. As a javascript developer, I had no idea what this meant. I kept thinking it might have been intended to be a version of javascript but that didn't mesh at all. Then I saw the pick list was set to Node and thought maybe they mean Node versions.

I suggest we clarify that this is the version

[2021-05-14 17:51] JamesTran-MSFT commented on #75310
@jgcjoec
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-14 17:53] JamesTran-MSFT commented on #75306
@mohmdnofal
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-14 17:54] JamesTran-MSFT commented on #75331
@weirdyang
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-14 17:58] twooley commented on #75314
@johnpapa This is good feedback. We'll look into making this more clear in the storage docs. Thanks!

[2021-05-14 18:03] ChaitanyaNaykodi-MSFT commented on #75188
Thank you for providing the details @jpaulo-kumulus,
We have assigned this issue to the author to review further and take the next course of action.

[2021-05-14 18:08] johnpapa commented on #75314
@twooley - no problem. would you prefer I make a PR? I'd be happy to do it today if you have a preference for what it should say on the tab

[2021-05-14 18:32] mmacy commented on #72118
@allenh100 Thanks again for the report! Closing this one out as resolved, but please contact me if you feel it's not been addressed to your satisfaction. #please-close

label:"doc-bug"

@MarileeTurscak-MSFT can you or someone on your team **remove** the `doc-enhancement` label from this issue, please? This was an outright bug.

[2021-05-14 18:32] #72118 closed

[2021-05-14 18:37] DerekHerman-MSFT commented on #75325
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-14 18:37] YutongTie-MSFT commented on #75322
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@trevorbye Hello, could you please check on this issue and update the document? Thanks.

[2021-05-14 18:38] DerekHerman-MSFT commented on #75329
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-14 18:48] paulc1983 opened #75341 "I followed the steps but when i try to push the docker image it says access denied"
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6afe8c14-efa4-31a6-9fd9-e68f2d878226
* Version Independent ID: c67857a5-ee1b-3ed2-f281-dd62c4c4c6f3
* Content: [Kubernetes on Azure tutorial - Create a container registry - Azure Kubernetes Service](https://docs.microsoft.com/en-gb/azure/aks/tutorial-

[2021-05-14 18:48] #75053 closed

[2021-05-14 18:52] ChaitanyaNaykodi-MSFT commented on #75117
Thank @spelluru for the response, as discussed offline I will now proceed to assign this issue to you. Thank you!

[2021-05-14 18:54] #75341 closed

[2021-05-14 18:57] Karishma-Tiwari-MSFT commented on #53247
@Heidilohr Would you be able to share insights on the same. Thanks.

[2021-05-14 19:00] lucarv commented on #75308
Hi,
With Mike's help I was able to refresh the device using usb. I can confirm that I now have the latest image and the device is connected to IoT Hub. I am also able to create ssh users and connect to the device via ssh.

/T

[2021-05-14 19:10] KranthiPakala-MSFT commented on #75197
@Pariyat  - I have submitted a PR to update the doc accordingly which should resolve this issue.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2021-05-14 19:10] KranthiPakala-MSFT commented on #75274
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank you

[2021-05-14 19:10] #75274 closed

[2021-05-14 19:11] mimckitt commented on #75120
#reassign: @ju-shim

[2021-05-14 19:11] KranthiPakala-MSFT commented on #75206
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2021-05-14 19:11] #75206 closed

[2021-05-14 19:11] laurentcardon commented on #73458
I don't think this was the expected update but never mind.

Laurent Cardon - Consultant
+33664404326

From: Abhishek Mallick ***@***.***>
Sent: 13 May 2021 09:11
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Laurent Cardon ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Update suggestion for permission assignment on the key vault (#73458)

@laurentcardon<https://nam06.sa

[2021-05-14 19:11] #75197 closed

[2021-05-14 19:14] andylholloway commented on #74418
Hi @RyanHill-MSFT
Not yet, but thanks for the reminder.
I need to get confirmation that I can send what you have requested or whether I need to raise a support ticket with Microsoft. I'll aim to find out next week.

[2021-05-14 19:17] mmacy commented on #67195
Hi @DaveZimmermann, we recently published a new tutorial for Angular that uses MSAL Angular v2 and the auth code flow (instead of implicit flow):

[Tutorial: Sign in users and call the Microsoft Graph API from an Angular single-page application (SPA) using auth code flow](https://docs.microsoft.com/azure/active-directory/develop/tutorial-v2-angular-auth-code)

MSAL Angular v2 is now Generally Avai

[2021-05-14 19:20] cynthn commented on #75247
@mimckitt

[2021-05-14 19:21] mmacy commented on #66741
@jasonnutter @sameerag Can someone on your team take a look at this one, too? It's an old issue and might no longer be actionable, but we need verification one way or the other.

@phwecker Thanks for your report and your patience, we'll take a look!

Cc: @jennyf19 @tnorling @jo-arroyo

[2021-05-14 19:24] elfcounsel opened #75343 "Azure Regional Non-Pairs Is Confusing"
It's confusing to call them non-pairs. They should be called non-standard pairs or something like that.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa1995a6-8f18-c6ea-fff6-6c8f7b05d2f5
* Version Independent ID: 8abbbb3f-2d03-1395-acea-197a6b2a7c7e
* Content: [Cross-region replication of Azure NetApp Files volumes](ht

[2021-05-14 19:32] NavtejSaini-MSFT commented on #75121
@sambyng-msft Rest assured Microsoft will never make such a change without communicating to you about such a change and the steps for you to take regarding the same.
But still we are going to check with our doc author to confirm the same.
@markjbrown @SnehaGunda  Can you please confirm.

[2021-05-14 19:35] NavtejSaini-MSFT commented on #75181
@anfeldma-ms @SnehaGunda Can you help here.

[2021-05-14 19:37] YutongTie-MSFT commented on #75293
@prasadgsk Please refer to https://docs.microsoft.com/en-au/azure/cognitive-services/form-recognizer/quickstarts/label-tool?tabs=v2-1#connect-to-the-sample-labeling-tool

The sample labeling tool connects to a source (your original uploaded forms) and a target (created labels and output data).
Connections can be set up and shared across projects. They use an extensible provider model, so you can e

[2021-05-14 19:40] dave22000 opened #75344 "UserInfo endpoint does not output StringCollection claims correctly"
I have implemented a UserInfo Endpoint for a RelyingParty in my B2C Tenant. The string claim outputs correctly, but the StringCollection claims are issued as
System.Collections.Generic.List`1[System.String]

In the token, the claims are:
{
  "sub": "585cbc8c-97e2-4656-8c51-ac3d240e0b67",
  "user_accounts": [
    "{\"id\":\"123456789\",\"display_name\":\"David Lundine\"}"
  ]
}

In the UserInfo res

[2021-05-14 19:53] #66941 closed

[2021-05-14 19:59] zr-msft commented on #71504
Thank you @0rpandya for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

#please-close

[2021-05-14 19:59] #71504 closed

[2021-05-14 20:01] prasadgsk commented on #75293
found that it is due to '/' (last character) in the form recognizer api causing it is not save the new project.
I am able to save the project after removing the / at the end.
It was there even in the training video also

Please add faqs or common issues and how to resolve them.
The wiki always showing all positive scenarios but not negative scenarios or possible issues that arise in creating conne

[2021-05-14 20:01] prasadgsk commented on #75293
Please close this issue.

[2021-05-14 20:03] zr-msft commented on #66941
Thank you @alexjebens for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

Also, can you please share the ticket number?

[2021-05-14 20:18] sameerag commented on #66741
@pkanher617 Can you check this? @mmacy Either @pkanher617 or @tnorling  will reach out soon on this.

[2021-05-14 20:34] DerekHerman-MSFT commented on #75337
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-14 20:36] DerekHerman-MSFT commented on #75338
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-14 20:41] DerekHerman-MSFT commented on #75343
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-14 21:21] ChaitanyaNaykodi-MSFT commented on #75053
Hello @gomateus,
We were able to replicate the issue mentioned, so we have made the changes in the doc, you will able to see the changes in next 24 hours. Please let us know if you have any further concerns.

[2021-05-14 21:27] mike-urnun-msft commented on #74900
Hi @LoW0lf - I confirmed with the Event Grid team that the default authentication method is Shared Access Policy and the `RootManageSharedAccessKey` which has both read/write permissions.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-05-14 21:27] #74900 closed

[2021-05-14 21:50] skowalik opened #75348 "Creating A Power BI Dataset Is Not An Option in Synapse"
The following option is nowhere to be found in Synapse Studio as stated in the current documentation instructions.

In Synapse Studio, go to Develop > Power BI.
Go to NYCTaxiWorkspace1 > Power BI datasets and select New Power BI dataset. Click Start.
Select the SQLPOOL1 data source, click Continue.

https://docs.microsoft.com/en-us/azure/synapse-analytics/get-started-visualize-power-bi#create-a-po

[2021-05-14 21:55] glomaga opened #75350 "Problems with disable CAE (Preview)."
Hi
I can not disable CAE on my tenants. Always is throwing me this error:

![image](https://user-images.githubusercontent.com/27291517/118335381-26fbc500-b4d5-11eb-9fcc-12a6ca2402e1.png)

What else can I do to disable it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5cf71de-20a1-6056-01cf-f44d9ef60ed3
* Version Inde

[2021-05-14 22:01] amasse3 opened #75351 "App Proxy Registration Steps are not successful"
The steps to register Azure AD App proxy were not successful in my testing. I was able to install and register the connector in Azure Gov tenant, but only by completing the steps as follows:

1. Use REGISTERCONNECTOR="false" as an installation parameter:

`AADApplicationProxyConnectorInstaller.exe REGISTERCONNECTOR="false"`

2. Specify AzureUSGovernment in the EnvironmentName parameter while regis

[2021-05-14 22:17] lobrien commented on #75059
Investigating.

[2021-05-14 22:23] BharathNimmala-MSFT commented on #75332
@paulfinol Thank you for reaching out with your query, we will review it and get back to you at the earliest.

[2021-05-14 22:40] JamesTran-MSFT commented on #75326
@olitomlinson
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-14 22:42] JamesTran-MSFT commented on #75327
@subhankars
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-14 22:43] JamesTran-MSFT commented on #75328
@SeadnaS
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-14 22:48] mattfung opened #75354 "Update AKS Azure Ingress Gateway Cert-manager documentation"
Thanks for creating documentation for AKS usage. Since the last update of the Letsencrypt AGIC documentation in 2019, there have been breaking changes to the installation instructions.

Key Differences:

- Update cert-manager installation instructions
  - I was able to set up an instance using the [cert-manager official installation docs](https://cert-manager.io/docs/installation/kubernetes/)
- Up

[2021-05-14 23:01] SaiKishor-MSFT commented on #75015
@Herman5006 Mutual cert authentication here is for the front end of the Application Gateway not the backend. I see you are looking for backend support for mutual auth. I am looking into this further and will get back to you. Thank you!

[2021-05-14 23:17] NavtejSaini-MSFT commented on #75285
@sijoxavier89 Thank you for this feedback. We have removed the redundant info with a PR - https://github.com/MicrosoftDocs/azure-docs-pr/pull/158969

Once PR is approved it will be removed. The updated info can he found here as well - https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#azure-api-for-fhir-service-limits

[2021-05-14 23:23] JamesTran-MSFT commented on #75333
@mikkark
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-14 23:24] JamesTran-MSFT commented on #75334
@uttampcu
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-14 23:25] JamesTran-MSFT commented on #75344
@dave22000
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-14 23:26] JamesTran-MSFT commented on #75350
@glomaga
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-14 23:27] JamesTran-MSFT commented on #75351
@amasse3
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-14 23:32] JamesTran-MSFT commented on #75348
@skowalik
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-14 23:33] wesmc7777 commented on #73486
#please-close

@jinyanghuang After you review my previous response and answer those questions, if you're still having trouble let me know and I can assist you further.

[2021-05-14 23:33] #73486 closed

[2021-05-14 23:40] mundayn opened #75356 "Az.Accounts is no longer a default module as part of a newly build Azure Automation account"
Az.Accounts is no longer a default module as part of a newly build Azure Automation account, so the example here do not work.
I had to manually import the module.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8dcc44c4-9f64-6b0c-e045-0e5e3c567970
* Version Independent ID: 6456a6aa-bdeb-651c-0c83-a84d4541f735
* Content:

[2021-05-14 23:47] femsulu commented on #75356
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-05-15 01:29] carlosporter commented on #75294
Thanks,

Please note that the issue is also affecting the Gen2 server image:

[code]

[2021-05-15 02:42] Karishma-Tiwari-MSFT commented on #75341
Let us know if you need help with anything in regards to this document and we will reopen the issue. Thanks.

[2021-05-15 02:59] afield1235 commented on #74862
"This has to be done in the VM itself. Members of local administrators group on the VM are by default allowed for RDP connection to the VM. Standard users are required to be explicitly added to the Remote desktop users group via local users and groups console (lusrmgr.msc)."

This worked! Thank you.

[2021-05-15 02:59] #74862 closed

[2021-05-15 03:25] matthewmgr commented on #56071
what was determined here?

[2021-05-15 03:34] GuyPaddock commented on #34672
This is still an issue, except that now the legacy pricing isn't even on the ExpressRoute pricing page...

[2021-05-15 03:41] lgayhardt commented on #73658
@simeyla  Sorry for the delay and thank you for the feedback. I made a [work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1844296) to update the documentation and will update this thread when the work is complete.

It also might be worth opening up an issue against the SDK repo, to see if they want to change the behavior to make it harder for customers to

[2021-05-15 03:41] #73658 closed

[2021-05-15 04:05] felixtsem5 opened #75359 "App services Premium V2 supports a max of 30 instances"
As titled. According to the following sites.
https://azure.microsoft.com/en-us/pricing/details/app-service/windows/
https://azure.microsoft.com/en-us/updates/increased-app-service-scale-out-limits-for-premiumv2-plans/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36f49a06-90b1-cbe1-3853-2c38277b79f8
* Version Independ

[2021-05-15 04:57] JamesTran-MSFT commented on #75354
@mattfung
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-15 04:58] JamesTran-MSFT commented on #75359
@felixtsem5
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-15 06:23] psmanhas commented on #74116
@MashaMSFT I have re-opened the issue now

[2021-05-15 06:23] psmanhas commented on #75136
@bitsofinfo Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-05-15 06:23] #75136 closed

[2021-05-15 06:25] hyoshioka0128 opened #75360 "[LOC]Fixed inappropriate japanese "レポポ"→"リポジトリ" (ja-jp)"
ja-jp:"https://docs.microsoft.com/ja-jp/azure/databricks/repos"
![repos_j](https://user-images.githubusercontent.com/40815708/118350447-a949bf00-b591-11eb-8222-e79745440e45.png)

en-us:"https://docs.microsoft.com/en-us/azure/databricks/repos"
![repos_e](https://user-images.githubusercontent.com/40815708/118350448-abac1900-b591-11eb-9bd7-4fdf4ff9ad7f.png)

#PingMSFTDocs

---
#### Document Details

[2021-05-15 06:28] psmanhas commented on #75154
@ATR99 Can you please confirm on above?

Thanks

[2021-05-15 06:29] psmanhas commented on #75137
@bitsofinfo Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-05-15 06:29] #75137 closed

[2021-05-15 07:22] swapnilpotnis opened #75362 "Postgres DB connection issue inspite of IP Whitelist"
As described [here](https://docs.microsoft.com/en-us/azure/postgresql/concepts-firewall-rules#connecting-from-the-internet), we are facing the error
`java.util.concurrent.ExecutionException: java.lang.RuntimeException: org.postgresql.util.PSQLException: FATAL: no pg_hba.conf entry for host "123.45.67.890", user "adminuser", database "postgresql", SSL` inspite of adding the intended IP address in C

[2021-05-15 08:15] mepand commented on #74969
@utraghuv Could you please confirm if operational backup solution is supported for premium blobs ?

[2021-05-15 08:16] mepand commented on #75184
@utraghuv Could you please confirm if operational backup solution is supported for premium block blob  and premium page blob ?

[2021-05-15 09:50] paulc1983 commented on #75341
Thanks but I closed it very quickly. I left a > next to the acr name.

But thanks for your help

Paul

On Sat, 15 May 2021, 03:42 Karishma Tiwari - MSFT, ***@***.***>
wrote:

[2021-05-15 14:35] davabergeron opened #75363 "There is no explicit way to recover a cloud backup?"
I had the option enabled on my old phone, then I configured my new phone with my MS account.

When I opened the settings page to enable cloud save on the new phone it asked me if I wanted to erase the existing cloud backup (with all my existing keys, that were supposed to be recovered, with no option to pull in the cloud backup).

The application is otherwise good, but either it's a problem with t

[2021-05-15 14:49] omarmallat commented on #56071
Nothing.. I'm still having the same issues. VPN client establish the connection before the user approve the MFA.

[2021-05-15 14:59] #75292 closed

[2021-05-15 15:29] olitomlinson opened #75364 "Not all available providers documented"
There are a bunch of references to the built-in providers on this page, (`twitter`,`GitHub` and `Azure Active Directory`)

However, there are no references to `Facebook` and `Google` providers which are also available. There may be others as well?!

Please update with **all** available providers.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2021-05-15 15:50] JamesTran-MSFT commented on #75360
@hyoshioka0128
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-15 15:51] JamesTran-MSFT commented on #75362
@swapnilpotnis
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-15 15:55] JamesTran-MSFT commented on #75363
@davabergeron
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-15 15:56] JamesTran-MSFT commented on #75364
@olitomlinson
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-15 16:48] michevnew opened #75365 "Mention that incremental consent only applies to delegate permissions"
Please update this and any other relevant articles to explicitly mention that incremental/dynamic consent does not apply to application permissions. This might be obvious to some folks, but some clarity wouldn't hurt.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e056c00-a2a1-7019-fb36-0243819a7b99
* Version Independ

[2021-05-15 18:53] simeyla commented on #73658
@lgayhardt I won't open an issue there at this time. I had fun playing with Kusto for a few days, but it turned out I was able to achieve my goals with some simpler reporting. If the documentation were updated then that will help others in future :-) Thx.

[2021-05-15 20:11] fgheysels commented on #74145
Is there already any news on this ?

[2021-05-15 20:15] amarathavale opened #75367 "Synapse SQL architecture documentation repetition"
This page (https://docs.microsoft.com/en-us/azure/synapse-analytics/sql-data-warehouse/massively-parallel-processing-mpp-architecture?toc=/azure/synapse-analytics/toc.json&bc=/azure/synapse-analytics/breadcrumb/toc.json) is a duplicate of https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/overview-architecture (which has recent updates). Merging/Deleting it would help simplify things

--

[2021-05-15 21:42] rvahaver opened #75368 "Mounting premium storage is old and unclear"
Please update the section of the document dealing with Mounting the premium file share.  This screen shot is old and there are new options around authentication that needs to be addressed in this document as far as which type should be used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45511218-137b-ba77-3e15-8af90f1

[2021-05-15 21:45] YutongTie-MSFT commented on #75293
@prasadgsk Thanks for the feedback. We will do our best to guide customer avoiding bad experience.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-05-15 21:45] #75293 closed

[2021-05-15 22:02] o-l-a-v commented on #74605
@shashishailaj

@BharathNimmala-MSFT

Will you add it to the documentation?

[2021-05-16 03:40] gfaraj commented on #47611
That's correct @RyanHill-MSFT, sorry for the late reply.

By the way, I tried adding another provider in my auth.json called "appleweb" with the same configuration above, just differing on the clientId. Using that new provider, app service login returns 200. The problem is that this causes the claims in the Function app to identify a user that had previously logged in with the native app as a diff

[2021-05-16 05:36] JamesTran-MSFT commented on #75365
@michevnew
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-16 05:36] JamesTran-MSFT commented on #75367
@amarathavale
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-16 05:37] JamesTran-MSFT commented on #75368
@rvahaver
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-16 09:32] BhargaviAnnadevara-MSFT commented on #75292
@Hyperpolymath Thank you for catching that error in the docs. I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2021-05-16 09:43] BhargaviAnnadevara-MSFT commented on #75300
@signoredems Thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review. The changes should reflect in the original doc post the merge.

[2021-05-16 09:43] #75300 closed

[2021-05-16 09:43] BhargaviAnnadevara-MSFT commented on #75320
@RPrimrose Thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review. The changes should reflect in the original doc post the merge.

[2021-05-16 09:43] #75320 closed

[2021-05-16 10:14] BhargaviAnnadevara-MSFT commented on #75317
@jsandersrocks It looks like you are attempting to run this command in a **PowerShell environment**, where the enhancement you suggested above would hold good.

However, please note that this quickstart mentions a **Bash environment** in Azure Cloud Shell as a [prerequisite](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-connect-msi#prerequisites), where the original c

[2021-05-16 11:15] nneo16 opened #75373 "Role to enable traffic analytics ?"
_Your account must meet one of the following to enable traffic analytics:
Your account must have any one of the following Azure roles at the subscription scope: owner, contributor, reader, or network contributor._

The reader role can't change (or enable) "Traffic Analytics status" setting in NSG flow log settings.
May be the word "enable" should be change to "use" ?

---
#### Document Details

⚠

[2021-05-16 11:16] jochenschroeer opened #75374 "Tumbling Window for incremental copy"
the approach shows to perfom incremental copy by use of watermark tables, but would that not be easier to achieve the same utilizing tumbling window trigger where the state is managed inside azure data factory itself?
then there is no need for watermark tables.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1d97ae7-50

[2021-05-16 13:31] ozbillwang commented on #74685
Finally I did it by myself with my way:

[code]

So I guess `v7.9` is the latest currently

[2021-05-16 14:23] SHxKM commented on #74759
@jjbfour @MarileeTurscak-MSFT @BhargaviAnnadevara-MSFT - any insights? we want to make a decision on whether to use Custom Providers for our clients pretty soon. Am I right that Custom Resource Providers are simply API endpoints and nothing more? and that I will have to implement some kind of centralized data-store if I am mapping a Custom Resource to my own resources? (including token verificatio

[2021-05-16 14:56] zak905 commented on #62877
Same here, after going through all the set up, I am now getting:

[2021-05-16 15:03] ShachafGoldstein opened #75375 "Deallocation for Azure Firewall is misleading for forced tunneling scenario"
When running the commands for forced tunneling enabled Firewalls, it seems to break the deployment of the Firewall completely.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89308647-06b4-38bf-7140-d5be93af3c02
* Version Independent ID: 7ab0db77-e78d-de58-369f-641782327264
* Content: [Azure Firewall FAQ](https://docs.m

[2021-05-16 15:29] andyjballgit commented on #74997
@bandersmsft My ask was that the documentation was not available / clear on this , and could it be updated.

[2021-05-16 16:38] JamesTran-MSFT commented on #75373
@nneo16
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-16 16:39] JamesTran-MSFT commented on #75374
@jochenschroeer
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-16 16:40] JamesTran-MSFT commented on #75375
@ShachafGoldstein
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-16 17:11] zak905 commented on #62877
Update: I tried couple of hours later, and it worked.

[2021-05-16 17:15] karlgots opened #75376 "Add repository-scoped tokens as an alternative authentication method."
By reading this page, it would seem that the preferred approach to authenticate the ACI at the container group creation phase would be a Service Principal, as ACI does not support Managed identities at this stage.

Even though repository-scoped tokens are only in Preview, I would propose to add them as an alternative to the current SPN method, or even as apreferred method of authentication. Once t

[2021-05-16 18:41] dluc commented on #72733
These are critical:
1. manual backup option, allow to export accounts manually, avoid the "walled garden" approach
2. cross platform backup support
3. backup to text file stored in OneDrive vault

[2021-05-16 19:14] mmacy commented on #75213
@psignoret Can you specify for @agoodwin and I when, exactly, the **Other permissions granted for {your tenant}** section appears on the **Permissions** pane? Please see @agoodwin's description above - it sounds like we might not be accurate in our description.

[2021-05-16 19:15] mmacy commented on #75213
@JamesTran-MSFT Can you remove the `doc-enhancement` label, please? This is a bug.

#label:"doc-bug"

[2021-05-16 19:36] Cmohan opened #75378 "Add detail that this tutorial doesn't work with a project targeting .Net 5.0"
Article that needs updating: https://docs.microsoft.com/en-us/azure/static-web-apps/publish-devops

Throws a build error when it can't find .Net Core 3.1

![image](https://user-images.githubusercontent.com/2027643/118410199-1b2e1100-b643-11eb-944d-8b5864ccb8bf.png)

Either note that you need to target .Net Core 3.1 & lower or add information about how to target higher versions.

---
#### Document

[2021-05-16 20:04] mmacy commented on #75281
@seanmce Hi Sean, thanks for the request. We have an entire workstream (two, actually) that we recently fired up that should provide content for the management of resources in automation scenarios, and which should cover your requests here.

This "quickstart" and its one-size-fits-all nature is inadequate for covering all the different app types and their redirect URIs, let alone programmatic mana

[2021-05-16 20:28] femsulu commented on #75269
Hi @mumian  - can you update this doc with a sample template for Azure AD object creation?

[2021-05-16 21:12] mmacy commented on #71087
@psignoret can you take a look at this one?

[2021-05-16 21:34] mike-urnun-msft commented on #75289
@VitaliyKurokhtin Do you know if our doc is wrong on this one?

[2021-05-17 00:35] cro27 commented on #72580
Fixed with PR Merge #158983.
Please close

[2021-05-17 00:36] cro27 commented on #72579
Fixed with PR Merge #158983.
Please close

[2021-05-17 00:36] cro27 commented on #72577
Fixed with PR Merge #158983.
Please close

[2021-05-17 00:37] cro27 commented on #72571
Fixed with PR Merge #158983.
Please close

[2021-05-17 00:38] cro27 commented on #72566
Fixed with PR Merge #158983.
Please close

[2021-05-17 00:48] nickbeagley2 opened #75380 "Examples showing ACL being respected"
The best practices for data lake rightly state that you should use ACLs with Azure AD domain groups. There's not one example or tutorial in any of the related documentation here (that I could find) on using any tools/service to access the data lake that does not require resource level groups such as Storage Blob Data Contributor or requires connecting to the data lake using the storage account key

[2021-05-17 01:11] SamaraSoucy-MSFT commented on #75108
Currently Synapse doesn't have any specific features that support streaming, but you should be able to get it to work. Running the notebook directly through Pipelines wouldn't be the best way- Pipelines are meant for discrete tasks, not continuous ones. You may want to check the monitor tab to see if the Spark logs give any insight into why the job was stopped- it's possible you hit the auto-pause

[2021-05-17 01:17] nouyang opened #75381 "Fix api path in python quickstart for bing entities search"
Running sample code at
https://docs.microsoft.com/en-us/azure/cognitive-services/bing-entities-search/quickstarts/python

Fails with
[code]
Per https://docs.microsoft.com/en-us/answers/questions/173628/bing-search-api-returns-the-34resource-not-found34.html this should be fixed with by changing the `path`

[code]
and then it works.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2021-05-17 01:21] elliotsegler opened #75382 "Specifically call out that mail-enabled security groups cannot have security groups as members"
It'd be helpful to call out that mail-enabled security groups cannot have security groups as members in the list of unsupported features.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe42976d-da2c-c20a-25f1-f1548dcffbfb
* Version Independent ID: fbeaa46b-eff9-b43a-e90e-6486149a3103
* Content: [Add or remove a group f

[2021-05-17 01:50] Hakuroda commented on #75038
Hi Gitarani

I'm sorry I didn't response. I lost your message...

A case no is this 2103230060001557. This is an Japan local support ticket and all is written in Japanese. But I investigated for this case.
The result of investigation, Anton Kucer told me as that I said. I mean there is a case which will be charged.

If you don't enough clear, could you give me a DM?

Thanks,
Hayato

From: Gitarani

[2021-05-17 01:51] JamesTran-MSFT commented on #75376
@karlgots
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-17 01:52] JamesTran-MSFT commented on #75378
@Cmohan
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-17 01:53] JamesTran-MSFT commented on #75380
@nickbeagley2
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-17 01:54] JamesTran-MSFT commented on #75381
@nouyang
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-17 01:55] JamesTran-MSFT commented on #75382
@elliotsegler
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-17 02:17] konabuta opened #75383 "Microsoft Edge on iPad is supported ?"
I can't find description about device support. I tried to access to Azure ML studio from iPad. But I got message "Unsupported browser". Please document about what device is supported clearly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8188c6a-2184-b7cb-08a8-5487b90a9fa3
* Version Independent ID: a8e56c10-1fa4-5a2b

[2021-05-17 02:19] sunscorch opened #75384 "need to improve the document due the security patch for ubuntu images"
hi :
i am one of the support engineers of MS.
from the doc https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-os-patching,
the script  install-updates-schedule-reboots.sh
it looks like we need to access
 http://security.ubuntu.com/ubuntu and script blob https://hdiconfigactions.blob.core.windows.net
if we don't allow these in udr/firewall. we will fail to patch the ubuntu image
---
#### Do

[2021-05-17 02:28] KalyanChanumolu-MSFT commented on #75225
Thank you @markjbrown.
Assigned to @christopheranderson

[2021-05-17 02:30] KalyanChanumolu-MSFT commented on #75198
@daemel Its been a while we heard from you. We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-05-17 02:30] #75198 closed

[2021-05-17 03:12] CHEEKATLAPRADEEP-MSFT commented on #75384
@sunscorch  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-05-17 03:22] CHEEKATLAPRADEEP-MSFT commented on #75104
@vishalaj1 Unfortunately, we don't have document on  performance comparison for dedicated and Serverless Pool. We will work with the content author to create a document for the same.

[2021-05-17 03:22] #75104 closed

[2021-05-17 03:25] CHEEKATLAPRADEEP-MSFT commented on #75166
@chengyu-liu-cs  Thanks for the clarification.  I have assigned the issue to the content author to evaluate and create a new documentation for  connecting azure Devops and databricks scheduled jobs.

[2021-05-17 03:28] CHEEKATLAPRADEEP-MSFT commented on #75234
@DiPal2 Now the changes are live.

![image](https://user-images.githubusercontent.com/79183421/118428865-fd69b600-b6ed-11eb-9274-3e9b5a30fc2a.png)

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-17 03:28] #75234 closed

[2021-05-17 03:47] Karishma-Tiwari-MSFT commented on #75299
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-17 03:51] ram-msft commented on #75383
@konabuta Thanks for the feedback! We will review and update accordingly.

[2021-05-17 03:58] UsovVladimir opened #75389 "there is no button"
[Enter feedback here]
you says: In Networking, select Configure your private endpoint connections.
there is no such option provided.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a47763b-5a9d-bfcb-b97e-63bfa6570782
* Version Independent ID: f2a07f58-6038-0289-b2f0-d44f586980a8
* Content: [Tutorial: Connect to a web a

[2021-05-17 04:32] AjayKumar-MSFT commented on #75326
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-05-17 05:06] thiruma0203 opened #75391 "Changing replication type from ZRS to GZRS/RA-GZRS with Azure portal."
Current documentation states that live migration request is needed to switch from  ZRS to GZRS/RA-GZRS.

https://docs.microsoft.com/en-us/azure/storage/common/redundancy-migration?tabs=portal#switch-between-types-of-replication

However, as far as I've tested, replication type can be changed from Azure portal in some regions.

  - Japan East ... Successfully changed to GZRS/RA-GZRS.

  - West US 2

[2021-05-17 05:07] SnehaAgrawal-MSFT commented on #75084
@rmmcgr Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2021-05-17 05:29] rplati commented on #75164
@CHEEKATLAPRADEEP-MSFT since the above restriction seems to be imposed by design, could you explain the rationale behind it?

[2021-05-17 05:42] PQMISSCMP commented on #17507
with ogg file throw "Unsupported audio format".

What am I doing wrong?

[2021-05-17 05:44] JamesTran-MSFT commented on #75389
@UsovVladimir
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-17 05:51] AnuragSharma-MSFT commented on #75362
@swapnilpotnis Thanks for reaching out. Adding the IPs to the firewall rules should work. Please provide the connection string by masking the sensitive information.

Just to test and verify this, can you please add '0.0.0.0' and '255.255.255.255' as start and end IP and try once? Also have you created the VNET endpoints?

[2021-05-17 06:01] soportedba opened #75393 "--skip-definer is for mysqlpump not mysqldump"
In documentation:

DEFINER: Requires super privileges to create and is restricted. If importing data using a backup, remove the CREATE DEFINER commands manually or by using the --skip-definer command when performing a mysqldump.

But --skip-definer is a parameter for mysqlpump, not mysqldump, please fix.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2021-05-17 06:01] SumanthMarigowda commented on #75050
@vitorboga  Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused. I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your

[2021-05-17 06:01] #75050 closed

[2021-05-17 06:06] SumanthMarigowda commented on #75231
@This [article ](https://docs.microsoft.com/en-us/azure/storage/files/storage-troubleshoot-windows-file-connection-problems)lists common problems that are related to Microsoft Azure Files when you connect from Windows clients. It also provides possible causes and resolutions for these problems.
Based on the error message it could be generic error, Azure Files supports a subset of the SMB 3.0 and 2

[2021-05-17 06:06] #75231 closed

[2021-05-17 06:07] SumanthMarigowda commented on #75230
@benjamincburns  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.
I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow

[2021-05-17 06:30] vinothrao opened #75394 "EndTime is not working correctly"
Since monitorContext.CurrentUtcDateTime is always the same which in turn the endTime  also the same. Hence the condition monitorContext.CurrentUtcDateTime < endTime always return true. The condition should be DateTime.UtcNow < endTime.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3191ff31-64ac-2

[2021-05-17 06:45] SwathiDhanwada-MSFT commented on #75173
@pquinton As requested in my previous comment , can you please share the error you were prompted with?

[2021-05-17 06:51] swapnilpotnis commented on #75362
The connection string was the same as suggested in "Connection strings" section. We have followed the same convention for our other env. as well. The earlier one has "General Purpose" tier and hence the setup is VNet connected.

The latest setup for which we are facing issue is a "Basic" tier posgtresql server which does not have VNet functionality in it. Hence we simply provided the outbound IP a

[2021-05-17 07:03] zackliu opened #75395 "Can I switch token version from v1 to v2 for managed identity?"
I know we can edit manifest for a service principal to use v2 endpoint but I doesn't find anyway to use v2 endpoint for managed identity. Can we achieve that?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2471c08b-befe-8e1a-df08-f13e116c231e
* Version Independent ID: 0d827d33-2906-6352-9398-13863def9354
* Content: [Mic

[2021-05-17 07:06] imtiaza1977 opened #75397 "AMQP Connection is Closed"
I have followed all the steps mentioned [https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-nodejs-how-to-use-queues](url)
 at the end i am getting loop of following error.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2eeb2bb-6ee5-4ee8-c5c3-2ecee05fe910
* Version Independent ID: 30fcb21

[2021-05-17 07:14] JasonWHowell commented on #75384
@sunscorch I'm not sure. Did you work with an ICM to confirm with the product team?

[2021-05-17 07:21] psmanhas commented on #75154
@ATR99 We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-05-17 07:21] #75154 closed

[2021-05-17 07:22] psmanhas commented on #73961
@dlepow Any comments on above?

Thanks

[2021-05-17 07:23] psmanhas commented on #75368
@MashaMSFT Can you please check and add your comments on this doc update request as applicable

[2021-05-17 07:39] lennartki commented on #73762
@JeremyTBradshaw @MarileeTurscak-MSFT  I've created a Microsoft case [Case #:25118500] because it wasn't clear to me. It seems that if you select both options "Require approved client app" and "Require app protection policy" with the Grant set to "Require one of the selected controls" the "Require app protection policy" is always enforced if the app supports it, even if the "Require approved clien

[2021-05-17 08:05] heing opened #75398 "Need example of how to deploy using Azure Pipelines"
Not setting repositoryUrl is fine on first deploy, but on second deploy (or after deploying the application), I get the following error:
undefined: RepositoryUrl is invalid.  Cannot change the RepositoryUrl. Please detach your static site first if you wish to attach to another repository.

This indicates that the repositoryUrl is set to something and running the ARM deployment again tries to chang

[2021-05-17 08:11] SwathiDhanwada-MSFT commented on #75233
@bwren Can you please provide your insights on this issue?

[2021-05-17 08:18] SwathiDhanwada-MSFT commented on #75304
Assigning to content author @mumian to review the feedback and update it if necessary.

[2021-05-17 09:15] AnuragSharma-MSFT commented on #75393
@soportedba Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-05-17 09:30] qrilka opened #75399 "Copy-pasted image?"
Images in the steps 2 and 3 of https://docs.microsoft.com/en-us/azure/dns/dns-custom-domain#app-service-web-apps are the same but the one in the step 3 should show something about DNS zones (while it doesn't)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 806c0eb1-6e39-d04f-f870-9bab02bd168d
* Version Independent ID: 6

[2021-05-17 09:33] qrilka opened #75400 "Copy-pasted image"
The steps 1 and 2 of https://docs.microsoft.com/en-us/azure/dns/dns-custom-domain#app-service-web-apps include the same image while the second step should show an image about DNS zones but it doesn't. Incorrect copy-paste?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 806c0eb1-6e39-d04f-f870-9bab02bd168d
* Version Ind

[2021-05-17 09:34] qrilka commented on #75399
A bit more correct version in #75400

[2021-05-17 09:34] #75399 closed

[2021-05-17 09:36] kalyankrishna1 commented on #74481
#reassign:phsignor

[2021-05-17 09:36] PRMerger7 commented on #74481
phsignor is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-05-17 09:36] kalyankrishna1 commented on #74481
#reassign:phsignoret

[2021-05-17 09:36] PRMerger14 commented on #74481
phsignoret is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-05-17 09:36] kalyankrishna1 commented on #74481
#reassign:psignoret

[2021-05-17 09:51] SeadnaS commented on #75328
To offer some other feedback. We would love to see some guidance on using ACS with Xamarin and Unity3D also.

[2021-05-17 09:54] AjayKumar-MSFT commented on #75070
@fraserbooth,  Apologies for the delay! I'd been discussing on this internally. We have raised a PR based on your feedback. The requested changes would be published in the document once the PR is merged. We will close this for now. Thanks again for your valuable feedback!

[2021-05-17 09:54] #75070 closed

[2021-05-17 10:03] AlexCesarini opened #75401 "Token lifetimes with confidential client refresh tokens - VOLUNTARY PASSWORD RESET behavior"
[Enter feedback here]

I can see that this sentence has been deleted now
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetimes

_Token lifetimes with confidential client refresh tokens
Confidential clients are applications that can securely store a client password (secret). They can prove that requests are coming from the secured client appli

[2021-05-17 10:16] alexjebens commented on #66941
Ticket number 2011050040001699

[2021-05-17 10:17] roopesuomalainen commented on #62877
I gave permissions to a colleague after tens of failing attemts. She got it through with first attempt.

[2021-05-17 10:26] vipulsparsh commented on #75395
@zackliu Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-05-17 10:28] MayankBargali-MSFT commented on #75394
@vinothrao Thank you for your feedback! We will review and update as appropriate.

[2021-05-17 10:29] MayankBargali-MSFT commented on #75397
@imtiaza1977 Thank you for your feedback! We will review and update as appropriate.

[2021-05-17 10:31] vipulsparsh commented on #75401
@AlexCesarini Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-05-17 10:53] vipulsparsh commented on #75344
@dave22000 Let me know if this thread helps in your scenario :
https://github.com/Azure-Samples/active-directory-b2c-advanced-policies/issues/46

[2021-05-17 11:02] VikasPullagura-MSFT commented on #75391
@thiruma0203
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-05-17 11:02] VikasPullagura-MSFT commented on #75391
@tamram
Can you please check and add your comments on this doc update request as applicable.

[2021-05-17 11:05] VikasPullagura-MSFT commented on #75400
@qrilka
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-05-17 11:05] VikasPullagura-MSFT commented on #75400
@rohinkoul
Can you please check and add your comments on this doc update request as applicable.

[2021-05-17 11:05] 0xThiebaut opened #75402 "Clarification on "Malware linked IP address" origin."
Regarding the following statement, could you specify where the activity is logged/observed as most/all of the reported IPs are not seen in the `SigninLogs` table nor in Office 365 Cloud App Security's Activity log. Even from Azure Identity Protection, no events are linked to the alert's "Sign-in correlation id".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2021-05-17 11:05] VikasPullagura-MSFT commented on #75399
@qrilka Thanks for the feedback and linking the issue #75400

[2021-05-17 11:40] Adi-Nugraha-T opened #75403 "deploy failed"
[Enter feedback here]

is the template still valid ? tried deploying it as is but deployment failed with error downloading zip file, changed the zip download link to the direct download link, but the deployed function wouldn't scale the sql database as expected

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 228988d8-be

[2021-05-17 11:42] Klaas- opened #75404 "ZRS Managed disk and a VM that is not bound to a zone"
Hi,
I have a lot of VMs that are not bound to a Zone (single VM applications). Those currently all use LRS managed disks. I am wondering if I could use ZRS to get achieve a quicker recovery in case of a zonal failure. Would a VM that is not bound to a zone automatically start in another zone upon a zone failure? Or would I still need to create a new VM and attach the ZRS disk in case of a zone fai

[2021-05-17 11:42] MaxMeng1985 opened #75405 "ValueError: You passed in an iterable attribute but I cannot figure out its applicable type."
Got the following error when I try to run the provided sample ML script in a brand new ML workspace (following the instruction in the "Train a model in Azure Machine Learning" section, step 5, Run all cells).
ValueError: You passed in an iterable attribute but I cannot figure out its applicable type.

The error was thrown in the "Convert the model to ONNX format" session of the ML script, and by t

[2021-05-17 11:48] opticyclic opened #75406 "Configure virtual network Doesn't Match Screenshot"
The text says:

The image shows 10.21.0.0/24
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de82b14b-7574-ae63-d155-5ddedfab16fc
* Version Independent ID: 8e925358-7916-7573-353b-3f745c860865
* Content: [Tutorial: Create using portal - Web Application Firewall](https://docs.microsoft.com/en-us/azure/web-application-fire

[2021-05-17 11:51] blacksheep-- commented on #68428
Same here. It looks like with newer version of the UI it get's worse.
Why is Microsoft stating there are available translations for "de", when in fact these translations are incomplete?
How is this supposed to be handled @JamesTran-MSFT?

here you can see for version 2.1.4 even "sign in name" is now a non-translated artifact for defaultLanguage="de".
![image](https://user-images.githubusercontent.

[2021-05-17 12:09] JeremyTBradshaw commented on #73762
@lennartki thanks for the info/update. I may just submit a PR for this article to really hammer this by-design (but non-standard) functionality.

It would also be nice to know if just "Require app protection policy" alone would work, or if it remains dormant until "Require approved client app" is also checked.  And not only work, but be proper too.  I mean of course for the scenario where we want

[2021-05-17 12:20] SadiqhAhmed-MSFT commented on #75047
@rahug1190 For visibility

[2021-05-17 12:23] opticyclic opened #75407 "You End Up With An Insecure Website"
You show how to add an application gateway and a web app firewall but you end up with an insecure website that is publicly accessible.

Why doesn't this tutorial create something that you can actually use?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de82b14b-7574-ae63-d155-5ddedfab16fc
* Version Independent ID: 8e92

[2021-05-17 12:37] mikesierra2 opened #75408 "Can I do this with Powershell?"
Hello

I would like to add a custom domain to my AFD with Powershell. How do I do this? I could not see anything obvious in the list of powershell functions, nor in this page of documentation.

Thank you
David

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7290db2b-f5b0-58ab-d840-21dbc0a971c0
* Version Independent ID:

[2021-05-17 12:52] konabuta opened #75409 "Link at "Notebook showing OutputTabularDatasetConfig technique" is not correct."
There is link to OutputTabularDatasetConfig sample notebook [in this section](https://docs.microsoft.com/en-US/azure/machine-learning/how-to-use-automlstep-in-pipelines#send-data-to-automlstep).
![image](https://user-images.githubusercontent.com/3815677/118491536-0ee8a780-b75a-11eb-91b2-5c091f606ed4.png)

But [this notebook](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-

[2021-05-17 12:58] imtiaza1977 commented on #75397
Hi @MayankBargali-MSFT ,
Thanks for your quick reply. Very much appreciated.
I have followed all the steps as mentioned in the documentation. Even i have upgrade the SB from Basic to Standard.
I have only skipped the NOTE part (highlighted in purple) in my activity.

[2021-05-17 12:59] LiamSolDev opened #75410 "AKV10032 Invalid issuer, issue with tutorial"
Hi,

I have been working on the "Quickstart: Azure Key Vault secret client library for JavaScript"

after following the instructions I get the following error when attempting to create a new secret started from this tutorial:

Thank you for any help you can provide.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4342d3

[2021-05-17 13:00] HarshitaSingh-MSFT commented on #75402
Hello @0xThiebaut , thanks for the question! We are taking a look into this and will get back to you soon.

[2021-05-17 13:06] MayankBargali-MSFT commented on #75397
@imtiaza1977 I was able to repro the issue on the receiver code. My observation was that the three messages are read from the service bus queue and then it keeps on waiting for some time and the exception is thrown. I have tested with the older node JS library and observe that only one message is received. I have reached out to my node js library team and waiting for their input on message handler

[2021-05-17 13:08] hyelee517 opened #75411 "source must include a SAS even though publicly accessible."
Azure Blob <-> Azure Blob (Source must include a SAS or is publicly accessible; either SAS or OAuth authentication can be used for destination)

I have tried to do on my test env, and found out it didn't work if there is no SAS but just publicly accessible status.

![image](https://user-images.githubusercontent.com/59077745/118492905-7eab6200-b75b-11eb-86e1-d10f4ffd1f76.png)

as you can see from a

[2021-05-17 13:22] hmayer1980 opened #75412 "Please add section about how to recover from stuck (since 20+ days) tumbling triggers with dependency"
Can you please outline a scenario similar to "Pipeline status is queued or stuck for a long time", but with tumbling trigger with (self) dependency on a prev. run stuck for a long time.

Scenario
 - Many Environments (DEV / TEST / x time PROD)
 - Lets say a trigger in DEV got stuck - but due to the nature of DEV its not checked regularly, so the a failure got not noticed for some time
 - and after

[2021-05-17 13:40] vishalaj1 commented on #75104
Thanks for response, kindly close the case from your end!

[2021-05-17 13:48] Catastrophe1 opened #75413 ""ASP.NET Core Web App" not "ASP.NET Web Core App""
Please check the line "2. In Create a new project, find, and choose **ASP.NET Web Core App**, then select Next." in the page.
It is not "ASP.NET Web Core App" and should be "ASP.NET Core Web App".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64e750b6-a84d-c665-9bb3-167241a33d10
* Version Independent ID: f22f673f-469c

[2021-05-17 13:55] antimajain commented on #75181
Any update?

[2021-05-17 13:55] lpoulin opened #75415 "Not able to view/add routing rules to a Front Door instance through the Front Door designer in the portal"
When clicking the 'Add a rule' button or clicking on one of our existing routing rules in the Front Door designer in the portal, we get the following error:
```Cannot read property 'toLowerCase' of undefined```

![image](https://user-images.githubusercontent.com/19781214/118499851-4d984680-b6f5-11eb-9eff-6a8061a21d25.png)

The rules we have work as expected, but we cannot add any more rules. Could

[2021-05-17 13:56] keen85 opened #75416 "Picture not readable in dark mode (due to transparent background)"
When visiting the page with dark theme, the second picture on the page (https://docs.microsoft.com/en-us/azure/databricks/_static/images/getting-started/gsasg-spark-streaming-model.png) is hardly cognizable due to picture background transparency.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5dc4bda-8e5d-2145-fac7-ea

[2021-05-17 13:56] LiamSolDev commented on #75410
Was able to proceed without this section of the example as my solution only needs to be able to access keys not write.

[2021-05-17 13:56] #75410 closed

[2021-05-17 13:57] SnehaAgrawal-MSFT commented on #75138
Thanks for the feedback! This seems to be more related to this document: [Use a TLS/SSL certificate in your code in Azure App Service.](https://docs.microsoft.com/en-us/azure/app-service/configure-ssl-certificate-in-code) As mentioned [here](https://docs.microsoft.com/en-us/azure/app-service/configure-ssl-certificate-in-code#load-certificate-in-windows-apps) that "The WEBSITE_LOAD_CERTIFICATES app

[2021-05-17 14:02] SnehaAgrawal-MSFT commented on #75413
@Catastrophe1 Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-17 14:10] HeidiSteen commented on #75272
#please-close

[2021-05-17 14:10] #75272 closed

[2021-05-17 14:17] schlesingera commented on #75296
Yes, I've the same issue: https://github.com/MicrosoftDocs/azure-docs.de-de/issues/771 Thank you for your detail description of the error. I tried this scenario also with container instances and azure file share with a storage account. The same issue there. I think there is a configuration issue within the wordpress containers. If the data are store within the container, it works, but that's not a

[2021-05-17 14:33] kirodge opened #75418 "Use of legacy Microsoft.Azure.Services.AppAuthentication instead of Azure.Identity"
The section "Obtain tokens for Azure resources" uses the legacy AppAuthentication client which is no longer recommended.

See
https://docs.microsoft.com/en-us/dotnet/api/overview/azure/service-to-service-authentication

and
https://docs.microsoft.com/en-us/dotnet/api/overview/azure/app-auth-migration

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2021-05-17 14:39] mwsutherland opened #75419 "Breadth-first behavior"
How does this behave in a breadth-first scenario? Does it act like a depth-first pool? Does one VM start for each new connection until they are all started?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b747100-a26b-56fb-54b2-4d2e39e19496
* Version Independent ID: e91c7099-940f-7463-1a5e-58753afe456e
* Content: [Wind

[2021-05-17 14:41] pranavgore opened #75420 "Connection.connect() call"
In the code snipped on the documentation page, the 'connection.connect()' statement is missing where actual connection between nodejs and sql db takes place. Kindly please correct me if I am wrong or if I have missed out on something.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 353bf767-02de-e7ea-d4a1-e0c4b9a82b4f
*

[2021-05-17 14:43] renaudallard commented on #74831
It seems that the problem occurs when the size is already correct and you try to resize the disk to the same size.

[2021-05-17 14:47] Jont-K opened #75421 "Link to "Buyer Security Requirements" document"
Many of our customers are confused on the security requirements in Azure Active Directory they need to inform their customers of (the buyer of the private plan).  For instance, the buyer must be an "Owner" or "Contributor" role on the subscription.

Does such a document exist?  if so, can it be linked here?  If not, can one be created?  This comes up a lot

---
#### Document Details

⚠ *Do not edi

[2021-05-17 14:53] chengyu-liu-cs opened #75422 ""UserErrorReadHttpFileTimeout" error type"
[Enter feedback here]

I did not find documentation for "UserErrorReadHttpFileTimeout" error type. We are using "Copy" activity to load data from customer http endpoints and we got this error exactly after "00:06:57" Copy Duration. It happened in many times. But "Copy Duration"s are exactly the same. In which cases, we get this error ? Is there something we need to configure for Data Factory or Da

[2021-05-17 15:07] KehindeOwens opened #75423 "Is there an API URL endpoint for Events Hub that isn't being mentioned in this documentation?"
Hello,

It would seem weird to me if I there was no URL (http or https) endpoint for events hub to connect external sources/events to it. I am able to locate the connection string endpoint but not the url endpoint; came to this documentation in the hopes I would find it through reading and it doesn't seem to be here either.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2021-05-17 15:19] DonKoning opened #75424 "Add context around the Microsoft.KeyVault/vaults/deploy/action permission"
Feedback about the section:

**Grant access to the secrets**
The user who deploys the template must have the **Microsoft.KeyVault/vaults/deploy/action** permission for the scope of the resource group and key vault. The Owner and Contributor roles both grant this access. If you created the key vault, you're the owner and have the permission.

This part is not very clear in the documentation. [Here]

[2021-05-17 15:20] SamaraSoucy-MSFT commented on #75403
Thanks for the feedback! We will review and get back to you shortly.

[2021-05-17 15:20] SamaraSoucy-MSFT commented on #75405
Thanks for the question! We will review and get back to you shortly.

[2021-05-17 15:21] GiftA-MSFT commented on #75409
@konabuta we'll review your feedback and get back to you shortly. Thanks.

[2021-05-17 15:23] JamesTran-MSFT commented on #75398
@heing
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-17 15:26] Tarjei99 opened #75425 "root certificate may lack rootness"
The text proposes this to create a root certificate.

$cert = New-SelfSignedCertificate -Type Custom -KeySpec Signature `
-Subject "CN=P2SRootCert" -KeyExportPolicy Exportable `
-HashAlgorithm sha256 -KeyLength 2048 `
-CertStoreLocation "Cert:\CurrentUser\My" -KeyUsageProperty Sign -KeyUsage CertSign

What appears to be missing is the bit that makes it a root certificate :  -TextExtension @("2.5.2

[2021-05-17 15:34] piotrgwiazda opened #75426 "Following this instruction does not allow to scan Serverless SQL"
I've tried following this documentation step by step and I keep getting the same error for Serverless SQL.

![image](https://user-images.githubusercontent.com/5331863/118514396-cff42b00-b734-11eb-96cb-b5f4c2350ee0.png)

- I've assigned Pureview MSI a Reader and Storage Blob Data Reader role on resource group with Synapse and storage account
- I've executed with 'master' database selected
[code]
-

[2021-05-17 15:35] Oury-MSFT commented on #75420
@pranavgore Thank you for your feedback. We are looking into this and will get back shortly. Thanks

[2021-05-17 15:46] msrini-MSFT opened #75427 "ARM template in this page throws 404"
Here is the link which throws 404 : https://azure.microsoft.com/documentation/templates/demos/dns-forwarder/

@KumudD Can you take a look at this ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7b1b215-0434-145b-cd11-95d0f32bc015
* Version Independent ID: d328a868-a151-1985-2b62-f3884f7ad76c
* Content: [Name resoluti

[2021-05-17 16:12] somone77 commented on #57060
@ggailey777 Did this issue get reassigned properly? It's been a while since an update and seeing your last comment, I'm wondering if this got dropped.

I'm having the same question as the OP. Would appreciate to see this enhancement!

[2021-05-17 16:18] NavtejSaini-MSFT commented on #75245
@sr-msft We have assigned this to you for further action.

[2021-05-17 16:20] NavtejSaini-MSFT commented on #75254
@langstonj Please help with this info to work further on this,

[2021-05-17 16:21] #75285 closed

[2021-05-17 16:22] NavtejSaini-MSFT commented on #75255
@danimir Please confirm regarding this request.

[2021-05-17 16:25] mcastorina08 opened #75429 "Content Trust with ASK"
What about using content trust with the ACR and AKS integration to prevent unsigned images from being pull.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed59d472-ac33-5c03-dbb7-0e86e88c7dd8
* Version Independent ID: 69e1ad8c-2dd3-cc1b-2b31-996a5d866cc0
* Content: [Integrate Azure Container Registry with Azure Kuberne

[2021-05-17 16:27] danimir commented on #75255
@NavtejSaini-MSFT - I am not the appropriate person for this question. This was added by some other contributor, I am not familiar with this area.

[2021-05-17 16:31] NavtejSaini-MSFT commented on #75255
Thank you for @danimir . @jovanpop-msft - Can you help with who can help with this page and links.

[2021-05-17 16:33] pisees opened #75430 "Knative support for Functions"
Similar to KEDA, can Function run on Knative?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2cbf4053-0a3d-a803-3e0d-8cf28db358e8
* Version Independent ID: 782efd9c-beea-249c-f8e8-4ee4389bfb07
* Content: [Azure Functions on Kubernetes with KEDA](https://docs.microsoft.com/en-us/azure/azure-functions/functions-kubernete

[2021-05-17 16:37] mmacy commented on #74488
@hamiltonha Can you take a look at this?

[2021-05-17 16:38] #75430 closed

[2021-05-17 16:40] himanshusinha-msft commented on #75423
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2021-05-17 16:42] himanshusinha-msft commented on #75422
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2021-05-17 16:42] b-juche commented on #75024
We've connected @HenryFreiburg with our (NetApp) content owner and stakeholders for further discussion.  Henry also had additional questions on the article. We are transitioning the discussion to email.  Closing this issue for now.

[2021-05-17 16:43] b-juche commented on #75024
#please-close

[2021-05-17 16:43] #75024 closed

[2021-05-17 16:44] tfitzmac commented on #74719
#please-close

[2021-05-17 16:56] alexlushsevernunival opened #75432 "SKU's missing from table"
The following three SKUs are listing in our tenant but not shown in the table:
POWERAPPS_INDIVIDUAL_USER
PROJECT_P1
MICROSOFT_BUSINESS_CENTER

Please can they be added?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Co

[2021-05-17 16:58] AlainDormehlMSFT commented on #24641
This entire feature is going to be deprecated. This feature is currently not getting any updates. My recommendation would be to update the article to reflect the above commentary.

"Customers must navigate and select their SQL Analytics deployment from the "Solutions" blade of the Log Analytics."

[2021-05-17 17:04] KranthiPakala-MSFT commented on #75416
@keen85
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-05-17 17:05] DishaAgarwal commented on #73385
Hi @YutongTie-MSFT The QnA Maker team has replied to the thread. Can we close it?

[2021-05-17 17:05] KranthiPakala-MSFT commented on #75416
@mssaperla , @leifbro - Could you please review this feedback. Looks like the image has to updated.

Below is the current view of the image in dark mode.

![image](https://user-images.githubusercontent.com/50185738/118528651-6e619b80-b6f7-11eb-8bb7-35c82f4e3e42.png)

[2021-05-17 17:06] DishaAgarwal commented on #73530
@RohitMungi-MSFT  Can we close this?

[2021-05-17 17:06] mscatyao commented on #75015
Hi @Herman5006 - @SaiKishor-MSFT is right, we only currently support frontend mTLS. You can configure [server variables](https://docs.microsoft.com/en-us/azure/application-gateway/rewrite-http-headers-url#mutual-authentication-server-variables-preview) to pass client certificate information to the backend but we don't support backend (btwn AppGW + the backend) mTLS right now.

[2021-05-17 17:06] mmacy commented on #72941
@dloder0 Apologies for the delay in response and for the incorrectly functioning step. I'll be submitting a PR now to remove that step (PR is in private repo, link may 404 for you):

https://github.com/MicrosoftDocs/azure-docs-pr/pull/159054

I'll work with @jmprieur to see what needs to happen to get this added to the portal, then we can add the steps back in, and we'll avoid adding busted steps

[2021-05-17 17:07] KranthiPakala-MSFT commented on #75412
@hmayer1980
Thanks for the feedback! We have assigned the issue to the content author to further review this and provide an update as appropriate.

@ssabat - Could you please review this feedback? - Thanks

[2021-05-17 17:07] DishaAgarwal commented on #74240
@Farooq-KhanCS Can we close this?

[2021-05-17 17:08] #72941 closed

[2021-05-17 17:13] VikasPullagura-MSFT commented on #75294
@carlosporter
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-05-17 17:13] VikasPullagura-MSFT commented on #75294
@srijang
Can you please check and add your comments on this doc update request as applicable.

[2021-05-17 17:15] VikasPullagura-MSFT commented on #75404
@Klaas-
Thanks for your Question! We are currently investigating and will get back on this.

[2021-05-17 17:17] JamesTran-MSFT commented on #75432
@alexlushsevernunival
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-17 17:18] duongau commented on #75427
@msrini-MSFT I updated the link and should reflect later today.

Cheers!

[2021-05-17 17:21] VitaliyKurokhtin commented on #75289
Doc is wrong. Variable is not set at all in case of miss and no default-value

[2021-05-17 17:21] tnorling commented on #66741
Thanks @mmacy, I've addressed this in https://github.com/MicrosoftDocs/azure-docs-pr/pull/159059

This can be closed as soon as that's merged.

[2021-05-17 17:23] KumudD commented on #75427
#please-close

[2021-05-17 17:23] #75427 closed

[2021-05-17 17:23] tfitzmac commented on #75359
@felixtsem5 - thanks for this feedback. I will update the v2 limit.

[2021-05-17 17:25] HeidiSteen commented on #75265
@BryanTrach-MSFT @DerekHerman-MSFT   Access tier requirements are now covered in the above-mentioned article as well as this one: https://docs.microsoft.com/en-us/azure/search/search-howto-indexing-azure-blob-storage#supported-access-tiers

#please-close

[2021-05-17 17:25] #75265 closed

[2021-05-17 17:25] YutongTie-MSFT commented on #75217
@GraemeMalcolm Hello Graeme, I have reached out to Larry according to this issue. He will take care of the document. Thanks again.

[2021-05-17 17:26] JamesTran-MSFT commented on #75312
@jgcjoec
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-17 17:30] #75015 closed

[2021-05-17 17:33] tfitzmac commented on #75359
These update should get published later today.
#please-close

[2021-05-17 17:33] #75359 closed

[2021-05-17 17:39] JamesTran-MSFT commented on #75350
@glomaga
Thank you for your post!

I didn't have any issues enabling or disabling Continuous access evaluation, would you be able to try it again and see if you're still running into issues? Opening a new browser, or signing-out/in should help as well.

![disableCAE](https://user-images.githubusercontent.com/36619112/118532472-dca85d00-b6fb-11eb-8659-1a4ab208edf1.gif)

If you have any other questi

[2021-05-17 17:47] daveba commented on #75432
#unassign: @daveba #assign: @Nicholak-MS

[2021-05-17 17:56] SnehaAgrawal-MSFT commented on #75133
@eltonsaunders Thanks for asking question! No, you should not delete the TXT record. Actually, it’s recommended that you add it even if you already mapped a domain previously.

Adding domain verification IDs to your custom domain can prevent dangling DNS entries and help to avoid subdomain takeovers. For custom domains you previously configured without this verification ID, you should protect them

[2021-05-17 17:56] #75133 closed

[2021-05-17 17:57] msmbaldwin commented on #75069
Hi @1RedOne, and thank you for the feedback.  We have addressed this.  The guidance section of PV-6 now reads:

Thank you! #please-close

[2021-05-17 17:58] #75069 closed

[2021-05-17 18:00] Karishma-Tiwari-MSFT commented on #75088
Glad to know that you were able to resolve the issue.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-05-17 18:00] #75088 closed

[2021-05-17 18:10] MashaMSFT commented on #70098
Hi @rarandiv , thanks so much for reaching out! Unfortunately, given that video is from 2018 and is using the incorrect product name, we are unable to add this video at this time. However, we are certainly open to more recent suggestions :)

I'll close out this Git Issue for the time being but please feel free to comment should you need anything further.

Thanks again for reaching out and I hope y

[2021-05-17 18:10] #70098 closed

[2021-05-17 18:12] MashaMSFT commented on #70098
#assign:MashaMSFT

[2021-05-17 18:14] JamesTran-MSFT commented on #75363
@davabergeron
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-17 18:14] MashaMSFT commented on #68029
Hi @kalendelaney , thanks for contacting Microsoft! You don't know this but you're secretly my hero :) This is great feedback -  I've processed a change to update the image, it'll be live later this week.

I'll close out this Git Issue but please feel free to comment should you need anything further.

Thanks again for improving our docs and I hope you have a wonderful rest of your day!
Masha from

[2021-05-17 18:14] #68029 closed

[2021-05-17 18:16] JamesTran-MSFT commented on #74928
@dave22000
Thank you for your time and patience throughout this issue. I just wanted to reach out and let you know that we're still looking into this, and will update as soon as possible.

Additionally, since you're still experiencing this issue on your end, if you'd like to work closer with our support team, please let me know. This way I can enable your subscription for a one-time free technical

[2021-05-17 18:19] Grace-MacJones-MSFT commented on #75418
Hi @kirodge , thanks for bringing this to our attention. Your feedback has been shared with the doc owner for further review.

[2021-05-17 18:20] MonikaReddy-MSFT commented on #75415
@lpoulin - Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-05-17 18:28] bandersmsft commented on #74997
@andyjballgit Sure, I'll update the article to echo what I mentioned in my previous comment. Will that work for you?

[2021-05-17 18:30] seanmcne commented on #75281
@mmacy these topics look great and I believe would include what I was looking for the other day. I appreciate the quick follow up!

[2021-05-17 18:40] andyjballgit commented on #74997
that would be great thanks :-)

[2021-05-17 18:48] SaiKishor-MSFT commented on #75202
@zmarty We do not have this feature at the moment so its not possible to get the location/Timezpne based on their IP address.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-17 18:48] #75202 closed

[2021-05-17 18:57] langstonj commented on #75254
In searching for current topic information I will follow listed links.  When getting over to the page for this one one in question there was a notation at the top of the page that the material was no longer being maintained (rather than being kept up-to-date).

[2021-05-17 18:59] langstonj commented on #75254
![image](https://user-images.githubusercontent.com/44070018/118541967-f8216100-b717-11eb-84ba-6c6f92374f57.png)

[2021-05-17 19:02] kfprugger opened #75434 "/projects"
/Projects "is a reserved name"

We have a folder called projects under which there are a large number of notebooks which I cannot move. Is there a way to enable Repos having a Projects in the root of the workspace?

![image](https://user-images.githubusercontent.com/20729981/118542450-03c55580-b721-11eb-81d8-de8cf2a6c20f.png)

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-05-17 19:10] yobyot opened #75435 "Cannot use this page to accurately determine what services are available via Private Link in Azure China"
This page makes it impossible to determine which private link services are available in Azure China because it fails to define "all public regions."

For example, Azure SQL Database is available in "all public regions, all government regions and all China regions." One would think all services available for private link connection in Azure China would be listed this same way and the _absence_ of "

[2021-05-17 19:16] SamaraSoucy-MSFT commented on #75307
The ability to disable geo-backups only applies to SQL Pools not attached to a Synapse workspace. I've submitted a PR to change the wording to make this more clear. It will go live once the doc author has had a chance to review it.

[2021-05-17 19:16] #75307 closed

[2021-05-17 19:23] SaiKishor-MSFT commented on #75271
@rbegito We are actively looking into this and will update you soon with more details. Thank you!

[2021-05-17 19:24] tfitzmac commented on #74752
@jikuja - thanks for this feedback. I am updating the doc to clearly state what tools support this syntax.

[2021-05-17 19:25] npatel74 opened #75436 "gets 401 error when search the address using api"
[Enter feedback here]
gets 401 error when search the address using api. I am entering the correct subscription-key.

https://atlas.microsoft.com/search/address/json?&subscription-key=mykey&api-version=1.0&language=en-US&query=400 Broad St, Seattle, WA 98109
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2578f489-79b3-4b

[2021-05-17 19:30] jonburchel commented on #75324
Thank you @fulky for catching this and helping improve the docs.  I updated the document now and it should be published soon.  #please-close

[2021-05-17 19:30] #75324 closed

[2021-05-17 19:40] jstutson opened #75438 "Property name missing for fixing serialization size issue."
What's the property??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b762f97-b557-85c3-c50a-becfd616bab5
* Version Independent ID: b1e23a20-5a4a-4a06-f60c-48a2c685522e
* Content: [Serialized task is too large - Azure Databricks - Workspace](https://docs.microsoft.com/en-us/azure/databricks/kb/execution/spark-serialize

[2021-05-17 19:43] tfitzmac commented on #74752
The update should get published later today.
#please-close

[2021-05-17 19:43] #74752 closed

[2021-05-17 19:48] tfitzmac commented on #75424
@DonKoning - thanks for this feedback. I'll add that context.

[2021-05-17 19:57] mike-urnun-msft commented on #74966
related to: Azure/azure-functions-durable-python#272

Hey @davidmrdavid - Do you happen to already have the Python samples we can add to this doc?

[2021-05-17 19:57] JamesTran-MSFT opened #75439 "Add more details for authenticating with different users (AzureAD and external)"
For more info: https://docs.microsoft.com/answers/answers/398089/view.html

Please add some more details for authenticating with different users (AzureAD and external). Specifically when it comes to using the different endpoints, https://login.microsoftonline.com/common/v2.0 instead of https://sts.windows.net/tenant_id/v2.0

**Changing the Issuer URL within your App service's authentication:**
htt

[2021-05-17 20:01] JamesTran-MSFT commented on #75439
@JamesTran-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-17 20:01] npatel74 commented on #75436
We found the problem, we are using gov subscription so we need to use .us domain

[2021-05-17 20:04] chuckb1300 opened #75440 "Clean up on article needed for command line text and command line text types"
Evaluate text for ( sudo bash -c 'echo "<connection string" > /var/defender_iot_micro_agent/connection_string.txt' )
using this, placing the connection string ends up non-functional with the '<' being right next to the left side of the connection string.

Also, there are many references to Azure CLI where you would expect that you are running Azure CLI commands.  Rather they are the SSH commands y

[2021-05-17 20:13] tamram commented on #74604
@robert4os - Thanks for your feedback. I believe that this has been addressed by another user. Can you check the table again and verify that this is what you are looking for? Thanks.

[2021-05-17 20:14] NavtejSaini-MSFT commented on #75406
@opticyclic We are checking this and will get back to you.

[2021-05-17 20:14] NavtejSaini-MSFT commented on #75407
@opticyclic We are checking this and will get back to you.

[2021-05-17 20:15] NavtejSaini-MSFT commented on #75408
@mikesierra2 We are checking this and will get back to you.

[2021-05-17 20:16] NavtejSaini-MSFT commented on #75411
@hyelee517 We are checking this and will get back to you.

[2021-05-17 20:18] #75289 closed

[2021-05-17 20:26] mike-urnun-msft commented on #75289
@VitaliyKurokhtin Thanks for confirming!

@Peppers911 Thanks for reporting this issue and helping us drive improvements towards MS Docs! I have created a PR that addresses the particular matter and the changes will be live soon. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-05-17 20:31] bandersmsft commented on #74997
@andyballgit Doc update in progress with https://github.com/MicrosoftDocs/azure-docs-pr/pull/159098. The article should get updated live later this afternoon.

[2021-05-17 20:43] DerekHerman-MSFT commented on #75411
@hyelee517 I tested this and it worked for me without issue. I believe the issue maybe that you are logged in via AD credentials. Can you run azcopy logout then re-run the test?

[2021-05-17 20:44] SatishBoddu-MSFT commented on #75436
Hello @npatel74
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-17 20:51] SatishBoddu-MSFT commented on #75112
Hello @sandervandevelde We received a response from the product team on this query.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questio

[2021-05-17 20:51] #75112 closed

[2021-05-17 20:53] tfitzmac commented on #75424
This update should get published later today.
#please-close

[2021-05-17 20:53] #75424 closed

[2021-05-17 21:13] SaiKishor-MSFT commented on #75389
@UsovVladimir I reproduced the setup and see the option for 'Configure your private endpoint connections' as seen in the snapshot below-

<img width="442" alt="2021_05_17_14_01_38_testsai123_Microsoft_Azure_Work_Microsoft_Edge" src="https://user-images.githubusercontent.com/68254272/118557218-babdd300-b719-11eb-8105-8c5dafc259f0.png">

Please let me know if you can try following the steps again an

[2021-05-17 21:19] StephenWeatherford opened #75441 "TTK documentation incorrectly mentions non-existent test "Parameters must exist""
Thist test used to exist, but was deleted from the TTK (see https://github.com/Azure/arm-ttk/pull/348).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09b0964f-2681-1293-5370-7e2cb03a2935
* Version Independent ID: 751c977d-2ab5-c304-155c-8caeac141645
* Content: [Test cases for test toolkit - Azure Resource Manager](htt

[2021-05-17 21:27] karimyousfi commented on #75296
Thanks for looking at this @schlesingera. Interestingly when I store a file in the storage account and try to browse using the url created by azure I also get a 502 on any file I upload to the storage account.
I also tried to run wordpress as standard single container and got the same results as you.
I've tried some options in wp-config.php, php.ini and apach2.conf  and inserting those files in th

[2021-05-17 21:35] chasexd opened #75442 "I don't see Enable ID token implicit grant from azure B2C"
I don't see `Enable ID token implicit grant` under Azure B2C.
Tried to follow documentation, but don't see it.
https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-register-applications?tabs=app-reg-ga#enable-id-token-implicit-grant
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 670bf490-966b-e72e-ab6c-1

[2021-05-17 21:38] b-juche commented on #75325
Thanks @RutgerKosters!  Fixed.

#please-close

[2021-05-17 21:38] #75325 closed

[2021-05-17 21:40] himanshusinha-msft commented on #75118
@pakbaz : Can you elaborate the issues whcih i you facing ? When you say that "the messages did not got delivered " are seeing any error ? Which region are trying this out . I did a quick check and it was working for me . Just wanted to know more and see if we can repro . Please reply back and we will try to help .

[2021-05-17 21:52] himanshusinha-msft commented on #75257
@FintanGuihen  : I think we can  use a join in between the source and sink and acheive the same . I will let me @kromerm  take a call if he wants to add that scenario in the doc .

[2021-05-17 22:01] tfitzmac commented on #75304
@AndyCross - thanks for this feedback. I'll add those commands.

[2021-05-17 22:14] KranthiPakala-MSFT commented on #75438
@jstutson Thanks for reaching out and feedback. Please see below:

![image](https://user-images.githubusercontent.com/50185738/118562947-87cc0d00-b722-11eb-97bb-695c5dde108c.png)

Reference: https://kb.databricks.com/execution/spark-serialized-task-is-too-large.html

We will work with relevant content author to update the doc as required.

[2021-05-17 22:15] KranthiPakala-MSFT commented on #75438
Hi @mssaperla , @leifbro - could you please review this doc and make the necessary changes as required. - Thanks

[2021-05-17 22:19] Muralitiru opened #75443 "Wrong Azure CLI version in Prerequisites"
There is no Azure CLI 2.24.o version which is misleading our customers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42afd8de-b697-100c-98c7-ae8e6a6f1b92
* Version Independent ID: 81674054-0ea2-210b-2e65-18a0f15617c1
* Content: [Manage Azure RBAC in Kubernetes From Azure - Azure Kubernetes Service](https://docs.micro

[2021-05-17 22:19] retroray81 commented on #75135
@RyanHill-MSFT Can I get some clarification on "shortly?"

[2021-05-17 22:32] mingshen-ms commented on #69644
Hello @pvones, apologies for the prolonged delay in response.  I have checked with the webhook API service team, and they've confirmed that the documentation is correct as is, please verify on your side.

Thanks you for the feedback, we currently don't have any plans on the above, however, the feedback has been given to the appropriate team to evaluate.

I'll close this thread for now, If the abov

[2021-05-17 22:32] #69644 closed

[2021-05-17 22:35] tfitzmac commented on #75304
This update should get published tomorrow.
#please-close

[2021-05-17 22:36] #75304 closed

[2021-05-17 22:40] bmedlin opened #75444 "AppServiceFileAuditLogs for function apps"
App Service provides the 'AppServiceFileAuditLogs' diagnostic log category. Can this be used with Azure Functions?

I need to meet the PCI DSS 3.2 File Integrity Monitoring requirement. Is there another way I can provide an audit trail of changes made to deployed source files?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-05-17 22:42] GiftA-MSFT commented on #75409
@lobrien please review above feedback. Thanks.

[2021-05-17 22:52] tfitzmac commented on #75441
@StephenWeatherford - thanks for this feedback. I have removed that test case. The update should get published tomorrow.
#please-close

[2021-05-17 22:52] #75441 closed

[2021-05-17 23:00] JamesTran-MSFT commented on #75442
@chasexd
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-17 23:04] JamesTran-MSFT commented on #75442
@chasexd
Thank you for your time and patience throughout this issue! It looks like this doc might be referencing old steps, but can you follow the below steps and see if that resolves your issue.

1- Navigate to your B2C Tenant
2- Search for and Select Azure AD B2C
3- Select App registrations, select your Application
4 - On the left side, select Authentication, scroll down until you see "Implicit

[2021-05-17 23:06] b-juche commented on #75329
AES Encryption description updated.
Thanks, @RutgerKosters, for your always precise and clear input that helps us quickly turn around updates!

[2021-05-17 23:06] b-juche commented on #75329
#please-close

[2021-05-17 23:06] #75329 closed

[2021-05-17 23:19] anastasia-ms commented on #75436
@SatishBoddu-MSFT They found the solution to the issue. See above. I believe you can close this.

[2021-05-17 23:22] b-juche commented on #75343
Thanks, @elfcounsel!  Checking with our SMEs before making this update.  Due to an impending doc update freeze, changes might wait a week to show.  Will provide status.

If you are an ANF team member, feel free to reach out with further comments through juliec@netapp.com or b-juchfw@microsoft.com.

[2021-05-17 23:23] jeevansd commented on #75312
@jgcjoec JIRA has its own user directory and so before doing the single sign-on you need to make sure that the user does exist in JIRA also. You can do this using the JIRA user interface or API. But make sure that the user's username is matching to the attribute which you are configuring in the plugin coming from Azure AD. Then everything will work otherwise not.
we have  a backlog item on our sid

[2021-05-17 23:24] jeevansd commented on #75312
Alternatively you can also connect JIRA to provision the users from your Active Directory on premise and that way users can be created inside JIRA server.

[2021-05-17 23:24] jeevansd commented on #75312
#please-close

[2021-05-17 23:24] #75312 closed

[2021-05-17 23:34] b-juche commented on #75337
Thanks, @elfcounsel! Checking with our team members before making this update. Due to an impending doc update freeze, changes might wait a week to show. Will provide status.

If you are an ANF team member, feel free to reach out with further comments through juliec@netapp.com or b-juchfw@microsoft.com.

[2021-05-17 23:44] #75436 closed

[2021-05-17 23:53] SamaraSoucy-MSFT commented on #75403
I confirmed the template isn't working. I have assigned the issue to the doc author to update appropriately.

[2021-05-18 00:02] RyanHill-MSFT commented on #75135
Sorry for the delayed response @retroray81. `additionalLoginParams` for EasyAuthV2 is still valid, however, isn't supported in https://resources.azure.com just yet. You can use `az rest` in the interim until this change is made. Run the GET to get the current settings, update `additionalLoginParams`, then run PUT

GET /subscriptions/<subscription>/resourceGroups/<resourcegroup>/providers/Microsoft

[2021-05-18 00:04] mmacy commented on #66741
@tnorling Thank you, Thomas! PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/159059 has been merged, closing this one out. #please-close

@phwecker Thanks for the report of the busted code snippets, the fix should now by live, but let us know if you find anything else incorrect - we really appreciate it!

[2021-05-18 00:04] #66741 closed

[2021-05-18 00:22] NavtejSaini-MSFT commented on #75419
@mwsutherland We are checking this and will get back to you.

[2021-05-18 00:23] NavtejSaini-MSFT commented on #75421
@Jont-K We are checking this and will get back to you.

[2021-05-18 00:28] trungtran-msft opened #75446 "Unable to delete Azure Recovery Service vault through outlined steps"
These steps under "Proper way to delete a vault" do not work. I am unable to delete my vault using the steps outlined and I do not see the same UI as what is shown in the screenshots.

Is this not up to date with the newest Azure build?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 728cc3f4-d5da-a270-a3c0-53f179147cc0

[2021-05-18 00:32] NavtejSaini-MSFT commented on #75425
@Tarjei99 We are checking this and will get back to you.

[2021-05-18 00:34] NavtejSaini-MSFT commented on #75426
@piotrgwiazda We are checking this and will get back to you.

[2021-05-18 00:41] y10e opened #75447 "Intrenal Traffic Manager Endpoint go down by NSG inbound rule on subnet"
[Enter feedback here]
I'm using Premium SKU and deploying the APIM on VNET as external vnet mode. Additionaly, we are using multi region (Japane East and West).
We have requirements that inboud 443 https connection to APIM from only specified clients (Logic App and WAF) are allowed. so we are being allowed 443 port from only Service Tags and WAF IP range on NSG inbound rules which APIM is deployed

[2021-05-18 00:42] yingqunpku commented on #73874
please-close

[2021-05-18 00:43] #73874 closed

[2021-05-18 00:44] NavtejSaini-MSFT commented on #75429
@mcastorina08 We are checking this and will get back to you.

[2021-05-18 00:45] NavtejSaini-MSFT commented on #75434
@kfprugger We are checking this and will get back to you.

[2021-05-18 00:54] GoonerW opened #75448 "Baltimore Cert was not removed on Feb 15, 2021 as advised on this page"
Needs to add a clarification that the Baltimore cert wasn't replaced on Feb 15, 2021 and has now been deferred a year, according to https://docs.microsoft.com/en-us/azure/mysql/concepts-certificate-rotation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77a94e6f-a799-494f-f2f9-171c1804e5f4
* Version Independent ID: 0ca

[2021-05-18 01:01] NavtejSaini-MSFT commented on #75435
@yobyot We are checking this and will get back to you.

[2021-05-18 01:06] NavtejSaini-MSFT commented on #75440
@chuckb1300 Thank you for the feedback. We have assigned this to author for further review.

[2021-05-18 01:55] #75140 closed

[2021-05-18 02:08] stevevi commented on #75263
Hi @abharath27 does my response make sense?  See how in the sample code snippet the URI is obtained by concatenating host, path, and params strings.  So, you need the entire host string as stated in the article.  Let me know if you still have questions.

[2021-05-18 02:15] ChaitanyaNaykodi-MSFT commented on #75444
Hello @bmedlin,
Thank you for your feedback! We will review and update as appropriate.

[2021-05-18 02:19] ChaitanyaNaykodi-MSFT commented on #75447
Hello @y10e
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.
@mikebudzynski could you please have a look at the issue. Thank you!

[2021-05-18 02:21] xuanphi7895 commented on #14793
Thanks so much!

[2021-05-18 03:02] atvoid opened #75449 "How to display our first party app in the allow list ?"
Our first party app is Azure Purview Studio, but it is not displayed in the allow list. so our customer can't enable their account bypass our AAD auth.
![image](https://user-images.githubusercontent.com/971824/118583943-75a4aa00-b7c8-11eb-8356-bbe1a8ae7ed9.png)

how to add our app to this allow option list ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2021-05-18 03:24] lualvare opened #75450 "Calico Network Policy Causes POD Outbound Connection To Fail To Internet Endpoints when using node pools with a unique subnet feature."
Hello team,

I had found that when using  Calico Network Policies with the **node pools with a unique subnet feature**, PODS running on the NON-DEFAULT Nodepool can not connect to internet Endpoints, internal POD connection works well,  also nodes for the NON-DEFAULT nodepool can reach internet endpoint, the problem is **ONLY** with PODS running on the NON-DEFAUL agent pool.

I understand this is

[2021-05-18 03:28] BhargaviAnnadevara-MSFT commented on #75317
@jsandersrocks Any further update here?

[2021-05-18 04:08] JasonWHowell commented on #75255
@tfitzmac Could you assist?

[2021-05-18 04:08] JasonWHowell commented on #75023
@leifbro our ARM team moved the templates recently.
@tfitzmac Could you assist? I can't find the new location.

[2021-05-18 04:08] JasonWHowell commented on #74549
@leifbro @tfitzmac here's another for the same missing ARM template I think.

[2021-05-18 04:16] CHEEKATLAPRADEEP-MSFT commented on #75023
@JasonWHowell New location for the Azure Databricks ARM templates: https://github.com/Azure/azure-quickstart-templates/tree/master/quickstarts/microsoft.databricks

VNet Template for Databricks VNet Injection - https://github.com/Azure/azure-quickstart-templates/tree/master/quickstarts/microsoft.databricks/databricks-vnet-for-vnet-injection

[2021-05-18 04:19] JasonWHowell commented on #75023
@leifbro could you please repair the link in the upstream repo to point to the new location, if that's the right place to keep the source in sync. Thanks, Jason

[2021-05-18 04:20] JasonWHowell commented on #74549
Same fix here is needed.
VNet Template for Databricks VNet Injection - https://github.com/Azure/azure-quickstart-templates/tree/master/quickstarts/microsoft.databricks/databricks-vnet-for-vnet-injection

[2021-05-18 04:24] CHEEKATLAPRADEEP-MSFT commented on #75108
@vishalaj1  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-18 04:24] #75108 closed

[2021-05-18 04:34] SadiqhAhmed-MSFT commented on #75446
@trungtran-msft Thank you for your post. The steps are still valid. We may need to update a few screenshots. Let me know if you are hitting any error.

[2021-05-18 04:34] RohitMungi-MSFT commented on #73530
@DishaAgarwal Thanks for fixing. I will go ahead and close the issue.

[2021-05-18 04:34] #73530 closed

[2021-05-18 04:35] SadiqhAhmed-MSFT commented on #75446
@v-amallick To review and update the screenshots.

[2021-05-18 04:39] vipulsparsh commented on #75449
@atvoid Thanks for reaching out.
Please open a support case with AAD team and with their help you can get a timeline/reason why your app is not shown in the list.
If required they can also check with the PG if this is something which is coming.

[2021-05-18 04:48] leifbro commented on #75023
I believe we fixed all of these last week

Leif Brown | Director of Documentation | Databricks

He, Him, His

On Mon, May 17, 2021 at 9:19 PM Jason Howell ***@***.***>
wrote:

[2021-05-18 04:54] JasonWHowell commented on #75023
Confirmed it was already fixed. THanks!
#please-close

[2021-05-18 04:54] #75023 closed

[2021-05-18 04:54] jeevannagvekar commented on #74903
@ValOlson did you get chance to look into logs/manifest?

[2021-05-18 04:55] JasonWHowell commented on #74549
Confirmed it was already fixed last week. THanks!
#please-close

[2021-05-18 04:55] #74549 closed

[2021-05-18 04:58] v-amallick commented on #75446
@trungtran-msft

Thank you for your feedback. I will look into this and get back.

[2021-05-18 05:11] utraghuv commented on #74969
@mepand @BharathNimmala-MSFT @ChaiSwaddipong The redundancy of the source storage account applies in case of operational backup for blobs (and not that of the vault), since the backup data is stored as version in the source account itself.

[2021-05-18 05:11] utraghuv commented on #75184
@mepand @BharathNimmala-MSFT  Premium blobs and page blobs are not supported currently. Please find limitations listed here: https://docs.microsoft.com/azure/backup/blob-backup-support-matrix#limitations

[2021-05-18 05:17] KranthiPakala-MSFT commented on #75295
Hi @jixin85 Thanks for the feedback. The addition of new sources is an ongoing process and product is working on adding them to the documentation. I will double check with internal team about the ETA for this data source documentation and will get back to you soon.

Thank you

[2021-05-18 05:18] psmanhas commented on #75443
@Muralitiru Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-05-18 05:18] psmanhas commented on #75443
@palma21 Can you please check and add your comments on this doc update request as applicable

[2021-05-18 05:19] celinama opened #75455 "A full stop missing"
In Document https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-known-issues#blob-storage-apis
Under Third party applications
Third party applications that use REST APIs to work will continue to work if you use them with Data Lake Storage Gen2 Applications that call Blob APIs will likely work.

A full stop missing after "Data Lake Storage Gen2".

---
#### Document Details

⚠ *Do

[2021-05-18 05:20] psmanhas commented on #75450
@lualvare Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-05-18 05:21] psmanhas commented on #75450
@mlearned Can you please check and add your comments on this doc update request as applicable

[2021-05-18 05:27] CHEEKATLAPRADEEP-MSFT commented on #75240
Confirmed it was already fixed last week. Thanks!
#please-close

[2021-05-18 05:27] #75240 closed

[2021-05-18 06:10] liwensun commented on #74041
@MayankBargali-MSFT Can you please provide an update on this was resolved at the end? I see CopyBlob is still mentioned in the doc:

[2021-05-18 06:12] TiTi commented on #75184
@utraghuv this is the point of my ticket (cf citation): there is no such thing as "premium blobs".
There are standard or premium storage account in LRS/GRS/... and block/page/append blobs inside.

[2021-05-18 06:43] zhouaoe commented on #45613
i meet the same problem. I can  get data using url "accountname.blob.core.windows.net" ,but  when i use  gen2 url "accountname.dfs.core.windows.net" ,it returne "Make sure the value of Authorization header is formed correctly including the signature."

[2021-05-18 06:44] AjayKumar-MSFT commented on #75410
Thanks for leveraging Azure docs feedback channel to raise this question and also sharing an update. Much appreciate your feedback.

[2021-05-18 06:53] kajencik opened #75456 "Add support for stopping WVD Hosts"
I'm not sure if this is the right place, but I think this solution can be easily expanded to be able to gracefully shutdown WVD hosts, as users logged in needs to be logged off first before the VM can be shut down, for the users to be able to login to another WVD host.

I have prepared a script which does this, also, it works for me, just when adding the below code on the line 48 of the ScheduledS

[2021-05-18 07:00] 987a73ae7992294d opened #75457 "Use Microsoft.Extensions.Logging.Abstractions NullLogger.Instance instead of custom null logger"
In the start of this article, there is a pair of loggers set up for two different purposes. One is a simple "ListLogger", which is fine - but there is also a custom implementation of a NullLogger that there is no real reason to have there from what I can tell.

Why not use the Microsoft.Extensions.Logging.Abstractions NullLogger.Instance instead of a custom implementation of it?

---
#### Document

[2021-05-18 07:29] sandervandevelde commented on #75112
@SatishBoddu-MSFT The article is written with direct-connected IoT devices in mind and is not describing this behavior related to Edge devices and their modules.

I suggest adding this to the article.

[2021-05-18 07:29] CHEEKATLAPRADEEP-MSFT commented on #75455
@celinama Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/159187](https://github.com/MicrosoftDocs/azure-docs-pr/pull/159187)
The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2021-05-18 07:31] SatishBoddu-MSFT commented on #75112
Hello @sandervandevelde Thanks for the feedback on doc enhancement, we will keep you posted!

[2021-05-18 07:33] Membaer commented on #53222
@SaurabhSharma-MSFT @jeevansd we really need an update on this document. What is your preferred process? Please let us know.

[2021-05-18 07:37] SwathiDhanwada-MSFT commented on #75456
@kajencik Thanks for your comment. We will review the issue and get back to you shortly.

[2021-05-18 08:12] lukos opened #75459 "Very unhelpful non-specific page"
This page lists a wide range of error codes at the top but then proceeds to list a whole raft of different debugging and fixing scenarios. These should be much more specific to be helpful.

I am receiving, "Application not registered with AAD" for the first time without anything changing. This should be caused by a very specific set of scenarios which should then be linked.

After looking through

[2021-05-18 08:16] chakravarthil commented on #75307
Is it possible to have SQL Pools Not attached to a Synapse workspace? If so, can i have the process to attach and detach the SQL pools to Synapse workspace?

[2021-05-18 08:18] rtrigueiro commented on #75303
Also this table: https://transform.microsoft.com/download?assetname=assets/Modern%20Work%20Plan%20Comparison%20(Internal%20and%20Partner).xlsx

There is a confusion with the "Multi-Factor Authentication" row, because no mechanism is declared there, and if you're using Security Defaults, you have MFA on every Office plan (even Azure AD Free).

[2021-05-18 08:29] smallheath1919 opened #75460 "Disabling API Server Authorized Range Bug"
az aks update -g $RG -n $AKS --api-server-authorized-ip-ranges "" throws the following error.

"argument --api-server-authorized-ip-ranges: expected one argument"

az version
{
  "azure-cli": "2.22.0",
  "azure-cli-core": "2.22.0",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "aks-preview": "0.5.6"
  }
}

However with aks-preview version 0.4.71 I can still use the same command to disabl

[2021-05-18 08:29] lukos commented on #75459
The specific problem was that I was using registryname.azurecr.io as the username instead of just registryname. Please can you update the document to add this as a possible issue. It is confusing since we login with the full name so I think it is easy to forget that the username is not the full path. Also, the error message doesn't obviously follow from the mistake.

[2021-05-18 08:30] chieh1127 opened #75461 "AA only can not cancel subscription"
[Enter feedback here]

Currently, an account only have Account admin permission without service admin or RBAC owner can not cancel subscription from Azure portal. Please kindly verify from your side and update the doc if required. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e76ce485-5a06-add0-76a3-b823fb6c3c

[2021-05-18 08:31] PramodValavala-MSFT commented on #75430
@pisees Looks like you already found you answer but for others coming across this, Azure Function containers are like any other application. You can set them up for [Event Delivery](https://knative.dev/docs/eventing/event-delivery/) like you would for others.

[2021-05-18 08:53] MayankBargali-MSFT commented on #75397
@imtiaza1977 @richardpark-msft has created the issue [here](https://github.com/Azure/azure-sdk-for-js/issues/15308) for investigating it further. In the initial analysis this looks like an issue with the library and once fixed I think the same code will work as expected.

For now, I will now proceed to close this thread. If there are any code changes needed we will be fixing them in our document.

[2021-05-18 08:53] #75397 closed

[2021-05-18 08:59] MayankBargali-MSFT commented on #75457
@987a73ae7992294d Thank you for your feedback! We will review and update as appropriate.

[2021-05-18 09:01] SnehaAgrawal-MSFT commented on #75138
@nelroosevelt We will now proceed to close this thread. If there are further questions regarding this matter, please let me know.

[2021-05-18 09:01] #75138 closed

[2021-05-18 09:07] yoelhor commented on #75252
Dear @John-Garland , thanks for the feedback. I'm updating the article. A new version will publish later today, and this GitHub issue will be closed automatically (before the doc is published). If you have any questions or need further information, please open new GitHub issue.

[2021-05-18 09:08] #75252 closed

[2021-05-18 09:12] VikasPullagura-MSFT commented on #75459
@lukos
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-05-18 09:12] VikasPullagura-MSFT commented on #75459
@dlepow
Can you please check and add your comments on this doc update request as applicable.

[2021-05-18 09:13] VikasPullagura-MSFT commented on #75448
@GoonerW
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-05-18 09:14] VikasPullagura-MSFT commented on #75448
@savjani
Can you please check and add your comments on this doc update request as applicable.

[2021-05-18 09:14] yoelhor commented on #75318
Could you check if the redirect URI to the jwt.ms contains the `code` parameter. If this is the case, you should [enable ID token implicit grant](https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-register-applications?tabs=app-reg-ga#enable-id-token-implicit-grant).

[2021-05-18 09:28] epourail opened #75465 "B-series VM with ephemeral disk"
Hello,

On the B-series virtual machine, it is indicated the Ephemeral disk is supported.
But I did not find any information about the cache size and I am not able to use this kind of disk through the portal.

Can you confirm B-series VM supports ephemeral disk ?
If not the case, please, update the documentation as "Ephemeral disk is Not Supported".

Thank you

---
#### Document Details

⚠ *Do not

[2021-05-18 09:32] memildin commented on #74666
@SamRakaba please can you provide more details on the action you tried and the error you got.
We're trying to understand if this is a doc issue or a product question.

[2021-05-18 09:35] memildin commented on #74272
Hi @dannradkov,

Thanks for the question.

It isn’t possible right now to do this using the portal. However, the good news is that the PowerShell instructions for enabling JIT (using Set-AzJitNetworkAccessPolicy) are already in the documentation:
https://docs.microsoft.com/en-us/azure/security-center/security-center-just-in-time?tabs=jit-config-powershell%2Cjit-request-asc

I'm going to close this

[2021-05-18 09:35] #74272 closed

[2021-05-18 09:40] chirag-singhal opened #75466 "Feature Differences Link Broken"
[Enter feedback here]

The link for feature differences between Table API in Azure Cosmos DB and Azure table storage in top Tips section provided is broken. The correct link is - https://docs.microsoft.com/en-us/azure/cosmos-db/table-api-faq#table-api-in-azure-cosmos-db-vs-azure-table-storage

Link in documentation - https://docs.microsoft.com/en-us/articles/cosmos-db/table-api-faq.yml#table-api-i

[2021-05-18 09:51] skiddder opened #75467 "Add details about FQDN support per service"
It would be very useful to add a list to this page which states whether the (PaaS) service supports FQDN. This would allow you to directly use your FQDN instead of the privatelink.*.* DNS approach.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a88af182-32aa-a8f3-359d-b92ae1cfb8c7
* Version Independent ID: 01ce07fc-4bc

[2021-05-18 09:57] amanmcse commented on #75395
@zackliu This is not possible as of now. The application object of the Managed identity is not exposed, which is why you don't get access to the Manifest of the Managed Identity to update accessTokenAcceptedVersion parameter.

[2021-05-18 09:57] #75395 closed

[2021-05-18 10:14] SadiqhAhmed-MSFT commented on #75461
@chieh1127 Thank you for the feedback. We will review and get back to you shortly.

[2021-05-18 10:18] JackCaster opened #75468 "regenerate_outputs option in text to be corrected"
I think the doc regarding pipelines [caching & reusing](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-create-machine-learning-pipelines#caching--reuse) is wrong in saying that

as, I believe, outputs in a pipeline are forced to be regenerated if `regenerate_outputs=True`. Could you please confirm?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2021-05-18 10:26] PramodValavala-MSFT commented on #75394
@vinothrao The `CurrentUtcDateTime` property is required to be used in orchestration code since it is [deterministic](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-code-constraints#using-deterministic-apis) unlike `DateTime.UtcNow` which will be different on replays. This value will be the same on replays in order and will return the expected current time when no

[2021-05-18 10:28] SadiqhAhmed-MSFT commented on #75461
@chieh1127 How did you verify the account only has account admin permissions?

[2021-05-18 10:56] evamshi opened #75469 "How to view which blob has versioning"
######
How to view which blob has versioning,
if we copy tons of data multiple time via Azure Data Factory to Azure Storage account which has versioning enabled,
how we can find which file got versioned

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 767db819-41a2-4f34-fae8-02253b58654d
* Version Independent ID: 66b4d92

[2021-05-18 11:05] arashcomsense commented on #75318
I thought that completing this particular page would lead us to getting a token generated. Apparently that's not the case and we have to complete a couple of more steps to get the tokens issued.

[2021-05-18 11:20] theEyeD opened #75470 "Missing details on AADSTS90083"
I am (sporadically) receiving the error `AADSTS90083: Request is unsupported` and having trouble tracking down details on it. This page has at least some details on other `AADSTS9008X` errors, but not `AADSTS90083`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a826ee6f-f457-7109-9f77-67c57977d4e7
* Version Independen

[2021-05-18 11:23] HarshitaSingh-MSFT commented on #75470
Hello @theEyeD, thanks for the question! We are taking a look into this and will get back to you soon.

[2021-05-18 11:27] theEyeD commented on #75470
Thank you, @HarshitaSingh-MSFT! I'm not sure if this is the appropriate place to give additional details, but the code I am using is as follows:
[code]
Where the `GetAppBuilder()` result is cached and re-used for the given `ClientId` and `GetAuthToken(...)` is called for each API call.

[2021-05-18 11:37] SwathiDhanwada-MSFT commented on #75173
@pquinton As I haven't heard from you yet, I will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-05-18 11:37] #75173 closed

[2021-05-18 11:57] ignaciofls commented on #74745
@dereklegenzoff and @AjayKumar-MSFT sorry for my late reply. I still see with no legend (see screenshot below). For your reference I tried with Edge Version 90.0.818.62 (Official build) (64-bit), also with Edge Version 92.0.884.2 dev (64 bits) in my Windows PC and also with my Android mobile's Chrome (90.0.4430.210) either way with mobile and desktop rendering. Funny enough, I can see axis legend

[2021-05-18 12:02] ignaciofls commented on #74745
It has do to with the dark mode theme, if I change it to light mode it works fine. I guess we found a bug in Chromium dark theme. Thanks!

![image](https://user-images.githubusercontent.com/38979090/118647375-5458b380-b7f2-11eb-9aa6-866047d4bcaa.png)

[2021-05-18 12:02] yutaro113 opened #75472 "Question about App Service Certificate Renewal Policy"
Hi team,
When I see below section, it's mentioned that certificate is valid within 1 year. Question is... does it mean 365 days?
https://docs.microsoft.com/en-us/azure/app-service/configure-ssl-certificate#import-a-certificate-from-your-vault-to-your-app

When my customer tried Manual Cert Renew Operation, expiration date is updated from 22-June 2021 to 18-Jun 2022, that seems not exact 1 year. If

[2021-05-18 12:27] psmanhas commented on #75465
@epourail Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-05-18 12:29] tdihp commented on #68652
Apologies for reopening after a long time. Kindly check my reply on reflecting a good practice for Linux, as this is not mentioned for Linux.

**Please take this as a doc enhancement request**

[2021-05-18 12:35] vinothrao commented on #75394
yes. So when CurrentUtcDateTime  changes it extends the EndTime also . it's going to be an indefinite loop.

[2021-05-18 12:59] JeremyTBradshaw opened #75473 "Clarification around guidance for Conditional Access"
In the section [**Assess service principal security**](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/service-accounts-principal#assess-service-principal-security), there is guidance to setup Conditional Access, however, that is only relevant if you are applying Conditional Access policies to the user who will use the application/service principal as a Public Client (i.e., De

[2021-05-18 13:00] jsandersrocks commented on #75317
Oh wow, my bad!

-Jeff

Sent from Outlook.com email
Free Anti-Virus from Microsoft:  http://www.microsoft.com/security_essentials
Free Word, Excel and PowerPoint with http://outlook.com integrated with SkyDrive and the office apps!

________________________________
From: BhargaviAnnadevara-MSFT ***@***.***>
Sent: Monday, May 17, 2021 11:28 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Jeff Sand

[2021-05-18 13:13] NorthHighlandNicole opened #75474 "Update documentation for nested values"
I just spent a good bit of time trying to figure out why my key vault references would not resolve. My issue was that I was using IOptions in my code to easily bind my configuration values, but the moment that I gave my Azure Function an Identity, granted access to the key vault and updated the values in my Function App's configuration to use @Microsoft.KeyVault(SecretUri=<link>) my code stop work

[2021-05-18 13:16] fgielow commented on #34872
I've followed this and the timescale.db restoring flag is still on even after `timescaledb_post_restore()`. Is there any way to reset the restoring flag?

[2021-05-18 13:17] pecoult commented on #75465
Hi,
Here is a simple example to see the issue (azure cli):

[code]
The azure cli error response:
[code]
My configuration (ubuntu):
[code]

I tried with different locations: francecentral / eastus

Cordially,

Romain P.

[2021-05-18 13:23] serverless-secure commented on #61446
![image](https://user-images.githubusercontent.com/69508464/118658646-2b024c80-b81f-11eb-8fb0-26012675d65f.png)
Migrate URIs to Single Page Application

[2021-05-18 13:24] fgielow opened #75475 "Cannot remove timescale.db restoring flag after restoring TimescaleDB backup to Azure"
Hi, I've restored a TimescaleDB database to Azure, and even after finishing and runing the post restore function, it's timescaledb.restoring flag is still on.

Steps to reproduce:

- Created a 'Azure Database for PostgreSQL server' instance;
- Dumped my original schema with `pg_dump -o -h HOST -U USER -d DB -s > SCHEMA.sql`;
- Enabled TimescaleDB on Azure's DB instance;
- Used timescaledb_pre_rest

[2021-05-18 13:34] PramodValavala-MSFT commented on #75394
@vinothrao It would be set only the first time relative to the time then. On subsequent replays, the same value would be used. You can think of it to be like an activity function call that internally calls `DateTime.UtcNow`.

Could you confirm if you are observing an infinite loop?

[2021-05-18 13:37] oliverchristen commented on #66557
@asergaz @ElazarK What about that new agent for Edge which should have been announced by the end of January? It's not yet, isn't it?

[2021-05-18 13:42] rvahaver opened #75477 "Update Register with the SQL VM RP"
Please add a note here that you have to run this command using PowerShell Version 6.2 or higher.  5.1 is native to Server 2019 but the commands will fail.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45511218-137b-ba77-3e15-8af90f16c05b
* Version Independent ID: 643bf07b-8fd6-6983-f7dd-6a60ae82ac99
* Content: [Create

[2021-05-18 13:48] dave22000 commented on #74928
@JamesTran-MSFT yes can we work closer together? Happy to demonstrate the specific issue I'm seeing if needed.

[2021-05-18 13:54] savjani commented on #75448
Thanks @GoonerW for catching that and reporting it. We have removed that line from this documentation to avoid any confusion at this point for new and existing users. I have made the changes and it will be live in 24 hours. @VikasPullagura-MSFT - you can close this thread after approval from @GoonerW

[2021-05-18 13:59] vinothrao commented on #75394
Yes. We are observing infinite loop. Whenever the CurrentUtcDateTime updates its updating the endTime also hence its looping indefinitely.

[2021-05-18 14:12] #75243 closed

[2021-05-18 14:26] GiftA-MSFT commented on #75468
@JackCaster we'll review your feedback and get back to you shortly. Thanks.

[2021-05-18 14:39] jokarl commented on #73055
Hi @KrishnaG-MSFT, any news on this? I still can't see any request body in the `ApiManagementGatewayLogs` table.

![image](https://user-images.githubusercontent.com/6864214/118671169-86204900-b7f7-11eb-87ac-120fc79ac7ed.png)

[2021-05-18 14:52] ssivas commented on #75473
@JeremyTBradshaw , Thank you for your query . We will investigate and update the thread.

[2021-05-18 14:54] KalyanChanumolu-MSFT commented on #75466
@chirag-singhal Thank you for taking the time to report this issue.
We will fix this at the earliest.

[2021-05-18 14:55] ShinraCorpMixer opened #75478 "Image is almost unreadable"
One of the images in the document is almost unreadable in dark theme mode. I Haven't really tried in light theme mode but it might also be the same thing.

![image](https://user-images.githubusercontent.com/55590236/118673960-6d983a80-b7c7-11eb-956f-72fe868032ef.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3175c