[2021-02-20 12:09] SumanthMarigowda-MSFT commented on #70581
@Floriszz  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.
I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/  We'll follow up there. We will now proceed to close this thread. If ther

[2021-02-20 12:09] #70581 closed

[2021-02-20 13:18] ErikMogensen commented on #70882
Hi @mike-urnun-msft, according the page you linked to (which is the same one that I created this issue for) the APIM instances I delete through Azure Portal should be be soft-deleted. Do you mean that it is a bug that some of them are not being soft-deleted (which may be expected since this feature is in preview)?

[2021-02-20 13:24] AnuragSharma-MSFT commented on #70621
@tigerdeccan Because of lack of response, we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-02-20 13:24] #70621 closed

[2021-02-20 14:05] ErikMogensen commented on #70162
Ok, thanks. Do you know if this is a service side issue?

[2021-02-20 16:51] JamesTran-MSFT commented on #70972
@wanglei
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-20 17:51] brianharwell commented on #58486
Setting a firewall setting with start and end of `0.0.0.0` still blocks traffic from app services.

Setting a firewall rules from `0.0.0.0` to `255.255.255.255` works so it's not my code, it's the firewall.

[2021-02-20 18:14] jeff-kissinger-ul opened #70973 "Where is the GetMessageSessions for Azure Service Bus?"
It is mentioned on this page that you can browse the sessions: "All existing sessions in a queue or subscription can be enumerated with the SessionBrowser method in the Java API and with GetMessageSessions on the QueueClient and SubscriptionClient in the .NET Framework client.".

This however doesn't exist in the Microsoft.Azure.ServiceBus namespace.  Since this is an Azure doc, shouldn't this lis

[2021-02-20 18:58] CodeChiefDotDev opened #70974 "--os-type for az webapp not an argument"
`az webapp up --os-type linux` no longer has the --os-type parameters.

`az --version` gives me:
❯ az --version
azure-cli                          2.2.0

command-modules-nspkg              2.0.3
core                               2.2.0
nspkg                              3.0.4
telemetry                          1.0.4

Python location 'C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\python.exe'
Ext

[2021-02-20 19:06] brucelowekamp opened #70975 "update docs to specify AAD is required"
Before you begin should specify you need your AKS cluster integrated with AAD and an existing SP/create permissions on that AAD account.  Right now it only says you need Owner of the AKS Azure subscription, which isn't necessarily the same as AAD ownership.  The text should more clearly direct to the pull secret instructions if you don't have AAD.

---
#### Document Details

⚠ *Do not edit this se

[2021-02-20 19:14] jonmikeli opened #70976 "DPS CA X509 Enrollment group - Provisioned devices are X509 Selfsigned in the IoT Hubs - Is this normal?"
Hi,

I am not sure this is an issue but I did not know where to mention this.
In any case, I have not found any documentation about it. So, it may help to enrich the current documentation.

Unless I am making something wrong, I have noticed that when using DPS with CA X509 enrollment groups, the devices are created in the IoT Hub with X509 Self Signed certificates. I expected to find CA X509 devic

[2021-02-20 19:42] Hugos-MSFT opened #70977 "Simple IoT option not available"
"Simple IoT" option called out on step two is not available if the DevOps Started settings are configured to use GitHub.

Expected: At the "Sign In" document section where all pre requisites are called out, make a reference to ensure that "Azure DevOps" configuration setting must be selected to continue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2021-02-20 20:34] sarah026 commented on #69159
@samcloud2000 no sam, im afraid not 😥

[2021-02-20 21:16] apjanke commented on #36592
Oh hey, I figured it out: we have an Azure AD group "VM Login" that has the "Virtual Machine User Login" role assignment on lx-azrdev02. Carol was not a member of this group, and did not have that role assignment herself. I added her to the group and it started working.

Weird error messages in the log file if that was the problem.

[2021-02-20 21:57] JoshLove-msft commented on #70162
The message state is currently not exposed through AMQP which is what the new library (and the previous library) use.
/cc @axisc

[2021-02-20 22:19] michelamarie commented on #68872
Hi, @normesta! Sorry I missed your question until now.

Yes, it would absolutely be helpful if the documentation mentioned the use of TLS for connection and data transfer in AzCopy. The security of back-ups and data transfers is very important -- crucial in our case. I imagine many readers of the documentation would find that information useful.

Thank you so much for asking about that! I would be

[2021-02-20 22:35] theheatDK opened #70979 "How to get term of use via Powershell?"
Hi,
We can get Conditional Access policies via Get-AzureADMSConditionalAccessPolicy. If a term of use is required via conditional access the cmdlet returns an id for it. But how do we get the term of use information like name, display name from the id via Powershell?

Regards Peter
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2021-02-20 22:43] RonnieQuan opened #70980 "What's the Scope for Microsoft-managed encryption keys?"
What's the Scope for Microsoft-managed encryption keys?
For Azure Form Recognizer Microsoft-managed encryption keys, is that per resource? or one identical key for all resources?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fac0843e-72cb-b0f5-7149-7d6f035f17be
* Version Independent ID: 8d04c041

[2021-02-20 22:51] urbanantics opened #70981 "Typo on Page section: Periodic work example"
Typo on Periodic work example which leads to function that does not work correctly.

The line:
  context.df.continueAsNew(undefined);

needs to be replaced with:
  **yield** context.df.continueAsNew(undefined);

otherwise the the function does not repeat as it's supposed to.

thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2021-02-20 23:09] JamesTran-MSFT commented on #70973
@44422
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-20 23:10] sarah026 commented on #69159
iv noticed if i copy to my local storage first, that the comms are only happening over the private endpoint
whereas from strg to strg, another ip addresses are involved
10.30.119.46
10.144.127.162
these are foreign IP addresses to our network. and if comms are only acceptable via private endpoints to the strg account, i dont see how this is meant to work!

[2021-02-20 23:11] JamesTran-MSFT commented on #70974
@CodeChiefDotDev
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-20 23:12] JamesTran-MSFT commented on #70975
@brucelowekamp
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-20 23:14] JamesTran-MSFT commented on #70976
@jonmikeli
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-20 23:15] JamesTran-MSFT commented on #70977
@Hugos-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-20 23:38] samcloud2000 commented on #69159
@sarah026
Thanks for your reply :).  We found this article: https://azure.microsoft.com/en-us/updates/copy-blob-support-over-private-endpoints   . It now states  "Copy Blob support over private endpoints in Azure Storage" is supported. Interestingly it did not work for us. Microsoft Support indicating to us because we have a Hub and Spoke we need an NVA with Route Tables. Blob to Blob in same VNET

[2021-02-21 00:04] wongwiyan opened #70983 "Default: Internet vs service endpoint"
[Enter feedback here]

According to the statement below for default internet route, why would one need to setup service endpoint for storage account? the default internet route would automatically route all traffic to azure storage account, which is a Azure service, via azure backbone. This does not sound right. Am I missing something?

 If you don't override Azure's default routes, Azure routes t

[2021-02-21 00:37] DeanGross opened #70984 "Missing Directions"
The Lifecycle section does not include any directions about the Access Review section on that page/tab. Please add this.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 066dbfa5-08ba-8b7a-845b-854c873362b6
* Version Independent ID: 97d7f2b3-904a-574f-3732-9f6851291890
* Content: [Create a new access package in entitlemen

[2021-02-21 02:05] DavidNorena opened #70985 "What about an example to use it also with AzureDevOps Manifest"
What if we are using a VM with enabled user managed identity and we are using that VM as a deploy agent for azure devops, can the VM use the identity to use the Docker@2 push manifest ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d1bf6a2-95e7-4b50-e03e-9bf212dc5214
* Version Independent ID: 79ee1b51-6a22-0a57-2a28-

[2021-02-21 03:30] rarandiv opened #70986 "Doc Update-Encrypted Data Migration using DMS"
Came across with scenario where the plan was to migrate from On-Prem to SQL Managed Instance, however, the challenge was the On-Prem SQL Server table columns being encrypted with Keys stored in Azure Key Vault. So, the question was-

•	How to manage the Encrypted columns during migration which are stored in AKV.
•	When the columns are encrypted, can we still use the Azure Data Migration service to

[2021-02-21 03:52] SnehaAgrawal-MSFT commented on #70592
@abmis-mi We will now close this issue. If there are further questions regarding this matter, please let us know.

[2021-02-21 03:52] #70592 closed

[2021-02-21 04:27] srini1978 opened #70987 "Implement On behalf of flow using API Management gateway"
While the note on not supporting "On behalf of " flow is clear,  there is still an opportunity to present to the reader an architecture where in you can use API gateway design (API management Azure service or Azure function) to implement this flow. The actual design how to do it is covered in this video https://www.youtube.com/watch?v=wuUu71RcsIo or this article https://www.linkedin.com/pulse/prot

[2021-02-21 04:41] JamesTran-MSFT commented on #70979
@theheatDK
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-21 04:42] JamesTran-MSFT commented on #70980
@RonnieQuan
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-21 04:43] JamesTran-MSFT commented on #70981
@urbanantics
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-21 04:44] JamesTran-MSFT commented on #70983
@wongwiyan
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-21 04:47] JamesTran-MSFT commented on #70984
@DeanGross
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-21 04:48] JamesTran-MSFT commented on #70985
@DavidNorena
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-21 04:49] JamesTran-MSFT commented on #70986
@rarandiv
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-21 04:51] JamesTran-MSFT commented on #70987
@srini1978
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-21 05:00] srini1978 commented on #70987
@JamesTran-MSFT  Thank you.

The note could be modified as
One other design alternative would be to use "API Management gateway" or a "custom REST API using an Azure function" to function as an orchestrator. Here the first Web API in the chain will request an access token for the next Web API to the API management gateway which will forward the request to the Azure AD B2C service.

[2021-02-21 05:13] GeethanadhP opened #70988 "allow_reuse not working with DatabricksStep"
I have a databricks notebook, which generates 5 DatabricksStep's and then submits them to AML

[code]

But when a step 4 fails and i rerun my original notebook, it create a new run on AML, but aml is still re-running the first 3 steps instead of re-using previous runs

Also i noticed that in the AML UI, under the experiment, steps tab my steps were having "NO" as value for "Reuse" eventhough i am

[2021-02-21 05:52] RonnieQuan commented on #64981
Any update on this issue?

[2021-02-21 05:57] RonnieQuan opened #70989 "What Does "clear baseline" Do?"
Can you please document what does "clear baseline" do?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02495b5c-f888-b3fc-82e0-37350af6ae81
* Version Independent ID: ff0899fe-800e-328a-1690-f0d911331837
* Content: [SQL vulnerability assessment - Azure SQL Database & SQL Managed Instance & Azure Sy

[2021-02-21 06:04] RonnieQuan opened #70990 "RBAC Permission Required for "Approve as Baseline""
What provider operations are needed in order to "Approve as baseline"?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02495b5c-f888-b3fc-82e0-37350af6ae81
* Version Independent ID: ff0899fe-800e-328a-1690-f0d911331837
* Content: [SQL vulnerability assessment - Azure SQL Database & SQL Managed Ins

[2021-02-21 06:35] RonnieQuan opened #70991 "Azure Firewall in three Availability Zones"
I have two questions,

1) Is it active active mode? meaning Azure firewall takes in requests and process in its VMs from all three zones?
or only one zone is working, other two are idle?

2) Is there a brief interruption in case a failure in a zone? is current session interrupted or is smoothly transferred to another zone?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this sect

[2021-02-21 06:37] mpchen opened #70992 "Is it possible to create client secret/certs for the service principal behind user assigned managed identity?"
User-assigned managed identity is linked to a service principal. I am wondering whether it is possible to create secrets/certificates for this service principal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1ef3583-67cc-685f-fb2e-09b64f682bf2
* Version Independent ID: 8e441ecd-4771-8620-4423-8c40d8cce192
* Content:

[2021-02-21 06:57] yogeshthorat87 opened #70993 "what is -m PEM in command"
[Enter feedback here]
what is -m PEM in  this command  "ssh-keygen -m PEM -t rsa -b 4096"? i am not able to find documentation. the output with and without -m also seems identical

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3df7220e-bdc8-7b82-73b9-75d0bde6ffca
* Version Independent ID: f25d0b1f-63b8-3cfc-64c2-d1750f

[2021-02-21 08:13] #70962 closed

[2021-02-21 08:54] elSagie commented on #70931
@jyeblog
These are 2 different region needs - one for your destination RG as specified by you - this RG is required for the VA solution deployment - even though that the solution itself is not an Azure Resource and does not appear under the RG after the deployment, but it is important to understand that the VA BYOL solution and the RG a paired.
The `$loc = (Get-AzSecurityLocation).Name` is the def

[2021-02-21 09:18] martin77s opened #70994 "Grammar in the opening paragraph"
The first paragraph starts with "When you **built and managed** an API in Azure API Management".
I believe it should be "When you **build and manage** an API in Azure API Management"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef4b98bc-b4a0-5d98-ca4a-26d549e132c1
* Version Independent ID: ac1e02d3-1f6a-e96a-72f2-d4a

[2021-02-21 10:04] #70960 closed

[2021-02-21 10:10] AndrewShepherd commented on #70962
For confirmation, am I able to view the pull request?

[2021-02-21 11:10] Hitengit054 commented on #70266
@dominicbetts : Thanks for the information.

[2021-02-21 11:45] sarah026 commented on #69159
@samcloud2000 thanks Sam, we too have the same hub and spoke setup.
we have no issue connecting over storage explorer to both accounts from the same VM, and we can copy from storage to local VM to the other storage (inefficient! but easy to script)

As for their NVA and route tables, I havent heard of a worse work around than this. Did they tell you the problem is due to private endpoints not work

[2021-02-21 11:48] bigkangji opened #70996 "Docs isn't updated and doesn't match with Azure updates."
According to https://azure.microsoft.com/en-us/updates/azure-image-builder-service-now-generally-available/,
Azure Image Builder Service now generally available.

The documents hasn't been updated since 05/02/2019 and it sayes that Azure Image Builder is in preview.

For your information,
Above a Azure updates page has a link to this documentation.

---
#### Document Details

⚠ *Do not edit this s

[2021-02-21 12:46] SwathiDhanwada-MSFT commented on #70619
Assigning to content author @mgblythe for reviewing the doc feedback.

[2021-02-21 13:15] amanmcse commented on #70992
@mpchen Thank you for your feedback . We will investigate and update the thread further.

[2021-02-21 13:16] amanmcse commented on #70991
@RonnieQuan Thank you for your feedback . We will investigate and update the thread further.

[2021-02-21 13:25] amanmcse commented on #70989
@RonnieQuan Thank you for your feedback . We will investigate and update the thread further.

[2021-02-21 13:27] jyeblog commented on #70931
@elSagie
Thanks for the reply.

You have helped to clarify one of my questions: That Resource Group is required even though solution doesn't appear under RG after deployment.

I'm still not sure which region to pick for my RG and Solution deployment:

- if `$loc = (Get-AzSecurityLocation).Name` returns `centralus`, and should I use `centralus` for both my RG and solution deployment?
- Or I can use

[2021-02-21 13:28] amanmcse commented on #70994
@martin77s  Thank you for your feedback . We will investigate and update the thread further.

[2021-02-21 13:30] amanmcse commented on #70993
@yogeshthorat87 Thank you for your feedback . We will investigate and update the thread further.

[2021-02-21 13:31] amanmcse commented on #70996
@bigkangji Thank you for your feedback . We will investigate and update the thread further.

[2021-02-21 14:28] VikasPullagura-MSFT commented on #70996
@danielsollondon
Can you please check and add your comments on this doc update request as applicable.

[2021-02-21 15:11] hraz-msft opened #70999 "crul command doesn't work in Powershell"
When I copy the `curl` request to Powershell, I get this error:
![image](https://user-images.githubusercontent.com/66222191/108629202-882c7300-7467-11eb-93aa-8c041145fb20.png)

While in CMD this command working fine:
![image](https://user-images.githubusercontent.com/66222191/108629244-b4e08a80-7467-11eb-8607-1f1edc6fdd54.png)

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-02-21 16:24] jeanluc33 opened #71000 "Bad link for download of Self-signed certificate generator from Microsoft Script Center"
The link here does not work, goes to a generic download / search page:
https://gallery.technet.microsoft.com/scriptcenter/Self-signed-certificate-5920a7c6

Cannot download New-SelfSignedCertificateEx.ps1 as directed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6329b3a8-32d6-c327-d3bc-2f6805d22ec8
* Version Independe

[2021-02-21 16:28] DavidTrigano commented on #70989
Hi @RonnieQuan,

"Clear baseline" remove the baseline previously applied to the finding. It allows SQL VA to surface the finding during the scan run after the baseline is cleared.

Best,
D.

[2021-02-21 16:55] JamesTran-MSFT commented on #70999
@hraz-msft
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-21 16:56] JamesTran-MSFT commented on #71000
@jeanluc33
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-21 16:59] vjraitila opened #71001 "Elaborate on the differences between leasing and locking"
As the locks set on Azure Service Bus queues are set to timeout after 60 seconds by default, please clarify how said mechanisms are reflected in the usage of the two services. You've explicitly contrasted them, but it is not clear how the choice between leasing vs. locking - as locks also expire - should be factored into the decision on which option to pick.

---
#### Document Details

⚠ *Do not e

[2021-02-21 17:16] AnuragSharma-MSFT commented on #70705
@AdrianZielonka Awaiting your response on above comment.

[2021-02-21 17:36] sarah026 commented on #69159
felt too curious to let a test go by
since i already have nva and routes, i tried to execute the copy from onpremises VM (also has access to both accounts but via NVA >  RT > private endpoints)... same problem/error

i guess they meant to say remove private endpoints and rely on internet connectivity? Which would fit in line with MS strategy towards security, an after thought.

Anyway I suggest yo

[2021-02-21 17:58] idjohnson commented on #42379
FWIW i dance between WSL and Windows.  Since i was testing in WSL, i negelected to pick the linux node version.  So it wsa just vomitting over and over.. I used 'nvm list' then changed from 'system' to one of the local linux node versions that works (e.g. nvm use 10.22.1). then it started.

[2021-02-21 18:11] MarileeTurscak-MSFT commented on #70990
@RonnieQuan
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-21 18:18] hurtn opened #71002 "Description for Distinct match threshold unclear"
Hi - just some feedback about this label and the description.
Please clarify the description for "Distinct match threshold". If it is the total number of distinct data values that need to be found in a column before the scanner runs the data pattern on it, why then does apply to each of pattern if multiple where specified? Surely this is irrespective of pattern i.e. before any pattern is run, it c

[2021-02-21 18:19] Norrch2 opened #71003 "UnifiedSSP layout version 2.1.2 missing supporting documentation."
Hello Team B2C,

I was reviewing the layout versions and noticed that the [UnifiedSSP v2.1.2](https://docs.microsoft.com/en-us/azure/active-directory-b2c/page-layout#unified-sign-in-sign-up-page-with-password-reset-link-unifiedssp) has a bullet point that states 'Allowing the "forgot password" link to use as claims exchange like social IDP.' However, I have searched high and low to find supporting

[2021-02-21 18:27] joymon opened #71004 "Typo Managed System Identity is used instead of Managed Service identity."
The below section seems to have a typo It uses Managed System Identity (MSI), instead of  Managed Service Identity (MSI).
https://docs.microsoft.com/en-us/azure/azure-sql/database/authentication-aad-service-principal?WT.mc_id=AZ-MVP-5003246#enable-service-principals-to-create-azure-ad-users

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2021-02-21 19:27] 365pro commented on #63182
$AzureADConnectSWritebackAccountDN =  <MSOL_ account DN>
Import-Module "C:\Program Files\Microsoft Azure Active Directory Connect\AdSyncConfig\AdSyncConfig.psm1"

# To grant the <MSOL_account> permission to all domains in the forest:
Set-ADSyncUnifiedGroupWritebackPermissions -ADConnectorAccountDN $AzureADConnectSWritebackAccountDN

# To grant the <MSOL_account> permission to specific OU (eg. the

[2021-02-21 19:37] AjayKumar-MSFT commented on #70961
Glad you found the answer. Thanks for the update, craigb. Much appreciate the follow-up.

[2021-02-21 19:39] pisees opened #71006 "Azure API Management for East/West as well as North/South"
Hi,

Can Azure APIM be used for East/Web traffic, between microservices in Kubernetes cluster?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64c50ed1-29bd-6ec8-7c57-60a6a76d36be
* Version Independent ID: ed403a70-b955-347d-72e6-c875e88ccef7
* Content: [Use Azure API Management with Microservices Deployed in Azure Kube

[2021-02-21 20:43] happy-jo commented on #64909
Hi,

I'd like to build on this a little or ask for help.

[Page in question](https://docs.microsoft.com/en-us/azure/sentinel/connect-cef-agent?tabs=rsyslog)

I'm trying to send CEF and ASA messages to the CommonSecurityEvent and syslog messages to the Syslog table. I created the below rule based on the information provided but I'm still having trouble.

`if ($rawmsg contains "CEF:" or $rawmsg cont

[2021-02-21 21:01] Gunnnn opened #71007 "Not working article for Synapse Analytics"
[Enter feedback here]
This methods seems not working on Synapse! There is no such entity in Synapse Analytics as "servername", only workspace, which contains SQL pools in SynapseAnalytics, but in parameters, passed to pause pool there is!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1afb09c2-de7b-8eaf-c9a9-d5fa2ba12a

[2021-02-21 21:35] my3sons commented on #70939
Thanks @RyanHill-MSFT !  I kind of figured that might be the case. I guess I was hoping I could have my cake and eat it to, by being able to leveraging the very nice "low code" slickness of the function input/output bindings and at the same time not have to configure any app setting values. That being said, we should be able to handle that with our ARM templates.

Thanks again!

[2021-02-21 21:49] #70939 closed

[2021-02-21 22:33] secpapa opened #71008 "Add required admin roles for modifying Identity Protection notifications"
Can this document please be updated with more specifics around what role is required to modify these notifications?

For example, the line "As an administrator, you can switch sending a weekly digest email on or off and choose the users assigned to receive the email." could be updated with the exact Azure AD role(s) instead of just saying "administrator."

---
#### Document Details

⚠ *Do not edit

[2021-02-21 23:24] MonikaReddy-MSFT commented on #70694
I hope that the issue is resolved for you. At this moment, since there are no updates for the doc, we will now proceed to close this thread.
If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-02-21 23:24] #70694 closed

[2021-02-21 23:40] YuichiTorigoe opened #71010 "we need to add the "Authorization key information". for Global Reach Setting"
[Enter feedback here]

Hello team!

When connecting to GR on the AVS side, the connection information is either "Select ExpressRoute" **or** "Circuit ID and Authorization key information".
However, in reality, even if we select "ER", we need to enter the authorization key issued for the ER line on the on-premise side.
Could you please add the note ?

![image](https://user-images.githubusercontent.

[2021-02-22 01:01] serbrech opened #71011 "Max dedup window is documented as 14 days, but it is 7 days"
It looks like this doc is outdated?
I just got this error on topic creation :

[code]

When setting the dedup window to 14 days

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbf60076-6bfe-9efd-f956-69f2cfa5bd45
* Version Independent ID: b8e8ddd3-a8dc-4ff5-5c75-c4cf5d1e509f
* Content: [Azure Service Bus duplicate messa

[2021-02-22 01:03] serbrech commented on #71011
for your digging purpose : `TrackingId:79196935-eabc-4058-8033-4266f588a8be_G7`

[2021-02-22 01:51] Rajneel4Orion opened #71012 "Hi team , having difficulty getting the app password function to work for a third party application. Having already tested this multiple times and also created a new email address to test with no luck."
Hi team , having difficulty getting the app password function to work for a third party application. Having already tested this multiple times and also created a new email address to test with no luck.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8751595d-4839-d2ee-1e2c-16d07ef84a2d
* Version Independent ID: e66f96b3

[2021-02-22 01:54] alexkarcher-msft opened #71013 "Typo in origin group name"
Hi! On Step 7 of the custom create you typed "myOrignGroup" instead of "myOriginGroup"

the correct spelling also matches the screenshot and later instructions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39a1e6df-1517-c19c-4477-81b3fdba1792
* Version Independent ID: 4f8fc232-f52c-c9a0-70f0-009488469f74
* Content: [Q

[2021-02-22 02:39] Kapkan-Lesion commented on #70822
@mike-urnun-msft

Hey Mike,

These two issues here should provide some detailed context on this change request - https://github.com/googleapis/google-cloud-dotnet/issues/5835#issuecomment-762676487
https://github.com/googleapis/google-cloud-dotnet/issues/5861

The dotnet build command exists inside the YAML sample file on the mentioned doc like so -
![image](https://user-images.githubusercontent.c

[2021-02-22 02:42] JamesTran-MSFT commented on #71001
@vjraitila
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-22 02:43] JamesTran-MSFT commented on #71002
@hurtn
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-22 02:43] JamesTran-MSFT commented on #71003
@Norrch2
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-22 02:44] JamesTran-MSFT commented on #71004
@joymon
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-22 02:45] JamesTran-MSFT commented on #71006
@pisees
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-22 02:46] JamesTran-MSFT commented on #71007
@Gunnnn
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-22 02:46] JamesTran-MSFT commented on #71008
@secpapa
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-22 02:48] JamesTran-MSFT commented on #71010
@YuichiTorigoe
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-22 02:48] JamesTran-MSFT commented on #71011
@serbrech
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-22 02:50] JamesTran-MSFT commented on #71013
@alexkarcher-msft
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-22 02:51] JamesTran-MSFT commented on #71012
@Rajneel4Orion
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-22 03:06] amolduse commented on #57579
I was able to fix the issue. As Url rewrite is used in combination with the token authentication, the regex for url rewrite should be written in this way -
<feature.url.url-rewrite source="/0000000F/s-cdn-dev/(.*.\w+)" destination="/0000000F/s-cdn-dev/$1**&**sv=2019-12-12&ss=b&srt=sco&sp=rlx&se=2050-02-09T05:06:08Z&st=2021-02-07T21:06:08Z&spr=https&sig=ssSSS8SS5sSssS7SS7SssssKGlo%2B6Dya3%2SdImSuhS

[2021-02-22 03:07] Rajneel4Orion commented on #71012
Thanks @JamesTran-MSFT .. One other thing to note is that I am having the same app password issues with our printer scanning to email.  It works fine with gmail but not with M365  Canon printer but everything works fine with gmail's app password.

[2021-02-22 03:12] jesuruban opened #71014 "Wrong header in the example"
[Enter feedback here]
In the examples, instead of the header "Ocp-Apim-Subscription-Region", subscription key heandner "Ocp-Apim-Subscription-Key" is used twice. Please check and update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39fa12ff-87c9-ecc0-929b-055b1b7e1a86
* Version Independent ID: 1351b31b-04b6-2e8b-8f03

[2021-02-22 03:31] petersgiles commented on #20737
what document? ... I followed a google search to get here

[2021-02-22 03:58] AjayKumar-MSFT commented on #70825
Yutaro, We have shared your feedback with the author via a PR for further review. Thanks again for your feedback.

[2021-02-22 04:07] ameetkonnur opened #71016 "Broken Links that point to code Samples"
The Microsoft Red Teaming link (https://gallery.technet.microsoft.com/Cloud-Red-Teaming-b837392e) is broken and points to Code Samples.

This isn't the only link that is broken. Most Security document links on our Security and Compliance pages are broken and redirect to the code samples where none of these documents can be searched.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2021-02-22 04:10] samcloud2000 commented on #69159
@sarah026  - Thanks for validating Sarah. The ticket is still open with MSFT, I presume we/I will get more info as time goes; they are still validating with their networking and storage team(s). But, the tech did say he tested and was able to get hub & spoke to work with NVA and RT over private endpoints. The idea as to peer directly between the two VNETs crossed my mind, but opted not as it would

[2021-02-22 04:18] MikeSpark opened #71017 "DSC extension co-exists with Log Analytics extension"
/*The DSC extension for Linux and the Log Analytics virtual machine extension for Linux currently present a conflict and aren't supported in a side-by-side configuration. Don't use the two solutions together on the same VM. */

Is this sentence is valid comment? This page hasn't been updated in 3 years.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2021-02-22 04:20] AnuragSharma-MSFT commented on #70904
@SQLSourabh Thanks for fixing this.

@zhejun97 thanks for pointing it out. This has been fixed as part of PR. It could take few days to get reflected. Below is the change done.

![image](https://user-images.githubusercontent.com/66360845/108662005-4fd27680-74f3-11eb-8bcc-cccb275f12c0.png)

We will now proceed to close this thread. If there are further questions regarding this matter, please commen

[2021-02-22 04:20] #70904 closed

[2021-02-22 04:22] AnuragSharma-MSFT commented on #70912
@tomkuijsten Could you please follow the suggestions provided by @timsander1 and lets us know if you are still facing the issue?

[2021-02-22 04:23] truekonrads commented on #60145
Bump...

[2021-02-22 04:28] AnuragSharma-MSFT commented on #70940
@sjt0325 Please refer to below screenshot for changes made.

![image](https://user-images.githubusercontent.com/66360845/108662490-75ac4b00-74f4-11eb-913d-51b001cfa6eb.png)

Please let me know if this helps.

[2021-02-22 04:29] jpmlblog opened #71018 "About the response of entry scripts generated by the designer Train Model"
[Enter feedback here]
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-model-designer#download-the-entry-script-file-and-conda-dependencies-file

The entry script (score.py) in the steps above does not know what the order of the response results will be. For example, for the Multiclass Classification - Letter Recognition sample, the inference results are as follows:

![image](

[2021-02-22 04:31] ram-msft commented on #70914
@levalencia Thanks, Can you please add more details about the automl version that you are using. Here is the [notebook ](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/automated-machine-learning/forecasting-forecast-function/auto-ml-forecasting-function.ipynb)to Create the configuration and train a forecaster .

[2021-02-22 05:08] RohitMungi-MSFT commented on #71014
@jesuruban Thanks for spotting this. We will go ahead and update this in a PR to fix the bug.

[2021-02-22 05:11] parwejp commented on #70841
@dkershaw10 Did you get a chance to look into this?

[2021-02-22 05:18] chsamala commented on #63109
- We will be plan to support DSC and Azure monitoring side by side soon officially . We will discuss with my PM team and provided the ETA on this.
- As of now few customer are using DSC and Azure monitoring side by side internally . Current Linux DSC extension is using DSC Engine - 1.1.1-926 hence both latest azure monitor agent and latest DSC extension 2.72.1.1 can work side by side. Customer can

[2021-02-22 05:18] rsrk2008 opened #71019 "Difference between Azure Event Hubs and Azure Log Analytics"
I have gone thru multiple resources over the net but i got little confused
which is responsible , to correlate events from multiple resources into a centralized repository ?
Could some one please answer this

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a6e2fa9-99f3-7a01-5629-42ff4a762ea8
* Ver

[2021-02-22 05:49] AjayKumar-MSFT commented on #70994
@martin77s, That's a good catch! We have raised a PR and shared it with the author, the doc would reflect the changes once merged. Thanks again for taking time to share your feedback! We will close this thread for now.

[2021-02-22 05:49] #70994 closed

[2021-02-22 06:56] SwathiDhanwada-MSFT commented on #70917
@TJulesVerne Thanks for your question. Yes its possible to add custom properties to the payload. As mentioned in the document, kindly add your custom properties in properties key.

![image](https://user-images.githubusercontent.com/48976275/108673072-0ab93f00-7509-11eb-9799-1e6709de73b1.png)

As there are no further documentation changes, we will close the issue for now. If there are further quest

[2021-02-22 06:56] #70917 closed

[2021-02-22 07:05] SaiKishor-MSFT commented on #70469
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-22 07:05] #70469 closed

[2021-02-22 07:05] SaiKishor-MSFT commented on #70520
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-22 07:05] #70520 closed

[2021-02-22 07:06] SaiKishor-MSFT commented on #70729
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-22 07:06] #70729 closed

[2021-02-22 07:07] OzBob opened #71020 "DNS config not for all subdomains"
The "DNS configuration options" section has two items in "if you want to"

www.example.com or blog.example.net

The 'www' host example works fine for the custom URL www.example.com.

The Static Web Apps Host will say WWW, but that is not necessaryily the same as the HOST in the DNS provider configuration.

The advice in "Configure DNS provider" section step 4 is incorrect:
it should say:

add your

[2021-02-22 07:08] hungltph03955 commented on #70916
@JamesTran-MSFT
Thank you very much. If you need more information I will provide.

[2021-02-22 07:12] CHEEKATLAPRADEEP-MSFT commented on #71007
@Gunnnn  This document works for Dedicated SQL Pool (formerly SQL DWH).

![image](https://user-images.githubusercontent.com/79183421/108674132-c9299380-750a-11eb-9b1f-adec5b2fd9db.png)

If you want to work with Azure Synapse pools - use [Azure PowerShell](https://docs.microsoft.com/en-us/powershell/module/az.synapse/?toc=%2Fazure%2Fsynapse-analytics%2Ftoc.json&bc=%2Fazure%2Fsynapse-analytics%2Fbre

[2021-02-22 07:15] SwathiDhanwada-MSFT commented on #70697
@asukumar22 Currently ASR does not replicate ASGs. It is up you to set up ASGs in the target region. It is in engineering backlog but engineering team have not heard any requests related to this recently. To help us prioritize, can you please answer the following:
1.	Which customer is asking for this functionality?
2.	What is the number of VMs the customer is looking to protect using ASR?
3.	Is th

[2021-02-22 07:17] ErikMogensen commented on #70162
Thanks! Now I have gotten the information I wanted 😃. I still think this information should be visible on the page though.

[2021-02-22 07:29] DavidTrigano commented on #70990
Hi @RonnieQuan,

Any RBAC role that has Microsoft.Sql/servers/vulnerabilityAssessments/* can Approval baseline. SQL Security Admin and Resource owner have this action.

Best,
D.

[2021-02-22 07:38] hsirtl commented on #70587
@MayankBargali-MSFT thanks for your response. Sorry, I mentioned the wrong error number. You are right, it is actually a 400 Bad request error.
However, I still think it should be noted in the doc that in cases where a Function doesn't expect any input value, the request should at least contain an empty JSON ("{}") in its body. It took me a moment to figure out what the problem was with one of my

[2021-02-22 07:57] SaiKishor-MSFT commented on #70835
@wUEZRs Could you let me know more details regarding Triple DES requirement in 2021? Is this mentioned in a document, if so, please add the link for the same here.

[2021-02-22 07:57] azureidentity opened #71021 "Suggest to add details into 'Update management permissions'"
The permission list described in "Update management permissions" is not comprehensive as the other sections. Could you please add more details, especially the VM permission? Technically we find there is a 'linked scope check' when creating 'softwareUpdateConfigurations', and 'Microsoft.Compute/virtualMachines/write' is required when the target scope/resource is Azure VM. This can help more custome

[2021-02-22 08:00] tomkuijsten commented on #70912
@timsander1 thanks for the quick reply, some answers:

 1. Correct, I start with the bottemleft coordinate and go counterclockwise
 2. The coordinates are indeed lon/lat

I understand how that system works. I use https://s2.sidewalklabs.com/regioncoverer/ to check the "rounding" of the cells to see if the [location](https://www.google.com/maps/place/41%C2%B007'41.8%22N+24%C2%B053'26.7%22E/@40.7251

[2021-02-22 08:04] qwertynik commented on #70596
Sure @medecau
Thanks!

[2021-02-22 08:06] SnehaAgrawal-MSFT commented on #71020
@OzBob Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-22 08:19] DevKiranOps commented on #24857
Just so others who've experienced this issue know, I can confirm the command works fine on WSL. Sad it cant' work on GitBash! Client Utility is supposed to work on a variety of environments and not just cloud shell.

[2021-02-22 08:25] Gunnnn commented on #71007
Thank you!
But there is "**Synapse**" keyword in article header. And, as we can see from screenshot below, there is only one product in Azure with such keyword: Azure Synapse Analytics. And usually in articles on https://docs.microsoft.com/ there are green "Applies to" ticks, which shows to what product this article works (see second screenshot). In this article there isn't.
There is such a great

[2021-02-22 08:31] elSagie commented on #70931
Use the `$loc = (Get-AzSecurityLocation).Name` is for the API URI - mandatory.
For the VA solution - any RG/region you like!
just note that many customers inspect their resource-groups and when detecting empty one they remove it, unaware that their VA solution was linked to it. This break the solution. It's a known and expected issue - the BYOL solution is NOT Azure resource and you cannot "see" i

[2021-02-22 08:51] mikeelliottuk commented on #64909
Hi there.  Might be better to post this question on the Technet Forum here https://techcommunity.microsoft.com/t5/azure-sentinel/bd-p/AzureSentinel

[2021-02-22 08:57] su-jie commented on #70640
@LauraDamianTNA sorry for late response. I am just back from vacation. The 'Script' filed is only there for providing context. It's not used in the testing logic.

[2021-02-22 09:03] yutaro113 opened #71022 "Reason why new storage account is required should be mentioned."
In the section "Restrict your storage account to a virtual network", mentioned procedure requires new storage account.
But as far as I tested, I could also configured Service Endpoint to the storage account which is attached when we created function app for the first time and it actually worked.

It would be great help if reason why new storage account is required or recommended is mentioned in th

[2021-02-22 09:05] SwathiDhanwada-MSFT commented on #71021
@azureidentity Thanks for your feedback.

Assigning to content author @MGoedtel for review.

[2021-02-22 09:06] angelaki opened #71023 "Azure Container Instance restart not updating images"
It seams like for containers hosted in **Germany West Central** a restart does not update the running image.

Only a compelte Shutdown / Start forces the new image to be loaded, what takes pretty long and renews the ip address.

Btw.: there even seams to be a problem with the logs. Often I see a "No logs available" (what just isn't true) or an endless "Loading" that doesn't even end after hours.

[2021-02-22 09:10] j-beniwal commented on #57689
Hi @mbialecka, Thanks for you help.

I have used the the below versions:
azure-common         1.1.26
azure-core           1.11.0
azure-iot-device     2.0.1
azure-storage-blob   12.3.0
azure-storage-common 2.1.0
##################################
along with api-version 2017-04-17
and got the below error:
-----------------------------------------------------------------------------------------------

[2021-02-22 09:11] mruepp commented on #24857
So MSYS_NO_PATHCONV=1 does solve the issue. This issue is solved.

[2021-02-22 09:11] phil-dando commented on #30719
@ToMakeSense - Thanks Kevin that worked perfectly!

[2021-02-22 09:14] llihho opened #71024 "typo in changing ultra disk performance Azure CLI"
[Enter feedback here]

Should parameter diskMbpsReadWrite  be diskMBpsReadWrite?
received an error
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4c7ec02-cc18-3f20-704e-79f148f136e8
* Version Independent ID: beb667ae-5d75-c979-f621-c75e21453b6a
* Content: [Ultra disks for VMs - Azure managed disks - Azure Virtual Machi

[2021-02-22 09:17] BasWassenaar commented on #70925
Yes, I implemented the workaround.
Like I said, this IPv6 IP comes from Microsoft internal Azure backbone, not from the internet.

[2021-02-22 09:31] louis-Kimura commented on #70864
Hi @zxue I am able to call the FHIR API on it's own using an auth token:

![image](https://user-images.githubusercontent.com/79272201/108688768-311eb080-74f0-11eb-90c8-89cc3c590a66.png)

However, when trying to access the data through the proxy using a token I get the following each time:

![image](https://user-images.githubusercontent.com/79272201/108688922-5d3a3180-74f0-11eb-841a-874d1195a8e1.pn

[2021-02-22 09:32] psmanhas commented on #71017
@MikeSpark
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-02-22 09:33] psmanhas commented on #71017
@MGoedtel
Can you please check and add your comments on this doc update request as applicable

[2021-02-22 09:39] y10e opened #71025 "Please additional description about rebooting the node"
[Enter feedback here]
To use AutoScale, I updated the existing Service Fabric Cluster JSON to add the following. (Resource Explorer and ARM Template )

"addonFeatures": [
    "ResourceMonitorService"
],

![image](https://user-images.githubusercontent.com/17121624/108689622-a57f4100-753c-11eb-91a4-2fa99db37581.png)

I confirmed to add the ResourceMonitorService section on Cluster Manifest on SFX. b

[2021-02-22 09:55] CHEEKATLAPRADEEP-MSFT commented on #71019
@rsrk2008 To correlate events from multiple resources into a centralized repository. Log data collected by **Azure Monitor** is stored in a Log Analytics workspace, which is based on Azure Data Explorer. It collects telemetry from a variety of sources and uses the Kusto query language used by Data Explorer to retrieve and analyze data.

**Log Analytics** - Primary tool in the Azure portal for edit

[2021-02-22 10:07] RohitMungi-MSFT commented on #70980
@RonnieQuan I think this table should help you better understand the scope of Microsoft Managed keys.

Key management parameter | Microsoft-managed keys | Customer-managed keys | Customer-provided keys
-- | -- | -- | --
Encryption/decryption operations | Azure | Azure | Azure
Key storage | Microsoft key store | Azure Key Vault or Key Vault HSM | Customer's own key store
Key rotation responsibility

[2021-02-22 10:19] Floriszz commented on #70581
@SumanthMarigowda-MSFT sorry for the delay. With 'disabling public access' it is like removing the door to the building. But the title of the article suggest 'Prevent anonymous public read access'. One would expect some explanation on the anonymous part like the 'lock of the door' and not solely 'removing the door' completely.

[2021-02-22 10:22] Mja101 opened #71026 "Set up a stage task for artifacts deployment"
Hi all,

I have followed the section _Set up a stage task for artifacts deployment_ but receive an error when deploying the release via azure DevOps.

The error I receive is:

**deploy artifact failed:  {"code":"ResourceNotUpdatable","message":"The linked service <>  is managed by the workspace <> and cannot be updated."**

However, I do not have any linked services besides the default storage acc

[2021-02-22 10:28] shashishailaj commented on #71016
@ameetkonnur Thank you for pointing this out. Could you please let us know the document which have this link and we can review the same with content team ?

[2021-02-22 10:35] Debpriya1994 commented on #69804
There is no explicit concept of redundancy for Recovery Services Vault. The recovery Services Vault leverages the redundancy options of the underlying storage account. Hence the link in the document redirects to the redundancy concepts of Azure Storage.

Feel free to ask any further questions.

[2021-02-22 10:38] psmanhas commented on #71025
@y10e Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-02-22 10:38] psmanhas commented on #71025
@radicmilos Can you please check and add your comments on this doc update request as applicable

[2021-02-22 10:39] mikemowgli opened #71027 "Supplied glossary ters in StarterKitTerms.csv not a valid CSV"
The file `StarterKitTerms.csv`
- is not a valid CSV file (lots of commas are present in the "Definition" field)
- contains `@microsoft.com` e-mail addresses that the importing tool fails to match with other tenants. Either remove the email addresses or instruct in the tutorial to edit those.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2021-02-22 10:41] psmanhas commented on #71024
@llihho
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-02-22 10:42] psmanhas commented on #71024
@roygara
Can you please check and add your comments on this doc update request as applicable

[2021-02-22 10:47] j-mantu commented on #66101
This has been resolved and a PR raised

[2021-02-22 10:48] j-mantu commented on #68037
This has been resolved and a PR raised

[2021-02-22 10:49] CHEEKATLAPRADEEP-MSFT commented on #71027
@mikemowgli Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-02-22 10:58] ameetkonnur commented on #71016
Source Page 1: https://azure.microsoft.com/en-in/blog/microsoft-incident-response-and-shared-responsibility-for-cloud-computing/
Link Page 1: https://aka.ms/SecurityResponsepaper

Source Page 2: https://docs.microsoft.com/en-us/azure/security/benchmarks/security-control-penetration-tests-red-team-exercises
Link Page 2 : https://gallery.technet.microsoft.com/Cloud-Red-Teaming-b837392e

Seems like d

[2021-02-22 11:07] Molx32 opened #71028 "Authentication Policy Administrator - Legacy MFA portal access"
In the **Authentication Policy Administrator** section, the _Important_ note tells "`This role is not currently capable of managing MFA settings in the legacy MFA management portal.`". If the legacy MFA management portal is actually https://account.activedirectory.windowsazure.com/usermanagement/multifactorverification.aspx, then this note is no longer accurate, since this web page can be accessed

[2021-02-22 11:07] j-mantu commented on #66739
This change has already been implemented. The code downloaded uses
// configuration parameters are located at authConfig.js
const myMSALObj = new msal.PublicClientApplication(msalConfig);

[2021-02-22 11:12] CHEEKATLAPRADEEP-MSFT commented on #71026
@Mja101 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-02-22 11:16] mariomeyrelles commented on #64488
Based on @chitturs solution, I was able to configure Application Insights EventSource telemetry to read traces coming from Microsoft.ReverseProxy EventSource provider like this:

[code]

Please note that we don't have ApplicationInsights.config working anymore as the current examples suggest for .NET Core. This only work in .NET Framework. This should be clarified in the documentation.

Be sure to

[2021-02-22 11:20] arun-cogniz opened #71029 "Description typo"
Team,

Included are the number of users, data assets, and glossary terms.

Above line is provided as a part of documentation, do you mean number of sources?

Regards,
Arun

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41427d3d-19ef-6508-3da5-4e56f64b1f84
* Version Independent ID: 64eff25a-6ec5-bbab-ec0d-e053932dbd84
*

[2021-02-22 11:35] gaborbuzasi opened #71031 "FunctionAppScaleLimit settings are swapped when using slots"
We're using Linux functions running in Docker on a Premium plan with a staging and production slot.

We're deploying an ARM template that specifies a scalelimit of 1 for staging and 10 for production. After deploying the ARM template, we can see this reflected in the Scale out page in Azure Portal. Staging shows an app service scale out limit of 1, and production slot has 10. The app service plan

[2021-02-22 12:01] AnuragSharma-MSFT commented on #70902
@MikeSpark Please find the respective responses below:
1. You can connect the Azure SQL Database with SSMS and export the data tier application in bacpac format.
2. As per the [link](https://github.com/MicrosoftDocs/azure-docs/issues/25972), through azure portal we have a limit of 200 GB. However you can use SQLPackage.exe for larger files

Please let us know if this helps.

[2021-02-22 12:13] ram-msft commented on #71018
@jpmlblog
Thanks for the question. We are investigating the issue and will update you shortly.

[2021-02-22 12:16] levalencia commented on #70914
According to this:
print(azureml.core.VERSION)

1.19.0

[2021-02-22 12:31] ethanli83 commented on #70893
Never mind, I figured it out. thanks

[2021-02-22 12:31] #70893 closed

[2021-02-22 12:46] JigneshRawal opened #71034 "Warning: failed loading cafile stream- BaltimoreCyberTrustRoot.crt.pem"
On Using the PHP code as mentioned in the Document and enabling the SSL i get the above error  Warning: failed loading cafile stream.
I have an Azure PaaS PHP web app (7.4) trying to connect to Azure PaaS Mysql WebApp (8.x).

I have exactly copy pasted the PHP sample and tried , so i dont think i am doing any mistake at the application code level .

Can you please let me know the possible solution

[2021-02-22 13:03] savjani commented on #71034
Can you share your msqli_ssl_set string in the code? Have you download BaltimoreCyberTrustRoot certificate file in /var/www/html location?

[2021-02-22 13:08] JigneshRawal commented on #71034
mysqli_ssl_set($conn,NULL,NULL, "/site/wwwroot/Connections/DigiCertGlobalRootG2.crt.pem", NULL, NULL);

My location is different as mentioned above.

[2021-02-22 13:09] savjani commented on #71034
Are you connecting to single server or flexible server?

[2021-02-22 13:11] JigneshRawal commented on #71034
Single server.

[2021-02-22 13:13] savjani commented on #71034
The article on which you have commented is for configuring ssl to single server and for that you need to download BaltimoreCyberTrustroot certificate https://docs.microsoft.com/en-us/azure/mysql/howto-configure-ssl

[2021-02-22 13:16] kimjamia opened #71035 "Standard Rules Engine character limit is not documented"
It would be useful to state on this page that there's a 128-character limit in the value field because almost no Content-Security-Policy header will fit into so few characters.

Splitting the value to multiple rules is possible but cumbersome and can have cost implications.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2021-02-22 13:17] JigneshRawal commented on #71034
Yes i have tried with BaltimoreCyberTrustroot and it gives me the same error.

Also the doc says that the certificate will expire in Feb 21 and hence i tried with DigiCertGlobalRootG2 and none of these seems to work.

[2021-02-22 13:27] amanmcse commented on #70616
@TheUniquePaulSmith  There are different behaviors which are considered to group a device under familiar device, including device identifiers, IP address, location, tenant corporate IP addresses, IP carriers, and available browser sessions.

[2021-02-22 13:40] djpugh opened #71036 "Missing content"
Section https://docs.microsoft.com/en-us/azure/machine-learning/how-to-create-machine-learning-pipelines#use-pipeline-parameters-for-arguments-that-change-at-inference-time

Seems to be missing information/content

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c99cbeb4-d519-dfcf-c3fc-d3828d4c6f4d
* Version Independent

[2021-02-22 13:44] tim-reading-bzy opened #71037 "Additional troubleshooting steps"
Hi, can you add some more troubleshooting steps to this page?

We were running this command:

auditpol.exe /set /subcategory:{0CCE9222-69AE-11D9-BED3-505054503030} /failure:enable /success:enable

and it kept reverting even though the ADFS service was allowed to generate audits per Group Policy.

We had to also set this (after a call to Microsoft support)

In the Group Policy Management Editor, go

[2021-02-22 13:49] Costin-hcl opened #71038 "Explain why export to Logic Apps not supported anymore and what the alternatives are"
The first note mentioned that after October 2020, you can no longer export from Power Automate and deploy to Azure Logic Apps but doesn't explain why. Also, it doesn't state what people can do if they want to convert a cloud Flow to Logic App.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3cfabdb-11da-028e-d601-85b99

[2021-02-22 13:55] bigkangji opened #71039 "The linked documentation don't work."
From https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-name-resolution-ddns#windows-clients,

"The DNS name is the hostname plus the primary DNS suffix. Azure leaves the primary DNS suffix blank, but you can set the suffix in the VM, via the user interface or PowerShell."

Powershell is linked with https://docs.microsoft.com/en-us/powershell/module/dnsclient/set-dnsclient?vie

[2021-02-22 13:56] savjani commented on #71034
Can u use BaltimoreCyberTrustroot certificate and first connect using MySQL client. Does that work? Would you be able to open a support ticket from Azure portal and one of the support engineer can help assist you.

[2021-02-22 13:58] ssivas commented on #70709
Hi @gautamksr , I just wanted to follow up on this request. Did you get a chance to review my previous comment ? Please let me know if you have any other questions or if I can help out further. Thanks.

[2021-02-22 14:01] ssivas commented on #71028
Hello @Molx32 , Thank you for your feedback . We will investigate and update the thread further.

[2021-02-22 14:03] JigneshRawal commented on #71034
Yes i will be moving ahead in the direction of opening a support ticket in azure portal thanks.

[2021-02-22 14:15] lifeofguenter commented on #30370
Is this issue still existent? We are experiencing a similar problem but unsure due to this ticket being closed.

[2021-02-22 14:20] Duffney commented on #46364
Hi @wimdeblauwe,

Perhaps the article has been updated since you filed the issue, but after walking through the article I was able to deploy a functional app. I'm going to close the issue, but please let me know if you have any other concerns.

Thank you,

[2021-02-22 14:23] asukumar22 commented on #70697
Hi Swati,

Thanks for the update!

Please find the answers below for the questions.

1.                Which customer is asking for this functionality?

SR ID: 121021625003666

Customer Name: Qaasim Majid

Company Name: Daisy Corporate Services Trading Ltd

2.                What is the number of VMs the customer is looking to protect using ASR?

The customer mentioned that he is planning to have

[2021-02-22 14:32] HarshitaSingh-MSFT commented on #70838
@YusukeTobo , Please be informed that  this feature works for **Windows Premium plans and Standard**. It does **not** work for **Consumption**. I will update the same in the Docs.

Let me know if this clarifies your doubt.

[2021-02-22 14:46] j-beniwal commented on #57689
Hi @jasonjalufka,
That worked for me. Thanks a lot for the help.
Yes am with you on the thing that we are running arm32 on arm64 but this thing makes our work done and let's wait for the stable version for 64.

Again Thanks for the help.

[2021-02-22 14:47] UXabre commented on #26519
This question pops up again as 1.21 now has dual-stack support in beta: what is the status on this? Will there be an IPv6 public preview within the coming months?

[2021-02-22 14:47] saisworld opened #71040 "How to use Managed Identity for EF6 (edmx files)"
Is it possible to use ManagedIdentity with EF6 projects that uses Database first approach? Connection strings in this instances contains metadata and res etc. Remove these and just sending the value between "quot" gives error at the runtime.

Any info on how to use Managed identity with EF6 database first (edmx) approach will be helpful.

---
#### Document Details

⚠ *Do not edit this section. It

[2021-02-22 14:52] craigjar opened #71041 "Kafka Version?"
The Databricks 7.3 runtime seems to include Kafka 2.4.1, albeit shaded, but no mention in the release page.  Unsure if customer should bring their own Kafka library to the cluster or not, and if so what version would be recommended, 2.4.1 or other.  Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 624eac4f-d71

[2021-02-22 14:58] MonikaReddy-MSFT commented on #71023
@angelaki -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-02-22 15:02] spelluru commented on #70162
@ErikMogensen - Thanks. I have a list of articles that need to be updated for the Track 2 SDK and this one is one of them. I will prioritize and work on it very soon. Thanks again.

[2021-02-22 15:03] psmanhas commented on #70827
@Palino1611 Apologies for the delay in response and all the inconvenience caused because of the issue. Yes you can use Azure AD authentication both for on-prem servers as well as AWS services.

For on-prem servers you need to install Azure AD Connect on your on-prem server. In this setup user authenticates against services that leverage Azure AD, the actual authentication is redirected to on-premi

[2021-02-22 15:04] spelluru commented on #70925
@BasWassenaar - Got it. Thanks. I will update the article after confirming with the product team.

[2021-02-22 15:08] angelaki commented on #71023
Oh, sorry. As you already expected it is not doc related - was misunderstood.

[2021-02-22 15:08] #71023 closed

[2021-02-22 15:09] rajkumar-munusamy opened #71042 "Snapshot policy ETA"
Hi, can you please advise on what the eta is for snapshot policy? I am looking for it for our customers planning purpose, and I know this is not a commitment from Microsoft.

[2021-02-22 15:10] bandersmsft commented on #70930
@KevinBurton Hi there. If you have a [Disabled Azure for Students subscription](https://docs.microsoft.com/azure/cost-management-billing/manage/azurestudents-subscription-disabled), it's automatically disabled when all your credit is used or after you've had the subscription for 12 months. I'm not sure if either case is your situation. If so, you'll need to create an [Azure support request](https:

[2021-02-22 15:10] #70930 closed

[2021-02-22 15:13] rajkumar-munusamy opened #71043 "Azure Netapp Files Snapshot Policy ETA"
Hi, can you provide an GA eta for ANF snapshot policy which is currently under preview? We want this for planning purposes with our customers. Thanks.

regards
Raj

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e33e773-ccdf-47e6-ecdd-cb99ec16d029
* Version Independent ID: f5a92bb9-68a0-666c-37cf-20a5ad5ced88
* Content

[2021-02-22 15:18] rvunen opened #71045 "Information on VM's is contradicting and not clear at all"
Resource | Limit
-- | --
VMs per subscription | **25,0001 per region.**
VM total cores per subscription | **20 per region.** Contact support to increase limit.
Azure Spot VM total cores per subscription | 20 per region. Contact support to increase limit.
VM per series, such as Dv2 and F, cores per subscription | 201 per region. Contact support to increase limit.

So I can create 25000 VMs but I ca

[2021-02-22 15:18] psmanhas commented on #70943
@erikadoyle
Can you please check and add your comments on this doc update request as applicable

[2021-02-22 15:18] MGoedtel commented on #71017
@MikeSpark - Per the product group:

- We will be plan to support DSC and Azure monitoring side by side soon officially . They will discuss with their PM team and provided the ETA on this.

- As of now few customer are using DSC and Azure monitoring side by side internally . Current Linux DSC extension is using DSC Engine - 1.1.1-926 hence both latest azure monitor agent and latest DSC extension 2

[2021-02-22 15:19] psmanhas commented on #70967
@roygara
Can you please check and add your comments on this doc update request as applicable

[2021-02-22 15:28] psmanhas commented on #70971
@keatseongchan Did you got a chance to go through below documentation:

https://docs.microsoft.com/en-us/azure/aks/use-managed-identity
https://docs.microsoft.com/en-us/azure/aks/operator-best-practices-identity

Thanks

[2021-02-22 15:28] MonikaReddy-MSFT commented on #71023
@angelaki - Sure thank you.

If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-22 15:31] psmanhas commented on #71010
@shortpatti
Can you please check and add your comments on this doc update request as applicable

[2021-02-22 15:31] angelaki commented on #71023
@MonikaReddy-MSFT but if I'm already asking: is this a known / documented behavior?

[2021-02-22 15:33] psmanhas commented on #70975
@brucelowekamp Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-02-22 15:33] psmanhas commented on #70975
@mlearned Can you please check and add your comments on this doc update request as applicable

[2021-02-22 15:34] timsander1 commented on #70912
Azure Cosmos DB supports indexing and querying of geography geospatial data using WGS-84 CRS. I plotted the points and the query results that you're reporting look correct. Could you plot all of these points on a map (not a flat map, something that will take into account that the shortest path between two points will be a curved, and not straight line). If you'd looking for a 2d map, [geometry ](h

[2021-02-22 15:40] oscarmorasu opened #71046 "Incorrect reference in AWS Client VPN sso tutorial"
The section [Configure AWS Client VPN SSO](https://docs.microsoft.com/en-gb/azure/active-directory/saas-apps/aws-clientvpn-tutorial#configure-aws-clientvpn-sso) is incorrect. There's no need to send the metadata file to AWS support.

I suggest replacing that with a link to this AWS documentation, which clearly explains all the steps to create a Client VPN endpoint with SAML 2.0 authentication:

ht

[2021-02-22 15:56] wUEZRs commented on #70835
Is this document also for CA certificates? It's under Self Signed which is not the case for most, as far as I'd like to guess

Regarding 3ds I remember doing this in early 2020 - you can see similar discussion here
https://discuss.hashicorp.com/t/ssl-certificate-application-gateway/2293

It's hard to know how to from A to Z create a cert that is accepted by App Gw

1) Download the .cer file from t

[2021-02-22 16:00] inaun commented on #12929
Two year later, and the documentation still has not been updated...

[2021-02-22 16:05] djpmsft commented on #71029
You are correct, this is a typo. Sending out a PR to fix it -- hopefully changes will be public by end of day

#please-close

[2021-02-22 16:06] #71029 closed

[2021-02-22 16:08] GiftA-MSFT commented on #70763
@wolfma61, can you please review the above inquiry? Thanks.

[2021-02-22 16:10] GiftA-MSFT commented on #71036
@djpugh we'll review your feedback and get back to you shortly. Thanks.

[2021-02-22 16:20] wfschneider opened #71048 "Inconsistent Documentation - Lacks Clarity"
The section **_Distribute: Shared Image_** has documentation on the _galleryImageId_ with regards to image versioning. This value can be configured to allow the automatic generation of monotonic numbers or custom versions but the listed formats are inconsistent and a little confusing.

Explicit versioning - You can pass in the version number you want image builder to use. The format is: _**/subscr

[2021-02-22 16:20] JamesTran-MSFT commented on #71037
@tim-reading-bzy
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-22 16:21] JamesTran-MSFT commented on #71046
@oscarmorasu
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-22 16:22] MonkeyTennis commented on #70538
Phew, glad I found this as I was struggling with this one. Thanks!

[2021-02-22 16:22] Offby0ne opened #71049 "Reset user password twice"
A note in the document (in the hybrid environment section) recommends resetting the user's password twice to mitigate pass-the-hash attacks. However, I can't find a document elsewhere that makes this recommendation, except krbtgt account is compromised, or you're trying to recover an AD forest. It might be useful to have a link to more information about why this is recommended for a regular user a

[2021-02-22 16:29] HarshitaSingh-MSFT commented on #71022
Hello @yutaro113 , thanks for the question! We are taking a look into this and will get back to you soon.

[2021-02-22 16:39] sakthi-vetrivel commented on #70810
Hey @D3athByMonkey, thanks for your feedback. We're working on an article to capture all of this.

[2021-02-22 16:40] 1RedOne opened #71050 "Out of date instructions for Detaching a Disk"
These instructions are no longer valid for Detaching an OS Disk from the Azure Portal.  No Edit or detach button exists any longer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72437e7b-8548-a802-e4f8-731059cca276
* Version Independent ID: 9b31eabf-cfd3-cf55-aa30-f8538e0d4f83
* Content: [Detach a data disk from a Lin

[2021-02-22 16:41] sakthi-vetrivel commented on #70809
@D3athByMonkey, thanks for your feedback. This post in the Red Hat customer portal has some good info on troubleshooting DNS for an OpenShift cluster: https://access.redhat.com/solutions/3804501

[2021-02-22 16:46] v-sammy opened #71051 "Not clear which role is needed to manually trigger a pipeline"
Can you please add which role a user needs in order to be able to schedule a trigger or to manually execute a pipeline?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d564675-f719-57fc-a406-6aec51d26b29
* Version Independent ID: 84124e8f-efad-274f-c2eb-40a04748296c
* Content: [Pipeline execution and triggers in Azure

[2021-02-22 16:49] AnuragSharma-MSFT commented on #70705
@AdrianZielonka Due to lack of response, ee will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-02-22 16:49] #70705 closed

[2021-02-22 16:50] alkohli commented on #69138
We have confirmed with Engg that NFS enabled blobs cannot be targeted. Work in progress to update the documentation. Thanks!

[2021-02-22 16:52] sethmanheim commented on #63181
@rjmax We are sweeping the documentation for this change. Thank you for your feedback! #please-close

[2021-02-22 16:52] #63181 closed

[2021-02-22 16:53] AnuragSharma-MSFT commented on #71034
@savjani Thanks for providing all the necessary information.

@JigneshRawal Please let us know if you have created the support ticket and we can move ahead and close the thread.

[2021-02-22 16:53] sethmanheim commented on #61090
@chrisevans9629 This would probably be a better question for a place like Stack Overflow, as it's really not a documentation issue. #please-close

[2021-02-22 16:53] #61090 closed

[2021-02-22 16:54] sethmanheim commented on #52724
@J-Prashant Thank you for your feedback! The doc should be updated at this point. #please-close

[2021-02-22 16:54] #52724 closed

[2021-02-22 16:55] sethmanheim commented on #49731
@robcamer Closing this for now as we have a duplicate issue open, and it's being investigated. #please-close

[2021-02-22 16:55] #49731 closed

[2021-02-22 16:56] GiftA-MSFT commented on #71036
@NilsPohlmann can you please review above feedback. Document is missing details under "Use pipeline parameters for arguments that change at inference time" section. Thanks.

[2021-02-22 16:56] sethmanheim commented on #54471
@ederbond The documentation should be updated at this point, thank you for the feedback! #please-close

[2021-02-22 16:56] #54471 closed

[2021-02-22 16:56] jabbera opened #71052 "Document that this breaks serial console"
I walked through these steps and found out that this breaks serial console on linux vms. This should be documented! See the below error I received trying to open the serial console after following these steps. Resolving the authorization issue causes another problem. Bottom line is, it appears serial console is based off cloud shell. Following these steps really messes everything up.
![image](http

[2021-02-22 16:59] SamirFarhat opened #71054 "Management via the Azure Portal"
Hi,

It's not mentioned if we can still continue using the portal to manage the cluster? Since the public management IP address is no longer available, is the same used by the portal to send requests to the data-bricks control plane, or we can still use the portal for management purposes.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2021-02-22 16:59] sethmanheim commented on #58964
@c-lamont Thank you for the feedback -- this article has recently undergone major updates. Please open a new issue if there are any further issues. #please-close

[2021-02-22 16:59] #58964 closed

[2021-02-22 17:04] sethmanheim commented on #61924
@janpieterz It might be best to open a support ticket for this issue, or post a question on Stack Overflow. Please let us know if there are any specific documentation issues. Thank you! #please-close

[2021-02-22 17:04] #61924 closed

[2021-02-22 17:05] sethmanheim commented on #62637
@lovelangy We have recently updated this article -- please let us know if it is clearer. Thank you for your feedback! #please-close

[2021-02-22 17:05] #62637 closed

[2021-02-22 17:07] zhughes opened #71055 "Why separate out mixed scenarios?"
In the last bullet in this article it says "If you really have a mixed scenario, for example, you have two different hubs on the same SignalR resource, one used as a traditional SignalR hub and the other one used with Azure Functions and doesn't have hub server, you should really consider to separate them into two SignalR resources, one in default mode and one in serverless mode"

My question is,

[2021-02-22 17:11] #70516 closed

[2021-02-22 17:11] #70664 closed

[2021-02-22 17:12] sethmanheim commented on #62923
@krish-gh Sorry for the slow response, I believe this is outdated. You will want to use the Microsoft.Azure.NotificationHubs NuGet package. Thanks for the feedback! #please-close

[2021-02-22 17:12] #62923 closed

[2021-02-22 17:12] SaurabhSharma-MSFT commented on #71051
@v-sammy Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2021-02-22 17:13] JamesTran-MSFT commented on #70855
@djcerdas
Thank you for the feedback! The author has created a PR to update the documentation and I will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let us know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2021-02-22 17:13] #70855 closed

[2021-02-22 17:13] SaurabhSharma-MSFT commented on #71054
@SamirFarhat Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2021-02-22 17:17] sethmanheim commented on #68011
@tiagonmas Thank you for the feedback -- we have recently updated this article, so please try again and see if the issue persists. #please-close

[2021-02-22 17:17] #68011 closed

[2021-02-22 17:17] GitaraniSharma-MSFT commented on #70991
@RonnieQuan , As mentioned [here](https://docs.microsoft.com/en-us/azure/firewall/firewall-faq#how-does-azure-firewall-handle-planned-maintenance-and-unplanned-failures), Azure Firewall consists of several backend nodes in an active-active configuration. For any planned maintenance, we have connection draining logic to gracefully update nodes. Updates are planned during non-business hours for each

[2021-02-22 17:19] SaiKishor-MSFT commented on #71035
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-22 17:20] SaiKishor-MSFT commented on #71039
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-22 17:21] MonikaReddy-MSFT commented on #71050
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-02-22 17:22] MonikaReddy-MSFT commented on #71052
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-02-22 17:24] MonikaReddy-MSFT commented on #70107
@danielsollondon - Can you take a look at this and provide the correct link.

[2021-02-22 17:24] MonikaReddy-MSFT commented on #70113
@danielsollondon - Can you provide the example for the Managed Identity.

[2021-02-22 17:26] YutongTie-MSFT commented on #70756
@trevorbye Hello, do we have any plan/ backlog for this? Could you please check on this issue and update the document if necessary? Thanks

[2021-02-22 17:27] SaurabhSharma-MSFT commented on #70735
@R1k91 For the values in Json it is not case sensitive and it works with Minute, Hour etc.  I have tested this and it works as expected.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-02-22 17:27] #70735 closed

[2021-02-22 17:29] MarileeTurscak-MSFT commented on #71049
@Offby0ne
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-22 17:33] JamesTran-MSFT commented on #70678
@mpchen
Thank you for your time and patience throughout this issue!

I received an update from our engineering team and it doesn't look like this is possible, since customers are not able to create their own code-based assessments and integrate them through our API. However, the [API call](https://docs.microsoft.com/en-us/rest/api/securitycenter/assessments/createorupdate) you mentioned does seem

[2021-02-22 17:42] shashishailaj commented on #71016
Thank You @ameetkonnur . We will have this checked with the content team and update .

[2021-02-22 17:45] ChaitanyaNaykodi-MSFT commented on #71031
Hello @gaborbuzasi,
Thank you for your feedback! We will review and update as appropriate.

[2021-02-22 17:47] ChaitanyaNaykodi-MSFT commented on #71038
Hello @Costin-hcl,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-02-22 17:50] mimckitt commented on #70839
#label:"sizes/subsvc"

[2021-02-22 17:53] jeevansd commented on #70501
@v-hagamp  and @chetansriv can you please rested the app and then update the instructions here?

[2021-02-22 17:56] joe-plumb opened #71058 "Using existing Private Link - ambiguous wording"
[code]
Ambiguous wording - does this mean I _can_ use my existing private endpoints, or I need to create a new managed private endpoint using Azure Data Factory to communicate with my storage PaaS services?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b7d5707-9f14-db2b-00fb-5edd7bbcd06f
* Version Independent ID: 2a0

[2021-02-22 17:57] cynthn commented on #70839
@aelij I totally agree. This is feedback we've heard before about all of the information for the VM sizes. I'm looking into a solution :)

#please-close

#label:"sizes"
#label:"csv"

[2021-02-22 17:57] #70839 closed

[2021-02-22 17:58] xyh1 opened #71059 "Is feature registration still required?"
Since this feature is GA, do we still need to register for the feature before we can use it?

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62a6c1f4-9152-0f5a-b546-6ba9e1e2bf88
* Version Independent ID: 282b084a-8184-29a0-799b-6f3a55dccdc5
* Content: [Filter data by using Azure Data Lake Storage query acceleration](https://docs.microsoft.com/en-

[2021-02-22 18:04] R1k91 commented on #70735
Sauranbh maybe you didn't get me.
What I've told you is exactly that correct values must have capital letters because with everything lowercase it doesn't work.

I've just tried calling the API with the following JSON and the frequency "week" had been skipped and it put the default one.
![image](https://user-images.githubusercontent.com/57228476/108749717-71a61a80-7540-11eb-8464-3832c12e47bc.png)

[2021-02-22 18:07] joe-plumb opened #71060 "Ambiguous statement RE: Supported Functionality"
Hi, the wording in this docs article is ambiguous. Is downloading a new version of the SHIR automatically supported, or not? The text suggests that it is supported, but it's in the "not currently supported" heading.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04cca896-a855-6c8a-44fa-0ba83b5f058a
* Version Independen

[2021-02-22 18:12] NavtejSaini-MSFT commented on #70596
@qwertynik Thank you for confirmation. We are going ahead and closing this feedback.

[2021-02-22 18:12] #70596 closed

[2021-02-22 18:20] rwike77 commented on #71000
@jeanluc33, Looks like that download was taken down.  You should be able to use the New-SelfSignedCertificateEx cmdlet: https://www.pkisolutions.com/tools/pspki/New-SelfSignedCertificateEx/.  I'll get the article updated.

[2021-02-22 18:25] himanshusinha-msft commented on #71041
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-02-22 18:27] himanshusinha-msft commented on #71058
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-02-22 18:32] jeanluc33 commented on #71000
Thanks.   I wish there was some guidance on the old script.  For example,
it would be great to know that the old script is still ok to use if we have
it and wasn’t withdrawn due to say a security issue.

On Mon, Feb 22, 2021 at 1:20 PM Ryan Wike <notifications@github.com> wrote:

[2021-02-22 18:46] PatrickFarley commented on #70999
Solution - https://stackoverflow.com/questions/30807318/running-curl-via-powershell-how-to-construct-arguments#:~:text=In%20PowerShell%20curl%20is%20a,command%20not%20resolved%20to%20alias.

[2021-02-22 18:47] PatrickFarley commented on #70999
I'll update the docs to suggest cmd and not powershell

[2021-02-22 18:52] msereda commented on #70938
I did some more testing on this item and with all defaults (we have not overwritten any session/token entries in our custom policies) it appears to take a full 24 hours for the session to timeout, leaving the browser open.  I would like to see this confirmed and written into the documentation though in case there's something I'm missing.

[2021-02-22 18:55] JamesTran-MSFT commented on #70920
@Bongani
Thank you for your time and patience throughout this issue!

I was able to walk-through the documentation without any issues. Are you able to retry deploying the file share, container, and mounting the volume?

[code]

![File share in Container Instance](https://user-images.githubusercontent.com/36619112/108755574-4ef21280-74fc-11eb-8e6a-205de35d517c.gif)

If you are still facing issues,

[2021-02-22 18:56] JamesTran-MSFT commented on #70947
@Luciden
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-22 18:57] WilliamDAssafMSFT commented on #69800
Hi @rarandiv, we have a doc update in flight. Thanks again, your feedback here has helped improve our documentation.

[2021-02-22 18:57] MonikaReddy-MSFT commented on #70840
 Thank you for reaching out to us. Please note that this channel (the Azure Docs repository) is only for driving improvements related to the Azure documentation.
Your query looks more like a product issue which may require troubleshooting. . I would suggest to engage the community on [Microsoft QnA](https://docs.microsoft.com/en-us/answers/topics/azure-virtual-machines.html) platform where we supp

[2021-02-22 18:57] #70840 closed

[2021-02-22 18:58] WilliamDAssafMSFT commented on #69800
#please-close

[2021-02-22 18:58] #69800 closed

[2021-02-22 19:08] ecfan commented on #71038
Hi @Costin-hcl, I'm investigating with the Power Automate team for more information.

[2021-02-22 19:13] AjayKumar-MSFT commented on #70825
@cephalin, As discussed, requesting your review on the feedback/PR raised. Thanks!

[2021-02-22 19:16] JamesTran-MSFT commented on #70953
@famoussd
Thank you for your time and patience throughout this issue.

Every subscription-level and tenant-level operation is subject to throttling limits. These limits are scoped to the security principal (user or application) making the requests and the subscription ID or tenant ID. For [more info](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/request-limits-and-thrott

[2021-02-22 19:29] JamesTran-MSFT commented on #70972
@wanglei
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-02-22 19:29] #70972 closed

[2021-02-22 19:31] JamesTran-MSFT commented on #71008
@secpapa
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-22 19:37] JamesTran-MSFT commented on #70851
@biologistbrian
Thank you for your time and patience throughout this issue!

Since I haven't received an update from our engineering team, and this issue is currently blocking a few hundred of your customers, I'd recommend creating a support request so our engineers can take a closer look into your environment to get this issue resolved.

Can you please email me with the info below:

Email: AzComm

[2021-02-22 19:37] #70851 closed

[2021-02-22 19:38] biologistbrian commented on #70851
It's fixed =)

A support ticket took care of it.

Absolutely no idea what the issue was, but it's working beautifully.

On Mon, Feb 22, 2021 at 2:37 PM James Tran-MSFT <notifications@github.com>
wrote:

[2021-02-22 19:40] JamesTran-MSFT commented on #70851
@biologistbrian
Thank you for the quick response and I'm glad that your issue was resolved!

[2021-02-22 19:54] rolyon commented on #70862
Hi @roy-work
Thanks for the feedback. The role descriptions in the doc come from the Azure portal, so I can't directly update. I'll send a message to the team to see if they can update. Based on the permissions I see in the roles, I think the descriptions would be something like the following:
AcrDelete - Delete artifacts in a container registry.
AcrImageSigner - Read or write content trust metada

[2021-02-22 19:55] rolyon commented on #70862
Let us know if you have any additional feedback.
thanks

[2021-02-22 19:55] rolyon commented on #70862
#please-close

[2021-02-22 19:55] #70862 closed

[2021-02-22 20:14] NuAlex commented on #63182
This issue has been fixed and will be available soon in the upcoming release of AADConnect 1.6.x.
Thanks for reporting.

[2021-02-22 20:25] vhorne commented on #70739
Note added in Premium Features article.
#please-close

[2021-02-22 20:25] #70739 closed

[2021-02-22 20:27] vhorne commented on #70742
Product team is considering pulling this information together for publication. When that information is provided, it will be published.
#please-close

[2021-02-22 20:27] #70742 closed

[2021-02-22 20:44] lnewportmsft opened #71062 "Add required storage account permissions for Synapse output"
**Quote** : To use Azure Synapse as output, you need to ensure that you have the storage account configured

We should add a note on permissions for the Storage Account.  The Synapse system Managed Identity needs to be added as a Storage Blob Data Contributor for the storage account configured in the ASA job.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2021-02-22 20:55] MisinformedDNA commented on #70814
Thanks @ChaitanyaNaykodi-MSFT, I have followed the tutorial, but I wanted to take it one step further. I wanted to set [WEBSITE_RUN_FROM_PACKAGE](https://docs.microsoft.com/en-us/azure/azure-functions/functions-deployment-technologies#external-package-url) specifying only a simple URL (i.e. https://XXXX.blob.core.windows.net/package/package.zip), and not have to deal with SAS tokens. But it doesn'

[2021-02-22 21:13] shermes opened #71063 "Never prompted for Service Principal credentials"
I created a service principal but when I launched the ARM template, I was never prompted to enter the service principal credentials.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ccafad9-3f3e-be8d-df31-43da72430f74
* Version Independent ID: 05365e72-7510-ae2a-e07e-57ef97aae359
* Content: [Quickstart - Create an Azure

[2021-02-22 21:18] MonikaReddy-MSFT commented on #71052
@jabbera - Can you please provide us with the document that you followed for reproducing the issue? What are the steps?

[2021-02-22 21:30] dmitro-wpl opened #71064 "The speech service returns an error. (Python)"
Previously, I sent for processing a voice recording in the .mp3 and .wav format and everything worked, I received a phrase back in the form of text. Now, when sending in .mp3 format, an error is returned in the console:

**Process finished with exit code -1073741819 (0xC0000005)**

at the same time when i send .wav everything works

---
#### Document Details

⚠ *Do not edit this section. It is req

[2021-02-22 21:31] DavidMwihuri01 commented on #66630
@adamstoffel, thanks for the feedback, you will see the change published shortly.

[2021-02-22 21:33] DavidMwihuri01 commented on #70149
@brolifen, thanks for your feedback. You should see changes on this shortly.

[2021-02-22 21:48] selvasingh commented on #70666
Zipkin dependency is no longer necessary. Please drop that and all will be cool

[2021-02-22 21:52] #71062 closed

[2021-02-22 22:05] derekehyatt commented on #70877
It won't let me attach a .py file, but here is the script as a text file. I got it all working, but as you can see I had to make some changes from what is in the current documentation. Hope your day is going well!

[pipeline.txt](https://github.com/MicrosoftDocs/azure-docs/files/6025435/pipeline.txt)

[2021-02-22 22:25] himanshusinha-msft commented on #71060
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-02-22 22:35] KranthiPakala-MSFT commented on #60609
@xiopeter3345 Based on the above update, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen the issue. We will gladly continue the discussion.

[2021-02-22 22:36] #60609 closed

[2021-02-22 22:47] galehouse5 opened #71067 "Why do allocation clusters run out of free resources?"
Hello, I'm just wondering if you can elaborate further on allocation failures. Why does a cluster run out of free resources? What kind of mitigations does Azure put in place to prevent it from happening? Why do those mitigations sometimes fail? Is there an alert we can configure to notify us when a cloud service allocation fails? Allocation failures are infrequent but they can be serious when they

[2021-02-22 22:58] DerekHerman-MSFT commented on #71059
@xyh1 Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-02-22 22:59] Gt3pccb opened #71068 "Azcopy fails failed to perform copy command due to error: cannot start job due to error: cannot scan the path \\?\"
$ContainerName = "images"

INFO: Scanning...
INFO: Any empty folders will not be processed, because source and/or destination doesn't have full folder support

failed to perform copy command due to error: cannot start job due to error: cannot scan the path \\?\N:\EdgeVMImages\AzureEdgeG1-60GBGeneralized.vhd\G1Win19s60GB, please verify that it is a valid.

[2021-02-22 23:06] jyeblog commented on #70931
@elSagie

Thanks for the clarification. Can these statements be added to the document to increase the clarity for future customers?
1. Resource Groups are required for BYOL VA solution deployment
2. Nothing will show under the Resource Group
3. Delete the empty Resource Group will break the VA solution deployment
4. BYOL VA solution can be deployed to any region (Azure Portal)

[2021-02-22 23:12] NavtejSaini-MSFT commented on #70747
@hora7ce We are going ahead and closing this for now. Please get back to us with more info and we can take it forward.

[2021-02-22 23:12] #70747 closed

[2021-02-22 23:20] femsulu commented on #46364
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-02-22 23:20] #46364 closed

[2021-02-22 23:21] NavtejSaini-MSFT commented on #70720
@aodugga Raising this with UVOC is correct method to reach the Product team. But we are still check with our team regarding this.
@monhaber Please check the feedback from the Cx and please provide feedback.

[2021-02-22 23:26] mike-urnun-msft commented on #70882
@ErikMogensen My fault on the reference doc, I might have mixed up the details of another issue. I don't yet think it's a bug as features in preview often go through iterations of changes and improvements. If you're able to reproduce this issue consistently, could you share the relevant info with me? I'd be happy to validate and loop in the right folks here.

[2021-02-22 23:26] SaurabhSharma-MSFT commented on #70744
@haveyoumetcp Ok, got it. The PR for the fix has been created and it will be merged once approved by the document author. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2021-02-22 23:26] #70744 closed

[2021-02-22 23:28] NavtejSaini-MSFT commented on #70866
@louis-Kimura Please let us know if you need further help with this.

[2021-02-22 23:28] NavtejSaini-MSFT commented on #70864
@louis-Kimura Please let us know if you need further help with this.

[2021-02-22 23:32] femsulu commented on #71045
Hi @rvunen, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-02-22 23:32] NavtejSaini-MSFT commented on #71004
@joymon Managed Service identities is older name as shown below:
![image](https://user-images.githubusercontent.com/52257742/108783878-399cd880-753c-11eb-9afe-513304c7a81f.png)

Please check this [document ](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/overview)for more info.

[2021-02-22 23:36] normesta commented on #71059
Hi @xyh1 - yes the registration step is still required even though the feature is generally available. We'll remove these steps when they are no longer required. Thanks for reaching out!

#please-close

[2021-02-22 23:36] #71059 closed

[2021-02-22 23:36] JamesTran-MSFT commented on #70931
@elSagie
Thank you for the help and assisting jyeblog throughout this issue!

@jyeblog
I've assigned this issue to the author who will investigate and update the documentation as appropriate.

Thank you!

[2021-02-22 23:40] normesta commented on #70603
Hi @minnieshi - Have you reviewed this article? - [Use Azure CLI to manage ACLs in Azure Data Lake Storage Gen2](https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-acl-cli)? It contains snippets that help you set and update ACLs from the command line.

[2021-02-22 23:57] #70953 closed

[2021-02-23 00:07] MarileeTurscak-MSFT commented on #70443
Hi @Jbines,

I made a pull request to update the doc with some guidance. The list of things to keep in mind when using group filters with a multi-forest environment is included [here](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sync-configure-filtering):

Hope this helps!

[2021-02-23 00:07] #70443 closed

[2021-02-23 00:31] MarileeTurscak-MSFT commented on #69123
Can you check under C: C:\ProgramData\AADConnect?

[2021-02-23 00:49] MarkIannucci commented on #70664
@JamesTran-MSFT , sorry I was a little slow on my response on this.  The answer you obtained is helpful, but a bit hand wavy to me, with the app being closed source, I suspect any answer will feel hand wavy to some, but I would personally feel a bit more comfortable relying on the technology if Microsoft provided more thorough documentation about how the passwords are protected.

In my ideal world

[2021-02-23 00:51] polarapfel opened #71071 "k8sconfiguration extension installation has dependency on libss-dev"
k8sconfiguration extension will not install on Ubuntu 20.04 (and other Debian based distributions) without installing libssl-dev from apt.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 927644dd-101f-8303-5abd-f3713951191e
* Version Independent ID: c6a4becc-86ed-65f5-e82d-ad5a7ee88e35
* Content: [Connect an Azure Arc e

[2021-02-23 01:03] SamaraSoucy-MSFT commented on #71042
Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

If you are asking a question about the product, then there is an active community on [Microsoft Q&A ](https://docs.microsoft.com/en-

[2021-02-23 01:08] SamaraSoucy-MSFT commented on #71043
Hi Raj,

Is this a duplicate question to https://github.com/MicrosoftDocs/azure-docs/issues/71042 or are you asking about the GA for a different service?

As I replied on that thread, this space is for questions about the documentation, not product questions. Community members and Microsoft employees are active on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) and will be abl

[2021-02-23 01:08] SamaraSoucy-MSFT commented on #71064
Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

The best place for specific answers about implementations are going to be the [Microsoft Q&A](https://docs.microsoft.com/answers/) a

[2021-02-23 01:09] SamaraSoucy-MSFT commented on #71068
Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

The best place for specific answers about implementations are going to be the [Microsoft Q&A](https://docs.microsoft.com/answers/) a

[2021-02-23 01:24] savjani commented on #71034
Hi @JigneshRawal - Please share the case no with me so I can make sure I follow-up on the ticket while we can close this thread.

[2021-02-23 01:33] TravisCragg-MSFT commented on #70670
@an-prog This error occurs when the SSK keys provided are not correct for the environment, or they contain invalid characters (like escape characters). Are you providing your own SSH keys, or using the ones generated for you by the platform?

[2021-02-23 01:58] gitercn opened #71072 "Is scope space-separated or plus-separated?"
[Enter feedback here]

In the "Send the sign-in request" section, there is a description that scope is `A space-separated list of scopes. For OpenID Connect, it must include...`

In the "Get an access token to call UserInfo" section, there is an example that use plus-separated for scope `&scope=openid+profile+email`

I'm a bit confused, is the scope spaced-separated or plus-separared? Or it uses d

[2021-02-23 02:04] #70902 closed

[2021-02-23 02:04] MikeSpark commented on #70902
Happy with the answer.

[2021-02-23 02:04] MikeSpark commented on #71017
Thanks. Good to know.

[2021-02-23 02:04] #71017 closed

[2021-02-23 02:09] ChaitanyaNaykodi-MSFT commented on #70814
Hello @MisinformedDNA, Yes you are correct. Currently it is not possible to use managed Identity to access the SAS URL. The team is currently working on adding this feature and an announcement will be made soon.
If it helps in this scenario you can leverage [Key Vault integration for Azure Function App](https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references) to fetch t

[2021-02-23 02:12] hpsin commented on #71072
Either one works. + and space are roughly synonymous in url encoding and similar patterns.

[2021-02-23 02:32] SaurabhSharma-MSFT commented on #70735
@R1k91 sorry but which REST API you have used ?  The json here is for creating schedules through portal.  I need check it if it works differently for REST calls.

[2021-02-23 02:34] skdeng opened #71073 "Example is wrong and outdated"
In the second example, the way how PAT is passed in seems wrong.

[code]

I did this and it gave me an error saying that it expects a JSON-formatted string.
`set_connection` documentation also says that the `value` parameter should be a JSON-formatted string: https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.workspace.workspace?preserve-view=true&view=azure-ml-py#set-connection

[2021-02-23 02:52] mialtamo commented on #69293
Why was this closed this is still very much an issue?

[2021-02-23 02:53] ram-msft commented on #71073
@skdeng Thanks for the question. We are investigating the issue and will update you shortly.

[2021-02-23 03:17] ram-msft commented on #70914
@levalencia Thanks, Please follow the [notebook ](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/automated-machine-learning/forecasting-forecast-function/auto-ml-forecasting-function.ipynb) for AutoMLConfig. Please pass the forecasting_parameters as shown below in the screenshot for standard AutoMLConfig object.
 ![image](https://user-images.githubusercontent.com/

[2021-02-23 03:23] SaiKishor-MSFT commented on #70870
@MichelZ Thanks for pointing this out. At this time this is only possible via API. We are working on removing this statement as it is not right. We will proceed to close this issue now. We will update the document with the correct information. Thank you!

[2021-02-23 03:23] #70870 closed

[2021-02-23 03:23] #66739 closed

[2021-02-23 03:24] SaiKishor-MSFT commented on #70856
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-23 03:24] #70856 closed

[2021-02-23 03:35] SaiKishor-MSFT commented on #70853
@jjeziorny Thanks for pointing this out. While I try this out myself, can you provide the SR No. for the Microsoft case so I can follow the same for reference? Thanks!

[2021-02-23 03:54] SnehaAgrawal-MSFT commented on #71040
@saisworld Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-23 04:19] KalyanChanumolu-MSFT commented on #70989
@RonnieQuan We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-02-23 04:19] #70989 closed

[2021-02-23 04:24] AshokPeddakotla-MSFT commented on #71062
@lnewportmsft Thanks for the feedback. We see that you have closed this issue. Just checking are you still looking for an update on this query?

[2021-02-23 05:02] psmanhas commented on #71048
@wfschneider Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-02-23 05:13] psmanhas commented on #71067
@galehouse5 Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-02-23 05:14] psmanhas commented on #71067
@tanmaygore Can you please check and add your comments on this doc update request as applicable

[2021-02-23 05:18] PramodValavala-MSFT commented on #71006
@pisees Yes. This is possible. You could either use the self-host gateway within K8s or even have APIM deployed into a VNET if you need to integration services in and out of K8s.

[2021-02-23 05:23] amanmcse commented on #71055
@zhughes Thank you for your feedback . We will investigate and update the thread further.

[2021-02-23 05:25] amanmcse commented on #71063
@shermes Thank you for your feedback . We will investigate and update the thread further.

[2021-02-23 05:26] amanmcse commented on #71072
@gitercn Thank you for your feedback . We will investigate and update the thread further.

[2021-02-23 05:29] #34166 closed

[2021-02-23 05:29] Rinki-MSFT commented on #70438
Hello @yasithacp ,
Due to the recent changes, now, you need to use the conditional access policy to configure refresh and session token lifetimes. In that way you can define the policy to set  [refresh-token-max-inactive-time](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetimes#refresh-token-max-inactive-time) and [multi-factor-refresh-toke

[2021-02-23 05:38] PramodValavala-MSFT commented on #70973
@jeff-kissinger-ul Looks like there is a [feature request](https://github.com/Azure/azure-sdk-for-net/issues/7380) in the backlog for this. Once implemented, the doc will be updated accordingly to include the appropriate information for .NET Core.

Since there is no doc update required here now, we will now proceed to close this thread. If there are further questions regarding this matter, please

[2021-02-23 05:38] #70973 closed

[2021-02-23 05:42] lyrana commented on #67310
That is still necessary—the MSI would need to be granted either the reader or contributor role as a one-time step, just like any other user or service principal. You can do that programmatically by making a rest call or by using Power Shell or Az CLI.

[2021-02-23 05:58] SubhashVasarapu-MSFT commented on #70736
@SQLtattoo, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-02-23 05:58] #70736 closed

[2021-02-23 05:59] akw123 opened #71076 "Not found kubernestes secret template link"
[Enter feedback here]
The link provided is not available anymore

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eee999c1-32dd-d014-40df-8027adee1258
* Version Independent ID: 19a29c09-79f8-580a-841f-873e2801da56
* Content: [Integrate Azure Key Vault with Kubernetes](https://docs.microsoft.com/en-us/azure/key-vault/gene

[2021-02-23 06:22] KranthiPakala-MSFT commented on #70922
@EmilioMeira - I am checking with product team on the same and will provide an update as soon as I have a response from the team.

Thank you for your patience.

[2021-02-23 06:28] ram-msft commented on #70914
@levalencia We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-23 06:28] #70914 closed

[2021-02-23 06:31] geminiyeak opened #71078 "Site recovery record not there"
[Enter feedback here]
Private DNS zone name is not available on the published docs.
https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-dns#azure-services-dns-zone-configuration

when creating private endpoint with site recovery its show below.
also wanted to know what is the Public DNS zone forwarders for on premise AD record.
![image](https://user-images.githubusercontent.com/23

[2021-02-23 06:42] MayankBargali-MSFT commented on #70569
@aspnet4you Unfortunately this is not possible. I will pass your feedback to the team and you can also post your suggestion [here](https://feedback.azure.com/forums/909934-azure-event-grid).

[2021-02-23 07:08] genlin commented on #70054
@fei0x. thank for your feedback.  Are you right, the icacls portion should not be here. I have summited a pull request to fix the issue.

#please-close

[2021-02-23 07:08] #70054 closed

[2021-02-23 07:09] BhargaviAnnadevara-MSFT commented on #70859
@LanderVe The default option for setting up DevOps starter is with **GitHub**, but this setting can be changed as shown here:

![image](https://user-images.githubusercontent.com/44050820/108810613-867ebe80-75d1-11eb-9c38-f809b4955e4b.png)

[2021-02-23 07:12] genlin commented on #70908
@VladimirKhvostov thanks for pointing out the problem.  A pull request was submitted to fix the issue.

#please-close

[2021-02-23 07:14] genlin commented on #70644
@diegodct, thanks for pointing out the problem. A pull request was submitted to fix the issue.

#please-close

[2021-02-23 07:14] #70644 closed

[2021-02-23 07:14] genlin commented on #70908
@psmanhas, you can help to reopen the issue. I closed this issue accidentally.

[2021-02-23 07:23] chenkennt commented on #71055
@zhughes the scenario you described is actually the 3rd bullet (if I understand correctly). The key point in the last bullet is it's not recommended to use classic mode as it may cause some potential issues (see details in classic mode section) so if you cannot change to default or serverless mode for a single SignalR resource you should consider to separate things out.

[2021-02-23 07:32] psmanhas commented on #70908
Reopening

[2021-02-23 07:33] psmanhas commented on #70908
@genlin Issue has been reopened

[2021-02-23 07:38] longMOR opened #71079 "Why you dont write same document like this article for springboot?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99d7a4e1-48e0-df79-ee56-79d5df3b7bc7
* Version Independent ID: 7266a603-9e98-9864-6b26-bdaa8d5b78b8
* Content: [Move a protected web API to production - Microsoft identity platform](https://docs.microsoft.com/en-us/azure/active-directory/develop/scena

[2021-02-23 07:39] tomkuijsten commented on #70912
@timsander1 You are right, when I use https://s2.sidewalklabs.com/regioncoverer/ on level 1, you can see the round curves pretty well and when I draw my rectangle and draw a curve from bottom left to bottom right, I can see that my point is probably just outside the geography square. I will switch to geometry.

In general, for use-cases like plotting points on a map (on your phone), geometry is th

[2021-02-23 07:44] serxansherif opened #71080 "Azure DevOps Deployment Group manage tags"
Hello,

Could you share the following Release Pipeline Powershell commands for swapping Blue Green tags in DG VMs, pls?
![image](https://user-images.githubusercontent.com/53265420/108814301-9a232880-75c3-11eb-947a-f0d5b92ea22a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d426e636-676e-03ef-7399-9fb25be834b2
* Ve

[2021-02-23 07:46] polarapfel opened #71081 "Bash script enable-monitoring.sh needs explicit Kubernetes context"
Documentation states Kubernetes context can be set implicitly to "" for current context. This does not work as the script does not parse that environment variable correctly and the script will fail. The Kubernetes context needs to be set explicitly to username@contextname. A shortcut to the current context would be set like this:

[code]

Cheers.

---
#### Document Details

⚠ *Do not edit this sec

[2021-02-23 07:48] jjeziorny commented on #70853
@SaiKishor-MSFT , case nr is 2102170050003643

[2021-02-23 08:05] amanmcse commented on #70616
@TheUniquePaulSmith  Closing the issue now. Feel free to tag me in your reply if you have any further question.

[2021-02-23 08:05] #70616 closed

[2021-02-23 08:10] LanderVe commented on #70859
I'm such an idiot, thank you very much

[2021-02-23 08:10] #70859 closed

[2021-02-23 08:12] rarandiv commented on #69800
@WilliamDAssafMSFT , hanks for the update and thank you very much for considering the feedback.

[2021-02-23 08:15] sokoloffmaks opened #71082 "how many links does a partner have to configure ? one or one per partner engineer?"
if partner have multiple engineers working with a particular customer , how many PALs do we have to configure/implement ? just single one or one per  a partner engineer ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f901056-c225-b086-cdaa-c8bd978db64c
* Version Independent ID: 9c067eb4-54cb-e141-d82f-e136ff3c671e
*

[2021-02-23 08:17] rarandiv commented on #69790
@jovanpop-msft , I have raised similar request for Azure SQL database documentation in the github (https://github.com/MicrosoftDocs/azure-docs/issues/69800) and my recommendation has been considered.

Hope it will help to consider this SQL MI DOC Update request here as well..

[2021-02-23 08:21] JigneshRawal commented on #71034
Hi
i am a developer and the azure support access is with the Azure Admin team , hence it wont be possible for me to give you the case number.  But they have informed me that they have raised a case with Azure Support.

I think we can close this case but in case if i get a solution then i wish to post it here so that someone who stumbles on the same issue can get the solution here.

[2021-02-23 08:22] amanmcse commented on #71072
@gitercn The values of the Scope parameter are space separated. The examples in the document are URL encoded.

If you are passing scope parameter as part of URL, you can use either + or space. However, for other flows where, you need to pass scope parameter as part of request body to acquire the token, the values of the Scope parameter needs to be space separated.

Please let me know if you have a

[2021-02-23 08:23] tomkuijsten commented on #70912
@timsander1 I testen the sample with geometry and it worked, I do get the result. Matter of reading the docs correct, by bad. Thanks for all the quick replies and the help. I do have 1 other question. Our locations are all over the world, from south america to russia. What would be the recommendation in this scenario regarding the bounding box?

[2021-02-23 08:24] star286 commented on #69902
ddd

[2021-02-23 08:24] jmprieur commented on #71079
@navyasric

[2021-02-23 08:33] ErikMogensen commented on #70882
No problem @mike-urnun-msft!

The last week all three of the APIM instances I deleted did not self-delete. To repro:

1. Create an APIM instance from the Azure Portal just entering information on the first page and leaving pricing tier to Developer. Click Review + create on the first page and then Create again thus not changing any other values.
2. Wait until it is deployed, (between 30 minutes an

[2021-02-23 08:36] louis-Kimura commented on #70866
@NavtejSaini-MSFT I still have not resolved the issue. Do you have any ideas?

[2021-02-23 08:37] louis-Kimura commented on #70864
@NavtejSaini-MSFT I am still having the issue. Do you have any ideas how to fix this?

[2021-02-23 08:40] star286 opened #71083 "For azure storage lifecycle management, what would happen if I disable the rule and re-enable the rule after some days?"
The azure storage lifecycle management doc is [here](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-lifecycle-management-concepts?tabs=azure-portal#rules).

If I have a rule like this, move the blob to cool tier after 7 days:

[code]

After creating the rule, if I disable the rule within the 7 days(for example, if I disable the rule in the 4th day), and re-enable the rule after some

[2021-02-23 08:47] savjani commented on #71034
thanks @JigneshRawal .. Good thought. I will let @AnuragSharma-MSFT to comment if you can post the solution here but feel free to email us at AskAzureDBforMySQL@service.microsoft.com if you are stuck or blocked.

[2021-02-23 08:54] rajkumar-munusamy commented on #71043
Hi Samara,

Yes it is a duplicate. I used the link at the bottom of this page Manage snapshots by using Azure NetApp Files | Microsoft Docs<https://docs.microsoft.com/en-us/azure/azure-netapp-files/azure-netapp-files-manage-snapshots#manage-snapshot-policies> but when I hit the raise new issue button I don’t know why it is taking me to the docs area. I have now posted in the Q&A link you provided.

[2021-02-23 08:54] Donovand4 opened #71084 "Update Option B Image"
Hi All,
Please can you update the image under section "Option B: Switch from federation to password hash synchronization using Azure AD Connect and PowerShell". It currently shows that before view will be set to not configured when it should reflect ADFS as the previous view. its confusing customers.

![image](https://user-images.githubusercontent.com/49915971/108820794-9b008e00-75b4-11eb-9c1a-fb5

[2021-02-23 08:57] RohitMungi-MSFT commented on #70872
@Blackmist Thanks for providing the links. @lucazav We will now proceed to close this thread.

[2021-02-23 08:57] #70872 closed

[2021-02-23 08:58] shashishailaj commented on #71084
@Donovand4 Thank you for your inputs. We will have this reviewed with the content team and update the thread.

[2021-02-23 09:01] shashishailaj commented on #71076
@akw123 Thank you for your inputs . We will review this and update accordingly .

[2021-02-23 09:03] yasithacp commented on #70438
Thanks @Rinki-MSFT
Yes, when creating azure az policies via powershell it doesn't allow to add MaxInactiveTime and MaxAgeMultiFactor in the definition.

So I am trying to create a conditional policy to set refresh token life time to until revoked, but couldn't find a way to doing it. If you can provide an example of doing it (Payload for the POST /identity/conditionalAccess/policies) or the steps

[2021-02-23 09:08] HarshitaSingh-MSFT commented on #70838
@YusukeTobo, just checking in to see if the above response answers your query.

[2021-02-23 09:15] psmanhas commented on #70712
@karthick3d
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-02-23 09:15] #70712 closed

[2021-02-23 09:17] v-lali opened #71085 "Please consider adding the command to install Stream Anayltics Package also from Linux agent."
[Enter feedback here]
It's great that there're details about how to use Azure DevOps to create a CI/CD pipeline for a Stream Analytics job.

Since the same "npm install" command won't work in Linux agent, it could be better if you can also share the corresponding command in Linux agent.

Using Hosted-Linux agent, I have to use command like "sudo npm install -g azure-streamanalytics-cicd --unsafe-p

[2021-02-23 09:23] BhargaviAnnadevara-MSFT commented on #70968
@Pluc15 Thanks for bringing this to our attention. The supported file formats are: yaml, json, properties.

I have submitted a PR to add this info to the document in question that's in review. The changes should reflect shortly after the merge.

[2021-02-23 09:24] lgayhardt commented on #35787
Thanks for the suggestion! We have created an internal [work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1709906) adding this request to our backlog.

#please-close

[2021-02-23 09:24] #35787 closed

[2021-02-23 09:25] Donovand4 commented on #71084
It could also have PHS selected if you switching so it might need a bit more text to explain what the image may look like.

[2021-02-23 09:25] AnuragSharma-MSFT commented on #71034
@JigneshRawal Thanks for confirming to close the issue, but please feel free to post the solution once you get things start working again. Its really encouraging and it would help others facing similar issues.

[2021-02-23 09:25] #71034 closed

[2021-02-23 09:30] Rinki-MSFT commented on #70438
Hi @yasithacp, thanks for getting back :).
You should be able to achieve the requirement using sign in frequency control Conditional Access Policy. Ref this [doc](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/howto-conditional-access-session-lifetime#configuring-authentication-session-controls), and please check the warning tab to verify all the conditions are met.

Al

[2021-02-23 09:30] lgayhardt commented on #39142
Thanks for the suggestion! We have created a [work item](https://dev.azure.com/mseng/TechnicalContent/_queries/edit/1709884/?triage=true) adding this request to our internal backlog.

#please-close

[2021-02-23 09:30] #39142 closed

[2021-02-23 09:33] tawfik21 opened #71086 "Cleanup script VMM"
I can't find The VMM cleanup Script.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4e25918-0eab-3275-8f0e-3d5d60d1b96a
* Version Independent ID: ecdd86b3-e2da-3984-372a-83ede968acd1
* Content: [Remove servers and disable protection - Azure Site Recovery](https://docs.microsoft.com/en-us/azure/site-recovery/site-recov

[2021-02-23 09:34] #70838 closed

[2021-02-23 09:47] lgayhardt commented on #42074
Thanks for the suggestion! We have created an internal [work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1703940) adding this request to our backlog.

#please-close

[2021-02-23 09:47] #42074 closed

[2021-02-23 09:49] lgayhardt commented on #50619
Closing this issue for now since a [work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1701303) has already been created. Will update this thread when the work item is completed. Thank you for your patience.

#please-close

[2021-02-23 09:49] #50619 closed

[2021-02-23 10:00] lgayhardt commented on #48034
Thank you for your suggestion. Since Michael answered the question I will close this thread. An internal [work item](https://dev.azure.com/mseng/TechnicalContent/_queries/edit/1679198/?triage=true) has been created and added to our backlog to make that paragraph more clear.

#please-close

[2021-02-23 10:00] #48034 closed

[2021-02-23 10:28] levalencia commented on #70914
Thanks @ram-msft , that seems to do the trick.

[2021-02-23 10:40] longMOR commented on #71079
Thank @jmprieur for replying!

I have implenment angular to get token from azure AD, angular call springboot api with this token. I want to verify this token in springboot and get user infor. But I can't see any samle repository or document.

Please help me point out where I can look up it?

Note: English is not my mother tongue.

[2021-02-23 10:55] lgayhardt commented on #70427
Hi @michaelbunney both are true, but web is one of the most common usages.

Please checkout the [FAQ section on "I can use Application Insights with"](https://docs.microsoft.com/azure/azure-monitor/faq#can-i-use-application-insights-with-) to learn more.

Thank you.
#please-close

[2021-02-23 10:55] #70427 closed

[2021-02-23 10:57] BhargaviAnnadevara-MSFT commented on #70859
@LanderVe No worries, thanks for reaching out. Nonetheless, I've raised a PR updating the screenshot in the document in question to match the current experience and added a note about the default settings. The changes are in review and should reflect post merge.

Thanks again for the feedback!

[2021-02-23 10:59] lszomoru opened #71087 "App registration should also call out that admin consent is required"
Following the steps in the `App registration` section, I am also taken to the `Enterprise Application`. After enabling that users need to be assigned before accessing the application, new users are getting the error message that "Need admin approval".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be62a693-4dfd-ad56-cc

[2021-02-23 11:01] AjayKumar-MSFT commented on #70825
Yutaro, we will close this for now. Once the author reviews the PR and sign-off's (as necessary), the requested changes would be published in the document. Will follow-up with the author internally.

[2021-02-23 11:01] #70825 closed

[2021-02-23 11:06] KrishnaG-MSFT commented on #70831
Assigning @tfitzmac for visibility, review and document enhancement consideration as appropriate.

[2021-02-23 11:07] KrishnaG-MSFT commented on #70837
Assigning @bwren for visibility, review and document enhancement consideration as appropriate.

[2021-02-23 11:10] Zhaph opened #71088 "Add key information to Request Path to call out limitations of the condition"
The "Request Path" match condition should include a notice that it does not include the initial `/`, similar to the note on the "Request URL":

This is slightly annoying as it means you cannot easily match only the root of the site with multiple front ends assigned.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60119f

[2021-02-23 11:28] levalencia opened #71090 "ERROR: Setup iteration failed: Unidentified error, check logs in portal / compute"
Based on this:
https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/automated-machine-learning/forecasting-forecast-function/auto-ml-forecasting-function.ipynb

I am trying to create a timeseries forecast experiment:

My code is really simple:

[code]

But I get this error (after a long wait):

[code]

I checked the portal, but I dont know how to check these logs.

[2021-02-23 11:46] YusukeTobo commented on #70838
@HarshitaSingh-MSFT, sorry for being late because of my days off. I agree on the above commit. It works in Standard and Premium plans unless the sku in Flex stamp. Also, the consumption plans are not supported in this scenario because it doesn't have vnet integration.

[2021-02-23 11:53] R1k91 commented on #70735
I've used the method described here: https://docs.microsoft.com/en-us/azure/data-factory/how-to-create-schedule-trigger#azure-powershell

you create the JSON file and then you call the rest api through specific powershell cmdlet

Set-AzDataFactoryV2Trigger -ResourceGroupName $ResourceGroupName -DataFactoryName $DataFactoryName -Name "MyTrigger" -DefinitionFile "C:\ADFv2QuickStartPSH\MyTrigger.json

[2021-02-23 12:06] youteeee opened #71092 "Interactive/Clickable Overlay of Image"
I am looking for a sample in Azure Media Services where that overlay of image could be clickable while live streaming is running. Once user click on overlay of image, it could route to some web page i.e. https://docs.microsoft.com/

Also How can Azure Media service live streaming can be broadcast on social media i.e. facebook?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-02-23 12:12] bram2506 opened #71093 "Relative file path is wrong"
I am currently missing in the examples of this how to do this in the case of python.
Next to that the linux relative path doesnt seem to work. it is in windows style and when creating a new pool it starts complaining about the relative path. the new pool is created but it start complaining about a missing file or directory for the .log file.

[code]

---
#### Document Details

⚠ *Do not edit this

[2021-02-23 12:22] TomMcCarthyStorm opened #71094 "Azure Site Recovery Planner Tool incorrectly reporting a disk as incompatible"
i am currently running the ASRD planner against a VMWare ESXi estate and it detected one of the server as incomplatible due to a disk size of 5.6Tb, this disk is compatible when using managed disks max 8Tb.

due to this the report is not including this server in the calulations bandwidth and cost.

is there anyway to force the Tool to include this server?

---
#### Document Details

⚠ *Do not edit

[2021-02-23 12:26] azaricstefan commented on #69293
Hi @mialtamo and @misterious-mister-x,

Doc is updated to **require exactly 3.0.1** since there is still no new module released with this updated cmdlet.
Currently only Az.Storage 3.0.1 module has support for the new cmdlet.

Support for this configuration on Azure Portal/Storage is also coming soon.
In March new PowerShell module will be released which will support the cmdlet from 3.0.1 and will

[2021-02-23 12:33] psmanhas commented on #71080
@serxansherif
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-02-23 12:33] oyeb commented on #31841
@morrigan777 I ran into the same error with v1.7,  (only on a relatively old machine). Make sure you update PowerShellGet and NuGet.
The (non) issue is due to a perceived hash mismatch of the `New-OnnPremiseHybridWorker` package.

Here's how you'd update your env:
[code]

No issues installing the Hybrid Worker script using PowerShellGet v2.2.5

[2021-02-23 12:33] psmanhas commented on #71080
@DCtheGeek
Can you please check and add your comments on this doc update request as applicable

[2021-02-23 12:35] SwathiDhanwada-MSFT commented on #71071
@polarapfel Thanks for your comment. We will review the issue and get back to you shortly.

[2021-02-23 12:35] psmanhas commented on #71093
@bram2506
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-02-23 12:35] psmanhas commented on #71093
@JnHs Can you please check and add your comments on this doc update request as applicable

[2021-02-23 12:36] SwathiDhanwada-MSFT commented on #71082
@sokoloffmaks Thanks for your comment. We will review the issue and get back to you shortly.

[2021-02-23 12:38] SwathiDhanwada-MSFT commented on #71081
@polarapfel Thanks for your comment.

Assigning to content author @bwren for review.

[2021-02-23 12:41] SwathiDhanwada-MSFT commented on #71086
@tawfik21 Thanks for your comment. We will review the issue and get back to you shortly.

[2021-02-23 12:45] SwathiDhanwada-MSFT commented on #70813
Assigning to content author @bwren for review.

[2021-02-23 12:50] RohitMungi-MSFT commented on #71090
@levalencia Thanks for the question and link of the notebook you are following. This github repo of Microsoft is primarily used for doc bugs related to documentation on MicrosoftDocs repos. This particular issue seems to be from the [AzureMachineLearningNotebooks ](https://github.com/Azure/MachineLearningNotebooks)repo and the audience of this forum might not be able to provide the correct guidanc

[2021-02-23 12:51] vipulsparsh commented on #70970
@meiokubo Thanks for reaching out. If you are trying to use the backed up account via recovery process, you need to make sure that you do not add that account first, instead use the Begin recovery process to fetch that account from your saved up cloud.

For any work or school account, you will need to [follow these steps ](https://docs.microsoft.com/en-us/azure/active-directory/user-help/user-help

[2021-02-23 13:01] ssivas commented on #71028
@Molx32 ,

Thanks for reaching out.

User with **Authentication Policy Administrator** role assigned can access the legacy MFA management portal but they can not manage user MFA setting as mentioned above article.

Please following screenshot for your reference:
![image](https://user-images.githubusercontent.com/57458999/108846977-302b7300-7605-11eb-86f0-2f3e58e64901.png)

[2021-02-23 13:24] louis-Kimura commented on #36581
I agree, the docs don't contain enough information

[2021-02-23 13:28] SwathiDhanwada-MSFT commented on #71071
@mlearned Can you please provide your inputs on this issue?

[2021-02-23 13:32] #71084 closed

[2021-02-23 13:32] Donovand4 commented on #71084
Incorrectly logged. Not an issue.

[2021-02-23 13:34] GitaraniSharma-MSFT commented on #71078
@geminiyeak , thank you for your feedback. We are currently reviewing the feedback and will get back to you shortly.

[2021-02-23 13:44] AnuragSharma-MSFT commented on #70986
@rarandiv Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-02-23 13:55] DCtheGeek commented on #71080
@psmanhas I'm not the content owner of this article.  Reassigning per `author` value.

#reassign:moala

[2021-02-23 13:55] PRMerger19 commented on #71080
moala is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-02-23 13:55] DCtheGeek commented on #71080
#reassign:psmanhas

[2021-02-23 13:56] spaasis commented on #19456
Just spent a couple of hours trying to set up a "quick and easy" CD pipeline for our static content, but this pretty effectively stopped that track dead. Back to manual publishing...

[2021-02-23 14:16] yuu045-ran opened #71095 "Document should mention "__" and ":" is not supposed to be used in app settings"
According to https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=windows%2Ccsharp%2Cbash#local-settings-file - Values must be strings and not JSON objects or arrays. Setting names can't include a colon (:) or a double underline (__). Double underline characters are reserved by the runtime, and the colon is reserved to support dependency injection.

I'm currently working

[2021-02-23 14:33] RyanHill-MSFT commented on #70715
@Davilink, I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-02-23 14:36] Bongani commented on #70920
Hi @JamesTran-MSFT

Your walked through worked for me. The step which ended up solving it was

`echo $STORAGE_KEY

# Saved the storage key as a variable
STORAGE_KEY=<Key Value>`

I don't understand why I needed to echo the STORAGE_KEY and save it again to the variable, but it ended up doing the magic trick.

[2021-02-23 14:40] AshokPeddakotla-MSFT commented on #70977
@Hugos-MSFT Thanks for the feedback. I got it what you are saying.

![image](https://user-images.githubusercontent.com/44426435/108859269-0f6a1a00-7613-11eb-9ae4-68201411c255.png)

I have assigned the issue to the content author @kgremban to evaluate and update as appropriate.

[2021-02-23 14:42] cephalin commented on #70883
#reassign:cephalin

[2021-02-23 14:49] timsander1 commented on #70912
Your bounding box should match the minimum and maximum coordinates. It's possible that, in your case, the bounding box would cover the entire world. If you are looking for a flat 2d map, geometry will help. Flat 2d maps would probably help create a much more intuitive UX than using geography. Something like a "Google Earth" 3d application would definitely need to use geography though since it's re

[2021-02-23 14:55] shashishailaj commented on #71087
@lszomoru Thank you for your feedback . We will investigate and update the thread.

[2021-02-23 15:01] soldera commented on #60995
Hi @Mike-Ubezzi-MSFT, I am experiencing exactly the same problem mentioned by @evertonmc. Would you happen to have extra information?

Thanks

[2021-02-23 15:13] #70919 closed

[2021-02-23 15:20] ericchansen commented on #19456
@jonmaestas did you ever confirm which resource types are affect by this? Is it limited to storage accounts?

[2021-02-23 15:26] #70212 closed

[2021-02-23 15:29] SwathiDhanwada-MSFT commented on #70854
@MGoedtel Seems to onboard machines , one needs to have read, view access to Resource Groups. Can you please check and update [this document](https://docs.microsoft.com/en-us/azure/azure-arc/servers/agent-overview#required-permissions) ?

[2021-02-23 15:33] robert4os opened #71097 "Inconsistent example of passing data"
[Enter feedback here]
Hi,

in this article data is passed as argument giving it a name (as_named_input())
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-train-with-datasets#configure-the-training-run

However the script to use this data set, references the data by id directly from the workspace:
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-train-with-datasets#acce

[2021-02-23 15:35] luisquintanilla commented on #69838
Hi @sfarhand,

I was unable to reproduce the error and was able to successfully debug experiments using the instructions in the doc.  For reference, here's my setup:

- OS: Windows 10
- VS Code Version: 1.53.2
- Azure ML Extension Version: 0.6.20
- Docker Desktop
  - Version:  3.1.0
  - Running: Yes
  - Set up to run Linux containers: Yes

[2021-02-23 16:08] tigormanmsft opened #71099 "Lack of Pacemaker support by SAP on Oracle Linux should be explicitly clarified and stated"
The last paragraph in the section [HERE ](https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/dbms_guide_oracle#sap-notes-relevant-for-oracle-sap-and-azure)(entitled "_SAP Notes Relevant for SAP, Oracle, and Azure_") presently reads...

This is confusing, because it is not explicit.  Oracle only "certifies" its RDBMS on Azure with Oracle Linux, while it "supports" the RDBMS on Az

[2021-02-23 16:14] jasonchw opened #71100 "how to deploy war file to context root other than ROOT"
We have App Service running Java 8/Tomcat 9 stack on Linux. How can we deploy war artifact to context root other than ROOT there using curl / Azure CLI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d89ff440-9b37-14a6-ee8a-56ab0e3b2103
* Version Independent ID: 6147d698-cd94-72d5-86d8-bac2d649e1d1
* Content: [CLI: Dep

[2021-02-23 16:21] sercast opened #71102 "Mismatch between article title and header"
The header in the article shows "Platform-supported migration of IaaS resources from classic to Azure Resource Manager in Linux" which is misleading or incorrect. The title is: "Overview of platform-supported migration of IaaS resources from classic to Azure Resource Manager"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-02-23 16:22] sercast opened #71103 "Incorrect page title"
The title of the page is "Platform-supported migration tool" but the header and content of the page is: "Technical deep dive on platform-supported migration from classic to Azure Resource Manager"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 472c4a23-db69-2f73-98bc-aee1eb1368f1
* Version Independent ID: 214f331a-f3c7

[2021-02-23 16:28] #71038 closed

[2021-02-23 16:29] #70715 closed

[2021-02-23 16:29] #70883 closed

[2021-02-23 16:45] ecfan commented on #71038
Hi @Costin-hcl, I updated the doc to include more info. Basically, export to Logic Apps is unavailable for Power Automate flows created after August 2020. In October 2020, Power Automate standardized new flow creation on the OpenAPI 2.0 protocol. New flows based on this protocol are incompatible with Logic Apps workflows, so exporting these flows to Logic Apps was disabled. Instead, you must manua

[2021-02-23 16:47] ndanielsen commented on #70883
As this issue is closed, I guess the instructions are good enough?

FWIW, I was attempting to ssh into a custom django container.

[2021-02-23 16:57] yashwanthchannegowda opened #71104 "RTO of auto-failover groups shows higher compared to Manual database failover"
RTO of auto-failover groups shows higher compared to Manual database failover. Since Auto-failover groups involved automatic failover, it should have less RTO when compared to Manual DB failover.

Recovery method | RTO | RPO
-- | -- | --
Geo-restore from geo-replicated backups | 12 h | 1 h
Auto-failover groups | 1 h | 5 s
Manual database failover | 30 s | 5 s

---
#### Document Details

⚠ *Do not

[2021-02-23 16:58] SaiKishor-MSFT commented on #71088
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-23 17:05] PeterCLu commented on #70129
#please-close

[2021-02-23 17:05] #70129 closed

[2021-02-23 17:05] meiokubo commented on #70970
@vipulsparsh Thank you for following up. Here is what I follow through before I locked out:
- I created Microsoft 365 Business Standard trial account one with the onmicrosoft.com domain
- I'm the only admin/user in the organization
- I set up Microsoft Authenticator for iOS and did not have a backup email or number
- I had an issue with another account in my iOS Authenticator app so I signed out a

[2021-02-23 17:06] PeterCLu commented on #69838
Hi @sfarhand, since it's been some time since we've heard back from you. I'll proceed to #please-close this issue. If you feel that your doc issue hasn't been resolved, feel free to open a new issue with the additional information requested. Thank you!

[2021-02-23 17:06] #69838 closed

[2021-02-23 17:16] BharathNimmala-MSFT commented on #70876
@tomasr Apologies for the delay in getting back to this thread.

There are are two scenarios here

- When we collect out-of-the box metrics which are collected at 60 seconds and that cannot be altered.

- We allow customers to scrape Prometheus metrics in addition to our out-of box metrics because these are metrics collected by customers we allow you to config it and also frequency.

Hope the abov

[2021-02-23 17:16] #70876 closed

[2021-02-23 17:22] YutongTie-MSFT commented on #71097
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@MayMSFT Hello May, could you please check this issue about the data set part and update the document if necessary? Please let me know if there is something I can help. Thanks.

[2021-02-23 17:23] himanshusinha-msft commented on #71085
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-02-23 17:26] MayankBargali-MSFT commented on #70587
@hsirtl Thanks for your response. @craigshoemaker Any thoughts on this if this needs to be updated.

[2021-02-23 17:26] MonikaReddy-MSFT commented on #71103
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-02-23 17:27] MonikaReddy-MSFT commented on #71102
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-02-23 17:29] JamesTran-MSFT commented on #70920
@Bongani
Thank you for the quick reply and I'm glad that my steps helped resolve your issue! I'll go ahead and close this out, and if you have any other questions or require additional assistance, please feel free to tag me and I'd be happy to look into this again as needed.

Adding the author @macolso to investigate and update as needed on whether saving the storage key as a variable should be ad

[2021-02-23 17:29] #70920 closed

[2021-02-23 17:40] mike-urnun-msft commented on #70921
Hi @FredrikDahlberg Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-02-23 17:40] #70921 closed

[2021-02-23 17:49] Grace-MacJones-MSFT commented on #71100
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-23 17:51] fgheysels commented on #67310
True, I also see this on my access policies list :')  Don't know what I was thinking ....   I indeed create an access policy for my API via my Azure Devops pipeline .... My mistake here.

[2021-02-23 17:57] NavtejSaini-MSFT commented on #70864
@louis-Kimura Let me get you the help you need. I am assigning this to our doc authors for better insight.
@matjazl Please check this question from Cx and help here.

[2021-02-23 17:57] NavtejSaini-MSFT commented on #70866
@louis-Kimura Let me get you the help you need. I am assigning this to our doc authors for better insight.
@matjazl Please check this question from Cx and help here.

[2021-02-23 17:59] RyanHill-MSFT commented on #70754
Appreciate the feedback @yobyot. I have a PR that addresses the grammatical concerns. I will note that `Azure Database for MySQL` and `Azure Database for Postgres` are singular product offerings which is why *is* is used rather than *are*.

[2021-02-23 18:00] NavtejSaini-MSFT commented on #70990
Thank you @DavidTrigano
@RonnieQuan Please let us know if you have any other question.

[2021-02-23 18:03] NavtejSaini-MSFT commented on #71004
@joymon Would it be preferable to change the name to Managed Identities?

[2021-02-23 18:04] YutongTie-MSFT commented on #70916
@hungltph03955  Hello Hung, I will highly recommend you to refresh your credentials and IDs if possible and retry. Please let me know if this issue is still going on.

[2021-02-23 18:04] kof-f commented on #71052
Yes, I'm on the Serial Console team and I'm very interested in knowing which document caused this issue so we can fix it.

[2021-02-23 18:12] iangledhill opened #71107 "Typeos"
begging
easly

In the following sample we added the pound # symbol at the **begging** of each line, so you can **easly** find the localized labels on the screen.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 659306d5-4703-6f5a-a11e-b6c6ffbc12b3
* Version Independent ID: fad303cc-7be6-4ac9-9056-49c6d5f4b14c
* Content:

[2021-02-23 18:15] #70754 closed

[2021-02-23 18:15] BryanTrach-MSFT commented on #71092
@youteeee Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-23 18:16] BryanTrach-MSFT commented on #71095
@yuu045-ran Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-23 18:24] scgbear opened #71111 "No samples of Multiple Messages to Output for either Python or Java"
Not seeing any examples showing how to send multiple output messages for Either Java or Python. There are samples of doing this for each of the other languages. Is this not supported or just not documented?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0710db32-eb75-fffb-ca4b-05b1ebf1bda9
* Version Independent ID: a3b

[2021-02-23 18:25] JamesTran-MSFT commented on #71107
@iangledhill
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-23 18:26] anavinahar commented on #63540
Hey @AndreaScarinci - we updated this, would love to hear thoughts!
https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-standard-availability-zones

[2021-02-23 18:31] gautamksr commented on #70709
@ssivas - As per your instructions I have checked again and there is no option available to select Azure Ad login for windows 2019 datacenter vm. Also I have tried the CLI command below and tried to login with my AAD user account. but no luck.

`az vm extension set --publisher Microsoft.Azure.ActiveDirectory --name AADLoginForWindows --resource-group myresourcegroupname --vm-name myvm`

I have tri

[2021-02-23 18:45] JamesTran-MSFT commented on #71107
@iangledhill
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

![image](https://user-images.githubusercontent.com/36619112/108892016-3d743d80-75c4-11eb-900b-5fbb9834a91f.png)

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your

[2021-02-23 18:45] #71107 closed

[2021-02-23 18:54] rido-min opened #71112 "The Linux script creates PFX but the docs refer to key.pem"
Running the `certGen.sh` script in Windows/WSL (Ubuntu 20), the private key is stored in a `pfx` file, but the docs (and the edge runtime) expects a `.key.pem` file.

I have had to produce the `.key.pem` from the `pfx` using `openssl pkcs12 -in cert.pfx -out cert.key.pem -nodes`

[2021-02-23 18:55] #71112 closed

[2021-02-23 18:55] rido-min commented on #71112
reopening again with metadata

[2021-02-23 18:59] jabbera commented on #71052
Sorry for the delay: https://docs.microsoft.com/en-us/azure/cloud-shell/private-vnet

[2021-02-23 19:13] pmpopovichjr opened #71113 "WSUS or SCCM?"
Hi -
Working with a customer right now where they have, the SQL person didnt know about, WSUS setup and tried to use the IaaS extension to do auto patching. It did not work, and WSUS wins. Can we update the docs to call out this sort of thing?

Thanks,
Paul

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5fc1e80-5a56-3

[2021-02-23 19:26] areologist commented on #47918
Agreed. What was the solution to this??

[2021-02-23 19:28] KranthiPakala-MSFT commented on #71019
@@rsrk2008  Hope the above info helps.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion

Thank you.

[2021-02-23 19:28] #71019 closed

[2021-02-23 19:31] schnerring commented on #30370
There is a new issue: https://github.com/MicrosoftDocs/azure-docs/issues/64154

However, it was also closed without any explanation. I have not found a more up-to-date issue...

[2021-02-23 19:38] tielushko opened #71114 "CallClient: Allocation request failed."
Hello Microsoft Team,

I tried to setup the basic calling quickstart, using the Azure Function for provisioning the user and token identity to place calls. After setting up the API  @
https://wow-kiosk-trusted-token-provisioning.azurewebsites.net/api/WoW-Kiosk-Trusted-Token-Provisioning

I tried to instantiate a calling client with that token provided by the API, but upon the program errors out.

[2021-02-23 19:55] shsandeep123 commented on #71027
Fixed the msft email addresses. @mikemowgli , what is the issue with having commas in the definition field? I am able to import it successfully.

[2021-02-23 20:31] KumariSupriya commented on #64154
We are working on a plan for this and will update docs when ready.

[2021-02-23 20:31] OpalescentTopaz commented on #68262
Hello. I see that another user has mentioned this issue. Any more updates?

[2021-02-23 20:45] BharathNimmala-MSFT commented on #71083
@star286 Thank you for reaching out to us , our team will review the query and get back to you at the earliest.

[2021-02-23 20:51] kvijaykannan commented on #70767
Thanks for reaching out to us. Incremental refresh happens in async way. You may need to wait for couple of hours, for the refresh. Let us know if you still experience the issue.

[2021-02-23 20:53] v-tcassi commented on #66952
Hello! I know this is an old GitHub issue, but I had some time to take care of it, and the changes are merged.

You should see the next doc publish around 3pm PST, and the changes will be reflected in that publish.

@LarsKemmann thanks for the feedback! If you have any additional comments, they'd be greatly appreciated. I'm not an expert on Syslog standard, so getting your input was invaluable for

[2021-02-23 20:53] #66952 closed

[2021-02-23 20:55] v-tcassi commented on #70977
Hello! The doc has been updated with additional steps and media to more accurately reflect the DevOps Starter UI!

You should see the next doc publish around 3pm PST, and the changes will be reflected in that publish.

@Hugos-MSFT thanks for the feedback!

#please-close

[2021-02-23 20:55] #70977 closed

[2021-02-23 20:55] dominoFire opened #71116 "Publish latency table as text (machine-readable optional)"
Please publish the latencies table as machine readable text. That way, we can easily generate data visualizations on the latency data.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 311b6efb-2d93-6130-96a9-867fad56bd52
* Version Independent ID: a17faabf-04c6-c3da-9a37-a86b0d00cbfd
* Content: [Azure network round-trip l

[2021-02-23 20:59] sdgilley commented on #70767
I've expanded on the explanation in the doc to better explain this.

[2021-02-23 21:00] felixcollins opened #71117 "Unused code in example"
In the example code on the page the following code seems to do nothing.
`dataprep_step = PythonScriptStep(
    name="prep_data",
    script_name="dataprep.py",
    compute_target=cluster,
    arguments=[input_dataset.as_named_input('raw_data').as_mount(), dataprep_output]
    )`
because the dataprep_step variable is unreferenced. It would be better if this was included in the steps so there were t

[2021-02-23 21:25] aahill commented on #70498
Thanks for raising this issue! I'll update the documentation in the next few days.

#please-close

[2021-02-23 21:25] #70498 closed

[2021-02-23 21:35] SteveColegrove opened #71118 "Update DNS Zones"
The DNS zones for Azure Batch need to be added.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a88af182-32aa-a8f3-359d-b92ae1cfb8c7
* Version Independent ID: 01ce07fc-4bc2-def5-9ecd-a80330ad9488
* Content: [Azure Private Endpoint DNS configuration](https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-dn

[2021-02-23 21:37] chandan-udaan commented on #32328
@markjbrown was this feature back ported to v2? I am still facing this issue on upgrading to 2.6.13

[2021-02-23 22:05] #70767 closed

[2021-02-23 22:07] rinisbet opened #71119 "Authz vs Authn"
I think the header "Create an endpoint with identity-based authorization" should say "authentication"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3522b606-f083-3ed7-93e7-a19dec6b4e78
* Version Independent ID: 1e34e387-12b2-c82f-33af-25a3611179bc
* Content: [Enable a managed identity for routing events (preview) - po

[2021-02-23 22:27] lobrien commented on #70877
I've addressed this in https://github.com/MicrosoftDocs/azure-docs-pr/pull/148058 . Will close this issue after merge is complete (not sure if that will be before Ignite).

[2021-02-23 22:30] #49453 closed

[2021-02-23 22:48] stanssmiley commented on #11281
I had the same problem and figured out a solution: I was using Speech resource. When I created a Cognitive Service API, everything worked perfectly. Late response, but someone might find it useful.

[2021-02-23 22:49] ssabat commented on #67993
Started work on  public facing TSG ( troubleshooting gudie ) on Pipelines, lisitng steps .

[2021-02-23 22:56] tyeth opened #71120 "Missing link"
Link missing at the end of Line 39, it says "To get started, see ."
https://github.com/MicrosoftDocs/azure-docs/blame/master/articles/azure-functions/dedicated-plan.md#L39

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57106982-21bb-f60a-fde3-7f9d4e83afb1
* Version Independent ID: 5922b4e9-ea56-be60-760e-5e01f4dc422b
*

[2021-02-23 23:01] mike-urnun-msft commented on #70822
Thank you for providing additional information, @Kapkan-Lesion. The hanging problem described in the Issues that you have referenced above appears to have already been fixed by: grpc/grpc#25490 which doesn't directly relate to the use of `dotnet build` command in the YAML sample demonstrated on this doc.

Since we didn't determine any changes to this doc upon reviewing your feedback, we will now p

[2021-02-23 23:01] #70822 closed

[2021-02-23 23:21] GiftA-MSFT commented on #71117
@felixcollins we'll review your feedback and get back to you shortly. Thanks.

[2021-02-23 23:22] GiftA-MSFT commented on #71117
@lobrien do you happen to have the complete code sample for reference?

[2021-02-23 23:23] stderr-to-devnull commented on #70967
This worked, after checking `azcopy` help: `azcopy cp "image.vhd" "SAS-URI"`

[2021-02-23 23:23] #70678 closed

[2021-02-23 23:30] omerzubair opened #71121 "no name space found for Microsoft.DataShare"
Hi MS,
this page is missing RPO for Microsoft.DataShare/*
also there are no built-in roles for the DataShare.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33219707-3b9f-cc6b-541e-a806dc82622a
* Version Independent ID: b4e96391-bcf9-1f30-cb44-ed339469da4f
* Content: [Azure resource provider operations](https://docs.mi

[2021-02-23 23:43] SamaraSoucy-MSFT commented on #71094
Thanks for the question! We will review and get back to you shortly.

[2021-02-23 23:55] DeanGross opened #71122 "Terminology clarifications"
This states that we can "manage" O365 security, when I see that, I think that I can actually change configuration settings, but that is not the case, this only provides the ability to Monitor security alerts, it won't provide us the ability to perform any actual management/configuration/remediation tasks. Please clarify this text so that others are not confused like I was.
---
#### Document Detail

[2021-02-23 23:55] lobrien commented on #71117
I literally just updated this doc an hour ago! :-) https://github.com/MicrosoftDocs/azure-docs-pr/pull/148058

The update probably won't get published today due to the Ignite freeze. In the meantime, the notebooks at https://github.com/Azure/MachineLearningNotebooks/tree/master/how-to-use-azureml/machine-learning-pipelines/intro-to-pipelines are good examples.

[2021-02-24 00:01] ghazilam opened #71124 "Conflicting properties"
These two sentences found under the the heading distributions have conflicting properties of dedicated SQL pools:
1. A dedicated SQL pool (formerly SQL DW) with maximum compute resources has one distribution per Compute node.
2. A dedicated SQL pool (formerly SQL DW) with minimum compute resources has all the distributions on one compute node.

---
#### Document Details

⚠ *Do not edit this sectio

[2021-02-24 00:04] felixcollins commented on #71117
Thanks @lobrien I can't see you PR but that is probably just a permissions thing. I've found a few other samples to work from.

[2021-02-24 00:04] #71117 closed

[2021-02-24 00:11] ppb1984 opened #71125 "Unable to create New Container and Databse in Emulator"
According to docs I have setup Emulator on my guest (Windows 10) machine and I am accessing Explorer from Host (MacOS)
Whenever I am trying to add New Container or New Database I am getting below error -

[code]
I tried uninstalling and reinstalling the Emulator but same error. I follow the Troubleshooting doc but no luck.

I am not sure what step is missing here.

See attached image

<img width="

[2021-02-24 00:17] kpwbo opened #71126 "Application settings name limited to 53 characters"
It seems that there is a limit of 53 characters on Application settings names for Azure App Service on Linux. This limit does not seem to be documented. Additionally, the portal allows users to enter names longer than 53 characters but they are silently truncated to 53 characters as can be seen on Kudu.

https://github.com/MicrosoftDocs/azure-docs/issues/36178 discusses a 64-character limit, which

[2021-02-24 00:24] RyanHill-MSFT commented on #71114
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-24 00:25] RyanHill-MSFT commented on #71126
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-24 00:27] #71124 closed

[2021-02-24 00:30] KranthiPakala-MSFT commented on #71124
@ghazilam Thanks for using Azure feedback channel for raising this question. I see that the issue is closed by you, just wanted to check if you still need assistance on this? If so please do let us know.

[2021-02-24 00:33] ghazilam commented on #71124
Hi Kranthi,

I made a mistake and therefore closed the issue.
Could you please delete it?

Thank you

[2021-02-24 00:34] markjbrown commented on #32328
I'm not sure. @timsander1 do you know if this feature was eventually back ported to v2 SDK?

Thanks.

[2021-02-24 00:38] TheFairey commented on #61587
I am also experiencing the same issue in my case when running in a PowerShell window in VSCode, I have to explicitly enter the subnet id as the variable substitution is causing some kind of weird issue.

Likewise if I run it from the portal in a Cloud Shell it works fine.

I haven't yet tried it as part of a deployment pipeline

[2021-02-24 00:41] ChaitanyaNaykodi-MSFT commented on #71111
Hello @scgbear,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-02-24 01:16] timsander1 commented on #32328
Hi @chandan-udaan , could you try the latest V2 SDK (2.13.1). That should contain cross-partition OFFSET LIMIT. The SDK you are using (2.6) is several years old. Let me know if you hit any error when using the latest V2 SDK version.

[2021-02-24 01:25] shkale-msft commented on #54838
@unagaraju88, Using tags during restore is not supported yet and we also do not support tagging LTR backups. To restore from a LTR backup of a deleted database, please use the commands documented here: https://docs.microsoft.com/en-us/azure/azure-sql/database/long-term-backup-retention-configure#restore-from-ltr-backups. You will need the LTR backup ResourceID to run the restore.

[2021-02-24 01:38] ChaitanyaNaykodi-MSFT commented on #70814
Hello @MisinformedDNA, we will now proceed to close this issue out. Please tag me in  your response if there are any additional concerns. Thank you!

[2021-02-24 01:38] #70814 closed

[2021-02-24 01:52] MarileeTurscak-MSFT commented on #71049
Hi @OffbyOne,

Thanks for the feedback! As mentioned, it's to remove old password hashes from the system for cases where the Operating System remembers the previous password. I made a pull request to reference this document that describes this in more detail: https://www.microsoft.com/en-us/download/details.aspx?id=36036

This is also talked about a bit in this old document: https://docs.microsoft

[2021-02-24 01:52] #71049 closed

[2021-02-24 02:08] jieleiwang opened #71129 "got error Error: Mismatched anonymous define() module.. when using application insight snippet"
Hi, Azure team:
I am trying to initialize application insight with snippet based set up following https://docs.microsoft.com/en-us/azure/azure-monitor/app/javascript
But I got error message in the console: Error: Mismatched anonymous define() module: function(e){"use strict";var i="function",r="object",t="undefined",a="protot
and got exception log in the application insight saying: SDK LOAD Failur

[2021-02-24 02:54] KrishnaG-MSFT commented on #71122
@Thanks for the feedback.
Assigning @JnHs for visibility, review and document enhancement consideration if appropriate.

[2021-02-24 03:00] ChaitanyaNaykodi-MSFT commented on #71120
Hello @tyeth,
Thank you for your feedback! We will review and update as appropriate.

[2021-02-24 03:11] star286 opened #71130 "Does the "Access Tier Change Time" blob property only apply for blob-level tiering?"
The doc is [blob storage tiering](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-storage-tiers#blob-level-tiering).

In the [Blob-level tiering section](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-storage-tiers#blob-level-tiering), it says that The time of the last blob tier change is exposed via the Access Tier Change Time blob property. I checked it by ma

[2021-02-24 03:51] JohnGGeo opened #71132 "Previous Issue was closed without addressing actual issue"
#64898 contained valuable feedback regarding the need for this article to contain the experience of a guest while using tenant restrictions.
If I implement this would guests be able to access my tenant from a third party network? Would I need to coerce their internal IT to add proxy settings as well (like including their tenant ID in their headers? i assume not however the article doesn't address

[2021-02-24 03:51] hungltph03955 commented on #70916
@YutongTie-MSFT I have created a new account and refresh credentials. As usual I have also created keys like:

Success! Save the following JSON object to a text file for future reference:
{
  "Subdomain": "....",
  "ClientId": "......",
  "TenantId": ".....",
  "ClientSecret": "....."
}
Sorry for these keys I'm not public. but still get the same error as above. but still get the same error as abov

[2021-02-24 04:05] AshokPeddakotla-MSFT commented on #71119
@rinisbet Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-24 04:10] AnuragSharma-MSFT commented on #71104
@yashwanthchannegowda Thank you for the feedback. We are actively investigating and will get back to you soon

[2021-02-24 04:21] psmanhas commented on #71099
@tigormanmsft
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-02-24 04:21] psmanhas commented on #71099
@msjuergent
Can you please check and add your comments on this doc update request as applicable

[2021-02-24 04:33] mariusu-msft commented on #71114
@tielushko thanks for your report.

ERR_BLOCKED_BY_CLIENT can happen if you have any extensions enabled that block traffic.

Can you disable all extensions and try again? Or share a list of your installed extensions so we can check if any could interfere with ACS traffic?

[2021-02-24 04:36] AshokPeddakotla-MSFT commented on #70988
@GeethanadhP Sorry for the inconvenience caused. Can you share the exact link of the doc which you are following for step by step guidance?

[2021-02-24 04:41] shashishailaj commented on #71130
@ssivas Thank you for your feedback . We will investigate and update the thread.

[2021-02-24 04:42] Sharmistha-Rai commented on #71086
Hi @tawfik21 - we are aware of this issue and are trying to fix this. I will keep this thread updated with any updates we find.

[2021-02-24 04:44] mike-urnun-msft commented on #70882
Thanks, @ErikMogensen! Could you clarify which region you'd been deploying to and soft-deleting your APIM instances?

[2021-02-24 04:47] VikasPullagura-MSFT commented on #71113
@pmpopovichjr
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-02-24 04:47] VikasPullagura-MSFT commented on #71113
@MashaMSFT
Can you please check and add your comments on this doc update request as applicable.

[2021-02-24 04:58] shashishailaj commented on #71121
@omerzubair Thank you for your feedback . We will engage the content team on this for review and action further.

[2021-02-24 05:03] msjuergent commented on #71099
Agree with the comment. Will change it as soon as we can publish again

[2021-02-24 05:14] KalyanChanumolu-MSFT commented on #70990
@RonnieQuan We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-02-24 05:14] #70990 closed

[2021-02-24 05:18] SubhashVasarapu-MSFT commented on #71118
@SteveColegrove, Thanks for reaching out. We will investigate and update this thread.

[2021-02-24 05:22] RohitMungi-MSFT commented on #70980
@RonnieQuan We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-02-24 05:22] #70980 closed

[2021-02-24 05:54] qishu-1996 opened #71133 "provide wrong information about storage engine of single server"
[Enter feedback here]

provide wrong information about storage engine of single server
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a85aa0-5baf-cf60-94a0-fa949c3a841b
* Version Independent ID: f3673c4b-4c84-64be-27e5-04d57f4b5008
* Content: [Limitations - Azure Database for MySQL](https://docs.microsoft.com/en-us/az

[2021-02-24 05:59] GitaraniSharma-MSFT commented on #70991
@RonnieQuan , I'm following up to check for an update on this thread. Kindly let us know if the above helps or you need further assistance on this issue.

[2021-02-24 06:22] AnuragSharma-MSFT commented on #70940
@sjt0325 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-02-24 06:22] #70940 closed

[2021-02-24 06:27] AnuragSharma-MSFT commented on #70318
@venkat1017 Thanks for your patience. Please check the response from the product group as below:

**_"The easiest way would be to track the version number in NSG rules. Reason being if any of these subnet addresses change, there is network issue faced by customer."_**

![image](https://user-images.githubusercontent.com/66360845/108957331-513ca400-7697-11eb-8003-cb309fa0aeb6.png)

Please let us kno

[2021-02-24 06:28] lyrana commented on #67310
@fgheysels no need to apologize, we always welcome hearing from you. You'll be glad to hear that updates to this doc to mention and link to MSIs (and recommend them as best practice) are in the PR review process. You won't be able to view the PR, but linking here so that I can close this open issue
https://github.com/MicrosoftDocs/azure-docs-pr/pull/148072
PRs take 1-4 days, and then the docs buil

[2021-02-24 06:28] #67310 closed

[2021-02-24 06:38] GitaraniSharma-MSFT commented on #71116
@dominoFire , thank you for your feedback. We have assigned this to the content owner/author for review.

@nayak-mahesh , could you please review the suggestion and provide your inputs?

[2021-02-24 06:40] SwathiDhanwada-MSFT commented on #71129
@jieleiwang Thanks for your comment. We will review the issue and get back to you shortly.

[2021-02-24 06:42] PramodValavala-MSFT commented on #71006
@pisees Just following up here... Hope my previous comment clears things up.

[2021-02-24 07:06] elSagie commented on #70931
Requested README change in [PR#325](https://github.com/Azure/Azure-Security-Center/pull/325)

[2021-02-24 07:06] savjani commented on #71133
Hi @qishu-1996 - I am sorry but I dont understand your question or feedback here?

[2021-02-24 07:08] psmanhas commented on #70967
@stderr-to-devnull We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-02-24 07:08] #70967 closed

[2021-02-24 07:18] tomkuijsten commented on #70912
Thanks again, I have it up and running. Although it's pretty unclear what x and y is when defining the bounding box. When you're new to this kind of geo-data, it's not that obvious imho.

Another issue I'm facing is when changing to geometry as explained in the docs here:

https://docs.microsoft.com/en-us/azure/cosmos-db/sql-query-geospatial-index#modifying-geospatial-configuration

I quote: "It's

[2021-02-24 07:20] ErikMogensen commented on #70882
When I did this yesterday I used Southeast Asia. I have also used North europe and West europe.

[2021-02-24 07:29] ssivas commented on #70709
@gautamksr ,  Could you please confirm what was the status of  **provisioningState**? was it **Succeeded** without any issue, when the extension was installed on the VM?

Additionally, to RDP using Azure AD credentials, the user must belong to one of the two Azure roles, **Virtual Machine Administrator Login** or **Virtual Machine User Login**. If using an Azure AD registered Windows 10 PC, you mu

[2021-02-24 07:30] v-hagamp opened #71134 "Update samsung-knox-and-business-services-tutorial.md"
Continue with the PR **_https://github.com/MicrosoftDocs/azure-docs/pull/70132_**

@sabrinakan,

You provided the links to updated screenshots, but in that we should have the border to images and also need to highlight the textboxes with red color outlines. If not, the content team will not accept the image files and changes.
So, will you please update them and share again.

---
#### Document Deta

[2021-02-24 07:31] jitendraRai opened #71135 "Create an Application Insights resource (Application Type, select ASP.NET web application.)"
Could you please update step 6 i.e. Application Type with Resource mode in the document.

Below is the latest screenshot.

[Enter feedback here]

![image](https://user-images.githubusercontent.com/4159689/108963385-0a06e100-76a0-11eb-8fa2-fa4a6aba2733.png)

Reference document.

URL:- https://docs.microsoft.com/en-us/azure/active-directory-b2c/analytics-with-application-insights?pivots=b2c-custom-p

[2021-02-24 07:46] BryanTrach-MSFT commented on #70974
@CodeChiefDotDev Thank you for raising this up.

We have created a PR and it should be merged within the next 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-24 07:46] #70974 closed

[2021-02-24 08:09] AnuragSharma-MSFT commented on #71125
@ppb1984 Can you please provide the doc link which you referred to?

[2021-02-24 08:11] psmanhas commented on #70827
@Palino1611
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-02-24 08:11] #70827 closed

[2021-02-24 08:12] psmanhas commented on #70809
@D3athByMonkey
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-02-24 08:12] #70809 closed

[2021-02-24 08:18] star286 opened #71136 "Does "access tier" only support for block type blob?"
The doc is [here](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-storage-tiers).

I guess the access tier only supports for block type blob. But still need to confirm: the other 2 types, append / page blob support access tier?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30c49a6b-e628-4aab-dc7f-fc8

[2021-02-24 08:19] psmanhas commented on #70971
@keatseongchan
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-02-24 08:19] #70971 closed

[2021-02-24 08:20] psmanhas commented on #70810
@D3athByMonkey Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-02-24 08:20] #70810 closed

[2021-02-24 08:23] chandan-udaan commented on #32328
@timsander1 we're using [Java async API SDK](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sdk-async-java) latest version 2.6.13 and still OFFSET LIMIT is not working for cross partition queries. We don't hit any error just that OFFSET LIMIT clause is not honoured and all the results are being returned.

On checking 2.13.1 is the latest version for [.NET SDK](https://docs.microsoft.com/

[2021-02-24 08:24] Mnabawy commented on #29999
just restart the shell

[2021-02-24 08:28] mikemowgli commented on #71027
@shsandeep123 Indeed just removing the msft addresses works. However, as a general rule of thumb: including non-delimiting commas in a CSV is not a good idea.

[2021-02-24 08:32] amanmcse commented on #70992
@mpchen No, it is not possible to add client secret/certs for the service principal behind user assigned managed identity. There is no option available on Azure Portal for this purpose. Using Graph API for this purpose, throws below error:

[code]

[2021-02-24 08:32] #70992 closed

[2021-02-24 08:33] amanmcse commented on #71072
@gitercn Closing out the issue. Feel free to tag me in your reply if you have any further question.

[2021-02-24 08:33] #71072 closed

[2021-02-24 08:59] amanmcse commented on #71003
@Norrch2 UnifiedSSP layout version 2.1.2 is in deployment phase as of now and not ready for use. We will include this information in this document and the supporting document will be published once the deployment is completed.

[2021-02-24 09:12] SnehaAgrawal-MSFT commented on #70891
@gamullen Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2021-02-24 09:27] chenyukang opened #71137 "Can not Apply the Custom Script Extension"
![image](https://user-images.githubusercontent.com/230646/108979020-34b76080-76c5-11eb-8be0-81238a46b500.png)

This step will hang for a long time and can not be finished. Then I restart the VMSS, I got an error:

![image](https://user-images.githubusercontent.com/230646/108979161-587aa680-76c5-11eb-9699-bb0193430c72.png)

I go through the document for VMSS [customscript](https://docs.microsoft.co

[2021-02-24 09:40] amanmcse commented on #71132
@JohnGGeo The Restrict-Access-To-Tenants is inspected by proxy device so that only specified tenants can be accessed from that network. All networks are open to access any tenant by default. If there are no tenant restrictions configured in your Guest users' network, they can access your tenant from their network.

Tenant restriction doesn't mean that a tenant can only be accessed from a specific

[2021-02-24 09:47] levalencia commented on #71090
Thank you, and sorry for posting in the wrong repo :)

[2021-02-24 09:47] #71090 closed

[2021-02-24 09:52] Evalpo opened #71138 "Does not work"
Followed the instructions, it does not work as explained. Please update with corrected instructions.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d2f4cc1-1df2-f697-5b04-72f1ee1884d5
* Version Independent ID: e7d8694c-c83a-a230-1a64-4cec67ffb616
* Content: [Azure AD Connect sync: Directory exten

[2021-02-24 10:07] clupeacode opened #71139 "Collection InputClaim not optional for AddItemToStringCollection and AddParameterToStringCollection"
The current documentation states that the Input claim _collection_ is optional when using the _AddItemToStringCollection_ transformation. It seems _collection_ is required because the following error message will occur when omitting the _collection_ InputClaim and uploading the custom policy.

``
Validation failed: 1 validation error(s) found in policy "B2C_1A_APP_TRUSTFRAMEWORKBASE" of tenant "my

[2021-02-24 10:12] Ubus99 opened #71140 "Incomplete documentation about single tenant apps"
Page doesn't describe how to set up single tenant desktop applications, redirect URLs using common are invalid for that purpose.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe0e2091-855e-c07b-c765-bc076ef0099a
* Version Independent ID: 897ef281-a5b5-ccb7-eceb-123c85581df5
* Content: [Register desktop apps that call

[2021-02-24 10:18] VikasPullagura-MSFT commented on #70276
@JagVeerappan
Can you please check and add your comments on this request.

[2021-02-24 10:47] jcamu opened #71141 "Container Registry Promotion"
Hello,

There is no documentation, information about the strategy to use with ACR( one vs several ) or maybe i missed it.
I would like to have Azure feedback on this subject.
Is the use of multiple ACR with promotion mechanism between environment a good practice? For which use case?
If not, why use only one ACR vs several is best? Pros, Cons?

We want to be sure to recommand a best practice on thi

[2021-02-24 11:10] ram-msft commented on #71018
@jpmlblog  Thanks, you can return any data type as long as it is JSON-serializable.  Please follow the configure entry script .

https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-model-designer#configure-the-entry-script

[2021-02-24 11:10] VikasPullagura-MSFT commented on #71137
@chenyukang
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-02-24 11:10] VikasPullagura-MSFT commented on #71137
@ju-shim
Can you please check and add your comments on this doc update request as applicable.

[2021-02-24 11:24] VikasPullagura-MSFT commented on #70857
@ErikDeRoos Apologies in delayed response, I checked with internal team on this.

If you wish to use `Restore-SFPartition` cmdlet provided by `Microsoft.ServiceFabric.Powershell.Http`, you need to connect to the cluster using the `Connect-SFCluster` cmdlet provided by the module.

The other option would be to make the restAPI calls from powershell by providing the json body which would require you

[2021-02-24 11:30] sdebruyn commented on #55046
@RyanHill-MSFT How do I do this for Docker Compose apps in App Service?

[2021-02-24 11:38] KrishnaG-MSFT commented on #70842
@MrCNeale Good catch! I was also able to reproduce the issue. The workaround would be to add "-TypeHandlerVersion 1.0" parameter with the command. 1.0 is because it's a Azure Monitor windows agent and in [this](https://docs.microsoft.com/en-us/azure/azure-monitor/agents/azure-monitor-agent-install?tabs=ARMAgentPowerShell%2CPowerShellWindows%2CPowerShellWindowsArc%2CCLIWindows%2CCLIWindowsArc#virtu

[2021-02-24 11:38] #70842 closed

[2021-02-24 11:47] louispeterdalton opened #71142 "Typo"
A platform for powering your favorite Spark applications

Typo - > favorite

favourite

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52db7e55-58a7-4147-4707-f5a9a51220ec
* Version Independent ID: de52fe13-dd12-88d5-e387-60597a80b6cb
* Content: [What is Azure Databricks Workspace?](https://docs.microsoft.com/en-us/azur

[2021-02-24 11:51] #71142 closed

[2021-02-24 11:51] louispeterdalton commented on #71142
Actually correct in American English ..

[2021-02-24 12:02] mthoger opened #71143 "missing azure firewall and NSG"
[Most networks in Azure have firewalls implemented, how does we configure them to let encrypted traffic pass, and evalulate non-encrypted traffic. ?? is this even possible ? ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46bb69c8-68f4-09ee-75f5-fbb8fccd89be
* Version Independent ID: 7ff75530-c323-5881-4eb4-21d3a06794

[2021-02-24 12:02] ram-msft commented on #71073
@skdeng Thanks, Please find the snapshot of the example by passing the [PAT token](https://docs.microsoft.com/en-us/azure/devops/organizations/accounts/use-personal-access-tokens-to-authenticate?preserve-view=true&tabs=preview-page&view=azure-devops#create-a-pat).

![image](https://user-images.githubusercontent.com/49180516/108997663-ddfe5680-76c5-11eb-847e-c70a761bf587.png)

[2021-02-24 12:12] dmitro-wpl commented on #71064
**Hello!**
I used this documentation - https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-use-codec-compressed-audio-input-streams?tabs=debian&pivots=programming-language-python

[2021-02-24 12:16] SubhashVasarapu-MSFT commented on #70885
@RakeshRaghavmk, looks like everything is working well according to the document,

![image](https://user-images.githubusercontent.com/44890829/108999343-27e83c00-76c8-11eb-973c-1057cb88a2d5.png)

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-02-24 12:16] #70885 closed

[2021-02-24 12:20] kexuelou opened #71144 "operating system drive is not always D:\"
Depends on the scale unit customer's app created/deployed, the operating system drive can be C:\ or D:\. Please use environment variable %SystemDrive% instead.

Local drives
At its core, App Service is a service running on top of the Azure PaaS (platform as a service) infrastructure. As a result, the local drives that are "attached" to a virtual machine are the same drive types available to any wo

[2021-02-24 12:23] SubhashVasarapu-MSFT commented on #71013
@alexkarcher-msft, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-02-24 12:23] #71013 closed

[2021-02-24 12:25] SwathiDhanwada-MSFT commented on #70697
@asukumar22 Thanks for the information. Currently, Support for ASG with Azure Site Recovery is in backlog with the engineering team. I also would recommend you to navigate [here](https://feedback.azure.com/forums/256299-site-recovery?filter=top) and share your feedback or suggestions directly with the responsible Azure feature team and clicking the vote button of your suggestion to raise visibilit

[2021-02-24 12:25] #70697 closed

[2021-02-24 12:26] schnerring commented on #64154
@KumariSupriya Is there an issue somewhere on GitHub regarding the underlying problem? Or another issue that's _open_?

[2021-02-24 13:21] ertork opened #71146 "What is the maximum duration between interactive sign-ins?"
Documentation says:
Each interactive sign-in that was successful results in an update of the underlying data store.

Problem is when we are trying to find inactive user accounts, this is kind of unreliable if we do not know the maximum duration allowed between interactive sign-ins. Is this based on the Refresh Token Max Inactive Time setting in AzureAD?

Also, if this duration is configurable, how

[2021-02-24 13:54] BhargaviAnnadevara-MSFT commented on #70968
@Pluc15 Hope the above inputs help. Do let us know if there are further questions here.

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-02-24 13:54] #70968 closed

[2021-02-24 14:03] juven-itsapark opened #71148 "support for azure data lake gen2 (dfs.core.windows.net)"
Authenticating with ADLS gen2 is currently not supported for managed service identities which makes it necessary to register an app in order to generate client IDs and secrets. This is completely overkill for my use case which is writing a very small amount of data to an ADLS gen2 container with python scripts running in a virtual machine. Having to register an app makes it also impossible to full

[2021-02-24 14:05] jonmaestas commented on #19456
@ericchansen I did not take it that far. We are using Terraform open source with an Azure storage account as the backend. So our pipelines would fail during the first steps trying to connect to the network isolated storage accounts. But I have seen other Azure Services using the same network flow.

[2021-02-24 14:07] shashishailaj commented on #71146
@ertork Thank you for your feedback . We will investigate and update the thread.

[2021-02-24 14:08] shashishailaj commented on #71140
@Ubus99 Thank you for your feedback . We will investigate and update the thread.

[2021-02-24 14:10] shashishailaj commented on #71135
@jitendraRai Thank you for pointing this out . We will have this reviewed with the content team and update the doc as needed.

[2021-02-24 14:12] pomorsen commented on #70463
Thank you!

[2021-02-24 14:16] shashishailaj commented on #71138
@Evalpo Thank you for your feedback . We will investigate and update the thread.

[2021-02-24 14:17] shashishailaj commented on #71136
@ssivas Thank you for your feedback . We will investigate and update the thread.

[2021-02-24 14:18] shashishailaj commented on #71139
@clupeacode Thank you for your feedback . We will investigate and update the thread.

[2021-02-24 14:33] mikemowgli opened #71150 "Permission denied on the "Data Factory" Purview management area"
Even having all permissions on Purview and Data Factory (owner on the subscription that contains both + purview data curator + purview data source admin), I get a permission denied error on the "Data Factory" page of the Purview management area.
Please document what the necessary permissions are to view and edit this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2021-02-24 14:37] shashishailaj commented on #71148
@juven-itsapark We appreciate the candid feedback . We will investigate on this and provide an update.

[2021-02-24 14:38] carolga opened #71151 "Alerts on Stopped Sites"
[Enter feedback here]
Can you mention something in the documentation regarding what happens when an alert if configured on a resource that is stopped.  Are there still charges? Would we expect to see alerts of any kind?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc2134b7-c82f-3143-eeba-5b55a1c6185d
* Version Indepe

[2021-02-24 14:41] shashishailaj commented on #71148
@juven-itsapark We use github primarily for document improvement . A product feedback and Feature request are always welcome on the [Uservoice feedback portal](https://feedback.azure.com/forums/). I have created a feature request for you as per the details you have provided and would request you to upvote it .

https://feedback.azure.com/forums/327234-data-lake/suggestions/42768950-managed-identit

[2021-02-24 14:42] #71148 closed

[2021-02-24 14:47] #70500 closed

[2021-02-24 14:47] #70257 closed

[2021-02-24 14:50] psmanhas commented on #71048
@danielsollondon Can you please check and add your comments on this doc update request as applicable

[2021-02-24 15:04] louis-Kimura commented on #70866
Hi, I managed to fix the issue. I found that the resource ID was needed in the auth URL:

![image](https://user-images.githubusercontent.com/79272201/109020034-7d651e80-76b1-11eb-959e-ed9e6951657e.png)

This can be obtained from Enterprise Applications:

![image](https://user-images.githubusercontent.com/79272201/109020054-83f39600-76b1-11eb-9c0c-28cffe08d6cd.png)

Also, creating two separate app

[2021-02-24 15:06] yeroc-sebrof opened #71152 "AzCopy Jobs documenation is vague and unclear"
AzCopy Documentation points to the listing, showing, resuming and deletion of jobs but don't clarify the jobs themselves or how to create one.

Are jobs a method that the Storage Explorer sets up the behalf of each operation through the UI or does every AzCopy copy operation actually work with jobs that we can resume? I had a look at my Azcopy job listing and see jobs of various dates but nothing

[2021-02-24 15:07] louis-Kimura commented on #70864
@zxue Hi, I managed to fix the issue. I found that the resource ID was needed in the auth URL:

![image](https://user-images.githubusercontent.com/79272201/109020244-b69d8e80-76b1-11eb-9d16-8b098bba0cc1.png)

![image](https://user-images.githubusercontent.com/79272201/109020034-7d651e80-76b1-11eb-959e-ed9e6951657e.png)

This can be obtained from Enterprise Applications:

![image](https://user-imag

[2021-02-24 15:09] vipulsparsh commented on #70970
@meiokubo Thanks for reporting it. We will update the same in documents as FAQ.

[2021-02-24 15:09] #70970 closed

[2021-02-24 15:22] timsander1 commented on #70912
Could you try creating the bounding box and changing from geography to geometry at the time? (Do both and then click save). It is not possible to set this through ARM.

[2021-02-24 15:26] baanders commented on #71119
Thank you @rinisbet for the catch! I'm updating the title for this doc and its [CLI counterpart](https://docs.microsoft.com/azure/digital-twins/how-to-enable-managed-identities-cli) in [PR #148121](https://github.com/MicrosoftDocs/azure-docs-pr/pull/148121).

Since this fix is a fairly straightforward, I'll have Git automatically close this issue when the fix is merged. Feel free to still follow u

[2021-02-24 15:27] dako76 commented on #38135
Problem for me was the language i changed the service name to the german in the ps file from

$user='NETWORK SERVICE'
to
$user='Netzwerkdienst'

now it works for me.
Manual change should be an option, but do not forget zu restart the services.

[2021-02-24 15:36] isshukla opened #71153 "Typo in PS command"
Looks like this is a typo:
New-AzADServicePrincipal -ApplicationId 205478c0-bd83-4e1b-a9d6-db63a3e1e1c8""

It should be like this:
New-AzADServicePrincipal -ApplicationId "205478c0-bd83-4e1b-a9d6-db63a3e1e1c8"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed72df51-8f93-f2f3-6d66-fc4d085fe691
* Version Independent ID:

[2021-02-24 16:08] rrjavadev opened #71154 "Java 11 isn't very straightforward with Azure functions"
[Enter feedback here]

Thanks for the documentation. Unfortunately this documentation has too much emphasis on Java 8 dependency. I am using Java 11.  The azure-functions maven plugin is only working in Java 8 and gives this error in Java 11.

[ERROR] Failed to execute goal com.microsoft.azure:azure-functions-maven-plugin:1.9.2:run (default-cli) on project AzureFunctions: Local function core tools

[2021-02-24 16:11] asears opened #71155 "Powershell examples with security advisory warnings mitigated should be included"
As these examples are shown with Az Cli examples, it would be useful to have examples with Az Powershell, Bicep and Terraform, if available.

Example scripts should include some security setup for further securing ACR, Storage and Key Vault, using updated managed identity, or have relevant links for securing each example component.

Should deployed examples present security advisor warnings?

---

[2021-02-24 16:12] SamaraSoucy-MSFT commented on #71144
Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

The best place for specific answers about implementations are going to be the [Microsoft Q&A](https://docs.microsoft.com/answers/) a

[2021-02-24 16:15] SamaraSoucy-MSFT commented on #71134
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-02-24 16:18] SamaraSoucy-MSFT commented on #70666
@Tom-Van-Asch did removing the dependency solve your issue? Using a basic hellospring app targeting 2.4, I got the same actualator env values you did, but I still can't replicate your error.

[2021-02-24 16:19] afairthorne opened #71156 "port requirements?"
Having the document include port requirements for this functionality would be very useful as we dont have open networks. So  having to figure out ports required as you go is really slow and cumbersome.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18fcb539-bdbd-068d-46c0-44058146031e
* Version Independent ID: 15e99611

[2021-02-24 16:22] SamaraSoucy-MSFT commented on #71042
Just checking in. Could you please provide the relevant documentation so we can route this question appropriately?

[2021-02-24 16:23] SamaraSoucy-MSFT commented on #71042
Duplicate of #71043

[2021-02-24 16:23] #71042 closed

[2021-02-24 16:24] sdgilley commented on #70582
@agribot2 - thanks for your feedback.  I agree we need to add information about saving and downloading the model.  We're currently working on changing this article to use a simpler training example, and will add information about saving, viewing, and downloading the model at that time.

#please-close

[2021-02-24 16:24] #70582 closed

[2021-02-24 16:25] rajkumar-munusamy commented on #71042
Sorry, what relevant documentation?

From: Samara Soucy <notifications@github.com>
Sent: 24 February 2021 16:23
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Munusamy, Rajkumar <rajkumar.munusamy@dxc.com>; State change <state_change@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Snapshot policy ETA (#71042)

Just checking in. Could you please provide the relevant do