[2020-04-08 18:36] tesych commented on #49882
@AshokPeddakotla-MSFT please close this issue if there's no more question.

[2020-04-08 18:36] znat commented on #44248
Same issue for me. Created a free account, added a payment method, even updated my subscription (with no monthly support) but still cannot pick a VM size

[2020-04-08 18:37] tesych commented on #49735
@AshokPeddakotla-MSFT please close this issue since the problem seems to be fixed.

[2020-04-08 18:39] fslefevre78 commented on #40081
Please update the last sentence: Note that you'll need to do this in your service provider tenant. For simplicity, we recommend creating a service principal account in your tenant that is associated your MPN ID and granting it Reader access to every customer you onboard. - In the example the RBAC Reader role is used and this is one of the roles that not eligible for PEC. Read Roles and permissions

[2020-04-08 18:41] yushwang commented on #51956
@AKonCloud - for S2S, Basic Gateway SKU in route-based mode supports IKEv2. For P2S (VPN client-server), Basic does NOT support IKEv2, but SSTP only. Hope this explains a bit.

Thanks!

[2020-04-08 18:42] brucedkyle opened #52013 "Internal server error has occurred"
Trying to understand the commands to configure JIT policy on a VM programmatically. I deploy my VM using a template and get back the values from the deployment. But I am getting "Internal server error has occurred."
I may misunderstand the meaning of "allowedSourceAddressPrefix". Is that for the user's IP Address or the IP Address of the VM? (In previous versions of the docs "allowedSourceAddressP

[2020-04-08 18:43] #51994 closed

[2020-04-08 18:43] AshokPeddakotla-MSFT commented on #49882
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-08 18:43] #49882 closed

[2020-04-08 18:44] AshokPeddakotla-MSFT commented on #49735
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-08 18:44] #49735 closed

[2020-04-08 18:47] ninarn commented on #43133
Apologies for the long delay in response. I believe this question is more about AAD permissions and capabilities rather than the query editor feature specifically. I and my team aren't experts in the AAD capabilities, but we believe you might be able to configure the permissions of an AAD user to limit what they can do. Then that user could be able to access query editor but not change database or

[2020-04-08 18:48] AshokPeddakotla-MSFT commented on #51275
@chrissie926 Could you please review the feedback and provide an update?

[2020-04-08 18:52] XiaoyuMSFT commented on #50646
@femsulu Please check with Kevin Ngo <kevin@microsoft.com>; Anthony van Gemert <Anthony.vanGemert@microsoft.com> for this.

[2020-04-08 18:55] BucurCosmin commented on #51723
I was not sending message.ContentType = "application/json";
Thank you

[2020-04-08 18:55] #51723 closed

[2020-04-08 18:55] krnese commented on #50986
Which version of PowerShell are you using, and what is the version of the Az.Resources module?

[2020-04-08 18:56] Tcolbertjr commented on #49735
This is not authorized me by me. Please leave mybsccountsbalinebbbornillnbebfiijPlease please leave my account alone or I’ll be going to the police Shon asked Ashon a SHON Norman has been harassing me and abusing his privileges and doing things with my account that I have not authorized please stop please stop or I will call for harassment and go to the police for you guys and it’s before all of y

[2020-04-08 18:58] timpicard commented on #51979
Awesome! Thank you @MarileeTurscak-MSFT - Let me know if you need any further clarification on the request or to why that is needed.

[2020-04-08 19:03] XiaoyuMSFT commented on #44414
@potato-enthusiast  This sounds like the 2nd run of the same query got results from the cache.  You can verify this by clearing the cache manually (DBCC dropcleanbuffers; dbcc freeproccache) after the 1st query execution and re-run the query.  Also if you have result set cache enabled for the database, the repetitive query against the same base table data will get results served from the persisted

[2020-04-08 19:03] XiaoyuMSFT commented on #44414
#please-close

[2020-04-08 19:03] #44414 closed

[2020-04-08 19:03] XiaoyuMSFT commented on #44414
#please-close

[2020-04-08 19:06] brucedkyle commented on #52013
My issue was not having * for the values of protocol and for allowedSourceAddressPrefix.
Please close.

[2020-04-08 19:15] Karishma-Tiwari-MSFT commented on #52003
Thanks for bringing this to our attention. You are right, you can't add an existing VM to an availability set after it's created. I have created a PR with the update, changes will be live shortly.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-04-08 19:15] #52003 closed

[2020-04-08 19:21] markdepalma commented on #15176
Having the same issue here. I even tried using the "IP_WHITELIST". This would have worked perfectly for me, but MICROSOFT's own RRAS service doesn't submit the required "NasIpAddress" RADIUS attribute, so the whole setting is ignored. Horrible oversight.

[2020-04-08 19:35] tfitzmac commented on #51770
@jurjenoskam - the newGuid template function uses the [Guid struct](https://docs.microsoft.com/en-us/dotnet/api/system.guid?view=netframework-4.8) from the .NET Framework. I am adding that detail to this documentation. I think further inquiries about its cryptographic strength are best directed to .NET.

[2020-04-08 19:35] tfitzmac commented on #51770
#please-close

[2020-04-08 19:35] #51770 closed

[2020-04-08 19:39] Karishma-Tiwari-MSFT commented on #52004
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

If I am understanding your issue right, you are trying to SSH into the worker nodes using public IP of the load balancer?

If yes, you will have to add an inbound NAT rule for the port 22 on the node and you will be able to SSH into that node using the LB IP.

[2020-04-08 19:50] sergio-at-neocles commented on #51877
Hi @SaurabhSharma-MSFT
Yes, I looked at that document and it's useful in terms of the localization Ids but:
- Apparently it only applies to Custom Policy, not to User Flows
- What I'm trying to achieve is provide a custom page layout for a User Flow. I want to be able to use your localization feature to translate the text in my page layout. But I cannot find the information about how to use it or

[2020-04-08 19:50] jimhill10 commented on #28117
Same condition for me but only on one user.  That user is a billing admin, but has no other admin roles.  I wish there were a way for me to create an app password for them in Powershell.  We have one application that requires the use of IMAP4, which is Zoho CRM, but they are moving to EWS soon. So I am not going to spend any more time on this as Zoho has told me that the EWS support should be here

[2020-04-08 19:53] KranthiPakala-MSFT commented on #51919
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2020-04-08 19:53] #51919 closed

[2020-04-08 19:55] tesych commented on #50843
@AshokPeddakotla-MSFT please close this issue if there's no more question. Thank you @asergaz for responding!

[2020-04-08 20:05] dwhiteddsoft opened #52014 "az image create needs a call out"
If you resource group and VM are located in different locations you have to use the -l to specify where your image is

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cfcc831-2add-15de-8278-024d30b6dbef
* Version Independent ID: 94a05591-7cfb-4959-8d91-0ddbaea302ea
* Content: [Capture an image of a Linux VM using Azure

[2020-04-08 20:06] #52014 closed

[2020-04-08 20:06] dwhiteddsoft commented on #52014
my bad you have enough info there

[2020-04-08 20:12] iozee commented on #51457
@Karishma-Tiwari-MSFT
[code]
I'm afraid this line states that there's a single volume ("emptydir1") that's being attached.

Although I haven't found what I need, now I'm at least aware there's a public repository for SDK active development. Thank you!

[2020-04-08 20:13] dl8on opened #52015 "Consolidate log entries from multiple Azure subscriptions and tenants into one location"
This page mentions the ability to collect/consolidate Activity Log data from multiple subscriptions and tenants, but I'm not seeing any specific documentation on how to accomplish this, except perhaps via the "legacy" method of exporting to an Event Hub (and subsequently picking that data up via something like a Logic App and posting it to a central Log Analytics workspace). Is there any documenta

[2020-04-08 20:14] CeciAc opened #52016 "the api string concat is error"
@guodan commented on [Wed Apr 08 2020](https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/710)

the computer-vision endpoint where I applid is ‘https://westcentralus.api.cognitive.microsoft.com/vision’ ，and it's end with  "vision". But the demo code is

`const uriBase = endpoint + "vision/v2.1/analyze"`,

the 'vision' is duplicate

---

@srvbpigh commented on [Wed Apr 08 2020](https://github

[2020-04-08 20:15] nickwilliams-codynamic commented on #51996
After a bit of trial and error I think I've found it. The following metadata set on the `PolicyProfile` block did what I needed.

[code]
It would be good to understand what the available key value pairs are and document them on the page of the original message.

[2020-04-08 20:18] PatrickFarley commented on #45486
We'll proceed to close this issue now. Please file a new issue if you continue to have issues with this scenario.
#please-close

[2020-04-08 20:18] #45486 closed

[2020-04-08 20:20] eparizzi commented on #45257
I'm having the same issue and I don't see why we need this __app__ folder. Considering this is not the structure created by the Azure Functions CLI.
Please provide a working solution and also update the CLI to match this.

[2020-04-08 20:20] eparizzi commented on #45036
This is still unclear. Can someone provide a working sample with shared code between several python functions?

[2020-04-08 20:24] TravisCragg-MSFT commented on #51971
@feksai Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-08 20:24] djpugh commented on #51855
@RohitMungi-MSFT sorry, that doesn't help - is the compute instance (not the contents, but the instance itself) accessible to other users as seemingly stated in the above docs?

Or are they only accessible to the user who created them (as seems to be the case when testing)

From https://docs.microsoft.com/en-us/azure/machine-learning/concept-compute-instance#contents

or is it the difference betwe

[2020-04-08 20:28] mike-urnun-msft commented on #51987
@DonGlover Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-04-08 20:30] mike-urnun-msft commented on #52002
@esunder Thank you for your feedback! We will review and update as appropriate.

[2020-04-08 20:31] deboergj opened #52017 "Clarification..."
Hi there,
Is there anything in our MS Docs that states for each Web page "who is the intended audience"?  If this is intended to be read by any of our customer's regardless of their persona, then it may be helpful to provide a definitions/glossary section at the end to explain concepts like "document" which based on reading this web page would not be what I would call a document.  Its a collection

[2020-04-08 20:32] olivoarroba commented on #51934
Thanks @lyrana... So the idea is that for new GA delineator will go back to dot '.'? That's good...
Changing from dot to underscore is not a big change anyway, but it is just one of those things where its an unnecessary change that forces users to change their interaction with TSI. That's where the frustration is coming from.
Are u tracking the flattening logic in a task that can be linked to this

[2020-04-08 20:34] SaurabhSharma-MSFT commented on #51692
@brandonh-msft ok, I get it, and yes DefaultAzureCredential does not work with the management client components. I suggest you to please post this as a feedback at [UserVoice](https://feedback.azure.com/forums/169401-azure-active-directory). This will allow the community to upvote and for the product team to include into their plans. "This Product" button in at the bottom section of the document n

[2020-04-08 20:37] tfitzmac commented on #51920
@NillsF - thanks for this feedback. I ran a test and was able to apply tags to flow logs when creating the resource. But, I see the same error you saw when applying tags after deployment. I'll update the doc to indicate it does not support tags.

[2020-04-08 20:38] eparizzi commented on #45257
Also, neither of the samples linked on this doc page (https://docs.microsoft.com/en-us/samples/browse/?products=azure-functions&languages=python) uses this __app__ folder.

[2020-04-08 20:39] mikenri commented on #48903
That works, thanks!

[2020-04-08 20:39] #48903 closed

[2020-04-08 20:40] dsindona commented on #41455
@CeciAc Yes, you are correct that this requires a Microsoft Power Automate (Microsoft Flow) subscription/payment. Thanks for the feedback and please let us know if you have any questions.
#please-close

[2020-04-08 20:40] #41455 closed

[2020-04-08 20:41] CeciAc opened #52018 "Can't run at all, asking for help"
Comments below were machine-translated

@appleyuchi commented on [Wed Apr 08 2020](https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/711)

Python code cannot run:
(Python2.7) appleyuchi @ ubuntu19: bing search API usage $ python test.py
  File "test.py", line 10
    client = WebSearchClient(endpoint="YOUR_ENDPOINT",CognitiveServicesCredentials(subscription_key))
SyntaxError: non-keyword arg

[2020-04-08 20:41] Karishma-Tiwari-MSFT commented on #52014
Thanks for the update.

[2020-04-08 20:43] dsindona commented on #41655
@mathewhtaylor thanks for the feedback. we are currently reworking this area of the documentation and will consider your suggestion in our revisions.
#please-close

[2020-04-08 20:43] #41655 closed

[2020-04-08 20:46] dsindona commented on #43653
@Coldpawz You are correct that this is a premium/paid a Microsoft Power Automate (Microsoft Flow) feature. Thanks for the feedback and please let us know if you have any questions.
#please-close

[2020-04-08 20:46] #43653 closed

[2020-04-08 20:49] AlexCesarini opened #52019 "Things to check before enabling PHS"
Many customers use an AD DS Connector account created ad-hoc and often this account does not have all the permissions required. I suggest to add a note that one must confirm that the AD DS Connector account has the required permissions for PHS:
- Replicate Directory Changes
- Replicate Directory Changes All
as specified here:
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference

[2020-04-08 20:50] RyanHill-MSFT commented on #51638
Hi @juchom, sorry for the delay. There is no difference between LinuxFxVersion and DOCKER_CUSTOM_IMAGE_NAME. LinuxFxVersion is givien higher precedence but can the app service can fall back to DOCKER_CUSTOM_IMAGE_NAME should LinuxFxVersion be blank. DOCKER_CUSTOM_IMAGE_NAME is also an app setting that's entered in by the user and not added programmatically.

Hope this helps. If not, please feel fr

[2020-04-08 20:51] anthonychu commented on #48360
Thanks @mike-urnun-msft. Here's the setting that we should guide the user to make in the portal: https://docs.microsoft.com/en-us/azure/azure-functions/durable/quickstart-js-vscode#enable-azure-functions-v2-compatibility-mode

I'm working on adding the same to the Learn module.

[2020-04-08 20:53] AlexCesarini opened #52020 "Things to check before enabling PHS"
Many customers use an AD DS Connector account created ad-hoc and often this account does not have all the permissions required. I suggest to add a note that one must confirm that the AD DS Connector account has the required permissions for PHS:

- Replicate Directory Changes
- Replicate Directory Changes All

as specified here
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/referenc

[2020-04-08 20:55] rayishome commented on #51790
Any update on this?

[2020-04-08 20:55] SnehaGunda commented on #50292
#please-close

[2020-04-08 20:55] #50292 closed

[2020-04-08 20:56] mikebudzynski commented on #51987
@DonGlover Facade is a common term in the industry, for example: https://en.wikipedia.org/wiki/Facade_pattern

#please-close

[2020-04-08 20:56] #51987 closed

[2020-04-08 20:56] #51920 closed

[2020-04-08 20:58] CeciAc opened #52021 "NameError: name 'WebSearchAPI' is not defined"
@appleyuchi commented on [Wed Apr 08 2020](https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/712)

Traceback (most recent call last):
  File "test.py", line 48, in &lt;module&gt;
    web_search_with_response_filter(subscription_key)
  File "test.py", line 11, in web_search_with_response_filter
    client = WebSearchAPI(CognitiveServicesCredentials(subscription_key))
NameError: name 'WebSear

[2020-04-08 20:59] maxcli opened #52023 "can't print"
loose the 1st letter when printing. i had to cut and paste into wordpad :-(

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f03f79a2-923f-3e1a-5e8f-8ce1f5913a56
* Version Independent ID: 6330e3e6-d903-b8f8-370d-e61ff4384d5e
* Content: [Azure Virtual Network](https://docs.microsoft.com/en-us/azure/virtual-network/virtual

[2020-04-08 21:04] ashishharjani opened #52024 "Correction and Improvement"
1. In the OAUTH section:
"Add the city bearerToken to the ClaimsSchema element."  --- its not a city, its an element.

2. There is no description of when to orchestrate these steps in Policies. Might as well add some description around that too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cbe5bd8-f4fa-cfac-b3f1-ac2

[2020-04-08 21:06] dsindona commented on #51186
@amergey Existing APIs will continue to work post-migration: no impact due to the migration to Partner Center. Your existing integration will continue to work.
Existing features in CPP will continue to be supported in Partner Center with a few changes in the branding of the feature. This article will be updated soon with more details and will hopefully address any future concerns.
Please let us kn

[2020-04-08 21:06] #51186 closed

[2020-04-08 21:15] christophersgreen opened #52025 "Give guidance based on Azure region"
Creating a new Spark cluster may fail depending on the region selected. For example, I selected US West 2 and received a failure because my subscription has a quota of 39 cores for this region and the default node size + number of nodes adds up to 40 cores.  I'm using a brand new Azure subscription (12 months free) so this shouldn't be the default experience.

---
#### Document Details

⚠ *Do not

[2020-04-08 21:29] TravisLRiffle opened #52026 "How to configure your logger link is dead"
https://docs.microsoft.com/en-us/rest/api/apimanagement/2019-01-01/logger goes to a 404.
I'm trying to figure out where I get my logger-id from and I can't follow the above directions.  Please advise.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1fce81a3-77bb-2261-1ef6-0e9bc7ff1ea2
* Version Independent ID: b8b3d0eb-

[2020-04-08 21:37] ms-willfid opened #52027 "outdated content"
Steps, screen shots, and the API endpoints are all old and no longer valid. This article needs a revamp

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a1b0992-84f5-43f1-6b18-b690dde9753b
* Version Independent ID: db4234aa-2047-33db-6c8a-19a7b732074b
* Content: [Microsoft Graph API for Azure Active Directory Identity P

[2020-04-08 21:42] SaurabhSharma-MSFT commented on #52006
@jose-lima2011 The policy you are referring has been deprecated.
![image](https://user-images.githubusercontent.com/38112130/78836334-bbc4f280-79a6-11ea-9f51-838fdae08828.png)
Ref: [Enable Monitoring in Azure Security Center](https://github.com/Azure/azure-policy/blob/master/built-in-policies/policySetDefinitions/Security%20Center/AzureSecurityCenter.json)
Also, policies used by ASC can be added w

[2020-04-08 21:43] SaurabhSharma-MSFT commented on #51663
@henriquebelotto We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-08 21:43] #51663 closed

[2020-04-08 21:49] himdavid commented on #45793
This update would help me too! 30 days seems way to long. I would like to be able to set it to something like a day or week before. thanks again!

[2020-04-08 21:55] Karishma-Tiwari-MSFT commented on #51657
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-04-08 21:55] #51657 closed

[2020-04-08 22:01] eparizzi commented on #50089
@DixitArora-MSFT I don't understand this __app__ folder at all and I'm having issues with importing modules. If this is the recommended approach, why does the Azure Core Tools doesn't generate this folder?
This needs clarification and improvement.

[2020-04-08 22:04] GiftA-MSFT commented on #51935
@sravanthidasari the source code for this sample is available [here](https://github.com/Azure-Samples/cognitive-services-REST-api-samples/blob/master/nodejs/Search/BingNewsSearchv7.js). Thanks.

[2020-04-08 22:08] dsindona commented on #45947
Hi @esabban , sorry for the delayed response.

- Regarding whether is is ok to generate your own GUIDs: Yes, any GUID will work as long as it’s not already being used by another ISV.

- Regarding AKS, there are some known issues with the service. If resources are not deployed using a solution template, API, or Terraform, those resources will not be tracked.

Please let us know if you have further

[2020-04-08 22:08] #45947 closed

[2020-04-08 22:12] femsulu commented on #51961
Thanks for the comment. We are actively investigating and will get back to you shortly.

[2020-04-08 22:13] SaurabhSharma-MSFT commented on #52008
@CeciAc Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-04-08 22:15] SaurabhSharma-MSFT commented on #52013
@brucedkyle yes, correct. Good to hear that you are able to resolve it. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-08 22:15] #52013 closed

[2020-04-08 22:17] SaurabhSharma-MSFT commented on #52020
@AlexCesarini Duplicate of #52019 and so we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-08 22:17] #52020 closed

[2020-04-08 22:18] SaurabhSharma-MSFT commented on #52019
@AlexCesarini Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-04-08 22:20] SaurabhSharma-MSFT commented on #52024
@ashishharjani Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-04-08 22:21] SaurabhSharma-MSFT commented on #52027
@ms-willfid Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-04-08 22:22] YutongTie-MSFT commented on #52018
@CeciAc
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-08 22:23] YutongTie-MSFT commented on #52005
@rringham
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-08 22:29] Benjiiim opened #52028 "Content really specific to v1?"
It seems that this content (the whole "Bring an app to market" section actually) is in the Azure Active Directory (Azure AD) developer platform (v1.0) section of the documentation (Azure / Active Directory / Azure AD for developers).
Because of this, there is a note at the top of the page telling that v2 endpoint should be used for new projects. That doesn't seem relevant for this section.
Would i

[2020-04-08 22:30] SaurabhSharma-MSFT commented on #51996
@nickwilliams-codynamic Good to hear that.  You can refer to the [documentation](https://docs.microsoft.com/en-us/azure/active-directory-b2c/saml-technical-profile#metadata) which documents the method that Azure AD B2C uses to sign the SAML request.

[2020-04-08 22:30] anthonychu commented on #50855
When using with Azure Functions, remove the `/negotiate` segment from the URL you provide to the SDK. For more details, see here: https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-concept-serverless-development-config#configuring-a-client-connection

See the sample app from the quickstart for an example: https://github.com/Azure-Samples/signalr-service-quickstart-serverless-chat/blob/ma

[2020-04-08 22:32] basilwong commented on #38744
Just wanted to follow up on this issue. Probably just add the difference that Databricks currently can't be used right now in Azure Government. Which means Data Factory can't use it. (Until preview comes out.)

[2020-04-08 22:33] YutongTie-MSFT commented on #52017
@deboergj
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-08 22:34] YutongTie-MSFT commented on #52021
@CeciAc
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-08 22:35] aahill commented on #51121
Hi @benjaminhowarth1  thanks for reaching out! Currently the API only detects US phone numbers, and the account info we describe, but I've passed this feedback to the product team.

Just as a note, this GitHub is only for missing and incorrect documentation. You can leave a feature request on the [UserVoice](https://cognitive.uservoice.com/forums/555922-text-analytics) site.

#please-close

[2020-04-08 22:35] #51121 closed

[2020-04-08 22:44] femsulu commented on #51975
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-04-08 22:45] femsulu commented on #51976
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-04-08 22:50] jose-lima2011 commented on #52006
Resultados da pesquisa
Resultado da tradução
Português
Inglês
Olá Sharaub, obrigado pela informação, é muito importante que no security center essa informação fique explicita acredito que tenha mais políticas depreciadas mas que aparecem sem essa marcação é possível através de commandos powershell listar essas politicas ?, isso faz com que os profissionais de segurança percam um tempo precioso, se

[2020-04-08 22:52] femsulu commented on #52007
Merci pour votre commentaire. Nous enquêtons activement et nous vous répondrons sous peu. Merci pour votre patience.

[2020-04-08 22:53] femsulu commented on #52015
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-04-08 22:59] himanshusinha-msft commented on #51649
@stawo : Can you please check if you have set the Resource-Specific mode ?
The below link talks about that in detail .
https://docs.microsoft.com/en-us/azure/data-factory/monitor-using-azure-monitor#configure-diagnostic-settings-and-workspace.
"- In Resource-Specific mode, diagnostic logs from Azure Data Factory flow into ADFPipelineRun, ADFTriggerRun, and ADFActivityRun tables.
- In Azure-Diagnos

[2020-04-08 23:02] rgamage commented on #34581
Just wanted to add that I wasted two more days chasing an issue because I didn't realize that this Win10 ver/build requirement (1809/17763) is NOT a minimum requrement, it's the ONLY version that works with IoT Edge runtime.  See issue here: https://github.com/Azure/iotedge/issues/2566  I realize Win 10 is not supported at all in Production, but you have users that want to learn and prototype, and

[2020-04-08 23:24] Marusyk opened #52030 "PowerShell sample script"
It would be nice to have also PowerShell sample of the script in Configure Terraform environment variables section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78bafe84-4e50-785c-b4f6-e629127a80a9
* Version Independent ID: 34e5924e-2d7e-3bf2-0992-78eb59463a6a
* Content: [Quickstart - Install and configure Terraform

[2020-04-08 23:28] himanshusinha-msft commented on #50646
@kevinvngo : Can you please help here ?

[2020-04-08 23:32] ThamerObeidat opened #52031 "MFA Details has been removed"
The schema under the Log Analytics SignInLogs table no more have the MFADetail field, so the screenshot under the part "View the schema for Azure AD activity logs" should be changed as it is still showing that field.

Also is there any way to query the MFA details now after you removed this one?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-04-08 23:36] TomArcherMsft commented on #52030
@Marusyk

Terraform is just one of 3 command line interfaces we document regarding managing Azure resources.

Here are the links to the Azure PowerShell and Azure CLI documentation:

- [Azure PowerShell][https://docs.microsoft.com/powershell/azure/?view=azps-3.7.0]
- [Azure CLI][https://docs.microsoft.com/en-us/cli/azure/?view=azure-cli-latest]

[2020-04-08 23:37] #52030 closed

[2020-04-08 23:38] gbottari opened #52032 "Cheerful style is ignored when using pt-BR-FranciscaNeural"
Hello. I'm trying to use the `cheerful` style for voice `pt-BR-FranciscaNeural`. According to the documentation, this style is supported for this voice. However, the style is ignored and the resulting audio is identical to a regular one.

I'm using this SSML here:

`<speak version="1.0" xmlns="https://www.w3.org/2001/10/synthesis" xmlns:mstts="https://www.w3.org/2001/mstts" xml:lang="pt-BR">
<mstt

[2020-04-08 23:43] dr-ivan commented on #51983
@Mike-Ubezzi-MSFT There is a limitation where you cant apply NSG's to Private Endpoints. This is missing under limitations an should be added. It is noted [here](https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-overview#limitations) however its not clear on how to apply mitigation.
We need clarity that when using Private Endpoints, how do we prevent all internal IP addresses (e

[2020-04-08 23:48] MarileeTurscak-MSFT commented on #51793
Thanks @NeighborGeek! It will need to have write permissions and you need the typical account [permissions required for AAD Connect](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-accounts-permissions).

Glad to hear you have gotten this resolved but I've passed your feedback onto the document author as well. @iainfoulds

[2020-04-08 23:48] #51793 closed

[2020-04-08 23:53] MarileeTurscak-MSFT commented on #52009
Thank! I'm reproducing this on my end and will update the doc as needed.

[2020-04-09 00:03] MarileeTurscak-MSFT commented on #52028
@Benjiiim thanks! I've passed your feedback along to the author.

[2020-04-09 00:09] jeevansd commented on #43306
@chetansriv and @v-nagta Can you please review this?  I think we need to update the screenshot.

[2020-04-09 00:14] Jared-Harrington-Gibbs opened #52033 "Definition of "Limited Information"?"
More information about what limited reporting information is provided for both the "Azure AD Premium P1" and "Azure AD Basic/Free" editions?
If this is described elsewhere then links to the relevant articles would be appreciated.
As it stands currently, it is very ambiguous about what you could see on these plans

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2020-04-09 00:16] Mike-Ubezzi-MSFT commented on #51983
@dr-ivan Great feedback for the content team who will evaluate and make updates as appropriate.

[2020-04-09 00:22] Tcolbertjr commented on #43306
On Wed, Apr 8, 2020 at 8:10 PM Jeevan Desarda <notifications@github.com>
wrote:

--
Terry Anthony Colbert Jr

[2020-04-09 00:25] KranthiPakala-MSFT commented on #51554
Thanks for your inputs @djpmsft.

@mikanyg For deeper investigation and immediate assistance, If you have a support plan you may file a support ticket, else could you please send an email to AzCommunity@Microsoft.com with the below details, so that we can create a one-time-free support ticket for you to work closely on this matter. 

Email subject: <Attn - Kranthi : GitHub issue Title>
Thread URL:

[2020-04-09 00:36] shivp950 opened #52034 "Machine learning vs Machine learning services"
I would suggest fixing the Machine Learning RP description to have machine learning studio(classic) instead of just studio since the new portal view is called studio as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33219707-3b9f-cc6b-541e-a806dc82622a
* Version Independent ID: b4e96391-bcf9-1f30-cb44-ed339469da4

[2020-04-09 00:41] Marusyk commented on #52030
I'm talking about this
<img width="505" alt="Screenshot_2" src="https://user-images.githubusercontent.com/9221694/78846235-d08b9f80-7a13-11ea-969e-6b5d3b46f1b9.png">
 there are many places with samples of code in bash and powershell at the same time

[2020-04-09 00:52] TomArcherMsft commented on #52030
@Marusyk Thank you for the feedback. We'll add your suggestion to our backlog as a possible future change.

[2020-04-09 00:53] nmiodice opened #52035 "Update Java documentation to leverage swagger code generation"
The code here relies on manually created objects to mirror the service APIs. However, the python documentation uses a swagger based approach which avoids having to write all of this boiler plate code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec7afeb1-ee6a-0e11-2c0d-93ba81c04846
* Version Independent ID: 51fe73be-

[2020-04-09 01:30] Anand-Moghe opened #52036 "How to enable NodeJS on Windows WebApp for PHP Stack?"
Typically, most enterprise PHP application (based on framework like Laravel or Symfony) also use NodeJS. In addition to adding Composer extension, there must be a way to use a specific version of NodeJS for WebApp and also any of the task managers like grunt or webpack etc. Because front-end can be typically React/Angular/VueJS etc.

Is NodeJS already installed by default on Windows Based WebApp w

[2020-04-09 01:47] TravisCragg-MSFT commented on #52023
@maxcli What exactly are you referring to with the copy-paste? This doc is for virtual Networks

[2020-04-09 02:12] mootpointer commented on #48748
I've just come upon this issue too – removing the package.json does not resolve the issue (and would cause other problems with the deployment down the line)

[2020-04-09 02:20] shashankkr opened #52037 "static connection example"
" create a single, static client in the global scope"

Can we have an example for this please? I am having trouble doing it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b47363e3-c36f-0755-819c-26946013d673
* Version Independent ID: 197c63a1-9f72-1049-f27e-8c9c672ec472
* Content: [JavaScript developer reference for A

[2020-04-09 02:46] jmprieur commented on #51992
We are going to release a Nuget package soon for Microsoft.Identity.Web
I'll fix all the docs at once

[2020-04-09 03:11] XiaoyuMSFT commented on #44407
@potato-enthusiast  Thank you for your feedback.  Replicated table was first introduced in Azure SQL DW Gen1 and DWU400 had 4 compute nodes.  In Gen2, the service levels are renamed to DWU#c format.  DWU400c has 1 compute node, DWU2000c has 4 compute nodes.  We have updated this article with the right DWU example.

[2020-04-09 03:12] XiaoyuMSFT commented on #44407
#please-close

[2020-04-09 03:12] #44407 closed

[2020-04-09 03:17] SnehaAgrawal-MSFT commented on #52036
@Anand-Moghe Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-09 03:33] CHEEKATLAPRADEEP-MSFT commented on #52025
@christophersgreen  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [https://social.msdn.microsoft.com/Forums/en-US/home?forum=hdinsight](https://social.msdn.microsoft.com/Forums/en-US/home?forum=hdinsight)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types o

[2020-04-09 03:38] raviman8 opened #52039 "Capture Storage Recommendations"
Hello, any recommendations for the type of storage account to use for the capture function?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71093e2a-bbff-3a79-5f16-289a3a5f6cd7
* Version Independent ID: e4e9873d-0ae7-25a4-16d1-5ecac6e84b91
* Content: [Capture streaming events - Azure Event Hubs](https://docs.microsoft.c

[2020-04-09 03:45] AshokPeddakotla-MSFT commented on #50843
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-09 03:45] #50843 closed

[2020-04-09 03:50] dcbrown16 commented on #45196
The result of internal discussion with @santhoshsomayajula is that the Portal team makes no guarantees regarding the IP addresses of the URLs needed for Portal access. Some URLs may resolve to Azure IP addresses but others may not.
The conclusion was that the Azure datacenter IP list links should be removed from this document. @kfollis and @mgblythe, please go ahead and close this issue once that

[2020-04-09 03:55] ram-msft commented on #52035
@nmiodice Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-09 03:56] ojasvin opened #52040 "Delete an entire Container in Azure Blob Storage after some days of Creation."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-04-09 03:57] ojasvin opened #52041 "Delete an entire Container in Azure Blob Storage after some days of Creation. Option for setting policy for each blob possible but not for an entire container"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-04-09 04:10] BharathNimmala-MSFT commented on #51967
@zagruby Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-04-09 04:15] DixitArora-MSFT commented on #52026
Hi @TravisLRiffle Thanks for reaching out. We will review and update as appropriate.

[2020-04-09 04:16] #50855 closed

[2020-04-09 04:16] DixitArora-MSFT commented on #52037
Hi @shashankkr This channel is for driving improvements towards MS Docs, for any product related question/issue I would recommend you to create a thread on the forums- MSDN / Stackoverflow. Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2020-04-09 04:26] ketan-chawda-msft commented on #52026
@TravisLRiffle Please use this link : https://docs.microsoft.com/en-us/rest/api/apimanagement/2019-12-01/logger

@DixitArora-MSFT Can you please update the doc with the link mentioned above.

[2020-04-09 04:32] ketan-chawda-msft commented on #52037
@shashankkr Functions in a function app share resources. Among those shared resources are connections: HTTP connections, database connections, and connections to services such as Azure Storage. When many functions are running concurrently, it's possible to run out of available connections.

To avoid holding more connections than necessary, reuse client instances rather than creating new ones with

[2020-04-09 04:32] #52037 closed

[2020-04-09 04:41] DixitArora-MSFT commented on #51763
@Thoemmeli if the API is added to a product requiring subscriptions and user has an active subscription to the product the key value should be auto-populated in both Azure and Developer portals. This is mentioned also in public doc https://docs.microsoft.com/en-us/azure/api-management/import-and-publish#test-the-new-api-in-the-azure-portal

For now I don't think there is a doc change required for

[2020-04-09 04:41] #51763 closed

[2020-04-09 04:53] PramodValavala-MSFT commented on #51710
@codemaker Just following up here... Hope my previous comment clears things up.

[2020-04-09 04:53] linda33wj commented on #21077
Thanks for the feedback and sorry for replying late. Now the default behavior for useEncryptedEndpoints is true which is the same as what being set in this case. If the issue occurs again, please open support ticket then the team can take further look at the specific case.

#please-close

[2020-04-09 04:53] #21077 closed

[2020-04-09 04:55] RohitMungi-MSFT commented on #51974
Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-09 04:56] DixitArora-MSFT commented on #52026
@TravisLRiffle PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-09 04:56] #52026 closed

[2020-04-09 04:58] KumudD commented on #51796
@christiankuhtz Added to "Virtual network integration for Azure services" section to the What is Azure virtual network" article.

#please-close

[2020-04-09 04:58] #51796 closed

[2020-04-09 05:01] RohitMungi-MSFT commented on #51984
@dr-ivan Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-09 05:09] RohitMungi-MSFT commented on #51989
@lopejum Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-09 05:15] TerryLanfear commented on #48087
@sosato - Thank you for your feedback. Windows To Go has been removed.

#please-close

[2020-04-09 05:15] #48087 closed

[2020-04-09 05:17] appleyuchi opened #52043 "SyntaxError: positional argument follows keyword argument"
error logs:
(Python3.6) appleyuchi@ubuntu19:bing搜索$ python test.py
  File "test.py", line 10
    client = WebSearchClient(endpoint="https://api.cognitive.microsoft.com/bing/v7.0", CognitiveServicesCredentials(subscription_key))

code location:
https://docs.microsoft.com/zh-cn/azure/cognitive-services/bing-web-search/quickstarts/client-libraries?pivots=programming-language-python

replication with

[2020-04-09 05:23] DixitArora-MSFT commented on #51814
@markpaley I am sure you must have done it correctly but just to double check , are you having all the required prerequisite for configuring your local environment mentioned in the public doc ?

![image](https://user-images.githubusercontent.com/46984568/78860580-31d16400-7a50-11ea-8cb4-784d439f99fc.png)

[2020-04-09 05:23] santhoshbomma9 commented on #51452
https://docs.microsoft.com/en-us/azure/application-gateway/ingress-controller-multiple-namespace-support
Is this what your are looking for, Florent?

[2020-04-09 05:25] RohitMungi-MSFT commented on #51991
@lurodri Thanks for the question. I have linked the Front door metrics and logging [section ](https://docs.microsoft.com/en-us/azure/frontdoor/front-door-diagnostics)from the documentation for additional information.

@SubhashVasarapu-MSFT @msrini-MSFT  Could you please advise if the above scenario is possible with Azure front door?

[2020-04-09 05:25] jaokeeffe opened #52044 "Library for Spark 2.4 incorrect."
The Spark 2.4 library referenced (1.3.4) isn't completely compatible with Spark 2.4. Use the libraries here instead: https://github.com/Azure/azure-cosmosdb-spark/#working-with-the-connector

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7197a1f8-bc64-1ac0-bf54-4a76381acc87
* Version Independent ID: 3c5a8e1d-bb1e-0bcc-

[2020-04-09 05:27] Flodu31 commented on #51452
Yes, it's that I answered in my previous comment.
Florent

[2020-04-09 05:27] #51452 closed

[2020-04-09 05:31] ram-msft commented on #51993
@denyshubh Thanks for the question. We are investigating the issue and will update you shortly.

[2020-04-09 05:39] RohitMungi-MSFT commented on #51998
@arvind-dhariwal Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-09 05:44] RohitMungi-MSFT commented on #52016
@CeciAc @guodan It would be great if you could let us know the documentation link where this duplicate is seen? We would be happy to correct it to avoid confusion to other users.

[2020-04-09 05:48] adeal commented on #38080
#close

[2020-04-09 05:50] adeal commented on #38080
@NavtejSaini-MSFT this can be closed.

[2020-04-09 05:53] AlexCesarini commented on #52020
Well, the issue is the same but the documents are different.

[2020-04-09 05:55] ashishsinghbhu opened #52045 "The version of Jedis library referred in the article is outdated"
The version of Jedis referred in the article is 2.9.0. That is a very old build from July 2016. The latest one is 3.2.0 from December 2019 and has several fixes and improvements. Please update the example to show the latest version.

Reference:
https://github.com/xetorthio/jedis/releases/tag/jedis-2.9.0
https://github.com/xetorthio/jedis/releases/tag/jedis-3.2.0

---
#### Document Details

⚠ *Do n

[2020-04-09 06:06] SubhashVasarapu-MSFT commented on #48866
@shuttlek , @gaikovoi , We have assigned this issue to the respective content author for updating the doc accordingly.

[2020-04-09 06:07] SubhashVasarapu-MSFT commented on #51523
@lee-anne , We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-04-09 06:07] jakaruna-MSFT commented on #51954
@desmondgc
I will close this out for now. If you need additional help please open a new issue

[2020-04-09 06:07] #51523 closed

[2020-04-09 06:08] erikadoyle commented on #47759
#please-close

[2020-04-09 06:08] #47759 closed

[2020-04-09 06:08] #51954 closed

[2020-04-09 06:09] #51753 closed

[2020-04-09 06:26] RohitMungi-MSFT commented on #52032
@gbottari Could you please let us know the documentation link you are referring to? This will help us check with the right team to help you further.

[2020-04-09 06:28] jakaruna-MSFT commented on #51925
@Jaryd1212 Add node pool UI has changes.
New UI looks like this
![image](https://user-images.githubusercontent.com/43405697/78864055-7e20a200-7a58-11ea-9423-d568d4fab18c.png)

I will assign this issue to the author to change the document

[2020-04-09 06:33] CHEEKATLAPRADEEP-MSFT commented on #52039
@raviman8 Azure Event Hubs Capture enables you to automatically deliver the streaming data in Event Hubs to an **Azure Blob storage** or **Azure Data Lake Storage Gen1 or Gen 2** account of your choice.

Hope this helps.

[2020-04-09 06:33] RohitMungi-MSFT commented on #52040
@ojasvin Could you please let us know if you are referring to an issue in any of the azure documentation links? This would help us assign the issue to the right team.

[2020-04-09 06:34] CHEEKATLAPRADEEP-MSFT commented on #52012
@chambomusic  Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-09 06:35] RohitMungi-MSFT commented on #52041
@ojasvin Could you please let us know if you are referring to an issue in any of the azure documentation links? This would help us assign the issue to the right team.

[2020-04-09 06:39] CHEEKATLAPRADEEP-MSFT commented on #52044
@jaokeeffe  Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

[2020-04-09 06:44] lee-anne commented on #51523
Hi, as I mentioned in my original post the change as suggested in the XML file does not work. Is this not policy controlled. Also I need a central way of doing this as to change hundreds of users XML file is not as simple as a pushed policy. I don't see the current routes in the file.
If it matters I am using MFA for my clients.

[2020-04-09 06:48] denyshubh commented on #51993
Thank You @ram-msft .

[2020-04-09 07:02] Cherif-Git opened #52047 "OU based filtering and Group writeback feature"
If we use OU Filtering to only select some parts of the AD, in the documentation it is precised to select the locations where the group writeback is enabled if this feaature is enabled.

I did exactly this setup but all my groups are now with a sync-generic-failure when they are sync from AD to AAD. This error happens during a Delta Synchronization.

The Stack Trace error is:
[code]
In the connect

[2020-04-09 07:08] sydneyvert commented on #42462
I am also getting this error trying both loginPopup and loginRedirect. Did you manage to overcome the error?

[2020-04-09 07:13] SnehaAgrawal-MSFT commented on #51627
@vuza We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-09 07:13] #51627 closed

[2020-04-09 07:18] mike-urnun-msft commented on #51485
@spmanjunath I've updated my answer above referencing an example snippet.

[2020-04-09 07:19] SadiqhAhmed-MSFT commented on #51759
@bandersmsft Any insights on this?

[2020-04-09 07:35] jakaruna-MSFT commented on #51940
@gbowerman Please answer the users question and update the doc if needed

[2020-04-09 07:38] Grace-MacJones-MSFT opened #52049 "Doc typo remove the word "they""
In the section about Vanity URL it says "They want a predictive ingest URL, which doesn't change over time." I don't think the word "they" is suppose to be there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67cd1bb4-6ef3-f740-1e77-0024801a0e10
* Version Independent ID: bc504c85-98fb-357c-a848-fd2b95663e82
* Content:

[2020-04-09 07:42] Grace-MacJones-MSFT commented on #52049
Doc will be update shortly.

[2020-04-09 07:49] linda33wj commented on #26361
#reassign @djpmsft

[2020-04-09 07:49] linda33wj commented on #26862
#reassign @djpmsft

[2020-04-09 07:49] davecatt opened #52050 "Explain the significance of --% in Create a Web App code example"
I think it would be helpful to put a link in to explain what the --% does in PowerShell.  It is very difficult to search for resources on such a phrase within search engines.  https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_parsing?view=powershell-7

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-04-09 07:51] PramodValavala-MSFT commented on #51755
@RossMurr4y The `x-ms-paths` allows you to define paths that are differentiated by query parameters in the URL which is covered in the [autorest docs](https://github.com/Azure/autorest/tree/master/docs/extensions#x-ms-paths). And the `x-servers` is a backport of the [OpenAPI 3's `servers` object](https://swagger.io/docs/specification/api-host-and-base-path/) for OpenAPI 2.

We are assigning this i

[2020-04-09 07:52] Murthy582 opened #52051 "How to specify port number in SQL Server Linked Service in ADF V2"
Vendor's SQL Server is accepting connection on 14331 instead of 1433. So I need to specify the port number in the connection string. Currently, I don't see any field to enter port number.

I tried adding port number at the end of servername. But ADF is not accepting.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2e7a

[2020-04-09 07:56] gp92 opened #52052 "Personal & Work Account with same mail address"
I have a personal and work account with the same mail address. Is this a scenario considered in the staged rollout? It works?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f2a7330-82fa-9c0d-0f34-b2a99ef13c64
* Version Independent ID: d941f435-3443-02a1-57c0-7f4173173249
* Content: [Azure AD Connect: Cloud authenticat

[2020-04-09 08:01] RohitMungi-MSFT commented on #51857
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-04-09 08:01] #51857 closed

[2020-04-09 08:02] jakaruna-MSFT commented on #51828
@jmedina-genetec Whats the version of Azure powershell service management module which you are using?

you can get that from this command from this link  https://docs.microsoft.com/en-us/powershell/azure/servicemanagement/install-azure-ps?view=azuresmps-4.0.0#checking-the-version-of-azure-powershell

If you dont have the latest one, try updating to the latest one and try

[2020-04-09 08:02] DirkSonguer commented on #51790
I did some more tests on my side. Turns out if you follow the steps with a Web App running on West EU, it works as described in the docs:

* Create new Web App
* Arbitrary RG and name
* Western Europe as location
* Node 12 LTS as engine
* Windows as OS
* F1 as app service plan
* Deploy Hello World based on restify
* Activate AAD as described

Result: Works as intended

However **keeping Central US

[2020-04-09 08:03] SubhashVasarapu-MSFT commented on #51985
@haymansfield , We are looking into this query and will update you as soon as possible.

[2020-04-09 08:03] jakaruna-MSFT commented on #51802
@gokul2018
I will close this out for now. If you need additional help please open a new issue

[2020-04-09 08:03] #51802 closed

[2020-04-09 08:07] jakaruna-MSFT commented on #51738
Checked the ticket. Limit is increased to 50.  Can you check and confirm.

I got the ticket based on you issue description.  So mostly that should be opened by your company.

[2020-04-09 08:09] linda33wj commented on #50053
@philipverlinden Data Flow doesn't support connecting to CDS/Dynamics 365 directly. You can use Copy activity for direct copy from/to CDS/Dynamics 365, and with transformation need, leverage pipeline with Copy activity + Data Flow.

#please-close

[2020-04-09 08:09] #50053 closed

[2020-04-09 08:10] jakaruna-MSFT commented on #51177
@arvindr9
I will close this out for now. If you need additional help please open a new issue

[2020-04-09 08:10] #51177 closed

[2020-04-09 08:13] jakaruna-MSFT commented on #50932
Edits to the coredns config map wont be persisted.

So adding in coredns custom is the only option.

For your case, You have added all the required values for a domain in coredns-custom config map.  We cant add only the ttl.  Adding everything is recommended so that it avoids confusion.

[2020-04-09 08:14] jakaruna-MSFT commented on #50848
@tkumark did you got a chance to go through that document

[2020-04-09 08:15] jakaruna-MSFT commented on #50829
@athinanthny please answer the users question and update the doc if needed

[2020-04-09 08:25] davidzwa opened #52053 "Pushing image - case sensitivity"
[Edited]
I've noticed that when our Azure CR url has capital letters in it, the url given to the CLI for authentication accepts this. However, the authentication fails for docker:

until I change the url to lower case like

The error given by docker is 'authentication required', although my azure cli login was definitely correct.
Might be good to make a note of this in this documentation or this c

[2020-04-09 08:26] konopkap commented on #51435
I could use wrong words. I know how to grant permission for specific vCenter object. I rather asked about explanation about what permission are necessary on what level. I.e.:
* vCenter - read-only
* Datacenter - read-only + create VM
* Host - role as in documentation
* Folder - role as in documentation
etc.
Generally spoken I'd like to know what are minimum permissions on each vCenter level for MA

[2020-04-09 08:26] DirkSonguer commented on #51790
Solved: https://stackoverflow.com/questions/61059648/azure-web-app-node-js-azure-ad-error-431/61116561#61116561

TLDR: Add key "WEBSITE_AUTH_DISABLE_IDENTITY_FLOW", value "true" to Configuration -> Application Settings to filter the large requests.

[2020-04-09 08:26] #51790 closed

[2020-04-09 08:29] vuza commented on #51627
@SnehaAgrawal-MSFT thank you for pointing out the tutorial and documentation. I'll definitely try and give feedback here. If I run into problems again, I'll re-open it.

Thank you!

[2020-04-09 08:31] konopkap commented on #51434
Hello, the error is still the same (3014).

[2020-04-09 08:32] Grace-MacJones-MSFT commented on #51651
Thanks for the feedback. The whole point of the vanity url is to have a stable ingest and preview url for you to use even when you start and stop the LiveEvent. The second workaround that was provided is incorrect.

 A note has been added to [this doc ](https://docs.microsoft.com/en-us/azure/media-services/latest/live-events-outputs-concept#live-event-ingest-urls) thats states " In the Azure porta

[2020-04-09 08:32] #51651 closed

[2020-04-09 08:34] MamidiVasavi opened #52054 "Permissions needs to be clear"
https://docs.microsoft.com/en-us/azure/data-factory/source-control#permissions section needs to be updated with appropriate permissions, assigning the data factory contributor role on the factory itself doesnt allow to publish the changes to data factory service as it results in error: "The client '&lt;clientname&gt;@microsoft.com' with object id '&lt;objectid&gt;' does not have authorization to p

[2020-04-09 08:36] jakaruna-MSFT commented on #50753
@sami1178116 is there any update

[2020-04-09 08:36] SychevIgor opened #52055 "When GA? Where documentation?"
First blog post was in Sep 2018 with almost the same content.
Content of this article almost identical to this page https://azure.microsoft.com/en-us/blog/azure-deployment-manager-now-in-public-preview/

If Microsoft have plans on this "services" - would be nice to provide documentation that will cover not only basics.
Based on a current state of documentation - Looks Microsoft don't have clear pl

[2020-04-09 08:42] kishan19 commented on #51719
My body of the API call with model definition is like this.

api_instance2.create_model_with_http_info(model_definition={
          "modelKind": "Acoustic",
          "baseModel": {
          "id": "6f035940-42e4-4b60-8afd-e5c086621c5f"
        },
        "datasets": [
          {"id": "685f2283-c3a2-4414-ac9d-7321de238d68"},
    {"id":"1d9e1f01-1ed6-44aa-b94a-4512f3b3c402"}],
        "locale": "e

[2020-04-09 08:45] Grace-MacJones-MSFT commented on #52050
Hi @davecatt,  thanks for the feedback! To clarify, did you want the link you shared to be added into this  doc? particularly this sentence "_The stop-parsing symbol (--%), introduced in PowerShell 3.0, directs PowerShell to refrain from interpreting input as PowerShell commands or expressions._"?

[2020-04-09 08:56] VikasPullagura-MSFT commented on #52053
@davidzwa
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-09 08:56] VikasPullagura-MSFT commented on #52053
@dlepow
Can you please check and add your comments on this doc update request as applicable.

[2020-04-09 08:57] VikasPullagura-MSFT commented on #51860
@MicrosoftDocs/aks-pm Please add your comments on this issue.

Is deploying Virtual Node (ACI) with GPU from AKS supported?

[2020-04-09 08:57] linda33wj commented on #43042
The relevant content has been moved to a legacy article: https://docs.microsoft.com/en-us/azure/data-factory/supported-file-formats-and-compression-codecs-legacy#data-type-mapping-for-parquet-files.

Those data types are Parquet native data type. Actually you don't need to worry about the type mapping. If interested, refer to http://parquet.apache.org/documentation/latest/#types, "primitive type"

[2020-04-09 08:57] #43042 closed

[2020-04-09 09:02] linda33wj commented on #50256
Related note - we are actually working on enabling a new Sharepoint Online List connector to make it easier to copy data from SPO list. Stay tuned.

With current generic OData connector, Sharepoint Online Site URL would be something like `https://[Tenant-Name].sharepoint.com/_vti_bin/listdata.svc/` if it does not contain any sub site, or `https://[Tenant-Name].sharepoint.com/sites/[Site-Name]/_vti

[2020-04-09 09:02] #50256 closed

[2020-04-09 09:10] amanmcse commented on #51877
@sergio-at-neocles, In order to localize a string in built-in user flow, you need to first navigate to the user flow that you want to localize the string for, enable language customization and select the language you want to use as highlighted below:

![image](https://user-images.githubusercontent.com/33834131/78876787-7d463b00-7a6d-11ea-8d8a-40a7dbd49a42.png)

Enable the language and download def

[2020-04-09 09:10] linda33wj commented on #35296
Thanks for the feedback and sorry for the late reply. The supported SQL data types by copy activity are documented in the article: https://docs.microsoft.com/en-us/azure/data-factory/connector-sql-server#data-type-mapping-for-sql-server

#please-close

[2020-04-09 09:10] #35296 closed

[2020-04-09 09:12] hambster commented on #21316
Any updates regarding to this question? Just want to know whether Apps hosted on same App Service Plan can access VNet after configuring VNet Integration.

[2020-04-09 09:14] MaximSidorchuk commented on #51914
Hi Alex,

Thanks for your reply.
I read this article about role assignment in ARM templates before and unfortunately it doesn’t work for AAD app registration. ☹

ARM template "Microsoft.Authorization/roleAssignments" works only with Azure built-in roles<https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles> for Azure resources and not work with roles for Azure Active Dire

[2020-04-09 09:23] jbrezina opened #52057 "GetMessageSessions method is not relevant to Azure QueueClient and SubscriptionClient"
Section _Message session state_
_"All existing sessions in a queue or subscription can be enumerated with the SessionBrowser method in the Java API and with GetMessageSessions on the QueueClient and SubscriptionClient in the .NET client."_
GetMessageSessions links to method on QueueClient from Microsoft.ServiceBus.Messaging namespace, but QueueClient and SubscriptionClient links to classes from Mi

[2020-04-09 09:24] mike-urnun-msft commented on #51557
@jjindrich Thanks again for sharing this feedback and bringing this to our attention. I've gone through the steps and found that the dotnet core samples are still correct and there are no faulty steps in this documentation, however, the c# samples are targeting Functions v1 runtime and need to be updated to run on Functions v3 runtime. Given the scope of the changes required which includes updatin

[2020-04-09 09:32] mohamed-shehata-m commented on #51999
I used below commands:

az webapp vnet-integration remove -g MyResourceGroup -n MyWebapp -s [slot]

az webapp vnet-integration add -g MyResourceGroup -n MyWebapp --vnet MyVnetName --subnet MySubnetName

[2020-04-09 09:33] jjindrich commented on #51557
correct, thanks.

[2020-04-09 09:33] #51557 closed

[2020-04-09 09:47] PiotrPerak opened #52058 "Is there any way to add managed identity as db user from pipelines?"
I tried executing this from azure pipeline
CREATE USER [<identity-name>] FROM EXTERNAL PROVIDER;
but I get error:

Principal 'xyz' could not be created. Only connections established with Active Directory accounts can create other Active Directory users.

Do I need to add special account for this in my Azure AD? I don't want to use my personal account.

---
#### Document Details

⚠ *Do not edit thi

[2020-04-09 09:59] reneschulte opened #52059 "Missing step for Link storage accounts"
This page is missing a needed step in order to be able to link the Storage accounts via IAM. The Remote Rendering resource first needs to enable Identity &gt; System assigned &gt; On. Otherwise no identity can be selected in the Storage accounts IAM Assign role dialog.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6c

[2020-04-09 10:01] amergey commented on #51186
Thanks @dsindona  Is it also plan to give also more technical about migration impacts related to informations given by this kind of docs
https://docs.microsoft.com/en-us/azure/marketplace/cloud-partner-portal/virtual-machine/cpp-skus-tab ?
For example will the limit of 8 versions per sku will still be there ?

[2020-04-09 10:01] davecatt commented on #52050
Hi, as these documentation pages are fantastic learning resources, it would be good to explain that parameter as it is particularly hard to search for with engines ignoring special characters.  That sentence will provide the reason behind using the parameter and allow the reader to search for something meaningful (i.e. stop-parsing symbol).

From: Grace-MacJones-MSFT <notifications@github.com>
Sen

[2020-04-09 10:03] jjindrich opened #52060 "Is it possible to deploy it with Azure NAT GW ?"
Can we use instead of UDR new Azure NAT GW which allow forward egress traffic ?
I tested it, when I use --outbound-type userDefinedRouting, gettting error:  Please update the route table association

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d721081-0c1c-abf3-a398-386a718446d0
* Version Independent ID: 92b5504d-e2

[2020-04-09 10:03] Grace-MacJones-MSFT commented on #52058
Hi @PiotrPerak, thanks for question. No you don't need a special account. based on [this doc](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-aad-authentication-configure?tabs=azure-powershell), you want to set your AD account as the Active Directory admin under- Provision an Azure Active Directory administrator for your Azure SQL Database server).. you may also reference this [SO

[2020-04-09 10:03] reneschulte opened #52061 "Conversion script will fail if IAM is not granted"
The conversion script will fail since it needs access between the ARR and Storage account services. Therefore these steps need to be completed first:
https://docs.microsoft.com/en-us/azure/remote-rendering/how-tos/create-an-account#link-storage-accounts
(also note my feedback on that page)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-04-09 10:06] Grace-MacJones-MSFT commented on #52050
Thanks for the clarification David. We will update the docs shortly. @davecatt

[2020-04-09 10:10] KrishnaG-MSFT commented on #52055
@SychevIgor Thanks for the feedback!
@tfitzmac / @mumian Can you comment / provide your insights on @SychevIgor's feedback!

[2020-04-09 10:29] sergio-at-neocles commented on #51877
That information is clear and is already part of the documentation, thanks.
But I'm using a custom Page Layout with custom text, from an external CDN. Translations don't work for custom text.
I have this template

[code]

Where
`<div id="api"></div>` is the hook for the form that Azure AD B2C uses for my user flow. This piece is translated correctly.

I have this in my template
    `<div id="<My C

[2020-04-09 10:29] kamellemann commented on #50164
Hi, the issue should be that the CA is not supported if you are using Microsoft Azure CDN Standard:
https://docs.microsoft.com/de-de/azure/cdn/cdn-troubleshoot-allowed-ca

[2020-04-09 10:30] FlorianBorn71 commented on #52059
Great, thanks for this feedback, very much appreciated!
I will check back with the devs and correct this.

[2020-04-09 10:40] SnehaAgrawal-MSFT commented on #48495
@schellem Just checking if you are still facing issue. Could you try [Installing .Net Core 3.1 SDK](https://dotnet.microsoft.com/download) and then try with further steps by using below commands.

Run the following commands to clone the sample repository and change to its root.

git clone https://github.com/azure-samples/dotnetcore-sqldb-tutorial
cd dotnetcore-sqldb-tutorial

Then run the followin

[2020-04-09 10:54] v-tawe opened #52062 "Missed one step: **Add a managed storage account to your Key Vault instance**"
Before the step : [Create a Key Vault Managed storage account](https://docs.microsoft.com/en-us/azure/key-vault/key-vault-ovw-storage-keys#create-a-key-vault-managed-storage-account) we should grant storage account permissions to your user account just like the way in [PowerShell document](https://docs.microsoft.com/en-us/azure/key-vault/key-vault-overview-storage-keys-powershell#give-your-user-ac

[2020-04-09 10:59] amanmcse commented on #51877
@sergio-at-neocles This is not supported as the string localization should be done as part if IEF because the content is generated by signuporsignin API in case of unified experience. Similarly for other pages the content is inserted by their respective APIs.

[2020-04-09 11:02] PiotrPerak commented on #52058
Hi @Grace-MacJones-MSFT.
It works for me when I execute this script manually. I have created group in Azure Ad and made it Azure AD Sql Admin.

But my question is if I really need to use login and password of one of the users in this group? I would prefer to not use my personal login and password in pipeline. I thought about adding user just for this purpose but I don't have access to do it.

[2020-04-09 11:08] shashishailaj commented on #52031
@ThamerObeidat Thank you for your feedback . We will have this reviewed  by the content authors and  updated as needed.

[2020-04-09 11:09] shashishailaj commented on #52033
@Jared-Harrington-Gibbs Thank you for your query. We will investigate this and update further.

[2020-04-09 11:11] shashishailaj commented on #52034
@shivp950 Thank you for pointing that out . We will have this reviewed and update.

[2020-04-09 11:11] sergio-at-neocles commented on #51877
Thanks @amanmcse
 What would be the suggested approach if I need to create a custom Page Layout with content that I need to localize?
So far I can think about using the `ui_locales` parameter to localize the custom Page Layout when it is requested by Azure but then I would end up with multiple localization solutions, which is not efficient.

[2020-04-09 11:13] shashishailaj commented on #52047
@Cherif-Git Thank you for your feedback . We will investigate and update the thread further.

[2020-04-09 11:14] shashishailaj commented on #52062
@v-tawe Thank you for your feedback . We will investigate and update this thread further.

[2020-04-09 11:15] vbrinza opened #52063 "Network Contributor on RG level did not work"
Network Contributor on RG level did not work when using custom subnet for the LB as described in the doc.
I had to assign the role to the subnet for it to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25afcc19-0998-3583-f6d8-e2a619c0e071
* Version Independent ID: 7629191a-6b3b-fb22-8b70-fa84fd785f38
* Content: [

[2020-04-09 11:15] shashishailaj commented on #52052
@gp92 Thank you for your query. We will investigate and update the thread further.

[2020-04-09 11:18] ChiragMishra-MSFT commented on #52054
@MamidiVasavi Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2020-04-09 11:26] shashishailaj commented on #51943
@rido-min thank you for catching this. you are absolutely correct about the log file path which is current working directory and we will update that . The install script's invalidity is something we are still checking on and will update accordingly. I will update the thread once we have tested the commands on our side.

Thank you.

[2020-04-09 11:26] StingyJack commented on #51738
Yeah it just wasn't getting any response until I tweeted at az support. They finally called us back a few hours after that.

So it's 100 container groups per region, per subscription. Is there a hard limit to the number of containers per group? Like can we make it 200?

[2020-04-09 11:30] markmeyer commented on #23029
@SaurabhSharma-MSFT , can this please be reopened with the information from @atobrandon?  we are seeing the same thing and would like to have our logo and domain listed on the google screens, but it will not until google can verify the app.  Thank you.

[2020-04-09 11:34] abhirockzz opened #52064 "replace "Run Robomongo.exe" with something generic"
`Run Robomongo.exe` should be replaced with something generic which is OS agnostic

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b796522-3bf2-515f-99b3-001591eef9ce
* Version Independent ID: c996e6d4-f6f1-194c-546f-d19a2b3dfb8e
* Content: [Use Robo 3T to connect to Azure Cosmos DB](https://docs.microsoft.com/en-us/az

[2020-04-09 11:38] ManoKanmani opened #52065 "Azure AD Connect Provisioning Agent really requires Domain Admin access ?"
Hi Team,

We are in the process of Provisioning from Workday to Active Directory. When it comes to Azure AD Connect Provisioning Agent i can see the document as mentioned by using Service account with domain administrator permissions and a password that does not expire to achieve this functionality.

Due to lot of restrictions in AD i didn't get DA access to Service Account instead they will provi

[2020-04-09 11:47] lightupdifire opened #52068 "Process Fail"
Hello,
1. New ADFS tool exist, print screens do not match your procedure
2. Got an error at the end:
adfs set service communications certificate The specified directory service attribute or value does not exist
So have to run steps for manual update.
Please update this doc!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-04-09 11:53] jakaruna-MSFT commented on #52063
@vbrinza
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-09 12:13] DeveloperBeginner commented on #51020
Thanks for the response

[2020-04-09 12:20] jmedina-genetec commented on #51828
Hi @jakaruna-MSFT I have version 5.3.0 using this command:

`Get-InstalledModule Azure -AllVersions | Select-Object Name,Version,Path`

As far as I know, that's the latest version available, right?

[2020-04-09 12:21] RohitMungi-MSFT commented on #51855
@djpugh Yes, you are right that the first statement is incorrect and we have confirmed that the compute instance created by user in a workspace cannot be used by others. Currently only the user who created it can access it. I have referenced a PR to correct this statement. Thanks for your help.

[2020-04-09 12:28] Jaryd1212 commented on #51925
Thank you.

I was able to figure it out.  The real issue was that that article says to
use Batch Explorer.  It seems to
Me that the application needs to be updated.

 Once I decided to use the portal to create the pool, I was able to
decipher the instructions.

On Thu, Apr 9, 2020 at 2:28 AM jakaruna-MSFT <notifications@github.com>
wrote:

[2020-04-09 12:30] kudlatiger commented on #51710
Yes, we can close the thread/

[2020-04-09 12:34] dennis-benzinger-hybris commented on #48416
There is PR #52069 now.

[2020-04-09 12:47] VikasPullagura-MSFT commented on #51843
@alexsab1 Yes, you can use the disk bursting for VMSS. If the disk is burst eligible,you can enable bursting.

Please check this [page](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/disk-bursting) for more details.

[2020-04-09 12:59] demichev78 opened #52071 "Internal Logging"
Could you please add more information on:

1. How to log exceptions properly so that full stack trace is available
2. Why try catch should be on the top? I log an error but I don't see function failing in AppInsights
3. If I use multiple classes and Core DI, how logging should be configured for internal classes, how to log exceptions properly so that full stack trace is available

Thanks in advanc

[2020-04-09 13:07] RYounk007 commented on #51893
@aaroncalderon: I believe the "Clear current state and restart synchronization" option will accomplish this.

[2020-04-09 13:11] RYounk007 commented on #51850
@ManoKanmani Users listed as owners of the enterprise application (Manager --> Owners --> Add) can manage the attribute mappings, schema & data sync.  They cannot download the agent or manage "Admin Credentials".

[2020-04-09 13:12] CeciAc opened #52073 "Register Model fails"
@kato-m commented on [Thu Apr 09 2020](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/644)

The code in the section 'Save and register Model' doesn't seem to work in a pipeline. Replacins the extension '.joblib' by '.pkl' wotks, though. Saying this,  it would be helpful to mention that only pickled models (suffix .pkl) are supported and no zipped pickles.

---
#### Dokumentdetails

⚠ *Be

[2020-04-09 13:13] 3vi1 commented on #51657
The problem is the redirect URL coming back from the app:

...redirect_uri=http%3A%2F%2Fmy-diag-name.azurewebsites.net%2Fsecurity%2Fsignin-callback...

I went into the app services TLS/SSL settings and forced it to https-only, which seems to fix the issue.

[2020-04-09 13:23] jakaruna-MSFT commented on #50656
@cynthn Please consider adding a note to explain the plan information

[2020-04-09 13:23] RYounk007 opened #52074 "Worker Data: Workers"
It appears there is a required permission for the Workday Integration Account that isn't listed in this document named "Worker Data: Workers".  Without this permission granted to the Integration Account in Workday, no results (Workers) were being returned to the application.  After granting this permission to the Integration Account in Workday, results (Workers) were returned as expected.

---
###

[2020-04-09 13:25] the-blesss opened #52075 "Please add clarification on the step 5 for request billing ownership and the account used"
We have run into multiple customers that are using a Microsoft Account *.hotmail.com, etc. and those requests are not able to be processed. We have also run into multiple customers that use guest accounts from their O365/other tenant IDs for management, which also breaks the transfer request. Please clarify what the requirements are for this customer account in ALL of the following: Azure AD (Glob

[2020-04-09 13:28] jakaruna-MSFT commented on #50469
You need to drop the required ApplicationManifest.xml file to the environments by using CI CD or manually.

you can also have deployer scripts for each environment which picks the appropriate files

[2020-04-09 13:30] jakaruna-MSFT commented on #49705
@erotavlas i didnt get any email from you.
Feel free to send a email when you are ready.

I will close this out for now. If you need additional help please open a new issue

[2020-04-09 13:30] #49705 closed

[2020-04-09 13:30] CeciAc opened #52076 "East Japan GW IP"
The comments below were machine-translated

@ryoma-nagata commented on [Thu Apr 09 2020](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/4354)

Only 13.78.106.224 is not communicated about East Japan. Is this the latest IP information?

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: e1a62365-4312-8aad-d2f1-bb5c4184adf1
* Version Independent I

[2020-04-09 13:31] jakaruna-MSFT commented on #48521
@festivus i didnt get any email from you.
Feel free to send a email when you are ready.

I will close this out for now. If you need additional help please open a new issue

[2020-04-09 13:31] #48521 closed

[2020-04-09 13:34] jakaruna-MSFT commented on #46810
@mlearned please consider adding a note to explain the rights for a service principal

[2020-04-09 13:35] abhirockzz opened #52077 "Watching deployment or database"
I wanted to confirm if watching a deployment or database works or not. I see the following error with the [MongoDB Go driver](https://pkg.go.dev/go.mongodb.org/mongo-driver/mongo?tab=doc) - `failed to start change stream watch: (BadValue) Expected type string but found int.`

If database and deployment are not yet supported, please state this explicitly (in the `Current limitations` section). I re

[2020-04-09 13:36] MonikaReddy-MSFT commented on #51730
Hello @erwinmanuel ,

- We have verified that registry settings as shown in the docs works fine.

- One thing to note here is actual UI of the Group Policy Editor doesn't update to reflect this registry setting change. However, the setting itself behaves as expected.

- This behavior applies for both servers 2016/2019.

- Also can you confirm if you have restarted the VM to actually reflect the se

[2020-04-09 13:38] jakaruna-MSFT commented on #49411
@iainfoulds @cynthn will xrdp support login with Azure AD creds if we have the Azure AD extension installed?

[2020-04-09 13:53] PramodValavala-MSFT commented on #51710
@codemaker Glad we could help!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-09 13:53] #51710 closed

[2020-04-09 13:55] mosoccer commented on #50613
@TravisCragg-MSFT @chadmath

To add some context to this on hoping the documentation gets updated and the error message gets improved to point others to this setting.  We had one person in our organization that was unable to connect and have an opened Azure ticket--  which has been open for 40 days and no one ever mentioned this setting.  We ran across this post and tried on that one users machine

[2020-04-09 13:55] pexxi commented on #43257
@wendlandreas Thanks! I can confirm your solution works with the Standard Microsoft version of Azure CDN. (You have no idea how long I had to search for this!)

@heinrich-ulbricht You should check this out.

[2020-04-09 13:55] epinto opened #52078 "Add guidance for migrating PAYG VMs to RI VMs"
Many customers first build with PAYG VMs, they need steps/instructions/migration path to bring those existing VMs to a RI model.  The guidance can't be "just rebuild the VMs" as customers will have production VMs already under PAYG.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edda1fe4-6ce9-ccf2-bc1b-65e9818b1060
* V

[2020-04-09 13:57] reneschulte opened #52079 "The model conversion script does not work or the Quickstart is missing a step"
I followed the described steps but the conversion PS script is failing after uploading the model to the storage account during the "Getting an authentication token" step:

![image](https://user-images.githubusercontent.com/7439129/78900976-eb8ffb00-7a77-11ea-9023-decf420c5601.png)

I'm using the script from commit 6422ff029ba6dee7845cba7daad53c65cddd7180
The Storage Account is located in West Euro

[2020-04-09 13:58] cbcoutinho opened #52080 "Linux Apps unable to access VNet integration via Networking tab in UI"
From these docs, it's not clear that VNet integration is or is not available to web apps that are started using docker-compose. The VNet section in the Networking tab is not available from the app service, and the 'Networking' tab is completely grey'd out on the app service plan page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2020-04-09 14:01] PramodValavala-MSFT commented on #52057
@jbrezina Thanks for the feedback! We will review and update accordingly.

[2020-04-09 14:03] dburtman opened #52081 "Example in "Initiatives" section (bottom of the page)"
Hello,
The explanation to the code example of the initiative states " It uses two built-in policies to apply the default tag value."
Note - two built-in policies!

Why do I see four policies in the actual example?
There seems to be two copies of the same policy, each for costCenter and productName:

** for cost center:
"policyDefinitionId": "/providers/Microsoft.Authorization/policyDefinitions/1e3

[2020-04-09 14:03] PramodValavala-MSFT commented on #52071
@demichev78 Thanks for the feedback! We will review and update accordingly.

[2020-04-09 14:06] #51935 closed

[2020-04-09 14:08] FlorianBorn71 commented on #52059
If you created your account after public preview release, then the system managed identity should be enabled by default. Older accounts however (created during private preview) may have this disabled. Does this maybe apply to you?
The migration guide during private preview strongly suggested to re-create the ARR account. If you fix the setting later (as you described above), then this may work at

[2020-04-09 14:10] reneschulte commented on #52059
Hey @FlorianBorn71 That is not the case here.

I created the account freshly yesterday on a whole different tenant. All services were newly setup on my private Azure tenant yesterday and today. The private preview was using our company tenant.

[2020-04-09 14:13] FlorianBorn71 commented on #52079
Does my comment from the other thread (i.e. "re-creating the ARR account if it was created prior to public preview release") apply here?

[2020-04-09 14:14] GiftA-MSFT commented on #52073
@CeciAc we will review your feedback and get back to you shortly. Thanks.

[2020-04-09 14:14] reneschulte commented on #52079
Maybe. I will try to recreate all.

[2020-04-09 14:16] MaxThom opened #52082 "AzureIotSecurity for IotEdge Devices"
Hi,
I've installed the security module on my iot edge devices so the module version available on the azure market place.

It's seems like it's working fine. I get events in the security overview and logs workspace. I'm using the default configuration.

In the logs, im able to see the security events and alerts, but I can find where are all the snapshot (OS, harwarde, systeminfo, etc)

Moreover, th

[2020-04-09 14:16] reneschulte commented on #52059
Alright @FlorianBorn71 I just created a new ARR resource on the same private tenant and this one has Identity enabled by default.
You guys must have changed something in the last 30h or so.
The other one was created yesterday morning.

[2020-04-09 14:21] FlorianBorn71 commented on #52059
glad to hear it works now!

[2020-04-09 14:25] reneschulte commented on #52059
Danke!

[2020-04-09 14:29] DCtheGeek commented on #52081
#assign:DCtheGeek

[2020-04-09 14:30] chadmath commented on #50613
Thanks @mosoccer ! We are adding this to internal troubleshooting guidance as well. Appreciate you taking the time to let us know!!

[2020-04-09 14:33] reneschulte commented on #52059
Nope. Does not work. Somehow it was automatically disabled again.
Also just created a third instance and that did not have Identity On by default. Something is going on here.

[2020-04-09 14:34] bartvermeersch opened #52083 "securityEnabled Office 365 groups"
This page says: "The feature can only be used with security groups, and Office 365 groups that have securityEnabled=TRUE"

As far as I know there is no such thing as Office 365 groups with securityEnabled=true, unfortunately.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7e4fdb9-a3d4-e97b-de30-9904868b87a5
* Version

[2020-04-09 14:37] DCtheGeek commented on #52081
@dburtman Thanks for the question! If you look closely, those four entries for **policyDefinitionId** share the same two values. This example showcases the reusability of parameterized policy definitions. Namely, that you can use the same policy definition in a policy initiative with different parameters more than once.

@MicrosoftDocs/azure-cxp-triage Please label 'product-question' and #please-c

[2020-04-09 14:37] #52081 closed

[2020-04-09 14:44] FlorianBorn71 commented on #52059
OK, will try to poll more information from the devs

[2020-04-09 14:50] screig opened #52084 "postgres_fdw"
"Currently, outbound connections from Azure Database for PostgreSQL aren't supported, except for connections to other Azure Database for PostgreSQL servers."

This is a bit vague, can I connect to postgresql db running on an azure VM, can I only connect to managed postgresql databases?

A demonstration of the networking steps that would be needed to enable to this would be helpful. For example wha

[2020-04-09 14:52] zr-msft commented on #51455
thank you for the feedback @sheeeng! I've updated the document and the changes should be live soon.

[2020-04-09 14:52] leestott opened #52085 "Image out of date as Data bricks now support Kafka"
Need to update images on page as Databricks now support Kafka
https://docs.microsoft.com/en-us/azure/databricks/spark/latest/structured-streaming/kafka
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2eea9046-9156-2096-d59b-afbe816c7390
* Version Independent ID: 7e667e9f-08f9-94fa-add5-346db61837ca
* Content: [What is Az

[2020-04-09 14:53] zr-msft commented on #51453
thank you for the feedback @sheeeng! I've updated the document and the changes should be live soon.

[2020-04-09 14:53] zr-msft commented on #47385
thank you for the feedback @gsxmax ! I've updated the document and the changes should be live soon.

[2020-04-09 14:53] reneschulte commented on #52059
I found out how to reproduce it:

1. Create new ARR resource with Azure Portal.
2. Go to Resource once deployed.
3. Click Identity and notice System assigned Status is on by default.
4. Click Access Keys to see the Peimary Key, etc.
5. Click Identity and notice System assigned Status turned **off** now.

Turning it on manually seems to keep the state and does not switch it off when changing to ano

[2020-04-09 14:54] zr-msft commented on #40300
thank you for the feedback @tesharp ! I've updated the document and the changes should be live soon.

[2020-04-09 14:54] #40300 closed

[2020-04-09 14:54] #47385 closed

[2020-04-09 14:54] #51453 closed

[2020-04-09 14:57] shriazure opened #52086 "Data traffic between ADF and Azure SQL DB"
Hi - can you please clarify if the data traffic between ADF and Azure SQL DB occur via Azure backbone or the internet? Also what would be the case if we pull data from Azure SQL DB which is hosted in another region?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09dd1d03-ae28-c5a2-7c64-2f51675f6b09
* Version Independen

[2020-04-09 14:58] reneschulte commented on #52079
Hey @FlorianBorn71 unfortunately it seems not to be related.
Also I'm getting a 401 error now after recreating the ARR resource. Of course I updated the Account ID and Key in the arrconfig.json and recreated the IAM role assignments for the new ARR resource I created.

![image](https://user-images.githubusercontent.com/7439129/78909111-51ce4b00-7a83-11ea-9371-46f717c8028e.png)

[2020-04-09 14:58] CharmanderJieniJieni opened #52087 "Does MSFT rotate the credentials of the Service Principals behind the Managed Identity?"
As one of our requirement, the credentials need to be frequently rotated. Does Azure rotate the service principal credentials behind managed identities?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72861cc1-7081-cf6e-b7f9-e700a16faa9a
* Version Independent ID: c870872d-0559-6b77-280f-f478e8c84776
* Content: [Managed

[2020-04-09 15:00] GeorgeChiuTheHartford opened #52088 "Sr. Engineer"
Regarding "User registration and management of Microsoft Authenticator app" section, step 7 "Follow the instructions in the app to finish registering for passwordless phone sign-in.".    My company uses SmartCard and enables "SmartCard" only login that no users know their password.   The issue with Step 7 is to finish the passwordless phone sign-in registration, Password is the only option!   Can

[2020-04-09 15:04] mbiver commented on #49892
Please add N-Series.

https://docs.microsoft.com/en-us/azure/virtual-machines/sizes-gpu?toc=%2Fazure%2Fvirtual-machines%2Fwindows%2Ftoc.json

Thanks!

[2020-04-09 15:08] JasonBodley commented on #52024
Some further description on how these work together in terms of orchestration / validation would be useful. I've got a `ValidationTechnicalProfile` that is now secured by Oauth2, I assumed i could just add the `SecureREST-AccessToken` step before and the token would then able to be passed into the next validation, however I am getting "Claim 'bearerToken' specified for the bearer token is not pres

[2020-04-09 15:08] dagiro commented on #52025
@christophersgreen, also consider changing the number of worker nodes from 4 to 3. You can make the change on the **Configuration + pricing** tab. This will result in a total of 32 cores to be used.

[2020-04-09 15:16] shashankkr opened #52089 "Out Binding splitting up JSON Array message"
Hi,
I have an service bus queue out binding and its splitting the json array into individual items.
My function.json :
{
  "bindings": [
    {
      "name": "mySbMsg",
      "type": "serviceBusTrigger",
      "direction": "in",
      "topicName": "lead-score",
      "subscriptionName": "salesforce-consumer-2",
      "connection": "CDMINPUTTOPICCONNECTIONSTRING"
    },
    {
      "name": "errorSbQ

[2020-04-09 15:26] ailichev opened #52090 "Microsoft AzureAD SSO Jira addon issue: Identifier, Reply URL, Sign On URL are not updating after chaning the domain name of Jira server"
Hello,
We installed Microsoft Jira SSO addon based on this documentation https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/jiramicrosoft-tutorial. We use Jira version 8.7.1 and addon version 1.0.6.
The setup was completed successfully and we got AzureAD SSO authentication working in Jira.
But when we changed the domain name of our Jira server from https://jira-dev-mfa.our.domain to

[2020-04-09 15:28] djpmsft commented on #26361
Hi all,

Apologies for the delay in response. The quickstart guide has been updated and now `LinkedServiceReference(reference_name=ls_name)` is accurate. Please update if you are still running into any issues.

Thanks,
Daniel

#sign-off

[2020-04-09 15:30] TomGeske opened #52091 "Virtual network peering section should be different for Advanced networking."
[Virtual network peering needs to be adjusted for Advanced Networking case]

VNET is not located in MC_* rg for Advanced Networking case.

5. Go back to the MC_* resource group in the Azure portal.
6. In the right pane, select the virtual network. The virtual network name is in the form aks-vnet-*.
7. In the left pane, select Peerings.
8. Select Add, add the virtual network of the VM, and then cre

[2020-04-09 15:30] salavala opened #52092 "Quick on the Data Refresh"
Very detailed document and really useful. It shows how to load the CosmosDB data into Qlik. I would like to find out how to refresh the data. How do we build real-time dashboards in Qlik sense using CosmosDB data? If we can't build real-time dashboards, how to frequently update the data in the Qlik sense reports?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2020-04-09 15:39] NavtejSaini-MSFT commented on #52045
@ashishsinghbhu Thanks for the feedback. We have assigned this to our doc author for checking what changes can be made in this document.
@yegu-ms Please check if this document can be enhanced or a new document be created.

[2020-04-09 15:42] sidtandon2014 opened #52093 "Accessing Storage account with private link from on-premise using Storage account explorer"
Hi,

I have configured storage account with private endpoint and want to connect it to Storage account explorer present on my machine.
I have also installed the VPN and connected to it, but whenever i am trying to add the storage account, there is an error.Can somebody help me out with this?

BTW, above set up is working if I am performing the same operation inside a VM present inside VNet

[2020-04-09 15:43] dsindona commented on #51186
Hi @amergey new technical details will be documented as each offer type migrates to Partner Center. I'm not sure if there is a plan to document any discrepancies in advance. I will see what I can find out and update you if I get further detail.

[2020-04-09 15:43] timstockford opened #52094 "SharedImage Typo in Azure VM Image Builder Documentation"
Created AIB template to publish to Shared Image Gallery, but when I tried to create the Image Builder Definition (type:Microsoft.VirtualMachineImages/imageTemplates) I got the following error:
_Operation failed with status: 'Bad Request'. Details: 'ImageTemplate.properties': Field 'distribute[0].type' has bad value: ''"_

This is using the following type definition in the json template:
[code]
how

[2020-04-09 15:43] ezYakaEagle442 opened #52095 "Specify what id1 &id2 refer to"
az aks create -g MyResourceGroup -n MyManagedCluster --enable-aad [--aad-admin-group-object-ids &lt;id1,id2&gt;] [--aad-tenant-id &lt;id&gt;]

if id1 refers to the ADMIN_GROUP ID, it is not clear what is id2 ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22a4b366-3eac-83f8-05bb-1302ce5c9235
* Version Independent ID:

[2020-04-09 15:44] Anand-Moghe commented on #52036
@SnehaAgrawal-MSFT  Thanks. There should be a specific sections in documentation in either HOW-TO or Concept sections of Windows Web App documents to also provide clues on what is available by default when a particular stack is selected. ASP.Net or Java or PHP stack selection does not mean its the only run-time you need for the application hosting. Most application do need NodeJS and several other

[2020-04-09 15:46] SaurabhSharma-MSFT commented on #52087
@CharmanderJieniJieni Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-09 15:47] SaurabhSharma-MSFT commented on #52088
@GeorgeChiuTheHartford Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-09 15:48] SaurabhSharma-MSFT commented on #52065
@ManoKanmani Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-04-09 15:49] SaurabhSharma-MSFT commented on #52074
@RYounk007 Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-09 15:51] SaurabhSharma-MSFT commented on #52068
@lightupdifire Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-09 15:53] NavtejSaini-MSFT commented on #52076
@CeciAc @ryoma-nagata We checked history of the document and this IP has been part of the document for a  sometime now. Please provide us a document with which you are comparing this document and finding the mismatch.
Once we receive that information we will compare and check it further.

[2020-04-09 16:01] NavtejSaini-MSFT commented on #52084
@screig Thanks for the feedback and we will get back to you as soon as possible.

[2020-04-09 16:02] AshokPeddakotla-MSFT commented on #52061
@reneschulte Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-09 16:06] SumanthMarigowda-MSFT commented on #51658
@jackchenquest The underlying API already supports using existing private DNS zones, my assumption is that you had an issue using portal across subscriptions, we have an improvement coming very soon to allow users to select a different subscriptions than the one from Private Endpoint/VNet.
 I would suggest to use PS or CLI examples to configure the DNS until the portal support is available.
We wil

[2020-04-09 16:11] mohamed-shehata-m opened #52096 "This scenario does not work with azure sql"
The mentioned scenario works with app services (ip restriction , whitelist VPN subnet, add outbound IP to VPN GW routes). But it does not work with Azure SQL.

When you add VPN gateway subnet to the allowed list on azure sql and add Azure SQL gateway IPs (west europe in my case) to the VPN routes, it does not work. Azure SQL asks to whitelist my public IP address

---
#### Document Details

⚠ *Do

[2020-04-09 16:11] samsmithnz commented on #48198
3rd this feedback. This article doesn't read well for new users of load balancing, but I think would be a lot clearer with sine examples, e.g.
- "How to route your traffic 50/50 to two backend resources"
- "How to route your traffic to a backup resource when the primary resource is unreachable/slow".

[2020-04-09 16:13] cloudcrazie opened #52097 "What about conditional access for SaaS based on managed devices?"
Will this same conditional access applies to SaaS application such as the outlook application from o365 suite (not through the browser)? My objective is I only want AzAD joined or Hybrid joined devices to allow access to their email/ connect to exchange online using outlook client application.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-04-09 16:20] artisticcheese opened #52098 "How do you prevent rehydrated blob to be archived again"
If lifecycle policy is set on lastmodified date and you just rehydrated a blob it will automatically be put into archive tier on schedule run. How do you prevent this or what is Microsoft guidance in working in such situation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d8113f5-2769-908d-5fe4-36c5c401fbd9
* Version

[2020-04-09 16:23] jluk commented on #51860
@macols who owns ACI

[2020-04-09 16:31] tesych commented on #49268
Clarifiedin TOC that the guide is walking through the process of adding Azure Kinect Libriary to VS project  vs any project.  @SaurabhSharma-MSFT please close this issue if there's no other questions.

[2020-04-09 16:33] ecki commented on #51547
Thanks for transparent process and swift reply. And don't hurry just want to help as I like how MSFT involves the community (besides I try to better understand the service ,)

[2020-04-09 16:37] nayak-mahesh commented on #50796
@TravisCragg-MSFT - I have sent you instructions about how to access the data internally. Please ping me if you have any questions.

@jseely - thank you for the feedback. We will look into it. Exposing API to access the data may take some time, however we will go ahead and put an option for you to download the data in CSV format.

[2020-04-09 16:40] berndverst commented on #49186
@juchom Thanks for trying. Please note... this bug here is the official request to update the documentation for this feature. It should work now but apparently does not. I'll take it up with the product team internally and then we will get this updated once this has been implemented / fixed.

[2020-04-09 16:42] nayak-mahesh commented on #45987
Thank you @jangelfdez for your feedback. We are working on it, we will publish the inter AZ data soon.

[2020-04-09 16:42] esunder commented on #41775
@andrePKI what did you end up doing for step 17? I cant find the redirect_url either..

[2020-04-09 16:52] gbottari commented on #52032
Here at the [SSML documentation](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-synthesis-markup?tabs=csharp#adjust-speaking-styles).

[2020-04-09 16:58] jlichwa commented on #45793
It is hardcoded to 30 days today as it is still in Preview. Ability to modify it across all types is coming. It will be available by end of the year.

Jack Lichwa
Key Vault PM

[2020-04-09 17:05] Grace-MacJones-MSFT commented on #52080
Hi @cbcoutinho,  hanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-09 17:06] Forcebyte opened #52099 "Can we include an example here of assigning a role to the Tenant Root Management group?"
Just because its not 100% clear how that would work - its sort of tribal knowledge and should be documented. I.e just a small blurb stating that the 'Tenant Root' is treated as a management group when assigning custom roles.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1527b80e-5270-b5f0-9034-747c6f92ae4e
* Version I

[2020-04-09 17:06] himanshusinha-msft commented on #52051
Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on MSDN and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a document which you are following and if you think it needs  an update , please

[2020-04-09 17:07] 3vi1 opened #52100 "404 Error"
I've deployed this site multiple times.  It appears to be working until after I log in with the correct tenant group/name, then selecting a users UPN.  At that point I receive "Error Code : 404  Error : Access Denied! You are not authorized to get list of activities.Please contact system administrator".

404 would seem to indicate a page not found error.  I am a global admin, as well as the RDS Ow

[2020-04-09 17:08] himanshusinha-msft commented on #52085
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-04-09 17:18] HUBBER12 commented on #51900
Apologies - corrected link above.   I know we can use blob storage, but i was really looking forward to using Attachments in Cosmos DB, specifically because of the permissions capabilities of allowing access. not sure how i would create and coordinate 2 different permission brokers (one for Cosmos DB) and (one for Blob Storage).  I'm hoping CosmosDB/Attachmnets  is going to be replaced by CosmosDB

[2020-04-09 17:21] dsindona commented on #52007
@FbaillonGfi Pour confirmer, suggérez-vous que l'exemple de code dans le document soit le suivant?
`CreatedTime Timestamp gt '@{body('Get_past_time')}'`
(sans datetime)
Merci

[2020-04-09 17:23] jonwbstr commented on #51881
Here's another one,
The "company name" in the azure account profile should match the information submitted in the form.

https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/change-azure-account-profile#change-your-profile-information

[2020-04-09 17:30] SPIMS commented on #51425
I confirm that using Firefox works, using Chromium (edge) does not

[2020-04-09 17:31] mslot opened #52102 "Update urls"
Shouldnt the URLs be on the form http://localhost:7071/runtime/webhooks/durabletask/instances/5a52ef57aaab4fc7a295e23d5ffd4c35?taskHub=TestHubName&connection=Storage&code=QdkY8vdeKL0aoCmpokC2Cq5tnGRqxWs6GOCkjxYRfWPFZTQwwz3wlg==
instead of https://myfunc.azurewebsites.net/runtime/webhooks/durabletask/b79baf67f717453ca9e86c5da21e03ec? durabletask/instance, instead of just durabletask?

---
#### Docu

[2020-04-09 17:33] KranthiPakala-MSFT commented on #51880
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2020-04-09 17:33] #51880 closed

[2020-04-09 17:34] PaulEstevesAtPEX commented on #51830
Update, seems like I had to change the gpo from using the 'device credentials' to use 'user' instead.
I think I originally had 'user' and it wasn't' working. Not sure what changed.

[2020-04-09 17:35] rikogeln commented on #52079
Hi @reneschulte - the 401 of the secure token service (STS) indicates that either the account does not exist (anymore?) or the provided key is incorrect.

Can you please verify that the account with the ID you are using (stil)l exists and has not been deleted?

[2020-04-09 17:51] mathieu-benoit commented on #51672
Question for you @aristosvo, when you made it working `az aks update --attach-acr` with the Azure CLI version 2.3.1, did you have the `aks-preview` extension installed too?

[2020-04-09 17:53] YutongTie-MSFT commented on #52043
@appleyuchi
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-09 17:55] Simon-Gregory-LG commented on #37163
After more testing, it seems this may be premature as I've found it to be unstable and only works intermittently, so I guess this is **not quite production ready yet**.

[2020-04-09 17:57] anttitoippa opened #52103 "SAP connector / SAP outbound IDOC XML element naming"
Is there any way to make the azure enterprise sap connector to use "segment type" naming instead of "segment definition" when the connector receives IDOC packets from SAP.

eg. in INVOIC02 IDOC-type one element in "segment type" naming is E1EDK01 and same element is E2EDK01005 when using "segment definition"

All other sap connector what I've ever used uses "segment type" naming and now it seems t

[2020-04-09 17:58] reneschulte commented on #52079
Hi!

Like I wrote I recreated the ARR resource freshly and made sure the right account info ID and key are being used. Also reassigned IAM. See above comments for details.

So yes, that exists and I can use the same credentials with the quick start sample which successfully loads the model, etc.
Must be something with access issues between Storage account and ARR. Again, I made sure grant the 3 ro

[2020-04-09 17:59] jeevansd commented on #38747
@star-crossed To provide an update here, we have started the work in this direction and made few changes in the plugin. Right now we are testing these changes in our staged environment. As soon as we are ready with all the testing we will release this plugin in Private mode with you first to provide us the feedback. Then we can make this change available largely to our customers.

[2020-04-09 18:00] Grace-MacJones-MSFT commented on #51811
@narasimhareddyjob  How did you initially backup your app? Have you tried running this command for each slot per slot:

`Restore-AzDeletedWebApp -ResourceGroupName Default-Web-WestUS -Name ContosoApp -Slot Staging -TargetResourceGroupName Default-Web-EastUS -TargetName ContosoRestore -RestoreContentOnly`

[2020-04-09 18:05] kristerkarto commented on #51679
Is there different behaviour when doing this through visual studio rather than in the Azure Portal. When doing TIMESTAMP BY, system.timestamp does not change. I have set late arrival to max value I was able to in visual studio and out of order to 0.

[2020-04-09 18:07] probablyup commented on #21317
@tfosmark No documentation was ever added

[2020-04-09 18:09] ramondeklein commented on #50164
Dominik Wilsberg referred to this link: https://docs.microsoft.com/en-us/azure/cdn/cdn-troubleshoot-allowed-ca. It seems LetsEncrypt is not supported by the CDN :-(

[2020-04-09 18:11] aristosvo commented on #51672
@mathieu-benoit No, not at all.
Current setup:
[code]
But, to be honest, I didn't test if the functionality was added, as in the meantime I already did it by role assignment:
[code]

[2020-04-09 18:13] aristosvo commented on #51672
A step-by-step of my setup can be found here: https://aristosvo.github.io/posts/aks-with-msi-for-your-java-services/

[2020-04-09 18:16] subodhpatil opened #52105 "How to use logic app connector to deploy container inside the existing VNET and empty subnet?"
How to use a logic app connector to deploy containers inside the existing VNET and empty subnet?
The container code is written to access some resources within VNET.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5dc81341-bac0-e088-0211-0681b091a5bb
* Version Independent ID: 4ec768fc-2593-6cff-9763-1cbfc1dc30ca
* Conten

[2020-04-09 18:19] SaurabhSharma-MSFT commented on #51996
@nickwilliams-codynamic We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-09 18:19] #51996 closed

[2020-04-09 18:20] shashishailaj commented on #51688
@johnjohnjohn87 We are trying to get clarity on this from the backend team and will update the same on the thread. My apologies for the delay at this point.

[2020-04-09 18:20] chwarr commented on #52079
FYI, @reneschulte, the MS-CV value in the response isn't sensitive and doesn't need to be redacted. It's a [Correlation Vector](https://github.com/Microsoft/CorrelationVector) that is used to track requests as the bounce around inside Azure, similar to activity/trace ids used in other systems.

[2020-04-09 18:20] ahwhitley commented on #38747
Thank you for the update @jeevansd. Looking forward to seeing this plugin released!

[2020-04-09 18:20] himanshusinha-msft commented on #51649
We are closing this issue as we have not heard back from you , you can always re-open the issue if you think that appropriate .

[2020-04-09 18:20] #51649 closed

[2020-04-09 18:21] LeoLopezAtHL opened #52106 "Auto scale not starting host when more than 1 host contain a portion of the VM Name"
Hi,
The auto scale fails to start a host when the name is contained on other VMs. i.e. wvd-1, wvd-11, wvd-12
In this situation the host named wvd-1 will not start because some "if conditions" will fail. The reason is because the code is looking for the VM name in the name instead of matching the name. Meaning, there is a possibility for the search to return more than one VM. Multiple values will m

[2020-04-09 18:23] Karishma-Tiwari-MSFT commented on #52004
Is there any update?

[2020-04-09 18:27] amanmcse commented on #51877
@sergio-at-neocles You should use the same steps that I shared in my first comment. Even if you are using custom Page Layout, the content to the unified page will be inserted via signuporsingin API only. So there shouldn't be any problem due to custom page layout.

Here's my custom page https://moviesdiag132.blob.core.windows.net/b2c/unified.html and localization worked perfectly with this page us

[2020-04-09 18:36] TravisLRiffle commented on #52026
@DixitArora-MSFT I am trying to understand where to get the ID for the logger that I created in APIM.  I create a diagnostic setting that references the event hub in APIM, but the name of this resource isn't found when I try to save the policy with <log-to-eventhub logger-id='myloggername'> tag.  I was hoping this step would provide some clarity.  Is this suggesting I need to an HTTP call to creat

[2020-04-09 18:39] vvanloc opened #52107 "Error comand in install-updates-schedule-reboots.sh"
In line 102 we have: chmod 750 /tmp/schedule-reboots.sh
But line 104: ./tmp/schedule-reboots.sh $2
please replace line 104 with /tmp/schedule-reboots.sh $2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b88320c-d7c4-9842-0cab-81b499282189
* Version Independent ID: 10d84463-c27c-249e-9288-c30c2a5089c0
* Content: [Confi

[2020-04-09 18:41] jeffhollan commented on #47170
Not today - but we do have plans to have it be zone redundant automatically this calendar year

[2020-04-09 18:41] Borkason opened #52108 "Microsoft Update setting in Install Wizard?"
The installation wizard asks whether or not to use Windows Update.

What does this mean? Does it ask whether the agent should be kept up to date by using Windows Update? Or does this setting change how my server uses Windos Update?

![grafik](https://user-images.githubusercontent.com/2971735/78929338-8271ad00-7aa2-11ea-81f2-7ed2ac5d1855.png)

---
#### Document Details

⚠ *Do not edit this section.

[2020-04-09 18:46] jimsander opened #52109 "Reporting of Used Resources"
Would be very helpful to have reporting of resources used and quota/limits

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4dff594a-77ba-dca2-e3ae-f3a7bf0c3e1d
* Version Independent ID: b496ce1e-c8e6-8fe4-d41d-6f57606f5034
* Content: [Resource limits - managed instance - Azure SQL Database](https://docs.microsoft.com/en

[2020-04-09 18:58] cmmdesai commented on #51419
@kdziembaj Thanks for your feedback. There was a bug in the implementation that we have now fixed so the mapping allows you to flow the emailType attribute. Here are the steps to fix this issue:
1) Restore the mapping
2) Please set the emailType attribute to the picklistID for business email. You can use this ODATA query to get the picklistID for business email in your tenant.

https://<successfac

[2020-04-09 18:58] shivanshi18 commented on #52004
The issue got resolved. I used the internal Ip for nodes. Thanks.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Karishma Tiwari - MSFT <notifications@github.com>
Sent: Thursday, April 9, 2020 11:24:09 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Shivanshi Gupta <Shivanshi.Gupta@microsoft.com>; Author <author@noreply.github.com>
Subject: R

[2020-04-09 19:03] jflieben commented on #31853
You can also store the refresh token and keep using that, this way you can automated the process fairly reliably. An example: https://www.lieben.nu/liebensraum/2020/04/calling-graph-and-other-apis-silently-for-an-mfa-enabled-account/

[2020-04-09 19:04] himanshusinha-msft commented on #51773
@benmarriott-TVT I did tested the scenario , please find the details below . I did deployed the dummy Odata service

https://odataservice2hisinha.azurewebsites.net/Odatav4
https://odataservice2hisinha.azurewebsites.net/Odatav4/$metadata
https://odataservice2hisinha.azurewebsites.net/Odatav4/Products

I am not having any .svc thing which you mentioned .

I was able to create the Linked service when

[2020-04-09 19:05] mathieu-benoit commented on #51672
Thanks @aristosvo for following up with those details!

[2020-04-09 19:06] cmmdesai commented on #51429
@kdziembaj we have rolled out an update that allows setting SFSF username field with any attribute from Azure AD. Unfortunately onPremisesSamAccountName does not show up in the dynamic list retrieved for mapping. We recommend creating directory extension attribute for samAccountName using AAD Connect Sync and then flowing the value in SFSF Writeback. Here is the link to setup directory extension a

[2020-04-09 19:08] andrePKI commented on #41775
I am sorry, I don't remember...

Op do 9 apr. 2020 18:43 schreef Erik Sunderland <notifications@github.com>:

[2020-04-09 19:08] christiankuhtz commented on #51906
@hiteshvadgama Virtual Network NAT takes precedence over all outbound connectivity options.  The public IP frontend of load balancer will not be used for outbound connectivity.

If your external service only receives flows from Azure, you need to whitelist the IP's associated with the NAT gateway resource.  If your external service also needs to reach the standard LB endpoint, you may have to allo

[2020-04-09 19:11] vikassinha2019 opened #52110 "Alert rule evaluation 'Period (in minutes)' is overriding the the time window in query"
I have an alert rule against a query in Azure Monitor logs, in which the time window is specified. i.e

**_dependencies
    | where type == "abc" and timestamp > ago(4d)_**

I want to run this query at regular time interval, say 30m and query the data in last 4 days.

In the rule, i have to put the value in evaluation 'Period (in minutes)' , since it is a mandatory field. And it is overriding the

[2020-04-09 19:12] adkuniho opened #52112 "Erroneous code snippet"
https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-netcore-daemon#msal-initialization

The code snippet includes a trailing ");" which does not appear to match any opening parenthesis.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fd30f7f-e5ce-67d5-2536-ee1d115a573d
* Version Independent ID

[2020-04-09 19:18] gaikovoi opened #52113 "Missing namespace"
1. The namespace "microsoft.insights" is not documented here.
2. Action groups (microsoft.insights/actiongroups) can have tags - will these resources be included into evaluation by Azure Policy in the "indexed" mode?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66769e1b-720b-f1b1-a5e3-ed5cb24cd233
* Version Independe

[2020-04-09 19:22] TravisCragg-MSFT commented on #52096
@mohamed-shehata-m There is no limitation with this scenario and Azure SQL. [Please review This Doc for getting Service Endpoints set up with Azure SQL](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-vnet-service-endpoint-rule-overview?toc=/azure/virtual-network/toc.json#impact-of-using-vnet-service-endpoints-with-azure-storage) and let me know if you have any additional issues.

[2020-04-09 19:33] MarileeTurscak-MSFT commented on #51761
1. True.User
2. ReadWrite.All is enough.

Those are permissions for MS Graph or AAD Graph.

[2020-04-09 19:35] AjayKumar-MSFT commented on #51989
@lopejum, Apologies for the issue you encountered. Thanks for sharing a detailed description of the issue.  If I understand the issue correctly, it appears that you’re facing this issue only when trying it from Twilio but works via Rest client.
I wish to engage with you offline for a closer look and provide a specialized assistance, please send an email with subject line “Attn:Ajay” to AzCommunity

[2020-04-09 19:41] AjayKumar-MSFT commented on #49245
@lopejum, For a closer look, I have responded to your other GitHub thread. Thanks for the comment.

[2020-04-09 19:44] AjayKumar-MSFT commented on #51836
@GFoley83, Just checking if the above post helped address your question or you wish to receive more clarity on this topic.

[2020-04-09 19:45] #51952 closed

[2020-04-09 19:45] rofangaci opened #52114 "what's the equivalent cmd in CLI v2.0?"
azure config mode arm
azure group deployment create &lt;my-resource-group&gt; &lt;my-deployment-name&gt; --TemplateFile deploylaworkspacetemplate.json --workspaceName &lt;workspace-name&gt; --location &lt;location&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7651b7e-278e-2839-e9f4-cee3d8c8d60b
* Version Independ

[2020-04-09 19:46] JimMoyle opened #52115 "remove Windows 10 IoT Enterprise from the Applies to header"
Windows 10 IoT Enterprise is not supported in WVD

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85b331f4-5939-688a-31e6-7f4c5e1c185d
* Version Independent ID: 42e1f341-92c0-0a9b-9c3b-efbb5238844f
* Content: [Microsoft Teams on Windows Virtual Desktop - Azure](https://docs.microsoft.com/en-us/azure/virtual-desktop/team

[2020-04-09 19:47] AjayKumar-MSFT commented on #51952
@GFoley83, We have followed-up on your original thread. Thanks again for your feedback.

[2020-04-09 19:48] kristerkarto commented on #51679
From my testing, I can't seem to verify the behaviour. I have documented what I am getting here: https://stackoverflow.com/questions/61011072/custom-timestamp-is-not-taken-into-account-in-blob-path-for-stream-analytics

[2020-04-09 19:53] amasse3 opened #52116 "Proxy settings in machine.config"
I've found I need to also set proxy settings in machine.config as documented here https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-install-prerequisites#connectivity

For Sync, this would already be completed during AAD Connect configuration, but for AD FS agent this additional step is also required.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2020-04-09 19:59] rboucher commented on #45647
Closing as I haven't heard anything.  If this is still a problem, please reopen. I've updated the metrics as of 4/6/2020

[2020-04-09 19:59] rboucher commented on #45647
#please-close

[2020-04-09 19:59] #45647 closed

[2020-04-09 20:06] XiaoyuMSFT commented on #50615
Links to syntax are added to the article.

#please-close

[2020-04-09 20:06] #50615 closed

[2020-04-09 20:07] Karishma-Tiwari-MSFT commented on #52060
Thanks for the question. We are currently investigating and will update you shortly.

[2020-04-09 20:08] mekinney opened #52117 "How do I add another administrator to the new B2C tenant?"
Only the owner can add applications, etc.  Making existing users within the parent AAD owners of the B2C tenant doesn't add them to the new tenant.  Can't find information online or anywhere how to do this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 588fc4d6-0c4d-297d-cfe1-8562728fdc4d
* Version Independent ID: cf1

[2020-04-09 20:09] tfitzmac commented on #52113
@gaikovoi - thanks for the feedback. I'll add Insights to the article. Yes, actionGroups would be evaluated in indexed mode.

[2020-04-09 20:10] andrePKI opened #52118 "Other services besides Azure Monitor?"
Maybe this is not the appropriate place, but this is the best description I can find. However, we have design considerations and questions about which log analytics workspace to use for things like Azure Information Protection/Analytics and Advanced Threat Protection (the latter does not provide a choice if I am right - only a region can be specified), but as Kusto can be leveraged I assume a LAWS

[2020-04-09 20:10] mohamed-shehata-m commented on #52096
@TravisCragg-MSFT , I tried this scenario today by doing the following:

- Advertise Azure SQL Gateway IP addresses on VPN gateway routes (40.68.37.158/32, 191.237.232.75/32, 104.40.168.105/32)
- Add Firewall rule to allow VPN gateway subnet on Azure SQL server.
- Service endpoint is enabled now for more than 5 hours.
- SQL management studio still asks for whitelisting my public IP address

We are

[2020-04-09 20:20] XiaoyuMSFT commented on #48138
@amvieira Looks like there could be some customer education opportunity here.  The article started the HEAP section with "When you are temporarily landing data in Synapse SQL pool, you may find that using a heap table makes the overall process faster."  I think this should be a very clear recommendation on when to use HEAP for faster performance.    We could add a note saying after the data loadin

[2020-04-09 20:25] sdgilley commented on #51876
Thanks, we're looking into it now.

[2020-04-09 20:42] mike-urnun-msft commented on #52089
@shashankkr Thank you for your feedback! We will review and update as appropriate.

[2020-04-09 20:42] wes-b commented on #38553
@tesych @Alberto-Vega This needs to be reopened. The sensor SDK repro issue didn't cover updating the docs.

[2020-04-09 20:43] mike-urnun-msft commented on #52102
@mslot Thank you for your feedback! We will review and update as appropriate.

[2020-04-09 20:43] mhopkins-msft commented on #51451
Hi @alexvolchetsky

I've fixed these broken links. The topic will be published later today.

Thanks for reporting this!
 ~ *Mark*

#please-close

[2020-04-09 20:43] #51451 closed

[2020-04-09 20:44] SaurabhSharma-MSFT commented on #52087
@CharmanderJieniJieni No, once the managed identity is created it is tied to the resource till the resource is deleted or managed identity is turned off from Azure portal.

[2020-04-09 20:44] mike-urnun-msft commented on #52103
@anttitoippa Thank you for your feedback! We will review and update as appropriate.

[2020-04-09 20:46] tesych commented on #48278
@bleeb296, sorry for the delayed response. Can you please provide additional information what is missing from Hardware spec documentation that you are looking for? We cannot share CAD drawings, but will be happy to provide additional information.

[2020-04-09 20:46] mike-urnun-msft commented on #52105
@subodhpatil Thank you for your feedback! We will review and update as appropriate.

[2020-04-09 20:47] jackchenquest commented on #51658
I am not sure if we are talking about the same feature. I would like to be able to register a storage account private endpoint with my own domain, but currently the only option is "<mysharename>.file.core.windows.net" .

I can add a new private endpoint from "storage account" -> "private endpoint connections" , but the only option for "Private DNS zone" is privatelink.file.core.windows.net :
![ima

[2020-04-09 20:52] CharmanderJieniJieni commented on #52087
Thanks, does this apply to both system-assigned or user-assigned managed
identity?

On Thu, Apr 9, 2020 at 4:44 PM SaurabhSharma-MSFT <notifications@github.com>
wrote:

[2020-04-09 20:55] BreakingBI opened #52119 "A Few Options for Reducing Potential Reader Confusion"
Thanks for all of the effort put into this article.  I've been working with a couple of customers on it and there were a few areas that caused confusion.

	1) In the ARM Template section &lt;https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment#create-a-resource-manager-template-for-each-environment&gt;, it's not obvious that the Test and Production Factories need t

[2020-04-09 21:02] MartinJaffer-MSFT commented on #52086
Hello @shriazure  and thank you for your question.

The answer can depend on your setup, but assuming:
- Source and sink are in the same region / datacenter
- You are using the default (AutoResolveIntegrationRuntime) or an Azure IR hosted in the same region

Then there is no need to go through the public internet, and it all stays in the Azure backbone.

If Source and sink are in different azure r

[2020-04-09 21:02] SaurabhSharma-MSFT commented on #52112
@adkuniho Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-09 21:03] Grace-MacJones-MSFT commented on #52050
@davecatt  I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-09 21:03] #52050 closed

[2020-04-09 21:03] SaurabhSharma-MSFT commented on #52097
@cloudcrazie Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-09 21:03] Juliako commented on #52049
#please-close

[2020-04-09 21:03] #52049 closed

[2020-04-09 21:03] SaurabhSharma-MSFT commented on #52116
@amasse3 Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-09 21:04] jackchenquest commented on #51658
the help message shows:
![image](https://user-images.githubusercontent.com/28953194/78939812-c9e84100-7a82-11ea-8a6e-ca45790ac703.png)

We don't want to forward "file.core.windows.net" to Azure DNS since this is also a valid public domain.

We already have private DNS setup in multiple VNets like vn240-64.azure.cloud , so if the storage account can use existing DNS and register a domain like [mysh

[2020-04-09 21:04] SaurabhSharma-MSFT commented on #52117
@mekinney Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-09 21:05] femsulu commented on #51832
Hi @MGoedtel  - it appears we need to revise the referenced content above.

[2020-04-09 21:11] TravisCragg-MSFT commented on #51777
@arvind-dhariwal If you are using VNET Service Endpoints, the request must come from within the VNET. If your SHIR is on-prem, you will need to NAT the traffic in your Azure VNET to use the Service Endpoint. As a best practice, your SHIR should be on-prem.

You might want to consider using an [Azure Private Endpoint](https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-overview) in

[2020-04-09 21:12] mekinney commented on #52117
I figured this out.  It's a little counter-intuitive, but you invite a guest user and if they happen to be in your organizations AAD, Azure figures it out.  Then assign them Global Admin permissions, or whatever you need.  That wasn't obvious to me, but it worked.

[2020-04-09 21:12] #52117 closed

[2020-04-09 21:13] keithdv commented on #45071
@Khyzdul I never got the Microsoft Graph API to accept a SAML Assertion as documented. I got stuck at the error you are at. Within Azure stick with OAuth2 tokens.

What we did accomplish is other vendors (MuleSoft, SAP) will accept the SAML Assertion to get user specific OAuth2 bearer tokens.

To me this is logical. OAuth2 is not meant to involve more then one Identity providers. SAML is designed

[2020-04-09 21:21] maxcli commented on #52023
surprised you cannot understand. i simply wanted to print the article, but
the layout chops off the 1st letter, thus rendering the document unusable.
Do you understand yet?

On Wed, Apr 8, 2020 at 6:47 PM TravisCragg-MSFT <notifications@github.com>
wrote:

[2020-04-09 21:30] TravisCragg-MSFT commented on #52023
@maxcli Thanks for the clarification! I can now understand now that you have given enough context.

What browser are you using? Can you try using a different browser and see if that gives the same result? I was able to print this page to a PDF without an issue in both Chrome and Edge using ctrl+p.

[2020-04-09 21:31] RonPattersonBadger opened #52120 "link to set-acl goes to get-acl"
link to set-acl goes to get-acl

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fba964be-3f77-d80c-f1a5-35bb1430bb8f
* Version Independent ID: fe70b11e-10fe-5a8c-1fad-b22a83693503
* Content: [Enable Active Directory authentication over SMB for Azure Files](https://docs.microsoft.com/en-us/azure/storage/files/storage-fil

[2020-04-09 21:38] tghw opened #52121 "Wildcard domains"
When I attempt to add a custom domain, I get the error "The custom domain hostname isn't in the right format"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81a99fee-aaee-89d5-958b-ab645d8f6a00
* Version Independent ID: edeb5885-5b26-299d-8ffe-6d0be1533769
* Content: [Azure Front Door - Support for wildcard domains](ht

[2020-04-09 21:39] Grace-MacJones-MSFT commented on #51999
Hello @mohamed-shehata-m, it looks like this is a known issue that the product team is aware of. Will close this issue for now as its been tracked [here](https://github.com/Azure/azure-cli/issues/10664) in the Azure CLI repo.

 If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-09 21:39] #51999 closed

[2020-04-09 21:50] espray opened #52122 "Adding Wildcard Domain via API"
Where is the documentation/sample for adding wildcard domains via the API?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81a99fee-aaee-89d5-958b-ab645d8f6a00
* Version Independent ID: edeb5885-5b26-299d-8ffe-6d0be1533769
* Content: [Azure Front Door - Support for wildcard domains](https://docs.microsoft.com/en-us/azur

[2020-04-09 21:51] espray opened #52123 "Adding wildcard Domain via PowerShell"
Where is the documentation/sample for adding wildcard domains via the PowerShell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81a99fee-aaee-89d5-958b-ab645d8f6a00
* Version Independent ID: edeb5885-5b26-299d-8ffe-6d0be1533769
* Content: [Azure Front Door - Support for wildcard domains](https://docs.microsoft.com/en-

[2020-04-09 21:52] espray opened #52124 "Adding Wildcard Domain via CLI"
Where is the documentation/sample for adding wildcard domains via the CLI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81a99fee-aaee-89d5-958b-ab645d8f6a00
* Version Independent ID: edeb5885-5b26-299d-8ffe-6d0be1533769
* Content: [Azure Front Door - Support for wildcard domains](https://docs.microsoft.com/en-us/azur

[2020-04-09 21:53] cijothomas commented on #41725
@rajkumar-rangaraj has fixed the product to support .net framework apps as well. The doc shuld be updated accordingly, and this issue can be closed one thats done.

[2020-04-09 22:06] prashant-kumar-mishra opened #52125 "create is not a member of object com.microsoft.azure.eventhubs.EventHubClient"
Hello guys,
I tried to run this on my databricks cluster but it does not work. I tried all the work around mentioned in previous comments but still it does not work. Can you please let me know the fix?
command-4117866950448516:19: error: value create is not a member of object com.microsoft.azure.eventhubs.EventHubClient
    val eventHubClient = EventHubClient.create(connStr.toString(), pool)

---

[2020-04-09 22:09] DavidCBerry13 commented on #48528
I updated the table with the correct Sku for Sharepoint.  Thank you.  #please-close

[2020-04-09 22:09] #48528 closed

[2020-04-09 22:11] MarileeTurscak-MSFT commented on #51973
It's not specifically relevant, but for people who are wanting to meet GDPR compliance it can point them in the right direction for learning to delete user data. https://docs.microsoft.com/en-us/schooldatasync/how-to-delete-a-user-gdpr

I've passed your feedback along to the content author, @rolyon , to update the article as needed. He may end up removing that note.

[2020-04-09 22:11] #51973 closed

[2020-04-09 22:23] jlichwa commented on #45793
Default removed from documentation to avoid confusion. #please-close

[2020-04-09 22:23] #45793 closed

[2020-04-09 22:24] ryanspletzer commented on #47170
![image](https://media1.tenor.com/images/d1ad050c8aa32eddd5959e81a1b10fd8/tenor.gif?itemid=9510685)

[2020-04-09 22:24] basilwong opened #52126 "Outbound IP Address for Webhook Activity"
Need to whitelist an IP address for the Webhook Activity accessing a server API. Is the Outbound IP Address the same Data Factory's static IP range?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6f4db3e-4194-0e9e-a4d1-1c456c6f2efe
* Version Independent ID: fbf5b447-3b63-ac21-ddac-903341223938
* Content: [Webhook acti

[2020-04-09 22:29] espray opened #52127 "Sample for Wildcard Domain verification"
Sample for verifying a wildcard domain
https://docs.microsoft.com/en-us/azure/frontdoor/front-door-wildcard-domain

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b19a24a-e9e6-0296-69b2-d1fead57c16c
* Version Independent ID: 9d0164f0-1b82-439d-c32d-c93a4c56f314
* Content: [Tutorial - Add custom domain to your Azure Fro

[2020-04-09 22:35] mrbullwinkle commented on #48171
@jstallm I've updated the doc to indicate the [two currently supported ways to access release annotations](https://docs.microsoft.com/azure/azure-monitor/app/annotations#view-annotations). Unfortunately, release annotations are not currently supported in the new Metrics experience. They are still available in any of the usage blades/panes as well as in workbooks with log-based queries.

[2020-04-09 22:35] mrbullwinkle commented on #48171
I am going to close out this issue, thanks again for helping to improve our docs!

[2020-04-09 22:36] mrbullwinkle commented on #48171
#please-close

[2020-04-09 22:36] #48171 closed

[2020-04-09 22:38] anavinahar commented on #48459
Hi there, Log Analytics doesn't have functionality to export multi dimensional metrics (what Standard Load Balancer has). Until then, we don't have a mechanism to export via Log Analytics.
However, we are working on some other methods, stay tuned. Thanks!

#please-close

[2020-04-09 22:38] #48459 closed

[2020-04-09 22:41] anavinahar commented on #47227
We will not be publishing the algorithm for thus publicly, but making improvements to our SNAT related docs coming up shortly.

Thanks for raising, Justin!
#please-close

[2020-04-09 22:41] #47227 closed

[2020-04-09 22:41] TravisCragg-MSFT commented on #51933
@RonnieQuan If you want to access your storage account by a different FQDN, you will need to [add a record to your DNS zone pointing to the correct IP Address or FQDN](https://docs.microsoft.com/en-us/azure/dns/private-dns-getstarted-powershell#create-an-additional-dns-record). It is recommended to name the zones from the listed table.

[2020-04-09 22:47] coderwithadream commented on #51924
Thanks @DixitArora-MSFT! Just for reference, here's a link to my [post ](https://stackoverflow.com/questions/61131393/in-the-run-query-and-visualize-results-action-from-azure-monitor-logs-connect) on Stack Overflow. I'll go ahead and close this issue.

[2020-04-09 22:47] #51924 closed

[2020-04-09 22:52] SnehaGunda commented on #52064
@abhirockzz I replaced exe with application to be compatible with all OS.

[2020-04-09 22:53] SnehaGunda commented on #52064
We will now close this issue.

#please-close

[2020-04-09 22:53] #52064 closed

[2020-04-09 22:55] SaurabhSharma-MSFT commented on #52087
@CharmanderJieniJieni yes, Azure does not rotate the credentials for both System and User assigned managed identities.

[2020-04-09 22:56] SaurabhSharma-MSFT commented on #51692
@brandonh-msft We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-09 22:56] #51692 closed

[2020-04-09 22:58] jluk commented on #47227
Thanks @anavinahar even if just (1) and (2) are addressed on the update that is a huge help.

[2020-04-09 22:58] MarileeTurscak-MSFT commented on #51807
Thanks! I made a pull request to add it. https://github.com/MicrosoftDocs/azure-docs-pr/pull/110899

[2020-04-09 22:58] #51807 closed

[2020-04-09 23:00] vivesg opened #52130 "Issues on IOPS"
Please check the values for the IOPS
https://azure.microsoft.com/en-us/pricing/details/managed-disks/
As we have wrong values for the IOPS limits
E4 Section for example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2cd6eb6c-745c-b3eb-8ea8-7fb3be24b607
* Version Independent ID: 93637a78-fc66-6c5d-7845-a4fad0045c7d
* Co

[2020-04-09 23:00] SnehaGunda commented on #52107
#reassign: @dagiro

[2020-04-09 23:02] CharmanderJieniJieni commented on #52087
Thanks. Does it use password or certificate to authenticate in backend? This is important information and would you please make sure the document mention this?

[2020-04-09 23:04] SaurabhSharma-MSFT commented on #52112
@adkuniho The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-04-09 23:04] #52112 closed

[2020-04-09 23:07] MarileeTurscak-MSFT commented on #49672
@yoelhor is there any update on this?

Should this be moved to a support case?

[2020-04-09 23:17] Mike-Ubezzi-MSFT commented on #52077
@abhirockzz Thank you for this detailed feedback. We are evaluating this and make an update as appropriate to the documentation.

[2020-04-09 23:19] MartinJaffer-MSFT commented on #51671
@nmakarov-artis
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2020-04-09 23:19] #51671 closed

[2020-04-09 23:19] MartinJaffer-MSFT commented on #51863
@kilagg
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2020-04-09 23:19] #51863 closed

[2020-04-09 23:20] BrendaMeng commented on #51785
@manish-95 Thanks for the feedback.  Can you please provide your tenant name, or the email address you use in Speech studio?

[2020-04-09 23:20] SnehaGunda commented on #52025
@christophersgreen Thanks for pointing out the issue. It might be the limitation on the free subscription, or please try using a different region for deployment.

As mentioned above, there is nothing we can do in the doc. Can you please open a support ticket or a forum post. We will close this issue here and track it on the other channel.

[2020-04-09 23:28] bebemau opened #52131 ".Net Framework Web application using managed identity?"
Any sample application for .Net Framework web application?  I have been successful with integrating App Configuration Store with Core web application and .net Framework core but cant get a .net framework web application to work.  I kept getting this error: Method not found: 'Void Azure.Data.AppConfiguration.SettingSelector.set_AsOf(System.Nullable`1&lt;System.DateTimeOffset&gt;)'.

---
#### Docume

[2020-04-09 23:38] Grace-MacJones-MSFT commented on #51482
Hi @batanun, i reproduced your issue and the portal does enforce the ASE 37 character limitation .
![ASE Name testing](https://user-images.githubusercontent.com/42247081/78949385-3b72c000-7a80-11ea-9c71-b8a9fc94f7d0.PNG)

However, we have added a note in the doc about the character limitation. I have submitted a PR to update the doc, the change is merged internally and will go-live in the public d

[2020-04-09 23:38] #51482 closed

[2020-04-09 23:49] clloren-mi4 commented on #40696
Had the same problem solved by pressing enter key within the expression. Change your @replace(varName, '\n', '') to @replace(varName, '[press enter here]', '') . Guess it figures out the newline character automatically.

[2020-04-09 23:52] Karishma-Tiwari-MSFT commented on #52078
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-09 23:59] mananshah19 opened #52133 "Adding additional disks to SQL Virtual machine"
I have SQL Virtual machine installed and have already configured the Data, Log and TempDB disk. But i would like to add one more disk 'BackUp' to the SQL Virtual machine .  Is it possible via ARM template ? As i tried to add a disk , it will add it to the VM but the 'Configure' option in SQL Virtual machine will not recognize it just like other disk (  Data, Log and TempDB ) where we see an option

[2020-04-10 00:06] acobb69 commented on #51835
Wanted to let know that it is still trying to power down hosts that are not running and is not powering down VDI hosts. Off Peak started at 18:10 and not one VM has been powered down. As you see below it keeps trying to power down VMs that are not available.

It is Off-peak hours

Starting to scale down WVD session hosts ...

Processing hostpool PrgJmp1
Checking session host: VDIPrgJmp1-2.domain.c

[2020-04-10 00:08] dsindona commented on #50987
@FSharpCSharp sorry for the delay on this. I am making edits to the article that will publish by tomorrow. The intended field is the **Help link URL** which partners can use to point to additional documentation (in other languages), a landing page, etc.,  on their websites. Let me knwo if you have any other questions.
#please-close

[2020-04-10 00:08] #50987 closed

[2020-04-10 00:08] Mike-Ubezzi-MSFT commented on #52077
@abhirockzz An update has been published, and will be visible within the next 24hrs. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-04-10 00:08] #52077 closed

[2020-04-10 00:18] Karishma-Tiwari-MSFT commented on #52095
https://github.com/MicrosoftDocs/azure-docs-pr/pull/110914

Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

[2020-04-10 00:18] #52095 closed

[2020-04-10 00:21] Mike-Ubezzi-MSFT commented on #52092
@salavala Thank you for bringing this to our attention. Since this is a 3rd party product, let me investigate this a bit and will have feedback for you shortly.

[2020-04-10 00:26] Karishma-Tiwari-MSFT commented on #52094
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

[2020-04-10 00:33] mike-urnun-msft commented on #50146
@steveculshaw Thanks again for your feedback and helping us drive improvement toward MS Docs! I've created a PR that changes the statement and it should live within the next 24hrs.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-10 00:33] #50146 closed

[2020-04-10 00:36] jimbarrett33 opened #52135 "there is no Settings > Partner Settings > Programs > Get Started."
it brings me to https://partner.microsoft.com/en-US/ which is more of a marketing page for what partners can do. I'm always so confused with what I'm looking at when inside or linking to the partner network and/or dashboard.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e16147fb-8da4-6c41-be0f-b2856043c7c9
* Version I

[2020-04-10 00:38] MashaMSFT commented on #52133
Hi @mananshah19 , thanks for contacting Microsoft! Let me do a bit of research :)

Thanks!
Masha from the SQL Docs team

[2020-04-10 00:38] rboucher commented on #41219
@ciufudean Dev says they didn't change the location so I'm not sure why it's an issue on your side.  It's going to vary based on what you are hooked to.

[2020-04-10 00:38] Wibbbs commented on #51842
Sorry I thought I commented on the page, not sure it needed up here. Anyway it was for this page.

[2020-04-10 00:40] manalotoj commented on #50421
Please confirm that setting acceptMappedClaims to true in the application manifest is a recommended practice for internal-only/single tenant applications as noted in https://github.com/MicrosoftDocs/azure-docs/issues/5111.

[2020-04-10 00:41] MartinJaffer-MSFT commented on #51574
Thank you for your feedback, @haidongh . This has been assigned to the content owner and will be updated as appropriate.
@RodgeFu

[2020-04-10 00:42] Karishma-Tiwari-MSFT commented on #52115
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-10 00:44] femsulu commented on #52075
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-04-10 00:45] MarileeTurscak-MSFT commented on #51761
Hope this helps! I'm closing this out but if this doesn't fully answer your question feel free to open a new issue or email me at AzCommunity@microsoft.com

[2020-04-10 00:45] #51761 closed

[2020-04-10 00:46] kobulloc-MSFT commented on #52131
@bebemau Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-04-10 00:46] himanshusinha-msft commented on #52082
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-04-10 00:51] himanshusinha-msft commented on #52093
Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on MSDN and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a document which you are following and if you think it needs  an update , please

[2020-04-10 00:51] femsulu commented on #52108
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-04-10 00:54] Karishma-Tiwari-MSFT commented on #52130
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-10 00:54] Karishma-Tiwari-MSFT commented on #52100
Thanks for the question. We are currently investigating and will update you shortly.

[2020-04-10 00:54] himanshusinha-msft commented on #52098
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-04-10 00:55] Karishma-Tiwari-MSFT commented on #52106
Thanks for the question. We are currently investigating and will update you shortly.

[2020-04-10 00:57] Karishma-Tiwari-MSFT commented on #52004
Thanks for sharing the update.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-04-10 00:57] #52004 closed

[2020-04-10 00:58] himanshusinha-msft commented on #52090
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2020-04-10 00:59] Karishma-Tiwari-MSFT commented on #51455
Thanks @zr-msft  :)

[2020-04-10 00:59] femsulu commented on #52113
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-04-10 01:01] femsulu commented on #52114
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-04-10 01:01] himanshusinha-msft commented on #52109
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-04-10 01:02] himanshusinha-msft commented on #52110
Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on MSDN and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a document which you are following and if you think it needs  an update , please

[2020-04-10 01:03] himanshusinha-msft commented on #52119
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-04-10 01:05] himanshusinha-msft commented on #52120
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-04-10 01:05] TravisCragg-MSFT commented on #52121
@tghw can you post the error message that you get, along with the format of the domain you are trying to add? Make sure to edit out the actual domain name.

[2020-04-10 01:05] Karishma-Tiwari-MSFT commented on #51738
Certain default limits and quotas can be increased. You would need to try requesting by following the process [here](https://ms.portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade/newsupportrequest).

[2020-04-10 01:06] himanshusinha-msft commented on #52122
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-04-10 01:06] Karishma-Tiwari-MSFT commented on #51657
Thanks for sharing the update.

[2020-04-10 01:07] TravisCragg-MSFT commented on #52122
@espray Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-10 01:09] himanshusinha-msft commented on #52125
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-04-10 01:10] TravisCragg-MSFT commented on #52123
@espray Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-10 01:10] himanshusinha-msft commented on #52126
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-04-10 01:11] TravisCragg-MSFT commented on #52124
@espray Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-10 01:11] femsulu commented on #52118
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-04-10 01:11] TravisCragg-MSFT commented on #52127
@espray Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-10 01:21] himanshusinha-msft commented on #52135
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-04-10 01:21] tghw commented on #52121
Error: "The custom domain hostname isn't in the right format"

The domain is *.example.com.

I later found the note that the portal doesn't support wildcards yet and got it working through Powershell instead. My only comment is the documentation should note that the portal doesn't allow wildcard domains yet.

[2020-04-10 01:22] Mike-Ubezzi-MSFT commented on #52092
@salavala With Qlik Sense desktop, you can install an extension that will reload data manually. Please see: [Qlik Sense Reload Button](https://github.com/mhamano/Qlik-Sense-Reload-Button). Or you can deploy the [Qlik Sense Server](https://azuremarketplace.microsoft.com/en-us/marketplace/apps/qlik.qlik-sense) from Azure Marketplace, and automate this process via the [task scheduler](https://help.ql

[2020-04-10 01:24] himanshusinha-msft commented on #52099
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-04-10 01:28] femsulu commented on #52135
adding content owner, @qianw211 to review the doc enhancement request.

[2020-04-10 01:28] nbandi413 opened #52137 "Azure VM agent is removed after sysprep(Generalized), now the VMs deployed from sysprep image doesn't have VM agents, so extension won't work until manual installation of the VM agent"
Azure VM agent is removed after sysprep(Generalized), now the VMs deployed from the Generalized image doesn't have VM agents, so extension won't work until manual installation of the VM agent. Extensions makes it easy for provisioning VMs from image using IaC tools like Terraform.
Suggestion: During VM creation from image, there should be an option to enable VM agent and Azure should auto provisio

[2020-04-10 01:38] femsulu commented on #51819
Hi @ROSMITHJ-MSFT We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-04-10 01:38] #51819 closed

[2020-04-10 01:44] kshingo opened #52138 "Notification settings"
I want to know precise description about Notification tab on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 791cb6b6-4733-1c1d-75c5-9318049163af
* Version Independent ID: 4752b0bc-ab61-69e3-972f-80d6be2baa55
* Content: [Configure Azure AD role settings in PIM - Azure AD](https://docs.microsoft.com/en-us/azur

[2020-04-10 01:55] levi106 commented on #51805
Thank you for the response. I will report the issue on the SDK repository.

[2020-04-10 02:01] Mike-Ubezzi-MSFT commented on #52109
@jimsander Through [Azure SQL Analytic](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/azure-sql#azure-sql-analytics-options)s, much of this information can be brought into a reporting view. Is there something specific you had in mind?

[2020-04-10 02:25] dschlitt opened #52139 "Is VM to VM internal communication encrypted"
If I have two VMs on the same VNet, is their communication encrypted? And if so, with which protocol? If not, how is the communication secured? The overview claims the communication is secure and mentions these details for the gateways, but it doesn't mention them for internal, VM to VM communication. Knowing this will help my team evaluate the security of the azure VNet solution!

Thanks,
Danny

[2020-04-10 02:29] Mike-Ubezzi-MSFT commented on #51732
@michuny25 The `PartitionKey`  is indexentities (per the image) in this example and goes on to state:

The [Issues and Considerations](https://docs.microsoft.com/en-us/azure/cosmos-db/table-storage-design-guide#issues-and-considerations-3) section further details each scenario.

See also: [Entity Group Transactions (EGTs)](https://docs.microsoft.com/en-us/azure/cosmos-db/table-storage-design-guide

[2020-04-10 02:51] linda33wj commented on #50728
Thanks for the feedback! It's correct that currently empty string as delimiter is not supported in Copy activity. I've updated the doc to clarify this.

#please-close

[2020-04-10 02:51] #50728 closed

[2020-04-10 02:56] AlissonRS opened #52140 "Timezone for dates in the Portal"
It's not clear what timezone is used to display dates in Application Insights (in Azure Portal). It seems it uses the same timezone as my computer. I wanted to see any logs/events/telemetry in UTC date time.

How can we switch to UTC in Azure Portal?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88844d44-a476

[2020-04-10 03:26] geoffreygeslin commented on #35558
Hi @jnoller ,

Is there any "/var/run/reboot-required" équivalent for Windows nodes requiring a reboot ?
I thnik the whole reboot responsibilty problem is same for Windows nodes, isn't it ?

[2020-04-10 03:32] wwlpublish opened #52141 "Are the new Neural voices 云扬 ready for use ? Could we start pilot?"
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/language-support#neural-voices

What is the short voice name of 云扬? and which region it support?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4de08d1f-8114-7bef-7ef4-022f79c69742
* Version Independent ID: 4c0ceab9-24ed-de01-db30-31acf1de0f48
* C

[2020-04-10 03:45] worldspawn opened #52142 "Running different function apps in the same hub"
A year a more ago (when i was using v1) I asked if it was possible to run more than one functions application targeting the same hub. My reasons for wanting to do such a thing is too allow one set of functions to scale independently of another. So I can have a bunch of light weight orchestration/activity functions running in one application and allow a high number of concurrent activity/orchestrat

[2020-04-10 03:54] Mike-Ubezzi-MSFT commented on #51784
@roofiq  This will need to go to [Azure Support](https://azure.microsoft.com/en-us/support/create-ticket/) for investigation but will see if I can assist you here.
My assumption here is that you are attempting to copy an elastic pool database instance as a new database within the same elastic pool via an ARM Template. Is that correct? What is the difference between pipeline run 1 and pipeline run

[2020-04-10 04:11] steelburger commented on #48825
Hi guys,

Would be great if can include error 1396 troubleshooting guide. I encountered this error while trying to map the files share to AD joined machines.

System error 1396 has occurred.
The target account name is incorrect.

"Join-AzStorageAccountForAuth" ran successfully with Provisioning State shown as Succeeded.
The Computer Account in local AD was already created successfully.
"Get-AzStor

[2020-04-10 04:11] agr opened #52143 "How to save functions with arguments?"
Judging by [documentation](https://docs.microsoft.com/en-us/azure/kusto/management/create-alter-function) there is a support for stored functions with arguments. But in Application Insights `.create-or-alter` statement does not seem to be supported and UI lacks options for functions with arguments. Is there any way to create function that accepts arguments?

---
#### Document Details

⚠ *Do not ed

[2020-04-10 04:28] BharathNimmala-MSFT commented on #52083
@bartvermeersch Thank you for reaching out to us. Our team will look into it and get back to you at the earliest.

[2020-04-10 04:35] Elaine-mtt opened #52144 "HPA scale-up delay has been removed from 1.12"
Starting from v1.12, a new algorithmic update removes the need for the upscale delay, https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#support-for-cooldown-delay

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d8185fe-e724-7a2d-7579-8e94ef873b36
* Version Independent ID: 66dc644d-6edd-b5ad-d04

[2020-04-10 04:39] vikassinha2019 commented on #52110
Sure. I have [post](https://social.msdn.microsoft.com/Forums/azure/en-US/5a5d614d-cfa4-47c2-9164-2ee79982e608/alert-rule-evaluation-period-in-minutes-is-overriding-the-the-time-window-in-query?forum=ApplicationInsights) it on forums now.
Thanks.

[2020-04-10 04:40] acobb69 commented on #51357
Can someone please tell me the exact steps to change it to use http action instead?

[2020-04-10 04:47] mlee3gsd commented on #30452
@Mike-Ubezzi-MSFT @julieMSFT , this issue has been resolved.  What do I need to do to close this out?

[2020-04-10 04:48] MicrosoftGuyJFlo commented on #52027
It is in my backlog to update. Several competing changes before this will happen.

[2020-04-10 04:48] MicrosoftGuyJFlo commented on #52027
#please-close

[2020-04-10 04:48] #52027 closed

[2020-04-10 04:50] MicrosoftGuyJFlo commented on #52001
@cloudhandler Thoughts on this?

[2020-04-10 04:50] frehnejc opened #52145 "Where is the info on Get-AzKeyVaultCertificate seems to be missing."
You have Keys and Secrets what about Certificates?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd179352-3f2f-f872-fe62-36e55cbc44b5
* Version Independent ID: c77b1cd0-6867-e260-dcd7-5c45b1cc86f8
* Content: [Azure Key Vault - How to use soft-delete with PowerShell](https://docs.microsoft.com/en-us/azure/key-vault/key

[2020-04-10 04:57] mlee3gsd commented on #26737
Gen1 and Gen2 sizes haven't changed.  I'm confused by his question as he states that his notes has DWU500 at 2TB and we state that it is DW100 is 399GB (rounding to 400GB).  If we multiply that by 10, you would get 3.99TB or for DWU 500 he mentioned, you would have half that (roughly 2TB rounded).  Is he questioning the .01TB off from his rounding?

[2020-04-10 05:28] johndupreez commented on #50469
There is no need at all for different application manifest files per environment. All that is required per environment is the .xml file off the ApplicationParameters folder. See the first answer here for a full description of correct handling:
https://stackoverflow.com/questions/33928204/where-do-you-set-and-access-run-time-configuration-parameters-per-environment-fo
It is important that this docu

[2020-04-10 05:30] ciufudean commented on #41219
Hi, the straight question is if they _say_ or if they _tested_ my issue.
Anyway, I am not working in this area anymore, so do as your conscience
dictates :)

On Fri, Apr 10, 2020 at 3:38 AM Rob Boucher Jr (Microsoft) <
notifications@github.com> wrote:

[2020-04-10 05:36] furmangg commented on #26737
@mlee3gsd this is Greg Galloway. I think you clarified it. I wasn’t sure if my notes were right and the calculations were the same for Gen2 or not. Thanks for confirming they are. I see the docs have now been updated to mention DWU1000c so that solves the issue.

[2020-04-10 05:36] #26737 closed

[2020-04-10 06:13] RohitMungi-MSFT commented on #52137
@nbandi413 Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-10 06:14] dcbrown16 opened #52146 "168.63.129.16 guidance"
Traffic doesn't come inbound from 168.63.129.16, and the outbound traffic can't be blocked by NSGs unless you explicitly deny AzurePlatformDNS service tag.
https://docs.microsoft.com/en-us/azure/virtual-network/what-is-ip-address-168-63-129-16

Therefore, I think this instruction is unnecessary.
"If you're using the Azure-provided DNS service, allow access from 168.63.129.16 on port 53. "

Please

[2020-04-10 06:15] RohitMungi-MSFT commented on #52138
@kshingo Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-10 06:17] dcbrown16 opened #52147 "168.63.129.16 and 169.254.169.254 guidance"
I've been doing some research on these IPs for support cases. Traffic doesn't come inbound from 168.63.129.16, and the outbound traffic can't be blocked by NSGs unless you explicitly deny AzurePlatformDNS service tag.
https://docs.microsoft.com/en-us/azure/virtual-network/what-is-ip-address-168-63-129-16
I have also confirmed that there are no inbound requirements from 169.254.169.254.

Therefore,

[2020-04-10 06:18] RohitMungi-MSFT commented on #52140
@AlissonRS Thanks for the question. It would be great if you could provide us any Azure documentation link that you might be following while setting up your app insights as this would help us find the right person/team to help you with the query.

[2020-04-10 06:20] RohitMungi-MSFT commented on #52139
@dschlitt Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-10 06:20] BharathNimmala-MSFT commented on #52143
@agr  Thank you for your query, we will look into it and get back to you at the earliest.

[2020-04-10 06:21] RohitMungi-MSFT commented on #52141
@wwlpublish Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-10 06:23] RohitMungi-MSFT commented on #52144
@Elaine-mtt Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-10 06:25] RohitMungi-MSFT commented on #52142
@worldspawn Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-10 06:26] DixitArora-MSFT commented on #51814
@markpaley Just following up again in case missed the previous communication.

[2020-04-10 06:27] DixitArora-MSFT commented on #51870
@eparizzi Just following up again in case missed the previous communication.

[2020-04-10 06:32] filipkcz opened #52148 "App password does not work when Azure AD default policy is enabled"
I have a lot of customers with basic license Azure AD. They have only Office 365 Business Premium.
In docs missing information when Azure AD default security policy is enabled app password does not work even if 2FA is enabled, user generate app password. Password for SMTP, imap etc auth does not work.

Would be nice add reference to article about this policy.

---
#### Document Details

⚠ *Do not

[2020-04-10 06:34] Mike-Ubezzi-MSFT commented on #51784
@roofiq I was thinking about this further and need to point out that a single database uses geo-replication and an elastic pool database uses failover groups. Your second pipeline run is likely attempting to create a database that already exists either in that elastic pool instance or in the replicated elastic pool instace. This is why it fails. Please read through the Auto-failover group terminol

[2020-04-10 06:34] dcbrown16 commented on #51808
Great timing - as Subhash knows I have also been looking into this internally as well.

Per our current understanding, traffic doesn't come inbound from 168.63.129.16 except in LoadBalancer health probes, and the outbound traffic can't be blocked by NSGs unless you explicitly deny AzurePlatformDNS service tag.
https://docs.microsoft.com/en-us/azure/virtual-network/what-is-ip-address-168-63-129-16

[2020-04-10 06:35] MarileeTurscak-MSFT commented on #51804
Hi @vbatr,

Without getting a closer look at your environment it will be hard for me to know what could be causing this error.

Are they able to get into the application or are they blocked?

Feel free to reach out to me at AzCommunity@microsoft.com and I can open a free support case for you. Once we have a resolution from the support case we can open this thread. I've seen a number of people repo

[2020-04-10 06:45] gm27rjpm commented on #38609
Hi @Karishma-Tiwari-MSFT

Good Day!
I'm also facing the attached error while provisioning a Linux (CentOS) VM using Packer from a custom built image in Azure.

Please advise if you have any suggestions on my below query.

How I built the custom image?
1. Created a Linux VM using CentOS7.7 Image chosen from Azure Marketplace.
2. Deprovision it using the below command.
    waagent -deprovision+user

[2020-04-10 07:04] reneschulte commented on #52079
Thanks Christopher. Good to know. Would it help to troubleshoot?
________________________________
From: Christopher Warrington <notifications@github.com>
Sent: Thursday, 9 April 2020 20:20
To: MicrosoftDocs/azure-docs
Cc: Rene Schulte; Mention
Subject: Re: [MicrosoftDocs/azure-docs] The model conversion script does not work or the Quickstart is missing a step (#52079)

FYI, @reneschulte<https://eu

[2020-04-10 07:05] ManoKanmani commented on #51850
So in that case if it is Application owner i mean with "Application Admin" access i can able to manage the attribute mappings, schema & data sync but not able to download the agent and manage "Admin Credentials right?

If i want to download "Agent" and manage "Admin Credentials" then i should use "Global Admin" access as defined by Microsoft right?

[2020-04-10 07:06] AshokPeddakotla-MSFT commented on #51805
Sure, please share the link here for reference once you post the issue.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-10 07:06] #51805 closed

[2020-04-10 07:08] ManoKanmani commented on #51629
Sir, Any update on this ?

[2020-04-10 07:10] Katsuhikochi opened #52149 "Unable to Successfully create a Custom Keyword."
I have followed the instructions on this page to create my own custom keyword but all attempts returned failed status.
Hope an administrator is able to assist me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02f19f0c-f14b-bac9-3706-93c888eb3bb2
* Version Independent ID: ed76fd34-0256-eb27-a55f-5d2735859f98
* Content:

[2020-04-10 07:13] sergio-at-neocles commented on #51877
Thanks for your help @amanmcse

[2020-04-10 07:13] #51877 closed

[2020-04-10 07:38] BryanTrach-MSFT commented on #51741
@eydelrivero These matters are outside the scope of the doc. We try to keep issues scoped to doc feedback in this repro.

With that being said, this does require further investigation. In order to do that, can you please email me at azcommunity@microsoft.com with your subscription ID and the URL of this thread? We will put you in touch with the necessary party.

Thank you for your understanding an

[2020-04-10 07:38] #51741 closed

[2020-04-10 07:47] vishalaj1 opened #52150 "ADLS Gen 2 - CSV - Skip RowCount"
Hi,

We are using copy activity to load csv file.

If we load from a folder and do not give any mapping plus provide skip row count then it slips row count but takes first row after skip rows as header. It does not load first row at all if we use skiprowcoubt plus folder to all files.

This behaviour is not same as Fileshare in storage account. In file share it skips row count and loads from first

[2020-04-10 07:51] linda33wj commented on #29770
Thanks all for your feedback! If you still hit copy performance issue, to best troubleshoot, please open support ticket and we'd like to take further look into your specific case.

#please-close

[2020-04-10 07:51] #29770 closed

[2020-04-10 07:51] nabhishek commented on #50366
@soham-bigdata Unfortunately Databricks Jar doesn't returning output values like the notebook execution does. This should go as an feature ask to Azure Databricks. Thanks!

[2020-04-10 07:52] nabhishek commented on #50366
#please-close

[2020-04-10 07:52] #50366 closed

[2020-04-10 07:52] dearandyxu commented on #40887
The limit of output has been increased. Please try again.
If it still not works, the workaround is to write a script to load and write the container names into a table. And then use lookup activity to get the list from the table in batches and do copy after that.

#please-close

[2020-04-10 07:52] #40887 closed

[2020-04-10 07:53] roofiq commented on #51784
Hey @Mike-Ubezzi-MSFT , thanks for answer. I was talking only about one pipeline, it was failing on 2nd run when it was trying to 'update' existing failover group (which he created on 1st run).
This situation is not happening when I'm running it on empty database or I have copied a standalone DB (also georeplicated).

I am copying the database with different names so it can't be the case.

[2020-04-10 07:55] wimvanhouts commented on #45071
@keithdv Though it is true what you say about the difference in SAML and OAuth2, there are however two other aspects I think. One is the fact that SAML is used for some older legacy systems that do not yet implement the OAuth in the back (and then it would be nice to be able to reuse this part and use the assertion for other things), and, second (and more important imho), one would/could assume th

[2020-04-10 07:57] sowndarya-kota-jdas commented on #8898
Getting the same issue for me even i tried by upgrading the azure-functions-core-tools to 2.0.1-beta.31.

[2020-04-10 07:58] nabhishek commented on #36792
The parameter option still exist. It's available in the user interface as well.

[2020-04-10 07:58] nabhishek commented on #36792
#please-close

[2020-04-10 07:58] #36792 closed

[2020-04-10 08:06] ShirleyWangMSFT commented on #42190
Hi @artsheiko, if SELECT (*) only returns 10,000 rows, then it is expected that COPY activity would only return 10,000 rows, because COPY uses SELECT query to extract the data out of Hubspot.  If you are seeing data discrepancy between ADF Copy and running SELECT query, then please raise a support ticket so we can look into whether there is an issue.

#please-close

[2020-04-10 08:06] #42190 closed

[2020-04-10 08:08] ShirleyWangMSFT commented on #44095
Thanks for the feedback @benlaughlin .  Please open support ticket for this so we can look into your specific case.

#please-close

[2020-04-10 08:08] #44095 closed

[2020-04-10 08:09] Ganesh3177 opened #52151 "Access Web Content : Couldn't Authenticate"
At the Data source privacy and authentication section,
"Click Edit Credentials in the message. After the dialogue box appears, select Anonymous to connect to the API anonymously. Then click Connect."

After this step I get the following error message:
"We couldn't authenticate with the credentials provided. Please try again."

Please assist.

---
#### Document Details

⚠ *Do not edit this section.

[2020-04-10 08:22] ShirleyWangMSFT commented on #50401
Hi @vlado101, each copy activity is designed to copy one table from source to destination.  This article on Teradata connector (https://docs.microsoft.com/en-us/azure/data-factory/connector-teradata#parallel-copy-from-teradata) as well as the screenshot you pasted above describes how you can copy a single large table in parallel using built-in partitioning mechanism.

If you need to copy multiple

[2020-04-10 08:22] #50401 closed

[2020-04-10 08:28] ulyssetsd opened #52152 "Precise if we insert the .p8 key value with or without the line breaks"
On this section: Creating a Certificate for Notification Hubs - Option 2 - 8.

Can you please precise if we need to keep the line breaks from the .p8 &lt;key_value&gt;?

For example, if my p8 is something like this:
[code]
Should I insert `abcdefgh123456789ijklmnopq` (without line break) or `abcdefgh123456 789ijklmnopq` (with a line break, space represent the linebreak)

---
#### Document Details

[2020-04-10 08:30] rnwolf commented on #51814
I was using python 3.7.5 and had this problem.
I saw a post somewhere that suggested using and older version, python 3.6.
Both version 3.6.8 and 3.8.2 of python worked for me.

[2020-04-10 08:36] adegre opened #52153 "additional issue with language pack on WVD"
[Enter feedback here]

hello all,

what we faced last week regarding language pack installation (at least with the italian one) is that removing the AppX package to make Sysprep works correctly, also block typing on the search bar, and all the workaround tried were unsuccessfully. This is true with Win10 build 1909, while the procedure reported here doesn't cause any contraindication on build 1809

[2020-04-10 08:38] StingyJack commented on #51738
@Karishma-Tiwari-MSFT if you don't know what the limits are, it ok to say that. It's ok to not know something. I don't understand the vague response to a specific question.

[2020-04-10 08:47] timstockford commented on #52094
Great thanks

Sent from Outlook Mobile<https://aka.ms/blhgte>

________________________________
From: Karishma Tiwari - MSFT <notifications@github.com>
Sent: Friday, April 10, 2020 1:26:20 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Tim Stockford <tim@stockford.uk>; Author <author@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] SharedImage Typo in Azure VM Image

[2020-04-10 08:47] mslot opened #52154 "Plain functions vs durable functions"
You once had a paragraph about when to choose Azure functions and when to choose durable functions. I can't find it, and now I am starting to doubt that there ever was one.

When should I choose to go with durable functions, and when should i choose to just go with plain old azure functions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2020-04-10 09:03] mkrdip opened #52155 "Using blob as a stream inv12"
In v2.1 it was very easy to download blob as a stream and using is it as pandas data frame but it seems like v12 it's not available. I can not load a gzip CSV as a data frame directly.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15591874-317e-ce4c-0dff-20d06b625e40
* Version Independent ID: be7fed9a-343a-0ec

[2020-04-10 09:39] hisasima opened #52156 "The certificate of listener requires all the certificates in the chain included as part of the pfx file."
When I added certificate file which did not have intermediate CAs to the listener, I encountered some errors using openssl command. I confirmed that the error was caused by the certificate which did not have intermediate CAs. I want you to add the limitation in this document.
E.g. "Certificates should have all the certificates in the chain."

---Error---
openssl s_client -connect 52.224.201.xxx:44

[2020-04-10 09:43] y10e opened #52157 "SSL Certificate Details"
This is the document feedback.
I hope that this document explains the more details concerning ssl certificate requirements.
I think that API Management expect the ssl certificates that are being uploaded to have all the certificates in the chain included in the production environment.

App Service explains the above point.
https://azure.github.io/AppService/2017/02/24/Creating-a-local-PFX-copy-of-

[2020-04-10 09:53] meteorpoly commented on #50303
@AshokPeddakotla-MSFT I have the same 403 issue. Here is my API call
POST   https://atlas.microsoft.com/mapData/upload?subscription-key=NOT_THE_ORIGINAL_FAKE_KEY&api-version=1.0&dataFormat=geojson

Any idea what can be wrong?

[2020-04-10 09:53] meteorpoly commented on #50303
Here is the error:

{
  "error": {
    "code": "403 Forbidden",
    "message": "Permission, capacity, or authentication issues."
  }
}

[2020-04-10 09:56] pabbinedi opened #52158 "Limitations of numbers of users or session host per pool."
I would like to know do we have any limitations such as number of users per host pool or number of session host per pool? As I don’t see any limitations as such in any of the documentation. As a note I am aware of per session host there is limitation of 9999 users.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2eeca1

[2020-04-10 10:07] #51870 closed

[2020-04-10 10:29] michuny25 commented on #51732
No, I am not expecting to use EGTs across partitions.
I am pointing out that the entity structure from docs for the index entity will not work. The purpose of an index entity is to contain references to other entities (to Employee entities in the docs). And the docs suggest:

This is incorrect. There's no way how an index entity with partition "indexentities" can store just `RowKey` of other entit

[2020-04-10 10:59] frehnejc commented on #33157
I had the same issue KV with no network firewall. As a test after I turned on the Firewall and allowing the Keyvault Service endpoint on the subnet it threw the error in the ARM deployment. I too agree that this needs to work as my client wants to lock down the KV.

[2020-04-10 11:24] SwathiDhanwada-MSFT commented on #51622
@metoule You can turn on collection of dimensions of custom metrics on the usage and estimated cost tab by checking “Enable alerting on custom metric dimensions”. After turning on, you’d be able to apply splitting. For more information, kindly refer [this](https://docs.microsoft.com/en-us/azure/azure-monitor/app/pre-aggregated-metrics-log-metrics#custom-metrics-dimensions-and-pre-aggregation) docu

[2020-04-10 11:24] #51622 closed

[2020-04-10 11:26] wslyvh commented on #36896
The template for TypeScript does still not prompt for the authorization level. The default is function.
If you deploy it that way you will get a 401 Access Denied.

Change `"authLevel": "anonymous"` in the DurableFunctionsHttpStart/function.json and (re)deploy.

[2020-04-10 11:41] rnwolf commented on #51814
I was using python 3.7.5 and had this problem.
I saw a post somewhere that suggested using and older version, python 3.6.
https://stackoverflow.com/questions/59891847/im-getting-value-func-out-is-unsubscriptable-trying-to-write-in-an-azure-blob

I thought that installing version 3.6.8 and 3.8.2 of python fixed the problem for me, but I think that might have been because I had not yet installed pyl

[2020-04-10 12:04] Grepsy commented on #51342
@stefsch Any updates regarding this? Sorry to push; but this is important to us because we need to update ciphersuites to pass a pentest. Thanks!

[2020-04-10 12:11] robinmanuelthiel opened #52159 "Create and manage projects via REST API"
In the old portal (cris.ai), we had the option to fully control and automate it via REST API. This option seems to be gone or at least is undocumented. Can we still create and manage projects with a REST API?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65976189-cde2-7e57-b4d7-04201f2a1394
* Version Independent ID: 3

[2020-04-10 12:47] RohitMungi-MSFT commented on #52145
@frehnejc Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-10 12:52] RohitMungi-MSFT commented on #52146
@dcbrown16 Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-10 12:56] RohitMungi-MSFT commented on #52147
@dcbrown16 Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-10 13:01] kiwimarc opened #52161 "The provided value for the input parameter 'scope' is not valid"
I followed the guide on https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-android
But the API just gives me errors no matter what

If I login via my personal account I get this error:
com.microsoft.identity.client.exception.MsalServiceException: invalid_scope;The provided value for the input parameter 'scope' is not valid. The scope 'File.Read openid offline_access profil

[2020-04-10 13:03] kiwimarc opened #52162 "The provided value for the input parameter 'scope' is not valid"
The API keeps giving me errors no matter what

If I login via my personal account I get this error:
com.microsoft.identity.client.exception.MsalServiceException: invalid_scope;The provided value for the input parameter 'scope' is not valid. The scope 'File.Read openid offline_access profile' does not exist.

If I login via my work account I get this error:
com.microsoft.identity.client.exception.M

[2020-04-10 13:08] jnphlp opened #52163 "Device Management Type"
Hi,
The request (device.managementType -eq "MDM") do not list Intune enrolled Android devices. Which value is right ?

As per https://docs.microsoft.com/en-us/graph/api/resources/intune-devices-managementagenttype?view=graph-rest-1.0
the value "googleCloudDevicePolicyController" does not work in AAD dynamic group.

However, in Intune Graph API, an Android device has this value for managementAgent

[2020-04-10 13:09] v-nagta commented on #37841
@digitalrg  we have updated the doc as per your comments, please review

#please-close

[2020-04-10 13:09] #37841 closed

[2020-04-10 13:13] markpaley commented on #51814
Thank you for that idea!  I am also using python version 3.7.5.  But per your idea I will try to remove pylint first and then assess and then shift versions.

Sent from my T-Mobile 4G LTE Device
Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Rudiger Wolf <notifications@github.com>
Sent: Friday, April 10, 2020 4:41:29 AM
To: MicrosoftDocs/azure-docs <azure-do

[2020-04-10 13:16] v-nagta commented on #50722
@ChrisAtMAF we have updated the doc as per your comments, please review

#please-close

[2020-04-10 13:16] #50722 closed

[2020-04-10 13:18] aroder commented on #40095
I am seeing this behavior as well, even for a very simple setup. Can I help troubleshoot? Without this, we cannot use the versions and revisions of APIM. Instead, we have to create a whole new API, which makes treating an API as a versioned product impossible.

[2020-04-10 13:21] TestUser0811 commented on #51708
some update would be appreciated.

[2020-04-10 13:34] GiftA-MSFT commented on #52149
@Katsuhikochi we will review your feedback and get back to you shortly. Thanks.

[2020-04-10 13:37] kiwimarc commented on #52161
Found the error in the guide
Its not File.Read but Files.Read

That a really bad guide that have more than one error in it xD

[2020-04-10 13:37] #52161 closed

[2020-04-10 13:37] GiftA-MSFT commented on #52159
@robinmanuelthiel we will review your feedback and get back to you shortly. Thanks.

[2020-04-10 13:38] kiwimarc commented on #52162
Found your error, it's not File.Read but Files.Read
You have also misspelt auth_configbn_single_account.json in your code
Not a very good guide if you have errors that big

[2020-04-10 13:38] #52162 closed

[2020-04-10 13:41] trotman23 commented on #51826
I experienced the same behavior. Applications registered from the preview were not available for selection when trying to run the custom policies.

[2020-04-10 13:42] AlissonRS commented on #52140
@RohitMungi-MSFT thanks for the reply, I'm sorry I forgot to add it.

Here it is:
[Transaction Diagnostics](https://docs.microsoft.com/en-us/azure/azure-monitor/app/transaction-diagnostics)

Ideally it should reflect in the Performance/Failures sections of App Insights, so all data would be displayed in UTC (as I work with people spread in different timezones and also our internal data are in UTC,

[2020-04-10 13:56] sami1178116 commented on #50753
yes, I tried and it was working as expected. Thanks much for your help.

[2020-04-10 13:57] v-nagta commented on #51388
@cmcapellan we have updated the doc in our private repo as per your comments. The changes will be live once it merged.

#please-close

[2020-04-10 13:57] #51388 closed

[2020-04-10 14:16] maseedat opened #52165 "Sample code not running- for me getting the below - I created a .net core console app"
CS5001 C# Program does not contain a static 'Main' method suitable for an entry point

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a38ecc9c-21ce-b698-1888-dd9847e8e251
* Version Independent ID: c1489983-9269-9a1f-38bf-201ccf11b9a3
* Content: [Quickstart: Computer Vision 2.0 and 2.1 - Extract printed and handwritten t

[2020-04-10 14:16] #41207 closed

[2020-04-10 14:24] JustenCs commented on #50831
I'd like to echo @ChrisMenegay's point above. How do we go about using our own DNS zones to reference SQL MI? I get the same 'error' If it were on prem, I'd add an SPN.
Thanks,
Charlie

[2020-04-10 14:31] ChrisMenegay commented on #50831
@JustenCs I ended up reaching out to Support. The DNS name must match the SQL MI.  For example, if your DB is foo.mar1314234235.database.windows.net your local DNS MUST match the server name, so it could be: foo.contoso.com    I did that and was able to connect, but I still have to "Trust Server Certificate" when connecting with AD accounts.

[2020-04-10 14:33] mumian commented on #51635
@simonech - the article has been updated.

#please-close

[2020-04-10 14:33] #51635 closed

[2020-04-10 14:34] JustenCs commented on #50831
@ChrisMenegay thank you! Did you create an A record or CNAME?

[2020-04-10 14:35] dagiro commented on #52107
@vvanloc, Thanks for reaching out, I am looking into this and will provide a resolution shortly.

[2020-04-10 14:40] vhorne commented on #51839
Updated https://docs.microsoft.com/en-us/azure/firewall/rule-processing with some additional info
#please-close

[2020-04-10 14:40] #51839 closed

[2020-04-10 14:40] vhorne commented on #51840
Updated https://docs.microsoft.com/en-us/azure/firewall/rule-processing with some additional info
#please-close

[2020-04-10 14:40] #51840 closed

[2020-04-10 14:46] vuza commented on #51627
Hi @SnehaAgrawal-MSFT I've ...

1. created a Log Analytics Workspace
2. created an App Service with Linux Container
3. created a Diagnostic Setting sending all log categories to the Log Analytics Workspace
4. Waiting a couple of minutes
5. I can see the stdout and stderr logs from the container at App Services > Container settings > Logs
6. ... however, only AppServiceHTTPLogs appear in Log Analyt

[2020-04-10 14:46] aquibqureshi26 commented on #45228
I had the same query and found this article. Can you please add the clarity in the FAQ doc

[2020-04-10 14:52] RonnieQuan commented on #51933
We already added A record to privatelink-nprd.blob.core.windows.net, it does not work when we access our private endpoint via the public endpoint FQDN.
Can you please change the wording? instead of recommended name, it has to name like "privatelink.blob.core.windows.net"

[2020-04-10 14:55] vbatr opened #52167 "Exposed API permissions are not displayed in user consent"
I have configured exposed api for my application (with delegated permissions act_as_user). When I am trying to authorize user to the application using OAuth 2.0 authorization code flow (or by testing connection for OAuth Connection Settings with Azure Active Directory v2 service provider), I cannot find my api permissions in list of requested permissions by the application. As a result the user is

[2020-04-10 14:56] wayneme75 opened #52168 "Implementing CIS controls"
Is there a way that these controls and others could be available in an excel spreadsheet for us to download. This would make it easier for us (and other customers) to see which controls align to our set of controls. We can quickly identify gaps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d190566-16b9-996a-43ff-430

[2020-04-10 14:58] DCtheGeek commented on #52168
#assign:DCtheGeek,jomolesk

[2020-04-10 14:58] PRMerger20 commented on #52168
DCtheGeek,jomolesk is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-04-10 14:58] DCtheGeek commented on #52168
#assign:DCtheGeek
#assign:jomolesk

[2020-04-10 14:59] DCtheGeek commented on #52168
@wayneme75 Thanks for the question.

@jomolesk Can you review this request?

@MicrosoftDocs/azure-cxp-triage Please label 'product-question' and #in-progress.

[2020-04-10 15:02] umeshbarapatre commented on #45071
@Khyzdul  - May i know if there is a specific need to go with SAML route in your case. I understand you are federated against Azure only. you can directly call the OAuth token endpoint to get a token unless there is anything i am missing

[2020-04-10 15:04] onionhammer opened #52170 "Is it possible to preempt/cancel a scheduled send?"
It's possible to schedule an action on an entity, it is also possible to later cancel that action before it is triggered?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87e12177-bb3a-d00c-99a5-422e00f9b03f
* Version Independent ID: 2fa1cf0d-2a5f-2fb0-ef25-bccfac3279fd
* Content: [Durable entities - Azure Functions](htt

[2020-04-10 15:05] malopMSFT commented on #51933
Another technical valid option is to use the public domain but leads to other issues, fixed the wording here:
https://github.com/MicrosoftDocs/azure-docs/pull/52169

[2020-04-10 15:05] malopMSFT commented on #51933
#close

[2020-04-10 15:05] cecilphillip commented on #50089
@eparizzi the docs on this aren't very comprehensive and I agree the tooling should assist in leading developers to the right structure.

What errors are you seeing exactly?
@anirudhgarg

[2020-04-10 15:08] dagiro commented on #52025
#please-close

[2020-04-10 15:08] #52025 closed

[2020-04-10 15:18] jomolesk commented on #52168
Hi @wayneme75 -- We are not currently planning to provide this content in Excel format; however, it will soon be embedded into the initiative JSON itself. Please email me (same alias) for more.

[2020-04-10 15:20] ChrisMenegay commented on #50831
@JustenCs CNAME

[2020-04-10 15:20] DCtheGeek commented on #52168
Thanks @jomolesk!

@wayneme75 Please hit up John per his comment.  Thanks again for the question.  I'm now going to close this issue.

@MicrosoftDocs/azure-cxp-triage #please-close

[2020-04-10 15:20] #52168 closed

[2020-04-10 15:34] CeciAc opened #52171 "Typo?"
@claria commented on [Thu Apr 09 2020](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/645)

Timespan section:
"24:00:00" 	every 24 days
That's a typo, isn't it?

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: b5527c3b-a5da-c73d-66c2-20d96003ff7c
* Version Independent ID: 42154c

[2020-04-10 15:42] heaps926 opened #52172 "When will support for AAD v2 be available?"
Regarding the note at the top of the page: At this time, Azure Active Directory v2.0 (including MSAL) is not supported for Azure App Service and Azure Functions. Please check back for updates.

This has been the case for months. Is there any timeline for when this will be available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin