[2018-05-31 16:38] dellins commented on #7956
The scripts does not work for windows server 2008. Is there any workaround?

See error.

Unable to find type [Microsoft.Win32.RegistryView]: make sure that the assembly containing this type is loaded.

[2018-05-31 16:41] vxjen opened #9485 "Attestation mechanism"
Can IoT Hub Device Provisioning Service use other authentication mechanism besides TPM and x.509?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99cde61d-0cab-c249-4a33-ab8d49105ceb
* Version Independent ID: 16535131-6077-d876-da32-f1c755a9629a
* Content: [Device concepts in Azure device provisioning](https://docs.micr

[2018-05-31 16:48] kobulloc-MSFT commented on #9472
@JPadster Thank you for bringing this to our attention.  We are investigating this and will get back to you shortly.

[2018-05-31 16:48] Brenduns commented on #9484
#in-progress

[2018-05-31 16:49] sparsematrix opened #9486 "Naming referenced schemas"
It might be useful to point out how to name schemas which are referenced by imports in other schemas. In example, for an imported schema file named "referencedSchema.xsd" on disk, it must be named just "referencedSchema" in the Add Schema blade. A schema which imports referencedSchema should still use schemaLocation="referencedSchema.xsd".  If not named correctly you cannot upload schemas which im

[2018-05-31 16:51] porky9 opened #9487 "App Service SSL Certificate Limits"
It says under App Service Limits - Unlimited SNI SSL connections. But I have been told by Azure support that there is a limit on the number of SSL certificates you can have per subscription. Is that the case? I can't find anything about that in this document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57b6d-3c6f

[2018-05-31 16:51] Mike-Ubezzi-MSFT commented on #9165
@ratchetwrench Have you found an answer to your issue? In looking around, I was unable to find a conclusive answer but did find some information for your review:

[Showing Pandas data frame as a table
](https://stackoverflow.com/questions/16958513/showing-pandas-data-frame-as-a-table)
[Feature request: Way to convert Pandas dataframe to Table object
](https://github.com/biolab/orange3/issues/68)

[2018-05-31 16:55] kobulloc-MSFT commented on #9105
@vishalkhatal Thank you!  Feel free to share the link and tag me in your reply so I can vote on it.

We are going to close this thread as resolved but if there are any further questions regarding this matter, please tag me in your reply and we will be happy to continue the conversation.

[2018-05-31 16:55] #9105 closed

[2018-05-31 16:56] douglaslMS commented on #9479
#in-progress

[2018-05-31 16:57] vxjen opened #9488 "Device provisioning process"
The 8-step diagram shown in this document seams different from the flow diagram in the following document: https://docs.microsoft.com/en-us/azure/iot-dps/media/concepts-auto-provisioning/sequence-auto-provision-device-vs.png

It will be helpful if these two diagrams can be consolidated into a single, uniformed process flow for easy understand.

---
#### Document Details

⚠ *Do not edit this sectio

[2018-05-31 16:58] rezasherafat commented on #9049
Hi @henriksen,

During public preview, invoking direct methods for modules is supported in the C# preview SDK. Here's some information about it:
- Nuget [package](https://www.nuget.org/packages/Microsoft.Azure.Devices/1.16.0-preview-004) to use.

- ServiceClient implements this function for invoking device methods on using a module Id:

   `public abstract Task<CloudToDeviceMethodResult>
 InvokeDe

[2018-05-31 16:58] Mike-Ubezzi-MSFT commented on #9053
@chaitualladi You can accomplish the same result through the use of the Cosmos DB RESTful API: [Database Accounts - Create Or Update](https://docs.microsoft.com/en-us/rest/api/cosmos-db-resource-provider/databaseaccounts/createorupdate)

Is this an option for you?

Thank you,
Mike

[2018-05-31 16:59] ratchetwrench commented on #9165
Mike,

No, I have not found a solution, and the links you provided is not relevant
to what I was trying to do.

It's more like an API feature, where given a dataframe, insert the records.
But there is a batch limit, so I have to write that logic in there, and so
on so forth. At the moment, the serious lack of Python support across Azure
makes it nearly unusable beyond copy and pasting quick starts

[2018-05-31 17:05] mike-urnun-msft commented on #9483
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a52b0724-6b3b-0daf-7749-d18104d6a40b
* Version Independent ID: 56e5c7c4-f456-fc2e-99da-2771eb162947
* Content: [Key Vault VM Extension for Windows](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/key-vault-windows)
* Content Source: [articles/virtual-mach

[2018-05-31 17:09] MicahMcKittrick-MSFT commented on #9467
@kskvarci Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-31 17:10] MicahMcKittrick-MSFT commented on #9469
@amit133 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-31 17:11] MicahMcKittrick-MSFT commented on #9477
@mjcarrabine Thanks for the question! We are investigating and will update you shortly.

[2018-05-31 17:11] kobulloc-MSFT commented on #9481
@RobertoPrevato Thank you for the feedback!  Is this the REST API documentation you are looking for?  I didn't see any mention of the JavaScript SDK on the document that was included.

https://dev.applicationinsights.io/reference

[2018-05-31 17:13] dragav commented on #9483
I provided this description back in Dec '17 for internal consumption. I'm not sure how it got published on Docs.microsft - I did not review nor approve its publication. @RicksterCDN - can you shed some light on the publishing process for VM extension documentation? If you are internal, I would prefer we start a private email thread. Thanks!

[2018-05-31 17:13] nabhishek commented on #8039
@HemantChandurkar The entryFile must be either a Python or a jar file, you would need to compile your Scala source code to jar file before running it as spark applications.

[2018-05-31 17:13] Mike-Ubezzi-MSFT commented on #9165
@ratchetwrench Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-31 17:15] NumberByColors commented on #9481
Hi @RobertoPrevato,

Here's the details on the REST API properties: https://github.com/Microsoft/ApplicationInsights-Home/blob/master/EndpointSpecs/Schemas/Docs/ContextTagKeys.md

Can you provide more details about exactly what you're sending and not seeing in the Users/Sessions tools? Go to the Users tool when it shows "1 user" erroneously, click the little blue square Analytics button above the

[2018-05-31 17:16] neilpeterson commented on #9469
@MicahMcKittrick-MSFT - you can assign this one to me. I have an update staged which will publish this afternoon.

@amit133 - thank for raising the issue. I have removed the variables from the doc. We need to address consumers working in Bash (larger population) and PowerShell. We have some platform tooling in the works that will allow switching between PowerShell and BASH, however it's not ready

[2018-05-31 17:16] mike-urnun-msft commented on #9483
Hey @RandalliLama  - Thanks for reporting this! We have assigned this issue to the content owner to investigate further and take the right course of action.

cc: @dragav

[2018-05-31 17:18] douglaslMS commented on #8039
@HemantChandurkar @nabhishek I will update the page of documentation to make this requirement clear. Thanks for bringing this to our attention.

[2018-05-31 17:18] Mike-Ubezzi-MSFT commented on #9479
@wortho Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-31 17:20] mike-urnun-msft commented on #9486
@sparsematrix Thank you for your feedback! We have assigned this issue to the author to review and take the right course of action.

[2018-05-31 17:23] vxjen opened #9489 "Manufacturing step"
At the manufacturing stage, the "cloud connectivity" test will be performed by the factory. If using the Provisioning Service, it means the devices need to be registered with the cloud for connection and sending test messages.

There are couple options to perform this test.
One option is to have a test mode in the device firmware. Under test mode, the device connects to a private server that simul

[2018-05-31 17:26] Mike-Ubezzi-MSFT commented on #9485
@vxjen Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-31 17:28] cezane commented on #9125
Hello again, @dominicbetts . I would like to access the messages "manually" as you said, but apparently there is no such information related to this process. Another reason to do using some AMQP library different from Event Hubs SDKs is that I am using Linux. The [documentation](https://www.nuget.org/packages/WindowsAzure.ServiceBus) I saw is specific to Windows.

In this case, could you provide s

[2018-05-31 17:29] mimizone commented on #9418
Same issue in CLI or cloud shell.
Is there something to configure on the Active Directory side?

[2018-05-31 17:29] MicahMcKittrick-MSFT commented on #9282
@fajanssen any additional questions on this?

[2018-05-31 17:30] nberdy commented on #9049
#please-close

[2018-05-31 17:30] MicahMcKittrick-MSFT commented on #9358
@mostafae I will close this for now. When ready please reopen and we can continue.

[2018-05-31 17:31] gardnerjr commented on #9481
(I wouldn't call the data collection apis "the REST API", as there's really only a REST API for *reading* data, that's whats documented at dev.applicationinsights.io)

The things documented on the GitHub link David posted are the same that our SDK's use.  if you go up a couple directories to the "Bond" folder (https://github.com/Microsoft/ApplicationInsights-Home/tree/master/EndpointSpecs/Schemas/

[2018-05-31 17:31] MicahMcKittrick-MSFT commented on #9370
I believe you need to put it directly into github. I don't believe you can attach it on the github reply email as it does not get attached.

[2018-05-31 17:32] nberdy commented on #9485
@vxjen Right now those are the only two attestation mechanisms supported. Is there another one you'd like to see?

[2018-05-31 17:32] cwatson-cat commented on #6212
#please-close

[2018-05-31 17:36] mostafae commented on #9358
@MicahMcKittrick-MSFT please re-open the issue. I was using the Azure CLI 2.0

[2018-05-31 17:36] SaurabhSharma-MSFT commented on #9478
Hey @crowtherdr Thank you for your feedback! While we will send this feedback over to the Outlook.com, it would also be good for you to Upvote or add more details in the Outlook Feedback page. Details on how to access it is as follows

Upvote existing feedback : You can upvote this existing feedback item and add more context
You can alternatively create a new feedback item, either directly at http

[2018-05-31 17:36] #9478 closed

[2018-05-31 17:37] suvamM commented on #8559
Hi @srrengar I created a cluster, and added the Application Insights key. However, when I deploy an SF application to the cluster, I still don't see any logs. Am I missing something here?

[2018-05-31 17:37] MicahMcKittrick-MSFT commented on #9358
@mostafae can you try using the Azure Cloud Shell to see if that works?

[2018-05-31 17:39] tlagore opened #9490 "Bower walkthrough steps deprecated VS2017 v15.6.6"
This tutorial maintains an outdated method of installing javascript packages as bower appears to no longer be supported as of Visual Studio 2017 (v15.6.6). The article should be updated to use current approaches to installing the packages (Be it npm, yarn, or webpack, or a combination).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2018-05-31 17:40] mostafae commented on #9358
I want to use the Azure CLI which is the primary tool to do work from my PC. It is not convenient for me since i am building a bash script for users to run it from their pcs, so this is not a viable option for me.

[2018-05-31 17:42] MicahMcKittrick-MSFT commented on #9379
@ishepherd the filters feature is still in preview so we are currently working to develop better documentation on it. As of now all we have is that wiki you referenced. For now I would suggest reaching out to the [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-functions) community for questions/ debugging when using filters.

Else, you could also open an issue here: https://githu

[2018-05-31 17:42] #9379 closed

[2018-05-31 17:43] MicahMcKittrick-MSFT commented on #9358
@mostafae understood. Doing so via the cloud shell will help us determine if it is an issue with the bash script or an issue with your local instance of CLI.

[2018-05-31 17:43] vasivara-MSFT commented on #9452
@larsvillaume Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-31 17:44] vasivara-MSFT commented on #9386
@naveenkrsh We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-31 17:44] #9386 closed

[2018-05-31 17:44] MicahMcKittrick-MSFT commented on #9389
@sanjaysahu1984 thanks for that. I would suggest trying to run through the document again as I did follow it yesterday and was able to get it to work without issue. Possibly there was a step missed when you were following it?

[2018-05-31 17:45] vasivara-MSFT commented on #8039
@HemantChandurkar We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-31 17:45] #8039 closed

[2018-05-31 17:46] mmacy commented on #9358
@mostafae Which version of the Azure CLI 2.0 are you using? The current version at the time of this comment is **2.0.33**. Please run this at the command line:

`az --version`

The first line of the output displays the CLI version, for example (output is truncated for brevity):

[code]

[2018-05-31 17:49] MicahMcKittrick-MSFT commented on #9418
@iainfoulds any thoughts on this? I ran through the doc and did not have any issues logging in using AAD connected to MSFT.

[2018-05-31 17:51] srrengar commented on #8559
hi @suvamM the application insights key is to send cluster level logs to App Insights and you can query them in the Analytics section. If you want to send logs from your application to App Insights you need to add the nuget package to your app.

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-monitoring-aspnet

[2018-05-31 17:55] SaurabhSharma-MSFT commented on #9480
@erikkross Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-31 17:55] neilpeterson commented on #9237
I've updated the commands in this doc so that variables are not used. The doc now works in PowerShell and Bash (though some additional copy and paste is necessary). Updates will publish this afternoon.

Once we have the new tooling in place to allow 'code block context switching' I will update with both PowerShell and Bash commands.

#please-close

[2018-05-31 17:55] neilpeterson commented on #9469
I've updated the commands in this doc so that variables are not used. The doc now works in PowerShell and Bash (though some additional copy and paste is necessary). Updates will publish this afternoon.

Once we have the new tooling in place to allow 'code block context switching' I will update with both PowerShell and Bash commands.

#please-close

[2018-05-31 17:55] MichaelHauss commented on #9447
No, attempting to delete a soft deleted blob will return a 404 error. The only blob-level operation that effects a soft deleted object is "Undelete".

[2018-05-31 17:56] #9469 closed

[2018-05-31 17:56] derekharkin opened #9492 "Which endpoint is the client IP captured for location evaluation?"
I would like to know what endpoint exactly is used to determine the clients IP address. We have configuration that bypasses our proxies for specific URLs - this would change the trusted IP ranges

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74b164a7-31c5-7cb3-c8e2-7533d375bd43
* Version Independent ID: 11399252-d935-

[2018-05-31 18:01] femsulu commented on #9487
@porky9 Good question. I have passed this on to the content owner to review and provide an answer. Please stay tuned.

[2018-05-31 18:03] YutongTie-MSFT commented on #9456
@LevariGitHub Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-31 18:04] YutongTie-MSFT commented on #9470
@Ankush-Jacob Thanks a lot!

[2018-05-31 18:05] YutongTie-MSFT commented on #9470
@Ankush-Jacob We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-31 18:05] #9470 closed

[2018-05-31 18:07] MohitGargMSFT commented on #7680
@jnfarmer Please open a new MSDN forum post and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required

[2018-05-31 18:10] mike-urnun-msft commented on #9049
@henriksen We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-31 18:10] #9049 closed

[2018-05-31 18:12] SaurabhSharma-MSFT commented on #9480
@erikkross The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2018-05-31 18:12] #9480 closed

[2018-05-31 18:13] MohitGargMSFT commented on #9232
@KjetilEVRY Please refer to below Microsoft published documented guidance regarding the same.

https://docs.microsoft.com/en-us/azure/active-directory/connect/active-directory-aadconnect-pass-through-authentication-faq#i-already-use-ad-fs-to-sign-in-to-azure-ad-how-do-i-switch-it-to-pass-through-authentication

[2018-05-31 18:15] nastassiar opened #9493 "Broken links"
Almost none of the hyperlinks (for example Contents) actually take me anywhere which makes this documentation unusable

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7733e992-48c0-0f31-d9c4-8303064d63cc
* Version Independent ID: 609d9b6e-03d6-a8d8-3b86-6ca7021dba44
* Content: [Azure Marketplace and AppSource publisher

[2018-05-31 18:15] TravisCragg-MSFT commented on #9237
@command0r We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-31 18:15] #9237 closed

[2018-05-31 18:21] vasivara-MSFT commented on #9482
@smoms Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-31 18:22] vasivara-MSFT commented on #9474
@saachinvettiyattil No you cannot import data into azure postgresql using data factory. Please take a look at this [document](https://docs.microsoft.com/en-us/azure/data-factory/copy-activity-overview#supported-data-stores-and-formats). Azure database for postgre sql is not a supported data store as a sink by data factory.

[2018-05-31 18:23] #9447 closed

[2018-05-31 18:23] TravisCragg-MSFT commented on #9463
@waheedhussain Thanks for the feedback!  you cannot connect Virtual Networks with the same address space together, but it is worded in a strange way.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-31 18:23] vasivara-MSFT commented on #9474
@saachinvettiyattil We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-31 18:23] #9474 closed

[2018-05-31 18:28] iainfoulds commented on #9418
@mimizone and @radka-j Is there a difference between your AAD domain and logon domain? The commands simply use the user email from your Azure subscription account. You'll receive a '400 client error' message if there's a mismatch when you assign the role permissions.

The following example retrieves the object ID from Azure Active Directory, and uses that object ID to set the role permissions. Doe

[2018-05-31 18:33] ggantija commented on #6646
@JAkerblom, I created a new issue to cover the problems I'm having, please see:

"Unable to Start Container" Error message with Azure ML Workbench Classify Iris Tutorial #8903

In my case, I am able to verify that the docker container is running Linux OS through the docker image inspect command.  Despite this I still get an error.

[2018-05-31 18:42] nastassiar opened #9496 "Confusion over AAD Requirement"
This page: https://docs.microsoft.com/en-us/azure/marketplace/marketplace-what-is-appsource

Says that Active Directory is preferred but the above documentation says it is required. Which one is correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7733e992-48c0-0f31-d9c4-8303064d63cc
* Version Independent ID: 609d9b

[2018-05-31 18:54] YutongTie-MSFT commented on #9456
@LevariGitHub Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@nstulasi Hi, this is a issue of doc-enhancement, can you please check it and update the document as necessary? Thanks a lot!

[2018-05-31 18:56] conceptdev commented on #8379
The first updates are out:
* [landing page](https://docs.microsoft.com/en-us/azure/app-service-mobile/)
* [Xamarin.Forms quickstart](https://docs.microsoft.com/en-us/azure/app-service-mobile/app-service-mobile-xamarin-forms-get-started)

more will be added over time, but i do not have a specific schedule to share.

#please-close

[2018-05-31 18:56] YutongTie-MSFT commented on #9434
@TechnicallyWilliams Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@anrothMSFT Hi, this is a doc-enhancement issue, can you please check it and update the document as necessary? Thanks a lot!

[2018-05-31 18:58] YutongTie-MSFT commented on #9445
@dynamicwebpaige Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@raymondlaghaeian Hi, this is a kudo and also a doc-enhancement suggestion, can you please check it and update the document as necessary? Thanks a lot!

[2018-05-31 19:02] YutongTie-MSFT commented on #9436
@ctapus Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@heatherbshapiro Hi, this is a doc-bug issue, the link ' downloaded here.' is broken. Can you please check it and update the document? Thanks a lot!

[2018-05-31 19:05] DavidBerg-MSFT commented on #8917
Pricing numbers are what the VM is configured for.  Benchmark numbers are what's observed in the VM.  Benchmark numbers are off slightly.  Correct number should be 1032/1024*1000 or 1007 GiB which is what the benchmark saw (after whatever overhead the OS took).

[2018-05-31 19:17] SaurabhSharma-MSFT commented on #9492
@derekharkin Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-31 19:18] KloudEzy opened #9497 "Unable to login!"
I followed everything as per the article but when try to login I'm getting "permission denied (PublicKey)". I'm using my userid@customdomainname.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb8e2623-1f79-aee3-bd97-8b5f647b6980
* Version Independent ID: 6346b54d-cc8d-0b79-a6b8-f9144cfa2459
* Content: [Log in to a

[2018-05-31 19:21] KloudEzy commented on #9144
I'm facing exactly same issue. The Ubuntu VM will keep asking me for password despite typing in right password.

[2018-05-31 19:35] jason-j-MSFT commented on #9249
@StevenZhang81 I do not think this is a supported operation from my own research.  For example, from Hortonworks forums:
https://community.hortonworks.com/questions/108496/is-it-possible-to-join-two-hive-tables-physically.html

Closing this issue for now, but feel free to add comments as needed.

[2018-05-31 19:35] #9249 closed

[2018-05-31 19:39] aydeisen opened #9500 "Network Firewall Requirements tables inconsistent between Windows and Linux"
Are the Network Firewall Requirements tables accurate?  Between them, I would infer that Bypass HTTPS Inspection is not a requirement for Linux, as it as a 'Direction' column instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2c9767e-8558-7b76-fc26-34c4776f7bcf
* Version Independent ID: f9853d6a-639a-c9df-a82c-01

[2018-05-31 19:41] KloudEzy commented on #9497
Now It's working the AADLoginForLinux extension wasn't getting installed. However now I get the prompt to login in web browser but after that I put in code and choose my login getting following error message.

Connection to xx.xx.xx.xx closed by remote host.
Connection to xx.xx.xx.xx closed.

[2018-05-31 19:45] MicahMcKittrick-MSFT commented on #8917
thanks @DavidBerg-MSFT!

@eastrd hope that helps! We are working on fixed the numbers but it might take a bit to get the content published. I will close this for now but let us knw if you have further questions.

[2018-05-31 19:45] #8917 closed

[2018-05-31 19:49] rolyon commented on #9451
Hi @astaykov,
Thanks for the info. I've created a work item for this.

[2018-05-31 20:01] kyle-thomas-TT opened #9501 "Using Copy loop in variables doesn't trigger logic statements in other variables"
The following code:
******************************************************
"suffixName": "[if(empty(parameters('Suffix')), '', concat('-', parameters('Suffix')))]",
    "notificationHubNames": {
      "copy": [
        {
          "name": "names",
          "count": "[length(variables('applicationTypes'))]",
          "input": {
            "name": "[concat(variables('applicationName'), variables(

[2018-05-31 20:01] jason-j-MSFT commented on #9289
@basilhariri we have a request for a .NET example for Kafka enabled Event Hub.  I do see some samples here but no walkthrough:
https://github.com/Azure/azure-event-hubs/tree/master/samples/DotNet

[2018-05-31 20:08] roygara commented on #9372
I've added the item to our backlog, accordingly I'm asking to close out the ticket.

Thanks again for bringing this to our attention!

#please-close

[2018-05-31 20:10] Roblarson commented on #9372
I am fine with closing this. Thanks for addressing it quickly

Sent from Outlook for Android
robert.larson@microsoft.com

________________________________
From: rogara <notifications@github.com>
Sent: Thursday, May 31, 2018 1:08:19 PM
To: MicrosoftDocs/azure-docs
Cc: Robert Larson (SERVICES); Mention
Subject: Re: [MicrosoftDocs/azure-docs] Support for Managed Disks and SSE in Azure China (#9372)

[2018-05-31 20:12] CelesteDG commented on #9438
@col726 Thank you very much for your feedback. I'm working with our feature team to rationalize this and we'll update our content accordingly. #in-progress

[2018-05-31 20:14] johnheitmuller opened #9502 "This was very helpful"
This post was a huge help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63df9645-af2c-3cfc-8f65-413912d88efe
* Version Independent ID: d2edf564-2c83-f1da-dbf0-dbc41c4948bf
* Content: [Generate and export certificates for Point-to-Site: PowerShell: Azure](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-

[2018-05-31 20:28] markgar opened #9504 "Azure VNET Max IP"
Azure ARM VNET Max IP is now ~16000.  You mention multiple times that it is ~4000.  Still true for Classic VNETs, but not ARM.  https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#networking-limits

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22ad4873-c73d-4b90-2063-927a1060d2a2
* Version Indepen

[2018-05-31 20:28] ggailey777 commented on #9292
Unless @GeekActual can provide us with more details about the issues with this topic, let's assume the issues are addressed. #please-close

[2018-05-31 20:30] ggailey777 commented on #9168
Unless we hear back from @KevinXTian to address my query, #please-close.

[2018-05-31 20:32] ggailey777 commented on #8270
@joben we have addressed your suggestion in the references PR. Thanks!
#please-close

[2018-05-31 20:36] basilhariri commented on #9289
@githubavi Unfortunately, we do not currently have classic .NET or .NET core examples, but we'll certainly look into making some for the future!

As of right now, Kafka enabled Event Hubs samples are all placed under [samples/kafka](https://github.com/Azure/azure-event-hubs/tree/master/samples/kafka) - any other samples are for the original Event Hubs client.

Ideally, following any Kafka .NET tut

[2018-05-31 20:44] basilhariri commented on #9010
@martenlindblad We are currently working on several tutorials/examples including the Kafka command line - we'll look into including kafkacat as well!

Until then, you can still give it a try with kafkacat without too much trouble. The basic idea to connect with Event Hubs for Kafka is to take any given Kafka client (e.g. your baseline kafkacat client) and include the following configurations to ma

[2018-05-31 20:45] jason-j-MSFT commented on #9293
@carmonmills I can't assign this issue to @niniikhena or @jochan, it might be a permissions issue.  Let me know if I should assign it to someone else.

I have replicated that the first 2 "Deploy to Azure" buttons lead to errors in the portal.  Here is the text from one of my attempts:

"There was an error loading the template from URI 'https://raw.githubusercontent.com/azure/azure-quickstart-templ

[2018-05-31 20:45] ghogen commented on #9455
Node.js development is only supported in VS Code for Azure Dev Spaces at this time.

[2018-05-31 20:48] briansturrock opened #9506 "End date still an issue"
Actually, we have found that the change didn't work for us. It may be because of our locale settings, but GetEffectiveDateString() returns a string object, while New-AzureRmADAppCredential is expecting a DateTime object. Like I said, it may be because it can't auto-convert the string to a date, as it's 31/5, and in US format that is invalid, but the script should be changed nonetheless. The correc

[2018-05-31 20:49] davihar opened #9507 "NuGet Errors"
Executing the "dotnet new -i Microsoft.Azure.IoT.Edge.Module" and "dotnet new aziotedgemodule -n FilterModule -r <your container registry address>/filtermodule" threw various errors because my NuGet settings include additional package sources.  The commands should check each package source before giving up.

The workaround is to remove all package sources from your NuGet.Config file except for nug

[2018-05-31 20:51] davihar commented on #9507
&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot;?&gt;
&lt;configuration&gt;
  &lt;packageSources&gt;
    &lt;clear /&gt;
    &lt;add key=&quot;nuget.org&quot; value=&quot;https://www.nuget.org/api/v2/&quot; /&gt;
  &lt;/packageSources&gt;
&lt;/configuration&gt;

[2018-05-31 20:54] eschrader commented on #8379
Thanks for updating these.

The getting started is helpful. The link at the bottom has a link to the #8111 issue where the push notifications for android are out of date on the page https://docs.microsoft.com/en-us/azure/app-service-mobile/app-service-mobile-xamarin-forms-get-started-push

These are the types of Azure services I want to find updated documentation on, but they are all from 2016 and

[2018-05-31 20:57] ggailey777 commented on #8976
@jphogberg unfortunately, I've not come across that error. Can you please try asking this question in either the [Functions forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureFunctions) or on [Stack Overflow](http://stackoverflow.com/questions/tagged/azure-functions)? Sorry that we aren't able to help with your issue from the documentation side of things. #please-close

[2018-05-31 20:58] mike-urnun-msft commented on #9315
@Wintekso We have assigned this issue to the author to investigate further and take the right course of action.

[2018-05-31 21:01] ghogen commented on #9455
#please-close

[2018-05-31 21:05] asmalser-msft commented on #9457
Acknowledged. A pull request with a fix has been submitted. #please-close

[2018-05-31 21:08] CKeene78 opened #9508 "Orchestration and Activities, Oh my!"
Can we please get a clear explanation, perhaps a table, of how Orchestration functions, Orchestration vs Activity triggers, and Orchestration Clients actually *are*? I find myself bouncing between all of these terms and have no idea when one has to be used versus, or in conjunction, with another one and the terms seem to be used rather interchangeably in the documentation. I tried to trigger an JS

[2018-05-31 21:36] jsturtevant commented on #8675
@gopalvithal would enabling https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-containers#set-container-retention-policy help your scenario?

[2018-05-31 21:44] mike-urnun-msft commented on #9460
Hey @coffeymatt You can certainly use a regular web app service together with Web Sockets, however, as explained here ([What is SignalR Service used for?](https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-overview#what-is-signalr-service-used-for)), SignalR is an abstraction over a number of techniques used for building real-time web applications. WebSockets is the optimal transport, bu

[2018-05-31 21:48] asmalser-msft commented on #9457
https://github.com/MicrosoftDocs/azure-docs-pr/pull/42681

[2018-05-31 21:55] YutongTie-MSFT opened #9510 "If on prem HDFS data source wil be release"
Hi,

There is a customer ask the following [question ](https://social.msdn.microsoft.com/Forums/azure/en-US/d8c5fea0-3d89-4dc6-8844-2038bffd49ed/amls-data-source-workbench-question-?forum=MachineLearning)about the product:

Do you know if on prem HDFS data source  wil be release ?
Many thx

Can you please check it and help? Thanks a lot!

-Yutong

---
#### Document Details

⚠ *Do not edit this sec

[2018-05-31 21:59] spelluru commented on #9442
@ravensorb - Thanks for the feedback. I have tried the following steps and they worked fine for me.

1. Select **Attach a new disk**. Followed the steps to create a disk and attach it to the VM.
2. Detached the disk
3. Select **Attach an existing disk**. Followed the steps to attach an existing disk that was created in step 1.

Do you not see the **Attach existing** toolbar item? Or Do you see it

[2018-05-31 22:00] #9457 closed

[2018-05-31 22:11] iainfoulds commented on #9467
@kskvarci The default VM size is provided from the Azure CLI or Azure PowerShell tools. It's something those development teams hard-code. Currently, the default size for the Azure CLI 2.0 is a _Standard_DS1_v2_. That decision was likely made as a good balance between cost and performance. Unfortunately, it isn't currently looking at what's available for your subscription or region - it's not dynam

[2018-05-31 22:22] mike-urnun-msft commented on #9464
@LarrikinAussie While we will send this feedback over to the Outlook.com, it would also be good for you to Upvote or add more details in the Outlook Feedback page. Details on how to access it is as follows

- Upvote existing feedback : You can [upvote this](https://outlook.uservoice.com/forums/284136-outlook-com/suggestions/32180194--serious-easy-switching-between-multiple-account) existing feedba

[2018-05-31 22:26] TravisCragg-MSFT commented on #9502
@cherylmc Fantastic work!

@johnheitmuller  Thank you for the feedback! We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-31 22:26] #9502 closed

[2018-05-31 22:29] MikeRayMSFT commented on #9056
If VSS doesn't automatically take transaction log backups you would need to make sure those are happening for databases in full recovery model. You can use [Microsoft Azure Backup Server](https://docs.microsoft.com/en-us/azure/backup/backup-azure-sql-mabs) to make sure these happen.  If the VSS solution does happen to take log backups, then you cannot do both - or you will break the log chain.

[2018-05-31 22:32] #9464 closed

[2018-05-31 22:34] TommySharpNZ opened #9512 "Azure AD Premium P2 required?"
Where in here does it state that you need to have a premium plan to be able to assign groups to an application???

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 163a1f88-c268-18aa-a1e6-89b4a11bfb01
* Version Independent ID: 1136a613-48f8-fb67-39d3-d9abdd351a0f
* Content: [Assign a user or group to an enterprise app in

[2018-05-31 22:36] SamirFarhat commented on #9056
Thanks. This is my question, what are your position when enabling sql backup tu url, for Azure SQL VMs backed up by Azure Backup?

[2018-05-31 22:39] rolyon commented on #9259
Hi @limjianan, On the sign-in activity report API samples article, I changed "Audit logs" to "sign-in logs"
https://docs.microsoft.com/en-us/azure/active-directory/active-directory-reporting-api-sign-in-activity-samples

[2018-05-31 22:39] MikeRayMSFT commented on #9056
Our recommendation is to use [SQL Server Managed Backup to Microsoft Azure](https://docs.microsoft.com/en-us/sql/relational-databases/backup-restore/sql-server-managed-backup-to-microsoft-azure?view=sql-server-2017).

[2018-05-31 22:50] aliuy commented on #9098
Monotonic writes are guaranteed in single master setup for all consistency levels. Concurrency is controlled via etag based optimistic concurrency control.

If you want multi-region consistency guarantees, you will want to choose the appropriate consistency level for the scenario.

[2018-05-31 22:55] gardnerjr commented on #9481
yes, for "usage" purposes, many people only consider pageviews and custom events to be "usage".  so the users tool defaults to only showing events + pageviews if there are any.  (I think the text in that view is being clarified to "custom events and page views").  If there are no events or pageviews, then the users tool falls back to showing requests.

[2018-05-31 22:55] #9467 closed

[2018-05-31 22:59] MicahMcKittrick-MSFT commented on #9497
@KloudEzy Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-31 23:01] vasivara-MSFT commented on #9500
@aydeisen Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-31 23:05] MicahMcKittrick-MSFT commented on #9504
@markgar I am still seeing it at 4096 in the subscription quota and limits doc

https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#networking-limits

@mmacy are you able to confirm this new limit? I can update both docs if that is the case.

[2018-05-31 23:07] MicahMcKittrick-MSFT commented on #9508
@CKeene78 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-31 23:08] skreebydba commented on #9080
Mike,

You are welcome.  The PowerShell cmdlets for Managed Instance are available
in preview.  I found out from this link:

https://blogs.msdn.microsoft.com/sqlserverstorageengine/2018/05/31/change-size-azure-sql-managed-instance-using-powershell/#comment-86735

I had to run this PowerShell to get them to install:

Install-Module -Name AzureRM.Sql -RequiredVersion 4.5.0-preview
-AllowPrerelease

[2018-05-31 23:08] bobrundle opened #9514 "Configure ACR code snippets wrong"
In PowerShell need an initial '$' to set CLIENT_ID and ACR_ID environment variables.  Also confusing is that the title of each code snippet is "Azure CLI" when in fact the snippets are entered into PowerShell

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4af71a4-648e-580f-7e86-94ce05196de5
* Version Independent ID: 1

[2018-05-31 23:12] Mike-Ubezzi-MSFT commented on #9507
@davihar Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-31 23:15] Mike-Ubezzi-MSFT commented on #9489
@vxjen Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-31 23:16] neilpeterson commented on #9514
@bobrundle - the commands have been updated to remove the variables. This unfortunately means that some additional copy and pasting is necessary, however the commands now work both in Bash and PowerShell.

We are working on some platform tooling that will allow the code bloc two switch between two 'languages'. Once the tooling is ready, we will update to include proper PowerShell and Bash examples

[2018-05-31 23:17] mimizone commented on #9418
the userId is empty in my case if I filter with a upn equal to my username.

My username is my email. `jeremy.huylebroeck@orange.com`

the UPN (user Principal Name I assume?) is pretty different in my case.
UPN: `jeremy.huylebroeck_orange.com#EXT#@jeremyhuylebroeckorange.onmicrosoft.com`

If I use the userId retrieved properly from the `az ad user list`, the `az role assignment create` command doe

[2018-05-31 23:19] mmacy commented on #9504
I believe this is an AKS-specific limit, but adding @slack and @aanandr for confirmation or correction.

[2018-05-31 23:19] ishepherd opened #9516 "When there's 2 apps on the same consumption plan..."
Will the scale controller ever run functions from both apps on the same node?
Based on this page it doesn't look like it. Please confirm.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06436739-8586-23b1-6b69-1960e93c26be
* Version Independent ID: 8f7abfae-cf6d-56cb-1d20-f02041a6f6d9
* Content: [Azure Functions scale a

[2018-05-31 23:21] mimizone commented on #9418
and also, once I actually can't ssh into the VM using my email. the SSH client is still expecting a ssh key.
[code]

[2018-05-31 23:26] hpsin opened #9517 "OBO can be done with implicit clients."
Tokens obtained through the implicit flow can be used for OBO by a confidential client. Id tokens can as well (but should not be), as long as they're from a client with fixed (non wildcard) reply urls.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cd73bb0-f8d5-84f7-3fc5-2022f8392a20
* Version Independent ID: d598130d

[2018-05-31 23:31] SaurabhSharma-MSFT commented on #9368
@yadcam The complete list of permissions which you can use with cmdlet Set-AzureRMKeyVaultAccessPolicy is documented here [Set-AzureRmKeyVaultAccessPolicy](https://docs.microsoft.com/en-us/powershell/module/azurerm.keyvault/set-azurermkeyvaultaccesspolicy?view=azurermps-6.1.0#outputs).

[2018-05-31 23:34] SaurabhSharma-MSFT commented on #9512
@TommySharpNZ Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-31 23:37] yadcam commented on #9368
@SaurabhSharma-MSFT The list I know, but my purpose is, the option to Copy the full script is given, so if someone that is not aware of such, will run into an error in the last command saying the command requires to be specific, thus they will need to proceed into typing the total list given in the error, instead of only using Ctrl-C , Ctrl-V

I hope I can make myself clear!

![image](https://user

[2018-05-31 23:39] Adam-Smith-MSFT commented on #9458
@davelee212 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-31 23:39] mimizone commented on #9418
SSH prompts me properly now for authentication via the browser.
but once I go through that process, the SSH server closes the connection.
[code]

[2018-05-31 23:44] dishakhattri opened #9518 "Incorrect "status" values"
I am receiving two values "Activated" and "Deactivated" as values for status. Kindly mention all possible values.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e74fedcb-f135-45bb-7b57-a163db2ce108
* Version Independent ID: c55c3cd8-384e-1d97-0397-d59198a01d57
* Content: [Configure webhooks on Azure metric alerts](http

[2018-05-31 23:45] Adam-Smith-MSFT commented on #9475
@SteveL-CXP Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-01 00:01] MicahMcKittrick-MSFT commented on #9418
@mimizone try restarting the server and logging in again to see if it persists.

[2018-06-01 00:04] MicahMcKittrick-MSFT commented on #9516
@ishepherd Thanks for the question! We are investigating and will update you shortly.

[2018-06-01 00:05] MarkusVi commented on #7926
Hi @gutjahr, thanks for your feedback. In addition to the owner, you need to be a user that has at least one of the following roles assigned:

- Global admins
- Helpdesk Admins
- Security Administrators
- Security Readers
- Intune Service Administrators

I have staged an updated version of the article.

#please-close

[2018-06-01 00:05] dcbrown16 opened #9519 "coalesce example"
Customer is reporting that coalesce does not work as shown in this reference.
Bad example:
coalesce(pipeline().parameters.parameter1', pipeline().parameters.parameter2 ,'fallback')

Requires a ? after parameters as below:
coalesce(pipeline().parameters?.parameter1', pipeline().parameters?.parameter2 ,'fallback')

Please verify.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2018-06-01 00:10] MicahMcKittrick-MSFT commented on #9477
It depends on what you are putting into the brackets.

If you look at this section: https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/dsc-template#settings-vs-protectedsettings

It explains the difference between settings and protected settings.

[2018-06-01 00:13] MicahMcKittrick-MSFT commented on #9497
@KloudEzy try restarting the VM then trying again. I had a similar issue before but once I restarted the machine it worked as expected.

[2018-06-01 00:23] washraf opened #9520 "Application Redeployment after edits"
If I edit the code and deploy, It starts redeploying from scratch. I am using the refresh option locally on my machine and it keeps redeploying from scratch every time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d6dda3a-d142-9091-e39b-ab7a534f8624
* Version Independent ID: 3bbb00fa-bc1a-575a-ff3d-0ebdee0982d3
* Co

[2018-06-01 00:26] daveclarke commented on #9370
Sorry - inadvertent closure :-)

[2018-06-01 00:28] mimizone commented on #9418
restarting the VM via the Web UI didn't solve the problem with the SSH server closing the connection.

[2018-06-01 00:29] MicahMcKittrick-MSFT commented on #9370
Hmm interesting. I am able to open it just fine on both my PCs and in multiple browsers.

Try the following:
1) Try another browser
2) Clear your cache
3) Check on your mobile phone or another PC is possible

[2018-06-01 00:31] daveclarke commented on #9370
Yeah it isn’t really a concern for me but I figured you would probably want to know that it’s occurring.
-----
daveclarke@me.com | T 06 752 1122 | M 027 539 0094

[2018-06-01 00:50] MicahMcKittrick-MSFT commented on #9520
@washraf Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-01 00:59] dcbrown16 opened #9521 "Script Actions and On Demand Clusters"
Per the following StackOverflow thread, it appears that it is currently not possible to use script actions when creating an on-demand cluster.
https://stackoverflow.com/questions/49456110/how-to-create-a-hdinsightondemand-linkedservice-with-a-script-action-in-data-fac

Can you confirm and, if possible, update the document to reflect this so that it is clear for future reference? Thanks!

---
####

[2018-06-01 01:10] ishepherd commented on #9516
Thanks - scenario is: I have one Consumption Plan and two Function Apps, both are installed on that one Plan. (All setup by ARM template).

Is it possible the 2 apps will run in the same functions host process?

Is it possible the 2 apps will run on the same compute node?

[2018-06-01 01:14] mike-urnun-msft commented on #9460
@coffeymatt We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-01 01:14] #9460 closed

[2018-06-01 01:16] aanandr commented on #9504
The VNet limit has indeed gone up to 16k but need to find out if AKS has any checks to retrict to 4096. I am checking.

[2018-06-01 01:28] mjcarrabine commented on #9477
Thank you @MicahMcKittrick-MSFT for looking into this. When that is figured out, please make the additional corrections below.

In its current state, this page is not correct and the hosted schema doesn't have the latest version described on the page so I don't know what is the *correct* reference on how to register my VMs with Azure Automation DSC from an ARM template using the DSC extension. I w

[2018-06-01 02:02] gerardwolf commented on #8805
Thanks all. Just wanted to mention that the section indicating which AzureRm modules to install for Azure Automation in the article still refer to AzureRm.DataFactoryV2 0.5.2 and AzureRm.Profile 4.5.0. You might want to consider updating this to show the newer versions now supported.

[2018-06-01 02:15] KevinMZiegler opened #9522 "Problem with text in link"
Where there is a link to "Azure Blob Upload Task" under the section "Download data from Azure blob storage" - the text should say Azure Blob Download Task - where it is appropriately linked to.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5411258-7d41-101c-f864-376da9140228
* Version Independent ID: 81b50ad0-f9e2-68

[2018-06-01 02:28] HK-Zhang opened #9523 "How does partitioning work"
Is it predictable on how many physical partitions to be created given by overall throughput and possible data size? For example. the total data size is 20 GB, and the throughput is 1000 RU/esc at containers set level.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9da32a62-a60f-1013-bb2f-688c67a446ec
* Version Independ

[2018-06-01 02:42] anrothMSFT commented on #9434
Thanks. Excellent feedback.
I've created https://github.com/MicrosoftDocs/azure-docs/issues/9434#issuecomment-393640733
which adds a link to a sample we've validated for ONNX + Windows Machine Learning

[2018-06-01 03:28] jloughlinMSFT opened #9525 "Data Lake Store Videos"
All of the videos in this section of https://docs.microsoft.com/en-us/azure/data-lake-store/data-lake-store-overview
render this page:  https://support.office.com/en-us/article/important-information-about-office-mix-preview-end-of-service-c1c04f84-a7bb-4602-9645-258017155258?ui=en-US&rs=en-US&ad=US   None of the videos are reachable.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2018-06-01 03:46] ryano144 opened #9526 "FAQ Missing: Can this service host models built using the Azure Machine Learning Studio?"
Answer: No, the Azure Machine Learning Studio is a separate product from the Azure Machine Learning Services.  ML Studio takes a gui based approach to train models using standard techniques.  ML Services takes a code based approach to train models using a wide variety of frameworks.  You can find the full set of Machine Learning products available on Azure here: https://docs.microsoft.com/en-us/az

[2018-06-01 03:48] SnehaGunda commented on #9175
@GrantMeStrength thanks for pointing the issues, I fixed them in this PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/42723

I am working with the source code owner to get the code fixed in samples repo.

[2018-06-01 03:51] SnehaGunda commented on #9176
@GrantMeStrength thanks for pointing the issues, looks like the doc was written a while ago and --minimal option didn't generate certain files and code blocks. I fixed them with latest version in this PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/42723

I am working with the source code owner to get the code fixed in samples repo.

We will now proceed to closing this issue. If you have fu

[2018-06-01 03:51] SnehaGunda commented on #9176
#please-close

[2018-06-01 03:51] MicahMcKittrick-MSFT commented on #9477
@mjcarrabine thanks so much for those examples! I will work with the content author to review and ensure the doc is correct.

@DCtheGeek can you take a look?

[2018-06-01 03:51] SnehaGunda commented on #9172
@GrantMeStrength thanks for pointing the issues, looks like the doc was written a while ago and --minimal option didn't generate certain files and code blocks. I fixed them with latest version in this PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/42723

I am working with the source code owner to get the code fixed in samples repo.

We will now proceed to closing this issue. If you have fu

[2018-06-01 03:51] SnehaGunda commented on #9172
#please-close

[2018-06-01 04:37] KloudEzy commented on #9497
I destroyed the original deployment and redid everything using the script in this article. Still same issue. I'm using user1@kloudezy.com the custom domain name of my Azure AD. Is there any problem using it?

[2018-06-01 05:23] ToruMakabe opened #9527 "Sample default variable "resource_group_name" should be lower-case"
Terraform is case-sensitive, so sometimes we use upper-case in name of resources, the deployment will fail. Could you consider change default variable of resource_group_name "myResourceGroup" to lower-case? The value is used as domain_name_label of public ip and the value should be lower-case, so the plan command will fail.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2018-06-01 05:28] hpsin commented on #9517
I'm the real author 😊 just making a note to fix this in the morning.
There's a lot of nuance here that's surprising for app developers..

On Thu, May 31, 2018, 10:25 PM SaurabhSharma-MSFT <notifications@github.com>
wrote:

[2018-06-01 05:43] junpark12 opened #9528 "Method 1 & Step 3"
seems like following configuration does not work.  "charts/webfrontend/values.dev.yaml"
I need to change values.yaml file contents instead of values.dev.yaml file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94dbff82-2dd2-7ded-6d0b-d685ea705cdf
* Version Independent ID: 2ccb6f01-40c1-a096-1214-8ff938c0978a
* Content

[2018-06-01 06:04] almusawi commented on #9471
There is no doc about that only one that say what kind of data sources are available shortly but nothing about data sources from another subscription

[2018-06-01 06:13] SaurabhSharma-MSFT commented on #9517
@hpsin sure, I have assigned it to you :)

[2018-06-01 06:26] idg10 opened #9529 "Microsoft.Azure.EventHubs vs Microsoft.ServiceBus.Messaging"
There seem to be two different EventHubClient classes, and it's not obvious which one to use. One is in the Microsoft.Azure.EventHubs namespace, which can be found in the Microsoft.Azure.EventHubs.dll assembly that ships in the https://www.nuget.org/packages/Microsoft.Azure.EventHubs/ NuGet package, and the other is in the Microsoft.ServiceBus.Messaging namespace, found in the Microsoft.ServiceBus

[2018-06-01 06:28] femsulu commented on #9493
@nastassiar Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-01 06:28] martijnkrijger-p commented on #5155
@MicrosoftGuyJFlo
_"the product group is working on a migration path for MFA Server users to the cloud. It is on the roadmap but the dates are not yet ready to publish. It is something that many customers have asked for and we definitely want to get it right. We will publish new docs when it becomes available. Thanks for your feedback it is greatly appreciated."_
Any idea when this will be availab

[2018-06-01 06:29] femsulu commented on #9496
@nastassiar Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-01 06:32] femsulu commented on #9501
@kyle-thomas-TT Thanks for bringing this to our attention. Your issue has been shared with the content owner for further review.

[2018-06-01 06:34] femsulu commented on #9506
@briansturrock Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-01 06:35] femsulu commented on #9518
@dishakhattri Thanks for bringing this to our attention. Your comment has been shared with the content owner for further review.

[2018-06-01 06:40] femsulu commented on #9510
@YutongTie-MSFT
Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-01 06:44] femsulu commented on #9522
@KevinMZiegler Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-01 06:44] SnehaGunda commented on #9425
#please-close

[2018-06-01 06:47] femsulu commented on #9526
@ryano144 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-01 06:49] gutjahr commented on #7926
So just to be clear, either you are a member of one of the AAD roles you mention, or you are the 'owner' of the device in question in which case the role membership is optional.

[2018-06-01 06:49] #7926 closed

[2018-06-01 06:50] femsulu commented on #9519
@dcbrown16 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-01 06:51] femsulu commented on #9521
@dcbrown16 Thanks for the comment. We are actively investigating and will get back to you soon.

[2018-06-01 06:53] SnehaGunda commented on #8436
@kubiozi which version of mongoose are you using? I sent an email to initial author of this doc @johnpapa to help you unblock.

[2018-06-01 06:55] SnehaGunda commented on #9178
@GrantMeStrength thanks for pointing the issues, looks like the doc was written a while ago and --minimal option didn't generate certain files and code blocks. I fixed them with latest version in this PR MicrosoftDocs/azure-docs-pr#42723

I am working with the source code owner to get the code fixed in samples repo.

[2018-06-01 07:01] femsulu commented on #9525
@jloughlinMSFT Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-01 07:02] SnehaGunda commented on #9050
@Mike-Ubezzi-MSFT please assign this issue to @aliuy

[2018-06-01 07:03] femsulu commented on #9523
@HK-Zhang Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-01 07:13] femsulu commented on #6212
@Susheel27 We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-01 07:13] #6212 closed

[2018-06-01 07:14] femsulu commented on #8270
@joben We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-01 07:14] #8270 closed

[2018-06-01 07:14] femsulu commented on #8976
@jphogberg We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-01 07:14] #8976 closed

[2018-06-01 07:14] femsulu commented on #9168
@KevinXTian We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-01 07:14] #9168 closed

[2018-06-01 07:15] femsulu commented on #9172
@GrantMeStrength We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-01 07:15] #9172 closed

[2018-06-01 07:15] femsulu commented on #9175
@GrantMeStrength We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-01 07:15] #9175 closed

[2018-06-01 07:16] femsulu commented on #9176
@GrantMeStrength We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-01 07:16] #9176 closed

[2018-06-01 07:16] femsulu commented on #9292
@GeekActual We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-01 07:16] #9292 closed

[2018-06-01 07:16] femsulu commented on #9455
@junpark12 We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-01 07:16] #9455 closed

[2018-06-01 07:20] SnehaGunda commented on #9178
@GrantMeStrength agree that there are issues in this doc, I made some changes to fix them. When I tested the code, I saw an error at   selectedHero: Hero; and private heroService: HeroService statements and that error will be resolved when you follow next steps where the Hero and HeroService components are added and imported.

[2018-06-01 07:31] naveenkrsh commented on #9386
Thanks

[2018-06-01 07:34] joeweale commented on #9390
Hi @mike-urnun-msft

This was raised as a support ticket at the same time. It seems there's a problem updating the value through the new settings blade in cosmosdb for old documentdb collections. So although the article is technically correct for new collections it doesnt work on legacy collections.

I'd say the bug was in the azure blade vs the documentation.

Thanks

Joe

[2018-06-01 07:34] #9390 closed

[2018-06-01 08:03] bluephoton opened #9531 "Where is this previous step you talk about?"
in the section Understand VM instance images

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92e965d9-bda3-ba82-00e0-a4c8b30a23cf
* Version Independent ID: d00377a2-9524-d17e-e98c-780a633d70ce
* Content: [Tutorial - Create and manage an Azure virtual machine scale set](https://docs.microsoft.com/en-us/azure/virtual-mach

[2018-06-01 08:03] jurjenoskam commented on #9497
As of yesterday, AADLogin no longer works on my centos VMs. The problem seems to be that the account / account name is not properly propagated to the Linux system somehow.

After logging in to the VM as a local user, I can su to an AAD account but the account name is not known to the OS:

[root@VMtst-one ~]# su - <redacted>
Last login: Fri Jun 1 06:59:32 UTC 2018 on pts/0
Last failed login: Fri Ju

[2018-06-01 08:03] dominicbetts commented on #9125
Hi @cezane, there are a number of cross-platform Event Hubs SDKs:

- https://github.com/azure/azure-event-hubs-c
- https://github.com/azure/azure-event-hubs-dotnet
- https://github.com/azure/azure-event-hubs-java
- https://github.com/azure/azure-event-hubs-node
- https://github.com/azure/azure-event-hubs-python
- https://github.com/azure/azure-event-hubs-go

The SDK is probably the most portable a

[2018-06-01 08:15] jurjenoskam commented on #9497
Oh, and issuing "getent passwd <accountname>" works:
[user@VMtst-one ~]$ getent passwd <redacted>
<redacted>:*:10246103:10246103:<part-before-the-@-of-redacted>:/home/<part-before-the-@-of-redacted>:/bin/bash
(where the "<redacted>" is the exact same account as in the log snippets above)

... but this works for *any* account name, existing or not, as long as it's lowercase and contains an "@" some

[2018-06-01 08:19] junpark12 commented on #9455
Understood. Thanks.

Windows 10용 메일<https://go.microsoft.com/fwlink/?LinkId=550986>에서 보냄

________________________________
보낸 사람: femsulu-MSFT <notifications@github.com>
보낸 날짜: Friday, June 1, 2018 4:16:55 PM
받는 사람: MicrosoftDocs/azure-docs
참조: junpark12; Mention
제목: Re: [MicrosoftDocs/azure-docs] node.js + visual studio (#9455)

@junpark12<https://github.com/junpark12> We will now close this issu

[2018-06-01 08:35] jurjenoskam opened #9532 "Extension seems to be installed successfully, cannot log in"
Following these instructions, I can't log in to my centos testing VMs with my AAD account. The problem seems to be that the account / account name is not properly propagated to the Linux system somehow. The extension seems to be installed successfully.

After logging in to the VM as a local user, I can su to an AAD account but the account name is not known to the OS:

[root@VMtst-one ~]# su - -red

[2018-06-01 08:45] Anmolgan81 opened #9533 "How to log all incompaitable rows in storage account using ADF V2 copy data tools?"
I have selected the option of logging all the incompatible rows into the storage account default container, but there have been no logs written inside the storage account, I am wondering why is that not happening? Is there anything which can be done to make this work?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b313

[2018-06-01 09:01] r3plica opened #9534 "Multiple triggers"
I think the documentation should explain if and how you can have multiple triggers in one project....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 369aefa6-74da-3001-f835-15abdfffd5d6
* Version Independent ID: 2cc2a2db-d059-3252-7a1a-4261b7d3c37c
* Content: [Develop Azure Functions using Visual Studio](https://docs.m

[2018-06-01 09:37] blade-feng-wang opened #9536 "How many requests doesn't a adf1/adf2 support in a same time"
I have a adf1/adf2 project. In fact I'm transform the adf1 to adf2, there are more than 300 json files in each project. I want to deploy them by the PowerShell AzureRM module. I know that the AzureRM module invokes the REST API in the background. It take very long time to deploy them one by one. So I'm thinking to involve the multiple threads in my PowerShell scripts. So I have to know what is the

[2018-06-01 09:56] Alaselva opened #9537 "Allow to use the Realm manipulation in Connection Request Policies"
Dear Developers,
NPS server cannot perform real manipulation to change the domain name from the user UPN before the AD authentication happens, even if the Connection Request Policies contains the appropriate rule. This is a limitation for us, since we often acquires companies and move their services to the Ms Cloud prior to integrate them into our AD on premise. It would be a nice feature to have

[2018-06-01 10:04] AlexKeySmith opened #9538 "User Access Administrator role details"
Hi, it'll be great to have additional details of the permissions granted to "User Access Administrator".

The documentation on this and "Access control in Data Lake Store" discuss how ACLs are applied but not as much on how they are administered. It discusses super-users and owning users / groups but not the user access administrator.

This page states "Add and remove roles" but this suggests it's

[2018-06-01 10:37] santhoshvellingiri opened #9539 "InvalidAuthorization Error with Python Sample Example"
Followed the instruction and used the sample code as documented with just replacing the Workspace ID and Primary Key to Customer ID and Shared Key respectively. But the execution is failing with error "An invalid signature was specified in the Authorization header" and Status code 403.

Thanks,
Santhosh.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-06-01 12:13] htoma opened #9540 "Is it still possible to create metric alerts for Azure Functions?"
In Alerts (classic), the tab + Add metric alert (classic) is greyed out and the previous metrics for Azure Functions (failures, count) are not available in new Alerts

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13672b67-22ea-3dda-8b6b-3332c24e6030
* Version Independent ID: fdc60aeb-9971-1d9f-a6ba-b3ad818cf0d5
* Cont

[2018-06-01 12:15] jimdial commented on #9234
#in-process

[2018-06-01 12:19] MarkusVi commented on #7926
Hi @gutjahr, this is correct.

[2018-06-01 12:43] robertm73 commented on #9492
Does a block generate a log event you can see?

[2018-06-01 12:49] rothja commented on #9487
@porky9 Thank you for this request. @cephalin Can you take ownership of this request? I think it is in your area, right? Thank you!

[2018-06-01 12:59] jge002 opened #9541 "Different result."
Hi,
I have uploaded a picture for testing on https://azure.microsoft.com/nl-nl/services/cognitive-services/computer-vision/
Then I tried the program CSHttpClientSample to ReadHandwrittenText.
The result is not the same result as in the testing app.
The result in the testing app is better.
What is wrong?

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppel

[2018-06-01 13:29] KloudEzy commented on #9418
I'm also having exactly same issue. @MicahMcKittrick-MSFT and @iainfoulds any idea what to do?

[2018-06-01 13:47] grecuionut commented on #9532
@jurjenoskam I have the same problem.

However, you should not have any new entry in /etc/passwd as it doesn't create a local user.
What you should have is a new group called aad_admins and the AAD user should be added to the group when you first login.

This is a sample from /var/log/auth.log during the installation of the vm extension:
Jun  1 12:59:37 test groupadd[2857]: group added to /etc/gro

[2018-06-01 14:05] georgewallace commented on #8854
@ChrisStewart77 I am going to as that @MicrosoftDocs/azure-cxp-triage now close this issue.  If you have any other questions in the future please don't hesitate to reach out. #please-close

[2018-06-01 14:06] georgewallace commented on #8460
As the script has been updated, I am requesting @MicrosoftDocs/azure-cxp-triage to close this issue.  If you have additional feedback or questions in the future do not hesitate to reach out. #please-close

[2018-06-01 14:07] smoms opened #9542 "Error on Deployment with PS"
I have zipped the folder of the c# function project (not solution folder!) and run the PowerShell command. I get error:

Invoke-RestMethod : {"Message":"An error has occurred.","ExceptionMessage":"End of Central Directory record could not be found.","ExceptionType":"System.IO.InvalidDataException","StackTrace":"   at
System.IO.Compression.ZipArchive.ReadEndOfCentralDirectory()\r\n   at System.IO.C

[2018-06-01 14:10] snimmagadda1 opened #9543 "Deleting throug portal delete all resources associated with a cluster?"
Aside from deleting the entire resource group associated with a given cluster, does deleting the cluster via  the portal (i.e image above) also delete the resources associated with the cluster (i.e vms, LBs, etc)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e2e2275-9fc0-daf7-246e-ce5bf5e9e14f
* Version Independent

[2018-06-01 14:11] ObadahFahmy opened #9544 "Mistake in ASP.NET and .NET applications"
Under Save secret settings in an Azure Key Vault, in code example 2 the builder is named "KeyVault" in code example 3 the name of the configBuilder is "AzureKeyVault" when it should match the builder name in example 2

The type in the builder is also incorrect, it is "type="Microsoft.Configuration.ConfigurationBuilders.AzureKeyVaultConfigBuilder, ConfigurationBuilders" and should be "type="Microso

[2018-06-01 14:17] WillLennon opened #9545 "Can't change user's UPN back to what it was originally"
I changed a users UPN and saved it.  Then I tried to change it back.
I see an unhelpful message that says:  "Unable to update profile for user XXXX".
Why not?  How can I get past this and correct my original mistake?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f7bda7f-8344-5960-0958-3467b36e69b9
* Version Independe

[2018-06-01 14:21] petermc129 commented on #7325
I get the following error when attempting to use images that are stored locally (hitting the github repo works fine). I am using python 2.7.12. I assume the fsencode function does not exist in the os module.

Traceback (most recent call last):
  File "c:/Users/pmcnally/Documents/projects/Computer Vision/MSFT CV Tutorial/sample.py", line 35, in <module>
    for image in os.listdir(os.fsencode("Imag

[2018-06-01 14:34] Brenduns commented on #9484
@danielserver86    This is not something we currently have a statement of support for, as the Oracle solutions have not been expressly validated on Azure Stack.  My understanding is while Oracle provides statements that they support their applications and OS on hyper-v, they have not explicitly extended that to Azure Stack as of yet. For RAC, that will require additional investigation and I regret

[2018-06-01 14:35] Brenduns commented on #9484
#please-close

[2018-06-01 14:39] katomel4 commented on #8837
same issue for me

[2018-06-01 14:39] scheng924 opened #9546 "Native apps"
So we have a policy where it includes all cloud apps for iOS, device should be marked compliant.
Our devs are writing an in-house app, with native redirection created under app registration. This app should not be managed by Intune.

I have no way to select exclude this specific app because it's a native app and not a cloud app. What can I do here? Everytime someone logs in, it asks them to enroll

[2018-06-01 14:50] smflorentino opened #9547 "Change formatting for commonNames under extension configuration"
At first glance, I thought "commonNames" under the extension configuration was a list, not a string. Can you update the formatting to match the other lists in this JSON?
Furthermore, this error caused my ARM deployment to fail after several hours instead of being caught at template deployment time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2018-06-01 14:52] reza2502 opened #9548 "SAML using Azure Active Directory Authentication in ASP.NET"
In there a sample solution for this implementation? I want to use Microsoft Azure AD authentication for the SAML implementation in my Single Page Angular App.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62bb99a4-4092-0202-48bf-4e61ee424faf
* Version Independent ID: a066de9a-42fb-2fcc-683d-2ffdc45fdf3d
* Content: [Az

[2018-06-01 14:52] katomel4 commented on #8837
just tried it upon azure automation account
same error - Cannot bind argument to parameter 'AbsoluteUri' because it is null
I have checked in the portal and the sas token is granter
Visual Studio Enterprise – MPN subscription

[2018-06-01 15:05] butchmarshall opened #9549 "Multi-tenant apps - Developer Tenant users signs in, Service Principal Object users do not"
I am having issue getting the users from a Service principal object signed in.

The app developer tenant (butchdevtembosocial) users are successfully signed in via the link from the launcher panel [here](https://account.activedirectory.windowsazure.com/applications/signin/Surveys%2c%20Forms%20and%20Polls/cd8a4c17-0229-4c09-8690-34d43b9719a0) while users from the service principle objects tenant ar

[2018-06-01 15:11] fajanssen commented on #9282
Thanks for your reply,

As stated in the documentation for Azure CLI, you pass a file with your custom Data to it. Is it even possible to do anything like this in an ARM Template?

I also found the example you mentioned, but i think this would be pretty unhandy, because one had to insert the text from the cloud-init file into the Parameters or the Template.

[2018-06-01 15:15] jimmyeao opened #9550 "The Circular Dependency Bug"
This seems to particularly prevalent when using automation scripts to export templates, and wading through thousands of lines in the template is not really an appropriate 'fix'. Much better to have these checks in place as part of the export process. Is this on the roadmap to be fixed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2018-06-01 15:25] rvs99 opened #9551 "This application is not working if other user tries with his credential"
I have followed everything mentioned here in document.
WPF application is working perfectly on my machine.

Same application is not working when I tried on another machine with different valid credentials.
I'm getting response from API as follows

{
  "error": {
    "code": "ErrorAccessDenied",
    "message": "Access is denied. Check credentials and try again.",
    "innerError": {
      "request-

[2018-06-01 15:25] lawrencegripper opened #9552 "DNS Service not present on docker cluster"
Hi,

When trying to deploy to the docker image with an `applicationmanifest.xml` which uses the DNS I receive the following error:

[code]

Is there a way to enable the DNS service on the docker cluster?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36484192-c2fc-5239-9d7a-d6f3bd9176f2
* Version Independent ID: f1926b

[2018-06-01 15:26] kasperkamperman commented on #7192
With tensorboard I could view the Graph, is the 'output_node_names' simply 'import'?

![model_graph](https://user-images.githubusercontent.com/1760616/40848934-e1a72154-65c0-11e8-91eb-745da20ef29b.png)

[2018-06-01 15:29] bradcstevens opened #9553 "Remove-AzureRMRecoveryServicesVault Fails"
I tried running the PowerShell cmdlets detailed under "Use PowerShell to force delete the vault" to force delete a vault with AzureRM Version 6.1.1 (RecoveryServices 4.1.3) but I receive a useless error:

Remove-AzureRmRecoveryServicesVault : Operation failed.
ClientRequestId: 81b181fa-3f8f-4689-8641-1bd8d6bbd537-2018-06-01 15:24:01Z-P
One or more errors occurred.

Additionally, some links in this

[2018-06-01 15:32] v-geberr commented on #8211
#please-close

[2018-06-01 15:33] cwatson-cat commented on #6772
@manish-shukla01 Can you please give us an update on the ReservationInstances APIs?

[2018-06-01 15:38] mganeshphani opened #9554 "Information on how to capture create actions or Update action"
Hello,

Is it possible to clarify, which fields provide following information
-> Create
-> Update
-> Delete
-> when Update, what properties are updated

as specified in following article
https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-overview-activity-logs#categories-in-the-activity-log

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2018-06-01 15:47] ImAWizeAss commented on #6422
Had the similar issue, had encountered two problems. One was the connection won't establish and second when the first issue was fixed, the connection would reset after one minute and when running the command show crypto IPsec sa, I didn't get any response. Show crypto isakmp sa show expected output though.

First problem was due to not assigning VPN peer license to the context. At our location we

[2018-06-01 15:50] cwatson-cat commented on #7882
@VickyAvinash Can we go ahead and close this?

[2018-06-01 15:57] cwatson-cat commented on #7119
@MicrosoftDocs/azure-cxp-triage please assign to @Erikre

[2018-06-01 15:58] cwatson-cat commented on #6772
@MicrosoftDocs/azure-cxp-triage please assign this to @manish-shukla01

[2018-06-01 16:01] RoseAlgebraI opened #9555 "Does soft deleted blob have the same size as the active (base) blob?"
When a blob is soft deleted, will it have the same size (byte count) as the now active blob?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78964956-a479-5fbe-710d-19e361542a36
* Version Independent ID: 15e70532-6d39-47ed-6932-ef3eb88e33f0
* Content: [Soft delete for Azure Storage blobs (Preview)](https://docs.microsof

[2018-06-01 16:04] mike-urnun-msft commented on #9528
@junpark12 Thank you for bringing this to our attention. Your feedback has been shared with the content author for further review.

[2018-06-01 16:05] Mike-Ubezzi-MSFT commented on #9425
@CeciAc We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-01 16:05] #9425 closed

[2018-06-01 16:07] mike-urnun-msft commented on #9544
@ObadahFahmy Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-06-01 16:09] keikhara commented on #9391
@Praxiss there has been an issue on AKS. The fix should be rolling out as we speak. Please try it again.

[2018-06-01 16:09] MicahMcKittrick-MSFT commented on #9527
@ToruMakabe Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-01 16:09] #8854 closed

[2018-06-01 16:10] MicahMcKittrick-MSFT commented on #9531
@bluephoton Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-01 16:11] MicahMcKittrick-MSFT commented on #9532
@jurjenoskam @grecuionut Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-01 16:11] MicahMcKittrick-MSFT commented on #9534
@r3plica Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-01 16:11] neilpeterson commented on #9543
@snimmagadda1 - yes, deleting the AKS resource should delete all related resources.

[2018-06-01 16:12] MicahMcKittrick-MSFT commented on #9540
@htoma Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-01 16:13] MicahMcKittrick-MSFT commented on #9542
@smoms Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-01 16:15] MicahMcKittrick-MSFT commented on #9547
@smflorentino Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-01 16:15] MicahMcKittrick-MSFT commented on #9552
@lawrencegripper Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-01 16:19] basilhariri commented on #9289
@githubavi Just heard about a .NET user who managed to connect to the Event Hubs Kafka using a Confluent Kafka component. YMMV, but feel free to check this out :)

https://github.com/wsilveiranz/EventHubsKafkaSample/

[2018-06-01 16:20] danielodievich opened #9556 "Incorrect steps in documentation for AppDynamics SAML integration with Azure AD"
Hello there,

I work for AppDynamics as Solution Architect in Professional Services.

I recently rewrote our own KB article on configuring Azure AD as SAML provider for AppDynamics. During this rewrite, I've discovered this article. I would like to point incorrect parts of this document in hopes that you review and correct them.

Issue 1
Configuring Azure AD single sign-on\step 3\section a and b
Y

[2018-06-01 16:28] danielodievich commented on #9556
Here is my article in word format for your reference
[How to Configure AppDynamics to use Azure Active Directory for SAML SSO.docx](https://github.com/MicrosoftDocs/azure-docs/files/2063430/How.to.Configure.AppDynamics.to.use.Azure.Active.Directory.for.SAML.SSO.docx)

[2018-06-01 16:32] SnehaGunda commented on #9178
#please-close

[2018-06-01 16:33] henrydaehnke opened #9557 "Tutorial for Calling Custom API"
This is a nice walk through for a SPA calling the Microsoft Graph API, but what would be even better would be a tutorial for calling a stand alone, custom API from a SPA. That seems like a pretty common situation, and I haven't seen much documentation for it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c6d2219-cb28

[2018-06-01 16:37] andretms commented on #9551
@rs99 - Graph API require user to consent to scopes that you are requesting tokens from. The sample uses the 'Me' endpoint - this requires user to consent to **user.read** scope. According to the [Graph Documentation for insights](https://developer.microsoft.com/graph/docs/api-reference/beta/api/insights_list_trending) *List Trending* requires consent **Sites.Read.All** (preferred) or **Sites.Read

[2018-06-01 16:38] jeevansd commented on #9556
@danielodievich Thanks for providing the doc. It seems that you are using AppRoles for the application and customer can create their own app roles and map it to Azure AD. We have a generic article on how to use that, We will map that here and provide the guidance to our customers.

@chetansriv and @v-nagta Can you please review this and update our article accordingly?

[2018-06-01 16:42] curtand commented on #9269
#in-progress checking with admin roles PM on the correct and true name.

[2018-06-01 16:44] danielodievich commented on #9556
Yes, my article includes both authn (identity) and authz (roles) steps. I saw and refer to MS doc articles on those. The article isn't published yet, it's going through internal publishing scrub and process right now.

Thanks for looking into the incorrect parts. Our customers that use this are going to appreciate it.

[2018-06-01 16:45] MicahMcKittrick-MSFT commented on #9056
Thanks for all the help and information @MikeRayMSFT

@SamirFarhat I will close this for now but if you have additional questions just let me know and we can reopen and continue.

[2018-06-01 16:46] andretms commented on #9557
@henrydaehnke, the reason for that is that this scenarios to call a custom Web API were not available for the v2 endpoint at the time this guide was created. We will launch new guides to cover these standalone Web APIs scenarios. The main difference from Microsoft Grapth is that the scopes being requested will be using a format similar to `{Application ID URI}/{scope}` (usually App Id URI is the A

[2018-06-01 16:47] MicahMcKittrick-MSFT commented on #9282
@jpconnock would you have any additional information on this topic you could share?

[2018-06-01 16:48] MicahMcKittrick-MSFT commented on #9370
@daveclarke thanks for bringing it up. I will close this for now but if others are seeing the same thing they can comment here and we can always reopen to look into it further.

[2018-06-01 16:48] #9370 closed

[2018-06-01 16:52] jeevansd commented on #9556
@danielodievich This is the article we are planning to refer to add the roles to the application. Customers don't like the long article and this way we can point them to our generic article to configure the app roles.
https://docs.microsoft.com/en-us/azure/active-directory/active-directory-enterprise-app-role-management

[2018-06-01 16:55] bobmclaren opened #9559 "Correction to docker run command"
I found that I was unable to import the SSL certificate due to an incorrect directory name in the provided run command.  By changing "c:\CosmosDBEmulator" to "c:\CosmosDB.Emulator" I was able to get it to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 109ed3f8-faf1-92b9-bf50-4be52e9099d4
* Version Independent ID:

[2018-06-01 16:56] curtand commented on #9270
#in-progress @scarson I can fix the documentation, but not until Monday.

[2018-06-01 16:57] curtand commented on #9308
#in-progress @SachinRanka
Checking.

[2018-06-01 16:59] douglaslMS commented on #8805
@gerardwolf Yikes! I confess that I missed the fact that the specific older versions are mentioned in more than one place. Thanks for bringing this to our attention.

[2018-06-01 16:59] danielodievich commented on #9556
Yes, that is the article that I referred to while preparing our updated KB article. I agree that linking to it is best.

Incidentally, it really shouldn't be hard to do (programmatic PATCH calls?!)

[2018-06-01 17:00] Adam-Smith-MSFT commented on #9553
@bradcstevens Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-01 17:00] curtand commented on #6970
@WithHolm This is corrected now.

[2018-06-01 17:11] MicahMcKittrick-MSFT commented on #9418
@iainfoulds I am starting to see the same thing. Can you walk through a repro as well?

[2018-06-01 17:12] MicahMcKittrick-MSFT commented on #9497
@KloudEzy we are working to repro the issue. I see you are also on #9418 so please follow both for updates

[2018-06-01 17:13] SamirFarhat commented on #9056
Sorry, but my question was not answered. Can we use SQL backups to URL for an Azure VM when Azure Backup at the VM level is already enabled and vss enabled too. Automated backup supports only default instances

[2018-06-01 17:13] MicahMcKittrick-MSFT commented on #9516
@ggailey777 could you chime in on this?

[2018-06-01 17:17] SaurabhSharma-MSFT commented on #9537
@Alaselva Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-01 17:18] SaurabhSharma-MSFT commented on #9545
@WillLennon Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-01 17:19] MicahMcKittrick-MSFT commented on #9527
@ToruMakabe thanks for the suggestions! I have gone through the doc and converted many of the variables to lowercase. Once the changes merge this issue will close and the changes will go live in a few hours.

[2018-06-01 17:19] SaurabhSharma-MSFT commented on #9546
@scheng924 Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-01 17:19] SaurabhSharma-MSFT commented on #9548
@reza2502 Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-01 17:20] MicahMcKittrick-MSFT commented on #9531
@bluephoton it is referring to when you created the VMSS

https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/tutorial-create-and-manage-powershell#create-a-scale-set

The default is a Windows Server 2016 image that is used.

[2018-06-01 17:20] SaurabhSharma-MSFT commented on #9549
@butchmarshall Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-01 17:22] MicahMcKittrick-MSFT commented on #9532
@iainfoulds same issue as #9497 and #9418

[2018-06-01 17:28] SaurabhSharma-MSFT commented on #9336
@iop111 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-01 17:28] #9336 closed

[2018-06-01 17:28] SaurabhSharma-MSFT commented on #9305
@pedrr We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-01 17:28] #9305 closed

[2018-06-01 17:29] MicahMcKittrick-MSFT commented on #9418
@mimizone @KloudEzy @jurjenoskam I am working with Iain offline to get this addressed.

I am referencing all issues to this one
#9418
#9497
#9532

I will be closing the other two and we can all work off of this one to simplify the process.

I will update everyone once we have more information.

[2018-06-01 17:30] MicahMcKittrick-MSFT commented on #9532
Duplicate of #9418 working off of that issue to address the problems.

[2018-06-01 17:30] #9532 closed

[2018-06-01 17:30] MicahMcKittrick-MSFT commented on #9497
Duplicate of #9418 working off of that issue to address the problems.

[2018-06-01 17:30] #9497 closed

[2018-06-01 17:33] MicahMcKittrick-MSFT commented on #9540
@htoma you will need to use Application insights to setup alerts for Functions. Alerts (classic) will not work for functions.

[2018-06-01 17:34] hpaul-osi opened #9560 "Best practices"
It would be helpful to hear what best practices Microsoft recommends for managing or monitoring aliases with cloudapp.net domains.  Since subdomains of cloudapp.net can be claimed by any Azure subscriber as long as they are free, it is critical to manage aliases.  An orphaned alias could result in another service (potentially a malicious one) leveraging the alias.

---
#### Document Details

⚠ *Do

[2018-06-01 17:34] vasivara-MSFT commented on #9533
@Anmolgan81 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-01 17:35] vasivara-MSFT commented on #9536
@blade-feng-wang Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-01 17:36] MicahMcKittrick-MSFT commented on #9542
@smoms when downloading the content which options are you picking:

![image](https://user-images.githubusercontent.com/32313503/40854853-94f6318a-6587-11e8-8ec3-babc9718e263.png)

[2018-06-01 17:36] vasivara-MSFT commented on #9536
@blade-feng-wang Thanks for the feedback. We are actively investigating and will get back to you soon..

[2018-06-01 17:37] MicahMcKittrick-MSFT commented on #9547
@rwike77 can you take a look at this?

[2018-06-01 17:38] vasivara-MSFT commented on #9529
@idg10 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-01 17:39] MicahMcKittrick-MSFT commented on #9552
@lawrencegripper have you looked at the documentation for enabling DNS on SF?

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-dnsservice

I believe you would need to go through these steps first.

[2018-06-01 17:40] vasivara-MSFT commented on #9538
@AlexKeySmith Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-01 17:43] vasivara-MSFT commented on #9539
@santhoshvellingiri Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-01 17:52] markmassad opened #9561 "ILB Certificate"
It would be very nice to have an advanced section here to handle requirements such as ILB certificate.  There seem to be strict requirements on this configuration construct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e30dfd76-2a83-bd21-2153-85e32894014e
* Version Independent ID: 9dca62e8-0aef-10eb-b2d3-2ab12087f90a

[2018-06-01 17:53] aashishb commented on #9365
As discussed over email with @YutongTie-MSFT this functionality is not supported so this is not a document update issue.

[2018-06-01 17:59] Mike-Ubezzi-MSFT commented on #9252
@JozoSlejko WATM is an older reference to what is now called ATM.

WATM = Windows Azure Traffic Manager
ATM = Azure Traffic Manager

I have assigned the issue to the content author to evaluate and update as appropriate.

Regards,
Mike

[2018-06-01 18:02] Mike-Ubezzi-MSFT commented on #9178
@GrantMeStrength We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-01 18:02] #9178 closed

[2018-06-01 18:04] #8211 closed

[2018-06-01 18:05] tobiasb commented on #9140
Here's how to do it:
Publisher Portal -> Widgets -> Banner
Remove link.

[2018-06-01 18:05] mike-urnun-msft commented on #8379
@eschrader We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-01 18:05] #8379 closed

[2018-06-01 18:06] mike-urnun-msft commented on #9484
@danielserver86 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-01 18:06] #9484 closed

[2018-06-01 18:07] vasivara-MSFT commented on #9536
@blade-feng-wang I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-01 18:09] MichaelHauss commented on #9555
When a blob becomes soft deleted its size does not change.

[2018-06-01 18:09] Mike-Ubezzi-MSFT commented on #9053
@chaitualladi We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-01 18:09] #9053 closed

[2018-06-01 18:13] Mike-Ubezzi-MSFT commented on #9279
Reference:

![screenshot 28](https://user-images.githubusercontent.com/37126106/40856425-b4c20a20-658c-11e8-8057-541998f6737a.png)

I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-01 18:15] Adam-Smith-MSFT commented on #9555
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-01 18:15] #9555 closed

[2018-06-01 18:22] mike-urnun-msft commented on #9561
@markmassad Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-06-01 18:26] mike-urnun-msft commented on #9408
@venkateshwj Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please reopen this issue and tag me in your reply. We will gladly continue the discussion.

[2018-06-01 18:26] #9408 closed

[2018-06-01 18:31] nilpatelmicrosoft commented on #9138
I'm trying to reproduce this issue for you but not having any success with Firefox 61 on Windows (both preview.portal.azure.com and portal.azure.com seem to be working fine). Can you also attach the text file from hitting ctrl + alt + a to your email to AzCommunity@microsoft.com

[2018-06-01 18:36] mike-urnun-msft commented on #9476
@KuldeepShikhare Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please reopen this issue & tag me in your reply. We will gladly continue the discussion.

[2018-06-01 18:36] #9476 closed

[2018-06-01 18:39] kobulloc-MSFT commented on #9140
@tobiasb Thank you for updating this!  I can confirm this is correct.

![image](https://user-images.githubusercontent.com/37556655/40857516-4099907e-6590-11e8-851e-548d987ee51f.png)

![image](https://user-images.githubusercontent.com/37556655/40857528-49ccfa28-6590-11e8-9fe4-63b6c2b12755.png)

![image](https://user-images.githubusercontent.com/37556655/40857543-52fa9c86-6590-11e8-8ed2-97ed83ebcc69

[2018-06-01 18:39] #9140 closed

[2018-06-01 18:42] smoms commented on #9542
@MicahMcKittrick-MSFT from the project in VS, i have then created a zip and uploaded to the function in Azure. WHy should i download the app content?

[2018-06-01 18:46] vasivara-MSFT commented on #9471
@almusawi Do you want to add a data lake store from a different subscription to your data lake analytics? Is that your question?

[2018-06-01 18:47] smoms commented on #9542
by they way (maybe out of context) now i am trying to debug in VS and i get lot of errors. Here my code:

public static class Function1
    {
        [FunctionName("ServiceBusQueueTriggerCSharp")]
        public static void Run(
     [ServiceBusTrigger("queue-002", AccessRights.Manage, Connection = "AzureWebJobsServiceBusConnectionKey")]
        string myQueueItem,
         Int32 deliveryCount,

[2018-06-01 18:53] MicahMcKittrick-MSFT commented on #9542
@smoms I don't believe if you zip the project directly it will be in the correct format. I was following the doc this issue is referencing and it is showing how to do this via downloading the content from the portal. If you try this route does it work?

[2018-06-01 19:02] #9013 closed

[2018-06-01 19:03] smoms commented on #9542
@MicahMcKittrick-MSFT  yes - in that way it works. But i think is confusing. The doc states: _When you are developing on a local computer, it's easy to create a .zip file of the function app project folder on your development computer. What this mean then?
Also, what if i want to deploy a project if i haven't yet deployed my function in Azure?

[2018-06-01 19:04] CelesteDG commented on #8751
Hello @felnne - Please see the updated topic (now live), which contains the assets (including the Microsoft logo) in both PNG and SVG formats.

@femsulu @SaurabhSharma-MSFT @MohitGargMSFT - Fix is live. #please-close thank you.

[2018-06-01 19:05] MicahMcKittrick-MSFT commented on #9542
@ggailey777 can you advise on this from here?

[2018-06-01 19:13] jpconnock commented on #9483
We've removed the article.
#please-close

[2018-06-01 19:15] ecfan commented on #9061
@xiaoyinok Thanks for your feedback! Can you please provide more context for this comment and specify which area in the article to where you're referring? Thanks!

[2018-06-01 19:35] SaurabhSharma-MSFT commented on #9368
@yadcam ok, can you share the documentation link which you refer to deprecation of "ALL"

[2018-06-01 19:43] yadcam commented on #9368
Unfortunately, I am unsure if there is a Documentation that validates such.

Before, when I used the command it was mentioned with the fact that Purge was not included, and now, when I attempt to use the "All" value, this is prompted to me:

[2018-06-01 19:54] yadcam commented on #9368
And this is given to me in a Version of older version of PowerShell that I have in a VM

![image](https://user-images.githubusercontent.com/37675610/40860606-3552f170-65a3-11e8-986a-07f6ca7765de.png)

We are now in June, thus updated version of the Command will not allow "All" to be used

[2018-06-01 20:09] sundhar19 commented on #8227
Is there any solution for this. I am also getting the same issue. I am using the Microsoft.IdentityModel.Clients.ActiveDirectory  version 3.19.6 which is highest version as of now

[2018-06-01 20:13] CelesteDG commented on #8227
Hi @sundhar19 - Were you using the sample linked from the doc or the one recommended here: [active-directory-dotnet-native-multitarget sample](https://github.com/Azure-Samples/active-directory-dotnet-native-multitarget) instead. We will retire this document and point to the new sample in the next few days. Again, thank you to report the issue.

[2018-06-01 20:26] SnehaGunda commented on #9008
@jpmorris I made a little update to mention connect to the server.

If you think adding more details help, are you interested in submitting a PR to update the doc? you can click on the edit button at the right hand corner of the doc and submit a PR.

[2018-06-01 20:32] jpmorris commented on #9008
I wish I could but I believe it's outside of my ability to do so.  The issue isn't so much that 'you need to connect first'.   The issue is the following:
1) To attempt querries with SSMS you must create a linked server object
2) To create a linked server object you must log into some sql server
3) To log into some sql server you need to actually have some sort of sql server setup

ISSUE: Assume f

[2018-06-01 20:34] cezane commented on #9125
Ok, @dominicbetts . Thank you.

Does this process reading d2c messages through event hubs endpoints also allows connection using X509 certificates or only SAS? I read that X509 is supported for AMQP, but I did not see example in the event hubs sdks related to this.

[2018-06-01 20:48] wruter opened #9563 "Unable to run two script at once"
Hello expert,
I have created a main .sh script which calls another one once the first step is completed, my second script is a .exp script. For some reason when the first script is completed the second one is sending an error while executing it "conflict".
This behavior doesn't happen if i execute the main script manually, both are executed properly without issue.
Does the script extension doesn't

[2018-06-01 20:51] spottedmahn opened #9564 "Document What is a Allowed (Tags, Attributes, etc)"
There is a subset of HTML that is allowed but that is not documented.

![image](https://user-images.githubusercontent.com/14079228/40862948-2a387b70-65bc-11e8-8c38-d6999e8f5652.png)

Reference: [Can I use SVG within a customized the Azure AD B2C user interface?](https://stackoverflow.com/questions/50628190/can-i-use-svg-within-a-customized-the-azure-ad-b2c-user-interface)

---
#### Document Detail

[2018-06-01 20:52] MicahMcKittrick-MSFT commented on #9560
@hpaul-osi Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-01 20:56] MicahMcKittrick-MSFT commented on #9056
@SamirFarhat thanks for confirming that. We are investigating further and will update you shortly.

[2018-06-01 21:08] SaurabhSharma-MSFT commented on #9368
@yadcam Thanks for the details.  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-01 21:16] HowardEdidin opened #9565 "Typo"
MetodRequest  in Note under #13 Create a simulated device

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b31d87b5-2444-711a-bcd4-7f7af9a0d2fe
* Version Independent ID: eddd2a75-f977-46df-b419-c1760a87bff1
* Content: [Device firmware update with Azure IoT Hub (.NET/.NET)](https://docs.microsoft.com/en-us/azure/iot-hub/i

[2018-06-01 21:21] localsystemmee opened #9566 "Xml"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-06-01 21:32] spelluru commented on #8961
@toolboc - Thanks for the feedback. I have tried the steps myself today. The script worked fine for me. I uploaded the VHD file to the uploads container in the storage that's associated with the lab. The storage is one of the resources in the resource group that contains the lab.

# Set the URI of the VHD file.
$vhdUri = 'https://<storageaccountname>.blob.core.windows.net/<container>/<imagename>.v

[2018-06-01 21:55] femsulu commented on #9550
@jimmyeao Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-01 21:56] femsulu commented on #9554
@mganeshphani Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-01 21:58] femsulu commented on #9124
@richardcox13 hope my last comment was helpful. Please let me know if you have any follow up questions. If no, is it ok to close this issue?

[2018-06-01 21:58] henryallsworth commented on #9418
Hi, I am experiencing the same issue on Ubuntu 17.10.   I can login with local accounts but no AAD accounts.  One thing to note is this still works for several VMs I deployed before this week.  However any new deployment fails to work.  I've compared both side by side and can't see a difference in the extension version, SSHD config or PAM.D config.  Below is a snippet from my /var/log/auth.log fil

[2018-06-01 22:08] SaurabhSharma-MSFT commented on #9423
@NickDorak You cannot remove the disabled classic policies which are in disabled state but you can post this as a feedback @ https://feedback.azure.com/forums/169401-azure-active-directory. This will allow the community to upvote and for the product team to include into their plans.
We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedbac

[2018-06-01 22:09] dkamstra commented on #9128
I've update the summary section. Hopefully it's more helpful for someone landing in the document without any context. Thanks for the feedback!

[2018-06-01 22:09] cynthn commented on #9288
@vincepower I'm going to close this issue for now. Please reopen or open another issue if you still need help. Thanks!  #please-close

[2018-06-01 22:15] femsulu commented on #9138
@nilpatelmicrosoft interesting you are no longer able to repro. this leads me to believe this was likely an intermittent issue.
For now I recommend we monitor outside this thread and feel free to send mail as requested if you are able to repro in the next few days. I assume you use the portal quite often so should be fairly easy to catch if it happens again.

[2018-06-01 22:15] MicahMcKittrick-MSFT commented on #9418
Thanks @henryallsworth. I will make sure this information also gets in front of the right people and will provide updates as they come in.

[2018-06-01 22:19] cezane commented on #9125
I am also having problems with the azure event hubs sdk installation process. As recommended, I installed Proton-C and all the needed dependencies:

Then, I have to find out on the net the name of the event hub module to install: azure-eventhub (without s; also, the documentation does not mention that). I tried to install `pip install azure-eventhub`, but I got:

Then, after more search, I guess i

[2018-06-01 22:20] femsulu commented on #9439
@MurrayFoxcroft hope the previous comment was helpful. Please let me know if you have any follow up questions. If not, we will proceed with closing this issue.

[2018-06-01 22:22] Thraka commented on #9560
@hpaul-osi Hi! Thank you for the feedback. I'm not really sure how to address it though. Wouldn't orphaned alias records be a result of someone not keeping up with what they have purchased from a registrar and letting something lapse?

[2018-06-01 22:40] Davilink commented on #9138
It still happen to me, i will send you the file

[2018-06-01 22:47] hpaul-osi commented on #9560
@Thraka, the scenario I'm describing is where a subdomain someone owns is aliased to a cloud service subdomain.  The orphaning occurs when the cloud service is decommissioned (freeing up the subdomain for someone else) before the alias is removed.

For example, suppose there is a public subdomain, subdomainA.exampledomain.com that is aliased to a cloud service subdomain subdomainA.cloudapp.net thr

[2018-06-01 22:48] bootleg224 commented on #8243
Hi team, checking in, any update?

[2018-06-01 22:51] tfitzmac commented on #9323
@jtuliani - thanks for this question. Yes, subscription() behaves like resourceGroup() for nested vs linked. I will add that to this article.

[2018-06-01 22:57] udubnate opened #9569 "Script should be modified to AzureStackAdmin and CloudAdminCredential for Registering Azure stack ADSK"
Here is the new code it should be (verified)
$CloudAdminCred = Get-Credential -UserName AZURESTACK\AzureStackAdmin -Message "Enter the credentials to access the privileged endpoint."
Set-AzsRegistration `
    -CloudAdminCredential $CloudAdminCred `
    -PrivilegedEndpoint AzS-ERCS01 `
    -BillingModel Development

Instead of
CloudAdminCred = Get-Credential -UserName AZURESTACK\CloudAdmin -Message

[2018-06-01 23:06] MicahMcKittrick-MSFT commented on #9563
@wruter how long it is taking to run the scripts?

[2018-06-01 23:10] wruter commented on #9563
Hey Micah,
To execute all step the script run about 1min

[2018-06-01 23:15] prashanthyv commented on #9368
Sure

[2018-06-01 23:20] BryanLa commented on #9279
@VitorX - good catch, and thanks very much for taking time to report this! The link has been fixed and should be republished Monday a.m. 6/4 (PDT).

[2018-06-01 23:21] Mike-Ubezzi-MSFT commented on #8243
@bootleg224 I have reached out to the SQL Community to get an answer back to you.
Regards,
Mike

[2018-06-01 23:21] MicahMcKittrick-MSFT commented on #9563
You mentioned you don't see the error when executing the script manually. Are you referring to executing the second script manually or have you also tried executing both scripts inside the VM just as running through custom script would?

[2018-06-01 23:22] BryanLa commented on #9279
#please-close

[2018-06-01 23:32] wruter commented on #9563
if i run my main script which contain a call to the second script manually into the vm it works, both are executed properly.

[2018-06-01 23:34] SaurabhSharma-MSFT commented on #9428
@Glenlake The purpose of Conditional access policy is not to grant access but to control how authorized users can access cloud apps under specific conditions and follows "When this happens" then "Do this" pattern whereas access control policies are used to manage who has access to Azure resources. Conditional access policies applies to all users in the directory. This includes guest users.  Hope t

[2018-06-01 23:36] tfitzmac commented on #9323
The update should get published Monday morning.

[2018-06-01 23:37] mimizone opened #9570 "Private Zone answers empty when using custom forwarder"
I have a private zone working properly. my VM hosts are resolved properly if done directly from another VM in the Virtual network if I ask directly Azure DNS (168.63.129.16).
the following works
[code]

I have also a Bind server in a VM to forward requests to and from my on-premise DNS, this Server works fine for resolving my on-premise domain and for resolving anything outside Azure.
This bind se

[2018-06-01 23:38] #9323 closed

[2018-06-01 23:39] MicahMcKittrick-MSFT commented on #9563
I am assuming there is an issue when running via CSE along the lines of the second script is being ran before the first one is officially completed. Which would be why we see the conflict error.

Have you taken a look at the troubleshooting steps to see if they provide any useful information?

https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/custom-script-linux#troubleshooting

@

[2018-06-01 23:40] tfitzmac commented on #9550
@jimmyeao - it sounds like your question is more related to a bug in the automation script feature, rather than an issue with the documentation. Those types of questions should go to the [product feedback forum](https://feedback.azure.com/forums/281804-azure-resource-manager).

@femsulu - is there some other process for passing on potential product bugs?

[2018-06-01 23:49] wruter commented on #9563
Hey Micah,
Yes i did look at it, let run my CSE again and send the past the output

[2018-06-01 23:59] femsulu commented on #9138
Thanks for the update @Davilink. Drop a quick note here once you send the capture to AzCommunity@microsoft.com and I will take a look asap. Also include the url to this [GitHub issue](https://github.com/MicrosoftDocs/azure-docs/issues/9138#issuecomment-394027795) for context. Thanks again.

[2018-06-02 00:39] KasamShaikh opened #9571 "Incorrect Screenshot!"
At the very first step under 'Upgrade QnA Maker Management SKU' screenshot attached has highlighted 'Key' section, instead of 'Pricing Tier'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b37a802-217f-b898-b2fe-c5ec2523b470
* Version Independent ID: 6b0d781a-f711-5215-d875-caa046c6b8f4
* Content: [Upgrade your QnA Mak

[2018-06-02 00:49] vxjen opened #9573 "IoT Edge runtime hardware requirement"
1. How to determine the hardware requirements (processor/MCU performance, memory, hardware accelerators, etc.) for running IoT Edge runtime on embedded Linux environment?
2. Is Azure Sphere capable to run IoT Edge runtime, both the hardware (Mediatek MT3620) and software (Sphere OS)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2018-06-02 01:05] vxjen opened #9574 "Device Provisioning Service support"
Does the IoT Edge runtime support running IoT Hub Sevice Provisioning Service? How does the device provisioning work on the three patterns described in this document?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22ebfe95-4ec9-e071-bc89-67ea25905d37
* Version Independent ID: 819f9aff-e1eb-6e05-fcd2-4daa4e7165eb
* Cont

[2018-06-02 01:07] poojaguptez commented on #7151
Hi, do we have an update as to when Azure monitor will support Azure App Service.?

[2018-06-02 01:12] ggailey777 commented on #9542
@smoms what Powershell command are you referring to? We don't support PS deployment of functions apps.

[2018-06-02 01:12] BryanTrach-MSFT commented on #7085
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and tag me in your reply. We will gladly continue the discussion.

[2018-06-02 01:12] #7085 closed

[2018-06-02 01:15] ggailey777 commented on #9534
@r3plica yes, you can add multiple functions to a function app project, where each function uses a different trigger. If you are asking about multiple triggers for a single function, that isn't supported.
I will try to clarify the article.

[2018-06-02 01:21] wruter commented on #9563
Hey Micah,
So here is the message from the deployement failure on the portal with the status conflict --
****************************************************************************
couldn't change working directory to \"/usr/sap/hostctrl/exe\": no such file or directory\n while executing\n\"cd /usr/sap/hostctrl/exe\"\n (file \"./hostagent.exp\" line 8)\r\n\"."

***********************************

[2018-06-02 01:26] YutongTie-MSFT commented on #9541
@jge002 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@noellelacharite Hi, can you please check this issue to see if you can help with it? Thanks a lot!

[2018-06-02 01:37] #9534 closed

[2018-06-02 01:43] JoMiPeCa commented on #9291
Hello,

There's a missing translation at level of placeholder. the e-mail on placeholder should change according to language set, for example, english is fine: someone@example.com but in spanish should be like alguien@ejemplo.com or correo@dominio.com

I think it's the same for other languages :)

[2018-06-02 01:50] femsulu commented on #9449
@jeffgilb  - can you confirm this should be .net instead of .com. If yes, I can initiate a PR to fix the doc asap.

[2018-06-02 01:55] femsulu commented on #9566
@localsystemmee thanks for the comment. in order to investigate further, Please share the link to the document you are referencing and additional context on your issue. looking forward to your response.

[2018-06-02 01:58] femsulu commented on #9571
@KasamShaikh Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-02 01:59] femsulu commented on #9565
@HowardEdidin thanks for the catch. We are actively investigating and will resolve shortly.

[2018-06-02 02:01] femsulu commented on #9564
@spottedmahn Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-02 02:04] femsulu commented on #9573
@vxjen
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-02 02:05] femsulu commented on #9574
@vxjen Thanks for bringing this to our attention. Your question has been shared with the content owner for further review.

[2018-06-02 02:07] femsulu commented on #9570
@mimizone Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-02 02:10] femsulu commented on #5977
@julielerman We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-02 02:10] #5977 closed

[2018-06-02 02:10] femsulu commented on #8751
@felnne We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-02 02:10] #8751 closed

[2018-06-02 02:11] femsulu commented on #9279
@VitorX We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-02 02:11] #9279 closed

[2018-06-02 02:12] femsulu commented on #9288
@vincepower We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-02 02:12] #9288 closed

[2018-06-02 02:33] jmprieur commented on #8227
@sundhar19
With a recent version of Xamarin, we have noticed that the NuGet package manager did not resolve correctly the right ADAL.NET platform; if you look in your project, you'll see that the HintPath for the ADAL.NET DLL is under package\Microsoft.IdentityModel.Clients.ActiveDirectory\*netstandard1.3* whereas it should be resolved with package\Microsoft.IdentityModel.Clients.ActiveDirectory\*

[2018-06-02 02:56] nmarathe commented on #8459
Inspite of following the "Deploy Workbench" article and having given permissions to the Graph API, the following error is encountered while adding a member Error 403: Authorization_RequestDenied - Insufficient privileges to complete the operation.

[2018-06-02 02:59] nmarathe opened #9575 "Unable to add member to HelloBlockchain application"
After following "Deploy Workbench" and verifying that Graph API permissions are set correctly, I am getting this error Error 403: Authorization_RequestDenied - Insufficient privileges to complete the operation. There seems to be some missing steps here....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6aafd72c-d1d2-95

[2018-06-02 03:07] Glenlake commented on #9428
No, this does not really help. I have an environment where users
authenticate to ADFS, which provides a WS-Federation token to be consumed
by  Azure AD which  which grants access based on this WS-Federation
token... I just don't know if conditional access rules apply in this case
or not.

Thanks

David

On Fri, Jun 1, 2018 at 7:35 PM, SaurabhSharma-MSFT <notifications@github.com

[2018-06-02 03:47] cmeiklejohn opened #9576 "Missing step around container registry?"
I'm running into issues where the Kubernetes cluster is unable to start because the image, after being pushed to the container registry, can't be accessed because it's private.

Here's the output from the kubectl logs command:
"... is waiting to start: trying and failing to pull image"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2018-06-02 05:14] neilpeterson commented on #9576
@cmeiklejohn - thanks for reaching out on this. Can you confirm that the ACR instance and the ACS cluster have been deployed in the same resource group? I've just given it a quick walkthrough and everything is working.

That said, if you are able, I would recommend checking out the AKS preview. The Kubernetes cluster is of a more recent version, and AKS is the path forward.

https://docs.microsoft

[2018-06-02 05:48] SaurabhSharma-MSFT commented on #9428
@Glenlake I have assigned your issue to content author to update if this is possible to enhance the documentation if require with the details.

[2018-06-02 07:42] githubavi commented on #9289
Thanks, will check it out

[2018-06-02 08:09] jkonecki opened #9577 "Missing important information"
Differences between Azure and Emulator section doesn't mention at all that the emulator doesn't support Table nor Graph APIs

https://twitter.com/DSNoble/status/999740934119088128?s=19

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 109ed3f8-faf1-92b9-bf50-4be52e9099d4
* Version Independent ID: ebc5326a-46da-6bc1-1f47-0

[2018-06-02 08:26] femsulu commented on #9575
@nmarathe Thanks for bringing this to our attention. Your comment has been shared with the content owner for further review.

[2018-06-02 09:16] richardcox13 commented on #9124
@femila Sorry, busy firefighting a few issues that have arisen after the lift and shift.

OK, I understand  Account Administrator, Service Administrator and Co-administrators will be notified

But how to I work out who is in those positions when there are no such roles when I define access controls on the subscription? (This is all RM based.)

I'm trying to set things up so all owners on the subsc

[2018-06-02 10:59] smoms commented on #9542
@ggailey777  i ahve used the PS instructions are described at: https://docs.microsoft.com/en-us/azure/azure-functions/deployment-zip-push#rest

[2018-06-02 11:47] smoms opened #9579 "Error with AF and ServiceBus trigger"
Hi i am really struggling to run an AF with ServiceBus trigger. I have followed the steps.

Here my local.settings.json:

{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "DefaultEndpointsProtocol=https;AccountName=testdemo001;AccountKey=..;EndpointSuffix=core.windows.net",
    "AzureWebJobsDashboard": "DefaultEndpointsProtocol=https;AccountName=testdemo001;AccountKey=..;Endpoint

[2018-06-02 13:41] mjcarrabine commented on #9477
@MicahMcKittrick-MSFT and @DCtheGeek. I would to update my previous post.

In its current state, this article should have all of its examples removed until they are corrected and clarified as to which schema is being used for each. They do not support the words on the page, and the number of errors make them counter-productive.

### 1. Update the schema hosted at https://schema.management.azure.co

[2018-06-02 13:42] mjcarrabine commented on #9477
### To answer my original question:
**This is correct:**
[code]

**This is incorrect.** It looks like the term `publicSettings` was copied from the C:\Packages\Plugins\Microsoft.Powershell.DSC\2.76.0.0\RuntimeSettings\0.settings file created on the target VM, but is not valid here.
[code]

### Working Example:
In the end, I was able to successfully deploy the DSC Extension using the following temp

[2018-06-02 14:46] anthtone commented on #9466
I am having the same issue.  I have noticed the iothub.js file was recently updated, however there was no backup required.  A little help would be great.

[2018-06-02 15:35] manub22 opened #9581 "Breaking Links"
In "Cluster types in HDInsight" section, the hyperlinks on HDFS, YARN and MapReduce are not working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 056b150a-3e49-2a3c-e591-2b5c22733f4e
* Version Independent ID: 85d52a2a-5144-86d4-bd9c-5c2ec349b588
* Content: [What are HDInsight and the Hadoop and Spark technology stack

[2018-06-02 16:36] MicahMcKittrick-MSFT commented on #9579
@smoms Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-02 16:46] EricSten-MSFT opened #9584 "Add link to "How-To" for MSDeploy from the "Guidance" article"
Even though this article is describing the need for ```DependsOn``` in ARM templates using Microsoft.Web/Sites/ templates when using MSDeploy, it might be nice to point to a "how-to" article on how to actually use the MSDeploy site extension.  e.g. [this article](https://github.com/aelij/azure-content/blob/master/articles/app-service-web/app-service-web-arm-with-msdeploy-provision.md)

---
#### Do

[2018-06-02 16:48] alexandair opened #9585 "Resource Manager deployment model is not covered"
Regardless of the note at the beginning of the article, Resource Manager deployment model is not covered. Please, update the doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48933ef2-fdcd-9f32-5ae9-bac175c8ffbd
* Version Independent ID: d2f31ebc-3c71-fd49-a288-92e0124b15a3
* Content: [Azure virtual machine deploymen

[2018-06-02 17:17] mike-urnun-msft commented on #9581
@manub22 Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-06-02 17:18] mike-urnun-msft commented on #9577
@jkonecki Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-06-02 17:21] mike-urnun-msft commented on #9584
@EricSten-MSFT Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-06-02 18:44] martinfierz commented on #9466
I found my problem! In step 2 of the example

Azure.IoT.IoTHub.ConnectionString | Obtained from iothub-explorer
-- | --

I had the wrong IoThub connectionstring. It would be nice if you could show where to find this string, to give an example for how it looks, and it would also be nice if some error reporting happened somewhere visible when the connectionstring is wrong. I assume the webapp could

[2018-06-02 18:49] Anmolgan81 opened #9586 "What if I want to copy whole folder rather then a file?"
How can I select whole folder if I want to copy all the contents of that folder to a table?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92f23bdf-28be-1c14-f786-82ce78c60cfa
* Version Independent ID: 522daede-91b2-9b09-17eb-791bd0dd9bce
* Content: [Use the Azure portal to create a data factory pipeline](https://docs.

[2018-06-02 19:13] #9586 closed

[2018-06-02 19:14] Anmolgan81 opened #9587 "What if I wanted to copy mutiple blobs to multiple tables inside 1 single pipeline"
Is there a way to copy mutiple blobs into multiple tables inside 1 single pipeline??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92f23bdf-28be-1c14-f786-82ce78c60cfa
* Version Independent ID: 522daede-91b2-9b09-17eb-791bd0dd9bce
* Content: [Use the Azure portal to create a data factory pipeline](https://docs.microso

[2018-06-02 20:09] SaurabhSharma-MSFT commented on #9512
@TommySharpNZ On which page you are getting this message as I am able to assign groups to an application through Free Azure subscription.  See screenshots below -

![image](https://user-images.githubusercontent.com/38112130/40880441-b1c2d00a-6665-11e8-86b1-c36a0fdd4008.png)
![image](https://user-images.githubusercontent.com/38112130/40880424-59a9f286-6665-11e8-9373-68aa77878efa.png)
You can also r

[2018-06-02 21:41] mike-urnun-msft commented on #9314
@paulceli Could you check if the following NuGet package is installed:
https://www.nuget.org/packages/Microsoft.Web.WebJobs.Publish/

Also, pls ensure you have installed the required **[Workloads](https://docs.microsoft.com/en-us/visualstudio/install/install-visual-studio#step-4---select-workloads)** for your VS for Mac (not all workloads are supported for mac yet).

[2018-06-02 21:48] pito2808 opened #9593 "kibana files cannot be downloaded"
i can't download kibana visualization file or dashboard file . i got this error

&lt;Error&gt;
&lt;Code&gt;AuthenticationFailed&lt;/Code&gt;
&lt;Message&gt;
Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature. RequestId:1fdba6e3-501e-0113-7ebb-fa2675000000 Time:2018-06-02T21:47:07.3199207Z
&lt;/Message&gt;
&lt;Authentic

[2018-06-02 21:53] vxjen commented on #9574
Device provisioning is used when a device is registered (add), de-registered (remove), or re-registered (re-deploy) with the cloud. Specially, my questions were when using edge devices running IoT Edge and using the IoT Hub Device Provisioning Service:
Where is the provisioning service running, cloud or edge device?
Is the provisioning service a distributed architecture?
How a device is provisione

[2018-06-02 22:19] SaurabhSharma-MSFT commented on #9492
@derekharkin I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-02 22:41] SaurabhSharma-MSFT commented on #9545
@WillLennon I do not see any issue updating the user UPN multiple times. Is this UPN of an On-premises AD user account ?

[2018-06-02 22:59] colemickens opened #9597 "ClientSecretURL is not documented"
Why is `ClientSecretURL` exposed to the customer/enduser? What is the use-case for it? Can a user actually get credentials back from that URL? I thought it was only used by fabric?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6086b67-2bce-b72f-f541-2723e24ac68a
* Version Independent ID: 0796f937-9c9d-d818-a27b-3ef4f

[2018-06-02 23:28] WillLennon commented on #9545
No this is an AAD domain and identity I just created.
I agree it *should* work.  But it doesn't.  All I see is an unhelpful error message that it was unable to update the profile.  Is there a way to get more details on what went wrong?

[2018-06-02 23:56] SaurabhSharma-MSFT commented on #9545
@WillLennon Yes I changed the email address and it worked. Also, please can you check Activity Logs(navigate to Azure portal > Azure Monitor > Activity logs). Also, try checking diagnostic logs if it is enabled and collecting logs.
![image](https://user-images.githubusercontent.com/38112130/40881813-afd4caa8-6685-11e8-8578-4cfc40dd7347.png)

[2018-06-03 00:08] WillLennon commented on #9545
Hi Saurabh,
Did you change an email address for a user, save it,  _and then change it back?_  That's the scenario that's broken.  I can change it once.   And it appears if I wait long enough I can change it back because it just worked for me.  However I cannot change it and then change it back.

Also, I tried following the docs here: https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostic

[2018-06-03 00:10] anthtone commented on #9466
Thanks for the heads up Martin.

Is it the one under

IoT Hub -> <<Name>> -> Settings -> Shared Access Polices -> iothubowner -> primary connection string?

[2018-06-03 00:21] SaurabhSharma-MSFT commented on #9545
@WillLennon yes that is correct. Try searching "monitor" in All Services
![image](https://user-images.githubusercontent.com/38112130/40881951-57c3d81e-6689-11e8-8684-3f94d20e8d84.png)

[2018-06-03 00:50] mike-urnun-msft commented on #9586
Hi @Anmolgan81 - Did you find an answer to your question? If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-03 00:53] mike-urnun-msft commented on #9587
@Anmolgan81 Thank you for your question! We will investigate and get back to you with the relevant info.

[2018-06-03 00:56] mike-urnun-msft commented on #9593
@pito2808 Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-06-03 00:56] syedhassaanahmed commented on #9289
@basilhariri If `sasl.jaas.config` is specified in Kafka C# Client config as you suggested, there will be an exception;
[code]
[Here is the solution](https://github.com/syedhassaanahmed/hello-kafka-on-eventhubs-cs)

[2018-06-03 00:57] femsulu commented on #9138
@Davilink we've received your mail with the shared capture files. we will investigate and get back to you soon.

[2018-06-03 00:58] mike-urnun-msft commented on #9597
@colemickens Thank you for your feedback! We will investigate and get back to you with the relevant info.

[2018-06-03 02:15] nschonni opened #9602 "The "Get the complete solution" is a deleted/moved repo"
The repo https://github.com/stalker314314/sql-apiCpp no longer exists

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4efa91de-0c61-0340-aade-253556c5733b
* Version Independent ID: 5bab718a-ce08-352e-a809-498ce744ba96
* Content: [C++ tutorial for Azure Cosmos DB](https://docs.microsoft.com/en-ca/azure/cosmos-db/sql-api-

[2018-06-03 02:15] cmeiklejohn commented on #9576
It looks like my problem was that I was trying to launch a different container, one that relied on Windows containers, so the image pull was failing because it couldn't find a Linux image.  And, shortly afterwards, I did switch to the AKS preview.

[2018-06-03 02:16] cmeiklejohn commented on #9576
However, I will note that the AKS preview tutorial (which, is basically the same as this one) has a section on setting up the proper credentials by granting access to the Kubernetes instance's clientId as a reader on the ACR.

[2018-06-03 02:55] wruter commented on #9563
I did look closer at the log level of the extension script and CSE doesn't recognize the "spwan" command
**************************************
ERROR:[Microsoft.OSTCExtensions.CustomScriptForLinux-1.5.2.2] Command returned an error.
2018/06/03 02:16:15 ERROR:---stdout---
2018/06/03 02:16:15 ERROR:
2018/06/03 02:16:15 ERROR:---errout---
2018/06/03 02:16:15 ERROR:hostagent.exp: line 3: spawn: comman

[2018-06-03 04:04] stratzman opened #9613 "PE Advisor"
Looking for 1or 2 people of Honor & Resect !

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f00835af-89d3-90f5-da94-08d6407e080c
* Version Independent ID: 57e25aea-9a5b-23e1-9bcc-191014e81f3b
* Content: [Tutorial: Azure Active Directory integration with Trisotech Digital Enterprise Server](https://docs.microsoft.com/en

[2018-06-03 05:15] mike-urnun-msft commented on #9314
@paulceli We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-03 05:15] #9314 closed

[2018-06-03 06:42] neilpeterson commented on #9576
@cmeiklejohn - glad to hear that its all sorted. If anything else comes up, please let us know.

Auth between the cluster and ACR is slightly different between ACS and AKS due to some differences in how the service principal is configured at cluster creation time. With ACS, colocating the cluster and the ACR resource in the same resource group is one way to establish trust. This does not work with

[2018-06-03 07:04] prkhandelwal opened #9618 "Can't connect to CDN"
cannot find the included Js and css files at the given CDN links
&lt;link rel="stylesheet" href="https://atlas.microsoft.com/sdk/css/atlas.min.css?api-version=1.0" type="text/css" /&gt;
    &lt;script src="https://atlas.microsoft.com/sdk/js/atlas.min.js?api-version=1.0"&gt;&lt;/script&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-06-03 07:47] martinfierz commented on #9466
Yes, that's the one. I found it mentioned in
https://blogs.msdn.microsoft.com/iotdev/2017/05/09/understand-different-connection-strings-in-azure-iot-hub/

[2018-06-03 07:49] rahulraibit opened #9619 "Bug"
In PartitionRangeQueryAsync method only getting 50 records, looks like TableContinuationToken token is always null.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83987349-2735-b9f5-8df2-80b65a9ff41d
* Version Independent ID: 4f423457-b2ac-d90b-6104-a16e1aa92079
* Content: [Quickstart: Table API with .NET - Azure Cosmo

[2018-06-03 08:15] bluephoton commented on #9531
Thanks @MicahMcKittrick-MSFT ! I was refering the part that says:

"*When you defined a scale set configuration with **Set-AzureRmVmssStorageProfile** in a previous step, you used a Windows Server 2016 Datacenter image. The Azure marketplace includes many images that can be used to create VM instances. To see a list of available publishers, use the Get-AzureRmVMImagePublisher command*"

I can't se

[2018-06-03 09:20] lstak opened #9620 "Version numbers"
Please add version numbers of the supported extensions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08d2543f-f47a-e9dc-1f80-1ac5ad7a71ad
* Version Independent ID: cc5f4337-01f7-4774-6c26-fda65fadbdbf
* Content: [Use PostgreSQL extensions in Azure Database for PostgreSQL](https://docs.microsoft.com/en-us/azure/postgre

[2018-06-03 09:26] amoghnatu commented on #8877
@briansturrock Ah I see! Thanks for pointing it out! Let me quickly check this at my end as well.

[2018-06-03 09:43] Anmolgan81 commented on #9587
Hi

Any updates on this one??
________________________________
From: Mike Urnun <notifications@github.com>
Sent: Sunday, June 3, 2018 6:24:02 AM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/azure-docs] What if I wanted to copy mutiple blobs to multiple tables inside 1 single pipeline (#9587)

@Anmolgan81<https://github.com/Anmolgan81> Thank you for your questio

[2018-06-03 12:27] guillemsola commented on #9223
@DCtheGeek here I'm in the context of Azure ARM templates. Using parameters means that you need to pass them all the way from the template (and  template caller if it is triggered by a PS deployment) to the final DSC function. That's a lot of boilerplate for something that can be defined once.

Also I'm working on reusing my DSC configurations for Cloud and on-premises environments. It's is really

[2018-06-03 12:45] #9098 closed

[2018-06-03 13:01] preechachareonsak commented on #9436
Still unable to download.

[2018-06-03 13:21] msimecek opened #9621 "Currently not supported in beta runtime"
Generating the OpenAPI definition as described in this tutorial is currently not available for the beta runtime (i.e. .NET Core). It's not an issue with this particular article, but it may confuse people who may try to apply the same concept to a beta app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f713e2b2-710e-80

[2018-06-03 13:25] sujith3g opened #9622 "How do I resize an unmanaged disk?"
There is no documentation about resizing an unmanaged disk. the documentation only says about how to attach, detatch and list an unmanaged disk. Is there anything I'm missing here. Please help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79e96564-edb3-8f68-63a4-960954f5d25b
* Version Independent ID: bc037676-9288-ac

[2018-06-03 14:01] ErazerBrecht opened #9624 "'Obsolete documentation'"
Hi,

`telemetry.TrackDependency("myDependency", "myCall", startTime, timer.Elapsed, success);`
Is made obsolete in a new release.

The docs should reflect this PR https://github.com/Microsoft/ApplicationInsights-dotnet/issues/684

Sincerely,
Brecht

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4ded2ce-d8c3-7118-bec9-

[2018-06-03 14:13] WillLennon commented on #9545
![image](https://user-images.githubusercontent.com/39530873/40887433-c323f89a-6716-11e8-8bca-b6aae780559d.png)

[2018-06-03 15:01] bgehle commented on #9454
Pulling from the OU attribute is not working correctly for me either.  I've noticed that if a device MDM is listed as Microsoft Intune, the device will not be added to the device group even though it is within the specific OU. I have a ticket open on this but wanted to confirm that there does indeed seem to be an issue here.

[2018-06-03 15:02] belaie opened #9625 "ROPC - SSO Experience"
Apps implmenting ROPC will experience SSO with other applications implementing adb2c authentication usign built-in policies?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c54680bb-ff67-a9e2-4272-1710fe6eb863
* Version Independent ID: 6d15d340-f556-6bb0-8b4c-f4535537189b
* Content: [Configure the resource owner passwor

[2018-06-03 15:13] arob98 commented on #9585
@alexandair Thanks for this issue. Per our Twitter thread, I'm following this issue and doing what I can to help.

[2018-06-03 15:57] JustinGalbraith opened #9626 "DSv2, Dv2"
Why are these sizes listed as both General Purpose and Memory Optimized?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca21c78d-bcb3-aac5-79a0-4e3525603b11
* Version Independent ID: 266194fe-e187-9036-c0ef-831f971ba368
* Content: [Windows VM sizes in Azure](https://docs.microsoft.com/en-us/azure/virtual-machines/windo

[2018-06-03 16:28] neilpeterson commented on #9543
@snimmagadda1 - if you have any additional questions, please let me know.

#please-close

[2018-06-03 16:29] neilpeterson commented on #9514
@bobrundle - I am going to close this issue. If you have any additional questions or concerns, please let em know.

#please-close

[2018-06-03 16:41] MicahMcKittrick-MSFT commented on #9621
@msimecek thanks for the feedback. Do you have a suggestion of something we should add to this doc to make anything more clear? I am not totally clear on what you would like to see changed.

[2018-06-03 16:44] MicahMcKittrick-MSFT commented on #9622
@sujith3g you can find the information for resizing unmanaged disks here:

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/expand-os-disk#for-resizing-unmanaged-disks

[2018-06-03 16:59] mike-urnun-msft commented on #9326
@kkaczmarzyk @TPNI Have you installed all the "TACO" tools & Visual Studio Workloads? You can simply re-run the VS201* installer and get prompted for installing the said tools:
![image](https://user-images.githubusercontent.com/36717703/40889023-a9be8188-6714-11e8-807b-423cfea52a6d.png)

Here are some useful links:
TACO tools: https://docs.microsoft.com/en-us/visualstudio/cross-platform/tools-for-

[2018-06-03 16:59] #9326 closed

[2018-06-03 17:06] suparnavg opened #9627 "kid returned in id_token is not present in the public keys json object"
[Enter feedback here]
This page says to look at the `kid` value returned in the id_token, check against the[` jwks_uri` ](https://login.microsoftonline.com/common/discovery/keys)page for which public key has been used for this particular authentication event, and then decrypt the id_token's signature using that public key.

The `kid `returned in my `id_token` is not present in the [public keys jso

[2018-06-03 17:33] sujith3g commented on #9622
Can I do this using Azure Portal or CLI ?

[2018-06-03 17:35] suparnavg commented on #9627
Needed to look at the v2.0 url - I was doing it wrong. Closing the issue.

[2018-06-03 17:57] vxjen commented on #9485
I brought this up because I read the Azure Sphere announcement recently. It seams Azure Sphere has a Microsoft proprietary Pluton Security Subsystem. Will it work with the Device Provisioning Service and how?
Can Microsoft provide details of Pluton and comparison with TPM, X.509, etc.?

[2018-06-03 18:22] rawatsudhir1 opened #9629 "Variable name should be proper"
In this line "val customEventhubParameters = EventHubsConf(connectionString).setMaxEventsPerTrigger(5)" instead of connectionString variable name in EventHubsConf should be   connStr ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 147e84ea-1def-dd8a-f562-4ce016138c62
* Version Independent ID: ec57e668-b86a-2c0e-4a20-0

[2018-06-03 18:48] msimecek commented on #9621
I looked into other places in the docs to see where the clarification would fit best and created a PR to the Functions API definition article (#9623). I wonder if we should modify this tutorial as well... What do you think?

[2018-06-03 19:07] khansjaved commented on #5461
look like document is not updated, some of the property is not available in the current version of ADF V2.

[2018-06-03 21:48] mike-urnun-msft commented on #9602
Hey @nschonni - Thank you for bringing this to our attention! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-06-03 22:01] mike-urnun-msft commented on #9613
Hi @stratzman - This channel is for reporting and discussing improvements for MS Documentations. Since your post is not related, we will now proceed to close this thread. If there are questions regarding particular documentation and its content, please open a new issue and we will gladly continue the discussion.

[2018-06-03 22:01] #9613 closed

[2018-06-03 22:26] femsulu commented on #9619
@rahulraibit Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-03 22:28] femsulu commented on #9620
@lstak Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-03 22:35] femsulu commented on #9625
@belaie Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-03 22:42] EronWright opened #9632 "QuickStart instructions are missing a crucial step"
The section "Connect to your app service" fails to mention a crucial step.  After running `:remote connect tinkerpop.server conf/remote-secure.yaml`, you must run `:remote console` before issuing remote commands.   Here's the flow, which clearly shows the issue:

[code]

Note that I'm using the Gremlin Console that downloaded from the quickstart section of the portal.

---
#### Document Details

⚠

[2018-06-03 22:42] femsulu commented on #9627
@suparnavg thanks for your comment. Please don't hesitate to ;ping if you have any other questions.

[2018-06-03 22:42] #9627 closed

[2018-06-03 22:46] femsulu commented on #9626
@JustinGalbraith Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-03 22:49] femsulu commented on #9629
@rawatsudhir1 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-03 22:51] EronWright commented on #7900
The missing command here is `:remote console` which tells the shell to send subsequent queries to remote server.

[2018-06-03 22:53] femsulu commented on #9624
@ErazerBrecht Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-03 22:58] femsulu commented on #9514
@bobrundle We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-03 22:58] #9514 closed

[2018-06-03 22:59] femsulu commented on #9543
@snimmagadda1 We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-03 22:59] #9543 closed

[2018-06-03 22:59] femsulu commented on #9576
@cmeiklejohn We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-03 22:59] #9576 closed

[2018-06-04 03:05] la-trejas commented on #6593
The attach to debugger option has now moved to the Cloud Explorer tab or window. However once I enable debugging on that machine and attempt to attach to the debugger I get a message informing me that the hostname could not be parsed.
Any ideas?

[2018-06-04 04:28] tamzidhussainkhan opened #9636 "Looking for transfer out from Bangladesh"
#need to leave, overloaded

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ce7d1e8-e4b9-6152-4fbe-5d3f3d9f0583
* Version Independent ID: 7676911e-6a80-06f1-b429-a3ce399c386e
* Content: [How to add an existing Azure subscription to your Azure AD directory](https://docs.microsoft.com/en-us/azure/active-directory/active-d

[2018-06-04 05:34] femsulu commented on #9636
closing as spam

[2018-06-04 05:34] #9636 closed

[2018-06-04 05:38] femsulu commented on #9632
@EronWright Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2018-06-04 05:38] rccnw opened #9638 "bad Link"
'next steps'
For programming references, see Azure Key Vault C# Client API Reference.
(bad link to 'https://msdn.microsoft.com/library/azure/dn903628.aspx')

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9bf1784-2765-30b5-3709-614d29deea82
* Version Independent ID: dd18c9a0-35ba-7e63-bd45-bc15de06749e
* Content: [Use

[2018-06-04 05:47] femsulu commented on #9439
@MurrayFoxcroft We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-04 05:47] #9439 closed

[2018-06-04 05:53] manigandham opened #9639 ".NET Core support"
The `Microsoft.Azure.CosmosDB.Table` library mentioned here is only available for .NET Framework 4.5 and not available under .NET Core.

It seems like there is an older `Microsoft.WindowsAzure.Storage` library that is available under .NET Core, as mentioned here: https://docs.microsoft.com/en-us/azure/visual-studio/vs-storage-aspnet5-getting-started-tables

And these pages are only linked to from

[2018-06-04 06:01] htogarcia opened #9640 "'DataLakeStoreAccountManagementClient' object has no attribute 'account'"
Hello, I don't know if I am doing something wrong, but when I excecute your "List the Data Lake Store Accounts" example I get the next error:

C:\Users\htogarcia\Desktop&gt;python data_lake_accounts.py
Traceback (most recent call last):
  File "data_lake_accounts.py", line 49, in &lt;module&gt;
    result_list_response = adlsAcctClient.account.list()
AttributeError: 'DataLakeStoreAccountManagement

[2018-06-04 06:14] Alaselva commented on #9537
Thanks for suggestion 😊
I have added the idea
https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/34441627-nps-extension-for-azure-mfa-allow-to-use-the-rea

Best Regards

From: SaurabhSharma-MSFT [mailto:notifications@github.com]
Sent: 03 June 2018 00:26
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: La Selva, Alessio <Alessio.LaSelva@kavokerr.com>; Mentio

[2018-06-04 06:15] blueww commented on #8837
The Error is because the $sas.AccessSAS get from following cmdlet is null. So it can't be binding to storage cmdlets. (This is common that null parameter can't be bind to powershell cmdlet input paramter)
`
$sas = Grant-AzureRmSnapshotAccess -ResourceGroupName $ResourceGroupName -SnapshotName $SnapshotName  -DurationInSecond $sasExpiryDuration -Access Read `

I see the related cmdlet is last modif

[2018-06-04 07:01] suvamM commented on #8559
It works. Thanks a lot!

[2018-06-04 07:08] kazshi opened #9641 "changing host name"
I found the following sentence
"You do not need to specify a host name for virtual machines in the configuration file, because the host name for a virtual machine is populated based on the virtual machine name." in
https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-viewing-and-modifying-hostnames
but actually looks like host name needs to be changed by manually when creating a

[2018-06-04 07:11] MurrayFoxcroft commented on #9439
Hi, yes, please close. Not sure why it was set up as a post, I naturally expected a simple get I could paste in the browser. Posting through PostMan works perfectly.

[2018-06-04 08:10] JetPac33 opened #9642 "VNET minimum"
There seems to be a vnet minimum requirement for at least 93 IP. If that is the case it should also be documented here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22ad4873-c73d-4b90-2063-927a1060d2a2
* Version Independent ID: 8e6643ad-7333-a786-8712-3d17291e12a7
* Content: [Network configuration in Azure Kubernetes

[2018-06-04 08:22] nsoneji commented on #9458
we will fix it asap.

[2018-06-04 08:26] dominicbetts commented on #9125
@cezane - I don't believe that Event Hubs supports X509 - it is only SAS.
Looking at the Python Event Hub SDK repo - it looks like there may currently be difficulties using the Python SDK with the IoT Hub messages endpoint: https://github.com/Azure/azure-event-hubs-python/issues/28
If you can, I'd use the Node.js SDK which definitely does work - see https://docs.microsoft.com/azure/iot-hub/quickst

[2018-06-04 08:30] justinyoo opened #9644 "ARM Template Deployment?"
I've tried this with ARM template, but apparently it's not supported yet. Could you confirm this, please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2472d79-baad-f202-75dc-c0d7c08e5c49
* Version Independent ID: 7816cf1e-2264-e365-4d5c-b1fc9f7d08fe
* Content: [Create a multi-container (preview) app using Azure Web

[2018-06-04 08:54] martimartin commented on #8837
i solved it for myself..
just go to managed disk on portal and create SAS URL  by clickling "Export"
Copy SAS URL
on Powershell assing this vaule as variable for $sas ($sas=SAS URL)
then it will worked..

[2018-06-04 09:05] ilyas-it83 opened #9645 "Support for Regex for advanced pattern match"
How to achieve advanced string pattern match like an example given here https://spacetelescope.github.io/understanding-json-schema/reference/regular_expressions.html#example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fddafc08-d91b-0b0f-7e29-3ea3c19ce0ce
* Version Independent ID: 871a5707-94f6-1b21-6e68-120c2da50a7f

[2018-06-04 09:17] lawrencegripper commented on #9552
Hi,

Thanks for the quick reply, the linked doc refers to using a SF cluster created through ARM. In the how-to doc I'm using the docker image created for mac.

It looks like the [image needs to have config file](https://hub.docker.com/r/microsoft/service-fabric-onebox/) updated to include the [DNSServiceAddon addon](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-mani

[2018-06-04 09:36] abhijitmhp opened #9647 "Retry logic"
Hi Team,

I want to write a retry logic for a queue operation [receive , delete etc.]. In C#, since you are using QueueClient it looks possible using the below documentation:

https://docs.microsoft.com/en-us/azure/best-practices-retry-service-specific#service-bus-retry-guidelines

Since I am using ServiceBusConfiguration class, how do I set a similar retry parameters for my queue operations?
Plea

[2018-06-04 10:17] njayinthehouse opened #9648 "Low-priority, just pointing it out. :)"
In the Testability Actions List,
Move Primary -&gt; MovePrimary
Move Secondary -&gt; MoveSecondary

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba2b3f21-ad15-39c1-a06c-693faa30ae5b
* Version Independent ID: 292f50c4-6cf2-99ec-33d4-d0df2d34fb16
* Content: [Simulate failures in Azure microservices](https://docs.microso

[2018-06-04 10:17] HemantChandurkar commented on #6644
ok.. I will try. thanks

[2018-06-04 10:52] tsubasaxZZZ commented on #9418
Hi,

I can't login using AAD extension too.
Could you tell me how to solve this problem?
Is this same problem?

**Client(Cloud Shell)**

**Server( journalctl -f -u sshd)**

[2018-06-04 10:59] swilliamson-axioma opened #9649 "Provisioning at database level"
Hi.  Is it possible to switch from container level throughput provisioning to database level throughput provisioning ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f2b93a5-28b8-db4a-ab64-6342d3aafc63
* Version Independent ID: 245586f2-63e1-1e78-a5dd-21e8fa2cc5d3
* Content: [Provision throughput for Azure Cosmos DB](

[2018-06-04 11:39] erwinmanuel opened #9651 "Proxy config missing quotation marks"
The section to define the proxy config is missing the quotation marks for the proxyaddress. The service won't start due to the syntax error.
...
&lt;defaultProxy&gt;
      &lt;proxy usesystemdefault="true"
      proxyaddress=http://127.0.0.1:8888
      bypassonlocal="true" /&gt;
    &lt;/defaultProxy&gt;

The example should look as below:
...
&lt;defaultProxy&gt;
      &lt;proxy usesystemdefault="

[2018-06-04 11:55] jkley commented on #9418
Hi,
I tried this feature  for the first time this morning.
With a new Ubuntu VM (18.04), I got the same error (connection closed), but with a new Red Hat VM (7.3), it worked.

The painful thing is that every time we need to re-enter the password for sudo session, we have to navigate to the devicelogin portal and enter a new code.
Tedious but essential for security ...

[2018-06-04 12:00] dusek opened #9652 "Not clear if necessary to re-enter (generate) the one-time code on each login"
One of the advantages of SSH keys is that once they are set-up, you generally do not have to enter password or anything else to log into a VM. Simply "ssh user@server" works immediately with no futher interaction. This is really good if one regularly opens several ssh connections to a single VM at a time (e.g. several SSH terminal sessions, along with 1 or 2 Emacs tramp modes for dired, remote fil

[2018-06-04 12:05] htoma commented on #9540
how about the case when the function code is not hit (e.g., invalid authentication key) and there's no chance to log errors via App Insights?

[2018-06-04 12:46] harrewarre opened #9654 "Additional info about configuring Service Afffinity"
This article explains affinity very well but does not explain how to set this up (apart from the very small code sample that isn't much help).

Some more detail about configuration in the `ApplicationManifest.xml` file would be very helpful.
Mainly something like the snippet below with explanations about the `<ServiceCorrelations>` section.

[code]

Small thing: calling it Service affinity and the

[2018-06-04 13:51] Praxiss commented on #9391
Unfortunately, I am still seeing the same non-descriptive error. Can you suggest routes to investigate

[2018-06-04 13:57] NickDorak commented on #9429
That is the silliest reply I have heard in a long time. You intentionally limit discovering applications you can secure?
This is a security risk for us to have applications which we can control access to but we have no way to discover them. It leaves unknown applications at risk.
It sounds like you need to reconsider your design. I will provide feedback on the site you listed.

[2018-06-04 13:58] MGoedtel commented on #9500
@aydeisen - The information is correct and the document clearly specifies the configuration for the Linux agent versus Windows agent.  Bypass HTTPS inspection is specific to the Windows agent.

[2018-06-04 14:07] flyrev opened #9655 "Different ordering of steps"
When I click "Create credentials &gt; OAuth client ID" (step 6), I get asked about "Application type" (which belongs to step 7).

In general someone should go through this and make a version with correct ordering, only one "step" per step, and with screenshots if possible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-06-04 14:17] Variour commented on #5698
Thanks for your answers and the information. I just wanted to leave the link to the entry in the feedback portal here for anyone interested:
https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/33773926-automate-seamless-sso-kerberos-decryption-key-roll

[2018-06-04 14:19] nakonczy opened #9656 "Clearly state that listSecrets (possibly all list* functions) does not create implicit dependency"
There is mention about _reference_ function creating an implicit dependency and _resourceId_ not creating a dependency. It should be also stated clearly that _listSecrets_ function (and maybe other _list_* functions too, I don't know) do not create an implicit dependency.

So for example, when I deploy an Azure Function using _MSDeploy_ extension, I can't use in same template code like below to ex

[2018-06-04 14:19] love77 opened #9657 "HussainAbdrabnabi.Alkharrari@halliburton.com"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-06-04 14:25] KeirSweeney opened #9658 "Update Client Libraries list"
Currently only .NET, Java and JMS are listed in the https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-messaging-overview#client-libraries section .

However, there are client libraries for .NET, Java, Node.js, PHP, Python and Ruby?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c3af764-3978-6abe

[2018-06-04 14:52] SaurabhSharma-MSFT commented on #9537
@Alaselva Great.  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-04 14:52] #9537 closed

[2018-06-04 14:54] Alaselva commented on #9537
Thanks

[2018-06-04 15:02] wpwoodjr opened #9659 "Management group subscription visibility in portal"
&gt;&gt;There's currently a limitation within the preview where you aren't able to view subscriptions that you have inherited access to. The access is inherited to the subscription, but the Azure Resource Manager isn't able to honor the inheritance access yet.

When will this be fixed?  I can't use management groups until it is fixed, just too confusing for users.

---
#### Document Details

⚠ *Do

[2018-06-04 15:26] bootleg224 commented on #8243
Currently running an IaaS SQL Server that has similiar specs to some of the Managed Instance offerings.  We run about 500 DB per instance, and run at 20% of capacity (giving us enough power to boost).

Basically you answered my question, if we manage our workloads, we can expect no hard limits, we are getting a managed VM, with loose restrictions.

The use case is probably no different than what y

[2018-06-04 15:36] MMAgeek opened #9660 "Hyrbid worker group limits"
What is the limit on hybrid worker groups per automation account and resource group? Can we scale up to about 250 worker groups?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3092ee3a-3c57-cc53-186b-b454e7d9d190
* Version Independent ID: 6f6b5a07-397a-98a2-6091-941244a77837
* Content: [Azure Automation Hybrid Runbook

[2018-06-04 15:40] mmonfet opened #9661 "Awful Update"
Well your attempt to unclutter the sign in seems pointless as you just removed one button, but broke the sign in process.  I can no longer access SharePoint with whatever you changed.  Good job at breaking something that was working fine.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d23565fb-ccc9-42fc-6bde-f999d92fc7

[2018-06-04 15:48] Mike-Ubezzi-MSFT commented on #8243
@bootleg224 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-04 15:50] Mike-Ubezzi-MSFT commented on #9649
@swilliamson-axioma Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-04 15:51] Powerhelmsman opened #9662 "TrustCenter links don't redirect to language specific urls"
This issue is created by @nschonni from https://github.com/MicrosoftDocs/feedback/issues/409.
Describe the bug
Any links to https://www.microsoft.com/trustcenter/ and below without the language identifer en-us do not seem to work.
I realize this isn't a docs site page, but is linked to quite a bit from the docs, and is likely easier for you to address internally.
To Reproduce
Steps to reproduce th

[2018-06-04 15:51] Mike-Ubezzi-MSFT commented on #9639
@manigandham Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-04 15:54] MicahMcKittrick-MSFT commented on #9642
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-04 15:54] manish-shukla01 commented on #6772
https://docs.microsoft.com/en-us/rest/api/billing/enterprise/billing-enterprise-api-reserved-instance-usage
is the documentation for reserved instance usage. (details and summary both)

[2018-06-04 15:55] MicahMcKittrick-MSFT commented on #9648
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-04 15:56] MicahMcKittrick-MSFT commented on #9652
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-04 15:56] MicahMcKittrick-MSFT commented on #9654
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-04 15:56] Mike-Ubezzi-MSFT commented on #9632
I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-04 16:01] cynthn commented on #9626
@JustinGalbraith thanks for the question! The lower CPU Dv2\Dsv2's are general purpose and the higher CPU part of the range (11-15) are memory optimized. Would it be helpful if I changed the headings in the Memory Optimized article to include the size range? Maybe "Dv2-series 11-15"? Sorry it is confusing....

[2018-06-04 16:07] cwatson-cat commented on #6772
@evertonmc Do these topics that @manish-shukla01 published have what you were looking for?
https://docs.microsoft.com/en-us/rest/api/billing/enterprise/billing-enterprise-api-reserved-instance-usage  (details and summary both)
https://docs.microsoft.com/en-us/rest/api/billing/enterprise/billing-enterprise-api-reserved-instance-charges
Ok to close this issue?

[2018-06-04 16:08] mmacy commented on #9642
@slack @aanandr Can you confirm?

[2018-06-04 16:08] Mike-Ubezzi-MSFT commented on #8243
@bootleg224 I am receiving conflicting information. It appears that the Azure SQL Database Managed Instance will throw some type of warning at 100 database, and prevent additional databases from being added to a single instance. Apologies for this inconstancy from what I communicated before.

[2018-06-04 16:14] TomArcher commented on #9585
@alexandair I'll take a look at this later this week, and give you and update as to our plans with the article. Thank you.

[2018-06-04 16:15] #8559 closed

[2018-06-04 16:17] MicahMcKittrick-MSFT commented on #9418
Thanks all for continuing to reach out. We are still working on this internally to figure it out. I will update everyone once we have more details on a fix.

[2018-06-04 16:27] evertonmc commented on #6772
Documentation has been added

[2018-06-04 16:27] #6772 closed

[2018-06-04 16:39] MicahMcKittrick-MSFT commented on #9358
@mostafae any update on this?

[2018-06-04 16:40] MicahMcKittrick-MSFT commented on #9389
@sanjaysahu1984 any update on this?

[2018-06-04 16:45] MicahMcKittrick-MSFT commented on #9504
@aanandr any update on this?

[2018-06-04 16:45] millh0use opened #9663 "Reply URL"
In order to make this application work, I had to also enter a reply URL which I didn't see specified in this documentation.  The reply URL I used was simply the first part of the Sign on URL provided by the vendor: https://training.knowbe4.com/auth/saml/.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5309f743-a1a1-492

[2018-06-04 16:47] georgewallace commented on #9506
@briansturrock Thanks for the contribution. The changes are live and in the doc now. #please-close

[2018-06-04 16:47] MicahMcKittrick-MSFT commented on #9527
Not sure why the PR did not link to this issue.... Manually linking and closing

https://github.com/MicrosoftDocs/azure-docs-pr/pull/42756

[2018-06-04 16:47] #9527 closed

[2018-06-04 16:49] georgewallace commented on #9435
@Gemakk I am working on changes to the article to address this issue and others.. It will be live later today.. I will reply when I have the updates live.

[2018-06-04 16:50] MicahMcKittrick-MSFT commented on #9531
@bluephoton ah okay! Thanks for clarifying!

@iainfoulds can you take a look? I also only see one reference to Set-AzureRmVmssStorageProfile

[2018-06-04 16:52] MicahMcKittrick-MSFT commented on #9540
I believe that would depend on what you are using to call your function. If you are getting an error from whatever you are using to call the function then in theory there should be some logging available. What are you calling your function from?

[2018-06-04 16:55] T4G-CCook commented on #7735
+1 I agree.  It seems that if you make changes on the Data Factory 'branch' (e.g. not a GitHub repo branch) there is no way to get those changes into a Git branch.

[2018-06-04 16:56] MicahMcKittrick-MSFT commented on #9552
Thanks for the extra details.

@timlt could you possibly advise on this one? I am not seeing the author at MSFT anymore.

[2018-06-04 17:04] bootleg224 commented on #8243
Okay thanks, will check back in a few months to find out of the limit is changed

[2018-06-04 17:04] #8243 closed

[2018-06-04 17:07] SteveEllwoodESDM opened #9664 "Get-OBRecoverableItem example no longer works..."
The section that starts...
"You can also search for items to restore using the Get-OBRecoverableItem cmdlet. In our example, to search for finances.xls we could get a handle on the file by running this command:"
Is no longer correct because you get an error saying "WARNING: This functionality is deprecated. Please use Instant Recovery Option."
Is there an option to allow you to search/list the rec

[2018-06-04 17:09] MicahMcKittrick-MSFT commented on #9563
@danielsollondon any suggestions on this one? Is this just a limitation of CSE possibly?

[2018-06-04 17:10] dougmolineux opened #9665 "Guest users permissions are limited to No"
Hi, this question is in reference to https://docs.microsoft.com/en-us/azure/active-directory/users-default-permissions

I have set Guest users permissions are limited to Yes, but when I login to the access panel (myapps.microsoft.com) as a Guest User, I am able to see "Groups -> All Users" which shows All Users who are able to access this application including their email addresses.

It was my und

[2018-06-04 17:11] MicahMcKittrick-MSFT commented on #9579
@smoms have you reviewed the Functions using Service bus triggers docs we have?

https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus

[2018-06-04 17:12] MicahMcKittrick-MSFT commented on #9621
Thanks for that!

@mgblythe can you take a look and see if you think we should update the doc?

[2018-06-04 17:12] dougmolineux opened #9666 "All users visible in myapps.microsoft.com"
Hi, this question is in reference to https://docs.microsoft.com/en-us/azure/active-directory/users-default-permissions

I have set Guest users permissions are limited to Yes, but when I login to the access panel (myapps.microsoft.com) as a Guest User, I am able to see "Groups -> All Users" which shows All Users who are able to access this application including their email addresses.

It was my und

[2018-06-04 17:12] #9666 closed

[2018-06-04 17:13] dougmolineux commented on #9666
Sorry I didn't mean to open this twice

[2018-06-04 17:21] YutongTie-MSFT commented on #7712
@guybartal BatchAI will be covered in the upcoming release next month. Please wait. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-04 17:21] #7712 closed

[2018-06-04 17:22] douglaslMS commented on #8805
@gerardwolf We have published the corrected page. If you have a moment, please take a look. Thanks again for catching the oversight.

[2018-06-04 17:22] jeevansd commented on #9663
@millh0use When we tested the app we don't have to configure this URL in the Reply URL. Can you please confirm that you are using the Azure AD app gallery for adding the app? If you are using the custom template then you might need to configure this value but it should not be in case of gallery app.

[2018-06-04 17:23] BryanTrach-MSFT commented on #9655
@flyrev Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-04 17:26] BryanTrach-MSFT commented on #9644
@justinyoo
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-04 17:30] mgblythe commented on #9621
@MicahMcKittrick-MSFT - will do, thanks

[2018-06-04 17:33] MicahMcKittrick-MSFT commented on #9622
You cannot do it from the portal. But from CLI it is possible. I believe this is the link:

https://docs.microsoft.com/en-us/azure/virtual-machines/linux/tutorial-manage-disks#resize-vm-disk

[2018-06-04 17:35] douglaslMS commented on #9479
@wortho Is this still not working?

[2018-06-04 17:43] vasivara-MSFT commented on #9640
@htogarcia Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-04 17:44] vasivara-MSFT commented on #9471
@almusawi We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-04 17:44] #9471 closed

[2018-06-04 17:44] mahanpathak commented on #9256
The answer is so pointless.  This is so annoying.

On 29 May 2018 at 11:49, Mohit Garg <notifications@github.com> wrote:

[2018-06-04 17:47] cynthn commented on #6168
#please-close

[2018-06-04 17:48] MicahMcKittrick-MSFT commented on #9648
thanks for pointing this out! I have made the changes. Once the PR merges this issue will close and the changes will go live in a few hours.

[2018-06-04 17:51] SaurabhSharma-MSFT commented on #9429
@NickDorak The page does not display all applications at a time however the applications are discoverable through the Search but I can understand your concern and thus request you to provide your feedback on Product Feedback page so that it can be acknowledged by the community and the product team.

[2018-06-04 17:52] jason-j-MSFT commented on #9662
@Powerhelmsman
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-04 17:54] Powerhelmsman commented on #9662
Copy @nschonni. He is the user who provides the feedback.

[2018-06-04 17:56] YutongTie-MSFT commented on #9522
@deguhath Hi, there is a doc-bug issue here, can you please check it and update the document as well? Thanks a lot!

[2018-06-04 17:56] YutongTie-MSFT commented on #9320
@anand-agrawal-yash We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-04 17:56] #9320 closed

[2018-06-04 18:00] SaurabhSharma-MSFT commented on #9638
@rccnw Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-04 18:01] SaurabhSharma-MSFT commented on #9651
@erwinmanuel Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-04 18:02] aanandr commented on #9504
Hi - I checked with the AKS team and learnt that there arent any checks to restrict the no. of IPs to 4096. So you should be able to use the entire range of 16K. However, a few things to keep in mind
1. 16K is default, so new VNets will automatically get it. Existing ones should also get it but customers whose quote was bumped to 8K will have to move to new default.
2. The max pods you can have in

[2018-06-04 18:05] jason-j-MSFT commented on #9665
@dougmolineux
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-04 18:06] jason-j-MSFT commented on #9666
@dougmolineux Closing this issue as a duplicate of:
https://github.com/MicrosoftDocs/azure-docs/issues/9665

[2018-06-04 18:11] vasivara-MSFT commented on #9662
@Minewiskan I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-04 18:12] jpconnock commented on #9282
Hi @fajanssen -- thanks for raising this Issue.  I've been hunting for a while now and haven't found a specific article to address your question.

You're correct about needing to pass the text from the cloud-init script into the Template.  I found a blog post that might help make that clear:  https://blogs.technet.microsoft.com/jessicadeen/microsoft/azure-arm-templates-how-to-embed-full-scripts-in

[2018-06-04 18:13] SaurabhSharma-MSFT commented on #9661
@mmonfet Can you please provide error details to understand your problem better as this changes is  solely a visual UI change with no changes to existing functionality.

[2018-06-04 18:14] MicahMcKittrick-MSFT commented on #9504
thanks @aanandr !

[2018-06-04 18:17] MicahMcKittrick-MSFT commented on #9652
@dusek I believe you will need to input the generated code each time unless you were to setup Pass through authentication in your AD tenant....

@iainfoulds could you confirm?

[2018-06-04 18:19] vasivara-MSFT commented on #9587
@Anmolgan81 I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-04 18:20] SaurabhSharma-MSFT commented on #9423
@NickDorak We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-04 18:20] #9423 closed

[2018-06-04 18:23] Adam-Smith-MSFT commented on #9641
@kazshi Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-04 18:37] fajanssen commented on #9282
Hi @jpconnock and thanks for your answer,

The Azure CLI would be a workaround for us, as we are trying to automate our Deployments with ARM Templates in VSTS. Sure we could build our machines with CLI in VSTS, but ARM Templates are much easier to handle, as you can use the some functions in there right away and thats pretty handy for some naming conventions.

Greetings Fabian

[2018-06-04 18:47] SaurabhSharma-MSFT commented on #9429
@NickDorak We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-04 18:47] #9429 closed

[2018-06-04 18:52] KeeganWalsh commented on #9579
I've come across the same issue while trying to work locally with Visual Studio Code.  I just get a message saying my binding isn't recognized.  My guess was that the extension just isn't available yet for local dev and Service Bus Queues.  I hope I'm wrong and just missing something....

[2018-06-04 18:54] akramwaseem commented on #8590
Thanks for the update and if possible can you mention it in the document, so other people can better understand.

[2018-06-04 18:54] SnehaGunda commented on #9008
@jpmorris fair comments, I shared the feedback with our PM & Dev teams, I have a sync with our team to investigate more.

[2018-06-04 18:55] smoms commented on #9579
i have recreated the project "properly". I can run it in VS debug mode and deploy in Azure all fine. But from CLI i get now error:

func host start:

A ScriptHost error has occurred
[04/06/2018 15:27:44] System.Private.CoreLib: Exception has been thrown by the target of an invocation. Microsoft.ServiceBus: The type initializer for 'Microsoft.ServiceBus.Messaging.Constants' threw an exception. Micr

[2018-06-04 19:07] KeeganWalsh commented on #9579
Ah sorry, yes slightly different than my issue.  Not to run you down the wrong rabbit hole, but I did find an article about V2 having issues with the CLI.

https://stackoverflow.com/questions/48295848/the-binding-type-servicebustrigger-is-not-registered-error-in-azure-functions

Hopefully this helps, and good luck!

[2018-06-04 19:09] SnehaGunda commented on #9619
@rahulraibit Yes the TableContinuationToken is set to null in the code sample. you can update it as per your requirement. Can you please refer to this doc to update continuation token: https://docs.microsoft.com/en-us/dotnet/api/microsoft.windowsazure.storage.table.tablecontinuationtoken?view=azure-dotnet

[2018-06-04 19:14] mihiraniljoshi opened #9670 "speech API doesn't detect text after a pause"
Hi, I am using Bing Speech API. I am passing 15 sec audio chunks to the API. What am I seeing is that if an audio chunk has a 2-3 sec pause between two sentences, then the API only returns text for the part before pause.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 029104c8-ebde-d9d4-c5c9-5f80644b8776
* Version Indep

[2018-06-04 19:26] Mike-Ubezzi-MSFT commented on #9479
@douglaslMS I am still having issues:

![screenshot 29](https://user-images.githubusercontent.com/37126106/40937115-67cec3b2-67f2-11e8-90f9-474190c57b5a.png)

[2018-06-04 19:29] jason-j-MSFT commented on #9657
@love77 This issue has no actionable information, closing.

[2018-06-04 19:30] #9657 closed

[2018-06-04 19:43] algattik opened #9671 "Add write example"
Please add an example of writing to Cosmos DB from Spark, to make it clear it's supported and facilitate implementation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c77b390-e483-d7d4-3ea8-813a296c9e89
* Version Independent ID: 3b1e6865-894e-9958-3e6d-4b04bf40e892
* Content: [Connecting Apache Spark to Azure Cosmos

[2018-06-04 19:46] SaurabhSharma-MSFT commented on #9454
@Jeffa007 I suggest you please open a new MSDN forum post and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required as I do think this as documentation issue.
You can also open an Azure support ticket so that an Identity en

[2018-06-04 19:50] logicfox commented on #9200
@jeevansd I'm not sure how IT set it up, but I am told they followed the guide linked above to the letter.

[2018-06-04 19:50] burstingninja opened #9672 "Step number 2 on CLI"
Step Number 2 on CLI is wrong
shows this: az extension add -n storage-preview`
the correct one is: az extension add -n storage-preview

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18dcb813-6d62-ea30-4a33-1e350c9380cd
* Version Independent ID: 9a7e40de-b31d-96e7-c272-99d51b822af8
* Content: [Run Azure CLI or PowerShel

[2018-06-04 19:52] burstingninja opened #9673 "Step number 4 on Powershell"
wrong spaces AllowPrerelease doesn't work

# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article -

[2018-06-04 19:57] #9648 closed

[2018-06-04 20:04] aydeisen commented on #9500
@MGoedtel: What makes Windows different that HTTPS inspection impacts Windows, but Linux?  Why wouldn't a network function impact both equally?

[2018-06-04 20:12] AdamGrossTX commented on #8499
Can you tell me who I should contact to get support per your previous comment? Is this something that Premier Support would need to help with?

[2018-06-04 20:15] PatAltimore commented on #9575
@nmarathe If you are getting a 403, something is wrong with the client app registration. The 403 means that the graph API call to list users in the directory isn't authorized. Go back to the deployment instructions and verify you selected **application** permission (not delegated) **Read all users' full profiles** and click the **Grant permissions** button.

I'm going to request this issue be clos

[2018-06-04 20:19] SnehaGunda commented on #9165
@ratchetwrench currently supported formats are: byte[], bool, DateTime, double, Guid, int, long, and string we don't support Pandas DataFrame yet. If you have a feature request, can you please log it here: https://feedback.azure.com/forums/263030-azure-cosmos-db

[2018-06-04 20:20] jeevansd commented on #9200
@logicfox I will get this confirmation from the Slack team.
Thanks.

[2018-06-04 20:20] SnehaGunda commented on #9165
#please-close

[2018-06-04 20:23] curtand commented on #9308
Hi @SachinRanka
That's not what this article documents. Right below the perms is a link to the "Restore a group" article where those permissions are detailed.
Restore a deleted Office 365 group in Azure Active Directory
(https://docs.microsoft.com/en-us/azure/active-directory/active-directory-groups-restore-azure-portal)
#please-close

[2018-06-04 20:24] tamram commented on #9672
@burstingninja - Thanks for catching that. I've made the fix and it should go live later today.

[2018-06-04 20:24] tamram commented on #9672
#please-close

[2018-06-04 20:27] curtand commented on #9269
Hi @scarson
the updated documentation is going to publish at 3 PM today. Thanks!

[2018-06-04 20:31] allenwux commented on #9479
The content is out of date. the locator service is not required for sync agent to work anymore. The local agent now connect to the Azure SQL Database directly. You need to open the outbound 1433 port in your local firewall rule and add the local ip to the SQL DB firewall rules.

Will update the document and correct the information.

[2018-06-04 20:44] TommySharpNZ commented on #9512
Ideally this documentation then needs to be updated because this came as a shock to us when we could not assign a group of people to an application from the gallery....

[2018-06-04 20:47] douglaslMS commented on #9479
@wortho The page has been corrected with up to date instructions, and will be republished later today. Thanks for bringing this to our attention.

[2018-06-04 20:47] douglaslMS commented on #9479
#please-close

[2018-06-04 20:48] PatAltimore commented on #9575
Changing this to #in-process.  Don't close it yet.

Verifying something hasn't changed...

Pat

[2018-06-04 20:49] PatAltimore commented on #9575
@nmarathe I'm going to verify something hasn't changed.

[2018-06-04 20:52] gwlperl opened #9678 "This document fails to create a VM"
First, the vm create command fails with:

invalid usage for storage profile: create unmanaged OS disk created from generalized VHD:
	missing: --use-unmanaged-disk

If you add the --use-unmanaged-disk it fails with:

   "code": "StorageAccountLocationMismatch",
        "message": "Could not resolve storage account 'XYZ'. Please ensure it was created through the Storage Resource Provider in the same

[2018-06-04 20:56] gerardwolf commented on #8805
Thanks @douglaslMS, good as gold now.

[2018-06-04 20:57] SenthuranSivananthan opened #9679 "Add SQL DW & Cosmos DB under Service endpoints for Azure services"
2 services are missing from this list.  See https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-service-endpoints-overview

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2422f8ec-802e-7f92-c499-9181f3fe8d8b
* Version Independent ID: eb2b0e2c-8fb5-573c-ef0d-50073d053c3d
* Content: [Virtual network for

[2018-06-04 21:14] Powerhelmsman opened #9681 "Azure Detect faces API,how to change the URL picture to a local picture?"
This issue is created by @dapsjj from https://github.com/MicrosoftDocs/feedback/issues/410

I use azure Detect faces API But I find image_url is a picture of a network. Now I want to use my local picture,how to change the URL picture to a local picture?
Can you give me code?I use python 3.6

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2018-06-04 21:17] Mike-Ubezzi-MSFT commented on #9671
@algattik Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-04 21:17] cenkersoy opened #9682 "TenantID"
Two PowerShell scripts on this page refer to $TenantID.   The scripts do not show how to get the value.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 330420e0-351d-1af9-1fc0-fa7df6015398
* Version Independent ID: 97a1c9a8-936f-f5a5-9fa2-195504cb8bc3
* Content: [Configure the Azure Stack PowerShell environment](https:/

[2018-06-04 21:18] femsulu commented on #9645
@ilyas-it83 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-04 21:20] YutongTie-MSFT commented on #9670
@mihiraniljoshi Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-04 21:21] femsulu commented on #9656
@nakonczy Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-04 21:24] femsulu commented on #9659
@WPWoodJr Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-04 21:26] AndrewHiggins opened #9683 "Azure probs"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-06-04 21:27] apigirl opened #9684 "updates to the SendGrid docs"
Hi!

I'm on the SendGrid docs team, and we've received a lot of requests for us to update this page:
https://docs.microsoft.com/en-us/azure/sendgrid-dotnet-how-to-send-email#how-to-create-an-email
(particularly from the how to create an email section down to the bottom of the page, but we can verify the rest)
1) How can we get started with this? We're picturing a similar format, just updated conte

[2018-06-04 21:28] mbgreen opened #9685 "Private Registries"
Are private registries going to be supported in multi-container apps? My Docker Compose file referenced an image in my Azure Container Registry and it was not able to pull it. I tried adding the same app settings that get added when you create a single container app from ACR, but no luck there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-06-04 21:28] femsulu commented on #9660
@MMAgeek Your question has been shared with the content owner for further review.

[2018-06-04 21:33] DCtheGeek commented on #9645
@ilyas-it83 Thanks for the feedback!  The provided conditions are:

- like
- notLike
- match
- notMatch

While these provide Regex like capabilities, it isn't full Regex support.  like/notLike supports `*` as a wildcard and match/notMatch supports `#` for a single digit and `?` for a single letter.  You can combine the conditions with an `allOf` logical operator for more advanced scenarios. If you

[2018-06-04 21:39] sethmanheim commented on #6513
@cocowalla Very sorry for the delay in responding. The maximum length of a session ID is actually 128, and this is documented in the SessionID API page: https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.servicebus.message.sessionid. I will also add it to the quotas page.

Technically there are no limitations or restrictions on allowable characters. However we do not recommend using speci

[2018-06-04 21:41] tfitzmac commented on #9303
@ravikiran-srini - I verified the CLI example works. If for some reason you are seeing something different, we can reopen.

[2018-06-04 21:41] tfitzmac commented on #9303
#please-close

[2018-06-04 21:43] rthorn17 commented on #9659
@WPWoodjr  I'm sorry for having this limitation and we are working to resolve this as quickly as we can.  We are close to having a fix, but it takes a lot of coordination with all the other services to make sure it works for everyone.  Sorry again and we should have it resolved soon.

[2018-06-04 21:48] SaurabhSharma-MSFT commented on #9512
@TommySharpNZ I have assigned this to content author if this can be added a note to existing documentation.
@@barbkess  Please can you check if you can add a note about the subscription/plan through which we can assign user/group permissions.

[2018-06-04 21:49] srrengar opened #9686 "Broken link"
The first 'Deploy to Azure' link does not work. Please fix or provide a link to the ARM template that is supposed to be deployed on Azure samples

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c35122b0-871e-12d4-6473-974a2124c17a
* Version Independent ID: f2087c02-f7a6-5727-140e-f21a776bc48a
* Content: [Assess Service

[2018-06-04 21:49] SaurabhSharma-MSFT commented on #9454
@Jeffa007 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-04 21:49] #9454 closed

[2018-06-04 21:53] FredFaust opened #9688 "SLA for data ingestion"
What is the SLA for data ingestion using the Data Collector API?
Is it 6 hours? Does it depend on the pricing tier?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1295e1b3-5aed-3aee-4331-8b81e7a7e544
* Version Independent ID: 3c00a5ee-7093-1e8b-9004-8fed3f82960e
* Content: [Log Analytics HTTP Data Collector API]

[2018-06-04 22:09] sergaz-msft commented on #9329
Hello @kunalaphadnis99 can you detail better the steps you took on the documentation? Are you using Linux or Windows containers? Are you using [Linux/Mac](https://docs.microsoft.com/en-us/azure/iot-edge/quickstart-linux) or [Windows](https://docs.microsoft.com/en-us/azure/iot-edge/quickstart) QuickStart as a prerequisite?

Finally what is the result of `docker ps` ? You should have 4 containers ru

[2018-06-04 22:16] henrydaehnke commented on #9557
Thank you for the very quick reply, and the code link. That was helpful, but I am a little confused about what capabilities are available with what library. It looks like from your comment and the example code that Azure AD v. 2.0 supports calls to custom APIs. Is this also supported in [MSAL.js](https://www.npmjs.com/package/msal)? I tried to call a custom API with version 0.1.5, but it failed. I

[2018-06-04 22:21] SnehaGunda commented on #9523
@HK-Zhang Partitions are an internal concept and are transient. Azure Cosmos DB will automatically scale partitions. The assumption of how many partitions are allocated at a certain throughput is not quite correct. This is not a fixed number and as your storage/throughput needs grow, we internally adjust them. You shouldn’t tie your design based on the partition key.

The right thing to do for des

[2018-06-04 22:26] femsulu commented on #9647
@abhijitmhp Thanks for bringing this to our attention. Your question has been shared with the content owner for further review.

[2018-06-04 22:30] sethmanheim commented on #9647
@abhijitmhp Please have a look at this article: https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-async-messaging, which contains more information about retry logic.