[2019-08-05 23:58] MicrosoftGuyJFlo commented on #35203
Sent follow-up email to product group for response

[2019-08-05 23:58] MicrosoftGuyJFlo commented on #33432
Sent follow-up email to product group for response

[2019-08-05 23:58] MicrosoftGuyJFlo commented on #28024
Sent follow-up email to product group for response

[2019-08-06 00:10] ArcherAZ commented on #36017
Hi, which language/locales are you working on? Only en-US/de-DE are supported with pronunciation training at this moment

[2019-08-06 00:17] Linaa commented on #36424
Thanks! It seems the idea is already submitted https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/34314145-please-allow-to-detach-azure-subscriptiona-from-de

[2019-08-06 00:18] SanDeo-MSFT commented on #33432
@saschastops,
For Domain Controllers, Hybrid Azure AD join does not work. You don't need to do anything special here to prevent that from happening. For VDI environment, we are working to provide an official guidance. We expect that to happen in the near future.

[2019-08-06 00:18] SanDeo-MSFT commented on #33432
#please-close

[2019-08-06 00:18] #33432 closed

[2019-08-06 00:22] tfitzmac commented on #36312
@cephalin or @BryanTrach-MSFT - do you know if the requirement still exists to delete the SSL binding and private certificate from a web app before moving the resources?

[2019-08-06 00:26] Mike-Ubezzi-MSFT commented on #36037
@jan-eng I created a PR to add a note with regard to letting the user know that the scale event is one-way. They may not always be able to scale back down.

[2019-08-06 00:28] Mike-Ubezzi-MSFT commented on #36151
@Choosetango
We will now proceed to close this thread. If there is a specific issue or recommendation with an article found in the Microsoft Docs repository, please click on the feedback link at the bottom of the page and your detailed feedback will be properly routed. As it stands, this is a forum post as it has no document for the issue to be associated with. Thank you, ~Mike

[2019-08-06 00:28] #36151 closed

[2019-08-06 00:30] Alberto-Vega-MSFT commented on #36252
@PeterTurcan Sorry for the delayed response. Would you please open an issue here: https://github.com/Azure/iot-central-firmware/issues

[2019-08-06 00:33] Mike-Ubezzi-MSFT commented on #36215
@paoloricciuti Thank you for pointing out the specific document. I am assigning to the content author to evaluate and update as appropriate.

[2019-08-06 00:45] Mike-Ubezzi-MSFT commented on #36393
@plankytronixx PR = Pull Request. Under the direction of the content author, a pull request can be created to update the public-facing document to correct the version that is currently visible. What I want to verify is the correct behavior.

[2019-08-06 00:58] dancs85 opened #36533 "artifacts(artifactName) is checked against filename not artifact name"
This function seems to retrieve data from artifacts using a file name.
eg. artifact file called "10-vnet.json", which has contained a 'name' key of 'vnet'.
If you were to reference output of this using "[artifacts('vnet').outputs.VnetId]" it would fail when you try to publish.
Using "[artifacts('10-vnet').outputs.VnetId]" would work.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2019-08-06 01:11] mike-urnun-msft commented on #36528
Hi @xieb0001 - Thank you for your feedback! We will review and update as appropriate.

[2019-08-06 01:19] seanalexander opened #36535 "The maximum throughput ever provisioned on the container"
Is this still relevant?

I created 10 containers on a shared Database, resized it to 15000 TU, and after 6 hours I was able to resize it to 1,000 TU.

"The maximum throughput ever provisioned on the container. The service supports lowering throughput of a container to 10% of the provisioned maximum. For example, if your throughput was increased to 10000 RUs, then the lowest possible provisioned th

[2019-08-06 01:20] seanalexander opened #36536 ""The maximum throughput that you ever provision on the container""
According to this page https://docs.microsoft.com/en-us/azure/cosmos-db/concepts-limits
this should probably read as:

"The maximum throughput ever provisioned on the container."

Alternatively, maybe include that whole paragraph if it's factual and up to date.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f2b93a5-28

[2019-08-06 01:29] KrishnaG-MSFT commented on #36533
@dancs85 Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-08-06 01:33] rimman commented on #36536
Fixed incomplete sentences to make it clearer (it is being staged right now) PR #84408.

[2019-08-06 01:36] ggailey777 commented on #33870
@dougmolineux  we have determined that the correct commands to start a TypeScript project locally are:

[code]
We have updated the relevant articles as appropriate. Thanks for pointing this out to us and for your help fixing it!

[2019-08-06 01:51] kpranavk opened #36539 "Visual Studio version"
Prereqs say Visual Studio 2017, actual steps say 2019. Tomorrow it is going to change. Can we just say Visual Studio so you don't have to keep updating this article with the latest version?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a412b19a-6f3d-f1ec-8030-ce1125f470b2
* Version Independent ID: 6d9edd06-40be-f3d1-c

[2019-08-06 01:52] arramac commented on #36535
Hi @seanalexander, the 10% rule is the minimum you can lower at any RU value. For certain ranges, we do indeed support lowering below 10%. The accurate way to get the min settable throughput for your collection is via calling the API as mentioned in the next par. I'll reword this a little to make the behavior clear.

[2019-08-06 02:00] dancs85 commented on #36533
If it helps, the text in the portal when you attempt to Publish a BP with mismatching artifact name/filename is below:
"Publishing blueprint definition 'SingleLinuxServer' failed.
The artifact reference via artifacts('vnet') is invalid within artifact '20-subnet-server' of blueprint 'SingleLinuxServer'. Artifact 'vnet' does not exist."

[2019-08-06 02:07] swinarko commented on #36399
Thanks @Johannes-Vink for reporting this issue to us, we've replaced a file that didn't work with our latest release of SSIS IR, so please try again and let us know if it works now.

[2019-08-06 02:21] Kris-Patil commented on #35732
Hello @shashishailaj, @FrankHu-MSFT:

I wiped my Windows 10 surface device and re-joined it in AAD and the local admin thing works now. So it indeed seems like this local admin access works only if the device is added "after" doing the "Additional local administrators" configuration in inTune.

Can you please confirm this behaviour?

Thanks,
Kris.

[2019-08-06 02:31] Zhang-lujia opened #36540 "Can the domian to be verified contain sub path?"
I try to verify the Publisher Domain of out app , which values is like "https://www.xxxx.cn/abc", however the prompt says "Verification of publisher domain failed. Property publisherDomain has an invalid value. [B7jMt]". So I wonder whether the Pushiser Domian can't contain sub path, which means only domains like "https://www.xxx.cn" are acceptable.

---
#### Document Details

⚠ *Do not edit this

[2019-08-06 03:37] VikasPullagura-MSFT commented on #36480
@saschastops I am closing the issue for now as the product team has replied on the tentative date of 32 bit client availability.
Thank You.

[2019-08-06 03:37] #36480 closed

[2019-08-06 03:38] ram-msft commented on #36092
@jpe316 Could you please point/help with the view of the parameter information from the azure command line utility for the published pipeline without initiating run.

[2019-08-06 04:04] skmkzyk opened #36541 "SQL Database in VNet"
Is it possible by SQL DB Managed Instance for now?

&gt; However as of September 2017, the Azure SQL Database service is not yet among the services that can be assigned to a subnet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2eb5097c-fc6e-f0a5-07a6-a84e05aa0bb6
* Version Independent ID: 1004e6b8-344f-6fdc-391a-35c5

[2019-08-06 04:13] EbrahimMajdey commented on #35478
I have same issue multiple subnets but still not working ..

[2019-08-06 04:30] andrewatfornax commented on #36484
119080523000063

[2019-08-06 04:46] RohitMungi-MSFT commented on #36539
@kpranavk Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-08-06 04:47] jakaruna-MSFT commented on #36460
@torchy-newman Yesterday i tried in Ubuntu 16.04 and it worked well. Article is also for 16.04.

From your question is see that you are using 18.04. I will try once with 18.04 and let you know.

If possible, You can try with ubuntu 16.04 and let me know

[2019-08-06 04:49] CHEEKATLAPRADEEP-MSFT commented on #36518
@arerlend Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/84419](https://github.com/MicrosoftDocs/azure-docs-pr/pull/84419).
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to tak

[2019-08-06 04:49] #36518 closed

[2019-08-06 04:51] #36439 closed

[2019-08-06 04:51] #36438 closed

[2019-08-06 04:51] #36415 closed

[2019-08-06 04:51] #36387 closed

[2019-08-06 04:53] KrishnaG-MSFT commented on #36286
@chrisdoofer At this point it appears that there's no edits or updates needed for the documentation so closing this issue for now.
If there are further questions regarding this matter or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2019-08-06 04:53] #36286 closed

[2019-08-06 04:54] ManojReddy-MSFT commented on #35512
@jpenchina Apologies for the delay in this. I checked with the product team regarding this. The service principals for these applications should be activated by default.

The troubleshooting script provided [here ](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-nps-extension#nps-extension-health-check-script)actually validates this and will let you know if these n

[2019-08-06 04:54] #35512 closed

[2019-08-06 04:55] KrishnaG-MSFT commented on #36315
@mwdjwan As I haven't got any response with a document link that you are referring to, so I will be closing this issue now.

[2019-08-06 04:55] #36315 closed

[2019-08-06 04:57] FindingNamo commented on #36262
It does indeed seem to, should I provide you with a pull request to add a link to the factory?

[2019-08-06 04:58] ManojReddy-MSFT commented on #36540
@Zhang-lujia You are correct. Only root and sub-domains can be verified.

[2019-08-06 05:01] ManojReddy-MSFT commented on #36526
@TheBluLion We are looking into this and will get back to you shortly.

[2019-08-06 05:05] AJAnujsharma commented on #36476
Just like eclipse and other application which use INI file (Configuration) to set some parameters. I have a similar requirement where I'm trying to set parameter of pipelines by using INI File(Configuration).

I wanted to check if this is possible?

If yes can you please share approach how it does ?

I'm aware how this scenario can be handled by Coding in databricks but i want to do it in adf pipe

[2019-08-06 05:15] snehaamicrosoft commented on #36467
@zrahui, Thanks for catching the issue, it is a doc update issue. The assessments in Azure Migrate now assess readiness for Azure large disks (32TB disk size), we will update the doc accordingly.

[2019-08-06 05:21] snehaamicrosoft commented on #36467
@rayne-wiselman I will update the doc to fix this issue.

[2019-08-06 05:27] averkinderen opened #36544 "Tag limit"
The tag limit is increased to 50 but it's not reflected on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57b6d-3c6f-e546-b3ea-f83892f4c23d
* Version Independent ID: 27aecc7b-f107-96d4-b044-ae026bca2727
* Content: [Azure subscription limits and quotas](https://docs.microsoft.com/en-us/azure/azure-subscrip

[2019-08-06 05:46] snehaamicrosoft commented on #36467
I have created a PR to fix this: https://github.com/MicrosoftDocs/azure-docs-pr/pull/84423. The changes should reflect in next 24 hours.

@femsulu #please-close

[2019-08-06 05:46] #36467 closed

[2019-08-06 05:50] SychevIgor opened #36545 "Is it possible to use certificate from Azure Key Vault for P2S connection?"
Thank you for an article.
Could you explicitly specify that there are no way to use Azure Key Vault as a certificate store? Or if it's possible - add an instruction - how it can be done.
Managing certificate manually it's looks a bit not enterprise style.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59e72010-dab4-54d

[2019-08-06 05:53] PramodValavala-MSFT commented on #36513
@sebader Glad you found your answer!

[2019-08-06 05:57] SubhashVasarapu-MSFT commented on #36545
@SychevIgor, Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-08-06 06:05] ChiragMishra-MSFT commented on #36300
@yevhen-miro I will now proceed to close this issue. Please feel free to still comment and tag me if you have any queries.

[2019-08-06 06:05] #36300 closed

[2019-08-06 06:07] DashleenBhandari-MSFT commented on #36268
@tony-gutierrez , The Microsoft Azure Team has investigated the issue you reported on Web App and Function App creation via Azure portal that resulted in the create blade hung on determining location. This issue was found to be related to a regression in the control plane after a recent deployment to the backend.

Upon investigation, engineers discovered an issue where an API used during the creat

[2019-08-06 06:07] OlieVuur commented on #36017
@ArcherAZ thanks for highlighting this, I was using en-UK. I can now add the pronunciations when using en-US.

[2019-08-06 06:08] #36017 closed

[2019-08-06 06:12] lightupdifire commented on #35903
@SanDeo-MSFT ,
I'm sorry, but AD Connect DO OPEN web proxy extranet windowstransport :)
We have ADFS setup for 4 years already, all was done according to manual of MS articles,
windowstransport proxy extranet was closed,
Only one change made in last month -> we run AD Connect to setup Hybrid Azure AD Join for Federated domain,
After this, within some week, we received Azure message that windowstra

[2019-08-06 06:23] SadiqhAhmed-MSFT commented on #36544
@averkinderen Thanks for the comment! Are you referring to the note "The number of tags per resource or resource group is limited to 15"? Can you share the documentation that says the tag limit is increased to 50 by highlighting the section from the doc?

@rothja FYI.

[2019-08-06 06:32] SadiqhAhmed-MSFT commented on #36375
@srpomeroy Hope that the previous post helped. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-06 06:32] #36375 closed

[2019-08-06 06:36] cktechative commented on #36473
Hi Frank,
Thank you for your reply.
Unfortunately Àzure MFA Server is not supported any more.
https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfaserver-deploy

So I guess we have to use MFA-NPS Extension, is there any documentation from you how to implement this?

Thanks in advance
Christian

From: Frank Hu <notifications@github.com>
Reply to: MicrosoftDocs/azure-docs

[2019-08-06 06:59] SwathiDhanwada-MSFT commented on #36472
Thanks for your feedback. A PR has been successfully initiated to resolve this issue. The changes will reflected in 24 hours.
We will now close this issue. If there are further questions regarding this matter, please respondand we will gladly continue the discussion.

[2019-08-06 06:59] #36472 closed

[2019-08-06 07:09] gpj1 opened #36546 "What is worker in isolated pricing tier?"
Is a worker in isolated AppService plan different than a dedicated VM of the same plan? In portal how can I see this info in my AppService plan?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a9696e-10fd-a74e-4957-0d7ed9ef5a0f
* Version Independent ID: dad3cbd5-b2d0-9cc4-261f-97b95cf811c6
* Content: [App Service plan

[2019-08-06 07:10] dcbrown16 opened #36547 "Purchased Azure domain"
"If you have purchased domain through Azure App Service Web Apps then skip following steps and refer to the final step of Buy Domain for Web Apps article."
The last step there is "Direct default URL to a custom directory" - how does that help? This scenario needs to be clarified a bit more.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2019-08-06 07:26] AjayKumar-MSFT commented on #36262
@FindingNamo, Thanks for the response.
In the doc, the section "Add Application Insights logging provider"  - points to a "Add an Application Insights logging provider with default [filtering](https://docs.microsoft.com/en-us/azure/app-service/webjobs-sdk-how-to#log-filtering)" , the filtering word is hyperlinked to the same doc (Use WebJobs SDK) that I have referenced above and the next line (tha

[2019-08-06 07:39] glauco76 commented on #31993
re-upping this thread as Netsuite has moved to 2019.2 release and the problem is still there

The SSO configuration tutorial on Azure AD still refers to previous releases of Netsuit, but you can at least figure out how to configure it. It should be updated thoug.

When it comes to the user provisioning section things don't work at all. From 2019.1 Netsuite requires 2-factor auth on admin profiles

[2019-08-06 07:39] imeya commented on #36385
@KrishnaG-MSFT , @snehithm , any update on this?

[2019-08-06 08:00] dvherk opened #36550 "limitiations - global vnet peering - internal mode"
Please check if the last bullet under 'Limitations' is still valid -&gt;
"Connectivity from a resource in a globally peered VNET in another region to API Management service in Internal mode will not work due to platform limitation. For more information, see Resources in one virtual network cannot communicate with Azure internal load balancer in peered virtual network"

Recently the following was a

[2019-08-06 08:04] msvijayn commented on #36395
[scheduledQueryRules ARM reference](https://docs.microsoft.com/en-us/azure/templates/microsoft.insights/2018-04-16/scheduledqueryrules) and [API reference](https://docs.microsoft.com/en-us/rest/api/monitor/scheduledqueryrules) is generated based on the description/details added in the [scheduledQueryRules API specification/swagger](https://github.com/Azure/azure-rest-api-specs/blob/master/specific

[2019-08-06 08:15] bizinbarefeet commented on #36441
So your system has holes.  I received an email about new recommendations, I go to Azure to see what they are, I look at them and attempt to make the changes recommended, even if I don't understand them, but there is no instructions of 'what' to do.  Only technical discussion of 'how' to make the changes.

[2019-08-06 08:21] theheatDK opened #36551 "Is activity logs part of Azure Monitor?"
Hi,
In this article this is mentioned:
"To store this data for longer periods, collect it in Azure Monitor".

As I understand it activity logs and metrics are default stored in Azure Monitor. How it is stored is unknown but it is an internal thing.
If you want to keep activity logs or metrics longer than 90 days you can stream them to an Analytics workspace (aka. Azure Monitor Logs).
Is this corre

[2019-08-06 08:23] isherst opened #36552 "Service Principal name changed"
Correct me if I am wrong, but granting access to storage account must be done to Microsoft.StorageSync instead of Hybrid File Sync Service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7235bd07-1172-ac6a-3dab-0200fd73bd87
* Version Independent ID: 9620b286-fe9e-0c56-c01f-ddf7c3c36ac0
* Content: [Troubleshoot Azure Fi

[2019-08-06 08:25] medavamshi commented on #11164
Any update for increasing Total Regional vCPUs Option?  I still Dont see that option in the portal

[2019-08-06 08:28] MikkelHegn commented on #36274
We do not support creating multiple node pools in one deployment at this point in time, this is coming soon however - @jluk.

Regarding

Do you have the default / first node pool successfully created?

[2019-08-06 08:47] sarah026 opened #36553 "Remote access to intranet ??"
Hi, can you please clarify why this is needed?
"７ Note

Before you add another node for high availability and scalability, ensure that the Remote access to intranet option is enabled on the first node (Microsoft Integration Runtime Configuration Manager &gt; Settings &gt; Remote access to intranet).
"

Why do I need to expose my runtime to the internet? Why can't this be configured locally?

---
#

[2019-08-06 08:50] sarah026 opened #36554 "Creating RT using azure portal"
Is this really true anymoe?
"1.The data developer creates a self-hosted integration runtime within an Azure data factory by using a PowerShell cmdlet. Currently, the Azure portal does not support this feature."

I've created the runtime registry within ADF using the portal yesterday, without using powershell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-08-06 08:55] mike-urnun-msft commented on #34214
@spelluru "Deploy to Azure" button, which ultimately runs [this ARM](https://github.com/Azure-Samples/azure-event-grid-viewer/blob/master/azuredeploy.json) template, was leading to a failed result at the time of testing. I just tried it again and it's working as expected. @iLikeAzureSQL please try again and let us know if you're still encountering any issues.

We will now proceed to close this thr

[2019-08-06 08:55] #34214 closed

[2019-08-06 08:58] filipe-lopes opened #36555 "Firewall/proxy configuration points to a link that is being deprecated."
In the "Prepare your on-premises environment" section, the "Azure DataCenter IP ranges" link point to a list being deprecated. Link should be update to the new JSON file download location, and the documentation should be updated to guide users on which service tags should be used for this service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-08-06 09:05] ChiragMishra-MSFT commented on #36553
@sarah026 The access here is Intranet access which means you are essentially exposing the node only to your internal network so that all the nodes are interconnected. This way, no data is going out of your local internet.

Hope this clears things up for you.

[2019-08-06 09:08] srinihp opened #36556 "Floating IP"
When we enable Floating IP:
a) Do we need to assign this IP Address (Floating IP) to one of the Network on the Guest VM ?
b) Can the rule be in such a way that the System (VM) which has the Floating IP address assigned will be the one that serves that request always. Although the service is active in all the backend VMS?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this sectio

[2019-08-06 09:09] ChiragMishra-MSFT commented on #36554
@sarah026 Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-08-06 09:11] stspinu opened #36557 "It should be OperationalInsights, not OperatonalInsights"
Hi,
There is a typo when checking for the purge status.

We can see OperatonalInsights on the page. It should actually by OperationalInsights.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6dd1160d-4337-13eb-bffd-24743ea225ef
* Version Independent ID: 7750ece3-de32-b966-5dd8-c06bcadd5ba7
* Content: [Guidance

[2019-08-06 09:11] sbjeletich commented on #19698
Perfect. Thanks!

Sharon Bjeletich
Senior Data Architect
—
410 N Michigan Ave N650, Chicago, IL 60611
O: +1.973.630.9326  |  C: +1.212.203.6504

[cid:image001.png@01D54C47.B05FE040]<http://www.capaxglobal.com/>

From: MartinJaffer-MSFT <notifications@github.com>
Sent: Monday, August 5, 2019 8:54 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: sbjeletich <sbjeletich@capaxglobal.

[2019-08-06 09:17] KrishnaG-MSFT commented on #36557
@stspinu Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-08-06 09:20] KrishnaG-MSFT commented on #36551
@theheatDK Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-08-06 09:22] masashioms opened #36558 "Missing Hyperscale Gen4 info"
Could you back the details for HS Gen4 spec on this page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5676aae7-73bc-c084-174b-50ba4fd7be77
* Version Independent ID: 0998f821-0f03-a833-b4b3-0d6ebd9468e5
* Content: [Azure SQL Database vCore-based resource limits - single database](https://docs.microsoft.com/en-us/azur

[2019-08-06 09:28] SumanthMarigowda-MSFT commented on #36552
@isherst Thanks for your question. We are checking on this and will respond to you soon.

[2019-08-06 09:29] masashioms opened #36559 ""Number of replicas" for Hyperscale tier"
The documentation says HS has two replicas. Does this mean we have at least one secondary replica for compute node internally even if we don't configure any secondary replicas on the Azure portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5676aae7-73bc-c084-174b-50ba4fd7be77
* Version Independent ID: 0998f821-0f03

[2019-08-06 09:29] SumanthMarigowda-MSFT commented on #36260
@terziyski Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-08-06 09:31] msrini-MSFT commented on #36556
@srinihp , the answers are inline.

a) Do we need to assign this IP Address (Floating IP) to one of the Network on the Guest VM ?
    Yes, you need to create a loopback adopter and you need to assign the IP of the LB over there.
b) Can the rule be in such a way that the System (VM) which has the Floating IP address assigned will be the one that serves that request always. Although the service is a

[2019-08-06 09:39] ToMakeSense opened #36560 "The OMS blade in Azure portal can't operation as the description in section "Install Logic Apps Management solution""
On the Overview page, choose Add, it redirects to Marketplace not the "Management Solutions list".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94d337ae-4a55-2e0b-7002-afef3c78ba57
* Version Independent ID: a56115e8-5f2e-9d66-2d20-13ce02406208
* Content: [Monitor logic apps with Azure Monitor logs - Azure Logic Apps]

[2019-08-06 09:57] ManojReddy-MSFT commented on #36527
@toddjohnson39 Thanks for reporting this. You are correct. Users should be in a disabled state. I am updating the script accordingly.

[2019-08-06 10:01] KalyanChanumolu-MSFT commented on #36193
@smartczh Could you please elaborate your issue.
WHen you say Data Ingestion settings, is this the screen that you are referring to?

![image](https://user-images.githubusercontent.com/8835012/62530619-863b9880-b85e-11e9-9017-d4004bf9d411.png)

[2019-08-06 10:06] lukepuplett opened #36561 "Contradiction about Geo-DR and SKUs"
"The Geo-disaster recovery feature is globally available for both Event Hubs Standard and Dedicated SKU"

Then later says:

"Note that the Geo-disaster recovery feature is available for the Standard SKU only"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 863a845f-4b06-126e-3cd3-88875fadf8e4
* Version Independent ID: 2

[2019-08-06 10:17] PramodValavala-MSFT commented on #36528
@xieb0001 The code sample [here](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-dotnet-get-started-with-queues#receive-messages-from-the-queue) is for the same library that you are using.

The sample here showcases how to use the Message Pump which takes a message handler function, essentially wrapping the [`MessageReceiver.ReceiveAsync`](https://docs.microsoft.com/en-us/

[2019-08-06 10:21] PramodValavala-MSFT commented on #36413
@mhabibal13 Another optimization is to have your senders use the [Send Message Batch HTTP API](https://docs.microsoft.com/en-us/rest/api/servicebus/send-message-batch) instead and allow for more concurrent receivers over AMQP.

[2019-08-06 10:23] ChiragMishra-MSFT commented on #36561
@lukepuplett Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-08-06 10:24] SubhashVasarapu-MSFT commented on #36127
@surajmb, Could you please provide your insights on this?

[2019-08-06 10:35] PramodValavala-MSFT commented on #36560
@ToMakeSense Thanks for catching that! The UI has changed since but you should still be able to search for and find the `Logic Apps Management (Preview)` solution in the marketplace instead.

We are assigning this issue to the content author for further review and to update the doc accordingly.

[2019-08-06 10:37] xenalite opened #36562 "HTTPS Health probes with custom certificates"
When health probes are sent over HTTPS, does the backend need to respond with a certificate signed by a public CA?
What about self-signed certificates or certificates signed by a private CA?
Application Gateway v2 allows you to upload root trusted certificates for backend, but Front Door doesn't seem to.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-08-06 10:37] ChiragMishra-MSFT commented on #36561
@lukepuplett I am assigning this issue to the content owner to review and update the doc as appropriate.

@ShubhaVijayasarathy Can you please take a look at this one?

[2019-08-06 10:42] sebhe commented on #36491
Hi,
the windows looks totally different for us, see below. Is it maybe dependent on the source of the user account? Ours are mainly accounts that are synced from on-premise AD.

![image](https://user-images.githubusercontent.com/49480455/62533675-8c724a80-b847-11e9-9b02-81639dddd766.png)

[2019-08-06 10:51] theheatDK opened #36563 "Azure Monitor and Log analytics workspace?"
Hi,
In this article this is stated:
"Azure Monitor stores log data in a Log Analytics workspace"
When you create a subscription it does not have any Log Analytics workspaces. At least none that the user can see. Activity logs and metrics are from the beginning stored somewhere internal for 90 days. If you need to store them for more than 90 days you can create a log analytics workspace and configu

[2019-08-06 10:53] lukepuplett commented on #36561
Thanks for rapid response :)

[2019-08-06 10:56] allyreilly opened #36564 "Misleading text and link regarding IP whitelisting"
The IP rules section claims "You can salvage the IP option by obtaining a static IP address for your VM. For details, see Configure private IP addresses for a virtual machine by using the Azure portal." I believe this to be incorrect as the private IP address can not be whitelisted.

https://docs.microsoft.com/en-us/azure/sql-database/sql-database-vnet-service-endpoint-rule-overview#b-ip-rules

--

[2019-08-06 11:03] ashwini-git opened #36565 "ACI gpu deployment fails with warning "One or more of the containers are in waiting state , and may not be running""
Container details : Tensorflow serving container with ML model in it , available at ACR.
Its a standard serving container , no changes made were made except copying ML model into it.

GPU enabled deployment throws warning as "One or more of the containers are in waiting state , and may not be running" . Followed Azure portal ACI instructions to create it.

CPU version of same container runs perfec

[2019-08-06 11:07] cowinr commented on #36442
thanks for the reply. i figured out what happened.

I opened the code in Visual Studio to have a look before running it. When this happens VS creates a file called Properties/launchSettings.json that sets `"applicationUrl": "http://localhost:49798/"` or some other port number.

Then when running you get:
[code]

Not helpful.

[2019-08-06 11:08] SwathiDhanwada-MSFT commented on #36357
@whaakman yes your understanding related to change api is indeed correct. Here is my inference of it.
1) When a resource (R) is moved from one resource group (A) to another resource group (B) ,
all the past activity log related to it is stored in the RG (A) from which it is moved.Even after moving the resource, the activity log or change history can be  found with the old RG (A).
2) All the new ch

[2019-08-06 11:16] AjayKumar-MSFT commented on #36547
@dcbrown16, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2019-08-06 11:27] saeedeldah opened #36566 "xyz"
very bad documentation and example.

I've been trying for 5 days to implement a simple code to delete a letter from the dead letter queue but I couldn't.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9c35042-f064-0f34-8d16-ad40e829ca39
* Version Independent ID: 19d4a83e-55c8-8b9c-38a0-0e9a26ba2cdb
* Content: [Service

[2019-08-06 11:40] xiongyu0523 opened #36567 "Is 'Root CA certificate' description in article correct?"
On Portal, enrollment group has two options: 'CA certificate' or 'Intermediate Certificate'. Are you mapping 'Root CA certificate' to 'CA certificate' in this article? Usually 'Root CA certificate' is self-signed but here I think it is refer to the certificate that user upload and verified on DPS Portal. Can we call it a 'Root certificate' since it might be signed by other CA (may be it is purchas

[2019-08-06 11:51] msrini-MSFT commented on #36562
@xenalite , Thank you for posting here. We will investigate and get back to you.

[2019-08-06 11:53] manishgonsalves opened #36568 "Enabling diagnostics PowerShell example script should have Set-AzStorageServiceLoggingProperty"
$storageAccount = Get-AzStorageAccount -ResourceGroupName &lt;resourceGroup&gt; -Name &lt;storageAccountName&gt;

Set-AzStorageServiceLoggingProperty -Context $storageAccount.Context -ServiceType Blob -LoggingOperations read,write,delete -RetentionDays &lt;days&gt;.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46d15a

[2019-08-06 11:53] surajmb commented on #36127
@ps-tb Thanks for the feedback. In ILB ASE, the users have an option to configure their own ILB certificates, hence this article was written in a generic sense. The ILB has to be accessed on https (not necessarily 443, it depends on your configuration).

After May 2019, ASE uses a default cert with CN of *.appserviceenvironment.net, refer: https://docs.microsoft.com/en-us/azure/app-service/environ

[2019-08-06 12:08] jakaruna-MSFT commented on #36460
@torchy-newman Tried with ubuntu 18.04. I didnt work . Some packages which are mentioned as dependencies are not available in 18.04.
Later found that the service fabric package is not available for 18.04.
https://apt-mo.trafficmanager.net/repos/servicefabric/dists/

I will submit a PR to modify the azul repos so that it works well for 16.04.

Please try with Ubuntu 16.04 and let me know.

[2019-08-06 12:24] SumanthMarigowda-MSFT commented on #36568
@manishgonsalves Thanks for your question. We are checking on this and will respond to you soon.

[2019-08-06 12:25] AjayKumar-MSFT commented on #36546
@gpj1, The workers are the resources that host your apps. Just to highlight, An ASE is composed of front ends and workers. Front ends are responsible for HTTP/HTTPS termination and automatic load balancing of app requests within an ASE. Front ends are automatically added as the App Service plans in the ASE are scaled out.

Workers are roles that host customer apps. Workers are available in three f

[2019-08-06 12:30] jfayatkim opened #36569 "When will Portal correctly indicate whether the function is disabled or enabled?"
This page currently says "Also, note that the portal may indicate the function is disabled when it isn't."
When will this be fixed in the Portal?
We have a precompiled V2 function app with the appsettings set to disable most of the functions and the logs show that they are disabled, but they still display as Enabled in the Portal which is very confusing.

---
#### Document Details

⚠ *Do not edit

[2019-08-06 13:17] franzoir opened #36571 "Add information about "UserErrorFsFreezeFailed""
It could be valuable information for others that "tune2fs -l /dev/sda15 | grep "Filesystem state" " won't work on the EFI partition since tune2fs only works for ext2,3,4

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f030558-66a5-d963-54a2-3f71643c5ef0
* Version Independent ID: 2cdf6775-5ee9-83b6-3a1b-b87a682c1b1c
* C

[2019-08-06 13:33] artisticcheese opened #36572 "How do you setup alerts on metrics without using classic alerts?"
Hello,

It seems to me that the only way to setup alerting on metric values (HTTP 429 etc) is to use classic alerts. There is no integration with modern alerts. What is guidelines for using metrics and alerting without classic alerts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4535fb42-55f9-4d8c-52d2-30b5eb0ef726
*

[2019-08-06 13:37] LHTech-Analytics opened #36574 "Getting BES to work in ADF UI"
Trying (For the last 2 days) to run a ML Batch Execution activity in latest version of ADF in a pipeline. I'm finding that the interface is pretty non intuitive and it's far from clear what I need to do. I've been referencing the only docs I can find that relate to carrying out this specific task:

https://docs.microsoft.com/en-us/azure/data-factory/transform-data-using-machine-learning

But it ju

[2019-08-06 13:38] #36566 closed

[2019-08-06 13:41] saeedeldah opened #36575 "Delete/Clear Dead letter queue .Net Core"
the current example is not working on .net core and there is no example for .net core

the following core is not working on .net core application
`
using Microsoft.ServiceBus;
using Microsoft.ServiceBus.Messaging;
using System;

namespace ServiceBus.DotNet4
{
    class Program
    {
        public static void ClearDeadLetterQueue()
        {
            var connectionString = "connection string";

[2019-08-06 13:42] saeedeldah opened #36576 "Delete/Clear Dead letter queue .Net Core"
`using Microsoft.ServiceBus;
using Microsoft.ServiceBus.Messaging;
using System;

namespace ServiceBus.DotNet4
{
class Program
{
public static void ClearDeadLetterQueue()
{
var connectionString = "connection string";
var queueName = "&lt;queue name&gt;";
ServiceBusConnectionStringBuilder builder = new ServiceBusConnectionStringBuilder(connectionString);
MessagingFactory factory = MessagingFactory.

[2019-08-06 13:43] #36575 closed

[2019-08-06 13:43] LHTech-Analytics commented on #36574
This is the JSON produce by the ADF UI after I step through creating the BES activity:

{
    "name": "pipeline1",
    "properties": {
        "activities": [
            {
                "name": "ML Batch Execution1",
                "type": "AzureMLBatchExecution",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retr

[2019-08-06 13:44] #36576 closed

[2019-08-06 13:46] LHTech-Analytics commented on #36574
Also, noticing that when I import data from blob storage, it sets the type of all the fields to String. With a copy data or data flow acitivity, I have the option to change the data type but in the ML BES activity, I don't have the option to change this which is the only reason I can think that I may be getting the error relating to invalid service inputs.

My input dataset has all the same attrib

[2019-08-06 13:46] saeedeldah opened #36577 "Delete/Clear Dead letter queue .Net Core"
The following code is not working on .net core 2.1+
and there is no sample or any documentation that support .net core

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9c35042-f064-0f34-8d16-ad40e829ca39
* Version Independent ID: 19d4a83e-55c8-8b9c-38a0-0e9a26ba2cdb
* Content: [Service Bus dead-letter queues](ht

[2019-08-06 13:49] SubhashVasarapu-MSFT commented on #36127
@ps-tb, We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-08-06 13:49] #36127 closed

[2019-08-06 13:51] TheBluLion commented on #36526
Thanks- the setting will take a name-value pair or $setting['ClassificationList']

﻿ -﻿ --
Eu Nice Loh
Premier Field Engineer
Office: (314) 872 5916
EuNice.Loh@microsoft.com<mailto:EuNice.Loh@microsoft.com>
IM:euloh@microsoft.com
8AM-5PM CT
[Microsoft]
﻿
If you have any feedback about my work, please let either me or my manager Annele Richards know at Annele.Richards@microsoft.com<mailto:Annele.Ri

[2019-08-06 13:53] PramodValavala-MSFT commented on #36577
@saeedeldah Thanks for your query! We will investigate and get back to you on this.

[2019-08-06 13:55] PramodValavala-MSFT commented on #36569
@jfayatkim Thanks for the feedback! We will investigate and get back to you on this.

[2019-08-06 13:56] PramodValavala-MSFT commented on #36550
@dvherk Thanks for your query! We will investigate and get back to you on this.

[2019-08-06 13:57] bwren commented on #36241
Oops, obviously a mistake.  Just put in a fix.

[2019-08-06 13:57] bwren commented on #36241
#please-close

[2019-08-06 13:57] #36241 closed

[2019-08-06 14:16] crmhh opened #36579 "Migrating Source Anchor - Existing Deployment"
In the section How to enable the ConsistencyGuid feature you say:
"Currently, the feature can only be enabled during new Azure AD Connect installation only."
I think this is wrong because in the section How to enable the ConsistencyGuid feature - Existing deployment you say:
"If you have an existing Azure AD Connect deployment which is using objectGUID as the Source Anchor attribute, you can switc

[2019-08-06 14:17] NavtejSaini-MSFT commented on #36558
@masashioms Thanks for the question. We are looking into it and will get back to you regarding the same.

[2019-08-06 14:19] NavtejSaini-MSFT commented on #36559
@masashioms Thanks for the question and we will get back to you regarding the same.

[2019-08-06 14:20] NavtejSaini-MSFT commented on #36564
@allyreilly Thanks for the feedback. We are looking into this and will get back to you.

[2019-08-06 14:20] KalyanChanumolu-MSFT commented on #36541
@skmkzyk We are actively investigating and will get back to you soon.

[2019-08-06 14:21] asubmani opened #36580 "Using ASE (AppService) cannot be a best practice for AKS"
In the section "Remove Service state from Containers"; there is a guideline to build portable applications. This contains a link named "Run a web application in multiple Azure regions" which points to Azure App Service Documentation. This seems to be a careless doc bug mistake, please remove this as it is distracting and encourages FUD.

---
#### Document Details

⚠ *Do not edit this section. It i

[2019-08-06 14:22] NavtejSaini-MSFT commented on #36572
@artisticcheese Thanks for the question. We are looking into to it and will get back to you.

[2019-08-06 14:25] Yegmorcar commented on #36448
The lines 3 and 4 are responses when sending the request, I cannot modify it. (I'll be honest, I'm extremely novice when it comes to REST API, so I don't even know if I'm doing it right.) It's also odd that it's sending the response in HTML instead of JSON.

[2019-08-06 14:30] IEvangelist commented on #36498
#please-close

[2019-08-06 14:30] #36498 closed

[2019-08-06 14:33] Yegmorcar commented on #36448
Ok, I was somehow able to get a Azure AD token now after removing and reapplying the value of the AzureADSTSEndpoint variable. A bit of an odd bug. But everything is working fine now!

[2019-08-06 14:45] MicahMcKittrick-MSFT commented on #11164
We have updated this document so I am closing out the issue.

As per the option to increase total regional CPUs that work is still being considered. Please upvote the uservoice feedback item here:

https://feedback.azure.com/forums/216843-virtual-machines/suggestions/32954668-total-and-regional-and-vcpu

[2019-08-06 14:45] #11164 closed

[2019-08-06 14:49] MicahMcKittrick-MSFT commented on #36580
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-06 14:54] MicahMcKittrick-MSFT commented on #36505
@wendellh3 I had an offline sync with @BryanTrach-MSFT and we think it would be best to get you in touch with technical support to get this sorted out further.

If you don't have the ability to open a technical support ticket, you can email me at AzCommunity@microsoft.com and provide me with your SubscriptionID and link to this issue. I can then enable your subscription for a free support request.

[2019-08-06 14:54] #36505 closed

[2019-08-06 14:56] GlenQu opened #36581 "403 Unauthorized Patient Postman Tutorial"
I have been following the tutorial here: https://docs.microsoft.com/en-gb/azure/healthcare-apis/access-fhir-postman-tutorial

I have set up the OSS version of FHIR.

I seem to be able to successfully get a token via postman however when I query the /Patient endpoint I get an 403 error.

{
    "resourceType": "OperationOutcome",
    "id": "18b62608-e7ee-4b67-86db-7d5f3f8e7854",
    "issue": [

[2019-08-06 14:57] SubhashVasarapu-MSFT commented on #36429
@olandese, The Document has been edited accordingly and been updated with the actual values in the parameters. It will take some time to get updated.Thanks for your valuable feedback.
We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-08-06 14:57] #36429 closed

[2019-08-06 14:58] MicahMcKittrick-MSFT commented on #36565
@ashwini-git please share the link to the documentation you are following so we can better assist.

[2019-08-06 14:58] joaomaltez opened #36582 "SCIM API exposed on the Azure AD side?"
The article describes how to provision users and groups from the Azure AD to other applications. What about the opposite direction?
Is there an equivalent SCIM API but on the AD side, in case another SaaS or on-premises application needs to make changes in the AD?
Thanks in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-08-06 15:02] jonathaneckman opened #36583 "Where are Composite Resources installed?"
The [DSC composite resource reference documentation](https://docs.microsoft.com/en-us/powershell/dsc/authoringresourcecomposite) states that the composite module must exist in the PSModulePath. When I successfully run a configuration from Azure Automation pull server, I am not able to find the module under any of the paths in `$env:PSModulePath`. I also cannot find the module with `Get-Module -Lis

[2019-08-06 15:08] bachoang commented on #36367
@MarileeTurscak-MSFT - I am familiar with that GitHub sample.  I am looking for what format we support for this protocol.  There is a customer's case that has different request format and they get un-parsable ws fed message.  We need to know if what they are using is correct and whether Azure AD supports it.  We should document something similar to the SAML flow:  https://docs.microsoft.com/en-us/

[2019-08-06 15:08] j-martens commented on #34150
Thanks for reporting this. As new functionality is expected soon, we'll proceed to #please-close this thread. Thanks!

[2019-08-06 15:08] #34150 closed

[2019-08-06 15:11] hansenms commented on #36581
Please verify that the object id (token claim `oid`) is in the list of allowed object ids for the service:

More information here:

https://docs.microsoft.com/en-us/azure/healthcare-apis/find-identity-object-ids

[2019-08-06 15:11] TiNovTec opened #36585 "No Android Studio needed!"
You don't need Android Studio to create this app. The only thing I additionally needed is a USB driver from the smartphone manufacturer to connect the smartphone to the PC/Unity.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a093486f-cd54-d060-ccca-3f6067fbd7f5
* Version Independent ID: 2e3beef3-2788-a1c7-803b-beadea7

[2019-08-06 15:15] LHTech-Analytics commented on #36574
@MicahMcKittrick-MSFT, can you provide any guidance? How am I supposed to obtain support when I find myself in scenarios like this? I'm completely stuck and have been for 2 days now :(

[2019-08-06 15:15] vboyev-MSFT commented on #36246
Sorry for the delayed response. Thank you for your efforts, Krishnag.  The link I was providing feedback to specifically was the ASC onboarding docs https://docs.microsoft.com/en-us/azure/azure-monitor/platform/agent-windows#install-the-agent-using-the-command-line

I work with many customers that have thousands of servers and they come to this page to onboard ASC - which is also the link the MDAT

[2019-08-06 15:17] GlenQu commented on #36581
Thanks for your response.  Is this true for the open source version? it was my understanding this just applied to the Fully Managed Azure API for FHIR®.

[2019-08-06 15:19] hansenms commented on #36581
In the OSS server, you need to make sure that you have the right app roles. You have to configure which roles have which privileges and then ensure that your user or service principal has those app roles.

[2019-08-06 15:22] ashwini-git commented on #36565
@MicahMcKittrick-MSFT
i followed azure portal https://docs.microsoft.com/en-us/azure/container-instances/container-instances-quickstart-portal   documentation to create container instance .

ACI parameter used - OS Type = Linux , Port =8501 , cpu core =4 , memory =8 , gpu type = K80,gpu core=1
My container (Tensorflow serving image with My ML model) exposed at 8501 port.

[2019-08-06 15:30] LHTech-Analytics commented on #36574
@MicahMcKittrick-MSFT Was hoping [this tutorial](https://channel9.msdn.com/Series/Operationalizing-Solutions-with-Azure-Data-Factory/Operationalizing-Solutions-with-Azure-Data-Factory-Session-7-Call-Azure-ML-from-ADF?term=data%20factory%20ML%20BES&lang-en=true) would show the way but the trainers interface is different from mine and he creates all his pipeline elements using JSON only. The visual

[2019-08-06 15:31] Sanitys opened #36586 "Command not found"
PS Azure:\&gt; $pip.DnsSettings.ReverseFqdn = "removed"
The property 'ReverseFqdn' cannot be found on this object. Verify that the property exists and can be set.
At line:1 char:1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61fbc38e-8756-1ce6-e73d-38bbe2a47a5b
* Version Independent ID: f067d6bb-93b3-19ef-0b58-c58938

[2019-08-06 15:33] cephalin commented on #29337
@SheldonHage Thanks for your feedback. The ideal situation would be to write a Visual Studio tutorial. We'll consider how to explain the transition between VS and CLI (the reasoning really is a practical one, because the Linux .NET Core quickstart also uses CLI, and we want to minimize maintenance cost by not having a separate VS-based tutorial for Windows).

In the meantime, I've added some expla

[2019-08-06 15:33] #29337 closed

[2019-08-06 15:33] SumanthMarigowda-MSFT commented on #36294
@squasta I think we can say that the DHL website link has just changed. And the portal links may or may not work. We are waiting to update those links and once updated, we will update the document as well.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-06 15:33] #36294 closed

[2019-08-06 15:34] wendellh3 commented on #36505
@MicahMcKittrick-MSFT , I sent an email to the address above.

[2019-08-06 15:36] SumanthMarigowda-MSFT commented on #36299
@Sam-SFO Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.
So,  the local computer can be used as a source or a destination

azcopy cp "C:/my/file/path" "https://mystorageaccount.blob.core.windows.net/mycontainer"
Local computer is on-prem
We will now proceed to close this thread. If there are further questions regarding this matter, please tag m

[2019-08-06 15:36] #36299 closed

[2019-08-06 15:38] LHTech-Analytics commented on #36574
You don't have permission to create a support request
To get permission, ask your subscription administrator or owner to assign you ‘Support Request Contributor’ role for the selected subscription. Learn more about role assignments in the portal.

Brilliant

[2019-08-06 15:41] KranthiPakala-MSFT commented on #36399
@Johannes-Vink A new file has been placed in .Net Framework folder. Could you please have another try and let us know how it goes.

![image](https://user-images.githubusercontent.com/50185738/62554428-f37f0780-b825-11e9-90cc-bf5eb68d88b4.png)

[2019-08-06 16:01] craigktreasure commented on #36585
Hmmm...interesting. There was certainly a time where this quickstart required Android Studio, but it is possible that it might not be required anymore. What worries me is asking everyone to go find a driver from their device manufacturer. Can you tell me more about that? Does Android Studio install the drivers for you or are you aware of devices that always require an additional driver?

[2019-08-06 16:01] vimal4us opened #36587 "Classic Alert Migration got stuck"
Classic Alert Migration got stuck in endless loop. Is there a way to abort and re-trigger migration?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1161a9ce-36c1-0b24-ad09-f9fdce446350
* Version Independent ID: 58291b17-ed20-05c5-b4f4-6830b7d18f08
* Content: [Understand how the voluntary migration tool works for Azure

[2019-08-06 16:06] msrini-MSFT commented on #36586
@Sanitys , Thank you for posting here. I will take a look and get back to you shortly.

[2019-08-06 16:09] adamosoftware commented on #31480
I'm currently struggling with getting Azure Functions to use the connection string configured in the Azure portal. (It's using the appSettings.json one instead, which is for my local db.) I found this page today, and it looked relevant, but then I saw that the instructions don't align with the VS2019 publish experience, and the Azure portal has changed some as the original commenter noted. Would b

[2019-08-06 16:10] cwbuege commented on #34983
Is there any ETA on this fix?  Not being able to do an online migration with the GEOGRAPHY data type is a serious problem for us and is now holding up our migration into Azure SQL DB.

[2019-08-06 16:10] DCtheGeek commented on #36357
@whaakman Confirming with the team and will get back shortly.  Thanks!

@MicrosoftDocs/azure-cxp-triage #in-progress

[2019-08-06 16:10] SpicySyntax opened #36588 "Forgot instructions for deleting cert-manager namespace"
In the section on cleaning up resources, there is no mention of the deleting the cert-manager namespace

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada58160-dc50-b977-d3bc-65f92406e16d
* Version Independent ID: 5c596e04-fddb-effe-3b72-575f4df42d4e
* Content: [Create an HTTPS ingress with Azure Kubernetes Ser

[2019-08-06 16:14] Karishma-Tiwari-MSFT commented on #36588
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-06 16:17] cephalin commented on #36312
@tfitzmac I'm not aware of any changes to the behavior.

[2019-08-06 16:18] vimal4us commented on #36587
FYI, I do see a error that resource locks need to be removed. However the migration itself got stuck and there is no way to retrigger as suggested in https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-understand-migration#common-problems-and-remedies

[2019-08-06 16:18] CarlRabeler commented on #36034
@stevestein for awareness and discussion

[2019-08-06 16:19] HJToland3 commented on #34983
@cwbuege, I don't have a specific ETA for this. I'd suggest reaching out to the Azure DMS Feedback (dmsfeedback@microsoft.com) alias for more information about a timeline.  Thanks!

[2019-08-06 16:21] HJToland3 commented on #34983
@cwbuege, I see you just posted to the Ask Azure Database Migrations <AskAzureDatabaseMigrations@service.microsoft.com> alias - That works just as well!  Thank you!

[2019-08-06 16:21] NavtejSaini-MSFT commented on #36572
@artisticcheese The Classic Monitoring is already set for retirement by end of August 2019. Azure is moving to Unified Monitoring and alerts. The below article explains the same:
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/monitoring-classic-retirement

If you already have some classic monitoring in place, please use the migration tool to move to the unified alert system. Below a

[2019-08-06 16:28] TiNovTec commented on #36585
Android Studio offers the possibility to install the "Google USB drivers" relatively easy. But it doesn't do the job in all cases.
I'd simply tell the developers that they need a mobile USB driver to properly connect their smartphone to Unity, to use the Build & Run option or to debug with the Monitor.exe ( logcat ). They can get it here: https://developer.android.com/studio/run/win-usb
And if thi

[2019-08-06 16:30] NavtejSaini-MSFT commented on #36564
@oslake Please add the clarification needed in this regard to the document. Or elaborate the document itself.

[2019-08-06 16:32] FrankHu-MSFT commented on #36473
Hey @cktechative  unfortunately I don't believe we have any docs on MFA-NPS RDS-GW HA. I apologize for the inconvenience.

I suggest filing a uservoice request here : https://feedback.azure.com/forums/34192--general-feedback and if there's enough support we will look into it. I apologize fro the inconvenience.

You could utilize this doc to perform the MFA-NPS RDS integration GW on HA. However, kn

[2019-08-06 16:33] alex-frankel commented on #36533
@dancs85 Can you share the artifact JSON file you are using? And how are you pushing the blueprint + artifact files to ARM?

By default the Import-AzBlueprintWithArtifacts cmdlet uses the filename as the artifact resource name. It should take the "Name" property in the artifact json if you specified it, so if it is skipping that it may be a bug.

[2019-08-06 16:35] artisticcheese commented on #36572
You might have misunderstood my questions. There is NO metric alerts available for ComosDB for example for HTTP 429 in modern alerts. The only way to get alerted on those condition is to create classic alert. So how do you alert on HTTP 429 without classic alerts?

[2019-08-06 16:37] msrini-MSFT commented on #36562
@xenalite , Please find the answers inline:

1.	When health probes are sent over HTTPS, does the backend need to respond with a certificate signed by a public CA?
 Yes, AFD will expect a signed certificate.
2.	What about self-signed certificates or certificates signed by a private CA?
 Should be fine with a private CA, however self-signed certs are not allowed.
3.	Application Gateway v2 allows you

[2019-08-06 16:37] DCtheGeek commented on #36533
#assign:DCtheGeek

[2019-08-06 16:37] DCtheGeek commented on #36533
#assign:alex-frankel

[2019-08-06 16:38] DCtheGeek commented on #36533
@MicrosoftDocs/azure-cxp-triage #in-progress

[2019-08-06 16:38] bwren commented on #36551
@theheatDK Your understsanding is correct.  We show this in [Data Sources](https://review.docs.microsoft.com/azure/azure-monitor/platform/data-sources?branch=pr-en-us-79736#azure-resources) where we show that the Activity Log is kept in its own store where you can look at them in the portal but not much else. To take advantage of Azure Monitor features like log queries, you need to collect them in

[2019-08-06 16:39] bwren commented on #36551
#please-close

[2019-08-06 16:39] #36551 closed

[2019-08-06 16:42] cephalin commented on #29319
@krishnasingh1818 I just tested this in VS 2019 with the latest updates and it doesn't appear that 2.1 supports this property still. I don't know why the .NET Core doc says that it's supported but I've been told by .NET Core engineers in the past they would not add the property to <2.2.

#please-close

[2019-08-06 16:42] #29319 closed

[2019-08-06 16:47] femsulu commented on #36563
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-08-06 16:49] femsulu commented on #36571
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-08-06 16:50] femsulu commented on #36583
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-08-06 16:50] YutongTie-MSFT commented on #36329
@nathananderson94 Hi, sorry for the late response. We'd like to live troubleshooting with you. Do you have a support plan so you can create a support ticket? If not, please send us an email at Azcommunity@microsoft.com with your Azure subscription ID and URL of this thread for help.
Thank you very much.
We will now proceed to close this thread. If there are further questions regarding this matter,

[2019-08-06 16:50] #36329 closed

[2019-08-06 16:52] femsulu commented on #36587
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-08-06 16:53] MicahMcKittrick-MSFT commented on #36574
@LHTech-Analytics this will get assigned to one of our engineers who work with data-factory sometime today. That being said, the purpose of this repo is to resolve documentation issues. So if this issue is outside of a doc issue, we will request you either reach out to the MSDN or Stack Overflow community or open a technical support request. As per the support request, if your subscription is mana

[2019-08-06 16:54] abezverkov commented on #19600
OK ... Why is it that, as of today (and all this year), I am able to load tSQLt FROM BINARY?  I only came across this thread today trying to figure out why I could not load my library that I just built, but I have been able to load the tSQLt library all year.   What makes that one special?  And can I do the same to mine?

[2019-08-06 16:56] tomecho opened #36591 "Azure function continuous deployment documentation is confusing"
https://docs.microsoft.com/en-us/azure/azure-functions/functions-continuous-deployment#requirements-for-continuous-deployment

Suggested folder structure does not allow deployment to azure.  When I created a project and organized it as suggested in the doc it failed to deploy

![image](https://user-images.githubusercontent.com/2114323/62559489-1cfd5a80-b849-11e9-854a-ca0ac39eca0a.png)

![image](ht

[2019-08-06 16:58] stevestein commented on #36564
#reassign:rohitnayakmsft

[2019-08-06 16:58] maximnix opened #36592 "AAD logon failing due to PAM configuration file - SUSE 12 SP4"
I get an issue trying to use this on SUSE 12 SP4 at least. The issue may be on other distros....removed IPs and usernames from the output
Client Side:
user@Azure:~$ ssh -l user@somedomain.com X.X.X.X
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code AMBSXAQS7 to authenticate. Press ENTER when ready.
user@somedomain.com@X.X.X.X's password:
Permissio

[2019-08-06 17:00] pamcdo commented on #35203
@notjjsb are you syncing your computers ou to azure ad as well?

In a federated scenario the device details are passed via the claims inserted in to the O365 RPT so the objectGUID and objectSID are passed via ADFS when your SCP or registration endpoint is a federated domain.

If you utilize the onmicrosoft.com tenant name you need to have the computer objects synced from on-prem so that informatio

[2019-08-06 17:01] bwren commented on #25175
I'll pass along that feedback.  For now, I'm going to close the issue since I think we've answered it in the documentation.

[2019-08-06 17:02] bwren commented on #25175
#please-close

[2019-08-06 17:02] NancyZamora commented on #36415
Thank you

﻿Best regards,

Nancy Zamora G
Support Engineer – Azure Identity Management – CSS – Microsoft
Working hours: Mon-Fri 10:30am – 7:30pm CST (UTC-6)
Office: +506 4116 1069

Alternate contacts:
Backup Engineer  | Alejandro Azofeifa | Alejandro.Azofeifa@microsoft.com | 7:30 am – 4:30 pm CST
Technical Advisor | Patrick Dougherty | padoughe@microsoft.com
Technical Advisor | Bill Safcik | bsafc

[2019-08-06 17:02] #25175 closed

[2019-08-06 17:04] SumanthMarigowda-MSFT commented on #36273
@MoRMongol  Just for clarification have tried this suggestion  can create a Stored Access Policy for an entire container, file share, table, or queue. Then you can use this as the basis for the SAS URIs you create. Permissions based on Stored Access Policies can be easily revoked. You can have up to five policies defined on each container, queue, table, or file share.

For example, if you were goi

[2019-08-06 17:04] rimman commented on #36536
#please-close

[2019-08-06 17:04] #36536 closed

[2019-08-06 17:06] jennyhunter-msft commented on #36357
Thanks for your feedback. Your assessment is correct. Today we do not track resource moves. If this is something you are interested in, please vote for this item on our [UserVoice page](https://feedback.azure.com/forums/915958-azure-governance/suggestions/38317456-resource-changes-track-resource-move).

[2019-08-06 17:11] AjayKumar-MSFT commented on #36441
@bizinbarefeet, Thanks for the response. Just to highlight, Azure Advisor provides you with a consistent, consolidated view of recommendations for all your Azure resources (_based on your configurations_). It integrates with Azure Security Center to bring you security recommendations. You can also get security recommendations directly from the Security tab on the Advisor dashboard.

From the Advis

[2019-08-06 17:12] DCtheGeek commented on #36357
@whaakman Thanks again for the feedback!  We'll go ahead and close this issue now.

@MicrosoftDocs/azure-cxp-triage #please-close

[2019-08-06 17:12] #36357 closed

[2019-08-06 17:12] msrini-MSFT commented on #36586
@Sanitys , yes the property does exist. Please check the below result.

PS C:\Users\msrini>
$pip = Get-AzPublicIpAddress -Name "VM1-ip" -ResourceGroupName "msrini-Networking"
$pip.DnsSettings.ReverseFqdn

PS C:\Users\msrini> $pip

Name                     : VM1-ip
ResourceGroupName        : msrini-Networking
Location                 : centralus
Id                       : XXXXXX
Etag

[2019-08-06 17:16] AjayKumar-MSFT commented on #36442
@cowinr, Glad to know that you have figured out the issue and thanks for sharing the steps that helped, it would benefit other users with a similar issue. Kindly let us know if you need any further assistance with this issue.

[2019-08-06 17:19] kanshiG commented on #36572
ArtisticCheese - In Azure monitor you need to add status = 429 via the filter. https://docs.microsoft.com/en-us/azure/cosmos-db/cosmos-db-azure-monitor-metrics#add-filters-to-metrics

If you need we can get on call for 5 mins.

[2019-08-06 17:19] LHTech-Analytics commented on #36574
@MicahMcKittrick-MSFT as per my previous comment, I am not allowed to raise a support request as I do not have permissions. This is an issue with documentation as I have explained in great detail above. There is a link in the ADF UI app that links to [this page](http://azure.microsoft.com/en-us/documentation/articles/python-how-to-install/) but the page just has a load of JSON snippets and mention

[2019-08-06 17:20] LHTech-Analytics commented on #36574
![InterfaceWithDocsLink](https://user-images.githubusercontent.com/42703480/62561350-e9d1c000-b876-11e9-8b7b-37b97210e7f2.PNG)

[2019-08-06 17:22] LHTech-Analytics commented on #36574
This is the visual interface I'm working with. As you can see, it does not involve writing raw JSON, it instead prompts you to go through the wizard style steps to specify inputs and outputs. This generates JSON but as I have explained many times now, the format of the produced JSON does not match the format in the documentation article that is linked to from here.

[2019-08-06 17:24] mrbullwinkle commented on #35555
@jlorich thank you for bringing this to our attention. The H1 has been updated for this article.

[2019-08-06 17:24] mrbullwinkle commented on #35555
#please-close

[2019-08-06 17:24] #35555 closed

[2019-08-06 17:25] artisticcheese commented on #36572
Found it. Was pretty well hidden. For anybody else having the same issue.
![image](https://user-images.githubusercontent.com/13176884/62561673-4916dc80-b845-11e9-8cd2-e24eaec130e1.png)

[2019-08-06 17:25] #36572 closed

[2019-08-06 17:26] LHTech-Analytics commented on #36574
Again, the error I get is:

{
"errorCode": "2600",
"message": "Batch Execution failed. The response from the Machine Learning service at endpoint https://europewest.services.azureml.net/workspaces/3b558adebdec45bb921d258fc00bde83/services/93726a7d7ae3464e842cb3814c0f27a0/jobs was 'Invalid argument provided. Invalid service input name(s) specified in the request: RemovedKey. Please map the input da

[2019-08-06 17:28] SnehaGunda commented on #36535
@seanalexander hope Aravind's response is helpful, he also submitted some updates to the doc to clarify the scenario. Commit: https://github.com/MicrosoftDocs/azure-docs/commit/02b5d14b427a599f332b9a2e20a324d842d46886#diff-dead451fa45a1c02673aef5647da2187

We will close this issue if there aren't further questions.

#please-close

[2019-08-06 17:28] #36535 closed

[2019-08-06 17:29] mabushaireh opened #36593 "Windows Server 2019 support status"
Hello Team,
If windows Server 2019 is not supported yet. can you please update the documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db47901d-1664-058d-9407-47e932dc9661
* Version Independent ID: e90ec9ee-e7da-4f19-248f-4c825aaa8b9f
* Content: [Update Management solution in Azure](https://docs.microsoft.com

[2019-08-06 17:29] MicahMcKittrick-MSFT commented on #36574
Thanks for all the details. Again, I don't work on data-factory but am part of the community docs team. I simply added the correct tag to this issue so we can route it correctly. One of our engineers will investigate and get back to you.

[2019-08-06 17:32] leizerbeam opened #36594 "Oracle DB support"
The preceding link mentions Oracle DB is supported, however this page has no details around this.  Can this be clarified?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2eca019-3dc3-a07a-3ff5-a3b67eb437b0
* Version Independent ID: 68aa4031-bcb2-500e-764a-71b274d4baad
* Content: [What workloads can you protect with Azu

[2019-08-06 17:33] gfrankel1997 opened #36595 "How and when does AKS check for pods waiting to be scheduled?"
[code]

How are issues detected? How many nodes are added to increase application demand and how is this determined? How often are the nodes checked?

Incredibly vague documentation.

[2019-08-06 17:34] Mitaric commented on #36175
Perfect!  Thanks!

[2019-08-06 17:44] LHTech-Analytics commented on #36574
The annoying thing @MicahMcKittrick-MSFT is that this is probably a simple fix and I just need to be made aware of simple change that needs to be made. Very irritating that MS and other companies these days seek to commoditise their support function instead helping their customers with basic understandings such as this. According to your CEO, the success of MS/Azure customers = the ongoing success

[2019-08-06 17:47] Blackmist commented on #36263
@viskri-msft Thanks for the suggestion to improve the doc. I've added the JSON OpenAPI specification (the schema) returned from the example deployment. This should show up late tonight/early tomorrow once the nightly publish completes. I also added a link to https://github.com/swagger-api/swagger-codegen, which is a utility that can consume a specification and create a client library.

#please-clo

[2019-08-06 17:47] #36263 closed

[2019-08-06 17:48] LHTech-Analytics commented on #36574
HI @MartinJaffer-MSFT, if you have any assistance to provide, it would be much appreciated. I'm looking down the route of just doing all this in a Flask App as I am able to call BES from a python script using the API so I don't understand why I'm having such a headache with a supposedly simple alternative such as DF UI. Really hoping you can help here.

[2019-08-06 17:49] neilhuiz commented on #36274
Thanks for the update, @MikkelHegn. I'll look forward to this feature in the future. It would make deploying Windows clusters, where two node pools appear to be a requirement, so much simpler.

No, I do not. When I include two node pools in my ARM template (i.e. two entries under `agentPoolProfiles`), neither of the pools' machines are created. The node pools show up in the portal when you browse

[2019-08-06 17:49] SamaraSoucy-MSFT commented on #36280
@mazikHydYou will definitely need to use the YYYY-MM-DD date format as that is how it is setup in Storage.

Stream Analytics expects recent data in the folder that you direct it to. There are two reasons why it wouldn't find data. First, it can take a bit before App Insights exports the first set of files. Second, if the app being monitored is inactive, there aren't any metrics for App Insights to

[2019-08-06 17:50] kanshiG commented on #36572
Thanks today it only shows up if you have that status code, rather than showing static - list of status codes. @Satish Kumar Rangavajjula (satishr) is looking into fixing this long term. @SnehaGunda  - this was the screen shot like operation type we need to have to help customers find the status code till Satish fixes this for long term.

[2019-08-06 17:51] ggailey777 commented on #36591
@ColbyTresness does this section need to be clarified for C# class library projects?

[2019-08-06 17:58] sudeepster commented on #36255
@jonmikeli we need following information to further analyze the issue:

1)	Which SDK is used for this update? Or is it the portal?
2)	Was is a UpdateTwin or ReplaceTwin?
3)	By “Twin.Properties.Desired change notification” does the user mean Twin Change Notification or Desired Properties Notification to the device?

[2019-08-06 18:00] YutongTie-MSFT commented on #36595
@gfrankel1997  Thank you very much, could you please share the document you are referring to?

[2019-08-06 18:00] xieb0001 commented on #36528
@PramodValavala-MSFT, Thanks for reply, but you are not answering my question. As my question title said, i'm looking for "How to enable client-side batching with new library?" , i'm looking for CLIENT-SIDE batching. The "client-side batching" described in this documentation is "Client-side batching enables a queue or topic client to delay the sending of a message for a certain period of time." I

[2019-08-06 18:01] mrbullwinkle commented on #32696
@cmardini it looks like what you need might fall under this User Voice request: [https://feedback.azure.com/forums/357324-azure-monitor-application-insights/suggestions/37464925-add-support-for-azure-monitor-service-tag-availabi](https://feedback.azure.com/forums/357324-azure-monitor-application-insights/suggestions/37464925-add-support-for-azure-monitor-service-tag-availabi) or this one: [https:/

[2019-08-06 18:02] mrbullwinkle commented on #32696
If you create a UserVoice request for this or similar functionality definitely post a link in the thread and I will add my vote as well. I am going to close this issue out as it is not actionable by the docs team as a doc-enhancement.

#please-close

[2019-08-06 18:02] #32696 closed

[2019-08-06 18:05] YutongTie-MSFT commented on #36516
@felickz
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-06 18:06] YutongTie-MSFT commented on #36522
@nishantsny
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-06 18:06] MicahMcKittrick-MSFT commented on #36592
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-06 18:19] MicrosoftGuyJFlo commented on #35032
#please-close

[2019-08-06 18:19] #35032 closed

[2019-08-06 18:20] Alberto-Vega-MSFT commented on #36133
@KingdomOfEnds Thanks for the help! @xelossan We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-06 18:20] #36133 closed

[2019-08-06 18:20] FrankHu-MSFT commented on #36582
@joaomaltez Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-06 18:20] bizinbarefeet commented on #36441
OK – feel free to ignore my suggestions.  I really don’t care if you don’t.

BTW – the standard big-company response of providing a lot of absolutely unrelated canned text is wearing thin.

MARK PHILLIPS

Entrepreneur • Mentor

Business in Bare Feet
CONNECTING INNOVATION & ENTREPRENEURS
TO A WORLD OF OPPORTUNITY

Te
+61 414 870 227
+33 7 66 80 81 71

________________________________________

Austr

[2019-08-06 18:20] FrankHu-MSFT commented on #36579
@crmhh Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-06 18:21] FrankHu-MSFT commented on #36555
@filipe-lopes Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-06 18:22] FrankHu-MSFT commented on #36582
@joaomaltez  typically that requires for each on premise application to have their own documentation for their own respective SCIMs, and you would need to find that from the apps owner's documentation.

Please let us know if there are anymore questions within the scope of this git issue. Or if that doesn't make sense.

[2019-08-06 18:23] FrankHu-MSFT commented on #36579
Hey @crmhh  thanks for pointing this out. This is definitely an issue with the document and we will look into this and make changes accordingly.

Thanks again for letting us know about this issue.

[2019-08-06 18:28] NavtejSaini-MSFT commented on #36331
@chainhead We understand your need completely and it may not be available right now but you can definitely add your idea for use of proxysql to the following user voice link for MySql so that product team can look into this further.
https://feedback.azure.com/forums/597982-azure-database-for-mysql

@ajlam Adding you to this conversation, so that you can check if the document can be enhanced to add

[2019-08-06 18:31] nkiest commented on #13417
Azure AD and InTune are Tenant level services that support diagnostic logs: https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/concept-activity-logs-azure-monitor
https://docs.microsoft.com/en-us/intune/review-logs-using-azure-monitor
However, these can only be turned on via UX, as the parameters do not match up to standard resourceID, and have specific permissions rules im

[2019-08-06 18:40] msaburnley commented on #34788
@kumarallamraju Thank you for your feedback. The screenshots have been updated and published.

[2019-08-06 18:40] msaburnley commented on #34788
#please-close

[2019-08-06 18:40] #34788 closed

[2019-08-06 18:44] msmimart commented on #36139
Hi @ShawnPOWER, the more comprehensive source for licensing and pricing details is the [Azure AD Pricing page](https://azure.microsoft.com/en-us/pricing/details/active-directory/) (see the footnote on that page regarding B2B). A link to the pricing page is listed under **Next Steps**, but we'll plan to add a more prominent link. Thanks for your feedback!

[2019-08-06 18:51] jcledezma opened #36597 "FAILS on 2nd cmd: kubectl get nodes"
After waiting 20 min for resources to show (there's tons of them), then I get:
jc@Azure:~$ kubectl get nodes
error: the server doesn't have a resource type "nodes"

And that's it. This was a very short-lived tutorial as I can't go past this. SO FRUSTRATING.

I had tried the day before. Same thing. I wiped everything and started over today. No go.

---
#### Document Details

⚠ *Do not edit this sec

[2019-08-06 18:52] jcledezma commented on #36597
Ah, yes. I'm using the cloud shell directly on the portal.

[2019-08-06 19:00] jcledezma commented on #36597
More detail, in case someone is reading....
1st, it wouldn't let me open the shell without creating storage and share, which I did. And I already had created a jcDevOps group.

My cmd $: az aks create     --resource-group jcDevOps     --name myAKSCluster     --node-count 1     --enable-addons monitoring     --generate-ssh-keys

Now I see a myriad of resources in there after the one cmd:
Groups:
De

[2019-08-06 19:05] vinothinidharmaraj commented on #35433
@jakaruna-MSFT, do you have any update on this?

[2019-08-06 19:06] MicahMcKittrick-MSFT commented on #36565
@ashwini-git thanks for that. Can you share the exact image name you are using?

For example, the sample on this doc is mcr.microsoft.com/azuredocs/aci-helloworld

I searched for the image you are using but I am not sure I found the right one. And I want to make sure I am using the same setup. Also, what region are you deploying to?

[2019-08-06 19:07] MicahMcKittrick-MSFT commented on #36580
@asubmani the document appears correct. We state that you shouldn't store service state inside a container. If you need that functionality instead you should use a PaaS service such as App Services.

I will close this out but if you have further questions just let me know.

[2019-08-06 19:07] #36580 closed

[2019-08-06 19:14] MGoedtel commented on #36563
@theheatDK - That paragraph in the article is specific to log data collected and stored in the workspace, which depends on what you have configured and could include Activity logs if configured to forward to a workspace.  I'm going to update that paragraph and link to an article that will help clarify/reinforce what constitutes "log data".  #please-close

[2019-08-06 19:14] #36563 closed

[2019-08-06 19:14] drewf7 commented on #34302
Hi @stevebus,

No worries!... Your testing ended up sending me down a bit of a rabbit hole. Here's what I've learned.

To reproduce exactly what we were seeing:

- Install iotedge on an Ubuntu system
- Modify /etc/hostname to "<any_string_with_underscores>"
- Set hostname in etc/iotedge/config.yaml to the same
- Launch a C# module with the following code in it's Init function
[code]

You should th

[2019-08-06 19:15] Karishma-Tiwari-MSFT commented on #36597
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-06 19:20] blueelvis commented on #23576
Is there any update on this?

[2019-08-06 19:27] KranthiPakala-MSFT commented on #36408
@ashleyabraham If you have a Python object, you can convert it into a JSON string by using the json.dumps() method. Please refer to the below links which might be helpful.

- [Using the Azure Function return value](https://docs.microsoft.com/bs-latn-ba/azure/azure-functions/functions-bindings-return-value#python-example)

- https://www.w3schools.com/python/python_json.asp

Hope this helps.

[2019-08-06 19:33] Alberto-Vega-MSFT commented on #36265
Do you have a suggestion on how this can be better?

[2019-08-06 19:34] ShawnPOWER commented on #36139
Hi @msmimart, the comprehensive source is helpful and pricing. Thank you!

[2019-08-06 19:37] Alberto-Vega-MSFT commented on #35535
@Shri-Humrudha Thank you for that. Sharing the link here for people coming across the same issue: https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/576

[2019-08-06 19:41] mrbullwinkle commented on #35779
@yahorsi, we pinged the Snapshot Debugger engineering team. We are going to add a note which links to this [content here](https://docs.microsoft.com/en-us/visualstudio/ide/reference/advanced-build-settings-dialog-box-csharp?view=vs-2019#output) as well as adding the guidance that for best results, use “Full”, “Portable” or “Embedded”. Thank you for bringing this to our attention, and helping us to

[2019-08-06 19:46] tobiasb commented on #16554
For anyone else that found their way here, I had the same problem because I was calling `UnregisterEventProcessorAsync` indirectly from within `ProcessEventsAsync` of my `IEventProcessor` and because of that it wouldn't terminate.

[2019-08-06 19:49] NavtejSaini-MSFT commented on #36559
@masashioms The following document answers your question:
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-service-tier-hyperscale#hyperscale-pricing-model

It says "We create a primary replica and one read-only replica per Hyperscale database by default. Users may adjust the total number of replicas including the primary from 1-5."

Hope this information helps. Please get back to

[2019-08-06 19:57] NavtejSaini-MSFT commented on #36558
@masashioms Assigning this to doc author for adding the same. In the meantime, You may use following link to get some of the information.
https://azure.microsoft.com/en-us/pricing/details/sql-database/single-previous/

@stevestein Please add the table for Hyperscale Gen 4 resource limits.

[2019-08-06 19:58] adiveloper opened #36600 "RRS azure ML still seeems to throw error"
{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details.","details":[{"code":"NotFound","message":"{\r\n \"Code\": \"NotFound\",\r\n \"Message\": \"Repository 'UpdateSiteSourceControl' operation failed with Admin access is required for repository https://github.com/

[2019-08-06 20:04] mrbullwinkle commented on #35779
The change is now merged internally. The change will go-live in the public docs later today.

[2019-08-06 20:04] mrbullwinkle commented on #35779
#please-close

[2019-08-06 20:04] #35779 closed

[2019-08-06 20:04] FrankHu-MSFT commented on #36323
Hey @andrewgill-draysontechnologies  I was wondering if you're still experiencing this issue? And if the response was beneficial at all?

Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-06 20:05] FrankHu-MSFT commented on #36432
@stewartadam Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-06 20:06] FrankHu-MSFT commented on #36579
@crmhh Please let us know if there are anymore questions within the scope of this git issue. We are currently making the change you've requested.

If not, I will be closing out this git issue by end of day today. Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-06 20:06] southpolesteve commented on #35724
Will be closed by https://github.com/MicrosoftDocs/azure-docs/pull/36601

[2019-08-06 20:07] southpolesteve commented on #35721
Will be closed by https://github.com/MicrosoftDocs/azure-docs/pull/36601

[2019-08-06 20:08] mrbullwinkle commented on #35818
@kobulloc-MSFT please assign this one to @lgayhardt.

[2019-08-06 20:14] mrbullwinkle commented on #24242
@scottmcm I am going to close this one out as it looks like we did address the original issue that was getting this issue tagged as a doc-bug. Thank you for bringing this to our attention and helping us to improve our docs!

[2019-08-06 20:14] jonmikeli commented on #36255
Sure. Answers below.

1. Which SDK is used for this update? Or is it the portal?
I tried both and they both have the same end behavior (see below for a screenshot of versions)
Do you want me to record my screen? If so, how could I share it with you?

2. Was is a UpdateTwin or ReplaceTwin?
My tests were with UpdateTwin.
I just tested ReplaceTwin and the behavior is the same.
I can share my code if

[2019-08-06 20:14] mrbullwinkle commented on #24242
#please-close

[2019-08-06 20:14] #24242 closed

[2019-08-06 20:16] sendqueery opened #36602 ""Virtual network is not supported in location 'northcentralus' for container group""
Looks like another region has dropped support for container vnets.
https://docs.microsoft.com/en-us/azure/container-instances/container-instances-vnet#regions-and-resource-availability

Location | OS | CPU | Memory (GB)
-- | -- | -- | --
South India, North Central US, West US | Linux | 2 | 3.5

Womp womp. :'(

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-08-06 20:17] MicahMcKittrick-MSFT commented on #36592
@maximnix thanks for reaching out regarding this issue. I have setup a new VM using SUSE 12 as you did but I was not able to repro the issue. My guess is that something strange happened during the creation or addition of the AAD extension. I would suggest you retry the deployment and see if the issue remains. This feature is also still in preview so it is possible to encounter some non reproducibl

[2019-08-06 20:20] MicahMcKittrick-MSFT commented on #36602
@sendqueery while the feature is in preview we will at times enable and remove regions for testing purposes. As the product moves to GA we will update with a list of zones (Likely all for this feature).

I will close this as there is no action needed on this doc.

[2019-08-06 20:20] #36602 closed

[2019-08-06 20:23] cstainie opened #36604 "Azure Data Factory Portal"
Apparently, the Azure Data Factory portal is also part of the management endpoints. This is really great, but it might be interesting to add it to the documentation explicitly (https://adf.azure.com).

gr, Cédric

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 221733cf-3951-3fb4-12cc-486ef43d8d16
* Version Independent I

[2019-08-06 20:25] dorfire commented on #36179
Hey @ToruMakabe,

The `cloudfoundry/cnb:bionic` image will be cached starting next week. It'll take about one week to roll out worldwide.

In the meantime, using the `--pull` option is recommended temporary solution :)

[2019-08-06 20:26] Sas002 commented on #36524
I have one more question for product specific.  For Linux VMs to authenticate with Azure AD , it requires to connect to LDAP server with specific LDAP configuration , which I could not find on Linux VM after enable AD authentication.  My question is  if Linux VM is already part of LDAP server which is  not in Azure but at on-premise then can we still configure Azure AD authentication on that Linux

[2019-08-06 20:27] NavtejSaini-MSFT commented on #35721
Thank you @southpolesteve and @deborahc We will wait for the changes done by PR to reflect before closing this issue.

[2019-08-06 20:28] NavtejSaini-MSFT commented on #35724
Thank you @southpolesteve We will wait for the changes done by PR to reflect and will close the issue accordingly.

[2019-08-06 20:28] sendqueery commented on #36602
@MicahMcKittrick-MSFT  Since this is the only documentation for where the feature is currently available, can it be updated to reflect the regions where the feature is available?

This has happened previously: https://github.com/MicrosoftDocs/azure-docs/issues/34732

[2019-08-06 20:29] a-zaf opened #36605 ""Microsoft""
Not "MicroSoft" :-)

"Application categories" / "Protected resources vs client applications" / "Acquiring security tokens"

" [...] in particular the MicroSoft Authentication Libraries family"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d014c45f-5c4a-2598-ae92-89f48ae6b207
* Version Independent ID: e7d95537-e03b-230

[2019-08-06 20:29] MicahMcKittrick-MSFT commented on #36524
Assuming your on premise AD and Azure AD are connected it should still work.

[2019-08-06 20:30] stewartadam commented on #36432
The link above is for the auth code grant, the docs are insufficiently clear on the client_credentials flow where it appears only .default is supported.

[2019-08-06 20:30] FrankHu-MSFT commented on #35409
Hey @grandparoach I think you will need to file a support ticket to move this issue forward.
Please send an email to AzCommunity[at]microsoft[dot]com with a reference to this thread and also your Azure Subscription GUID.

I will enable a one-time free support ticket for issues related to this.

That being said I will be closing out this issue now as the git doc issues are meant for issues with the

[2019-08-06 20:30] #35409 closed

[2019-08-06 20:31] MicahMcKittrick-MSFT commented on #36602
@sendqueery ah I see I missed that. yes I will submit a PR now.

[2019-08-06 20:34] FrankHu-MSFT commented on #36308
hey @theheatDK  unfortunately this is not possible, you will need to use the portal.

I'm sorry for that. If you're interested in using this feature, my suggestion is to submit your feedback here : https://feedback.azure.com/forums/169401-azure-active-directory

and if there's alot of community feedback we will look into implementing this.

@theheatDK Please let us know if there are anymore questi

[2019-08-06 20:36] MarileeTurscak-MSFT commented on #36605
@a-zaf
Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-06 20:37] ALLWORLD7 opened #36606 "Incomplete Sentence"
This sentence seems to be in complete...
"They exist in the cloud and"

There should be something that comes after the word "and".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8877b198-deb1-6ae9-ea0d-3830370b0b4a
* Version Independent ID: f1a4495c-7da8-0c3f-5d97-4f816a2b696c
* Content: [What is device identity in Azu

[2019-08-06 20:38] Joachim83 opened #36607 "Disable the weekly PIM digest"
How can we disable the weekly PIM digest email?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5a932ce-6046-f6a9-9b85-188c8530174c
* Version Independent ID: 196cb921-fbf8-6819-e0e2-8cd03fda4505
* Content: [Email notifications in PIM - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/priv

[2019-08-06 20:41] mike-urnun-msft commented on #32896
Hi @swagulkarni - Apologies for the long delay in response. Have you gone over the documentation below?

- [How to secure back-end services using client certificate authentication in Azure API Management](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-mutual-certificates)

[2019-08-06 20:45] MarileeTurscak-MSFT commented on #36605
Good catch, @a-zaf !

I made a pull request to fix this and the changes should go live within 24 hours. In the future, you can feel free to make a pull request yourself if you'd like. https://github.com/MicrosoftDocs/azure-docs-pr/pull/84534

[2019-08-06 20:45] #36605 closed

[2019-08-06 20:49] MarileeTurscak-MSFT commented on #36606
@ALLWORLD7
Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-06 20:53] MarileeTurscak-MSFT commented on #36606
@ALLWORLD7 thanks for pointing this out!

I changed it to say, "They exist in the cloud and on-premises."

Here is the pull request: https://github.com/MicrosoftDocs/azure-docs-pr/pull/84537

@MicrosoftGuyJFlo

[2019-08-06 20:53] #36606 closed

[2019-08-06 20:59] FrankHu-MSFT commented on #36432
Hey @stewartadam  in regards to client credentials it does say it needs to have the .default affixed :

[2019-08-06 21:07] mmacy commented on #36469
@BarbaraSelden Yes, B2C MFA supports the same set of languages as B2C (36 languages at the time of this comment). I'll get the doc updated with this statement.

#pri3

[2019-08-06 21:09] crgarcia12 opened #36608 "Example without EF"
Maybe it could be useful to add a little section on how to use this outside EF. For example (.NetCore 2.2):

string token = await (new Microsoft.Azure.Services.AppAuthentication.AzureServiceTokenProvider()).GetAccessTokenAsync("https://database.windows.net/");

using (SqlConnection conn = new SqlConnection("Server=tcp:&lt;servername&gt;.database.windows.net,1433;Database=&lt;dbname&gt;;"))
{
    c

[2019-08-06 21:09] stevebus commented on #34302
ah, thanks.  I misunderstood.  I thought you were having trouble connecting a leaf device to an Edge box with underscores on it, but you are talking about a module.  Interestingly enough, just earlier this afternoon I had someone else point out the same thing.  I like your suggestion of adding it to iotedge check.  let me check with engineering internally and see how they want to handle it

[2019-08-06 21:13] mike-urnun-msft commented on #35843
Hi @simonness - Thank you for sharing the solution you've located! Surely, it'll help others troubleshoot and learn from your experience. Documentation was updated a few days back to clarify the implications between v1 and v2 endpoints, and the overall steps should now work without any issues.

We will now proceed to close this thread. If there are further questions regarding this matter, please r

[2019-08-06 21:13] #35843 closed

[2019-08-06 21:14] yangyadi1993 opened #36609 "How to use MSI with Azure storage emulator?"
Currently I am using MSI in my code. But when I test it locally I want to use azure storage emulator and blob storage in it. MSI is working well with the cloud storage, but when it comes to the local storage emulator, I don't know how to do it. Because local storage emulator requires fixed account and key. Does local storage emulator supports MSI? How should I use it?

My code is like this
[code]

[2019-08-06 21:21] iainfoulds commented on #36097
@rexhinvorpsi  I've updated the doc to include steps on using the `Add-Computer` cmdlet to join a VM to the Azure AD DS managed domain. This doc update should publish in the next few days.

If you're still having technical issues, please let @SaurabhSharma-MSFT know.

For now, #please-close

[2019-08-06 21:21] #36097 closed

[2019-08-06 21:24] rexhinvorpsi commented on #36097
Thank you for the great help!!

[2019-08-06 21:26] takhoshi commented on #10041
It seems the scripts are not fixed yet. Please use the scripts @sercast suggested that's working fine for me. https://github.com/Azure-Samples/managed-disks-powershell-getting-started/blob/master/CreateVmFromManagedOsDisk.ps1

[2019-08-06 21:27] #36033 closed

[2019-08-06 21:30] khalednsair opened #36610 "I can't find the code for scaling up resource for sql database https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/sql-database/scripts/sql-database-monitor-and-scale-database-powershell.md"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-08-06 21:30] PatricioVidal opened #36611 "Missing Windows 10 with 1809 update or newer prerequisite."
Prerequisites don't mention "Windows 10 with 1809 update or newer". I spent half a day trying to make the example run and I was getting missing version errors when pulling the docker modules.
Finally I found this link (https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-develop-for-windows) where they mention "Windows 10 with 1809 update or newer" as a prerequisite. I was running 1803. After

[2019-08-06 21:31] khalednsair commented on #36610
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/sql-database/scripts/sql-database-monitor-and-scale-database-powershell.md

[2019-08-06 21:44] Mike-Ubezzi-MSFT commented on #36511
@avbhaskar If you don't have any additional questions, we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-08-06 21:50] Mike-Ubezzi-MSFT commented on #36457
@pradeepramadasan
We will now proceed to close this thread. If there is a specific issue or recommendation with an article found in the Microsoft Docs repository, please click on the feedback link at the bottom of the page and your detailed feedback will be properly routed. Thank you, ~Mike

[2019-08-06 21:50] #36457 closed

[2019-08-06 21:50] dancs85 commented on #36533
I am using PowerShell to upload the blueprint, and publishing via Azure Portal:
`Import-AzBlueprintWithArtifact -Name ArtifactTest -ManagementGroupId NonProd -InputPath '.\artifacttest\' -Force`

I've had to rename the files from JSON to TXT to get past filter, and the artifacts are stored in a sub-folder called artifacts:
[blueprint.txt](https://github.com/MicrosoftDocs/azure-docs/files/3474305/b

[2019-08-06 21:55] dancs85 commented on #36533
Found it!
Line 198-199: https://github.com/Azure/azure-powershell/blob/24dead871fd1d1f7c9e4b7049a496f98c7f66b6a/src/Blueprint/Blueprint/Cmdlets/BlueprintDefinition/BlueprintDefinitionCmdletBase.cs

[2019-08-06 21:56] stevebus commented on #34302
One quick update..  apparently 'iotedge check' does already flag this in the most recent 1.0.8 release.

[2019-08-06 22:06] christerengman commented on #36485
Well, checking https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-prepare-migration#notification-payload-changes I now instead see missing "data." prefix for the same attribute in the "New metric alerts" column (which should not have been removed). At least that's what the pattern tells me...

[2019-08-06 22:16] mauliknshah opened #36613 "Unable to create a shared anchor service."
After creating an anchor for sharing (Press button 'Shared') across devices using the sample application, I am trying to locate it. The anchor-ID generated after creating a spatial anchor is an alpha numeric string of 30-40 characters including several hyphens which I found from the logs of SharedActivity.java class. On the other hand, while locating the same anchor, the android app asks to enter

[2019-08-06 22:22] Jatinder-Luthra opened #36614 "Unable to create DB2 pureScale instance"
Error while DB2 Instance creation step, while running this

/data2/db2bits/server_dec/db2setup -r /root/db2server.rsp -l /tmp/db2setup_000.log -t /tmp/db2setup_000.trc

I tried the solution in https://github.com/Azure/db2-on-azure/blob/master/doc/archive/KB_archive.md but it still gives the same error.

Installing DB2 file sets :.......Success
Installing or updating DB2 HA scripts for IBM Tivoli S

[2019-08-06 22:22] YutongTie-MSFT commented on #36600
@adiveloper Hello, could you please share the document you are referring to and your scenario? Thank you.

[2019-08-06 22:24] YutongTie-MSFT commented on #36607
@Joachim83 Hi, could you please share more details about your scenario and the document you are referring to ? Thank you.

[2019-08-06 22:24] QiMata opened #36615 "Possible Typo"
IoT Hub secures the connection to the devices using Transport Layer Security (TLS) standard, supporting versions 1.2, 1.2, and 1.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3b44b4c-526f-7b2a-7977-02c88df6969a
* Version Independent ID: 87f296a8-b30e-ae96-53bc-d13a133dec83
* Content: [Security recommendations for A

[2019-08-06 22:28] adiveloper commented on #36600
I was deploying a webapp  through azure. After building the model I tried to use RRS (Request response Service) for the deployment but it fails with the above error.

[2019-08-06 22:32] mrbullwinkle commented on #15257
I just tested this behavior in VS 2017 (15.9.9) and even with the default package management format set to `packagereference` the applicationinsights.config file was automatically updated to include the following:

[code]

My guess would be this was fixed in the interim between the issue being opened and my testing the behavior now. Thank you for reporting this and our apologies that we didn't upd

[2019-08-06 22:33] mrbullwinkle commented on #15257
#please-close

[2019-08-06 22:33] #15257 closed

[2019-08-06 22:36] Sanitys commented on #36586
Thats because you already have it setup, try on a blank Ip.

Sent from my iPhone

[2019-08-06 22:41] Alberto-Vega-MSFT commented on #36500
@Shreyasnie did you open a support ticket?

[2019-08-06 22:42] Karishma-Tiwari-MSFT commented on #36614
Thanks for the question. We are currently investigating and will update you shortly.

[2019-08-06 22:44] SanDeo-MSFT commented on #35203
@notjjsb,
Thanks for your feedback. I have updated the docs to provide additional clarity.

[2019-08-06 22:45] SanDeo-MSFT commented on #35203
#please-close

[2019-08-06 22:45] #35203 closed

[2019-08-06 22:51] craigktreasure commented on #36613
I'm not sure I completely understand what's going on. It sounds like you're trying to do anchor sharing using the Android Java sample, but are confused as to how to do it. The instructions for sharing anchors are not in quickstart you have filed this issue agains, they are in the [Sharing in Unity](https://docs.microsoft.com/en-us/azure/spatial-anchors/tutorials/tutorial-share-anchors-across-devic

[2019-08-06 22:54] KranthiPakala-MSFT commented on #36399
@Johannes-Vink We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2019-08-06 22:54] #36399 closed

[2019-08-06 22:54] mgreenegit commented on #36339
Yep.  I thought I had this updated.  Good catch!

[2019-08-06 23:01] adewaleo opened #36617 "Typo in Benefits of Geo-replication section"
https://docs.microsoft.com/en-us/azure/container-registry/container-registry-geo-replication#benefits-of-geo-replication

"You can configure regional webhooks to notify of you events in specific replicas." should be "..to notify you of events..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8006f0b0-79c7-c5c4-7019-b5

[2019-08-06 23:05] adewaleo commented on #36617
Also:

"Contoso would pay four times Premium per month, with no additional configuration or management." is not really clear in the pricing section.

[2019-08-06 23:16] mike-urnun-msft commented on #32896
We will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-08-06 23:16] #32896 closed

[2019-08-06 23:19] SaurabhSharma-MSFT commented on #36162
@VadimBurshtyn I have checked internally with the product team and you need to check [What's new in Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/whats-new) for any new releases.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-08-06 23:19] #36162 closed

[2019-08-06 23:21] Alberto-Vega-MSFT commented on #36506
@jhosteny Can you share a link to your source for the blob length of 1024?

[2019-08-06 23:32] kraigb commented on #22569
Note also that we recently published a longer tutorial for VS Code with Python, https://docs.microsoft.com/en-us/azure/azure-functions/tutorial-vs-code-serverless-python. It wasn't integrated into this present quickstart, however, due to its length (and the current preview status).

[2019-08-06 23:38] Karishma-Tiwari-MSFT commented on #36617
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-06 23:38] jhosteny commented on #36506
https://docs.microsoft.com/en-us/rest/api/storageservices/Naming-and-Referencing-Containers--Blobs--and-Metadata?redirectedfrom=MSDN

`A blob name must be at least one character long and cannot be more than 1,024 characters long, for blobs in Azure Storage.`

Just to note again - the blob is properly created. But the request still returns a 400, and appears to leave the SAS URI open (counting agai

[2019-08-06 23:40] vimal4us commented on #36587
Any update?

[2019-08-06 23:46] SaurabhSharma-MSFT commented on #36388
@HeineLysemose You can use passwordless phone number for office apps like word, outlook on your mobile device and it doesn't require password.  Please refer to [Advancing Windows 10 as a passwordless platform](https://www.microsoft.com/security/blog/2019/06/10/advancing-windows-10-passwordless-platform/)

[2019-08-06 23:52] SaurabhSharma-MSFT commented on #36412
@roberts2727 As mentioned in the [document](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-authentication-passwordless-phone#user-is-not-enabled-by-policy-but-still-has-passwordless-phone-sign-in-method-in-microsoft-authenticator) it may be possible that user has created a passwordless phone sign-in credential earlier.  In that case, once the admin enables the authent

[2019-08-06 23:52] bedlam-au opened #36618 "Broken link"
The final URL referenced (http://www.freehanatutorials.com/2012/10/how-to-enable-auto-start-of-hana.html) before Next Steps at the bottom of this page is broken as it appears the domain is now parked.  Please update or remove.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 827e6fad-a29a-398d-5991-891ac41d8ab5
* Version

[2019-08-06 23:54] femsulu commented on #36594
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-08-06 23:56] MicahMcKittrick-MSFT commented on #36618
@bedlam-au thanks for the find! I have removed the link. Once the PR merges the changes will go live after a few hours.

[2019-08-06 23:56] #36618 closed

[2019-08-06 23:56] femsulu commented on #36593
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-08-06 23:59] Joachim83 commented on #36607
I have enabled AzureAD Privileged Identity Management in my tenant and now I receive these weekly PIM digest emails:
https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/pim-email-notifications#weekly-pim-digest-email-for-azure-ad-roles

However I can find no options to disable these weekly emails on a user level nor global level.

How can I disable these weekly e

[2019-08-07 00:04] imsam67 commented on #22870
Like @zeitmeister , I'm getting the "NotFound" error when I use the code in QuickStart as documented here: https://docs.microsoft.com/en-us/azure/cognitive-services/text-analytics/quickstarts/csharp

This is just a simple call using the code published by Microsoft. Any idea what's causing it?

[2019-08-07 00:09] AlexFiala opened #36619 "The "function length" bug is still an issue, yet it is closed on GitHUb"
This tutorial appears to be the only source of information that supports configuration of multiple tables as input data sources, using DF.  As such, any assistance with the below error is appreciated:

Activity IterateSQLTables failed: The function 'length' expects its parameter to be an array or a string. The provided value is of type 'Null'.

As others have suggested, I ensured the "first row on

[2019-08-07 00:10] jeffpatt24 commented on #36552
When you grant access to the Hybrid File Sync Service application, you're giving the Microsoft.StorageSync resource provider access. The add role assignment blade will not find the Hybrid File Sync Service application if you search by resource provider name which is why we recommend searching by application name.

[2019-08-07 00:10] jeffpatt24 commented on #36552
#please-close

[2019-08-07 00:10] #36552 closed

[2019-08-07 00:14] Alberto-Vega-MSFT commented on #36615
@QiMata Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-07 00:17] Alberto-Vega-MSFT commented on #36611
@PatricioVidal I'm sorry you were having issues due to the missing info and thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-07 00:22] KranthiPakala-MSFT commented on #36619
@AlexFiala Thanks for the feedback and bringing this to our notice. At this time we are reviewing the ask and will update as appropriate.

[2019-08-07 00:25] Alberto-Vega-MSFT commented on #36567
@xiongyu0523 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-07 00:25] ToruMakabe commented on #36179
@dorfire Thanks! I will close this issue after the rollout.

[2019-08-07 00:28] MarileeTurscak-MSFT commented on #36604
@cstainie
Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-07 00:30] MarileeTurscak-MSFT commented on #36604
Thanks for your contribution, @cstainie !

I made a pull request to add this. Once approved, changes should go live in 24 hours.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/84576

[2019-08-07 00:30] #36604 closed

[2019-08-07 00:38] Karishma-Tiwari-MSFT commented on #36617
@SteveLas Can you please share your insights on the following statement:

Is there something more we can add to make it more clear?

@adewaleo Do you have any suggestions on what details should be added?

[2019-08-07 00:44] MarileeTurscak-MSFT commented on #36491
Yes, it seems to be different for password writeback with on-premises users.

@msaburnley is this something that could get added to the documentation?

[2019-08-07 00:44] #36617 closed

[2019-08-07 00:52] Karishma-Tiwari-MSFT commented on #36425
@eric-camplin I have created a PR with the updates: https://github.com/MicrosoftDocs/azure-docs-pr/pull/84583 It will be merged once it is reviewed by the doc-author @cynthn

[2019-08-07 00:52] MarileeTurscak-MSFT commented on #36516
Hi @felickz ,

Per my understanding, it is not needed because it is an optional field.

Looping in @mmacy to confirm.

[2019-08-07 00:54] Karishma-Tiwari-MSFT commented on #36523
@eric-camplin I have created a PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/84582. It will be merged after review from the doc-author @cynthn. Thanks :)

[2019-08-07 00:55] Sas002 commented on #36524
I mean if Linux VM is already part of LDAP domain which is different than Azure AD , still can I use Azure AD integrated authentication for Linux VM. Where is the Azure AD related configuration are stored in Linux VM. I tried /etc/ldap.conf but there is no file.  I found /etc/openldap/ldap.conf  file but no configuration related to Azure AD .

[2019-08-07 01:04] AlexFiala commented on #36619
Thank you @KranthiPakala-MSFT .  FYI - I'm implementing this for a customer so any resolution sooner rather than later is appreciated :)

[2019-08-07 01:20] masashioms commented on #36559
@NavtejSaini-MSFT
Thanks, but as the number of secondaries is a configurable option between 0 to 4, I think that it should not be a fixed number.

[2019-08-07 01:22] Karishma-Tiwari-MSFT commented on #36597
@jcledezma The issue could be with your access on the cluster. Please try the following and let me know the results.
Copy the configuration file /etc/kubernetes/admin.conf to ~/.kube/config in a regular user account (with sudo if necessary) and try again. This command should not be performed in the root user account.

[2019-08-07 01:50] DeanGross opened #36620 "Service Principal Governance"
How come this section on identity governance does not contain any information about governing service principals?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a68d2671-8e5e-63b2-b5d2-5f58c5b9aa2f
* Version Independent ID: 7dd0b7fd-042a-c68f-8979-d5828f1ce2e8
* Content: [Identity Governance - Azure Active Directory](h

[2019-08-07 01:54] chainhead commented on #36331
While I was going through the feedback page, I noticed this idea [Single alias for all db server login names that can work for all master and replica servers](https://feedback.azure.com/forums/597982-azure-database-for-mysql/suggestions/37171885-single-alias-for-all-db-server-login-names-that-ca). This idea is similar to the issue discussed here. I have up-voted that idea and also added mine.

Tha

[2019-08-07 01:54] #36331 closed

[2019-08-07 01:56] mike-urnun-msft commented on #32963
Hi @Mikli Sorry for the delay in response and thank you reporting this issue. You can set the `$context` as follows:

I've created a PR at the Powershell samples repo that'll address this issue: Azure/azure-docs-powershell-samples/pull/227

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-08-07 01:56] #32963 closed

[2019-08-07 01:59] KranthiPakala-MSFT commented on #36619
@AlexFiala Could you try using this dynamic expression in 'TriggerCopy' (Executepipeline) activity of parent pipeline 'GetTableListAndTriggerCopyData': @array(activity('LookupTableList').output.value)

![image](https://user-images.githubusercontent.com/50185738/62588905-48e60380-b87c-11e9-8346-bceacb4958c5.png)

This should resolve your issue. Let us know how it goes.

[2019-08-07 02:04] glaucia86 opened #36621 "Don't have Python worker runtime in func init Azure Functions"
Hi, I'm following the tutorial and the 'Create a local Functions project' part in docs and the 'Python' option does not appear, as you can see in the image below:
**[LINK](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-python#create-a-local-functions-project)**

![image](https://user-images.githubusercontent.com/1631477/62589073-73e14f00-b89e-11e9-8630-01704

[2019-08-07 02:04] smartczh commented on #36193
Thanks a lot!

Yes, it is. I have been told that this function is not supported currently, but still i will show you the details.

I want to ingest the data which is in the properties field of the EventData class, as shown below:

(refer to https://docs.azure.cn/zh-cn/dotnet/api/microsoft.azure.eventhubs.eventdata?view=azure-dotnet)

We have some valuable info in that.

It is easy to get data in t

[2019-08-07 02:05] YutongTie-MSFT commented on #36585
@Alberto-Vega-MSFT FYI

[2019-08-07 02:07] MartinJaffer-MSFT commented on #36574
Hello @LHTech-Analytics  and apologies for your distress.  I will assign to author, @nabhishek .

I created an activity and compared your pipeline JSON to mine, it looks pretty much the same, other than the referenceName.

I also compared both  to the longer [JSON sample in the doc](https://docs.microsoft.com/en-us/azure/data-factory/transform-data-using-machine-learning#azure-machine-learning-bat

[2019-08-07 02:12] YutongTie-MSFT commented on #36607
@Joachim83 Thanks for your details. I have assigned this issue to Marilee to take care. ^^

[2019-08-07 02:20] imsam67 commented on #22870
I figured out the issue which was me not paying attention to the instructions. The `text/analytics/{version-number}` must be removed from the end point. Even though the portal includes this in the end point URL, it must be removed so the end point URL needs to look like `https://{my-resource-name}.cognitiveservices.azure.com/`

Hope this helps the next person who runs into the same issue.

[2019-08-07 02:22] YutongTie-MSFT commented on #22870
@imsam67 Thanks for the follow-up, I will check the document again to see if there anything need to be updated to make it clear. ^^

[2019-08-07 02:23] glaucia86 commented on #36621
nevermind... I did a apt-get update and then I did a purge and re-install again and boom!

I followed the link below the correct a way to install azure functions core tools on wsl in my Windows OS and now it's working beautifully :smile:

https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local#v2

[2019-08-07 02:23] #36621 closed

[2019-08-07 02:29] mrbullwinkle commented on #34669
@makhoutdlw I updated the doc to indicate that you if you are using the Application Insights JS SDK with the React Native plugin that data is sent directly to App Insights.

I also pinged the engineering team to confirm if there was still value in using the App Center SDK if you were already using the react-native plugin:

_ApplicationInsights-react-native plugin could be used along ApplicationIns

[2019-08-07 02:30] mrbullwinkle commented on #34669
#please-close

[2019-08-07 02:30] #34669 closed

[2019-08-07 02:44] pradeepramadasan commented on #36457
Hi MicrosoftDocs/azure-docs,
My problem is that when we say 10GB of fixed, what does it mean?if I exceed
10GB what happens?

On Tue, 6 Aug 2019 at 17:50, Mike Ubezzi <notifications@github.com> wrote:

[2019-08-07 02:46] Alberto-Vega-MSFT commented on #36257
@SeaDude This will require some deeper analysis. Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2019-08-07 02:48] KalyanChanumolu-MSFT commented on #36193
@smartczh Thank you very much for providing more details.

As you rightly pointed out, this feature is not currently available but already in the request pipeline.
Please upvote for this feature [here](https://feedback.azure.com/forums/915733-azure-data-explorer/suggestions/37070398-mapping-eventdata-properties-during-event-hub-inge)
The product teams prioritize the features based on the number of

[2019-08-07 02:48] #36193 closed

[2019-08-07 03:01] dcbrown16 opened #36622 "Windows 7 images"
Windows 7 support is mentioned several times, for example for extended support.
However, only Windows 10 Enterprise multi-session and Windows Server 2016 are listed as supported OS images.
Is Windows 7 virtual desktop somehow served from these other OS images?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2eeca14-80e

[2019-08-07 03:15] damiura opened #36623 "About "User assignment required?""
This artcle says "Only functions with the cloud applications that are configured for SAML single sign-on, and on-premises applications configured with Application Proxy. ", but currently it is changed  as below in Azure portal.

=====================
If this option is set to yes, then users must first be assigned to this application before being able to access it.

If this option is set to no, the

[2019-08-07 03:24] Alberto-Vega-MSFT commented on #36231
@JayaSaiSontineni were you able to resolve the issue? Any updates?

[2019-08-07 03:24] shawndewet commented on #22714
Wow really still no explanation of what ACU means when it comes to App Service Plans?!?  The link referred to by @Zenuka has to do with VMs.  Not App Service Plans.

[2019-08-07 03:25] Alberto-Vega-MSFT commented on #36111
@aosyatnik Since we haven't heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-07 03:26] Alberto-Vega-MSFT commented on #36252
@PeterTurcan Any updates?

[2019-08-07 03:55] JayaSaiSontineni commented on #36231
Hi Alberto,

Yes I was able to figure out the issue in a different method.

Thanks for checking.

Regards,
JayaSai

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Alberto Vega <notifications@github.com>
Sent: Tuesday, August 6, 2019 11:24:34 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Jayasai Sontineni <jayasai.sontineni@holopundits.com>;

[2019-08-07 04:27] SnehaGunda commented on #36033
@djimmo The above PR fixes the doc, we will now close this issue.

#please-close

[2019-08-07 04:33] AlexFiala commented on #36619
@KranthiPakala-MSFT , I just tried it with your modified value including the @array and no luck :(

![image](https://user-images.githubusercontent.com/24661916/62595089-de988780-b8aa-11e9-8b42-833837c2bd5f.png)

From pipeline runs, parameters screenshot for the iterateandcopysqltables pipline
![image](https://user-images.githubusercontent.com/24661916/62595118-fff97380-b8aa-11e9-8f93-a1702743834a.

[2019-08-07 04:33] SnehaAgrawal-MSFT commented on #36608
@crgarcia12 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-07 04:34] SantoshML opened #36626 "ApiException: (500),Reason: Internal Server Error"
I am using batch transcription and running it for multiple audio files by generating sas_url for each blob

But I am regularly facing the below errors after few successful run:

ApiException: (500)
Reason: Internal Server Error
HTTP response headers: HTTPHeaderDict({'Cache-Control': 'no-cache', 'Pragma': 'no-cache', 'Content-Length': '43', 'Content-Type': 'application/json; charset=utf-8', 'Expire

[2019-08-07 04:38] AlexFiala commented on #36619
I'm not sure why the tablelist parameter is empty.  It's assigned array type in "iteratesqltables"

![image](https://user-images.githubusercontent.com/24661916/62595267-b52c2b80-b8ab-11e9-96a9-a98372681566.png)

[2019-08-07 04:39] SwathiDhanwada-MSFT commented on #36437
@yasserhu1972 Kindly let us know if you are still facing the issue.

[2019-08-07 04:40] SnehaGunda commented on #35948
@regenbauma @angie4u @kilmfer91 The code is fixed, the above PR should address the doc updates.

We will now close this issue if there aren't any further questions.

#please-close

[2019-08-07 04:40] #35948 closed

[2019-08-07 04:42] SnehaGunda commented on #35721
@jeffrey008 the PR above should fix the issues, the changes will go live tomorrow. We will close this issue if there aren't further questions.

#please-close

[2019-08-07 04:42] #35721 closed

[2019-08-07 04:43] SumanthMarigowda-MSFT commented on #36609
@yangyadi1993 Thanks for your question. We are checking on this and will respond to you soon.

[2019-08-07 04:44] SnehaGunda commented on #35724
@rajata07 The above PR fixes the doc, the changes should be live tomorrow. We will close this issue now.

#please-close

[2019-08-07 04:44] #35724 closed

[2019-08-07 04:49] KetanChawda-MSFT commented on #36621
@glaucia86 I am glad that it worked perfectly. Thanks for providing the update on the thread which will help others in the community.

[2019-08-07 04:52] KetanChawda-MSFT commented on #36576
@saeedeldah I can see you have raised an issue and then closed it. Just wanted to check if you require any further assistance on this thread.

[2019-08-07 04:56] dcurwin commented on #36594
#assign:rayne-wiselman

[2019-08-07 04:56] KetanChawda-MSFT commented on #36566
@saeedeldah Thanks for the feedback. As you have closed the issue, I just wanted to check in case you need any further assistance with this thread.

[2019-08-07 04:58] RohitMungi-MSFT commented on #36444
@ignaciofls The update is now complete by a PR. This change should be reflected in the documentation in the next 24 hours.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-07 04:58] #36444 closed

[2019-08-07 05:00] KalyanChanumolu-MSFT commented on #36610
@khalednsair the .md file translates to the [this page](https://docs.microsoft.com/en-us/azure/sql-database/scripts/sql-database-monitor-and-scale-database-powershell) on Azure documentation.

Script for scaling is shown on the page

[code]

Please let us know if you have further questions.

[2019-08-07 05:02] RohitMungi-MSFT commented on #36452
@ignaciofls Thanks for the feedback. This change is now completed by a PR. The documentation will be updated in the next 24 hours.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-07 05:03] #36452 closed

[2019-08-07 05:04] KetanChawda-MSFT commented on #36575
@saeedeldah I can see you have raised an issue and then closed it. Just wanted to check if you require any further assistance on this thread.

[2019-08-07 05:11] KranthiPakala-MSFT commented on #36619
@AlexFiala That is left empty since we are passing the _tablelist_ parameter value from parent pipeline (i.e., from TriggerCopy Activity - you can look at the screen print I attached in the previous reply).

![image](https://user-images.githubusercontent.com/50185738/62596168-fc0f2680-b895-11e9-825f-1445c732f350.png)

How are you testing this, I mean are you just triggering '_IterateAndCopySQLTabl

[2019-08-07 05:14] AdrianSanguineti opened #36627 "Spelling mistake present in screenshot"
The screenshot in `step 2: Click on the SAML Configuration`, has a spelling mistake: `Azrure` vs `Azure`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0800632e-a9b3-5f96-f290-207c7ef6be88
* Version Independent ID: eaa3c7a0-76d5-433f-9ac3-bc72638c0ff3
* Content: [Tutorial: Azure Active Directory integration with Azure

[2019-08-07 05:16] KetanChawda-MSFT commented on #36550
@vladvino Can you please confirm this?

[2019-08-07 05:20] KranthiPakala-MSFT commented on #36619
From '_IterateAndCopySQLTables_' pipeline run, here is my parameters value:

![image](https://user-images.githubusercontent.com/50185738/62596682-0fbb8c80-b898-11e9-8603-4bb6d355c408.png)

Please check if you were able to able to see the data when you click on _Preview data_ button in '_LookupTableList_' activity.

[2019-08-07 05:32] gpj1 commented on #36546
Thank you @AjayKumar-MSFT for detailed answer. This can be closed.

[2019-08-07 05:51] msrini-MSFT commented on #36586
@Sanitys , The first example is a blank IP where even FQDN is not updated. But I can see the DNSSettings property but the value is empty.

PS C:\Users\msrini>
$pip = Get-AzPublicIpAddress -Name "VM1-ip" -ResourceGroupName "msrini-Networking"
$pip.DnsSettings.ReverseFqdn

PS C:\Users\msrini> $pip

Name : VM1-ip
ResourceGroupName : msrini-Networking
Location : centralus
Id : XXXXXX
Etag : W/"35fbf05

[2019-08-07 06:00] neeleshray-msft commented on #36627
@AdrianSanguineti Thank you for your query. We will check it with the engineering internally and let you know accordingly.

[2019-08-07 06:00] Sanitys commented on #36586
I will in the AM, try from cloud shell in portal using powershell. It gives an error on the second line stating that ReverseFqdn is not found. Maybe that is the issue.

Sent from my iPhone

[2019-08-07 06:01] AjayKumar-MSFT commented on #36546
@gpj1, Thanks for the update.

[2019-08-07 06:01] #36546 closed

[2019-08-07 06:01] neeleshray-msft commented on #36620
@DeanGross Thank you for your query. We will check it with the engineering internally and let you know accordingly.

[2019-08-07 06:05] AjayKumar-MSFT commented on #35880
@allenwux, We will close this out, but if you feel you need more information please just let us know. Thank you @LuisCabrer for the comments.

[2019-08-07 06:05] #35880 closed

[2019-08-07 06:07] ChiragMishra-MSFT commented on #36554
@sarah026 I have submitted a PR to modify the doc. It's under review and will be merged very soon. Once that's done, you will be able to see the changes on the doc.

I will now proceed to close this issue. Feel free to still comment if you have any other queries.

[2019-08-07 06:07] #36554 closed

[2019-08-07 06:07] SnehaGunda commented on #35676
@TravisCragg-MSFT The PRs above refreshes the docs with the V3 SDK. They should be merged tomorrow.

We will now close the issue if there aren't further questions.

#please-close

[2019-08-07 06:07] #35676 closed

[2019-08-07 06:09] AjayKumar-MSFT commented on #36448
@Yegmorcar, Glad you figured out the problem (manual misconfiguration). Thanks for the update. Do let us know if you need any further assistance.

[2019-08-07 06:09] #36448 closed

[2019-08-07 06:11] #36442 closed

[2019-08-07 06:13] snehithm commented on #36587
Hi @vimal4us could you drop us an email on classicalertsretire@microsoft.com? We can look at your subscription details and advise on this.

If you have a resource lock, the migration tool retries every few hours for 7 days before it fails completely and has to be retried (status changes from in progress to failed when 7 days have passed). You should then be able to retry.

If the migration status

[2019-08-07 06:13] #36587 closed

[2019-08-07 06:15] KrishnaG-MSFT commented on #36557
@stspinu Verified and updated the document as required. Thanks.

[2019-08-07 06:15] #36557 closed

[2019-08-07 06:18] RohitMungi-MSFT commented on #36539
@kpranavk The change is now completed and should be updated in the documentation in the next 24 hours.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-07 06:18] #36539 closed

[2019-08-07 06:18] KrishnaG-MSFT commented on #36443
Assigning @bobbytreed for visibility and document enhancement considerations.

[2019-08-07 06:21] sqlenders opened #36628 "First screenshot is unreadable"
Please enlarge

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e90a49ad-b872-757e-4f63-7fac92327d2b
* Version Independent ID: 60e35bd6-449c-20f7-245f-f55cec44546a
* Content: [Create tumbling window trigger dependencies in Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/tumbling-window-trigger-dep

[2019-08-07 06:34] avbhaskar commented on #36511
@tfitzmac
Thanks for sharing article on child resources.
**template that works:**
`  {
      "type": "Microsoft.sql/servers/databases/syncgroups",
      "apiVersion": "2015-05-01-preview",
      "name": "[concat(parameters('sqlServerName'), '/',parameters('Hubdbname'),'/',parameters('syncgroupname'))]",
      "properties": {
        "syncDatabaseId": "[resourceId(resourceGroup().name, 'Microsoft.S

[2019-08-07 06:38] msrini-MSFT commented on #36586
@Sanitys , I tried via CloudShell and I am able to see the DNSSettings property.

![image](https://user-images.githubusercontent.com/47132998/62600254-0bc95200-b90c-11e9-9243-8906636dee79.png)

[2019-08-07 06:39] msrini-MSFT commented on #36556
@srinihp , Do you have any update on this issue?

[2019-08-07 06:39] avbhaskar commented on #36511
@Mike-Ubezzi-MSFT
SyncGroup ARM Ttemplate reference [https://docs.microsoft.com/en-us/azure/templates/microsoft.sql/2015-05-01-preview/servers/databases/syncgroups#syncgroupproperties-object ](url) mentions **interval** as **integer**, its a time in seconds and always >=300. it would be nice to have that limitation in reference doc too.

[2019-08-07 06:39] msrini-MSFT commented on #36562
@xenalite , Do you have any update on this issue?

[2019-08-07 06:43] ManojReddy-MSFT commented on #36368
@elanay93 We have not heard from you in a while. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-08-07 06:43] #36368 closed

[2019-08-07 06:44] ManojReddy-MSFT commented on #35547
@Girishvtm We have not heard from you in a while. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-08-07 06:44] #35547 closed

[2019-08-07 06:44] SwathiDhanwada-MSFT commented on #36445
@stephenc01 AFAIK, there is no option to update the access token from azure portal. However, you can update the access token using REST API or Powershell.

1) [Source Control - Update](https://docs.microsoft.com/en-us/rest/api/automation/sourcecontrol/update)

2) [Update-AzAutomationSourceControl](https://docs.microsoft.com/en-us/powershell/module/az.automation/update-azautomationsourcecontrol?vie

[2019-08-07 06:45] nareshynn commented on #36619
Hi Kranthi,

Alex is working on US timing, Let us know your Availability in the IST evening timing to  work on the same.

[2019-08-07 06:46] linruhui commented on #31879
Can anyone help answer this question?

Do we have any plan to add these limitation of TCP connections in https://azure.microsoft.com/en-us/pricing/details/app-service/windows/ or azure portal when we choose the pricing tier for app service plan?

[2019-08-07 06:47] saeedeldah commented on #36575
@KetanChawda-MSFT
sorry I closed it by mistake I've opened another one
and open another one because I couldn't delete the closed one.

please find the opened issue in the following link

https://github.com/MicrosoftDocs/azure-docs/issues/36577

[2019-08-07 06:47] saeedeldah commented on #36566
@KetanChawda-MSFT
sorry I closed it by mistake I've opened another one
and open another one because I couldn't delete the closed one.

please find the opened issue in the following link

https://github.com/MicrosoftDocs/azure-docs/issues/36577

[2019-08-07 06:49] ManojReddy-MSFT commented on #35010
@Hbaele @bt102 Can you please confirm if you are still facing the issue?

If you are still facing the issue, please drop an email to azcommunity@microsoft.com with the user and tenant details to investigate further.

[2019-08-07 06:50] saeedeldah commented on #36576
@KetanChawda-MSFT
sorry I closed it by mistake I've opened another one
and open another one because I couldn't delete the closed one.

please find the opened issue in the following link

#36577

[2019-08-07 06:51] jakaruna-MSFT commented on #36179
Thanks @dlepow .
I have assigned this issue to you so that you can revert the doc once the images are cached.

[2019-08-07 06:52] CHEEKATLAPRADEEP-MSFT commented on #36628
@sqlenders  Screenshot is unreadable, due to the image has to fit in the aspect ratio of the page.

You may **right click** on the image and "**Open image in the new tab**" or "**ctrl +**" to zoom out the page.

[https://docs.microsoft.com/en-us/azure/data-factory/media/tumbling-window-trigger-dependency/tumbling-window-dependency01.png](https://docs.microsoft.com/en-us/azure/data-factory/media/tu

[2019-08-07 07:00] xwipeoutx commented on #33649
I've noticed there's now a warning at the top:

Pretty confusing - why mention it at all if it's not supported?

[2019-08-07 07:10] AjayKumar-MSFT commented on #36441
@bizinbarefeet, Apologies for any inconvenience and frustrated experience with this.
You have stated ‘I received an email about new recommendations”, could you please share a screenshot after concealing any private details for a closer look.
 As mentioned, this specific doc (on which you have opened this issue) that you’re referring to aims at providing steps for adding access restriction rules on

[2019-08-07 07:11] ToMakeSense commented on #36560
@PramodValavala-MSFT  Yeah, I could search to find the `Logic Apps Management (Preview)` solution, but it's impossible to find the `Management Solutions list` like before.

It's OK to change the UI, however, we also need the filtered Marketplace to display the `Management Solutions list` that is specific for OMS.

[2019-08-07 07:16] MoRMongol opened #36629 "Need help with CA certificate"
We own our custom domain name and are trying to use it for AADDS. AADDS has been deployed successfully and its status says "Running/healthy". We want to use it with a service called "Uniflow" by Canon Managed Printing Services (CMPS). This service requires AADDS SLDAP (Secure LDAP) which requires *.PFX file. Where do we get that? Is it possible to create our own Windows Certificate Server so we do

[2019-08-07 07:21] joaomaltez commented on #36582
@FrankHu-MSFT Thanks for your feedback. Let's assume that I want to develop my own application and I want to use that application to do automate things in the Azure AD such as adding/removing users to/from AD groups. Is there an API that I could use for that? If so, does this API follow the SCIM standard? Thanks in advance.

[2019-08-07 07:21] AjayKumar-MSFT commented on #36262
@FindingNamo, The '[filtering](https://docs.microsoft.com/azure/app-service/webjobs-sdk-how-to#log-filtering)' URL/section in the doc as mentioned does provide LoggerFactory context. Hope that helps and this issue is good to be closed or please do let us know if you think it needs more clarity around on this topic.

[2019-08-07 07:23] munir94 commented on #36430
sure, hope to received the update soon

[2019-08-07 07:24] linda33wj commented on #34443
Thanks all for the inquiries and feedback. You are right that when modified date filter is used, only files will be returned in child items but no sub-folders. We have clarify the behavior in the doc - see note at https://docs.microsoft.com/en-us/azure/data-factory/control-flow-get-metadata-activity#metadata-options.

#please-close

[2019-08-07 07:24] #34443 closed

[2019-08-07 07:27] cephalin commented on #31879
@linruhui  Sorry for the delay. We're still tracking down the numbers for free and shared tiers. When we have all the numbers then we can publish them.

[2019-08-07 07:31] cephalin commented on #36608
@crgarcia12 Thanks for the feedback. However the tutorial isn't necessarily about how to cover all the possible approaches. Having said that, I've just published the steps for getting it to work with EF in .NET Core 2.2. It also works with database migrations. Hope that helps folks with .NET Core 2.2.

[2019-08-07 07:31] cephalin commented on #36608
#please-close

[2019-08-07 07:31] #36608 closed

[2019-08-07 07:32] cephalin commented on #35536
@fabich Thanks for pointing out an outdated note. I've published the steps for getting .NET Core 2.2 to work with MSI now. Thanks.

#please-close

[2019-08-07 07:32] #35536 closed

[2019-08-07 07:33] cephalin commented on #33098
@mitulsuthar The doc now includes steps for .NET Core 2.2. Thanks.

#please-close

[2019-08-07 07:33] #33098 closed

[2019-08-07 07:37] TeeMakk commented on #35483
@Karishma, please can you follow up with Yashesvi privately on the issue...thank you

[2019-08-07 07:48] bizinbarefeet commented on #36441
Sorry AjayKumar – I have nowhere enough time to keep debugging Microsoft software for free.

Please follow your won process and discover the black hole of no information

Cheers

MARK PHILLIPS

Entrepreneur • Mentor

Business in Bare Feet
CONNECTING INNOVATION & ENTREPRENEURS
TO A WORLD OF OPPORTUNITY

Te
+61 414 870 227
+33 7 66 80 81 71

________________________________________

Australia -  USA

[2019-08-07 07:49] robinho81 opened #36630 "Getting ProviderFailed status when deploying pods to Virtual node"
I have followed every step in the tutorial to setup my AKS cluster with a Virtual node. But when I deploy pods to the Virtual node I get the status "ProviderFailed". I have tried this 3 times now, starting from scratch in case something went wrong or I missed a step the first time. I get the same error.

When I run "az provider list --query "[?contains(namespace,'Microsoft.ContainerInstance')]" -o

[2019-08-07 08:08] kazshi opened #36631 "P2SDiagnosticLog"
I got P2SDiagnosticLog on VNet-to-Vnet connection. I assumed that the log is generated on Point-to-Site connection only.
Are all the diagnostic logs generated on all the connections?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4f81d07-fd9a-c911-b9b7-c2aa3c298f5b
* Version Independent ID: 96a5f6c6-e7eb-57a3-8e64-c22

[2019-08-07 08:11] msrini-MSFT commented on #36631
@kazshi , Do you have a P2S configuration on the VPN gateway where you have a VNET to VNET connection?

P2S logs are generated for only events and control channel logs of P2S.

Let me know if you have any further questions.

[2019-08-07 08:25] robinho81 commented on #36630
Found the problem and it is now working.

I have been testing the Virtual Node using some of my existing YAML deployment files.

My deployment file had the following defined in "resources":

[code]

Now I'm assuming that resource requests and limits don't quite apply when deploying to the Virtual Node. (Which makes sense)

Once I removed the resource requests and limits from the deployment file ev

[2019-08-07 08:25] ManojReddy-MSFT commented on #36623
@damiura Thanks for reporting this. I have updated the document with the latest description. It will be published shortly.

[2019-08-07 08:27] xenalite commented on #36562
@msrini-MSFT Hello. Thank you for the update.

I have a back-end certificate signed by an internal CA, so the chain is not fully known to Front Door.
HTTPS health probes are not healthy in this case.

The certificate Subject Alternative Names match the host name.

[2019-08-07 08:28] kazshi commented on #36631
@msrini-MSFT Thanks for your comment. Unfortunately I deleted the resource group containing the VPN Gateway but I saw the P2SDiagnosticLog was generated - I'm not sure if I had a P2S configuration, I will check.

I have an another related question. I understand the GatewayDiagnosticLog is generated on all connections, all the other diagnostic logs (except P2SDiagnosticLog) are generated on all con

[2019-08-07 08:35] VikasPullagura-MSFT commented on #36630
@robinho81 Thanks for your feedback and confirming that it is working now. We will check and add a Note for this in the document.

[2019-08-07 08:37] TiNovTec opened #36632 "Missing info ( select gameObject AzureSpatialAnchors )"
The sentence "In the Inspector pane, enter the Sharing Anchors Service url..." should be "In the Hierarchy window select the gameObject AzureSpatialAnchors. In the Inspector pane, enter the Sharing Anchors Service url..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5ab74c7-be94-69c4-04c9-312ed85213b7
* Version Inde

[2019-08-07 08:47] hung-doan opened #36633 "What is the different between USqlScriptTestRunner & LocalRunHelper approach ?"
As I see that I can execute my script by using USqlScriptTestRunner  or LocalRunHelper.
If I create a Unit Test from Visual Studio template, It will use USqlScriptTestRunner.
However in the U-SQL SDK documentation, It also mentions the "LocalRunHelper".

So what is the different between them & which is the preferable way to do the Unit Test for U-SQL ?

---
#### Document Details

⚠ *Do not edit th

[2019-08-07 08:52] ADringer opened #36634 "Performing search.in on an Int32 field"
Is it possible to do `search.in` on a numeric field, or number only? I have a productId field that is defined as `Edm.Int32` and would like to filter on this e.g. `search.in(productId, '1,2,5', ','). However this comes up with an error which I believe is because it's an int, not a string,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-08-07 08:55] KalyanChanumolu-MSFT commented on #36094
@trieuduong1602 Thank you for reporting this issue.
I have checked this internally and confirmed that the text on the tool tip is misleading.
It will be fixed at the earliest.

Scheduled scans run every Sunday (unless a database was unavailable in which case it will run the scan at the earliest possible time thereafter).
If you need to scan immediately, you can initiate it manually.

We will proce

[2019-08-07 08:55] #36094 closed

[2019-08-07 09:16] GlenQu commented on #36581
Perfect.  I am now able to access.  Thanks for your help.

[2019-08-07 09:16] #36581 closed

[2019-08-07 09:18] Luukxt8 commented on #35337
@laultman is right. See screenshot. Still unable to exclude users in CSP subscriptions.
![image](https://user-images.githubusercontent.com/50046608/62610972-03b9e400-b905-11e9-88a4-7f092692fb99.png)

[2019-08-07 09:23] tdihp commented on #36291
I understand the multi-nodepool scenario is in preview, so it's also OK to add the note in multi-nodepool article for now.

[2019-08-07 09:25] ChiragMishra-MSFT commented on #36633
@hung-doan Thanks for the question. We are investigating into the issue and will update you shortly.

[2019-08-07 09:33] rayne-wiselman commented on #36594
Thanks for your feedback! The doc is correct for the support statement.

Site Recovery is application-agnostic as long as environment/VM/physical server meets support requirements. You can review supported operating systems in our support matrix articles. For example - https://docs.microsoft.com/en-us/azure/site-recovery/vmware-physical-azure-support-matrix.

[2019-08-07 09:34] msrini-MSFT commented on #36631
@kazshi , Here are the explanation of what will be logged in each Log categories:

GatewayDiagnosticLog | Contains diagnostic logs for gateway configuration events, primary changes and maintenance events
-- | --
TunnelDiagnosticLog | Contains tunnel state change events. Tunnel connect/disconnect events have a summarized reason for the state change if applicable
RouteDiagnosticLog | Logs changes to

[2019-08-07 09:35] meieda opened #36635 "Storage Type"
although Standard SSD is not supported for production system, this document says "Use Azure Standard SSD storage as minimum for VMs representing SAP application layers and for non-performance sensitive DBMS deployment".
It makes audience to mis-understand that Standard SSD can be used in any landscape. As long as MSFT doesn't get certification for Standard SSD, the expression must be corrected and

[2019-08-07 09:40] avi2183 opened #36636 "Azure Data Factory V2 - UnexpectedDatasetSchema"
Hello,

I am trying to setup data warehouse on azure. while creating data set for source and destination, copy data template giving error as:

Operation name
Write Datasets

Error code
UnexpectedDatasetSchema

Message
Dataset 'DestinationDataset_7rq' cannot have both structure and schema.

I am copying some 150 around tables, in which some are exact structure and some are by selected columns only.

[2019-08-07 09:43] garybond commented on #35159
We've fallen foul of this same issue, when trying to use Ocelot environment specific configuration files. In DevSpaces, ocelot.Development.json is not being included when it is listed in .gitignore, as it contains a developer-specific namespace for service discovery in Kubernetes:

[code]
[code]
[code]

[2019-08-07 09:54] Trinakriae opened #36637 "What's the value of REACT_APP_BASE_SERVICE_URL to deploy locally?"
In order to deploy the solution locally, it is not specified in the documentation what's the value of the environment variable REACT_APP_BASE_SERVICE_URL in the WebUI. I tried to put http://localhost:9000 since I was expecting nginx acting as an API  Gateway/Reverse Proxy but I always get 503 - Service Unavailable. May you please help?

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-08-07 09:58] lkoppenol commented on #14815
i have the same issue. I am using either `--target-condition deviceId="'iot-edge-linux-vm1'"` or `--target-condition '*'`.

When I open the deployment in the portal and execute the query it does show 1 device. If I save it again (no changes) in the portal then it does apply it. It appears my device is only triggered from the portal and not from the commandline. Please advice!

[2019-08-07 10:04] lkoppenol opened #36638 "module not deployed to device"
I am deploying from commandline. IoT Hub Portal shows 0 targeted devices. Doing the exact same thing from portal does work. I am using either --target-condition deviceId="'iot-edge-linux-vm1'" or --target-condition '*'.

When I open the deployment in the portal and execute the query it does show 1 device. If I save it again (no changes) in the portal then it does apply it. It appears my device is

[2019-08-07 10:08] TiNovTec opened #36639 "Azure Cosmos DB Requests"
I installed the app on Android and placed three anchors successfully and also found these anchors in another session.. but my Cosmos DB shows "Total Requests: 993"..... -Isn't this a little bit too much for playing around for 5 minutes, three anchors and only one user ?
Can I set the update cycle in Unity to reduce the costs ?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-08-07 10:13] ankhuve commented on #28505
Did you ever find a solution? Me and my colleagues are currently ramming our heads into the wall over this, jumping from one insufficient docs page to another, trying to follow broken links all over the place..

I'm trying to get my PHP app's logs/files/anything at all to show up in Kudu/in a storage account/anywhere I can reach them.

My app's container log files exist in /home/LogFiles/logs (sym

[2019-08-07 10:22] dzoech commented on #26599
Any updates on this one?

[2019-08-07 10:22] Tainum opened #36640 "Hi"
hi

---
#### รายละเอียดเอกสาร

⚠ *อย่าแก้ไขส่วนนี้ กำหนดให้ต้องจัดทำ docs.microsoft.com ➟ การเชื่อมโยงปัญหา GitHub*

* ID: 7f08a5b8-5d07-c53d-8ff2-04cf7a146e5a
* Version Independent ID: 2f277d08-e5ab-7ab9-865d-d70f887a3bc4
* Content: [What is Video Indexer?](https://docs.microsoft.com/th-th/azure/media-services/video-indexer/video-indexer-overview#feedback)
* Content Source: [articles/media-servic

[2019-08-07 10:29] lkoppenol commented on #36638
if I run the same command from Azure DevOps (release pipeline azure cli) it does work however...

[2019-08-07 10:31] iamanuradha opened #36641 "Regarding execution of this batch prediction example"
I followed the batch prediction example on this page and trying to execute it. The execution of this pipeline has never completed, its status is always displayed as running or queued even in the web view.
Do we have another example for batch prediction?
Also if I have models deployed as web service, how can I consume those for batch prediction?

---
#### Document Details

⚠ *Do not edit this secti

[2019-08-07 10:37] ankhuve opened #36642 "Mounting custom storage in docker-compose file"
I'm desperately trying to mount a folder in my container to an external volume (Kudu, or separate Azure storage) to access my application's log files since the Docker logs don't contain what I need.

The output of az webapp config storage-account list --resource-group my_group --name my_app is the following:
[code]
I assume the "name" property corresponds to &lt;custom-id&gt; in the docs, so I put

[2019-08-07 10:39] arnab21 opened #36643 "Access token header is incorrect"
The code in the section "Call API securely from server code" mentions the AAD access token header as "Request.Headers["x-ms-token-aad-access_token"]);". However the actual header name propagated by Easyauth is "x-ms-token-aad-access-token". The underscore should replaced by "-"; otherwise this sample does not work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2019-08-07 10:42] Lokir commented on #28505
It's several months since I last looked at this, but yes I did find a solution (eventually).

what the docs didn't say at that point, and probably still doesn't, is that you need to attach the WEBAPP_STORAGE_HOME to a storage account using the webapp configuration panel.

My main issue was that I was trying to connect the webapp_storage_home to a mongoDB inside my docker-compose, which IS NOT SUPP

[2019-08-07 10:49] TiNovTec commented on #36639
I just asked the app (only) for an anchor number that does not exist and it added 300+ requests ( currently 1,32K ). oO

[2019-08-07 10:53] ashwini-git commented on #36565
Tensorflow/serving GPU image - `docker pull tensorflow/serving:latest-gpu`
Region - West US 2

i copied my ML model into standard tensorflow/serving:latest-gpu and the customized version is available at my docker - `docker pull ashwiniprakash/objectdetection:work-place-safety-dhub-gpu`

I am able to create and connect to ACI for the CPU version of the same image. It's the GPU version I am facing i

[2019-08-07 11:11] zak-nye opened #36644 "Incorrect/unnecessary package reference?"
This page says to add a reference to the  Microsoft.Azure.AppConfiguration.AspNetCore NuGet package which seems appropriate for ASP.NET, but for a simple .NET core console app wouldn't it be better just to add Microsoft.Extensions.Configuration.AzureAppConfiguration?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14ccd

[2019-08-07 11:11] ankhuve commented on #28505
@lokir
Oh, thanks! I'll try to set the WEBAPP_STORAGE_HOME and see what happens.

[2019-08-07 11:15] AjayKumar-MSFT commented on #36643
@arnab21, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2019-08-07 11:21] AjayKumar-MSFT commented on #36634
@ADringer, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-08-07 11:26] VikasPullagura-MSFT commented on #36635
@meieda Thanks for the feedback on the document. I am assigning the issue to the author for getting this addressed.

[2019-08-07 11:27] VikasPullagura-MSFT commented on #36635
@msjuergent Can you please have a look at this document feedback and add your comments.

[2019-08-07 11:28] VikasPullagura-MSFT commented on #36622
@dcbrown16 Thanks for the feedback on the document. I am assigning the issue to the author for appropriate changes to be made as applicable.

[2019-08-07 11:28] VikasPullagura-MSFT commented on #36622
@Heidilohr Can you please add your comments and update the document as required.

[2019-08-07 11:29] phw198 commented on #28597
For me, we are syncing multiple domains to Azure and _one_ of them did not have the OU permissions it needed on (Change password, Reset password, Write lockoutTime, Write pwdLastSet). Once rectified I also took these steps, but they may not have been necessary:
* Removed Password Writeback from AADConnect configuration on the relevant connector
* Waited for delta sync to complete
* Added Password

[2019-08-07 11:41] lkoppenol opened #36645 "change module image from cli - json property with dot/period?"
I cannot find out how to change a json property past `properties.desired`, which is a single *default* tag with a dot/period in it. I have been trying many many things.

For example:
`az iot edge deployment update --deployment-id demoimage1-6 --hub-name iot-hubski --set content.modulesContent.'$edgeAgent'.'properties.desired'.modules.'demoimage1-latest'.settings.image=demoworkspac2478a907.azurecr.

[2019-08-07 11:41] cosmin-ciuc opened #36646 "No mention of pricing tier required"
This document doesn't specify that in order to use batch transcription your cognitive services pricing tier must be Standard (S0). The batch transcription feature is not available with pricing tier Free (F0).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73fb7e76-fb80-c420-2efe-e3ca3a27b749
* Version Independent ID: 0

[2019-08-07 11:44] danielquest commented on #17939
I still have a question about the topic.

As @axisc said "AZ provides fault isolation within the same region."

Scenario:

We have the Service Bus deployed on East US 2 that so even though with AZ enable if the Region East US 2 goes down by a disaster the Service Bus would become unavailable?

In that case Availability Zones does not make failover redundant?

If availability is crucial for the bus

[2019-08-07 11:50] JasperCodes opened #36647 "How does one remove a delegation?"
I can succesfully delegate a subscription to my service provider tenant. But how are you supposed te remove the delegated subscription from the service provider tenant?

Running a `Remove-AzureRMDeployment` removes the deployment but not the delegation.

With delegated resourcegroups the delegation can be removed by deleting the resourcegroup but this is not practical for subscriptions.

---
####

[2019-08-07 12:08] Shaktikantpadhi opened #36648 "How to get all the citation information from an mentioned Article using MAG-Academic Knowledge API(Academic Search API)"
How to get all the citation information from an Article by the help of GET/POST request.
Also, I want to pass the  'CITATION_ID' or 'DOI' content in the GET/POST request parameter.

[2019-08-07 12:10] #36623 closed

[2019-08-07 12:13] LHTech-Analytics commented on #36574
Hi @MartinJaffer-MSFT, thanks for the update and my apologies for coming across as distressed. Just can be somewhat frustrating getting stuck like this.

The crux of the issue is that I am using the **visual interface (ADF UI** as per screenshot above) that does not require manually writing the JSON to create linked services to the web service and the input and output files. The docs however just

[2019-08-07 12:14] RohitMungi-MSFT commented on #36641
@iamanuradha Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-08-07 12:14] ManojReddy-MSFT commented on #34906
@mliudev Thanks for the sharing the details.

@rwike77 Can we include this information in the doc?

[2019-08-07 12:14] RohitMungi-MSFT commented on #36646
@cosmin-ciuc Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-08-07 12:16] LHTech-Analytics commented on #36574
Hi @nabhishek, I see you've been assigned to look at this. I've just added some more info above so hoping you can provide some clarity.

Thanks,

Luke

[2019-08-07 12:19] AjayKumar-MSFT commented on #36642
@ankhuve, Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-07 12:28] Logan-IN commented on #19569
@Karishma-Tiwari-MSFT , Any further update on this thread. I know this thread is very old and not sure this is still monitored. We are also having our own image and in the same situation. It would great if you guys can assist us to get the sku details. Thanks you!

[2019-08-07 12:30] sameersegal commented on #35106
Hi, I am facing a similar error while trying to work on custom linux image. I have narrowed it down to customization script. If I remove the build path and the inline customization script, the image does get built successfully. If I have an entry in the inline customization script it fails.

I have tried different options - make it a single line command with semicolons`;`, added commas at the end

[2019-08-07 12:32] arberberisha-icemobile commented on #30531
We are also having the same issue when deploying using Azure DevOps. However, we got the cleanup PowerShell script from this docs, adapted for your needs and added in the as a step in our Release Pipeline. Now everything works well.

[2019-08-07 12:32] jakaruna-MSFT commented on #36460
@torchy-newman  is there any update

[2019-08-07 12:33] KetanChawda-MSFT commented on #36575
My Colleague @PramodValavala-MSFT  is working with you on the referenced issue [#36577](https://github.com/MicrosoftDocs/azure-docs/issues/36577).

[2019-08-07 12:34] KetanChawda-MSFT commented on #36576
@saeedeldah My Colleague @PramodValavala-MSFT is working with you on the referenced issue [#36577](https://github.com/MicrosoftDocs/azure-docs/issues/36577).

[2019-08-07 12:42] SamaraSoucy-MSFT commented on #36644
@zak-nye Thank you for your feedback. We will look into it and get back to you shortly.

[2019-08-07 12:49] PramodValavala-MSFT commented on #36528
@xieb0001 My bad. I misread the ask totally.

The newer library uses AMQP and [implements batching](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/servicebus/Microsoft.Azure.ServiceBus/src/Core/MessageSender.cs#L540) at the protocol level. You would still use the same SendAsync API and can even send a list of messages with the [`SendAsync(IList<Message>)`](https://docs.microsoft.com/en

[2019-08-07 12:50] KrishnaG-MSFT commented on #36647
@JasperCodes Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-08-07 12:55] hsubramaniam opened #36649 "Azure App service IP restrictions - IP Spoofing"
- Azure App Service - IP restrictions
- https://docs.microsoft.com/en-us/azure/app-service/app-service-ip-restrictions
- No mention of how IP restriction works

I am trying to understand how IP restrictions work for external incoming traffic. Does it look at the source IP in the packet and if its blacklisted it drops it? I am trying to understand if it guards against IP spoofing as well and if it

[2019-08-07 13:01] ankhuve commented on #36642
I've also tried adding the web app setting WEBAPP_STORAGE_HOME=appdata in the application settings of the web app and running the following docker-compose:
[code]
Still getting nothing.

[2019-08-07 13:05] neilamoran opened #36650 "KeyVault references - are returned values cached in the App Service"
Can you please clarify whether the value returned would be cached on the App Service (at least up until a restart) or if it would incur a request to KeyVault every time that App Setting was queried by the code?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7feaa3d0-7233-a3cb-cb9b-a9a55b1f0d7a
* Version Independent ID:

[2019-08-07 13:11] PramodValavala-MSFT commented on #36577
@saeedeldah [Here](https://github.com/Azure/azure-service-bus/blob/master/samples/DotNet/Microsoft.Azure.ServiceBus/DeadletterQueue/Program.cs#L148) is the sample for receiving messages from the deadletter queue.

[2019-08-07 13:15] AlexFiala commented on #36619
Hi @KranthiPakala-MSFT .  Yes, I am triggering the first pipeline which calls the iterate pipeline.  I have also verified I can preview the data of from the query:

![image](https://user-images.githubusercontent.com/24661916/62625570-7c17a980-b8f3-11e9-82df-8f5f366b513b.png)

When I click the parameters value column is empty, in the Monitor blade, as shown in my previous comment.

[2019-08-07 13:20] drewf7 commented on #34302
That's awesome! I'm guessing we can just close this then?

Thanks for helping/looking into it!

[2019-08-07 13:29] saeedeldah commented on #36577
No

I've created a sender and receiver using this package "Microsoft.Azure.ServiceBus" and everything is working without any issues.

the code
**Sender:**
[code]
**Reciever:**
[code]

However, when I tried to write a code to clear the dead letter queue I found that all the samples are using this package "Microsoft.ServiceBus.Messaging"  which is not compatible with .Net core and cause a lot of run

[2019-08-07 13:47] maximnix commented on #36592
Yes this is very surprising it wasn’t reproduced for you! My customer also got it to work after making the change I provided. You’ve used which image? Let me grab the image version we’re using on our end...

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Micah <notifications@github.com>
Sent: Tuesday, August 6, 2019 4:17:34 PM
To: MicrosoftDocs/azure-docs <azure-

[2019-08-07 13:53] PramodValavala-MSFT commented on #36413
@mhabibal13 Just following up here... Hope my previous comments helps a bit.

To answer your query better, could you please share details on why your scenario entails that many listeners and what those clients do.

[2019-08-07 14:00] mhabibal13 commented on #36413
Hello Pramod,

thank you for your suggestions/workarounds. I will be searching into the solution of Azure EventGrid Integration. This might be helpful. However the one with the HTTP API is irrelevant for me, since I am having an application with more than 20 000 clients receiving/sending messages to Azure Service Bus namespaces. Thus I need at least 4 namespaces.

These clients might be all commun

[2019-08-07 14:02] Alberto-Vega-MSFT commented on #36231
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-07 14:02] #36231 closed

[2019-08-07 14:04] PramodValavala-MSFT commented on #36413
@mhabibal13 Could you confirm if all these clients would be continuously active throughout the day and are all unique clients (separate processes)?

[2019-08-07 14:07] mhabibal13 commented on #36413
Yes these are independent unique clients running continuously during the day.

[2019-08-07 14:11] bobbytreed commented on #36512
A standard Automation account still comes with AzureRM modules built-in.  Making all samples Az cmdlets would force all new users of Automation to first update all modules.  We are working on a fix.

#please-close

[2019-08-07 14:11] #36512 closed

[2019-08-07 14:12] Alberto-Vega-MSFT commented on #36252
Since we haven't heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-07 14:12] #36252 closed

[2019-08-07 14:14] Alberto-Vega-MSFT commented on #36257
Since you will be getting help from support we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-07 14:14] #36257 closed

[2019-08-07 14:17] AjayKumar-MSFT commented on #36441
I wish to engage with you offline further for a closer look and to provide a specialized assistance, If it’s fine, could you please send an email to me -AzCommunity[at]Microsoft[dot]com referencing this GitHub issue. I will now proceed to close this thread, hoping to work with you offline. Please accept my sincere apologies.

[2019-08-07 14:17] Trinakriae commented on #16843
@dominicbetts, sorry if I open again the topic but I am having trouble with the deployment of my WebUI solution. I modified the WebUI functionality and look & feel and I tested against my remote deployment of the services. Now I would like to publish my WebUI in order to replace the existing one but I am having trouble in the above mentioned point, the one concerning build and publish scripts. I o

[2019-08-07 14:18] Alberto-Vega-MSFT commented on #36350
@liydu Would you please review the issue and the PR? Thanks!

[2019-08-07 14:18] PramodValavala-MSFT commented on #36577
@saeedeldah The deadletter queue is a queue (subqueue actually) itself, which you have to connect to and process messages. In order to clear the deadletter queue, you would just have to connect to it (refer [sample](https://github.com/Azure/azure-service-bus/blob/master/samples/DotNet/Microsoft.Azure.ServiceBus/DeadletterQueue/Program.cs#L148)) and call [`CompleteAsync`](https://docs.microsoft.com

[2019-08-07 14:21] #36441 closed

[2019-08-07 14:22] MrLokeshV opened #36653 "How to pass multiple partition Key to Store Procedure"
Hi Team,
I have to pass multiple partition key in store procedure is there any way to achieve this in azure portal. ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14913a18-671a-c55f-d082-e750bec7baab
* Version Independent ID: 9cc08ba2-a79f-3ee2-9beb-8919f77d10d3
* Content: [How to write stored procedures, triggers, a

[2019-08-07 14:25] StingyJack opened #36654 "Please update this to refer to NCRONTAB expressions and not CRON expressions"
The timer trigger page has been updated recently to remove the confusion regarding this.

https://docs.microsoft.com/en-au/azure/azure-functions/functions-bindings-timer#ncrontab-expressions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24523dbf-010f-b844-5ff0-88192eac8849
* Version Independent ID: d7ef5962-d94c-96d0-

[2019-08-07 14:27] ManojReddy-MSFT commented on #36629
@MoRMongol I think all your questions are answered in this [section](https://docs.microsoft.com/en-us/azure/active-directory-domain-services/configure-ldaps#requirements-for-the-secure-ldap-certificate).  Take a look at this and I will help you if you still have any questions regarding this.

[2019-08-07 14:32] AjayKumar-MSFT commented on #36640
@Tainum, Thanks for leveraging Azure docs feedback channel! It looks like you have missed submitting the feedback or comments. Could you please let us know if you have any specific feedback on the document ([What is Video Indexer](https://docs.microsoft.com/azure/media-services/video-indexer/video-indexer-overview#feedback)?) from which you have raised this issue? Please provide more details on yo

[2019-08-07 14:33] clemensv commented on #36413
The connection count is as much of a bounding quota limitation of a namespace as the messaging units are, even though messaging units don’t linearly tie up to the connection count. Since Service Bus is typically used as a "middle tier" broker, the quota limitation is commonly not an obstacle, and to keep resource usage balanced, we can't adjust those quotas individually. If you need 80,000 msg/sec

[2019-08-07 14:41] aodugga commented on #36226
No worries Rachel!

From: Rachel Agyemang <notifications@github.com>
Sent: Thursday 1 August 2019 18:26
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Aoife Duggan <aodugga@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Add a warning for increasing storage via CLI (#36226)

@aodugga<https://nam06.safelinks.protection.outlook.com/?url=

[2019-08-07 14:42] AidanTfL commented on #30924
Would it be possible to please include the ARM Template (IaC) example for 'requiring HTTPS transfer only' in this article?

[2019-08-07 14:49] Yashuaaa commented on #33827
This example is trash. Microsoft why do you post broken examples? Are monkeys in charge of posting your documentation? What a waste of time reading this article.

using Microsoft.Azure.Storage.File DOESN'T EVEN EXIST. Other classes that don't exist

CloudFileClient
CloudFileShare
CloudFileDirectory

[2019-08-07 14:49] Yashuaaa opened #36655 "This example is trash"

[2019-08-07 14:55] chiran100 opened #36656 "Unable to create az multi zone aks cluster"
Hi,

I am following the documentation - https://docs.microsoft.com/en-us/azure/aks/availability-zones to create multi zone aks cluster.
I have followed all the steps but issuing az aks create i get error.

Command:
az aks create --resource-group chirantestrg --name chiranaksazpoc1 --kubernetes-version 1.13.5 --generate-ssh-keys --enable-vmss  --load-balancer-sku standard --node-count 3 --node-zone

[2019-08-07 14:57] neeleshray-msft commented on #36627
@jeevansd  Kindly update the screenshot with the spelling correction in the document at [this section](https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/saml-toolkit-tutorial#configure-azure-ad-saml-toolkit-sso)

[2019-08-07 14:58] yujhongmicrosoft commented on #17434
closing issue #17434

[2019-08-07 14:58] yujhongmicrosoft commented on #17434
triaged

[2019-08-07 14:59] sochan1 commented on #35577
unable to create the cluster, fails with below error

Operation failed with status: 'Bad Request'. Details: Internal server error

[2019-08-07 14:59] sochan1 opened #36657 "unable to create cluster"
gets below error:

Operation failed with status: 'Bad Request'. Details: Internal server error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 471c32a2-1f6a-88d1-7df4-80b8f6fbc4a4
* Version Independent ID: 10de5ee1-942d-e30f-5f0c-f163bd45904d
* Content: [Use Availability Zones in Azure Kubernetes Service (AKS)](https://

[2019-08-07 15:02] bobbytreed commented on #36593
I updated the doc to close this issue to say that Windows Server 2008 R2 and **later** is supported.  This is the case as far as I know.
#please-close
#35271

[2019-08-07 15:02] #36593 closed

[2019-08-07 15:03] Yashuaaa opened #36658 "Horrible broken documentation https://docs.microsoft.com/en-us/azure/storage/files/storage-dotnet-how-to-use-files"
This example is trash. Microsoft why do you post broken examples? Are monkeys in charge of posting your documentation? What a waste of time reading this article.

using Microsoft.Azure.Storage.File DOESN'T EVEN EXIST. Other classes that don't exist

CloudFileClient
CloudFileShare
CloudFileDirectory

[2019-08-07 15:04] Yashuaaa commented on #33827
@gojanpaolo How were you able to fix this? I posted a new issue

[2019-08-07 15:07] eugenpodaru commented on #35449
@papatrickgalbraith I came across the same problem as you, and while the proposed request to persist the session (and implicitly the global temporary tables) across multiple activities will solve the problem, I think it's rather unlikely to be implemented. A more reasonable request in my opinion is to have a postCopyScript for the copy activity, the same way we have a preCopyScript. This way you c

[2019-08-07 15:08] markjbrown commented on #36653
Passing multiple partition key values is not possible as stored procedures are scoped to a single partition key. Please see this article on working with stored procedures for Cosmos DB.

https://docs.microsoft.com/en-us/azure/cosmos-db/stored-procedures-triggers-udfs#scope-of-a-transaction

Thanks.

[2019-08-07 15:08] #35143 closed

[2019-08-07 15:09] mrbullwinkle commented on #35878
@glav Thank you for bringing this to our attention! The update to the doc to fix this is merged internally. It will go-live in the public docs later today. Thanks again for helping to improve our docs!

[2019-08-07 15:09] mrbullwinkle commented on #35878
#please-close

[2019-08-07 15:09] #35878 closed

[2019-08-07 15:09] jaswanthpadigala commented on #24858
Hi Jeevan, looks like the app doesn't support the latest Jira version 8.3.1 yet though Jira shows the app is compatible in the admin console. The login button is not visible in the login page inspite of enabling the app and checking all the settings. Have you tested this and is there a plan to release a compatible version in the near future?

[2019-08-07 15:11] mplwork commented on #32959
This is still wrong or again wrong. It starts with that there is no V3/V4 SDK option anymore and ends with a bot that doesn't answer properly to a `hello' (presumably, a greeting intent is missing in the LUIS model). The referenced source files don't exists and so on. This is no help but utterly confusing.

[2019-08-07 15:12] #33032 closed

[2019-08-07 15:18] Karishma-Tiwari-MSFT commented on #36657
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-07 15:18] Mike-Ubezzi-MSFT commented on #36457
@pradeepramadasan You will see the following error:

Please see the following Stack Overflow thread, as it details the issue perfectly: Azure CosmosDB - Partition key reached a maximum size of 10 GB ([link](https://stackoverflow.com/questions/48034580/azure-cosmosdb-partition-key-reached-maximum-size-of-10-gb))

[2019-08-07 15:19] DCtheGeek commented on #35915
@alexandair Thanks for pointing this out.  Looks like the doc was pointing to an old docker image.  I've updated the doc to point to the current and maintained [Powershell Docker image](https://hub.docker.com/_/microsoft-powershell).  This issue will self-close when the PR is merged.  Thanks!

[2019-08-07 15:20] brjohnstmsft commented on #36634
@ADringer The `search.in` function supports string fields only.

[2019-08-07 15:21] Karishma-Tiwari-MSFT commented on #36656
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-07 15:22] eugenpodaru commented on #35449
I looked, and there is already a request for that https://feedback.azure.com/forums/270578-data-factory/suggestions/34617748-post-copy-script-in-copy-activity

So please support it!

[2019-08-07 15:24] #35915 closed

[2019-08-07 15:25] PatricioVidal opened #36659 "Routes in "Build and debug IoT Edge solution with multiple modules" are wrong."
The routes in "Build and debug IoT Edge solution with multiple modules" have two errors:
1. The module names have a typo: the 't' in IoT should be lower-case. It should be IotEdgeModule.. and not IoTEdgeModule..
2. The name of the temperature sensor module is tempSensor and not SimulatedTemperatureSensor.

The routes section should be:
` "routes": {`
`  "IotEdgeModule1ToIoTHub": "FROM /messages/mo

[2019-08-07 15:27] Mike-Ubezzi-MSFT commented on #36511
@avbhaskar Thank you for this additional detail. I am going to reopen this issue and assign to the content owner for review.

[2019-08-07 15:28] rellington71 opened #36660 "Works about 50% of the time"
Testing multiple sign-ins using Firefox and my authenticator app only displays the choice of 3 numbers about 50% of the time. Other times it just sits there at the rolling code for my account while the logon page is displaying the number to tap on.

However, if I close the authenticator app and re-open it before my chance to tap the number times out the authenticator app immediately displays the c

[2019-08-07 15:31] Mike-Ubezzi-MSFT commented on #36511
@tfitzmac Just want to make sure nothing gets dropped here, so if there is a PR I can execute to have one of the docs updated given that the ask is to have multiple docs updated. Pulling in @stevestein for awareness since the ARM templates have an SQL focus.

[2019-08-07 15:32] DCtheGeek commented on #35917
@alexandair Perfect.  Thanks for the clarification and the feedback.  I've updated the doc and this issue will self-close when the PR merges.  Thanks again!

[2019-08-07 15:32] Mike-Ubezzi-MSFT commented on #36511
Considering this a doc-enhancement.

[2019-08-07 15:33] anugrahasinha opened #36661 "Register model : model path needs to be cloud path (clearly state)"
The model path needed for registering the model, should be a path which the "score.py" can reference, that is, a cloud path.

So, if the model file is coming from outside, and is available on local system, then ideally, we should upload the file using a Azure Storage SDK (something like def_blob_storage.upload_files) to upload model file so that it could be used properly.

---
#### Document Detail

[2019-08-07 15:33] rellington71 commented on #36660
This is using the latest Authenticator app on iOS 12.4/iPhone XR while the Authenticator app is already open on the iPhone.

[2019-08-07 15:34] #36643 closed

[2019-08-07 15:34] sebagomez commented on #28505
This was my revelation when it comes to storage mounting on Azure Containers. I opened this issue 4 months ago and the documentation is still not fixed.

1) You have to set the WEBSITES_ENABLE_APP_SERVICE_STORAGE variable to true
2) You have to create a New Azure Storage Mount to your Azure Storage account, it doesn't matter what you put on the path, as it is useless at the moment, the important t

[2019-08-07 15:39] mayoatte commented on #11450
I ran into this problem today. What is the final solution?

[2019-08-07 15:43] DCtheGeek commented on #36487
@Nimleth Thanks for the question!  This policy sample uses a `anyOf` to say that if either of the underlying conditions are true to perform the effect (**deny** in this case).  The first check looks at the _type_ of `Microsoft.Network/virtualNetworks`.  On this type, the alias is the \[\*\] alias, so uses that for the comparison.  The second check looks at the _type_ of `Microsoft.Network/virtualN

[2019-08-07 15:43] #36487 closed

[2019-08-07 15:43] #35917 closed

[2019-08-07 15:43] vabgujral commented on #22774
What is the current limitation? Can product team share some details on it?

[2019-08-07 15:49] mauliknshah commented on #36613
You are right. I followed the steps in 'Sharing in Unity' for creating a shared service, and I am also able to push several anchors to the cloud. The only question arises is the 'anchor number' you have mentioned in your answer. I am looking in the logs generated after saving an anchor (produced by transitionToSaving method in SharedActivity class) and what I am finding is an alpha numeric number

[2019-08-07 15:56] craigktreasure commented on #36613
There are 2 saves going on here. One save to the Azure Spatial Anchors service, which will return what we call an "anchor id," and another one to your Asp.NET Core sharing service, which will return what we differentiate as an "anchor number." The anchor number you're looking for is the anchor number returned from your Asp.NET Core sharing service, which should be displayed in the app UI. You shou

[2019-08-07 16:07] mauliknshah commented on #36613
I am not able to find the anchor number on the screen.  The text message on the screen looks like Anchor Number: <URL of the service>.  So, the anchor number is null in the anchorPosted method in SharedActivity class (I also tried logging that).

[2019-08-07 16:09] mauliknshah commented on #36613
Sorry, the tags were removed somehow.  The text message is:  Anchor Number: 'URL of the service'.

[2019-08-07 16:10] bobhlo commented on #36274
Look forward to be able to deploy multiple node pools with one deployment. Experienced the same issue(Linux and Windows node pools show up but VMSS not created in the node resource group) with Terraform.

[2019-08-07 16:13] spelluru commented on #35157
Done. Updated the article:
https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-node-get-started-send

#please-close

[2019-08-07 16:13] #35157 closed

[2019-08-07 16:17] jikuma commented on #31818
Hey @spacecat, Can you share what issue you are facing while using Azure Dev Spaces. Can you share the specific error you are facing while using Azure DevSpaces.

[2019-08-07 16:21] FrankHu-MSFT commented on #36660
@rellington71 Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-07 16:24] FindingNamo commented on #36262
You can close.  My pull request to link was actually merged to master so it
should be easily reachable now.

On Wed, Aug 7, 2019, 12:21 AM AjayKumar-MSFT <notifications@github.com>
wrote:

[2019-08-07 16:28] Mike-Ubezzi-MSFT commented on #36515
@thecherrytree Here is the first issue with using the Shared Access Signature. It allows for temporary access only as it has a Start and Expiry duration which is set along with Allowed IP Addresses and Allowed protocols, before being generated:

![Screenshot (154)](https://user-images.githubusercontent.com/37126106/62639459-6656b400-b8f4-11e9-81bb-6fda1158446f.png)

Also, the `:setvar` variables o

[2019-08-07 16:31] toddjohnson39 opened #36662 "How policies are applied"
The following statement looks incorrect:
"In the second phase, you are prompted to satisfy the requirements you haven't met. If any one of the policies block access, you are blocked and not prompted to satisfy other policy controls. If policies block you, you are prompted to satisfy other policy controls in the following order"

Shouldn't the last sentence read:
"if policies DON'T block you, your

[2019-08-07 16:32] FrankHu-MSFT commented on #36660
As this item is currently in preview, there are some known bugs and issues. I apologize for the inconvenience.

@rellington71 Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-07 16:34] FrankHu-MSFT commented on #36662
@toddjohnson39 Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-07 16:36] FrankHu-MSFT commented on #36662
You're right @toddjohnson39 you're right thank you for your feedback! we're currently looking into this and will fix the issue accordingly!

@toddjohnson39 Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-07 16:43] AlexisJackson opened #36664 "az login --identity : No access was configured for the VM, hence no subscriptions were found"
I spun up a new Windows VM from the az cli using a template. The template assigned a User Assigned Managed Identity to the VM. The UI confirms that it is indeed assigned. But when I try to login via the console on the VM, I get the following error:
[code]

I have also tried passing in the user directly. The said identity has assigned permissions to our key vault and I have confirmed this as well.

[2019-08-07 16:53] yujhongmicrosoft commented on #17434
@Juliako  how do I close out this issue?

[2019-08-07 16:55] MicahMcKittrick-MSFT commented on #36592
@maximnix the image version I used was SUSE:SLES-Standard:12-SP4:2019.06.17

[2019-08-07 16:56] MicahMcKittrick-MSFT commented on #36595
I will close this for now. When ready please share the link to the document you are following and we can reopen and continue the discussion.

[2019-08-07 16:56] #36595 closed

[2019-08-07 16:56] gojanpaolo commented on #33827
@Yashuaaa I forgot the exact steps and I switched to using blob storage but I think the classes and namespaces will be similar. This is what I have so far.

.csproj
[code]

.cs
[code]

[2019-08-07 16:57] craigktreasure commented on #36613
Hmmm... I'd like to think the app would fail more explicitly, but did you fill in the url of your sharing service (`https://<app_name>.azurewebsites.net/api/anchors`) in `Android\Java\app\src\main\java\com\microsoft\sampleandroid\SharedActivity.java`?

[2019-08-07 16:58] Yashuaaa commented on #33827
I figured out the issue. The Author just forgot to put that we need to install this nugetpack: Microsoft.Azure.Storage.File

[2019-08-07 17:00] johnc121 opened #36665 "Azure Stack VM Backup"
Are there instructions more specific to performing a Azure Stack VM backup and restore anywhere?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db748859-d05a-a414-9d9e-b126f97b12f3
* Version Independent ID: 7a8e0d99-880e-b00e-0493-fb1f9f295f8d
* Content: [Back up Windows Server to Azure](https://docs.microsoft.com/en-u

[2019-08-07 17:02] tysonn commented on #35811
@oraclebase - Thank you for reporting this, looking into it.

[2019-08-07 17:03] poveilleux commented on #7237
@icecoldfire I found [this article](https://alvarodias.org/articles/setting-up-soft-delete-on-azure-storage-blobs) today saying it is now possible.

[2019-08-07 17:04] RyanHill-MSFT commented on #36650
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-07 17:06] RyanHill-MSFT commented on #36654
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-07 17:13] FrankHu-MSFT commented on #36582
Hey @joaomaltez  sure so if you're interested in doing this, I suggest taking a look at this :

Azure Active Directory (Azure AD) can automatically provision users and groups to any application or system that is fronted by a web service with the interface defined in the System for Cross-Domain Identity Management (SCIM) 2.0 protocol specification.
https://tools.ietf.org/html/draft-ietf-scim-api-19

[2019-08-07 17:13] #36308 closed

[2019-08-07 17:14] #36323 closed

[2019-08-07 17:14] FrankHu-MSFT commented on #36432
@stewartadam Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-07 17:14] #36473 closed

[2019-08-07 17:14] #36579 closed

[2019-08-07 17:22] Ellenprater opened #36666 "Configure ExpressRoute and Site-to-Site coexisting connections using Portal"
This article does not show the option of configuring ExpressRoute and Site to Site coexisting connections in the Portal.  Can this please be added?  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23d4f079-654e-2053-4654-115a55e9379f
* Version Independent ID: 2c032f28-ebd6-513e-4324-622ac80e85d6
* Content: [Conf

[2019-08-07 17:22] #36425 closed

[2019-08-07 17:30] thecherrytree commented on #36515
Hey Mike - [the documentation I've read on Shared Access Signatures](https://docs.microsoft.com/en-us/azure/storage/common/storage-dotnet-shared-access-signature-part-1) indicates that you can set the expiry in a storage access policy within storage. This would enable the SAS URI to work for a very long (i.e. a year) period of time.

What is unclear, is whether or not configuration in [the tutoria

[2019-08-07 17:31] NavtejSaini-MSFT commented on #36559
@masashioms We are assigning this to author for further clarity.
@stevestein Please confirm regarding the following questions
a) What exactly is Primary Replica, is it replica of Primary DB or the Primary DB itself
b) If the Secondary replicas can be configured to 0 as well, the 2 replica by default statement in the document is not true. See screen shots.
![Hyperscale](https://user-images.githubus

[2019-08-07 17:33] YutongTie-MSFT commented on #36661
@anugrahasinha
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-07 17:33] Shri-Humrudha commented on #19547
I am setting up cluster using ARM Templates. To look for the possible settings I refer the below link.
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-fabric-settings

When it is seen that only one parameter is missing that leads a confusion. What is the intent of hiding the parameter from this document?
![Annotation 2019-08-07 103243](https://user-images.githubusercon

[2019-08-07 17:37] Alberto-Vega-MSFT commented on #36111
@aosyatnik My apologies. I'm reopening the issue

[2019-08-07 17:41] MicahMcKittrick-MSFT commented on #36524
The Azure AD integration for Linux VMs will only work for Azure AD so as far as I know you can't use it with anything but Azure AD.

@SanDeo-MSFT might be able to provide some additional information around where the configuration files are stored in the VM.

[2019-08-07 17:43] robinsh commented on #36506
@jhosteny I think he was asking for the actual link that you've constructed that doesn't work. Is there a way you can share that?

[2019-08-07 17:46] Mike-Ubezzi-MSFT commented on #36515
@thecherrytree Perfect, this feedback is sufficient to request a doc-enhancement. This is not necessarily a doc-bug but brings up a great discussion point. I am assigning this to the content author to see if the SAS option can be added to the documentation, even adding that it is not supported if that is the case.

[2019-08-07 17:49] Mike-Ubezzi-MSFT commented on #36515
@allenwux Can this tutorial also leverage SAS? Configure replication in an Azure SQL Database managed instance database ([link](https://docs.microsoft.com/en-us/azure/sql-database/replication-with-sql-database-managed-instance))

[2019-08-07 17:51] craigktreasure commented on #36585
Awesome! Thanks. We'll add a note indicating the driver route as an alternative option and that for some phones it may even be required.

[2019-08-07 17:51] vladvino commented on #36550
@solankisamir please comment.

[2019-08-07 17:53] TylerGross-SBS opened #36667 "Multiple Instructors"
Is there an option to give multiple instructors access to a lab?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5dd93dff-acdb-2d8c-ca7e-1347bf382af9
* Version Independent ID: 9bdac8f1-0ba3-c9dc-b0d9-bdd0faf4bcbc
* Content: [Set up a classroom lab using Azure Lab Services](https://docs.microsoft.com/en-us/azure/lab-serv

[2019-08-07 17:54] hrasheed-msft commented on #35640
@kailisupport I was able to reproduce the error that you experienced. The root cause was the use of the `wasb` schema and the fact that "Secure Transfer Required" is now enabled by default for storage accounts. The fix is either to 1) use `wasbs` as the schema for the storage account path [this is the best solution] or 2) disable the "Secure Tranfser Required" property on the storage account and u

[2019-08-07 17:54] hrasheed-msft commented on #35640
Fixed in: https://github.com/MicrosoftDocs/azure-docs/pull/36668

[2019-08-07 17:54] hrasheed-msft commented on #35640
#please-close

[2019-08-07 17:54] #35640 closed

[2019-08-07 17:55] thecherrytree commented on #36515
Thanks, @Mike-Ubezzi-MSFT, since this is in public preview, how would one go about requesting a feature enhancement if SAS is not supported?

[2019-08-07 17:56] wmgries commented on #33827
@gojanpaolo Was that the issue? Did installing the nuget package for Files help here?

I can update the documentation to be more clear that the classes are in a separate package. I think the article was originally written prior to the classes being split into separate nuget packages...

[2019-08-07 18:03] Yashuaaa commented on #33827
Yes, that was why I was in the uproar. You just have to install the nuget package Microsoft.Azure.Storage.File and everything works like a charm. I've had multiple experiences lately though with bad microsoft documentation. This is actually a great example once you install that nuget package. Then everything is fixed.

[2019-08-07 18:03] Mike-Ubezzi-MSFT commented on #36515
@thecherrytree The Azure SQL Uservoice is the best place to make feature requests. Please post this request [here](https://feedback.azure.com/forums/217321-sql-database).

[2019-08-07 18:03] YutongTie-MSFT commented on #36626
@SantoshML Hi, thank you for your feedback here. I assume you are referring to : https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/batch-transcription Please correct me if I am not right. We will investigate it and get back to you soon.

[2019-08-07 18:05] wmgries commented on #33827
Great, I'm very happy that it works once the package is installed. I think @roygara already clarified this in the documentation - hopefully that change will go live today.

[2019-08-07 18:06] YutongTie-MSFT commented on #36648
@Shaktikantpadhi
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-07 18:06] mauliknshah commented on #36613
That resolved things. I was using just (https://<app_name>.azurewebsites.net) as the URL. I believe it should have given me some wrong URL error. Anyways, thanks a lot for your help!

[2019-08-07 18:10] YutongTie-MSFT commented on #36655
@Yashuaaa Hi, could you please share the document and example you are talking about? Thank you.

[2019-08-07 18:11] craigktreasure commented on #36613
@AshokPeddakotla-MSFT This has been resolved.

[2019-08-07 18:12] YutongTie-MSFT commented on #36664
@AlexisJackson Hi, could you please share the document you are referring to so that we can address it quick? Thank you.

[2019-08-07 18:16] msaburnley commented on #36491
@MarileeTurscak-MSFT yes, I'll work on it!

[2019-08-07 18:18] SnehaGunda commented on #36359
@tony-921 Yes the portal has significantly changed since we updated this doc. The old screens were not replaced. "Collections" are now called "Containers" and "Documents" are now called "Items". I submitted a PR to update the doc. The content should be live later today.

We will close this issue if there aren't further questions.

#please-close