[2019-05-09 13:28] Davbrv131 commented on #15181
Same here. Only "conflict" which doesn´t give no info about what is the problem... anyone found a solution?

[2019-05-09 13:29] sergaz-msft commented on #30681
Got it now @haohaowasky , thank you! @veyalla is this by design? If so can we ellaborate on the process behind it causing the delay? Thanks!

[2019-05-09 13:31] gagarciac opened #30915 "List of countries that support self-serve transfer"
In the document it states the following:

"Why don't I see the "Transfer subscription" button?
Unfortunately, self-serve subscription transfer isn't available for your offer or country."

Is there a list with these countries? or can you let us know which countries do not support the self-serve transfer option?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2019-05-09 13:39] usmanmohammed commented on #28806
@Bhsha I found a workaround some weeks back, however I'm not sure if it's a recommendable approach:

Steps:
1. Add your environment variables to the ``launchSettings.json`` file located in your test project's ```/Properties``` path. For example:
[code]
2. Create a helper method you can call early within the test project to set those variables from the config file:
[code]
3. Variables in the test p

[2019-05-09 13:39] #30867 closed

[2019-05-09 13:45] Blackmist commented on #23933
@clmccart Thanks again for reporting this. I've updated the doc to mention the two example runconfigs generated by the folder attach command, and linked to some more examples at [https://github.com/MicrosoftDocs/pipelines-azureml/tree/master/.azureml](https://github.com/MicrosoftDocs/pipelines-azureml/tree/master/.azureml). This update should go live later today.

[2019-05-09 13:53] mrbullwinkle commented on #30910
@a-mosheh can you forward the thread from your support case to `mbullwin[at]microsoft.com`. I need to sync up with the support engineers to confirm if we should be adding those ranges to this doc or if it would make more sense to add them to the official list of logic app IP ranges here: [https://docs.microsoft.com/azure/logic-apps/logic-apps-limits-and-config](https://docs.microsoft.com/azure/log

[2019-05-09 14:01] Anmolgan81 opened #30916 "How does ADF V2 costing actually works?"
I was trying to calculate the costing for ADF V2, but couldnt understand how that works, suppose if I want to calculate the cost of data movement using the pipeline that involves S3 to Blob Storage data movement and the data amount is about 1TB then how can I calculate all the costings that involves this?

And does this costing remains the same if i want to calculate costing for On-premise FTP ser

[2019-05-09 14:03] kprpg commented on #25211
It looks like this has to be done for each individual VM onbe by one by looping through. Is there a way to do this for (a) all VMs in a subscription or (b) within a Resource Group?

[2019-05-09 14:20] avranju commented on #30813
Looks like there is a bug in the documentation. The `—set` command line option for `helm install` needs to look like this:

[code]

Sorry about that. Will fix the doc.

[2019-05-09 14:29] Sethu2488 commented on #30810
Information was very helpful. Please close the request.

[2019-05-09 14:34] SubhashVasarapu-MSFT commented on #30718
@frehnejc , There are some limitations in azure for naming conventions where some of the characters are restricted in using and here is the list,
![image](https://user-images.githubusercontent.com/44890829/57460731-4da61600-7293-11e9-8070-586148f2f989.png)
For more info please go through this [Doc](https://docs.microsoft.com/en-us/azure/architecture/best-practices/naming-conventions)
So here we ca

[2019-05-09 14:35] YaraZakaria opened #30917 "Console.ReadKey() Error"
Hi, I'm following the steps as they are but i kept getting the following error :

Unhandled Exception: System.InvalidOperationException: Cannot read keys when either application does not have a console or when console input has been redirected. Try Console.Read.
   at System.ConsolePal.ReadKey(Boolean intercept)
   at System.Console.ReadKey()
   at BasicSendReceiveQuickStart.Program.MainAsync(Stri

[2019-05-09 14:38] rwatjen opened #30918 "ARM template missing detail"
The ARM template example lists
[code]
as a way to get the SecretUri with the required version. But it's not clear what `appInsightsKeyResourceId` is.
Can you elaborate on what that variable's value is?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7feaa3d0-7233-a3cb-cb9b-a9a55b1f0d7a
* Version Independent ID: f41f9d51

[2019-05-09 14:44] SubhashVasarapu-MSFT commented on #30904
@Mitchell0069 , Could you please provide some more info on the issue you are refering to ?

[2019-05-09 14:47] chiners68 opened #30919 "Reset Password does not work if Microsoft Security Baseline Applied"
Windows 10 1803 Surface Pro's, Hybird AD Joined, Co-Managed SCCM 1806 and Intune

Group policy applies the MSFT Windows 10 RS4 Security Baseline to these devices. The password reset is deployed to the devices via an Intune Policy.

If I press the Resset pasword, it starts to load the Welcome, then returns to the Lock Screen. If i remove these Baselines then the reset password option succesfully lo

[2019-05-09 14:50] rajatvijay commented on #30899
@RohitMungi-MSFT this is a breaking change any idea when can I expect a fix for this?

[2019-05-09 14:55] Norrch2 commented on #30490
@MohitDhingra-MSFT, @davidmu1 any update on this?

[2019-05-09 15:00] javiermicrosoft opened #30920 "Monitor limits do not show Log Search alerts quota"
Monitor limits do not show Log Search alerts quota

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57b6d-3c6f-e546-b3ea-f83892f4c23d
* Version Independent ID: 27aecc7b-f107-96d4-b044-ae026bca2727
* Content: [Azure subscription limits and quotas](https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits

[2019-05-09 15:01] jwargo commented on #30859
@andrewchungxam the document addresses issues our customers encountered when Google sent the warning email and tries to answer some questions about the GCM to FCM migration process. For specific details about what will work and what won't work, you should address those questions to Google as we're not able to make definitive statements about how a third-party service will react to changes in your

[2019-05-09 15:02] shawnwan commented on #30780
Hi, when I sign up for 7 day free trial, the endpoint I got is:
Embed anomaly detection capabilities

20,000 transactions free per month

Endpoint: https://westus2.api.cognitive.microsoft.com/anomalyfinder

Note the anomalyfinder in the url, it causes 404. I believe it should not be there.

Regards,
Shawn

[2019-05-09 15:02] Molx32 opened #30921 "Dead or wrong link in the "User Analytics" section"
Hello! :)
The link https://docs.microsoft.com/en-us/azure/sentinel/user-analytics refered as "User analytics", in the "User Analytics" section redirects to https://docs.microsoft.com/en-us/azure/sentinel/overview.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f4fe06e-d692-c330-a651-d51fec279a6a
* Version Independent

[2019-05-09 15:03] SeanFeldman opened #30922 "Locking entities from orchestrations sample"
The sample is showing how to invoke Entity functions from an Orchestration function, but it omits the orchestration function signature. For clarity, do not remove the signature to make it very obvious that `ctx` is an `IDurableOrchestrationContext`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81f6150a-622b-e616-2c1e

[2019-05-09 15:12] cap273 commented on #30464
This should not be expected behavior, based on public Microsoft documentation. The claim "upn" is part of the SAML restricted claim set for Azure AD. See "Table 2" in the following page:
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-claims-mapping

[2019-05-09 15:14] cap273 opened #30923 "How to do a Find and Replace"
Say I want to perform the following  Find and Replace transformation:

If 'user.extensionattribute10' contains '@', then replace '@' with 'A'.​

It is not clear based on this documentation if this operation is possible or not (either through the Portal or through PowerShell)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-05-09 15:15] marctalary commented on #30815
Hi, I appeared to install need to install the package  Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator to get this working

[2019-05-09 15:19] stdistef opened #30924 "ARM Template Adjustment to existing Storage account"
What is the Resource Provider version and parameter required to accomplish this in ARM?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5197035-5db9-49c4-a709-82994d1e78e4
* Version Independent ID: 1a73b577-4387-5dac-1e89-a41f811a9858
* Content: [Require secure transfer in Azure Storage](https://docs.microsoft.com/en-u

[2019-05-09 15:20] diberry commented on #30864
@demongolem Thank you for letting us know about the different in the screenshot between the portal and documentation. That will be fixed soon.

[2019-05-09 15:24] veyalla commented on #30813
I tested with `--set` on a Mac and it works, so I don't think that is it.

From the screenshot, there is typo in the chart name, it has an `s` missing in the end.

[2019-05-09 15:26] diberry commented on #20746
@mansetaashok LUIS and the bot won't be able to live in the same container, so they each need to be in their own container. Once you have each in a container and running locally, you should be able to push your containers to your own private azure container registry. The devops pipeline should then be able to access those two containers. You can have the two containers run in a private network so

[2019-05-09 15:28] Mike-Ubezzi-MSFT commented on #30605
Thank you for the additional dialog! Want to add the Cosmos DB [UserVoice](https://feedback.azure.com/forums/263030-azure-cosmos-db?query=Partitions) as a channel to provide product specific feedback and make product feature requests. The link filters on `Partitions` but feel free to modify the filter based upon other keywords or UpVote and comment on existing entries.

[2019-05-09 15:31] shashishailaj commented on #30703
Closing this as per author comment

[2019-05-09 15:31] #30703 closed

[2019-05-09 15:32] toddjeaton opened #30925 "Incorrect limit info"
East US / East West regions appear to allow for successful creation of Linux containers / container groups with 4 vCPU and 16 GB RAM in both standard (Public) deployments and preview VNet deployments. I have not tested other regions.

(Edit: Specified "Linux" as the OS.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4

[2019-05-09 15:33] shashishailaj commented on #30756
@eximo84 We are checking this internally with engineering and will update on this in the next few days.

[2019-05-09 15:34] BNstar3 opened #30926 "Microsoft Azure"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2687c250-ac81-3778-428d-7f6616e3d450
* Version Independent ID: 265205f9-f472-1021-9684-ee7216ca37a5
* Content: [Create and Manage an Azure Virtual Machine Using C#](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/csharp)
* Content Sour

[2019-05-09 15:42] fabiocav commented on #30814
This is a valid request. We should enhance the documentation to provide guidance on how to accomplish this.

/cc @jeffhollan

[2019-05-09 15:42] esanchezlMBT commented on #15029
Is there an example to build the filter in the binding input assuming I have a column called "project" ?. I do not find documentation about it, on the page above it says only "filter, and take properties are not used in this scenario.".

[2019-05-09 15:52] MicahMcKittrick-MSFT commented on #30925
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-09 15:52] MicahMcKittrick-MSFT commented on #30926
@BNstar3 thanks for reaching out. If you have specific feedback on this document, please open a new issue and explain how we can help.

[2019-05-09 15:52] #30926 closed

[2019-05-09 15:53] fabiocav commented on #30815
This is somewhat related to #30814, as they're both dealing with configuration. We should have a document section covering Configuration, which would address both issues.

/cc @jeffhollan @brettsam

[2019-05-09 15:57] shashishailaj commented on #30919
@chiners68 Thank you for your feedback . We will investigate and update on this thread.

[2019-05-09 15:58] shashishailaj commented on #30923
@cap273 Thank you for your query. We will investigate and update further.

[2019-05-09 16:00] chiners68 commented on #30919
I can’t see a policy setting that would cause this, there are quite a few in the Baseline as you can imagine. I have a device setup with the issue if anyone wants to remote in to take a look.

Regards

Mark

From: ShashiShailaj-MSFT <notifications@github.com>
Sent: 09 May 2019 16:58
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: chiners68 <markchinery@hotmail.com>; Mention <menti

[2019-05-09 16:03] SqweeeRyan commented on #29245
I'm wondering the same thing as @Arash-Sabet - not sure how to pass in the specific x-ms-signalr-userid header via Angular. Thanks!

[2019-05-09 16:06] ahmedelnably commented on #30865
As the new command is just a rename of `az functionapp devops-build create` one work around is to use the old name, though I prefer not to have the doc changed to the old command name
https://docs.microsoft.com/en-us/cli/azure/functionapp/devops-build?view=azure-cli-latest
the help is exactly the same

[2019-05-09 16:08] #30816 closed

[2019-05-09 16:09] TiLegend commented on #30816
hi it my own mistake
I set wrong audience

[2019-05-09 16:09] himanshusinha-msft commented on #30854
@saulcruz We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2019-05-09 16:11] julieMSFT commented on #27804
@mike-Ubezzi please assign to @kevinvngo

[2019-05-09 16:11] aahill commented on #30780
Thanks for the information Shawn, you're right that the endpoint should be
`https://westus2.api.cognitive.microsoft.com/`

I checked and the free trial is giving the incorrect URL. I'll follow up with our platform team to fix this.

These URLs should work:
* `https://westus2.api.cognitive.microsoft.com/anomalydetector/v1.0/timeseries/entire/detect`
* `https://westus2.api.cognitive.microsoft.com/an

[2019-05-09 16:13] shashishailaj commented on #30912
@SteveColegrove Thank you for pointing that out . You are correct . We will have a pull request initiated to get it fixed in a day. Thank you for your contribution. We encourage you to file a pull request for these kind of requests . It will be reviewed and pushed as an update by the documentation team. In future , you can always send a PR request yourself.

Thank you.

[2019-05-09 16:14] kristianjaeger opened #30927 "Please update with a little more context and a workaround for OS X"
Hello,
Could you please add steps for "az login" and set default subscription - https://stackoverflow.com/questions/38475104/azure-cli-how-to-change-subscription-default ?  Some of us work with multiple subscriptions so that would be helpful.

Also, some folks on OS X get the following error from Terminal:
"az login
Note, we have launched a browser for you to login. For old experience with device

[2019-05-09 16:14] toddjeaton commented on #30925
This is definitely not a bad observation - it's just not a match to the documentation.
Example bash CLI creating a single East US public ACI with 4 vCPU / 16 GBI:
`az container create --resource-group [insert-your-RG-name] --name nginx-pub --image nginx --location eastus --cpu 4 --memory 16 --ip-address Public --os-type Linux --no-wait`

Example bash CLI creating a single East US private ACI with

[2019-05-09 16:14] julieMSFT commented on #30452
@Mike-Ubezzi-MSFT please assign to @mlee3gsd

[2019-05-09 16:15] shashishailaj commented on #30912
This change will be merged to the main branch in the next release cycle in the next 24-48 hours. We will close this request now,

Thank you.

[2019-05-09 16:15] #30912 closed

[2019-05-09 16:17] saulcruz commented on #30854
Thank you, I've found a way of doing this, for example via PowerShell:

[code]
In ADF I get this
![image](https://user-images.githubusercontent.com/28897049/57469300-54f9ff00-7254-11e9-9888-6e52d14c5ae3.png)

 This would be enough for me to do whatever I need however I'm curious, is there anyway we can Fail the activity via this Rest Method?

[2019-05-09 16:19] iainfoulds commented on #30855
The expectation here is that there's some ability to use a preferred text editor from the console, be that `vi`, `nano`, or from the Azure Cloud Shell, `code`. Could also use `emacs`, I guess :)

In the past, we've received negative feedback when we've leaned to just showing `nano` or `vi`, so it's up to the user to determine which console editor they'd like to use. For Kubernetes work where a lot

[2019-05-09 16:21] Ashera138 opened #30928 "Outdated app registrations step"
The [Register the IdentityExperienceFramework applications](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-get-started-custom#register-identity-experience-framework-applications) section of this walkthrough is not up-to-date.

There is a banner when you visit the [App registrations page](https://portal.azure.com/#blade/Microsoft_AAD_RegisteredApps/ApplicationsList

[2019-05-09 16:27] RohitMungi-MSFT commented on #30899
@rajatvijay I did a quick test by uploading a zip file and it worked fine for me.
![image](https://user-images.githubusercontent.com/46958063/57469841-32dc9d00-72a5-11e9-8100-6f649fd33540.png)
I am even able to play my file after upload.
![image](https://user-images.githubusercontent.com/46958063/57469911-5273c580-72a5-11e9-8814-1a541c84e914.png)

Could you please review your file that is uploaded

[2019-05-09 16:27] ajlam commented on #30536
@JonathanWilbur, just want to clarify the following:
- MariaDB Connector for Java being used in your connection with DBeaver
- Were you able to download the [certificate](https://docs.microsoft.com/en-us/azure/mariadb/howto-configure-ssl#obtain-ssl-certificate) from the MariaDB docs?

[2019-05-09 16:28] Jahender commented on #30233
Hi @Phydeauxman my apologies for the delay here. I just saw this question was posted to the doc.

To answer your question, as it sounds like you know, even private ASE will create a "public" VIP that is used by our backend for management. The base requirement to make sure the ASE will work is that connectivity to that VIP is available to our backend.

Most governement and DoD agencies have the req

[2019-05-09 16:28] ajlam commented on #28990
@t106362512 - what version of MySQL Workbench are you using?

[2019-05-09 16:29] kobulloc-MSFT commented on #30910
@mohamed-shehata-m Thank you again for your feedback!

[2019-05-09 16:32] kobulloc-MSFT commented on #30901
@VladlenFilimonov Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-05-09 16:33] MicahMcKittrick-MSFT commented on #30927
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-09 16:36] YutongTie-MSFT commented on #30780
@aahill Thank you!
@shawnwan Please check it. ^^ We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-09 16:36] #30780 closed

[2019-05-09 16:38] MicahMcKittrick-MSFT commented on #30340
Any update?

[2019-05-09 16:39] MicahMcKittrick-MSFT commented on #30695
Any update?

[2019-05-09 16:39] jjgriff93 commented on #30805
Same issue - doesn't exist on nuget.org

[2019-05-09 16:40] MicahMcKittrick-MSFT commented on #30764
@TeunRoefs thanks for the extra details.

@iainfoulds is this something you can look into further?

[2019-05-09 16:41] YutongTie-MSFT commented on #30608
@ehorodyski
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-09 16:41] #30608 closed

[2019-05-09 16:41] MicahMcKittrick-MSFT commented on #30832
@TonyLe-MSFT I will close this out for now. If you have additional questions just let me know. Or, if you are an MSFT FTE you can ping me offline as well.

[2019-05-09 16:41] #30832 closed

[2019-05-09 16:42] MicahMcKittrick-MSFT commented on #30855
Thanks @iainfoulds That is what I was figuring as well.

@sitedesigner as Iain mentioned, we are going to leave the doc is for now. However thank you for the feedback and your comment will stay on this doc. If others have the same opinion they can comment as well and we can always revisit this in the future.

[2019-05-09 16:42] #30855 closed

[2019-05-09 16:43] ashleywb commented on #30340
Sorry about delay, we are using B2MS and D4s_v3. We start from a deallocated state to save on costs.

[2019-05-09 16:44] elangokp commented on #10180
@swinarko Thanks for the quick response.

[2019-05-09 16:45] markarnolditpro commented on #22088
Any idea when this service will GA?

[2019-05-09 16:47] MicahMcKittrick-MSFT commented on #30925
@toddjeaton just to confirm, you are referring to this section

![image](https://user-images.githubusercontent.com/32313503/57471120-4e14c180-723f-11e9-823d-42f15ca3b588.png)

and this section

![image](https://user-images.githubusercontent.com/32313503/57471143-58cf5680-723f-11e9-8d9f-f4def8be34f3.png)

correct?

[2019-05-09 16:50] MicahMcKittrick-MSFT commented on #30927
@kristianjaeger the way the docs are outlined we are having users use Azure Cloud Shell to work with the subscription. In this scenario, you should already be in the correct tenant and subscription so the need to set the subscription is not needed. So I adding a section to set the subscription would not be needed.

However, if you are working using on prem CLI I can understand the need for setting

[2019-05-09 16:53] MicahMcKittrick-MSFT commented on #30340
Thanks for that. Overall I am not sure what else we can do at this point. As mentioned, the time you are seeing the Custom Script to apply is pretty standard in Azure. I can understand the want to increase that time but from anything you can do specifically there is really nothing that can be done.

You could leave feedback on Uservoice to request the engineering team works to decrease the time it

[2019-05-09 16:53] #30340 closed

[2019-05-09 16:54] mansetaashok commented on #20746
@diberry, Thank you for your response.   I am trying to build Azure pipeline for my bot framework and build/push image to the Azure Container Registry.  As a next step I would like to bring another container for Luis to the ACR or Azure Container Instance. Could you please help me with some basic steps or documentations.   I am bit confused about the package file I have downloaded from LUIS applic

[2019-05-09 16:54] kristianjaeger commented on #30927
Thanks.  I suppose one reason that I raise these points is that a subsequent tutorial on Istio requires using a user's own machine - https://docs.microsoft.com/en-us/azure/aks/istio-install . Cheers.

[2019-05-09 16:59] YutongTie-MSFT commented on #30882
@KeiroKamioka0000
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-09 17:00] YutongTie-MSFT commented on #30881
@vfylyk
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-09 17:02] Phydeauxman commented on #30233
@Jahender Thanks for the detail. I was pretty sure this was what you were going to respond with but wanted to make sure just in case there were some other tricks I had not thought of. Where is Microsoft with creating a separate Management network so that there will no longer be a need for a VIP on an Internal ASE? This was announced at Ignite last year.

[2019-05-09 17:07] shashishailaj commented on #30756
The proxy is mandatory to be used. you can check the [deployment requirements](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-password-ban-bad-on-premises-deploy#deployment-requirements) on more details for the proxy pre-requisites.

The proxy service can be installed on the DC as well, but this is not [recommended on production]( https://docs.microsoft.com/en-us/azur

[2019-05-09 17:09] ahmedelnably commented on #30865
The link works now

[2019-05-09 17:12] diberry commented on #20746
@mansetaashok This is an interesting use case, the documentation should cover it but doesn't. Let me find the answers and get back to you.

[2019-05-09 17:14] Alberto-Vega-MSFT commented on #30733
@DRSPrashant please follow the instructions from my previous message and we can get you a support ticket to get you some help.

[2019-05-09 17:15] BryanTrach-MSFT commented on #30918
@rwatjen Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-09 17:15] #30854 closed

[2019-05-09 17:17] shashishailaj commented on #30756
The pull request has been initiated to update this document . It will be live in the next release cycle. Thank you for your contribution.

[2019-05-09 17:17] #30756 closed

[2019-05-09 17:17] himanshusinha-msft commented on #30916
@Anmolgan81  Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-05-09 17:17] jennyhunter-msft commented on #30897
Today, multihoming is not officially supported for the Inventory solution.

[2019-05-09 17:19] shashishailaj commented on #30613
Closed as per request.

[2019-05-09 17:19] #30613 closed

[2019-05-09 17:19] SaurabhSharma-MSFT commented on #30646
@prajster We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-09 17:19] #30646 closed

[2019-05-09 17:21] Rich-Lang opened #30931 "Heading has copy and paste issue"
The top of this page reads: "use an available public LUIS app to determine a user's intention from conversational text."  That is not what this QuickStart does, that is copied from the "GetIntent" QuickStart incorrectly.   See the C# sample for what it should be: https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-get-started-cs-add-utterance

---
#### Document Details

⚠ *Do not e

[2019-05-09 17:21] SaurabhSharma-MSFT commented on #30464
@cap273 I believe so, however, checking with product team on the same.

[2019-05-09 17:22] shashishailaj commented on #30796
We will close this now as there is nothing pending on this issue. Should you have any further queries , feel free to tag me or the author @CelesteDG to this request and we will be happy to help.

[2019-05-09 17:22] #30796 closed

[2019-05-09 17:23] KingdomOfEnds commented on #30645
@tmhui94 - My apologies. Yes, that approach is possible. Each Azure account has several subscriptions. In the upper right-hand corner you'll see the option as depicted. This will allow you, from the same user account in Azure Portal to manage and work with resources under different subscriptions and tenants.

![Capture](https://user-images.githubusercontent.com/43044425/57473278-4f94b880-7244-11e9

[2019-05-09 17:23] shashishailaj commented on #19073
Closing as per the author comments.

[2019-05-09 17:23] #19073 closed

[2019-05-09 17:25] kaushalp commented on #30782
thanks @SnehaAgrawal-MSFT

@mattchenderson There is a bug in the Java SDK which doesn't provide a way for the clientid parameter to be passed. I have raised an issue for this here: https://github.com/Azure/autorest-clientruntime-for-java/issues/609

[2019-05-09 17:28] zkoncir commented on #30578
@TravisCragg-MSFT it appears this is still unsupported for now. I used a template export after enabling Flow Logs for one of my NSG's, cleaned up the unused stuff that ARM gives you when you export, and tried running it against the same NSG after turning off flow logs through the console. Still showed as disabled. Hopefully this will be added soon, for now we will have to use the CLI.

[2019-05-09 17:29] shashishailaj commented on #30596
Closing as per author comments.

[2019-05-09 17:29] #30596 closed

[2019-05-09 17:31] markjbrown commented on #30853
Investigating. Thanks.

[2019-05-09 17:32] KumudD commented on #28357
@TravisCragg-MSFT  The FAQ article has been updated. Thanks!

#please-close

[2019-05-09 17:32] tkojemile opened #30932 "Azure App registration"
This screenshots and way of App registration will soon be EOL. You should consider updating article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3002a469-b615-6231-9e96-6ce1917d1bbd
* Version Independent ID: fc8af44d-7880-3541-9962-da43e2707960
* Content: [Prerequisites to access the Azure Active Directory reporting

[2019-05-09 17:33] toddjeaton commented on #30925
Yes, correct.

[2019-05-09 17:33] KumudD commented on #23399
@CloudCrusader  Thanks for bringing this to our attention. The article has been updated.

#please-close

[2019-05-09 17:33] markjbrown commented on #30728
We do not currently have support for this but providing notifications and metrics on control plane operations is on our current short-term road map.

Thanks.

[2019-05-09 17:35] YutongTie-MSFT commented on #30931
@Rich-Lang Thank you for your feedback, we will investigate it and get back to you soon.

[2019-05-09 17:38] shashishailaj commented on #30727
Closing the issue as per request.

[2019-05-09 17:38] #30727 closed

[2019-05-09 17:40] shashishailaj commented on #30337
closed as per author comment.

[2019-05-09 17:40] #30337 closed

[2019-05-09 17:44] shashishailaj commented on #30063
Closing as per author comment.

[2019-05-09 17:44] #30063 closed

[2019-05-09 17:46] shashishailaj commented on #15920
closing as per author comment.

[2019-05-09 17:46] #15920 closed

[2019-05-09 17:46] MicahMcKittrick-MSFT commented on #30925
Thanks for confirming!

@iainfoulds if these two sections are out of date, it is quite possible the other numbers need updating as well. Can you take a look? Or if you know who I can get this checked with I can make any edits as needed.

[2019-05-09 17:46] shashishailaj commented on #13521
closing as per author comment

[2019-05-09 17:46] #13521 closed

[2019-05-09 17:47] shashishailaj commented on #13447
Closing as per author comment .

[2019-05-09 17:47] #13447 closed

[2019-05-09 17:52] SaurabhSharma-MSFT commented on #30932
@tkojemile Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-05-09 17:52] shashishailaj commented on #20842
Closing as per author comments.

[2019-05-09 17:52] #20842 closed

[2019-05-09 17:55] shashishailaj commented on #21049
closing as per author comments

[2019-05-09 17:55] #21049 closed

[2019-05-09 17:55] avranju commented on #30813
@veyalla We cannot skip `deviceConnectionString`. The following fails:
[code]

[2019-05-09 17:57] shashishailaj commented on #27773
Closing as per author comments.

[2019-05-09 17:57] #27773 closed

[2019-05-09 17:58] sidramadoss commented on #30880
Thank you for asking the question. We are updating the docs to explain this more clearly. Let us know if this helps:

Input Events | Number of records deserialized from the input events. This count does not include incoming events that result in deserialization errors.
-- | --
Input Sources Received | Number of messages received by the job. For Event Hub, a message is a single EventData. For Blob,

[2019-05-09 17:59] shashishailaj commented on #24394
Closing as per comments

[2019-05-09 17:59] #24394 closed

[2019-05-09 18:01] diasbrito commented on #10960
@JerryWang20 Did you get the solution? I'm going through the same mistake.

[2019-05-09 18:01] JonathanWilbur commented on #30536
@ajlam Yes and yes.

[2019-05-09 18:02] avranju commented on #30813
The documentation seems to have updated itself now! This morning when I looked at it the `helm install` instruction was wrong - it didn't have `deviceConnectionString` in it and now it does! :man_shrugging:

[2019-05-09 18:03] JonathanWilbur commented on #30536
I found it through the Azure console, by clicking on a link on the database page. So it can be found, but it was tough to find it.

[2019-05-09 18:07] Alberto-Vega-MSFT commented on #30833
@mfalkvidd did you create the support ticket? If you haven't and you do not have a support plan please follow the instructions on my previous email

[2019-05-09 18:09] iainfoulds commented on #30927
Thanks for the feedback, @kristianjaeger

This is one of those areas where if you're using multiple subscriptions, it's typically a known-state and step that you need to perform. For the larger set of customers initially coming into the quickstarts, they're more likely not going to be in that position. If you're running the CLI locally, it prompts you to sign in and that should be it. This isn't a

[2019-05-09 18:12] kristianjaeger commented on #30927
@iainfoulds Thanks.  Just providing feedback.  For folks trying to use these tutorials the less friction to using AKS the better.  Cheers.

[2019-05-09 18:16] iainfoulds commented on #30875
Thanks for the feedback, @tedgoddard

We have looked at that approach, and for scripted approaches, yes it's valid. It doesn't show what the output of the command is though, which is often helpful for people new to it. It also doesn't work across shell environments though (such as if you run the Azure CLI from a PowerShell or CMD shell on Windows). That's not normally a problem as the user can usu

[2019-05-09 18:18] burnsalpine commented on #30794
When I run the command from a windows shell I get this error:

[code]

But it appears to work fine when running from a Linux shell.

The documentation lists -i and -t as separate switches.

[2019-05-09 18:18] ash2017 commented on #30833
We have confirmed the issue from our end and are investigating a fix. Thank you for notifying us about this.

[2019-05-09 18:18] shashishailaj commented on #30650
@msfe we have updated the documentation and initiated an update. The changes will be live in the next release cycle within 24-48 hours.

Thank you.

[2019-05-09 18:18] #30650 closed

[2019-05-09 18:21] veyalla commented on #30813
Hmm, haven't updated the doc since Apr 29, not sure why that would happen.

Regardless, I hadn't noticed @rploeg had not included `deviceConnectionString` in the screenshot. So if you fix the typo and follow the format as shown in Step 5, it should work.

[2019-05-09 18:22] bhupinder-p-s opened #30934 "SQL Server 2008 R2 with Windows 2008 R2 fails app consistency recovery point"
Hi We are having a strange issue. The documentation states that Windows 2008 R2 is supported but the app consistency recovery points are not supported and we are asked to disable the app consistency recovery but the app consistency recovery works if a plain Windows Server 2008 R2 is there but if it is combined with SQL Server 2008 R2 then the app consistency fails. We tested in three of our VMWare

[2019-05-09 18:22] mfalkvidd commented on #30833
@Alberto-Vega-MSFT yes I have created a ticket. The number is 119050922000643 in cade you are interested and can access it.

[2019-05-09 18:24] PatLaPoint opened #30936 "AzureRM"
Hi!
It says Install AzureRM but your examples uses the new AZ commands.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f901056-c225-b086-cdaa-c8bd978db64c
* Version Independent ID: 9c067eb4-54cb-e141-d82f-e136ff3c671e
* Content: [Link an Azure account to a partner ID](https://docs.microsoft.com/en-us/azure/billing/bil

[2019-05-09 18:24] gitsathish opened #30937 "Hyperlink appears instead of Launch Column Selector"
Clean missing data step 4 and Select columns Step 5,
the "Launch Column Selector" button does not appear, instead I get a "Edit columns" hyperlink. Functionality seems to be the same however.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5de7955-4cd6-efdb-f528-ef985b846e40
* Version Independent ID: a54426e1-f620-2473

[2019-05-09 18:27] ajlam commented on #30536
@JonathanWilbur - once you found the certificate, were the connections working successfully?

[2019-05-09 18:28] YutongTie-MSFT commented on #30937
@gitsathish
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-09 18:29] YutongTie-MSFT commented on #30851
@BBAPercival Thank you.

[2019-05-09 18:29] tarockey opened #30938 "Deploy Locally no longer uses deploy_from_image"
In the intro to Local Deployment, the line "The examples in this section use deploy_from_image, which requires you to register the model and image before doing a deployment. For more information on other deployment methods, see deploy and deploy_from_model." is no longer true, as the updated example below that uses Model.deploy().

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2019-05-09 18:30] TravisCragg-MSFT commented on #30810
@Sethu2488 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-09 18:30] #30810 closed

[2019-05-09 18:31] SaurabhSharma-MSFT commented on #30928
@Ashera138 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-05-09 18:35] tedgoddard opened #30939 "az acr login for user in other AD"
I am attempting to allow users in another organization read access to a container registry by inviting them and assigning roles (Read). This is failing with "Unable to get AAD authorization tokens". Is this supported or should users in other ADs be provided with a Service Principal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-05-09 18:36] ggailey777 commented on #16928
This should now be resolved. #please-close

[2019-05-09 18:36] ggailey777 commented on #19256
This should now be resolved #please-close.

[2019-05-09 18:37] nicholaslgoodman opened #30940 "Storage Replication Type Discrepancy"
The image and table disagree on whether it should be Read-access geo-redundant storage or LRS. Even more confusingly the table conflates the two.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 255aa70d-57db-a4a4-ba20-a7318493d88d
* Version Independent ID: b5c1a544-2207-8d69-15e5-f37a37712ed2
* Content: [Tutorial: Migra

[2019-05-09 18:37] ggailey777 commented on #19517
This should now be resolved. #please-close

[2019-05-09 18:37] dahovey opened #30941 "ClusterIssuer does not use namespace"
Documentation states "ClusterIssuer works across all namespaces", but in the yaml file to create the ClusterIssuer you specific the namespace. Is there a reason this is here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12009c1f-282d-2632-fac0-64b09c432833
* Version Independent ID: 6052d3d4-d295-9340-b16d-4c200e34cd7

[2019-05-09 18:38] TravisCragg-MSFT commented on #23399
@CloudCrusader We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-09 18:38] #23399 closed

[2019-05-09 18:38] #30927 closed

[2019-05-09 18:39] tarockey opened #30942 "Pandas example snippet doesn't run"
In the "Data Source and Format" section, the snippet of code used as an example for a Pandas Dataframe as input is not functional code.
An example of working code for that would be:
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 585fff5e-cadd-8967-8c09-63d8afcb53b3
* Version Independent ID: 95274303-b152-2ee8-113

[2019-05-09 18:39] ggailey777 commented on #26521
This should now be resolved. #please-close

[2019-05-09 18:40] ggailey777 commented on #26591
This should now be resolved. #please-close

[2019-05-09 18:40] tedgoddard commented on #30875
Perhaps add a note in the document with this approach as a suggestion? Many of your other documents include shell commands and in this case it is tricky to capture both the password and the appId since there is no query command for the password after it is created (hence the need to create under a specified name).

[2019-05-09 18:40] singhkays commented on #30798
@KeiroKamioka0000 Correct. Those are the list of resources you can migrate as opposed to these https://docs.microsoft.com/en-us/azure/virtual-machines/windows/migration-classic-resource-manager-overview#unsupported-features-and-configurations that you cannot migrate

[2019-05-09 18:44] femsulu commented on #30564
@mayurigupta13 would you like me to assign this task to you or do you have a backlog item created to track this feedback? If you already have a backlog item, then we can close this issue on GitHub.

[2019-05-09 18:44] MicahMcKittrick-MSFT commented on #30941
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-09 18:44] MicahMcKittrick-MSFT commented on #30939
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-09 18:44] jeevansd commented on #29035
@chetansriv and @v-viinde Can you please update this doc and remove the PowerShell command from it? Now customers can directly add the multiple identifier for the app from UI directly.

[2019-05-09 18:44] jeevansd commented on #29035
@watahani We will get this change done now.

[2019-05-09 18:48] JonathanWilbur commented on #30536
No. Because there is an undocumented issue where the certificate is misconfigured and does not work with MariaDB. I had to disable server validation.

[2019-05-09 18:51] MGoedtel commented on #30475
@toutougabi - Talked with engineering and what you can do to work around the wildcard restriction is perform the registration via App registration (legacy) from Azure AD following the existing steps in the doc.  The type should be public.  I am going to update the doc tomorrow to configure it this way in the meantime, because there are dependencies that impact us being able to design a proper work

[2019-05-09 18:51] dlepow commented on #30925
@toddjeaton - Thanks for the heads up. I confirmed your observation with the [List Capabilities](https://docs.microsoft.com/en-us/rest/api/container-instances/listcapabilities/listcapabilities) REST API, which is a good source for up to date info on region capabilities and limitations. I'll submit an update soon to the ACI limits article and confirm data also with our engineering team.
#in-progres

[2019-05-09 18:52] MicahMcKittrick-MSFT commented on #30939
@tedgoddard which part is actually failing with that error? Just adding them to the tenant? Or when they try to authenticate to the ACR?

[2019-05-09 18:52] kristianjaeger commented on #29977
Regarding this command "helm install install/kubernetes/helm/istio-init --name istio-init --namespace istio-system"
Getting errors on OS X - "Error: release istio-init failed: namespaces "istio-system" is forbidden: User "system:serviceaccount:kube-system:default" cannot get resource "namespaces" in API group "" in the namespace "istio-system"

[2019-05-09 18:54] Alberto-Vega-MSFT commented on #30833
Thanks @mfalkvidd closing this issue since you are talking to support now.

[2019-05-09 18:54] #30833 closed

[2019-05-09 18:56] kristianjaeger commented on #30927
@iainfoulds and @MicahMcKittrick-MSFT Have you actually tried these tutorials on OS X - 10.14.4 ?  Thanks.

[2019-05-09 19:03] pyoungberg commented on #29050
I've confirmed this on multiple Android phones (Nokia 7.1 being the latest) - PIN works but fingerprint always fails - any update?

[2019-05-09 19:03] cronq commented on #30836
I have both the force MFA and sign-in frequency enable in my CA policy (not sure if that makes a difference). When the token expires and I try to access a resource, I'm prompted for both password and MFA. That said, how is that actually impacting the underlying tokens? Is it changing the lifetime of the refresh token, MF refresh token, SF or MF session token...or some combo of these.

[2019-05-09 19:03] jsandersrocks commented on #30575
Two missing important commands:
npm install uuid

There is no extensions.csproj file because you need this:
func extensions install -p Microsoft.Azure.WebJobs.Extensions.DurableTask -v 1.7.0

Then things should work.

[2019-05-09 19:08] saulcruz commented on #30854
@himanshusinha-msft is there any answer for the second question?

[2019-05-09 19:10] MGoedtel commented on #25211
@kprpg - With the preview release, you have to do this per VM resource by default.  It would require a custom script to loop through each VM resource that is in-scope (which would be all VMs reporting to the workspace tied to AzMon for VMs) if you want notifications from all VMs.  Work is in progress to fully integrate with Azure Alerting to avoid this but I don't have an ETA at this time.  #pleas

[2019-05-09 19:12] ColbyTresness commented on #30575
I'll be making some updates to this document in the next week or two.

[2019-05-09 19:13] #16928 closed

[2019-05-09 19:15] mike-urnun-msft commented on #30922
Hi @SeanFeldman Thank you for your feedback! We will review and update as appropriate.

[2019-05-09 19:16] MicahMcKittrick-MSFT commented on #30941
Based on the cert manager docs, it seems you do specify a namespace regardless. But that same cert issuer can be used across multiple name spaces.

https://cert-manager.readthedocs.io/en/latest/reference/clusterissuers.html

https://cert-manager.readthedocs.io/en/latest/reference/issuers.html

If you are using multiple name spaces, it seems you can list them as well as I found in this article
http

[2019-05-09 19:16] SaurabhSharma-MSFT commented on #30837
@guardrex @Rutix Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-05-09 19:16] toddjeaton commented on #30925
@dlepow Thanks for the update, Dan. That's good info! There's also some of the same data shown at https://docs.microsoft.com/en-us/azure/container-instances/container-instances-vnet under the
_Regions and resource availability_ section.

[2019-05-09 19:17] mike-urnun-msft commented on #30917
Hello @YaraZakaria Thank you for your feedback! We will review and update as appropriate.

[2019-05-09 19:18] SaurabhSharma-MSFT commented on #30582
@MicrosoftGuyJFlo Can you please answer.

[2019-05-09 19:18] sbelongie opened #30944 "Failback to an alternate location in Hyper-V environment is very confusing."
Failback to an alternate location in Hyper-V environment is very confusing.

Where do you find these settings in the azure portal.  I do not have the options to select a new host or VMM Cloud. Is this no longer retentive or am I going to the wrong spot in the azure portal?
![2019-05-09_8-24-24](https://user-images.githubusercontent.com/11724299/57480332-07d25900-7265-11e9-90bc-3459b31de225.jpg)

-

[2019-05-09 19:19] mike-urnun-msft commented on #30906
Hello @tmasternak Thank you for your feedback! We will review and update as appropriate.

[2019-05-09 19:22] MartinJaffer-MSFT commented on #30916
Hello @Anmolgan81 .
Here is a link to [an example of pricing for moving from S3 to blob storage](https://docs.microsoft.com/en-us/azure/data-factory/pricing-concepts#copy-data-from-aws-s3-to-azure-blob-storage-hourly)

For more in-depth pricing inquiries, you can submit a billing support ticket.  I am not authorized to speak on billing matters.

[2019-05-09 19:22] #30916 closed

[2019-05-09 19:22] sitedesigner commented on #30855
Hey @MicahMcKittrick-MSFT , would you be open to putting a quick reference link in the documentation to how to use VI / NANO / EMACS? I wasn't expecting a full intro to how to use text editor, but some newbies may get caught up with how to create the text file and exit out of the tutorial all together.

Thanks again for all the awesome responses here :)

[2019-05-09 19:23] jay98014 commented on #30835
Hi @WhatsMyNameLol,

The proxy servers are stateless, so yes having two is just for redundancy.   It is usually a non-event if the proxy server(s) are offline for hours or even a day or three.   Please take a look at the following section of the docs:

https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-password-ban-bad-on-premises-deploy#high-availability

To answer the q

[2019-05-09 19:25] tedgoddard commented on #30939
This is from `az acr login` after a successful `az login`. I've tried adding "Read" permission to both the subscription and the container registry for the external user. (I've also tried adding "Owner" permission, which is not desired at all, but this does not affect it.) I'm currently using `az acr login` effectively with a user in the same AD as the container registry.

By the way, the responsiv

[2019-05-09 19:31] MicahMcKittrick-MSFT commented on #30939
You might need to use managed identies to achieve this...

https://docs.microsoft.com/en-us/azure/container-registry/container-registry-authentication-managed-identity

@dlepow do you know the best way to achieve this? I am assuming having a role in AD is not enough and some extra steps need to be done.

[2019-05-09 19:33] SubhashVasarapu-MSFT commented on #30724
@dorsborne , Could you please let us know about the task that you are trying to achieve here? Generally azure loadbalancer were designed to balance the traffic between virtual machines by adding the virtual machines in the back end pool.

[2019-05-09 19:34] iainfoulds commented on #30941
All resources are set to be deployed into the test namespace where possible to aid clean-up. That's really the only reason why it's specified throughout the manifests.

[2019-05-09 19:35] MicahMcKittrick-MSFT commented on #30855
@sitedesigner I don't think that is a bad idea. However, there is not official sources on how to use these. Most of them are open source or from personal blogs and sites. So having a single site to point people to might not be as effective as searching on the internet. But that is just what I am noticing when searching for vi, nano, emacs, etc.

@iainfoulds and I, as well as the rest of the docs t

[2019-05-09 19:36] MicahMcKittrick-MSFT commented on #30941
@iainfoulds that makes sense. Thank you :)

[2019-05-09 19:37] dahovey commented on #30941
Thanks for the references. Your comments seams reasonable but maybe I'm not understanding properly.

When I `describe` the `ClusterIssuer` resource the namespace property is blank. When I tried to create separate `ClusterIssuer` resources for the namespaces I am using, I received errors for `ClusterIssuer` already existing.

[2019-05-09 19:38] femsulu commented on #30944
@sbelongie Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-05-09 19:39] cgillum commented on #30922
That's a great point. I'll make a fix for this.

[2019-05-09 19:41] PatrickFarley commented on #30811
This looks like a product issue. @NHaiby can probably help

[2019-05-09 19:42] femsulu commented on #30936
@PatLaPoint Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-05-09 19:42] sitedesigner commented on #30855
Thank you! :)

[2019-05-09 19:44] femsulu commented on #30920
@javiermicrosoft  Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-05-09 19:47] femsulu commented on #30915
@gagarciac Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-05-09 19:47] MicahMcKittrick-MSFT commented on #30941
@dahovey did you try removing the namespace all together?

[code]

[2019-05-09 19:49] femsulu commented on #30913
@badbob001 Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-05-09 19:49] dahovey commented on #30941
I tried applying without the namespace in the yaml file, I tried specifying the namespace on the command line. The namespace didn't have effect.

[2019-05-09 19:51] arkiaconsulting commented on #30815
@marctalary: what do you mean ? Could you please explain ?

[2019-05-09 19:51] femsulu commented on #30907
@clementLetsignit Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-09 19:52] officechris commented on #30836
I assume this is also the case if you use the "remember Multi-Factor Authentication" checkbox if you have that configured? Say that's set to the default 7 days, I assume your CA policy overrides that and forces for Login/MFA when the Session Timeout value is hit?

[2019-05-09 19:53] DeanCefola opened #30948 "Service Principal for Tenant 2 is not clear"
"Create a service principal for Tenant 2 to use for accessing the application "
This seems to indicate that I need to create a second Azure AD SP inside Tenant 2 rather than just register the SP from Tenant 1 inside tenant 2

Please rewrite to say, register Tenant 1 App Service Principal inside Tenant 2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-05-09 20:03] DeanCefola opened #30949 "Bold heading"
I missed this section of the doc and my VM build failed
Please add a bold heading for this section

"Grant Tenant 1 App SP permissions in Tenant 2 resource group"
Select the resource group and then select Access control (IAM). Under Add role assignment select Add.
Under Role, type Contributor.
Under Assign access to:, leave this as Azure AD user, group, or service principal.
Under Select type myGa

[2019-05-09 20:12] MarileeTurscak-MSFT commented on #30680
Do you get the notifications when you select "check for notifications"?
![image](https://user-images.githubusercontent.com/13383753/57483598-0ea89e00-725c-11e9-93a5-d997601c49eb.png)

[2019-05-09 20:18] gabebryant commented on #27224
For the lazy (like me) the precise replacement that worked is to change the Lab's current line of:

`az aks create --resource-group k8s-aks-cluster-rg-INITALS --name aks-k8s-cluster -disable-rbac --node-count 1 --node-vm-size "Standard_A1" --generate-ssh-keys`

To a two step process, first:
`az ad sp create-for-rbac --skip-assignment`

And use the return from that call to complete the second rewri

[2019-05-09 20:21] MarileeTurscak-MSFT commented on #30858
Good catch! @davidmu1 - is there a working URL that could go here?

[2019-05-09 20:25] MarileeTurscak-MSFT commented on #30835
Thank you @jay98014 for this explanation. We will now proceed to close this thread. If you have further questions feel free to tag us in the comments and we will gladly continue the discussion.

[2019-05-09 20:25] #30835 closed

[2019-05-09 20:29] MicahMcKittrick-MSFT commented on #30949
@DeanCefola looking at the portion you mentioned, it is part of the larger section so I am not seeing it be easily missed. It also aligns with the formatting of the rest of the section. So not sure it makes sense to add a bold title for that part.

https://docs.microsoft.com/en-us/azure/virtual-machines/linux/share-images-across-tenants#create-the-app-registration

@cynthn thoughts on this?

[2019-05-09 20:30] MicahMcKittrick-MSFT commented on #30948
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-09 20:31] MicahMcKittrick-MSFT commented on #30941
Got it. I will play around with it a bit and see what I get.

[2019-05-09 20:40] #30525 closed

[2019-05-09 20:44] DeanCefola commented on #30949
I read the doc several times and was failing to complete the VM build because I incorrectly thought that the code section below where I register Tenant 2 was all the permissions I needed.
I missed this section until I was on the phone with Akshay Joshi trying to get it to work

We figured it out as we were talking, and then he looked at the doc, and found this section and pointed it out to me.
I t

[2019-05-09 20:53] BharathNimmala-MSFT commented on #30721
Routing this to @yegu-ms to clarify on this.

[2019-05-09 20:57] ajlam commented on #30536
Got it. As discussed in #25361, the fix for adding MariaDB to the SAN was delayed. ETA is end of next week (May 17th) for all production regions.

[2019-05-09 20:57] ajlam commented on #25361
ETA May 17th for rollout.

[2019-05-09 21:06] HeidiSteen commented on #30863
@ctstone No rush but when you get a chance to try out the new collection, could you mark this issue as closed??  https://github.com/HeidiSteen/azure-search-postman-samples/tree/master/Caselaw

[2019-05-09 21:09] MicahMcKittrick-MSFT commented on #30949
@DeanCefola makes sense. We will take a look and see what I can do to make it easier to read

[2019-05-09 21:10] marctalary commented on #30815
Sure, I added the Microsoft.Azure.Functions.Extensions package to an
existing function app that didn't also include the
package Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator.
In debug everything compiled and started without error but the function
failed when invoked with a DI error.  After adding the package it started
working.

See https://github.com/marctalary/FunctionDiExample whic

[2019-05-09 21:13] MicahMcKittrick-MSFT commented on #30949
@cynthn It looks like the section @DeanCefola is referring to is actually a shared section between other docs. So I don't want to change anything that will impact other docs. Hence, assigning to you to take a look and see what you all want to do to move this forward.

[2019-05-09 21:15] sshorkey opened #30951 ""View collected data" - what log search tile?"
In this page, in the View Collected Data section it says "In the Azure portal, in the selected workspace, select the Log Search tile." I cannot find this Log Search tile anywhere. All I can find is this link to a log query editor which is confusing and does not seem to offer any basic log viewing functionality.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2019-05-09 21:20] TravisCragg-MSFT commented on #30578
@zkoncir No matter how you perform an operation in Azure, it all gets converted to JSON and sent to the REST API. You can packet capture what JSON the CLI is sending, and compare it to your template to see if there is any difference.

[2019-05-09 21:20] #26591 closed

[2019-05-09 21:25] dwatsonit commented on #30680
Affirmative

[2019-05-09 21:26] YutongTie-MSFT commented on #30942
@tarockey
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-09 21:27] bhupinder-p-s opened #30954 "SQL Server 2008 R2 with Windows 2008 R2 fails app consistency recovery point"
Hi We are having a strange issue. We are aware that the Windows 2008 R2 is supported without app consistency recovery point and we are asked to disable the app consistency recovery. The issue here is the app consistency recovery points are created if a plain Windows Server 2008 R2 is replicated but if it is combined with SQL Server 2008 R2 then the app consistency recovery point fails. We tested i

[2019-05-09 21:29] YutongTie-MSFT commented on #30938
@tarockey Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-09 21:31] RichardKForester opened #30955 "Bug in sample JSON"
Hello.  There appears to be a bug in the JSON for restricting regions:

{
    "properties": {
        "mode": "all",
        "parameters": {
            "allowedLocations": {
                "type": "array",
                "metadata": {
                    "description": "The list of locations that can be specified when deploying resources",
                    "strongType": "location",

[2019-05-09 21:32] cynthn commented on #30948
@DeanCefola Thanks for the feedback. You're right, the wording was off. I filed a PR to update it. Thanks!

#please-close

[2019-05-09 21:32] Shell32-Natsu opened #30956 "Internal Load Balancer not work in Global Vnet Peering"
Hi,

I saw this [post](https://azure.microsoft.com/en-us/updates/global-vnet-peering-now-supports-standard-load-balancer/) that announced the global vnet peering now works with standard internal load balancer and you also mentioned this on this page.

However, when I try it. I cannot access the front IP address of my load balancer from the peered vnet. Meanwhile I can access the VM in that subnet

[2019-05-09 21:34] #30948 closed

[2019-05-09 21:38] spelluru commented on #29533
Hi @ifflanb - Have you had a chance to verify whether you are using the preview cmdlets? Thanks.

[2019-05-09 21:39] spelluru commented on #30311
#please-close

The issue is resolved now. Thanks.

[2019-05-09 21:39] cynthn commented on #30949
@DeanCefola and @MicahMcKittrick-MSFT There is a point where you transition over to working with Tenant 2, which seems like a good place for a heading. Not sure why I didn't have one there originally, but I've got a PR filed to add one in :)

Thanks for the feedback!

#please-close

[2019-05-09 21:40] DCtheGeek commented on #30955
@RichardKForester Thank you for the feedback and that's a great catch!  Since the type is **array**, the **defaultValue** should also have been an array, such as this: `"defaultValue": [ "westus2" ]`. I'll get this updated right away, thanks for pointing it out!

@MicrosoftDocs/azure-cxp-triage Please assign to me, label 'doc-bug', and #in-progress

[2019-05-09 21:44] #30949 closed

[2019-05-09 21:55] brucelangston opened #30957 "Service Bus and on-prem data gateway Example to write data to on-prem database"
Maybe it's an obvious example, so not covered.  I remember I considered using on-prem data gateway, two years ago, to allow writing data to an on-prem source by queuing the updates on Azure Service Bus, having the on-prem data gateway poll the Azure Service Bus, and having an on-prem server consume the updates queued on Service Bus.  The example here and others seem all to be pulling data from on-

[2019-05-09 21:59] juanren commented on #22274
hi, after deployment from github , the azure did not build it? After I change the code, the output still keep same. How I build code from Azure?

[2019-05-09 22:01] #30955 closed

[2019-05-09 22:03] juanren opened #30958 "deploy is not working after change code"
I still need  run "mvn clean package " to build the code, then deploy can work. Is it  correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e656bde5-b5d8-8d80-b7b3-ab430e57613e
* Version Independent ID: 329eb12f-7302-4ecf-c1bf-a50ba3f34bdf
* Content: [Create your first function in Azure with Java and Maven](https://

[2019-05-09 22:31] clmccart opened #30960 "deploymentconfig.json example"
Could we also get an example of a deploymentconfig.json file? The inferenceconfig.json example is super helpful

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31f6989f-eb38-b376-d01f-9c462c2d1761
* Version Independent ID: dbcf97e5-2f30-e98d-7959-69d39a74305a
* Content: [Machine learning CLI extension - Azure Machine Le

[2019-05-09 22:39] Flodu31 commented on #16842
Hello @snehithm and @JYOTHIRMAISURI
The issue is still present, with new module: Find-AzResource
Now, you need to use Get-AzResource -Name
Can you modified it please? I had the problem this week with a customer...
Thanks.
Florent

[2019-05-09 23:07] bwren commented on #30754
Looks like the space was added, although I tested it without the space and it worked fine for me.  It works with the space too, so I'm fine with the change.

The extend actually works fine.  You probably need to extend the record as opposed to look for it at the far right of the table.  Think we're just running into a length limit in the UI.  So I'll add a sentence about that.

All datetime proper

[2019-05-09 23:07] bwren commented on #30754
#please-close

[2019-05-09 23:16] pgajera8505 commented on #27177
@RohitMungi-MSFT actually I am having same issue that even changing defaultanswer property but didn't work in azure web test. In qnamaker.ai web it is working. I have multiple channels Skype, SharePoint, teams etc. All these channels don't get new updated defaultanswer. I am having function bot and followed below steps to implement

https://www.cloudguy.pro/boost-modern-workplace-microsofts-ai-eco

[2019-05-09 23:19] dcallagh commented on #30695
Hi all. The issue pertains to the section specifically on byol sql licenses which states 10 months is the payback period for build v payg. This is wrong as I compared SQL license only costs for 8 cores payg and byol. Byol 8 core is $113k au ex gst. One 8 core  payg server excluding vm costs is @36k per annum. So 3 years before byol can even hope to compare. If we add a passive dr aoag server of th

[2019-05-09 23:20] #30754 closed

[2019-05-09 23:22] bwren commented on #28689
#please-close

[2019-05-09 23:25] MarileeTurscak-MSFT commented on #30680
Hi @dwatsonit,

If you send me an email at AzCommunity@microsoft.com I can open a support case. I am uncertain if this is a bug and since I don't have a testing environment for this can't confirm.

[2019-05-09 23:44] cgillum commented on #30656
Thanks for calling this out. I think the right thing to do here is update the description to match the code - e.g. say "check if an instance was already created".

[2019-05-09 23:48] markjbrown commented on #30853
Attached is an example of how to update the throughput for a database. We missed creating examples for this.

[azuredeploy-sql-update-ru-database.json.txt](https://github.com/MicrosoftDocs/azure-docs/files/3164374/azuredeploy-sql-update-ru-database.json.txt)

Thank you for reporting this. Will have this fully documented very soon with examples for changing throughput for database and containers.

[2019-05-10 00:04] #30922 closed

[2019-05-10 00:06] brushwood24 commented on #30853
I'm actually looking for how to set the throughout at the collection level, not database.

[2019-05-10 00:08] cgillum commented on #30906
I think this is fair feedback. @sebastianburckhardt what are your thoughts on rephrasing this?

[2019-05-10 00:09] femsulu commented on #30564
taking this offline with @mayurigupta13. Will close this now and update post convo.

[2019-05-10 00:09] #30564 closed

[2019-05-10 00:16] femsulu commented on #30620
@darivuki log streaming is possible. https://docs.microsoft.com/en-us/azure/app-service/troubleshoot-diagnostic-logs#streaming-with-azure-cli wasn't able to find any resource or examples on how to output to eventhub. Pinged an internal resource  who works on App service and he mentioned this isn't supported. If this is a feature you would like to see supported, please share feedback directly with

[2019-05-10 00:16] #30620 closed

[2019-05-10 00:34] ryanlengel opened #30963 "Remove Enterprise Template reference"
"Direct Line Speech and its associated functionality for custom voice-first virtual assistants are an ideal supplement to the Virtual Assistant Solution and Enterprise Template. "

The Virtual Assistant Solution & Enterprise Template have evolved into the singular Virtual Assistant Template. Both of these links reference to the same documentation but only the VA Template needs to be referenced.

-

[2019-05-10 01:00] kazshi commented on #29963
@SnehaAgrawal-MSFT I would appreciate if you could provide information here so that I can update my customer.  Thanks.

[2019-05-10 01:11] #26521 closed

[2019-05-10 01:15] JerryWang20 commented on #10960
You may need install the latest version for Azure CLI, Azure fixed it in latest version.

[2019-05-10 01:20] dcbrown16 opened #30964 "Namespace access policy"
What is the purpose of the namespace access policy (RootManageSharedAccessKey)? Or in other words, what is the difference between using Access Policies at the hub scope and at the namespace scope?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6772544-9a3d-c24c-cdc4-0ffc7cab680f
* Version Independent ID: 78f6255c-4195

[2019-05-10 01:25] Mike-Ubezzi-MSFT commented on #30853
@brushwood24 I believe so, as I was attempting to create an ARM example but the functionality does not allow you to export the template with additional config items made post-deployment but, the following example should get you close:

			"type": "Microsoft.DocumentDb/databaseAccounts/apis/databases/containers",
			"name": "[concat(variables('accountName'), '/sql/', parameters('databaseName'), '/'

[2019-05-10 01:39] kprpg commented on #28927
Agree this is not well documented. Pointing to ASP.NET Core logging is not very helpful. Please give a proper example of hosts.json file configured to dump out the Verbose and DEBUG messages to the Console.

[2019-05-10 02:27] Menighin opened #30966 "Cannot install Service Fabric SDK and Tools"
I'm following [this docs](https://docs.microsoft.com/bs-cyrl-ba/azure/service-fabric/service-fabric-get-started) to install Service Fabric on my Machine. I have downloaded `Web Platform Installer 5.1`. When I run it and select the Service Fabric to install, I'm prompted with two errors and cannot click to Accept the license. Screenshots:

![Error 1](https://user-images.githubusercontent.com/274276

[2019-05-10 02:29] Menighin commented on #30966
Ops, just noticed this package seems to be specific for VS2015. Installing just the SK that doesnt have the tools. Sorry guys, its late here n_n'

[2019-05-10 02:29] #30966 closed

[2019-05-10 02:29] todayppp commented on #30464
@SaurabhSharma-MSFT I tried it, but the attribute in SAML response becomes like this:

<Attribute Name="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn/http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn">
	<AttributeValue>admin@cybersolutions1.onmicrosoft.com</AttributeValue>
</Attribute>

It seems stranger than previous one.

I know the claim "upn" is part of the SAML restricted

[2019-05-10 02:36] #30744 closed

[2019-05-10 02:39] DixitArora-MSFT commented on #30958
Hi @juanren Thanks for reaching out. We will review and update as appropriate.

[2019-05-10 02:42] BryanTrach-MSFT commented on #30674
@seshenoy No, using RBAC is not part of the process of obtaining a access token. I would suggest using management.azure.com to try and obtain an access token as the preferred approach.

[2019-05-10 02:42] #30674 closed

[2019-05-10 03:10] Aaron-Yue opened #30967 "Is the support of CentOS 7 platform in the plan?"
Hi, I'm very glad to see the Debian is supported now, but we use the CentOS system in our projects. Is there a plan for the support of CentOS 7? or What should I do when I want to use this python SDK in CentOS system? Thank you very much!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 150d0f78-2fd2-36dc-9369-27f74cad39

[2019-05-10 03:34] KetanChawda-MSFT commented on #19517
@felipepessoto We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-10 03:34] #19517 closed

[2019-05-10 03:51] RohitMungi-MSFT commented on #29557
@AmirGeorge @diberry Thanks for the your help. I will go ahead and close this issue now.

[2019-05-10 03:51] #29557 closed

[2019-05-10 04:01] KetanChawda-MSFT commented on #30814
Thanks @fabiocav . I have assigned this to content author @ggailey777 to update the doc as appropriate.

[2019-05-10 04:01] KetanChawda-MSFT commented on #30815
Thanks @fabiocav . I have assigned this to content author @ggailey777 to update the doc as appropriate.

[2019-05-10 04:04] KetanChawda-MSFT commented on #30697
@rjmholt I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-10 04:06] KetanChawda-MSFT commented on #30728
@markjbrown Thanks for your inputs.

@OleksandrValetskyy Since there is no doc update required at the moment, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-10 04:06] #30728 closed

[2019-05-10 04:08] KetanChawda-MSFT commented on #30865
@ahmedelnably Thank you for providing the fix.

@SimonClendon We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-10 04:08] #30865 closed

[2019-05-10 04:14] ChiragMishra-MSFT commented on #30921
@Molx32 Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-05-10 04:17] RohitMungi-MSFT commented on #30808
@FullStackEngN We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-10 04:17] #30808 closed

[2019-05-10 04:20] ChiragMishra-MSFT commented on #30934
@bhupinder-p-s  Can you please help us with the link of the document that you are following? This will help us narrow down to the issue.

[2019-05-10 04:21] YutongTie-MSFT commented on #30967
@Aaron-Yue
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-10 04:22] YutongTie-MSFT commented on #30963
@ryanlengel
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-10 04:22] YutongTie-MSFT commented on #30960
@clmccart
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-10 04:23] RohitMungi-MSFT commented on #30963
@ryanlengel Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-05-10 04:25] Juliako commented on #30730
I might be missing something but the https://docs.microsoft.com/en-us/azure/media-services/latest/custom-preset-cli-howto#create-a-new-transform topic shows CLI commands, so not sure about the REST part?

[2019-05-10 04:25] shashishailaj commented on #30475
@MGoedtel Please let me know once you have updated the document and I will action this issue accordingly.

[2019-05-10 04:41] aquibqureshi26 commented on #29695
Hi,

Any update?

[2019-05-10 04:41] YASWANTHM-MSFT commented on #30940
@nicholaslgoodman, Azure replicates data to ensure that it’s always available in the event of a hardware failure. There are four different replication options available. Data within a region is replicated synchronously, and to secondary regions asynchronously in the background. For more information on synchronous and asynchronous replication.
The following below information provides a quick overvi

[2019-05-10 04:44] YASWANTHM-MSFT commented on #30940
@nicholaslgoodman , Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-05-10 04:47] ecfan commented on #30744
@Heer-Boaz & @DixitArora-MSFT, thanks for raising this issue. I think adding this info would be useful, so I'll open a work item. Thanks again!

[2019-05-10 04:51] rajatvijay commented on #30899
@RohitMungi-MSFT which browser are you using?

[2019-05-10 04:51] VikasPullagura-MSFT commented on #30408
@chi-ltd Yes, it is not a good practice to share the Subscription ID in public forums. But the DL to which I have requested to share the subscription ID will be received by support team and will not be shared with anyone. Also we need the Subscription ID to move on the issue further, it is also needed for putting you in touch with a support engineer so you can receive 1:1 support, for performing a

[2019-05-10 05:01] nkumars commented on #30435
Thanks for sharing the sample code, the issue I'm facing is bit different. I'm able to login to B2C AD in a WPF application, but when I try to customize the login page allowing having some javascripts to populate custom fields, it fails to run because JavaScript never runs in primitive browser control from WPF tools. The drop-down control form field also doesn't appear in the browser control, wher

[2019-05-10 05:04] CHEEKATLAPRADEEP-MSFT commented on #30957
@brucelangston Have you checked this document: [Get data from Azure Analysis Services server](https://docs.microsoft.com/en-us/azure/analysis-services/analysis-services-connect)?

[2019-05-10 05:12] JYOTHIRMAISURI commented on #16842
@ananthradhakrishnan  Hi,  please go through the details of this issue and advise.

[2019-05-10 05:30] PramodValavala-MSFT commented on #30311
@rajues We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-10 05:30] #30311 closed

[2019-05-10 05:30] vrishni commented on #30805
@jjgriff93 Thanks, I couldn't find Microsoft.Azure.CognitiveServices.Personalizer in nuget.org. Could you please point to the link of the nuget package.

[2019-05-10 05:41] vijendrapatil commented on #29291
As per the best practice described in above documentation, how ideal it is to redeploy VMs to force a fresh version of the OS? What will happen to the already installed software and various settings made to that VM? If my application is relying on certain COM component, IIS handlers, modules etc. then do I need to keep re-installing the COM component every-time I upgrade VM OS? In my opinion this

[2019-05-10 05:44] KrishnaG-MSFT commented on #30897
@jennyhunter-msft Thanks for your quick response.
@ericcwk At this point it appears that there's no edits or updates needed for the documentation. So closing this issue for now. But if there are further questions regarding this matter or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2019-05-10 05:44] #30897 closed

[2019-05-10 05:46] AjayKumar-MSFT commented on #30964
@dcbrown16, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-05-10 05:53] SadiqhAhmed-MSFT commented on #30954
@bhupinder-p-s Thanks for the question! We will investigate this issue and get back to you soon.

[2019-05-10 06:16] DashleenBhandari-MSFT commented on #29600
@tony-gutierrez Please let us know if you need further assistance in opening a support ticket with us.

[2019-05-10 06:18] svandenhoven opened #30968 "No link that describe how to link Cloud Partner Profile with Dev Center Account"
In the end of te page it states "Once you have completed the Dev Center registration, link your Cloud Partner Profile with your Dev Center account (see detailed steps here). This step must be completed before publishing your transact offer." But there is not link or reference at see detailed steps here. It think it should be https://docs.microsoft.com/en-us/azure/marketplace/cloud-partner-portal-o

[2019-05-10 06:20] Sogup commented on #30913
Yes. We have made a feature improvement in this release where if a snapshot phase for a backup job is committed and shows as completed, it will be available for recovery even if the second phase 'transfer data to vault' fails.

[2019-05-10 06:20] Sogup commented on #30913
#please-close

[2019-05-10 06:26] SadiqhAhmed-MSFT commented on #30951
@sshorkey Thanks for the question! We will investigate this issue and get back to you soon.

[2019-05-10 06:32] PramodValavala-MSFT commented on #30917
@YaraZakaria I believe [`Console.ReadKey`](https://docs.microsoft.com/en-us/dotnet/api/system.console.readkey?view=netcore-2.2) specifically looks for a key press by the user which will not work when there is no interactive console.
For example, when using input redirection or in a CI job.

On the other hand, [`Console.Read`](https://docs.microsoft.com/en-us/dotnet/api/system.console.read?view=net

[2019-05-10 06:38] evertonmc opened #30970 "Missing documentation for dynamic increment"
This feature states to be "completed",
https://feedback.azure.com/forums/248703-api-management/suggestions/15161985-support-dynamic-n-for-quota-call-rate-limits
but there is no docs on how to achieve it

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c64c31f4-ee3f-1482-14a8-3585ff5ef2de
* Version Independent ID: 8e50e22

[2019-05-10 06:39] BryanTrach-MSFT commented on #30609
@beachseeker Thank you for bringing this to our attention. We have assigned the feedback to the doc author as this will likely require a larger rewrite if approved.

@conceptdev The experience in the portal has changed when connecting a database for the quick starts blade and the doc is no longer up to date.

[2019-05-10 06:43] rploeg commented on #30813
Thanks. that did the job!

[2019-05-10 06:43] #30813 closed

[2019-05-10 06:43] SadiqhAhmed-MSFT commented on #30968
@svandenhoven Thanks for the comment! We have shared this feedback with the content author for further review and update as appropriate.

@ellacroi & @v-miclar FYI.

[2019-05-10 06:48] mcurko commented on #30552
We're unable to complete your request
unauthorized_client: The client does not exist. If you are the application developer, configure a new application through the application management site at https://apps.dev.microsoft.com/.

[2019-05-10 06:49] BryanTrach-MSFT commented on #30660
@mlutsan The blogging service is going through some updates and it appears to have suffered some brief unavailability. We received confirmation internally that it should be functioning as expected and I just verified the URL in the doc is live again.

Thank you for raising this up. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your

[2019-05-10 06:50] #30660 closed

[2019-05-10 06:53] mcurko commented on #30552
After switching app registration to "Accounts in any organizational directory", MS logins aren't able to connect anymore.

[2019-05-10 06:58] BryanTrach-MSFT commented on #29175
It sounds like you need to rename the 'Assembly Name' for the WebJob project to 'Run', published it, and then you should see the Run Command was set to 'Run.exe'.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-10 06:58] #29175 closed

[2019-05-10 07:02] chlandsi commented on #30967
There is currently no support for CentOS, and we don't have a timeline to add it to the supported platforms at the moment. Sorry for the inconvenience!

[2019-05-10 07:09] BryanTrach-MSFT commented on #29225
@Spagoot420, Thank you for raising this up. The VNET blade is in an in-between state currently as there is the new VNET integration feature. This doc contains information about the new VNET integration feature at the very bottom:

https://docs.microsoft.com/de-de/azure/app-service/web-sites-integrate-with-vnet#new-vnet-integration

This feature is currently in preview. Once it launches into GA, th

[2019-05-10 07:09] #29225 closed

[2019-05-10 07:15] BryanTrach-MSFT commented on #29300
@mchudinov I am unaware of any items that are no longer available after reading through the doc. If you still believe the doc needs attention, can you please reply with further details about what exactly is wrong with the doc (i.e. screenshot).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the d

[2019-05-10 07:15] #29300 closed

[2019-05-10 07:27] SumanthMarigowda-MSFT commented on #30924
@stdistef Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-10 07:30] BryanTrach-MSFT commented on #29409
@gldraphael Thank you for the PR. We have requested the doc author to review it.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-10 07:30] #29409 closed

[2019-05-10 07:34] BryanTrach-MSFT commented on #29532
@ketaanhshah Thank you for the doc feedback. We have assigned it to the author to see if they can approve/deny an update to include a sample AZ CLI script for java deployments.

[2019-05-10 07:35] BryanTrach-MSFT commented on #29730
@benjamin-goldman Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-05-10 07:35] #29730 closed

[2019-05-10 07:44] SnehaGunda commented on #29850
@obzervr hope the above response helps. please reach out to Shireesh if you need any assistance. We will close this issue now.

#please-close

[2019-05-10 07:46] RohitMungi-MSFT commented on #30811
@NHaiby Could you please let us know how we can address this issue in form recognizer?

[2019-05-10 07:46] PramodValavala-MSFT commented on #30970
@evertonmc The [`quota`](https://docs.microsoft.com/en-us/azure/api-management/api-management-access-restriction-policies#SetUsageQuota) policy supports a `bandwidth` attribute which defines

_"The maximum total number of kilobytes allowed during the time interval specified in the renewal-period"_

I believe this covers the scenario mentioned in the feature request.

[2019-05-10 07:47] BhargaviAnnadevara-MSFT commented on #30271
@frenchy237 We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-05-10 07:47] #30271 closed

[2019-05-10 07:49] evertonmc commented on #30970
It doesn't. The feature request refers to a custom N value for the increment, like: this requests costs 7 calls in the available quota.

[2019-05-10 07:59] SnehaGunda commented on #30548
@rajdhandus Unique keys are supported for both SQL and MongoDB accounts. You can see in the portal while container creation if the option is available. We don't want to mention anything explicit in the docs because the support will be enabled for other APIs in future.

Will close the issue if there aren't further questions.

#please-close

[2019-05-10 08:05] BryanTrach-MSFT commented on #30380
@shadyshrif I just followed the doc step by step and did not encounter any errors. I was successfully able to host my project on my Azure Web App. The only external dependency was that I used a recent version of Git Bash.

Unfortunately, since you did not share the specific error messages that you received and the steps in which you encountered the errors, we cannot assist further as we were unabl

[2019-05-10 08:05] #30380 closed

[2019-05-10 08:06] SnehaGunda commented on #30667
@andrewchungxam we updated the icon in the image. will close the issue if there aren't further questions.

#please-close

[2019-05-10 08:08] OffColour commented on #28045
Hi,
As this has now gone GA, can you confirm if this issue has been fixed please?

[2019-05-10 08:08] rolandkru commented on #27787
Any news when this will be supported, or least, whether this issue is still in place?

[2019-05-10 08:10] RohitMungi-MSFT commented on #30899
@rajatvijay It works fine on any browser for me.
![custom_speech_gif](https://user-images.githubusercontent.com/46958063/57512148-880dc280-7328-11e9-9439-6cce033446f8.gif)

I will go ahead and close this issue as it works as expected. I would suggest you to raise a support ticket for your resource in the subscription from Azure portal or raise a support request from speech portal by sending email

[2019-05-10 08:15] RohitMungi-MSFT commented on #30905
@wmpauli The links perfectly fine for me. Could you please check again?
![image](https://user-images.githubusercontent.com/46958063/57512642-d374a080-7329-11e9-9763-60ef822a119e.png)

[2019-05-10 08:16] SnehaGunda commented on #30789
@rjosephp I guess it's a bug, we will update the doc.

[2019-05-10 08:22] SubhashVasarapu-MSFT commented on #30956
@Shell32-Natsu , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-05-10 08:23] SnehaGunda commented on #30528
@ndbills the links are fixed, we will close the issue now.

#please-close

[2019-05-10 08:24] ram-msft commented on #30633
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-10 08:25] #30633 closed

[2019-05-10 08:28] tspannagel opened #30971 "Can't Stop/Start triggers with inline powershell The Term is not recognized...."
I'm trying to setup a continous deployment and have to disable a trigger. The provided script doesn't work from the inline azure powershell task:
* "The term 'Get-AzDataFactoryV2Trigger' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again." I also can't instal

[2019-05-10 08:28] #30528 closed

[2019-05-10 08:29] SnehaGunda commented on #30314
@DeepfryingGravity Hope Mark's response above helps. We will close the issue if there aren't further questions.

#please-close

[2019-05-10 08:30] BryanTrach-MSFT commented on #30235
@fhurta Thank you for raising this up. It might be that you may have to migrate your web job to an Azure Function as a workaround. We are discussing this matter internally and will circle back with you shortly with an update.

[2019-05-10 08:32] BryanTrach-MSFT commented on #30364
@rbmathis We encountered the same issue. We have assigned the doc author as a result.

@msangapu Is this related to the port forwarding changes that we had discussed a few weeks back? I am having the same issue as the customer.

[2019-05-10 08:35] BryanTrach-MSFT commented on #29773
@ekkelenkamp Thank you for bringing this up. Since this appears to be a potential product issue and less of a docs issue, we would like to work closer with you on this matter.

Can you please reach out to me at brtrach@microsoft.com with your subscription ID and the URL of this forum post? We look forward to your reply.

[2019-05-10 08:35] #29773 closed

[2019-05-10 08:36] BryanTrach-MSFT commented on #29772
@ekkelenkamp This will also be included in our offline discussion. Please see #29773 and reach out to us at your earliest availability.

[2019-05-10 08:36] #29772 closed

[2019-05-10 08:37] chi-ltd commented on #30408
Sorry what is DL?

[2019-05-10 08:39] jjgriff93 commented on #30805
Hi @vrishni I'm having the same problem, doesn't seem to exist - I've tried searching for Microsoft.Azure.CognitiveServices.Personalizer and Microsoft.Azure.CognitiveServices.Personalization on Nuget.org, both don't seem to be there, hence why it's not appearing in VS either

[2019-05-10 08:40] YaraZakaria commented on #30917
@PramodValavala-MSFT So how was I supposed to make it work without changing the code and by using the  Console.ReadKey as supposed?

[2019-05-10 08:42] SnehaGunda commented on #29918
@craiglpeters Mike's command above should work. Submitted PR above to include container creation, we will close this issue now.

#please-close

[2019-05-10 08:44] BryanTrach-MSFT commented on #22395
@francoislarouche It appears I missed your message as you tagged the wrong person.

This channel, Azure-Docs, is specifically for issues about the docs themselves. As you mentioned, this is/was a potential product issue and not a doc issue.  As a result, we need to review sensitive data to see where the issue is occurring. In order to do so, we need Personally Identifiable Information (PII) from y

[2019-05-10 08:47] icecoldfire commented on #7237
Any updates on the ARM template for soft delete?

[2019-05-10 08:48] nehatiwari1994 opened #30972 "What about Costing to enable these features"
Please mention if any costing is applicable to enable these features in Security centre

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3aa2f48e-a8f8-fb03-753b-9e3b76075b96
* Version Independent ID: 2554dcd1-27a2-3a32-4097-b17dd261a1ad
* Content: [Integrate security solutions in Azure Security Center](https://docs.micro

[2019-05-10 08:58] PramodValavala-MSFT commented on #30917
@YaraZakaria Could you share details on the environment where you are running this code like the IDE, OS, etc.

[2019-05-10 08:59] marcinkoperski opened #30973 "Multiple pools using ARM template"
I'm hitting an issue while deploying AKS cluster with multiple pools using ARM template (apiVersion 2019-02-01, type: Microsoft.ContainerService/managedClusters). Works fine for the first time, but when I try to run the same ARM template against already created AKS cluster (no change made to the ARM template) it fails with message: OperationNotAllowed. Node pool update via managed cluster not allo

[2019-05-10 09:00] jesspent opened #30974 "Windows 10 Client authentication"
When we have MFA set to text or code.
Windows 10 VPN does not allow you to enter in a code or text code and fails
How can we get this working? we are using PAP

---
#### Detail Dokumen

⚠ *Jangan edit bagian ini. Diperlukan untuk masalah penautan docs.microsoft.com ➟ GitHub.*

* ID: a61a7e9a-44bf-7bdc-f810-87e2fd6792e1
* Version Independent ID: 71d11105-b83e-952e-d107-1ff9a7c8d107
* Content: [Use

[2019-05-10 09:06] rajatvijay commented on #30899
@RohitMungi-MSFT
This is not working on MacOS with google chrome browser.

Checkout this video
[https://www.loom.com/share/40fd0ba459004d0481273734ac78cc49](https://www.loom.com/share/40fd0ba459004d0481273734ac78cc49)

My suspicion:
Zip file uploaded from chrom has mime type = `appilcation/zip`
Zip file uploaded from chrom has mime type = `application/x-zip-compressed`
And in the source code of th

[2019-05-10 09:08] Aaron-Yue commented on #30967
OK, thanks for your reply!

[2019-05-10 09:15] YaraZakaria commented on #30917
@PramodValavala-MSFT I'm running this on my VM having Windows Server 2016 Standard and Visual Studio Entreprise 2019. And the commands in git bash command.

[2019-05-10 09:16] RohitMungi-MSFT commented on #30899
@rajatvijay Thanks for your detailed analysis. Unfortunately, I currently do not have access to Mac to check the same. Could you please report the same through Support ID mentioned above as this is the direct way to reach out to the product group to fix any issues with services. We use this feedback forum of GIT for issues in documentation and any product issues are reported via the support channe

[2019-05-10 09:20] MohitDhingra-MSFT commented on #30903
Hi @johnneycao

I hope the above information is helpful. We will now close this issue. Should you have any further queries, please tag me or @shashishailaj  to your reply and we can gladly continue the conversation.

Thank you.

[2019-05-10 09:20] #30903 closed

[2019-05-10 09:22] RohitMungi-MSFT commented on #30963
Created PR #[76358](https://github.com/MicrosoftDocs/azure-docs-pr/pull/76358) to fix this

[2019-05-10 09:29] VikasPullagura-MSFT commented on #30408
@chi-ltd It is the Distribution List (AzCommunity@microsoft.com). It is the email ID.

[2019-05-10 09:34] ChiragMishra-MSFT commented on #30971
@tspannagel Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-05-10 09:36] VikasPullagura-MSFT commented on #30973
@marcinkoperski Thanks for the question! We are investigating and will update you shortly.

[2019-05-10 09:40] MohitDhingra-MSFT commented on #30792
Hi @lvjianjunljj ,

DirectoryId is the tenantId, which is correct in your case and if you want to use "TenantName", hover on your account name and you will see Domain value that is the correct tenant value.

Please check the below screenshot:

![image](https://user-images.githubusercontent.com/47346772/57517759-2dc72e80-7335-11e9-8bad-52c42e431384.png)

or you can also use tenantId instead of {ten

[2019-05-10 09:40] #30792 closed

[2019-05-10 09:42] MohitDhingra-MSFT commented on #30802
Hi @ManuelMos,

I hope the above information is helpful. We will now close this issue. Should you have any further queries, please tag me or @shashishailaj to your reply and we can gladly continue the conversation.

Thank you.

[2019-05-10 09:45] aaronhughesdelt opened #30975 "credential manager"
It would help if the page/document passed you to the relevant area for details around credential manager when talking about the self-hosted IR. The doc says about using credential manager however it doesn't explain if its needed to be installed, configured to be used by the IR etc...

It also isn't clear as to what the full inbound 8060 local firewall rule needs to be for the credential manager us

[2019-05-10 09:56] ChiragMishra-MSFT commented on #30975
@aaronhughesdelt Thanks for bringing this to our notice. I am assigning the issue to the content owner to look into and update as appropriate.

@nabhishek Can you please take a look at this one?

[2019-05-10 10:11] bertrandpons opened #30976 "Issue with permissions while deploying IR with VNET integration"
Hi,

Question based on the following documentation: https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment

I get this error when I want to deploy IR with VNET integration from Azure DevOps:

[code]

Could you please tell me how to grant this right?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2019-05-10 10:29] frobnitzz commented on #30331
Hi,

Any updates on this?

Thanks,
John

[2019-05-10 10:29] watahani commented on #29387
Hi @MicrosoftGuyJFlo

Is there any update?
May I help you?

[2019-05-10 10:58] sanjusanjeet commented on #11093
Did you able to get any solution. I am also into same situation where I want to copy only required columns from ADLS Gen2 RAW file to ADLS Gen2 Stage File. I have to define schema for every file separately which means 1 activity, 2 dataset per file and not an elegant solution if we talk 1000+ file. I need it dynamically.

[2019-05-10 10:59] Dhawal05 commented on #30670
Dear Team I am also trying to do the same @Charmendar.

 {
      "condition": "[equals(parameters('vn2vnPeerConnections').connectionState,'enabled')]",
      "apiVersion": "2017-05-10",
      "name": "nestedTemplate",
      "type": "Microsoft.Resources/deployments",
      "subscriptionId": "e58bfb15-e86a-419e-81ca-81b7a8268965",
      "resourceGroup": "ZRG-UKS-D-HubVNet",
      "dependsOn": [

[2019-05-10 11:04] Miggleness commented on #26479
Should this be logged to functions core tools instead?

[2019-05-10 11:04] gaurav7961 commented on #11093
@sanjusanjeet yes I was able to use dynamic mapping via passing dynamic schema stored into a SQL table as below format :
{
        "type": "TabularTranslator",
        "columnMappings": {
            "Id": "ContactId",
            "CreatedDate": "CreatedDate",
            "LastModifiedDate": "LastModifiedDate"
        }
}
and later us this in Copy activity , mapping like "@json(string(item().colum

[2019-05-10 11:14] chi-ltd commented on #30408
Would it be worth just escalating this issue with support now?

[2019-05-10 11:24] DhawalCCI opened #30978 "LinkedAuthorizationFailed - For Nested Templates"
Dear Team,

I was trying to perform Vnet Peering from Hub network to spoke network and ran into this issue.

The main goal is to perform Vnet peering from both ends when we deploy a spoke.

PFB the code snippet -

 {
      "condition": "[equals(parameters('vn2vnPeerConnections').connectionState,'enabled')]",
      "apiVersion": "2017-05-10",
      "name": "nestedTemplate",
      "type": "Microsoft

[2019-05-10 11:25] sanjusanjeet commented on #11093
Thanks Gaurav, is your source and sink both ADLS gen2. Somewhere I read that you need to create separate dataset for fixed schema of data lake files.

[2019-05-10 11:36] Apholisha opened #30979 "Need list of possible datasources\WindowsEvents"
Having the list of possible Windows Events and the valid values that can be passed trough an ARM template would be very helpful.

URL:  https://docs.microsoft.com/en-gb/azure/templates/microsoft.operationalinsights/2015-11-01-preview/workspaces/datasources

For now this is basically a guessing game, trying key words in the portal.

[2019-05-10 12:00] keikhara commented on #29602
@dajarma Are you collecting stdout/err or is this just some logs which you instrument using AppInsights?

[2019-05-10 12:07] gaurav7961 commented on #11093
In my solution, it's from ADL Gen1 to SQL or ADL Gen1 to Blob.

[2019-05-10 12:11] vikaskumawat80 opened #30980 "Move data to S3 from Azure Storage"
Can I use AzCopy v10 to copy data to S3 from Azure Storage?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15911160-5ba2-fb0a-0b24-16b3857e20ce
* Version Independent ID: d925bc9f-f825-2f82-168c-6c30d716b9ce
* Content: [Copy or move data to Azure Storage by using AzCopy v10](https://docs.microsoft.com/en-us/azure/storag

[2019-05-10 12:12] PVikash opened #30981 "Command Not Found"
Hi,

I am trying to run 'New-AzHDInsightClusterConfig' command on PowerShell but it ends up with the following error:
New-AzHDInsightClusterConfig : The term 'New-AzHDInsightClusterConfig' is not recognized as the name of a cmdlet, function, script file, or operable program

Please suggest if I have to import any specific module.

Thanks,
Vikash Pareek

---
#### Document Details

⚠ *Do not edit th

[2019-05-10 12:34] malake opened #30982 "Documentation isn't consistent"
From the first image to the second, is it contoso123 or contoso12345. really terrible example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21d6cd84-d0c4-eea9-c2c6-e6f3be91dad8
* Version Independent ID: 6fa411bf-934b-fc27-8fef-09f07c3f0299
* Content: [Connect to Azure Cosmos DB's API for MongoDB using Studio 3T - Azu

[2019-05-10 12:40] gldraphael commented on #21098
+1, I tried G followed by D rather than G+D because that's what I'm used to from every other web application.

[2019-05-10 12:50] arkiaconsulting commented on #30815
Thanks @marctalary, I see, but I'm affraid that this isn't related to the present issue.

[2019-05-10 12:51] malake commented on #23201
Same thing here on Studio3T. Also getting this error. How does the username and password provided to me by the service not work? @angoyal-msft did you even read the error @walima0103 provided? the  --authenticationDatabase is "admin"

@walima0103 if you found an answer to this, can you please share so the rest of us don't need to rely on Microsoft support?

[2019-05-10 12:55] robfr opened #30983 "Update document to include instructions for Ubuntu 18.04"
Ubuntu18 is using netplan to manage Network Interfaces as opposed to /etc/network/interfaces.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3b4d2d7-88a3-c493-68f9-39c89fbbcf96
* Version Independent ID: 6dff4842-197d-9e60-3c80-b34cc6aaab3e
* Content: [Multiple IP addresses for Azure virtual machines - Portal](https://

[2019-05-10 12:56] brucelangston commented on #30957
Hi, Pradeep,
Thank you. I hadn't seen that, but it doesn't really seem to address my question, which I have clarified in the original post.
The environment I'm working in is hybrid with compute, analytics and reporting both on-prem and in Azure. I need to generate reports on-prem that include data provided by Azure SQL Database. Infosec policy prevents Azure components from connecting to on-prem c

[2019-05-10 13:05] shashishailaj commented on #30921
@Molx32 We are engaging the content authors for updating the proper links.

@rkarlin Could you please review this issue and update it as needed?

[2019-05-10 13:12] shashishailaj commented on #30296
@TiloGit WE checked this internally with engineering and found that yes you should be able to qquery the GC. There is nothing in the managed domain service the blocks Global Catalog ports. You would only need to manage the network security group (NSG) to allow the network traffic. The default NSG should allow this for any virtual machine joined to a virtual network. If you want public access to th

[2019-05-10 13:13] SaurabhSharma-MSFT commented on #30331
@jeevansd Can you please help on this issue.

[2019-05-10 13:17] j-martens commented on #30460
@RohitMungi-MSFT - please assign to @nibaccam who is fixing this image.

@skywalkerisnull thanks for reporting this issue. Transparency doesn't work on dark backgrounds indeed.

[2019-05-10 13:18] glloyd2010f commented on #21316
Additional the new vnet integration, does this make it a private? or is that still not a thing. We are hoping to drop ILB ASEs for private ASPs with vnet integration.

[2019-05-10 13:27] ivte-ms opened #30984 "The "baseball game" example in the docs makes no sense for non-US reader"
The entire example makes no sense because virtually no one outside of the US and a handful of other countries (13 in total, and there are no European countries in this list) has any idea about the rules of baseball and/or how to interpret the scores.

The following string:

is not related in any obvious way to the table above (that contains 1s and 0s). It doesn't look like that's partial sums eith

[2019-05-10 13:28] nerddtvg opened #30985 "Incorrect Remote Connection Command"
In the remote shell section, the command below is incorrect:

`az webapp remote-connection create --subscription &lt;subscription-id&gt; --resource-group &lt;resource-group-name&gt; -n &lt;app-name&gt; &`

The command is now:

`az webapp create-remote-connection --subscription &lt;subscription-id&gt; --resource-group &lt;resource-group-name&gt; -n &lt;app-name&gt; &`

---
#### Document Details

⚠

[2019-05-10 13:30] nerddtvg commented on #30985
That formatted poorly.

In the remote shell section, the command below is incorrect:

`az webapp remote-connection create --subscription subscription-id --resource-group resource-group-name -n app-name &`

The command is now:

`az webapp create-remote-connection --subscription subscription-id --resource-group resource-group-name -n app-name &`

[2019-05-10 13:35] breyed opened #30986 "Tracking of handled exceptions in ASP.NET Core"
This page discusses setting up handled exception tracking in just about every scenario except ASP.NET Core. For ASP.NET Core, how do you cause Application Insights to track handled exceptions or (if you're doing explicit tracking) to not track handled exceptions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a23bc2a8-

[2019-05-10 13:38] darivuki commented on #30620
@femsulu Thank you for investigating this. I will open a feature request on the link you have specified.

[2019-05-10 13:40] diberry commented on #30805
Thank you everyone for reporting this issue. The package is currently on a [GitHub repo](https://github.com/Azure-Samples/cognitive-services-personalizer-samples/tree/master/preview-nuget). You can download the whole repo as a zip file which will get you the samples and the package. Please know you need to direct Visual Studio to look for NuGet packages in the new, local location. #in-progress

[2019-05-10 13:40] tmoon8730 commented on #30815
Does this also affect the usage of AddServiceBus()? I have a simple Service Bus triggered function and am unable to get it to bind the service bus extension after implementing this DI system.

[2019-05-10 13:44] rimman commented on #30984
Thank you for your feedback. This example is based on a pretty well-known in the community research paper - https://www.microsoft.com/en-us/research/publication/replicated-data-consistency-explained-through-baseball/

The type of game is actually completely irrelevant (it could be soccer, basketball, or any event with a score...).

If you would like to come up with another example for our docs, it

[2019-05-10 13:49] Blackmist commented on #30459
@skywalkerisnull Sorry for the late reply. Have verified that the fix is live for this image. Thanks again for reporting the problem!

#please-close

[2019-05-10 13:57] SamirFarhat commented on #21316
Hi @waynemsft,
Why do you mean by "other web app in the same tenant" ?
Thanks

[2019-05-10 14:05] cblomart commented on #30836
We have similar questions regarding Sharepoint Online (SPO):
Is SPO Idle-Timeout in any way comparable to sign-in frequency of Contditional Access (CA).

Having a clear explanation of that would help us decide where the configuration should be done. Currently we configured it in both places SPO & CA.

[2019-05-10 14:05] ivte-ms commented on #30984
Thank you for your reply, but knowing the rules of baseball should not be a requirement for reading the example. In fact, it shouldn't use any regional hobbies at all, to make it accessible to all people regardless of their country of origin.

To understand my frustration, imagine reading a technical example that describes the interaction of entities in terms of Pokemon evolutions (or any other ob

[2019-05-10 14:13] arberberisha-icemobile commented on #27712
I had same issue and then luckily i disabled the event based trigger and data lake containers were available again.
Is there an estimation when this feature would be available?

[2019-05-10 14:13] waynemsft commented on #21316
Hi SamirFarhat,

Sorry, "other web app in the same tenant" this description is not precise.
Since App Services is a multi-tenant service, so apps (not in an App Service environment ) will share network infrastructure. So I would like to know is - will other apps can/cannot access private resources on my vnet via new vnet integration?
Thank you.

Cheers,
Wayne

[2019-05-10 14:17] rimman commented on #30789
It’s correct and we included it for comprehensive explanation.

Cosmos account type could be single-master or multi-master (it implicitly indicates the global replication mode).
Accounts today can be created as single master or multi master. In each of these you can add/remove regions (and could end up with 1 region). That’s what that row depicts.

I hope it helps.

Thanks,
Rimma

#please-close

[2019-05-10 14:21] Axxeption commented on #30805
I also have this issue. It is not yet a NuGet Package.

[2019-05-10 14:28] Charmendar commented on #30670
I figured out the issue is CLI command, I was using "az deplyment create" which hit the error. After switching to "az group deployment create" the templated works fine.

My question will be does it make sense to use az group deployment for cross subscription deployments? Why do I need to specify a resource group if I want to deploy resources at subscription level?

[2019-05-10 14:38] cephalin commented on #30156
@benc-uk we're now redirecting this page to an all-up decision tree, so deleting this legacy article. #please-close

[2019-05-10 14:41] bandersmsft commented on #30936
@azurerm Hi. This article was updated to replace AzureRM commands with new AZ commands. The note you're referring to at the top of the article was added to all Azure articles that had the older Azure RM commands that were replaced.
#please-close

[2019-05-10 14:42] cephalin commented on #29766
@TwoSeven99 It doesn't look like you only followed this quickstart, but actually configured something in the Authentication/Authorization. Is that right? Reply URL is a concept in federated auth. If so, turn off auth and the error should go away.

[2019-05-10 14:43] manojsgh commented on #12552
I had similar issue and found resolution from Microsoft. This issue is related to application registration in Azure AD, When we register an application its getting registered with version V1 and Access token issuer comes with sts url and if we try to pass Access Token with V2 its failed V2 issuer is login.microsoft.com. so fix is to go in manifest file "accessTokenAcceptedVersion": 2 for all regis

[2019-05-10 14:43] shashishailaj commented on #30823
@eringreenlee Could you please review this issue and provide your feedback accordingly.

[2019-05-10 14:44] shashishailaj commented on #30812
@0acff4be45 I am trying to test this in my lab and will update my findings .

[2019-05-10 14:46] cephalin commented on #29743
@stefsch the sentence under the scale-out bullet actually talks about that. Is that sufficient or do you think it should be clarified more?

[2019-05-10 14:53] dduensch opened #30987 "Please fix tip"
In the tip for "Table and column scoping" the second sentence is wrong. It should read &gt;&gt; Using '==' will not include records where Source has values such as "error code 404" or "Error". &lt;&lt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: deb37cee-0e7c-06ad-3053-d05d49378b26
* Version Independent ID: a1dae060

[2019-05-10 14:55] efanning opened #30988 "Microsoft Edge"
Does this really not work with Edge?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2010f5ac-1080-addd-1fb3-5b05db26c1f6
* Version Independent ID: 1aa18d6a-5846-7989-b844-fc8ad027921b
* Content: [Azure AD Connect: Seamless Single Sign-On](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sso

[2019-05-10 14:56] PatLaPoint commented on #30936
Hi

Ah ok thats why i didnt find them in az,
Rm it is then

Mvh
Patric Sten

________________________________
From: Bill Anderson <notifications@github.com>
Sent: Friday, May 10, 2019 4:41:59 PM
To: MicrosoftDocs/azure-docs
Cc: Patric; Mention
Subject: Re: [MicrosoftDocs/azure-docs] AzureRM (#30936)

@azurerm Hi. This article was updated to replace AzureRM commands with new AZ commands. The note y

[2019-05-10 15:07] sebastianburckhardt commented on #30906
I called them locks and critical sections because they really are that. They really do behave like locks (mutexes) and critical sections, and not like transactions.

Yes. No two orchestrations can be in a critical section at the same time (if the respective set of locks has a nonempty intersection). The orchestration does not enter the critical section until it has acquired all the locks.

I think

[2019-05-10 15:13] Mike-Ubezzi-MSFT commented on #30667
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-10 15:13] #30667 closed

[2019-05-10 15:14] Mike-Ubezzi-MSFT commented on #29918
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-10 15:14] #29918 closed

[2019-05-10 15:18] amitpatelupw opened #30989 "dfdfsd"
fsdfsdfsdfdsfsdf

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c714cc40-47f5-fb3c-51e0-f504c38ec937
* Version Independent ID: 15da2499-61eb-ec11-53be-7d006cdd4b38
* Content: [Set up disaster recovery for Azure VMs to a secondary Azure region with Azure Site Recovery](https://docs.microsoft.com/en-in/azure/site-recover

[2019-05-10 15:18] amitpatelupw commented on #30989
dssadadasdasd

[2019-05-10 15:18] amitpatelupw commented on #30989
dvvffdsfdsfsdf

[2019-05-10 15:21] shashishailaj commented on #30972
@nehatiwari1994 Thank you for your feedback . We will investigate and update further.

[2019-05-10 15:22] CeciAc opened #30990 "Link mistake in "Splunk and Azure Monitor log query""
@ypresto commented on [Fri May 10 2019](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/2520)

「SQL と Azure Monitor ログ クエリ」の方にリンクされています

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 2f2a1786-eaa0-89da-d3e2-bf5eddad50ec
* Version Independent ID: e490f534-b0ce-612a-2bbb-3532326879e4
* Content: [Azure Monitor ログ クエリ](https://docs.microsoft.com

[2019-05-10 15:25] CeciAc commented on #30990
Hi team,
the user reports these two links direct to the same page:
![imagen](https://user-images.githubusercontent.com/26746247/57538364-a66ec080-731e-11e9-94f4-574ef9f62801.png)

[2019-05-10 15:29] kenog-slalom commented on #27712
The solution for me, and I expect for all of us with this issue, is to delete any Event Grid Subscriptions associated with the storage account. The Event Subscriptions blade in the azure portal was not intuitive for me since it filters strictly based upon topic type, and doesn't have an "All Subscriptions" view.

[2019-05-10 15:32] MicahMcKittrick-MSFT commented on #30695
@dcallagh thanks for the reply and the details.

@MashaMSFT can you take a look at this one? Might make sense to have some more information about the savings and how they are calculated integrated into this doc.

[2019-05-10 15:33] johnwildes opened #30991 "Expansion on Shared Image Gallery with Multiple Subscriptions"
I appreciate some of the subscription questions in the FAQ around SIG.  It would be helpful to have an expanded document that shows how using SIG is supported with Multiple Subscriptions.  I have a customer who deploys many subscriptions because of organizational ownership, but has centralized image management online.  They don't want to have to manage a SIG per subscription, and then have replica

[2019-05-10 15:33] jivagopecharki opened #30992 "Associate Hybrid Connection to an AppService"
Is it possible to associate an existing Hybrid Connection to an appservice programatically?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 645d01fc-eae4-67c0-ef63-77d34d854d5e
* Version Independent ID: 516bc8a7-d927-d080-36a6-69ca95686feb
* Content: [Hybrid connections - Azure App Service](https://docs.microsoft.com/en-

[2019-05-10 15:35] CeciAc opened #30993 "Send message code"
@xavier-d commented on [Fri May 10 2019](https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/360)

msg = Message(b'Test Message')
queue_client.send(Message("Message"))

should be

msg = Message(b'Test Message')
queue_client.send(msg)

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: 47bc6b40-39cd-

[2019-05-10 15:36] CeciAc commented on #30993
Hi team,
I'm moving this here since the user is making a suggestion on the code

[2019-05-10 15:38] tikicoder opened #30994 "Storage limits"
None of the database limits pages has any mention about storage.  Which could lead someone to believe there is no max.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a85aa0-5baf-cf60-94a0-fa949c3a841b
* Version Independent ID: f3673c4b-4c84-64be-27e5-04d57f4b5008
* Content: [Limitations in Azure Database for MySQL](h

[2019-05-10 15:39] tikicoder opened #30995 "Large DB Support"
the PaaS offering doesn't look to support over 4TB.  It would be nice if there was something that talks about a way to plan for those larger systems.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29172f4e-3097-67be-e8ae-a329259f4dfe
* Version Independent ID: 08740419-f994-4851-ac39-a1d6bac7b34e
* Content: [High availa

[2019-05-10 15:47] #30875 closed

[2019-05-10 15:52] MicahMcKittrick-MSFT commented on #30991
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-10 16:03] cmmdesai commented on #30331
@frobnitzz Sorry for the delay on this one. Here is a quick answer to your question: The sync cycle runs every 20 mins and looks for delta changes that have been "effective" in Workday since the last sync cycle. Depending on the effective date set for a transaction, Workday processes all changes at the end of the day. Due to this some changes are available only on the next day. I think that's what

[2019-05-10 16:13] duckie opened #30997 "The created image is referenced as "non-supporting cloud init""
Hi there

I followed this procedure.

Yet when I use the create image on the portal wizard, it states "The selected image does not support cloud init." in the "Advanced tab" of the creation wizard.

It works when provisioning from the CLI, yet my goal here is to expose this possibility in the portal. How to achieve this ? Is there some kind of metadata I could add on the image in some way ?

---
#

[2019-05-10 16:15] twilly86 opened #30998 "Schema change question"
Looking at other documentation, I thought the history table would need to get dropped, and then the schema change is made, and then the temporal table is re-added to the table.

Is this still required, or is this step automated when using Azure SQL versus managed sql server?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-05-10 16:18] hrasheed-msft commented on #30981
@PVikash Hello and thanks for contacting us. The prerequisites section mentions installing the latest version of the Azure powershell module. Could you follow the instructions to install or update on this page and let us know if it resolves your issue: https://docs.microsoft.com/en-us/powershell/azure/overview?view=azps-2.0.0

[2019-05-10 16:18] Karishma-Tiwari-MSFT commented on #30997
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-10 16:25] MisinformedDNA commented on #26479
@jeffhollan Can someone on your team take a look at this issue (repro attached above) and determine whether it is a code or user error? Thanks.

[2019-05-10 16:28] RyanHill-MSFT commented on #30825
Hi @msinghm, we appreciate your feedback. The COPY line command you mentioned in #30824 is part of the docker file that gets generated after you choose Docker Compose as your container orchestrator. Therefore, I don't think adding this to the doc is necessary.

[2019-05-10 16:28] #30825 closed

[2019-05-10 16:29] ElanShudnow opened #30999 "Integration with CI/CD"
It's mentioned when using Azure Functions on Windows, to use WEBSITE_RUN_FROM_PACKAGE set to 1 and use zip deployment. Is there any way to use Azure Devops to leverage zip deploying when going through its Continuous Delivery?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbd2779f-df70-05e1-0589-8220f850a44f
* Version

[2019-05-10 16:31] andrewchungxam commented on #30859
Hi @jwargo - can I ask if you see any major misunderstandings in my answers below?

Question 1: Am I correct in my understanding that no change is currently needed from me? ie. An app that works fine currently will continue to work fine after the cutoff date (ie. no changes needed in the backend nor in any SDKs etc.)

Question 2: If users update their Android OS on their devices will this cause a

[2019-05-10 16:39] ajlam commented on #30994
@tikicoder - thanks for the feedback. Let me add notes to the limits doc to point to the pricing tiers doc.

[2019-05-10 16:41] jeffhollan commented on #26479
Can repro - the issue is the user is importing a new version of `WindowsAzure.Storage` than what the function extension uses, so it's not able to bind to a type in a different version.  Currently the production `Microsoft.Azure.WebJobs.Extensions.Storage` uses `9.3.1`.   If you remove the PackageReference to `WindowsAzure.Storage` 9.3.3 it works.

@MisinformedDNA any reason you want that specific

[2019-05-10 16:43] jeffhollan commented on #30814
@fabiocav let me know who or what sample we can use to document?  Is the sample above adequate?  I assume we'll need some explanation as well myself and @ggailey777 would need

[2019-05-10 16:43] YutongTie-MSFT commented on #30864
@diberry Thank you Dina.
@demongolem We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-10 16:43] #30864 closed

[2019-05-10 16:44] YutongTie-MSFT commented on #30967
@Aaron-Yue We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-10 16:44] #30967 closed

[2019-05-10 16:50] tfitzmac commented on #30722
@pvrk - this article is really about consuming an async REST operation, not designing one. I will send info to you separately.

[2019-05-10 16:50] tfitzmac commented on #30722
#please-close

[2019-05-10 16:52] MisinformedDNA commented on #26479
@jeffhollan It was too long ago to remember for sure, but more than likely, I updated to 9.3.3 because VS's NuGet window showed me I could and I didn't think a _patch_ version would cause so much trouble.

I'm probably fine with 9.3.1, but I would think this should be fixed to prevent others from falling into the same issue.

[2019-05-10 17:00] MicahMcKittrick-MSFT commented on #30973
@marcinkoperski I have ran through the entirety of this doc and everything worked as expected. I am not seeing anything related to ARM templates here so I am assuming you are doing something outside the scope of this doc.

Can you share more details on what you are doing? Such as your ARM templates, outputs, etc?

[2019-05-10 17:01] tfitzmac commented on #30670
If you are deploying to multiple resource groups (even in different subscriptions), the deployment is still happening at the resource group scope. You use "az group deployment create" which requires a resource group that serves as the base for the deployment.

If you are deploying at subscription scope, you use "az deployment create" which does not include a resource group in the parameters. You o

[2019-05-10 17:05] RyanHill-MSFT commented on #30824
@msinghm as I stated in #30825, the copy command is generated when you choose Docker Compose as your orchestrator. Upon doing so, I think you're missing **'.'** in your `COPY ${source:-obj/Docker/publish}`. So it should be `COPY ${source:-obj/Docker/publish} .`

[2019-05-10 17:05] #30824 closed

[2019-05-10 17:06] jeffhollan commented on #26479
Agree - just triaged the issue to update some of these (linked above)

[2019-05-10 17:07] kobulloc-MSFT commented on #30986
@breyed Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-05-10 17:11] tony-gutierrez commented on #29600
Ill attempt to find time to look into this with support, but feel that if MS is going to provide such a low port and slow port recycling to app service users, they should provide a solid port recycling strategy that does not rely on a buggy open agentkeepalive library with stalled development.

[2019-05-10 17:11] #29600 closed

[2019-05-10 17:11] YutongTie-MSFT commented on #30960
@clmccart Hi, the JSON file should include the meta data of your deployment, I have mentioned the author to add more details about it in the document. Thank you for your feedback.

@jpe316 Hi Jordan, I believe we don't have any reference for the JSON file of deployment, https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-deploy-and-where#deploy-to-aks- Here we also mention Deplo

[2019-05-10 17:19] YutongTie-MSFT commented on #30992
@jivagopecharki  Thank you for your feedback, could you please share which document you are referring to ?

[2019-05-10 17:22] mydiemho opened #31001 "Please provide javascript and python code samples using binding expressions"
There's only C# samples, please also provide javascript and python code samples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77fbaa31-cfcc-4b8c-abe0-4efeaee3e4f0
* Version Independent ID: db65fc3d-d8b3-1f19-91a0-4f3696fbca69
* Content: [Azure Functions bindings expressions and patterns](https://docs.microsoft.com/en

[2019-05-10 17:25] TiloGit commented on #30296
I guess I also need to add this to the LB rule (LB: aadds-a99...dcc-lb) ? Can you please confirm.
Just add 3269 to NSG doens't work.  @shashishailaj @eringreenlee

[2019-05-10 17:26] YutongTie-MSFT commented on #30978
@DhawalCCI Thank you for your feedback, could you please share the document you are referring to?

[2019-05-10 17:26] derekrprice commented on #12462
I am encountering something very like what is described above, when following https://docs.microsoft.com/en-us/azure/aks/ingress-static-ip.  I run:

    helm install stable/nginx-ingress --set controller.service.loadBalancerIP="<redacted>" --set controller.replicaCount=2

This is all as specified in the docs, yet, almost an hour later, I still see:

    NAME                                       T

[2019-05-10 17:30] derekrprice opened #31003 "Recurring Issue with Sample App -- External IP Pending Indefinitely"
I am encountering something very like what is described in [#12462](https://github.com/MicrosoftDocs/azure-docs/issues/12462), when following https://docs.microsoft.com/en-us/azure/aks/ingress-static-ip.  I run:

    helm install stable/nginx-ingress --set controller.service.loadBalancerIP="<redacted>" --set controller.replicaCount=2

This is all as specified in the docs, yet, almost an hour later

[2019-05-10 17:30] #30913 closed

[2019-05-10 17:30] CharmanderJieniJieni commented on #30670
Thanks, what would be the scenario if I have a nested template to deploy resource group and then resources under resource group? Would that be az deploy or az group deploy?

[2019-05-10 17:33] johnwmcintosh opened #31004 "Procedure out of date"
Data Connections are not available anymore. You have to use Configuration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4467b7b-c082-73d2-5626-038fb12d25a3
* Version Independent ID: b9874b73-5524-6238-ea70-a23d8a27aa47
* Content: [Get started with Mobile Apps by using Xamarin.Forms](https://docs.microsoft.com/en-us/

[2019-05-10 17:34] johnwmcintosh opened #31005 "Swagger"
This document doesn't explain how to enable swagger for the server project

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4467b7b-c082-73d2-5626-038fb12d25a3
* Version Independent ID: b9874b73-5524-6238-ea70-a23d8a27aa47
* Content: [Get started with Mobile Apps by using Xamarin.Forms](https://docs.microsoft.com/en-us/

[2019-05-10 17:36] #30156 closed

[2019-05-10 17:39] mhopkins-msft commented on #30676
@TheSaltyKorean, thanks again for the feedback. I have updated the article with your suggestions.
#please-close

[2019-05-10 17:41] Grace-MacJones-MSFT commented on #31004
Hi @johnwmcintosh,  thanks for bringing this to our attention! We will investigate and update the docs shortly.

[2019-05-10 17:44] mike-urnun-msft commented on #31001
Hi @mydiemho Thank you for your feedback! We will review and update as appropriate.

[2019-05-10 17:45] MarileeTurscak-MSFT commented on #30974
@jesspent
Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-10 17:46] mike-urnun-msft commented on #31001
@mydiemho check out this repo if you haven't yet :) https://github.com/yokawasa/azure-functions-python-samples

[2019-05-10 17:46] MarileeTurscak-MSFT commented on #30988
@efanning
Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-10 17:47] mike-urnun-msft commented on #30999
Hi @ElanShudnow Thank you for your feedback! We will review and update as appropriate.

[2019-05-10 17:47] #30936 closed

[2019-05-10 17:48] mike-urnun-msft commented on #30993
Hey @CeciAc Thanks for this feedback! We will review and update accordingly.

[2019-05-10 17:50] lenisha opened #31006 "document usage of AZURE_STORAGE_SAS_TOKEN"
Examples do not talk/document on how to use AZURE_STORAGE_SAS_TOKEN to mount blobfuse

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cef87c25-d489-ed0c-c94f-c764b3fd2413
* Version Independent ID: 7f8c5d56-2382-de90-dcaf-6fc87706a3be
* Content: [How to mount Azure Blob storage as a file system on Linux](https://docs.mic

[2019-05-10 17:52] Minewiskan commented on #30957
@brucelangston - Hi Bruce. This article is specific to Azure Analysis Services, and other services like Power BI, Logic Apps, Power Apps, and Flow that use the Data gateway are similar in that they query data from on-premises data sources. You are correct in that this article and others describe pulling data from on-prem through the gateway to cloud services. Azure AS and the other services never

[2019-05-10 17:55] jivagopecharki commented on #30992
Here we have a document how to create a hybrid connection using rest api:

https://docs.microsoft.com/en-us/azure/app-service/app-service-hybrid-connections

`{
  "name": "[hybrid connection name]",
  "type": "Microsoft.Relay/Namespaces/HybridConnections",
  "location": "[location]",
  "properties": {
    "serviceBusNamespace": "[namespace name]",
    "relayName": "[hybrid connection name]",
    "

[2019-05-10 17:55] tfitzmac commented on #30670
I think the resource group should be defined in the main template, not within a nested template. The resources would go in a nested template with the new resource group as the target. You would deploy with "az deployment create".

[2019-05-10 17:58] johnwmcintosh commented on #31005
This article shows that SwaggerConfig.cs is useless for MobileAppsAPI
https://lightbuzz.com/swagger-azure-step-by-step/

[2019-05-10 17:58] derekrprice commented on #31003
#13935 is like this one too.

[2019-05-10 18:02] RyanHill-MSFT commented on #30507
Thanks for your patience @mr-fuller. We need to do deeper analysis on this issue. Do you have the ability to open a support request? If not, you can email me at AzCommunity@microsoft.com and provide me with your SubscriptionID,  and link to this thread. I can enable your subscription to be able to create one.

We will now proceed to close this thread. If there are further questions regarding this

[2019-05-10 18:02] #30507 closed

[2019-05-10 18:04] TiloGit commented on #30296
after adding to LB rule it seems to work temporarily
But my added LB rule gets overwritten  by "Domain Controller Services"

[2019-05-10 18:09] viv-liu commented on #27691
Hi @wrende the properties you see are only included if they are a part of the rule conditions.
The properties scope down your rule so that it only applies to devices that have a matching property value. The rule is not triggered when the property value of another device changes to a matching value.

![image](https://user-images.githubusercontent.com/4438973/57547676-d49ad300-7313-11e9-8a6b-d493acc

[2019-05-10 18:11] anavinahar commented on #30983
Hey there, we recommend seeing the documentation of the Linux distribution for the latest.

[2019-05-10 18:12] Karishma-Tiwari-MSFT commented on #30753
@doug-fish I think The maximum number of pods per node in an AKS cluster should be 250.
@iainfoulds If you can confirm, I can update the doc with this information. Please let me know.

[2019-05-10 18:12] YutongTie-MSFT commented on #30979
@Apholisha Thank you for your feedback, we will investigate it and get back you soon.

[2019-05-10 18:13] CharmanderJieniJieni commented on #30670
ok thanks #please-close

[2019-05-10 18:14] MarileeTurscak-MSFT commented on #30988
Unfortunately no, it is not yet officially supported. You might be able to get around this by registering your devices with Azure AD. Some users have reported getting this to work. https://techcommunity.microsoft.com/t5/Office-365-Admin-AMA/Edge-Support-for-SSO/td-p/96302

[2019-05-10 18:17] MarileeTurscak-MSFT commented on #30988
Closing this out but feel free to leave product feedback in user voice for this. https://feedback.azure.com/forums/169401-azure-active-directory

[2019-05-10 18:17] #30988 closed

[2019-05-10 18:18] Grace-MacJones-MSFT commented on #30985
Hi @nerddtvg, thanks for bringing this to our attention! We will investigate and update the doc shortly.

[2019-05-10 18:20] Karishma-Tiwari-MSFT commented on #30757
@alvintai78
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-10 18:20] Grace-MacJones-MSFT commented on #31005
Hi @johnwmcintosh , thank  you for bringing this to our attention. I have assigned the issue to the content author to evaluate and update the doc as appropriate

[2019-05-10 18:21] Karishma-Tiwari-MSFT commented on #30844
@porrascarlos802018 Is there any update? Did that help answer your question? Let me know.

[2019-05-10 18:29] TiloGit commented on #15107
also it seems that the LB get recreated every now and then by "Domain Controller Services"

[code]

[LB_AD_DS_QueryResult.xlsx](https://github.com/MicrosoftDocs/azure-docs/files/3167699/LB_AD_DS_QueryResult.xlsx)

 see #30296

why is that? Please add this to the documentation

[2019-05-10 18:31] lenisha commented on #31006
add docs on'sasToken' key as well

[2019-05-10 18:32] lichunli-ms commented on #28882
Hi all,

Azure NetApp Files is a whitelist-only service at the moment. You must waitlist for the service and receive an email from Azure NetApp Files team confirmation that you have been granted access before attempting to create any Azure NetApp Files resource. Unfortunately, you will be able to successfully register the NetApp Resource Provider even without being granted access for service. Howe

[2019-05-10 18:33] Mike-Ubezzi-MSFT commented on #30982
@malake Thank you for bringing this to our attention. I have assigned this to the content author to evaluate and update as appropriate.

[2019-05-10 18:35] sivethe commented on #30982
@Sneha Gunda<mailto:sngun@microsoft.com> can you please help with this?

From: Mike Ubezzi <notifications@github.com>
Sent: Friday, May 10, 2019 11:34 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Siddhesh Vethe <Siddhesh.Vethe@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Documentation isn't consistent (#30982)

Assigned #30982<ht

[2019-05-10 18:42] anavinahar commented on #30956
Hey there, did you deploy a Standard Internal Load Balancer? If it is not working, I recommend creating a support ticket for follow up as we would need you subscription ID, etc.

[2019-05-10 18:43] Shell32-Natsu commented on #30956
@anavinahar Yes, it's a Standard Internal Load Balancer. I have created a support ticket.

[2019-05-10 18:48] Mike-Ubezzi-MSFT commented on #30984
@ivte-ms Thank you very much for providing this feedback. This is not the first time this feedback has been provided and I believe that an effort is being made to introduce a better analogy to explain the functionality.

[2019-05-10 19:12] femsulu commented on #30990
@CeciAc Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-10 19:16] femsulu commented on #30989
closing as spam.

[2019-05-10 19:16] #30989 closed

[2019-05-10 19:17] himanshusinha-msft commented on #30854
@saulcruz : We don't think we can do that , but just curious  what is the scenario when you will need that ?

[2019-05-10 19:17] MartinJaffer-MSFT commented on #30737
@Anmolgan81 , despite my best efforts, SSDT isn't working for me (technical issues).  However I can show you how to do this easily in SSMS.

Here I have created and connected to a demo instance.  I have several tables, and I want to create a role which cannot read customer information, but can read the other tables.

![image](https://user-images.githubusercontent.com/46612670/57551075-fa78a580-731

[2019-05-10 19:21] femsulu commented on #30987
@dduensch Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-10 19:23] daspo opened #31011 "Multiple IP addresses"
This document says that "DHCP must be enabled inside the guest for the IaaS VM backup to work. If the VM can't get the host or fabric address from DHCP response 245, it can't download or run any extensions.", but there is the multiple IP addresses scenario that according to its doc needs IP addresses hardcoded in the OS NIC configuration since DHCP can't assign more than one address. Does this mea

[2019-05-10 19:25] rolyon commented on #30558
Hi @HannahHsiao
I'll request to close this issue. Let us know if you have any additional feedback about the docs.
thanks

[2019-05-10 19:25] rolyon commented on #30558
@MicrosoftDocs/azure-cxp-triage
#please-close

[2019-05-10 19:31] himanshusinha-msft commented on #30861
@masonwolf  @swums We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2019-05-10 19:32] elenay93 opened #31012 "docs not up to date"
Looks like the latest version VS has changed the publish steps, have any updated version?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1055184-0535-4318-2ae9-79e37bea0f28
* Version Independent ID: b5dfedf8-c884-138b-0b3d-eea41e64c62b
* Content: [Create C# ASP.NET Framework web app - Azure App Service](https://docs.m

[2019-05-10 19:37] kgremban commented on #30574
Hi @bearrito. Like Antonio was saying, there are two different authentication processes happening when you set up a transparent gateway scenario with IoT Edge. First, the leaf device needs to authenticate with IoT Hub (using symmetric keys). Then, there needs to be trust between the gateway device and the leaf device (using certificate authorities).

Does that answer your question?

I'm going to b

[2019-05-10 19:38] kleberpires commented on #28847
That´s a great question. We are creating a new cluster within our subscription and found ourselves questioning the same thing. I know the docker-bridge-address should not overlap with our VNets and on-prem networks and "172.17.0.0/16" does overlap. This way we should reserve some range for this and don´t use it anywhere else. How large this network range is got to be, in a way that will allow us t

[2019-05-10 19:38] the-blesss commented on #29692
I am now able to deploy the Start/Stop solution without a problem in the East US region. I don't know if something was done, but my support ticket asked to reproduce the error and I could not reproduce the error, but the deployment is in the correct corresponding region for automation/workspace pairings.

[2019-05-10 19:39] #30558 closed

[2019-05-10 19:41] Anmolgan81 commented on #30737
Hi Martin,

In my case I have the model deployed to AAS refreshed 4* times a day, so any configuration changes that I do in the SSMS will not be saved since the model will be refreshed using the automation job that we have so we have to build this into the SSDT directly so that changes survive.

Any other way to do this will help us alot.

Regards
Anmol Ganju

________________________________
From

[2019-05-10 19:50] Marcele1987 commented on #30973
I think its just a limitation of those node pools right now, because I'm getting the same error when I'm trying to enable the monitoring or when I try to increase the maximum node size. Seems like whenever you are trying to update a setting for the cluster it has to go via the node pools cli command, the problem is it doesn't  have all the option needed.

[2019-05-10 19:53] MarileeTurscak-MSFT commented on #30680
Closing this out as moving to email/support. I will update the thread when we have a resolution.

[2019-05-10 19:53] #30680 closed

[2019-05-10 19:56] asadikhan opened #31013 "Details about Blob Storage for Taxi Data"
I would like to see how the blob storage for the Taxi Data for structured. What was the folder structure, how large were the files? When I loaded the taxi data into the DWH ext tables, it only took 8 minutes to load all the data from blob to DWH. We tried doing something similar with our own data files, and we are getting nowhere near the same load time for a fraction of data. It must be how the d

[2019-05-10 20:08] MarileeTurscak-MSFT commented on #30851
Hi @BBAPercival ,

Did you register your app properly and make sure that the reply URL in your tenant matches the redirectURI in your web.config?

Also, have you tried doing the same with a published version of the app or are you only testing locally?

[2019-05-10 20:26] prbans commented on #30588
Hey @PramodValavala-MSFT thanks for this info, tested and it works.

Would be good to add this info to the docs (i.e. "Ensure you have a __init__.py file at root of the python-functions directory" or similar)

Feel free to close once the docs are updated

[2019-05-10 20:29] YutongTie-MSFT commented on #30976
@bertrandpons
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-10 20:31] YutongTie-MSFT commented on #30980
@vikaskumawat80
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-10 20:40] derekrprice commented on #31003
I simplified my test case a little, attempting to let the k8s allocate the load balancer IP, as in [this doc](https://docs.microsoft.com/en-us/azure/aks/ingress-tls), so just:

    helm install stable/nginx-ingress --set controller.replicaCount=2

and it still stays pending indefinitely.  Since this is the first time that I tried this with an explicitly created service principal, I still suspect t

[2019-05-10 20:45] DianeHadley opened #31014 "Possibly missing "and""
Original sentence: "The service type is composed of executable code service configuration settings, which are loaded at run time, and static data that is consumed by the service."

What I believe it should be: "The service type is composed of executable code and service configuration settings, which are loaded at run time, and static data that is consumed by the service."

---
#### Document Detail

[2019-05-10 20:47] YutongTie-MSFT commented on #31013
@asadikhan Thank you for your feedback, could you please share which document you are referring to?

[2019-05-10 20:52] #30670 closed

[2019-05-10 20:52] seshenoy commented on #30674
@BryanTrach-MSFT Thanks... but that would mean any Azure resource would be able to get a token with management.azure.com in the audience....and we need to use other options to verify if the token is coming from an accepted client. Is there no way of making the audience a more secured/whitelisted one ?

[2019-05-10 20:55] Mike-Ubezzi-MSFT commented on #30789
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-10 20:55] #30789 closed

[2019-05-10 20:56] YutongTie-MSFT commented on #30983
@robfr
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-10 20:59] Karishma-Tiwari-MSFT commented on #31014
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-10 21:03] CeciAc commented on #17364
@amanarneja @SyntaxC4 is there any update on this one?

[2019-05-10 21:05] Karishma-Tiwari-MSFT commented on #31014
I have created a PR with the update, changes will be live shortly.

[2019-05-10 21:06] CeciAc commented on #17432
Hi @ghogen
Is this still in progress?

[2019-05-10 21:07] YutongTie-MSFT commented on #28754
@tomwwagstaff-product
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-10 21:07] #28754 closed

[2019-05-10 21:09] CeciAc commented on #8582
@Sara-Nicolini @SunnyDeng @femsulu
Is this still in progress?

[2019-05-10 21:10] MartinJaffer-MSFT commented on #30738
Hello @Anmolgan81   What user role did you try to add, and what exactly _does_ the user see when they log in?  Can the user log in directly with SSMS?  Did you give the role read access?

[2019-05-10 21:14] ghogen commented on #17432
This is fixed now.

[2019-05-10 21:14] ghogen commented on #17432
#please-close

[2019-05-10 21:14] YutongTie-MSFT commented on #30723
@hoanglam-novobi
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-10 21:14] #30723 closed

[2019-05-10 21:16] #31014 closed

[2019-05-10 21:26] sdgilley commented on #30937
Thanks for finding this.  I’ve updated the article.  The changes should appear online later today.
#please-close

[2019-05-10 21:27] YutongTie-MSFT commented on #30937
@sdgilley  Thank you.
@gitsathish
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-10 21:27] #30937 closed

[2019-05-10 21:38] markjbrown commented on #30853
@Mike-Ubezzi-MSFT This is incorrect. See attached for example on setting throughput at the container level.

[azuredeploy-sql-container-ru.json.txt](https://github.com/MicrosoftDocs/azure-docs/files/3168175/azuredeploy-sql-container-ru.json.txt)

thanks.

[2019-05-10 21:40] xencon commented on #29195
I agree this needs to be made clearer in the article. Also, the limit of peerings per Vnet is 500. The way it is called out, I would have thought that number to be much lower and a harder constraint.

https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#azure-resource-manager-virtual-networking-limits

[2019-05-10 21:47] saulcruz commented on #30854
For example, if whatever is running in the webhook fails it'd be ideal to also fail the activity with its corresponding error and that way use the full error/failure handling of ADF.

[2019-05-10 21:48] Mike-Ubezzi-MSFT commented on #30853
@brushwood24 I hope the example provided is a workable solution. Can you verify that running additional updates via ARM is not throwing an error, if you are looking to make changes to throughput via ARM.

[2019-05-10 21:50] femsulu commented on #30979
adding @tfitzmac to review the doc-enhancement request.

[2019-05-10 21:52] oising opened #31016 "Azure Files are available also with Windows Containers"
This document is over a year old and out of date with respect to Windows Containers in App Services, so the note is no longer valid. Please consider updating this page and any associated instructional pages.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b730fc95-951e-1acd-770d-88b3e6f2f6ef
* Version Independent ID: b6

[2019-05-10 21:52] tfitzmac commented on #30979
@femsulu - can you add the azure-resource-manager label to this issue? I am worried it will get lost if it is not in our list.

[2019-05-10 21:55] femsulu commented on #30979
good catch, Tom. looks like Yutong beat me to it. :)

[2019-05-10 21:55] chazwoza opened #31017 "Trying to use Azure API for FHIR - stuck on permissions"
Hi, at the API Permissions, Step 4 section, when you find the "Azure Healthcare APIs" (I'm using Azure API for FHIR" the permissions don't match the screenshot in instructions.  The only permission available is "user_impersonation". Is that the right one? If i try that, i can't authorise to use the app unless i'm a directory administrator, which i'm not.

---
#### Document details

⚠ *Do not edit

[2019-05-10 22:02] xyz92 commented on #29175
@BryanTrach-MSFT  Here is my project structure:

![image](https://user-images.githubusercontent.com/6519992/57558914-7f22ee00-7334-11e9-9686-4689d17189b3.png)

Should I be renaming WebJobsSDKSample to Run?

[2019-05-10 22:02] hansenms commented on #31017
The permissions will depend on whether you configured your own resource application or used the first party one. So there may be variations. "user_impersonation" is fine.

[2019-05-10 22:09] MartinJaffer-MSFT commented on #30738
Also, I think you meant  userID@TenantID, not TenantID@UserID.
Could you provide a screenshot please?

[2019-05-10 22:16] YutongTie-MSFT commented on #30747
@garybushey Hi, this is not a error. It's East US 2 EUAP (Canary).  These are special canary regions in Azure.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-10 22:16] #30747 closed

[2019-05-10 22:17] Flodu31 opened #31022 "--vnet-peer-id changed to --vnet-peer"
Hi,
The following command must be adapted:
az openshift create --resource-group $CLUSTER_NAME --name $CLUSTER_NAME -l $LOCATION --fqdn $FQDN --aad-client-app-id $APPID --aad-client-app-secret $SECRET --aad-tenant-id $TENANT --vnet-peer-id $VNET_ID

By this one, because the --vnet-peer-id has been changed to --vnet-peer:
az openshift create --resource-group $CLUSTER_NAME --name $CLUSTER_NAME -l $LO

[2019-05-10 22:18] MicahMcKittrick-MSFT commented on #31016
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-10 22:18] MicahMcKittrick-MSFT commented on #31003
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-10 22:27] PatrickFarley commented on #6880
I've reordered and clarified the next steps so that rich content (docs) come first, followed by rich samples (with good READMEs) and then the plain sample. And the content type of each link is more clear.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/76440
#please close

[2019-05-10 22:30] nestor94 opened #31023 "Bot not working on 'Test in Web Chat' option"
I was following the instructions from this post: https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/tutorials/create-qna-bot

Everything was happening as expected except at the very end of the instructions when I try the `Test in Web Chat` option under `Bot Management` section I got: `couldn't send retry` if I go to the logs on `Web Channel` I'm seeing this:
`There was an error sen

[2019-05-10 22:32] Flodu31 opened #31024 "The resource type could not be found in the namespace 'Microsoft.ContainerService' for api version '2019-04-30'."
Hi,

I tried to deploy it through the last AZ CLI version on my Mac and on the Azure Shell, and I always have this error:
The resource type could not be found in the namespace 'Microsoft.ContainerService' for api version '2019-04-30'.

Any idea?
Thanks.
Florent

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93aa980e-19

[2019-05-10 22:37] ajlam commented on #30994
@tikicoder - I've submitted a doc update. This should be published on Monday morning Pacific time.

[2019-05-10 22:39] in4margaret opened #31025 "Microphone array geometry settings"
What are the microphone array geometry settings for different type of devices, for example Android Phone?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26b5a45a-6fa7-f898-fcf5-781210fbee9e
* Version Independent ID: 90ff521b-37f5-38a1-ace0-6ad5989b6dab
* Content: [Quickstart: Run the Speech Devices SDK on Android - Spe

[2019-05-10 22:39] diberry commented on #30658
@gjswalling @YutongTie-MSFT This page is going through a rewrite that should be out next week. I'll make sure the JSON matches the rest of the examples on the page.

@tulasim88 - fyi

#in-progress

[2019-05-10 22:40] chazwoza commented on #31017
Ok so just to clarify, I then need to be an admin of the tenant or I can't
use the app?

On Sat, 11 May 2019 at 06:02, Michael Hansen <notifications@github.com>
wrote:

[2019-05-10 22:42] hansenms commented on #31017
No you do not need to be admin of the tenant. It is like other Microsoft first party apps (e.g. MS Graph), it is already in your tenant (otherwise you wouldn't be seeing it).

[2019-05-10 22:43] Flodu31 commented on #31024
And I did all of these steps: https://docs.microsoft.com/en-us/azure/openshift/howto-setup-environment

[2019-05-10 22:48] mayurpuli opened #31027 "Azure Sql DB trigger for Azure Functions"
Hello There! I know that Azure functions can be triggered on any change in the data for Blob, Queue, Table, CosmosDB, Eventhub, Http, Timer etc

Is there any way Azure function can be triggered when a row is inserted or deleted in Azure Sql DB? As per this : https://feedback.azure.com/forums/355860-azure-functions/suggestions/16711846-sql-azure-trigger-support, this feature is not yet planned. Any

[2019-05-10 22:49] Flodu31 opened #31028 ""state": "Pending""
Hello,

The registering of the Namespace is in Pending state, and, based on this thread, https://github.com/Azure/OpenShift/issues/88 my subscription must be whitelisted. That I don't understand is that the service is in GA no?

Thanks for the help.
Florent

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a657a14f-df8a-f

[2019-05-10 22:49] #6880 closed

[2019-05-10 22:58] femsulu commented on #31011
@daspo Your questions has been shared with the content owner for further review. Thanks for your patience.

[2019-05-10 22:58] YutongTie-MSFT commented on #30767
@anilvem1 Hi, to extract data from a image Computer Vision returns tags based on thousands of recognizable objects, living beings, scenery, and actions. When tags are ambiguous or not common knowledge, the API response provides 'hints' to clarify the meaning of the tag in context of a known setting. Tags are not organized as a taxonomy and no inheritance hierarchies exist. A collection of content

[2019-05-10 23:05] YutongTie-MSFT commented on #31025
@in4margaret Thank you for your feedback, we will investigate it and get back to you soon.

[2019-05-10 23:13] mpchen opened #31029 "Is it possible to trigger an Azure function from the remediation task?"
Wondering whether it is possible to trigger an Azure function from the remediation task?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99d433a1-4e81-e226-e835-639daa90dab4
* Version Independent ID: ab3aa1ad-f438-e2a1-5556-9f9b6269ba76
* Content: [Remediate non-compliant resources - Azure Policy](https://docs.microsoft

[2019-05-10 23:18] aljo-microsoft commented on #30877
MSDN Referenced SDK Content Path:
C:\Program Files\Microsoft SDKs\Service Fabric\schemas\ServiceFabricServiceModel.xsd

Referenced Doc:
https://docs.microsoft.com/azure/service-fabric/service-fabric-resource-governance

Next Steps:
https://docs.microsoft.com/azure/service-fabric/service-fabric-application-model

Linked Concept Doc:
https://docs.microsoft.com/azure/service-fabric/service-fabric-ser

[2019-05-10 23:19] mpchen opened #31030 "How does array work for destinationPortRanges[*]?"
Looks like the array properties does not work for Microsoft.Network/networkSecurityGroups/securityRules/destinationPortRanges[*].

Problem - I want to block creation of NSGs that allow RCE ports such as 22, 3389.
When creating a NSG, dest port can be specified individually, such as 22, 145, or can be included in a range, say 8000-8100.

When dest port ranges are used, does the array of destination

[2019-05-10 23:19] YutongTie-MSFT commented on #31028
@Flodu31 Hi, thank you for your feedback. I have assigned this issue to the author for proper help.

[2019-05-10 23:25] msLinuxNinja opened #31031 "Section "Software RAID" should include steps for LVM"
The section "Using Software RAID to achieve higher I/Ops" should also link to the article:

https://docs.microsoft.com/en-us/azure/virtual-machines/linux/configure-lvm

As it provides steps for Stripped LVM

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7792d5a-de76-c48a-0c8d-46b3e918a503
* Version Independent ID: 23b

[2019-05-10 23:31] MartinJaffer-MSFT commented on #30738
Reusing the demo from your other questions, I added a security group which contained my colleage.  He then used the "Open in Excel" option and was able to see the appropriate tables.

[2019-05-10 23:38] MicahMcKittrick-MSFT commented on #31003
Thanks for reaching out @derekrprice As you found some other users have seen similar problems in the past. Generally deploying a new cluster will fix the issue. However if you are adding additional parameters outside of this doc there might be some other items getting hung up. I have gone through the doc as written and verified it works. So best route for you to go to get this resolved would be a

[2019-05-10 23:38] #31003 closed

[2019-05-10 23:40] Adam-Smith-MSFT commented on #30980
@vikaskumawat80 only AZ copy 10.0.9 supports the copy from S3 to Azure storage, you can find more info [here](https://azure.microsoft.com/en-us/blog/move-your-data-from-aws-s3-to-azure-storage-using-azcopy/) , and the command to use would look similar to:

`azcopy cp "https://s3.amazonaws.com/mybucket/" "https://mystorageaccount.blob.core.windows.net/mycontainer<SAS>" --recursive
`

We will now pr

[2019-05-10 23:40] #30980 closed

[2019-05-10 23:41] MicahMcKittrick-MSFT commented on #30973
@sauryadas do you have any input you could add here?

[2019-05-10 23:44] sauryadas commented on #30973
@marcinkoperski When was the existing cluster created?

[2019-05-10 23:45] YutongTie-MSFT commented on #31025
@in4margaret Thank you for your feedback, we will investigate it and get back to you soon.

[2019-05-10 23:47] YutongTie-MSFT commented on #31024
@Flodu31 Thank you for your feedback, i have assigned it to the author for proper help.

[2019-05-10 23:47] ecfan commented on #30750
@steveculshaw & @PramodValavala-MSFT, these topics have been updated with info about the connector tags within an integration service environment. I also moved the info from the how-to topic to the ISE overview topic:

https://docs.microsoft.com/azure/connectors/apis-list
https://docs.microsoft.com/azure/logic-apps/connect-virtual-network-vnet-isolated-environment-overview

[2019-05-10 23:48] YutongTie-MSFT commented on #31023
@nestor94 Thank you for your feedback, we will investigate it and update to you soon.

[2019-05-10 23:48] YutongTie-MSFT commented on #31022
@Flodu31 Thank you for your feedback, we will investigate it and update to you soon.

[2019-05-10 23:53] MicahMcKittrick-MSFT commented on #31031
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-11 00:16] GFoley83 commented on #11752
@cbrooksmsft your statement didn't really answer the issue. What is "reliable"? Is it guaranteed "at least once delivery"? Hard to build an enterprise environment with SLAs etc. without some clear descriptive language.

[2019-05-11 00:31] jayhub42 commented on #30577
@PramodValavala-MSFT  yes i was able to accomplish what i needed. thanks

I will update my function once the new documentation is live.

thanks again.

[2019-05-11 00:39] Mike-Ubezzi-MSFT commented on #30998
@twilly86 Thank you for the inquiry. Yes, this is a newer feature with Azure SQL Database (Single Instance) that does not apply to SQL database Managed Instance. There is some setup required ([per the doc](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-temporal-tables)) but you don't need to write a majority of the logic as you do in the case of Managed Instance.

[2019-05-11 00:42] Mike-Ubezzi-MSFT commented on #30995
@tikicoder Thank you for the documentation feedback. We are evaluating and will make an update to the document as appropriate.

[2019-05-11 00:47] stewartadam commented on #30306
@MohitDhingra-MSFT ping.
Now that it's past May 1, the docs are directing users to a page that says:

[2019-05-11 00:47] Mike-Ubezzi-MSFT commented on #30995
I have assigned the issue to the content author but did want to provide a [link](https://docs.microsoft.com/en-us/azure/mysql/concepts-pricing-tiers#storage) to the available storage options.

[2019-05-11 00:58] marctalary commented on #30815
@arkiaconsulting you're right, apologies I meant to create a separate issue

[2019-05-11 01:17] mike-urnun-msft commented on #31027
Hi @mayurpuli Thank you for your feedback! We will review and update as appropriate.

[2019-05-11 01:37] marctalary opened #31033 "Package ExtensionsMetadataGenerator also required"
I added Microsoft.Azure.Functions.Extensions package to an existing function app that didn't also include the package Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator.

In debug everything compiled and started without error but the function failed when invoked with a DI error. After adding the package it ran the Startup.Configure method and started working, not sure if this d should be a

[2019-05-11 01:41] TylerMSFT commented on #31028
Hi,
The whitelisting isn't about being GA or not. To use Azure RedHat OpenShift, you need to sign up.
The setup instructions explain this: https://docs.microsoft.com/en-us/azure/openshift/howto-setup-environment
#please-close

[2019-05-11 01:42] #31028 closed

[2019-05-11 01:43] TylerMSFT commented on #31024
The error isn't clear but the problem is you aren't whitelisted. You need to sign up per the info in this topic: https://docs.microsoft.com/en-us/azure/openshift/howto-setup-environment
#please-close

[2019-05-11 01:43] maxal1917 opened #31034 "Cannot make it work"
I downloaded sample from GitHub, substituted connection string, hub name, google-service.json with my data, but still couldn't get test notification.

What is interesting, that I don't hit breakpoint in MyFirebaseIIDService.OnTokenRefresh, which I think is root of the problem. Any ideas or advice is highly appreciated. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2019-05-11 01:44] #31024 closed

[2019-05-11 01:57] RyanHill-MSFT commented on #30918
@rwatjen `appInsightsKeyResourceId` is a variable that you can use to add application insights to your deployment template. See https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-authoring-templates#variables for more information. In this case, you would set it to the instrumentation key of an existing application insights resource.

Hope this helps but if not, please fee

[2019-05-11 01:57] #30918 closed

[2019-05-11 02:04] aszalacinski opened #31035 "Confirm AAD B2C - not yet?"
I assume that since AAD v2 including msal.js is not working for v2 functions, AAD B2C is not working yet either.

Please confirm.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f1c454d-73bc-5a73-5d3f-1b1ca7625044
* Version Independent ID: 552b3f09-6650-e7f7-01f2-a702005b83e9
* Content: [Configure Azure Active Director

[2019-05-11 02:13] ajlam commented on #30995
@tikicoder - we are in the process of introducing support for larger storage which should be available in the near future.

[2019-05-11 02:51] maxal1917 commented on #31034
Please, close the issue.

I was able to make it work. I had to update my Android SDK to 9.0 (API 28) and set 9.0 as target platform. Then it worked.

[2019-05-11 03:23] anilmurty commented on #14309
I'm having trouble with Step 6/7 of the "Send DevKit Telemetry". I am able to get the device into AP mode fine, bring up the web page running on the device at 192.168.0.1 fine, find my SSID fine. When I enter the connection string along with the SSID password and hit save, I either get a time out page or a "File /result not_found" HTTP response back. And when I check my Azure IOT hub state in the

[2019-05-11 04:17] YASWANTHM-MSFT commented on #30940
@nicholaslgoodman , Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-05-11 05:09] JoeBrockhaus opened #31037 "Create Database via ARM Template ignores Throughput setting"
Following the `101-cosmosdb-sql` example template, the throughput options (line 161) are ignored.
The resulting Database does not have Scale settings and Containers are created with default throughput.

https://github.com/Azure/azure-quickstart-templates/blob/58ce3d38ced2871d2c5c1bea88c86282a124898a/101-cosmosdb-sql/azuredeploy.json#L152-L163

<details><summary>The basic template I'm using to add

[2019-05-11 05:28] shobhitwalia123 commented on #30802
Hi @MohitDhingra-MSFT , I am still getting the same error.

[2019-05-11 05:38] nageswarysv opened #31040 "Error connecting Python to Azure IoT (RC5)"
I have a constrained IoT device sending signals to Azure IoT Hub. I am not using Azure's IoT SDKs. I am trying to connect Python to Azure IoT using MQTT. Authentication is by using Symmetric key (SAS Token). I find RC error 5 (Connection refused – not authorised) every time.

I am not sure which of the values below are incorrectly provided.

Root Certificate: (rootcert.txt containing the following

[2019-05-11 06:31] ChiragMishra-MSFT commented on #31006
@lenisha Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-05-11 06:33] ChiragMishra-MSFT commented on #31012
@elenay93 Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-05-11 06:34] ChiragMishra-MSFT commented on #31029
@mpchen Thanks for the question. We are currently investigating into the issue and will update you shortly.

[2019-05-11 06:38] ChiragMishra-MSFT commented on #31030
@mpchen Thanks for the question. We are currently investigating into the issue and will update you shortly.

[2019-05-11 06:39] ChiragMishra-MSFT commented on #31033
@marctalary Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-05-11 06:42] ChiragMishra-MSFT commented on #31034
@maxal1917  Glad to hear that the issue was resolved. I will now proceed to close this issue. Feel free to still comment if you have any queries.

[2019-05-11 06:42] #31034 closed

[2019-05-11 06:43] ChiragMishra-MSFT commented on #31035
@aszalacinski Thanks for the question. We are currently investigating into the issue and will update you shortly.

[2019-05-11 06:44] ChiragMishra-MSFT commented on #31037
@JoeBrockhaus Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-05-11 06:46] ChiragMishra-MSFT commented on #31040
@nageswarysv Can you please help us with the link to the doc that you want to provide the feedback on? This will help us understand the problem better.

[2019-05-11 08:34] lorenzobrito commented on #21602
what are the values??

It woulb be nice, that docs would have a status that remains in the beta phase. It is really frustrating.

[2019-05-11 08:51] aapris commented on #22385
This latter link worked for me on Ubuntu 18.04, I had to manually copy
`device/samples/iothub_client.so` to my `virtualenv/iothub/lib/python3.6/site-packages/iothub_client/`.

And on Mac Os X 10.14 just installing `boost-python3` (in addition to python 3.7) was enough.

[2019-05-11 11:08] amitpatelupw opened #31041 "dsfds"
fdsfdsfdsf

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb094d5f-75d3-5080-7748-6b43a83bb3dc
* Version Independent ID: 6cc1bfdb-eba3-e788-c9ed-dd9746daabed
* Content: [Tutorial - Create custom VM images with the Azure CLI](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/tutorial-custom-images)
* Content

[2019-05-11 11:11] amitpatelupw commented on #14168
dsadasdsad

[2019-05-11 11:11] amitpatelupw opened #31042 "sad"
asdasdasd

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0106aa9-1300-43e1-c776-0fe6b8fe2035
* Version Independent ID: 804baba0-2fd7-81cc-34eb-acee03d8e531
* Content: [Quickstart: Project URL Preview, C#](https://docs.microsoft.com/en-us/azure/cognitive-services/labs/url-preview/csharp)
* Content Source: [articles/cog

[2019-05-11 12:21] nageswarysv commented on #31040
Thanks for the response. I missed out the link earlier. Here is the link:
https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-mqtt-support

[2019-05-11 12:39] iMiroslav commented on #9685
Hi, I still missing this feature. Is it ready now? Would it be possible to use also another private repository than ACR? For example gitlab, github etc?
Thank you

[2019-05-11 15:08] YutongTie-MSFT commented on #31042
@amitpatelupw Hi, thank you for your feedback here. Could you please provide more details about you problem?

[2019-05-11 15:19] YutongTie-MSFT commented on #31041
@amitpatelupw Please do not post non-related issue here. Thank you.

[2019-05-11 15:19] #31041 closed

[2019-05-11 15:49] #31042 closed

[2019-05-11 16:06] asadikhan commented on #31013
I’m talking about this lab

https://docs.microsoft.com/en-us/azure/sql-data-warehouse/load-data-from-azure-blob-storage-using-polybase

I wanna know how the storage was laid out in this blog storage account. What was the folder structure, how big were the files. Or was it just one file in there containing all 2013 trips?

Wasbs://2013@nytaxiblob.blob.core.windows.net

Asad

[2019-05-11 17:47] tmasternak commented on #30906
@sebastianburckhardt thank you for the explanation.

As far as I could figure out the mutual exclusion protocol is based on the ordering - provided by event sourcing over Azure Storage, and the lock acquisition protocol - ordered acquisition and the last entity in chain granting the lock. What it guarantees is that the state of the system (reflected in committed storage state) never allows for two

[2019-05-11 19:14] myaesubi opened #31044 "Device goes to infinite loop to connect to WiFi after configuration completed"
Hi,
I've followed through the guidelines to connect MXChip IoT DevKit to WiFi, with latest firmware (i.e. AZ3166-IoT-Central-2.1.1.bin).

however, after device configuration completed and reset is done, it goes through an infinite loop to connect to WiFI.
[`https://docs.microsoft.com/en-us/azure/iot-central/howto-connect-devkit?WT.mc_id=-blog-scottha`](url)

Please advise.
Thanks,
Mohammad

---
##

[2019-05-11 20:08] prajaybasu opened #31045 "App Service on Linux free tier"
This page needs to be updated with information about App Service on Linux Free Tier and whether the free tier supports Web App for Containers or not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef9002ed-c817-c615-fe32-05ad4cc78b61
* Version Independent ID: 72295255-8d90-a2c6-0995-0e1208fcdcab
* Content: [Introductio

[2019-05-11 20:19] diberry commented on #30805
@dmeineck @vrishni @jjgriff93 @Axxeption [NuGet package](https://www.nuget.org/packages/Microsoft.Azure.CognitiveServices.Personalizer/0.8.0-preview) is available. Thank you for your patience.

[2019-05-11 20:32] michaeldaw opened #31046 "The term COG is used but the abbreviation is not defined."
A sentence reads "Programmatic ingestion is optimized for reducing ingestion costs (COGs), by minimizing storage transactions during and following the ingestion process". I've looked everywhere, but I can't find a definition for the abbreviation COG.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c758ab8-a66a-0d9d-af7

[2019-05-11 21:04] TylerMSFT commented on #31022
Thanks, @Flodu31. I have updated this and it will be live Monday 5/13.
#please-close

[2019-05-11 21:37] vlardn commented on #16602
I think 20000* actually means 2000*, i.e. ports 20000-20009.

[2019-05-11 21:53] vlardn commented on #16602
The Azure Load balancer seems forwards incoming (internet) connections on port 3389 to some worker role instance 2000X port. The RemoteForwarder on that worker role than makes connection to port 3389 locally or to other web/worker role.

So to enable RDP on all roles the incoming traffic to 20000-20009 TCP ports should be enabled on worker role NSG.

[2019-05-11 21:55] vlardn commented on #16602
PS. RDP connection is going first to worker mode because it less likely to be compromised by hijacker than web role.

[2019-05-11 22:32] orbtl opened #31047 "Wrong Set-AzureRmKeyVaultSecret function"
Last line of the powershell script is:
$secret = Set-AzureRmKeyVaultSecret -VaultName $VaultName -Name $SecretName -SecretValue $secretvalue
This produces an error that Set-AzureRmKeyVaultSecret is not a valid operation/function/etc.  If you remove the Rm it works, so the last line of the script should be:
$secret = Set-AzureKeyVaultSecret -VaultName $VaultName -Name $SecretName -SecretValue $secr

[2019-05-11 22:56] Darko-git opened #31048 "Out of date"
The internal load balancer created this way does not work with Standard LB.
This page should be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77a03366-6bf3-c687-d9e4-39eb8774d3a2
* Version Independent ID: ac420896-0070-59b1-6a76-376c3ed22875
* Content: [Networking patterns for Azure Service Fabric](https://do

[2019-05-11 22:59] Darko-git opened #31049 "Out of date"
The following statement is not correct when using the Standard Load Balancer (all nodes have to be behind a public LB that allows outbound traffic for service fabric):

The primary node type, which contains the Service Fabric system services does not need to be exposed via the external load balancer and can be exposed by an internal load balancer

---
#### Document Details

⚠ *Do not edit this sec

[2019-05-11 23:07] aquibqureshi26 commented on #30054
Hi,

Can you please check and update the article.

[2019-05-12 00:35] YutongTie-MSFT commented on #31044
@myaesubi
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-12 00:36] YutongTie-MSFT commented on #31045
@prajaybasu Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@msangapu-msft Hi Mangesh, could you please check this issue and update the document as necessary? Thank you.

[2019-05-12 00:45] YutongTie-MSFT commented on #31046
@michaeldaw Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@orspod Hi Ornat, could you please check this issue and update the document as necessary? Thank you.

[2019-05-12 00:46] YutongTie-MSFT commented on #31047
@orbtl
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-12 00:47] YutongTie-MSFT commented on #31049
@Darko-git Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@peterpogorski Hi Perter, could you please check this issue and update the document as necessary? Thank you.

[2019-05-12 00:49] YutongTie-MSFT commented on #31048
@Darko-git
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@aljo-microsoft  Hi, could you please check this issue and update the document as necessary? Thank you.

[2019-05-12 02:54] tiwahu opened #31051 "ARRAY function is not mentioned"
There is a magical `ARRAY` function that is **not** mentioned anywhere in this _SQL Language Reference_ page.

The only reference I found was in one of the [Distinct Keyword](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-sql-query#DistinctKeyword) examples on the _SQL Query Examples_ page, which isn't about the `ARRAY` function:

[code]

Not sure where the detail belongs (maybe the Array

[2019-05-12 03:41] RyanHill-MSFT commented on #30761
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-12 05:08] GFoley83 opened #31052 "Confirm delivery guarantee for events"
Related to issue #11752

The language around the reliability of storage events is too vague:

At least the Blob storage trigger for Azure Functions is clear in that it only makes a "best effort" and thus would not be fit for mission-critical work.

There is no other information that I can find around what the delivery guarantee is for Event Grid blob events, making it impossible to build enterpris

[2019-05-12 05:59] ChiragMishra-MSFT commented on #31051
@tiwahu Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-05-12 06:00] ChiragMishra-MSFT commented on #31052
@GFoley83 Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-05-12 07:29] ElectricLlama opened #31053 "New-AzureADGroup requires Install-Module AzureAD"
After a lot of messing about installing and uninstall the `AZ` and `AzureRM` powershell module,s I finally got `Connect-AzureAD` to connect me to Azure

Then I ran `New-AzureADGroup`. I got

So I ran `Install-Module AzureAD`. Now when I run `New-AzureADGroup` I get

So I ran Connect-AzureAD` and it worked OK. Can you test and clarify how this is meant to work. The `AzureRM` to `Az` modules seem to

[2019-05-12 08:00] ElectricLlama opened #31055 "Identifying MSI ID"
When identifying the MSI Guid to be added to the group the instructions state:

&gt; You can follow the article Managed identiy for Data Factory to get the principal SERVICE IDENTITY APPLICATION ID (but do not use SERVICE IDENTITY ID for this purpose).

The linked instructions indicate that you can investigate the ADF properties from the Azure portal. However there is no field called SERVICE IDENT

[2019-05-12 08:30] yotauber commented on #30742
Thanks @mrbullwinkle!

[2019-05-12 08:31] ChiragMishra-MSFT commented on #31053
@ElectricLlama Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-05-12 08:32] ChiragMishra-MSFT commented on #31055
@ElectricLlama Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-05-12 08:38] orspod commented on #30871
@armanio123 thanks for your feedback.
@danield137 will you review the doc for needed changes? Thanks!

[2019-05-12 09:25] Mitchell0069 opened #31058 "💻"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-05-12 09:37] obzervr commented on #29850
@SnehaGunda , yes that information is helpful. Thanks.

For the benefit of others that might be reading this, we've found that (as of this writing) our queries seem to incur a cost of ~3.8 RU as a minimum. Meaning that even the smallest document incurs a cost of ~3.8 RU

The increase in RUs for large documents (or for large result sets where multiple documents are returned) is not a linear increas

[2019-05-12 10:20] kiranpradeep opened #31059 "Usage clarity: what is meant by same consumption plan"
Under the section: How the consumption and premium plans work, there is a line "Function apps that share the same consumption plan are scaled independently". Is that intentional? I understand app service plan can be shared. But I like to know what is meant by `same consumption plan`? The portal user never creates any consumption plan - (s)he just creates a function app.

Infact there is #9516, whi

[2019-05-12 10:49] kiranpradeep opened #31060 "Clarity on scaling of functions inside same function app in consumption plan"
Can you please give more clarity about scaling of functions inside a single function app on consumption plan? Consider two functions A and B inside the same function app.  The document explains that functions A and B share same resources like CPU/memory. But it is silent on scaling. The query is, are the functions A and B scaled independently? This query is only about **scaling** and so let's assu

[2019-05-12 11:06] ElectricLlama opened #31061 "MSI Group needs to also be created in master"
I've already created my SSISDB with SQL authentication. Now I want to switch my runtime to MSI authentication. I granted the MSI group (SSISIrGroup) access to SSISDB, then reconfigured the Azure SSIS runtime to use MSI, then pressed _Test Connection_

I get an error that it cannot connect to master.

If I add SSISIrGroup to master the test passes. Note that you cannot proceed through the wizard wi

[2019-05-12 13:05] DixitArora-MSFT commented on #30675
@shabirjan For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue

[2019-05-12 13:05] #30675 closed

[2019-05-12 13:20] orspod commented on #30871
@armanio123 , "Update node-ingest-data.md #31057" was created to fix the docs as per your suggestion.
We will now proceed to close this thread. Thanks again for your contribution.
#please-close

[2019-05-12 13:27] stdistef opened #31062 "Global VNet peering limitation obsolete?"
I think you should removed the sentence in LIMITATIONS "Load Balancer frontends are not accessible across global virtual network peering".     My understanding is they new are.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09325ff2-5a0a-0aff-e3cb-d1c0585a6842
* Version Independent ID: f370d680-5d1d-99a9-e350-7d9551d24

[2019-05-12 14:15] Mohammed-El-Nabulsi opened #31063 "Orchestration Step Types"
According to this documentation:

the following types are actually supported: https://download.microsoft.com/download/3/6/1/36187D50-A693-4547-848A-176F17AE1213/Deep%20Dive%20on%20Azure%20AD%20B2C%20Custom%20Policies/Azure%20AD%20B2C%20Custom%20Policies%20-%20Deep%20Dive%20on%20Custom%20Policy%20Schema.pdf

Value: one of the following types as per OrchestrationStepType enumeration in the custom po

[2019-05-12 14:43] NextTurn opened #31064 "Broken links"
http://www.uie.com/articles/faceted_search/

https://github.com/MicrosoftDocs/azure-docs/blob/f6c85922b9e70bb83879e52c2aec6307c99a0cac/articles/search/search-faceted-navigation.md#L398
https://github.com/MicrosoftDocs/azure-docs/blob/f6c85922b9e70bb83879e52c2aec6307c99a0cac/articles/search/search-faceted-navigation.md#L428

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-05-12 14:47] NextTurn opened #31065 "Broken links"
http://www.centos.org/docs/5/html/5.1/DM_Multipath/multipath_config_confirm.html

https://github.com/MicrosoftDocs/azure-docs/blob/f6c85922b9e70bb83879e52c2aec6307c99a0cac/articles/storsimple/storsimple-configure-mpio-on-linux.md#L416

http://www.centos.org/docs/5/html/5.1/DM_Multipath/setup_procedure.html

https://github.com/MicrosoftDocs/azure-docs/blob/f6c85922b9e70bb83879e52c2aec6307c99a0cac/a

[2019-05-12 15:08] galrito opened #31066 "SAS token"
It should be mentioned on the section about "Shared Access Signature" generation that the URI used to create the `signature-string` should be URL-Encoded.

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13478d1d-11eb-930a-02c4-559a1ef89fa6
* Version Independent ID: be36cdf9-1e5e-c47f-e699-652dc42ee2b9
* Cont

[2019-05-12 15:34] cloudysingh opened #31067 "This article needs to be updated!"
In the text below:

"Site Recovery can manage replication for:

Azure VMs replicating between Azure regions.
On-premises VMs, Azure Stack VMs and physical servers."

There is a need to add: AWS, etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4f0f99b-031b-b8a5-a24f-4e110cae39da
* Version Independent ID: 0ea013c4-5

[2019-05-12 15:46] ChiragMishra-MSFT commented on #31058
Closing as its not an issue.

[2019-05-12 15:46] #31058 closed

[2019-05-12 15:47] petr-stupka commented on #30578
@TravisCragg-MSFT is there any ETA for NSG Flow Logs being able to configure using ARM? According to folowing Docs it is not supported and having tested ARM as you suggested above, but the changes are not applied to the specific resources. [](https://docs.microsoft.com/en-us/azure/network-watcher/traffic-analytics-faq#can-i-configure-traffic-analytics-using-powershell-or-an-azure-resource-manager-

[2019-05-12 15:50] ChiragMishra-MSFT commented on #31064
@NextTurn Can you please help us with the link to the doc that you want to provide the feedback on? This will help us understand the problem better.

[2019-05-12 15:51] ChiragMishra-MSFT commented on #31065
@NextTurn Can you please help us with the link to the doc that you want to provide the feedback on? This will help us understand the problem better.

[2019-05-12 15:53] ChiragMishra-MSFT commented on #31059
@kiranpradeep Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-05-12 15:54] ChiragMishra-MSFT commented on #31060
@kiranpradeep Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-05-12 15:55] ChiragMishra-MSFT commented on #31061
@ElectricLlama Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-05-12 15:56] ChiragMishra-MSFT commented on #31062
@stdistef Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-05-12 15:57] NextTurn commented on #31064
@ChiragMishra-MSFT I believe there is a preview in the issue description where the first line is the path to the doc, which is a clickable link.

![image](https://user-images.githubusercontent.com/45985406/57584739-63287380-7511-11e9-8753-deb2dce2632f.png)

[2019-05-12 15:58] ChiragMishra-MSFT commented on #31063
@Mohammed-El-Nabulsi Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-05-12 15:59] NextTurn opened #31068 "Broken links"
http://support.inspiredelearning.com/customer/portal/articles/2204526

https://github.com/MicrosoftDocs/azure-docs/blob/f6c85922b9e70bb83879e52c2aec6307c99a0cac/articles/active-directory/saas-apps/ilms-tutorial.md#L119

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6808b8c4-0b68-77f0-d908-1cf8e4f10c72
* Version Indepen

[2019-05-12 16:00] ChiragMishra-MSFT commented on #31066
@galrito Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-05-12 16:01] ChiragMishra-MSFT commented on #31067
@cloudysingh Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-05-12 16:02] ChiragMishra-MSFT commented on #31068
@NextTurn Can you please help us with the link to the doc that you want to provide the feedback on? This will help us understand the problem better.

[2019-05-12 16:15] steveculshaw commented on #30750
Much appreciated

[2019-05-12 16:40] lvjianjunljj commented on #30792
@shashishailaj @MohitDhingra-MSFT Thank you guys for all your help.
But i'm so sorry to say that there is still the same error after using tenantId instead of {tenantname.onmicrosoft.com} like this:
![image](https://user-images.githubusercontent.com/29011275/57585201-5870dd00-7517-11e9-90b8-c2629d53558b.png)
And another question is that the source of client_id and client_secret is App registration

[2019-05-12 17:57] lorenzobrito commented on #21602
Is microsoft planning to update the document?
Is azure testing the document they publish ?
It is not the firt time the they document are out of date even it is preview, actually does not work as the document.

I have add this configuration in godaddy provider,

Type              Name                                       Value
CNAME	     *              	                               urlstaticlore

[2019-05-12 18:18] shashishailaj commented on #30296
@tiloGit I do not think you will be able to query global catalog over the open internet . The managed domain controller would overwrite the rules . I believe you are looking for complete functionality as you get by Local on premise Domain controller however ,I dont think that Azure AD domain services are exactly same as on-premise domain controller. They do however provide most of the basic servic

[2019-05-12 18:46] zereplim opened #31071 "Create an app in Windows Store - not macthing with instructions"
Hello.
By login on Dev Center there's no option to create new app, the menus doesn't match with the instructions present on this page. Is this possible to test with a free account?
Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b48be73-2f29-6b2a-c837-751d3862bcdb
* Version Independent ID: efd00d73-1ff5-8689

[2019-05-12 19:06] ericwj opened #31072 "Cannot find the Active Directory object ''"
`Set-AzKeyVaultAccessPolicy` fails.

I am using a Microsoft Account to do this and the value of `-UserPrincipalName` is the exact e-mail address of that MSA as returned by `$azprofile.Context.Account.Id`. The tenant is correct and the MSA has access.

`Set-AzKeyVaultAccessPolicy` : Cannot find the Active Directory object '' in tenant '15040bd1-xxxx-yyyy-zzzz-51c335083648'. Please make sure that th

[2019-05-12 19:20] mguglani opened #31073 "unable to create a python function in function app"
I was successfully able to create an "HTTP triggered function in Azure" using the instructions here:

https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-python

I verified running the app using both local environment and the Azure portal. (Deploy the function app project to Azure)

I could not find any instructions on how to deploy the app when I make an update

[2019-05-12 20:03] mguglani commented on #31073
moved the issue to - Azure/azure-sdk-for-python

[2019-05-12 20:03] #31073 closed

[2019-05-12 20:25] jwargo commented on #31071
@zereplim The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs.

App Center support is provided directly from within the App Center portal. Any time you need help, just click the blue chat button in the lower-right corner of any page and our dedicated support team will respond. For additional information

[2019-05-12 20:46] alexlorenzo commented on #16666
Hi, Could you confirm that it is still not possible to use local images using the the Azure's Computer vision API ?

[2019-05-12 21:47] ncarandini opened #31074 "MSAL 3.0.8 is finally a stable release, why is it still referenced as preview?"
On the "Apply to" section the MSAL has the "Preview" label, shoudn't be removed since the we finally have a stable release?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae07d114-c399-29bb-ea3c-40fab750eed4
* Version Independent ID: 38428448-dbff-0155-23ad-6cfb6115183a
* Content: [Microsoft identity platform Android q

[2019-05-12 22:29] jpeebles3 opened #31075 "Examples of Join Kinds?"
It would be really helpful if there were some example queries (similar to the one above) but for the different join types cited in the Join Kinds section.  Examples help to reinforce the concepts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bfd357e-81ec-969f-0f43-5d15fcd4d42c
* Version Independent ID: 99e92402-638d

[2019-05-12 22:41] KeiroKamioka0000 opened #31076 "Expected Time?"
Please consider to add, expected require time to create the Snapshot.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bb0d5aa-46fa-b15d-8eec-c724b5ae468c
* Version Independent ID: 1977490f-d9c6-574c-c6a4-36b0ebd484b8
* Content: [Create a snapshot of a VHD in Azure](https://docs.microsoft.com/en-us/azure/virtual-machine

[2019-05-12 22:58] Karishma-Tiwari-MSFT commented on #30844
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-05-12 22:58] #30844 closed

[2019-05-12 23:07] YutongTie-MSFT commented on #31076
@KeiroKamioka0000
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-12 23:08] YutongTie-MSFT commented on #31075
@jpeebles3
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-12 23:10] YutongTie-MSFT commented on #31072
@ericwj
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-12 23:11] YutongTie-MSFT commented on #31074
@ncarandini
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-12 23:11] TheSaltyKorean opened #31077 "Needs an additional section of advantages"
Article needs to tell me why do I want to use partitioning vs not using partitioning. You hint at it but don't declaratively state why.

Is it because there's less chance of degradation of service and I gain the benefit of transactions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14b28704-f660-c413-a0fe-cb1d469fe35c

[2019-05-13 00:14] TechTrooper opened #31078 "Automatic device registration happens despite GPO control. Disabled doesn't work"
At the moment GPO "Windows Components/Device Registration/**Register domain  joined computers as devices"** has absolutely no effect. Disabled setting doesn't block Windows10 Azure AD Hybrid Join.

Once you install ServiceConnectionPoint for Azure AD Hybrid Join, every single Windows 10 machine in forest will perform AAD Hybrid Join. Doesn't matter if OU's are synced or not in AAD Connect.

Also h