[2018-11-21 18:58] rs38 commented on #17820
yes, still the same. may it be CDN related? do you have coworkers that could glance on it from europe (like me)?

[2018-11-21 19:11] #17763 closed

[2018-11-21 19:17] jason-j-MSFT commented on #19090
@linda33wj could you take a look at this request?

[2018-11-21 19:23] jason-j-MSFT commented on #19133
@satishanumolu take a look here at how you can use Logic Apps to send more verbose alert emails:
https://docs.microsoft.com/en-us/azure/data-factory/tutorial-control-flow-portal

I did notice some problems with the tutorial, but the concepts are there and can be adapter to your workflow.

[2018-11-21 19:23] #19133 closed

[2018-11-21 19:30] shizn commented on #19252
@nelsonmorais For now you need to maintain multiple deployment.template.json by yourself for multiple os/arch. In our next 1.7.0 release, we will officially support this scenarios. There will be an os/arch selector in status bar, and you can also put multiple *.template.json file in the solution folder. 1.7.0 will be released by the end of this week.
![image](https://user-images.githubusercontent.

[2018-11-21 19:31] nkwolf opened #19331 "Confusing Security Recommendations"
"Node-to-node security helps secure communication between the VMs or computers in a cluster".
"for node-to-node security, we recommend that you use Azure AD security to authenticate clients and certificates."
Why 'clients and certificates' when talking about node-to-node security? Should it be client-to-node security instead?

---
#### Document details

⚠ *Do not edit this section. It is required

[2018-11-21 19:34] jason-j-MSFT commented on #19190
@PrometheusRising1 have you tried Storage Explorer for Gen 2?  It works for me, although I will say POSIX permissions are not supported.  We are closing this issue for now, but I would suggest opening an issue such as this one in the Gen 2 section.

[2018-11-21 19:34] #19190 closed

[2018-11-21 19:35] shizn commented on #19092
Echo to the sample above. It covers all the aspects you want to learn in the readme file.
Let me know if you meet specific issues when developing Python module on Pi.

[2018-11-21 19:35] bwren commented on #19207
There are no current plans from the engineering team to stop that solution from being used, and I suspect that it will work indefinitely.  That being said, there's no guarantee of that, and the recommendation is to eventually move to Traffic Analytics.  We haven't been given any guidance beyond that.

[2018-11-21 19:37] shizn commented on #18435
@saifuddin123. If you have existing modules running on your device, you need to bump up the image version in module.json, so that the EdgeAgent will stop running module and pull latest image after your deployment.

[2018-11-21 19:38] nbandi413 opened #19332 "Can't login into Azure Functions runtime locally in windows2016."
Can't login into Azure Functions runtime [Preview 2] locally in windows2016.

The error being thrown is "Invalid login credentials".

Setup:
•Windows2016 datacenter (with AFR all both roles)
•SQL 2017 latest patches (on Windows2016 datacenter)
•Both servers are domain joined.

What we tried:
•Uninstall and reinstall of AFR.
•Reboot the AFR server
•Chrome, Firefox, and IE

Is there a location for l

[2018-11-21 19:39] shizn commented on #18195
@LazarusX

[2018-11-21 19:41] shizn commented on #18178
Are you in any Python virtual env? Try pip install -r requirements.txt to get iothub Python SDK installed.

[2018-11-21 19:42] MicahMcKittrick-MSFT commented on #19323
@lbergeron01 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-11-21 19:43] cephalin commented on #18570
@ghills @jpreese Thank you both for the feedback. The team has prioritized getting it fixed for IP restrictions, VNET, hybrid connections, and CORS. By end of January all of them should be unswapped by default.

[2018-11-21 19:43] MikeDodaro commented on #19076
Fixed and published: https://docs.microsoft.com/en-us/azure/cognitive-services/bing-spell-check/sdk-quickstart-spell-check

[2018-11-21 19:44] shizn commented on #13651
@formulahendry @adashen

[2018-11-21 19:47] maertendMSFT commented on #17820
@rs38, I have reached out to some folks on the docs side of things.  With the Thanksgiving Holiday in the United States many people are out this week.  I will follow-up with them next week if we haven't gotten a response by then.

[2018-11-21 19:48] dend commented on #17820
@rs38 are you behind a corporate VPN/firewall? Do you by chance have third-party cookies blocked?

[2018-11-21 19:49] TravisCragg-MSFT commented on #19280
@faister could you elaborate a bit more? what specific cipher suites are needed?

[2018-11-21 19:51] Mike-Ubezzi-MSFT commented on #16500
@lucasmike @mattallenuk Documentation will be updated. I have been instructed to close this. Please reach out to askcosmosdb@microsoft.com if you have any additional comments or input on this matter. Thank you.

[2018-11-21 19:57] ghills commented on #18570
@cephalin I think that is the right solution - thanks for keeping us informed.

[2018-11-21 20:11] rs38 commented on #17820
no, not at all!!
but I have a chance to check it tomorrow on completely different hardware and corp environment with proxy etc. with chrome, IE and Edge.

Did not try it with cell phone browser :)

[2018-11-21 20:12] evan-morris opened #19333 "ProvisioningDeviceClientTpm sample has been moved (per readme.md) & does not install"
git clone --recursive https://github.com/Azure/azure-iot-sdk-csharp.git
Leaves no ProvisioningDeviceClientTpm folder.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f746de95-7990-6084-3fbc-756c7d7ef04d
* Version Independent ID: ced758d5-6d5d-5cf2-d424-c8b3739e70b9
* Content: [Provision a simulated TPM device to Azure I

[2018-11-21 20:15] MohitGargMSFT commented on #19300
@Idlefisher Thanks for your feedback! We will investigate and update soon on it.

[2018-11-21 20:15] MicahMcKittrick-MSFT commented on #19331
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-21 20:16] bhpat opened #19334 "Mobility Agent Uninstall Directory"
/user/local/ASR should be /usr/local/ASR when attempting to uninstall the mobility agent. Document has it otherwise.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d179f813-5826-7ec3-30c5-9b6b9c0a9acc
* Version Independent ID: 3141a3e5-ea3b-cba1-7e34-4df69b8e1aa3
* Content: [About the Mobility Service for disaster reco

[2018-11-21 20:16] robertdj commented on #18722
Thank you! This is very helpful :-)

[2018-11-21 20:16] MicahMcKittrick-MSFT commented on #19332
@nbandi413 please provide us with the link to the documentation you are referring to so we can better assist.

[2018-11-21 20:18] MohitGargMSFT commented on #19304
@AdaTheDev Thanks for your feedback! We will investigate and update soon on it.

[2018-11-21 20:19] MohitGargMSFT commented on #19311
@dave-ch Thanks for your feedback! We will investigate and update soon on it.

[2018-11-21 20:20] MohitGargMSFT commented on #19313
@dpravo Thanks for your feedback! We will investigate and update soon on it.

[2018-11-21 20:21] MohitGargMSFT commented on #19314
@lestaat Thanks for your feedback! We will investigate and update soon on it.

[2018-11-21 20:29] Mike-Ubezzi-MSFT commented on #19330
@SnehaGunda It appears @dharmas-cosmos (Dharma Shukla) will need to enroll on the MicrosoftDocs repository, as I am unable to assign items to this alias.

[2018-11-21 20:31] Mike-Ubezzi-MSFT commented on #18714
@StevenHibble We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-11-21 20:31] #18714 closed

[2018-11-21 20:31] Mike-Ubezzi-MSFT commented on #18736
@bunkrur We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-11-21 20:31] #18736 closed

[2018-11-21 20:32] Mike-Ubezzi-MSFT commented on #18877
@dcbrown16 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-11-21 20:32] #18877 closed

[2018-11-21 20:33] Mike-Ubezzi-MSFT commented on #18995
@omeraslam305 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-11-21 20:33] #18995 closed

[2018-11-21 20:38] Mike-Ubezzi-MSFT commented on #19037
I have assigned the issue to the content author to evaluate and update as appropriate. In looking through this documentation: [Azure Redis Cache VNet FAQ](https://docs.microsoft.com/en-us/azure/redis-cache/cache-how-to-premium-vnet#azure-redis-cache-vnet-faq), I did not see anything indicating this behavior is a known issue.

[2018-11-21 20:39] Mike-Ubezzi-MSFT commented on #19146
@SQLGuyChuck We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-11-21 20:39] #19146 closed

[2018-11-21 20:39] cdh4u commented on #14482
I am having the same problem. When I am trying to run the examples, I get the following error:

c:\users\...\appdata\local\arduino15\packages\az3166\tools\arm-none-eabi-gcc\5_4-2016q3\arm-none-eabi\include\stdlib.h:22:20: fatal error: alloca.h: No such file or directory

I am using Windows 10, and I have installed the version 1.5.1 firmware on the devkit.

[2018-11-21 20:42] Mike-Ubezzi-MSFT commented on #19241
@marcusmills We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-11-21 20:42] #19241 closed

[2018-11-21 20:50] Mike-Ubezzi-MSFT commented on #19293
@guygregory The easiest way to identify if Azure SQL Hyperscale is eligible for Azure SQL Reserved Capacity, can navigate through the steps in the Azure Portal to see if Hyperscale is available with the subscription you currently hold or wish to use: [Buy SQL Database reserved capacity](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-reserved-capacity#buy-sql-database-reserved-cap

[2018-11-21 20:51] Singlecanoer opened #19335 "Result Message"
My result message is PreUpgradeFailure. "Azure AD Connect AutoUpgrade result = PreUpgradeFailure" is not in the list and I need help with it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e192eab2-771f-4572-cd55-a166eac1e0e7
* Version Independent ID: 528dec55-c74d-3769-3a34-5e29e4a9852f
* Content: [Azure AD Connect: A

[2018-11-21 20:57] nbandi413 commented on #19332
Hi,
Below is the doc I am referring to.
https://docs.microsoft.com/en-us/azure/azure-functions/functions-runtime-install
Thank you

[2018-11-21 20:59] tseward commented on #19312
@Adam-Smith-MSFT And SharePoint 2019?

[2018-11-21 21:05] anthonychu commented on #9853
Also consider [ACR Tasks/Build](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tasks-overview#quick-task) instead of docker CLI... either changing the tutorial to use it or providing an alternative where a docker host is unavailable, such as in Cloud Shell.

[2018-11-21 21:11] johndowns commented on #16061
@ruprizal I'm glad you fixed your problem, but this is not the point of this issue. This issue is specifically about custom metric alerts in Application Insights. Application Insights allows for creating your own metrics and then alerting based on them, so there is no predefined list. (Additionally Azure Monitor now supports custom metrics on all resource types too, so the issue will occur with th

[2018-11-21 21:11] craigkitterman commented on #14482
I am having the exact same error as well.  Latest firmware and everything...

[Starting] Verify sketch - RemoteMonitoringV2.ino
Please see the build logs in Output path: d:\src\examples\devkit_remotemonitoring\Device\.build
Loading configuration...
Initializing packages...
Preparing boards...
Verifying...
In file included from C:\Users\craig\AppData\Local\Arduino15\packages\AZ3166\hardware\stm32f4

[2018-11-21 21:15] #19246 closed

[2018-11-21 21:15] craigkitterman commented on #14482
Where do you get this file?

[2018-11-21 21:16] Mike-Ubezzi-MSFT commented on #16500
Seeking clarification on next steps.

[2018-11-21 21:32] CeciAc commented on #19327
Hello, @SingeCore
 
We truly appreciate your comment and we strive to improve your experience in docs.microsoft.com. However, we need more information in order be able to address your feedback. Can you please provide the URL you are referring to?
 
Kind regards,
Microsoft DOCS International Team

[2018-11-21 21:48] CeciAc opened #19336 "ExecutionContext link - page not found"
@karaibek27 commented on [Tue Nov 20 2018](https://github.com/MicrosoftDocs/azure-docs.pl-pl/issues/44)

In section titled "UseCore" link to 'ExecutionContext' page cannot be loaded ( if we modify the link to : https://github.com/Azure/azure-webjobs-sdk-extensions/tree/master/src/WebJobs.Extensions/Extensions there are just Files and Timers). Is Core deleted or moved to other place?
Thanks for ans

[2018-11-21 21:48] CeciAc commented on #19336
Hi team,
I'm moving this here since it also repros in the source
best

[2018-11-21 21:53] MohitGargMSFT commented on #19304
@AdaTheDev Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-11-21 21:54] gunnarcms opened #19337 "Configure DNAT rule is missing protocol"
When going through the steps on https://docs.microsoft.com/en-us/azure/firewall/tutorial-firewall-dnat#configure-a-dnat-rule , there are two problems, A) it is called "Add NAT rule collection" and not "Add DNAT rule collection" and B) It is missing the protocol TCP on 3389.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2018-11-21 21:54] #19071 closed

[2018-11-21 21:54] #19098 closed

[2018-11-21 21:54] #19102 closed

[2018-11-21 22:02] kgremban commented on #13323
@theangellmethod I've gone through and made the custom code tutorials consistent among themselves for screenshots, container registry creation steps, new IoT Edge solution creation steps, and module twin configuration in the deployment template. I'll resolve this issue when the pull request merges. If you think more work needs to be done for consistency across tutorials, feel free to reach out to

[2018-11-21 22:02] scottstout opened #19338 "Typo Llogical"
In the next steps the word Logical is misspelled as Llogical.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abb0beaa-01ab-7031-937e-2d44c147b5d2
* Version Independent ID: 742b249e-054f-a160-c2f5-7c22a796f9d0
* Content: [Request units and throughput in Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/r

[2018-11-21 22:04] gunnarcms opened #19339 "Test the firewall missing steps"
When testing the firewall on https://docs.microsoft.com/en-us/azure/firewall/tutorial-firewall-dnat#test-the-firewall, we reference a network rule RC-Net-01 that has not been created in the tutorial.  We should add a step to provision a Network Rule Collection on TCP with any source address (*) and the destination address of the private IP of the VM created ( probably 192.168.1.4) on port 3389 wit

[2018-11-21 22:05] kgremban commented on #13546
@theangellmethod The Functions tutorial is not written to use a module twin to set the temperature threshold. The custom code tutorials (C, C#, Java, Node, Python) do use the module twin feature. I've made sure that those five tutorials have consistent instructions and screenshots for configuring the module twin as part of the changes I made for your other issues. When that pull request merges, I'

[2018-11-21 22:17] thomaslp86 opened #19340 "variable value not provided"
You used the variable $ctx for the storage context but did not provide/declare the variable with the value.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b04a28c3-81d7-123d-5b16-6642636c07a8
* Version Independent ID: 2179498b-00e8-1c9d-bd11-4a903ae3ad52
* Content: [Azure Quickstart - Create a blob in object storage us

[2018-11-21 22:21] MohitGargMSFT commented on #19311
@dave-ch Thanks for reaching out! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-11-21 22:30] MohitGargMSFT commented on #19104
@tx5westmt Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-11-21 22:34] MohitGargMSFT commented on #19314
@lestaat Please note that as stated in [Purge protection flag](https://docs.microsoft.com/en-us/azure/key-vault/key-vault-ovw-soft-delete#purge-protection--flag) section of the document - Purge protection(--enable-purge-protection in Azure CLI) flag is **off _by default_**. When this flag is turned on, a vault or an object in deleted state cannot be purged until the retention period of 90 days has

[2018-11-21 23:15] MarileeTurscak-MSFT commented on #19237
Hi @WithHolm ,

Unfortunately you need to be a Global Admin for this.

[2018-11-21 23:16] MarileeTurscak-MSFT commented on #19237
We will now proceed to close this thread. If you'd like to continue the conversation, please tag me in the comments and I will gladly continue the discussion.

[2018-11-21 23:16] #19237 closed

[2018-11-21 23:16] asvyat commented on #15195
How to get fixed PS version? I am still getting similar issue on both of my machines :-(

[2018-11-21 23:18] TravisCragg-MSFT commented on #19301
@OLEG-V-IVANOV you should be able to go back and add a public IP in the event that it was not added initially.

I will be reproducing this to verify that it works as expected.

[2018-11-21 23:20] TravisCragg-MSFT commented on #19306
@TomaszOledzki Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-21 23:21] jason-j-MSFT commented on #19317
@Vigneshbosch the credentials you would enter for the fileshare are the local credentials for your laptop.  These credentials can be encrypted on the Integration Runtime you installed on your machine.  Take a look here for details:
https://docs.microsoft.com/en-us/azure/data-factory/encrypt-credentials-self-hosted-integration-runtime

[2018-11-21 23:21] #19317 closed

[2018-11-21 23:25] itsdeshpande opened #19343 "Azure virtual machine scale set automatic OS image upgrades"
ON the last topic of this document:
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-upgrade#os-upgrades-on-the-vms-that-make-up-the-cluster

Isn't this now available with https://docs.microsoft.com/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-automatic-upgrade??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2018-11-21 23:30] Adam-Smith-MSFT commented on #19334
@bhpat Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-21 23:31] MarileeTurscak-MSFT commented on #19300
Hi @Idlefisher , can you please post this question to MSDN and we will respond on there? We are moving away from these sorts of troubleshooting questions on Github.

I monitor MSDN daily and can ensure that you get the issue resolved. If needed we will escalate this to the product team and file a bug. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2018-11-21 23:31] MarileeTurscak-MSFT commented on #19300
Please feel free to tag me in the comments if you need assistance.

[2018-11-21 23:31] #19300 closed

[2018-11-21 23:32] MarileeTurscak-MSFT commented on #19335
The upgrade errors don't occur anymore after installing the latest AADConnect version. Please install the latest and this issue will be resolved.

[2018-11-21 23:33] MarileeTurscak-MSFT commented on #19335
We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2018-11-21 23:33] #19335 closed

[2018-11-21 23:37] jack0612 opened #19344 "This doc is very bad,very bad!!!!."
This doc is very bad,very bad!!!!.
for example. "Enter the name of the application for which you want to configure single sign-on. Choose your own application, or use the GitHub-test application that was added in the add application quickstart."
you should give example for this gitbug-test app, what the URL is.
I am not able to get the URL to finish the tutorial.

---
#### Document Details

⚠ *Do

[2018-11-21 23:37] allan-xiazhan commented on #18225
Verified it works fine with asp .Net core.  The steps:
[code]
Exec into the container, run the below commands
[code]
Change aspnet profile in /asptest/Properties/launchSettings.json to disable launchBroser and expose port on public addres
[code]
Then, start this asp project
[code]

In another exec window to this container:

[code]

To use managed identy to access key vault, use this sample:

[code

[2018-11-21 23:40] MarileeTurscak-MSFT commented on #19266
I believe uninstalling or disabling should be sufficient.

CC: @MicrosoftGuyJFlo for confirmation

https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-proxy-configure-connectors-with-proxy-servers

[2018-11-21 23:41] MarileeTurscak-MSFT commented on #19266
We will now proceed to close this thread. If you have further questions please leave a comment or open a new issue and I will gladly continue the conversation.

[2018-11-21 23:41] #19266 closed

[2018-11-21 23:46] mamccrea commented on #19253
Hi @mcurko - this issue may be related to the version of Azure Functions you are using. Please try running the older version.

[2018-11-21 23:47] WithHolm opened #19345 "Sample Errors"
When gathering the nuget packages and building on the sample SDK, you will get many errors with missing references and nugetpackages not playing nice with eachother.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45cb3eec-7693-4e22-bcde-3f85d5a4be14
* Version Independent ID: 506c3302-e823-8f1e-d547-083ef0b664df
* Conte

[2018-11-21 23:48] dsolodow commented on #19266
Am I correct that there is no way to see what proxies are configured in
Azure so I can verify?
If you try to add a third does the error message indicate that the maximum
number has been reached?

Sent from mobile

On Wed, Nov 21, 2018, 6:40 PM Marilee Turscak - MSFT <
notifications@github.com wrote:

[2018-11-21 23:52] kvsrkrishnan commented on #18863
I get no error now. But I see "HTTP Error 502.5 - Process Failure". I have verified the name of the Key Vault specified in Program.cs

[2018-11-22 00:19] kgremban commented on #19208
I suppose so, or follow the earlier suggestion to use direct methods.

[2018-11-22 00:31] kgremban commented on #19208
I was thinking more about this question, and heard some users mention installing logrotate on their devices to periodically clean up their logs so they don't get too large. I assume a similar option is available for cleaning up images. A quick search brought up https://hub.docker.com/r/meltwater/docker-cleanup/ as an example of an image that cleans up unused images periodically. Perhaps something

[2018-11-22 00:42] err-unknown-username opened #19346 "Sorry, but we’re having trouble signing you in."
AADSTS50194: Application '7b1124da-1c59-431f-xxxx-5d4578f89912' is not configured as a multi-tenant application. Usage of the /common endpoint is not supported for such applications created after '10/15/2018'. Use a tenant-specific endpoint or configure the application to be multi-tenant.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-11-22 00:47] TerryLanfear commented on #15091
@ezlbrmn - Thanks for your feedback. I've updated the article's text to match Security Center's user interface. SQL Threat Detection integrates alerts with Security Center. To learn more, please see articles  Enable auditing and threat detection on SQL databases in Security Center (https://docs.microsoft.com/azure/security-center/security-center-enable-auditing-on-sql-databases) and Azure SQL Data

[2018-11-22 00:47] TerryLanfear commented on #15091
#please-close

[2018-11-22 00:49] wildoewj opened #19347 "Managed instances disaster recovery not covered in documentation"
This page fails to cover disaster recovery.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28ca1f7f-5a34-0f23-10ce-3ff24c76db97
* Version Independent ID: 5c4a22c4-78fc-911d-9fa0-8dfab1653b6e
* Content: [Azure SQL Database Managed Instance Overview](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-manage

[2018-11-22 00:50] imeya opened #19348 "When create an application insights resource, the location I selected is not near me or the app where it is hosing, does it result in some perfomance issue?"
During create an application insights resource, if I select a location which is not near me or the app where it is hosing, in this situation, does it result in some performance issue?

and any documents about it?

thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0aac1b63-5869-0b8b-bf20-af6a6e5caaac
* Version Inde

[2018-11-22 01:06] mr-fujnz commented on #17915
We just discovered a similar thing. Could reset a password to Password<gibberish>. That being said it stopped us from being able to set Password<OtherBannedPassword> Is there a threshold where if you have enough additional characters it stops being considered a variant of that word?

[2018-11-22 01:30] LuisBosquez commented on #16500
Hello everyone, we're working with the open-source community to enable full support of Cosmos DB on the latest Gremlin-Javascript. This is well-known and not currently a docs issue as much as it is a breaking change that happened after v2.6.0. I'll publish a newer doc as soon as this is sorted out.

Thanks for your patience.

[2018-11-22 01:33] adashen commented on #13651
@Mike-Ubezzi-MSFT this is a known issue and caused by cpptools extension. The bug is tracked at https://github.com/Microsoft/vscode-cpptools/issues/2444 The status seems fixed but not released.
And we has also tracked in our tool repo at https://github.com/Microsoft/vscode-azure-iot-edge/issues/283 We will keep this thread updated when the fix from cpp tool is released.

[2018-11-22 02:03] MicahMcKittrick-MSFT commented on #19343
Thanks for the question! We are investigating and will update you shortly.

[2018-11-22 02:04] #15091 closed

[2018-11-22 02:14] CalvinFengDatacom commented on #18866
Hi @diberry, any updates for the issue?

[2018-11-22 02:16] neil-rubens opened #19350 "Deprecated: Azure API Management REST API Logger entity"
Azure API Management REST API Logger entity is **Depreciated**.
https://docs.microsoft.com/en-us/rest/api/apimanagement/apimanagementrest/azure-api-management-rest-api-logger-entity

It is not clear what the replacement should be.

e.g. in my case am sending requests to Event Hub for further processing

[2018-11-22 02:19] neil-rubens commented on #19350
instead opened issue via feedback form (so that it can refer to a more specific page etc.)

[2018-11-22 02:19] #19350 closed

[2018-11-22 02:20] neil-rubens opened #19351 "Deprecated: Azure API Management REST API Logger"
Azure API Management REST API Logger entity is Depreciated.
https://docs.microsoft.com/en-us/rest/api/apimanagement/apimanagementrest/azure-api-management-rest-api-logger-entity

It is not clear what the replacement should be.

e.g. in my case am sending requests to Event Hub for further processing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2018-11-22 02:30] mayanknayar commented on #19272
Hi @harshasanagaram

Which API version are you using? As you can see in the doc just above the code snippet, we've called out:
PUT or PATCH on `/subscriptions/subscription_id/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachineScaleSets/myScaleSet?api-version=2018-10-01`

"enableAutomaticOSUpgrade": true is correct property using API version 2018-10-01

"automaticOSUpgrade": t

[2018-11-22 02:46] imeya commented on #18777
@KetanChawda-MSFT , If I have some layers for the project, such as there is an class used to process sql, then it is possible to use ILogger to show info in the console?

[2018-11-22 03:09] dcbrown16 opened #19352 "Security model link"
Is there any plan to update the link under "For more information, see the Notification Hubs security model document."?
It goes to the following page under old Service Bus docs that are marked as obsolete, but it seems to still be roughly accurate.
https://docs.microsoft.com/en-us/previous-versions/azure/azure-services/dn495373(v=azure.100)
An up-to-date page that describes the current default poli

[2018-11-22 03:18] ravindrakk commented on #19285
thank you for prompt response.

[2018-11-22 03:18] #19285 closed

[2018-11-22 03:38] vladvino commented on #19351
Please follow directions in the warning at the top of the page.

________________________________
From: Neil Rubens <notifications@github.com>
Sent: Wednesday, November 21, 2018 6:20 PM
To: MicrosoftDocs/azure-docs
Cc: Vladimir Vinogradsky; Mention
Subject: [MicrosoftDocs/azure-docs] Deprecated: Azure API Management REST API Logger (#19351)

Azure API Management REST API Logger entity is Depreciat

[2018-11-22 04:16] neil-rubens commented on #19351
Good point.

It might be beneficial to update the [post](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-log-event-hubs)  with the instructions of how to use the [new Logger](https://docs.microsoft.com/en-us/rest/api/apimanagement/logger) or perhaps stating that the proposed approach has been deprecated.

[2018-11-22 04:19] #19351 closed

[2018-11-22 04:20] KeiroKamioka0000 opened #19353 "Azure AD Connect Server"
How the Azure AD Connect Server will chose which domain controller to talk?

If preferred domain controllers wasn't selected, does it will chose to random domain controller or does Azure AD Connect Server will talk to all of available domain controllers at once?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c900f942-4

[2018-11-22 04:35] PramodValavala-MSFT commented on #19065
@paulhasell Just following up... Have you gotten a chance to try this out?

[2018-11-22 04:49] KetanChawda-MSFT commented on #19321
@Eduard-TC Thanks for posting the question. We will take a look on this and will get back to you.

[2018-11-22 04:53] KetanChawda-MSFT commented on #19318
@AlexandrPavlovski Thanks for posting the question. We will take a look on this and will get back to you.

[2018-11-22 04:58] AshokPeddakotla-MSFT commented on #19333
@evan-morris Thank you for the detailed feedback and reporting the issue.

Device provisioning samples were moved to[Azure-Samples/azure-iot-samples-csharp](https://github.com/Azure-Samples/azure-iot-samples-csharp) repository.

You may clone the sample from here: `git clone https://github.com/Azure-Samples/azure-iot-samples-csharp.git`

This is being assigned to the content author to evaluate and

[2018-11-22 05:01] KetanChawda-MSFT commented on #19352
@dcbrown16 Thank you for your feedback! We will investigate and get back to you with our finding.

[2018-11-22 05:03] #19338 closed

[2018-11-22 05:07] MicahMcKittrick-MSFT commented on #19350
@neil-rubens thanks for the update

[2018-11-22 05:07] MicahMcKittrick-MSFT commented on #19319
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-22 05:09] #19272 closed

[2018-11-22 05:11] lakshmisivareddy commented on #19302
Hi @MicahMcKittrick-MSFT
i reffed below documents so far
https://docs.microsoft.com/en-us/azure/iot-central/concepts-connectivity#connect-without-first-registering-devices
https://docs.microsoft.com/en-in/azure/iot-central/

i am looking for connecting existing iot-hub devices to iot central .
any help will be appreciated

Regards
lakshmisivareddy

[2018-11-22 05:31] woodwardmatt commented on #19229
@Adam-Smith-MSFT Sure - I've updated my pipeline task. This installs and copies the files in one step.

[code]

where $SOURCE is an environmental variable for $(System.DefaultWorkingDirectory)/app/drop

This install azcopy fine, then seems to fail on the copy routine. Any thoughts?

[code]

[2018-11-22 05:41] BryanTrach-MSFT commented on #19336
@karaibek27 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-11-22 06:34] mcurko commented on #19253
Anybody trying this example will stumble on the same error, maybe you should recheck it and update the doc?

[2018-11-22 06:40] ChiragMishra-MSFT commented on #18960
We will go ahead and close this issue now. If your problem isn't solved, feel free to post your question on [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory)or on [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-data-factory-2) with some more details.

[2018-11-22 06:40] #18960 closed

[2018-11-22 06:46] jarkko-hautakorpi opened #19355 "Don't ask again.. -option is missing from sign-in"
Office.com sign-in with 2 factor authentication does not show the "_Don't ask again for 60 days_" -option. Using Chrome browser.

[2018-11-22 06:51] ManojReddy-MSFT commented on #19353
@KeiroKamioka0000 If the preferred domain controller is not set, Azure AD Connect server will use the DC Locator process to identify the DC. This is similar to any server joined to a domain identifying the DC.

[2018-11-22 06:52] KeiroKamioka0000 commented on #19353
Thanks!!!!

[2018-11-22 06:52] #19353 closed

[2018-11-22 06:55] LazarusX commented on #18195
@baharw Can you run `getend hosts raspberry` on you Raspberry Pi? Does the result match `127.0.0.1` or the Pi's IP?

[2018-11-22 07:14] KetanChawda-MSFT commented on #19318
@AlexandrPavlovski you can set Azure Web App Deployment User using Azure CLI. Here is the documentation for same.

[az webapp deployment user set](https://docs.microsoft.com/en-us/cli/azure/webapp/deployment/user?view=azure-cli-latest)

[2018-11-22 07:32] tomasaschan commented on #16500
@luisbosquez quoting @mattallenuk above:

I still don't understand why the docs update has to wait until new features are available.

[2018-11-22 07:39] Dinesh-AR commented on #19230
@GeethalakshmiG, @Sogup Thanks for quick response. I am aware that V2 stack keeps VM's Disk snapshots in backup vault for 7 days. It would be helpful if you provide Powershell script to access those snapshots.

[2018-11-22 07:45] xXxOlivierxXx commented on #19340
Indeed, they are missing this command:

$ctx = New-AzureStorageContext -StorageAccountName $StorageAccountName -StorageAccountKey $Key

[2018-11-22 08:02] mattallenuk commented on #16500
@LuisBosquez, has 3.2.10 been evaluated by MSFT and found to be missing features? If so what are the missing features required for full CosmoDB support? Have jira issues been logged in the Tinkerpop Jira or is there discussion happening on the Tinkerpop dev list?

[2018-11-22 08:29] mattwhite-itl commented on #17915
IMHO the guidance says that any password with the word "password" should be blocked. Irrespective of the extra complexity that's added it's still using weak words that should be banned.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________

Matthew White
Technical Account Manager
IT Lab Ltd
DDI: 020 3327 8073
Tel: +442070303444
Email: MatthewWhite@itlab.com
Web: www.itl

[2018-11-22 08:42] thomaslp86 commented on #19340
Thanks.

[2018-11-22 08:50] paulmackinnon-adv365 opened #19360 "rg-preprd-iis is not a valid Resource Group Name. Please verify your input"
I've destroyed and recreated the Start/Stop solution a number of times by following the documentation, but it still thinks that my resource group does not exist. I have also ensured that the Automation Account has access to that particular resource group, and also tested another rg in the same subscription as the account.

Here is the output of the Runbook:
[code]

I have no idea why it doesn't li

[2018-11-22 08:56] dpravo commented on #19313
@MohitGargMSFT so it is definitely available in Azure AD government version?

Under the 'Security' section of Azure AD Gov tenant I only have the following four options:

-Conditional access
-MFA Server
-Users flagged for risk
-Risky sign-ins

I appear to be missing the "Authentication Methods" feature - should I be seeing this? even in Gov?

[2018-11-22 09:16] neeleshray commented on #19344
We are checking on this and would get back to you.

[2018-11-22 09:30] ConsistentTheory opened #19362 "onPremisesSecurityIdentifier -ne "S-1-1.......""
Not working the way it should. It seems to be checking the first group and seeing that it's not that group and then adding the user to the group even when the user is part of the group that should be excluded.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f7a4070-1be8-5f1f-0092-68fb6b9e2305
* Version Independent ID:

[2018-11-22 09:38] Tsonov opened #19363 "Wrong sentence regarding HTTP status code and request failure"
This sentence sounds wrong:
"For the web applications, Application Insights define request as failed when the response code is less the 400 or equal to 401. "
Isn't the opposite true, i.e. response code &lt; 400 or equal to 401 means the request is successful, not failed?

If it is wrong, I am not sure what's the process to submit a fix but I'd be happy to learn it (new to this).

---
#### Documen

[2018-11-22 09:39] KetanChawda-MSFT commented on #18777
@imeya Yes. It should work if your custom class has a way to set the default logger to use. See the example below

**Main Function Code:**
[code]

**Supporting Class**
[code]

[2018-11-22 09:39] PramodValavala-MSFT commented on #19245
@abhinav-jain09 Just following up... Have you gotten a chance to try this out?

[2018-11-22 09:54] pratson20 opened #19364 "TPm DPS failure on Aaeon GW S01-A20"
Hi,

I am using Aaeon GW to implement TPM based device provisioning. I am able to retrieve Registration Id and Endorsement Key using  Azure SDK mentioned in below steps-
https://docs.microsoft.com/en-us/azure/iot-edge/how-to-auto-provision-simulated-device-linux#

After following all the steps, i have found IoT Edge DPS is not working for me.
I have attached logs and screenshot.

[logs.txt](https:

[2018-11-22 09:54] SumanthMarigowda-MSFT commented on #19340
@thomaslp86, Thank you for reporting this issue, we will get this document updated as appropriately. @xXxOlivierxXx, Thank you for sharing the command that worked for you.

[2018-11-22 10:10] Vigneshbosch commented on #19317
Hi @jason-j-MSFT

Thanks for your response.

The User name and Password of my Laptop also i tried while creating a Linked Service ( File System ) is also not Working.

In document it says something about a domain name . Where can i find a domain name for my personal laptop ?

For Integrating a On-Premise Systems of Enterprise with Azure do you recommend  to use Integration Runtime ?

Thanks
Vignes

[2018-11-22 10:15] cephalin commented on #16416
@abhiramani-iptiq I've published the content in a [new script](https://docs.microsoft.com/en-us/azure/app-service/scripts/app-service-powershell-backup-restore-diff-sub). #please-close

[2018-11-22 10:41] lanfeust69 opened #19365 "Is this still Preview ?"
According to this [announcement](https://azure.microsoft.com/en-us/blog/azure-service-fabric-updates-at-ignite-2018/) and the corresponding [note](https://azurenotes.tech/ServiceNotes/Details/002e0e27-e1c0-e811-a96a-000d3a33e5a2), Backup and Restore Service should be GA. But this document hasn't been updated. So what is the current status ? Any change around limitations ?

---
#### Document Detail

[2018-11-22 10:41] neeleshray commented on #19346
We would suggest you to check if the Application is registered to the Azure AD Tenant as Multi Tenant Application. If not, follow this [document ](https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-convert-app-to-be-multi-tenant) for the same. This could happen as the user credentials you are using does not belong to the same tenant as the application is registered in.

[2018-11-22 10:43] neeleshray commented on #19185
We are closing the issue. Let us know if you need further help.

[2018-11-22 10:43] #19185 closed

[2018-11-22 10:43] neeleshray commented on #19345
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-22 10:44] neeleshray commented on #19283
Let us know if this answers your query.

[2018-11-22 10:52] kurtng opened #19367 "Anyway to see single device deployments on azure portal"
Hi

Is there anyway to see the history of deployments done through VS Code in Azure Portal? Or is this process not involving Azure at all?

BR

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7852968-3c54-5584-df91-b01521efae43
* Version Independent ID: c7340985-f6d2-2bf8-71e5-ee62dadb25e3
* Content: [Deploy Azure funct

[2018-11-22 10:53] ishepherd commented on #19284
Simpler version of the question:

Are you using the [.NET DateTime `"o"` format](https://docs.microsoft.com/en-us/dotnet/standard/base-types/standard-date-and-time-format-strings#the-round-trip-o-o-format-specifier) to make the ISO 8601 conversion?

I would check myself but the library is closed source.

[2018-11-22 11:37] sergaz-msft commented on #18435
Thanks @shizn .

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-22 11:37] #18435 closed

[2018-11-22 11:47] sergaz-msft commented on #14482
Can you also make sure that you have latest version for MXChip package?

![image](https://user-images.githubusercontent.com/22173500/48901136-5a04f680-ee4c-11e8-8e71-7a1551df61d1.png)

Thanks!

[2018-11-22 11:56] sergaz-msft commented on #13651
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-22 11:56] #13651 closed

[2018-11-22 12:07] devdeer-alex commented on #18508
I can confirm this bug too. It is pretty urgent. Can someone from MS give us a state?

[2018-11-22 12:08] paulhasell commented on #19065
@PramodValavala-MSFT Ah, twas the awkward UI that confused me 😶 I have now successfully accessed my function app from inside my CRM hosted flow 🎉

Many thanks, this opens up some very interesting possibilities 😊

[2018-11-22 12:08] #19065 closed

[2018-11-22 12:13] jakaruna-MSFT commented on #18076
#19271 Same issue

[2018-11-22 12:15] jakaruna-MSFT commented on #19271
@justinbarias I referenced the similar issue here.
If possible share your configuration.

[2018-11-22 12:15] jakaruna-MSFT commented on #18411
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2018-11-22 12:15] #18411 closed

[2018-11-22 12:20] sergaz-msft commented on #19367
Hi @kurtng great question thanks for asking! You can leverage Azure DevOps for that: https://docs.microsoft.com/en-us/azure/iot-edge/how-to-ci-cd

All Best!

[2018-11-22 12:31] sergaz-msft commented on #19302
@lakshmisivareddy this related with the [MSDN Thread you opened.](https://social.msdn.microsoft.com/Forums/en-US/534bec5f-4a6f-4c81-830a-23b29d634102/how-to-connect-existing-iot-device-to-iot-central?forum=azureiothub#61ff2d2d-eada-4f0c-8aef-09c916de2986)

![image](https://user-images.githubusercontent.com/22173500/48903105-84f24900-ee52-11e8-9483-51be8c20315b.png)

Let us know if you have further

[2018-11-22 12:41] woodwardmatt commented on #19229
I've also tried the same routine but for a single file (to remove the recursion from the equation) but the same result is observed.

[2018-11-22 12:46] allanalewis opened #19368 "Support for Apex Domains is not discussed"
The automatic failover with traffic manager scenario section of this document does not clarify whether apex domains are supported with DNS/Traffic Manager.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1fca0e3-fec9-2c72-63a3-a2e1b0a7aad8
* Version Independent ID: 1e80ea20-77d6-1ecd-76cd-224438972648
* Content: [Disas

[2018-11-22 12:52] PramodValavala-MSFT commented on #19065
@paulhasell Glad to hear that! 😃

I will try to work with the appropriate team to get the UI fixed.

[2018-11-22 12:54] ManojReddy-MSFT commented on #19362
@ConsistentTheory  onPremisesSecurityIdentifier is a user attribute and cannot be used to check group memberships. Can you please share your complete rule syntax so that we can test this and get back to you. Thanks.

[2018-11-22 13:00] camelcars-ucl opened #19369 "Github services have been deprecated"
Under the Create Github Webhook section, after clicking on settings, then integration and services, there is no longer an add service button

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a230cf42-66c2-e0d1-983a-7b920251fe2c
* Version Independent ID: 6d17ff45-c7fd-2715-382e-14905760b594
* Content: [Tutorial - Create a

[2018-11-22 13:07] AlexandrPavlovski commented on #19318
Thank you!

[2018-11-22 13:07] #19318 closed

[2018-11-22 13:09] jakaruna-MSFT commented on #18076
I added the Powershell DSC extension to the existing VM in Azure portal and checked its configuration in the resource explorer.   The configuration was in the previous format like [here](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/dsc-template#update-from-a-previous-format).
There is a note on top of the [document ](https://docs.microsoft.com/en-us/azure/virtual-machines/ext

[2018-11-22 13:09] gpartridge2004 opened #19370 "Wrong URL"
Hi, it seems that the *.entrust.com URL should be *.entrust.net. We used this in our design and found that this URL was wrong.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a86c4b02-434c-d452-b3e5-527656234319
* Version Independent ID: 10efb9a1-21d9-584b-f007-843ec736c654
* Content: [Azure AD Connect: Troublesh

[2018-11-22 13:09] sistoimenov commented on #12692
Why this is closed as it is obvious that the problem still persist - the example shown here:

az lab vm show --lab-name sampleLabName --name sampleVMName --resource-group sampleResourceGroup --expand "properties(\$expand=artifacts)" --query 'artifacts[].{artifactId: artifactId, status: status}'

doesn't work and I am still trying to figure out how to list artifacts. Very confusing!

[2018-11-22 13:16] Arash-Sabet opened #19371 "A warning should have been included in the description of first powershell script"
Running the following PowerShell script alone wipes out the already-installed localhost certificates on the machine for e.g. the ones used by iisExpress.

PS C:\program files\microsoft sdks\service fabric\clustersetup\secure&gt; .\CertSetup.ps1 -Install -CertSubjectName CN=localhost

It causes instability and other unknown issues in running an application from VS 2017 that may cost a good amount o

[2018-11-22 13:21] isamllr opened #19372 "Performance impact?"
Could you please make a comment on the performance impact when having encryption enabled?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7e05a67-3121-bbc2-7a46-637199104ea3
* Version Independent ID: 2802344c-0571-bdac-4755-580f75f404b0
* Content: [Azure Storage Service Encryption for data at rest](https://review.docs.

[2018-11-22 13:31] clangnerakq commented on #17136
Hello,

i want to ask you, if you know if the bug in azure is fixed for ACI?
I've tested it today and I'm getting the following error code, when i want to deploy a container in a vnet with an azure-file-volume:

`Deployment failed. Correlation ID: 3487ec09-7f5a-4d3a-b60b-a9cbca87f94d. Operation failed with status: 200. Details: Resource state Failed`

I was using the following cli commands:

[code

[2018-11-22 13:35] isamllr opened #19373 "ACLs and Limits for HNS and flat hierarchy"
In Gen1, there is a limit of 32 role assignments per folder - how does this translate to Gen2 when using either HNS or a flat hierarchy? This piece of information is missing for Gen1 in our documentation to my knowledge.

Example:
The customer is using HNS/a multi leveled hierarchy and applies ACLs (access for Service Principals) at the lowest level - does the limit of 32 apply for each individual

[2018-11-22 13:41] cephalin commented on #18965
@atrauzzi I've communicated your feedback with the product team. Unfortunately currently this is the only route other than building your own custom image. Please feel free to bring your feedback to https://feedback.azure.com. At this point the doc needs remain as is. #please-close

[2018-11-22 13:42] Arash-Sabet opened #19374 "The existence of SetupAdminUser user"
Should SetupAdminUser user account be created on the VMs of service fabric hosted on Azure?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ac102a5-e9ad-0046-f217-446f1ad263c5
* Version Independent ID: a47523e2-0c30-dee4-0037-5f58836fa37f
* Content: [Add an HTTPS endpoint using Kestrel to a Service Fabric app in Azure]

[2018-11-22 13:55] imeya commented on #18777
@KetanChawda-MSFT I will take a try, thank you.

[2018-11-22 13:58] varungupta19 commented on #14757
Why some more metrics like "LogicalDisk(c:\)% Free Space" is missing from the list of Microsoft.Compute/virtualMachines. While this metric is still available on azure portal.

[2018-11-22 14:01] BogdanCatalin opened #19375 "Using the files from the same folder for multiple pods"
If I have 3 pods in my app, is it possible to mount the same file share as a volume for each of my pods?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d634c63a-6194-86a6-b522-3310812c81e8
* Version Independent ID: fa86da1e-9c86-88fe-170c-5e6aa9230b5f
* Content: [Create a static volume for multiple pods in Azure Kubern

[2018-11-22 14:02] hrushib commented on #19365
Backup and Restore Service will be GA with Service Fabric Runtime version 6.4. Documents will be updated along with rollout of 6.4 bits.

[2018-11-22 14:06] peterschen opened #19376 "Template shows wrong version for extension"
The template references version 1.4 of the IaaSDiagnostics extension. The note after the template states that at least 1.5 needs to be used to make the Azure Monitor sink work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 246015be-e47a-87e1-b027-efdc0c6a3ad1
* Version Independent ID: fbfbb69a-7435-2d69-d13a-5a7e0a054

[2018-11-22 14:07] ConsistentTheory commented on #19362
(user.onPremisesSecurityIdentifier -ne "S-1-5-21-1690151970-1070173333-1672130252-19614")

I could find that the user was a part of that group with: Get-AzureADUser -SearchString "User" | Get-AzureADUserMembership

and the Identifier was the same as on-prem ObjectSID.

[2018-11-22 14:08] ManojReddy-MSFT commented on #19370
@gpartridge2004 Thanks for the feedback. I have assigned this to the author to check and update this accordingly.

[2018-11-22 14:13] raghukrishnamoorthy commented on #18117
Any update on this? Would it be advisable to go with another storage solution for now?

[2018-11-22 14:16] cephalin commented on #19219
What error are you seeing? The sample project that the tutorial was written with uses EF 6.1.3.

[2018-11-22 14:21] abhinav-jain09 commented on #19298
whatever function creates by default via portal it should be configurable by mvn otherwise no point of using maven because it cannot do the job completely. everytime I deoply the new function it create the new storage account with its own naming convention . we have internally our naming convention to define the resouce name.

[2018-11-22 14:30] PramodValavala-MSFT commented on #19298
@abhinav-jain09 This indeed is a valid scenario that you are trying to achieve.

Since `Java for Azure Functions` is still in Preview, there are still things that require ironing out.
It would be best to create a separate issue on this [repo](https://github.com/Microsoft/azure-maven-plugins/tree/develop/azure-functions-maven-plugin) to address this issue accordingly.

[2018-11-22 14:37] baharw commented on #19092
It's your call if you want to close it, but I don't think this issue is
resolved.

If one follows the instructions step-by-step (using a Linux or Mac OS, as
the dev machine) one does not see the results as described in the tutorial.
What you end up with is build errors or runtime errors on the RPi. The only
way I got around the issue was to build everything from scratch on an RPi.

Here is what I

[2018-11-22 14:44] femsulu commented on #19213
@SadiqhAhmed-MSFT have you tried sending a test mail to the email address?
@yijenj  - any idea if there's a replacement email address?

[2018-11-22 14:48] baharw commented on #19208
@kgremban Thank you for suggesting the options. I will look into them and let you know how it goes. I believe I will not be the only one running into this issue.

[2018-11-22 14:50] jchen86 opened #19378 "Download links for previous versions"
Could you provide download links to previous versions? I've just upgraded to 1.5.0 and I'm having issue connecting to storage account now (both azure and emulator). I would like to rollback to the previous version but no download links are available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 337c96d2-0b4f-ad70-bb7

[2018-11-22 14:50] baharw commented on #19208
@kgremban btw- how would one prune the "iotedge logs"?

[2018-11-22 14:56] diberry commented on #18866
@CalvinFengDatacom Yes, 100 is the limit of "maximum number of alternate questions" - please see [limits](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/limits#knowledge-base-content-limits) page.

[2018-11-22 14:58] sergiusignacius opened #19379 "Improvement for managed cluster value explanation"
Under "Cluster Master", there's a paragraph that starts with "This managed cluster master means that you do not need to configure components". This sentence doesn't make much sense, and instead I'd rephrase to: "This being a managed cluster means that" or "The fact that this cluster is managed means that"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2018-11-22 15:09] baharw commented on #18195
The Pi's IP address.

On Thu, Nov 22, 2018 at 12:55 AM Ray Fang <notifications@github.com> wrote:

[2018-11-22 15:40] nugentd commented on #16906
Hi is there any update on this being deprecated and moving to Azure Active Directory Conditional Access?

[2018-11-22 15:49] johnxy84 commented on #19078
Actually I do but it's Regarding AzureDevops and the CI/CD for Kubernetes . . . Any other means I can reach you?

[2018-11-22 15:52] MicahMcKittrick-MSFT commented on #19339
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-11-22 15:53] MicahMcKittrick-MSFT commented on #19348
Thanks for the question! We are investigating and will update you shortly.

[2018-11-22 15:55] MicahMcKittrick-MSFT commented on #19355
@jarkko-hautakorpi please provide the link to the documentation you are referring to so we can better assist.

[2018-11-22 15:55] MicahMcKittrick-MSFT commented on #19360
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-22 15:55] atrauzzi commented on #18965
Custom image as in, container?

[2018-11-22 15:56] MicahMcKittrick-MSFT commented on #19363
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-22 15:57] MicahMcKittrick-MSFT commented on #19364
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-22 15:57] MicahMcKittrick-MSFT commented on #19368
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-22 16:00] MicahMcKittrick-MSFT commented on #19374
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-22 16:00] MicahMcKittrick-MSFT commented on #19375
Thanks for the question! We are investigating and will update you shortly.

[2018-11-22 16:01] #19365 closed

[2018-11-22 16:01] MicahMcKittrick-MSFT commented on #19376
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-22 16:02] MicahMcKittrick-MSFT commented on #19369
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-11-22 16:02] MicahMcKittrick-MSFT commented on #19371
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-11-22 16:03] MicahMcKittrick-MSFT commented on #19379
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-11-22 16:08] MicahMcKittrick-MSFT commented on #19372
@isamllr thanks for the update and closing this out

[2018-11-22 16:08] MicahMcKittrick-MSFT commented on #19378
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-11-22 16:09] #16416 closed

[2018-11-22 16:09] #18965 closed

[2018-11-22 16:26] ThorstenHans opened #19381 "Documentation should point to required permissions for SP"
When following the documentation in order to install the ACI connector and providing a service principal by using `--service-principal` and `--client-secret` for `install-connector`, documentation should mention that the service principal must have `Contributor` permissions on the `--aci-resource-group`.

However, the virtual kubelet will be deployed and the corresponding `pod` will be in state `r

[2018-11-22 17:08] porterde commented on #9919
Using a new test application registered as on this page, V1.0 endpoint, and URL constructed as in the "Send the sign-in request", where scope=openid and response_type=id_token, I get error "#error=unsupported_response_type&error_description=AADSTS700054%3a+response_type+%27id_token%27+is+not+enabled+for+the+application".

The V2.0 endpoint version of this documentation page explicitly states that

[2018-11-22 17:09] porterde commented on #9919
<-oops, moving my comment to a new feedback item!

[2018-11-22 17:10] porterde opened #19382 "V1.0 endpoint requires Implict Grant enabled for scope=openid and request_type=id_token?"
Using a new test application registered as on this page, V1.0 endpoint, and URL constructed as in the "Send the sign-in request", where scope=openid and response_type=id_token, I get error "#error=unsupported_response_type&error_description=AADSTS700054%3a+response_type+%27id_token%27+is+not+enabled+for+the+application".

The V2.0 endpoint version of this documentation page explicitly states that

[2018-11-22 17:11] Arash-Sabet commented on #19374
Let me rephrase my question. As I understood, the mentioned admin account should be added to the administrator's group on each node of the service fabric. How can this be done in a batch or per node? We cannot RDP to all machines one by one and add this user to the group. Please elaborate the method in more automated way.

[2018-11-22 17:20] hpsin commented on #9919
V1 needs to be updated.
________________________________
From: Dave Porter <notifications@github.com>
Sent: Thursday, November 22, 2018 12:09:36 PM
To: MicrosoftDocs/azure-docs
Cc: Hirsch Singhal; Mention
Subject: Re: [MicrosoftDocs/azure-docs] How is it possible for a user to authenticate themself without entering their credentials? - OpenID Connect (#9919)

<-oops, moving my comment to a new fee

[2018-11-22 17:46] lukasztomalczyk opened #19383 "BadRequest, when you try to create a project"
CustomVisionTrainingClient trainingApi = new CustomVisionTrainingClient() { ApiKey = trainingKey , Endpoint = "https://southcentralus.api.cognitive.microsoft.com"};

How do I choose the right Endpoint? In the example, the string "SouthCentralUsEndpoint" is used or is it maybe an enum from some library that I have not loaded?

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2018-11-22 17:49] lukasztomalczyk commented on #19383
public CustomVisionTrainingClient(HttpClientHandler rootHandler, params DelegatingHandler[] handlers)
      : base(rootHandler, handlers)
    {
      this.Initialize();
    }
    private void Initialize()
    {
      this.BaseUri = "{Endpoint}/customvision/v2.2/Training";
   }

In the code I found this place. On the website www.customvision.ai in my account I have nowhere where I can read and take

[2018-11-22 18:11] bernardmaltais opened #19384 "Linked Templates support in Blueprints"
I am trying to convert a set of ARM Templates that use linked templates to a blueprint.

I can't figure out how to get both the parent, child, sub-child, sub-sub child template to run as a Blueprint. Does Blueprint support linked template syntax? If so, how do I get the right URI for the linked template and the URI for parameter file I want to pass to the template?

In my current template I would

[2018-11-22 18:14] MrJinx commented on #18117
Raghu, I have not heard back definitively, however, I was able to get the functionality working by using DownloadToByteArray which allowed me to open / download the file using the browser. I created the following method in a StorageUtility class I created:

		public static byte[] GetFileContent(string blobName, ApplicationUser appUser, string containerName)
		{
			CloudBlockBlob blockBlob = Storag

[2018-11-22 18:29] Arash-Sabet opened #19385 "Defect or bug in the script that installs certificates on nodes"
Running the powershell script results into the error below:

Add-AzureRmServiceFabricApplicationCertificate : Cannot find key vault 'mykeyvault' from secret id
'https://mykeyvault.vault.azure.net:443/secrets/MyPFX/aaaabbbbxxxxxxxx'.
At line:36 char:1
+ Add-AzureRmServiceFabricApplicationCertificate -ResourceGroupName $gr ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2018-11-22 19:01] rangeranger commented on #18481
@douglaslMS, Understood. I have integrated through Azure Monitor. Thanks for the workaround info.

[2018-11-22 19:31] lemvigh opened #19386 "Relationship between TelemetryContexts"
Hi,

I don't really understand this flow. Since the session is not available in the telemetry initializer, we have to first copy the session into one TelemetryContext and then in the TelemetryInitializer copy it from that into another TelemetryContext:
* What is the relationship between these two TelemetryContexts - do they have different purpose/scope?
* If the session is available when populatin

[2018-11-22 19:36] AjayKumar-MSFT commented on #18982
@santoshmallena, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-22 19:36] #18982 closed

[2018-11-22 19:57] CeciAc opened #19387 "Misake"
@OussL commented on [Thu Nov 22 2018](https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/196)

a small mistake in the text : "The GetTableListAndTriggerCopyData takes a list of tables as a parameter. ..."  should be "The IterateAndCopySQLTables takes a list of tables as a parameter."

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟

[2018-11-22 20:01] CeciAc commented on #19387
Hi team,
I'm moving this here since the user is reporting a source issue which replicates in localized versions

Kind regards,
Microsoft DOCS International Team

[2018-11-22 20:02] Arash-Sabet commented on #19385
This issue is resolved by a support resource at MSFT. It was related to the mismatching subscription id issue despite the portal showed the right one!

[2018-11-22 20:13] jomuld opened #19388 "Little typo"
Wrt to max. page blob size, the doc says "The maximum page blog size". A max size for blogs is an interesting thought but not on topic here ;-)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 263abdef-3478-8261-6c4c-5d608698ba4e
* Version Independent ID: 61ef3094-fda7-d7b9-e19c-4e8f6a5b2f2d
* Content: [Frequently asked

[2018-11-22 20:31] rajbos commented on #17205
I'm using Max because that is the trigger for shutting down the host.

[2018-11-22 20:41] yoelhor commented on #18824
ROPC, implicit and authorization code flows issue same token. The token may contain different claims as you specify in the relying party policy output claims. Also if you customize you token https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-manage-sso-and-token-configuration issuer and TTL

[2018-11-22 20:43] yoelhor commented on #19024
Thanks for the feedback. Please send it to me and David

[2018-11-22 20:45] Charlie-Chat-Bot opened #19389 "This code works but the Bot does not."
I followed all the steps above and created the Web Bot. When I test the bot online in Web Chat it gives me the following error:"Sorry, my bot code is having issue". I have been reading on Stack Overflow, GitHub, and some other websites. No luck yet.
Can anyone help me with this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-11-22 20:57] diberry commented on #19389
@Charlie-Chat-Bot Thank you for submitting an issue.

Debugging the bot depends on how comfortable you are with Visual Studio compared to Kudu. If you are comfortable debugging in Visual Studio, download the bot code from the ABS build page and the [bot emulator](https://github.com/Microsoft/BotFramework-Emulator). Make sure to download the emulator that works with your version of the SDK of the b

[2018-11-22 21:37] nloke commented on #16739
@TravisCragg-MSFT  This is a valid issue and should not be closed. Your documentation says it is valid but the UI(Portal) does not allow us to assign NSG to it.

![capture1](https://user-images.githubusercontent.com/2836771/48922470-d8758e80-ee74-11e8-8c26-a38be4477204.png)

[2018-11-22 22:45] brettcannon opened #19391 "How to set --build-native-deps in the extension?"
I tried to deploy with dependencies that apparently need to be built and the error message says I need Docker and to specify the '--build-native-deps' flag. How do I do the latter?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04c9d43d-5bd2-87c6-2ccf-0c65ef193760
* Version Independent ID: 6bf46ebc-481f-e4ef-b269-99bf9

[2018-11-22 23:39] brendanarnold opened #19393 "Escaping environment variables has some limitations"
I'd like to point out that we found that when we include some environment variables that have e.g. the '(' character, that the Kudu environment would complain about improper escaping.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef9002ed-c817-c615-fe32-05ad4cc78b61
* Version Independent ID: 72295255-8d90-a2c6-0995-0e

[2018-11-22 23:47] sergeroz commented on #19219
The worked example contains the following constructor:
`public MyDatabaseContext(SqlConnection conn) :` **`base(conn, true)`**

Microsoft.AspNet.Identity.EntityFramework.IdentityDbContext\<TUser\> (Microsoft.AspNet.Identity.EntityFramework, Version=2.0.0.0) does not have a constructor that has 2 parameters - **DbConnection and boolean**. There is a constructor that has 3 parameters:
**`public Iden

[2018-11-22 23:59] jpreese commented on #18570
Sounds great! I agree this was a little confusing at first. I couldn't really think of a reason why you'd want these swapped.

@ghills @cephalin just to pose a mini question, what is the use case of not having a setting set as a slot setting? It seems to me that all use cases would favor slot settings. The only stretches I could think of would be:

1. If some new _code_ required a certain setting

[2018-11-23 00:26] khaleephant opened #19394 "error of showing messsage data"
Scanning dependencies of target app
[ 16%] Building C object CMakeFiles/app.dir/main.c.o
[ 33%] Building C object CMakeFiles/app.dir/wiring.c.o
[ 50%] Linking C executable app
[100%] Built target app
pi@raspberrypi:~/iot-hub-c-raspberrypi-client-app $ cmake . && make
-- Configuring done
CMake Error: Unable to open check cache file for write. /home/pi/iot-hub-c-raspberrypi-client-app/CMakeFiles/cma

[2018-11-23 00:40] kilasuit opened #19395 "Server libraries are pointing to Codeplex"
The  Owin supported Server libraries are pointing to codeplex, should they not be pointing to the respective Github Projects instead now that Codeplex is in an archival state

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5e545dc-070f-9f8f-ba70-1465eb690878
* Version Independent ID: dcdae435-fdb2-7757-143e-85fb16766f9

[2018-11-23 01:01] martinlarosa opened #19397 "logout is not working"
I have an app service with the built in Auth/Autentication, using AD B2C.
I can't access the app without logging in first... but when I do a /.auth/logout nothing happens.
Is this a configuration issue or the endpoint is wrong?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4518495-4e07-ce2e-4045-5a50b7922b55
* Versio

[2018-11-23 01:29] raghukrishnamoorthy commented on #18117
@MrJinx Thanks for the code snippet Ben. I appreciate it. Can you please tell me what sort of security related problems you were facing when hosting on Azure? Maybe I can do some digging and see where it goes.

Thanks again. Your code snippet potentially saves a lot of time :)

[2018-11-23 01:54] LazarusX commented on #18195
Can you add an entry `127.0.0.1 raspberrypi` to Pi's `/etc/hosts` and try again?

[2018-11-23 04:07] shizn commented on #19367
@kurtng Thanks for the feedback. The deployment you triggered in VS Code is the same thing you did in Azure Portal. Could you also elaborate a bit more about your suggestion here. Do you wish to see the deployment list in the screenshot blow in VS Code?
![image](https://user-images.githubusercontent.com/3619378/48928273-2ea4fa80-ee92-11e8-92e0-d2503f4c0a7a.png)

[2018-11-23 04:09] alaurie opened #19398 "Update membership button"
For dynamic membership group and button for "Update Membership" would be good to force a membership query. We are finding very long delays in the dynamic membership updates.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a360d153-0892-fd9f-83e5-a4128fbfb557
* Version Independent ID: d996e375-9dbc-db5a-c639-7da7616bc3bb

[2018-11-23 04:33] ManojReddy-MSFT commented on #19395
@kilasuit Thanks for reporting this. I have assigned this to the author to check and update the doc accordingly.

[2018-11-23 04:36] MicahMcKittrick-MSFT commented on #19381
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-23 04:37] MicahMcKittrick-MSFT commented on #19382
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-23 04:38] Mahesh-MSFT opened #19400 "Discrepancy between content page and tenant portal"
This page shows VM series available in Stack and their IOPS number.

As an example, if I look at F2s_v2 VM series,  throughput (IOPS) documented is 4X2300. Firstly, it is not clear if it 4X2300=9200 or each disk having throughput of 2300.

Secondly, when a user is trying to add this VM from tenant portal, max IOPS shown in the table on "choose a size" step of wizard page is 4000.

Can you please c

[2018-11-23 04:38] MicahMcKittrick-MSFT commented on #19383
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-23 04:39] MicahMcKittrick-MSFT commented on #19386
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-23 04:39] MicahMcKittrick-MSFT commented on #19387
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-23 04:40] MicahMcKittrick-MSFT commented on #19385
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-23 04:41] MicahMcKittrick-MSFT commented on #19388
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-23 04:42] MicahMcKittrick-MSFT commented on #19393
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-23 04:43] MicahMcKittrick-MSFT commented on #19394
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-23 04:44] KetanChawda-MSFT commented on #19043
@vetrivelmp Just checking in if you have had a chance to see the previous response. We need the following information to understand this issue further.

[2018-11-23 04:44] MicahMcKittrick-MSFT commented on #19397
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-23 04:45] MicahMcKittrick-MSFT commented on #19398
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-23 04:47] MicahMcKittrick-MSFT commented on #19384
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-23 04:48] MicahMcKittrick-MSFT commented on #19391
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-23 05:16] joeljoseph17 commented on #19109
I'm having the same issue

[2018-11-23 05:17] #19388 closed

[2018-11-23 05:36] JasonGT opened #19401 "Quickstart example doesn't work"
After clicking Login, the following error is received:

Error during login:
AADB2C90047: The resource 'https://wingtiptoysb2c.blob.core.windows.net/b2c/wingtip/unified.html' contains script errors preventing it from being loaded.
Correlation ID: f31a484d-0261-4af3-889c-1e8663305a8c
Timestamp: 2018-11-23 05:35:11Z
:server_error

In the console this is reported as a HTTP Status Code 304.

Tried in I

[2018-11-23 05:49] irwinwilliams opened #19402 "Example of output binding with out parameter and table storage needed"
Hey,
It would be good if you had an example of binding table storage item creation to an out parameter. You have a lot of input examples, but only describe what could be possible with output.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d35c032-eae7-ac4b-2ad3-32fd0cd2318f
* Version Independent ID: 92b0a972-eabe-8048

[2018-11-23 05:51] ManojReddy-MSFT commented on #18870
@spetrukhin I was able to reproduce the issue at my end as well. I will work with the product team to see if this is the expected behavior or a bug and will keep you posted.

[2018-11-23 05:55] SeaDude opened #19403 "No VM password when ssh key used"
In the `JupyterHub and JupyterLab` section, where the docs say `...enter the username and password that you used to create the VM,...`. What is the password if NO password was given during VM creation? I chose SSH keys instead.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27c1a5f0-b0df-88f4-feaf-90bc17eeb69e
*

[2018-11-23 06:29] vetrivelmp commented on #19043
Hi,
your question
---------------
do you mean that both the users are within the same Azure AD B2C tenant?
Ans:
Yes Both AD and B2C users are in same tenant of B2C directory. we dont create seperate AAD Directory.
We are using AD instance of B2C Tenant.(switch to b2c directory and click left side Azure Active
Directory link)
---------------------------------
Have you added the user in a B2C tenant

[2018-11-23 06:47] mwanchap opened #19404 "Incorrect CertificateStoreLocation syntax"
When using the AzureServicesAuthConnectionString environment variable, setting "CertificateStoreLocation={LocalMachine}" as suggested in this document results in an exception being thrown containing the following:
"StoreLocation {LocalMachine} is not valid. Valid values are CurrentUser and LocalMachine".
Changing it to "CertificateStoreLocation=LocalMachine" (i.e. without braces) resolves this err

[2018-11-23 06:54] ManojReddy-MSFT commented on #19362
The exact rule is working for me as expected in my test tenant. If you are testing this in your environment, I would suggest creating a new group and testing this again as we are unable to reproduce the issue.

If you are still facing the issue, please drop an email with this GitHub link to azcommunity@microsoft.com so that we can engage with you oflfine.

[2018-11-23 06:55] ManojReddy-MSFT commented on #19206
@wiemerr I am checking in to see if the above answer was helpful. Let me know if you have any other questions.

[2018-11-23 06:58] jakaruna-MSFT commented on #19375
@BogdanCatalin You can attach the same Azure File share to multiple pods.
Please refer to [this ](https://github.com/MicrosoftDocs/azure-docs/issues/17901#issuecomment-434499807) comment.

[2018-11-23 07:03] natchaporing opened #19406 "Can I customise Code samples?"
I want to remove some language of code sample. And add some new language, eg. Swift, Kotlin. But There is no way to do that now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54275fa6-b72e-d7d6-b162-0e6beb4c0d14
* Version Independent ID: 676fc019-0dff-5d15-8777-b1fbdc0e8cac
* Content: [Customize the API Management dev

[2018-11-23 07:09] PramodValavala-MSFT commented on #19402
@irwinwilliams Thanks for the feedback! We have assigned this issue to the content author to investigate and update the document as appropriate.

[2018-11-23 07:21] saidi6882 opened #19407 "saidi6882"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-11-23 07:46] mcurko opened #19408 "Question"
What about VM - diagnostic settings - guest level monitoring? Is that now an "alternative" to Azure Monitor? If Application Insights is now a part of Azure Monitor, what's the purpose of the option to sink data from guest level monitoring to Application Insights?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 144afccf-

[2018-11-23 08:05] KetanChawda-MSFT commented on #19321
@Eduard-TC
By design Azure Web App built-in images for PHP 7.0 and 7.2 already has the below extensions
php7.0-mysql php7.0-mcrypt php7.0-mbstring php7.0-common php7.0-xml php7.0-gd openssl php7.0-mysql php7.0-bcmath

See the [Docker file](https://github.com/Azure-App-Service/php/blob/master/7.0.32-apache/Dockerfile) for the built in PHP 7.0 Image.

With regard to Php7.0-fpm- [FPM  ](http://php.ne

[2018-11-23 08:16] kurtng commented on #19367
That could be nice as well to see the history of deployments in VS Code. But the thing is that I cannot see any items at all in this list you are refering to here in Azure portal. Even though I have succesfully published to the device these donot show up in Azure Portal. Even the deplyments I did in Azure portal does not show up here. Although in Azure portal I am deploying through Device Details

[2018-11-23 08:25] mcurko opened #19409 "Question"
I don't understand what is the connection between Diagnostic Extension and Log Analytics, depicted under "Guest operating system" chapter. I observe that Log Analytics is collecting the same amount of performance data from a VM with Diagnostic Extension installed, as it is from a VM without this extension.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2018-11-23 08:26] martinagrom opened #19410 "incorrect information on adminsitrator access for security administrator"
Security Administrator: Users with this role have all of the read-only permissions of the Security reader role, plus the ability to manage configuration for security-related services: Azure Active Directory Identity Protection, Azure Information Protection, and Office 365 Security & Compliance Center.

Unfortunately people with this role don't get access to Azure Information Protection. pls verify

[2018-11-23 08:33] #19370 closed

[2018-11-23 08:33] ManojReddy-MSFT commented on #19370
@gpartridge2004 I have updated the doc accordingly and I am closing this issue. Thanks.

[2018-11-23 09:02] karan1276 opened #19411 "Where can i find documentation for `pydocumentdb` python module?"
In the examples `pydocumentdb`  is used extensively. Where can i find more documentations about it? explaining different methods and some examples too?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c070e047-1e14-7974-fae8-84e71c3877e5
* Version Independent ID: 903edf19-8c35-80cd-e935-ea5bb0276d9e
* Content: [Azure Cos

[2018-11-23 09:05] karan1276 commented on #19411
Sorry, wrong page. Closing.

[2018-11-23 09:05] #19411 closed

[2018-11-23 09:36] razidare commented on #10495
@MicahMcKittrick-MSFT Hello. We're having a similar issue:

Our plan is to have automated application deployment pipelines from Azure DevOps to AKS, and there were no issues so far until we enabled RBAC on our AKS cluster to achieve granularity of access/rights.

Now, we as users, get to login with az cli when issuing kubectl commands, but the VSTS agents won't be able to do so and as the guys spe

[2018-11-23 09:39] jakaruna-MSFT commented on #19381
@ThorstenHans If we are using a different service principal other than the one which current AKS cluster uses, We need to give that permission.
We can add a note to describe that.
I am assigning this issue to the author to investigate further and take necessary action.

[2018-11-23 09:41] TWolverson commented on #17674
Specifying the swagger location in the API App doesn't make any difference for me - APIM still doesn't find the API definition, and creates empty operations with GUID names.

[2018-11-23 09:53] KetanChawda-MSFT commented on #19406
@natchaporing The template data used to render the pages is hard coded and currently there is no way to change this. You can only modify the code samples of existing languages via their templates.

[2018-11-23 09:54] jakaruna-MSFT commented on #19281
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2018-11-23 09:54] #19281 closed

[2018-11-23 09:59] cephalin commented on #19219
Something's else is wrong with your project. That's not an IdentityDbContext, but [System.Data.Entity.DbContext](https://msdn.microsoft.com/en-us/library/system.data.entity.dbcontext.dbcontext(v=vs.113).aspx#M:System.Data.Entity.DbContext).

Feel free to use StackOverflow to help debug your project. #please-close

[2018-11-23 10:10] guibirow commented on #17630
Unfortunately we have to guess these things because the docs does not describe it, I feel you pain!

The issue is because the Partition Schema is not valid for this operation.

You are using an INT64 RANGE partition, once it is created, the partition count can't be changed.
Only Named partition scheme can have new partitions added after the service is created

The parameter `PartitionNamesToAdd` a

[2018-11-23 10:20] Darcy123 commented on #19325
https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-arduino-huzzah-esp8266-get-started

I have spent a lot of time, still I failed to use this example. There is a lot issues with this example code. Can you set me up with somebody who has expertise on this

Von meinem iPhone gesendet

[2018-11-23 10:22] Gilves opened #19413 "Expression.Error: The name 'text' wasn't recognized"
Hi,

Have been following this tutorial step by step but when it comes to creating the custom function I get this error: Expression.Error: The name 'text' wasn't recognized.  Make sure it's spelled correctly.

The error occurs in = Text.FromBinary(Json.FromValue(Text.Start(Text.Trim(text), 5000)))

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-11-23 10:44] mrdfuse commented on #16739
My issue was about putting an NSG on a subnet created for an Application Gateway. My mistake was that I made the subnet of type Gateway, which is not necessary for an Application Gateway. In that respect Travis was right.

I'm not sure if your comment is relevant here, or even correct. If you have the same issue as me, try without creating a gateway subnet, but instead create a normal subnet for y

[2018-11-23 10:48] BogdanCatalin commented on #19375
Thank you!

[2018-11-23 10:48] #19375 closed

[2018-11-23 11:00] oleksandr-bilyk commented on #17633
We also have problem when on pre-production cluster in "Microsoft.ServiceFabric/clusters" apiVersion "2018-02-01" resource change from "certificate" to "certificateCommonNames" and "clientCertificateCommonNames". Error is visible in Service Fabric Explorer in System service ImageStoreService. The biggest problem that we cannot even rollback using ARM after such fault and have to remove cluster. We

[2018-11-23 11:13] AjayKumar-MSFT commented on #19393
@brendanarnold, You can use only letters (A-Z, a-z), numbers (0-9), and the underscore character (_) for application settings. If this isn’t the case, could you please let us know if you are referring to some other settings and the exact error message you receive?

[2018-11-23 11:19] sergaz-msft commented on #19325
@Wes777 @shizn @rangv  do we have a newer version for this tutorial?

@Darcy123 please take a look at the issues on the GitHub repo and let us know if your issue is related with any of the opened ones?

https://github.com/Azure-Samples/iot-hub-feather-huzzah-client-app/issues

Thank you!

[2018-11-23 11:55] woodyard opened #19415 "RSS feed URL"
The RSS feed URL on top of this document is not correct. It returns:
{"Error":{"Code":"UnsupportedApiVersion","Message":"The HTTP resource that matches the request URI 'https://docs.microsoft.com/Home/Error?search=%22whats%20new%20in%20azure%20active%20directory%22&locale=en-us/' does not support the API version '0.1'."}}

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-11-23 11:56] michael-nee commented on #15485
There's a version conflict dependency when you do this via Visual Studio.

Version conflict detected for Microsoft.Azure.WebJobs. Install/reference Microsoft.Azure.WebJobs 3.0.0 directly to project SendGridAzureFunctionDemo to resolve this issue.
 SendGridAzureFunctionDemo -> Microsoft.Azure.WebJobs.Extensions.SendGrid 3.0.0 -> Microsoft.Azure.WebJobs (>= 3.0.0)
 SendGridAzureFunctionDemo -> Micro

[2018-11-23 12:12] dimijim opened #19416 "CREATE EXTERNAL TABLE, ERROR Msg110813"
Tutorial: Load New York Taxicab data to Azure SQL Data Warehouse
Trying to run the scripts and when I run the following I got an Error Msg 110813, Level 16, State 1, Line 1
Object reference not set to an instance of an object.

CREATE EXTERNAL TABLE [ext].[Date]
(
    [DateID] int NOT NULL,
    [Date] datetime NULL,
    [DateBKey] char(10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
    [DayOfMonth

[2018-11-23 12:19] Idris1456 opened #19417 "Trouble with listening to the device"
i keep running into this unhandled exception when i build the sample code:

Create receiver on partition: 0
Listening for messages on: 0
Create receiver on partition: 1
Listening for messages on: 1

Unhandled Exception: System.AggregateException: One or more errors occurred. (At least one receiver for the endpoint is created with epoch of '5', and so non-epoch receiver is not allowed. Either recon

[2018-11-23 12:44] PramodValavala-MSFT commented on #19298
@abhinav-jain09 I have referenced this in another issue in the functions maven plugin repo which discusses the same functionality requirement which is a better avenue to continue the discussion.

As there is no doc update required at this time, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the di

[2018-11-23 12:44] #19298 closed

[2018-11-23 12:53] mikedbrook opened #19419 "using AADLoginForLinux when ssh is hardened on a VM"
using CIS defined hardening guides and hardening SSH and SSHD prevents users being able to login using AADLoginForLinux.  Is there any documentation relating to how to use AADLoginForLinux when SSH has been hardened?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb8e2623-1f79-aee3-bd97-8b5f647b6980
* Version Independe

[2018-11-23 12:53] PramodValavala-MSFT commented on #19166
@CeciAc The doc update has successfully been merged.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-23 12:53] #19166 closed

[2018-11-23 12:58] phatcher opened #19420 "Expand the first image to make process clearer"
Change the first image to just include the menu and Manage Backups slice, it's not clear initially that you have to select a database for this to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a40f786f-e6c9-15f5-d80a-b4d4eb7a39f5
* Version Independent ID: 12620513-5d3c-b7a2-32c9-294117ff3d57
* Content: [Manage Az

[2018-11-23 13:21] RudyEvers opened #19422 "Issue AAD B2C with JAVA SDK - Cannot Login"
To make sure we did all things right, we created the B2C test app as described in https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-tutorials-desktop-app. Using this app, we can log in and create new users.

Unfortunately, when using the JAVA SDK, we get different experiences. Creating a user points to creating a Microsoft account, and not to creating a user in our B

[2018-11-23 13:25] rfcdejong opened #19424 "Examples on how to add exclusions"
Using the portal it is possible to add Request header name, Request cookie name and Request attribute name. What exactly is the name for. How to add exclusions in powershell, CLI or in anARM template? I'm missing that documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0c27cd7-15fd-7358-9740-734cfa6b641f
* V

[2018-11-23 13:37] ThorstenHans commented on #19381
@jakaruna-MSFT I would love to see the note in the docs.

it should be mentioned explicitly because the user may provide a dedicated resource group for ACI, in that case the install command will create the virtual kubelet with no error.

The issue will happen at runtime when the scheduler tries to spin up the container in the targeting resource group.

It would be even better if the `install-conne

[2018-11-23 13:54] cephalin commented on #13058
@SychevIgor This information is added and should be published in the next publish cycle (could be delayed due to Thanksgiving holiday). #please-close

[2018-11-23 13:56] cephalin commented on #17320
@OzBob This has been updated and will be published in the next day (could be delayed due to Thanksgiving holiday). #please-close

[2018-11-23 14:00] cephalin commented on #18570
An example of number one in your list is: if you're migrating the database backend for your app and want to verify your changes before swapping to production. In this case you'll want the migrated database connection string to be swapped into production along with the new app code.

[2018-11-23 14:05] cephalin commented on #18723
@barborico Let us know if you have any follow-up comments for this. For the moment I'll close the ticket. #please-close

[2018-11-23 14:05] cephalin commented on #18382
#please-close

[2018-11-23 14:15] #18382 closed

[2018-11-23 14:27] SEI-Billing opened #19426 "Invitation redemption failed - federated directory"
AAD B2B fails when the invitation is sent to a company a directory that is federated, but not synced. There is no warning that the invitation will fail, and the user experience is that the behaviour is random, although it is directly connected to specific domains.  The full error message is: Invitation redemption failed
AADB2B_0001 : We cannot create a self-service Azure AD account for you because

[2018-11-23 14:34] cephalin commented on #16881
@hellosri Sorry. By custom warm-up we're talking about something apart from the autoswap option that warms up the slot before swapping, but autoswap doesn't support the Linux option, so in your case it doesn't work. However you can just use cURL to ping the slot, which gets it to warm up.

I'll clarify the language in the doc to avoid confusion.

[2018-11-23 14:39] nloke commented on #16739
@mrdfuse In my case I consciously wanted the gateway subnet to have the NSG as I need to whitelist some IPs. I believe the document is correct, so yes I supposed this issue being closed is accurate. The issue/bug is with the UI where it locks that and prevent users from assigning it.

Workaround for those who stumble across this issue is to use the CLI or Terraform to configure and you will be abl

[2018-11-23 14:52] tfitzmac commented on #19205
@andrewatfornax - thanks for this feedback. I am adding that limitation to the article. It should get published on Monday.

@dlepow - do you know how to disable replication for a container registry? I was able to delete one replication site, but was not able to delete the last replication site.

[2018-11-23 15:04] cephalin commented on #18965
@atrauzzi That's correct. Running a custom container.

[2018-11-23 15:08] #19205 closed

[2018-11-23 15:31] colinrippeyfinarne commented on #18146
@nhwilly I agree with your question. The scenario you paint is similar to one where we would have a simple S

[2018-11-23 15:33] pietersap opened #19427 "example return data under "initialize a file upload""
Under "initialize a file upload", the example JSON response has an example hostname "contoso.azure-devices.net". This is an example of a IoT Hub hostname, while the response always (logically) contains a storage account host name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbaf3777-34b8-b195-691f-2853c9cbe04a
* Ver

[2018-11-23 15:53] Darcy123 commented on #19325
My problem is
1. With latest Azure IoTHub library, the ram size was too big(occupies 98% ram memory). The esp8266 crashes all the time during run time
2. After downgraded to library version 1.0.39. The ram size reduced to 70% of the esp8266 ram memory. At this point, the esp8266 barely crashed. Everything runs properly before the line ‘ the client received the message to deliver ‘ appears via seri

[2018-11-23 15:55] timwebster9 commented on #10495
@razidare nope - still just using az cli.  You can still do this in VSTS with the Kubernetes deploy task and a service connection, so that shouldn't block you (unless you have some other specific restrictions you haven't mentioned).

[2018-11-23 16:00] Darcy123 commented on #19325
And we already mad the IoTHub work with stm32 boad using their example. But we would prefer using esp8266 example to promote to our customers since it was one of Microsoft official project. So far, it seems really hard to make the example work

Von meinem iPhone gesendet

[2018-11-23 16:01] cephalin commented on #16881
#please-close

[2018-11-23 16:07] jpreese commented on #18570
Yeah that was one of the use cases I could think of, the slot setting depending on the code. Seems like most would be slot settings, but they definitely have a use case.

[2018-11-23 16:22] mpoeckl opened #19428 "Service tier characteristics"
The table "Service tier characteristics" (section "Instance-level resource limits") states:
"Expected max storage IOPS:" "Depends on the underlying SSD speed." for Business Critical tier. Unfortunately, that's a pretty poor statement. Could you please add the according values as mentioned in https://docs.microsoft.com/en-us/azure/sql-database/sql-database-service-tiers-vcore#service-tier-character

[2018-11-23 16:43] jusefb commented on #13282
Hi, thanks for this. We have decided to go with Jira cloud so will not be needing this solution anymore I guess. Thank you for all your help

[2018-11-23 16:48] v-eslop opened #19430 "new RHUI certificate"
Hello Azure-docs,

The https://docs.microsoft.com/en-us/azure/virtual-machines/linux/update-infrastructure-redhat documentation suggests to renovate the RHUI certificate for Linux RedHat 7.* when the below error is generated if an user tries to use the Azure redhat on-demand repostories:

https://rhui-2.microsoft.com/pulp/repos//content/dist/rhel/rhui/server/7/7Server/x86_64/dotnet/1/debug/repodat

[2018-11-23 16:53] PramodValavala-MSFT commented on #19177
@spongessuck This workflow, like you have suspected, will work for all available pricing tiers.

The Azure Active Directory Integration feature that the **Basic** tier does not support, is the ability to allow Active Directory as an identity provider allowing logins using work accounts in the same tenant.

In the UI, when adding a new Identity Provider, for Basic you will see this

and for the oth

[2018-11-23 16:57] MGoedtel commented on #19316
@raptor75 - This is documented in the overview article for the agents here - https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-agent-overview?toc=/azure/azure-monitor/toc.json#overview by stating that the Log Analytics agent for Linux does not support reporting to multiple workspaces (see third paragraph) and also in other accompanying articles about installing the agent and onboa

[2018-11-23 17:05] fam-man opened #19432 "Need to update field information from Workplace"
On item 3 (a and b), can you update the field names to reference what Workplace by Facebook is calling them? Workplace is calling the items Audience URL, Recipient URL, and Assertion Consumer Service URL. Clarifying where they map would be good as the format https://&lt;instancename&gt;.facebook.com is no longer used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2018-11-23 17:10] darthmolen opened #19433 "Not all code available in sample code to perform successful test"
There's no DocumentDBRepository referenced in the sample code to know where that piece comes from or how to set it up local to emulate the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 617f002c-f40e-28a0-2ab7-e3227e08e37c
* Version Independent ID: a06ba438-55c8-e77c-ec89-095d44fbf4f3
* Content: [Set up

[2018-11-23 17:30] MicahMcKittrick-MSFT commented on #19404
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-23 17:31] MicahMcKittrick-MSFT commented on #19407
@saidi6882 thanks for reaching out. Please open a new issue and provide us details on what we can assist with.

[2018-11-23 17:31] #19407 closed

[2018-11-23 17:32] MicahMcKittrick-MSFT commented on #19408
Thanks for the question! We are investigating and will update you shortly.

[2018-11-23 17:32] MicahMcKittrick-MSFT commented on #19409
Thanks for the question! We are investigating and will update you shortly.

[2018-11-23 17:33] MicahMcKittrick-MSFT commented on #19410
Thanks for the question! We are investigating and will update you shortly.

[2018-11-23 17:33] MicahMcKittrick-MSFT commented on #19411
@karan1276 Thanks for the update and closing out the issue.

[2018-11-23 17:34] MicahMcKittrick-MSFT commented on #19413
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-23 17:35] MicahMcKittrick-MSFT commented on #19415
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-23 17:36] MicahMcKittrick-MSFT commented on #19416
@dimijim please provide us with the link to the doc you are referring to so we can better assist.

[2018-11-23 17:36] MicahMcKittrick-MSFT commented on #19417
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-23 17:37] MicahMcKittrick-MSFT commented on #19419
Thanks for the question! We are investigating and will update you shortly.

[2018-11-23 17:37] MicahMcKittrick-MSFT commented on #19420
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-23 17:38] MicahMcKittrick-MSFT commented on #19422
Thanks for the question! We are investigating and will update you shortly.

[2018-11-23 17:39] MicahMcKittrick-MSFT commented on #19424
Thanks for the question! We are investigating and will update you shortly.

[2018-11-23 17:39] MicahMcKittrick-MSFT commented on #19426
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-23 17:40] MicahMcKittrick-MSFT commented on #19427
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-23 17:40] MicahMcKittrick-MSFT commented on #19428
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-23 17:41] MicahMcKittrick-MSFT commented on #19430
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-23 17:41] MicahMcKittrick-MSFT commented on #19432
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-23 17:42] kfasick commented on #11164
Unfortunately I tried increasing DSv2 - hoping to get the Total Regional vCPUs raised and I only got the DSv2 approved - that part was immediate. Waiting a bit to see if Total Regional vCPUs increases.

[2018-11-23 17:42] atrauzzi commented on #18965
Alright.  I think you guys need to put some priority on exposing this as an option.  Running containers (especially as a kludge) consumes more resources than regular PaaS on Web Apps.  If I'm required to be running ~3 applications in a plan just to extract a competitive value, those resources are a bit precious.

I guess alternately, you guys could up the amount of RAM on offer at each tier (**wit

[2018-11-23 17:45] #13058 closed

[2018-11-23 17:45] #16881 closed

[2018-11-23 17:45] #17320 closed

[2018-11-23 17:45] #18723 closed

[2018-11-23 17:45] #19219 closed

[2018-11-23 18:02] GVerelst opened #19434 "Missing quotes around PartitionKey in GenerateFilterCondition"
I think that the example should be:
TableQuery.CombineFilters(
            TableQuery.GenerateFilterCondition("PartitionKey", QueryComparisons.Equal, "Smith"),
            TableOperators.And,
            TableQuery.GenerateFilterCondition("Email", QueryComparisons.Equal,"Ben@contoso.com")

Mind the quotes around PartitionKey and Email.

---
#### Document Details

⚠ *Do not edit this section. It is

[2018-11-23 18:03] cdh4u commented on #14482
I have no idea what I did, but suddenly the problem went away. Now there are other problems, but I will open separate issues for those.

[2018-11-23 18:08] dimijim commented on #19416
The link from tutorial:

https://docs.microsoft.com/en-us/azure/sql-data-warehouse/load-data-from-azure-blob-storage-using-polybase

[2018-11-23 18:21] sridharanprasanna opened #19435 "CD CI integration for nodejs application tests with emulator"
Can you please explain steps that I can use to integrate with tests written in nodejs using the cosmosdb emulator? Is it supported currently?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 617f002c-f40e-28a0-2ab7-e3227e08e37c
* Version Independent ID: a06ba438-55c8-e77c-ec89-095d44fbf4f3
* Content: [Set up CI/CD pipeli

[2018-11-23 18:34] raptor75 commented on #19316
@MGoedtel thanks a lot for the reply. Is there a timeline for when multiple workspaces are going to be supported on Linux?

[2018-11-23 18:40] eross-msft commented on #19415
@woodyard  Thanks for catching this. It was fixed last week, but somehow seems to have reverted back to the old text. Copy and paste this text: https://docs.microsoft.com/api/search/rss?search=%22release+notes+for+azure+AD%22&locale=en-us into your reader and it should work properly. I'll update the article again.

@MicahMcKittrick-MSFT   #please-close

[2018-11-23 18:51] bsocca opened #19437 "Microsoft position on the Azure RBAC roles admin accounts' nature & Tier 1 on-premise admins sync"
Hi,
What is the MS security recommandations regarding:
- the nature of the accounts to use for Azure roles, but not the highly privileged ones (Global Administrator, Exchange Administrator, etc.): for Conditional Access Administrator, Cloud application Administrator or Contributor on a subscription for example. The recommandation is to use User account or separate admin accounts ?
- for Tier 1 on-

[2018-11-23 20:19] MGoedtel commented on #19316
@raptor75 - Sorry, I don't have any ETA as to when this may be supported. Thanks!

[2018-11-23 20:22] biqas opened #19440 "Data Context"
The structure of the examples are missing. It is not clear in most of the examples here what the reference structure and data are?!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: badde918-9abe-8f90-6074-f8db1f5c4c20
* Version Independent ID: 01284923-d80b-3d40-e71d-6736d88b73fb
* Content: [Reference an annotation in in

[2018-11-23 20:32] MGoedtel commented on #19267
@mganeshphani - Thanks for bringing this to our attention.  I've created a bug for it and will discuss this with the PG to verify where it should link to since I didn't originally write this article and inherited it.  If this is blocking you please let me know, otherwise @AshokPeddakotla-MSFT - #please-close.

[2018-11-23 20:41] MGoedtel commented on #14850
@jstaley22 @jason-j-MSFT - The MP does not apply to version 1807 and this is why it is not explicitly called out in the article note as applicable, nor in the download details for the MP on the Download Center.  I have bugged this and I will update the note to clarify it.  #please-close.

[2018-11-23 22:42] jordanmills opened #19443 "The End is Nigh for DRS"
I think that should read "The End is Nigh for FRS".  That's also the title of the page it links to.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd810b22-4e2a-5a66-db90-dd39b1b5c565
* Version Independent ID: 8e36df09-f7f1-dcbd-dc3d-93cbeed1b040
* Content: [On-premises Azure AD password protection FAQ](https://docs.mi

[2018-11-23 23:02] tyrotoxin opened #19444 "Ability to set partition key when using Event Hubs as event handler"
For some applications, you want to sacrifice availability and performance in favor of the causal event ordering, where the "causal sequence ID" can be used as a partition key for the Event Hub. Otherwise, you have to deal with handling out-of-order events at the application layer.

I assume that the Event Hub subscriber type uses the "round robin" strategy when publishing events. Is there any way

[2018-11-23 23:06] ggailey777 commented on #19173
@robinmanuelthiel thanks for the feedback. I appreciate your suggestion, however, as a quickstart article, we are not able to provide multiple paths. I will make sure that we include your suggestion in a more detailed **Develop Azure Functions using Visual Studio** article that we have planned. I have added a link to this item in our internal tracking item ([#1298402](https://dev.azure.com/mseng/T

[2018-11-23 23:08] ggailey777 commented on #19391
@MicahMcKittrick-MSFT please assign this issue to @asavaritayal.

[2018-11-23 23:12] ggailey777 commented on #19261
@MicahMcKittrick-MSFT it seems like the original feature request related to [Azure Storage static websites](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-static-website). Since Functions proxies seems like a workaround, we should assign this to Storage instead.

[2018-11-24 01:16] vladvino commented on #17674
Please open a support case and we will investigate.

________________________________
From: TWolverson <notifications@github.com>
Sent: Friday, November 23, 2018 1:41 AM
To: MicrosoftDocs/azure-docs
Cc: Vladimir Vinogradsky; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Location of swagger.json (#17674)

Specifying the swagger location in the API App doesn't make any difference for me - APIM sti

[2018-11-24 01:56] alexli1984 opened #19449 "Re-enable Keep Me Signed In option after revoke (log out)"
How to make the "Keep Me Signed In" prompt to show again if user dismiss it with either "Yes" or "No"? It seems once user logs out (therefore revoked the persistent cookie), the "Keep Me Signed In" option never comes back, the only way we found so far is to manually clear all cookies.

We need the persistent cookie option to be always presented for iOS mobile devices to be able to single sign on.

[2018-11-24 04:01] jeevansd commented on #19432
@chetansriv Can you please verify?

[2018-11-24 06:13] Karishma-Tiwari-MSFT commented on #18587
@cynthn @zr-msft As shared by @mayanknayar in the email thread, let's remove the blog link from the doc. Thanks.

[2018-11-24 06:14] Karishma-Tiwari-MSFT commented on #18587
@bruckGT Any update? Please share the details as asked in the comments above so that I can enable a free support request for you.

[2018-11-24 06:16] Karishma-Tiwari-MSFT commented on #19050
@roiyz-msft I have assigned the issue to you to take a look and update the doc as appropriate. Thanks.

[2018-11-24 06:17] baharw commented on #18195
What will this help do?

[2018-11-24 06:17] KetanChawda-MSFT commented on #19440
@biqas Thanks for the feedback! We have assigned this issue to the content author to investigate and update the document as appropriate.

[2018-11-24 06:19] Karishma-Tiwari-MSFT commented on #19189
@BorisB2015 Can you please share your insights on this customer's question? Thanks :)

[2018-11-24 08:03] neeleshray commented on #19437
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-24 08:05] neeleshray commented on #19443
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-24 08:33] MicahMcKittrick-MSFT commented on #19416
@dimijim thanks.

@Mike-Ubezzi-MSFT can you take a look?

[2018-11-24 09:32] ddobric opened #19455 "Looking sample for Angular or JS application"
Looking for a an example which shows how to consume storage service withing an angular application.
In such applications, token is typically obtained for authorisation purpose. However it is probably not issued for required audience 'https://storage.azure.com/'.

To recap, looking for sample, which requests the OAuth token with multiple audiences, including 'https://storage.azure.com/'.

Right now

[2018-11-24 10:42] KetanChawda-MSFT commented on #18246
@saulcruz Checking in to see if the above answer helped solve your problem.

[2018-11-24 12:28] renattomachado opened #19456 "AzureDevops don't considerate as 'Microsoft Services'"
I'm using Storage Account to upload files with AzureDevops Release pipelines. On my container in "Firewalls and virtual networks" I check the option "Allow trusted Microsoft services to access this storage account", but my release fails. Only I check "All networks" that my build success.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2018-11-24 14:12] mcurko commented on #18278
I can't do that. This component is not available.

________________________________
From: kobulloc-MSFT <notifications@github.com>
Sent: Friday, November 9, 2018 11:44:50 PM
To: MicrosoftDocs/azure-docs
Cc: Marko Čurko; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Doesn't seem to work with VS2017 (#18278)

Closed #18278<https://github.com/MicrosoftDocs/azure-docs/issues/18278>.

—
You are recei

[2018-11-24 14:34] femsulu commented on #19360
@paulmackinnon-adv365, does the second resource group name (you tested with) also includes hyphens?
@georgewallace any insights here?

[2018-11-24 15:05] kaywilliams opened #19457 "Need more information on SSH then xrdp"
The note in this article mentions the following: "From a security perspective, you may wish to connect to your VM with an SSH tunnel using key-based authentication and then connect to xrdp." Can you provide more information or an example on how to do this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077ee673-528a-d8

[2018-11-24 15:13] femsulu opened #19458 "clarification required"
Statement in Notes section below needs to be revised...
"Parallel job processing is still be supported across different cloud services."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 225c9d05-83dd-b006-0025-3753f5ab25bf
* Version Independent ID: 9eecef0c-b1cb-1136-faf7-542214492096
* Content: [Start/Stop VMs during of

[2018-11-24 15:19] femsulu commented on #19376
@peterschen closing this issue as a pull request has been raised to update to the right version#. This change will be live shortly.

[2018-11-24 15:19] #19376 closed

[2018-11-24 16:56] MikeDodaro commented on #19076
@gavdgavd  The code works fine here.

[2018-11-24 17:11] mcurko opened #19460 "No exception displayed"
Just spent a whole day trying to create an environment for this tutorial, and found out that I see no exception under "End-to-end transaction" (step 6), and consequently can't get to the snapshot...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7dd454c3-cefc-fc98-cf23-ede34510acde
* Version Independent ID: c3d8dcf7-40

[2018-11-24 17:32] KetanChawda-MSFT commented on #19321
@Eduard-TC Just checking in if you have had a chance to see the previous response. Let me know if you have any other question on this.

[2018-11-24 18:10] MicahMcKittrick-MSFT commented on #19455
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-24 18:10] MicahMcKittrick-MSFT commented on #19456
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-24 18:11] MicahMcKittrick-MSFT commented on #19457
Thanks for the question! We are investigating and will update you shortly.

[2018-11-24 18:12] MicahMcKittrick-MSFT commented on #19458
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-11-24 18:13] MicahMcKittrick-MSFT commented on #19460
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-24 19:33] Excelaint opened #19461 "Error = [Microsoft][ODBC Driver 13 for SQL Server][SQL Server]"
I'm a persistent beginner with Azure SQL.
Got to step 4 load data into table.
Then got this error "**Error = [Microsoft][ODBC Driver 13 for SQL Server][SQL Server]................**."
So I downloaded & attempted to install the driver from Microsoft & got this
![image](https://user-images.githubusercontent.com/45318572/48972304-966a6980-f07b-11e8-9059-40ae1f5ef740.png)

Any suggestions ? Should I u

[2018-11-24 22:03] aafvstam commented on #18956
Although in preview (is it really?) At least put a reference to something like this in the article:
https://techcommunity.microsoft.com/t5/Azure-Active-Directory-Identity/Using-Azure-Active-Directory-B2C-just-got-easier/ba-p/281447
I have it also in my UI and took me some time to find out what was going on ...

[2018-11-24 23:28] jdanyow opened #19464 "equality comparison table markdown is broken"
https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-sql-query#equality-and-comparison-operators

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 267e7493-cefe-0e44-b33e-c925b0f874de
* Version Independent ID: 2ffbb916-74f2-4b50-6b8d-3856afa42ca5
* Content: [SQL queries for Azure Cosmos DB](https://docs.microsoft.com/e

[2018-11-24 23:40] jeevansd commented on #13282
@jusefb In that case you should be using the Atlassian Cloud app from Azure AD app gallery. The cloud version comes with the built in SAML support.

[2018-11-25 01:13] Mike-Ubezzi-MSFT commented on #19464
@jdanyow Thank you for bringing this to our attention. I have assigned to a content owner to update as appropriate.

[2018-11-25 01:27] henrybluey opened #19466 "State Measurements not working for real device"
Hi,
As mentioned here https://github.com/MicrosoftDocs/azure-docs/issues/15177 I cannot get state measurement to work for a real device. I have added telemetry and alerts to a template and they work fine:
![image](https://user-images.githubusercontent.com/41771401/48974420-eca3d080-f0ac-11e8-8990-e615161e717a.png)
But as you can see, the state is not displaying. I have set up the state with motion

[2018-11-25 01:30] Mike-Ubezzi-MSFT commented on #19461
Continued...

**Capturing what you have installed for SSMS:**

![screenshot 16](https://user-images.githubusercontent.com/37126106/48974430-2376d980-f00e-11e8-984c-da63766839d6.png)

**Launching the ODBC Data Sources UI:**

![screenshot 17](https://user-images.githubusercontent.com/37126106/48974431-2376d980-f00e-11e8-9010-e6eca4d951d0.png)

**Checking for version installed:**

![screenshot 18](ht

[2018-11-25 01:56] Mike-Ubezzi-MSFT commented on #19416
@dimijim Thanks, this is a known issue per the previous issues that have been filed against this document but I think other's have found a work around.

[2018-11-25 01:58] Excelaint commented on #19461
Thanks Mike, Here's what I've got.

![image](https://user-images.githubusercontent.com/45318572/48974549-9d5f9f00-f0b0-11e8-8a94-963fb11d2338.png)

![image](https://user-images.githubusercontent.com/45318572/48974577-1fe85e80-f0b1-11e8-9294-4641f7afec7e.png)

[2018-11-25 02:30] badalk opened #19467 "Need clarity on => Permissions to create a service principal with the Contributor role on your Azure subscription?"
Can you explain this statement? In the above article is create-for-rbac is expected to have contributor role on the subscription? if so why? should it have any specific permissions? What if I already have a service account and don't want to create it as part of this process wherein I am scripting out all of the steps?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2018-11-25 03:41] Mike-Ubezzi-MSFT commented on #19461
@Excelaint Additionally, you could uninstall followed by installing ODBC Driver 13 for SQL and note the actual build number. This will hopefully allow you to proceed.

[2018-11-25 03:57] mgreenegit opened #19468 "Permissions"
Need to add what permission is required to complete these tasks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f728627-f8e4-0e41-c747-658d9496e9aa
* Version Independent ID: 443bc940-a2a2-7c99-6d96-d7c6dd904173
* Content: [Use Azure Policy to create and manage policies to enforce organizational compliance](https://docs

[2018-11-25 03:59] myusrn opened #19469 "content doesn't have publish date and appears to be based on deprecated azure functions story"
This content doesn't have publish date, so users can't tell how dated it is, and appears to be based on deprecated azure functions story given the references to *.csx files and settings.json file and entries that don't exist in current azure functions c# .net core project scenario.  Would also really like walk through that not only shows how to turn on azure active directory authentication [aad] a

[2018-11-25 05:38] MicahMcKittrick-MSFT commented on #19466
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-25 05:38] MicahMcKittrick-MSFT commented on #19467
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-25 05:39] MicahMcKittrick-MSFT commented on #19468
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-11-25 05:40] MicahMcKittrick-MSFT commented on #19469
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-11-25 06:04] gerhardcit opened #19470 "Where is request charge header in mongodb api"
The documentation says: "inspect the request charge header to better understand how much request unit capacity each operation consumes"
Where would you find that header when using the mongodb api?
someMongoDb.collection('collectionName').insertOne({data}).then(out =&gt; { // where is the request charge header ? });

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2018-11-25 06:33] nafisIslam opened #19471 "Automatic retry on failure, How to set Backoff coefficient"
[code]

[There are several options for customizing the automatic retry policy. They include the following:](https://docs.microsoft.com/en-us/azure/azure-functions/durable-functions-error-handling)

Max number of attempts: The maximum number of retry attempts.

First retry interval: The amount of time to wait before the first retry attempt.

Backoff coefficient: The coefficient used to determine ra

[2018-11-25 06:49] NetSade commented on #16563
Hi @dimazaid, is there any ETA to the update for push notifications to specific devices with Notification Hubs + FCM?

[2018-11-25 06:58] AjayKumar-MSFT commented on #19393
@brendanarnold, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2018-11-25 06:58] #19393 closed

[2018-11-25 09:56] elirazcc opened #19472 "If managed Identity is only supported in IaaS VMs. What should I use if I have RDFE based deployments?"
I know that this could be done using MSI. But in the docs its states that MSI endpoint will be deprecated by January 2019. What is the suggested solution here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bd6bdc9-b545-f273-dc80-eeb69107d919
* Version Independent ID: dbbbadd6-f533-33e3-1c1f-7cbc889b20b7
* Content: [M

[2018-11-25 09:57] elirazcc commented on #19472
I know that this could be done using MSI. But in the docs its states that MSI endpoint will be deprecated by January 2019. What is the suggested solution here?

[2018-11-25 11:06] BlueYetii opened #19473 "Using $InstallationId in a tag expression"
I've found the documentation confusing regarding the use of the system generated tag `$InstallationId:[installationId]`. When actually trying to use this in a tag expression to target notifications it has to be used with curly rather than square brackets like so:

`$InstallationId:{installationId}`

Suggest updating these docs to show this and maybe adding an example of sending to a specific insta

[2018-11-25 11:54] femsulu commented on #18583
@nzaetta apologies this was closed in error

[2018-11-25 13:10] AlexZeitler opened #19474 "Where is the "Browse" button/link mentioned in DevOps / AKS / .NET Core documentation?"
The Article [Tutorial: Deploy your ASP.NET Core app to Azure Kubernetes Service (AKS) by using Azure DevOps Projects](https://docs.microsoft.com/en-us/azure/devops-project/azure-devops-project-aks?toc=%2Fbs-latn-ba%2Fazure%2Faks%2FTOC.json&bc=%2Fbs-latn-ba%2Fazure%2Fbread%2Ftoc.json#configure-azure-devops-and-an-azure-subscription) contains this paraphrase:

(Line 73 in the [source code](https://g

[2018-11-25 13:18] garfbradaz commented on #18445
Any news on this one?

[2018-11-25 14:51] michal-staniszewski opened #19476 "Naming convention"
It would be wise to add possibility to name failed-over VM's disks and network interfaces the way we like. We could have a naming convention that is ie. restricted via Azure Policy and it would be good to align with the convention for failed-over VMs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 078d3818-692c-79ec-53

[2018-11-25 15:18] saikumaru opened #19477 "Iot Central Rules doesnt trigger"
Hi,
I am referring to this document on triggering webhooks and it doesnt seem to work.
I have just begun using the simulated devices available on sample contoso template.

I cant get an email alert nor trigger a webhook.

Can you please advice if I am doing something wrong?

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2018-11-25 15:32] LazarusX commented on #18195
After adding this entry, your Raspberry Pi's hostname (`raspberry`) will be resolved to 127.0.0.1, which may help resolve your issue.

[2018-11-25 15:35] saikumaru opened #19478 "Defining rules in IoT central, combination question"
hi,

As per this ![image](https://docs.microsoft.com/en-us/azure/iot-central/media/tutorial-configure-rules/buildertemperaturerule1.png)

Can someone please suggest how it is expected to work, and whether my understanding is correct?

Case A
(a)Enable rule for all devices of this template | On
(b)Enable rule on this device | On
My understanding- All devices in the set and this device too is eligib

[2018-11-25 16:01] jmalatia opened #19479 "Outdated"
This guide is outdated with regards to current Azure portal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd3afb20-4404-d9df-79e6-dde3c6ac6759
* Version Independent ID: 0eac06e5-8280-4009-f06d-3feff1049e45
* Content: [Enable Remote Desktop Connection for a Role in Azure Cloud Services](https://docs.microsoft.com/en-us

[2018-11-25 17:00] KetanChawda-MSFT commented on #19473
@BlueYetii Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-11-25 17:05] MicahMcKittrick-MSFT commented on #19470
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-25 17:06] MicahMcKittrick-MSFT commented on #19471
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-25 17:07] MicahMcKittrick-MSFT commented on #19472
@elirazcc please provide us with the link to the doc you are referring to

[2018-11-25 17:08] MicahMcKittrick-MSFT commented on #19477
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-25 17:08] MicahMcKittrick-MSFT commented on #19478
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-25 17:09] MicahMcKittrick-MSFT commented on #19479
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-11-25 17:10] MicahMcKittrick-MSFT commented on #19474
Thanks for the question! We are investigating and will update you shortly.

[2018-11-25 17:11] MicahMcKittrick-MSFT commented on #19476
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-25 17:12] rimman commented on #19470
We support a custom MongoDB command (GetLastRequestStatistics) to get the RU cost of a single request.  Please take a look here (Step 2): https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb-migrate

We are in the process of revamping our docs, and this will be more prominent in the new docs. Thanks.

[2018-11-25 17:28] DeanGross opened #19480 "Sequence of How To Guides"
I'm a little bit confused by the next steps shown above. It seems to me that the Configure PIM steps should occur before we Activate My Azure AD directory and/or Resource roles.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f720f767-871a-b92b-0efa-e0e35d3ccca8
* Version Independent ID: ee84f58e-7791-40cf-9b38-1d5b4163

[2018-11-25 17:41] DeanGross opened #19481 "Admins for other O365 Services"
When will PIM be able to manage the other admin roles listed at https://docs.microsoft.com/en-us/office365/admin/add-users/about-admin-roles?view=o365-worldwide

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf1a1d2f-6f7f-e7e3-2c3e-e658e7179877
* Version Independent ID: 77f0313f-4513-2434-3ac6-dea428f57f40
* Content: [

[2018-11-25 17:45] DeanGross opened #19482 "Inconsistent listing of roles"
How come this listing of built in roles does not include many of the roles listed on https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-roles? can you please provide some clarification about this. I'm expecting this page to list "ALL" of the built in roles.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-11-25 18:38] DeanGross opened #19483 "License Administrator"
Is this role just for Office 365 licenses or all applications?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8eadd92
* Version Independent ID: a380a828-03f9-e037-3a62-e4165fda7cb6
* Content: [Administrator role permissions in Azure Active Directory](https://docs.microsoft.com/en-us/azure/a

[2018-11-25 19:07] AjayKumar-MSFT commented on #19397
@martinlarosa, The same steps outlined in the document works for me, could you please review the configuration details again and re-try the operation and then let me know for further investigation.

[2018-11-25 19:39] satishanumolu opened #19484 "How to resolve ARM template resource limit error after integrating ADF with Git"
Hi,

Recently, we have integrated our Azure Data factory with Azure DevOps Git and created a publish_config.json with publish branch.

Currently our ADF has more than 800 resources. So, when I tried to publish any changes to ADF, it is giving me an error  - "Deployment template validation failed: 'The number of template resources limit exceeded. Limit: '800' and actual: 'XXX'. I saw that the resol

[2018-11-25 19:43] martinlarosa commented on #19397
I have a React app, which I understand shouldn't make any difference and an AAD B2C tenant.
I did my best to configure the App Service built in Authentication(I don't know if this has a new name like Easy Auth) and it apparently works. I can login, the problem is with logout. I've seen issues in stack overflow without any valid answer about this. Also I couldn't find a document that would address

[2018-11-25 20:02] #19316 closed

[2018-11-25 20:13] jason-j-MSFT commented on #18470
@dparragaTNS you might find the ForEach activity useful:
https://docs.microsoft.com/en-us/azure/data-factory/control-flow-for-each-activity

The loop can iterate through the files and capture the filename with the "@item()" variable.  If you would like to discuss what you are trying to accomplish more in-depth, I invite you to create a forum on this topic here:
https://social.msdn.microsoft.com/fo

[2018-11-25 20:13] #18470 closed

[2018-11-25 20:19] jason-j-MSFT commented on #18596
@abshamsft could you take a look at this?

[2018-11-25 21:31] ovishesh commented on #19270
tagging @diberry

[2018-11-25 21:42] FreedCapybara opened #19485 "Azure Key Vault -- HTTP Error 502.5 - Process Failure"
Hi,

My Key Vault test app works great locally 👍, but doesn't work when I deploy it to Azure 😢. Removing the Key Vault code in Program.cs confirms this.

**Here's the app url** https://microservices-keyvault-example.azurewebsites.net/
**Here's a repo url** https://github.com/FreedCapybara/microservices-keyvault-example (commit https://github.com/FreedCapybara/microservices-keyvault-example/commit/

[2018-11-25 22:10] abshamsft commented on #18596
I've moved to another team. @Viny Nigam<mailto:Viny.Nigam@microsoft.com> can you please have a look at this?

Sent from a mobile device. Pardon any typos and brevity.

________________________________
From: Jason J <notifications@github.com>
Sent: Sunday, November 25, 2018 12:19:55 PM
To: MicrosoftDocs/azure-docs
Cc: Abhave Sharma; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Table of contents

[2018-11-25 23:37] amitpuri opened #19488 "Is disable/delete a metric alert rule using the following command same Azure CLI command??"
az monitor metrics alert update -g {ResourceGroup} -n {AlertRuleName} -enabled false

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9aeeedc1-d567-f4b1-9913-14f401df8884
* Version Independent ID: 324a8bd9-cec9-3be0-b1fb-01e9a0f95710
* Content: [Create, view and manage Metric Alerts Using Azure Monitor](https://docs.micr

[2018-11-25 23:45] freakyfriday opened #19489 "Tables API - returning results sorted by RowKey"
I need to return my results in lexicographical order as per the current Azure Tables Storage API. Currently this document states that in CosmosDB using the Tables API "Query results returned by the Table API aren't sorted in partition key/row key order as they're in Azure Table storage" - https://docs.microsoft.com/en-us/azure/cosmos-db/faq#where-is-table-api-not-identical-with-azure-table-storage

[2018-11-25 23:58] jjgriff93 opened #19490 "No Angular example"
Would be very useful to have examples for instrumenting an angular application as this is an increasingly popular framework, needs clear examples of how to implement page view logging, tracking dependencies etc. in a client-side web application

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d56ecb14-9e66-5313-a381-d282

[2018-11-26 00:56] Mike-Ubezzi-MSFT commented on #19489
@freakyfriday Thank you very much for your interest in Azure Cloud. We are currently investigating and will update you with our findings.

[2018-11-26 01:08] Mike-Ubezzi-MSFT commented on #19461
@CHEEKATLAPRADEEP Can you step through this tutorial and see if you can reproduce this issue.

[2018-11-26 01:10] YutongTie-MSFT commented on #19232
@balakumaronline
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-11-26 01:10] #19232 closed

[2018-11-26 01:13] jtuliani opened #19491 "S80 disk size"
Table shows S80 disk size as 32,384. Given others follow powers of two this looks like a typo. Sure this shouldn't be 32,767?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3799662b-8f0f-c4e6-26b5-b2ff24a9242a
* Version Independent ID: 0c93223c-f28b-7ca7-0d10-c19e5fea9197
* Content: [About unmanaged (page blobs) and ma

[2018-11-26 01:14] jtuliani opened #19492 "P20 throughput"
Is it really true that P20 throughput is lower than P15? It breaks the pattern we see everywhere else.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3799662b-8f0f-c4e6-26b5-b2ff24a9242a
* Version Independent ID: 0c93223c-f28b-7ca7-0d10-c19e5fea9197
* Content: [About unmanaged (page blobs) and managed disks storage for

[2018-11-26 01:15] ksix opened #19493 "Use enforced registration - doesn't trigger"
Are there additional settings to trigger enforced registration beyond the basic Users &gt; Password Reset &gt; Registration &gt; "Require users to register when signing in ?" = "Yes" ? I am attempting to get this to work with a test user and it won't trigger. This is a brand new user on their first and subsequent sign ins. They are a cloud-only user (no on prem syncing) and the security info conve

[2018-11-26 01:53] letrungkien211 opened #19494 "Provide middleware for to handle not found."
About the Not-Found note, I think an official middleware for ASP.NET core should be provided.
I've written my own as below.
https://github.com/letrungkien211/SfNotFound

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31e0a1d2-789d-240f-be0b-892d43f80b66
* Version Independent ID: aac58453-4adc-5c04-8067-d7107dc2df45
* Co

[2018-11-26 02:09] YutongTie-MSFT commented on #17639
@sharad4u Hi, do you have any idea? Thanks!

[2018-11-26 02:12] YutongTie-MSFT commented on #18849
@DaveVoyles Is your problem solved? Thanks.

[2018-11-26 02:13] YutongTie-MSFT commented on #17592
@skukan159 Is your problem solved? Thanks.

[2018-11-26 02:14] YutongTie-MSFT commented on #19099
@alathrop I don't think we support it. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-26 02:14] #19099 closed

[2018-11-26 03:14] neil-rubens opened #19496 "error fix: `String` -> `string`"
`String` -&gt; `string`
in:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca056578-526c-603a-a0c7-fad5184134c0
* Version Independent ID: 486bd792-6be0-e4e4-8e81-c383591b4a87
* Content: [Azure Functions HTTP triggers and bindings](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-we

[2018-11-26 03:30] ManojReddy-MSFT commented on #19362
@ConsistentTheory I am following up to see if you are still facing the issue.

[2018-11-26 03:34] ManojReddy-MSFT commented on #19483
@DeanGross The License administrator role is specifically for managing licenses from Office 365 and Azure AD portal. User can manage Intune, office 365, Azure AD and EMS licenses when assigned to this role.

[2018-11-26 03:44] billmccord commented on #12034
I'm also encountering issues with some IPs not being able to access even if I added them to the whitelist. I have 18 IPs whitelisted, but 2 or 3 of them can't access while all others can. The only way I have been able to allow them to access is to add Allow 0.0.0.0/0 and basically whitelist all IPs.

[2018-11-26 03:47] ManojReddy-MSFT commented on #19481
@DeanGross Roles which are not represented in Azure AD cannot be supported by PIM. PIM team is working to make sure all the possible roles are added.  Can you let me know the specific role you are looking for ? This will help us in providing direct feedback to the appropriate team and get relevant timelines.

[2018-11-26 03:52] #19443 closed

[2018-11-26 03:54] ManojReddy-MSFT commented on #19443
@jordanmills Thanks for reporting this. I have updated the doc accordingly and I am closing the issue now.

[2018-11-26 03:58] ManojReddy-MSFT commented on #19206
@wiemerr We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2018-11-26 03:58] #19206 closed

[2018-11-26 03:58] CHEEKATLAPRADEEP-MSFT commented on #19347
@wildoewj We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-11-26 03:58] #19347 closed

[2018-11-26 04:03] CHEEKATLAPRADEEP-MSFT commented on #19202
@nanomo We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-11-26 04:03] #19202 closed

[2018-11-26 04:20] KetanChawda-MSFT commented on #19496
@neil-rubens Thanks for the feedback! We are currently investigating and will update the document with necessary changes if required.

[2018-11-26 04:43] tashb commented on #5643
I have the same error when the pipeline is triggered through manual trigger ('Trigger Now').  Please can you update us with progress on fixing the issue.

I don't have the error when the pipeline runs at scheduled times (the copy function has worked - I can see files in correct {year}/{month}/{day} folders from autoruns so I know the data parameter is being passed through correctly.

[2018-11-26 04:47] #19177 closed

[2018-11-26 04:48] PramodValavala-MSFT commented on #19177
@spongessuck I hope I have answered your query.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-26 04:50] PramodValavala-MSFT commented on #19245
@abhinav-jain09 I hope I was able to answer your query.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-26 04:50] #19245 closed

[2018-11-26 05:02] pvrk commented on #18892
Apologies, but couldn't understand the confusion. In the section "Software package", the steps 4,5,6 are still the same and lead to installation of Azure Backup Server. Can you please elaborate on where is the confusion?

[2018-11-26 05:03] pvrk commented on #14124
@abovethelimit : Thanks for your feedback. Will update the document as per your suggestion and update this thread.

[2018-11-26 05:04] ManojReddy-MSFT commented on #19480
@DeanGross Thanks for the feedback. "How to activate my roles" section is targeted for any user who is eligible to activate his/her roles through PIM. and I believe this is the reason we mentioned it first.  "Configure PIM" section is primarily for Global Administrators and PIM administrators who need to do this only once.

I hope this adds a little clarity. If you still believe the order should b

[2018-11-26 05:10] karan1276 opened #19498 "Where can i find documentation for `pydocumentdb` python module?"
In the examples pydocumentdb is used extensively. Where can i find more documentations about it? explaining different methods and some examples too?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c65beaf5-71c2-c071-5052-fed0e6441e46
* Version Independent ID: b812fdec-4126-ab0c-e2f8-d351b24f662e
* Content: [Python Flask

[2018-11-26 05:12] yyukif opened #19499 "Question about temp storage size"
I would like to know whether users can change temp storage size or not.
In my understanding, temp storage size are fixed except for Basic A, because only the table of Basic A series shows "max" temp storage size. Is it correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab1df1a4-dba7-3a66-dce4-88028f9b663d
* Versio

[2018-11-26 05:13] tashb commented on #5643
I ran the pipeline with an actual date in ISO 8601 format - 2008-09-15T15:53:00.

Happily pipeline ran - I'm wondering if the @trigger().outputs.windowStartTime may be 'NULL' in 'Trigger Now' mode because the scheduler didn't fire and store start time for pass-through.

[2018-11-26 05:44] michaeljqzq commented on #19252
@nelsonmorais , the multiple architecture support is already added in vscode IoT Edge tooling in 1.6.0. The support for CI/CD scenario is going to be released by this week. There will be extra options for deployment.template.json file path, and default platform.
For the different platform, you need to set corresponding build agent.

- amd64: Hosted Ubuntu 1604
- windows-amd64: Hosted VS2017
- arm3

[2018-11-26 05:50] MicahMcKittrick-MSFT commented on #19485
@FreedCapybara please provide us with the link to the doc you are referring to so we can better assist.

[2018-11-26 05:51] MicahMcKittrick-MSFT commented on #19491
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-26 05:51] MicahMcKittrick-MSFT commented on #19492
Thanks for the question! We are investigating and will update you shortly.

[2018-11-26 05:52] MicahMcKittrick-MSFT commented on #19494
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-26 05:52] MicahMcKittrick-MSFT commented on #19484
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-26 05:53] MicahMcKittrick-MSFT commented on #19498
Thanks for the question! We are investigating and will update you shortly.

[2018-11-26 05:54] MicahMcKittrick-MSFT commented on #19490
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-11-26 05:54] MicahMcKittrick-MSFT commented on #19499
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-26 05:56] MicahMcKittrick-MSFT commented on #19482
Thanks for the question! We are investigating and will update you shortly.

[2018-11-26 05:56] MicahMcKittrick-MSFT commented on #19488
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-26 05:57] MicahMcKittrick-MSFT commented on #19493
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-26 05:59] snehithm commented on #19488
Hi @amitpuri, what you shared is the right cli command to disable an alert rule. For deleting an alert rule use `az monitor metrics alert delete`

[2018-11-26 06:17] KeiroKamioka0000 opened #19501 "Location of the Cached Data for Linux"
Hello Experts.
I understand that cached data will be protected by the operation system's credential store, for the Windows or Management Server.

For the case of the Linux, does Linux cached data will be protected by the operation system's credential store too?

Thanks,

2. Send data from agents
https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-data-security#2-send-data-from-agent

[2018-11-26 06:32] jakaruna-MSFT commented on #19491
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-11-26 06:37] kobulloc-MSFT commented on #18278
@mcurko The installation text on this is easy to miss, but for Visual Studio 2017 version 15.4 and earlier you need to download the installer from the store.  The component is only available in Visual Studio 2017 version 15.5 and above.  I hope that helps!

![image](https://user-images.githubusercontent.com/37556655/48996897-af6a2d80-f102-11e8-89f4-0a647be30d55.png)

[2018-11-26 06:37] Grace-MacJones-MSFT commented on #19310
@VladDerptastic thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-11-26 06:43] #19496 closed

[2018-11-26 06:45] elirazcc commented on #19472
Sorry, thought I was commenting on the page itself:

https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/overview

[2018-11-26 07:15] ManojReddy-MSFT commented on #19299
@omniayehia8 Can you confirm if you created the extensions using graph.windows.net as described in the article?

[2018-11-26 07:33] Philippepaiola commented on #17582
Hi all, any news about my post ?

[2018-11-26 07:37] Expecho opened #19502 "Dead link"
The [Link](http://ngmodules.org/modules/angular-appinsights) in the following section is dead.

&gt; (If you're using a well-known web page framework, look around for Application Insights adaptors. For example, there's an AngularJS module.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d56ecb14-9e66-5313-a381-d2824ec3

[2018-11-26 07:44] tico24 commented on #13282
Hi @jeevansd, we would love to help test the solution with you as this issue is blocking a jira rollout for us at the moment. I emailed about 2 weeks ago, but can email again if you like?

[2018-11-26 07:46] kazshi opened #19503 "recommendation in the Note is not clear"
I'd like to make sure if "We recommend a size of /24 with 256 addresses." in the Note is for VNet. I assume so since "We recommend /25, which has 128 addresses and can handle a maximum-sized ASE." for a subnet is in 8.c.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e31ca36-9aa0-f429-f2fd-65ba2758c359
* Version Indep

[2018-11-26 07:47] skukan159 commented on #17592
No, because I get asked by the browser to allow the use of microphone again.

[2018-11-26 07:57] vivekjainAco opened #19504 "how to upload a local excel file while Creating knowledge base"
in the section "Create knowledge base", It's not clear how to pass the excel file containing all Question and Answers which is on the local path.   In API documentation also parameter 'files' is not really taking a local file. How to pass the local file to the parameter   'files': []?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2018-11-26 08:16] ggailey777 commented on #19170
@Jiihaa thanks for catching this. I will make those updates as you suggest.

[2018-11-26 08:29] dcbrown16 opened #19505 "Behavior of blank custom DNS"
It is apparently possible to set a VNet to "Custom DNS" without specifying any servers.
Does this behave the same as it would with default Azure DNS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7b1b215-0434-145b-cd11-95d0f32bc015
* Version Independent ID: d328a868-a151-1985-2b62-f3884f7ad76c
* Content: [Name resolu

[2018-11-26 08:35] bsocca commented on #19437
@ManojReddy-MSFT : Thanks for your feedback, however I still need some clarifications

- For Conditional Access Administrator role , Cloud application Administrator role or Contributor on a subscription on Azure : what kind of account do we have to use according to MS security recommandations ? User accounts (ex: bsocca) or dedicated named admin accounts (ex: admbsocca) ?
- Tier1 on-premise admin

[2018-11-26 08:38] paulmackinnon-adv365 commented on #19360
I only tested on 1 resource group, not two.

[2018-11-26 08:50] mcurko commented on #18278
You can't do that if you have Visual Studio 2017 Community edition!

Regards,
Marko Čurko

Marko Čurko
Senior Developer │ Perpetuum Mobile d.o.o.
Damira Tomljanovića Gavrana 13, 10000 Zagreb
m +385 91 2305 123 │ t +385 1 6390 834
marko.curko@perpetuum.eu<mailto:marko.curko@perpetuum.eu> │ www.perpetuum.hr<http://www.perpetuum.hr/>

[cid:image002.png@01D34284.7E49FA10]

From: kobulloc-MSFT <notific

[2018-11-26 09:03] pvrk commented on #16381
@pekkaar : Sorry for the delay in response. This article talks about configuring notifications for backup alerts. You are looking for notifications on ASR/Site recovery configurations which are listed [here].(https://docs.microsoft.com/azure/site-recovery/site-recovery-monitor-and-troubleshoot)

[2018-11-26 09:16] ManojReddy-MSFT commented on #19437
@bsocca AFAIK there are no specific restrictions around using user accounts. Feasibility, number and the type of  licenses available will also play a role in the decision making.

We normally suggest having admin accounts specifically for Global administrators and have MFA enabled for them all the time. For other not highly privileged roles you can use user accounts with PIM if you have PIM enable

[2018-11-26 09:34] jakaruna-MSFT commented on #19343
@itsdeshpande Nice catch. I think we will be able to update the OS([supported OS list](https://docs.microsoft.com/en-in/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-automatic-upgrade#requirements-for-configuring-automatic-os-image-upgrade)) automatically.
In the VMSS page, Under [requirements ](https://docs.microsoft.com/en-in/azure/virtual-machine-scale-sets/virtual-machine-scale-s

[2018-11-26 09:35] ksix commented on #19493
@ManojReddy-MSFT - Yes I can confirm SSPR is enabled for all users:

<img width="534" src="https://user-images.githubusercontent.com/6822248/49005282-6fff1800-f1ba-11e8-878a-4af6722cc078.png">

Do I need to assign the user any special license or something?

Can you confirm you have the "Users can use preview features for registering and managing security info" enabled?

<img width="656" src="https

[2018-11-26 09:36] jakaruna-MSFT commented on #19343
@aljo-microsoft  @zr-msft Please provide your inputs.

[2018-11-26 09:41] pekkaar commented on #16381
@pvrk: thanks, could you please direct me to the document describing how to set up backup alerts in an ARM template? I was under the impression there are no two separate notification mechanisms on the ARM template level?

[2018-11-26 09:42] charakumar44 opened #19507 "Microsoft.AspNetCore.Server.Kestrel.Core: Request body too large"
i am trying to post huge form data around 800 mb size to azure function. so far able to upload up to 28 mb. beyond that i am getting exception " Microsoft.AspNetCore.Server.Kestrel.Core: Request body too large". can some one help me on this

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04c9d43d-5bd2-87c6-2ccf-0c65ef19

[2018-11-26 09:48] pvrk commented on #16381
Unfortunately, as of today, setting up notifications for Azure Backup alerts cannot be done programmatically and the only way is via portal. We are attempting to see if we can integrate with Azure monitor after which you can leverage Azure monitor's PS/CLI/REST API/ARM template mechanisms. We are still under exploratory phase and hence can't comment on the timelines either :-(

[2018-11-26 09:58] ksix commented on #19493
I've added the exact steps I followed to make sure we are doing the same thing:

1. Create user in Azure AD directly using username@customdomain.com. User has no groups or licenses assigned to them. Their directory role is User.
2. Login to https://account.activedirectory.windowsazure.com/ with username@customdomain.com and password provided from user creation in portal.
3. Prompted to “Update you

[2018-11-26 10:00] brendanarnold commented on #19393
How then am I supposed to add auth keys which contain special characters? This is an extremely common use case

[2018-11-26 10:29] KetanChawda-MSFT commented on #19444
@tyrotoxin Yes. Your understanding of a case when partition keys aren't used is correct and also your assumption of Event Hub using round robin for publishing events in such cases is also spot on.

As for using a JSON-path query as a partition key, is best implemented in the sender instead of Event Hub directly. Event Hub is designed for scale and is best to minimize any kind of processing here.

[2018-11-26 10:32] KetanChawda-MSFT commented on #19496
@neil-rubens Thanks you for bringing this to our attention. We have made necessary changes to the docs and created a PR. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply.

[2018-11-26 10:37] KetanChawda-MSFT commented on #19406
@natchaporing Checking in to see if the above answer helped answer your question.

[2018-11-26 10:43] AjayKumar-MSFT commented on #19397
@martinlarosa, By default, a successful sign-out redirects the client to the URL /.auth/logout/done.
You can change the post-sign-out redirect page by adding the ***post_logout_redirect_uri*** query parameter, what specific redirect_uri have added? Does it exhibit the same behavior with the default URL? You have stated that “Nothing happens”, could you post a screenshot of the issue after conceali

[2018-11-26 10:47] vivekjainAco commented on #19504
I have also tried this way : DBFilePath = new System.Uri(@"C:\Users\vivek.jain\Desktop\Work\fuerVivek\Trainingsdatensatz").AbsoluteUri.ToString();

then passed the DBfilePath in the fileUri below:

{
  "name": "QnA Maker FAQ",
  "qnaList": [],
  "urls": [],
  "files": [
    {
      "fileName": "Traindataset_0.xlsx ",
      "fileUri": "file:///C:/Users/vivek.jain/Desktop/Work/fuerVivek/Trainingsdat

[2018-11-26 10:57] virtualamjath opened #19508 "whwn can we get ( Blob output partitioning by custom attribute) in public Preview"
I am waiting for this feature .
I assume this private preview will run only for limited amount of time right ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e004a26-803e-5545-6ad8-138e56579a38
* Version Independent ID: 593ec532-f8b5-876a-f59f-c38625b3e812
* Content: [Azure Stream Analytics preview features](https://d

[2018-11-26 11:06] ManojReddy-MSFT commented on #19493
@ksix Yes , I have it enabled and I followed the exact steps you provided. The only difference is I used user@tenant.onmicrosoft.com and it worked as expected for me.

I tested this in another tenant where I created a user sspr@customdomain.com and navigated to portal.azure.com and it prompted me for SSPR.

I saw that you are navigating to https://account.activedirectory.windowsazure.com/ .
1) So

[2018-11-26 11:15] ksix commented on #19493
@ManojReddy-MSFT - yes, I can confirm when navigating to portal.azure.com I am getting prompted correctly. Thanks for your work in reproducing the issue / following up with the product team.

I wanted to test specifically with the account page as it is the landing page for non-administrative users. Seems I found a very specific configuration where it fails.

Also, we spoke the other day on issue #

[2018-11-26 11:32] #16381 closed

[2018-11-26 11:48] atomek1000 opened #19509 "Wildcard "+""
Hello,
Why wildcard "+" is unavailable to use? Any proposed workaround for that?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c34a89ba-18a0-a095-ac1b-612cd342f601
* Version Independent ID: f331c188-e7b3-bbeb-811c-c2bfb31c37a3
* Content: [Copy data from SFTP server using Azure Data Factory](https://docs.micros

[2018-11-26 11:51] FreedCapybara commented on #19485
It's this one https://docs.microsoft.com/en-us/azure/key-vault/quick-create-net

Thanks for the quick response!

[2018-11-26 12:01] gerhardcit commented on #19470
For the record, if you do this with a mongodb driver in node, the command is:
`db.command({ getLastRequestStatistics: 1 });`

[2018-11-26 12:01] #19470 closed

[2018-11-26 12:10] ravipatel07 commented on #17592
I have also faced the same issue. If user was silence for sometime then recognizer SDK is automatically called the session stopped event and speech recognized is stop. Can you please help me on this?

[2018-11-26 12:19] jpetitte commented on #17592
@skukan159,

What browser does that occur in? I don't see that permission request again after the first approval in Chrome.

[2018-11-26 12:32] gerhardcit commented on #16997
So as I read this, at the moment, Aggregations are NOT possible?
This command `db.getCollection('collectionName').aggregate([ { $limit : 1 }])` from @bernardo5304
gives you a clue that there is a larger underlying problem.

This just put a stop (show stopper) to our migration plans.

[2018-11-26 12:39] ravipatel07 commented on #17592
@skukan159
Okay Thanks for the updates, If I need any help then I will let you know.

[2018-11-26 12:41] jakaruna-MSFT commented on #19374
@Arash-Sabet  I think we can use [extensions ](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/features-windows) to do that job.
In this case, if we add an extension to create an admin user, Then extension has to be executed first and the the service fabric application should be started. I will check about this order and let you know.
cc: @MicahMcKittrick-MSFT

[2018-11-26 12:53] ironicLemon commented on #17502
Hi, is there anymore news on this?

Thanks

[2018-11-26 13:05] amitpuri commented on #19488
@snehithm Thanks for update

[2018-11-26 13:09] jpetitte commented on #17592
Interesting, does anyone know why when you go to google.com and select the microphone in the search bar it only requests permission to access your microphone once? Subsequent selects don't require another request for permission.

In my app, I call mediaDevices.getUserMedia() as soon as the app loads to prompt the user for permissions, and I immediately stop the track after they give permission. Af

[2018-11-26 13:13] wolfma61 commented on #17592
we are working on a fix for continuous recognition modes in javascript, a programmatic reconnect shouldn't be necessary with this fix. It will land with the next SDK refresh later next month (at least that is the current plan...)

[2018-11-26 13:14] DaveVoyles commented on #18849
@YutongTie-MSFT Thanks for pinging me again - I starred this in e-mail to follow up, but after the holiday completely forgot.

I believe what @dlepow mentioned may be the issue as well,. in terms of just uploading the _job.json_ as-is.  I'm going to try it again this week and update you here.

[2018-11-26 13:47] MGoedtel commented on #18842
@w0lverine - I'm not intimately familiar with this and will need to confirm with the PG if in fact we don't support those facilities.  It does appear that we collect security events based on what we offered with the Security and Audit solution - https://github.com/Microsoft/OMS-Agent-for-Linux/blob/master/docs/Security-Events-Preview-Configuration.md and now with Azure Security Center which has be

[2018-11-26 13:51] andreatondella commented on #11187
I'm experiencing the same problem. Spark 2.3.1 and Scala 2.11

[2018-11-26 13:58] igomat commented on #15369
Do you have an update about timeline for GA of the Azure Backup for Azure FileShare?  

[2018-11-26 14:02] AjayKumar-MSFT commented on #19503
@kazshi, Yes, its the size of the VNet. Please do let us know if this helps or you have any further questions or clarifications. Thank you!

[2018-11-26 14:05] bwren commented on #19070
@rboucher Should be able to look at this.

[2018-11-26 14:09] pdarvasi opened #19510 "Deprecation date for unmanaged disks"
Hi team, do you have a target date for the deprecation of unmanaged disks? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1055deb-ded6-5e0e-4ad1-8e7a5051a4ad
* Version Independent ID: a68b8c90-5466-e6b7-11e2-0100ef6fc295
* Content: [About unmanaged (page blobs) and managed disks storage for Microsoft Azure Lin

[2018-11-26 14:19] sergaz-msft commented on #16613
@GuuB please can you confirm that you used free IoTHub as well? I have assigned the issue to @robinsh that will enhance the doc based on your feedback.

Thanks!

[2018-11-26 14:21] sergaz-msft commented on #17696
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-26 14:21] #17696 closed

[2018-11-26 14:30] sergaz-msft commented on #19092
@baharw thank you so much for your valuable input and sharing your steps with us. @shizn can we consider the steps described above on our docs and\or suggest an alternative\fastest route?

Thanks!

[2018-11-26 14:36] sergaz-msft commented on #19171
Hello @onionhammer, I believe that what you are asking for is already submited as a feature request [here](https://feedback.azure.com/forums/321918-azure-iot/suggestions/33998398-iothub-end-point-creation-using-arm-template-righ ). Please vote so that Product Group can prioritize it.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in y

[2018-11-26 14:36] #19171 closed

[2018-11-26 14:48] sergaz-msft commented on #19208
Great question @baharw , let me check it with product group how to do it today. I would also suggest that you add a new feature request [here](https://feedback.azure.com/forums/907045-azure-iot-edge).

Thanks!

[2018-11-26 14:48] spelluru commented on #12692
@kobulloc-MSFT - please assign the issue to @jkwon2013. Thanks.

[2018-11-26 14:51] sergaz-msft commented on #19319
Thanks for the feedback! I have assigned the issue to @codyborn to evaluate and update as appropriate.

[2018-11-26 14:53] rayne-wiselman commented on #15369
@YutongTie-MSFT For MSFT the correct place to request is on an internal alias and not on a public article.

#please-close

[2018-11-26 15:03] jpalo opened #19511 "Claims in each Claim set?"
Is it anywhere listed what claims belong to each claim set (core and basic)? Based on this documentation it is hard for me to determine if "country" property of AAD user is included in claims passed over to the applications by default, or if I need to create custom AD Policy for it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2018-11-26 15:12] Expecho opened #19512 "Editing the configuration resets the configuration"
I initially created a new configuration with only the events Exception and Dependency enabled. I noticed however that all events are being exported. When I edited the configuration all values were reset. Is this a known issue in the portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 860f6a72-85d8-6296-d9f0-638907f1

[2018-11-26 15:15] yimialejoh opened #19513 "Problems with Collection functions: contains"
I am evaluating the following:

@if (contains (activity ('CopyFTPRaw'). output, 'rowsRead'), activity ('CopyFTPRaw'). output.rowsRead, -1)

I want to capture if it's exists a "rowsRead" property of the output, but when that property does not exist the code exploits

![image](https://user-images.githubusercontent.com/38698937/49022856-e290d900-f163-11e8-976d-bd6931474b19.png)

I don't understand wh

[2018-11-26 15:35] PramodValavala-MSFT commented on #19507
@charakumar44 Thanks for asking! We will investigate and get back to you on this.

[2018-11-26 15:38] mevaibhav83 opened #19514 "DDoS protection Pricing clarification"
Is it fair to say that if we create DDoS protection standard plan and associate to UK South based virtual network then it will will at least cost £2194/month (as minimum) [as mentioned here: https://azure.microsoft.com/en-gb/pricing/details/ddos-protection/)?

[2018-11-26 15:44] #19511 closed

[2018-11-26 15:45] jpalo commented on #19511
Had to create custom policy and set `acceptMappedClaims` to `true` in app manifest.

[2018-11-26 15:46] rokonec opened #19515 "Cosmos DB, indexing examples"
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/cosmos-db/index-policy.md#modifying-the-indexing-policy---examples has missing examples.

Overall, Cosmos DB indexing policy documentation is, em ... 'Imperfect'

For example try to find out what is syntax of ExcludePaths values?

Regards,
   Roman

[2018-11-26 15:49] sergaz-msft commented on #19364
hello @pratson20 , this tutorial is using a

Did you manage to have it running that way? For your device specifically can you open a new issue [here](https://github.com/Azure/iotedge/issues)?

Thanks.

[2018-11-26 15:52] GuuB commented on #16613
@sergaz-msft @robinsh I can confirm I was using the free F1 IoT Hub pricing tier.
Glad you guys found the cause! Thanks.

[2018-11-26 16:02] mikhailshilkov opened #19516 "History table example - events not in order"
In `History table` example, `TaskCompleted` event is always preceded by `OrchestratorStarted`.
However, the timestamps of those two events are always not in order: a later event is shown earlier. Example:

OrchestratorStarted	2017-05-05T18:45:35.032Z
TaskCompleted	2017-05-05T18:45:34.919Z

To me, it makes sense that `TaskCompleted` happens before the orchestrator is re-started. Why are they consis

[2018-11-26 16:16] felipepessoto opened #19517 "Disable built-in logging section is obsolete or incorrect"
The section Disable built-in logging says to delete AzureWebJobsDashboard key. But it doesn't exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13672b67-22ea-3dda-8b6b-3332c24e6030
* Version Independent ID: fdc60aeb-9971-1d9f-a6ba-b3ad818cf0d5
* Content: [Monitor Azure Functions](https://docs.microsoft.com/en-us/az

[2018-11-26 16:25] mcurko opened #19518 "Good work"
After not being able to understand anything in the documentation "Azure Machine Learning service", here I found out easily what ML is about and how to use it!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdd7dec4-a353-0ad5-2de3-1300ade6ad87
* Version Independent ID: 3f024fa1-7c94-a0a1-f72b-df98b33540a5
* Content: [A

[2018-11-26 16:28] SergeyKanzhelev opened #19519 "Code Samples should include Application Insights samples as well"
Clicking on Code Samples on the left menu I got samples marked as for [Azure Monitor](https://azure.microsoft.com/en-us/resources/samples/?service=monitor&sort=Relevance).

Application Insights samples like https://github.com/Azure-Samples/guidance-appinsights-openschema and https://github.com/Azure-Samples/application-insights-dotnet-data-reduction and a few more are not marked as Azure Monitor.

[2018-11-26 16:32] Dummy51 opened #19520 "Where the PAT key must be entered into Azure Automation Account"
Information on permission that are required by the PAT, but not cores detailed on where the PAT key must be entered in Azure Automation account once created into Azure DevOps/security

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83c90e64-b615-711f-a53d-fc76606e2ecd
* Version Independent ID: 2d164036-6886-4440-50f7-36

[2018-11-26 16:35] georgewallace commented on #19520
@Dummy51 You don't need to do anything, when you configure source control we automatically store the information needed to connect in encrypted variables.
![image](https://user-images.githubusercontent.com/6796566/49027945-254bb480-f156-11e8-99fb-90142f72b502.png)

[2018-11-26 16:37] alpinedelight opened #19521 "Reference data on Stream Analytics on Edge"
We're using ASA on edge (windows 10 host, linux containers) with reference data, and it worked up until recently.
ASA now states Microsoft.Streaming.StreamingNode.ReferenceData.ReferenceDataException &lt;stack trace here&gt; "Failed to loaded reference data from ''. Please verify the source data file exists."
We updated to the microsoft/azureiotedge-azure-stream-analytics:1.0.0-preview010 image, a

[2018-11-26 17:05] diberry commented on #19504
@vivekjainAco Please verify the following so my test is valid: operating system is windows-based, code is C# (.Net flavor). What is the response code you are getting?

[2018-11-26 17:17] MicahMcKittrick-MSFT commented on #19510
Thanks for the question! We are investigating and will update you shortly.

[2018-11-26 17:24] Mike-Ubezzi-MSFT commented on #19515
@rokonec Thank you for the detailed feedback. I am forwarding this to the content owner to evaluate and update as appropriate.

[2018-11-26 17:24] BhargaviAnnadevara-MSFT commented on #19502
@Expecho Thanks for the feedback! We're investigating this and will get back to you shortly.

[2018-11-26 17:29] barclayn commented on #18921
@CHDAFNI-MSFT Thank you for the feedback. I have updated the article and it should reflect the changes in 24 hours.

[2018-11-26 17:29] barclayn commented on #18921
#please-close

[2018-11-26 17:31] MicahMcKittrick-MSFT commented on #19494
@letrungkien211 thanks for this. I have assigned to the content authors to review.

[2018-11-26 17:33] MicahMcKittrick-MSFT commented on #19472
@elirazcc thanks for that.

@MarileeTurscak-MSFT can you take a look?

[2018-11-26 17:35] YutongTie-MSFT commented on #19518
@mcurko @ericlicoding Thanks for your effort! We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-11-26 17:35] #19518 closed

[2018-11-26 17:38] BhargaviAnnadevara-MSFT commented on #19502
It looks like the website http://ngmodules.org/ is down.

@mrbullwinkle We may need another example in this place.

 ![alt text]( "ngmodules.jpg")

[2018-11-26 17:42] cconrado commented on #16147
Any update on this??

[2018-11-26 17:42] Adam-Smith-MSFT commented on #19229
@woodwardmatt  that's interesting, is it possible to provide what distro and kernel version you are running it from ? I'd like to do some testing.

[2018-11-26 17:48] Adam-Smith-MSFT commented on #19269
@eransha There might be several restrictions on our internal AD: Microsoft.com, I'd highly recommend reaching out to internal AD teams, or via email since our environment may differ from the general public.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-11-26 17:48] #19269 closed

[2018-11-26 17:49] Adam-Smith-MSFT commented on #19287
We don't seem to have an equivalent as of now. @wmgries would you be able to confirm ?

[2018-11-26 17:50] ggailey777 commented on #19170
This is now being tracked internally by [1394919](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1394919).

[2018-11-26 17:52] iainfoulds commented on #19381
I can look to add a note, but I should state that is the same for *every* resource created in a different resource group than the AKS MC_ resource group. This isn't specific to the VK connector. Any network resource, storage, etc. that isn't in that MC_ group needs delegated permissions, as noted in https://docs.microsoft.com/en-us/azure/aks/kubernetes-service-principal#delegate-access-to-other-az

[2018-11-26 17:53] evan-morris opened #19523 "I had to remove the trailing '"
I had to remove the trailing '
Get-WinEvent -ea SilentlyContinue `

Should it be there?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a187d323-2b82-0394-ff12-184d66728df3
* Version Independent ID: 68a320de-6c3e-f7a3-fdbf-2a9497ed9f48
* Content: [Auto-provision Azure IoT Edge device with DPS - Windows](https://docs.mic

[2018-11-26 17:55] bryanschmiedeler commented on #18863
I am getting the 2nd error as pointed out by the first poster. I am curious what you did to get this to work?

[2018-11-26 17:56] Adam-Smith-MSFT commented on #19476
@michal-staniszewski I'd highly recommend posting your feedback in the following page:https://feedback.azure.com/forums/256299-site-recovery , The team will be able to review it.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-11-26 17:56] #19476 closed

[2018-11-26 17:59] mike-urnun-msft commented on #19516
Hi @mikhailshilkov Thank you for your feedback! We have assigned this issue to the author to review and take the right course of action.

[2018-11-26 18:00] mike-urnun-msft commented on #19517
Hi @felipepessoto Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-11-26 18:05] rolyon commented on #18510
Hi @dcnoren
I'm going to close this issue. If you have any other comments, please reopen.

[2018-11-26 18:05] rolyon commented on #18510
@MicrosoftDocs/azure-cxp-triage
#please-close

[2018-11-26 18:06] priyamohanram commented on #19018
@rdiazel: Thanks for reporting the issue. The retention policies for a basic subscription is the same as the free edition. I'll update the documentation to include this information shortly. Please feel free to open a new issue if you have any further questions. Thank you!

[2018-11-26 18:06] davidmu1 commented on #19244
This work is being done in a separate workitem and will be published live soon.

#please-close

[2018-11-26 18:08] PatAltimore commented on #19109
@gsamant & joeljoseph17, I followed up with the product team. There should be no restriction or limitation for trials. You may want try posting your error on the blockchain forum https://aka.ms/workbenchforum.

Pat

[2018-11-26 18:09] MrJinx commented on #18117
Raghu, I was getting file system permission errors. Worked fine when running on localhost, but not on server. From everything I've read you can't create folders or save files to a client in a web application without displaying and downloading in the browser which is ultimately what I implemented by using the DownloadToByteArray and then displaying in the browser (which downloads the file the local

[2018-11-26 18:11] msmimart commented on #12651
Thanks for sharing your feedback on this article. Regarding plans for the SharePoint and OneDrive for Business invitation process, the Microsoft 365 Roadmap now includes Office 365 roadmap info and is a good resource for the latest updates: [https://www.microsoft.com/microsoft-365/roadmap](https://www.microsoft.com/microsoft-365/roadmap). As service changes occur we’ll update this article. Thanks

[2018-11-26 18:12] MarileeTurscak-MSFT commented on #19511
@jpalo glad you were able to resolve this! Thanks for sharing your solution.

[2018-11-26 18:13] sergaz-msft commented on #19325
Hello @Darcy123 can I kindly ask you to open an issue on [Azure IoT C SDK](https://github.com/Azure/azure-iot-sdk-c/issues) and reference this doc-issue there? Product Group is aware of this and will follow-up with you there!

Also can you take a look at [Develop for constrained devices using Azure IoT C SDK](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-develop-for-constrained-d

[2018-11-26 18:15] ggailey777 commented on #16367
@cherchyk and @PramodValavala-MSFT I need to revert these updates. The article clearly states that OpenAPI definition generation isn't yet supported for the v2 runtime. You can see this related issue: https://github.com/MicrosoftDocs/azure-docs/issues/19170. I am working on a fix that adds a step to revert the runtime back to v1, which will then have to then use the old C# code.

[2018-11-26 18:19] YutongTie-MSFT commented on #19268
@fmegen Hi, do you have any insight on this issue? Thanks.

[2018-11-26 18:22] MGoedtel commented on #19262
@CHDAFNI-MSFT - I'm investigating and will respond shortly.  Thanks.

[2018-11-26 18:23] baharw commented on #19208
Thank you for looking into it @sergaz-msft !  I made the request [here](https://feedback.azure.com/forums/907045-azure-iot-edge/suggestions/36069130-removing-unused-modules-from-iot-edge-devices) last week, per your request.

[2018-11-26 18:23] priyamohanram commented on #19018
#please-close

[2018-11-26 18:32] #18510 closed

[2018-11-26 18:33] Karishma-Tiwari-MSFT commented on #18943
@roiyz Did you get a chance to take a look at this issue?

[2018-11-26 18:40] kfasick commented on #13356
@ganganarayanan @MicahMcKittrick-MSFT I need Total Regional vCPUs increased and created a SR following comments in the docs thread that suggested increasing a specific SKU (which cannot be left blank) would also increase Total Regional vCPUs. Unfortunately SR granted the SKU increase instantly and closed the SR with no way to communicate back to an engineer.
I then tried an airs ticket, but the pr

[2018-11-26 18:41] aljo-microsoft commented on #17633
@wuffers and @oleksandr-bilyk

These steps do work, as I performed them this weekend, using resources.azure.com.

Would you confirm if your confusion was an assumption, that SF provides a prescriptive delivery mechanism for secrets, from an external store to your cluster? If so we don't yet.

Remember:

Microsoft.Compute/virtualMachineScaleSets.properties.virtualMachineProfile.osProfile.secrets.va

[2018-11-26 18:41] aljo-microsoft commented on #17633
@MicahMcKittrick-MSFT
Please close this.

[2018-11-26 18:45] #17633 closed

[2018-11-26 18:47] MicahMcKittrick-MSFT commented on #19327
@SingeCore when ready, please share the link requested and we can continue.

[2018-11-26 18:47] #19327 closed

[2018-11-26 18:47] Niglb commented on #18126
Is there a recommended way to run the Direct removal script in waves as described in the recommended migration process?

[2018-11-26 18:48] MicahMcKittrick-MSFT commented on #18694
@inkey to get this resolved, I would like to enable you to get in touch with a Technical Support Engineer. Do you have the ability to open a technical support ticket? If not, please email me at AzCommunity@microsoft.com and provide me with your SubscriptionID and link to this issue. I can enable your subscription for that request.

I will close this for now and be on the lookout for your email.

[2018-11-26 18:48] #18694 closed

[2018-11-26 18:54] davidmu1 commented on #18508
The tutorial was missing `https://' in the Allowed origins field. For example, https://fabrikam.b2clogin.com. The article has been updated to correct the omission. Please try correcting your addresses.

#please-close

[2018-11-26 18:54] MicahMcKittrick-MSFT commented on #19271
Thanks @jakaruna-MSFT

@justinbarias since we have the same question on another issue lets all work off that issues together. Will close this one and add you to the other.

[2018-11-26 18:54] #19271 closed

[2018-11-26 18:55] MicahMcKittrick-MSFT commented on #18076
adding @justinbarias who has the same problem.

[2018-11-26 18:55] rolyon commented on #18583
Thanks. I've sent a message to see if I can find out more about this.

[2018-11-26 18:56] #19355 closed

[2018-11-26 18:57] MicahMcKittrick-MSFT commented on #19374
@rwike77 and @aljo-microsoft to comment further.

[2018-11-26 18:58] MicahMcKittrick-MSFT commented on #19384
@DCtheGeek could you comment further on this one?

[2018-11-26 19:03] MicahMcKittrick-MSFT commented on #19467
@sozercan can you comment further on this ask?

[2018-11-26 19:03] kobulloc-MSFT commented on #19512
@Expecho Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-11-26 19:09] MicahMcKittrick-MSFT commented on #19474
@AlexZeitler looks like the dashboard has changed a bit as I no longer see a "Browse" option

![image](https://user-images.githubusercontent.com/32313503/49036124-b0837500-f16b-11e8-8ed5-8525697d1c3f.png)

I will assign to the author to review and update the doc.

@mlearned can you take a look?

[2018-11-26 19:13] MicahMcKittrick-MSFT commented on #19485
@FreedCapybara thanks for that.

@MohitGargMSFT and @MarileeTurscak-MSFT to take a look

[2018-11-26 19:15] sozercan commented on #19467
@badalk Service Principal is used for OSBA to create resources (that OSBA supports deploying, such as postgres, mysql, etc) on behalf of the user. If you already have a service principal that has appropriate permissions to create resources, you can use that and skip creating one in that step.

[2018-11-26 19:18] AlexZeitler commented on #19474
@MicahMcKittrick-MSFT Thanks for your reply. Seems like it takes a while after the first build for the details to show up. I've marked the link how it looks as of today.

![image](https://user-images.githubusercontent.com/287480/49036589-64125680-f1b8-11e8-9908-f7561703af5b.png)

[2018-11-26 19:19] ganganarayanan commented on #13356
@kfasick Can you please provide the SR number that you created your initial case to increase specific SKUs and the total regional limit did not increase? I would like to talk to the quota team internally and ask them to look into it.

[2018-11-26 19:23] CODevOp opened #19524 "What permission is required"
I am trying to allow a developer access to add a vnet in a test app service. This article does not specify what permission is required to access and add a vnet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7a98803-1438-b1b5-f543-7dd88bc4294e
* Version Independent ID: 37ff1d0f-ed8e-5e4d-1f4c-1b9f6cffb938
* Content: [

[2018-11-26 19:34] MarileeTurscak-MSFT commented on #18242
Update from the product team:

Schema update is only required for device writeback and not for hybrid Azure AD join. Your question alerted us to some erroneous text which we are fixing. thanks so much!

[2018-11-26 19:35] MarileeTurscak-MSFT commented on #18242
Closing this out since an answer has been found. Thanks for pointing this out, @mtwelve !

[2018-11-26 19:35] #18242 closed

[2018-11-26 19:45] CeciAc opened #19525 "Link not working"
@ithahn commented on [Mon Nov 26 2018](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/151)

Installieren und Konfigurieren von Microsoft Monitoring Agent: https://docs.microsoft.com/de-de/log-analytics/log-analytics-concept-hybrid.md#install-and-configure-agent

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHu

[2018-11-26 19:45] philliplyle opened #19526 "impact on non-MFA users?"
If you enable the AD Policy as described, what is the impact on non-MFA users (users not enabled via conditional access policy, to be specific)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee6ac70d-5853-6a3a-0964-23b46910b4c4
* Version Independent ID: a5beda87-9845-8807-6221-7fdc64079587
* Content: [Password-less Az

[2018-11-26 19:47] cynthn commented on #18962
@fastrnu80 What @jakaruna-MSFT said is correct - for images. As long as you really are creating a VM from an image, you can have it created as an SSD or HDD. But, if you "attach" an existing VHD, you get the VHD in whatever storage it is currently stored in. When you create a VM from an image, it actually creates a new VHD from the image. Attaching just uses the VHD that is already there :)

[2018-11-26 19:47] CeciAc commented on #19525
Hi team,
the non-working link the user is reporting, it's also not working on the source page and thus replicating to the localized versions on the page.
`To reinstall the Microsoft Monitoring Agent, see [Install and configure the Microsoft Monitoring Agent](https://docs.microsoft.com/en-us/log-analytics/log-analytics-concept-hybrid.md#install-and-configure-agent)`

[2018-11-26 19:50] yangsiyu007 opened #19527 "No documentation for using AzCopy on a Mac"
Please add documentation for using AzCopy on a Mac or say to use help on the command line.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15911160-5ba2-fb0a-0b24-16b3857e20ce
* Version Independent ID: d925bc9f-f825-2f82-168c-6c30d716b9ce
* Content: [Copy or move data to Azure Storage with AzCopy v10 (Preview)](https://

[2018-11-26 19:52] jpetitte commented on #17592
@wolfma61, sounds good.

I also discovered this tidbit while looking at google's apis: Pages hosted on HTTPS do not need to ask repeatedly for permission, whereas HTTP hosted pages do.

All my stuff is localhost or https, which could explain why when I programmatically restart the recognition as I described above, the browser doesn't ask me repeatedly for permission.

The link I found this at is d

[2018-11-26 19:59] fastrnu80 commented on #18962
Great, thanks!!

From: jakaruna-MSFT <notifications@github.com>
Sent: Wednesday, November 21, 2018 2:31 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Russell Pitts <russpi@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Image created as Standard HDD? (#18962)

@fastrnu80<https://na01.safelinks.protection.outlook.com/?url=https%3A%2

[2018-11-26 20:01] kgremban commented on #19364
@pratson20 I've heard of some users needing to reboot the device to pick up the changes. Have you tried that?

[2018-11-26 20:02] mrcarter8 commented on #18445
All Azure .Net SDKs are compatible with .Net Standard 1.4+, including autocomplete support.  We also test against .Net Core 2.0.  I'm curious if that is something you are interested in as well.  I hope this helps.  Thanks.

[2018-11-26 20:04] cynthn commented on #19259
@fitzgeraldsteele Sure! I made it a heading 2, which should auto-create a linkable bookmark for you to use :)  Should go live after 3:00PM PST today.

[2018-11-26 20:19] v-piwijs commented on #15377
thanks @dcbrown16.   Reading through the thread, my plan is:
- to find someone to define what an in-place upgrade is and add this definition to the [page](https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-update-azure-service#impact-to-drive-data-during-cloud-service-upgrades)
- to update the impact to drive data page, since your experience did not match the expectation that dat

[2018-11-26 20:34] bwren commented on #17972
#please-close

[2018-11-26 20:38] bwren commented on #17707
Broke out the function details in a separate article.  This should help.  https://docs.microsoft.com/azure/log-analytics/query-language/functions

[2018-11-26 20:39] bwren commented on #17707
#please-close

[2018-11-26 20:39] CarlRabeler commented on #19069
Great feedback – addressing now

From: Mike Ubezzi <notifications@github.com>
Sent: Friday, November 16, 2018 2:53 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Carl Rabeler <Carl.Rabeler@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] "Same as SQL Database." (#19069)

Assigned #19069<https://na01.safelinks.protection.outlook.com/?ur

[2018-11-26 20:41] mjisaak commented on #9432
I wrote an Add-AzureIpRestrictionRule PowerShell cmdlet:

https://about-azure.com/2018/11/26/configure-azure-app-service-ip-restrictions-using-powershell/

[2018-11-26 20:44] TravisCragg-MSFT commented on #19368
@allanalewis you can use [Apex Domains with Azure DNS](https://docs.microsoft.com/en-us/azure/dns/tutorial-alias-tm). Could you be more specific on your question?

[2018-11-26 21:10] #17707 closed

[2018-11-26 21:11] #17972 closed

[2018-11-26 21:11] DCtheGeek commented on #19384
@bernardmaltais @MicahMcKittrick-MSFT I'm checking with the team.  Will be report back once I have an answer.  #in-progress

cc @alex-frankel

[2018-11-26 21:22] JasonWHowell commented on #15632
Azure Data Factory v2 does have support Azure Machine Learning Studio (v1) batch scoring and training activities. ADF v2 doesn't integrate with the newer version Machine Learning service (v2), but is possible through data factory's custom activity or web activity to call R code scenarios.

If there are specific integration points you think need priority, please share the list and I can relay the m

[2018-11-26 21:25] pisees opened #19529 "Security checklist guidance"
Hi,
Can you add Security checklist/guidance to this great content?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c404822-f6c8-30db-ac10-96687f986702
* Version Independent ID: 59c5cd13-3849-1de6-8193-b7a68bc6375a
* Content: [Azure Service Fabric Production Readiness Checklist](https://docs.microsoft.com/en-us/azure/se

[2018-11-26 21:31] nhwilly commented on #18146
@colinrippeyfinarne That's where my head was, exactly.   I understand why SP might be appealing if they're only accessible from the master key approach, but if you're going to all the trouble to write them, avoiding the extra network hops and overhead seems like it might be worth making it happen.

[2018-11-26 21:36] YutongTie-MSFT commented on #19413
@Gilves Hi, I tried to reproduce your error but it works for me well. Can you please just copy and paste the code from the tutorial and try again? Thanks.

[2018-11-26 21:47] Adam-Smith-MSFT commented on #19527
@yangsiyu007 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-26 21:56] TerryLanfear commented on #13014
#please-close

[2018-11-26 21:59] scsummers opened #19531 "Soft Delete & Event Hubs"
We recently enabled soft delete for our storage accounts with a 42-day retention period (enabled in early September) to match our backup retention period.

Once the 42-day retention period was reached, we experience issues with some of our solutions that leverage Event Hubs where there were large numbers of snapshots related to the Soft Delete function that caused a significant backlog due to the

[2018-11-26 22:00] TerryLanfear commented on #18066
@gunnarcms - Thank you for your question. The Pen Testing article is specific to penetration testing on the Microsoft cloud. Please see Penetration Testing Rules of Engagement at https://www.microsoft.com/en-us/msrc/pentest-rules-of-engagement?rtc=3. The site lists activities prohibited when performing penetration testing on the Microsoft cloud. Performing any kind of denial of service testing is

[2018-11-26 22:01] diberry commented on #19270
#in-progress

[2018-11-26 22:04] kgremban commented on #13978
@andrepodnozov Yes, my apologies for taking so long to reply to the issue in the first place. I realize that it's difficult to remember the specific issues you had a few months ago. I think I have heard of similar issues before, and it happens when you install an IoT Edge device and get it up and running for testing, and then later add your certificates to make it a production or gateway device. I

[2018-11-26 22:04] dlepow commented on #19205
@tfitzmac @andrewatfornax  - I believe disabling replication means simply removing all replication sites, but the original site/location of the registry remains until you delete the registry itself. Also, I will capture a short work item to update [this article](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-geo-replication) with brief info about how to remove a repli

[2018-11-26 22:08] darobs commented on #19208
Hello @baharw,

Thank you for the feedback.

There is some management setup in Linux that may be helpful to keep log file sizes down.

For the IoT Edge Security Daemon in Linux, we by default use journald as the logging system.  Journald supports log management, read the journald.conf manpage to configure it. If you also switch to using journald as the logging driver for Docker,  it will also auto

[2018-11-26 22:11] Karishma-Tiwari-MSFT commented on #19430
@v-eslop I have assigned the issue to the content author to investigate further and update the document as appropriate.
@BorisB2015 Can you please take a look and update the doc as appropriate. Thanks. :)

[2018-11-26 22:20] lucasgros commented on #19053
@MikeDodaro , I closed the PR #19255 but I can't find yours (PR) so can't review any doc. Where can I find it?

[2018-11-26 22:22] MikeDodaro commented on #19053
@lucasgros  Mine is merged and closed, but later today, the changes will show on the original published documentation.  It should be there in about two hours.  Ping me about the results you see.

[2018-11-26 22:33] kashimiz commented on #19097
Thank you, Locke! It's always exciting to hear from someone using Durable in the field.

Please reach out with questions or feedback at any time. Our main repo is [Azure/azure-functions-durable-extension](https://github.com/Azure/azure-functions-durable-extension). We're always happy to help and learn how we can improve. :)

[2018-11-26 22:36] ggailey777 commented on #18187
@apwestgarth can you comment on the status of the Functions Runtime preview with respect to version 2.x of the Azure Functions runtime?

[2018-11-26 22:37] diberry commented on #18866
Hi @CalvinFengDatacom, I'm investigating other ways to do this and will report back soon.

[2018-11-26 22:40] ggailey777 commented on #18044
@adobedoe, this issue has been addressed in the referenced PR. Thanks for letting us know about it! #please-close

[2018-11-26 22:40] DavB-cs opened #19532 "Confirm if change is needed when IP SSL is not used"
In the email notification, it listed 5 active sites as needing attention "using Inbound IP addresses". Each of these uses SNI based SSL (not IP address) with a wildcard cert . The email acknowledges as much: "Host name(s) using IP SSL: No sites impacted". Following the instructions in this article (#5), I looked for the IP address in "the section labeled Virtual IP address." However, this section

[2018-11-26 22:41] andrewatfornax commented on #19205
In which case, the documentation may need to be more specific, in noting that it's not just Container Repositories with geo-replication that cannot be move, but also any Container Repository that _at some point_ had geo-replication enabled - even if it is not now enabled.

[2018-11-26 22:47] ggailey777 commented on #18246
@saulcruz Python support, which requires version 2.x of the Azure Functions runtime, is currently in *private* preview. Because of the current release state, supported documentation is not currently available. However, if you want to try out the Python preview before the formal preview release, you can learn more [here](https://github.com/Azure/azure-functions-python-worker#overview).

[2018-11-26 22:48] mattbriggs commented on #19499
@yyukif The temp size is fixed, and the temp size may be lost if for instance your VM changes hosts. However, the fixed temp size may be increased for VM series and then the topic updates to reflect new sizes. Thanks for your question. #please-close

[2018-11-26 22:51] asavaritayal commented on #19391
@brettcannon ah got it, thanks for clarifying. I'll follow up on this.

[2018-11-26 22:51] ggailey777 commented on #18246
Since the current state of this article is "by-design," we can #please-close this issue.