[2022-01-14 09:47] #86412 closed

[2022-01-14 09:51] chaisen2006 opened #86421 "Execute SSIS Package in Azure SQL MI without Azure ADF"
If we have a Azure Managed Instance why do we need Azure ADF as a pre-requite to run the SSIS Package.
Can you please help clarity the below line marked under pre-requisite.

"You also need to provision an Azure-SSIS integration runtime in Azure Data Factory. It uses a SQL Managed Instance as an endpoint server.
"

Secondly,
Also how can I provision a SSISDB in Azure without using Azure ADF. Is th

[2022-01-14 10:01] DanDiplo commented on #80167
It's now 2022 and the documentation hasn't been updated. I can confirm that if you have complex fields and issue a search then you get the "Complex fields are not supported in moreLikeThis query.\r\nParameter name: searchFields" error if you don't specify any `searchFields`. It would be good if this was made clear in the docs. Thanks.

[2022-01-14 10:06] sreenivasp commented on #86104
Thanks for your reply. I see below and how PaaS ensure Private Endpoint is unique if linkid is not unique across regions.

---- some where in the page-
Can Private Endpoint connect to Azure PaaS resources across Azure regions?

Yes. Private Endpoints can connect to Azure PaaS resources across Azure regions.
-----

Does it mean, Azure PaaS uses LinkId with other attributes to make this Private Endp

[2022-01-14 10:08] VeeraMS opened #86422 "Request for doc update - Message Listeners can't be created on auto-forwarding enabled queues."
Hi ,

We have seen couple of times the below error pop-up when we create a listener on the auto-forwarding enabled entity but we couldn't find any note on the same in this doc. Could you check if its possible to add .

'status': 403,
        'message': 'Cannot use a trigger on 'test-messages' entity with auto-forwarding enabled.\\r\\nclientRequestId: 4565662-7fe0-4328-83ea-d5df74d7c652',

---
####

[2022-01-14 10:13] euchungmsft commented on #86412
Thank  you  @asergaz !! Let 's  discuss over  the  email. I'm  closing  this  for  now

[2022-01-14 10:32] waltheed opened #86423 "Nice video, but please do not use music"
It's very nice to have video's in the documentation. But please do not use music in the background, that is very distracting and makes it hard to follow.

Thanks, Edgar

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 344ed7ed-8489-abda-f74b-3c1cbacd5e0f
* Version Independent ID: 053dfc5c-e1a9-3ecd

[2022-01-14 10:58] shashishailaj commented on #86400
@DavidAtImpactCubed Thank you for your feedback . We will investigate and update the thread.

[2022-01-14 11:10] shashishailaj commented on #86417
@xiaoyongzhu Thank you for pointing this out. We are engaging the content team to review and update the link.

[2022-01-14 11:17] alicain opened #86424 "Confirmation of "Require approval to activate" section"
[Enter feedback here]

In the section "Require approval to activate" , this documentation states "Select at least one user or group and then click Select. You can add any combination of users and groups. You must select at least one approver. There are no default approvers."

However in the portal for the setting, it is possible to have "Approvers" set to "None"
and the portal says "If no specific

[2022-01-14 11:19] xiongyu0523 opened #86425 "double check description vs. actual protocol"
Could you double check if clean_session can be 0, and `&skn=registration` policy is still required?
When I was debugging found when my device can connect with clean_session = 0, and without &skn in password

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a024c68b-7199-1729-12dc-75a98e7de730
* Version Independent ID: 7b4

[2022-01-14 11:19] shashishailaj commented on #86424
@alicain Thank you for your query . We will investigate and update the thread.

[2022-01-14 11:30] MughundhanRaveendran-MSFT commented on #86382
@lipalath-ms , You can look into the Traces table instead of requests table. Custom dimensions in the traces table should give you the execution details

[2022-01-14 11:33] binte opened #86426 "Orphaned IAM role assignments can't be filtered by "Unknown" ObjectType"
I am using powershell 7.2, and I am unable to filter the orphaned IAM role assignments by filtering by "_Unknown_" `ObjectType`. In fact, while debugging, if I inspect the data I am fetching, I am able to see the following:

![image](https://user-images.githubusercontent.com/5520287/149508461-8495afca-b596-4854-a5d9-7186f390a6c9.png)

As you can see, the `ObjectType` of an orphaned role assignment

[2022-01-14 11:37] jeanfrancoislarente commented on #86250
All other commands specify the resource group in them and I've never seen an `az` command run in context of a resource group before, so I'm not sure exactly what that means.

After the group creation in the instructions, you need to create a cluster, connect to it and eventually connect your cluster to the ACR, all in which you need to specify the resource group.

It would be easy, prudent and rea

[2022-01-14 11:58] skrabbe001 opened #86427 "How should node be installed?"
I am using Windows 10.

The tutorial for creating a spa at:

https://docs.microsoft.com/en-us/azure/active-directory-b2c/enable-authentication-spa-app

It tells you to use Node.js, but when I install node.js, the windows installer asks me, if it should install Chocolatey (and other stuff, visual studio build tools, etc).

My questions are:

1. Where is it described how npm/node should be installed

[2022-01-14 12:09] MonikaReddy-MSFT commented on #86256
@abdisa - Thanks for sharing more context. I have assigned this issue to the approproiate author to get this taken care of ..

@Sara-Nicolini - Please take a look at customer's query when you get a moment. Thank you.

[2022-01-14 12:11] durayakar opened #86428 "The PowerShell script has wrong variable name for appying a per-uri policy"
At https://docs.microsoft.com/en-us/azure/web-application-firewall/ag/per-site-policies#apply-a-per-uri-policy

The gateway is selected with following line, and assigned to a variable "$Gateway":
$Gateway = Get-AzApplicationGateway -Name "myAppGateway"

However, the rule is applied with a wrong variable "$AppGw"
Add-AzApplicationGatewayRequestRoutingRule -ApplicationGateway $AppGw `

This script w

[2022-01-14 12:34] kengaderdus commented on #86427
Hi @skrabbe001,

Thank you for submitting this issue.

First, let me point out that [Configure authentication in a sample SPA application](https://docs.microsoft.com/en-us/azure/active-directory-b2c/configure-authentication-sample-spa-app) is a prerequisite to the articles you've mentioned in your issue, and so I recommend you look at it first.

Regarding your questions:
- You can install node by

[2022-01-14 12:41] skrabbe001 opened #86429 "The SPA uses Implicit Grant Flow and not Authorization Code Flow"
I am using Windows 10.

The page for which I am giving feedback:

https://docs.microsoft.com/en-us/azure/active-directory-b2c/enable-authentication-spa-app

The link above refers to this page for registering the SPA with Azure:

https://docs.microsoft.com/en-us/azure/active-directory-b2c/configure-authentication-sample-spa-app

And that page uses **Implicit Grant Flow** and not **Authorization Cod

[2022-01-14 12:48] llk7rt opened #86430 "Erroneous information on Python SDK"
The page states that for the Python SDK:
APIs allowing collections of up to 100 tasks
These Batch APIs limit the collection to 100 tasks. The limit could be smaller depending on the size of the tasks (for example, if the tasks have a large number of resource files or environment variables).

However, if you check with
https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/batch/azure-batch/CH

[2022-01-14 12:54] skrabbe001 commented on #86427
Thank you for your feedback.

I had already installed node like you described, and read the page about configuring the SPA, my questions were about if Chocolatery should be installed too, and why it isn't mentioned in the Microsoft  docs/guides.

Shouldn't it be noted in the documentation, or shouldn't the documentation refer to a page, that explains that you may skip the step for installing Choco

[2022-01-14 13:06] DEberhardt opened #86431 "Microsoft Teams Phone Standard"
Hello,

I see that the following licenses have been renamed in one of my tenants:
- `Microsoft 365 Phone System` is now: `Microsoft Teams Phone Standard`
- `Microsoft 365 Phone System - Virtual User` is now: `Microsoft Teams Phone Standard - Virtual User`

I presume this is just a name change only as they show up with this name in the Admin Center now.
Does the word "standard" imply that there are

[2022-01-14 13:07] yoelhor commented on #86210
Dear @prTrainreck, thanks for the feedback. I'm updating the article with the correct format of the metadata. A new version will publish later today, and this GitHub issue will be closed automatically (before the doc is published). If you have any questions or need further information, please open new GitHub issue.

I'll also check the other metadata soon. Yoel

[2022-01-14 13:14] #86210 closed

[2022-01-14 13:24] Denisjc opened #86432 "SSL error on create in .net 6.0"
Having an issue with the CreateDatabaseAsync as I get an SSL error when using the Azure Cosmos DB Emulator

https://docs.microsoft.com/en-us/azure/cosmos-db/sql/sql-api-get-started

Beginning operations...

Error: System.Net.Http.HttpRequestException: The SSL connection could not be established, see inner exception.
 ---> System.IO.IOException:  Received an unexpected EOF or 0 bytes from the trans

[2022-01-14 13:28] ram-msft commented on #86192
@eric-urban Could you please help with the registered event types.

In the [sample ](https://australiaeast.dev.cognitive.microsoft.com/docs/services/speech-to-text-api-v3-0/operations/CreateHook/console)we could see only "transcriptionCompletion".

[2022-01-14 13:28] danielwinter83 opened #86433 "Outdated"
Hi, I'm the Product Manager of Firstbird and I'M currently checking external documentation. I found that the article is outdated. Since the introduction of SSO we have significantly improved the setup process.
What would be the best way to get those changes updated on your side?

Best,
Daniel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2022-01-14 13:33] FabianGCZ opened #86435 "Include information saying that previously -----BEGIN PKCS7----- -----END PKCS7----- used to work...."
From PG received the following information:

Previously it works with "-----BEGIN PKCS7----- -----END PKCS7-----" because the portal chopped off the header and only sent the cert body in the request.
However, we updated the portal behavior to support merging the certificate with its chain ( This will line up with the behavior of azure cli). It requires sending everything from the PEM file which wi

[2022-01-14 13:33] FabianGCZ commented on #86435
#sign-off

[2022-01-14 13:46] Denisjc commented on #86432
My stupid mistake
the url to the Emulator says https://localhost:8081 while it is running on https://localhost:8082
![Azure CosmosDB Issue](https://user-images.githubusercontent.com/31697943/149525268-83a95d5b-1208-40a6-b654-98440a85b528.PNG)

[2022-01-14 13:47] Denisjc commented on #86432
We might want to update the interface to show the right url on the welcome page :)

[2022-01-14 13:47] #86432 closed

[2022-01-14 13:48] RonnieQuan commented on #86394
@PriyankaRudramaina

This question is critical to us to determine the design, appreciate your help if you could get back to us at earliest convenience.

Thank you so much!

[2022-01-14 13:54] kengaderdus commented on #86429
Dear @skrabbe001,

Thank you for your feedback.

And yes, the the recommended way of supporting SPAs is [using Authorization code flow with PKCE](https://docs.microsoft.com/en-us/azure/active-directory-b2c/authorization-code-flow). You can implement that yourself, but it becomes easier when you use Microsoft Authentication Libraries (MSAL) because it does does PKCE flow for you, see [MSAL Node Sta

[2022-01-14 13:54] roalexan commented on #86393
Having played with this a bit, it seems that one can define an environment variable, then reference that name in the scriptContent section. For example:

                "scriptContent": "echo UserName: $UserName",
                "environmentVariables": [
                    {
                        "name": "UserName",
                        "value": "jdole"
                    }

[2022-01-14 13:55] John-HLC commented on #85886
Sure thing.

Aside from a few Test Pages and Classes, I do not have any real app logic in there.  I am maintaining a live app on this with another project structure elsewhere.  These two projects are to try and connect all the dots/technologies before I start adding in real logic.  So yes I can share.

2 projects

HLCApp-Website
* Static Web App - (Standard Version)
* Project type: Blazor WASM Cli

[2022-01-14 13:55] chen98 opened #86436 "Azure Tutorial: Build a Flask app with Azure Cognitive Services text-to-speech Part Not Working"
Azure Tutorial: Build a Flask app with Azure Cognitive Services
Convert text-to-speech not working from Web UI.  Probably browser UI setting related.
The text-to-speech service working ok with other azure sample code outside of the browser.

Get this error from chrome browser
GET blob:http://127.0.0.1:5000/fdb2bf2c-0e0f-49fc-a3ee-d29c116be196 net::ERR_REQUEST_RANGE_NOT_SATISFIABLE

:5000/favicon.i

[2022-01-14 14:00] shashishailaj commented on #86433
@danielwinter83 Thank you for reaching out . We will engage the right team for you on this.

[2022-01-14 14:08] shashishailaj commented on #86435
@FabianGCZ Thank you for sharing this information . We will initiate a change request for the content team to review and approve the same.

[2022-01-14 14:09] shashishailaj commented on #86435
also the #sign-off would work on a pull request only if you have access to merge . Have you already created a pull request ? If yes  could you please share the information on the same ?

[2022-01-14 14:11] shashishailaj commented on #86426
@binte Thank you for your feedback . We will investigate and update the thread.

[2022-01-14 14:12] shashishailaj commented on #86433
@danielwinter83 Please send an email to SaaSApplicationIntegrations [at] service [dot] microsoft [dot] com for the team to take this further internally and the relevant team will help further on this .

Thank You .

[2022-01-14 14:12] #86433 closed

[2022-01-14 14:22] JohnD76 opened #86437 "Private Peering Link = Private Peering or Private Link or both?"
[Enter feedback here]

Can you please provide some clarity on Private Peering Link, which then appears to be references at Private Link in the same document (under the solutions architecture "If HTTPS is..." sentance).

Do you mean Private Peering on the Express Route circuit (which will be required) or do you Private Link Service for ADF, where ADF is secured via a Private Endpoint (which may als

[2022-01-14 14:27] KirbySSmith opened #86438 "Resource types in "Terraform resource relationship" diagram are out of date"
Resource types in "Terraform resource relationship" diagram are out of date. databricks_azure_blob_mount and databricks_azure_adls_gen2_mount are deprecated. Image URL: https://docs.microsoft.com/en-us/azure/databricks/_static/images/terraform/resources-azure.png
![image](https://user-images.githubusercontent.com/10350957/149531008-143d995d-fde2-4921-aa06-bb33e7e57000.png)

[Change Log 0.3.11]http

[2022-01-14 14:39] skrabbe001 commented on #86429
Thank you for the feedback. When I become more confident with B2C I will help with the guides, if I am allowed/permitted.

[2022-01-14 14:49] jurjenoskam opened #86439 "ARM template Flow_Type conflicts with what the ARM documentation states"
The ARM template example on this page says that `Flow_Type` should be set to the string `Redfield`, but the [ARM documentation](https://docs.microsoft.com/en-us/azure/templates/microsoft.insights/components?tabs=bicep#applicationinsightscomponentproperties) says this must be set to `Bluefield` when using ARM/Bicep/REST.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2022-01-14 14:53] MashaMSFT commented on #85037
Hi @vlad610 , thanks for contacting Microsoft! Since the documentation has been updated, we'll proceed with closing out this Git Issue. Please feel free to comment should you need anything further.

Thanks again for reaching out and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2022-01-14 14:53] #85037 closed

[2022-01-14 15:04] GiftA-MSFT commented on #86436
@chen98 we'll review your feedback and get back to you shortly. Thanks.

[2022-01-14 15:06] kengaderdus commented on #86429
You're welcome @skrabbe001, and yes, you can make a contribution. Click the **Edit** button at the top-right corner of the document you want to contribute to. This takes you to our repository in GitHub, where you can create pull requests (PRs).

<img width="239" alt="contri" src="https://user-images.githubusercontent.com/88311008/149537205-846d4b30-340c-4ba4-90fb-0eedabf37f4d.png">

[2022-01-14 15:07] kengaderdus commented on #86429
We'll now close this issue #please-close

[2022-01-14 15:12] craigshoemaker commented on #80156
I am going to #please-close this issue as I have added the disclaimer to the article for now and am working on refreshing the article with more detail about how to approach apex domains with registrars like GoDaddy, Google, etc.

[2022-01-14 15:12] #80156 closed

[2022-01-14 15:13] kengaderdus commented on #86427
reassign:kengaderdus

[2022-01-14 15:14] kengaderdus commented on #86427
Dear @skrabbe001,

I already mentioned that you do not need them for that Chocolatery, Visual Studio Build Tools or Python etc..

I also mentioned in your other issue (https://github.com/MicrosoftDocs/azure-docs/issues/86429) that you can make contributions in our docs.

We'll now close this issue. #please-close.

[2022-01-14 15:14] #86427 closed

[2022-01-14 15:19] skrabbe001 commented on #80526
Yes that is the sample. I have concentrated on developing the APIS, DB and SPA and ignored authentication since we last wrote.

I will try again in a months time - since time have passed, you can remove or close this thread. I will create a new thread, if there are still problems with the Azure App configuration.

[2022-01-14 15:20] craigshoemaker commented on #80584
I have added this message to the doc. Thanks, @piquet-h!

#please-close

[2022-01-14 15:20] #80584 closed

[2022-01-14 15:24] ChaitanyaNaykodi-MSFT commented on #86428
Hello @durayakar, Thank you for your feedback. I have made a PR to address this issue.

[2022-01-14 15:26] edwin2804 commented on #66112
@JayaChatterjee-MSFT  - We do have similar requirement where we have an function app inside VNET private endpoint for ingress , function app is setup as event trigger and event grid doesn't have VNET integration option enabled , is there any solution for such requirement ?

[2022-01-14 15:27] John-HLC commented on #80156
Thanks @craigshoemaker

[2022-01-14 15:34] ntziolis commented on #62877
I can confirm this worked for us as well. I'm max admin / owner on both mpn & azure. Couldn't verify / trying every couple of minutes). The found this thread, gave the rights as described in requirements to a colleague => worked on first try.

[2022-01-14 15:35] ntziolis commented on #66693
C&P from this thread: https://github.com/MicrosoftDocs/azure-docs/issues/62877

I can confirm this worked for us as well. I'm max admin / owner on both mpn & azure. Couldn't verify / trying every couple of minutes). The found this thread, gave the rights as described in requirements to a colleague => **verification worked on first try**.

[2022-01-14 15:45] Freia3 opened #86440 ""Custom role definition artifact" - documentation unclear"
I have a question about the page "Custom role definition artifact in Azure Managed Applications".

On this page it says: "It's used to determine what permissions the managed application needs to perform its functions."

What does this mean? Does this mean this file will determine which permissions the managed identity of the managed application will have on the managed resource group?

I've tried

[2022-01-14 15:45] bowcode-cloud opened #86441 "Is this a typo on the "Tutorial: Use a Linux VM system-assigned managed identity to access Azure Key Vault" page"
Is this a typo:

Serving as a bootstrap, Key Vault makes it possible for your client application to then use a secret to access resources not secured by Azure Active Directory (AD).

I think it should read:

Serving as a bootstrap, Key Vault makes it possible for your client application to then use a secret to access resources secured by Azure Active Directory (AD).

Because I think MI grants acce

[2022-01-14 15:46] GeethaThatipatri-MSFT commented on #86376
I'm assigning this to the author for the feedback review.

[2022-01-14 15:47] craigshoemaker commented on #82119
hey, @dreitzner! sorry for the late response here

@mkarmark can you provide some detail here, please?

[2022-01-14 15:48] shashishailaj commented on #86441
@bowcode-cloud Thank you for your feedback . We will review this and engage with the content team to see how best we can update this.

[2022-01-14 15:58] occurance-now opened #86443 "Knowledge Base can't add QnA pair to different source group"
## Knowledge Base can't add QnA pair to different source group

Adding QnA pair to Knowledge Base always adds pair to top most source group. Can't add QnA pairs to different source groups.

[2022-01-14 15:59] asergaz commented on #86425
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate

[2022-01-14 16:02] ShaikMaheer-MSFT commented on #86423
@waltheed Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-01-14 16:04] kenwith commented on #86232
Thank you for taking the time to open an issue and help improve the content. @chmutali is the expert on this one and agrees with the idea and will be taking a look at updating the article.

[2022-01-14 16:05] ShaikMaheer-MSFT commented on #86421
@chaisen2006 Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-01-14 16:10] lipalath-ms commented on #86395
@cgillum To answer your question, I can see traces after removing the filter, I do see traces (Please see below):

![image](https://user-images.githubusercontent.com/6519992/149547316-9e333259-412c-4f3f-8ef8-6460414b54ab.png)

The only update I made is in host.json. Is there any update that needs to be done in the code to see the traces with customDimensions.Category filter?

[2022-01-14 16:18] duanecr opened #86444 "Duplicated sentence"
On the section, https://docs.microsoft.com/en-us/azure/expressroute/expressroute-howto-erdirect#before-you-begin, the first sentence is repeated twice in the first paragraph of that section.  The second sentence needs to be removed.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53b762f9-8c20-3648

[2022-01-14 16:33] LitKnd commented on #84479
Thank you for your patience on this, @VitalyMCT .

I've just been able to sign off on our internal Pull Request. This fix should go out and be published during the business day today.

Thanks again for helping us improve the docs!

Kendra

#please-close

[2022-01-14 16:33] #84479 closed

[2022-01-14 16:44] #86428 closed

[2022-01-14 16:45] #86444 closed

[2022-01-14 16:47] LitKnd commented on #86195
Hi @m60freeman ,

Thanks for the kind words :)

To query the vCores, you only need this simpler query:

[code]

If you are in the scenario where you have "extra" vCores they will appear in sys.dm_os_schedulers like any other vCore.

Hope this helps,
Kendra

[2022-01-14 16:51] ebolton-cyber commented on #85182
#assign: @sharroy

[2022-01-14 16:52] PRMerger-2 commented on #85182
The following users don't have valid GitHub IDs, or are not collaborators on this repo: sharroy

[2022-01-14 16:56] psignoret opened #86445 "Need updated screenshots, including admin consent workflow"
The screenshots should be refreshed (the publisher verification icon is gray now), and this article should include details and screenshots illustrating the user experience when the admin consent request workflow is configured.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3eef3157-a963-a2d8-0af7-e930d268c455
* Version

[2022-01-14 16:56] DesiGhodi opened #86446 "Azure ML Studio - unable to visualize the scored and evaluated models"
[Enter feedback here]

Hi,

I created the pipeline per instructions on your page below in my Azure Machine Learning Studio workspace, and was able to get the pipeline submitted and completed. However, when I right click the Evaluate model component, I don't see a Visualize option. I did try to preview the data,

![image](https://user-images.githubusercontent.com/23018846/149553915-7f7bf766-2bb0-45

[2022-01-14 16:57] psignoret commented on #86445
#re-assign:@eringreenlee

[2022-01-14 16:58] psignoret commented on #86445
#assign:@eringreenlee

[2022-01-14 17:04] vhorne commented on #82956
OK, examples are merged.
#please-close

[2022-01-14 17:04] #82956 closed

[2022-01-14 17:09] aralvar commented on #83773
@ChaitanyaNaykodi-MSFT any update

[2022-01-14 17:10] aralvar commented on #83615
@asudbring any update?

[2022-01-14 17:15] craigshoemaker commented on #83847
@miwebst - what are the session limits and capabilities?

[2022-01-14 17:20] KranthiPakala-MSFT commented on #86437
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-01-14 17:20] mumian commented on #86393
@roalexan - thank you for your comment.  I will add a sample to the article.

#please-close

[2022-01-14 17:20] #86393 closed

[2022-01-14 17:39] nastassiar opened #86449 "Missing link for Call Server REST API"
All of the other REST APIs have links to their API documentation for example SMS: https://docs.microsoft.com/en-us/rest/api/communication/sms

There doesn't appear to be one for the Call Server API.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9bf0c37-e7bb-0546-6598-3f78437ecfee
* Version Independent ID: 8af63f8f-79

[2022-01-14 17:42] DerekHerman-MSFT commented on #86301
Setting this to a numeric value removes the error. I believe the doc is incorrectly stating that it should be set to true.

I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-14 17:51] cgillum commented on #86395
@lipalath-ms This is also odd. The logs shown in your screenshot are verbose [Durable Task Framework logs](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-diagnostics?tabs=csharp#durable-task-framework-logging), which I wouldn't expect to see coming through without some additional host.json configuration. Do you have any additional logging configuration in your hos

[2022-01-14 17:55] DerekHerman-MSFT commented on #86420
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-14 18:06] CaitlinV39 commented on #85197
#please-close

[2022-01-14 18:06] #85197 closed

[2022-01-14 18:06] cgillum commented on #86395
This doesn't look right. From your screenshot, are you not seeing any values for `customDimansions_Category`? I think something may be wrong with the tracing pipeline in your app. What version and language of the Functions runtime are you using? Are you using .NET and injecting any dependencies? I hear often of cases where tracing can get messed up due to certain conflicting dependencies getting i

[2022-01-14 18:37] craigshoemaker commented on #85404
fixed - thanks, @TLKG!

#please-close

[2022-01-14 18:37] #85404 closed

[2022-01-14 18:45] jenniehubbardDB commented on #86304
Thank you for reporting this. We have opened an issue to fix this - DOC-3811.

[2022-01-14 18:49] kobulloc-MSFT commented on #86430
@llk7rt Thank you for bringing this to our attention.  I'll submit a PR to make it clearer to the reader that the SDK may already address this.

[2022-01-14 18:50] craigshoemaker commented on #83770
I have added a sample *launch.json* to the article. Thanks for your feedback, @dwmuller!

#please-close

[2022-01-14 18:50] #83770 closed

[2022-01-14 18:50] jenniehubbardDB commented on #86252
Thank you for reporting this. We have filed a ticket to fix this issue - DOC-3811

[2022-01-14 19:13] SamaraSoucy-MSFT commented on #85978
I'm going to close the issue here as no updates to the docs are needed.

[2022-01-14 19:13] #85978 closed

[2022-01-14 19:14] mike-urnun-msft commented on #86422
Hello @VeeraMS - Thank you for your feedback! We will review and update as appropriate.

[2022-01-14 19:15] sumeetmittal commented on #86104
There are some fine details:  LinkID is unique per service. Same service resource can't be connected to different PEs with same LinkIDs.  Also, once the PE is deleted, its available and other customer/tenant creating PE could be assigned the same.

[2022-01-14 19:19] MonikaReddy-MSFT commented on #86443
@occurance-now - Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-01-14 19:21] heckmanjim commented on #86396
I reached out to someone with collection administrator privileges and they were able to register the app.  The note regarding needed privileges may be inaccurate.  I have to say the remainder of this isn't super clear.  For example, localhost is used in for domain and call back and privilege xml.  Can those exact values be used or are there more realistic values that should be used?  It would be h

[2022-01-14 19:28] jenniehubbardDB commented on #86344
support-request

[2022-01-14 19:31] sebansal commented on #86435
@FabianGonzalez-MSFT in the doc, i could not find -----BEGIN PKCS7

[2022-01-14 19:31] MarileeTurscak-MSFT commented on #86391
They are these settings that are under the Authentication menu in the app registration:

You need the ID token if you are using hybrid flow, since it mixes implicit grant with the authorization code. In this case the application requests an ID token when it requests the authorization code. Authorization Code Flow by itself uses
 code instead of id token. https://docs.microsoft.com/en-us/azure/acti

[2022-01-14 19:31] #86391 closed

[2022-01-14 19:33] b-hchen commented on #86420
@RutgerKosters  -- Thanks as always!

@b-ahibbard - Andrew, would you mind running the suggested addition by PM and then implement this change?  Thanks!

[2022-01-14 19:36] b-hchen commented on #86420
#assign: @b-ahibbard

[2022-01-14 19:39] RyanHill-MSFT commented on #86449
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-14 20:12] santiagxf opened #86452 "JSON schema mentions the property traffic, but it is not listed on YAML syntax"
According to `https://azuremlschemas.azureedge.net/latest/managedOnlineEndpoint.schema.json` there is a property called `traffic`, but it is not listed in the section [YAML Syntax](https://docs.microsoft.com/en-us/azure/machine-learning/reference-yaml-endpoint-managed-online#yaml-syntax). Please update whichever document is outdated.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2022-01-14 20:12] ahalwright1 commented on #86398
I have been trying to follow the directions in the website https://docs.microsoft.com/en-us/azure/virtual-machines/linux/quick-create-cli.

I have been using the Azure CLI which has versions for both Linux and Powershell.

On Linux (CentOS8)

In Windows Powershell, I did the command:
az vm create --resource-group myResourceGroup  --name myVM  --image UbuntuLTS --admin-username azureuser   --public

[2022-01-14 20:21] gdotv opened #86453 "Submitting a graph visualization partner request"
Hi,

Is there a submission process for Azure Cosmos DB Graph Visualization Partners? I maintain a solution called G.V(), which is a free Gremlin IDE compatible with Azure Cosmos DB that also provides graph visualisation features. You can find out more at https://gdotv.com.

Regards,
Arthur

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2022-01-14 20:26] craigshoemaker commented on #84536
Thanks, @miketheitguy! The Hugo preset now emits `output_location: "public"` and provides a successful build, so I am going to #please-close this issue.

[2022-01-14 20:27] #84536 closed

[2022-01-14 20:29] John-HLC commented on #85886
@mkarmark - just realized you may have meant static web app name in azure... not GitHub project names.
Static Web App Name =  HLCAppWebDEV

[2022-01-14 20:38] BryanTrach-MSFT commented on #83092
@mrsegen We would like to work with you on this matter offline. Can you please email us at brtrach@microsoft.com with the subject as ATTN: Bryan and in the body of the email please include your Azure subscription ID.

We look forward to your reply.

[2022-01-14 20:41] Grace-MacJones-MSFT commented on #86094
Hi @metoule, thank you so much for your patience. I was able to confirm that they were changes made in the portal and the screen shots in this doc are outdated. `Container settings` have been moved to the` Deployment Center` blade.

This doc will be updated by the doc author soon. cc: @msangapu-msft

![container settngs](https://user-images.githubusercontent.com/42247081/149582287-909d9497-9588-4d

[2022-01-14 20:41] #86094 closed

[2022-01-14 20:41] miketheitguy commented on #84536
Awesome! Appreciate it!

[2022-01-14 20:48] bsaxbergMS opened #86454 "IOPS/Mbps information"
[Enter feedback here]

Can we get the IOPS/Mbps spec information for the V4 of this VM Family?  The V3 shows that data table.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ab91be7-f262-4258-aa73-64a35e3d9ae4
* Version Independent ID: 93dc517e-720e-60bd-57b9-63a374d62a1f
* Content: [NVv4-series - Azure Virtual Machine

[2022-01-14 21:07] JimacoMS4 commented on #85124
@rido-min PR has merged (live at 3pm). Closing this one. Thanks for your help on it!

#please-close

[2022-01-14 21:07] #85124 closed

[2022-01-14 21:12] JimacoMS4 commented on #77185
@algattik Thanks again for all your help with this! As stated above, the changes we agreed on are now live. At this time, I'm going to close this issue. If you think the issue needs to be further addressed, please open a new one.

#please-close

[2022-01-14 21:12] #77185 closed

[2022-01-14 21:14] JimacoMS4 commented on #72866
@rido-min the changes we agreed on have merged and will go live at 3pm. At this time, I'm going to close this issue. Thanks for all your help on this!

#please-close

[2022-01-14 21:14] #72866 closed

[2022-01-14 21:24] rido-min commented on #72866
the changes we approved addressed the reconnection flow, this issue is about something else.

I think we should keep it open until we agree how to report back desired properties

[2022-01-14 21:32] roberts2727 opened #86455 "please update examples to not use beta version of ingress"
it seems the beta version is deprecated and throws warnings when deploying

Warning: extensions/v1beta1 Ingress is deprecated in v1.14+, unavailable in v1.22+; use networking.k8s.io/v1 Ingress

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df590818-cbf1-3473-b408-70b1224977fa
* Version Independent ID: 6b52d0c4-03e3-358

[2022-01-14 21:32] rohitnayakmsft commented on #85833
Thanks @BennyHarding We have intentionally not documented this behavior both for security and marketing reasons. Rather we have a canned RCA that CSS uses when customers reach out to us about results from pentesting

[2022-01-14 21:34] rohitnayakmsft commented on #84942
The scope of docs is limited to public cloud regions only. AFAIK we do not document the equivalent for Gov clouds anywhere

[2022-01-14 21:36] rohitnayakmsft commented on #82747
Please open a support case so we can check this out. I am not able to repro this situation

[2022-01-14 21:37] rohitnayakmsft commented on #75773
I agree. Feel free to submit a docs PR adding this link to the References section of the SQL DB doc page

[2022-01-14 21:42] HeZumbu23 opened #86457 "Would expect Solution without Node here. For pure .net developers."
Would expect Solution without Node here. For pure .net developers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4071ee2-abad-4d21-7f38-346985c152ae
* Version Independent ID: 4c6f16f1-b40f-0933-9305-de14ea7b9f59
* Content: [Set up local development for Azure Static Web Apps](https://docs.microsoft.com/en-us/azure/sta

[2022-01-14 21:47] JimacoMS4 commented on #72866
Actually, we did address the desired properties in that PR (in addition to the reconnection flow). We added important notes to both the device twin and module twin topics to point folks to the right place for IoT PnP. I also created an ADO item: https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1904790 to track longer term work on integrating PnP and Hub docs. I really think that's a pl

[2022-01-14 21:55] lipalath-ms opened #86458 "No results on querying customDimensions.Category"
I added the following lines in host.json

[code]

On running this query:

[code]

I don't see any results. What am I missing?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5bf5562-1289-29da-ebfe-60704ca8cb6c
* Version Independent ID: 9ab410a9-6fe7-c4dd-af3b-2bd1031e94db
* Content: [Diagnostics in Durable Functions - A

[2022-01-14 21:56] scale-tone commented on #86391
Thanks @MarileeTurscak-MSFT , but just to clarify and confirm again:

This page under question is all about JavaScript Single-Page Apps and the new **auth code+PKCE** flow (correct?).
The page instructs us to use the new `@azure/msal-browser` library.
That library (according to our practical experience) does uses that "hybrid flow" you mentioned. At least, as of today.

What that all means, that t

[2022-01-14 22:12] JimacoMS4 commented on #86296
@SatishBoddu-MSFT  @BzSpi I just tried the link as well and it worked for me.

[2022-01-14 22:25] sebansal commented on #86435
Added to the doc

[2022-01-14 22:25] sebansal commented on #86435
#please-close

[2022-01-14 22:25] #86435 closed

[2022-01-14 22:36] kobulloc-MSFT commented on #86454
@bsaxbergMS Thank you for your feedback.  We are reviewing the V4 VMs and will get back to you shortly.

[2022-01-14 23:01] erik-ha-msft commented on #79528
Thank you for your feedback! I've updated the article to address your feedback and the changes should be available soon. #please-close

[2022-01-14 23:02] #79528 closed

[2022-01-14 23:09] kanshiG commented on #86376
https://docs.microsoft.com/en-us/azure/cosmos-db/continuous-backup-restore-frequently-asked-questions#how-much-time-does-it-takes-to-restore-
has the information.

​Warm Regards
Govind Kanshi
| My work hours are in PST from 8.30-5.30. Please do not feel obliged to respond to mails, notifications outside your local working hours. I do make exceptions for customer meetings and internal issues to ext

[2022-01-14 23:15] dlepow commented on #85769
@VitaliyKurokhtin - Do you have any insight into this issue, or whether additional documentation might be needed? Thank you.

[2022-01-14 23:20] rwike77 commented on #85535
Doc updates have merged, so I'll close this now.  Feel free to re-open if you need.  #please-close

[2022-01-14 23:20] #85535 closed

[2022-01-14 23:25] James-Hamil-MSFT commented on #86439
Hi, we are investigating your issue and will update you shortly.

Best,
James

[2022-01-14 23:56] James-Hamil-MSFT commented on #86440
Hi, we are investigating your issue and will update you shortly.

Best,
James

[2022-01-14 23:59] RyanHill-MSFT commented on #86360
Don't use `powershell` as it doesn't have Az.Module. Change your task to AzPowerShell instead; see https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-powershell?view=azure-devops for more details on the task. Or use a script file that will also [install the power shell module](https://docs.microsoft.com/en-us/powershell/azure/install-az-ps?view=azps-7.1.0) in addition to pu

[2022-01-14 23:59] #86360 closed

[2022-01-15 00:17] JasonWHowell commented on #58832
#please-close

[2022-01-15 00:17] #58832 closed

[2022-01-15 00:18] JasonWHowell commented on #68026
#please-close

[2022-01-15 00:18] #68026 closed

[2022-01-15 00:19] JasonWHowell commented on #66672
#label:"doc-enhancement"

[2022-01-15 00:20] JasonWHowell commented on #81639
#label:"doc-bug"

[2022-01-15 00:21] JasonWHowell commented on #84108
#label:"doc-enhancement"

[2022-01-15 00:23] JasonWHowell commented on #68856
Sounds like this one may be resolved with William's last offer of help via email. #please-close

[2022-01-15 00:23] #68856 closed

[2022-01-15 00:39] JasonWHowell commented on #78582
This issue appears resolved.
![image](https://user-images.githubusercontent.com/5067358/149601690-981f39f9-dded-4854-af19-6607e73ed9fe.png)
#please-close

[2022-01-15 00:39] #78582 closed

[2022-01-15 00:40] JasonWHowell commented on #74857
The link appears to be working now. Closing this one out #please-close

https://databricks.com/blog?s=delta

[2022-01-15 00:40] #74857 closed

[2022-01-15 00:43] JasonWHowell commented on #61552
This link is repaired now.
![image](https://user-images.githubusercontent.com/5067358/149601901-c898286c-c60c-451e-8ed5-7f7ff04cdb72.png)

Points to https://docs.microsoft.com/en-us/azure/databricks/applications/machine-learning/ml-quickstart

#please-close

[2022-01-15 00:43] #61552 closed

[2022-01-15 00:46] JasonWHowell commented on #61228
@lurifaxel Can you please take a look at the latest reply in this issue #61228 -

Paul had tried it out and had some follow-up questions after doing so. If it's been too long, and you've moved onto other projects, that's fine too, please let us know so we don't waste additional effort.
Thanks, Jason

[2022-01-15 00:48] abondoa opened #86460 "Typo with the Preview Feature name"
There seems to be a typo with the Preview Feature name

"SFTP support in Azure Blob Storage" -> "SFTP support for Azure Blob Storage"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7d93704-cc4c-04a0-beb4-84983853cbb1
* Version Independent ID: c999a603-b02d-a56d-1bef-0cd4916b6a2b
* Content: [Connect to Azure Blob Stora

[2022-01-15 00:54] v-samkite opened #86461 "minor trouble following instructions"
When I came to this, I was coming from the standpoint of never having used Databricks, and wanting to get an R/studio open source up and running to test a preexisting shiny project.

The wording of how the script step and access to R Studio has to be used could use some clarity:

1) Make a cluster. It seems like a requirement, but the instructions read like you perform them before making a cluster

[2022-01-15 00:55] JasonWHowell commented on #54342
#please-close

[2022-01-15 00:55] #54342 closed

[2022-01-15 00:56] JasonWHowell commented on #75434
#please-close

[2022-01-15 00:56] #75434 closed

[2022-01-15 00:56] JasonWHowell commented on #75416
#please-close

[2022-01-15 00:56] #75416 closed

[2022-01-15 00:56] JasonWHowell commented on #75144
#please-close

[2022-01-15 00:56] #75144 closed

[2022-01-15 00:56] JasonWHowell commented on #75143
#please-close

[2022-01-15 00:56] #75143 closed

[2022-01-15 00:56] JasonWHowell commented on #74946
#please-close

[2022-01-15 00:56] #74946 closed

[2022-01-15 00:56] JasonWHowell commented on #72264
#please-close

[2022-01-15 00:56] #72264 closed

[2022-01-15 00:57] JasonWHowell commented on #67314
#please-close

[2022-01-15 00:57] #67314 closed

[2022-01-15 00:57] JasonWHowell commented on #66116
#please-close

[2022-01-15 00:57] #66116 closed

[2022-01-15 00:57] JasonWHowell commented on #65713
#please-close

[2022-01-15 00:57] #65713 closed

[2022-01-15 00:57] JasonWHowell commented on #64565
#please-close

[2022-01-15 00:57] #64565 closed

[2022-01-15 00:58] JasonWHowell commented on #63676
#please-close

[2022-01-15 00:58] #63676 closed

[2022-01-15 00:58] JasonWHowell commented on #62739
#please-close

[2022-01-15 00:58] #62739 closed

[2022-01-15 00:58] JasonWHowell commented on #62044
#please-close

[2022-01-15 00:58] #62044 closed

[2022-01-15 00:58] JasonWHowell commented on #59439
#please-close

[2022-01-15 00:58] #59439 closed

[2022-01-15 00:58] JasonWHowell commented on #58912
#please-close

[2022-01-15 00:58] #58912 closed

[2022-01-15 00:58] JasonWHowell commented on #58662
#please-close

[2022-01-15 00:58] #58662 closed

[2022-01-15 00:58] JasonWHowell commented on #58587
#please-close

[2022-01-15 00:58] #58587 closed

[2022-01-15 00:59] JasonWHowell commented on #56875
#please-close

[2022-01-15 00:59] #56875 closed

[2022-01-15 00:59] JasonWHowell commented on #56891
#please-close

[2022-01-15 00:59] #56891 closed

[2022-01-15 01:07] JasonWHowell commented on #53487
Seems like it should be central --> c
dbartifactsprodcacentral.blob.core.windows.net --> dbartifactsprodcus.blob.core.windows.net

[code]

[2022-01-15 01:07] VitaliyKurokhtin commented on #85769
Yes, that is actually an error in documentation. We do not support renewal-period for api or operation elements.

[2022-01-15 01:09] zxue commented on #85660
Thanks for the suggestion. We've created a PR to revise the doc.

[2022-01-15 01:12] JimacoMS4 commented on #39536
Hi @shindigo.

Since you filed this issue, we now have proxy samples available for several of our device SDKs. For example:

- [Node.js](https://github.com/Azure/azure-iot-sdk-node/blob/main/device/samples/javascript/device_through_proxy.js)
- [Python](https://github.com/Azure/azure-iot-sdk-python/blob/main/azure-iot-device/samples/async-hub-scenarios/send_message_via_proxy.py)

It's been some tim

[2022-01-15 01:12] zxue commented on #85660
#please-close

[2022-01-15 01:12] #85660 closed

[2022-01-15 01:12] JimacoMS4 commented on #39536
#please-close

[2022-01-15 01:12] #39536 closed

[2022-01-15 01:39] JimacoMS4 commented on #69174
Hi @IanMercer Thanks for your feedback, and I'm sorry that it's taken so long for us to respond. I think some responsibilities shifted around on the documentation team.

- With respect to your main question about whether message routing supports connection state events, it looks like, since you filed this issue, the documentation has been updated to say: "Yes, message routing can be used for telem

[2022-01-15 02:32] robertmclaws commented on #8390
Hello everyone. Quick question: It's 2022, why don't App Service Certificates move with the App Service when they are relocated to a different Resource Group? Why are NEW App Service Certificates created in old Resource Groups after App Services are moved? Why is this still such a problem?

[2022-01-15 05:01] YutongTie-MSFT commented on #86446
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-15 05:35] cpdohert opened #86462 "ARM template for deploying flexible MySQL server is incorrect, references wrong API version"
The sample ARM template provided does not pass basic linting as many of the fields used are not correct for the specified API version (2021-05-01)

See here for the 2021-05-01 API specification: https://docs.microsoft.com/en-us/azure/templates/microsoft.dbformysql/2021-05-01/flexibleservers?tabs=json

In particular, note that `publicNetworkAccess`, `haEnabled` and `storageProfile` are not valid pr

[2022-01-15 07:28] ladykraken opened #86464 "HTTP/1.1 200 OK Content-Type: application/jekyll; charset= {"MsKraken":3,"theladykproject":"onmicrosoft","dateCreated":"2014-09-04T12:11:38.0376089Z","562":{"Main East":"1","Hawkesbury":"Ontario","Canada":"CA","PostalCode":K6A 1A9}}"
Skip to content
Sign up
￼
pmarsceill
/
just-the-docs
Public
Code
Issues
84
Pull requests
61
Discussions
Actions
Projects
Security
Insights
Select workflow
￼
Create status badge
￼
Create status badge
￼
Branch
add-publishing-workflow
Event
￼
registry_package
￼
 Copy status badge Markdown
1 workflow run
Event
Status
Branch
Actor
.github/workflows/node.js.yml
.github/workflows/node.js.yml #1: by desig

[2022-01-15 10:10] metoule commented on #86094
@Grace-MacJones-MSFT not accepted as closed.

Thanks for your reply! The Deployment center blade indeed contains the container information when the webapp is first created, which I was able to confirm:

__HOWEVER__ if the webapp is then deployed via an Azure pipeline, the Deployment center blade is overridden with information from the deployment pipeline, and the container information is lost:

Ou

[2022-01-15 11:23] shashishailaj commented on #86452
@santiagxf Thank you for your inputs . We will engage with the content team to review this request and update as necessary .

[2022-01-15 11:25] shashishailaj commented on #86453
@gdotv Thank you for your request . We probably can do it through Azure marketplace program as far as I think . However I am assigning this to the relevant team in case they have any specific inputs on the same.

Thank you.

[2022-01-15 11:27] shashishailaj commented on #86455
@roberts2727 Thank you for your feedback . We will investigate and update the thread.

[2022-01-15 11:29] shashishailaj commented on #86457
@HeZumbu23 Thank you for your request . We will take this to the content team and see what can be done here.

[2022-01-15 11:34] shashishailaj commented on #86461
@v-samkite Thank you for your feedback . We will investigate and update the thread.

[2022-01-15 11:37] shashishailaj commented on #86460
@abondoa Thank you for your feedback . We believe this should be correct as the SFTP feature is incorporated within the Azure Blob storage product However we will review this with the content author to check the same and update the thread accordingly .

[2022-01-15 11:46] shashishailaj commented on #86462
@cpdohert Thank you for your inputs . We will investigate and update the thread.

[2022-01-15 11:51] shashishailaj commented on #86464
@ladykraken Thank you for your query. We are not sure we understand the issue you have. We use azure-docs github repo for azure documentation enhancement . DO you have any issue with content of any documentation ? If yes , please do share the details and the link to the azure documentation and we will be happy to work on the same. In case you are facing some issue and require help with troubleshoo

[2022-01-15 12:56] lightningdevelopermain opened #86466 "Checking if resource exists example"
[Enter feedback here]
The conditional deployment stating newOrExisting argument into the template doesn't make sense. What would be ideal is to have a method in the template to check if a resource ALREADY exists, then don't attempt to deploy it. If you have to pass in an argument to state that the resource exists then its not really accomplishing much. Is the user expected to hardcode that argumen

[2022-01-15 13:45] eric-urban commented on #86013
@vthukral94 - For JavaScript in browser you can use `null` instead of `undefined`. I hope this helps! We are updating the documentation.

[2022-01-15 13:45] eric-urban commented on #86013
#please-close

[2022-01-15 13:45] #86013 closed

[2022-01-15 14:29] db422 opened #86467 "DDoS simulation link is wrong."
[Enter feedback here]
The link of breakingpoint cloud is wrong, you point it to "https://www.keysight.com/sg/en/products/network-security/breakingpoint-cloud.html". It should be pointed to the following link directly.

https://breakingpoint.cloud/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad68687a-d309-25e2-dc73-3

[2022-01-15 15:01] NaincyKumariKnoldus commented on #86467
Hey @db422 and @PRMerger4 Can I do this please?

[2022-01-15 15:02] AjayKumar-MSFT commented on #85498
Apologies for the delay on this, Mike and Timo.   @craigshoemaker, requesting your comments on this. Thanks!

[2022-01-15 16:48] gdotv commented on #86453
Thanks for the quick response, I've gone ahead and applied to the Microsoft Partner Network but I'll be available for specific inputs from the relevant team, if any.

[2022-01-15 17:29] sameerjyani opened #86469 "Wrong Explanation for "Until" in point 3"
Hello,

Point 3 in explanation says opposite of how actually Until works. -

_**"If the expression evaluates to true, the Until activity will execute all its child activities again. When it evaluates to false, the Until activity will complete."**_

But In realty -

**"If the expression evaluates to **False**, the Until activity will execute all its child activities again. When it evaluates to **Tr

[2022-01-15 18:11] GLComputing opened #86471 "The description for AZCM0042 in this article can be a different error"
[Enter feedback here]
Adding on-premises servers to Azure Arc via the OnBoarding script. All worked except the Exchange server called "Exchange"

level=error msg="Failed to AzcmagentConnect ARM resource" Message: The resource name 'Exchange' or a part of the name is a trademarked or reserved word. Code: ReservedResourceName httpStatusCode:400 "
level=info msg="Exit Code: AZCM0042: Failed To Create

[2022-01-15 21:41] JimmyBanks commented on #83128
Has this now been resolved?

[2022-01-15 22:23] ajlane17 opened #86474 "Requesting Clarification of Application Gateway Limits Footnote"
I'm looking to confirm the superscript "1" note for the "Application Gateway Limits" section. Are the real limits when using the WAF v2 SKU 40 for every individual limit noted? For example, are the total listeners active or otherwise 40? I need to know if the WAF v2 SKU is really reduced to a limit 20 active listeners if I define an individual https redirect for each of them.

---
#### Document De

[2022-01-15 22:54] bgoswamicontact opened #86475 "UI does not show the attached route table name in details view"
A subnet has an attached route-table
![subnet-with-route-table](https://user-images.githubusercontent.com/19658733/149640106-6a05a9b6-a6b5-471e-9b8b-5bb5ec25c3bc.png)

But on opening the details view, the route-table does not appear
![details-view](https://user-images.githubusercontent.com/19658733/149640156-982c7be4-301f-45ab-93af-7d0e2acfba6b.png)

[2022-01-15 23:48] savjani commented on #83128
Unfortunately not yet. Our release trains are running late and we are targeting in Feb for the rollout. Are you able to workaround the issue by using 8.0.27 or lower version of the client

[2022-01-16 06:30] BryanTrach-MSFT commented on #86467
@db422 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-16 06:56] shashishailaj commented on #86466
@lightningdevelopermain Thank you for your query . We will investigate and update further.

[2022-01-16 06:57] shashishailaj commented on #86469
@sameerjyani Thank you for your feedback . We will investigate and update the thread.

[2022-01-16 06:59] shashishailaj commented on #86471
@GLComputing Thank you for your inputs . We will investigate and update the thread.

[2022-01-16 07:03] shashishailaj commented on #86474
@ajlane17 Thank you for your query . We have assigned this to the content author for review and updating the document if needed.

[2022-01-16 07:09] shashishailaj commented on #86475
@bgoswamicontact Thank you for your query . We use azure-docs repository for document enhancement . Could you please let us know which document you were following while creating this subnet and we will help you further on this ?

[2022-01-16 07:38] monaka commented on #24942
Same here.

In my case, I deleted all nodepools in my AKS. (So yes, my cluster was running with `--enable-vmss`.)
And my cluster become returning `Operation failed with status: 'Bad Request'. Details: AgentPool APIs supported only for clusters with VMSS agentpools. For more information, please check https://aka.ms/multiagentpoollimitations` after deletion.

Just a guess but does AgentPool API requ

[2022-01-16 08:49] assafsl opened #86479 "Typo in `createAutoscaledThroughput` wrong capitalization"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ab1e9e0-c5b1-b219-ee39-4252926aff6f
* Version Independent ID: a8f6ada3-9310-d2f9-401b-72b69bf4d76a
* Content: [Provision autoscale throughput in Azure Cosmos DB SQL API](https://docs.microsoft.com/en-us/azure/cosmos-db/sql/how-to-provision-autoscale-

[2022-01-16 11:12] rjk opened #86480 "Should telemetryClient.Flush() be called on application shutdown for ASP.NET Core?"
It was previously the case that we should register an ApplicationStopping handler and call telemetryClient.Flush() then wait a couple of seconds to ensure the app insights buffer is flushed e.g. [blog article](https://devblogs.microsoft.com/premier-developer/application-insights-use-case-for-telemetryclient-flush-calls/). It'd be good to mention in this article, either with an example if it's requ

[2022-01-16 13:20] guangying94 opened #86481 "Set usage quota by subscription description"
There's typo on "Set usage quota by subscription" section, under the "Policy statement", the xml on **api** shouldn't end first (second line, extra **/**).

Furthermore, I would also suggest updating the description of "renewal period", where we only need to declare once if we intend to limit by API or by Operation.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.m

[2022-01-16 13:27] liatnetach opened #86482 "unable to finish code exchange flow from native app"
Hi,

We're trying to use Azure AD as SSO / OIDC provider for both our web and native application.
The web flow works as should (they use https redirect url)
We have an issue to finish the code exchange flow in the mobile side (costume scheme for the redirect url f.e- myapp://oauth/...)
we registered the mobile redirect url under **Mobile and desktop applications** (we are using react native)

firs

[2022-01-16 14:07] eric-urban commented on #86030
@nath-thomas - Thanks for letting us know! We will update the documentation.

[2022-01-16 14:07] eric-urban commented on #86030
#please-close

[2022-01-16 14:07] #86030 closed

[2022-01-16 14:15] GLComputing commented on #86471
I thought I'd add that the reason is here: https://docs.microsoft.com/en-us/azure/azure-resource-manager/troubleshooting/error-reserved-resource-name

However, it's a nasty surprise that prevents using Azure Arc when it hasn't been an issue for years of use, or even when connecting as Hybrid to a 365 Tennant. As renaming an Exchange Server isn't supported, it means that there's no simple solution

[2022-01-16 14:54] eric-urban commented on #86192
@Chris1234567899 -

Thanks for the feedback! Please try these steps.

Start from the Speech-to-text REST [API reference documentation](https://westus.dev.cognitive.microsoft.com/docs/services/speech-to-text-api-v3-0/operations/CreateHook) and select **API definition** > **Swagger**.

![image](https://user-images.githubusercontent.com/10719770/149664272-4f775c23-9ced-484c-b97c-1b103968ca27.png)

Fr

[2022-01-16 14:54] eric-urban commented on #86192
#please-close

[2022-01-16 14:54] #86192 closed

[2022-01-16 14:59] eric-urban commented on #86225
@Jxlle - Thanks for letting us know! We now have an internal work item tracking the doc improvement.

[2022-01-16 14:59] eric-urban commented on #86225
#please-close

[2022-01-16 14:59] #86225 closed

[2022-01-16 15:00] eric-urban commented on #81507
#please-close

[2022-01-16 15:00] #81507 closed

[2022-01-16 15:02] eric-urban commented on #82701
@bml1g12 - Thanks for the suggestion. We have a work item to clarify such scenarios.

[2022-01-16 15:02] eric-urban commented on #82701
#please-close

[2022-01-16 15:02] #82701 closed

[2022-01-16 15:08] Chris1234567899 commented on #86192
Thanks a lot, this helped.
Yes probably would be good to include this or at least where to find it in the official docs. It's kinda hidden ;-)

[2022-01-16 15:25] lurifaxel commented on #61228
Hi! Yeah, it's been a while and I can't easily find out which version I used at the time. I don't have any issues with this now, so please don't waste any additional effort on my behalf.

[2022-01-16 15:54] NAWABDERA1 opened #86487 "INSHA ALLAH tools to get connected"
It is very good
Nawabdera

[2022-01-16 16:26] shohamMSFT commented on #83857
@michaelmarcuccio The updated timeline for the public preview release of the Auto-Rotation feature is Q1 CY2022. We are also working on removing the "Auto-rotate key" checkbox from the Portal until the feature is ready for preview release. Thanks!

[2022-01-16 18:14] shashishailaj commented on #86479
@assafsl Thank you for pointing this out . We will review and initiate a pull request with the content team  .

[2022-01-16 18:17] shashishailaj commented on #86480
@rjk Thank you for your suggestion . We will investigate and update the thread.

[2022-01-16 19:04] JasonWHowell commented on #61228
Thanks! Have a good weekend #please-close

[2022-01-16 19:04] #61228 closed

[2022-01-16 19:13] norton287 opened #86488 "The example for restoring Versioned Blobs with Soft-Delete Enabled does not work at all. Can this be clarified and maybe update?"
[Enter feedback here]

The provided example for restoring deleted blobs with both soft-delete and versioning enabled with .NET SDK12 does not work.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d82c6eb8-2129-8e58-b5ae-d559fa83ddd1
* Version Independent ID: 4be98994-6bab-fbe6-dd48-b952f4a5d787
* Content: [Manage and res

[2022-01-16 20:10] JozoSlejko commented on #66132
Can the matrix be updated?

[2022-01-16 21:38] MonikaReddy-MSFT commented on #86443
@occurance-now - Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2022-01-16 21:40] MonikaReddy-MSFT commented on #86487
@NAWABDERA1 - Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2022-01-16 22:04] BennyHarding commented on #85833
Thanks for the response @rohitnayakmsft.
Closing item out.

[2022-01-16 22:04] #85833 closed

[2022-01-16 22:37] Frankd4 opened #86490 "This page is outdated. VA is now called Defender for Cloud."
[Enter feedback here]

This page is outdated. VA is now called Defender for Cloud. Please update this page, This page is outdated. VA is now called Defender for Cloud and please update the steps and screenshots.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96e129fb-ad18-ca97-d020-aaf5c6b2c74f
* Version Independent ID

[2022-01-16 23:04] GeethaThatipatri-MSFT commented on #86421
Hi @chaisen2006 this query has been addressed in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/questions/695326/azure-sql-mi-execute-ssis-package-without-azure-ad.html?childToView=697108#answer-697108) you can close this.

[2022-01-16 23:12] leandroamore opened #86491 "second gateway not actually needed and not able to create"
[Enter feedback here]
there is no need of a second gateway. actually, you can't create a new one, it says "in use" the documentation is not clear on this point. I managed to configure ER and VPN on the same gateway.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23d4f079-654e-2053-4654-115a55e9379f
* Version Independen

[2022-01-17 02:40] SubhashVasarapu-MSFT commented on #86491
@leandroamore, Thanks for reaching out. We will investigate and update this thread.

[2022-01-17 02:55] shashishailaj commented on #86481
@guangying94 Thank you for catching this . We will investigate and update the thread .

[2022-01-17 02:57] shashishailaj commented on #86482
@liatnetach Thank you for your query . We use Azure-docs repo for queries related to improvement in the azure documentation . Were you following ay specific document while you found this error ??

[2022-01-17 02:58] shashishailaj commented on #86488
@norton287 Thank you for your feedback . We will investigate and update the thread ,

[2022-01-17 03:00] shashishailaj commented on #86490
@Frankd4 Thank you for catching this . We will engage with the content team to review this request and update accordingly .

[2022-01-17 03:10] yururin opened #86495 "Kafka ESP cluster creating topics steps"
I followed and went through the steps described here and noticed running kinit <domainname> is missing in my case.

ESP Kafka 2.1 (HDI 4.0) cluster.
Just following the steps described does not work.

https://docs.microsoft.com/en-us/azure/hdinsight/domain-joined/apache-domain-joined-run-kafka#create-topics-in-a-kafka-cluster-with-esp

---
#### Document Details

⚠ *Do not edit this section. It is r

[2022-01-17 03:30] ram-msft commented on #86277
We have developed the [NLP-recipes  github repo](https://github.com/microsoft/nlp-recipes) and it has included many SOTA algorithms, like BERT-SUM, PRESUM and abstractive summarization methods from Microsoft Research like UniLM. Our repo uses pytorch and Hugging Faces’s transformer. We have many examples here: https://github.com/microsoft/nlp-recipes/tree/master/examples/text_summarization Please

[2022-01-17 03:30] #86277 closed

[2022-01-17 03:36] pnarsi opened #86496 "Using Trusted Microsoft on AKV with AML"
This mentions that we can use AML experimentation capabilities with a AKV with a firewall enabled by selecting "Allow trusted Microsoft service to bypass the firewall".

![image](https://user-images.githubusercontent.com/7891408/149703677-fb43ba75-30d8-4754-a10d-5c3cba135692.png)

However AML is not listed as a valid trusted Microsoft service on this AKV page https://docs.microsoft.com/en-us/azure

[2022-01-17 03:57] vipulsparsh commented on #86273
@alicain Apologies for delay on this ? Did you use a Work account or Personal account to register the APP in Azure AD.
The apps registered with personal account will not be shown as available.

If you used a work account and the app is still not visible, we would need some more info on the app.
We would need to investigate the App once you provide us with the application ID and tenant name.

[2022-01-17 04:05] ShaikMaheer-MSFT commented on #86495
@yururin Thank you for sharing your feedback. We are actively validating it. We will share updates soon.

[2022-01-17 04:07] SnehaAgrawal-MSFT commented on #86354
@ciufudean Thanks for the feedback! The PR has been created for this will be merge soon.
We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2022-01-17 04:07] #86354 closed

[2022-01-17 04:11] ShaikMaheer-MSFT commented on #86421
@GeethaThatipatri-MSFT Thank you. Closing issue.

[2022-01-17 04:11] #86421 closed

[2022-01-17 04:25] SwathiDhanwada-MSFT commented on #86164
Assigning to content author for doc enhancement

[2022-01-17 04:35] #86163 closed

[2022-01-17 04:37] ShaikMaheer-MSFT commented on #86469
@sameerjyani Thank you for pointing this bug. I created PR for this.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/185222

[2022-01-17 04:55] AnuragSharma-MSFT commented on #86250
@jeanfrancoislarente Thanks for responding back and I understand your concern. This is being assigned to the content author to evaluate and update as appropriate.

[2022-01-17 05:01] ShaikMaheer-MSFT commented on #86469
@sameerjyani PR merged too. Document will be updated in upcoming build soon. Thank you.

[2022-01-17 05:01] #86469 closed

[2022-01-17 05:14] ShaikMaheer-MSFT commented on #86236
@maybrittstoen Making source binary means having a dataset with binary type format.

While creating dataset in ADF, user has to select format type. In format type we should select Binary as format. Kindly check below screenshot.
![image](https://user-images.githubusercontent.com/84302758/149711625-88dc1ab6-5335-4a2e-85a8-eeb85d92dece.png)

@jianleishen  Could you please validate customer feedback

[2022-01-17 05:18] TAREKME opened #86498 "Note : public domain name servers can remove every domain name of your test"
Hello ,

In the important note it is mentioned "public domain name servers can remove every domain name of your test" , should it be "can resolve" instead of "can remove" ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ab71d62-b7e9-adaf-fd27-c18d8b31fdc0
* Version Independent ID: 3f98f710-417f-58ea-1f3f-6d9a5135386c

[2022-01-17 05:24] ShaikMaheer-MSFT commented on #86282
@Jaws1990 I cross verified when `disjoint` is false, "First matching condition" should be selected. It looks screenshot needs to updated here.

@kromerm - Could you please validate customer feedback and update document as appropriate. Thank you.

[2022-01-17 05:32] zjunsen opened #86499 "Apple APP RD Client Problem"
[Enter feedback here]

Use azure china avd for client login, enter "https://rdweb.wvd.azure.cn/api/arm/feeddiscovery" workspace address in the RD Client APP on the Apple iphone, after entering the username and password, always show"set up workspace",can't next
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 524e47b0-1295

[2022-01-17 05:37] Ranjith071GitHub opened #86500 "AVA Sample deployments failing consistently"
Hi,

I am trying to do a POC using the AVA samples given, But all the samples deployment is failings. It used to work before, since last week, sample deployments are failing with following error. I tried different subscriptions and it fails consistently.
Your deployment failed

Deployment name:register-edge-device-on-hub
Subscription:xxxxxx
Resource group:xxxx-RG
Start time:1/17/2022, 10:02:12 AM

[2022-01-17 05:43] ShaikMaheer-MSFT commented on #86229
@hldgithub Thank you for pointing this bug. I created PR for this.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/185223

[2022-01-17 05:47] SG250678 commented on #84310
Any update on this , I am facing similar issue , when selecting 2 legends(series) columns rides_per_day and holiday only rides_per_day is displayed in the chart the black line for holiday is not displayed.

[2022-01-17 05:51] AnuragSharma-MSFT commented on #86479
@assafsl Thanks for your patience. It seems the capitalization is correct. Please refer to below document link:

[ThroughputProperties.createAutoscaledThroughput](https://docs.microsoft.com/en-us/java/api/com.azure.cosmos.models.throughputproperties.createautoscaledthroughput?view=azure-java-stable)

Please let us know if you notice otherwise and we can check accordingly.

[2022-01-17 05:52] AnuragSharma-MSFT commented on #86462
@cpdohert Apologies for the trouble you are facing. This is being assigned to the content author to evaluate and update as appropriate.

[2022-01-17 06:01] pnarsi opened #86501 "CMK Encryption Option in AML Workspace Template"
I was reviewing the AML ARM template and noticed that there is a parameter to pass through a key in AKV to use for "Workspace Encryption". As far as I can tell this Workspace Encryption feature is not discussed in this page. This is some of new feature feature that has been added to the ARM template but hasn't been updated in the docs yet?

There is discussion of hbi_workspace flag on this page bu

[2022-01-17 06:03] PramodValavala-MSFT commented on #86323
@anarchitect Just following up here... Hope my previous comment clears things up.

[2022-01-17 06:10] RohitMungi-MSFT commented on #86452
@santiagxf I think some other properties are also missing in the table. I think the [link](https://azuremlschemas.azureedge.net/latest/managedOnlineEndpoint.schema.json) to complete reference in the Note is the updated reference.

@rsethur could you please check and update the doc if required or we can close the issue as the Note mentions to use the complete reference link in the documentation.

[2022-01-17 06:21] ShaikMaheer-MSFT commented on #86229
@hldgithub PR merged successfully. Document will be updated in next build. Thank you.

[2022-01-17 06:21] #86229 closed

[2022-01-17 06:25] cpdohert commented on #86462
I have since verified that the sku.capacity field and properties.publicNetworkAccess field must be present in the template or deploying the resource will return a ServerNotExist error.  These properties are not part of the spec and are not present in an ARM template exported from an existing MySQL flexible server; I was only able to determine them by exporting the template generated as part of man

[2022-01-17 06:28] ChoOo7 commented on #69246
Any update on this subject ? I have to access to raw CDN logs from my Azure CDN endpoint (Verizon Standard), in front of Azure Media Services streaming endpoint

Thanks

[2022-01-17 06:32] billti opened #86502 "UserInfo page doesn't mention the picture claim"
The page states "_The claims listed here are all of the claims that the UserInfo endpoint can return._", however it doesn't mention the `picture` claim. When I call the UserInfo endpoint for one of my test accounts I see a response such as the below

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b8f22d9-e4a8-5

[2022-01-17 06:47] RohitMungi-MSFT commented on #86496
#https://github.com/MicrosoftDocs/azure-docs/issues/83008

[2022-01-17 07:15] RohitMungi-MSFT commented on #86496
@jhirono Could you please confirm if this is a supported feature with AKV and update the document? I have referenced the issue raised with AKV team which confirms that AML is not listed as a trusted service. Thanks!!

[2022-01-17 07:19] SnehaAgrawal-MSFT commented on #86068
@heinrich-ulbricht Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2022-01-17 07:19] #86068 closed

[2022-01-17 07:27] haoxin commented on #86165
Yes, please close the ticket

[2022-01-17 07:36] liatnetach commented on #86482
@shashishailaj  I can't find documents that relates to my specific case where the flow is done by both mobile and web server...
Where can I ask general questions?..

[2022-01-17 07:39] ChaitanyaNaykodi-MSFT commented on #86455
Hello @roberts2727
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-01-17 08:09] eurog33k opened #86507 "API request requirements not clear"
When I execute the https://graph.microsoft.com/v1.0/applications/app-id call, I get the following error:
{
    "error": {
        "code": "Authorization_RequestDenied",
        "message": "Insufficient privileges to complete the operation.",...

After re-reading the page, I cannot find what privilege I need to activate to be able to do this request.

---
#### Document Details

⚠ *Do not edit this

[2022-01-17 08:47] hkusulja opened #86508 "Update requirements for MFA and client app"
Please double check with Product group and update the documentation page stating the requirements / reference.

In order to use MFA to connect to RDP session host, the only way it is possible to use is using Windows Hello for Business authentication, which is possible only through Windows client as per documentation:
https://docs.microsoft.com/en-us/azure/virtual-desktop/authentication#session-hos

[2022-01-17 09:47] Dmitry-Me commented on #86284
@PriyankaRudramaina The changes are not published yet.

[2022-01-17 09:50] sarah026 opened #86509 "Regulatory Compliance on custom initiative definition"
Hi

The documentations talks about "If Regulatory Compliance is enabled on an initiative definition..." but it doesn't say how to enable that if it isn't? We want to be able to see regulatory compliance data about **custom initiatives**

Can you explain that bit in more details?
Can you also please add powershell details to extract Regulatory Compliance information?

Thanks

---
#### Document Deta

[2022-01-17 10:44] SwathiDhanwada-MSFT commented on #86498
@TAREKME Thanks for your comment. We will review the issue and get back to you shortly.

[2022-01-17 10:54] andresmo001 opened #86511 "Redirect to azure"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-01-17 10:54] #86511 closed

[2022-01-17 10:57] andresmo001 opened #86512 "Feedback"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-01-17 10:57] #86512 closed

[2022-01-17 10:57] chjinche opened #86513 "Why no description of property 'ScheduledTime'"
When I tried logic app and met error like _"cannot be evaluated because property 'Recurrence' doesn't exist, available properties are 'name, startTime, endTime, scheduledTime, trackingId, clientTrackingId, originHistoryName, code, status'. Please see https://aka.ms/logicexpressions for usage details."_

Then I clicked on doc link in the error message, but did not find any description of property '

[2022-01-17 11:04] AnuragSharma-MSFT commented on #86327
@krishnakinnal Thanks for pointing this out. This is being assigned to the content author to evaluate and update as appropriate.

[2022-01-17 11:08] rforster-dev opened #86514 "excludedPaths how do we wildcard all subfolder/file urls?"
It's not clear how we setup excluded paths to include all subfolders/file paths of a specified URL.

For example:

/folder/sub-folder

If there are X amount of files in sub-folder, how do we set it to allow access to all files within the sub-folder? You can do this in the previous authsettings configuration, by using path_prefix - all sub files and folders are allowed to be viewed?

---
#### Docum

[2022-01-17 11:10] VikasPullagura-MSFT commented on #86508
@hkusulja
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-01-17 11:10] VikasPullagura-MSFT commented on #86508
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2022-01-17 11:11] VikasPullagura-MSFT commented on #86499
@zjunsen
Thanks for your Question! We are currently investigating and will get back on this.

[2022-01-17 11:19] amarkevich opened #86516 "unable to upload folder to Azure file share"
only file upload works:

![image](https://user-images.githubusercontent.com/62415/149760526-3ee86103-a984-48fe-a824-663b7c4329e1.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ef60665-5b74-4028-7c47-68cd6b666732
* Version Independent ID: 038f9521-50f6-475e-e626-60d4127290ec
* Content: [Using Storage Explorer with

[2022-01-17 11:20] AshokPeddakotla-MSFT commented on #86296
@BzSpi There is no issue with the doc link. As John and Jimaco mentioned, page is redirected to : https://azure.microsoft.com/en-us/updates/iot-hub-public-network-access-bug-fix/
Let us know if you have any further queries.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will

[2022-01-17 11:20] #86296 closed

[2022-01-17 11:32] AshokPeddakotla-MSFT commented on #86313
@baanders I am unable to modify the details. Please look into this feedback and update the links according.

[2022-01-17 11:41] Karishma-Tiwari-MSFT commented on #86512
Looks like this issue was created by mistake. If you have any feedback for any particular Azure documentation, please share the url of the document and tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-01-17 11:41] Karishma-Tiwari-MSFT commented on #86511
Looks like this issue was created by mistake. If you have any feedback for any particular Azure documentation, please share the url of the document and tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-01-17 11:52] RohitMungi-MSFT commented on #86501
@pnarsi Yes, this is not yet updated in this document. Usually, the ARM template [reference ](https://docs.microsoft.com/en-us/azure/templates/microsoft.machinelearningservices/2021-07-01/workspaces?tabs=bicep#keyvaultproperties)details each property and parameter. I see these parameters are available from API versions 01-01-2020, you can refer to these details and others in the complete reference

[2022-01-17 11:57] kamilkulik commented on #57861
It's 2022 now and run into same issue and same solution by @vnextcoder worked.

[2022-01-17 12:16] aschabus opened #86517 "Clarify the Scope of Trusted Microsoft Services"
Under "Trusted Microsoft Services", the documentation stated that "the following services are granted access to your Event Hubs resources". To avoid confusion and provide more clarity, it would be good to add the scope of the services that will have access to, e.g. same subscription, same tenant, Azure wide.
Would read then (if I understand it correctly): "the following services from within the sa

[2022-01-17 12:16] SumanthMarigowda commented on #86516
@amarkevich  Thanks for your question. We are checking on this and will respond to you soon.

[2022-01-17 12:20] AnuragSingh-MSFT commented on #86471
.

[2022-01-17 12:26] BzSpi commented on #86296
I can ensure you it was broken at some time :smile:.

Thank you for having a look.

[2022-01-17 13:05] vipulsparsh commented on #86502
@billti Thanks for reaching out. We will investigate and update the thread accordingly.

[2022-01-17 13:11] vipulsparsh commented on #86507
@eurog33k  Thanks for reaching out. We will investigate and update the thread accordingly.

[2022-01-17 13:12] vipulsparsh commented on #86509
@sarah026  Thanks for reaching out. We will investigate and update the thread accordingly.

[2022-01-17 13:13] vipulsparsh commented on #86513
@chjinche Thanks for reaching out. We will investigate and update the thread accordingly.

[2022-01-17 13:29] iwafula025 opened #86519 "Link to NRT rules"
Would be good to provide a link to the NRT page as it begins to solve the problem described in this page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6922921b-ec8a-72ec-f9ca-776cdca5c7e0
* Version Independent ID: d4ee2cf1-67fa-7ef4-7242-aff248d64fdb
* Content: [Handle ingestion delay in Microsoft Sentinel](https://do

[2022-01-17 13:33] ciufudean commented on #86360
HI, I've tried your suggestion

- task: ***@***.***
  inputs:
    azureSubscription: 'essity-sub-is-prod-cmn-01'
    displayName: 'Deploy OPC WAR'
    ScriptType: 'InlineScript'
    inline: 'Publish-AzWebapp -ResourceGroupName <...> -Name <...>
-ArchivePath target/opc-0.1.0.war'

and and the error is:

"The pipeline is not valid. Job Job: Step AzurePowerShell input
ConnectedServiceNameARM referenc

[2022-01-17 13:43] ciufudean commented on #86360
Forget that, I passed that error by using a service connection name.
Now I have to fix this one

Az version null not avaiable locally on the agent. Downloading dynamically.
Validate-VersionParameters: Cannot convert value 'null' to type
'System.Version'.

On Mon, Jan 17, 2022 at 3:33 PM Lucian Ciufudean ***@***.***>
wrote:

[2022-01-17 14:19] Ranjith071GitHub commented on #86500
Attached the deployment failed.

Thanks and Regards
Ranjith Paul
Cloud Solution Architect
WCB - Partner Success Team
Mobile:   (+91) 800 880 1741
***@***.******@***.***>
[MSFT_logo_Gray DE sized SIG1.png]

From: VipulSparshMSFT ***@***.******@***.***>>
Sent: Monday, January 17, 2022 6:48 PM
To: MicrosoftDocs/azure-docs ***@***.******@***.***>
Cc: Ranjith Paul ***@***.******@***.***>; Mention ***@*

[2022-01-17 14:22] woutvanduffelspks opened #86520 "Example file"
Can you add an example test file?

Tx

W

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19d21ece-49d2-ba02-f6fd-89b0fa7fc9c3
* Version Independent ID: bad8c1c6-91ad-dde9-85f9-c3d79ddfd6a7
* Content: [Tutorial: Score machine learning models with PREDICT in serverless Apache Spark pools - Azure Synapse Analytics](https:/

[2022-01-17 14:42] TheWhiteWeasel opened #86521 "Policy author role"
Hello!

Since "Policy author" role is now available in Azure Purview Studio, can you please update this page to include the new role as well?

Thank you,
Madalina

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bb9ad75-5aa1-af3d-9f59-073015190950
* Version Independent ID: 467433dd-ade8-5109-eaa5-a2198146b769
* Content:

[2022-01-17 14:44] jephlu opened #86522 "Required DNS resolution for owned DNS (option 3) and Azure DNS resolution : clarification neeeded !"
Hello,

In the documentation, with DNS internally managed (option 3), the requirement for Purview is 21 DNS names to be resolved to the different Private Endpoints (12 for the "portal" private endpoint, 6 for "account PE, 3 for managed ressources).

I have compared with a Full Azure implementation, so a VM in Azure + a purview account called "prvw" with no public access + the 5 purview Private End

[2022-01-17 14:47] batamig commented on #86519
Thanks so much @iwafula025! I'm adding that now and it should be live later today.

I'm going to close this issue, but feel free to continue commenting as needed. We appreciate the contribution!
#please-close

[2022-01-17 14:47] #86519 closed

[2022-01-17 14:48] VikasPullagura-MSFT commented on #86499
@zjunsen

Are the users able to connect from Windows?

This needs to be investigated by support team to get to the root cause as this is not an expected behavior.
Please open a support case.

[2022-01-17 15:01] dgpoulet opened #86523 "Contradictory information in the "what to expect during a region outage" tables."
On this page there are two tables, talking about the same scenario, both called "What to expect during a region outage". In the first table about half way down the page, under the section "Availability Impact" for Multi-Region Writes it says "Possibility of temporary write availability loss, analogously to single write region with service-managed failover. "

Then in the second table called "What

[2022-01-17 15:05] dgpoulet commented on #86095
That's great, thanks. Could we include this information from the API reference in the Manage Consistency Levels documentation? That would make things clearer.

[2022-01-17 15:12] sameerjyani commented on #86469
@ShaikMaheer-MSFT - Thank you . If I am not mistaking you are the creator behind `wafastudies` . Thanks for all the content . It's my go to channel whenever I am stuck anywhere . Good Luck

[2022-01-17 15:35] amandici81 opened #86525 "Wrong behaviour"
Hi

For me when I delete a managed identity it also deletes the identity at the VM level
Maybe this needs updating?

https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/how-manage-user-assigned-managed-identities?pivots=identity-mi-methods-azp#delete-a-user-assigned-managed-identity

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2022-01-17 15:46] ChristianJBergstrom opened #86526 "Update sentence about Office 365 suite"
[Hello, would you mind updating this sentence under 'Office 365' headline: _"Administrators can exclude specific apps from policy if they wish, including the Office 365 suite and excluding the specific apps in policy"_. The wording doesn't make sense here. Perhaps as I'm not native English speaking, but I don't get the phrase (specifically the ending), thanks.]

---
#### Document Details

⚠ *Do no

[2022-01-17 15:49] swupdiedoowap opened #86527 "Adding custom policy sets as security policy"
There seems to be no documentation about how to add your own custom policies as a security policy set via the API (or something like powershell). I had to find out for myself, using the browser debugging tools, that you need to add metadata {"ASC": "true"} in order to do it programmatically.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2022-01-17 16:20] skrabbe001 commented on #86429
The MSAL Node Standalone Sample that you linked, has the same problem. It refers to a guide that uses implicit grant flow.
Do you know where the documentation for business are, that uses PKCE, where the guides they refer to also uses PKCE?

From: Kenga Derdus ***@***.***>
Sent: Friday, January 14, 2022 2:54 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Stefan Krabbe ***@***.***>; Mention ***@**

[2022-01-17 16:26] skrabbe001 commented on #86429
I do not understand why you close issues, when the issue hasn't been fixed on github.  Telling people how to fix it, does not fix the issue. And in this case, it did NOT fix the issue.

Closing issues that have not been fixed in the docs, guides, samples is ... I don't know what to call it, without using offensive language.

[2022-01-17 16:27] skrabbe001 commented on #86429
So, must I create a new issue, to raise the issue again, or ?

[2022-01-17 16:47] uriel-kluk opened #86528 "Add messageSubjectProperty constant to the Node.Js sample"
For the **Node.JS** example, it is missing the `messageSubjectProperty` value.

Developers have to look at the spec to replace `messageSubjectProperty` with `$.sub`.
The suggestion is to add the constant to the sample

In other languages like C#, you do have a constructor for ComponentName that hides the detail but not in Node.Js

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2022-01-17 17:00] jocarv-fte opened #86529 "Wrong pt-pt translation"
[Enter feedback here]

Hi,
I have read the page translation in Portugal Portuguese and it is incorrect
https://docs.microsoft.com/pt-pt/azure/virtual-machines/sizes-b-series-burstable

The translations translated bursted into "blown/exploded"
It's a bit odd, since Brazilian Portuguese is correct: https://docs.microsoft.com/pt-br/azure/virtual-machines/sizes-b-series-burstable

---
#### Document De

[2022-01-17 17:00] azaricstefan commented on #84310
Hi @SG250678 and @GubanovSergey

Tutorial query is updated and screenshots, changes will be visible tomorrow in the docs.

Retry with new query:
[code]

[2022-01-17 17:01] skrabbe001 commented on #86427
I do not understand why the issue was closed. The docs does still do not describe weather to select Chocolatery when installing Node.js for the samples.

[2022-01-17 17:02] PriyankaRudramaina commented on #86165
@haoxin,

Thanks for the update. I shall proceed to close this case. Feel free to get back for any further queries on a new thread.

[2022-01-17 17:02] #86165 closed

[2022-01-17 17:12] PramodValavala-MSFT commented on #86206
@vijayanand-msft Since AAD isn't supported on Logic Apps Standard, you can't directly use this but could proxy requests to your Logic App through another service that does support AAD authentication say an [Azure Function](https://docs.microsoft.com/en-us/azure/azure-functions/functions-overview), even a [Function Proxy](https://docs.microsoft.com/en-us/azure/azure-functions/functions-proxies) sho

[2022-01-17 17:12] #86206 closed

[2022-01-17 17:19] vijayanand-msft commented on #86206
@PramodValavala-MSFT  Thank you for the response. That makes sense, Can we have a statement on the msdocs page to give some information about Logic app standard can be used only with a proxy request and doesnt not work out of box at this moment please.

[2022-01-17 17:36] kengaderdus commented on #86429
#please-open

[2022-01-17 17:37] chasewilson opened #86531 "Typo in image"
[Enter feedback here]

There is a typo in the overview image that should be fixed:

Should be: **Assess**
Is: **Asses**

![image](https://user-images.githubusercontent.com/31453523/149815596-730cb43b-ef82-4137-a41f-01c74ad0f09b.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be686873-b5bc-6158-98e3-a36c044e3e11
* V

[2022-01-17 17:42] nft-legends opened #86532 "How exactly do you Integrate it ?"
"You can integrate it easily with other Azure services that provide data or additional processing, with apps on network servers, or with software running on other cloud platforms."

I don't see any way to do this "integrate with other services" ?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0ce

[2022-01-17 17:45] markjbrown commented on #86327
It's each replica. That's a typo on the second page. Will clean that up.

Thanks for reporting.

[2022-01-17 17:45] SumanthMarigowda commented on #86222
@keremkambur Firstly apologies for the delay response! Can you please elaborate bit more, what exactly are you looking ?

[2022-01-17 17:50] gbryniarski opened #86533 "Incorrect Version shown for - Microsoft.Configuration.ConfigurationBuilders.Azure"
This line: 		<add name="AzureKeyVault" vaultName="stm-poc-dot-kv-east-dev" vaultUri="https://stm-poc-dot-kv-east-dev.vault.azure.net" type="Microsoft.Configuration.ConfigurationBuilders.AzureKeyVaultConfigBuilder, Microsoft.Configuration.ConfigurationBuilders.Azure, Version=1.0.0.0, Culture=neutral" />

Specifies Version 1.x - but the latest DLL is version 2.x

		<add name="AzureKeyVault" vaultNam

[2022-01-17 17:54] kengaderdus commented on #86429
Dear @skrabbe001,

Thank you for the feedback. If you're using MSAL (recommended), MSAL.js 2.0 does not support implicit grant. Enable implicit grant settings only if your app is using MSAL.js 1.0 or does not support Authorization Code Flow with PKCE.

We also noticed that the sample we shared references an article that shows the use of implicit grant flow, when MSAL.js 2.0 does not support it.  W

[2022-01-17 18:12] simonaco commented on #85886
@John-HLC static web app name would be the default hostname, something like icy-coast-05fba4810 . Thanks for sharing the details.

[2022-01-17 18:44] John-HLC commented on #85886
@simonaco - thanks.. here it is:
https://red-smoke-017c67310.azurestaticapps.net

[2022-01-17 18:46] VikasPullagura-MSFT commented on #86529
@jocarv-fte
Thanks for sharing the Feedback.
For the localization issues, requesting you to provide feedback as suggested in this [link](https://review.docs.microsoft.com/en-us/help/contribute/localization-feedback-to-loc-content?branch=master).

[2022-01-17 18:48] VikasPullagura-MSFT commented on #86529
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2022-01-17 18:48] #86529 closed

[2022-01-17 18:49] VikasPullagura-MSFT commented on #86398
@cynthn Can you please add your comments.

[2022-01-17 19:02] BryanTrach-MSFT commented on #86520
@woutvanduffelspks Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-17 19:04] BryanTrach-MSFT commented on #86521
@TheWhiteWeasel Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-17 19:06] BryanTrach-MSFT commented on #86522
@jephlu Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-17 19:07] BryanTrach-MSFT commented on #86525
@amandici81 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-17 19:08] BryanTrach-MSFT commented on #86526
@ChristianJBergstrom Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-17 19:12] BryanTrach-MSFT commented on #86527
@swupdiedoowap Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-17 19:13] BryanTrach-MSFT commented on #86528
@uriel-kluk Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-17 19:14] PriyankaRudramaina commented on #86284
@Dmitry-Me,

Thank you for getting back with the feedback. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-17 19:16] PriyankaRudramaina commented on #86284
@gunnarcms - Please review this, changes did not merge.

[2022-01-17 19:16] BryanTrach-MSFT commented on #86531
@chasewilson Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-17 19:25] BryanTrach-MSFT commented on #86532
@nft-legends Thank you for your question.

There are a couple of tutorials I would suggest checking out, which highlight a few of the ways you can integrate Azure Cognitive Search.

- [Integrate with Web Apps]( https://docs.microsoft.com/azure/search/tutorial-csharp-overview)
- [Attach a Cognitive Services resource to a skillset in Azure Cognitive Search](https://docs.microsoft.com/azure/search/co

[2022-01-17 19:26] BryanTrach-MSFT commented on #86533
@gbryniarski Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-17 20:19] cabermu opened #86534 "Add a Service in Azure subdomains"
Hello Team,

I have been reviewing the Docs for Azure Domains and I have discovered something that I think we can improve.

https://docs.microsoft.com/en-us/azure/security/fundamentals/azure-domains

For example, the following reference mentioned that the domain *.cloudapp.net can be used for both Azure Cloud Service (Classic PaaS) and Azure Virtual Machines (Classic), and it is OK.

Azure Cloud S

[2022-01-17 21:15] ChristianJBergstrom opened #86535 "Application enforced restrictions section need an update"
[Hello, please update that app enforced restrictions are supported not only for SharePoint Online and Exchange Online, but also Office 365 suite. Thanks!]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 609a0eda-f113-8b77-67ee-c5e8bd94cbac
* Version Independent ID: 7468d74e-9a7e-2a11-ba35-da46103a1b80
* Content: [Sessio

[2022-01-17 21:44] DereMann commented on #37092
Same over here. I have environment variables with dots in it coming from the underlying image. Please reopen this issue.

[2022-01-17 22:02] aralvar opened #86536 "Idle timeout ignored when using floating IP"
Please get documented that the idle timeout setting has no impact when customer enables floating IP

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60d899e8-cf6e-a99a-91aa-2d812118854a
* Version Independent ID: a6b53c2f-078d-4c74-0d3d-49118f1ab122
* Content: [Configure load balancer TCP reset and idle timeout - Azure Lo

[2022-01-17 22:40] HeidiSteen commented on #86532
@nft-legends I agree with you that the intro sentence could use some reworking. Integration across Azure is through indexers and AI enrichment, but I don't think the service provisioning article is the right place to lead with that.  Thanks for bringing this to my attention.

[2022-01-17 23:19] HeidiSteen commented on #86532
@nft-legends I deleted that sentence. The previous sentence includes a link to the service overview page which speaks to what the service is and how you'd use it. I bolded the link so that it stands out.  I'm going to close this issue since I think it's resolved, but if you disagree, please feel free to reopen it.

#please-close

[2022-01-17 23:19] #86532 closed

[2022-01-17 23:47] zeinab-mk commented on #85241
We have listed DataFactory (as service tag) and *.frontend.clouddatahub.net as required endpoints:
https://docs.microsoft.com/en-us/azure/purview/concept-best-practices-security#use-network-security-groups
https://docs.microsoft.com/en-us/azure/purview/manage-integration-runtimes#networking-requirements

[2022-01-17 23:47] zeinab-mk commented on #85241
#please-close

[2022-01-17 23:47] #85241 closed

[2022-01-18 00:38] AV25242 commented on #86304
@jenniehubbardDB can I have the link to Doc-3811 so that I can track it.

[2022-01-18 00:52] BryanTrach-MSFT commented on #86534
@cabermu Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-18 00:53] BryanTrach-MSFT commented on #86535
@ChristianJBergstrom Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-18 00:53] ciufudean commented on #86360
OK, nailed that one too.

Eventually I used this task:

- task: ***@***.***
  inputs:
    azureSubscription: 'PIM Prod connection'
    displayName: 'Deploy OPC WAR'
    ScriptType: 'InlineScript'
    inline: 'Publish-AzWebapp -ResourceGroupName rg-prod-pim-01 -Name
pim-01-prod -ArchivePath target/opc-0.1.0.war -Force'
    azurePowerShellVersion: 'latestVersion'

It ran successfully, but note that

[2022-01-18 00:54] BryanTrach-MSFT commented on #86536
@SubhashVasarapu-MSFT Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-18 04:38] DavidKlempfner opened #86539 "Typo in document"
"if you do not one" should be "if you do not have one".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8e5a2ae-2de5-c804-0454-cae175c8bbf3
* Version Independent ID: 5d2ad8bf-2efc-5ed9-0cee-3f4c1bc3d217
* Content: [What is the Microsoft Azure Cognitive Services Translator? - Azure Cognitive Services](https://docs.micro

[2022-01-18 04:41] #86357 closed

[2022-01-18 04:55] SwathiDhanwada-MSFT commented on #86270
@OzBob Thanks for your feedback. Seems like you are using version v1 , we would like you to know about the [next version](https://docs.microsoft.com/en-us/azure/azure-functions/start-stop-vms/overview), which is in preview right now. This new version (v2) offers all the same functionality as this one, but is designed to take advantage of newer technology in Azure. It adds some of the commonly requ

[2022-01-18 05:01] SwathiDhanwada-MSFT commented on #86272
@ciufudean Thanks for the feedback! I have fixed the referenced change, and the change should reflect on the doc within 24 hours.

Assigning to content author @JnHs to review additional feedback.

[2022-01-18 05:19] VikasPullagura-MSFT commented on #86292
@SigvK I checked with internal team on this and it is an expected behavior with Managed Identity.

Got confirmation from product team that team is working on SF MI token service will be able to run in ‘standalone’ mode, so the application’s token acquisition flow would work locally as it would in the cloud. There is no shareable ETA on this.

The documentation will be updated to reflect this soon.

[2022-01-18 05:19] #86292 closed

[2022-01-18 05:20] AnuragSharma-MSFT commented on #86479
@assafsl Awaiting your response on this.

[2022-01-18 05:21] SwathiDhanwada-MSFT commented on #86321
@MarioArriaga92  Thanks for the feedback! I have fixed the referenced change, and the change should reflect on the doc within 24 hours. We will now proceed to close this thread. If there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2022-01-18 05:30] #86321 closed

[2022-01-18 05:32] VikasPullagura-MSFT commented on #86418
@pnarsi Yes, this feature is now GA in all regions.
Please let us know if you see any issues on this.

[2022-01-18 05:56] bensonrlee opened #86541 "Code for the SAP Custom RFC is Missing"
The article provides instruction to create a custom SAP RFC.  However, the code to be put in the custom RFC is not included in the article.  It simply says where to get the output.  Of course, without the code, the custom RFC will not provide any return value at all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64459

[2022-01-18 06:28] MayankBargali-MSFT commented on #86300
@omar-nav Thanks for the feedback. I have added the comment to the code for more clarification and it will be published soon. We appreciate the feedback!

[2022-01-18 06:32] #86300 closed

[2022-01-18 06:32] RohitMungi-MSFT commented on #86539
@DavidKlempfner Thanks for spotting this. I have raised a PR to fix this. This should be updated in the doc after the PR is approved and merged. Thanks!!

[2022-01-18 06:36] dechkovanen opened #86542 "Add Firefox as supported browser"
The article does not mention Firefox as supported browser in the Client Apps section; however, Firefox has added support for client certificates (by default - the feature has existed long before) in version 90 (summer 2021) and the certificate prompt and selection seems to work perfectly from what I've tested.

I tested by logging in on compliant device, using Firefox version 96, and got the certi

[2022-01-18 06:41] Krish-bhardwaj commented on #86542
Hi @PRMerger20  can u assign  me this issue as i am new to opensource contribution

[2022-01-18 06:42] MayankBargali-MSFT commented on #86481
@guangying94 Thanks for catching it. I have updated the document to remove the `/`.
On your second feedback, the [Important section](https://docs.microsoft.com/en-gb/azure/api-management/api-management-access-restriction-policies#SetUsageQuota) does call it out.

Let me know if you have any queries or concerns.

[2022-01-18 06:59] ShaikMaheer-MSFT commented on #86541
@bensonrlee Thank you for sharing your feedback. We are actively validating it. We will share updates soon.

[2022-01-18 07:33] #86481 closed

[2022-01-18 07:52] ravibak opened #86544 "Uninstalling stack component results in VM RDP disconnection."
[Enter feedback here]
The section "Your issue isn't listed here or wasn't resolved", step "Step 1: Uninstall all agent, boot loader, and stack component programs" prompts to stop the below Services
"Remote Desktop Services"
"Remote Desktop Services UserMode Port Redirector"
Which effectively causes VM RDP disconnection.
Document should warn that reboot (or multiple reboots if there is more than on

[2022-01-18 08:02] Gadziu1 opened #86545 "Wrong const declaration"
You can't declare const like this
`const string[] scopeRequiredByApi = new string[] { "access_as_user" };`
It gives error code:
| Severity | Code | Description |
| ----------- | ----------- | ----------- |
| Error | CS0133 | The expression being assigned to 'ProjectsController.scopeRequiredByApi ' must be constant |

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2022-01-18 08:15] sinedied opened #86546 "Postman collection for OID Auth flow unavailable"
When clicking on the "open in postman" button, all I get is an error that the collection does not exist anymore.
It seems there's either an outdated or a permission issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58bc32c3-9e21-a56a-f876-3e750576f228
* Version Independent ID: 83231247-55a8-e69b-0712-8c7b1481a02d
*

[2022-01-18 08:20] PriyankaRudramaina commented on #86544
@ravibak
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@sefriend - Please review this content on the doc.

[2022-01-18 08:44] AnuragSharma-MSFT commented on #86364
@becke-ch-s0-v1 Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-01-18 08:47] NakayamaKento opened #86548 "The list of Requirements"
I guess that we can use RDP shortpath with windows 11 client.
It yes, please update the requirements.

//////
Make sure the remote client machines must be running either Windows 10 or Windows 7 and have the Windows Desktop client installed. Currently, non-Windows clients aren't supported.
/////

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-01-18 09:01] Karishma-Tiwari-MSFT commented on #86548
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-18 09:07] hyoshioka0128 opened #86549 "Typo "Tensorflow"→"TensorFlow""
https://docs.microsoft.com/en-us/azure/databricks/applications/machine-learning/model-inference/dl-model-inference

![dl-model-inference_e](https://user-images.githubusercontent.com/40815708/149905551-60f7861f-1c26-4b9e-9c64-eca3502c4943.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0147aae9-7683-295b-ca1a-df91c5

[2022-01-18 09:10] alana257 opened #86550 "No reference to Defender for Cloud Secure score via API"
Defender for Cloud Portal gives a link to getting your secure score an controls via an API. The link takes you to https://docs.microsoft.com/en-gb/azure/defender-for-cloud/secure-score-security-controls?WT.mc_id=Portal-Microsoft_Azure_Security#getting-your-secure-score-from-the-rest-api

The section "getting your secure score from the rest API" doesn't exist in the document.

---
#### Document det

[2022-01-18 09:13] hyoshioka0128 opened #86551 "Typo "Tensorflow"→"TensorFlow""
https://docs.microsoft.com/en-us/azure/databricks/applications/mlflow/quick-start-python

![quick-start-python_e1](https://user-images.githubusercontent.com/40815708/149906532-3d4f9911-ccb3-4cbe-aa88-3d0af48dee68.png)

![quick-start-python_e2](https://user-images.githubusercontent.com/40815708/149906546-f6efecbc-4c7d-471e-b150-e46bf8451022.png)

---
#### Document Details

⚠ *Do not edit this secti

[2022-01-18 09:18] MayankBargali-MSFT commented on #86513
@chjinche I believe you are getting the error while running your logic app workflow. The document https://aka.ms/logicexpressions has the general guidance of different function expressions in the logic app or power automation.

As per the error looks like you are trying to set the `Recurrence` property that doesn't exist with the trigger/action for which you are setting this property and the suppo

[2022-01-18 09:53] keremkambur commented on #86222
@SumanthMarigowda thank you for the help, if you search for the section 'Optimizing Application Performance', it's not mentioned in the corresponding document.
For example, a sentence from the document: "_Later in Optimizing Application Performance, you will learn about the factors affecting these performance indicators and recommendations to optimize them._" But there is no such section later on

[2022-01-18 09:53] MayankBargali-MSFT commented on #86422
@VeeraMS I believe the below error message you might see when you are using the logic app or function service bus trigger as the error message calls out that you are using the triger.
_Cannot use a trigger on 'test-messages' entity with auto-forwarding enabled.\r\nclientRequestId: 4565662-7fe0-4328-83ea-d5df74d7c652_

From the service bus perspective, the document does call out that it is still po

[2022-01-18 09:56] MischaR commented on #69889
We are actually trying to do the same and the strange thing is that it worked fine just right after we assigned the Authentication Admin role. A day after it doesn't work anymore. Also adding the role Privileged Authentication Admin (actually this just to change also admin users) didn't help.

This is very strange... Did you experience the same problem or is your script still working?
Using the Gl

[2022-01-18 10:07] romankiss commented on #82593
Hi @rido-min, I have just published my article with android implementation, like I mentioned it.

[Azure IoT Central Tester](https://www.codeproject.com/Articles/5322753/Azure-IoT-Central-Tester)

Thanks
Roman

[2022-01-18 10:12] SIkebe commented on #57818
@Jen7714 @SnehaAgrawal-MSFT Any update on this issue?

[2022-01-18 10:26] MayankBargali-MSFT commented on #86458
Closing as duplicate of: #86395

[2022-01-18 10:26] #86458 closed

[2022-01-18 10:33] romankiss commented on #86005
Hi @sandeeppujar, did you have a chance to look at the issue with a Long running commands?

It looks like all behaviour for this feature doesn't work properly:
1. History of _Request/Response_ messages (azure portal and REST API) are not displayed.
2. On the component level
3. the _responseCode_ property is always 202
4. impact issue for responses when cleaning a reported property
5. doesn't handl

[2022-01-18 10:57] SumanthMarigowda commented on #86222
@keremkambur Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-18 11:06] #86358 closed

[2022-01-18 11:09] MayankBargali-MSFT commented on #86358
@smedegaard Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2022-01-18 11:19] Klaas- opened #86552 "Price differences for some constrained VMs"
Hi,
I recently noticed that the Azure Advisor is recommending a M8-4ms instead of a M8ms for one of my virtual machines. That is why I looked into the prices and I noticed that the M8-4ms is actually a little less expensive than the M8ms. From my prior understanding the compute cost for constrained VMs should be same as the non-constrained model. Has that changed or is this a mistake:

Prices West

[2022-01-18 11:46] kengaderdus commented on #85821
Dear @Sabhagat-MS

Thank you for your patience.

If the only request scope is openid, a secret is optional. We've that information in the procedure.

The same info is available in [Set up sign-up and sign-in with generic OpenID Connect using Azure Active Directory B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-generic-openid-connect?pivots=b2c-user-flow#client-i

[2022-01-18 12:00] bj-tukker opened #86554 "json not complete for 'Work with outputs from CLI script'"
I'm looking for a clear example for how to use the output from an AzureCLI deployment script in bicep in a later step with bicep. That part is unclear/vague and can be explained more clearly.

Also, the json in this example is not complete: https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deployment-script-template?tabs=CLI#work-with-outputs-from-cli-script

---
#### Documen

[2022-01-18 12:06] #86272 closed

[2022-01-18 12:13] continue47 opened #86555 "The quick-start guide for creating a Managed HSM: "Clean up resources" should include az keyvault purge"
Hello.

The issue is with this page: https://docs.microsoft.com/en-us/azure/key-vault/managed-hsm/quick-create-cli

If someone follows the steps there and then they delete the resources as mentioned in the article with `az group delete --name ContosoResourceGroup` it will look like the resource went away, they won't find it anywhere on the portal, but they will still be charged daily until the res

[2022-01-18 12:35] anantharamakrishnans opened #86556 "Client Credential Flow - API sample code"
Hello,

In the documentation, client credentials flow with Graph API has been documented.
If a sample code in all supported languages also can be provided for how to write Web API using client credentials flow (as like graph api) it will help.

Thanks and Regards,
Anantha

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-01-18 12:46] #85821 closed

[2022-01-18 13:08] BilalHaniff opened #86557 "Add link to set of configurations that can be set"
Please add the list of configurations that can be set or link to a page where the list can be found (with example).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ccc69f52-d4ce-411d-5fea-aecd1ad29ee4
* Version Independent ID: ccc69f52-d4ce-411d-5fea-aecd1ad29ee4
* Content: [SQL configuration parameters - Azure Databric

[2022-01-18 13:30] vipulsparsh commented on #86542
@dechkovanen Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2022-01-18 13:40] vipulsparsh commented on #86545
@Gadziu1 Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2022-01-18 13:49] jdanton opened #86558 "Clarity around use Log Analytics and SQL Analytics"
My understanding (and I could be wrong) is that the only log destination supported for SQL Analytics is Azure Log Analytics workspace. Could we get some more clarity in the doc to support that, if it is indeed an accurate statement? Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77f273ec-aed5-1f65-0b6d-87240765d

[2022-01-18 14:20] tfitzmac commented on #86466
@lightningdevelopermain - these are issues are for documentation feedback. Feedback about the product should go to [https://github.com/Azure/bicep](https://github.com/Azure/bicep).
#please-close

[2022-01-18 14:20] #86466 closed

[2022-01-18 14:22] iposner-newsig opened #86559 "Broken link in page!"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d9bdbe9-7671-7db4-a123-7a84b0c59711
* Version Independent ID: d3ecd1af-7cce-3ac4-3bd7-ec5a79681fef
* Content: [Sink performance and best practices in mapping data flow - Azure Data Factory & Azure Synapse](https://docs.microsoft.com/en-us/azure/data-

[2022-01-18 14:24] KrishnaG-MSFT commented on #86554
@bj-tukker Thanks for your comment! We will review and provide an update as appropriate.

[2022-01-18 14:26] iposner-newsig opened #86560 "Error in page"
I believe the line that says "option to also *with* the incompatible rows to a log file." should read "option to also *write* the incompatible rows to a log file."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d9bdbe9-7671-7db4-a123-7a84b0c59711
* Version Independent ID: d3ecd1af-7cce-3ac4-3bd7-ec5a79681fef
* Content

[2022-01-18 14:29] KrishnaG-MSFT commented on #86558
@jdanton Thanks for your comment! We will review and provide an update as appropriate.

[2022-01-18 14:41] tfitzmac commented on #86471
@GLComputing - does the error message indicate which resource type is causing the error?

[2022-01-18 14:43] MughundhanRaveendran-MSFT commented on #86382
@lipalath-ms , I see there is a discussion going on for the same issue here https://github.com/MicrosoftDocs/azure-docs/issues/86395
I am closing this issue as a duplicate

[2022-01-18 14:43] #86382 closed

[2022-01-18 14:50] mchiri opened #86561 "MFA still required when accessing Security info page from trusted IPs"
Hello team,

Based on feedback from customers, and various tests, we have noticed that if one user has previously registered for MFA, the MFA challenge is still being triggered even if they are on trusted IPs / federated, using managed mobile devices or Windows devices (the Windows devices are not Hybrid Azure AD Joined).

Can you please confirm (and update the docs) if this is actually the case?

[2022-01-18 14:55] Ashmita20 commented on #54423
Hi All
i am still facing the same issue tried with odbc driver 13 and 17 both. on local in vscode everything is working fine but on portal i am getting {"status": 400, "response": {"error_type": "Bad Request", "error_description": "('HYT00', '[HYT00] [Microsoft][ODBC Driver 17 for SQL Server]Login timeout expired (0) (SQLDriverConnect)')"}}
tried from most of the post but still its  not working
co

[2022-01-18 15:02] ciufudean opened #86562 "Documented method to deploy to Java SE app service does not work"
As documented in another doc page, I am using this line to deploy a self contained Spring Boot app as a jar to a Java SE app service from a DevOps pipeline;

`- script: curl -X POST -u '$(username)':'$(password)' --data-binary @"target/app.jar" https://pim-01-prod.scm.azurewebsites.net/api/publish&type=jar`

Notice I am using the recommended jar name `app.jar`.

These are the issues I noticed:
- t

[2022-01-18 15:03] JoeAtwell opened #86563 "Please clarify that all unhandled exceptions need to be serializable"
It would be helpful if the section on **Unhandled Exceptions** made it clear that ALL unhandled exceptions need to be JSON serializable, even those thrown by third party libraries.

I have recently spent a lot of time chasing down an issue where an exception thrown by a third party library (AutoMapper) contained a suspected reference loop (https://github.com/JamesNK/Newtonsoft.Json/issues/1798). T

[2022-01-18 15:24] tfitzmac commented on #86474
@vhorne - can you confirm the limit for WAF-enabled SKUs?

[2022-01-18 15:26] gollima commented on #76807
But we need to know if the account is compromised. Need to know if the user used a valid user and password so we can reset or block user.

[2022-01-18 15:28] tfitzmac commented on #86474
#label:"application-gateway/svc"

[2022-01-18 15:35] sabrishami commented on #37757
Hi,

@ask-imran
 would you please help me how I can use service account authentication?

I've saved the P12 file on the  IR machine.
for filling Key file path should I consider the direction of P12 file on the VM machine? for example:  C:\Users\<username>\Downloads\continual-modem-314xxxxxxx?

I got this error: [28000] [Microsoft][DriverOAuthSupport] (8706) Unable to find or open file from

Would

[2022-01-18 15:37] JamesTran-MSFT commented on #86546
@sinedied
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-18 15:39] JamesTran-MSFT commented on #86556
@anantharamakrishnans
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-01-18 15:40] baanders commented on #86313
Thank you for raising this!

I'm replacing the outdated Learn links on that page with a link to the latest learning path, [Extend IoT solutions by using Azure Digital Twins](https://docs.microsoft.com/learn/paths/extend-iot-solutions-by-using-azure-digital-twins/), in [this PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/185307).

I'll have Git automatically close this issue once the PR wi

[2022-01-18 15:51] zaicnupagadi opened #86564 "Jobs with status MaintenanceWindowExceeded not shown in Log Analytics"
Hi,

I've noted that I am not able to find jobs with "MaintenanceWindowExceeded", even though I see them in this way in the Azure Portal, when I do distinct on the UpdateRunProgress by the InstallationStaatus over the last 7 days:

UpdateRunProgress
| distinct InstallationStatus

all I got is:

NotStarted
NotIncluded
Succeeded
Download Failed
Install Failed

However I got some jobs visible in the

[2022-01-18 15:53] eliagrady commented on #38257
Thanks @xenalite for your reply - mine was that pesky **HTTPS health probe returning with self-signed / untrusted certificate**

[2022-01-18 15:55] rido-min commented on #82593
very nice !!

[2022-01-18 16:01] pasilvaa opened #86565 "It seems that this documentation is somehow deprecated... in helm 3 the --name flag is no longer suported."
It seems that the --name flag is no longer suported by helm 3 so the documentation seems to be deprecated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 278535cf-7644-a27a-8673-6ff9e3640084
* Version Independent ID: f6a820cc-6f99-9142-6969-6420c20b2fb5
* Content: [How to manage the Container insights agent - Azure Moni

[2022-01-18 16:06] #84768 closed

[2022-01-18 16:08] Fleid commented on #86049
#please-close

[2022-01-18 16:08] #86049 closed

[2022-01-18 16:12] qlycool opened #86566 "Repeating the same code in "Databricks runtime 10.1 ml and below" part"
1. have repeating the same code in "Databricks runtime 10.1 ml and below" part.
2. need delete from the second code "from databricks.feature_store import feature_table" to the end.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cc03f69-69d3-6c22-d745-a01cf2f8ed47
* Version Independent ID: e112383f-09cb-1b2f-6587-36484

[2022-01-18 16:14] kikawash opened #86567 "please add AWS to validated VPN device table"
[Enter feedback here]
Please consider to add AWS VPNGW in validated VPN device. Of course, it is not a physical device, but this info is very helpful for users to check supportability on VPNGW.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 779fbece-f67b-28ef-143e-f58ecfa29b1d
* Version Independent ID: fe532684-022f-90

[2022-01-18 16:14] #86313 closed

[2022-01-18 16:15] kikawash commented on #86567
we have a public document about S2S connection to AWS
https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-howto-aws-bgp

[2022-01-18 16:25] dmarquero commented on #63712
Hi is this available now? Thank you!

[2022-01-18 16:26] craigshoemaker commented on #86457
Thanks, @HeZumbu23 for the feedback!

The Azure Static Web Apps CLI is implemented as a node module, so even for a pure .NET implementation, you'd have to at least use node to run the proxy servers.

Nevertheless, the process in any language/environment is the same: run your UI and API projects and then start the SWA CLI with the `start` command while pointing to your running apps. For example, a

[2022-01-18 16:26] #86457 closed

[2022-01-18 16:28] Vegas588 opened #86568 "Private Endpoint Custom DNS Settings"
There is a lack of documentation on adding custom DNS configurations to private endpoints. For example, when we click on "Add Configuration", we get a new dialog box for adding custom DNS records, but there is no explanation of those fields. This is especially true for "DNS zone group." You need to explain somewhere what this is for, examples and implications.

---
#### Document Details

⚠ *Do not

[2022-01-18 16:35] eric-urban commented on #86183
@jpzpj - This issue will be fixed with SDK 1.20. The ETA is end of January or early Feb. I hope this helps!

[2022-01-18 16:35] eric-urban commented on #86183
#please-close

[2022-01-18 16:35] #86183 closed

[2022-01-18 16:38] jenniehubbardDB commented on #86304
The ticket number is for an internal system. :)

[2022-01-18 16:42] bj-tukker commented on #86554
Hi,
looks like the bicep isn’t being parsed correctly: it is complete in the bicep: azure-docs-bicep-samples/passValue-cli.bicep at main · Azure/azure-docs-bicep-samples (github.com)<https://github.com/Azure/azure-docs-bicep-samples/blob/main/samples/deployment-script/passValue-cli.bicep>

Kind regards/Met vriendelijke groet,

Bart Tukker
Cloud Engineer

From: KrishnaG-MSFT ***@***.***>
Sent: dins

[2022-01-18 16:44] kobulloc-MSFT commented on #86552
@Klaas- Thank you for the feedback!  We are looking into this recommendation and will get back to you shortly.

[2022-01-18 16:44] aidowu200 opened #86569 "Tutorial: Azure Active Directory integration with Marketo"
[Enter feedback here]

**Configure Azure AD SSO Section of the document needs to be updated**

4c. In the Relay State text box, type a URL using the following pattern: https://<munchkinid>.marketo.com

This should be updated to https://<app-pod>.marketo.com

When updating the Relay State Text Box the value should be the pod URL. Example:  https://app-sj19.marketo.com.

This no longer works with Mu

[2022-01-18 16:54] mimckitt commented on #37092
This issue is quite old. Please open a new issue and reference this issue in that post. That way we can get it to the right people to investigate.

[2022-01-18 16:57] RyanHill-MSFT commented on #86305
Hi @pettermoe95, is your backend app registration configured for Power BI delegate or application permissions? This should embed a claim(s) for Power BI in the token the backend app obtains from Azure AD.

![image](https://user-images.githubusercontent.com/47189704/149978343-4e5bd4a3-b468-45d0-9d10-0073b2b1639a.png)

EasyAuth by default stores any tokens obtained so when you say...

...are you say

[2022-01-18 16:59] MattDolan opened #86570 "Please add the ACU for the new SKU D v5 families"
New v5 families:

D v5
Dd v5
Das v5
DCas v5
E v5
Ed v5
Eas v5
ECas v5

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 568a0854-5b9e-0d79-642f-2775271d0521
* Version Independent ID: 876df17a-3a80-8e2d-bb70-c6810df7fd18
* Content: [Overview of the Azure Compute Unit - Azure Virtual Machines](https:/

[2022-01-18 17:01] bj-tukker commented on #86554
I think in the bicep code

:::code language="bicep" source="~/azure-docs-bicep-samples/samples/deployment-script/passValue-cli.bicep" range="1-25" highlight="19":::

should be changed to

:::code language="bicep" source="~/azure-docs-bicep-samples/samples/deployment-script/passValue-cli.bicep" range="1-35" highlight="19":::

Kind regards/Met vriendelijke groet,

Bart Tukker
Cloud Engineer

From: T

[2022-01-18 17:02] ShaikMaheer-MSFT commented on #86551
@hyoshioka0128 Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-01-18 17:03] ShaikMaheer-MSFT commented on #86559
@iposner-newsig Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-01-18 17:05] MarileeTurscak-MSFT commented on #86561
@mchiri
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-18 17:05] ShaikMaheer-MSFT commented on #86560
@iposner-newsig Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-01-18 17:05] MarileeTurscak-MSFT commented on #86569
@aidowu200
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-18 17:08] barclayn commented on #86441
@bowcode-cloud Thank you for your feedback. This is not  a typo. We may need to clarify but the point we are trying to make is that we can authenticate to Key Vault using a managed identity and get a secret we can then use to access a different resource. In our example scenario, the resource we access using the information stored in Key Vault does not support Azure Active Directory authentication

[2022-01-18 17:08] kobulloc-MSFT commented on #86570
@MattDolan Thank you for your feedback!  @mimckitt, I believe this is already being worked on.  Is that correct?

[2022-01-18 17:08] barclayn commented on #86441
#please-close

[2022-01-18 17:08] #86441 closed

[2022-01-18 17:10] #86502 closed

[2022-01-18 17:17] v-steveadams commented on #85869
Thank you again, @cherchyk, for your feedback. I made a few changes to the article that should make the transition from the _rootca_ directory to the _subca_ directory clearer, which I believe provide the clarity in where the commands should be executed that you indicated was lacking. Please take another look at the article and see if you agree. We'll keep this issue open for a few more days in ca

[2022-01-18 17:26] mike-urnun-msft commented on #86563
Hello @JoeAtwell - Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-01-18 17:52] karlochacon opened #86572 "Connection to Azure Dedicated Hosts? VPN is possible? Don't see it network connection options"
hi guys

Connection to Azure Dedicated Hosts? VPN is possible? Don't see it network connection options

thansk

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98de8b0f-6cc5-8d9f-6329-f1661e3dedb0
* Version Independent ID: a6eff3cd-3859-0cc1-c29b-c7ece21f6f6c
* Content: [Overview of Azure Dedicated

[2022-01-18 17:52] pettermoe95 commented on #86305
Access Token to multiple API's:
In the App Registration has delegated permissions for scopes in both Graph API and Power BI API, so that should not be the issue. The access token works great with getting data from the Graph API, but just not for Power BI. One thing I have done is implement "Refresh auth tokens" from here https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-o

[2022-01-18 17:57] TiloGit opened #86573 "how to create without class for Manually create and use a volume"
Do you have a tech article for ARO/OCP to use **without** storage class? So with Manually create and use a volume with Azure Files share.
comparable like this for AKS https://docs.microsoft.com/en-us/azure/aks/azure-files-volume

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3baa66d8-0696-9a88-dafd-567dab6d2eb5
* Versi

[2022-01-18 18:02] MarileeTurscak-MSFT commented on #86550
@memildin
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-18 18:09] Svijay-msft commented on #86396
@heckmanjim - Thanks for bringing this to our attention.

@jianleishen - Need your inputs.

I perform operation as Site Owner - I get the error.  Sorry, only site collection administrators can add or give access to this app.

Not sure whether there was an update at the Sharepoint end. Because - when I input permission as below as per documentation

[code]

However, when I remove **AllowAppOnlyPoli

[2022-01-18 18:14] chadmcox opened #86574 "permissionGrantPolicyIdsAssignedToDefaultUserRole"
the powershell for this is completely wrong needs to use permissionGrantPolicyIdsAssignedToDefaultUserRole

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7a6c58c-f887-03a4-8f69-eb91a19e4fb3
* Version Independent ID: 4e53d964-7edf-5668-b976-75fcdce4638e
* Content: [Configure how users consent to applications - Azure AD

[2022-01-18 18:16] ziesemer commented on #74845
Just opened Azure support request # 2201180040007610 on this to (hopefully) bring some additional focus to this.

[2022-01-18 18:26] mimckitt commented on #86570
Correct, we are currently reevaluating how we calculate Azure Compute Units weights for our Virtual machine performance benchmarks to account for updates in processor architecture from our CPU providers.

Docs will be updated accordingly as information becomes available.

[2022-01-18 18:29] Grace-MacJones-MSFT commented on #86562
Hi @ciufudean , thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2022-01-18 18:30] normesta commented on #86460
Hi @abondoa - you are correct, the feature as it appears in the preview features list in the Azure portal shows the use of "for" instead of "in". I'm investigating. Thank you!

[2022-01-18 18:36] kobulloc-MSFT commented on #86570
@MattDolan Thank you again for your feedback!  The docs will be updated once the information becomes available.  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-01-18 18:36] #86570 closed

[2022-01-18 18:37] JamesTran-MSFT commented on #86574
@chadmcox
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-18 18:40] KranthiPakala-MSFT commented on #86557
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-01-18 18:41] mkarmark commented on #85886
Hi @John-HLC, we only pass over the client principal information to customers on authenticated requests. Per our logs I can see that your static web app has made lots of requests to your function app but I do not see a single login request in the last 60 days. Can you please try logging in first and then hitting the function path and seeing if your function app received the client principal?

[2022-01-18 18:44] JnHs commented on #86272
@ciufudean thank you for your feedback. Could you clarify what type of info you're interested in as far as "the criteria behind making filters available"?

[2022-01-18 18:48] cynthn commented on #86398
@ahalwright1 You said "The same command failed when done using the Linux Azure command line." What was the error?

@VikasPullagura-MSFT This could be a CLI bug, depending on what the output is.

[2022-01-18 18:49] VitalyMCT opened #86577 "Bicep and Template Specs in Azure Portal"
The situation with Bicep support is very confusing.

From the 1st sentence on this page:

However, Azure Portal gives an error when trying to enter in Bicep files into the Template Spec:

![image](https://user-images.githubusercontent.com/1765732/149999772-a3fca9b8-73b6-4440-8b3a-365802559467.png)

Is this by design or is it a bug? Can this aspect be clarified in the documentation please (i.e. wha

[2022-01-18 18:53] kobulloc-MSFT commented on #86572
@karlochacon I'm going to do some additional research but I don't believe that there are any limits on the VMs created in your provisioned hosts that would prevent you from using Azure VPN Gateway to create a Site-to-Site connection:

https://docs.microsoft.com/en-us/azure/vpn-gateway/tutorial-site-to-site-portal#connectVM

[2022-01-18 18:57] mkarmark commented on #82119
Hi @dreitzner, I believe the issue comes from this part of the staticwebapp.config.json file:
[code]
Because you listed the path as "rewrite", we are trying to find a file that exists at the path "/.auth/login/aad" and when we fail to do so, we are showing a 404. If you switch the "rewrite" to "redirect", I believe your issue should be mitigated. I was able to reproduce this behavior on my own app

[2022-01-18 18:58] KranthiPakala-MSFT commented on #86566
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-01-18 19:02] #86482 closed

[2022-01-18 19:02] MonikaReddy-MSFT commented on #86577
@VitalyMCT - Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-01-18 19:03] shashishailaj commented on #86464
@ladykraken As we have not received any further details from you, we will be closing this issue . Should you have any further queries , please feel free to post a query on  [Microsoft QnA](https://docs.microsoft.com/en-us/answers/index.html)  and we will be happy to help you further on the same.

[2022-01-18 19:06] shashishailaj commented on #86320
@tomschulz We checked and found that we do not have a SwiftUI implementation at this point . We have added this to our internal backlog.

Thank you .

[2022-01-18 19:06] #86320 closed

[2022-01-18 19:07] duongau commented on #79183
@leshkinski I have added the command for registering AFD with Azure CLI. #please-close

[2022-01-18 19:07] #79183 closed

[2022-01-18 19:11] duongau commented on #67759
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-01-18 19:11] #67759 closed

[2022-01-18 19:13] duongau commented on #75705
@Inaun I agree with your statement and have updated the wording to reflect as so. Please let me know if there are other places that you're seeing this confusion as well. For now I will be closing this issue. Thank you! #please-close

[2022-01-18 19:13] #75705 closed

[2022-01-18 19:19] John-HLC commented on #85886
I just did this on the top of the hour (1:00 PM Central Time) a maybe 20 min ago in case it helps you check the logs for a specific log in attempt.  But Your description is what i am seeing as well.

I logged in using AD from Blazor WASM (Client side only).
Note at this point - the function is not hit/touched upon login as Blazor Client Side Only goes directly from the Browser to Azure-AD directly

[2022-01-18 19:26] fieldsJacksonG opened #86579 "Unable to link Storage and Remote Rendering accounts"
I am unable to link my storage account because the "Remote Rendering Account" does not appear in the identity list.

The troubleshooting page recommends changing the Remote Rendering Account's Identity to "on".  However, my Remote Rendering Account page's identity tab is completely blank:
![image](https://user-images.githubusercontent.com/5299526/150005026-3384e45c-01d1-4bab-9251-8e4c5eff90bd.png)

[2022-01-18 19:39] bensonrlee commented on #86541
Hello @ShaikMaheer-MSFT, to make sure we are on the same page, I am referring to this one:

"Write a custom function module, which can take a query as OPTIONS and apply your own logic to retrieve the data."

Is the intention of the article to encourage the customer to write a custom function module to implement own logic and there is really no reco from MS on how it should look like for the use ca

[2022-01-18 19:40] dreitzner commented on #82119
That fixed it... Thank you. This issue can be closed.

[2022-01-18 19:44] artyq opened #86581 "Enable SQL insights (preview) - Authentication Clarification"
The configuration of SQL Insights on Azure VM with SQL Server is not clear.

Our SQL VMs have SQL Auth disabled as per our security policy, therefore we are only supporting Active Directory Authentication.

The image under [Enable SQL insights (preview)
](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/sql-insights-enable#sql-server-2) shows that SQL Authentication is disabled, so it

[2022-01-18 19:44] dannyevers commented on #86401
#reassign:arifgani

Arif, please address this request. This pertains to the SaaS API v2 docs.
https://docs.microsoft.com/en-ie/azure/marketplace/partner-center-portal/pc-saas-fulfillment-life-cycle

[2022-01-18 19:44] PRMerger19 commented on #86401
The following users don't have valid GitHub IDs, or are not collaborators on this repo: arifgani

[2022-01-18 19:45] dannyevers commented on #86401
#reassign:argani

[2022-01-18 19:45] PRMerger12 commented on #86401
The following users don't have valid GitHub IDs, or are not collaborators on this repo: argani

[2022-01-18 19:46] mrochon opened #86582 "Dead url reference"
Url: https://azure.microsoft.com/resources/templates/app-service-docs-windows for Azure Quickstart Templates in the [Review the template](https://docs.microsoft.com/en-us/azure/app-service/quickstart-arm-template?pivots=platform-windows#review-the-template) section leads to an error page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2022-01-18 19:48] craigshoemaker commented on #82119
Thanks for your help, @mkarmark!

#please-close

[2022-01-18 19:48] #82119 closed

[2022-01-18 19:49] InformTechPro opened #86583 "The document references DSC link that returns error 404, page not found."
The document references DSC link below. Unfortunately, the link returns error 404, page not found.
https://docs.microsoft.com/en-us/powershell/dsc/overview/overview

[Enter feedback here]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c49723de-191d-36cc-6ea1-3bd154312681
* Version Independent ID: 9dbf85de-19c6-5bbf-e659

[2022-01-18 19:50] PRMerger10 commented on #86401
The following users don't have valid GitHub IDs, or are not collaborators on this repo: arifgani

[2022-01-18 19:51] pvrk commented on #80205
@Klaas- I have asked the CDN team and they need the IP of the machine where this is happening. Can you please email that to me at pullabhk@microsoft.com?

[2022-01-18 19:54] JimacoMS4 commented on #86425
@rajeevmv Can you please address this?

[2022-01-18 20:04] whhender commented on #86521
@TheWhiteWeasel - thanks very much for following up!

I am working on this update this week. I will leave this issue open until I have an update for you.

[2022-01-18 20:25] erik-ha-msft commented on #79133
Thanks for the contribution, @jeff-r-koyaltech! Based on testing and our understanding of recent Kubernetes updates, this is no longer an issue and inline volume mounting can be performed successfully from non-default namespaces. If you feel this has been closed erroneously, please feel free to reopen and tag me.

#please-close

[2022-01-18 20:25] #79133 closed

[2022-01-18 20:26] ThomasWeiss commented on #86364
Adding @abinav2307 for this HA-related question

[2022-01-18 20:27] Klaas- commented on #80205
I am currently not logging that, I'll change the github action to curl verbose

[2022-01-18 20:30] MarileeTurscak-MSFT commented on #86533
Thanks @gbryniarski ! I made a pull request to update this to the right version. https://github.com/MicrosoftDocs/azure-docs-pr/pull/185352

[2022-01-18 20:30] #86533 closed

[2022-01-18 20:34] duongau commented on #57713
@awentzel Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-01-18 20:34] #57713 closed

[2022-01-18 20:38] duongau commented on #56991
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. Please see the update Caching section: https://docs.microsoft.com/en-us/azure/frontdoor/front-door-caching#cache-behavior-and-duration.

#please-close

[2022-01-18 20:39] duongau commented on #57022
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. Please see the update Caching section: https://docs.microsoft.com/en-us/azure/frontdoor/front-door-caching#cache-behavior-and-duration.

#please-close

[2022-01-18 20:39] #57022 closed

[2022-01-18 20:41] MarileeTurscak-MSFT commented on #86569
Thanks @aidowu200

I made a pull request to update the example and will leave it open for review by @jeevansd

https://github.com/MicrosoftDocs/azure-docs-pr/pull/185355

[2022-01-18 20:41] #86569 closed

[2022-01-18 20:46] nswitanek opened #86584 "Adding custom role for labeler isn't option in Azure Portal, despite having required permissions"
The steps given at this page do not map to my experience of the Azure Portal.

Steps given, with my comments interspersed:
1. Open your workspace in Azure Machine Learning studio
2. Open the menu on the top right and select View all properties in Azure Portal. You'll use Azure portal for all the rest of the steps in this article.
3. Select the Subscription link in the middle of the page.
_niswitan

[2022-01-18 20:57] The-New-Guy opened #86585 "Now Legacy Security Events Data Connector Documentation"
Hello,

I have a link to some documentation:

https://docs.microsoft.com/en-us/azure/sentinel/connect-windows-security-events?tabs=LAA#event-id-reference .

This now redirects to the page listed in the Document Details below. This new page does not contain any of the details that the previous page had. In particular, it is missing details about what events are gathered by the Security Event data c

[2022-01-18 20:59] duongau commented on #37163
@LarsKemmann Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-01-18 20:59] #37163 closed

[2022-01-18 21:05] ahalwright1 commented on #86398
I am going retry this evening with both CentOS 8 and Ubuntu to verify that I didn't do something wrong.  It was my interpretation that this was a CLI bug.

--
Alden H. Wright, Professor (Emeritus), Department of Computer Science
***@***.***
University of Montana, Missoula, MT 59812

On Tue, Jan 18, 2022, at 11:48, Cynthia Nottingham wrote:

[2022-01-18 21:06] duongau commented on #57764
@arsnyder16 This feature will be supported in the newer tier of Azure Front Door - Standard/Premium. #please-close

[2022-01-18 21:07] ORodrigues89 opened #86586 "The screenshots are not clear in the page"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40ed7c08-ec4d-0ebc-78e5-4115088f4968
* Version Independent ID: 201d0876-6a55-595b-4141-055bdb3282b7
* Content: [Create an access review of groups and applications - Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/governance/create-ac

[2022-01-18 21:12] duongau commented on #75260
@DrEight I have forwarded your information to our Dev team and they were not able to find any related information in the health probe code named "foo". If you need further assistance on this matter, please open a service request with our support to further investigate this with you. Thank you for your contribution, for now I will be archiving this issue. #please-close

[2022-01-18 21:12] #75260 closed

[2022-01-18 21:13] duongau commented on #57643
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-01-18 21:13] #57643 closed

[2022-01-18 21:14] duongau commented on #57912
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-01-18 21:14] #57912 closed

[2022-01-18 21:14] madsd commented on #85557
@Ravivarman13 thank you for the feedback. I made a change based on your feedback. The change should be out in the next 24 hours. Feel free to close this issue.

[2022-01-18 21:15] Sharono123 commented on #46430
+1
how ca we do it in CLI ?

[2022-01-18 21:22] duongau commented on #60553
@tiny-dancer You can now programmatically retrieve the list of IPs specifically for each service using the steps here: https://docs.microsoft.com/en-us/azure/virtual-network/service-tags-overview#service-tags-on-premises. We recommend using the Discovery API for what you're doing. #please-close

[2022-01-18 21:22] #60553 closed

[2022-01-18 21:23] normesta commented on #86460
Hi @abondoa - the Azure portal UI is being adjusted to use "in" instead of "for". We'll keep the doc as is and await the portal change. Thanks for raising.

#please-close

[2022-01-18 21:23] #86460 closed

[2022-01-18 21:23] kobulloc-MSFT commented on #86552
@Klaas- Looking at the [Azure Pricing Page](https://azure.microsoft.com/en-us/pricing/details/virtual-machines/windows/), you are correct--all of the M8ms VMs have the same hourly cost.  Looking at the [Azure Pricing Calculator](https://azure.microsoft.com/en-us/pricing/calculator/), however, we see that isn't necessarily the entire story as OS or software may charge by the vCPU.

https://docs.mic

[2022-01-18 21:25] duongau commented on #56608
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-01-18 21:25] #56608 closed

[2022-01-18 21:27] DesiGhodi commented on #86446
Hello,

Checking back to see if you have any update for me?

Thanks.

[2022-01-18 21:29] duongau commented on #46278
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-01-18 21:29] #46278 closed

[2022-01-18 21:34] duongau commented on #57455
@awentzel This has been resolved in another issue that was raised. You should see the article say either option should suffice. Please let me know if you have any additional questions. For now I'll be archiving this issue. Thank you. #please-close

[2022-01-18 21:34] #57455 closed

[2022-01-18 21:40] mvisosky opened #86587 "Azure AD B2C client credentials flow - guidance on expiring client secret"
The section "Acquiring an Azure AD Access token" provides instructions on creating an app registration named _Client_Credentials_Auth_app_ with a client secret that has an expiry date.  The instructions then proceed to "Create Azure AD B2C policy keys", creating a policy key to hold a copy of the client secret.

What seems to be missing from the instructions is guidance or "best practices" on how

[2022-01-18 21:41] duongau commented on #55892
@artisticcheese This was added recently where you can configure a custom response header to verify when a change had propagated to Azure Front Door: https://docs.microsoft.com/en-us/azure/frontdoor/front-door-tutorial-rules-engine#configure-rules-engine-in-azure-portal. It is difficult to pin point how long exactly changes will take to complete as it has to reflect to all the POP locations. The PG

[2022-01-18 21:41] #55892 closed

[2022-01-18 21:48] assafsl commented on #86479
Thank you for your response.

It seems like I mixed the Java version with the dot.Net one.

My mistake. The document is correct.

Assaf

On Tue, 18 Jan 2022 at 7:21 AnuragSharma-MSFT ***@***.***>
wrote:

[2022-01-18 21:59] JamesTran-MSFT commented on #86587
@mvisosky
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-01-18 22:03] James-Hamil-MSFT commented on #86586
Hi @ORodrigues89 , which screenshots aren't clear, and how aren't they clear? Just so I know how to improve them.

Thanks,
James

[2022-01-18 22:05] James-Hamil-MSFT commented on #86233
Hi, yes this is the correct one. You said it's not working for you? What's the issue, I can look into it for you.

[2022-01-18 22:14] spelluru commented on #86422
@MayankBargali-MSFT - Yes. We should add a note to the Triggers section. Thanks.
https://docs.microsoft.com/en-us/connectors/servicebus/#triggers

[2022-01-18 22:39] pietje666 commented on #51160
@RohitMungi-MSFT Any update on the Bugfix yet? I want to use this feature and it has been a bug almost two years by now.

[2022-01-18 22:49] siddhantgawsane opened #86588 "spark.read.format("mlflow-experiment").load() fails with error on DBR 7.3 LTS"
I get the error message
```java.lang.ClassNotFoundException: Failed to find data source: mlflow-experiment. Please find packages at http://spark.apache.org/third-party-projects.html```

<img width="1448" alt="Screen Shot 2022-01-18 at 4 48 37 PM" src="https://user-images.githubusercontent.com/1851635/150031190-d469d98c-acf6-4d07-b008-6017136e3ca2.png">

---
#### Document Details

⚠ *Do not edit th

[2022-01-18 22:51] YutongTie-MSFT commented on #86584
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-18 23:01] mvaferreira opened #86589 "az ssh vm is ommitting ssh.exe output"
Please see the issue I have reported for 'az ssh vm' command on:

https://github.com/Azure/azure-cli/issues/21038

This was reported to 'az cli' page, but makes sense to be added here too.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2ede563-b873-0bc3-959f-69e555f0efcc
* Version Independent ID: 8471d9e4-6c79-0cf1-c5e

[2022-01-18 23:12] JamesTran-MSFT commented on #86589
@mvaferreira
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-18 23:17] jeffwmiles opened #86591 "Infrastructure-as-Code method for implementing Test Failover Network settings"
This page provides no guidance on how to define the Test Failover network settings using ARM Templates or other infrastructure-as-code methods.

In fact, I cannot find any reference to setting these values or the secondary IP addresses using ARM templates anywhere.

The ARM Template reference for [ReplicationProtectedItems](https://docs.microsoft.com/en-us/azure/templates/microsoft.recoveryservice

[2022-01-18 23:17] retiosej opened #86592 "No mention of Azure Government Dev/Test subscription offer in this MSDocs page"
Reaching out on behalf of the CXP Azure Government Support (CAGS) team. We received a customer service request regarding EA Government Dev/Test subscription conversion in Azure Government (Fairfax). While the service request is ongoing as of this message, my team did not find any official customer-facing documentation stating that Dev/Test subscriptions are not available for Azure EA Government. P

[2022-01-18 23:28] stevevi commented on #86592
Hi, dev/test subscriptions are available in Azure Government, which is why there is no need to list them as feature variation in this article.  The article you referenced is intended to track feature variations and usage differences between Azure Gov and Azure public.  There is "What is Azure Government?" article that provides pointers on how customers can acquire and access Azure Government, incl

[2022-01-18 23:29] stevevi commented on #86592
#please-close

[2022-01-18 23:29] #86592 closed

[2022-01-18 23:54] anwarmahmood1 commented on #86233
thanks for confirming @James-Hamil-MSFT

I don't have a problem [that I'm aware of], but I did not know what the claim type would be if I didn't customise it.  It would benefit others if the documentation specified he default claim type, so they know if they need to customise it.

[2022-01-19 00:11] JimacoMS4 commented on #74402
#reassign @JImacoMS4

[2022-01-19 00:21] brianlehr commented on #85063
Hello @johnem-msft, to address both your points:

- I can see how looking at the output of $validate would potentially be easier to understand than looking for the "absence" of any ValidationMessages, though the effect should be the same.  I've tweaked the documentation slightly to address this - will go out with next release.
- This documentation makes the assumption for both PowerShell and CLI t

[2022-01-19 00:21] brianlehr commented on #85063
#please-close

[2022-01-19 00:21] #85063 closed

[2022-01-19 00:31] kobulloc-MSFT commented on #86552
@Klaas- I hope this has been helpful!  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-01-19 00:31] #86552 closed

[2022-01-19 01:01] scootrz32 commented on #42392
Thank you, this just saved me.  Spent almost 2 hours trying to figure this out.

[2022-01-19 01:08] Materia-xx opened #86593 "What to do when there is no tracking url?"
Thanks for the page! If appropriate could you please provide instructions on what to do in the case that you get a 201 response back but then neither Azure-AsyncOperation nor Location is in the headers. (x-ms-requestid is there if that helps). For reference I was adding a new Traffic Manager profile using the details from this page https://docs.microsoft.com/en-us/rest/api/trafficmanager/profiles/

[2022-01-19 01:23] KranthiPakala-MSFT commented on #86588
Could you please confirm what is the Databricks runtime used? Please note that the requirement for this is Databricks Runtime 6.0 ML or above.

[2022-01-19 01:55] dlepow commented on #82628
The issue is now fixed in the portal, so I'll proceed to close the issue. If you have further questions about this or want to continue this discussion, feel free to reopen it. Thanks again for taking the time to contact us.
#please-close

[2022-01-19 01:55] #82628 closed

[2022-01-19 02:46] KrishnaG-MSFT commented on #86565
@pasilvaa Thanks for your comment! We will review and provide an update as appropriate.

[2022-01-19 02:47] kobulloc-MSFT commented on #86430
@llk7rt It may make more sense to move this to the following section in the documentation.  I'm assigning this to the document author.

[2022-01-19 02:49] KrishnaG-MSFT commented on #86593
@Materia-xx Thanks for your comment! We will review and provide an update as appropriate.

[2022-01-19 02:51] KrishnaG-MSFT commented on #86583
@InformTechPro Thanks for your comment! We will review and provide an update as appropriate.

[2022-01-19 02:52] Grace-MacJones-MSFT commented on #86582
Hi @mrochon, thanks for bringing this to our attention we will update this doc shortly

[2022-01-19 02:54] KrishnaG-MSFT commented on #86564
@zaicnupagadi Thanks for your comment! We will review and provide an update as appropriate.

[2022-01-19 02:57] KrishnaG-MSFT commented on #86592
@retiosej Thanks for the feedback.
@stevevi Thanks for the quick response.

[2022-01-19 03:03] MonikaReddy-MSFT commented on #86591
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-01-19 04:12] ahalwright1 commented on #86398
This is in reference to the website:  https://docs.microsoft.com/en-us/azure/virtual-machines/linux/quick-create-cli

I think I found the problem and it is not a bug in the CLI.  The problem was that I had already done the command on a different OS, and so the command was asking to create a duplicate VM, and that is why it failed.  When I ran and renamed the resource group to myResourceGroup2 and

[2022-01-19 04:36] vipulsparsh commented on #86567
@kikawash  Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2022-01-19 04:36] realvalufy commented on #64839
Is there a way to get publisher verification for Azure AD B2C Apps?

[2022-01-19 04:38] RohitMungi-MSFT commented on #86539
@DavidKlempfner We will now proceed to close this thread. The PR is now merged and the update in the document should be available in the next 24 hours.

[2022-01-19 04:38] #86539 closed

[2022-01-19 04:40] shashishailaj commented on #86585
@The-New-Guy Thank you for your feedback . We will investigate and update the thread.

[2022-01-19 04:41] vipulsparsh commented on #86573
@TiloGit Thanks for reaching out. We will investigate and update the thread accordingly.

[2022-01-19 04:42] vipulsparsh commented on #86568
@Vegas588 Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2022-01-19 04:48] vipulsparsh commented on #86579
@fieldsJacksonG Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2022-01-19 04:50] vipulsparsh commented on #86581
@artyq Thanks for reaching out. We will investigate and update the thread accordingly.

[2022-01-19 04:57] AnuragSharma-MSFT commented on #86479
@assafsl Thanks for responding back. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2022-01-19 04:57] #86479 closed

[2022-01-19 04:59] munir94 opened #86600 "Azure Arc Data Service - Unable to initialize agent"
[Enter feedback here]
The deployment is not complete and stuck with  Unable to initialize agent. Error: mkdir /var/log/agent: permission denied
![image](https://user-images.githubusercontent.com/39366930/150067073-643edfb7-6819-4160-af8a-085aa0b1b21f.png)

The environment involved is AKS on HCI

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-01-19 05:36] Kmow opened #86601 "Snowflake does recommend using AccountAdmin for user creation"
[Rather they recommend that roles roll up to 'sysadmin' so the Create user SQL on this page should probably be changed to using sysadmin for the role creation as per the following - https://docs.snowflake.com/en/user-guide/security-access-control-considerations.html ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a573

[2022-01-19 05:58] VikasPullagura-MSFT commented on #86418
@pnarsi
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2022-01-19 05:58] #86418 closed

[2022-01-19 05:58] madforchili opened #86603 "'enable logging' from the portal tab is using LAW not storage"
[Enter feedback here]
Enable logging
Azure Portal tab, screen shot and instruction is using Log Analytics Workspaces not Storage account

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db3d06eb-12d1-5fdb-e5f7-647556d0d38b
* Version Independent ID: 8f53d1c4-316d-76ca-8664-6a18ba3676c1
* Content: [Enable Azure Key Vault l

[2022-01-19 05:59] VikasPullagura-MSFT commented on #86398
@ahalwright1 Thanks for confirming that the issue is resolved and sharing details of the cause.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2022-01-19 05:59] #86398 closed

[2022-01-19 06:00] VikasPullagura-MSFT commented on #86499
@zjunsen

Any update on the issue?
Were you able to open a support case as suggested?

[2022-01-19 06:25] Jimit09 commented on #12552
Where did you use  seperator "-" ?

[2022-01-19 06:40] Ozzian opened #86604 "How to use managed identity for WEBSITE_CONTENTAZUREFILECONNECTIONSTRING"
How to convert WEBSITE_CONTENTAZUREFILECONNECTIONSTRING to use managed identity?

The documentation here shows how to use managed mdentity of the function app for AzureWebJobsStorage. This is great as we can then opt out from using storage account keys completely. But for the function applications, there is this one mandatory field `WEBSITE_CONTENTAZUREFILECONNECTIONSTRING` that requires to have t

[2022-01-19 07:07] SwathiDhanwada-MSFT commented on #86440
@jjbfour  Can you please provide your inputs on this issue?

[2022-01-19 07:39] SnehaAgrawal-MSFT commented on #86399
@mahomedalid Thanks again for the feedback! Seems it is mentioned here! https://docs.microsoft.com/en-us/azure/event-hubs/private-link-service#important-points

 "This feature isn't supported in the basic tier."

[2022-01-19 07:40] zjunsen commented on #86499
There is no problem in using the Windows desktop client under windows OS
In Iphone RD Client App，For the first time, enter https://rdweb.wvd.azure.cn/api/arm/feeddiscovery in the RD Client to prompt you to jump to the premise that the AVD account is bound in the authenticator, then restart the Iphone and enter https://rdweb. wvd.azure.cn/api/arm/feeddiscovery workspace just fine.

Best regards
Jun

[2022-01-19 07:47] unsignedlongmax commented on #64839
Microsoft Docs are really poor & very difficult to navigate. For Azure AD B2C Apps, we need to manually mark the publisher as verified after we get a verified MPN Id

API Docs: https://docs.microsoft.com/en-us/graph/api/application-setverifiedpublisher?view=graph-rest-1.0&tabs=http

[2022-01-19 08:10] MayankBargali-MSFT commented on #86422
@spelluru Thanks for the confirmation.

@VeeraMS Can you open a new issue on [Logic App service bus trigger](https://docs.microsoft.com/en-us/connectors/servicebus/#triggers) and [function service bus trigger document](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus-trigger) so this can be updated at the trigger document.

For now, I will go ahead and close th

[2022-01-19 08:10] #86422 closed

[2022-01-19 08:30] ducle0211 opened #86607 "Request header match to container storage"
# Azure documentation issue guidance

I currently have multiple domains. Eg
- game1.azureedge.net
- game2.azureedge.net
- game3.azureedge.net
....

1 common storage divided into separate containers containing the source of each game: game1, game2, game3,...

Example: Going to game1.azureedge.net will get content storage.azure/game1/index.html

Request with any domain will get the corresponding con

[2022-01-19 08:59] hyoshioka0128 commented on #86551
@ShaikMaheer-MSFT  - I'm Poor English. Thank you for understanding your intentions.

[2022-01-19 09:00] hyoshioka0128 commented on #86549
@ShaikMaheer-MSFT  - I'm Poor English. Thank you for understanding your intentions.

[2022-01-19 09:04] batamig commented on #86585
Hi @The-New-Guy, thanks for writing into docs!

You can find the data about the security events collected here: [Windows security event sets that can be sent to Microsoft Sentinel](https://docs.microsoft.com/en-us/azure/sentinel/windows-security-event-id-reference).

The docs reorganization for this connector was not related to it being newly legacy, but was done earlier, together with a large eff

[2022-01-19 09:04] #86585 closed

[2022-01-19 09:30] pvrk commented on #85675
We were not able to get same password for different recovery points. Can you please check again? The password is per recovery point. Once you download the script for a particular recovery point, it will be the same until 12 hours from the time of generation or until you click 'unmount disks', whichever is earlier.

[2022-01-19 09:31] pvrk commented on #85675
Apologies for the delay in response.

[2022-01-19 10:06] saviourofdp opened #86611 "Monitoring Pipeline Run in Python"
In terms of monitoring the status of a Pipeline run until completion, I am right in thinking that this code snippet needs a loop added here? And the `RunFilterParameters()` call is just to get the details of the run once complete?

[code]
for example

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06b12410-3d72-

[2022-01-19 10:09] miickel opened #86612 "Azure Text-to-Speech: 400 Response Status Code"
- I have a script that is first getting all the available voices from Azure (text-to-speech), using this REST endpoint:

  - https://centralus.tts.speech.microsoft.com/cognitiveservices/voices/list

- Then, for each of these voices, render a file in `riff-24khz-16bit-mono-pcm` format using this REST endpoint:

  - https://centralus.tts.speech.microsoft.com/cognitiveservices/v1

Everything worked f

[2022-01-19 10:18] msdya opened #86613 "Add time delay Information in documentation"
Based on customer feedbacks, I know it could cause confusion after user have assigned roles to the new users , and can not see the effect right away.  User starts to doubt if they have configure the role correctly.

  Could you add the information of expected delay , between role is assigned in the UI until  that role is actively taking effect on that user ?   This will help customer better unders

[2022-01-19 10:27] ciufudean commented on #86272
I mean what are the rules by which filtering by a certain column is available or not to the user of the dashboard.

[2022-01-19 10:31] gareththegeek opened #86614 "Incorrect data plane role definition ids"
The data plane role definition ids are incorrect on this page:
`00000000-0000-0000-0000-000000000001` and `00000000-0000-0000-0000-000000000002`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aba612b3-f404-11b2-45d9-6e10f1fbf11d
* Version Independent ID: 86ccb46e-5ebd-50a4-a911-2ac83c8a41f4
* Content: [Configure role-b

[2022-01-19 10:35] gareththegeek commented on #86614
Raised in error

[2022-01-19 10:35] #86614 closed

[2022-01-19 10:42] Nyggi opened #86615 "Data Factory resource provider is needed for "Event Trigger" in Synapse Analytics"
When creating a storage event trigger in Azure Synapse Analytics, the creation fails unless you have Data Factory registered as a resource provider. This information is not written here only that you need EventGrid registered.

If you do not have Data Factory registered you simply get a bad error which says that the creation of an "Event Subscription" failed.

My request is simply that you describ

[2022-01-19 10:45] shashishailaj commented on #86607
@ducle0211 Thank you for your feedback . We will investigate and update the thread.

[2022-01-19 10:48] marceluniper opened #86616 "Restrictions regarding creation of Loggers across tenants"
Could you add to the documentation whether a Logger can only be created for Application Insights, Event Hubs and Azure Monitor within the same tenant or if this can also be done across tenants, e.g., API Management Service is in tenant A and the corresponding Event Hub to which I want to send the logs is in tenant B?

https://docs.microsoft.com/en-us/rest/api/apimanagement/current-ga/logger/create

[2022-01-19 10:49] shashishailaj commented on #86601
@Kmow Thank you for your feedback . We will investigate and update the thread.

[2022-01-19 10:52] PramodValavala-MSFT commented on #86323
@anarchitect Hope my previous comment clears things up.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-01-19 10:52] #86323 closed

[2022-01-19 11:15] rarandiv opened #86617 "Screenshots needs to update as per current Azure portal configuration"
The screenshot needs to be corrected, now there is no "Firewall and Virtual networks" section in the portal.
It seems it has been replaced with "Networking".
It's confusing and the client keeps on searching Firewall and Virtual networks whereas the Firewall section is now found under the Networking section.

As per Document

![image](https://user-images.githubusercontent.com/72970021/150118891-8ad

[2022-01-19 11:35] Dorus opened #86619 "Microsoft.ServiceBus namespaces/queues apiVersion problem"
As per https://docs.microsoft.com/en-us/azure/templates/microsoft.servicebus/namespaces/queues?tabs=bicep&source=docs

I should be able to use `@2021-11-01` in my bicep template

[code]

However this results in the following error:

[code]

Using the second latest `@2021-06-01-preview` does work.

Seems the docs give the wrong latest version.

[2022-01-19 11:44] rahulaga-msft opened #86620 "document title is confusing me"
Document title says - "_**Create diagnostic settings to send Azure Monitor platform logs and metrics to different destinations**_"
One of the destinations where this log can be sent is '**Log Analytics workspace**'

[Another article](https://docs.microsoft.com/en-us/azure/azure-monitor/logs/design-logs-deployment) says _**Azure Monitor stores log data in a Log Analytics workspace**_

This confusin

[2022-01-19 11:45] finnci opened #86621 "Typo: "Retired" seems you meant to have "retried" across the responses for all this."
Example: "This attempt will automatically be retired in 40 minutes." I assume this is supposed to be "retried in 40 minutes".

If the word really is "retired", some explanation is needed about what exactly that means.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 684c1153-f8bc-0c5c-9004-4ae150c4dc37
* Version Independ

[2022-01-19 11:48] Joh-nnyC commented on #85675
No problem about the delay. I remember it being the same when I did it.

When I'm back in the office on Monday I will test it out myself but
actually document the steps I took and follow up if it's the same password
or not and if it is what I did.

Best Regards,
Gabriel Serrano

On Wed, Jan 19, 2022 at 4:31 AM Kartik P V R ***@***.***>
wrote:

[2022-01-19 11:56] shashishailaj commented on #86603
@madforchili Thank you for your query . We will investigate and update the thread.

[2022-01-19 11:59] shashishailaj commented on #86621
@finnci Thank you for your query . We will investigate and update the thread.

[2022-01-19 12:18] shashishailaj commented on #86621
@finnci Thank you for your contribution . We have initiated a change request for the content authors . Once they review and approve it the changes will be live on the docs portal.

Thank you.

[2022-01-19 12:18] #86621 closed

[2022-01-19 12:19] finnci commented on #86621
Nice one, thanks @shashishailaj

[2022-01-19 12:23] morcinim opened #86622 "Incorrect link to Form Recognizer studio"
In the section "The following resources are supported by Form Recognizer v3.0:" there the link for Form Recognizer Studio is pointing to the old labelling tool instead of https://formrecognizer.appliedai.azure.com/studio
<html>
<body>
<p style="box-sizing: inherit; margin: 1rem 0px 0px; padding: 0px; outline-color: inherit; overflow-wrap: break-word; color: rgb(23, 23, 23); font-family: &quot;Sego

[2022-01-19 12:36] MughundhanRaveendran-MSFT commented on #86400
@DavidAtImpactCubed , I have added the details and it will be published soon

[2022-01-19 12:47] shashishailaj commented on #84296
You are correct . We have initiated a change request for the content team to review and update the article.

[2022-01-19 12:47] #84296 closed

[2022-01-19 13:01] ahelal commented on #79587
@mlearned @psmanhas  any update on the issue ?

[2022-01-19 13:02] alexs77 opened #86625 "List "x64 Linux distributions supported as container hosts" up to date?"
Right now, the list of suppored Linux distributions at https://docs.microsoft.com/en-us/azure/azure-monitor/containers/containers#x64-linux-distributions-supported-as-container-hosts contains:

- Ubuntu 14.04 LTS and 16.04 LTS
- CoreOS(stable)
- Amazon Linux 2016.09.0
- openSUSE 13.2
- openSUSE LEAP 42.2
- CentOS 7.2 and 7.3
- SLES 12
- RHEL 7.2 and 7.3
- Red Hat OpenShift Container Platform (OCP)

[2022-01-19 13:18] SumanthMarigowda commented on #86242
@eugene-lipsky  Data Box currently does not support direct ingestion into the Archive tier. Data is copied to whatever is the default tier for the account. You can choose to use a lifecycle policy to spill to Archive.

Please note direct ingestion into Archive via Data Box is something we plan to support in an upcoming release but I do not have a specific date to share just yet.

If you wish to le

[2022-01-19 13:18] #86242 closed

[2022-01-19 13:21] SteveColegrove opened #86626 "view what is using the ID"
How can I view what Az resources are using a specific user-assigned managed identity?

I'm in the midst of consoldating our user-assigned managed IDs, but it's very difficult to do so because, unlike viewing what the ID gives access to, there seems to not be an easy way to view what resources are using the ID.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2022-01-19 13:23] vipulsparsh commented on #86600
@munir94 Thanks for reaching out. We will investigate and update the thread accordingly.

[2022-01-19 13:24] vipulsparsh commented on #86604
@Ozzian Thanks for reaching out. We will investigate and update the thread accordingly.

[2022-01-19 13:25] vipulsparsh commented on #86611
@saviourofdp  Thanks for reaching out. We will investigate and update the thread accordingly.

[2022-01-19 13:28] vipulsparsh commented on #86613
@msdya Thanks for reaching out. We will investigate and update the thread accordingly.

[2022-01-19 13:28] vipulsparsh commented on #86615
@Nyggi Thanks for reaching out. We will investigate and update the thread accordingly.

[2022-01-19 13:32] vipulsparsh commented on #86620
@rahulaga-dev  Thanks for reaching out. We will investigate and update the thread accordingly.

[2022-01-19 13:34] vipulsparsh commented on #86626
@SteveColegrove Thanks for reaching out. We will investigate and update the thread accordingly.

[2022-01-19 13:35] vipulsparsh commented on #86625
@alexs77 Thanks for reaching out. We will investigate and update the thread accordingly.

[2022-01-19 13:51] shashishailaj commented on #84296
@jurjenoskam We are moving this information to a new article https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/managed-identities-status . This has updated content as well . We will be removing the current article and it is already removed from the TOC .

[2022-01-19 13:58] Vallentyne opened #86628 "minor typo"
In scenario 2 of the large distributed network, in the second paragraph:
"Howe you configure the interconnection link as preferable depends on the routing protocol used within the on-premises network."

should be "How you configure....."  etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 536bc042-8dcf-7402-214c-90c88

[2022-01-19 14:16] danimir commented on #86558
Destinations can be: Log analytics, Blob Storage, and Events hub.

[2022-01-19 14:33] NileshGhodekar opened #86630 "Material omission in the description of deployment scenario "Migrate an on-premises service or daemon application to Azure" and how it works"
Hi,

The deployment scenario  "Migrate an on-premises service or daemon application to Azure" is the scenario that aims to describe the "Lift and Shift" of Kerberos enabled application such an intranet web apps. However, this section does not provide technical details on how users are of the service  get authenticated to the WIA web apps.  For example, the deployment notes call out that Smartcard

[2022-01-19 14:42] GeethaThatipatri-MSFT commented on #86523
Hi @elioda could you please provide your input.

[2022-01-19 15:15] yadavdilip19 opened #86633 "API call to update billing type of dedicated cluster is giving error and should be changed"
To update the billing type of cluster the location property is also needed:

Below is current API query given on MS page which will give "location is required error"
========================================================
PATCH https://management.azure.com/subscriptions/<subscription-id>/resourceGroups/<resource-group-name>/providers/Microsoft.OperationalInsights/clusters/<cluster-name>?api-versi

[2022-01-19 15:21] asergaz commented on #86366
I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-01-19 15:40] yossi-y commented on #86633
I re-tested it and patch updated of billingType works fine without region.
I the same API version 2021-06-01.

Are you saying that request failed for you without region?

[2022-01-19 15:44] mack0196 opened #86634 "Make it clear this is for user token aquisition and NOT daemon."
[Enter feedback here]
Make it clear this is for user token acquisition and NOT daemon and that AquireTokenForClient uses application cache and AquireTokenSilently uses application cache.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32e61dfb-6e76-57b6-d9bb-91bd942b90a6
* Version Independent ID: a7db156a-58a7-574d-8e77

[2022-01-19 15:44] shashishailaj commented on #86628
@Vallentyne Thank you for your feedback . We will review this and update the thread.

[2022-01-19 15:45] svrooij opened #86635 "Code samples for MSAL net Client assertions are incorrect and outdated"
- Both `exp` and `nbf` should be numbers in the token, not strings.
- manually creates `RSACryptoServiceProvider` which is superseded by `certificate.GetRSAPrivateKey();`

I'll try to submit a PR for this, if I manage to checkout this massive repository (Even Codespaces doesn't checkout the code correctly).
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2022-01-19 15:47] shashishailaj commented on #86628
@Vallentyne Thank you for catching this . We have pushed a changed and this should be updated within the next 24-48 hours. We will now close this issue.

Thank you.

[2022-01-19 15:47] #86628 closed

[2022-01-19 16:01] FaffeF opened #86638 "No restriction on IDN names is mentioned, yet they are not allowed"
When entering an IDN domain name, such as https://xn--exmple-cua.com, I get the error message "Must be a valid URL".

This is a major restriction that should be mentioned, or better yet fixed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc4c5921-4070-a714-44e6-c4309fe5fd53
* Version Independent ID: c52c5c94-bb2e-10c

[2022-01-19 16:11] kasparov-gg opened #86639 "Make streaming endpoint billing clear after stopping Live Event."
In the General Steps section under point 12: "If you are done streaming events and want to clean up the resources provisioned earlier, follow the following procedure."
The documentation should clearly explain that the streaming endpoint needs to stopped in addition to the live event or the user will continue to be billed.
See the screenshot as this is the line in the document that is misleading:

[2022-01-19 16:14] mumian commented on #86554
@bj-tukker - thank you for your comments.  I have created a PR to address the issue.

#please-close

[2022-01-19 16:14] #86554 closed

[2022-01-19 16:18] shripadgodse commented on #24673
I am also having the same issue even if my home tenant (source tenant which is used in application) is multi tenant and i am trying to access gov cloud AD user.

[2022-01-19 16:19] yossi-y commented on #86633
You are correct about the ',' and it will be fixed.
I'm not sure what is the difference in you call.

PATCH https://management.azure.com/subscriptions/subscriptioId/resourcegroups/RG/providers/Microsoft.OperationalInsights/clusters/clusterName?api-version=2021-06-01
Authorization: Bearer eyJ0eXAiOiJK...
Content-type: application/json

{
  "properties": {
    "billingType": "Workspaces"
    }
}

Re

[2022-01-19 16:30] ricec opened #86640 "Azure Redis Cache docs and Redis docs disagree on how to detect OS swapping"
This document currently states:

However, [Redis documentation](https://redis.io/commands/INFO) states:

So this docs says swapping happens when rss > used, and the Redis doc says it happens when used > rss. I believe the Redis doc is correct, and this doc should be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2022-01-19 16:31] MonikaReddy-MSFT commented on #86487
@NAWABDERA1 - Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2022-01-19 16:32] timoklimmer opened #86641 "Unclear: (1) Support of ADLS Gen 2 + (2) What exact roles are required for the storage account?"
- The article should be more clear if ADLS Gen2 is supported or not.
- What exact roles are required for the storage account? Is it all of the mentioned roles or is it just one of the mentioned?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1291cdb-e6d2-ff1f-644e-00afcec083a7
* Version Independent ID: fb14b56c-e41b-3

[2022-01-19 16:37] psignoret commented on #86574
@chadmcox The article is accurate for the [AzureAD](https://www.powershellgallery.com/packages/AzureAD) module, which is the generally available Azure AD PowerShell module:
* https://docs.microsoft.com/powershell/module/azuread/set-azureadmsauthorizationpolicy?view=azureadps-2.0

"PermissionGrantPolicyIdsAssignedToDefaultUserRole" is what you would use with the [AzureADPreview](https://www.powersh

[2022-01-19 16:39] JamesTran-MSFT commented on #86634
@mack0196
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-01-19 16:40] JamesTran-MSFT commented on #86635
@svrooij
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-01-19 16:42] JamesTran-MSFT commented on #86638
@FaffeF
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-19 16:42] VikasPullagura-MSFT commented on #86499
We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2022-01-19 16:42] #86499 closed

[2022-01-19 16:46] psignoret commented on #86574
#please-close

[2022-01-19 16:46] svrooij commented on #86635
@JamesTran-MSFT I already created a PR #86636 with a fix, there is the same author tagged. If that PR is accepted this issues is auto closed.

[2022-01-19 16:49] cveld opened #86643 "How to retrieve subscription id for managed identity?"
When I run:
* `Connect-AzAccount -Identity`
* `Get-AzStorageAccount`

I get the error:

`Get-AzStorageAccount : 'this.Client.SubscriptionId' cannot be null.`

When I run `(Get-AzContext).Subscription.id` it just returns null.

How can I derive the subscription id of the resource that is owning the managed identity?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2022-01-19 16:51] JamesTran-MSFT commented on #86643
@cveld
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-19 16:51] MonikaReddy-MSFT commented on #86600
@munir94 -  Can you please let us know what is the command you are running to get into this error?

[2022-01-19 16:52] VikasPullagura-MSFT commented on #86405
@javester Adding some information here for your reference for your Feedback on this document.

When you enable the large file share setting, we don't throttle at the share level, only at the account level which is 20,000 IOPS.

Note: If there are multiple shares in the same storage account, the 20K IOPS are shared across all the shares in the storage account. This is one of the reasons why it is r

[2022-01-19 16:56] markjbrown commented on #74991
As there has been no feedback on this for some time I will close this issue.

#please-close

[2022-01-19 16:56] #74991 closed

[2022-01-19 17:08] LitKnd commented on #84293
Hi @nicemilio and @sommarskog ,

Thank you for your patience as we've worked through this issue. You are correct that cursors are not supported for external tables in Azure SQL Database, but that was missing from the documentation.

I've just signed off on two Pull Requests which will:

- Add this limitation to the Azure SQL Database section of [CREATE EXTERNAL TABLE](https://docs.microsoft.com/en

[2022-01-19 17:08] #84293 closed

[2022-01-19 17:16] tjanuario commented on #53672
Why was this closed as if the question were answered?  Per this conversation, the subnet/join permission is the only required permission which seems to be incorrect.  There appear to be some write permission on subnet and vnet which are also required but this seems to give full access to the vnets which is much more than just joining a pre-existing subnet.

[2022-01-19 17:21] greatromul commented on #50339
Had the similar issue. My code perfectly works with Cosomos DB Emulator 2.14.1. After upgrading to 2.14.5, it stopped working: emulator can't create container anymore. But... I can't downgrade to the latest working version either. Drastically disappointed. I vote for the request too. Please, provide links to previous versions.

[2022-01-19 18:00] miwebst commented on #83847
Today I believe they last 8 hours and I don't believe you can customize the lengths. There is a trade-off between longer-lasting sessions and revocation time, we may give folks a way to customize this time in the future when setting roles programmatically but we don't have this today.

[2022-01-19 18:09] milismsft commented on #50339
@greatromul Please follow the troubleshooting steps at https://docs.microsoft.com/en-us/azure/cosmos-db/troubleshoot-local-emulator, in particular navigate to %LOCALAPPDATA%\CosmosDBEmulator location and delete the folder.
When updating between different versions of the Cosmos DB emulator, the previous local data might not stay compatible and it must be manually removed.
If it's still failing plea

[2022-01-19 18:09] GeethaThatipatri-MSFT commented on #86375
Hi @becke-ch-s0-v1 Restore backup time is mentioned under FAQ [documentation](https://docs.microsoft.com/en-us/azure/cosmos-db/continuous-backup-restore-frequently-asked-questions)
![image](https://user-images.githubusercontent.com/92763260/150188859-5d6320d3-5635-49bd-90ea-ffd4c950f6c1.png)

[2022-01-19 18:12] Grace-MacJones-MSFT commented on #86189
Thanks again for the feedback! I have submitted a PR to update the doc, the change will go-live in the public docs shortly.

[2022-01-19 18:12] #86189 closed

[2022-01-19 18:19] Mike-Crowley opened #86645 "What tools are supported for modern authentication (other than SSMS)"
This statement implies there are other supported tools:

What tools, other than SSMS cab be used? Is there a list somewhere? e.g. PowerShell cmdlets, or an SDK somewhere?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c62c741f-9de3-0c62-a8ac-6606e5f1a879
* Version Independent ID: 4cba5607-6372-1d91-8aa1-00c7e4c0cd3d
*

[2022-01-19 18:26] GeethaThatipatri-MSFT commented on #86640
Hi @ricec Thanks for your findings, We will investigate and update as appropriate.

[2022-01-19 18:40] Grace-MacJones-MSFT commented on #86639
Hi @kasparov-gg, thanks for bringing this to our attention. We will work on updating this doc.

[2022-01-19 18:40] YutongTie-MSFT commented on #86641
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-19 18:44] ianc911 opened #86647 "Change config to Size & Performance"
Under 'Solution', second bullet point, step 4, I'm thinking 'As soon as the SAS URL is revoked, go to **Configuration** for the managed disk' should be changed to 'As soon as the SAS URL is revoked, go to **Size & Performance** for the managed disk'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 626f4eb0-576e-cc98-6d59

[2022-01-19 18:52] YutongTie-MSFT commented on #86446
@DesiGhodi I am sorry, I try to reproduce this issue and find out the root cause but failed. I was thinking about this is caused by incorrect endpoint setting. As the error message said, you are not creating your private endpoint properly. Could you please check on this guidance and make the correction?

https://docs.microsoft.com/en-us/azure/machine-learning/how-to-configure-private-link?tabs=pyt

[2022-01-19 18:57] TiloGit opened #86648 "how to do this with Azure File on private link?"
Any detail how to use Azure File on private endpoint?

myshare.privatelink.file.core.windows.net

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d634c63a-6194-86a6-b522-3310812c81e8
* Version Independent ID: fa86da1e-9c86-88fe-170c-5e6aa9230b5f
* Content: [Manually create Azure Files share - Azure Kubernetes Service](ht

[2022-01-19 18:57] ianc911 opened #86649 "Average I/O size for source disk"
The Table under Azure Site Recovery Limits lists Average I/0 for source disk as a factor in how much churn is allowable for certain sizes and tiers of disk, yet no explanation is given as to locate this piece of information for a specific disk. For Preumium P10 or P15 disks, this can greatly affect the amount of allowable churn.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2022-01-19 18:59] MonikaReddy-MSFT commented on #86649
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-01-19 19:02] MonikaReddy-MSFT commented on #86647
@ianc911 - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-01-19 19:02] #86647 closed

[2022-01-19 19:15] kenkinkopf opened #86650 "Clarification - Line of sight required periodically"
How To: Plan your hybrid Azure Active Directory join implementation

Regarding the following statement " Hybrid Azure AD joined devices require network line of sight to your domain controllers periodically. Without this connection, devices become unusable."
Can you please state if line of site is still true for a hybrid device that are Intune joined? What if password write back in enabled? Also, i

[2022-01-19 19:22] ekmineev commented on #86579
Hi @fieldsJacksonG,

Apologies for the trouble. Our team is investigating a Portal issue that causes Identity blade to not render correctly; it is a top priority for the team but there is no ETA at the time

Could you please verify the following?

- Have you followed instructions in linking the storage account in https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/remote-rendering/how

[2022-01-19 19:28] wmgries commented on #86405
This is exactly right, thank you @VikasPullagura-MSFT!

@javester, I'll just add additionally that we initially went out with the 10K number to be conservative, but we have actually always been at 20K. In the future, we may increase the IOPS limit or any/all of the limits we document in our scale targets guide, and so the right to see the current limits is our [scale targets guide](https://docs.mi

[2022-01-19 19:38] mbukovich commented on #85713
Hi @JamesTran-MSFT and @hpsin,

I'm just following up to see if any one has been able to review this issue.

[2022-01-19 20:03] SGeorge007 opened #86651 "Health check for UI angular apps"
The document says how to implement the health checks for backend API's.
Front end apps are deployed to app service too. How to perform a health check/probe on front end apps.
How do we return status as "Healthy" , "Unhealthy" for front end app service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20c42a13-f6cb-1e60-0

[2022-01-19 20:11] GLComputing commented on #86471
@tfitzmac It's the machine name

[2022-01-19 20:24] sqlarticles opened #86652 "More details is required for AzureWebJobsDashboard attribute"
From v4 runtime, _AzureWebJobsDashboard_ is deprecated. Can this information get added to the note's section beneath the attribute in the docs, otherwise unless someone check the v4 change log they won't notice this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18aa54fd-3aa1-37c5-925c-51a0195b1030
* Version Independe