[2019-01-28 18:20] #23356 closed

[2019-01-28 18:22] maidrees commented on #13871
what issue are you facing. I managed to get the ADFV2 working for now with parameters.

[2019-01-28 18:25] harijayms commented on #23333
which one of the data categories ? I see there is plan and public keys that are incorrect and we should fix that

@KumariSupriya can you please take a look

[2019-01-28 18:33] #15001 closed

[2019-01-28 18:33] #16921 closed

[2019-01-28 18:33] femsulu commented on #23013
@msprateek don't have the roadmap for this but checking internally.

[2019-01-28 18:34] #17247 closed

[2019-01-28 18:34] #22773 closed

[2019-01-28 18:34] egrish opened #23555 "Can't login with AADLoginForLinux extension on linux VM"
On Ubuntu Ubuntu 18.04.1 LTS I get the following error:

[2019-01-28 18:35] #22801 closed

[2019-01-28 18:35] banisadr commented on #23394
Hi @suneetnangia, currently, during public preview, the limit for an Event Domain endpoint is 5,000 events/second. You can find all of the service limits for Event Grid [here](https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#azure-event-grid-limits): https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#azure-event-grid-limits

[2019-01-28 18:36] egrish commented on #23555
I get the following error:

 ### **error: PAM: User account has expire**

[2019-01-28 18:36] CarlRabeler commented on #20774
@Mike-Ubezzi-MSFT please assign to @VanMSFT

[2019-01-28 18:43] william726 opened #23556 "AzCopy (azcopy 7.3.0-netcore) overwrite option"
I am creating a pipeline in Azure DevOps to copy some files from Git repo to Azure Files.

As you may know, the official plugin "AzureBlob File Copy" which created by Microsoft only supports file copy to Blob and VM but not Azure Files. So I am writing my own script for this task.

I tried the this command `azcopy --source $(source) --destination $(destination) --dest-key $(SecretKey) --recursive

[2019-01-28 18:46] tchristiani commented on #15833
@Mike-Ubezzi-MSFT please assign to the appropriate PowerBI resource to respond to this product request.

[2019-01-28 18:48] shapeh commented on #23414
@Adam-Smith-MSFT - thanks, all questions raised :)

[2019-01-28 18:52] SaurabhSharma-MSFT commented on #22935
@yahiaman ok. As suggested please open a new MSDN forum post with the scenario details and community will help address your query.

[2019-01-28 18:54] mike-urnun-msft commented on #23538
Hi @StefanSchoof Thank you for your feedback! We will review and update as appropriate.

[2019-01-28 18:56] mike-urnun-msft commented on #23552
Hi @nicwillemse Thank you for reporting this issue! We will review and make any necessary changes.

[2019-01-28 18:57] mike-urnun-msft commented on #23541
Hi @JozoSlejko Thank you for your feedback! We will review and update as appropriate.

[2019-01-28 18:57] julieMSFT commented on #7170
@lukaszjakubczyk , I hope this addressed your issue. I will proceed with closing this issue. Please feel free to contact us if we can be of further assistance.

[2019-01-28 18:58] SaurabhSharma-MSFT commented on #23549
@KehindeOwens Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-28 19:02] MicahMcKittrick-MSFT commented on #23407
@aljo-microsoft from my understanding, user sees 12 choices in VS. They are linked to this doc which as you mentioned does give an overview of them. But I believe they are looking for a bit more detail about each specific one.

I will let @StingyJack confirm though to ensure I am understanding his ask.

[2019-01-28 19:04] chezhang opened #23557 "Better add the command to install HpcVMDrivers extension on instances in virtual machine scale set"
$vmss = Get-AzureRmVmss -ResourceGroupName winnodes -VMScaleSetName vmssrdma

Add-AzureRmVmssExtension -VirtualMachineScaleSet $vmss -Name HpcVmDrivers -Publisher "Microsoft.HpcCompute" -Type "HpcVmDrivers" -TypeHandlerVersion "1.1"
​
Update-AzureRmVmss -ResourceGroupName winnodes -VMScaleSetName vmssrdma -VirtualMachineScaleSet $vmss
​
Update-AzureRmVmssInstance -ResourceGroupName winnodes -VMSca

[2019-01-28 19:04] benny-gold commented on #23250
I've got it working over here. Still on the dynamic SKU - I was getting denied by the KeyVault Firewall, a Function is *not* one of the Azure services that is allowed to bypass my ACL unfortunately.

It's also worth mentioning that it only works using the format `@Microsoft.KeyVault(SecretUri=https://myvault.vault.azure.net/secrets/mysecret/ec96f02080254f109c51a1f14cdb1931)`, `@Microsoft.KeyVault(

[2019-01-28 19:13] eHealthManny opened #23558 "Azure KeyVault certificates documention says .pem import is supported, but it appears to not be."
This is a duplicate of this issue, since it was closed I created a new one -
https://github.com/MicrosoftDocs/azure-docs/issues/16543

Also see -
https://social.msdn.microsoft.com/Forums/en-US/283430e2-cbe7-432d-99e4-3e7daf5ff7a1/documentation-around-azure-keyvault-and-pem-format-is-incorrect?forum=AzureKeyVault#283430e2-cbe7-432d-99e4-3e7daf5ff7a1

---
#### Document Details

⚠ *Do not edit this s

[2019-01-28 19:14] veyalla commented on #23419
@bneelon85 Python module support is not yet available with Windows containers. I would use Linux containers in this use case.

[2019-01-28 19:15] MarileeTurscak-MSFT commented on #23395
@leftmostlane as the article states, Azure Disk Encryption is only supported for versions Windows Server 2008 R2, Windows Server 2012, Windows Server 2012 R2, and Windows Server 2016.

You can check the release notes for Windows Server 2019 for updates on this and make a feature request in User Voice [here ](https://windowsserver.uservoice.com/forums/295059-networking)or [here](https://feedback.az

[2019-01-28 19:16] MarileeTurscak-MSFT commented on #23395
We will now proceed to close this thread. If you have further questions feel free to tag me in the comments and I will gladly continue the discussion.

[2019-01-28 19:16] #23395 closed

[2019-01-28 19:19] crowcoder commented on #23250
@AjayKumar-MSFT Could this have something to do with my app being in a slot? When I add a role assignment in Key Vault I cannot find the service identity for my slotted service, I can only find the service identity for the parent App Service. Do the roles on the parent not flow through to the slots?

[2019-01-28 19:20] tchristiani commented on #23031
#please-close

[2019-01-28 19:22] Alberto-Vega-MSFT commented on #23513
Hi @djaus2 Sorry to hear you are facing this issues. `"image operating system "linux" cannot be used on this platform"` Are you're on a Windows machine and your Docker has Windows container selected?

[2019-01-28 19:23] julieMSFT commented on #20056
@TheSaltyKorean  Hello, thank you for your input. There was a previously resolved issue.  If your DW is in one of the regions that can be upgrade, you should see the migrate on the tasks tab.

![image](https://user-images.githubusercontent.com/44736634/51860547-e6b9ae00-22ee-11e9-8fc2-a6d1cc1b7062.png)

If your Gen1 DW in a region that does not have capacity for Gen 2 (Low end SLO) you should see

[2019-01-28 19:31] julieMSFT commented on #7170
#64338  [https://github.com/MicrosoftDocs/azure-docs-pr/pull/64338](url)

#please-close

[2019-01-28 19:31] YutongTie-MSFT commented on #15833
@SarinaJoan Hi Sarina, can you please check this issue? If necessary, I can help to move it into PowerBI repo.

[2019-01-28 19:38] #23031 closed

[2019-01-28 19:49] msmimart commented on #22515
@stephkdonahue Thanks so much for your feedback, we’re actively looking into ways to clarify these scenarios. I've filed a work item to track this issue and we'll update the article as soon as we can. #in-progress

[2019-01-28 19:56] Adam-Smith-MSFT commented on #23546
@frvigano Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-28 19:58] MicahMcKittrick-MSFT commented on #23557
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-28 19:58] diwitt opened #23559 "include references to smart lockout"
in the cloud account lockout policy include some references to the smart lockout policy that is applied to all tenants. as 10 failed attempts is only counted if the same password is not used. https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-password-smart-lockout

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2019-01-28 20:01] TravisCragg-MSFT commented on #23514
@jtuliani Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-28 20:02] TravisCragg-MSFT commented on #23544
@mailtogurvindersingh closing as duplicate of #23543

[2019-01-28 20:02] #23544 closed

[2019-01-28 20:03] MicahMcKittrick-MSFT commented on #23557
@chezhang we have the command showing how to add the extension already in the doc

Set-AzureRmVMExtension -ResourceGroupName "myResourceGroup" -Location "westus" -VMName "myVM" -ExtensionName "HpcVmDrivers" -Publisher "Microsoft.HpcCompute" -Type "HpcVmDrivers" -TypeHandlerVersion "1.1"

[2019-01-28 20:05] craigshoemaker commented on #21130
Hi @JasonSingh. Let me know if you think this is still an issue for you. If not I'll go ahead and close out this issue.

[2019-01-28 20:07] jpetitte commented on #23361
At the moment, the terraform provider for Azure doesn't support static website hosting, so I have to first create the storage account using the terraform Azure provider, then use terraform's null resource to directly execute the Azure cli commands to convert the storage account to host a static site.

I'm not aware of a way to pass variables from cli executed commands back to other terraform resou

[2019-01-28 20:09] TravisCragg-MSFT commented on #23543
@mailtogurvindersingh Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-28 20:12] TravisCragg-MSFT commented on #23526
@Sethu2488 unfortunately I am not able to give a timetable on the release date for Azure Front Door. Keep an eye on the[ Azure Roadmap](https://azure.microsoft.com/en-us/updates/) for more information.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-28 20:12] #23526 closed

[2019-01-28 20:14] artemuwka commented on #23240
#please-close

[2019-01-28 20:17] #23240 closed

[2019-01-28 20:33] Neckross opened #23560 "HDJ Workaround for Multi-Forest Federated environments [New-SelfSignedCertificate]"
Issue: DC3.fabrikam.local was not syncing to Azure as HDJ device.
Scenario: DC's are not meant to register in Azure, but should be able to sync. Other DC's from forest "contoso.local" were syncing just fine. ADFS farm endpoint "adfs.contoso.com" was located under "contoso.local" forest and was used for both forests. CL3.fabrikam.com Win10 client synced and registered to Azure from forest "fabrikam

[2019-01-28 20:35] #21828 closed

[2019-01-28 20:35] #22956 closed

[2019-01-28 20:35] bandersmsft commented on #23362
@paddyhitch Hi, athough I cannot give a public timeline on enabling cost management feaures, like budgets, for non-EA (pay-as-you go, MSDN, etc.) subscriptions, I can say that the team has had that work in their backlog for awhile. See https://feedback.azure.com/forums/906772-cost-management. You'll see some interesting news about this soon.
#please-close

[2019-01-28 20:35] #23218 closed

[2019-01-28 20:36] #23403 closed

[2019-01-28 20:37] TravisCragg-MSFT commented on #23365
@jgallucci32 I do not believe that this is supported on Azure Stack. Azure Stack does not offer the VM types that vFXT requires.

[2019-01-28 20:39] roygara commented on #21083
The updates to the code have been merged and should be live later today.

Again, thank you @Agazoth and @benstott-eduserv .

#please-close

[2019-01-28 20:39] roygara commented on #21081
The updates to the code have been merged and should be live later today.

Again, thank you @Agazoth and @benstott-eduserv .

#please-close

[2019-01-28 20:39] TravisCragg-MSFT commented on #23399
@CloudCrusader Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-28 20:42] AlexFilipin commented on #23520
I just need to know what should be considered best practice. I will test, write a blog and send a push request to the documentation.

[2019-01-28 20:46] TravisCragg-MSFT commented on #23340
@nschonni Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-28 20:48] MichaelDWebb01 commented on #22134
@neeleshray how are admins supposed to use apps like Skype that do not support MFA?

[2019-01-28 20:48] jan-eng commented on #23512
@Mike-Ubezzi-MSFT we will have a look at it.

[2019-01-28 20:49] julieMSFT commented on #7368
@angiekNCS Hello, I hope this addressed your issue. I will proceed with closing this issue. Please feel free to contact us if we can be of further assistance.

[2019-01-28 20:50] julieMSFT commented on #7368
#please-close

[2019-01-28 20:53] jtuliani commented on #22871
I think that's better, thanks!

[2019-01-28 20:56] ksiomelo commented on #23236
try ```az account set <subscription_name or id>```

[2019-01-28 20:57] TravisCragg-MSFT commented on #23365
@jgallucci32 I have confirmed that this is not supported with Azure Stack at this time.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-28 20:57] #23365 closed

[2019-01-28 21:00] JozoSlejko opened #23561 "Limitations"
Endpoints cannot be used for traffic from your premises to Azure services.
Can you confirm, resources protected with service endpoints cannot be accessed over S2S VPNs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1eb0407d-f4a5-6059-488d-fd082915c675
* Version Independent ID: 7c2fb429-743c-aea0-f1d5-de6dc2e62e8e
* Co

[2019-01-28 21:02] saulcruz commented on #13515
IS the only way to use runPageUrl  to monitor all the exceptions? no way of doing this from ADF?

[2019-01-28 21:12] Grace-MacJones-MSFT commented on #23527
Hi @sandeshmanoharV2, thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-28 21:19] SaurabhSharma-MSFT commented on #23520
@AlexFilipin can you elaborate on your scenario what kind of alert you are looking for emergency access accounts ?

[2019-01-28 21:20] TravisCragg-MSFT commented on #23352
@peter-foreman Thanks for letting us know! I have fixed the script, and the change should appear on the page within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-28 21:20] #23352 closed

[2019-01-28 21:24] VanMSFT commented on #20774
@CarlRabeler - The encryption portion was already fixed. This whole section is pretty unclear:

Managed Instance administration features

https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance#managed-instance-administration-features

@CarlRabeler @bonova - Borko, can you please help with this section? What Managed Instance Administration features are we trying to highli

[2019-01-28 21:29] ashleywb opened #23562 "scaleset support"
Any plans to support syslog for linux in scalesets?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 335e48e2-7265-ac6e-f931-3a5d406f3d23
* Version Independent ID: 224b7842-f066-59da-07b3-9d70f856d8d0
* Content: [Collect and analyze Syslog messages in Log Analytics](https://docs.microsoft.com/en-us/azure/azure-monitor/pl

[2019-01-28 21:32] AlexFilipin commented on #23520
@shashishailaj The documentation recommends two emergency access accounts, at least one of them should have a permanent global admin role and should be excluded from conditional access policies. Most companies will not have a third party MFA provider just for their emergency account. It's reasonable to consider that the emergency account has MFA disabled. Just remember the recent MFA outage in nov

[2019-01-28 21:38] tchristiani commented on #21994
As the system is built, you need to list the service you are providing the feedback for in the title of your entry. For example: https://feedback.azure.com/forums/34192--general-feedback/suggestions/35426716-clearer-error-messages-with-cognitive-services
#please-close

[2019-01-28 21:38] TravisCragg-MSFT commented on #23365
@jgallucci32 It was my impression that there are several challenges that vFXT has for Azure Stack. If this is something that is being pursued I will let them know that you are interested in any early testing..

[2019-01-28 21:41] jgallucci32 commented on #23365
@TravisCragg-MSFT Thanks, that would be greatly appreciated.

On Mon, Jan 28, 2019 at 1:38 PM TravisCragg-MSFT <notifications@github.com>
wrote:

--
John Gallucci
john.gallucci.iv@gmail.com

[2019-01-28 21:43] stevedmace commented on #5850
Hello, I have user provisioning from Azure AD to Google G Suite working but all my google accounts are created as "Suspended". I can't find out why. Anyone else experienced this behavior?

[2019-01-28 21:45] DarrinEide commented on #21237
#please-close

[2019-01-28 21:46] YutongTie-MSFT commented on #21237
@ben-vtarc
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-01-28 21:46] #21237 closed

[2019-01-28 21:49] bwren commented on #23310
#please-close

[2019-01-28 21:50] sumeetmittal commented on #23561
That's true.. For on-prem access you need to open Service Side Firewalls to On-Prem public IPs.

[2019-01-28 21:50] femsulu commented on #23551
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-28 21:50] #23551 closed

[2019-01-28 21:53] femsulu commented on #23531
@ThierryBT Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-28 21:54] femsulu commented on #23523
@pmillart Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-28 21:55] ekpgh commented on #23364
Avere vFXT for Azure does support the same core filers as the hardware FXT product. More information is in the FAQ: https://docs.microsoft.com/en-us/azure/avere-vfxt/avere-vfxt-faq#which-core-filers-does-avere-vfxt-support

[2019-01-28 21:55] tshinkle commented on #23408
Hi, yes, please see below.

[image: image.png]

On Mon, Jan 28, 2019 at 1:06 PM Micah <notifications@github.com> wrote:

[2019-01-28 21:55] #23419 closed

[2019-01-28 21:55] vhorne commented on #22871
#please-close

[2019-01-28 21:56] tshinkle commented on #23408
And in my cluster,

[image: image.png]

On Mon, Jan 28, 2019 at 1:06 PM Micah <notifications@github.com> wrote:

[2019-01-28 21:57] femsulu commented on #23522
@msprateek Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-28 21:57] TheSaltyKorean commented on #20056
You might update the docs to say that the Task only shows up when running, and is at the bottom of the page.  Other than that, thanks, it now works and properly shows up.

[2019-01-28 21:57] #20056 closed

[2019-01-28 21:58] femsulu commented on #23510
@LTUTE Thanks for the Comment. We are actively investigating and will get back to you soon.

@ellacroi  - are you aware of this?

[2019-01-28 22:00] szolla opened #23563 "Availability Zones and Vnet Peering"
I notice that this document is almost 2 years old.  Is there an updated architecture utilizing Availability Zones and Vnet Peering?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88e51bc6-b077-a976-c890-a02e7d71b88e
* Version Independent ID: f3af0a93-edc2-fddf-8690-d70ac22f8a2b
* Content: [SQL Server Availability Group

[2019-01-28 22:01] aljo-microsoft commented on #23407
@StingyJack
Visual Studio's New Service Fabric Service Select A Template provides 12 templates that are groups into the following 3 categories: .NET Core, Hosted Containers and Applications, and .NET Framework.

To optimize for portability of your Application, its recommended you containerize all of your services and use .NET Core.

Explicitly this means you should default to provisioning a Contai

[2019-01-28 22:01] julieMSFT commented on #20056
@TheSaltyKorean Thank you Randy. I will look at adding that.  I hope this addressed your issue. I will proceed with closing this issue. Please feel free to contact us if we can be of further assistance.

[2019-01-28 22:02] MicahMcKittrick-MSFT commented on #23408
@tshinkle Sorry but if you reply directly to the email the images don't show up. You actually need to login on a PC to upload the images.

[2019-01-28 22:02] julieMSFT commented on #20056
#please-close

[2019-01-28 22:03] #23407 closed

[2019-01-28 22:06] TravisCragg-MSFT commented on #22871
@jtuliani We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-28 22:06] #22871 closed

[2019-01-28 22:10] mike-urnun-msft commented on #23521
Hi @jamtur01 Thank you for reporting this issue! We will review and make any necessary changes.

[2019-01-28 22:10] tshinkle commented on #23408
![image](https://user-images.githubusercontent.com/24883004/51869802-a32b6800-231f-11e9-9711-30099d50b095.png)

[2019-01-28 22:11] tshinkle commented on #23408
![image 1](https://user-images.githubusercontent.com/24883004/51869826-c0f8cd00-231f-11e9-8570-04e3d9b4076f.png)

[2019-01-28 22:14] ggailey777 commented on #23521
Thanks @jamtur01, this was written before Python was an option and it never got updated. @mike-urnun-msft please assign this to @ggailey777.

[2019-01-28 22:14] bwren commented on #22715
Thanks for this.  I can't guarantee that we'll publish that since I need to run it past the engineering team and see if it's something we want to support.  I'll queue it up for them review though.

[2019-01-28 22:17] MicahMcKittrick-MSFT commented on #23408
@tshinkle thanks for that. So as it shows it seems your cluster itself is struggling so we should fix that before anything else.

I assume you are first trying to deploy this in a local Service Fabric cluster correct? If so, can you remove your current cluster and then open the local Service Fabric Cluster manager.

Try building a new cluster without deploying any code.

![image](https://user-imag

[2019-01-28 22:17] ellacroi commented on #23510
Thank you @LTUTE !

@femsulu I had heard it was being retired but was waiting to make changes once I had an updated resource. I will investigate.

[2019-01-28 22:18] tshinkle commented on #23408
I also get local host refused to connect when I try to go to the following
link: https://votingtestcluster.eastus.cloudapp.azure.com:443

On Mon, Jan 28, 2019 at 5:02 PM Micah <notifications@github.com> wrote:

[2019-01-28 22:20] YutongTie-MSFT commented on #23558
@eHealthManny Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-28 22:21] MicahMcKittrick-MSFT commented on #23408
@tshinkle sorry I re-read and I see it's an Azure cluster not local.

I am investigating and will update shortly.

[2019-01-28 22:24] pgbconfirmit opened #23564 "Restoring of encrypted disks results in Bitlocker recovery mode"
Unfortunately, we have found that, when restoring a VM which has encrypted disks, the VM will go into Bitlocker recovery mode upon boot up after the restore finishes. This results in me needing to delete the VM, attach the orphaned disks to an existing VM, decrypt the disks, then recreate the VM and re-attach the decrypted disks.
I assume this is not as designed, so we appear to have uncovered a b

[2019-01-28 22:24] femsulu commented on #23510
thanks @ellacroi

[2019-01-28 22:25] tshinkle commented on #23408
Ok, so I'm now to this. I downloaded the desktop service cluster manager
app from here
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-visualizing-your-cluster
but it doesn't run for some reason. I there something I need to install
first? Thanks.

On Mon, Jan 28, 2019 at 5:17 PM Micah <notifications@github.com> wrote:

[2019-01-28 22:34] bwren commented on #22577
There's not a simple way to remove that data.  You should be able to use the [purge API](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/personal-data-mgmt#how-to-export-and-delete-private-data) that's provided for data privacy though.

[2019-01-28 22:34] bwren commented on #22577
#please-close

[2019-01-28 22:37] bwren commented on #22413
Thanks, I'll let the engineering team know just so there's no confusion.  I don't think we document a link to this portal anymore because we're trying to push them to the Azure portal.  If I see any though, I'll get them updated.

[2019-01-28 22:37] bwren commented on #22413
#please-close

[2019-01-28 22:39] tchmiel opened #23565 "call explain_model on a regression model, show graph"
1.  any idea on how I can call explain_model on a regression model to get the importance of features., (see below for error msg).

2.  I also don't see the Feature Importance graph, when I call RunDetails and/or visit the Azure portal.

========
I tried:
shap_values, expected_values, overall_summary, overall_imp, per_class_summary, per_class_imp = \
    explain_model(fitted_model, X_train, X_test)

[2019-01-28 22:44] narsaskak opened #23566 "Recevering a sof-deleted keyvault"
I tried the command above (Undo-AzureRmKeyVaultRemoval -VaultName ContosoVault -ResourceGroupName ContosoRG -Location westus) and it didn't work, what worked with me is to add a single quote to each of the values.

Undo-AzureRmKeyVaultRemoval -VaultName 'ContosoVault' -ResourceGroupName 'ContosoRG' -Location 'westus'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2019-01-28 22:45] areddish commented on #22973
Hi @sachinpatel248,

The error is indicating that the tensor shapes don't match. I.e. it looks like the network is being sent a 277x277 image when it can only process a 227x227 sized image.

I suspect either the ```network_input_size variable``` got changed or a step in the referenced tutorial was skipped. The image must be sized to  227x227 before submitting it to the network.

Thanks,
Andrew

[2019-01-28 22:47] bwren commented on #20752
Have this one queued up for documentation update so let's go ahead and close the issue.  #please-close

[2019-01-28 22:54] ellacroi commented on #23510
@qianw211 FYI, see note here. I'm going to ask engineering about this and will copy you on the email so you have the information for updates (we will have to update the email address at least and possibly some other things).

[2019-01-28 22:55] msftkevin commented on #23530
I have the same problem.
"Error in SQL statement: AnalysisException: Unable to infer schema for JSON. It must be specified manually.;"

[2019-01-28 22:56] bgklein commented on #23172
Ping @ericrad / @EricRadzikowskiMSFT

[2019-01-28 22:58] YutongTie-MSFT commented on #23556
@william726
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-28 22:59] tchristiani commented on #19134
@YutongTie-MSFT  The issue here is not with the tutorial page but rather the GitHub repo that the tutorial page links to for possible "Next Steps." This is a product issue as the repo is maintained by the product team not docs.

[2019-01-28 23:03] YutongTie-MSFT commented on #23555
@egrish Hi, can you please share the document/tutorials you are referring to?

[2019-01-28 23:06] tchristiani commented on #21314
#please-close

[2019-01-28 23:10] MicahMcKittrick-MSFT commented on #23563
Thanks for the question! We are investigating and will update you shortly.

[2019-01-28 23:10] tchristiani commented on #21892
@eadluru are you still having issues or can we close this item?

[2019-01-28 23:11] MicahMcKittrick-MSFT commented on #23408
@tshinkle thanks for the info. I am going to go through all parts of the tutorial again as well to ensure all the needed info is there. will update once I have completed it.

[2019-01-28 23:47] TravisCragg-MSFT commented on #23152
@StudentAndy We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-28 23:47] #23152 closed

[2019-01-28 23:47] Karishma-Tiwari-MSFT commented on #23563
@szolla Would you be able to share some more details on what sections of the document you find outdated or if there is anything missing that you think should be a part of this document? This would help in identifying the areas of improvement for the doc and I will be able to assist you better in finding another resource.

[2019-01-28 23:47] TravisCragg-MSFT commented on #23043
@vicperdana We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-28 23:47] #23043 closed

[2019-01-28 23:51] MashaMSFT commented on #23545
Hi @Rabbit994 , thanks for your feedback! Let me see what I can do to help getting this document updated :)

[2019-01-28 23:59] kobulloc-MSFT commented on #18215
@ianrkent You may be running into this: https://docs.microsoft.com/en-us/azure/dev-spaces/troubleshooting#warning-dockerfile-could-not-be-generated-due-to-unsupported-language

Azure Dev Spaces provides native support for C# and Node.js. When you run azds prep in a directory containing code written in one of these languages, Azure Dev Spaces will automatically create an appropriate Dockerfile for

[2019-01-29 00:06] Karishma-Tiwari-MSFT commented on #23533
@qrick26 Thank you for sharing the update.
In Azure PowerShell version 6.13, the -ImageName parameter is replaced by -Image.
It is recommended to always keep the PowerShell version updated while trying the tutorials. In case, there are confusions on the parameters or if you need to check if any command is supported for a specific version, you can refer to this page: https://docs.microsoft.com/en-u

[2019-01-29 00:12] qianw211 commented on #23510
@ellacroi ok, I'll track...

[2019-01-29 00:15] #10476 closed

[2019-01-29 00:18] andrewatfornax commented on #15386
Hi @rkarlin,

Thank you for this. However, I think you have missed an opportunity to improve the documentation here.

My initial ticket was about the fact the troubleshooting document did not have a section to cover what to do when the "No recent data" message appears. As far as I can see, this is still the case - and including a section on how to troubleshoot this issue would be helpful, as evide

[2019-01-29 00:20] Karishma-Tiwari-MSFT commented on #23304
Please refer to the [GitHub issue](https://github.com/MicrosoftDocs/azure-docs/issues/14983#issuecomment-422926288) which talks about the same issue. Let me know if that helps.

[2019-01-29 00:36] YutongTie-MSFT commented on #23532
@lsmith999999
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-29 00:37] YutongTie-MSFT commented on #23529
@lsmith999999
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-29 00:38] YutongTie-MSFT commented on #23565
@tchmiel
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@nacharya1 Hi, can you please take a look of this issue and add more details? Thanks a lot!

[2019-01-29 00:40] YutongTie-MSFT commented on #23249
@DarrinEide Hi Darrin, can you please take a look of this issue and check? Thank you.

[2019-01-29 01:39] MarileeTurscak-MSFT commented on #23554
@jdipaola7
Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-29 01:41] SaurabhSharma-MSFT commented on #23566
@narsaskak Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-29 01:44] dcbrown16 commented on #19505
Awesome, thanks for your help @rohinkoul! Closing.

[2019-01-29 01:44] #19505 closed

[2019-01-29 01:50] rbrundritt commented on #23534
Actually, you found a new feature we haven't officially announced yet, which is support for click (and other mouse events) on HTML markers. The reference docs have been updated through an automated process, but we are still working on updating code samples. I've updated the sample based on your feedback. You might also noticed that I've swapped out the "load" event with the new "ready" event. The

[2019-01-29 01:51] abharath27 opened #23571 ""View logs in Log Analytics" link is broken"
"View logs in Log Analytics" link in this section https://docs.microsoft.com/en-us/azure/cosmos-db/logging#turn-on-logging-in-the-azure-portal is broken.
It should be https://docs.microsoft.com/en-us/azure/cosmos-db/logging#view-logs-in-log-analytics instead of https://docs.microsoft.com/en-us/azure/cosmos-db/logging#view-in-loganalytics

---
#### Document Details

⚠ *Do not edit this section. It

[2019-01-29 01:59] kazshi commented on #23258
@cynthn My customer created Availability Set using unmanaged disks in Japan East region, and we can set 3 for Fault Domains - I would like to make sure if it's no problem to set 3 since there's no information about unmanaged disks.

[2019-01-29 02:06] doragui commented on #23282
Hi All,

When I used the script to mount the azure file share persistent, I reboot the VM, the azure file share won’t remounted again during booting.

My working hours are 9:00-18:00 Mon-Fri UTC+8 (that is 17:00-2:00 PST, 1:00-10:00 UTC). If you need any urgent support during my non-working hours, please contact my backup azurebu@microsoft.com<mailto:azurebu@microsoft.com> and one engineer will co

[2019-01-29 02:09] MarileeTurscak-MSFT commented on #23559
@diwitt
Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-29 02:10] MarileeTurscak-MSFT commented on #23560
@Neckross
Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-29 02:18] cynthn commented on #23258
@kazshi I think your customer would have gotten an error on validation if 3 fault domains weren't supported. I think 3 was common for unmanaged disks.

[2019-01-29 02:23] kazshi commented on #23258
@cynthn Thanks for your comment. I'll let the customer know. Would you please add it in the content?  Thanks.

[2019-01-29 02:29] vinnielima opened #23572 "Basic SAML Configuration is not correct"
The following worked, after working with Expensify Concierge folks (they are great!)

•	Sign In URL: https://www.expensify.com/authentication/saml/loginCallback?domain=[yourdomain]
•	Identifier: https://www.expensify.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 569d7012-11db-454e-b237-2f7f18716bf1
* Version Indep

[2019-01-29 02:29] imeya opened #23573 "Failed to run cmdlet Get-AzureRmSqlDatabaseImportExportStatus in powershell runbook"
I used this cmdlet Get-AzureRmSqlDatabaseImportExportStatus in powershell runbook to check the status of database backup.
I have installed the module AzureRM.Sql(latest version 4.12.1).

But when I run the runbook, an error occurs: "New-AzureRmSqlDatabaseExport : Object reference not set to an instance of an object.", screenshot as below:

![sql-automation-error](https://user-images.githubusercont

[2019-01-29 02:58] phduf opened #23574 "Needs clarification of the customer DNS traffic in relation to NSG"
Once custom DNS servers are set on a network, then this traffic (port 53) by passes the NSG's of the subnet. This should be outlined in the documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7b1b215-0434-145b-cd11-95d0f32bc015
* Version Independent ID: d328a868-a151-1985-2b62-f3884f7ad76c
* Content: [Name re

[2019-01-29 03:46] swinarko commented on #23358
To use multiple sets of credentials for package executions/data access, you should disable the catalog.set_execution_credential method and enable only the cmdkey method with custom setup as specified in the previously shared doc.

[2019-01-29 03:50] solidcloudio opened #23575 "Block Traffic?"
Can I use Path based routing to block traffic?  Doesn't seem to work, just goes to the default...  If I could only route valid traffic that would help?!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f499fef-00fc-0326-a4e5-0d796d6ca331
* Version Independent ID: 09179d08-d93c-df5f-f838-c854d9dca26f
* Content: [Azure Ap

[2019-01-29 03:53] alohaninja opened #23576 "Not enough space on disk in the container"
The base ACI doesn't seem to be larger than 20GB - we are using the public docker image [`microsoft/dotnet-framework:4.7.2-sdk`](https://hub.docker.com/r/microsoft/dotnet-framework/) and seeing ~3GB local free space. Can we provide more guidance on local disk provisioning and advice on storage / data volume limits? There [seems to be restrictions on persisted storage with ACI being Linux-only](htt

[2019-01-29 03:54] DarrenCzen opened #23577 "Deploying Jar File On Azure Container(Linux-Based)"
Been looking through azure documentations of deployment. Might still be confused about certain concepts of container instances.

But is there a specific guide on how I can deploy jar files in an Azure container that is linux based?
I do know that there is a similar documentation about uploading jar file to Azure App Services but I couldnt find something similar to uploading jar file to Azure Kuber

[2019-01-29 03:56] PramodValavala-MSFT commented on #23357
@harouny Thanks for contributing to MS Docs!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-29 03:56] #23357 closed

[2019-01-29 03:56] aldvintumbelaka opened #23578 "Save Button disabled on system identity"
I try to grant a function app managed identity which I always did before.
But today I ran into an issue where I can't grant system identity because the save button always disabled even though I did an update from "off" to "on".
![image](https://user-images.githubusercontent.com/33532350/51883217-1c859200-23d6-11e9-8b42-e5b7174c2fc5.png)

[2019-01-29 03:58] seyi opened #23579 "Cool"
Great and simple tutorial.Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6546805c-087e-143f-d803-b374e5c40b49
* Version Independent ID: cfd6fad0-3bd8-3987-4785-66bd5c6339ff
* Content: [Import utterances using Node.js - Azure](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-tutorial-node-impor

[2019-01-29 03:59] AshokPeddakotla-MSFT commented on #23548
@djburnham Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-29 03:59] CHEEKATLAPRADEEP-MSFT commented on #23571
@abharath27 Thanks for pointing out the issue.
 I've addressed this issue in PR [https://github.com/MicrosoftDocs/azure-docs-pr/pull/64423](https://github.com/MicrosoftDocs/azure-docs-pr/pull/64423).
The changes should be live EOD or tomorrow.
We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love

[2019-01-29 04:01] alohaninja opened #23580 "DevOps Pipelines Agents on ACI"
Great to see Jenkins use case provided! Any possibility of providing a [similar workflow for Azure DevOps Pipelines](https://blogs.msdn.microsoft.com/devops/2019/01/07/azure-devops-agents-on-azure-container-instances-aci/)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da0d4345-e27a-8fa8-7d26-9c0c8920a4e8
* Version In

[2019-01-29 04:02] diberry commented on #23579
@seyi Thank you for letting us know.

[2019-01-29 04:02] #23571 closed

[2019-01-29 04:13] CHEEKATLAPRADEEP-MSFT commented on #23579
@seyi Thank you for the feedback. We will now proceed to close this thread.

[2019-01-29 04:13] #23579 closed

[2019-01-29 04:16] swinarko commented on #15574
You should use the assigned client-side IP address in your packages, to raise Azure support ticket, see https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request.

[2019-01-29 04:16] recklessop opened #23581 "Gateway SKUs"
In the Azure portal I have "Basic", "Standard", and "High Performance" SKUs

There is no performance information on Standard or High Performance on the doc page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45d7ab31-fdf3-9b0f-1439-6a01fb257aab
* Version Independent ID: af13a45f-3061-2f0e-7452-b52d700b4805
* Content:

[2019-01-29 04:22] CHEEKATLAPRADEEP-MSFT commented on #22610
@nabhishek Any update on the above issue?

[2019-01-29 04:31] CHEEKATLAPRADEEP-MSFT commented on #22033
@kevinvngo Is there any update on the issue?

[2019-01-29 04:31] CHEEKATLAPRADEEP-MSFT commented on #23232
@CeciAc Is there any update on the issue?

[2019-01-29 04:34] CHEEKATLAPRADEEP-MSFT commented on #23260
@markjbrown @SnehaGunda Is there any update on the issue?

[2019-01-29 04:35] CHEEKATLAPRADEEP-MSFT commented on #23229
@CeciAc Is there any update on the issue?

[2019-01-29 04:36] CHEEKATLAPRADEEP-MSFT commented on #22382
@SnehaGunda Could you please provide update on the above issue?

[2019-01-29 04:40] ManojReddy-MSFT commented on #20199
@BrianJackson Product team confirmed that they are in the process of revamping this. "Modiofied properties" will be displayed correctly with the new experience.

[2019-01-29 04:45] neeleshray commented on #23572
@vinnielima Thank you for your feedback . We will have it investigated and update the thread.

[2019-01-29 04:45] Anmolgan81 commented on #23358
I tried yo use the custom setup but the SSIS failed to start, is there an example in how to provide the credentials and azure file share information using custom script?

Regards
Anmol Ganju

________________________________
From: Sandy Winarko <notifications@github.com>
Sent: Tuesday, January 29, 2019 9:16:36 AM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/azu

[2019-01-29 04:45] neeleshray commented on #23572
@jeevansd  Could the document be updated with the information ?

[2019-01-29 05:00] femsulu commented on #23573
@imeya Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-29 05:02] sffamily commented on #23005
@jtheisen sorry it is confusing. just meant the alternative as to use Python to inter-operate with ASP.NET server to get redirect information, then try to establish a websocket wss connection with SignalR Service through corresponding Python lib for websocket. But after a second thought it is too hacky, so I would not recommend this track.

[2019-01-29 05:02] jakaruna-MSFT commented on #23580
Thanks for the question! We are investigating and will update you shortly.

[2019-01-29 05:03] jakaruna-MSFT commented on #23576
Thanks for the question! We are investigating and will update you shortly.

[2019-01-29 05:04] femsulu commented on #23564
@pgbconfirmit Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-29 05:09] raghavan20 commented on #23265
hi do you have any update?

[2019-01-29 05:10] femsulu commented on #23562
@ashleywb Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-29 05:14] nayakshweta opened #23583 "Article does not explicitly mention that ADE would be supported only on Endorsed images from original publishers of the listed Linux distributions."
We receive queries for ADE from customers using third party publisher images based one of the Linux distributions listed in the article.
For example - zscalar marketplace image published by 'zscalar' - based on CentOS 7.
Although the article mentions : "You can't apply Azure Disk Encryption on your custom Linux image. Only the gallery Linux images for the supported distributions called out previou

[2019-01-29 05:16] neeleshray commented on #23413
@kevtacular  Here's the [document ](https://docs.microsoft.com/en-us/cli/azure/ad/app?view=azure-cli-latest#az-ad-app-create)to create application with Azure CLI.

[2019-01-29 05:17] kasmodia commented on #23400
@MicahMcKittrick-MSFT I'm trying to install LAD extension on a linux machine using ARM template according to this article to get the guest metrics data through the Metrics API . The VM is created successfully but the guest metrics are not displaying data in the portal nor through the API. I have 2 errors. One in the portal when I click on "Virtual Machines"> my_linux_machine > "Diagnostic Settings

[2019-01-29 05:18] raghavan20 opened #23584 "Debugging issues with custom modules"
Say I have an Edge device that runs a custom module `ModuleA` and it is deployed at a customer site. We come to know through IOTHub that the module is not running. We need to find out why and rectify soon. Logs would be certainly useful.

1. It appears if a module is stopped, the the container is recycled along with logs, is this correct?
2. Is it recommended to report issue faced by module throug

[2019-01-29 05:31] StingyJack commented on #23407
@aljo-microsoft - Thanks but there are no "Reliable" services in the screenshot depicted above. Not being able to find anything other than the descriptions in VS about the stateful / stateless is what prompted my question.  I got to the page for this feedback by clicked on the "learn more" link in the screenshot. If you have clearer or more detailed descriptions about the stateful and stateless (s

[2019-01-29 06:01] #23519 closed

[2019-01-29 06:03] seshenoy opened #23589 "Local Debug to Server"
Hello,
Thanks for the documentation. My Azure function ( Blob trigger ) works very well when deployed on the server. The ConnectionString is obtained from KeyVault and all is good.
However, if I want to debug my Azure function locally on my machine but with the trigger's connection string pointing to the one in KeyVault, is it possible to do so ?
At the moment it works only if I set UseDevelopment

[2019-01-29 06:09] Jothi3125 opened #23590 "Adding SQL Databases to the Elastic Pool"
Considering the Elastic pool with following configurations,
eDTUs PER POOL- 100
MAX eDTUs PER DATABASE - 100

If I wanted to add only 10 Databases out of 50 Databases from a server, what would be the Powershell Script for the same?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ea31120-0699-efed-c674-621ea8683f3a
* Ve

[2019-01-29 06:11] AshokPeddakotla-MSFT commented on #21682
@smithGit We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-29 06:11] #21682 closed

[2019-01-29 06:16] cijothomas opened #23591 "Asp.Net core sampling instructions are missing"
Need to borrow content from https://github.com/Microsoft/ApplicationInsights-aspnetcore/wiki/Telemetry-Processors:-Sampling-and-Metrics-Stream#sampling to this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f4c906d-7abe-eab7-331a-120230344583
* Version Independent ID: ab24ade5-5e4c-b430-c3f8-2a00073e9e81
* Conte

[2019-01-29 06:19] KeiroKamioka0000 opened #23594 "Examples of what well happen When rate-limiting occurs"
Such as cannot run query for certain time, is there are any example what will happen  When rate-limiting occurs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f2b93a5-28b8-db4a-ab64-6342d3aafc63
* Version Independent ID: 245586f2-63e1-1e78-a5dd-21e8fa2cc5d3
* Content: [Provision throughput for Azure Cosmos DB](https:

[2019-01-29 06:23] AlexanderTodorovic opened #23596 "Get speech to text of full file?"
Dear All, the sample code works fine. However it returns only e.g. a couple of words from a long file. How would I get the full speech to text of a file let's say which is 3 minutes long?
Thanks,
Alex

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1a5561a-e55e-276b-84a3-b3c643a1d03c
* Version Independent ID: 77ba94f1-

[2019-01-29 06:26] dcbrown16 opened #23599 ""Manage classic deployments""
What exactly does it mean to "manage classic deployments"? This is said to be the reason for adding an RBAC Owner as a Co-administrator, but in my understanding RBAC Owners would have access to all operations in the ClassicCompute and other Classic providers. What ability is gained by being co-admin?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-01-29 06:41] YutongTie-MSFT commented on #23578
@aldvintumbelaka Hi, can you please share which document you are referring to? Thank you.

[2019-01-29 06:46] ManojReddy-MSFT commented on #22134
@MichaelDWebb01 You need to have modern authentication enabled in Skype for business as well for this to work. Check this [article ](https://social.technet.microsoft.com/wiki/contents/articles/34339.skype-for-business-online-enable-your-tenant-for-modern-authentication.aspx)for steps to do this.

Was this issue faced by all the users or just few users ?

[2019-01-29 06:51] imeya commented on #23503
@jakaruna-MSFT , thanks for your response.

I'm not familiar with resource graph rest api, could you please help me out the following 2 questions?

1.how to generate token using code(c# or python)

2. I go to the link you provide and click the "try it" option for a testing purpose, but receive an error: "BadRequest: After parsing a value an unexpected character was encountered: s. Path 'query', li

[2019-01-29 06:57] dcbrown16 opened #23617 "Broken link"
"There are two key configuration settings available for configuring client Connection Policy – the connection mode and the connection protocol. "
"connection protocol" is a link but it doesn't go anywhere. Did we lose this information?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19819758-be79-2347-d1d9-7c950d8513ae

[2019-01-29 06:59] pvrk commented on #23185
No, the activity log alerts work only for Azure VMs. May I know for which scenario you are looking for notification?

[2019-01-29 07:02] baimsilagpo opened #23622 "Error when sending a message"
Just tried running the app after modifying the local.settings.json and error encountered when submitting a message.

![image](https://user-images.githubusercontent.com/47135815/51890331-c36a2e00-23d6-11e9-8437-c9a59c7a435d.png)

here's the local.settings.json:
`{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "AzureWebJobsDashboard": "",
    "FUNCTIONS_WORKER_RUNTIME": "d

[2019-01-29 07:05] dcbrown16 commented on #23185
Thanks Kartik, I just have a customer through ProDirect wanting to get success backups for both VMs and File Shares.
You can follow up with me at v-dibr offline if you like, but I thought this would be a useful clarification to have public in the docs as well.

[2019-01-29 07:07] piizei commented on #23524
Regarding the sample, parameters to DatabricksStep are not from same version as other samples in the page. For example databricks_compute has been replaced with compute_target. I'm testing with sdk 1.0.8.

[2019-01-29 07:18] swinarko commented on #23358
See https://docs.microsoft.com/en-us/sql/integration-services/lift-shift/ssis-azure-files-file-shares?view=sql-server-2017 and "Sample" folder in https://docs.microsoft.com/en-us/azure/data-factory/how-to-configure-azure-ssis-ir-custom-setup.  Please raise an Azure support ticket if you still have issues, so we can investigate in more details.

[2019-01-29 07:33] pvrk commented on #23185
Thanks.. I am preparing a comprehensive document for alerts and notifications. Will clarify this there. Just for our clarity, in the document you cited for VMs there are 2 sections: Configuring notifications via portal (for failure scenarios) and configuring alerts via activity logs (for success scenarios). The alerts via activity logs won't work for AFS. The 'backup alerts' in RS vault and config

[2019-01-29 07:35] pvrk commented on #23185
Because you mentioned notification for success backups, I am assuming you are asking for activity log alerts and these won't work for AFS.

[2019-01-29 07:38] Grace-MacJones-MSFT commented on #22776
Hi @ra1han, can you please tell us the documentation you're referring to?

[2019-01-29 07:39] Anmolgan81 commented on #23358
Hi @swinarko we have a support ticket opened as well, can you help us here? Ticket Number: 119012326003639

[2019-01-29 07:42] LachlannRattray commented on #22315
Thanks for the response guys, Perhaps this is the wrong place to put this I just wanted to point out that the code in the example above will not work if the user has set their text analytics service to be north Europe because the Enum used in the code does not have a north Europe option. Just wanted to help out someone else looking at this and scratching their heads in the future :) when the Enum

[2019-01-29 07:42] mjoensson opened #23632 "Incorrect information regarding Open ID Connect and automatic provisioning"
We built our Azure AD integration using Open ID Connect and with automatic provisioning, as stated would work according to this document (see Prerequisites section). Later when we tried to publish our app we were denied because apparently automatic provisioning is NOT supported for Open ID Connect integrations. This should be pointed out very clearly in this documentation, we have now invested a l

[2019-01-29 07:49] imeya commented on #23190
unfortunately, still get the same error :(

[2019-01-29 07:49] swinarko commented on #23358
Our support team will pick it up and resolve it/escalate to product team if necessary.  THX

[2019-01-29 07:51] ChiragMishra-MSFT commented on #23358
@swinarko Thanks a lot for leaning in to take care of the issue.

@Anmolgan81 The support team will take it from here and resolve your issue at the earliest. I will now proceed to close the issue here. Feel free to comment if you still have concerns.

[2019-01-29 07:51] #23358 closed

[2019-01-29 07:57] imeya opened #23635 "The powershell script should placed in local or on vm?"
For cmdlet Invoke-AzureRmVMRunCommand, the parameter -ScriptPath should use a powershell script(.ps1 file), does the script file should be placed in local(I run this cmdlet in powershell prompt locally) or on vm?

As per the doc, it seams that the script file should be placed in a vm, but as per I test, only if the script file is placed locally, the command runs successfully.

---
#### Document De

[2019-01-29 07:58] Grace-MacJones-MSFT commented on #23288
Hi @DarranShepherd is there something you would like updated in the documentation?

[2019-01-29 07:58] ChiragMishra-MSFT commented on #23540
@Molotch Thanks for bringing this to our notice. We are investigating into the issue and will update you as soon as we have accurate information.

[2019-01-29 08:15] mike-urnun-msft commented on #23394
Hi @suneetnangia Just checking to see if the above answers your question. Let us know if you have any further questions, otherwise, we'll proceed to close this issue :)

[2019-01-29 08:36] jakaruna-MSFT commented on #23457
@MamoruKurashima i hope you had some problems with your Linux VM and you tried to troubleshoot.
Can you please share the current state of your vm? Also go through the remaining steps in the troubleshooting document.

[2019-01-29 08:41] SubhashVasarapu-MSFT commented on #23574
@phduf Thanks for your feedback. We are looking in to it and will update you soon.

[2019-01-29 08:44] PramodValavala-MSFT commented on #23189
@UtsaVakani Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-29 08:44] #23189 closed

[2019-01-29 08:45] SubhashVasarapu-MSFT commented on #23575
@solidcloudio Thanks for your feedback. We are currently looking in to it and will update you shortly.

[2019-01-29 08:47] YutongTie-MSFT commented on #23209
@aashishb FYI, may need your help for update the document. Thanks.

[2019-01-29 08:49] ManojReddy-MSFT commented on #23632
@mjoensson Thanks for the feedback. I have assigned this to the author to confirm and update the doc accordingly.

[2019-01-29 08:49] YutongTie-MSFT commented on #23622
@baimars Hi Mary, we are willing to help. Can you please share the document you are referring to for this issue? Thank you.

[2019-01-29 08:50] vikranthsuravarapu commented on #23509
Are both  "principalId" and "roleNameGuid" same or different?

[2019-01-29 08:52] #23304 closed

[2019-01-29 08:53] dcbrown16 commented on #23185
Sounds good, I appreciate the work that has been done recently to clarify the docs here, and that sounds good.
I'll let the customer know that failure alerts via Backup Report are available for AFS, but activity log notifications are not. I'll close since you have noted this for future doc work.

[2019-01-29 08:53] #23185 closed

[2019-01-29 08:57] shashishailaj commented on #23332
@maneeshbhat21 We have checked this internally and assigned to the author to get this reviewed by Program managers on how best we can update this article with the information requested.

@mestew Could you please have a look into the recommendations as suggested above and have this reviewed by any of the PMs . Thank you.

[2019-01-29 09:00] kazshi opened #23641 "Specifying App Service URL to the Naked Domain Host Name"
Can we specify Azure App Service URL (https://&lt;sample&gt;.azuewebsites.net for example) to the Naked Domain Host Name field if we don't get custom domain name?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa7e21c2-d024-dda5-a468-b140422b9fae
* Version Independent ID: 5475c8e6-1186-8ed1-2ad6-6eaa2cac871f
* Content:

[2019-01-29 09:00] imeya opened #23642 "Can we add custom ITelemetryInitializer in azure function v2?"
Can we add custom ITelemetryInitializer in azure function v2?

I tried to following this [doc](https://github.com/Microsoft/ApplicationInsights-aspnetcore/issues/759), but no good luck.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26b3e91f-c240-fffa-6ae9-d676deb7ad4c
* Version Independent ID: bbfa099e-3ed6-09ea-fbde-

[2019-01-29 09:02] SadiqhAhmed-MSFT commented on #23185
@dcbrown16 Appreciate your patience in this matters.
@pvrk Thanks for your time and a informative post.

[2019-01-29 09:18] iamkoch opened #23643 "Step 8.3 is wrong"
The guidance states:

&gt; In the &lt;DefaultUserJourney&gt; node, add the following XML snippet:

When it should say

&gt; _Underneath_ the &lt;DefaultUserJourney&gt; node, add the following XML snippet:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1e5f7ac-3ad0-e72d-c7b5-5f1db831a24d
* Version Independent ID: 31b00

[2019-01-29 09:21] KrishnaG-MSFT commented on #23277
@SamirFarhat I have tried to test the part of 'securing external template' by using a Git repo with PAT token but was not successful with the deployment. AFAIK it might be because of standard templateLink uri i.e.,(deployment().properties.templateLink.uri). So for testing purpose I have modified my parent template's templateLink uri without any concatenations but was still not lucky to deploy succ

[2019-01-29 09:22] KrishnaG-MSFT commented on #23277
@tfitzmac any insights on this please ?

[2019-01-29 09:23] garfbradaz commented on #22306
Hey @CHEEKATLAPRADEEP-MSFT: Shouldn't we keep this open until the documentation is updated?

[2019-01-29 09:23] KrishnaG-MSFT commented on #23277
Assigning to content owner for deeper review.

[2019-01-29 09:33] KrishnaG-MSFT commented on #23140
@bwren Thanks for the quick response. Please provide the update once you hear from engineering team.

[2019-01-29 09:37] baimars commented on #23622
Hi @YutongTie-MSFT

This [https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-quickstart-azure-functions-csharp](url)

Thank you

[2019-01-29 09:38] genlin commented on #22750
@nmikuni Windows Azure Agent does not depend on CNG Key Isolation Service. If you have a problem with starting or installing Windows Azure Agent, you can also [contact Azure support](https://portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade/newsupportrequest).

I will process to close this issue. Let me know if there is any additional question.

#please-close

[2019-01-29 10:08] StickNitro opened #23646 "AADSTS700054: response_type 'id_token' is not enabled for the application"
Have followed this article above to create a web application, and when trying to login I am getting this error and not clear why, from reading online I need to have 'Implicit Flow' enabled which it is as per above.

Any help as to the cause or solution would be greatly appreciated.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-01-29 10:14] loopfish commented on #23406
@Mike-Ubezzi-MSFT - apologies - the actual objects are specified in the metadata descriptions in the ARM templates, e.g.:
`    "principalId": {
      "type": "string",
      "metadata": {
        "description": "The objectId of service principal."
      }
    }`

[2019-01-29 10:22] djaus2 commented on #23513
I am on a Windows machine. I am cross compiling for a Linux VM running on Azure.
Yes my dev machine Docker is set to Windows.
I'll try the build with the local Docker set to Linux

[2019-01-29 10:22] silvester747 opened #23647 "Azcopy apt support for Ubuntu bionic (18.04)"
Currently azcopy is only available in apt repositories for 14.04 and 16.04. Would it be possible to also add azcopy to the 18.04 (bionic) repository?

[2019-01-29 10:38] neeleshray commented on #23566
We have responded to the [MSDN thread](https://social.msdn.microsoft.com/Forums/en-US/283430e2-cbe7-432d-99e4-3e7daf5ff7a1/documentation-around-azure-keyvault-and-pem-format-is-incorrect?forum=AzureKeyVault) that you have opened and would assist you there.

Hence, we are closing this thread.

[2019-01-29 10:39] genlin commented on #21342
@jakaruna-MSFT I submitted a pull request to fix the screenshot problem.

@cregnier I will process to close this issue. Let me know if there is any additional questions or comments.

#Please close

[2019-01-29 10:53] Nimleth opened #23648 "Key vault information incorrect"
The section about "Best practice: Secure your keys and credentials to secure your PaaS deployment." provides incorrect information. It states that you should store secrets and keys in a HSM and that Key vault is a HSM. Key vault is a credential repository that is backed for certain things by a HSM. It is not an HSM. You can store keys in the HSM backed part of a Key vault but NOT secrets.

---
###

[2019-01-29 10:56] ManojReddy-MSFT commented on #23250
@crowcoder The managed identities are different for each slot and should be enabled separately. So you would have to create an access policy for each slot's manged idenity separately, for it to be able to able to fetch the secret from the key vault.

Also SKU's shouldn't matter for this to work.

[2019-01-29 11:00] neeleshray commented on #23334
The Contributor role can manage the resources but can not grant/remove access to the resources. This is by design.
Contributor role CAN NOT add/delete roles and role assignments,

[2019-01-29 11:05] prateektaneja90 commented on #23522
@femsulu I was able to validate that the filters applied have no impact on Export settings and are only relevant to browsing. Still looking for an answer to "Question 1" of my query. Any inputs are appreciated.

[2019-01-29 11:05] BhargaviAnnadevara-MSFT commented on #23535
@mapoitras We are going to close this thread, but if there are any questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-01-29 11:05] #23535 closed

[2019-01-29 11:06] neeleshray commented on #23416
You would have to configure  the "**named locations**" in each of the Policy that you create, then you would get the option to select Location condition configuration

[2019-01-29 11:08] Anmolgan81 commented on #23358
No one is picked up the support ticket!

[2019-01-29 11:14] angoyal-msft commented on #23590
@Jothi3125 Thanks for sharing your feedback. We will investigate and get back shortly.

[2019-01-29 11:14] angoyal-msft commented on #23594
@KeiroKamioka0000  Thanks for sharing your feedback. We will investigate and get back shortly.

[2019-01-29 11:26] djaus2 commented on #23513
Yes that was my issue. Thanks

Can I suggest then that this be noted under
## Build your IoT Edge solution
eg:
Docker needs to be in the same mode (Windows or Linux) on your development machine as the target. Run the following in PowerShell on the dev machine to check:
[code]
Check the Server OS/Arch. It should be the same as the target for the IoTEdge deployment.
If not then run the following com

[2019-01-29 11:27] jdiazfernandez commented on #23411
I think that the problem is in the autogeneration of the deployment_for_local_debug.json file because I observed that this file lost the module1 information that is in the deployment.template.json

"IoTEdgeModule1": {
            "version": "1.0.0",
            "type": "docker",
            "status": "running",
            "restartPolicy": "always",
            "settings": {
              "image":

[2019-01-29 11:29] djaus2 opened #23650 "For when you don't append the CsharpModule to the repository name when creating the Module Solution ..."
Nb: In creating the new solution\module project
Take note wrt
**Provide Docker
image repository
for the module**
You need to provide the &lt;container registry&gt;/csharpmodule

If you just supply the container registry, all will work OK until you try to deploy to the registry in the  _Build and Push IoT Solution_  step.
The recovery is to edit **module.json** in the CSharpModule project.
In it yo

[2019-01-29 11:31] jurajgh opened #23651 ""Full" guest vs Email OTP guest? how to select the method of invitation"
opting-in for the this functionality, if I understand correctly, replaces the default B2B guest invitaiton redemption scenario, since the invitation process doesn't change, and there is o option for the invited user to choose, whether they want to create an external user in the inviting directory, or use the Email OTP instead.
will there be such option in the future? how can we (inviting tenant) c

[2019-01-29 11:32] djaus2 commented on #23513
The CSharpModule tutorial now works with a Linux target :smile:

[2019-01-29 11:34] Anmolgan81 commented on #23358
@swinarko I see the sample folder, but How can i pass in the Domain username and password??

[2019-01-29 11:37] djaus2 commented on #23398
Just providing some positive feedback.

[2019-01-29 11:40] neeleshray commented on #23327
If you want to apply the CA Policy to the Application (getting the auth token on behalf of user), then NO - It is not possible as of today.

[2019-01-29 11:45] chezhang commented on #23557
@MicahMcKittrick-MSFT The command you mentioned is for adding extension to a VM, while what I meant is adding the extension to the instances in a virtual machine scale set.

[2019-01-29 11:46] swinarko commented on #23358
See the comments in main.cmd, for more details see https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/cmdkey.  Once a support engineer gets in touch with you, s/he can guide you in more details.

[2019-01-29 11:46] neeleshray commented on #23112
The document states to synchronize the users/groups in your Azure AD tenant to your GitHub tenant- essentially creating the user in GitHub.

[2019-01-29 11:55] geertn opened #23652 "v2 Listeners on both public/private frontend-IP fails"
Documentation says "ILB only mode - This is currently not supported. Public and ILB mode together is supported". However, when I create a Standard_v2 AppGw I can't create a listener on both the public and private frontend-ip. It erros out with the message below.

Creating listeners on either the private or public frontend-IP works. Changing the frontend-IP of a listener also results in the error b

[2019-01-29 12:00] ihloff commented on #23112
@neeleshray
on github it says:
"The SCIM API is used by SCIM-enabled Identity Providers (IdPs) to automate provisioning of GitHub organization membership."
Source: https://developer.github.com/v3/scim/

From my testing and the information from github documentation, you don't create new github users. You just manage the membership of existing github users within a github-organization.

If I'm corre

[2019-01-29 12:04] crowcoder commented on #23250
@ManojReddy-MSFT I understand but I *did* give the slots separate managed identities but they do not show up when I search for them from the key vault Add Role  Assignment. I don't know if "parent" is the correct term but only the identity of the parent app is available.

[2019-01-29 12:10] dbaynard commented on #23412
Hi @Adam-Smith-MSFT

Thanks for the quick reply. Everything is lower case, and indeed when I change the url to `About.html` it gives me a 404.

The specific example may help — see https://bonsaipreview.z35.web.core.windows.net/pages/dbaynard/bonsai/. That url correctly displays the content at https://bonsaipreview.z35.web.core.windows.net/pages/dbaynard/bonsai/index.html.

The link to the _About_

[2019-01-29 12:11] sergaz-msft commented on #23584
@raghavan20 Thanks for the great questions! We are currently investigating and will update you shortly.

[2019-01-29 12:13] sergaz-msft commented on #23650
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-29 12:18] sergaz-msft commented on #23305
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-29 12:18] #23305 closed

[2019-01-29 12:57] Nimleth opened #23653 "Some information on Data security when using the Azure hosted runtime (i.e. Default Azure IR) would be good"
I'm interested in having some more insight into how the Default Azure IR are hosted and what prevents another Azure customer from 'seeing' my data? So, for instance:
- Are these shared instances of the IRT or are they dedicated?
- If they are shared, what prevents another Azure customer from getting access to my data? Do you, for instance use customer specific keys to encrypt the different data fl

[2019-01-29 13:02] cephalin commented on #23283
@mattchenderson @cgillum Can you confirm of AAD tokens from App Service has a lifetime of 8 hours?

[2019-01-29 13:14] OMARI1988 opened #23654 "mySQL root user password"
First of all it's a brilliant introduction. Thanks for this.

I was not presented with the option to configure mySQL when installing lamp-server^, and I struggled to set the root password afterwords. Is there an easy way to fix this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1e11aaf-3a77-95dc-371c-01d67556c2c3
*

[2019-01-29 13:29] RotemEmergi opened #23655 "Two Aks clusters in the same Virtual network/subnet"
Hi !

I have created 2 aks cluster on the same Virtual network/subnet and i can reach pods in each different cluster just with the internal ip's and not with the cluster ip that aks assign to my services .

I use this link "https://stackoverflow.com/questions/53981979/azure-single-vpn-gateway-for-connecting-multiple-resources-in-different-azure-ak"

I want to use the the services  name if I can or

[2019-01-29 13:40] eeropenttinen commented on #22181
Stupid question: why don't you release the documentation and examples the same time with the SDK? Documentation and examples are essential components of an SDK.

[2019-01-29 13:40] crowcoder commented on #23250
I thought I had it for a minute there. I made the mistake of looking for the System assigned managed identity under the **System assigned managed identity** section of "Assign access to" drop down. Naturally, that's not where it will be found.

Regardless, I still get the same error now that I have given the identity the Keyvault Contributor role.

![kevaultreferenceexception](https://user-images.

[2019-01-29 13:45] benny-gold commented on #23250
Thanks for the edit @AjayKumar-MSFT  but those were copied straight out of the documentation. Also, technically that's not PII either but 🤷‍♂️

@crowcoder - not sure if it will help you, but I finally got to the bottom of my issue by enabling appInsights on the Keyvault, so I could see what was being logged there. The Function logs weren't very helpful for my particular issue.

[2019-01-29 13:48] Nimleth opened #23656 "Which Azure services get access to the SSIS IR because of the 'Allow Azure Services Access'"
When creating a SSIS Integration Runtime the tick box for 'Allow Azure Services Access' can't be unchecked. So what Azure services are included here? Does this allow a VM or a WebApp in Azure from another subscription (another Azure customer) also access?

Kind regards,
Dennis

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-01-29 13:54] Nimleth opened #23657 "In the 'Configure virtual network' section Azure Batch appears out of the blue. Is this the correct code?"
In the 'Configure virtual network' section Azure Batch appears out of the blue. Is this the correct code?
    # Register to the Azure Batch resource provider
    $BatchApplicationId = "ddbf3205-c6bd-46ae-8127-60eb93363864"
    $BatchObjectId = (Get-AzureRmADServicePrincipal -ServicePrincipalName $BatchApplicationId).Id
    Register-AzureRmResourceProvider -ProviderNamespace Microsoft.Batch
    whi

[2019-01-29 13:57] szolla commented on #23563
Specifically the document recommends putting SQL servers into an Availability Set.  Since Availability Zones are replacing Availability sets I was hoping for that to be noted in your Architecture and restated.  Also there is a reference to using VPN Gateways to handle communication between regions, this should be able to be accomplished using Global Vnet Peering instead right?

[2019-01-29 14:00] crowcoder commented on #23250
@benny-gold thanks, but I don't see AppInsights as an option for keyvault. Maybe my account doesn't have permission but I would expect it to show in the list then deny me any changes if that were the case.

[2019-01-29 14:01] jaffadog commented on #23327
What I am trying to figure out is the best way to authenticate powershell scripts that run on a schedule and need elevated Azure AD privileges. We subject admins who have elevated AAD roles to PIM/MFA, and I am looking for the best way to secure my service accounts (e.g. service pricipal creds created by registering an "app"). I would like to subject the credentials used by those scripts to a CA p

[2019-01-29 14:04] benny-gold commented on #23250
It's not _actually_ called AppInsights for keyvault, took me a while to find it: Diagnostic Settings down the bottom.

![image](https://user-images.githubusercontent.com/8862239/51913569-ad586f80-23ce-11e9-89da-23170be7b8e7.png)

[2019-01-29 14:05] crowcoder commented on #23250
@benny-gold thanks, I tried it but don't have rights to enable it. I'll get my manager to do it.

[2019-01-29 14:19] ErLWinner opened #23658 "A text typo"
There is a type in: Enable users to register for Multi-Factor Authentication.

Azure AD Identity Protection includes a default policy that can  --&gt; hep &lt;-- you to get your users registered for Multi-Factor Authentication and easily identify the current registration status.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-01-29 14:23] ld0614 opened #23659 "Entity ID advice is wrong"
In the current document the advice for Entity ID is 'b. In the Identifier (Entity ID) text box, update the value with the Sign On URL. This is your workspace domain. For example: https://contoso.slack.com.'

Based on Azure portal error message and Slack documentation at https://get.slack.help/hc/en-us/articles/205168057-Custom-SAML-single-sign-on the correct Entity ID should be https:://slack.com

[2019-01-29 14:24] ld0614 commented on #23659
Azure error message:
![image](https://user-images.githubusercontent.com/20439950/51914780-7d5e9b80-23d1-11e9-8d25-b8bed02698d7.png)

[2019-01-29 14:27] LisandroSu opened #23661 "Sample project"
@buttons019 commented on [Tue Jan 29 2019](https://github.com/MicrosoftDocs/azure-docs.it-it/issues/195)

Hi,
Thanks for the tutorial. I downloaded the sample project as instructed, but couldn't run it because a certain roslyn folder seems to be missing. I'm finding the tutorial very useful and I'd really appreciate it if I could complete it. Is there any chance for you to check the contents of th

[2019-01-29 14:34] crowcoder commented on #23250
@benny-gold I just noticed role Keyvault Contributor does not have permission to view secrets. What role are you using for your service identity?

[2019-01-29 14:36] benny-gold commented on #23250
I made an access policy for the Object Id of the MSI (Application Id is **not** needed to save you some guessing!) with only the `Get` permission on secrets, and that was enough.

[2019-01-29 14:43] Blackbaud-PeteLukich opened #23662 "How to create a Monitor Rule on one Subscription of a Topic?"
It sounds like you can use the "Metrics dimensions" feature to filter your monitor rules to specific Entities within the SB Namespace.  Can you provide a concrete example of monitoring a Topic (if you are the Topic owner) or more specifically a Subscription (if you are a Subscriber to some other team's Topic)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2019-01-29 14:48] bwren commented on #22932
Thanks. We're adding some clarification to the article for when you provide credentials.

[2019-01-29 14:48] bwren commented on #22932
#please-close

[2019-01-29 14:55] pekspro commented on #23573
I had the same issue when I created my first runbook yesterday. It turned out that I forgot run the authentication in my script, see details here:

https://stackoverflow.com/questions/54404513/runbook-cant-use-command-new-azurermsqldatabaseexport-object-reference-not-set

That said, I wished that the error message was more understandable.

[2019-01-29 14:56] JosieW opened #23663 "BGP routing only works on SSTP P2S on Win 10"
I am setting up a configuration as per  the "Multiple VNets connected using an S2S VPN (BGP)" scenario however I have found when connecting through P2S (client= Windows 10 1803) it *only* works if I use SSTP, it does not work with IKEv2.

I am adding the routes manually as described but if I connect via IKEv2 I can only access servers in VNET1, if I use SSTP I can access VNET1 & 2 as expected.

No

[2019-01-29 15:00] su-jie commented on #18098
@kamigash we just fixed a bug in generating the ARM templates in both Visual Studio tools and NuGet package. Please use the latest 2.3.6000.0 Visual Studio tools version and version1.6.0 for NuGet package. The default apiversion is 2017-04-01-preview now and you can parameterize it using 'ASAApiVersion'.

[2019-01-29 15:02] shashishailaj commented on #23583
@nayakshweta Thank you for your feedback . We will investigate and update this thread further .

[2019-01-29 15:07] mestew commented on #12338
#please-close. The documentation has had major updates since this issue was opened. If assistance is still needed, please open a new issue and link it to the Linux ADE page.

[2019-01-29 15:08] mestew commented on #7660
#please-close. The documentation has had major updates since this issue was opened. If assistance is still needed, please open a new issue. Thanks.

[2019-01-29 15:10] shashishailaj commented on #23643
@iamkoch Thank you for your feedback. We have assigned this to the author for the contextual review and further update.

@davidmu1 Could you please review the contextual change suggested by @iamkoch and see if this can be updated. Thank you.

[2019-01-29 15:11] mestew commented on #22227
@cowinr  Thanks for the info.
@tnewton1 I updated the link a little over a week ago. I haven't heard any additional questions about it, so it should be good to go. Thanks for noticing that.
#please-close

[2019-01-29 15:14] j-lake opened #23664 "User Access Administrator?"
This role is listed in our Azure portal but is not listed here.  Is the User Access Admin the same as a User Account Admin?  Will this be changing names in the portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8eadd92
* Version Independent ID: a380a828-03f9-e037-3a62-e4165fda7cb6
* Con

[2019-01-29 15:15] mestew commented on #23332
@shashishailaj & @maneeshbhat21 I am checking on this.

[2019-01-29 15:16] shashishailaj commented on #23659
@ld0614 Thank you for your feedback . We will investigate and update this thread accordingly .

[2019-01-29 15:17] shashishailaj commented on #23651
@jurajgh Thank you for your feedback . We will investigate and update this thread accordingly .

[2019-01-29 15:18] shashishailaj commented on #23648
@Nimleth Thank you for your feedback . We will investigate and update this thread accordingly .

[2019-01-29 15:18] eHealthManny commented on #23566
@neeleshray The msdn thread you responded to was unrelated to this github issue.

[2019-01-29 15:19] shashishailaj commented on #23646
@StickNitro Thank you for your feedback . We will investigate and update this thread accordingly .

[2019-01-29 15:19] sergaz-msft commented on #23265
Hello @raghavan20 , you have asked several questions that are not fully related with this doc. First let me suggest that you leverage https://github.com/Azure/iotedge for specific and more technical questions like yours. We will try and address your questions though (also requesting @veyalla help):

With the [v1.0.4 release](https://github.com/Azure/azure-iotedge/releases/tag/1.0.4) of the Edge Ru

[2019-01-29 15:21] shashishailaj commented on #23658
@ErLWinner Thank you for your feedback . We will investigate and update this thread accordingly .

[2019-01-29 15:22] shashishailaj commented on #23664
@j-lake Thank you for your feedback . We will investigate and update this thread accordingly .

[2019-01-29 15:27] sergaz-msft commented on #23398
Thank you :)!
We will now proceed to close this thread.

[2019-01-29 15:27] #23398 closed

[2019-01-29 15:28] Anmolgan81 opened #23665 "What is the workaround for migrating 1-2 database from Azure SQL Managed Instance To Azure SQL Database"
Can you tell me the workaroud for migrating 2 databases from Azure SQL Managed Instance to Azure SQL Database, we cannot use Transactional Replication since out target database needs to be in RW mode always.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28ca1f7f-5a34-0f23-10ce-3ff24c76db97
* Version Independent ID: 5c

[2019-01-29 15:29] rohancragg opened #23666 "Missing step to install the cert-manager CRDs"
This seems to be missing a step to install the cert-manager CRDs as follows:

at #install-cert-manager, add before the `$ helm install stable/cert-manager ...` :

`$ kubectl apply -f https://raw.githubusercontent.com/jetstack/cert-manager/release-0.6/deploy/manifests/00-crds.yaml`

from: https://github.com/jetstack/cert-manager/blob/master/docs/tutorials/quick-start/index.rst#step-5---deploy-cert-

[2019-01-29 15:33] vhorne commented on #21355
@Qq20180503
If you set up a private App Gateway, then it's up to you to create a DNS record for the private IP. For example, you could deploy an Azure DNS private zone, or deploy you own DNS server. App Gateway has no way of knowing what you do to associate the private IP with a DNS name.

[2019-01-29 15:40] hning86 commented on #20351
it should be possible to create a service principle and use that to authenticate and access workspace from your pipeline code. the downside is that you'd bury the pwd in the code which is not secure.

[2019-01-29 15:42] MMujtabaEjaz opened #23667 "I have Encoded the Main 10@L5.1@Main Video using AMS Standard Encoder and it trans-coded/Encoded video successfully but on the playback page it behaves abnormally"
I've Encoded the HEVC, Main 10@L5.1@Main Video using AMS Standard Encoder and it trans-coded/Encoded video successfully  but on the playback page it behaves abnormally.

My first question is, as per the Microsoft documentation of https://docs.microsoft.com/en-us/azure/media-services/previous/media-services-media-encoder-standard-formats#output-formats-and-codecs, it says that only Main Profile is

[2019-01-29 15:42] raghavan20 commented on #23265
sure, I will use this project to ask technical questions.

- so you are saying `iotedge:1.0.4` APT package is what is responsible for full offline functionality and `edgeHub` could still be in version `1.0`?
- given two Edge modules communicate using a messaging layer (MQTT in this case) there is a queue or queue equivalent that would hold messages possibly in RAM and later overflow to disk. these

[2019-01-29 15:44] crowcoder commented on #23250
I can't figure it out. I did this but still does not work (same result):
https://docs.microsoft.com/en-us/azure/key-vault/key-vault-group-permissions-for-apps

[2019-01-29 15:46] chris31389 opened #23668 "How can you run this locally?"
Is there anyway you can run this locally?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f538a557-7e88-e077-6a6f-6fb14d89dbf6
* Version Independent ID: 84a1693b-2795-c865-35df-3ad3b9b61e2c
* Content: [Manually run a non HTTP-triggered Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-man

[2019-01-29 15:48] cephalin commented on #21878
#please-close

[2019-01-29 15:54] cgillum commented on #23283
This is not the case. The lifetime of AAD tokens is based on the AAD app and/or tenant configuration. The default lifetime of tokens is 1 hour. Refresh tokens have a much longer lifetime. App Service has no control over this.

When logging into a web app using AAD or any other provider, App Service will create a session cookie that is valid for 8 hours. The lifetime of this cookie is not related t

[2019-01-29 15:57] YanZhangADS opened #23669 "az iot hub device-identity create not working and install extension error"
I have azure-cli 2.0.41. I got error msg "az iot hub: 'device-identity' is not in the 'az iot hub' command group. See 'az iot hub --help'." when executing "!az iot hub device-identity create --hub-name $hub_name --device-id $device_name --edge-enabled" command in jupyter notebook.

Then I try to install/update extension by using command "!az extension add --name azure-cli-iot-ext". I got error msg

[2019-01-29 16:03] Sethu2488 opened #23670 "Impact on changing the key vault tenant Id"
Just wanted to if there will be an impact on the Virtual Machine while changing the key vault tenant Id.
would changing the KeyVaults tenant have an impact?  Would the VM's require to be restarted

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbe3afaa-c19a-65f3-f562-e9c698e4c6a3
* Version Independent ID: 66556728-72ef

[2019-01-29 16:05] mollman opened #23671 "Paragraph 12, sentence 1 is missing a verb"
"Resources, such as endpoints, that are used by the service to be declared/changed without changing the compiled code."

Resources allow you to configure settings, such as endpoints?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06afb00a-c2b7-964a-60cd-0c94df9e912b
* Version Independent ID: 8450fbfe-fcec-363e-fad0-0e6

[2019-01-29 16:13] mganeshphani opened #23672 "Provide information about how the credentials are secure"
Can you add a hyperlink to the content on how the credentials are secured when connected with gateway

Having hyperlink in the content of this section would benefit
https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-gateway-connection#connect-to-on-premises-data

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-01-29 16:18] mbell85 opened #23673 "Still having issues with Windows File Tracking"
Hey guys. It's still not working right for me. Change tracking isn't showing anything for file changes at all. Example of one of my rules:

Group: SHARES
Enabled: True
Path: H:\ Shares \ Accounting \ * (no spaces, just for formatting purposes here); I've also tried .
Type: File (Have also tried folder)
Recursive: True (Have also tried false)
Upload File: False

I've also tried setting up a rule to

[2019-01-29 16:18] ArvidBaa commented on #20351
@hning86 - I am able to access the workspace using `Run.get_context().experiment.workspace`, and from that I am able to access both models, images and (at this point only Acl) services. By your suggestion, do you mean that I might get more access, in particular to the `AksWebservice` objects?

[2019-01-29 16:18] mbell85 commented on #23673
Above should read C:\ HL7N \ *.txt

[2019-01-29 16:19] #22927 closed

[2019-01-29 16:20] roygara commented on #23193
@forester123 Again, thank you for reaching out. As I have not yet heard back from you regarding what is missing I'm giving you a heads up: I will be closing this issue within two days if I do not hear back, as the E4 and E6 values are identical.

[2019-01-29 16:22] Karishma-Tiwari-MSFT commented on #23406
@loopfish Thanks for the update and the feedback. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-01-29 16:22] #23406 closed

[2019-01-29 16:24] Karishma-Tiwari-MSFT commented on #23533
@qrick26 Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-01-29 16:24] #23533 closed

[2019-01-29 16:25] AjayKumar-MSFT commented on #23250
@crowcoder, could you share the WebApp name directly here or [indirectly](https://github.com/projectkudu/kudu/wiki/Reporting-your-site-name-without-posting-it-publicly) with the time of occurrence (in UTC) for further investigation.
Just to highlight, when you clone configuration from another deployment slot, the cloned configuration is editable. Furthermore, some configuration elements follow the

[2019-01-29 16:29] msmimart commented on #17658
We've updated the article. Thanks so much for sharing your feedback. #please-close

[2019-01-29 16:30] puumalad commented on #23651
I completely agree with jurajgh.  The way this reads, if you don't already have an MS account, then you can't even choose that and it's going to default you to OTP signins.  It would be nice to give the end user the option.  Or, if we even want as a company, to force all people to use OTP as the signin method (or the other way around).

[2019-01-29 16:32] magoicochea commented on #20348
Any update on the CLI or ARM Template support for the New VNET Integration?

[2019-01-29 16:40] PramodValavala-MSFT commented on #23589
@seshenoy Unfortunately, this isn't supported yet for local development. But work for it is underway.

[Here](https://github.com/Azure/azure-functions-host/pull/3791) is a PR for supporting Key Vault in the Functions Host and the [issue](https://github.com/Azure/azure-functions-core-tools/issues/933) for tracking its integration with core tools.

[2019-01-29 16:42] rohancragg commented on #23666
Having failed to get subsequent steps working I would retract the above as version 0.6 of cert-manager has an issue:

https://github.com/jetstack/cert-manager/issues/1255

And explicit installation of v0.5.2 seems to be the best option at the moment.
As such I would suggest that the version be stated explicitly in the `helm install` command

[2019-01-29 16:48] crowcoder commented on #23250
I have created access policies. One is an AD Group that contains the app's service identity and the other is direct policy on the service identity. They both have get and list.

At this point I don't know if it is an access issue or something else.

![access policies](https://user-images.githubusercontent.com/4210624/51924810-bab82e80-23bb-11e9-9563-75585341d82d.PNG)

[2019-01-29 16:56] crowcoder commented on #23250
@AjayKumar-MSFT Thank you. My app name is: s**s****atecha**eDEV

There are many occurrences, the most recent are:
16:36:11 and 16:36:12

I have not done any slot swaps yet so It can't be that I lost settings. And I can see in my logging that it appears to try to use the key vault reference verbatim instead of using it to look up a secret.

[2019-01-29 17:10] neeleshray commented on #23566
@eHealthManny
Apologies for the confusion.

[2019-01-29 17:10] neeleshray commented on #23566
@narsaskak
You would need to use the quotes when there is a Space in the name(s) that you specify.

[2019-01-29 17:15] #22227 closed

[2019-01-29 17:24] bgklein commented on #23172
It looks like @zivraf has published some LowPri eviction notice samples so he may also know the answer?

[2019-01-29 17:29] JasonSowers opened #23675 "Docs outdated"
Documentation on this page shows outdated content, UI and choices have changed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d854b3c-f9f9-7f6a-f889-e19acac2961c
* Version Independent ID: ed544e54-d24b-2f37-05b6-8b60eacd2026
* Content: [How to use Azure API Management with virtual networks](https://docs.microsoft.com

[2019-01-29 17:31] DarranShepherd commented on #23288
Sorry for the delayed response. I believe it may be suitable to update the documentation to recommend using awverify.domain.tld instead of awverify.*.domain.tld

However, if not, hopefully the existence of this comment will notify anyone else running into the same problem trying to use Azure DNS to set up a wildcard domain for an Azure App Service.

[2019-01-29 17:36] crowcoder commented on #23250
It appears my IP Address restriction was blocking it. I thought resources in the same subscription were exempt from this but I guess I need to figure out how virtual networks work.
Thanks everyone for looking into this.

[2019-01-29 17:36] #23250 closed

[2019-01-29 17:39] MicrosoftGuyJFlo commented on #23554
@jdipaola7 If you would like to get contribution credit you can make the edit yourself using the edit button on the top of the article.

[2019-01-29 17:45] shizn commented on #23411
Hi @jdiazfernandez, thanks for reporting the issue. The deployment_for_local_debug.json is in correct format, while during local debugging, the module are running as native process, that's why it's not in deployment_for_local_debug.json.
Could you try click set IoT Edge device connection string before press F5 like the screenshot blow? The device connecting string can be easily get from VS Cloud E

[2019-01-29 17:46] Grace-MacJones-MSFT commented on #23194
Hi @Rickinio thanks for your patience. I was able to check internally with product team to see what the correct parameter is for the free trial. The correct parameter is "trail" not "trial." The doc will be update shortly.

[2019-01-29 17:47] shizn commented on #23411
In the meanwhile, I need to update the tutorial to point this out more clearly.

[2019-01-29 17:48] MicrosoftGuyJFlo commented on #11612
@mqunbar Unless it is Azure AD Joined you will still need line of sight to the DC to update the cached credentials.

[2019-01-29 17:51] justinSelf opened #23676 "Samples in documentation encourage security vulnerabilities via SQL injection"
Hey there!

In looking for documentation on how to use query params in Cosmos, I came across the "how to"s that are encouraging the use of concatenating the queries with potential user input which leads directly to a flavor of SQL Injection. This should be updated to use Query Params (which is industry best practice).

I can provide a PR to update it if needed.

Thanks!

---
#### Document Details

[2019-01-29 17:56] MarileeTurscak-MSFT commented on #23577
@DarrenCzen
Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-29 18:03] jdiazfernandez commented on #23411
I've just done it but the problem persists.
Additonally I updated pip 19.0.1 and iotedgehubdev

[2019-01-29 18:10] AmanGarg-MSFT commented on #23517
@wilgert You can follow the below steps to get the Java agent on the Azure Web App

1. Open the Kudu console for your app
Simply modify your website URL and by adding scm to it. If your site is http://mysite.azurewebsites.net/, then the root URL of the Kudu service is https://mysite.scm.azurewebsites.net/. Note the added scm token.

2. Click on Debug console and then CMD
<img width="566" alt="1" s

[2019-01-29 18:10] YutongTie-MSFT commented on #23596
@AlexanderTodorovic
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-29 18:12] YutongTie-MSFT commented on #23655
@RotemEmergi Hi Rotem, we are willing to help. Could you please share the document/ tutorials you are referring to for this issue? Thank you.

[2019-01-29 18:14] Mike-Ubezzi-MSFT commented on #23665
@Anmolgan81 Thank you for this detailed inquiry. Can you detail if you have a maintenance window available to perform this activity and which database (or both) can be made available for this task? The simple answer is to export the source database as a .bacpac file from the Managed Instance to an Azure storage account and then import that .bacpac file to the Azure SQL Database single instance dep

[2019-01-29 18:16] brandonbrownchenega opened #23677 "api-version invalid"
Following the steps in "Get data using the Azure Active Directory reporting API with certificates", when I get to Steps 9 and 10 I'm first prompted to specify my TenantDomain, which I don't see documented in the example.

Once I specify my domain I receive an error: Invoke-WebRequest : {"odata.error":{"code":"Request_DataContractVersionMissing","message":{"lang":"en","value":"The specified api-ver

[2019-01-29 18:17] MicahMcKittrick-MSFT commented on #23333
Thanks @KumariSupriya for fixing this.

@xingwu1 the PR is here: https://github.com/MicrosoftDocs/azure-docs-pr/pull/64391

Changes will merge shortly and will go live in a few hours.

[2019-01-29 18:17] #23333 closed

[2019-01-29 18:17] Anmolgan81 commented on #23665
Since this is a sync and not a one time migration, our options are limited, can we do transaction replication of these 2 databases to azure sql database, so that we will get read write on the target, and this solves our purpose.

[2019-01-29 18:19] MicahMcKittrick-MSFT commented on #23671
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-29 18:19] MicahMcKittrick-MSFT commented on #23654
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-29 18:20] Mike-Ubezzi-MSFT commented on #23653
@Nimleth Thank you for the detailed feedback with regard to Azure Data Factory Integration Runtime. I have assigned this to the content owner (@nabhishek) as a document enhancement.

[2019-01-29 18:20] MicahMcKittrick-MSFT commented on #23666
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-29 18:20] Anmolgan81 commented on #23358
@swinarko does azure SSIS supports form based authentications? No support engineer has contacted me yet am not sure where we are with this.

[2019-01-29 18:21] Mike-Ubezzi-MSFT commented on #23656
@Nimleth Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-01-29 18:23] Mike-Ubezzi-MSFT commented on #23657
@Nimleth Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-01-29 18:25] msangapu commented on #20326
#please-close

[2019-01-29 18:25] YutongTie-MSFT commented on #23599
@dcbrown16 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-29 18:26] Mike-Ubezzi-MSFT commented on #22911
Adding a note with regard to the driver version being used in this scenario:

[2019-01-29 18:30] jeevansd commented on #23659
@v-nagta @chetansriv Can we get this article updated mentioning the correct Identifier value.

[2019-01-29 18:31] MicahMcKittrick-MSFT commented on #23557
@chezhang got it. Seeing as the article does not discuss VMSS I am not sure it makes sense to add to the doc. Regardless, I will assign to the author to review.

@jonbeck7 can you take a look?

CC @cynthn @zr-msft

[2019-01-29 18:34] nathanael-joseph opened #23678 "GenerateAnswer not in API reference"
Please add detailed API reference for GenerateAnswer, full request json schema, etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 956c8c71-4d84-c710-e4fe-f1c5d2e68f62
* Version Independent ID: 6c47c3ed-f6e5-8d6b-2216-d12b6a45f9a1
* Content: [Quickstart: Get answer from knowledge base - REST, C# - QnA Maker](https://d

[2019-01-29 18:34] samuela commented on #22816
Hi @RenaShahMSFT, do you have any updates? This is really a blocker for us.

[2019-01-29 18:35] cynthn commented on #23557
@MicahMcKittrick-MSFT Can you assign this one to me? I'll check in with the HPC folks about the requirements for adding the extension to instances in a scale-set.

[2019-01-29 18:35] indy1981 commented on #23646
Having the same problem here, i googled the problem and seems like you need to modify manifiest file, wich is imposible in a B2C App

https://docs.microsoft.com/en-us/skype-sdk/websdk/docs/troubleshooting/auth/aadauth-enableimplicitoauth

[2019-01-29 18:39] KingdomOfEnds opened #23679 "Code fence"
Hi! Great documentation. Noticed that the code tick marks around the Azure CLI code are displaying. Might need an extra tab in there. Thanks!

For the block: `az login`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a51e3be-3c65-bf13-2d9b-8ddfa1e90e49
* Version Independent ID: 4024a672-43f3-f3ec-150c-1ccf3ef12956
* Co

[2019-01-29 18:39] YutongTie-MSFT commented on #23641
@kazshi Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-29 18:43] KingdomOfEnds commented on #14350
@sergaz-msft - This has been directed to the current document maintainers. Thanks!

[2019-01-29 18:43] YutongTie-MSFT commented on #23647
@silvester747 Hi, we are willing to help, but it will be helpful if you can share the document you are referring to. Thanks a lot.

[2019-01-29 18:44] ChiragMishra-MSFT commented on #23306
@mamccrea I tried out the same link (https://portal.azure.com/?microsoft_azure_streamanalytics_bloboutputpathpartitioning=true&Microsoft_Azure_StreamAnalytics_bloboutputcontainerpartitioning=true) and ran into the same error. It's not clear as to how the preview feature can be used.
Can you please have a look?

[2019-01-29 18:45] YutongTie-MSFT commented on #23678
@nathanael-joseph Thank you for your feedback, I have assigned to the author for more help.

@diberry Hi Dina, can you please check this feedback and add the API references as necessary? Thank you!

[2019-01-29 18:46] MarileeTurscak-MSFT commented on #23677
@brandonbrownchenega
Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-29 18:48] pyoungberg opened #23680 "Old Screenshots"
Please update the screenshots to reflect the new AAD sign in experience.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17269bea-f1b4-61e4-72f8-86a8b1c7c49d
* Version Independent ID: 89d5ed09-39bd-2113-9dfb-59fae1e85dac
* Content: [Reset your password - Azure Active Directory](https://docs.microsoft.com/en-us/azure/act

[2019-01-29 18:52] wp1107 commented on #22225
Thanks for your follow-up. Because I was blocked by this, we chose to use other approach for now. I may come back to retry this document later. Will let you know when we get there.

From: Micah <notifications@github.com>
Sent: Monday, January 28, 2019 9:34 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Peng, Wei (Virence Health non-GE) <Wei.Peng1@ge.com>; Mention <mention@nore

[2019-01-29 18:54] nathanael-joseph commented on #23678
the json schema is hidden in the How-to Guides > Use kb > Use metadata...
"json { "question": "qna maker and luis", "top": 6, "strictFilters": [ { "name": "category", "value": "api" }], "userId": "sd53lsY=" }"

[2019-01-29 18:56] ttelfer opened #23681 "VM Resource Group Rights"
Not sure if this is a problem, but to me it is. At our company we have access to resource groups, but when we build a Kubernetes cluster the virtual machines end up in a different resource group making using this tutorial not possible. So now I have a dead node that needs to be restart but I can't ssh into because I have no resource group right to the virtual machines. My only option besides someh

[2019-01-29 18:57] sirdank opened #23682 "Identity Experience Framework Technical Reference Guide"
"For a full schema, refer to the Identity Experience Framework Technical Reference Guide. This guide will be published soon in the reference section."

I don't see this guide published anywhere. Am I just missing it or what?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2eae8461-82d9-9172-a76d-3185799203b4
* Version I

[2019-01-29 18:58] ttelfer commented on #23236
@MicahMcKittrick-MSFT yes it worked. Thanks.

[2019-01-29 19:00] MarileeTurscak-MSFT commented on #23659
Thanks, @jeevansd

I created a pull request here for review https://github.com/MicrosoftDocs/azure-docs-pr/pull/64482

[2019-01-29 19:00] #23659 closed

[2019-01-29 19:04] femsulu commented on #23673
@mbell85 Thanks for the update. According to the feature owner, this was fixed. will re-engage on the internal thread and update as soon as possible.

[2019-01-29 19:11] Adam-Smith-MSFT commented on #23647
@silvester747 Have you tried installing it from this link? https://github.com/Azure/azure-storage-azcopy
it's v10, the latest version.

Thanks,
Adam

[2019-01-29 19:16] juho-hanhimaki opened #23685 "Clarification regarding the use of AutoRestoreOnDataLoss"
Is AutoRestoreOnDataLoss suitable/recommended for production use? Is it implemented in such way that there is no possibility that it can cause any further data loss than what may already have occurred before the automatic restoration?

Are there any caveats / further considerations when using this feature?

---
#### Asiakirjan tiedot

⚠ *Älä muokkaa tätä osiota. Sitä tarvitaan kohteessa docs.micro

[2019-01-29 19:32] diberry commented on #23678
@nathanael-joseph Thank you for letting us know what issues you have with the documentation and APIs. #in-progress

[2019-01-29 19:35] mike-urnun-msft commented on #23675
Hi @JasonSowers Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-01-29 19:35] duanecr opened #23687 "Incorrect word in documentation"
The "While note required" above should be " While not required".  Note doesn't make sense, but not does.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9762f1b7-0e3a-d58f-fd99-a27ad948907b
* Version Independent ID: 89e28332-184e-ba84-df1f-e7698c5e0f7c
* Content: [Details of the policy definition structure - Azure Polic

[2019-01-29 19:37] Adam-Smith-MSFT commented on #23216
@jaypaddy
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-29 19:38] mike-urnun-msft commented on #23672
Hi @mganeshphani Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-01-29 19:39] mike-urnun-msft commented on #23668
Hi @chris31389 Thank you for your feedback! We will review and update as appropriate.

[2019-01-29 19:40] colinweiner opened #23688 "broken link PowerBI flow logs template"
Network Watcher PowerBI flow logs template link is broken.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d1e255c-292c-4128-5279-e89e4219e5ee
* Version Independent ID: 407f24da-c012-0b9c-0ef7-ac47bb49d735
* Content: [Visualizing Azure Network Security Group flow logs with Power BI](https://docs.microsoft.com/en-us/azur

[2019-01-29 19:41] priyamohanram commented on #23287
@Owe-Kristiansen : Thanks for reporting the issue. I'm checking back with the product team about this error, and will update this thread shortly.

[2019-01-29 19:41] priyamohanram commented on #23238
@marc-fombaron: Thanks for reporting the issue. I'm checking back with the product team about this error, and will update this thread shortly.

[2019-01-29 19:42] priyamohanram commented on #22790
@mkredpoint: Thanks for reporting the issue. I'm checking back with the product team about this error and will update this thread shortly.

[2019-01-29 19:44] priyamohanram commented on #20645
@SteveHernou: I hope your issue has been resolved. Please feel free to open a new issue if you have any further questions. Thank you! #please-close

[2019-01-29 19:45] mike-urnun-msft commented on #23662
Hi @Blackbaud-PeteLukich Thank you for your feedback! We will review and update as appropriate.

[2019-01-29 19:46] axisc commented on #20583
@wschroder  if topic has multiple subscriptions and if a message satisfies the conditions on all the subscriptions, then it will be copied over to all the subscriptions. i.e. each subscription will have it's own copy.

From that point forward, the subscription behaves like a queue. As it relates to the competing consumer - if there are multiple readers on a particular subscription, then only one r

[2019-01-29 19:47] axisc commented on #21159
@spelluru - is this something you could fix? perhaps using Visio for another mockup with better colors?

[2019-01-29 19:49] YutongTie-MSFT commented on #23688
@colinweiner Hi Colin, thanks for your document feedback, it will help if you can share the document of the link. Thank you.

[2019-01-29 19:52] priyamohanram commented on #22383
@gcormier: Thanks for reporting the issue! An Azure AD premium license is required to access the sign-ins report, and that's why you also need it to export the logs. I revised the documentation to be more explicit about this requirement, and it should be updated shortly. Please feel free to open a new issue if you have any further concerns. #please-close

[2019-01-29 19:55] Mike-Ubezzi-MSFT commented on #22947
@scubajon I believe this issue to be related to either a blob storage account issue or to the tempDir variable not resolving or not being created. I am going to ask that this be posted out on the [MSDN Data Factory Forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory&filter=alltypes&sort=lastpostdesc) or the [Stack Overflow Azure Data Factory Forum](https://stackoverfl

[2019-01-29 20:00] shizn commented on #23411
@jdiazfernandez could you share the latest error message? adding @erich-wang.

[2019-01-29 20:00] MarileeTurscak-MSFT commented on #23677
You can specify it in the query parameter as described here: https://stackoverflow.com/questions/46455291/error-calling-the-graph-api-request-datacontractversionmissing

[2019-01-29 20:02] MarileeTurscak-MSFT commented on #23677
If that does not work, I would highly recommend posting to MSDN so we can help further troubleshoot. We are moving away from these types of questions in the Github comments. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-01-29 20:02] #23677 closed

[2019-01-29 20:04] colinweiner commented on #23688
That would help :)

https://networkwatcherresources.blob.core.windows.net/powerbi/NSGFlowLogs_Storage_Template.zip

[2019-01-29 20:04] TravisCragg-MSFT commented on #23652
@geertn Even if you are doing both a public and private listener they [cannot use the same port](https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-faq#can-the-same-port-be-used-for-both-public-and-private-facing-listeners). You should be able to make a new Front End IP Configuration using a different port, and you can always direct the traffic to the same backend port

[2019-01-29 20:04] #23652 closed

[2019-01-29 20:09] YutongTie-MSFT commented on #23688
@mattreatMSFT Hi Matthew, could you please check and update the link of the document, it's broken. Thank you.

[2019-01-29 20:12] aljo-microsoft commented on #20918
@starforce
Portal isn't appropriate for your use case, and you should use an ARM template; you can start by modifying the template I provided, or you can buy Premier Engineering support if you need help authoring your use case specific JSON file using Rest API docs, or content I provided.

resources.azure.com and portal are not safer or recommended for production Service Fabric environments; you s

[2019-01-29 20:15] georgewallace commented on #23673
@mbell85 would you be willing to share your case # with me at firstname.lastname@microsoft.com?

[2019-01-29 20:18] mbell85 commented on #23673
@georgewallace Just sent it your way.

[2019-01-29 20:21] TravisCragg-MSFT commented on #23663
@JosieW The documentation states that you will need to add the routes to connected VNETS to the windows clients for IKEv2. This could also be an issue with the version of Windows that you are using, there have been quite a few version updates since 1803.

Either way, you should be able to access both of your VNETs with an IKEv2 connection. If you have set everything up and do not have access, your

[2019-01-29 20:33] gunnargestsson commented on #15820
@apwestgarth hello.  I have a c# function running in Azure that needs to handle certificates in web service communications (Microsoft.Web.Service.Security2 and 3).  Running the function in debug on my Visual Studio works fine.  Inside Azure it fails.  I don't seem to be able to access the certification store at all.  Can you point me to a possible solution.

[2019-01-29 20:40] axisc commented on #18170
@marstr that is a doc bug unfortunately - we'll remove this.

Thanks for reporting.

[2019-01-29 20:43] ulitosCoder opened #23690 "error connecting to redis cache"
I have this error when I try this tutorial
2019-01-29T20:40:02.413 [Error] Exception while executing function: Functions.HttpTriggerCSharp1. Microsoft.Azure.WebJobs.Script: One or more errors occurred. StackExchange.Redis: No connection is available to service this operation: SET 01/29/2019 20:44:02 - 678988850. SocketClosed on ulises-sa-demo-cache.redis.cache.windows.net:6380/Subscription, origin

[2019-01-29 20:44] maneeshbhat21 commented on #23332
Thank you...

[2019-01-29 20:45] MicahMcKittrick-MSFT commented on #23666
@rohancragg thanks for all the details. I will assign to the author to review further.

[2019-01-29 20:48] chwilfing commented on #6410
Are there any news on that topic? as we're currently trying to use SAP Cloud with groups and trying to move from onprem ADFS (which can send the group claim with names) to an Azure AD Based solution but without Groupnames the permission model is just useless within SAP.

[2019-01-29 20:49] starforce commented on #20918
Thank you for all your help, and I know how to use DNS hosting and all that technology because I got the same technology with Google domains. Also, I know how to modify arm templates . But the issue is there is no documentation that says that you can get around using a Microsoft domain when creating a service fabric cluster by using an arm template. And it  has a few hundred lines  which is error-

[2019-01-29 20:51] hawkbox commented on #17523
Agreed, this page is functionally useless without pointers to the relevant information.

[2019-01-29 20:51] YutongTie-MSFT commented on #23667
@MMujtabaEjaz Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-29 20:52] hpsin commented on #6410
We expect this to be public around middle of February. We'll update the docs and this issue then. @paulgarn for FYI

[2019-01-29 20:57] szarkos commented on #13958
It is not always assured that sda and sdb will be the OS and ephemeral disk respectively.  The best way to identify a particular data disk is via LUN.  You can actually specify the LUN when you attach a disk via CLI/Powershell, or by default the numbering will start at 0 and increment by 1 for each newly attached disk.

On a lot of standard Linux images on Azure there is a udev rule that creates f

[2019-01-29 21:07] DavidBerg-MSFT commented on #18371
This was intentional.  vCPU can mean either Cores or Logical Processors or .. it's simply the number of virtual processors seen by the VM.

[2019-01-29 21:10] Mike-Ubezzi-MSFT commented on #22384
@rolanddb This is now working. Can you please verify:

![screenshot 192](https://user-images.githubusercontent.com/37126106/51940591-4d11ff80-23c7-11e9-8673-5da20f09cc9b.png)

[2019-01-29 21:15] robinsh commented on #23679
hi @KingdomOfEnds . Thanks so much for your help making our docs the best. The first code fence section was one space to the right, so it didn't realize it was really a code section. I've fixed it, it will come out in the afternoon build, which I think is around 3 pm PST. By the way, just so you know, you can fix this kind of stuff yourself, if you can figure out what's wrong with it. These code f

[2019-01-29 21:15] DavidBerg-MSFT commented on #15622
B-Series documentation has been available for some time: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sizes-general#b-series

[2019-01-29 21:16] anujku commented on #22946
@Mike-Ubezzi-MSFT I see the link and image you shared but I do not see any changefeed related code in the [Java client library](https://docs.microsoft.com/en-us/java/api/com.microsoft.azure.documentdb?view=azure-java-stable)

[2019-01-29 21:18] Mike-Ubezzi-MSFT commented on #23036
@asadhkhan We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-29 21:18] #23036 closed

[2019-01-29 21:21] femsulu commented on #23687
@duanecr Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-29 21:22] edm-ms commented on #15622
The ACU rating for the B-series is empty along with vCore to pCore mapping.

﻿ --
Erick Moore
Hybrid Cloud Architect
Office: +1 317.795.3889
Mobile: +1 317.504.1561
erick.moore@microsoft.com<mailto:erick.moore@microsoft.com>

[Microsoft]
﻿

From: David Berg [DavBerg@Msft] <notifications@github.com>
Sent: Tuesday, January 29, 2019 4:16 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>

[2019-01-29 21:32] aljo-microsoft commented on #20918
@starforce

I've published public docs that say clearly you should use ARM to provision production solutions, explicitly:

"
In a production scenario, create Azure Service Fabric clusters using Resource Manager templates. Resource Manager templates provide greater control of resource properties and ensure that you have a consistent resource model.
"

https://docs.microsoft.com/azure/service-fabric

[2019-01-29 21:33] femsulu commented on #23186
@snehithm , @JYOTHIRMAISURI  - I believe this is supported, can either of you confirm?

[2019-01-29 21:33] Mike-Ubezzi-MSFT commented on #22946
@anujku That part was not crystal clear. I was simply showing that the Java SDK is supported under the SQL and Gremlin APIs for change feed processor functionality. I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-29 21:34] liutiger27 opened #23691 "Is there any good way to clean up the Hybrid Azure AD joined device for Windows 10?"
Under the Hybrid AD Azure joined section, it is not very clear about how to clean up those stale devices for Windows 10.

"To cleanup Azure AD:

Windows 10 devices - Disable or delete Windows 10 devices in your on-premises AD, and let Azure AD Connect synchronize the changed device status to Azure AD."

Here is our problem. We enabled the Hybrid Azure AD join. Very often, our IT support will need

[2019-01-29 21:36] TravisCragg-MSFT commented on #23320
@way2arun Your best bet to troubleshoot this further is create a support request. If you do not have a support plan, please let me know!

[2019-01-29 21:37] Mike-Ubezzi-MSFT commented on #22946
@SnehaGunda, since the content owner is not reachable with their GitHub alias (@rafats), as they need to join MicrosoftDocs (I am unable to assign this issue to the content owner) can you make a back-log item to add Java SDK examples for the Change Feed Processor?

[2019-01-29 21:41] anujku opened #23692 "Adding "TimeToLive" on a document via portal does not delete the document"
Please find the attached screenshots

`DefaultTimeToLive` set on a collection by turning it "On" on portal.

![screen shot 2019-01-29 at 4 40 17 pm](https://user-images.githubusercontent.com/1882816/51942351-d7b52780-23e4-11e9-9904-2ceb7ceff997.png)

This is the document which has the `TimeToLive` property which is overridden with value which should delete the document but it has not deleted the d

[2019-01-29 21:42] MarileeTurscak-MSFT commented on #23648
Passing this feedback onto @TerryLanfear

[2019-01-29 21:46] kgremban commented on #23650
@djaus2 I've made several attempts in the documentation to make that step as clear as possible. Here's what's currently in the article for defining the container repository:

![image](https://user-images.githubusercontent.com/13578436/51942539-30c49180-23cc-11e9-9996-7fbab6592817.png)

What do you think would be a more helpful way of communicating about this step?

[2019-01-29 21:57] TravisCragg-MSFT commented on #21482
@amcgregor1 from what I can tell, the "AssignIdentity" switch is not valid with the [current version of Azure Stack's PowerShell](https://docs.microsoft.com/en-us/azure/azure-stack/azure-stack-powershell-install). Can you give some context on why this should work?

[2019-01-29 22:04] grahamehorner commented on #15820
@gunnargestsson have you tried uploading your certificates to key vault?

[2019-01-29 22:05] spelluru commented on #22186
#in-progress

[2019-01-29 22:05] dhtoran commented on #15467
Hi @pierreca, @sergaz-msft : any idea when the full "native/modern" Python SDK will be available, or if it's in preview?
thanks

[2019-01-29 22:08] MichaelDWebb01 commented on #22134
@ManojReddy-MSFT Thanks for the clarification. I have enabled for the Skype tenant, and this resolved the issue.

@MicrosoftGuyJFlo Good info, I will investigate PIM.

[2019-01-29 22:17] DaveStabilify opened #23693 "URLs for Azure Government resources no longer resolve"
Azure Government URLs listed in Microsoft Docs no longer resolve.

https://portal.azure.us
https://login.microsoftonline.us
https://gallery.azure.us
https://management.usgovcloudapi.net
Also links here do not resolve https://docs.microsoft.com/en-us/azure/azure-government/documentation-government-developer-guide

Please advise ASAP.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2019-01-29 22:18] MicahMcKittrick-MSFT commented on #23408
@tshinkle I ran through the steps and steps 1 and 2 worked without issues on both my local cluster and my Azure Cluster.

When getting to step 3 for enabling HTTPs I found issues with both my local cluster and my Azure cluster as you are.

![image](https://user-images.githubusercontent.com/32313503/51944336-a0d51680-23d0-11e9-8285-54e64bcb9851.png)

Seems after making the changes to enable HTTPs t

[2019-01-29 22:20] solidcloudio opened #23694 "Default routes"
I'd like to route traffic coming in on /ws/v1/* to oblivion!  or block it right at the WAF, App Gateway, anything but allowing it through to my backend cluster and hitting my app to get a 403..  My app only has 2 valid routes /user /heath  How can I block the rest at the App Gateway / WAF level?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-01-29 22:21] MicahMcKittrick-MSFT commented on #23671
@mollman thanks for pointing this out.

@rwike77 @aljo-microsoft could you take a look? Else, if you know what you would like it to say I can submit a PR

[2019-01-29 22:22] DaveStabilify commented on #23693
Azure Government URLs listed in Microsoft Docs no longer resolve.

- https://portal.azure.us
- https://login.microsoftonline.us
- https://gallery.azure.us
- https://management.usgovcloudapi.net

Also links here do not resolve https://docs.microsoft.com/en-us/azure/azure-government/documentation-government-developer-guide

Please advise ASAP.

[2019-01-29 22:22] MicahMcKittrick-MSFT commented on #23685
Thanks for the question! We are investigating and will update you shortly.

[2019-01-29 22:24] PingPongSet opened #23695 "How to delete the tenant created in the article."
Can anyone provide link on how to delete the tenant created in the article.?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 588fc4d6-0c4d-297d-cfe1-8562728fdc4d
* Version Independent ID: cf117c91-90fa-036b-9763-a3c16b398a33
* Content: [Tutorial - Create an Azure Active Directory B2C tenant](https://docs.microsoft.com/e

[2019-01-29 22:24] Karishma-Tiwari-MSFT commented on #23322
@bobbytreed Can you please take a look and see if we can incorporate information on how to retrieve the value for NodeConfigurationName. Thanks :)

[2019-01-29 22:27] ayako opened #23696 "Not searchable how to get multiple answers from QnAMaker app"
How to get multiple answers (e.g. top3) from QnAMaker app shown here in this page, but not searchable (from web) when user want to do that. More detail is also much welcomed.
As addition, much nice to have such instruction on Azure Bot Service page -> https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-qna?view=azure-bot-service-4.0
---
#### Document Details

⚠ *Do not edit this s

[2019-01-29 22:32] ekpgh commented on #23364
I am consulting our product team about this follow-up question.

[2019-01-29 22:35] gunnargestsson commented on #15820
@grahamehorner I upload the certificate as base64 to my function and I can use it there. Some of the trust verification require trusted root certificates and/or the client certificate to be placed in the user certificate store.  Can Azure Key Vault help me with this in C# code?

[2019-01-29 22:35] starforce commented on #20918
Yes you also said that I could get a certificate for a Microsoft domain which I told you you could not. Thank you and have a good one

[2019-01-29 22:42] DCtheGeek commented on #23687
@duanecr Thanks for letting us know!  I've submitted a PR to correct this. This issue will automatically be closed once it is merged.  Appreciate the feedback!

@MicrosoftDocs/azure-cxp-triage Please assign to me and #in-progress

[2019-01-29 22:46] Karishma-Tiwari-MSFT commented on #22920
@praveenzack I heard back from the team that currently we do not have plans to provide SPECint data for Linux. This may change in the future but not anytime soon. In the coming months, there could be updates to the existing docs though.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the di

[2019-01-29 22:46] #22920 closed

[2019-01-29 22:52] aljo-microsoft commented on #20918
Only authorized MSFT's like myself can request certificates for Microsoft owned domains.

[2019-01-29 22:54] #7660 closed

[2019-01-29 22:55] #12338 closed

[2019-01-29 22:55] #17658 closed

[2019-01-29 22:55] #20326 closed

[2019-01-29 22:55] #20583 closed

[2019-01-29 22:56] #20645 closed

[2019-01-29 22:56] #21044 closed

[2019-01-29 22:56] #21342 closed

[2019-01-29 22:56] #21878 closed

[2019-01-29 22:56] #22383 closed

[2019-01-29 22:57] #22750 closed

[2019-01-29 22:57] #22932 closed

[2019-01-29 22:57] #23542 closed

[2019-01-29 22:59] starforce commented on #20918
Yes but you  should have known this  before you gave me that solution that didn't work to me. I lost two full days working on that solution that you provided me. And now you ask me to modify a 200 Plus line script and lose another two days on something that might work. Clearly Microsoft doesn't understand all the work and effort it takes to get things running. Anytime I can use a front-end UI to s

[2019-01-29 23:03] #23687 closed

[2019-01-29 23:06] shivakumarg06 opened #23699 "Error in the PowerShell cmd's"
i have follow the same script has mentioned above and it failed,

PS Azure:\&gt; New-AzureRmVmss `
&gt;&gt;   -ResourceGroupName myResourceGroupAG `
&gt;&gt;   -Name myvmss `
&gt;&gt;   -VirtualMachineScaleSet $vmssConfig
New-AzureRmVmss : 'CreateOption' cannot be null.
At line:1 char:1
+ New-AzureRmVmss `
+ ~~~~~~~~~~~~~~~~~
+ CategoryInfo          : CloseError: (:) [New-AzVmss], ValidationExcept

[2019-01-29 23:13] SaurabhSharma-MSFT commented on #23520
@AlexFilipin Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-01-29 23:13] dbaynard commented on #23412
So I've reconfigured the way my static site generator lays out the files, to use the `directory/index.html` format (by changing permalink options in jekyll). It is worth considering enabling the redirect, though!

[2019-01-29 23:15] YutongTie-MSFT commented on #23661
@LisandroSu
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-29 23:17] MicahMcKittrick-MSFT commented on #23685
@juho-hanhimaki I see no reason why it would not be recommended. Ability to auto heal is always good for production ready services.

@hrushib @aljo-microsoft Thoughts?

[2019-01-29 23:20] SaurabhSharma-MSFT commented on #23583
@nayakshweta Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-01-29 23:48] juho-hanhimaki commented on #23685
Better be safe than sorry for running production services. After all there isn't always a plethora of information out there to get in depth understanding how things work.

One would think AutoRestoreOnDataLoss was by default turned on if it was all around good thing. Yet I don't think it is by default?

[2019-01-30 00:00] JohnStraumann66 opened #23700 "Code doesn't run?"
Hi: I am trying to use the code in a WPF app, but still just write the results to the Console. I changed the uriBase to my region:   const string uriBase = "https://eastus.api.cognitive.microsoft.com/vision/v2.0/analyze";
and when I stepped through the code,  the code gets to the line
 response = await client.PostAsync(uri, content);
and then nothing happens. I get a message in the Output console:

[2019-01-30 00:04] Alberto-Vega-MSFT commented on #23669
@YanZhangADS Thanks for the feedback! Would you please share the link to the documentation or tutorial that you are following?

[2019-01-30 00:07] MarkusVi commented on #22195
yep, @neeleshray, I have added a note to the article.

#please-close

[2019-01-30 00:16] JohnStraumann66 opened #23701 "Code doesn't work?"
Hi: I am trying to use the code in a WPF app, but still just write the results to the Console. I changed the uriBase to my region: const string uriBase = "https://eastus.api.cognitive.microsoft.com/vision/v2.0/ocr";
and when I stepped through the code, the code gets to the line
response = await client.PostAsync(uri, content);
and then nothing happens. I get a message in the Output console: The thr

[2019-01-30 00:33] YutongTie-MSFT commented on #23701
@JohnStraumann66 Hi, since this is duplicate of #23700 , please track on that. I will close this. Thank you.

[2019-01-30 00:34] YutongTie-MSFT commented on #23700
@JohnStraumann66 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-30 00:35] anaili opened #23702 "Token lifetime for confidential clients"
This is what Microsoft Azure AD documentation says : (https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetimes#refresh-tokens)

But after 90 days, and with a confidential client (web application using REST API and auth code grant with client secret) the refresh token expired.

I'm not sure if this is a bug or a not updated documentation yet. Can

[2019-01-30 00:36] YutongTie-MSFT commented on #23696
@ayako Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@ivorb @tulasim88 Hi team, could you please check this issue and update the document as necessary? Thank you.

[2019-01-30 00:40] #23701 closed

[2019-01-30 00:42] MarileeTurscak-MSFT commented on #23680
@pyoungberg
Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-30 00:43] dcbrown16 commented on #23283
Thanks @cgillum. So the document below seems to be the current one to describe token lifetimes, which would be a helpful link.
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetimes
It does note that the feature will be changing though, so I guess we need to watch for the impact on Web Apps auth.

[2019-01-30 00:43] MarileeTurscak-MSFT commented on #23682
@sirdank  The official documentation for the Identity Experience Framework schema can be found here https://docs.microsoft.com/en-us/azure/active-directory-b2c/trustframeworkpolicy

[2019-01-30 00:44] MarileeTurscak-MSFT commented on #23682
We will now proceed to close this thread. If you have further questions feel free to tag me in the comments and I will gladly continue the discussion.

[2019-01-30 00:44] #23682 closed

[2019-01-30 00:46] MarileeTurscak-MSFT commented on #23695
@PingPongSet

Follow these steps to delete your Azure AD B2C tenant:

1. Navigate to the B2C features blade on the Azure portal.
2. Navigate to the Applications, Identity providers, and All policies blades and delete all the entries in each of them.
3. Delete all of the users from the Users and groups blade.
4. Inside the B2C directory, navigate to the Azure Active Directory extension from the lef

[2019-01-30 00:47] MarileeTurscak-MSFT commented on #23695
We will now proceed to close this thread. If you have further questions feel free to reach out on MSDN. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-01-30 00:47] #23695 closed

[2019-01-30 00:48] dcbrown16 opened #23704 "Deduplication"
The Backup agent FAQ specifies that it works with servers using Windows Server 2012+ deduplication feature.
Does VM backup using the Backup extension also support deduplication?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88beaa58-adf5-28ef-5510-01ace6923eef
* Version Independent ID: 02b2de6f-ba0a-d9dc-fd4f-c0c4d3a4

[2019-01-30 00:51] djaus2 commented on #23650
Like one or two other issues I've raised on these activities, the fault is mine in that I didn't read the documentation closely enough. I did this same error twice about 10 days apart. When I went back and reread the section closely I found my mistake. You might change the last bit of the paragraph to, say:
<space>
The final string looks like <registry name>.azurecr.io/csharpmodule, eg:
[code]

[2019-01-30 00:54] MarileeTurscak-MSFT commented on #23691
@liutiger27
Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-30 00:54] dcbrown16 commented on #23283
Per additional clarification from Chris internally, the EasyAuth cookie from Web Apps is hard-coded at 8 hours, so that's what seems most important to have documented for Web Apps.
Linking to the token lifetimes from AAD would also be nice to have for quick reference.

[2019-01-30 00:55] MarileeTurscak-MSFT commented on #23702
@anaili
Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-30 00:57] scubajon commented on #22947
The final step is the data frame write statement which leverages the SQL DW Connector.

renamedColumnsDf.write

[2019-01-30 01:01] scubajon commented on #22947
Regarding the Blob storage folder, my point here is that the tutorial indicates to specific tempDir, but there are no instruction on how to create a folder within a container.  Furthermore, when I looked into trying to create a folder, there was no functionality within the portal blades that alluded to folder/directory creation.  Overall, I followed every step precisely according to the tutorial.

[2019-01-30 01:01] MarileeTurscak-MSFT commented on #23702
According to your error message the token expired due to inactivity and not due to age. The refresh token max inactive time is 90 days. Per the document you referenced, it can still expire due to inactivity.

CC: @CelesteDG for confirmation

[2019-01-30 01:02] #23513 closed

[2019-01-30 01:02] MarileeTurscak-MSFT commented on #23702
We will now proceed to close this thread. If you have further questions feel free to tag me in the comments or reach out to me on MSDN. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-01-30 01:02] #23702 closed

[2019-01-30 01:17] PramodValavala-MSFT commented on #23668
@chris31389 This is a feature of the Functions Host/Runtime, so the same is supported when running locally as well. The only deviation from this doc is that the master key is not needed.

Refer [this](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local#non-http-triggered-functions) section for more details.

[2019-01-30 01:18] KeiroKamioka0000 opened #23705 "Spec per SU"
Is there are up limit performance by per SU, such as bandiwdth, cpu, memory?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da35754e-933e-c93f-96e4-415c89cd3dca
* Version Independent ID: 375300d6-9bed-ad51-307c-5c2e5de92ee8
* Content: [Understand and adjust Streaming Units in Azure Stream Analytics](https://docs.micros

[2019-01-30 01:28] adriantorrie opened #23706 "External Metastore Compatibility"
At:
  - https://docs.azuredatabricks.net/user-guide/advanced/external-hive-metastore.html

It States:
  - "SQL Server does not work as the underlying metastore database for Hive 2.1 and 2.2."

Question:
  - We are looking to have a production cluster on HDInsight (3.6), and have an external Hive metastore (2.1) on Azure DB to allow Azure Databricks clusters to reuse the metastore. Does Azure DB su

[2019-01-30 01:33] DoubleClark commented on #22945
Hi, do you find the reason for this problem? i meet the same problems, but not sure about its reason

[2019-01-30 01:33] MarkusVi commented on #23416
Hi @blouwagie, there is only one central place for conditional access policies, which is the first one you have mentioned above. Policies that are not managed here are known as classic policies and should be migrated to the Azure portal. For more information, see [What is a policy migration in Azure Active Directory conditional access?](https://docs.microsoft.com/en-us/azure/active-directory/condi

[2019-01-30 01:34] VanMSFT commented on #20774
Discussed with @CarlRabeler - Carl will follow up.

[2019-01-30 01:36] its-saurabhjain commented on #23408
Part 1 and 2 works, however looks like Enable HTTPS doesn't work. I am using Visual Studio 2019 Preview. The application builds and gets deployed on the local cluster and then i am getting this error and unable to browse the application.
"The target process exited without raising a CoreCLR started event. Ensure that the target process is configured to use .Net Core. This may be expected if the tar

[2019-01-30 01:37] imeya commented on #23573
thank you for pointing it out.

[2019-01-30 01:37] john-louden opened #23707 "Road Map"
Hi,
is there a way to see AZ's on the product's by region page. https://azure.microsoft.com/en-au/global-infrastructure/services/?products=all

Would be keen to all see a roadmap of any AZ as a lot of our customers are starting to have this as a requirement post the Central outage from 2018.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-01-30 01:39] Alberto-Vega-MSFT commented on #22810
@francman We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-30 01:39] #22810 closed

[2019-01-30 02:58] chris-han opened #23708 "We seriously need a 'Upload data' section before 'Prepare data'"
It took 4 hours to figure out just how to do that.
How to upload file, files, and folder, folders.
By the way why can't just open pull request on github?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c99cbeb4-d519-dfcf-c3fc-d3828d4c6f4d
* Version Independent ID: a4658aec-a0e6-174c-5264-2a11eb41b6fb
* Content: [Create,

[2019-01-30 03:07] kazshi commented on #23258
@cynthn I found a related description in the following page
Convert a Windows virtual machine from unmanaged disks to managed disks - Azure Managed Disks | Microsoft Docs
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/convert-unmanaged-to-managed-disks#convert-vms-in-an-availability-set

[2019-01-30 03:53] TinaLiuGirl opened #23709 "Test For GitHub issues automation is removing assigned authors unexpectedly"
[Enter feedback here]

**This is in the doc and it doesn't work:**
az vm extension set *resource_group_name* *vm_name* LinuxDiagnostic Microsoft.Azure.Diagnostics '3.*' --private-config-path PrivateConfig.json --public-config-path PublicConfig.json

**Something like this works:**
az vm extension set -g *resource_group_name* --vm-name *vm_name* --name LinuxDiagnostic --publisher Microsoft.Azure.Dia

[2019-01-30 03:55] Grace-MacJones-MSFT commented on #23288
@DarranShepherd thanks for getting back to us. As Mike mentioned,  we believe your comment on this Github issue will be useful to those who may be looking for the same solution. We appreciate your feedback

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-30 03:55] #23288 closed

[2019-01-30 03:59] Grace-MacJones-MSFT commented on #22776
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-01-30 03:59] #22776 closed

[2019-01-30 04:08] sachinpatel248 commented on #22973
Oh! I did resize the image.
But how stupid of me, couldn’t differentiate between **`227 & 277`**

[2019-01-30 04:08] #22973 closed

[2019-01-30 04:15] #22195 closed

[2019-01-30 04:21] TinaLiuGirl commented on #23709
finish test close issue

[2019-01-30 04:21] #23709 closed

[2019-01-30 04:32] msprateek commented on #23522
Validated offline the Log Profiles are persistent - there is continuous export of Activity Logs to the Event hub.

[2019-01-30 04:32] #23522 closed

[2019-01-30 04:33] CastleArg opened #23714 "static website option unclear"
static web hosting is no longer in preview.
It is not obvious how to point to the web container instead of default blob origin.  Selecting custom origin type is not enough

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 339692e2-c35e-cf53-89c9-894c2d851f1f
* Version Independent ID: f95242d1-b3f3-4bf3-089d-10ac447159fa
*

[2019-01-30 04:35] AshokPeddakotla-MSFT commented on #23145
@vcmcstech A similar issue has been addressed on the [MSDN](https://social.msdn.microsoft.com/Forums/en-US/4f4a9360-de0d-441f-9721-a43c0d89ddb4/error-while-installing-self-hosted-ir-on-laptop?forum=AzureDataFactory) forum. Please check and let us know if it helps. If not, I suggest you post your query on [Azure Data Factory Forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureData

[2019-01-30 04:37] spelluru commented on #19947
I could also get it to work by modifying the following command to use the variable names to match what's in the function code;

az functionapp config appsettings set --name $functionapp --resource-group $resourceGroupName --settings **AzureWebJobsStorage**=$storageConnectionString **THUMBNAIL_CONTAINER_NAME**=thumbnails **THUMBNAIL_WIDTH**=100 FUNCTIONS_EXTENSION_VERSION=~2

[2019-01-30 04:59] msprateek opened #23716 "Event Hubs - Failover Tolerance"
Q1 - When a failover is triggered from a Primary to Secondary Event Hub Namespace, is there loss of data in the Event hub while the Primary is failing over to the Secondary Event Hub Namespace? OR will the log sources auto resubmit the logs that the Secondary namespace might be missing when the failover was happening?

Q2 - Is there guidance available on what is the maximum tolerance time for "log

[2019-01-30 05:00] KrishnaG-MSFT commented on #23522
@msprateek Yes! you were correct about both of your questions! I have (kind of) reproduced and tested both the items and was about to provide you an update today. :) Anyway, If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-30 05:13] wmgries commented on #23714
Please assign to @tamram.

[2019-01-30 05:14] YASWANTHM-MSFT commented on #23714
@CastleArg , Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-30 05:20] Jothi3125 commented on #23590
Is there any update on this?

[2019-01-30 05:21] KetanChawda-MSFT commented on #23552
@nicwillemse reference PR will update the document and remove `stored procedures` from the Not supported scenario.

You can check the details of `Execute Stored Procedure` action [here](https://docs.microsoft.com/en-us/connectors/oracle/#execute-stored-procedure) in the connector details document.

[2019-01-30 05:51] Rickinio commented on #23194
Many thanks for your response. I’m out of office this week and can’t try it but I’ll take your word for it :) Thanks again!

[2019-01-30 05:51] #23194 closed

[2019-01-30 05:54] JSeb225 commented on #23705
Hi @KeiroKamioka0000.
We removed the bandwidth limit in 2017. Each SU represents the physical resources that are allocated to execute a job and in the backend are defined by a given amount of CPU and Memory indeed.
At this point the exact resources allocated are not documented but we are thinking to make this clearer in the future.

[2019-01-30 06:02] Mahesh-MSFT opened #23718 "Improve "Connect to Azure Stack" guidance to include behind proxy/firewall scenario"
Current guidance in section "Connect to Azure Stack" of this documentation seems to be assuming that client workstations (Windows, Mac, Linux) have direct outbound internet connectivity from their workstations. Many enterprise customers actually do not have a direct outbound internet connectivity. They are routed through a proxy (or firewall) which is configured on their workstations (Mac, Windows

[2019-01-30 06:06] dcbrown16 opened #23719 "Cloud Shell and Storage Account"
The section about Cloud Shell seems to imply that you must have the template in your Cloud Shell account to use it in Cloud Shell deployment.
Is there some concern that would prevent you from accessing a template stored in a different storage account when using commands through Cloud Shell (per the commands in the external source section)?

---
#### Document Details

⚠ *Do not edit this section. I

[2019-01-30 06:10] Ananya-96 commented on #22921
https://blogs.msdn.microsoft.com/kwill/2017/05/17/http-401-access-denied-when-calling-azure-cognitive-services-apis/

I used this documentation which helped me solve the problem. I did not know where to find my subscription key for the Cognitive Service I created.

Thanks

[2019-01-30 06:34] KrishnaG-MSFT commented on #23573
@imeya As informed by @pekspro you have to add authentication to manage Azure resources. Please go through the instructions provided in the Microsoft documentation link provided [here](https://docs.microsoft.com/en-us/azure/automation/automation-first-runbook-textual-powershell#add-authentication-to-manage-azure-resources)

[2019-01-30 06:35] KrishnaG-MSFT commented on #23573
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-30 06:35] #23573 closed

[2019-01-30 06:35] femsulu commented on #23704
@dcbrown16 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-30 06:38] jakaruna-MSFT commented on #23503
@imeya Try with this Body
[code]
I will check if we have some samples for python or C# and let you know.

[2019-01-30 06:48] sanpil commented on #23708
Under "Set up a datastore" section, it shows how to upload a file. Doesn't that lead you to the right path? Are you suggesting to provide more detailed steps on how to upload a file, a set of files, a folder, and a set of folders using the API?

[2019-01-30 06:55] DOliana opened #23736 "link in code example is dead"
in the last example (full example) the link to the default settings is dead. This is the link:
https://github.com/Microsoft/ApplicationInsights-dotnet-server/blob/develop/Src/DependencyCollector/NuGet/ApplicationInsights.config.install.xdt#L20

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b189efce-ce4e-f8f8-ecf8-8803a

[2019-01-30 07:00] KetanChawda-MSFT commented on #23538
@StefanSchoof Current Node.js versions (8.11.1 and 10.14.1 recommended). Set the version by using the `WEBSITE_NODE_DEFAULT_VERSION` [app setting](https://docs.microsoft.com/en-us/azure/azure-functions/functions-how-to-use-azure-function-app-settings#settings). You can find the available NodeJs version’s by following below steps:

- Navigate to kudu console (http://yourfunctionappname.scm.azureweb

[2019-01-30 07:06] CHEEKATLAPRADEEP-MSFT commented on #23692
Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-01-30 07:15] AlexFilipin commented on #23520
Of course for the most big orgs the solution will be, "just speak with your security team, they should pull the sign in logs into their SIEM", I am looking for quick and effective way to monitor to emergency accounts for orgs that might not have a SIEM or security team.

[2019-01-30 07:16] StefanSchoof commented on #23538
I had set the node Version and creation time to 10.6.0 and now I the recommended version is 10.14.1. Since I seen this only coincidentally. Currently I need to check the documentation page by hand for changes in the recommended version. Is this really the way best way currently possible or miss I something?

[2019-01-30 07:17] AjayKumar-MSFT commented on #23360
@jwargo, Sure, thank you!
@DMSeger, We will close this out, but if you feel you need more information please just let us know.

[2019-01-30 07:17] #23360 closed

[2019-01-30 07:27] juho-hanhimaki opened #23747 "How to use BackupRestoreService on cluster that is secured with AAD and common name cert"
I've got a windows cluster with AAD authentication and cluster certificate that is bound to a common name. How can I get BackupRestoreService to work properly on such cluster?

I've tried two cluster configurations:
- Without SecretEncryptionCertThumbprint configured (i don't really want to use thumbprints anywhere in the cluster if avoidable)
- With SecretEncryptionCertThumbprint with the value o

[2019-01-30 07:33] AjayKumar-MSFT commented on #23250
@crowcoder, Thanks for the update! Kindly let us know if you need more information on this matter.

[2019-01-30 07:37] imeya opened #23750 "what would happen if I just select the Selected Networks radio button without configure other settings?"
In [Add Virtual Network Service Endpoint](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-tutorial-virtual-networks-firewalls#add-virtual-network-service-endpoint) section, if I just select the radio button "Selected Networks", then click save(without configure other settings), what would happen? Deny all network traffic or allow all network traffic?

---
#### Document Details

⚠ *Do

[2019-01-30 07:48] imeya commented on #23503
@jakaruna-MSFT, thank you, it works. I should take a look at the doc which uses [] for subscription :(.

Please let me know if you get samples for python or c#. thanks again.

[2019-01-30 08:06] AmanGarg-MSFT commented on #23736
@DOliana Thank you for the feedback! The correct link seems to be [https://github.com/Microsoft/ApplicationInsights-dotnet-server/blob/develop/Src/DependencyCollector/DependencyCollector/ApplicationInsights.config.install.xdt](url).
I have assigned the issue to the content author to evaluate and update as appropriate.

@mrbullwinkle The above [link](https://github.com/Microsoft/ApplicationInsights

[2019-01-30 08:10] adoelger opened #23757 "Metrics are not in preview anymore"
The metrics are not called ... (preview) anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c5374f1-66b3-0d14-ddf6-2073ce8ccc58
* Version Independent ID: d942fd64-3d07-894b-fec6-2b7a0e6621c9
* Content: [Metrics in Azure Monitor (preview) - Azure Event Hubs](https://docs.microsoft.com/en-us/azure/event-hubs/event-

[2019-01-30 08:11] rolanddb commented on #22384
@Mike-Ubezzi-MSFT Unfortunately it still does not work on my side.

`Connection error: ('Unable to connect to any servers', {'104.45.16.183': error(0, u"Tried connecting to [('104.45.16.183', 10350)]. Last error: unknown error (_ssl.c:2947)")})`

I've deleted the CosmosDB and recreated it, but that did not help.

I'm sure that the username and password are correct (verified it twice). Anyhow, deli

[2019-01-30 08:16] jakaruna-MSFT commented on #23580
@dlepow Please provide your comments

[2019-01-30 08:16] RotemEmergi commented on #23655
Hi !

I use this answer for create 2 aks on same vnet "https://stackoverflow.com/questions/53981979/azure-single-vpn-gateway-for-connecting-multiple-resources-in-different-azure-ak"

[2019-01-30 08:31] jakaruna-MSFT commented on #23576
@alohaninja I didn't find a way to increase the disk space.
Attaching a volume is also not possible now for windows containers in ACI.
I will reach out to the team and let you know about the status.

[2019-01-30 08:44] snehithm commented on #23186
London version is supported. @JYOTHIRMAISURI , could you update the doc to reflect this please. In future please reach out to @ananthradhakrishnan for any ITSM Connector questions.

[2019-01-30 08:46] isamllr opened #23758 "Need to assign Key Vault Contributor role even if owner of subscription"
I've had to assign the Key Vault Contributor role to myself (at resource group level) even if I am the owner of subscription in order to be able to add a key to Blob storage - is this the expected behavior? Could we please document this if this is the default?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abdd8ac9-3e5

[2019-01-30 08:46] kazshi commented on #23176
@SumanthMarigowda-MSFT Do you have any updates on this? I'd appreciate if you could provide any info in here since I would like to provide it to my customer asap.  Thanks.

[2019-01-30 08:49] femsulu commented on #23186
thanks @snehithm for the update.
@elang-bmrn We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-30 08:49] #23186 closed

[2019-01-30 08:50] nageshajab opened #23759 "Not able to run app locally"
I have tried to run application but I am getting error.
System.Fabric.FabricConnectionDeniedException: 'Not authorized to connect'
Inner Exception : COMException: Exception from HRESULT: 0x80071C43

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3aa58af5-02ea-e425-1fc5-9f588d394016
* Version Independent ID: 86440381-783

[2019-01-30 08:53] elang-bmrn commented on #23186
Thanks everyone!

[2019-01-30 08:56] mumoryan commented on #23334
OK I understand that Contributor role CAN NOT add/delete roles and role assignments, but the way it is structured is a double-negative ("NotAction", "Can't") which is confusing.

Does it makes more sense to put "Delete roles and role assignments" in NotActions instead of "Can't delete roles and role assignments"? Just like "Delete any blueprint artifacts" below?

Moreover, the action description s

[2019-01-30 09:07] jakaruna-MSFT commented on #23747
Thanks for the question! We are investigating and will update you shortly.

[2019-01-30 09:12] angoyal-msft commented on #23594
@KeiroKamioka0000 In case of rate-limiting apart from getting blocked for certain time to run the query i.e. user will get RequestRateTooLarge. There could be case of DocumentClientException when multiple clients are cumulatively operating.

You can refer "Handle rate limiting/request rate too large" section in below document
https://docs.microsoft.com/en-us/azure/cosmos-db/performance-tips

[2019-01-30 09:24] imeya commented on #23573
@KrishnaG-MSFT, I'm not very clear when to add authentication to the script. The doc says when you want to manage Azure resources, you should add authentication.
I write scripts in powershell runbook to operate azure file storage / blob storage(like create file snapshot, delete file etc.), without adding authentication, but can work well.

So can you make it clear which operation is "manage Azure

[2019-01-30 09:25] femsulu commented on #23228
This is really good feedback for the Automation PG to consider. Would be great if you share the feedback directly with the automation team via [this link](https://feedback.azure.com/forums/246290-automation).
Not aware of any other alternatives but adding @georgewallace to offer his input on if there are any other supported options for determining runbook caller.

[2019-01-30 09:32] clouditspace commented on #22309
Hi,
In "Create a storage account" section, -Name parameter position should be changed to Location 1. The code given here didn't work and I resolved it by changing the position of the -Name parameter.

Reference: https://docs.microsoft.com/en-us/powershell/module/azurerm.storage/New-AzureRmStorageAccount?view=azurermps-6.13.0

[2019-01-30 09:33] AlbertoSpain opened #23760 "RBAC integration doesn't enable AzureAD integration"
We deployed a cluster using the RBAC checkbox marked assuming that AzureAD integration will be also deployed but it is not the case and now only option is redeploy the cluster. I think should be specified because perhaps more people think that they are enabling Azure AD integration when deploy using the Portal with the checkbox marked.

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-01-30 09:45] angoyal-msft commented on #23359
@EmanMH Could you please share the exact code you are running. So it would be easier for us to identify if there is any syntax issue or there is some understanding issue.

[2019-01-30 09:47] adoelger opened #23761 "Event size limit"
As far as I understand the quotas and limits of Event Hubs the maximum size of a single event is 265kb and not 1mb.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b109d8b1-4a76-6c2c-b7a1-f473c3723a68
* Version Independent ID: 2ffb9a42-52e2-8aa1-86cc-d1033c42ec49
* Content: [Programming guide - Azure Event Hubs](https:/

[2019-01-30 09:51] KrishnaG-MSFT commented on #23573
@imeya Interesting! Can you share the cmdlets that you use in Azure Automation PowerShell runbooks ?
The short answer to make it clear on which operation "manage Azure resources" means is, whatever operations includes Azure Resource Manager PowerShell module cmdlets i.e., Get-AzureRMxxxx, New-AzureRMxxxx, Set-AzureRMxxxx, etc. requires above mentioned authentication provided / added before running

[2019-01-30 10:03] voronkovsergey opened #23762 "Azure Data Lake Analytics support"
According to section "Supported open source platforms" Azure Data Lake Analytics is not supported now. Do you have plans to support ADLA in future?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ab1d75b-3cbf-58f2-6d6f-8f7445fc27a7
* Version Independent ID: 9d4e2945-27ec-b88e-7d20-0693df6982ea
* Content: [Azure Data La

[2019-01-30 10:06] adoelger opened #23763 "Message size of Event Hub Standard"
The Event Hub quotas page state that the maximum size of an event is 265kb and not 1MB.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cda815fa-f05d-a1c7-3509-1ef8ba35203e
* Version Independent ID: 79468aa7-09e1-3102-df04-44ed835f51c0
* Content: [Overview of dedicated event hubs - Azure Event Hubs](https://docs.microso

[2019-01-30 10:07] SumanthMarigowda-MSFT commented on #23762
@voronkovsergey Thanks for your question. We are checking on this and will respond to you soon.

[2019-01-30 10:13] silvester747 commented on #23647
Sorry for missing some details, let me clarify.

I was following the instructions from page: https://docs.microsoft.com/nl-nl/azure/storage/common/storage-use-azcopy-linux

There it describes the apt repositories for Ubuntu 14.04 and 16.04. I tried something similar for 18.04, but there the apt repository is missing azcopy.

I am building a docker image for CI/CD use (with several tools). Using th

[2019-01-30 10:14] kazshi commented on #23641
@YutongTie-MSFT I'm not sure if the question makes sense since looks like a custom domain is required from the Prerequisites. The question is from my customer and they would like to SSL certificate without a custom domain - that's their scenario as far as I heard for now. Thanks.

[2019-01-30 10:20] D3nnisd commented on #11385
A edit on this, not sure if its wanted:  Theres a new version of the ui(i cant find anything on it) which now allows to put properties. https://imgur.com/a/1FLoK2m

[2019-01-30 10:20] D3nnisd opened #23764 "Out of date guide"
Today i logged in and noticed that the SSIS package execution changed allot. The document above isn't up to date with that.
https://imgur.com/a/1FLoK2m

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 311ed7bd-e869-3e77-4601-235149e54c03
* Version Independent ID: 7f767d44-195c-d869-ab43-606feb470447
* Content: [Run SSIS

[2019-01-30 10:31] miguelangelopereira opened #23766 "Linux Support"
It's not clear in the documentation. But this does not support linux right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff3ca71d-bc0f-f021-7eda-ed522edfd51e
* Version Independent ID: 88d3f691-7358-e1ef-9763-c191d4f42e1a
* Content: [Network Performance Monitor solution in Azure](https://docs.microsoft.com/en-us/azure

[2019-01-30 10:32] femsulu commented on #23510
Thanks team. With the above update, we will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-30 10:32] #23510 closed

[2019-01-30 10:35] rkarlin commented on #14066
Hmm. Maybe this is the step you're missing?
Maybe I need to add an explanation about how to add the Security Center PS modules?

To use the Security Center cmdlets, you need to install them in PS:
1.	Set-ExecutionPolicy -ExecutionPolicy AllSigned
2.	Install-Module -Name Az.Security -Force

Is that the step you're missing ? I'll update it in the doc

[2019-01-30 10:40] Anmolgan81 opened #23767 "How to do Log Shipping B/w 2008 SQL Server and Azure Managed Instance?"
How to do Log Shipping B/w 2008 SQL Server and Azure Managed Instance?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fb7dad4-ff47-5b16-e8ee-0a5e037ea20f
* Version Independent ID: 98ec245b-bd8f-bd96-ec6d-0048599246fa
* Content: [Azure SQL Database feature comparison](https://docs.microsoft.com/en-us/azure/sql-database

[2019-01-30 10:41] Sethu2488 opened #23768 "Additional Outbound IP Addresses"
Appreciate if you could give more insights about the Additional Outbound IP addresses. Able to view them in the Azure portal under properties section (App Services)
Only outbound IP address is mentioned. No information about additional Outbound IP address.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c32dd6f-050f-e3

[2019-01-30 10:46] femsulu commented on #23531
@bobbytreed can you confirm these should be updated to -Category? Per [documentation ](https://docs.microsoft.com/en-us/powershell/module/azurerm.insights/set-azurermdiagnosticsetting?view=azurermps-6.13.0)-Categories appears to be correct. We may need to make multiple edits if this is incorrect.

[2019-01-30 10:47] mike-urnun-msft commented on #23126
Hi @nils-a Tracing config via `host.json` is no longer available in Functions v2 and you may learn more about it here: [All logging settings now live under "logging"](https://github.com/Azure/azure-functions-host/wiki/host.json-(v2)#all-logging-settings-now-live-under-logging)

However, this configuration is still available in Functions v1. We have made changes to this documentation to clarify thi

[2019-01-30 10:49] #23126 closed

[2019-01-30 10:57] femsulu commented on #23562
@MGoedtel  - any insight on this?

[2019-01-30 11:02] ThierryBT commented on #23531
Hi @bobbytreed @femsulu.
For information, the syntax for command ; (get-help Set-AzureRmDiagnosticSetting).syntax

![git2](https://user-images.githubusercontent.com/28751337/51977113-d0def100-2486-11e9-98b9-6ec01a92b6b9.png)

Regards

[2019-01-30 11:03] YASWANTHM-MSFT commented on #23282
@doragui , Could you please refer the following article [here ](https://charbelnemnom.com/2018/12/how-to-mount-and-persist-an-azure-file-share-with-windows-azurefiles-azurefilesync/)and follow the steps using the below commands for persisting Azure file share credentials even if you reboot the VM.
Use PowerShell to perform the below commands.
`Invoke-Expression -command "cmdkey /add:<storageaccoun

[2019-01-30 11:05] ChiragMishra-MSFT commented on #23757
@adoelger Thanks for bringing this to our notice. We will check and update as appropriate.

[2019-01-30 11:08] #23552 closed

[2019-01-30 11:10] femsulu commented on #23531
@ThierryBT thanks for confirming. I was also able to reproduce the above. Just need @bobbytreed to confirm since this will require changes to at least 2 documents and possibly more. Thanks again for pointing this out.

[2019-01-30 11:11] ravikiran-srini opened #23769 "How to use Property override?"
There is a new feature Property Overrides.
I am not sure how to enter the property path . I used the same one that is provided in this example.

\\PackageName.dtsx\\MaxConcurrentExecutables  as property path

I get an error. Tried different combinations of removing '/', removing package names, but to no avail. Please help

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-01-30 11:15] hrushib commented on #23685
@juho-hanhimaki,  AutoRestoreOnDataLoss is implemented in a way that there is no possibility that it can cause any further data loss than what may already have occurred before the automatic restoration with respect to the available SF nodes at the time decision is taken.

Whether to enable AutoRestoreOnDataLoss solely depends on the business need with respect to importance of service runtime vs. i

[2019-01-30 11:19] crusadin commented on #10926
@matkjin that requires you to use the old MSOnline modules.
We would like to manage MFA using the newer Azure AD module for numerous of reasons. Preferably also the graph API interface so that I can manage MFA in .NET core

[2019-01-30 11:21] #23685 closed

[2019-01-30 11:32] KetanChawda-MSFT commented on #23541
@axisc any thoughts on this ?

[2019-01-30 11:33] SubhashVasarapu-MSFT commented on #23718
@Mahesh-MSFT Thanks for your feedback. We are currently looking into it and will update you shortly.

[2019-01-30 11:34] StefanSchoof commented on #23538
@KetanChawda-MSFT Thanks for the answer. But between was the [November 2018 Security Releases](https://nodejs.org/en/blog/vulnerability/november-2018-security-releases/) and I do not want to think about if my setup is vulnerable. I assume my Code works with every node 10 Version and for my setup is breaking code better then having a security hole.
I have a weekly build and test release. In this re

[2019-01-30 11:36] #23201 closed

[2019-01-30 11:36] AshokPeddakotla-MSFT commented on #23706
@adriantorrie Thanks for the feedback!
@hrasheed-msft Please check and confirm on the above query.

[2019-01-30 11:49] vitaly-zdanevich opened #23770 "Range is not supported?"
But it is for Cortana https://docs.microsoft.com/en-us/cortana/skills/speech-synthesis-markup-language#prosody-element

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aae85d9f-b4f4-fc4d-cb0f-0fc4a1d4e7c9
* Version Independent ID: dbd55a99-dbde-a3f3-47a5-ded8309e2748
* Content: [Speech Synthesis Markup Language - Speech

[2019-01-30 11:49] SumanthMarigowda-MSFT commented on #23157
@MouthOfMadness Can you try az extension add -n storage-preview  cmdlets in the Portal Azure Cloud Shell and let me know the status

[2019-01-30 11:52] neeleshray commented on #23658
@MicrosoftGuyJFlo
John, Could we correct the mentioned typo in the document ?

[2019-01-30 11:53] neeleshray commented on #23416
@blouwagie
Let us know if you need further assistance on this.

[2019-01-30 11:54] KetanChawda-MSFT commented on #23538
@StefanSchoof I understand you concern. For now you can use the recommended version if it is compatible with your app.

[2019-01-30 11:54] neeleshray commented on #23413
@kevtacular
Let us know if you need further assistance on this.

[2019-01-30 11:55] AshokPeddakotla-MSFT commented on #23764
@D3nnisd Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-30 11:56] AshokPeddakotla-MSFT commented on #23769
@ravikiran-srini Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-30 11:57] neeleshray commented on #23334
The "NotActions" subheading denotes the actions that the role is not authorized to perform. And the "Can't" is mentioned in the description of the action.

[2019-01-30 11:57] ChiragMishra-MSFT commented on #23690
@ulitosCoder Thanks for providing your feedback. We are investigating into the issue and will update you shortly.

[2019-01-30 11:58] angoyal-msft commented on #23767
@Anmolgan81 Thanks for your concern. We are actively investigating this issue and will be get back to you soon.

[2019-01-30 11:59] cephalin commented on #23034
@msangapu Yes this is important. It should be in both the upcoming config node.js article and mentioned in this quickstart. I suggest adding a short description of the index.js inside the "Download the sample" section.

[2019-01-30 12:00] AshokPeddakotla-MSFT commented on #23761
https://github.com/MicrosoftDocs/azure-docs/issues/23761

[2019-01-30 12:00] parabolic123 opened #23772 "Last logon time stamp?"
Will Ms implement a last logon time stamp for individual users or similar? Azure audit reports often aren't really fit for purpose, the GUI only goes back 30 days and downloading with PowerShell is too cumbersome. Our Azure AD of around 9000 users takes over 24 hours to download a day's worth of audit info, producing around 8 GB of data. Despite having a small Azure AD, we generate around 30 milli

[2019-01-30 12:01] SumanthMarigowda-MSFT commented on #23707
@john-louden Thanks for the feedback! We are checking on this internally and will respond to you soon.

[2019-01-30 12:03] AshokPeddakotla-MSFT commented on #23763
https://github.com/MicrosoftDocs/azure-docs/issues/23761

[2019-01-30 12:03] KetanChawda-MSFT commented on #23768
@Sethu2488 `Additional Outbound IP Addresses` represents the union of all possible outbound addresses that can be used.

Regardless of the number of scaled-out instances, each app has a set number of outbound IP addresses at any given time. Any outbound connection from the App Service app, such as to a back-end database, uses one of the outbound IP addresses as the origin IP address. You can't kno

[2019-01-30 12:05] AshokPeddakotla-MSFT commented on #23763
This is a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/23761 hence closing.

[2019-01-30 12:05] #23763 closed

[2019-01-30 12:06] geertn commented on #23652
Created the feedback:

https://feedback.azure.com/forums/217313-networking/suggestions/36674491-appgw-v2-support-attaching-listeners-to-both-publ

[2019-01-30 12:07] AshokPeddakotla-MSFT commented on #23761
@adoelger Thanks for bringing this to our notice. We will check and update as appropriate.

[2019-01-30 12:07] hisasima opened #23773 "Limitation for outbound rule of NSG."
If threre are some block rule in outbound rule of NSG which applied AppGW subnet even though there is an allow rule to connect internet, deployment will be failed. I hope this limitation will be written in this document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: faa5b8a2-11a1-6a2d-07cb-ffcf39643ed4
* Version Indep

[2019-01-30 12:11] vishramendra commented on #21577
I've followed steps given above but rather than returning the secret the ConfigurationManager.AppSettings["MySecret"]; is returning the complete string. e.g. @Microsoft.KeyVault(SecretUri=https://demokeyvaultash.vault.azure.net/secrets/APIKey/

[2019-01-30 12:12] sivapunnaivanam opened #23774 "Missing Information"
What is that PolicyId in below URL? Where can we get that? Please add information about that.

https://&lt;tenantName&gt;.b2clogin.com/tfp/&lt;tenantName&gt;.onmicrosoft.com/&lt;yourPolicyId&gt;/oauth2/v2.0/authorize?client_id=&lt;appID_of_your_client_application&gt;&nonce=anyRandomValue&redirect_uri=&lt;redirect_uri_of_your_client_application&gt;&scope=https%3A%2F%2Fcontoso.onmicrosoft.com%2Fnote

[2019-01-30 12:15] neeleshray commented on #23327
@jaffadog
CA Policies to Service Principles can not be implemented. As of today we do not have any roadmap on the same.

[2019-01-30 12:15] #23327 closed

[2019-01-30 12:19] neeleshray commented on #23664
@j-lake
"User Access Administrator" is a [Built-In RBAC Role](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#user-access-administrator) for managing access to Azure Resources. It is not part of the Admin Roles for the Tenant.

[2019-01-30 12:20] neeleshray commented on #23566
@narsaskak
Let us know if you need further assistance on the same.

[2019-01-30 12:22] ScripterShell opened #23775 "I found a much faster way, not a for loop, to gather size information."
($listOfBLobs | Measure-Object 'Length' -Sum).Sum

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88dabf76-bd53-0581-5b33-f90c85462bd1
* Version Independent ID: 1b82ca05-8b26-c823-3810-8cb6bccfd361
* Content: [Azure PowerShell Script Sample - Calculate blob container size](https://docs.microsoft.com/en-us/azure/storage/

[2019-01-30 12:35] brandonbrownchenega commented on #23677
Marilee - the commands and screenshots should be updated to reflect the proper commands, this would ensure customers don't have to go to MSDN to find answers.

[2019-01-30 12:46] BartVanBerkel opened #23776 "URL of this document is wrong"
The title of this document is 'Advanced Data Security for Azure SQL Database', however the URL is https://docs.microsoft.com/en-us/azure/sql-database/sql-advanced-threat-protection

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcc04833-193c-4ab6-678e-de078b7275ce
* Version Independent ID: 289a64b5-4031-3876-6566-dbb45

[2019-01-30 13:09] codescream commented on #23397
any updates on this please?

[2019-01-30 13:13] SumanthMarigowda-MSFT commented on #23775
@ScripterShell Thanks for the feedback!  We are checking on this and will respond to you soon.

[2019-01-30 13:21] RyanLWilliams opened #23777 "Does this overwrite DPOR"
Does this overwrite Digital Partner of Record that is applied on a subscription level? Or can Partner A be set on the account and Partner B be set on the subscription? If so which partner also gets what recognition for contribution?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f901056-c225-b086-cdaa-c8bd978db64c
* V

[2019-01-30 13:24] ronitr commented on #23776
Thanks for your comment! We have just performed a renaming from Advanced Threat Protection to Advanced Data Security, and are still working on updating the content everywhere.

[2019-01-30 13:27] Anmolgan81 opened #23778 "Can we use Azure Managed Instance as a Publisher/Distributor?"
Can we use Azure Managed Instance as a Publisher/Distributor?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fb7dad4-ff47-5b16-e8ee-0a5e037ea20f
* Version Independent ID: 98ec245b-bd8f-bd96-ec6d-0048599246fa
* Content: [Azure SQL Database feature comparison](https://docs.microsoft.com/en-us/azure/sql-database/sql-data

[2019-01-30 13:32] Anmolgan81 opened #23779 "Can Azure Managed Instance be a Publisher/Distributor for transactional replication and Subscriber as Azure SQL Database?"
Can Azure Managed Instance be a Publisher/Distributor for transactional replication and Subscriber as Azure SQL Database?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7cd1942-8ac7-eae9-4ac8-eb716ecd7b7b
* Version Independent ID: 559730f0-71fd-b16c-ecac-56954d5f2f64
* Content: [Configure replication in Azure SQL Data

[2019-01-30 13:38] mrbullwinkle commented on #23736
The doc has been updated to address this GitHub Issue. The changes are merged internally, they will go-live around 10:30 AM UTC-8. Thanks again for bringing this to our attention!

[2019-01-30 13:39] mrbullwinkle commented on #23736
@MicrosoftDocs/azure-cxp-triage #please-close

[2019-01-30 13:41] Anmolgan81 commented on #23779
Also I have a SQL Server 2008 which I want to use as a Publisher/Distributor and Azure Managed Instance as a Subscriber is that possible?

And If I have a Azure Managed Instance which I want to use as a Publisher/Distributor and Azure SQL Database as a Subscriber is that possible?

[2019-01-30 13:45] PingPongSet opened #23780 "access_denied after following the article"
I followed this article, but I got the error below from Test the user flow section:

HTTP/1.1 400 Bad Request
Cache-Control: private
Content-Type: application/json; charset=utf-8
Server: Microsoft-IIS/10.0
x-ms-gateway-requestid: fd437d7a-fd0e-42bf-adcf-0969f5dcf74d
X-Frame-Options: DENY
Strict-Transport-Security: max-age=31536000; includeSubDomains
X-Content-Type-Options: nosniff
X-XSS-Protection

[2019-01-30 13:51] csteelatgburg commented on #15889
Also experiencing this issue and would like a resolution.

[2019-01-30 13:53] Roblarson opened #23781 "Article is not properly titled"
This Article is not properly titled. It should say
Collect Azure Activity Logs into Log Analytics across subscriptions in different AAD Tenants

the article itself has to clarify this misconception at the top of the article and redirect the user to the correct article on how to collect across subscriptions in the same tenant

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2019-01-30 13:54] SubhashVasarapu-MSFT commented on #23773
@hisasima Thanks for your feedback. We are currently looking into it and will update you soon.

[2019-01-30 13:58] wrende opened #23782 "Location as a device property data type"
Is there a standardization on the location data type of a device location ?
In the documentation it says data type: location. But what is a location data type ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f98cd40-ed60-7ccb-f769-50834dbdb4ed
* Version Independent ID: ce0b839b-f9b6-3ddf-e7f8-3c152b76da80
* Content: [

[2019-01-30 14:10] #23736 closed

[2019-01-30 14:21] vcmcstech commented on #23145
I already fixed it

BY ADDING LOG ON AS A SERVICE RIGHT FOR DIAHOSTSERVICE

CURTIS SAMUELS JR. Technical Support Specialist, Client Services
+1 971.255.4801 [dispatch]
[cid:image002.png@01D4B863.FE44ECB0]

From: AshokPeddakotla-MSFT <notifications@github.com>
Sent: Tuesday, January 29, 2019 8:35 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: vcmcstech <vcm.cs.tech@gmail.com>;

[2019-01-30 14:26] PingPongSet opened #23784 "Questions on Register a web API Section"
on the article, https://localhost:44316 is used for Reply URL, what request the app hosted via https://localhost:44316 needs to accept in terms of HTTP method, headers and body?

Do the steps on this article apply to this article https://docs.microsoft.com/en-gb/azure/active-directory-b2c/configure-ropc

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-01-30 14:36] shashishailaj commented on #23784
@PingPongSet  Thank you for your query! We will investigate and update this thread further.

[2019-01-30 14:38] NelsonFMDuarte commented on #20723
Question about UsageLocation / MsExchUsageLocation
Attribute "UsageLocation" is listed several times across the article on different apps, but on premises the attribute names are different, for Exchange case it's msExchUsageLocation for example. Can this be updated to mitigate confusion.

[2019-01-30 14:40] dhirajgandhi commented on #23777
This doesn't overwrite DPOR applied at the subscription level.  If multiple partners are associated with the subscription in PAL then all partners get recognition based on their role and access role.

[2019-01-30 14:42] shashishailaj commented on #23780
@PingPongSet Thank you for your query. We will investigate and update this thread further.

[2019-01-30 14:42] BartVanBerkel commented on #23776
Cool, please note that also the pictures need to be updated as they also show incorrect information.

[2019-01-30 14:45] cephalin commented on #23283
@dcbrown16 Thanks for following up. I've added the session expiration in the doc and it should be published in the next day.

We've had links from third-party providers become broken overtime as the providers change their docs, so I'd rather not take the dependency here. I think it's best to refer directly to the X-MS-TOKEN-AAD-EXPIRES-ON header, etc. to know when your particular token expires.

#

[2019-01-30 14:46] Sudharma commented on #14983
I install a new cluster and now with the access token I get logged in Dashboard but get these kind of errors. Any changes on azure aks side?
``configmaps is forbidden: User "system:serviceaccount:kube-system:kubernetes-dashboard" cannot list configmaps in the namespace "default"``

[2019-01-30 14:47] shashishailaj commented on #23758
@isamllr Thank you for your query. We will investigate and update this thread further.

[2019-01-30 14:47] RyanLWilliams commented on #23777
Do new subscriptions added to the account inherit the partner code and auto-complete the DPOR field? How does this differ vs DPOR?

[2019-01-30 14:49] shashishailaj commented on #23774
@sivapunnaivanam Thank you for your feedback . We will investigate and have the request reviewed for article update .

[2019-01-30 14:52] RipinAggarwal opened #23785 "Query greater-than AND less-than"
Hi Team,
Is it possible to specify the Query condition for greater-than or less-than?
Or any planned to include in future?
e.g. $body.Weather.Temperature &gt; 40 AND $body.Weather.Temperature &lt; 50

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8be1f717-4e46-0a00-b4e3-823245834d3e
* Version Independent ID: 5c3f75ba-5

[2019-01-30 14:57] francoislarouche commented on #22395
Hi Bryan,

thanks for coming back but it's not quite the problem I was exposing. I'll try to re-explain differently.

If I understood well, the option to do IP restriction in App Services will prevent people that is not part of the whitelisted IP range to reach the App service, and I would assume the IIS server.

Now, if you use a physical network appliance to enable that same feature (for instanc

[2019-01-30 15:00] marktilleytlc commented on #23692
You need:

"ttl": 10

[2019-01-30 15:03] anujku commented on #22946
Thanks @Mike-Ubezzi-MSFT I see current Java SDK has [ChangeFeedOptions](https://docs.microsoft.com/en-us/java/api/com.microsoft.azure.documentdb.changefeedoptions?view=azure-java-stable) but not much more. I see a java change feed [implementation](https://github.com/Azure/azure-documentdb-changefeedprocessor-java) but it does not seem to be official.

[2019-01-30 15:05] Sethu2488 commented on #23768
Thank you for the information. Will update the thread if any further information is required.

[2019-01-30 15:06] eross-msft commented on #23680
@pyoungberg  Thank you for your feedback! We're currently undergoing a complete overhaul of the end-user content, including this article. You should see new text and images for this entire content set over the coming months.

#please-close

[2019-01-30 15:09] anujku commented on #23692
@marktilleytlc Thanks that works, but I guess this needs update on the [documentation](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-time-to-live)

[2019-01-30 15:19] AjayKumar-MSFT commented on #23768
@Sethu2488, Thanks for the update. Sure, we will close this out, but if you feel you need more information please just let us know.

[2019-01-30 15:19] #23768 closed

[2019-01-30 15:24] planax opened #23786 "No configuration instructions for old Website projects (not Web Applications)"
The title is self explanatory.

In most projects you can simply add Application Insights by right clicking the project in Visual Studio, but such option is not present for Website projects (I don't mean the ASP.NET Web Application project).

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 225a3185-819c-9723-70cb-78cd95c9

[2019-01-30 15:26] vhorne commented on #13422
#please-close

[2019-01-30 15:32] Anmolgan81 opened #23787 "Seeing something different in other page for azure managed instance?"
Hi we are seeing something different on https://docs.microsoft.com/bs-latn-ba/azure/sql-database/sql-database-managed-instance-transactional-replication#common-configurations in this page not sure if this is present or not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7cd1942-8ac7-eae9-4ac8-eb716ecd7b7b
* Version In

[2019-01-30 15:35] georgewallace commented on #23573
@imeya The scripts you write to interact with storage are a bit different.. interacting with storage accounts on the data plane require different permissions to access the shares or containers.. that is normally done with a SAS token or something similar..

[2019-01-30 16:04] tfitzmac commented on #22649
Here is deny effect for tags - [https://docs.microsoft.com/en-us/azure/governance/policy/samples/enforce-tag-value](https://docs.microsoft.com/en-us/azure/governance/policy/samples/enforce-tag-value)

You can get resources without a tag name by using the -TagName parameter instead of -Tag in the PowerShell commands above.

[2019-01-30 16:10] Sudharma commented on #23304
Actually I have integrated the Azure AD with AKS which works well with authentication but the Dashboard does not work with access token. I do not want to create a roleBinding since few developers want to create pods/services via dashboard at least during development. And the link above I guess makes only read access

https://github.com/MicrosoftDocs/azure-docs/issues/23304

[2019-01-30 16:20] Mortana89 opened #23788 "Restoring backup from database"
Hi,

The article is not clear about whether or not restoring from a non-backup store is possible.
I'm trying to understand if I can use the Restore process to call an Azure Cosmos DB to do an initial population of the reliable dictionaries?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2afe5075-3fb3-d79f-98b6-9fdcc634

[2019-01-30 16:25] Sudharma opened #23789 "AKS with RBAC unable to view Dashboard with Azure AD"
I have RBAC enabled AKS cluster with proper Azure AD integration. The things are working fine at control plane. However to access dashboard, I create an access token `az account get-access-token  --query accessToken -o tsv` and I start `kubectl-proxy`.

**Expected behaviour** :  The members of Azure  AD group should be able to have full permission on the dashboard with the token. This was working

[2019-01-30 16:26] EmanMH commented on #23359
@angoyal-msft here is my code (it was working a couple of months ago) but when I tried it didn't return the array and instead it returned the client context like I showed in my previous comment

      var result =JSON.parse(req.params.account)
         var querySpec = {
        query: "SELECT * FROM root r WHERE r.email = @email and r.password=@password",
        parameters:
        [

[2019-01-30 16:32] RyanLWilliams opened #23790 "SLA for RTO"
Hi. Are there any SLAs for Recovery Time Objective when using this method. Or any guarantee of throughput that is offered during restore?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eeafbf18-2bee-17c8-9871-118396f904b7
* Version Independent ID: 1c591c58-062c-695f-212f-523b4221935c
* Content: [Azure Instant Restore C

[2019-01-30 16:36] HermannGruber opened #23791 "Stream diagnostic logs from Azure missing?"
The streaming of diagnostic logs to my terminal was promised to be covered at the beginning of the tutorial (and is claimed as covered in the ultimate section), but I could not find it. Maybe I did not read carefully enough, or did you remove some part?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00961883-36eb-f736-

[2019-01-30 16:45] Karishma-Tiwari-MSFT commented on #23304
@iainfoulds Would you be able to share your insights on this issue? It is related to #14983

[2019-01-30 16:49] MarkusVi commented on #23691
Hi @liutiger27, the **maximum number of devices** limit doesn't apply to hybrid Azure AD joined devices. The limit applies to "number of devices you own / you have registered". Since hybrid Azure AD joined by an automated process, the owner is undefined.

[2019-01-30 17:13] noelram opened #23792 "PartitionKey value must be supplied for this operation."
I was to able to see the list of items in the browser but I get the following error when I try to click on "Details", "Edit" or "Delete":
PartitionKey value must be supplied for this operation.
Description: An unhandled exception occurred during the execution of the current web request. Please review the stack trace for more information about the error and where it originated in the code.
Exceptio

[2019-01-30 17:14] SplDataCenter commented on #19828
I get this error when I follow this exactly from Studio3T:

SERVER [URL.documents.azure.com:10255] (Type: UNKNOWN)
|_/ Connection error (MongoSocketOpenException): Exception opening socket
|____/ I/O error: connect timed out

Details:
Timed out after 30000 ms while waiting to connect. Client view of cluster state is {type=UNKNOWN, servers=[{address=splc-ip-mongo-1.documents.azure.com:10255, type=U

[2019-01-30 17:15] MarkusVi commented on #21861
Hi @neeleshray, the article already has a link to the FAQ in the **Next steps** section.

#please-close

[2019-01-30 17:17] jzuchora87 opened #23793 "Incorrect Storage Limits"
For Business Critical Gen4, the limit for data storage is actually 512GB until you reach 16 vCores. Can you please provide an update documentation? We are trying to providing pricing and that is a significant change.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ece92a7d-3250-d109-97e9-20a731dc4b20
* Version Independe

[2019-01-30 17:23] AmanGarg-MSFT commented on #23517
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-01-30 17:23] #23517 closed

[2019-01-30 17:24] tfitzmac commented on #23719
@dcbrown16 - thanks for this feedback. I am clarifying the article to indicate that deploying an external template from Cloud Shell is also supported and the commands are the same.

[2019-01-30 17:32] Mike-Ubezzi-MSFT commented on #22947
Do you have an Azure subscription GUID? I realize you are possibly using free subscription but if you have any type of active subscription, please share the GUID with me (send email to AzCommunity at Microsoft.com), I can have a one-time incident ticket created to investigate this specific issue.

[2019-01-30 17:33] Adam-Smith-MSFT commented on #23647
@silvester747 Thanks for the clarification I will report it to the Product group team as an internal product bug. I would also recommend leaving feedback on the following link: https://feedback.azure.com/forums/217298-storage

[2019-01-30 17:34] uditsrivastava opened #23794 "For Content"
good content very helpful for beginners.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d445808-e61d-ccc2-3696-ef3ea109a662
* Version Independent ID: 8a9e706a-c350-1271-dcb8-883e166423b4
* Content: [Create C# ASP.NET Core web app - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-g

[2019-01-30 17:34] jomuld opened #23795 "kubectl get nodes"
Just a small remark ;-).
The textbox with "kubectl get nodes" contains output of the command as well. When people use the "Copy" option, the output text causes an error at the place where it is pasted ...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4af71a4-648e-580f-7e86-94ce05196de5
* Version Independent ID: 134b8

[2019-01-30 17:36] tfitzmac commented on #23277
If you are linking to a template in GitHub, you need to use the raw URL. @SamirFarhat or @KrishnaG-MSFT did your tests with the token also use the raw URL? If that works, I can clarify in this article the need to use that format for GitHub.

[2019-01-30 17:38] MicahMcKittrick-MSFT commented on #23789
@Sudharma can you share the doc you are referring to so we can better assist?

Is it this one?

https://docs.microsoft.com/en-us/azure/aks/aad-integration

[2019-01-30 17:40] Adam-Smith-MSFT commented on #23647
I escalated the feedback internally and will go ahead to close this issue:
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-30 17:40] #23647 closed

[2019-01-30 17:42] MicahMcKittrick-MSFT commented on #23759
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-30 17:43] MicahMcKittrick-MSFT commented on #23760
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-30 17:44] MicahMcKittrick-MSFT commented on #23788
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-30 17:44] MicahMcKittrick-MSFT commented on #23795
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-30 17:44] ingd opened #23796 "Wrong URL"
I thought the ajax.aspnet.cdn.com was wrong. The correct would be ajax.aspnetcdn.com with 443 port.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2015c6c-60c7-bb74-469c-e9320301d08a
* Version Independent ID: 0ff19de6-c892-10ff-5fe8-f6a70abfa3f5
* Content: [Azure AD SSPR from the Windows 10 login screen](https://docs.

[2019-01-30 17:52] CarlRabeler commented on #20774
PR pending

[2019-01-30 17:57] Adam-Smith-MSFT commented on #23414
Thanks, feedback was raised to the product team. I'll go ahead and close this issue.