[2018-07-03 16:11] AzureStacker opened #11151 "Outbound DNS"
Hi,

My understanding is that OUTBOUND DNS is required for initial deployment only, and not for day-to-day operation.  It states as much in the DNS integration section earlier in this document.  Could this be clarified as some customers want to keep their public ports as locked down as possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-07-03 16:13] madymantha opened #11152 "app stuck in training mode"
our luis app only has about 160 intents, but it's been stuck in training mode for the past hour. any idea why that is?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb73b706-ef55-28ae-20bc-bf8217f86a4c
* Version Independent ID: d37854c3-65c3-3c4e-7f3c-2146c4dab850
* Content: [Train your LUIS app - Azure](https://docs.

[2018-07-03 16:14] apeyrat opened #11153 "QnA Maker sharing procedure do not work"
I followed the procedure but the person I shared with do not see the shared QnA Maker service.

Please note that this has also been reported as a comment in the ticket #8219 but I think it's better to have a separated one as this issue is more important.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 937c1738-727e-794f

[2018-07-03 16:17] v-geberr commented on #11152
@madymantha Thank you for reporting this issue. I have reported this issue to the product team. #in-progress

[2018-07-03 16:22] sergaz-msft commented on #11130
Thanks @sethmanheim . My suggestion was also to update [this document](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-dotnet-how-to-use-topics-subscriptions) and perhaps the others written for the different programming languages (.NET, Java, Node.js, PHP, Python, Ruby):

![image](https://user-images.githubusercontent.com/22173500/42232093-5222b3ca-7ee5-11e8-982b-9c38ad50c

[2018-07-03 16:22] #11130 closed

[2018-07-03 16:23] akramwaseem opened #11154 "Can I create multiple action groups in the same template?"
I need two or 3 action groups and can I create them in a single template. If yes can you post something which is helpfull.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ef46ed0-e53c-c99e-ccfc-80f26f19820d
* Version Independent ID: e0ee52b9-7f31-02e4-d10e-c5f71ee801fe
* Content: [Create action groups with Resou

[2018-07-03 16:23] Security-Guy15 opened #11155 "Adding a single public IP as a trusted location"
Is there a way to add a single public IP address as a trusted location?
If a range is required, we're circumventing conditional access for a lot more IP's than what is needed.
The ranges could include an adversaries public IP address..?

[2018-07-03 16:40] eifinger opened #11156 "Specify what is meant by "Headers that contain the authorization, request ID, content type, and content encoding" and provide an example."
As the title says please specify exactly what headers have to be set and provide an example.

So far I have the following request:
[code]
and get the following response:
[code]

Thank you for any hints!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58ad27ec-834c-d85d-79f9-ee699019be33
* Version Independent ID: b108b7b

[2018-07-03 16:43] dcpking commented on #11117
Thanks!

If I can help in any way then please contact me. (FYI I have spent
around 6 years of my career as a tech author!)

Mike Irwin

On 07/03/2018 12:07 AM, VairavanS-MSFT wrote:

[2018-07-03 16:44] jingjing-z commented on #11071
Those images are incidents images. You can remove them by setting the "incidents" parameter from [TrafficOption class](https://docs.microsoft.com/en-us/javascript/api/azure-maps-javascript/trafficoptions?view=azure-iot-typescript-latest) to "false"

`map.setTraffic({
  incidents: false,
  flow: "none"
})
`

[2018-07-03 16:50] sethmanheim commented on #11130
@sergaz-msft An excellent suggestion! I will update that document as well. Working on it right now...

[2018-07-03 16:50] szarkos commented on #11049
That's why we use the phrasing 6.4+, so we don't need to update the doc every time a new version is added or removed.  6.4 was the minimum viable version.

[2018-07-03 16:53] kobulloc-MSFT commented on #10897
@Jich2018 I tried going through the How-to guide again in the documentation with a new instance of Application Insights and a new Logic App (putting them in separate resource groups to try and spread them out a bit).  While I did get a "The query yielded no results." message in the email that was sent, everything was successful.

![image](https://user-images.githubusercontent.com/37556655/42233032

[2018-07-03 16:53] #10897 closed

[2018-07-03 17:00] mrbullwinkle commented on #11079
#please-close

[2018-07-03 17:04] cynthn commented on #10325
@microbart thanks for the feedback. I'm updating these docs today to account for the changes in how NSGs are setup. #please-close

[2018-07-03 17:14] #10325 closed

[2018-07-03 17:17] MicahMcKittrick-MSFT commented on #10910
From my understanding splitting the RI into 2 will not impact the contract per say. It will just split the two into two instances and you can cancel one without impacting the other. You can split the RI into the same subscription if you like.

If you are unsure before implementing any splitting I would suggest opening that free ticket to subscription and billing as they will be able to give you ex

[2018-07-03 17:19] Supermathie opened #11157 "Sizing of Application Gateway"
How should we size the gateway? What is the difference between Small, Medium and Large?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9bdbfd3-8f7b-810c-dcd7-a58df729f3ad
* Version Independent ID: 4b9c0422-e69a-4444-4a6b-7ecc0b6974cd
* Content: [What is Azure Application Gateway](https://docs.microsoft.com/en-ca/azure

[2018-07-03 17:22] MicahMcKittrick-MSFT commented on #11155
Can you provide the document you are referring to?

[2018-07-03 17:22] MicahMcKittrick-MSFT commented on #11148
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-03 17:23] MicahMcKittrick-MSFT commented on #11144
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-03 17:23] MicahMcKittrick-MSFT commented on #11143
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-03 17:24] MicahMcKittrick-MSFT commented on #11133
Thanks for the question! We are investigating and will update you shortly.

[2018-07-03 17:25] MicahMcKittrick-MSFT commented on #11132
Thanks for reaching out. If you have an issue please reopen this comment on the doc you are having and explain how we can help.

[2018-07-03 17:25] #11132 closed

[2018-07-03 17:30] thorpebt commented on #11046
Hi, this may or may not add to the conversation. I was having the same issue to start so I disabled restart on failure. Now I'm getting an error about missing libssl.so.1.0.2. My pi has Openssl 1.1 installed, but iotedge doesn't seem to support this. You might see if you have the same results.

pi:~ $ sudo systemctl cat iotedge.service
# /lib/systemd/system/iotedge.service
[Unit]
Description=Azure

[2018-07-03 17:34] maxal1917 commented on #11148
Hmm, I'm still confused. When I read about cloud services I think about this offering: https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-choose-me

What you are referring to?

[2018-07-03 17:45] YutongTie-MSFT commented on #11153
@apeyrat Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-03 17:46] vasivara-MSFT commented on #11105
@aaronjolson Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-03 17:47] lisaguthrie opened #11158 "Need to update create cluster directions to account for RBAC"
"Create a k8s cluster enable for AZDS" section needs to be updated to reflect the addition of RBAC support to AKS. Specifically, screen shots need to include the new Authorization tab, and we should call out that RBAC support can be enabled or disabled (AZDS works with both now)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-07-03 17:48] YutongTie-MSFT commented on #11152
@madymantha Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@v-geberr Thank you for your quick action.

[2018-07-03 17:49] singhkays commented on #11148
@maxal1917 In ASM, cloud services is just a container. It can include deployments of Virtual Machines or Web Worker roles. Migration for cloud services containing VMs is supported. For Web Worker roles it's not. Hope that clarifies.

[2018-07-03 17:49] vasivara-MSFT commented on #11110
@daruizcorrea We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-03 17:49] #11110 closed

[2018-07-03 17:50] matt40k commented on #11027
Thanks! I was looking at the actually App Service Plan rather than on the App Service - DOH!!

[2018-07-03 17:51] YutongTie-MSFT commented on #11126
@Louicha @chrisp196
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-03 17:55] WiseOldHowell commented on #8462
@TomShinder, I had to completely remove any prior AzureRM.Resources versions EXCEPT v5.5.2 in order for the ADEPrereqScript to run successfully.

[2018-07-03 18:03] MohitGargMSFT commented on #11136
@waheedhussain Thanks for contacting. I see you have already closed this issue. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-07-03 18:04] YutongTie-MSFT commented on #11115
@omerzubair Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-03 18:06] MohitGargMSFT commented on #11124
@waheedhussain Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-03 18:10] WiseOldHowell commented on #10219
@TomShinder, The portal Azure Advisor provides great feedback to encrypt disks that were formerly created without encryption. We are then directed to this documentation... only to find an out-dated document that is not in alignment. This is highly frustrating.

It would be SUPER helpful if this document were updated to work with ISE or the portal CLI. Just something more than we have today and som

[2018-07-03 18:11] YutongTie-MSFT commented on #11122
@iainfoulds Thanks for your response, I have signed this issue to you.

@LoganZhao Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-03 18:12] YutongTie-MSFT commented on #11123
@ram-kakani Could you please more details about this issue so that we can help well? Thanks a lot!

[2018-07-03 18:14] daveba commented on #10855
@asos-dougbrandwilliamson After reviewing this with the engineering team, the limits for triggering the IMDS endpoint throttling varies at the moment.  There is an item in the coming sprints to lock these numbers down and publish them when available. I will request this issue to be closed at the moment as I've added a backlog item opened to update the docs when the limits are available.  #please-c

[2018-07-03 18:14] jason-j-MSFT commented on #11018
@juho-hanhimaki you can get the latest information on Log Analytics from the Azure Blog and Azure Roadmap:
https://azure.microsoft.com/en-us/blog/tag/log-analytics/
https://azure.microsoft.com/en-us/roadmap/?query=log+analytics

We are closing this issue for now, but if you have any specific feedback for changes to our documents, please let us know.

[2018-07-03 18:14] #11018 closed

[2018-07-03 18:14] YutongTie-MSFT commented on #11119
@vicperdana We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-03 18:14] #11119 closed

[2018-07-03 18:20] ghogen commented on #11158
working on this
https://github.com/MicrosoftDocs/azure-docs-pr/pull/45784

[2018-07-03 18:22] aaronwjha opened #11159 "Error creating AZDS controller"
I get the following error when trying to create the AZDS controller. Not sure how to troubleshoot this.

Failed to create Azure Dev Spaces Controller 'MyAKS' in resource group 'AzureDevSpaces' in subscription 'd942ee4d-6452-47ff-afa6-99635a311dd8'.
Please include the following Request ID when contacting support: 61f3f2a4-d622-49ff-bade-27b064aa7b80

---
#### Document Details

⚠ *Do not edit this s

[2018-07-03 18:24] jason-j-MSFT commented on #11120
@tlfzhylj could you provide a link to the documentation you are referring to?

[2018-07-03 18:29] ram-kakani commented on #11123
Let me connect with you offline.

[2018-07-03 18:33] SaurabhSharma-MSFT commented on #11076
@mhuebi No, Microsoft Authenticator  is not FIDO UAF compliant.

[2018-07-03 18:34] v-geberr commented on #11152
@madymantha Product team has asked that you please try your training again now.

[2018-07-03 18:35] MladjoA commented on #7226
@pekaar Calling remote UDF from a SELECT statement is generally not supported in Azure SQL Database, however its new flavor Azure SQL DB - Managed Instance does support three-part and four-part name syntax, just like on-premises SQL Server, so in Managed Instance you could execute something like 'SELECT DB_A.dbo.functionA' from the database DB_B on the same Managed Instance, or go step further and

[2018-07-03 18:39] jason-j-MSFT commented on #11129
@beerkatop closing this issue as there is no actionable information.  It looks like you were testing out some functionality, please open another issue on the document you have feedback for, and thanks!

[2018-07-03 18:39] #11129 closed

[2018-07-03 18:40] BryanTrach-MSFT commented on #11145
@tldrafael Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-03 18:40] jcdoba commented on #6422
There's a work around to make the connection to work as IKEv2 using dynamic using powershell on the Azure Side, changing the hashing and encryption it will depend on the Cisco ASA Version but it works.
https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-3rdparty-device-config-cisco-asa

[2018-07-03 18:41] arkiaconsulting commented on #11019
Actually, I'm sorry but I didn't capture the errors... The only thing that I remember is that i did get a 502 when navigating to my fqdn. And looking at the logs of the ingress controller, it was not able to find a route to a local IP.

[2018-07-03 18:43] Brenduns commented on #10841
#please-close

[2018-07-03 18:44] madymantha commented on #11152
Yes it works! Thanks for the quick action on this.

Best,
Mady

On Tue, Jul 3, 2018, 2:35 PM Dina Berry <notifications@github.com> wrote:

[2018-07-03 18:45] MohitGargMSFT commented on #11031
@as19444 We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-07-03 18:45] #11031 closed

[2018-07-03 18:45] #10841 closed

[2018-07-03 18:47] TravisCragg-MSFT commented on #10467
@dylanhughes We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-03 18:47] #10467 closed

[2018-07-03 18:47] TravisCragg-MSFT commented on #10593
@migrande We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-03 18:47] #10593 closed

[2018-07-03 18:48] v-geberr commented on #11152
@madymantha Wonderful. So glad that worked out. Closing this issue. Feel free to reopen it if you experience the issue again.

[2018-07-03 18:55] MohitGargMSFT commented on #11065
@waheedhussain You will not be able to access Azure Blob storage directly where database is automatically backed up for long retention. However, you can manually export database and store it in required Storage Account.

[2018-07-03 18:55] MattAllison opened #11160 "Recommended solution does not work with separation of duties requirements"
The script provided does not work with separation of duties requirements.

The solution should support the use case where the person creating the Service Principal, the person managing the Azure permissions and the person configuring the Azure Automation account may all be different people.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2018-07-03 18:55] MohitGargMSFT commented on #11088
@pmiddleton We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-07-03 18:55] #11088 closed

[2018-07-03 18:56] YutongTie-MSFT commented on #11131
@niida23
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-03 18:56] MohitGargMSFT commented on #11083
@Josverl We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-07-03 18:56] #11083 closed

[2018-07-03 18:57] mike-urnun-msft commented on #10989
Hi @sathishnb4u - Thank you for your question. Since this Github issue is a duplicate and doesn't address any specific content of this documentation, we will now proceed to close this thread. However, I will also be posting an answer to your question on Stackoverflow today.

[2018-07-03 18:57] #10989 closed

[2018-07-03 18:57] YutongTie-MSFT commented on #11141
@msimecek Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@PanosPeriorellis Hi, this is a doc-issue, can you please check it and update the document as necessary? Thanks a lot!

[2018-07-03 18:57] MattAllison commented on #11160
I'm an idiot and posted this to the wrong page.  Will close/re-open.

[2018-07-03 18:58] MattAllison opened #11161 "The script provided does not work with separation of duties requirements"
The script provided does not work with separation of duties requirements.

The solution should support the use case where the person creating the Service Principal, the person managing the Azure permissions and the person configuring the Azure Automation account may all be different people.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2018-07-03 18:59] TravisCragg-MSFT commented on #11157
@Supermathie You can find [information about different sizes of App Gateways Here](https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-faq#performance).

Also, please see this issue - #8825

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen

[2018-07-03 18:59] #11157 closed

[2018-07-03 19:01] TravisCragg-MSFT commented on #11151
@AzureStacker Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-03 19:11] Thraka commented on #11121
@jason-j-MSFT Please assign to @jpconnock

[2018-07-03 19:17] YutongTie-MSFT commented on #7684
@hjekman We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-03 19:17] #7684 closed

[2018-07-03 19:17] YutongTie-MSFT commented on #9553
@bradcstevens We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-03 19:17] #9553 closed

[2018-07-03 19:18] YutongTie-MSFT commented on #10044
@Ayanmullick We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-03 19:18] #10044 closed

[2018-07-03 19:19] YutongTie-MSFT commented on #10423
@pabloalmaleck We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-03 19:19] #10423 closed

[2018-07-03 19:20] YutongTie-MSFT commented on #10855
@asos-dougbrandwilliamson We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-03 19:20] #10855 closed

[2018-07-03 19:21] Ayanmullick commented on #10044
This is a Microsoft tool!

[2018-07-03 19:21] YutongTie-MSFT commented on #11080
@bb12489 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-03 19:21] #11080 closed

[2018-07-03 19:21] linda33wj commented on #10984
@BE-Digital-Solutions service principal auth is supported. As the doc called out, only MSI is not supported.

#please-close

[2018-07-03 19:21] YutongTie-MSFT commented on #11079
@alexandruCojan We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-03 19:21] #11079 closed

[2018-07-03 19:21] YutongTie-MSFT commented on #11062
@dcaddick We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-03 19:21] #11062 closed

[2018-07-03 19:22] YutongTie-MSFT commented on #11017
@juho-hanhimaki We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-03 19:22] #11017 closed

[2018-07-03 19:23] #9318 closed

[2018-07-03 19:30] MicahMcKittrick-MSFT commented on #10973
@jungho I am working offline to find an answer for you. I will update as soon as i have one.

[2018-07-03 19:31] MicahMcKittrick-MSFT commented on #11003
Thanks for that @jmill269

@kashimiz any other thoughts of things can try?

[2018-07-03 19:32] MicahMcKittrick-MSFT commented on #11019
Thanks @arkiaconsulting. No worries about the logs :)

Are you still seeing issues with this?

[2018-07-03 19:34] BryanTrach-MSFT commented on #9731
@CyanMass45 I would suggest you consider using CLI, which has a cmdlet to list all hostnames by resource group, web app, or other parameters.
`az webapp config hostname list --resource-group
                               --webapp-name
                               [--slot]`
Source: https://docs.microsoft.com/en-us/cli/azure/webapp/config/hostname?view=azure-cli-latest#az-webapp-config-hostname-l

[2018-07-03 19:34] #9731 closed

[2018-07-03 19:36] MohitGargMSFT commented on #11112
@LucianFrango Please note that as per the document Azure Traffic Manger helps to configure cross-geographic ADFS infrastructure by providing highly available ADFS infrastructure even when one of the data centers in a part of the globe goes down. However, in each Geo-region  VNET you have two nodes each for WAP, DC and ADFS servers balanced by their respective load balancers. This will allow high-a

[2018-07-03 19:37] aanandr commented on #10973
The acs-engine configuration file has separate subnet settings for Master and Agent and so you should be able to specify different subnets. But i havent tried setting it up this way.
With AKS you can only specify 1 subnet so you cannot put the two in different subnets

[2018-07-03 19:38] CyanMass45 commented on #9731
@BryanTrach-MSFT  But I do not want to list the host names. I want to add additional hostnames, without it removing existing hostnames. I do not see how your answer is even remotely related to my issue, let alone helpful.

[2018-07-03 19:38] MicahMcKittrick-MSFT commented on #11133
@seamusjunior I believe the alternative methods are all listed below under examples. For 1.x the bindings can be found under the link for Microsoft.Azure.Webjobs

@ggailey777 please correct me if I am wrong.

[2018-07-03 19:39] arkiaconsulting commented on #11019
No, the issue has gone when I deployed the ingress controller in another namespace, such as:
- ingress controller => ingress namespace
- ingress => my namespace
- deployment => my namespace
Maybe the documentation should advice creating the controller in another namespace than kube-system

[2018-07-03 19:39] MicahMcKittrick-MSFT commented on #11142
Thanks for this @ccrowhurstram. What are you looking to have updated in the doc? Although your script may we we already have multiple scripts used in this doc.

[2018-07-03 19:42] BryanTrach-MSFT commented on #9731
@CyanMass45 Your question goes beyond the intent of the article. We kindly request that you share your question on [MSDN Forums](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazurewebsitespreview) or [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-web-app-service).

[2018-07-03 19:42] MicahMcKittrick-MSFT commented on #11143
What we mean by rerunning the extension with an execution method of your choice is that after removing the extension you can apply it again the same way you did to begin with. That could be via PowerShell, CLI, ARM template, Portal.

The error you are getting above is because the remove operation has not successfully completed. You will need to wait for the extension remove to state it is complete

[2018-07-03 19:43] MicahMcKittrick-MSFT commented on #11144
Are you looking for something like this?

https://docs.microsoft.com/en-us/azure/azure-functions/functions-proxies

[2018-07-03 19:44] MicahMcKittrick-MSFT commented on #11019
@arkiaconsulting got it. Thanks for clarifying :)

@iainfoulds can you take a look to see if we should update this doc?

[2018-07-03 19:50] SaurabhSharma-MSFT commented on #10978
@massiveloop We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-03 19:50] #10978 closed

[2018-07-03 19:54] wnjenkin opened #11163 "CreateOrUpdate Snapshot REST API - No mention of how to specify that the disk is a managed disk"
This issue was created by @meetamitbhatia from MicrosoftDocs/feedback#273
The REST API documentation for creating disk snapshots can be found at https://docs.microsoft.com/en-us/rest/api/compute/snapshots/createorupdate. It makes no mention of how to specify that the disk is a managed disk.

[2018-07-03 19:55] wnjenkin commented on #11163
@Powerhelmsman transferred this issue

[2018-07-03 19:58] pyoungberg opened #11164 "No option for Cores"
In your last example you mention a Quota type of "Cores". This isn't available anymore. The only option is "Compute (cores,vCPU)".

No info on increasing Total Regional vCPUs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe04a05a-f753-ee1f-5171-fd2a81a030f9
* Version Independent ID: 1507a7ac-11cc-81a7-e932-9e8ef9644e

[2018-07-03 19:59] SaurabhSharma-MSFT commented on #11064
@rishtech sure.  I think so but i need to check that behavior. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-03 19:59] #11064 closed

[2018-07-03 19:59] ecfan commented on #9486
We've created a work item to track this request.

@mike-urnun-msft - Please close? Thanks!

[2018-07-03 20:02] ecfan commented on #9818
Thanks, we've created a work item to address this issue.

@mike-urnun-msft - Please close?

[2018-07-03 20:04] iainfoulds commented on #11019
@MicahMcKittrick-MSFT I can't replicate this behavior, I've ran through this doc a couple of times this week without issue. Can you replicate this behavior when following the doc and creating the ingress controller in the kube-system namespace?

[2018-07-03 20:04] hshokry commented on #11144
Hi
This describes how to do it in Azure portal.
I am want tutorial to build proxy functions in *Visual Studio*

On Tue 3 Jul 2018 at 20:43, Micah <notifications@github.com> wrote:

--
Hesham

[2018-07-03 20:05] MohitGargMSFT commented on #11124
@waheedhussain As of now there is no out of the box functionality related to alert/notification for LTR backups. However, you can use portal to view the latest backup. Also you can use powershell, as described in [this section](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-long-term-backup-retention-configure#view-ltr-backups) of the document, to view all LTR backups and create

[2018-07-03 20:19] femsulu commented on #11138
@mschulz531 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-07-03 20:20] femsulu commented on #11160
Closing as resolved by customer.

[2018-07-03 20:20] #11160 closed

[2018-07-03 20:21] veyalla commented on #11046
@thorpebt Are you running Raspbian-stretch on your Pi?

[2018-07-03 20:21] femsulu commented on #11161
@MattAllison Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-07-03 20:29] jason-j-MSFT commented on #11154
@akramwaseem
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-03 20:30] thorpebt commented on #11046
@veyalla Yes, it was jesse upgraded to stretch.

[2018-07-03 20:35] MicahMcKittrick-MSFT commented on #11144
Got it. I am not finding anything for Visual Studio as well. Everything seem to just go via the portal

https://blogs.msdn.microsoft.com/appserviceteam/2017/11/15/azure-functions-proxies-is-now-generally-available/

https://github.com/mattchenderson/azure-functions-proxies-intro

@ggailey777 any idea of we have info on this topic for Visual Studio?

[2018-07-03 20:40] MicahMcKittrick-MSFT commented on #11019
@iainfoulds I also could no repo it the other day.

@arkiaconsulting seeing as we cannot repo the issue I am assuming there was something else that was blocking you. Did you want to try an repo the issue again so we can take a look? Else we can just close this out.

[2018-07-03 20:43] veyalla commented on #11046
@thorpebt Since you upgraded to stretch, can you try:
[code]

Adding @darobs @damonbarry  for some suggestions if that doesn't work.

[2018-07-03 20:43] SaurabhSharma-MSFT commented on #10974
@matthias-scharl Are you configuring AD connect with ADFS sign-in method as the Update SSL Certificate option is available only for the ADFS sign-in method ?

[2018-07-03 20:44] TravisCragg-MSFT commented on #11077
@bingosummer It would be best to continue troubleshooting at the [Azure Stack MSDN Forums](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureStack&filter=alltypes&sort=lastpostdesc).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-03 20:44] #11077 closed

[2018-07-03 20:45] arkiaconsulting commented on #11019
@micahmckittrick-msft sure, I’ll try to reproduce

[2018-07-03 20:48] BryanTrach-MSFT commented on #11044
@ratchetwrench I checked internally and it does not appear that we are currently stating a product enhancement to include pipfile/pipfile.lock support at this time. Nor have we shared anything on the [Azure Roadmap](https://azure.microsoft.com/en-us/roadmap/).

I would kindly suggest you [file a feature request over at User Voice](https://feedback.azure.com/forums/169385-web-apps). The product gro

[2018-07-03 20:48] #11044 closed

[2018-07-03 20:59] thorpebt commented on #11046
Tried both, I'm not sure there's a repository available for Openssl 1.0.2 for Raspbian. It exists in the Jesse-backports for ARMv7, but not ARM6 for which Raspbian is compiled. [Source is a slightly dated stackexchange post: https://raspberrypi.stackexchange.com/questions/66782/how-to-install-openssl-1-0-2-on-raspberry-pi3/66788] I have yet to successfully build it on Raspbian-stretch.

[2018-07-03 21:00] matthias-scharl commented on #10974
Yes, we use the federated identity model (with password sync as a backup)

[2018-07-03 21:13] craigsmitham opened #11168 "Support setting cloud_roleName for availability testing"
We have different microservices that we test for availability. All other metrics are correlated by service using the cloud_roleName property. Can this be set for availability tests?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10858323-1827-1c73-b93a-7c133bae54ba
* Version Independent ID: 3ed5fda4-c916-dcb0-a3b2-a0bb

[2018-07-03 21:17] cynthn commented on #10910
@cwatson-cat @yashesvi

[2018-07-03 21:19] MicahMcKittrick-MSFT commented on #10910
Thanks @cynthn

@cwatson-cat, @yashesvi please correct or confirm any information here as needed :)

[2018-07-03 21:20] darobs commented on #11046
Hello @thorpebt,

If you are using the Raspbian stretch repository, there is a libssl1.0.2 package you can install.
I had thought that (by default) once you had done the `apt-get upgrade`, it would have installed libssl1.0.2 as a part of updating opensll1.0.  I have underestimated the annoyance of upgrading a distribution.

On my Pi (installed as a new system from Scratch),

[code]

So, you should

[2018-07-03 21:31] DaveDXC opened #11169 "Not to the Marketplace"
The Add-AzsPlatformImage command does not add anything to the Marketplace. It only adds the image to the gallery.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5641816f-4687-3719-0edf-27624c2c6103
* Version Independent ID: 377a2b99-f77b-b408-8ffd-05d7c7182e26
* Content: [Add and remove a VM image to Azure Stack](https

[2018-07-03 21:33] MohitGargMSFT commented on #11134
@menewol Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-03 21:43] mattbriggs commented on #11169
@DaveDXC. A marketplace item is also known as a gallery item in Azure and Azure Stack. Can you let me know more about the impact of your comment? An item added to the gallery would be accessible via the marketplace. #in-progress

[2018-07-03 21:55] DaveDXC commented on #11169
The issue is that running the Add-AzsPlatformImage command does not add the image to the MarketPlace. That requires a separate step using the MarketPlace toolkit and another command to add the item to the MarketPlace before it becomes available as an item in the MarketPlace.

Get Outlook for Android<https://aka.ms/ghei36>

From: Matt Briggs
Sent: Tuesday 3 July, 22:43
Subject: Re: [MicrosoftDocs/a

[2018-07-03 22:11] arturmiz commented on #10981
@TravisCragg-MSFT, confirmed works with all types except ZRS. At least I tried it in North Europe region.

[2018-07-03 22:29] SaurabhSharma-MSFT commented on #11125
@AdityaTulasi Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.
@lleonard-msft I am able to reproduce the same and key-vault is getting recovered when I am using --Resource-Group parameter.  Please can you update the sample.

[2018-07-03 22:36] #10984 closed

[2018-07-03 22:36] #11152 closed

[2018-07-03 22:41] mganeshphani commented on #10097
@femsulu its been 3 weeks.. any update on this? I am stuck on how to proceed with this

[2018-07-03 22:53] danieljsmarda opened #11171 "Warning: Your device is disconnected from this IoT Hub (Edge+Linux Quickstart w/ RPi)"
Hello,
I'm working through Edge+Linux Quickstart at [this link](https://docs.microsoft.com/en-us/azure/iot-edge/quickstart-linux). I'm using a Raspberry Pi 3 Model B running Raspbian Stretch. Since I'm using the Pi I followed the installation instructions at [this link ](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux-arm) with seemingly no issues.

In the Quickstart

[2018-07-03 22:57] danieljsmarda commented on #11171
Closing this issue because I accidentally connected it to the wrong article on the docs.microsoft.com website. Opening a new issue linked to the correct article.

[2018-07-03 22:57] #11171 closed

[2018-07-03 22:58] danieljsmarda opened #11172 "Warning: Your device is disconnected from this IoT Hub (Edge+Linux Quickstart w/ RPi)"
Hello,
I'm working through Edge+Linux Quickstart at [this link](https://docs.microsoft.com/en-us/azure/iot-edge/quickstart-linux). I'm using a Raspberry Pi 3 Model B running Raspbian Stretch. Since I'm using the Pi I followed the installation instructions at [this link ](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux-arm) with seemingly no issues.

In the Quickstart

[2018-07-03 23:16] mike-urnun-msft commented on #10930
Hey @asote - This appears to be related to the way `Azure CLI` parses variable values under the context of running shell scripts in CloudShell - hence the regex error from python. As such, could you open an issue on [Azure CLI repo](https://github.com/Azure/azure-cli)?

Moreover, since there isn't anything broken with the sample script on this documentation, we will now proceed to close this threa

[2018-07-03 23:16] #10930 closed

[2018-07-03 23:21] kobulloc-MSFT commented on #11168
@craigsmitham Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-07-03 23:29] jason-j-MSFT commented on #11159
@aaronwjha
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-03 23:30] rafats commented on #10956
Thanks for the suggestions, we will look into it. #please-close

[2018-07-03 23:32] SnehaGunda commented on #9971
@gtbee thanks for the feedback, we will work on adding an example for retrieving dates. WRT to your comment: "If I use conventional date/time, rather than ticks it works fine" do you see any bug in the existing doc?

[2018-07-03 23:44] johnkemnetz commented on #10097
@mganeshphani - Typically, a GUID means that it was an application or service principal that performed the option. The best way to do that lookup is to use the AAD powershell cmdlets, Get-AzureADObjectByObjectId <the-guid> . The reason is that sometimes it is a Service Principal, sometimes it is an Application. By using the command to get object ID, you cover both types.

[2018-07-03 23:46] jason-j-MSFT commented on #11163
@wnjenkin
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-03 23:51] johnkemnetz commented on #9554
Yes, if it is a create or update operation, the operation name will always end with */write.

[2018-07-03 23:54] johnkemnetz commented on #7151
No official ETA from that team yet. @femsulu , can we close this issue? The app service logs are not included because app services aren't yet onboarded to Azure Monitor. The article is specifically those services that are onboarded to Azure Monitor. App Services do offer some diagnostic logs via their own methods, but those are documented in the App Services documentation. This article **only** in

[2018-07-03 23:56] johnkemnetz commented on #9697
@mbedford78, none are directly consuming in syslog format. The Splunk Azure Function would be the best starting point for building something that can send syslog format.

[2018-07-03 23:56] johnkemnetz commented on #9697
@femsulu , can we close this as resolved now?

[2018-07-04 00:00] johnkemnetz commented on #11094
@gonzalofarias -- the webhook payload is intended to have only a subset of the event properties, not the full event on its own. This is by design. Activity Log alerts are intended to be notifications about an event in the activity log, not the full activity log event itself. You should use the event hub streaming option if you are trying to get full events streamed from the Activity Log.
@femsulu

[2018-07-04 00:01] PhantasmNZ commented on #9103
Is there any update on this one - i really want to deploy a solution into production but it really must have the train option so that it can get better as we go... completely confused as to why such an obvious and important part of any machine learning solution would be dropped at GA

[2018-07-04 00:08] mbedford78 commented on #9697
Ok sure

[2018-07-04 00:08] #9697 closed

[2018-07-04 00:11] femsulu commented on #7151
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-04 00:11] #7151 closed

[2018-07-04 00:14] omerzubair opened #11173 "Target the locations for ResourceGroup Seprately then the resources itself. Can we have all possible values for "field":"type"?"
Description:
========
I was able to sucessfully Target the ResourceGroup Location by following policy. However I wish to have seprate Policy to target the Resources and allow Resources outside Australia.
Therefore unable to view all possible values for "field":"type". and if i swap value to "equals": "Microsoft.Resources/subscriptions/resources" then it doesnt help.

Problem:
======
Can we have al

[2018-07-04 00:51] PhantasmNZ commented on #10147
Please can we get an update on this issue - it's a significant barrier to use and a big step down in functionality vs the prerelease versions

[2018-07-04 01:06] MGoedtel commented on #6537
@MicahMcKittrick-MSFT - the follow-on conversation isn't related to a specific issue with the article.  #please-close.

[2018-07-04 01:08] apercova commented on #7891
I have already installed Azure Functions Runtime and created some functions. I wonder why the HTTP trigger is not available when selecting a template.
For V1 functions I can choose between: Timer trigger, Queue trigger, Service Bus Queue trigger, Blob trigger, Event Hub trigger and SQL Queue trigger

For V2 Functions there are just three templates available: Timer trigger, Queue trigger and Blob t

[2018-07-04 01:13] apercova opened #11175 "Missing HTTP trigger on Azure Functions Runtime"
I have already installed Azure Functions Runtime and created some functions. I wonder why the HTTP trigger is not available when selecting a template.
For V1 functions I can choose between:
- Timer trigger
- Queue trigger
- Service Bus Queue trigger
- Blob trigger
- Event Hub trigger
- SQL Queue trigger

For V2 Functions there are just three templates available:
- Timer trigger
- Queue trigger
- B

[2018-07-04 01:22] arsenvlad opened #11176 "Misspelling in sentence "In order to make the* available, create a Kubernetes ingress resource.""
In sentence "In order to make the* available, create a Kubernetes ingress resource.", "the" should be "them"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada58160-dc50-b977-d3bc-65f92406e16d
* Version Independent ID: 5c596e04-fddb-effe-3b72-575f4df42d4e
* Content: [Configure ingress with Azure Kubernetes Service (AKS

[2018-07-04 01:30] BryanTrach-MSFT commented on #9808
@msivers We will now proceed to close the thread. Please let us know if you have any further questions or concerns. Thank you for the heads up.

[2018-07-04 01:30] #9808 closed

[2018-07-04 01:38] MicahMcKittrick-MSFT commented on #11164
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-04 01:39] gtbee commented on #9971
The snippets I've used seem fine as long as I stick to storing that type as a datetime.

As for retrieval I ended up writing a custom converter class that is injected into my Cosmos db client handler object to handle all the conversions from a specific Document into a strongly-typed C# class. It was better to encapsulate this logic in one place to deal with any peculiarities in converting a Cosmos

[2018-07-04 01:39] MicahMcKittrick-MSFT commented on #11173
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-04 01:39] MicahMcKittrick-MSFT commented on #11171
Thanks for the update @danieljsmarda. Will be on the lookout for that other issue.

[2018-07-04 01:40] MicahMcKittrick-MSFT commented on #11146
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-04 01:41] MicahMcKittrick-MSFT commented on #11150
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-04 01:41] MicahMcKittrick-MSFT commented on #11156
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-04 01:41] #10112 closed

[2018-07-04 01:42] MicahMcKittrick-MSFT commented on #11172
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-04 01:43] #10956 closed

[2018-07-04 01:45] #6537 closed

[2018-07-04 01:50] BryanTrach-MSFT commented on #10001
@wploevyaya2018 We are now suggesting users to apply the 1804 update before using the 1.2 app service. Can you please install the latest update and try this process again?

Also, what extension are you trying to install?

[2018-07-04 01:53] parsoFish opened #11177 "Differentiate by redirect_uri"
We are in a situation where we have several sites which all use the same policy and user journey for the login experience. We want a way to differentiate between sites in the logs which we collect and have theorised that the redirect_uri may be a way to do so. However we are encountering issues including this as a claim. We have tried adding the following to the input claims for the azureinsights-

[2018-07-04 01:58] dcbrown16 opened #11178 "Make the columns the same for all tables"
It's strange that "Max data disks / throughput: IOPS" is listed as one column to the right for Av2 while "Max data disks" is a separate column in every other table. Also, the common columns should be arranged in the same order for ease of comparison/understanding.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9bb1d37c

[2018-07-04 02:02] MicahMcKittrick-MSFT commented on #11176
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-04 02:02] MicahMcKittrick-MSFT commented on #11175
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-04 02:12] #10264 closed

[2018-07-04 02:15] BryanTrach-MSFT commented on #10869
@cephalin Can you please review this feedback when you get a chance? This is the same issue discussed in #11021.

[2018-07-04 03:07] dbrankin opened #11179 "Error in 'Azure AD token' example connection string"
connection.AccessToken = "Your JWT token"
should be:
conn.AccessToken = "Your JWT token";

I would suggest a better example to be:
string connectionString =@"Data Source=[yourServer].database.windows.net; Initial Catalog=[yourDatabase];"
            using (SqlConnection conn = new SqlConnection(connectionString))
            {
                conn.AccessToken = [YourAccessToken];
                u

[2018-07-04 03:08] BryanTrach-MSFT commented on #10317
@malovicn Thank you for the heads up. We have gone ahead and made an update to the doc to remove this reference. The change should be public within 24 hours.

[2018-07-04 03:09] #10317 closed

[2018-07-04 03:13] dbrankin commented on #11179
Whoops, cut & paste error removing my connection string and substituting yours. There should be a "conn.Open();" line after the "conn.AccessToken = ..." line.

[2018-07-04 03:23] omerzubair opened #11181 "Policy Compliance section in blade incorrect"
I applied a simple policy i.e to limit resources by location (see below).

Observations:
=========
1. After assigning policy to my subscription. I found a lag, from the time I assigned policy and time it came into ful effect. Couldnt figure out exactly how may minutes we should wait before the policy will be in full swing? I think it may be couple of minutes lag. Would like to know how much wait s

[2018-07-04 03:37] appalaraju commented on #9318
Hi Bryan,

i was able to scale back to different app service plan but problem is if web job is pointing to the session enabled topic-subscription then while changing app service plan, web is not able to receive messages.

[2018-07-04 04:03] johnneycao opened #11182 "The table above is too old, 4 month back, and need to update."
We have CN2/CE2 GA last month, couple of new VM SKUs and services landed in China, e.g. Dv3, Ev3, B series VM, Azure Advisor, Azure Functions, IoT Suite Remote Monitoring solution, Azure Analysis. Can you please update the data above.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddec58f7-e882-4f3d-8c31-500565e81d4a
*

[2018-07-04 04:40] smcd253 commented on #11046
FIXED IT!

I was running Docker CE and, given the instructions, thought it'd be fine to skip on the Moby-based engine for now. Turns out this was not the case.

I completely re-flashed my device and installed the moby-based container and now it all works great!

[2018-07-04 05:14] sonumalik1990 opened #11183 "latency in syncing Azure sql Db with Azure search"
Can any one please help me in syncing azure search with Azure sql db.

I have done this using SQL Integrated Change Tracking Policy, but it updates the azure search in some time for ex 3 to 4 minutes.

In my scenario, I have to update Azure search asap(without manual running of indexer).

Is it possible to update automatically in few seconds, if yes then how??

---
#### Document Details

⚠ *Do not

[2018-07-04 05:54] mukund1980 opened #11184 "Azure CLI command issue"
I see there are two CLI commands mentioned in this article for pool creation az batch pool create –-json-file AppPool.json and az batch pool create --template pool-ffmpeg.json but if I am not wrong --template argument does not work with Azure CLI 2.0 moreover when I use template file it expects values for all parameters mentioned in the file itself. Please suggest if this is correct behavior if no

[2018-07-04 06:30] ravindrakc opened #11185 "Support for Raspberry Pi ARM processor"
Does the IoT Edge GA version support the Machine Learning module on Raspberry Pi 3 ARM processors?
The preview version did not support ARM processors.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce5efb43-af55-95ea-cc6f-9597ace9b1b8
* Version Independent ID: 94f8eff2-fc0d-af3c-5b41-944665674cfc
* Content: [Deploy Azu

[2018-07-04 06:31] msvijayn commented on #9947
URL is: https://docs.microsoft.com/en-us/azure/monitoring/monitoring-solutions-resources-searches-alerts#azure-action-group
<br>

1. As documented - ID of the Azure action group (AzNsNotification) is a required field.
2. Same/Existing ActionGroup can be associated with any number of alerts (of any type).

[2018-07-04 06:40] brjohnstmsft commented on #11183
@sonumalik1990 This GitHub repo is for issues specific to the content on `docs.microsoft.com`. For Azure Search support questions, you should use one of two forums:
  1. [Stack Overflow](https://stackoverflow.com) -- Please tag any questions you ask here with "azure-search" so our engineering team will be automatically notified of your question.
  1. [MSDN forums](https://social.msdn.microsoft.com

[2018-07-04 06:43] shinojgk commented on #11130
Thanks @sergaz-msft and @sethmanheim . Appreciate the quick response from you.

[2018-07-04 07:20] DaveDXC commented on #11169
Thanks @mattbriggs

[2018-07-04 07:38] msvijayn commented on #10871
@akramwaseem Yes, its the same in the parameter file/section. The document is a sample, you can use it in our template as required.
<br>
For more details on the format/usage of Azure Resource Templates - see: https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-authoring-templates
<br>
As documented, all actions like email & webhooks are in Action Group associated with an a

[2018-07-04 07:40] ccrowhurstram commented on #11142
The instructions say “And that’s it! Now RDP into the VM, open Computer Management (or Disk Management) and expand the drive using the newly allocated space.”

But if you are using windows server core you don’t have a GUI to perform this expansion. The script I submitted can/should be added as an alternative to using the GUI.

From: Micah [mailto:notifications@github.com]
Sent: 03 July 2018 20:40

[2018-07-04 07:46] akramwaseem commented on #10871
Can I pass multiple action group's , I tried but seems like template picks up only one groupid not both

[2018-07-04 07:54] admars32 commented on #8462
I'm currently at the stage where when I've done the Power Sheel, it looks to have completed successfully, it says it's encrypted the disk, but hasn't actually done it when I look in Azure :(
thanks, I'll try that suggestion above, having tried most of the things suggested by various people. It is a shame that these instructions are given, but don't work, I need to do this as part of our GDPR compl

[2018-07-04 08:35] roni2040 commented on #11056
Hi,
i have the same error : "We're sorry, the page you requested cannot be found".
can you please add the working link here ?

[2018-07-04 08:52] sergaz-msft commented on #11046
@smcd253 glad that you finally made it through :)!

I understand that the walkthrough leads to that assumption (no need to have Moby-based engine on non-production environments). @kgremban can we add a note on the document that in some scenarios Moby-based engine needs to be installed? @veyalla if you believe that is not the case let us know.

@CIPop thank you for helping here :).

@thorpebt I am

[2018-07-04 08:52] martinoss opened #11186 "Add console output as comments"
It would be nice to see the console outputs as comments, so I can get a better idea how the outcome could be without setting up everything.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f57e416-a37f-e719-4a3e-58a4e6390818
* Version Independent ID: dbb3821b-5793-b41b-9601-559b00e4096a
* Content: [C# Quickstart for Azu

[2018-07-04 09:02] SarithaMaran commented on #11135
Getting error:
[code]

[2018-07-04 09:03] waheedhussain commented on #11065
ok thanks

[2018-07-04 09:03] #11065 closed

[2018-07-04 09:06] sergaz-msft commented on #11185
@ravindrakc  Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-04 09:11] chasedai opened #11187 "Get exception when try to read tweets from EventHub"
I was following the tutorial and I got this exception when I ran the Scala code in Read tweets from the event hub:
org.apache.spark.sql.streaming.StreamingQueryException: Query [id = 6691c5ee-c663-4a06-8568-04e600fa2acb, runId = 9d3898f3-2115-4a80-8ac2-52ac76eee8b8] terminated with exception: null
I can see that many messages have been sent to the event hub in the EventHub portal.

---
#### Docume

[2018-07-04 09:23] seamusjunior commented on #11133
I think the examples below are v1.x.   If there are any 2.0 examples then then i think these should be in a separate post as, in this case, 1.x and 2.x.   are totally different.  1.x has a native binding and 2.0 doesn't.

Also how do I specify which notification hub settings.  The configuration part of the document state to uses the NotificationHub attribute, but 2.0 wont have this.

Maybe could y

[2018-07-04 09:24] djhmateer commented on #10422
Thanks @BryanTrach-MSFT for looking into it. I've posted the proposal in https://feedback.azure.com/forums/169385-web-apps under 'Faster Disks for Web App for Containers'

[2018-07-04 09:26] mailgut opened #11188 "link "modern authentication" does not work"
link "modern authentication" does not work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c535414b-05a2-d4b5-8f15-5c93274d25ef
* Version Independent ID: 0bef709f-d10f-5fe6-68a8-f21d0204ecd5
* Content: [Azure AD Connect: Pass-through Authentication - Current limitations](https://docs.microsoft.com/en-us/azure/active-dir

[2018-07-04 09:33] andreymir opened #11189 "Cache Latency metric not described"
There is _Cache Latency_ metric for _Azure Redis Cache_, and it is not documented. How the latency measured?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: feec9864-bd32-bd82-f026-5e0c1b1fcd7b
* Version Independent ID: 43c5c2cc-b693-b86f-63ef-d478e9c1b383
* Content: [How to monitor Azure Redis Cache](https://docs.micro

[2018-07-04 09:43] mikaelroos opened #11190 "Query MongoDB and utilize indexes on ISODate columns"
When trying to query MongoDB collections using SELECT * FROM MyTable WHERE MyIndexedISODateColumn &gt; '20180703' this executes as a full scan in MongoDB. My best guess is that it is doing the comparison on mixed data types. So both looking for dates and string values larger than 20180703. Same thing happens if I try to pass a date using ODBC query hints to be sure to pass a date.
Other ODBC drive

[2018-07-04 10:17] titoniubo opened #11191 "Access denied"
Hello,

I am following instructions above to connect puTTy to Microsfot Azure (SSH), however I keep getting the same message:

- Server refuses our key

Then I type in my password and I get:

Access denied

I have already restarted the computer, deleted and re-installed puTTy....

I guess the only part on this explanation I did not do is "Provide SSH public key when deploying a VM", as I do not kn

[2018-07-04 10:20] msvijayn commented on #10871
@akramwaseem , I am able to deploy template  for log alert with multiple action groups, without issues. If you have persisting problems, the right forum would be [Azure Support](https://azure.microsoft.com/en-us/support/options/)

[2018-07-04 10:29] TymWongPSNinja commented on #11112
I'd second this request, as far as I can see unlike the WAP interface there is no way to achieve full HA for the internal endpoint across regions. The internal endpoint typically sees more traffic than external with network connected clients and SSO. I considered using traffic manager on the internal endpoint but both from a networking and security perspective am not comfortable with this.

[2018-07-04 10:55] Rain-Runner opened #11192 "MS applications"
Hello,
as this is known information, that ACS will be retired, what about new version for MS apps, which uses ACS atm. Like Microsoft Dynamics AX Connector for Mobile Applications with Azure Service Bus? We have a couple of customers using this solution for Workflow approvals via Email and now we have enabled SBs via Azure by Azure Support Team. Will be also some solution for this? To be more spec

[2018-07-04 11:04] andrewatfornax commented on #9028
Hi @rayne-wiselman.

So, to (hopefully) clarify:

Yes, there is a Storage Account resource in the *source* resource group. That's expected - I created it myself, to avoid having a randomly generated resource name, and specified the name of that Storage Account when I was setting up my Azure Site Recovery.

However, it is the randomly named Storage Account that is created in the *target* resource g

[2018-07-04 11:09] matthias-scharl commented on #10799
@SaurabhSharma-MSFT I am running into the same error:
"Register-AzureADPasswordProtectionForest : EncryptBufferNcrypt() failed with hr=2147500037"
Registering the proxy via "Register-AzureADPasswordProtectionProxy" did complete without an error.
forest / domain W2K8R2. The proxy is running on W2K12R2. Please advice.

[2018-07-04 11:18] ampac28 opened #11194 "Can we use X.509 instead of TPM"
[Enter feedback here]

1)	We are having some questions on Zero touch provisioning for Edge SDK, will DPS work at Gateway level or it can go all the way till leaf nodes. Hope we can still use X.509 certificates instead of TPM.
2)	We would need more information/links on creating modules of Python and C language in Gateway, We have already worked with .Net modules.

---
#### Document Details

⚠ *Do n

[2018-07-04 11:21] bakerm00 opened #11195 "Call out how this doesn't align with Cloud Application Administrator Role"
the new cloud application administrator role effectively becomes ineffective with the permission requirements outlined in this document.   call it out clearly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11a39d87-a57c-ef0b-eb9f-286d3ee65141
* Version Independent ID: a1257f6d-fa84-8470-8ad8-f63d0dcbca20
* Content: [C

[2018-07-04 11:31] ampac28 opened #11196 "Can't we use Visual Studio 2015 or 2017 to write modules in C#"
[Enter feedback here]
I saw most of the articles prefers VS code to develop module by installing IoT Edge Module Extension. Can't we achieve the same using Visual Studio 2015 or 17 . If yes then how can we perform the same. Please suggest.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c7aa1ca-7807-7b0e-6ddb-887106288

[2018-07-04 11:40] msvijayn commented on #10871
#please-close

[2018-07-04 11:42] manisko opened #11197 "How to publish artifacts (schemas, maps...) into Integration account from Visual Studio or VSTS ?"
Maybe project in Visual Studio created using Microsoft Azure Logic Apps Enterprise Integration Tools for Visual Studio 2015 2.0 should have Publish button ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42fc9dfa-fedf-01d9-1d60-6819d03a4c91
* Version Independent ID: 06cc4136-19d4-9786-708b-80699c259c2f
* Content: [Ente

[2018-07-04 11:54] aleonard763 opened #11198 "x86 version?"
Although previous downloads were labeled "64-bit" they were compatible with x86 systems. the latest version is not. Are there plans to release an x86-compatible version of v8.0.0?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1141c265-4aea-c6be-4d61-3566fe8474b8
* Version Independent ID: 3cb0f2ba-cf8b-7fdd-414b-b8d95d

[2018-07-04 12:42] rogereriksen commented on #10957
Trying to write an expression to get AppRoleAssignment value/type/displayname. Default attribute mapping for approleassignment gives a pretty long XML.  Do you have any examples?

[2018-07-04 12:56] rogereriksen opened #11200 "Examples for AppRoleAssignment"
Need an expression to get value/displayname/type for AppRoleAssignment.  Using Direct mapping on AppRoleAssignment I get a long XML string. Could you provide an example to get the value as a string or number?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8685339-06af-5bb1-64da-80c16878b0bf
* Version Independent ID: 1

[2018-07-04 13:01] GauravWable commented on #8121
setting up oauth2AllowImplicitFlow in the Application Manifest to true WORKED !! Thanks

[2018-07-04 13:10] devjourney opened #11202 "Misspelling"
In the Next Steps section, the bullet point "Rand the Emulator on Docker for Windows" should be "Ran the Emulator on Docker for Windows" instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 109ed3f8-faf1-92b9-bf50-4be52e9099d4
* Version Independent ID: ebc5326a-46da-6bc1-1f47-01a8e16d11fb
* Content: [Develop locally

[2018-07-04 13:56] gonzalofarias opened #11203 "Webhook Schema for new Activity Log Alerts"
Is there documentation about the json payload schema for the new Activity Log alerts?

The only documentation I could find was this one, but it seems it belongs to the classic alerts: https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-activity-log-alerts-webhook

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2018-07-04 14:30] sergaz-msft commented on #11196
@ampac28 thank you for your feedback.

In accordance with [this doc](https://docs.microsoft.com/en-us/azure/iot-edge/module-development) as long as you use the [Azure IoT Device SDK ](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-sdks) and package your application as a Docker image you can use any IDE you would like.

[2018-07-04 14:59] LNieuwmegen opened #11204 "Curious how it works behind the scenes"
Foremost, super welcome new functionality! Thanks!

Out of curiosity: Are there any insights on how this is achieved? Specifically, how are components (residing in different AI resources, with different instrumentation keys) correlated? Do newer AI SDKs send along operation ids (in headers?) such that they are consistent between different AI resources? Furthermore is there any control on sampling

[2018-07-04 15:02] veyalla commented on #11046
I don't believe this is a Moby vs Docker issue. I think the system got into some bad state because of all the different things we tried. We can close for now and can re-visit if there are more reports of Docker not working.

[2018-07-04 15:20] TomHickling opened #11205 "Supported VM instances"
"Accelerated Networking is supported on most general purpose and compute-optimized instance sizes with 2 or more vCPUs." The portal only enables the Accelerated Networking options for VMs with a minimum of 4 vCpus

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4be8e45-460a-fab4-519b-32d83382005c
* Version Independent

[2018-07-04 15:20] MicahMcKittrick-MSFT commented on #11178
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-04 15:21] MicahMcKittrick-MSFT commented on #11184
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-04 15:22] MicahMcKittrick-MSFT commented on #11191
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-04 15:22] pauloortins commented on #9808
Is my PR going to be accepted?

[2018-07-04 15:22] sergaz-msft commented on #11046
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-04 15:22] #11046 closed

[2018-07-04 15:28] MicahMcKittrick-MSFT commented on #11179
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-04 15:29] MicahMcKittrick-MSFT commented on #11189
Thanks for the question! We are investigating and will update you shortly.

[2018-07-04 15:30] MicahMcKittrick-MSFT commented on #11202
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-04 15:30] MicahMcKittrick-MSFT commented on #11182
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-04 15:31] MicahMcKittrick-MSFT commented on #11177
Thanks for the question! We are investigating and will update you shortly.

[2018-07-04 15:32] MicahMcKittrick-MSFT commented on #11188
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-04 15:32] MicahMcKittrick-MSFT commented on #11192
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-04 15:32] jpchauhan opened #11206 "Name of subscription should be blurry"
Name of subscription should be blurry in few of above screen shots of blades.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ccf20f6-c70a-8372-5764-534fea16e7f4
* Version Independent ID: 40eeda07-3d7a-b064-3d10-0c9a1f1f2d72
* Content: [Use Azure portal to get started with Data Lake Storage Gen1](https://docs.microsoft

[2018-07-04 15:33] MicahMcKittrick-MSFT commented on #11195
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-04 15:33] MicahMcKittrick-MSFT commented on #11200
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-04 15:33] MicahMcKittrick-MSFT commented on #11198
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-04 15:35] MicahMcKittrick-MSFT commented on #11197
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-04 15:38] MicahMcKittrick-MSFT commented on #11142
Ah okay got it. I will assign to the author to see where we should update the doc.

@kirpasingh can you take a look?

[2018-07-04 15:51] sergaz-msft commented on #11146
@HowardEdidin [on this doc](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-csharp-module) where you opened the issue at, there is no such command "dotnet restore".

Can you provide more details on the issue you are facing?

Thank you!

[2018-07-04 15:57] sergaz-msft commented on #11150
@initmahesh thank you so much for pointing this out. I have submitted a PR and the fix will go live shortly.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-04 16:02] sergaz-msft commented on #11172
@danieljsmarda you can find here some [Common issues and resolutions for Azure IoT Edge](https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot).

Let us know what you found out after following the troubleshooting steps and paste here the relevant logs. We will be happy to help.

Thank you!

[2018-07-04 16:11] MicahMcKittrick-MSFT commented on #10910
I will close this out but if you feel you need more information please just let me know.

[2018-07-04 16:11] #10910 closed

[2018-07-04 16:12] MicahMcKittrick-MSFT commented on #10973
Thanks @aanandr!

@jungho I will close this for now. If you have additional questions just let us know and we can reopen and continue.

[2018-07-04 16:12] #10973 closed

[2018-07-04 16:13] MicahMcKittrick-MSFT commented on #10998
@cryptobeat any update?

[2018-07-04 16:13] #11150 closed

[2018-07-04 16:15] arsenvlad opened #11208 "Not clear what is the difference between agent version 06072018 and higher vs lower"
These two sections in the doc look too similar, so maybe good to highlight specific difference to expect between versions:

06072018 and higher

https://docs.microsoft.com/en-us/azure/monitoring/monitoring-container-health?toc=%2Fen-us%2Fazure%2Faks%2Ftoc.json&bc=%2Fen-us%2Fazure%2Fbread%2Ftoc.json#agent-version-06072018-and-higher

earlier than 06072018

https://docs.microsoft.com/en-us/azure/mon

[2018-07-04 16:18] MicahMcKittrick-MSFT commented on #11164
@ganganarayanan can you take a look at this? Looks like the doc will need some screenshot updates as well.

[2018-07-04 16:21] MicahMcKittrick-MSFT commented on #11175
@apercova I am seeing the HTTP trigger in V2 when checking my Visual Studio:

![image](https://user-images.githubusercontent.com/32313503/42287514-7bf744b4-7f6b-11e8-97b7-cc12546f6508.png)

Can you make sure your visual studio and functions SDK is up to date?

[2018-07-04 16:22] MicahMcKittrick-MSFT commented on #11176
@arsenvlad thanks for the find! I have corrected the doc. Once the changes merge this issue will close and the changes will be live in a few hours.

[2018-07-04 16:40] sennendoko opened #11210 "Typos"
"nvdia-smi" should read "nvidia-smi". Also, "import Chainer" should be "import chainer" (and all "import X" phrases on the page should really be in tty font).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f322439a-d89a-201a-2581-d4d794ea694d
* Version Independent ID: 20b98ef0-2396-86bb-bec1-87fa99502ef1
* Content: [De

[2018-07-04 16:54] rajeshvijayarajan commented on #11135
Please try 'pip install --user cookiecutter'

[2018-07-04 17:11] jason-j-MSFT commented on #11204
@LNieuwmegen
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-04 17:12] jason-j-MSFT commented on #11205
@TomHickling
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-04 17:13] jason-j-MSFT commented on #11206
@jpchauhan
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-04 17:14] jason-j-MSFT commented on #11208
@arsenvlad
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-04 17:16] jason-j-MSFT commented on #11210
@gopitk
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-04 17:17] m1nkeh opened #11212 "Pointer Clarification"
I guess this is more of a question than feedback, but at which point does the pointer get moved along / check pointer... i am working on the assumption that it is carried out when the events are read from the hub, but what if there is an error whilst doing *something* with that event? We are currently using Azure Functions w/ Event Hub triggers, how should this be dealt with?

---
#### Document De

[2018-07-04 17:30] kunalwadhwa commented on #10651
Is there a way to store the output of the Get Metadata activity into a file in ADLS or BLOB? OR It can only be used as activity output? Also, there is no way we can have a recursive search and get the metadata of the files under a folder.

[2018-07-04 17:57] ernestochaves commented on #8536
also, where do we get WindowsAzure.Messaging; from? Is it a nuget package?

[2018-07-04 18:11] stevep4 opened #11214 "Require Hybrid Azure AD joined devices - Win 10 Only?"
Hi,

Under the "Require Hybrid Azure AD joined devices" section it says "This setting only applies to Windows 10 devices that are joined to an on-premises AD".

Could you confirm if Win 7 devices are also covered, assuming they're joined OK to AAD with the Microsoft Workplace Join client?

Many thanks,

Steve

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2018-07-04 18:11] mossywell opened #11215 "Typo"
"which represents an Azure file share and one or server endpoints" --&gt; "which represents an Azure file share and one or more server endpoints"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61bb35a5-e2f3-1ce8-1d6e-a926374de6c8
* Version Independent ID: e4b3065a-5351-26ef-cdbb-ef2eaea3f301
* Content: [Deploy Azure Fi

[2018-07-04 18:20] Philippe-Morin opened #11216 "Add an example using the more powerful New-AzureRmVmConfig cmdlet"
More specifically, for people that were deploying using unmanaged VHD, there doesn't seem to be any documentation anywhere that mentions to use the Set-AzureRmVmSourceImage like the following example:

$vmConfig = Set-AzureRmVMSourceImage -vm $vmConfig -id $sourceimage.Id
$vmConfig = Set-AzureRmVMOSDisk -vm $vmConfig -Name $diskName -StorageAccountType Standard_LRS -DiskSizeInGB 128 -CreateOption

[2018-07-04 18:29] varshithr commented on #6985
Due to some other issue, I had removed Azure ML Workbench application on my mac running High Sierra and when I try to re-install , it fails.

**Steps to reproduce:**
Once I initiate the installation,  it shows initialising installation and quickly says installation completed. But there's no application when I click on "Launch WorkBench". Just the launch window disappears.

Any suggestions as to wh

[2018-07-04 19:17] omartin2010 opened #11217 "wrong title?"
is the title of this article correct? Seems to refer to diagnostics but the content talks about Azure Backup...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ce3e6c0-50eb-5ebc-c8a5-2c0033e20a44
* Version Independent ID: ae9fdce7-3d6f-0b9f-f649-6a2d4f1427b0
* Content: [VM Snapshot Linux extension for Azure Backup](htt

[2018-07-04 19:40] arkiaconsulting commented on #11019
Sorry to have disturbed... I cannot reproduce. I successfully run my application with the ingress controller deployed in the kube-system namespace. The case can be closed

[2018-07-04 19:42] arkiaconsulting commented on #11022
FYI, I successfully run the command as shown in the doc in my 1.10.3 cluster.

[2018-07-04 19:45] titoniubo commented on #11191
Hi Micah, thanks. I look forward to receiving your response. Sincerely, Josep Maria

[2018-07-04 20:15] sdwheeler commented on #11142
@MicahMcKittrick-MSFT That script, while accurate, has a lot of assumptions. The Storage module has to be installed on the system, the commands must be run from an elevated session, and there may be differences across versions of Windows. This is also assuming that the OS of the VM is Windows. The article never really states that. I would suggest linking out to other articles that talk about how t

[2018-07-04 21:04] femsulu commented on #11217
@omartin2010 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-07-04 21:18] finchl commented on #11091
Any update?  This issue appears to error 1920 service failed to start.

I've tried multiple different servers.  Tried 2012r2 and server 2016.

Tried making sure the accounts I used has Logon as a service right.

Out of ideas now

[2018-07-04 21:19] soniaang opened #11218 "ation does NOT take into consideration system etc."
forgot NOT word

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61c5b42a-028e-3b4f-d2de-2f3c1d2570d3
* Version Independent ID: 367bb5fd-dd4c-1719-81fa-190e066cb57f
* Content: [How to teach with Conversation Learner - Microsoft Cognitive Services - Azure](https://docs.microsoft.com/en-us/azure/cognitive-services/labs/con

[2018-07-04 21:36] marcelvandendungen opened #11219 "Bearer tokens in optional Secret Token field"
Point 7 under 'To connect an application that supports SCIM' says 'If the SCIM endpoint requires an OAuth bearer token from an issuer other than Azure AD, then copy the required OAuth bearer token into the optional Secret Token field.'

Bearer tokens typically have an expiration date/time. How is this token supposed to be refreshed? Or is this not meant for expiring tokens at all? Should this only

[2018-07-04 22:11] dramos1138 commented on #8536
Yes, the WindowsAzure.Messaging package give me an error:
El paquete WindowsAzure.Messaging 0.1.7.4 no es compatible con monoandroid80 (MonoAndroid,Version=v8.0). El paquete WindowsAzure.Messaging 0.1.7.4 admite: win8 (Windows,Version=v8.0)				0	0	IntelliSense

[2018-07-05 00:11] jrhoward opened #11222 "per namespace network policies"
Can I configure per namespace network policies with advance networking?. I know I can use technologies such as Istio to provide a layer of security but I am looking for something more simple to secure per namespace networking restrictions.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22ad4873-c73d-4b90-2063-92

[2018-07-05 00:19] Suil3File opened #11223 "Good"
Amazing app

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3452c464-0135-aaab-5e96-a88f3144e378
* Version Independent ID: 3816f475-bf5f-b5b4-9458-5cc70e93d55e
* Content: [Supported languages in the Microsoft Translator API](https://docs.microsoft.com/en-us/azure/cognitive-services/translator/languages)
* Content Source

[2018-07-05 00:28] jason-j-MSFT commented on #11215
@mossywell
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-05 00:31] jason-j-MSFT commented on #11218
@soniaang
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-05 00:33] jason-j-MSFT commented on #11219
@marcelvandendung
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-05 00:35] jason-j-MSFT commented on #11223
@Suil3File thanks for the feedback, we really appreciate it!

[2018-07-05 00:35] #11223 closed

[2018-07-05 00:36] jason-j-MSFT commented on #11222
@jrhoward
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-05 00:43] atfernando opened #11224 "Seamless SSO with ADFS"
Can someone please explain what does the purple banner that says "Seamless SSO is not applicable to Active Directory Federation Services (ADFS)." mean?
What path should I take to allow users to login automatically to sharepoint, office365 and etc?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e1db2d3-8e7d-0c60-f5c5-8

[2018-07-05 01:14] dazinator commented on #10172
I am also hitting this issue on windows 10:

[2018-07-05 01:50] MohitGargMSFT commented on #11224
@atfernando Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-05 02:28] ericbrunner opened #11225 "Priority Failover takes 5-10 minutes"
Hi
Recently I configured 2 Api Apps in different datacenters. Now when I stop the primary one with order=1 I expected an immedite failover to the secondary with order=2. But I get a 403 response for 5-10minutes until the traffic is routed to the secondary. So what can be done to get rhe failover much quicker?
Thanks
Eric

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2018-07-05 02:32] dcbrown16 opened #11226 "Update link from classic to ARM doc"
"See the Configure routing..." this link under "Dynamic route exchange" points to the classic article and should probably be updated.

Current link:
https://docs.microsoft.com/en-us/azure/expressroute/expressroute-howto-routing-classic
Correct link (assuming Portal):
https://docs.microsoft.com/en-us/azure/expressroute/how-to-routefilter-portal

---
#### Document Details

⚠ *Do not edit this sectio

[2018-07-05 03:18] SaurabhSharma-MSFT commented on #10974
@matthias-scharl I have got an update from our product team and this issue has been identified as a bug. Our product team is working towards making this fix available in next release of AD Connect. Thanks for bringing this out to our attention.

[2018-07-05 04:01] cynthn commented on #11216
@Philippe-Morin I think what you are looking for might be this topic: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sa-copy-generalized which is for creating an "old" non-managed image and then creating a VM from that image. If you aren't looking at using an image, you could also try this topic: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sa-upload-generalized

[2018-07-05 04:42] LucianFrango commented on #11112
@MohitGargMSFT - externally I understand the solution, no drama there. However, internally (ExpressRoute connected on-premises network) you have split-brain DNS that would point to the LB before AD FS, not to the WAP's. This allows you to leverage internal AD FS logic and Claims to no prompt for MFA for example. The question around this design is: what considerations are there for INTERNAL DNS, ot

[2018-07-05 04:43] TeppeiIshii opened #11227 "Add FAQ for "Can managed and unmanaged disks colocate on a single VM?""
Some customers asking "can we co-locate managed and unmanaged disks on the same VM?" and the answer is no.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 263abdef-3478-8261-6c4c-5d608698ba4e
* Version Independent ID: 61ef3094-fda7-d7b9-e19c-4e8f6a5b2f2d
* Content: [Frequently asked questions (FAQ) about Azure IaaS Wind

[2018-07-05 05:49] vlindhol opened #11228 "Webhook caller IP address?"
I am currently using another Docker registry, who does not have a stable set of IPs to provide for the webhook caller, meaning I would have to keep our webhook endpoint open for the entire aws-east1 cluster... not acceptable. Could this documentation state whether the webhook is called from some small subset of IPs or is all of Azure a potential source?

---
#### Document Details

⚠ *Do not edit t

[2018-07-05 06:38] tlisiecki opened #11229 "Link pointing to wrong article."
Hello,
I believe the link under "enable end to end SSL on application gateway" points to the wrong article - the SSL offloading configuration instead of end to end ssl.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77a317f1-deef-4ba7-5839-f39ce3733655
* Version Independent ID: d85aa8fe-7270-d073-ea56-d1c0759383b8
* Co

[2018-07-05 06:50] syedhamjath opened #11230 "Update the picture or content"
The content say Data management gateway use 8050 inbound port and the picture says it uses 8060 which one is correct and moreover the corporate network boundary is not correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 567118bc-05db-cb9d-d14f-faf835da048a
* Version Independent ID: 9aaa1635-bb8c-07b4-ebc5-55baeb981

[2018-07-05 06:55] msvijayn commented on #11203
@gonzalofarias JSON schema described in [doc](https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-activity-log-alerts-webhook), for newer activity log alerts using ActionGroup,
<br>
The payload will include the fields specified in common section, along with the fields specific to the activity log category chosen while creating the alert. For example, if you have created an

[2018-07-05 07:37] macslui opened #11231 "Which domains require Microsoft LiveID creation?"
I've seen that certain domain require LiveID creation instead of local account creation for guest users. Since we are defining an application process to create invitation/redemption, we need to document exactly the redemption process should guest users follow based on their account domain. Any info about that? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2018-07-05 07:46] erwindemoel commented on #11135
I am having an issue as well with step 5 when I try to create my solution using the command "Azure IoT Edge: New IoT Edge solution":
"Command failed with exit code 127"

Not sure if this is the same or a related problem. Please help.

[2018-07-05 07:49] LoganZhao commented on #11122
@iainfoulds @YutongTie-MSFT thanks for that! I notice that I am using Manual upgrade policy, which doesnt trigger the reboot for the latest model.

is it worth mentioning in some kind of FAQ?

[2018-07-05 07:51] shizn commented on #11135
@LazarusX @formulahendry

[2018-07-05 08:21] AlexanderPilhar opened #11232 "wrong dotnet template"
Regarding "Create an ASP.NET Core web app":
I think this sample is done using a blank web app (ASP.NET Core empty; dotnet new web).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edb1fa6c-8433-882f-8b97-4d381f885b1d
* Version Independent ID: aad3ec71-363f-3500-8bcd-dc040f71821e
* Content: [Quickstart to learn how to us

[2018-07-05 08:23] SarithaMaran commented on #11135
@rajeshvijayarajan
I tried  'pip install --user cookiecutter' , still getting the same error.

[2018-07-05 08:47] quan01994 opened #11233 "sudo /opt/microsoft/sdk/servicefabric/common/clustersetup/devclustersetup.sh"
System.IO.DirectoryNotFoundException: Could not find a part of the path '/home/sfuser/sfdevcluster/data/_Node_4/Fabric/Fabric.Config.1.0.0/Settings.xml'.
   at Interop.ThrowExceptionForIoErrno(ErrorInfo errorInfo, String path, Boolean isDirectory, Func`2 errorRewriter)
   at Microsoft.Win32.SafeHandles.SafeFileHandle.Open(String path, OpenFlags flags, Int32 mode)
   at System.IO.FileStream..ctor(S

[2018-07-05 08:57] LazarusX commented on #11135
@SarithaMaran Will running `cookiecutter --no-input https://github.com/Azure/cookiecutter-azure-iot-edge-module module_name=cookiecuttersamplemodule image_repository=localhost:5000/cookiecuttersamplemodule --checkout master` in a terminal outside of VS Code succeed?

[2018-07-05 09:03] erwindemoel opened #11234 "Getting error in VS while creating an IoT Edge Python module"
I'm following this tutorial to create an IoT Edge Python module:
https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-python-module

When I get to step 5 of the tutorial where it says "Create an IoT Edge module project", subtitle "Create a new solution", I get an error after I run the following command on Visual Studio Code on my iMac (OSX):
"Azure IoT Edge: New IoT Edge solution"

It says:
“C

[2018-07-05 09:22] quan01994 commented on #11233
on docker
sudo docker run --name sftestcluster -p 19080:19080 -p 19000:19000 -p 25100-25200:25100-25200 mysfcluster

i got this error

 Starting OpenBSD Secure Shell server sshd
   ...done.
Drop folder path is set to '/home/ClusterDeployer/ClusterData'
Current machine IP Address is 172.17.0.2
Deleting old data root content
rm: cannot remove 'ClusterManifest.SingleMachine.Replaced.xml': No such fil

[2018-07-05 09:46] andyce1010 opened #11237 "Why use Azure Traffic Manager in this tutorial?"
The docs say "To control the distribution of incoming requests, the Wingtip app uses Azure Traffic Manager.", but looking at how it's configured, it there is only one endpoint in the traffic manager, so there is nothing for it to do.

Am I missing something obvious here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1

[2018-07-05 09:51] suruchimalewar opened #11238 "As per the doc "Tier blobs to Cool storage 30 days after last modification" is mention. If the data has been pushed to cooler tier after x days and again bring back to hot storage, So will the last modification time change? and data will move back to cooler storage after x days again?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-07-05 09:56] xiashaohua2010 commented on #10330
should be : This file contains a table with 5 columns and 150 rows.

[2018-07-05 10:06] SarithaMaran commented on #11135
@LazarusX
No even there I'm getting error:
[code]

[2018-07-05 11:10] SarithaMaran commented on #11135
I have tried the following command which seems to be working.

`python -m cookiecutter --no-input https://github.com/Azure/cookiecutter-azure-iot-edge-module module_name=PythonModule image_repository=<repo> --checkout master`

However, as per the document the resulting PythonModule folder should have deployment manifest template file and a .env file - which is absent.

The resulting folder contain

[2018-07-05 11:14] lionello commented on #5626
@tfitzmac Turns out it was indeed a native app, but one for which I was able to create keys before but they must have expired and now "keys" no longer shows up for native apps. I created a new web app and am able to create new keys for that.

[2018-07-05 11:37] mikaelsand opened #11240 "Breaking changes and errors"
The output from this script gives a lot of these errors: WARNING: Get-AzureRmSnapshot: A property of the output of this cmdlet will change in an upcoming breaking change release.
And ends in the error: Changing property 'osDisk.osType' is not allowed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04f5da69-0386-feb0-469

[2018-07-05 11:43] mikaelsand commented on #11240
Ok. Found the reason for the error:
Original Code
#Use the Managed Disk Resource Id to attach it to the virtual machine. Please change the OS type to linux if OS disk has linux OS
$VirtualMachine = Set-AzureRmVMOSDisk -VM $VirtualMachine -ManagedDiskId $disk.Id -CreateOption Attach -Linux

This sets the OS Type to Linux (which the comment says you should change to if you are attaching a Linux Snap

[2018-07-05 12:04] titoniubo commented on #11191
Hi,

I have found the answer.

Instead of using port 22 I use port 23 and it works.

Thanks,

Josep Maria

[2018-07-05 12:06] #11191 closed

[2018-07-05 12:11] dracan opened #11242 "Add powershell version of the `Grant AKS access to ACR` script"
Currently there's just a bash script. A working Powershell port is below. It would be good if this was added to the page ...

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed59d472-ac33-5c03-dbb7-0e86e88c7dd8
* Version Independent ID: 69e1ad8c-2dd3-cc1b-2b31-996a5d866cc0
* Content: [Authenticate with Azure Cont

[2018-07-05 12:36] cocosnuss opened #11244 "Error: IoT Hub Name not found"
Hello,
I followed your instruction.
When starting the apllication (python app.py 'My Connection string') I get the following error message. When I use simulated data, everything works fine. I also get data when I use the Adafruit Feather M0 Wifi and the BME280 sensor. Thank you for any help!

![raspberry_bme280_azure_iot_hub](https://user-images.githubusercontent.com/16918068/42322900-7ca56834-805

[2018-07-05 12:45] ph-poppe opened #11245 "mongodb aggregation"
hey there. Can you give a timing on when the mongodb aggregation will be fully operational? ie. including matches in other stages than the first. This is currently a dealbreaker for me now...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 958fb2c2-c1b8-5a1b-09db-8f255bf07778
* Version Independent ID: 5bf25011-d90e-8e9c

[2018-07-05 12:50] piizei opened #11247 "PJ"
How does it work for App Service On Linux?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13176d24-57e1-33bb-1948-a086df502dca
* Version Independent ID: 1c15986a-adf6-6f99-72b4-e2a351d0c15e
* Content: [Authentication and authorization in Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/app-service-

[2018-07-05 12:53] AlexanderTodorovic commented on #8988
Hi All, the link API Reference documentation on What is Microsoft Translator? in Next steps does not work. It returns Invalid URL. Thank you.

[2018-07-05 12:56] mikemlab opened #11248 "Securely Store Secrets"
The section 'Securely Store Secrets' talks about how Keys are stored and not Secrets. Keys and Secrets are two separate inputs in Key Vault.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a52b0724-6b3b-0daf-7749-d18104d6a40b
* Version Independent ID: 56e5c7c4-f456-fc2e-99da-2771eb162947
* Content: [Azure Key Vault Over

[2018-07-05 13:01] waheedhussain opened #11249 "time limit to geo fail-over decision taken by Microsoft"
Hi,

Is there a time limit before the decision is taken by Microsoft to fail-over the storage to the secondary region? In other words: is the attempt to restore the primary region time bounded after which the fail-over occurs?

"When a regional disaster affects your primary region, we will first try to restore the service in that region. Dependent upon the nature of the disaster and its impacts, i

[2018-07-05 13:03] DavidCGarcia89 commented on #5875
I want to reopen it because you still have information that is not working instead of saying that is not working for now.

Plus the JSON example you have is incoherent:

[code]
You are saying that the entity `2` start at index 0, implying we start to count at 0. Then you said that `orlando` is in index 18 when if you count from the start it would start at 17.

Also there is incoherence with the ow

[2018-07-05 13:07] centromere opened #11250 "Add/Link to instructions for calculating the $base64Thumbprint"
The documentation for this page does not include instructions for calculating `$base64Thumbprint`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e44b783-3ca5-6b6a-1f33-d7a107b8f8e0
* Version Independent ID: aa2bb5fd-bd0d-830c-84c7-0525657b6d4f
* Content: [Certificate credentials in Azure AD](https://docs.microsoft.co

[2018-07-05 13:14] davidev86 commented on #10858
@sergaz-msft same problem. I tried also to recreate the device twin, but nothing is changed. I'm working with on Windows enviroment.
Do you need more informations?
How can I solve the problem?

thank you in advance.

[2018-07-05 13:35] cryptobeat commented on #10998
I dropped SFab idea and moved to Kubernetes - everything works as described in there.
Also - I didn't get - what is CleanFabric.ps1 and were I suppose to find it.
You can close ticket if you have to - but problem is in there.

Thx

[2018-07-05 13:42] tkumark opened #11251 "Network option grayed out for Linux and Docker OS Types"
Hi
The "Network" option is grayed out for Linux and Docker OS Types. Is there a limitation? If so it would nice if it is documented

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d90bbf62-44f9-30a6-d6ea-bbf776f6efc5
* Version Independent ID: b3961eac-6c70-b345-f48c-e4c0ec67059c
* Content: [Azure App Service IP Restrict

[2018-07-05 13:49] SaurabhSharma-MSFT commented on #11076
@mhuebi We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-05 13:49] #11076 closed

[2018-07-05 14:03] SdnaMunish opened #11253 "Azure Servicebus gave System.ServiceModel.AddressAlreadyInUseException"
Hi Support,

My azure service bus giving me below exception when listener trying to connect it:
Service cannot be started. System.ServiceModel.AddressAlreadyInUseException: The specified address already exists.Address sb://ServiceBusName.servicebus.windows.net/ is already in use by an existing listener with different settings. TrackingId:2fa03e51-934c-4d40-b8ce-e65f1d0d3883_G17, SystemTracker:NoSy

[2018-07-05 14:13] TORUD01 commented on #10346
Hi,
What is the solution on adding a co-admin in the new Azure Portal - the descriped guide does not work.

[2018-07-05 14:19] paulrichwine opened #11254 "TypeHandlerVersion"
The current typeHandlerVersion for CustomScriptExtension is 1.9, not 1.8

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50e2e178-cc8a-3f67-2b07-00671bce74c9
* Version Independent ID: b702442c-3a33-32db-cbd9-1655ab805413
* Content: [Tutorial - Install applications in a scale set with Azure PowerShell](https://docs.micro

[2018-07-05 14:20] jrichview opened #11255 "Bit more discussion of the whethers/whys please?"
I manage a website project that's been around a long time. A lot of static html content that it serves up is stored in blob storage and served up by the web server as if it were on a local disk. So all of the requests for this content come from an Azure App Service instance. The Overview documentation doesn't, I feel, provide enough information to help me make a clear decision whether a CDN would

[2018-07-05 14:24] fixx220 opened #11256 "Add Existing VM to Availability Set"
Ahoy there,

Quick correction:
"You can choose to create a virtual machine or to add an existing virtual machine to the availability set."

It isn't acutally possible without deleting and recreating the virtual machine.  This VM recreate can be done via PowerShell and for all intents and purposes, the VM would be identical but you're still not "adding an existing VM to an availablity set"

Thanks

[2018-07-05 14:29] EricSten-MSFT opened #11257 "Improve discoverability in search engines"
In order to help search engines find this guidance, could you change "web deploy" to either "WebDeploy" or "MSDeploy" (preferably, add both).

e.g.:
"Can I use web deploy to deploy my web app?" -&gt; "Can I use WebDeploy/MSDeploy to deploy my web app?"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b421fa01-1f39-28a5-7

[2018-07-05 14:30] matdcooper opened #11258 "Error uploading profile xml document"
I have tried to follow the steps outlined in the tutorial. When I try to upload the modified ProfileEdit.xml file, I get the following error: "Unable to upload policy. Reason : Azure AD B2C cannot find the extensions app with app id '#######-####-####-####-############'. Please visit http://go.microsoft.com/fwlink/?linkid=851224 for more information.". However, the "B2C_1A_ProfileEdit" policy does

[2018-07-05 14:31] matdcooper commented on #11258
(I have added the extensions app as detailed under "Creating a new application to store the extension properties")

[2018-07-05 14:33] DCtheGeek commented on #11173
@omerzubair The list of available values for `type` depends on the Resource Providers that exist within your subscription.  Please refer to [Resource providers and types](https://docs.microsoft.com/azure/azure-resource-manager/resource-manager-supported-services) for details on how to get a list of types in your subscription using either PowerShell or Azure CLI.

As for your use of `equals`, you s

[2018-07-05 14:35] hjlarrea opened #11259 "PS Commandline has a few typos"
iex ((New-Object System.Net.WebClient) DownloadString('https://chocolatey.org/install.ps1)) should actually be iex ((New-Object System.Net.WebClient).DownloadString('https://chocolatey.org/install.ps1'))

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 728cc3f4-d5da-a270-a3c0-53f179147cc0
* Version Independent ID: 32d276

[2018-07-05 14:37] erwindemoel opened #11260 "Invalid name error when creating new Azure IoT hub deployment"
I'm trying to create a new Deployment, by going to my Azure IoT hub, clicking on "Add IoT Edge Deployment". Whatever I type in the name, I get the error:
"Name contains invalid characters. Up to 128 lowercase letters, numbers and the following characters are allowed [ -:+%_#*?!(),=@;' ]."

Even though the name I enter does conform to the requirements. Attached a screenshot.

![screen shot 2018-07-

[2018-07-05 14:37] #11260 closed

[2018-07-05 14:38] erwindemoel commented on #11260
I didn't read carefully enough, it had to be lowercase letters, my bad.

[2018-07-05 14:38] dazinator commented on #6349
I am following this doc: https://docs.microsoft.com/en-gb/azure/container-service/dcos-swarm/container-service-swarm-mode-walkthrough

` az acs create --name dennisswarm --orchestrator-type dockerce --resource-group dennis --generate-s
sh-keys --agent-count 1`

fails with:

  "error": {
    "code": "BadRequest",
    "target": "containerService.properties.orchestratorProfile.orchestratorType",

[2018-07-05 14:48] v-wimarc commented on #11182
@MicahMcKittrick-MSFT  This content is now owned by the China Business Team. Please check with Monica Rush and Josephine Qiu to see who this should be assigned to. Thanks - mw

[2018-07-05 14:49] grayjeremy commented on #10932
agreed, I'd like to see how to use this token to access storage accounts

[2018-07-05 14:50] matdcooper commented on #11258
And when I test the profile, I get the same error text when I click "Continue" in the edit profile page.

[2018-07-05 14:55] dferencz opened #11261 "Build for arm32v7 fails with "exec format error""
I am attempting to build a C# function for Arm32v7 (host is Ubuntu 16.04 amd64).  I followed this instruction, with the exception of changing the "deployment.template.json" to build for arm32v7 (set "image" property under "CSharpModule" to "$MODULES.CSharpModule.arm32v7").  The build proceeds, but fails at "Step 10/12" with the error "exec format error":

 Step 7/12 : FROM microsoft/dotnet:2.1-run

[2018-07-05 14:55] DCtheGeek commented on #11181
@omerzubair Thanks for the question!  Please review [Getting Compliance Data](https://docs.microsoft.com/azure/azure-policy/policy-compliance) for the answers to the timing questions.  Specifically, when a new policy or initiative is assigned, it cane take around 30 minutes to be applied to the scope and for an evaluation to begin.  We can't give a specific time for how long the evaluation will ta

[2018-07-05 14:55] v-wimarc commented on #11182
Monica and Josephine,
Can you provide some guidance for Micah on who this bug should be assigned to? It’s an update request for the Mooncake content and I’m not sure what the status is as far as who owns it at this point. Thanks - mw

From: Micah <notifications@github.com>
Sent: Wednesday, July 4, 2018 8:31 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Marc Wilson (Resources

[2018-07-05 15:12] DCtheGeek commented on #11138
@mschulz531 Thanks for the feedback question! You asked for policy initiatives that can be used to group Policy definitions, but there isn't a defined list of these.  You define an Initiative as a group of Policy definitions that you want to be able to assign to a scope.  This makes it easy to assign a handful of Policies to different scopes multiple times.  Does that answer your question?

[2018-07-05 15:22] v-wimarc commented on #11182
Josephine, can you assign to the appropriate PM/writer?

A few more comments:

  *   I have cc’ed Julia Kornich, who is the new PM for sovereign clouds (Julia, this is just FYI for now)
  *   Josephine, I think that once you determine who the PM/writer is, the article should be reassigned from Marc to that writer
  *   All articles should be assigned to another PM/writer, and Marc’s name should be

[2018-07-05 15:23] FcrNah opened #11262 "User’s country optional claim does not work"
I've set "Country or region" value in AD user profile.
Then I've added "ctry" optional claim in app manifest:
[code]

There is no "ctry" claim in result token.

Other optional claims seems to work, at least "acct" works well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d8e93d6-413b-34aa-3359-41f5baa442d3
* Version

[2018-07-05 15:24] d1964b opened #11263 "How are the NICS mapped to the VM's"
I'm new to this but I can't see where/how the NIC's are added to the VM's , shouldn't there be a "Add-AzureRmVMNetworkInterface" somewhere ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b189be6f-c957-7d54-648c-0ec9aa35f4b6
* Version Independent ID: 2017f421-9025-9ade-ad76-4778cf7ba96e
* Content: [Tutorial - Create an

[2018-07-05 15:29] mschulz531 commented on #11138
Thanks for the feedback...I went back to that page and I can clearly see the mention of Initiatives, so I don't know what I was thinking...I obviously missed that when I created the feedback question.  You can close the issue and mark it down to operator error.  :)

[2018-07-05 15:29] #11138 closed

[2018-07-05 15:30] janlund67 opened #11265 "ClusterRoleBinding to AAD Group is not referenced by ObjectId but Group Name"
With reference to the AAD group example, it does not work when you use the AAD groups object id. You have to use the Group Name. (Server 1.10.3, Client 1.10.3)
subjects:
- apiGroup: rbac.authorization.k8s.io
  kind: Group
  name: "894656e1-39f8-4bfe-b16a-510f61af6f41"  &lt;- Should be "My AAD Group Name"

That said, it would be safer to implement it to use the object id.

---
#### Document Details

[2018-07-05 15:34] freeborn99 opened #11266 "Sharepoint data missing"
Just an FYI, the "office365_subscription.ps1" is missing Audit.Sharepoint  for the contentTypes.  Without this, it will not authorize Sharepoint to send the data.

On line 137, it should read 'contentTypes':'Audit.Exchange,Audit.AzureActiveDirectory,Audit.Sharepoint'

Once I updated this line and re-ran the script, I started collecting sharepoint data.

---
#### Document Details

⚠ *Do not edit th

[2018-07-05 15:38] dazinator opened #11267 "Correct ssh command on windows"
On windows there is no /sock file. I couldn't establish an ssh tunnel using the documented command - I assume that only works on linux / unix based systems?

The command on windows that worked for me was:

[code]
I am using port 2375.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56ffefbe-77db-da49-0766-8bf4baec4b07
*

[2018-07-05 15:44] janlund67 opened #11268 "Instructions on what to do when a users password is changed"
First: Being able to authenticate using AAD is a very nice feature, as we are not comfortable having fully authenticated kubeconfigs floating around on various computers.

Working for a client in an organization where passwords are rolled automatically on a daily basis, I quickly ran into a re-authentication issue, and it should be described in this How-To.

When a password is changed, kubectl wil

[2018-07-05 15:51] janickat24 opened #11269 "Strange null chars in blob message"
After following this tutorial and viewing the blob file contents in both Azure Storage Explorer and Azure Portal I noticed that there are strange null characters in the body of the message. Here is a copy of my blob file contents:

Objavro.codecnullavro.schemaÐ{"type":"record","name":"Message","namespace":"Microsoft.Azure.Devices","fields":[{"name":"EnqueuedTimeUtc","type":"string"},{"name":

[2018-07-05 15:59] janickat24 commented on #11269
Another thing that may be useful to know is that in Azure Storage Explorer the content type of the file is application/octect-stream.

[2018-07-05 16:01] iainfoulds commented on #11122
Okay, that makes sense. Glad you were able to get it working. This behavior is currently documented in the FAQ - https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-faq#how-do-i-add-an-extension-to-all-vms-in-my-virtual-machine-scale-set.

For now, #please-close

[2018-07-05 16:02] iainfoulds commented on #11019
Thanks, @arkiaconsulting. Glad it does appear to work correctly for you.

@MicahMcKittrick-MSFT #please-close

[2018-07-05 16:05] amanarneja commented on #11181
@DCtheGeek - Thanks for jumping in! You're the best :)

[2018-07-05 16:05] #11181 closed

[2018-07-05 16:14] Derski commented on #10128
Hi, I was hoping you could point me towards some clarification on the article you linked to?
(https://blogs.technet.microsoft.com/kv/2016/09/17/accessing-key-vault-from-a-native-application/)
after going through the setup, I'm not quite clear on what I should pass as the resource parameter to the AcquireTokenAsync... I tried with with a number of names and ids for what I assumed it could be referr

[2018-07-05 16:16] DCtheGeek commented on #11108
@thuansoldier The policy samples are mostly intended for people creating policy through SDK.  The use of `strongType` only has value within the Azure portal. There are currently 6 options for `strongType` and you can view those at [Policy definition structure](https://docs.microsoft.com/azure/azure-policy/policy-definition#parameters).  If using `existingResourceGroups` as a value for `strongType`

[2018-07-05 16:17] jtuliani opened #11270 "Obsolete use of 'concat'"
Surely the 'dependsOn' samples should use the 'resourceId' function rather than the 'concat' function? Using concat for resource IDs is years out of date at this point.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9809033-1199-d491-5556-9b72665936e0
* Version Independent ID: 17a6b986-dd55-4416-1739-ec765922b3fe
* Co

[2018-07-05 16:17] sergaz-msft commented on #11244
@cocosnuss thank you for your feedback! Can you let us know the format of the connection string you are using? If you share the actual connection string then we highly recommend that we remove it after we do the tests.

Thanks

[2018-07-05 16:22] sergaz-msft commented on #11260
@erwindemoel thank you for your feedback and for posting the solution for your own issue :).

Can I kindly ask you to let me know the doc you were following so that this can be added under the doc feedback and then others facing similar issues know how to overcome it?

Thank you

[2018-07-05 16:30] SaurabhSharma-MSFT commented on #10974
@matthias-scharl We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-05 16:30] #10974 closed

[2018-07-05 16:31] LazarusX commented on #11234
Hi @erwindemoel, will running `cookiecutter --no-input https://github.com/Azure/cookiecutter-azure-iot-edge-module module_name=cookiecuttersamplemodule image_repository=localhost:5000/cookiecuttersamplemodule --checkout master` in a terminal outside of VS Code succeed?

[2018-07-05 16:31] sergaz-msft commented on #11234
@erwindemoel thank you for your feedback. What is the output when running `cookiecutter --no-input https://github.com/Azure/cookiecutter-azure-iot-edge-module module_name=cookiecuttersamplemodule image_repository=localhost:5000/cookiecuttersamplemodule --checkout master` in a terminal outside of VS Code ?

This seems to be a VSCode issue related with this one: https://github.com/Microsoft/vscode/i

[2018-07-05 16:32] DCtheGeek commented on #11100
@thuansoldier Policies can be updated for most things with the exception of changing the parameter (name, number, etc.).  You can change the policyRule (including effect), metadata about the parameter(s), and general policy metadata, so long as the names of existing parameters don't change and are still used in the policyRule and don't try to add or remove policies from the definition.  Where woul

[2018-07-05 16:39] vasivara-MSFT commented on #11230
@syedhamjath I am able to see 8050 in the content and on the picture. Can you please upload a screenshot where you are seeing this difference?

[2018-07-05 16:42] v-geberr commented on #5875
@jonasvsaet I've fixed the sample JSON from LUIS-Samples. I'm investigating batch testing JSON with entities now. #in-progress

[2018-07-05 16:44] mfulton commented on #10873
I am trying to assign Exchange Online P1 or Office 365 E3 licenses.

I have done screenshots but the editor here offers no capability to insert pictures.  All I see is a basic text edit box and a "COMMENT" button.

[2018-07-05 16:46] dramos1138 commented on #8223
Hi, what about the process in Xamarin.Android? Where is the documentation to do this? Greetings

[2018-07-05 16:51] thuansoldier commented on #11100
@DCtheGeek  I think we can add in this article https://docs.microsoft.com/en-us/azure/azure-policy/create-manage-policy but it would be good to start thinking about Azure Policy operation which is supposed to cover administrative tasks for SecOps (Security Operation) or Compliance team to

- Monitor Azure Policy compliance result: where to see the result, and  how to navigate to a specific resourc

[2018-07-05 16:51] mfulton commented on #10873
OK so I've been commenting on [https://docs.microsoft.com/en-us/azure/active-directory/active-directory-licensing-group-assignment-azure-portal](url) not GitHub so that explains some of the disconnect.  I still don't see how to insert a screen capture, however.

[2018-07-05 16:52] iainfoulds commented on #11242
Hi, @dracan. Thanks for reaching out. Right now, the main use of AKS and the Azure CLI is from a *nix platform, so the docs are lined up accordingly. The examples shown in the docs should work in a PowerShell shell by adding in the dollar sign to variable names, as you suggest here. In other docs, we've intentionally tried to avoid the use of parameters so as to avoid this problem, but that's not

[2018-07-05 16:54] sergaz-msft commented on #11261
@dferencz thank you for your feedback. Please note that [this sample](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-csharp-module) was tested after completing the [quickstart for Linux](https://docs.microsoft.com/en-us/azure/iot-edge/quickstart-linux) that is targeting Ubuntu 16.04 x64.

For that reason we would suggest that you please file a support request @ https://aka.ms/azsupt . If

[2018-07-05 16:59] jason-j-MSFT commented on #11225
@ericbrunner
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-05 16:59] iainfoulds commented on #11263
Hi, @d1964b. Thanks for reaching out. The default behavior with `New-AzureRmVm` is to create or use an existing virtual NIC based on the name of the VM. In this example, both the virtual NIC you first create and then the VM are named `myBackend`. This behavior of the PowerShell cmdlet removes the need to create configuration objects and attach resources, such as the virtual NIC.

A full example th

[2018-07-05 16:59] jason-j-MSFT commented on #11226
@dcbrown16
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-05 17:00] jason-j-MSFT commented on #11227
@TeppeiIshii
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-05 17:01] jason-j-MSFT commented on #11228
@vlindhol
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-05 17:02] jason-j-MSFT commented on #11229
@tlisiecki
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-05 17:02] thorpebt commented on #11046
@darobs @sergaz-msft I apologize for the delay, we were off yesterday in the USA and apparently I've hijacked this thread because my issue appears to be unrelated.

Raspbian did not find a repository for libssl1.0.2 so I flashed a fresh build of stretch instead of upgrading. It's now working fine.

[2018-07-05 17:06] leandroaraujo opened #11271 "Deprecated"
Google Cloud Messaging Client Component is deprecated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 096eaeca-7ca0-b7af-61e9-a2d29bcabe6f
* Version Independent ID: d0c1df4f-69c5-83e9-abe3-f0c3136138be
* Content: [Add push notifications to your Xamarin.Android app](https://docs.microsoft.com/en-us/azure/app-service-mobi

[2018-07-05 17:09] swkrish commented on #11224
@atfernando This means that Seamless SSO works only on managed domains, and not federated ones. So if you are using ADFS, you already get this functionality out-of-the-box. But if you are using Password Hash Sync or Pass-through Authentication, you need to enable Seamless SSO explicitly to get the automatic sign-in capability on managed domains. HTH.

#please-close

[2018-07-05 17:09] swkrish commented on #11056
Link seems to work. #please-close

[2018-07-05 17:11] swkrish commented on #11188
Link seems to work. #please-close

[2018-07-05 17:12] MicahMcKittrick-MSFT commented on #11233
Thanks for the question! We are investigating and will update you shortly.

[2018-07-05 17:13] MicahMcKittrick-MSFT commented on #11240
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-05 17:14] #11242 closed

[2018-07-05 17:14] MicahMcKittrick-MSFT commented on #11254
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-05 17:14] priyamohanram commented on #10763
I've staged a PR that covers this error.

#please-close

[2018-07-05 17:14] #11263 closed

[2018-07-05 17:14] priyamohanram commented on #10764
I've staged a PR that covers this error.

#please-close

[2018-07-05 17:15] priyamohanram commented on #10765
I've staged a PR that covers this error.

#please-close

[2018-07-05 17:15] priyamohanram commented on #10568
I've staged a PR that covers this error.

#please-close

[2018-07-05 17:15] MicahMcKittrick-MSFT commented on #11265
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-05 17:16] MicahMcKittrick-MSFT commented on #11267
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-05 17:17] MicahMcKittrick-MSFT commented on #11268
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-05 17:20] YutongTie-MSFT commented on #11231
@macslui Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-05 17:22] MohitGargMSFT commented on #11248
@mikemlab Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-05 17:23] MohitGargMSFT commented on #11250
@centromere Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-05 17:24] MohitGargMSFT commented on #11258
@matdcooper Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-05 17:24] #11176 closed

[2018-07-05 17:29] #11019 closed

[2018-07-05 17:30] SaurabhSharma-MSFT commented on #10873
@mfulton copy the screenshot and use Ctrl+V in the editor to insert the picture. You will be able to see a link in the editor.  Also, validate the same using the Preview tab.

[2018-07-05 17:43] wmgries commented on #11215
Hi @mossywell,

Thanks for pointing out this typo. I have opened a PR with a fix in our internal repository - this fix should go out this afternoon!

Thanks,

Will Gries
Program Manager, Azure Files

[2018-07-05 17:46] MicahMcKittrick-MSFT commented on #10998
@cryptobeat the CleanFabric.ps1 is included in the downloadable files for the standalone cluster

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-creation-for-windows-server#download-the-service-fabric-for-windows-server-package

Anyways, glad to hear you found a solution that meets your needed. I will close this for now but raise awareness in case there is an issue wi

[2018-07-05 17:46] #10998 closed

[2018-07-05 17:46] MohitGargMSFT commented on #11237
@andyce1010 Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-05 17:48] michaelmsm89 commented on #11060
I'd really like to know the answer to this too. I want to use Dev Spaces but to do so I need to enable HTTP Routing, which I only want to do if I can use my existing Azure DNS zone with custom domain.

[2018-07-05 17:49] MohitGargMSFT commented on #11245
@ph-poppe Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-05 17:50] MicahMcKittrick-MSFT commented on #11060
We are still looking into this but if this is more just for creating an additional DNS record that points to the AKS records there should be no issue in doing this. An Azure DNS zone and records are created for the cluster that provides the required resolution for cluster operations, but the DNS entry for actual production applications would typically be more user-friendly and use the TLD of a com

[2018-07-05 17:53] BryanTrach-MSFT commented on #11271
@leandroaraujo Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-05 17:55] MicahMcKittrick-MSFT commented on #11143
I will close this out but if you feel you need more information please just let me know.

[2018-07-05 17:55] #11143 closed

[2018-07-05 17:55] YutongTie-MSFT commented on #11097
@jdobrzen Hi, can you please try to change your environment name first, because the name must only contain lowercase alphanumeric characters. Please tell me if the issue still not solved.

[2018-07-05 17:55] MohitGargMSFT commented on #11112
@LucianFrango Thanks for the added information. I have assigned the issue to the content author to investigate and update as appropriate.

[2018-07-05 17:55] MohitGargMSFT commented on #11124
@waheedhussain We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-07-05 17:55] #11124 closed

[2018-07-05 17:55] mfulton commented on #10873
I had already tried copy/paste.  Doesn't work.

[2018-07-05 17:57] BryanTrach-MSFT commented on #11247
@piizei Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-05 17:58] BryanTrach-MSFT commented on #11251
@tkumark Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-05 17:58] MicahMcKittrick-MSFT commented on #11144
@hshokry I am working offline to find an answer on this. I will update as soon as I have more information.

[2018-07-05 17:58] BryanTrach-MSFT commented on #11257
@EricSten-MSFT Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-05 17:59] MicahMcKittrick-MSFT commented on #11155
I will close this out but if you feel you need more information please just let me know.

[2018-07-05 17:59] #11155 closed

[2018-07-05 18:01] MohitGargMSFT commented on #11202
@devjourney Thanks for reporting! I am working to fix it and will be done soon.

[2018-07-05 18:03] danieljsmarda commented on #11172
@sergaz-msft I followed the troubleshooting steps and all looks pretty normal in the journalctl logs (inserted below) except perhaps for the line I marked regarding certificates. I am fairly certain this was a certificates issue on my end, as when I connected the device to a hotspot network it seemed to connect just fine.

Does anything in the journalctl log image below look off to you? If not, fe

[2018-07-05 18:17] #11202 closed

[2018-07-05 18:17] MicahMcKittrick-MSFT commented on #11144
So I am not finding any documentation specifically on creating proxies in visual studio. However, I have found that you only need to include the proxies.json in your function template to deploy them via visual studio

https://docs.microsoft.com/en-us/azure/azure-functions/functions-proxies#advanced-configuration

[2018-07-05 18:28] apercova opened #11275 "Logon Failure: the user has not been granted the requested logon at this computer"
I have installed Azure Functions Runtime on-premise installation as described here:
[functions-runtime-install](https://docs.microsoft.com/en-us/azure/azure-functions/functions-runtime-install )

Installation was done in a Windows Server 2016 within a domain, but using a local user.

At the very first time I log in to the portal, I am able to create Apps and Functions both V1 and V2, but after a w

[2018-07-05 18:33] MohitGargMSFT commented on #11189
@andreymir Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-07-05 18:34] mani-ramaswamy commented on #11233
It can run on both Windows and Linux, and on Linux only RHEL (preview) and Ubuntu (GA) are supported.   You can use the container image we provide to get started as well.

Which SKU are you trying it on?

[2018-07-05 18:39] MicahMcKittrick-MSFT commented on #11240
@mikaelsand thanks for the update! Glad to hear you were able to get it to work. I will close this for now.

[2018-07-05 18:39] #11240 closed

[2018-07-05 18:40] MohitGargMSFT commented on #11231
@macslui Please note that B2B collaborators can sign in with an identity of their choice. If the user doesn’t have a Microsoft account or an Azure AD account – one is created for them seamlessly at the time for offer redemption. Reference - [Easily add B2B collaboration users](https://docs.microsoft.com/en-us/azure/active-directory/b2b/what-is-b2b#easily-add-b2b-collaboration-users)

[2018-07-05 18:42] kashimiz commented on #11003
@jmill269 That's odd. 🤔 Just to confirm, are the samples you're running in `/samples/javascript` from azure-functions-durable-extension's `master` branch?

Would you also be able to provide the output of the Functions runtime when you fun `func host start`? My guess is that there's some trouble indexing the HttpStart function which is why it's showing up as a 404 when you try to call it.

[2018-07-05 18:42] SP74 opened #11276 "Main or background nsmangedobjectcontext?"
Is it main or background  context to which is assigned to mscoredatastore  .

Please provide links on this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93f5e0ef-a152-5c94-a8f6-fbf13619f8fd
* Version Independent ID: 979062e2-a89a-9b12-fc13-be60cd8436e7
* Content: [Enable offline syncing with iOS mobile apps](https://

[2018-07-05 18:43] SaurabhSharma-MSFT commented on #11091
@finchl You may be getting the error as you are trying to install the DC agent on member server but DC Agent is required to be installed only on Domain controller servers.

[2018-07-05 18:43] jason-j-MSFT commented on #11238
@suruchimalewar thanks for the feedback!  Could you provide a link to the documentation you are referring to?

[2018-07-05 18:44] jason-j-MSFT commented on #11232
@AlexanderPilhar
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-05 18:45] shaunm001 opened #11277 "Installing Recovery Provider on Server Core"
Hi, I've found several sites discussing how to install the provider on Server 2012 R2 Hyper-V host running Server Core, but nothing seems to work for me (setupdr.exe crashes immediately when running). Are there certain system requirements other than OS version (e.g., .NET version)? Is there official documentation from Microsoft for how to install on Server Core?

---
#### Document Details

⚠ *Do n

[2018-07-05 18:47] jason-j-MSFT commented on #11249
@waheedhussain
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-05 18:58] apercova commented on #11175
Hi @MicahMcKittrick-MSFT
Let me try to explain my issue.
I followed Azure Functions Runtime on-premise installation steps as described here:
[functions-runtime-install](https://docs.microsoft.com/en-us/azure/azure-functions/functions-runtime-install)

When Runtime was installed, I logged in to the portal, then created a subscription with the default template and created Two Apps: One for version 1

[2018-07-05 19:00] layne1990 commented on #10273
Mohit, which social login did you use?  The demo works for me with Facebook, and Google, but not with my Microsoft ID.

[2018-07-05 19:10] v-geberr commented on #10771
#please-close

[2018-07-05 19:11] v-geberr commented on #10693
@SSYH Documents have been updated. Please feel free to reopen this issue if you feel there is still some improvement you require. #please-close

[2018-07-05 19:12] v-geberr commented on #10756
@emolinah I'm closing this for now. Please feel free to reopen if you are unsatisfied with the changes so far. #please-close

[2018-07-05 19:30] karunasoft commented on #10942
Please could you update the docs with full command-line only instructions.  Many thanks.

For those who have arrived here because you can't authenticate when you try to push the image to your container (i.e. you get "unauthorized: authentication required"):

- go to azure portal | myResourceGroup | youracrname | Access Keys | Enable Admin User | Grab the User Name and Password
- docker login https

[2018-07-05 19:35] finchl commented on #11091
Note I am having the problem with the proxy agent NOT the DC agent.  According to the instruction the proxy agent should be able to install on a member server.  The DC agent will interact with the proxy agent and this will connect to Azure

[2018-07-05 19:35] larryms commented on #8614
Any update on this?  As @antpoole noted, the article is confusing and contradictory in places, especially with respect to public peering guidance.

[2018-07-05 19:37] petrroll opened #11280 "Adding load balancing rule requires having existing backend pool"
You can't create a load balancing rule without having a backend pool first. It might be a good idea to move the 'Create backend servers' section higher so that it's before the 'Create load balancer resources' section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef0097ec-1e6a-bdcf-3883-6b368e9cd618
* Version Independ

[2018-07-05 19:39] nitinjain999 commented on #7650
Hi ,

I get the same error ! ERROR The KeyVault 'enjnjnj-vn' does not exist in the Resource
  Group 'test_gos' for the Subscription

[2018-07-05 19:43] seahorsevn opened #11281 "Authentication Error"
I followed those above steps and get the error.
There was an error, status Canceled, reason WebSocket Upgrade failed with an authentication error (401).

My subscription is normal. Could you let me know the correct way to go through this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 862500ac-276e-ebad-c555-97ab0f5c5c

[2018-07-05 19:43] MicahMcKittrick-MSFT commented on #11275
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-05 19:47] MohitGargMSFT commented on #11237
@andyce1010 I get your point. As I see the ARM template in the solution, the traffic manger profile is created with name 'vents-wingtip-mt-af1' with one end point. In case you deploy again with different user 'af2', it will again create a new traffic manger profile with name 'vents-wingtip-mt-af2' with one end point.

I will assign this to content author to further investigate and update as approp

[2018-07-05 19:47] SaurabhSharma-MSFT commented on #11091
@finchl By proxy agent do you mean Proxy Service - AzureADPasswordProtectionProxy.msi ?

[2018-07-05 19:54] conceptdev commented on #11271
Thanks @leandroaraujo, you're right. Although parts of this doc have been updated to Firebase Cloud Message it looks like some parts were missed.

While we are working on the updates for this doc, please refer to [Firebase Cloud Messaging with Xamarin](https://docs.microsoft.com/xamarin/android/data-cloud/google-messaging/firebase-cloud-messaging), and in particular the [NuGet instructions](https:

[2018-07-05 19:55] MohitGargMSFT commented on #11245
@ph-poppe Azure Cosmos DB supports aggregation pipeline in public preview. We currently do not have any specific date to share on its GA. Please keep a check on [Microsoft Azure Announcements](https://azure.microsoft.com/en-us/blog/topics/announcements/). You can also subscribe to Announcement feeds to track it.

[2018-07-05 19:55] MicahMcKittrick-MSFT commented on #11133
@seamusjunior I reached out to some of the functions team members to see what they might recommended as a replacement seeing as you are using V2.

You could create the [NotificationHubsClient ](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.notificationhubs.notificationhubclient?view=azure-dotnet)in your function and use it like you would from ASP.NET or whatever backend. You just wou

[2018-07-05 19:59] jason-j-MSFT commented on #11253
@SdnaMunish this repository is for documentation related feedback and issues.  I would suggest you ask your question in this forum:
https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=servbus

If you have a support plan, you can open a case directly with support as outlined here:
https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request

[2018-07-05 19:59] #11253 closed

[2018-07-05 20:05] miguel-vega opened #11282 "Wrong location in example"
This is a small issue. The following command has the location "East US" instead of "EastUS":
New-AzureRmVm `
    -ResourceGroupName "myResourceGroupVM" `
    -Name "myVM2" `
    -Location "East US" `
    -VirtualNetworkName "myVnet" `
    -SubnetName "mySubnet" `
    -SecurityGroupName "myNetworkSecurityGroup" `
    -PublicIpAddressName "myPublicIpAddress2" `
    -ImageName "MicrosoftWindowsServer

[2018-07-05 20:06] TravisCragg-MSFT commented on #8614
@larryms I unfortunately have no update yet. We are still processing the feedback.

[2018-07-05 20:11] MicahMcKittrick-MSFT commented on #11175
@apercova got it! Thank you for clarifying that. Are you able to use the search box on the top and look for the HTTP trigger?

[2018-07-05 20:13] MicahMcKittrick-MSFT commented on #11178
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-05 20:18] jason-j-MSFT commented on #11093
@linda33wj could this be evaluated to add to the documentation?

[2018-07-05 20:19] #11120 closed

[2018-07-05 20:19] TravisCragg-MSFT commented on #11259
@hjlarrea Thanks for the feedback, I am getting this fixed asap.

[2018-07-05 20:21] Derski commented on #10128
ok, I got it...
the resource is "https://vault.azure.net"
I assumed it was the URL of my specific vault that I created...

[2018-07-05 20:29] MicahMcKittrick-MSFT commented on #11184
@mukund1980 I am using Azure CLI 2.0.40 and I see no issue calling the parameter --Template:

![image](https://user-images.githubusercontent.com/32313503/42346146-863c77be-8056-11e8-801e-21f12801d293.png)

@mscurrell could you advise on the second portion of the question? I also see CLI asking for all the information specified in the json

[2018-07-05 20:30] mhs2342 opened #11283 "Unable to Authorize using ROPC policy"
I am trying to roll a native login for an iOS app (without a webpage redirect to sign in) and I:
1. Cannot find any docs on how to properly obtain an access code
2. Am completely able to get a Token (albeit unauthorized)

This doesn't make sense to me at all. If ROPC is allowed, why are only parts of the authentication supported/not fully documented?

---
#### Document Details

⚠ *Do not edit this

[2018-07-05 20:30] TravisCragg-MSFT commented on #11277
@shaunm001 Here is a [the prerequisite requirements for Hyper-V Servers.](https://docs.microsoft.com/en-us/azure/site-recovery/hyper-v-prepare-on-premises-tutorial#review-requirements-and-prerequisites)

Are you getting any specific errors in your Administrator logs when the install fails?

[2018-07-05 20:30] YutongTie-MSFT commented on #10756
@emolinah We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-05 20:30] #10756 closed

[2018-07-05 20:31] MicahMcKittrick-MSFT commented on #11198
@seguler can you advise on this one? I assume it will be x86 compatible at some point. Especially seeing as version 8 is still in preview.

[2018-07-05 20:31] YutongTie-MSFT commented on #11122
@LoganZhao We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-05 20:31] #11122 closed

[2018-07-05 20:34] rayne-wiselman commented on #11277
@shaunm001 . Hi, support matrix is here - https://docs.microsoft.com/en-us/azure/site-recovery/hyper-v-azure-support-matrix#on-premises-servers

[2018-07-05 20:35] SaurabhSharma-MSFT commented on #11116
@Mahesh-MSFT Yes you are right it can be member but the context of the document talks about only B2B collaboration users where the usertype will be always "Guest" and thus the statement remains correct if the Source is Azure Active directory then the sign-in will correspond to state 4 where user credentials will be managed by the Host.

[2018-07-05 20:35] MightyPen commented on #11237
I return from vacation on Tuesday 2018/July/17, when I will have several tasks vying for my attention. Thanks.

[2018-07-05 20:36] mike-urnun-msft commented on #11247
Hi @piizei - This feature works the same way on Linux. Here's more: **[App Service Authentication/Authorization Coming to Linux Apps](https://blogs.msdn.microsoft.com/appserviceteam/2018/05/07/linux-auth/ )**

[2018-07-05 20:36] MicahMcKittrick-MSFT commented on #11222
@jrhoward I checked the Frequently asked questions section of this doc and found the following:

![image](https://user-images.githubusercontent.com/32313503/42346706-61e809bc-8058-11e8-9d87-dcff4761b01c.png)

Does this answer your question?

[2018-07-05 20:36] jason-j-MSFT commented on #11159
@aaronwjha do you have a support plan?  If so, please open a case with support directly as outlined here:
https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request

If you do not have a support plan, could you send us an email here:
AZCommunity@microsoft.com

Please include a link to this GitHub issue and subscription ID.

[2018-07-05 20:37] MicahMcKittrick-MSFT commented on #11228
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-05 20:39] jason-j-MSFT commented on #11159
@aaronwjha we are closing this issue for now but feel free to add comments as needed.

[2018-07-05 20:39] #11159 closed

[2018-07-05 20:42] MohitGargMSFT commented on #11248
@mikemlab Thanks for reporting! I have assigned the issue to the content author to check and update as appropriate.

[2018-07-05 20:48] MicahMcKittrick-MSFT commented on #11254
@paulrichwine I have made the changes. Once the PR merges this issue will close and the changes will go live in a few hours.

[2018-07-05 20:50] bandersmsft commented on #10988
@femsulu  Sorry for the delay. I was out for vacation. This issue should have been classified as **product-feedback**. I see that it's closed.

[2018-07-05 20:51] TravisCragg-MSFT commented on #11255
@jrichview A CDN will speed up the delivery of the static content to your customers, but only if customers are making the requests for content directly. If all requests for the content are coming from an App Service, a CDN will not add any speed.

You can flush the cached content from the CDN when you update any files, but if you are going through an App Service, it can still cache the content loc

[2018-07-05 20:52] MicahMcKittrick-MSFT commented on #11133
I found out that the migration of the notification hub extension is being tracked here:

https://github.com/Azure/azure-webjobs-sdk-extensions/issues/239

I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2018-07-05 20:52] #11133 closed

[2018-07-05 20:52] TravisCragg-MSFT commented on #11280
@petrroll Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-05 20:59] michaelmmcrae1 commented on #10047
https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-scheduled-function Here's another article that specifically says it's a CRON expression with the basic Cron wiki linked. That's the only documentation for how the Schedule expression works.

But it's wrong. The expression should actually abide by NCron as posted above. That's confusing.

[2018-07-05 21:00] MohitGargMSFT commented on #10273
@layne1990 I used my google account to test it earlier. But yes I try using Microsoft Account, after Login, it is not going to next step and again login page comes.

I will assign this to content author to further investigate and help on it.

[2018-07-05 21:02] cwienands commented on #10273
I don't remember 100% but most likely I used an MS account, too, and not a Google or FB account. So what @layne1990 reports would match my observation.

[2018-07-05 21:04] YutongTie-MSFT commented on #11218
@soniaang Thanks for your pointing out for this document bug, I have fixed it. It will be updated shortly.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-05 21:04] #11218 closed

[2018-07-05 21:05] MicahMcKittrick-MSFT commented on #11265
@iainfoulds can you take a look at this one?

[2018-07-05 21:05] petrroll opened #11285 "The tutorial is outdated - NSG rules, adding/removing VMs from backend pool"
The NSG rules and adding VMs to backend pool sections are outdated and can't be followed in current version of Azure portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef0097ec-1e6a-bdcf-3883-6b368e9cd618
* Version Independent ID: 16cf78be-d540-b665-3618-e2da834a5fcb
* Content: [Tutorial:Create and manage a Standar

[2018-07-05 21:06] finchl commented on #11091
Yes that’s the msi I was trying to install. Installing on a member server joined to the domain running 2012r2.  Launch command prompt with elevated credentials (Domain Admin credentials) then started install. It launches then gets to the part it installs the service but always fails when trying to start the service. I can repeat this error every time and tried different member servers.

[2018-07-05 21:06] MohitGargMSFT commented on #10273
@cwienands Acknowledged. I have reopened this issue and assigned to content author to further investigate and update on it. Thanks.

[2018-07-05 21:10] YutongTie-MSFT commented on #11131
@niida23 Hi, for now, we don't have sample project for C#, I have assigned the issue to the content author to investigate further and update the document as appropriate.

@v-jaswel Hi, this customer is asking for more details about Conversation Learning application using C#, is it possible to add related content to our document? Please check it and update the document as necessary. Thanks a lot!

[2018-07-05 21:20] #11254 closed

[2018-07-05 21:21] rayne-wiselman commented on #9028
@andrewatfornax . hi, the team confirms that the documentation as correct. Im not sure why you're seeing a storage account randomly created in the target region. I suggest you post the issue on the forum, since it doesn't seem to be content related. Thanks!

forum - https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=hypervrecovmgr

[2018-07-05 21:23] MicahMcKittrick-MSFT commented on #11267
@dazinator the commands do work if you run them from the Azure Cloud Shell but I get the same thing when running from CMD on my local machine. What version of CLI are you using by chance? You can check by running az --version

cc @neilpeterson

[2018-07-05 21:29] lachie83 commented on #11060
@mhabegger Thanks for asking. See my responses below

No there is not. You could create a CNAME from your custom domain and point it at this A record as a possible solution. We currently have no plans to add customer domains or redirections to this feature. The good news is that you can do this completely using open source components and have that functionality. See https://youtu.be/9HQ2XgL9YVI

[2018-07-05 21:30] ChiefWiggum opened #11287 "Missing information regarding http headers"
It would be nice to know if changing the event-delivery-schema includes changing the http headers (ce-*) as well, or if the existing (aeg-*) headers are used, even though the data comes as cloudeventv01schema.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddd55e19-eb11-3b0f-c6e1-3710f712fd58
* Version Independent ID:

[2018-07-05 21:33] MicahMcKittrick-MSFT commented on #11268
@janlund67 Seems odd that a password change would cause issues.

@iainfoulds, @neilpeterson either of you have any thoughts on this?

In addition, if you are looking to suggest feature improvements to this I would suggest leaving that feedback directly on the [AKS github ](https://github.com/Azure/AKS)page or on [UserVoice](https://feedback.azure.com/forums/34192--general-feedback).

[2018-07-05 21:34] jason-j-MSFT commented on #11163
@wnjenkin I was able to take a snapshot on a Managed Disk without specifying it was a Managed Disk via the REST API.  I directed a comment to the customer in the original issue.

[2018-07-05 21:34] #11163 closed

[2018-07-05 21:37] MicahMcKittrick-MSFT commented on #11275
#11175

Make sure the user you are logging in with has the correct permissions for remote desktop. You can do this by opening Local Users and Groups -> Groups -> Remote Desktop Users

[2018-07-05 21:39] MicahMcKittrick-MSFT commented on #11282
@miguel-vega is this causing an error? I believe since we have the location in quotes the string is formatted correctly.

[2018-07-05 21:39] ggailey777 commented on #10578
@ratchetwrench improved Python documentation requirements are being tracked internally. We don't plan to update current v1 documentation for Python, because it is only an experimental language and we don't recommend using it in production. If you are interested in Python Functions, I would recommend keeping an eye on [the announcements](https://github.com/Azure/app-service-announcements/issues).

[2018-07-05 21:40] ggailey777 commented on #10578
#please-close as this request is already being tracked internally.

[2018-07-05 21:42] #10578 closed

[2018-07-05 21:42] ggailey777 commented on #11052
@markolbert we try to stay on top of the tooling, but sometimes the docs get out of sync, so I will take a look. Can you please let me know what version of the VS Functions tools you are using (and also the Azure Functions Core Tools)?

[2018-07-05 21:43] femsulu commented on #11270
@jtuliani Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-07-05 21:44] apercova commented on #11175
I'm quite sure it's not possible. As you can see, the Language and Scenario filters are set on "All".
Search box just allow me filtering between available options shown above.

![image](https://user-images.githubusercontent.com/14076184/42349536-b53e5bc4-8072-11e8-9584-8c487bf263aa.png)

[2018-07-05 21:44] iainfoulds commented on #10284
@jungho We maintain a fairly comprehensive list of the overall compute IP address ranges used by the Microsoft Azure datacenters, but not sure if this fits your needs and/or is too much - https://www.microsoft.com/en-us/download/details.aspx?id=41653. This list is updated weekly, and lead time is provided for new ranges. Does this help for the time being?

[2018-07-05 21:45] femsulu commented on #11266
@freeborn99 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-07-05 21:47] femsulu commented on #11256
@fixx220 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-07-05 21:47] ggailey777 commented on #10698
The [Azure Functions Core Tools](https://github.com/Azure/azure-functions-core-tools) doesn't depend on the Azure CLI. Did you have a more specific question or issue relating to the Brew-based installation?

[2018-07-05 21:48] YutongTie-MSFT commented on #11126
@Louicha @chrisp196 Can you please check [this post](https://forums.asp.net/t/2060969.aspx?The+type+or+namespace+name+Configuration+does+not+exist+in+the+namespace+System+) to see if it can solve your issue? Thanks a lot!

[2018-07-05 21:50] ggailey777 commented on #10697
@ratchetwrench I've made sure to have the local development/testing requirements included in our Python documentation requirements, which are being tracked internally. Thanks for bringing your Python passion to Azure Functions.

[2018-07-05 21:52] ggailey777 commented on #10696
@ratchetwrench we have plans for Python-specific development topic, which like other Python documentation requirements are being tracked internally.

[2018-07-05 21:54] YutongTie-MSFT commented on #11123
@ram-kakani We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-05 21:57] BryanTrach-MSFT commented on #10001
@wploevyaya2018 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2018-07-05 21:57] #10001 closed

[2018-07-05 22:14] YutongTie-MSFT commented on #11281
@seahorsevn Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-05 22:17] TravisCragg-MSFT commented on #11134
@menewol Can you clarify your question a bit more?

Data is Encrypted on Azure's end, and the encryption & decryption process is done by Azure when you retrieve or store data. It can be used with all current storage account types.

[2018-07-05 22:21] jason-j-MSFT commented on #11187
@mumian we have a report the code in this section is returning an error:
https://docs.microsoft.com/en-us/azure/hdinsight/spark/apache-spark-eventhub-streaming#read-tweets-from-the-event-hub

[2018-07-05 22:33] jason-j-MSFT commented on #11205
@gsilva5 we have a report of an inaccuracy in this section:
https://docs.microsoft.com/en-us/azure/virtual-network/create-vm-accelerated-networking-powershell#supported-vm-instances

[2018-07-05 22:35] jason-j-MSFT commented on #11206
@nitinme we have a suggestion to take a look at blurring subscription names in the screenshots here:
https://docs.microsoft.com/en-us/azure/data-lake-store/data-lake-store-get-started-portal#create-an-azure-data-lake-store-account

[2018-07-05 22:37] menewol commented on #11134
Dear Travis,

Of course I can clarify!!!

As we all know, AES is symmetric Block-chiffre that supports different key-lengths (128/192/256 Bit). We also know the block size will never change, regarding the key length(AES always uses 128 bit blocks).

Nonetheless, to encrypt the blocks in AES, we won't use ECB Mode (as you will know we won't use this because of different security concerns).

So, stu

[2018-07-05 22:37] jason-j-MSFT commented on #11208
@MGoedtel we have a suggestion to better differentiate versions

[2018-07-05 22:37] tdykstra commented on #10047
@michaelmmcrae1 Thanks for pointing that out! I've been tied up with other priority tasks but hope to get this fixed next week.

[2018-07-05 22:40] SaurabhSharma-MSFT commented on #11091
@finchl I am able to install it. Can you please check error in the Event Viewer under Microsoft > ProxyService

[2018-07-05 22:43] SnehaGunda commented on #9971
@gtbee Thanks for the update! I will create a work item to add an example to retrieve dates. As you aren't blocked, we will now proceed with closing this issue.

#please-close

[2018-07-05 22:43] SaurabhSharma-MSFT commented on #11188
@mailgut We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-05 22:43] #11188 closed

[2018-07-05 22:44] menewol commented on #11134
Hoping this was clear enough :P

Sorry for any improper spellings, as my native language is not english.

Best regards,
Wolfgang

[2018-07-05 22:49] jason-j-MSFT commented on #11212
@m1nkeh great question, the best place for that would be here:
https://social.msdn.microsoft.com/Forums/en-US/home?forum=servbus

[2018-07-05 22:49] #11212 closed

[2018-07-05 22:49] tfitzmac commented on #8905
@Tiano2017 - have you had a chance to look at adding input to the copy element in the schema?

[2018-07-05 22:49] #11215 closed

[2018-07-05 22:51] YutongTie-MSFT commented on #11153
@apeyrat Hi, can you please help me make sure 1) Did the person you sent the invitation receive the email and click 'Get start' in it? 2) Is the person you invited are in the same subscription with you?

[2018-07-05 23:01] Tiano2017 commented on #8905
@chidmdxx to share the status update.

[2018-07-05 23:06] dazinator commented on #11267
azure cli 2.0.41

[2018-07-05 23:07] MicahMcKittrick-MSFT commented on #11175
Interesting...

@apwestgarth do you know the answer to this?

[2018-07-05 23:07] #9971 closed

[2018-07-05 23:08] MicahMcKittrick-MSFT commented on #11267
@dazinator thanks for that. I am running the same. But just wanted to check :)

@neilpeterson, @iainfoulds do you guys see the same thing we are? If so, maybe we should specify this.

[2018-07-05 23:10] MicahMcKittrick-MSFT commented on #11285
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-05 23:10] MicahMcKittrick-MSFT commented on #11287
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-05 23:10] TravisCragg-MSFT commented on #11134
@menewol Azure handles 100% of encryption at rest, it is not something that you do yourself, nor can you configure how it is encrypted.

Are you adding another custom layer of encryption in addition to our default Encryption At Rest?

[2018-07-05 23:13] jason-j-MSFT commented on #11226
@ganesr confirmed the specified link here points to Powershell classic article:
https://docs.microsoft.com/en-us/azure/expressroute/expressroute-routing#dynamic-route-exchange

[2018-07-05 23:15] apwestgarth commented on #11175
Hi,
    as this is a preview product only a limited number of triggers and templates per Functions runtime version were validated for this release.  HTTP Triggers are not available in Azure Functions Runtime preview 2 and were not available in Azure Functions Runtime preview 1 either.  You cannot install additional triggers and templates.

Thanks

Andrew

[2018-07-05 23:16] petrroll commented on #11285
BTW: I'm using the internal Preview version of the portal and didn't check it in the prod version.

[2018-07-05 23:20] tfitzmac commented on #11092
@grayjeremy - thanks for this feedback. I have updated this quickstart (and other articles) to include a step for checking registration status.

[2018-07-05 23:20] tfitzmac commented on #11092
#please-close

[2018-07-05 23:20] BryanTrach-MSFT commented on #11276
@SP74 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-05 23:21] TravisCragg-MSFT commented on #11092
@grayjeremy We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-05 23:21] #11092 closed

[2018-07-05 23:32] SaurabhSharma-MSFT commented on #11192
@Rain-Runner It will be retired for Dynamics AX and CRM users as well. Also, Microsoft does have a future roadmap that will migrate ACS to SAS. Application updates will be released before the support of ACS is depreciated.  Please refer to announcements at [IMMEDIATE ACTION: Microsoft to Retire ACS (Access Control Services)](https://community.dynamics.com/ax/b/arbelatechnologiesblog/archive/2018/0

[2018-07-05 23:33] SaurabhSharma-MSFT commented on #11224
@atfernando We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-05 23:33] #11224 closed

[2018-07-05 23:40] lukaszjakubczyk commented on #7170
Can someone finally confirm whether the total cost of storage is doubled due to backups?

[2018-07-05 23:43] parsoFish commented on #11177
I'm not sure as we dont have any extra url parameters but I imagine there would be no issue. From talking with a colleague because redirect uri gets used for other tasks it isnt available to be collected in this way. We've figured out an alternate way to distinguish between sites though if there is some way to capture redirect_uri i still think this would be useful to do

[2018-07-05 23:45] YutongTie-MSFT commented on #11269
@janickat24 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-05 23:46] YutongTie-MSFT commented on #10568
@mganeshphani We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-05 23:46] #10568 closed

[2018-07-05 23:47] YutongTie-MSFT commented on #10693
@SSYH We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-05 23:47] #10693 closed

[2018-07-05 23:47] #10763 closed

[2018-07-05 23:47] YutongTie-MSFT commented on #10765
@rickrain We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-05 23:47] #10765 closed

[2018-07-05 23:47] #10764 closed

[2018-07-05 23:48] #10771 closed

[2018-07-05 23:48] bwren commented on #11002
Heard back from the engineering team.  You still need to use the OMS portal for this.  They're working on enabling the solution settings in the Azure portal and will have that implemented before the OMS portal is completely retired.

[2018-07-05 23:48] bwren commented on #11002
#please-close

[2018-07-05 23:50] jason-j-MSFT commented on #11283
@mhs2342
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-05 23:55] MarkusVi commented on #10990
Hi @SMNDaVe: The short answer is yes, the policy will still be disabled. I will clarify this in the article.

#please-close

[2018-07-05 23:55] kevinvngo commented on #7170
Storage is not doubled with backups. total cost is size of data (which is the base) + snapshots. I'll get the doc updated

[2018-07-06 00:00] bwren commented on #11266
@freeborn99 Thanks for this!  I passed this on to our engineering, and they acknowledged that they missed this in the script.  I'll go ahead and add it.

[2018-07-06 00:00] bwren commented on #11266
#please-close

[2018-07-06 00:04] femsulu commented on #10767
@DianaPutnam We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-06 00:04] #10767 closed

[2018-07-06 00:06] femsulu commented on #10811
@bwren, any thoughts on this please?

[2018-07-06 00:09] femsulu commented on #10965
@HemantChandurkar while you are correct this is a certificate related question, it is within the context of HDinsight setup. This is why I recommended the HDinsght Forum for a more targeted answer to your question. I will now close this issue but please don't hesitate to ping me back if you need help getting an answer to your question from the recommended HDInsight forum.

[2018-07-06 00:09] #10965 closed

[2018-07-06 00:10] lukaszjakubczyk commented on #7170
It would be good to see how snapshot is calculated. For example if the initial size of dwh during snapshot is 1TB and then 1TB is deleted and 1TB loaded again the same day does this mean that the charge for next 7 days will be for 2TB (1TB for the current state and 1TB for the backup)?

[2018-07-06 00:13] femsulu commented on #11115
@rthorn17 can you please review the question on out-dated doc steps ?

[2018-07-06 00:15] the-chad-at-ms opened #11291 "Creation of Management Group ID is not descriptive enough"
It seems that in the section around creating the management group ID, there is no mention around how the ID gets assigned or whether it is auto-generated or not even though it is mandatory. I understand this feature is still in preview, but it would be good to mention in this section how a user enters or retrieves this type of information (ie. create a new GUID using powershell or pick a random ph

[2018-07-06 01:11] TravisCragg-MSFT commented on #11134
@menewol  It is possible that we do not publically state that information, but I will find what answer I can.

I will post any updates as soon as I am able.

[2018-07-06 01:24] CIPop opened #11293 "Using Azure Container Registry"
&gt; If you are ACR as your registry, right now you have ACR username and password in it.

Not exactly sure what this means: I had to open the ACR Access blade and enable "Admin user" in order to get this information. It's unclear how this would be used with Azure AD.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c984

[2018-07-06 01:34] j-martens commented on #11210
Thank you @sennendoko
We've fixed the typos!
#please-close if user's issue has been addressed.

[2018-07-06 01:44] menewol commented on #11134
Dear Travis,

I would be very pleased to get further information regarding the use of operational modes in combination with AES-256!

I can not understand why @Microsoft is "publically disclosing" the algorithm being used - but isn't willing to, additionally, disclose the mode of operation.

There's plenty of attacks on different modes of operations regarding AES in general.

I just want to make s

[2018-07-06 01:49] MarkusVi commented on #10805
Hi @NeighborGeek, the new baseline policy requires MFA regardless of where the connection is coming from. If you need something more granular than the baseline, you need to create a custom policy and disable the baseline policy. Your description sounds like that you already have a custom policy in place.

I will clarify this in the article.

#please-close

[2018-07-06 01:49] miguel-vega commented on #11282
I believe the location parameter expects the name of the location and not the display name right? When I use "eastus" it works, but "East US" doesn't.
This is the error I get:
New-AzureRmVm : Location in request URI 'East US' does not match location of the service 'eastus'
At line:1 char:1

[2018-07-06 02:14] j-martens commented on #10336
While waiting for reply, you can also  file a support request @https://aka.ms/azsupt.

If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened.

[2018-07-06 02:17] j-martens commented on #10330
@DennisFaucher - Thanks again for your feedback. This is part 1 of a 3 part tutorial. Part 2 and 3 cover building and deploying the model.

[2018-07-06 02:35] j-martens commented on #9920
#please-close

[2018-07-06 02:59] j-martens commented on #8129
@DaveVoyles  - If you make an edit to the page yourself, please @j-martens me.

[2018-07-06 02:59] genlin commented on #9419
@ Sara-Nicolini This change is jp-ja only. Could you help to update the jp-ja article?

[2018-07-06 03:01] CIPop opened #11295 "Confusing instructions when developing IoT Edge Modules and using Azure Container Registry"
&gt; Provide the image repository for the module. VS Code autopopulates the module name, so you just have to replace localhost:5000 with your own registry information. If you use a local Docker registry for testing, then localhost is fine. If you use Azure Container Registry, then use the login server from your registry's settings. The login server looks like &lt;registry name&gt;.azurecr.io.

The

[2018-07-06 03:09] shizn commented on #11295
Thanks for the suggestions. I will create a PR to resolve this issue.

[2018-07-06 03:14] j-martens commented on #10196
@kishore1702 this was fixed several weeks ago. Please verify and close this issue. Thank you!

[2018-07-06 03:18] j-martens commented on #9844
#please-close

[2018-07-06 03:21] j-martens commented on #9436
@heatherbshapiro - do you know how to fix this link please?

[2018-07-06 03:39] CIPop opened #11297 "Clarify debugging prerequisites"
&gt; In Azure IoT Hub Devices explorer, right-click an IoT Edge device ID, then select Create deployment for IoT Edge device.

I'm not clear if debugging a module running on a remote IoTEdge device is possible.
As far as I can tell, VSCode will attempt to run `docker` locally, starting the C# module and attaching to that instance.

[code]

---
#### Document Details

⚠ *Do not edit this section. It

[2018-07-06 03:54] v-wimarc commented on #11182
Hi Monica, glad to know PM for sovereign clouds has onboarded.

About the feedback on the article Azure service availability in China<https://docs.microsoft.com/en-us/azure/china/china-get-started-service-availability#feedback>, I am going to contact you about that.  Azure.cn is going to release a web page of Product available by region next Monday. The page on staging server can be access here ht

[2018-07-06 04:01] alexcher84 commented on #11002
Actually there is a way to do this!

I will share the steps once I'm at a computer.

On Thu, Jul 5, 2018, 6:48 PM Brian Wren <notifications@github.com> wrote:

[2018-07-06 04:37] mhabegger commented on #11060
Thanks @lachie83
I am well aware that I can deploy my own pods that handle reverse proxy and TLS etc. But you realize that, for a fully managed Kubernetes and in for most usecases, the entire functionality “HTTP Application Routing” is rendered useless because as a customer I want to be able to deploy pods that would answer to URLs such as api.mydomain.com or portal.mydomain.com etc. If HTTP Appli

[2018-07-06 05:10] ToMakeSense opened #11298 "Can't find SFTP in "Connectors - In-depth topics""
In the [api-list](https://docs.microsoft.com/en-us/azure/connectors/apis-list), I can find the [SFTP](https://docs.microsoft.com/en-us/azure/connectors/connectors-create-api-sftp) in [Managed API connectors](https://docs.microsoft.com/en-us/azure/connectors/apis-list#managed-api-connectors), but it isn't like other api connection( for example, [FTP](https://docs.microsoft.com/en-us/azure/connector

[2018-07-06 05:16] mganeshphani commented on #10568
Thanks folks.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: YutongTie-MSFT <notifications@github.com>
Sent: Thursday, July 5, 2018 6:46:36 PM
To: MicrosoftDocs/azure-docs
Cc: Ganesh Phani Kumar Majeti; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Error code 90094 missing (#10568)

Closed #10568<https://github.com/MicrosoftDocs/azure-docs/issues/10568>.

[2018-07-06 05:17] wokket opened #11299 "Information regarding Azure App Service Encryption at Rest"
re: https://docs.microsoft.com/en-us/azure/security/azure-security-encryption-atrest#encryption-at-rest-for-paas-customers

The article states a number of PaaS offerings and their Encryption-at-rest status, but Azure App Services (more likely their hosting App Service Plans) are not mentioned.

Can we please get some clarity over whether the underlying storage of our websites hosted on an App Serv

[2018-07-06 05:22] ChiefWiggum opened #11300 "Support regions outdated?"
According to the documentation the preview support for CloudEvents is available in the **West Central US, Central US, and North Europe** region. But I was able to create a cloudevent schema topic and subscription in **WestEurope** yesterday. Is the documentation outdated or are there other reasons why it worked in WestEurope, even though it's not officially supported?

---
#### Document Details

⚠

[2018-07-06 05:23] AlexanderTodorovic opened #11301 "TypeError: the JSON object must be str, not 'bytes'"
Hi All,
sample code throws TypeError.
Can be  fixed by changing return response.read () to return response.read().decode('utf-8')

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58366071-4824-d9a4-6b43-3941e1d7f7d1
* Version Independent ID: 1c34418e-c561-71e4-215e-19fd5539dc85
* Content: [Translator Text translate text

[2018-07-06 05:56] Dmitry-Me opened #11302 "MSRC updates list calls 3.62 guest OS a "May Guest OS""
This https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/cloud-services/cloud-services-guestos-msrc-releases.md contains two top paragraphs called "May Guest OS" - one for 3.62 guest OS and one for 3.61 guest OS. 3.61 is indeed a "May" OS but 3.62 is actually a "June" OS.

[2018-07-06 06:29] #6399 closed

[2018-07-06 06:32] polarapfel opened #11303 "Link to API Reference is invalid"
http://docs.microsofttranslator.com/speech-translate.html does not open in any browser I tried.

The response page for that URL just prints:

Invalid URL
The requested URL "[no URL]", is invalid.
Reference #9.67ce33b8.1530858715.44247d34

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9a1e7ee-0ac1-8041-5924-97209ce9063

[2018-07-06 07:00] josefree commented on #11182
Hi, Azure.cn is going to release a web page of Product available by region next Monday (July 9th). The page on staging server can be access here (http://atomtest.chinacloudsites.cn/zh-cn/home/features/products-by-region ).  It’s similar to this page in Azure.microsoft.com.  ACOM is maintenance these information in marketing portal,  I think there is no reason we keep maintenance on the article Azu

[2018-07-06 07:43] #9920 closed

[2018-07-06 07:56] piizei commented on #11247
The image in the section 'How it works' looks like IIS/Windows configuration. This would not be accurate unless the Linux containers are running on Windows host? I assume it is not Windows host and the detail I'm interested is that is the AuthN/AuthZ logic running on a proxy (Nginx?) on the same VM as the container for the app-service or somewhere else?

[2018-07-06 08:04] DavidCGarcia89 commented on #5875
@v-geberr Thanks, let me know if you know something please.

[2018-07-06 08:09] cocosnuss commented on #11244
Thanks for your help! I redid everything today and now it works. You can Close this issue now.

[2018-07-06 08:18] janlund67 commented on #11268
@MicahMcKittrick-MSFT

Here you see the response when the password has been changed:

[code]
And this continues on subsequent kubectl commands. I am not offered a new login, so I have to delete the tokens from kubeconfig.

[2018-07-06 08:30] prashantagone commented on #9507
CSharpModule getting created and registered to Azure but after deployment not showing along with other running modules (edgeAgent, edgeHub & tempSensor).
IoT edge Device showing 4 modules running out of that CSharpModule is showing "Reported by Device" status as "No"

[2018-07-06 08:37] whaave commented on #8142
Any update on this would be appreciated.
Currently our web activity run will take approx. 1m15s, which means that the Data Factory will always report this as failed, even though the service itself runs fine.

[2018-07-06 08:38] quan01994 commented on #11233
service fabric not work on Ubuntu and docker 。At least I am in this situation

[2018-07-06 08:41] clementlrms opened #11306 "Job Status"
Hi, I got an error message when trying to look at job status with msgen list -f c:\temp\config.txt.
I had to add the genomics account URL as well as Key to finally get status.
Anyways local temp file looks not to be existing:
"Path 'c:\temp\config.txt' is not a file or doesn't exist, not reading settings from it"

 Regards

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-07-06 08:59] csmurthy opened #11308 "query_hash"
query_hash_s number is not matching with query hash in query store. The query_hash in query store are hex numbers where are the diagnostics the value in decimal. I converted the number to hex and tried to query in query store ,but did not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57944e9d-0efa-3503-9fe8-46c9

[2018-07-06 09:06] ksujanpaul opened #11309 "How can we use this python script for accessing the ML model in an offline android application https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/export-model-python"
How can we use this python script for accessing the ML model in an offline android application
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 754dd7d5-dd8b-4a75-5d79-0ba621a847cd
* Version Independent ID: 3cca3535-1c16-2da1-46c6-421cbf808bc3
* Content: [Run TensorFlow model in Python - Custom Vision Service - Azure Cogn

[2018-07-06 09:07] ksujanpaul commented on #11309
[https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/export-model-python](url)

[2018-07-06 09:12] jtuliani opened #11310 "Confusing inconsistency"
Most of the document shows 'Settings' and 'ProtectedSettings' appearing at the same level
But the first two samples show 'PublicSettings' and 'ProtectedSettings', both under 'Settings'.
So which is it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4ebf9bf-fb61-e694-1711-4fa00fc8a875
* Version Independent ID: c0b1ab45

[2018-07-06 09:13] KshitijShah12 commented on #8223
Hi, what about the process in Xamarin.Android? Where is the documentation to do this?I have Done the code for WebApi Backend but i want documentation for xamarin android to register user !

[2018-07-06 09:14] devenderA17010 commented on #11078
HTTPError: 400 Client Error: Bad Request for url: https://westcentralus.api.cognitive.microsoft.com/vision/v2.0/recognizeText?mode=Handwritten

The code same as above just changed the key for my account.

[2018-07-06 09:18] gadhiyanilesh54 opened #11311 "How do we update existing IaaSDaignosticExtension Schema?"
Once we are done with "Sink" schema changes to the config file, how to update the existing VM DiagnosticExtension?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a24906e-7aac-1682-9b84-a5edfdf8ef5c
* Version Independent ID: afdcea48-26eb-157e-934d-9f24be2aabf9
* Content: [Configure Azure Diagnostics to send data to Ap

[2018-07-06 09:20] devenderA17010 opened #11312 "HTTPError: 400 Client Error: Computer Vision for TextRecognition"
[HTTPError: 400 Client Error: Bad Request for url: https://westcentralus.api.cognitive.microsoft.com/vision/v2.0/recognizeText?mode=Handwritten

The code same as above just changed the key for my account.]

I tried accessing URL directly it gives 404 error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4c8bd02-16d6-d

[2018-07-06 09:21] sergaz-msft commented on #10858
@davidev86 may I kindly ask you to open a new issue and provide the logs and steps already tried from the troubleshooting doc: https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot ?

Thank you!

[2018-07-06 09:41] rbarrioss opened #11313 "Incomplete steps !!"
The guide is fine, but it is necessary to do &lt;F1&gt; , "Arduino: Upload" to upload the sketch to the DevKit. Otherwise you won't get any telemetry, obviously. Best regards. Roberto

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e69c99c9-cb6a-f95e-898c-fcddb355e508
* Version Independent ID: 61a12420-77fe-f822-c728-d6

[2018-07-06 10:03] SarithaMaran commented on #11135
@LazarusX

[code]

[code]

[2018-07-06 10:29] sergaz-msft commented on #11135
The  deployment manifest template and .envs file will only be created when running from VS Code though.

[2018-07-06 10:37] marcvi commented on #10098
I had to do same changes to make it work. Actually, it was working till around the 20th of June with the "normal" configuration.

[2018-07-06 10:39] sergaz-msft commented on #11244
@cocosnuss thank you for coming back and document your resolution steps!

[2018-07-06 10:48] sergaz-msft commented on #11185
Hello @ravindrakc i have confirmed that even though the IoT Edge is now GA, Azure Machine Learning modules are still in public preview.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-06 10:48] #11185 closed

[2018-07-06 10:50] SarithaMaran commented on #11135
@sergaz-msft
I got that point, however the issue is the VSC is not able to create the module and is throwing an error:
[code]

[2018-07-06 10:52] syedhamjath commented on #11230
Please check in this link,
https://docs.microsoft.com/en-us/azure/data-factory/create-self-hosted-integration-runtime#ports-and-firewall

Actually integration runtime service uses 8050 and 8060.

Thanks
Syedhamjath Syedmansur

On Jul 5, 2018 6:39 PM, "VairavanS-MSFT" <notifications@github.com> wrote:

@syedhamjath <https://github.com/syedhamjath> I am able to see 8050 in the
content and on the pic

[2018-07-06 10:54] rikgarner opened #11314 "Described feature is not available"
"click SQL databases, select the database, and then use the Monitoring chart" &lt;- I do not see this in the portal. Has it been retired/replaced?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a012d52-c0cd-fd0d-8cbc-4f203c325003
* Version Independent ID: bc2f6cf7-70fb-752e-0887-7edfd6d40613
* Content: [Monitoring & p

[2018-07-06 10:57] anantshankar17 commented on #11233
Hello,
I tried installing using the instructions provided in the link, but did not face this issue. Can you please describe the steps that you followed ? The only difference is that I am using the Ubuntu-16.04.4 iso.

Can you check if there is free disk space available for new file creation ?

Did the sdk install while running the command: sudo curl -s https://raw.githubusercontent.com/Azure/servi

[2018-07-06 11:00] sergaz-msft commented on #11172
@danieljsmarda thank you for the details! You mean that on a different network the red message is not showing anymore? Do you see messages coming in the IoTHub?

Thanks.

[2018-07-06 11:05] LazarusX commented on #11135
@SarithaMaran The `--no-input` switch requires Cookiecutter 1.5 (https://github.com/audreyr/cookiecutter/blob/master/HISTORY.rst#150-2016-12-18-alfajor). Please update it with `pip install --upgrade cookiecutter`, and make sure `cookiecutter --version` outputs 1.6.0 after that.

If you still encountered the issue in https://github.com/MicrosoftDocs/azure-docs/issues/11135#issuecomment-402414531, t

[2018-07-06 11:10] cocosnuss commented on #11244
I just checked back and my Connection stopped. I tried to start it again (by using app-py 'my configuration string') but I get the same error as mentioned before.

[2018-07-06 11:12] jtuliani opened #11315 "How to enable debug logging with Azure CLI?"
The doc states: "By using PowerShell or Azure CLI, you can request that additional information is logged during a deployment"

However, it only gives examples using Azure PowerShell, not CLI. And looking at the CLI deployment commands, I can't see how to do it.

Please check if this is indeed supported by the CLI, and update the document to either add a CLI example or state that it's PS only, as a

[2018-07-06 11:16] bjorncoltof commented on #8623
@craigshoemaker
Given the following connection string:
[code]

co => Container & Object
rl => read & list

Going to
https://listtables.table.core.windows.net/Tables?sv=2017-07-29&sig=6IMKod5XucBDoF7cCVS1J%2BmjRGElKr%2BdDrNgOm0uKYs%3D&spr=https&se=2019-07-06T11%3A07%3A38Z&srt=co&ss=t&sp=rl will do the listing.

[2018-07-06 11:16] bjorncoltof commented on #8623
PS let me know when you're done so I can throw away the storage account

[2018-07-06 11:29] sergaz-msft commented on #9573
@vxjen please refere [to this document](https://docs.microsoft.com/en-us/azure/iot-edge/support) for the Platforms Supported by Azure IoT Edge.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-06 11:29] #9573 closed

[2018-07-06 11:32] riedwaab opened #11316 "Progress on JobState.Processing"
It would be good to provide guidance and code samples to monitor the progress of the Job while in the 'Processing' State. Since this is probably the longest state the Job will be in, there should be a easy way to monitor its progress - as in the Azure Portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b831ceb-49d6

[2018-07-06 11:34] sergaz-msft commented on #9574
@vxjen please refer [to this How-To guide](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-auto-provision-simulated-device-windows?toc=%2Fen-us%2Fazure%2Fiot-dps%2Ftoc.json&bc=%2Fen-us%2Fazure%2Fbread%2Ftoc.json) to Create and provision a simulated TPM Edge device on Windows.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in yo

[2018-07-06 11:34] #9574 closed

[2018-07-06 11:42] sergaz-msft commented on #11244
@cocosnuss can you send data to the same IoTHub with a simulated device?

[2018-07-06 12:03] cocosnuss commented on #11244
Yes, that works, although I get a part of the error message. But after that, I receive normal messages
![image](https://user-images.githubusercontent.com/16918068/42377839-4ff90d82-8125-11e8-9200-121c394b44bd.png)

[2018-07-06 12:12] HowardvanRooijen opened #11317 "Test the new APIM API in the Azure portal - these steps don't work"
If you've imported an Azure Function into APIM when you hit test you get a 401 Unauthorized because the Function Authentication Key is not automatically populated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0b38af1-81e7-341a-d7bf-e471ea7585e5
* Version Independent ID: 6d16fd43-249e-5afc-062a-2e019eade30e
* Content

[2018-07-06 12:34] hning86 commented on #10032
signed-off on the PR https://github.com/MicrosoftDocs/azure-docs/pull/10507

[2018-07-06 12:48] SamirFarhat commented on #11255
Hi,
@traviscragg-MSFT, if i have understood well your explanation, my backend servers must provide content URLs, of something served by CDN.
A question please :
1- What is if have changed the file on my blob storage, will the CDN detects that or this is only based on TTL. Is there any other method (like regular hash calculation and comparison)
2- Do we need to use the CDN for all file types, or on

[2018-07-06 12:55] sergaz-msft commented on #11244
And the messages arrive to IoTHub? What I meant by a simulated device is when you run a simulator on your desktop. For example this sample: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-python-python-c2d

Thank you.

[2018-07-06 13:01] jungho commented on #10284
@iainfoulds I don't think the link you provided is the correct.  It is trying to sell me a Surface Pro.  ;-)

[2018-07-06 13:09] sergaz-msft commented on #11293
Thanks for the feedback @CIPop! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-06 13:10] escape208 opened #11318 "Grammar error"
This sentence has too many "aboves" in it...
If multiple proxy servers are installed in your environment, it does not matter which specific proxy server the above procedure above is executed upon.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20524a4a-cae7-bddb-0fb5-4deaa542e2bf
* Version Independent ID: d58d4296-f64b

[2018-07-06 13:13] jomuld opened #11319 "Cached / Uncached IOPS"
In the table of the DS V2 for example, IOPS are mentioned for both cached and uncached disks.
The table does not clarify the relation between cached and uncached: AND or OR?
When both cached and uncached disks are attached, do I get both mentioned IOPS? Or are the mentioned IOPS maxima that can't be added?

Thanks!
Joost

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2018-07-06 13:13] sergaz-msft commented on #11297
Thanks for the feedback @CIPop! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-06 13:15] sergaz-msft commented on #11300
Thanks for the feedback @ChiefWiggum! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-06 13:17] sergaz-msft commented on #11313
Thanks for the feedback @rbarrioss! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-06 13:37] leftmostlane opened #11320 "Encryption"
It would be great if the encryption process was made, much, much, easier for unencrypted drives.  Also, these instructions need a major overhaul, especially for an alert highlighted as "high severity" in the azure security portal.  Perhaps offer a one click "encrypt drive" button in the azure portal or make drives encrypted by default if the security portal is going to categorize unencrypted drive

[2018-07-06 13:37] TomShinder opened #11321 "Doc bug"
https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/diagnostics-template
the security section under the JSON:
"wadlogs":
 .. DataSource name="Security!...

is faulty, in that neither audit failures nor audit success events are collected.  In fact, the JSON is accepted and no errors are raised, even though no audit collection configuration takes place.
That error is in a number of ot

[2018-07-06 13:40] LanderVe opened #11322 "Results are very poor using the API"
The results using the website (https://azure.microsoft.com/en-us/services/cognitive-services/computer-vision/#text) are very good. But when I use the API, it's very poor. How would you explain the difference in the results? I used the exact code from this website and even used images from the website to test (Like the green closed sign).
 i use v2.0 and both westcentralus and westeurope

Does the

[2018-07-06 13:55] jrichview commented on #11255
@TravisCragg-MSFT Thanks for the reply. I knew about the app service caching as I've had to restart them to get updated content in the past.

I can't see a compelling reason to switch to using a CDN since we are accessing storage directly just fine right now. The one possible value appears to be that you can explicitly flush cache on the CDN but not with plain-Jane storage/blob access, correct?

[2018-07-06 13:56] finchl commented on #11091
Please note there appears to be some software dependency.  In attempt to troubleshoot I installed Wire shark to do a network trace.

When running the install again it worked on the member server.  Further analysis it appears that Visual C++ 2017 Redistributable (x64) - 14.11.25325 is required or a version of some description previous to this?

To do the simple install internet connection or connec

[2018-07-06 14:20] #10987 closed

[2018-07-06 14:22] SaurabhSharma-MSFT commented on #11091
@finchl It is good to know that you are unblocked but I am not aware of any software dependency for the msi.

[2018-07-06 14:44] mmacy commented on #10284
@jungho That should be the correct link--scroll down a bit (under the Surface Pro image) to see the Download button:

![image](https://user-images.githubusercontent.com/13394541/42384755-add3719e-80ef-11e8-868c-5803b44499ff.png)

Here's the link without the en-us locale identifier, in case redirection isn't working correctly for you:

https://www.microsoft.com/download/details.aspx?id=41653

[2018-07-06 14:45] waheedhussain commented on #11124
So, still wondering...... if an automated or LTR backup fails for any reason, will Microsoft look into and fix the issue?

Looking from PaaS responsibility sharing perspective, is it Microsoft or Customer's responsibility?

thanks,
Waheed

[2018-07-06 14:47] spottedmahn opened #11324 "Add .gitattributes files to repos to normalize line endings"
Hello 👋 - can you update the repo to address problems like [#577 from the VSTS docs repo](https://github.com/MicrosoftDocs/vsts-docs/pull/577) (proactive change here...)?  Thanks 🙏

Apparently, there is a fix here: [MSFT Docs Issue 362](https://github.com/MicrosoftDocs/feedback/issues/362#issuecomment-402889434)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2018-07-06 14:47] #11270 closed

[2018-07-06 14:47] jeffhebrank opened #11325 "Dynamic parameter list"
I see that the stored procedure name can be dynamic, and the stored procedure parameter values can be dynamic. But I don't know if the number of parameters, or parameter names can be dynamic. It seems to me, if you allow the sproc name to be dynamic, then the parameter names and number of parameters should also be able to be dynamic.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2018-07-06 14:48] tfitzmac commented on #10987
@brentarias - thanks for the suggestion! I have added that content and it should get published this morning.

[2018-07-06 14:52] tfitzmac commented on #11270
@jtuliani - thanks for this suggestion. I have changed the example to use resourceId. The update should be published this morning.

[2018-07-06 14:57] Lhdang88 opened #11326 "feature not preview anymore ?"
I can't see the activation option in my subscription: is the option removed ? is this feature GA ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8da0fc81-b7ed-ebdb-575e-1795f76fb6e6
* Version Independent ID: a6b366dd-1c78-e796-1546-220cf93a49f1
* Content: [Learn how to set time to live value for Azure Cosmos DB docume

[2018-07-06 15:00] Lhdang88 commented on #10382
hello ! Do you have any updates ?

[2018-07-06 15:02] danieljsmarda commented on #11172
@sergaz-msft sorry for not being clear! Yes, that's correct. I can now see what looks like the simulated temperature and humidity data in VSCode (which I've connected to my hub). The red message is gone and it says "Connected" and there are "yes"es in the "Reported by Device" column in the IoTHub. Before, I was using a company network, but everything things to work when using my own hotspot networ

[2018-07-06 15:07] shaunm001 commented on #11277
I’m good, it was crashing in our test environment, but tried it in production and installed successfully.

From: TravisCragg-MSFT [mailto:notifications@github.com]
Sent: Thursday, July 05, 2018 4:31 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Shaun Michelson <smichelson@applereit.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Installing R

[2018-07-06 15:14] #9845 closed

[2018-07-06 15:15] jeffhebrank opened #11327 "Using current loop iteration item in If block"
I have an if condition activity inside a foreach loop activity. I'm trying to reference the item() property in my if activity but it says "@item() syntax can only be used in the filter activity or child activities of a foreach activity"

Is this a bug? Seems like a really useful feature and I don't understand why it would be blocked.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2018-07-06 15:16] lisaguthrie opened #11328 ""Required tools and configurations are missing""
Pop-up error when launching VS Code: "[Azure Dev Spaces] Required tools and configurations to build and debug '[project name]' are missing."

I eventually tracked this down to the fact that for some reason, VS Code wasn't honoring the path set in my system environment variables. So azds.exe was not in my path, as seen in VS Code.

Workaround was to launch VS Code from a command prompt where the PA

[2018-07-06 15:17] MicahMcKittrick-MSFT commented on #11310
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-06 15:18] MicahMcKittrick-MSFT commented on #11319
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-06 15:18] MicahMcKittrick-MSFT commented on #11321
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-06 15:20] lisaguthrie commented on #10960
azds.exe should be in C:\Program Files\Microsoft SDKs\Azure\Azure Dev Spaces CLI (Preview)

If it's not there, you need to run: az aks use-dev-spaces -n [AKS cluster name] -g [resource group name]

We've seen a lot of confusion from customers (including myself, at first :) who start in Visual Studio and then switch to the CLI. They think that they don't need to run the use-dev-spaces command becau

[2018-07-06 15:20] MicahMcKittrick-MSFT commented on #11302
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-06 15:22] MicahMcKittrick-MSFT commented on #11175
Thanks @apwestgarth! Glad to hear we were not just missing something obvious :)

@apercova I will close this out now that we know they are simply not available at this point in time. Let me know if you have any additional questions I can address.

[2018-07-06 15:22] #11175 closed

[2018-07-06 15:24] MicahMcKittrick-MSFT commented on #11285
@petrroll these docs are written for the public version of the portal and not the internal private version. So very likely you will see some differences. I will check the public portal and get back to you.

[2018-07-06 15:35] MicahMcKittrick-MSFT commented on #11060
Thanks @lachie83 for clarifying this for us!

@mhabegger if you feel this feature is something you would like to see implemented into the product we suggest leaving that feedback on UserVoice:

https://feedback.azure.com/forums/602224-azure-container-instances

This is where we have customer provide feature suggestions. Other users can upvote the feature and then depending on the number of asks th

[2018-07-06 15:35] #11060 closed

[2018-07-06 15:36] airwolfnh opened #11330 "Security groups."
I have created a security group + your tutorial, the problem is that I can't attach my security group to the subnet the terraform is automatically creating. How can I attach my security group to the subnet that k8s is running?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c22b6ec6-7a27-4029-ff8f-674a40c0e552
* Version

[2018-07-06 15:38] YutongTie-MSFT commented on #11291
@the-chad-at-ms
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-06 15:51] YutongTie-MSFT commented on #11298
@ToMakeSense Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@ecfan Hi, this is a [document ](https://docs.microsoft.com/en-us/azure/connectors/apis-list#managed-api-connectors)suggestion, in the 'How-to-guides'->'Connectors-In depth topic', this is not a link to ['SFTP'](https://docs.microsoft.com/en-us/azure

[2018-07-06 15:53] iainfoulds commented on #11228
Hi, @vlindhol. I don't know of a specific subset of addresses, but we're following up with engineering to see if there's anything available. The closest that I know of are the broader range of Azure datacenter address ranges - https://www.microsoft.com/download/details.aspx?id=41653. That list is updated weekly, with some lead time when new ranges are added.

#in-progress

[2018-07-06 15:54] YutongTie-MSFT commented on #11301
@AlexanderTodorovic
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-06 15:55] YutongTie-MSFT commented on #11303
@polarapfel
Thanks for the feedback! We are currently investigating and will update you shortly.