[2020-02-21 00:34] Mike-Ubezzi-MSFT commented on #47265
@skyarkitekten We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-21 00:34] #47265 closed

[2020-02-21 00:37] MicrosoftGuyJFlo commented on #47664
policy has been updated to reflect the need to exclude an account

[2020-02-21 00:37] MicrosoftGuyJFlo commented on #47664
#please-close

[2020-02-21 00:37] #47664 closed

[2020-02-21 00:44] MicrosoftGuyJFlo commented on #47708
This is a support issue not a docs issue. Please open a case with support to troubleshoot this further.

[2020-02-21 00:44] MicrosoftGuyJFlo commented on #47708
#please-close

[2020-02-21 00:44] #47708 closed

[2020-02-21 00:46] MicrosoftGuyJFlo commented on #36960
Being resolved through a private PR. Closing.

[2020-02-21 00:46] MicrosoftGuyJFlo commented on #36960
#please-close

[2020-02-21 00:46] #36960 closed

[2020-02-21 00:47] Grace-MacJones-MSFT commented on #48432
Upon further review we feel your feedback would be best received by the doc author to determine if an update to the current doc is necessary, or to create a new doc if they align with the feedback.

[2020-02-21 00:49] kanandaraj commented on #48529
Hello,

The content was updated properly.

Thank you.

On Thu 20 Feb, 2020 3:52 pm KrishnaG-MSFT, <notifications@github.com> wrote:

[2020-02-21 00:50] HJToland3 commented on #48591
@randomor, we haven't yet enabled RDS for CLI, and so the RDS endpoint hasn't been added.

However, the scenario should be RDS/regular agnostic, so technically you should be able to use the regular PG source enum for an RDS migration.

[2020-02-21 01:01] Kazzan commented on #43961
But all, be careful. If you disable and delete also Classic Conditional Access Policies to Microsoft Defender ATP or other MTD integrated with Intune, it gets broken!

[2020-02-21 01:03] DarrenLo commented on #10607
This is still a current issue. Just tested the [documented steps](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/instance-metadata-service) and they found just empty string for the public IP address for both of:
`curl -H Metadata:true "http://169.254.169.254/metadata/instance/network?api-version=2017-08-01"`
and
`curl -H Metadata:true "http://169.254.169.254/metadata/instance/netw

[2020-02-21 01:26] MichyoSYN opened #48617 "What is the token mentioned in the first step and what's detail flow for RBAC works?"
Hi engineer,

I am wondering about what is the token mentioned in the first two steps of https://docs.microsoft.com/en-us/azure/role-based-access-control/overview#how-rbac-determines-if-a-user-has-access-to-a-resource.
And since the steps are too highlevel, what's the detail flow for RBAC works?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-02-21 01:33] markdj opened #48620 "Is it possible to use sql server Always encrypted with shard maps?"
I'm trying to find if there's any way to use both sql server alway encrypted column encryption and shard maps. Using always encrypted requires adding: "Column Encryption Setting=enabled;" to the connection string, but that results in exceptions when trying to open shard connection with:
shardMap.OpenConnectionForKey&lt;Guid&gt;(shardingKey, ConnString, ConnectionOptions.None);
Exception: Keyword n

[2020-02-21 01:47] markjbrown commented on #47481
We didn't do an announcement for the API version change but the change you point out is what changed. We could not use the resource paths like databaseAccounts/apis/databases because "apis" is not an actual ARM resource. End result was users could not export child resources "database", "container", "throughput" from their deployments into a template as the resource paths we used broke the ARM reso

[2020-02-21 01:48] femsulu commented on #48156
Hi @sbhuttan  - yes, same storage can be used for multiple resources assuming they are in the same region/location. The example below shows 2 resources hosted on South Central US (1 VM, 1 App Service) configured to log diagnostic settings to the same Storage resource (adamsworkspacestorage) also hosted in South Central US. Hope this helps.

App service – send to storage
![image](https://user-image

[2020-02-21 01:48] quillypowers commented on #48343
I found some older powershell commands that worked to delete/create the pagefile. Not 100% if I should be doing this with scratch storage so will leave open for now.

[2020-02-21 01:48] femsulu commented on #48156
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-02-21 01:49] #48156 closed

[2020-02-21 01:53] kobulloc-MSFT commented on #48326
@SychevIgor For our [codeless supported platforms and frameworks](https://docs.microsoft.com/en-us/azure/azure-monitor/app/platforms#instrumentation-for-already-deployed-applications-codeless-agent-based), it appears that we currently do not allow codeless-attach applications to customize CloudRoleName:

**[Open for Discussion] Cloud Role Name (Knowledge Gap & How to customize)** - Mar 8, 2019
htt

[2020-02-21 01:55] femsulu commented on #48617
@MichyoSYN, Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-02-21 02:11] ericgoode commented on #47865
I get the same results on this. I also cannot add parameters to a URI using the "?" e.g. somehost.com/uripath?param1=value1 using this. I just get a 502 bad gateway.

[2020-02-21 02:42] cecilphillip opened #48629 "App Configuration GA updates"
When creating the resource in the Azure portal, I noticed the latest App Configuration create pane includes a pricing tier. That’s missing from the screenshot in this doc. Also, this quickstart never shows how to add or toggle the feature flag setting.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3de19743-3ef7-893b-d

[2020-02-21 02:46] imshreya commented on #48240
@yingqunpku can please assist me on this issue?

[2020-02-21 02:53] neeleshray-msft commented on #48545
@vijayraavi Could you share which document you are referring to ?
It would help us to assist you better on the same.

[2020-02-21 03:02] spar opened #48630 "message not being sent to service bus"
trying the first example in this page, no error and no message in the queue. what are the steps to trouble shoot this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1752a37b-b40a-5613-3416-fd604b281dbc
* Version Independent ID: f088004f-f80e-ba5c-e08e-c76ac395c809
* Content: [Azure Service Bus bindings for Azure Funct

[2020-02-21 03:07] ram-msft commented on #48604
@zaalion Thanks for the question. We are investigating the issue and will update you shortly.

[2020-02-21 03:09] DixitArora-MSFT commented on #48630
Hi @spar Thanks for reaching out. We will review and update as appropriate.

[2020-02-21 03:16] msjuergent commented on #46036
Thanks Klaas,
I got a similar message from one of our CSAs today. I will change that for sure. The document is currently in a Pull request anyway. Hence I can change it immediately. I am waiting for some feedback for the PR since it has changes in 7 other documents. I hope to release over the weekend.

Thanks again for your patience and persistence  Juergen

From: Klaas Demter <notifications@githu

[2020-02-21 03:23] madhuraprasanna commented on #40694
Thank you @nibaccam , but doc seems to point at the limit set for the script themselves, but I am interested in the limit set for the log/metrics(which is being discussed in the thread above)

[2020-02-21 03:36] v-hakob opened #48632 "Request to update the information about the storage limits for ASE."
1. By default, in an ASE V2, 250GB of storage is added per ASP up to 1TB limit. There is no way for the customer to increase the storage limit from 250 GB to 1TB. They need to submit the SR, and the support team needs to request it via ICM.
2. When the engineer increase the quota to 1TB, the max limit would be 999GiB instead of 1TB.  I heard it is intentional and MS's standard operating procedure

[2020-02-21 03:49] CHEEKATLAPRADEEP-MSFT commented on #48548
@paragsangoi  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community

[2020-02-21 03:50] CHEEKATLAPRADEEP-MSFT commented on #48559
@tharanga2006  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum communit

[2020-02-21 03:53] ram-msft commented on #48616
@qiudashi Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-02-21 04:03] robinsh commented on #48533
Thank you, Reza.

From: Reza Sherafat <notifications@github.com>
Sent: Thursday, February 20, 2020 3:00 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Robin Shahan <Robin.Shahan@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Prerequisites need to be redefined as Visual Studio may not be needed for Linux (#48533)

I think building t

[2020-02-21 04:05] VikasPullagura-MSFT commented on #48470
@diecknet Doc is updated, changes will go live soon.

[2020-02-21 04:05] MartinJaffer-MSFT commented on #48124
@timmo001  I will assign the issue to author for clarification.

@nabhishek Can you give comment?

[2020-02-21 04:23] SwathiDhanwada-MSFT commented on #48632
@v-hakob Thanks for your comment. We are actively looking into it and will get back to you shortly.

[2020-02-21 04:27] Mike-Ubezzi-MSFT commented on #48611
@MasayaAUT Please let us know if you need assistance or are looking for something specific.

[2020-02-21 04:27] SwathiDhanwada-MSFT commented on #36395
Thanks for your response @andrewatfornax . We will close the issue for now. If you have further questions,kindly revert and we will be very glad to assist you.

[2020-02-21 04:27] #36395 closed

[2020-02-21 04:27] damendo commented on #47987
I've added the networkWatcherFlowAnalyticsConfiguration object. Change should be out within a day

[2020-02-21 04:27] damendo commented on #47987
#please-close

[2020-02-21 04:27] #47987 closed

[2020-02-21 04:28] damendo commented on #48574
That seems like a bug. Let me check internally and get back.

[2020-02-21 04:29] ragewaar opened #48633 "Office 365 A5 Students/Teachers Missing"
License SKU: ee656612-49fa-43e5-b67e-cb1fdf7699df (Office 365 A5 for students) is missing. I would also expect the Office 365 A5 for Teachers will need to be added as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2

[2020-02-21 04:47] souravmishra-msft commented on #48418
Closing this thread for now.

[2020-02-21 04:47] #48418 closed

[2020-02-21 04:57] PavaraTharkana commented on #48304
Hi @normesta I think that was the case. Thank you.

[2020-02-21 04:57] #48304 closed

[2020-02-21 04:58] RohitMungi-MSFT commented on #48414
@oo2316oo We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-02-21 04:58] #48414 closed

[2020-02-21 05:04] RohitMungi-MSFT commented on #48427
@MikeCodesDotNET Yes, I do agree for a new user referencing the code from other repo might be confusing. I would request the content author of this document to check if it is possible to include the complete implementation. @PatrickFarley Could you please review above comments and check if complete snippets can be added?

[2020-02-21 05:05] #47205 closed

[2020-02-21 05:13] RohitMungi-MSFT commented on #48429
@PatrickFarley Could you please review if complete snippets from source repo can be added to the documentation?

[2020-02-21 05:20] SwathiDhanwada-MSFT commented on #48303
@tfitzmac Can you please provide your inputs on the issue?

[2020-02-21 05:22] JelmerBarhorst commented on #46337
I would like to be able to configure a policy in Intune to push the configuration xml to a client. Can I already use a OMA-URI for this until an option in the UI is available?

[2020-02-21 05:24] SnehaAgrawal-MSFT commented on #48543
@euyuil Thanks for asking question! Yes, you are correct we have limit, you may refer to this link:
https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#app-service-limits

![image](https://user-images.githubusercontent.com/46553948/75006664-83ba2c80-5498-11ea-867c-d58120c17cc4.png)

[2020-02-21 05:25] yingqunpku commented on #48240
@imshreya  maxAnomalyRatio is between 0 and 0.5. It is a parameter to specify the maximum ratio of anomalies. Ratio means number of anomalies / number of data points passed in the API call.
The smaller maxAnomalyRatio normally means higher bar for anomalies and fewer anomalies consequently.

[2020-02-21 05:29] SumanthMarigowda-MSFT commented on #48525
@CHDAFNI-MSFT It won't bypass VM limits.

[2020-02-21 05:31] robcamer opened #48634 "When you read the page, you still do not know what to set on the Templates"
[Enter feedback here]
The document on this page and the "Registration Management Page" is essentially useless when trying to determine what to set on "Templates" for an Installation.  The documentation does not even mention the need to use the InstallationTemplate class, which is inferred by the type on the class Installation.Templates.

This page spends the majority of the time describing platfor

[2020-02-21 05:33] SumanthMarigowda-MSFT commented on #47964
@giovannifl Apologies for delay in responding here! ADE does not support S2D encryption (per https://docs.microsoft.com/en-us/azure/virtual-machines/windows/disk-encryption-windows#unsupported-scenarios) and there is currently no plan to add support for this scenario.

[2020-02-21 05:34] #47964 closed

[2020-02-21 05:38] SumanthMarigowda-MSFT commented on #48277
@bigtfromaz PR request has been raised! The content author will review and update the document as appropriate.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-21 05:38] #48277 closed

[2020-02-21 05:41] SumanthMarigowda-MSFT commented on #48309
@dcbrown16 Apologies for delay in responding here!
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-21 05:51] darzu opened #48635 "How can we restrict the scope on a Service Principle?"
There is this note: "It is always a good practice to grant minimum access. You could restrict scope in the above Az CLI command to the specific App Service app and the Azure Container Registry where the container images are pushed to."
Indeed, we would like to restrict the scope as much as possible for our production environment. Can you please provide a quick example of how to do this or link to

[2020-02-21 06:08] darzu opened #48637 "Missing step: creating the workflow.yaml file"
This step: "Now in the workflow file in your branch: .github/workflows/workflow.yml replace the secret in Azure login action with your secret."
assumes the existence of a workflow.yml file, yet the prerequisites nor earlier steps explain how to set this up. I assume the intention was for us to add this Github Action: https://github.com/Azure/webapps-container-deploy

---
#### Document Details

⚠ *

[2020-02-21 06:08] SubhashVasarapu-MSFT commented on #48580
@ghills , We are looking into this query and will update you as soon as possible.

[2020-02-21 06:09] lransona commented on #30046
I am sorry but in my understanding, the answer is more to say about ASE and ISE and it is to focus on no functional requirements. Clearly, ISE and ASE are different, based on the technical description DixiArora provided about ISE but he doesn't say anything about ASE.

I am involved in a project where I need to decide about using ASE or ISE. I need to deploy Logic Apps (ESB, Event Grid, FTP Logic

[2020-02-21 06:09] SubhashVasarapu-MSFT commented on #48576
@jjindrich , @michalmar , We are looking into this query and will update you as soon as possible.

[2020-02-21 06:24] chintanr97 opened #48638 "The PowerShell automation script or command for ABW does not work"
Documentation link:
https://docs.microsoft.com/en-us/azure/blockchain/workbench/deploy

The command to run the PowerShell script that automates the AAD configuration with Azure Blockchain Workbench is not working. The error thrown is as follows:

[code]

Signed-off-by: Chintan Rajvir <chintanr97@gmail.com>
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical doc

[2020-02-21 06:25] chintanr97 opened #48639 "The PowerShell automation script or command for ABW does not work"
The command to run the PowerShell script that automates the AAD configuration with Azure Blockchain Workbench is not working. The error thrown is as follows:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3eb2e7c5-e153-4067-ae8c-45eb64add7da
* Version Independent ID: 3c87633d-44b7-525d-0e29-75f2d4bcbf2b
* Conte

[2020-02-21 06:25] #48638 closed

[2020-02-21 06:27] chintanr97 commented on #48639
I am copying the command as it is from ABW URL. I have just trimmed of the values for stating out the issue.

[2020-02-21 06:28] SumanthMarigowda-MSFT commented on #48600
@cmcapellan Thanks for your question. We are checking on this and will respond to you soon.

[2020-02-21 06:39] SnehaAgrawal-MSFT commented on #48635
@darzu Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-21 06:40] yashwanth-yenugu opened #48640 "By when will Azure AD B2C with SAML be in GA?"
I got to know from support team that Azure AD B2C using SAML is in public preview. From when is that in preview? and when can I expect that to be in GA?

[2020-02-21 06:40] SnehaAgrawal-MSFT commented on #48637
@darzu Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-21 06:42] SnehaAgrawal-MSFT commented on #48634
@robcamer Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-21 06:45] AjayKumar-MSFT commented on #48629
@cecilphillip, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-02-21 06:56] jakaruna-MSFT commented on #48578
@ChrisJr4Eva1987 please share if you have any  actual feedback regarding the azure documentation

[2020-02-21 06:58] jakaruna-MSFT commented on #48602
@saulcp95
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-21 07:02] jakaruna-MSFT commented on #48594
@khilscher
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-21 07:14] vipeketi commented on #47951
@ctm8788 Could you please, share HAR logs from your browser for the scenario.

[2020-02-21 07:22] jishansiddique opened #48641 "How many document allowed in one request Azure search While creating new actions `IndexBatch.New(actions)`?"
I'm not getting Azure max limit document post in one Request.

Just I Want to know is there any official link that shows the max limit per indexer in the azure server as per the purchased plan [Click Me.](https://azure.microsoft.com/en-in/pricing/details/search/)

Here the azure Offical Indexer limits [Click Me](https://docs.microsoft.com/en-us/azure/search/search-limits-quotas-capacity#indexer-li

[2020-02-21 07:23] tom-ditlev commented on #48544
Thank you very much. I have a couple of addition questions / observations :-)

Can we expect this to be handled atonusmously in the future? Or should we expect to have to do these kind of tickets?

Also the document states: "The data will also be available through API soon." Can you provide a updated status on that?

Finally in the current CSV you find two "outliers":

InstanceSizeFlexibilityGroup

[2020-02-21 07:26] ncarandini commented on #48212
Thanks, I'll give a brand new try and report here.

[2020-02-21 07:35] januschr commented on #40941
We are in the same situation as @JeromeVigne: App Gateway v1 as front-end to API Management, the health probe is unhealthy with the "Backend server certificate is not whitelisted with Application Gateway." error. The v2 SKU is not an option at the moment due to lack of UDR support.
@JeromeVigne did you find a solution in your setup?

[2020-02-21 07:44] maktantt opened #48642 "About the wrong link."
Title: Install the Azure AD Connect provisioning agent
The link in "2. Download the Azure AD Connect cloud provisioning agent here" Is incorrect.

The URL below is Azure AD Connect.
https://www.microsoft.com/en-us/download/details.aspx?id=47594

I believe that Azure AD Connect cloud provisioning is correct to install from the portal. I believe the following URL is correct.
https://docs.microsoft.c

[2020-02-21 07:44] souravmishra-msft commented on #46953
Closing this issue for now

[2020-02-21 07:44] #46953 closed

[2020-02-21 07:47] NorbertWallentin commented on #34955
Interestingly, I have an issue with using the $twin.Properties.Desired Variable:
Lets say I have $twin.Properties.Desired.MyDecoders enriched on the Message.

Now what I do is to save the History of the MyDecoder Property as a seperate Property, that is called MyPropertyVersion3.

Now here is the Issue: The $twin.Properties.Desired.MyDecoder Enrichment will sometimes Enrich the Value of MyProperty

[2020-02-21 07:48] DixitArora-MSFT commented on #48260
@estensen I have assigned this to content author for further review and update as appropriate.

[2020-02-21 07:50] DixitArora-MSFT commented on #48342
@JoshFlory Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-21 07:50] #48342 closed

[2020-02-21 07:50] adrianm64 opened #48643 "Breaking changes should mention Json.Net vs System.Text.Json"
V3 uses System.Text.Json for json binding of function arguments instead of Json.Net used in V1 & V2. System.Text.Json has very different defaults, attributes and converters

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1df5e2bd-489d-19b2-87d3-d993ebb82021
* Version Independent ID: 9e9d9ded-8f40-22be-4654-48c87f2c59e8

[2020-02-21 07:51] SnehaAgrawal-MSFT commented on #48523
@nelroosevelt Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-02-21 07:51] DixitArora-MSFT commented on #48487
@brandonh-msft Just following up again in case missed the previous communication.

[2020-02-21 07:54] #48505 closed

[2020-02-21 07:54] DixitArora-MSFT commented on #48431
@josefblaha I have assigned this to content author for further review and update as appropriate.

[2020-02-21 07:55] SnehaAgrawal-MSFT commented on #48505
@aaronclare3 Thanks again for the feedback! I have created pull request It will be visible soon.

[2020-02-21 07:56] folkol opened #48644 "Who is responsible for the maintenance of the Gateway VMs?"
Are these Gateway VMs managed completely by Microsoft, or is the customer responsible for IDS/security patches/restarts/etc?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45d7ab31-fdf3-9b0f-1439-6a01fb257aab
* Version Independent ID: af13a45f-3061-2f0e-7452-b52d700b4805
* Content: [About Azure VPN Gateway](https://doc

[2020-02-21 07:57] SnehaAgrawal-MSFT commented on #48241
@gpj1 Since we didn’t hear from you. We will now close this out but if you feel you need more information please just let us know.

[2020-02-21 07:57] #48241 closed

[2020-02-21 08:00] SychevIgor opened #48645 "Update screenshot to current UX state"
https://docs.microsoft.com/en-us/azure/azure-monitor/app/media/proactive-performance-diagnostics/smart_detection_configuration.png
Configuration looks different from what was shown in an article
Please, actualize.

Current UX:
![image](https://user-images.githubusercontent.com/578954/75015351-75204500-5499-11ea-8b88-22c4967a17c1.png)
![image](https://user-images.githubusercontent.com/578954/750153

[2020-02-21 08:03] DixitArora-MSFT commented on #48311
@jikuja I have assigned this to content author for further review and update as appropriate.

[2020-02-21 08:04] ncarandini commented on #48212
I've tried right now with a new App registration (preview) and this time the Implicit grant section is indeed present. I'm sorry I didn't make a screenshot but I can assure last time (when I posted the issue) it wasn't there, with the same steps I've done today.
Anyway, I can confirm it actually works.

[2020-02-21 08:04] #48212 closed

[2020-02-21 08:09] sgdesmet commented on #48587
Hello @KrishnaG-MSFT , this issue wasn't solved. I closed the duplicate because it was missing the necessary metadata when I created it. Can this or the duplicate be reopened?

[2020-02-21 08:10] sgdesmet commented on #48588
Hello @KrishnaG-MSFT , this issue wasn't solved. I closed the duplicate because it was missing the necessary metadata when I created it. Can this or the duplicate be reopened?

[2020-02-21 08:10] SnehaAgrawal-MSFT commented on #48495
@schellem There are number of possibility error is coming. I have done repro for the same and it works fine, request you to share screen shot of this to help you better on this.

[2020-02-21 08:20] Adebeer commented on #48295
@SnehaGunda
Happy to - although I'm a bit confused with your comment saying it uses port 10255 by default - my conversations and testing indicates 10250 (Note: the emulator UI incorrectly shows port 10255). What was the version of emulator you used? The latest I can find from [msdocs](https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator#installation) is **azure-cosmosdb-emulator-2.9.1-b

[2020-02-21 08:22] olagerw commented on #47609
Could it be that "Feature Update to Windows 10, version 1909" is classified as an "Upgrade" in Update Management and not an update? Rest of the updates work fine on our Windows 10 VM's but Update Management keeps complaining that this needs to be installed.

[2020-02-21 08:24] SychevIgor opened #48646 "Add information about issue types in scope of this feature"
I see, that feature is in a preview, but still - it would be nice to know what I can expect as a user.
There are multiple Azure security features/services and it's unclear what part of the scope- this feature will cover.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e39e477a-bfe2-db78-c641-42a491359f9b
* Version Indep

[2020-02-21 08:27] jeremytcorp opened #48647 "UseAzureKeyVault has been removed"
The `UseAzureKeyVault` method was removed in the following commit: https://github.com/Azure/AppConfiguration-DotnetProvider/commit/d0da5dcc500c9e1edfcfddf38893102fc8c34061#diff-3be003e0f55525c62cbeec2d6654e63f

There is no example now showing how to properly setup Key Vault to use a Managed Identity as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-02-21 08:29] MohitVerma-MSFT commented on #48224
Hello @SychevIgor ,

Assigned content-author for further review.

[2020-02-21 08:35] KrishnaG-MSFT commented on #48587
@sgdesmet Sure. Reopened #48584

[2020-02-21 08:35] KrishnaG-MSFT commented on #48588
@sgdesmet Sure. Reopened #48579

[2020-02-21 08:36] #48587 closed

[2020-02-21 08:37] #48588 closed

[2020-02-21 08:37] SwathiDhanwada-MSFT commented on #48645
@Schevlgor Thanks for your comment. We are actively looking into it and will get back to you shortly.

[2020-02-21 08:41] yucwan commented on #48476
@everythingeverywhere Thanks a lot for reporting this, fixing.

[2020-02-21 08:45] amanmcse commented on #48299
I am closing the thread now. Please tag me in your reply if you have any question.

[2020-02-21 08:45] #48299 closed

[2020-02-21 08:49] ToMakeSense commented on #32360
@mike-urnun-msft

I knew the AzureRM and Az powershell official documentation very well, I could google or use `Get-Help New-AzLogicApp -Online` in powershell to get it.

By the way, the documentation below are still the same.
* [New-AzLogicApp](https://docs.microsoft.com/zh-cn/powershell/module/az.logicapp/New-AzLogicApp)
* [Set-AzLogicApp](https://docs.microsoft.com/zh-cn/powershell/module/az.lo

[2020-02-21 08:51] KrishnaG-MSFT commented on #48239
Closing this issue for now as there is no response on the previous comment.

[2020-02-21 08:51] #48239 closed

[2020-02-21 08:54] Klaas- commented on #46036
@msjuergent can you link to the PR? I couldn't find it.

[2020-02-21 08:55] KrishnaG-MSFT commented on #48638
Duplicate of #48639

[2020-02-21 08:56] KrishnaG-MSFT commented on #48639
@chintanr97 Thanks for your comment! We will review and provide an update as appropriate.

[2020-02-21 09:00] SychevIgor opened #48648 "Could you describe "Machine learning algorithms" with detailes?"
Please, describe a bit what could we expect from "Machine learning algorithms"?
I can imagine how to compare average exception rate in some 7d timewindows with results collected during past hour and it's don't require ML.

What can we expect from "Machine learning algorithms" - please describe?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-02-21 09:01] KrishnaG-MSFT commented on #48370
Assigning content owner @bobbytreed for visibility, review, to provide insights if any and for document enhancement consideration if appropriate.

[2020-02-21 09:02] giovannifl commented on #46970
Hi @Karishma-Tiwari-MSFT ,
@MashaMSFT has answered to my question.
Thanks

[2020-02-21 09:05] SubhashVasarapu-MSFT commented on #48644
@folkol , We are looking into this query and will update you as soon as possible.

[2020-02-21 09:11] CHEEKATLAPRADEEP-MSFT commented on #48383
@JoshFlory  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-21 09:11] #48383 closed

[2020-02-21 09:17] AshokPeddakotla-MSFT commented on #48639
@chintanr97 There were some recent changes to Azure Cloud Shell. While we are working on a solution, here is some workaround:

Before running cd; Invoke-WebRequest -Uri https://aka.ms/workbenchAADSetupScript -OutFile workbenchAADSetupScript.ps1; ./workbenchAADSetupScript.ps1 -SubscriptionID *** -ResourceGroupName *** -DeploymentId ***

Run **Remove-Item -Path Function:\Connect-AzureAD** in your Az

[2020-02-21 09:21] SubhashVasarapu-MSFT commented on #48561
@woutervanranst , Appreciate your patience. Yes it is depreciated as you noticed but still yielding results for some more time till there is a new release. So here is the updated command where config will be interchanged with policy,
[code]
More Sub-Commands to work with,
[code]
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly

[2020-02-21 09:21] #48561 closed

[2020-02-21 09:24] VikasPullagura-MSFT commented on #48285
@ticianaciminari As confirmed by the user on the [original post](https://github.com/MicrosoftDocs/azure-docs.zh-tw/issues/612#issuecomment-589087705) that the issue is resolved, closing the issue.

[2020-02-21 09:24] #48285 closed

[2020-02-21 09:40] aminerahmouni opened #48649 "Workbook Contributor, Workbook Reader, Tag Contributor Roles missing"
Workbook Contributor, Workbook Reader, Tag Contributor roles are showing up on Azure Portal, but not reflected in this page.

Please check screenshot below

![image](https://user-images.githubusercontent.com/948781/75023237-e6b7bd80-54b0-11ea-8db7-2f72b5ebebd6.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99581af

[2020-02-21 09:52] SubhashVasarapu-MSFT commented on #48555
@janus-christensen , I would request you to go through the doc where it was listed under PowerShell block of code while creating Application Gateway.
Screenshot for your reference,
![image](https://user-images.githubusercontent.com/44890829/75023372-b7f41400-54bd-11ea-8e3e-90f4467d3245.png)
We are closing this issue for now. If there are further questions regarding this matter, please reply and we

[2020-02-21 09:52] #48555 closed

[2020-02-21 09:58] SwathiDhanwada-MSFT commented on #48245
@SamBlakeC I tried to repro the issue from my end and I don't see any errors.I have also checked schedule script and it does convert whatif "TRUE" to $true automatically.

![image](https://user-images.githubusercontent.com/48976275/75023846-80d23280-54be-11ea-8611-d1aa8941e8a4.png)

As this channel is mainly for documentations issues, we will close the issue for now. If you have further questions,

[2020-02-21 09:58] #48245 closed

[2020-02-21 09:58] SubhashVasarapu-MSFT commented on #48409
@tmmueller , What do you mean by "US" not working here? Do you mean the rules were not working exactly with -MatchValue "US"?

[2020-02-21 10:03] Fulgan opened #48650 "Providing local configuration isn't very useful"
The step to properly configure an application running in Azure is far from clear and so is the fact that the steps on this page WILL NOT WORK ANYWHERE BUT ON A LOCAL DEV MACHINE.
This is a rather critical failure because:
- It requires everyone on the team to perform the config
- It gives no useful pointer as to how to properly configure the application when deplyoed in Azure App service.
- If fol

[2020-02-21 10:04] bingofingers commented on #48354
Thanks. I think we are now looking at Diagnostics to get our data across to
an event hub as there seems no easy path to get from log analytics to an
event hub.

Cheers Bharath

On Thu, Feb 20, 2020 at 5:46 PM BharathNimmala-MSFT <
notifications@github.com> wrote:

[2020-02-21 10:05] SychevIgor opened #48651 "Did we missed "FailureAnomaliesDetector" from table with anomalies names?"
https://docs.microsoft.com/en-us/azure/azure-monitor/app/proactive-arm-config#smart-detection-rule-names
In this table we have all mentioned names, except of "FailureAnomaliesDetector"
Looks like it's absent because table is for "non-global" alerts, but if such - please highlight it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2020-02-21 10:07] yashwanth-yenugu opened #48652 "Documentation doesn't mention about the github repo for the site https://samltestapp2.azurewebsites.net/"
I was following the doc [https://docs.microsoft.com/en-us/azure/active-directory-b2c/connect-with-saml-service-providers](url) where it was mentioned to use the SAML test app  [https://samltestapp2.azurewebsites.net/](url)
Where Can I find the github repo for the test app?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-02-21 10:10] DixitArora-MSFT commented on #48643
Hi @adrianm64 Thanks for your feedback. We will review and update as appropriate.

[2020-02-21 10:18] SubhashVasarapu-MSFT commented on #48308
@juanand , Appreciate your patience. Could you please elaborate your issue? As I can create a service endpoint policy from Azure portal with out any error or warning. Would like to understand more.

[2020-02-21 10:21] chintanr97 commented on #48639
Thanks! It worked!

[2020-02-21 10:25] euyuil commented on #48543
Hi @SnehaAgrawal-MSFT

Thanks for the reply. However, I didn't mean the limit of the custom domains per app. What I meant was the limit of the number of **App Service Domains** in a subscription.

Having an App Service Domain doesn't require associating it with an App Service. I can configure DNS records of it for any services including App Services.

App Service Domains are a kind of resources in

[2020-02-21 10:30] VikasPullagura-MSFT commented on #48582
@Benjiiim Doc is updated, changes will go live soon.

[2020-02-21 10:31] #48582 closed

[2020-02-21 10:31] #48639 closed

[2020-02-21 10:32] juanand commented on #48308
Hi,

The issue is that there is no documentation about using Service Endpoint Policy aliases feature.
If you go to https://portal.azure.com/?feature.customportal=false#create/microsoft.ServiceEndpointPolicy-Arm you will see new “Add an alias” option that is not described anywhere in https://aka.ms/sepolicydoc, that BTW still shows that Service Endpoint Policy feature is in Preview.

[cid:image002.

[2020-02-21 10:35] vijay-gowda opened #48653 "Can we setup restful api proxy in front of our existing soap apis?"
Can we setup restful api proxy in front of our existing soap apis?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21fbb610-abd2-8836-7d65-d2c880fc7cd9
* Version Independent ID: 33502c62-7ecf-67a9-f687-ae1bea3c9fb4
* Content: [Feature-based comparison of the Azure API Management tiers](https://docs.microsoft.com/en-us/a

[2020-02-21 10:35] Jayesh040 opened #48654 "How to Rehydrate an archived blob to an online tier with High priority (preview)."
I have a container with almost more then 2k-3k+ blobs archived. I want to rehydrate it to cool tier with High priority feature.
Is there any documentation for the same ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d8113f5-2769-908d-5fe4-36c5c401fbd9
* Version Independent ID: f5965772-6b05-55fa-a2d0-7f6ffb035b65
* C

[2020-02-21 10:42] Jayesh040 commented on #48654
I want to rehydrate it to cool tier with High priority via powershell or anyother tool.

[2020-02-21 10:43] springcomp opened #48655 "How to setup SSH key only authentication and user / password authentication"
We provisionned a Linux VM and are able to connect to it via SSH using _device login_ for administrative access.

This machine purpose is to host the SSH server to act as an SFTP-SSH server.
Therefore, we need to configure regulars users, with the following authentication methods:

- SSH Public key authentication with private key passphrase.
- username / password authentication

We found no matter

[2020-02-21 10:55] rcappello commented on #34331
I have the same issue, I can't leave an organization where my account was blocked and I can't reach the subscription owner to unlock my account.
So how can I leave that organization?

This problem let me unable to navigate to https://account.activedirectory.windowsazure.com because I always receive the error "Your account has been locked. Contact your support person to unlock it, then try again.".

[2020-02-21 11:00] LockTar opened #48656 "Update the documentation for runtime ~3"
This documentation is behind. Update the page so it makes clear there is ~3,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07d8c45a-8f08-4c87-ae0d-9fbb901ed402
* Version Independent ID: 73c96870-96d3-5859-a0b9-1c69c3b11300
* Content: [How to target Azure Functions runtime versions](https://docs.microsoft.com/en-us/azu

[2020-02-21 11:03] DOliana commented on #47481
It's difficult to try, since my database + collections exist and are being used. I assume it will work.

Is the requirement to have the throughput specified documented somewhere (the errormessage sounds differently)?

[2020-02-21 11:31] danielquest commented on #48198
I absolutely agree I does look over complicated if you pick traffic manager as base where you select what is the traffic routing method (performance, weight, priority) would be very beneficial for people configuring it.

[2020-02-21 11:44] PramodValavala-MSFT commented on #48653
@vijay-gowda APIM supports this feature out of the box. You can [import your SOAP API and convert it to REST](https://docs.microsoft.com/en-us/azure/api-management/restify-soap-api).

[2020-02-21 11:45] mziada opened #48657 ""Other clients" doesn't determine device platform"
It is mentioned in this page that I can define which device platform to block legacy auth "Other clients" on but sign-ins don't show the operating system the auth was used on, rather shows blank. This is not the case with all other auth like Modern or Activesync.
So when using Other clients, the only option is "Any device" or "None". this needs to be updated.

---
#### Document Details

⚠ *Do not

[2020-02-21 11:45] PramodValavala-MSFT commented on #48451
@oatsoda Just following up here... Hope my previous comment clears things up.

[2020-02-21 11:47] PramodValavala-MSFT commented on #48542
@yinoa I believe that is out of scope for this document since the focus here is on deploying APIM into a VNET and its required setup.

The ARM APIs power the Azure Portal and [PowerShell cmdlets for automation](https://docs.microsoft.com/en-us/azure/api-management/automation-manage-api-management) which are separate topics of their own and are covered in their own docs. These are preferred over us

[2020-02-21 11:56] mikedangel commented on #48281
"I’ve looked at the sign-in logs and there is no more detailed information about which protocols are used, and even if there was more detailed information there, the line "The Client App field under the Basic Info tab will indicate which legacy authentication protocol was used." Is inaccurate – it does not indicate a protocol of any kind, but rather a class of clients"
I agree.
In this way is impo

[2020-02-21 12:08] schellem commented on #48495
Started from scratch again, this time the restore did not throw any errors like it did when I ran it the other day, I’ve done nothing to try and resolve this as I’m pretty much clueless about Core. 30+ years of experience as a Microsoft developer but see you all are not making the move to Core very easy.

I think I ran the restore twice when I tried this before but can’t be sure of that.

Now I ge

[2020-02-21 13:09] pijemcolu commented on #41388
Any news on this? From what I've heard this should be out very very soon? @RyanHill-MSFT

[2020-02-21 13:16] hew85 opened #48658 "SSO STATE - AzureAdPRT - NO"
I installed extension loging with AAD to VM's
Added RBAC in IAM -- > Virtual Machine Administrator Login
Typed dsregcmd /status and is  AzureAdJoined : YES
All curl commands checking access worked fine.
Me Vm is windows 2019 Datacenter in workgroup - No domain joined.

Account that is in subscription where is VM is guest from other Tenat.

 SSO STATE - AzureAdPRT - NO
What can be wrong
Do I need s

[2020-02-21 13:31] NavtejSaini-MSFT commented on #48620
@markdj We are checking this and will get back to you.

[2020-02-21 13:32] hsavran commented on #47486
I think giving real life web application for each level can be helpful too.
Banking apps or Ebay bids can be good example for Strong since you always wants the latest data
Shopping Cart application works well for Session
Facebook can be a good one for Facebook posts since users do not care about the order of the posts
Consistent Prefix and Bounded Staleness is tricky.

[2020-02-21 13:39] NavtejSaini-MSFT commented on #48330
@pauloster Please get back to us so that we can work on this thread.

[2020-02-21 13:46] shriazure opened #48659 "Copy count zero support for ARM template deployments"
Is copy count of zero supported in ARM template deployment via Azure DevOps pipeline? We are receiving an error message that "The copy count must be a positive integer value and cannot exceed '800'".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d54ea79-512e-2840-d8c5-16957bfdaa58
* Version Independent ID: 377e171c-c

[2020-02-21 14:11] janus-christensen commented on #48555
Hello,

I am not satisfied with your explanation.

Why does the call to Set-AzApplicationGatewayBackendHttpSettings in code section as shown below use the $probe variable when in the line just before, it creates the probe configuration using Add-AzApplicationGatewayProbeConfig?

# Load the application gateway resource into a PowerShell variable by using Get-AzApplicationGateway.
$getgw =  Get-AzAp

[2020-02-21 14:17] Ashok103606 opened #48660 "Audit SAML certs expired dates Using Powershell"
Is it possible to use PowerShell (Azure AD) to expose the expiration dates of  Single Sign-on SAML certs? I would identify apps with expiring certs so they can be renewed in a timely fashion. Or is there a report or something else in Azure that can be run to expose this?

[2020-02-21 14:18] joli80 commented on #44875
To further add to this issue. When I check Azure App Diagnostics for best practices, then Genie tells this, which is not mentioned in the docs (I have currently set size to 500):

"The local cache size configured via app setting WEBSITE_LOCAL_CACHE_SIZEINMB is 500 MB. The default local cache size supported by App Service is 1000 MB.

Recommended Action
If your application size is less than the def

[2020-02-21 14:22] CharmanderJieniJieni opened #48661 "Is there a Git link where we can see the details of each policy included in the Blueprint?"
We can see list of policy deployed from this page, but it would be helpful if we can see the detail definitions of each policy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c40e680-5721-7c89-216e-677e3ca087d1
* Version Independent ID: a27ae0ae-bf25-f7b7-c1f4-01d64d0f08aa
* Content: [ISO 27001 blueprint sample overvie

[2020-02-21 14:25] Ashok103606 opened #48662 "Audit SAML (SSO) Certs expired dates through Powershell."
Is it possible to use PowerShell (AzureAD) to expose the expiration dates of SSO SAML certs? I would identify apps with expiring certs so they can be renewed in a timely fashion. Or is there a report or something else in Azure that can be run to expose this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01f0813b-5ee7-

[2020-02-21 14:27] RyanHill-MSFT commented on #44875
@cephalin, the default value is 300 MB. However, after seeing @joli80 comment, I will verify with the team if this default value has been updated.

[2020-02-21 14:28] DCtheGeek commented on #48661
#assign:DCtheGeek

[2020-02-21 14:28] ctm8788 commented on #47951
@vipeketi I have the logs. Is there a way I can send them to you privately?

[2020-02-21 14:31] DCtheGeek commented on #48661
@CharmanderJieniJieni Thanks for the question! You can find the compliance sample blueprints in the [Azure Policy GitHub repo](https://github.com/Azure/azure-policy).  Specifically, the link for ISO 27001 is here: https://github.com/Azure/azure-policy/blob/master/built-in-policies/policySetDefinitions/Regulatory%20Compliance/ISO27001_2013_audit.json

I'm looking to include this link somewhere in t

[2020-02-21 14:37] diberry commented on #47951
@vipeketi Which organization are you with?

[2020-02-21 14:39] CharmanderJieniJieni commented on #48661
Thanks for the quick response! I was able to find this policy initiative from my subscription as well. However, when I created a Blueprint using the out-of-box ISO 27001 definition, blow is the list of what I am seeing

Allowed storage account SKUs
[Preview]: Deploy Log Analytics Agent for Linux VM Scale Sets (VMSS)
Blueprint initiative for ISO 27001
Deploy Threat Detection on SQL servers
Allowed

[2020-02-21 14:40] Andy-bridle commented on #43427
echoing many of the comments above, a more restrictive alternative to the inbound 443 ANY/ANY rule is required

[2020-02-21 14:47] guibirow opened #48663 "Number of SharedAccessAuthorizationRule rules per namespace, queue, or topic"
The entry "Number of SharedAccessAuthorizationRule rules per namespace, queue, or topic" in the documentation does not make it clear if the 12 rules limit is a cumulative limit or per resource type.

Example:
If I have 1 namespace with 6 rules
And 4 queues with 2 rules each
The total rules in this namespace is 14.

Does it mean I can have this setup with 14 rules setup across multiple resource typ

[2020-02-21 14:50] DCtheGeek commented on #48661
@CharmanderJieniJieni You are correct.  That blueprint sample deploys the initiative as well as some additional policies.  The link for the blueprint sample itself is here: https://github.com/Azure/azure-blueprints/tree/master/samples/001-builtins/iso_27001

As to finding the initiative for ISO 27001, on the Control mapping page, you can see the title is **[Preview]: Audit ISO 27001:2013 controls

[2020-02-21 14:51] MGoedtel commented on #47609
Update Management does not support Windows client OS, and this is noted [here](https://docs.microsoft.com/en-us/azure/automation/automation-update-management#unsupported-client-types). #please-close as this is not a documentation-related issue.

[2020-02-21 14:52] DCtheGeek commented on #48605
#reassign:DCtheGeek

[2020-02-21 14:55] DCtheGeek commented on #48605
@mikaelweave Thanks for the question! The template in a **deployIfNotExist** policy deploys about 15 minutes after the creation of the resource that matches the policy rule. How long the template deployment runs depends on the size and complexity of your environment and resources included in that template.  I'll update this doc and the doc for the effect to include this information.  When I do, th

[2020-02-21 14:56] lapellaniz commented on #45376
@hawkmoth8 What did you end up doing for this? I was expecting to write a middleware to validate this.

[2020-02-21 14:59] convergine opened #48664 "Active tenant accounts show up as disabled (red) in QnAMaker.ai dropdown"
Good day,

We've been using QnAMaker for some time now, and everything was great until yesterday. Logged in to qnamaker.ai and noticed that 2 tenants have red font color & disabled in the dropdown. One of these tenants had 4 knowledge bases associated with them which are not showing now.
Nothing changed in access, aside from enabling MFA a week ago (we haven't logged into the QnAmaker since MFA en

[2020-02-21 15:00] ToMakeSense commented on #43566
@ecfan @divyaswarnkar It's consistent issue not a one off observation under my company's subscription. However, I found the issue is much more complex than I thought after creating a demo logic app in my personal subscription to reproduce.

In my demo logic app, I found it had a very little chance to reproduce within 22 times retry. just for the first time, it happened. **Not sure if it's happened

[2020-02-21 15:03] DCtheGeek commented on #48605
@mikaelweave I should add, given the context of the doc you posted the feedback on, triggering the deployment of the template in the **deployIfNotExist** policy (or the update of tags when remediating a **modify** policy) when creating a _remediation task_ starts as soon as the **Remediate** button is clicked.

[2020-02-21 15:04] tmmueller commented on #48409
I mean that we configured a geo location rule to allow traffic from US, but it did not allow traffic from Guam (a US territory).

[2020-02-21 15:05] SamaraSoucy-MSFT commented on #48646
@SychevIgor Thank you for the feedback. I'll investigate the issue.

[2020-02-21 15:06] CharmanderJieniJieni commented on #48661
Awesome, that makes more sense to me. I think it would be worth adding metadata in the policy json indicating which control mapping it is corresponding to. e.g.

{
  "policyDefinitionReferenceId": "************",
  "policyDefinitionId": "/providers/Microsoft.Authorization/policyDefinitions/****************",
  "parameters": {
	"metadata": {
            "description": "Control Mapping A.6.1.2 Segre

[2020-02-21 15:07] KumudD commented on #46977
#reassign: allegradomel

[2020-02-21 15:11] DCtheGeek commented on #48661
That work is actually in progress already and something in my backlog to document. If you look at the [NIST SP 800-53 Rev4 initiative](https://github.com/Azure/azure-policy/blob/master/built-in-policies/policySetDefinitions/Regulatory%20Compliance/NIST80053_audit.json), you can see the groupings and relations to the controls.

[2020-02-21 15:16] #48605 closed

[2020-02-21 15:20] drhumlen commented on #36634
This is still unsolved as far as I can see. I've can't a good solution to this anywhere online. Do you have a recommended solution? If not, imo the issue should still be open.

The only "solution" I can think of is to add another field to my document with a stringified version of the int alongside the actually int id. Like so:

[code]

Then I would be able to use `search.in` on it. However, that i

[2020-02-21 15:25] JakeTheHuman commented on #42270
If you have any other media within your email the process may fail with the "UnsupportedMediaType" error. Removing any other data such as signature info/company branding and images solved the error for me.

[2020-02-21 15:27] jelster opened #48665 "Explain why http-application-routing shouldn't be used in production"
The beginning of the article has this ominous warning:

But it doesn't go into any of the reasons _why_ this is a bad idea. From the viewpoint of the uninformed (a.k.a. the target audience I presume), it's tough to see why this might be the case. I think it might help if there was a short explanation about the features that http-routing _doesn't_ have that are deal-breakers for a Production scenar

[2020-02-21 15:27] MGoedtel commented on #48382
@kprpg - I need to sanity check the change in behavior before I update the screenshot and steps described in that section.  Thanks for bringing this to our attention. #in-progress

[2020-02-21 15:27] explodinghat opened #48666 "Containers Icon?"
Are the 'containers' mentioned on this page the same containers as when referring to Docker/Kubernetes etc software containers?
Aside from having the same icon as one another- I'm struggling to see the connection?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a056685-6734-380e-562c-92e30b8976a3
* Version Independent

[2020-02-21 15:33] ckssaas commented on #48608
@iainfoulds It is unclear from documentation how Smart Lockout integrates with on-prem when deployed via hybrid identity. The article suggests that Smart Lockout protects on-premises Active Directory DS accounts when Password Hash Sync (PHS) and Pass-through Authentication (PTA) are deployed. Does Smart Lockout lockout lock AD DS accounts? If so, much greater detail is needed to explain this mecha

[2020-02-21 15:40] BharathNimmala-MSFT commented on #48659
@shriazure Thank you for your query, we will further look into it and get back to you at the earliest.

[2020-02-21 15:40] aalewismsft opened #48667 "Process for replacing leaked keys"
What is the recommended workflow to replace leaked customer managed keys?
https://docs.microsoft.com/en-us/azure/storage/common/storage-service-encryption#rotate-customer-managed-keys

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7e05a67-3121-bbc2-7a46-637199104ea3
* Version Independent ID: 2802344c-0571-bdac-4755-58

[2020-02-21 15:44] jmf2n opened #48668 "level=error msg ="Failed to discover OS information for onboarding" Error="The system cannot find the file specified.""
This is during onboarding of Arc using both interactive and service principal modes on a Windows 2012R2 machine.  Multiple attempts to run the onboarding manually using azcmagent as well.   The installation log doesn't show anything outwardly wrong from a successful machine, although I did notice one of the log lines is reading the ROOTDRIVE = property incorrectly, insisting that the machine's roo

[2020-02-21 15:54] ToMakeSense commented on #43566
[code]

Above is the logic app definition I used, I found the header `Content-Type` is needed in order to get trackedProperties working, it's another find. See examples below:

**1. Http request without Content-Type header**
[code]

Response from rest client (**Content-Type: application/octet-stream**)
[code]

**Response** Action outputs in Resource Explorer
[code]

**Response** Action outputs in

[2020-02-21 15:59] ecfan commented on #30046
Hi @lransona,

Thanks for your question. An [ISE](https://docs.microsoft.com/azure/logic-apps/connect-virtual-network-vnet-isolated-environment-overview) hosts only the Azure Logic Apps service, so you can use this environment to create and run only logic apps, which can then directly access resources in an Azure virtual network.

However, an ASE, based on this [overview](https://docs.microsoft.co

[2020-02-21 16:02] roygara commented on #48321
@sebhe Thanks for reaching out, we appreciate it! We'll get this updated and fixed soon.

[2020-02-21 16:05] threesixfour opened #48669 "AADSTS7000222 Not Documented"
AADSTS7000222 is not documented. The message I'm receiving is "The provided client secret keys are expired."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a826ee6f-f457-7109-9f77-67c57977d4e7
* Version Independent ID: 11766f27-492e-a579-dced-8a42528cbb47
* Content: [Azure AD authentication & authorization error codes]

[2020-02-21 16:07] jmf2n commented on #48668
Also this has happened on 4 separate 2012R2 boxes in our environment.

[2020-02-21 16:15] jspiersvalorem opened #48670 "Partner ID Error for PAL"
Over the last couple weeks when my company has tried to add PAL we've gotten an error notification saying our Partner ID is not valid even though it is. We've gotten this error on multiple accounts we've tried to add PAL to. Is this a known issue? Is there a PAL alias I can reach out to resolve this? The AdminPartnerLink@microsoft.com came back with an undeliverable message.

---
#### Document Det

[2020-02-21 16:15] cimorar commented on #26079
Given the fact, that ARM templates do not support AKV Managed Storage Account creation, I was hoping to get at least partial unattended automation using Az cmdlets. Our team is managing 1000+ AKV managed storage accounts. I spent two nights on finding what I am doing wrong unless I arrived in this thread. However reading this I give up. It looks like there is really no way to create them without u

[2020-02-21 16:15] DixitArora-MSFT commented on #48656
Hi @LockTar Thanks for your feedback. We will review and update as appropriate.

[2020-02-21 16:28] emmanuelg34 opened #48671 "Use Az module instead of AzureAD module"
Use Az module instead of  AzureAD module

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 156a552a-fe64-e5dc-b86a-b7d8ccbeee1d
* Version Independent ID: d83f235e-3ae2-ad71-30c6-0bd7f95fb894
* Content: [Windows Virtual Desktop service principal role assignment - Azure](https://docs.microsoft.com/en-us/azure/virtual-deskto

[2020-02-21 16:44] cijothomas commented on #48326
For codeless attach, customizations are very limited. CloudRolename is not supported yet.

[2020-02-21 16:51] netresults-scott commented on #43961
@Kazzan Is there a fix? I purged my Classic Conditional Policies during troubleshooting and don't currently use MD-ATP/Intune, but we are planning to deploy them eventually. So I'm hoping there is a method to restore these - do you know if that's the case?

[2020-02-21 16:51] hawkmoth8 commented on #45376
@lapellaniz
I just simply read the value from the field by using calling a method in backend.
[code]

[2020-02-21 16:55] chriscoolbus opened #48673 "How to delete a database"
It would be helpful to show how to delete a database created through the "Quick Start".  When I finally found how to do this, I had to contact support and spent about an hour, as it is confusing what is meant by a "database id", when it is simply the name of the database.  It would be helpful to change the "Delete Database" section to reflect that the "database id" is simply the name of the databa

[2020-02-21 16:59] anavinahar commented on #48284
@ticianaciminari  could you translate this table for us?

![image](https://user-images.githubusercontent.com/20465886/75054669-63827180-5488-11ea-9e48-622bd033786f.png)

[2020-02-21 17:09] Ashok103606 opened #48674 "Audit SAML (SSO) Certs expired dates through Powershell."
Is it possible to use PowerShell (AzureAD) to expose the expiration dates of SSO SAML certs? I would identify apps with expiring certs so they can be renewed in a timely fashion. Or is there a report or something else in Azure that can be run to expose this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 431fee33-ba1b-

[2020-02-21 17:13] bmukes opened #48675 "Helm install command is incorrect as of 2/21/2020"
I followed this guide on 2/14 and everything worked correctly.  As of 2/21 if you run the Helm install command you will get the error chart not found.  If you remove the world nginx from the command everything works correctly
Documentation command:
helm install nginx stable/nginx-ingress
Modified command that works:
helm install stable/nginx-ingress

---
#### Document Details

⚠ *Do not edit this

[2020-02-21 17:33] SaurabhSharma-MSFT commented on #48657
@mziada Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-21 17:34] allan-mobley-jr opened #48676 "Reset Password Link for V2 User Flows"
Is there any way you could detail the steps on how to make the "Forgot your password?" link work? You do not have a problem interjecting it into the views, yet the link does anything but what it suggests. I have banged my head on this for hours, I have scoured your docs to no avail, I have searched the web to no avail.

In short, help please...as this makes using these templates impossible lest a

[2020-02-21 17:35] SaurabhSharma-MSFT commented on #48662
@Ashok103606 Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-21 17:37] SaurabhSharma-MSFT commented on #48674
@Ashok103606 Closing this one as duplicate of #48662

[2020-02-21 17:37] #48674 closed

[2020-02-21 17:41] SaurabhSharma-MSFT commented on #48669
@threesixfour Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-02-21 17:46] bandersmsft commented on #47381
#please-close

[2020-02-21 17:46] #47381 closed

[2020-02-21 17:53] bandersmsft commented on #44091
@shalosi You're correct and this issue affects all of the Cost Management features - you can't use any features immediately after a subscription is created. However, the latency varies by the subscription type. I'm gathering all the specifics around this issue. When I have all the information I need, I'll update this article and others.

[2020-02-21 18:00] kariem2k commented on #27791
It worked with me after creating a user with the same @domain.com of the active directory (I was using a user with a different @). and gave it Tenant Creator.

[2020-02-21 18:07] SaurabhSharma-MSFT commented on #48642
@maktantt Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-02-21 18:10] SaurabhSharma-MSFT commented on #48676
@allan-mobley-jr Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-02-21 18:11] SaurabhSharma-MSFT commented on #48633
@ragewaar Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-02-21 18:12] SaurabhSharma-MSFT commented on #48649
@aminerahmouni Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-02-21 18:14] #24080 closed

[2020-02-21 18:16] darzu opened #48678 "Clarify support or lack thereof for SSL termination within the container"
We had a preexisting containerized app that we were hosting ourselves on VMs or running on Azure Container Instance, and our app handled SSL termination itself.

It took me a long while to realize that it seems there's no way to have App Service allow the custom container to handle it's own SSL termination, presumably because it's always using port 443.

If this is true, could this please be docum

[2020-02-21 18:21] kobulloc-MSFT commented on #48268
@jbayesqualtrax I'm seeing the same thing.  I'll assign this to the document author to update the documentation accordingly.

![image](https://user-images.githubusercontent.com/37556655/75060592-f4ab1580-5493-11ea-86fb-40635765395d.png)

[2020-02-21 18:22] bitsofinfo opened #48679 "None of the coredns-custom examples work"
On AKS k8s 1.15, none of the examples on this page work, I've tried custom domains, custom forward server, hosts plugins.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f95537e-770a-739c-0175-4447a995f8b2
* Version Independent ID: 6c9a1132-05af-70f1-5a2b-8dad56de9cc3
* Content: [Customize CoreDNS for Azure Kubernetes

[2020-02-21 18:28] bandersmsft commented on #40486
@joostm1 According to the Billing engineering team (@amberbhargava), there is no limit to the total number of subscriptions per offer.

[2020-02-21 18:30] ghills commented on #48029
I'm also stuck on the directions as I cannot pull the docker container image without username/password for the registry which the directions claim we will get after filling out the request form (which is no longer required).

I think there is some confusion here @IEvangelist

[2020-02-21 18:33] git14 opened #48680 "Azure AD connect links and instructions"
Would be helpful to have links to configure Azure AD Connect to support a Hybrid configuration as mentioned in step one of section Create Kerberos server object.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50b27a01-622e-d980-83f2-1ed27060613b
* Version Independent ID: e6472e15-10d7-bd4a-da02-558f2774dbaf
* Content:

[2020-02-21 18:34] brandonh-msft commented on #48487
Note the schema of `host.json`:

[code]

in particular the items I've highlighted.

Now, look at the detail table below that schema in the doc:

![image](https://user-images.githubusercontent.com/20270743/75061494-aeef4c80-5495-11ea-918a-c5782244cb4d.png)

and the lack of these two items anywhere in that table. This is what I'm referring to.

[2020-02-21 18:36] kobulloc-MSFT commented on #48346
@NorthHighlandNicole This should still be correct.  I'm not seeing any warnings in my project.  @lgayhardt Can you confirm if there have been any recent changes?

[2020-02-21 18:40] #42899 closed

[2020-02-21 18:42] bmukes opened #48681 "Helm install command for cert-manager is incorrect"
command should be updated as follows:
helm install jetstack/cert-manager --namespace ingress-basic --version v0.13.1 --set ingressShim.defaultIssuerName=letsencrypt --set ingressShim.defaultIssuerKind=ClusterIssuer

Update required due to version number being different and also seems like Helm was updated in Azure Cloud Storage.  This issue and issue #48675 also effects the documentation on the st

[2020-02-21 18:42] jelster opened #48682 "Remove limitation for http-routing"
The limitations section states
&gt; The HTTP application routing add-on can't be used.

I don't believe this is currently the case as I was able to enable and use the http-routing-addon with no seeming issues.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c420b2c-e868-9a6a-49fb-913f2cd007ef
* Version Independent ID:

[2020-02-21 18:43] nibaccam commented on #48016
@PeterHedley94 do you happen to have the error message wording? I'd like to forward it to the dev team as well as your suggestion to add more detail. In the meantime, the documentation has been updated to reflect that datastore creation for storage behind virtual networks is only supported using the SDK. The update will be live later this afternoon.

[2020-02-21 18:48] lyrana commented on #47446
Hi @sanjaydatasciencedojo I confirmed that the monthly charged is prorated hourly, folks can come and try TSI and "kick the tires." But I would like to ask your scenario here--as an analytics and storage solution we usually encounter customers needing to store data for long periods and do historical analysis. Essentially I'm curious to understand more to see if TSI is the correct Azure cloud servi

[2020-02-21 18:51] mhopkins-msft commented on #48028
Hi @savaged

My understanding is that you only need to used `base64_decode` if `base64_encode` was used when the message was added. Are you seeing something different?

 ~ _Mark_

[2020-02-21 18:53] ntachandley opened #48683 "Out of date"
There have been a number of new VM skus since this was last updated. Intel Xeon Platinum 8171M has also been introduced to the various SKUs to replace Xeon E5-2673 v3.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1b285b7-df83-7949-4589-0323d9bd2f6e
* Version Independent ID: 96840643-9f73-624a-606e-c17195aed16c
* Con

[2020-02-21 18:53] Grace-MacJones-MSFT commented on #48678
Hi @darzu, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-02-21 18:53] MartinJaffer-MSFT commented on #48601
Please re-open and let me know if you have any more questions, @landon-ochs .

[2020-02-21 18:53] #48601 closed

[2020-02-21 18:56] sanjaydatasciencedojo commented on #47446
@lyrana Are you sure that charge is going to be 0.03972602739 per hour + blob pricing + $0.01 per GB scanned if I only use for one hour using cold path storage?

[2020-02-21 18:57] nelroosevelt opened #48684 "It would be good to add Static Route for UDR"
It would be good to add Static Route for UDR in parenthesis to help with understanding how Azure selects routes.

User-defined route (Static Route)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38bd69ac-a1b5-a401-184d-37b55188a7c4
* Version Independent ID: ef976d45-36eb-8a32-4b29-ae03412165d2
*

[2020-02-21 18:58] IEvangelist commented on #48029
I'm working to re-open this issue, I was just informed that the product team mistakenly decommissioned the request form in the excitement to have the Form Recognizer service offering being announced as GA -- with the oversight that the container is still in gated preview. I do apologize for this inconvenience.  We will update the doc and have an updated link to a new form to request access early n

[2020-02-21 18:59] Mike-Ubezzi-MSFT commented on #48673
@chriscoolbus Thank you for bringing this to our attention. Would it be possible to share the support request ID created to address this issue. It will be helpful to show visibility and measure impact. I am working to have an update to the documentation submitted for approval.

[2020-02-21 19:01] moiso0496 commented on #46412
As a workaround, and if what you only want to do is test this. Once you hit with the error, replace the "login.microsoftonline.com" from the URL to "domain.b2c.login.com"

[2020-02-21 19:11] ticianaciminari opened #48685 "AADSTS90002 error"
@Ayshine commented 10 hours ago •
Hello,

I am following the tutorial below.

https://docs.microsoft.com/tr-tr/azure/iot-accelerators/iot-accelerators-connecting-pi-c

But I am getting
AADSTS90002: Tenant '94f6bd32-f368-41a5-af7c-4843bab05151' not found. This may happen if there are no active subscriptions for the tenant. Check to make sure you have the correct tenant ID. Check with your subscript

[2020-02-21 19:12] ticianaciminari commented on #48685
Hi Team,

Could you please check this issue from user?

Kind regards,
Microsoft DOCS International Team

[2020-02-21 19:17] SychevIgor commented on #48326
When Microsoft in official documentation recommend "codeless" approach- I would suggest that it's really first class feature.

[2020-02-21 19:26] lyrana commented on #43139
Hello @rjnair thank you for raising this issue, two things:

1. The fix for the 404 error is only needed if you're not the most recent version of Power BI or are unable to update to the latest version due to a dependency/other reason. We will make sure that that is more apparent in the fix README.md

2. Secondly, thank you for raising that there is indeed a bug in calculating the relative time spa

[2020-02-21 19:28] doeweb commented on #17210
Did you get a direct response regarding this?

[2020-02-21 19:29] BryanTrach-MSFT commented on #48640
@yashwanth-yenugu Thank you for your question. Can you please share with us the URL of the doc that you are having issues with?

Please note that we scope issues on this repro to feedback related to the docs. If you have a product question, please post it on MSDN or Stack Overflow. Thank you for your understanding.

[2020-02-21 19:31] BryanTrach-MSFT commented on #48641
@jishansiddique Thank you for your question. Can you please share with us the URL of the doc that you are having issues with?

Please note that we scope issues on this repro to feedback related to the docs. If you have a product question, please post it on MSDN or Stack Overflow. Thank you for your understanding.

[2020-02-21 19:32] trevonmckay opened #48688 "How to use schema extensions in provisioning?"
How would we map schema extensions (https://docs.microsoft.com/en-us/powershell/azure/active-directory/using-extension-attributes-sample?view=azureadps-2.0) as attributes? We're including these schema extensions in our SAML claims but I'm not seeing how to map it during provisioning.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2020-02-21 19:32] svrooij commented on #17210
I never got a response about moving applications to a new tenant. This is still something we want.

[2020-02-21 19:33] BryanTrach-MSFT commented on #48658
@hew85 Thank you for your question. Can you please share with us the URL of the doc that you are having issues with?

Please note that we scope issues on this repro to feedback related to the docs. If you have a product question, please post it on MSDN or Stack Overflow. Thank you for your understanding.

[2020-02-21 19:33] BryanTrach-MSFT commented on #48664
@convergine Thank you for your question. Can you please share with us the URL of the doc that you are having issues with?

Please note that we scope issues on this repro to feedback related to the docs. If you have a product question, please post it on MSDN or Stack Overflow. Thank you for your understanding.

[2020-02-21 19:34] BryanTrach-MSFT commented on #48670
@jspiersvalorem Thank you for your question. Can you please share with us the URL of the doc that you are having issues with?

Please note that we scope issues on this repro to feedback related to the docs. If you have a product question, please post it on MSDN or Stack Overflow. Thank you for your understanding.

[2020-02-21 19:36] BryanTrach-MSFT commented on #48652
@yashwanth-yenugu Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-21 19:36] BryanTrach-MSFT commented on #48660
@Ashok103606 Thank you for your question. Can you please share with us the URL of the doc that you are having issues with?

Please note that we scope issues on this repro to feedback related to the docs. If you have a product question, please post it on MSDN or Stack Overflow. Thank you for your understanding.

[2020-02-21 19:37] kobulloc-MSFT commented on #48326
@SychevIgor I would agree, and as you can see above there is a lot of interest in this subject.  The best way to add features is to submit and vote on feedback here:

https://feedback.azure.com/forums/357324-azure-monitor-application-insights

I can submit this idea on your behalf, or if you want updates and notifications you can submit it on your own.  Let us know which you would prefer.

[2020-02-21 19:37] BryanTrach-MSFT commented on #47046
@dineshbaskaran Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-02-21 19:37] #47046 closed

[2020-02-21 19:39] blair0011 opened #48689 "Is this still needed if Require secure transfer is enabled?"
Do you still need to set this or should this page be updated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d6c9dfa-cb51-8e98-ce3e-68cfeb50c9dd
* Version Independent ID: 5364e068-0237-bbfd-e8a3-cb83ed210585
* Content: [Enable secure TLS with .NET - Azure Storage](https://docs.microsoft.com/en-us/azure/storage/common/

[2020-02-21 19:47] mike-urnun-msft commented on #48663
@guibirow Thank you for your feedback! We will review and update as appropriate.

[2020-02-21 19:50] Mike-Ubezzi-MSFT commented on #48127
@kerend There is still one remaining question on this subject, which I posted to the ADX Teams channel but will posy here as it is a good discussion item and there is no ADX UVOC forum for feature requests:
_"I will assume that there is no other way of transposing child array into columns without pre-processing the json, flattening it and after that re-publishing it to another event hub for consum

[2020-02-21 19:51] MartinJaffer-MSFT commented on #45613
1. Go to container listing and select a container via the checkbox.  This enables the 'Change Access Level'.  Click it.
![image](https://user-images.githubusercontent.com/46612670/75066165-2c6b8a80-549f-11ea-9d1f-79215b841e1d.png)
2. Choose an access level
![image](https://user-images.githubusercontent.com/46612670/75066346-7fddd880-549f-11ea-8d7b-9b9f35aecf6b.png)
3. Enter the container and selec

[2020-02-21 19:51] #45613 closed

[2020-02-21 19:52] lyrana commented on #47446
Yes, that's correct

[2020-02-21 19:52] mhussar opened #48690 "Error when trying to publish"
"In Solution Explorer, right-click the SharingService project and select Publish."
When I get to the following above I get an error that says:
Publish has encountered an error. Object reference not set to an instance of an object.
A diagnostic log has been written to ...

How do I solve this.
I've tried searching online to no avail.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2020-02-21 19:55] sanjaydatasciencedojo commented on #47446
@lyrana Can I consider this confirmation from Microsoft?

[2020-02-21 19:59] lastcoolnameleft commented on #47915
I installed the libraries using apt-get install; however, I'm still experiencing the same issue (see below).

It shouldn't make a difference; however, I'm using Raspbian Buster Lite:
 https://www.raspberrypi.org/downloads/raspbian/

[code]

SendCloudToDeviceMessage.py:
[code]

[2020-02-21 20:01] ravick4u opened #48691 "F5 stops execution on profile.ps1 file"
Not sure why but when I press F5 my execution halts at profile.ps1 line # 14(if ($env:MSI_SECRET -and (Get-Module -ListAvailable Az.Accounts)) {). It resumes after I press F5.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e0c8d77-40f9-aee0-0e9c-fa83be6f4ee3
* Version Independent ID: 77bc47cc-1abb-5b78-2f80-5e03d67d37

[2020-02-21 20:02] terryedwards commented on #40265
@jlarbelaez The issue I was facing was because I was a global admin (an so were the other two users I had testing). We tested with a normal user account and the naming prefix worked as expected. Now all sites are created with the "MST-" prefix as we expected.

[2020-02-21 20:02] Kazzan commented on #43961
Yes @netresults-scott. Product Group deployed a fix to this. Just disable and enable connector for MTD and the classic CA policy will be re-created. But you need to turn/think off the Risk policies, because they will not be evaluated in such time.

[2020-02-21 20:03] tyler555g opened #48692 "Typo In Get-AzDataFactoryV2IntegrationRuntimeMetric Command"
Get-AzDataFactoryV2IntegrationRuntimeMetric -name $integrationRuntimeName -ResourceGroupName $resourceGroupName -DataFactoryName $dataFactoryName  | | ConvertTo-Json

Should be single pipe:

Get-AzDataFactoryV2IntegrationRuntimeMetric -name $integrationRuntimeName -ResourceGroupName $resourceGroupName -DataFactoryName $dataFactoryName  | ConvertTo-Json

---
#### Document Details

⚠ *Do not edit th

[2020-02-21 20:05] TravisCragg-MSFT commented on #48261
@adrianagdi We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-21 20:05] #48261 closed

[2020-02-21 20:06] ravick4u opened #48693 "The remote runtime "dotnet" for function app "myfunctionapp" does not match your local runtime "powershell"."
I am trying to deploy my function to my existing created function and got error "The remote runtime 'dotnet' for function app 'myfunctionapp' does not match your local runtime powershell." I am aware that it will overwrite my existing function but that's ok.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e0c8d77-40f9-

[2020-02-21 20:06] lastcoolnameleft commented on #47915
It should be noticed that the version of Python I'm using is 3.7; however, the error is trying to find a Python3.5 library:

[code]

[2020-02-21 20:08] convergine commented on #48664
@BryanTrach-MSFT Here's the url: https://docs.microsoft.com/en-us/azure/cognitive-services/QnAMaker/how-to/collaborate-knowledge-base
It's about sharing the QnA. It seems that there might be an issue with sharing if the account has MFA enabled.

[2020-02-21 20:10] SnehaGunda commented on #48295
@Adebeer, yes I have the same version (2.9.1-bf4a245d), after running the emulator. The default cosmos emulator page has connection strings with port number 10255 as the URL has "@localhost:10255/admin?ssl=true". I uninstalled the existing version and did a fresh installation

[2020-02-21 20:12] jmf2n commented on #48668
Looks like it might have something to do with the fact you guys changed the location of the files in a subdirectory - used to be called c:\program files\azure connected machine agent\DSC and now it's called GC in the newest rev of the client.  Perhaps your MSI installer is not locating files where it's supposed to?

[2020-02-21 20:17] cmcapellan commented on #32113
@Adam-Smith-MSFT This is not accurate. It is our direct and recent experience that adding a Delete Lock to the storage account will not block a file share from being deleted. Can you please clarify this rather critical point?

[2020-02-21 20:29] MonikaReddy-MSFT commented on #48453
@dipree - I'm going to assign this to the document author so they can update the document accordingly.

[2020-02-21 20:31] MonikaReddy-MSFT commented on #48648
@SychevIgor ,  Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-02-21 20:39] MartinJaffer-MSFT commented on #45613
You may need to be Owner to change this access level @Geradav

[2020-02-21 20:44] IEvangelist commented on #48072
Hi @HyeokIn, could you please reply here with any concerns or follow up?

[2020-02-21 20:48] jeastburn opened #48694 "Maximum of 3 Global Actions"
There seems to be a limit of 3 global actions in the Rules Engine (after adding three, the "Add Action" button is disabled). And since you can't create a non-global rule without a condition, I don't see how it is possible to append more than 3 security headers, such as Strict-Transport-Security, Content-Security-Policy, X-Frame-Options, X-Content-Type-Options, Referrer-Policy.
Is there a better wa

[2020-02-21 20:53] suvisudhakar opened #48695 "iOS SDK"
URL to download iOS SDK is 2 years old version. Is this the latest one?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9bf40ff9-0c42-088c-ade2-4c991019db1e
* Version Independent ID: 56531b33-1ca6-8726-bcfd-77e880ecc03c
* Content: [Use the iOS SDK - Azure Mobile Apps](https://docs.microsoft.com/en-us/azure/app-service-m

[2020-02-21 21:12] ducatikiller opened #48696 "what is the file type for the passphrase file?"
In the above article in section 3 of "install to windows" you have these commands being run.

cd C:\Program Files (x86)\Microsoft Azure Site Recovery\agent
UnifiedAgentConfigurator.exe  /CSEndPoint &lt;replication appliance IP address&gt; /PassphraseFilePath &lt;Passphrase File Path&gt;

Do you put the passphrase in a txt file with that extension?  Do you have no extension on the file?  It's uncle

[2020-02-21 21:18] ginamr commented on #48007
To route to a subset of partitions, rather than all partitions, you must do either IN or equality (=) comparison in the filter against the logical partition key (pk):
    i.e.
    SELECT * FROM c WHERE **pk = "value"**
    or
    SELECT * FROM c WHERE **pk IN ("value1", "value2")**

This is because we do Hash based partitioning for the partition keys, rather than range. Thus, a query like: SELECT

[2020-02-21 21:24] SnehaGunda commented on #48673
@chriscoolbus database ID is the UI name, that's where you insert the database name when creating it. The table in the doc also clarifies database id as the database name.

I made some updates to the content to add the delete DB part. I hope it helps. We will now close this issue if there aren't further questions.

[2020-02-21 21:39] Mike-Ubezzi-MSFT commented on #48673
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

**Note:** the updates have been merged but will not be visible for about another 24 hours.

[2020-02-21 21:39] #48673 closed

[2020-02-21 21:39] mmacy commented on #21382
Hello all,

This article, as you've correctly noted, references the [**deprecated** `/reports` endpoint](https://docs.microsoft.com/azure/active-directory/reports-monitoring/concept-reporting-api#api-endpoints) in Azure AD Graph.

![image](https://user-images.githubusercontent.com/13394541/75072743-f3d2ad80-54ac-11ea-9924-53c7b2448a8c.png)

As mentioned in the deprecation notice, the functionality

[2020-02-21 21:41] Geradav commented on #45613
@MartinJaffer-MSFT
Thanks for your message and the suggestion.

I've followed the steps as suggested.
This is the error message I get => "{"error":{"code":"AuthenticationFailed","message":"Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature."

[2020-02-21 21:49] javirivas80 opened #48698 "Add custom attribut"
Hi!
Is it possible to add a custom attribute in this example? https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/tree/master/scenarios/phone-number-passwordlessre]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ee37da0-0b30-b160-ddce-5c3f1b65148b
* Version Independent ID: ff743c7e-139b-7ec

[2020-02-21 21:51] scottstout opened #48699 "Web.Config??"
The section on limits mentions a web.config. I don't think the current iteration of Functions has a web.config.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b6cd6a0-5364-65e6-b088-cc00093f836f
* Version Independent ID: 3c90d8fb-0fea-3496-e73e-0020ff33adef
* Content: [Azure Functions HTTP trigger](https://docs.micros

[2020-02-21 21:52] PeterTurcan opened #48700 "BackEndApplication.js appears to be failing"
The BackEndApplication.js is failing for me on this line:
EventHubClient.createFromIotHubConnectionString(connectionString).then(function (client) {

EventHubClient is undefined. Has there been any change to the @azure/event-hubs library, as this call leaves EventHubClient undefined:
var { EventHubClient, EventPosition } = require('@azure/event-hubs');

---
#### Document Details

⚠ *Do not edit th

[2020-02-21 21:59] cainmich commented on #34054
I just spent 8 hours and three arm cramps CTRL-Cing and CTRL-Ving adding Log Collection paths to a Custom Log in Azure and finding out there is some bug that wont allow more than one person to add them to the GUI at any one time. I entered 1600 of them and only needed to add 900 myself and 3000 total for the team. Of the 999 I entered originally, on 34 appeared. The rest went into the WindowsEther

[2020-02-21 22:04] waynerobinson commented on #48007
Thank you for the clarification. 👍

[2020-02-21 22:13] ramandhillon84 commented on #48308
Hi @juanand
The Aliases feature is supposed to come a little later, but was released on the portal ahead of time. I am working to reverse this and make the portal GA ready. This should be all completed by next week.
The related documentation and GA status change should come up by next week too.
Thanks for notifying and do keep an eye out for the GA announcement for SEPolicies.

Thanks,
Raman

[2020-02-21 22:17] Mike-Ubezzi-MSFT commented on #48249
Adding detail of query output for both vCore and DTU deployment models, as the document is not exactly a query reference document but, it would be helpful to include a functional T-SQL example.

**Query**

`select *,
(select max(pct) from (values (rs.avg_cpu_percent), (rs.avg_data_io_percent), (rs.avg_log_write_percent)) as allPct(Pct)) as avg_dtu_percent from sys.dm_db_resource_stats rs`

**DTU**

[2020-02-21 22:17] kobulloc-MSFT commented on #48325
@SychevIgor One of the key takeaways from the documentation here is how the application maps are created:

https://docs.microsoft.com/en-us/azure/azure-monitor/app/app-map#composite-application-map

Hopefully that clears up how visibility is defined.

[2020-02-21 22:20] Mike-Ubezzi-MSFT commented on #48249
@CarlRabeler For awareness/assistance.

[2020-02-21 22:23] mpchen opened #48702 "Why "A failed evaluation is an implicit deny" ?"
In "Avoiding Template Failure" section, it was mentioned that "A failed evaluation is an implicit deny". This is confusing as if I have an "audit" policy and its evaluation fails, it will block deployments. So the side effect of an "audit" policy could disrupt deployment.

I am wondering what the reasoning behind "A failed evaluation is an implicit deny". Would it be better to use the policy effec

[2020-02-21 22:35] BharathNimmala-MSFT commented on #48702
@mpchen Thank you for reaching out to us and sharing your feedback. Assigning this to our document author @DCtheGeek to further evaluate the feedback and see if the document needs to be enhanced to clarify the confusion.

[2020-02-21 22:39] BharathNimmala-MSFT commented on #48696
@ducatikiller Thank you for your query, we will further evaluate it and get back to you at the earliest.

[2020-02-21 22:41] Mike-Ubezzi-MSFT commented on #48288
@sluu-pdr

There is a section at the beginning of this code example:

    {
        // ASSIGN YOUR VALUES TO THESE STATIC FIELDS !!
        static public string Az_SQLDB_svrName = "<Your SQL DB server>";
        static public string AzureAD_UserID = "<Your User ID>";
        static public string Initial_DatabaseName = "<Your Database>";
        // Some scenarios do not need values for the followin

[2020-02-21 22:42] Mike-Ubezzi-MSFT commented on #48288
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-21 22:42] #48288 closed

[2020-02-21 22:46] Karishma-Tiwari-MSFT commented on #48655
Thanks for the question. We are currently investigating and will update you shortly.

[2020-02-21 22:47] bandersmsft commented on #44601
@shalosi Done. Article updated with https://github.com/MicrosoftDocs/azure-docs-pr/pull/105151
#pelase-close

[2020-02-21 22:48] Karishma-Tiwari-MSFT commented on #48665
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-21 22:48] bandersmsft commented on #44601
#please-close

[2020-02-21 22:48] #44601 closed

[2020-02-21 22:50] Karishma-Tiwari-MSFT commented on #48671
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-21 22:51] bandersmsft commented on #40973
@kshitijdholakia @efrathaz Article updated with https://github.com/MicrosoftDocs/azure-docs-pr/pull/105151. Added the following:
All date and time parameters required for APIs must be represented as combined Coordinated Universal Time (UTC) values. Values returned by APIs are shown in UTC format.
#please-close

[2020-02-21 22:51] #40973 closed

[2020-02-21 22:51] Karishma-Tiwari-MSFT commented on #48675
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-21 22:52] Karishma-Tiwari-MSFT commented on #48681
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-21 22:53] Karishma-Tiwari-MSFT commented on #48679
Can you please elaborate on what issues/errors are you seeing running the examples?

[2020-02-21 22:55] Karishma-Tiwari-MSFT commented on #48683
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-21 22:56] TravisCragg-MSFT commented on #48684
@nelroosevelt Thanks for the feedback! I have added the clarification on the doc, and it should reflect on the doc within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-21 22:56] #48684 closed

[2020-02-21 22:56] Karishma-Tiwari-MSFT commented on #48682
@mlearned @zr-msft Can you please confirm on this? Thanks. :)

[2020-02-21 23:02] aws-scripting-guy opened #48704 "ManagedDependency and pre-warmed App Service instance"
PowerShell modules defined in ``managedDependency`` directive in ```requirements.psd1``` are being downloaded even on pre-warmed App Service instance.

As part of the execution time optimization I switched from Consumption plan to Elastic Premium. While Elastic Premium claims to avoid cold start, I noticed that the Modules are being downloaded and installed after function is triggered.

On EP1 pla

[2020-02-21 23:02] Karishma-Tiwari-MSFT commented on #48286
Thanks for sharing the update.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-02-21 23:02] #48286 closed

[2020-02-21 23:05] BryanTrach-MSFT commented on #48695
@suvisudhakar Yes, that is correct version and URL.

If you're looking for an approach that has been recently updated, you can look into [Azure App Center](https://azure.microsoft.com/en-us/services/app-center/).

https://docs.microsoft.com/en-us/appcenter/
https://docs.microsoft.com/en-us/appcenter/sdk/getting-started/ios

[2020-02-21 23:05] BryanTrach-MSFT commented on #48695
@suvisudhakar We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-21 23:05] #48695 closed

[2020-02-21 23:08] Karishma-Tiwari-MSFT commented on #48280
We will now close this issue. Please share the details when you are ready and tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-02-21 23:08] #48280 closed

[2020-02-21 23:10] Karishma-Tiwari-MSFT commented on #48274
@taromielnaz Is there an update? Did you get a chance to take a look at the stack overflow post?

[2020-02-21 23:10] nkiest commented on #47948
There are two legacy methods: Log Analytics Activity Log Solution, and Log Profiles (to Storage and Event Hub).
There are no missing logs via Log Profiles vs Subscription Diagnostic Settings. Configuration controls are improved, however.
However, certain logs are not available via Log Analytics Activity Log Solution. I am working to pull together a definitive list.

[2020-02-21 23:13] SaurabhSharma-MSFT commented on #48103
@kiazhi Exposing Secure Score through REST APIs is something the team is actively working.  Refer to the [UserVoice](https://feedback.azure.com/forums/347535-azure-security-center/suggestions/39133543-asc-securescore-available-through-graph-api-or-asc) on latest update on the same.

[2020-02-21 23:13] dotnetgator opened #48705 "What role does CreateStringClaim play in looking up content from a RestrictionEnumeration?"
The description for the Paragraph UserInput Type reads:

While the GetMappedValueFromLocalizedCollection description does in fact include a description of how to look up content from the Enumerations, CreateStringClaim has no such description - it isn't clear if that is involved in any way at all.

At the risk of conflating what may be 2 separate issues, why is the discussion of Enumeration Restri

[2020-02-21 23:22] Mike-Ubezzi-MSFT commented on #48355
@infoberg We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-21 23:22] #48355 closed

[2020-02-21 23:25] Mike-Ubezzi-MSFT commented on #48127
@deyanp I received some feedback from the PG. The process will be to ingest the JSON as is, and then use the [Update Policy](https://docs.microsoft.com/en-us/azure/kusto/concepts/updatepolicy) to transform the data from a source table to a target table using the ADX mv-expand operator.

[2020-02-21 23:26] Mike-Ubezzi-MSFT commented on #48127
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-21 23:26] #48127 closed

[2020-02-21 23:27] #48321 closed

[2020-02-21 23:28] SnehaGunda commented on #48445
Fixes https://github.com/MicrosoftDocs/azure-docs-pr/pull/105196

[2020-02-21 23:29] roygara commented on #48321
@sebhe We've merged the changes, it'll take a few days to be live but you'll see them next week. Thanks for making us aware of this and helping to improve the docs, we appreciate it! :)

[2020-02-21 23:32] DCtheGeek commented on #48702
@mpchen Thanks for the question. I'm working on getting an answer back to you.

@MicrosoftDocs/azure-cxp-triage #in-progress

[2020-02-21 23:35] karyjac commented on #44428
Have the same scenario, any updates on how to use Github with this plan?

[2020-02-21 23:38] SnehaGunda commented on #48445
@MikeCodesDotNET Thanks for the feedback, I updated the sample and doc to use environment variables in the above PR. The updates will be live on Monday.

We will close this issue now.

[2020-02-21 23:38] SnehaGunda commented on #48445
#please-close

[2020-02-21 23:38] #48445 closed

[2020-02-21 23:40] juhlee-microsoft opened #48706 "Missing SKU"
I don't see any NC, ND, NV and Mv2. It looks updating recently though.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 568a0854-5b9e-0d79-642f-2775271d0521
* Version Independent ID: 876df17a-3a80-8e2d-bb70-c6810df7fd18
* Content: [Overview of the Azure Compute Unit - Azure Virtual Machines](https://docs.microsoft.com/en

[2020-02-21 23:40] SnehaGunda commented on #48215
@SamHard since all queries have to go to the Gremlin server, the connectivity modes aren't applicable to the current computer model.

@LuisBosquez for further clarification.

[2020-02-21 23:41] BryanTrach-MSFT commented on #48667
@aalewismsft Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-21 23:43] BryanTrach-MSFT commented on #48666
@explodinghat Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-21 23:44] BryanTrach-MSFT commented on #48654
@Jayesh040 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-22 00:01] smartpcr commented on #47187
here is error I got:

[code]

[2020-02-22 00:21] cynthn commented on #48683
@ntachandley Thanks for the feedback! Our engineering team is working on updating the benchmark scores. As soon as give us new numbers, we will get them published.

#please-close

[2020-02-22 00:21] #48683 closed

[2020-02-22 00:30] DCtheGeek commented on #48702
@mpchen I spoke with one of the engineers. This is partially to prevent workarounds in the policy rule to prevent resources from showing up as non-compliant. If you set the **enforcementMode** on the assignment to **DoNotEnforce**, an evaluation of a new or updated resource won't have any effect, ultimately bypassing an eval error. We recommend using enforcementMode when creating and testing new p

[2020-02-22 00:33] rolyon commented on #48478
Hi @krispenner
This role has been added to the article:
https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#managed-application-contributor-role
thanks

[2020-02-22 00:33] rolyon commented on #48478
#please-close

[2020-02-22 00:33] #48478 closed

[2020-02-22 00:38] kobulloc-MSFT commented on #48647
@jeremytcorp Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-02-22 00:38] kobulloc-MSFT commented on #48650
@Fulgan Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-02-22 00:39] kobulloc-MSFT commented on #48651
@SychevIgor Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-02-22 00:42] rolyon commented on #48649
Hi @aminerahmouni
Thanks for the feedback. I've added the Workbook Contributor and Workbook Reader roles:
https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#workbook-contributor

[2020-02-22 00:44] yushwang commented on #44672
@ElanShudnow Thanks for the feedback. You are correct in the issue. We used to have warning somewhere for this particular constraint, but probably lost it somewhere due to my mistake.

There are two scenarios in a forced tunneled subnet or VNet:

1. (Outbound/Egress) Internet bound connection from Azure VM - this should work fine as long as the on premises network (target for the forced tunneling)

[2020-02-22 00:56] yushwang commented on #44672
Here is one reference: https://docs.microsoft.com/azure/virtual-network/virtual-networks-udr-overview#default-route

Let's add the following text to the forced tunneling page: (feel free to wordsmith :-))

"You cannot directly access a VM via its public IP address in a forced tunneled subnet from the Internet. The return traffic will be routed through on-premises network with a different source IP

[2020-02-22 00:56] BryanTrach-MSFT commented on #48689
@blair0011 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-22 00:59] yushwang commented on #44672
#please-close

[2020-02-22 00:59] #44672 closed

[2020-02-22 01:01] Karishma-Tiwari-MSFT commented on #48470
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-02-22 01:01] #48470 closed

[2020-02-22 01:02] mike-urnun-msft commented on #48691
@ravick4u Thank you for your feedback! We will review and update as appropriate.

[2020-02-22 01:03] mike-urnun-msft commented on #48693
@ravick4u Thank you for your feedback! We will review and update as appropriate.

[2020-02-22 01:04] Karishma-Tiwari-MSFT commented on #46970
Thanks for sharing the update. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-02-22 01:04] #46970 closed

[2020-02-22 01:04] mike-urnun-msft commented on #48704
@aws-scripting-guy Thank you for your feedback! We will review and update as appropriate.

[2020-02-22 01:05] mike-urnun-msft commented on #48699
@scottstout Thank you for your feedback! We will review and update as appropriate.

[2020-02-22 01:25] RezaRahmati opened #48709 "I get "The request body must contain the following parameter: 'code'" error"
I get this error after entering email and password

Sorry, but we’re having trouble signing you in.
AADSTS900144: The request body must contain the following parameter: 'code'.

Not sure what to do

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c90e134-28de-dd70-5bce-c4a829866288
* Version Independent ID: 2c62c86f-4ba

[2020-02-22 01:53] BryanTrach-MSFT commented on #47651
@databasedav At this time there are no updates to share on the depends_on attribute not being supported. In order to use your image with Web App Containers, you'll need to create a single docker image that would work within the limitations of Web App Containers.

Otherwise, I'd suggest you look at another solution such as [Azure Container Instances](https://azure.microsoft.com/en-us/services/conta

[2020-02-22 01:53] #47651 closed

[2020-02-22 02:00] Karishma-Tiwari-MSFT commented on #47781
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-02-22 02:00] #47781 closed

[2020-02-22 02:00] Karishma-Tiwari-MSFT commented on #48336
Is there an update?

[2020-02-22 02:01] Karishma-Tiwari-MSFT commented on #48347
@c4l3b Is there an update?

[2020-02-22 02:08] BryanTrach-MSFT commented on #48680
@git14 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-22 02:09] BryanTrach-MSFT commented on #48685
@Ayshine Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-22 02:13] femsulu commented on #48146
Hello @sean-nixon, sorry for the delay. I am following up on your question with the Kubernetes feature owner and will have an update soon.

[2020-02-22 02:32] DixitArora-MSFT commented on #48335
@estensen For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-22 02:32] #48335 closed

[2020-02-22 02:36] KrishnaG-MSFT commented on #48668
@jmf2n Thanks for your feedback! We will review and provide an update as appropriate.

[2020-02-22 02:37] robcamer commented on #48634
I also noticed that "Tags" is marked as depreciated in the notification hub nuget package when you try to set it but this is not documented at all.  I found this link on it but it does not address the question and is still not clear how to send a  notification to a "tag".  https://github.com/Azure/azure-notificationhubs-dotnet/issues/10

[2020-02-22 02:38] Karishma-Tiwari-MSFT commented on #47908
Is there any update?

[2020-02-22 02:40] Karishma-Tiwari-MSFT commented on #46134
Is there an update?

[2020-02-22 02:42] KrishnaG-MSFT commented on #48331
Closing this issue for now as there is no response to the previous comment.

[2020-02-22 02:42] #48331 closed

[2020-02-22 02:42] KrishnaG-MSFT commented on #48367
Closing this issue for now as there is no response on the previous comment.

[2020-02-22 02:42] #48367 closed

[2020-02-22 02:48] Karishma-Tiwari-MSFT commented on #48486
I have created a PR with the update, changes will be live shortly.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/105217
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-02-22 02:49] #48486 closed

[2020-02-22 02:54] robcamer commented on #48634
I've been parsing out the docs and what i can find.  Still not able to receive notifications when i send from my backend.  Here's my Device Installation code. (I store a copy in a nosql db.  Model name for that is PhoneUserDeviceInstallation).

`
public async Task PerformDeviceInstallation(PhoneUserDeviceInstallation phoneUserDeviceInstallation)
        {
            try
            {

[2020-02-22 03:45] kevinlam1 commented on #48311
In the run details the actions inputs and outputs have sizes. For the monitor data, a single run of a logic app may not show up in the chart because the number is too small since it's calculated as pennies per GB.

[2020-02-22 04:03] BharathNimmala-MSFT commented on #48709
@RezaRahmati Thank you for reaching out to us, we will further evaluate the query and get back to you at the earliest.

[2020-02-22 04:28] Bartolomeus-649 opened #48712 "Access denied when accessing Azure portal > Azure Active Directory > Sign-ins"
How do you Identify legacy authentication use when you get this message when trying to access the Sign-ins page of  Azure Active Directory in the Azure portal ?
---------  Message ---------
Access denied

You do not have access

To see sign-in data, upgrade your organization's subscription to include Azure AD P1 or P2.
------------------------------

---
#### Document Details

⚠ *Do not edit this

[2020-02-22 04:41] Mike-Ubezzi-MSFT commented on #48700
@PeterTurcan Thank you for bringing this to our attention. We are investigating and will update you shortly.

[2020-02-22 05:58] gyne commented on #48403
Thanks @VikasPullagura-MSFT
Just an update. I noticed that when I run this command
_`get-vm "D365" | select -expand HardDrives | get-vhd`_

as shown in the image, I get a different file size which is exactly a multiple of 1024 but when I run another command as shown in the image
`_(Get-Item "C:\Users\Public\Documents\Hyper-V\Virtual hard disks\FinandOps10.0.5.vhd").length_`
I get a different size

[2020-02-22 06:40] AgSync-Aaron opened #48713 "DROP/CREATE Constraint script in #4 is broken"
## DO NOT USE THE SCRIPT IN STEP 4
Do not use the script as it is written in step 4. I provided my feedback during the private preview and the script was not fixed then. Maybe it will be fixed now. 🤞🏻

The documented script does not include schemas in the query. If you have the same table name in multiple schemas the script will group them together.

[code]

---
#### Document Details

⚠ *Do not ed

[2020-02-22 06:57] AgSync-Aaron commented on #48713
Also in step 6 schemas are ignored as well.
[code]

[2020-02-22 09:41] AKothana opened #48714 "Redirect URI not same for Client"
The code may have been working when drafted but it now giving an error as below when singing in:
              Message:  AADSTS50011: The reply URL specified in the request does not match the reply URLs configured for the application:

I solved the issue by adding '.WithRedirectURI' extension to the application builder in MainWindow.xaml.cs file as below:

            // Initialize the PublicClien

[2020-02-22 10:44] Ajay-Changulani opened #48715 "Misleading snapshots."
The first snapshot is showing role assignment for a storage account however, the description is for assigning role to a container (not storage account). This is confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ca94e03-5f05-6703-1672-8062f31c0780
* Version Independent ID: a6a8d9e9-9aac-c0ed-c474-34cbd0609584
*

[2020-02-22 11:02] ITAELTCUK opened #48716 "Azure Data Factory: Document could not be retreived"
I am trying to publish pipeline and other data factory resources to new resource group [Production] from development. I integrate the resource with GIT with main collaboration branch [master] .Once integrated, all the DF resources are visible in the data fcatory.
Now when I try to publish, I get exception:
**Publishing Error: Document couln't be retreived as it does not exist.**
Not sure what to d

[2020-02-22 11:48] lransona commented on #30046
Very kind of you, Miss Fen.
Thanks for your prompt answer.

Nice to meet you. My name is Aaron.

I have been surfing internet to understand properly if I can avoid using ISE. Why ? First, because it has a flat-cost to my customers, and quite expensive in comparison with the other Azure components we will using. Second,  I am just dealing with a transactional system with response time of seconds, s

[2020-02-22 11:51] lransona commented on #30046
Sorry Miss Fan.
Unexpected correction from the Spanish speller changed the "a" by "e”, my apologies for the mistake.
Sincerely,
Aaron Ranson

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Aaron Ranson <ransona@hotmail.com>
Sent: Saturday, February 22, 2020 12:48:37 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>; MicrosoftDocs/azure-docs <re

[2020-02-22 12:12] lransona commented on #30046
Hi Miss Fan,

I found this link and it looks like I am not the only one struggling with the Ase and  ISE problem .!?
https://feedback.azure.com/forums/287593-logic-apps/suggestions/15105741-is-it-possible-to-deploy-logic-app-to-app-service

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Aaron Ranson <ransona@hotmail.com>
Sent: Saturday, February 22, 2020 12:

[2020-02-22 12:38] PeterHedley94 commented on #48016
@nibaccam sure the error message is as follows:
[code]

[2020-02-22 13:01] gyulaszucs opened #48717 "Link directs to wrong site"
"Write queue storage messages (Output binding)" link redirects to Blob storage output example site instead of queue message example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5063120f-d48e-6a76-8e6d-208ead92d187
* Version Independent ID: 72bb8ecc-6dec-079a-a9d4-52205466a8c6
* Content: [Azure Queue storage trigger

[2020-02-22 13:40] theheatDK opened #48719 "Scan QR code to recover work Azure accounts?"
Hi,
When you have restored your iCloud backup to a new iPhone you need to scan a QR code to recover work Azure accounts. Where can I find information about how to accomplish this?  When I try to login to Azure I only have two options that require me to use the authenticator app.
The information I can find explains how this works if you do the initial setup, not what to do in a recovery situation.

[2020-02-22 13:46] KranthiPakala-MSFT commented on #48692
@tyler555g Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-02-22 13:58] NavtejSaini-MSFT commented on #48330
@pauloster We are going ahead and closing this thread for now. If you have any further question, please get back to us and we will continue the discussion.

[2020-02-22 13:58] #48330 closed

[2020-02-22 14:05] Zongrenfeng opened #48720 "Several points maybe need to add into the MSBuild command line for U-SQL database project."
Currently, i'm tring to create a Azure Pipeline for build a U-SQL database project contain a reference to another C# project by follow this doc, however, I found below things different than this doc:

1. In a Azure Pipeline, when using MSBuild task, you have to specify argument "OutputPath" other than the only argument "USQLSDKPath" used in this doc, otherwise the MSBuild command line will failed

[2020-02-22 14:24] bwren commented on #48244
Checking with the Cosmos team.  #in-progress

[2020-02-22 14:31] bwren commented on #48032
Thanks. We actually just updated this article along with a lot of others for the diagnostics extension.  More updates along the way, mainly for the Linux extension.

#please-close

[2020-02-22 14:31] #48032 closed

[2020-02-22 15:15] jzhouw opened #48721 "what's the extension name of the data (actual media fragments/chuns) file?"
Does this "streaming data (actual media fragments/chunks)" mean the .ts file?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7f41705-31f1-acaa-8009-92b5eb06a673
* Version Independent ID: 5b33b2d3-7fef-f63d-0fde-c5141c319a90
* Content: [Manage Azure CDN caching policy in Azure Media Services](https://docs.microsoft.com/

[2020-02-22 15:30] dotnetgator opened #48722 "Incorrect HelpText description for the Pattern element"
The description for the Pattern element's HelpText attribute currently reads: "The pattern or regular expression for this claim." However, the pattern/regex is specified by the RegularExpression attribute. The HelpText attribute's description should probably indicate that it is the message displayed when the entered value is invalid according to the provided Regular Expression.

---
#### Document

[2020-02-22 16:09] DixitArora-MSFT commented on #48717
Hi @gyulaszucs Thanks for your feedback. We will review and update as appropriate.

[2020-02-22 16:18] savaged commented on #48028
yes

On Fri, 21 Feb 2020 at 18:51, Mark Hopkins <notifications@github.com> wrote:

[2020-02-22 16:31] BharathNimmala-MSFT commented on #48705
@dotnetgator Thank you for your query, we will further look into it and get back to you at the earliest.

[2020-02-22 16:36] AnilKongariMSFT commented on #48688
@trevonmckay
Thanks for the question! We are investigating and will update you shortly.

[2020-02-22 16:38] BharathNimmala-MSFT commented on #48706
@juhlee-microsoft Thank you for sharing your feedback, we will further look into it and get back to you at the earliest.

[2020-02-22 16:39] AnilKongariMSFT commented on #48690
@mhussar
Thanks for the question! We are investigating and will update you shortly.

[2020-02-22 16:40] BharathNimmala-MSFT commented on #48698
@javirivas80 Thank you for sharing your feedback , we will further evaluate and get back to you at the earliest.

[2020-02-22 16:50] BharathNimmala-MSFT commented on #48694
@jeastburn Thank you for your query, we will further look into it and get back to you at the earliest.

[2020-02-22 17:03] BrunoIllipronti commented on #30802
I am facing the same issue when using https://login.microsoftonline.com/common/oauth2/token attempting to get a token for a Power BI app

![Error](https://user-images.githubusercontent.com/49993904/75096199-dfe98300-5562-11ea-8198-62a0abeb6d4d.jpg)

[2020-02-22 17:19] Steve-000 commented on #43139
Hi lyrana,

Just downloaded the latest version of Power BI desktop and tried to connect to Time series insights and still get the 404 error.
![TSI_404](https://user-images.githubusercontent.com/57746729/75096409-a84cfc00-559f-11ea-847a-bbec9a554de7.png)

In the above trail I still don't see a working fix and the issuue is closed. Can you please tell me how to fix this or where to find more helpful

[2020-02-22 17:21] bwren commented on #47050
Sorry for delay, I was checking with original author on this. We updated the article to just instruct user to follow the wizard for uninstall of old and install of new. Agree that there's really no reason to specify exact version numbers here.

#please-close

[2020-02-22 17:21] #47050 closed

[2020-02-22 17:35] c4l3b commented on #48347
@Karishma-Tiwari-MSFT
Below is a screenshot of the newest Remote Desktop Client for Mac (version 10.3.8).
This is the client that is linked in the documentation.

The current documentation references adding a "feed" several times.
As you can see in the screenshots, there is nowhere that references a "feed". I believe this must have been replaced by the term "workspace".

<img width="1168" alt="Scr

[2020-02-22 17:36] elvirk opened #48724 "Error: Code=InvalidTemplateDeployment"
I'm getting error, I tried to create storage account with this name from portal and it work ok but it doesn't work with ARM template deployment. I also tried to latest schema and same error.

New-AzResourceGroupDeployment: 12:24:23 PM - Error: Code=InvalidTemplateDeployment; Message=The template deployment 'addstorage' is not valid according to the validation procedure. The tracking id is 'cce87a1

[2020-02-22 18:01] bwren commented on #47006
#please-close

[2020-02-22 18:01] #47006 closed

[2020-02-22 18:41] BryanTrach-MSFT commented on #48716
@ITAELTCUK Thank you for your question. Can you please share with us the URL of the doc that you are having issues with?

Please note that we scope issues on this repro to feedback related to the docs. If you have a product question, please post it on MSDN or Stack Overflow. Thank you for your understanding.

[2020-02-22 18:43] BryanTrach-MSFT commented on #48715
@Ajay-Changulani Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-22 18:44] BryanTrach-MSFT commented on #48714
@AKothana Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-22 18:46] BryanTrach-MSFT commented on #48713
@AgSync-Aaron Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-22 18:53] reallybigcatheter commented on #44383
Yep, same issue here.

Because this issue is marked closed, I doubt anyone will see it.  Frustrating to be stopped dead in your tracks before you can even get any telemetry.

[2020-02-22 18:56] BryanTrach-MSFT commented on #48719
@theheatDK Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-22 19:01] sanderdekoning commented on #48513
I am wondering the same. You could also generate a thumbprint using the SHA256 algoritgm

[2020-02-22 19:08] p33t opened #48725 "Basic vs Standard - Still confused"
Hi,
I'm new to AKS and chose 'Basic' because I thought it was cheaper.  After perusing this page for several minutes I still cannot answer these questions:
* Is Basic less featured than Standard?
* What do I miss out on when I choose Basic? (assuming it is less featured)
Perhaps you could put in a grid with feature columns and checks/crosses indicating which SKU has what feature?

The bit about 'i

[2020-02-22 19:17] BryanTrach-MSFT commented on #48720
@Zongrenfeng Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-22 19:17] AjayKumar-MSFT commented on #48530
Thanks for all the great feedback! The doc aims at mentioning all the essential network configuration requirement (+outbound & UDR configuration) for Azure App service -App Service Environment (ASE) with Azure ExpressRoute & the ExpressRoute FAQ doc outlines all the frequently asked questions on ExpressRoute configuration with all Azure supported services. As mentioned in the document, the Express

[2020-02-22 19:22] BryanTrach-MSFT commented on #48721
@jzhouw Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-22 19:23] BryanTrach-MSFT commented on #48722
@dotnetgator Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-22 19:25] BryanTrach-MSFT commented on #48724
@elvirk Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-22 19:29] BryanTrach-MSFT commented on #48725
@p33t Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-22 19:31] codebeaulieu opened #48727 "No Azure setup instructions provided for the new tag:value view"
There is a new view displayed called "Tags" that has absolutely no instructions on what the "Tag" should be, and what the "value" should be. I can't even guess at it since I don't know what the "value" will be used for. Please explain this somewhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8d47957-e5b1-1930-55a

[2020-02-22 19:33] FrankHu-MSFT commented on #47778
@christianarg
if username and password don't match the sign-in fails and the detection does not happen.  It only is triggered on succesful auths

Please let us know if you have anymore questions in addition to that i'll go ahead and add a note into teh doc accordingly. Thanks!

[2020-02-22 19:33] FrankHu-MSFT commented on #47778
if there are no more questions i'll be closing this out by end of day monday.

[2020-02-22 19:36] AjayKumar-MSFT commented on #48557
@nickplennox, Thanks for sharing your valuable feedback!  Your feedback has been shared with the content owner (@mikeparker104) for further review & update the document as appropriate.

Just to highlight, this document '[Azure Notification Hubs updates for iOS 13](https://docs.microsoft.com/azure/notification-hubs/push-notification-updates-ios-13)' describes some of the impact of these (Apple's mo

[2020-02-22 19:37] dotnetgator opened #48728 "Documentation and Illustration for PredicateGroup are innaccurate"
The PredicateGroup documentation indicates the UserHelpText is required with an Occurrences value of 1:1.  However, this should be updated to be 0:1, since UserHelpText is optional (see the password examples on the page - they omit this in all but 1 case.)

This happens both in the initial illustration as well as the text that follows.

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-02-22 19:43] christianarg commented on #47778
@FrankHu-MSFT  yes
1. As I said before, can you clarify this in the docs?
2. I opened a support case when a failire sign in triggered an sign-in from unfamiliar location alert. After some conversations MS support confirmed me that the reason was that the attacker had valid credentials but the AD core blocked the sign-in because it was also from a known malicious IP. This should also be clarified i

[2020-02-22 20:01] kobulloc-MSFT commented on #48326
@SychevIgor We've posted your feedback here:
https://feedback.azure.com/forums/357324-azure-monitor-application-insights/suggestions/39773818-ability-to-set-cloud-role-name-with-codeless-solut

Please feel free to upvote this in order to get more visibility.

[2020-02-22 20:02] kobulloc-MSFT commented on #48326
@SychevIgor We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-02-22 20:02] #48326 closed

[2020-02-22 20:04] kobulloc-MSFT commented on #48325
@SychevIgor We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-02-22 20:22] dotnetgator opened #48729 "Missing specification for Parameter values"
Although examples are given for some valid parameter values, no spec is given for each parameter type.

Questions include:
* For IsLengthRange methods, are both Minimum and Maximum required? (If you want no max, just use a huge Maximum value?) Is a Minimum of zero allowed?
* For CharacterSet, is it defined as a regex Character Class specification?
* For IsDateRange, what are the allowed date synta

[2020-02-22 20:43] dotnetgator opened #48730 "What is default behavior of a PredicateGroup when the PredicateReferences attribute MatchAtLeast is omitted?"
It seems from trial and error that when MatchAtLeast is omitted, the behavior is "Match All", but this does not seem to currently be captured in the documentation. Is this correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e08541b0-1458-2764-0a1c-d78301c01e93
* Version Independent ID: 421d276b-2f52-5372-5978-124b7

[2020-02-22 21:15] EwenStewartAtTally opened #48731 "reference Microsoft.Azure.WebJobs.Extensions.ServiceBus as the NUGET package for V2"
Seems to reference Microsoft.Azure.WebJobs.ServiceBus currently
which is incompatible

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0440205f-adcc-0fc5-3adb-db4dbe1d1292
* Version Independent ID: 14ad1300-590c-8102-6887-366078e1882a
* Content: [Azure Service Bus bindings for Azure Functions](https://docs.microsoft.com/

[2020-02-22 22:40] kobulloc-MSFT commented on #48346
@NorthHighlandNicole It appears that this is a somewhat complicated subject.

The short version is that the default constructor for .NET and .NET Core has been marked obsolete, however TelemetryClient should still work for everything else.

There is a [link to other documentation](https://docs.microsoft.com/en-us/azure/azure-monitor/app/api-custom-events-metrics#get-a-telemetryclient-instance) for

[2020-02-22 22:43] kobulloc-MSFT commented on #48346
@NorthHighlandNicole Reviewing your feedback, I believe there's an opportunity to make this more clear for other readers.  I'm going to assign this to the document author so that we can improve our documentation here.

[2020-02-22 23:09] benbeaudry opened #48732 "Typo in first paragraph"
In the first paragraph, the link "declarative access to a wide variety of Azure and and third-party services" contains twice the word "and". Should be replaced by "declarative access to a wide variety of Azure and third-party services".

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8a0ac96-e410-b481-9fdb-90d

[2020-02-23 00:29] FrankHu-MSFT commented on #48657
Thanks @mziada it sounds like you're referring to the picture needing to be updated is that correct?

[2020-02-23 01:23] BryanTrach-MSFT commented on #48727
@codebeaulieu Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-23 01:24] BryanTrach-MSFT commented on #48728
@dotnetgator Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-23 01:25] BryanTrach-MSFT commented on #48729
@dotnetgator Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-23 01:27] BryanTrach-MSFT commented on #48730
@dotnetgator Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-23 01:27] BryanTrach-MSFT commented on #48731
@EwenStewartAtTally Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-23 01:30] BryanTrach-MSFT commented on #48732
@benbeaudry Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-23 02:57] MarileeTurscak-MSFT commented on #48712
@Bartolomeus-649
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-23 03:07] eyast opened #48733 "Updathe documentation - the QueueService class has been renamed to QueueServiceClient"
it seems that QueueService doesnt exists anymore and one has to call QueueClient, with different parameters (account_url and credential), as per here: https://docs.microsoft.com/en-us/python/api/azure-storage-queue/azure.storage.queue.queueserviceclient?view=azure-python
this is documented here: https://github.com/MicrosoftDocs/azure-docs/issues/42228
additionally to queue name. the methods are al

[2020-02-23 03:44] BharathNimmala-MSFT commented on #48378
Assigning this to our document author @bwren to further evaluate the feedback and update the document accordingly.

[2020-02-23 03:54] BharathNimmala-MSFT commented on #48462
@slavizh Thanks again for bringing this to our notice. PR has been raised to update the document, once reviewed and approved the document will reflect accordingly.

[2020-02-23 03:54] KrishnaG-MSFT commented on #48668
@jmf2n Are you testing in VMs / boxes created by Hashicorp Vagrant ?

[2020-02-23 04:25] BharathNimmala-MSFT commented on #48447
@tkumark  To add Windows performance counter data source for connected computers that run the Windows operating system, you can use powershell cmdlets
 `New-AzOperationalInsightsWindowsPerformanceCounterDataSource`

Please refer to [this ](https://docs.microsoft.com/en-us/powershell/module/az.operationalinsights/new-azoperationalinsightswindowsperformancecounterdatasource?view=azps-3.5.0
) documen

[2020-02-23 05:01] BharathNimmala-MSFT commented on #48354
@bingofingers Thanks for circling back. Yes you are looking into right option below documentation should further help to put into the right track.

[Export Azure Activity log to storage or Azure Event Hubs](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/activity-log-export)
[Stream Azure monitoring data to an event hub for consumption by an external tool](https://docs.microsoft.com/

[2020-02-23 05:16] BharathNimmala-MSFT commented on #48659
@shriazure Thank you for reaching out, regarding the copy limits for ARM templates currently count can't exceed 800.

The count can't be a negative number. If you deploy a template with Azure PowerShell 2.6 or later, Azure CLI 2.0.74 or later, or REST API version 2019-05-10 or later, you can set count to zero. Earlier versions of PowerShell, CLI, and the REST API don't support zero for count.

Abo

[2020-02-23 05:22] jishansiddique commented on #48641
Thank you for your response can you please share what is that max limit push document in azure server. As per the azure document, I'm finding the max limit 1000 in `IndexBatch.new()` but it's allowed 32000 in a single batch.

https://docs.microsoft.com/en-us/azure/search/search-limits-quotas-capacity

https://docs.microsoft.com/en-us/azure/search/search-what-is-data-import

https://docs.microsoft.

[2020-02-23 05:28] #48692 closed

[2020-02-23 05:29] KranthiPakala-MSFT commented on #48692
@tyler555g The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-02-23 05:54] BharathNimmala-MSFT commented on #48595
@edarsaut [Throttlelimit ](https://docs.microsoft.com/en-us/powershell/module/Microsoft.PowerShell.Core/ForEach-Object?view=powershell-7) specifies the number of script blocks that will run at a time. Input objects will be blocked until the running script block count falls below the ThrottleLimit. The default value is 5.

Additional you can also refer to [this ](https://devblogs.microsoft.com/powe

[2020-02-23 08:29] BryanTrach-MSFT commented on #48733
@eyast Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-23 09:43] SychevIgor commented on #48325
It was anything, but not an answer on question.
Question was about permissions

[2020-02-23 11:08] Zongrenfeng commented on #48720
@BryanTrach-MSFT I have found the root cause, here is what I found, please consider whether add below info into document:

After investigate the log and project files carefully, I found that why the "Truncated 'Reference' item absolute path <xxxx\yyyy\zzzz\abc.dll> => abc.dll" action lead to build failed by "cannot find the file abc.dll" is because of I supplied it an OutputPath value in Azure pip

[2020-02-23 11:09] mcmorry opened #48734 "Possible typo and wrong description (repeated later)"
&lt;container_expression&gt; '.' property_
Specifies that document should be retrieved by accessing the property_name property or array_index array element for all documents retrieved by specified container expression.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bce15163-bc07-8c3a-5ac6-3de981d8f241
* Version Indepen

[2020-02-23 11:45] renklus opened #48735 "Activity function without parameter"
This page says to generate a random number I should use an activity function. It is not necessary to pass an argument to an activity function just to generate a random number. But I also cannot find a way to declare an activity function without a parameter.
Can you please explain best practices for this use case?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2020-02-23 12:22] Mskirvk commented on #39958
I'm still facing this issue with IoTHubDeviceClient.

Error:
pi@raspberrypi:~ $ python3 tag_test.py
Traceback (most recent call last):
  File "tag_test.py", line 1, in <module>
    from azure.iot.device import IoTHubDeviceClient
ImportError: No module named 'azure'

Python version is 3.5.3-1
OS: Debian Stretch lite
Rasbperry pi 3 b+

Package is installed:
Installing collected packages: azure-iothu

[2020-02-23 12:23] julie-ng opened #48737 "Code example is broken"
The is a broken code block on this page. The first code block reads:

[code]

but is missing a `\` for the second newline and should be:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 717d6f8d-0ba4-69c9-c74d-6090c0d886bc
* Version Independent ID: c010898d-242b-da0f-b7a9-850a1a0f6c9e
* Content: [Lock images - Az

[2020-02-23 12:40] AleynovSergey opened #48738 "Using sample labeling tool for table labeling"
How to label a table with multiple rows using sample labeling tool?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5280e532-d025-0755-8a06-a2dcb0a969cd
* Version Independent ID: 0a9e0c1f-96fb-9968-218f-4f8372608699
* Content: [Quickstart: Train with labels using the REST API and Python - Form Recognizer - Azure Cogniti

[2020-02-23 13:01] AleynovSergey commented on #47112
@RohitMungi-MSFT Rohit, could you please explain how to label a table with multiple rows .

[2020-02-23 13:36] yoelhor commented on #48698
You can use [ extension attributes](https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-custom-attributes) in any policy. You can also store the phone number in extension attributes.

[2020-02-23 13:45] yoelhor commented on #48676
When you create a sign-up or sign-in policy (with local accounts), you see a Forgot password? link on the first page of the experience. Clicking this link doesn't automatically trigger a password reset policy. Instead, the error code AADB2C90118 is returned to your app. Your app needs to handle this error code by invoking a specific password reset policy.

Following diagram depicts the password re

[2020-02-23 13:50] #48569 closed

[2020-02-23 13:53] #48579 closed

[2020-02-23 13:54] yoelhor commented on #48579
Thank you for your feedback. The document will be updated Monday PST

[2020-02-23 13:56] allan-mobley-jr commented on #48676
Thanks for getting back to me with an excellent explanation. I actually found a way to get around it by using JavaScript to replace the link interjected by B2C with the run user flow generated link for my password reset policy in the B2C Azure portal.

It works just fine, but I'm not sure if doing this is the right approach, or whether the link generated in the portal is time sensitive or poses a

[2020-02-23 14:02] allan-mobley-jr commented on #48676
P. S.
If this is a perfectly fine way to handle this, then my next question is why you guys do not simply generate such a link for the reset password link in the first place.

Seems like a much more straight forward approach, than sending an error response back to the client.

[2020-02-23 14:05] yoelhor commented on #48705
#sign-off

[2020-02-23 14:06] #48705 closed

[2020-02-23 14:10] yoelhor commented on #48102
This feature available only for OIDC and OAuth2.

[2020-02-23 14:14] yoelhor commented on #48102
#please-close

[2020-02-23 14:14] #48102 closed

[2020-02-23 14:17] yoelhor commented on #47398
Thanks for your feedback, the `data-preload=true` is documented. Please see [Guidelines for using custom page content](https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-ui-customization#guidelines-for-using-custom-page-content).

Yoel

[2020-02-23 14:17] yoelhor commented on #47398
#please-close

[2020-02-23 14:17] #47398 closed

[2020-02-23 14:35] marclelijveld opened #48739 "Power BI Publish to Web"
In the section export analytics query is the Power BI Publish to Web functionality listed. This feature puts the data on the public web, without any kind of security applied. Please know that this might result in data privacy issues and possible data breaches.

The screenshots and functionality described are out-dated. Nowadays there are betters options available to embed your content in different

[2020-02-23 15:09] motim6026 opened #48740 "Move existing subscription to another tenant via API"
Is it possible to transfer an existing subscription between tenant using the API?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da261ee4-3348-b520-a27c-98f9d9ef40cc
* Version Independent ID: 13d12189-ee46-8058-dd99-058adc69f1c5
* Content: [Add an existing Azure subscription to your tenant - Azure AD](https://docs.micr

[2020-02-23 15:16] Ratomir commented on #30918
Thanks to @rwatjen. His comment has to be part of the official documentation.

[2020-02-23 16:27] #46535 closed

[2020-02-23 16:32] shashishailaj commented on #48282
@jagustin19 No it does not override the statement about Password hash synchronization for selected subset of users.  Because if you are selecting Password hash synchronization with the staged rollout feature, it also describes some pre-work which needs to be done . The step 2 within the [Pre-work for PHS type staged rollout document](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/h

[2020-02-23 16:32] #48282 closed

[2020-02-23 16:39] shashishailaj commented on #48281
@MicrosoftGuyJFlo Could you please help provide some more clarification on this ?

[2020-02-23 17:13] kamranayub commented on #45867
@TravisCragg-MSFT I have noticed this issue when trying to create an endpoint for a Storage account via PowerShell (and I've reproduced it twice now).

In my course, if you're a Pluralsight subscriber, you should have access to view this clip: https://app.pluralsight.com/course-player?clipId=d93b2cb0-e736-474b-aeb3-66847fec3afe

This is the script that we're executing:

https://github.com/kamranay

[2020-02-23 17:15] pszabolcsgraphisoft opened #48741 "typo"
In the Powershell section of "Enable the feature on your storage account": ActiveDirectoryAzureStirageSid --&gt; ActiveDirectoryAzureStorageSid

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fba964be-3f77-d80c-f1a5-35bb1430bb8f
* Version Independent ID: fe70b11e-10fe-5a8c-1fad-b22a83693503
* Content: [Enable Active Dir

[2020-02-23 17:19] jakaruna-MSFT commented on #48734
@mcmorry
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-23 17:19] jakaruna-MSFT commented on #48737
@julie-ng
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-23 17:21] jakaruna-MSFT commented on #48735
@renklus
Thanks for the question! We are investigating and will update you shortly.

[2020-02-23 17:22] jakaruna-MSFT commented on #48738
@AleynovSergey
Thanks for the question! We are investigating and will update you shortly.

[2020-02-23 17:22] ChefGillani opened #48742 "ssh command syntax"
folks - the correct ssh syntax for connecting with linux VM will go like this.

I got stuck initially figuring out the syntax but figured as below:

Happy Azuring :)

ssh username@fqdn -p portnumber

example in above case:

ssh username@mydevtestlab597975021002.eastus.cloudapp.azure.com -p 50661

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-02-23 17:26] #48728 closed

[2020-02-23 17:34] yoelhor commented on #48676
Thanks for the feedback. There is such a feature request [Go Direct to Password Reset from Sign-In/Sign-Up](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/33494830-go-direct-to-password-reset-from-sign-in-sign-up) feel free to vote.

Meanwhile, you can use this approach (for custom policy only) https://github.com/azure-ad-b2c/samples/tree/master/policies/embedded-passw

[2020-02-23 17:42] allan-mobley-jr commented on #48676
Thanks. I just voted although the voting has been lingering there for quite some time (2018).

And there is a response from someone in the Azure AD team that says you guys have started working on this (2018).

After which is a whole lot of people who have left comments asking for any updates on the supposed "started working on this."

Get Outlook for Android<https://aka.ms/ghei36>
________________

[2020-02-23 17:47] KrishnaG-MSFT commented on #48469
@SamirFarhat Closing this issue for now. If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-02-23 17:47] #48469 closed

[2020-02-23 17:51] KrishnaG-MSFT commented on #48476
@yucwan Thanks for the response and enhancing the doc. 👍
@everythingeverywhere Closing this issue for now. If there are further questions regarding this matter or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2020-02-23 17:51] #48476 closed

[2020-02-23 18:03] BryanTrach-MSFT commented on #48739
@marclelijveld Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-23 18:06] kduenke opened #48743 "Tag Limits"
Are the tag limits in this document still accurate?
1.) "Azure Notification Hubs supports a maximum of 60 tags per registration."
2.) "Tag expressions using only OR operators can reference 20 tags; otherwise tag expressions are limited to 6 tags."

I recently tried to register an AppleRegistrationDescription with a TON of tags.  I received "Registration Tags serialized size is more than maximum su

[2020-02-23 18:06] BryanTrach-MSFT commented on #48740
@motim6026 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-23 18:09] BryanTrach-MSFT commented on #48741
@pszabolcsgraphisoft Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-23 18:12] BryanTrach-MSFT commented on #48742
@ChefGillani Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-23 18:14] BryanTrach-MSFT commented on #48743
@kduenke Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-23 18:33] markjbrown commented on #47481
It is documented and is in every sample we've provided.

Sounds like you are unblocked. If there is nothing further we will close this issue.

Thanks.

#please-close

[2020-02-23 18:33] #47481 closed

[2020-02-23 18:35] ChefGillani commented on #48742
thanks @BryanTrach-MSFT but this was not an issue, i just mentioned it to save time for others.

closing the issue now.

[2020-02-23 18:35] #48742 closed

[2020-02-23 18:35] ChefGillani commented on #48742
thanks @BryanTrach-MSFT but this was not an issue, i just mentioned it to save time for others.

closing the issue now.

[2020-02-23 18:35] markjbrown commented on #47486
Will consider real-world samples.

Thanks.

[2020-02-23 18:42] robsanf opened #48744 "user-assigned managed identity step has mistake"
"List role assignments for a user-assigned managed identity" procedure step 1 should read user-assigned rather than system-assigned.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5007891-1b7a-1c87-6a0d-ea46cd469f34
* Version Independent ID: 2446189d-025a-e87a-bf8b-9f90f5d254ae
* Content: [List role assignments using

[2020-02-23 19:19] bherrsk opened #48746 "Highlight this point"
You should put a huge bubble around this and maybe relocate it to another section.

"Pre-2017 Exchange Online tenants have modern authentication disabled by default. In order to avoid the possibility of a login loop while authenticating through these tenants, you must enable modern authentication."

It's under "Protecting privileged actions" but it's not really obvious and is buried at the bottom

[2020-02-23 19:24] rycle commented on #48336
Thanks for the extra attention on this issue @Karishma-Tiwari-MSFT !

Yes, there's an active support case opened for this issue, However, the reason for posting here in addition is due to the fact that the documentation is inaccurate, as it may imply that enabling identity on an existing app is possible just by arm change request.

From checking it seems like enabling identity on an existing app t

[2020-02-23 19:45] Karishma-Tiwari-MSFT commented on #48706
This information for N series is provided here: https://docs.microsoft.com/en-us/azure/virtual-machines/sizes-gpu?toc=/azure/virtual-machines/linux/toc.json&bc=/azure/virtual-machines/linux/breadcrumb/toc.json

And for MV2, please refer to this doc: https://docs.microsoft.com/en-us/azure/virtual-machines/mv2-series?toc=/azure/virtual-machines/linux/toc.json&bc=/azure/virtual-machines/linux/breadcr

[2020-02-23 19:57] shashishailaj commented on #48289
@Ken-Br If you are running the Azure AD password protection proxy on a separate server than Azure AD connect server then you should have no problem with the auto update being disabled. And if you have deployed password protection proxy on same server as AAD connect , ideally you should not see any issue because if you [disable the auto update for AD connect using Set-ADSyncAutoUpgrade](https://doc

[2020-02-23 20:01] mslot commented on #36458
If it isn't applied then the runtime will generate one for you, i think.

[2020-02-23 20:11] shashishailaj commented on #48228
@tmarius1970 Thank you for your reply . I tried to check a workaround and found that if you add the guest  user being invited using the Azure AD portal (portal.azure.com) and add the user to the O365 group you had created beforehand while inviting the user itself , the user just gets an email that they have been invited to the tenant .  And user tries to access the team SharePoint using the URL **

[2020-02-23 20:11] #48228 closed

[2020-02-23 20:12] shashishailaj commented on #48233
@harald-quist-stratsys  We are engaging the content author on this for further clarification.

[2020-02-23 20:19] shashishailaj commented on #48554
@Sankaranis  We use github for documentation improvement and fixing any bugs in documentation however your scenario seems to be require a deeper troubleshooting which would require multiple log collection and engagement of CDS specialists. I would suggest you to open a case with Microsoft support in this case to better troubleshoot this issue. We will close this issue now as this needs support tea

[2020-02-23 20:19] #48554 closed

[2020-02-23 21:31] hansenms commented on #47937
Handling this through issue on the OSS repo.

#please-close

[2020-02-23 21:31] #47937 closed

[2020-02-23 21:52] z1085767 commented on #23772
@shashishailaj Any update on the thread. Your help will be much appreciated.

[2020-02-23 22:29] SamaraSoucy-MSFT commented on #48647
@jeremytcorp I'm going to assign this to the doc author to address.

In the meantime, you can use DefaultAzureCredential() for managed identity with Key Vault, just as you do with App Config:

[code]

[2020-02-23 22:31] SamaraSoucy-MSFT commented on #48646
@SychevIgor I'm going to assign this to the doc author to address.

[2020-02-23 22:51] jmf2n commented on #48668
@KrishnaG-MSFT No two of these are VMware VMs, I believe from VMware 5.5 hosts.  The other are physical machines.

It might be something to do with the client rev prior to this one - we have a working 2012R2 Arc box under that client rev (19336).  This latest one (20037.003) exhibits the issue.

[2020-02-23 23:11] mkokabi opened #48748 "Deploy fails with other Rail projects"
Hi,
When I try the sample in this page it works but if I try with a basic sample created by rails cli:

rails new demo

while I push my changes the deployment starts but it would fail with this error:

Command: "/home/site/deployments/tools/deploy.sh"
ENOENT: no such file or directory, open '/opt/nodejs/12.13.0/npm.txt'
Handling node.js deployment.
Kudu sync from: '/home/site/repository' to: '/hom

[2020-02-23 23:29] SamaraSoucy-MSFT commented on #48329
One thing to note first- I misspoke a bit. Since the logs blade in App Insights is using the Log Analytics engine, the union operator works there.

I've put in a pull request to note that the `union` operator will allow you to query across resources. It will go live once it has been approved.

[2020-02-23 23:29] #48329 closed

[2020-02-23 23:45] dkdubey commented on #33499
Any update on this issue? I am also facing same problem ADO rest API for revisions never returns null or 404 on next page URL but isLastBatch =true if no more records.

[2020-02-23 23:46] SamaraSoucy-MSFT commented on #48648
@SychevIgor I've assigned this issue to the doc author to determine if the verbiage needs to be adjusted.

[2020-02-24 00:03] BryanTrach-MSFT commented on #48744
@robsanf Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-24 00:04] BryanTrach-MSFT commented on #48746
@bherrsk Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-24 00:05] BryanTrach-MSFT commented on #48748
@mkokabi Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-24 00:27] anthonynz opened #48749 "User writeback "will be added again""
The AAD Connect Version Release History page states that "User Writeback" was only temporarily removed and would be added again - this was in 2015 - when is it being reinstated?  5 years does not seem temporary by any stretch of the imagination.

https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-version-history#1086670

"The preview feature User writeback was tempora

[2020-02-24 00:28] SamaraSoucy-MSFT commented on #48650
@Fulgan could you share a little bit more of how you would like local dev to work? I'm not entirely sure whether you are looking for a local emulator or something else.

There is a note that the setting goes in the Connection Strings section of the app settings in the App Service in step #3, but we may need to increase the visibility of that section.

[2020-02-24 00:29] anthonynz opened #48750 "User Writeback will be added again later..."
The Version History for 1.0.8667.0 states that "User Writeback" was only temporarily removed and would be added again - this was in 2015 - when is it being reinstated?

https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-version-history#1086670

"The preview feature User writeback was temporarily removed based on feedback from our preview customers. It will be added ag

[2020-02-24 00:58] Jaans opened #48751 "How to define placement constraints at service and application level"
Struggling to find any information on how to define placement constraints for a service at the "ServiceType", "Service Instance" and "Application" levels. Additionally, including examples of each of the manifests would be helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5694a0e-53c2-4b8f-fc65-15b56b0e8f11
* Ver

[2020-02-24 01:24] jmprieur commented on #48714
Thanks for the feedback, @AKothana
Addressed by PR https://github.com/AzureADQuickStarts/AppModelv2-NativeClient-DotNet/pull/21

[2020-02-24 01:55] AdrianSanguineti opened #48752 "Example will not work if the Web App is configured for FTPS only."
Whilst I understand that the examples cannot cover all cases, but this page should at least highlight that the present example code given will not work if FTPS only is configured on the Web App.  That's because the `System.Net.WebClient.UploadFile`  does not enable SSL on the FTP request it creates, nor is there an option to force it to. Those unfamiliar with the .NET library may not realise that'

[2020-02-24 02:26] ecfan commented on #30046
@kevinlam1, could you please help with @lransona's questions?

[2020-02-24 02:27] kobulloc-MSFT commented on #48651
@SychevIgor This appears to be the default list.  Are you seeing something different?

![image](https://user-images.githubusercontent.com/37556655/75125496-32fa2d80-566a-11ea-82f9-c0e6f7de9bc3.png)

[2020-02-24 02:36] SumanthMarigowda-MSFT commented on #48525
@CHDAFNI-MSFT Do you have more questions on this query? Kindly let us know if the above helps or you need further assistance on this issue.

[2020-02-24 02:37] CHDAFNI-MSFT commented on #48525
This answers it thanks. Please consider adding this detail to the document. - Chase

Sent from my T-Mobile 4G LTE Device
Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: SumanthMarigowda-MSFT <notifications@github.com>
Sent: Sunday, February 23, 2020 9:36:04 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Chase Dafnis <chdafni@microsoft.com

[2020-02-24 02:40] SumanthMarigowda-MSFT commented on #48320
@sebhe Apologies for delay in responding here! Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-24 02:40] kevinlam1 commented on #30046
Logic Apps do not run in an ASE and ISE and ASE are not interchangeable.
ASE can only be used to run App Service web apps and function apps. So essentially it means that it will host your custom code and it does not provide integration out of the box with those systems you noted above.
If you would like to use the convenience of Logic Apps across network boundaries but don't want to incur the cost

[2020-02-24 02:40] kobulloc-MSFT commented on #48325
@SychevIgor Referring to the quote above, the user permissions are dependent on being able to view the Application Insights resource.  The Application Insights resource in turn makes a map by finding components that it makes HTTP dependency calls to with the Application Insights SDK installed.

[2020-02-24 02:49] davidobrien1985 commented on #48177
Any update on this? We have a potential customer where we'd like to use this but if the documentation doesn't clearly show that it's supported we might end up in a weird situation.

@msrini-MSFT @sharad4u @sharadagrawal

[2020-02-24 03:18] DashleenBhandari-MSFT commented on #48398
@bobrundle , Just wanted to understand if you have further queries.

[2020-02-24 03:25] DixitArora-MSFT commented on #48487
@brandonh-msft I have assigned this to content author for further review and update as appropriate.

[2020-02-24 03:42] DixitArora-MSFT commented on #48522
@nishantsny This channel is for driving improvements towards MS Docs, for any product related question/issue I would recommend you to create a thread on the forums- MSDN / Stackoverflow. Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2020-02-24 03:42] #48522 closed

[2020-02-24 03:47] neeleshray-msft commented on #48750
@anthonynz Thank you for reaching out. We will investigate and update the thread further.

[2020-02-24 03:47] neeleshray-msft commented on #48749
@anthonynz Thank you for reaching out. We will investigate and update the thread further.

[2020-02-24 03:48] neeleshray-msft commented on #48750
Duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/48749

[2020-02-24 03:48] neeleshray-msft commented on #48749
Duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/48750

[2020-02-24 03:48] neeleshray-msft commented on #48750
Closing Thread as Duplicate.

[2020-02-24 03:48] #48750 closed

[2020-02-24 03:56] amanmcse commented on #48385
@gbrock-intraprisehealth We were able to reproduce the issue at our end and working with engineering team on this. I will post further updates on this thread.

[2020-02-24 03:59] BharathNimmala-MSFT commented on #48709
@RezaRahmati Sorry to hear that you experienced the login failures. We had an issue related to [MSA Login Failures](https://status.azure.com/en-us/status/history/) which impacted subset of customers in specific scenarios. Our engineers have mitigated the issue and working on full root cause and prevent future occurrences.

You can please find the issue details [here](https://status.azure.com/en-us

[2020-02-24 04:07] DashleenBhandari-MSFT commented on #48509
@darzu , The webhook is going to be triggered automatically when a new docker image is pushed, and the WebApp will restart in order to use this new image. The startup time will mostly depend on the time taken by the application to come up in the container.

Yes, using Deployment Slot is recommended for blue-green deployments: https://acaseyblog.wordpress.com/2015/10/31/blue-green-deployments-with-

[2020-02-24 04:07] #48509 closed

[2020-02-24 04:14] PramodValavala-MSFT commented on #48653
@vijay-gowda Just following up here... Hope my previous comment clears things up.

[2020-02-24 04:14] ecfan commented on #47062
Hi @philipstreet-hiscox, the topic has been updated and the issues addressed. I'll now close this issue, but if you have additional related questions or concerns, please feel free to continue responding on this thread. Thanks!

@PramodValavala-MSFT: #please-close

[2020-02-24 04:14] #47062 closed

[2020-02-24 04:20] PramodValavala-MSFT commented on #48451
@oatsoda Hope my previous comment clears things up.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-24 04:20] #48451 closed

[2020-02-24 04:29] SnehaAgrawal-MSFT commented on #48752
@AdrianSanguineti Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-24 04:30] PramodValavala-MSFT commented on #48735
@renklus Though you have to use an activity trigger for an activity function [as documented](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-types-features-overview#activity-functions), you don't necessarily have to pass anything to it. You could simply send it a `null` value in C# (since the method signature requires one).

The [function chaining](https://docs.mic

[2020-02-24 04:32] MonikaReddy-MSFT commented on #48742
@ChefGillani - Thanks for providing the info, it does definitely help others.

[2020-02-24 04:36] SnehaAgrawal-MSFT commented on #48401
@sven73a Thanks again for asking question! After performing initial investigations on the issue with the information you have shared feels this require deeper investigations, so request you to send an email to AzCommunity[at]Microsoft[dot]com referencing this issue.

[2020-02-24 04:36] #48401 closed

[2020-02-24 04:50] AshokPeddakotla-MSFT commented on #48690
Adding @RamonArguelles for further review and update on this issue.

[2020-02-24 04:56] CHEEKATLAPRADEEP-MSFT commented on #48559
@tharanga2006  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-02-24 04:56] #48559 closed

[2020-02-24 04:56] CHEEKATLAPRADEEP-MSFT commented on #48548
@paragsangoi Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-02-24 04:56] #48548 closed

[2020-02-24 05:05] SnehaAgrawal-MSFT commented on #48389
@hileyj Thanks for asking question! Yes, you are correct as it is mentioned here in this [doc](https://docs.microsoft.com/en-us/learn/modules/capture-application-logs-app-service/2-enable-and-configure-app-service-application-logging) “Saving to Blob storage is not available for linux application log” Also, I have shared your feedback with content owner @cephalin on this.

[2020-02-24 05:06] shashishailaj commented on #48293
@gbollardgit WE checked this and currently the functionality is not available by design. You would have to programmatically store the group state multiple times and store this information to later cross reference it with the list of members to find out which members were added or removed. I would suggest you to open a [Uservoice feature request ](https://feedback.azure.com/forums/169401-azure-acti

[2020-02-24 05:06] #48293 closed

[2020-02-24 05:45] DashleenBhandari-MSFT commented on #47846
@s-bauer , Could you please provide the document you are referring to?

[2020-02-24 05:46] anwather opened #48753 "Permissions required to install solution via Security Center"
What permissions are required to install via the remediation task in ASC -&gt; when I deploy it states that I don't have the permission Microsoft.Security/serverVulnerabilityAssessments/write however I can't locate a role which contains this action.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 747a2c52-c59c-dedc-9c72

[2020-02-24 05:48] DashleenBhandari-MSFT commented on #48634
@robcamer , Just wanted to understand if you have any queries.

[2020-02-24 05:48] #48634 closed

[2020-02-24 05:50] neeleshray-msft commented on #48323
@narayankumargupta We would be closing this thread now. Let us know if we can assist you more on the same.

[2020-02-24 05:50] #48323 closed

[2020-02-24 05:53] neeleshray-msft commented on #48402
@MicrosoftGuyJFlo Could this be re-confirmed from the Engineering Teams ?

[2020-02-24 05:54] SwathiDhanwada-MSFT commented on #48317
@amberbhargava  Can you please provide your inputs on the same?

[2020-02-24 05:56] AshokPeddakotla-MSFT commented on #48594
I have assigned the issue to the content author @dominicbetts to evaluate and update as appropriate.

[2020-02-24 05:57] SwathiDhanwada-MSFT commented on #48632
@tfitzmac  Can you please review and update the document if necessary?

[2020-02-24 05:59] SwathiDhanwada-MSFT commented on #48532
@ozzmaster  Just following up to check if you got chance to check my colleague comment on your request.

[2020-02-24 06:19] SwathiDhanwada-MSFT commented on #48316
@migel0 The logs collected by Linux Diagnostic Agent are generally sent to either Azure Storage or Event Hub. As the Azure Monitor plugin provided by Grafana labs only collects data either from Azure Monitor, Application Insights or Azure Log analytics , the guest metrics are not shown in Azure Monitor plugin.

![image](https://user-images.githubusercontent.com/48976275/75132049-81a3d800-56fb-11ea

[2020-02-24 06:19] #48316 closed

[2020-02-24 06:19] neeleshray-msft commented on #48493
@WiseOldHowell
When you use the PS cmdlet `New-AzADApplication -AvailableToOtherTenants $true`, you are making the application available for the ORG Accounts of the other tenants. The users would either have to give consent for the application themselves or the GA of the Tenant gives consent on behalf of the users of the tenant.

Here's how the options look from the Portal UI:
![Audience 1](https:

[2020-02-24 06:22] linda33wj commented on #47049
Thanks for the feedback. Doc is updated. Please refer to the description of blockSizeInMB in this section https://docs.microsoft.com/en-us/azure/data-factory/connector-azure-blob-storage#blob-storage-as-a-sink-type.

#please-close

[2020-02-24 06:22] #47049 closed

[2020-02-24 06:23] neeleshray-msft commented on #48529
@kanandaraj Thank you for the update. We will be closing this thread now. Let us know if you need further assistance on the same.

[2020-02-24 06:23] #48529 closed

[2020-02-24 06:24] neeleshray-msft commented on #48545
@vijayraavi We will be closing this thread now. Let us know if we can assist you further on the same.

[2020-02-24 06:24] #48545 closed

[2020-02-24 06:26] Willem-J-an commented on #47049
@linda33wj  Awesome!

[2020-02-24 06:27] Ayshine commented on #48685
Thank you @BryanTrach-MSFT!
If there is not a Bug, I guess there should be an addition to the documentation that would explain how can I connect Azure IOT Remote Monitoring with Time Series Insight.
Looking forward to the update,

[2020-02-24 06:32] jtheisen commented on #41810
I'm thinking the same thing as the OP. Maybe "App Service Certificate is not issued." means something else, but if it comes when the verification isn't done yet than this is indeed nonsensical.

[2020-02-24 06:33] Fulgan commented on #48650
@SamaraSoucy-MSFT The problem with this documentation is that it only covers the perhaps least useful aspect of the functionality: how to make it work in dev. It doesn't even glance as what to do to make it work when the application is published to Azure except in passing (as a simple comment).

That is problematic also because the rest of the documnetation is detailed in the extreme: every little

[2020-02-24 06:44] neeleshray-msft commented on #48753
@anwather Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-24 06:59] MrMCake commented on #40390
@guderkar is correct. The LoadBalancer SKU must match the Public IP SKU. Using this setup, the advanced-networking deployment works for me:

"networkProfile": {
	"networkPlugin": "[variables('networkPlugin')]",
	"networkPolicy": "calico",
	"loadBalancerSku": "Standard",
	"loadBalancerProfile": {
		"outboundIPs": {
			"publicIPs": [
				{
					"id": "[variables('loadBalancerIp')]"
				}
			]
		}
	}

[2020-02-24 07:11] linda33wj commented on #41997
Thanks for the confirmation.
#please-close

[2020-02-24 07:11] #41997 closed

[2020-02-24 07:11] janpalas commented on #47655
I discussed this topic with Azure support and got this final answer:

Thus, this scenario **is not supported**.

[2020-02-24 07:19] rtaylor72 opened #48754 ""Secure your VNet using Network Security Groups (NSGs)." is not correct"
"Secure your VNet using Network Security Groups (NSGs)."
You cannot secure VNets with NSGs.  You correct to:
"Secure your VNet's subnets using Network Security Groups (NSGs)."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f03f79a2-923f-3e1a-5e8f-8ce1f5913a56
* Version Independent ID: 6330e3e6-d903-b8f8-370d-e61ff4384d

[2020-02-24 07:21] Karishma-Tiwari-MSFT commented on #48336
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-24 07:23] Karishma-Tiwari-MSFT commented on #48347
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-24 07:25] Karishma-Tiwari-MSFT commented on #48456
@porrascarlos802018 As we are discussing new doc request offline, I will close this github issue.

[2020-02-24 07:25] #48456 closed

[2020-02-24 07:28] neeleshray-msft commented on #48749
@anthonynz Though we do not have an ETA on this feature being re-instated as of now, I would suggest you to give your feedback on the **[Azure User Feedback Portal](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/16887037-enable-user-writeback-to-on-premise-ad-from-azure)** on the same. It would help our Engineering Teams to channelize the need for the feature for futur

[2020-02-24 07:37] neeleshray-msft commented on #48371
@alkohli Could this be confirmed and changed if necessary ?

[2020-02-24 07:41] GitMaggie commented on #22715
Add feedback from my customer , I think python 3 is necessary as a code sample in our doc, can you please re-evaluate and update please ?
My customer provided another version for PYTHON 3 , just minor changes to function build_signature.
![图片](https://user-images.githubusercontent.com/20201735/75135309-2209f480-571c-11ea-94cb-2f3d600bc788.png)

[2020-02-24 07:59] neeleshray-msft commented on #48600
@tamram Could this be changed in the document as needed ?

[2020-02-24 08:06] SnehaAgrawal-MSFT commented on #48543
@euyuil Thanks for the clarification! As mentioned in this [doc.](https://azure.github.io/AppService/2017/08/08/FAQ-App-Service-Domain-and-Custom-Domains.html) The current limit for purchasing domains in subscription is 20.

[2020-02-24 08:13] manueljesusrd commented on #48565
@Mike-Ubezzi-MSFT thank you Mike. So after reading your "note", my subsequent question is: is there even the possibility of implementing a key vault to store certificates for IoT Edge Transparent Gateway? I'm not that sure now 😮

[2020-02-24 08:16] DixitArora-MSFT commented on #48630
@spar This channel is for driving improvements towards MS Docs, for any product related question/issue I would recommend you to create a thread on the forums- MSDN / Stackoverflow. Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2020-02-24 08:16] #48630 closed

[2020-02-24 08:19] AshokPeddakotla-MSFT commented on #47655
@janpalas Thanks for sharing the answer.

[2020-02-24 08:32] tjgalama commented on #36458
I deployed an ARM with a Consumption-plan and a Function App with a section _Microsoft.Web/sites/config_ named **appsettings** and the following properties

- FUNCTIONS_EXTENSION_VERSION : "~2",
- FUNCTIONS_WORKER_RUNTIME : "dotnet",
- **WEBSITE_CONTENTAZUREFILECONNECTIONSTRING** : [storage connectionstring]
- WEBSITE_NODE_DEFAULT_VERSION: 6.5.0

The deployment returned the following error:
[code]

[2020-02-24 08:35] rayne-wiselman commented on #48696
Thanks for your feedback. You specify the location of the passphrase <Passphrase File Path>. I'm verifying how we can improve the article on this. thx!

[2020-02-24 08:37] rayne-wiselman commented on #48519
Hi, I'm taking this as an AI offline and closing this issue, since I'll need to queue the request for a new article  and that might take a while. I'll update the thread when the article is available.
Thanks!
#please-close

[2020-02-24 08:37] #48519 closed

[2020-02-24 08:46] DashleenBhandari-MSFT commented on #47846
@s-bauer I wil lgo ahead and close the issue for now. Feel free to reopen if you have further queries.

[2020-02-24 08:46] #47846 closed

[2020-02-24 08:52] RoopAnymous opened #48756 "Case:A scheduled job reads Blob Storage contents and creates a new Cosmos DB document."
Is this case possible with c# script with binding? Can we create a time trigger with input binding to blob storage ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d575e82-637b-32de-e64d-75adf4b6d976
* Version Independent ID: e346a973-fcb9-0c10-c1ed-17acd806ced9
* Content: [Triggers and bindings in Azure Functions](ht

[2020-02-24 08:52] SubhashVasarapu-MSFT commented on #48754
@rtaylor72 ,We are looking into this query and will update you as soon as possible.

[2020-02-24 08:54] tosmolka commented on #33499
@dkdubey , I ended up with a workaround and leveraged the fact that Rest Copy stops when ANY pagination condition fails.

[code]

First condition takes care of continuationToken and always succeeds. Second succeeds when there is at least one work item in the response and therefore effectively breaks pagination when there are no more records. Not ideal but works quite well for me. Hope this helps.

[2020-02-24 08:54] jakaruna-MSFT commented on #48751
@Jaans
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-24 08:55] dipree commented on #48453
@MonikaReddy-MSFT @lgayhardt feel free to reach out internally in case you've any questions, I'm the responsible PM for the HockeyApp shutdown.

[2020-02-24 09:08] flvndh commented on #48438
It's a bit unfortunate as the complete execution of a `ForEach` activity can be quite time-consuming and resource heavy.

In some scenarios where lots of tasks need to be run concurrently, the `ForEach` activity is the only way to go as there is a limit on the number of activities a pipeline can have (around 40).

I heard about nesting pipelines but it feels like a workaround for me.

Do you know

[2020-02-24 09:09] roofiq commented on #48108
Hey @Mike-Ubezzi-MSFT. Thanks for the answer. Sorry for late response, I was away for some time.

So I'm deploying it via linked templates in Azure DevOps task. The replication is already configured and I'm just deploying it incrementally.
Do you have any tip on how can I enable this debug flag in ARM template deployment task?

[2020-02-24 09:32] jakaruna-MSFT commented on #48578
@ChrisJr4Eva1987
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2020-02-24 09:32] #48578 closed

[2020-02-24 09:44] batanun opened #48758 "Unclear documentation about outgoing traffic"
This page only seems to focus on ingoing traffic, ie traffic that starts on the internet and ends in a backend machine. But what about the reverse? If a VM is behind an application gateway, and it doesn't have it's own public IP, and it tries to make an outgoing connection to some service on the internet, will that traffic go through the application gateway? If yes, how does one configure that? An

[2020-02-24 09:46] PramodValavala-MSFT commented on #48756
@RoopAnymous This is definitely possible. You can have a function with a [timer trigger](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-timer?tabs=csharp), [blob input](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob-input?tabs=csharp) and [cosmosdb output](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-co

[2020-02-24 09:50] jzhouw commented on #48721
Thanks! and the "manifest(playlist)" means the .m3u8 file, correct?

[2020-02-24 09:52] lxsocon opened #48759 "More efficient way of querying for duplicate proxy addresses."
The suggested way of doing this, is incredibly inefficient. Using a '-Filter' clause, is several orders of magnitude faster. You could re-write the example given in the following way:

PS \&gt; Get-Recipient -Filter "EmailAddresses -eq  'user@contoso.onmicrosoft.com'"} | fL Name, RecipientType,emailaddresses

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-02-24 09:56] Anshulsv commented on #37077
Hi @rohitnayakmsft , what do we need to do if want Power BI service to access Azure SQL DBs without enabling "Allow Azure services to access server on the server"? i understand that we can go for On_Prem Data gateway in one of the VMs in the VNet and then enable Virtual Network rule. Please suggest some other alternative if any.

[2020-02-24 10:03] ram-msft commented on #48616
PR raised to fix the typo #https://github.com/MicrosoftDocs/azure-docs-pr/pull/105267.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-24 10:03] #48616 closed

[2020-02-24 10:07] sjwaight commented on #48415
I'm getting a 404 on that PR link - will check the doc once it's merged and shipped.

[2020-02-24 10:16] jikuja commented on #48311
Only for top level actions. See attached screenshots:

![Screenshot 2020-02-24 at 12 04 06](https://user-images.githubusercontent.com/928458/75143926-aa799c80-56fe-11ea-9c7c-d0783dbf63d8.png)

![Screenshot 2020-02-24 at 12 04 35](https://user-images.githubusercontent.com/928458/75144113-ff1d1780-56fe-11ea-9930-e493d2255a2b.png)

The documentation and the product itself does not provide any conveni

[2020-02-24 10:17] 9songs commented on #47833
How about adding a cross reference to the following:
https://products.office.com/en/business/microsoft-office-license-restrictions
<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fproducts.office.com%2Fen%2Fbusiness%2Fmicrosoft-office-license-restrictions&data=02%7C01%7CJulia.Sons%40microsoft.com%7C24bc2bc195a844241b9e08d7b14cdd9a%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C6371

[2020-02-24 10:27] lransona commented on #30046
Thanks a lot.
I will review the information.
May a get back to you with further questions regarding Logic Apps (ESB + Event Grid + Logic Apps, e.g.FTP Dynamics connector) and in an Azure and on-premise integration?
Best regards

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Kevin Lam<mailto:notifications@github.com>
Sent: Monday, February 24, 2020 3:40 AM
To:

[2020-02-24 10:31] daledev-uk commented on #48341
Any update on this? We are going to have to abandon using EventGridTrigger endpoints in favor of HttpTrigger with some very messy code compared to what it should be.

[2020-02-24 10:32] AndreWohnsland opened #48761 "Connecting single devices over SAS (creating connection String) after the depreciation of the Azure IoT DPS Symmetric Key Generator feature"
I usually used the Retrieve hub connection string feature from the Azure IoT DPS Symmetric Key Generator to get the connection string for the Node-Red azureiothub Node to communicate over MQTT after I registered that device in the iotcental. Since this feature is deprecated on January 31st 2020, what is the new way to generate a new connection string for my flow and get my device from registered t

[2020-02-24 10:35] mziada commented on #48657
@FrankHu-MSFT the section of "Other clients" and the picture need to be updated to match the fact that legacy auth using (IMAP, POP3..etc) cannot specify device platform or exclusion because this field is blank in the sign-ins page, therefore the only two options here are select all platforms, or none.
![Sign-ins](https://user-images.githubusercontent.com/35661269/75145572-181ecc00-56f1-11ea-81e9-

[2020-02-24 10:54] haugan opened #48762 "HttpTrigger / HttpExample"
This documentations tells me to "Open the HttpTrigger.cs project file and add the following using statement:", supposedly something that was created in the previous Quickstart article. But, all I was instructed to do there was to create a templated HTTP project which doesn't contain any HttpTrigger files. It contains one file, with a function called HttpExample.

Is this the same file that is mean

[2020-02-24 10:54] SubhashVasarapu-MSFT commented on #48308
@juanand , We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-02-24 10:54] #48308 closed

[2020-02-24 10:59] SubhashVasarapu-MSFT commented on #48758
@batanun , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-02-24 11:01] DixitArora-MSFT commented on #48762
Hi @haugan Thanks for your feedback. We will review and update as appropriate.

[2020-02-24 11:47] agassijoelbrio opened #48767 "Personal Pool Deployment"
Hi, I want to deploy the desktop type as personal for three users. Do I have to deploy three separate host pools for these three users and follow the same steps as I did for desktop type as pooled? I also want to know who will be the admin for these users? Do I have to add the admin user id to Default desktop users while deploying the host pool?

[2020-02-24 11:48] lransona commented on #30046
Hi again,

I did review this information but I am still struggling with the understanding. I will explain myself. From the link:

In Azure Logic Apps, the on-premises data gateway supports the on-premises connectors<https://docs.microsoft.com/en-us/azure/connectors/apis-list#on-premises-connectors> for these data sources:
·        BizTalk Server 2016
…
Azure Logic Apps supports read and write oper

[2020-02-24 11:50] #48767 closed

[2020-02-24 11:50] agassijoelbrio opened #48768 "Personal Pool Deployment"
Hi, I want to deploy the desktop type as personal for three users. Do I have to deploy three separate host pools for these three users and follow the same steps as I did for desktop type as pooled? I also want to know who will be the admin for these users? Do I have to add the admin user id to Default desktop users while deploying the host pool?

---
#### Document Details

⚠ *Do not edit this sect

[2020-02-24 12:03] vishipayyallore opened #48769 "Can we have few lines on how to apply policies using ARM template using .xml file"
Team,
Good morning. At lots of places, I saw the json element. But I could not find that .xml should be in blob storage. I was giving the path of the source code repository in ADS, it was not working. Also it is possible to specify the relative path i.e., template.json and policy.xml inside the same folder. Could you please update these instructions. That will be of great help. Many thanks.

{

[2020-02-24 12:06] SychevIgor opened #48770 "Functions v2 to Functions v3"
Currently, guide suggested "Azure Functions v2 (.NET Core)", but Microsoft released v3.
Maybe guide could be updated to v3?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 369aefa6-74da-3001-f835-15abdfffd5d6
* Version Independent ID: 2cc2a2db-d059-3252-7a1a-4261b7d3c37c
* Content: [Develop Azure Functions using Visual

[2020-02-24 12:12] CarloGarcia opened #48771 "InvalidAuthorization exception"
This article, as it currently stands (@ Feb 24th 2020) doesn't result in a working solution anymore as the Logic App Data Collector Connector behaviour has changed.

The article is:
https://docs.microsoft.com/en-gb/azure/azure-monitor/platform/create-pipeline-datacollector-api

The connector now fails (in the North Europe region at least) with the following error message:

`{
    "statusCode": 403

[2020-02-24 12:18] mataralhawiti opened #48772 "Duplicated sub-section"
Under Metrics dimensions, sub-section (ResponseType) is duplicated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8188eb89-21b4-5c2a-ca9f-b039fbb35d9a
* Version Independent ID: 64bd0bee-1df6-c9b0-dd50-172f43731745
* Content: [Azure Storage metrics in Azure Monitor](https://docs.microsoft.com/en-us/azure/storage/common

[2020-02-24 12:28] asyncalex commented on #48650
I was wondering too how a production setup should look like after reading this intro. Maybe a reference to the managed identity integration (https://docs.microsoft.com/en-us/azure/azure-app-configuration/howto-integrate-azure-managed-service-identity?tabs=core3x) might help?

[2020-02-24 12:31] shusharm opened #48773 "Poor documentation"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b82d2583-2918-168d-a4fa-dc02b7703a3d
* Version Independent ID: 014a7032-3a26-f914-813a-ddb00a72092f
* Content: [Create a storage account - Azure Storage](https://docs.microsoft.com/en-us/azure/storage/common/storage-account-create?tabs=azure-portal)
*

[2020-02-24 12:31] valentijnscholten opened #48774 "How to exempt 'break glass' account from MFA in Security Default"
As per https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-emergency-access we would like to have 1 admin account exempted from the MFA enforcement for emergency access.
How can this be accomplished with Security Defaults?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfac0ecf-e5a9-c5f

[2020-02-24 12:38] SwathiDhanwada-MSFT commented on #48771
@CarloGarcia Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-02-24 12:43] AshokPeddakotla-MSFT commented on #48761
@AndreWohnsland Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-24 12:46] SubhashVasarapu-MSFT commented on #48349
@artisticcheese , We have assigned this issue to the respective content author for updating the document accordingly.

[2020-02-24 12:51] AshokPeddakotla-MSFT commented on #48504
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-24 12:51] #48504 closed

[2020-02-24 12:57] andrePKI opened #48776 "Prequisites: role description has changed"
Role names and role description/permissions under Prerequisites don't reflect what can be found from Azure Active Directory Roles and administrators blade or the log analytics workspace Access control (IAM) blade and then click on the role name and permissions (this gives a graphical view, not something like Microsoft.Authorization/roleAssignments/write)

---
#### Document Details

⚠ *Do not edit

[2020-02-24 12:57] bastienmenis opened #48777 "Documentation for setting message headers?"
Is it possible to add instructions on how to set message headers? I had an issue where IoT Hub routing based on body properties wasn't working. I found on [this page](http://busbyland.com/quick-update-on-mqtt-and-message-routing-in-iot-hub-and-iot-edge/) how to set content type and encoding when using MQTT.

Maybe this information should be included on this page?

---
#### Document Details

⚠ *Do

[2020-02-24 13:05] antixyz-max opened #48778 "OCSP"
Hi!

Can we use OCSP instead of traditional CRL, together with Azure AD Certificate Based Authentication? We have a process that generates a new CRL from a database at every request. Not sure that we'll ever get down under 10 seconds processing time.

https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/operations/configure-user-certificate-authentication

---
#### Document Details

⚠ *D

[2020-02-24 13:17] NavtejSaini-MSFT commented on #48734
@mcmorry Created the PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/105275 to fix this.

[2020-02-24 13:17] Shelabd opened #48779 "EULA acceptance"
Hi,
Im trying to deploy this on an AKS cluster but the EULA acceptance is blocking it, I've tried embedding it in the yaml manifest but its not working. Can you please give some guidance on to get this done?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67f00138-7492-ba6e-6665-de0a6e0803f8
* Version Independent ID: 38

[2020-02-24 13:21] NavtejSaini-MSFT commented on #48540
@PHaastrup After seeing the past issues from users regarding this, here is one possible solution:
1) Re-register the Microsoft.Sql resource provider under Subscriptions > (Subscription Name) > Resource providers > Microsoft.Sql
2) Create new Elastic Job agent and agree the Preview terms.

Also please do check the document https://docs.microsoft.com/en-us/azure/sql-database/elastic-jobs-powershell

[2020-02-24 13:23] NavtejSaini-MSFT commented on #48620
@stevestein Please check the question from user and confirm regarding the same.
@markdj We have assigned this to our doc author for further feedback.

[2020-02-24 13:25] ram-msft commented on #48604
@aahill Can you please help on this.

[2020-02-24 13:34] neeleshray-msft commented on #48501
@TiloGit Unfortunately today we do not have the option to view the Security Defaults with Powershell/CLI. You can submit your feedback in the **[Azure Feedback Portal](https://feedback.azure.com/forums/169401-azure-active-directory)** for our engineers to have a look on the same.

We will be closing this thread right now. Please let us know if you need further help on the same.

[2020-02-24 13:34] #48501 closed

[2020-02-24 13:41] shrivastavasumit commented on #46432
Do we have any ETA for fixing this issue? Also, if we want to use Add-AzureADMSFeatureRolloutPolicyDirectoryObject . How can we find the "Cloud Authentication roll out policy ID". Its one of the parameters for the command

[2020-02-24 13:43] shrivastavasumit commented on #46432
Found it. "Get-AzureADMSFeatureRolloutPolicy" gives the details

[2020-02-24 13:52] BhargaviAnnadevara-MSFT commented on #48368
@brahmi89 @bnagajagadeesh I just tried deploying my ASP.Net Core app to AKS as per the tutorial and was able to do so without any errors in the **South India** region. Please post a screenshot of the error if possible.

Could you please let me know the regions you selected while creating the Azure DevOps project?

[2020-02-24 14:01] stefanwiele opened #48780 "Steps do not match the example"
It seems like that the NodeJS example code on GitHub has been updated but the steps has not. There is no msalConfig in the index.html but it is actually in the authconfig.js file. Also the quickstart integrated in the portal is not working anymore because of this. Also to get the Graph call working you need to update the url's in graphConfig.js which is documented anywhere (also not in Readme.md)

[2020-02-24 14:25] AshokPeddakotla-MSFT commented on #48777
@bastienmenis Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-24 14:41] BharathNimmala-MSFT commented on #48776
@andrePKI Thank you for your feedback, we will further look into it and get back to you at the earliest.

[2020-02-24 14:42] drmonroe opened #48781 "Programmatically interacting with the EA Portal"
Hello EA Team.  The assumption of this documentation is using the web GUI. Is it also possible to manage EA programmatically (for ex. using PowerShell, CLI, REST, or other similar method?).  Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75cd0592-feab-b9b8-1110-a41003cb6121
* Version Independent ID: bbd8157c-e99

[2020-02-24 14:49] SaurabhSharma-MSFT commented on #48759
@lxsocon Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-02-24 14:49] mumian commented on #48724
@elvirk - The problem is with the storage account name.  The error is "Storage account name must be between 3 and 24 characters in length and use numbers and lower-case letters only." See the second paragraph in the Add resource section for the instructions. I will make it as a note so it is harder to miss. The Deploy template section also lists the error message.

[2020-02-24 14:51] SaurabhSharma-MSFT commented on #48780
@stefanwiele Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-02-24 14:54] SaurabhSharma-MSFT commented on #48598
@vikaskumawat80 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-02-24 14:54] #48598 closed

[2020-02-24 14:55] SaurabhSharma-MSFT commented on #48103
@kiazhi We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-02-24 14:55] #48103 closed

[2020-02-24 15:16] crispygoth opened #48782 "Missing information about which VM sizes are premium storage-compatible"
The section on Premium storage states:

&gt; To learn more about individual VM types and sizes in Azure for Windows, including which sizes are premium storage-compatible, see Windows VM sizes. To learn more about individual VM types and sizes in Azure for Linux, including which sizes are premium storage-compatible, see Linux VM sizes.

However the linked pages don't seem to mention premium storage

[2020-02-24 15:16] mumian commented on #47296
#please-close

[2020-02-24 15:16] #47296 closed

[2020-02-24 15:22] DixitArora-MSFT commented on #48770
Hi @SychevIgor Thanks for your feedback. We will review and update as appropriate.

[2020-02-24 15:24] DixitArora-MSFT commented on #48769
Hi @vishipayyallore Thanks for your feedback. We will review and update as appropriate.

[2020-02-24 15:33] TheJVaughan opened #48783 "Link broken"
Link on text "Make API calls using the Microsoft Graph SDKs" is missing a /

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a4b8453-d2bc-9c8d-bb16-26fa7e4c6363
* Version Independent ID: 160642fc-b5a9-1ebe-7daf-105509b6e2f4
* Content: [Manage users with the Microsoft Graph API - Azure AD B2C](https://docs.microsoft.com/

[2020-02-24 15:34] shashishailaj commented on #48772
@mataralhawiti Thank you for catching this. We will have this looked into and updated.

[2020-02-24 15:37] jberezanski-mdg opened #48784 "Supported AKS versions"
"If you already have AKS cluster in your Azure subscription, and it is version 1.17 or lower, you can use it to deploy your image." - Is this statement correct for all Azure locations?

When attempting to attach a newly created AKS 1.17.0 cluster to a Machine Learning workspace in North Europe, I get this error message: "@{code=BadArgument; message=Specified kubernetes version 1.17.0 is not suppor

[2020-02-24 15:40] shashishailaj commented on #48773
@shusharm Thank you for your feedback. However, it would be great if you could let us know what part of documentation did not help ? Please let us know and we will surely like to improve your experience with the documentation.

[2020-02-24 15:40] mataralhawiti commented on #48772
You're welcome, glad to help.
Where's my reward? 😁

Keep up the good work guys, best docs ever.

[2020-02-24 15:40] elvirk commented on #48724
Thx

[2020-02-24 15:40] #48724 closed

[2020-02-24 15:41] genlin commented on #48507
@nameier Yes,  the Virtual Machine Converter may still work, but it is no longer supported. You can use Azure Migrate or Azure Site Recovery for the disk conversion. We will update this articles with the new method. Thanks for the suggestion.

#please-close

[2020-02-24 15:42] #48507 closed

[2020-02-24 15:53] SnehaAgrawal-MSFT commented on #48495
@schellem thanks for the reply. If you’re following this example outside of the Azure Cloud Shell I think you’ll have to install the EF tools.
https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/dotnet

[2020-02-24 15:56] nibaccam commented on #48016
The doc update is live and engineering is reviewing the error message. We will now proceed to close this thread. #please-close

[2020-02-24 15:56] #48016 closed

[2020-02-24 15:59] taromielnaz commented on #48274
I read the link, actually, it says Terraform doesn't care much about filenames, but it doesn't explain how it runs the file configuration. I mean if I upload file1 then execute it, then upload file2 and execute it as well, everything works fine. Imagin in Azure cloud shell I upload multiple files when I run "terraform apply" which file will be run?