[2019-10-18 00:28] TBDub commented on #40909
Hi

Port 5671 is currently blocked on our firewall. It says it will fall back to 443, but connectivity test still fails & agents never register successfully.

[cid:image003.png@01D5858C.918CD820]

[cid:image001.png@01D5858C.2BDE9220]

Regards
Tony

From: neeleshray-msft <notifications@github.com>
Sent: Thursday, 17 October 2019 4:37 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
C

[2019-10-18 00:38] SogoGolf commented on #40652
worked! nice one thanks @PramodValavala-MSFT

[2019-10-18 01:11] PramodValavala-MSFT commented on #40652
@SogoGolf Glad we could help! We have worked up a PR to address the 2 issues in the doc

1. Change path separators to `/` (Will work in all OSes)
2. Add the `disableOptimisticBPs` property

[2019-10-18 01:12] DreamRivulet commented on #40300
@MicahMcKittrick-MSFT May I know when this doc will be updated? As this inaccurate part of the doc may cause confusion and frustration when users try psp on AKS.

[2019-10-18 01:18] #40652 closed

[2019-10-18 01:42] tfitzmac commented on #39972
Generally, we don't make announcements about upcoming release dates through the documentation. Those announcements are usually made through Azure blogs. Or, you could consider joining the Azure Advisors Yammer group for [Cost Management & Billing Advisors](https://www.yammer.com/azureadvisors/#/threads/inGroup?type=in_group&feedId=5287342).

[2019-10-18 01:43] tfitzmac commented on #39972
#please-close

[2019-10-18 01:43] #39972 closed

[2019-10-18 01:54] frehnejc commented on #40915
I believe the statement at https://docs.microsoft.com/en-us/azure/site-recovery/vmware-physical-azure-support-matrix#vmdisk-management is not clear and needs additional details, it should read "Resize disk on destination VM after failover" = Supported
or
Resize disk on destination VM prior to failover = Not Supported
The intent of the statement if I understand is that you may resize the source VM

[2019-10-18 01:57] forester123 commented on #38348
@roygara thank a lot! Per my understanding, does it mean only the OS disk in some images are GPT + MBR, depends on the publisher? Or all the images in the marketplace have the same configuration? Would you update the doc to reflect the actual behavior? We have received the confusions from customer, better to make it clear in the doc.

Thank you so much for your effort on investigating the issue! R

[2019-10-18 01:59] NavtejSaini-MSFT commented on #40984
@klioqc We are editing this and will get back to you.

[2019-10-18 02:27] #40936 closed

[2019-10-18 02:28] #40862 closed

[2019-10-18 02:28] #40871 closed

[2019-10-18 02:28] #40867 closed

[2019-10-18 02:28] #40947 closed

[2019-10-18 02:28] #40957 closed

[2019-10-18 02:46] mike-urnun-msft commented on #40974
Hi @swagulkarni - We are not able to share any specific timeline on this matter at this time.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-10-18 02:46] #40974 closed

[2019-10-18 02:53] b-juche commented on #40516
@ekpgh — Mystery solved.  Thanks for following up and letting me know 😊!

~Julie
-------------
Sent from Outlook<https://aka.ms/qtex0l> for iOS
________________________________
From: Erin Kelly <notifications@github.com>
Sent: Thursday, October 17, 2019 6:52:22 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Chen, Julie <Julie.Chen@netapp.com>; Assign <assign@noreply.github.com

[2019-10-18 03:42] ToruMakabe opened #40987 "Consolidate information about plan/OS/feature availability by regions"
I love Azure Functions, but always struggle against checking the availability of regions.  For example, it is hard to check whether Japan East supports a combination of consumption plan/Linux/deploy slot or not. Is there any consolidated information? If not, I'd appreciate if you would consider to make it. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2019-10-18 03:42] DixitArora-MSFT commented on #40772
@dankney Apologies if I missed something but I don't think there is a document change required. For any product related question/issue I would recommend you to create a thread on the forums- MSDN / Stackoverflow. So for now I will proceed for closure of this. If there are further questions regarding this , please tag me in your reply.

[2019-10-18 03:42] #40772 closed

[2019-10-18 03:47] DixitArora-MSFT commented on #40774
@jaq316 Azure Logic Apps meters all successful and unsuccessful actions as executions. However, Logic Apps doesn't meter these actions:

Actions that get skipped due to unmet conditions
Actions that don't run because the logic app stopped before finishing

For more details , follow the doc.
https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-pricing#actions

The pricing page (https://azur

[2019-10-18 03:48] harindaka commented on #14645
I came across this issue as well. This github thread is the only place I could get this clarified. Pricing calculator needs to be updated to show what a unit is

[2019-10-18 04:27] DixitArora-MSFT commented on #40874
@lhale Time to read is only for reference and it may vary on many other factors but yes thanks for providing the feedback and surely we will be more diligent on this . So for now will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-18 04:27] #40874 closed

[2019-10-18 04:28] KetanChawda-MSFT commented on #40987
@ToruMakabe Thank you for your feedback! We will review and provide an update as appropriate.

[2019-10-18 04:34] Damag3d opened #40988 "App insights do not work properly when referencing to KeyVault"
All referencing works for me except one AppInsights instrumentation key. It is not that key cannot be retrieved by app but AppInsights become disfunctional when using keyvault reference.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7feaa3d0-7233-a3cb-cb9b-a9a55b1f0d7a
* Version Independent ID: f41f9d51-52f8-1f45-1043

[2019-10-18 04:36] dcbrown16 opened #40989 "SQL error messages link"
Should the "Learn more about SQL Server error messages." link be updated from this (which states it is outdated)
https://docs.microsoft.com/en-us/previous-versions/sql/sql-server-2008-r2/cc645603(v=sql.105)?redirectedfrom=MSDN
to this?
https://docs.microsoft.com/en-us/sql/relational-databases/errors-events/database-engine-events-and-errors?view=sql-server-ver15
It appears to be similar info from a

[2019-10-18 04:37] dcbrown16 commented on #40989
BTW the same link appears on the page below - "See also system error messages."
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-develop-error-messages
So if we do update that should be updated as well I believe.

[2019-10-18 04:37] Damag3d opened #40990 "JSON strings"
JSON string parsing in app settings is fine, however if you put JSON string inside KeyVault and then reference it then double parsing is happening and all escaping fails. Painful debugging. Should be a warning to avoid using JSON strings in KeyVault or implement special support for JSON strings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-10-18 04:38] souravmishra-msft commented on #40985
@toddjohnson39, Thank you for sharing the query. We are looking into this and will be back to you soon on this thread.

[2019-10-18 04:39] nitbhatt opened #40991 "Azure P2S VPN for non-administrator users"
As per Azure online doc, https://docs.microsoft.com/en-us/azure/vpn-gateway/point-to-site-about

For Windows clients, you must have administrator rights on the client device in order to initiate the VPN connection from the client device to Azure.

 **RESEARCH WORK**
+ Tested with OpenVPN,

+ Was able to connect to the OpenVPN, with a local user account (non-Admin).

+ However, OpenVPN requires

[2019-10-18 04:41] souravmishra-msft commented on #40982
@christinamorillo, Thank you for sharing your views. We are looking into this and will update the doc accordingly after review.
Currently I am engaging the content to take a look at this request.

[2019-10-18 04:44] souravmishra-msft commented on #40981
@JefTek, Thank you for sharing the query. We are looking into this and will get back to you soon on this thread.

[2019-10-18 04:45] msrini-MSFT commented on #40991
@nitbhatt , Thank you for your feedback. We will investigate and get back to you shortly.

@cherylmc , Can you validate and update the doc for this issue?

[2019-10-18 04:45] souravmishra-msft commented on #40971
@mahoekst, Thank you for pointing this out. We are working on the sample and the fix should be in soon.

[2019-10-18 04:45] msrini-MSFT commented on #40829
@MacCarron , I will go ahead and close this issue. Please tag me if you have any further questions.

[2019-10-18 04:45] #40829 closed

[2019-10-18 04:46] SnehaAgrawal-MSFT commented on #40970
@dirq Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-18 04:47] souravmishra-msft commented on #40969
@jgwinner, Thank you for sharing the query. We are looking into this and will get back to you soon with more clarity on the steps you mentioned.

[2019-10-18 04:49] SnehaAgrawal-MSFT commented on #40968
@JFolberth Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-18 04:50] SnehaAgrawal-MSFT commented on #40990
@Damag3d Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-18 04:56] souravmishra-msft commented on #40975
@patrickjlee, Thank you for sharing the details and the pain points. I can understand the difficulty. Do allow us sometime to streamline few of the information for you and will get back to you soon on this thread.

[2019-10-18 04:59] stuarthallows opened #40992 "Redundancy in parameter comment"
"Azure Resource ID of the Log Analytics workspace for the Log Analytics workspace to which logs will be sent."
replace with
"Azure Resource ID of the Log Analytics workspace to which logs will be sent."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8f43189-3418-fd30-0528-550157d8366d
* Version Independent ID: 049e3b0

[2019-10-18 05:02] souravmishra-msft commented on #40977
@Absoblogginlutely, Thank you for sharing the steps with us. We are looking into this and will review the steps and will try to incorporate the same in the docs after review, so that it helps others too.

[2019-10-18 05:16] souravmishra-msft commented on #40979
@cchambers-cap, Thank you for sharing the query. We are looking into this and will get back to you soon on this.

[2019-10-18 05:30] DashleenBhandari-MSFT commented on #40968
@mattchenderson , Could you please verify this document.

[2019-10-18 05:33] maye-msft opened #40993 "Does Azure CLI support to create Multi-service resource of cognitive services"
I cannot find support of CLI to reate Multi-service resource of cognitive services in this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43697779-f7ae-0a78-f8bd-ad9a67f7c345
* Version Independent ID: b3a7d060-a67e-83a8-26ad-cef8b3e211be
* Content: [Create a Cognitive Services resource using the Azure CLI - Azure

[2019-10-18 05:41] IanMercer commented on #33975
[Elsewhere](https://docs.microsoft.com/en-us/azure/storage/common/storage-configure-connection-string) we read _"Create a connection string using a shared access signature"_ so NO, it's not OBVIOUS that "a connection string cannot be a SAS token". Maybe to you it is, but to your average user it is not. Maybe adding something as simple as "You cannot use SAS tokens for the AzureWebJobsStorageSettin

[2019-10-18 05:49] DixitArora-MSFT commented on #40908
@brianmrush Thanks for the update. I will create the PR as per the update of the [issue](https://github.com/Azure/Azure-Functions/issues/1368).  So for now will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-18 05:49] #40908 closed

[2019-10-18 06:15] DixitArora-MSFT commented on #40896
@cijothomas PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-18 06:17] ram-msft commented on #40993
@maye-msft Thanks for the question. We are investigating the issue and will update you shortly.

[2019-10-18 06:18] Breaker119 opened #40994 "Download and Install"
Please provide guidance for downloading for Android in China since Google Play Services are blocked

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 640b9158-3bba-2f76-b9f1-c2660e530062
* Version Independent ID: d6d2980d-b36b-9dc3-5c0c-4abed8d19ae2
* Content: [Download and install the Microsoft Authenticator app - Azure

[2019-10-18 06:23] BryanTrach-MSFT commented on #40923
@AJAnujsharma Can you please provide us with the URL of the doc that you are having trouble with? We look forward to your reply.

[2019-10-18 06:27] cowking06 opened #40995 "Unable to create custom policy for WAFv2"
I am trying to create a custom policy for my WAFv2 to allow a specific IP address.

These are the Cloudshell commands i used:
**$variable1 = New-AzApplicationGatewayFirewallMatchVariable -VariableName RemoteAddr
$condition1 = New-AzApplicationGatewayFirewallCondition -MatchVariable $variable1 -Operator IPMatch -MatchValue "2.2.2.2" -NegationCondition $FALSE
$rule = New-AzApplicationGatewayFirewall

[2019-10-18 06:37] SadiqhAhmed-MSFT commented on #40915
@rayne-wiselman For insights and doc update if required.

[2019-10-18 06:41] KrishnaG-MSFT commented on #40978
Assigning @ronhogue for visibility, review, help and to provide insights.

[2019-10-18 06:41] SadiqhAhmed-MSFT commented on #40983
@sharmaarnav Thanks for the question! We are looking into this and will get back to you shortly.

[2019-10-18 06:43] KrishnaG-MSFT commented on #40992
@stuarthallows Thanks for your comment. We are actively investigating and will get back to you shortly with an update.

[2019-10-18 07:13] HenkPoley commented on #40918
Another solution would be to do the thing that vmware, and virtualbox (etc.) seem to have done, 'just' merge your host-time link into the mainline Linux kernel. So people can have their _provider agnostic_ fix.

Ref: https://github.com/laravel/homestead/issues/1300#issuecomment-543188240

[2019-10-18 07:55] desmondgc opened #40998 "Autoscale evaluation delay"
From the AutoscaleEvaluations diagnostic logs, I've discovered that autoscale evaluations are "delayed" by about 3 or 4 minutes - at least for an App Service plan. For example, an AutoscaleEvaluation triggered at 07:16:54 is looking at metrics ending at 07:13:00. This means that the autoscale is unsuitable for responding to extreme spikes. Indeed, we've been having trouble setting up a responsive

[2019-10-18 07:59] PieterHeemeryck commented on #40938
@MarileeTurscak-MSFT Yes, exactly :)

[2019-10-18 08:00] msrini-MSFT commented on #40995
@cowking06 , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-10-18 08:01] msrini-MSFT commented on #40995
@cowking06 , Are you trying to attach the custom rules on an existing Application Gateway ?

[2019-10-18 08:06] cowking06 commented on #40995
I am trying to create and attach custom rules on an existing Application Gateway.
sku: WAFv2

[2019-10-18 08:19] keshava-hm commented on #40855
And if I run

_stop-service iotedge_

and

_start-service iotedge_

the messages will start appearing but with long delay between each message.. about 30 sec delay will be there..

[2019-10-18 08:20] msrini-MSFT commented on #40995
Can you try the below script?

`$variable1 = New-AzApplicationGatewayFirewallMatchVariable -VariableName RemoteAddr`
`$condition1 = New-AzApplicationGatewayFirewallCondition -MatchVariable $variable1 -Operator IPMatch -MatchValue "2.2.2.2" -NegationCondition $FALSE`
`$rule = New-AzApplicationGatewayFirewallCustomRule -Name adminException -Priority 10 -RuleType MatchRule -MatchCondition $condition1

[2019-10-18 08:21] topese opened #40999 "setProperty on a variable creates a variable copy"
Hi!

I use a Logic App to create a simple data structure on incoming Iot Central rules triggered.

I first initialise a variable called Observation, holding a number of properties.

I then use the values from the trigger to set values in the variable using the setProperty function.

When I do that for property1 = x and then property2 = y in the same Compose function or as two separate flow steps,

[2019-10-18 08:26] cowking06 commented on #40995
I am still getting the same exact error. Seems like the problem is with the "New-AzApplicationGatewayFirewallPolicy"

[2019-10-18 08:26] sajithvasu commented on #40941
@TravisCragg-MSFT: Microsoft support went through the configuration and recommended to use azurewebsites.net cert on app gateway backend.. We have same configuration on 5 different places which were built a while ago and those are perfectly working fine. Our configuration is similar to this article but we are using WAF V1 sku - https://www.domstamand.com/end-to-end-ssl-solution-using-web-apps-and-

[2019-10-18 08:28] msrini-MSFT commented on #40995
Can you paste the complete error ?

[2019-10-18 08:32] cowking06 commented on #40995
New-AzApplicationGatewayFirewallPolicy : 'ManagedRules' cannot be null.
At line:1 char:21
+ ... allPolicy = New-AzApplicationGatewayFirewallPolicy -Name WAFcustom -R ...
+                 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
+ CategoryInfo          : CloseError: (:) [New-AzApplicationGatewayFirewallPolicy], ValidationException
+ FullyQualifiedErrorId : Microsoft.Azure.Commands

[2019-10-18 08:39] msrini-MSFT commented on #40995
It says that the managed rules are NULL.

Before executing the New-AzApplicationGatewayFirewallPolicy command, can you print all the variables which you are using in that command and check if those are not null?

[2019-10-18 08:42] cowking06 commented on #40995
I did checked them, they are all without issues.

I just tried to just type "New-AzApplicationGatewayFirewallPolicy" and it asked me for 3 inputs.
1. Name
2. ResourceGroupName
3. Location

This is the output:
New-AzApplicationGatewayFirewallPolicy : 'ManagedRules' cannot be null.
At line:1 char:1
+ New-AzApplicationGatewayFirewallPolicy
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
+ CategoryInfo

[2019-10-18 08:48] gerrynicol commented on #33551
Me too. Get a conflict error with a GA account

[2019-10-18 09:21] odin88 commented on #39884
Any update on this ?

[2019-10-18 09:27] jhoelzl commented on #38690
After migration i only have "F0 (Free)" as pricing tier in the new Azure resource. However, we need "S0 (Standard)", but it is not visible. Any suggestions?

[2019-10-18 09:47] gokberkkaraca commented on #40303
Thanks for the verification, this was the answer we were looking for.

[2019-10-18 09:47] #40303 closed

[2019-10-18 09:51] StingyJack opened #41001 "Please provide an example of the connection string."
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 692d8637-4033-767b-aa29-3859f301b7b8
* Version Independent ID: de143a26-3dd6-a513-6854-604e4f68c52f
* Content: [ActiveDirectoryInteractive connects to SQL](https://docs.microsoft.com/en-us/azure/sql-database/active-directory-interactive-connect-azure-sql-db)
* Content So

[2019-10-18 09:54] danimir commented on #40989
@dcbrown16 It will be updated. Thanks.

[2019-10-18 09:59] muabanthuoctay opened #41002 "tương lai chạy trực tiếp trên Mac và Linux"
tôi hy vọng trong lương lai ứng dụng này sẽ được chạy trực tiếp trên hệ điều hành Mac và Linux mà không cần thông qua việc phải cài đặt phần mềm giả lập Windows nữa. Để tiết kiệm dung lượng của máy tính, khi mà một số máy tính cấu hình thấp và dung lượng bị giới hạn.
&lt;a href="https://muabanthuoctay.com/" target="_blank"&gt;mua bán thuốc tây&lt;/a&gt;

---
#### Document Details

⚠ *Do not edit t

[2019-10-18 10:14] HiQiQi opened #41003 "failed to parse user input due to error: the inferred source/destination combination is currently not supported."
[Enter feedback here]

Please update the docs as the single quote for the source/destination hits an parsing error. Double quote works.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b646ce05-8744-6bd6-89d2-d830d27955e2
* Version Independent ID: 1c2226e5-be43-2d8e-a791-78570378b988
* Content: [Transfer data to or from A

[2019-10-18 10:18] JonnyDaenen opened #41004 "Reference to data point in figure in wrong in Example 1."
The following is wrong in Example 1:

&gt; When the ninth event (device3) is processed [...]

It should be:

&gt; When the eleventh event (device3) is processed [...]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2c0fd76-b30f-d6e9-1fe9-68bbecfa0759
* Version Independent ID: b3d0b1b4-aa8a-f137-ed6d-3bf3e87131d9
* Cont

[2019-10-18 10:19] msrini-MSFT commented on #40995
![image](https://user-images.githubusercontent.com/47132998/67086531-98bb4200-f1be-11e9-89df-cf12fa0d3328.png)

I see there are no issues with the command as it works just fine for me.

Can you drop an email to azcommunity@microsoft.com with the output of the below command?

New-AzApplicationGatewayFirewallPolicy -Name wafcustompolicy -ResourceGroup test -Location southeastasia -Debug

[2019-10-18 10:23] LaughingJohn commented on #40933
Thanks. FYI I got it working by providing a resource: api://GUID which is the app URL of the web API (not the client). This requirement isn't mentioned anywhere as far as I can see.

[2019-10-18 10:23] SnehaAgrawal-MSFT commented on #40988
@Damag3d Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-18 10:44] linruhui commented on #31879
Is it published now? I didn't get it from https://azure.microsoft.com/pricing/details/data-transfers/

[2019-10-18 10:51] trreeves opened #41005 "Subscription owner documentation"
This page contains no information regarding the Owner of a subscription, and what the significance of that is.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 896691fb-064a-eaf8-f71f-53200149b48a
* Version Independent ID: ff3e18ed-6d13-6fac-7b6c-f78f47b0f754
* Content: [Subscriptions in Azure API Management](https://doc

[2019-10-18 10:53] rehantahir commented on #40578
@KalyanChanumolu-MSFT  Thanks for the update.  Looking forward to its resolution - polite reminder to kindly get it resolved quickly as it has been a week, thanks

[2019-10-18 10:54] Mutilar opened #41006 "404 Link for connecting SQL with ADO.NET"
The link for "Retry logic example" in "Next Steps" returns a 404 when going to the following page: "https://docs.microsoft.com/en-us/sql/connect/ado-net/step-4-connect-resiliently-to-sql-with-ado-net". Correct link appears to be "https://docs.microsoft.com/en-us/sql/connect/ado-net/step-4-connect-resiliently-sql-ado-net"

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2019-10-18 10:54] nageshajab opened #41007 "no available release found"
helm install command gives error "no available release found"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd0e7d5a-37e9-07dc-f395-9cb5bb580e45
* Version Independent ID: 7e4faf70-9724-7e7b-832b-1cd99a974920
* Content: [Create a basic ingress controller in Azure Kubernetes Service (AKS)](https://docs.microsoft.com/en-

[2019-10-18 10:54] cstainie opened #41008 "Capture Format"
Are there any other options available as the .Avro format for saving the captured events (like .xml, .json)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71093e2a-bbff-3a79-5f16-289a3a5f6cd7
* Version Independent ID: e4e9873d-0ae7-25a4-16d1-5ecac6e84b91
* Content: [Capture streaming events - Azure Event Hubs](https:/

[2019-10-18 10:58] akempe commented on #40427
So finally managed to complete my migration. The scale unit issue was indeed my problem. The docs could definitely be better on this point.

[2019-10-18 11:05] sarah026 opened #41010 "Why events for storage account and not eventGrid?"
This page is for eventGrid, and I'm looking to pull event grid ropic logs to my log analytics. How do I find these logs and push them to log analytics? and why is the diagram showing events for storage account in an event grid page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5ed2449-4122-2660-56be-78ceebd0de66
* V

[2019-10-18 11:07] isshukla opened #41011 "Default limit of RDP/SSH connection per Bastion Host?"
Can we add "Default limit of RDP/SSH connection per Bastion Host?" in the FAQ page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03ec4426-bfc1-b046-500d-38b2ca89c71d
* Version Independent ID: cdacb6c7-1d83-c62b-9204-f04d9955722c
* Content: [Azure Bastion FAQ](https://docs.microsoft.com/en-us/azure/bastion/bastion-faq

[2019-10-18 11:07] loopfish opened #41012 "User "clusterUser" cannot get resource "pods/log" in API group "" in the namespace "default": RBAC: clusterrole.rbac.authorization.k8s.io "containerHealth-read-logs-global" not found"
I have an RBAC-enabled AKS cluster. Contain Insights solution is enabled. I have created the RBAC authorization ClusterRole (containerHealth-log-reader) and ClusterRoleBinding (containerHealth-read-logs-global) as per this documentation:

PS C:\Users\014357&gt; kubectl get clusterrole -name containerHealth-log-reader -o yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  cr

[2019-10-18 11:19] msrini-MSFT commented on #41011
@isshukla , As of today Azure Bastion supports 25 concurrent connections. But this number will change when the product is GA.

You can see the documentation getting updated once the product becomes GA.

[2019-10-18 11:19] #41011 closed

[2019-10-18 11:22] KetanChawda-MSFT commented on #40757
@blueelvis can you invoke the below request using PowerShell and check if both the IP's are same?

[code]
![image](https://user-images.githubusercontent.com/28587628/67090369-8e517600-f1c7-11e9-8384-0411e239ef9f.png)

for me both are same..

[2019-10-18 11:22] KrishnaG-MSFT commented on #40989
@dcbrown16 Thanks for the comment.
@danimir Thanks for the super quick response.

[2019-10-18 11:22] #40989 closed

[2019-10-18 11:23] KetanChawda-MSFT commented on #40741
@cgillum any thought here?

[2019-10-18 11:24] KetanChawda-MSFT commented on #40987
@ggailey777 any thoughts here?

[2019-10-18 11:26] KetanChawda-MSFT commented on #40999
@topese Thank you for your question! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

If the issue is not related directly to the doc, I would recommend you to create a thread on the forums- MSDN / Stackoverflo

[2019-10-18 11:26] dev9998 commented on #40928
Hi,

Thank you.

Following https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-dotnet-application

Need to implement a method to query when selecting an item from the List of To-To Items (Select action)

Edit|Details|Delete|Select

Additional details:

 The data model looks like

JSON
[
{
  "id": "123456789",
  "name":"query sql api",
  "description":"quickstart",
  "type":"Azure Cosmos",
  "

[2019-10-18 11:26] ErikAndreas opened #41013 "Linking (redirect) to update profile and forgot password not working"
There should according to docs only be one instance of the UserAgentApplication which is created with one authority (policy file, e.g combined sign-in/sign-up). But there seems to be no way to change authority (policy file) for e.g user profile update or to forgot password. The userAgentApp.config.auth.authority can be accessed/set but the loginRedirect is not affected by this. Seems to be a fix f

[2019-10-18 11:29] KetanChawda-MSFT commented on #41005
@trevorreeves Could you elaborate more on your ask ?

[2019-10-18 11:31] jakaruna-MSFT commented on #41007
@nageshajab Looks like the service account used by the tiller dont have permissions to deploy.

Please follow the steps suggested by in this comment https://github.com/helm/helm/issues/3055#issuecomment-356347732

Try that and let me know

[2019-10-18 11:35] SadiqhAhmed-MSFT commented on #40844
@jochenvw Your understanding about "As soon as the number is higher than 1, the line is clickable, but at 0 it's not." is correct. I hope we are good to close this issue. Let me know if you've additional questions I can help with.

[2019-10-18 11:35] KetanChawda-MSFT commented on #41010
@sarah026 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-10-18 11:35] KetanChawda-MSFT commented on #41010
@spelluru Any thoughts here?

[2019-10-18 11:47] ChiragMishra-MSFT commented on #41004
@JonnyDaenen Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-10-18 11:54] ChiragMishra-MSFT commented on #41008
@cstainie The capture feature in event hubs generates Avro format files only. You can however use [Azure Data Factory to parse these Avro files](https://docs.microsoft.com/en-us/azure/data-factory/supported-file-formats-and-compression-codecs) to make json/xml files.

You can additionally set up an [event based trigger in Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/how-

[2019-10-18 11:54] KrishnaG-MSFT commented on #40906
Closing this issue as it is duplicate of #40953

[2019-10-18 11:54] #40906 closed

[2019-10-18 12:00] RudyEvers commented on #29053
Hi @niroshanuwu

Yes I was able to fix the issue. See issue https://github.com/MicrosoftDocs/azure-docs/issues/38319
for more information. Hope it helps, otherwise feel free to ask questions

[2019-10-18 12:11] SnehaAgrawal-MSFT commented on #40760
@mandarj123 Thanks again for asking question! Could you please confirm if its not visible or not connected?

[2019-10-18 12:13] jwargo commented on #39834
@RazvanEmilR I'm sorry, I don't understand the question. We're making regular updates to the SDK.

[2019-10-18 12:30] andrewtyped opened #41015 "Updates to actor timers / reminders"
The process for updating timers / reminders is unclear - can this page include that information? The docs for [RegisterReminderAsync](https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicefabric.actors.runtime.actorbase.registerreminderasync?view=azure-dotnet#remarks) do explain that a reminder can be updated by re-registering the reminder. The docs for [RegisterTimer](https://docs.microsof

[2019-10-18 12:40] andrehe001 opened #41016 "az spring-cloud extension not working"
I've tried to add the spring-cloud extension but when trying to use it with "az spring-cloud ..." I receive the error: "Unable to load extension 'spring-cloud'. Use --debug for more information." Is there a newer version than the one mentioned above in this page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e98683b-

[2019-10-18 12:41] narasimhareddyjob opened #41017 "Update the links title text word from "Linux" to "Windows""
Hi Team, Please update the links title  from "Linux" to "Windows" as these links are tar getting to  Windows Encryption details.

Windows virtual machines
The following articles provide guidance for encrypting Windows virtual machines.

Current version of Azure Disk Encryption
Overview of Azure Disk Encryption for Linux virtual Machines
Azure Disk Encryption scenarios on Linux VMs
Create and encry

[2019-10-18 13:21] kkamperschroer commented on #29169
@GadepalliAditya1998 - Is there any more from that error message you could share? Like a stack trace? Thanks.

[2019-10-18 13:26] hrasheed-msft commented on #40728
@KranthiPakala-MSFT the issue has been fixed in the referenced pull request.

[2019-10-18 13:26] hrasheed-msft commented on #40728
#please-close

[2019-10-18 13:26] #40728 closed

[2019-10-18 13:27] hrasheed-msft commented on #40729
@CHEEKATLAPRADEEP-MSFT the issue has been fixed in the referenced pull request.

[2019-10-18 13:27] MonikaReddy-MSFT commented on #41016
@andrehe001 ,  Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2019-10-18 13:28] hrasheed-msft commented on #40729
#please-close

[2019-10-18 13:28] #40729 closed

[2019-10-18 13:29] umutge opened #41018 "AzureADPolicy cmdlets not working"
Get-AzureADPolicy does not return B2BManagementPolicy type objects. I opened a support ticket and support closed itwith "module is in preview, thus not supported" description.
I would suggest clarifying may/may not work situation by making additions to this article and avoid setting wrong expectations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-10-18 13:29] shashishailaj commented on #40994
@Breaker119 Thank you for bringing this to our notice. Please let me check this internally and we will get back to you.

[2019-10-18 13:36] rajaschava opened #41019 "Failed to install script on Windows Server 2016 Datacenter Azure VM"
Looks like the 'New-OnPremiseHybridWorker' is not being maintained actively. I am having issues to run the script on an Azure VM. I have created an issue on the project. Haven't heard anything. Could you please help me?

https://github.com/azureautomation/runbooks/issues/59

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2019-10-18 13:38] kilasuit opened #41020 "No mention of using with Azure Firewall"
Whilst there is a section detailing when should we deploy an Application Gateway behind Front Door, there is not a corresponding section for deploying Azure Firewall behind Front Door or whether this is an area that is recommended or not

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7be424c-f540-a753-6ecc-6ff3913368d

[2019-10-18 13:39] davidzeller commented on #27800
I am also looking for documentation how to configure/achieve this?

[2019-10-18 13:39] GadepalliAditya1998 commented on #29169
When i try to integrate with flutter project by adding the dependency
directly i get error saying grade assembletask failed with an error code 1.

Iam actually creating a plugin. It works with other projects and when i add
the project that have android x dependency. It's giving me the error.

On Fri 18 Oct, 2019, 6:51 PM Kyle Kamperschroer, <notifications@github.com>
wrote:

[2019-10-18 13:46] LeonardoFelippine opened #41021 "Bandwidth Calculation"
Hello.

Something that is not clear (to me, at least) is: Do the application and display recommendations need to added? For example, if I have a task worker user with a 1024 x 768 resolution, it will require 3Mbps?

Regards.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d22ca4d-2c4b-2ed3-8f48-d869552ca85a
* Version I

[2019-10-18 13:46] msrini-MSFT commented on #41020
@kilasuit , It is not a recommended design to deploy Azure Firewall behind AFD.

AFD is used to server HTTP/HTTPS traffic which also has WAF functionality built-in.

Even if you want to route the HTTP/HTTPS traffic via AFD to Azure Firewall, it is not going to bring you any benefit and Azure firewall doesn't have Layer 7 WAF capabilities as well.

[2019-10-18 13:57] Blackmist commented on #39590
Thanks again @macamhi . There's a bug open with engineering and I'm waiting on their feedback on what changes to make to the document. They may contact you directly on GitHub if they require more information.

I'm closing this doc issue as any update is waiting on research from the engineering team now. Please let me know if you have any questions on this.

#please-close

[2019-10-18 13:57] #39590 closed

[2019-10-18 13:58] AlexFilipin opened #41022 "Outdated information"
Current list of attributes based on AADC attribute filtering for O365 ProPlus Activation, didn't check the rest:

Attribute	IsExported	IsMandatory
accountEnabled	TRUE	TRUE
accountName	TRUE	FALSE
cloudUserCertificate	TRUE	FALSE
cn	TRUE	FALSE
deviceId	TRUE	FALSE
deviceOSType	TRUE	FALSE
deviceOSVersion	TRUE	FALSE
deviceTrustType	TRUE	FALSE
displayName	TRUE	FALSE
distinguishedName	TRUE	FALSE
domainFQD

[2019-10-18 14:06] markjbrown commented on #41002
Hỗ trợ cho Linux và Mac là trên bản đồ đường của chúng tôi cho Cosmos. Mục tiêu là vào năm tới. Cảm ơn bạn

#please-close

[2019-10-18 14:06] #41002 closed

[2019-10-18 14:09] vladkasianenko commented on #40889
Thank you guys.

[2019-10-18 14:09] #40889 closed

[2019-10-18 14:11] andersidahl commented on #33551
Make sure the account is not MFA-activated, if so use SVC-principal instead.

Also make sure it is only 2 apps in Azure AD with the name Windows Virtual Desktop. In my case I had a third one which made the conflict happen.
From: Gerry Nicol <notifications@github.com>
Sent: 18 October 2019 10:49
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: andersidahl <andersi220@hotmail.com>; C

[2019-10-18 14:17] ronhogue commented on #40978
@anhowe should be able to address this.

[2019-10-18 14:27] rothja commented on #35770
@TamirAl Thank you for this feedback and for your patience. I apologize for the delay, but @CarlRabeler is out of the office for an extended period of time. @stevestein can you please look into this soon? Thank you! #reassign:stevestein

[2019-10-18 14:33] NavtejSaini-MSFT commented on #40688
@wmengmsft Please check and approve this PR.

[2019-10-18 14:34] MoiMoiDG opened #41024 "No dynamic refresh (for me) in .NET Core 3.0"
Hi,

the quickstart in
https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-aspnet-core-app
works with .NET Core 3.0, but this one does not.
In particular, as the web app starts, the configuration values are pulled from the Azure service, but the dynamic refresh does not work. I cannot observe any change after refreshing, even after the expiration time of 30 seconds. Stopping

[2019-10-18 14:35] lindavincent commented on #36323
I'm having this issue with my phone number.  I've tried three different phone numbers and all of them are producing this error:

Oops! We encountered an unexpected error while contacting you.

[2019-10-18 14:36] j-martens commented on #40686
@jos1977  thanks for your report. I can't seem to find this sample file anymore. I'll investigate and add it back when I find it.

#please-close

[2019-10-18 14:36] #40686 closed

[2019-10-18 14:36] NavtejSaini-MSFT commented on #41001
@GithubMirek We are checking this and we will get back to you.

[2019-10-18 14:37] Kadafi-Hub opened #41025 "AZURE CLI - https://docs.microsoft.com/en-us/learn/modules/tour-azure-portal/2-azure-management"
**The command**
--generate-ssh-keys
**Returns error:**
az: error: unrecognized arguments: --generate-sshkeys

This is the Azure CLI commands I used. When I paste it in as shown I also get errors after each -- command.
az vm create \
  --resource-group MyResourceGroup \
  --name TestVm \
  --image UbuntuLTS
  --generate-ssh-keys
  ...

When i enter whole as this:
az vm create --resource-group MyRes

[2019-10-18 14:50] NavtejSaini-MSFT commented on #41006
@Mutilar Thanks for creating the PR for this issue.
@Potapy4  , @jborsecnik , @stevestein Please review and take decision regarding this PR - https://github.com/MicrosoftDocs/azure-docs/pull/41009

[2019-10-18 14:52] NavtejSaini-MSFT commented on #40901
@Potapy4 , @jborsecnik , @stevestein  There was one more URL which was wrong. Created the PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/92200. Please check and sign off.

[2019-10-18 14:54] loomlike opened #41027 "notebook link is broken"
Thanks for the great doc.
At the bottom, the notebook link seems to be broken.
&gt; The dataset notebooks demonstrate and expand upon concepts in this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f10520ed-79e8-dd46-b980-a7abdf27748a
* Version Independent ID: e6b5c5a2-4055-5bbf-73dd-d71814b7e912
* Content: [T

[2019-10-18 14:54] j-martens commented on #39882
@jadhosn - thanks for your report. We'll work to fix it in the next release coming soon.
#please-close

[2019-10-18 14:54] #39882 closed

[2019-10-18 14:57] spottedmahn opened #41029 "Microsoft.Azure.WebJobs.Host: Error indexing method 'messages'"
I created my Azure SignalR service, put the key in `local.settings.sample.json` but I'm seeing errors upon running the app:

[10/18/2019 2:52:54 PM] Error indexing method 'messages'
[10/18/2019 2:52:54 PM] Microsoft.Azure.WebJobs.Host: Error indexing method 'messages'. Microsoft.Azure.WebJobs.Extensions.SignalRService: The SignalR Service connection string must be set either via an 'AzureSignalRCo

[2019-10-18 14:58] #40930 closed

[2019-10-18 14:59] BharathNimmala-MSFT commented on #41024
@MoiMoiDG Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2019-10-18 15:01] j-martens commented on #40852
Thanks for your report. I hope Rohit's suggestion helped. #please-close

[2019-10-18 15:01] #40852 closed

[2019-10-18 15:02] j-martens commented on #40694
#reassign:@danielsc

[2019-10-18 15:03] j-martens commented on #40857
#assign:@maxluk

[2019-10-18 15:08] NavtejSaini-MSFT commented on #40935
@samrueby Thanks for the feedback. We are assigning to the doc author for further review.
@srdan-bozovic-msft Please review and check if we can add this information to the document.

[2019-10-18 15:18] MicahMcKittrick-MSFT commented on #40300
We are working it now. Still getting clarification on if only a single part needs to change or multiple.

[2019-10-18 15:22] AbhishekShaha opened #41030 "Repeated paragraphs"
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-import#import-from-a-bacpac-file-using-sqlpackage

2nd and 3rd paragraph is repeated under title : 'Import from a BACPAC file using SqlPackage'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65a16702-87ad-4801-5171-f5e629661cb4
* Version Independent ID: b

[2019-10-18 15:23] spottedmahn commented on #41029
nvm, I see now.  There was a rename of `local.settings.sample.json` to `local.settings.json` required.

[2019-10-18 15:23] #41029 closed

[2019-10-18 15:24] lovescott opened #41032 "Capitalization Error in Code"
There is an capitalization error in the section Run DML or DDL query in Azure SQL Database or SQL Server.  sqlContext.SqlDBQuery(config) should be sqlContext.sqlDBQuery(config)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a43d656-dbdf-ae04-f88d-488aa1dc78c5
* Version Independent ID: 155c9eb2-92df-1619-4284-17c46a419

[2019-10-18 15:25] MicahMcKittrick-MSFT commented on #41025
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-18 15:26] MicahMcKittrick-MSFT commented on #41015
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-18 15:26] GiftA-MSFT commented on #41027
@loomlike thanks for your feedback. We'll look into this issue and get back to you shortly. Thanks.

[2019-10-18 15:26] josiahlaivins commented on #40972
I went ahead and posted at [iotedge](https://github.com/Azure/iotedge/issues/1872#issue-509150592)

However, I was posting here because I was assuming that there might be a feature that already exists to solve this.

[2019-10-18 15:26] MicahMcKittrick-MSFT commented on #40978
#reassign @anhowe

[2019-10-18 15:27] MicahMcKittrick-MSFT commented on #41021
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-18 15:29] NavtejSaini-MSFT commented on #40984
@klioqc This is not a type. As the document explains here:

_Time to Live on an item (set using ttl):
This Property is applicable only if DefaultTimeToLive is present and it is not set to null for the parent container.
and here:
If TTL is not set on a container, then the time to live on an item in this container has no effect._

Hence in the first example:
_TTL on container is set to null (Default

[2019-10-18 15:33] AjayKumar-MSFT commented on #40803
@BernardoMB, Just to confirm, do you wish to see the section " **Upload a file to blob storage using the upload URL** - You could use the method [[Storage REST APIs](https://docs.microsoft.com/azure/storage/common/storage-rest-api-auth) ] or [[.NET SDK](https://docs.microsoft.com/azure/storage/blobs/storage-quickstart-blobs-dotnet)] based on your requirement. documented in the following tutorial:

[2019-10-18 15:39] eelajah commented on #27800
I got word that this will be possible when hostpools will be Azure AD
joinable. Until then it’s two prompts.

On Fri, 18 Oct 2019 at 15:39, davidzeller <notifications@github.com> wrote:

[2019-10-18 15:42] MicahMcKittrick-MSFT commented on #40466
@kumarallamraju note added. Once the PR merges the changes will go live after a few hours.

[2019-10-18 15:43] #41006 closed

[2019-10-18 15:47] #40992 closed

[2019-10-18 15:48] cfmorrell commented on #33674
I tried at least 10 times yesterday with the same result.  Tried it again this morning with success on the first try.

[2019-10-18 15:48] huzzeytech commented on #40808
@MarileeTurscak-MSFT From my testing you don't necessarily need the full featured Azure MFA. I was able to use Multi-Factor Authentication for Office 365 on a test user and register a Security Key with that user. Registration took place in Firefox, not just Edge on Windows 1903.

The requirements section has lead a few clients with Office365 believing they were **not** able to test.

[2019-10-18 15:51] MicahMcKittrick-MSFT commented on #40949
@jackiejaiau I will close this. If you still have questions please open a new issue directly on the doc you are having issues with.

[2019-10-18 15:51] #40949 closed

[2019-10-18 15:52] MicahMcKittrick-MSFT commented on #40922
@smartpcr please open that feedback using the link I provided above. If you have further questions let me know.

[2019-10-18 15:52] #40922 closed

[2019-10-18 15:52] kprpg opened #41033 "Steps not clear"
The steps are not clear. There is a sudden jump from #3 to #4. For anyone coming in new to this page, there is a lot of connectivity. Please explain why you say in #4 -&gt; find the assignment you need.
That means you need an assignment already to exist. Please make this point clear. Also is the custom role for AAD roles OR for Azure Resource level roles? Please clarify this - as it is misleading

[2019-10-18 15:55] MicahMcKittrick-MSFT commented on #41021
@LeonardoFelippine yes you would add them together. So for example, if you are using 1024x768 resolution and are running Office Worker (Microsoft Word, Outlook, Excel, Adobe Reader, PowerPoint, Photo Viewer) then you would take the 1.5Mbps + 3Mbps =4.5Mbps

So in order to have a smooth experience running at that resolution and running the apps your local network should allow at least 4.5Mbps of ba

[2019-10-18 15:56] #41021 closed

[2019-10-18 15:57] msmbaldwin commented on #32305
#please-close

[2019-10-18 15:57] #32305 closed

[2019-10-18 15:58] MicahMcKittrick-MSFT commented on #41025
@Kadafi-Hub your command is wrong

az vm create --resource-group MyResourceGroup --name TestVm --image UbuntuLTS --generate-sshkeys

it should be

az vm create --resource-group MyResourceGroup --name TestVm --image UbuntuLTS --generate-ssh-keys

you are missing the dash between ssh and keys.

In addition, this repo is for Azure-Doc issues and the problem you are running into is on the Learn Site.

[2019-10-18 15:58] #41025 closed

[2019-10-18 15:59] aregaz opened #41035 "Scaling Reserved Units using .NET SDK"
Is there any way to scale Reserved Units using Azure .Net Fluent SDK or Azure Media Service SDK v3? It was possible with Azure Media Service SDK v2, but v2 is considered legacy now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 216bba2b-1c2b-840d-b334-0360bdcaf82c
* Version Independent ID: 7adb1e52-94cd-d1c6-5dfe-43c7

[2019-10-18 16:02] LudoBoggioTotal commented on #39239
Hi, Currently, the lack of support of proxy.pac/wpad.dat files and transparent proxy authentication through NTLM is a real big issue preventing our organisation to use this tool.

[2019-10-18 16:02] cijothomas commented on #40896
This issue is not resolved, Only the incorrect sampling setting is fixed. The issue is mostly about lack of documentation about settings available (eg: SamplingExcludedTypes )

[2019-10-18 16:04] lovescott commented on #41032
I have opened a PR to fix this issue #41034

[2019-10-18 16:07] NavtejSaini-MSFT commented on #41032
@allenwux Please review the PR https://github.com/MicrosoftDocs/azure-docs/pull/41034

[2019-10-18 16:08] AJAnujsharma commented on #40923
https://docs.microsoft.com/en-us/connectors/filesystem/

Above is the link you refer - When a file is added or modified (properties only)

Currently issue is like - If i have 6 max count file to be placed in on prem system path it is triggering my nextstep 6 times parallel. I'm excuting a ADF after this trigger and it should trigger only once not 6 times we should have a control over the trigger .

[2019-10-18 16:09] NavtejSaini-MSFT commented on #41030
@AbhishekShaha We are checking this and we will get back to you.

[2019-10-18 16:10] AJAnujsharma commented on #40924
When a file is added or modified (properties only) - We cannot parameterzied the path and max file count
https://docs.microsoft.com/en-us/connectors/filesystem/

[2019-10-18 16:12] NavtejSaini-MSFT commented on #41030
@AbhishekShaha We have created the PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/92400 for this issue.
@stevestein / @jborsecnik  Please check and approve.

[2019-10-18 16:13] vboyev-MSFT opened #41038 "Programatically Query ALA workspaces for orphaned workspaces"
Scenario:
MMA is installed.
Multiple OMS/ALA workspaces are defined
Some workspaces are orphaned or no longer valid

How do you query and report on this?  It seems adding and removing workspaces is documented, but inventorying the existing configuration is not. And how would you identify an invalid workspace programmatically?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-10-18 16:29] AskYous opened #41039 "Prompts?"
I don't see documentation on how to get follow-up prompts. Is it because it's still in beta?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0975f25d-b20d-e4df-5ac6-055b7c4ad5b9
* Version Independent ID: 6b164c45-ca36-b4a5-1b3c-40df791af67e
* Content: [Quickstart: QnA Maker client library for .NET - Azure Cognitive Serv

[2019-10-18 16:35] #41039 closed

[2019-10-18 16:35] AskYous commented on #41039
Nevermind. I found it.

[2019-10-18 16:37] BharathNimmala-MSFT commented on #40796
@mrbullwinkle Thanks again for testing the metadata , closing this thread for now. If further any validation or testing is needed please feel free to create a new issue. Thanks

[2019-10-18 16:37] #40796 closed

[2019-10-18 16:38] ChristianMontoya commented on #27800
@eelajah @davidzeller : LIkely, we'll have the federation documentation closer to Ignite.

[2019-10-18 16:49] JS-Jake commented on #40925
Thank you :)
From what I understand the answer is no, but it would be good to get official confirmation

[2019-10-18 16:52] BryanTrach-MSFT commented on #41029
@spottedmahn We are happy to hear you were able to resolve the issue. Please let us know if you have questions in the future.

[2019-10-18 16:52] FrankHu-MSFT commented on #40927
Hello @Cm1602 I'm following up on this issue, can you please respond in regards to the last response? We won't be able to help you with this without getting some answers in regardds to this.

[2019-10-18 16:53] Adam-Smith-MSFT commented on #41003
@HiQiQi Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-18 16:54] Adam-Smith-MSFT commented on #40881
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-10-18 16:54] #40881 closed

[2019-10-18 16:58] mamccrea commented on #40447
@fly-high-bj @salmanhbutt

I hope this information has been helpful. I am going to close this issue, but if you have any additional questions, please reopen.

#please-close

[2019-10-18 16:58] #40447 closed

[2019-10-18 17:00] ggailey777 commented on #40896
@mike-urnun-msft  Please reopen and #assign:ggailey777

[2019-10-18 17:00] KranthiPakala-MSFT commented on #40728
@hrasheed-msft Thanks for the update! :)

@cmusa17 Thanks for the feedback and bringing this to our notice. The content author has updated the  document as appropriate.

[2019-10-18 17:02] BryanTrach-MSFT commented on #41035
@aregaz Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-18 17:03] DeepFriedBeer commented on #37379
I am experiencing the same.  Default views are all zeros.  I can drill down in the Workbook, but the dashboard is essentially useless.

Thanks,
Matt

[2019-10-18 17:06] mamccrea commented on #41004
Hi @JonnyDaenen! Thanks for pointing this out. I reviewed the article, and I think it's actually supposed to be the twelfth event - the very last event. I have updated the doc, so you should see the changes later today.

#please-close

[2019-10-18 17:06] #41004 closed

[2019-10-18 17:08] AjayKumar-MSFT commented on #40970
@dirq, Thanks for bringing this to our attention. Your feedback has been shared with the content owner (@ggailey777) for further review.

[2019-10-18 17:13] vlado101 commented on #38302
@bobbytreed thank you for getting back to me and sorry for the dealy.

The reason I put in the request was that I was having trouble starting the directions. I am currently learning more about using Azure Automation and did not have that much scripting experience. It looked like the first 2 tutorials were easier to do because there were screenshots, but for the last one I felt lost when trying to

[2019-10-18 17:23] DeepGit01 opened #41042 "Programmatic manipulation of access restriction rules"
Regarding section https://docs.microsoft.com/en-gb/azure/app-service/app-service-ip-restrictions#programmatic-manipulation-of-access-restriction-rules
which says "There currently is no CLI or PowerShell for the new Access Restrictions capability..", there is a preview feature in latest version of Azure CLI to update IP restriction:
https://docs.microsoft.com/en-us/cli/azure/webapp/config/access-re

[2019-10-18 17:24] FrankHu-MSFT commented on #41033
@kprpg Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-18 17:24] FrankHu-MSFT commented on #41013
@ErikAndreas Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-18 17:24] FrankHu-MSFT commented on #41017
@narasimhareddyjob Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-18 17:24] FrankHu-MSFT commented on #41018
@umutge Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-18 17:24] FrankHu-MSFT commented on #41022
@AlexFilipin Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-18 17:25] Tiagojaduarte opened #41043 "Assign an authoring resource in the LUIS portal for all apps"
Currently in the LUIS portal I only see the option to add a new authoring resource but not to select an existing one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 407d2781-1fe1-38a6-dc18-37d4e37d651c
* Version Independent ID: 919a2206-13f9-4f51-2e4f-45fe062d7d43
* Content: [How to use authoring and runtime keys - LUI

[2019-10-18 17:26] munozrickT4S commented on #40818
Thanks for the info. IWBNI the page indicated that possibility (and points to the link you provided.)

[2019-10-18 17:36] GiftA-MSFT commented on #41043
@Tiagojaduarte thanks for reaching out. We'll review this issue and get back to you shortly. Thanks.

[2019-10-18 17:52] avramanaareddy opened #41044 "Fails to send push notifications to apple devices running on iOS 13"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-10-18 17:52] avramanaareddy commented on #41044
I am working on the background application to send notification to apple devices that are upgraded to the iOS version 13.1.2.

The notifications are perfectly sent to iOS 12 version but not to iOS version 13.

I have added the following statements as per the suggestions given in the stackoverflow website
notification.headers.put("apns-push-type", "alert");
notification.headers.put("apns-priority",

[2019-10-18 18:15] asergaz commented on #40855
Hi @keshava-hm I am suspecting that your routes configuration is not correct. Please see here to[ Learn how to deploy modules and establish routes in IoT Edge](https://docs.microsoft.com/en-us/azure/iot-edge/module-composition).

Please try the following:

[code]

Thanks!

[2019-10-18 18:20] marlonsingleton opened #41045 "Suggest Azure platform considerations be further explained"
Based on feedback I recently received from a case questioning whether KMS "skirted" the NSG rules, I suggest we update the "Azure platform considerations" section with more explicit information about how traffic such as KMS, DHCP, DNS, IMDS, etc. is allowed by default.

I think pointing readers directly to the NSG default rules 65000 and 65001 would be very helpful along with a link directing read

[2019-10-18 18:26] anikethanumante commented on #37403
any update?

[2019-10-18 18:33] SumanthMarigowda-MSFT commented on #40717
@mkennedy345 Are you referring How long can I view the status of completed jobs in the Azure portal?

You can view the status for completed jobs for up to 90 days. Completed jobs are deleted after 90 days.

[2019-10-18 18:36] TravisCragg-MSFT commented on #41045
@marlonsingleton Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-18 18:37] PKWebAppDev commented on #8169
Hi all,

One year later and can confirm the code as shown in the documentation still throws the same 'System.InvalidOperationException: 'The given header was not found.' response.

@PierrickI3, can I ask what you modified?

[2019-10-18 18:37] tylerpieper commented on #35337
I concur with NeighborGeek - the documentation [here](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-emergency-access#exclude-at-least-one-account-from-conditional-access-policies) says to bypass your emergency access accounts from the baseline conditional access policies, which is no longer an option. The documentation should reflect this, and recommend mirro

[2019-10-18 18:38] MicrosoftGuyJFlo commented on #40891
#please-close

[2019-10-18 18:38] #40891 closed

[2019-10-18 18:39] trevorreeves commented on #41005
Hi,

When trying to find out what the purpose of the owner property on a
subscription, I really couldn't find any clear explanation, and kept ending
up on this page.

I now think, after some experiments and guess work, that when a service
principle is assigned as the owner of a subscription, when a request is
received with the subscription key in the header, APIM will load the
service principle fr

[2019-10-18 18:39] MicrosoftGuyJFlo commented on #40415
#please-close

[2019-10-18 18:39] #40415 closed

[2019-10-18 18:40] MicrosoftGuyJFlo commented on #39760
Will see how I can add more info in future updates.

[2019-10-18 18:40] MicrosoftGuyJFlo commented on #39760
#please-close

[2019-10-18 18:40] #39760 closed

[2019-10-18 18:43] roalexan opened #41047 "Need to capitalize organizations"
search=Microsoft&searchFields=organizations returns: "Unknown field 'organizations' in search field list.\r\nParameter name: searchFields". Need to do: search=Microsoft&searchFields=Organizations

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6457a3e2-f09a-00ee-7d5a-561879553d42
* Version Independent ID: ffd1cbfe-286d-

[2019-10-18 18:44] MicrosoftGuyJFlo commented on #40314
Hardware tokens are in preview so would be supported under the preview terms.

[2019-10-18 18:45] MicrosoftGuyJFlo commented on #40314
Hardware tokens would only work with PAP (https://docs.microsoft.com/azure/active-directory/authentication/howto-mfa-nps-extension#determine-which-authentication-methods-your-users-can-use)

[2019-10-18 18:45] PKWebAppDev commented on #8169
Whoops, error in my uriBase.  Nevermind all.

[2019-10-18 18:45] MicrosoftGuyJFlo commented on #40314
#please-close

[2019-10-18 18:45] #40314 closed

[2019-10-18 18:49] MicrosoftGuyJFlo commented on #40130
Emailed the PG for guidance.

[2019-10-18 18:50] cynthn commented on #40902
@dcbrown16 That isn't what the quota limits doc is supposed to cover. There are lots of limitations for VMs, and they are documented in the VMs documents where folks are likely to run into them.

I'm going to reassign to @roygara so he can take a look at adding this to other storage docs.

#reassign @roygara

[2019-10-18 18:51] jasoncoding opened #41048 "Request clarification on session lock timeout"
The article says ```The lock is released when Close or CloseAsync are called, or when the lock expires in cases in which the application is unable to perform the close operation.```

What is the default timeout for a session lock?  Where is this set or configured?  What happens if I have a client that crashes before calling Close?  How long will the session stay open?

I'm implementing something l

[2019-10-18 18:51] msetodev opened #41049 "When is this becoming GA?"
Have not seen any updates regarding when this will be GA.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a1d3f69-74ba-0ba9-17ba-c7c1086d2662
* Version Independent ID: 7f2680d3-7d10-b253-bdc3-ca661b5da5af
* Content: [Azure Bastion](https://docs.microsoft.com/en-us/azure/bastion/bastion-overview)
* Content Source: [arti

[2019-10-18 18:52] pbtrudel opened #41050 "Lots of errors in "Copy a managed disk" script"
Please review the "Copy a managed disk" script. There are so many mistakes and inconsistencies.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77b58ea9-fc39-64f0-111c-371c9176ed55
* Version Independent ID: 54408794-9e81-79ed-32ff-1c05979ff0e8
* Content: [Upload a vhd to Azure using Azure CLI](https://docs.micros

[2019-10-18 18:53] msangapu-msft commented on #39935
@dazinator Thank you for the feedback. @RyanHill-MSFT is right now not needing the Volume setting in the Dockerfile. You can certainly use it as it helps track the persisted directories in the Dockerfile.

I see that you mentioned a Windows Container. The doc for that is actually located here: https://docs.microsoft.com/en-us/azure/app-service/configure-connect-to-azure-storage#link-storage-to-you

[2019-10-18 18:57] bandersmsft commented on #40523
@bcdunbar @mtrangel89 Have you seen https://docs.microsoft.com/azure/cost-management/get-started-partners?

[2019-10-18 19:01] jgwinner commented on #39760
@MicrosoftGuyJFlo  Thank you!

[2019-10-18 19:02] cenkersoy opened #41051 "Commands on the page"
Hi

I think  "Get-AzResourceProvider" should be changed to "Get-AzureRMResourceProvider".
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1f5a11f-be49-e154-5803-f418a720d18e
* Version Independent ID: 88a3fd11-3230-b220-0eeb-250081da3bde
* Content: [Azure Data Box Edge device access, power, and con

[2019-10-18 19:17] klioqc commented on #40984
i meant that you have a typO - a mistake in the first example.
You have

TTL on item | Result
-- | --
ttl = null | TTL is disabled. The item will never expire (default).
ttl = -1 | TTL is disabled. The item will never expire.
ttl = 2000 | TTL is disabled. The item will never expire.

Look into the line 3 - ttl = 2000 so document should live 2000 sec

[2019-10-18 19:17] MicahMcKittrick-MSFT commented on #41050
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-18 19:18] MicahMcKittrick-MSFT commented on #41049
@msetodev please provide a link to the doc/ feature you are referring to? Likely we do not have an update but I can check.

[2019-10-18 19:23] MicahMcKittrick-MSFT commented on #41050
@pbtrudel also, please provide examples of the errors you are getting. Ideally the output you got then running the script.

[2019-10-18 19:29] pbtrudel commented on #41050
1.       Missing ‘$’ for variables. The script tries to execute the variables as commands.

2.       Some commands are missing the variables, ie: az disk grant-access -n <sourceDiskNameHere> -g $sourceRG -> az disk grant-access -n $sourceDiskName -g $sourceRG

3.       “az disk create -n $targetRG -n $targetDiskName” uses “-n” for resource group, should be –g

4.       “az disk grant-access -n <so

[2019-10-18 20:06] wallace opened #41053 "Problems with adminconsent endpoint"
Hello,

I have two issues.

### Issue 1

The first is an issue with the error response of the admin consent endpoint.

I'm using the adminconsent endpoint from https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent#request-the-permissions-from-a-directory-admin that has a structure like

[code]

This works fine for the [success response](https://docs.microsoft.c

[2019-10-18 20:08] MicahMcKittrick-MSFT commented on #41050
@roygara looks like you beat me to it :)

@pbtrudel Roy has submitted a PR for this. Once the PR merges the changes will go live after a few hours.

[2019-10-18 20:08] #41050 closed

[2019-10-18 20:16] msetodev commented on #41049
Ahhh, not sure why this was posted to the root. I am talking about Azure Bastion. If this can be deleted I can go post it in the right place.

[2019-10-18 20:20] NavtejSaini-MSFT commented on #40984
@klioqc As explained previously, the first example refers to situation where container level Time to live in not configured or null.
In this case the item having any configuration will not matter and will be disabled. and items will never expire. Hence the document is correct and there is no typo.
Please get back to us if any questions.

[2019-10-18 20:21] MicahMcKittrick-MSFT commented on #41049
@msetodev no worries :) I can correlate it to the right service. I will assign to one of our engineers who work on Bastion to see if they can provide additional details.

[2019-10-18 20:25] mtrangel89 commented on #40523
Hello unable to activate in the subscription of my clients.

[2019-10-18 20:30] smoms opened #41055 "I do not see the step in this tutorial where the app is deployed on local machine cluster!"
I do not see the step in this tutorial where the app is deployed on local machine cluster! pls clarify.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7df6f76-be53-ff44-5d81-aa1c2c2a1c51
* Version Independent ID: 9e3b3112-bcd1-cee5-48ed-69e3debbd5a3
* Content: [Create an Azure Service Fabric container application](htt

[2019-10-18 20:37] jaffadog opened #41056 "extensionattribute1-15 in optionalClaims?"
How can i include extensionattribute1-15 in optionalClaims? I've tried things shown below in the manifest without any success:

    "optionalClaims": {
        "idToken": [],
        "accessToken": [
            {
                "name": "extensionattribute11",
                "source": "user",
                "essential": false,
                "additionalProperties": []
            },

[2019-10-18 20:39] kobulloc-MSFT commented on #40877
@jlmace We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-10-18 20:39] #40877 closed

[2019-10-18 20:39] DanielBirmingham opened #41057 "Power BI Content Pack Deprecation"
The Power BI content pack for Azure AD has been deprecated as of October 1st.  This section should be removed from the article to reduce confusion.

https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/whats-new#september-2019

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53a138ee-fab3-0542-f8f7-084c7e

[2019-10-18 20:47] mike-urnun-msft commented on #41048
@jasoncoding Thank you for your feedback! We will review and update as appropriate.

[2019-10-18 20:49] xtianus79 opened #41058 "create both authoring and runtime endpoint key is not an available option"
create both is not an option any longer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 407d2781-1fe1-38a6-dc18-37d4e37d651c
* Version Independent ID: 919a2206-13f9-4f51-2e4f-45fe062d7d43
* Content: [How to use authoring and runtime keys - LUIS - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitiv

[2019-10-18 20:54] jgwinner opened #41059 "Difference between Azure Active Directory and Azure Active Directory Domain Services"
I have installed Azure Active Directory Connect "Azure AD Connect".

Does this have anything to do with Azure Active Directory?

Seems somewhat conflicting/redundant. I checked, but I'm not sure this is addressed on this page. If it is, my apologies. If not, I highly recommend adding a brief note, as a lot of people may have the older DirSync or Azure AD Connect installed, and think they already m

[2019-10-18 20:58] aahill commented on #40993
Thanks @maye-msft, you can create a multi-service resource by using `CognitiveServices`  as the `kind` parameter in the `account create` command. I've added this information to the article, and should be visible shortly. #please-close

[2019-10-18 20:58] #40993 closed

[2019-10-18 21:00] FrankHu-MSFT commented on #41013
hey @ErikAndreas if you're interested in updates in regards to when a feature is released, please post it against the github issues and they'll reach out accordingly. Updates for the MSAL library are not released on a recurring scheduled basis.

For info regarding when these libraries will be released, please see the wiki : https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki#Re

[2019-10-18 21:03] diberry commented on #41058
@xtianus79 Thank you for reporting this. Investigating.... #in-progress

[2019-10-18 21:07] diberry commented on #38690
@cahann @omarsourour Any ideas?

[2019-10-18 21:07] MicahMcKittrick-MSFT commented on #41055
@smoms in this section you deploy to an Azure cluster. It's not a local one still.

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-containers#deploy-the-container-application

Not sure I fully understand the issue.

[2019-10-18 21:07] jgwinner commented on #41059
This URL helps: https://docs.microsoft.com/en-us/azure/active-directory-domain-services/compare-identity-solutions

I guess the issue is, everyone's setup is a little different, but I think it's fairly common to have an Azure AD already setup; I'd like the tutorial in the step "Create an instance and configure basic settings" to mention something if you already have an Azure AD setup. The link to

[2019-10-18 21:09] klioqc commented on #40984
i see, thanks

[2019-10-18 21:09] #40984 closed

[2019-10-18 21:09] qianw211 commented on #40351
#please-close

Thanks for your feedback, we have noted that "bet" is a typo and it is getting fixed.

[2019-10-18 21:09] ashjain commented on #41049
We are working hard to push our GA out.   We don't have a specific timeframe to share at this point in time.

[2019-10-18 21:09] #40351 closed

[2019-10-18 21:09] MicahMcKittrick-MSFT commented on #41055
Plus the prerequisites show you need a cluster running Windows Server w/ Containers which is must easier to deploy via the portal than have a local setup running this. But if you are running locally the steps are the same you just deploy to the local cluster.

[2019-10-18 21:11] GiftA-MSFT commented on #41039
@AskYous thank you reaching out and providing updates on this issue. Please feel free to reach out if you have any more issues or questions. Thanks.

[2019-10-18 21:13] GiftA-MSFT commented on #8169
@PKWebAppDev thank you reaching out and providing updates on this issue. Please feel free to reach out if you have any more issues or questions. Thanks.

[2019-10-18 21:14] cobra30299 opened #41060 "Please verify the IP addresses for the gateways listed here"
Second request, please verify the IP addresses for the gateways listed here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1a62365-4312-8aad-d2f1-bb5c4184adf1
* Version Independent ID: 2ba5b809-8025-d7ee-c756-d6d1bab033fb
* Content: [Azure SQL Database and SQL Data Warehouse Connectivity Architecture](https://docs.mi

[2019-10-18 21:15] FrankHu-MSFT commented on #41017
Hello @narasimhareddyjob  can you clarify by what you mean in regards to updating the links title text from linux to windows? Those links in the article point to the linux doc counterparts.

[2019-10-18 21:26] MarileeTurscak-MSFT commented on #40822
Thanks. I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/92459

[2019-10-18 21:26] #40822 closed

[2019-10-18 21:28] femsulu commented on #40718
Hi @jayaamamidala , apologies for the delay. I am unable to reproduce your issue but did an online search and found a few forum postings that may be helpful to your scenario.

https://stackoverflow.com/questions/3272067/webclient-403-forbidden
https://stackoverflow.com/questions/2794260/webclient-the-remote-server-returned-an-error-403-forbidden

If the postings didnt resolve your issue, I recomme

[2019-10-18 21:30] VanMSFT commented on #31937
Hi @barkills - Thank you for your patience. I confirmed with the Product Team that the only other role that can complete the task is the Privileged Role Administrator. Changes to the doc has been updated to reflect this. Thanks again for your feedback!

#please-close

[2019-10-18 21:30] #31937 closed

[2019-10-18 21:31] #40718 closed

[2019-10-18 21:36] femsulu commented on #40742
@qianw211 can you help with this doc-enhancement request?

[2019-10-18 21:38] GiftA-MSFT commented on #41058
@xtianus79 I noticed the option is available when you search for "Language Understanding" directly from Azure Marketplace as shown in this document. However, if you click on your resource group > Add > AI + Machine Learning > Language Understanding, the option isn't available. Hence, I suggest you follow the direction in the document.

@diberry do you agree, and can you please notify the product t

[2019-10-18 21:39] amason304 opened #41062 "JourneyInsights XML element seems to be invalid when adding to UserJourneyBehaviors element"
Started from the B2C samples and the below element name seems not valid

&lt;JourneyInsights TelemetryEngine="ApplicationInsights" InstrumentationKey="{Your Application Insights Key}" DeveloperMode="true" ClientEnabled="false" ServerEnabled="true" TelemetryVersion="1.0.0" /&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-10-18 21:43] diberry commented on #41058
@GiftA-MSFT Yes, I'll follow up with the service team.

[2019-10-18 21:45] MarileeTurscak-MSFT commented on #40998
@desmondgc
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-18 21:46] MarileeTurscak-MSFT commented on #41012
@loopfish
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-18 21:47] MarileeTurscak-MSFT commented on #41044
@avramanaareddy please provide a link to the document you are following so that we can better assist you.

[2019-10-18 21:47] MarileeTurscak-MSFT commented on #41057
@DanielBirmingham
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-18 21:50] guyhay commented on #40016
Live in Docs. https://docs.microsoft.com/en-us/azure/data-lake-analytics/data-lake-analytics-quota-limits

[2019-10-18 21:50] jgwinner opened #41063 "No resolution for the case where the user is an Administrator"
If a user is an administrator, AD Connect can fail. This page does not address this situation, or the resolution.

Further, I followed the resolution steps, but I still have duplicate attributes.

The business owner is  now getting email for the INCORRECT UPN that the system overwrites, then it generates undeliverable email.

I specifically setup AD connect to use UPN, validated there were NO DUPL

[2019-10-18 21:52] guyhay commented on #40016
#reassign:jasonwhowell

[2019-10-18 21:53] NavtejSaini-MSFT commented on #41060
@cobra30299 We are checking this. And we will get back to you.

[2019-10-18 21:56] ashjain commented on #40861
@Neckross - I tried to repro this internally.   I was able to repro it.   Although i could not repro the logout.   On resize the RDP session disconnect happens and not logout so applications should not close.

We are working to fix the browser resize disconnect and reconnect experience.   This should rollout soon.

[2019-10-18 21:56] MartinJaffer-MSFT commented on #40939
@ChrisOwczarek  Since we have not heard back from you, I will assume the issue is resolved and tentatively close this issue.  Please let us know of any updates, and I will re-open the issue.

[2019-10-18 21:56] #40939 closed

[2019-10-18 21:57] cherylmc commented on #40991
#assign:anzaman

[2019-10-18 22:00] femsulu commented on #40799
@bwren - Any idea on the content owner who can assist with this? the erroneous link is embedded on the Azure.microsoft.com page. Since this content isn't hosted in the Azure Docs repo, I do not have the necessary permissions needed to make this change.
adding @tysonn  - fyi.

https://azure.microsoft.com/en-us/services/azure-policy/

![image](https://user-images.githubusercontent.com/34327711/67131

[2019-10-18 22:01] MartinJaffer-MSFT commented on #40703
@mafis-hh  Since I haven't seen a response from you, I will tentatively close this issue.  Please  provide the requested details, and I will re-open the issue and continue the investigation.

[2019-10-18 22:01] #40703 closed

[2019-10-18 22:02] cherylmc commented on #40991
#reassign:anzaman

[2019-10-18 22:03] kilasuit commented on #41020
@msrini-MSFT can the docs then be updated to call out that this is not a recommended design

[2019-10-18 22:14] femsulu commented on #40864
@MGoedtel  - can you help review this doc-bug?

[2019-10-18 22:18] FrankHu-MSFT commented on #41033
@kprpg you're right there could be some clarification on this, and we are gonna go in and add a note to say that before assigning a role, you must create/configure a role, see this link : https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/azure-ad-custom-roles-configure

Please let us know if there are any issues with this solution or if this is still confusing.

[2019-10-18 22:36] MicahMcKittrick-MSFT commented on #41015
Can you elaborate more on what you are looking to see added to this doc?

You opened a comment on this doc:
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-actors-timers-reminders

Then provided two links to SDK pages.

The doc has multiple examples of updating timers. So I just want to be clear on your ask before proceeding further.

[2019-10-18 22:38] #41049 closed

[2019-10-18 22:38] TerryLanfear commented on #29812
@cowinr - Thank you for your feedback. This issue is fixed per PR 92421.

#please-close

[2019-10-18 22:38] #29812 closed

[2019-10-18 22:46] femsulu commented on #40900
Hi @kgopi05 There's currently no PowerShell support.  You can only import directly from the PS Gallery using the Azure portal. reference the content [here](https://docs.microsoft.com/en-us/azure/automation/automation-runbook-gallery#runbooks-in-powershell-gallery).

![image](https://user-images.githubusercontent.com/34327711/67132172-aa034f00-f1bc-11e9-90c2-5186297614ad.png)

If this is a feature

[2019-10-18 22:46] #40900 closed

[2019-10-18 23:00] femsulu commented on #41038
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-10-18 23:01] MarileeTurscak-MSFT commented on #41019
@rajaschava
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-18 23:01] MarileeTurscak-MSFT commented on #41042
@DeepGit01
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-18 23:02] msmbaldwin commented on #41017
@FrankHu-MSFT: @narasimhareddyjob saw an earlier version of the article. I noticed this in the morning and (sheepishly) updated the text. The current version reflects the changes. Nice catch! #please-close

[2019-10-18 23:02] #41017 closed

[2019-10-18 23:07] MarileeTurscak-MSFT commented on #41057
I think that's a good call out. I made a pull request to remove this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/92488

[2019-10-18 23:07] #41057 closed

[2019-10-18 23:21] tamram commented on #37377
@jstutson - Thanks for your feedback. I have updated this [article](https://docs.microsoft.com/azure/storage/common/storage-auth-aad-msi?toc=%2fazure%2fstorage%2fblobs%2ftoc.json) to use the new Azure Identity client library, together with the Azure Storage v12 client library. Both of these libraries are in preview, but will be generally available soon.

The new library offers a much simpler appro

[2019-10-18 23:21] tamram commented on #37377
#please-close

[2019-10-18 23:21] #37377 closed

[2019-10-18 23:25] MarileeTurscak-MSFT commented on #41047
@roalexan
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-18 23:26] MarileeTurscak-MSFT commented on #41051
@cenkersoy
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-18 23:30] MarileeTurscak-MSFT commented on #41059
@jgwinner
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-18 23:31] MarileeTurscak-MSFT commented on #41053
@wallace
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-18 23:31] MarileeTurscak-MSFT commented on #41056
@jaffadog
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-18 23:32] MarileeTurscak-MSFT commented on #41062
@amason304
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-18 23:33] MarileeTurscak-MSFT commented on #41063
@jgwinner
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-18 23:42] chetansriv commented on #36805
@derekschauland we ave updated the article to make it more clearer, please review.

#please-close

[2019-10-18 23:42] #36805 closed

[2019-10-18 23:47] chetansriv commented on #39790
@Joshua17Thomas we have updated the article to refer to support page, please review

#please-close

[2019-10-18 23:47] #39790 closed

[2019-10-18 23:51] femsulu commented on #40904
Hello @brucedkyle curious to know which specific Azure services you plan to move? This is required because most Azure services have unique migration requirements and considerations.
Just in case you havent seen this yet, here's some[ useful content](https://docs.microsoft.com/en-us/azure/site-recovery/region-move-cross-geos) on moving Azure IaaS VMs between Azure Government and Public clouds. The

[2019-10-19 00:04] femsulu commented on #40925
AFAIK, this isn't supported but interesting scenario. Would recommend posting this [suggestion directly](https://feedback.azure.com/forums/905242-update-management) to the Update Management feature team. This allows the community to review & upvote your feature suggestion which helps us prioritize your ask against our backlog.

@zjalexander  - fyi (please chime in if I misstated anything.)

we wil

[2019-10-19 00:04] #40925 closed

[2019-10-19 00:28] femsulu commented on #40946
Hi, @DanniJuhl thanks for the feedback. wanted to clarify your ask since we already have official content on Azure Lighthouse. Are you asking that we add a reference/link to the Lighthouse documentation from the Azure Monitor documentation above or are you asking that we create new content on Azure Lighthouse solution within the context of Azure Monitor.

@MGoedtel  - FYI

[2019-10-19 00:32] femsulu commented on #40953
@MGoedtel  - kindly review this doc-enhancement request.

[2019-10-19 00:42] GiftA-MSFT commented on #41058
@xtianus79 please let us know if you're still unable to view the "both" option by following the steps outlined in the document, otherwise, we'll proceed to close this thread. Thanks.

[2019-10-19 00:51] cobra30299 commented on #41060
Thank you this is steve thompson microsoft.  Stthomps@microsoft.com
----- Original Message -----
From: NavtejSaini-MSFT <notifications@github.com>
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: cobra30299 <swthompson@wowway.com>, Mention <mention@noreply.github.com>
Sent: Fri, 18 Oct 2019 17:54:22 -0400 (EDT)
Subject: Re: [MicrosoftDocs/azure-docs] Please verify the IP addresses

[2019-10-19 01:07] femsulu commented on #40966
@KrishnaG-MSFT  - can you please help take a peek at this?

[2019-10-19 01:14] richardspitz opened #41065 "Cluster IP for Remote Region"
Just as step 10 and 14 add an IP and dependency for the listener client access point, from the network in the remote region, you need to add a secondary IP for the Cluster Name from the network in the remote region. If this is not done and the primary region fails, the Cluster Name will not come online in the secondary region, potentially creating problems with managing the Cluster when you attemp

[2019-10-19 02:01] jgwinner commented on #39971
This is broken. Asking us to get it voted up is missing the point entirely.

I have two users, both UPN's are correct. They are not duplicates, they are the exact object I expect synchronization for.

They should synchronize.

This is not something we need to have voted up; it's something you guys need to fix.

If one or the other is an administrator should have nothing to do with screwing up the

[2019-10-19 02:44] DixitArora-MSFT commented on #40774
@jaq316 For now will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-19 02:44] #40774 closed

[2019-10-19 02:50] HowardEdidin commented on #39542
@shaungl @SnehaGunda
The Conversion process only converts from XML to  JSON.
It does not convert to FHIR and won't be updated until the HL7 Working Group, which I am a member of, completes the CCD/ CCD-A FHIR resource for FHIR 4.0. This won't happen until after May of next year. There will be an FHIR v5 around August of next year.

[2019-10-19 02:58] jgwinner commented on #40083
@souravmishra-msft  Correct. The question is, what level of AAD is required? I need this to plan out our deployment.

Also, sorry about my last reply, I'd lost track of which MS ticket I had open. I went back to the original page for this ticket, and yes, this wasn't about OneDrive. My mistake. I was sent here BY OneDrive to 'help setup AAD'. I know how to do that, the question still is, why do I

[2019-10-19 03:09] #40688 closed

[2019-10-19 03:09] kb321 opened #41066 "US Sovereign Cloud GW missing"
Could you please identify in this doc the gw's for postgresql instances located within US sovereign cloud? Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07adfd46-7af7-5966-a3de-d67623f6c642
* Version Independent ID: a638d2d6-5be0-7e40-70ea-dc2a3f65e649
* Content: [Connectivity architecture in Azure Database

[2019-10-19 03:15] #40901 closed

[2019-10-19 03:16] NavtejSaini-MSFT commented on #40901
@Mutilar Issue has been fixed.

[2019-10-19 03:28] SwathiDhanwada-MSFT commented on #41065
@richardspitz Thanks for the comment. We are actively looking into it and will update you soon.

[2019-10-19 03:30] SwathiDhanwada-MSFT commented on #41066
@kb321 Thanks for the comment. We are actively looking into it and will update you soon.

[2019-10-19 03:33] keshava-hm commented on #40855
Hi @asergaz , Thanks for the response. I'm sure that routes are correct, since I receive the first message, and, if I stop and start the iotedge service, I get all the messages, although they are slow.
And this issue happens ONLY WHEN I create the IoT edge module from Visual studio (tried both 17 and 19), and the edge module works fine (With the same routes) when created from VSCode!

Please let m

[2019-10-19 04:28] #41030 closed

[2019-10-19 04:29] NavtejSaini-MSFT commented on #41030
@AbhishekShaha The fix has been done and will be live in few hours. Thanks for the feedback.

[2019-10-19 04:33] i-vanl opened #41067 "az and AzureRM modules cannot be imported in same session"
Are there ARM or AzureRM cmdlets instead?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a34525b2-3bf1-d23a-2712-3e8a124a32e0
* Version Independent ID: 632314eb-3599-03ca-6ed2-3b1838d68158
* Content: [Use proximity placement groups for Windows VMs](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/proximi

[2019-10-19 04:42] nmikuni opened #41068 "Request tutorial using X509 CA certificate by mosquitto"
Hi team, thank you for the great document. and [tutorials](https://github.com/Azure/azure-iot-sdk-c/blob/master/tools/CACertificates/CACertificateOverview.md).
I am still stack in connecting IoT Hub using mosquitto. I guess I set all of the option written here as clientId, Username, topic name. Are there any additional option should I add? thanks for your help!

[code]

---
#### Document Details

[2019-10-19 05:01] dahovey opened #41069 "Instructions no longer work for MacOS Catalina"
When following these instructions on MacOS Catalina you receive message with title "VPN Connection" and message "An unexpected error occurred." This led me finally to the Console.app system logs, where I found this log entry for non trusted certificate.

 UserInfo={NSLocalizedDescription=Certificate 0 “...vpn.azure.com” has errors: Trusted EAP hostname does not match name(s) in certificate;}}}

Th

[2019-10-19 05:09] mohitmeshram opened #41070 "Azure Single Sign On SAML protocol"
Hi
We are planning to use Azure Single Sign on SAML protocol for our Application.
The NameID policy we are using is below:
<NameIDPolicy Format="urn:oasis:names:tc:SAML:2.0:nameid-format:persistent"/>

Issue: When a requested sign-on completes successfully, Azure AD posts a response to our application and we verify the AD provided response and extract username from NameID and check if user with us

[2019-10-19 05:54] keshava-hm commented on #40855
More details here, Please lt me know if I'm doing something wrong:

1. If I create a new IoT Edge module on VS (2017 or 2019), it uses AMQP, and if it's created on VSCode, it uses MQTT.

2. If module uses AMQP, it behaves strangely with the other module (either SimulatedTemperatureSensor, or my own module which uses AMQP).

Issue is that, I'm not receiving all the messages, instead, it keeps repea

[2019-10-19 06:09] msrini-MSFT commented on #41067
@i-vanl , Going forward we recommend you to use AZ module. You will not be able to use Azure RM and AZ module in a same session. You can remove Azure RM module and install AZ module in your machine or use Azure CloudShell which has AZ module installed already.

Let me know if you have any further questions.

[2019-10-19 06:12] msrini-MSFT commented on #41020
@kilasuit , Thank you for your feedback. We will call out the recommended design in the documentation.
 I will pass on your feedback to the author to check if we can get this added.

@sharad4u , FYI.

[2019-10-19 06:12] #41020 closed

[2019-10-19 06:25] pritub commented on #40849
@MarileeTurscak-MSFT, @SaurabhSharma-MSFT
Thank you guys for the update, i am still facing the forbidden error Set-AzKeyVaultSecret on cloud powershell, please check the scenario below.
1. I have created 2 keys one from azure portal and another from cloud powershell.
2. Assigned both the keys from cloud power shell as directed in the document, There was no error for the first one, whilst assigning

[2019-10-19 06:29] BharathNimmala-MSFT commented on #39361
@AndreaC-MSFT  Thank you again for bringing this to our notice and this issue has been acknowledged by the product team and being worked upon. Since this issue is also tracked in [Visual Studio Dev Community forum ](https://developercommunity.visualstudio.com/content/problem/740343/application-insights-search-does-not-show-debug-se.html), closing the Github Issue. Please feel free to revert back i

[2019-10-19 06:29] #39361 closed

[2019-10-19 06:32] smoms commented on #41055
Thanks. But the page says _This article walks you through creating a Docker image containing a Python Flask web application and deploying it to a Service Fabric cluster running on your local machine._
So where is this step?

[2019-10-19 07:25] kuniteru opened #41071 "Shouldn't it just delete Cosmos DB resource instead of resource group in chapter "Clean up resources"?"
It delete resource group in chapter "Clean up resources" but resource group was not created in this content.
Shouldn't it just delete Cosmos DB resource instead of resource group?
* not only this content. Java app, Node.js app, Python app, and Xamarin app pages too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f1447

[2019-10-19 08:15] nageshajab commented on #41007
Thank you..that worked... I am able to run command now. (Y)

[2019-10-19 09:08] ErikAndreas commented on #41013
Hi @FrankHu-MSFT - thanks for your reply. If possible, I'd like a clarification on if my, and others, investigation in update profile and forgot password in fact is not currently working with msal.js?
Also, if possible, how can I find out in which release this will be fixed? The wiki link seems outdated with regards to dates?

We're in a customer facing implementation project using msal.js (SPA) a

[2019-10-19 10:46] Marren85 commented on #11668
Interested in this myself, lots of documentation for editing the combined policy but not for separate policies, as discussed.

[2019-10-19 11:28] SwathiDhanwada-MSFT commented on #41068
@nmikuni Thanks for the comment.We are actively looking into it and will update you soon.

[2019-10-19 11:29] SwathiDhanwada-MSFT commented on #41069
@dahovey Thanks for the comment.We are actively looking into it and will update you soon.

[2019-10-19 11:36] SwathiDhanwada-MSFT commented on #41070
@mohitmeshram Thanks for the comment.We are actively looking into it and will update you soon.

[2019-10-19 11:37] SwathiDhanwada-MSFT commented on #41071
@kuniteru Thanks for the comment.We are actively looking into it and will update you soon.

[2019-10-19 12:13] nageshajab commented on #18497
worked for me when I created a new secret.

[2019-10-19 12:52] kuniteru opened #41074 "The description of the "Node.js/JavaScript" chapter is old"
The "Node.js/JavaScript" chapter describes older versions of the SDK.
I think that the description corresponding to the current "@azure/cosmos package" should be added.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa29ee58-9c39-631d-47fa-212d43d2849a
* Version Independent ID: d6d0c9f3-60a1-5b18-f773-5b4bf042257d
* Co

[2019-10-19 13:20] SnehaAgrawal-MSFT commented on #40990
@Damag3d Thanks again for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-10-19 14:41] NavtejSaini-MSFT commented on #41071
@kuniteru This quickstart does give the option to create new Resource Group.
![RG](https://user-images.githubusercontent.com/52257742/67146822-d373b780-f25c-11e9-8263-a56250fac39e.JPG)

The same has been done and used in the Quickstart:
![RG2](https://user-images.githubusercontent.com/52257742/67146829-eedec280-f25c-11e9-82de-e5942fbbf356.JPG)

So the clean up part is deleting the same Resource Gr

[2019-10-19 14:44] NavtejSaini-MSFT commented on #41074
@kuniteru Thanks for the feedback and we are assigning this to doc author to check this further.
@SnehaGunda Please check this and if needed please make the necessary changes.

[2019-10-19 15:18] NIKEkid opened #41078 "JARVIS"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d0f09b2-74b6-ef06-1ccd-39b6cd4d87d6
* Version Independent ID: e0dc4bdc-0a0c-f1ae-83d6-d32bef5bcf31
* Content: [Custom voice-first virtual assistants (Preview) - Speech Service - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cogniti

[2019-10-19 16:03] kuniteru commented on #41071
I'm sorry, it was my mistake.
Thank you.

[2019-10-19 16:03] #41071 closed

[2019-10-19 16:27] MarileeTurscak-MSFT commented on #41078
@NIKEkid I am closing this out as the description is not actionable. Please open a new issue if you'd like to continue the discussion.

[2019-10-19 16:27] #41078 closed

[2019-10-19 17:40] dkershaw10 opened #41080 "Fix troubleshooting steps"
1. Please remove the following.  We've made no announcements about v2.  The current and only GA version of Microsoft Graph is v1.0.

500 HTTP internal server error while accessing Microsoft Graph V2 endpoint
We do not currently support the Microsoft Graph v2 endpoint - make sure to access the activity logs using the Microsoft Graph v1 endpoint.

2. Please refer to Microsoft Graph and Azure AD Grap

[2019-10-19 18:09] rjunsolutions commented on #15279
Hi, Need help on Rstudio Server integration with Azure Kubernetes cluster, for on-demand horizontal scaling.

[2019-10-19 18:47] iotrock commented on #11450
Unable to debug sample iotedge module in vs code, error screenshot is given below
![debugerror](https://user-images.githubusercontent.com/49762230/67149936-0a82b100-f2cf-11e9-9ee1-ec2b22b3186e.JPG)

[2019-10-19 18:51] MGamil-MSFT opened #41081 "Error while enable "EnforceCloudPasswordPolicyForPasswordSyncedUsers" feature"
Hello All,
seems the command syntax has an issue while enable "EnforceCloudPasswordPolicyForPasswordSyncedUsers" feature !!

that's what I got while enabling it:

PS C:\> Set-MsolDirSyncFeature -Feature EnforceCloudPasswordPolicyForPasswordSyncedUsers $true
Set-MsolDirSyncFeature : A positional parameter cannot be found that accepts argument 'True'.
At line:1 char:1
+ Set-MsolDirSyncFeature -Featu

[2019-10-19 19:28] alonisser commented on #40390
Why is this closed? the error is still happening, to me also

[2019-10-19 19:52] AjayKumar-MSFT commented on #40803
@BernardoMB, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2019-10-19 19:52] #40803 closed

[2019-10-19 21:21] lesterw1 opened #41082 "Download PAYG Price Sheet?"
Where does one download the pay-as-you-go list price sheet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c097f750-8235-7042-7741-650890a7f11d
* Version Independent ID: 61b94aae-5d90-d8b8-30ae-94c8b8f6cae9
* Content: [View and download your organization's Azure pricing](https://docs.microsoft.com/en-us/azure/billing/b

[2019-10-20 01:28] BharathNimmala-MSFT commented on #40769
@deheems Thank you for your question. Unfortunately i am unable to repro the same issue, could you please help confirm if you are seeing the similar issue when you open Visual Studio with Admin privilege's and navigate to create Azure Dev Spaces ?

Regarding the screen shot update, thank you for bringing this to our notice . Assigning this to @zr-msft to evaluate and update the doc accoridngly.

[2019-10-20 01:41] rajurh commented on #40074
Thanks for the update!

[2019-10-20 02:23] andrewtyped commented on #41015
From my perspective, the doc in question describes timer/reminder creation and removal. I want to know how to change an existing timer. Can the registration methods for a given timer/reminder be called repeatedly as changes are needed, or does the timer/reminder need to be explicitly unregistered before a new timer/reminder with the same name is created?

I linked to the SDK docs as an example of

[2019-10-20 02:24] thiagosoeiro opened #41084 "Count operation and "429 - Request rate is large" error"
How can a simple count operation return  "Request rate is large" error? Is this some kind of bug?
Can you explain this to me?
Thanks.

![error1](https://user-images.githubusercontent.com/9267122/67153873-94c71700-f2c7-11e9-9862-61cd63a7bfd5.PNG)

[2019-10-20 02:29] thiagosoeiro opened #41085 "Unrecognized pipeline stage name: $facet"
Hi, what's wrong with this query?
I'm trying to use $facet for pagination purposes.
Aggregation Pipeline is already enabled in Azure Portal.

![error3](https://user-images.githubusercontent.com/9267122/67153904-52520a00-f2c8-11e9-8b1a-42eb16b64e2a.PNG)

[2019-10-20 03:52] MedAnd commented on #33340
@MGoedtel - any update on above?

[2019-10-20 04:10] souravmishra-msft commented on #40083
@jgwinner, I totally understand your frustration and in times when you are planning up a huge deployment for hundreds of users.

I would like to connect with you off this forum and gather all the information from you, if you dont mind. Can you please share your contact number and just share the reference of this github issue in that email and send it to azcommunity@microsoft.com.
Do share your ava

[2019-10-20 04:21] SwathiDhanwada-MSFT commented on #41080
@dkershaw10 Thanks for the comment.We are actively looking into it and will update you soon.

[2019-10-20 04:23] SwathiDhanwada-MSFT commented on #41081
@MGamil-MSFT Thanks for the comment.We are actively looking into it and will update soon.

[2019-10-20 04:26] SwathiDhanwada-MSFT commented on #41082
@lesterw1  Thanks for the question! We will look into this issue and get back to you soon.

[2019-10-20 04:28] SwathiDhanwada-MSFT commented on #41084
@thiagosoeiro Thanks for reaching out! Can you please share the document link that you are following so that we can look into it and assist you accordingly?

[2019-10-20 04:29] SwathiDhanwada-MSFT commented on #41085
@thiagosoeiro Thanks for reaching out! Can you please share the document link that you are following so that we can look into it and assist you accordingly?

[2019-10-20 05:17] shashishailaj commented on #40727
@Canis-Lupis
The key roll over is an important part in Seamless single-sign on. The seamless single sign-on depends on the AZUREADSSOACC account that we create in On-premise active directory. The AZUREADSSOACC account is designated as a machine account. As per default policy in on-premise AD, a machine account resets its own password after every 30 days . And if you have azure AD sync working prop

[2019-10-20 05:17] #40727 closed

[2019-10-20 06:18] msrini-MSFT commented on #40995
@cowking06 , I have referenced the similar issue and provided a workaround. Please track the referenced link for any updates.

[2019-10-20 06:18] #40995 closed

[2019-10-20 06:58] metanMSFT commented on #40790
Hi @ArchieCoder, thanks for the feedback. Could you submit an issue in the [Immersive Reader SDK GitHub repo](https://github.com/microsoft/immersive-reader-sdk/issues)? I agree it would be good to show UWP some love :)

As for your issue regarding handling the back button, you would have to create your own HTML page which wraps the Immersive Reader, handles the [onExit](https://github.com/microsof

[2019-10-20 07:22] aquibqureshi26 commented on #38055
any update?

[2019-10-20 08:35] Damag3d opened #41087 "Copying appsettings of another application using list function"
Documentation could be improved by adding this example:
How to copy appsetting from another application by using list function:
[list(resourceId('Microsoft.Web/sites/config/', parameters('&lt;appname&gt;'), 'appsettings'), '2018-11-01').properties.&lt;keyvaultreferencesettingname&gt;]",
where &lt;appname&gt; is the name of your web app, and &lt;keyvaultreferencesettingname&gt; is the name of your

[2019-10-20 09:18] SwathiDhanwada-MSFT commented on #41087
@Damag3d Thanks for your feedback. We are looking into it and will update accordingly.

[2019-10-20 10:06] murdockcrc opened #41088 "[Error] - Keyvault policy recoverable is not set"
Executing this command:
[code]
fails with the following error:
`Keyvault policy recoverable is not set`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2deae96-4c5e-8396-519c-9ab7e09baacd
* Version Independent ID: a90b199e-623a-86ba-26e2-4ee71fae6e25
* Content: [Configure customer-managed keys for Azure Storage encrypt

[2019-10-20 10:55] SwathiDhanwada-MSFT commented on #41088
@murdockcrc Thanks for the question. We are looking into it and will update you soon.

[2019-10-20 11:37] kennethvs opened #41090 "Require Multi-Factor Auth to join devices"
Wouldn't it be more clear to name this "Require Multi-Factor Auth to join or register devices" since this setting is valid for both the Azure AD join as for the Azure AD register scenario?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8119688-e88d-2916-3dcf-bf777a5fc80c
* Version Independent ID: e767d695-1c9f-64e4-e6

[2019-10-20 12:19] hiroyha1 opened #41091 "The data retention period"
Which statement is correct?
- Debug snapshots are stored for seven days.
- The default data retention period is 15 days.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af126ce9-b961-fd20-e4f2-0c17e43e8423
* Version Independent ID: 7b5d06b9-67bc-4861-2f76-5e62cfa5cf11
* Content: [Azure Application Insights Snapshot Debu

[2019-10-20 13:00] KrishnaG-MSFT commented on #40966
@DBtheDBA @femsulu I tried to reproduce the issue to see if the port changes from 25224 to 25226 on a VM reboot but was not able to see any such instance.

And yes, the Log Analytics agent configures syslog applications (rsyslog and syslog-ng) to write all warning and above events to its listener on port 25224 (UDP). Port 25226 (UDP) is for CEF (Common Event Format) on top of syslog.

Was Azure se

[2019-10-20 13:08] safeng510 opened #41092 "Should the link to 'Windows Defender ATP' related in paragraph Enhanced Security?"
The last control element of Enhanced Security profile from the figure is Windows Defender ATP, but the link in the detail explanation points to O365 ATP, suggest change the link to Windows Defender ATP page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd1e72d8-1b89-f29c-bb0b-08593d4810a2
* Version Independent ID: d6

[2019-10-20 14:09] RohitMungi-MSFT commented on #40903
@nstubing We will now proceed to close this thread. Please raise an issue against the document link that you are using from the feedback page so the appropriate team can help.

[2019-10-20 14:09] #40903 closed

[2019-10-20 15:07] orionJag opened #41093 "Need help completing IoT-Edge module on Linux"
Hi
    I was able to follow through the quickstart tutorial with no issues.  But  currently I'm running into issues in VS-2019 completing the tutorial (refer link below)  and I need your help to complete them.

https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-develop-for-Linux

Currently when the module is created as per the tutorial, I'm getting the following error, not sure how to resolv

[2019-10-20 15:10] AjayKumar-MSFT commented on #40883
@steamwings, Thanks for leveraging Azure docs GitHub channel to raise this question.

Apologies for the delay in the responding! Some of the things to review:

- Please check to see if the issue occurs locally for isolating the problem.
- Kindly ensure that the class-level variables and dependencies are handled correctly.
- Make sure you have objects in the Class’ that match the databases columns

[2019-10-20 15:10] #40883 closed

[2019-10-20 15:18] truealex81 commented on #37708
I spent a lot of hours, but finally it works!
I used this endpoint https://login.microsoftonline.com/--tenant-id-here--/oauth2/v2.0/token, registered 2 applications in Azure AD: one exposes API and with 2 roles in manifest - the Server, and the second - Client with permissions for the Server's API endpoint and permissions for that 2 roles.
In the "scope" parameter for token request I used value "a

[2019-10-20 15:27] AjayKumar-MSFT commented on #40797
@githubavi, Apologies for the delay! Your feedback has been shared with the content owner (@Juliako) for further review.

[2019-10-20 15:30] AjayKumar-MSFT commented on #40760
@mandarj123, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag us in your reply and we will gladly continue the discussion.

[2019-10-20 15:30] #40760 closed

[2019-10-20 15:35] SwathiDhanwada-MSFT commented on #41090
@kennethvs Thanks for the reaching out! We will investigate this issue and get back to you soon.

[2019-10-20 15:37] SwathiDhanwada-MSFT commented on #41091
@hiroyha1 Thanks for the comment.We are actively looking into it and will update you soon.

[2019-10-20 15:38] SwathiDhanwada-MSFT commented on #41092
@safeng510 Thanks for the comment.We are actively looking into it and will update you soon.

[2019-10-20 15:40] SwathiDhanwada-MSFT commented on #41093
@orionJag Thanks for the comment.We are actively looking into it and will update you soon.

[2019-10-20 17:30] kumarallamraju opened #41094 "Only one Azure AD Domain Service is created"
[Enter feedback here]

I have created AD DS in my subscription and I only see "Azure AD Domain Services". Am I missing something. See the screenshot below. My AD DS provisions well and working fine.

<img width="669" alt="Screen Shot 2019-10-20 at 10 23 25 AM" src="https://user-images.githubusercontent.com/15897803/67163432-accc8400-f323-11e9-99bf-2b882d9100cc.png">

Perhaps we should fix the word

[2019-10-20 17:50] orionJag commented on #41093
Thanks for the quick response.

       I can open the IoT Edge module solution in Visual Studio Code, the following is what I receive.

C:\Program Files\dotnet\sdk\3.0.100\NuGet.targets(123,5): warning : The folder 'C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\microsoft.azure.devices.client\lib' contains an invalid version. [c:\Users\Jag\source\repos\EdgeSolution\samplemodule\samplemodule.c

[2019-10-20 18:15] cahann commented on #38690
we dont support S0 in authoring

[2019-10-20 18:23] RicardoNiepel opened #41095 "Issue with tensorflow-2.0.0"
The code has an issue with tensorflow-2.0.0, thus inside requirements.txt it's required to use "tensorflow==1.14"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f894a59-0503-d934-947b-723abc207186
* Version Independent ID: aa79b6b4-65e6-c89d-4e2f-e5ec73089a95
* Content: [Tutorial: Use Python and TensorFlow in Azure Fu

[2019-10-20 18:26] anthonychu commented on #41095
Thanks! We’ll get this fixed by pinning it to 1.14 like you suggested and look into update the tutorial to 2.0.

[2019-10-20 19:28] tsrob50 opened #41096 "Missing a dot"
Under “View your credentials in PowerShell”. Tenant ID:
$aadConntext.TenantId.Guid
Won’t work.  TenantID is not a property of Connect-AzureAD.  I think you meant:
$aadContext.Tenant.Id.Guid
With a dot between Tenant and ID.

This also needs to be updated in the last command under “Sign in with the service principal”
Add-RdsAccount -DeploymentUrl "https://rdbroker.wvd.microsoft.com" -Credential $cr

[2019-10-20 19:37] BeigeBadger commented on #33158
Is this feature now live or do we need to create a SAS Uri for each file in the blob still?

[2019-10-20 19:53] xtianus79 commented on #41058
@GiftA-MSFT @diberry the option is not there, meaning the option "both", every when choosing Language understand or cognitive services resource.  In your scenario where you would hit the + ADD from the resource group and the AI section yes adding Language understand or a cognitive resource option isn't there.

The issue here is that you can assign "both" endpoint and authoring key when creating th

[2019-10-20 19:59] MarileeTurscak-MSFT commented on #41094
@kumarallamraju
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-20 20:04] MarileeTurscak-MSFT commented on #41096
@tsrob50
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-20 20:49] WhitWaldo opened #41098 "Signin tenant field - AAD"
The Azure AD blade within APIM now also has a "Signin tenant" field in addition to the other fields in the dated screenshot above.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 692852cd-11a6-1d6b-9540-caec9d0f14a4
* Version Independent ID: 4c376561-6015-6dab-e23e-feffe74ccc8b
* Content: [Authorize developer accounts b

[2019-10-20 22:01] #41095 closed

[2019-10-20 22:03] anthonychu commented on #41095
Updated on internal branch. Should be live tomorrow. Thanks @RicardoNiepel!

[2019-10-20 22:10] diberry commented on #41058
@xtianus79 This is a known issue and is being fixed. Thank you for reporting it.

[2019-10-20 22:13] APErebus commented on #40741
It would also be nice to see some example of what entity construction or initialisation looks like from an external source.

E.g. can I populate an entity value from a database field?

[2019-10-20 22:55] ashunt677 commented on #41081
I also have this issue and can confirm the alternative works fine.

[2019-10-20 23:04] dcbrown16 commented on #40902
Ok, thanks the consideration :)

[2019-10-20 23:09] TBDub commented on #40909
Please close, *.servicebus.windows.net was blocked

[2019-10-20 23:09] #40909 closed

[2019-10-20 23:14] rlimberger commented on #7184
This is quite old and I am hoping there is an official solution for deleting a document from a Javascript function now?

[2019-10-20 23:16] dcbrown16 opened #41099 "Add info about cleanup"
I have heard internally that ASR now deletes VM and NIC from the DR region when failing back to the original region. Please update with details (including behavior regarding disks and networks as well). I can share case number etc. if needed (v-dibr).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 826c5c65-a464-d332-8f

[2019-10-20 23:29] jhesselgesser commented on #41069
@dahovey thank you for bringing this issue up. We've been experiencing the same.

[2019-10-21 01:04] dcbrown16 commented on #32279
This seems done. #please-close

[2019-10-21 01:04] #32279 closed

[2019-10-21 01:06] DreamRivulet commented on #40300
@sauryadas  could you please help to confirm whether other parts need to be updated?

[2019-10-21 01:07] iRaindrop opened #41100 "Don't put intended functionality in a Catch block"
In the AddItemsToContainerAsync method, the CreateItemAsync method is called in a Catch block!

The Catch block should only be used to handle actual errors, not to add functionality based on a true/false result. Please change the code to put the logic whether the item already exists in the Try block, not the Catch block.

Thank You
---
#### Document Details

⚠ *Do not edit this section. It is requ

[2019-10-21 01:33] cowking06 commented on #40995
Thank you very much. My issue is indeed similar to the referenced issue and i managed to install a lower version of Az module to get the command working.

[2019-10-21 01:49] sauryadas commented on #40300
you are correct @DreamRivulet . Please feel free to make a PR

@MicahMcKittrick-MSFT Please clarify in the doc that the following applies to only to service accounts that have permission to use the PSP applied

[2019-10-21 01:52] linruhui commented on #31879
@rothja Thanks for the information. This thread is all good for closure.

[2019-10-21 02:39] mapavia commented on #19417
I am getting the same error. How do I "Either reconnect with a higher epoch, or make sure all epoch receivers are closed or disconnected."???? I am running the `node ReadDeviceToCloudMessages.js`.

[2019-10-21 02:53] jiahuachoo commented on #40907
The same behaviour is observed with the resolve endpoint:
https://marketplaceapi.microsoft.com/api/saas/subscriptions/resolve?api-version=2018-08-31

returns:
{
    "id": "NKVM-5HZ2-ASA-PGB",
    "subscriptionName": "<subscription name>",
    "offerId": "<offer id>",
    "planId": "<plan id>",
    "quantity": 1
}

whereas the document (https://docs.microsoft.com/en-us/azure/marketplace/partner-cen

[2019-10-21 03:05] mike-urnun-msft commented on #40924
Thanks @AJAnujsharma! Are you also able to share with us repro steps or a screenshot of your Logic App workflow?

[2019-10-21 03:10] DixitArora-MSFT commented on #41098
Hi @WhitWaldo Thanks for your feedback. We will review and update as appropriate.

[2019-10-21 03:21] mike-urnun-msft commented on #40923
@AJAnujsharma I'm closing this issue for now as it appears to be a duplicate of #40924 .

[2019-10-21 03:21] #40923 closed

[2019-10-21 03:21] msrini-MSFT commented on #41067
@i-vanl , Do you have any update on this issue?

[2019-10-21 03:29] i-vanl commented on #41067
Thank you. I removed Azure RM and installed AZ module and it works for me. From: KARTHIK SRINIVASSent: Saturday, 19 October 2019 5:10 PMTo: MicrosoftDocs/azure-docsCc: i-vanl; MentionSubject: Re: [MicrosoftDocs/azure-docs] az and AzureRM modules cannot be imported in same session (#41067) @i-vanl , Going forward we recommend you to use AZ module. You will not be able to use Azure RM and AZ module

[2019-10-21 03:29] AJAnujsharma commented on #40924
We cannot parameterize File system input in the when a file is added or modified

[2019-10-21 03:31] #41067 closed

[2019-10-21 03:48] KalyanChanumolu-MSFT commented on #41066
@kb321 Thank you for letting us know.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-10-21 04:09] KetanChawda-MSFT commented on #40757
@blueelvis Checking in to see if the above post helped answering your question?

[2019-10-21 04:11] KetanChawda-MSFT commented on #40999
@topese Did you get a chance to look into the previous post?

[2019-10-21 04:11] jwfallaw opened #41101 "Get the connection string link doesn't help"
The "Get the connection string." link goes to https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-manage-database-account
which does not show how to do so.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4314a5a5-2599-b5fd-063f-a2670e4d18c5
* Version Independent ID: 39a2f096-d18c-d51a-085a-4acc2a8cb834
* Content: [M

[2019-10-21 04:14] blueelvis commented on #40757
Let me get back to you on this in a few hours.

On Mon 21 Oct, 2019, 9:40 AM KetanChawda-MSFT, <notifications@github.com>
wrote:

[2019-10-21 04:33] SadiqhAhmed-MSFT commented on #40844
@jochenvanwylick Closing this thread for now. Feel free to reopen the issue if you need any help further on this.

[2019-10-21 04:34] SadiqhAhmed-MSFT commented on #41082
This has been taken care off.

From: SwathiDhanwada-MSFT <notifications@github.com>
Sent: Sunday, October 20, 2019 9:57 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Sadiqh Ahmed <Sadiqh.Ahmed@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Download PAYG Price Sheet? (#41082)

@lesterw1<https://nam06.safelinks.protection.outlook.com/

[2019-10-21 04:34] souravmishra-msft commented on #40210
@amarnathprofisssional, We are closing this thread as of now. Please feel free to re-open this thread in case you need any further help on the same.

[2019-10-21 04:34] #40210 closed

[2019-10-21 04:34] SadiqhAhmed-MSFT commented on #41082
Sadiqh Ahmed would like to recall the message, "[MicrosoftDocs/azure-docs] Download PAYG Price Sheet? (#41082)".

[2019-10-21 04:41] jakaruna-MSFT commented on #41007
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-10-21 04:41] #41007 closed

[2019-10-21 04:44] SwathiDhanwada-MSFT commented on #41099
@dcbrown16 Thanks for sharing the  information.
@rayne-wiselman  Can you please review and update the document accordingly?

[2019-10-21 04:45] ChiragMishra-MSFT commented on #41008
@cstainie Does the above suggestion resolve your query?

[2019-10-21 04:53] dcbrown16 opened #41102 ".Backup and .SiteRecovery"
Are these (title) still active providers? My vaults are all under the .RecoveryServices provider, and the others are not even listed in the Operations list that I can see.
https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations
If they aren't current providers, please consider removing these items - both of them refer to vaults as NOT being supported, which is

[2019-10-21 05:03] dcbrown16 commented on #26553
#please-close

[2019-10-21 05:03] #26553 closed

[2019-10-21 05:12] VikasPullagura-MSFT commented on #41101
@jwfallaw Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-21 05:13] VikasPullagura-MSFT commented on #41100
@iRaindrop Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-21 05:18] SubhashVasarapu-MSFT commented on #40680
@Leejung168 , Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-10-21 05:18] #40680 closed

[2019-10-21 05:19] SubhashVasarapu-MSFT commented on #40761
@SamirFarhat , Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-10-21 05:19] #40761 closed

[2019-10-21 05:20] anas24aj opened #41103 "High Availability of Management Server"
I was curious to know, What will happen when the Management Server Fails, how we can ensure HA for the same? Also I like to know how I can size my network bandwidth for Replication.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f8b6d0d-22ec-65e3-c21f-6a40fd2f1787
* Version Independent ID: dc284d51-3502-b8f4-5eb6-1473

[2019-10-21 05:23] alexouretski opened #41104 "Is it possible to change From email address for the Office 365 Group expiration policy emails?"
https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/groups-lifecycle

Is it possible to configure the Office 365 Group expiration policy emails to be sent out from custom email address, other than the default one msonlineservicesteam@microsoftonline.com ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-10-21 05:38] ChiragMishra-MSFT commented on #41103
@anas24aj Thank you for reaching out to us. Can you please provide a link to the document which you are following so that we can engage the correct team to help you.

[2019-10-21 06:14] SadiqhAhmed-MSFT commented on #41102
@dcbrown16 Thank you for the feedback. This issue is being assigned to the content author to evaluate and update as appropriate.

@tfitzmac Could you please check this request and take necessary action?

[2019-10-21 07:12] LouisDK opened #41107 "Azure ACI with MSI fails with Restart Policy of either Never or OnFailure"
I've been able to get a Azure Container Instance working with a UserAssignedIdentity, and successfully retrieve secrets from the KeyVault. This works either using the "az container create" command, and also with a YAML file. For some reason the container group stays in the "Waiting" state, even though the application in the container executed successfully, without errors.
Since I need my container

[2019-10-21 07:34] #40844 closed

[2019-10-21 07:41] jhoelzl commented on #38690
@cahann, okay, so i just added another S0 subscription beside the F0 subscription for authoring for all of my Luis.ai apps.

[2019-10-21 07:59] superknife0512 opened #41108 "A mistake"
In this code block:
const { ServiceBusClient, ReceiveMode } = require("@azure/service-bus");

// Define connection string and related Service Bus entity names here
const connectionString = "";
const queueName = "";

async function main(){
  const sbClient = ServiceBusClient.createFromConnectionString(connectionString);
  const queueClient = sbClient.createQueueClient(queueName);
  const receiver =

[2019-10-21 08:01] idubnori opened #41109 "Add configuration steps of using Azure Portal, fix each configuration value or JSON structure, based on the latest ARM"
- [ ] Add the steps of Azure Portal (Looks like it's already available)
- [ ] Fix each configuration value to the latest (e.g. `Equals` to `Equal`)
- [ ] Fix [JSON examples](https://docs.microsoft.com/en-us/azure/application-gateway/create-custom-waf-rules) to the latest (e.g. `matchVariable` to `matchVariables`)

![image](https://user-images.githubusercontent.com/22805312/67186654-7d9d3c00-f423-1

[2019-10-21 08:33] jakaruna-MSFT commented on #40918
@cynthn Please validate the above requests and update the doc as appropriate

[2019-10-21 08:35] jakaruna-MSFT commented on #41065
@richardspitz Do you want those statements to be added to the document?

@MikeRayMSFT please add your comments

[2019-10-21 08:36] doingnz opened #41110 "A missing "-" as it should be "--policy-name" ?"
See Set up Azure resources
'''
# Make a note of the service connection string, you need it later
az iot hub show-connection-string --name $hubname -policy-name service -o table
'''
gives error "az: error: unrecognized arguments: -policy-name service"

It needs extra dash to be as follows:
'''
# Make a note of the service connection string, you need it later
az iot hub show-connection-string --name

[2019-10-21 08:38] oatsoda commented on #40089
@maheshkumagali Did you solve this issue?

[2019-10-21 08:38] wisesimpson commented on #38152
Instead of C#, is there a solution for javascript? Thanks

[2019-10-21 08:39] jakaruna-MSFT commented on #40673
@TimLovellSmith There is no predictable scheme available.
Generally the first free port starting from 50000 will be picked and assigned when the instance is created.

when the instance is deleted, port assignment is also deleted.

Once assigned, the assignment wont change till we delete that instance.

[2019-10-21 08:43] AlexisMtr opened #41111 "FunctionApp storage costing"
According to the documentation, Azure Storage is billed out of the scope of the function but is related to the number of execution of it. I would like to know how the storage is requested by the SDK to be able to make an estimation for my project.
I would like to estimate the cost for hundreds of calls, maybe millions, in details.

I do some investigations to know the number of REST call, but it a

[2019-10-21 08:45] jakaruna-MSFT commented on #40673
Since over provisioning is set to False, It may look like that it follows a pattern. But thats not guaranteed.

You can use the cli command which i shared in the previous command to know which ports are assigned to which instances at that time.

[2019-10-21 08:46] voyager163 commented on #32589
Do update the documentation

[2019-10-21 08:50] sebhe opened #41112 "Still in preview?"
I thought this feature went GA in September, the heading of the page still says its in preview. What is correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91ad4424-8d90-7947-2f95-aec67acfec45
* Version Independent ID: 0ebfde0e-5597-fed9-f87c-761fd778fb25
* Content: [Combined registration for Azure AD SSPR and Mult

[2019-10-21 08:50] PramodValavala-MSFT commented on #38152
@wisesimpson Because of the way non-C# languages work in Azure Functions, runtime binding is not possible.

Alternatives would be
- Directly use the native SDKs as required
- Send the required data in a queue message (using the output binding) and let this message trigger another function where you can directly use the data as needed

[2019-10-21 08:50] hollyemblem commented on #39590
Hey there, just to +1 on this. We've had a similar issue with the web service signature descriptions for forecasting. It would be super helpful to understand the input expected, as it took a couple of days + help on Stackoverflow to deduce this.

[2019-10-21 08:57] AshokPeddakotla-MSFT commented on #41110
@doingnz  Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-21 08:57] cephalin commented on #40427
@akempe @robtextrequest I've updated the document with the information now and it should be published sometime today. #please-close

[2019-10-21 08:57] #40427 closed

[2019-10-21 08:58] cephalin commented on #24413
@patobtx Sorry for the delay. I've updated https://docs.microsoft.com/en-us/azure/app-service/manage-custom-dns-migrate-domain with the information now and it should be published sometime today. #please-close

[2019-10-21 08:58] #24413 closed

[2019-10-21 08:59] cephalin commented on #13777
@dcbrown16 Sorry for the delay. I've updated the doc with the information now and it should be published sometime today. #please-close

[2019-10-21 08:59] #13777 closed

[2019-10-21 08:59] jakaruna-MSFT commented on #40387
Modified the doc also.  Changes should reflect in few hours

[2019-10-21 09:05] #40387 closed

[2019-10-21 09:15] kilasuit opened #41114 "PowerShell details fro invoking reevaluation of poilicy is more complex than needed"
Azure PowerShell has a `Invoke-AzResourceAction` command which can be used like so

[code]

I will submit a PR to fix this in the docs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a6a5887-ea7a-5cae-b0a0-62ebc5a140ae
* Version Independent ID: 84476c7d-ab41-1f02-44c9-25ce1eaa1315
* Content: [Get policy compliance data

[2019-10-21 09:27] blueelvis commented on #40757
@KetanChawda-MSFT - I just checked, and no, both IPs are not the same. As in, one of the IPs is what I am getting from your command but not the other.

[2019-10-21 09:31] LeonardoFelippine commented on #41021
Hello, Micah.

Thank you for the clarification.
You mentioned my local network should allow this amount of bandwidth, but I am assuming this is also valid for Internet bandwidth, right?

Regards.

[2019-10-21 09:32] ram-msft commented on #40899
@MiguelDomingues Can you please add more details about your use case.
For Long text, Can you please confirm is it for real time or non real time?
For Long text(non real time)  you can use the Batch API.
@erhopf Could you please help with the documentation to handle Text-to-Speech for large texts.

[2019-10-21 09:35] nilsga opened #41116 "Clarify that timescaledb extension is the open source version"
It should be clarified that the installed timescaledb extension is the open source version, not the community edition, and hence does not support functionality such as continuous aggregates.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08d2543f-f47a-e9dc-1f80-1ac5ad7a71ad
* Version Independent ID: cc5f4337-01f7-4774-

[2019-10-21 09:36] kyubisation commented on #39201
@hpsin As usual the problem is between keyboard and chair. I supplied the wrong parameter to response_type, instead of letting the library handle it (we are using [angular-oauth2-oidc](https://www.npmjs.com/package/angular-oauth2-oidc)). I fixed that and it now works as expected with the implicit flow.
Thank you very much for your offer to help/support, I really appreciate it.

To further explain

[2019-10-21 09:43] jakaruna-MSFT commented on #41107
@LouisDK
Thanks for the question! We are investigating and will update you shortly.

[2019-10-21 09:43] maweeras-msft opened #41117 "Chrome support section should add comment on server SKU for clarity"
I suggest adding a comment on server SKUs for Windows 10 accounts chrome extension. Windows Server 2016 is not supported but Windows Server 2019 is. Customers assume the successful installation of extension implies it will work and aren't all familiar with build numbers. An explicit statement here about minimum required server SKU would add clarity.

---
#### Document Details

⚠ *Do not edit this

[2019-10-21 09:53] matopablo opened #41118 "Inaccurate statement"
Hello, in Step 8.3, there is something that needs to be clarified:
"Assuming your tenant has been marked to be able to use this feature, the mailbox is moved to the correct geo. This can be verified by looking at the server name where the mailbox is located."
This is partially right.
The Server Name will be updated if you run Get-MailboxStatistics, however, it won't be in Get-Mailbox until you per

[2019-10-21 09:54] KrishnaG-MSFT commented on #41019
@rajaschava Unfortunately I was not able to reproduce the issue / error. The 'New-OnPremiseHybridWorker' runbook imported from runbook gallery / powershell gallery does have the required metadata properties.

@bobbytreed @jennyhunter-msft Before I suggest and assist @rajaschava with engaging Azure technical support to determine this with more information, can you provide your insights on this (if

[2019-10-21 09:59] PingPongSet opened #41120 "Deny Assignment should be checked first"
On section "How RBAC determines if a user has access to a resource", should Deny assignement be checked before Allow assignment? This can avoid checking Allow if Deny is found.

https://docs.microsoft.com/en-us/azure/role-based-access-control/overview#how-rbac-determines-if-a-user-has-access-to-a-resource

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2019-10-21 10:04] jtuliani opened #41122 "On-demand scan REST API"
This doc describes a REST API for an on-demand evaluation scan.
However that API is not documented in the REST API docs at https://docs.microsoft.com/en-us/rest/api/policy-insights/
It's also not returned if I use the REST API doc page to list the supported provider operations (using https://docs.microsoft.com/en-us/rest/api/policy-insights/operations/list#code-try-0)

---
#### Document Details

⚠

[2019-10-21 10:08] VikasPullagura-MSFT commented on #41112
@sebhe Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-21 10:25] SubhashVasarapu-MSFT commented on #41109
@idubnori , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-10-21 10:28] souravmishra-msft commented on #40981
@JefTek, I apologize for the delay in my response. Coming to the query, basically we have provided two ways to create SCPs for Hybrid Azure AD Joined machines. So as SCP is used by the machine to understand which tenant it needs to connect to, hence initially we had proposed to create that SCP object in the configuration partition of Active Directory, so that all the machines that are a part of th

[2019-10-21 10:39] VikasPullagura-MSFT commented on #41120
@PingPongSet Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-21 10:40] VikasPullagura-MSFT commented on #41118
@matopablo Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-21 10:41] VikasPullagura-MSFT commented on #41117
@maweeras-msft Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-21 10:49] SadiqhAhmed-MSFT commented on #41082
@lesterw1 [Price Sheet API](https://docs.microsoft.com/en-us/rest/api/consumption/pricesheet) is only available for EA customers. Other subscription users should leverage [Azure pricing page](https://azure.microsoft.com/en-us/pricing/), [Azure pricing Calculator](https://azure.microsoft.com/en-us/pricing/calculator/), [RateCard API](https://docs.microsoft.com/en-us/azure/billing/billing-usage-rate

[2019-10-21 10:49] VikasPullagura-MSFT commented on #41114
@kilasuit Thanks for the PR. I am assigning the issue to the doc author for reviewing and approving the PR.

[2019-10-21 10:49] VikasPullagura-MSFT commented on #41114
@DCtheGeek Can you please review the PR.

[2019-10-21 10:49] souravmishra-msft commented on #40985
@toddjohnson39, I apologize for the delay in my response. Their is no role object called "**Enterprise Application Owner**" available in Azure AD. By "**Enterprise Application Owner**", it refers to the owner blade present under the Enterprise Application section of Azure AD (please refer to the screenshot below:)

![image](https://user-images.githubusercontent.com/54057592/67198470-a79f3000-f41c-

[2019-10-21 10:52] venkadeshwarank commented on #26874
Any Update on this?

[2019-10-21 10:52] AjayKumar-MSFT commented on #40988
@Damag3d, Apologies for the delay! Just to clarify, when you state 'AppInsights become disfunctional when using keyvault reference', does it stop working with any error message? and did you notice if it works without (undo) the reference. Ensure that the the configuration is correctly configured. You may run the  Key Vault Application Settings Diagnostic as mentioned in the document to fetch more

[2019-10-21 10:54] mamedca opened #41123 "Global administrator vs all available roles"
It would be great to summarize the coverage of the individual roles with regards to Global administrator. Unless I have no indication what I am sacrificing removing the Global admin role from one of our admins, this is a difficult trade-off to keep operation going (trial and error seems not opportune with that regard).

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2019-10-21 10:55] MiguelDomingues commented on #40899
While looking at this table [HTTP status codes table](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/rest-text-to-speech#http-status-codes-1), the 413 implies that the convert text-to-speech that the request body limit is 1024 characters.

I was wondering how could I convert a text to speech longer than 1024 characters. In my case real time was not mandatory. Was not awar

[2019-10-21 11:09] bkeski opened #41124 "Wrong (outdated) folder name"
To enable MD5 for password hash synchronization, perform the following steps:

Go to %programfiles%\Azure AD Sync\Bin.

Correct one is:
C:\Program Files\Microsoft Azure AD Sync\Bin

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c900f942-4456-5238-9f4c-a7a5bd685c04
* Version Independent ID: a5d7d971-765f-0977-f531-232ea

[2019-10-21 11:10] mfalkvidd opened #41125 "Message enrichments: Clarification on Limitations"
Message enrichments only support single values.

If my device twin looks like this:
[code]
adding a message enrichment with value `$twin.properties.desired.SensorConfig.name` will result in the value "test" as expected

adding a message enrichment with value `$twin.properties.desired.SensorConfig` will result in the value "$twin.properties.desired.SensorConfig"

It would be great if the entire tre

[2019-10-21 11:10] nhwilly commented on #26874
This might not help, but it's the most recent announcement.

https://azure.microsoft.com/updates/general-availability-of-key-vault-references-in-app-service-and-azure-functions/

[2019-10-21 11:10] damendo commented on #34510
This has been addressed.

[2019-10-21 11:12] sajames1003 opened #41126 "Initiative Definition Creation"
Hi,
All the definitions on this page relating to creating the Initiative definition are preview and not available in the portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f728627-f8e4-0e41-c747-658d9496e9aa
* Version Independent ID: 443bc940-a2a2-7c99-6d96-d7c6dd904173
* Content: [Create and manage policies to en

[2019-10-21 11:17] DCtheGeek commented on #41122
#assign:DCtheGeek

[2019-10-21 11:28] Liversage opened #41128 "Dead link to https://azure.microsoft.com/"
Navigating the first link in the section **More Information** with the title _Authorization in a web app using Azure AD application roles & role claims (Sample)_ results in a page with a 404 Not Found status (https://azure.microsoft.com/en-us/resources/samples/active-directory-dotnet-webapp-roleclaims/).

Lately, search engines (including Bing) have given me a lot dead links to samples on https://

[2019-10-21 11:29] DCtheGeek commented on #41122
@jtuliani Thanks for the feedback. The API version documented in the REST API docs is **2018-04-04** and the on-demand scan (and related asyncOperationResult) are both in **2018-07-01-preview**. If you use the `list` operation with that version, you'll see both operations:

[code]

I'll pass the request on to the team that owns updating the REST API, since that's part of a different repo and docse

[2019-10-21 11:29] #41122 closed

[2019-10-21 11:31] DCtheGeek commented on #41126
#assign:DCtheGeek

[2019-10-21 11:35] KrishnaG-MSFT commented on #41122
@DCtheGeek Thanks for the quick response. 👍

[2019-10-21 11:35] DCtheGeek commented on #41126
@sajames1003 Thanks for the question. Can you clarify the issue? There are dozens of Initiatives and Policies in the portal that are Built-in that are **\[Preview\]**. A Built-in being \[Preview\] doesn't make it unavailable in the portal.

@MicrosoftDocs/azure-cxp-triage Please label 'product-question' and #in-progress

[2019-10-21 11:37] KrishnaG-MSFT commented on #41126
@DCtheGeek Thanks for the quick response. 👍 Added labels 'product-question' and 'in-progress'.

[2019-10-21 11:37] PramodValavala-MSFT commented on #40932
@rasmuschristensen This [section of the doc](https://docs.microsoft.com/en-us/azure/api-management/import-api-app-as-api#-import-and-publish-a-back-end-api) (step 4) does mention that the swagger associated with an app is used. And in case there isn't, it is exposed as a pass-through API.

[2019-10-21 11:39] KetanChawda-MSFT commented on #41111
@AlexisMtr Thank you for your question! We will review and provide an update as appropriate.

[2019-10-21 11:40] KetanChawda-MSFT commented on #41108
@superknife0512 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-10-21 11:42] KetanChawda-MSFT commented on #40757
@blueelvis We apologize for the inconvenience you have encountered. Due to the unique characteristics of your issue, we feel it would be best if this issue is worked one on one with a support engineer hence I would recommend you to raise a support request. If you do not have access to support plan I can have a one-time support ticket created to have this issue officially tracked via a support requ

[2019-10-21 11:42] #40757 closed

[2019-10-21 11:55] CeciAc opened #41129 "Cost analysis not available yet"
**The comment below was machine translated**

@mtrangel89 commented on [Fri Oct 18 2019](https://github.com/MicrosoftDocs/azure-docs.pt-br/issues/564)

The cost analysis is not available yet, can you tell if it is slowly being made available for CSP?

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitHub.*

* ID: 302575cd

[2019-10-21 12:03] KetanChawda-MSFT commented on #41005
@trevorreeves Thanks for the details. I am assigning this to the content author for review and to update the doc as required.

[2019-10-21 12:05] DCtheGeek commented on #41114
Will review the request with the team this morning. Thanks @kilasuit for pointing out an opportunity to simplify and providing the PR. 😃

@MicrosoftDocs/azure-cxp-triage #in-progress

[2019-10-21 12:07] Blackmist commented on #39590
@hollyemblem  can you send me a link to the stackoverflow thread? I'd like to add it to the bug for the engineering team.

[2019-10-21 12:07] CeciAc commented on #41129
Hi team,
I moved this here because the user is requesting aditional information about the product

[2019-10-21 12:12] KalyanChanumolu-MSFT commented on #41116
@nilsga Thank you for the feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-10-21 12:33] msrini-MSFT commented on #41051
@cenkersoy , Going forward we recommend customers to switch to AZ module and you will see all AzureRM commands getting replaced by Az commands.

Please try to remove AzureRM module and update the latest AZ module. Alternative will be using Azure cloud-shell which has the latest AZ module installed.

Please tag me if you have any further questions.

[2019-10-21 12:33] #41051 closed

[2019-10-21 12:47] JohnStraumann66 opened #41130 "No such module 'MSAL'"
Hi:

I tried creating my own app, and also downloaded the sample code. I followed all the steps, but when I get to the step add "import MSAL", the project fails with an error: No such module 'MSAL'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9c2a719-62fa-b111-03a6-1268cc4caaaa
* Version Independent ID: 2fe78b74-771

[2019-10-21 12:55] xtianus79 commented on #41058
@diberry ahhh ok!

[2019-10-21 13:01] Scepheo opened #41131 "ACR Roles & Permissions incorrectly states "Reader" role cannot pull images"
The table at the top of the document states that the "Reader" role does not have pull permissions (see PR #32784), but it does. This is because the reader role is granted the actions `*/read`, which includes `Microsoft.ContainerRegistry/registries/pull/read`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce2b8b02-584a

[2019-10-21 13:13] ArchieCoder commented on #40790
Thanks for the reply. I found that the IR has the option to hide the back button, I hide it and created my own top bar that includes a close button.

I get what you are saying with the WebView.ScriptNotify + window.external.notify, but this is something not UWP easy to do when there is no sample. I'm comfortable with UWP but no JS :)

[2019-10-21 13:20] DeanGross opened #41132 "Last Log received"
For the AIP Connector, the Last Log Received value is showing as 10 days ago. How can we force an update?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30350607-39c8-7898-eb65-48c4825df6ad
* Version Independent ID: 40db1304-c34f-9391-ffc3-60e0392ab7d0
* Content: [Connecting Azure Information Protection data to Azure S

[2019-10-21 13:23] Canis-Lupis opened #41133 "Settings do not work for Chrome"
[Previously open under #40727 which was closed prematurely]
The instructions here for group policy preference options do not work for Chrome.  We have tested SSO with 6 test users and SSO is just not working with Chrome.  They all report that it does work with IE and Edge, however.  The only way we have been able to get it to work with Chrome is to manually add https://autologon.microsoftazuread-s

[2019-10-21 13:25] SadiqhAhmed-MSFT commented on #41129
@CeciAc Thanks for the question! To ensure we provide the best partner and customer experiences at launch, we are moving the launch date of the new commerce experience for Azure in CSP from October 2019 to 1 November, 2019. [Source]([url](https://blogs.partner.microsoft.com/mpn/expanding-partner-opportunities-with-azure-csp/))!

Hope that answers your question. Just an FYI: [Feedback item](https:/

[2019-10-21 13:25] #41129 closed

[2019-10-21 13:25] stawo opened #41134 "Total project size limit is 25 MB"
I followed the tutorial, but when it comes to deploying the experiment to Azure, I get the following error:
"error: Your total project size is 74.78 MB which exceeds the limit of 25 MB. Please see http://aka.ms/aml-largefiles on how to work with large files."

Reading the documentation, it seems that the default size should be 300MB, so I cannot understand why it says 25MB. Is it related to the VM

[2019-10-21 13:33] VikasPullagura-MSFT commented on #41123
@mamedca Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-21 13:34] VikasPullagura-MSFT commented on #41124
@bkeski Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-21 13:36] VikasPullagura-MSFT commented on #41128
@Liversage Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-21 13:40] tiagodenoronha commented on #39834
Getting this issue aswell.
On UnregisterAllAsync, i'm getting the following error, even after updating the package to 2.0.4:

Native stacktrace:

	0x106a9664c - /private/var/containers/Bundle/Application/3EF098DF-513C-4BC0-9731-DC825F3C60B8/Touch.app/Touch : _ZN7plcrash2MS5async24dwarf_cfa_state_iteratorIyxE4nextEPjPNS1_28plcrash_dwarf_cfa_reg_rule_tEPy
	0x106a8c434 - /private/var/containers/Bundl

[2019-10-21 14:01] asergaz commented on #40765
Thank you for your feedback @idbanham we will reach out to content team and product group offline to include your suggestion on next versions of this and related docs.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-21 14:01] #40765 closed

[2019-10-21 14:07] NavtejSaini-MSFT commented on #41032
@allenwux Assigning this to you for further action.

[2019-10-21 14:09] jofergus commented on #40978
Must have been user error.  While showing Anthony Howe the error the parallelcp command acutally worked.  Close this out.

[2019-10-21 14:10] #40978 closed

[2019-10-21 14:12] JJussi opened #41135 "Port is missing"
Mandatory outbound security rules
says:
management	443, 12000   TCP

However next "Important" box says:

Ensure there is only ... and one outbound rule for ports 80, 443, 12000.

So, that port 80 is missing from "Mandatory outbound security rules" list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc2dd547-3ff7-b32a-

[2019-10-21 14:21] cobra30299 commented on #41060
Thank you this is steve thompson with Microsoft ! STTHOMPS

Need this for a customer !

steven.thompson@microsoft.com

----- Original Message -----

From: "NavtejSaini-MSFT" <notifications@github.com>
To: "MicrosoftDocs/azure-docs" <azure-docs@noreply.github.com>
Cc: "cobra30299" <swthompson@wowway.com>, "Mention" <mention@noreply.github.com>
Sent: Friday, October 18, 2019 4:54:22 PM
Subject: Re:

[2019-10-21 14:26] asergaz commented on #40863
@jmonticelli I am trying to repro your issue. Just checking if on your IoTHub you also have IoTEdge devices created?

Thanks!

[2019-10-21 14:26] NavtejSaini-MSFT commented on #41060
@cobra30299 We will try to check this today and revert.

[2019-10-21 14:35] tomfrenzel opened #41137 "Solution for: "Tried the following 3 methods to get an access token, but none of them worked""
If your Key Vault is running on an different Microsoft Account then the one you're logged in to Visual Studio (e.g. The Key Vault is running on your Work Account, but Visual Studio is using your private Account) you'll get an error in your Program.cs file, that Visual Studio can't get access to the Key Vault. That's how to fix that issue:
1. Go to your Azure Portal and open your Key Vault.
2. Crea

[2019-10-21 14:35] axelgMS commented on #40292
new PR = Add info on the Windows Azure CRP Certificate Generator #[41136
](https://github.com/MicrosoftDocs/azure-docs/pull/41136)

[2019-10-21 14:35] #40292 closed

[2019-10-21 14:47] KumudD commented on #34510
#please-close

[2019-10-21 14:47] #34510 closed

[2019-10-21 14:52] KrishnaG-MSFT commented on #37403
Work is currently underway to enable Python 3 support and we are aiming to do this in mutliple stages aiming for HRW and Update Management in the first stage, followed by enabling this for cloud jobs, and hope to have this live at the beginning of Q1 in calendar year 2020.

[2019-10-21 14:54] stevestein commented on #23879
@v-makta, @tonyjthomas - Thanks for the feedback. Doc has been updated to match portal values.

Thanks!

#please-close

[2019-10-21 14:54] #23879 closed

[2019-10-21 14:55] asergaz commented on #40855
Hi @keshava-hm let's close the issue here and continue on [the one you created in iotedge SDK repo](https://github.com/Azure/iotedge/issues/1851), as the issue is deviating from the purpose of [the tutorial where you opened this issue at. ](https://docs.microsoft.com/en-us/azure/iot-edge/quickstart).

For reference:

This can be due to different configurations in the config.yaml file (see [here](h

[2019-10-21 14:56] galmok commented on #35316
Also, when a function throws an exception, it is important these properties are logged with the exception. The function framework can cause various exceptions, and knowing the properties can help debug the situation.

[2019-10-21 14:57] WaltNC opened #41138 "Cost Alerting Recommendation: Budget Pace Exceedance"
Instead of a % of budget, what we really need is to be alerted anytime we are above a budgeted pace.   For example, if Azure could calculate at the end of each business day what our total costs for the billing cycle are so far, and what percent of the billing cycle has elapsed, you could send us an alert if we are above the budget dollar pace we set.

Here's the business case.  I get a monthly bud

[2019-10-21 15:21] BharathNimmala-MSFT commented on #40934
@marwa-ahmad If you are referring to viewing POST request body in Application Insights, you have to implement your own [Telemetry Initializer](https://docs.microsoft.com/en-us/azure/azure-monitor/app/api-filtering-sampling#add-properties-itelemetryinitializer)

Please refer to [this ](https://stackoverflow.com/questions/42686363/view-post-request-body-in-application-insights) stack over flow threa

[2019-10-21 15:21] #40934 closed

[2019-10-21 15:22] MicahMcKittrick-MSFT commented on #41021
Yes that would also be for internet bandwidth

[2019-10-21 15:23] GiftA-MSFT commented on #41134
@stawo thanks for reaching out. We'll review this issue and get back to you shortly. Thanks.

[2019-10-21 15:25] MicahMcKittrick-MSFT commented on #41131
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-21 15:29] euangordon commented on #31714
@YaraZakaria had the same issue here. Wish they would make this more obvious. It is really frustrating that things you have done 100 times before, with no issues, suddenly become hidden and harder to do. This is the case with V1 functions in the Azure Portal and now in Visual Studio too. There are still many people using .NET Framework, don't forget about us or make our lives continuously harder.

[2019-10-21 15:38] sthomas40 commented on #41112
Yes - This I was under the same impression. Could you please inform us when it is now going to GA?

[2019-10-21 15:41] diberry commented on #41058
#please-close

[2019-10-21 15:41] #41058 closed

[2019-10-21 15:51] simonvane opened #41139 "Is data visible?"
My understanding is that:
1. data is not returned by any queries (by any API) once the TTL has expired.
2. data may still exist in storage and will be deleted when there are available spare RUs.

This statement is a little ambiguous though - "Expirations may be delayed if the container is under heavy load and no Request Unit is left for maintenance tasks.".

Can you confirm that my understanding i

[2019-10-21 15:51] josiahlaivins commented on #39607
After downgrading, everything works now. Thanks for you all's help.

[2019-10-21 15:51] #39607 closed

[2019-10-21 15:51] diberry commented on #40396
@GiftA-MSFT - the samples are in the process of being updated for the Ignite Conference. I'll fix the links after Nov 4. On backlog. #please-close

[2019-10-21 15:51] #40396 closed

[2019-10-21 15:53] diberry commented on #40837
#in-progress

[2019-10-21 16:01] hpsin commented on #39201
Gotcha, glad it's working. We're OIDC compliant, so you should definitely be able to use any library you like and cut down on duplicates (until you want to support conditional access etc.).

Unfortunately we can't guardrail this error case, it would be nice to indicate that the response type doesn't match the reply url purpose, but given deeplinks on mobile platforms I don't believe that's possibl

[2019-10-21 16:01] hpsin commented on #39201
#please-close

[2019-10-21 16:07] josiahlaivins opened #41140 "Deploy when ready"
We have some docker containers that will be doing critical processing. The last thing we want is for a Module to be processing some data, and then reset mid-process due to a new deployment (such as an updated image).

Is there a way to only update a module when the module says it is safe to update?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-10-21 16:07] qub1n opened #41142 "Clarify Block blob pricing Does 1GB = 1024 MB or 1GB = 1000 MB?"
I am trying to understand Azure pricing, but I cannot find how big is 1GB for blob storage.
https://en.wikipedia.org/wiki/Gigabyte

Please add a footnote to [Block blob pricing page](https://azure.microsoft.com/en-us/pricing/details/storage/blobs/) if 1GB i s1024 MB or 1000MB.

For example on Azure [Bandwidth Pricing Details](https://azure.microsoft.com/en-us/pricing/details/bandwidth/), there is

[2019-10-21 16:08] NavtejSaini-MSFT commented on #41135
@JJussi We are checking this and will get back to you.

[2019-10-21 16:09] NavtejSaini-MSFT commented on #41139
@simonvane We are checking this and will get back to you.

[2019-10-21 16:15] SamirFarhat opened #41143 "The Custom Script Extension for Linux will run on the extension supported extension OS's, for more information, see this article."
"The Custom Script Extension for Linux will run on the extension supported extension OS's, for more information, see this article."
The article in questions shows *Windows* and Linux. This is very misleading since this extension is only for Linux. My team spent days troubleshooting why it's not working, and we cannot find anywhere stating that this extensions is not supported for Windows. Please s

[2019-10-21 16:18] sircybershark opened #41144 "Scene Help"
Hello. So what are the scenes supposed to be doing exactly? The first two scenes in the project prompt me to "Create Cloud Spatial Anchor Session for query", but I can't click "Next Step"... The third scene is a bit confusing as well. The fact that I can navigate past the first screen by "Locate Shared Anchor" allows me to surpass the "Create Cloud Spatial Anchor Session for query" screen.. This l

[2019-10-21 16:21] rohitkunduru opened #41145 "Cosmos DB Bootstrap program link does not work"
There are links to Cosmos DB Bootstrap program at multiple places on this page. When we click on those links, we get a Page not found 404 error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e98d6edd-995b-185e-ecb1-abad63503464
* Version Independent ID: fc5fd923-5ec8-639f-47ec-4fed74816af2
* Content: [Migrate hundreds

[2019-10-21 16:23] asergaz commented on #19417
@mapavia see the following thread on SO: https://stackoverflow.com/questions/53652400/how-to-increase-size-of-the-epoch-at-azure

Hope it helps. Thanks!

[2019-10-21 16:23] jstutson commented on #37377
Thanks for the reply and glad to hear that auth for different Azure resources is moving in a more consolidated direction.

Consumers need complete transparency on token expiration and the renewal process (if this is provided for us.)

Once the `BlobContainerClient` is created, those credentials are locked in.  It's not clearly documented what the intended lifetimes are of these clients or what the

[2019-10-21 16:24] YutongTie-MSFT commented on #40802
@erhopf  Hi Eric, do you have any idea about this issue? Thanks.

[2019-10-21 16:27] erhopf commented on #40802
This information is stored in the Gov Cloud documentation, not the public docs. You can see supported regions here: https://azure.microsoft.com/en-us/global-infrastructure/services/?products=cognitive-services

#please-close

[2019-10-21 16:27] #40802 closed

[2019-10-21 16:32] djpmsft commented on #40377
@kazshi If you are using data factory to talk to the Azure Function service, Azure function limits will take precedence over the data factory limits.

[2019-10-21 16:40] ajlam commented on #35826
Closing this issue for now. Please reopen if needed.

#please-close

[2019-10-21 16:40] #35826 closed

[2019-10-21 16:42] ajlam commented on #40531
@mpchen - following up on the feasibility of #2

[2019-10-21 16:44] lisaguthrie commented on #40931
Thanks for catching this one, @MoiMoiDG. We are going through and updating all our documentation for .NET Core 3.0 -- we'll make sure to get this one addressed, too.

cc: @jpconnock

[2019-10-21 16:47] demesg opened #41147 "IncludeAuthnContextClassReferences"
IncludeAuthnContextClassReferences -&gt;"Specifies one or more URI references identifying authentication context classes......"
The tech-profile only allows one "Item" element with "IncludeAuthnContextClassReferences".
In the AuthnRequest each uri is a own element, who do I specify more than one URI in saml-idp-tech-profile?

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2019-10-21 16:48] phil-lgr opened #41148 "Please specify that this is for a STORAGE ACCOUNT v2 and not BlobStorage or V1"
as title, thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: badc419b-60d5-ba2c-0830-8d573db10dbe
* Version Independent ID: efad89d0-d0da-895f-984d-046d67797ab4
* Content: [Tutorial: Host a static website on Blob storage - Azure Storage](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-static-websit

[2019-10-21 16:48] #40236 closed

[2019-10-21 16:51] Mike-Ubezzi-MSFT commented on #41145
@rohitkunduru Thank you very much for bringing this to our attention. I am going to have the content author review this document an update as appropriate.

[2019-10-21 16:55] Adam-Smith-MSFT commented on #40842
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-10-21 16:55] #40842 closed

[2019-10-21 17:03] stevestein commented on #40654
@jlee-vi - Hi James. The article is about selecting which Azure SQL option to deploy:
![image](https://user-images.githubusercontent.com/9388190/67226384-a0126380-f3e9-11e9-959f-4d24d8a4d68c.png)

In what context are you looking for SSIS information here?

[2019-10-21 17:03] cloranger commented on #40802
This is not the issue. The document I included did not list the string for the USGovVirgina region.

From: erhopf <notifications@github.com>
Sent: Monday, October 21, 2019 11:28 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Casey Loranger <Casey.Loranger@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [MicrosoftDocs/azure-docs] Need to Update for

[2019-10-21 17:05] glzbcrt opened #41149 "Make clear that in an external load balancer is the client public IP address that is needed to allowed in NSG"
Hello,

I am implementing a load balancer and the traffic was not being delivered to my backend server.
After some time I created a ticket and Microsoft helped me to understand what was going on.

In my case the LB is external so the IP address that is sent to my backend is the client IP address and this one is the one that needs to be granted access in NSG.

I think it would be a good idea to mak

[2019-10-21 17:10] stevestein commented on #40602
@GithubMirek - Mirek, can you take a look at this and see if we can add the requested info?

Thanks

[2019-10-21 17:12] Alberto-Vega-MSFT commented on #41068
Hi @nmikuni Thanks for trying Azure IoT Hub and  I'm sorry you are stuck with this issue. Would you please create a feedback entry at [IoT Hub User voice?](https://feedback.azure.com/forums/321918-azure-iot) the User Voice platform has an upvote feature that allows other customers to back your requests and the engineering team to prioritize.

I would suggest you to post on StackOverflow or MSDN ww

[2019-10-21 17:17] sebastianburckhardt commented on #40741
Those are good suggestions. I will add sample code for a better constructor, and for reading the state from external storage.

[2019-10-21 17:23] Alberto-Vega-MSFT commented on #41140
@josiahlaivins Thanks for trying Azure IoT Edge. Would you please open an issue with your question on the SDK repository? https://github.com/Azure/iotedge

[2019-10-21 17:27] josiahlaivins commented on #41140
Created an issue at https://github.com/Azure/iotedge

[2019-10-21 17:28] rajaschava commented on #41019
Per the notes, "This script is intended to be run with administrator privileges and on a machine with WMF 5"

I could not find whether I have WMF 5.1 installed. I did not find any downloads for Windows Server 2016. I am an admin on the VM and running powershell ISE as the admin.

[code]

[2019-10-21 17:29] georgewallace commented on #39357
@jakaruna-MSFT We should change these accounts and password examples to be code fences instead of bold as seen in the example below.  You can escape the @ symbol with \ but this would render the account as a clickable link.

[code]

[2019-10-21 17:30] SaurabhSharma-MSFT commented on #41137
@tomfrenzel Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-21 17:30] SaurabhSharma-MSFT commented on #41130
@JohnStraumann66 Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-21 17:33] Alberto-Vega-MSFT commented on #41140
Thank you @josiahlaivins engineering team is very active there. Closing this issue there for now.

[2019-10-21 17:33] #41140 closed

[2019-10-21 17:35] diberry commented on #40837
@RohitMungi-MSFT Thank you for suggesting another query.
@chandruchiku Thank you for reporting this issue - the fix will be published today.

#please-close

[2019-10-21 17:35] #40837 closed

[2019-10-21 17:40] rishabpoh commented on #14182
#reassign: rishabpoh

[2019-10-21 17:40] ChristianMontoya commented on #41096
@tsrob50 : Looking/confirming now. However, TenantID is working, unless we're using different AzureAD modules. Can you confirm which module you're using?

[2019-10-21 17:40] PRMerger16 commented on #14182
GitHub user seguler has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2019-10-21 17:40] SaurabhSharma-MSFT commented on #40707
@husamhilal We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-10-21 17:40] #40707 closed

[2019-10-21 17:44] TylerMSFT commented on #41130
It sounds like you haven't installed the MSAL library. The instructions show how to do this using Cocoa pods or Carthage here: https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-ios#add-msal

[2019-10-21 17:45] GithubMirek commented on #40602
We need to clarify if MSAL node library supports MFA

[2019-10-21 17:45] BharathNimmala-MSFT commented on #40860
Thank you @mrbullwinkle for helping on this.

@j03Martin Thanks again for brining this to our attention. The doc is updated accoridngly and the change is live. Will go ahead and close this issue now, please feel free to revert back if you have any further queries.

[2019-10-21 17:45] #40860 closed

[2019-10-21 17:49] SaurabhSharma-MSFT commented on #41147
@demesg Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-21 17:49] sthoward0914 opened #41150 "Need Azure Data Lake Store Gen2"
We really need to call out the capacity (or unlimited capacity) for Azure Data Lake Gen2. We're out of preview with this now, and there is a lot of confusion on whether or not it has unlimited storage specifically because you provision it as Azure Storage which definitely DOES have a capacity limit. It is finding its way to errant teaching by instructors as well.

About the only place I find it ca

[2019-10-21 17:50] SaurabhSharma-MSFT commented on #41133
@Canis-Lupis Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-21 17:52] JohnStraumann66 commented on #41130
Unfortunately no that's not the problem. I did follow the instructions for installing the Library.

[2019-10-21 17:52] chadcarlton commented on #36926
Please update the status of this.

[2019-10-21 18:02] craigshoemaker commented on #9958
Thanks for the suggestion, @aappddeevv. Since this binding is still in preview and the approach you suggest isn't fully supported, I am going to #please-close this issue.

[2019-10-21 18:02] #9958 closed

[2019-10-21 18:07] jennyhunter-msft commented on #41019
If the PS Version is greater than 5.1,  then you should have WMF 5.1 installed.

[2019-10-21 18:14] John-Blair opened #41152 "totally confusing"
rubbish

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56e4bcb2-e585-af85-8abd-0bc37b2b7992
* Version Independent ID: 1ce8abec-50fc-cd5b-2853-7ba2dbd01149
* Content: [How to create a Service Bus namespace in the Azure portal](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-create-namespace-port

[2019-10-21 18:17] mamccrea commented on #40657
I have added a work item to our backlog to split the build and release pipelines. I will update here when it is complete.

#please-close

[2019-10-21 18:17] #40657 closed

[2019-10-21 18:19] tsrob50 commented on #41096
I don't have access to the system I was working on but did just try it again with 2.0.0.52 and the commands worked.  I must have an outdated version.  Thanks for looking into this, you can close the issue.

[2019-10-21 18:20] theboymango opened #41153 "Assigned storage"
Would it be possible to include in the table for each VM profile the assigned storage capacity included each VM? This would allow us to be more accurate in our Consumption plans as we'd know if we'd need to assign additional dedicated storage.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01ac4a62-d3d5-c73c-cda2-a1178

[2019-10-21 18:21] MonikaReddy-MSFT commented on #41016
Hello @andrehe001 , Can you confirm if you have installed the extension by using the below command using Powershell?
`az extension add -y --source https://azureclitemp.blob.core.windows.net/spring-cloud/spring_cloud-0.1.0-py2.py3-none-any.whl`

Were you able to create it successfully without any issues?

If yes, can you try the `az spring-cloud -h` command  in powershell and tell me if you are abl

[2019-10-21 18:26] MarileeTurscak-MSFT commented on #41144
@sircybershark please link the article that you are following so that we can assist you.

[2019-10-21 18:28] FrankHu-MSFT commented on #40927
@Cm1602 Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please file a new git issue with a reference to this one if you have anymore concerns. Thanks

[2019-10-21 18:29] MarileeTurscak-MSFT commented on #41044
Hi @avramanaareddy please open a new issue including the document that you are following, or better yet post your question to MSDN so that we can troubleshoot with you there. https://social.msdn.microsoft.com/Forums/en-US/home

Since I have not heard back I will proceed to close this thread.

[2019-10-21 18:29] #41044 closed

[2019-10-21 18:32] sircybershark commented on #41144
Whoops, sorry about that. Still relatively new to this whole "development" thing. It's https://docs.microsoft.com/en-us/azure/spatial-anchors/quickstarts/get-started-unity-android

[2019-10-21 18:32] SaurabhSharma-MSFT commented on #40849
@pritub I do not see any issues using the Cloud Shell as well and I am able to assign the secrets.
![image](https://user-images.githubusercontent.com/38112130/67232576-7dd31280-f3f6-11e9-9b16-e19955b89f0f.png)
I suggest you to please open a Support ticket for your issue.

[2019-10-21 18:33] smoms opened #41155 "Make clarity on data flow for authentication"
Is possible to have a data flow described? What are the responsibilities of that AAD client and server apps? How the token gets generated, by who?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a47c6df7-5103-1336-eb0b-68f95155e6c8
* Version Independent ID: f4420b08-9b57-f581-fcb4-f069afdd5b0c
* Content: [Integrate Azur

[2019-10-21 18:34] ChristianMontoya commented on #41096
Thanks for checking back! #please-close

[2019-10-21 18:34] #41096 closed

[2019-10-21 18:35] MicahMcKittrick-MSFT commented on #41155
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-21 18:35] MicahMcKittrick-MSFT commented on #41143
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-21 18:37] gladysgit2017 commented on #40894
Hi frank
Thanks for following up, it is happening with some users, not all of them. I think sometimes users type the phone numbers in different ways, missing numbers, spaces or adding dashes..
Please close the ticket, I will contact MS if I get this issue again.

Gladys aguilera | Information Programs Analyst
DAL Global Services  | 980 Virginia Avenue, Atlanta, GA 30354
Direct: 404-714-6085
Connec

[2019-10-21 18:37] roygara commented on #40902
@dcbrown16 Thanks for reaching out. This is already covered in the disk documentation where the disk roles are discussed. Accordingly, we won't be making changes at this time and I'm going to close out this issue. Please feel free to re-open it if you've any further questions.

#please-close

[2019-10-21 18:38] #40902 closed

[2019-10-21 18:39] FrankHu-MSFT commented on #41018
@umutge thank you for letting us know about this. We're currently adding a note regarding the preview module accordingly.

Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please file a new git issue with a reference to this one if you have anymore concerns. Thanks

[2019-10-21 18:41] BharathNimmala-MSFT commented on #41153
@theboymango Thank you for your question, we will further validate the ask and get back to you at the earliest. Thanks

[2019-10-21 18:44] YanumVlad opened #41156 "Health probe configuration is missing"
Team,

HTTP health probe configuation is missing.
According to screenshots, HTTP probe with HealthProbe.aspx should be used.
However, the next screenshot shows TCP:80.
I did not notice second hidden settings, it made me a bit in stuck.
Fix is easy -&gt; pls replace screenshot with ASPX with TCP one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-10-21 18:50] NavtejSaini-MSFT commented on #41139
@simonvane We have assigned it to our Doc Author for further review.
@SnehaGunda Can you please check this and respond to user's query.

[2019-10-21 18:53] MarileeTurscak-MSFT commented on #41128
This is a good catch! Looks like the actual link should be here: https://github.com/Azure-Samples/active-directory-dotnet-webapp-roleclaims

I made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/92625

@kkrishna do you know if there is a work item to update the links where this is a problem? I created one here but feel free to remove this if there is already an exi

[2019-10-21 18:53] #41128 closed

[2019-10-21 19:01] clineer commented on #40865
Hey, sorry I did not get you a screenshot yet. I will try to get this for you today.

Ben

From: Ben Cline
Sent: Wednesday, October 16, 2019 7:01 PM
To: MicrosoftDocs/azure-docs <reply@reply.github.com>; MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] The results() function works inconsistently (#40865)

Yes

[2019-10-21 19:03] nzthiago opened #41157 "Better JavaScript documentation needed"
Documentation on how to use the SignalR Service in JavaScript should be available, similar to the existing documentation for .NET throughout these pages.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edb1fa6c-8433-882f-8b97-4d381f885b1d
* Version Independent ID: aad3ec71-363f-3500-8bcd-dc040f71821e
* Content: [Quickst

[2019-10-21 19:04] xtianus79 commented on #41058
@diberry and @GiftA-MSFT this is actually a bigger issue than perhaps realized... There is no way to change the authoring setting because of this and I keep getting subscription errors and forbidden usage in the LUIS portal

[2019-10-21 19:08] porrascarlos802018 opened #41158 "Step by step guide to check credentials expiration date by users not referenced or exist."
Step by step guide to check credentials expiration date by users not referenced or exist.

-Open cloud shell from the portal and execute below commands or using your up to date Azure CLI  locally .

- List the ID of the service principal using this command:
az aks show --resource-group &lt;rgname&gt; --name &lt;clustername&gt; --query "servicePrincipalProfile.clientId" --output tsv

-Get the displ

[2019-10-21 19:10] diberry commented on #41058
@xtianus79 Can you log this issue from inside the LUIS portal via the top nav bar feedback -> General inquiry through user Voice (smile face)? That gets the issue directly to the support people.

[2019-10-21 19:15] rajaschava commented on #41019
Looks like this issue was observed by others too. Based on their feedback I updated the module PowershellGet and the issue is resolved. Please update the documentation or include this part of the script.

Install-Module PowershellGet -Force

[2019-10-21 19:15] #41019 closed

[2019-10-21 19:20] spottedmahn opened #41159 "Add Example using App Insights in the Browser"
How about adding a snippet about how to use app insights in the browser now that I've configured my ASP.NET Core MVC app for app insights?

Can I just use `appInsights.trackEvent({ name: 'blah' });` now?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b88d8c4-0013-70aa-7997-a2203afd9743
* Version Independent ID: 0ab99d

[2019-10-21 19:21] BharathNimmala-MSFT commented on #41153
@theboymango Thanks again for the feedback, I have assigned this issue to our doc author @spelluru to further evaluate if the doc can be enhanced to reflect the storage capacity accordingly.

[2019-10-21 19:27] TimLovellSmith commented on #40673
What does 'delete that instance' include?
-Scaling down?
-Autoscaling down?
-[Deallocate] (https://docs.microsoft.com/en-us/rest/api/compute/virtualmachinescalesets/deallocate)?
-What bout reimage(https://docs.microsoft.com/en-us/rest/api/compute/virtualmachinescalesets/reimage)?
-What about [perform maintenance](https://docs.microsoft.com/en-us/rest/api/compute/virtualmachinescalesets/performmain

[2019-10-21 19:31] NavtejSaini-MSFT commented on #41060
@cobra30299/Steve - We have confirmed with our Product Group team and the documents are up to date with Gateway information.
Hope this helps.

[2019-10-21 19:31] MicahMcKittrick-MSFT commented on #41158
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

CC @MicrosoftDocs/aks-pm

[2019-10-21 19:31] NavtejSaini-MSFT commented on #40779
@cobra30299/Steve - We have confirmed with our Product Group team and the documents are up to date with Gateway information.
Hope this helps.

[2019-10-21 19:32] avramanaareddy commented on #41044
This is the document I am following.

https://github.com/Azure/azure-notificationhubs-java-backend

[2019-10-21 19:34] JohnStraumann66 commented on #41130
Ah, solved. Earlier this step did not work:

Close Xcode and open <your project name>.xcworkspace to reload the project in Xcode.

but I tried again by right-clicking and selecting "Open With". all seems to be working now.

[2019-10-21 19:36] FrankHu-MSFT commented on #41033
@kprpg Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please file a new git issue with a reference to this one if you have anymore concerns. Thanks

[2019-10-21 19:38] stevestein commented on #33317
An internal work item (1620412) has been created to address updating the article with the info in this issue.

Thanks!

#please-close

[2019-10-21 19:38] #33317 closed

[2019-10-21 19:39] SamaraSoucy-MSFT commented on #41024
@MoiMoiDG

The default configuration listed in this doc does not include dynamic refresh, so the results you describe are intended.

In order to do so, you need to continue on to the [tutorial for dynamic refresh](https://docs.microsoft.com/en-us/azure/azure-app-configuration/enable-dynamic-configuration-aspnet-core) linked to at the bottom of this quickstart. Following the directions in that tuto

[2019-10-21 19:41] josiahlaivins opened #41161 "What would reboot code actually look like?"
Using reboot capabilities is an interesting example. How would python code in a module trigger a device reboot? Wouldn't this have permission issues?

I ask because if we can execute root commands using direct methods, we can automate some complicated docker issues that we would need to otherwise do manually.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-10-21 19:42] TravisCragg-MSFT commented on #41142
@qub1n Thanks for the feedback. We are actively investigating and will get back to you soon.can you post a

[2019-10-21 19:42] rupeshprasad opened #41162 "Issue with GUID"
I am trying load full data from on prem sql to AZ sql using this article. Everything seems to work fine except for one table where one of the column type is uniqueidentifier in SQL. I am reading the GUID (from on premises sql ) and trying to push to table with same schema in AZ sql database. It is complaining that it can not convert string to GUID. I am using stage environment to speed up the copy

[2019-10-21 19:44] shashishailaj commented on #40735
@mpchen You are correct. As per my test , the owner permission is required to make the pricing change on the subscription object. The clarification for the same is not added it seems. As for your other queries related to auto provisioning and email contact, I am engaging the author for further clarification and update of the document.

[2019-10-21 19:45] stevestein commented on #34764
@hope4555 , @KalyanChanumolu-MSFT - an internal work item (1620416) has been opened to consider updating the article with the info in this issue.

Thanks!

#please-close

[2019-10-21 19:45] #34764 closed

[2019-10-21 19:46] Deep-Six commented on #12233
Any time frames on when we can expect the ability to create custom rules?

[2019-10-21 19:46] josiahlaivins opened #41163 "Module to Module Throttle"
Does the message size and speed throttling effect module communication if they are on the same device?

Because we are trying to have 2 modules send each other data via messages and a round trip excluding processing is around 15-20ms on the same device. I am having trouble finding information on this, having an explanation/link to more info about this would be helpful.

---
#### Document Details

[2019-10-21 19:50] GiftA-MSFT commented on #41027
@MayMSFT please can you update the link to sample notebook in this document. Thanks.

[2019-10-21 19:51] memard30 commented on #34353
Using premium files for SQL FCI is now fully tested and supported.
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-portal-sql-create-failover-cluster-premium-file-storage

[2019-10-21 19:51] prajster commented on #30041
what about the powershell command to create an outbound rule on an existing standard load balancer.

[2019-10-21 19:53] stevestein commented on #35770
@TamirAl - thanks for the feedback. Looks like the link is working now.

Thanks!

#please-close

[2019-10-21 19:53] #35770 closed

[2019-10-21 19:54] normesta commented on #40886
Thank you @jgurzoni ! Yes. this was a doc bug. The fix should appear live by this afternoon.

[2019-10-21 19:54] normesta commented on #40886
#please-close

[2019-10-21 19:54] #40886 closed

[2019-10-21 19:55] TravisCragg-MSFT commented on #41149
@glzbcrt Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@chadmath FYI

[2019-10-21 19:59] FrankHu-MSFT commented on #40894
@gladysgit2017 alright sounds good,
per your confirmation i'll be I will be closing out this git issue by end of day today. Please file a new git issue with a reference to this one if you have anymore concerns. Thanks

[2019-10-21 20:00] imlarry opened #41164 "performant not performance, incrementally not incremental"
"It is the most performance approach for incremental loading new files."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be702c35-c5aa-4a8e-8495-cc3fd9ff3b14
* Version Independent ID: a059a7f6-a8da-d6da-9bff-bf608c853a3b
* Content: [Incrementally copy data by using Azure Data Factory](https://docs.microsoft.com/en-us/az

[2019-10-21 20:02] RyanHill-MSFT commented on #40853
Hi @flacidsnake I think https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-3.0#azure-app-service-provider is what you're looking for. I don't know off hand how you can do the folder structure you're looking for but you can definitely do the custom file name.

[2019-10-21 20:04] TravisCragg-MSFT commented on #41156
@YanumVlad Thanks for the feedback! For the instructions to work as-is, you would need to create a page called healthprobe.aspx. You could also point it to your homepage, or use the TCP probe.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-21 20:05] FrankHu-MSFT commented on #41056
Hey @jaffadog  are you sure you've configured the optional claims correctly?
Please see this msdn thread for more information on how the claim configuration works : https://social.msdn.microsoft.com/Forums/en-US/a211126f-dff3-416c-a568-46f9a863d282/groups-not-in-access-token?forum=WindowsAzureAD

These configurations have to be on the resource, not the client app registration.

[2019-10-21 20:10] MicahMcKittrick-MSFT commented on #40940
Closing this. Please let me know if you still have issues and we can reopen.

[2019-10-21 20:10] #40940 closed

[2019-10-21 20:10] IntrepidBlazon opened #41165 "Stipulated Period??"
The note mentions "AD FS would start deleting device objects from on-premises directory after a stipulated period". Could we just have the period defined right here? I haven't been able to determine how long we wait to be sure objects don't get deleted because of this ambiguous language.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-10-21 20:10] MarileeTurscak-MSFT commented on #41124
Thanks @bkeski ! I made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/92650

[2019-10-21 20:10] #41124 closed

[2019-10-21 20:11] bkpearson opened #41166 ""Incoming Steam""
Possibly should be "Incoming Stream"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d465d0f-2f3e-3543-5a25-2a93b31fe6d7
* Version Independent ID: 349773df-a14c-4765-9330-44704be77047
* Content: [Azure Data Factory Data Flow Move Nodes](https://docs.microsoft.com/en-us/azure/data-factory/concepts-data-flow-move-nodes#

[2019-10-21 20:12] Don-Fuego opened #41167 "Disabling Device will revoke PRT"
https://docs.microsoft.com/en-us/azure/active-directory/devices/device-management-azure-portal#enable--disable-an-azure-ad-device

In Remarks, should also state that disabling the device will revoke both PRT and RT on the device.

It does state authentication but clarifying both RT and PRT are revoked would be clearer.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2019-10-21 20:13] AjayKumar-MSFT commented on #41042
@DeepGit01, Ack! Thanks for bringing this to our attention. I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-10-21 20:22] geordietech opened #41168 "Upload requirements"
Hi,

Am I correct in assuming that the listed bandwidth requirements refer to download?  What are the upload requirements?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d22ca4d-2c4b-2ed3-8f48-d869552ca85a
* Version Independent ID: 77b77ab9-9ca2-a1fa-799d-63352034810d
* Content: [Bandwidth recommendations for remote s

[2019-10-21 20:25] FrankHu-MSFT commented on #41132
@DeanGross Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-21 20:25] FrankHu-MSFT commented on #41165
@IntrepidBlazon Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-21 20:25] FrankHu-MSFT commented on #41167
@Don-Fuego Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-21 20:25] tchristiani commented on #40790
With the logging of this issue to the IR SDK repo, we can now #please-close

[2019-10-21 20:25] #40790 closed

[2019-10-21 20:29] SamaraSoucy-MSFT commented on #41159
@spottedmahn Thank you for your feedback. I'll take a look and get back to you shortly.

[2019-10-21 20:30] corporateg opened #41170 "Misspelled word"
Under "Why can’t I see an added database for an autoprotected instance?" the bold words in the text are spelled "Recover DBs" but the image highlights a button with the words "Rediscover DBs".  I believe this bold text should also read "Rediscover DBs".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a079cf10-0e77-8a07-

[2019-10-21 20:31] dlepow commented on #41131
@Scepheo - You're correct, and thanks for pointing out the issue! I'll submit a PR shortly to update the article.
@MicahMcKittrick-MSFT - I assigned this to myself. Thanks.
#reassign:@dlepow

[2019-10-21 20:42] normesta commented on #41003
Thank you @HiQIQi. Can you please point me to the specific example that caused this issue? What platform are you using (Linux? Mac?) Our general experience has been that single quotes in command strings are more reliable. That said, if there are cases where this does not behave well, we'd like to identify the conditions under which these have not been working well. Thank you!

[2019-10-21 20:42] mkiernan opened #41172 ""The Bastion clipboard access tool palette." - where is that ?"
This reference is not clear - where excactly does one find this "The Bastion clipboard access tool palette."  Also, the other advice on advanced clipboard API is unclear. Seems like I'm supposed to know this, but can't find anything obvious.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e035d394-de3e-5c25-b539-08a7fa8

[2019-10-21 20:45] jaffadog commented on #41056
Hi @FrankHu-MSFT I've been able to successfully add some optional claims such as **email**, **pltf**, and **auth_time** as shown below. I see those showing up in the resulting JWT token properly. But I have not found how to get **extensionattribute1-15** to show up in the token. So the basic mechanism is working - it's just these specific attributes that i need to figure out how to add them.

`	"o

[2019-10-21 20:49] MicahMcKittrick-MSFT commented on #41055
@smoms good point! I will assign to the content authors to review and see if they want to add those steps or specify this is for a cluster on Azure instead.

@vturecek @peterpogorski can you take a look?

[2019-10-21 20:50] TravisCragg-MSFT commented on #40846
@truealex81 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-21 20:50] #40846 closed

[2019-10-21 20:53] MicahMcKittrick-MSFT commented on #41143
@SamirFarhat not sure I fully understand. We have two docs, one for Linux and One for Windows
![image](https://user-images.githubusercontent.com/32313503/67242256-fe4f3e80-f409-11e9-9135-094eb9337ff5.png)

So you want a note on the Linux Page stating this is only for Linux? And vise versa for the windows page? Doesn't the fact that the title and the drop down explicitly call out the OS?

[2019-10-21 20:58] jyotsnaravikumar opened #41175 "How does a azure b2c guest user login?"
# Azure documentation issue guidance
Hello I am using the document "Gaining Expertise with Azure B2C" document for creating a B2C guest user.

1. If you don’t have an Azure account with a subscription, create it here.
2. Create an Azure co-admin user with the following details
• Name: B2C Admin •
•
3. Create an Azure test user with the following details
• Name: Test User
• Username: testuser@{your

[2019-10-21 20:58] MicahMcKittrick-MSFT commented on #41155
This info should be covered in the AAD documentation
https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-register-app
https://docs.microsoft.com/en-us/azure/active-directory/develop/app-registrations-training-guide
https://docs.microsoft.com/en-us/azure/active-directory/develop/app-objects-and-service-principals

There might be a few other docs you could look at but anything

[2019-10-21 21:01] Adam-Smith-MSFT commented on #41148
@phil-lgr Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-21 21:01] MicahMcKittrick-MSFT commented on #41015
@andrewtyped got it! Thanks for the extra information. I will assign to the content authors to review and see if we can add more information.

[2019-10-21 21:04] bwren commented on #40799
@femsulu I would start with @DCtheGeek who owns Azure Policy.

[2019-10-21 21:04] MicahMcKittrick-MSFT commented on #41168
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-21 21:11] DCtheGeek commented on #40799
@bwren @femsulu I'll track this down, thanks for letting me know.

[2019-10-21 21:13] charles-chen-wtw commented on #41016
Hi, mine stuck at this stage.

`Validation successful on /tmp/tmpcelkhu1p/spring_cloud-0.1.0-py2.py3-none-any.whl
Linux distro check: Reading from: /etc/apt/sources.list.d/azure-cli.list
Linux distro check: Found in list file: xenial
Linux distro check: Reported by API: xenial
Executing pip with args: ['install', '--target', '/home/charl228/.azure/cliextensions/spring-cloud', '/tmp/tmpcelkhu1p/spr

[2019-10-21 21:14] DCtheGeek commented on #40799
#reassign:DCtheGeek

[2019-10-21 21:18] MarileeTurscak-MSFT commented on #40687
@adeinde if phone is available as either MFA method or SSPR method, users will be asked for it. Also if the user is an admin when they sign-up for SSPR, we always prompt for a phone number.

[2019-10-21 21:18] DCtheGeek commented on #40799
@MicrosoftDocs/azure-cxp-triage Please remove 'Azure-Monitor/svc' label and add label 'azure-policy/svc'.  #in-progress

[2019-10-21 21:18] MarileeTurscak-MSFT commented on #40687
We will now proceed to close this thread. If you have further questions feel free to tag me in the comments or open a new issue and we will gladly continue the discussion.

[2019-10-21 21:18] #40687 closed

[2019-10-21 21:19] karthiksubramanians commented on #34717
Closing issue as it does not seem like there is a direct way to get the request charge from Data Factory.

[2019-10-21 21:19] #34717 closed

[2019-10-21 21:23] femsulu commented on #41138
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-10-21 21:23] femsulu commented on #41170
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-10-21 21:23] MicahMcKittrick-MSFT commented on #40074
@rajurh so the short answer is you can't parameterize with YAML. So the suggestion would be to parameterize the ARM file instead.

Using Azure Pipelines there is a task that supports ARM deployments.