[2019-11-13 03:08] rphoon commented on #42007
Can we use BOTH agent-based and agentless migration together?

[2019-11-13 03:30] danangwijaya750 commented on #30614
Hello @AshokPeddakotla-MSFT i got same problem here, I using 0+ version in my gradle file, and use the actual device too, but the maps still showing white and i try to render some marker then marker is rendered.
here is my logcat out put :
2019-11-13 10:16:29.412 19054-19139/id.infiniteuny.jneintra W/iteuny.jneintr: Accessing hidden method Lcom/android/org/conscrypt/OpenSSLSocketImpl;->getAlpnSele

[2019-11-13 03:35] SnehaAgrawal-MSFT commented on #42678
@BernardoMB Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-13 03:44] swagulkarni opened #42686 "Append value from request header in <set-url>"
Hi,
We have the following requirement:-

1. Retrieve client session id from request header
2. Append the request header to a URL call made using <set-url>

 I am calling set-url as part of send-request APIM policy. Need help to figure out how to append the header value to the url.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2019-11-13 03:51] swagulkarni commented on #42686
To update, I am calling <set-url> as part of <send-request> APIM policy.

[2019-11-13 03:51] mike7ang1rdz opened #42687 "Documentation for version 12 is very poor"
More examples needed and detailed use of classes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60e56e69-1c44-2056-ad5f-319535e4b525
* Version Independent ID: 49fa6098-0b8e-ebf5-efe7-f50f3604e325
* Content: [Quickstart: Azure Blob storage library v12 - .NET](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-

[2019-11-13 03:53] gouravsood commented on #10053
@jeevansd thanks for confirming that the Permission Set can be assigned using AzureAD. Can you please confirm where I can find the documentation for the setting up Roles and Permission Set mapping for the given Group/User when Auto Provisioning is enabled?

[2019-11-13 03:57] souravmishra-msft commented on #42670
@JoelCBennett, Thank you for pointing this out. We are currently reviewing the doc and will update that accordingly.

[2019-11-13 04:03] dcbrown16 opened #42688 "Clarity on CNAME"
Under "Can a managed instance have the same name as on-premises SQL Server?" we are given what appears to be two options. Are they two separate alternatives? And what tool is the second one talking about (TrustedServerCertificate)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa11b569-0d56-63b7-aac5-4b2dd9a859e2
* Ve

[2019-11-13 04:10] samcarton opened #42689 "Async Function Output usage confusion"
Under the `Output - usage` section this part has caused me some confusion:

I eventually ended up with an async C# function that takes in a `[ServiceBus(...)]ICollector<MyMessageType>` parameter output binding. My function does not include any return attributes, and just has a plain `Task` return type. This seems to correctly populate messages on the service bus queue.

An example like this would

[2019-11-13 04:14] AndyLiTaiwan opened #42690 "Offline install requirement"
May I know where I can download this two file?
1. Microsoft Azure IoT Edge cab, which contains the IoT Edge security daemon (iotedged), Moby container engine, and Moby CLI.
2. Visual C++ redistributable package (VC runtime) msi

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f41e023-819c-64a1-8bef-d050481a7ef7
* Versio

[2019-11-13 04:33] souravmishra-msft commented on #42670
@cmmdesai, It would be great if you can take a look at this and update the document with the new details

[2019-11-13 04:33] dcbrown16 commented on #42688
I see that TrustServerCertificate is an element of the connection string that can be specified in different ways depending on the tool, such as under Options in SSMS. Leaving open to see if we can provide some more clarity in the doc for future users.
The actual scenario we are working on is connecting to SQL MI with a CNAME that isn't assigned to an on-premises SQL Server, so the phrasing of the

[2019-11-13 04:44] ecfan commented on #42643
@cEricL, thanks for submitting this doc feedback. You are correct about this topic needing updates and starting with a different trigger as the connector provides only actions. We've created a work item on our doc backlog to prioritize and address in an upcoming sprint.

[2019-11-13 04:46] mrbullwinkle commented on #42239
@spresnal the fiddler response doesn't appear to be from TrackException() failing it is from a failed TrackRequest() call. To send telemetry via TrackException the required specs are [here](https://github.com/microsoft/ApplicationInsights-Home/blob/master/EndpointSpecs/Schemas/Bond/ExceptionData.bond). There is no requirement of responseCode to send Exception telemetry.

The specs for TrackRequest

[2019-11-13 04:48] RohitMungi-MSFT commented on #42403
@temitopefunmi Please let us know if you need any help with raising an issue in support portal before we close this issue. Thanks!!

[2019-11-13 04:54] souravmishra-msft commented on #42029
@arkiaconsulting, We are closing this thread for now. In case you need any further assistance on this, please feel free to re-open this thread.

[2019-11-13 04:54] #42029 closed

[2019-11-13 04:58] shashishailaj commented on #42681
@Jason1666 Thank you for your feedback . We will investigate and update this further.

[2019-11-13 04:59] shashishailaj commented on #42684
@jgudsell Thank you for your query. We will investigate and update this thread further.

[2019-11-13 05:01] mrbullwinkle commented on #42418
This update is merged internally it will go-live between 10-11 AM UTC-8 on 11/13

[2019-11-13 05:01] mrbullwinkle commented on #42418
#please-close

[2019-11-13 05:01] #42418 closed

[2019-11-13 05:06] femsulu commented on #42425
Hi Carol, is this something you can help with?

[2019-11-13 05:07] femsulu commented on #42340
@yashesvi  - any input please?

[2019-11-13 05:08] SumanthMarigowda-MSFT commented on #42687
@mike7ang1rdz  May I kno what exactly are you trying to accomplish?

[2019-11-13 05:10] femsulu commented on #42326
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-11-13 05:10] #42326 closed

[2019-11-13 05:12] PramodValavala-MSFT commented on #42689
@samcarton Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2019-11-13 05:14] jakaruna-MSFT commented on #42409
@t1agob
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-11-13 05:14] #42409 closed

[2019-11-13 05:26] VikasPullagura-MSFT commented on #42682
@Thanks for the Feedback. I am assigning the issue to content author for adding comment and enhancing the document as applicable.

[2019-11-13 05:29] agowdamsft commented on #42514
this sounds okay, its typical in an enterprise or as a developer when testing apps to use publishing profile because getting service principals requires additional approvals.

[2019-11-13 05:31] CHEEKATLAPRADEEP-MSFT commented on #42656
@RoopAnymous Yes, you can pass the mounted data lake path as a parameter.

Make sure you have provided the correct path while passing as a parameter.

Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDatabricks)or [stack overflow](https://stackoverflow.com/questions/t

[2019-11-13 05:35] msrini-MSFT commented on #42683
@hisasima , It is already mentioned in the doc as follows:

Outbound internet connectivity can't be blocked. Default outbound rules in the NSG allow internet connectivity. We recommend that you:

Don't remove the default outbound rules.
Don't create other outbound rules that deny outbound internet connectivity.

[2019-11-13 05:36] neeleshray-msft commented on #42392
@2adnan We would need further information on this for the issue. We would request you to open a thread in the [**MSDN Azure Forums**](https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD) or in the **[Microsoft Q&A Forum](https://docs.microsoft.com/answers/topics/azure-active-directory.html)** You can also raise a [**Technical Support Ticket**](https://azure.microsoft.com/en-in

[2019-11-13 05:36] #42392 closed

[2019-11-13 05:41] dcbrown16 opened #42692 "Azure Monitor and Web Apps for Containers"
Does the preview of sending logs to Monitor apply to Web Apps for Containers (following the Linux support column)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfc316af-0d30-b449-a04f-3019b7a16bc1
* Version Independent ID: 01c4c435-fda9-374a-70b3-f1d7f13c7651
* Content: [Enable diagnostics logging for apps - Azure Ap

[2019-11-13 05:42] msrini-MSFT commented on #42671
@ChristopherGLewis , Thank you for your feedback. I have assigned this issue to author to validate.

[2019-11-13 05:45] msrini-MSFT commented on #42636
1. Before running Set-AzVirtualNetworkGateway -VirtualNetworkGateway $gw -AadTenantUri 'https://login.microsoftonline.com/3f52b087-c505-43e7-ac0e-f4c5e2f7a3c4' -AadAudienceId '41b23e61-6c1e-4545-b367-cd054e0ed4b4' -AadIssuerUri 'https://sts.windows.net/3f52b087-c505-43e7-ac0e-f4c5e2f7a3c4/'  You need some configuration in the P2S setting( $gw.VpnClientConfiguration can not be NULL). Otherwise, you

[2019-11-13 05:45] arkiaconsulting commented on #42029
@mattsmall1972 Hi, thanks for your reply.

1. Ok, I do agree
2. Actually the `sas-type` parameter is not the only one that change. The `template-uri` changes as well. Its format is different and depends on the SAS token type `service` or `account`.

To be honest, I opened this issue because I'm unable to have a Key Vault SAS definition work when creating it from a container SAS token, and I was wo

[2019-11-13 05:46] #42656 closed

[2019-11-13 05:48] DixitArora-MSFT commented on #42380
@yodies Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-13 05:48] #42380 closed

[2019-11-13 05:52] AjayKumar-MSFT commented on #42572
@wpbrown, Thanks for bringing this to our attention. Your feedback has been shared with the content owner (@HeidiSteen) for further review.

[2019-11-13 05:57] KetanChawda-MSFT commented on #42686
@swagulkarni Thank you for reaching out to us. We will review and provide an update as appropriate.

[2019-11-13 06:04] amanmcse commented on #42529
@dipesh-wadhwa please find my response inline:

1. Could you please check if "given name" and "family name" are configured for the Guest user?
No. Above attributes are not configured for guest users.
This is the reason why you don't see "given name" and "family name" in the token for Guest users.

2. What is correct way to get "email address" for all users - Members, Guest and External Users?
As I

[2019-11-13 06:12] paulwrussell commented on #42379
Any updates on this @mike-urnun-msft?

[2019-11-13 06:12] xiafu-msft commented on #39409
Hi @KranthiPakala-MSFT
Any update about the broken link?

[2019-11-13 06:18] SumanthMarigowda-MSFT commented on #42374
@TheITguy666

You need declare the context.

Get-AzLocation | select Location
$location = "westindia"
$resourceGroup = "sumarigo"
New-AzResourceGroup -Name $resourceGroup -Location $location
$storageAccount = New-AzStorageAccount -ResourceGroupName $resourceGroup -Name "mystorageaccountwesubm" -SkuName Standard_LRS -Location $location

$ctx = $storageAccount.Context
$containerName = "quickstartblo

[2019-11-13 06:22] SumanthMarigowda-MSFT commented on #42667
@dmarlow Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-13 06:24] DixitArora-MSFT commented on #42528
@craigshoemaker Just following up again in case missed the previous communication.

[2019-11-13 06:24] SumanthMarigowda-MSFT commented on #42668
@upsilondynamics Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2019-11-13 06:25] DixitArora-MSFT commented on #42552
@orionJag Just following up here... Hope my previous comment helps.

[2019-11-13 06:25] DixitArora-MSFT commented on #42555
@svangeti Just following up here... Hope my previous comment helps.

[2019-11-13 06:26] xiafu-msft commented on #39409
Hi @Alan-d
I guess this is the repo you want to look at, the README.md is pretty helpful https://github.com/Azure/azure-data-lake-store-python
Also I guess here might be the doc you are interested in https://docs.microsoft.com/en-us/python/api/azure-datalake-store/azure.datalake.store?view=azure-python

[2019-11-13 06:29] ShiChen872 commented on #42594
Thank you!

[2019-11-13 06:34] SumanthMarigowda-MSFT commented on #42511
@pbous123 Thanks for the feedback! I have assigned the issue to the content author to investigate for further review.

[2019-11-13 06:37] SumanthMarigowda-MSFT commented on #42536
@delkos  Glad to hear that issue got fixed. Appreciate for sharing the steps which helped you, this would certainly benefit other community members
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-13 06:37] #42536 closed

[2019-11-13 06:45] SumanthMarigowda-MSFT commented on #42609
@andyturn31 May I know what exactly are you trying to accomplish? Can you elaborate more on your query?

[2019-11-13 06:47] nitbhatt opened #42693 "Commands formatting"
If I simply copy any of the above cmds then paste it on local machine, it doesn't works, as it breaks the formatting and all the parameters are thrown on the next line, and PS/CMD tries to execute them individually.

However, If I paste the same on Azure Cloud shell/Bash, then it works.

To run the cmd on local machine, I had to remove all the "\" For example

az network firewall network-rule crea

[2019-11-13 06:47] 1stcommander opened #42694 "List of data formats outdated?"
Seems as the list in "Supported data formats" isn´t complete. E.g. parquet not mentioned here, but IS mentioned on on-depth pages like https://docs.microsoft.com/en-us/azure/kusto/management/mappings and https://docs.microsoft.com/en-us/azure/kusto/management/data-ingestion/

?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-11-13 06:50] wukun2015 commented on #42550
All the support i received was here and not aware of the supporting mode you mentioned.

Where to raise ticket and what is the support plan ?

[2019-11-13 06:52] AshokPeddakotla-MSFT commented on #42690
@AndyLiTaiwan Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-13 06:52] amanmcse commented on #42134
@abj-immeo Thanks for sharing the details. I am able to reproduce the issue at my end as well. In the token, it is being passed as "unique_name": "`mail#my_user_acct@yahoo.com`". However, in the directory, I do not see any user attribute with this value. I am working internally with our product team and will provide you with an update on this.

[2019-11-13 07:00] gsacavdm commented on #42511
Thanks @pbous123 , I submitted the fix. Update should be in place tomorrow.

[2019-11-13 07:04] esbenbach opened #42695 "Insights"
For Tier 2 and Tier 3 the two sentences are used:
- Azure Application Insights instance that targets the server farm
- Application Insights instance that targets the server farm

Presumably they refer to different things? Is it such that the first one refers to the Azure Insights Resource (I.e. Microsoft.Insights/components) and the second one refers to the site extension (i.e Microsoft.Applicatio

[2019-11-13 07:15] msrini-MSFT commented on #42589
@rockboyfor , Thank you for your feedback. Your feedback has been shared to author and we will validate and take appropriate actions.

[2019-11-13 07:15] #42589 closed

[2019-11-13 07:16] msrini-MSFT commented on #42613
@msandbu , Do you have any further questions ?

[2019-11-13 07:25] mhabibal13 opened #42696 "The impact of the number of bindings on the performance"
I had an azure Function V2 with a CosmosDB binding (IAsyncCollector). I have increased the number of binding from on to three (three IAsynCollector parameters). It is hard for me to find out the reason for the performance drop (Much more CPU Usage). Would that be caused by the increase of the number of bindings?  The other three bindings are not "hot path" (100 calls out of 40 000) so the code usi

[2019-11-13 07:28] msrini-MSFT commented on #42693
@nitbhatt , this commands are correct and it is written in such a way for user readability.

https://github.com/microsoft/azure-pipelines-tasks/issues/10946

You need to execute those commands in Bash to get it working. I have referenced the similar issue.

[2019-11-13 07:29] SnehaAgrawal-MSFT commented on #42692
@dcbrown16 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-13 07:37] Jens-Lorenz commented on #42618
Thanks. I added a user voice feedback. :)

[2019-11-13 07:37] #42618 closed

[2019-11-13 07:38] amanmcse commented on #42561
@azav Signing out with MSAL removes all known information about a user from the application, but the user will still have an active session on their device. If the user attempts to sign in again they may not need to reenter their credentials because the device session is still active. So in this case, sessions aren't removed but the cache is cleared.

[2019-11-13 07:40] KranthiPakala-MSFT commented on #42167
@angellmethod FYI.. I am still waiting for a response from internal team about your query. Will keep posted once I hear back from them.

[2019-11-13 07:56] Kazzan commented on #41983
Hi @MarileeTurscak-MSFT, yes, only one emergency administrator. And this account is not used. Maybe mention in docs will be fine that PIM roles are supported only when elevated.

[2019-11-13 07:59] msrini-MSFT commented on #42693
@vhorne , Can you get this documentation updated with the CLI commands without "/" as it will not work for users who tries this command via Command Prompt ?

[2019-11-13 08:03] pawboelnielsen commented on #40649
@kirankumarkolli the sample fails if you are on a network which only allows outgoing traffic on port 80 and 443. Not sure if the OS plays a role but I was on Windows.

[2019-11-13 08:13] ManojReddy-MSFT commented on #41409
@FunkEinstein I got an update that the work is still in progress. We will update the thread as soon as the work is finished regarding this.

[2019-11-13 08:15] ramadarla commented on #42501
This clarifies per share details for standard,
What about large file in a standard file share, the same 300mbps will apply?
Cause, am looking this info to choose to copy  a Hana DB full backup file in standard file share for some business reasons.

Sent from Android device

On Nov 11, 2019 4:55 AM, SumanthMarigowda-MSFT <notifications@github.com> wrote:

@ramadarla<https://github.com/ramadarla> Th

[2019-11-13 08:16] PanosPeriorellis commented on #42415
v2.0 does not support webhooks.
v2.1 is not released and there will be breaking changes until we release the new API version.
However, if you want to look into the documentation for v2.1 (and others) please try here develop.cris.ai/swagger

[2019-11-13 08:18] kogesaka opened #42697 "Gen 2 VM on Azure already supports ASR"
Hi Expert,

In the documentation, Gen2 VM on Azure support for ASR is not supported, but it seems that it is already supported as long as you review the following Knowledge Base.

- Update Rollup 42 for Azure Site Recovery
  https://support.microsoft.com/en-us/help/4531426

In addition, I actually set ASR for Gen 2 VM on Azure, but confirmed that replication and test failover were successfully per

[2019-11-13 08:19] VikasPullagura-MSFT commented on #42682
@dkkapur Can you please look into this feedback and add your comments.

[2019-11-13 08:40] shashikant29 opened #42699 "Metrics for bytes sent out from perticular network interface"
Question 1:
Background: We have 2 network interface cards on each instance in Virtual Machine Scale Set(vmss).
We want to find billable bytes sent out from the the particular network interface card on instances inside VMSS. But couldn't find any REST API can you let us know if there is any API
for your reference we found such API for the VM.

Question2:
Background: we have 2 network interfaces on

[2019-11-13 08:48] amanmcse commented on #42562
**@azav** MSAL caches your app's tokens in the iOS or macOS keychain. If two applications on the same device have the same keychain path, they can share cached tokens and user will only need to log in once in one of the apps. This provides SSO experience to the user. Keychain can only be shared between the apps that are signed with your account certificate. This prevents apps from other developers

[2019-11-13 08:48] #42562 closed

[2019-11-13 08:52] tkumark opened #42700 "Is there a way to update certificate using only powershell and not use ARM template"
Is there an option we can used to use only powershell only and not use ARM template?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30fab368-8a51-14d6-1775-defa5f0ff04f
* Version Independent ID: a8fbbe3d-063a-d6c9-b61d-1ebcfcaa1422
* Content: [Manage certificates in an Azure Service Fabric cluster](https://docs.microso

[2019-11-13 08:57] lukeli209 opened #42701 "Will UDR work for VNet to VNet VPN?"
I have tow spoke Vnet and one hub Vnet. Two spoke Vnet connect to hub Vnet via VNet to Vnet VPN. Now what I want to do is to inspect the traffic between two spoke Vnets, so I apply UDR in both subnets to detour traffic to the NVA in hub Vnet. Unluckily after I apply UDR, the traffic can't be seen on the NVA. Can this scenario work?

---
#### Document Details

⚠ *Do not edit this section. It is req

[2019-11-13 09:07] msrini-MSFT commented on #42701
@lukeli209 , If you want to monitor traffic between 2 Spoke VNETs via NVA in the Hub, first you need to understand the packet flow.
Are you using mesh connectivity? I mean VNET 1  <--> VNET 2 and VNET1 <--> HUB and VNET2 <--> HUB configuration ?

Also I would like to know whether your NVA is performing SNAT for the incoming traffic or not.

You need to enable allow forwarded traffic in the NICs of

[2019-11-13 09:15] Anaig opened #42702 "Missing configuration parameter"
https://docs.microsoft.com/en-us/azure/search/search-howto-indexing-azure-blob-storage#defining-document-keys-and-field-mappings
The last example snippet of code doesn't include the ""parameters" : { "configuration" : { "dataToExtract" : "storageMetadata" } }" line which enables the metadata extraction, even though field mapping is used for metadata in the example. People may thus forget this para

[2019-11-13 09:19] lukeli209 commented on #42701
Hi, my topo is Vnet1<---->Hub Vnet<---->Vnet2
When I try to ping the VM in Vnet2 from the VM in Vnet1 through VNA. I did not see any pocket receive in NVA. For test purpose I was using /32 address prefix in UDR.

[2019-11-13 09:20] FrankHu-MSFT commented on #39360
@CHDAFNI-MSFT the docs will be updated accordingly per the plans already in place, so this issue doesn't need to be reopened.

[2019-11-13 09:22] FrankHu-MSFT commented on #42220
@ashkansirous the github issues here are meant for azure docs, not for product bugs. The official place to track this is the azure ad byoa sample github repo issues location.

[2019-11-13 09:26] msrini-MSFT commented on #42701
@lukeli209 , If you have VNET to VNET VPN, then you also need to add a UDR on the gateway subnet with the same /32 address prefix to point to NVA. Or else, packet will not reach NVA. Also, how your VM1 will forward the traffic destined for VNET2 via Gateway in VNET 1. You need to use Site to Site instead of VNET to VNET and add the address space of VNEt 2 in the local network gateway to achieve yo

[2019-11-13 09:34] TheITguy666 commented on #42374
yes I know @SumanthMarigowda-MSFT
I just wanted to inform that this document https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-immutable-storage?tabs=azure-portal#feedback is incorrectly showing examples using incorrect parameters instead of the context.

[2019-11-13 09:41] khobragadenitin opened #42703 "how to show graph in android application"
I am getting response that is setting in text view now and that response is displaying but I need to display report.
Please help me how to proceed
` private void updateGraphUI(JSONObject graphResponse) {
        TextView graphText = findViewById(R.id.graphData);
        graphText.setText(graphResponse.toString());
    }`

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2019-11-13 09:46] dvherk opened #42704 "AKS support for AZs"
Please add AKS to the list of AZ supporting services -&gt;
https://docs.microsoft.com/en-us/azure/aks/availability-zones

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cca70845-100f-2cfd-aba3-34b7fa4a5264
* Version Independent ID: 475b26e5-9e23-f769-3bd5-cbc4a678dbf0
* Content: [What are Azure Availability Zones?](http

[2019-11-13 09:58] TheITguy666 opened #42705 "incorrect/outdated picture?"
in the section
"To set the Azure AD administrator:
1.  In Azure portal, on the SQL server page, select Active Directory admin. Next select Set admin."

You are showing the picture of the SQL databases &gt; yourDatabase blade
But when going to my Azure account the blade 'SQL Databases'&gt;[mydatabase], I don't see any of the settings options, like 'manage backups' or 'active directory admin'.
I onl

[2019-11-13 09:59] barratt commented on #42379
Also getting this since yesterday

Node: v8.11.1
NPM: 5.6.0
OS: Mac Mojave 10.14.6

[2019-11-13 10:02] SadiqhAhmed-MSFT commented on #42547
@rayne-wiselman Please review this request and share your insights. Doc-Enhancement if needed.

[2019-11-13 10:05] dcurwin commented on #42547
It's not Rayne. @pvrk - can you take a look?

[2019-11-13 10:05] dcurwin commented on #42547
#reassign:pvrk

[2019-11-13 10:07] graham83 commented on #33601
Yes - I just found this out the hard way.  I selected V2 due to the Azure documentation stating that V1 was being phased out not realising it is more than 10X the cost. Not sure if that changes, but I am now trying to get V1 APPGW to work for my solution. There is clearly a difference between V2 and V1 because having a lot of issues with the exact same configuration.

[2019-11-13 10:08] feroz-ahmmed opened #42706 "Health probe endpoint for Direct Management"
I followed this tutorial and set it up a few months ago. Now APIM has a new developer portal. So I set up a custom domain for Developer Portal and Direct Management. Now I need an endpoint for direct management to add a health probe settings on application gateway.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37c1f25

[2019-11-13 10:14] aasif2310 commented on #34607
azcopy \
    --source /home/aasif/testFiles \
    --destination  https://az300filestorage1.blob.core.windows.net/customerupload001 \
    --dest-key 6kEgNhV5zlZ+VbPoa0Ze4hdUp8dAFOL8aN6wtRthYvlfk6W3L7mjo2y7FrUnlYoed/6P97Ze+ejmudXKZdu8sw== \
    --include "helloWorld.txt"

Tried above command from the Cloud shell but its not working. Following error is generated.

Use "azcopy [command] --help" for mo

[2019-11-13 10:19] KalyanChanumolu-MSFT commented on #42705
@TheITguy666 Thank you for reaching out and letting us know.
Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-11-13 10:22] marcowork opened #42707 "Please add the example as a json dashboard"
As many resources are available it might be a good idea to add example.json files like this
https://github.com/asheniam/azure-grafana-dashboard-templates

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05ed9bd2-21ae-6355-615a-1bcd3a4db313
* Version Independent ID: 8c764ad2-714a-9e88-a1d2-c8290455bcb6
* Content: [Monitor

[2019-11-13 10:24] KalyanChanumolu-MSFT commented on #42679
@JocaPC Thank you for the feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-11-13 10:25] KalyanChanumolu-MSFT commented on #42694
@1stcommander Thank you for the feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-11-13 10:27] KalyanChanumolu-MSFT commented on #42688
@dcbrown16 Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-11-13 10:32] wisesimpson opened #42708 "Is "on of the index kind" a typo?"
"As long as one filter predicate uses on of the index kind"
Should the "on" be "one"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a32753f5-3b8a-c8cc-7a2f-58773b727e0d
* Version Independent ID: 1eef2e5d-9f62-824f-ebc6-8aee6544a8cc
* Content: [Indexing in Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-

[2019-11-13 10:34] andrePKI opened #42709 "Scenario: Name Resolution across virtual networks text"
Text states "A Reverse DNS (PTR) query from VNETB-VM2 in the Resolution virtual network B, for 10.1.0.1, will receive a DNS response containing the FQDN VNETB-VM1.contoso.com. The reason is that Reverse DNS queries are scoped to the same virtual network."
The reason is that 10.1.0.1 is the IP address of VNETB-VM1.contoso.com and the PTR query succeeds because it is made from the same vnet as the a

[2019-11-13 10:38] pvrk commented on #42547
@ctimon: Azure VM backup understands single VM entities. We don't support [backups of clustered VMs](https://docs.microsoft.com/azure/backup/backup-support-matrix-iaas#vm-storage-support) since it involves multiple entities. That's why I mentioned Windows Storage spaces, not Storage spaces Direct since S2D involves pooling across servers. I think that's why the script didn't work.

[2019-11-13 10:42] paulio commented on #35193
Under Punctuation it continues to talk about Diacritics.

[2019-11-13 10:44] paulio commented on #35193
Sorry, it's the document has not been updated in the docs site, I've raised a separate issue

[2019-11-13 10:46] SadiqhAhmed-MSFT commented on #42707
@marcowork Thank you for the feedback. This issue is being assigned to the content author to evaluate and update as appropriate.

@rboucher FYI

[2019-11-13 10:50] shashikant29 opened #42710 "Alternative metric for Namespace: Microsoft.Compute/virtualMachines Metric Network Out(Derecated)"
metric Metric "Network Out" for Namespace: Microsoft.Compute/virtualMachines is deprecated what is alternative metric?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0a586c4-71fd-e60b-9c4c-1a3eb2443c74
* Version Independent ID: 2f3706cc-073b-a310-8da4-2a5a90da6473
* Content: [Azure Monitor supported metrics by resourc

[2019-11-13 10:51] andyturn31 commented on #42609
Just pointing out that this article states "If you don't know which version to choose, use the latest version."
But using the 'latest version' shows different encryption information to what is shown in this article. :-)

[2019-11-13 10:54] kirankumarkolli commented on #40649
@pawboelnielsen thanks for the update.
V3 SDK support two connection modes and port requirements for them are as below.
Also V3 uses Direct as default. Can you please try Gateway mode?

Connection mode | Supported protocol | Supported SDKs | API/Service port
-- | -- | -- | --
Gateway | HTTPS | All SDKS | SQL(443), Mongo(10250, 10255, 10256), Table(443), Cassandra(10350), Graph(443)
Direct | TCP |

[2019-11-13 10:59] andrePKI opened #42711 "Picture for Scenario: Split-Horizon functionality"
As a DNS zone and a Private DNS zone are quite different things in Azure, wouldn't it be more clear if in the picture this is not only shown by the two record sets, but also with 2 'globes' instead of just one?
I mean these are two different resources managed with different sets of powershell and az CLI commands and managed on different blades in the portal.  In the portal also different icons are

[2019-11-13 11:07] SadiqhAhmed-MSFT commented on #42003
@santhoshbomma9 Reviewed this question with the dev team. There is no API that can return list of dimensions for a plan. At least not in the scope of https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/marketplace-metering-service-apis.

Closing this issue for now. In case you need any further assistance on this, please feel free to re-open this thread.

[2019-11-13 11:07] #42003 closed

[2019-11-13 11:15] KalyanChanumolu-MSFT commented on #42708
@wisesimpson Thank you for pointing out the issue, I have created a PR to update the document.
The changes should be live EOD or tomorrow.
We will close this issue now.

In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. We love taking contributions from the community.

[2019-11-13 11:15] #42708 closed

[2019-11-13 11:17] jakaruna-MSFT commented on #42697
@kogesaka
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-11-13 11:17] jakaruna-MSFT commented on #42697
@laurenhughes please take care of this issue

[2019-11-13 11:18] jakaruna-MSFT commented on #42700
@tkumark
Thanks for the question! We are investigating and will update you shortly.

[2019-11-13 11:18] SnehaAgrawal-MSFT commented on #31973
@thomaslevesque Thanks for Clarification. My Apology for late response and inconvenience with this issue. Your feedback has been shared with the content owner for further review.

[2019-11-13 11:24] jakaruna-MSFT commented on #42700
@tkumark You can use this cmdlet [Add-AzServiceFabricClusterCertificate](https://docs.microsoft.com/en-us/powershell/module/az.servicefabric/add-azservicefabricclustercertificate?view=azps-3.0.0) to add a secondary certificate to the cluster.

Its mentioned in the doc as well.

I hope you are looking for this cmdlet only.  Let me know your thoughts

[2019-11-13 11:25] shashikant29 opened #42712 "metric ByteCount(PublicIP Address) is documented but not available"
Namespace: Microsoft.Network/publicIPAddresses
Metric: ByteCount
metric is documented but it do not comes in output

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0a586c4-71fd-e60b-9c4c-1a3eb2443c74
* Version Independent ID: 2f3706cc-073b-a310-8da4-2a5a90da6473
* Content: [Azure Monitor supported metrics by resource t

[2019-11-13 11:30] msrini-MSFT commented on #42709
@andrePKI , Can you please clarify your ask?

The statement "The reason is that Reverse DNS queries are scoped to the same virtual network" is correct and if you state what is confusing for you, I can check and enhance the doc.

[2019-11-13 11:32] msrini-MSFT commented on #42711
@andrePKI , Thank you for your feedback. I have assigned this issue to the author to validate and make necessary changes.

[2019-11-13 11:32] AshokPeddakotla-MSFT commented on #42525
@lucarv I followed the documentation and able to save the views. Please refer below for more details.
![image](https://user-images.githubusercontent.com/44426435/68759903-9cfc4300-0636-11ea-8579-af0f1c660c88.png)

![image](https://user-images.githubusercontent.com/44426435/68759868-8bb33680-0636-11ea-81e1-da28da6d9195.png)

Please re-try the steps and update.

[2019-11-13 11:36] AjayKumar-MSFT commented on #42695
@esbenbach, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-11-13 11:37] asergaz commented on #40855
Thanks for confirming this @vipeller .

@keshava-hm I will close the issue here as we can now confirm that the document and code implementation is correct. I and @AshokPeddakotla-MSFT reviewed the doc and are aware that some enhancements need to be done still and we will do a PR with those changes soon.

For reference, the issue will be worked until resolution here: https://github.com/Azure/azure-

[2019-11-13 11:37] #40855 closed

[2019-11-13 11:41] PaulFurlet opened #42713 "Does test app need to be signed as well as main app?"
Is it required for Test application to be signed before uploading or not?

---
#### Відомості про документ

⚠ *Не змінюйте цей розділ. Він необхідний для зв’язування питань на платформах docs.microsoft.com ➟ GitHub.*

* ID: b50ce1d1-fc0b-0d5d-ff42-8da5baa3b8c2
* Version Independent ID: f53d7482-5aa1-de0b-68c0-f302161568a1
* Content: [Create a new Dynamics 365 Business Central offer in the Commerci

[2019-11-13 11:42] mikeblakeuk commented on #42427
@KranthiPakala-MSFT is there a documented example of this in V2? I can't see an easy way to upgrade our V1 logic.

[2019-11-13 11:43] andrePKI commented on #42709
I find the text not as clear as it can be, because in two cases the same reason is given. It is indeed a true statement, but imho not a good explanation of the result. Even just removing the first occurrence of the sentence would improve the text if you ask me.

[2019-11-13 11:54] FunkEinstein commented on #41409
@ManojReddy-MSFT what is the estimated time for resolution?

[2019-11-13 12:04] raduadrian45 opened #42714 "tableName required"
I believe this documentation needs to be updated since as far as I can tell for the Excel input binding option, the "tableName" is a required property. Unless specified there is an "ItemNotFound" error thrown.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81cb62b5-7d3d-82ac-cbf9-cf8ec72da034
* Version Independent ID:

[2019-11-13 12:04] #42526 closed

[2019-11-13 12:06] ManojReddy-MSFT commented on #41409
@FunkEinstein I am afraid I do not have an ETA for this. The Product is actively working on this and is planning to preview this feature as soon as possible.

[2019-11-13 12:08] FunkEinstein commented on #41409
@ManojReddy-MSFT I see. Ok, I'll wait.

[2019-11-13 12:20] jarodzhu commented on #41949
@GrzegorzHejman , thanks for your question.
For MS engineer to RDP IR node, we will go through the public ip ([Guid]-azurebatch-cloudservicepublicip) attached on the load balancer ([Guid]-azurebatch-cloudserviceloadbalancer) and you shall be able to find NAT rule (named SSHRule.x) under that load balancer which map to port 3389 on VM.

And although you see 3389 port is open on NIC level NSG but we

[2019-11-13 12:20] wmeints opened #42715 "Error in the definition for the ClusterIssuer resource"
The custom resource definition of the cluster-manager application is changed by the creators.
the YAML should look like this:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12009c1f-282d-2632-fac0-64b09c432833
* Version Independent ID: 6052d3d4-d295-9340-b16d-4c200e34cd73
* Content: [Create an HTTP ingress cont

[2019-11-13 12:21] delbus opened #42716 "ClusterIssuer not matched error"
Working through this pages instructions, but hit following error on deploying cluster-issuer.yaml

***@Azure:~$ kubectl apply -f cluster-issuer.yaml
error: unable to recognize "cluster-issuer.yaml": no matches for kind "ClusterIssuer" in version "certmanager.k8s.io/v1alpha1"

My cluster-issuer.yaml file is an exact copy of the example, with email changed to mine. Same error with and without namesp

[2019-11-13 12:25] alexespencer opened #42717 "Python 3.7 and TensorFlow 2?"
Hello, when can we expect a python 3.7 / TensorFlow 2 release?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b08da6f3-0170-cf65-2d86-b669ed9dec0e
* Version Independent ID: 82fda28a-fc67-a0d0-15aa-f336a20ae888
* Content: [Tools Included on the DSVM - Azure Data Science Virtual Machine tools](https://docs.microsoft.com/

[2019-11-13 12:42] SumanthMarigowda-MSFT commented on #42685
@josem0287 Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-13 12:42] pawboelnielsen commented on #40649
@kirankumarkolli yes gateway works. Maybe the "Getting Started" doc could be updated with a note in this respect especially given that it is mostly CosmosDb novices who are using this guide.

[2019-11-13 12:43] SumanthMarigowda-MSFT commented on #42696
@mhabibal13 Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-13 13:02] jjindrich opened #42718 "Allow Condition for VM extension"
Hi, I cannot use extension on VM ARM template. I need to make condition to add or not add VM extension. Getting this error: Could not find member 'condition' on object of type 'VMScaleSetVMExtension'. Path 'properties.virtualMachineProfile.extensionProfile.extensions[1].condition'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2019-11-13 13:09] dgshaver opened #42719 "Typo in ResourceManager paragraph"
In the YARN ResourceManager paragraph, this sentence:
"YARN ResourceManager uses its embedded ActiveStandbyElector as a failure detector and leader elector. Unlike HDFS NodeManager"
Should say:
"YARN ResourceManager uses its embedded ActiveStandbyElector as a failure detector and leader elector. Unlike HDFS NameNode"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2019-11-13 13:09] SumanthMarigowda-MSFT commented on #42702
@anaig Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-13 13:10] SumanthMarigowda-MSFT commented on #42703
@khobragadenitin Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-13 13:10] SumanthMarigowda-MSFT commented on #42704
@dvherk Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-13 13:13] SumanthMarigowda-MSFT commented on #42706
@feroz-ahmmed Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-13 13:13] kirankumarkolli commented on #40649
+1 makes sense.
@j82w can you please track this?

[2019-11-13 13:14] SumanthMarigowda-MSFT commented on #42710
@shashikant29 Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-13 13:14] jmprieur opened #42720 "Is "If a back-end API doesn't require a scope (not recommended), you can use clientId as the scope in the calls to acquire tokens." still correct?"
Just saw a test case telling that the sentence is outdated (816128)
Should we remove this sentence

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c6d2219-cb28-5527-1079-6e3195cad282
* Version Independent ID: 70c2aad0-6883-51a9-fed7-01be62302483
* Content: [Azure AD v2.0 JavaScript single-page application (SPA) guided

[2019-11-13 13:14] SumanthMarigowda-MSFT commented on #42712
@shashikant29 Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-13 13:15] jmprieur commented on #42720
@negoe @SaeedAkhter-MSFT

[2019-11-13 13:15] SumanthMarigowda-MSFT commented on #42713
@PaulFurlet Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-13 13:18] SumanthMarigowda-MSFT commented on #42715
@wmeints Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-13 13:19] SumanthMarigowda-MSFT commented on #42716
@delbus Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-13 13:26] bwren commented on #42502
Thanks. We just added a note to this article pointing to the new procedure at https://docs.microsoft.com/azure/azure-monitor/platform/diagnostic-settings-subscription. We'll be updating the existing content in a couple of weeks.

#please-close

[2019-11-13 13:26] #42502 closed

[2019-11-13 13:29] ShabuddinKhan commented on #42606
@MicahMcKittrick-MSFT Thanks for clarifying my query. I looked at various places under Microsoft docs but didn't find straight forward distinguish between this 2 extensions. Hence, I was reluctant if just deploying OMS extension is enough on my Linux host VM. Thanks again !

[2019-11-13 13:29] #42606 closed

[2019-11-13 13:30] bwren commented on #42112
Going to close this one since I think all questions have been answered.  We do have the document updates in our plans.

#please-close

[2019-11-13 13:30] #42112 closed

[2019-11-13 13:31] webash commented on #42535
Thanks @msrini-MSFT . I wonder if it would be prudent for the VPN setup package that is downloaded from the portal to communicate this in the ProfileXML, too.

[2019-11-13 13:31] test123114 opened #42721 "Can I use Azure Table storage bindings to access Azure Cosmos Table API"
[Enter feedback here]
According to the document(https://docs.microsoft.com/en-us/azure/cosmos-db/table-storage-how-to-use-java), we use the Azure storage sdk to access Azure table storage and Azure Cosmos DB Table API. So can I use Azure Table storage bindings to access Azure Cosmos Table API in Azure Java function?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2019-11-13 13:33] diberry commented on #35193
@paulio - I see the change - can you please clear your cache for this page?

[2019-11-13 13:37] bwren commented on #42200
Checking with the engineers on this.

#in-progress

[2019-11-13 13:37] KalyanChanumolu-MSFT commented on #42608
@lwajswaj Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-11-13 13:41] bradmclaughlin opened #42723 "Issue importing AzureIoTHubClient in Xcode (Could not build Objective-C module 'AzureIoTHubClient')"
When running the sample code in Xcode (.xcworkspace), I get the error: Could not build Objective-C module 'AzureIoTHubClient'.

I am running Xcode 11.2.1 and Cocoapods 1.8.4.

Without this package, I cannot connect the IoT Hub at all

The Podfile defines iOS 9.0 but I have also tried uncommenting the line to default it to iOS 10.2.

---
#### Document details

⚠ *Do not edit this section. It is req

[2019-11-13 13:47] bwren commented on #42255
Checking with engineering team.

#in-progress

[2019-11-13 14:06] ctimon commented on #42547
Thanks you for this information –

[cid:image003.jpg@01D59A01.964644D0]
“not recommended” is kind of a “wishy-washy” position.  The rest of the table “VM storage support” contains more definitive statements. In the portal, I am able to configure backups on cluster nodes and they will be successful, but you are saying that if I try restoring the VM or execute a File Recovery process, it is likely t

[2019-11-13 14:13] DennisBaekgaard opened #42726 "How to set currentNumberOfWorkers through cli"
I can change the maxmimumNumberOfWorkers through the CLI, but setting properties.currentNumberOfWorkers=INT does not work. If I change it in the portal, the response in CLI will correctly return the properties object with currentNumberOfWorkers set to the updated value.

Is it not possible to control the scaling of workers/minimum instances through the CLI or another type of request?

---
#### Doc

[2019-11-13 14:18] pvrk commented on #42547
Thanks for the response.

- Azure VM backup solution doesn't have any insight into what lies within the VM and the file-system. It is an outside-VM disk-snapshot based solution and we depend on VSS for consistency. So, as of now, we are NOT designed to go inside a VM and check for configurations

- We had few customers reporting that file recovery/disk restore was successful and it was on SOFS bas

[2019-11-13 14:18] upsilondynamics commented on #42668
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-synthesis-markup

Contains documentation relating to this, this is with regard to Cognitive Services .NET SPEECH SDK.

Can we possibly have this issue moved or re-created to the proper location so the issue can be resolved?

[2019-11-13 14:21] hisasima commented on #42683
I can understand what you said but public document is not crear whatever we can configure denied rule other than default rule. E.g. particular subnet.  I want you to add any outbound rule to deny is not valid into this document.

--- notifications@github.com wrote:

[2019-11-13 14:22] #42448 closed

[2019-11-13 14:23] Pedroms1 commented on #32213
Hi, in which way is this related to Azure Portal? Is this a bug on the documentation or not? If this isn't, what is this about? Does the portal have wrong names?  How should we work with the policies?

[2019-11-13 14:24] #41135 closed

[2019-11-13 14:25] Pedroms1 opened #42727 "@fbuser1 this issue has been reported to the Azure Portal team and hasw been priortized to be completed by the end of the year. Thank you for your feedback!"
@fbuser1 this issue has been reported to the Azure Portal team and hasw been priortized to be completed by the end of the year. Thank you for your feedback!

#please-close

--------------------------------------------

Hi, in which way is this related to Azure Portal? Is this a bug on the documentation or not? If this isn't, what is this about? Does the portal have wrong names? How should we work

[2019-11-13 14:25] Pedroms1 commented on #42727
This answear is regarding issue #32213 and the closing comment.

[2019-11-13 14:27] delbus commented on #42715
Many thanks. The new manifest works.

[2019-11-13 14:30] jtuliani opened #42729 "Lack of detail on how to specify Blueprint parameters"
The docs lack detail on how to specify Blueprint parameters. For example:
 - What types are supported (string? array? integer?)
 - What validation is supported (allowed values? min/max length? min/max value?)

Even the REST API docs completely fail to specify: https://docs.microsoft.com/en-us/rest/api/blueprints/blueprints/createorupdate#parameterdefinitioncollection

---
#### Document Details

⚠

[2019-11-13 14:32] DCtheGeek commented on #42729
#assign:DCtheGeek

[2019-11-13 14:34] memildin commented on #29229
This page has undergone a number of revisions and corrections since this ticket was opened.
I'm pretty sure that the original request has been handled along the way.
@mrstage, if you feel that there's still something to resolve here, please reopen the ticket and let us know.

#please-close

[2019-11-13 14:34] #29229 closed

[2019-11-13 14:35] DCtheGeek commented on #42729
@jtuliani Thanks for the feedback. I'm looking at this now.

@MicrosoftDocs/azure-cxp-triage Please label 'doc-enhancement' and #in-progress.

[2019-11-13 14:35] souravmishra-msft commented on #42486
@Jaans, I was looking reading through the SO link you shared. Based on that it looks like something is not correct in your request. We can dig in more if we would have a Fiddler trace for this scenario.
It would be great if you can collect a fiddler trace and share the same with us on **_azcommunity@microsoft.com_**.

When you share the email, please to share the reference of this thread so that w

[2019-11-13 14:41] delbus commented on #42715
you also need to update the certificates.yaml to cert-manager.io/v1alpha2

[2019-11-13 14:57] ctimon commented on #42547
Inline……

From: Kartik P V R <notifications@github.com>
Sent: Wednesday, November 13, 2019 9:19 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Chuck Timon <ctimon@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] S2D Cluster file recovery (#42547)

Thanks for the response.

  *   Azure VM backup solution doesn't have any insight into

[2019-11-13 14:58] HarrySpyrou opened #42730 "Following the tutorial: Module Az not loaded because"
Trying to follow [the tutorial](https://docs.microsoft.com/en-gb/azure/application-gateway/migrate-v1-v2) for migrating v1 gateway to v2, using both Powershell and Powershell Core 6 (tried with both) whenever I try: Import-Module Az I run into I

[code]

[2019-11-13 14:58] KrishnaG-MSFT commented on #42729
@DCtheGeek Added 'doc-enhancement' and 'in-progress' labels

[2019-11-13 15:00] jtuliani opened #42731 "Clarify supported templates"
Doc needs to clarify what types of templates are supported. In particular, are ALL templates supported, or only a subset? Are nested templates supported? Are linked templates supported?

Question arises since e.g. a policy with DeployIfNotExists supports nested templates but not linked templates, so need to know if something similar applies here.

---
#### Document Details

⚠ *Do not edit this sec

[2019-11-13 15:02] o-l-a-v opened #42732 "Cloudyn not compliant with Microsoft Secure Application Model, is it?"
Now that secure application model is required for everything interacting with the Partner Center API, Cloudyn does not support Secure Application Model does it? This should be described in this documentation.

* https://docs.microsoft.com/en-us/azure/cost-management/quick-register-csp#register-with-cloudyn

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2019-11-13 15:03] DCtheGeek commented on #42731
#assign:DCtheGeek

[2019-11-13 15:04] msrini-MSFT commented on #42683
@hisasima , Thank you for your feedback. I will pass on your feedback to author to take appropriate action.

@vhorne , Can you please validate and take necessary actions?

[2019-11-13 15:04] DCtheGeek commented on #42731
@jtuliani Thanks for the question. I'll verify the answer with the team and get back to you.

@MicrosoftDocs/azure-cxp-triage Please label 'doc-enhancement' and #in-progress.

[2019-11-13 15:07] #42693 closed

[2019-11-13 15:10] msrini-MSFT commented on #42709
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/95786

[2019-11-13 15:12] ironpercival opened #42733 "Define what "small pieces of state" means"
Hi, in the very beginning of the article purpose of durable entities is "define operations for reading and updating small pieces of state".  Could you please clarify what "small" means in this context? Is there any specific criteria to measure how suitable certain entity is for durable entities use case? Are there any limitations or what? Please, add some info about this, if there are any real con

[2019-11-13 15:12] MonikaReddy-MSFT commented on #42322
@wrkettlitz ,  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2019-11-13 15:12] #42322 closed

[2019-11-13 15:14] pvrk commented on #42547
Unable to see images.
Unfortunately, these cases happened before I joined the team and hence I don't have information. Even then, I would think this might not work consistently and treat this as a not-recommended case.

Apologies for not being of any help.

[2019-11-13 15:18] #42709 closed

[2019-11-13 15:21] msrini-MSFT commented on #42730
@HarrySpyrou , You should probably having AzureRM module installed in your machine.

Please try to install Azure Az module and try again.

Reference: https://docs.microsoft.com/en-us/powershell/azure/new-azureps-module-az?view=azps-3.0.0

[2019-11-13 15:27] ctimon commented on #42547
No, this has been very helpful in that it will allow me to make a recommendation to my customer and update the customer documentation.  I also have an e-mail, on a separate thread, with the Failover Cluster Product Team asking for a recommended way to backup and S2D Cluster whether it is running on-premises or in Azure.  For now, the information here - https://docs.microsoft.com/en-us/azure/backup

[2019-11-13 15:43] KranthiPakala-MSFT commented on #42719
@dgshaver Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2019-11-13 15:50] MicahMcKittrick-MSFT commented on #42727
@Pedroms1 thanks for this. I will close this out as it appears to be what you were looking to do. If not just let me know.

[2019-11-13 15:50] #42727 closed

[2019-11-13 15:54] ealsur commented on #42696
Bindings will share the same Cosmos DB client if the bindings are connecting to the same Cosmos DB account.

References:
* https://github.com/Azure/azure-webjobs-sdk-extensions/blob/dev/src/WebJobs.Extensions.CosmosDB/Bindings/CosmosDBClientBuilder.cs#L18
* https://github.com/Azure/azure-webjobs-sdk-extensions/blob/dev/src/WebJobs.Extensions.CosmosDB/Config/CosmosDBExtensionConfigProvider.cs#L127

[2019-11-13 15:54] bradleyruff commented on #42443
I tried it again in my subscription and I see the same thing you see.

This is the detail...
{ "id": "/subscriptions/c2e0d81b-9a3d-4999-888f-d8ce4cda923f/resourceGroups/vnet-terraform/providers/Microsoft.Resources/deployments/azure-oss.terraform-20191113104641/operations/3831E761D5135D9D", "operationId": "3831E761D5135D9D", "properties": { "provisioningOperation": "Read", "provisioningState": "Fai

[2019-11-13 15:54] DixitArora-MSFT commented on #42733
Hi @ironpercival Thanks for your feedback. We will review and update as appropriate.

[2019-11-13 15:56] DixitArora-MSFT commented on #42726
Hi @DennisBaekgaard Thanks for your feedback. We will review and update as appropriate.

[2019-11-13 15:56] MicahMcKittrick-MSFT commented on #42443
@bradleyruff thanks for confirming you are seeing the same. I am not 100% sure where the issue is but I will dig into it today and confirm.

[2019-11-13 15:57] sirdank commented on #15419
I set the reply URL like recommended:

https://TENANT.b2clogin.com/TENANT.onmicrosoft.com/oauth2/authresp

but continued to get this error until I added

https://login.microsoftonline.com/te/TENANT.onmicrosoft.com/oauth2/authresp

[2019-11-13 15:59] DixitArora-MSFT commented on #42721
Hi @test123114 This channel is for driving improvements towards MS Docs, for any product related question/issue , it would be best if you can create the product issue to the official [Azure Functions
Repo](https://github.com/Azure/Azure-Functions/issues) for better clarity.

[2019-11-13 15:59] LeonardoFelippine commented on #30035
Hello, @ManojReddy-MSFT.

The documentation still does not mention which second authentication methods are supported. I went through a lot of troubleshooting because I had chosen PIN on the app, as it is what I use for other Office 365 workloads.

Is there an estimate as to when it will be updated?

Regards.

[2019-11-13 16:03] nibaccam commented on #42581
@wangdfgithub can you provide additional detail of what caveats you are looking for? Trying to understand what would be helpful for the doc. Can you share what you were trying to accomplish, so we can assist accordingly, please?

CC: @MayMSFT

[2019-11-13 16:14] hjlarrea commented on #42661
Perfectly clear, thanks for the answer.

Now, one last question, let's say that I want to test connectivity against an on-premise hosted service, in that case I wouldn't be able to install the Network Watcher extension on the other side (not just because is not Azure hosted, but I don't own the server, so even if there is an agent installer is not an option for me to deploy it).

Given what you've

[2019-11-13 16:21] GiftA-MSFT commented on #42717
@alexespencer thanks for reaching out. We will get to you shortly on this inquiry.

[2019-11-13 16:28] #39320 closed

[2019-11-13 16:28] PRMerger13 commented on #39320
GitHub user KavithaJonnakuti has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2019-11-13 16:29] julieMSFT commented on #39320
@PramodValavala-MSFT Please assign this to me.

[2019-11-13 16:30] NavtejSaini-MSFT commented on #39320
Thanks @julieMSFT for taking care of this. We have assigned this to you.

[2019-11-13 16:32] BharathNimmala-MSFT commented on #42449
@colbylwilliams  Thanks again for bringing this to our attention. Assigning this to @kirthik to further evaluate and update the documentation this week.

Thank you @kirthik for helping on this.

[2019-11-13 16:33] thevman opened #42734 "Incorrect point to site link"
Hello,

The link in "User VPN (point-to-site) connections" points to site to site rather than point to site. Is this by design?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 316afee6-13d5-4b73-5224-073b35e69737
* Version Independent ID: be1f6b3f-e7c1-0775-8e38-1e5044f96baa
* Content: [Azure Virtual WAN Overview](https

[2019-11-13 16:34] julieMSFT commented on #39320
#please-close

[2019-11-13 16:37] BharathNimmala-MSFT commented on #42459
@NenoLoje Thanks again for bringing this to our notice, a PR has been raised to correct the link in the original documentation, once reviewed and approved the document should reflect the correct link.

Closing this issue for now, if you have any further queries feel free to tag us in your reply and will be happy to continue the conversation. Thanks

[2019-11-13 16:37] #42459 closed

[2019-11-13 16:39] zhusulai opened #42735 "The quickstart template does not contain examples of any NSG rules."
The quickstart template does not contain examples of any NSG rules.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc46ceac-e45e-6f29-dd5b-6453c614d9b2
* Version Independent ID: b8b3bb83-5204-1f8b-787f-eb3da444e22e
* Content: [Working with VMs and NSGs in Azure Bastion](https://docs.microsoft.com/en-us/azure/bastion/ba

[2019-11-13 16:42] ThunderHorse commented on #41434
Updating a path on a powershell script extension allowed me to re-enable.

Thanks @szimmerMicrosoft

[2019-11-13 16:43] zhusulai opened #42737 "NetworkSecurityGroupNotCompliantForAzureBastionSubnet error"
When I try to apply an NSG to the AzureBastionSubnet I get an error message of `NetworkSecurityGroupNotCompliantForAzureBastionSubnet`. My NSG has inbound rules to allow 443 from public IPs and GatewayManager to the VNet and outbound rules to allow 443 to AzureCloud.

Detailed error: `Network security group [NSG name] does not have necessary rules for Azure Bastion Subnet AzureBastionSubnet`.

---

[2019-11-13 16:45] tamram commented on #42374
@TheITguy666 - Thanks for letting us know about the error in the example. I've created a work item to fix it, and will post back here once I've made the update.

[2019-11-13 16:46] mathieu-benoit opened #42738 "AKS cluster autoscaler is now GA"
Since AKS cluster autoscaler is now GA (https://azure.microsoft.com/updates/generally-available-aks-cluster-autoscaler/), this part `which is currently in preview in AKS,` need to be removed in the `Cluster Autoscaler` section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d8185fe-e724-7a2d-7579-8e94ef873b36
* Versio

[2019-11-13 16:50] julieMSFT commented on #41641
This was resolved in PR #94897

[2019-11-13 16:50] julieMSFT commented on #41641
#please-close

[2019-11-13 16:50] #41641 closed

[2019-11-13 16:54] VanMSFT commented on #36287
Following up with Srdan

[2019-11-13 16:56] jrowies commented on #42248
@markjbrown Thanks for the clarification

[2019-11-13 16:58] JasonWHowell commented on #42577
@mamccrea FYI

[2019-11-13 17:01] tedgoddard opened #42739 "No documentation for image/layer size limitations"
The size of the docker aufs filesystem does not appear to be documented or configurable. I currently have an 6 GB image that fails to deploy:

InnerException: Docker.DotNet.DockerApiException, Docker API responded with status code=InternalServerError, response={"message":"OCI runtime create failed: container_linux.go:345: starting container process caused \"process_linux.go:424: container init cau

[2019-11-13 17:01] cap273 commented on #41964
Issue has been also documented in the following MSDN forums post:
https://social.msdn.microsoft.com/Forums/en-US/482a75a5-3bf2-4278-8f2f-23170268a2eb/cannot-host-multiple-apps-with-pingaccess-for-azure-ad?forum=WindowsAzureAD

[2019-11-13 17:04] ArvindHarinder1 commented on #42230
Hi we are working on replacing the existing package with a new reference code that you can use please stay tuned.

[2019-11-13 17:05] FloB-38 commented on #37708
Hello,
I am facing the same problem : my roles are properly declared in my app manifest and I am able to affect the users of my app one of these roles, but the access token delivered by Azure AD does not contain the roles of the user currently logged in on the app.

My app client uses the Python Flask framework, so I logically read the content of my flask.session variable to retrieve the data I ne

[2019-11-13 17:05] orionJag commented on #42552
Yes, it did. Please close the ticket.

From: DixitArora-MSFT
Sent: Wednesday, November 13, 2019 1:25 AM
To: MicrosoftDocs/azure-docs
Cc: orionJag; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Azure Functions - C# in Visual Studio2019 (#42552)

@orionJag Just following up here... Hope my previous comment helps.
—
You are receiving this because you were mentioned.
Reply to this email directly, vi

[2019-11-13 17:07] VanMSFT commented on #40935
Hi @samrueby! Thanks for the feedback. We don't give a hint on how to connect using SSMS with a non-default port in this document. That is a suggestion that we will look at implementing in the future. SSMS does use the ADO.NET driver to connect, and if you follow the documentation to get the connection string, it should provide that hint.

#please-close

[2019-11-13 17:07] #40935 closed

[2019-11-13 17:07] kevin-dfo opened #42740 "Verizon CDN reports documentation?"
I'm not sure if this is the correct place.. but I can't find any documentation on the actual reports.

For example.  Total hits when looking at "By File" and "World Map" show different numbers.  I assume this is because one might ignore 404 hits or some other types of requests.  I was wondering if there was anywhere that explains details for each report.

---
#### Document Details

⚠ *Do not edit

[2019-11-13 17:13] hpsin commented on #35797
Note that ROPC is not restricted to public clients. It can be used by confidential clients.

[2019-11-13 17:16] gvashishtha commented on #42717
Adding @vijetajo to share roadmap details.

[2019-11-13 17:16] jluk commented on #42738
Thanks for the report @mathieu-benoit

[2019-11-13 17:16] #42738 closed

[2019-11-13 17:18] Lumute opened #42741 "Is there any plan to add reservations for Page Blobs?"
This would allow the reservation of storage for SQL Database files hosted directly in Azure Storage and also Virtual machine data drives...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4da9483-7120-9e2c-9861-9dba80034b56
* Version Independent ID: 61588662-b963-e5a6-f39d-235244fc46cc
* Content: [Optimize costs for Bl

[2019-11-13 17:19] craigktreasure commented on #42527
@cheles Thanks for reporting these issues! We'll try to get these items fixed soon.

[2019-11-13 17:22] svangeti commented on #42555
Hi @DixitArora-MSFT - I see there is no support for Python Durable functions yet but have you checked the link I have sent https://github.com/kashimiz/azure-functions-durable-python
I am not sure if it's in preview feature or custom implementation. can you comment on it? The user seems to be from Microsoft.

[2019-11-13 17:22] zr-msft commented on #42738
thank you for the feedback @mathieu-benoit, i have incorporated your feedback and the change should go out shortly

[2019-11-13 17:26] bandersmsft commented on #42732
@o-l-a-v Hi Olav, I'm looking into this with the Cloudyn team. When I have more information to share, I'll reply here.

[2019-11-13 17:30] cherylmc commented on #42734
Thanks for letting me know. It is not by design. :-) Fixing now.

[2019-11-13 17:30] cherylmc commented on #42734
#please-close

[2019-11-13 17:30] #42734 closed

[2019-11-13 17:30] cijothomas commented on #42499
The doc has links to fully working examples. The SO question also has pointers.
Dont think there is anything to update in the doc at this point.
Close please.

[2019-11-13 17:31] DCtheGeek commented on #42731
@jtuliani Both nested templates and linked templates work, but you'd need to stage your linked template somewhere to be accessible. I'll add the clarification to the doc.  Once the update merges, this issue will automatically close. Thanks again for the question!

[2019-11-13 17:33] jmcshane opened #42742 "Issue creating AKS Cluster"
I am creating a cluster with a service principal password via terraform. Intermittently, I get this issue:

* azurerm_kubernetes_cluster.aks: Error creating Managed Kubernetes Cluster "abc123" (Resource Group "zyx987"): containerservice.ManagedClustersClient#CreateOrUpdate: Failure sending request: StatusCode=400 -- Original Error: Code="BadRequest" Message="The credentials in ServicePrincipalProf

[2019-11-13 17:33] laakness commented on #41780
Thanks, appreciate the investigation.

[2019-11-13 17:38] KrishnaG-MSFT commented on #42734
@cherylmc Thanks for the quick response. 👍

[2019-11-13 17:38] #42731 closed

[2019-11-13 17:39] jitheshr commented on #41822
Azure AD Connect is not picked during staged rollout because that agent is activated only during the actual cut-over of the domain from Federated to Managed. During staged rollout we wanted to use connectors that do not require any configuration changes to the Azure AD Connect which may be managing the federation provider ( Ex: ADFS/Ping Federate supported to be managed by AAD Connect)  which will

[2019-11-13 17:39] KrishnaG-MSFT commented on #42738
@zr-msft Thanks for the quick response. 👍

[2019-11-13 17:42] Alberto-Vega-MSFT commented on #42412
@anjalisn4 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-13 17:42] #42412 closed

[2019-11-13 17:42] roygara commented on #42501
@ramadarla the "up to 300mib/s" only applies for storage accounts that have [enabled large file shares](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-how-to-create-large-file-share).

If your storage account has not enabled large file shares, then the scale target is "up to 60 mib/s."

[2019-11-13 17:42] KrishnaG-MSFT commented on #42731
@DCtheGeek Thanks for the super quick response. 👍

[2019-11-13 17:44] Alberto-Vega-MSFT commented on #42367
@larsonmpdx Thanks for your providing your valuable feedback!

[2019-11-13 17:44] #42367 closed

[2019-11-13 17:47] BharathNimmala-MSFT commented on #40769
@DrEsteban Thanks for sharing additional information.

@deheems Request you to go through above mentioned links and see if that helps fix your issue. For now will close this issue, however if you have any further queries please tag us in your reply and will be more than happy to continue the conversation forward. Thank you for reaching out to us and for your queries.

[2019-11-13 17:47] #40769 closed

[2019-11-13 17:48] jtuliani commented on #42731
Thank you all!

[2019-11-13 17:51] thisisbrianstewart opened #42743 "Incorrect role name: DocumentDB Accounts Contributor"
RBAC Role name "DocumentDB Accounts Contributor" is incorrect.  In reviewing other docs, including the doc that links to, it is actually "DocumentDB Accounts Contributor".  Note there is no letter "s" after Account.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e847c3a3-4458-f0cc-0791-b507d5420dd6
* Version Independen

[2019-11-13 17:52] #42654 closed

[2019-11-13 17:52] MonikaReddy-MSFT commented on #42499
@alvipeo , Reiterating the fact that @cijothomas called out that doc has all the required examples. As this point it appears that there's no further edits or updated needed for the documentation.

So We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-13 17:52] #42499 closed

[2019-11-13 17:55] SaurabhSharma-MSFT commented on #42720
@jmprieur Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-13 17:55] msrini-MSFT commented on #42737
@zhusulai , Create an outbound rule for 3389 and 22 to Virtual network and assign it to the Bastion Subnet.

[2019-11-13 17:57] MicahMcKittrick-MSFT commented on #42742
Error looks to state the SP credentials are invalid. Are you using the automatically created SP or a SP you created manually? Are you sure the credentials are correct?

[2019-11-13 17:58] raybellwaves opened #42744 "Predict test data locally"
See https://github.com/Azure/MachineLearningNotebooks/issues/656

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89cb4f9c-34e0-b4df-f911-e083c420cee8
* Version Independent ID: 5be8b3bb-fb17-175a-7ca0-d69cef414799
* Content: [Image classification tutorial: Deploy models - Azure Machine Learning](https://docs.microsoft.co

[2019-11-13 17:59] MicahMcKittrick-MSFT commented on #42434
@techiechap any luck?

[2019-11-13 17:59] MicahMcKittrick-MSFT commented on #42131
@jlongo62 by chance have you tried the Service Endpoints or User Defined routes to see if that helps your scenario?

[2019-11-13 18:03] zhusulai commented on #42737
@msrini-MSFT, I created the below rule and still got the same error message.

[code]

[2019-11-13 18:04] Mike-Ubezzi-MSFT commented on #40649
Making this a `doc-enhancement` as the tutorial is functional but adding a `[!NOTE]` would be helpful to a user who may have firewall restrictions that prevents them from completing the tutorial successfully with the default settings.

[2019-11-13 18:09] Mike-Ubezzi-MSFT commented on #42743
@thisisbrianstewart Thank you for bringing this to our attention. We are in the process of verifying this and will make an update to correct the documentation as necessary.

[2019-11-13 18:10] msrini-MSFT commented on #42737
@zhusulai , can you add an inbound rule, from source Any on port 22 and 3389, with destination Virtual Networks ?

[2019-11-13 18:10] tfitzmac commented on #42718
@jjindrich - condition can only be used at the level of the resource. I see that VMSS has an object called extensionProfile with an array called extensions. Are you trying to apply condition at that level? Or, are you using the virtualMachineScaleSets/extensions as a separate resource type?

[2019-11-13 18:14] MonikaReddy-MSFT commented on #42551
@kumarallamraju , PR has been raised for this Doc and has been merged as well, it should reflect accordingly within this week.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-13 18:14] #42551 closed

[2019-11-13 18:14] DataJuggler opened #42746 "I am more confused after coming to this page than before I got here"
The title is Rates for software, yet no where on this page do you show rates.

Seems like this is a useless page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a03a9d63-ef0a-88e6-39c6-0bec703220b4
* Version Independent ID: c3bf2686-f9a4-b657-7474-cb90788a8874
* Content: [Reservations software costs for Azure](https://

[2019-11-13 18:18] MicahMcKittrick-MSFT commented on #42443
I believed the issue to be that the managed identities was being added too quickly as the VM resource was not actually created yet at the time

![image](https://user-images.githubusercontent.com/32313503/68791695-aff32100-05fe-11ea-8598-dbd5324aa221.png)

After the deployment finished with the error I tried the redeploy option

![image](https://user-images.githubusercontent.com/32313503/68791727-b

[2019-11-13 18:20] MicahMcKittrick-MSFT commented on #42642
@porrascarlos802018 I added some PG members to the other thread. However we won't update this documentation without engineering confirming behavior and PG determining if it should be documented. So closing this and based on the other issue we can always reconsider.

[2019-11-13 18:20] #42642 closed

[2019-11-13 18:22] MicahMcKittrick-MSFT commented on #42676
@padare I will assign to @athinanthny to look further into it. Not sure what should be done from a doc perspective but this is worth looking into

CC @peterpogorski

[2019-11-13 18:24] padare commented on #42676
Yes, as I said, it isn’t a doc problem but a process problem. Do you happen to know who I can report this to?

﻿
--
Paul Adare
PRINCIPAL PROGRAM MANAGER
Office: +1 (289) 3059536
Mobile: +1 (647) 640-9173
paul.adare@microsoft.com<mailto:paul.adare@microsoft.com>
Working Hours 7:00 AM to 3:00 PM PST
[Microsoft]
﻿ Our workplace allows for a flexible work schedule, which is an amazing benefit. I am se

[2019-11-13 18:25] eschrader opened #42747 "Page layout templates- Custom logo"
Hi, can the square logo be customized in the Page layout templates scenario? If so, is that the normal Azure AD organization branding that comes over for just the logo?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b1a5dbe-3776-6cbf-41b1-a2b00dcfe95e
* Version Independent ID: 14bb0adf-b9d0-7f70-1d35-ba38e85e0f65
* Co

[2019-11-13 18:25] MicahMcKittrick-MSFT commented on #42676
@padare I will ping you offline.

[2019-11-13 18:25] #42676 closed

[2019-11-13 18:28] jjindrich commented on #42718
I'm using extensionProfile and I need to configure extension is deployed based on some parameter. Like OmsAgent=Yes to deploy OmsAgent extension.

[2019-11-13 18:34] YutongTie-MSFT commented on #42744
@raybellwaves
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-13 18:40] bandersmsft commented on #34025
@prabhakarreddy1234 Hi. After speaking with the Cost Management enginnering team, it looks like they need more information about your issue. Do you have a support ticket raised for this issue? If not, it looks like they need one in order to diagnose the problem. Please reply here with the support ticket number. Otherwise, we won't have enough information to resolve the problem.

[2019-11-13 18:41] clayhagler opened #42748 "Resolving the Idp for services that utilize a 3rd party domain name for the userID"
Can Direct federation handle the use case where an ID provider enable users to provision accounts with the users own email address?  For instance, login.gov provides in IdP, the users registers with first.last@hotmail.com.  If I setup direct federation with login.gov and invite the username first.last@hotmail.com.  How can I get this class of IdP's integrated?  If this can be resolved, there is a

[2019-11-13 18:44] YutongTie-MSFT commented on #42415
@markti
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-11-13 18:44] #42415 closed

[2019-11-13 18:45] YutongTie-MSFT commented on #42464
@ShivaKumarChittamuru
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-11-13 18:45] #42464 closed

[2019-11-13 18:48] MicrosoftGuyJFlo commented on #42500
Sorry @mattfeltonma I am not following your proposed change. Can you clarify?

[2019-11-13 18:49] Alberto-Vega-MSFT commented on #42723
Hi @bradmclaughlin sorry to hear that you are facing this issue. This issue was opened in the wrong document can you please share the link for the tutorial/doc that you were following? Also would you please open an issue on the SDK repository? https://github.com/Azure/azure-iot-sdk-c/blob/master/doc/sdk_cocoapods.md

[2019-11-13 18:52] SnehaGunda commented on #41954
@reginbald I submitted a PR to add this limitation to the doc. we will now close this issue if there aren't further questions.

#please-close

[2019-11-13 18:52] #41954 closed

[2019-11-13 18:53] FrankHu-MSFT commented on #42747
@eschrader Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-13 18:56] leelo7 opened #42749 "SKU - must be STANDARD!"
Why isn't SKU specified on this page?  I found out the load balancer will require a standard SKU and WILL NOT WORK WITH BASIC!  Expletive deleted!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7e54667-9299-de94-5b2c-4d54959cbf27
* Version Independent ID: 1dca831e-665a-e8c0-1654-0887732f6908
* Content: [Tutorial: Prer

[2019-11-13 18:56] skantipu commented on #42287
Thanks, posted in the requested place here - https://cognitive.uservoice.com/forums/559960-content-moderator/suggestions/39027517-screen-api-even-though-the-listid-query-param

[2019-11-13 18:57] SnehaGunda commented on #42743
@thisisbrianstewart Thanks for pointing out, I submitted a fix to the doc. They should be live later today. We will now close this issue.

#please-close

[2019-11-13 18:57] #42743 closed

[2019-11-13 19:08] MicrosoftGuyJFlo commented on #41629
Its in one of the linked docs on emergency access accounts already in the doc.

[2019-11-13 19:08] MicrosoftGuyJFlo commented on #41629
#please-close

[2019-11-13 19:08] #41629 closed

[2019-11-13 19:09] zhusulai commented on #42737
@msrini-MSFT, thanks for getting back to me but it still does not work.

Also, why would I need to expose port 22 and 3389 from the AzureBastionSubnet to the Internet?

[2019-11-13 19:12] bradmclaughlin commented on #42723
Hi @Alberto-Vega-MSFT, oh it must've redirected!

I have created the issue in the SDK repository (#1314). Also, the guide I am following is: https://docs.microsoft.com/en-gb/azure/iot-hub/quickstart-send-telemetry-ios

[2019-11-13 19:14] pparamalingam opened #42751 "Reservation Recommendations API - number of instances to reserve per Resource Group"
Is there a method or solution to get back the Reservation Recommendations and filter by the Resource Group?

The Azure Portal seems to do this by giving the option to filter on each Reserved Instance Recommendation by Single Resource Groups.

There doesn't seem to be an obvious way of doing this directly from the API itself, the API call seems to give a total number across the entire subscription.

[2019-11-13 19:14] fiveisprime commented on #19391
There's no need to set `--build-native-deps` anymore since we're building Python apps on the remote by default now.

[2019-11-13 19:19] CarlRabeler commented on #42679
I will work on this this week

[2019-11-13 19:20] CarlRabeler commented on #42679
@KalyanChanumolu-MSFT please assign to me

[2019-11-13 19:22] zhusulai opened #42752 "MissingRequiredFeatureOnSubscriptionForCortexSecurity Error"
I received a `MissingRequiredFeatureOnSubscriptionForCortexSecurity` error while trying to deploy the example. I already enabled the preview feature by running `Register-AzProviderFeature` PowerShell command.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0ea3309-d7f5-ee4e-9d8c-ab21a7315208
* Version Independent ID: b

[2019-11-13 19:22] ahmedelnably commented on #42514
agree, the 1st iteration of the action didn't even support publish profile!

#please-close

[2019-11-13 19:22] #42514 closed

[2019-11-13 19:33] szimmerMicrosoft commented on #41434
@ThunderHorse  Great.
We are still on track to complete the rollout he fix by end of next week

[2019-11-13 19:34] JnHs commented on #39190
Hi again, as we have not heard back I'm going to close this issue now, but please let us know if you still have questions. #please-close

[2019-11-13 19:34] #39190 closed

[2019-11-13 19:34] TechieWorld commented on #42413
yeah, sure. please let me know if it is possible or any other alternatives.

Also, i had another query which I had mentioned earlier as well.
I would like to understand that whether azure team will enable the write functionality over secondary replica in case key vault service from the affected region can't be recovered?

[2019-11-13 19:35] andrejohansson commented on #25052
I have 3 sites, I hae managed to add allow entries to them via arm templates + parameter file. They all share the same configuration.

When deploying, everything goes well. The entries show in the portal and the deny all comes at the end.

The weird thing is though that two of the sites work as expected (blocking everyone except the allowed ips). But the third site, with the same config...allows e

[2019-11-13 19:42] aholler2 opened #42753 "Logically impossible policy with [*] alias"
I am trying to write a policy which restricts which email domains can be used with the Alerts Action Group Email action. The email addresses in the ARM template correspond to the following policy alias, Microsoft.Insights/actiongroups/emailReceivers[*].emailAddress

Say you have a list of approved domains [abc.com, foo.com, bar.com]. There are three scenarios:
[john@abc.com, doe@def.com] - Deny
[j

[2019-11-13 19:42] msrini-MSFT commented on #42737
You need to open those ports in the Inbound rules not in the outbound rules of your NSG.

[2019-11-13 19:47] SaurabhSharma-MSFT commented on #42554
@artisticcheese I am also seeing the same and checking internally with the product team.  I will update you as soon as I hear back on this.

[2019-11-13 19:54] hpsin commented on #35797
#please-close.  Tenant and client ID are in both the table and the example.

[2019-11-13 19:54] #35797 closed

[2019-11-13 19:54] Mike-Ubezzi-MSFT commented on #42478
@dialedin2014 In looking through this issue, I think there needs to be some clarity with SQL Server, SQL Database, and Azure SQL Database. I will have the content team evaluate this and consider an enhancement to clarify this, if this is a clarification issue.

![Screenshot (472)](https://user-images.githubusercontent.com/37126106/68798868-0d419f00-060c-11ea-8dd8-a40745eee7e0.png)

![Screenshot (4

[2019-11-13 20:00] jpconnock commented on #42276
I will re-write this paragraph -- thanks for the feedback, @algattik !   I should have something published today or tomorrow.

[2019-11-13 20:00] Mike-Ubezzi-MSFT commented on #42478
@stevestein Is there a distinction between SQL Server, SQL Database, and Azure SQL Database as it relates to the upgrade sequence?

[2019-11-13 20:01] rhpluss opened #42754 "Link not working"
link for Automated Machine Learning Model explanation not working..returns 404

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52d75487-5a8d-f735-bc34-8a5d90c52d86
* Version Independent ID: b651cdfb-6d3b-8ce9-f665-be07b1f11273
* Content: [Understand automated ML results - Azure Machine Learning](https://docs.microsoft.c

[2019-11-13 20:02] mjdmsft opened #42755 "Updated portal"
At point 2, it says to click on the three dots to upload a sample file. This functionality is moved to another part of the view in the portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b0fc019-851c-8f40-f05b-69f39a9e0fa0
* Version Independent ID: dcae8169-cb26-8afc-d68b-f06979f0915f
* Content: [IoT real-time data

[2019-11-13 20:06] djrathbone opened #42756 "Incorrect variable"
The basicScale.ps1 script references the variable $isWVDServicePrincipal, however you have it as $isServicePrincipal in the config.json file.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24a6c4e2-702f-2b17-3e2d-c86f33b13beb
* Version Independent ID: 1e7811d8-668a-db98-34ca-eaf4d7ee8c1f
* Content: [Dynamic scale Windo

[2019-11-13 20:11] brianharwell opened #42757 "Error with kubectl"
This command: `kubectl create clusterrolebinding kubernetes-dashboard --clusterrole=cluster-admin --serviceaccount=kube-system:kubernetes-dashboard`

Results in this error: Unable to connect to the server: dial tcp 127.0.0.1:8080: connectex: No connection could be made because the target machine actively refused it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2019-11-13 20:13] franklixuefei commented on #41837
Please reopen. I did the same thing and this happened during deployment:

[2019-11-13 20:13] franklixuefei commented on #41837
@VikasPullagura-MSFT Please reopen.

[2019-11-13 20:14] YutongTie-MSFT commented on #42754
@rhpluss
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-13 20:16] msrini-MSFT commented on #42752
@zhusulai , can you run the below command and make sure that the feature is registered?

Get-AzProviderFeature -FeatureName AllowCortexSecurity -ProviderNamespace Microsoft.Network

[2019-11-13 20:17] DCtheGeek commented on #42753
#assign:DCtheGeek

[2019-11-13 20:21] DCtheGeek commented on #42753
@aholler2 This is technically a feature request and should go to [Azure Governance UserVoice](https://feedback.azure.com/forums/915958-azure-governance). However, I have some content in progress that will hopefully address this request. As such, I'm going to leave it open for now and try to get this new content published quickly and hope it meets what you are looking for.  Thanks for the question!

[2019-11-13 20:21] mpchen opened #42758 "Add support for multiple NSGs per subnet"
Currently there can only be one NSG per subnet. It'd be great if we can allow multiple NSGs per subnet. One of the use cases is to allow security team to mandate the NSG baseline for subnets (for example, blocking certain risky ports). Other teams can add their own NSGs to the subnets they own but the security NSG would act as the baseline.

---
#### Document Details

⚠ *Do not edit this section.

[2019-11-13 20:22] MonikaReddy-MSFT commented on #41016
@andrehe001 , We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue..

[2019-11-13 20:22] #41016 closed

[2019-11-13 20:32] JoeBerg8 commented on #34657
Curious...looks like you can't connect a linux app service to an existing virtual network.  Is this true? I am unable to add the vnet preview to my apps.

Thanks in advance

[2019-11-13 20:35] tfitzmac commented on #42718
Condition can only be applied at the root level for the resource, not on properties within the resource. It determines whether the resource is deployed. You could try using the extensions resource type under virtualMachineScaleSets, and apply the condition to that resource.

[2019-11-13 20:38] YutongTie-MSFT commented on #42754
@cartacioS Hi, could you please check this link? I can not open this link as well. Thanks.

[2019-11-13 20:46] mhopkins-msft commented on #42687
@mike7ang1rdz Thnank you for taking the time to send us your feedback., This article is a quickstart. The goal of the article is to get your development environment setup and get something running quickly. It is not intended to be an exhaustive exploration of the v12 library. Rest assured, more documentation will be coming about the new APIs.

Thanks,
 ~ _Mark_

#please close

[2019-11-13 20:49] MashaMSFT commented on #42101
Hi @kiki-kekat , thanks so much for bringing this to our attention! You are correct, a file share witness should be used for Windows Server 2012 R2 and lower. I have created an internal work ([1646320](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1646320)) item to get this updated.

We will proceed with closing out this Git Issue in the meantime, but please feel free to comment

[2019-11-13 20:49] #42101 closed

[2019-11-13 20:50] Karishma-Tiwari-MSFT commented on #42749
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-13 20:51] Karishma-Tiwari-MSFT commented on #42757
Thanks for the question. We are currently investigating and will update you shortly.

[2019-11-13 20:53] MashaMSFT commented on #42137
Hi @kar400, thanks again for contacting Microsoft and letting us know this information is missing! I have plans to add this to the documentation and am tracking that internally ([1645871(https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1645871)]). We will proceed with closing out this Git Issue in the meantime, but please feel free to comment should you need anything further.

Thank

[2019-11-13 20:53] #42137 closed

[2019-11-13 20:53] FrankHu-MSFT commented on #42747
hello @eschrader, yes the square logo is customizable. See here : https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/customize-branding

Specifically for page layout templates you could utilize JavaScript, CSS, or some other tricks to change the logo, but i would suggest simply following the customize branding

https://css-tricks.com/replace-the-image-in-an-img-with-css/
http://w

[2019-11-13 20:54] langstonj commented on #42457
No questions on this page,  I am familiar with the documentation link that you sent.

The following (from the sent link) presumes that all 500 databases (my circumstance) have a '1' baseline result for rule id VA1143 which may not be the case.

# Set Vulnerability Assessment baseline for rule VA1143 on all the databases in the server
$ruleId = "VA1143"
$baselineResult = @( '1')
Get-AzureRmSqlDatab

[2019-11-13 20:55] scootafire commented on #39533
coming up on two months now without this functionality since Confluence upgrade

[2019-11-13 20:56] Karishma-Tiwari-MSFT commented on #42756
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-13 20:56] Adam-Smith-MSFT commented on #42699
Thanks for the feedback! We are investigating the issue.

[2019-11-13 20:56] techiechap commented on #42434
@MicahMcKittrick-MSFT  I did recreate my terraform AKS cluster, took 21 mins to deploy, was able to access the AKS node through helper pod
Unfortunately when i apply Pod Security its

ERROR: Operation failed with status: 'Bad Request'. Details: PodSecurityPolicyRequiresRBAC
I believe i have to create AKS cluster with Azure AD integration? is that correct?

`data "azurerm_resource_group" "rg" {
  n

[2019-11-13 20:57] Adam-Smith-MSFT commented on #42714
Thanks for the feedback! We are investigating the issue.

[2019-11-13 20:58] Adam-Smith-MSFT commented on #42758
Thanks for the feedback! We are investigating the issue.

[2019-11-13 20:59] msrini-MSFT commented on #42758
@mpchen , thank you for your feedback. As of today, you can still use NSG rules will priorities to achieve what you have asked for. But if you still think that you need this feature, please post your idea in UserVoice.

https://feedback.azure.com/forums/217313-networking

[2019-11-13 20:59] #42758 closed

[2019-11-13 21:01] billbliss commented on #42379
Same problem here.

- Node: 10.14.1 _(Although VS Code is running 12.4.0, could that matter? I am only using Node 10.4.1 because that was the latest LTS version of Azure functions when I first created it a few months ago. I can see if I can upgrade it.)_
- NPM: 6.4.1
- OS: Windows 10 Enterprise, version 1909, 64-bit OS build 18363.418
- azure-functions-core-tools: tried 2.7.1846, 2.7.1724, 2.7.170

[2019-11-13 21:08] charles-steinmetz commented on #40458
I've encountered the same error code and am seeking help. Why was this issue closed without adding the needed information? Please reopen.

[2019-11-13 21:10] ggailey777 commented on #42379
Everyone, sorry for the delay on this. We're having this investigated now.

[2019-11-13 21:15] YutongTie-MSFT commented on #42550
@wukun2015 Hi, you can open a support ticket by https://ms.portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade/newsupportrequest if you have a support plan. If you can not do it since you have no support plan, please send us an email at Azcommunity@microsoft.com with your Azure subscription ID and URL of this thread. Thank.

I will close this for now. We will now proceed to close t

[2019-11-13 21:15] #42550 closed

[2019-11-13 21:15] MicahMcKittrick-MSFT commented on #42751
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-13 21:22] dsm0880 commented on #42379
For anyone experiencing the issue, I closed VSCode and reopened it. I see the same thing as @gertjanschokkaert:

Starting inspector on 127.0.0.1:9229 failed: address already in use

I think closing VSCode releases something that allows it to work again. Not a permanent fix, but something to you going potentially.

[2019-11-13 21:22] geoano opened #42760 "Storage Account firewall"
I could still connect to storage account from outside the Vnet even after enabling Private endpoint. I could no longer connect to the Vnet after selecting firewall rule "Selected networks" (as it is supposed to be) and saving it without any white listing whatsoever.
My question is that, are we supposed to enable firewall on a storage account to make it private after configuring private endpoints?

[2019-11-13 21:29] NavtejSaini-MSFT commented on #42457
@langstonj We are going ahead and assigning this to author for further review.
@ronitr Please check the feedback from user and help regarding the same.

[2019-11-13 21:32] PJ200923 opened #42761 "Incorrect Hyperlinks"
The hyperlinks under the "Verify physical server settings" section bring you to the Hyper-V support matrix instead of the physical server support matrix.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33564ea4-e56a-9219-65c1-3fbafee7536f
* Version Independent ID: e2eabe26-8a85-fc0e-bc6a-07d51cf8e447
* Content: [Prepare

[2019-11-13 21:38] FrankHu-MSFT commented on #41237
hey @gprl I'm following up on this issue, if there's no response/email by eod tomorrow I'll go be going ahead and closing out this github issue.

If you'd like to continue working on this, please email me at the address above, and i can reopen the issue.

[2019-11-13 21:39] geoano commented on #42472
I also had the same problem. The work around is to enable the storage account firewall (by selecting "selected networks) without any white listings and saving it, after which it would be completely locked down.

[2019-11-13 21:40] #41875 closed

[2019-11-13 21:40] FrankHu-MSFT commented on #41875
Closing issue as duplicate https://github.com/MicrosoftDocs/azure-docs/issues/41872, please let me know if this is not a duplicate and I can reopen,

[2019-11-13 21:41] FrankHu-MSFT commented on #41872
From : https://github.com/MicrosoftDocs/azure-docs/issues/41875
An issue with the b2b conditional access:

_** "Risk-based Conditional Access for B2B
Currently, risk-based sign-in policies cannot be applied to B2B users because the risk evaluation is performed at the B2B user’s home organization."

Seems to conflict with this statement from https://docs.microsoft.com/en-us/azure/active-directory/i

[2019-11-13 21:43] #42127 closed

[2019-11-13 21:52] MicrosoftGuyJFlo commented on #42423
#please-close resolved in private PR

[2019-11-13 21:52] #42423 closed

[2019-11-13 21:52] MicrosoftGuyJFlo commented on #42330
#please-close resolved in private PR

[2019-11-13 21:52] #42330 closed

[2019-11-13 21:56] Adam-Smith-MSFT commented on #42741
@Lumute I'd recommend posting your request here: https://feedback.azure.com/forums/217298-storage
The product team monitors the requests and you may get better traction from them:Thanks for the feedback! We are investigating the issue.

[2019-11-13 21:56] #42741 closed

[2019-11-13 22:00] #42719 closed

[2019-11-13 22:00] YutongTie-MSFT commented on #42668
@upsilondynamics I think you have put this issue to the right forum: https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/433 Let's keep eyes on it. I will close this here.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-11-13 22:00] #42668 closed

[2019-11-13 22:08] mattchenderson commented on #39518
Apologies for the delay. Once you are in the Kudu console, you have the ability to access all sorts of information about the process, including memory dumps. The environment variables being on screen is not the issue so much as the ability to use the console to dump env vars. That said, we are exploring some options, because we agree that accidental disclosure is something we want to prevent.

Reg

[2019-11-13 22:10] mpchen commented on #42758
@msrini-MSFT, could you pls. explain a bit more on how this can be done with NSG rules? thnx.

[2019-11-13 22:16] jsblake commented on #21850
Is there any news on this issue? The workaround of sysprepping and rebuilding the VM is not acceptable

[2019-11-13 22:17] TravisCragg-MSFT commented on #42735
@zhusulai Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@ashjain it looks like you are the owner of the quickstart template. [According to the doc](https://docs.microsoft.com/en-us/azure/bastion/bastion-nsg#apply) the [Azure Bastion quickstart template](https://github.com/Azure/azure-quickstart-templates/tree/master/101-azure-basti

[2019-11-13 22:30] pflickin commented on #13958
It is frustrating that one needs to read though all of the closed feedback to get this info.  If the last post is indeed helpful, it should be included in the above doc.

[2019-11-13 22:31] TravisCragg-MSFT commented on #42661
@hjlarrea If the endpoint is not another Virtual Machine, you can still [use Azure Network Watcher to monitor and troubleshoot](https://docs.microsoft.com/en-us/azure/network-watcher/network-watcher-monitoring-overview#monitor-communication-between-a-virtual-machine-and-an-endpoint), but the diagnostics & results will not be as thorough as between 2 VMs.

If you do have access to the on-prem machi

[2019-11-13 22:41] curtand commented on #41953
This content was updated 11/7. It should be the same now.

[2019-11-13 22:42] curtand commented on #41953
#please-close

[2019-11-13 22:42] NavtejSaini-MSFT commented on #42651
@zrdw We are checking this with our author for further direction.
@oslake This document has a lot of issues.

For General purpose service tier: Generation 4 compute platform
For 3 Vcore  - Max Data size should be 1536 GB and log space should be 461 GB
For 6 Vcore  - Max Data size should be 2048 GB and log space should be 614 GB
For 7 Vcore  - Max Data size should be 2048 GB and log space should be

[2019-11-13 22:42] #41953 closed

[2019-11-13 22:44] DCri commented on #41930
I understand this and see the page has now been edited to remove the invalid statement indicating service tags were to be used.

[2019-11-13 22:44] #41930 closed

[2019-11-13 22:45] YutongTie-MSFT commented on #42744
@raybellwaves
Thanks for reaching out. Azure Notebook repo is the right place for this issue. Please keep eyes on it. I will close this since it's a duplicate of that one: https://github.com/Azure/MachineLearningNotebooks/issues/656

We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue th

[2019-11-13 22:45] #42744 closed

[2019-11-13 22:48] johnhappygilmore opened #42766 "user.displayName -match "Da.*""
In this example
Da, Dav, David evaluate to true, aDa evaluates to false.

Can you please confirm how the full stop works in the string?
I'm reading this as "Da." and any thing after the full stop.
example
Da.one, Da.two, Da.three (etc) evaluate to true, Da, Dav, David evaluates to false due to the full stop (.)

Please set me right as want to understand this.
Thanks

---
#### Document Details

⚠ *

[2019-11-13 22:48] normesta commented on #29695
Thank you @aquibqureshi26. I believe you might be referring to AzCopy V8? If so, that content has been archived and is no longer being updated. If your referring to the currently supported version of AzCopy V10, we've ported all reference content into the docs here [https://docs.microsoft.com/en-us/azure/storage/common/storage-ref-azcopy?toc=%2fazure%2fstorage%2fblobs%2ftoc.json](https://docs.micr

[2019-11-13 22:50] samsmithnz opened #42767 "Hash key secret generation"
Generating a "hash key of the secret from the CredScan output file" is not clear. More explanation on how to generate the output file and find this hash would be useful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffca0328-d220-e7bd-9fa0-43b40ab0abcb
* Version Independent ID: 554dbcd4-9274-87d2-dd5e-303cd3daa0f3
* C

[2019-11-13 22:51] normesta commented on #31006
#reassign:rishabpoh

[2019-11-13 23:01] FrankHu-MSFT commented on #41872
Hey @jaffadog I'm following up on this as there has been an update. Currently this statement :

_Risk-based Conditional Access for B2B
Currently, risk-based sign-in policies cannot be applied to B2B users because the risk evaluation is performed at the B2B user’s home organization._

Is being removed as it's now not correct anymore. It does NOT perform it in the home organization. It is now just b

[2019-11-13 23:01] KranthiPakala-MSFT commented on #42719
@Potapy4,  Jak-MS Thanks for the quick fix.

@dgshaver PR for fix has been merged. It takes sometime to reflect the changes in the doc.
Thanks again for pointing this out.

[2019-11-13 23:22] PS-MikeM opened #42769 "Lacks important definitions!"
This glossary is poor at best.
Why has this doc not been updated in over two years!!!!
Please include ’Azure Active Directory’, ‘Tenant’ and ‘License’  at a minimum.  MM

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9d5b3f1-0d66-0abc-3114-6fc51c707271
* Version Independent ID: ba3beb78-6546-8154-41b9-b7fd20156666
* C

[2019-11-13 23:23] walsehgal commented on #30614
@danangwijaya750, seems like you are getting a 401. Can you check if you are using a valid subscription key?

[2019-11-13 23:25] MarileeTurscak-MSFT commented on #42767
@samsmithnz
Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-13 23:40] TerryLanfear commented on #42767
@vharindra - Please review this issue. Thanks.

[2019-11-13 23:41] vharindra commented on #42767
Sure, I will check internally to see what additional details can be added and update this thread.

Thanks,
Hari

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Terry Lanfear <notifications@github.com>
Sent: Wednesday, November 13, 2019 3:40:58 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Harindra Veeraman

[2019-11-13 23:43] mhopkins-msft commented on #42414
Hi @MattiasAng

Thanks for contacting us about this. The links are currently pointing to locations where the API reference will be published very soon. At that point, these links should resolve correctly. Meanwhile, you can find documentation about the new APIs at this temporary location: https://azuresdkdocs.blob.core.windows.net/$web/java/azure-storage-blob/12.0.0/index.html

Thanks for your pat

[2019-11-13 23:43] #42414 closed

[2019-11-13 23:44] #42687 closed

[2019-11-13 23:45] rwike77 commented on #41385
@paulgarn @hpsin  can you comment on this?  Thanks.

[2019-11-13 23:46] GiftA-MSFT commented on #42717
@alexespencer I was informed that python 3.7 and TensorFlow 2 will be released by end of 2019 or January 2020. Can you please confirm which DSVM you are referring to?

[2019-11-13 23:46] kjulson commented on #41336
If this is not resolved, why is it closed?

I ran the report again and now the manager field is missing. I hope this is not your "fix".

[2019-11-13 23:53] Adam-Smith-MSFT commented on #42748
@clayhagler Could you provide us with the documentation link you were referring to?

Thanks,
Adam

[2019-11-13 23:56] #42662 closed

[2019-11-13 23:57] Adam-Smith-MSFT commented on #42426
@MikeInSwitzerland  Let me check internally to see if this scenario is supported, will get back to you as soon as I hear back from the internal team.

[2019-11-13 23:58] Adam-Smith-MSFT commented on #42426
@normesta Do you happen to know if this scenario is currently supported ?

Thanks,
Adam

[2019-11-14 00:01] KranthiPakala-MSFT commented on #42345
@syedcit01 Apologizes for the late response. I was able to follow the document and my event trigger is working as expected.

Please see below my configurations:

Trigger Parameter settings:
![image](https://user-images.githubusercontent.com/50185738/68814254-29a20380-062d-11ea-8f63-f2679b7ffa51.png)

Pipeline Parameter settings:
![image](https://user-images.githubusercontent.com/50185738/68814281-

[2019-11-14 00:01] #42345 closed

[2019-11-14 00:05] ChrisH82 commented on #42067
@MicahMcKittrick-MSFT I am not convinced you are correct with that statement as it contradicts the following from https://azure.microsoft.com/en-us/pricing/details/virtual-desktop/ in the first FAQ "What are the eligible Windows and M365 licenses to access WVD?"

"*Customers can access Windows Virtual Desktop from their non-Windows Pro endpoints if they have a Microsoft 365 E3/E5/F1, Microsoft 365

[2019-11-14 00:09] BharathNimmala-MSFT commented on #42307
@arkiaconsulting  Thank you for reaching out to us. The [document ](https://docs.microsoft.com/en-us/azure/azure-app-configuration/scripts/cli-work-with-keys) you are referencing has a snippet with in the [sample script](https://docs.microsoft.com/en-us/azure/azure-app-configuration/scripts/cli-work-with-keys#sample-script) which helps understand how a new key value pair is created with in Azure A

[2019-11-14 00:10] KranthiPakala-MSFT commented on #42755
@mjdmsft Thanks for feedback and bringing this to our attention. We have assigned the issue to the content author. They will evaluate and update the document as appropriate.

[2019-11-14 00:11] KranthiPakala-MSFT commented on #42755
@mamccrea Hi Mary, could you please have a look at the feedback from @mjdmsft? Thank!

[2019-11-14 00:14] normesta commented on #42426
@Adam-Smith-MSFT I don't actually. @klaaslanghout do you know?

[2019-11-14 00:19] kprpg commented on #23824
This will no longer work as weather under ground has dropped the free developer API Key, and now you need to pay to get a key. Please update the document to reflect this, so people do not waste time.

[2019-11-14 00:25] himanshusinha-msft commented on #42610
@iazuredeveloper : We are reaching out to internal team to get more help on this . We will update you once we hear back from them .

[2019-11-14 00:27] himanshusinha-msft commented on #42641
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2019-11-14 00:29] femsulu commented on #42746
Apologies for the confusion. Just to clarify are you referring to[ this section ](https://docs.microsoft.com/en-us/azure/billing/billing-reserved-instance-windows-software-costs#rates-for-azure-meters)of the doc (screenshot below)?
@bandersmsft - fyi

[2019-11-14 00:30] clayhagler commented on #42748
https://docs.microsoft.com/en-us/azure/active-directory/b2b/direct-federation

From: Adam-Smith-MSFT <notifications@github.com>
Sent: Wednesday, November 13, 2019 3:54 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Hagler, Clay <Clay.Hagler@pnnl.gov>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Resolving the Idp for services that utilize a 3rd

[2019-11-14 00:30] clayhagler commented on #42748
https://docs.microsoft.com/en-us/azure/active-directory/b2b/direct-federation

[2019-11-14 00:30] dcbrown16 opened #42771 "Make more visible"
This is a great FAQ type resource for starting to understand Application Insights, but it is buried four levels deep. I'd like to suggest moving this right under the Application Insights overview page as it is a great navigational resource.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e70544a-27c9-bf0d-e8d9-489e22de

[2019-11-14 00:33] santhoshbomma9 opened #42772 "Update option from Micrososft Saas service"
Can a update on a plan be initiated from Marketplace? Docs shows there is a flow, please see below.
https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/pc-saas-fulfillment-api-v2#provisioning-for-update-when-its-initiated-from-the-marketplace

But I don't see an option for that, can you please clarify?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-11-14 00:42] femsulu commented on #42761
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-11-14 00:45] MashaMSFT commented on #42679
I'll take care of this but it's going to take me a bit!

[2019-11-14 00:48] ozhug opened #42773 "Create a data factory : SafeJsonConvert"
when using Create a data factory the SafeJsonConvert was not found
needed to include this library
using Microsoft.Rest.Serialization;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ebc0c44-b401-1f1f-2ed5-7928918e49b4
* Version Independent ID: 52517770-de52-18b3-7bf6-078c18b70fe6
* Content: [Create Azure data factory u

[2019-11-14 00:57] tkumark commented on #42700
Is there a command for adding reverse proxy secondary and client certificate?

[2019-11-14 01:03] cynthn commented on #21850
@jsblake VMs created using the "attach" functionality still can't use the procedure as it is written. My understanding is that you have to use another method to pass the secret to the VM (probably using custom script extension). You still don't get an OS profile if you create a VM using a "specialized disk" that gets attached to a VM.

We recently added specialized disk support to shared image gal

[2019-11-14 01:11] Kamyar5353 commented on #41796
Thanks for working on this. Here is the expression that I am using to set 'Continuation' variable:
@if(contains(activity('GetTheListOfFiles').output.ADFWebActivityResponseHeaders, 'x-ms-continuation'), activity('GetTheListOfFiles').output.ADFWebActivityResponseHeaders['x-ms-continuation'],'')

and here is my loop condition:
@equals(variables('Continuation'), '')

When the variable being set, it is

[2019-11-14 01:12] rbrayb opened #42776 "Can search by any filter"
"You can search for users in your B2C tenant in two ways:

Reference the user's object ID.

Reference their sign-in identifer, the signInNames property."

That gives the impression that you can only use objectID or signInNames to search.

In fact, you can use any valid OData search term e.g.

b2c get-user $filter=displayName%20eq%20%27tom%20brown%27

will search for the user whose "displayName" eq

[2019-11-14 01:12] TravisCragg-MSFT commented on #42760
@geoano Azure Private Link allows you to access resources via a DIP in your VNET. VNETS that do not have outbound internet connectivity will still be able to access the resource.

If you would like to make the storage account private and accessible only from your virtual networks, then you can enable the storage account firewall. This is not a required configuration and you can set it as needed fo

[2019-11-14 01:13] nitinthewiz commented on #42343
I second this. On the python examples, I plugged in the multiple voices as above and got the following error -

It would appear that the service doesn't support this example, or there's a bug wherein the service adds boundary tags (break or p) in between sentences on its own and then rejects them.

[2019-11-14 01:15] Karishma-Tiwari-MSFT commented on #42620
This document has information on supported images: https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-windows-container#use-a-different-parent-image :

The note on the FAQ page says 'Windows images based on Semi-Annual Channel release 1709 or 1803 are not supported.' Which means semi annual channel release for only these two are not supported - 1709 or 1803

Can you ple

[2019-11-14 01:27] Kamyar5353 commented on #42610
Thanks.

I just saw the link. Opening all the Azure available IPs is not possible for any vendor, there are too many of them. I need something more specific.
Thanks.

[2019-11-14 01:28] Karishma-Tiwari-MSFT commented on #42628
@zivraf @MikeBazMSFT Can either of you please share your insights on which services are supported, specifically, is AKS supported? Thanks :)

[2019-11-14 01:31] MikeBazMSFT commented on #42628
I'm sorry, I don't know this answer. I have some thoughts on  who to ask internally if you ping me off of GH.

Sent using Outlook for Android<https://aka.ms/ghei36> - I work for Microsoft, and I use our products

________________________________
From: Karishma Tiwari - MSFT <notifications@github.com>
Sent: Wednesday, November 13, 2019 8:28:47 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.git

[2019-11-14 01:34] ob opened #42777 "Wrong package manager is mentioned"
Where it says:
&gt; On older versions of Red Hat Enterprise Linux and CentOS, use the dnf package manager:
the code snippet suggest using the `yum` package manager. The script is right, the description is wrong.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d60d83f-0094-6c5e-e105-712c24bf1acc
* Version Independent ID

[2019-11-14 01:36] PramodValavala-MSFT commented on #42515
@spacem Hope my previous comment helps. We have removed the redundant section of the doc with the outdated `host.json` settings.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-14 01:36] #42515 closed

[2019-11-14 01:40] santhoshbomma9 opened #42779 "Private plan assigned to any subscriber"
Can we have a private plan and have that plan assign to any(anyone in addition to who the private plan is restricted to) subscriber by calling a patch on the Subscription API?
https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/create-new-saas-offer#technical-configuration-for-azure-resource-manager-test-drive

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2019-11-14 01:46] diberry commented on #42339
#please-close

[2019-11-14 01:46] wesmacdonald commented on #38746
I'm not sure this is true.  I get the error yet I have two upgrades listed in the JSON output (leave off the --output parameter).  The two upgrades also show in the Azure Portal Kubernetes Service.  See my output below

wma@Wess-MacBook-Pro ~ % az aks get-upgrades --resource-group aksResourceGroup --name wmAksCluster --output table
Table output unavailable. Use the --query option to specify an app

[2019-11-14 01:56] sebdau commented on #7650
Same issue here, we deploy a Vmss with certificate reference in the osprofile which points to a keyvault in anohter owned subscription.
Can you please triage this and update the status?

[2019-11-14 02:07] nitbhatt opened #42780 "Standard ILB- NSG"
-Unlike whats mentioned in the article "Public IP, public Load Balancer endpoints, and internal Load Balancer endpoints are closed to inbound flows unless allowed by a network security group."
-I tested in my lab, found that for Standard ILB, the traffic flow works, even without NSG (on the VM & Subnet).
-Kindly clarify.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2019-11-14 02:08] swinarko commented on #41949
#please-close

[2019-11-14 02:13] menezesedu opened #42781 "firewall whitelisting on pre-requisite"
Our AzureAD Connect Server uses a web proxy that has whitelisted URLs and we noticed that as soon as the Seamless Single Sign On feature was enabled the Azure AD Connect couldn't authenticate to complete an AD Sync because the URL https://autologon.microsoftazuread-sso.com was blocked by the web proxy.

Having the above URL listed in the pre-req along with *.msappproxy.net would have avoid our AAD

[2019-11-14 02:16] ofirmanor commented on #42375
Thanks @christianrondeau
The meaning of severity is explained in the concepts here:
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-overview#overview

In which case do you see Critical alerts mapped to Sev4?

[2019-11-14 02:20] ozhug opened #42782 "Monitor a pipeline run"
Monitor a pipeline run
was getting and error when running the code together.
The pipelineRun.Status returned was "Queued"

changed this line from
 if (pipelineRun.Status == "InProgress")
to
 if (pipelineRun.Status == "InProgress" || pipelineRun.Status == "Queued" )
resolved the issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-11-14 02:28] TomArcherMsft commented on #41227
@dabasejumper I updated the article, ran the steps, and everything works. I'll upload tonight and the article will publish in the morning - around 10:00 A.M. PST. Thanks for your feedback and patience!

[2019-11-14 02:29] KranthiPakala-MSFT commented on #42782
@ozhug Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2019-11-14 02:36] ram-msft commented on #42377
@dtjensen Thanks for the details.we request you to please post your question in the following [stackoverflow forum](https://stackoverflow.com/questions/tagged/luis), we have our engineers and others who are monitoring them and will be happy to help. To get a quicker response please add appropriate tags while posting the query, so that it will have high visibility.
We will now proceed to close this

[2019-11-14 02:36] #42377 closed

[2019-11-14 02:36] KalyanChanumolu-MSFT commented on #42247
@MightyPen @Defkon1 The issue is fixed now.
You should be able to publish without any issues

[2019-11-14 02:37] KalyanChanumolu-MSFT commented on #42077
@MightyPen @Rcoder0907 The issue is fixed now.
You should be able to publish without any issues

[2019-11-14 02:45] asubmani commented on #42628
The ideal scenario would be for PaaS services to also offer an ASR type model. Currently it seems most PaaS services will incur a 100% cost increase for DR with standby infrastructure.  In the case of ASR, one pays for compute on the primary region, a reduced cost for protecting VM is paid, but the VM on the DR region does not incur any cost till it gets activated as the primary. We are exploring

[2019-11-14 02:48] DixitArora-MSFT commented on #42528
@martinstenhoff I have assigned this to content author for further review and update as appropriate.

[2019-11-14 02:49] DixitArora-MSFT commented on #42552
@orionJag For now will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-14 02:49] #42552 closed

[2019-11-14 03:00] GiftA-MSFT commented on #42545
@kishan19 thanks for clarifying. I understand the issue now.

@mrudulan can you please help with this? I tried deploying the web service and confirmed that docker is running in the notebook vm, but the permission error still persists. Can you please confirm whether users can deploy local docker web service using notebook vm? Thanks.

[2019-11-14 03:02] lukeli209 commented on #42701
Do I need to add the UDR on both subnet and gateway subnet? I enable the BGP on all the Gateway subnet. So VNet1 Gateway subnet has the route to VNet2.

[2019-11-14 03:03] MightyPen commented on #42077
@Rcoder0907 We believe that this Issue #42077 is now fixed.

- _Related to:_ &nbsp; `https://github.com/microsoft/WingtipTicketsSaaS-MultiTenantDB/issues/14`

I am now Closing this fixed Issue:
#please-close

Thank you for submitting this Issue. We hope to hear from you again.

cc: @KalyanChanumolu-MSFT

[2019-11-14 03:12] vinyar commented on #42673
@tfitzmac  - hi Tom, yes, I got past the issue. It's just frustrating that the commands return all of the images instead of just the available ones. Once i read the comments here and the troubleshooting article on how to narrow things down to what's available in the region I'm using.

[2019-11-14 03:21] vinyar commented on #42673
In the interest of a more actionable solution - perhaps the new-azvm error messaging could be cleaner? I've seen it throw a generic error in some cases, and a list of available VMs /sizes in other cases.

If this error could be modified to provide the list of available options, it would be a step in the right direction.

[2019-11-14 03:34] TomArcherMsft commented on #41227
#please-close

[2019-11-14 03:34] #41227 closed

[2019-11-14 03:45] BharathNimmala-MSFT commented on #42771
@dcbrown16  Thanks a lot for sharing the feedback and idea for our doc enhancement. I am assigning this to our doc author @mrbullwinkle to further evaluate and see how we can incorporate this feedback into our FAQ's or at root level of documentation. Thank you.

[2019-11-14 03:49] dcbrown16 opened #42785 "IP addresses"
In addition to the URLs listed here, the how-to docs list two IP ranges. Please make the information consistent across these two docs, or have the how-to doc refer back here as the authoritative source.
IP addresses
20.190.128.0/18
40.126.0.0/18
https://docs.microsoft.com/en-us/azure/backup/backup-configure-vault#verify-internet-access

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-11-14 03:56] aluong opened #42786 "Missing reference from "left" navigation menu"
This document page is not part of the "left" navigation tree.
https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-dotnet-standard-api-overview#create-a-receiver

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80b85517-b17e-f319-9c3e-3715750fc072
* Version Independent ID: fae0a7f3-80f8-4c81-bfba-a7c4628b23bb
* C

[2019-11-14 03:59] DataJuggler commented on #42746
I was referring to an Azure pricing document that said Windows billing wasn’t included with reserve pricing, and the page that was supposed to list prices didn’t list any prices.

Not a big deal, you can close this ticket.

From: femsulu-MSFT <notifications@github.com>
Sent: Wednesday, November 13, 2019 6:30 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Corby Nichols <corby@d

[2019-11-14 04:08] SumanthMarigowda-MSFT commented on #42777
@ob Thanks for the feedback!  We are checking on this and will respond to you soon.

[2019-11-14 04:12] RohitMungi-MSFT commented on #42403
@temitopefunmi We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2019-11-14 04:12] #42403 closed

[2019-11-14 04:12] SumanthMarigowda-MSFT commented on #42740
@kevin-dfo Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-14 04:13] SumanthMarigowda-MSFT commented on #42739
@tedgoddard Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-14 04:18] msrini-MSFT commented on #42758
With the single NSG , you can create multiple rulesets. Your organization can create rulesets that are mandatory with lower priority and based on your need, you can allow the certain ports with higher priority to your workloads by requesting them.

[2019-11-14 04:23] nakamacchi opened #42787 "Corresponding Network Service Tag"
Could you please add some info?

We can use some service tags for "Network firewall requirements".
*.ods.opinsights.azure.com, *.oms.opinsights.azure.com -&gt; AzureMonitor service tag
*.blob.core.windows.net -&gt; Storage service tag

Also see https://docs.microsoft.com/en-us/azure/virtual-network/security-overview#service-tags

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-11-14 04:27] nakamacchi opened #42788 "Corresponding urls"
Could you please add some info?

AzureMonitor service tag covers the urls below.
*.ods.opinsights.azure.com, *.oms.opinsights.azure.com

Also see https://docs.microsoft.com/en-us/azure/azure-monitor/platform/log-analytics-agent#network-firewall-requirements

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e905802-0b08-4

[2019-11-14 04:30] souravmishra-msft commented on #42781
@menezesedu, Thank you for sharing the feedback. Also I would like to apologize for the inconvenience caused due to this information missing in our Docs. We are looking into this and will try to update the doc with your recommendation after review.

[2019-11-14 04:40] amanmcse commented on #42776
@rbrayb Thanks for pointing it out. We are looking into this and we will update the documentation after review.

[2019-11-14 05:09] msrini-MSFT commented on #42613
@msandbu , Please tag me if you have any further questions.

[2019-11-14 05:09] #42613 closed

[2019-11-14 05:09] msrini-MSFT commented on #42636
@szolla , Do you have any update for me?

[2019-11-14 05:10] sajeetharan commented on #42379
Same issue while doing a demo

[2019-11-14 05:12] msrini-MSFT commented on #42701
Even if your VMs have the route to VMs in the VNET2, when the packet reaches Hub VNET, packet will not be forwarded to the NVA. So in the HUB VNET's gateway subnet you need to add a UDR to forward VNET2's traffic to NVA.

[2019-11-14 05:14] jakaruna-MSFT commented on #42704
@cynthn  Now aks supports Availability zones https://docs.microsoft.com/en-us/azure/aks/availability-zones#limitations-and-region-availability

Can we add this to the table?

[2019-11-14 05:16] lukeli209 commented on #42701
I have tried to add UDR in gateway subnet but still did not work.

[2019-11-14 05:20] msrini-MSFT commented on #42701
Can you share the rule which you have created ?

Are you not seeing any packets in the NVA?

[2019-11-14 05:21] paulwrussell commented on #42379
Ive tried restarting VSCode and laptop, but neither help.

[2019-11-14 05:27] lukeli209 commented on #42701
On Vnet1 Gateway I am using Address prefix: 172.16.0.4(VM2 in Vnet2's IP address), Next hoop type: Virtual Appliance, Next Hop: 10.0.0.4(NVA IP address).
I was using VM1 to ping VM2 and I did not see any packet in the NVA.

[2019-11-14 05:28] lukeli209 commented on #42701
Address prefix: 172.16.0.4/32

[2019-11-14 05:29] theheatDK opened #42790 "0.0.0.0/0?"
Hi,
If you need to route incoming VPN traffic to a NVA firewall what do you put in your UDR? I assumed it was 0.0.0.0/0, but that is not allowed :-)
Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0377d24-bad6-0d7e-e5b1-0343d225d835
* Version Independent ID: 163949a6-584f-9c7c-815f-ad69f09f83dd
* Content:

[2019-11-14 05:32] dcurwin commented on #42785
#reassign:saurabhsensharma

[2019-11-14 05:32] msrini-MSFT commented on #42701
You need to add a UDR in the Hub VNET gateway not on the VNET1's gateway.

In the Hub VNET gateway subnet did you add a UDR as below,

Destination ID: 172.16.0.4/32 next hop NVA 10.0.0.4

[2019-11-14 05:34] ChiragMishra-MSFT commented on #42773
@ozhug Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-11-14 05:35] ChiragMishra-MSFT commented on #42786
@aluong Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-11-14 05:43] michelamarie commented on #41981
Thanks for your reply, @TravisCragg-MSFT.

Can you point me to the documentation on reassigning IPs to different hosts? I'm particularly interested in doing so manually, and also in doing so with the CLI.

With that information, I may be able to configure an action to be triggered in the Azure service that migrates the VIP to the stand-by host, based on a failed Keepalived heartbeat.

The link you

[2019-11-14 05:46] ecfan commented on #42393
@KetanChawda-MSFT, thanks for responding with how to convert the PFX file to base64-encoded. I'm adding these steps to this topic and expect them to be live with the morning publishing window.

[2019-11-14 05:50] lukeli209 commented on #42701
I also tried this seems like the UDR doesn't work on gateway subnet.

[2019-11-14 05:54] arkiaconsulting commented on #42307
@lisaguthrie @BharathNimmala-MSFT Thank you !

[2019-11-14 06:01] msrini-MSFT commented on #42701
This requires deeper troubleshooting by tracking packets at each hops. can you raise a support ticket ?

[2019-11-14 06:06] mike-urnun-msft commented on #42379
Hi folks - Sorry for the delay. I was able to reproduce this only once in my first try but running `func host start` in my command line seems to have fixed it as I'm no longer seeing this issue in my subsequent attempts. Please try that out while I dig deeper and look further into this.

[2019-11-14 06:15] msrini-MSFT commented on #42737
@zhusulai , Do you have any update on this issue?

[2019-11-14 06:15] msrini-MSFT commented on #42730
@HarrySpyrou , Do you have any update on this issue?

[2019-11-14 06:18] msrini-MSFT commented on #42790
@theheatDK , You need to add your VNET subnet prefixes pointing to NVA.

For example, if the destination is 10.0.1.0/24 (One of your subnet) next hop is NVA's Private IP. Now you can assign this to your VPN gateway subnet.

[2019-11-14 06:21] kev-in-shu opened #42791 "Update required?"
A recent comment (June 2019) on the following feedback page makes it sound like something has recently changed in the way changes to the temporary drive letter is managed.

https://feedback.azure.com/forums/216843-virtual-machines/suggestions/6354326-allow-me-to-maintain-drive-letter-for-the-temp-dri#{toggle_previous_statuses}

I have not tested anything about it yet, but does this page require up

[2019-11-14 06:22] souravmishra-msft commented on #42766
@johnhappygilmore, Thank you for sharing the query. We are looking into this and will get back to you soon on this thread.

[2019-11-14 06:25] ChiragMishra-MSFT commented on #42597
This channel is for driving improvements towards MS Docs, Since this issue is not related directly to the doc,  I would recommend you to create a thread on the forums- [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory)/ [Stackoverflow](https://stackoverflow.com/questions/tagged/azure-data-factory). Once you post your issue on forums, it will have visibility across

[2019-11-14 06:25] #42597 closed

[2019-11-14 06:25] jublair opened #42792 "applicationInsights - vague configuration hierarchy"
Under the applicationInsights section, it is unclear as to whether the non-sampling-related configurations (e.g. EnableDependencyTracking) have to go under the samplingSettings sub-section, or under the root applicationInsights section. The docs should disambiguate this where applicable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-11-14 06:26] Fleid opened #42793 "Output format ignored on local runs"
The doc should make a note that local runs don't respect output format and always default to JSON (line separated) instead. It makes sense, particularly when the output is a native service (Function, SQL DB, Power BI...) but is very confusing when the output asks for a serialization format (Storage, Event Hub...).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2019-11-14 06:37] msrini-MSFT commented on #42780
@nitbhatt , By default, even with Standard ILB and VM with no NSG will work as the traffic is private. You will not be able to RDP to the VM with Standard IP and without NSG from Internet. That's why it is mentioned that the inbound flows are closed.

We can still add a note stating that the communications to the ILB from the VNET are still allowed even if you haven't associated the NSG to the VM

[2019-11-14 06:39] msrini-MSFT commented on #42788
@nakamacchi , Thank you for your feedback. I have assigned this issue to the author to validate and update the doc.

[2019-11-14 06:39] msrini-MSFT commented on #42752
@zhusulai , Do you have any update on this issue?

[2019-11-14 06:44] mike-urnun-msft commented on #42264
@livehands Since this channel is more for driving improvements for MS Docs and we didn't find any faulty steps in doc, as the next step, could you open a thread on [MSDN forums](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureFunctions) with repro steps please?

We will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it a

[2019-11-14 06:44] #42264 closed

[2019-11-14 06:48] choonyip opened #42795 "Error executing example "Build an Azure Kinect body tracking application""
https://docs.microsoft.com/ja-jp/azure/Kinect-dk/build-first-body-app
I followed the example showed in the page above, on Ubuntu 18.04,
with source code https://github.com/choonyip/bodytracking/blob/master/bodytracking/main.c
and CMakeLists.txt https://github.com/choonyip/bodytracking/blob/master/bodytracking/CMakeLists.txt
But I am getting error:

/onnxruntime_src/onnxruntime/core/providers/cuda/

[2019-11-14 06:54] jakaruna-MSFT commented on #42715
#42716 related issue

[2019-11-14 06:56] mike-urnun-msft commented on #42232
Thanks, everyone! I've reached out to the Functions team internally, and we are working on updating the pricing page.

As the next step, we are now proceeding to assign this issue to the content author to further review your feedback around pricing breakdown.

[2019-11-14 07:04] #42776 closed

[2019-11-14 07:37] tkumark opened #42796 "How is RUs distributed to partitions"
In the document you have mentioned this
"Requests to the same partition key can't exceed the throughput that's allocated to a partition"
Could you please elaborate on this?

If we have database level RUs set and minimum RUs per container is 100 (RU/s). If we have partitioned for example by warehouseID and it creates 10 partitions. So will the 100 RU be distributed evenly across all the 10 partitio

[2019-11-14 07:40] ManojReddy-MSFT commented on #42487
@nauxliu The documentation actually refers to the Custom SCIM apps that you can integrate with Azure AD. Salesforce uses its own connector and these functions do not work the same way for their connector.

**Provisioning a role to a SCIM app**

Use the steps below to provision roles for a user to your application. Note that the description below is specific to custom SCIM applications. **_For gall

[2019-11-14 07:43] romankiss opened #42797 "Problem with using a CustomInputSchema"
This document states the following:
_"If your event data doesn't match the expected Event Grid schema, you can still use Event Grid to route event to subscribers."_

That's the great feature of the custom/domain event topic to integrate basically any REST POST driven publisher to the AEG eventing Pub/Sub model directly without any integrator (for example: the Azure Function).

But, the current rel

[2019-11-14 07:56] gprl commented on #41237
@FrankHu-MSFT currently a bit busy, but will get to it as soon as I can.
Thanks

[2019-11-14 07:58] microbecode opened #42798 "Wrong priority range in documentation"
I'm trying to restrict access to an Azure Batch pool with Network security group rules.

If I use a rule with, for example, priority 1 I get an exception saying "The network security group priority must be between 150 and 3500, inclusive". According to my experiments this error is correct. However on this docs page the priority range is claimed to be "A number between 100 and 4096".

P.S. Do I eve

[2019-11-14 08:09] kwaazaar commented on #37649
Yesterday both the workspace and app expressions didn't work (BadRequest, Query error). Today everything works fine again. What happened? I cannot find any information anywhere.

[2019-11-14 08:16] msrini-MSFT commented on #42798
@microbecode , Priority should be between 100 and 4096.

![image](https://user-images.githubusercontent.com/47132998/68838705-2cf8c600-06e5-11ea-98a6-dc74de74ad57.png)

Can you share a screenshot of the error that you are getting ?

[2019-11-14 08:17] PramodValavala-MSFT commented on #42433
@tony-gutierrez This doc is aimed for the older version of the SDK. For the newer version, there is a [separate doc](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-nodejs-how-to-use-topics-subscriptions-new-package) you could refer to.

[2019-11-14 08:17] nithishk commented on #34902
I got the same problem, stream analaytics job seems to be running also my PI gives output but still no dataset is created

[2019-11-14 08:20] KalyanChanumolu-MSFT commented on #42582
@CodeHighlights We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-11-14 08:20] #42582 closed

[2019-11-14 08:20] khobragadenitin commented on #42703
Thanks for response, if possible please share the android sample code also for the same .

[2019-11-14 08:27] theheatDK commented on #42790
Thanks @msrini-MSFT
We have a situation where the VPN uses non Azure public IPs. So we have a range 195.x.x.x/28 that has been added to the address space of our vnet. This is the destination for the traffic coming from on-premise and all traffic should be routed to our NVA’s private IP. Can we do the same here and create a UDR with 195.x.x.x/28 and next hop NVA?

[2019-11-14 08:29] msrini-MSFT commented on #42790
Yes absolutely. You need to create a UDR with 195.x.x.x/28 and next hop as NVA.

[2019-11-14 08:29] microbecode commented on #42798
Here is a skimmed-down example:

[code]

The variable "myex" contains error "The network security group priority must be between 150 and 3500, inclusive".

[2019-11-14 08:30] SadiqhAhmed-MSFT commented on #42710
@anirudhcavale FYI, any insights on this?

[2019-11-14 08:31] cblomart commented on #42428
no code :smiling_imp: as far as i know...

[code]

[2019-11-14 08:32] theheatDK commented on #42790
Thanks for your time @msrini-MSFT. It is very appreciated!
Have a good day :-)

[2019-11-14 08:32] #42790 closed

[2019-11-14 08:38] DixitArora-MSFT commented on #42555
@svangeti Yes, I think that is some of the work on this. The thread tracking this is at https://github.com/Azure/azure-functions-python-worker/issues/227 . Product group has alredy started working on this and based on current estimates it looks like we should be able to get a beta out sometime early next calendar year. So for now will proceed to close this thread. If there are further questions re

[2019-11-14 08:38] #42555 closed

[2019-11-14 08:40] SadiqhAhmed-MSFT commented on #42779
@santhoshbomma9 Thanks for the comment. We are looking into this and will get back to you shortly.

[2019-11-14 08:40] SadiqhAhmed-MSFT commented on #42772
@santhoshbomma9 Thanks for the comment. We are looking into this and will get back to you shortly.

[2019-11-14 08:41] DixitArora-MSFT commented on #42706
@feroz-ahmmed Is there any issues that you are facing . Also this channel is for driving improvements towards MS Docs. So Just wanted to have the clear idea before putting any thoughts.

[2019-11-14 08:43] DixitArora-MSFT commented on #42721
@test123114 As mentioned in the [Azure Cosmos DB: Table API](https://docs.microsoft.com/en-us/azure/cosmos-db/table-introduction) doc, all clients developed for Azure Table can migrate to Azure Cosmos DB by using the Table API with no code change. I can confirm this works. So for now will proceed to close this thread. If there are further questions regarding this matter, please tag me in your repl

[2019-11-14 08:43] #42721 closed

[2019-11-14 08:54] DixitArora-MSFT commented on #42797
@romankiss Thanks for your feedback. We will review and update as appropriate.

[2019-11-14 08:54] #36991 closed

[2019-11-14 08:55] DixitArora-MSFT commented on #42792
Hi @jublair Thanks for your feedback. We will review and update as appropriate.

[2019-11-14 09:04] SadiqhAhmed-MSFT commented on #42785
@dcbrown16 Thanks for the feedback. We are looking into this and will get back to you shortly.

[2019-11-14 09:05] DixitArora-MSFT commented on #42726
@jeffhollan Any inputs in this ?

[2019-11-14 09:09] DixitArora-MSFT commented on #42733
Hi @ironpercival I have assigned this to content author for further review and update as appropriate.

[2019-11-14 09:09] emadalsous commented on #42428
Hello,

The error occurs when we try to read the certificate bytes[] retrieved from KeyVault. It has been a when we encountered the issue. So i am not sure about the exact error but it was something like below:
System.Security.Cryptography.CryptographicException: An internal error occurred.

The error occurs mostly at the moment of the initialization of the certificate:
var item = new X509Certific

[2019-11-14 09:10] tkumark opened #42799 "Is a new partition created for every 25 containers?"
In the example mentioned a new partition is created when 26th container is added. When 27th container is added does it go to the second partition or will it create a new partition

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f2b93a5-28b8-db4a-ab64-6342d3aafc63
* Version Independent ID: 245586f2-63e1-1e78-a5dd-21e8fa

[2019-11-14 09:12] KosukeHosoda opened #42800 ""action" value of Firewall log can be "Matched" and "Detected" other than Blocked and Allowed."
As per the following section, it says "Action taken on the request. Available values are Blocked and Allowed."
https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-diagnostics#firewall-log

However, when using Anomaly Scoring mode (the default for OWASP 3.x), this value can take be Matched and Detected.
https://docs.microsoft.com/en-us/azure/web-application-firewall/ag/ag

[2019-11-14 09:19] LanderVe opened #42801 "How do you debug your JavaScript?"
For me the Pre trigger is not working. But to widen up the question how does one debug this? can I do a console.log? Where can I view this? Some advise here would be very useful

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14913a18-671a-c55f-d082-e750bec7baab
* Version Independent ID: 9cc08ba2-a79f-3ee2-9beb-8919f77d

[2019-11-14 09:21] michelamarie commented on #41981
All right. I have answered my own questions, though I have more.   :)

It took a fair bit of combing through various Azure documentation, and some experimenting, but I've got almost everything worked out in order to accomplish managing public IP addresses with keepalived.

**For others who may come across this ticket in the future, here are the basic steps:**
- Create a new public IP address in th

[2019-11-14 09:24] rayne-wiselman commented on #42016
@kwill-MSFT Hi Kevin. I'm closing this and adding you to internal thread. thx
#please-close

[2019-11-14 09:24] #42016 closed

[2019-11-14 09:25] alexespencer commented on #42717
Hi @GiftA-MSFT - preferrably the linux DSVM - that's great news that it's on the road map, thanks.

[2019-11-14 09:33] ManojReddy-MSFT commented on #41409
@FunkEinstein I got a confirmation that a fix for this bug has been deployed by the engineering team. Can you test this again in your environment and let me know if it's working as expected now?

[2019-11-14 09:34] ManojReddy-MSFT commented on #29978
@ian-s-mac A fix for this bug has been deployed by the engineering team recently. Can you check the behavior in your environment and let us know if it's working now?

[2019-11-14 09:36] ManojReddy-MSFT commented on #42565
@davidcorrigan714 I understand. I will pass the feedback to the engineering team regarding this. As you have a workaround for the issue, I will go ahead and close the issue for now.

[2019-11-14 09:36] #42565 closed

[2019-11-14 09:37] JimBlizzard commented on #41479
Hi @BharathNimmala-MSFT , any update on this issue? Thanks!

[2019-11-14 09:43] msrini-MSFT commented on #42798
@microbecode , According to the REST API docs, the limit is between 100 to 4096.
https://docs.microsoft.com/en-us/rest/api/virtualnetwork/networksecuritygroups/createorupdate#securityrule

Also, I do see a different values in the SDK .NET library

https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.batch.protocol.models.networksecuritygrouprule.priority?view=azure-dotnet#Microsoft_Azure_Ba

[2019-11-14 09:51] msrini-MSFT commented on #42800
@KosukeHosoda , Thank you for your feedback.

@vhorne , can you take a look ?

[2019-11-14 09:59] femsulu commented on #42474
adding @rayne-wiselman

[2019-11-14 10:05] nnamedieh opened #42803 "Filter createdDateTime Explanation"
Hi guys,
would you explain me the difference of the letters after the dot at the end of this statement "createdDateTime gt 2019-04-18T17:30:00.0Z". What means "0Z"? I also visited other pages where sometimes a "1Z" or a "2Z" is used. Can you tell me when I have to use what?
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-11-14 10:13] DennisBaekgaard commented on #42726
As an additional update;

As it seemed some properties are locked through the CLI (we managed to get most set, except the pre-warmed instances)  we changed strategy a bit.

We are currently looking into doing it from the portal with the same fetch request that is fired from the scale-out page, but are hitting some auth issues even though we use the azure token provider.  If we got that working we

[2019-11-14 10:18] vijayapotturu commented on #39724
Hi Team,
I'm also facing the same issue today and unable to progress further it could be great if you can suggest how to fix the below issue.

C:\Users\xxxxxx\Documents\IOT\azure-iot-samples-python-master\iot-hub\Quickstarts\back-end-application>python BackEndApplication.py
Traceback (most recent call last):
  File "BackEndApplication.py", line 9, in <module>
    import iothub_service_client
  Fil

[2019-11-14 10:20] microbecode commented on #42798
Added an issue to the correct repo, thanks.

[2019-11-14 10:20] #42798 closed

[2019-11-14 10:25] TWolverson opened #42804 "Wrong link"
The link to Azure Resource Manager template under the section https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/services-support-managed-identities#azure-logic-apps goes to the documentation for App Service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726adac9-1848-01a6-9586-

[2019-11-14 10:47] AshokPeddakotla-MSFT commented on #41680
@wesmc7777 Please check this and update the doc as appropriate.

[2019-11-14 10:58] TomaszOledzki opened #42805 "copyIndex incomplete dexcription"
Function copyIndex description is incomplete.

"Mode" and "batchSize" parameters also exist as described on https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-authoring-templates#resources site:

"copy": {
  "name": "&lt;name-of-copy-loop&gt;",
  "count": &lt;number-of-iterations&gt;,
  "mode": "&lt;serial-or-parallel&gt;",
  "batchSize": &lt;number-to-deploy-serially&gt;

[2019-11-14 10:59] SumanthMarigowda-MSFT commented on #42769
@PS-MikeM Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-14 10:59] ChiragMishra-MSFT commented on #42793
@Fleid Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-11-14 11:07] rabinandan commented on #25817
@mjb484 comment worked for me.

[2019-11-14 11:12] adityabalaji-msft commented on #42280
#please-close

[2019-11-14 11:12] #42280 closed

[2019-11-14 11:32] cephalin commented on #42428
If you're retrieving the cert directly from KeyVault then you need to consult the KeyVault documentation on how to do it. It's beyond the scope of this doc. As @RyanHill-MSFT mentioned, this doc is for using certs (including KeyVault certs) that you've **imported** into App Service, and want to use as a cert in App Service in your code.

[2019-11-14 11:33] sajeetharan commented on #42379
@mike-urnun-msft no it does not. still, I am getting the same error

[2019-11-14 11:45] yulin-li commented on #42343
Hi @upsilondynamics

Thanks for your feedback. The root cause is also the auto-enabled word boundary feature, as same as your another issue https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/433

You can disable the word boundary feature as a work around.
`speechConfig.SetProperty("SpeechServiceResponse_Synthesis_WordBoundaryEnabled", "false");`
We will let you know when this bu

[2019-11-14 11:45] ChrisParrBIE opened #42806 "Screenshot of Client Apps doesn't match options visible in the portal"
I can currently see the following:
- Browser
- Mobile apps and desktop clients
- Modern authentication clients
- Exchange ActiveSync clients
- - Apply policy only to supported platforms
- Other clients

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad5f26dc-2f8f-ef76-3d20-a0a42d2bbada
* Version Independent ID: a0e971d1

[2019-11-14 11:46] gprl commented on #41237
@FrankHu-MSFT, just replied to you via email, please let me know if you need anything else.

[2019-11-14 12:01] SadiqhAhmed-MSFT commented on #42805
@TomaszOledzki Thank you for the feedback. This issue is being assigned to the content author to evaluate and update as appropriate.

@tfitzmac FYI.

[2019-11-14 12:07] cblomart commented on #42428
If I am not mistaken the title of the doc is « Use an SSL certificate in your code in Azure App Service«  which is what we want to accomplish.

We are not reading the certificate from keyvault but from the config which is provided by keyvault. ( notice the byte comes from configmanager app settings).

Mostly this works but we can’t run that on a free/shared tier and that is the reason for the issu

[2019-11-14 12:15] msrini-MSFT commented on #42701
If you don't have a support plan, drop an email to azcommunity@microsoft.com with your subscriptionID along with the link to this issue.

[2019-11-14 12:15] #42701 closed

[2019-11-14 12:21] jakaruna-MSFT commented on #42716
@delbus I will update the doc

[2019-11-14 12:24] jakaruna-MSFT commented on #42715
@wmeints @delbus

i will update the doc .

Actual example from https://cert-manager.readthedocs.io/en/latest/reference/issuers.html#  has a key called solvers.

Our example dont need it though. I will check and update

[2019-11-14 12:24] FunkEinstein commented on #41409
@ManojReddy-MSFT I will test it tomorrow!

[2019-11-14 12:25] wisesimpson opened #42808 "Where's the explanation for "extensionBundle" property?"
And how to specify the desired extension version to load?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27150c55-615f-fb44-d5e4-7b5815631c7d
* Version Independent ID: 271006dc-afce-99f3-0790-41fa2e35b22b
* Content: [host.json reference for Azure Functions 2.x](https://docs.microsoft.com/en-us/azure/azure-functions/fun

[2019-11-14 12:25] elSagie commented on #42571
@sladeedmonds - we want to investigate this issue and response to your concern. can you please provide your Subscription ID, VMName, Workspace ID?
Please send your response directly to me eli.sagie@microsoft.com subject: "Github issue 42571"

[2019-11-14 12:25] jakaruna-MSFT commented on #42716
@delbus I will close this issue and tract the doc update progress from this issue #42715

[2019-11-14 12:26] #42716 closed

[2019-11-14 12:27] jakaruna-MSFT commented on #42685
@josem0287 I will check and update you

[2019-11-14 12:28] alpinedelight commented on #29919
This in my opinion is a really big oversight - no powershell, cli, or portal ui functionality... really?
How should organisations add new groups to existing datalakes? Craft 200 million rest calls to add ACLs? Please prioritize this. At least match the functionality of Gen1 before calling something Gen2... more like Gen 0.5

[2019-11-14 12:29] joe-shields-mccann opened #42809 "Batch testing tool zip not found"
Hi the bt.zip file is not found?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 858a1c9d-35a7-f809-0fb5-39eec8fca69d
* Version Independent ID: 5c8caacd-0943-c97c-7a14-7f5cf0edc83d
* Content: [How to test a knowledge base - QnA Maker - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/q

[2019-11-14 12:32] jakaruna-MSFT commented on #42791
@kev-in-shu Thanks for the feedback.
I will check and update you

[2019-11-14 12:39] danangwijaya750 commented on #30614
@walsehgal i use my subcription ID.

[2019-11-14 12:50] Digiroka commented on #27791
In my case, MFA has caused this issue.
I have an account with RDS Owner (on the RD tenant) and Tenant Creator (on the Enterprise App in AAD) roles assigned, yet I still received the error
`"User is not authorized to query the management service"`
When trying to run `Get-RdsDiagnosticActivities`
Running with an identical account without MFA applied resolved the issue.

[2019-11-14 12:56] NavtejSaini-MSFT commented on #42667
@dmarlow This [link ](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-serverless#scaling-responsiveness)in the document explains this behavior.
![image](https://user-images.githubusercontent.com/52257742/68858867-0bcbb180-06b4-11ea-81b7-4aa334f9540d.png)

The best possible way to even mitigate the connections drop is to always have the retry logic in your application. When the con

[2019-11-14 12:57] memildin commented on #40182
The docs for the Azure Log Analytics agent do list Windows Server 2008 as a supported version. They also state that support is for X64:
https://docs.microsoft.com/azure/azure-monitor/platform/log-analytics-agent#supported-windows-operating-systems

I'm going to close this issue, but please let us know if you still have any questions and feel free to reopen this query.

#please-close

[2019-11-14 12:57] #40182 closed

[2019-11-14 13:15] NavtejSaini-MSFT commented on #42796
@tkumark We are checking this and will get back to you.

[2019-11-14 13:16] NavtejSaini-MSFT commented on #42799
@tkumark We are checking this and will get back to you.

[2019-11-14 13:17] NavtejSaini-MSFT commented on #42801
@LanderVe We are checking this and will get back to you.

[2019-11-14 13:36] christianrondeau commented on #42375
Thanks for the link, we finally got it figured out but it would be nice to get this link directly in the common schema definition page.

The issue comes from application insights severity using the reverse order (the field being called severity and having the same numbers led us to believe they were the same)

This is the main cause of confusion, in Application insights and the APIs we use :
https

[2019-11-14 13:45] JeroenStravers1 opened #42812 "Unable to run try it code"
When I try to run the sample code using the "Try it" button I am prompted to sign in in the focused view. When I click the "sign in" button it refreshes, again prompting me to sign in. If I click it a few more times the entire "Try it" option simply disappears, as does the focused view.

The catch is that I am already signed in.

---
#### Document details

⚠ *Do not edit this section. It is requir

[2019-11-14 13:46] mlearned commented on #41374
this is being published today, fyi.

[2019-11-14 13:48] JeroenStravers1 opened #42813 "Hierarchical-namespace arg using az cli throwing error"
When I try to deploy an adls gen2 account through az cli using the code provided above I get an error message stating "az: error: unrecognized arguments: --hierarchical-namespace true". I need to have this enabled and am able to create a gen2 store with hierarchical namespace enabled through a template.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-11-14 13:52] JeroenStravers1 commented on #42813
Feel free to ignore this, I will try adding az extension add --name storage-preview. My apologies!

[2019-11-14 14:01] nupur0308 commented on #33950
az iot hub: 'device-identity' is not in the 'az iot hub' command group. See 'az iot hub --help'.i am getting this error

[2019-11-14 14:03] axthosarouris opened #42814 "Links to on implementation examples."
Would it be possible to have links to examples that implement each of these calls using the Microsoft libraries?  The documentation in general is very poorly organized around the authentication topic.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fef99ca3-72bb-2c48-a62b-9ff9c314d72b
* Version Independent ID: e58fd3a1-

[2019-11-14 14:04] Boris344 opened #42815 "Mismatch between licence requirements on the page and in the first video"
Hello,

Just to tell you that we do not the exact information regarding licence requirements. In fact, in the section "Licence requirements" of this page, we see that the requirement is "Azure AD Premium 2" license. But, in the first video of this page, we can see that the possible option for licensing are "Enterprise Mobility + Security (EMS) E5" and "Azure AD Premium 2".

Could you provide on th

[2019-11-14 14:08] GiftA-MSFT commented on #42809
@joe-shields-mccann thanks for reaching out, we'll look into this issue and get back to you shortly.

[2019-11-14 14:11] techiechap commented on #42434
@MicahMcKittrick-MSFT  I have been reading this thread to enable [RBAC (https://github.com/terraform-providers/terraform-provider-azurerm/issues/1429), & [this](https://github.com/MicrosoftDocs/azure-docs/issues/20862) but  am not quite clear about enabling RBAC support

[2019-11-14 14:11] SumanthMarigowda-MSFT commented on #42787
@nakamacchi Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-14 14:13] SumanthMarigowda-MSFT commented on #42795
@choonyip Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-14 14:13] SumanthMarigowda-MSFT commented on #42803
@nnamedieh Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-14 14:14] SumanthMarigowda-MSFT commented on #42804
@TWolverson Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-14 14:16] SumanthMarigowda-MSFT commented on #42806
@ChrisParrBIE Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-14 14:16] JeroenStravers1 commented on #42813
This fixed it. I had the same issue as DaveKLloyd though, the hierarchical-namespace arg is not in the docs.

[2019-11-14 14:16] SumanthMarigowda-MSFT commented on #42808
@wisesimpson Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-14 14:21] SadiqhAhmed-MSFT commented on #42779
@santhoshbomma9  Could you please describe what are you trying to achieve here?
Does an ISV want to change the audience for private plan programmatically?

Patch API call is for changing plan / seats number.

[2019-11-14 14:21] szolla commented on #42636
@msrini-MSFT Thanks for checking in, i also opened up an MS support case on this and they gave me the same instructions above.  I was about to test these options out successfully.  One of the issues that I was also having was that I was attempting to use a Guest account in the AD Tenant to authenticate to the VPN and also to approve the creation of the Azure VPN Client App in the AD tenant.  Once

[2019-11-14 14:25] szolla commented on #42573
@anzaman Thanks for your help. I was able to resolve this issue by the guidance i was given as part of #42636 and with opening up a support case with Azure support.  I have this working now thanks.

[2019-11-14 14:30] HQJaTu commented on #35298
Any comment on this?

I just upgraded an AppGw V1 into V2 and looks like I need to roll it back. Intermediate CA certificate needs to be delivered in the TLS handshake. I'm even using the same certificate `.pfx` file than with V1 and it worked there. With V2, no such joy.

[2019-11-14 14:33] zhusulai commented on #42737
Hi @msrini-MSFT, no updates. I set up my NSG exactly as stated in the document but not able to assign it to the AzureBastionSubnet. I've tried your suggestion of adding inbound rules for 22 and 3389 and that didn't work either. Can you please check exactly what the logic is behind the error `NetworkSecurityGroupNotCompliantForAzureBastionSubnet`?

[code]

[2019-11-14 14:35] erhopf commented on #42343
#reassign: @yulin-li

[2019-11-14 14:35] threesixfour opened #42817 "7000215 Not Documented"
7000215 is not documented. The message I'm receiving is "Invalid client secret is provided."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa732de6-2cab-d780-aa21-dfec80e0a8fe
* Version Independent ID: 1a11b9b6-cf4f-3581-0864-0d5046943b6e
* Content: [Error codes in the Azure Active Directory portal](https://docs.micro

[2019-11-14 14:36] tfitzmac commented on #42805
@TomaszOledzki - Thanks for your feedback. mode and batchSize are properties on copy, which is an object within the template schema, not a template function. copyIndex is the function that is used with the copy object. I agree it is a bit of a technicality but ultimately decided to keep that separation.

[2019-11-14 14:37] tfitzmac commented on #42805
#please-close

[2019-11-14 14:37] #42805 closed

[2019-11-14 14:48] tdrjin opened #42818 "Perform OCR skill on scanned PDF do not return text"
I am using OCR to extract text from a scanned pdf document and feed the output into a search index. When I set imageAction to 'generateNormalizedImage', it returned something like '[image1.tif]\n\n\n\n[image2.tif]\n\n\n\n' etc... When I set imageAction to 'generateNormalizedImagePerPage', I get '[pageimage0.jpg]\n\n\n\n [pageimage1.jpg] etc.... However, none of the time it returned actual text fro

[2019-11-14 15:01] mafis-hh opened #42819 "DataFactory can't write into ADLS when its network is restricted to "selected networks""
We are in a setup with a Blob Storage Gen2 with hierarchical filesystem enabled (Data Lake Store Gen2) and Data Factory to get Data into ADLS and out of ADLS.

We enabled on the Storage the "selected networks" endpoint and added our own VNET. We tried to integrate all our azure services into that VNET. And for the ones without service endpoint available we enabled the option "Allow trusted Microso

[2019-11-14 15:05] baughmann opened #42820 ""Regions and endpoints" section is incomplete"
The "regions and endpoints" section consists solely of the text `[!INCLUDE]`, and does not actually include a list of regions and endpoints.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11673bc9-9062-278d-c5b8-84b05f2b81be
* Version Independent ID: 29347a63-de63-4ff0-5a62-149ab31d1b7e
* Content: [Speech-to-text API r

[2019-11-14 15:11] cephalin commented on #39564
@bouchaet @PeterRockstars @saurabhvartak1982 I just tested the scenario in the doc today and cannot reproduce the issue. Everything connects as expected both from App Service and from Visual Studio.

If you're running a scenario that's not the same as what's in the doc (AKS, for example), you'll need to read up on AKS docs for information, or engage with the forum for help. Thank you.

[2019-11-14 15:13] markjbrown commented on #42796
There are two concepts to understand here. How throughput is distributed across partitions in a container and how throughput is distributed across containers when using database-level throughput.

For database-level throughput, RU/s is spread evenly across all containers within the database. What is important to understand about this is that these containers all need to have roughly the same reque

[2019-11-14 15:14] markjbrown commented on #42801
@NavtejSaini-MSFT can you assign to @aliuy ?

Thanks.

[2019-11-14 15:17] markjbrown commented on #42799
It goes to the second partition.

Thanks.

#please-close

[2019-11-14 15:17] #42799 closed

[2019-11-14 15:17] markjbrown commented on #42796
#please-close

[2019-11-14 15:17] #42796 closed

[2019-11-14 15:28] cephalin commented on #17648
@gdv820 Are you deploying using [az webapp up](https://docs.microsoft.com/en-us/cli/azure/webapp?view=azure-cli-latest#az-webapp-up)?

[2019-11-14 15:30] dtjensen commented on #42377
Posted the question in SO -

https://stackoverflow.com/questions/58860356/luis-url-for-container

________________________________
From: Ram <notifications@github.com>
Sent: Wednesday, November 13, 2019 8:36 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Jensen, David <David.Jensen@insight.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Optio

[2019-11-14 15:30] dtjensen commented on #42377
Sorry - wrong issue.

________________________________
From: Ram <notifications@github.com>
Sent: Wednesday, November 13, 2019 8:36 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Jensen, David <David.Jensen@insight.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Optional mount points for custom Dockerfile (#42377)

@dtjensen<https://github.co

[2019-11-14 15:34] cephalin commented on #42147
@petercmho @paulghodgson In my experience you don't need to touch the master database for this. @petercmho I'd check two things:

1. Whether you're actually getting a good token inside VS (use a JWT parser), with the expected user, etc. If not, something's wrong with your VS or project configuration.
2. If the SQLDB server firewall is configured properly. For example, is your client IP added as an

[2019-11-14 15:34] markjbrown commented on #41909
Cosmos has a rather simple architecture in this regard. SQL Server's architecture however is complex because it was not designed to run in the cloud and provide regional fail over capabilities when it was designed. So I think you're looking for complexity where none exists.

Cosmos is designed to run in the cloud to replicate and maintain multiple active replicas of data with the consistency level

[2019-11-14 15:34] #41909 closed

[2019-11-14 15:36] SamaraSoucy-MSFT commented on #42216
I'm going to assign this one to the doc author to address.

[2019-11-14 15:38] hjlarrea commented on #42661
Awesome, thanks a lot for the info!

- Closing the issue -

[2019-11-14 15:38] #42661 closed

[2019-11-14 15:41] rajat28negi opened #42821 "After adding custom skill getting this error in Azure Search:Could not execute skill. WebApi skill response contains errors."
The detailed error is: WebApi response contains both data and errors. Will not process Data.;Cannot process record without the given key 'text' with a string value.

**Skillset for custom Skill is;**
 {
            "@odata.type": "#Microsoft.Skills.Custom.WebApiSkill",
            "name": "technology",
            "description": "Technology Extraction Skill",
            "context": "/document",

[2019-11-14 15:42] msmimart commented on #41464
Thank you for pointing this out, we'll update the article to include these browsers.

[2019-11-14 15:50] jtuliani opened #42822 "Broken template?"
The template sample given is missing the 'autoUpgradeMinorVersion' property. This gives a warning when using the template in VS Code

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08b1a2dc-7fa3-20d8-d6d9-990bf1cfe34d
* Version Independent ID: 98c9a0f0-35bc-eacd-9aaf-acfd4b968fee
* Content: [Microsoft Antimalware Extens

[2019-11-14 15:50] SamaraSoucy-MSFT commented on #42473
@anuraj If you need to run your management onpremises, then FeatureBits will allow that via SQL Server.

FeatureManagement is backed by the Azure App Configuration service which is specifically designed for feature management. I'm not too familiar with FeatureBits abut it does look like FeatureManagement has some additional features like caching values and the ability to designate backup configura

[2019-11-14 15:50] #42473 closed

[2019-11-14 15:51] simon-michaud opened #42823 "Query threat detection event in log analytics ?"
Is there any way to Access Threat detection events/data from Log analytics ?

Before it was in SecurityAlerts table, but now it's empty (due to alert migrations ?)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8b43b28-f8e6-a718-7bcd-b42ee2b19416
* Version Independent ID: 63f89c9e-cab7-531a-0a69-9a7e9ab0521b
* Content

[2019-11-14 15:51] buildbod opened #42824 "azure-search-dotnet-samples requires C#7.1"
The  azure-search-dotnet-samples used in this tutorial requires C#7.1. Visual Studio defaults to the latest major release i.e. 7.0. Therefore it is necessary to change to C#7.1 by:
Right click on the C# AzureSearchMultipleDataSource node in the Solution Explorer
Select Properties this opens a configuration page
Select Build from the left column
Scroll down to the bottom of the page
Select Advanced

[2019-11-14 15:52] mghafoori opened #42825 "request is missing required parameter: grant_type"
Following instructions of this page, I keep getting this response when I try to acquire a token.

{
  "error": "invalid_request",
  "error_description": "AADB2C90083: The request is missing required parameter: grant_type.\r\nCorrelation ID: a83acc94-6e24-4a6a-8089-d32fad452716\r\nTimestamp: 2019-11-14 15:41:55Z\r\n"
}

I use REST Client extension in the VS Code to send this request (private data i

[2019-11-14 15:52] MicahMcKittrick-MSFT commented on #42822
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-14 15:53] dotMikeH opened #42826 "Maximum Inclusions/Exclusion for CAPs"
We ran into an issue where we could only exclude 640 applications from a conditional access policy from the portal. I believe any limits around CAPs should be documented here. A thing to note is the limitation from graph API, because we were able to add more than 640 applications to the exclusion through the graph API.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2019-11-14 15:55] Anthony-Breneliere opened #42827 "How to activate a virtual environment of a python function app deployed in Azure"
For the first time I deployed a Python function app to Azure using a deployment pipeline:

https://docs.microsoft.com/bs-latn-ba/azure/azure-functions/functions-how-to-azure-devops

The package is deployed to Azure using Kudu Zip deploy.

My http triggered function runs wonderfully locally (on Windows), but I have a 500 internal errors on Azure because it does not find the module **requests**.

im

[2019-11-14 15:57] erhopf commented on #42820
@baughmann thanks for spotting this bug. I've just pushed an update to fix this and it should be published later this morning.

#please-close

[2019-11-14 15:57] #42820 closed

[2019-11-14 16:02] #41464 closed

[2019-11-14 16:02] Anthony-Breneliere commented on #42827
I also added the question to [stackoverflow.com](https://stackoverflow.com/questions/58860947/how-to-activate-a-virtual-environment-of-a-python-function-app-deployed-in-azure)

[2019-11-14 16:04] KalyanChanumolu-MSFT commented on #42696
@mhabibal13 We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-11-14 16:04] #42696 closed

[2019-11-14 16:07] TomArcherMsft commented on #41227
@dabasejumper The article is now live: https://docs.microsoft.com/azure/terraform/terraform-create-k8s-cluster-with-aks-applicationgateway-ingress

[2019-11-14 16:15] MicahMcKittrick-MSFT commented on #41667
I am still working to 100% confirm, however we do believe that the newer versions of the OS should work. However we don't have much testing in place to completely confirm on that. So if you are interested in giving it a go, it should work. I have tested the nano images but not the server core version. So we believe it should work but again haven't tested that specific version. We will attempt a te

[2019-11-14 16:23] MicahMcKittrick-MSFT commented on #42751
@pparamalingam I don't believe this is possible via the API.

@bandersmsft could you confirm? I see you are the author of that API documentation

https://docs.microsoft.com/en-us/rest/api/billing/enterprise/billing-enterprise-api-reserved-instance-recommendation

CC @cynthn

[2019-11-14 16:25] SirHernan69 commented on #41336
In my case, the Manager column is not even displayed!

[2019-11-14 16:26] MicahMcKittrick-MSFT commented on #42434
Adding @MicrosoftDocs/aks-pm to help as I cannot repro the issue but they might have some additional thoughts on this.

[2019-11-14 16:27] mjannapureddy07 opened #42828 "Same machine in two different back-end pools"
Hello,

We have been using Application Gateway with a simple backend pool configuration with Virtual machines. We have two different pools with a corresponding listeners from two different hostname HTTP setting configurations.  Essentially its hosting two different websites (Although has the same code base). We have a machine (VM or App) that has a code for website maintenance which we would like

[2019-11-14 16:29] yegu-ms commented on #42307
@arkiaconsulting Thank you for your feedback! I'm going to close this issue. If you feel that we haven't addressed your question satisfactorily, please let us know.

#please-close

[2019-11-14 16:29] #42307 closed

[2019-11-14 16:33] #42777 closed

[2019-11-14 16:33] dcurwin commented on #42637
The document has been updated.

#please-close

[2019-11-14 16:33] #42637 closed

[2019-11-14 16:35] jgwinner commented on #41277
Well, we're using an On Prem AD by Azure File Copy, but not via Azure files, so I understand.

We'd be VERY interested in the private preview. How can I get access?

        == John ==

[2019-11-14 16:36] ashkansirous commented on #42220
@FrankHu-MSFT I have an open issue for this exact issue there from Jan 18, 2019 (11 month ago) but there was no reply to it. Would it be the right place to track it? :)
https://github.com/Azure/AzureAD-BYOA-Provisioning-Samples/issues/22#issuecomment-553962428

[2019-11-14 16:36] JustenCs opened #42829 "Tool?"
This is great! The interface alludes to a tool: We've detected on-premises settings for this relying party that can be migrated to a new Azure AD enterprise application. We'll map the fields and create the new application, but users won't be redirected to it until you say so.
When might we see that?
Regards
Charlie

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2019-11-14 16:36] jgwinner commented on #41277
Oh, sorry - regardless, it's somewhat odd looking and I think it would be helpful to be documented. I mean, you didn't even know what it was! :)

        == John ==

[2019-11-14 16:38] MicahMcKittrick-MSFT commented on #42131
@jlongo62 I have had some discussions offline and I am going to close this as there is not a doc updated needed. However, to better address your situation and how we can fix it, can you open an issue here: https://github.com/Microsoft/service-fabric/issues

The Service Fabric Product Team is there and can help further. You can also CC me in the issue and I an help get traction and answers for you

[2019-11-14 16:38] #42131 closed

[2019-11-14 16:40] msrini-MSFT commented on #42636
@szolla , thank you for your feedback. Referenced issue is already assigned to the author to validate and make necessary changes. I will close this issue as your issue is resolved.

[2019-11-14 16:40] #42636 closed

[2019-11-14 16:43] MicahMcKittrick-MSFT commented on #41470
@ameetkonnur it is looking like this is not supported. However I have worked offline with some of the AKS Product Team members and they have requested you open an issue here: https://github.com/Azure/AKS/issues

That way they can have engineering look further into it and better track the progress. You can also CC me on that issue so I can help as well.

[2019-11-14 16:43] #41470 closed

[2019-11-14 16:44] PramodValavala-MSFT commented on #42808
@wisesimpson Information about the `extensionBundle` property can be found [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-register#extension-bundles). You can specify the version to load based on [these notations](https://docs.microsoft.com/en-us/nuget/concepts/package-versioning#version-ranges-and-wildcards).

We are assigning this issue to the content author for

[2019-11-14 16:44] MicahMcKittrick-MSFT commented on #42742
@jmcshane I have worked offline a bit on this and the AKS team suggests opening an issue here: https://github.com/Azure/AKS/issues

That way they can have engineering take a look and better track. You can CC me in that issue so I can advise further as well.

[2019-11-14 16:44] #42742 closed

[2019-11-14 16:45] Anthony-Breneliere commented on #41348
@svangeti I deployed the python function with WEBSITE_RUN_FROM_PACKAGE=1. I can see and run functions. But some of the libraries are not found and I get a 500 error.  I suppose the virtual environment (that contains the library) shipped in the package is not activated and I am wondering how that can be done. I followed the procedure: https://docs.microsoft.com/bs-latn-ba/azure/azure-functions/func

[2019-11-14 16:47] rameshjanjyam opened #42830 "Given that this is a server side app, why ID tokens under implicit flow has to be checked"
on app registration page it says to use `implicit flow` only for public client apps. This example builds a server side app, so why do we need to check ID tokens under `implicit grant`? Also in the code sample I see that no `client secret` is mentioned any where in the settings. how the app is still getting authenticated successfully when no client secret is provided. please clarify

---
#### Docum

[2019-11-14 16:48] ob opened #42831 "There is a small bug in the script to test that the port 445 is open"
The line that reads
[code]
should be
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d60d83f-0094-6c5e-e105-712c24bf1acc
* Version Independent ID: 594af294-fd5d-a8c7-d456-6d753b7b62f8
* Content: [Use Azure Files with Linux](https://docs.microsoft.com/en-us/azure/storage/files/storage-how-to-use-files-linux#feedb

[2019-11-14 16:49] MicahMcKittrick-MSFT commented on #42822
@jtuliani as it was just a warning and not an error, it shouldn't be blocking you. That being said, I updated the template to avoid that warning :)

Once the PR merges the changes will go live after a few hours.

[2019-11-14 16:49] #42822 closed

[2019-11-14 16:50] diberry commented on #42809
@joe-shields-mccann Thank you for reporting this. I've reached out to the product group to determine the exact/correct URL. #in-progress

[2019-11-14 16:50] MicahMcKittrick-MSFT commented on #42434
@techiechap as this feature is in preview, I was advised that you should open an issue here:
https://github.com/Azure/AKS/issues

We have the Product Team and AKS engineers on that repo and they can dig in deeper. From a doc perspective there is nothing to update. Please CC me in that issue so I can assist as well :)

[2019-11-14 16:50] #42434 closed

[2019-11-14 16:53] ob commented on #42831
Dup of https://github.com/MicrosoftDocs/azure-docs/issues/42008

[2019-11-14 16:53] #42831 closed

[2019-11-14 16:54] OranguTech opened #42833 "powershell examples have wrong parameter name"
Both  say `Get-AzVM -ServiceName `, but that makes no sense and https://docs.microsoft.com/en-us/powershell/module/az.compute/get-azvm?view=azps-3.0.0 doesn't list it either. Should be `-ResourceGroupName`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3e8d339-e4ac-d208-fc3a-871d453e0694
* Version Independent ID: 8849

[2019-11-14 16:54] falmada opened #42834 "Trigger starts from start time, not start time + recurrence"
The article states "Therefore, the trigger runs the pipeline 15 minutes, 30 minutes, and 45 minutes *after* the start time".

Just tried myself as I was getting a job running twice, when I only wanted it once, and it also run the pipeline at the start time. Example was to run a job at 4:25 PM, with a recurrence of 5 minutes, and end date at 4:31 PM. Per above statement, it should run once at 4:30

[2019-11-14 16:54] yegu-ms commented on #42473
@anuraj FeatureManagement is a collection of libraries officially released by Microsoft and supported by a product team. FeatureBits is an open-source project. Please keep these in mind when you make a choice. Thanks!

[2019-11-14 16:56] #42761 closed

[2019-11-14 16:56] orspod commented on #42694
@1stcommander thank you for your feedback.
Support for parquet in ingestion is new and doc hasn't been updated yet.
Created https://github.com/MicrosoftDocs/azure-docs-pr/pull/95972 to update doc.

[2019-11-14 16:58] orspod commented on #42694
#please-close

[2019-11-14 16:58] #42694 closed

[2019-11-14 17:00] bandersmsft commented on #42751
@pparamalingam Checking with @yashesvi .

[2019-11-14 17:02] KSchlobohm opened #42835 "ID tokens documentation does not describe the "hasgroups" claim"
It would be helpful for the specification to document the scenario described in this [related issue](https://github.com/MicrosoftDocs/azure-docs/issues/6996#issuecomment-380631000).

The [SAML token reference](https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-saml-tokens) seems to indicate that this is related to the "Groups Overage Indicator" claim.

---
#### Document Deta

[2019-11-14 17:03] djpmsft commented on #42834
Hey @falmada,

You can manually trigger a run from either the UX or the SDK! To trigger a run via the UX, go to the pipeline canvas. Click **Add trigger** and then **Trigger now**. This will be a one-time trigger of the published pipeline

Thanks,
Daniel

[2019-11-14 17:06] bandersmsft commented on #42746
@DataJuggler I'll revise the title for the section for clarity.
#please-close

[2019-11-14 17:06] #42746 closed

[2019-11-14 17:10] jmcshane commented on #42742
Thanks @MicahMcKittrick-MSFT, created https://github.com/Azure/AKS/issues/1316

[2019-11-14 17:10] nhwilly commented on #40990
Yeah, right now, Google expects `GOOGLE_APPLICATION_CREDENTIALS` to be stored in a Json file and accessed from an environment variable containing the path.  They also have a `FromJson` option, but I *cannot* get the string saved into a vault and retrieved properly.  Exact same file works locally, so I know it's not some typo.

Trying to find a file in an Azure Function that ends up in my repo is t

[2019-11-14 17:13] MicahMcKittrick-MSFT commented on #42742
Great! I am following that issue now :)

[2019-11-14 17:14] TomArcherMsft commented on #41244
@iharrington Thanks for the feedback! I'm looking into this now.

[2019-11-14 17:14] techiechap commented on #42434
@MicahMcKittrick-MSFT  Thanks, as i have read threads mentioned above am still unable to spin  rbac enabled AKS cluster through terraform,
When i tried to to run the terraform plan i get " Blocks of type "azure_active_directory" are not expected here" I also tried with aad_profile,  not sure how enable rbac with terraform,

[2019-11-14 17:15] diberry commented on #42809
The URL is https://aka.ms/qnamakerbatchtestingtool - I'll update the URL in the doc. #please-close

[2019-11-14 17:15] #42809 closed

[2019-11-14 17:16] djpmsft commented on #42834
But answer your original question, Schedule triggers have their first run at the start time and then run in the recurrence intervals after

[2019-11-14 17:21] Datachick commented on #38455
This issue is still there.  And it's happening on both the Costs Advisor page and the Performance Advisor page (the link to the other page is pointing to the same page).

[2019-11-14 17:24] KetanChawda-MSFT commented on #42797
@spelluru / @banisadr Any thoughts here from product side.

[2019-11-14 17:26] ashortdev commented on #28157
Gary,

What is "lots of AADDS" stuff? I'm currently in the same position of being unable to get this working.

My setup is an AADDS resource group + vnet peered to a WVD resource group + vnet in the same region.

[2019-11-14 17:29] ggailey777 commented on #19391
@brettcannon we just updated the [Python reference article](https://docs.microsoft.com/azure/azure-functions/functions-reference-python)  to clarify the build options available by using Core Tools (`func azure functionapp publish`). I am going to close this issue, since it isn't a documentation issue. Please reopen if you disagree. #please-close

[2019-11-14 17:29] #19391 closed

[2019-11-14 17:29] mhopkins-msft commented on #42414
@MattiasAng - I've updated the links to point to the temporary location until the API reference is published on docs.microsft.com. Thanks again!

[2019-11-14 17:30] DCtheGeek commented on #40799
@sakthi-vetrivel This is now resolved.  Thanks for pointing it out!

cc / @bwren

@MicrosoftDocs/azure-cxp-triage #please-close

[2019-11-14 17:30] CarlRabeler commented on #42478
Azure SQL Database is always updated ahead of SQL Server.

"Querying our prod Azure SQL Database shows 12.0.2000.8." This version number shown by querying the Azure SQL Database server is independent of the version number that you get when querying the version number of SQL Server. Also, this is different that the compatibility level - both SQL Server and Azure SQL Database support multiple compat

[2019-11-14 17:30] #40799 closed

[2019-11-14 17:31] Datachick opened #42836 "Link to Advisor Cost recommendations is wrong"
Under Next Steps, the link to cost recommendations page links back to this page, instead of the cost page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8764e5af-e50f-feba-5c22-47f7441e3ff8
* Version Independent ID: 56c05277-9672-bf97-8841-c8fd44011039
* Content: [Improve performance of Azure applications with Azure A

[2019-11-14 17:31] santhoshbomma9 commented on #42779
@SadiqhAhmed-MSFT  - Just to give you a bit of background, after a customer has bought the subscription, publisher would take some time before they can activate(charging) the customer and I believe for now customer subscription must be activated in 7 days after the customer has subscribed to it. So for that, the work around was to put the customer on a $0 plan and once the provisioning for the cus

[2019-11-14 17:31] gamullen commented on #28157
I don't recall now. I had to create two different user IDs when creating the host pool, but can't remember the exact details. Sorry.

[2019-11-14 17:32] Datachick opened #42837 "Link to Advisor Performance recommendations is wrong."
Under Next Steps, the link to Performance recommendations page links back to this page instead of the performance page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b703202c-7c7d-7177-6496-d1c61dacf22b
* Version Independent ID: f9ee0bcc-f74a-dbba-c9b9-f84bf7b800a7
* Content: [Reduce service costs using Azure Advisor]

[2019-11-14 17:32] rothja commented on #42679
@MashaMSFT Thanks! If you want to create an internal work item to track, we can close out the issue and plan this in the December sprint. I'm going to reassign to you for now. #reassign:MashaMSFT

[2019-11-14 17:33] Datachick opened #42838 "List of Advisor categories is missing one"
The list of Advisors categories under What is Azure Advisor is missing Operation Excellence and a description of it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecae7814-3a8b-1401-34b7-a3f53d22b9e5
* Version Independent ID: 30254acc-2901-0565-e7dc-619c279f8b78
* Content: [Introduction to Azure Advisor](https://docs.

[2019-11-14 17:34] rothja commented on #42478
#reassign:CarlRabeler (Steve is out for several weeks) Thanks.

[2019-11-14 17:34] ggailey777 commented on #30588
We've updated the Python reference article guidance to have the `tests` folder at the same level as the function app folder, based on a recommendation from @brettcannon. Please let us know if this guidance doesn't work for you and we can reopen this issue. #please-close

[2019-11-14 17:34] #30588 closed

[2019-11-14 17:36] MashaMSFT commented on #42679
Hi @rothja, sure that sounds good. I've created item ([1646786](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1646786)) to track this work, and we can close this Git Issue.

Thanks Jovan!
Masha from the SQL Docs team
#please-close

[2019-11-14 17:36] #42679 closed

[2019-11-14 17:37] MashaMSFT commented on #42197
Hi @brettshearer , it's been some time since we've heard from you, so we're going to assume that your question has been addressed and close out this Git Issue. However, please feel free to respond via comment should you need anything further.

Thanks again for contacting Microsoft and hope you have a wonderful rest of your day!
Masha from the SQL Docs team

[2019-11-14 17:38] #42197 closed

[2019-11-14 17:38] rothja commented on #41298
@v-shtosh Thanks for the feedback. @stevestein is out of the office for several weeks. @CarlRabeler could you take a look at this. It looks like maybe there is a Network tab in the portal now that is not in the screenshots or article. I don't know how much we would want to say about this in the quickstart, but it might be good to update the screenshot and explains some basics? Here is what the art

[2019-11-14 17:39] rothja commented on #41298
Sorry, I missed that @sachinpMSFT was also assigned to this issue for correcting the article. @CarlRabeler and @sachinpMSFT , you can decide how to proceed with any needed changes. #assign:sachinpMSFT

[2019-11-14 17:44] rothja commented on #32134
It looks like this is probably a bug in the portal rather than a doc bug. @CarlRabeler could you please see if you agree and pass the problem along to the product team. You can decide if we need a note in the article and then close the issue after it has been reported. Apologies to all of you who have run into this problem! #reassign:CarlRabeler

[2019-11-14 17:44] ggailey777 commented on #40527
@FISHMANPET based on your feedback, I added a note to this article that states that CI/CD for Linux apps isn't supported on Consumption plans.

@mike-urnun-msft how do we get the rest of this good portal feedback moved over to [the UX repo](https://github.com/azure/azure-functions-ux/issues) so that the team will see it?

[2019-11-14 17:53] MicahMcKittrick-MSFT commented on #42833
@OranguTech thanks for the find! Seems when we updated to the new Az module we missed that command. I updated the doc. Once the PR merges the changes will go live after a few hours.

[2019-11-14 17:53] #42833 closed

[2019-11-14 17:54] kjulson commented on #41336
@MarileeTurscak-MSFT Please see above.

[2019-11-14 17:57] SaurabhSharma-MSFT commented on #42835
@KSchlobohm Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-14 17:59] SaurabhSharma-MSFT commented on #42817
@threesixfour Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-11-14 18:00] SaurabhSharma-MSFT commented on #42815
@Boris344 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-11-14 18:00] issacnitin commented on #17648
@gdv820 add --copies after venv, "venv --copies". Worked for me with Flask

[2019-11-14 18:01] SaurabhSharma-MSFT commented on #42814
@axthosarouris Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-11-14 18:05] NavtejSaini-MSFT commented on #42801
Thanks for the input @markjbrown. @LanderVe We are assigning this to @aliuy for more clarity on this.

[2019-11-14 18:05] MicahMcKittrick-MSFT commented on #42666
adding @matthchr and @darylmsft in case either of you might know off the top of your head :)

[2019-11-14 18:06] corporateg opened #42839 "Missing full path information"
The line below is missing the full path information:

Open cspsconfigtool.exe. It's available as a shortcut on the desktop and in the %ProgramData%\home\svsystems\bin folder.

This should be corrected to:

Open cspsconfigtool.exe. It's available as a shortcut on the desktop and in the %ProgramData%\ASR\home\svsystems\bin folder.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-11-14 18:08] v-kydela opened #42840 "The "Endpoint V3 REST API" link should be removed from the navigation table"
There already is a "V3 Prediction REST APIs" link, and the "Endpoint V3 REST API" link actually goes to the same place as the "V2 Prediction REST APIs" link.

![image](https://user-images.githubusercontent.com/41968495/68883626-46d6e080-06c6-11ea-87ee-853e9534726d.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 902

[2019-11-14 18:11] becz opened #42841 "Article describes forward DNS lookup, not reverse DNS lookup"
The article describes how to resolve the IP address associated with an hostname.
For my understanding thats forward DNS lookup (hostname --&gt; IP address)
Reverse DNS lookup is used to determine the hostname associated with an IP address (IP address --&gt; hostname)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a089d

[2019-11-14 18:19] CarlRabeler commented on #32134
@rothja opened an email thread with @allenwux

[2019-11-14 18:20] matthchr commented on #42666
@alfpark as well for awareness.

Gen2 images are not yet whitelisted for Batch. This is on our radar but at least a few weeks away still.

[2019-11-14 18:21] #40527 closed

[2019-11-14 18:23] Alberto-Vega-MSFT commented on #42841
@becz Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.