[2022-09-09 14:12] ericd-mst-github commented on #85389
No worries! I checked with our support team on recent and similar inquiries since the VM Apps went GA.

So essentially, you'll need to setup/install the new app version or run the deployment of the new app version on any VM or VMSS instance and it should update if that exists on the current iteration, or it will remove the old version and install the new one.

[2022-09-09 14:26] zilberd opened #98238 "Service connector - overview page link poirnt to wrong tenant"
Dear Team,

In the overview page a service connector (for exemple in a web app), we can click on the resource name.
This link point to the microsoft.onmicrosoft.com tenant and not the customer tenant.
Hence this is not working.

![20220909135732](https://user-images.githubusercontent.com/5602047/189373145-435d5bfd-f63c-4c5d-9019-a09cacab809b.png)

Ideally the link should point to the tenant in use

[2022-09-09 14:29] itoffshore commented on #29971
I need websocket support in AFD for http requests with `socket.io`

[2022-09-09 14:36] solstone opened #98239 "image builder powershell commands have changed"
image builder powershell commands have changed.  please update with new commands

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0b40c35-05a3-a82d-a887-d393fff29536
* Version Independent ID: 607c9388-c173-882c-cc45-bb0a8b5ac1ac
* Content: [Create a Windows VM with Azure VM Image Builder by using PowerShell - Azure Virt

[2022-09-09 15:01] colmardev opened #98241 "Change subscription: Move by unlinking and relinking"
Hello, I need to change billing subscription for a B2C tenant following unlinking and relinking documentation where I read:

Pressing Delete button on ARM resource page (myb2ctenant.onmicrosoft.com) presents this warning:

What **_exactly_** will happen confirming deletion?

I think this documentation page is not clear

Thanks in advance

---
#### Document Details

⚠ *Do not edit this section. It

[2022-09-09 15:22] bytemaestro commented on #91313
So can I ask what is the best practice on this? I am hearing the Blob storage is not a "secure" approach...? So where do we host the static files? on a new static web site? or pick one web app/api service to be the dedicated company error page provider?  Seems like I can't find any documentation or straight answer to this.

[2022-09-09 15:27] JamesTran-MSFT commented on #98241
@colmardev
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-09 15:48] spelluru commented on #95505
#please-close

It's in the product backlog now.

[2022-09-09 15:48] #95505 closed

[2022-09-09 15:50] YashikaTyagi-MSFT commented on #98224
@ms-ishiyam
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-09 15:52] YashikaTyagi-MSFT commented on #98225
@BlueSpaceship
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-09 15:53] miobrado opened #98243 "Install-AzAksKubectl does not work on Windows Server"
Following the docs, everything works well except that Install-AzAksKubectl cmdlet (Install-AzAksCliTool as well) does not work on Windows Server. I went to official Kubernetes website to download kubectl.exe

Microsoft Hyper-V Server 2019
Version 1809 (OS Build 17763.3287)

Error message:
Sorry, this cmdlet is not supported in current OS.
At C:\Program Files\WindowsPowerShell\Modules\Az.Aks\4.3.0\

[2022-09-09 15:55] YashikaTyagi-MSFT commented on #98227
@AlexSapple
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-09 15:58] YashikaTyagi-MSFT commented on #98229
@kopetan-ms
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-09 16:01] YashikaTyagi-MSFT commented on #98230
@anoobbacker
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-09 16:02] YashikaTyagi-MSFT commented on #98233
@soferreira
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-09 16:04] YashikaTyagi-MSFT commented on #98235
@mattlunzer
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-09 16:05] YashikaTyagi-MSFT commented on #98236
@michaelspinks
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-09 16:07] YashikaTyagi-MSFT commented on #98237
@nosalan
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-09 16:08] #98167 closed

[2022-09-09 16:09] YashikaTyagi-MSFT commented on #98238
@zilberd
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-09 16:11] YashikaTyagi-MSFT commented on #98239
@solstone
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-09 16:12] YashikaTyagi-MSFT commented on #98243
@miobrado
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-09 16:27] #98193 closed

[2022-09-09 16:30] ChaitanyaNaykodi-MSFT commented on #98193
Hello @robertspears, Thank you for the feedback. I have updated all three documentations to reflect 72 Hours. The change should go live in next 24 hours.

[2022-09-09 16:45] robertspears commented on #98193
Thank you @ChaitanyaNaykodi-MSFT !

[2022-09-09 16:55] hhunter-ms commented on #98229
@kopetan-ms Thanks for your feedback! The dev team plans to work on the cli command for this, so I've added to [my backlog](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1986682) to add to the documentation when ready.

[2022-09-09 16:55] dj-petrovic commented on #90345
Could you try updating adlfs to latest version? I was reading trough some changset notes and see they added support for 3 days ago, could be connected.
see [https://github.com/fsspec/adlfs/blob/1d905740b8f1af3df83cce9262b9da9395ed2be8/CHANGELOG.md](https://github.com/fsspec/adlfs/blob/1d905740b8f1af3df83cce9262b9da9395ed2be8/CHANGELOG.md)

[2022-09-09 16:58] siddharth-redseer commented on #90345
I changed the version to 22.5.0 and it’s working again.
________________________________
From: Hmr-ramzi ***@***.***>
Sent: Friday, September 9, 2022 5:58:57 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Siddharth Poonia ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Error - module 'fsspec_wrapper' has no attribute 'AzureBlobFileSystem (Issue #90345)

@siddharth-reds

[2022-09-09 17:04] rfsonders opened #98245 "az customlocation show -g <resourceGroupName> is incorrect"
az customlocation show -g resourceGroupName

Should be

az customlocation list -g resourceGroupName

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 492acd2f-5d4e-4be2-b1a2-8b2c83a5a2fc
* Version Independent ID: 8e44670d-d75e-1185-b3c3-b46604713a42
* Content: [Create and manage custom locations on

[2022-09-09 17:06] yoHasse opened #98246 "Get all instances status showHistory"
[Get all instances status](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-http-api#get-all-instances-status)

showHistory is listed as an optional parameter in the table below the example. That param doesn't work if you don't specify the instanceId parameter.

I'm not sure if it's a bug in the API but since it doesn't show in the example I suspect the documentatio

[2022-09-09 17:10] aahill commented on #97783
Thanks for reaching out about this issue. You can use `5.2.0-beta.3` as it still contains the methods for summarization. I'll update the documentation to reflect this as well.

#please-close

[2022-09-09 17:10] #97783 closed

[2022-09-09 17:10] Dickson-Mwendia commented on #98067
Thank you @kyleross-deckers for opening this issue and helping improve our developer documentation.

In this node.js console app quickstart, use the following endpoints for your sample app:

- For the Azure Active Directory (Azure AD) endpoint, use `https://login.microsoftonline.com/ ` as the cloud instance.
- For the Microsoft Graph endpoint, use `https://graph.microsoft.com/`.

We'll be updating

[2022-09-09 17:15] JamesTran-MSFT commented on #98168
@mezzofix
Thank you for following up on this, I've reached out to our Microsoft Defender for Cloud engineering team and will update once I receive a response from their end.

Thank you for your time and patience throughout this issue.

[2022-09-09 17:19] aahill commented on #98060
Thanks for pointing this out, I've created a PR to make this change, and it should be live soon!

#please-close

[2022-09-09 17:19] #98060 closed

[2022-09-09 17:22] aahill commented on #98054
#assign:jboback

[2022-09-09 17:28] alumriel commented on #95481
I'm not sure we are on the same page here, but I have an open ticket with MS to research this.
The command "New-AzRoleEligibilityScheduleRequest" doesn't seem relevant.
I'm not trying to create new role eligibility.
I want a powershell command any user can use to activate a role they are already assigned and eligible to activate.

[2022-09-09 17:47] CliffAgius opened #98248 "Link to "See Docs" is to the same page as the link"
In the highlighted note at the top of the page the last sentence says:

But this link is to the same page which makes the note block pointless or the link is wrong>

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20185b73-1d22-ac18-c633-70396097eb9e
* Version Independent ID: 06352eeb-c96b-37de-df7a-9e7a6de4d556
* Conten

[2022-09-09 17:47] plmcgrn commented on #30719
I just want to note that disabling the save button with absolutely no reason displayed to the user is bad design.  If someone comes into this from an Automation account, then builds a query, only to realize they can't save it, and there's no indicator why they can't....bad stuff.

And the icing on that is they can't change the scope of the query to a Log Analytics workspace from there, either, bec

[2022-09-09 18:42] #98067 closed

[2022-09-09 19:04] Oury-MSFT commented on #98178
@Seesharprun Please see customer feedback above. Should we update the doc to add the suggestion from customer.

[2022-09-09 19:16] SadiqhAhmed-MSFT commented on #98171
@v-pgaddala FYI

[2022-09-09 19:57] DustinEwers opened #98250 "Missing IP Range for US West 3"
Please add the IP Address for the region US West 3 to this chart.

The chart is here: https://docs.microsoft.com/en-us/azure/healthcare-apis/fhir/convert-data#configure-acr-firewall

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1502325-35f3-456c-e775-4cfaf2c043b0
* Version Independent ID: 0a5e0253-742c-6c

[2022-09-09 19:57] mattlunzer opened #98251 "Broken links"
Under the heading Phase 1 - The service provider configures an Azure AD application, Step 3, the links for Azure portal/ Azure CLI/ Azure PowerShell are broken and return 404 - page not found.

Source - [https://docs.microsoft.com/en-us/azure/storage/common/customer-managed-keys-configure-cross-tenant-new-account?tabs=powershell-preview%2Cazure-portal%2Cportal#phase-1---the-service-provider-config

[2022-09-09 20:02] KrishnaG-MSFT commented on #98245
@rfsonders Thanks for your comment! We will review and provide an update as appropriate.

[2022-09-09 20:04] mumurug-MSFT commented on #98250
@DustinEwers Thanks for your feedback. We will update as appropriate.

[2022-09-09 20:15] whhender commented on #97948
@VitalyMCT - thanks for your patience!
We have a similar diagram on another page that covers the steps for an on-premises scenario. I'll add that diagram here as well, so you can see both.

[2022-09-09 20:19] MarileeTurscak-MSFT commented on #98198
Thanks @kevelife ,

I just enabled defender on my test cluster and see the same results as you.

<img width="624" alt="image" src="https://user-images.githubusercontent.com/13383753/189436360-39de9c97-29f2-40ee-88b6-e175a0d1292a.png">

I made a pull request to update the pod name. https://github.com/MicrosoftDocs/azure-docs-pr/pull/210727

[2022-09-09 20:19] #98198 closed

[2022-09-09 20:31] DustinEwers commented on #98250
I think the correct CIDR range for West 3 is: 20.150.245.160/27 and the specific IP is 20.150.245.161 if that helps.

[2022-09-09 20:35] whhender commented on #98130
@J227668 - I'm following up with the development team to confirm for you. Thanks for your patience!

[2022-09-09 20:36] KarlErickson commented on #98212
Thanks @clarenceb - we'll get that fixed.

[2022-09-09 20:39] whhender commented on #98099
@CathyInMN - Thanks for the feedback! We can definitely add some more explanation here. I'm putting the steps together, and I'll add them both here for you and then in the documentation.

[2022-09-09 20:43] mirage1usa opened #98253 "More detail needed"
This section needs more detail on what the correct permissions are, now that the requirements have changed.

" Note
As of build 1.4.18.0, you can't use an enterprise admin or domain admin account as the Azure AD DS connector account. When you select Use existing account, if you try to enter an enterprise admin account or a domain admin account, you see the following error: "Using an Enterprise or

[2022-09-09 20:53] spelluru commented on #98091
Removed the pricing details from the FAQ. PM will add the information to the Pricing page after updating the content.

#please-close

[2022-09-09 20:53] #98091 closed

[2022-09-09 20:53] whhender commented on #97948
That's been added now! You should see it come through by tomorrow at the latest.
Thanks for reaching out!

[2022-09-09 20:53] whhender commented on #97948
#please-close

[2022-09-09 20:53] #97948 closed

[2022-09-09 20:56] KarlErickson commented on #97901
@Netyyyy thanks for the feedback! FYI, internal contributors should simply file a pull request against azure-docs-pr for things like this, but I'll go ahead and fix this one.

[2022-09-09 21:33] chanuengg commented on #98130
Microsoft Purview is currently not supported in Gov cloud and hence lineage will not work in gov cloud,

[2022-09-09 21:35] mrmueller commented on #92481
please see proposed changes in [https://github.com/MicrosoftDocs/azure-docs/pull/98255](https://github.com/MicrosoftDocs/azure-docs/pull/98255). Proposes to use Powershell instead of Notepad++.
Can we maybe even remove the Notepad++ part altogether?

[2022-09-09 21:39] TimothyMothra opened #98256 "Need to update getting started note regarding Flush & Sleep"
Line 38 has a reference to https://github.com/microsoft/ApplicationInsights-dotnet/issues/407 that is no longer needed.

Any user who wants to avoid the Sleep should shut down their application using FlushAsync instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b189efce-ce4e-f8f8-ecf8-8803a18f9b65
* Version Indepe

[2022-09-09 21:39] JamesTran-MSFT commented on #95481
@alumriel
Thank you for following up on this and for sharing your support request number!

From the [Activate a role with ARM API](https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/pim-resource-roles-activate-your-roles#activate-a-role-with-arm-api) section, the REST API request being made is referencing /providers/Microsoft.Authorization/**roleEligibilitySched

[2022-09-09 21:41] JamesTran-MSFT commented on #98253
@mirage1usa
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-09 21:44] #97901 closed

[2022-09-09 21:46] nickludwig commented on #97771
Hey @jahedkarim - is your application requesting permissions for an API which doesn't have a corresponding service principal in your tenant? For example, this could be the case if...
1. Your application is requesting permissions for an API which was not created within your tenant (thus there wouldn't be a service principal for this API in your tenant by default)
2. You've never consented to the pe

[2022-09-09 23:00] Minewiskan commented on #98204
@match-gabeflores - Thanks for pointing this out. We've updated the introductory paragraph to include the Excel for MacOS limitation.
#please-close

[2022-09-09 23:00] #98204 closed

[2022-09-09 23:34] alumriel commented on #95481
Got this working using the command **New-AzRoleAssignmentScheduleRequest**

If you could maybe use this info to improve the documentation, it might help others.

`$managementgroupID = "<management group ID" # Tenant Root Group
$guid = (New-Guid)
$startTime = Get-Date -Format o
$userObjectID = "<user object ID"
$RoleDefinitionID = "b24988ac-6180-42a0-ab88-20f7382dd24c" # Contributor
$scope = "/prov

[2022-09-09 23:37] JamesTran-MSFT commented on #95481
@alumriel
Thank you for following up on this and I'm glad that you were able to get everything working!

cc: @amsliu to look into adding [this ](https://github.com/MicrosoftDocs/azure-docs/issues/95481#issuecomment-1242557997)to the documentation to avoid future confusion.

[2022-09-09 23:38] JamesTran-MSFT commented on #98200
Linking the solution from #95481

https://github.com/MicrosoftDocs/azure-docs/issues/95481#issuecomment-1242557997

[2022-09-10 04:02] AndrewBlumhardt opened #98258 "Basic log docs missing details from PG blogs"
Many important details provided in PB blog posts are missing here. For example, basic logs do not contribute to commitment tiers.

https://techcommunity.microsoft.com/t5/microsoft-sentinel/new-blog-post-the-basic-logs-for-microsoft-sentinel-kql/m-p/3259001
https://techcommunity.microsoft.com/t5/microsoft-sentinel-blog/faq-search-basic-ingestion-archive-and-data-restoration/ba-p/3205600

---
#### D

[2022-09-10 04:42] YashikaTyagi-MSFT commented on #98246
@yoHasse
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-10 04:43] YashikaTyagi-MSFT commented on #98248
@CliffAgius
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-10 04:44] YashikaTyagi-MSFT commented on #98251
@mattlunzer
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-10 04:46] YashikaTyagi-MSFT commented on #98256
@TimothyMothra
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-10 04:47] YashikaTyagi-MSFT commented on #98258
@AndrewBlumhardt
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-10 07:28] olavt opened #98259 "Reference to application type is obsolete?"
"In the [Azure portal](https://portal.azure.com/), [create an Application Insights resource](https://docs.microsoft.com/en-us/azure/azure-monitor/app/create-new-resource). For application type, choose General."

When creating an Application Insights instance in the Azure portal, I don't see any input field to specify "Application type".

Is that information obsolete and should be corrected in the

[2022-09-10 08:12] olavt opened #98260 ".Net Framework vs .Net Core might be confusing"
"Note
Instructions referring to ApplicationInsights.config are only applicable to apps that are targeting the .NET Framework, and do not apply to .NET Core applications."

With .Net 6, this might be confusing and need a clearer explanation.

Is targeting .Net 6 considered targeting ".Net Framework"?

You can target a .Net Core Application to .Net 6.

---
#### Document Details

⚠ *Do not edit this

[2022-09-10 08:14] Gouravkala opened #98261 "Cache Storage Account for Hyper-V Migration"
[Enter feedback here]
Hi Team,
As per the doc Azure migrate creates the Cache storage account in the same resource group & subscription where azure migrate project is running but I noticed if I have multiple subscriptions part of same tenant it creates the cache storage account in every subscription, it will not list the other subscription storage account.
We are in planning to utilize the express

[2022-09-10 09:38] FWuttke commented on #90345
I am facing the same issue. What did you change to this version @siddharth-redseer ?

[2022-09-10 09:43] Hmr-ramzi commented on #90345
I upgraded fsspec package to latest and now everything works fine

[2022-09-10 10:41] siddharth-redseer commented on #90345
install fsspec==22.5.0

[2022-09-10 10:43] siddharth-redseer commented on #90345
@Hmr-ramzi synapse is not picking up the latest version

[2022-09-10 10:45] Hmr-ramzi commented on #90345
I installed pip install fsspec==2022.8.2 and my pipeline worked just fine

[2022-09-10 10:54] siddharth-redseer commented on #90345
Looks like the version needs to be specified otherwise it defaults to 2022.7.0

[2022-09-10 11:49] Kaypyosh opened #98262 "What permissions is it needed for requestors"
Hello

Generally, for users who create a new request here, Permissions Management admin don't want to give them full permission.  I would like to make sure what permissions are needed for them.

The note says like this. I think the description seems to be intended to Approver, and not Requestor.

" Note
To view the Remediation dashboard, you must have Viewer, Controller, or Administrator permissio

[2022-09-10 12:06] tjoudeh opened #98263 "Limitations section -> Distributed Tracing"
In the **limitations section** on the point related to Custom configuration for Dapr Observability, I have written a detailed post on how to enable distributed tracing for multiple Dapr Applications hosted on ACA and integrate them Application Insights and viewing the App Insights Application Map to see distributed traces.

Maybe you can include a reference to this blog post so it helps readers, l

[2022-09-10 13:27] Kaypyosh opened #98264 "How do I create a remediation script with Json."
Hello

I'm trying to find how to create a remediation script with Json format, even though I can find only yaml one.

Finally, I found it in this page, but it says like this.

"On the Permissions Management home page, select the Remediation tab, and then select the Role/Policies tab.
Use the dropdown lists to select the Authorization System Type and Authorization System.
Select Create Role."

I co

[2022-09-10 14:30] MarileeTurscak-MSFT commented on #98259
@olavt
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-10 14:31] MarileeTurscak-MSFT commented on #98260
@olavt
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-10 14:33] MarileeTurscak-MSFT commented on #98261
@Gouravkala
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-10 14:36] MarileeTurscak-MSFT commented on #98262
@Kaypyosh
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-10 14:37] MarileeTurscak-MSFT commented on #98263
@tjoudeh
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-10 14:38] MarileeTurscak-MSFT commented on #98264
@Kaypyosh
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-10 15:43] seragENTp opened #98265 "Error connecting to end point "key_auth_access_denied""
[Enter feedback here]

When trying to replicate the below tutorial i got "key_auth_access_denied" running the below command :

curl --request POST "$SCORING_URI" --header "Authorization: Bearer $ENDPOINT_KEY" --header 'Content-Type: application/json' --data @endpoints/online/model-1/sample-request.json

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2022-09-10 16:35] AjayBathini-MSFT commented on #98110
@porrascarlos802018
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-10 16:35] #98110 closed

[2022-09-10 16:49] TaDahCorp opened #98267 "Followed the exact steps. It simply does not work: No module named 'azure.cognitivservices'. Python 3.9, clean environment."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4b55e56-55a1-d635-6bea-271dc361d676
* Version Independent ID: 8e9cb28f-c133-f310-3c7d-3a3b7e85f69d
* Content: [Speech-to-text quickstart - Speech service - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-ser

[2022-09-10 19:48] J227668 commented on #98130
@chanuengg  can we add to this page(https://docs.microsoft.com/en-us/azure/purview/overview) a note that "Purview is not currently available in Azure Gov". Thank you in advance.

[2022-09-11 03:18] cchen-hrp opened #98268 ""DataDog Site" not selectable"
I am wondering why "DataDog Site" is not selectable. My DataDog org is in US1 but when I try to connect my resource, I can only use US3 as "DataDog Site". Is it depends on the location of the resource or resource group?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aad11779-1323-e2da-b9d1-9b0a3d73eaaa
* Version Indepe

[2022-09-11 03:30] AjayBathini-MSFT commented on #98267
@TaDahCorp
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-11 03:37] AjayBathini-MSFT commented on #98268
@cchen-hrp
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-11 04:04] Gouravkala opened #98269 "Replicate data over ExpressRoute for Azure Migrate projects with public endpoint connectivity for Hyper-V Hosts"
[Enter feedback here]
Hi Team, as per the doc Replicate data by using an ExpressRoute circuit with private peering for Azure Migrate projects with public endpoint connectivity is only updated for VMware applications , i am not able to find anything in the doc for hyper-V server replication private peering except with Microsoft peering , could you please confirm if same is also applicable for Hyper

[2022-09-11 04:21] gavina-contino opened #98270 "Clarity on latest revision - 20% of the requests go to the latest revision"
Reviewing this document example would make it a bit clearer what latest revision means. Can the document explain what latest revision means?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d294b96c-e7a2-26ff-e581-312809dd3786
* Version Independent ID: 11663dcf-6327-2cf4-60ed-5dffc5f48f60
* Content: [Manage revisions in

[2022-09-11 09:15] YihuiGuo opened #98271 "Sample is not working due to packaging issues."
Several issues found in the attached page:
1.  Missing comma at the line end of ``` vm_size= "STANDARD_NC6" if use_gpu else "STANDARD_D2_V2" ```.
2.  ```conda_dependencies.yml``` content needs to be updated, otherwise training step will fail with version conflict.

The original issue is very similar to [this](https://github.com/Azure/azureml-examples/issues/1497), which requires a higher version o

[2022-09-11 09:28] sleekflowleochoi opened #98273 "EnableContentResponseOnWrite with Trigger"
EnableContentResponseOnWrite also affects the response in trigger. Unable to access the response in trigger if EnableContentResponseOnWrite is set to false.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d386700-74f7-aba4-fbe2-c94428665638
* Version Independent ID: 99c0ca70-f0d6-06ac-d741-53fc6bb75660
* Conten

[2022-09-11 09:52] Kaypyosh opened #98275 ""Auto-Approve" subtab"
Hi

Regarding the following description, I don't see the "Auto-Approve" subtab. I'd like to make sure if it causes my wrong configuration or document issue.

Thanks

Make setting selections for requests and auto-approval
The Settings subtab provides the following settings that you can use to make setting selections to Request Role/Policy Filters, Request Settings, and Auto-Approve requests.

---
#

[2022-09-11 10:42] FWuttke commented on #90345
I don't know what I am doing wrong but still doesn't work for me... any ideas?
![image](https://user-images.githubusercontent.com/25941704/189523180-409f5278-848b-4414-be18-2e4999a88f5f.png)

[2022-09-11 10:43] Hmr-ramzi commented on #90345
You need to install the package by uploading a requirements.txt file to the spark pool server not within the spark session. Also give it some time to be applied before you pick up another spark session

[2022-09-11 12:12] SvenBell opened #98277 "Instructions no longer seem to correlate to current Azure page content"
Hi, the instructions on this page don't seem to correlate well with current version of the Azure portal i.e. Create an Alert Rule and Create an action group.
Could this please be reviewed and updated.
Many Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fff5de5d-9a97-73ff-4694-79027720b5c3
* Version Independent I

[2022-09-11 12:17] kazeno commented on #75296
I had this exact same problem, but with Error 400 Bad Request, instead of 502. The changes mentioned above (disable the EnableMMAP and EnableSendFile directives in apache) solved it. I'm just leaving this post here so that other people getting Error 400 because of this issue can find it more easily than I did.

[2022-09-11 12:22] bmansheim commented on #98185
#reassign: @bmansheim

[2022-09-11 13:05] bmansheim commented on #98185
@Minalt1355 I recently received a comment about this from someone else as well. I just merged a change that I think covers the issue. If you want, you can check tomorrow to see how it looks. If there are still issues, please comment here.

#please-close

[2022-09-11 13:05] #98185 closed

[2022-09-11 13:07] rsk800 opened #98278 "Unable to create Azure Databricks access connector following the steps in the document."
[Enter feedback here]
"Step 1: Create an Azure Databricks access connector" fails unless sign-in Azure Databricks workspace at least once in the same AAD tenant. Shoud add it to requirement section in the document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aea50f33-143f-780d-c4b4-676541228d7f
* Version Independent

[2022-09-11 15:57] AjayBathini-MSFT commented on #98269
@Gouravkala
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-11 16:03] AjayBathini-MSFT commented on #98270
@gavina-contino
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-11 16:06] AjayBathini-MSFT commented on #98271
@YihuiGuo
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-11 16:08] AjayBathini-MSFT commented on #98273
@sleekflowleochoi
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-11 16:11] AjayBathini-MSFT commented on #98275
@Kaypyosh
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-11 16:12] AjayBathini-MSFT commented on #98277
@SvenBell
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-11 16:13] AjayBathini-MSFT commented on #98278
@rsk800
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-11 16:52] AbbyMSFT commented on #97182
@mirekkukla , it looks like Yair answered your question, so I am going to close this issue.
Thank you so much for reaching out to us. Please do not hesitate to reach out again for any doc issues!

Thanks,
Abby

#please-close

[2022-09-11 16:52] #97182 closed

[2022-09-11 16:55] AbbyMSFT commented on #96651
#re-assign: @guywi-ms

@guywi-ms - This looks like a log analytics issue. I will contact you offline about this one.
Thanks,
Abby

[2022-09-11 18:06] AjayKumar-MSFT commented on #97998
michalmoravek, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2022-09-11 18:06] #97998 closed

[2022-09-11 18:06] #98016 closed

[2022-09-11 18:33] kskistad1212 opened #98279 "Change storage refs to use ADLS2 instead of S3"
Change storage refs to use ADLS2 instead of S3

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 433f1b2e-9d7b-7812-324a-56c38f33b5a2
* Version Independent ID: 433f1b2e-9d7b-7812-324a-56c38f33b5a2
* Content: [Using Auto Loader with Unity Catalog - Azure Databricks](https://docs.microsoft.com/en-us/azure/databricks/ingesti

[2022-09-11 18:54] tspring418 commented on #98127
Thanks so much @Grace-MacJones-MSFT

[2022-09-11 20:16] TaraWM opened #98280 "One Domain, Multiple Tenants - Same Source Anchor Error"
[On attempting a configure sync from an on-premises Active Directory domain to multiple tenants (each tenant with its own AAD Connect sever), using same source anchor was not possible. Where attribute ms-DS-ConsistencyGUID was the source anchor for Tenant A, for Tenant B the source anchor was set to ObjectGUID. An attempt to reconfigure AAD Connect for Tenant B, selecting the option “Change Source

[2022-09-11 23:46] kaito-ms commented on #97911
@RoseHJM Great job! Thanks!

[2022-09-11 23:46] #97911 closed

[2022-09-11 23:55] #86793 closed

[2022-09-11 23:55] metang opened #98282 "missing import azure.ai.ml.sweep in the sample code"
[Enter feedback here]

The tutorial misses one line of code
"from azure.ai.ml.sweep import Choice, Uniform, MedianStoppingPolicy".

it will make the sample code snippet error

# we will reuse the command_job created before. we call it as a function so that we can apply inputs
# we do not apply the 'iris_csv' input again -- we will just use what was already defined earlier
command_job_for_sweep = c

[2022-09-12 01:00] pnarsi opened #98284 "Private Peering Support"
Rather than having a vague "Private peering only isn't supported" it may be better to mention that private peering is **only** supported for key vault, storage account, recovery services vault and the Azure Migrate endpoint. Other [FQDN dependencies ](https://docs.microsoft.com/en-us/azure/migrate/migrate-appliance#public-cloud-urls-for-private-link-connectivity) are not supported via private peer

[2022-09-12 01:05] nerocrux opened #98285 "Mistake / uncleared discription for AADB2C Conditional Access Policy"
Document Title: Add Conditional Access to user flows in Azure Active Directory B2C
URL: https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/active-directory-b2c/conditional-access-user-flow.md

In this document, it says that "Device Platform" for AADB2C Conditional Access is "Not Supported".
But after did some tests, I found this feature is fully functional.

I wonder if it is a mistake

[2022-09-12 01:18] andyghc opened #98286 "Clarification about Management and Configuration endpoints and lack of DNS entries."
There is mention of creating DNS records to access the API Management endpoints from the internet.  But I assume that would include the main management endpoint such as mytestapim.configuration.azure-api.net but this is not mentioned.  It's not clear what implications are when APIM is deployed in internal mode

I believe Gateway v1 requires a configuration endpoint of mytestapim,management.azure-a

[2022-09-12 02:42] AshokPeddakotla-MSFT commented on #97802
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-09-12 02:42] #97802 closed

[2022-09-12 02:53] ayomodu commented on #48998
@thnk2wn hi, were you able to get this to work? (referencing modules in a remote git repository). also @blackchoey for some reason the syntax for referencing modules at a different location on the local machine doesnt seem to work for me i.e "${MODULEDIR.<../../another_repo/modules/module_B>}" also does any one know if this referencing model ${MODULEDIR....} can be can be used for remote git repos

[2022-09-12 02:53] ejschoen opened #98288 "Untagged images now appear to have no tags entry in their metadata"
The discussion regarding untagged images appears to be out of date.  The discussion on this page indicates that if an image is pushed with a tag matching an existing image, the metadata entry for that superseded image will be updated so that its tags array is empty.  It appears to me that the tags array is now omitted from the json metadata for the superseded image.

---
#### Document Details

⚠ *

[2022-09-12 03:32] VikasPullagura-MSFT commented on #98288
@ejschoen
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-09-12 03:32] VikasPullagura-MSFT commented on #98288
@tejaswikolli-web
Can you please check and add your comments on this doc update request as applicable.

[2022-09-12 03:34] Givary commented on #98279
@kskistad1212 Thank you for your feedback . We will investigate and update the thread.

[2022-09-12 03:35] Givary commented on #98280
@TaraWM Thank you for your feedback . We will investigate and update the thread.

[2022-09-12 03:40] Givary commented on #98282
@metang Thank you for your feedback . We will investigate and update the thread.

[2022-09-12 03:42] Givary commented on #98284
@pnarsi Thank you for your feedback . We will investigate and update the thread.

[2022-09-12 03:47] Givary commented on #98285
@nerocrux Thank you for your feedback . We will investigate and update the thread.

[2022-09-12 03:48] AjayBathini-MSFT commented on #98286
@andyghc
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-12 04:00] duy1998 opened #98289 "How to authenticate SSO by SDK/Broker then using token/session/cookie in webview in mobile app"
How to authenticate SSO by SDK/Broker then using token/session/cookie in webview in mobile app

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9257b263-b12e-4e0a-74d3-e2657567aed5
* Version Independent ID: 7fe7472b-7f0d-b7c3-3202-c31cef3c2673
* Content: [How to enable cross-app SSO on Android using MSAL - Microsoft Entr

[2022-09-12 04:11] YashikaTyagi-MSFT commented on #98113
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-12 04:12] YashikaTyagi-MSFT commented on #98094
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-12 04:12] #98094 closed

[2022-09-12 04:12] #98113 closed

[2022-09-12 04:40] #98030 closed

[2022-09-12 04:56] shwetamathur7 commented on #98289
@duy1988 Thanks for your feedback. We will investigate and update the thread.

[2022-09-12 05:07] rachelxj-ms opened #98290 "url "https://aka.ms/Sentinel-confluenceauditapi-functionapp" returns 404"
https://aka.ms/Sentinel-confluenceauditapi-functionapp returns 404 now, please help fix it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6b717dc-2897-f89c-5d96-d517a0965286
* Version Independent ID: 0827b9a2-1b47-f517-a9c5-2076e57f581e
* Content: [Find your Microsoft Sentinel data connector](https://docs.microsoft.c

[2022-09-12 05:12] ee99ee commented on #90819
Yeah this is totally broken.

[2022-09-12 05:13] SaibabaBalapur-MSFT commented on #98236
@michaelspinks
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

@JnHs
Please review it.

[2022-09-12 05:25] SaibabaBalapur-MSFT commented on #98270
@gavina-contino
Please review below link for getting more clarity about revisions.
https://docs.microsoft.com/en-us/azure/api-management/api-management-revisions#revision-descriptions

If there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-12 05:25] SnehaAgrawal-MSFT commented on #97858
@haohighview Thanks for reaching here!

There no limit to the number of chat threads. However, there's a limit on the chat thread creation rate as documented.

No. They will be stored until they are deleted explicitly.

We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2022-09-12 05:25] #97858 closed

[2022-09-12 05:36] rachelxj-ms commented on #98290
It seems the folder was refactored:
the latest url is https://github.com/Azure/Azure-Sentinel/blob/master/Solutions/AtlassianConfluenceAudit/**Data%20Connector**/AtlassianConfluenceAudit/ConfluenceAuditAPISentinelConn.zip

[2022-09-12 05:36] AjayBathini-MSFT commented on #98263
@tjoudeh
Thanks for your contribution. Please add your ideas in below link, so our production team can review it and update the same.
[Ideas · Community (azure.com)](https://feedback.azure.com/d365community)

[2022-09-12 05:36] #98263 closed

[2022-09-12 05:59] SadiqhAhmed-MSFT commented on #98171
@Sharmistha-Rai For visibility

[2022-09-12 06:01] MughundhanRaveendran-MSFT commented on #97976
@coateds , thanks for the update. Since the issue is resolved, I will close this issue. Feel free to reopen this issue if required

[2022-09-12 06:01] #97976 closed

[2022-09-12 06:02] AjayBathini-MSFT commented on #98237
@nosalan
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

@cynthn
Please review it.

[2022-09-12 06:05] AjayBathini-MSFT commented on #98290
@rachelxj-ms
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-12 06:12] KapilAnanth-MSFT commented on #98228
@kmathewmk, Currently, App Gateway does not have any rate limiting features.

Rate-limiting, geo-filtering, and Azure managed Default Rule Set rules are supported only with WAF on Azure Front Door.
Refer: https://docs.microsoft.com/en-us/azure/web-application-firewall/afds/waf-faq#do-you-support-same-waf-features-in-all-integrated-platforms-

If you wish, you may upvote the feedback in the below f

[2022-09-12 06:19] bmansheim commented on #97756
#label: defender-for-cloud/svc

[2022-09-12 06:39] RohitMungi-MSFT commented on #98282
@metang  This code snippet is actually pulled from a different repo azureml-examples. I have created an issue on this repo and referenced it on this thread. The maintainer of the repo will update the notebook in the repo and this issue should be automatically fixed in the docs. Thanks again for spotting this!!

[2022-09-12 06:45] asbjorn-wiik opened #98291 "Section rule-collection-groups needs updating"
In this section https://docs.microsoft.com/en-us/azure/firewall/policy-rule-sets#rule-collection-groups
The documentation states: "A Firewall Policy can contain 50 rule collection groups."

This dosn't fully align with https://github.com/MicrosoftDocs/azure-docs/blob/main/includes/firewall-limits.md
That states:
"Number of Rule Collection Groups in a firewall policy
 50 for Firewall policies creat

[2022-09-12 07:00] anilarunshanbhag opened #98292 "Device Edge Runtime Credential Management"
Hi.. I need clarification on how Azure Edge runtime manages the Azure container registry credentials on the device side.

Based on various documentation, I understand when the the Edge agent on the device performs an authentication and then gets the Azure container registry credentials (from deployment manifest file/device twin) and syncs the modules on device.

Once Azure container registry crede

[2022-09-12 07:14] ivassallo19 opened #98293 "Entity ID and Login URL are incorrect"
Hello,

There is an error in the field matching.

Issue # 95712 had it correct - https://github.com/MicrosoftDocs/azure-docs/issues/95712
Issue # 98066 had it wrong - https://github.com/MicrosoftDocs/azure-docs/issues/98066

Currently in the section 'Complete FortiGate command-line configuration', in the table these are the two lines in question:
IdP Entity ID (idp-entity-id) | Azure Login URL
IdP

[2022-09-12 07:21] piyaldas commented on #36458
Is this is resolved or any update?
We are using Terraform AzureRM provider 3.14, but still we are facing same scenario.
As per design we have different dedicated Fileshares per funapp & slot; hence we need to assign WEBSITE_CONTENTSHARE for the Fun_App and its Slots as well.
So whenever we are deploying via TF the Apply goes exactly as per Plan but during the same timestamp Staging-slot **Contents

[2022-09-12 07:32] SaibabaBalapur-MSFT commented on #98243
@miobrado
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

@zr-msft
Please review it.

[2022-09-12 07:47] steph409 commented on #59463
Hi @krish-gh,
 ran into the same issue, removing the whitespaces also fixed it for me. The template "UserCreateTemplate.csv" you can download in azure contains a whitespace:

Example: Chris Green, chris@contoso.com, myPassword1234, No

Removing the whitespace in the template would be good.

[2022-09-12 07:57] SaibabaBalapur-MSFT commented on #98140
@catmanjan
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

@lachie83
Please review it .

[2022-09-12 08:11] Givary commented on #98293
@ivassallo19 Thank you for your feedback. We will investigate and update our findings.

[2022-09-12 08:13] Givary commented on #98291
@asbjorn-wiik Thank you for your feedback, We will investigate and update the thread.

[2022-09-12 08:24] j-mantu commented on #95546
#please-close

[2022-09-12 08:24] #95546 closed

[2022-09-12 08:31] VikasPullagura-MSFT commented on #98292
@anilarunshanbhag Thank you for your question!
Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2022-09-12 08:46] dknappettmsft commented on #98135
This is published now.

#please-close

[2022-09-12 08:46] #98135 closed

[2022-09-12 08:50] dknappettmsft commented on #98208
GitHub issues in this repo aren't for product roadmap queries. A better place is the Azure Virtual Desktop Feedback page: https://techcommunity.microsoft.com/t5/azure-virtual-desktop-feedback/idb-p/AzureVirtualDesktop

#please-close

[2022-09-12 08:50] #98208 closed

[2022-09-12 08:56] ANF-IT opened #98296 "entity-id and sign-on-url mixup."
[Enter feedback here]

Hi!
Fortinet has an error on their page, they mixed up two values in the 'equilent azure configuration'
'idp-entity-id' and 'idp-single-sign-on-url'.
Your guide for CLI should be like this:

" config user saml
 	edit azure
 		set cert <FortiGate VPN Server Certificate Name>
 		set entity-id < Identifier (Entity ID)Entity ID>
 		set single-sign-on-url < Reply URL Reply URL>

[2022-09-12 09:01] AlexcFrench opened #98297 "No information for Azure VMWare Solution"
[Enter feedback here]
Hi,

I notice that Azure VMWare Solution is not listed on this page at all.

Could it be added as I am trying to understand if AVS supports availability zones but the information is not present.

Thanks!

Alex

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ef6739c-50e6-e80b-cfc1-4d7d5b5d35e8
* Ve

[2022-09-12 09:07] norregaard commented on #97861
As a follow up I can mention that this information is also missing for Managed HSM. The subResource for this one is: "managedhsm". So this info should also be added separately after a "/" in the "Private link resource type / Subresource" column. See attached screenshot that shows the correct subResource name.

![hsm1](https://user-images.githubusercontent.com/86473594/189615551-69f77a3e-2d8b-45ba-

[2022-09-12 09:13] eliaquimbrandao opened #98298 "Create Storage Account - Advanced tab - with a preview feature but undocumented"
[Enter feedback here]
Hi Team,

I notice that a preview feature is available in the creation of a storage account in the advance tab but not sure why this was not documented or have an explanation about its use and functionality.

Possible check that with the product group to understand this new feature and update the doc?
![image](https://user-images.githubusercontent.com/49751389/189616513-8efc5

[2022-09-12 09:14] urbantz-technical-support commented on #97918
Hi @Aarthi-Vijayaraghavan thanks for the response.

Unfortunately this doesn't really satisfy us. Am I to understand the the the field `Temp storage (SSD) GiB` is the size of the cache?

Why on other platforms is it described in parenthesis next to the maximum iops, like the AKS documentation mentions, but here it is a different column?

[2022-09-12 09:38] dgpoulet opened #98300 "Check the correctness of this text"
On this page in the Retry section it says:

_"The SDK has built-in logic to handle these transient failures on retryable requests like read or query operations. **The SDK won't retry on writes for transient failures as writes aren't idempotent.**"_

While over on the page https://docs.microsoft.com/en-us/azure/cosmos-db/sql/troubleshoot-sdk-availability

_**Write operations can only be retried in

[2022-09-12 09:57] batamig commented on #98169
Hi @guarismo, thanks for writing into docs!
We'll have to check into this and then update as needed in a coming publish. I've added this to our backlog to address, so I'm closing this issue for now here to prevent double-tracking.
Please feel free to add additional comments as needed. We appreciate your contributions to docs!
#please-close

[2022-09-12 09:57] #98169 closed

[2022-09-12 10:00] AnuragSingh-MSFT commented on #98165
@akinaritsugo, thank you for the question.
This seems to be a requirement from AWS side, especially for updating machines and to install packages on instance without an internet connection. Please see the following links for details:
[How can I update yum or install packages without internet access on my EC2 instances running Amazon Linux 1 or Amazon Linux 2?](https://aws.amazon.com/premiumsupport

[2022-09-12 10:13] #98082 closed

[2022-09-12 10:28] Dickson-Mwendia commented on #97139
Hi @JorjikS. Thanks for opening this issue and helping improve our developer documentation.

Are you using any of the [React samples ](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-react-samples)from the MSAL.js GitHub repo. If yes, which of these?

I'd like to have a look at your implementation for a better insight into the issue.

[2022-09-12 10:39] shawndewet commented on #90947
@StevenTCramer How did you get the cosmos docker image running in Windows with Docker using WSL?

[2022-09-12 10:47] lahsrah commented on #24460
Why is it that even my database with 0 items once I scale up I can't scale back down unless its at least 10% of what I scaled up to? What's the reason for this?

[2022-09-12 10:55] bkeski opened #98302 "Missing String_Id "DYN365_BUSCENTRAL_TEAM_MEMBER" Also "This information last updated on September 22nd, 2022." but today is September 12, 2022...12"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [Product names and service plan identifiers for licensing - Azure AD - Microsoft Entra](https://docs.microsoft.com/en-us/azure/active-direct

[2022-09-12 10:59] GitaraniSharma-MSFT commented on #98098
@MarioStanica , We have assigned this to the content owner/author for review.

@asudbring , for your review.

[2022-09-12 11:18] davidkench opened #98303 "Azure permission requirements for PIM"
Should the "who can do what" section for Azure resource roles be updated to state:

For Azure resource roles in Privileged Identity Management, only **a user who is in the Privileged Role Administrator or Global Administrator role and also** a subscription administrator, a resource Owner, or a resource User Access administrator can manage assignments for other administrators.

Or can a subscriptio

[2022-09-12 11:23] continue47 commented on #86555
Looks like the document has been updated.
Thanks.

[2022-09-12 11:23] #86555 closed

[2022-09-12 11:49] marklagendijk opened #98305 "No information on Azure Front Door cache purging speed"
There is currently no information on how long it takes for Azure Front Door to stop serving content from any POP after the Purge API call has completed.
Since the Purge API call is a long running operation, one would assume that as soon as it completes it has been removed from all POPs, but this does not seem to be the case.

This information is crucial for determining whether Azure Front Door is

[2022-09-12 11:55] v-amallick commented on #97621
Hi @Darryl-G ,

We have updated the [Backup flow statement](https://docs.microsoft.com/en-us/azure/backup/azure-backup-architecture-for-sap-hana-backup#backup-flow) to resolve this issue. Therefore, closed this issue thread.

Thanks!
#please-close

[2022-09-12 11:55] #97621 closed

[2022-09-12 11:59] AjayBathini-MSFT commented on #98296
@ANF-IT
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-12 12:24] GitaraniSharma-MSFT commented on #98305
@marklagendijk , thank you for your feedback. We'll review this and get back to you shortly!

[2022-09-12 12:44] AnuragSharma-MSFT commented on #98300
@dgpoulet Thank you for the feedback. This is being assigned to the content author for more insights.

[2022-09-12 12:59] HansOlavS commented on #58185
I use Table Storage which only supports client-side encryption v1 which has a known security vulnerability. And I'm being audited for security and they want to know about the frequency of the key rotation for data-at-rest. I'm not a security expert, but I would like a better explanation than "The Microsoft-managed key is rotated appropriately per compliance requirements" without any way to verify

[2022-09-12 13:00] HansOlavS commented on #40842
@ToddBowman No, you can't. I just tried.

[2022-09-12 13:02] HansOlavS commented on #40842
For the record, I think the security documentation should either state the frequency in "at least X" or state clearly WHY it is a security hazard to document it. CC @tamram, @JamesTran-MSFT

[2022-09-12 13:12] shubhamthopate opened #98308 "Application Insight agent on windows vm's"
This document does not specify "How to install application insight agent on multiple VM's using powershell loop". Kindly update this document with proper steps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02cd947d-30c3-2551-4dd6-9762db6869f7
* Version Independent ID: 4e5a974c-686c-2005-c036-55dac3107573
* Content: [M

[2022-09-12 13:16] JackyChiou opened #98309 "NFS 3.0 clients - Windows client for NFS is not yet supported"
[Enter feedback here]
In this article mentiones:
=============================
NFS 3.0 clients
Windows client for NFS is not yet supported
=============================

Is it out of date?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec598196-6d30-5757-019f-e6b7f6ef2cc0
* Version Independent ID: e99f749a-b597-6eb6-3f

[2022-09-12 13:37] austinmccollum commented on #87140
#reassign: @austinmccollum

[2022-09-12 13:43] twimmers commented on #98069
I've made the update to the Tableau doc

[2022-09-12 13:44] twimmers commented on #98069
#please-close

[2022-09-12 13:44] #98069 closed

[2022-09-12 13:44] Se-Si opened #98312 "Creating a VM from image with removed SKU/plan."
My team has a VM image created from a past instance of Kali Linux on Azure with the following plan info:

`plan-name: kali`
`plan-product: kali-linux`
`plan-publisher: kali-linux`

Creating a VM with this image has worked reliably in the past.
Now, however, creating a VM from this image returns the following error:

`Offer with PublisherId: 'kali-linux', OfferId: 'kali-linux' and PlanId: kali was

[2022-09-12 13:45] gonkilluaHxH opened #98313 "Current endpoint for image search api"
Hello, what is the current API endpoint I should use? I already used the endpoint provided in the tutorial example and then I tried the following endpoint: https://api.bing.microsoft.com/v7.0/images/visualsearch But both output the following error:
`Traceback (most recent call last):
  File "test_azure.py", line 27, in <module>
    raise ex
  File "test_azure.py", line 23, in <module>
    response

[2022-09-12 14:17] spelluru commented on #96540
Added an "Azure Resource Manager template" section.

#please-close

[2022-09-12 14:17] #96540 closed

[2022-09-12 14:33] Pachehra opened #98314 "Limt of VMs in one PPG"
Hi Team,

Could you confirm on the limit of number of VMs that can be added in one PPG ?

Thanks
Arun

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f044b250-08b2-1104-f7aa-e8a1188b3516
* Version Independent ID: ae51a1f7-0bcc-64a3-4b36-240080a84335
* Content: [Create a proximity placement group using the portal - Azure

[2022-09-12 14:44] seligj95 commented on #98180
@baf - You can use a proxy however it is not an officially supported configuration by Microsoft which is why it isn't documented.

[2022-09-12 14:51] #98101 closed

[2022-09-12 15:02] dezfowler opened #98317 "Information on multi-write availability in the SLAs section is contradictory"
In the [SLAs section](https://docs.microsoft.com/en-us/azure/cosmos-db/high-availability#slas) the table states that, for a multi-region with multi-writes setup that there will be "No availability loss" in the event of a region outage however the blue boxout below the table states "using multiple write regions does not guarantee write availability during a region outage".

Could we please have som

[2022-09-12 15:27] JamesTran-MSFT commented on #98302
@bkeski
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-12 15:28] JamesTran-MSFT commented on #98303
@davidkench
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-12 15:28] blakemcmillan opened #98319 "Ridiculous: I can't leave an organization in Teams."
I don't know why I can't remove an organization on MY teams client without their permission.  You know how crazy that is right Microsoft?  I get that I shouldn't have the permissions to modify my account on their system, but if I need to get their permission to remove their organization from my client that is crazy.  In contrast, I have full control of what I see and what I am connected to in Slac

[2022-09-12 15:34] RyanHill-MSFT commented on #98297
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-09-12 15:45] LijuV-MSFT opened #98320 "Add issue to "known issues""
Can we add to the list of known issues the current issue affecting several of our customers that causes cached creds to not work with FIDO2 security keys in hybrid environments?
Please reach out to me for details about this issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b090d15a-67ab-b973-bbde-8c5959ef2a2a
* Ver

[2022-09-12 15:45] AjayBathini-MSFT commented on #98298
@eliaquimbrandao
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-12 15:48] AjayBathini-MSFT commented on #98309
@JackyChiou
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-12 15:49] AjayBathini-MSFT commented on #98312
@Se-Si
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-12 15:52] AjayBathini-MSFT commented on #98313
@gonkilluaHxH
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-12 15:53] AjayBathini-MSFT commented on #98314
@Pachehra
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-12 15:54] AjayBathini-MSFT commented on #98317
@dezfowler
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-12 15:57] AjayBathini-MSFT commented on #98319
@blakemcmillan
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-12 15:59] AjayBathini-MSFT commented on #98320
@LijuV-MSFT

Please fill out this form for internal reference.

https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR958mqNUZExPsLDhzSGD8aFUNVBKTFpITkFGR0FWV0U2VVhIWU1EQUcxVi4u

[2022-09-12 15:59] #98320 closed

[2022-09-12 16:11] baf commented on #98180
Understood; thanks @seligj95. To be clear, can you confirm that it is possible/supported to place the hybrid connection manager in a network where it has direct internet access via 443/tcp (like a DMZ type network) and then allow it to communicate with other internal networks from there?

[2022-09-12 16:17] XXLMandalorian013 opened #98324 "Indicators from Azure AD"
[Enter feedback here]

Hello, following the steps on

Indicators from Azure AD

1. Navigate to the Azure portal > Azure Active Directory > Sign-in logs.

2. Add the Client App column if it isn't shown by clicking on Columns > Client App.

3. Add filters > Client App > select all of the legacy authentication protocols. Select outside the filtering dialog box to apply your selections and close the d

[2022-09-12 16:29] whhender commented on #98130
@J227668 - Regional availability for all Azure products and all regions is listed here:
https://azure.microsoft.com/en-us/explore/global-infrastructure/products-by-region/

And here's a search specifically for Microsoft Purview and the Gov cloud:
https://azure.microsoft.com/en-us/explore/global-infrastructure/products-by-region/?products=purview&rar=true&regions=usgov-non-regional,us-dod-central,u

[2022-09-12 16:34] YutongTie-MSFT commented on #98194
Thank you so much for pointing out with issue, we will fix this document soon.

We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2022-09-12 16:34] #98194 closed

[2022-09-12 16:35] cherylmc commented on #98155
I'll add a doc bug and discuss with the product team. Thanks!

[2022-09-12 16:44] gonkilluaHxH commented on #98313
ok, thanks! Looking forward to your reply.

[2022-09-12 16:51] theabraxas opened #98325 "Dead link - "https://passwordsgenerator.net/""
In the `Testing smart lockout` section the link referenced "https://passwordsgenerator.net/" no longer exists. I would either remove or reference a new site which does the same thing such as "https://randompassgen.com/" or perhaps just a powershell script which will generate random alphanum strings?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2022-09-12 17:05] GeethaThatipatri-MSFT commented on #97994
@heldersousa-planetpayment We haven't heard back from you did you get a chance to check my above reply
We will proceed to close this issue now. If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2022-09-12 17:05] #97994 closed

[2022-09-12 17:10] kdubba opened #98326 ""502 Bad Gateway" Error"
Hi,
I followed all the steps in the Application Gateway tutorial and still got the 502 Bad Gateway error. The steps seem to work fine; I did not get any error; I'm not sure what went wrong in my setup. Followed a lot of tutorials and videos to get Application Gateway working but still no luck.

I guess some setting is missing in the tutorial to make it work.

- K

---
#### Document details

⚠ *Do

[2022-09-12 17:10] cynthn commented on #98237
@mgreenegit Can you take a look at the Bicep section you added?

[2022-09-12 17:15] JamesTran-MSFT commented on #98325
@theabraxas
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-12 17:16] cebundy commented on #96832
@meepstei Thank you for your feedback.  I'm not sure that we have the same limitations as described in Webs Apps.  Containers within a container app have access to the managed identities defined at the container app level.  As described in our documentation, there can be multiple user-assigned identities but only one system-assigned identity to a container app.   Typically, there is only a single

[2022-09-12 17:16] KapilAnanth-MSFT commented on #98291
@asbjorn-wiik, I have updated the document to the correct Limits.
It should reflect soon.

Thank you!

[2022-09-12 17:24] sushaanttb opened #98327 "Inconsistency in App Service QuickStart Doc"
Hi,

I was following the Node.js quickstart (for both windows and linux) **via VSCode** (https://docs.microsoft.com/en-us/azure/app-service/quickstart-nodejs?tabs=windows&pivots=development-environment-vscode) & ran into following issues :

1. For _windows_,
   a.) Issue of "You do not have permission to view this directory or page." when navigating to the base URL. this is because of the
       m

[2022-09-12 17:28] cebundy commented on #97307
#assign:cebundy

[2022-09-12 17:32] radubulboaca commented on #97844
Thank you for highlighting this, inconsistency. Docs updated: https://docs.microsoft.com/en-us/azure/communication-services/quickstarts/rooms/get-started-rooms?pivots=programming-language-javascript

[2022-09-12 17:33] cebundy commented on #97307
@rukasakurai Thank you for your feedback.  Sorry for the inconvenience!  There was a bug that resulted in this error.  It has since been fixed.  If after updating your Azure CLI, you are still encountering this error, please open a product issue.
#please-close

[2022-09-12 17:33] #97307 closed

[2022-09-12 17:33] radubulboaca commented on #97844
@v-pradda can you please review and update this issue as needed? Thank you!

[2022-09-12 17:40] meepstei commented on #96832
Not really, maybe if I clarify what I was looking for it would help.

We know that Managed Identities is not available for containerized App Services when deployed as a multi-container environment while in preview. Since our App Service container users will look at the information listed here<https://docs.microsoft.com/en-us/azure/container-apps/managed-identity?tabs=portal%2Cdotnet> when they are

[2022-09-12 17:44] cebundy commented on #96170
This has been fixed.  If you should have any further problems related to this issue, please feel free to reopen this issue.
#please-close

[2022-09-12 17:44] #96170 closed

[2022-09-12 17:44] cgillum commented on #98246
It looks like the table is wrong. The `instanceId` field should be removed from the table. The "Get all instance status" API doesn't accept an `instanceId` parameter.

[2022-09-12 17:45] seligj95 commented on #98180
Yes, that is possible. As long as the hybrid connection manager has some way of connecting outbound to Azure Relay on port 443, you should be good to go.

[2022-09-12 17:46] seligj95 commented on #98180
Yes, that is supported. As long as the hybrid connection manager has some way of connecting outbound to Azure Relay on port 443, you should be good to go.

[2022-09-12 17:54] MayankBargali-MSFT commented on #98246
@cgillum Thanks for the confirmation.

@yoHasse Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2022-09-12 17:54] SatishBoddu-MSFT commented on #98160
Hello @baanders Could you please help us in this matter.

[2022-09-12 17:55] whhender commented on #98130
I've added the note! You should see the update by late this afternoon.
Thank you for reaching out!

[2022-09-12 17:55] whhender commented on #98130
#please-close

[2022-09-12 17:55] #98130 closed

[2022-09-12 18:02] JnHs commented on #98154
Hi @ygouzerh - Thank you for raising this. We are in the process of reviewing and updating this topic to address several issues, including those mentioned here, and ensure it's up to date. It may take some time before this is completed, so I will leave this issue open for now and close it after the changes have been made. We appreciate your taking the time to help us improve our documentation!

[2022-09-12 18:14] mstehrani commented on #84057
Hello @harithamaddi-ops, the limit applies to both external tables as well as normal tables for nvarchar. The concatenation method is our only suggested workaround as of today.

[2022-09-12 18:15] mstehrani commented on #84057
Closing as the original understanding is correct
#please-close

[2022-09-12 18:15] #84057 closed

[2022-09-12 18:22] mumurug-MSFT commented on #98286
@andyghc Management endpoint <apim-service-name>.management.azure-api.net is same for both V1 and V2 service ([Endpoints default](https://docs.microsoft.com/en-us/azure/api-management/api-management-using-with-internal-vnet?tabs=stv2#access-on-default-host-names)) and the docs talk about A record for the same management endpoint. This applies when you deploy APIM in internal mode.

The new configu

[2022-09-12 18:50] BhargavaGunnam-MSFT commented on #96491
Hi @axcap,
Thanks for raising the support ticket. We will track this issue via the support request that you have submitted. Hence we are closing this issue from my end.

[2022-09-12 18:50] #96491 closed

[2022-09-12 18:51] baf commented on #98180
Got it; thanks very much for the prompt response.

[2022-09-12 18:51] #98180 closed

[2022-09-12 18:52] gamullen opened #98330 "Misspelling"
"it's benefits, costs, and general architecture"

Should be "its."

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7b9c715-ad8b-575f-e0d6-7339cc49b672
* Version Independent ID: ee96bcc5-bb1c-1020-3f2e-5e8053520526
* Content: [Guidelines and patterns for migrating Azure Data Lake Storage from Gen1

[2022-09-12 18:56] guinn8 opened #98331 "Publish date format"
Are article publish dates dd/mm/yyyy or mm/dd/yyyy?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5418de7-407d-1340-d213-b7048a58c571
* Version Independent ID: fc987b2a-f390-1d9b-c634-6eb7688f6ac7
* Content: [Azure IoT Hub TLS support](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-tls-support#cipher-suites)

[2022-09-12 18:57] sschvytrk opened #98332 "Mislabeled?"
The article states: "You may also see this setting mislabeled as 'require secure transfer for REST API operations'."  This is the label presented when creating a new storage account today.  If it is "mislabeled", why is it still being listed this way today?

![image](https://user-images.githubusercontent.com/92821700/189733952-8151c485-2530-45b7-bc63-8ebc4aacca7e.png)

---
#### Document Details

⚠

[2022-09-12 19:31] jtvcodes opened #98334 "Invalid bash command to retrieve token"
[Enter feedback here]
Some of the bash commands to get a token need to be updated

Add $ before command and update the response property to accessToken
`token=$(az account get-access-token --resource "https://management.azure.com/" | jq -r ".accessToken")`

Also, some of the "Authorization" arguments for the curl commands are missing the "Bearer " prefix
`curl ... -H Authorization:"Bearer $token"`

[2022-09-12 19:37] ChaitanyaNaykodi-MSFT commented on #98326
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-09-12 19:41] kdubba commented on #98326
Just to let you know, creating the AKS cluster and the application gateway together (Greenfield) as given in the following tutorial works fine.
https://docs.microsoft.com/en-gb/azure/application-gateway/tutorial-ingress-controller-add-on-new
Creating them separately (Brownfield) and then connecting them seems to have a problem.

[2022-09-12 19:42] spelluru commented on #98216
I have updated these articles with links to RBAC Roles section.

https://docs.microsoft.com/en-us/azure/event-grid/subscribe-through-portal
https://docs.microsoft.com/en-us/azure/event-grid/delivery-and-retry#dead-letter-events

I have already created an internal work item to refresh these articles with the latest information.

#please-close

[2022-09-12 19:42] #98216 closed

[2022-09-12 19:43] SaurabhSharma-MSFT commented on #98317
@dezfowler Thanks for the feedback!  I have assigned this issue to content author to investigate and update the document as appropriate.

[2022-09-12 19:44] aulong-msft commented on #80912
bumping this thread for i have encountered "Microsoft.Azure.ServiceBus: NamespaceConnectionString should not contain EntityPath" when trying to connect to a queue

Code example:
 public void Run([ServiceBusTrigger("%QueueName%",
            Connection = "QueueSaSConnectionStringPk")]string command, ILogger log)
        {

        my SAS policy was also constructed with the manage type.

[2022-09-12 19:48] AbdullahBell commented on #55395
#reassign: @cherylmc

[2022-09-12 19:48] AbdullahBell commented on #58297
#reassign: @cherylmc

[2022-09-12 19:48] AbdullahBell commented on #60715
#reassign: @cherylmc

[2022-09-12 19:48] AbdullahBell commented on #64177
#reassign: @cherylmc

[2022-09-12 19:49] AbdullahBell commented on #65956
#reassign: @cherylmc

[2022-09-12 19:50] AbdullahBell commented on #66893
#reassign: @cherylmc

[2022-09-12 19:50] AbdullahBell commented on #69837
#reassign: @cherylmc

[2022-09-12 19:50] AbdullahBell commented on #72821
#reassign: @cherylmc

[2022-09-12 19:50] AbdullahBell commented on #77119
#reassign: @cherylmc

[2022-09-12 19:56] aulong-msft commented on #28021
bumping this thread for i have encountered "Microsoft.Azure.ServiceBus: NamespaceConnectionString should not contain EntityPath" when trying to connect to a queue ( my SAS policy was also constructed with the "manage" role)

Code example:
public void Run([ServiceBusTrigger("%QueueName%",
Connection = "QueueSaSConnectionStringPk")]string command, ILogger log)
{

It seems deleting the EntityPath at

[2022-09-12 19:59] aulong-msft opened #98335 "Entity Path should be deleted from the connection string"
The previous thread was closed, https://github.com/MicrosoftDocs/azure-docs/issues/28021 - however -  the docs havent been updated and the connection string plucked from the service bus has not changed!

i have encountered "Microsoft.Azure.ServiceBus: NamespaceConnectionString should not contain EntityPath" when trying to connect to a queue ( my SAS policy was also constructed with the "manage" ro

[2022-09-12 20:04] MarileeTurscak-MSFT commented on #98112
Hi @LijuV-MSFT,

Thanks for reporting this! I sent the intake form to you over Teams to add this request.

[2022-09-12 20:04] #98112 closed

[2022-09-12 20:07] amsliu commented on #98200
@alumriel Thank you for your feedback! I am currently working to have this change incorporated into the documentation. If you have any other questions, let us know, otherwise I'm closing this pull request. #please-close

[2022-09-12 20:07] #98200 closed

[2022-09-12 20:09] amsliu commented on #98059
@alumriel Thank you for your feedback. I am double checking this with our product team.

[2022-09-12 20:10] amsliu commented on #98159
@cjohnston-hill Thank you for your feedback. I am double checking this with our product team.

[2022-09-12 20:13] JamesTran-MSFT commented on #98324
@XXLMandalorian013
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-12 20:18] cvillagomez commented on #98334
Hi @jtvcodes,

Thank you for your post! I am going to review this with my colleagues and will confirm once I am able to push a commit to update our public documentation.

We appreciate your feedback and will keep you updated.

Thanks!
Carlos V.

[2022-09-12 20:18] amsliu commented on #98148
@APraestegaard Thank you for your feedback. I am double checking this with our product team and will update you as soon as I hear back from them. Regarding your suggestion on adding a Y/N column for the multi-stage review, that is something I can also look into with our documentation team. We appreciate your patience in the meantime.

[2022-09-12 20:22] jcbrooks92 opened #98336 "Restore operations recommended to be run when the DB is scaled to S3 until operation completion"
Customer can run into issues if the DB is already under load during restore operation if the tier is below an S3. A note should be added if errors or slow restore operation are observed to scale the DB up to an S3 until the operation completes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1357a5f7-2e8e-9aab-5bc9-3a61

[2022-09-12 20:30] bryanjrague opened #98337 "Request to add storage service encryption key uniqueness and rotation details to article"
Question on the help page https://docs.microsoft.com/en-us/azure/storage/common/storage-service-encryption Section "About encryption key management"  sentence "By default, a storage account is encrypted with a key that is scoped to the entire storage account."

Can the keys generated for storage accounts be gauranteed to be unique for every storage account created? Are they guaranteed to be rotate

[2022-09-12 20:31] GeethaThatipatri-MSFT commented on #98336
Hi, @jcbrooks92 Thanks for your feedback! We will look into it and update you as appropriate.

[2022-09-12 20:40] mlacouture commented on #59350
This issue is old but if it can be revisited it would be great. It took me a couple of hours to figure out why my permissions were not working, I'm glad I found this issue, it would be great to mention that permissions need to be at the subscription level.  thanks,

[2022-09-12 20:44] amsliu commented on #95481
@alumriel Thank you for your feedback! I have incorporated this change to the documentation under "Activate a role with PowerShell". You can view this change in this pull request: MicrosoftDocs/azure-docs-pr#210910. If you have any other questions, let us know, otherwise I'm closing this pull request. #please-close

[2022-09-12 20:44] #95481 closed

[2022-09-12 20:45] EC-429 opened #98338 "Unable to Decrypt with Export logs One Time Password"
- Microsoft Defender for IoT On-Premise Manager
- https://docs.microsoft.com/en-us/azure/defender-for-iot/organizations/how-to-troubleshoot-the-sensor-and-on-premises-management-console
- Issue: the One Time Password provided by the "Export" tool, under system setting, does not decrypt the .tar.gz file.  I am always prompt'd with "wrong password" using 7zip

---
#### Document Details

⚠ *Do not ed

[2022-09-12 20:54] SaiKishor-MSFT commented on #98309
@normesta Can you please look into it?

[2022-09-12 20:54] cvillagomez commented on #98334
#sign-off

[2022-09-12 21:23] normesta commented on #98309
@tjvishnu would be best positioned to comment on this Windows client for NFS support.

[2022-09-12 21:37] TheDeuceYouSay opened #98340 "Confusing document"
[Enter feedback here]

This document is trying to address too many configurations in one spot.  It should split into several distinct documents, in order of precedence:

1. Configure a Site-to-Site VPN (use an existing document which presumably exists - with notes about subnet masking sizes so people can plan ahead should they only plan to use Site-to-Site VPN now - but may want to consider Expres

[2022-09-12 21:58] TheDeuceYouSay opened #98342 "Please revamp this document. It is not ready for prime time."
[Enter feedback here]

This page needs a massive overhaul.  The PowerShell examples just plop data in which no reference to what it is or where it is designed to be deployed.  Eg IP addresses, VNet gateway names, public IP addresses, etc.  Are they on prem, Azure space, what?   No explanations or guidance.

Configuring our ExpressRoute circuit as been the most frustrating experience in my IT caree

[2022-09-12 21:59] littlefitzie14 opened #98343 "Outdated Interface Screenshots"
Hey there! I appreciate the work you've put into this documentation. The portion referencing Zendesk's interface is a little outdated. Token access is now enabled within the Admin Center, under 'Apps and integrations' > 'APIs' > 'Zendesk APIs', as outlined [here](https://support.zendesk.com/hc/en-us/articles/4408889192858-Generating-a-new-API-token). I wanted to share this with you, in hopes that

[2022-09-12 22:10] asudbring commented on #97861
Updated page.

#please-close

[2022-09-12 22:10] #97861 closed

[2022-09-12 22:18] jtvcodes commented on #98334
I checked the PR, and the `.access_token` is still there, the command `az account get-access-token ...` returns `accessToken` instead
![image](https://user-images.githubusercontent.com/85769617/189768269-3ea4e053-e2ed-4a4d-9e16-ddb286f2af68.png)

[2022-09-12 22:24] JamesTran-MSFT commented on #98343
@littlefitzie14
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-12 22:36] SaiKishor-MSFT commented on #98048
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-09-12 22:36] #98048 closed

[2022-09-12 22:43] ChaitanyaNaykodi-MSFT commented on #98202
Hello @bitsofinfo,

You can refer to this [tutorial here](https://azure.github.io/application-gateway-kubernetes-ingress/how-tos/networking/) on How to setup networking between Application Gateway and AKS.
Additional reference documentation: https://docs.microsoft.com/en-us/azure/aks/configure-kubenet#bring-your-own-subnet-and-route-table-with-kubenet

Hope this answers your question. We will proc

[2022-09-12 22:43] #98202 closed

[2022-09-12 23:03] sherrywangms commented on #97997
@Karishma-Tiwari-MSFT please help assign to @mattrvegas the owner of this product.

[2022-09-12 23:27] mnmadscience opened #98345 "There is no option to create query packs in Log Analytics, and no "query packs blade""
The documentation incorrectly states that query packs "can be created in the Log Analytics query packs blade". This does not appear to exist in Log Analytics. The documentation also fails to give any guidance on finding this blade, although it is certainly very well hidden since it cannot be created by creating an Azure resource, nor in Application Insights, nor in Log Analytics Workspace.

---
##

[2022-09-12 23:29] Gouravkala commented on #98261
Hi Team, Could you please update on this.

[2022-09-12 23:29] Gouravkala commented on #98269
Hi Team, Could you please update on this.

[2022-09-12 23:33] lsmith-apriva opened #98346 "Code Samples are badly outdated"
There is so much conflicting information about using Always Encrypted with Azure Key Vault.
Here in the sample application you're referencing now deprecated package Microsoft.IdentityModel.Clients.ActiveDirectory.
I think we're supposed to be using Azure.Identity?  I'm trying to hack my way through this but if someone at MS knows how to wire this up, and update would be greaty appreciated.

---
##

[2022-09-12 23:34] brianlehr commented on #97410
Hello @idcha0s ,

When you refer to "default outbound", I'm assuming you are referring to the path of the traffic and not the [default outbound IP address](https://docs.microsoft.com/en-us/azure/virtual-network/ip-services/default-outbound-access) that Azure assigns you if you do not have an explicit outbound IP defined.

Having said that, yes-- UDRs can be utilized to override default outbound pa

[2022-09-12 23:43] GeethaThatipatri-MSFT commented on #98346
Hi @lsmith-apriva Thanks for your findings,We will investigate and update as appropriate

[2022-09-12 23:45] originalnetadmin opened #98347 "Add option for configuring Azure Fence agent for government clouds"
In section 2 of "Create a STONITH device on the Pacemaker cluster", the options present are valid only for the public cloud. An additional option is required for setting up the Azure Fence agent in government clouds without which the fence request goes to the wrong endpoint (public).

The following text needs to be added to document the option for government clouds and provide examples of the synt

[2022-09-13 00:48] FnayouSeif opened #98348 "Powershell commands fail when adding Inbound Endpoint because subnet does not have the right delegation"
If I understand correctly, the Subnet of Private DNS Resolver should have the delegation of `Microsoft.Network/dnsResolver`.

So the Powershell cmds should add:
`$delegation = New-AzDelegation -Name "dnsResolverDelegation" -ServiceName "Microsoft.Network/dnsResolvers"`
and then:
`Add-AzVirtualNetworkSubnetConfig -Name $Name -VirtualNetwork $virtualNetwork -AddressPrefix %Cidr -Delegation \$delegat

[2022-09-13 00:51] prafulbusa opened #98349 "why the values are different?"
az vm list-skus --location westus2 -s Standard_D8d_v4

One of my customers asked me about the CLI API call output that doesn't match with the given public document.
https://docs.microsoft.com/en-us/azure/virtual-machines/ddv4-ddsv4-series
 Can you please check/fix this part where it says
![image](https://user-images.githubusercontent.com/35320049/189783562-09f29f7c-1751-4fe0-be3f-125b3f699ff8.png)

[2022-09-13 02:17] KrishnaG-MSFT commented on #98345
@mnmadscience Thanks for your comment! We will review and provide an update as appropriate.

[2022-09-13 02:25] YashikaTyagi-MSFT commented on #98143
@yuhenghub
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-13 02:25] #98143 closed

[2022-09-13 02:27] YashikaTyagi-MSFT commented on #98151
@APraestegaard
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-13 02:27] #98151 closed

[2022-09-13 02:56] AshokPeddakotla-MSFT commented on #98331
@guinn8 All the articles published date in the mm/dd/yyyy format.

<img width="330" alt="image" src="https://user-images.githubusercontent.com/44426435/189797350-d74ed913-aa21-4c7c-b1e6-65789904d2dd.png">

Hope that helps. Do let us know if you have any further queries related to doc.

If you have a product-related question, please post to [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/)

[2022-09-13 03:17] VikasPullagura-MSFT commented on #98330
@gamullen
Thanks for the feedback! We will check and update the document as appropriate.

[2022-09-13 03:49] mukundanma opened #98350 "Script sending data to Log Analytics via the DCR fails"
[Enter feedback here]
Running the script (LogGenerator.ps1) results in the below error

ConvertTo-Json : A parameter cannot be found that matches parameter name 'AsArray'.
At C:\Users\mukun\source\repos\LogIngestion\LogGenerator.ps1:83 char:45
+         $body = $log_entry | ConvertTo-Json -AsArray;
+                                             ~~~~~~~~
    + CategoryInfo          : InvalidArgument

[2022-09-13 03:57] SumanthMarigowda commented on #98337
@bryanjrague Thanks for the question! We are investigating and will update you shortly.

[2022-09-13 03:58] SumanthMarigowda commented on #98332
@sschvytrk Thanks for the question! We are investigating and will update you shortly.

[2022-09-13 04:17] AjayBathini-MSFT commented on #98327
@sushaanttb
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-13 04:23] VikasPullagura-MSFT commented on #98349
@prafulbusa
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-09-13 04:23] VikasPullagura-MSFT commented on #98349
@andysports8
Can you please check and add your comments on this doc update request as applicable.

[2022-09-13 04:24] KapilAnanth-MSFT commented on #98340
@TheDeuceYouSay, Thanks for your feedback. We shall review this and get back to you shortly!

[2022-09-13 04:25] SwathiDhanwada-MSFT commented on #98350
@mukundanma Thanks for your comment. We will review the issue and get back to you shortly.

[2022-09-13 04:27] SwathiDhanwada-MSFT commented on #97106
@bnitelf As we haven't heard from you yet, we will close the issue for now. If there are further questions, please revert and we will be glad to assist you.

[2022-09-13 04:27] #97106 closed

[2022-09-13 04:31] prats005 opened #98351 "The 3rd image shown is incorrect"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 115ae83a-95dd-5643-bc88-f5447ebb2b99
* Version Independent ID: 7462ce84-0a9f-4bfd-7eba-c00928d77865
* Content: [Enable Azure Active Directory password writeback - Microsoft Entra](https://docs.microsoft.com/en-us/azure/active-directory/authentication/

[2022-09-13 04:32] prats005 commented on #98351
Enable password writeback for SSPR - image shown for this is incorrect. It should be from Azure Portal

[2022-09-13 04:43] KapilAnanth-MSFT commented on #98228
@kmathewmk, I shall close this thread as there is no active discussion.

Please reopen the thread should you require additional information.

[2022-09-13 04:43] #98228 closed

[2022-09-13 04:45] VikasPullagura-MSFT commented on #97997
@mattrvegas
Can you please check and add your comments on this doc update request as applicable.

[2022-09-13 04:51] prats005 commented on #98351
<img width="956" alt="image" src="https://user-images.githubusercontent.com/80634457/189811626-21272754-abb0-4f35-b9df-20ec686eb393.png">

[2022-09-13 05:02] shwetamathur7 commented on #98351
@prats005 Thanks for your feedback. We will investigate and update the thread.

[2022-09-13 05:16] KrishnaG-MSFT commented on #98245
@rfsonders We have verified and updated the document as required. The update will go live in less than 24 hours. Thanks again!

[2022-09-13 05:16] #98245 closed

[2022-09-13 05:37] the-sentinental-guy commented on #97614
@SwathiDhanwada-MSFT , @guywi-ms , Can I have some help on this or not????

[2022-09-13 05:40] AjayBathini-MSFT commented on #98335
@aulong-msft
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-13 05:41] prats005 opened #98353 "The commands are not descriptive"
[Enter feedback here]
The commands are not descriptive

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 294128ee-aa91-8f63-f2e1-04b1ec5db5bc
* Version Independent ID: 681f180d-73a6-0388-a49f-6b3cba481cf9
* Content: [Tutorial: Use a managed identity to access Azure Key Vault - Windows - Azure AD - Microsoft Entra](https:/

[2022-09-13 05:42] prats005 commented on #98353
Commands added doesnt give a demo format i.e the ip address mentioned in the command - What does it mean?
next is do we need to have certain modules installed before running that command?
which command does what i.e why do i have to run the first command ?

[2022-09-13 05:44] AjayBathini-MSFT commented on #98338
@EC-429
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-13 05:47] AjayBathini-MSFT commented on #98342
@TheDeuceYouSay
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-13 05:49] AjayBathini-MSFT commented on #98347
@originalnetadmin
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-13 05:51] AjayBathini-MSFT commented on #98348
@FnayouSeif
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-13 05:52] AjayBathini-MSFT commented on #98353
@prats005
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-13 06:00] AnuragSingh-MSFT commented on #98207
@madmapper, thank you for posting this question. I am assigning it to our content team to get more clarification.

@AaronMaxwell, could you review this question and share your thoughts. For reference, following is the roadmap which was shared earlier this year - [App Center Roadmap 2022](https://github.com/Microsoft/appcenter/wiki/Roadmap). Thank you

[2022-09-13 06:06] KrishnaG-MSFT commented on #98345
@mnmadscience Thanks for bringing this up! You can create a query pack from the **Log Analytics query packs** blade in the Azure portal. Currently the **Log Analytics query packs** blade shows up under **Other** category of **All services** page in the Azure portal.

<img width="221" alt="image" src="https://user-images.githubusercontent.com/45988031/189816862-3a45fa0c-1853-4d5a-8907-4e36709455b8.

[2022-09-13 06:06] #98345 closed

[2022-09-13 06:11] v-ksreedevan commented on #98261
Hi @Gouravkala ,

Please find the response from the SME:

Azure Migrate creates the Cache storage account in the same resource group & subscription for the Agentless VMware migration scenario. In this case (Hyper-V migration scenario), you need to have a storage account in every subscription.

Hope this helps.

[2022-09-13 06:14] AnuragSingh-MSFT commented on #98259
@olavt, thank you for bringing it to our attention. Yes, you are right. This information is obsolete. I will edit it to match it with the current experience.

[2022-09-13 06:15] maniSbindra opened #98355 "Oras command in docs page to push signature to repository gives "Unknown flag: --subject" error"
The oras command to push signature with **--subect $IMAGE**, throws an error **"Error: unknown flag: --subject"**.
The following is the full command from the docs page (Note there are several oras push commands on the page with --subject argument):

[code]

Output of "oras version"
[code]

As mentioned in this [github issue comment](https://github.com/oras-project/oras/issues/361#issuecomment-1195

[2022-09-13 06:17] RamanathanChinnappan-MSFT commented on #98313
Hi @gonkilluaHxH ,
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-13 06:26] SwathiDhanwada-MSFT commented on #98024
@ethanhou99 Thanks for the feedback! I have fixed the referenced change, and the change should reflect on the doc within 24 hours. We will now proceed to close this thread. If there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2022-09-13 06:27] #98259 closed

[2022-09-13 06:28] KapilAnanth-MSFT commented on #98340
@TheDeuceYouSay, I have assigned the thread to the author for further review

@duongau, Please check the feedback and update the document if required.

[2022-09-13 06:29] KapilAnanth-MSFT commented on #98342
@TheDeuceYouSay, I have assigned the thread to the author for further review

@duongau, Please check the feedback and update the document if required.

[2022-09-13 06:32] guywi-ms commented on #97845
@xuegao112 thanks for your inquiry! I'm closing this issue. Please reopen if you need additional information.

#please-close

[2022-09-13 06:32] #97845 closed

[2022-09-13 06:34] #98024 closed

[2022-09-13 06:37] norregaard commented on #97861
Hi. What was updated? I don't see any updates regarding the two required updates that is noted in this ticket?

![hsm2](https://user-images.githubusercontent.com/86473594/189828016-2cc4d612-15a4-4f46-82e6-709f13d72074.png)

[2022-09-13 06:38] v-ksreedevan commented on #98269
Hi @Gouravkala,

Please find the response from the SME:

We recommend using an Azure Migrate project with private endpoint connectivity. For Hyper-V migrations, please see https://docs.microsoft.com/en-us/azure/migrate/migrate-servers-to-azure-using-private-link?pivots=hyperv

Hope this helps.

[2022-09-13 06:41] AjayBathini-MSFT commented on #98296
@ANF-IT
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

@jeevansd
Please review it

[2022-09-13 06:41] SwathiDhanwada-MSFT commented on #98041
@saldagmac  Apologies for delayed response. Can you please share which ARM template are you referring to ?

[2022-09-13 06:54] AjayBathini-MSFT commented on #98312
@Se-Si
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

@cynthn
Please review it

[2022-09-13 06:58] RamanathanChinnappan-MSFT commented on #98233
Hi @soferreira ,
We have investigated issue from our side. you can change the authentication method and try once. for your reference I have shared previous similar case below. please go through this.
https://github.com/MicrosoftDocs/azure-docs/issues/93812

[2022-09-13 06:59] SwathiDhanwada-MSFT commented on #98088
@BzSpi Thanks for your feedback. I assume you are looking for [this document](https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/resource-logs-categories).

Assigning to content author @bwren  for further inputs.

[2022-09-13 07:03] AjayBathini-MSFT commented on #98330
@gamullen
We have seen changes has been done. It will come live soon.

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-13 07:03] #98330 closed

[2022-09-13 07:09] guywi-ms commented on #97614
@the-sentinental-guy Apologies for the delayed response and thanks for your dedication to our documentation!
We've updated the AMA supported services and removed the conflicting statement:
![image](https://user-images.githubusercontent.com/98332688/189833491-89ae25fd-6cad-4875-9e12-4bd0d5421fa5.png)
Does this address your concern?

[2022-09-13 07:28] perentorio opened #98356 "Specify that authorized IPs must be public"
[Enter feedback here]
The phrase: "These IP address ranges are usually address ranges used by your on-premises networks or public IPs." is ambiguous and can lead the user to think that private on-premises ip's should be included in the list. The text should clearly say that only public IPs are allowed in this list because the control plane endpoint is a public ip.
Please check the last comment fro

[2022-09-13 07:47] Yunus-MSFT commented on #93146
updated Doc, waiting for it to get approved by doc author @rohinkoul

[2022-09-13 07:55] DavidKlempfner opened #98359 "Typo on page"
https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/overview

"Any one on your team can run the code and deploy similar environments." - "Any one" should be "Anyone".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13086a23-13ee-bea9-c04b-39d8d1d3bc8d
* Version Independent ID: 13f6b3cf-b946-cc46-2c15

[2022-09-13 08:00] SwathiDhanwada-MSFT commented on #98147
@jun110 Thanks for reaching out. I tested from my end and by stopping the Server Service to check if it impacts the MMA service. However, MMA service was in running state.  Can you please elaborate on how you came to conclusion that MMA service is dependent on Server Service ?

[2022-09-13 08:03] SwathiDhanwada-MSFT commented on #98284
@pnarsi Thanks for your feedback.

Assigning to content author @Vikram1988   for review.

[2022-09-13 08:04] Yunus-MSFT commented on #79672
I have added similar content here: https://github.com/MicrosoftDocs/azure-docs/issues/93146

will add reference link once the above GitHub PR is completed.

[2022-09-13 08:07] natasha-savic-msft opened #98360 "Remove supported path format that doesn't work from docs"
Under Supported paths, path format: ` https://<account_name>.blob.core.windows.net/<container_name>/path ` needs to be removed as it's buggy. Other path formats work.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c56bf00c-ec47-4a12-9a87-137fb29893e0
* Version Independent ID: 86302e6a-7281-fb13-3702-63ea37622606
* Conte

[2022-09-13 08:18] prerna-tesser opened #98361 "AttributeError: module 'fsspec_wrapper' has no attribute 'AzureBlobFileSystem'"
I am trying to write a pandas dataframe into a csv file and store it in the Azure Blob storage but keep getting the error - AttributeError: module 'fsspec_wrapper' has no attribute 'AzureBlobFileSystem'.
I tried installing the fsspec library using pip install fsspec==2022.8.2, however it still shows up.

Reference to my code:
predictedDf_train.toPandas().to_csv(f"abfss://%s@%s.dfs.core.windows.net

[2022-09-13 08:28] GitaraniSharma-MSFT commented on #98348
@FnayouSeif , the delegation to Microsoft.Network/dnsResolver happens automatically when you create an Inbound Endpoint or Outbound Endpoint.

I checked the commands in my lab and after creating a subnet, when I created an Inbound Endpoint, it automatically delegated the subnet to Microsoft.Network/dnsResolver. So the document is correct.

Please find the commands with the result below:

PS /home/

[2022-09-13 08:28] #98348 closed

[2022-09-13 08:45] olavt opened #98362 "The page is confusing"
The article on this page starts with:

"Note

It is highly recommended to use the [Microsoft.ApplicationInsights.WorkerService](https://www.nuget.org/packages/Microsoft.ApplicationInsights.WorkerService) package and associated instructions from [here](https://docs.microsoft.com/en-us/azure/azure-monitor/app/worker-service) for any Console Applications. This package is compatible with [Long Term Su

[2022-09-13 08:57] aidanfinn opened #98364 "Missing the multiple hub scenario."
This documentation is incomplete. The comparable document, routing through NVAs with custom routing, demonstrates how to configure routing with multiple hubs. This Azure Firewall document only describes a scenario with a single hub. WHen you extend out the deployment to multiple hubs, the design does not work - packets egress the local hub firewall and get lost.

---
#### Document Details

⚠ *Do n

[2022-09-13 09:11] esdrasbeleza commented on #94775
I'm trying this command, but I get this issue:

[code]

Not sure where to report it.

[2022-09-13 09:13] Venkateshdodda-MSFT commented on #98327
@sushaanttb I have tried deploying the Node Js app to the app service on Windows and Linux (App Service plans) by following the documentation steps exactly didn't came across any issue. This is not a documentation issue.
This needs technical debugging if you would like to further investigate, please raise a support ticket with [ Azure technical Support team](https://azure.microsoft.com/en-in/suppo

[2022-09-13 09:13] #98327 closed

[2022-09-13 09:15] odbckrishna opened #98365 "UNCACHE is not working for Azure Databricks SQL."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-09-13 09:17] odbckrishna commented on #98365
I am trying to use the uncache the object it is giving the not supported on data bricks sql

[2022-09-13 09:18] odbckrishna opened #98366 "How we can do the garbage collection in databricks sql?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-09-13 09:18] beatbesmer commented on #96055
Just stumbled across the outdated instructions again. Seems still not up to date. How long does such a fix take according to experience?

[2022-09-13 09:19] KrishnaG-MSFT commented on #98359
@DavidKlempfner Thanks for the feedback. We have verified and updated the document as required. The update will go live in less than 24 hours. Thanks again!

[2022-09-13 09:19] #98359 closed

[2022-09-13 09:21] sushaanttb commented on #98327
@Venkateshdodda-MSFT
Have you followed the "VSCode" steps? because I also had tried the steps multiple time & as mentioned "with CLI" it worked fine.

[2022-09-13 09:22] AjayBathini-MSFT commented on #98347
@originalnetadmin
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

@rdeltcheva
Please review it

[2022-09-13 09:24] Venkateshdodda-MSFT commented on #98327
@sushaanttb yes, I have tested by following the VSCode steps only.

[2022-09-13 09:44] KrishnaG-MSFT opened #98368 "Update the Note in Runbook types section"
Note in [Runbook types](https://docs.microsoft.com/en-us/azure/automation/automation-child-runbooks#runbook-types) section needs update. It also needs to provide a reference to [Start a child runbook by using a cmdlet](https://docs.microsoft.com/en-us/azure/automation/automation-child-runbooks#start-a-child-runbook-by-using-a-cmdlet) section and explain issues associated with starting a child runb

[2022-09-13 09:58] yezhu6 opened #98369 "How frequently the SQL Vulnerability assessment rules change"
Coming from this doc https://docs.microsoft.com/en-us/azure/azure-sql/database/sql-database-vulnerability-assessment-rules-changelog?view=azuresql, I learned that the SQL Vulnerability assessment rules change periodically.

How frequently the SQL Vulnerability assessment rules change ?

If there is an urgent new security vulnerability occurs, will the SQL Vulnerability assessment service change th

[2022-09-13 09:58] KrishnaG-MSFT commented on #98368
@KrishnaG-MSFT Created PR for the update.

[2022-09-13 09:58] #98368 closed

[2022-09-13 10:06] jeiesel opened #98371 "Deprecated list of supported versions of IBM DB2 for i"
[Enter feedback here]
In the list of supported DB2 products with their versions, I see that for IBM DB2 for I the latest version is 7.3 but I know there newer versions of it as they are 7.4 and 7.5.

Because of the strong type of licensing this product has, I think that this missing versions could be because the documentation is deprecated.

---
#### Document Details

⚠ *Do not edit this section.

[2022-09-13 10:18] Gouravkala commented on #98269
Hi Team, the above mentioned link is for end to end private end point connectivity. The ask is when we have Azure migrate project with public endpoint connectivity and we want to migrate hyper-v Vms over express route with Private peering.  as per the link https://docs.microsoft.com/en-us/azure/migrate/replicate-using-expressroute#replicate-data-by-using-an-expressroute-circuit-with-private-peerin

[2022-09-13 10:42] GitaraniSharma-MSFT commented on #98364
@aidanfinn , thank you for your feedback. We'll review this and get back to you shortly!

[2022-09-13 11:00] CamiloTerevinto commented on #85389
Thanks @ericd-mst-github! Any idea when this will be released? This still doesn't work as of right now.

For example: I have version 0.1.0, I went ahead and added 0.1.1 and I end up with this:

![image](https://user-images.githubusercontent.com/6320854/189884056-4caf72cb-5055-4cba-8974-c2360041e574.png)

I look at the VM and version 0.1.1 is not even downloaded to the VM.

[2022-09-13 11:05] AjayBathini-MSFT commented on #98355
@maniSbindra
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-13 11:07] AjayBathini-MSFT commented on #98356
@perentorio
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-13 11:08] shaktisingh-msft commented on #98369
Hi @yezhu6 ,

Thanks for sharing this. Thread has been assigned to concerned author to take care.

Hi @DavidTrigano ,

Could you please look into this thread ask about SQL Vulnerability assessment rules change.

[2022-09-13 11:14] sbenzch commented on #96994
Do we have already any update in this topic?

Thank you

[2022-09-13 11:30] deepakhariharan opened #98375 "One-to-One Video Communication."
I have successfully implemented the program, but when I am trying to communicate with my partner the program is not transmitting voice or Video, Please suggest a suitable solution for this. I am trying to call through internet not in a LAN Network.
Thanks and Regards
Deepak Hariharan(India)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2022-09-13 11:37] soferreira commented on #98233
Hi @RamanathanChinnappan-MSFT

I am using System Assigned Managed identity and I am running the notebook from pipeline. The pipeline works well if I use access policies. However, it does not work if I use RBAC.

Does that mean that RBAC not supported by the library at the moment?

[2022-09-13 11:50] MayankBargali-MSFT commented on #98104
@PandaBoy00 Please make sure that you are passing the `x-functions-key` and `Content-Type` as the `Header` in your request and **not as query parameters**. The issue is reproduced if you are not passing the `x-functions-key` value correctly as header in your request.

MicrosoftDocs Github issue is mainly related to the document issue. For any troubleshooting/how to issue I would recommend you to c

[2022-09-13 11:50] #98104 closed

[2022-09-13 11:52] gonkilluaHxH commented on #98313
@RamanathanChinnappan-MSFT  Ok, thanks!
I also have another question: Is paging available for visual image search? and does paging considered a separate API call?

[2022-09-13 11:55] hansharhoff commented on #96931
I can confirm that gandersen101's suggestion help with my issue.

[2022-09-13 11:58] CHEEKATLAPRADEEP-MSFT commented on #98371
@jeiesel  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-09-13 12:21] scoulomb opened #98377 "quickstart-create-traffic-manager-profile-cli - 404 Web Site not found"
At the end of procedure, when testing traffic manager via `http://<dns-prefix>.trafficmanager.net/` , I have a 404.

[code]

Only workaround I found is to configure custom domain in app service, something similar to custom DNS described here: https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-custom-domain?tabs=a%2Cazurecli, where here the DNS is traffic manager DNS `<dns-

[2022-09-13 12:32] RamanathanChinnappan-MSFT commented on #98278
@rsk800

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-13 12:38] Nicholak-MS commented on #98302
I have added the DYN365_BUSCENTRAL_TEAM_MEMBER product to the online table and the downloadable CSV.

Thanks,
Nick

#please-close

[2022-09-13 12:39] ranjnagemini commented on #97924
Thanks Satish and team.  I reviewed it on Github and it seems like it has
been triaged and also assigned to the original author as well. Feel free to
contact me in case if anyone needs any further details.

Regards
Ranjna

On Sat, Sep 3, 2022 at 4:54 AM SatishBoddu ***@***.***> wrote:

[2022-09-13 12:39] Nicholak-MS commented on #98302
#please-close

[2022-09-13 12:39] #98302 closed

[2022-09-13 12:40] Nicholak-MS commented on #98302
#Please-close

[2022-09-13 12:41] ericd-mst-github commented on #85389
No worries. I will check with our engineering on the timeline.

If I read the screenshot correctly, did the added version 0.1.1 appear as '0.1.0' as well? I seem to see it listed twice as both 0.1.0.

[2022-09-13 12:42] Nicholak-MS commented on #97938
I have corrected the casing errors on the downloadable CSV.

Thanks,
Nick

#please-close

[2022-09-13 12:42] #97938 closed

[2022-09-13 12:43] RamanathanChinnappan-MSFT commented on #98233
Hi @soferreira,

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-13 12:43] CamiloTerevinto commented on #85389
Yes, that's exactly it :) I end up with 2 "0.1.0" versions. Although the Resource Manager completely ignores the second "installation", it's just a glitch in the Azure Portal (removing one of them removes both)

[2022-09-13 12:45] saldagmac commented on #98041
@SwathiDhanwada-MSFT I am referring to the sample ARM template file from the Ev2 Tutorial, Webapp.template.json

[2022-09-13 12:46] CraigGemmill commented on #97550
@mike-urnun-msft Based on the quoted issue https://github.com/Azure/azure-webjobs-sdk/issues/1925, I think it would be helpful to mention in the docs describing Azure Function usage in Java, that you must not use the reserved name "timerTrigger", or possibly also "httpTrigger", etc., or else the function schedule will not work.

[2022-09-13 12:56] telichenko opened #98380 "Invalid ACR image value"
Hi guys,
I guess that image value should be **\<acrName\>.azurecr.io/\<acrReponame\>/\<acrImagename\>:\<tag\>**
In this case there is just image name.
![image](https://user-images.githubusercontent.com/111118446/189905035-46532739-bb71-43cc-b10a-b1dd97b53ff2.png)
That won't work an will lead to ImagePullBackOff error for pod.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-09-13 13:02] miguelrodriguezeicke opened #98384 "Asana not available from the catalog"
Asana is not available as a product.
Is this a temporary change or was it removed completely from the catalog?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e8505a0-e675-f01b-8942-e2a2e1ea34a3
* Version Independent ID: a4c03261-3029-e073-034f-4fcfe7fd1021
* Content: [Tutorial: Azure Active Directory integration with

[2022-09-13 13:08] mumurug-MSFT commented on #97861
@norregaard We have made the necessary changes and merged. It will be published soon.

[2022-09-13 13:22] slueders-bag opened #98385 "powershell scripts are not working"
The script in section https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-modify-group-writeback#disable-automatic-writeback-of-all-microsoft-365-groups does not work. Also it is not in a correct format. In my opinion it does not work at all. It would be great to describe the scripts like this article: https://docs.microsoft.com/en-us/microsoft-365/solutions/manage-creati

[2022-09-13 13:24] andy-vdg opened #98386 "Documentation out of Date"
[Enter feedback here]
Documentation is out of date. There is now a SSO configuration page in Mural.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09919b94-66cc-69f6-e1d4-3da9a389b73c
* Version Independent ID: 285dee11-b15b-6a7a-0d18-c5c002d62921
* Content: [Tutorial: Azure AD SSO integration with MURAL Identity - Micr

[2022-09-13 13:25] andy-vdg commented on #98386
![image](https://user-images.githubusercontent.com/19990167/189912999-d3397e5f-f0ad-44a6-949b-3a19798e07c0.png)

[2022-09-13 13:35] hemetz opened #98387 "Azure Container Apps marked as Preview at the product browser"
Azure Container Apps still marked as Preview at this site: https://docs.microsoft.com/en-us/azure/?product=containers#browse-azure-products:

[Azure Container Apps **(Preview)**](https://docs.microsoft.com/en-us/azure/container-apps/)
Build and deploy modern apps and microservices using serverless containers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2022-09-13 13:35] ericd-mst-github commented on #85389
Gotcha. I'll check with engineering on this odd duplicate behavior as well and will keep you posted.

Thank you for your patience!

[2022-09-13 13:47] NitroAMD opened #98389 "Wrong SKU name"
The mentioned ARM64 SKU is not working as the CPU number is missing (copy/paste scenario):
https://docs.microsoft.com/en-us/azure/virtual-machines/dpsv5-dpdsv5-series

No working:
az aks nodepool add \
    --resource-group myResourceGroup \
    --cluster-name myAKSCluster \
    --name armpool \
    --node-count 3 \
    --node-vm-size **Standard_Dpds_v5**

WORKING
az aks nodepool add \
    --resour

[2022-09-13 14:07] spelluru commented on #98335
@aulong-msft - Thank you for the feedback, but the article specifically has the steps to get the connection string for the **namespace**, not for a queue. If you use the connection string for a namespace as mentioned in the quickstart, you shouldn't see the error you are getting. Are you using a connection string to an entity (queue)?

[2022-09-13 14:08] spelluru commented on #98335
In the code comments too, I have this mentioned:

// connection string to your Service Bus namespace
static string connectionString = "<NAMESPACE CONNECTION STRING>";

[2022-09-13 14:19] spelluru commented on #98335
@aulong-msft - Ok. Thanks. This is a quickstart that specifically mentions using a connection string to a namespace. Quickstarts are for someone learning the service for the first time, so I wouldn't want to change the quickstart.

So, you are using connection string to the queue, so you will need to use different code. You'll need to use a different EventHubProducerClient constructor.

https://do

[2022-09-13 14:20] spelluru commented on #98335
Add a note to this article too:
https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-get-connection-string#connection-string-for-a-specific-event-hub-in-a-namespace

[2022-09-13 14:24] Tiberriver256 opened #98391 "Use SQL Connection String instead of Azure.Identity"
Rather than using Azure.Identity to fetch a token which will break your tests I would think it is preferable to use managed identity via the connection string instead. Support for managed identity authentication was added to SqlClient in 2.1.0:

https://github.com/dotnet/SqlClient/blob/main/release-notes/2.1/2.1.0.md#Azure-Active-Directory-Managed-Identity-authentication

---
#### Document Details

[2022-09-13 14:27] PatAltimore commented on #96091
Hi @savastosic ,

Thanks again for the feedback. We've added a note to all articles about the iotedge check error for a newly provisioned device.

I'm going to request closing the issue. #please-close

Thanks,
Pat

[2022-09-13 14:34] ChaitanyaNaykodi-MSFT commented on #98377
Thank you for your feedback! We will review and update as appropriate.

[2022-09-13 15:01] cijothomas opened #98393 "Missing pre-requisite about subscription permissions"
The only pre-requisite listed is having an Azure subscription. However, when following this doc, I see the following warning in the basics tab:

_You might not have enough access right at below subscription or resource group to enable all features, please see 'Permission' tab for details._

When I move to the Permission tab, It has the following warning:

_You must be a subscription 'Owner' or 'Us

[2022-09-13 15:02] aulong-msft commented on #98335
@spelluru no biggie! if its 2 documentation updates then its a win! and correct, that was the process i went through as well as the solution and i was able to read from that queue. Thanks!!

[2022-09-13 15:04] cvillagomez commented on #98334
@jtvcodes Thank you, I have made the changes to the PR to make the changes to **.accessToken** accordingly.

Carlos V.

[2022-09-13 15:04] #98334 closed

[2022-09-13 15:28] PandaBoy00 commented on #98104
Hi MayankBargaili,

I did exactly as the doc and what your comment said and it is the same.

Screen Shot for your reference:
[cid:697a8b05-49a2-4471-8c7b-888ebacd332a]
[cid:7b7aa421-067e-4ae6-b843-dd33c7eb0f79]

Regards,
Kengie

________________________________
From: MayankBargali-MSFT ***@***.***>
Sent: Tuesday, September 13, 2022 7:50 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: PandaBoy00 *

[2022-09-13 15:31] VikasPullagura-MSFT commented on #98389
@NitroAMD
Thanks for the feedback! We will check and update the document accordingly.

[2022-09-13 15:33] SwathiDhanwada-MSFT commented on #98041
@saldagmac If possible, can you please share the document you are referring to ?

[2022-09-13 15:34] #98384 closed

[2022-09-13 15:35] miguelrodriguezeicke commented on #98384
my bad using the search

[2022-09-13 15:45] JamesTran-MSFT commented on #98385
@slueders-bag
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-13 15:45] argenteneo-davesniegocki opened #98395 "Backup / Restore documentation clarification"
The following section of the documentation implies that a full restore to a Managed HSM may only be performed if a full backup had been completed within the previous 30 minutes; if true, this would effectively mean that a new backup must be performed every 30 minutes of the day in order for the restore operation to fall within the valid parameters:

![image](https://user-images.githubusercontent.c

[2022-09-13 15:46] JamesTran-MSFT commented on #98386
@andy-vdg
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-13 15:48] asos-tomlonghurst commented on #92775
I have Azure Service Bus Data Receiver on a Topic. I'm trying to trigger an Azure Function using a topic Service Bus trigger, and I'm getting a managed identity authentication exception.

As far as I'm aware, it's got everything it needs. But it's not working.

[2022-09-13 15:59] VikasPullagura-MSFT commented on #98380
@telichenko
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-09-13 16:02] spelluru commented on #98335
@aulong-msft - thanks :).

This worked for me.

`
        // access key to your Service Bus queue
        static string accessKey = "<ACCESS KEY of the SAS Policy I created>=";

        // name of your Service Bus queue
        static string queueName = "myqueue";

            var clientOptions = new ServiceBusClientOptions() { TransportType = ServiceBusTransportType.AmqpWebSockets };

[2022-09-13 16:03] #81823 closed

[2022-09-13 16:05] AjayBathini-MSFT commented on #98361
@prerna-tesser
It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-09-13 16:12] ericd-mst-github commented on #85389
Hi @CamiloTerevinto

Engineering responded thinking this may be a portal bug. Can you see if you can submit a support case? We are looking to have engineering take a look in the backend.

[2022-09-13 16:13] AjayBathini-MSFT commented on #98365
@odbckrishna
It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-09-13 16:16] AjayBathini-MSFT commented on #98366
@odbckrishna

We are going to close this thread as Duplicate of #98365

[2022-09-13 16:16] #98366 closed

[2022-09-13 16:19] AjayBathini-MSFT commented on #98369
@yezhu6
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-13 16:21] AjayBathini-MSFT commented on #98375
@deepakhariharan
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-13 16:28] AjayBathini-MSFT commented on #98391
@Tiberriver256
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-13 16:30] kenwith commented on #98262
#reassign: @jenniferf-skc

[2022-09-13 16:30] AjayBathini-MSFT commented on #98387
@hemetz
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-13 16:34] AjayBathini-MSFT commented on #98393
@cijothomas
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-13 16:35] AjayBathini-MSFT commented on #98395
@argenteneo-davesniegocki
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-13 16:50] brmcmill opened #98397 "Recommendation: Add Tab for Azure Government URL and IPs"
Hey Team -- I believe we should have a list of all the required Azure Government URLs and IPs as well on this page.  A suggestion could be to use the same approach with the article below to have tabs that a customer can quickly reference.  This would provide a consistency of configurations for our Azure Government customers that may reference multiple Docs articles.  Hope this helps!

[Required UR

[2022-09-13 16:50] justinmchase opened #98398 "This article says the api-version parameter is required but doesn't enumerate the possible values"
It says `api-version=[api-version]` but I have no idea what api versions are available and can't seem to find the possible values.

It would be nice if there was a link to possible api versions, or just a table listing them all or at the very least the latest api version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-09-13 16:52] justinmchase opened #98399 "REST example doesn't show how to do authorization headers"
It seems like authentication is required but this example, nor any other documentation that I can find easily shows which headers to send in order to access this API.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd620dc0-0a8b-232e-809f-0c7fdb1c98bc
* Version Independent ID: e85be53d-5397-e6d6-84ea-34a89e2fd4d2
* Cont

[2022-09-13 17:00] KranthiPakala-MSFT commented on #98279
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-09-13 17:01] saldagmac commented on #98041
Quickstart\Ev2_Tutorial\start\ServiceGroupRoot\Templates, from
the .zip downloaded with AzureServiceDeployClient at https://msazure.visualstudio.com/Azure-Express/_git/Quickstart?path=%2FEv2_PowerShell&version=GBmaster

[2022-09-13 17:29] seesharprun commented on #97586
#reassign:abinav2307

[2022-09-13 17:48] cynthn commented on #98312
@Se-Si Because the base image is no longer available, you will need to create a new image based on the latest version of Kali in the marketplace, or build your own custom image.

If you have more questions, you might want to try posting on **Q&A** here: https://docs.microsoft.com/en-us/answers/topics/azure-virtual-machines.html

[2022-09-13 18:21] CamiloTerevinto commented on #85389
Hey @ericd-mst-github,

Doing this through the Azure CLI results in absolutely nothing happening (it returns version "0.1.0" as if I had asked for that to be installed), so it cannot just be a Portal thing. I'll ask my IT team to create a support ticket tomorrow :)

[2022-09-13 18:23] idcha0s commented on #97410
I just want to confirm that on an ER connected network, the default outbound IP is not used to egress, and that it is the UDR which is affecting that change OR is there something special about how ER vNets are treated with respect to the use of the default outbound IP? The guidance does not mention using a UDR to "disable" default outbound IP egress in this manner.

[2022-09-13 18:37] raistlinxw commented on #98145
I found for me that it was building a .jar file but then trying to upload *.war files.

I found a workaround by editing pom.xml in the project and adding
	<packaging>war</packaging>
in the same area that the artifactid and version were location.

	<groupId>com.example</groupId>
	<artifactId>java-docs-spring-hello-world</artifactId>
	<version>0.0.1-SNAPSHOT</version>
	<packaging>war</packaging>
	<n

[2022-09-13 18:49] amsliu commented on #98148
@APraestegaard Thanks for providing feedback that helps improve our documentation. Unfortunately, we do not have the multi-stage reviews on access package feature according to our product team and therefore, I am unable to add that to our documentation at this time. Please check back regularly to see our documentation changes in the future. We are now closing the issue. #please-close

[2022-09-13 18:49] #98148 closed

[2022-09-13 18:50] camaier opened #98405 "Conflict in VM Limits"
[Enter feedback here]
Hello,

I pulled up my customer's information in ASC and the VM limits listed there for this B2s VM is different in ASC than in the official documentation, https://docs.microsoft.com/en-us/azure/virtual-machines/sizes-b-series-burstable. Please see below my findings.

![image](https://user-images.githubusercontent.com/71777194/189985527-f082d619-ba6b-4c2a-9954-4942b9d7037c.pn

[2022-09-13 18:58] ChaitanyaNaykodi-MSFT commented on #98397
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-09-13 19:19] sushaanttb commented on #98327
@Venkateshdodda-MSFT
Yes, I also tried re-simulating the issue but this time it worked fine for me as well, so not sure what was the issue when I was trying yesterday, but for now it's good to conclude that the official doc steps indeed are working fine as expected.

[2022-09-13 19:36] MarileeTurscak-MSFT commented on #97686
Thanks for your feedback. We have created a work item for the PG as we don't have an easy way to obtain the MAU for B2B or B2C scenarios.

[2022-09-13 19:46] StuartBurden opened #98406 "Typo"
Please note a minor typo:
"The following are terms you'll encounter as your set up a custom domain"
should read
"The following are terms you'll encounter as you set up a custom domain"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 190b1ed3-0712-2f19-4e8f-a2a8519d136e
* Version Independent ID: b02adbf4-d2a8-6c84-e70a-f

[2022-09-13 19:46] josuvil opened #98407 "Does this feature support Azure ADDS?"
Hello,

Thanks for the excellent write-up here. However, it would be good to mention if this feature supports Azure ADDS. It's my understanding that it would not. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2896aa11-53c5-722b-aabf-e59dda55cf38
* Version Independent ID: 7291a3a0-24d6-0e88-9105-29001f7e3ed1

[2022-09-13 19:50] richardspitz opened #98408 "Apply the Custom Script Extension - @customConfig.json needs to be customConfig.json"
[Enter feedback here]

This code block:

az vmss extension set \
  --publisher Microsoft.Azure.Extensions \
  --version 2.0 \
  --name CustomScript \
  --resource-group myResourceGroup \
  --vmss-name myScaleSet \
  --settings @customConfig.json

needs to drop the @ from in from of the customConfig.json and be this:

az vmss extension set \
  --publisher Microsoft.Azure.Extensions \
  --version 2.

[2022-09-13 19:57] Se-Si commented on #98312
Thanks for the response @cynthn. We expected as much.

Is there any way to set up alerts for this kind of thing? I am not sure if we were given any warning and it would be nice to prepare.

Thanks again! :)

[2022-09-13 19:58] JamesTran-MSFT commented on #98407
@josuvil
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-13 20:06] cynthn commented on #98312
@se-si Sorry :( I think there is some discussion about how to warn customers when Marketplace images are retired, but I'm not sure where they are with that plan. I can also try to think of a way to automate checking to see what images are no longer available (doing a query, then a simple diff to see what has changed) which might be helpful.

#please-close

[2022-09-13 20:06] #98312 closed

[2022-09-13 20:13] YvesMentens opened #98409 "Databricks name length restriction not correct"
Restriction of length of Databricks is incorrect.
Azure Portal says max length is 30 while page says its 64

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 374ec8eb-64d4-3766-5c5e-39137a262ffd
* Version Independent ID: 3abeeae9-6854-651a-483c-a1673eea9f9f
* Content: [Resource naming restrictions - Azure Resource Manager

[2022-09-13 20:14] aj9411 opened #98410 "Conflicting units of measurement on Redis metrics"
On the redis metrics, there are multiple metrics for which the 'Unit' column has 'BytesPerSecond' but then the description says the unit is 'MB/s'. For example, you can see 'allCacheRead'. From my testing, I think 'BytesPerSecond' is the true unit of measurement.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f496941-

[2022-09-13 20:56] MashaMSFT commented on #96125
Hi @pinyuko , thanks for bringing this to our attention! We'll look into this and update the docs as appropriate. We've filed an item in our backlog.

Thanks so much!
Masha from SQL Docs
#please-close

[2022-09-13 20:56] #96125 closed

[2022-09-13 21:02] MashaMSFT commented on #89470
Hi @dezdez , thanks for bringing this to our attention! There are a few opportunities to improve this article :) We've filed an article in our backlog and will address it as priority allows. I'll go ahead and close out this Git Issue but please feel free to comment should you need anything further.

Thanks again and hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-c

[2022-09-13 21:02] #89470 closed

[2022-09-13 21:05] kquinby opened #98412 "Azure AD Guest accounts"
Documentation is not clear if this will work with Azure AD Guest accounts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2ede563-b873-0bc3-959f-69e555f0efcc
* Version Independent ID: 8471d9e4-6c79-0cf1-c5ed-50c58e1b92aa
* Content: [Log in to a Linux virtual machine in Azure by using Azure AD and OpenSSH - Microsoft E

[2022-09-13 21:06] JamesTran-MSFT commented on #98275
@Kaypyosh
Thanks for your feedback! I wasn't able to find the `Auto-Approve` requests tab either when following the [Make setting selections for requests and auto-approval](https://docs.microsoft.com/en-us/azure/active-directory/cloud-infrastructure-entitlement-management/ui-remediation#make-setting-selections-for-requests-and-auto-approval) section.

I've assigned this issue to the author who wil

[2022-09-13 21:33] PhilEmpyrean opened #98416 "Optional Claim Configuration references non-existent menu option"
Optional Claim Configuration has a section about adding Optional Claims, however, Management -> Token Configuration is an Azure AD option, not an Azure AD B2C Option, and is not available.

See: https://github.com/MicrosoftDocs/azure-docs/issues/65511

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bac6db2d-bff9-cbcf-d5

[2022-09-13 21:35] phazlett commented on #51708
This is burning me too and I say that this is nothing more than pure poop! MSFT, can you please fix this?

[2022-09-13 21:48] brydeno commented on #69947
We're seeing the same issue too.

[2022-09-13 21:51] brydeno opened #98417 "Synapse Default Linked Services get deployed to all environments when using git"
When you create a new instance of Synapse the instance automatically creates and names 2 linked services using the Synapse instance name in the linked services name i.e. instancename-WorkspaceDefaultStorage and instancename-WorkspaceDefaultSqlServer (DevSynapseInstance-WorkspaceDefaultStorage, DevSynapseInstance-WorkspaceDefaultSqlServer) . From what I can see this cannot be changed, and isn't con

[2022-09-13 22:25] andresbarcenas opened #98418 "Any plans to fix the version Limitation?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 514fbd96-6906-d51d-b6be-5e8e4dc6243c
* Version Independent ID: ab0186f4-349d-99f5-f504-ab17d7fe7932
* Content: [Limitations - Azure Database for MySQL](https://docs.microsoft.com/en-us/azure/mysql/single-server/concepts-limits#current-known-issues)
*

[2022-09-13 22:31] JamesTran-MSFT commented on #98412
@kquinby
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-13 22:32] JamesTran-MSFT commented on #98416
@PhilEmpyrean
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-13 22:39] spelluru commented on #98335
@aulong-msft - closing this GitHub issue. Created a work item to add the above content to the quick start and other appropriate places. Thanks!!

#please-close

[2022-09-13 22:40] #98335 closed

[2022-09-13 22:42] WilliamDAssafMSFT commented on #95519
Hi @hiumingw! Thanks for taking time to open this GitHub issue. This doc was updated in Sept 2020 to reflect this. The NOTE at the top of the page recommends the [Apache Spark Connector for SQL Server and Azure SQL](https://docs.microsoft.com/en-us/sql/connect/spark/connector) instead.

[2022-09-13 22:42] WilliamDAssafMSFT commented on #95519
#please-close

[2022-09-13 22:42] #95519 closed

[2022-09-13 22:45] schaffererin commented on #95208
Hi @PriyankaRudramaina and @kowei - I was also unable to reproduce the issue on my end.

As stated in the following doc [Create an ingress controller in Azure Kubernetes Service (AKS)](https://docs.microsoft.com/en-us/azure/aks/ingress-basic?tabs=azure-cli#create-an-ingress-controller), under the following section [Create an ingress controller](https://docs.microsoft.com/en-us/azure/aks/ingress-ba

[2022-09-13 22:45] #95208 closed

[2022-09-13 22:57] WilliamDAssafMSFT commented on #69736
#reassign:WilliamDAssafMSFT

[2022-09-13 22:57] WilliamDAssafMSFT commented on #69736
#assign:ajagadish-24

[2022-09-13 22:58] MarileeTurscak-MSFT commented on #98203
Thanks! I made a pull request to make the examples more aligned. https://github.com/MicrosoftDocs/azure-docs-pr/pull/211102

CC @kengaderdus

[2022-09-13 22:58] #98203 closed

[2022-09-13 23:00] HeidiSteen commented on #98399
Hi Justin, the create index article has steps for portal, REST, C#, other in tabs.  If you're using the portal, authentication is implicit (you're an Owner or Contributor on the search service).

If you're using REST, the first link in the bulleted list resolves to a quickstart article that walks you through all of the steps, including setting up headers.  All of the quickstart articles and tutori

[2022-09-13 23:00] #98399 closed

[2022-09-13 23:04] WilliamDAssafMSFT commented on #64701
#reassign:WilliamDAssafMSFT

[2022-09-13 23:08] WilliamDAssafMSFT commented on #64701
#assign:rwestMSFT

[2022-09-13 23:09] WilliamDAssafMSFT commented on #64700
#reassign:rwestMSFT

[2022-09-13 23:13] WilliamDAssafMSFT commented on #91891
#assign:rwestMSFT

[2022-09-13 23:13] WilliamDAssafMSFT commented on #85347
#reassign:rwestMSFT

[2022-09-13 23:13] WilliamDAssafMSFT commented on #79489
#reassign:rwestMSFT

[2022-09-13 23:14] scoulomb commented on #98377
I think we may have to wait propagation, maybe we should mention this in the doc

[2022-09-13 23:17] chuckb1300 opened #98419 "This agent does not deliver any other functionality, and ...."
To connect hybrid machines, you install the [Azure Connected Machine agent](https://docs.microsoft.com/en-us/azure/azure-arc/servers/agent-overview) on each machine. This agent does not deliver any other functionality, and

Suggest that if your going to say it doesn't deliver any other functionality, that you describe what functionality it does deliver.
---
#### Document Details

⚠ *Do not edit th

[2022-09-13 23:20] devakishore commented on #30510
can we expect next  Az goes away and CLI  takeover

[2022-09-13 23:29] drdamour commented on #81823
@maud-lv y close? docs never got updated

[2022-09-13 23:37] JamesTran-MSFT commented on #98264
@Kaypyosh
Thank you for your time and patience on this one!

After following the [Create a role for Azure](https://docs.microsoft.com/en-us/azure/active-directory/cloud-infrastructure-entitlement-management/how-to-create-role-policy#create-a-role-for-azure) section, if you have the Authorization System Type set, you should be able to see the "Create Role" button.

**Roles/Policies:** Without the A

[2022-09-13 23:44] YutongTie-MSFT commented on #98206
Hello Larry @Blackmist , could you please check on this case to see how we should update the list? Thanks a lot.

[2022-09-13 23:45] GeethaThatipatri-MSFT commented on #98418
Hi @andresbarcenas Thanks for your findings! We will look into it and update you as appropriate.

[2022-09-13 23:45] WilliamDAssafMSFT commented on #97854
Closing this issue for now. We can discuss more if desired.
#please-close

[2022-09-13 23:45] #97854 closed

[2022-09-13 23:47] YutongTie-MSFT commented on #98271
Hello @lgayhardt , could you please take a look at this case? I can raise a PR for this issue.

@YihuiGuo Thanks a lot, let me check with the author.

[2022-09-13 23:50] JamesTran-MSFT commented on #98241
@colmardev
Thank you for your time and patience on this!

After following the steps myself, I ran into an error message when I selected ` the Delete button on the Overview page`. I've reached out to our engineering team and will update as soon as possible.
![image](https://user-images.githubusercontent.com/36619112/190029098-fb0b5faa-6776-4305-bc3e-25b912729c37.png)

If you have any other question

[2022-09-13 23:52] rwestMSFT commented on #85347
Thanks @andresu13. I'm tracking this internally and will close this issue here. We'll add a warning to the docs when we do a refresh.

#please-close

[2022-09-13 23:52] #85347 closed

[2022-09-14 00:00] lsmith-apriva commented on #98346
here's my code update suggestions:

[code]

[2022-09-14 01:17] WilliamDAssafMSFT commented on #96581
#please-open

[2022-09-14 01:17] WilliamDAssafMSFT commented on #96581
#reassign:WilliamDAssafMSFT

[2022-09-14 01:18] WilliamDAssafMSFT commented on #96581
#label:"doc-bug"

[2022-09-14 02:10] Venkateshdodda-MSFT commented on #98398
@justinmchase Thank you for your feedback! We will review and update as appropriate.

[2022-09-14 02:50] VikasPullagura-MSFT commented on #98408
@richardspitz
Thanks for the feedback! We will check and update the document.

[2022-09-14 02:52] VikasPullagura-MSFT commented on #98405
@camaier
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-09-14 02:52] VikasPullagura-MSFT commented on #98405
@rishabv90
Can you please check and add your comments on this doc update request as applicable.

[2022-09-14 03:33] joannapea commented on #69736
This can be closed as we don't plan to support auto schema discovery for ORC in Gen2 dedicated sql pools.

[2022-09-14 03:46] AnuragSingh-MSFT commented on #98165
@akinaritsugo, We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-09-14 03:46] #98165 closed

[2022-09-14 04:03] Venkateshdodda-MSFT commented on #98406
@StuartBurden Thank you for your feedback! We will review and update as appropriate.

[2022-09-14 04:11] AnuragSingh-MSFT commented on #98362
@olavt, thank you for bringing it to our attention. Please find the clarification below regarding your questions: -

1. ["Application Insights for .NET console applications"](https://docs.microsoft.com/en-us/azure/azure-monitor/app/console) - This was the existing method to integrate ApplicationInsights with console application and is still supported. This requires additional set-up to be done, fo

[2022-09-14 04:14] Venkateshdodda-MSFT commented on #97844
@v-pradda Thank for your feedback! Requested Documentation changes were done.

[2022-09-14 04:14] #97844 closed

[2022-09-14 04:18] #98282 closed

[2022-09-14 04:36] ackava commented on #96105
@normesta Any update on this question?

[2022-09-14 04:49] AjayBathini-MSFT commented on #98410
@aj9411
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-14 04:53] AjayBathini-MSFT commented on #98417
@brydeno
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-14 04:55] AjayBathini-MSFT commented on #98419
@chuckb1300
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-14 04:56] Kuenni commented on #97534
Hi @AjayBathini-MSFT  and @barclayn ,

do you have any updates on this?

Thx and greetings,
Kuenni

[2022-09-14 05:09] JasonWHowell commented on #69736
#please-close

[2022-09-14 05:09] #69736 closed

[2022-09-14 05:11] AjayBathini-MSFT commented on #97534
@barclayn
Could you please suggest on the query.

[2022-09-14 05:29] #98406 closed

[2022-09-14 05:32] Venkateshdodda-MSFT commented on #98406
@StuartBurden Thanks for your feedback! Document changes were made and will go live soon.

[2022-09-14 05:44] AnuragSingh-MSFT commented on #98419
@chuckb1300, thank you for the feedback. The functionality that it delivers is mentioned in the previous sentence - "To connect hybrid machines"
I will update the statements to make it clearer.

[2022-09-14 05:46] YashikaTyagi-MSFT commented on #98289
@duy1998
Hi, could you please elaborate your query in detail so that we can understand it better and help you in resolving the issue. Thanks

[2022-09-14 05:47] bmansheim commented on #98149
Hi @nitbhatt0. Sorry for the delay on getting back to you. This feature stretches across a couple of orgs in the company so I was working on getting to the right people.

For now, please refer to https://docs.microsoft.com/en-us/azure/automation/change-tracking/manage-inventory-vms for more information about recursion. I will open an internal ticket to try to fill in more in our docs as well.

[2022-09-14 05:48] bmansheim commented on #98149
#please-close

[2022-09-14 05:48] #98149 closed

[2022-09-14 05:51] prerna-tesser commented on #98361
Hi I followed this documentation for writing csv files into the Azure Blob Storage using PySpark.

https://docs.microsoft.com/en-us/azure/synapse-analytics/spark/microsoft-spark-utilities?pivots=programming-language-python

[2022-09-14 05:57] mezzofix commented on #98168
@JamesTran-MSFT any updates on this matter? Thanks !

[2022-09-14 06:06] YashikaTyagi-MSFT commented on #98280
@TaraWM
As per the documentation, as long as you are using same source anchor in separate tenants. It should work fine and also keep in mind that you will need to deploy an AADConnect server for every Azure AD tenant you want to synchronize to-one AADConnect server cannot synchronize to more than one Azure AD tenant. After performing the following steps if you are still facing the issue. Please re

[2022-09-14 06:08] AaronZhangOgi opened #98424 "wrong screenshot. Seems the screenshot is for "Session" not "Grant""
[Enter feedback here]

wrong screenshot. Seems the screenshot is for "Session" not "Grant"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd934939-4dbb-3a92-f996-56b9557f49ac
* Version Independent ID: 3cda6b81-26e8-c9ac-e768-d912636a461b
* Content: [Grant controls in Conditional Access policy - Azure Active Directory -

[2022-09-14 06:08] #73949 closed

[2022-09-14 06:09] #75519 closed

[2022-09-14 06:10] #89249 closed

[2022-09-14 06:51] AjayBathini-MSFT commented on #98356
@perentorio
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@zr-msft
Could you please add some clarification on the below statement of the document. So, it will be helpful to sort out the query
<img width="549" alt="image" src="https://user-images.githubusercontent.com/111562794/190081808-3d7e9c5e-47f6-46a4-832b

[2022-09-14 06:52] ctahok commented on #93221
What if it is just a single forest and a single domain? How do you stop replicating it to other DCs?

[2022-09-14 07:05] Sharmistha-Rai commented on #98171
This Vault ID can't be fetched by customers. It will be autogenerated. The intention of the statement is to show how the pattern of the FQDN would look like.

[2022-09-14 07:11] AjayBathini-MSFT commented on #98408
@richardspitz
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-09-14 07:17] ManoharLakkoju-MSFT commented on #98319
@blakemcmillan
Thank you for your suggestion. It would be helpful to provide your ideas in the below link so our product team will work on it.
https://feedback.azure.com/d365community

[2022-09-14 07:20] DavidKlempfner opened #98426 "Typo"
https://docs.microsoft.com/en-us/azure/app-service/monitor-instances-health-check?tabs=dotnet

"Why are the Health check request not showing in my web server logs?" - "request" should be "requests".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20c42a13-f6cb-1e60-0438-f7f32b86a336
* Version Independent ID: 79e7dd15-24

[2022-09-14 07:26] AjayBathini-MSFT commented on #98408
#signoff

[2022-09-14 07:26] #98408 closed

[2022-09-14 07:36] SaibabaBalapur-MSFT commented on #98270
@gavina-contino
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-14 07:36] #98270 closed

[2022-09-14 07:43] garis opened #98427 "Workflow change for AWS account connection."
The step 5.5.b "_Enter the Service Principal ID and Service Principal Client Secret for Azure Arc as described here Create a Service Principal for onboarding at scale_" is not required anymore and was removed from the UI around mid August.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f48f68b8-f15e-d900-8e61-6aadec8ae

[2022-09-14 07:47] toastjoqo opened #98429 "Please add screenshot for "When creating linked service for Azure Synapse serverless SQL pool from UI, choose **"enter manually"** instead of browsing from subscription.""
[Enter feedback here]
Please add screenshot for "When creating linked service for Azure Synapse serverless SQL pool from UI, choose **"enter manually"** instead of browsing from subscription.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8f48c7b-2f52-6fe0-9ea6-358380e0c815
* Version Independent ID: 7f448f1e-8d3d-fb5c

[2022-09-14 07:48] toastjoqo commented on #98429
Please add screenshot for "When creating linked service for Azure Synapse serverless SQL pool from UI, choose **"enter manually"** instead of browsing from subscription." to tell customer how to find serverless endpoint name and how to configure it in linked service. Contact jiaqhuan@microsoft.com if you want more information

[2022-09-14 07:50] t-bzhan opened #98430 "Encountered short period of service unavailable when configuring access to Azure Cosmos DB from virtual networks"
When following the guideline to configure access to Azure Cosmos DB from virtual networks, we detected short period of service unavailable, the backend complains:

The service unavailable lasted for around for 2 minutes,
![image](https://user-images.githubusercontent.com/61817681/190093382-78714901-3f62-41f5-a2f4-c99b1f151dda.png)

From the documentation, it says:
![image](https://user-images.gith

[2022-09-14 07:54] maud-lv commented on #81823
Hi @drdamour , I believed the situation had been resolved, let me have another look at it.

[2022-09-14 08:09] Venkateshdodda-MSFT commented on #98398
@justinmchase as per [this documentation](https://docs.microsoft.com/en-us/rest/api/searchservice/create-index) the current stable API version to create a index is `2020-06-30` and this information is already added as hyperlink to this text as shown below

![image](https://user-images.githubusercontent.com/103091186/190097336-d4ae4b0f-03e5-4b79-bdf0-b9dd3009bc43.png)

You can refer to t[his docume

[2022-09-14 08:10] KapilAnanth-MSFT opened #98431 "AFD Classic Rules Engine does not list Regex under operator"
AFD Classic Rules Engine does not display "Regex" under the list of operators

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2facf12e-6b67-28b6-3504-08ae493f6e39
* Version Independent ID: bf977608-7c02-674d-6421-649b2d09bc19
* Content: [Configure Azure Front Door rules match conditions](https://docs.microsoft.com/en-us

[2022-09-14 08:15] KapilAnanth-MSFT commented on #98431
@duongau , I checked this with the Product Team and they confirmed "Regex" and "NotRegex" operator are not supported in Classic AFD Rules Engine.

Request you to update the docs accordingly.

[2022-09-14 08:16] ezYakaEagle442 commented on #95583
@RyanHill-MSFT could you provide an update now it is end of Q1, that would help customers + the MS field ?

[2022-09-14 08:22] Fuchio commented on #98160
To update on this, we found that the [docs](https://docs.microsoft.com/en-us/azure/digital-twins/how-to-manage-routes?tabs=portal%2Cportal2%2Cportal3) have a note that says this functionality is not yet available for twin updates (filters on arrays to be precise).

However, the question on what the added value is of first pushing as telemetry data and then updating twin properties instead of updat

[2022-09-14 08:25] YashikaTyagi-MSFT commented on #98409
@YvesMentens
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-14 08:34] GitaraniSharma-MSFT commented on #98431
@KapilAnanth-MSFT , thanks for your feedback. We have assigned this to the content owner/author for review.

@duongau , for your review & update.

[2022-09-14 08:48] Venkateshdodda-MSFT commented on #98426
@DavidKlempfner Thank you for your feedback! We will review and update as appropriate.

[2022-09-14 09:25] telichenko commented on #98380
Errors in my code. No check required.

[2022-09-14 09:25] #98380 closed

[2022-09-14 09:27] azurekid opened #98433 "URLs for testing not working"
Some of the URL's for testing are not working anymore.
We are preparing a webinar for Azure Network Security incl. DDoS Azure Firewall Premium and WAF and would like to showcase the TI in the Azure Firewall.

Can you please update / provide some urls that will be blocked for testing / demo purposes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2022-09-14 09:30] nebed commented on #66310
Hi @Thorfinn60 maybe you can change pointer to the certificate to the versionless secret id, that way it will always fetch most recent version

[2022-09-14 09:39] SaibabaBalapur-MSFT commented on #98355
@dtzar
We have gone through the doc where we can't be able to find the exact issue as it was a command, So could you please look into this query and do needful.

Please go through the below link where i can find relevant doc file.
https://docs.microsoft.com/en-us/azure/container-registry/container-registry-oras-artifacts

[2022-09-14 09:41] TaraWM commented on #98280
Hi,

Thank you for your reply. In my lab, I see that I can customise my second
AAD Connect server (for my second tenant) to use a different source anchor,
and here I can select ms-DS-ConsistencyGUID. I can confirm the wizard
completes and my objects from one on-premises domain sync to both tenants.
Everything seems okay.

I believe my query now is an engineering question around data flow - to
conf

[2022-09-14 09:44] v-pgaddala commented on #98171
As confirmed by @Sharmistha-Rai, Closing the git issue.

[2022-09-14 09:44] v-pgaddala commented on #98171
#please-close

[2022-09-14 09:44] #98171 closed

[2022-09-14 09:45] #98426 closed

[2022-09-14 09:48] Venkateshdodda-MSFT commented on #98426
@DavidKlempfner Document is updated, and the change will go live soon.

[2022-09-14 09:49] kev-in-shu commented on #92726
Personally I still see the problem described by OP.

[2022-09-14 09:52] SaibabaBalapur-MSFT commented on #98389
@NitroAMD
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-09-14 09:57] jrca025 commented on #92726
@kev-in-shu one thing I observed is that VM should be Gen 1. When VM is Gen 2 the error occurs. Although since I think this feature is already GA, it should be available for all.

[2022-09-14 09:59] kev-in-shu commented on #92726
Indeed, my VM is gen 2.
But this is not part of the limitations listed in the documentation: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/expand-os-disk#expand-without-downtime

![image](https://user-images.githubusercontent.com/7252851/190124284-c9dbd7e1-14a9-4def-b0b1-36215eef8c30.png)

[2022-09-14 10:00] kev-in-shu commented on #92726
Also, I did manage to resize the disk without downtime via az cli

[2022-09-14 10:01] SaibabaBalapur-MSFT commented on #98389
#Signoff

[2022-09-14 10:01] #98389 closed

[2022-09-14 10:05] jrca025 commented on #92726
Yes, that's one thing lacking on their end. Limitations should be indicated on their documentation.

You should look this up @Karishma-Tiwari-MSFT

[2022-09-14 10:08] kev-in-shu commented on #92726
Is there any way to reopen this issue?

[2022-09-14 10:09] YashikaTyagi-MSFT commented on #98280
@TaraWM
Thanks for the response.
I do understand your concern that you would like to be sure about this. I will discuss with the product team and will shortly update you.

[2022-09-14 10:10] SAIMMINHAS opened #98435 "Assigned the 'Global administrator' role but still can't view any VMs."
Hi,

I've been assigned the 'Global administrator' role by my company but i still can't view any VMs, neither any VNets etc.

Any clue why?

Below are some snapshots.

Waiting for your reply,

![image](https://user-images.githubusercontent.com/30388154/190126447-a0e79f4d-d828-45c8-b2cd-df4990369ae2.png)

When i try to view any VMs, Storage Accounts, VNets etc. i get the below screen:

![image](htt

[2022-09-14 10:17] GitaraniSharma-MSFT commented on #98364
@aidanfinn , could you please confirm if you are referring to the below document which demonstrates how to configure routing with multiple hubs via NVA?
https://docs.microsoft.com/en-us/azure/virtual-wan/scenario-route-through-nva#architecture

Also, I would like to mention the below point:
**Currently, using Azure Firewall to inspect inter-hub traffic is available for Virtual WAN hubs that are de

[2022-09-14 10:26] Sahil-13 commented on #98241
I am facing similar problem as well, I remember doing this a month ago and at that time when I clicked on "delete" button I saw a different message that in the screenshot below. The message was in the lines of "deleting the tenant will not delete the tenant but remove the subscription link" something like that.

![image](https://user-images.githubusercontent.com/65589996/190130088-675af845-9e9e-4e

[2022-09-14 10:38] AjayBathini-MSFT commented on #98424
@AaronZhangOgi
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-14 10:40] AjayBathini-MSFT commented on #98429
@toastjoqo
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-14 10:41] GitaraniSharma-MSFT commented on #98433
@azurekid , thank you for your feedback. We have assigned this to the content owner/author for review.

@vhorne , for your review and update.

[2022-09-14 10:41] gbeaud opened #98436 "Clarify responsibility between MS/client in case of VM failure"
It is not clear who manages the VM's failover in case of rack or zone failure depending on the disk's redundancy. Some clients are complaining about this lack of clarity, therefore I have built a presentation showing clearly who manages what in case of failure. I suggest you include this table in your documentation (I can send you the ppt version if you want, ask me gbeaud@microsoft.com):

![image

[2022-09-14 10:49] YashikaTyagi-MSFT commented on #98303
@davidkench

The first paragraph is more about Azure AD roles where users do have access to assignment related to Azure AD

but the second paragraph is more about resource based or subscription based roles which are different from Azure AD roles and the assignment works differently. A user can be a Global Admin in Azure AD but they won't have access to Subscription because both entities are differ

[2022-09-14 11:15] pablojavierf opened #98437 "Need to clarify executionTime precision"
Hello team!
We are currently working capturing notebook's information through Log Analytics but executionTime shows us differences between what is captured and what is shown in Databricks.

For example, we run a notebook in Databricks with function time.sleep(35) where the result is "Command took 35.07 seconds"
and from LogAnalytics, executionTIme show the value 3511.1201492

From this docs, we un

[2022-09-14 11:18] FerryMan-Coder opened #98438 "grammar/spelling mistake"
Shouldn't "Parameters let you customize the deployment by providing values that tailored for a particular environment" read "... are tailored ..."? It seems that 'are' is omitted here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3076c5fc-7226-9aee-40e1-e75e5d1cbeb8
* Version Independent ID: 211d9b84-c796-4628-c801-f

[2022-09-14 11:22] jurjenoskam opened #98439 "Arc Linux templates try to install the Windows extension"
In the section [Azure Arc-enabled Linux server](https://docs.microsoft.com/en-us/azure/azure-monitor/agents/resource-manager-agent?tabs=bicep#azure-arc-enabled-linux-server), the ARM and Bicep templates are trying to deploy a **Windows** agent instead of a **Linux** agent... (The name and type of the VM extension mention `AzureMonitorWindowsAgent` instead of `AzureMonitorLinuxAgent`)

---
#### Doc

[2022-09-14 11:23] JayQuantRise20 opened #98440 "logs in azure app"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-09-14 11:23] FilipBruins opened #98441 "Api Management limit-concurrency inbound"
The documentation for limit-concurrency says it can be used in the policy section "inbound". However, it does not seem to do anything when used in the inbound policy section. It does however work in the backend policy section (as in the example).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5310021d-de39-9418-2a55-cc

[2022-09-14 11:31] RamanathanChinnappan-MSFT commented on #98360
@natasha-savic-msft

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-14 11:37] SumanthMarigowda commented on #98436
@gbeaud
Thanks for the question! We are investigating and will update you shortly.

[2022-09-14 11:44] RamanathanChinnappan-MSFT commented on #98429
@toastjoqo

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-14 11:46] YashikaTyagi-MSFT commented on #98395
@argenteneo-davesniegocki
the intent of this requirement is that any backup must have been completed at least 30 minutes prior to a restore operation is the correct understanding. The document seems right to me as per my understanding intent is not to perform new backup operation every 30 minutes in order to be able to perform a restore operation.
@msmbaldwin could you provide your input if this i

[2022-09-14 11:46] cweo opened #98443 "Wrong link in introduction on how to setup BYOK with new storage"
In the introduction, we see:
"To learn how to configure customer-managed keys for a new storage account, see [Configure customer-managed keys in an Azure key vault for an existing storage account](https://docs.microsoft.com/en-us/azure/storage/common/customer-managed-keys-configure-existing-account)."

It should rather be:
"To learn how to configure customer-managed keys for a new storage account,

[2022-09-14 11:53] dknappettmsft commented on #96527
Sorry for the delay in getting 1.0.4739.1000 listed. This should be visible later today.

#please-close

[2022-09-14 11:53] #96527 closed

[2022-09-14 11:57] v-pgaddala commented on #63925
@NickEales, The updates are done, and the info is live.

[2022-09-14 11:57] #63925 closed

[2022-09-14 11:57] #98077 closed

[2022-09-14 12:01] dknappettmsft commented on #96376
Thanks for the feedback. The use of Palo Alto specifically is not something we can advise on in this article, but rather on a more generic firewall basis.  Azure Firewall also can cause issues due to symmetric NAT. The article has had a few updates recently regarding this, which I hope are useful.

#please-close

[2022-09-14 12:01] #96376 closed

[2022-09-14 12:14] #98080 closed

[2022-09-14 12:33] SwathiDhanwada-MSFT commented on #98350
@mukundanma To execute the provided Powershell script you need PowerShell 7.2 or higher version.  Also, this channel is mainly used for documentation issues, for technical support, post your questions on [Microsoft Q & A Community Forum](https://docs.microsoft.com/en-us/answers/products/).

As there are no further documentation changes, we will close the issue for now. If there are further questio

[2022-09-14 12:33] #98350 closed

[2022-09-14 12:43] baanders commented on #98160
@Fuchio Thank you for your question, and for the follow-up!

I'm working with the product team to get an answer to your second question and will report back shortly.

[2022-09-14 12:48] SwathiDhanwada-MSFT commented on #98041
@saldagmac Thanks for providing the document reference. However, kindly note that this channel is mainly for documentation changes. Also, the link you are referring to is an internal quick start ARM template. Please reach out to respective repo owner to suggest the changes you have requested.

As there are further documentation changes in AzureDocs repository, we will close the issue for now. If t

[2022-09-14 12:48] #98041 closed

[2022-09-14 12:53] SwathiDhanwada-MSFT commented on #98438
@FerryMan-Coder Thanks for the feedback! I have fixed the referenced change, and the change should reflect on the doc within 24 hours. We will now proceed to close this thread. If there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2022-09-14 13:00] SwathiDhanwada-MSFT commented on #98439
@jurjenoskam Thanks for the feedback! I have fixed the referenced change, and the change should reflect on the doc within 24 hours.We will now proceed to close this thread. If there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2022-09-14 13:01] SwathiDhanwada-MSFT commented on #98147
@jun110 As requested in my earlier comment, can you please share further details ?

[2022-09-14 13:02] SwathiDhanwada-MSFT commented on #98410
@aj9411 Thanks for your feedback.

Assigning to content author  @rboucher for review.

[2022-09-14 13:07] SwathiDhanwada-MSFT commented on #98201
@maxplyassunov Thanks for your feedback.

Assigning to content author @awysza   for review.

[2022-09-14 13:08] #98438 closed

[2022-09-14 13:08] #98439 closed

[2022-09-14 13:09] AaliAlikoski commented on #51708
I am also suffering on this. Function (v4 isolated) is still seeing the old value even though the function is restarted. Pls fix this!

[2022-09-14 13:11] blakemcmillan commented on #98319
Ok...
Click on your account icon on the upper right of Teams.
Click on Manage Account
In the list of orgs under the accounts tab
You have an icon on the right (...)
When I click on that icon I am presented with 4 options:
Turn off notifications
Switch
Hide
Leave Org <--- Make that actually work.
The expected reaction when I click on that is:
You have left the <organization name> organization.
When

[2022-09-14 13:23] FMERI001 commented on #98171
These are instructions for manually adding DNS records and they are impossible to follow. This should be fixed or the instructions should be removed as they can't be followed.

[2022-09-14 13:29] omarkkj commented on #96761
Any updates? Im having the same issue

[2022-09-14 13:40] mumurug-MSFT commented on #98441
@FilipBruins Thanks for your feedback. We will review and update as appropriate.

[2022-09-14 13:47] #98419 closed

[2022-09-14 13:53] CrowdsourceKurdish opened #98447 "Incorrect language codes in Kurdish dialects(Northern and central)"
Hello,
I would like to inform you of a problem that we encounter frequently.
Since the Kurdish language is a macro language, different language codes are used for macro languages and dialects. Digital services and services fail due to iSO and Unicode's different language code setting policies.
Unicode designates the most spoken language as a macro language and assigns different language codes to o

[2022-09-14 14:06] thecodeman1987 commented on #96761
@an-emma

[2022-09-14 14:07] Zeolitotx opened #98448 "SSPR info for Win 11 devices"
[Enter feedback here]
At this DOC there's no information regarding SSPR for Win 11 devices although it's also available, like at win10
thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2015c6c-60c7-bb74-469c-e9320301d08a
* Version Independent ID: 0ff19de6-c892-10ff-5fe8-f6a70abfa3f5
* Content: [Self-service passwo

[2022-09-14 14:11] KrishnaG-MSFT commented on #98152
@kikofarad We have verified and updated the document as required. The update will go live in less than 24 hours. Thanks again!

[2022-09-14 14:11] #98152 closed

[2022-09-14 14:32] SadiqhAhmed-MSFT commented on #98269
@Gouravkala,The Hyper-V replication architecture in Az Migrate is the same as Site Recovery.  Please, note the following:

[https://docs.microsoft.com/en-us/azure/site-recovery/concepts-expressroute-with-site-recovery](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fsite-recovery%2Fconcepts-expressroute-with-site-recovery&data=05%7C01%7CSadiqh

[2022-09-14 14:37] deepakhariharan opened #98450 "Who would you like call?"
I have implemented Quickstart: Add voice calling to your app, What values should I pass on to the 'Who would you like to call?' text box field. How I can  generate that value?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4267f1d-40a1-bd0e-3954-0986657f3930
* Version Independent ID: ce985f80-0851-4464-d553-4bfb0a2c542

[2022-09-14 14:38] alha3411 opened #98451 "West Region does not have Availability Zones"
The instructions for the portal have VM's created in the West region in Availability Zones.  The west region does not support Availability Zones currently.

This requires alteration of the steps and is confusing for inexperienced users.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5508502b-91e9-3cd5-c976-23c9b9bac1af

[2022-09-14 14:52] argenteneo-davesniegocki commented on #98395
Thank you for the clarification; then the wording "completed a full backup **within** last 30 minutes" is somewhat misleading, it should perhaps read "completed a full backup at least 30 minutes prior" to a RESTORE operation.

We appreciate and thank you for your prompt response and clarification!

[2022-09-14 15:08] rwestMSFT commented on #64700
@pbursch I've taken over this area of the documentation, and was curious if you wouldn't mind revisiting the issue to let me know if it is still a problem. Thanks!

[2022-09-14 15:12] rwestMSFT commented on #64701
@pbursch Same deal with this issue. Now that I've taken over this area of the documentation, I am curious if you wouldn't mind revisiting the issue to let me know if it is still a problem. Thanks!

[2022-09-14 15:13] rwestMSFT commented on #91891
@bragemo-coder I've taken over this area of the documentation, and was curious if you wouldn't mind revisiting the issue to let me know if it is still a problem. Thanks!

[2022-09-14 15:21] deepakhariharan opened #98454 "Quickstart: Join your calling app to a Teams meeting"
I have integrated my Calling App with Teams Meeting, but I get the following error, I am entering a valid Link.
![image](https://user-images.githubusercontent.com/17702613/190195831-bedcdb95-f574-4bfb-89ed-4c9c941b52db.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 814e94a3-80a3-927b-b1ce-d4526435feb4
* Version In

[2022-09-14 15:26] SumanthMarigowda commented on #98443
@cweo
Thanks for the question! We are investigating and will update you shortly.

[2022-09-14 15:29] dtzar commented on #98355
@FeynmanZhou

[2022-09-14 15:33] SumanthMarigowda commented on #98218
@huwgeric ![image](https://user-images.githubusercontent.com/80444138/190198402-743c9ed5-3a7f-41e0-a00c-02d0532ff99d.png)

For more information, refer to this article : https://docs.microsoft.com/en-us/azure/storage/blobs/scalability-targets
I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow

[2022-09-14 15:33] #98218 closed

[2022-09-14 15:34] normesta commented on #96105
Hi @ackava I believe that @fhryo-msft might know best about any non-obvious cost mechanics involved in the backend processing required to complete a lifecycle management policy run. @fhryo-msft would you mind responding? Thank you!

[2022-09-14 15:35] SumanthMarigowda commented on #98116
@riwasa  Firstly apologies for the delay in responding here! Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-09-14 15:43] SumanthMarigowda commented on #98224
@ms-ishiyam  Firstly apologies for the delay in responding here!
Find errors and resume jobs by using log and plan files in AzCopy](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-configure)
[Troubleshoot problems with AzCopy v10](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-troubleshoot)
[Optimize the performance of AzCopy with Azure Storage](h

[2022-09-14 15:45] FeynmanZhou commented on #98355
@maniSbindra Thanks for reporting this issue.

This should be updated to use `oras attach` command from ORAS 0.14 in Azure doc. Let me open a PR to update the command.

@SaibabaBalapur-MSFT Please also help to assign this issue to me : )

[2022-09-14 15:52] MsGabsta commented on #93164
@kobulloc-MSFT we can close this now, the public doc has been updated.

[2022-09-14 15:54] SumanthMarigowda commented on #98332
@sschvytrk Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-09-14 15:54] rwestMSFT commented on #79489
Chatted with Paul offline. Cannot reproduce this issue.

#please-close

[2022-09-14 15:54] #79489 closed

[2022-09-14 16:04] ChaitanyaNaykodi-MSFT commented on #98451
Thank you for your feedback! We will review and update as appropriate.

[2022-09-14 16:04] AjayBathini-MSFT commented on #98427
@garis
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-14 16:06] AjayBathini-MSFT commented on #98435
@SAIMMINHAS
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-14 16:07] mike-romanowski-hgi opened #98455 "Module Twin Desired Properties Offline"
We have several custom modules written in Python 3.8.

We make use of the IoTHubModuleClient, IoTHubRegistryManager and BlobServiceClient at minimum...

We have a requirement for these modules to continue to function offline for up to 10 days.

We have done the configuration of the edgeAgent and edgeHub necessary to enable storage or d2c messages on the host's file system while offline and tested

[2022-09-14 16:07] AjayBathini-MSFT commented on #98437
@pablojavierf
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-14 16:09] AjayBathini-MSFT commented on #98440
@JayQuantRise20
It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-09-14 16:15] AjayBathini-MSFT commented on #98447
@CrowdsourceKurdish
It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-09-14 16:16] AjayBathini-MSFT commented on #98448
@Zeolitotx
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-14 16:18] donsonr opened #98456 "The Add URL sample provided is not working"
[Enter feedback here]
The Add URL sample provided is not working

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a7989cd-02e4-9500-846e-275b37503298
* Version Independent ID: 5cb12d0b-e3b4-4713-5ba0-06aeba62b827
* Content: [Create, test, and deploy your question answering project - Azure Cognitive Services](https://doc

[2022-09-14 16:19] AjayBathini-MSFT commented on #98450
@deepakhariharan
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-14 16:20] SAIMMINHAS commented on #98435
HI @AjayBathini-MSFT

Many thanks for the update. Also, not sure if you can help with another issue as well. It's been opened for **8 days** now and no one has looked into it.
#6714

https://github.com/MicrosoftDocs/windowsserverdocs/issues/6714

[2022-09-14 16:20] AjayBathini-MSFT commented on #98454
@deepakhariharan
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-14 16:22] AjayBathini-MSFT commented on #98455
@mike-romanowski-hgi
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-14 16:25] AjayBathini-MSFT commented on #98456
@donsonr
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-14 16:37] ilyalushnikov commented on #98303
Subscription administrator, a resource Owner, or a resource User Access administrator can configure assignments and PIM policies in PIM for Azure Resources, even if they don't have any Azure AD Roles.
The document referred above is correct.

[2022-09-14 16:38] JamesTran-MSFT commented on #98264
@Kaypyosh
I just wanted to check in and see if you had a chance to review my previous post or if you were able to resolve this issue?

Thank you for your time and patience throughout this issue.

[2022-09-14 16:41] ShaneOsborne commented on #95675
This seemed the quickest way around, worked for me

[2022-09-14 16:45] huwgeric commented on #98218
From the table you posted, we can see the “max blob size” are 190.7TB, 4.75TB and 195Gb in different service version.
But on the page<https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-python-legacy> which I filed issue with, it says:
“Blob storage supports block blobs, append blobs, and page blobs. Block blobs can be as large as 4.7 TB”
Which is not accurate.
It can be:

[2022-09-14 16:57] SauravB-MS opened #98457 "Update : Resource group Name casing is not persisted"
[Enter feedback here]

Along with "Resource names are case-insensitive unless noted in the valid characters column." please include Resource group casing is not persisted. Please find the issue details in the github link below

Issue: https://github.com/Azure/azure-libraries-for-java/issues/652
This behavior is By design and has been discussed thouroughly within the various ARM and RP teams
Vlad J

[2022-09-14 17:02] SauravB-MS opened #98458 "Update: LB probing should be used to repair VM, in situations where VM fails to boot/stuck in booting state"
[Enter feedback here]

Please include "LB probing should be used to repair VM, in situations where VM fails to boot/stuck in booting state."

Application health extension should be healthy, running and probing the endpoint for the repair to trigger. In OS hang/Stuck in boot scenario, extension is not running and app health doesn't go out of the VM,in this sceanrios, its treated as missing app heal

[2022-09-14 17:07] CrowdsourceKurdish commented on #98447
The problem is that Microsoft uses incorrect language codes in its products.
Microsoft Translator and Microsoft Windows
1-https://www.microsoft.com/en-us/translator/languages/
2-https://docs.microsoft.com/en-us/azure/cognitive-services/translator/language-support
![Screenshot_20220914-195409_Edge](https://user-images.githubusercontent.com/72891963/190215849-b91028d7-9499-4060-8e7d-57122991db80.jpg

[2022-09-14 17:22] maud-lv commented on #98393
Hi @cijothomas ,

Thank you for raising this issue. I'm looking into this with the team and will get back to you.

Maud

[2022-09-14 17:23] Soberdan52 opened #98459 "Grammar in Title"
The title "Send an email from **am** Automation runbook" should be changed to "Send an email from **an** Automation runbook"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3d18144-dd03-c659-f0a4-c0ab13d3d343
* Version Independent ID: ecdcbda2-259f-4992-57d8-c448a3934011
* Content: [Send an email from an Azure Automati

[2022-09-14 17:39] chorting opened #98460 "Issue with September release (Version 1.22) of Azure Arc-enabled servers agent (azcmagent)"
When trying to use multiple tags, the value of the final tag is applied to all tags.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa5a1757-17d6-ba9a-a68b-c2852e286cf8
* Version Independent ID: bfa064e7-f057-d1c0-9f4e-a98849ad3c63
* Content: [What's new with Azure Arc-enabled servers agent - Azure Arc](https://docs.mi

[2022-09-14 18:03] amsliu commented on #98303
@davidkench Please let us know if your question is resolved. Thanks!

[2022-09-14 18:12] baanders commented on #98160
Update: The expert on this topic is out of office, returning next Monday. I will follow up here after conferring with them next week.

[2022-09-14 18:18] cburuzie commented on #98451
#reassign @mbender-ms

[2022-09-14 18:19] psined1 opened #98461 ""169.254.169.254" for token generation? Really?!"
// Build request to acquire MSI token
HttpWebRequest request = (HttpWebRequest)WebRequest.Create("http://**169.254.169.254**/metadata/identity/oauth2/token?api-version=2018-02-01&resource=" + resourceID);

Might be worthwhile to explain why "169.254.169.254" is used, like a link to https://www.rfc-editor.org/rfc/rfc5735

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2022-09-14 18:20] mbender-ms commented on #97795
Thanks for the feedback, @richardcaoshihua.
We have added this feedback to our backlog. During the next doc freshness review, we'll evaluate the suggestions and make changes accordingly.
#please-close

[2022-09-14 18:20] #97795 closed

[2022-09-14 18:26] fhryo-msft commented on #96105
List operations by LCM should be billed but i can be wrong. Adding LCM PM @santoshc1 to advise.

[2022-09-14 18:31] joshuaphelpsms opened #98462 "OAuth 2.0 Documentation for Event Hubs with Kafka isn't clear"
The `OAuth 2.0` section details the configuration properties needed to connect Kafka clients with Event Hub, but it fails to mention that this is Java specific configuration. This should be noted in the documentation and language specific configuration should be included or linked.

In addition, the `Samples` section under `Shared Access Signature (SAS)` includes OAuth 2.0 samples. These samples s

[2022-09-14 18:32] JamesTran-MSFT commented on #98461
@psined1
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

**Additional Links:**
[Get a token using HTTP](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/how-to-use-vm-token#get-a-token-using-http)
[What is IP address 168.63.129.16?](https://docs.microsoft.com/en-us/azure/virtual-network/what

[2022-09-14 18:52] Blackmist commented on #98206
@timoklimmer thanks for the question! I'll track down the PM owner and ask for an update to the article. I'll reply back here once I have more info.

[2022-09-14 18:57] KrishnaG-MSFT commented on #98459
@Soberdan52 Thanks for your comment! We will review and provide an update as appropriate.

[2022-09-14 19:02] Johns-305 opened #98463 "Undocumented options - inexcusable...."
And these mean what exactly?  I've tested several combinations and...no difference.

It's completely inexcusable to expect the user to guess what effect these have.

Parameter | Value | Description
-- | -- | --
Mode of empty node generation | ForcedDisabled or HonorSchemaNodeProperty or ForcedEnabled | The mode to use for empty node generation in flat file encoding
XML Normalization | Yes or No |

[2022-09-14 19:08] #93164 closed

[2022-09-14 19:42] ecfan commented on #96156
@MayankBargali-MSFT & @nareshnagpal06: I also added a note to our how-to doc that peek-lock operations are available only with the managed connector, not the built-in version.

[2022-09-14 19:50] dhduvall opened #98464 "is the HTTP trigger URL mixed case or lower case"
I'm not sure if this is a documentation bug or an implementation bug, or some mix.

There's a weird unexplained case shift that I've been confused by in my own development.

On this page you create a function named `HttpExample`. The [`func start` invocation](https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-cli-python?tabs=azure-cli%2Cbash%2Cbrowser#run-the-function-loc

[2022-09-14 19:53] kuwakino opened #98465 "Azure ML studio v2 does not have Experiments tab"
Experiments got under jobs, and is not generating ONNX files anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec096d6a-c8fb-60d3-0391-eb9b5461c139
* Version Independent ID: 9472bce0-fd99-60f5-df59-09bf53c839ed
* Content: [Local inference using ONNX for AutoML image - Azure Machine Learning](https://docs.microsof

[2022-09-14 20:22] dsburns opened #98466 "Documentation on"
The page summary states:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2542ef5b-55d0-d138-dc94-3034a9cc1f4b
* Version Independent ID: f4a9c599-8d5f-5fed-203f-b09fd9592fd9
* Content: [Understand Device Update for Azure IoT Hub apt manifest](https://docs.microsoft.com/en-us/azure/iot-hub-device-update/device-update-apt-

[2022-09-14 20:23] dsburns opened #98467 "Missing documentation on specifying apt repository"
The page summary states:
[code]
Where is the designated repository specified?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2542ef5b-55d0-d138-dc94-3034a9cc1f4b
* Version Independent ID: f4a9c599-8d5f-5fed-203f-b09fd9592fd9
* Content: [Understand Device Update for Azure IoT Hub apt manifest](https://docs.microsoft.com

[2022-09-14 20:56] garthoid opened #98468 "MS Defender for Cloud Monitoring missing?"
https://docs.microsoft.com/en-us/security/benchmark/azure/baselines/api-management-security-baseline#microsoft-defender-for-cloud-monitoring

The section on  MS Defender for Cloud Monitoring talks about isolation but nothing about defender.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9df4415d-d6fb-cc88-1c73-e871aff7

[2022-09-14 21:04] danglund opened #98469 "Type of sorting for $orderby should be documented"
A question on Stackoverflow today pointed out that the type of sorting in $orderby is not specified. The OP assumes lexicographic order, but does not know. This page should specify the type of sorting, including info about sorting for non-ascii characters, CJK and even the different types of i-characters used in for example Turkish.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2022-09-14 21:30] YutongTie-MSFT commented on #98265
Hello @seragENTp

The possible reason for this error is the some of the authentication steps failed, please check on the guidance about the details for how to do the authenticate -  https://docs.microsoft.com/en-us/azure/machine-learning/how-to-authenticate-online-endpoint

Especially there are some steps you need to be aware of - https://docs.microsoft.com/en-us/azure/machine-learning/how-to-auth

[2022-09-14 21:30] #98265 closed

[2022-09-14 21:33] brandonh-msft opened #98472 "AddApplicationInsights() calls aren't available"
In the doc, this code is shown:

[code]

however said code does not compile in a vanilla isolated .NET fxn:

![image](https://user-images.githubusercontent.com/20270743/190266457-87b791de-538c-4c0b-bd42-6ba6a98fcdc1.png)

Until you add a **preview** nupkg:

![image](https://user-images.githubusercontent.com/20270743/190266636-6bfe2cb9-19f2-4280-80ce-945b7550c96a.png)

which is not mentioned in the

[2022-09-14 21:39] meepstei opened #98473 "Screenshots used in this article are outdated"
[Enter feedback here]
The images of the Azure portal blades are outdated, please update to reflect the current App Service blades

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93f1a8ab-c577-b9e8-b46e-28e0a90a0eae
* Version Independent ID: b716dcf9-1faf-fe60-b7be-f2bec92adbb5
* Content: [Local cache - Azure App Service

[2022-09-14 21:54] wmgries commented on #98332
Hey @sschvytrk, this is in fact mislabeled in the portal UI, so the comment in the doc is correct. The reason why it's mislabeled is a very long one, but you're right, we should just fix the label in the portal. I'll close this issue, and ask the Portal team to fix.

[2022-09-14 21:54] wmgries commented on #98332
#please-close

[2022-09-14 21:54] #98332 closed

[2022-09-14 22:06] MarileeTurscak-MSFT commented on #97959
Hi @SuperGraham,

I saw a similar issue reported here with the same error message: https://github.com/MicrosoftDocs/azure-docs/issues/97977

Based on the discussion in this thread it looks like if you are adding an access policy for a key vault you need to add the policies for both the Verified Credentials Service and the Verifiable Service Request.

Is this the same issue you are seeing?

[2022-09-14 22:13] rjosephp opened #98474 "The content in this page is outdated"
Some of the content in this document is outdated. I can't find the "Protection Goal" in the portal anymore. The screenshots provided are also of the old UI.

_Select what to replicate, and to replicate it to.

Click Recovery Services vaults > vault.
In the Resource Menu, click Site Recovery > Prepare Infrastructure > Protection goal._

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-09-14 22:24] John-Bosch commented on #83901
I add my voice to those calling for the ability to control the start up of Azurite within Visual Studio. It's stupid that my VS Code and Visual Studio installs use different versions of Azurite and that I have to be careful which starts first!

[2022-09-14 22:26] mumurug-MSFT commented on #98472
@brandonh-msft Thanks for the feedback. We will update as appropriate.

[2022-09-14 22:29] mumurug-MSFT commented on #98468
@garthoid Thanks for your feedback. We will review and update as appropriate.

[2022-09-14 22:35] mumurug-MSFT commented on #98463
@Johns-305 Thanks for your feedback. We are really sorry for the experience. We will review and update as appropriate.

[2022-09-14 22:36] mumurug-MSFT commented on #98464
@dhduvall Thanks for your feedback. We will review and update as appropriate.

[2022-09-14 22:44] JamesTran-MSFT commented on #98168
@mezzofix
Thank you for following up on this!

Unfortunately, we don't provide product release updates through our GitHub channels. For this, I'd recommend referring to our [Azure Updates](https://azure.microsoft.com/en-us/updates/) or [Microsoft 365 Roadmap](https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=Azure%20Active%20Directory) pages for this info.

Since I don't have an offici

[2022-09-14 22:44] #98168 closed

[2022-09-14 22:55] sabbour commented on #95752
@nitinkansal1984 we've updated the documentation. Can you please take a look at the new version and let me know if this addresses your questions?

[2022-09-14 22:56] stevevi commented on #98058
Resolved offline with assistance from @Jain-Garima.

[2022-09-14 22:56] stevevi commented on #98058
#please-close

[2022-09-14 22:56] #98058 closed

[2022-09-14 22:58] davidkench commented on #98303
I am fully across the difference.  I am an M365 Engineer and work with PIM for AzureAD.  We have another team who manage the Azure stack (not including AzureAD) who want to manage Azure Resources using PIM.  They have requested/advised they need Privileged Role Admin AAD role assigned on top of their existing subscription administrator, resource Owner, or resource User Access administrator Azure r

[2022-09-14 22:59] Chris-Johnston opened #98476 "KeyVault Linux VM Extension has wrong default value for certificateStoreName"
I've [been following this guide to set up the Key Vault Linux VM extension](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/key-vault-linux) on an Azure Batch node running Ubuntu 20.04. The default value of `certificateStoreName` is incorrect, when compared to when I just ran the extension.

The docs say the default value `/var/lib/waagent/Microsoft.Azure.KeyVault`, when it is a

[2022-09-14 23:11] SaiKishor-MSFT commented on #98235
@mattlunzer As per docs it is the ISV-

In the cross-tenant scenario, the storage account resides in a tenant managed by an ISV, while the key used for encryption of that storage account resides in a key vault in a tenant that is managed by the customer. Does this help?

[2022-09-14 23:33] tamram commented on #98235
@mattlunzer - @SaiKishor-MSFT is correct. You need to register for the federated identity credential (FIC) preview in the ISV's tenant. The FIC is created on the multi-tenant application, which is created in the ISV's tenant.

I've updated the docs to make this more clear, and the change should go live by tomorrow.

#please-close

[2022-09-14 23:33] #98235 closed

[2022-09-14 23:40] brandonh-msft opened #98477 "What happens if `path` doesn't exist? Does exist?"
Nothing in docs or API doc says what happens in the cases where `path` does/doesn't exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e72a34c-083c-9b7c-2ece-13c6cc0aa42f
* Version Independent ID: 18bfe5df-0e39-9c91-332d-4e28ab46e82c
* Content: [Download a blob with .NET - Azure Storage](https://docs.microsoft.com/

[2022-09-14 23:41] MarileeTurscak-MSFT commented on #97977
Thank you @KC-Rob and @Robin-the-dev for sharing this solution! I created an internal work item to add the fixes to the documentation and update the screenshots in the document. Since this is a larger fix it will be tracked in the work item itself. CC @barclayn

In the meantime I also added a pull request to the initial tutorial to include the **Verifiable Credentials Service** in the access polic

[2022-09-14 23:41] #97977 closed

[2022-09-14 23:51] tintinmj opened #98478 "Wrong example given"
In the example, Get property is shown as `SET`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d639815-b9c8-79a9-0648-2c2e9ebcccfe
* Version Independent ID: 9784c338-89b5-944f-08fd-e015842dc21c
* Content: [Get and set Apache Spark configuration properties in a notebook - Azure Databricks](https://docs.microsoft.com/en-

[2022-09-15 00:09] JamesTran-MSFT commented on #98319
@blakemcmillan
Thank you for your feedback!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue

[2022-09-15 00:09] #98319 closed

[2022-09-15 00:36] #97859 closed

[2022-09-15 03:13] duy1998 commented on #98289
Hi YashikaTyagi,
I wanna authenticate by SSO SDK in mobile then all WebView are also authenticated too.

[2022-09-15 03:25] AshokPeddakotla-MSFT commented on #98466
Duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/98467

[2022-09-15 03:25] #98466 closed

[2022-09-15 03:43] AjayBathini-MSFT commented on #98457
@SauravB-MS
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-15 03:46] AjayBathini-MSFT commented on #98458
@SauravB-MS
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-15 03:50] Venkateshdodda-MSFT commented on #98473
@meepstei Thank you for your feedback! We will review and update as appropriate.

[2022-09-15 03:51] Venkateshdodda-MSFT commented on #98473
@meepstei I have assigned this to content author @cephalin to review and to make the requested changes accordingly.

[2022-09-15 03:53] AjayBathini-MSFT commented on #98477
@brandonh-msft
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-15 03:55] AjayBathini-MSFT commented on #98476
@Chris-Johnston
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-15 03:57] AjayBathini-MSFT commented on #98474
@rjosephp
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-15 03:59] AjayBathini-MSFT commented on #98469
@danglund
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-15 04:02] AjayBathini-MSFT commented on #98465
@kuwakino
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-15 04:03] AjayBathini-MSFT commented on #98462
@joshuaphelpsms
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-15 04:06] AjayBathini-MSFT commented on #98460
@chorting
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-15 04:33] YashikaTyagi-MSFT commented on #98303
@amsliu
Could you please check this issue? Thanks in advance

[2022-09-15 04:35] ardilluca opened #98482 "Neural models do support tables"
Documentation in this page states that neural models do not support tables.  That is not a true statement.  Tables are supported and the documentation needs to be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ce867f9-60dd-227e-38d3-2dccf59ddc7f
* Version Independent ID: f029d699-25e2-1e13-6a6f-02db54e5431a
*

[2022-09-15 04:39] AjayBathini-MSFT commented on #98467
@dsburns
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-15 04:40] AjayBathini-MSFT commented on #98478
@tintinmj
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-15 04:42] MayankBargali-MSFT commented on #98463
@divyaswarnkar Can you share your insights on this.