[2019-06-06 09:45] ac2707 commented on #32337
@v-krghan - i extracted the code from git again and ran - same issue.

[2019-06-06 09:50] PramodValavala-MSFT commented on #32772
@charlet-antoine From the [geopandas docs](http://geopandas.org/install.html) it looks like `pip` doesn't bring in all of the dependencies but `conda` does seem to provide them.

Full support for `conda` with `func` is in progress - Azure/azure-functions-core-tools#1031

You could go for [Azure Functions with Custom Containers](https://docs.microsoft.com/en-us/azure/azure-functions/functions-creat

[2019-06-06 09:56] DixitArora-MSFT commented on #32831
@hannesne Thank you for your feedback! We will review and update as appropriate.

[2019-06-06 09:57] #32828 closed

[2019-06-06 10:00] tofula commented on #27175
Hi team,
  let us know if you need more info to move forward with the case. So far we do not see the alignments for the html content.

Thank you very much.

Tomas

[2019-06-06 10:04] RohitMungi-MSFT commented on #32824
@Pauline-Kowa Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-06-06 10:04] angoyal-msft commented on #32785
@jochenvanwylick No the database does not become unavailable while copying the database. As a database copy is a snapshot of the source database as of the time of the copy request. So the new database created would have the transactions or data of the snapshot at the time of copy request.

So there is no question of transactionally consistent. Or you could say that the transactions done after th c

[2019-06-06 10:09] DeveloperBeginner opened #32836 "Gradle dependency for provisioning"
I need to do this group provisioning/enrollment in my Android application. Do you have a gradle dependency available for provisioning?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9daa2965-cefc-26ec-e809-59cb2ece48c9
* Version Independent ID: 970b172c-a7be-c3a1-2126-90962f14365a
* Content: [Provision a simulated X.50

[2019-06-06 10:18] AshokPeddakotla-MSFT commented on #32826
@AterCZE Thanks for the feedback! Please help with the link of document on which above document feedback request is created.

[2019-06-06 10:35] abhiseky93 commented on #27365
I am using  https://westcentralus.api.cognitive.microsoft.com/vision/v2.0/read/core/asyncBatchAnalyze  Does boundingbox gives {  X top left, Y top left , X top right , Y top right, X bottom right , Y bottom right , X bottom left , Y bottom left }  in response ? Need to find x,y,height and width please suggest

[2019-06-06 10:37] ram-msft commented on #32586
@AngryVirginian Thanks, I am able to update through API, Could you please try with the below JSON
{
  "update": {
    "qnaList": [
      {
        "questions": {
          "add": [
            "What is your name?"
          ]
        },
        "answer": "I don't have a name.",
        "id": 5,
        "source": "qna_chitchat_the_professional.tsv",
        "context": {
          "isContextOnly": t

[2019-06-06 10:42] AterCZE commented on #32826
@AshokPeddakotla-MSFT thank you for the message. I'm unsure what you mean by "link of document".

[2019-06-06 10:54] AshokPeddakotla-MSFT commented on #32826
@AterCZE If you are following any documentation for the steps please share the link. It helps us to provide suggestions accordingly.

[2019-06-06 11:05] 4x0v7 opened #32839 "Clarify AssignableScopes paragraph"
The explanation of AssignableScopes could be better. Can I suggest a rewording here?

The AssignableScopes property specifies the scopes (subscriptions, resource groups, or resources) which have this role definition available. You can make the role available for assignment in only the subscriptions or resource groups that require it, and not clutter the user experience for the rest of the subscrip

[2019-06-06 11:09] vultureman commented on #32575
I'm not necessarily saying that this pitfall needs to be mentioned outright
in the PRT area, just that what should be mentioned here is that the
content of the PRT is different between a Seamless SSO PRT and an ADFS PRT.
We don't need to know what content is different, just that they're
different. That was the one thing I got from the old blog article that I
didn't see in this PRT article.

Also,

[2019-06-06 11:15] VikasPullagura-MSFT commented on #32403
@RezaRahmati Apologies in delay in response.

Yes, you need to create multiple volume configurations (one file share per volume).

Attaching a directory which is created inside a file share is not supported.

With [Azure cli](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-volume-azure-files#mount-multiple-volumes) you can attach only one volume. You need to [export

[2019-06-06 11:20] YASWANTHM-MSFT commented on #32833
@kuyeduwu , Thanks for the valuable feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-06 11:28] nodermatt opened #32840 "WildFly application server"
Thanks for the great article, I was able to spinn the application up very quickly.

There's one thing I couldn't get to work, tough. It's related to section "Configure the WildFly application server": I don't know where to get the listed files from. The postgresql jar was easy to find on postgres download page. I also have found a template for the module.xml file but don't know what to enter in th

[2019-06-06 11:30] cephalin commented on #26915
Simple instruction added. Should be published sometime today. #please-close.

[2019-06-06 11:58] awalman commented on #32605
Thanks for the update, yes, some clarification around endpoints with multiple paths would be useful. I was coming at this from the DFS migration [instructions](https://docs.microsoft.com/en-gb/azure/storage/files/storage-sync-files-deployment-guide?tabs=azure-portal#migrate-a-dfs-replication-dfs-r-deployment-to-azure-file-sync ), and using a sync group to represent a DFS topology. In DFS, a single

[2019-06-06 12:12] angoyal-msft commented on #32825
@arolshan
Thanks for your feedback. We are investigating this issue actively and will get back to you soon.

[2019-06-06 12:15] mossywell opened #32841 "Create a profile editing user flow - Step 5 Clarification"
The step says:
For User attributes, choose the attributes that you want the customer to be able to edit in their profile. For example, select Show more, and then choose Display Name and Job title. Click OK.
I suggest clarifying that you definitely want to collect and probably return the attributes. Ie. tick both columns.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2019-06-06 12:23] mossywell opened #32842 "Create an Azure Active Directory application - Step 3 is incorrect"
These instruction are based in the older legacy app registration, so step 3 needs to say:
Choose All services in the top-left corner of the Azure portal, and then search for and select App registrations (Legacy)
(or update the tutorial for the new app registrations!)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b8cd

[2019-06-06 12:35] cephalin commented on #13985
I've simplified the steps and brought it up to date with Facebook UI changes. It should be published sometime today. #please-close

[2019-06-06 12:45] SubhashVasarapu-MSFT commented on #32740
@dcbrown16 , We are assigning this issue to the author to update the document with the table mentioned in the above feedback. @KumudD , could you please provide your insights on this ?

[2019-06-06 12:56] mscbpi commented on #32709
Thanks

I get it’s not the purpose of your doc or example to go beyond that, but still imho the example shown is inconsistent and may be misleading because it does not rewrite what you expect for the second backend. It just works because your app does not actually need the path to be rewritten.

[2019-06-06 12:57] tonio-lora opened #32843 "Streamed Data with Azure DataBricks"
Could Azure DataBricks structured streaming be used to ingest and process stream data in ADLS Gen 2? https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-data-scenarios?toc=%2fazure%2fstorage%2fblobs%2ftoc.json#streamed-data

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5bd94d1-6f80-dff7-075e-8b874d

[2019-06-06 13:09] jwisener commented on #32625
Is that statement I made correct? that the other two do not ensure reliability?

[2019-06-06 13:18] Cpcrook commented on #27365
@abhiseky93 x,y, height and width of what?

If you're talking about the bboxes, you could be able to calculate that with:

x = x top left,
y = y top left,
height = MAX((y bottom left - y bottom right), (y top right - y top left))
width = MAX((x top right - x top left), (x bottom right - x bottom left))

Not sure if I'm understanding the question.  That should get you rough coords and dimensions fo

[2019-06-06 13:25] rothja commented on #32329
@hiromingithub Thank you! I'll get this update in soon and this git issue will close when it finishes merging into the publishing branch.

[2019-06-06 13:26] rothja commented on #32239
@bwren, @mrbullwinkle, @MGoedtel Could one of you take a look at this git issue and see if you can take ownership to investigate? Thank you!

[2019-06-06 13:31] lommez commented on #31375
Assign a value to a child properties is one of the most basic features that any tool like this should have.
I´ve the same problem as @Rosewood99.
In future releases, this feature is going to be supported by AZ Logic Apps?

[2019-06-06 13:40] dvherk opened #32846 "Add requirements"
Please add all requirements for agent to work properly. especially the network related requirements as for example;
- needs access to http://168.63.129.16:32526  as per ; https://blogs.msdn.microsoft.com/mast/2015/05/18/what-is-the-ip-address-168-63-129-16/
- what Azure blob stores
- etc...

This looks to be an undocumented aspect.
---
#### Document Details

⚠ *Do not edit this section. It is requ

[2019-06-06 13:41] lommez commented on #31375
@kevinlam1, The Inline Code feature looks like that doesn't have access to existing variables.
So is not possible to change a child property of an object.

[2019-06-06 13:48] PramodValavala-MSFT commented on #32803
@brandonh-msft AFAIK there isn't a quota/limit for sending messages to service bus.

Since you are using logic apps, you are probably hitting the [rate limit for the service bus connector](https://docs.microsoft.com/en-us/connectors/servicebus/).

[2019-06-06 13:49] PramodValavala-MSFT commented on #32705
@nickwalkmsft Yes. These headers are being added by the underlying infrastructure which is different for the consumption tier and is being looked into.

@vladvino Shall I add a note to the doc for the time being?

[2019-06-06 13:53] mrbullwinkle commented on #32239
Adding @DaleKoetke

[2019-06-06 13:55] Alberto-Vega-MSFT commented on #32720
@gregdegruy were those issue links helpful?

[2019-06-06 14:13] sanjeev3 commented on #32663
That is correct. There is no way to highlight the URLs in the review tool. But that is a great suggestion for our review tool roadmap and timely as well.
And yes, as Rohit said, please add it as an idea to the uservoice forum.

Thanks!

Sanjeev

From: RohitMungi-MSFT <notifications@github.com>
Sent: Thursday, June 6, 2019 12:32 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Sa

[2019-06-06 14:26] KalyanChanumolu-MSFT commented on #32822
@thomasvdb Thank you for the detailed explanation. We are currently investigating and will get back to you shortly.

[2019-06-06 14:26] RyanHill-MSFT commented on #32840
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-06 14:31] talktovishal commented on #27175
hi @petrpucek ,

Thanks for the clarification. I will investigate this and get back to you with details.

thanks

[2019-06-06 14:42] abhinav-jain09 opened #32847 "how do I test the expression"
How do I write an expression and test it that it's working for the body of the request?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4ede945-5cf8-5f30-4ac1-9036e471e406
* Version Independent ID: 8fb01dd9-108d-91e0-9dc2-2c19017cca6b
* Content: [Custom caching in Azure API Management](https://docs.microsoft.com/en-us/

[2019-06-06 14:42] craiginscotland opened #32848 "scroll bars"
To see the right hand columns of the environment variables table, I have to scroll to the bottom of the page (past the table), to get the horizontal scrollbar, so scroll to the right), to then scroll the bar back up to read them.  Utterly terrible experience.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe76a04d-fca3

[2019-06-06 14:43] HeidiSteen commented on #32086
This article is trying to explain how to prep your SQL relational data so that it can be consumed as a flattened row set (indexing, no matter how you do it, needs a flat rowset).   If the problem is setting context and linking to our indexing docs, then I'm the right owner for this issue.

[2019-06-06 14:46] ManojReddy-MSFT commented on #32659
@dcbrown16 The doc has been updated. Thanks again for the suggestion.

[2019-06-06 14:46] #32659 closed

[2019-06-06 14:50] ManojReddy-MSFT commented on #32643
@amchew In this doc's context, I believe you still have to register the app in the page referenced in the doc and not in the new registration portal.

@davidmu1 can you please confirm this?

[2019-06-06 14:51] ManojReddy-MSFT commented on #32673
@braveheartDotNet10 Let us know if you have any more questions regarding this?

[2019-06-06 15:09] ManojReddy-MSFT commented on #32599
@saikumaru Every personal account, when invited into a tenant, will get an object ID and will always have a tenant associated to it.

You need to make the following [Graph call](https://docs.microsoft.com/en-us/graph/api/oauth2permissiongrant-get?view=graph-rest-beta&tabs=cs) to retrieve the Oauth2 permission grant object from each tenant programmatically.

Consent is tenant specific and is visibl

[2019-06-06 15:14] ketaanhshah opened #32849 "Cloud RoleName on API Management How to?"
Hi All,
I tried to search if there is a way to add custom Cloud RoleName for API management service? We have one Application Insights instance and we have all our applications for that environment use that App Insights instance. The question I have is how do we set a cloud roleName for API Management, I tried searching for it but couldnt find any? Any help on how this can be done? Any documentatio

[2019-06-06 15:14] iainfoulds commented on #32747
Yes, ensuring the cluster has the required capacity to handle a node outage or maintenance event is a good approach. Kured can also integrate with Prometheus so you'd receive notifications when kured is ready for a node reboot and generate an alert if capacity isn't available to complete that.

@MicahMcKittrick-MSFT For now, #please-close

[2019-06-06 15:15] #32747 closed

[2019-06-06 15:22] armbraggins opened #32850 "SSL client authentication"
PostgreSQL supports authentication using SSL client certificates. Is it possible to configure that for Azure Database for PostgreSQL?
https://www.postgresql.org/docs/10/auth-methods.html#AUTH-CERT

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa87d84c-b0a3-61bd-9eee-068d056ae927
* Version Independent ID: 6f952f46-1050

[2019-06-06 15:24] #32663 closed

[2019-06-06 15:25] Alberto-Vega-MSFT commented on #32836
Hi @DeveloperBeginner we don't. You might want to open an issue requesting that here: https://feedback.azure.com/forums/321918-azure-iot  or also on the samples repo https://github.com/Azure/azure-iot-sdk-java or you could request for help on StackOverflow where unlike here there is a developer community that can help.

[2019-06-06 15:28] harshithkashyap commented on #28155
@MarileeTurscak-MSFT Its been a couple of months. Do you have any update on this?

[2019-06-06 15:29] b-juche commented on #32416
Thanks for checking again.

MS Product Manager, @Lichun Li<mailto:lichunli@microsoft.com> (cc’ed) is still investigating the appropriateness of publishing the configuration/test scripts for the article.

From: YASWANTHM-MSFT <notifications@github.com>
Sent: Wednesday, June 5, 2019 9:02 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Chen, Julie <Julie.Chen@netapp.com>; Mention

[2019-06-06 15:31] cynthn commented on #31953
@stevchin Thanks for the feedback. Our guidance for these type of articles is to not use variables. But, I'll take the feedback and see if we can make some changes. I do agree that using variables makes it easier and cleaner.

#please-close

[2019-06-06 15:35] lenisha opened #32851 "ntp.ubuntu.com is not optional"
ntp.ubuntu.com:123 is not optional, AKS is failing if we do not whitelist this specific NTP server

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a38439d0-0125-3445-1c0a-a03b940e315d
* Version Independent ID: c6436a35-94b9-6396-3b13-9291f0a17b21
* Content: [Restrict egress traffic in Azure Kubernetes Service (AKS)](htt

[2019-06-06 15:36] MohitDhingra-MSFT commented on #30802
I tried to execute ROPC flow using postman and I am able to get the token. Below is the screenshot.

[2019-06-06 15:38] MohitDhingra-MSFT commented on #30802
I hope this time the above information is helpful. We will now close this issue. Should you have any further queries, please tag me to your reply and we can gladly continue the conversation.

Thank you.

[2019-06-06 15:38] #30802 closed

[2019-06-06 15:43] ksanch commented on #20336
same for me

[2019-06-06 15:44] radag87 opened #32852 "duplicate settings in step 4"
In step 4 the settings for subscription and replication are duplicated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd9650ce-215e-adc7-5e50-76765c8a074e
* Version Independent ID: c53bc098-701c-25af-7b43-73269af5b5ea
* Content: [Tutorial: Build a highly available application with Blob storage - Azure Storage](https://

[2019-06-06 15:46] SumanthMarigowda-MSFT commented on #32843
@tonio-lora Thanks for your question. We are checking on this and will respond to you soon.

[2019-06-06 15:49] SumanthMarigowda-MSFT commented on #32852
@radag87 Thanks for your question. We are checking on this and will respond to you soon.

[2019-06-06 15:54] DaleKoetke commented on #32239
Different customers have access to different sets of Log Analytics pricing tiers. New adopters will only have access to the latest **Per GB 2018** tier.

Earlier adopters will have access to the legacy tiers **Free**, **Standalone (Per GB)** and **Per Node (OMS)**, and the original customers who started with Log Analytics will still have access to the legacy pricing tiers **Standard** and **Premiu

[2019-06-06 16:02] ManojReddy-MSFT commented on #32841
@mossywell Thanks for reaching out to us. We are looking into this and will update appropriately.

[2019-06-06 16:03] ManojReddy-MSFT commented on #32827
@afnw35342 Thanks for reaching out to us. We are looking into this and will provide an update shortly.

[2019-06-06 16:10] ernesto-arm opened #32854 "ClaimsPrincipal for Java"
Hi,

Is there any plans to add the ClaimsPrincipal for Java and if so, can you share a road map of that feature?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca056578-526c-603a-a0c7-fad5184134c0
* Version Independent ID: 486bd792-6be0-e4e4-8e81-c383591b4a87
* Content: [Azure Functions HTTP triggers and bindin

[2019-06-06 16:11] DeChrist opened #32855 "WebJobs documentation invalidly states a dependence on (soon retired) Azure Scheduler"
The documentation for "[WebJobs as .NET Framework console apps](https://docs.microsoft.com/en-us/azure/app-service/webjobs-dotnet-deploy-vs#webjobs-as-net-framework-console-apps)" states:

I think that App Service Webjobs no longer rely on **Azure Scheduler** for scheduling since many years.
I was not able to find 100% reliable documentation that confirms this so the product team should confirm an

[2019-06-06 16:12] iamsop commented on #32732
hello,

I was able to resolve this. You put the name of the container in the source blob SAS URL. Example - https://<yourblobname>.blob.core.windows.net/<name_of_your_container>

[2019-06-06 16:18] ChristianMontoya commented on #31103
@AdamWorkAccount : Can you run the following
`Get-RdsSessionHost -TenantName <tenantname> -HostPoolName <hostpoolname>`

You should then try using the web client as an end-user: https://docs.microsoft.com/en-us/azure/virtual-desktop/connect-web . If you see resources and try connecting, but then get an error, we have the some troubleshooting articles to help narrow down the issue: https://docs.mic

[2019-06-06 16:20] kweeket commented on #32809
Yes, the link goes to https://www.microsoft.com/en-us/trust-center

![image](https://user-images.githubusercontent.com/2432667/59049126-2c0d5f80-883c-11e9-975d-f1c7db4e3116.png)

[2019-06-06 16:23] ashly1yeo commented on #32352
The languages shown for NER on the language and region support page for Text Analytics include both GA and Preview languages.  Of these languages, only English, Chinese-Simplified, French, German and Spanish are supported for the full set of entity types listed above.  Only the Person, Location and Organization named entities are returned for the other languages.

[2019-06-06 16:29] AngryVirginian commented on #32586
@ram-msft.  Thanks.  That works for adding new prompts.  The JSON property name is "promptsToAdd" instead of prompts to add new prompt.  However, I could not delete the prompts using the JSON below.  How can remove or update an existing prompt?

{
"update": {
"qnaList": [
{
"questions": {
"add": [
"What is your name?"
]
},
"answer": "I don't have a name.",
"id": 5,
"source": "qna_chitchat_the_prof

[2019-06-06 16:30] Mike-Ubezzi-MSFT commented on #32850
@armbraggins Thank you very much for your interest in Azure Cloud services. Please see the following documentation ([link](https://docs.microsoft.com/en-us/azure/postgresql/concepts-ssl-connection-security)) which walks you through SSL configuration and client connectivity.

Please let us know if you have any additional questions about SSL client connectivity with your PostgreSQL instance in Azure

[2019-06-06 16:35] ToMakeSense commented on #32830
I seemed to find the cause of the problem through debugging the powershell scripts, **because powershell has two version sets: x86 and x64** - [Starting the 32-Bit Version of Windows PowerShell](https://docs.microsoft.com/en-us/powershell/scripting/getting-started/starting-windows-powershell?view=powershell-5.1#starting-the-32-bit-version-of-windows-powershell). visual studio is an x86 application

[2019-06-06 16:40] Mike-Ubezzi-MSFT commented on #32749
@Anmolgan81 I am being corrected and wanted to follow-up with you with the following. The documentation will be corrected as part of a larger work item but the following needs to be stated here:

This GitHub issue has highlighted an issue with how the documentation is structured given the complexity of understanding the three (now 4 with hyperscale) deployment options. This will be corrected. Than

[2019-06-06 16:45] galiniliev commented on #30062
@mgrabarz thanks for the sample - it can be even simpler
we will fix the doc as output-token-variable-name is optional and if not passed the token is added directly to the Authorization header - more [here](https://github.com/Azure/api-management-policy-snippets/blob/5adaf1ee77840038ffdfaf2d21e1672b1aa3a9ed/examples/Look%20up%20Key%20Vault%20secret%20using%20Managed%20Service%20Identity.policy.xml

[2019-06-06 16:49] IGx89 commented on #32801
Thanks a lot for the quick and detailed response! I'm unfortunately still not following the logic. If you're proposing the first section be renamed to "Synchronize a container with changes to a local file system" that still doesn't make sense to me, because the commands under that section move data FROM the local file system TO the container. No data leaves the container. Does that make sense?

[2019-06-06 16:50] Yashuaaa commented on #16848
Microsoft - stop posting shit that is outdated or doesn't work.

Thanks,

- A Progammer

[2019-06-06 16:50] jackpanetta opened #32856 "Web that calls your own Web API"
Hi,

I'm having trouble figuring out how to configure this to call my own API. I can't find any documentation or examples from Microsoft and I see on the GitHub tutorial that it is "Coming Soon". When will this be available? Could you point me to some documentation on how to call a custom API?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-06-06 16:51] IGx89 commented on #32801
"Synchronize a container with a local file system" would make a little more sense to me. I'm guessing part of the confusion may be because I'm coming from a developer mindset and maybe you're coming from a sysadmin mindset?

[2019-06-06 16:55] davidgristwood opened #32857 "Whynot use console page instead of cur for this tutorial"
This is such a great on line tool to test the REST based calls - https://westeurope.dev.cognitive.microsoft.com/docs/services/form-recognizer-api/operations/TrainCustomModel/console - why not use that instead of the curl tool? So much easier to use and see what is going on

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-06-06 17:00] #32465 closed

[2019-06-06 17:06] MicahMcKittrick-MSFT commented on #32846
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-06 17:06] MicahMcKittrick-MSFT commented on #32851
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-06 17:06] MicahMcKittrick-MSFT commented on #32848
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-06 17:09] MicahMcKittrick-MSFT commented on #32835
@Sebastian-Negoescu appreciate you reaching out. However this repo is designed for issues specifically related to Azure Documentation. For assistance troubleshooting issues we suggest you either open a support ticket, such as you have done, or reach out to one of our many forums such as Stack Overflow and MSDN.

Per not being able to connect to you VM, your best bet is to continue to work with sup

[2019-06-06 17:09] #32835 closed

[2019-06-06 17:10] BryanTrach-MSFT commented on #32855
@DeChrist Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-06 17:11] MicahMcKittrick-MSFT commented on #32849
@ketaanhshah please provide us with the link to the documentation you are following so we can better assist.

If the question is not directly coming from any documentation we suggest reaching out to Stack Overflow or MSDN for general assistance/ troubleshooting.

[2019-06-06 17:11] robinsh commented on #32681
@nelsonavanade So you set up the routing for storage and ran that app to send the messages to the hub, but didn't get anything in your storage container? How long did you let it run? They don't show up instantly, it can take 5 or 10 minutes. (The stream analytics can take even longer.)  Can you run the app and let it run for a bit, and make sure you can see the entries that say "storage" on them i

[2019-06-06 17:14] ketaanhshah commented on #32849
Hello, following is the documentation   https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-app-insights

[2019-06-06 17:17] ShengChenMSFT opened #32858 "Provision_configuration has no attribtute of enable_ssl()"
Running the following statements to provision a target cluster configuration

from azureml.core.compute import AksCompute
# Config used to create a new AKS cluster and enable SSL
prov_config = AksCompute.provisioning_configuration()
prov_config.enable_ssl(leaf_domain_label = "myservice")
prov_config = AksCompute.provisioning_configuration()
prov_config.enable_ssl(leaf_domain_label = "myservice")

[2019-06-06 17:22] mpchen opened #32859 "Is it possible to add trusted IPs to security center to fine tune alerts?"
I am getting alerts like "Access from an unusual location to a storage account" but the IPs belong to the company. Is it possible to add trusted IPs to fine tune the alerts from Security Center (in this case, advanced threat protection for storage accounts)? AWS GuardDuty has such capability. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-06-06 17:22] SaurabhSharma-MSFT commented on #32856
@jackpanetta Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-06 17:22] ScottAzure opened #32860 "CHEF content doesn't have a clear support boundary and where do get additional support"
There should be a clearer statement on where to get support in the documents. There recently was a case where the customer had an issue, we ruled out the agent, and we didn't have anything customer facing on docs.microsoft.com to direct them to support. Found this great documentation!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-06-06 17:22] basilwong opened #32861 "Linked Service UI Has Changed"
- Data Store tab needs to be updated
    - Tabs for subcategories have now been added
    - Additional options are now available compared to what is shown in the tutorial

- Compute tab
   - Databricks is now shown
   - Azure HDInsight Logo is different

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49e300a6-e85a-3cc9-

[2019-06-06 17:25] mol opened #32862 "Downloaded file has the wrong filename and this doesn't seem to work for personal apps?"
If downloading the file the filename is set to:
'microsoft-identity-configuration.json'
While the info says it should be named:
'microsoft-identity-association.json'

Additionally, this verification does not seem to work for (old) personal apps despite it being an option under Branding and with the exact json link working in a browser.

The error is:
"Verification of publisher domain failed. The a

[2019-06-06 17:27] MicahMcKittrick-MSFT commented on #32849
Thanks for that. I will assign to one of our engineers who can assist further.

[2019-06-06 17:27] SaurabhSharma-MSFT commented on #32839
@4x0v7 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-06-06 17:28] MicahMcKittrick-MSFT commented on #32848
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-06 17:28] FrankHu-MSFT commented on #32842
@mossywell
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-06 17:28] YutongTie-MSFT commented on #32858
@ShengChenMSFT Thank you for your feedback, we will investigate it and get back to you soon.

[2019-06-06 17:29] YutongTie-MSFT commented on #32857
@davidgristwood Thank you for your feedback, we will investigate it and get back to you soon.

[2019-06-06 17:30] ic-jw-msp opened #32863 "What Happens to WVD Post-Preview"
What will happen to the Windows Virtual Desktops we create when the preview moves to GA?
We'd like to have customers start using this today but are concerned about having to set this up again once the system becomes generally available.

[2019-06-06 17:31] SaurabhSharma-MSFT commented on #32862
@mol Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-06 17:31] SaurabhSharma-MSFT commented on #32859
@mpchen Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-06 17:32] StephenMMorris-PB opened #32864 "Missing Arduino examples folder in VS Code (via Command Palette): "AzureIoT""
For Step 4 on this docs.microsoft page, it refers to the AzureIoT examples folder "...for MXCHIP AZ3166 ->AzureIoT".  I don't see this "AzureIoT" examples folder (using Command Palette-Arduino: Examples), however I see all of the other Arduino example folders and respective examples... Build-In Examples, Examples for any board, Examples for MXCHIP AZ3166 (but without the "AzureIOT" examples folder

[2019-06-06 17:37] bbabcock1990 commented on #28479
Any update on this? I would like to follow the tutorial but its out of date.

[2019-06-06 17:48] ScottAzure opened #32865 "Support boundary for Chef isn't clear."
Can we add a bit more clarity on the CHEF support and where to get help. Adding more info would allow Microsoft to help customers  by pointing to public facing documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c283d52-543a-cf98-dd6e-0c9471da1829
* Version Independent ID: 5ed544f6-6888-e813-37f2-27d94b60118d

[2019-06-06 17:50] joeypshell opened #32866 "Misspelling"
Misspelled "referred."

An additional virtual machine that runs the scheduled task via Task Scheduler and has network access to session hosts. This will be reffered to later in the document as scaler VM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24a6c4e2-702f-2b17-3e2d-c86f33b13beb
* Version Independent ID: 1e7811

[2019-06-06 17:54] zhangruiskyline commented on #28516
Hi, I would like to know if I want to combine this copy new files with Last modified date and also copy files from multiple containers: https://docs.microsoft.com/en-us/azure/data-factory/solution-template-copy-files-multiple-containers , how should I proceed and set up parameters, any template I can use, I tried different way and seems not working

[2019-06-06 17:56] georgewallace commented on #32446
@Csmithson-qh Thanks for reaching out. I am attempting to repro your issue.

[2019-06-06 18:00] MicahMcKittrick-MSFT commented on #32746
@XiaochuanTang I ran through the doc as written on a new CentOS 7.6 N series VM and it worked as expected. So based on that I would say you likely missed a step. Can you try it again and let me know if the issue continues?

[2019-06-06 18:01] mike-urnun-msft commented on #32854
Hi @ernesto-arm Thank you for your feedback! We will review and update as appropriate.

[2019-06-06 18:02] mike-urnun-msft commented on #32847
Hi @abhinav-jain09 Thank you for your feedback! We will review and update as appropriate.

[2019-06-06 18:02] MicahMcKittrick-MSFT commented on #32811
@hukun01 let's continue to just work off of #32736 as it also relates to OSProfile.Secrets

[2019-06-06 18:02] #32811 closed

[2019-06-06 18:02] MicahMcKittrick-MSFT commented on #32736
Adding info from other question you asked

![image](https://user-images.githubusercontent.com/32313503/59055430-9e853c00-884a-11e9-99fe-62e22e2d8831.png)

[2019-06-06 18:06] FrankHu-MSFT commented on #32757
In regards to the lowercase, as it's stored on a blob, sometimes there are issues with uppercase letters when trying to retrieve the blob.
Per the Thread : https://social.msdn.microsoft.com/Forums/azure/en-US/f26ea1c0-4bde-4983-bc33-31b49643177b/azure-blob-container-getting-400-outofrangeinput-one-of-the-request-inputs-is-out-of-range?forum=windowsazuredata

Wwhen someone makes a reference call to

[2019-06-06 18:10] mhopkins-msft commented on #31956
@dougsi - The content has been updated. Thanks again for your feedback!

#please-close

[2019-06-06 18:15] MGoedtel commented on #31705
@TristankMS - The list you refer to under that section is meant to represent the supported distros and versions, it is not associated with the previous statement about unsupported distros.  I'm in this article now making a couple of updates, so I'll fix that so it doesn't cause others pause/confusion.  I hope this answers your question, #please-close.

[2019-06-06 18:15] jochenvanwylick commented on #32785
Awesome - thanks ! Clear.

[2019-06-06 18:15] #32785 closed

[2019-06-06 18:25] MicahMcKittrick-MSFT commented on #32866
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-06 18:25] MicahMcKittrick-MSFT commented on #32865
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-06 18:26] KranthiPakala-MSFT commented on #32619
@satyajitps We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-06 18:26] MicahMcKittrick-MSFT commented on #32860
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-06 18:26] #32619 closed

[2019-06-06 18:26] mapoitras opened #32869 "Visio diagram"
Can we get Visio diagram of proposed architecture?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d71e8afc-d967-3301-321a-ce03e4815b68
* Version Independent ID: 4e361eb4-45eb-91a4-6bb2-7b8059782bb4
* Content: [Azure Security and Compliance Blueprint - PaaS Web Application for FedRAMP](https://docs.microsoft.com/en-us/a

[2019-06-06 18:29] Csmithson-qh commented on #32446
Thanks,
I have a work around in place where i have stuffed powershell code into a python script and am executing it  by passing variables from python to pwsh.

If it matters, its running ubuntu 18.04.

[2019-06-06 18:29] dcurwin commented on #32443
@femsulu You can assign this to me.

[2019-06-06 18:30] MicahMcKittrick-MSFT commented on #32863
@ic-jw-msp we do not suggest using any preview features in production. During the preview phase items and code can change which could require redeploying the environment. That is not always the case but we try to make it clear that if it is in preview you should not use it in production.

So I don't have a clear answer for this other than feel free to use the preview feature but if using it with c

[2019-06-06 18:30] #32863 closed

[2019-06-06 18:33] alexkarcher-msft commented on #32651
Hello, there is an update to the portal UI to be consistent with the image in the documentation. It is already live in the internal canary at [aka.ms/canary](http://aka.ms/canary) and should be live next week.

[2019-06-06 18:33] MicahMcKittrick-MSFT commented on #32851
@lenisha interesting. Considering opening that specific server is only for security patches and updates it is strange it would cause the cluster to fail.

@iainfoulds what's the best path to provide feedback on this preview feature?

[2019-06-06 18:38] anushreeringne opened #32870 "Add documentation to use kubectl proxy --port 8002 incase aks browse does not work"
I faced this issue with my AKS cluster:  https://github.com/Azure/azure-cli/issues/6811

I was able to workaround with this suggestion. Its useful to provide this here in documentation until the issue is Open
instead of az aks browse run:
kubectl proxy --port 8002
then navigate to:
http://127.0.0.1:8002/api/v1/namespaces/kube-system/services/http:kubernetes-dashboard:/proxy/

---
#### Document Det

[2019-06-06 18:39] arsing opened #32871 "restartPolicy values are incorrect"
The `onFailure` and `Unhealthy` values are incorrect. Correct values are:

- `never`
- `on-failure`
- `on-unhealthy`
- `always`

as can be seen in the [source.](https://github.com/Azure/iotedge/blob/1.0.7.1/edge-agent/src/Microsoft.Azure.Devices.Edge.Agent.Core/IModule.cs#L65-L82)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2019-06-06 18:40] aljo-microsoft commented on #32736
@hukun01

https://docs.microsoft.com/azure/service-fabric/service-fabric-best-practices-security#apply-an-access-control-list-acl-to-your-certificate-for-your-service-fabric-cluster

E.G. Step two does: Apply an Access Control List (ACL) to your certificate for your Service Fabric cluster

What: virtualMachineProfile.osProfile.secrets does:

secrets | VaultSecretGroup[] | Specifies set of certific

[2019-06-06 18:48] ahmedelnably commented on #32831
We do not have Java instructions in the doc
please refer to the Java specific instructions
https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-java-maven#deploy-the-function-to-azure

In Azure Pipeline you can use the Maven template to have the commands mentioned in the provided link

![image](https://user-images.githubusercontent.com/7810433/59058221-02aafe80-8851-11e9-8

[2019-06-06 18:51] hukun01 commented on #32811
That makes sense in terms of resolution, but could you add this piece of information to this documentation? Other readers might be interested in the same topic in both documents.

[2019-06-06 18:52] davis-x opened #32873 "az aks create fails to obtain principal credentials"
**Command Name**
`az aks create`

**Errors:**
[code]
Linux-4.9.87-linuxkit-aufs-x86_64-with-debian-buster-sid
Python 3.6.5
Shell: bash

azure-cli 2.0.66

## Additional Context
Documentation state "When you create an AKS cluster in the Azure portal or using the az aks create command, Azure can automatically generate a service principal." In this case the service principal is being created, but some

[2019-06-06 18:52] MicahMcKittrick-MSFT commented on #32736
Thanks for that @aljo-microsoft appreciate the explanation.

@hukun01 just let us know if you have any followup questions.

[2019-06-06 18:52] #32736 closed

[2019-06-06 18:53] MicahMcKittrick-MSFT commented on #32873
@davis-x please provide us with a link to the documentation we are following so we can better assist.

[2019-06-06 18:54] jomolesk commented on #32869
You can download the Visio from this page: https://servicetrust.microsoft.com/ViewPage/FedRAMPBlueprintv3 (near the bottom; PaaS tab)

@MicrosoftDocs/azure-cxp-triage #please-close (not related to doc)

[2019-06-06 18:54] davis-x commented on #32873
Documentation is here
https://docs.microsoft.com/en-us/azure/aks/kubernetes-service-principal
Specifically the section "Automatically create and use a service principal"

[2019-06-06 18:54] MicahMcKittrick-MSFT commented on #32870
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-06 18:55] davis-x commented on #32873
The full command I am using is `az aks create -n my-cluster -g test` where the resource group "test" exists.

[2019-06-06 18:56] #32869 closed

[2019-06-06 18:58] davis-x commented on #32873
I think I meant to put this under azure-cli and not under azure-docs

[2019-06-06 18:59] MicahMcKittrick-MSFT commented on #32873
Do you have multiple subscriptions? I just ran through this doc the other day and was able to get it working

[2019-06-06 19:05] davis-x commented on #32873
Not that I'm aware of. One subscription and there's only one resource. I see the SP is created with display name "my-cluster" and the associated UUID in the App registrations panel

[2019-06-06 19:08] davis-x commented on #32873
I put in a azure-cli bug for this issue https://github.com/Azure/azure-cli/issues/9585

[2019-06-06 19:08] RavennMSFT commented on #32575
Hi @vultureman To clarify, Seamless SSO does not provide a PRT. Seamless SSO is applicable only when the device is not "joined to AAD". Once it's joined, PRT takes over and drives all the necessary SSO experiences. In this PRT is obtained using the auth method (e..g password hash sync or pass through auth). But I understand what you're referring to as differences. But again, we want to make sure s

[2019-06-06 19:09] #32502 closed

[2019-06-06 19:11] MicahMcKittrick-MSFT commented on #32873
Thanks for that. I am following that issue as well so we can see what the CLI team can do :)

[2019-06-06 19:11] #32873 closed

[2019-06-06 19:11] femsulu commented on #32511
@bobbytreed can you help w/ the doc update for this?

[2019-06-06 19:15] SnehaGunda commented on #32353
@laultman I submitted a PR to update this doc with latest screenshots, we will be changing other docs too with the latest UI. Hope the changes help, we will now close this issue if there aren't further questions.

#please-close

[2019-06-06 19:20] MicahMcKittrick-MSFT commented on #32866
@joeypshell thanks for this find. I have corrected the doc. Once the PR merges the changes will go live after a few hours.

[2019-06-06 19:20] #32866 closed

[2019-06-06 19:23] MicahMcKittrick-MSFT commented on #32846
I have assigned the issue to the content author to investigate further and update the document as appropriate.

CC @cynthn

[2019-06-06 19:25] MicahMcKittrick-MSFT commented on #32870
@anushreeringne  I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-06 19:29] femsulu commented on #32815
@frehnejc Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-06-06 19:29] 1trevor commented on #31969
This issue was recently resolved for us and I heard back from support that it was a bug that has been fixed by the product team.

[2019-06-06 19:32] femsulu commented on #32829
@nnamedieh Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-06-06 19:32] YutongTie-MSFT commented on #32584
@githubavi Hi, thank you for your feedback. Could you please send us an email at Azcommunity@microsoft.com with your Azure subscription ID and also URL of this thread? We will look into it.
We will now proceed to close this thread for now since it is not just document issue. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue th

[2019-06-06 19:32] #32584 closed

[2019-06-06 19:36] CorryH commented on #30062
Hi Galin and Marek,

Thanks for your effort and the sample(s).
I can now save the policy and it indeed produces an authorization-header with a JWT token.
Would be nice if this policy is shown inside the “Authentication policies”

I like to get access to the servicebus:
<authentication-managed-identity resource="https://servicebus.azure.net/" />

but this result in a 401:
MalformedToken: The creden

[2019-06-06 19:36] allanmoller opened #32876 "Followed guide but unable to query using suggested queries?"
Keep geeting Syntax error, what am i doing wrong?

'where' operator: Failed to resolve column or scalar expression named 'ResourceType'

---
#### Dokumentoplysninger

⚠ *Undlad at redigere denne sektion. Det er påkrævet til docs.microsoft.com ➟ GitHub-problemlinkning.*

* ID: ac5ed2b7-d9c7-2203-c478-7e7a0ab9fd34
* Version Independent ID: 5fb4bfec-7b29-57c5-11fa-3ff09972cf20
* Content: [Azure Netwo

[2019-06-06 19:38] spelluru commented on #32114
The article has been updated:
https://docs.microsoft.com/en-us/azure/event-grid/event-handlers#service-bus-queue-preview

#please-close

[2019-06-06 19:43] sharathmalladi opened #32878 "ARM template support for creating packages"
Hi, is there ARM template support for creating packages?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cbeba05-8510-72a1-4199-c111e108fb5f
* Version Independent ID: 7d78de09-f8b0-b64a-a43a-c109c3c63b29
* Content: [Install application packages on compute nodes - Azure Batch](https://docs.microsoft.com/en-us/azure/batc

[2019-06-06 19:47] CeciAc opened #32879 "Product name is "direct", not "Direct"."
@hikariru commented on [Wed Jun 05 2019](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/2583)

Hi.

What I want to say has been already described on #685.
Seems not the all of the "Direct" on the page replaced into "direct".

To avoid making our users confused,
would you please write "direct" with the correct case on the WHOLE page?

Thanks.

お世話になっております。

#685 にて修正依頼した際、すべての"Direct"が"di

[2019-06-06 19:50] CeciAc commented on #32879
Please, disregard, I moved it by mistake

[2019-06-06 19:50] #32879 closed

[2019-06-06 19:55] StephenMMorris-PB commented on #32864
Solved:   my laptop without the Azure IoT examples was recently updated to version 1.6.2 for the AZ3166 stm32f4 code.  Since then, the AzureIoT examples have been moved:
All Azure IoT Hub  examples were moved to the project catalog in [IoT Device Workbench](https://marketplace.visualstudio.com/items?itemName=vsciot-vscode.vscode-iot-workbench).

[2019-06-06 19:55] #32864 closed

[2019-06-06 19:55] MicahMcKittrick-MSFT commented on #32878
@sharathmalladi appears you can use the portal or the Batch.NET SDK. I am not finding much for ARM templates.

@laurenhughes can you confirm or elaborate on this one?

[2019-06-06 19:58] iainfoulds commented on #32851
After off-line discussions with PM team, product feedback or potential issues while this feature is in preview should be logged against the AKS project itself - https://github.com/azure/aks/issues. As changes are need in the docs, we'll update accordingly.

For now, @MicahMcKittrick-MSFT #please-close

[2019-06-06 19:58] iainfoulds commented on #32777
After off-line discussions with PM team, product feedback or potential issues while this feature is in preview should be logged against the AKS project itself - https://github.com/azure/aks/issues. As changes are need in the docs, we'll update accordingly.

For now, @MicahMcKittrick-MSFT @Karishma-Tiwari-MSFT  #please-close

[2019-06-06 19:59] MicahMcKittrick-MSFT commented on #32851
Thanks @iainfoulds appreciate it.

[2019-06-06 19:59] #32851 closed

[2019-06-06 19:59] JimXu199545 opened #32880 "Throttle limit question"
[Enter feedback here]
At the beginning of this article, it mentioned, "Resource Manager allows up to 12,000 read requests per hour and 1,200 write requests per hour". I want to know what is read request in Azure Cosmos DB and what is write request in Azure Cosmos DB?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0e0e

[2019-06-06 20:00] #32777 closed

[2019-06-06 20:01] migrande opened #32881 "TOC Structured Wrong"
Looking at the TOC on the left of the page, there are unrelated entries underneath "Compare baselines using File Integrity Monitoring".  I believe only the "Compare baselines using File Integrity Monitoring" page itself is relevant.  The other pages that are within this category are related to security center in general, not FIM.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2019-06-06 20:02] iainfoulds commented on #32870
Sorry you ran into issues, @anushreeringne

As noted in that product issue, the workaround doesn't consistently unblock people that are having problems. I'll following up with the product team and CLI owners for an actual engineering fix here. There shouldn't be a need to specify alternate ports, or at the least, the error message should be more prescriptive as to what can be done to workaround sp

[2019-06-06 20:04] #32870 closed

[2019-06-06 20:06] iainfoulds commented on #32265
Valid feedback, @loftyet. Can you open product feedback at https://github.com/azure/aks/issues to help the engineering teams prioritize an alternate approach to make this easier, please? As the doc is showing how to dynamically create volumes, this is the current behavior, though we'll be sure to update the doc if/when there's an improved engineering experience here.

For now, @MicahMcKittrick-MSF

[2019-06-06 20:07] vinynigam commented on #31283
Entries are bullets. I faced some issues with formatting using other
options in the table, so was left with asterisks.  Will correct the
spelling. Thanks for pointing it out.

On Thu, Jun 6, 2019 at 1:42 AM Chase <notifications@github.com> wrote:

[2019-06-06 20:08] #32265 closed

[2019-06-06 20:14] alexkarcher-msft commented on #32651
![image](https://user-images.githubusercontent.com/22549328/59063407-dc8b5b80-885c-11e9-9c3b-f775957f2b1e.png)
This is what the current canary UI looks like

[2019-06-06 20:15] iainfoulds commented on #32234
Sorry you're still running into issues, @neerajkrshukla

Can you open product feedback on this preview feature at https://github.com/azure/aks/issues to help the engineering team understand scenarios like this, please?

Further, @YutongTie-MSFT or @MicahMcKittrick-MSFT, can you help get some support through CSS to address this specific issue, please? It would be good to capture what's going and ma

[2019-06-06 20:21] MicahMcKittrick-MSFT commented on #32234
Thanks @iainfoulds

@neerajkrshukla if you do not have the ability to open a technical support ticket you can email me at AzCommunity@microsoft.com and provide me with your Azure SubscriptionID and link to this issue. I can then enable you for a free support request.

[2019-06-06 20:21] #32234 closed

[2019-06-06 20:22] aljo-microsoft commented on #32805
@stevshan @dkkapur

The referenced defines how to managed applications, to include defining the upgradePolicy:

[code]

and declaring ApplicationType versions

[code]

E.G. When you perform a resource template deployment, with your updated SFPKG version, your defined upgradePolicy will be used when upgrading your application.

There are no errors in the content; if you are experiencing an actual p

[2019-06-06 20:23] #32353 closed

[2019-06-06 20:26] #32513 closed

[2019-06-06 20:32] stevshan commented on #32805
@aljo-microsoft thanks for the information but it cannot resolve the feedback I wrote. I understand the upgrade policy is defined in the deployment ARM template of the cluster but my question is about how to upgrade existing SF applications via ARM template.

There is lack of article describing how to upgrade existing SF applications via ARM template.

The feedback is trying to ask for an article

[2019-06-06 20:37] MartinJaffer-MSFT commented on #32861
Hello @basilwong  and thank you for bringing this to our attention.  We will review the document and get back when we have more information.

[2019-06-06 20:38] monhaber commented on #32881
@migrande
Thanks so much for catching this.... I just opened a pull request to fix it.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/78962

[2019-06-06 20:45] MartinJaffer-MSFT commented on #32861
@basilwong You are correct, the images are out of date.  I will assign this issue to author to update.

[2019-06-06 20:46] kgremban commented on #32871
Thanks, Arnav. I'll fix the doc this afternoon.

[2019-06-06 20:47] MartinJaffer-MSFT commented on #32861
@nabhishek Almost all the images in this document are out of date.  Could you please update them when you get the chance?

[2019-06-06 20:48] femsulu commented on #31283
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-06-06 20:48] #31283 closed

[2019-06-06 21:00] mol commented on #32862
Thanks @SaurabhSharma-MSFT! Let me know if you guys need anything, like the app id or something else :)

[2019-06-06 21:01] ggailey777 commented on #32004
+ @brettsam and @jeffhollan for awareness of this discussion.

cc. @craigshoemaker

[2019-06-06 21:10] femsulu commented on #32742
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-06-06 21:10] #32742 closed

[2019-06-06 21:10] aahill commented on #32352
Thanks for that info @ashly1yeo - I'll work on incorporating this to make this less confusing.

[2019-06-06 21:11] MarileeTurscak-MSFT commented on #32881
Thanks for the fix! Since the documentation has been updated we will now proceed to close this thread.

[2019-06-06 21:11] #32881 closed

[2019-06-06 21:17] jjfrost commented on #31719
I believe the request from @oscarzamora is to change this query below, into something like the second query below, such that the 'where' clause and other clauses are also using the aliases of 'gu' and 'ge' for technical clarity:

--- Current Query in Doc ---

SELECT login, count(*)
FROM github_events ge
JOIN github_users gu
ON ge.user_id = gu.user_id
WHERE event_type = 'CreateEvent' AND
      payl

[2019-06-06 21:17] MartinJaffer-MSFT commented on #28516
To achieve the combination of these strategies, start with the multiple-container template, and set it up as normal.  Then modify the resulting pipeline.  Inside the ForEach activity, modify the Copy activity or its associated Dataset to look similar to the result of the LastModifiedDate-template.

[2019-06-06 21:21] ericjiang18 opened #32882 "Cannot find coordinates/numbers"
I am just wondering where to find the numbers of: left, top, width, and height?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9957cb6-3fc1-b7ae-db20-f90b6a833faf
* Version Independent ID: 90421a02-0e49-5bf4-3cd1-f94c80031b3a
* Content: [Quickstart: Create an object detection project with the Custom Vision SDK for Pyt

[2019-06-06 21:29] FrankHu-MSFT commented on #32862
Hey @mol can you provide some more context around the error? In your issue it says :
_If downloading the file the filename is set to:
'microsoft-identity-configuration.json'
While the info says it should be named:
'microsoft-identity-association.json'_

I don't believe the article references downloading anything.

And in regards to the old apps section of your question.
Can you please provide a sc

[2019-06-06 21:32] FrankHu-MSFT commented on #32531
Hey @ayprof following up on this, are you sure that your entityID is properly being encoded? If there's on response in a day I will be closing out this issue,

[2019-06-06 21:34] basilwong commented on #32861
@MartinJaffer-MSFT I could update the images

[2019-06-06 21:34] bitsofinfo opened #32883 "Service principal clientID not found in Active Directory tenant..."
Did anything change in the implementation the past few weeks? This documentation used to work, but now getting this error despite all the arguments being correct. The app registration client ID `--aad-client-app-id`) noted in the error message definitely exists in the target `--aad-tenant-id`.......

[code]

Note the clientID: referenced in the error is the value of argument `--aad-client-app-id`

[2019-06-06 21:35] basilwong commented on #32861
![select-azure-storage](https://user-images.githubusercontent.com/14201685/59068182-5a089900-8868-11e9-8bb5-f6d575a491a3.png)

[2019-06-06 21:40] MicahMcKittrick-MSFT commented on #32883
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-06 21:42] MarileeTurscak-MSFT commented on #31969
Great to know - thanks for following up! I was in the process of looping in a PG contact to speak with you but I'll inform her that this has been resolved. I'll close out this thread then.

[2019-06-06 21:42] #31969 closed

[2019-06-06 21:44] TravisCragg-MSFT commented on #32620
@gcormier I have looked over that ticket, and the only charges you should be seeing from that VM to a storage account in the same region are for your [Block Blob Storage read operations](https://azure.microsoft.com/en-us/pricing/details/storage/blobs/), and these charges should occur regardless of how you access the storage account.

From the Virtual Network side, there is [no charge for service e

[2019-06-06 21:46] SnehaGunda commented on #32471
#please-close

[2019-06-06 21:47] mol commented on #32862
Sure, I've made this image to illustrate both issues.

The downloaded file I'm referring to is there's button on the page with the json content text, that one can click to download a "ready-made" json file - to avoid having to create the file manually and copy/pasting the json into it. But the file has the wrong name. Probably a leftover from the old system of registering apps? In the image you ca

[2019-06-06 21:52] #32871 closed

[2019-06-06 21:54] sergaz-msft commented on #32668
Thanks for validating. You should use version 1.5.0 as describred. Also like the note points out:

You might encounter errors while performing the following steps, such as adding a connection to a local storage account, or creating containers in local storage account. **Please ignore and refresh.**

Did you try to continue steps 1-7 even though?

@arduppal could you please confirm if the errors sh

[2019-06-06 21:55] FrankHu-MSFT commented on #32862
Thanks for the information! We are currently looking into this with the product team and will get back to you as soon as possible,

[2019-06-06 21:55] sergaz-msft commented on #32676
Glad I could help :)!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-06 21:55] #32676 closed

[2019-06-06 21:55] mol commented on #32862
And here's the app listing in Azure, to explain what I mean about an old app. I masked the email because public forum :)

![AzurePersonalAccountApp](https://user-images.githubusercontent.com/317217/59069077-69aece80-88b6-11e9-9f63-994ec59f30c0.jpg)

[2019-06-06 21:57] FrankHu-MSFT commented on #32862
Great thank you for that, I have the image, you might want to delete the picture because alot of your app id is showing.

[2019-06-06 21:59] FrankHu-MSFT commented on #32583
Hello @BPtLNfxZWo I'm following up on this issue, we're still looking into this issue and will get back to you as soon as possible,

[2019-06-06 21:59] mol commented on #32862
As I understand it the app id is not a secret, but you're still suggesting me to remove the images? If you have both and it's fine then I can remove them.

[2019-06-06 22:01] FrankHu-MSFT commented on #32842
Thanks for the information and feedback, we are currently working to change the docs accordingly!

[2019-06-06 22:01] #32842 closed

[2019-06-06 22:12] ayprof commented on #32531
Sorry, out of the office for the next few days, will try to test when I get
back.

On Thu, Jun 6, 2019 at 4:32 PM Frank Hu <notifications@github.com> wrote:

[2019-06-06 22:18] rolyon commented on #32839
Hi @4x0v7
Thanks for your updated wording. We've added it to the article:
https://docs.microsoft.com/en-us/azure/role-based-access-control/role-definitions#assignablescopes

[2019-06-06 22:19] rolyon commented on #32839
Let us know if you have any additional feedback.

[2019-06-06 22:19] rolyon commented on #32839
@MicrosoftDocs/azure-cxp-triage
#please-close

[2019-06-06 22:19] SaurabhSharma-MSFT commented on #32431
@mfbhatt I believe you have not given the permissions to your web api under "Web API" while registering your app.  Also, you need to make sure consent for any admin permissions if require.  I have tested the sample and it worked fine for me.

[2019-06-06 22:20] MarileeTurscak-MSFT commented on #24140
@barclayn do you know the status on this tutorial?

[2019-06-06 22:20] #32839 closed

[2019-06-06 22:22] brettsam commented on #32004
Couple of comments:
1. You do need to use `ILogger<T>` for DI. The base interface is not registered by .NET. This isn't really a Functions thing; it's .NET Core DI in general (I commented here about it -- https://github.com/Azure/azure-functions-host/issues/4425#issuecomment-492338472). We do pass you a base `ILogger` in your function, which I think has created this confusion. But that's not DI --

[2019-06-06 22:26] bennor commented on #32004
Thanks, @brettsam. I should have read up more but was confused because of `ILogger` just working.

[2019-06-06 22:29] SaurabhSharma-MSFT commented on #32856
@jackpanetta Please refer to [Calling a web API in an ASP.NET Core web application using Azure AD](https://azure.microsoft.com/en-us/resources/samples/active-directory-dotnet-webapp-webapi-openidconnect-aspnetcore/) if this helps.

[2019-06-06 22:39] jackpanetta commented on #32856
I've already looked at this sample. This one uses Azure AD v1.0 and I'm looking for v2.0. The v2.0 samples has not yet been finished. Are there big differences in the v2.0 endpoint or will this sample still serve as a resrouce?

[2019-06-06 22:45] TravisCragg-MSFT commented on #32380
@Contadmin We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-06 22:45] #32380 closed

[2019-06-06 22:48] SnehaGunda commented on #28531
@PiyalGeorge sorry about the long wait, if you are still blocked on this issue, can you please reach out to askcosmosdb@microsoft.com alias for support. We can help with the resolution.

Because it's not a documentation issue, we will close it here and track it within the above alias. @angoyal-msft looks like you have already opened an email thread with the SDK team, can you please add @PiyalGeorg

[2019-06-06 22:50] bthurlow commented on #31179
Not trying to re-open this issue, but I wanted to provide some additional information regarding this error.  It is not associated with Azure AD.

If the local user account on the computer contains spaces it breaks the RDP file that is generated by the software client.

Our workaround here was to copy the shortcuts that were created after subscribing and wrap the RDP command with double quotes.

Ex

[2019-06-06 22:52] TravisCragg-MSFT commented on #32537
@aquibqureshi26 Bandwidth should be faster with peering, but if you would like to see, you can configure both and test the traffic across each.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-06 22:52] #32537 closed

[2019-06-06 22:57] jderus commented on #31766
So, for what it is worth, I gave it shot and it does seem that this works.
It also works when you select a database and do not even use that database in the cross-db query.

So I guess the web ui/error is just a little counterintuitive.

[2019-06-06 22:59] jshomphe opened #32884 "Jira service desk not triggering SSO"
Our Jira instance plays two roles:  Jira Software and Jira Service Desk.  When installing the plugin, SSO works fine for Jira Software, but not for Jira Service Desk when navigating directly to the /servicedesk/customer/portal URL.  Instead of showing an Azure AD login button, the legacy forms based authentication shows.

I have a working test case deployed in to Azure as a clone of our internal s

[2019-06-06 23:06] dcbrown16 commented on #26915
I suppose that works, thanks.

[2019-06-06 23:06] #26915 closed

[2019-06-06 23:10] aaron-0 commented on #30853
I've uploaded an example of how I had to work around this behaviour https://gist.github.com/aaron-0/c69c0af9b29497297e46b5ea51b48abd

I also noted that even though  I specify index kinds when you view the settings in the portal you just end up with:
`    "includedPaths": [
        {
            "path": "/*",
            "indexes": []
        }`

[2019-06-06 23:12] lightningrob opened #32885 "Blob partitioning within single account"
The sentence "Consider prefixing account names with a 3-digit hash" is a bit alarming.  What if we only have a single storage account?  Can we get efficient blob partitioning by randomizing the blob names (or giving them randomized prefixes)?  Or does the fact that all blobs are in the same account mean that all blobs will start out in the same partition and need to be expensively rebalanced as mo

[2019-06-06 23:13] mhopkins-msft commented on #32833
@kuyeduwu - Those namespaces have changed with the latest versions of the packages. The article has been updated to reflect these changes. However, there is another section that still referred to an old namespace. So, thank you for prompting me to review the article.

#please-close

[2019-06-06 23:15] YutongTie-MSFT commented on #32882
@ericjiang18 Thank you for your feedback, we will investigate it and get back to you soon.

[2019-06-06 23:24] GuyPaddock opened #32886 "How do you download images from Azure Image Gallery?"
The docs say:

And:

How do you download the image? This is not clear.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cdad1b23-8c75-cd08-41cc-6313fc7016bd
* Version Independent ID: f7979a0f-a1be-100f-33b5-01627c45f783
* Content: [Prepare and customize a master VHD image - Azure](https://docs.microsoft.com/en-us/azure/v

[2019-06-06 23:53] YutongTie-MSFT commented on #32732
@iamsop Hi, thank you for sharing this. How do you think we can make the document clearer?

[2019-06-06 23:57] MicahMcKittrick-MSFT commented on #32886
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-07 00:01] #13985 closed

[2019-06-07 00:01] #31767 closed

[2019-06-07 00:01] #32471 closed

[2019-06-07 00:01] diberry commented on #32613
@Ablesius Thank you for reporting this issue. The doc has been updated. Please see if the rewording is clear. #in-progress

[2019-06-07 00:31] skybear2014 opened #32887 "Nvidia driver grid 8.0 supports up to windows 10 1809"
According to Nvidia Virtual GPU Software DOCUMENTATION (https://docs.nvidia.com/grid/latest/product-support-matrix/index.html), grid 8.0 supports up to Windows 10 1809. And in Nvidia's Supported Cloud Services page(https://docs.nvidia.com/grid/cloud-service-support.html#microsoft-azure), Windows Server 2019 is listed as a supported platform. I am wondering if windows 10 1809 is also supported in A

[2019-06-07 00:43] nkiest commented on #31787
The value should be 365. The PR apparently needs to be rebased, but I accept the change.

[2019-06-07 00:45] nishantsharma opened #32888 "Build failing with error about dotnetcore version"
When I followed the steps mentioned, at the build time, I am getting the following errors.
There are 73 such errors.

Severity	Code	Description	Project	File	Line	Suppression State
Error	NU1202	Package System.Console 4.0.0 is not compatible with netcoreapp2.1 (.NETCoreApp,Version=v2.1). Package System.Console 4.0.0 supports:
  - monoandroid10 (MonoAndroid,Version=v1.0)
  - monotouch10 (MonoTouch,Ve

[2019-06-07 00:47] dcbrown16 opened #32889 "Step numbering"
We have a "follow steps 1 through 7" but there is no step 7. I'm not sure if 7 disappeared or if there is an accidental number reset between 1-4 and 1-6. Please check.

Edit - pretty sure it's an accidental numbering reset due to the note added in between.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4361b185-8181-89

[2019-06-07 00:55] Alberto-Vega-MSFT commented on #32864
@StephenMMorris-PB Thanks for reaching out and I'm glad you were able to resolve the issue

[2019-06-07 01:37] gcormier commented on #32620
Nice to hear.. as it feels like I've lost my mind or something on that ticket. The ticket has been quite a journey.

Indeed, I cannot see any billing for data egress on my storage account. So it reflects what you mention.It would be great to get a confirmation in writing from MS support this is the case and working as intended :)

If support isn't even clear on the pricing model, perhaps docs need

[2019-06-07 01:38] GuyPaddock opened #32891 "Time Limit for active but idle Remote Desktop Services sessions does not support "4 hours""
If you are configuring the "Time limit for active but idle Remote Desktop Services sessions" policy through the MMC snap-in, "4 hours" is not an option in the drop-down. The closest options are "3 hours" and "6 hours".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cdad1b23-8c75-cd08-41cc-6313fc7016bd
* Version Indepen

[2019-06-07 01:46] GuyPaddock opened #32892 "Telemetry / Data Collection Registry Command Seems Incorrect"
The docs say:
&gt; For feedback hub collection of telemetry data on Windows 10 Enterprise multi-session, run this command:

&gt; reg add HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\DataCollection "AllowTelemetry"=dword:00000003
&gt; reg add HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\DataCollection /v AllowTelemetry /d 3

That first command doesn't work; the second one works

[2019-06-07 01:50] #31705 closed

[2019-06-07 01:50] TristankMS commented on #31705
Thanks for the clarification!

[2019-06-07 02:03] igorjnz opened #32893 "CSP availability"
Hello, is this available for CSP subscriptions?? Cannot find it under resource providers..

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31806d3b-6d26-ba48-3860-559dc0938b9d
* Version Independent ID: 3eccfc69-2ea4-d8ab-3299-df054a0f6a47
* Content: [What is Azure App Configuration?](https://docs.microsoft.com/

[2019-06-07 02:05] cconrado opened #32894 "Include Search Results in example"
Why isn't the search results included in the example above? I need to be the full payload with every possible field.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e4d20cc-b693-ee2d-2694-832b455376a6
* Version Independent ID: 7b929793-dba5-8f94-e44f-7dace50ee018
* Content: [Common alert schema definitions for Webhooks

[2019-06-07 02:09] dcbrown16 opened #32895 "Compare to NSG service tags"
Behind the scenes, are the Firewall service tags using exactly the same IPs as the NSG service tags described at this link?
https://docs.microsoft.com/en-us/azure/virtual-network/security-overview

Just want to confirm that if there is guidance such as "allow X service tag outbound", that would apply equally to NSG and Firewall.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-06-07 02:56] swagulkarni opened #32896 "Setup SSL communication between backend service and API management"
Hi,

I am trying to setup mutual TLS communication between my backend API and API Gateway.
Basically, the requirement is to authenticate both API gateway and the backend service to each other using certificates and then communicate over TLS.

Is this kind of configuration possible? If so, please share some details on how to set it up.

Thanks,
Swagat

[2019-06-07 03:04] YASWANTHM-MSFT commented on #32833
@kuyeduwu, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion

[2019-06-07 03:04] #32833 closed

[2019-06-07 03:09] YASWANTHM-MSFT commented on #31956
@dougsi, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion

[2019-06-07 03:09] #31956 closed

[2019-06-07 03:17] mike-urnun-msft commented on #32896
Hi @swagulkarni Thank you for your feedback! We will review and update as appropriate.

[2019-06-07 03:36] dcbrown16 commented on #32314
@SadiqhAhmed-MSFT can you give me an update on this? I don't see any relevant changes.
Please document the location to change LRS settings that I outlined.

[2019-06-07 03:56] SubhashVasarapu-MSFT commented on #32895
@dcbrown16 , We are looking into this and will update you shortly.

[2019-06-07 03:58] YASWANTHM-MSFT commented on #32885
@lightningrob, Thanks for your question! I have assigned the issue to the content author to investigate further

[2019-06-07 03:59] #31953 closed

[2019-06-07 04:01] hiromingithub commented on #32329
Hi @Jason Roth<mailto:notifications@github.com>

Thank you so much for your kind confirmation and working on the update too.
Duly noted the schedule.
Thanks and kind regards,
Hiromi

From: Jason Roth <notifications@github.com>
Sent: Thursday, June 6, 2019 10:26 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Hiromi Nagano <hiromin@microsoft.com>; Mention <mention@noreply.github

[2019-06-07 04:14] rupeshprasad commented on #32517
I tried that i was hoping the same but it is not giving the status as you have mentioned.
I am getting below message
<samlp:StatusMessage>Id:47d8f224-21a0-4681-853a-ba7f915c68cc ; Message: Unable to resolve the IP address for host at URI 'https://test.test.com/samlresponse.aspx'</samlp:StatusMessage>

However when i pass a valid password i am getting all the claims as expected.

It would be helpfu

[2019-06-07 04:17] Ayanmullick commented on #32749
The 'Manage Backups' blade isn't available for Managed instance as it is for AzSQLdb. Are there separate PowerShell cmdlets to setup Managed instance backups specifically?

[2019-06-07 05:02] Anmolgan81 commented on #32749
We need the functionality to take manual backups, so that we can work on dev environment of azure sql database and can restore the databases there.

[2019-06-07 05:17] Ablesius commented on #32613
Much better! Thanks a lot :)

[2019-06-07 05:17] #32613 closed

[2019-06-07 05:19] RohitMungi-MSFT commented on #32641
@millercor We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-07 05:19] #32641 closed

[2019-06-07 05:29] itsashish-patel commented on #14283
Hi @scottrudy and @jeffhollan,

Good day to you.

We can add httpclient through DI using [http extensions](https://www.nuget.org/packages/Microsoft.Extensions.Http/2.2.0) thus we can create mock object of it for testing, refer below reference that may help you.

https://stackoverflow.com/questions/52918000/ihttpclientfactory-in-net-core-2-1-console-app-references-system-net-http
https://dotnetcore

[2019-06-07 05:32] kobulloc-MSFT commented on #32893
@igorjnz Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-06-07 05:37] patst opened #32900 "Low priority VMs in AKS NodePool with VMSS"
The Azure RM template for virtual machine scale sets contains a `priority` attribute to create a scaleset with low priority VMs. (See: [VMSS Docs](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-use-low-priority#use-azure-resource-manager-templates) )
The template for creating Azure node pools for AKS does not.

Is it possible to create a virtual machin

[2019-06-07 05:41] v-pugoe commented on #32596
@Anand-Moghe Usually the size of the cert given by Azure AD is 1KB with size on Disk of 4KB. Just wondering how you got the cert of 5KB size.

[2019-06-07 05:53] itsashish-patel opened #32902 "Need manage connection examples for SQL client/connection"
Hi MS Team,

Need example of manage connection, right now we are using following code to connect with Azure SQL Database
`using (SqlConnection connection = new SqlConnection(ConnectionString))
{
	//DB code goes here
}`
on high load, some time we got following error related to DB connection
Error: Resource ID : 1. The request limit for the database is 90 and has been reached

---
#### Document Deta

[2019-06-07 06:07] VikasPullagura-MSFT commented on #32800
@michaeldisalvo Can you please confirm if you are trying to change the image from Platform to Custom image.

[2019-06-07 06:07] payalgaikwad42 commented on #32757
Hi,
My URL call to blob storage looks like this :
   <LoadUri>https://smarthomestgdev.blob.core.windows.net/b2cpagelayout/customui.html</LoadUri>

This is the line from TrusframworkExtension.xml file.
All the URLs and files stored on the blob are in lowercase.

[2019-06-07 06:14] hannesne commented on #32831
Thanks that would make a good start for adding instructions for java to this doc.

[2019-06-07 06:18] ohwellwhatever commented on #32143
As far as I can tell this also means the Internal-only load balancer scenario will not work with Standard LB Sku.  Correct?

[2019-06-07 06:20] payalgaikwad42 commented on #32757
@FrankHu-MSFT
Is there a way to show a drop down menu from custom policy so that user can select which language he/she wants to use while sign in , sign up and password reset?
FYI,
I have used this MS link to get started with custom policies:
 https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-get-started-custom
but i wanted mobile authentication instead of email so i

[2019-06-07 06:40] DashleenBhandari-MSFT commented on #32472
@carlpoole , Thanks for the response. I will go ahead and close the issue. If you need any other assistance please feel free to re-open the same

[2019-06-07 06:40] #32472 closed

[2019-06-07 06:40] saikumaru commented on #32599
Thank you @ManojReddy-MSFT , that makes sense now.
So, basically, to track personal accounts there is no way, until we make an entry for them in certain tenant, perhaps manually from the app.
And that if a personal account consents to a certain app, the data about this resides on his end of the tenant but not on the application where he logs in to(rather gets authenticated)

The basic need is to g

[2019-06-07 06:43] ECocca commented on #32382
Sorry, but i still have a question.
Will never be available the datetimeV2 entity in italian?I would have liked to have it available now, is there a scheduled date for which it will be ready in italian?
Thanks for your support.

[2019-06-07 06:50] lloydmonteiro opened #32903 "Unable to install Service fabric sdk tool"
With Vs 2019 community edition, attempting to install service fabric sdk, tools via web installer always asks to install vs 2015 and sp2? How do i do the above example via, Vs 2019?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3aa58af5-02ea-e425-1fc5-9f588d394016
* Version Independent ID: 86440381-783a-6e49-bacb-59b1

[2019-06-07 07:16] ToruMakabe commented on #32489
@MGoedtel I investigated this issue. It seems the warning display when I set Azure portal language settings as Japanese. My colleague have the same issue. Could you please handle it?

![en](https://user-images.githubusercontent.com/993850/59087422-8a6f3680-893f-11e9-8b88-128164882211.png)

![ja](https://user-images.githubusercontent.com/993850/59087446-93f89e80-893f-11e9-9eba-f954c571beaf.png)

[2019-06-07 07:18] kazshi opened #32904 "Pricing for Custom Connector"
We have pricing information for Standard and Enterprise Connector in the following, how's about for Custom Connector? Is it excluded from the pricing?

Pricing - Logic Apps | Microsoft Azure
https://azure.microsoft.com/en-us/pricing/details/logic-apps/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63815982-c91f-8078-f

[2019-06-07 07:19] miai-dgsbs opened #32905 "Is Integration Account fixed or consumption priced ?"
There is statement "Consumption pricing applies to integration accounts where you can explore, develop, and test the B2B and EDI and XML processing features in Azure Logic Apps at no additional cost"

What does Consumption pricing mean ?
I set up Integration Account, do nothing and after 2 days Azure charges me 40 € for nothing.
So Integration Account is not Consumption rather Fixed priced.

---
#

[2019-06-07 07:20] miai-dgsbs commented on #32905
My Integration Account was Standard.

[2019-06-07 07:20] neerajkrshukla commented on #32234
Thanks @iainfoulds , @MicahMcKittrick-MSFT , @sauryadas and @YutongTie-MSFT . I will open feedback issue on AKS github page for further help on restricting network egress to only API servers.

[2019-06-07 07:46] hansmbakker opened #32906 "Reference to Virtual Machine is unclear"
The diagram and the text refer to a Virtual Machine but this seems not relevant to a Web App running in an App Service?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87e2cd41-2a63-d083-22e0-cf5f75fb4b07
* Version Independent ID: e82a144d-f425-d6ed-9f7d-bd4b5f395e45
* Content: [Tutorial - Use Azure Key Vault with an Az

[2019-06-07 07:47] mike-urnun-msft commented on #32318
Hello @vp Thank you for reporting this issue and helping us drive improvements towards MS Docs!

I've created a PR that resolves this issue and the changes should be live within next 24hrs. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-06-07 07:47] #32318 closed

[2019-06-07 07:47] hansmbakker opened #32907 "Secrets in appSettings?"
I thought KeyVault could be used to fill secrets into the appSettings of an App Service, but I don't see that mentioned here. Instead the secrets are being read from the code.

What is a best practice?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2cc0b77a-df21-7007-5cec-4399d98c6dc6
* Version Independent ID: efe5ae5e

[2019-06-07 07:54] MikkelHegn commented on #32903
@BigMorty

[2019-06-07 07:55] MikkelHegn commented on #32888
@BigMorty

[2019-06-07 07:58] hansmbakker commented on #32907
I meant https://docs.microsoft.com/en-us/aspnet/core/security/key-vault-configuration?view=aspnetcore-2.2

[2019-06-07 08:01] hansmbakker opened #32910 "VM is mentioned but not relevant to this page?"
"Delete the resource group, virtual machine, and all related resources when you no longer need them. To do so, select the resource group for the VM and select Delete."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc43d849-5b06-7185-0c9e-aaf240363aca
* Version Independent ID: 385f4dfe-326a-9e63-80ce-3c71903edf3c
* Con

[2019-06-07 08:19] fiftin commented on #17765
Is Unix extensions supported by Azure Storage?

[2019-06-07 08:19] richard-nixon1 commented on #10180
@swinarko what is the latest on this please?

[2019-06-07 08:25] DixitArora-MSFT commented on #32905
@miai-dgsbs Thank you for your feedback! We will review and update as appropriate.

[2019-06-07 08:26] DixitArora-MSFT commented on #32904
@kazshi Thank you for your feedback! We will review and update as appropriate.

[2019-06-07 08:27] DixitArora-MSFT commented on #32902
@itsashish-patel Thank you for your feedback! We will review and update as appropriate.

[2019-06-07 08:29] AterCZE commented on #32826
@AshokPeddakotla-MSFT

[](https://docs.microsoft.com/en-us/rest/api/maps/spatial/getpointinpolygon)

[](https://docs.microsoft.com/en-us/rest/api/maps/data/uploadPreview
)

[2019-06-07 08:33] jtuliani opened #32911 "Nested profiles not supported with A/AAAA record aliases"
Doc should clarify that A/AAAA record aliases pointing to Traffic Manager do not support nested profiles. See https://www.yammer.com/azureadvisors/#/threads/show?threadId=183025779269632

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d55c6a33-a21f-e8b6-da9b-f071d0db1df9
* Version Independent ID: 87388983-e525-89a7-2048

[2019-06-07 08:37] Leon99 commented on #32478
Hi @AjayKumar-MSFT, you've raised a support ticket for me some time ago, it was another problem with the same site - we use it as a test ball of switching to Linux/containers. Just in case - my subscription ID is 6939...1c21, site name is `...-cont`. Thanks.

[2019-06-07 08:38] ManojReddy-MSFT commented on #32599
@saikumaru Yes. Any user authenticating in Azure will have an object Id which is unique and is associated with the tenant in which the service (app, API, Azure portal, etc) you are authenticating for is registered. This Id will receive the token and consent will be saved on the tenant the user is part of.

You would probably need to maintain it on the application database directly. I will go ahead

[2019-06-07 08:38] #32599 closed

[2019-06-07 09:09] ManojReddy-MSFT commented on #32884
@jshomphe Thanks for reporting this. We are looking into this and will provide an update shortly.

[2019-06-07 09:09] winstef opened #32912 "Example for NodeJS"
Would it be possible to have the same SAS token configuration code example for the NodeJS Github repo?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be6225e2-f996-0240-ec57-bb601e0e490d
* Version Independent ID: 02e61a77-e74d-a9ef-cccc-d59e8e26f8b9
* Content: [Secure access to an application's data in the cloud with A

[2019-06-07 09:14] emsi commented on #32442
I'll stick with xfreerdp. It just works.

[2019-06-07 09:20] codinguncut commented on #22901
I am incredibly pissed of with microsofts documentation and usability on this.

- I had the same issue re: invalid swagger_client python code
- why does the normal azure api only support wav? I can see no possible reason for this
- why does microsoft need so many domains (cris.ai, videoindexer.ai, etc.) which are just making life harder re: cookies, etc.
- then I got `HTTP response body: {"code":"

[2019-06-07 09:22] VikasPullagura-MSFT commented on #32888
@nishantsharma Thanks for your feedback. I am assigning the issue to the author for checking and update accordingly.

[2019-06-07 09:27] ManojReddy-MSFT commented on #32910
@hansmbakker Thanks for reporting this. I have updated the doc and it will be published shortly.

[2019-06-07 09:31] ram-msft commented on #31706
@Alevale We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-07 09:31] #31706 closed

[2019-06-07 09:35] VikasPullagura-MSFT commented on #32403
@RezaRahmati Is there any update on the issue?

[2019-06-07 09:37] VikasPullagura-MSFT commented on #31803
@KentaroAOKI I am closing the issue for now as the bug fix is rolled out.
If you still face issue, please mention me in the comment so that we can reopen and work on the issue.
Thanks.

[2019-06-07 09:37] #31803 closed

[2019-06-07 09:47] ManojReddy-MSFT commented on #32880
@JimXu199545 The limits mentioned this doc are specifically for ARM Management API (management.azure.com).

If you create a Cosmos DB, then it will be considered as a write operation.
If you list all cosmos DB's in a subscription, then it is considered as a read operation.

Reading and writing data from or into the cosmos DB does not involve the management API. So, these operations will not fall u

[2019-06-07 09:48] kilasuit opened #32913 "Assignable Scopes seems to incorrectly state you cannot assign to the root"
The doc's say

```An array of strings that specifies the scopes that the custom role is available for assignment. Currently cannot be set to the root scope ("/") or a management group scope. For more information, see AssignableScopes and Organize your resources with Azure management groups.```

However on the Assignable Scopes page this shows
[code]

So which one is correct?

---
#### Document Det

[2019-06-07 09:58] sergaz-msft commented on #32668
I have assigned the issue to the content author to evaluate if there is any issue with the documentation as well. Thanks!

[2019-06-07 09:59] KrishnaG-MSFT commented on #32876
@allanmoller Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-06-07 10:00] BhargaviAnnadevara-MSFT commented on #32604
@jjindrich Indeed, RBAC is supported with AKS and Dev Spaces, provided the necessary permissions are added to the Service Account used to perform helm commands (same as that used with helm init), as mentioned in the note within.

![image](https://user-images.githubusercontent.com/44050820/59096449-85f34f80-8938-11e9-98d8-44b631393bb3.png)

[2019-06-07 10:02] ram-msft commented on #32586
@AngryVirginian Thanks . Use the JSON property name "promptsToDelete".Can you please try with the following json to update the prompt.
{
  "update": {
    "qnaList": [
      {
        "questions": {
          "add": [
            "What is your name?"
          ]
        },
        "answer": "I don't have a name.",
        "id": 5,
        "source": "qna_chitchat_the_professional.tsv",
        "con

[2019-06-07 10:08] iisworks opened #32914 "Use Dnat rule for RDP access instead of PIP on Jumphost?"
Looking into Azure FW and found the Jumphost sample:
https://github.com/Azure/azure-quickstart-templates/tree/master/101-azurefirewall-sandbox

I was wondering why that sample  does not just use a DNAT rule for Jumphost RDP/SSH access, instead of a public IP on the VM?

It looks like there might be a sample coming for Linux VMs (and multiple PIPs), is that correct?

---
#### Document Details

⚠ *D

[2019-06-07 10:11] VikasPullagura-MSFT commented on #32892
@GuyPaddock Thanks for your feedback. I am assigning the issue to the author for checking and updating the document accordingly.

[2019-06-07 10:12] mossywell opened #32915 "MVC View in VS 2019 is called Razor View"
Previous tutorials up to this point have assumed VS 2019, and therefore references to MVC should be changed to Razor. Or, perhaps explicitly state that this section assumes VS 2017?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1e5f7ac-3ad0-e72d-c7b5-5f1db831a24d
* Version Independent ID: 31b00702-06c0-8fad-cd9e-c1ca

[2019-06-07 10:20] RohitMungi-MSFT commented on #32665
@Anilkumarsunkesula I have tried installing Anaconda on a windows VM and it did work fine for me.
![image](https://user-images.githubusercontent.com/46958063/59097654-bb4d6c80-893b-11e9-9356-a7de8cd9cf05.png)

Could you please check if your VM supports the required [configuration](https://docs.anaconda.com/anaconda-enterprise/system-requirements/) for anaconda installation?

[2019-06-07 10:23] jakaruna-MSFT commented on #32900
@patst
Thanks for the question! We are investigating and will update you shortly.

[2019-06-07 10:24] javierruizjimenez commented on #24559
@honghuig and @nunocms

Any feedback about the issue? do you need more information?

[2019-06-07 10:26] Anilkumarsunkesula commented on #32665
Hello Rohit,

Thanks for the update.

Now I can see the anaconda prompt in the windows virtual machine after installing the Anaconda.

Thanks & regards

Anil Kumar S

________________________________
From: RohitMungi-MSFT <notifications@github.com>
Sent: Friday, June 7, 2019 6:20:27 AM
To: MicrosoftDocs/azure-docs
Cc: Anil Kumar Sunkesula; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Anaconda p

[2019-06-07 10:42] armbraggins commented on #32850
I don't have any additional questions at this point, but the documentation you point to doesn't answer my original question. The "Connecting to Azure Database for PostgreSQL with SSL certificate authentication" section describes client verification of the server certificate, not mutual authentication with client certificates.
Is the use of client certificate authentication supported?

[2019-06-07 10:42] shashishailaj commented on #32906
@hansmbakker Thank you for your feedback . We will investigate and update further.

[2019-06-07 10:44] shashishailaj commented on #32906
@hansmbakker The diagram refers to a Azure resource and in this case the picture of a VM is taken for reference. We are engaging the authors on this for checking further if the document can be changed accordingly.

[2019-06-07 11:05] MGoedtel commented on #32489
@ToruMakabe - I suggest opening a support case for this being this is a functional issue with AzMon for containers and not a doc issue.  @SadiqhAhmed-MSFT - Do you agree or should they follow another path to have the PG investigate the issue?  #please-close.  @keikhara - FYI regarding this behavior.

[2019-06-07 11:17] jakaruna-MSFT commented on #32900
@patst Currently thats not supported. We get to select the [agent pool type](https://docs.microsoft.com/en-us/rest/api/aks/managedclusters/createorupdate#agentpooltype) from AvailabilitySet or VirtualMachineScaleSets.

You can consider using Virtual nodes where it uses ACI in the backend to deploy containers. In ACi containers are charged per second basis.  Its better suited for transient loads an

[2019-06-07 11:17] shashishailaj commented on #32907
@hansmbakker Thank you for your query. The best practice is to read the secrets on the fly using REST API calls whenever needed .

[2019-06-07 11:21] SubhashVasarapu-MSFT commented on #32914
@iisworks , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-06-07 11:22] SubhashVasarapu-MSFT commented on #32911
@jtuliani , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-06-07 11:38] shashishailaj commented on #32915
@mossywell Thank you for your feedback . We will investigate and update further.

[2019-06-07 11:58] LaDuelo opened #32916 "Using SAML NameID assertion to get access token for the user"
I've read that it should be possible to authorize a user using SAML and use the NameID assertion which looks like 'FdSpJoXHj78ZmrO6W_6VIIfYagLmTL_zvV0j8AJ7KG0' as a value (base64 encoded) for 'code' key in a request to the oauth2/token endpoint. However, doing that always returns "invalid_grant" error with description "AADSTS9002313: Invalid request. Request is malformed or invalid". Am I missing

[2019-06-07 11:59] sebhe opened #32917 "Password Writeback - Settings in on-premise AD"
Can you please provide some more details about which settings are done in the onpremise-AD if the source  of authority is Windows Server Active Directory and password-writeback is enabled?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9922a978-39e8-80c1-07b0-58d3cef4e127
* Version Independent ID: fcbddc27-fdb0-4c1e-bb

[2019-06-07 11:59] shashishailaj commented on #32315
1. When it comes to security anything that the IT does not know about (_has not been registered in azure AD_ ) would be considered as a unmanaged cloud app . Since the user can leak credential, share sensitive data and could do any of the damaging activity through any such application hence its considered a threat .

2. Azure relies on cloud app security which can analyse the traffic and perform a

[2019-06-07 11:59] #32315 closed

[2019-06-07 12:12] jeevansd commented on #32884
@jshomphe We are trying to reproduce this issue in our labs and will keep you posted.

[2019-06-07 12:33] shashishailaj commented on #32645
@trolleyboy

-- Yes the workspace can be shared by sentinel and other Azure Services.
-- There is not specific requirement for a pricing tier. However it will depend on how much data you are trying to process through sentinel. The [legacy pricing tiers](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/manage-cost-storage#legacy-pricing-tiers) have a free option which you can use if yo

[2019-06-07 12:33] #32645 closed

[2019-06-07 12:33] onstwedder commented on #32732
@YutongTie-MSFT, I walked into the same issue as iamsop. I think the text:

"Replace <SAS URL> with an Azure Blob storage container shared access signature (SAS) URL of the location of the training data."
Would be more clear if you add a line like "Retrieve your sas-url by clicking 'Shared Access Signature' under settings menu in the storage account and 'Genate SAS and connection string' . This wi

[2019-06-07 12:39] onstwedder opened #32918 "Add C# example"
I imagine many developers would call this from a c# application. It help to have a standard C# example besides the cURL and Python example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5fa2bcb-4ecb-fea1-5126-36986c2c94e9
* Version Independent ID: c6cd5bd0-b35b-5e29-7f5e-db8cabecc7af
* Content: [Quickstart: Train a mo

[2019-06-07 12:43] shashishailaj commented on #32658
@aligma We appreciate your contribution . We have updated the document . The changes should be live in the next 24-48 hours. We will now proceed to close the issue.

Thank you.

[2019-06-07 12:43] #32658 closed

[2019-06-07 12:58] shashishailaj commented on #32677
@barclayn Could you please review the suggestion and update the article with proper links after verifying with engineering ?

[2019-06-07 13:10] shashishailaj commented on #32698
@MarkSimos Thank you for your suggestion , We have added a small note. It will be live in the next 24-48 hours. We will now close this issue.

Thank you.

[2019-06-07 13:10] #32698 closed

[2019-06-07 13:11] hansmbakker commented on #32906
What about “When they are no longer needed, you can delete the virtual machine and your key vault.“?

[2019-06-07 13:16] ManojReddy-MSFT commented on #32887
@skybear2014 Thanks for reaching out to us. We are looking into this and we will get back to you shortly.

[2019-06-07 13:28] shashishailaj commented on #32915
@mmacy Could you please review this request . The article and the referencing screenshots would need to be changed as per the nomenclature changes in newer iterations of Visual studio . Visual Studio v15.9 (VS2017) and above call MVC view as Razor View . In my lab i have VS 2017 v15.9 and i see the following.

![image](https://user-images.githubusercontent.com/532022/59107418-3ae83500-8956-11e9-89

[2019-06-07 13:33] shashishailaj commented on #32906
@msmbaldwin Could you please have this document reviewed with engineering as per comments from @hansmbakker and see how we can best get this updated ?

[2019-06-07 13:39] BenWhite27 commented on #27135
Yeah, I can echo much of what's said here.  I'm just looking for a couple of small tables to go along side some Azure Functions and I'm struggling to get started.  The documentation changes come across as indicating that Cosmos DB is replacing Azure Storage Tables as most of the docs now point to Cosmos.  But looking at the pricing it's not the right fit for my project, I don't need that much perf

[2019-06-07 13:43] turbozapekanka opened #32921 "Incorrect IOPS limits in the table"
The page shows incorrect IOSP limits for Lsv2-series VMs, for example 8000 for Standard_L8s_v2 whereas azure shows 10000 Max IOPS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7323e68-7415-ba43-47de-8d1738f7c52b
* Version Independent ID: 1bce47f4-d516-dd38-3e54-8da7b9b7b416
* Content: [Azure Windows VM sizes - Storag

[2019-06-07 13:44] jscaravilli opened #32922 "New VNET Integration - HTTP 409 (Conflict)"
Trying to connect two app-services to two different subnets in the same vnet using preview integration. This was working about two weeks ago, but now results in the error:

**Failed to add delegation to the existing subnet: Adding this VNET would exceed the App Service Plan VNET limit of 1.**  Looking at the request itself, I can see the PUT request returns with a 409 conflict error. Has something

[2019-06-07 13:44] porrascarlos802018 opened #32923 "Update AKS cluster with new credentials"
this section could include a clarification on which RG group and name needs to be used, is the RG for the node MC_ or for the cluster RG?

its a doubt expressed by a customer

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b842222-f6ac-5266-227f-7e400610e07b
* Version Independent ID: 429cd3bf-2691-f633-2e0d-e70e5d8d0e0

[2019-06-07 13:52] MohitDhingra-MSFT commented on #32827
@msmbaldwin Could you please help review and update this document as needed?

[2019-06-07 13:53] gscott opened #32924 "alertContext "SearchResults" undocumented but also invalid JSON string"
As another has mentioned, for the docs on `alertContext` when the source is **log analytics,** you have omitted documenting the `SearchResults` key, which is a string.

The problem is that the results in that string appear to be a piece of stringified JSON, but that JSON is invalid JSON that cannot be easily parsed back into an object to be consumed by other tools.

For example, this is the string

[2019-06-07 14:03] guardrex commented on #32907
@hansmbakker Are you working in ASP.NET Core or .NET Framework? The topic referenced only applies to ASP.NET Core (or an ASP.NET Core app that targets the .NET Framework). That topic doesn't apply to a traditional .NET Framework app.

[2019-06-07 14:11] thecpshah opened #32926 "Error in getting storage account"
Hello

When I run `$storageAccount = Get-AzStorageAccount -ResourceGroupName $resourceGroupName -Name $storageAccountName`, I get an error that `Get-AzStorageAccount : Resource group 'training' could not be found.`

The problem could be that I have access to multiple subscriptions and when I run `Login-AzAccount`, it outputs a subscription name that I am not using. I have also set my default subsc

[2019-06-07 14:24] jeremyfinney opened #32927 "Doc is out of date / inaccurate"
I just went through this configuration myself, yesterday, and got it working with help from Replicon support. The following should be changed:

Configure Azure AD single sign-on
---------------------------------
4
a: Sign-on URL should be https://global.replicon.com/!/saml2/[client name]/sp-sso/post
b: Identifier should be https://global.replicon.com/!/saml2/[client name]
c: Reply URL should be ht

[2019-06-07 14:31] ManojReddy-MSFT commented on #32913
@kilasuit Thanks for reporting this. We are looking into this and will get back to you shortly.

[2019-06-07 14:35] ManojReddy-MSFT commented on #32889
@dcbrown16 Thanks for reporting this. We are looking into this and will update the doc accordingly.

[2019-06-07 14:40] ManojReddy-MSFT commented on #32894
@cconrado Thanks for reaching out to us. We are looking into this and will provide an update accordingly.

[2019-06-07 14:44] ManojReddy-MSFT commented on #32891
@Karishma-Tiwari-MSFT Thanks for reporting this. We are looking into this and will provide an update accordingly.

[2019-06-07 14:49] StingyJack opened #32928 "Using the TSQL method will take some time for the TSQL command to return, but ..."
... when it returns and says its completed, its actually not completed. The job is still running often time.

If this is intended to be non-blocking, it should not take more than a few seconds to initiate and report back success.  The command actually processes for 10+ minutes before stating its complete, and often times the copy process needs another hour or four to complete.

Can these commands

[2019-06-07 14:51] diberry commented on #32382
@ECocca Please post your question on [Recognizers-Text](https://github.com/Microsoft/Recognizers-Text). That is where datetimeV2 comes from.

[2019-06-07 14:57] mattsmall1972 commented on #31554
This is not accurate.  Every Key Vault secret has a secret version and can be called either with or without the secret version.

That said, I don't understand the question.

[2019-06-07 15:15] SumanthMarigowda-MSFT commented on #32912
@winstef Thanks for your question. We are checking on this and will respond to you soon.

[2019-06-07 15:16] SumanthMarigowda-MSFT commented on #32926
@thecpshah Thanks for your question. We are checking on this and will respond to you soon.

[2019-06-07 15:25] ChristianMontoya commented on #32442
If you'd still like a solution where you as an admin publish resources to users, you can also leverage Windows Server RDS.

[2019-06-07 15:36] miketoupin commented on #23874
Having exactly the same issue with Kubernete version 1.14.0 in CanadaCentral.

Kubectl version : kubectl version
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.2", GitCommit:"66049e3b21efe110454d67df4fa62b08ea79a19b", GitTreeState:"clean", BuildDate:"2019-05-16T16:23:09Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"windows/amd64"}

Azure Cli version : 2.0.66 (installed v

[2019-06-07 15:38] markarnolditpro opened #32929 "Use case: copy data from Azure back to on-premise?"
Is it possible to use Data Box Disk to copy data back to on-premise storage for a one-time use case?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 037a0a65-382e-b2c4-4bf9-b393dd1ece69
* Version Independent ID: 28c0046d-44af-c91e-1c84-b6fcfcd51be4
* Content: [Microsoft Azure Data Box Disk overview](https://docs.microso

[2019-06-07 15:39] AshokPeddakotla-MSFT commented on #32826
@rbrundritt Please check this issue and provide your insights.

[2019-06-07 15:43] ECocca commented on #32382
Ok thanks, i found the issue:  [`1302`](https://github.com/microsoft/Recognizers-Text/issues/1302)
where someone else has already asked my question (without getting an answer).

[2019-06-07 15:43] alkohli commented on #32929
@markarnolditpro Data Box Disk will allow you to import your on-premises data into Azure. Export function is not implemented. You can use the [Azure Import/Export service to export your Azure data](https://docs.microsoft.com/en-us/azure/storage/common/storage-import-export-data-from-blobs?toc=%2fazure%2fstorage%2fblobs%2ftoc.json) back to on-premises storage. Is that what you are looking for? Than

[2019-06-07 15:54] pnwguy opened #32930 "Step 7 - what prevents Synchronization Frequency from displaying?"
I'm trying to create a 15 minute backup for an on-prem SQL 2017 db, but when I get to step 7 "Specify Short Term Goals", the Synchronization Frequency option is not displayed.  Can you provide more details as to what would prevent that from showing up?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea301789-a8cc-a1b4-0

[2019-06-07 16:03] MicahMcKittrick-MSFT commented on #32922
@jscaravilli please provide us with the link to the documentation you are following so we can better assist.

[2019-06-07 16:06] MicahMcKittrick-MSFT commented on #32923
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-07 16:06] MicahMcKittrick-MSFT commented on #32921
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-07 16:06] MicahMcKittrick-MSFT commented on #32903
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-07 16:08] jscaravilli commented on #32922
https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet

Specifically, the preview integration feature.

Something on the backend has changed with respect to the way the request is processed – that’s all I can ascertain at this time.

From: Micah <notifications@github.com>
Sent: Friday, June 7, 2019 11:04 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc:

[2019-06-07 16:10] MicahMcKittrick-MSFT commented on #32922
@jscaravilli thanks for that. I have assigned it to the correct engineer to take a look

[2019-06-07 16:10] mamccrea commented on #32295
Hi @msdpalam - Thank you for bringing this to our attention. We are currently revising/refreshing this article, as the process to access the Twitter app has changed significantly. The error you received is interesting becuase both 5.3 and 4.0 runtimes use Java 1.8. I will try to reproduce the issue.

[2019-06-07 16:12] Mike-Ubezzi-MSFT commented on #32928
@StingyJack Thank you very much for the detailed feedback. If there are specific product features or functionality you would like to suggest, the Azure SQL Feedback Forum ([link](https://feedback.azure.com/forums/217321-sql-database)) is best for a dialog directly with the product group.
With regard to the documentation, there is additional detail on monitoring the progress of the copy activity ([

[2019-06-07 16:18] MicahMcKittrick-MSFT commented on #32886
@GuyPaddock thanks for pointing this out. I competely agree the steps to download are not clear and or not there at all.

@Heidilohr can you take a look?

[2019-06-07 16:19] MicahMcKittrick-MSFT commented on #32891
@GuyPaddock I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-07 16:20] MisinformedDNA opened #32931 "Purpose of SecureString in outputs"
If with SecureStrings

&gt; the value isn't displayed in the deployment history and can't be retrieved from another template

what exactly is the purpose of outputting a SecureString? Should it even be allowed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0eb51e04-9b4e-c22d-be8c-4ddf4a59a100
* Version Independent ID:

[2019-06-07 16:20] Anand-Moghe commented on #32596
@v-pugoe  I do not know. I just followed the steps  to download cert in steps 3.
Here is the size of these certificate which I was unable to use when setting it up in Salesforce.com trial subscription.

![image](https://user-images.githubusercontent.com/7546032/59118335-b15c4700-8904-11e9-9027-c34e6f9b2d48.png)

 In the salesforce developer subscription I did not upload this subscription when sett

[2019-06-07 16:22] MicahMcKittrick-MSFT commented on #32903
@lloydmonteiro can you try downloading them using this link and let me know if the error is still there?

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started#install-the-sdk-and-tools

[2019-06-07 16:23] MicahMcKittrick-MSFT commented on #32921
@turbozapekanka can you elaborate on what you mean by Azure shows 10000 Max IOPs? Do you mean it shows value via the portal when picking a size?

[2019-06-07 16:25] MicahMcKittrick-MSFT commented on #32923
@porrascarlos802018 it is the Resource group with the AKS cluster. Not the MC resource group. In most cases, you will not touch the MC_ resource group. I will assign to the author to see if it makes sense to add more info to the doc.

[2019-06-07 16:29] mutzl commented on #32004
Thank you. That fixed it for me.

[2019-06-07 16:35] MicahMcKittrick-MSFT commented on #32746
@XiaochuanTang I will close this out for now. However if you go through the doc again and are still seeing issues just let me know and we can always reopen and continue the discussion.

[2019-06-07 16:35] #32746 closed

[2019-06-07 16:39] Alberto-Vega-MSFT commented on #32720
@gregdegruy Since we haven't heard back from you we will be closing this issue for now.  If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-07 16:39] #32720 closed

[2019-06-07 16:43] Alberto-Vega-MSFT commented on #32335
@wassx Sorry for the delayed. I raised you question internally I will update you as soon as I get the answer.

[2019-06-07 16:43] MicahMcKittrick-MSFT commented on #31685
@igormusinov apologies for the delay on this. At this time, we do not have an ETA on when you will be able to pass execute commands with arguments.

You can file a feature suggestion for this here

https://feedback.azure.com/forums/602224-azure-container-instances

[2019-06-07 16:43] #31685 closed

[2019-06-07 16:48] MicahMcKittrick-MSFT commented on #31689
@igormusinov it has been suggested to me that to look further into this we should get you in touch with Azure Technical Support. Do you have the ability to open a technical support ticket? If not, you can email me at AzCommunity@microsoft.com and provide me with your Azure SubscriptionID and link to this issue. I can then enable your subscription for a free support request.

I will close this and

[2019-06-07 16:48] #31689 closed

[2019-06-07 16:50] MicahMcKittrick-MSFT commented on #31716
@blueelvis based on what I have been able to find, it appears swap space is not possible. I will assign this to the author to take a look and see if we want to specifically call that out in this doc.

You can also submit a feedback request to enable this feature here

https://feedback.azure.com/forums/602224-azure-container-instances

[2019-06-07 16:54] jshomphe commented on #32884
@jeevansd, let me know if you need assistance as we have a working example set up (non-production)

[2019-06-07 16:55] jeevansd commented on #32884
Can you send the details to our team alias SaaSApplicationIntegrations@service.microsoft.com and then we can take a look at it.

[2019-06-07 16:56] MicahMcKittrick-MSFT commented on #32883
Possibly related to #32873 and https://github.com/Azure/azure-cli/issues/9585

@bitsofinfo  please following the above issues for updates.

[2019-06-07 16:56] #32883 closed

[2019-06-07 16:56] iainfoulds commented on #32923
As @MicahMcKittrick-MSFT notes, the AKS cluster resource is in your own defined resource group. Any time you need to perform an action against the _MC__ resource group, the doc will show how to first get that resource group name using `az aks show`, and then use that name in the command. Usually that's not the case, so most of our docs just straight use _myResourceGroup_ as shown here.

If we get

[2019-06-07 16:58] #32923 closed

[2019-06-07 17:03] MarileeTurscak-MSFT commented on #32735
Since I have not heard back from you we will now proceed to close this thread. Feel free to make a pull request to the document or open a new issue if you would like to continue the discussion.

[2019-06-07 17:03] #32735 closed

[2019-06-07 17:11] peledins opened #32933 "Canonicalization for resource likely incorrect"
GetCanonicalizedResource returns case sensitive parameters,
e.g.:

?A=1 would return "A:1"

this is incorrect per https://docs.microsoft.com/en-us/rest/api/storageservices/authorize-with-shared-key#constructing-the-canonicalized-resource-string

Which asks for
"Convert all parameter names to lowercase."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-06-07 17:13] peledins commented on #32933
using System;
using System.Collections.Specialized;
using System.Linq;
using System.Text;
using System.Web;

namespace ConsoleApp1
{
    class Program
    {
        private static string GetCanonicalizedResource(Uri address, string storageAccountName)
        {
            // The absolute path will be "/" because for we're getting a list of containers.
            StringBuilder sb = new StringBuil

[2019-06-07 17:13] turbozapekanka commented on #32921
Yes. It shows that value in "Max IOPS" column when picking a VM size

[2019-06-07 17:20] FrankHu-MSFT commented on #32927
@jeremyfinney  Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-07 17:21] arkiaconsulting commented on #31554
I'm sorry but Key Vault secrets created by using a Sas definition do not have any version, or it's hidden. One can't fetch the version of a Sas definition secret, even using the Azure CLI. It's id does not have a secret.
Given that, we cannot reference those secret using Key Vault references, as the version is required.

[2019-06-07 17:22] KumudD commented on #29875
@redaniel74 Thanks for bringing this to our attention! I have updated the terminology and images.

#please-close

[2019-06-07 17:26] rbrundritt commented on #32826
The body doesn't look correct. The feature collection appears to be wrapped by an object that has a feature collection property which I haven't seen in any examples and isn't valid GeoJSON. Additionally, for a polygon to be valid, the first and last coordinate of each ring has to be the same to create a closed ring. Here is a modified version of the body of what I would expect.

[code]

Try using

[2019-06-07 17:28] MarileeTurscak-MSFT commented on #32917
@sebhe
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-07 17:28] FrankHu-MSFT commented on #32916
@LaDuelo  Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-07 17:35] diberry commented on #32382
@ecocca Thanks for letting me know it is unanswered. I added @tellarin - he is the man with the plan. :)

[2019-06-07 17:41] Adam-Smith-MSFT commented on #32933
@peledins Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-07 17:46] MicahMcKittrick-MSFT commented on #32921
Thanks for that. I will check and update the doc :)

[2019-06-07 17:48] PramodValavala-MSFT commented on #32772
@charlet-antoine Just following up here... Hope my previous comment helps.

[2019-06-07 17:48] davidbaxterbrowne opened #32934 "Article shows making the Managed Identity the AAD Admin of Azure SQL, which is impractical in the real world"
The proper procedure is to connec to the target SQL server database as the AAD ADministrator, an AAD identity that has admin privileges, and to create a database user for the managed identity.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31b0d33c-f88e-d50c-2926-7933940f3b92
* Version Independent ID: 4aaef906-f501-694

[2019-06-07 17:49] PramodValavala-MSFT commented on #32803
@brandonh-msft Just following up here. Hope my previous comment clears things up.

[2019-06-07 17:53] PramodValavala-MSFT commented on #32847
@abhinav-jain09 Could you please elaborate on that?

In general, policies have to be testing by API calls themselves.

[2019-06-07 18:06] PramodValavala-MSFT commented on #32854
@ernesto-arm While there may not be native support with a similar object (yet), the [relevant headers](https://docs.microsoft.com/en-us/azure/app-service/app-service-authentication-how-to#retrieve-tokens-in-app-code) are still passed down to your function which you can parse.

For native support, it is best to raise an issue on the [azure-functions-java-library](https://github.com/Azure/azure-func

[2019-06-07 18:09] BPtLNfxZWo commented on #32583
Thanks, I'm looking forward for your answer to get the full picture why you've choosen that way.

[2019-06-07 18:10] ahmedelnably commented on #32831
Once I have the steps needed to make it work without any issues, will update the doc.

thanks for reporting the issue with the doc

[2019-06-07 18:17] davidbel commented on #31179
Hi folks, thank you all for reporting this issue. This has been fixed internally in the client and will be available in the next public client update which should be around Tuesday 6/18.

[2019-06-07 18:19] jeevansd commented on #32596
Federation Metadata XML doc can be bigger in size. But if you are seeing the issue can you please try downloading the certificate and try uploading it manually?

Is that also bigger in size?

Thanks and Regards,
Jeevan Desarda
Senior Program Manager | Azure AD – Customer Success Team | jeedes@microsoft.com<mailto:jeedes@microsoft.com>
My calendar availability is published here https://freebusy.io/

[2019-06-07 18:21] YutongTie-MSFT commented on #32918
@onstwedder Good feedback, thank you a lot! @PatrickFarley Hi Patrick, do we have any plan for C# example? Thank you.

[2019-06-07 18:28] ScottAzure opened #32935 "Creating a VM via the portal with UltraSSD isn't supported (in preview)"
The customer tries to create the VM with UltraSSD using Portal which is clearly not supported. The documentation said:
"Currently can only be deployed using Azure Resource Manager templates, CLI, and the python SDK". It didn't explicitly say that creating VM from Portal will not work. We should fix that.​
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/disks-types#ultra-ssd-preview

[2019-06-07 18:33] PatrickFarley commented on #32918
@YutongTie-MSFT Yes, but we are waiting for the .NET SDK to finalize. In the meantime, you can certainly write a C# application that makes the REST calls, but most developers want a native SDK experience.

[2019-06-07 18:33] valmonten opened #32936 "Basic vs Multi-site listeners?"
What is the difference between basic and multi-site listeners?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32e7a4ca-bf44-675a-189d-addc8284e1ab
* Version Independent ID: 37e99fb1-3fbd-727a-468e-fe73b6ca13cb
* Content: [Hosting multiple sites on Azure Application Gateway](https://docs.microsoft.com/en-us/azure/applic

[2019-06-07 18:34] MicrosoftGuyJFlo commented on #32788
@jrg-jeff Have you tried the steps in the writeback article?
https://docs.microsoft.com/azure/active-directory/authentication/howto-sspr-writeback#active-directory-permissions

[2019-06-07 18:37] MicrosoftGuyJFlo commented on #32786
@jrg-jeff Answered in the doc https://docs.microsoft.com/azure/active-directory/authentication/howto-sspr-writeback#active-directory-permissions "If you're not sure what account the described account refers to, open the Azure Active Directory Connect configuration UI and select the View current configuration option. The account that you need to add permission to is listed under Synchronized Direct

[2019-06-07 18:37] MicrosoftGuyJFlo commented on #32786
#please-close

[2019-06-07 18:37] MicrosoftGuyJFlo commented on #32788
#please-close

[2019-06-07 18:39] MicrosoftGuyJFlo commented on #32701
Sent to PM for feedback.

[2019-06-07 18:40] MicrosoftGuyJFlo commented on #32652
Run it from wherever you are configuring your settings from. Doesn't get run on the secure workstation you are building. The script creates Intune configurations for you that you will apply.

[2019-06-07 18:43] mattsmall1972 commented on #31554
My apologies.  I tested this and you're correct.  I'll check with the PG to see if there's any workaround for this.

[2019-06-07 18:50] brandonh-msft commented on #32803
👍 I'm working closely with LA and have given them this information as well.

[2019-06-07 18:50] #32803 closed

[2019-06-07 18:55] DvExplorer opened #32937 "Confusing instructions regarding "Entity ID""
The Azure AD Entity ID that you copy in "Configure Azure AD single sign-on" section 6, is NOT the Entity ID you'd need to fill in "Configure Syncplicity Single Sign-On" section 3.c.  Instead, you'll need to fill in the Entity ID you defined/customized in "Configure Azure AD single sign-on" section 4.b. In another word, it's the Syncplicity Entity ID that's needed on BOTH side of configuration.

--

[2019-06-07 19:00] pipern opened #32938 "Typo somelable -> somelabel"
"somelable" is likely a typo, and should be "somelabel"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d55c6a33-a21f-e8b6-da9b-f071d0db1df9
* Version Independent ID: 87388983-e525-89a7-2048-585c6bd0927d
* Content: [Azure DNS alias records overview](https://docs.microsoft.com/en-us/azure/dns/dns-alias#feedback)
* Conten

[2019-06-07 19:04] edcyyazdi opened #32939 "SSPR working even though scope is set to 'None'"
Our users are able to reset their passwords and have it writeback to our on-premise directory, even though the 'Self service password reset enabled' setting is set to 'None'.

Is this a bug?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cefae94a-c39e-bee5-ae8b-a02d62559ba8
* Version Independent ID: bdc46b39-5eea-7239-

[2019-06-07 19:17] Karishma-Tiwari-MSFT commented on #32935
@ScottAzure As you shared, the doc clearly says that "Currently **can only be deployed using** Azure Resource Manager templates, CLI, and the python SDK. We can add explicitly that it is not supported from portal at this point or may be the positioning of  the point needs to be changed to make it more visible.
@roygara Can you please share what do you suggest we should do? Thanks. :)

[2019-06-07 19:26] MicahMcKittrick-MSFT commented on #32934
@davidbaxterbrowne please provide us with the link to the doc you are referring to so we can better assist.

[2019-06-07 19:33] abhinav-jain09 commented on #32847
@PramodValavala-MSFT  for example you write a code in certain IDE and test it locally before you deploy it on some server in production . same way how can I write code for it and where can I test it locally that its working?

[2019-06-07 19:33] #32786 closed

[2019-06-07 19:34] BigMorty commented on #32903
For VS2019 the Service Fabric tools are installed when the Azure Development workload is installed. You want to use this link to install the Service Fabric SDK - https://www.microsoft.com/web/handlers/webpi.ashx?command=getinstallerredirect&appid=MicrosoftAzure-ServiceFabric-CoreSDK

[2019-06-07 19:36] MicahMcKittrick-MSFT commented on #32903
Thanks @BigMorty appreciate it.

@lloydmonteiro I will close this out but if you still have issues just let us know and we can always reopen and continue the discussion.

[2019-06-07 19:36] #32903 closed

[2019-06-07 19:37] chanakyaMT opened #32940 "unable to get accesstoken with webactivity in azure data factory"
Hello,
I have created one Webactivity to get accesstoken but everytime it is failing with
{
    "errorCode": "2108",
    "message": "{\"error\":\"invalid_request\",\"error_description\":\"AADSTS900144: The request body must contain the following parameter: 'grant_type'.\\r\\nTrace ID: ae5429df-cda8-4bb8-98b1-d822ba1e6300\\r\\nCorrelation ID: f250f54c-f7d3-492f-94a5-c1c71e3a2c28\\r\\nTimestamp: 201

[2019-06-07 19:47] alvipeo commented on #32652
Thank you! ok, I'll give it a try!

[2019-06-07 19:47] MicahMcKittrick-MSFT commented on #32940
@chanakyaMT please provide us with the link to the documentation you are following so we can better assist.

[2019-06-07 19:50] chanakyaMT commented on #32940
Hello Micah,

Thank you very much for your response.

Below is the link I have followed to create web activity in Azure data factory.

https://docs.microsoft.com/en-us/azure/data-factory/control-flow-web-activity

................

FYI .. I was able to generate accesstoken with Postman .

Thank you very much in advance

[2019-06-07 19:51] MicahMcKittrick-MSFT commented on #32921
@jonbeck7 can you take a look and get someone to validate and update the doc with the correct metrics?

CC @cynthn @Drewm3

[2019-06-07 19:52] MicahMcKittrick-MSFT commented on #32940
@chanakyaMT perfect. Thank you :)

I will get this assigned to one of our Data-Factory Engineers to investigate

[2019-06-07 20:33] cynthn commented on #32921
@joelpelley

[2019-06-07 20:38] mmacy commented on #32841
Hi @ManojReddy-MSFT, you can assign this one to me, I'm currently performing a refresh on this article. Thanks.

[2019-06-07 20:42] JasonWHowell commented on #32764
@dhgoelmsft Could you advise?

[2019-06-07 20:48] Karishma-Tiwari-MSFT commented on #30997
@duckie @rgalexey @mgraff  Thank you all for bringing this to our attention. The product team have acknowledged this and actively working on the option to have this feature in Azure portal. I will share when I have the ETA for this.

At this point, the workaround is to use Azure CLI option to provision it, enabled with cloud init custom data.

We will now close this for now. I will be tracking thi

[2019-06-07 21:11] asbailey opened #32942 "Appears that DEMO Conference Site is down"
TTP/1.1 401 Unauthorized

content-length: 143
content-type: application/json
Hey guys
I am unable to successfully test GetSpeakers API ---get this response
vary: Origin
{
    "error": "Provided credentials are not valid or tenant is not available.BackendStatusCode=503 RequestFailureReason=Service Unavailable"
}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2019-06-07 21:12] Anand-Moghe commented on #32596
@jeevansd  Which certification are you specifically asking me to download from below?

![image](https://user-images.githubusercontent.com/7546032/59133544-4115eb80-892d-11e9-8cc8-8776a6c0068c.png)

Since I am using federated ID, I have downloaded "Federation Metadata XML" and then I setup SSO in salesforce.com developer subscription account by importing the same which has a size of 14K.

Below is

[2019-06-07 21:17] mtschafe opened #32943 "Manually install and configure MongoDB on a VM"
I've created a vm using the following command:
az vm create \
    --resource-group myResourceGroup \
    --name myVM \
    --image CentOS \
    --admin-username azureuser \
    --generate-ssh-keys

Then I try to ssh into the public id address that was displayed in the output.
ssh matt@Azure@40.118.249.43

And I got the following message:
Permission denied (publickey,gssapi-keyex,gssapi-with-mic).

[2019-06-07 21:17] rjmholt opened #32944 "Data limits -- how are bytes counted?"
The data limits in documentation are specified in bytes, but JSON strings are encoding-dependent. And possibly compression-dependent.

If I need to know whether my data will be truncated on the client side, what test should I employ to determine this?

Do the byte sizes refer to what I've sent as a client, or do they depend on how these payloads are stored server-side by Azure?

Is this the size l

[2019-06-07 21:28] Anand-Moghe commented on #32596
Reopening the issue for more updates

[2019-06-07 21:29] cynthn commented on #32943
@mtschafe  Can you try to ssh using: `ssh azureuser@40.118.249.43` and see if that fixes it?

[2019-06-07 21:33] TravisCragg-MSFT commented on #32938
@pipern Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-06-07 21:35] davidbaxterbrowne commented on #32934
See https://docs.microsoft.com/en-us/azure/sql-database/sql-database-aad-authentication

The AAD Administrator is like ‘SA’ for on prem.  It’s an administrative account intended to be used by the DBA or Resource owner.  This account can drop any database, connect to any database as ‘dbo’ read and write any table, drop tables, add users, and control permissions.

A MSI represents an application, wh

[2019-06-07 21:48] MicahMcKittrick-MSFT commented on #32934
@davidbaxterbrowne perfect. Thank you for that. I will assign to our SQL engineer to look into it further.

[2019-06-07 21:50] TravisCragg-MSFT commented on #32936
@valmonten The [different types of listeners are described Here](https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-components#types-of-listeners). Please let me know if you have any additional questions.

[2019-06-07 21:53] MicahMcKittrick-MSFT commented on #32943
@mtschafe as @cynthn mentions, you need to use the username you created the VM with. It has nothing to do with the account you login to azure with.

[2019-06-07 22:02] MarileeTurscak-MSFT commented on #32917
Hi @sebhe ,

You can set it in the ADD Connect wizard itself. Check out the instructions here: https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-sspr-writeback

There's a checkbox you need to tick.

![image](https://user-images.githubusercontent.com/13383753/59135827-4c6d1500-8935-11e9-9ddb-f2b6e22a7f63.png)

[2019-06-07 22:03] jackhorton opened #32947 "Advanced Filters are now GA but not available in Azure PowerShell or a non-preview REST API"
https://github.com/MicrosoftDocs/azure-docs/issues/29533 was closed because Advanced Filters were preview at the time. However, they are now GA according to https://azure.microsoft.com/en-us/blog/simplifying-event-driven-architectures-with-the-latest-updates-to-event-grid/. The latest REST API supports advanced filters, but the API version is marked as preview. Additionally, neither the latest Azu

[2019-06-07 22:06] MarileeTurscak-MSFT commented on #32913
@rolyon can you explain this? Is it only assignable to the root for built-in scopes, or is there another sort of discrepancy going on?

[2019-06-07 22:29] TiloGit opened #32949 "verison list of components like Docker and Helm version per AKS K8 version"
Just got issue on helm mismatch.
Where does AKS list what helm is installed with which AKS version,
same goes to know what Docker is installed

Looking for a table like
Kubernetes 1.13.5  Docker zzz helm zzz
Kubernetes 1.12.8  Docker zzz helm zzz

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7010bd58-42b1-5c90

[2019-06-07 22:33] Mike-Ubezzi-MSFT commented on #32850
@armbraggins This authentication method is not supported at this time. User credentials are required and the certificate is being used to encrypt the communication channel. There is an [option](https://docs.microsoft.com/en-us/azure/postgresql/concepts-ssl-connection-security#connecting-to-azure-database-for-postgresql-with-ssl-certificate-authentication) to add the root.crt file in the connection

[2019-06-07 22:33] PhilKoay opened #32950 "When following the steps I get the following error "Malformed POM /home/phil/pom.xml: Expected root element 'project' but found 'plugins'""
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c13f5f59-c119-40e6-1396-d6e65b737693
* Version Independent ID: eb8a9ad0-44fc-6e06-adb0-29df32aee19a
* Content: [Create Java web app on Linux - Azure App Service](https://docs.microsoft.com/en-gb/azure/app-service/containers/quickstart-java)
* Content

[2019-06-07 22:38] TiloGit opened #32951 "use "kubectl get nodes" to check status of nodes upgrade"
suggest you  add this info to better track status.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7010bd58-42b1-5c90-3253-05deed855be8
* Version Independent ID: c890efb2-cdaf-a3eb-d54f-0e7ccbd4314d
* Content: [Upgrade an Azure Kubernetes Service (AKS) cluster](https://docs.microsoft.com/en-us/azure/aks/upgrade-

[2019-06-07 22:38] #32918 closed

[2019-06-07 22:38] YutongTie-MSFT commented on #32918
@PatrickFarley Thank you for the information. @onstwedder Thank you for your feedback, let's wait for new samples. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-07 22:40] Alberto-Vega-MSFT commented on #32763
@martonborbely Since I did not heard back I created a PR with your suggestion.

[2019-06-07 22:49] AngryVirginian commented on #32586
@ram-msft That works.  Please update the document in this page - https://docs.microsoft.com/en-us/rest/api/cognitiveservices/qnamaker/knowledgebase/update#context - "promptsToAdd" & "promptsToDelete" instead of just "prompts" and close the issue.

[2019-06-07 22:51] femsulu commented on #32930
@pnwguy  Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-06-07 22:57] femsulu commented on #32924
@gscott  Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-06-07 22:58] TiloGit commented on #32949
looks like helm server can be upgraded : see here https://stackoverflow.com/q/50701224/1747983

[2019-06-07 22:58] femsulu commented on #32931
@MisinformedDNA  Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-06-07 23:01] femsulu commented on #32944
@rjmholt Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-06-07 23:08] #28531 closed

[2019-06-07 23:08] #29875 closed

[2019-06-07 23:08] #32114 closed

[2019-06-07 23:08] #32489 closed

[2019-06-07 23:08] #32788 closed

[2019-06-07 23:09] #32805 closed

[2019-06-07 23:14] Jerwangsample opened #32952 "MyDatabaseContext-12.mdf is missing"
Hi,
I am getting the following error when Ctrl-F5:
[SqlException (0x80131904): Directory lookup for the file "C:\Users\jerwang\Desktop\dotnet-sqldb-tutorial-master\DotNetAppSqlDb\App_Data\MyDatabaseContext-12.mdf" failed with the operating system error 2(The system cannot find the file specified.).
CREATE DATABASE failed. Some file names listed could not be created. Check related errors.]
   Syste

[2019-06-07 23:15] YutongTie-MSFT commented on #32711
@tchmiel Hi, could you please send us an email at Azcommunity@microsoft.com with your Azure subscription ID and URL of this thread? We would like to investigate it deeper as this is not a document issue.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-06-07 23:15] #32711 closed

[2019-06-07 23:17] stevshan commented on #32805
Please advise how to file a feedback to add an article regarding how to upgrade existing SF applications via ARM template if this case cannot be used for that. Closing the case without a proper response would not help.

[2019-06-07 23:19] rolyon commented on #32913
Hi @kilasuit
Built-in roles have AssignableScopes set to the root scope ("/"). However, if you are creating your own custom role, you can't set AssignableScopes to the root scope ("/"). You must set to one or more subscriptions or resource groups.
thanks

[2019-06-07 23:19] MicahMcKittrick-MSFT commented on #32805
@stevshan as you are an FTE feel free to reach out to us offline and we can continue the discussion. Generally new doc ideas from FTEs can be better handled offline and added to the ADO backlog :)

[2019-06-07 23:20] MicahMcKittrick-MSFT commented on #32937
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-07 23:21] MicahMcKittrick-MSFT commented on #32939
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-07 23:22] MicahMcKittrick-MSFT commented on #32950
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-07 23:23] MicahMcKittrick-MSFT commented on #32951
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-07 23:23] MicahMcKittrick-MSFT commented on #32949
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-07 23:24] MicahMcKittrick-MSFT commented on #32952
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-07 23:25] MicahMcKittrick-MSFT commented on #32942
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-07 23:25] MicahMcKittrick-MSFT commented on #32947
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-07 23:30] MarileeTurscak-MSFT commented on #26589
I'm awaiting a response from the Key Vault team on this. I also do not know the status.

[2019-06-07 23:33] MarileeTurscak-MSFT commented on #32917
Let me know if this helps.

We will proceed to close this thread but if you have further questions feel free to tag me in the comments or reopen the thread and I will gladly continue the discussion.

[2019-06-07 23:33] #32917 closed

[2019-06-07 23:40] #32841 closed

[2019-06-07 23:41] SaurabhSharma-MSFT commented on #32431
@mfbhatt We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-06-07 23:41] #32431 closed

[2019-06-07 23:52] Heidilohr commented on #32405
Hi @Syamala2604. We don't have a solid date yet, but we're currently aiming for sometime in the second half of this calendar year.

[2019-06-08 00:01] KranthiPakala-MSFT commented on #32789
@c4rlosmarin Thank you so much for bringing this out notice. We greatly appreciate your feedback.
The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2019-06-08 00:01] #32789 closed

[2019-06-08 00:03] Alberto-Vega-MSFT commented on #32836
@DeveloperBeginner Thanks again for reaching out! We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-08 00:03] #32836 closed

[2019-06-08 00:07] MicrosoftGuyJFlo commented on #32939
That sounds like a support issue not a documentation issue. I would advise you open a support case.

[2019-06-08 00:07] MicrosoftGuyJFlo commented on #32939
#please-close

[2019-06-08 00:24] #32763 closed

[2019-06-08 00:26] walsehgal commented on #30344
@olehb007, we have fixed the issue. Thanks for your suggestion, in order to geo-bias your search results to a continent you can define a bounding box by setting up the btmRight and topleft parameters.

[2019-06-08 00:37] artisticcheese commented on #32209
Is it fixed in 1903?

[2019-06-08 00:43] Mike-Ubezzi-MSFT commented on #30344
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-08 00:43] #30344 closed

[2019-06-08 00:43] haohaowasky opened #32955 "Offline capability"
does this feature support offline senario?

Or any method that support edge to device offline communication?

[2019-06-08 01:11] mamccrea commented on #32295
@msdpalam - we've confirmed that it still works with older runtimes. I am still investigating why it does not work with 5.3.

[2019-06-08 01:20] DaleKoetke commented on #32743
@femsulu - I'll fix this. Thanks for the good catch!

[2019-06-08 01:21] PhilKoay commented on #32950
I think I corrupted my pom file. How do I create another?

Phil Koay ( From my mobile, so please excuse the typos, lack of content etc
:) )

On Sat., 8 Jun. 2019, 9:22 am Micah, <notifications@github.com> wrote:

[2019-06-08 01:21] DaleKoetke commented on #30249
@Mkalhere - this was fixed as part of a larger change. Thanks for catching it.

[2019-06-08 01:54] spelluru commented on #32947
@MicahMcKittrick-MSFT - please assign the issue to @banisadr
Thanks.

[2019-06-08 02:10] BryanTrach-MSFT commented on #32572
@wojtekmaj It's hard to tell what might be the issue with the details given. As a result, we would like to work closer with you on this matter. Please reach out to us at azcommunity@microsoft.com and provide your subscription ID and the URL of this post. We look forward to your reply.

[2019-06-08 02:10] #32572 closed

[2019-06-08 02:14] bismoy2013 opened #32957 "OrganizationFromTenantGuidNotFound : The tenant for tenant guid does not exist"
Created Bearer Token using the following steps

https://login.microsoftonline.com/{{tenant_id}}/oauth2/v2.0/token

client_id: {{client_id}}
scope:https: //graph.microsoft.com/.default
client_secret: {{secret}}
grant_type: client_credentials

Response
{
    "token_type": "Bearer",
    "expires_in": 3600,
    "ext_expires_in": 3600,
    "access_token": {{token}}
}

When I tried using the token in th

[2019-06-08 02:19] bismoy2013 commented on #24064
@fschwehn did you solve it ?

[2019-06-08 02:28] DixitArora-MSFT commented on #32831
@hannesne For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-08 02:28] #32831 closed

[2019-06-08 02:29] DixitArora-MSFT commented on #32680
@PingPongSet Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-08 02:29] #32680 closed

[2019-06-08 02:30] DixitArora-MSFT commented on #32679
@PingPongSet For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-08 02:30] #32679 closed

[2019-06-08 02:31] DixitArora-MSFT commented on #32678
@t-l-k Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-08 02:31] #32678 closed

[2019-06-08 02:31] DixitArora-MSFT commented on #32722
@JakeSmillie Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-08 02:31] #32722 closed

[2019-06-08 04:21] deyanp opened #32958 "change feed directly invokes sproc?"
Dp you mean the Change Feed (running with a slight delay after the original insert/update, and not in the same trx) can directly invoke a sproc, without the need for an azure function?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 669528a7-38dc-a6a9-f98f-4cbb91fd44e0
* Version Independent ID: 5e5fcb52-86e8-7e08-6209-7

[2019-06-08 04:49] femsulu commented on #32562
@davidfeng74 it's difficult to answer your first question since the time to get your query result depends on a few variables one of which includes your underlying network connection, how the query was authored, the size of the result set etc. This [article ](https://docs.microsoft.com/en-us/azure/kusto/query/index) gives a really good overview on query fundamentals..
Regarding pricing adding @DCth

[2019-06-08 05:11] SnehaGunda commented on #28506
@totodile94 apologies for the delay, I added a note to the doc with the following details, hope this helps:

We will now close this issue of there aren't further questions.

#please-close

[2019-06-08 05:58] swinarko commented on #10180
OLEDB/ADO.NET Connection Managers that can use AAD Auth w/ ADF managed identity to connect to Azure SQL DB/Managed Instance went live last week, a blog will be published soon, here are our docs:

https://docs.microsoft.com/sql/integration-services/connection-manager/ole-db-connection-manager?view=sql-server-2017#managed-identities-for-azure-resources-authentication

https://docs.microsoft.com/sql/

[2019-06-08 07:08] RezaRahmati commented on #32403
@VikasPullagura-MSFT Hi Vikas, sorry for late response, I think you mis-undrestood me. Let me explain with some screen shots

1- I have a step in my build to copy 1 file to drop folder
![image](https://user-images.githubusercontent.com/10086092/59143467-9687e200-8999-11e9-9b1d-65d5ae511b54.png)

2- I have another step to copy a folder to drop/public folder
![image](https://user-images.githubuserco

[2019-06-08 07:45] ManojReddy-MSFT commented on #32955
@haohaowasky Thanks for reaching out to us. Can you provide us more details about the feature or the doc you are referencing?

[2019-06-08 07:48] bnlprsd commented on #28849
Hi,
For me I am getting the error "Cannot find an overload for "AcquireTokenAsync" and the argument count: "4"."

[2019-06-08 08:09] ManojReddy-MSFT commented on #32957
@bismoy2013 I have responded to your query in MSDN and will continue the conversation in [MSDN](https://social.msdn.microsoft.com/Forums/en-US/f03fef72-6670-494c-a96b-6b10daff203e/why-am-i-getting-quottoken-does-not-exist-errorquot-whenever-i-am-trying-to-call?forum=WindowsAzureAD).

I will go ahead and clsoe this issue from GitHub.

[2019-06-08 08:09] #32957 closed

[2019-06-08 08:11] ManojReddy-MSFT commented on #32958
@deyanp Thanks for reaching out to us. We are looking into this and will get back to you shortly.

[2019-06-08 09:25] t-l-k commented on #32678
I had used that topic as reference in my most recent app and it does discuss queue creation. However, it guides you through creating one manually.

The observed behaviour is that it creates queues automatically in the storage account if they're not already present.

I'm not sure where best it should be noted. I referenced both topics. But a note about automatic queue creation might be useful for t

[2019-06-08 09:36] fume commented on #31958
@PramodValavala-MSFT
I need some clarifications for the following sentence:

1. In C#, if we set autoComplete=false, MUST we call CompleteAsync(), AbandonAsync(), or DeadletterAsync() on the MessageReceiver? What happens if we don't call any of these?
2. In C#, if we set autoComplete=false, is the lock still automatically renewed or we need to call RenewLockAsync() on the MessageReceiver?
3. In th

[2019-06-08 09:47] kcd83 commented on #17283
I recommend updating the title to include "for iOS devices" and add that support for other devices is planned.

 I have an iCloud account but was trying to follow this on my android phone because I missed the little note at the top.

[2019-06-08 11:01] pablohr88 opened #32959 "Everything is wrong!"
Have you tried to reproduce this tutorial recently? Half of the references are not clear, or not even appear!

First, you should explain that when creating the Web App in Azure it will automatically appear in LUIS but in the selected region!!! I almost go mad until I found my app was created in https://eu.luis.ai ...

Next, in the "Donwnload the bot" section step 1, those fields do not even exist!

[2019-06-08 13:13] tchmiel commented on #32711
@YutongTie-MSFT  - email sent. Thank you.

[2019-06-08 14:21] diberry commented on #32959
@pablohr88 Thank you for submitting this issue. We became aware of this issue in the last couple of days from another public issue. While we are updating this doc, please use this [doc to create a bot](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-v4-luis?view=azure-bot-service-4.0&tabs=csharp)

[2019-06-08 16:20] macux opened #32962 "Add guidance on using configuration in Startup"
Would be good to understand the best practice for using configuration in the Startup (FunctionsStartup) class, seems confusing which options work locally vs in Azure. I've tried:

* Using a ConfigurationBuilder but this doesn't work with complex objects in local.settings.json (I've yet to test this in Azure)
* Getting the IConfiguration instance from the service provider using BuildServiceProvider

[2019-06-08 16:44] MicahMcKittrick-MSFT commented on #32962
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-08 17:02] Mikli opened #32963 "$context is never set"
Most likely it should come from New-AzApiManagement...?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 490f58ad-9620-edda-36c5-6de18c61edb9
* Version Independent ID: 385c8ad4-2613-fb66-e180-a62b710d8b13
* Content: [Azure PowerShell Script Sample - Set up rate limit policy](https://docs.microsoft.com/en-us/azure/api-man

[2019-06-08 17:19] ram-msft commented on #32586
@diberry Could you please update the document to "promptsToAdd" & "promptsToDelete" instead of just "prompts".

[2019-06-08 20:07] AjayKumar-MSFT commented on #32478
@Leon99, Thank you for sharing the details. We are checking on this further and will reach out you shortly.

[2019-06-08 20:12] AjayKumar-MSFT commented on #32819
@mtschafe, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion.

[2019-06-08 20:12] #32819 closed

[2019-06-08 20:19] AjayKumar-MSFT commented on #32672
@genius00xp, I have performed initial investigation with the information you have shared and since it doesn't seem to be a doc related feedback, I will engage with you offline further, so
could you please send an email to AzCommunity[at]Microsoft[dot]com referencing this GitHub issue.
As we will work with you offline, I will now proceed to close this thread.

[2019-06-08 20:19] #32672 closed

[2019-06-08 20:35] eduardpaul commented on #11383
I'm getting the same problem in a Function App v2 with JavaScript and a very simple O365 on-behalf-of scenario (functions are secured with AAD). The same symptoms: everything works until, after some time, the token endpoint returns: AADSTS500133: Assertion is not within its valid time range. The "/.auth/refresh" endpoint does nothing to update tokens that are in the app headers.

This is the examp

[2019-06-08 21:23] wilbug1git1 opened #32966 "Steps in Launch Jupyter Workspace does not match version"
Steps in Launch Jupyter Workspace does not match version in my subscription.  Mine is samples-1.0.41 and I get a Kernel error when the notebook loads.  None of the Kernels will run the first block of code.  It fails on module azureml.core.
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
&lt;ipyt

[2019-06-08 21:26] dtel opened #32967 "Cloud shell Web Preview on a HTTPS service fails"
I have a https service running on Cloud shell. When i run Web Preview, i get an error that "Client sent an HTTP request to an HTTPS server." I can i force the request to be HTTPS?

This runs well on the console using curl -k https://localhost:8443

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2008b2b0-50ef-65b4-95bc-e

[2019-06-08 21:57] mtschafe commented on #32943
Yes, that fixes it. Thank you.

[2019-06-08 22:02] mtschafe commented on #32943
I'm also having a problem writing in the repository file. I can open it with:
vi /etc/yum.repos.d/mongodb-org-3.6.repo
But I can't write in it:
W10: Warning: Changing a readonly file

[2019-06-08 22:11] michaelspinks opened #32968 "Certificates and Secrets"
Under https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-create-service-principal-portal#certificates-and-secrets change Deamons to Daemons.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11aaa091-1108-52f6-0066-0f4e939aeef4
* Version Independent ID: dbc7e37e-87a7-c124-3e4c-47aa060e6cf3
* Content: [C

[2019-06-09 00:50] edcyyazdi opened #32969 "SSPR working even though scope is set to 'None'"
Our users are able to reset their passwords and have it writeback to our on-premise directory, even though the 'Self service password reset enabled' setting is set to 'None'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cefae94a-c39e-bee5-ae8b-a02d62559ba8
* Version Independent ID: bdc46b39-5eea-7239-a1c0-69473ecf3f9

[2019-06-09 00:51] #32969 closed

[2019-06-09 01:04] bogan opened #32970 "Clarify How LogLevels work with Log Categories"
The section "How to enable diagnostics" describes how to set the LogLevel. However, it does not included information about integrating LogLevels with Log Categories (as described in the following general ASP.NET Core Logging article https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-2.2#log-category). In particular,  whether it is possible to set the LogLevel on a p

[2019-06-09 02:10] PingPongSet commented on #32126
Is it possible to log exception when exception occurs for receiver within message handler?

Is it possible to log exception when message is moved to dead letter queue?

Due to limitation of the trigger, is it possible to MessageReceiver  and MessageSender instead?

[2019-06-09 02:19] SeanFeldman commented on #32126
@PingPongSet how is this issue related to your comment?

[2019-06-09 03:24] MicahMcKittrick-MSFT commented on #32963
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-09 03:25] MicahMcKittrick-MSFT commented on #32966
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-09 03:25] MicahMcKittrick-MSFT commented on #32967
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-09 03:26] MicahMcKittrick-MSFT commented on #32968
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-09 03:26] MicahMcKittrick-MSFT commented on #32970
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-09 03:44] ManojReddy-MSFT commented on #32673
@braveheartDotNet10 We have not heard from you in a while. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-06-09 06:11] dtoomey opened #32971 "Subnet requirements seem incorrect, or are at least confusing"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-06-09 06:13] dtoomey commented on #32971
Issue opened by mistake. Please ignore & close.

[2019-06-09 06:13] #32971 closed

[2019-06-09 10:41] sposaro commented on #10823
I am trying to use createBlockBlobFromLocalFile and I'm hitting this same error message.

[2019-06-09 10:49] lesterw1 opened #32972 "Unable to Sign-In"
# Unable to Sign-In
I am unable to sign-in with Storage Explorer v1.8.1.  The issue is that the **Sign In...** continuously repeats itself. This issue has been around since v1.7.0 (and possibly earlier) and _appears_ to be related to the fact that my account is also a B2B guest account in another tenant.  The other tenant's logo briefly pops up after signing into the primary tenant.  It seems that

[2019-06-09 10:52] PingPongSet commented on #32126
Due to limitation of the trigger, is it possible to MessageReceiver and MessageSender instead?

I can create a new ticket for this

[2019-06-09 10:58] PingPongSet opened #32973 "Logging exception including dead-lettering message."
Is it possible to log exception when exception occurs for receiver within message handler when messages have to be moved to dead-letter queue?

Is it possible to log the number of retries when message is moved to dead letter queue?

Due to limitation of the trigger, is it possible to MessageReceiver and MessageSender, or similar instead?

---
#### Document Details

⚠ *Do not edit this section. It

[2019-06-09 12:04] AshokPeddakotla-MSFT commented on #32816
@dominicbetts Unable to find the related documents for links. Please check the below and confirm.
Connected Factory preconfigured solution walkthrough : https://github.com/faister/connectedfactory

[2019-06-09 12:35] SeanFeldman commented on #32126
@PingPongSet this issue is about undocumented `MessageReceiver`. `MessageSender` is something you can create yourself and no injection is required. If you feel that there's something missing, please open a separate issue.

[2019-06-09 15:12] ccompy commented on #31920
@AjayKumar-MSFT @markwaksman @siddsachar There is an entire section on application traffic needs which are additional.  I can add clarification to the doc that the entire first section is just so that your ASE will function.  It does not then support your apps.  To handle your app needs, you need to support whatever routing is required for that.
It is unfortunate that the route enforcement is at t

[2019-06-09 15:29] MicahMcKittrick-MSFT commented on #32972
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-09 15:29] MicahMcKittrick-MSFT commented on #32973
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-09 15:33] MicahMcKittrick-MSFT commented on #32971
Thanks for updating and closing out the issue.

[2019-06-09 15:34] motowilliams opened #32974 "PowerShell Instructions"
This page or topic should also include PowerShell instructions for working with this feature

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd4c4f41-2050-234e-e35b-750158cfba54
* Version Independent ID: 09c0145e-fa2b-210d-d1a0-4acb8c790bc3
* Content: [Create a Windows VM with Azure Image Builder (preview)](https://docs

[2019-06-09 15:51] PingPongSet opened #32975 "What is relay endpoints?"
What is relay endpoints? How to create it?

Any information on relay endpoints?

https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-outages-disasters#protecting-relay-endpoints-against-datacenter-outages-or-disasters

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 858fe0f6-a2b8-38b8-3fa6-fc8e261cd0

[2019-06-09 16:04] DarqueWarrior opened #32976 "Misleading statement"
The statement:

"This task is similar to the quick task created in the previous tutorial. It instructs ACR Tasks to trigger an image build when commits are pushed to the repository specified by --context.  **Where it differs is in its behavior, in that it also triggers a build of the image when its base image is updated.**"

The statement is a bit misleading. Because the default value of base-imag

[2019-06-09 16:12] NextTurn commented on #31068
Fixed in 5654f7c92cf1de4b1cd4f56786693fe58ad2da1a

[2019-06-09 16:12] #31068 closed

[2019-06-09 16:15] NextTurn commented on #31064
Closing as fixed.

[2019-06-09 16:15] #31064 closed

[2019-06-09 16:26] NextTurn commented on #31065
@alkohli ping?

[2019-06-09 17:02] sundasfarooqcs commented on #32414
I have solved this issue by converting the data type of class "WindTurbineMeasure" into "List" data type.
Before
 return JsonConvert.DeserializeObject<WindTurbineMeasure>(payload);
After
return JsonConvert.DeserializeObject<List<WindTurbineMeasure>>(payload);
Accordingly I have replaced to List in several other places in "Function1.cs" file.
Now there is no error. However, I still do not get the v

[2019-06-09 17:50] PingPongSet commented on #32973
Please see this?

[2019-06-09 18:56] ashoksamal6363 opened #32978 "How to set "Event Hub enabled" in a AKS webservice deployment?"
How to set "Event Hub enabled" in a AKS webservice deployment?
Is there a SDK reference?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9415d8d-a30c-42f9-989c-c7b3a79d7108
* Version Independent ID: b7b8ae97-1801-42b1-431e-c96ca5e958f7
* Content: [Create client to consume deployed web service - Azure Machine Learning s

[2019-06-09 18:58] sannzay commented on #32781
Hi @YutongTie-MSFT, thanks for taking my issue into consideration. Have you been able to get any insights of the problem? Meanwhile you are investigating the problem, can you please suggest me to cross check any previous steps that i might have done wrong?

[2019-06-09 19:32] #32973 closed

[2019-06-09 19:38] smoms opened #32979 "nodejs client hangs up"
I have followed all the instructions. I run edge_downstream_device.js and Edge on 2x Ubuntu 16.04 respectively. Installed certs etc.. When i start the client it hangs up. I do not see any output. Looks that the connectCallback is never invoked.

In the edgeHub log i see a line:

TLS handshake failed., DotNetty.Handlers.Tls.NotSslRecordException: not an SSL/TLS record: fff4fffd06, 7c91ad0a

Please

[2019-06-09 19:51] TestUser20191 opened #32980 "Bing Custom search API - Unable to pin/ group multiple related articles"
I'm trying to create a POC for Bing custom search. The requirement is to rank particular articles on the top.

For ex: Let's say when I search for 'Foo', It might then return the articles list/ result as:
Foo1
Foo2
Foo3
Foo4
Foo5
Foo6

However I might find that Foo5 should be on top and Foo4 should be next, then followed by Foo6. So article list order will be:

Foo5
Foo4
Foo6
Foo1
Foo2
Foo3.
I can

[2019-06-09 19:53] ielcoro commented on #32893
Tried with a customer CSP subscription, got DisallowedProvider error message when trying to create the app configuration resource.

It's a shame there are so many limitations in CSP subscription, we just wanted to start testing the migration of our client solution configuration to this service and be ready when it launches, however looks like we will need to create it in another (not csp) subscrip

[2019-06-09 20:18] tomgron opened #32981 "Find the website URL by using PowerShell"
The given lines of powershell do not produce public url of the static website.

Tested on :

Name                           Value
----                           -----
PSVersion                      6.2.1
PSEdition                      Core
GitCommitId                    6.2.1
OS                             Microsoft Windows 10.0.18362
Platform                       Win32NT
PSCompatibleVersions

[2019-06-09 20:24] tomgron commented on #32981
Correct way should probably be something like :

 $storageaccount = Get-AzStorageAccount
 $storageaccount.PrimaryEndpoints.Web

[2019-06-09 20:31] MarileeTurscak-MSFT commented on #32913
We will now proceed to close this thread. If you have further questions feel free to tag us in the comments and we will gladly continue the discussion.

[2019-06-09 20:31] #32913 closed

[2019-06-09 20:35] RoopAnymous opened #32982 "CORS issue is not solved either by updating Cors tab in portal or updating web.config"
Deployed a react app to azure web app which call Databricks rest api
This throws cors error
Tried to enable
1. by adidng "*" in portal cors tab, did not work.
2. Removed point1, and added web.config to allow
&lt;httpProtocol&gt;
    &lt;customHeaders&gt;
      &lt;add name="Access-Control-Allow-Origin" value="*" /&gt;
      &lt;add name="Access-Control-Allow-Methods" value="*" /&gt;
      &lt;add

[2019-06-09 21:36] stricklandd5 opened #32983 "Temporary Disk - Wrong drive letter"
There appears to be a mistake under the [Temporary disk] section located under [Disk Roles] section.

"...and on Windows VMs the temporary disk is E: by default."

I believe this should be the "D:" drive not "E:".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e43cee8-5a2e-31c3-8091-000b7dffb6c4
* Version Independent

[2019-06-09 21:41] BigMorty commented on #32903
Happy to help! 😎

[2019-06-09 21:53] aws-scripting-guy opened #32984 "Update docs with example of PowerShell code"
The code is a working example for Timer in PowerShell functions v2.  This snippet is from official Azure Functions extension from VS Code.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5527c3b-a5da-c73d-66c2-20d96003ff7c
* Version Independent ID: 42154c7b-b0e0-26db-79bc-3f1673c48e40
* Content: [Timer trigger

[2019-06-09 23:02] KeiroKamioka0000 commented on #32302
@mhopkins-msft
Hello, sorry for pinging you.
Is there are ETA for answer for this?

Thanks,

[2019-06-09 23:51] MicahMcKittrick-MSFT commented on #32974
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-09 23:52] MicahMcKittrick-MSFT commented on #32976
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-09 23:53] MicahMcKittrick-MSFT commented on #32978
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-09 23:53] MicahMcKittrick-MSFT commented on #32979
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-09 23:54] MicahMcKittrick-MSFT commented on #32980
@TestUser20191 please provide us with the link to the document you are following so we can better assist.

[2019-06-09 23:54] MicahMcKittrick-MSFT commented on #32981
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-09 23:55] MicahMcKittrick-MSFT commented on #32983
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-09 23:55] MicahMcKittrick-MSFT commented on #32984
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-09 23:56] MicahMcKittrick-MSFT commented on #32982
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-09 23:56] MicahMcKittrick-MSFT commented on #32975
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-10 01:23] roweak commented on #32981
Agree, the correct cmdlet using Powershell to get the web URL should be
$storageAccount.PrimaryEndpoints.Web

[2019-06-10 02:40] JimXu199545 commented on #32880
@ManojReddy-MSFT  Thanks for your reply. I want to use [Cosmos DB Resource Provider Rest API](https://docs.microsoft.com/en-us/rest/api/cosmos-db-resource-provider/collection/listmetrics) to get Cosmos DB metrics. Dose it has limits.

[2019-06-10 03:15] KalyanChanumolu-MSFT commented on #32798
@MNF This issue is being assigned to the content author to evaluate and update as appropriate. 

@MashaMSFT Couldn't find references to One-way replication on the docs.
Could you please take a look.

[2019-06-10 03:21] SergeiDavydov opened #32985 "Vague explanation of rule overrides"
In Tutorial, item 2. "The order in which multiple rules are listed affects how they are handled. A subsequent rule may override the actions specified by a previous rule."
What are the conditions when a subsequent rule does override a previous rule and when it doesn't?
For instance if I have a rule that allows access to a resource based on some request properties and a rule that denies access to al

[2019-06-10 03:37] kumarallamraju opened #32986 "Seems like a typo on this page"
[Enter feedback here]

Do you mean to say reactively and proactively??
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fd2822b-e627-5344-1bdf-87760bee43bf
* Version Independent ID: 0b3053b5-8d15-ffeb-a8ac-f54d923b69aa
* Content: [Introduction to Packet capture in Azure Network Watcher](https://docs.microsoft.com/en-us/a

[2019-06-10 03:49] ram-msft commented on #32665
@Anilkumarsunkesula We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-10 03:49] #32665 closed

[2019-06-10 03:53] SumanthMarigowda-MSFT commented on #32852
@radag87 The PR request has been initiated. Thank you.

[2019-06-10 03:55] VikasPullagura-MSFT commented on #32405
@Heidilohr Thanks for the information.
@Syamala2604 I am closing the issue for now. Thanks.

[2019-06-10 03:55] #32405 closed

[2019-06-10 04:21] AshokPeddakotla-MSFT commented on #32579
@IotCore-Developer Please check [Detect and troubleshoot disconnects with Azure IoT Hub](https://docs.microsoft.com/en-us/Azure/iot-hub/iot-hub-troubleshoot-connectivity) and see if it helps to identify and resolve the issue. Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gla

[2019-06-10 04:21] #32579 closed

[2019-06-10 04:22] AviralGarg1993 opened #32987 "Calendar.startDate vs calendar.originalStartDate"
What is the difference between calendar start date and calendar original start date pre-built domains?
![image](https://user-images.githubusercontent.com/12901566/59172443-c8658980-8afc-11e9-9a85-c13cdb3b6e51.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bafdc370-47ff-4a63-2874-765163821490
* Version Independent

[2019-06-10 04:24] ggorby opened #32988 "Builds and deploys to HoloLens but creates only a pink sphere."
When I first ran the app, it only created a pink sphere. There were no other color transitions. Nothing else happened until I executed an airtap. The sphere disappeared, then a few moments later a pink sphere reappeared. Using Unity 2018.4.1f1. Deployed with Visual Studio 2019. Tried it with script that I assembled from directions in tutorial and also by copying code above verbatim. Results were i

[2019-06-10 04:52] payalgaikwad42 commented on #32757
@FrankHu-MSFT
All my Url's are in lowercase.
url for sign in:
https://smarthomestgdev.blob.core.windows.net/b2cpagelayout/customui.html
url for sign up:
https://smarthomestgdev.blob.core.windows.net/b2cpagelayout/signup.html
url for password reset:
https://smarthomestgdev.blob.core.windows.net/b2cpagelayout/resetpassword.html

[2019-06-10 04:58] klawrawkz opened #32989 "There is a disconnect regarding vnet **disconnect.**"
how do we remove the vnet integration?  there is a whole bunch of info on adding a vnet integration, but not enough info regarding how to remove this.

regarding removing the vnet integration, this document states:
```The only operation you can take in the app view of your VNet Integration is to disconnect your app from the VNet it is currently connected to. To disconnect your app from a VNet, sel

[2019-06-10 05:00] CHEEKATLAPRADEEP-MSFT commented on #32940
@chanakyaMT  I would recommend you to create a thread on the forums - [https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2019-06-10 05:13] SubhashVasarapu-MSFT commented on #32986
@kumarallamraju , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-06-10 05:15] SubhashVasarapu-MSFT commented on #32985
@SergeiDavydov , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-06-10 05:24] SubhashVasarapu-MSFT commented on #32820
@anzaman , Could you please provide you insights on this ?

[2019-06-10 05:24] AshokPeddakotla-MSFT commented on #32324
@ac2707 This would require further investigation to find out the root cause. I suggest you contact technical support for deeper analysis of the issue. Refer [How to create an Azure support request](https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request). If you don’t have a support plan, please send an email to AzCommunity@microsoft.com with the below detai

[2019-06-10 05:58] PatStanton opened #32990 "Specify .txt file type when downloading sample data"
It took a while to self diagnose the issue at first, but then I realised that when downloading the sample data, it default saves as .file. When using BCP it then cannot locate the file. It would be worth mentioning this in the steps to ensure people know to change to .txt file type after the sample data files are downloaded.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2019-06-10 06:17] RohitMungi-MSFT commented on #32824
@Pauline-Kowa I tried to run the sample from Github but did not face any issues in recognizing the live camera sample.

![image](https://user-images.githubusercontent.com/46958063/59175919-f8507380-8b74-11e9-830b-96ff0ab73699.png)

I think the issue you faced could be temporary. Could you please retry or check if the keys and region of your endpoint are updated correctly?

[2019-06-10 06:30] VikasPullagura-MSFT commented on #32887
@skybear2014 I tried installing the Driver on Win 10-1809 (Standard_NC6 vm size) and getting error as show in the below screenshot.
I am assigning the issue to the author for adding comments on the compatibility of the driver and OS.

![image](https://user-images.githubusercontent.com/48944027/59176640-54b49280-8b77-11e9-8c7e-6e4cfd88f0be.png)

[2019-06-10 06:31] VikasPullagura-MSFT commented on #32887
@cynthn I tried to install the driver on the latest version and getting error. Can you please add your comment on the version compatibility.

[2019-06-10 06:36] karthikhebbar opened #32991 "customKeyIdentifier in keyCredentials of manifest file doesn't have correct thumbprint when certificate is uploaded via new portal"
Steps:
1. In old portal , create and app and upload a public key.
2. In manifest , check for customKeyIdentifier field in keyCredentials, it will have correct thumbprint

3. Create one more application in new portal
4. Upload certificate in Certificates and Secrets tab
5. Now check in manifest file for customKeyIdentifier in keyCredentials, it doesn't have
proper thumbprint.

The issue seems to be

[2019-06-10 06:40] SwathiDhanwada-MSFT commented on #32876
We have raised [PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/79105) for updating the document for the queries.It will soon be reflected. For now, can you please execute below queries and see if you are still facing the issue.
`AzureDiagnostics | where ResourceType=="APPLICATIONGATEWAYS" and OperationName=="ApplicationGatewayAccess"`

[2019-06-10 06:49] arunkra opened #32992 "Getting SQL instance and its details."
How will i get the instance names and the versions with this SQL Assessment ? If there are more than one SQL instances installed on one machine, which SQL instance the assessments are referring to, we don't get a good picture about that. Also if i need to know what are the instances , what is its patch level (version) , and some other features like(AO enabled , start up parameters ,  etc). I am no

[2019-06-10 06:54] PramodValavala-MSFT commented on #32772
@charlet-antoine Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-10 06:54] #32772 closed

[2019-06-10 06:57] PramodValavala-MSFT commented on #32847
@abhinav-jain09 Currently, there is no official way to test policies locally.

That being said, the policy expressions are essentially C# code snippets which you should be able to mock and test locally. Take a look at this [reference doc](https://docs.microsoft.com/en-us/azure/api-management/api-management-policy-expressions) to understand the different types supported and properties available on

[2019-06-10 06:58] PramodValavala-MSFT commented on #32854
@ernesto-arm Just following up here... Hope my previous comment clears things up.

[2019-06-10 07:04] RohitMungi-MSFT commented on #32987
@AviralGarg1993 Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-06-10 07:15] ManojReddy-MSFT commented on #32880
@JimXu199545 Yes, these requests will fall under ARM management API and the limits mentioned in this doc will be applied.

[2019-06-10 07:18] SubhashVasarapu-MSFT commented on #32986
@kumarallamraju , The changes were made accordingly and it will take some time to get reflected.We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-06-10 07:18] #32986 closed

[2019-06-10 07:43] DeveloperBeginner commented on #32836
Thanks @Alberto-Vega-MSFT for the response. I have open issues in the places you mentioned and I am following it up there. Thanks!

[2019-06-10 07:59] andronachev opened #32993 "Create Event Grid Topic subscription for all event types"
Hi,

According to [this article](https://docs.microsoft.com/en-us/azure/event-grid/custom-event-quickstart-portal) from 03/2019, it should be possible to create a Web hook subscription to an Event Grid Topic, and check the checkbox "Subscribe to all event types", meaning that all event types are sent to the subscriber.

However, it is now 06/2019 and on the create subscription page it is now **man

[2019-06-10 08:01] olileger opened #32994 "Missing behavior of NSG on Subnet"
Is it possible to add precision about the behavior of applying NSG on Subnet ?
I created an NSG denying all inbound and outbound traffic and applied it on a subnet.
I was expecting my VMs within the subnet still being able to communicate to each other but this is not the case.

Statement: When NSG is applied on Subnet this is implemented as applying that NSG on each NIC of the subnet.

Thanks

Oli

[2019-06-10 08:13] gldraphael opened #32995 "Notes on Monitoring Metrics"
The May2019 release notes mention:

&gt; Monitor metrics emitted by Media Services Streaming Endpoints.

[Link](https://docs.microsoft.com/en-us/azure/media-services/latest/release-notes#may-2019)

More information on it would be great.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a6e1018-20f7-a898-4f0c-e1b42736fb90

[2019-06-10 08:14] richard-nixon1 commented on #10180
@swinarko thanks for your swift response! I'll give it a try now.

[2019-06-10 08:21] OzBob opened #32996 "Instructions are Fine, but XRDP not Fine"
Having followed the instructions and setup a un/pwd and security group.
Connecting using Windows RDP client with no connection string set, works OK.

but, when logging in:
Can not use password manager, auto-type or paste. Manually typing the username and password is the only solution.

The responsiveness is 40 seconds per mouse click.

I will try the freeRDP product to see if it makes a difference

[2019-06-10 08:31] DashleenBhandari-MSFT commented on #32995
@gldraphael , could you please elaborate the issue/requirement so that we can check the documentation.

[2019-06-10 08:35] DashleenBhandari-MSFT commented on #32989
@klawrawkz Thanks for raising the issue. Which version of VNET integration you are using? Are you using VNET Integration (preview) feature?

[2019-06-10 08:41] shashishailaj commented on #32991
@karthikhebbar Thank you for your query. We will investigate and update further.

[2019-06-10 08:42] KalyanChanumolu-MSFT commented on #32795
@oppianmatt  Could you please elaborate your concern.
This is the same behavior even with PostgreSQL and not specific to Azure.
Please check the documentation [here](https://www.postgresql.org/docs/current/sql-createextension.html)

Are you connected via the citus user account to the coordinator node or the worker?

[2019-06-10 08:46] Ahmad-Al-Ali opened #32998 "IP address used for SSH is not clear"
in the article you point out to using the command ssh root@127.0.0.1 -p <port>

I think the IP address should be replaced with a placeholder like ssh root@<IPAddress> -p <port>

it's also not clear where to get the IP address from.

I have to open an SSH session from within the Kudu Portal and copied the IP address from the title bar for the command to work successfully

---
#### Document Details

[2019-06-10 08:51] gerrynicol opened #32999 "Hardened Market Place Image or Security Template"
At present there doesn't appear to be an easy method to remediate these security points. I would like to see the following changes
- The ability to select a hardened windows market place image that already had these settings applied at build time
- The ability to build a security template based on the recommendations in SC that can then be applied retrospectively to a windows vm.

---
#### Documen

[2019-06-10 09:01] AshokPeddakotla-MSFT commented on #32988
@ggorby Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-10 09:01] kasmodia opened #33001 "Linux version"
Hey, Is there documentation for Linux VMs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 246015be-e47a-87e1-b027-efdc0c6a3ad1
* Version Independent ID: fbfbb69a-7435-2d69-d13a-5a7e0a05431f
* Content: [Send Guest OS metrics to the Azure Monitor metric store using a Resource Manager template for a Windows virtual machin

[2019-06-10 09:02] mxxmusic opened #33002 "cognitive-services-text-to-speech docker container can not run"
/host /
Starting dotnet Microsoft.CloudAI.Containers.TextToSpeech.dll mtsendpoint=localhost:40041 ttsendpoint=localhost:50051 Eula=accept Billing=https://xxxxx.api.cognitive.microsoft.com/sts/v1.0 ApiKey=xxxxxxxxxxxx Child pid=6 created
/
Starting /app/ttsserver normaltts=true numinstances=15 port=50051
Child pid=24 created
Starting /mts/MediaTransformService
Total 23 files found in voice folder /

[2019-06-10 09:14] aasis21 opened #33003 "Get Seach ID with client.Documents.Search (not http async method)"
The above example uses client.Documents.SearchWithHttpMessagesAsync( … ) with headers to get search ID. How to get search ID with client.Documents.Search ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d15016b-314c-5757-2ea0-76bd04cf87c6
* Version Independent ID: bc6c02ee-9770-7af5-e496-34e5ef8d0865
* Content: [imple

[2019-06-10 09:18] ernesto-arm commented on #32854
@PramodValavala-MSFT thanks for the info and the links, It seems I will have to handle all by myself for now

[2019-06-10 09:37] NeilMacMullen opened #33004 "Rather confusing"
This page is very confusing.  It starts off by saying that Parquet is the preferred format and sends me off to the Parquet site which has me thinking I'm going to have to write my own serializer.  (Fortunately there appears to be a nuget library that can do the job …. https://github.com/elastacloud/parquet-dotnet). Then by the end it's talking about JSON but it's still very unclear (without a thor

[2019-06-10 09:40] Elangamban opened #33005 "Disk Storage is missing"
Under Azure Storage services only four services is displayed. Disk Storage is not included

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 312ba22f-685c-d17f-438f-9656f019012a
* Version Independent ID: a93993be-f687-16e1-ff5b-b526699c009f
* Content: [Introduction to Azure Storage - Cloud storage on Azure](https://docs.m

[2019-06-10 09:43] YASWANTHM-MSFT commented on #33005
@Elangamban, Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-10 09:45] PramodValavala-MSFT commented on #32854
@ernesto-arm Yes. That is the case for now.

Since there is no doc update required here, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-10 09:45] #32854 closed

[2019-06-10 09:57] gldraphael commented on #32995
Check the release notes. It says Azure Monitor support has been added for metrics emitted by streaming endpoints. Would be nice to have it documented somewhere. Even a mention of the kind of metrics being emitted would be great.

[2019-06-10 09:57] dominicbetts commented on #32816
Hi @ybuasen & @AshokPeddakotla-MSFT - the broken links pointed to retired content - I'm updating the page to include current links. Many thanks for pointing it out!

[2019-06-10 10:06] nelsonavanade commented on #32681
"So you set up the routing for storage and ran that app to send the messages to the hub, but didn't get anything in your storage container?" - Correct
I have let it run for 30 mins now and I don't see any data showing up.
Though I am not entirely clear on what you meant by "make sure you can see the entries that say "storage" on them in the console window."
Here is a screenshot of the console wind

[2019-06-10 10:20] VikasPullagura-MSFT commented on #32800
@michaeldisalvo Can you please provide the requested information?
Can you please confirm if you are trying to change the image from Platform to Custom image?

[2019-06-10 10:26] ram-msft commented on #33002
@mxxmusic Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-06-10 10:32] DashleenBhandari-MSFT commented on #32995
@Juliako , Request you to please check this document.

[2019-06-10 10:58] AshokPeddakotla-MSFT commented on #32979
@smoms set an environment variable OptimizeForPerformance to false and see if it helps to resolve the issue.
Here is the troubleshooting guide for [Common issues and resolutions for Azure IoT Edge](https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot) you might want to check.

[2019-06-10 11:56] VikasPullagura-MSFT commented on #32996
@OzBob Thanks for the question! We are investigating and will update you shortly.

[2019-06-10 12:04] KalyanChanumolu-MSFT commented on #32990
@PatStanton Thank you for letting us know.
I have updated the doc to remove the .txt file extension from the bcp command.
The changes should be live EOD or tomorrow. We will proceed to close this issue now.

[2019-06-10 12:08] #32990 closed

[2019-06-10 12:19] jscaravilli commented on #32922
@MicahMcKittrick-MSFT  additional info for you and the PG. It seems that I am now able to connect multiple app services to the same subnet via the preview vnet integration, Previously this wasn't possible (see: https://github.com/MicrosoftDocs/azure-docs/issues/29302 opened 2 months ago by DOMZE).

What is the expected/supported scenario here?
**_you are the administrator for contoso.com_** :)

1.

[2019-06-10 12:27] hkusulja opened #33006 "What about Azure table storage?"
Since Cosmos DB team owns the Azure storage - table feature, please provide more information about it here.
Questions, like using RBAC roles for permissions so App can authenticate and connect to Azure table storage etc.

What is future of Azure Table storage etc. If we migrate to Cosmos DB which has premium features, but we do not need them and price is much higher, especially for big number but

[2019-06-10 12:33] jmprieur commented on #32856
Can you please elaborate what you mean, @jackpanetta by "the v2.0 samples are not yet finished?". Do you mean that you are missing the "calls your own web API" part ? cc: @kalyankrishna1 who has a PR for this

[2019-06-10 12:48] KalyanChanumolu-MSFT commented on #32799
@dsmichal I was able to reproduce this issue.
We will update the documentation accordingly.
As a work around, you can create a view on the table with and cast the column with geography datatype to varchar(max).
Then use the view as an external datasource and convert the column back to geography datatype.

[2019-06-10 12:52] KalyanChanumolu-MSFT commented on #32799
@MladjoA Please check if we should mention Spatial types as well in the "Preview limitations" section

[2019-06-10 12:52] nicolaszhang opened #33007 "what's the scope for new integrated auth api"
Integrated authentication for Azure Batch is outdated in below document:
https://docs.microsoft.com/en-us/azure/batch/batch-aad-auth#use-integrated-authentication
since the new app registrations service is GA with code like below to get  auth token:

var accounts = await App.PublicClientApp.GetAccountsAsync();
var firstAccount = accounts.FirstOrDefault();
authResult = await App.PublicClientApp.Acq

[2019-06-10 12:52] blueelvis opened #33008 "AADSTS65006 is missing"
Hi,

We are seeing this error with few users unable to authorize Swagger application while some users are. Following is the error message but there is no documentation on this -
[code]

Any idea how to resolve the issue?

Thanks,
Pranav

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a826ee6f-f457-7109-9f77-67c57977d4e7

[2019-06-10 12:55] dsmichal commented on #32799
OK. thanks.

[2019-06-10 13:07] ilaizi commented on #10459
@MicahMcKittrick-MSFT, based on your answer region pairing is a symmetric concept. But the article says that some regions are paired in one direction only, for example West India's secondary region is South India, but South India's secondary region is Central India. What does exactly this one directional pairing mean?

[2019-06-10 13:13] NeilMacMullen opened #33009 "Instructions are outdated and probably wrong"
The UI has changed.  New Remote Monitoring applications now seem to appear in "App registrations".  Unfortunately despite being the account that created the app, I'm not listed as an owner so can't add a user :-(

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5aaa394-4a4c-fa54-8489-39481e596957
* Version Independent I

[2019-06-10 13:17] smoms commented on #32979
@AshokPeddakotla-MSFT  great! it works. Can you explain more about that env setting? thanks lot.

[2019-06-10 13:25] JohnStraumann opened #33011 "Microsoft.ProjectOxford.Face.FaceAPIException: 'Person group is not found."
Hi for this code:
 public async void CreatePersonGroup()
    {
      try
      {
        //await faceServiceClient.CreatePersonGroupAsync(familyPersonGroupId, "myFamily");
        //Console.WriteLine("...created Family person group");

        await faceServiceClient.CreatePersonGroupAsync(alexPersonGroupId, "Alex Person Group");
        Console.WriteLine("...created Alex person group");

      }

[2019-06-10 13:28] swagulkarni commented on #32896
Hi @mike-urnun-msft  - Any update on the above issue?

[2019-06-10 13:34] vincentrenaud commented on #31993
Hi Alberto, any news? Thanks!

[2019-06-10 13:48] msrini-MSFT commented on #32994
@olileger , The way how the NSG rules are evaluated is described in below documents.

https://docs.microsoft.com/en-us/azure/virtual-network/security-overview#how-traffic-is-evaluated

https://blogs.msdn.microsoft.com/igorpag/2016/05/14/azure-network-security-groups-nsg-best-practices-and-lessons-learned/

If you want to allow traffic to a VM on a specific port from Internet and you have NSG on bo

[2019-06-10 13:50] davidfeng74 commented on #32562
Hello,

Hope you had a good weekend. Can you please share the pricing details of
the Resources Graph explorer feature? Also, I know that this feature stores
change history for last 14 days. Can I run queries to search this 14 days
database as well? What all actions can be performed on this 14 days
database?

Thanks

On Fri, Jun 7, 2019, 9:50 PM femsulu-MSFT <notifications@github.com> wrote:

[2019-06-10 13:53] Rich-Lang opened #33013 "Next Steps Link is wrong"
The current Next Steps link is to "Add messages to Azure Storage", however if you follow the link to that, it expects you to have done another step before moving to that.
The order should be
- Create Function App
- Create Function (https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-azure-function)
- Add Message to Storage Queue

---
#### Document Details

⚠ *Do not edit

[2019-06-10 14:08] paulpce opened #33015 "Reference to CosmosClient"
Hi, I'm not sure about the reference to `CosmosClient` in this line of code:

    return new CosmosClient(Environment.GetEnvironmentVariable("COSMOSDB_CONNECTIONSTRING"));

Can you please clarify if that should still be `DocumentClient`, or if there is a compatible Nuget package that can be used in Azure Functions.  I cannot find any supported packages that provide this.

---
#### Document Details

[2019-06-10 14:25] jeremych1000 opened #33016 "Inconsistent client app configuration when compared to the Azure portal docs"
Hey - step 3 in the client application instructions in the portal version (https://docs.microsoft.com/en-us/azure/aks/azure-ad-integration?view=azure-cli-latest) calls for a public client to be created.

This is not reflected in this CLI documentation - and caused us to be unable to login to kubectl after following this document.

---
#### Document Details

⚠ *Do not edit this section. It is requi