[2020-07-16 07:30] tomkuijsten opened #59123 "How many databases are free"
Regarding the free tier of Cosmos. In the documentation it's clear that you can create up to 5 databases in the free tier. It's also clear that you get 400 RU's for free. But will that be free RU's shared by all databases? For example, this setup:

Database1(Shared throughput, auto-scale 400-4000)
 - Collection1
 - Collection2
Database2 (Shared throughput, auto-scale 400-4000)
 - Collection1
 - Co

[2020-07-16 07:32] dcurwin commented on #58890
Thanks for your suggestion. The document has been updated, and the changes should appear soon.

#please-close

[2020-07-16 07:32] #58890 closed

[2020-07-16 07:44] alexchen2016 opened #59124 "MFA Feature comparison of versions for Azure China"
In "Feature comparison of versions" section, I can see many mfa features. But not all features are available in Azure China.
Can you give some details about which features are supported and which are not supported in Azure China Env?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: feb03e63-f543-d85b-9daf-16b4d1e13a60
*

[2020-07-16 07:54] VikasPullagura-MSFT commented on #59055
@v-fearam Thanks for pointing this out.
We need to `EnableEncryptionAtHostPreview` feature flag under `Microsoft.ContainerService`.

Please use below command for enabling this:
`az feature register --namespace "Microsoft.ContainerService"  --name "EnableEncryptionAtHostPreview"`

`az feature list -o table --query "[?contains(name, 'Microsoft.ContainerService/EnableEncryptionAtHostPreview')].{Name:

[2020-07-16 07:54] #59055 closed

[2020-07-16 08:00] tvial commented on #59057
Thanks, I appreciate the reactivity.

[2020-07-16 08:11] shashishailaj commented on #59105
@jshaole Thank you for your query. We will investigate and update the thread.

[2020-07-16 08:14] SudheeshGH commented on #58974
@NavtejSaini-MSFT  , Sorry i could not understand how we have give <1 hour . At any time if we look at the time stamp of backup available it will be 1 hour back . Say if current time is 2 AM UTC the available timestamp will show 1AM , if it is 2:10AM it will show 1:10AM, SO RPO is always equal to one hour and cannot be less than one hour . Please correct if my understanding is wrong.

[2020-07-16 08:18] vipulsparsh commented on #59124
@alexchen2016  Thanks for reaching out.
Microsoft Azure in China is operated by 21Vianet (Azure China) which has few restrictions in place.

IOS platform would not have any issues with SMS, Phone or Authenticator App.
Android will fail for Authenticator as it cannot receive the MFA Code due to GMS limitations other methods like sms, phone and digital codes should work fine.

You can then match the

[2020-07-16 08:24] JohnLBevan opened #59125 "Minor versions cannot be skipped"
The page clearly states:

However, when you come to upgrade from v1.13 you don't get the option to upgrade to v1.14; so presumably minor versions must be skipped?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7010bd58-42b1-5c90-3253-05deed855be8
* Version Independent ID: c890efb2-cdaf-a3eb-d54f-0e7ccbd4314d
*

[2020-07-16 08:24] AnuragSharma-MSFT commented on #59123
@tomkuijsten Thank you for the query. We are actively investigating and will get back to you soon.

[2020-07-16 08:38] ashijit commented on #36222
@mimckitt This is resulting in a disk resize failure for me, wherein the disk shows up in a resource group `STAGING_UAT` -
[code]

[2020-07-16 08:42] HarshitaSingh-MSFT commented on #59045
Hello @vronzeur,

Thanks for bringing this up.
Any specific reason why you think that the article is not updated?

[2020-07-16 08:44] ritu-jha commented on #14765
Hi, any updates on this issue? I did all the mentioned steps here(https://azure.microsoft.com/en-us/blog/monitor-azure-data-factory-pipelines-using-operations-management-suite/) but couldn't see the Azure Data Factory Analytics in the Summary.
<img width="358" alt="Screen Shot 2020-07-16 at 2 11 31 PM" src="https://user-images.githubusercontent.com/31065354/87649940-8f233280-c76e-11ea-9422-f358a85

[2020-07-16 08:54] ritu-jha opened #59127 "Not able to see summary of data factory in Data Factory Analytics (Preview)"
Hi, any updates on this issue https://github.com/MicrosoftDocs/azure-docs/issues/14765 ?
I did all the mentioned steps here(https://azure.microsoft.com/en-us/blog/monitor-azure-data-factory-pipelines-using-operations-management-suite/) but couldn't see the Azure Data Factory Analytics in the Summary.
<img width="358" alt="Screen Shot 2020-07-16 at 2 11 31 PM" src="https://user-images.githubusercon

[2020-07-16 09:00] LanderVe opened #59128 "no permissions to view dashboard"
This document is well written and clear but it misses one item. Once you supplied your kube config file (or token), you can see the dashboard, but all the api calls fail due to insufficient permissions. I imagine that we need to add some kind of clusterrole binding for the clusterUser?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2020-07-16 09:05] vronzeur commented on #59045
Well, if this is indeed true, then the only option to sign a user in is through the SignInSignUp V1 flow which I find an inadequate solution. For example, our company has a product which is not open to the general public. The target audience for our product need to be pre-registered and approved by us before they may use it, meaning that the SignIn flow would be ideal for us.

I assume there are m

[2020-07-16 09:07] jmprieur commented on #51664
The article was fixed, including how to use the SSO redirect URI.
#please-close

cc: @mmacy

[2020-07-16 09:07] #51664 closed

[2020-07-16 09:09] jmprieur commented on #52971
We fixed the UWP Quickstart last week in all clouds. It should get live soon
#please-close

cc: @mmacy

[2020-07-16 09:09] #52971 closed

[2020-07-16 09:16] asergaz commented on #58841
@GiantCrocodile  in the hope we have addressed your questions let us know if this issue is ready to be closed?

Thank you so much in advance for all you feedback :)!

[2020-07-16 09:16] philippschaefer4 opened #59129 "MimicExplainer has problems with my class labels when using sklearn"
Hi,
I am trying to create a MimicExplainer on different models I trained on the classic Income dataset with string class labels [>50K and <= 50K].

There are no problems when using an XGBoost Boosted Decision Tree so far.

But when I use for example a SGDClassifier or SVC from sklearn I get the following error:
     ValueError: could not convert string to float: '<=50K'

I don't understand. XGBoos

[2020-07-16 09:22] mohamed-shehata-m opened #59131 "Rotating KV certificates - batch job"
It is mentioned [here](https://azure.github.io/AppService/2016/05/24/Deploying-Azure-Web-App-Certificate-through-Key-Vault.html#rotating-certificate) :

2.Call the Create Certificate API again with the same body. This would update the certificate resource and migrate all Web Apps that are using it to the new certificate The Web App RP has a batch job that periodically syncs all Web App certificate

[2020-07-16 09:34] meizenga opened #59133 "Is RHEL v8 supported by Azure Automation?"
[Enter feedback here]
RHEL v6 and v7 are mentioned as supported, v8 is listed in the endorsed distros:
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/endorsed-distros

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db47901d-1664-058d-9407-47e932dc9661
* Version Independent ID: e90ec9ee-e7da-4f19-248f-4c82

[2020-07-16 09:34] LanderVe opened #59134 "missing clusterrolebinding?"
This document is well written and clear but it misses one item. Once you supplied your kube config file (or token), you can see the dashboard, but all the api calls fail due to insufficient permissions. I imagine that we need to add some kind of clusterrole binding for the clusterUser?

`kubectl delete clusterrolebinding kubernetes-dashboard`

`kubectl create clusterrolebinding kubernetes-dashboar

[2020-07-16 09:37] VikasPullagura-MSFT commented on #58928
@OmegaMadLab

You cannot remove the IP resource from WSFC. If you do that the VNN won’t be able to come online and the SQL server won’t be able to come online.

The suggestion is to chose VIP from the high end of the IP range within the subnet to minimize possibility of later VM provisioning taking over the VIP (Assign a high end IP address like 254 in/24 subnet for the VIP is a way to make it sim

[2020-07-16 09:41] kzkz221 opened #59135 "Missing a step to setup Environment variable DJANGO_SETTINGS_MODULE"
[Enter feedback here]
In section "Prepare app for App Service", reader is asked to update manage.py and azuresite/wsgi.py. It's going to set environment variable DJANGO_SETTINGS_MODULE based on the value of another env variable DJANGO_ENV.
Here is the thing that Web App is required to configure environment variables in Application Settings. So I think we should also include this variable in Deploy

[2020-07-16 09:44] VikasPullagura-MSFT commented on #59128
@LanderVe Thanks for the Feedback.

I see another issue you have opened #59134, I will close this as duplicate and will update the author on this feedback on the linked issue.

For further follow-ups, you check this #59134.

[2020-07-16 09:44] #59128 closed

[2020-07-16 09:46] LeonB87 opened #59136 "ARM example needed for Only other Logic Apps Workflow setting"
A ARM-template example for the workflow option **Only other Logic Apps** would be appreciated as this is not explained on this page, or in the ARM-template reference for [Logic apps](https://docs.microsoft.com/en-us/azure/templates/microsoft.logic/2019-05-01/workflows#IpAddressRange)

The solution is to add "empty" address-ranges like;

[code]
Found the solution on this blog; https://msftplaygroun

[2020-07-16 09:48] VikasPullagura-MSFT commented on #59122
@dineshcode
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-07-16 09:48] VikasPullagura-MSFT commented on #59122
@cynthn
Can you please check and add your comments on this doc update request as applicable.

[2020-07-16 09:50] gbrueckl opened #59137 "Parameter defintion file - Special case | for KeyVault"
The [docs](https://docs.microsoft.com/en-gb/azure/data-factory/continuous-integration-deployment#custom-parameter-syntax) mention that
`| is a special case for secrets from Azure Key Vault for connection strings or keys.`

but there isn't any more information anywhere on the page how this works

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-07-16 09:53] gbrueckl opened #59138 "Parameter Definition file - exceptions in path"
The [docs](https://docs.microsoft.com/en-gb/azure/data-factory/continuous-integration-deployment#custom-parameter-syntax) mention that
`Setting a property name to * indicates that you want to parameterize all properties under it (only down to the first level, not recursively). You can also provide exceptions to this configuration.`

however, there is no information provided how exception are actua

[2020-07-16 10:18] krish-gh commented on #58920
#reassign:@krish-gh

[2020-07-16 10:19] MayankBargali-MSFT commented on #59116
@AElharouny Thank you for your feedback! We will review and update as appropriate.

[2020-07-16 10:52] nithyaswam opened #59140 "Attaching an existing disk does not work with Id"
For attaching existing disk the example in this page asks to retrieve the disk id and then use the disk id to be attached to a VM. That does not work. I had to use the diskname to attach to the VM

For
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2036c044-4fbd-6016-c026-fea724b530d6
* Version Independent ID: dde369ae-

[2020-07-16 10:58] KrishnaG-MSFT commented on #59133
@meizenga Thanks for reaching out and providing this feedback. We will investigate and update the thread accordingly.

[2020-07-16 11:00] xujxu commented on #48886
The commands: "Submit-AzDataLakeAnalyticsJob" and "Wait-AzDataLakeAnalyticsJob" are both Azure PowerShell cmdlets for Azure Data Lake Analytics in the Azure Resource Manager (ARM) framework. You can refer to the command list here: https://docs.microsoft.com/en-us/powershell/module/Az.DataLakeAnalytics/?view=azps-4.3.0.

To get the sample PowerShell script run well, there should be Azure PowerShell

[2020-07-16 11:02] KrishnaG-MSFT commented on #58848
At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-07-16 11:02] #58848 closed

[2020-07-16 11:05] OmegaMadLab commented on #58928
Hi @VikasPullagura-MSFT!

They're reasonable workarounds, I've used both the proposed solution in the past.

What about assigning an Link-local IP address (i.e. 169.254.0.1) to the VNN, as mentioned some times ago in the docs for the cluster network name? It sounds like a smoother solution to me: no IP conflicts - at least, not within the subnet address space - and no unassing NICs around in the r

[2020-07-16 11:14] AnuragSharma-MSFT commented on #59123
@tomkuijsten In free tier accounts, you will receive the first 400 RU/s and 5 GB of storage free each month. Any provisioned throughput and storage beyond 400 RU/s and 5 GB will be billed at the regular Azure Cosmos DB rates. The 400 RU/s applies to standard provisioned throughput, autoscale provisioned throughput and multi-master (multi-region writes).

As per your scenario, if the combined RUs a

[2020-07-16 11:38] CHEEKATLAPRADEEP-MSFT commented on #59127
@ritu-jha  Thanks for the question! We are investigating and will update you shortly.

[2020-07-16 11:39] JohnStraumann66 opened #59141 "Run NPM?"
Hello:

For this step:

Load the Azure Maps Web SDK source code locally using the azure-maps-control NPM package and host it with your app. This package also includes TypeScript definitions.
    npm install azure-maps-control

What directory do I run that from? I want to add the Maps control to my ASP.NET Core web project, do I open a command prompt, cd to the root of my project, and run the NPM c

[2020-07-16 11:40] PramodValavala-MSFT commented on #59040
@ms-zhouma Just following up here... Hope my previous comment clears things up.

[2020-07-16 11:51] RohitMungi-MSFT commented on #59120
@mjaow Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-07-16 11:52] ram-msft commented on #59129
@philippschaefer4 Thanks for the question. We are investigating the issue and will update you shortly.

[2020-07-16 11:54] JohnStraumann66 opened #59142 "Map not working?"
Hello:

For this step:

Load the Azure Maps Web SDK source code locally using the azure-maps-control NPM package and host it with your app. This package also includes TypeScript definitions.
    npm install azure-maps-control

What directory do I run that from? I want to add the Maps control to my ASP.NET Core web project, do I open a command prompt, cd to the root of my project, and run the NPM c

[2020-07-16 11:56] JohnStraumann66 commented on #59142
I also tried to change the line:

center: [-122.33, 47.6],

to

center: [35.696496, -101.366837],

and all I get in the Browser is a blank screen?

[2020-07-16 12:01] keyz182 opened #59143 "`helm install` command doesn't work with helm v3+"
The `helm install` command doesn't work with helm v3+. The `--name` parameter is not needed anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f53838fc-1654-fc18-7e45-7d556193f77e
* Version Independent ID: 4f92bd5b-4b91-b03d-4f1d-8c31d45af0ef
* Content: [Use LetsEncrypt.org certificates with Application Gateway](h

[2020-07-16 12:03] PramodValavala-MSFT commented on #59065
@realrubberduckdev This is currently applicable for WebHook endpoints and since Azure Function exposes an endpoint itself, this is still possible by manually fetching the endpoint from the function page as below

![image](https://user-images.githubusercontent.com/43602528/87668838-7d4f8880-c78a-11ea-8e60-c5489467aa6e.png)

This can also be done in ARM Templates as shared [here](https://github.com/

[2020-07-16 12:07] ArvindHarinder1 commented on #56588
Quick update here. If you're using the snowflake app from the app gallery, the IP ranges are now restricted to those found under Azure Active Directory and Azure Active Directory Domain Services. We're working on rolling that behavior out more broadly for all apps. https://www.microsoft.com/en-us/download/details.aspx?id=56519

[2020-07-16 12:12] v-fearam opened #59144 "Host-based encryption from ARM Template"
Hello Team.
I was able to execute all the steps without troubles.

I want to use this feature based on ARM template, because today my AKS creation is already based on ARM.

After deploying with and without "--aks-custom-headers EnableEncryptionAtHost=true" parameter I did not notice any difference related to EnableEncryptionAtHost on the generating ARM template for the AKS Cluster resource from Az

[2020-07-16 12:29] realrubberduckdev commented on #59065
Hi @PramodValavala-MSFT Thanks for your response.

Is there no way of using a function instead of the URL in a case of AAD authorized access?

I have tried that ARM template, but the handshaking fails, presumably due to event grid not being able to `Log in with Azure Active Directory`.
The ARM template works if I enable `Allow Anonymous requests (no action)`.

[2020-07-16 12:49] BreakingBI opened #59146 "Data Drift on Deployed Models: Requirement for Training Dataset to be Registered with the Model should be Explicit"
Excluding the Example Notebooks, we only have one article that mentions how to detect data drift off deployed models.  This is also the first article that comes up for me when I try to google this.

https://docs.microsoft.com/en-us/azure/machine-learning/how-to-enable-data-collection

Unfortunately, this article only mentions how to collect data.  It mentions data drift at the end, with a link to

[2020-07-16 12:53] greendx commented on #25671
Thank you for posting this command. This is very helpful when you a lot of storage accounts including multiple dedicated to cloud shell in your environment and no idea which one you are actually using making it difficult to download files etc.

[2020-07-16 13:04] AshokPeddakotla-MSFT commented on #59141
@JohnStraumann66 Your understanding is correct, you can go to your project root folder and then run the command to embed the Azure Maps Web Control source code into your app.

[2020-07-16 13:08] chwolfe commented on #58307
@PatrickFarley @YutongTie-MSFT Any updates? Thanks.

[2020-07-16 13:09] artisticcheese commented on #59071
This is not what I'm seeing. VM behind public standard LB with only NAT rule but no inbound or outbound rule, no PIP does `NOT` have outbound connectivity.

[2020-07-16 13:10] AshokPeddakotla-MSFT commented on #59141
Since you have raised the same question here: https://github.com/MicrosoftDocs/azure-docs/issues/59142 we will help you there to avoid duplicate efforts.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-16 13:10] #59141 closed

[2020-07-16 13:16] shashishailaj commented on #59114
@ranjeetgarodia Thank you for your feedback . We will investigate this and update the thread.

[2020-07-16 13:19] shashishailaj commented on #59108
@WhitWaldo Thank you for your suggestion . We will engage the content team on this to see how best we can improve the documentation.

[2020-07-16 13:21] shashishailaj commented on #59108
@vhorne Could you please review this issue ?

[2020-07-16 13:27] AshokPeddakotla-MSFT commented on #59090
@sam-lippert As specified in the [Example configuration of type array](https://docs.microsoft.com/en-us/azure/blockchain/workbench/configuration#example-configuration-of-type-array) section,  there is a mention of using explicit get function to return the public property of the array type. If possible, could you share the JSON file that you're developing? (Please remove any PII data)

[2020-07-16 13:28] shashishailaj commented on #59111
@alexchen2016 Thank you for your suggestion . We will have this reviewed with the content team and update the thread accordingly.

[2020-07-16 13:28] cpridy opened #59148 "Add information on effective policy"
Hi,
I was thinking it would be useful to add information on effective policy at API and global scope, since it is nowhere in the documentation and it would be useful to know of it and how to access it.
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 250924d9-418b-9a24-90fe-5b3835c3b2a7
* Version Independent ID:

[2020-07-16 13:30] GiftA-MSFT commented on #59146
@BreakingBI we'll review your feedback and get back to you shortly. Thanks.

[2020-07-16 13:32] ckittel commented on #59055
Thank you Vikas

[2020-07-16 13:35] BhargaviAnnadevara-MSFT commented on #59121
@jikuja Thanks for the question! We're investigating this and will get back to you shortly.

[2020-07-16 13:36] shashishailaj commented on #59112
@germanfidalgo Thank you for your feedback . We will investigate and update the thread.

[2020-07-16 13:40] AshokPeddakotla-MSFT commented on #59142
@JohnStraumann66 Your understanding is correct, you can go to your project root folder and then run the command to embed the Azure Maps Web Control source code into your app.
Did you follow all the steps? Have you specified the correct authentication 'Maps Key'?

[2020-07-16 13:42] shashishailaj commented on #58109
@worldspawn Could you please let us know if you were able to try the suggestion in your environment ?

[2020-07-16 13:48] abomadi commented on #19305
Opening this case again, as i believe this still not working, i wasn't able to see the loaded certificates into linux app container, using Linux App Service Multi Container, with .Net 3.0.1
SSL is already attached to domain and loaded correctly inside app service, however when navigating to /var/ssl folder does not exists
Added WEBSITE_LOAD_CERTIFICATES=* as well

[2020-07-16 13:51] sharadrumane opened #59149 "Not able to see Container details under monitor solution Windows VM"
[Enter feedback here]
Hi Team,

I am using windows VM and trying to view the container details under Container monitor solution but i am facing issue i am not able to see any container details under monitor solution for windows VM the same thing i have tried for Linux VM and i am able to see all the container details.

I have install Microsoft Monitoring Agent on my machine and follow all the step

[2020-07-16 13:53] szcc opened #59150 "no such an option in gmail set up"
[Enter feedback here]
On this step there is not "alternative set up " as an option.
On the Google page on your computer, go to the Set up alternative second step section, choose Set up from the Authenticator app section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49de26c3-95f4-2004-8e63-0076c41ddfb3
* Version Indep

[2020-07-16 13:56] BreakingBI opened #59151 "Data Collection from Deployments: No documentation available about azureml.monitoring"
In the Data Collection article (https://docs.microsoft.com/en-us/azure/machine-learning/how-to-enable-data-collection#enable-data-collection), we specifically showcase how to levarage the azureml.monitoring library to collect data from deployments.  This is also present in the Example Notebook (https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/monitor-models/data-dri

[2020-07-16 14:03] mmacy commented on #45071
#reassign:paulgarn @paulgarn Cc:@hpsin

[2020-07-16 14:03] PRMerger6 commented on #45071
GitHub user umeshbarapatre has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2020-07-16 14:04] ram-msft commented on #59151
@BreakingBI Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-07-16 14:07] PramodValavala-MSFT commented on #59065
@realrubberduckdev Unfortunately, there is no way to do this as of today but might be supported in the future. Please feel free to create a feature request on [UserVoice](https://feedback.azure.com/forums/909934-azure-event-grid) to add support for this.

Irrespective of the type of topic, an event subscription is the same in all regards. The WebHook would be the way to go for now.

Another altern

[2020-07-16 14:09] CHEEKATLAPRADEEP-MSFT commented on #59113
@sormita  Thanks for the question! We are investigating and will update you shortly.

[2020-07-16 14:11] CHEEKATLAPRADEEP-MSFT commented on #59115
@sormita Thanks for the question! We are investigating and will update you shortly.

[2020-07-16 14:11] 1RedOne commented on #59013
IMHO the docs here are much easier to follow for the same sort of operation.

https://docs.microsoft.com/en-us/dotnet/azure/authentication

Maybe the link from the page could be changed to point here?

[2020-07-16 14:17] realrubberduckdev commented on #59065
Thank you. Just to clarify, I did try the webhook way. But in case of a system topic subscription, we do **not** get the `AAD Authentication` option. I think that is why it fails at handshaking. Or does that work for you?

Please note that the function app needs the caller to be able to login to Azure AD. Is that implicitly handled by the system topic? As we do not get an option to create identity

[2020-07-16 14:17] SubhashVasarapu-MSFT commented on #59143
@keyz182 , Thanks for reaching out. We will investigate and update this thread.

[2020-07-16 14:18] GiftA-MSFT commented on #59036
@diberry please review above feedback for doc update. Thanks.

[2020-07-16 14:20] SnehaAgrawal-MSFT commented on #59131
@mohamed-shehata-m Thank you for your feedback! We will review and update as appropriate.

[2020-07-16 14:21] SnehaAgrawal-MSFT commented on #59135
@kzkz221 Thank you for your feedback! We will review and update as appropriate.

[2020-07-16 14:22] BreakingBI opened #59153 "Data Drift for Deployed Models: 10 minute latency for arrival of storage data is not mentioned in Known Issues Page."
When the user creates and runs a Data Drift Detector from a Deployed Model, they may sometimes encounter a "Scoring Data is not found error".  This error will point the user to the Known Issues article (https://docs.microsoft.com/en-us/azure/machine-learning/resource-known-issues).  However, this page has no information about this error.  It would be helpful to add some verbiage to the article det

[2020-07-16 14:24] SnehaAgrawal-MSFT commented on #54830
@kefei-gw We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue

[2020-07-16 14:24] #54830 closed

[2020-07-16 14:24] chugh97 opened #59154 "Difference between a entity and a service?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-07-16 14:34] SwathiDhanwada-MSFT commented on #58973
Thanks for the update @MGoedtel . Assigning the issue for document enhancements

[2020-07-16 14:38] #36421 closed

[2020-07-16 14:39] zr-msft commented on #36421
Thank you @MrRitt for the feedback!

I have updated the article to address your feedback and the changes should be available soon.

[2020-07-16 14:39] navzam opened #59155 "AAD on-behalf-of flow docs have incorrect URL paths"
In the ["middle tier access token request"](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-on-behalf-of-flow#middle-tier-access-token-request) section, the token endpoint shown is

[code]

but in the two example requests below that, the endpoint doesn't match:

[code]

The paths in the two examples requests are missing the `<tenant>` portion.

---
#### Document Details

[2020-07-16 14:49] VadimBurshtyn opened #59156 "Lack of details on available Password protection options"
Hi Microsoft team!

My organisation would like to use Global and Custom banned passwords lists functionality to force our B2C directory users to use stronger passwords. Especially, we would like to enforce Global passwords banned list validation (we are using Custom policies and i already know that Custom banned passwords list can be implemented [using Custom policies](https://github.com/azure-ad-

[2020-07-16 15:02] MonikaReddy-MSFT commented on #59154
@chugh97 - Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-07-16 15:09] shashankbarsin commented on #57787
I've updated the documentation to reflect status changes introduced recently: Compliance -> Installed, Noncompliant -> Failed

[2020-07-16 15:13] tamram commented on #49799
#reassign: @normesta

[2020-07-16 15:15] BrianLevenson commented on #59009
@todorgb i'll shoot you an email to discuss and then we can come back to update this thread. i have access to Partner Center for anything we need, and we may want to consider whether to simply link to another article on the publishing process.

[2020-07-16 15:17] GiftA-MSFT commented on #59035
@JeroenMeul This [error](https://docs.microsoft.com/en-us/azure/machine-learning/algorithm-module-reference/designer-error-codes#error-0014) occurs when a column contains too many unique values. You may see this error if you specify that a column be handled as categorical data, but there are too many unique values in the column to allow processing to complete. You may also see this error if there

[2020-07-16 15:17] #58957 closed

[2020-07-16 15:19] roygara commented on #59119
@forktrucka Thanks for reaching out, would you clarify what you're trying to do? This article has several different encryption types with their own availability.

[2020-07-16 15:20] jwisener opened #59158 "Ridiculous"
"Also, make sure that your Azure account belongs to a single Azure AD tenant or directory and is set to the same Azure AD tenant or directory that was used during gateway installation"

Lack of support for multiple tenants is ridiculous!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7892e678-a98f-73fa-7c54-1a8a921f35c

[2020-07-16 15:21] Aurel-Bruno opened #59159 "Global Availability"
Hello do we have any idea of when this great solution will become GA ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77f273ec-aed5-1f65-0b6d-87240765d3e0
* Version Independent ID: d195959f-5742-7d94-f4f5-e70c0f0581e7
* Content: [Azure SQL Analytics solution in Azure Monitor - Azure Monitor](https://docs.microsoft.com/

[2020-07-16 15:21] tamram commented on #50937
@mcollier - Thanks for your feedback! This was resolved a while ago, but never got closed. Closing now.

#please-close

[2020-07-16 15:21] #50937 closed

[2020-07-16 15:22] MonikaReddy-MSFT commented on #59155
@navzam - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-16 15:23] mlearned commented on #57787
#please-close

[2020-07-16 15:23] #57787 closed

[2020-07-16 15:25] ilyas-it83 opened #59160 "Need a sample code snippet to authenticate with EventHub using SaS Token created using the instructions given in this page."
[Need a sample code snippet to authenticate with EventHub using SaS Token created using the instructions given in this page.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4642657-5800-d9af-69cd-9623b8e2c4bc
* Version Independent ID: 5fb587c3-318f-56a9-6eb2-0d3935e98694
* Content: [Authenticate access to Azure Event

[2020-07-16 15:33] psmanhas commented on #58628
@@blessedwithsins Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-07-16 15:33] #58628 closed

[2020-07-16 15:35] nmellal opened #59161 "Typos in metrics name"
Hi

There's a typo in the metrics names :  PipelineCanceledRuns,ActivityCanceledRuns,TriggerCanceledRuns all with a single L.
Api parameter value expected  :    PipelineCancelledRuns,ActivityCancelledRuns,,,TriggerCancelledRuns

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65693a51-ca12-9358-bf77-3534d308d936
* Versio

[2020-07-16 15:36] MonikaReddy-MSFT commented on #58844
@v-nagta , @chetansriv - Any Update on the above?

[2020-07-16 15:37] MonikaReddy-MSFT commented on #58917
@dtblodgett - Thanks for sharing more info.
@v-nagta , @chetansriv - Do you have any update on the above?

[2020-07-16 15:39] HarshitaSingh-MSFT commented on #59050
Hello @tajaber,

Hope you are doing great! Please find the documentations below:

- Device Write Back - https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-device-writeback

- Group Write Back - https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-configure-ad-ds-connector-account#permissions-for-group-writeback

[2020-07-16 15:43] samueljamkhandi-MSFT opened #59162 "Can we include in the document on how to set up alerts for scheduled events for Linux VMs?"
- Can we include in the document on how to set up alerts for scheduled events for Linux VMs?
- I see one document here https://docs.microsoft.com/en-us/azure/virtual-machines/windows/scheduled-event-service - but that is for Windows VM
-

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 479d877a-81a0-5436-76d9-898303c5bbe

[2020-07-16 15:44] liphuan commented on #57184
I got errored out on the same cells as @Munyasya, please advice
![image](https://user-images.githubusercontent.com/68386370/87691243-48d7ce80-c782-11ea-8d8d-755b7a213559.png)
![image](https://user-images.githubusercontent.com/68386370/87691302-5c833500-c782-11ea-8f97-f93f867747d9.png)

[2020-07-16 15:44] diberry commented on #59036
#in-progress - looking at it.

[2020-07-16 15:45] BharathNimmala-MSFT commented on #58750
@antonihanus Apologies for delayed response on this, we appreciate your feedback and sharing the idea to enhance the documentation. Will further evaluate this feedback with our document author and see how we can incorporate it in any of the upcoming sprints.

We will go ahead and close this issue for now, however if you have any further queries please tag us in your reply and will be happy to reop

[2020-07-16 15:45] #58750 closed

[2020-07-16 15:46] albecker1 commented on #59103
Hi @richardhauer, we will not be releasing a view of accumulated metrics. However, in the near future we will be releasing metrics that will tell you the percentage of bursting used to help understand the bursting credits usage.

[2020-07-16 15:49] mapalko opened #59163 "Post Join Diagnostics User Account Name"
In the post join diagnostics field, my device on the insiders build is showing Executing Account Name with my domain account and UPN as an additional field. Is there any information on this field and when it was added?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b4f913c-1b09-1679-a69e-2960ca6f9231
* Version Indepen

[2020-07-16 15:54] scyto opened #59164 "Expand document with more detail on currency options."
It is very unclear:
1) how MS picks currency conversion automatically initially
2) if and when this rate changes
3) how to use the import process to override this (do i just modify the previously exported file, do i need all the header information about the offer in the file etc).
4) can currency info be retrieved by API (i have my dev going to looksee)

Links to these topics if they exist would b

[2020-07-16 15:57] derbenevivan commented on #55842
sorry for bringing up a closed thread, but @PhilipAnthonyMurray, what exactly did you do to resolve the issue?

[2020-07-16 16:00] djpmsft commented on #59138
Hey @gbrueckl,

By exceptions, we mean that you can explicitly specify rules that do not follow the pattern set by `*`. If you take a look at the example in the documentation, this is done with trigger recurrence. `*` is set to value `=` (meaning that all properties will be parameterized as type string with a default value and name), but `interval` and `frequency` are overwritten.

Custom paramete

[2020-07-16 16:00] #59138 closed

[2020-07-16 16:02] FrankMcGovern commented on #55165
@yelevin - That does help. It would be good if the documentation relays that same information, like you said you will add. The alerts are coming into Sentinel and already have a priority of Low/Medium/High on them. It would be good to know exactly what priority is being picked up and assigned. The connector allows you to only bring in alerts above a certain threshold, but it's not clear what field

[2020-07-16 16:03] RyanHill-MSFT commented on #59135
@kzkz221 the DJANGO_ENV variable is set in [Configure Environment Variables](https://docs.microsoft.com/en-us/azure/app-service/containers/tutorial-python-postgresql-app?tabs=bash#configure-environment-variables) and is highlighted in [Prepare app for App Service](https://docs.microsoft.com/en-us/azure/app-service/containers/tutorial-python-postgresql-app?tabs=bash#prepare-app-for-app-service) wit

[2020-07-16 16:03] sopopa1 opened #59165 "Service Principal needs AAD Graph "Directory.Read.All" permission in addition"
A Service Principal would need the extra permission, for AAD Graph, "Directory.Read.All", to be used to assign RBACs to users.
This is not mentioned in the doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c76fa79-5773-13f1-8672-7b20f847f926
* Version Independent ID: f8ed8f66-3519-e823-7010-8e16cca8d4e4
* Content: [

[2020-07-16 16:04] BhargaviAnnadevara-MSFT commented on #58769
@cveld We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-07-16 16:04] #58769 closed

[2020-07-16 16:05] jimlane opened #59166 "Use PWS cmdlet in PWS sample box"
In the section [Configure your IoT Edge device](https://docs.microsoft.com/en-us/azure/iot-edge/quickstart-linux#configure-your-iot-edge-device), under the [Deploy the IoT Edge device](https://docs.microsoft.com/en-us/azure/iot-edge/quickstart-linux#deploy-the-iot-edge-device) paragraph there are code snippets for both CLI and PWS. However the PWS sample simply repeats the CLI command. Perhaps it

[2020-07-16 16:06] dlepow commented on #58913
I'll close out this doc issue for now - thanks for raising it.
#please-close

[2020-07-16 16:06] #58913 closed

[2020-07-16 16:07] BharathNimmala-MSFT commented on #59159
@Aurel-Bruno Thank you for reaching out , will check with our Internal Product team to get additional information on the GA time line and update you accordingly.

[2020-07-16 16:08] tajaber commented on #59050
Hello @HarshitaSingh-MSFT
Device writeback doc says "Verify the account used by the Active Directory Connector has required permissions" but no clear steps to set it.

Thanks for the group writeback, I missed it, sorry.

[2020-07-16 16:08] hpsin commented on #59155
Thanks! Yeah, quick fix, will update.  Thanks! #please-assign:hpsin

[2020-07-16 16:10] mmacy commented on #58945
@chriswithpants Looks like the locale being added to the URL when clicking the link busts the URL. I'll update that line to instead say:

#reassign:mmacy

[2020-07-16 16:10] JamesTran-MSFT commented on #56903
@jeevansd
Any update on if this fix was pushed? I just wanted to check in so I can update the [Q&A thread](https://docs.microsoft.com/en-us/answers/questions/35152/index.html).

[2020-07-16 16:11] danimir commented on #59159
The product group at this point does not have plans to GA SQL Analytics. We do intend to keep the product alive for a foreseeable future until new or a better product is available. As such, you are advised not to take a strong dependency on products in public preview. Thank you.

[2020-07-16 16:15] kenwith commented on #47121
@hsbsandrecv - thank you for taking the time to provide feedback on this article. I know it takes time and can be a hassle to provide feedback and I appreciate it.

I understand you are looking for more information around the certificate used by the service providers since the article focuses on the certificate used by the identity provider (Azure AD). I am in the process of reworking some of the

[2020-07-16 16:15] kenwith commented on #47121
#please-close

[2020-07-16 16:15] #47121 closed

[2020-07-16 16:19] #58945 closed

[2020-07-16 16:19] GiftA-MSFT commented on #59053
@lobrien please review above feedback for doc update. Thanks.

[2020-07-16 16:22] cynthn commented on #59013
@1RedOne Thanks for the feedback! The article that contained the link is being removed until it can be reworked.

@Karishma-Tiwari-MSFT Can you redirect this feedback to the owner of https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-authenticate-service-principal-powershell so they can look at https://docs.microsoft.com/en-us/dotnet/azure/authentication and maybe simplify the i

[2020-07-16 16:28] sam-lippert commented on #59090
It is not a property that I am trying to expose, but a function that both requires parameters and produces a return value.

[2020-07-16 16:30] gbrueckl commented on #59138
so how are these then prioritized assuming there are multiple matches (e.g. due to "*" and "frequency")?
does the more specific win "frequency" > "*"
or does the one defined later in the JSON win?

[2020-07-16 16:34] sam-lippert commented on #59090
Here is a version of the configuration that produces the error:
<pre>{
  "ApplicationName": "SavannaBlockchain",
  "DisplayName": "Savanna Blockchain",
  "Description": "A transaction ledger for device events",
  "ApplicationRoles": [
    {
      "Name": "Proxy",
      "Description": "The proxy that accesses the service"
    }
  ],
  "Workflows": [
    {
      "Name": "SavannaBlockchain",
      "D

[2020-07-16 16:35] #59155 closed

[2020-07-16 16:37] RyanHill-MSFT commented on #59109
@JoseFMP, just be sure I'm clear, you are referring to what happens if you container web app is configured with [Azure Storage](https://docs.microsoft.com/en-us/azure/app-service/configure-connect-to-azure-storage)?

[2020-07-16 16:44] laurenhughes commented on #46048
@rkttu The doc has been updated since your feedback, but I did add information on the Windows Server password requirements. The updates should be live within a few hours. Thank you for your feedback!

[2020-07-16 16:45] ecfan commented on #59158
Hi @jwisener, thanks for the feedback!

To provide product comments about the on-premises data gateway, please post that feedback for the gateway engineering team in the Power BI space on their forum here:

https://ideas.powerbi.com/ideas/idea/?ideaid=c26e8927-04dd-4444-8aeb-66e8de65485f&page=2

This GitHub channel is for driving doc updates and improvements. Here is the main on-premises data gate

[2020-07-16 16:45] #46048 closed

[2020-07-16 16:49] marekr opened #59169 "Cluster in failed state "resolutions" are poor"
Cluster in failed state "resolutions" are complete poop.

![image](https://user-images.githubusercontent.com/1838013/87699251-97757080-c762-11ea-89df-ae0587cbba94.png)

It should probably also say "Contact Azure Support" if it's not any of the above. And that step 2 is literally a conclusion statement rather than an actual step on resolving the issue.

There's no actual steps on diagnosing an upgr

[2020-07-16 16:51] BBrukner commented on #59084
We moved a Sonicwall NSv VM across RGs within a subscription, but when we attempted to move across subscriptions we encountered an error.

https://azuremarketplace.microsoft.com/en-us/marketplace/apps/sonicwall-inc.sonicwall-nsv-firewall-security-vpn-router

[2020-07-16 16:51] VikasPullagura-MSFT commented on #59125
@JohnLBevan
Thanks for your Question! We are checking on this and will get back on this.

[2020-07-16 16:52] ChaitanyaNaykodi-MSFT commented on #58826
@dery168 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-07-16 16:52] #58826 closed

[2020-07-16 16:52] djpmsft commented on #59138
Yes, the more specific one takes priority. * is a generic term

[2020-07-16 16:57] zr-msft commented on #48258
Thank you @porrascarlos802018 for the suggestion!

We have added a task to our backlog to review this approach and will prioritize accordingly.

#please-close

[2020-07-16 16:57] #48258 closed

[2020-07-16 17:00] #46588 closed

[2020-07-16 17:01] PRMerger6 commented on #58920
GitHub user krish-gh has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2020-07-16 17:02] zr-msft commented on #46588
Thank you @juyamash for the feedback!

I've updated the article to address your feedback and the changes will be available soon.

[2020-07-16 17:06] bandersmsft commented on #58621
@raghrv Sorry you're having problems with the API. Regarding the Try It option, I completely agree that it would be great to have in the article. However, that option isn't available for me to use in the article for REST APIs. Try It is available for REST APIs at https://docs.microsoft.com/rest/api/azure/. If I could enable it, I would since it's very useful. This is a limitation of my docs publis

[2020-07-16 17:06] #58621 closed

[2020-07-16 17:08] #58930 closed

[2020-07-16 17:11] rolyon commented on #58982
Hi @tomkuijsten
Here are a couple alternatives to generate a unique role assignment name. Could one of these work for your scenario?
https://docs.microsoft.com/en-us/azure/role-based-access-control/quickstart-role-assignments-template
https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-functions-string#guid
https://github.com/Azure/azure-quickstart-templates/blob/maste

[2020-07-16 17:12] VikasPullagura-MSFT commented on #58928
@OmegaMadLab Can you please share the document that you are referring in your previous reply. I will check with internal team on this and will update you.

[2020-07-16 17:17] saikrishna-2017 commented on #59097
rewriting the following code
data_file = pd.read_csv(TIME_SERIES_DATA_PATH, header=None, encoding='utf-8', parse_dates=[0])
to
data_file = pd.read_csv(TIME_SERIES_DATA_PATH, header=None, encoding='utf-8', **date_parser=[0]**)
resolved the issue, not sure this is expected behavior or not

parse_dates is appending "Timestamp('2018-03-01 00:00:00+0000', tz='UTC')" where as date_parser is appending "'

[2020-07-16 17:24] SubhashVasarapu-MSFT commented on #58743
@AviateX14 , Appreciate your patience. There is a misconception here in understanding how caching works at front door. We don't cache user Id's, customers cache objects like images, videos, CSS files etc.so when a request is made against an object that is cached, it returns that object and has no correlation with user id.

We are closing this issue for now. If there are further questions regarding

[2020-07-16 17:24] #58743 closed

[2020-07-16 17:27] KinoriSR commented on #59097
I just tried this change and it complains about the `str`. I tried this date format earlier by passing the string myself too. The error it gives:
`'str' object has no attribute 'signed_session'`

[2020-07-16 17:29] GiftA-MSFT commented on #58810
@wbinterns I suggest you try to publish your KB on the portal and create a new bot to observe the current behavior. If it works correctly, then maybe it would be easier to compare the samples, make changes where necessary, and republish.

[2020-07-16 17:30] normesta commented on #58672
You're very welcome! Sorry for the confusion. I've added a note to that doc to help clarify this a bit. Thanks again.

[2020-07-16 17:30] normesta commented on #58672
#please-close

[2020-07-16 17:31] #58672 closed

[2020-07-16 17:31] YutongTie-MSFT commented on #59153
@BreakingBI
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-16 17:33] OmegaMadLab commented on #58928
@VikasPullagura-MSFT you can still find a reference for this kind of configuration here: https://docs.microsoft.com/it-it/azure/azure-sql/virtual-machines/windows/business-continuity-high-availability-disaster-recovery-hadr-overview#failover-cluster-behavior-in-azure-networking

In the past, I saw more articles referring it; than, at some point, the official docs moved to using a load balanced IP

[2020-07-16 17:38] jwisener commented on #59158
There is already something out there:
https://feedback.azure.com/forums/287593-logic-apps/suggestions/20569843-on-premise-data-gateway-support-for-multiple-subsc

So either this documentation is "wrong" or that "status of completed" on the above link is wrong.

[2020-07-16 17:38] GiantCrocodile commented on #58841
I will close this as suggested by you @asergaz.

For now we will take the embedded license information as plain text (with some formation errors) from this URL: https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.js. Maybe it might sense to discuss this internally to find some better way to provide an overview of license information for interested people who think about to use the SD

[2020-07-16 17:38] #58841 closed

[2020-07-16 17:44] Karishma-Tiwari-MSFT commented on #59118
It looks like you were able to resolve the issue. Let me know if you are still seeing it.

[2020-07-16 17:45] Karishma-Tiwari-MSFT commented on #59134
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-16 17:55] RyanHill-MSFT commented on #58866
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-16 17:56] RyanHill-MSFT commented on #58866
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-16 17:56] #58866 closed

[2020-07-16 17:59] marekr commented on #59169
And to further add, the next section says

which contradicts the previous section which says you are hosed on a failed state in upgrade

![image](https://user-images.githubusercontent.com/1838013/87705855-8b8eac00-c76c-11ea-83fa-ce6e210a8e23.png)

[2020-07-16 17:59] chugh97 commented on #59154
https://docs.microsoft.com/en-us/azure/api-management/api-management-role-based-access-control

[2020-07-16 18:03] MarileeTurscak-MSFT commented on #59156
@VadimBurshtyn
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-16 18:03] #59047 closed

[2020-07-16 18:04] MarileeTurscak-MSFT commented on #59150
@szcc
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-16 18:05] KranthiPakala-MSFT commented on #59160
@ilyas-it83
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-07-16 18:06] MarileeTurscak-MSFT commented on #59163
@mapalko
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-16 18:06] KranthiPakala-MSFT commented on #59161
@nmellal Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-07-16 18:07] MarileeTurscak-MSFT commented on #59165
@sopopa1
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-16 18:09] KranthiPakala-MSFT commented on #59137
@gbrueckl
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-07-16 18:09] Plus3IT-Azure opened #59172 "Cmdlet for App Registration"
Is there a cmdlet that registers an app registration to the Partner Center? (App Management)

I'd like to register a web app programmatically via powershell compared to accessing the Partner Portal if able.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b3d6880-0602-c9c1-4174-b8e3965c6422
* Version Independent ID: 4f6

[2020-07-16 18:09] leovms commented on #58344
@jamesandersen, did you try to create a VM from the custom image itself? I can repro your case with a custom image. So, I am not sure if it is isolated to SIG images. Can you please confirm?

[2020-07-16 18:12] pamcdo commented on #58022
Instead of changing the document back to OR, since it was switched to AND because of issue #51183 ((https://github.com/MicrosoftDocs/azure-docs/issues/51183), perhaps there could be a note that lets customers know that the 'Require App Protection Policy' setting does not currently support the use of all applications and services, and that they should choose between using OR/AND depending on their

[2020-07-16 18:16] blackbaud-james-williams opened #59173 "Request: documentation on the open ports for multi-tenant App Services"
I've been unable to find documentation listing the ports that are open to the public network for the multi-tenant App Services offering.

I've found documentation for ASEs, but not regular App Services.

I opened support ticket `120062424007409` for this and Support was also unable to find anything.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-07-16 18:18] HarshitaSingh-MSFT commented on #59045
@vronzeur, We completely understand your requirements.

Currently, as written in the documentation, `SignIn` Flow is not `Recommended` yet and is in Preview. And for all the User Flows, the current status is as mentioned in the [documentation](https://docs.microsoft.com/en-us/azure/active-directory-b2c/user-flow-versions).

Please note that we're currently working on updates for User Flows (Functi

[2020-07-16 18:26] gbrueckl commented on #59138
Do more specific wildcards also work?
E.g. "freq*"

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Daniel Perlovsky <notifications@github.com>
Sent: Thursday, July 16, 2020 6:52:58 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Gerhard Brueckl <gerhard@gbrueckl.at>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-d

[2020-07-16 18:29] TravisCragg-MSFT commented on #59071
@artisticcheese interesting, let me reproduce this and get back to you.

[2020-07-16 18:30] Grace-MacJones-MSFT commented on #58728
@MTA1711 apologies for the inconvenience this issue may have caused. We would like to do a deeper investigation of this issue. You can send me an email with the subject as "ATTN: Grace" at AzCommunity@microsoft.com and provide me with your SubscriptionID and link to this thread so we can then enable your subscription for one time free support.

We will close this out for now, but if you feel you n

[2020-07-16 18:30] #58728 closed

[2020-07-16 18:31] ChaitanyaNaykodi-MSFT commented on #59136
@LeonB87, Thank you for your feedback! We will review and update as appropriate.

[2020-07-16 18:33] djpmsft commented on #59138
They do not, but there are few cases where that will be applicable. These are ADF JSON properties which in most cases have a small explicit set of keys.

[2020-07-16 18:35] ChaitanyaNaykodi-MSFT commented on #59148
@cpridy, Thank you for your feedback! We will review and update as appropriate.

[2020-07-16 18:36] krish-gh commented on #59047
@ehsf973 , The document has been updated to spell out full name of the products and it will reflect soon in public document. NOTE: All those are retired products and hence not providing any hyperlinks since public documentation are not actively maintained.

[2020-07-16 18:37] mosolano opened #59174 "Is the customer charged for keeping the data 14 days?"
Following public documentation:

"**Considerations when deleting a workspace**
When you delete a Log Analytics workspace, a soft-delete operation is performed to allow the recovery of the workspace including its data and connected agents within 14 days, whether the deletion was accidental or intentional."

I think is important to mention if the customer is going to be charged by the 14 days data i

[2020-07-16 18:37] sfilipi commented on #43290
I am seeing the same exception on our production services. Any comment on why would this happen?

[2020-07-16 18:45] HarshitaSingh-MSFT commented on #59050
Hey @tajaber,

For below statement:

It needs read and write permissions as mentioned [here](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-configure-ad-ds-connector-account#permissions-summary).

Please find containers below as mentioned at the bottom of [this](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-device-writeback#part-1-inst

[2020-07-16 18:47] zr-msft commented on #46001
@StingyJack can you please clarify where you ran into an issue? I don't see any dependencies in the linked article on *docker-compose*.

[2020-07-16 18:49] HarshitaSingh-MSFT commented on #59045
I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-07-16 18:52] HarshitaSingh-MSFT commented on #58960
Hello @rick-hayek!
Just checking to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this issue.

[2020-07-16 18:53] SatishBoddu-MSFT commented on #59166
@jimlane Thanks for the feedback! Sure we will look into the suggestion.

Did you faced any issue in trying out the [Power shell commands](https://docs.microsoft.com/en-us/azure/iot-edge/quickstart-linux#deploy-the-iot-edge-device) as provided in the document ? during deploying the IoT Edge.

![image](https://user-images.githubusercontent.com/62923178/87710484-ace69c80-c75a-11ea-90a7-dea83eb51987.

[2020-07-16 18:57] #59056 closed

[2020-07-16 18:58] PhilipAnthonyMurray commented on #55842
@derbenevivan As @JamesTran-MSFT stated in the answer the value of the **--assignee** option on the command line should be explicitly set to **https://vault.azure.net** and not the same of your own Key Vault.

As for the RBAC permissions it appears that the command needs to be run under and account with **Owner** level permissions.

[2020-07-16 19:07] SnehaGunda commented on #59100
@jackbond ProductId can be the right choice if that field is evenly distributed and if you use that column in most of your query filters.

For the bulk insert operations, please use the built-in bulk import functionality. We recommend using the latest version of the .NET SDK. Please see this doc for more details: https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-sql-api-dotnet-bulk-import.

[2020-07-16 19:08] saikrishna-2017 commented on #59097
Can you send full error message?

[2020-07-16 19:09] shashishailaj commented on #58696
@amudamai Yes Hybrid Join is supported for the on-premise computers with non-routable domain suffixes. The Hybrid Joined computer will always depend upon the Service connection point registered to find out the azure AD tenant its part of.  The non routable suffix causes issue for user objects but not for computer objects hence it is mentioned that the information does not apply to devices. And as

[2020-07-16 19:09] #58696 closed

[2020-07-16 19:28] SnehaGunda commented on #59123
@tomkuijsten Ru/throughput in Azure Cosmos DB is billed by the number provisioned and not by the RU/s consumed. So when you provision a shared DB with minimum RU/s as 400, that DB will use up the whole free tier RU/s offered. All the containers within that DB can share the 400 RU/s free tier throughput.

Any new databases or Containers you provision with dedicated throughput are billed regularly.

[2020-07-16 19:29] diberry commented on #58810
@wbinterns Can you export your knowledge base, then post the value of the answer of that QnA pair? Perhaps it is an issue with how the metadata is stored.

[2020-07-16 19:32] JasonWeiand-MSFT commented on #59173
Please bump this. This is a very common support request. We need official and public documentation that clearly outlines exactly which ports are open to an app service by default as well as how default ports of apps and services (i.e. Visual Studio, FTP(s), SSH, etc.) are handled. This is a normal security consideration that comes up during company audits and is a continuing struggle for CSS to sa

[2020-07-16 19:32] Aurel-Bruno commented on #59159
Thanks for this information.  Is it possible to have a list of the recommended alert to setup to efficiently monitor the availability and health of azure databases?

[2020-07-16 19:35] jackbond commented on #59100
@SnehaGunda From the documentation I've read, it's not clear whether a single bulk insert operation can span multiple LOGICAL partitions. So if every document has a unique logical key, does that make bulk operations impossible? Or, can bulk insert operations span logical partitions, but not PHYSICAL partitions. Thanks for any clarification.

[2020-07-16 19:37] wbinterns commented on #58810
Sure thing (I printed the full KB for full information):

Question	Answer	Source	Metadata	SuggestedQuestions	IsContextOnly	Prompts	QnaId

Menu	Menu List:\n\n*   ==========Item C==========\n*   ==========Item D==========\n\nWhat would you like?	Editorial		[]	false	[{"displayOrder":0,"qnaId":20,"displayText":"Item A"}]	19

Item A	Item A Answer	Editorial		[]	false	[]	20

Menu2	Menu List 2:\n\n*   ===

[2020-07-16 19:53] MarileeTurscak-MSFT commented on #59172
@Plus3IT-Azure
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-16 19:54] forktrucka commented on #59119
Hi, just creating an encrypted disk set for Windows VMs in Australia East using keys from keyvault.

Just checking through any limitations before expanding to other regions when I clocked the region and vm size restrictions.

[2020-07-16 20:03] KranthiPakala-MSFT commented on #59160
@spelluru Can you please have a look at this request? - Thanks

[2020-07-16 20:04] KinoriSR commented on #59097
Here is the full traceback when I remove the try/except:
[code]

[2020-07-16 20:08] danvalero opened #59176 "MABS recognize that a SQL database is part of an avaialbity group on Azure Stack VMs?"
Does to MABS identified the dbs part of an availability group on Azure Stack VMs as Azure Backup does when SQL runs on Azure VMS?

If not, what is the recommended way to do SQL backups of SQL instances that are part of an availability group on Azure Stack VMs using Azure Backup?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-07-16 20:14] dlepow commented on #59016
@rtaylor72 - I'll investigate the current recommended role(s)/permissions to import to the target registry and determine if the article needs an update. For built-in roles, Contributor should work as documented, but I don't think AcrPush alone is sufficient. You would need both AcrPush and Reader. See https://github.com/Azure/acr/issues/237. Does this help?

And for the source registry, did you fi

[2020-07-16 20:18] rtaylor72 commented on #59016
Reader + Acr Push does not work. Only Contributor instead of Reader works, making Acr Push redundant.

Robert Taylor

________________________________
From: Dan Lepow <notifications@github.com>
Sent: Thursday, July 16, 2020 3:15:11 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Robert Taylor <rtaylor72@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftD

[2020-07-16 20:25] nonodename opened #59177 "Typo in availability note"
Availability note says:

Wrangling data flow is currently _avilable_ in public preview

Should be

Wrangling data flow is currently _available_ in public preview

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79a08273-5783-8d00-b740-f67b8f5b72c0
* Version Independent ID: 04313ea4-779e-72f3-736a-ce940cc55f88
* Content:

[2020-07-16 20:29] MaDooSan commented on #53455
Is there any update on this? The deployments work fine with HTTP application routing, but the existing documentation for setting up TLS does not seem to work out of the box. The certificate status is always False even after a few hours, and drilling into the logs shows:

Status:
  Presented:   true
  Processing:  true
  Reason:      Waiting for http-01 challenge propagation: failed to perform self

[2020-07-16 20:33] wbinterns commented on #58810
UPDATE:
I have made a new bot and connected my menu knowledge base to it, and I can confirm that in the newest version the bullet point list works as intended in conjunction with followup prompts. I will continue looking to try and get an answer to this issue.

[2020-07-16 20:36] saroup opened #59178 "Failing to run Spark Job for R Script"
I have followed the steps highlighted here: https://docs.microsoft.com/en-us/azure/databricks/dev-tools/api/latest/examples#--create-and-run-a-spark-submit-job-for-r-scripts to create a job and run it. I am invoking the REST API through Postman.

I am able to create the job however it is failing to run a simple helloworld.r script:
hello <- function( name ) {
    sprintf( "Hello, %s", name );
}

h

[2020-07-16 20:37] dhruvb14 opened #59179 "Linux ASP"
Is there new URL's for Linux ASE Support? I can not find any new url's for docker hub or any other stuff that may be used by Linux ASP

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29246f12-744e-08a1-c222-b0eae866b401
* Version Independent ID: 6e925f96-dc31-d400-2681-2e387b40ed74
* Content: [Lock down outbound traffic

[2020-07-16 20:39] gregdegruy commented on #58866
This helped resolve my issue thanks.

[2020-07-16 20:41] AjayKumar-MSFT commented on #58514
Apologies for the delay! The Azure Portal has only two gesture to add/update, but not remove. Even when you set to 0, you still have a rule with 0%.  As long as rules exist, those cookie will be set.

To remove all rules (effectively disable the cookie), you may use Resource Explorer -  https://resources.azure.com/.
Navigate to the site/config/web item and look for routingRules and set to empty ar

[2020-07-16 20:41] #58514 closed

[2020-07-16 20:49] JohnCarmichael3000 commented on #57295
The "Azure Cosmos Emulator - Release notes" web page now has release dates, eg (07/07/2020) It is now easy to see this product is updated on a regular basis, etc! Just a small thing but still pretty cool. Thanks everyone!

[2020-07-16 20:51] asudbring commented on #58798
Will fix this one.

#reassign:@asudbring

[2020-07-16 20:54] diberry commented on #58810
@wbinterns - if the only difference is the bot code, please log the issue with the [bot SDK team](https://github.com/microsoft/botframework-sdk), reference this issue so no time is lost researching the issue.

[2020-07-16 20:56] Dvnoten opened #59180 "Azure Automation Source Control"
I have setup Azure Automation Source control to synchronize certain powershell scripts to Azure Runbooks.
This has been running just fine but since now it won't work. A full sync doesn't give me any output:
![image](https://user-images.githubusercontent.com/50844176/87721776-480d5f80-c7b7-11ea-90ec-b6d5292f9dcf.png)

And an incremental sync does get triggered but fires an exception immediately:
![

[2020-07-16 20:59] scyto opened #59181 "More details need"
It is very unclear:
1) how MS picks currency conversion automatically
2) if and when this rate changes
3) how to use the import process to override this

Links to these topics if they exist would be good, else expanding on that here would be good.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c6b9727-628d-6a24-55ef-d

[2020-07-16 21:02] alkohli commented on #45728
@scottstout This was on our radar. It took quite some time to complete because it required these changes both in the files and in the backend such as file names, image names, include names etc. Wanted to inform you that this work is now complete.

#please-close

[2020-07-16 21:02] #45728 closed

[2020-07-16 21:06] marekr commented on #59169
Just going to throw in what _should_ be documented for fail state.

My cluster ended up in a fail state due to the kubernetes ca cert expiring. _woops_
It's not immediately obvious and the link azure provides is the above reference poor section.

An actual troubleshooting step would be to check the ca cert status and if its expired execute az aks rotate-certs which apparently is documented as work

[2020-07-16 21:07] scottstout commented on #45728
@alkohli sounds good. Thanks for the update.

[2020-07-16 21:10] zr-msft commented on #50626
Thank you @algattik for the feedback!

A link to the other article is in the opening section.

#please-close

[2020-07-16 21:10] #50626 closed

[2020-07-16 21:10] alkohli commented on #58863
Conforming with Engg. #in-progress

[2020-07-16 21:13] roygara commented on #59119
@forktrucka Ah, disk encryption sets are required for most of the encryption types covered in this article so that doesn't quite narrow it down. If you mean customer-managed keys just by itself then those no longer have any regional restrictions - they're available in all regions. Encryption at host and double encryption at rest do have regional restrictions, and those are in this article (and acc

[2020-07-16 21:15] forktrucka commented on #59119
Ok cool. Please forgive my confusion

[2020-07-16 21:17] satbav commented on #49966
Hi, do we know if this is getting fixed?

I currently have a Vnet with a s2s, and I need to connect tot he end site from the app service. As far as I can tell, I've followed all instructions and it doesn't seem to want to play ball. Is this the same issue?

[2020-07-16 21:17] zr-msft commented on #52144
Thank you @Elaine-mtt for the feedback!

The article has been updated to address your feedback:

https://docs.microsoft.com/azure/aks/concepts-scale#cooldown-of-scaling-events

#please-close

[2020-07-16 21:17] #52144 closed

[2020-07-16 21:23] #59119 closed

[2020-07-16 21:26] laurenhughes commented on #52226
Thanks for your feedback! The sample on this page still works as expected, so I'm closing this issue. Please feel free to comment or open another issue if you have any other concerns.

#please-close

[2020-07-16 21:26] #52226 closed

[2020-07-16 21:32] kstrijbos commented on #54840
Hi, we're having the same issue when using az aro. Trying to create D4s_v3 masters but failing with the same error. Is this issue already known? @VikasPullagura-MSFT

[2020-07-16 21:40] bunkrur opened #59182 "Lack of information regarding service tags."
This page makes no mention of not being able to use standard Service Tagging for allowing various Microsoft Services into the WAF. This document should clearly state that the WAF cannot use Service Tags. Also, Service Tags should be added as a feature.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f69ca730-5af2-a52f-8

[2020-07-16 21:49] AlissonRS commented on #58514
@AjayKumar-MSFT thanks.

This defeats the purpose of updating traffic route percentage, as the router will ignore whatever percentage you configure because of cookies.

Let's say I deployed a new feature in a slot and added 20% traffic to it, some users will get the feature (and a cookie). If I realize something is failing, I want to redirect all users back to main slot while we fix the issue. But

[2020-07-16 21:49] shashishailaj commented on #58426
@rebremer I have checked this and I was getting a different error.

![image](https://user-images.githubusercontent.com/532022/87725511-0ee6e680-c7db-11ea-8376-7740dcd0d548.png)
[code]

But then I checked the detailed options on the SSMS connect to server dialog box. If you click options on the login screen as shown below . you would find the connection properties tab where I had the database name

[2020-07-16 21:49] #58426 closed

[2020-07-16 21:50] agrabhi opened #59183 "'Get permission to delete Azure resources' is non-deterministic and takes a lot of time to reflect"
When trying to delete a tenant `Get permission to delete Azure resources` takes too much time to reflect. It says yes when we save it. But then it becomes no again.

Is it by design?
--

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea77d5a9-6619-0f31-9567-6085b7a4b5a2
* Version Independent ID: f4cf720d-60dd-f086-3ace-

[2020-07-16 21:56] #54195 closed

[2020-07-16 21:57] zr-msft commented on #54195
Thank you @porrascarlos802018 for the feedback.

I've updated the article to address your feedback and the changes should be available soon.

[2020-07-16 22:01] #52102 closed

[2020-07-16 22:05] ChaitanyaNaykodi-MSFT commented on #52102
@mslot , We were able to replicate the issue mentioned, so we have made the changes in the doc, you will able to see the changes in next 24 hours. Please let us know if you have any further concerns.

[2020-07-16 22:08] bonshaw opened #59184 "Great in depth tutorial has gone?"
The following link pointed to a great in depth tutorial on how to learn implementing push notifications for a Xamarin Forms application. I was on this page earlier today... I have read this through and implemented almost all the way... but it looks like it's been pulled or maybe redirected, hopefully by mistake...

https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-backend-

[2020-07-16 22:11] BharathNimmala-MSFT commented on #59174
@mosolano Thank you for sharing your feedback on this, we will review this and incorporate the feedback into the document accordingly.

[2020-07-16 22:13] BharathNimmala-MSFT commented on #59149
@sharadrumane  Thank you for reaching out to us, our team will review the query and get back to you at the earliest.

[2020-07-16 22:17] BharathNimmala-MSFT commented on #59164
@scyto Thank for your feedback, assigned this issue to our document author @keferna to further review and enhance the document accordingly.

[2020-07-16 22:19] lastcoolnameleft commented on #57969
@gtondato Thanks for the clarification.  I've submitted a PR to remove the details about which layer performs the routing.

[2020-07-16 22:27] JamesTran-MSFT commented on #59163
@mapalko
Would you be able to provide a screenshot of what you're seeing, and confirm you're using the new [Windows 10 Insider Preview Build](https://blogs.windows.com/windowsexperience/2020/07/01/announcing-windows-10-insider-preview-build-20161/).

-Is your device Azure AD Joined or Hybrid Azure AD Joined?
-Are you having any [syncing issues](https://docs.microsoft.com/en-us/azure/active-directo

[2020-07-16 22:30] IsaacLeeWebDev opened #59185 ""Connect Your App... > Create a new Project > Step 9" code-block-UI-component has a clear UI bug"
hash-URL-link to the problem:
https://docs.microsoft.com/en-us/azure/notification-hubs/xamarin-notification-hubs-ios-push-notification-apns-get-started#create-a-new-project

The following screenshot was taken in Chrome Incognito Mode:

![image](https://user-images.githubusercontent.com/20074921/87728686-76b81580-c778-11ea-807a-44c996feaba6.png)

I also replicated this problem in Safari, so it look

[2020-07-16 22:31] mapalko commented on #59163
I am running an internal build and I am not having any functional issues. This is my output:

![image](https://user-images.githubusercontent.com/20977663/87729124-79673a80-c779-11ea-8c12-a9f8b888c8af.png)

[2020-07-16 22:33] PatAltimore commented on #53090
I've added the feedback to the article.

Thanks,
Pat

#please-close

[2020-07-16 22:33] #53090 closed

[2020-07-16 22:33] PatAltimore commented on #53079
I've added the feedback to the article.

Thanks,
Pat

#please-close

[2020-07-16 22:33] #53079 closed

[2020-07-16 22:34] JamesTran-MSFT commented on #59163
@mapalko
Thank you for the quick response. I'll reach out to my team and see if we have any info on this for you.

I'll update as soon as I hear back.
Thank you again!

[2020-07-16 22:38] BharathNimmala-MSFT commented on #59181
@scyto Thank you for reaching out, isee there is below thread created by you with similar feedback. So closing this one as duplicate. If the feedback is something different please tag me in your reply with additional information. We will gladly continue the discussion and we will reopen the issue.

https://github.com/MicrosoftDocs/azure-docs/issues/59164

[2020-07-16 22:38] #59181 closed

[2020-07-16 22:41] BharathNimmala-MSFT commented on #59176
@danvalero Thank you for your query, we will look into it and get back to you at the earliest.

[2020-07-16 22:54] scyto commented on #59181
@BharathNimmala-MSFT thanks, apologies, i have no idea how two got created!?

[2020-07-16 22:55] StephenWeatherford commented on #58918
See also https://github.com/MicrosoftDocs/azure-docs/issues/34829

[2020-07-16 22:57] JamesTran-MSFT commented on #57608
@iliassk
I just wanted to check in and see if you had a chance to review the above posting by JasSuri.

If you have any other question, please let us know. Otherwise, I'll go ahead and close out your issue at the end of the week.
Thank you for your time and patience.

[2020-07-16 23:00] tamram commented on #59032
#reassign: @tamram

@msandbu - Thanks for your feedback. I've noted in the doc that wildcard characters are not supported.

#please-close

[2020-07-16 23:00] #59032 closed

[2020-07-16 23:01] tamram commented on #58824
@JeffSmalley - Thanks for pointing this omission out to us. You're right, the list should include management groups. I've updated the doc accordingly.

#please-close

[2020-07-16 23:02] #58824 closed

[2020-07-16 23:08] GiriB opened #59186 "Do we need both Azure Storage and Azure Cosmos DB account?"
Needs formatting and rephrasing.

The article mentions creating Azure Storage and an Azure Cosmos account. Do we need both? I think the article should clarify if either could work. It's not clear from the article "Can I just use this sdk to connect to Azure Cosmos using Table API"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2020-07-16 23:15] tfitzmac commented on #59094
@ssmaredia - thanks for this feedback. Where are you seeing encodeUriComponent? We have [uriComponent](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-functions-string#uricomponent) which encodes a URI. Is that what you are looking for?

[2020-07-16 23:19] dcbrown16 opened #59187 "ToC check"
This doc is no longer part of the ToC, can it be added in somewhere if it is still available? I look at Monitor docs almost every day and this is the first time I've ever heard of this service, finding it from a web search.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7303812-25be-548c-4f02-1ccd98f122e0
* Version In

[2020-07-16 23:27] ssmaredia commented on #59094
Actually encodeUriComponent is part of 'Workflow Definition Language' (WDL) used for Logic Apps. WDL has its own functions documented in below link. I think this issue can be closed.

https://docs.microsoft.com/en-us/azure/logic-apps/workflow-definition-language-functions-reference

[2020-07-16 23:27] #59094 closed

[2020-07-16 23:31] tfitzmac commented on #59033
@slavizh - I ran a test and it worked as expected. I have a variable that combines the tags. I apply that variable to the tags for the resource group.

"variables": {
    "combinedTags": "[union(resourceGroup().tags, parameters('tags'))]"
},
"resources": [
    {
        "type": "Microsoft.Resources/tags",
        "name": "default",
        "apiVersion": "2019-10-01",
        "dependsOn": [],

[2020-07-16 23:53] dlepow commented on #59027
@anduran - Just pointing out that the AD token life for `az acr login` is documented as 3 hours: https://docs.microsoft.com/en-us/azure/container-registry/container-registry-authentication

I hope this helps.

[2020-07-16 23:58] davidsmatlak commented on #58723
@nickmcmahan I updated the **Virtual machine disk limits** section in [Azure subscription limits and quotas](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#virtual-machine-disk-limits) with the disk encryption set limitation. After the content is merged this issue will automatically close and the updated article will publish within 24-hou

[2020-07-17 00:00] #58723 closed

[2020-07-17 00:01] anduran commented on #59027
Right, but that's on the `Individual AD identity` section which on the table it says: `Interactive push/pull by developers, testers `, in that scenario I would totally expect it to expire quickly.

However, I'm using MSI which says `Unattended pull to Azure services` which I interpret as... `this is what you need to do if you want your machine to pull components without doing anything else`.

[2020-07-17 00:02] jafrittsMSFT opened #59189 "Network access: Restrict clients allowed to make remote calls to SAM"
Please update this document to indicate that the Azure AD connect on-prem connector service account must have permission to make remote calls to SAM for password writeback to be successful.  That Group policy is called "Network access: Restrict clients allowed to make remote calls to SAM" and can be found at "Policies\Windows Settings\Security Settings\Local Policies\Security Options\Other"

---
#

[2020-07-17 00:07] #58918 closed

[2020-07-17 00:07] juyamash commented on #46588
Thank you @zr-msft for your update.
Unfortunately, "newly AKS cluster" is not unclear. We would like to make sure how to determine our existing AKS cluster is newly or not.

[2020-07-17 00:08] tfitzmac commented on #58918
@rjygraham - thanks for this feedback. I have added that function. It should get published tomorrow.

[2020-07-17 00:24] CawaMS commented on #59187
@dcbrown16 Hi Dillon I am the PM for this service. I wish we can keep this documentation. Is it a question to me on where to place this in the PoC? I am not sure if I have a say, but I prefer it to be under the Azure Monitor service, as a standalone feature for now.

[2020-07-17 00:26] ArcherAZ commented on #51719
Hi, the portal supports multiple dataset selection to improve usability. If you want to use API for automation as well, please make sure you refer to the latest v3.0 API, which is the same backend service as the portal is using: https://eastus2.dev.cognitive.microsoft.com/docs/services/speech-to-text-api-v3-0/operations/CreateDataset

[2020-07-17 00:50] Karishma-Tiwari-MSFT commented on #59144
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-17 00:50] Karishma-Tiwari-MSFT commented on #59140
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-17 00:52] Karishma-Tiwari-MSFT commented on #59162
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-17 00:54] Karishma-Tiwari-MSFT commented on #58825
Did that help answer your question?

[2020-07-17 01:15] Mike-Ubezzi-MSFT commented on #58952
@Mikako-ff  I can confirm that the `Forms` TypeName for HtmlWebResponseObject does not exist in PowerShell 7.x but is present in 5.1 as you have pointed out.

![Screenshot (118)](https://user-images.githubusercontent.com/37126106/87737379-a6bee300-c78f-11ea-94e2-1bf81b3fdc0e.png)

Is it possible for you to leverage PowerShell 5.1? I do see some slight differences between the two versions ([5.1](ht

[2020-07-17 01:15] ToruMakabe opened #59191 "Metric name not found"
I tried to [enable with a Resource Manager Template](https://review.docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-metric-alerts?branch=pr-en-us-113956&WT.mc_id=twitter#enable-with-a-resource-manager-template) from portal, but got the following error.

"The following metric name(s) were not found: oomKilledContainerCount. Please note that for custom metrics, the relevant

[2020-07-17 01:17] dcbrown16 commented on #59187
Maybe the Other Visualizations section of the how-to? I'm not sure what the positioning is of this service - I could see an argument for this doc being under the ARM Resource Graph or even Web Apps docs as well, but I think posting it in Monitor makes sense too.
I definitely want to keep the article somewhere and make it more discoverable. I haven't checked myself, but if there aren't links to thi

[2020-07-17 01:24] dcbrown16 commented on #59187
If it's not clear, I just mean this doc isn't in the ToC, but it should be.
This doc:
![image](https://user-images.githubusercontent.com/34466884/87738150-91e34f00-c791-11ea-92e3-55c4d30192bd.png)
Other docs:
![image](https://user-images.githubusercontent.com/34466884/87738179-9f98d480-c791-11ea-8ede-7d4807a3ad2f.png)

[2020-07-17 01:46] RyanHill-MSFT commented on #59135
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-17 01:57] karthikkunala commented on #53201
Even I am facing the same issue. Any solution?

[2020-07-17 02:04] cqueern opened #59192 "Confusing sentence"
Thanks for your hard work on Azure documentation.

There's a string on this page that reads:

It should probably read:

Suggest the word "you" is added there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 115ae83a-95dd-5643-bc88-f5447ebb2b99
* Version Independent ID: 7462ce84-0a9f-4bfd-7eba-c00928d77865
* Content: [En

[2020-07-17 02:19] CawaMS commented on #59187
adding @mrbullwinkle can we please make this doc part of the TOC?

[2020-07-17 02:21] saikrishna-2017 commented on #59097
@KinoriSR
you are initializing the anomaly detector client in wrong way
anomaly_detector_client = AnomalyDetectorClient(ANOMALY_DETECTOR_ENDPOINT, ANOMALY_DETECTOR_KEY)
instead it should be
anomaly_detector_client = AnomalyDetectorClient(ANOMALY_DETECTOR_ENDPOINT, CognitiveServicesCredentials(ANOMALY_DETECTOR_KEY))

[2020-07-17 02:30] Mikako-ff commented on #58952
Thank you for your reply.
For now, I will use ver 5.1.
(I also read below article, but I could not find about recommended version.)
 https://www.nuget.org/packages/Microsoft.Azure.SqlDatabase.ElasticScale.Service.SplitMerge/

[2020-07-17 02:33] KrishnaG-MSFT commented on #59191
@ToruMakabe Thanks for your comment! We will review and provide an update as appropriate.

[2020-07-17 02:41] KrishnaG-MSFT commented on #59180
@Dvnoten Thanks for your comment! We will review and provide an update as appropriate.

[2020-07-17 02:57] CHEEKATLAPRADEEP-MSFT commented on #59169
@marekr  Thanks for the question! We are investigating and will update you shortly.

[2020-07-17 03:01] CHEEKATLAPRADEEP-MSFT commented on #59173
@blackbaud-james-williams  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-07-17 03:01] #59173 closed

[2020-07-17 03:03] CHEEKATLAPRADEEP-MSFT commented on #59179
@dhruvb14  Thanks for the question! We are investigating and will update you shortly.

[2020-07-17 03:04] CHEEKATLAPRADEEP-MSFT commented on #59182
@bunkrur  Thanks for the feedback! Your feedback  has been shared with the content owner for further review.

[2020-07-17 03:07] thiruma0203 opened #59193 "Penetration testing notification form is no longer available"
Penetration testing notification form is no longer available.
https://portal.msrc.microsoft.com/en-us/engage/pentest

So, this part should be removed from the document.

"Customers who wish to formally document upcoming penetration testing engagements against Microsoft Azure are encouraged to fill out the Azure Service Penetration Testing Notification form. "

---
#### Document Details

⚠ *Do not

[2020-07-17 03:09] CHEEKATLAPRADEEP-MSFT commented on #59184
@bonshaw  Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-17 03:10] CHEEKATLAPRADEEP-MSFT commented on #59185
@IsaacLeeWebDev  Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-17 03:14] CHEEKATLAPRADEEP-MSFT commented on #59183
@agrabhi  Thanks for the question! We are investigating and will update you shortly.

[2020-07-17 03:15] rick-hayek commented on #58960
@HarshitaSingh-MSFT Thanks for your help. i got one day break so didn't have a chance to see this.

We have to use OpenIdConnectProtocol as we need to allow users from other AD tenant sign in to our system.
And we have to go with Custom policy, as it seems UserFlow does not support multi-tenant. We also have other reasons why
do not use UserFlow.

I'll try again to remove all givenName/Surname fro

[2020-07-17 03:18] cqueern opened #59194 "Confusing sentence"
This sentence:

...might read better if changed to:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 788014ae-dc3b-f509-3dbd-933eb5a423a4
* Version Independent ID: 250d17de-f226-d3e3-7071-3ecb14da018e
* Content: [Grant limited access to data with shared access signatures (SAS) - Azure Storage](https://docs.microsoft.com/

[2020-07-17 03:27] CHEEKATLAPRADEEP-MSFT commented on #59177
@nonodename Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/122747](https://github.com/MicrosoftDocs/azure-docs-pr/pull/122747)
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to

[2020-07-17 03:27] #59177 closed

[2020-07-17 03:33] KalyanChanumolu-MSFT commented on #59186
@GiriB Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-07-17 03:44] Kenneth-Abrams opened #59196 "AZ Monitor Container Insights Usage Workbook"
Documentation indicates there is a workbook in the gallery called "Container Insight Usage" for monitoring AKS Container Insights costs and usage. However, I do not see this in my AZ Monitor workbook gallery. How can I obtain this workbook as I am very interested to see Insight usage for my AKS clusters.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-07-17 03:45] CHEEKATLAPRADEEP-MSFT commented on #58527
@ElectricLlama Thanks for the feedback!  Your feedback  has been shared with the content owner for further review.

@mamccrea Could you please update the document to reflect version which supported Spark/Scala the Spark Connector?

[2020-07-17 03:49] Kenneth-Abrams commented on #59196
I found it, the documentation is not clear. You do not access the workbook from AZ monitor workbook blade. A user must navigate to AZ Monitor --> Container insights --> Select a cluster --> Workbooks.

[2020-07-17 03:49] #59196 closed

[2020-07-17 03:57] easarce commented on #41535
@jjindrich should we understand we can't use AAD guest accounts with WVD for the time being?

[2020-07-17 04:04] BharathNimmala-MSFT commented on #59181
@scyto No problem at all, thank you.

[2020-07-17 04:08] BharathNimmala-MSFT commented on #59196
@Kenneth-Abrams Thank you for sharing the steps to navigate for workbooks, will take this feedback to our document authoring team and see if we can add the steps to any of the documentation.

[2020-07-17 04:16] vipulsparsh commented on #59189
@jafrittsMSFT  Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@iainfoulds   Can you have a look at this ?

[2020-07-17 04:18] vipulsparsh commented on #59192
@cqueern Thanks for pointing that out. We will engage the content development team to perform necessary changes in the document.

@iainfoulds  Can you have a look at this ?

[2020-07-17 04:20] vipulsparsh commented on #59193
@thiruma0203 Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@TerryLanfear  Can you please have a look at this ?

[2020-07-17 04:27] SubhashVasarapu-MSFT commented on #59037
@daseth , The doc is being updated.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-07-17 04:27] #59037 closed

[2020-07-17 04:27] VikasPullagura-MSFT commented on #59103
@albecker1 Thanks for sharing the details.

[2020-07-17 04:28] SubhashVasarapu-MSFT commented on #59054
@magnuskarlssonhm , We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-07-17 04:28] #59054 closed

[2020-07-17 04:30] ToruMakabe commented on #59191
@KrishnaG-MSFT Thanks. Additional info. I can enable the metric alert from portal GUI. but still can not do it by ARM template.

![image](https://user-images.githubusercontent.com/993850/87748657-762f8580-c831-11ea-94f3-9dc2dc398bf9.png)

[2020-07-17 04:52] CHEEKATLAPRADEEP-MSFT commented on #59127
@ritu-jha, Make sure you have configured the diagnostic settings correctly.

**Step1:** Select you ADF => Under Monitoring => Diagnostic Setting => Add diagnostic setting

![image](https://user-images.githubusercontent.com/44426401/87749129-6c982480-c815-11ea-8f98-6309f9b612d9.png)

**Step2:** Configure Diagnostics Settings

![image](https://user-images.githubusercontent.com/44426401/87749396-314a

[2020-07-17 04:52] CHEEKATLAPRADEEP-MSFT commented on #14765
Make sure you have configured the diagnostic settings correctly.

**Step1:** Select you ADF => Under Monitoring => Diagnostic Setting => Add diagnostic setting

![image](https://user-images.githubusercontent.com/44426401/87749129-6c982480-c815-11ea-8f98-6309f9b612d9.png)

**Step2:** Configure Diagnostics Settings

![image](https://user-images.githubusercontent.com/44426401/87749396-314a2580-c816-1

[2020-07-17 04:55] MarkIannucci commented on #24999
Hi @cweining , I'm having trouble getting this set up.  Is this still on your radar?  Would you like me to open a new issue?

[2020-07-17 04:55] kobulloc-MSFT commented on #59070
@CharmanderJieniJieni This Azure SQL documentation gives you a list of PowerShell cmdlets for managing sensitivity labels in Azure SQL Database and Azure SQL Managed Instance, as well instructions on using the REST API:

https://docs.microsoft.com/en-us/azure/azure-sql/database/data-discovery-and-classification-overview#use-powershell-cmdlets

**PowerShell cmdlets for Azure SQL Database**
[Set-AzS

[2020-07-17 04:57] jjindrich commented on #41535
Correct, you cannot use external accounts.

[2020-07-17 05:00] SudheeshGH commented on #58974
@NavtejSaini-MSFT  : I did further test this and found that the timestamp shown while we select the backup is always shows one hour behind the current time , but when you restore the data it is having data 2-5 minutes from the current time. So the Up to 1 hour stands correct but the statement ". It relies on automatically created geo-replicated backups with a recovery point objective (RPO) equal t

[2020-07-17 05:16] VikasPullagura-MSFT commented on #59079
@ckittel Based on the information shared to you over email from the team, “evidence” is the existence of` "securityProfile": { "encryptionAtHost": "true" }` in the ARM template if generated from an existing resource.

[2020-07-17 05:16] #59079 closed

[2020-07-17 05:17] chineseneolight opened #59200 "why do not you update the template to be version 2019?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93a7a08f-2b74-eece-b263-03ab211cf805
* Version Independent ID: 73bbdc61-d007-687f-9f78-a0e5a9de1f28
* Content: [Integrate API Management with Service Fabric in Azure - Azure Service Fabric](https://docs.microsoft.com/en-us/azure/service-fabric/service

[2020-07-17 05:19] souravmishra-msft commented on #59023
@Ashok103606 , Thank you for sharing the details. Let me share the steps below for the whole process:

**Steps:**

1. You set the claimsMapping policy to a service principal object of an app registration to get certain claims issued to your token.
2. Next, you use any of the OAuth flows like be it **Client_Credentials** flow(mostly used when trying to get a token by the application) or **Auth-Code

[2020-07-17 05:29] CHEEKATLAPRADEEP-MSFT commented on #59178
Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)

You may post your query here: [Microsoft Q&A - Azure Databricks](https://docs.microsoft.com/en-us/answers/topics/azure-databricks.html)
Once you post your issue on forums,

[2020-07-17 05:29] #59178 closed

[2020-07-17 05:39] SnehaAgrawal-MSFT commented on #58874
@kazshi Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-07-17 05:42] VikasPullagura-MSFT commented on #59200
@chineseneolight
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-07-17 05:42] dcurwin commented on #59176
#reassign:SujayJDesai

[2020-07-17 05:42] VikasPullagura-MSFT commented on #59200
@athinanthny
Can you please check and add your comments on this doc update request as applicable.

[2020-07-17 05:51] rhp-adb opened #59201 "Configure networking for your VMware private cloud in Azure"
[Enter feedback here]
Document says that select route based VPN type for ExpressRoute Gateway type but when you select ExpressRoute Gateway type, there won't be any option for VPN type. Please update the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53c9e78f-7448-605e-4231-530cad0fdc78
* Version Indepen

[2020-07-17 05:52] tomkuijsten commented on #59123
@AnuragSharma-MSFT  thanks for the clarification!

@SnehaGunda exactly that should indeed be in the documentation, very clear description of how it is billed. Ps: I don't see the PR?

[2020-07-17 05:54] SujayJDesai commented on #59176
@danvalero yes MABS supports backup of SQL DB in Availability Group. We are in the process of updating the document. It should be up by early next week.

[2020-07-17 05:59] rhp-adb opened #59202 "Peer on-premises environments to a private cloud"
How do we connect private cloud for VMware from on-premise if we have site to site VPN connections between on-premise to Vnet on Azure. Please add procedure for this method as well.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5e365a3-e2f9-0fed-e8cc-8a6cad6224ef
* Version Independent ID: 8204c126-3976-8a5b-8c4a-58935

[2020-07-17 05:59] rick-hayek commented on #58960
@HarshitaSingh-MSFT  I finally find out how to modify policy file to remove the step for collecting displayname/givenname/surname from social account. so my first question get resolved. i got the idea from the step when you set up claims for user flow. Thank you!

now

[2020-07-17 06:25] Rick-Anderson opened #59203 "Add a certificate for custom domain PFX or App Svc cert?"
in [Add a certificate for custom domain](https://docs.microsoft.com/en-us/azure/app-service/configure-ssl-bindings#add-a-certificate-for-custom-domain) you offer 3 choices but don't give a clue on why you would choose one over the other.  Then you have a BIG  NOTE saying, there's a 3rd. That should be in the bullet list.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-07-17 06:26] Rick-Anderson opened #59204 "Once you obtain a certificate from your certificate provider, follow the steps in this section"
Can you provide a link on
How to obtain a certificate from your certificate provider?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc2ee874-df45-1de2-1b30-1fd75c7fd709
* Version Independent ID: ee181722-8386-9842-407f-d0549012d2e9
* Content: [Add and manage TLS/SSL certificates - Azure App Service](https://docs.micro

[2020-07-17 06:34] kobulloc-MSFT commented on #59150
@szcc You are correct.  It looks like the steps have updated slightly:

1. Go to your Google account security settings: https://myaccount.google.com/security
2. Under **Signing in to Google**, click on **2-Step Verification** (which should be set to on at this point)
3. Under **Authenticator app**, click on **Set Up**
4. Continue on Step 2 from the documentation (Get codes from the Authenticator a

[2020-07-17 06:37] sleesm opened #59205 "Please provide PowerShell code sample"
Please provide PowerShell code sample.
We have to use PowerShell to Azure Function of output with Cosmos DB and trying to use. However, there is no example code for that page, so I am inquiring about it.
Thank you.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 549d8479-4b0d-a018-c431-5dc1112a7fa

[2020-07-17 06:40] rick-hayek commented on #58960
for my **second** quesiton:
I'm reviewing the UserJourney for signing in social account (in my case it's an AAD account from another tenant).

It seems after user successfully gets authenticated, the user id (object id) from the source tenant is not returning within the claims. as a result the signin flow will create a new account in B2C tenant, and then put the object id of this new account in th

[2020-07-17 06:47] Sharmistha-Rai commented on #58804
@Rajeswari-Mamilla - requesting you to go through this query. Please let me know if any documentation updates are required.

[2020-07-17 06:56] xtrc opened #59206 "Custom caching rule #2: needs to be changed."
Hi there,

Please update the documentation for Custom caching rule #2. A file extension can only contain alphanumeric characters. Multiple extensions must be separated by commas. In the documentation it's shown as .html which is not allowed :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c83339e-38d0-e504-4410-9112b

[2020-07-17 06:57] RohitMungi-MSFT commented on #58951
@cladeira This change is now updated in the document. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-07-17 06:57] #58951 closed

[2020-07-17 06:59] WernerGIT opened #59207 "Information not up to date"
Hi,
the information on this page is not up to date.
I just downloaded Version 3.1.77.0 and installed it. The latest release information on this page is for a version that is one year old.
Would be good to know what have changed since then.
Thanks in advance.
Best regards
Werner

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-07-17 07:06] reinventit commented on #56741
@dlepow I appreciate your effort, thanks for looking into this!

[2020-07-17 07:13] JohnRusk opened #59208 "Can something be added to the deprecation notice to describe what we should use instead?"
The big yellow bog says that Kubernetes web dashboard is deprecated, but doesn't say which alternative(s) exist and should be used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ba1dad2-9792-2a7b-cdb6-68da0524cff3
* Version Independent ID: 42736112-f6db-d241-e89b-48fd2c35ceb7
* Content: [Manage an Azure Kubernetes Se

[2020-07-17 07:13] AshokPeddakotla-MSFT commented on #58855
@omki12  Could you please use $twin.tags.location instead of $twin.tags.Location and see if that makes any difference?
I have assigned the issue to the content author @robinsh  to evaluate and update the doc as appropriate.

[2020-07-17 07:13] JayaChatterjee-MSFT commented on #59205
@sleesm Thank you for your feedback! We will review and update as appropriate.

[2020-07-17 07:14] kobulloc-MSFT commented on #59150
@szcc I've updated the documentation and the change should be live soon.  Thank you again for helping to improve our documentation!

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-07-17 07:14] #59150 closed

[2020-07-17 07:17] HarshitaSingh-MSFT commented on #58960
Glad to know that the issue is resolved. Thanks for the follow-up.

[2020-07-17 07:19] VikasPullagura-MSFT commented on #54840
@jimzim can you please check and add your comments on this.

[2020-07-17 07:20] #58367 closed

[2020-07-17 07:22] SwathiDhanwada-MSFT commented on #58367
@the-mod You can now delete workspaces using PowerShell as the bug has been fixed by the engineering team. Below are the new commands that were added. I would suggest you to update your [Az.OperationalInsights](https://www.powershellgallery.com/packages/Az.OperationalInsights/2.3.0) module to latest version 2.3.0 and try to delete the workspace.

* Added '-ForceDelete' option for 'Remove-AzOperati

[2020-07-17 07:33] HarshitaSingh-MSFT commented on #58960
@rick-hayek, Yes, right. As B2C needs to capture information of the user who logs into it, it has to keep the record of the User. Also note that, the Source of the _social user_ and _another Tenant user_ will be different from the users in your Application's Tenant. And hence, you can always filter the users as per your requirement in the future -

![image](https://user-images.githubusercontent.co

[2020-07-17 07:35] VikasPullagura-MSFT commented on #59208
@JohnRusk
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-07-17 07:35] VikasPullagura-MSFT commented on #59208
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-07-17 07:36] RohitMungi-MSFT commented on #59120
@mjaow You can refer the this [notebook ](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/deployment/deploy-to-local/register-model-deploy-local.ipynb)for detailed steps of a working environment to deploy a web service locally and use it for debugging.

[2020-07-17 07:39] mjaow commented on #59120
@RohitMungi-MSFT yeah, that's the demo. But people cannot see the notebook in offical documents when they want to debug locally. I think that's the point

[2020-07-17 07:40] HarshitaSingh-MSFT commented on #59045
Hello @vronzeur !
Just checking to see if you have had a chance to see the previous response. Kindly let us know if it answers your question and if you need further assistance on this issue.

[2020-07-17 07:41] VikasPullagura-MSFT commented on #59201
@rhp-adb
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-07-17 07:42] VikasPullagura-MSFT commented on #59201
@georgewallace @divka78
Can you please check and add your comments on this doc update request as applicable.

[2020-07-17 07:44] VikasPullagura-MSFT commented on #59202
@rhp-adb
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-07-17 07:44] VikasPullagura-MSFT commented on #59202
@shortpatti @divka78
Can you please check and add your comments on this doc update request as applicable.

[2020-07-17 07:44] omki12 commented on #58855
mmm...
here's the update.
1. It works for
`"Location": "12"`
but not for
[code]

[2020-07-17 07:46] vronzeur commented on #59045
Hello @HarshitaSingh-MSFT
Yes I saw the response. I cannot imagine that this would be the final selection of user flows available, so I am curiously waiting for future updates. We right now have switched to custom policies but hopefully Azure's default selection is soon enough for all combinations of authentication methods.

Thank you for your response :)

[2020-07-17 07:55] rhp-adb commented on #59201
I don't think document is updated. It still shows VPN type in the document.

[2020-07-17 08:00] VikasPullagura-MSFT commented on #59125
We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-07-17 08:00] #59125 closed

[2020-07-17 08:05] VikasPullagura-MSFT commented on #59169
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-07-17 08:12] MayankBargali-MSFT commented on #58962
@LeaShallev Just following up here. Hope my previous comment clears things up.

[2020-07-17 08:17] rboucher commented on #57914
@yeswps I have an extensive update about this topic if you'd like to be the first to review it. I need a non-Microsoft person to take a look.  No obligation though.  Let me know if you are interested by replying here.

[2020-07-17 08:17] SnehaAgrawal-MSFT commented on #59203
@Rick-Anderson Thank you for your feedback! We will review and update as appropriate.

[2020-07-17 08:17] SnehaAgrawal-MSFT commented on #59204
@Rick-Anderson Thank you for your feedback! We will review and update as appropriate.

[2020-07-17 08:23] GitaraniSharma-MSFT commented on #59111
@alexchen2016 , the document has been edited as requested and it will be reflected shortly.

[2020-07-17 08:26] AshokPeddakotla-MSFT commented on #58855
@omki12 Thanks for the confirmation.

[2020-07-17 08:35] PonsonT opened #59209 "Can't find Get-AzVMGuestPolicyReport"
The document talks about a powershell command "Get-AzVMGuestPolicyReport" which don't exist

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64d59d02-adec-8efa-6dc2-5ff2b90d70a2
* Version Independent ID: ef46f32b-d216-985d-4dd3-7d7dbe87c2f0
* Content: [Determine causes of non-compliance - Azure Policy](https://docs.micro

[2020-07-17 08:38] vipulsparsh commented on #59207
@WernerGIT  Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@billmath  Can you have a look at this ?

[2020-07-17 08:42] sub2d opened #59210 "Friendly name mapping"
Please add table with product names and service plan identifiers available as txt file or some other format that would make it available for automation to look for the latest update. Current table is okay but required manual effort to extract table only.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1

[2020-07-17 08:48] femsulu commented on #58856
Hello @Brucius - sorry for the delay.  Have you considered  [backup + restore ](https://docs.microsoft.com/en-us/azure/azure-sql/database/automated-backups-overview?tabs=single-database)of the SQL managed instance to a new instance created in the desired subscription? Check out the [geo-restore](https://docs.microsoft.com/en-us/azure/azure-sql/database/recovery-using-backups#sql-managed-instance-3

[2020-07-17 08:48] #58856 closed

[2020-07-17 08:49] dan-gibbons commented on #57029
Hi @KrishnaG-MSFT - did this get looked in to?

[2020-07-17 08:53] shyraz-git opened #59211 "Tutorial: Azure Active Directory single sign-on integration with SharePoint onLine"
hi
I need a guide for integrating SharePoint online in the azure ad identity provider
thanks for advance .
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abc120a6-1b98-874a-1cfb-b43456f4a718
* Version Independent ID: 1008851f-9a43-953c-e6c1-269397268c72
* Content: [Tutorial: Azure Active Directory

[2020-07-17 09:07] ryotokuro commented on #59194
Good call. I think the wording and the grammatical order makes it confusing.
I propose this change which seems simpler to digest (for me):

[2020-07-17 09:09] ryotokuro commented on #59200
@chineseneolight are you referring to the HTTP response?

[2020-07-17 09:36] myvmx commented on #58362
Hi I am getting the same issue too

[2020-07-17 09:38] JavierHernandezMontes commented on #6163
This still happens when you rename a trigger, that will not stop nor delete the trigger with the old name. Even it doesn't appear on the UI it keeps triggering with the old and new name

[2020-07-17 09:47] msandbu opened #59213 "Does this work for latest Kubernetes 1.16 API version?"
Running the following sample

service/party-clippy created
ingress.extensions/party-clippy created
error: unable to recognize "*.yaml": no matches for kind "Deployment" in version "extensions/v1beta1"

Does this need an update for later API versions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51a32f9e-c92f-412b-d46

[2020-07-17 10:17] cqueern commented on #59194
Looks good @ryotokuro. Thanks for taking a look and for your team's hard work.

[2020-07-17 10:24] DivyaUmasankar commented on #35478
@mohamed-shehata-m @SnehaAgrawal-MSFT , I am currently facing the same issue

2 App service plans. 1st App serice plan net Integration is working and 2nd App service Plan is throwing the error saying Non recoverable error from data base lookup. Could you please advise of the resolution?

[2020-07-17 10:25] RohitMungi-MSFT commented on #59120
@mjaow We've added a reference to the notebook. @clauren42 Could you please review and approve the PR [122758](https://github.com/MicrosoftDocs/azure-docs-pr/pull/122758)?

[2020-07-17 10:45] Sharmistha-Rai commented on #58969
@cyrusvivek - the issue with variable $CacheStorageAccount has been fixed in the PowerShell script.

[2020-07-17 10:47] SubhashVasarapu-MSFT commented on #59206
@xtrc , Appreciate your feedback. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-07-17 10:47] #59206 closed

[2020-07-17 10:48] sharadrumane commented on #59149
@BharathNimmala-MSFT thanks for your response the issue is now solved. I have to make change in config.yaml file I have change

moby_runtime:
  uri: 'npipe://./pipe/iotedge_moby_engine'

to
moby_runtime:
  uri: 'npipe://./pipe/docker_engine'

[2020-07-17 10:50] GitaraniSharma-MSFT commented on #59114
@ranjeetgarodia , I have reproduced the issue via Azure portal and the deployment of Application gateway with multi-site listener failed with following error : "_Two Http Listeners of Application Gateway fabrikamListener and contosoListener are using the same Frontend Port and FrontendIpConfiguration_". But when I tried creating this Application gateway via PowerShell, it worked.

Essentially basi

[2020-07-17 10:50] SubhashVasarapu-MSFT commented on #58984
@dkreymerman-byredwood , Appreciate your patience. As of now we have -i & -f switches supporting on CLI for Azure VPN. I would suggest you to submit your feedback in this [section](https://feedback.azure.com/) for its future availability.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-07-17 10:50] #58984 closed

[2020-07-17 10:51] vipulsparsh commented on #59210
@sub2d  Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@kkern13  Can you have a look at this ?

[2020-07-17 10:52] saroup commented on #59178
@CHEEKATLAPRADEEP-MSFT I guess I am not sure that the documentation is correct or may be missing some information since I followed it to the letter and didn't work :) something is missing

[2020-07-17 10:53] SubhashVasarapu-MSFT commented on #59107
@kewu-93 , Appreciate your feedback. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-07-17 10:53] #59107 closed

[2020-07-17 10:55] wolfganggallo opened #59214 "Support for PATCH requests"
The page contains two pieces of information that seem to contradict each other:

1. Within the SCIM 2.0 protocol specification, your application **must** meet these requirements:
    - **Supports** modifying users or groups with **PATCH requests**, as per section 3.5.2 of the SCIM protocol.

2. Follow these general guidelines when implementing a SCIM endpoint to ensure compatibility with Azure AD:

[2020-07-17 11:09] hem-sharma opened #59215 "Enterprise applications in Azure active directory related guidance required."
This is to reference with using Non-gallery enterprise application in Azure AD, Need to know the followings:

- Whether we can publish our app without SSO as we can see there is SSO by default,

- Can we add up custom headers(e.g APIM Ocp subscription key) in requests?

Can someone from the team help us out within this regard?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-07-17 11:13] vipulsparsh commented on #59124
@alexchen2016  We will be closing this now, please tag me if you have any questions.

[2020-07-17 11:13] #59124 closed

[2020-07-17 11:17] KrishnaG-MSFT commented on #58948
@DataBitz I have tried to reproduce the issue in multiple different environments and the observation is not always particular TimeGenerated value and consecutive breaches work because it would depend on how often the InsightsMetrics table is fetching the data for Origin vm.azm.ms. However, assigning @bwren for visibility our your feedback, review it and to help provide additional insights or consi

[2020-07-17 11:18] vipulsparsh commented on #59214
@wolfganggallo Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-07-17 11:21] vipulsparsh commented on #59215
@hem-sharma  Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-07-17 11:25] ii-batman opened #59216 "How to create a dynamic group based on MFA"
Hi, I need to create a dynamic group for user not MFA enrolled.

In Powershell the code would be:
`Get-MsolUser -All | Where-Object {$_.StrongAuthenticationMethods.Count -eq 0 -and $_.BlockCredential -eq $False} | Select-Object -Property UserPrincipalName`

what would the expression be in Azure to be able to create a dynamic group?
Thanks, M

---
#### Document Details

⚠ *Do not edit this section.

[2020-07-17 11:33] asergaz commented on #58841
Thank you @GiantCrocodile . We appreciate all your feedback and will take it into count.

If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-17 11:37] kgopi05 opened #59217 "Permissions to view VMinsights-maps"
Hi,

Can we get custom resource-provider-operations (custom RBAC role actions) which allows to view the VMinsights-maps ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a3231f7-edb9-b5a4-159a-799ffcbea1e8
* Version Independent ID: 3de22e57-4beb-0d2f-337e-921fa46101ab
* Content: [View app dependencies with Azure Monito

[2020-07-17 11:53] shashishailaj commented on #59211
@shyraz-git Thank you for your feedback . We will investigate and update the thread.

[2020-07-17 12:02] schlickspringer commented on #43686
Isthere any update on this? I'm still not able to deploy AGIC with shared: true with latest AGIC version.

[2020-07-17 12:13] shashishailaj commented on #59216
@ii-batman Thank you for your feedback . We will investigate and update the thread.

[2020-07-17 12:24] shashishailaj commented on #58397
@goh-chunlin Your Pull request has been moved to internal repo and is awaiting review from the team . You may not be able to see the same as its only accessible internally . Once it is reviewed we will have it updated here.

Thank you.

[2020-07-17 12:26] shashishailaj commented on #58397
@moiradillon12 Could you please review the PR and update once it has been merged? Thank you for your help.

#reassign:moiradillon

[2020-07-17 12:27] PRMerger13 commented on #58397
moiradillon is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-07-17 12:33] saroup commented on #59178
For those who hit the same issue following this documentation. Try using the NotebookTask.
You would upload your notebook to the workspace under a folder ("Test" for me) and use it instead of the spark_submit_task

 ""notebook_task"": {
        ""notebook_path"": ""/Test/helloworld""
        }
and make sure to NOT include the extension of the notebook.
Not sure if documentation should be updated b

[2020-07-17 12:44] peterboba opened #59219 "Missing information on how to disable anonymous public access in ARM templates"
No information whatsoever on how to disable anonymous public access for storage account in ARM templates. Found out that

[code]

in the storage account resource works.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a299cd29-143b-c263-7996-3467035b8937
* Version Independent ID: a8a1d0d0-411e-44eb-51da-c1f8ab90befa
* Co

[2020-07-17 13:07] mrbullwinkle commented on #59187
Looks like this PR orphaned that doc from the TOC:

![image](https://user-images.githubusercontent.com/31510320/87789324-dcee7800-c80c-11ea-9525-bdf90682eee2.png)

I'll get it added back today, thanks for letting us know.

[2020-07-17 13:11] mjaow commented on #59120
awesome, thanks for help.

[2020-07-17 13:25] Krumelur opened #59221 "Unable to follow"
We tried to use these instructions to create a VM under my subscription.
The shared gallery would be on my coworkers subscription.

In the end, we got this error when running the command to create the VM:

[code]

I think a diagram would be helpful. If someone is reading this and is interested in discussing the instructions, reach out to me on Teams, alias `renrup`.

---
#### Document Details

⚠ *

[2020-07-17 13:27] DCtheGeek commented on #59209
#assign:DCtheGeek

[2020-07-17 13:28] #58960 closed

[2020-07-17 13:29] #58810 closed

[2020-07-17 13:36] DCtheGeek commented on #59209
@PonsonT You are correct.  This cmdlet was renamed got `Get-AzVMGuestPolicyStatus` and is available in the **Az.GuestConfiguration** package on the PowerShell Gallery here: https://www.powershellgallery.com/packages/Az.GuestConfiguration.  I'll get this fixed, thanks for pointing it out!

@MicrosoftDocs/azure-cxp-triage Please label 'doc-bug' and #in-progress.

[2020-07-17 13:40] DCtheGeek commented on #59209
@PonsonT I've submitted the PR to fix this issue.  When it merges, this issue will automatically close.  Publishing of that content will happen sometime after merging.  Thanks again for bringing this to our attention!

[2020-07-17 13:43] realrubberduckdev opened #59222 "Cannot create diagnostic setting at Global location topic"
Hi,

The documentation is really good, so thank you for that. But applying it in case of a system topic like Azure subscription as the event source doesn't work.
Is there a way to do this or is this a technical bug?

**Steps**:
- Create an event grid system topic that has an Azure subscription as source. By default on Azure portal, it gets created at location `Global`. The ARM template is below:
[

[2020-07-17 13:51] KentKingery opened #59223 "Portal now supports Delete option for spot instances"
This page says that the Delete option for spot instances is not available via the portal. However, as of this message, the option is shown on the portal page.

This is a minor point, but I thought I'd point it out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bcebc93-3efa-b89a-e348-cb6605dbac9e
* Version Independent

[2020-07-17 13:51] iAmBipinPaul opened #59224 "Limit does not work on Edge"
`g.E()`  => it returns all the edges

`g.E().Limit(4)` =>  it return` 0` result

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2700fc00-4872-6fcf-65e0-ab9fd5fde2a1
* Version Independent ID: e828bbb5-2c22-17f2-32aa-aa3773c55806
* Content: [Build an Azure Cosmos DB .NET Framework, Core application using the Gremlin API](

[2020-07-17 13:56] #59209 closed

[2020-07-17 14:01] KinoriSR commented on #59097
Oh... missed that! Both using `date_parser` and the `CognitiveServicesCredentials` together resolved the issue. Thank you!

[2020-07-17 14:01] #59097 closed

[2020-07-17 14:17] farooqkh opened #59225 "AMS v3 AES Encryption support timeline"
Is there plan to support AES 256 encryption in AMS v3? If so, can you share when it'll be available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0e62a40-3aaf-82ea-2bbe-81894c7e7728
* Version Independent ID: 28422148-8483-572b-5d4f-1064970d408d
* Content: [Encrypting your content with storage encryption using AMS RE

[2020-07-17 14:27] AnuragSharma-MSFT commented on #59224
@iAmBipinPaul Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-07-17 14:29] lucashuet93 opened #59226 "Set-body policy is allowed in on-error block"
There is a doc bug or potentially a behavior bug in the global on-error policy definition. Set-body is not listed as one of the allowed policies in on-error but it appears to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f1f26d3-94ce-6840-ee8a-d358113b56aa
* Version Independent ID: d2f8fc50-3785-6950-304b-69986

[2020-07-17 14:30] RyanHill-MSFT commented on #59185
Hi @IssacLeeWebDev, I wasn't able to replicate your issue across Edge, Chrome, Chrome (Incognito), or Firefox. For Chrome, I do have the same build as you do. I'm on a Windows machine so can't confirm with Safari. I don't have any theories as to why the markdown would be split like that. Have you tried any other browsers? What about on a Windows machine?

![2020-07-17 10_11_13-Send push notificati

[2020-07-17 14:36] amit-sycomp opened #59227 "I am not getting the elements to declare integer , Any textbox and other common selection box accepts only string"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48b64bcb-c53c-08c4-e656-b42130bb815c
* Version Independent ID: d1c34492-c908-9f1a-618f-47a4274d4205
* Content: [Create UI definition elements - Azure Managed Applications](https://docs.microsoft.com/en-us/azure/azure-resource-manager/managed-applicati

[2020-07-17 14:42] entarome opened #59228 "DIV function"
Overall the description of function is extremely poor. No "if else" scenarios given.

Moreover, DIV function description is incorrect. It says "Return the integer result from dividing two numbers". Yet it returns FLOAT if the first number is float.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03aa9e88-7fa0-56ab-f794-

[2020-07-17 14:46] hansmbakker opened #59229 "Manual XSD file supply?"
How can we manually supply the XSD file that is used for the XSD validation?

I know the XSD is specified in the format of a URL in the XML file, but in a lot of cases, the referenced schema is not actually hosted on the internet at the given URL.

In that case, the XSD needs to be specified manually. How can we do that?

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-07-17 14:48] medavamshi commented on #54840
D8sv3 is the minimum supported deployment for aro for the masters. Docs are updated a month ago to reflect this

[2020-07-17 14:50] aaronnavratil opened #59230 "Custom Claim transform functions - need more functionality"
I have tried multiple permutations of existing functions and am unable to get a result that is very simple with ADFS - and yes I have opened a case on this issue (120070721001865).

We have designated an extensionattribute as a "saas information attribute" which means we have placed a delimited string in the attribute so that we can provide applications with claim information. A sample string woul

[2020-07-17 14:50] jjonesu opened #59231 "mea culpa - found it"
Reasonably useful until instructions and web site diverged (Create New Resource). Ugh.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ab20294-c13e-b533-726f-9fde3005431d
* Version Independent ID: 0e47f11d-7656-8a6f-6e9a-ac0184ed4d15
* Content: [Try the Speech service for free - Azure Cognitive Services](https://docs.m

[2020-07-17 14:53] #59231 closed

[2020-07-17 14:53] jjonesu commented on #59231
found it

[2020-07-17 14:54] PramodValavala-MSFT commented on #59040
@ms-zhouma Hope my previous comment clears things up.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-17 14:54] #59040 closed

[2020-07-17 14:58] DavidSchrag opened #59233 "Screenshots need updating"
The Basic SAML Configuration page in the Azure portal puts Entity ID above Reply URL, among other things. I haven't done a thorough review of all the screen shots.

![image](https://user-images.githubusercontent.com/49877254/87800417-5fcaff00-c81c-11ea-9abd-3f45a44c6f48.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-07-17 15:02] mbiver opened #59234 "Following PowerShell steps can result in Internal error and leave VM's in unhealthy state"
Hello, I'm concerned that the PowerShell steps on this page to detect whether or not you can resize your VM's without deallocating are incorrect.  I've placed repro steps below.  This has the potential to put customers in a state where all actions against the VM's will fail and will generate support tickets.  Please let me know if you have any questions.  Thanks!

1. Create a new windows VM size S

[2020-07-17 15:04] balintbako opened #59235 "Support for newer CentOS versions"
Hi,

 Is there an ETA for CentOS 7.8 support? Other VM extensions support 7.8 but because of Disk Encryption we can't update the OS the 7.8

 Also, is there an ETA for CentOS 8.x support?

Regards,
 Balint

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 358673f9-fd9a-3357-bf50-4d9b7fbe6cc6
* Version Independent ID: a497

[2020-07-17 15:04] MGoedtel commented on #59196
I'll bug this and fix the article next week.  It should be updated to reflect the two ways you can access the workbook and that the workbook is listed differently in the Workbooks drop-down list when you are in AzMon for Containers (it is listed as Data usage) versus when you go to the Workbooks gallery (i.e. Container Insights Usage).

[2020-07-17 15:13] yeswps commented on #57914
@rboucher yeah, it will be my pleasure! Please let me know what I can do to contribute.

[2020-07-17 15:19] jurjenoskam commented on #58695
@rohitnayakmsft Thanks, that's better! But could you change "support" to "use", like this?

"Connections to Private Endpoints always use Proxy as the connection policy, regardless of the server level setting for Connection Policy"

Perhaps it's because English is not my first language, but for me "only supports <x>" conveys a requirement, in that it indicates that I need to set something to <x> fo

[2020-07-17 15:19] Plus3IT-Azure opened #59236 "Azure AD Connect with Public Cloud"
Hello, my question is rather simple.

Can I use Azure AD Connect to connect my public cloud (Azure Commercial) to a Sovereign cloud? (Azure Germany or Azure Gov). Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b17a26ec-5c26-483c-f51e-c45f614e1541
* Version Independent ID: e1662540-fc8b-895d-67c8-3f84792c4a00

[2020-07-17 15:27] #55821 closed

[2020-07-17 15:28] zr-msft commented on #55821
Thank you @smarthall for the feedback!

I have updated the article to address your feedback and the changes should be available soon.

[2020-07-17 15:33] rebremer commented on #58426
@shashankbarsin thx, I still have the same, changing database from default to my actual database does not resolve this. I will send an email to azcommunity[at]microsoft[dot]com

[2020-07-17 15:37] ehashman commented on #54840
Link to the documentation on supported master sizes: https://docs.microsoft.com/en-us/azure/openshift/support-policies-v4#master-nodes

[2020-07-17 15:53] MarileeTurscak-MSFT commented on #59230
@aaronnavratil
Thanks for this. This is good feedback. Right now the best place to get visibility for this is in [User Voice](https://feedback.azure.com/), our platform for product feedback. If you leave the feedback there it will go straight to the product team, and if you share the link with me I will share it around and upvote it. I'll also share your feedback along.

[2020-07-17 15:53] MarileeTurscak-MSFT commented on #59230
Closing this out but please do post in User Voice and share the feedback link with me. https://feedback.azure.com/forums/34192--general-feedback

[2020-07-17 15:53] #59230 closed

[2020-07-17 15:55] JaredCross commented on #56588
@ArvindHarinder1 Thank you for the update!

[2020-07-17 15:59] #59189 closed

[2020-07-17 16:04] #59192 closed

[2020-07-17 16:05] aaronnavratil commented on #59230
ok - feedback posted here
https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/40933990-allow-regex-or-string-processing-for-claim-tranfor

On Fri, Jul 17, 2020 at 8:53 AM Marilee Turscak - MSFT <
notifications@github.com> wrote:

[2020-07-17 16:06] JasonWHowell commented on #59098
@mingshen-ms can you please recommend a point of contact? #reassign:mingshen-ms

[2020-07-17 16:08] Robert-Kostecki opened #59238 "Does IDENTITY generate unique values?"
According to this article “A surrogate key on a table is a column with **a unique identifier for each row**.” and “**You can use the IDENTITY property to achieve this goal**”.

This implies that the Identity does provide unique values (for the surrogate keys). However, the article below, which “Applies to Synapse”, seem to directly contradict this statement:

“The **identity property on a column d

[2020-07-17 16:09] #52923 closed

[2020-07-17 16:10] JasonWHowell commented on #58838
@mingshen-ms can you please recommend a contact? there is no author set yet.

[2020-07-17 16:10] JasonWHowell commented on #58838
#reassign:mingshen-ms

[2020-07-17 16:10] zr-msft commented on #52923
Thank you @ezYakaEagle442 for the feedback!

I have updated the article to address your feedback and the changes should be available soon.

[2020-07-17 16:12] JasonWHowell commented on #58839
@keferna can you please take a look, and assist with this customer's doc related question? Thanks, Jason
#reassign:keferna

[2020-07-17 16:13] JasonWHowell commented on #59164
@keferna can you please assist this customer with this currency-related doc question?
#reassign:keferna

[2020-07-17 16:15] JFolberth opened #59239 "CI/CD pipeline configuration approach does not make sense"
The CI/CD path shows deploying to a 'staging slot' and having a gate check run before deploying to staging.  Then deploy to production.  Technically this doesn't make sense.  Why would there be a gate on a staging slot? Shouldn't the deployment to the staging slot occur w/o a gate and then an auto swap happen?  This would allow the production slot instance to continue running during the swap since

[2020-07-17 16:17] erindormier commented on #51719
@ArcherAZ's answer is above. #please-close

[2020-07-17 16:17] #51719 closed

[2020-07-17 16:18] BharathNimmala-MSFT commented on #59227
@amit-sycomp Thank you for your query, we will look into it and get back to you at the earliest.

[2020-07-17 16:20] DerekHerman-MSFT commented on #59219
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-17 16:23] Mike-Ubezzi-MSFT commented on #58426
Hi @rebremer, I saw your email. With the Universal with MFA AD authentication type working, the issue here is likely with the Windows10 VM not being part of the the same tenant, or formally invited from another tenant, as is the credential being used. As for needing to change the `Connect to database:` from <default> to the specific user database, applies to contained database users where a LOGIN

[2020-07-17 16:31] XiaoyuMSFT commented on #59238
@mstehrani Can you respond to this?

[2020-07-17 16:37] dan-gibbons commented on #57029
No problem, thanks for the quick response!

[2020-07-17 16:45] tfurstms opened #59241 "Update to Manage inactive user accounts in Azure AD"
Hello - LastSignInDate is key identifier for inactive accounts (which is covered by this page). Another key identifier is an account that is a member of zero groups. A common example scenario is guest accounts that have been removed from all guest memberships via Access Reviews.  If you could publish a Graphi API example and/or PowerShell example showing how to get a list of users that have zero g

[2020-07-17 16:48] peterpogorski commented on #59034
@m1nkeh are you running the local container image for your one box environment as outlined in this document? https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-mac

If so which version of this container image are you using?

[2020-07-17 16:49] himanshusinha-msft commented on #58829
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-07-17 16:50] ChaitanyaNaykodi-MSFT commented on #59222
@realrubberduckdev, Thank you for your feedback! We will review and update as appropriate.

[2020-07-17 16:52] ChaitanyaNaykodi-MSFT commented on #59226
@lucashuet93, Thank you for your feedback! We will review and update as appropriate.

[2020-07-17 16:53] ChaitanyaNaykodi-MSFT commented on #59228
@entarome, Thank you for your feedback! We will review and update as appropriate.

[2020-07-17 16:54] RyanHill-MSFT commented on #59179
@dhruvb14 can you elaborate further on your question? Are you asking if ASE supports Linux ASPs? Or are asking if there are different/new base images that are used in Linux ASPs that are in an ASE?

[2020-07-17 16:57] dhruvb14 commented on #59179
Specifically asking if there is any new endpoints needed when this is running in azure government which our firewall teams need to unblock because currently deploying a Linux ASP fails.

[2020-07-17 17:01] ChaitanyaNaykodi-MSFT commented on #59239
@JFolberth, Thank you for your feedback! We will review and update as appropriate.

[2020-07-17 17:02] PavelPikat opened #59242 "Max Banked Credits values are incorrect"
The listed max banked credits for Standard_B2s are incorrect.
Listed: 576
Actual maximum CPU Credits remaining value seen in Azure Portal for Standard_B2s: 618

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cd2e24b-0fd3-d698-2840-3f8206933026
* Version Independent ID: 832dc371-480a-c74a-e956-e1904473af31
* Content: [B

[2020-07-17 17:04] blackhill opened #59243 "Application Insights Continuous Export - Missing data in exported blobs"
Hi,

I've been testing the continuous export feature for a couple of days now and data are missing in the exported blob files.
All the expected data are visible in AI/Seach but only some of them are exported to my storage.
I've waited a couple of hours and the data are still not exported.

Is there something that I am missing here?

Kind regards,
Steven

Location: West Europe
Content: [Continuous

[2020-07-17 17:06] cynthn commented on #59223
@KentKingery Thanks for the feedback! Yep, "delete" is a supported eviction type now. I'll try to get the doc updated today.

Thank you!

[2020-07-17 17:13] JimacoMS3 commented on #58154
@elhorton @nayato @SatishBoddu-MSFT The updates have been pushed live and can be found in this [section](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-mqtt-support#receiving-cloud-to-device-messages) of the **MQTT support topic**, I'm now going to move to close this issue. If you think the problem still needs attention please @-comment me here or reach out via email or Teams. Thanks for y

[2020-07-17 17:13] MicahNikkel commented on #49500
@bandersmsft Thank you very much for the tips above on March 4th, as they were very helpful.  I don't know how I would have figured that out otherwise!

[2020-07-17 17:13] JimacoMS3 commented on #58154
#please-close

[2020-07-17 17:13] #58154 closed

[2020-07-17 17:22] Karishma-Tiwari-MSFT commented on #58644
We will now close this issue. Please help me with more details and tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-07-17 17:22] #58644 closed

[2020-07-17 17:22] Karishma-Tiwari-MSFT commented on #58825
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-07-17 17:22] #58825 closed

[2020-07-17 17:24] an-prog opened #59244 "Getting unknown host exception while running the code - at io.netty.util.concurrent.FastThreadLocalRunnable.run (FastThreadLocalRunnable.java:30) at java.lang.Thread.run (Thread.java:748) Caused by: java.net.UnknownHostException: xx.vault.azure.net at java.net.InetAddress.getAllByName0 (InetAddress.java:1281)"
[Enter feedback here]
I am trying to run the code and  getting this exception
 at io.netty.util.concurrent.FastThreadLocalRunnable.run (FastThreadLocalRunnable.java:30)
    at java.lang.Thread.run (Thread.java:748)
Caused by: java.net.UnknownHostException: <name>.vault.azure.net
    at java.net.InetAddress.getAllByName0 (InetAddress.java:1281)
    at j
I setup all variable and followed all steps o

[2020-07-17 17:27] psmanhas commented on #58298
@1RedOne Apologies for the delay in response.

When you say enable Defender, are you on WS2012R2 and trying to install SCEP using Microsoft Antimalware extension?
If so, no exclusions will be applied unless you pass some.

If you have WS2016 and above, there is no need to enable defender as its part of OS image and all the built in exclusions will be applied. No extra work required.

Hope this was

[2020-07-17 17:33] hpsin commented on #47893
Just a heads up here - Azure AD follows the OAuth 2.0 spec here, which states that specifically for loopback redirects an exact match is required *except for the port URI component* on localhost requests.  It is expected that on localhost you can choose any port.  We will look into updating the portal to make this more obvious and not allow localhost port components.

[2020-07-17 17:34] ranjeetgarodia commented on #59114
thanks team for updates.

On Fri, Jul 17, 2020 at 5:51 AM Gitarani Sharma <notifications@github.com>
wrote:

--
regards
Ranjeet Garodia

[2020-07-17 17:36] StingyJack commented on #46001
IIRC the version of docker compose I had installed was working for other container registries, but was not working with the AZ CLI tools and an ACR.

[2020-07-17 17:42] kobulloc-MSFT commented on #59070
@CharmanderJieniJieni We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-07-17 17:49] JamesTran-MSFT commented on #59233
@DavidSchrag
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-07-17 17:50] jpborsi opened #59247 "Bad FQDN for central us blob"
Was unable to look up the ip for
dbartifactsprodcentralus.blob.core.windows.net

Did you mean:
dbartifactsprodcus.blob.core.windows.net

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a44cbeaf-af2c-ef7e-b411-24556279d898
* Version Independent ID: aaced3ee-7d7c-a9d6-a81b-b132674fa055
* Content: [User-defined route settin

[2020-07-17 18:04] skamalj opened #59249 "Stream Aanalytics Job Error - IotHub"
Stream analytics job does not show any data.  "input" set for analytics jobs fails to collect data from iothub with error - "Could not deserialize the input events"
I am using "JSON" on job input.

There are three parts to this tutorial:-
1. Send data to storage container - This worked OK
2. Send mail for "critical messages" - This worked OK
3. Send data to BI dashboard via stream analytics job -

[2020-07-17 18:06] MarileeTurscak-MSFT commented on #59236
@Plus3IT-Azure
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-17 18:07] MarileeTurscak-MSFT commented on #59241
@tfurstms
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-17 18:09] MarileeTurscak-MSFT commented on #59244
@an-prog
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-17 18:11] v-demjoh commented on #50841
https://github.com/MicrosoftDocs/azure-docs-pr/pull/122807

We shouldn't say "jump right in" if we aren't providing a direct link to a 1:1 code mapping. These links once got close to that, but these are legacy links that don't link so directly now. So first, let's deliver a less frustrating claim to readers.

[2020-07-17 18:18] cmars opened #59250 "What happened to the openssl bash examples for verifying attested data?"
I don't use powershell, and found the `openssl smime` examples much more useful. Please bring them back.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fdce995-5347-32c4-119f-6e8484250859
* Version Independent ID: 3dcfe7f4-cbb8-6323-5d93-b7e6b7f74db7
* Content: [Azure Instance Metadata Service - Azure Windows Virtual

[2020-07-17 18:22] KumariSupriya commented on #59250
Thank you  for your feedback. The examples are still present in the Linux version of the document under https://docs.microsoft.com/en-us/azure/virtual-machines/linux/instance-metadata-service#attested-data. The windows version of the document was updated to reflect powershell commands. Hope that helps.

[2020-07-17 18:40] Mike-Ubezzi-MSFT commented on #59186
Want to add as a point of clarification so that in the _Create an Azure service account_ ([link](https://docs.microsoft.com/en-us/azure/cosmos-db/table-storage-how-to-use-ruby#create-an-azure-service-account)) it does indicate that the service account is either an Azure Table storage account or an Azure Cosmos DB for Table API account:

[2020-07-17 18:44] TravisCragg-MSFT commented on #59182
@bunkrur If you would like to add this feature in the future, [please leave your feedback at Azure Networking's feedback.azure.com page](https://feedback.azure.com/forums/217313-networking).

[2020-07-17 18:48] solcada commented on #58829
Thanks,

I was able to get it going using a raspberry pi and preinstalling

sudo apt-get update
sudo apt-get upgrade
sudo apt-get install build-essential cmake uuid-dev
sudo apt-get install openssl libssl-dev
sudo apt-get install libqpid-proton11 libqpid-proton11-dev
libqpid-proton11-dev-doc

On Sat, Jul 18, 2020, 4:49 AM himanshusinha-msft <notifications@github.com>
wrote:

[2020-07-17 18:49] cmars commented on #59250
@KumariSupriya Yes it does, thanks for that link! I've had the original page bookmarked for a while, and got worried for a bit there.

[2020-07-17 18:51] zr-msft commented on #46588
Thank you for the follow up @juyamash

I have further clarified the language in the opening Important box:
https://docs.microsoft.com/azure/aks/api-server-authorized-ip-ranges

[2020-07-17 18:51] cmars commented on #59250
Another thought, it might be nice to be able to switch between windows and linux docs via navigation?

[2020-07-17 18:52] JamesEarle opened #59251 "Remove Twitter integration from this tutorial"
The Twitter Integration in this tutorial is not needed for the overall goal and only adds complexity. While this is interesting work and a good source of data, it should not be included in this tutorial. Perhaps a separate tutorial can be solely focused on integrating with this data source.

For this document the goal is to send to and read from your Event Hub using the Azure DataBricks notebook.

[2020-07-17 18:54] SatishBoddu-MSFT commented on #59166
@jimlane
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-17 18:54] #59166 closed

[2020-07-17 18:57] KumariSupriya commented on #59250
Thanks @cmars , that's a good feedback and we will look into that and update.

[2020-07-17 19:06] originalnetadmin opened #59252 "Incorrect JSON input file syntax provided"
The JSON syntax provided is incorrect.  The actual input file should look like that below.

{
     "Name": "Linux Fence Agent Role",
     "Description": "Allows to power-off and start virtual machines",
     "AssignableScopes": [
         "/subscriptions/c276fc76-9cd4-44c9-99a7-4fd71546436e",
         "/subscriptions/e91d47c4-76f3-4271-a796-21b4ecfe3624"
     ],
     "Actions": [
         "Microso

[2020-07-17 19:08] officedrone opened #59253 "Custom roles 'Actions' capitalization issues"
[Enter feedback here]
Creating custom role results in parsing error when using the sample custom roles and editing the definition in the portal. Parsing error is due to 'Actions' being capitalized (expectation seems to be for it to not be capitalized  'actions' ).

See screenshot below:

![image](https://user-images.githubusercontent.com/67024372/87821579-112e5c80-c83e-11ea-9b59-7bce2baaa910.png)

[2020-07-17 19:15] #58829 closed

[2020-07-17 19:17] femsulu commented on #59149
Thanks for the update, @sharadrumane. Glad this is now resolved.

We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

#please-close

[2020-07-17 19:17] #59149 closed

[2020-07-17 19:25] DeanGross opened #59254 "Prerequisites - licensing"
[Enter feedback here]
WHat type of Azure AD license is required? I think that its P2, but this is not stated. Please add this information

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a425eb90-e161-54c9-3ba8-351ce93296f6
* Version Independent ID: 61ac46d0-cf72-2139-f11a-dd6319b51ff5
* Content: [Configure custom Azure

[2020-07-17 19:38] zr-msft commented on #58145
thank you for the feedback @Trimack !

I was not able to reproduce your issues using Azure Cloud Shell, which is running latest Azure CLI.

Please follow up and let me if know if you're continuing to see issues. Closing for now.

#please-close

[2020-07-17 19:38] #58145 closed

[2020-07-17 19:45] RyanHill-MSFT commented on #59135
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-17 19:45] #59135 closed

[2020-07-17 20:02] 043d opened #59257 "Destination tables need to be dynamically created as part of this process, please help"
Hello,

After looking at the rest of the comments in here, a general theme is apparent: The destination tables need to be created in advance of using this tutorial.

What I want to know is: Can we use this tutorial and have the destination tables be created "on the fly" as in, they don't exist in the sink, and datafactory automatically maps and then creates the columns (with datatypes) and tables

[2020-07-17 20:02] SaurabhSharma-MSFT commented on #58975
@sdegenhardt Sorry for your trouble.  Can you please provide error details ?

[2020-07-17 20:04] #58995 closed

[2020-07-17 20:06] zr-msft commented on #55365
Thank you @harryvinod for the feedback!

This is a known issue affecting the 2020-04-01 API and forward. A fix to address this issue should be available in the coming weeks.

cc @jluk

[2020-07-17 20:09] GeekTrainer opened #59259 "Vue.js has wrong name and link"
Vue should be updated to Vue.js and link to vuejs.org

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7514174b-85f4-1e83-a66d-ed730a14f72a
* Version Independent ID: 8eaa305a-79ee-9a8c-82cd-2484c092aead
* Content: [Configure front-end frameworks with Azure Static Web Apps Preview](https://docs.microsoft.com/en-us/azure/s

[2020-07-17 20:12] cubikca opened #59260 "privatelink FQDN warning"
Please add the warning not to use the "privatelink" FQDN to this page. It exists in other pages that give instructions about privatelink DNS, but this page is specific to Azure SQL and is where I landed. It took a support call to determine that my issue was a result of using the wrong FQDN.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-07-17 20:17] adimoraret commented on #45574
Just tested the latest connector. It woks for me. Thanks for your help.

[2020-07-17 20:26] JamesTran-MSFT commented on #59244
@an-prog
Since this issue requires further troubleshooting and isn't related to a documentation update ,question, or enhancement, please post your question under our [Key Vault section on MS Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-key-vault.html). Our community and internal engineers will look into this as soon as possible.

Thank you for your time!

[2020-07-17 20:26] #59244 closed

[2020-07-17 20:33] DerekHerman-MSFT commented on #58923
This change has been merged.

[2020-07-17 20:33] #58923 closed

[2020-07-17 20:43] JamesEarle opened #59261 "Error when using recommended version"
When using the recommended version of this package, `2.3.6` [here](https://github.com/MicrosoftDocs/databricks-pr/blob/live/databricks/spark/latest/structured-streaming/streaming-event-hubs.md)

``
command-2291405734031878:1: error: object eventhubs is not a member of package com.microsoft.azure
import com.microsoft.azure.eventhubs._
``

---
#### Document Details

⚠ *Do not edit this section. It i

[2020-07-17 20:54] KranthiPakala-MSFT commented on #59229
@hansmbakker
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-07-17 20:55] kgremban commented on #54499
I have updated the quickstarts with a reminder that only the edgeAgent is started when you first install IoT Edge, and that you need to create a deployment. We've also replaced references to the IoT Edge on Ubuntu VM in the documentation to a new method for quick deploying IoT Edge on a Linux VM.

I'm going to close this issue as resolved. If you have further questions or suggestions around this i

[2020-07-17 20:55] #54499 closed

[2020-07-17 20:55] KranthiPakala-MSFT commented on #59238
@Robert-Kostecki
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-07-17 20:56] KranthiPakala-MSFT commented on #59247
@jpborsi
Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2020-07-17 20:59] rboucher commented on #57914
@yeswps  at microsoft.com I'm "robb" . Email me.

[2020-07-17 21:01] roygara commented on #59140
@nithyaswam Thanks for reaching out, I just tested the example, it works fine as written.

Just checking: You replaced `myDataDisk` with the disk name and that failed for you?

[code]

[2020-07-17 21:03] charlie-morn opened #59262 "Monotonic increasing inside distributions?"
Based on some testing, it appears that inside a distribution, the identity property always increments by the number of distributions. If that's true, it may be worth noting that you have monotonically increasing identities for data with the same hash, which provides an additional benefit for this feature when working with SCDs.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2020-07-17 21:06] mohamed-shehata-m commented on #35478
It has to be 1 app service plan per subnet (multiple web apps on the same app service plan).
You cannot integrate multiple app service plans in the same subnet.

[2020-07-17 21:23] ranjeetgarodia opened #59263 "Route table - how to enable ping & ip forwarding on NVA VM's using gui instead of powershell command steps is missing"
HI team,
I was going through this page to create route table and test it. I found
1-to enable ping on public & private VM's only powershell commands are given .
2-also to enable ip forwarding on NVA vm(myVmNva), only powershell commands mentioned, but no instruction given how we can do it using gui screen

Please help me to get instruction how to perform these tasks.

thanks
Ranjeet Garodia

[Ente

[2020-07-17 21:35] Mike-Ubezzi-MSFT commented on #59260
@cubikca Thank you for bringing this to our attention. I will have the content team evaluate this and make an update as appropriate. Are you willing to share the Azure support case number as part of an effort to mitigate what I hope does not become a runaway train of customers using the FQDN privatelink URI instead of the Azure SQL Database FQDN _instance_ URI. You can share that here or you can s

[2020-07-17 21:43] Karishma-Tiwari-MSFT commented on #59213
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-17 21:44] TravisCragg-MSFT commented on #58919
@manish1347 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-17 21:44] #58919 closed

[2020-07-17 21:53] jenswachtel commented on #33157
Same here. How can this be an open issue for 1+year. It's horrific to use App Gateway WAF v2.
When will this be fixed?

[2020-07-17 22:07] SatishBoddu-MSFT commented on #59249
@skamalj
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-17 22:11] tamram commented on #59194
@cqueern @ryotokuro - Thanks for the suggestions. I've updated that sentence and the change should go live over the weekend.

#please-close

[2020-07-17 22:11] #59194 closed

[2020-07-17 22:14] julieMSFT commented on #59238
#assign:julieMSFT

[2020-07-17 22:17] KranthiPakala-MSFT commented on #59251
@JamesEarle
Thanks for the feedback! We have assigned the issue to the content author to investigate this and provide an update as appropriate.

[2020-07-17 22:17] CelesteDG commented on #57641
Thank you for the feedback, @rohitsaigal. The limitation was updated (number of redirect URLs was increased) and the previous topic has fallen out of sync. I checked in a fix that just links to the most recent topic on redirect URL limitations for apps registered with the Microsoft identity platform.

[2020-07-17 22:17] KranthiPakala-MSFT commented on #59251
Hi @lenadroid Could you please take a look at this feedback? - Thanks.

[2020-07-17 22:19] KranthiPakala-MSFT commented on #59261
@JamesEarle
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2020-07-17 22:21] #51638 closed

[2020-07-17 22:21] #49186 closed

[2020-07-17 22:22] CelesteDG commented on #52028
Thank you very much for the feedback, @Benjiiim and our sincerest apologies for the delayed response. You are correct that we either need to duplicate this content in the v2/Microsoft identity platform doc set or fill in that gap with the latest equivalent content. We have some work this coming quarter and the next to do a lot of doc cleanup and fill in these content gaps.

Flagging @mmacy to incl

[2020-07-17 22:29] #57641 closed

[2020-07-17 22:52] himanshudbagupta opened #59265 "Environment.GetEnvironmentVariable("AZURE_STORAGE_CONNECTION_STRING") always give null"
The below code does not work. It always returns connectionString as null even though I can see the AZURE_STORAGE_CONNECTION_STRING variable in the laptop's environment variable list.

string connectionString = Environment.GetEnvironmentVariable("AZURE_STORAGE_CONNECTION_STRING");

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-07-17 22:57] Mike-Ubezzi-MSFT commented on #59260
The `! Note` statement in the [checking connectivity with SMS](https://docs.microsoft.com/en-us/azure/azure-sql/database/private-endpoint-overview#check-connectivity-using-sql-server-management-studio-ssms) section has been updated with reference to using the correct instance FQDN versus private link FQDN. The update will be live tomorrow around noon.
We will now proceed to close this thread. If t

[2020-07-17 22:57] #59260 closed

[2020-07-17 23:02] KranthiPakala-MSFT commented on #59161
Hi @nmellal After further reviewing the feedback, it is determined that both Canceled and Cancelled are correct words. Hence, no update required at the moment.

Hope this clarifies. Thank much for reaching out and helping us to improve the doc content.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue.

[2020-07-17 23:02] #59161 closed

[2020-07-17 23:13] BharathNimmala-MSFT commented on #59243
@blackhill Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-07-17 23:15] BharathNimmala-MSFT commented on #59217
@kgopi05 Thank you for your query, we will look into it and get back to you at the earliest.

[2020-07-17 23:56] GarethOates commented on #58871
I've also stumbled upon this scenario just now.  It is not clear what values to insert for both Audience and Issuer fields.

[2020-07-17 23:56] JamesTran-MSFT commented on #57608
Closing out the issue.

If you require additional assistance or have any questions, please feel free to tag me and I will be more then happy to continue working with you on this issue.

Thank you for your time and patience!

[2020-07-18 00:01] TravisCragg-MSFT commented on #59263
@ranjeetgarodia Only PowerShell instructions are given as doing this via the GUI is complicated and requires several steps. Also, the steps can differe based upon the OS version that you are using.

For the example in the doc using Windows 2016 Datacenter, you can find GUI instructions to allow [ICMP throught the firewall here](https://docs.microsoft.com/en-us/windows/security/threat-protection/wi

[2020-07-18 00:21] Karishma-Tiwari-MSFT commented on #59221
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-18 00:24] Karishma-Tiwari-MSFT commented on #59234
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-18 00:26] SaurabhSharma-MSFT commented on #59156
@VadimBurshtyn Unfortunately, this feature is currently not available for B2C.  Please upvote the existing uservoice over [here](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/40647244-please-allow-the-azure-portal-to-be-able-to-add-cu).

[2020-07-18 00:31] Karishma-Tiwari-MSFT commented on #59235
@msmbaldwin Do you have any insights on this or can you please help find right point of contact in Product team?

[2020-07-18 00:34] Karishma-Tiwari-MSFT commented on #59250
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-07-18 00:34] #59250 closed

[2020-07-18 00:36] Karishma-Tiwari-MSFT commented on #59252
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-18 00:41] Karishma-Tiwari-MSFT commented on #59242
@PavelPikat Thanks for bringing this to our attention. Can you please share where in Azure portal you can see this information different, screenshot/steps would help.

[2020-07-18 00:43] SaurabhSharma-MSFT commented on #59254
@DeanGross Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-07-18 00:48] BhargaviAnnadevara-MSFT commented on #59259
@GeekTrainer Thanks for the question! We're investigating this and will get back to you shortly.

[2020-07-18 00:59] BhargaviAnnadevara-MSFT commented on #59259
Thank you for bringing this to our attention. I have submitted a PR to fix the issue that's awaiting review.

[2020-07-18 01:22] BharathNimmala-MSFT commented on #59253
@officedrone Thank you for your query we will look into it and get back to you at the earliest.

[2020-07-18 01:47] bdnts opened #59266 "Tutorial out of date, template code requires authentication"
[Enter feedback here]
Following this tutorial, it kept throwing a 401 error after publication to Azure.  I found the following page on StackOverflow.
https://stackoverflow.com/questions/51130370/when-i-am-running-azure-http-trigger-function-i-am-getting-401-unauthorized.
I changed
`[HttpTrigger(AuthorizationLevel.Function, "get", "post", Route = null)] HttpRequest req,ILogger log)`
to
`[HttpTrigge

[2020-07-18 01:53] MitchDrage commented on #48805
Looks like @damendo has a possible solution to this issue in a forked repo.
Following damendo's lead, if you change $blockList = $CloudBlockBlob.DownloadBlockListAsync() to $blockList = $CloudBlockBlob.DownloadBlockList() within the Get-NSGFlowLogBlockList function it appears to work.

[2020-07-18 02:30] CHEEKATLAPRADEEP-MSFT commented on #59225
@farooqkh  Thanks for the question! We are investigating and will update you shortly.

[2020-07-18 02:31] CHEEKATLAPRADEEP-MSFT commented on #59257
@043d  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community members could provide

[2020-07-18 02:33] CHEEKATLAPRADEEP-MSFT commented on #59262
@charlie-morn  Thanks for the question! We are investigating and will update you shortly.

[2020-07-18 02:34] CHEEKATLAPRADEEP-MSFT commented on #59265
@himanshudbagupta  Thanks for the question! We are investigating and will update you shortly.

[2020-07-18 02:35] CHEEKATLAPRADEEP-MSFT commented on #59266
@bdnts  Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-18 03:35] 043d commented on #59257
This is where I am trying to make the comment:

https://github.com/MicrosoftDocs/azure-docs/issues?utf8=%E2%9C%93&q=%222e2ac8cb-4208-6692-0f25-701e4906475a%22&in=body

Thanks!

[2020-07-18 04:01] dikethir opened #59269 "Using Ocp-Apim-Subscription-Key for Text-to-speech authentication"
Hi,

In the Authentication section it says, Ocp-Apim-Subscription-Key based authentication is not supported for Text-to-speech. However I'm able successfully access the service using my subscription key. Will this cause any problem?

The reason I want to use subscription key is because getting the token and then calling the Text-to-speech API results in 2 API calls which is causing delays during h

[2020-07-18 06:57] HarshitaSingh-MSFT commented on #59050
Hello @tajaber !
Just checking to see if you have had a chance to see the previous response. Kindly let us know if it answers your question and if you need further assistance on this issue.

[2020-07-18 07:13] buzzaII opened #59270 "More detailed information on load balancer settings for App Service"
At this point in time there doesn’t seem to be any documentation in relation to these setting for siteConfig in App Service plans

https://docs.microsoft.com/en-us/javascript/api/@azure/arm-appservice/siteconfig?view=azure-node-latest#loadbalancing

[2020-07-18 07:45] travis-c-lagrone opened #59271 "Duplicated list entry"
"Instance Pools API" is duplicated in the "APIs" list at the bottom of the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25b5fd38-af0a-12e9-e8f8-3e57bcbc273f
* Version Independent ID: f3a0cfcb-99eb-77c4-c888-4045d5d93947
* Content: [REST API 2.0 - Azure Databricks](https://docs.microsoft.com/en-us/azure/databric

[2020-07-18 07:47] travis-c-lagrone opened #59272 "SCIM API (ServicePrincipals) is missing in sidebar ToC"
This page ("SCIM API (ServicePrincipals)") is missing in the sidebar table of contents.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e79973de-ae25-ad05-bfda-b3540fcefc91
* Version Independent ID: ec967cea-c1a7-ef77-a40e-ae7c41493b47
* Content: [SCIM API (ServicePrincipals) - Azure Databricks](https://docs.microsoft.c

[2020-07-18 08:10] jeppe742 opened #59273 "Weird sentence"
The following sentence in the "Load new data into partitions that contain data in one step" section, doesn't make sense to me.

"Loading data into partitions with partition switching is a convenient way stage new data in a table that is not visible to users the switch in the new data"

Are the last 6 words supposed to be in the sentence?
And should it be ".. a convenient way **to** stage new data.

[2020-07-18 08:18] PavelPikat commented on #59242
@Karishma-Tiwari-MSFT The values can be found under VM's CPU Credits Remaining metrics:
![image](https://user-images.githubusercontent.com/3666748/87848337-8f8f0b00-c8df-11ea-8793-d89e044403ed.png)

![image](https://user-images.githubusercontent.com/3666748/87848362-d67d0080-c8df-11ea-8ded-331cb3940704.png)

I have a Standard_B2s VM that was idle for some time so it accumulated 618 credits, which

[2020-07-18 08:49] m1nkeh commented on #59034
hi @peterpogorski , yes i am.. i have followed that guide, steps 1, 2, 3, 4.. and the sf cluster comes up, i can see it available on port @ http://localhost:19080/

there are a bunch of errors in the container log while it is coming up.. but it does come up eventually..
[code]

[2020-07-18 08:51] m1nkeh commented on #59034
regarding the original error.. i have re-read a few of the doco pages on the microsoft site, there is mention of some known issue with DNS? Could this be a clue as to what is going on.. is there a workaround?

[2020-07-18 08:52] DataHippo93 opened #59274 "Wechat idp access token works - How to get the idp unique id of the user?"
[Enter feedback here]

I am using wechat and I am getting an access token back for this. It says it should return blank for anything except facebook and google which is apparently incorrect.

I have a query - how can I get the openid from wechat with this access token or can azure b2c pass this in the idtoken?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-07-18 11:01] ichengchao opened #59275 "[error] when Configure signing certificate"
[Enter feedback here]

i can not go ahead follow the document when i want add a signing certificate

my http patch body
## NO.1
[code]
http response:
[code]

## NO.2
[code]
http response:
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa04cf91-e1eb-5b59-f85f-1cb46a08f40b
* Version Independent ID: a4aff3ba-9c3f-71

[2020-07-18 11:12] rsamant07 opened #59276 "ROC Chart Description in AUTOML seems to have issue"
[Enter feedback here]
below statements seems to have been copied from Precision-Recall Section ?

What does automated ML do with the ROC chart?
Automated ML generates Macro Average Precision-Recall, Micro Average Precision-Recall, and the precision-recall associated with all classes for a model.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-07-18 11:19] shahfie opened #59277 "Shafie Bin Mohamed"
![Screenshot_20200626-170015_Samsung_Internet](https://user-images.githubusercontent.com/67461715/87851461-93e11580-c92b-11ea-943c-4a2be42c2537.jpg)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c6afac0-11b1-82b0-09f9-3e4f5338e47d
* Version Independent ID: 83371e26-6396-c207-f956-78bf09788ad8
*

[2020-07-18 11:23] glothriel commented on #26519
@Karishma-Tiwari-MSFT Can you please respond to @steffann 's question?

[2020-07-18 12:14] icebob opened #59278 "Double trailing slash in endpoint"
The endpoint printed with a trailing slash to the console which is pasted to the `read-d2c-messages` sample project doesn't work because it adds a trailing slashes again.

E.g:
[code]

So in the code should delete the trailing slash:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f1d1d66-4cc5-82ec-b4e5-1c88662c

[2020-07-18 13:55] CHEEKATLAPRADEEP-MSFT commented on #59269
@dikethir Thanks for the question! We are investigating and will update you shortly.

[2020-07-18 13:58] CHEEKATLAPRADEEP-MSFT commented on #59270
@buzzaII  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community members could provi

[2020-07-18 14:00] CHEEKATLAPRADEEP-MSFT commented on #59271
@travis-c-lagrone  Thanks for bringing this to our attention. We will investigate and update as appropriate.

[2020-07-18 14:01] CHEEKATLAPRADEEP-MSFT commented on #59272
@travis-c-lagrone  Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-18 14:05] CHEEKATLAPRADEEP-MSFT commented on #59273
@jeppe742  Thanks for the feedback!  Your feedback  has been shared with the content owner for further review.

[2020-07-18 14:06] edmowery opened #59279 "Missing Step 2"
Under the "Manuel Deployment" section, there is no step 2. It goes from Step 1 to Step 3. I recommend updating Step 3 to be Step 2 if there is not a Step 2.

Example: Update this:

**Step 3 - Install the runbook environment and connect to Azure Automation**

to

**Step 2 - Install the runbook environment and connect to Azure Automation**
---
#### Document Details

⚠ *Do not edit this section. It i

[2020-07-18 14:07] CHEEKATLAPRADEEP-MSFT commented on #59274
@DataHippo93  Thanks for the question! We are investigating and will update you shortly.

[2020-07-18 14:08] CHEEKATLAPRADEEP-MSFT commented on #59275
@ichengchao  Thanks for the question! We are investigating and will update you shortly.

[2020-07-18 14:10] CHEEKATLAPRADEEP-MSFT commented on #59276
@rsamant07  Thanks for the question! We are investigating and will update you shortly.

[2020-07-18 14:12] CHEEKATLAPRADEEP-MSFT commented on #59277
@shahfie Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2020-07-18 14:12] CHEEKATLAPRADEEP-MSFT commented on #59277
@shahfie Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2020-07-18 14:14] CHEEKATLAPRADEEP-MSFT commented on #59278
@icebob  Thanks for the question! We are investigating and will update you shortly.

[2020-07-18 14:15] CHEEKATLAPRADEEP-MSFT commented on #59279
@edmowery  Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-18 14:17] shahfie commented on #59277
Shakfik168@gmail.com

[2020-07-18 14:20] shahfie commented on #59277
Pada Sab, 18 Jul 2020 10:12 PM CHEEKATLAPRADEEP-MSFT <
notifications@github.com> menulis:

[2020-07-18 14:40] Assassinbeast opened #59280 "Is there a limit on how many custom domains you can attach to an Azure CDN Endpoint?"
Is there a limit on how many custom domains you can attach to an Azure CDN Endpoint?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b32fbbf3-178d-a0ef-7c3a-87df74a8eb16
* Version Independent ID: 2475b34a-88e8-5b45-723d-ee0a62230b8a
* Content: [Tutorial - Add a custom domain to your Azure CDN endpoint](https://docs.micr

[2020-07-18 15:33] BhargaviAnnadevara-MSFT commented on #59030
@djpirra As Jeff mentions in [**this**](https://stackoverflow.com/a/50915403/10805761) SO post, the resource ID of the function can only be set at deploy-time and not runtime.

You could instead populate the `id` property as follows:
[code]

Please check [**this**](https://github.com/Azure/azure-quickstart-templates/tree/master/101-logic-app-and-function-app) quickstart template on GitHub for the

[2020-07-18 16:26] sanchezc10 opened #59281 "Client Apps (Preview) Options"
[Enter feedback here]
Number 8 under "Create a Conditional Access policy" (https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/howto-conditional-access-policy-location#create-a-conditional-access-policy) states to "set Configure to Yes" - however inside the Client Apps (Preview) there are several options under "Select the client app this policy will apply to" that would be w

[2020-07-18 16:37] mpchen opened #59282 "Error "Principals of type Application cannot validly be used in role assignments.""
[Enter feedback here]

The doc says we can use object ids of user, user group and service principals. I was able to set up Lighthouse delegated management for users and user groups using their object/principal ids but it failed for service principals.

The ARM template deployment failed with error "Principals of type Application cannot validly be used in role assignments."

Could you confirm wheth

[2020-07-18 16:48] jaydarius opened #59283 "Compute Extension template type - invalid"
In the extension schema, the following key-value pair is invalid:
`"type": "extensions"`

However, the below works:
`"type": "Microsoft.Compute/Extensions"`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2d20271-77ef-4c29-26ed-e6ea015a7c63
* Version Independent ID: ea4abb54-6c4b-7049-f440-853b5a874ec5
* Content: [Azur

[2020-07-18 17:24] jaydarius commented on #59283
Turns out that's incorrect as well.

I copied a schema from template of a current Windows VM with the extension installed post-deploy:
[code]

The below error appears:
Deployment template validation failed: 'The template resource 'AzureNetworkWatcherExtension' for type 'Microsoft.Compute/virtualMachines/Extensions' at line '238' and column '64' has incorrect segment lengths. A nested resource type

[2020-07-18 17:36] yugangw-msft commented on #59027
"3 hours" token life applies on MSI and service principle. In a nutshell, "az acr login" uses the ARM token acquired through MSI to exchange an ACR token whose life time is set at 3 hours

[2020-07-18 18:16] YutongTie-MSFT commented on #59280
@Assassinbeast
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-18 18:17] YutongTie-MSFT commented on #59281
@sanchezc10
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-18 18:18] YutongTie-MSFT commented on #59283
@jaydarius
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-18 18:19] YutongTie-MSFT commented on #59282
@JnHs Could you please help us confirm this?

@mpchen
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-18 19:05] narpur2127 opened #59284 "Please include troubleshooting steps for Error ID:153035 and 153001"
[Enter feedback here]

Please include troubleshooting steps for  Error ID:153035 and 153001
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b86a281-be89-e4e5-5696-a139c6e9bc50
* Version Independent ID: 538995af-6c16-717d-d16f-58a94814b577
* Content: [Troubleshoot Azure VM replication in Azure Site Recovery - Azure Site

[2020-07-18 19:31] RonnieQuan opened #59285 "Any ETA When Private Endpoint for App Service Will be GA?"
[Enter feedback here]

Any ETA When Private Endpoint for App Service Will be GA?
We would like to build production workload based on app service private endpoint.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2174e399-063b-129a-eef6-2c49a67fd4e2
* Version Independent ID: 6cb95aa6-fb50-b966-4c9a-01e0718d0bcb
* Content:

[2020-07-18 20:26] derek-burdick opened #59286 "kube-advisor appears to be a dead open source project"
kube-advisor which is linked to in this article appears to be an abandoned Azure open source project. This page is therefore irrelevant and should not recommend outdated/abandoned tools.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd6a725f-02ee-4337-609d-bdb4adff3359
* Version Independent ID: 8b2116c8-5ca3-32ee-e187

[2020-07-18 20:45] andybeasley opened #59287 "Error in Code Provided"
Currently this line returns a TypeError: string indices must be integers:

`descriptions = [article["description"] for article in search_results["value"]]
`
Not sure what the solution is at the moment

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8747ae53-ab3b-2f64-7d54-6092988dd5ab
* Version Independent ID: 5df05028-

[2020-07-18 21:24] Hansel03 commented on #53855
Encountered the same error today

[2020-07-18 21:26] andybeasley commented on #59287
fixed it by converting to dict:
searchnew = json.loads(search_results)
descriptions = [article["description"] for article in searchnew["value"]]

[2020-07-18 21:40] saltonsolutions opened #59288 "Persisting a VoiceProfile"
[Enter feedback here]
I am trying to figure out how to **PERSIST** a voice profile for use AFTER the enrollment. How do I access the VoiceProfile that I created in another program. I have tried using the captured id as follows:

VoiceProfile pvp = new VoiceProfile(MyProfileGuid);

and then pass **pvp** to

        public static async Task SpeakerVerify(SpeechConfig config, VoiceProfile profile, Di

[2020-07-18 23:22] sandervandevelde opened #59289 "non-depricated blob upload is not explained"
The original blob file upload is deprecated.

The new way is using the original Blob storage SDK.

There is not documentation available which explains how to use the result from:

[code]

for a Blob storage SDK call like

[code]

Please provide these details.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbaf3777-34b8

[2020-07-19 01:13] MarileeTurscak-MSFT commented on #59172
You can use the Azure AD Module in Powershell to register an application, as described in [Powershell Basics: How to Create an Azure AD App Registration ](https://techcommunity.microsoft.com/t5/itops-talk-blog/powershell-basics-how-to-create-an-azure-ad-app-registration/ba-p/811570)

`$appName = "TailwindTradersSalesApp"
$appURI = "https://tailwindtraderssalesapp.twtmitt.onmicrosoft.com"
$appHomeP

[2020-07-19 01:13] #59172 closed

[2020-07-19 02:23] AElharouny commented on #59116
Thanks @MayankBargali-MSFT . It will be great to have an indication from you soon, as we have a decision to make pending on that.

[2020-07-19 02:45] CHEEKATLAPRADEEP-MSFT commented on #59284
@narpur2127  Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-19 02:46] CHEEKATLAPRADEEP-MSFT commented on #59285
@RonnieQuan Thanks for the question! We are investigating and will update you shortly.

[2020-07-19 02:48] CHEEKATLAPRADEEP-MSFT commented on #59286
@derek-burdick  Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

[2020-07-19 02:53] CHEEKATLAPRADEEP-MSFT commented on #59287
@andybeasley, Hope you have self resolved and hence closed the issue. Thanks for the update.

[2020-07-19 02:53] #59287 closed

[2020-07-19 02:55] CHEEKATLAPRADEEP-MSFT commented on #59288
@saltonsolutions  Thanks for the question! We are investigating and will update you shortly.

[2020-07-19 02:56] CHEEKATLAPRADEEP-MSFT commented on #59289
@sandervandevelde  Thanks for the feedback! Your feedback  has been shared with the content owner for further review.

[2020-07-19 03:29] #59259 closed

[2020-07-19 03:30] BhargaviAnnadevara-MSFT commented on #59259
@GeekTrainer The change is merged internally and will go-live in the public docs shortly.

[2020-07-19 03:58] hung-doan opened #59290 "Do Primary & Secondary use the same counter and share the same service limit ?."
In case I enable a Read-only secondary replicate - RA-GRS.

Do we use them the same counter & share the same service limitation ?.

**_For example:_** "Maximum request rate per storage account" is limited to 20,000 requests per second.

Do that 20,000 requests include all requests to both primary & secondary?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-07-19 09:45] imabedalghafer commented on #58423
@iainfoulds
Would you please let us know your input on this point ?

Thank you
Ibrahim Abedalghafer

[2020-07-19 10:29] LeaShallev commented on #58962
@MayankBargali-MSFT I'm not sure that I fully understand you. I understand that batching configure internally. Regard to the type I get- I always get an array with 1 event in eventhub. It it the expected behavior?

[2020-07-19 10:48] shawon017 opened #59293 "Convert to timestamp from milliseconds does not work"
Hi Everyone,

The statement - To convert milliseconds from epoch to a date or timestamp, use toTimestamp(<number of milliseconds>). If time is coming in seconds, multiply by 1,000.

toTimestamp(1574127407*1000l)

written in this page- https://docs.microsoft.com/en-us/azure/data-factory/concepts-data-flow-expression-builder#find-time-from-epoch-or-unix-time

is not working inside Data Flow, getting

[2020-07-19 11:58] CHEEKATLAPRADEEP-MSFT commented on #59290
@hung-doan  Thanks for the question! We are investigating and will update you shortly.

[2020-07-19 11:59] CHEEKATLAPRADEEP-MSFT commented on #59293
@shawon017  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2020-07-19 12:37] jmjacAx opened #59295 "Dynamic groups in Update Management"
Hello,
For more than one year now I have been using Saved searches to dynamically include on-prem machines in Azure Update Management as described in this page:
https://docs.microsoft.com/en-us/azure/automation/automation-update-management-groups
It worked perfectly until last week. However since this week all deployment based on saved searches fail, saying
"No computers match the Update deploymen

[2020-07-19 12:42] sgissinger commented on #50164
@ramondeklein ,
I used ACME-PS Powershell to generate my Let's Encrypt Certificate and had the exact same error as you and finally found how to handle this issue.
PKCS12 (PFX) certificates created with .Net doesn't seem to be compatible with Azure CDN. Or ACME-PS uses some parameters that make them not compatible.

[code]

Then, upload **openSsl.pfx** to Azure KeyVault and Azure CDN now recognize

[2020-07-19 13:31] vnextcoder opened #59296 "Sample provided doesn't match with the Article"
[Enter feedback here]

The Sample Provided https://github.com/Azure-Samples/storage-dotnet-azure-ad-msal doesn't match with the Article . The Code in https://github.com/Azure-Samples/storage-dotnet-azure-ad-msal is quite distant from the Code sections described in the Article .

Many times in the Article, it describes this sample Project to be "Final", but it is not.

---
#### Document Details

⚠

[2020-07-19 13:47] jrapolu commented on #37025
@MarileeTurscak-MSFT #please-reopen!
I want to store & read Secret with Line Breaks using C#. Any help?

[2020-07-19 14:03] tochilavictor commented on #30802
@amanmcse
I have the same issue.
I've tried your solution with HomeRealmDiscoveryPolicy applied to principal. No changes at all.
Still getting 400 with bad credentials response.

    "timestamp": "2020-07-19 13:53:14Z",
    "trace_id": "87892273-8a5f-474a-a79e-2ef8d1fd2201",
    "correlation_id": "feaee5d2-7301-483a-8e8e-5baa2e8a7e7d",

[2020-07-19 14:18] YutongTie-MSFT commented on #59295
@jmjacAx
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-19 14:19] YutongTie-MSFT commented on #59296
@tamram  Hi, could you please help check this issue? Thanks.

@vnextcoder
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-19 15:06] cqueern opened #59297 "minor punctuation error"
This string:

...should probably be:

Suggest updating the page using the latter version. Thanks for your hard work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06201faf-0037-3647-4e91-bb0af80d4812
* Version Independent ID: 1b397d76-ecfe-046e-a4c4-0fe5293bceb3
* Content: [What is entitlement management? - Azure AD](

[2020-07-19 15:38] rick-hayek commented on #58960
Hi @HarshitaSingh-MSFT,  when I sign in as a user from **another Tenant**, is it possible that I can configure the policy files to prevent B2C creating new user for this authenticated user? so I can get the user id (from source Tenant), instead of the object id in B2C, from user claims? Please note this question is for multi-Tenant scenarios. with Single-Tenant, I've already successfully set up th

[2020-07-19 16:32] cap273 opened #59298 "Several links are not properly displayd in this page"
Under the section "Other supported PowerShell cmdlets", there is a link that appears as:
[Restore-AzSqlDatabase]/powershell/module/az.sql/restore-azsqldatabase?toc=/azure/synapse-analytics/sql-data-warehouse/toc.json&bc=/azure/synapse-analytics/sql-data-warehouse/breadcrumb/toc.json)

Under the section "Next steps" there is a link that appears as:
[Azure SQL Database cmdlets]/powershell/module/az.

[2020-07-19 17:03] saltonsolutions opened #59299 "No Photos for Anna, Bill, and Clare in github repo."
I do not see photos for Anna, Bill, and Clare in the link: https://github.com/Microsoft/Cognitive-Face-Windows/tree/master/Data

Trying to create the test program. Using the dotnet quickstart creates a console app that does not match the FRmaework or Core version. I have installed Version 5 of Core.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-07-19 17:48] jaydarius opened #59300 "Agent naming convention - OMS and Log Analytics"
The documentation exclusively mentions Log Analytics Agents while the Network Performance Monitor Configuration page exclusively refers to OMS agents.

![image](https://user-images.githubusercontent.com/31786606/87881252-b459b000-c9bd-11ea-948a-ed69fbe94fd6.png)

I suggest you note, on this page, that Agents use both naming conventions; this is in effect on the Agent overview doc: https://docs.mic

[2020-07-19 18:29] runemoennike commented on #51738
@Karishma-Tiwari-MSFT can you reopen this? There's still an undocumented default limit if 10 cpu cores across all container instances in a subscription, it seems. It took us about a weeks back and forth with support to increase this, so it seems the confusion is on both sides.

[2020-07-19 19:28] t2pdev-git opened #59301 "There is no value set for $skuDefinition."
There is no value set for $skuDefinition.

$skuDefinition = Get-AzPolicyDefinition | where-object {$_.properties.displayname -eq "Allowed virtual machine SKUs"}

should be

$skuDefinition = Get-AzPolicyDefinition | where-object {$_.properties.displayname -eq "Allowed virtual machine size SKUs"}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-07-19 19:39] jaydarius opened #59302 "Powershell script - variables declared are unused"
This page's script declares variables that are unused in the rest of the script.  See the code block below which is lines 1-15:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f266e52-5aa4-f099-6246-77671e6fe4af
* Version Independent ID: 105d681c-5bd2-fae0-af69-ac2c06abcdaa
* Content: [Azure PowerShell script s

[2020-07-19 19:42] GitelGeiger opened #59305 "DataActions logs"
Are data operations (which are specified in the DataActions and NotDataActions properties of a role definition) logged somewhere? Where can I find it?

Thanks,
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad021df2-1df2-9537-6037-adc0df8cd297
* Version Independent ID: 9b54361a-eabe-bb96-1b03-4d9010a48b6e
* Content: [Ov

[2020-07-19 21:52] jamesbannan commented on #58344
@leovms Yes, I was able to create a VM outside DevTest Labs from the custom image without any problem. The image was created using Hashicorp Packer, and the final step deprovisions the VM:

[code]

[2020-07-19 21:54] Pullarg opened #59307 "HTTPError: 403 Client Error In merge task foreach %dopar%"
I have been using Azure Batch for a while and have come across a new error in the merge task even on the sample code. this appears to happen with any size of data while running the foreach   %dopar%. has anyone else noticed this?

HTTPError: 403 Client Error: Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature. for url:

[2020-07-19 23:08] Raijin766 opened #59308 "Updated Commands"
these commands are now old, should be replaced with the new AzureAD commands

get-azureaddevice | select-object -Property Enabled, DeviceId, DisplayName, DeviceTrustType, ApproximateLastLogonTimestamp

https://docs.microsoft.com/en-us/powershell/module/azuread/?view=azureadps-2.0#devices

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2020-07-19 23:19] NavtejSaini-MSFT commented on #58246
@afratila Please let us know if you need any further help regarding this.

[2020-07-19 23:21] NavtejSaini-MSFT commented on #58974
@SudheeshGH Thanks for the extensive feedback. Let me add the document author to this thread to add clarity to this topic.
@anosov1960 Please provide clarity regarding the RPO and help edit the document as well.

[2020-07-19 23:23] NavtejSaini-MSFT commented on #58904
@michaelburch We are checking this our authors and other teams.
@anosov1960 Can you please provide clarity here.

[2020-07-19 23:27] StingyJack commented on #51738
@Karishma-Tiwari-MSFT @jakaruna-MSFT if the docs haven't been updated to include all of this information, I can't really consent to the issue being closed.

[2020-07-19 23:30] trboomer opened #59309 "Link to upgrade a basic load balancer"
The page says: See Upgrade a Basic Load Balancer to upgrade Basic Load Balancer to Standard Load Balancer. You follow the link and the page it takes you to is Upgrade Azure Public Load Balancer. That is not the same thing. This is very confusing and needs to be edited to say the least. Azure changes constantly so these pages need constant revision.

---
#### Document Details

⚠ *Do not edit this s

[2020-07-19 23:34] StingyJack commented on #54226
Ping @Grace-MacJones-MSFT

[2020-07-19 23:54] NavtejSaini-MSFT commented on #58904
@michaelburch  Zone redundant configuration/AZ is NOT supported in Managed Instance.
You woudl need to use auto-failover groups to create secondary in different region in this scenario.