[2019-06-18 12:21] AjayKumar-MSFT commented on #33491
@pezholio, No issues, thank you for the confirmation.
Since both the issues are same, for visibility I shall copy the information you have shared here and close this out as duplicate.

[2019-06-18 12:21] pezholio commented on #33491
Great, thanks 👍

[2019-06-18 12:22] AjayKumar-MSFT commented on #33491
You're welcome! Thank you for the prompt response.

[2019-06-18 12:26] #33491 closed

[2019-06-18 12:30] PramodValavala-MSFT commented on #33501
@sonpeppers Yes. `docker push` will trigger the `Microsoft.ContainerRegistry.ImagePushed` event.

Similarly, in the case of Helm, `az acr helm push` will trigger `Microsoft.ContainerRegistry.ChartPushed`.

[2019-06-18 12:41] tfitzmac commented on #32632
@tamram - the template article is generated from the REST API specification. You'll notice the [REST docs for storage](https://docs.microsoft.com/en-us/rest/api/storagerp/storageaccounts/create) have the same description.

To fix the description, you'll want to either create a PR in azure-rest-api-specs, or ask whoever manages that specification to make the change. [Here is the line](https://githu

[2019-06-18 12:58] monhaber commented on #33319
@dcbrown16  Thanks so much for bringing this to our attention. We have already updated the topic's title, and the TOC will be updated later today.

[2019-06-18 13:03] swagulkarni commented on #33268
@DixitArora-MSFT  - No, I followed the steps but the error still persists.

[2019-06-18 13:04] swagulkarni commented on #33283
@PramodValavala-MSFT  - Awaiting your response. Thanks in advance.

[2019-06-18 13:12] KelvinTegelaar commented on #29318
Will this be changed in the future? is there a UserVoice for Enterprise Applications?

[2019-06-18 13:16] twimmers commented on #29318
Kelvin, this looks to be the right place to submit this feedback - https://feedback.azure.com/forums/169401-azure-active-directory?category_id=360892

[2019-06-18 13:18] KelvinTegelaar commented on #29318
Thanks!

[2019-06-18 13:32] arsenicks commented on #32008
Bump!

[2019-06-18 13:58] holgerjay opened #33512 "Required IP addresses table does not include 168.63.129.16"
Hi,

the table in the 'Required IP addresses' section lists all the addresses that need to be allowed on an NSG - however it is missing 168.63.129.16. A little further down the article states: "You must also allow access from 168.63.129.16. This address is Azure's recursive resolver. For more information, see the Name resolution for VMs and Role instances document."

From this statement it is not

[2019-06-18 14:05] gilherau commented on #33203
Also can you please confirm whether or not this solution (not the Sentinel approach) also includes PowerBI usage telemetry (i.e. RecordType = "PowerBI"). Our customer is trying to consolidate all telemetry related to their modern Data Platform into Log Analytics so they can perform queries on the whole solution, including Power BI.

Thanks!

[2019-06-18 14:11] ericjiang18 commented on #33257
@areddish how can i set it?

[2019-06-18 14:17] j-martens commented on #30557
@jlandgrave - thanks for your report. Don't have an example to share right now. Will add to the backlog. Thanks again. #please-close.

[2019-06-18 14:17] #30557 closed

[2019-06-18 14:26] tristanbarcelon commented on #33048
Thanks for your investigation. Here's the customized "Start-MyCosmosDBEmulator" function which I use in an Azure Devops task group right before the unit test task. I wrote this instead of using Start-CosmosDBEmulator because I wanted it to first find an installed instance of CosmosDB emulator, search for valid certs, etc. so when it does fail, it will fail with an intelligible error. Also, install

[2019-06-18 14:26] CeciAc opened #33514 "Invalid XML format"
Hi team,
I'm moving this from here: https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/2606

@t104 commented 5 hours ago

This XML format is invalid.
Configuring fixed-rate sampling in JAVA

[code]

The last line should be
`</TelemetryProcessors>`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f4c906d-7abe-eab7-

[2019-06-18 14:34] TechWatching commented on #30352
@Jann-Skotdal I did not received any answer after sendind the details to translator@microsoft.com by email and I am now seeing the 429 errors with the S1 princing tier.

[2019-06-18 14:34] gauravegostic commented on #14339
Hi I am running databricks notbook on data factory and it's keep on running. once i check it on databricks log there it's showing Succeeded. Please suggest how to get the success status in data factory.

[2019-06-18 14:34] crpietschmann opened #33515 "Architecture diagram uses old Azure icon..."
The Azure Bastion architecture diagram is using the old Azure icon. You may want to update to the current Azure icon. :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a1d3f69-74ba-0ba9-17ba-c7c1086d2662
* Version Independent ID: 7f2680d3-7d10-b253-bdc3-ca661b5da5af
* Content: [Azure Bastion](https://docs.microsoft.co

[2019-06-18 14:35] TechWatching commented on #30352
Could you please re-open the issue ?

[2019-06-18 14:41] AndrewDarby commented on #33450
Thank you for the response.
I have setup a Microsoft standard tier CDN in Azure, and if I make a
request for a Javascript file with:
Accept-Encoding: br
or
Accept-Encoding: deflate, br
I get back a brotli compressed asset.

However when the Request header is: Accept-Encoding: gzip, deflate, br
then I still get gzip asset,and not a brotli asset, but according to your
answer I was expecting it to be

[2019-06-18 14:47] tristanbarcelon commented on #33048
After reading the [CosmosDB emulator build task](https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-setup-ci-cd#install-the-emulator-build-task) more thoroughly, it looks like I should be able to access the endpoint just by reading the env variable CosmosDbEmulator.Endpoint. I'll give it a shot and see what happens.

[2019-06-18 15:02] haohuancheng commented on #17741
same problem. and ,which is the connection string?  Just for Primary Key and Second Key?

c:\Users\hao\connected-air-conditioner-adv\node_modules\azure-iot-mqtt-base\lib\mqtt_base.js:154
            throw new ReferenceError('Invalid transport configuration');
            ^

ReferenceError: Invalid transport configuration
    at MqttBase.connect (c:\Users\hao\connected-air-conditioner-adv\node_modu

[2019-06-18 15:03] haohuancheng opened #33516 "throw new ReferenceError('Invalid transport configuration')"
Same problem.  and ,which is the connection string?  Just for Primary Key and Second Key?

c:\Users\hao\connected-air-conditioner-adv\node_modules\azure-iot-mqtt-base\lib\mqtt_base.js:154
            throw new ReferenceError('Invalid transport configuration');
            ^

ReferenceError: Invalid transport configuration
    at MqttBase.connect (c:\Users\hao\connected-air-conditioner-adv\node_mod

[2019-06-18 15:07] tristanbarcelon commented on #33048
Is there detailed documentation for CosmosDB emulator build task so I can determine what task parameters I need to change? I couldn't find any and the closest I can find is [here](https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator#running-on-docker). If we're only using the documentdb endpoint on 8081, it seems to me that I'd have to also change the port parameters here using a variab

[2019-06-18 15:08] haohuancheng commented on #33516
ok. The problem has been solved. I missed a step for dps-keygen.

[2019-06-18 15:11] mattchenderson commented on #33480
As always, let me caution that the feature is in preview. Most of the issues I see are related to access policy misconfigurations. I assume that's the OP's issue. Make sure that the managed identity has been granted the secret get permission and that you did not specify the "allowed application" setting, which breaks managed identities.

@pezholio That template looks right except for your actual r

[2019-06-18 15:26] jasonpaige commented on #33500
We just had this same issue. You need the Object ID from the Enterprise Application section of AAD rather than the regular Application Object ID. Docs probably need to be more specific. I'll try make a PR later

[2019-06-18 15:28] CeciAc opened #33518 "Availability/replication levels"
Hi team,
I'm moving this from here: https://github.com/MicrosoftDocs/azure-docs.sv-se/issues/333

The user is reporting missing information.

@MartinNr5 commented 39 minutes ago
Hi.

I'm missing information on how the different replication options (LRS, ZRS, GRS and RA-GRS) effect the different tiers. Is, for instance, Archive available as anything else than LRS (if even that, as I assume it's tap

[2019-06-18 15:33] rayne-wiselman commented on #29490
This article is no longer relevant. We have info about compression in https://docs.microsoft.com/en-us/azure/backup/backup-azure-backup-faq#general-backup and https://docs.microsoft.com/en-us/azure/backup/backup-support-matrix#compression-support
#please-close

[2019-06-18 15:33] #29490 closed

[2019-06-18 15:47] pezholio commented on #33480
@mattchenderson Ah yeah, I stripped a bunch of stuff that I didn't feel was relevant for brevity, and added some dummy variables. Here's what I'm currently working off:

https://github.com/DFE-Digital/dfe-teachers-payment-service/blob/247-set-up-secret-management-in-azure/azure/template.json

[2019-06-18 15:51] hansenms commented on #33507
@johnmeredith: I am trying to parse your comment here and it is a bit unclear what the question is. Could you clarify? Also you mention App Service, are you using the managed service or the OSS code running in an App Service?

[2019-06-18 15:52] hansenms commented on #33504
Not an Object ID, we suggest using "URI of your FHIR server" as identifier URI. Could you clarify your question.

[2019-06-18 15:55] gsimardnet opened #33520 "Cannot change the logo"
I have followed the steps described on this page to change the logo of my application. In the Azure Portal, my new logo is displayed correctly but when I go to https://myapps.microsoft.com, the default logo is still displayed. I have tried several images and get the same problem. The logo in "My Apps" is always the default one.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-06-18 15:57] MisinformedDNA commented on #30815
@rameshjanjyam How are you setting/updating the values in "User Secrets"? I don't see any options when I right-click the project. Are you just using the command line?

[2019-06-18 16:01] msrini-MSFT commented on #33404
@brent-robinson , As you mentioned, I don't find a reason why it won't work for Proxies. But as you mentioned, for proxies which requires authentication, it will fail.

[2019-06-18 16:04] kobulloc-MSFT commented on #33514
@CeciAc Thank you for bringing this to our attention!  We should have this updated soon.

[2019-06-18 16:08] mjarmstrong commented on #11383
Running into the same assertion issue. Anyone figure this out, aside from the workaround posted by marcus (above)?

[2019-06-18 16:10] maryannlim opened #33521 "Bulk Updates"
I understand that a CSV upload of named locations will replace IP ranges in the list with what's in the file. For those named locations *not* existing in the CSV file but are configured in Azure portal, will those be removed or retained?

"When you create or update named locations, for bulk updates, you can upload or download a CSV file with the IP ranges. An upload replaces the IP ranges in the l

[2019-06-18 16:11] #33288 closed

[2019-06-18 16:18] mamccrea commented on #32295
This issue is due to a regression in Scala 2.11.12. The regression affects runtime 5.3 and 5.4, but will be fixed in 5.5. We will be updating the release notes for 5.3 and 5.4 to include this as a known issue. Please use 5.2 until 5.5 is available.

#please-close

[2019-06-18 16:18] #32295 closed

[2019-06-18 16:21] yobyot opened #33522 "Needs new screenshots and update to use standard English"
Some of the English syntax in this important tutorial is tortured and unclear, for example:

This should read:

There are multiple examples of poor syntax and unclear references throughout this document. In addition, screens no longer exactly match the Azure portal and should be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-06-18 16:29] devlife opened #33523 "How can you use IConfigurationBuilder extensions like AddAzureKeyVault"
I'm super excited to use DI with my functions but how can I use things like `AddAzureKeyVault` extension methods on `IConfigurationBuilder`? It doesn't appear that `IFunctionsHostBuilder` implements that interface.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5786402e-9d88-5de0-607a-1c2a143af006
* Version Independent

[2019-06-18 16:33] Mike-Ubezzi-MSFT commented on #33048
@tristanbarcelon Thank you for the additional details and providing the script example. I am providing some specifics to make sure you are aware of this information. The Cosmos DB Emulator [doc](https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator) is loaded with information so I want to point out a couple of things. The Emulator has three means for controlling the service based upon ei

[2019-06-18 16:34] tfitzmac commented on #33508
@axelgMS - thanks for this suggestion. I have added it to the doc and it should get published this morning.

[2019-06-18 16:35] tfitzmac commented on #33508
#please-close

[2019-06-18 16:40] YutongTie-MSFT commented on #33182
@trevorbye Hi, could you please help with the document of predict()/ forecast() function for users to refer? Thank you very much.

@samflynn Hi Shrey, I have assigned the issue to the content author to investigate further and update the document as appropriate with more details.

[2019-06-18 16:40] AshokPeddakotla-MSFT commented on #28321
@liydu Please check the above suggestions and update the document as appropriate.

[2019-06-18 16:46] MsdnUsrSince1994 opened #33524 "Windows Firewall can also cause this"
If Windows Firewall on the Azure VM has been locked down to deny outgoing traffic by default, a custorm rule needs to be added to allow the activation and license checking as follows (listed in properties tab order, rule wizard asks these in a different order):
  General: Any name and description, Enabled, Allow the connections
  Programs and Services: Service=WinMgmt (Windows Management Instrumen

[2019-06-18 16:50] YutongTie-MSFT commented on #33509
@AleksCallebat Thank you for the catching! Will fix it soon.

[2019-06-18 16:50] JustinGrote commented on #30697
Additional notes about the input/output binding formatting should be added, as this is not immediately obvious/intuitive.

For instance, if the input binding provides a JSON string, it gets converted to a hashtable, so when you set your param() binding to the object, expect it to be a hashtable and not a json.

Similarly, you can generally submit a hashtable representation of a JSON to an output b

[2019-06-18 16:55] JonKragh commented on #26312
@PramodValavala-MSFT are there docs that show managed identity for APIM connecting to an App Service (in my case, Linux containers)? Much like @neil-rubens I want APIM to be our security layer and lock down the Azure App Service. Also, if I go with IP Restrictions, how do we know the IP to allow from APIM? Many thanks.

[2019-06-18 16:56] t-pash commented on #31924
@kavitajoshi what's the state of your API calls now?

[2019-06-18 16:57] AshokPeddakotla-MSFT commented on #28449
@wesmc7777 Please check this issue and update the doc as appropriate.

[2019-06-18 16:58] YutongTie-MSFT commented on #33199
@JakeSpitznagel Hi Jake, thank you for your feedback. I will forward this feedback to engineering team. @jmbnzhu666  Please try with the temporary workaround, fix will come soon. Thank you very much for letting us know.  We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-06-18 16:58] #33199 closed

[2019-06-18 16:58] MashaMSFT commented on #33328
Hi @alvipeo ,

Thank you for contacting Microsoft and providing your feedback to our documentation! We'll need some time to look into this further. Depending on the complexity, the turnaround time for this may vary anywhere from a few business days to a few business weeks. We'll reply via comment should we need anything further in the meantime, and please feel free to do the same.

If you're sugge

[2019-06-18 16:59] sivethe commented on #33295
Looks like Mongo3T changes the Basic auth scheme from SCRAM-SHA-1 to SCRAM-SHA-256, which was added as part of Mongo v4.0.  We will update the documentation to indicate to use "SCRAM-SHA-1" instead of the Basic auth scheme

[2019-06-18 16:59] ggailey777 commented on #26761
The linked PR removes the `AzureWebJobsScriptRoot` setting. We can add this back if 1) it's needed for Linux contains or 2) the proposed feature is added.

[2019-06-18 16:59] MicahMcKittrick-MSFT commented on #33324
@SychevIgor if you need further help I am happy to help you get in touch with Support to work through this. If that is the case, feel free to email me at AzCommunity@microsoft.com and provide me with your Azure SubscriptionID and link to this thread.

[2019-06-18 17:00] AshokPeddakotla-MSFT commented on #28498
@chrissie926 Please check this issue and update the documentation as appropriate.

[2019-06-18 17:02] ggailey777 commented on #14283
The new [dependency injection article](https://docs.microsoft.com/azure/azure-functions/functions-dotnet-dependency-injection) also now features HttpClient injection.

#please-close

[2019-06-18 17:02] #14283 closed

[2019-06-18 17:02] AshokPeddakotla-MSFT commented on #28519
@rezasherafat Please check this issue and update the document as appropriate.

[2019-06-18 17:04] AshokPeddakotla-MSFT commented on #28517
@rezasherafat Please check the above suggestions and update the doc as appropriate.

[2019-06-18 17:05] KalyanChanumolu-MSFT commented on #32962
There is no published guidance around this.

My Host.json

[code]

I am currently doing

[code]
and then

[code]
It works, but I don't know if this is the optimal way.
Am curious to know as well.

[2019-06-18 17:06] tiny-dancer opened #33525 ""Configure HTTPS On a custom domain": Every Azure CDN instance has access to every configure certificate"
If I'm following correctly for configuring HTTPS on a custom domain, should there be a note that every Azure CDN instance in this tenant has access to every configured custom certificate in keyvault?

I'm assuming this based on the fact that the keyvault policy is created using the Azure CDN app id: 205478c0-bd83-4e1b-a9d6-db63a3e1e1c8.  Therefore, if 10 teams have their own CDN in one tenant - no

[2019-06-18 17:07] MicahMcKittrick-MSFT commented on #33305
Thanks @cynthn for sharing and confirming :)

@sam90909 I will close this out for now. If you have further questions just let us know.

[2019-06-18 17:07] #33305 closed

[2019-06-18 17:07] jeevansd commented on #21326
@weasnerb Please download the new plugin from the Download center and we have now implemented the force login option here. So now we can completely remove this Username and password option from the login page. Please let us know how this goes.

[2019-06-18 17:08] jeevansd commented on #21326
#please-close

[2019-06-18 17:08] MicahMcKittrick-MSFT commented on #33524
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-18 17:09] ggailey777 commented on #17524
The article does link to two complete example ARM templates, which have `storageAccountid` defined. #please-close

[2019-06-18 17:09] #17524 closed

[2019-06-18 17:10] cmedit opened #33526 "I can't get the bot to use the multi-turn feature"
I've checked all the pieces of my code and I can't get the bot to use the follow-up prompts I implemented. Any ideas?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f45d867c-c72a-c619-b58a-777ff5f8c5c1
* Version Independent ID: e0f90b85-14bb-0925-c50b-b1d31dd9388a
* Content: [QnA bot - Azure Bot Service - QnA Maker - A

[2019-06-18 17:12] KranthiPakala-MSFT commented on #33512
@holgerjay Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2019-06-18 17:14] Adam-Smith-MSFT commented on #33518
@MartinNr5 There isn't a co-relation between access tiers and the level of redundancy. Redundancy is set on the Storage account level, meaning, all the content within that storage account, (in whatever access tier it is on), will be tied to the redundancy set on the storage account. If you have objects in Archive access tier and redundancy as GRS, all objects will be tied to the GRS level.
Does th

[2019-06-18 17:16] ggailey777 commented on #19672
We now have a [deployment article that feature Azure Pipelines](https://docs.microsoft.com/azure/azure-functions/functions-how-to-azure-devops)

Please reopen this work item if the new article doesn't address your scenario. #please-close

cc. @ahmedelnably

[2019-06-18 17:16] #19672 closed

[2019-06-18 17:18] kgremban commented on #33255
Yes, everything in this article is accurate for devices in production: https://docs.microsoft.com/azure/iot-edge/support#operating-systems. Windows Server 2019 and Windows Server IoT 2019 are GA. Windows 10  IoT Core is still in public preview, but is working towards GA.

[2019-06-18 17:22] aasis21 commented on #33003
Yes, It helped. I have shifted to Async Method as you discussed above.

[2019-06-18 17:27] andronachev opened #33528 "DI Exception when trying to resolve custom service in the Run method"
Hi,

I implemented the Startup class for adding my business services to the initial ServiceCollection (so that I don't lose for example all the logging services that come with the framework).

My function needs to resolve different services (EventHandlers) based on the event type that it receives, so I thought of making use of the ServiceCollection, call BuildServiceProvider() and then get the ser

[2019-06-18 17:31] Cojacfar opened #33529 "Out of Date Certificates"
I don't believe Azure VPN utilizes these certificates anymore, as it now uses CA trusted certs.

Make sure that the following certificates are in the correct location:
Certificate 	Location
AzureClient.pfx 	Current User\Personal\Certificates
Azuregateway-GUID.cloudapp.net 	Current User\Trusted Root Certification Authorities
AzureGateway-GUID.cloudapp.net, AzureRoot.cer 	Local Computer\Trusted Root

[2019-06-18 17:31] YutongTie-MSFT commented on #33241
@TestUser20191 We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-06-18 17:31] #33241 closed

[2019-06-18 17:34] YutongTie-MSFT commented on #33339
@michalmar We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-06-18 17:34] #33339 closed

[2019-06-18 17:35] tfitzmac commented on #15114
The content was updated and is now available at [Integrate Resource Manager templates with Azure Pipelines](https://docs.microsoft.com/en-us/azure/azure-resource-manager/vs-resource-groups-project-devops-pipelines)

[2019-06-18 17:35] tfitzmac commented on #15114
#please-close

[2019-06-18 17:35] #15114 closed

[2019-06-18 17:37] tfitzmac commented on #15115
The content was updated, but links to related content for adding service connection. New article at [Integrate Resource Manager templates with Azure Pipelines](https://docs.microsoft.com/en-us/azure/azure-resource-manager/vs-resource-groups-project-devops-pipelines).

[2019-06-18 17:37] tfitzmac commented on #15115
#please-close

[2019-06-18 17:37] #15115 closed

[2019-06-18 17:39] tfitzmac commented on #16297
The content was updated and is now available at [Integrate Resource Manager templates with Azure Pipelines](https://docs.microsoft.com/en-us/azure/azure-resource-manager/vs-resource-groups-project-devops-pipelines).

[2019-06-18 17:39] tfitzmac commented on #16297
#please-close

[2019-06-18 17:39] #16297 closed

[2019-06-18 17:40] Alberto-Vega-MSFT commented on #33516
@haohuancheng I am glad you were able to resolve your issue. Please feel free to reach out if you have any feedback for this documentation. Cheers

[2019-06-18 17:40] #33516 closed

[2019-06-18 17:42] aquibqureshi26 commented on #30054
Hi Rajani,

I cannot find the updated content in the doc.

[2019-06-18 17:45] YutongTie-MSFT commented on #33526
@cmedit Thank you for your feedback, we will investigate it and get back to you soon.

[2019-06-18 17:45] MarileeTurscak-MSFT commented on #33503
@iqsarv
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-18 17:46] MarileeTurscak-MSFT commented on #33504
@johnmeredith
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-18 17:51] aahill commented on #33241
Thanks @YutongTie-MSFT, while it may not quite fit your use-case, I'll add that you can pin some [webpages](https://docs.microsoft.com/azure/cognitive-services/bing-custom-search/define-your-custom-view#pin-slices-to-the-top-of-search-results) to the top of specific search queries, to ensure they're visible.

[2019-06-18 17:52] mpchen opened #33530 "Set target of activity log alert at Management Group level"
Currently I can only set target of activity log alert at the subscription level. Since I have many subscriptions to manage, I'd want to be able to set the target at the management group level. I am wondering whether this can be done with ARM template today?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b5848cb-e266-6

[2019-06-18 17:56] FrankHu-MSFT commented on #33522
@yobyot  Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-18 17:56] DKiefer770 opened #33531 "'VpnClientSetupAmd64' installer package not included in VPN Configuration ZIP file"
The file only contains Generic and OpenVPN folders, Generic folder contains the .cer and .xml files only - where do I get the 'VpnClientSetupAmd64' installer package?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d5150fc-9936-07cf-dce7-44d0ec114cd0
* Version Independent ID: 8b627174-56cd-a81e-a687-34ba66d33550
* Cont

[2019-06-18 17:59] FrankHu-MSFT commented on #33506
@zwilias  Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-18 18:00] FrankHu-MSFT commented on #33520
@gsimardnet Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-18 18:00] FrankHu-MSFT commented on #33521
@maryannlim  Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-18 18:13] kavitajoshi commented on #31924
@t-pash thanks for the reply.
All the settings in the app were same as you mentioned. I didn't have storeAuthStateInCookie attribute set. And scope in the call was to https://api.yammer.com//.default instead of https://api.yammer.com/user_impersonation

Doing those 2 changes is connecting to api without error in Chrome.
The call does not work in IE. The SharePoint site is based on classic team sit

[2019-06-18 18:15] chillryan commented on #32998
Hi @Ahmad-Al-Ali, I wanted to follow up with you as I've heard from the doc author. The point of using 127.0.0.1 is to create a tunnel between your local machine and web app container. Once it was pointed out to me, it made since. However, if we receive additional feedback, we'll add some clarification to the doc.

We are going to close this thread as resolved but if there are any further question

[2019-06-18 18:18] RyanHill-MSFT commented on #32998
Hi @Ahmad-Al-Ali, I wanted to follow up with you as I've heard from the doc author. The point of using 127.0.0.1 is to create a tunnel between your local machine and web app container. Once it was pointed out to me, it made since. However, if we receive additional feedback, we'll add some clarification to the doc.

We are going to close this thread as resolved but if there are any further question

[2019-06-18 18:18] #32998 closed

[2019-06-18 18:20] Rajani-Janaki-Ram commented on #30054
HI, The PR is being processed, should be out in the next few hours.

[2019-06-18 18:23] t-pash commented on #31924
The MSAL docs probably have different flows to go through Authentication for IE.
[MSAL sample](https://github.com/Azure-Samples/active-directory-javascript-graphapi-v2/blob/quickstart/JavaScriptSPA/index.html)
All the way in the end. Not sure about this though, @hpsin any ideas?

[2019-06-18 18:24] jvinicius opened #33532 "Incorrect command - Install the provider on Hyper-V Core Server"
On code snipped:

cd  C:\Program Files\Microsoft Azure Site Recovery Provider\DRConfigurator.exe" /r /Friendlyname "FriendlyName of the Server" /Credentials "path to where the credential file is saved"

You should remove the "cd" instruction and add quotation marks at the beginner. So the command shall be:

"C:\Program Files\Microsoft Azure Site Recovery Provider\DRConfigurator.exe" /r /Friendlyna

[2019-06-18 18:25] aquibqureshi26 commented on #30054
oh okay, thanks for the reply. please close

[2019-06-18 18:25] aquibqureshi26 commented on #30054
#please-close

[2019-06-18 18:26] PRMerger13 commented on #30054
Only Microsoft employees can manage issues via commenting in this repo.

[2019-06-18 18:30] TravisCragg-MSFT commented on #33405
@brent-robinson We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-18 18:30] #33405 closed

[2019-06-18 18:34] kavitajoshi commented on #31924
Thanks @t-pash I'll give it try. Thanks.

[2019-06-18 18:35] artisticcheese opened #33533 "Impossible to switch to different subscription in cloud shell"
Not sure when it stopped working but it's impossible to switch context in cloudshell to different subscription

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d429ecd5-657d-35fc-fbe5-d8131c4da484
* Version Independent ID: 5b51f1ff-c0b2-4810-7c05-b867a9aa06af
* Content: [PowerShell in Azure Cloud Shell Quickstart

[2019-06-18 18:36] hpsin commented on #31924
I'd check with the MSAL team - @negoe ?

[2019-06-18 18:38] chetansriv commented on #33467
@chadmcox Are you sure that Jamf PRO don't support SP initiated SSO anymore?

[2019-06-18 18:41] Mike-Ubezzi-MSFT commented on #33473
@kaushikghosh Can you provide a complete doc example including system properties? Also, are you speaking in terms of view the resultset in Data Explorer (via Portal)? I believe this behavior is as expected as the Data Explorer currently is not designed to be a full-fledged graphing interface, showing matching query objects and not displaying their edge counterparts.  Please see: Able to view entir

[2019-06-18 18:50] YutongTie-MSFT commented on #33471
@vikramdadwal We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-18 18:50] #33471 closed

[2019-06-18 18:57] MicahMcKittrick-MSFT commented on #33460
I will close this for now. If you have further questions or comments just let me know and we can always reopen and continue the discussion.

[2019-06-18 18:57] #33460 closed

[2019-06-18 18:57] msrini-MSFT commented on #33531
@DKiefer770 , Thank you for reaching out. While configuring P2S, what mode did you select?

Is it OpenVPN or SSTP or IKEv2 or IKEv2 and openVPn or IKEv2 and SSTP?

[2019-06-18 18:59] bandersmsft commented on #33416
@CastleArg Hi. As publicly stated at https://docs.microsoft.com/en-us/azure/cost-management/overview#cloudyn-features-moving-to-azure-cost-management, the Cost Managment team is working on migrating Cloudyn functionality into Azure Cost Management. Although I can't provide any dates, I can say that *all* functionality will eventually be available.
#please-close

[2019-06-18 18:59] #33416 closed

[2019-06-18 19:02] msmbaldwin commented on #32008
We removed the asterisks last week, and replaced them with "See note below". This should make it clear.

Sorry I neglected to get back to you  earlier, but thank you very much for the feedback!  #please-close

[2019-06-18 19:02] #32008 closed

[2019-06-18 19:02] #32352 closed

[2019-06-18 19:07] weasnerb commented on #21326
@jeevansd Thank you for this, however I do not want to force login through this plugin, as we have some users on our Jira server that are a part of our internal Jira User Directory. Is there any way to just move the button below the login form without having to manually modify the login gadget?

[2019-06-18 19:14] YutongTie-MSFT commented on #33509
@AleksCallebat This issue is fixed now, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-18 19:14] #33509 closed

[2019-06-18 19:15] AjayKumar-MSFT commented on #33417
@techaimail, Could you please let us know what built-in Docker containers/image are you leveraging? and provide more details on your application framework.

Just to highlight, you could take a look at this generic configuration and management FAQ ‘[How do I set the server time zone for my web app](https://docs.microsoft.com/azure/app-service/faq-configuration-and-management#how-do-i-set-the-server

[2019-06-18 19:19] mswellsi commented on #32347
This issue has not been seen by the development team, and indeed the Roobo device is meant to be out-of-box-ready. I will ask the dev team for further ideas.

[2019-06-18 19:23] MGoedtel commented on #33340
@MedAnd - Thanks for sharing your feedback.  I'll include this in the scope of work I have planned for next month that corresponds with measuring agent resource utilization and influencing factors, including any limits for how may logs/performance counters can be collected per agent.  #please-close.

[2019-06-18 19:23] #33340 closed

[2019-06-18 19:33] Mike-Ubezzi-MSFT commented on #33503
@iqsarv Time to live for containers and items ([link](https://docs.microsoft.com/en-us/azure/cosmos-db/time-to-live#time-to-live-for-containers-and-items)) clearly details the applicable value to be applied within the hierarchy.

Whereas the Work with databases, containers, and items in Azure Cosmos DB [doc](https://docs.microsoft.com/en-us/azure/cosmos-db/databases-containers-items#properties-of-

[2019-06-18 19:38] YutongTie-MSFT commented on #33273
@edjez Hi, any update for this issue? I still see the screenshot with 1 hour 7 mins.

[2019-06-18 19:41] sean-nixon opened #33537 "Option 1 and 2 are identical"
Both options listed here use the exact same commands to add a completely new key to the key vault. What's the other option supposed to be?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ec6afe4-89a8-1b96-7ae4-81651004d858
* Version Independent ID: 1d17a759-76a0-c990-3993-4fe32ec3a5ed
* Content: [PowerShell - Rotate TD

[2019-06-18 19:43] SubhashVasarapu-MSFT commented on #33181
@TomaszOledzki , The above states that you can put a queryString arg, JSON/XML entitiy, form field name as an exclusion element. The values of the chosen field will not be evaluated against WAF rules. The exclusion lists remove inspection of chosen field's value.
Author was working on this document to provide much clarity on this statement.

[2019-06-18 19:50] stalinponnusamy opened #33539 "How to get v2 access token?"
Using https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token to get token but returns v1.0. And app registration manifest "accessTokenAcceptedVersion": 2 but still getting V1.0

  "app_displayname": "Gateway_Authentication",
  "appid": "29327a53-7dd4-4afd-80dd-ce574de5c1ce",
  "ver": "1.0",

What else is missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2019-06-18 19:51] maxluk commented on #33308
SKLearn estimator uses pre-built image, which speeds up first job start time, it goes through end-to-end tests, so less likely to break if there are changes upstream. you can set framework_version to lock the version to the tested one and make your job reproducible.

[2019-06-18 19:54] MarileeTurscak-MSFT commented on #33432
I believe it can technically be done but it is not a recommended approach for a production environment due to the constant network traffic you would have. I don't believe you would be blocked from the domain join itself but I am not 100% certain. CC @MicrosoftGuyJFlo to confirm.

[2019-06-18 19:57] MarileeTurscak-MSFT commented on #33447
Thanks for adding the PR! We will close this out but if you have further comments or action you would like taken on this, feel free to tag me or @PatrickFarley in the comments and we will gladly continue the discussion to get this resolved.

[2019-06-18 19:57] #33447 closed

[2019-06-18 20:09] loomlike opened #33540 "Azure CLI example should include `location` parameter"
First of all, thanks for the great contents!
I tried the example and found the workspace got deployed in a different region than the one I passed to my resource group creation. Turned out I have to pass `location` parameter to the deployment as well, like:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bb762e3

[2019-06-18 20:10] arkiaconsulting commented on #30815
@MisinformedDNA You have to add a `UserSecretsId` tag in your .csproj. See [here](https://docs.microsoft.com/en-us/aspnet/core/security/app-secrets?view=aspnetcore-2.2&tabs=windows#enable-secret-storage)

[2019-06-18 20:12] Blackmist commented on #33308
Thanks for the feedback @swanderz . I'll work on tracking down the answers with the engineering team.

[2019-06-18 20:13] diberry commented on #32959
@pablohr88 The Language Understanding [bot tutorials](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-nodejs-tutorial-bf-v4) have been updated. Please let us know if you have any further issues.

[2019-06-18 20:14] kaushikghosh commented on #33473
Hi Mike, I would like to differ from what you are saying. I re-wrote the same thing using Gremlin.NET and it works. In your example a Person following another Person refers to a relationship between 2 same vertices and not a relationship between 2 different vertices or 2 vertices with 2 different labels like a Person "having" a Device.

As I said, I have used the same dataset to import into Graph

[2019-06-18 20:18] psbds commented on #33464
hi @jakaruna-MSFT,

I'm using:
azure-cli (2.0.51)
aks (1.12.7)

[2019-06-18 20:20] MarkKharitonov commented on #24140
Guys, I also do not understand how this code works. Unused functions, bogus retry variables.
Better remove than keep and confuse.

[2019-06-18 20:23] rachel-msft commented on #33271
#please-close

[2019-06-18 20:23] #33271 closed

[2019-06-18 20:26] Mike-Ubezzi-MSFT commented on #33473
This appears to be a product issue. Can you open a Support Request to have a bug filed with the product team, or you can create an entry in the Cosmos DB UserVoice ([link](https://feedback.azure.com/forums/263030-azure-cosmos-db)).

[2019-06-18 20:27] WebbyNZ commented on #19544
Is there any update on possible timeframes for ServiceMap to be available in Australia?

[2019-06-18 20:30] cfauchere opened #33541 "Workspace region not supported"
I am following all the steps in this page but when I launch visual interface I get this message: "Your workspace in current region is not supported". I used Canada Central as it shows on this page. Could you please advise?

![image](https://user-images.githubusercontent.com/12868340/59717987-f9fde500-91cd-11e9-8abf-0714a2a1f5a8.png)

---
#### Document Details

⚠ *Do not edit this section. It is re

[2019-06-18 20:39] anavinahar commented on #33411
Where is the PR? Need a link. Reference above just brings us back here...

[2019-06-18 20:40] smoms commented on #33255
Many thanks. If so, I am not sure if you agree that this page https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/iot-edge/how-to-install-iot-edge-windows.md then needs to be slightly updated.

[2019-06-18 20:42] anavinahar commented on #33411
Dug through all of msrini-MSFT's PRs and found it. Approved.

[2019-06-18 20:45] #33411 closed

[2019-06-18 20:47] jeevansd commented on #21326
@weasnerb No. I dont think we have an option to move the Login button here. This is the design what JIRA team came up with. If you want to move it then you need to modify the Login page and move that control. Unfortunately we cant do anything from the plugin here.

[2019-06-18 20:47] my-work-sivabankapalli opened #33543 "OAuth bearer token for sample code"
In the step of the section ‘To register the sample SCIM endpoint in Azure AD’ mentioned to that ‘If the SCIM endpoint requires an OAuth bearer token from an issuer other than Azure AD, then copy the required OAuth bearer token into the optional Secret Token field.’. My questions here is how or where I can get the OAuth bearer token if I used sample code ‘https://github.com/Azure/AzureAD-BYOA-Provi

[2019-06-18 20:48] MarileeTurscak-MSFT commented on #33510
@arindam-b
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-18 20:49] MarileeTurscak-MSFT commented on #33515
@crpietschmann
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-18 20:50] my-work-sivabankapalli opened #33544 "How to get OAuth bearer token for Azure AD provisioning configuration for Sample code"
In the step of the section ‘To register the sample SCIM endpoint in Azure AD’ mentioned to that ‘If the SCIM endpoint requires an OAuth bearer token from an issuer other than Azure AD, then copy the required OAuth bearer token into the optional Secret Token field.’. My questions here is how or where I can get the OAuth bearer token if I used sample code ‘https://github.com/Azure/AzureAD-BYOA-Provi

[2019-06-18 21:01] jeevansd commented on #33522
@chetansriv and @v-nagta Can you please update this doc?

[2019-06-18 21:10] MicahMcKittrick-MSFT commented on #33524
@MsdnUsrSince1994 I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-18 21:12] MarileeTurscak-MSFT commented on #33523
@devlife
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-18 21:13] femsulu commented on #33508
added triage labels.

[2019-06-18 21:13] #33508 closed

[2019-06-18 21:14] Jann-Skotdal commented on #30352
@TechWatching: I contacted the admins at translator@microsoft.com and had them respond to your email. I am very sorry the email was missed earlier. Can you let me know if you received it?

[2019-06-18 21:14] FrankHu-MSFT commented on #33506
Hey thanks again for the feedback, per the new SCIM 2.0 Compliance issues/status Azure AD does in fact require "/scim" to be in the application's SCIM endpoint URL per the doc :

https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-provisioning-config-problem-scim-compatibility

Note: that this was set on Dec. 18, 2018.

I'll go engage the author of this article to doubl

[2019-06-18 21:16] TravisCragg-MSFT commented on #33525
@tiny-dancer Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-06-18 21:20] femsulu commented on #33530
Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-06-18 21:24] femsulu commented on #33532
@jvinicius Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-06-18 21:24] femsulu commented on #33532
@jvinicius  - fyi

[2019-06-18 21:26] scottmcm commented on #22882
What's the expected time for the page to update?  It's been almost 5 months since this was closed, but the containers (https://docs.microsoft.com/en-us/azure/cosmos-db/databases-containers-items#azure-cosmos-containers) and items (https://docs.microsoft.com/en-us/azure/cosmos-db/databases-containers-items#azure-cosmos-items) tables both still have `_id` but not `_rid`:
![image](https://user-images

[2019-06-18 21:27] maertendMSFT commented on #33533
I cannot repro this.  Are you still seeing this issue?  What if the output of `$env:ACC_VERSION` in Cloud Shell?

[2019-06-18 21:28] diberry commented on #32586
#in-progess

[2019-06-18 21:31] artisticcheese commented on #33533
Yes, still seeing this requested output is below

[code]

[2019-06-18 21:32] YutongTie-MSFT commented on #33541
@cfauchere Hi Clement, I am very sorry about your experience. For now, Visual Interface is currently not available in the Canada Central Region. It will be available by the end of June.

[2019-06-18 21:35] maertendMSFT commented on #33533
Can you supply the Id instead of the name?

[2019-06-18 21:37] TravisCragg-MSFT commented on #33529
@Cojacfar Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-18 21:37] artisticcheese commented on #33533
Does not work either

[code]

[2019-06-18 21:41] YutongTie-MSFT commented on #33540
@loomlike Thank you for your feedback on document, I will fix it.

[2019-06-18 21:50] yunjchoi commented on #33161
@ddkserv Please see the above comment.

[2019-06-18 21:51] #26761 closed

[2019-06-18 21:59] toenie23 opened #33548 "Event Based Trigger does not fire off automatically"
Hello,

I've registered Event Grid in my subscription, followed all the steps and parameterized the pipeline with
@triggerBody().folderPath and @triggerBody().fileName

I am running a simple copy activity to test this trigger and it seems I have to manually trigger the pipeline and then the copy activity will do it's thing (copy a file from blob to blob when a certain file lands into blob01).

Am

[2019-06-18 22:07] SinghGurd commented on #33382
Thanks Manoj...Do you know of a blog/documentation that walks through using an existing ADFS farm? Existing documentation runs through creating a new ADFS farm https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-install-custom#configuring-federation-with-ad-fs.

It also states "Azure AD Connect can be used to manage only one AD FS farm. If you have existing federation tru

[2019-06-18 22:17] arindam-laha opened #33549 "Broken link"
The hyperlink mentioned in the page is not working - https://aka.ms/msal-net-interactive

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f8c12ad-ea7f-5b0a-2322-582720ee76fc
* Version Independent ID: 443d54f7-5ffa-444a-c757-1348fb1ca948
* Content: [Authentication flows (Microsoft Authentication Library)](https://docs.mi

[2019-06-18 22:23] Adam-Smith-MSFT commented on #33125
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-06-18 22:23] #33125 closed

[2019-06-18 22:31] BorisB2015 commented on #27344
This issue should be re-opened until docs are fixed. (#in-process) New UI does not generate the value expected by the CPP.

Meanwhile if you came here because of searches, the following might help (it is CLI way of doing what the portal does):

1. Get yourself a file with random 32 bytes. You can use https://www.random.org/bytes/ and download as file
1. In CloudShell (or on Mac or Linux machine) r

[2019-06-18 22:33] mdgattuso commented on #33525
We only allow key vault certs from the same subscription as the cdn resource to be selected. Any user who doesn't have access to that subscription cannot use the cert in their own cdn resource.

[2019-06-18 22:34] Mike-Ubezzi-MSFT commented on #33537
@sean-nixon Thank you for bringing this to our attention. I will have a correction made to the documentation.

[2019-06-18 22:37] Mike-Ubezzi-MSFT commented on #33537
@aliceku The Manual key rotation ([link](https://docs.microsoft.com/en-us/azure/sql-database/transparent-data-encryption-byok-azure-sql-key-rotation#manual-key-rotation)) and the Option 2: Manual rotation ([link](https://docs.microsoft.com/en-us/azure/sql-database/transparent-data-encryption-byok-azure-sql-key-rotation#option-2-manual-rotation)) are exactly the same?! @CarlRabeler for awareness.

[2019-06-18 22:50] edjez commented on #33273
@diberry - is this something you could help with or should we do it?

[2019-06-18 22:50] TiloGit commented on #33115
hi, did the VMs actually shutdown? the screenshot doesn't show enabled auto-shutdown. (yours seems to be in "between")
here a screenshot with "Fully" enabled auto-shutdown

![sshot-2019-06-18- 15-47-40](https://user-images.githubusercontent.com/6953606/59724969-b365b600-91e0-11e9-89c8-e55410fe720c.png)

[2019-06-18 22:52] mohsena67 commented on #15833
If you give me more info, I can help you. Does it work in Power BI Desktop when you make all the data sources settings to public.

[2019-06-18 22:56] CarlRabeler commented on #33537
@VanMSFT for awareness

[2019-06-18 23:01] TravisCragg-MSFT commented on #33525
@tiny-dancer If you are concerned about teams having access to other teams certificates, you will need each team to have their own subscription with their own Key Vault and CDN.

[2019-06-18 23:02] TravisCragg-MSFT commented on #33209
@TomaszOledzki We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-18 23:02] #33209 closed

[2019-06-18 23:08] aliceku commented on #33537
There is only the option of manual key rotation, we had to disable automatic key rotation, because that was breaking the geo-dr scenario.  It's just a matter of changing the article to make clear that there is only one option now: manual rotation.

[2019-06-18 23:09] aliceku commented on #33537
I don't know why the manual section is duplicated though, the Option #2 can be removed.

[2019-06-18 23:23] jan4victory opened #33551 "I keep getting the "Conflict" error for one of the automation jobs below, any advise?"
{ "id": "/subscriptions/xxxxxxx/resourceGroups/xxxxx/providers/Microsoft.Resources/deployments/Microsoft.Template/operations/5B9C73BD0DB893A0", "operationId": "5B9C73BD0DB893A0", "properties": { "provisioningOperation": "Create", "provisioningState": "Failed", "timestamp": "2019-06-18T23:17:12.8511623Z", "duration": "PT54.0899824S", "trackingId": "1989efdf-40dc-484a-b21c-e04b7beade59", "statusCode

[2019-06-18 23:29] MarileeTurscak-MSFT commented on #33549
@arindam-laha
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-18 23:33] Mike-Ubezzi-MSFT commented on #33537
Removing section.

[2019-06-18 23:34] #33551 closed

[2019-06-18 23:36] Mike-Ubezzi-MSFT commented on #33537
Someone beat me to it. @sean-nixon An update will be published within the next 24 hours.

[2019-06-18 23:36] femsulu commented on #33073
awaiting update from @snehithm

[2019-06-18 23:37] TravisCragg-MSFT commented on #33208
@TomaszOledzki only one policy can be specified per Application Gateway

[2019-06-18 23:38] MarileeTurscak-MSFT commented on #33549
@arindam-laha you are correct that it is broken - good catch! I made a pull request to link to the Github repo and will leave it open for @rwike77 to approve. https://github.com/MicrosoftDocs/azure-docs-pr/pull/79978

[2019-06-18 23:38] #33549 closed

[2019-06-18 23:44] femsulu commented on #33088
@GuyPaddock Thanks again for sharing the above feedback as an alternative. This has been shared with the content author for review and possible inclusion in the document. We will now close this request.
@MGoedtel  - fyi

[2019-06-18 23:44] #33088 closed

[2019-06-18 23:52] MarileeTurscak-MSFT commented on #33444
Since the article is not related to Teams, and neither the release notes for Identity Protection nor the notes for Team Rooms state otherwise, I am not sure that this is the best space to add this.

I think it is best to stay tuned to the release notes for updates on this feature. https://docs.microsoft.com/en-us/microsoftteams/room-systems/srs2-release-note
https://docs.microsoft.com/en-us/azure/

[2019-06-18 23:53] MarileeTurscak-MSFT commented on #33444
I am closing this out for now but am tagging the content author @MicrosoftGuyJFlo for visibility so that he can take your feedback and update the doc if required.

[2019-06-18 23:53] #33444 closed

[2019-06-18 23:55] Mike-Ubezzi-MSFT commented on #33537
Looking through the history of this document, it used to be ## Option 1: Auto rotation and ## Option 2: Manual rotation but with the recent migration to az.sql, the auto functionality does not exist and manual was being used as a placeholder until the functionality became available. Subsequently, a PR was issued to remove Option 2 via the following commit: https://github.com/MicrosoftDocs/azure-do

[2019-06-18 23:55] ram-kakani commented on #33415
@paulkel thanks for pointing it out. The diagram has been corrected.

[2019-06-18 23:56] femsulu commented on #33228
adding @kasparks to confirm.

[2019-06-19 00:03] MarileeTurscak-MSFT commented on #33520
Hi @gsimardnet ,

I just tested in my own tenant and was able to get it working. (See campuscoolthings app.)

![image](https://user-images.githubusercontent.com/13383753/59727418-80c0bb00-91ea-11e9-9826-42efbc785dd0.png)

Have you tried using an entirely different browser and making sure the session isn't caching your old settings? I was having the same problem but made the change in Chrome and th

[2019-06-19 00:05] MarileeTurscak-MSFT commented on #33528
@andronachev
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-19 00:07] MarileeTurscak-MSFT commented on #33539
Hi @stalinponnusamy

Kindly link the doc that you are following so that we can better assist you.

[2019-06-19 00:08] aliceku commented on #33537
We removed option one, the auto-rotation, because it was breaking the geo-dr scenario.  We are blocking auto-key rotation now.  I had removed that section, but didn't realize that option 2 was duplicated.  I just removed the duplicated section.

[2019-06-19 00:08] uonie opened #33556 "The GUI has been changed and the screenshots in this page should be updated."
The Azure portal has new GUI, we can't find the options in the screenshots.
The procedure should be updated to avoid confusion.

And also need to add a new procedure for recovering a managed VM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9561fae9-9031-77b6-1304-e992f9c44e79
* Version Independent ID: 79c62932-e512-4

[2019-06-19 00:08] MarileeTurscak-MSFT commented on #33543
@my-work-sivabankapalli
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-19 00:10] MarileeTurscak-MSFT commented on #33544
@my-work-sivabankapalli
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-19 00:10] MarileeTurscak-MSFT commented on #33543
I am closing this out as it is a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/33544

[2019-06-19 00:10] #33543 closed

[2019-06-19 00:11] MarileeTurscak-MSFT commented on #33548
@toenie23 kindly refer to the document that you are following so that we can better assist you.

[2019-06-19 00:35] MicahMcKittrick-MSFT commented on #33551
@jan4victory thanks for reaching out. If you still need help just let us know.

[2019-06-19 00:36] MicahMcKittrick-MSFT commented on #33556
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-19 00:50] kaushikghosh commented on #33473
Mike, if its a product issue why will the Gremlin.NET SDK work? I am not sure if BulkImport would be a product issue or not but basically what is happening is that when importing vertices with multiple labels, even if the edges with out and in Vertices are defined along with Keys, the Source and Targets are not getting linked automatically.

[2019-06-19 00:56] SogoGolf opened #33558 "React is reasonably popular atm. Some docs on usage of MSoft's blob storage with it would be handy"
per the title.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4090e045-28aa-2924-ca80-e74546f677f5
* Version Independent ID: 438704d0-88ff-aa19-a8cc-4d037290b46a
* Content: [Quickstart - Create a blob in Azure Storage by using JavaScript and HTML in the browser](https://docs.microsoft.com/en-us/azure/storage/blobs/stor

[2019-06-19 01:11] laurentbastien opened #33559 "Lack of documentation on continuous integration and delivery in ADF."
There is only [this](https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment) documentation. The documentation on [parameterizing](https://docs.microsoft.com/en-us/azure/data-factory/parameterize-linked-services) is incredibly short and doesn't say anything at all about integration with Azure DevOps. I have been searching for proper way of overriding linked services p

[2019-06-19 01:12] netapp-juliec commented on #33415
#please-close

[2019-06-19 01:12] PRMerger8 commented on #33415
Only Microsoft employees can manage issues via commenting in this repo.

[2019-06-19 01:13] b-juche commented on #33415
Thanks to @ram-kakani for addressing this issue.

#please-close

[2019-06-19 01:13] #33415 closed

[2019-06-19 01:49] AshokPeddakotla-MSFT commented on #31196
@nicklasfrahm We hope all of your queries are addressed. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-19 01:49] #31196 closed

[2019-06-19 01:54] random82 opened #33560 "The API to work with Table examples is unclear"
I was exploring how to run LINQ queries to Table service and I found this page not being clear about which libraries and namespaces to use.

The implementation considerations https://docs.microsoft.com/en-us/azure/storage/tables/table-storage-design-patterns#implementation-considerations reads:

However that's not the across the whole page. For example: for LINQ Query expressions from this example

[2019-06-19 02:16] AshokPeddakotla-MSFT commented on #32611
@wesmc7777 Please check this issue and update the doc as appropriate.

[2019-06-19 02:40] DixitArora-MSFT commented on #33268
@swagulkarni I have followed the steps and able to execute the function with out any issues. This repo is scoped for documentation feedback and it would be best if you can create the product issue to the official Azure Functions [Repo ](https://github.com/Azure/Azure-Functions/issues)for better clarity.

[2019-06-19 02:40] #33268 closed

[2019-06-19 02:42] DixitArora-MSFT commented on #33409
@amir-microsoft Just following if you still have any questions .

[2019-06-19 02:43] SnehaAgrawal-MSFT commented on #33558
@SogoGolf Thanks for your feedback! We will investigate and update as appropriate

[2019-06-19 02:45] SnehaAgrawal-MSFT commented on #33560
@random82 Thanks for your feedback! We will investigate and update as appropriate

[2019-06-19 02:52] random82 commented on #33560
Thanks, I raised a PR: https://github.com/MicrosoftDocs/azure-docs/pull/33562

[2019-06-19 03:01] SnehaAgrawal-MSFT commented on #33559
@laurentbastien Thanks for the question! We are investigating and will update you shortly.

[2019-06-19 03:40] Mike-Ubezzi-MSFT commented on #33537
Thanks @aliceku !
@sean-nixon We will now proceed to close this thread as an update should be published within 24hrs. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-19 03:40] #33537 closed

[2019-06-19 04:02] DashleenBhandari-MSFT commented on #33410
@mgouffe , I have not heard back from you. I will go ahead and close this issue for now. Feel free to reopen the issue if you need further assistance.

[2019-06-19 04:02] #33410 closed

[2019-06-19 04:07] angoyal-msft commented on #33317
@yuharucan Thanks for more insight. I'll assign this issue to the content author to update the document appropriately with the port information. So that it would be easier for the user to setup the correct ports.
@allenwux Could you please look at this issue and update the document appropriatetly.

[2019-06-19 04:10] Mike-Ubezzi-MSFT commented on #33473
@kaushalp The BulkImport is based upon .NET or Java library, you have an option. Gremlin.NET is a separate library. Feel free to reach out to [AskCosmosDB](mailto:askcosmosdb@microsoft.com) if you have further questions, as they are happy to respond to product questions.
What I don't have is an example where multiple labels are present.

In both the Vertex and edge samples below, there is only a s

[2019-06-19 04:19] AshokPeddakotla-MSFT commented on #30092
@jlian Just checking in to see if there is any update on this issue so that it can be closed.

[2019-06-19 04:29] AshokPeddakotla-MSFT commented on #30614
@martinKindall Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-06-19 04:29] #30614 closed

[2019-06-19 04:51] ethenhunt321 commented on #17524
I am not concerned about storageAccountid here. All I am referring to the ARM file given here https://github.com/Azure/azure-quickstart-templates/blob/master/101-function-app-create-dedicated/azuredeploy.json

which deploys app service plan is complaining about SKU, "invalid sku". So both tier and sku is required to deploy this arm template.

[2019-06-19 04:53] #33404 closed

[2019-06-19 05:03] jakaruna-MSFT commented on #33479
#33430 Similar issue

[2019-06-19 05:09] jakaruna-MSFT commented on #33479
@coreyperkins Did you get image pull working now?

[2019-06-19 05:43] dnyaneshlb commented on #32609
@ShubhaVijayasarathy care to reply on this?

[2019-06-19 05:45] fruffin opened #33563 "Does this really support Azure Container Instances?"
The introduction implies that Azure Monitor for Containers supports both ACI and AKS, but everything after that refers to Kubernetes only. I have played around with ACI and there doesn't seem to be an option to surface ACIs into Azure Monitor for Containers.
Am I missing something?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-06-19 05:50] MartinNr5 commented on #33518
Hi Adam.

Yes, that does answer the question, thanks.

Would it be possible to add this to the documentation? You could copy and paste your answer above into a separate section and that'd be enough. :)

Thanks again.

[2019-06-19 05:54] shashishailaj commented on #33435
We will close this now as there is no further work pending on this issue. should you have any further query , please open a new issue or tag me to your reply .

Thank you.

[2019-06-19 05:54] #33435 closed

[2019-06-19 05:54] AshokPeddakotla-MSFT commented on #31502
@wesmc7777 Please check this issue and update the doc as appropriate.

[2019-06-19 06:01] YASWANTHM-MSFT commented on #33560
@random82 , Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate

[2019-06-19 06:05] YASWANTHM-MSFT commented on #33558
@SogoGolf , Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate

[2019-06-19 06:10] AshokPeddakotla-MSFT commented on #32624
@lciocci As suggested, please send an email and this will be addressed offline.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-19 06:10] #32624 closed

[2019-06-19 06:19] SouravKarmakar96 commented on #24546
Can we move SQL Managed Instance across subscriptions ? Is there any kind of documentation regarding this ?

[2019-06-19 06:19] j0rt3g4 commented on #30743
@Karishma-Tiwari-MSFT @ramankumarlive
Solving this using PR #33561

Certainly the "Ps code" is not on the repository if you fork the repository so I removed the referenced line and in change, I added the PS code into the article itself with the fixes.

[2019-06-19 06:30] KetanChawda-MSFT commented on #33481
@dcbrown16 With the `E-mail Settings` on the Notification Templates page you can change/update the Administrator email which you have provided during the creation of API Management instance.

You can configure notifications for specific events, and to configure the email templates that are used to communicate with the administrators and developers of an API Management instance.

for example, If yo

[2019-06-19 06:34] v-yanfw commented on #33333
to update the document to be more clear is better for customer.

[2019-06-19 06:35] Skyscalesystems opened #33565 "System.AggregateException HResult=0x80131500 Message=One or more errors occurred. (Operation returned an invalid status code 'NotFound') Source=System.Private.CoreLib StackTrace: at System.Threading.Tasks.Task.ThrowIfExceptional(Boolean includeTaskCanceledExceptions) at System.Threading.Tasks.Task.Wait(Int32 millisecondsTimeout, CancellationToken cancellationToken) at System.Threading.Tasks.Task.Wait() at Microsoft.Azure.CognitiveServices.Samples.TextAnalytics.Program.Main(String[] args) in C:\Users\pc\Downloads\cognitive-services-dotnet-sdk-samples-master\cognitive-services-dotnet-sdk-samples-master\samples\TextAnalytics\Program.cs:line 58 Inner Exception 1: ErrorResponseException: Operation returned an invalid status code 'NotFound'"
System.AggregateException
  HResult=0x80131500
  Message=One or more errors occurred. (Operation returned an invalid status code 'NotFound')
  Source=System.Private.CoreLib
  StackTrace:
   at System.Threading.Tasks.Task.ThrowIfExceptional(Boolean includeTaskCanceledExceptions)
   at System.Threading.Tasks.Task.Wait(Int32 millisecondsTimeout, CancellationToken cancellationToken)
   at System.Threa

[2019-06-19 06:35] olandese commented on #33480
we are having since yesterdat morning (West Europe) exactly the same problem

[2019-06-19 06:36] dcbrown16 commented on #33481
Thanks @KetanChawda-MSFT. Can we please consider adding that description to the document?
To be honest, it's strange that you can configure the email here instead of doing it from the User menu, but that would be a product request. Can we just add some info about what Email Settings does to this document, since the button appears here?

[2019-06-19 06:40] AshokPeddakotla-MSFT commented on #31821
@avinashchadalavada Is there any update on this issue? Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-06-19 06:40] #31821 closed

[2019-06-19 06:42] AshokPeddakotla-MSFT commented on #31878
@csamleong Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-06-19 06:42] #31878 closed

[2019-06-19 06:43] SaurabhSharma-MSFT commented on #33453
@bartvermeersch Yes, you can modify the manifest from Application Registration page. Go to Azure Active Directory > App registrations > Select "All apps" from the dropdown > click into the enterprise application that you have registered under that tenant.  Select "Manifest" from Application registration blade.

[2019-06-19 06:43] SaurabhSharma-MSFT commented on #33275
@dguimbellot We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-06-19 06:43] #33275 closed

[2019-06-19 06:48] AshokPeddakotla-MSFT commented on #32467
@RamonArguelles Please check this issue and update the document if necessary.

[2019-06-19 06:48] julesman101 opened #33566 "Support for AD Integration with Azure Active Directory Domain Services?"
Under the SMB FAQ's, could you please add another entry outlining ANF support (or non-support) for Azure Active Directory Domain Services (AAD-DS) ?
Thanks... JD

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 533a34cf-3791-0a45-f9f3-991fb4cf8eb1
* Version Independent ID: 8335006a-84b6-700d-03a4-36191da4791a
* Content:

[2019-06-19 06:48] KranthiPakala-MSFT commented on #33333
@v-yanfw Thank you so much for your detailed step by step explanation about Service Principal & Managed Identity Authentication for Azure SQL Database Managed Instance.

We really appreciate your feedback! At this time we have assigned the issue to the content author to review your comments and update the document as appropriate.

[2019-06-19 06:50] KranthiPakala-MSFT commented on #33333
@linda33wj Could you please take a look at @v-yanfw feedback.

[2019-06-19 06:53] dcbrown16 opened #33567 "PowerShell/CLI"
Are there plans to add PowerShell or Azure CLI versions of this document?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe2b4a5e-861c-828b-5f3a-f5584649c0d6
* Version Independent ID: e4741daf-7a7f-fb2b-6497-9086e61e8320
* Content: [Export Azure Resource Manager template by using the Azure portal](https://docs.microsof

[2019-06-19 06:57] Pauline-Kowa opened #33569 ""An error occured while sending the request""
Hello,

I opened an issue 2 weeks ago about a problem while running sample codes. As I don't have any response, I'm opening a new issue to notify that my issue is still current.

I still have the same error message while running the application with the Emotion mode "API call failed on frame 0. Exception : An error occured while sending the request". I didn't achieve to find where it comes from.

[2019-06-19 07:02] Skyscalesystems commented on #33565
Hi,,I am trying to use Text analytics in my C# Application but getting below issue

System.AggregateException
HResult=0x80131500
Message=One or more errors occurred. (Operation returned an invalid status code 'NotFound')
Source=System.Private.CoreLib
StackTrace:
at System.Threading.Tasks.Task.ThrowIfExceptional(Boolean includeTaskCanceledExceptions)
at System.Threading.Tasks.Task.Wait(Int32 millis

[2019-06-19 07:18] nicolaszhang commented on #33007
Those permission required to access Azure Batch doesn't require Grant admin consent, so I assume there is no special Grant permission for this?

[2019-06-19 07:19] AshokPeddakotla-MSFT commented on #31987
@El-Hassan Have you had a chance to see the above response? Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-06-19 07:19] #31987 closed

[2019-06-19 07:20] Ahmad-Al-Ali commented on #32998
Hello @RyanHill-MSFT  thanks for the update, it's not clear in the docs that we are using a tunnel I guess but when we know it does make sense...
this article https://techcommunity.microsoft.com/t5/Azure-App-Service/Things-You-Should-Know-Web-Apps-and-SSH/ba-p/392548 better explains this part.

, I got an error regarding a cipher mismatch and I solved it by specifying the cipher within the SSH com

[2019-06-19 07:21] nicolaszhang commented on #33007
And here is the page from my portal:

![image](https://user-images.githubusercontent.com/2117138/59744800-ef168380-92a5-11e9-8f28-67dbf25d1ec6.png)

[2019-06-19 07:28] srikanthraju2016 opened #33570 "https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-python#feedback"
Two issues -

1. Python version must be 3.6.8.  Also, it must be clearly stated that the code will fail if a 32-bit version of the binary was downloaded accidentally on a 64-bit machine.

2. the edits to the hosts.json file seem unnecessary.  Everything works without these edits.  In fact, execution fails after the suggested edits in the documentation.

---
#### Document Details

⚠ *Do not edit th

[2019-06-19 07:39] TechWatching commented on #30352
Yes I received it. Thanks :)

[2019-06-19 07:48] 0GiS0 commented on #33101
I'm sorry @Mike-Ubezzi-MSFT ! I didn't have time to try before now.
It works like a charm.
Thank you!

[2019-06-19 07:51] kali11 opened #33571 "No sample option"
There is no option in portal to select a sample to populate database. There is just blank and backup

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90467e66-9062-01e3-6d40-fce8625d005b
* Version Independent ID: 8db6b4e9-fd3a-8b45-1283-7f7144772a88
* Content: [Quickstart: Create and query Azure SQL Data Warehouse - Azur

[2019-06-19 07:59] KetanChawda-MSFT commented on #33481
@vladvino / @mikebudzynski any thoughts here?

[2019-06-19 08:04] KetanChawda-MSFT commented on #33570
@srikanthraju2016 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-19 08:06] brainbug89 commented on #23647
azcopy is also not available for Ubuntu 19.04. Any updates?

[2019-06-19 08:09] zboyanov commented on #33238
well when I try with Endpoint=sb I get that error

On Tue, Jun 18, 2019 at 1:30 PM AjayKumar-MSFT <notifications@github.com>
wrote:

[2019-06-19 08:10] zboyanov commented on #33238
System.UriFormatException: Invalid URI: The URI scheme is not valid

On Wed, Jun 19, 2019 at 11:09 AM Zdravko Boyanov <zbboyanov95@gmail.com>
wrote:

[2019-06-19 08:12] KetanChawda-MSFT commented on #33523
@devlife Can you try the approach as mentioned in [this blog](http://marcelegger.net/azure-functions-v2-keyvault-and-iconfiguration)

[2019-06-19 08:18] KetanChawda-MSFT commented on #33528
@andronachev Thank you for your post! Since this channel is for driving improvements towards MS Docs and this issue is not directly related to the doc, I would recommend you to create a issue on the [Azure Functions Host repo](https://github.com/azure/azure-functions-host/issues). Once you post your issue on repo, it will have visibility across the product owners which is a better suited audience

[2019-06-19 08:18] #33528 closed

[2019-06-19 08:27] iloabn commented on #31413
Hi, I happened to stumble upon this fantastic effort. Looks like almost all issues are still open, even though there is *a lot* of PRs created and merged in connection with it. For example #31442 is still upon although comments and referenced PRs have all been merged. Is there something I'm missing here, or something I could help with somehow? 🙂
I would very much like to contribute with increasing

[2019-06-19 08:29] obrookstein opened #33573 "D2C telemtry"
Hi,

After reading this, and other linked articles, it seems that in order to send D2C telemetry, and route it using matchers and UDF, one must specify the DigitalTwins-SensorHardwareId. However, what if the message is not sent from a specific sensor, but by the device itself? How in this case can I use matchers and UDF rather than simply forward all telemetry to Even hub? Could you please add an

[2019-06-19 08:31] stalinponnusamy commented on #33539
Topic : Microsoft identity platform and the OAuth 2.0 client credentials flow
Header : Get a token
Sub Header : First case: Access token request with a shared secret
Link:
https://login.microsoftonline.com/a2c2f5ee-45ac-4f21-93e7-b05ba44d3b25/oauth2/v2.0/authorize?client_id=29327a53-7dd4-4afd-80dd-ce574de5c1ce&redirect_uri=https://snv2app.azurewebsites.net&response_type=id_token+token&scope=openid

[2019-06-19 08:37] GraemeSMiller opened #33574 "New App Registration (Non Legacy)"
Could this page be updated for the new app registrations experience? App registrations (Legacy) doesn't appear in the All Services list and you have to go to new experience and then request the old experience (which instructions don't mention)

Also new experience is now default

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-06-19 08:38] GraemeSMiller commented on #32842
Per my comment - this is no longer how to get to the legacy registration

[2019-06-19 08:39] zboyanov commented on #33238
And How can I register my apple device, so I can test send notifications?

On Wed, Jun 19, 2019 at 11:09 AM Zdravko Boyanov <zbboyanov95@gmail.com>
wrote:

[2019-06-19 08:42] timtre commented on #32347
@mswellsi: Thanks! May the problem be that I am trying to use the device being located in Europe instead of China or the US?

[2019-06-19 08:44] SubhashVasarapu-MSFT commented on #33157
@DanijelMalik , Could please provide us with the powershell output for this error. Which look similar to this,
**Note:** Please make sure to mask confidential areas like subscription ID or secrets.
{
  "status": "Failed",
  "error": {
    "code": "ApplicationGatewayKeyVaultSecretException",
    "message": "Problem occured while accessing and validating KeyVault Secrets associated with Application

[2019-06-19 08:45] SnehaAgrawal-MSFT commented on #33565
@Skyscalesystems Could you share the URL of the doc you are referencing.

[2019-06-19 08:52] SnehaAgrawal-MSFT commented on #33569
@Pauline-Kowa Thanks for the feedback!Could you share the URL of the doc you are referencing.

[2019-06-19 08:56] TomicaKaniski opened #33575 "Maybe use the Az module with your examples?"
Register-AzProviderFeature -FeatureName AllowBastionHost -ProviderNamespace Microsoft.Network
Register-AzResourceProvider -ProviderNamespace Microsoft.Network
Get-AzProviderFeature -ProviderNamespace Microsoft.Network

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 196cd28d-c7b6-9e3f-ef55-1c85d6c9be5f
* Version Independ

[2019-06-19 08:56] ashkansirous opened #33576 "Give an example how to set correlation Id in the context of functions for azure functions v2"
CorrelationId something that we would like to pass all the way down between APIs and functions that has been triggered by an action.
On web, it is easy because there is a concept of HTTP context and the request that has the header for correlationId. In functions there is no request or HTTP context so it is not clear where to put one when creating it or where to replace it when we receive it from a

[2019-06-19 09:00] AshokPeddakotla-MSFT commented on #31872
@fhe-fr Have you had a chance to see the above response? Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-06-19 09:00] #31872 closed

[2019-06-19 09:01] msrini-MSFT commented on #33575
@TomicaKaniski , Thank you for your feedback. Going forward we recommend customers to use Az module instead of AzureRM module. I will do a PR and the changes will be reflected soon.

[2019-06-19 09:06] msrini-MSFT commented on #33575
PR link: https://github.com/MicrosoftDocs/azure-docs-pr/pull/80010

Waiting for the author to review and approve.

[2019-06-19 09:17] amir-microsoft commented on #33409
Thanks @DixitArora-MSFT and @promoisha,
seems like the issue is resolved by setting the Azure monitor logging to zaro bytes of the body resolved the issue

[2019-06-19 09:18] pvandorp commented on #32883
@MicahMcKittrick-MSFT The issue this points to is not the same issue as is described by @bitsofinfo. This issue is about the [Azure AAD integration with AKS](https://docs.microsoft.com/en-us/azure/aks/azure-ad-integration). This did work in the past, but it doesn't anymore.

[2019-06-19 09:22] DixitArora-MSFT commented on #33409
@amir-microsoft Thanks for the update. For now we will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-19 09:22] #33409 closed

[2019-06-19 09:23] jakaruna-MSFT commented on #33479
I tried today. Both methods worked well for me.
- to give [access ](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-auth-aks#grant-aks-access-to-acr)for AKS to pull images from ACR
- Create a new service principal, give [access ](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-auth-aks#access-with-kubernetes-secret)for that principal to acc

[2019-06-19 09:25] aasis21 opened #33577 "Getting preview together with Suggestion from the API."
It seems that the SDK client only returns Flagged Tokens but now preview as the demo site( https://azure.microsoft.com/en-us/services/cognitive-services/spell-check/) provides. Is there way to get the preview also?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6793619-efc3-eb91-793c-b5d38369a5a1
* Version Independent

[2019-06-19 09:50] cuongdnv commented on #33430
@jakaruna-MSFT
i have trouble with helm .
yesterday i installed helm and run successfully helm chart .
But today when i back to work i can't see tiller on the server .
some command i tried
$helm version
Client: &version.Version{SemVer:"v2.14.1", GitCommit:"5270352a09c7e8b6e8c9593002a73535276507c0", GitTreeState:"clean"}
Error: could not find a ready tiller pod
then i tried to upgrade tiller:
$helm

[2019-06-19 09:52] miguelangelopereira opened #33578 "Dysk is Deprecated"
does it make sense to maintain Dysk on the list?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc89d962-27d5-2ebd-4e8d-092948eb92a3
* Version Independent ID: 49e054ed-b4c7-f4d7-b88f-68a0ff61035d
* Content: [Operator best practices - Storage in Azure Kubernetes Services (AKS)](https://docs.microsoft.com/en-us/azure/aks

[2019-06-19 09:53] sparlampe opened #33579 "Containers with custom model"
We are interested in using an on-premise container with a custom model. Medical industry, so we can't share data and need specific vocabulary. Is this possible with the speech containers as offered by cognitive services?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 471c94dc-0175-5575-0d82-484e9c8db0b4
* Version Indep

[2019-06-19 09:57] SantoshAvaji opened #33580 "Browse instead of Browser"
In this page , i have come across small typo mistake.
In below line of documentation instead of browser , its just browse is there

It should be

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b0165d7-6462-842c-76ec-1a1f344fa51a
* Version Independent ID: 3b2c77ed-d9eb-cf20-0ace-908b88927e54
* Content: [Create Node.js w

[2019-06-19 10:03] jakaruna-MSFT commented on #32227
@SharmainePopov is there any update

[2019-06-19 10:07] Skyscalesystems commented on #33565
Hi ,

https://docs.microsoft.com/en-in/azure/cognitive-services/text-analytics/quickstarts/csharp

[2019-06-19 10:08] ram-msft commented on #33579
@sparlampe Thanks. We are investigating the issue and will update you shortly.

[2019-06-19 10:09] theadzik opened #33581 "Response type missing: ClientAccountBandwidthThrottlingError"
There is no Information about Response type dimension: ClientAccountBandwidthThrottlingError on this page. How is it different from ClientThrottlingError?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63c3effd-7cc3-f021-358a-adeaf59a0a69
* Version Independent ID: 36381f6b-f57b-95a2-67cd-80bffcee238c
* Content: [Azure

[2019-06-19 10:11] YASWANTHM-MSFT commented on #33581
@theadzik , Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-19 10:14] ram-msft commented on #33577
@aasis21 Thanks. We are investigating the issue and will update you shortly.

[2019-06-19 10:16] Ozzian opened #33582 "Page styling are broken with Metrics"
The styling of "Metrics" part in this page is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46602618-c925-75b6-bf3e-1039f168f141
* Version Independent ID: aa73eb53-55b6-6aa2-2542-e26fd32764fe
* Content: [Azure SQL Database serverless (preview)](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-s

[2019-06-19 10:18] dominicbetts commented on #23782
Hi @wrende - there's some documentation updates coming in the next week that'll provide more information about the location data type.

Thanks,
Dominic

#please-close

[2019-06-19 10:18] #23782 closed

[2019-06-19 10:18] angoyal-msft commented on #33571
@kali11 Thanks for your feedback. Could you please elaborate whether you are using SSMS or azure portal. Also are your trying SQL DW or SQL Db.

Anyhow, the tutorial shows the screenshot of SSMS. Whenever we connect to SQL server, it will show all the Databases and DWs in that server and then you can dig into it.
By default there would be some system tables.

Hope this helps. Please let us know if

[2019-06-19 10:29] kali11 commented on #33571
I'am using Azure Portal and I'am trying to create SQL DW.
I'am refering to section "Create a data warehouse", point 3.
Currently, in portal there is no option to select "Sample" as a Source. Thus I cannot create DW with AdventureWorksDW tables. I can only create blank DW or restore from backup.

[2019-06-19 10:30] abshamsft commented on #33345
Thanks for the feedback, Jeff. I've updated the content.

#please-close

[2019-06-19 10:30] #33345 closed

[2019-06-19 10:31] cephalin commented on #29741
The content has been updated. #please-close

[2019-06-19 10:31] #29741 closed

[2019-06-19 10:32] cephalin commented on #30346
The content has been updated. #please-close

[2019-06-19 10:32] #30346 closed

[2019-06-19 10:32] cephalin commented on #29742
@stefsch note has been added. #please-close

[2019-06-19 10:32] #29742 closed

[2019-06-19 10:33] cephalin commented on #29397
@christianarg the swap details have now been added to the doc under [What happens during swap](https://docs.microsoft.com/en-us/azure/app-service/deploy-staging-slots#what-happens-during-swap). #please-close

[2019-06-19 10:33] #29397 closed

[2019-06-19 10:39] angoyal-msft commented on #33571
@kali11 Thanks for your feedback. I have verified further. "Sample" option is available for SQL Database but not for SQL DWH. I'll assign this issue to content author to update the document appropriately.

@XiaoyuL-Preview  Could you please update the document appropriately for creating the SQL DWH. There is no option to select "Sample" as source for SQL DWH.

Hope this helps.

[2019-06-19 10:46] KalyanChanumolu-MSFT commented on #32962
Looks like we need to wait until #4464 is addressed

[2019-06-19 10:47] SnehaAgrawal-MSFT commented on #33580
@SantoshAvaji Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-19 10:52] iamnarendhar commented on #11093
Is there any way to map pipeline parameter value to sink dataset column in copy activity?

[2019-06-19 10:55] SubhashVasarapu-MSFT commented on #33116
@carteixeira Here are the default rules for outbound connections from NSG,
![image](https://user-images.githubusercontent.com/44890829/59759877-a44d3980-92ae-11e9-99a1-dfd00242fde1.png)
Could you please share your rules screenshot that you are referring too. So that I can understand how the system rules were created.

[2019-06-19 11:03] KetanChawda-MSFT commented on #33395
@spelluru any thoughts here?

[2019-06-19 11:14] christianarg commented on #29397
Great many thanks

[2019-06-19 11:18] matt-mcc1 opened #33583 "Broken Command: az role assignment list --resource-group TESTROLE-RG-TWIX"
This command: az role assignment list --resource-group TESTROLE-RG-TWIX

CLI version: 2.0.67 (on MacOS)

returns "[]" (NULL), when there is 100% a role a role

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c76fa79-5773-13f1-8672-7b20f847f926
* Version Independent ID: f8ed8f66-3519-e823-7010-8e16cca8d4e4
* Content: [Ma

[2019-06-19 11:26] jakaruna-MSFT commented on #33464
@psbds I am able to reproduce the issue. My cli version is 2.0.65.

Current workaround is to edit the subscription id of the deployment if the connector installation is done already.
If the installation is not done, Then set the subscription as the default one and then execute the install-connector command.
We can also remove the connector and deploy again.

This command collects the details and e

[2019-06-19 11:27] DrReedo opened #33584 "The Function Name has to be unique e.g. CleanTextFunctionApp is probably already taken at azurewebsites.net"
Tutorial should note this.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 771c44cc-a284-0c97-dae3-218e7319018f
* Version Independent ID: e4b73a57-0c44-2453-2baa-7652bbbafc51
* Content: [Tutorial - Automate processing emails and attachments - Azure Logic Apps](https://docs.microsoft.com/en-gb/azure/logic-apps/tutorial-p

[2019-06-19 11:33] EricBergDE commented on #33500
Hi,

tried this…
[cid:image004.jpg@01D526A3.976AA0D0]

[cid:image005.jpg@01D526A3.976AA0D0]

if we get the ObjectID from CLI we receive another value:

az ad sp list --display-name Abogenerator
[
  {
    "accountEnabled": "True",
    "addIns": [],
    "alternativeNames": [],
    "appDisplayName": "Abogenerator",
    "appId": "654c6429-1e7e-4ebb-xxxxx",
    "appOwnerTenantId": "6f29aa04-86e4-4fb4-x

[2019-06-19 11:40] manishjoisar opened #33585 "Logic Apps Permissions"
There is contradictory between what 2 Microsoft links says about Logic App Contributor Role

This page says
Logic App Contributor: Users can view, edit, and update your logic app

This link says
Manages Logic Apps resources.

https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-securing-a-logic-app#secure-access-to-logic-app-operations

Can you please have a look and let me know accordingl

[2019-06-19 11:48] jakaruna-MSFT commented on #33578
@miguelangelopereira
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-19 11:49] jakaruna-MSFT commented on #33578
@iainfoulds Please take care of this issue

[2019-06-19 11:56] payalgaikwad42 commented on #33070
Hi, sorry for late reply.
@kgremban Yes.  I did complete all the steps for key registration.
I was able to install iotedge after trying to uninstall and install complete iotedge runtime.
But according to me this is not feasible because every time i try to install edge on new machine it throws error at the installation step of moby-engine. It gives error while unpacking the packages.

[2019-06-19 11:58] walterfranssen opened #33586 "Get a 401 when building on restoring a artifect from devops"
Hey,

I'm researching the new Azure Dev Spaces feature and I'm trying to go through the steps on:
https://docs.microsoft.com/en-us/azure/dev-spaces/get-started-netcore-visualstudio

The connection with k8s works well, but I get a 401 at the restore step that Docker image has no rights to the artifacts in Azure Devops. How can I fix this without specifying username and password in the NuGet.Config

[2019-06-19 12:16] ArPharazon commented on #33070
Hi @kgremban - it is all working now. I had forgotten to include proxy details on the curl commands.

[2019-06-19 12:22] aelij opened #33587 "VMSS Scale Up"
This article doesn't mention a much simpler option.

VMSS, coupled with SF's Silver durability tier, is able to scale up safely node-by-node with no downtime. Provided that the target VM size is available so no full deallocation is needed (check using `Get-AzVmssSku`). See [this article](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/resize-vm#resize-a-windows-vm-in-an-availabilit

[2019-06-19 12:31] SnehaAgrawal-MSFT commented on #33563
@fruffin Thanks for the question! We are investigating and will update you shortly.

[2019-06-19 12:32] sergaz-msft commented on #32693
Hi @robinsh can we confirm if message size limit is for both the hub and the device? Thanks!

[2019-06-19 12:33] walterfranssen commented on #33586
I see Visual Studio don't do the volumes for **Azure Dev Spaces** but only for the "Docker" build (:.
Can i override this some where?

[2019-06-19 12:33] sergaz-msft commented on #31988
Hi @PatAltimore can we provide an ETA for the new tutorial and close the issue? Thank you!

[2019-06-19 12:34] SnehaAgrawal-MSFT commented on #33567
@dcbrown16 Thanks for the question! We are investigating and will update you shortly.

[2019-06-19 12:36] SnehaAgrawal-MSFT commented on #33574
@GraemeSMiller Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-19 12:39] SnehaAgrawal-MSFT commented on #33576
@ashkansirous Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-19 12:43] idanci commented on #30802
Found the problem. Need to go to app's Authentication tab, scroll down and select `Yes` in the `Default client type section`

[2019-06-19 12:43] pablodiazgutierrez opened #33588 "Clarification needed on the `authorization` field"
I'm getting a 403 when I simply try to list the subscriptions available from my publisher account. Because the documentation is vague, I don't know if I'm using the obtained JWT in the right way, or if something else is broken in my configuration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe8750da-cb47-7396-8d1b-0

[2019-06-19 12:49] payalgaikwad42 commented on #33070
@kgremban  Also I have one new question
Iotedge modules and iothub does not maintain persistent connection.
modules get disconnected after 1 hour. I have to restart iotedge device.
should I give details here or create a new issue regarding this?

[2019-06-19 12:53] sergaz-msft commented on #30574
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-19 12:53] #30574 closed

[2019-06-19 12:54] ManojReddy-MSFT commented on #33583
@matt-mcc1 can you confirm if the role assignment on the TESTROLE-RG-TWIX is inherited or direct assignment?

If it is inherited you should try with the switch --include-inherited
"az role assignment list --resource-group TESTROLE-RG-TWIX --include-inherited"

[2019-06-19 12:56] SharmainePopov commented on #32227
I have no update.

[2019-06-19 12:57] ManojReddy-MSFT commented on #33385
@skyovi We have not heard from you in a while. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-06-19 12:57] #33385 closed

[2019-06-19 12:58] ManojReddy-MSFT commented on #33222
@GavinEke We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-06-19 12:58] #33222 closed

[2019-06-19 13:06] cmardini commented on #32696
Or, even better, there could be an "AzureAvailabilityTestServers" Source Service Tag in the Inbound Security Rules in the Network Security Groups. That would facilitate creating firewall rules to allow Availability Test Server IPs.

[2019-06-19 13:08] bojingo opened #33589 "So what about scripting options?"
This documentation only defines doing this in the Azure Portal and statically in the source code . The former requires you to *gasp* manually manage and operate your Functions deployment in a point & click fashion... Yucky beyond a proof-of-concept phase. The latter is basically only helpful during development because if you use that mechanism to turn functions on/off you'd always have to redeploy

[2019-06-19 13:09] ManojReddy-MSFT commented on #33382
@SinghGurd The document you referenced talks about  "[create-a-new-ad-fs-farm-or-use-an-existing-ad-fs-farm"](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-install-custom#create-a-new-ad-fs-farm-or-use-an-existing-ad-fs-farm) your scenario as well.

Can you take a look again and me let me know if it covers your scenario.

[2019-06-19 13:15] derekschauland commented on #7731
I am also seeing this error when trying to remove a parameter from a definition.  readyState: 4
responseText: {"error":{"code":"InvalidPolicyParameterUpdate","message":"The existing policy has '2' parameter(s) which is greater than the count of parameter(s) '1' in the policy being added. Policy parameters cannot be removed during policy update."}}
status: 400
statusText: error

Is there anything e

[2019-06-19 13:15] MarkIannucci opened #33590 "Is a WebJob unable to make a request of the site it is running under?"
In the Network Access section, the documentation states:

    There is also a limited capability for apps to establish one local loopback connection,
    and have an app listen on that local loopback socket. This feature exists primarily to enable
    apps that listen on local loopback sockets as part of their functionality. Each app sees a
    "private" loopback connection. App "A" cannot listen

[2019-06-19 13:15] yckwan commented on #29294
Hi, is there any feedback regarding to this?

[2019-06-19 13:15] SnehaAgrawal-MSFT commented on #33566
@julesman101 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-19 13:24] yeyunxiaofeng opened #33591 "about author total citation count"
What should I do to get the total citation count of a author? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f32d5fd-e221-da9a-132d-9e9338243276
* Version Independent ID: 65addf4f-0788-0d06-37e4-8cb68a0b2874
* Content: [Author entity attributes - Academic Knowledge API](https://docs.microsoft.com/en-us/azure/c

[2019-06-19 13:25] gsimardnet commented on #33520
After severals attempts I finally was able to change the logo. The first time it work when I changed both the Logo and Name at the same time. Now it seems to works every time so maybe it was just a weird coincidence.

Thanks for the quick answer.

[2019-06-19 13:27] jsandersrocks opened #33592 "Mobile App no longer in market place"
This documentation is incorrect.  There is no longer a Mobile App option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 312c8a1a-d55e-26da-699b-6ae9bb4f6ca7
* Version Independent ID: 760ffd60-3f4b-77eb-cb66-4c13738d51b4
* Content: [Create an iOS app on Azure App Service Mobile Apps](https://docs.microsoft.com/en-us/az

[2019-06-19 13:31] tiny-dancer commented on #33525
@TravisCragg-MSFT @mdgattuso thanks for the quick response. As a user of the docs I believe adding a note on this would be helpful as it appears to be a hidden implementation choice of Azure CDN to scope to subscription (as opposed to more visibly set in say, Azure RBAC). If not hidden, a link to those docs would be nice  :).

Thanks again, always fast response times in this feedback model and it'

[2019-06-19 13:39] AjayKumar-MSFT commented on #33592
@jsandersrocks, Thanks for the question! Yes, we are taking a look into this and will get back to you soon.

[2019-06-19 13:43] arindam-b commented on #33510
Thank you @MarileeTurscak-MSFT

@femsulu - Can you share the URL to fetch it. I tried to guess it as
/subscriptions/58f5b54c-85ab-4bcb-91a1-c642c701a31b/resourceGroups/NagiosInterconect/providers/Microsoft.DBforPostgreSQL/servers/atos-postgresql/providers/microsoft.insights/metrics?metricnames=cpu_percent&api-version=2017-12-01&aggregation=Average&interval=PT1H

But it is not Ok. Hence need the UR

[2019-06-19 13:43] pablodiazgutierrez commented on #33588
After some more fiddling, the right format for the `authorization` header should be `"Bearer <access_token>"` which threw me off because a JWT is explicitly NOT an old fashioned bearer token. If the documentation is updated to make this explicit, others might save some time too.

[2019-06-19 13:45] AjayKumar-MSFT commented on #33590
@MarkIannucci, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-06-19 13:58] sameersalunke opened #33593 "Issues in Azure B2C Active directory custom policies customization for Local account"
Hi,

We are having few issues or not able to find solution with respect to below requirement Azure B2C AD custom policies customization for Local Account.

Background: We are using B2C AD local accounts to implement SSO for our one web application. We are trying to achieve JIT user migration and for that we have implemented custom policies user flows for sign in and sign up. We are having two diff

[2019-06-19 14:04] aelij commented on #33587
Closing for now until I know if this is actually supported.

[2019-06-19 14:04] #33587 closed

[2019-06-19 14:05] MarkIannucci commented on #33590
@AjayKumar-MSFT,  thanks for looking into this.  To be more specific, I have a PowerShell script which calls `Invoke-WebRequest -uri $myUri -method GET`.  It is silently failing with this error:

    Message        : The underlying connection was closed: An unexpected error
    occurred on a send.
    Data           : {}
    InnerException : System.IO.IOException: Unable to read data from the tran

[2019-06-19 14:07] robotwyatt opened #33595 "Unclear sb_client information"
The tutorial states:
"The following code creates a ServiceBusClient object. Replace mynamespace, sharedaccesskeyname, and sharedaccesskey with your namespace, shared access signature (SAS) key name, and value."

But the Python code has no placeholders to replace with my values:
sb_client = ServiceBusClient.from_connection_string('&lt;CONNECTION_STRING&gt;')

Am I missing a trick?

Robot

---
####

[2019-06-19 14:43] ChristianMontoya commented on #29294
@yckwan : Not yet. We are still working on enabling more OS. However, we'd still encourage testing out the solution with existing OS images.

[2019-06-19 14:43] philippschaefer4 opened #33596 "Update of Model in Predictive Webservice without PowerShell?"
Hi, so far I only saw the possibility to use the PowerShell Commands above to update a Predictive Webservice with a retrained model that's residing in a blob storage. Are there other option? Optimally I would like to use a http-request. Is that possible?
Thx in advance, Philipp.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-06-19 14:46] toenie23 commented on #33548
@MarileeTurscak-MSFT here is the document:

https://docs.microsoft.com/en-us/azure/data-factory/how-to-create-event-trigger

[2019-06-19 14:46] ChristianMontoya commented on #33183
@ghonyme : Thanks for the feedback. You're absolutely correct and is something we missed. Submitting an update, should be fixed in a few days.

[2019-06-19 14:48] yckwan commented on #29294
Thanks for your update😉

[2019-06-19 14:53] ChristianMontoya commented on #33167
@banzaisi : What you mention is correct. We do not have plans to support Skype for Business within Windows Virtual Desktop. We plan on supporting Teams and are actively working on it, since we've heard continuous feedback that it is a top ask.

[2019-06-19 14:59] ChristianMontoya commented on #29564
@bencorley : We recently updated the tutorials to match completeness. Please let us know if they have helped.

[2019-06-19 14:59] julienshepherd opened #33597 "Application Type is missing from the configuration box"
Create an Application Insights resource &gt; second setting. It is missing in the Azure portal.

![image](https://user-images.githubusercontent.com/20776298/59776752-01032100-92bc-11e9-80cb-59166752c039.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 597a5d67-719a-494f-90e6-9c9d8bfdef44
* Version Independent ID: d4

[2019-06-19 15:04] ChristianMontoya commented on #28308
@ShehzadUIT : Did you and Stefan get this resolved?

[2019-06-19 15:05] ChristianMontoya commented on #28136
@AlexBagnolini : Did this help?

[2019-06-19 15:05] ChristianMontoya commented on #27981
#please-close

[2019-06-19 15:05] #27981 closed

[2019-06-19 15:05] ChristianMontoya commented on #27910
#please-close

[2019-06-19 15:05] #27910 closed

[2019-06-19 15:06] PatAltimore commented on #31988
@sergaz-msft I'm targeting the end of the month.

Pat

[2019-06-19 15:07] ChristianMontoya commented on #27827
@jjindrich : To confirm, we do not yet support PowerShell core but we are investigating that and seeing how to make that possible. However, we do not have any set dates for this.

[2019-06-19 15:09] Swimburger commented on #32696
That may be helpful for NSG users, but my PaaS web app isn't using NSG's.

[2019-06-19 15:09] ChristianMontoya commented on #29162
@CeciAc : We've added a section that links over to the proper licensing. Please let us know if that helps.

[2019-06-19 15:11] areddish commented on #33257
@ericjiang18 Use the snipped above to set both, updated it and repasted here:

[code]

[2019-06-19 15:17] bbakermmc opened #33598 "Get value of location/resource group from "Basic" section."
In this example it shows creating a variable called "location".
How do you get the value of the location from the "Basic" section.
IE I could use [resourceGroup().location] if I didn't want to allow an override.

But when you do this: (The value just shows "[resourceGroup().location]")
"location": {
            "type": "string",
            "defaultValue": "[resourceGroup().location]",

[2019-06-19 15:29] MicahMcKittrick-MSFT commented on #33587
Thanks for the update.

[2019-06-19 15:36] craigshoemaker commented on #31448
@gotgenes & @msivers  Using statements are now added to the code samples.

#please-close

[2019-06-19 15:36] #31448 closed

[2019-06-19 15:38] ohadschn commented on #10675
`AllowPrerelease` was added in PowerShellGet 1.6.0: https://devblogs.microsoft.com/powershell/prerelease-versioning-added-to-powershellget-and-powershell-gallery/

[2019-06-19 15:43] swanderz commented on #33308
@maxlux, ok definitely sounds helpful, though I'd like to know more.
- pre-build image == Docker image?? which one?
- what kind of end-to-end tests are run?
- what is meant by "framework"?

[2019-06-19 15:44] XamarinTounsi commented on #33592
Hello, i can't create a new mobile app in azure

[2019-06-19 15:58] v-ricox opened #33599 "Lack of and/or confusing information on installing agent"
The document here explains how to uninstall the agent, but now how to install it. There's a link that leads to another page on how to install it, but then that link leads to another page. The document should be more direct on how to install and reinstall the agent/extension, instead of following multiple breadcrumbs to get the information that is needed. At there very least there should be one lin

[2019-06-19 16:03] jlian commented on #30092
Thanks for the reminder. I will get an update out today

[2019-06-19 16:05] mumian commented on #33598
@bbakermmc - The portal actually creates a parameter called "location".  not a variable.  When you use the template generating feature from the portal, the portal creates a template and a parameter file.  The location value you entered in the "Basic" tab is saved in the parameter file.

It looks like you want to hard-code the location so users can't change it.  To accomplish this, you need to make

[2019-06-19 16:10] CeciAc opened #33600 "Upgrade of PowerShell command"
Hi team,
I'm moving this from here: https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/2607
In case the documentation needs the reported upgrade

@terasawa-ippei commented 13 hours ago
Commands used in this document, such as Disable-AzureRmContextAutosave and Connect-AzureRmAccount
If executed under the current environment, CommandNotFoundException will be returned, and can not be executed.

[2019-06-19 16:10] JoeRistine opened #33601 "Application Gateway v2 Pricing"
Please clarify the pricing model for the v2 Application Gateway. In the Azure Portal I can set Capacity type, Minimum instances, and Maximum instances.

In this article there are references to Fixed price and Capacity Unit price. Can a better definition of these be provided? Which of these corresponds to the minimum and maximum instances set in the Portal? I'm thinking Capacity Unit? But then the

[2019-06-19 16:14] dan-jackson-github commented on #21911
Hi, I also have run into this issue, I can confirm it is not possible to grant myself as owner of the MSI (in my case it is a system assigned identity on a linux VM). I am attempting to give directory role Read to this MSI via the graph API (using this guide https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/tutorial-linux-vm-access-azure-ad-graph) which is

[2019-06-19 16:14] CarlRabeler commented on #24546
@stevestein @MashaMSFT for awareness

[2019-06-19 16:15] smoms opened #33602 "Edge Device vs Edge Module twin"
Can you please clarify the difference between Edge Device and Edge Module Twin? I understand the purpose of Edge Module Twin but it is not clear who is supposed to interact with Edge Device Twin and why. thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 539283ad-ccdb-02bc-4178-f6cee6173319
* Version Independent ID:

[2019-06-19 16:16] sirdank opened #33603 "View logs not behaving as described"
View in analytics -&gt; View container logs does not work for me. No matter what container I click, whether it is windows or linux, kube-system or not, no container logs are ever found except for the debian image that I spun up to ssh into a node according to these directions:

https://docs.microsoft.com/en-us/azure/aks/ssh#get-the-aks-node-address

Any ideas what is going on here? I queried Conta

[2019-06-19 16:16] Alberto-Vega-MSFT commented on #33573
@obrookstein Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-19 16:21] bbakermmc commented on #33598
@mumian I dont think thats correct.  The param file never gets a "location" that I can tell, even if closing browser, going to custom deployment loading new file.  I'm not trying to make a variable, Im trying to set a parameter equal to the "location" thats displayed in the UI, so it can be OVERRIDDEN.  I know I can make a variable and have it be static, that wasnt the ask, the ask was how do I re

[2019-06-19 16:21] chlowell opened #33604 "Contradictory documentation of expires_on"
The "Using the REST Protocol" section describes the value of `expires_on` in responses as epoch seconds:

Property name|Description
---|---
expires_on|The time when the access token expires. The date is represented as the number of seconds from 1970-01-01T0:0:0Z UTC until the expiration time. This value is used to determine the lifetime of cached tokens.

The example REST response shows `expires_o

[2019-06-19 16:26] yshahin commented on #33002
Which image were you trying? What is the specs/os of the machine you were running on?

[2019-06-19 16:31] GuyPaddock opened #33605 "ACME "Solvers" config moved from Certificate to Issuer Resource in certmanager 0.8"
According to the [0.7 to 0.8 upgrade instructions](https://docs.cert-manager.io/en/release-0.8/tasks/upgrading/upgrading-0.7-0.8.html), it looks like the "solvers" configuration now belongs in the `ClusterIssuer` resource instead of in the Certificate configuration.

The code samples provided on this page look like they apply to 0.7, even though other parts of the page reference 0.8.

---
#### Doc

[2019-06-19 16:33] spelluru commented on #33395
@banisadr - please have a look at this issue. We need to document this whether it's by design or a bug. Please let me know what you think. Thanks.

[2019-06-19 16:34] bbakermmc opened #33606 "Template JSON storage location"
Where are these JSON files stored for the "Templates" and is there a way for us to put them there maybe from an Azure Pipeline CI/CD, IE our devs check in the code to a repo, the build process moves the files to this "magic" location for our non programmer types to deploy some things?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-06-19 16:35] kevinlam1 commented on #33585
Sorry, it's not clear to me what the confusion is. Could you be more specific about which statements are contradictory?

[2019-06-19 16:38] MicahMcKittrick-MSFT commented on #33071
The only thing I find is here

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-communication-remoting#use-the-remoting-v2-interface-compatible-stack

Essentially saying we have a version past V2 that has additional support. That being said, I think it would be better to call this out specifically in the doc.

I will assign to the content author to review and

[2019-06-19 16:46] kobulloc-MSFT commented on #33597
@julienshepherd Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-06-19 16:49] mrbullwinkle commented on #33597
Thanks @julienshepherd. The new resource creation process is described here: [https://docs.microsoft.com/azure/azure-monitor/app/create-new-resource](https://docs.microsoft.com/azure/azure-monitor/app/create-new-resource). We are currently in the process of updating all the docs in our content that was impacted by this change.

[2019-06-19 17:07] Mike-Ubezzi-MSFT commented on #33338
@romankiss The two UserVoice forums are the appropriate feedback forums to communicate this back directly to the product group. Thank you!

[2019-06-19 17:07] #33338 closed

[2019-06-19 17:11] bakerm00 opened #33608 "Az cmdlets!"
Register-AzProviderFeature -FeatureName AllowBastionHost -ProviderNamespace Microsoft.Network

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 196cd28d-c7b6-9e3f-ef55-1c85d6c9be5f
* Version Independent ID: 6daf260e-526d-c5c5-50ca-c7a85e17c78a
* Content: [Create an Azure Bastion host](https://docs.microsoft.com/en-gb/azur

[2019-06-19 17:13] terrymandin opened #33609 "Unauthorized Exception with Device Streams"
I am trying out Device Streams and have encountered an unauthorized exception.  I have set up an IoT Hub in the "Central US" location, and am running the device code on a Ubuntu 16.04 LTS OS ("Ubuntu Server 16.04 LTS + Azure IoT Edge runtime" image.  I am running the service side from my Windows 10 laptop.

I have setup as per the instructions, but am seeing the following error when I try to SSH t

[2019-06-19 17:18] MarileeTurscak-MSFT commented on #33520
No problem. I'm glad you were able to get it to work! I had the same problem in mine for a bit so it might store the old settings initially.

[2019-06-19 17:18] #33520 closed

[2019-06-19 17:19] Mike-Ubezzi-MSFT commented on #33582
@Ozzian Thank you for bringing this to our attention but I am not seeing any issues. Can you please point out the issue you are seeing in the [Metrics](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-serverless#metrics) section. Thank you!

[2019-06-19 17:20] CeciAc opened #33610 "Chrome Conditional Access"
Hi team,
I'm moving this from here:https://github.com/MicrosoftDocs/azure-docs.sv-se/issues/339
User's suggestions are about the original documentation

@Sculpin90 commented 6 hours ago
Statement:
"Chrome support
For Chrome support in Windows 10 Creators Update (version 1703) or later, install this extension."

Is this really true regardless of what the CA-Policy itself includes?

I have experienc

[2019-06-19 17:27] spottedmahn commented on #16002
@aherrick thanks! 👏

Our code for reference for others:

[code]

[2019-06-19 17:30] YutongTie-MSFT commented on #33596
@philippschaefer4 Thank you for your feedback, we will investigate it and get back to you soon.

[2019-06-19 17:36] YutongTie-MSFT commented on #33591
@yeyunxiaofeng Thank you for your feedback, we will investigate it and get back to you.

[2019-06-19 17:39] vladvino commented on #33481
Yes, it copies admin(s) on emails sent to developers.

[2019-06-19 17:39] vhorne commented on #33181
This info was added to the article and merged.
#please-close

[2019-06-19 17:39] #33181 closed

[2019-06-19 17:42] spelluru commented on #32285
#assign:jkwon2013

[2019-06-19 17:45] Alberto-Vega-MSFT commented on #33602
@smoms Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-19 17:45] tedterrill opened #33611 "Unable to use the Azure instance metadata service from a function app"
I am receiving this message when attempting to get metadata from within a function app:  System.Net.WebException: Unable to connect to the remote server ---&gt; System.Net.Sockets.SocketException: An attempt was made to access a socket in a way forbidden by its access permissions 169.254.169.254:80

I assume this is by design. Anyone know why? I have a use case where I'd like my durabletask orches

[2019-06-19 17:47] rezasherafat commented on #33609
@terrymandin, since you are running this command on Linux, please put the connection string in double quotes - your shell is likely breaking it up after the first ';'. So use something like this:

[code]

[2019-06-19 17:50] gotgenes commented on #31448
@craigshoemaker This is very helpful. Thank you!

[2019-06-19 17:50] azaslonov commented on #33243
Right, there will be another endpoint to be whitelisted. We'll update the documentation accordingly in the near future.

[2019-06-19 17:51] psbds commented on #33464
@jakaruna-MSFT I'll follow these steps, thanks.

[2019-06-19 17:52] mikebudzynski commented on #33243
Thanks for raising the issue, @StefanIvemo - as @azaslonov indicated, it's still work in progress.

For the time being, you can evaluate the new portal in a test instance outside of a VNET or try the self-hosted version of the portal.

[2019-06-19 17:55] MarileeTurscak-MSFT commented on #33584
@DrReedo
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-19 17:56] MicahMcKittrick-MSFT commented on #33611
@tedterrill not sure I fully understand. These commands are designed to be ran from within the VM you are connecting to. So getting an error when running it on a Function App would be expected.

[2019-06-19 17:57] MicahMcKittrick-MSFT commented on #33605
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-19 17:58] MicahMcKittrick-MSFT commented on #33599
@v-ricox Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-19 17:59] StefanIvemo commented on #33243
Thank you for confirming that @azaslonov and @mikebudzynski! Will the endpoint be added during the time that the new portal is in Preview? Or will it be closer to GA?

[2019-06-19 18:00] jasonpnnl commented on #33533
I am having the same issue.

[2019-06-19 18:02] clauslund opened #33613 "The subscription of the peer network needs to register Microsoft.ContainerService"
If peering with a network outside the subscription where ARO is deployed then that subscription needs to:
az provider register -n Microsoft.ContainerService --wait

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93aa980e-1970-235c-228a-7b19880171b8
* Version Independent ID: 6f7937a4-12e0-d61c-3bd8-c6347ec48385
* Content

[2019-06-19 18:04] azaslonov commented on #33243
Around 8 weeks to be on safe side.

[2019-06-19 18:06] robinsh commented on #32693
@sergaz-msft Yes, let me find out and I'll report back.

[2019-06-19 18:07] Mike-Ubezzi-MSFT commented on #33582
This was fixed earlier this morning with the 10am publication. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-19 18:07] #33582 closed

[2019-06-19 18:08] HJToland3 commented on #33454
@ahamedembibe, I hope this information helped! We will close this item now, but feel free to reach our directly to the Ask Azure Database Migrations <AskAzureDatabaseMigrations@service.microsoft.com> alias as well if you have additional questions!  Thanks!

[2019-06-19 18:12] MarileeTurscak-MSFT commented on #33593
@sameersalunke
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-19 18:13] HJToland3 commented on #33454
#please-close

[2019-06-19 18:13] #33454 closed

[2019-06-19 18:19] ggailey777 commented on #33570
@srikanthraju2016 on your issues:

+ The 3.6.8 I believe is a bug, it's supposed to work with any Python 3.x. I'll track down the issue and we may need a temporary note here.
+ A good note about 32-bit vs. 64-bit.
+ What is the error that you are seeing when you define extension bundles in the host.json? Without this, its much harder to add new bindings to the existing HTTP trigger (which doesn't

[2019-06-19 18:23] MarileeTurscak-MSFT commented on #33610
@CeciAc
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-19 18:30] Grace-MacJones-MSFT commented on #33604
Hi @chlowell, thanks for bringing this to our attention! We will take a closer at this and update the docs as appropriate.

[2019-06-19 18:39] spelluru commented on #29688
Ramya has updated these articles recently. I don't see the section in the article either.

#please-close

[2019-06-19 18:39] #29688 closed

[2019-06-19 18:43] calebhskim commented on #32328
@SnehaGunda is there a date as to when this limitation will be removed? I am currently using `Microsoft.Azure.DocumentDB.Core` 2.4.0 and still see this error. However, I noticed in Azure CosmosDB data explorer `OFFSET LIMIT` works when I make a cross partition request. Any help would be great! Thanks!

[2019-06-19 18:45] mike-urnun-msft commented on #33595
Hi @robotwyatt Thank you for your feedback! We will review and update as appropriate.

[2019-06-19 18:47] mike-urnun-msft commented on #33589
Hi @bojingo Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-06-19 18:51] YutongTie-MSFT commented on #33343
@kzu Hi, .NET Standard 2.0 supports .NET Core 2.0, .NET Framework 4.6.1, Mono 5.4, Xamarin.iOS 10.14, Xamarin.Mac 3.8, Xamarin.Android 8.0, Universal Windows Platform 10.0.16299 I agree we need more details about the document, so I assign the author @WSturman here for more improvement. Thank you very much for your feedback.

[2019-06-19 18:53] TravisCragg-MSFT commented on #33525
@tiny-dancer I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-19 18:59] YutongTie-MSFT commented on #33343
@WSturman @nitinme @aahill Hi team, I can not assign this issue to Grace. Is she the right person or I should assign this issue to someone else? Thank you.

[2019-06-19 19:06] sfmskywalker commented on #32328
I just ran into this limitation as well. Very eager to know when the limitation will be removed.

[2019-06-19 19:22] shashishailaj commented on #32991
We have checked that in lab and found that from the new app registration experience,  the value is correct for the thumbprints in the manifest file for the public keys. However any app created with the legacy App registrations settings gets a encoded value which is not same as the thumbprint.

App Registration Legacy Experience.
=========================
![image](https://user-images.githubusercont

[2019-06-19 19:22] #32991 closed

[2019-06-19 19:28] Karishma-Tiwari-MSFT commented on #33089
@rabbboudi You are right. It is not required but it is a best practice to follow, to have all disks under same storage account for administration/effective management purposes. This helps in various scenarios, for example, when a disk is detached, discovery is easier when they all are in same storage account.
It is recommended to use Managed disks if you would like Azure to take care of the manage

[2019-06-19 19:28] #33089 closed

[2019-06-19 19:29] josuvil opened #33615 "AzureADPreview?"
Wondering whey we are still recommending Install-Module AzureADPreview with the PS scripts on this page. Also, should we recommend Connect-AzAccount instead? Just a thought. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8fcb095-8df9-9b9c-18f8-92ad6ac6f445
* Version Independent ID: b2e4589b-f1af-393a-e8f5-7

[2019-06-19 19:29] tedterrill commented on #33611
The function app is running within a VM. I used the C# example above (https://github.com/Microsoft/azureimds/blob/master/IMDSSample.cs) as a jumping point to add code to a precompiled function to retrieve this information. If this won't work, are there any other methods for a precompiled function app to retrieve metadata about the VM in which it is running?

[2019-06-19 19:31] MarileeTurscak-MSFT commented on #33586
@walterfranssen
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-19 19:32] terrymandin commented on #33609
Thanks Reza.  On the Linux side I do have double quotes.

dotnet run "HostName=<hubname>-devices.net;DeviceId=DeviceStream;SharedAccessKey=<key>" localhost 22

[2019-06-19 19:35] erhopf commented on #33343
@chrisbasoglu - Do you mind taking a look at this. Thanks!

[2019-06-19 19:37] cogran opened #33617 "Ability to change optimization type post-deployment"
For the sake of clarity, perhaps it should be called out that Microsoft and Verizon (both SKUs) CDN cannot have optimization types changed post-deployment. When scanning for the CDN provider I was using, it was difficult to find until I stopped and began reading the entire document. I am willing to bet other users are facing the same issue when looking for information relevant to their specific CD

[2019-06-19 19:42] AjayKumar-MSFT commented on #33238
@zboyanov, Typically copying from the UI (copy to clipboard) works, when exactly do you receive the Invalid URI error? Could you please post a screenshot after concealing any private details.

[2019-06-19 19:46] mumian commented on #33598
@bbakermmc - for your first question, it can't be done.  You can ask for the feature at https://feedback.azure.com/forums/223579-azure-portal.

For your second question - the Azure Deploy button is an HTML anchor link. Here is an example of the link:
https://portal.azure.com/#create/Microsoft.Template/uri/https%3A%2F%2Fraw.githubusercontent.com%2FAzure%2Fazure-quickstart-templates%2Fmaster%2F101-k

[2019-06-19 19:47] MicahMcKittrick-MSFT commented on #33611
yes it is technically running in a VM. But the commands you can run do not have access to the underlying VM itself. If you want to run this command remotely, you would need to remote into the VM on way or another. Such as a remote powershell session, run the code and get the return.

Can you tell me more about your use case for wanting to do this?

[2019-06-19 19:48] weikanglim opened #33618 "Documentation should reference the built-in retry strategy in the Microsoft.Azure.KeyVault SDK"
The `KeyVaultClient` in `Microsoft.Azure.KeyVault` (latest version 3.0.3 as-of writing) supports transient fault handling (implemented through the use of [AutoRest](https://github.com/Azure/autorest/blob/master/docs/client/retry.md)) and can be used for implementing the client throttling logic. Out of the box, the `KeyVaultClient` has the built in retry from when dealing with status code 429.

I w

[2019-06-19 19:51] MicahMcKittrick-MSFT commented on #33611
Sorry re-reading your comment I missed a portion.

You are trying to get the metadata for the VM the Function App is running on. This is not possible. Metadata is only available for IaaS solutions and only available when running from within the VM by remoting into it.

[2019-06-19 19:54] shashishailaj commented on #33138
@stephenbell79 We are engaging the author for clarification on this.

[2019-06-19 19:55] rezasherafat commented on #33609
Interestingly, you don't need quotes on Windows' cmdline.

Now if you still have this issue on Linux, can you share the command you run on the service-side? Also, is the device-side error written out immediately after running the command or when you start to SSH?

Finally, I'll need your IoT Hub name to investigate further. You can also send it over Teams :)

[2019-06-19 19:56] jlian commented on #30092
Added docs should go live this afternoon

[2019-06-19 19:56] #30092 closed

[2019-06-19 20:10] shashishailaj commented on #33049
The example of setting / feature that will be scored in a binary fashion can be MFA . It is either enabled for the account or its not . And an average score of all the accounts will be taken and calculated as percentage. Hope this clarifies your query. We will now close this issue. Should you have any follow up query , please tag me or the author @MicrosoftGuyJFlo to your reply and we will help yo

[2019-06-19 20:10] #33049 closed

[2019-06-19 20:12] shashishailaj commented on #33390
@billmath @zhiweiwangmsft Could you please check this document and help update the screenshots ?

[2019-06-19 20:14] niswitze opened #33620 "Step 6 & 9: Microsoft.FeatureManagement.AspNetCore;"
Should the using statement for the Feature Management package be Microsoft.FeatureManagement.AspNetCore; or Microsoft.FeatureManagement;? Currently I can only get my project to build if the using statement is set to Microsoft.FeatureManagement; Just want to check to see if this is a typo or if I'm doing something wrong.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-06-19 20:17] shashishailaj commented on #33225
@dcbrown16 We are engaging the author for reviewing the article with Product group and updating the same.

@techlake @TerryLanfear Could you please have this reviewed with engineering and get the article updated as needed ? Thank you

[2019-06-19 20:21] artisticcheese opened #33621 "Does this work with windows containers in AKS"
Hello,

I don't see it's explicitly being mentioned but do network policies work with Windows containers?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13ac2648-7dce-c83c-0b14-79d5b091b1af
* Version Independent ID: 6aa0b306-6926-87cc-9b59-496ac91dfba6
* Content: [Secure pods with network policies in Azure Kubernetes S

[2019-06-19 20:29] shashishailaj commented on #33331
@rahul24 This might require deeper troubleshooting . Please send us an email on azcommunity[@]microsoft[dot]com  with your azure subscription ID referencing this issue and we will take this over email with you . We will close this issue now and continue this conversation over email.

Thank you.

[2019-06-19 20:29] #33331 closed

[2019-06-19 20:34] MarileeTurscak-MSFT commented on #33588
@pablodiazgutierrez thanks for the suggestion for the document! We will investigate and update as appropriate.

[2019-06-19 20:35] al4spn opened #33622 "Azure MFA - Verification code cannot start with a 0"
When activating a OATH Token a verification code can not start with a zero

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8f14188-98ec-5c94-f408-162ee1baa076
* Version Independent ID: 41ed4874-e1e6-56d3-4de4-39c024d1e06c
* Content: [Authentication methods - Azure Active Directory](https://docs.microsoft.com/en-us/azur

[2019-06-19 20:36] dumbdom1983 opened #33623 "JSON missing core fields/values"
The current variables passed in the webhook json are limited, and do not include some of the core values related to the monitoring object. Mainly, the following are not present, but would be very helpful when building alert integrations:
1) Resource (Affected resource)
2) Resource Group
3) Resource Type
4) Alert ID
5) Subscription

What is interesting is that they appear in the email alerts when u

[2019-06-19 20:37] raiderjakk opened #33624 "Difficulty Linking To Azure AD Identity Provider"
I am getting the following error:

AADSTS50011: The reply url specified in the request does not match the reply urls configured for the application:

What reply URL needs to be entered in the source Azure AD?  I tried putting the project URL in the web app from the B2C-WebAPI-DotNet sample and it's not working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2019-06-19 20:37] MarileeTurscak-MSFT commented on #33618
@weikanglim
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-19 20:38] shashishailaj commented on #33372
@billmath Could you please help get the details in this query verified with product engineering and the document updated as per the customers recommendations?

[2019-06-19 20:42] MicahMcKittrick-MSFT commented on #33621
@artisticcheese no Network Policies should only be used on Linux Containers. We do mention this in the doc as well

![image](https://user-images.githubusercontent.com/32313503/59798766-c8515080-9297-11e9-9f6e-b6bc0c8416f7.png)

![image](https://user-images.githubusercontent.com/32313503/59798823-e028d480-9297-11e9-8dd5-cdf449e473e2.png)

You can also see this is called out in the Windows Container

[2019-06-19 20:42] #33621 closed

[2019-06-19 21:03] norliu opened #33625 "Incorrect page link"
In the next steps section, there is a link "Follow the Tutorial: Automatically train a classification model with Azure Automated Machine Learning", it actually leads to a doc about how to train a regression model. Please correct the link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2fcbcc1-0824-1dba-f5ae-6cf5c97a9d

[2019-06-19 21:03] Wreckergibb opened #33626 "Invalid resource type error "Microsoft.Network/bastionHosts""
I am getting an invalid resource type error "Microsoft.Network/bastionHosts". I have validated that the provider feature has successfully registered.
 FeatureName      ProviderName      RegistrationState
-----------      ------------      -----------------
AllowBastionHost Microsoft.Network Registered

Is there a know issue going on right now? Any guidance is most appreciated.

---
#### Document D

[2019-06-19 21:05] Wreckergibb commented on #33626
The error message from the failed deployment is "The resource type could not be found in the namespace 'Microsoft.Network' for api version '2018-10-01'."

[2019-06-19 21:09] ian-rosenberg opened #33628 "DllNotFoundException: azurespatialanchorsndk"
DllNotFoundException: azurespatialanchorsndk
Microsoft.Azure.SpatialAnchors.CloudSpatialAnchorSession..ctor () (at Assets/AzureSpatialAnchorsPlugin/Plugins/Common/AzureSpatialAnchorsBridge.cs:6864)
SpatialAnchors.Start () (at Assets/Scripts/SpatialAnchors.cs:28)

When attempting to debug the application from the Unity, unless there is a better solution for debugging, I cannot test my application.

[2019-06-19 21:09] yoelhor commented on #30490
The paragraph user input type is used to provide a field that shows text only in a paragraph (DIV element). You can initiate the value of this claim by calling a claims transformation and providing the input claim. As following:

        <TechnicalProfile Id="SelfAsserted-EmailSent">
          <DisplayName>Sing-in with local account</DisplayName>
          <Protocol Name="Proprietary" Handler="Web

[2019-06-19 21:10] terrymandin commented on #33609
Just so we are clear, the service is running in Windows and the device is running in an Ubuntu 16.04 VM in Azure.  The error occurs when I start SSH.

I'll connect with you on Teams.

[2019-06-19 21:11] Karishma-Tiwari-MSFT commented on #30743
Thanks @j0rt3g4 :)
The PR is in review-requested state. Once it is merged, I will close this issue.

[2019-06-19 21:15] Karishma-Tiwari-MSFT commented on #33167
Thanks @ChristianMontoya  :)
@banzaisi We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-06-19 21:15] #33167 closed

[2019-06-19 21:16] axisc commented on #33120
@cocowalla
anything that is not pure AMQP will default to 1000 connections.

Hope this helps. Feel free to reopen if you still have questions.

#please-close

[2019-06-19 21:16] #33120 closed

[2019-06-19 21:19] axisc commented on #33119
@cocowalla  this would be for the namespace (across all queues/topics)

#please-close

[2019-06-19 21:19] #33119 closed

[2019-06-19 21:20] jfalameda opened #33629 "Add instructions to debug on mac"
Hi,

It would be great to add instructions about how to debug SF on Mac. Since the service is running though docker it is not quite sure how it is done.

Kind Regards,
/ José.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ea176d4-3324-727d-667a-570c7f829d53
* Version Independent ID: b86fc40d-7a5c-9ece-53c7-db8d491dc3

[2019-06-19 21:24] LaloCo commented on #33592
Same here, the option for Mobile Apps is gone. Is the service deprecated? Docs seem to have been updated only a month ago.

[2019-06-19 21:25] #32335 closed

[2019-06-19 21:29] b-juche commented on #32416
@mkiernan -- Thanks again for your comment.  Our Product Manager @lichunli-ms is investigating your suggestion.  We will let you know when a decision is made.

[2019-06-19 21:30] stevestein commented on #31704
@ackava - thanks for pointing this out. The correct option is actually **_readonly_**

The article has been updated and the change should be live sometime today.

Thanks!

[2019-06-19 21:40] spelluru commented on #30242
Added this note:
 Note
If the duplicate detection is enabled and sesion ID or partition key are not set, the message ID is used as the partition key. If the message ID is also not set, .NET and AMQP libraries automatically generate a message ID for the message. For more information, see Use of parition keys.

#please-close

[2019-06-19 21:40] #30242 closed

[2019-06-19 21:44] spelluru commented on #10072
This sample has been updated since the last comment. Please reopen this issue or open a new issue if you still see the issue. Thanks.

#please-close

[2019-06-19 21:44] #10072 closed

[2019-06-19 21:45] TravisCragg-MSFT commented on #33601
@JoeRistine Thanks for the feedback!

The fixed price is independent of scale count, and is a flat cost associated to an App Gateway. If you have 2 App Gateway V2s running for a month with different instance counts, the fixed price will be the same.

The Capacity Unit price is where the variable pricing comes in, and where the instance price is calculated. Capacity units per instance is usually at

[2019-06-19 21:49] MarileeTurscak-MSFT commented on #33624
@raiderjakk
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-19 21:49] TravisCragg-MSFT commented on #33617
@cogran Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-19 21:53] joelverhagen opened #33631 "Mismatch in property name - SearchServiceName vs. ServiceName"
Under "Step 3: Log Search events", the plain text says use "ServiceName" but the code snippet shows "SearchServiceName". Which one is correct?

Other mismatches:
DocId vs ClickedDocId
Rank vs Position

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d15016b-314c-5757-2ea0-76bd04cf87c6
* Version Independent ID: bc6c02ee-

[2019-06-19 21:55] chwarr commented on #32335
I've added these changes to the Azure Spatial Anchors FAQ. This commit should show up in this repository and be live on the docs.microsoft.com site shortly.

I'll repeat the details here:

[2019-06-19 21:58] maxluk commented on #33308
Azure ML create docker image every time is runs the job on Azure ML Compute. In case of using estimators, prebuilt docker image will be used.
End-to-end tests for SKLearn - training model, etc. Not sure what is the full set.
framework = SKLearn|PyTorch|TF. In this case framework_version would be SKLearn package version.

[2019-06-19 22:01] MicahMcKittrick-MSFT commented on #33629
@jfalameda we do have a doc already on setting up your environment for Service Fabric if you are running on a Mac. Besides that, any SF specific troubleshooting should not be much different than when using a Mac. What exactly is the info you are looking for?

[2019-06-19 22:03] HeidiSteen commented on #33631
they are the same thing -- I'll fix it - -thanks!

[2019-06-19 22:26] matt-mcc1 commented on #33583
Thanks for the swift response 👍

It's an inherited role -  might be best to update this particular doc under the section:

_List role assignments for a resource group_

to state that it **only** works for direct assignments.

Closing this ticket, thanks

[2019-06-19 22:26] #33583 closed

[2019-06-19 22:27] d83194 opened #33632 "Error after enabling"
After following the guidance on this page, when connecting to a VM I see errors:

'The network connection to the Bastion Host appears unstable.'

and

'The connection has been closed because the target machine is taking too long to respond. This is usually caused by network problems, such as a spotty wireless signal, or slow network speeds. Please check your network connection and try again or con

[2019-06-19 22:32] MarileeTurscak-MSFT commented on #33600
@CeciAc
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-19 22:33] MarileeTurscak-MSFT commented on #33622
@al4spn can you please provide me with a link to the document you are following so that I can better assist?

[2019-06-19 22:35] al4spn commented on #33622
https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-authentication-methods#oath-hardware-tokens-public-preview

[2019-06-19 22:39] KranthiPakala-MSFT commented on #33615
@josuvil Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2019-06-19 22:39] YutongTie-MSFT commented on #33362
@nacharya1 Hi, this issue is a follow up question from : https://github.com/Azure/MachineLearningNotebooks/issues/195 but no response for now. Could you please take a look at it and give some insights? Thank you.

[2019-06-19 22:41] YutongTie-MSFT commented on #33346
@BreakingBI Hi Brad, could you please send us an email at Azcommunity@microsoft.com with you Azure subscription ID and URL of this thread? Thank you. We will have someone help you to figure our this issue. Since this is not a document issue, I will close it for now.

[2019-06-19 22:41] #33346 closed

[2019-06-19 22:51] YutongTie-MSFT commented on #33359
@darrenmart Hi, I created a PR fix for that. You should see the data be consistent soon. Thank you for the feedback.

[2019-06-19 22:56] YutongTie-MSFT commented on #33348
@m-brooks Hi ^^ Sorry to make you confused. This is the second step of how to use Custom Speech, the first step is here: https://docs.microsoft.com/en-gb/azure/cognitive-services/speech-service/how-to-custom-speech
![image](https://user-images.githubusercontent.com/38084098/59806858-b927ce00-92aa-11e9-860f-73e05eed3133.png)

[2019-06-19 22:58] YutongTie-MSFT commented on #33540
@loomlike You should see the change now. Thank you for your feedback again.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-06-19 22:58] #33540 closed

[2019-06-19 22:59] YutongTie-MSFT commented on #33541
@cfauchere We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-06-19 22:59] #33541 closed

[2019-06-19 22:59] KranthiPakala-MSFT commented on #33615
@josuvil We have assigned the issue to the content author. They will evaluate and update the document as appropriate.

[2019-06-19 22:59] KranthiPakala-MSFT commented on #33615
@hrasheed-msft Could you please take a look at @josuvil feedback.

[2019-06-19 23:08] YutongTie-MSFT commented on #33625
@norliu Thank you for your feedback, we will investigate it and get back to you soon.

[2019-06-19 23:10] robinsh commented on #27165
@jones-mikael @Alberto-Vega-MSFT
I have added the requested items to the requirements list.

[2019-06-19 23:20] wassx commented on #32335
Thank you!

[2019-06-19 23:23] sudarshansunder commented on #29172
@MartinJaffer-MSFT  Can you elaborate on this sentence. "Check if your account belongs to the same tenant as the resource group you're deploying to.". I don't quite understand the terminology used.

[2019-06-19 23:27] robinsh commented on #24580
@Alberto-Vega-MSFT You can assign this to me, and I'll take a look at it.

[2019-06-19 23:28] robinsh commented on #24579
@alberto-vega-msft Please assign this to me and I will take a look at it.

[2019-06-19 23:38] femsulu commented on #33603
@sirdank Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-06-19 23:40] femsulu commented on #33606
@bbakermmc Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-06-19 23:41] swiftPeter opened #33636 "Can pass-through agaent be installed in the DC, what does Microsoft recommand"
I am wondering If pass-through agent can be installed in the domain controller since document said
"For most customers, three Authentication Agents in total are sufficient for high availability and capacity. You should install Authentication Agents close to your domain controllers to improve sign-in latency."

What does Microsoft recommnad?

[2019-06-19 23:42] femsulu commented on #33598
added triage labels

[2019-06-19 23:42] #33598 closed

[2019-06-19 23:44] jaryder opened #33637 "Incorrect section heading"
https://docs.microsoft.com/en-us/azure/storage/blobs/storage-c-plus-plus-how-to-use-blobs#retrieve-your-connection-string

Section is about retrieving a storage account, not a connection string.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b23a70e-0887-4a55-9c2c-b64e767e9eab
* Version Independent ID: 52f3d07b-7cd8-0

[2019-06-19 23:44] tamram commented on #32632
@tfitzmac - Thanks, I've made the change in the spec and recruited the dev team to help get it published.

[2019-06-19 23:44] MicahMcKittrick-MSFT commented on #33613
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-19 23:45] swiftPeter opened #33638 "Can pass-through agent be installed in the domain controller?"
The document said "For most customers, three Authentication Agents in total are sufficient for high availability and capacity. You should install Authentication Agents close to your domain controllers to improve sign-in latency."

Can pass-through agent be installed in the domain controller?  what does recommend

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2019-06-19 23:47] tamram commented on #24584
#reassign:@normesta

[2019-06-19 23:48] tamram commented on #18889
#reassign:@mhopkins-msft

[2019-06-19 23:50] tamram commented on #18889
@mhopkins-msft - I think you've already verified all links in the article, right? If so, please go ahead and close.

[2019-06-19 23:50] femsulu commented on #33623
@dumbdom1983 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-06-19 23:50] tamram commented on #19163
#reassign:@roygara

[2019-06-19 23:51] tamram commented on #19647
#reassign:@roygara

[2019-06-19 23:52] MarileeTurscak-MSFT commented on #18048
For anyone wondering about this, the script is now posted publicly here:
https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-getstarted#convert-users-from-per-user-mfa-to-conditional-access-based-mfa

[2019-06-19 23:54] MarileeTurscak-MSFT commented on #33608
@bakerm00
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-19 23:55] MarileeTurscak-MSFT commented on #33632
@d83194
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-19 23:56] MarileeTurscak-MSFT commented on #33626
@Wreckergibb
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-19 23:56] tamram commented on #14086
#reassign:@roygara

[2019-06-20 00:04] tamram commented on #32933
@peledins - Thanks for your feedback! Can you please tell me which version of the .NET client library you are using?

[2019-06-20 00:05] MarileeTurscak-MSFT commented on #33636
@swiftPeter please provide the link to the document to which you are referring.

[2019-06-20 00:07] MarileeTurscak-MSFT commented on #33622
Hi @al4spn ,

Are you suggesting amending the doc, adding this to the docs, or are you just commenting?

[2019-06-20 00:07] MarileeTurscak-MSFT commented on #33638
@swiftPeter
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-20 00:08] MarileeTurscak-MSFT commented on #33636
Closing this out as it is a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/33638

[2019-06-20 00:08] #33636 closed

[2019-06-20 00:20] MarileeTurscak-MSFT commented on #33620
@niswitze
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-20 00:25] mhopkins-msft commented on #18889
Yes, the broken links were fixed.
#please-close

[2019-06-20 00:25] #18889 closed

[2019-06-20 00:38] cogran commented on #29114
@SubhashVasarapu-MSFT
[Virtual Network Service Endpoints](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-service-endpoints-overview) are different from the [Azure Storage Account Firewall ](https://docs.microsoft.com/en-us/azure/storage/common/storage-network-security#trusted-microsoft-services). Each of them independently can impact the functionality of NSG flow logs.

I k

[2019-06-20 01:04] KeiroKamioka0000 opened #33639 "How much time require to turn off?"
I would like to know how many hours require to get diabled the Endpoint instead of time require to enable it (2hours)

Enable Azure CDN integration
If you later want to disable/enable the CDN, your streaming endpoint must be in the stopped state. It could take up to two hours for the Azure CDN integration to get enabled and for the changes to be active across all the CDN POPs.

---
#### Document D

[2019-06-20 01:17] minnisp commented on #33342
We're having a lot of problems with this "unexpected error" as well. I know it's preview but the split sspr and mfa registration was so confusing to users we went live with this please help

[2019-06-20 01:53] Martin00001 opened #33640 "The code throws an exception"
I was successful with deploying ASP.NET Core with Azure Cloud service according this https://oren.codes/2017/10/16/using-asp-net-core-with-azure-cloud-services/. There is not writing about a code on this page. I think we have not needed the code, but we should change the size according the article instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2019-06-20 01:59] Alberto-Vega-MSFT commented on #33070
@payalgaikwad42 That seems like an issue with edge would you please open an issue on that repo? https://github.com/Azure/iotedge/issues

[2019-06-20 02:04] mikenri opened #33641 "1000 IP address limit in all peered vNETs within a tenant"
Microsoft reached out to us recently because we exceed 1000 IP addresses in all peered vNETs in our azure tenant and there is a limitation that there can only be 1000 maximum IP addresses accross all vNETs in a tenant regardless of how many of these IP addresses need to connect to Azure NetApp Files.

The limitation of 1000 IP addresses across all peered vNETs in a tenant should be added to this p

[2019-06-20 02:12] KeiroKamioka0000 opened #33642 "日本語の翻訳文章お願いします。"
こちらのページはお客様にとっても参考になるページだと思うので日本語版の追加をご検討いただきますようにお願いします。

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: f2922476-5c4b-ebed-8a2e-41ecba715c9a
* Version Independent ID: 37bb4ea2-eaf5-9cc7-3da7-cb547491d127
* Content: [Get Azure Cosmos DB metrics from Azure Monitor](https://docs.microsoft.com/ja-jp/azure/cosmos-db/cosmos-db-azure-monitor-metrics#metric

[2019-06-20 02:29] SnehaAgrawal-MSFT commented on #33628
@ian-rosenberg Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-20 02:30] SnehaAgrawal-MSFT commented on #33637
@jaryder Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-20 02:34] SnehaAgrawal-MSFT commented on #33639
@KeiroKamioka0000 Thanks for the question! We are investigating and will update you shortly.

[2019-06-20 02:39] SnehaAgrawal-MSFT commented on #33641
@mikenri Thanks for the feedback! We are currently investigating and will update you shortly

[2019-06-20 02:44] gjlamb commented on #30477
Having this error also.  We're not using FB right now but will be using LocalandSocialaccounts as well as same with MFA.  Any ideas why I'm getting the error?

[2019-06-20 02:52] mikenri commented on #33641
Thanks. Feel free to E-mail me if you want to know the contacts at Microsoft and NetApp that we have been working with.

[2019-06-20 02:57] annathan opened #33643 "Document link"
the next step hyperlinks don't work, no documents are available

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c9d1ff4-9e32-39fc-2d8d-46d3c07bca4d
* Version Independent ID: 72b20547-e78b-f6d2-6e69-31c846965ad0
* Content: [Isolation in the Azure Public Cloud](https://docs.microsoft.com/en-us/azure/security/azure-isolat

[2019-06-20 03:08] SnehaAgrawal-MSFT commented on #33643
@annathan Thanks for the feedback! We are currently investigating and will update you shortly

[2019-06-20 03:13] HeidiSteen commented on #33631
It looks like the .NET SDK is being referenced in places, so the correction is to use SearchServiceName throughout (see PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/80128)  This change will be live by tomorrow noon.  I recommend closing this issue.

[2019-06-20 03:14] HeidiSteen commented on #33469
This issue is fixed by AjayKumar-MSFT.  #please-close

[2019-06-20 03:14] #33469 closed

[2019-06-20 03:15] HeidiSteen commented on #33003
Glad you are unblocked.  This note is for the admins  who monitor this queue -- #please-close

thanks!!

[2019-06-20 03:15] #33003 closed

[2019-06-20 03:32] tkumark opened #33644 "Support for ASP.net 4.6 4.8"
Is there any plans to support ASP.Net 4.6 or 4.8?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31806d3b-6d26-ba48-3860-559dc0938b9d
* Version Independent ID: 3eccfc69-2ea4-d8ab-3299-df054a0f6a47
* Content: [What is Azure App Configuration?](https://docs.microsoft.com/en-us/azure/azure-app-configuration/overview)
* Co

[2019-06-20 03:44] dcbrown16 opened #33645 "ToC missing"
Is this doc deprecated or something? It's no longer in the ToC.
It seems to be the Portal version of the PowerShell doc below?
https://docs.microsoft.com/en-us/azure/application-gateway/tutorial-multiple-sites-powershell

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a08761f5-08a2-3b87-700f-44ca3c7d6541
* Version Indep

[2019-06-20 04:07] fbocse opened #33648 "CLI support for enabling large partition key on CosmosDB container is missing"
Is this feature expected any time soon?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c628b14e-b23f-3d87-5456-bbcf40ced3f9
* Version Independent ID: 6f9d5320-e3f3-277a-b141-c795ea1a58d3
* Content: [Create Azure Cosmos containers with large partition key using the Azure portal and various SDKs.](https://docs.microsoft.

[2019-06-20 04:10] xtofs opened #33649 "verfication_uri_complete undocumented."
the property verfication_uri_complete is mentioend once but it is not documented where that comes from.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58bc32c3-9e21-a56a-f876-3e750576f228
* Version Independent ID: 83231247-55a8-e69b-0712-8c7b1481a02d
* Content: [Use Microsoft identity platform to sign in users on brows

[2019-06-20 04:13] cuongdnv commented on #33430
I written a Nodejs service , and build it by docker . Then i pushed it into Azure Container Registry . I used Helm to pull Repository from ACR and then deploy to AKS but service not run . Please tell me some advise.

The code of Helm Value . I thing i have to setting type and port of service.

replicaCount: 1

image:
  repository: tungthtestcontainer.azurecr.io/demonode
  tag: latest
  pullPolicy:

[2019-06-20 04:14] KalyanChanumolu-MSFT commented on #33642
@KeiroKamioka0000 Thank you for the detailed feedback.
This issue is being assigned to the content author to evaluate and update as appropriate.

[2019-06-20 04:37] BhargaviAnnadevara-MSFT commented on #33644
@tkumark Thanks for the question! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-20 04:37] aasis21 commented on #33577
Although I can make the preview from the returned token information from API. But it would be nice the get the preview also.

[2019-06-20 04:44] YASWANTHM-MSFT commented on #33637
@jaryder , Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-20 04:46] shashishailaj commented on #33649
@xtofs Thank you for your feedback . We will engage the content authors and get it reviewed if we can provide a clarification on this.

[2019-06-20 04:47] shashishailaj commented on #33649
@rwike77 Could you please check this with engineering if we can have some description added about the property verfication_uri_complete in this article or a separate one.

[2019-06-20 05:01] ManojReddy-MSFT commented on #33583
@matt-mcc1 I have updated the doc accordingly and it should be visible once the PR is merged.

[2019-06-20 05:03] KalyanChanumolu-MSFT commented on #33642
@SnehaGunda The customer is requesting for a Japanese translation of the article.

[2019-06-20 05:06] dcbrown16 commented on #31754
@MicahMcKittrick-MSFT adding a vote for these steps, this came up in support today.

[2019-06-20 05:12] marcel-wiedemeier commented on #32701
Here's a suggestion to make this clearer: "The Azure AD (AAD) lockout duration must be set longer than the Active Directory (AD) reset account lockout counter after duration. Be aware that the AAD duration is set in seconds, while the AD duration is set in minutes. For example, if you want your AAD counter to be higher than AD, then AAD would be 120 seconds (2 minutes) while your on prem AD is set

[2019-06-20 05:13] jakaruna-MSFT commented on #32227
@SharmainePopov Thanks for reporting it. Please up vote or create a new feedback so that the community can request for this feature.
I will close this out for now. If you need additional help please let me know and we can reopen and continue

[2019-06-20 05:13] #32227 closed

[2019-06-20 05:19] mike-urnun-msft commented on #30818
@netsrotr Documentation is now updated to reflect the current experience for AAD app Registration steps. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-06-20 05:19] #30818 closed

[2019-06-20 05:24] tkumark opened #33651 "azureappconfig.json"
creation of azureappconfig.json script is wrong above. I think there is a change is az appconfig. below command works.

&lt;Exec WorkingDirectory="$(MSBuildProjectDirectory)"  Condition="$(ConnectionString) != ''" Command="az appconfig kv export --destination file --path $(OutDir)\azureappconfig.json --format json --separator : --connection-string $(ConnectionString) --yes" /&gt;

---
#### Documen

[2019-06-20 05:27] KetanChawda-MSFT commented on #33523
@devlife Checking in to see if the above post helped answering your question.

[2019-06-20 05:37] KetanChawda-MSFT commented on #33584
@DrReedo Document is using Function App Name `CleanTextFunctionApp` just for explanation purpose. It is mention in the description that the name of the Function App must be globally unique.

![image](https://user-images.githubusercontent.com/28587628/59823266-520e2600-934b-11e9-8ccd-5360154519d5.png)

[2019-06-20 05:38] KrishnaG-MSFT commented on #33475
@JustinGrote Thanks for the comment.
Elmer (@thinkingserious) Can you please look into it / provide your insights on this and update the documentation ?

[2019-06-20 05:39] SwathiDhanwada-MSFT commented on #33220
We will now close this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-06-20 05:39] #33220 closed

[2019-06-20 05:40] KetanChawda-MSFT commented on #33481
@dcbrown16 Checking in to see if the above post helped answering your question. Let me know if there are still any additional issues I can help with.

[2019-06-20 05:43] andronachev commented on #32962
Hi,

Just thought to give my input, on how I did this (also supporting complex configs):

My local.settings.json:

[code]

Startup.cs of the function:

[code]

And the OriginationConfiguration.cs respects the "json" structure of the local.settings.json:

[code]

You can't have a complex structure in the local.settings.json... but what you do is you respect the convention of delimiting nodes with :

[2019-06-20 05:47] devnomadic commented on #33626
@Wreckergibb Did you execute the powershell RM \ AZ cmdlets to enable the bastion preview feature in your subscription?: https://docs.microsoft.com/en-us/azure/bastion/bastion-create-host-portal

[2019-06-20 05:48] LeeHyeongWon opened #33652 "suddenly iotedge module and iotedge module does not restart automatically"
Hello, everyone!!
I've hit a snag.

Machine learning module has been deployed in iotedge.
This module receive messages from other module and operate them and send messages again.
ML Module receive and send 5,000 messages a day.
In addition, when they receive messages, they read and analyze about 4MB of files.
But It stopped suddenly while it was working.
And it doesn't restart.
The module itself h

[2019-06-20 05:50] dcbrown16 commented on #33481
@KetanChawda-MSFT thanks, I understand what it is for. I'm asking that this be reflected in the document so that everyone in the future will understand when they come here.

[2019-06-20 05:52] KetanChawda-MSFT commented on #33481
@dcbrown16 I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-20 05:52] msrini-MSFT commented on #33608
@bakerm00 , Thank you for providing your feedback.

Referencing the similar issue: https://github.com/MicrosoftDocs/azure-docs/issues/33575

PR have been made and waiting for the author to approve.

[2019-06-20 05:54] KeiroKamioka0000 opened #33653 "Please mention about the Private Frontend IP configuration for GW2 is not supported."
According from the following URL, V2 SKU does not support the Private IP for Frontend IP.
Or is this only applies to the portal only?

Thanks.

Quickstart: Direct web traffic with Azure Application Gateway - Azure portal
https://docs.microsoft.com/en-us/azure/application-gateway/quick-create-portal
For the Application Gateway v2 SKU, you can only choose Public frontend IP configuration. Private fr

[2019-06-20 05:57] msrini-MSFT commented on #33653
@KeiroKamioka0000 , Thank you for posting here. As of today, Private IP only configuration is not support in any means with Application Gateway V2 SKU. If you want to use it you need to deploy V2 Gateway along with Public IP and not use it.

Does that answer your question?

[2019-06-20 06:19] manishjoisar commented on #33585
Hello Kevin,

(1) This link says
https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-securing-a-logic-app#secure-access-to-logic-app-operations
Logic App Contributor: Users can view, edit, and update your logic app.

(2) This link says
<https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#logic-app-contributor>https://docs.microsoft.com/en-us/azure/role-based-ac

[2019-06-20 06:21] Grace-MacJones-MSFT commented on #33186
@giovannifl thanks for your patience and clarifying your question. The Regional VNet Integration can integrate fine with a VNet that has ER GW. That is one of the benefits of the feature.  The docs states: "If you need to access resources through an ExpressRoute connection, then you can use the regional VNet Integration feature or an App Service Environment, which runs in your VNet."

We will now

[2019-06-20 06:21] #33186 closed

[2019-06-20 06:29] kobulloc-MSFT commented on #33597
@julienshepherd Thank you for bringing this to our attention! We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-06-20 06:29] #33597 closed

[2019-06-20 06:44] chintanr11 opened #33655 "SSH key parameter in "az group deployment create" command"
In the Azure CLI script while passing the admin public key replace '$key' with "$key" as shown below.

az group deployment create --resource-group $resourceGroupName --template-uri https://raw.githubusercontent.com/azure/azure-quickstart-templates/master/101-vm-sshkey/azuredeploy.json --parameters projectName=$projectName adminUsername=$username adminPublicKey="$key"

Also when entering the value

[2019-06-20 06:46] cveld opened #33656 "How is the connectivity being managed between Function Host and SignalR Service?"
We wonder how the function binding manages connections with the service.  Is there some persistent connection or is the runtime creating new connections for every operation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2c2755f-9604-2e0d-827b-9f8db937279c
* Version Independent ID: 84ba9454-4cc9-2a93-0708-10ad7c1428ed

[2019-06-20 06:59] yossaa opened #33657 "OS updates on VMSS based AKS"
Does this procedure also apply to AKS clusters based on VMSS? Is it enough to reboot, or do we have to do VMSS image updates (if so, how to find proper SKU/Version?).

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eadf3bc9-bea3-b51f-1477-8f76ccfce7da
* Version Independent ID: 12d0be59-8947-e0a2-d73a-8834f2e5f8b2
* Cont

[2019-06-20 07:09] yoelhor commented on #33624
For **Reply URL**, enter an endpoint where Azure AD B2C should return any tokens that your application requests. For example, you could set it to listen locally at `https://localhost:44316`. If you don't yet know the port number, run the [B2C-WebAPI-DotNet](https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi) sample application you mentioned, and copy the URL. This is th

[2019-06-20 07:45] Anmolgan81 opened #33658 "Is the data encrypted always when in-transit for azure sql database?"
We have a web server connected with the azure sql database, and the transactions are going in and out, our azure sql database is encrypted at rest, but what about in-transit data? is that always encrypted inside the pipeline?

How does that works?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16c7901b-497c-38bd-3615-d

[2019-06-20 07:46] Anmolgan81 opened #33659 "Is the data encrypted always when in-transit for azure sql database?"
We have a web server connected with the azure sql database, and the transactions are going in and out, our azure sql database is encrypted at rest, but what about in-transit data? is that always encrypted inside the pipeline?

How does that works?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16c7901b-497c-38bd-3615-d

[2019-06-20 07:46] #33659 closed

[2019-06-20 07:47] yoelhor commented on #33401
I checked your HTML page and it works as expected. The label should appear at the bottom of the page. See this sample
![Untitled](https://user-images.githubusercontent.com/20111866/59829861-0eb1b880-9347-11e9-8d66-3a38d3087ac4.png)

You can check with the browser debugger whether your HTML page layout is actually loaded
 with the latest version you published.  ![Untitled](https://user-images.githu

[2019-06-20 07:58] ChiragMishra-MSFT commented on #33559
@gauravmalhot Can you please have a look at this one ?

[2019-06-20 07:59] yoelhor commented on #32915
Thanks for bringing this up. We are about to remove this sample. The new HTML customization article will include the static HTML page and dynamic in a unified doc.

[2019-06-20 08:02] HannahHsiao opened #33660 "Does user RBAC as Reader can be the caller for Azure Invoice Download API"
A post from https://github.com/Azure/vagrant-azure/issues/164, customer replied that "Role is given as "Reader" which should be "Owner" instead otherwise it would give permission error on deployment."

Please confirm

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a56e729-7981-9a51-9c5c-00ea13a8d888
* Version Independe

[2019-06-20 08:03] msrini-MSFT commented on #33531
@DKiefer770 , Do you have any update for me?

[2019-06-20 08:06] darushah commented on #22962
@SubhashVasarapu-MSFT @vhorne This is still not available in UK South region and already we have passed late March/early April.

Any new ETA on when this will be available in UK South?

[2019-06-20 08:07] darushah opened #33661 "When will this be available in UK South"
Hello Team,

When will this be available in UK South region?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: faa5b8a2-11a1-6a2d-07cb-ffcf39643ed4
* Version Independent ID: 298a134e-fb27-f16d-bff2-d43eb0f766fd
* Content: [Autoscaling and Zone-redundant Application Gateway v2](https://docs.microsoft.com/en-us/azure/applic

[2019-06-20 08:07] nielsvdGH commented on #31078
@ManojReddy-MSFT
Can you tell what the status is regarding the option to block automatic device registration?
We have tested with the SCP GPO and want to extend by configuring AD-Connect and ADFS. However we don't want all our W10 devices and Servers end up as Hybrid AD Joined devices. I see the following options:

[Option1]
We might control this by disable syncing specific W10 and Server OU's fro

[2019-06-20 08:09] darushah commented on #33661
Specifically Standard_v2 and WAF_v2 SKU in UK South region.

[2019-06-20 08:13] andersidahl commented on #33551
+1, having the same issue!

[2019-06-20 08:14] yoelhor commented on #32185
`userIdentities` is a new claim type for social accounts, similar to `alternativeSecurityIds` claim type. Both claim types can exist side by side. Currently we use this claim type only for account linkage. For the rest of the policies you can use `alternativeSecurityIds` claim type.

[2019-06-20 08:23] yoelhor commented on #32087
Any OAuth2 or OpenId Connect identity provider, such as Facebook and AAD, must return the token back to Azure AD B2C in the following URL. Replace `your-tenant` with the name of your tenant.

https://your-tenant-name.b2clogin.com/your-tenant-name.onmicrosoft.com/oauth2/authresp

If your **application** use https://login.microsoftonline.com domain for the authorization URL (instead of b2clogin.com)

[2019-06-20 08:26] yoelhor commented on #30240
IDP initiated flow is not officially supported yet and removed from the doc.

[2019-06-20 08:29] yoelhor commented on #29931
Thanks for the feedback. We are updating the MSAL single page application sample, to reflect the changes. Meanwhile, please see this MSAL doc how to configure the app to use `b2clogin.com` https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-b2c-overview#configure-application-to-use-b2clogincom

[2019-06-20 08:40] jfalameda commented on #33629
Hi Micah,

Thanks for your quick response. I have no issues setting up my environment
on mac. The problem I experience is that I cannot attach to the processes
because they are being run on Docker (this is the way to do it on Mac).
Therefore, this approach does not really work on a Mac.

It would be great to do information about how to debug on a SF under
docker, regardless on the OS! i am pretty

[2019-06-20 08:58] AshokPeddakotla-MSFT commented on #33652
@LeeHyeongWon The IoT Edge hub, which is part of the IoT Edge runtime, is optimized for performance by default and attempts to allocate large chunks of memory. This optimization is not ideal for constrained edge devices and can cause stability problems. When you set the environment variable to false it stops allocating large chunks of memory.
Please set **OptimizeForPerformance **to **false ** and

[2019-06-20 08:59] VikasPullagura-MSFT commented on #33655
@chintanr11 Thanks for your feedback. We are checking on this and will update you shortly.

[2019-06-20 09:00] AshokPeddakotla-MSFT commented on #33652
@LeeHyeongWon The IoT Edge hub, which is part of the IoT Edge runtime, is optimized for performance by default and attempts to allocate large chunks of memory. This optimization is not ideal for constrained edge devices and can cause stability problems. When you set the environment variable to false it stops allocating large chunks of memory. Please set **OptimizeForPerformance **to **false **and

[2019-06-20 09:05] sffamily commented on #32779
The page has been revised by adding additional content and is being published.
#please-close

[2019-06-20 09:08] yahorsi commented on #32779
Are changes published already? Just interested to have a look on what's been changed.

[2019-06-20 09:09] UMANGAWASTHY commented on #33498
@snehaamicrosoft

Thanks

https://azure.microsoft.com/en-gb/resources/samples/app-service-msi-keyvault-dotnet/
https://markheath.net/post/managed-identity-key-vault-azure-functions
https://community.dynamics.com/365/b/dynamics365andazuresolutions/archive/2018/12/23/azure-function-get-secret-from-azure-key-vault
https://devkimchi.com/2019/01/03/accessing-key-vault-from-azure-functions-with-managed-

[2019-06-20 09:21] axelgMS opened #33662 "Can we add details on B12ms, B16ms, B20ms sizes?"
Hey there,From Azure Management Portal, it's possible to select a VM with size B12ms or B16ms or B20ms, but they are not listed here in this documentation.Can we add them and their specs?Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f435b3d1-2e0b-378c-ce89-97defa822eff
* Version Independent ID: 32c3ea31-ae89-5

[2019-06-20 09:22] AjayKumar-MSFT commented on #33592
@XamarinTounsi, and @LaloCo, There have been some changes recently with how we present the App Services family in the Azure Portal. A Mobile App was a Web App with Easy Tables and Easy APIs added.

To simplify things, we have merged the API and Mobile Apps into the WebApp product. You should be able to search for ‘Web App’ and create that. As highlighted in the screenshot below, web apps have the

[2019-06-20 09:22] gutzeit1106 opened #33663 "New B series (B12ms, B16ms, B20m)"
We can see at new VM Sizes (B12ms, B16ms, B20ms) from this month in azure portal. but I can't find any public document about this sizes. Please add new sizes to this list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f435b3d1-2e0b-378c-ce89-97defa822eff
* Version Independent ID: 32c3ea31-ae89-5a61-f99e-368bd7d72abc
*

[2019-06-20 09:22] gutzeit1106 commented on #33663
![image](https://user-images.githubusercontent.com/17121624/59837567-67ee0c00-9388-11e9-9863-12f4a8f6e516.png)

[2019-06-20 09:25] obrookstein opened #33665 "Device's reported properties"
Hi,
In IoT Hub, the way for a device to report its properties, is by updating the reported properties section in its twin file. Since the DT's IoT hub is not exposed, and there's no way to reach the twin files, what is the best practice for a DT device to report it current property (other than using telemetry)?

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-06-20 09:26] msrini-MSFT commented on #33661
@darushah , Thank you for posting your query here. Unfortunately, we cannot share ETA over this forum. Will update the documentation once UK South is supported.

[2019-06-20 09:26] #33661 closed

[2019-06-20 09:29] d83194 commented on #33632
@MarileeTurscak-MSFT

Thanks - I wonder if it really is as the error message suggests: 'the target machine is taking too long to respond' and Azure Bastion has a minimum spec VM it can work with. Maybe my Standard B1ms test machine isn't high enough spec'd.

[2019-06-20 09:30] otryshko opened #33666 "How to refer to ILogger provided to the function"
Hello,
I'm refactoring the existing function signatures to DI, and a lot of my services use ILogger provided to the function to, well, log there. Is there a way to reference that logger earlier (when registering the service)?

[2019-06-20 09:33] yoelhor commented on #30581
This article explains the concept of adding external identity provider, such as Facebook social account, or Azure AD as for enterprise accounts. So, users from the corporate network also be able to sign-in to the app, using their Azure AD account.  You can see the sample in more details here https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-setup-oidc-azure-active-di

[2019-06-20 09:36] yoelhor commented on #30241
IDP initiated flow is not officially supported yet and removed from the doc.

[2019-06-20 09:41] apmurali opened #33667 "Typo in the 'Run in the cloud...' section heading"
I believe the correct heading is 'Run in the cloud or on the intelligent edge'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da6b30e6-cf25-9cca-2ff5-2fe04c80a33a
* Version Independent ID: 83e31246-8d8a-d606-a73a-94dcb4157069
* Content: [Overview of Azure Stream Analytics](https://docs.microsoft.com/en-us/azure/stream-

[2019-06-20 09:46] yoelhor commented on #29940
Thanks for the feedback, we'll update the document soon. Meanwhile see the guidance. To customize the 409 error message coming from the REST API, you need to send the current language ID to the REST API. The REST API reads this parameter and returns an error message related to the current language.

Create a claim type `lang`

[code]

In the REST API technical profile add an the `lang` claim type

[2019-06-20 10:02] SubhashVasarapu-MSFT commented on #33176
@glloyd2010f, Appreciate your patience. This is only supported for SSL certificates in the listener and not for Backend authentication certificates or Trusted root certificates.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-06-20 10:02] #33176 closed

[2019-06-20 10:04] SubhashVasarapu-MSFT commented on #33157
@DanijelMalik , Just checking whether you got some time to view the previous response.

[2019-06-20 10:11] KalyanChanumolu-MSFT commented on #33658
@Anmolgan81 Yes, data in transit is protected with Transport Level Security.
Please read more about this feature [here](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-security-overview#transport-layer-security-tls-encryption-in-transit)

[2019-06-20 10:16] BhargaviAnnadevara-MSFT commented on #33651
@tkumark Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-20 10:19] sffamily commented on #32779
@yahori, it will be published in a couple of days, but you can have a quick look at the preview: https://review.docs.microsoft.com/en-us/azure/azure-signalr/signalr-overview?branch=pr-en-us-80141 , not sure if you have the access.

[2019-06-20 10:21] KalyanChanumolu-MSFT commented on #33648
@fbocse We do not have the exact timelines to share at this time.
The documentation page will be updated when support for CLI and Powershell is available.

[2019-06-20 10:24] yahorsi commented on #32779
That link reports 404

[2019-06-20 10:27] CHEEKATLAPRADEEP-MSFT commented on #33667
@apmurali Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/80146](https://github.com/MicrosoftDocs/azure-docs-pr/pull/80146).

The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to ta

[2019-06-20 10:27] #33667 closed

[2019-06-20 10:27] lightupdifire commented on #31078
@ManojReddy-MSFT
I'm back from short holiday :)

2 weeks ago I did open a ProSupport ticket via Azure and they confirm to me, that Product team confirms following issue:
1. If we select during AD-Connect configuration wizard that we want to setup only "down-level" devices
2. "Current version" devices will be affected and will start AADHJ

So for us will be important to block any "Current version"

[2019-06-20 10:36] ram-msft commented on #33579
@sparlampe Thanks, ONLY baseline model is supported for Speech to Text on container. Currently Docker Containers support plain STT and TTS. TTS is Standard TTS, not the new neural TTS. @IEvangelist Could you please comment any support plans to offer custom model on container?

[2019-06-20 10:37] #33575 closed

[2019-06-20 10:37] remidexmach commented on #33626
This issue will be resolved when you run the following commands:

Register-AzureRmProviderFeature -FeatureName AllowBastionHost -ProviderNamespace Microsoft.Network
Register-AzureRmResourceProvider -ProviderNamespace Microsoft.Network

Registering the Bastion hosts can take a while!

[2019-06-20 10:41] #33608 closed

[2019-06-20 10:43] femsulu commented on #33475
@cephalin & @TomArcherMsft  - is this something you can help with? Or better yet any idea who owns this content?

[2019-06-20 10:45] AshokPeddakotla-MSFT commented on #31815
@kgremban Just checking in to see if there is any update on this so that issue can be closed.

[2019-06-20 10:45] femsulu commented on #32356
@cephalin & @TomArcherMsft - is this something you can help with? Or better yet any idea who owns this content?

[2019-06-20 10:47] jakaruna-MSFT commented on #33663
@gutzeit1106
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-20 10:47] jakaruna-MSFT commented on #33662
@axelgMS Thank you very much for reporting.
#33663 similar issue id here.
I have assigned that issue to the content author to update the doc with new VM Size details

[2019-06-20 10:49] VikasPullagura-MSFT commented on #33655
@chintanr11 I have reproduced the issue and have raised a PR for the document changes.

[2019-06-20 10:50] ManojReddy-MSFT commented on #31078
@nielsvdGH Removing the SCP and pushing the SCP GPO only to the devices that need to be registered to Azure is the recommended solution.

Removing the devices from sync scope will work with a managed domain. It will not work when you federate the domain. In federated scenarios, device authentication happens at the ADFS level and does not need synchronization.

@lightupdifire Yes, all versions will

[2019-06-20 10:51] chintanr11 commented on #33655
Thank you!

[2019-06-20 10:51] KalyanChanumolu-MSFT commented on #33389
This issue is being assigned to the content author for updating the formatting as appropriate.

[2019-06-20 10:52] femsulu commented on #33296
adding @qianw211

[2019-06-20 10:53] #33655 closed

[2019-06-20 10:55] jakaruna-MSFT commented on #33657
@yossaa Thanks for the feedback.

@iainfoulds Please provide your comments

[2019-06-20 10:55] femsulu commented on #33500
@tfitzmac any idea who owns this doc?

[2019-06-20 10:58] SubhashVasarapu-MSFT commented on #33645
@dcbrown16 , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-06-20 10:59] jakaruna-MSFT commented on #33657
@yossaa We should not directly reboot for sure. Kured will cordon the pods (graceful shutdown of all the pods in that node) and then it will update and restart the node. Lets wait for Authors reply.

[2019-06-20 10:59] KalyanChanumolu-MSFT commented on #33666
This issue has already been raised with the functions team.
Please follow [issue# 4577]( https://github.com/Azure/azure-functions-host/issues/4577) and [Issue# 4464](https://github.com/Azure/azure-functions-host/issues/4464) for the information

[2019-06-20 11:00] femsulu commented on #33588
@qianw211  - can you help review this doc enhance req?

[2019-06-20 11:03] KalyanChanumolu-MSFT commented on #33666
We will close this issue now.
Please comment on the above referenced issues to continue the discussion.

[2019-06-20 11:03] #33666 closed

[2019-06-20 11:22] yoelhor commented on #29782
To get the list of extension attribute for a given AAD application, specify the application object ID `https://graph.windows.net/myorganization/applications/<application-object-id>/extensionProperties`

For built-in properties, see this [Entity and complex type reference | Graph API reference](https://docs.microsoft.com/en-us/previous-versions/azure/ad/graph/api/entity-and-complex-type-reference)

[2019-06-20 11:23] PramodValavala-MSFT commented on #33283
@swagulkarni Sorry for not getting back sooner.

---

Yes

---

You should be able to see it under the `Azure Cosmos DB account` resource

---

You can use the same MSI credentials as before. Here is a code snippet that I can confirm works
[code]

You use one of the many methods to fetch your Cosmos DB account as [documented](https://docs.microsoft.com/en-us/java/api/com.microsoft.azure.management

[2019-06-20 11:23] #33283 closed

[2019-06-20 11:25] PramodValavala-MSFT commented on #33501
@sonpeppers Just following up here... Hope my previous comment clears things up.

[2019-06-20 11:31] yoelhor commented on #29597
As it stated, manage users in a B2C tenant (set local accounts, sign in names) coming soon to preview, in a few months. So, until this new MS Graph feature is in GA, for user management, you should use only Azure AD Graph.

[2019-06-20 11:32] monhaber commented on #33319
TOC entry updated. Thanks again. Please close.

[2019-06-20 11:32] zboyanov commented on #33238
[image: Error.png]

On Wed, Jun 19, 2019 at 10:43 PM AjayKumar-MSFT <notifications@github.com>
wrote:

[2019-06-20 11:36] zboyanov commented on #33238
I've got one more question about the test send, how is it possible to
register my apple device so I can test the send.

On Thu, Jun 20, 2019 at 2:32 PM Zdravko Boyanov <zbboyanov95@gmail.com>
wrote:

[2019-06-20 11:36] zboyanov commented on #33238
https://www.youtube.com/watch?v=le2lDY22xwM&t=3896s, in this video you do
it with Pusher, is it possible otherwise?

On Thu, Jun 20, 2019 at 2:35 PM Zdravko Boyanov <zbboyanov95@gmail.com>
wrote:

[2019-06-20 11:42] #33319 closed

[2019-06-20 11:43] AjayKumar-MSFT commented on #33417
@techaimail, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion.

[2019-06-20 11:43] #33417 closed

[2019-06-20 11:52] PramodValavala-MSFT commented on #33576
@ashkansirous I believe you can use the `InvocationId` for tracing. [Here](https://github.com/Azure/azure-functions-host/wiki/Retrieving-information-about-the-currently-running-function) is a doc which shows how you can access it in C# and NodeJS.

Its is also available for [Python](https://github.com/Azure/azure-functions-python-worker/blob/dev/azure/functions_worker/bindings/context.py#L13), [Ja

[2019-06-20 11:57] yossaa commented on #33657
That's clear, we will use some process for this. Not kured because it cannot properly handle our resources, but we will drain node and reboot after that. The question was if it's enough to have all security patches. Or in other words - are the VMSS instances also patched the same way, as VM instances. Because VMSS works differently than pure VMs - there are base images, you can re-image instances,

[2019-06-20 12:09] ValinKastel opened #33672 "Missing or Misleading Information"
Under the title Install anti-malware on non-Azure computer it describes how to navigate to the workspace but there is no instructions on how to actually install/deploy the anti-malware on a non-Azure computer.

Additionally the recommendation area is now called "Install endpoint protection solution on your machines" Azure and non-Azure machines are now grouped under this section, "Endpoint Protect

[2019-06-20 12:22] jakaruna-MSFT commented on #33640
@Martin00001
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-20 12:22] jakaruna-MSFT commented on #33640
@simonxjx please take care of this issue

[2019-06-20 12:23] bhummerstone opened #33673 "Incorrect CIDR Range for Docker Bridge"
The default CIDR range defined for the Docker Bridge (172.17.0.1/16) is not a valid IP address range: it should be 172.17.0.0/16. Or 172.17.0.1/32, if you mean a very specific IP.

[2019-06-20 12:25] mwijsman76 opened #33674 "Azure Bastion - Your deployment failed"
Hi,

Trying to get the preview of Azure Bastion to work. While deploying I get the following error: "Your deployment failed".

Deployment started using the instructions here: https://docs.microsoft.com/en-us/azure/bastion/bastion-create-host-portal and than the "Create a bastion host" part.

Registering the AzureRmProviderFeature was successful.

[AzureBastionDeploymentError01.txt](https://github.

[2019-06-20 12:27] lightupdifire commented on #31078
@ManojReddy-MSFT
So actually if we don't have those entries in step "Clear the Service Connection Point (SCP) entry from Active Directory (AD) if it exists"
The values of azureADId and azureADName,
Then all should be fine? But is it possible that this value will be populated after we run ADConnect configuration wizzard?

Just checked production domain and can't find "azureADId and azureADName"
![i

[2019-06-20 12:29] joaomoreno opened #33675 "Quickstart needs one final step"
The `Send DevKit telemetry` section ends in a very underwhelming fashion.

The article mentions:

Sure, but how can I verify the telemetry is actually ending up in Azure? You should add one final step for the user to confirm that the telemetry actually ends up somewhere:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-06-20 12:33] dvhub commented on #9071
How did you resolve the problem?

[2019-06-20 12:38] tbkobberoe opened #33676 "Bastion?"
Will/Is the new feature Bastion host be available to the MSDN subscription (Offer ID MS-AZR-0062P)? I can register it via PowerShell but can not see it in Marketplace

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57b6d-3c6f-e546-b3ea-f83892f4c23d
* Version Independent ID: 27aecc7b-f107-96d4-b044-ae026bca2727
* Cont

[2019-06-20 12:38] DKiefer770 commented on #33531
All good, thanks!

[2019-06-20 12:45] Wreckergibb commented on #33626
I registered the Resource Provider Feature. The output of the get-AzureRMProviderFeature is in the original post.

[2019-06-20 12:53] ManojReddy-MSFT commented on #31078
@lightupdifire
Yes, If that value does not exist, device would not know which tenant to register for.

AD connect configuration has a step in which SCP is configured. So after running AD connect SCP will be created. You can validate this by running the following command and remove it if it exists.
"$scp = New-Object System.DirectoryServices.DirectoryEntry;

$scp.Path = "LDAP://CN=62a0ff2e-97b9-451

[2019-06-20 12:53] LaloCo commented on #33592
@AjayKumar-MSFT thanks for the quick response. Is there some additional step that we need to perform to enable Mobile? I just created a Web App and there is no Mobile section, as you can see in the screenshot below:
<img width="267" alt="Screen Shot 2019-06-20 at 07 51 54" src="https://user-images.githubusercontent.com/4640571/59850652-64c73180-9330-11e9-8729-f703ba37fcad.png">

[2019-06-20 12:54] zilberd commented on #33626
Same error for me,  "The resource type could not be found in the namespace 'Microsoft.Network' for api version '2018-10-01'."
Registered 12h ago but still getting the error (testing in WestEurope)

[2019-06-20 13:05] raiderjakk commented on #33624
I missed the ordering of the reply URL's.  This issue can be closed.  Thank you very much for your help!

[2019-06-20 13:06] Mekkinen opened #33677 "Copy Activity: Data type mapping GUI does not reflect .json?"
After the __dataset, schema and data type mapping logic was updated__ some time ago, the documentation hasn't very well reflected the change (or I could not find what I needed). Previously, you could define explicit data type mapping by defining the __source and sink schemas__. Now, there is the option to map to (.NET) data types in the copy activity itself. However, this does not accomplish what

[2019-06-20 13:08] gsartzetakis opened #33678 "BYOK prerequisites"
Hello, I'm a bit confused regarding the nCipher nShield HSMs, smartcards, and support software prerequisites. Are these generic prerequisites for BYOK for Azure Key Vault or not? Are other vendor HSM devices supported for the same purpose ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd8f9c6c-9980-9774-6e13-21e4f23a

[2019-06-20 13:12] payalgaikwad42 commented on #33070
@Alberto-Vega-MSFT  Yes sure I have raised the issue  #1367 and mentioned you into it.

[2019-06-20 13:12] jsandersrocks commented on #33592
Easy Tables is the Node.js version only.  The ASP.Net version is not available in the current API and is what needs to be fixed.  This was previously available through the quickstart

[2019-06-20 13:14] nezoic opened #33679 "Any updates on allowing custom lockout policies?"
This is very important to meet certain regulatory guidelines in the financial industry. This single feature is preventing several clients of mine from being able to use B2C.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b526157-3403-0211-9fda-9072bda47466
* Version Independent ID: f0ab253a-616c-b1ae-62ba-45f6500e69dd

[2019-06-20 13:14] lightupdifire commented on #31078
@ManojReddy-MSFT,

So seems like it is not possible to prepare environment to block auto registration without running ADConnect wizard, is it so?

So maybe steps should be re-ordered for "Controlled validation of hybrid Azure AD join on Windows current devices", something like:

1. Run ADConnect configuration wizard, this will add SCP entry
2. Right after ADConnect configuration wizard deployed fo

[2019-06-20 13:16] LaloCo commented on #33592
🤔 Still, I seem to be missing something here. I did select the Node.js version:
<img width="781" alt="Screen Shot 2019-06-20 at 08 15 07" src="https://user-images.githubusercontent.com/4640571/59852012-955c9a80-9333-11e9-9392-7814c6be3d25.png">

[2019-06-20 13:16] remidexmach commented on #33626
Are you sure you registered the resource in the correct subscription?

[2019-06-20 13:20] LaloCo commented on #33592
Nevermind, my bad, my connection string was badly formatted. See the Mobile section again!

[2019-06-20 13:21] ma1f commented on #14182
based on their documentation to use the latest v10 here - https://docs.microsoft.com/en-gb/azure/storage/common/storage-use-azcopy-v10
simple script like so should do it
[code]

[2019-06-20 13:23] jsandersrocks commented on #33592
Cool.  Still need to fix the ASP.Net experience.  EasyTables == Node.js

[2019-06-20 13:26] LaloCo commented on #33592
Sorry, nevermind again, still same issue, I deleted the comment. I was comparing some settings with a previous Mobile App and got confused there for a sec.

My mobile app does have some Application Settings there by default, the Web App does not, but have no idea where they come from or if they have anything to do with this.

<img width="1084" alt="Screen Shot 2019-06-20 at 08 25 58" src="https://

[2019-06-20 13:29] theonlygusti opened #33680 "Train and deploy models through an API?"
This page details how to use speech.microsoft.com to manually train new models and then deploy them as endpoints.

I am interested in automating this:

what tools exist to facilitate writing a program that trains a model, and then makes the model available to my speech recognition clients?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-06-20 13:40] SirichaiLordsin commented on #32478
This license applies to all parts of V8 that are not externally
maintained libraries.  The externally maintained libraries used by V8
are:

  - PCRE test suite, located in
    test/mjsunit/third_party/regexp-pcre/regexp-pcre.js.  This is based on the
    test suite from PCRE-7.3, which is copyrighted by the University
    of Cambridge and Google, Inc.  The copyright notice and license
    are embe