[2020-08-20 20:07] DerekHerman-MSFT commented on #61155
@pyephyoeaung
We mention this in several locations on the page:

"If you'd rather use a SAS token to authorize access to blob data, then you can append that token to the resource URL in each AzCopy command.

For example: 'https://<storage-account-name>.blob.core.windows.net/<container-name><SAS-token>' "

[2020-08-20 20:07] SaurabhSharma-MSFT commented on #61242
@tiagoroxo The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-08-20 20:07] #61242 closed

[2020-08-20 20:14] coremanster opened #61272 "how to query from the Powershell connection?"
[Enter feedback here]
It's great to see the Powershell cmdlets to connect to and disconnect from the DW database, but...you kinda left out the "run a query" part.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee60f425-30e3-d37f-aaa5-daeb79cf80fc
* Version Independent ID: f8c0fe26-81d0-f4cd-6e15-e886f75475ed
* Content:

[2020-08-20 20:15] vlkuznet opened #61273 "Page won't display"
Page won't display properly. Maybe a markup syntax error?

![image](https://user-images.githubusercontent.com/56447814/90821079-f39a5a00-e2f7-11ea-85e3-ea3ed1f973a0.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd52d297-e2d9-9a51-3ed6-05c33f521672
* Version Independent ID: b9f21bef-4944-fbc1-c39c-7c2a0c939ce3
* C

[2020-08-20 20:25] SaurabhSharma-MSFT commented on #61257
@yvesrosius The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-08-20 20:25] #61257 closed

[2020-08-20 20:32] XiaoyuMSFT commented on #61272
@julieMSFT Hi Julie - Could you take a look at this feedback?  I think this is the PowerShell article you created for Synapse Pool before.  Thanks.

[2020-08-20 20:38] JamesTran-MSFT commented on #59332
@9songs
I just wanted to check in and see if you had a chance to review my previous post. If you can please provide some more details regarding your ask, that would be greatly appreciated.

Thank you for your time!

[2020-08-20 20:43] NavtejSaini-MSFT commented on #61008
@taromielnaz ADR is a feature that can be enabled for your databases. [Here ](https://docs.microsoft.com/en-us/sql/relational-databases/accelerated-database-recovery-concepts?view=sql-server-ver15) is the extended overview for the same which also has a video from our developers discussing the same.
Also [this ](https://docs.microsoft.com/en-us/sql/relational-databases/accelerated-database-recovery

[2020-08-20 20:45] SQLSourabh commented on #59838
Hi Shane, can you please help close this issue. #please-close

[2020-08-20 20:45] #59838 closed

[2020-08-20 20:46] SQLSourabh commented on #59410
#please-close. This issue was resolved.

[2020-08-20 20:46] #59410 closed

[2020-08-20 20:49] James-Hamil-MSFT commented on #61266
@rusan-css Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-20 20:51] AlexandraKemperMS commented on #57469
Hi @annelo-msft, which specific SDK samples are you referencing? I am happy to add them. Closing this for now, please feel free to reach out if you have any more information.
#please-close

[2020-08-20 20:51] #57469 closed

[2020-08-20 20:52] JasonFreeberg commented on #60049
@richardlm57 Could you share the name of your site?

[2020-08-20 20:57] tiago-alves commented on #61261
@KranthiPakala-MSFT , thanks.

Just adding some more information. I just found a blog post on the internet from some time ago (when MS released the new app registration portal) and he was facing the same issue and had to use the legacy app registration screen. I don't know if MS added new steps that needs to be performed in order to properly register an application on AD B2C.

[2020-08-20 20:57] rickersilva commented on #42426
Have you been able to resolve this. I´m having the same problem with a static html page. I haev configured all records for www.domain.com and domian.com pointing to azure static website url and also the ones with the subdoomain asverify and nothing works.

[2020-08-20 21:18] #60724 closed

[2020-08-20 21:25] swettstein opened #61277 "Consent to Microsoft Graph API"
Can you please explain why this is?

We want to assign the Directory.Read.All permission to a Function App's MSI but this limitation causes us to pause the deployment in order to have a global administrator manually assign it. Is there any way to automatically assign this permission without a global administrator?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2020-08-20 21:27] SaiKishor-MSFT commented on #60580
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate. In the meanwhile, please refer to this [article](https://medium.com/@subhashvasarapu/connect-azure-point-to-site-vpn-to-android-device-4200579e7acb) which talks about connecting Android phone to the Azure Point to Site VPN.

If you have any further questions/concerns

[2020-08-20 21:30] ChaitanyaNaykodi-MSFT commented on #61253
Hi @extellior, Glad to hear the issue was resolved and you're unblocked. Please feel free to reopen if you have any questions.

[2020-08-20 21:31] James-Hamil-MSFT commented on #61197
@chrisevans9629 Hi, have you seen [this](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/customize-branding) documentation? It shows you how to customize the appearance. [This](https://docs.microsoft.com/en-us/azure/active-directory-b2c/customize-ui-overview) document does as well. Please let me know if I can clarify anything!

[2020-08-20 21:32] ChaitanyaNaykodi-MSFT commented on #61241
Hi @aggerritsen, Glad to hear the issue was resolved and you're unblocked. Please feel free to reopen if you have any questions.

[2020-08-20 21:42] SaurabhSharma-MSFT commented on #61277
@swettstein Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-20 21:59] James-Hamil-MSFT commented on #61277
@swettstein Hi, if I'm understanding your question correctly I believe you can do this by creating an AD group and assigning permissions to the group in Key Vault. [This](https://docs.microsoft.com/en-us/azure/key-vault/general/group-permissions-for-apps) document may be able to help you with this. Please let me know if I can look into this further for you.

[2020-08-20 22:07] SnehaGunda commented on #61220
@armaansood the link points to a white paper on Azure DocumentDB, which is the old name for Cosmos DB.

[2020-08-20 22:08] oczane commented on #61232
Thank you for your help. We are in the middle of a release and stuck with this issue. Appreciate your time help again.

[2020-08-20 22:14] arunkp89 opened #61278 "Update MS KB at this section: https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/redhat/redhat-rhui#images-connected-to-non-eus-repositories"
Need to update version from 7.7 to 7.8

From:
you end up with an RHEL 7.7 VM (the latest minor version in the RHEL7 family)
To:
you end up with an RHEL 7.8 VM (the latest minor version in the RHEL7 family)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d7e0b6a-1b40-f874-4a68-f368761a1ef8
* Version Independent ID: cca3

[2020-08-20 22:15] BryanTrach-MSFT commented on #61249
@lenneths Thank you for bringing this to our attention as we saw the same behavior. The issue should now be fixed and the doc is displaying correctly now on our end.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-20 22:15] #61249 closed

[2020-08-20 22:19] BryanTrach-MSFT commented on #61273
@vlkuznet Thank you for bringing this up. We have filed a PR to fix the issue across a couple of docs and it appears it has now been ingested and the content should show as expected. Let us know of there are further issues that we might not have seen on our end.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gla

[2020-08-20 22:19] #61273 closed

[2020-08-20 22:20] venpun opened #61279 "how to create remote server "Server1" in script example "....COPY OF server1.Database1;""
[Enter feedback here]

how does one create Server1 when you are in SSMS Query window,  is it linked server, remote server and how to create it.

-- Execute on the master database of the target server (server2) to start copying from Server1 to Server2
CREATE DATABASE Database2 AS COPY OF server1.Database1;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-08-20 22:28] chmald opened #61280 "Extension type for Windows should be .dll"
Under the section Enable PHP Extensions for Windows, the extensions should be referenced as .dll and not .so files. The .so file extension is for Linux and not used for PHP on Windows.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3209bb1-99cd-9e32-ae48-2605831aee02
* Version Independent ID: 743bc03e-d0d1-1e9e-acb1-5

[2020-08-20 22:29] BharathNimmala-MSFT commented on #60951
@mrbullwinkle Thank you for helping on this thread.

@oceansv Please review the information shared by @mrbullwinkle and circle back if you have further queries. Thank you

Since the channel ([the Azure Docs repository](https://github.com/MicrosoftDocs/azure-docs/issues)) is only for driving improvements related to the Azure documentation. At this point it appears that there's no further edits or u

[2020-08-20 22:29] #60951 closed

[2020-08-20 22:42] James-Hamil-MSFT commented on #61277
@swettstein Hi, when you grant a tenant-wide admin consent your application can access your entire tenant's data. so, global admin review is required before providing a broader level of data access. This is to prevent your app from having more permissions than a user can have.

[2020-08-20 22:43] MarileeTurscak-MSFT commented on #61262
Thanks, @alexiq. I have passed your feedback along to the content author, @kkern13

[2020-08-20 22:43] #61262 closed

[2020-08-20 22:46] reveation-labs commented on #60941
Yes it's Linux OS. Is there specific reason it's available only on Windows OS? What's alternative for Linux OS?

[2020-08-20 23:03] MladjoA commented on #55012
#please-close

[2020-08-20 23:03] #55012 closed

[2020-08-20 23:05] PatrickMessierGoC opened #61282 "How to Merge Whole Certificate Signing Chain"
[Enter feedback here]

When the request is signed by the CA, it is often part of a CA certificate chain composed pf one or more intermediate CA certificates. This page doesn't tell or explain how to merge the whole certificate signing chain when merging the signed certificate request, that is the signed certificate request plus all the intermediate CA certificates.

Thanks
---
#### Document Detail

[2020-08-20 23:05] BharathNimmala-MSFT commented on #61029
@MYTA1802 Sorry since we have not heard back from you we will now proceed to close this thread. Please revert back with additional information on your exact query which would help us to guide you accordingly. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion. Thank you

[2020-08-20 23:05] #61029 closed

[2020-08-20 23:06] WinstonHoward-MSFT commented on #61256
I've initiated a PR to enhance the doc with the feedback you provided. I'm going to close this issue now, have a nice day!

[2020-08-20 23:06] #61256 closed

[2020-08-20 23:38] TravisCragg-MSFT commented on #61213
@martintoreilly In a typical scenario, you make sure the VM only knows your custom DNS server (by setting it on the VNET, NIC, or on the OS itself.

Azure services still need to access that IP as outlined in the document, so creating a firewall rule or NSG rule will obviously have negative consequences. Out of curiosity, what is your scenario where you need to block DNS requests to that IP?

- Tha

[2020-08-20 23:41] tfitzmac commented on #61207
@tiny-dancer - sorry, in this case, we standardize on the Bash environment that runs in CloudShell. If there is a common format for the date function that works for both environments, we can change it to that, but I haven't been able to find one.

[2020-08-20 23:51] TravisCragg-MSFT commented on #60961
@RonnieQuan We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-20 23:51] #60961 closed

[2020-08-21 00:12] Anitalex commented on #61135
Looks like i have got further thank you!  So the link you gave me sends me to 3.1 but I went direction to the 2.1 and installed it.

https://dotnet.microsoft.com/download/dotnet-core/thank-you/runtime-2.1.21-windows-x64-installer

Interestingly though I had to do it twice as the first time it did not actually created the folder 2.1.21 in C:\Program Files\dotnet\shared\Microsoft.NETCore.App

I unin

[2020-08-21 00:19] Karishma-Tiwari-MSFT commented on #61268
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-08-21 00:20] Karishma-Tiwari-MSFT commented on #61278
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-21 00:21] chitturs opened #61284 "Looks like one native client related paragraph needs some work"
If your application is a native client, the implicit flow isn't a great fit. The absence of the Azure AD session cookie in the context of a native client deprives your application from the means of maintaining a long lived session. Which means your application will repeatedly prompt the user when obtaining access tokens for new resources.

==

We have samples that show how to use MSAL APIs for sto

[2020-08-21 00:25] roygara commented on #60751
#please-close

[2020-08-21 00:25] #60751 closed

[2020-08-21 00:31] KranthiPakala-MSFT commented on #61258
@KatteKwaad
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-08-21 00:37] MarileeTurscak-MSFT commented on #61284
@chitturs
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-21 00:38] Mike-Ubezzi-MSFT commented on #60995
@piotrgwiazda With the Service Principle approach, when you create an Application Object through App Registration blade in Azure Active Directory (See [How to: Use the portal to create an Azure AD application and service principal that can access resources](https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-create-service-principal-portal)), there is also a resulting Service Pri

[2020-08-21 00:41] kobulloc-MSFT commented on #61280
@chmald Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-08-21 00:45] mswilson4040 commented on #38401
So the answer is to update the function access to be anonymous so I can forget I changed that when it's time to push to prod?

[2020-08-21 00:49] sulingala opened #61285 "Support for Delete operation"
[Enter feedback here]
I see ADF currently support only Insert and Upsert operations within Salesforce connector. Is there any plan to support Delete operations?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df56c0c4-ac20-76e5-3f99-7e5ed9c2d726
* Version Independent ID: 8b224227-1cf7-6fa7-4bee-24d243509e45
* Content: [

[2020-08-21 00:55] kobulloc-MSFT commented on #61280
@chmald You are correct.  The extensions for the [Windows installation](https://www.php.net/manual/en/mongo.installation.php) should be .dll.  I'll get that updated shortly.

[2020-08-21 01:02] kobulloc-MSFT commented on #61280
@chmald The documentation has been updated and the changes should go live shortly.  Thank you again for helping to improve our documentation!

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-08-21 01:02] #61280 closed

[2020-08-21 01:05] chrisevans9629 commented on #61197
Yeah we are working on implementing the custom html/css.  That seems to be
the only way to do this.  I was hoping that there would be a way to change
the logo on the buttons within the UI, but the custom css will do the
trick.  This probably can be closed

On Thu, Aug 20, 2020 at 4:31 PM James Hamil <notifications@github.com>
wrote:

[2020-08-21 01:22] PingPongSet commented on #60541
I doubt it is the version issue. Because all my versions meet the requirements of those specified on the article.

Also @ShreyaChakraborty-MSFT 's versions are different from those on the article, but both work.

Strange issue.

[2020-08-21 01:29] chitturs opened #61287 "Token caching example needs some work for desktop bridge apps"
RE: System.Reflection.Assembly.GetExecutingAssembly().Location in the example.

This doesn't work for packaged desktop apps (also called desktop bridge) since that location is read-only. To fix that you need to use Windows.Storage.ApplicationData.Current.LocalCacheFolder.Path + "\\msalcache.bin" which is a per-app read/write folder for packaged apps.

https://developer.microsoft.com/en-us/windows/

[2020-08-21 01:38] chitturs opened #61288 "Clarify when the parent activity or window param can be actually optional"
Clarify when you can omit the optional parent window parameter for WithParentActivityOrWindow  parameter in AcquireTokenInteractive  function. It'd be great to clarify that in the doc so this sort of customer question can be avoided.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7a27a93-a596-114e-6bc2-7a8ab5b20ef2
*

[2020-08-21 03:12] Bosch-Eli-Black opened #61293 "Random ) and . under "Next steps""
From the documentation:

What's up with the ")." after "Secure your key vault"? :P

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa0c5bd2-62b8-f0ba-b569-d54fe97c8a68
* Version Independent ID: 95da0c67-d4bd-5e33-d1cf-c6ce9a4ff2f5
* Content: [Use an system-assigned managed identity to access Azure Key Vault](https://doc

[2020-08-21 03:26] yichungyu commented on #60621
Thank you for helping out @roygara !

[2020-08-21 03:27] hello-chenchen opened #61294 "For Known behavior: select cert on mac on outlook add-in"
hi we are work on mac outlook add-in sso, but there is a problem for select certificate. as this document mentioned:
[code]
when we work on mac outlook add-in, to link a page which is need select certificate, that will be failed, cause the outlook built-in browser seams not support select certificate, is it any suggestion for this problem?

---
#### Document Details

⚠ *Do not edit this section. I

[2020-08-21 03:51] kumarallamraju commented on #61139
Hi @psmanhas

here is my output
bash-3.2$ az version
{
  "azure-cli": "2.10.1",
  "azure-cli-command-modules-nspkg": "2.0.3",
  "azure-cli-core": "2.10.1",
  "azure-cli-nspkg": "3.0.4",
  "azure-cli-telemetry": "1.0.4",
  "extensions": {
    "aks-preview": "0.4.35",
    "azure-iot": "0.9.7",
    "db-up": "0.1.13",
    "dev-spaces": "1.0.3"
  }
}

Here is the output of az aks create -h

<img width=

[2020-08-21 03:52] markarnolditpro opened #61295 "Is B2C still unsupported?"
I could have sworn that B2C now supports MSAL 2.0 for auth code + PKCE.  Yet the highlight above suggests otherwise.  Please confirm.    Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cff30850-fbce-1c4d-8979-561e84b09c78
* Version Independent ID: ad8742e7-a4c7-5b1a-1b68-dc7c14edc3ac
* Content: [JavaScript single

[2020-08-21 04:01] BharathNimmala-MSFT commented on #60948
@xolve  Thanks again for bringing this to our notice.

Below are the updates on your query and feedback.

1. You were right on that the Directory is nothing but a Azure AD tenant and limit of Management groups with in a directory is not specific to region. Raised a PR to update the text to make it more clear.

2. Regarding the superscript , thank you for your feedback. We will review this feedback

[2020-08-21 04:01] #60948 closed

[2020-08-21 04:17] LGManalo opened #61298 "Cannot Create Disk Snapshot for Ultradisk"
Cannot Create Disk Snapshot for Ultradisk, how can we have a disk snapshot or backup of VM that is using ultradisk?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b4f48bd-e5e9-ebca-e29e-9dec927bc2d3
* Version Independent ID: 2e032831-dbb6-aaf2-15ce-ac072ef36727
* Content: [Select a disk type for Azure IaaS VMs - manag

[2020-08-21 04:18] MauricioZa opened #61299 "Wrong location"
In this step:

2. Run the following command to install IIS on the virtual machine:

Set-AzVMExtension `
  -ResourceGroupName myResourceGroupAG `
  -ExtensionName IIS `
  -VMName contosoVM `
  -Publisher Microsoft.Compute `
  -ExtensionType CustomScriptExtension `
  -TypeHandlerVersion 1.4 `
  -SettingString '{"commandToExecute":"powershell Add-WindowsFeature Web-Server; powershell Add-Content -Pat

[2020-08-21 04:23] lesterlitch opened #61301 "Do you support python? If so, please include in your docs"
Either you do or don't support python. If you do, can you please consistently document how the API works.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 788014ae-dc3b-f509-3dbd-933eb5a423a4
* Version Independent ID: 250d17de-f226-d3e3-7071-3ecb14da018e
* Content: [Grant limited access to data with shared access signatu

[2020-08-21 04:28] vinayakorrapati opened #61303 "insufficient privileges issue from powershell workflow runbook."
Article is not describing about how to use AD registered applications from azure powershell workflow runbooks while facing the insufficient privileges.

Able to connect to the Acitive Directory with conenct-azuread cmdlet. But then after facing the insufficient privileges issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-08-21 04:34] kiwibayer opened #61305 "missing unsupported scenario | UEFI boot - Secure Boot feature"
Page is missing following unsupported scenario:
UEFI boot - secure boot

I created a pull request to fix this:
https://github.com/MicrosoftDocs/azure-docs/pull/61304

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57139c50-3254-d78a-486c-bea6cbd5885d
* Version Independent ID: 6e1a0226-4bea-f720-08cd-77e6dadac264
* Conte

[2020-08-21 04:35] kiwibayer opened #61306 "missing unsupported scenario | UEFI boot - Secure Boot feature"
Page is missing following unsupported scenario:
UEFI boot - secure boot

I created a pull request to fix this:
https://github.com/MicrosoftDocs/azure-docs/pull/61304

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57139c50-3254-d78a-486c-bea6cbd5885d
* Version Independent ID: 6e1a0226-4bea-f720-08cd-77e6dadac264
* Conte

[2020-08-21 04:48] shashishailaj commented on #61282
@PatrickMessierGoC Thank you for your help . We will investigate and update the thread.

[2020-08-21 04:49] shashishailaj commented on #61287
@chitturs Thank you for your feedback . We will investigate and update the thread.

[2020-08-21 04:50] VikasPullagura-MSFT commented on #61298
@LGManalo Thanks for reaching out with your query.

As mentioned in the document Ultra disks doesn't currently support disk snapshots, integration with Azure Backup or Azure Site Recovery.

![image](https://user-images.githubusercontent.com/48944027/90853458-d1581900-e397-11ea-92ff-23f01835fb6f.png)

The following documents briefly list supportability between Ultra disks and Azure backup:
https://

[2020-08-21 04:52] #61199 closed

[2020-08-21 04:53] shashishailaj commented on #61288
@chitturs Thank you for your feedback . We will investigate and update the thread.

[2020-08-21 04:55] shashishailaj commented on #61293
@Bosch-Eli-Black Thank you for your catching this. We agree its a typo and we will have this fixed.

Thank you.

[2020-08-21 04:56] KalyanChanumolu-MSFT commented on #61279
@venpun Thank you for reaching out. We are actively investigating and will get back to you soon.

[2020-08-21 04:57] shashishailaj commented on #61294
@hello-chenchen Thank you for your query . We will investigate and update the thread.

[2020-08-21 04:58] shashishailaj commented on #61295
@markarnolditpro Thank you for your feedback . We will investigate and update the thread.

[2020-08-21 05:02] matambanadzo opened #61307 "Disable FIPS"
One of the requirements is to disable FIPS, yet there is no help link on how to do this.
I don't know if my server has it enabled or disabled

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb5cf254-9d8e-de7a-30e8-487b68205bc2
* Version Independent ID: 28bc66e2-0de2-73e6-8cb8-243daab81628
* Content: [Azure AD Connect He

[2020-08-21 05:04] SubhashVasarapu-MSFT commented on #61299
@MauricioZa , Thanks for reaching out. We will investigate and update this thread.

[2020-08-21 05:26] UserPower7 opened #61308 "Can pass-through agent be installed on a DC at different site in a different subnet?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-08-21 05:26] SwathiDhanwada-MSFT commented on #61303
@vinayakorrapati Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-08-21 05:35] HarithaMaddi-MSFT commented on #61285
@sulingala -  Thanks for the question. I will check with internal team and will post the update here as soon as I get the response. I would recommend you to provide feedback at the [feedback forum](https://feedback.azure.com/forums/270578-data-factory/). All the feedback you share, is closely monitored by the Data Factory Product team and implemented in future releases.

[2020-08-21 05:37] vinayakorrapati commented on #61303
@SwathiDhanwada-MSFT : Thanks for your prompt response. I couldn't get any perfect document, which describes the how to communicate the azure AD applications from Azure powershell workflow runbook.

Azure automation account, it will create a app registration in AD with contributor role. And automation account also having the contributor role at subscription level.

But when we try to get/set the a

[2020-08-21 05:45] SeaDude commented on #60130
Done: https://stackoverflow.com/questions/63516875/how-to-protect-prod-azure-function-code-from-developers-w-contributor-role

**RE: PIM**:
- Reduces risk, but developer can still view/copy secrets (API keys, etc.) from PROD app settings in plaintext in the browser logs

**- It really feels that:**
  - If there are no secrets **in the source code** (only references to App Settings) and
  - If ther

[2020-08-21 05:48] dhruvrajn commented on #42000
Thanks. I can see that the changes are in place.

[2020-08-21 05:48] #42000 closed

[2020-08-21 05:49] SadiqhAhmed-MSFT commented on #61134
@Jont-K Thanks for confirming!

[2020-08-21 05:49] #61134 closed

[2020-08-21 05:52] lyrana commented on #61118
Hi @rgamage since this is a public thread I won't include my e-mail address here, but if you reach out either via LinkedIn or by submitting a support ticket via the Azure portal I'll set up a meeting.

Yes, it looks like there is an error in the data types table, that sentence should read "...Explorer only via the GetEvents API." Currently dynamic types cannot be plotted, but the value is visible

[2020-08-21 05:53] psmanhas commented on #61139
@kumarallamraju No worries I will reach out to our internal team on this since we need to consider this use case as well if that is the scenario.Will keep you updated on same.

Thanks

[2020-08-21 06:00] Klaas- commented on #60578
Hi, I reached out to Red Hat:
https://bugzilla.redhat.com/show_bug.cgi?id=1870674
The repository I am looking for is already part of the RHUI and is covered by the RHUI license. It is up to microsoft to make it available.

[2020-08-21 06:23] SadiqhAhmed-MSFT commented on #61305
Duplicate of #61305

[2020-08-21 06:23] #61305 closed

[2020-08-21 06:24] JiudanZheng opened #61309 "How devices get the symmetric keys?"
The SAS token is generated based on the symmetric key which is stored in the registry of the IoT hub. But how does the device get the key? It's said that the key is not sent on the wire. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5abe8bb4-f610-0800-6ad8-b78349018779
* Version Independent ID: c772405d-98b1-e

[2020-08-21 06:29] SadiqhAhmed-MSFT commented on #61306
@kiwibayer Thank you for bringing this to our attention. Greatly appreciate your contribution for doc-enhancement through PR-#61304. Post review by the content owner, the appropriate changes would go live.

Thanks once again for your contribution!

[2020-08-21 06:32] SnehaAgrawal-MSFT commented on #60986
@SogoGolf Thanks again for the feedback!  To elaborate on this, An Auto swap streamlines Azure DevOps scenarios where you want to deploy your app continuously with zero cold starts and zero downtime for customers of the app.
If you have enabled auto swap from slot into production then every time you push your code changes to that slot, App Service automatically swaps the app into production after

[2020-08-21 06:39] SwathiDhanwada-MSFT commented on #60969
@tfitzmac Can you please provide your insights on this issue ?

[2020-08-21 06:40] liudan66 commented on #61232
@oczane Thanks for the feedback.
We  have looked into the issue, which happens for 1.4.200715 version  of U-SQL SDK.  This problem will be addressed in the next release (end of this month). For the workarounds, there are two ways you can try.  one is that you specify the version of U-SQL SDK to download in the pipeline script. Specifically, change the U-SQL SDK download part to the following:
 iwr

[2020-08-21 06:43] ecfan commented on #61202
Hi @tjohnson, the engineering team has responded that the toggle for asynchronous behavior hasn't ever been available on the HTTP trigger, but the toggle is available on the *HTTP action* in addition to the Response action. By default, the HTTP action has the toggle turned on (runs asynchronously), while the Response action has the toggle turned off (runs synchronously).

Perhaps the doc isn't cle

[2020-08-21 06:45] vinayakorrapati commented on #61303
**Service principal for Run As account**
The service principal for a Run As account does not have permissions to read Azure AD by default. If you want to add permissions to read or manage Azure AD, you must grant the permissions on the service principal under API permissions. To learn more, see Add permissions to access web APIs.

https://docs.microsoft.com/en-us/azure/active-directory/develop/qui

[2020-08-21 06:45] psmanhas commented on #61057
@dzg We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-08-21 06:45] #61057 closed

[2020-08-21 06:49] SwathiDhanwada-MSFT commented on #61122
@carlosnunez-10m As per my analysis, the Built-in policy definitions has Resource ID format as `/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}` where as custom policy definitions has ResourceID format as `/providers/Microsoft.Management/managementGroups/{managementGroupName}/providers/{ResourceProviderNamespace}/{ResourceType}/{ResourceName}`. Seems you are using custom polic

[2020-08-21 07:01] leifcr commented on #50407
This does not solve the issue of the missing file.

To recreate the issue follow these steps:

1. Create a Ubuntu 18.04 VM Gen 1
2. Scale down the VM (Makes the VM unable to get an ip-address)
3. Shut down the OS
4. Snapshot the OS disk
5. Create a new hd from the snapshot, like shown here (https://docs.microsoft.com/en-us/azure/virtual-machines/troubleshooting/troubleshoot-recovery-disks-portal-l

[2020-08-21 07:02] ShreyaChakraborty-MSFT commented on #60541
@PingPongSet did manually downloading the `truffle-hdwallet-provider` help. It could also be a firewall issue, if possible try using a different connection?

[2020-08-21 07:12] SnehaAgrawal-MSFT commented on #61149
@cveld Thanks again for the feedback!  SSH command establishes a ssh session to the web container and developer would get a shell terminal remotely.
This has been moved to core as preview please use that https://docs.microsoft.com/en-us/cli/azure/webapp?view=azure-cli-latest#az-webapp-ssh

You may refer this link:  https://github.com/Azure/azure-cli-extensions/issues/550

Let me know if issue pers

[2020-08-21 07:24] SwathiDhanwada-MSFT commented on #61303
@vinayakorrapati Can you please try to give "Directory.ReadAll" API permission and check if you are still facing the issue?
![image](https://user-images.githubusercontent.com/48976275/90863907-66b1d800-e3ad-11ea-951c-6f00c1db6b5a.png)

[2020-08-21 07:28] astaykov commented on #57557
Hi @hpsin,

yep, first thing is - it simply works without custom signing key. I tested on my test tenant and implemented this with two customers already. Two different customers, two different use cases - both working without custom signing keys and v2.0 endpoint. Updating the manifest with `"acceptMappedClaims" : true` is enough and works perfectly fine with v2.0 Endpoint.

The second reference t

[2020-08-21 07:28] JayaChatterjee-MSFT commented on #61135
@Anitalex Thank you for the response. I totally agree that it should be documented. In fact we are discussing the same and will be updating the document at the earliest.

[2020-08-21 07:32] hpsin commented on #57557
@paulgarn to confirm, but I believe it's an either or thing - you set your app manifest like that OR you check for the signing key.

The error message being misleading is bad though, and we should file a bug for it.

[2020-08-21 07:50] GitaraniSharma-MSFT commented on #61106
@treytro , thank you for bringing this to our notice and it seems to be as you described. I reproduced the issue in my lab and received the below error:

![image](https://user-images.githubusercontent.com/67630903/90865905-c067d180-e3b0-11ea-9b43-3a625ce3bbb3.png)

Hence, we have assigned this issue to the respective product owner for further investigation.

@irenehua , could you please investigat

[2020-08-21 07:53] oczane commented on #61232
@liudan66 I am going to try out the suggestions you have made. Thanks you so much.

[2020-08-21 07:55] #57644 closed

[2020-08-21 08:15] titimoby opened #61315 "examples do not work with java SDK v12"
Looking at examples to use Table Api with Java SDK, I'm a bit confused.
The code seems to refer to a lot of classes in package com.microsoft.azure.storage.table which does not exist in SDK v12.
I did not find updated example.
What is the current (v12) way to manipulate Table Api?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-08-21 08:25] AnuragSharma-MSFT commented on #61315
@titimoby Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-08-21 08:36] SokoloffMaxim opened #61316 "WVD - DR Strategy best practicies"
Wondering if documentation available on how to avoid the following issue by implementing DR strategy for Windows Virtual Desktops :  Yesterday we had  an incident with our WVD infrastructure (Australia East region) where we had only 1 host running and the other 4 would not start, automatically or manually.  Attempting to start the hosts manually would throw an error ("statusMessage": "{\"status\":

[2020-08-21 08:36] bbpaulvanharen opened #61317 "How to get the intent as a hierarchy?"
The presented sample code works as a charm. I have my resources set-up, and trained a series of utterances. The speech to text recognition is good, but I'm struggling with the _hierarchy_ of the recognized intent.

E.g. I'm ordering pizza and I want to configure my toppings. I want lots of cheese, some unions, some garlic, ansjovis and a dozen olives. I have configured an entity for the quantity:

[2020-08-21 08:49] sibagithub opened #61318 "How to test the static website in a browser without connecting to a domain?"
How to test the static website in a browser without connecting to a domain?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: badc419b-60d5-ba2c-0830-8d573db10dbe
* Version Independent ID: efad89d0-d0da-895f-984d-046d67797ab4
* Content: [Tutorial: Host a static website on Blob storage - Azure Storage](https://docs.microso

[2020-08-21 09:16] joergmattes opened #61319 "Upgrade MySQL to current minor version"
Hello
I wanted to ask if and when you plan to upgrade the minor version of MySQL 8.0?

There is a bug in MySQL 8.0.15 that prevents us from using the Azure Managed MySQL.
The bug has been fixed more than a year ago (8.0.15 version is from February 2019), current GA version is 8.0.21.

Thanks for the feedback,
Jörg.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-08-21 09:42] AdamSharif-MSFT opened #61321 "Clarification on how node-image-only works?"
Is it possible to clarify in the docs please, will this cause nodes to be reimaged?
And will it also mean that an additional node is added and nodes are drained/cordoned as per a regular upgrade?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8092825b-b867-d947-9842-f44eba91db00
* Version Independent ID: 5b9b865c-0d51-

[2020-08-21 09:48] patrickjlee opened #61322 "Update tile visualization changes a stacked column chart to a table!"
I have several dashboards in the Azure portal with tiles with charts like this:

traces
| where cloud_RoleName == "my-role-name" and severityLevel > 1
| summarize count() by bin(timestamp, 24h)
| render timechart

The "Update tile visualization" dialog says that "the tile might look a little different after the update, but functionalities won't change". That is untrue!
After the update, even thoug

[2020-08-21 10:04] rohancragg opened #61325 "Please explain if Private Endpoint for Workspace also covers APIs / SDK endpoints"
In the the section #using-a-workspace-over-a-private-endpoint on the page - where it says "communication to the workspace is only allowed from the virtual network" it doesn't specifically mention whether the API endpoints underpinning the Azure Machine Learning SDK for Python are also covered by this protection. Could you confirm and add that to this document please?

---
#### Document Details

⚠

[2020-08-21 10:14] raduart opened #61326 "Incorrect information found"
on this section
https://docs.microsoft.com/en-us/azure/container-instances/container-instances-overview#linux-and-windows-containers
"
_Some features are currently restricted to **Linux** containers:_
"
This sentence should be more clear.
It should be like "This features currently cannot be used on Windows containers"
Because this constrains applies to Windows containers.
BR
Rafa

---
#### Documen

[2020-08-21 10:15] WimSchepkens opened #61327 "Unclear information on ip address usage"
In "Before you start" it is mentioned that the backup vault private endpoint will use (up to) 25 ip addresses.
It does not mention if this includes the ip addresses of the private endpoints for storage or not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85efae36-7371-4b13-4caf-c1532685380e
* Version Independent ID:

[2020-08-21 11:26] ErgoPr0xy opened #61329 "AKS clusters may not use 169.254.0.0/16, 172.30.0.0/16, 172.31.0.0/16, or 192.0.2.0/24 for the Kubernetes service address range"
Hi, I see these IP's:

169.254.0.0/16, 172.30.0.0/16, 172.31.0.0/16, or 192.0.2.0/24

Are specified for the "Kubernetes service address range" but you cannot use this range for the cluster nodes as well.

Can this please be clarified in the documentation as it will help people avoid creating vnets, gateways etc with the incorrect vnet ranges.

It should be:

"AKS clusters may not use 169.254.0.0/1

[2020-08-21 12:11] PingPongSet opened #61330 "Error Deploying a basic project via VSC following MS doc"
I have an error below when deploying a Sodality project via VSC following the steps below:
https://docs.microsoft.com/en-gb/azure/blockchain/service/send-transaction#deploy-a-smart-contract

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df32d8b8-aa8f-b8da-3bc6-3fcba16be8bd
* Version Independent ID: 71fdb7e0-bb9

[2020-08-21 12:14] clarenceb opened #61331 "`kubectl run` doesn't support `--replicas` flag for v1.18+"
[code]

Outputs:

[code]

A single pod is created not a deployment.

[code]

[code]

This works for me:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 471c32a2-1f6a-88d1-7df4-80b8f6fbc4a4
* Version Independent ID: 10de5ee1-942d-e30f-5f0c-f163bd45904d
* Content: [Use availability zones in Azure Kubernetes Servic

[2020-08-21 12:16] wahyuen opened #61332 "Is v3 or v3.1 supported in the SDK?"
Still trying to determine if these new endpoints are supported in the SDK? Or is there any plans to? These SDKs seem to be not getting alot of love lately with any updates :/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 867c13a4-259b-5686-3208-9c335cc504c1
* Version Independent ID: dad41b97-f678-7807-0837-df9b426e900

[2020-08-21 12:19] TwoPatient opened #61333 "Does Azure Blob Storage on IoT Edge support using the HTTP_PROXY environment variable?"
In the documentation for Deploy blob storage modules https://docs.microsoft.com/en-gb/azure/iot-edge/how-to-deploy-blob it mentions you can use HTTPS_PROXY to ensure the blob modules routes itself through a proxy. Should this work as well by setting the HTTP_PROXY variable?

For us this doesn't seem the case and the module ignores using the proxy.

---
#### Document details

⚠ *Do not edit this se

[2020-08-21 12:45] a-bartkus opened #61334 "x-ms-forms-copy-degrade: true does not work"
Model copy between two Form recognizer resources (both use Microsoft Managed Keys encryption) returns state Failed with message "Data transfer request is not allowed as it downgrades to a less secure data protection scheme. Refer documentation or contact your service administrator for details." even when x-ms-forms-copy-degrade: true header is added to copy request.

---
#### Document Details

⚠ *

[2020-08-21 13:33] sumitsaiwal opened #61336 "az aks update-credentials causes cordon and drain to nodes."
There are no information available about the implication of `az aks update-credentials` command on k8s cluster.
Also there are no best practices defined to follow while using this command.

Our Observations:
1. `az aks update-credentials --reset-service-principal` restarts `kubelet` in each node one by one.
2. `az aks update-credentials --reset-aad` triggers a cordon and drain on each node one by

[2020-08-21 13:44] dcp-unifin opened #61337 "Is this the only way to load data from a blob to SQL on Azure...very complicated??"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02d6d6ca-3eef-17f3-653b-396f4bb15dbb
* Version Independent ID: 65ae34ab-fc97-8497-2f6a-22fea74c2e5b
* Content: [Copy data from Azure Blob Storage to Azure SQL Database - Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/tutorial-

[2020-08-21 13:56] swettstein opened #61338 "Low Impact Classification"
Will there ever be an option to classify application permissions that currently require admin consent to be "Low impact"?

What does it mean to be "Low impact"? Can we change when admin consent is required?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7a6c58c-f887-03a4-8f69-eb91a19e4fb3
* Version Independent ID: 4e5

[2020-08-21 14:06] amitpalviet opened #61339 "Template is not displayed for Steps-6 as per the docs"
Template for selecting the Model-View-Controller or API is not coming after following the steps 5.
"On the New Service Fabric Service page, choose Stateless ASP.NET Core, name your service VotingWeb, then click OK."
[Enter feedback here]
Steps6 : Its directly creating the project without giving the options to choose for API or MVC. Please look into the issue.
I am using Visual Studio Community 201

[2020-08-21 14:32] stspinu opened #61344 "Cannot add workspace or delete DCR"
Hi, I cannot add a workspace for the destination. The error says it doesn't find any workspace on my subscription, although there are plenty.

Additionally, if I try to remove a data source, it tells me that it's invalid.

Is there anything I can do?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 485bd479-37e4

[2020-08-21 16:40] dlynch33 opened #61349 "Event Hub Capture to Data Lake Storage Gen 2"
Hi,

Regarding the restriction that "The event hub must be in the same Azure subscription as the Azure Data Lake Storage Gen 1 account you created" ... does this apply to DLS Gen 2 also?  Not clear from docs, but when I set up an event hub with capture, I don't seem to be able to select a storage account (configured for Gen 2 DLS) under a different subscription.  Looking to confirm one way or the

[2020-08-21 16:55] shraboin opened #61350 "Blob Storage APIs sections sounds contradictory and confusing"
This section: https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-known-issues#blob-storage-apis
Specifically this:
**You cannot use both Blob APIs and Data Lake Storage APIs to write to the same instance of a file.** If you write to a file by using Data Lake Storage Gen2 APIs, then that file's blocks won't be visible to calls to the Get Block List blob API. _**You can overwrite

[2020-08-21 17:18] carlo-quinonez opened #61353 "Does this work with AWS Databricks instances?"
As much as I love Azure, my company hosts nearly all of the corporate-wide IT resources, including Databricks, in AWS. Our business unit however is using Azure and I'm wondering if I can use this integration to our corporate Databricks instance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a176f27b-f9fc-e0ff-0a48-aa4

[2020-08-21 17:52] christiankuhtz opened #61355 "how-to can't actually be copy pasted"
This how-to would benefit from having steps that can just be copy pasted and be complete (like creating necessary prereqs like storage account).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0773423-791e-8a7d-d27c-1ca90ba60d7c
* Version Independent ID: 1425f6de-e224-a193-55e5-8e98f53d477e
* Content: [Manage NSG Flow

[2020-08-21 18:53] svangeti opened #61357 "Loadbalancer still required if we use AGIC?"
Wondering, if we still need the Loadbalancer that is getting created when cluster is provisioned if we use Application gateway Ingerss controller.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94bdeded-846e-526c-8ce3-77ee36ffa852
* Version Independent ID: 7d768d5c-0318-25f1-38f8-7a2ee15c1c41
* Content: [Enable Ingress

[2020-08-21 19:10] mrwellmann opened #61358 "SharingService\appsettings.json has no StorageConnectionString property"
I'm working on https://docs.microsoft.com/en-us/azure/spatial-anchors/tutorials/tutorial-use-cosmos-db-to-store-anchors and on the last stepp you should edit appsettings.json but there is no StorageConnectionString property to edit.

This is the link to the file on github: https://github.com/Azure/azure-spatial-anchors-samples/blob/master/Sharing/SharingServiceSample/appsettings.json

⚠ *Do not ed

[2020-08-21 19:30] ngrigoriev opened #61359 "{YOUR.EVENTHUBS.CONNECTION.STRING} is a bit misleading"
I have noticed that the "{}" surronding the connection string "reference" have made it to many examples on the Internet where people put the connection string into "{}" and then wonder why it does not work. Maybe a real example (with fake keys) would be better?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ec95067-27

[2020-08-21 20:43] StevenTCramer opened #61362 "How can we do this with Blazor"
I think I have read 100 different things on B2C.  Azure seems to recommend this method.

![image](https://user-images.githubusercontent.com/357219/90932731-7838c580-e429-11ea-85c9-6cc18090d843.png)

This page does not reference Blazor specifically.   Is there an example of using Auth Flow with Blazor?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-08-21 23:21] HughDevlin opened #61364 "How to access Basic parameter values from within a template"
Thank you for the "Create resource groups" template example, which shows how to create an empty resource group.

When deployed via the Azure portal via "Create a resource", "Template deployment (deploy using custom templates)", "Create", "Build your own template in the editor", when we Save this template, the portal prompts us for 5 inputs:

- Basics
-- Subscription
-- Resource Group
-- Location
-

[2020-08-22 00:02] indranil-chakraborty-thd opened #61365 "Managed Identity with Contributor role is unable to execute Microsoft.ContainerInstance/register/action"
**Use case:** Run a deployment script post creating an Azure Key Vault to prevent public access to it. These network level settings are currently not offered in the schema for the Key Vault resource and so a PowerShell or AZ CLI command is the only option (besides the portal).

See gist of the template at **https://gist.githubusercontent.com/indranil-chakraborty-thd/a00fcde354e9baadf9afac3a9b32f3c

[2020-08-22 02:32] DTronD opened #61368 "Consider including "length" function in the String functions section"
I get that in some mindsets (JavaScript?) a string is also considered an array &/or collection of bytes or CHARs.  But, for some of us, that thinking doesn't leap to mind all the time.  So.....

Would you consider including the **length** function in the section of **String functions** in addition to its current inclusion in the **Collection functions** section, please?

Also, for bonus points....

[2020-08-22 03:22] kthompson23 opened #61369 "Steps to register NodeImageUpgradePreview are missing"
The page explains how to install the AKS CLI Extension but not how to register the NodeImageUpgradePreview.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8092825b-b867-d947-9842-f44eba91db00
* Version Independent ID: 5b9b865c-0d51-9955-564c-1c898d3150a7
* Content: [Upgrade Azure Kubernetes Service (AKS) node i

[2020-08-22 03:28] shinesafar opened #61370 "Screenshots dont match the actual experience on the portal"
The screenshots that show the Availability zones listed on the portal by instance size doesnt show up in reality.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b71318f-48c9-4491-f393-8a69588599a3
* Version Independent ID: cf870587-ac9b-327e-9f13-e8f765d907c5
* Content: [Create a zoned Windows VM with the Azure portal

[2020-08-22 05:15] g0pinath-metricon opened #61375 "category wrong on the log analytics query."
AzureDiagnostics
| where Category == "kube-apiserver"
| where log_s contains "pods/nginx"
| project log_s

This didnt work on RBAC enabled AKS - az-aks-dev-cl-dns-7a401337.hcp.australiaeast.azmk8s.io

AzureDiagnostics
|where log_s contains "pods/nginx"
| project log_s,pod_s,TimeGenerated,Category
| sort by TimeGenerated desc

Returns the pods creation events and the category is listed as kube-audi

[2020-08-22 06:22] dhavilaj opened #61376 "The example code has errors"
The example code has errors and missing parts, also the pom.xml was not shared.

Edit:
**Import**
// Include the following imports to use Service Bus APIs
import com.google.gson.reflect.TypeToken;
import com.google.gson.Gson;

import com.microsoft.azure.servicebus.QueueClient;
import com.microsoft.azure.servicebus.ReceiveMode;
import com.microsoft.azure.servicebus.Message;
import com.microsoft.azu

[2020-08-22 07:14] g0pinath-metricon opened #61377 "NMI pod stdout events are showing as stderr in log analytics"
k logs aad-pod-identity-nmi-d2jm9
I0822 07:07:20.886284       1 main.go:60] starting nmi process. Version: 1.6.2. Build date: 2020-07-24-20:26.
I0822 07:07:21.037994       1 crd.go:444] CRD lite informers started
I0822 07:07:21.038074       1 main.go:87] running NMI in namespaced mode: false
I0822 07:07:21.038212       1 nmi.go:52] initializing in standard mode
I0822 07:07:21.038228       1 probes

[2020-08-22 07:26] Vikassharmas opened #61378 "Storage Sync Service"
Dear team,

below two points seems contradictory to me in the mentioned page -:

1 - A server can have **server endpoints in multiple sync group**s. A server endpoint represents a path on a registered server.

2 - a **server can only be registered to one Storage Sync Service**

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-08-22 11:27] NowinskiK opened #61382 "PS script works incorrectly for array types"
I have tested the PowerShell script you have provided on this page. It works well except for global parameters with array type.
I tested it for two cases:
[code]
In these cases - in ADF I have got the following value:
`[[],[]]` or `[[],[],[],[],[],[]]`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b30daa8-67a6-a4ed-e

[2020-08-22 13:20] lissff opened #61384 "should explain more about service principal, how it is used in agent nodes; and what's app_id and client_id, and sometimes they are referring to the same thing"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25a0d502-ce71-76d4-bf8a-060e63913b52
* Version Independent ID: 69d7fa26-1a37-e477-0a2c-db58ce19a84f
* Content: [Service principals for Azure Kubernetes Services (AKS) - Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/aks/kubernetes-se

[2020-08-22 13:26] lissff opened #61385 "We should highlight the difference between VMSS/VMAS, basic/standard loadbalancer here."
[Enter feedback here]
 So for cluster created before the end of 2019, the customer was using VMAS(and basic loadbalancer by default);We've received quite a few compliances about customers trying to add multiple nodepool to their cluster but failed, because they are using VMAS( there is no document state the difference of VMAS vs VMSS).

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-08-22 13:54] CalicoPanda opened #61387 "I am on 1.5.612.0... and it's not on the list as of 8/22/2020."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57f5478b-3132-21d0-a420-a1140db235de
* Version Independent ID: 266bbd16-2117-f680-6493-e183eb09fdbc
* Content: [Azure AD Connect: Version release history](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-version-history

[2020-08-22 15:54] PingPongSet opened #61388 "Learning Configuration file and smart contract with Azure Blockchain"
I followed the example below.
https://docs.microsoft.com/en-gb/azure/blockchain/workbench/create-app

I have questions as a Blockchain and Azure Blockchain beginner, and an experienced C# coder.

Q1. How to generate or develop two files below for a developer? local dev enviornment? Auto-generation? Learning new programming language in Q2?

HelloBlockchain.json
HelloBlockchain.sol

Q2. Do I need to

[2020-08-22 16:13] rgeerkens opened #61389 "Incorrect procedure"
You mention in your procedure :
"Open the authConfig.js file inside the JavaScriptSPA folder.

In the msalConfig object, update:

- clientId with value with the Application (client) ID you recorded in an earlier step
- authority URI with your Azure AD B2C tenant name and the name of the sign-up/sign-in user flow you created as part of the prerequisites (for example, B2C_1_signupsignin1)"

This sho

[2020-08-22 17:46] peymanforceman opened #61390 "Auto add custom domains to azure"
Is there anyway to auto add custom domains ? for example we add new custom domains from our web service using api endpoints or shell or commands.

I need this for a saas website builder service that builds and runs **N** websites with the same service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 455c7ecb-4214-5ad1-d

[2020-08-22 19:17] suineglive13 opened #61391 "Can't install stress packet"
I could not install stress packet to Ubuntu VMs with provided command 'apt-get -y install'  - it toldme sth that it can't find such a package. For me the issue was resolved by installing 'stress-ng' with a command 'sudo snap install stress-ng' and accordingly 'sudo stress-ng --cpu 10 --timeout 420 &' to run the stress. Please correct the description of the tutorial.

---
#### Document Details

⚠ *

[2020-08-22 20:18] telnet25 opened #61392 "Missing a bunch of licenses."
The page is missing a bunch of licenses. For example, there isn't flow_free in this list or even the teams trial sku. Is this intentional? I wanted to clarify this as I was using this page to pull the License SKU (String ID)  vs Friendly Name (Product Name) from table[0] using a custom powershell function utilising Invoke-WebRequest. When I exported the object into a CSV file to check, I noticed t

[2020-08-23 01:45] RonnieQuan opened #61393 "Azure Monitor Packet Capture vs Tcpdump"
Can you please help us to undertand if Azure monitor packet capture feature is similar as tcpdump?
In which case we need use packet capture instead of tcpdump?

Thank you!

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fd2822b-e627-5344-1bdf-87760bee43bf
* Version Independent ID: 0b3053b5-8d15-f

[2020-08-23 02:03] RonnieQuan opened #61394 "IP Flow Verify vs Outbound Connectivity to VM"
Can you please elaborate a little bit more acout these two features?
Test-AzNetworkWatcherConnectivity
Test-AzNetworkWatcherIPFlow

I would think both can be used to diagnose the connectivity to a VM, so which one should be used for what use case?
what rbac permission is needed to run the command?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-08-23 03:54] RonnieQuan opened #61395 "Azure VM Connection Troubleshooting"
In Azure portal, Azure VM blade, there is a tool called "connection troubleshooting"

My first question is where this feature is documented?

My second question is, What RBAC permission is required in order to run connection troubleshooting from VM blade?

If I understand correctly, it calls network watcher rest api https://docs.microsoft.com/en-us/rest/api/network-watcher/networkwatchers/getnetwo

[2020-08-23 10:02] Heidelberger opened #61397 "Add appsettings.json instructions"
This page and sample app use web.config.

ASP.NET core apps no longer use web.config. Please add instructions for using appsettings.json or some other current system.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 906907ec-cbe2-59b1-a84e-ce1b1343756f
* Version Independent ID: f498962c-f738-ccd8-a619-de854fac37

[2020-08-23 14:15] willemsen-it opened #61398 "Wrong information?"
Under "Who can do what" it states:

For Azure AD roles in Privileged Identity Management, only a user who is in the Privileged role administrator or Global administrator role can manage assignments for other administrators. You can grant access to other administrators to manage Privileged Identity Management. Global Administrators, **Security Administrators**, Global readers, and **Security Reader

[2020-08-23 15:50] pedropaulovc opened #61399 "Page documents inexistent log-analytics solution Azure CLI subgroup"
Repro steps:

1. Run `az extension add --name log-analytics`
2. Run any command described in the documentation page that uses the solution subgroup, such as:
    * `az monitor log-analytics solution list`
    * `az monitor log-analytics solution create <args>`
    * `az monitor log-analytics solution delete <args>`

Expected: The commands should execute.

Actual: `az monitor log-analytics: 'soluti

[2020-08-23 17:26] SnehaAgrawal-MSFT commented on #60986
@SogoGolf We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-23 17:26] #60986 closed

[2020-08-23 17:30] SnehaAgrawal-MSFT commented on #61149
@cveld Since We didn't here back from you. We will now proceed to close this thread. If there are further questions regarding this matter, let us know. We will gladly continue the discussion.

[2020-08-23 17:30] #61149 closed

[2020-08-23 17:31] SnehaAgrawal-MSFT commented on #61159
@cveld We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-23 17:31] #61159 closed

[2020-08-23 18:17] garrytrinder opened #61401 "`Use a certificate in local keystore to sign into Azure AD` not working on MacOS"
In the section `Use a certificate in local keystore to sign into Azure AD` it suggests that by following the three steps you can use the `az ad sp create-for-rbac --create-cert` command in the Azure CLI to create a service principal with a self-signed certificate which can then be deployed into a local certificate store, which can then be used via passing a connection string into the `AzureService

[2020-08-23 19:43] thomas-chizek opened #61402 "This page was absolutly useless."
I am sorry for saying this, but you people need to get into the twentieth century, move past doing everything with shell scripts and command line. Azure is a god damn web application. Let us control it from a web interface. The fact that when I add a key vault to hold my connection strings suddenly, my local version will not run. The error says this is because there are no permissions for my app o

[2020-08-23 19:50] KranthiPakala-MSFT commented on #61401
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-08-23 19:56] AnuragSharma-MSFT commented on #60995
@piotrgwiazda We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-08-23 19:56] #60995 closed

[2020-08-23 20:40] nullpainter commented on #61215
Thanks for your reply, @sanjeev3 . I have upgraded our code to use Read 3.0 and our automated tests have identified that the recognition results against our test data are comparable to Read 2.0. I will keep an eye on the release version of the SDK.

[2020-08-23 20:40] #61215 closed

[2020-08-23 21:29] KevinBurton opened #61403 "Access KeyVault in a web application (Gatsby React)"
When I try to setup the access to key vault I get the error
[code]

For reference I have my code that is encapsulated in a class like:

[code]

Then I use the class like:
[code]

I this what was intended?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4342d30f-dc5d-d723-de88-909ab22e1a85
* Version Independent ID: c9877

[2020-08-23 22:02] yahorsi opened #61404 "Remove Preview from the Article Title"
According to the https://azure.microsoft.com/en-us/updates/azure-blob-versioning-public-preview-now-available/ this feature is now in GA

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8c0ae74-c84d-8511-7df3-02e192d84178
* Version Independent ID: 9e8f4f13-89c4-aec6-b03d-87df494d3759
* Content: [Blob versioning (preview

[2020-08-23 22:02] #61404 closed

[2020-08-23 22:07] zpwalter2019 opened #61405 "Does cost stop being incurred if a resource is deleted?"
[On this page, I was looking for information about when the charges stop. I deleted some resource groups and resources inside those groups yesterday. And yet, the charges keep accruing. I know if I start a service, charges will be incurred due to usage. But when will the charges stop? As soon as I delete the resource? Or it depends on the charge type, hourly, daily, monthly, etc. Do I pay for a wh

[2020-08-23 22:10] zpwalter2019 opened #61406 "How do I look up my billing type?"
[From this page, may you provide a link to a page that tells us how to look up our billing type? I believe my subscription type is Pay-as-you-go, but I can't confirm it. I look in my Cost Management+Billing but couldn't find the information.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e76ce485-5a06-add0-76a3-b823fb

[2020-08-23 22:20] darrenjoycenz commented on #61222
No error. Just no option. I have created a general purpose v2 premium in Aust East.
![image](https://user-images.githubusercontent.com/16659400/90990150-35c2e480-e5f3-11ea-8e5c-36ce27fffcd3.png)
However, if I look at an existing storage account we have that is Standard, not Premium, it appears the option is there for ADDS.

[2020-08-23 22:43] KranthiPakala-MSFT commented on #61337
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion.

Thank you

[2020-08-23 22:43] #61337 closed

[2020-08-23 22:47] KranthiPakala-MSFT commented on #61402
@thomas-chizek  Sorry for the inconvenience caused and thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2020-08-23 22:49] KranthiPakala-MSFT commented on #61402
@shashishailaj Could you please review the above feedback and do the helpful needed. Thanks.

[2020-08-23 22:50] KranthiPakala-MSFT commented on #61403
@KevinBurton
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-08-23 22:51] KranthiPakala-MSFT commented on #61405
@zpwalter2019
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-08-23 22:52] KranthiPakala-MSFT commented on #61406
@zpwalter2019
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-08-23 23:13] zavaschi opened #61407 "Azure Notebooks retirement"
Azure Notebooks will be retired in 10/09/2020 and no longer accepts new projects. Please update tutorial to use other places to run notebook files.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de25b89e-91d8-3df4-c2e8-a98060e0c9b2
* Version Independent ID: 55403f3e-4c47-63c7-310c-bd9374c93015
* Content: [Tutorial: Tra

[2020-08-23 23:18] stgeorgi commented on #61222
Thanks for sharing the screenshot and details. I am able to repo @yuemlu if we do indeed select premium options are not available? Are we supporting only standard?

[2020-08-23 23:20] xuegao0112 commented on #61218
Hi @SwathiDhanwada-MSFT , may I know any update? Thanks!

[2020-08-24 00:02] ToruMakabe opened #61408 "Setting VMSS extension failed"
A command on this doc to set VMSS extension failed.

[code]

Also I found similar problem related to "linked subscription '109a5e88-712a-48ae-9078-9ca8b3c81345''
[LinkedAuthorizationFailed with AKS clusters](https://github.com/Azure/aad-pod-identity/issues/753)

I would appreciate it if you give me some advice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2020-08-24 01:15] GitaraniSharma-MSFT commented on #60997
@bertrandpons , please find the update from the backend team as below:

The query is valid, it may be that you are not getting any data, can you run **AzureDiagnostics | take 10** to verify that there is data in the AzureDiagnostics table?

Could you please the run the advised query and let us know if there is data in the AzureDiagnostics table?

[2020-08-24 01:56] znrk opened #61409 "This item is not "Force routing"."
It is a "add custom route." and does not give priority to the client.
"Force routing" is expected to force the default gateway to be set to the VPN when you connect to VPN.

Here's the result of the route command

[code]

The metric has to be set below 40.
You need to specify the exact setting.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-08-24 02:05] jer71146 commented on #60633
Hello @SatishBoddu-MSFT

I have been using on Azure.identity version 1.1.1 and get some error on document 1([Code a client app](https://docs.microsoft.com/en-us/azure/digital-twins/tutorial-code)) and document 2([Explore the basics with a sample client app](https://docs.microsoft.com/en-us/azure/digital-twins/tutorial-command-line-app))

Following screenshot is the error of using document 1
![adtp

[2020-08-24 02:05] xuwenjian1995 commented on #61047
Thank you very much!@tfitzmac

[2020-08-24 02:27] GitaraniSharma-MSFT commented on #61395
@RonnieQuan , to answer your first question, you can find the "Connection troubleshoot" feature documented in the below articles:
https://docs.microsoft.com/en-us/azure/network-watcher/network-watcher-connectivity-overview
https://azure.microsoft.com/en-in/blog/network-watcher-connection-troubleshoot-now-generally-available/

Regarding your second question on what RBAC permissions are required in

[2020-08-24 02:27] #61395 closed

[2020-08-24 02:49] KranthiPakala-MSFT commented on #61407
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-08-24 02:50] KranthiPakala-MSFT commented on #61408
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-08-24 02:52] KranthiPakala-MSFT commented on #61409
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-08-24 03:39] VikasPullagura-MSFT commented on #61298
@LGManalo
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-08-24 03:39] #61298 closed

[2020-08-24 04:06] ram-msft commented on #61204
@jcbendernh Thanks for the feedback. We have forwarded to product team to check on this.

Meanwhile you can try the following using python - http.client or using Python-Request.
import http.client
import mimetypes
conn = http.client.HTTPSConnection("westeurope.api.cognitive.microsoft.com")
payload = "{\r\n  \"source\": \"https://raw.githubusercontent.com/Azure-Samples/cognitive-services-REST-api-s

[2020-08-24 04:10] Jaryd1212 opened #61410 "REST APIs for Azure Synapse Analytics data warehouse"
When attempting to run from an ADF Pipeline, I got an error message saying I need an Authorization Header.

`{
    "errorCode": "2108",
    "message": "{\"error\":{\"code\":\"AuthenticationFailed\",\"message\":\"Authentication failed. The 'Authorization' header is missing.\"}}",
    "failureType": "UserError",
    "target": "Web1",
    "details": []
}`
![image](https://user-images.githubuserconten

[2020-08-24 04:21] #61410 closed

[2020-08-24 04:21] Jaryd1212 commented on #61410
please delete

[2020-08-24 04:38] BryanTrach-MSFT commented on #60957
@RonnieQuan We reviewed your feedback and question. The answer is that both Azure Front Door and Azure Traffic Manager(ATM) can act as global load balancers. ATM has been around for much longer than Front Door, which is why the documentation in more common and mature on it's implantation with App Services.

I have sent this item to the doc author to review further to see if there are any improveme

[2020-08-24 04:41] SwathiDhanwada-MSFT commented on #61238
@assaf-grth As there are no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-08-24 04:41] #61238 closed

[2020-08-24 04:41] SwathiDhanwada-MSFT commented on #61303
@vinayakorrapati Just following up to check if you are still facing the issue.

[2020-08-24 04:44] ShintakuNobuhiro opened #61411 "How to set the location?"
"Locations and the team members in a location are determined by your IT administrator and you can't change them."
Nowhere in the above statement is there a way for IT admins to make decisions.

I would like to be clear on how the IT admin sets it up.

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3bdbdff-5

[2020-08-24 04:44] vinayakorrapati commented on #61303
Hi Swathi,
Thanks for reaching me. yeah, i guess do not have sufficient privileges to grant on AD level. I am checking further on this issue.

[2020-08-24 05:00] BryanTrach-MSFT commented on #60954
@RonnieQuan

In more layman's terms, availability zones allow for you to achieve higher availability without losing performance in the event of a failover. If a majority of your customers are located near the Central US datacenter and you are using Azure Traffic Manager for failover routing to a backup copy of your web app in West US, this could add additional latency and requires you to not only

[2020-08-24 05:00] #60954 closed

[2020-08-24 05:01] KevinBurton opened #61412 "TypeScript seems broken"
Instead of enterint JavaScript as per the instructions I enter TypeScript and I get a number of errors. An example of the errors is:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5689b389-ead5-825d-dde1-9a290bc0819f
* Version Independent ID: 52a526a2-477a-dda4-02b4-eac1440811ed
* Content: [Add an API to Azure

[2020-08-24 05:09] BryanTrach-MSFT commented on #60953
@RonnieQuan Only the isolated tier in a Internal Load Balancer(ILB) App Service Environment (ASE) can use availability zones at this time.

Premium and PremiumV2 cannot use availability zones right now.

When an App Service Plan is created, there are multiple resources created. Front end, web workers, files servers, API controllers, publishers, SQL Azure, and data roles. I suggest reviewing this [

[2020-08-24 05:09] #60953 closed

[2020-08-24 05:09] hem-sharma opened #61413 "Function app Cold-start time degradation after FunctionsStartup + IServiceCollection and V3."
This is to reference with https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library

We have made some changes to our environment regarding V3 and recommendations mentioned in the link for performance improvements during cold-start & deployments.

Earlier we were using **netstandard2.0** and **V2** runtime for our function apps and our custom binding for DI (in-build DI

[2020-08-24 05:15] truekonrads opened #61414 "Provisioning section of the tutorial is incorrect"
Hello,

The Provisioning section of the tutorial is no longer correct. Instead of being asked to input access key and secret I have these views:
![image](https://user-images.githubusercontent.com/1421150/91006385-cefdf500-e60b-11ea-9070-26e14a442c47.png)

And:

![image](https://user-images.githubusercontent.com/1421150/91006421-e89f3c80-e60b-11ea-8400-99749564bd4b.png)

---
#### Document Details

[2020-08-24 05:16] SwathiDhanwada-MSFT commented on #61406
@zpwalter2019 You can go through [this document](https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/view-all-accounts#check-the-type-of-your-account) on how to check the type of your account.

![image](https://user-images.githubusercontent.com/48976275/91006435-fbf3dd00-e5f6-11ea-9cc2-1139235bd2e2.png)

[2020-08-24 05:17] SwathiDhanwada-MSFT commented on #61303
Sure @vinayakorrapati. Kindly keep me posted.

[2020-08-24 05:27] AnuragSharma-MSFT commented on #61073
@phatcher As the PR has been merged and changes are live in the document, we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-08-24 05:27] #61073 closed

[2020-08-24 05:27] pnarsi opened #61415 "Databricks Diagnostic Logs"
I believe the entry for the Azure Databricks Schema is missing in the table on this page.

Link to the Azure Databricks Diagnostic Log page: https://docs.microsoft.com/en-us/azure/databricks/administration-guide/account-settings/azure-diagnostic-logs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: daf3e121-6ca8-4e35-ff3

[2020-08-24 05:46] JayaChatterjee-MSFT commented on #61413
@hem-sharma Thank you for your feedback! We will review and update as appropriate.

[2020-08-24 05:52] kobulloc-MSFT commented on #61412
@KevinBurton Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-08-24 05:57] AshokPeddakotla-MSFT commented on #61407
@kgremban Please look into this feedback and add a note on the doc as per suggestions.

[2020-08-24 05:57] GitaraniSharma-MSFT commented on #61394
@RonnieQuan , Test-AzNetworkWatcherIPFlow cmdlet will only inform you if communication between your VM and a destination is allowed or denied and which NSG is allowing or denying it. But even when a NSG shows a packet as allowed, there could be instances where the communication may fail due to an issue on the intermediate hop. In such cases, you can use Test-AzNetworkWatcherConnectivity cmdlet to

[2020-08-24 05:57] #61394 closed

[2020-08-24 06:00] YutongTie-MSFT commented on #61074
@chrismoseley
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion

Could you please drop a mail to qnamakerteam@microsoft.com and qnamakersupport@microsoft.com so that we can debug the issue in a better manner

Thanks again for the feedback. ^^

[2020-08-24 06:00] #61074 closed

[2020-08-24 06:15] AnuragSharma-MSFT commented on #61279
@venpun Thanks for reaching out to us with the query.

In the mentioned article which is related to Azure Sql Database, both Server1 and Server2 should be created already on Azure before executing the command. Server1 is created with Database1 and the command creates a new Database in Server 2 by copying the details from Server 1(Database1).

You can create the Server1 on Azure Sql Database by ref

[2020-08-24 06:23] bertrandpons commented on #60997
@GitaraniSharma-MSFT

Thank you for your reply. I run the query **AzureDiagnostics | take 10** and there is data in the AzureDiagnostics table.

[2020-08-24 06:25] bertrandpons commented on #60997
@GitaraniSharma-MSFT

I re run the full query again right now and it seems to work.

[2020-08-24 06:26] hem-sharma commented on #61413
Thanks @JayaChatterjee-MSFT, awaiting response.

@safihamid Could you shed some light on it?

[2020-08-24 06:29] RohitMungi-MSFT commented on #60826
@RayMckaig Apologies for the delay. Our team has requested to try the following xml to check if you can notice the pitch changes.

`<speak version='1.0' xmlns='http://www.w3.org/2001/10/synthesis' xmlns:mstts='https://www.w3.org/2001/mstts' xml:lang='en-US'><voice xml:lang='en-US' xml:gender='Female' name='Microsoft Server Speech Text to Speech Voice (en-US, AriaNeural)'> <prosody contour="(0%,+20

[2020-08-24 06:34] VikasPullagura-MSFT commented on #61391
@suineglive13 I just tried installing the stress utility as documented and it is working as expected. However, Ubuntu 18 version has it already installed.

Can you try to run the update command and try once.

[code]

Please see below screenshots for you reference.
![image](https://user-images.githubusercontent.com/48944027/91011369-cf918e00-e601-11ea-8eac-ed9724078833.png)

![image](https://user-i

[2020-08-24 06:36] SumanthMarigowda-MSFT commented on #61051
Are using using the latest version of the Storage client library, which is version 12.5.1.

Checking the source code for [GetBlobsAsync](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Azure.Storage.Blobs/src/BlobContainerClient.cs#L2140). It is defined as follows:

public virtual AsyncPageable<BlobItem> GetBlobsAsync(
  BlobTraits traits = BlobTraits.None,
  BlobStates states =

[2020-08-24 06:36] #61051 closed

[2020-08-24 07:08] Heidelberger commented on #61397
This page has the info I wanted.  Linking to it may be enough.  https://docs.microsoft.com/en-us/samples/azure-samples/active-directory-b2c-dotnetcore-webapp/an-aspnet-core-web-app-with-azure-ad-b2c/

[2020-08-24 07:28] SadiqhAhmed-MSFT commented on #61405
@zpwalter2019 Does cost stop being incurred if a resource is deleted? This is broad question to answer. For compute (VM) when you de-allocate a VM the billing for that VM stops immediately. However, you will be billed for the underlying storage as long as the data resides in Azure. The same applies to other resources but the billing/charges would differ.

See the image below for more clarity on st

[2020-08-24 07:28] amanmcse commented on #61414
@truekonrads Thank you for your feedback . We will investigate and update the thread further.

[2020-08-24 07:30] amanmcse commented on #61411
@ShintakuNobuhiro Thank you for your feedback . We will investigate and update the thread further.

[2020-08-24 07:39] GitaraniSharma-MSFT commented on #60997
@bertrandpons , thank you for the update. As mentioned in the article, it may take a few hours for the data to show up initially.
![image](https://user-images.githubusercontent.com/67630903/91016822-0029f580-e60b-11ea-9c81-4baf980b7a6d.png)

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-08-24 07:39] #60997 closed

[2020-08-24 07:41] KrishnaG-MSFT commented on #61190
@gaikovoi Great observation and thanks for the feedback.
Assigning content owner @maertendMSFT for visibility, review and document enhancement consideration as appropriate.

[2020-08-24 07:48] RayMckaig commented on #60826
Hi,

Thanks for replying, unfortunately both sound exactly the same, with the exactly the same inflection. I added a 500ms pause in between to separate them a bit.

I've attached the audio file for you to hear.

Best regards
Ray

On August 24, 2020 at 7:29 AM, RohitMungi-MSFT <notifications@github.com> wrote:

@RayMckaig Apologies for the delay. Our team has requested to try the following xml to c

[2020-08-24 07:50] dominicbetts commented on #60917
@so-rob - we updated the deployment manifest last week to address the problem with the mismatched braces. the new version should resolve the issue. Thanks, Dominic

[2020-08-24 08:12] RohitMungi-MSFT commented on #60826
@RayMckaig Could you please email the zipped files to  AzCommunity[at]microsoft[dot]com with the link to this thread so we can take a look at it. Github issue does not allow the audio files to be uploaded.

[2020-08-24 08:14] andreas-wilm opened #61418 "Benefits to loads: Problem with sentence"
Hello team,

the following sentence in the "Benefits to loads" section doesn't make much sense:

Was the following meant:

Cheers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56d5f651-b3dc-0873-77bd-3333399ce350
* Version Independent ID: 4bc44eb4-6e91-6bea-7301-cf0abb9349c2
* Content: [Partitioning tables - Azure Syn

[2020-08-24 08:19] RayMckaig commented on #60826
Hi,

Here's is the code (C#, using the Microsoft.CognitiveServices.Speech SDK) I use to generate the audio...

//
//    The XML file would be generated before the next code section
//

var config = SpeechConfig.FromSubscription(_APIKEY, _SERVICE_REGION);
config.SetProperty("SpeechServiceResponse_Synthesis_WordBoundaryEnabled", "false");

var audioConfig = AudioConfig.FromWavFileOutput(outputFilePa

[2020-08-24 08:22] XristophD opened #61419 "Minimal Role required to download Log Files from Azure App Service - not stated in documentation"
Hello,
I am trying to figure out the minimal permission / role to download log files from an Azure App Service.
Downloading via ttps://<app-name>.scm.azurewebsites.net/api/dump (Windows App) only works currently with role "Contributor", but fails for e.g. "Monitoring Contributor" or "Log Analytics Contributor" Role. I do not want to give "Contributor" access to all developers, but they should be a

[2020-08-24 08:23] RayMckaig commented on #60826
Email sent.

On August 24, 2020 at 9:13 AM, RohitMungi-MSFT <notifications@github.com> wrote:

@RayMckaig Could you please email the zipped files to AzCommunity[at]microsoft[dot]com with the link to this thread so we can take a look at it. Github issue does not allow the audio files to be uploaded.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHu

[2020-08-24 08:33] SnehaAgrawal-MSFT commented on #61419
@XristophD Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-24 08:34] zzzzzyyyyyy opened #61420 "Endpoint count exceeded"
Hi!
I was trying to follow the document on "learn" https://docs.microsoft.com/en-us/learn/modules/data-anomaly-detection-using-azure-iot-hub/8-exercise-search-anomalies-built-in-model-query to create an endpoint in Iot Hub.
![image](https://user-images.githubusercontent.com/50634562/91022004-29587f00-e627-11ea-9552-b5744a08e996.png)

However, after I tried to click the 'create' button, it returns

[2020-08-24 08:38] rusan-css commented on #61266
I do believe it would be helpful so that whoever consumes this documentation can have a clear understanding what "non-password based token or cookies" refers to.

[2020-08-24 08:41] RohitMungi-MSFT commented on #61069
@diberry  Thanks for sharing the json. @irishun We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-08-24 08:41] #61069 closed

[2020-08-24 08:42] SnehaAgrawal-MSFT commented on #61252
@JoshuaRedmond Thank you for bringing this to our attention. The issue should now be fixed and the doc is displaying correctly.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-24 08:42] #61252 closed

[2020-08-24 08:42] SubhashVasarapu-MSFT commented on #61409
@SumanthMarigowda-MSFT, please have a look!

[2020-08-24 08:45] SnehaAgrawal-MSFT commented on #61145
@davidweterings Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-08-24 08:49] amanmcse commented on #61295
@markarnolditpro  PKCE is not supported specifically with MSAL.js in B2C as of now. It is however supported in B2C in general. Using other language such as MSAL.net you can use PCKE but not with MSAL.js.

[2020-08-24 08:51] HarithaMaddi-MSFT commented on #61418
@andreas-wilm - Thanks for your contribution, I've addressed this issue in PR: MicrosoftDocs/azure-docs-pr#127001

The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2020-08-24 08:53] prasroy opened #61421 "Disk configuration for HANA with premium storage is not correct it seems"
[Enter feedback here]

Disk configuration for HANA with premium storage is not correct it seems specially for /hana/data and /hana/log
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13ecd5d2-9d58-1d74-8e27-22754055120c
* Version Independent ID: 3e93d9d3-5341-0e3c-a15c-85906fc0b5b3
* Content: [SAP HANA Azure virtual mach

[2020-08-24 08:54] HarithaMaddi-MSFT commented on #61418
@XiaoyuMSFT - Could you please review the PR and approve?

[2020-08-24 08:59] #61418 closed

[2020-08-24 09:08] kailasandhale commented on #60167
@bwren  Could you please update on this.

[2020-08-24 09:10] VikasPullagura-MSFT commented on #61421
@prasroy
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-08-24 09:11] VikasPullagura-MSFT commented on #61421
@msjuergent
Can you please check and add your comments on this doc update request as applicable.

[2020-08-24 09:14] cveld commented on #61159
That only answers my question partially. I would like to run a SPA on top of a Linux App Service. Could you provide guidance in the docs?

[2020-08-24 09:16] andreasmarx opened #61422 "Doc is missing info to enable feature AAD-V2"
Hi.
Managed AAD does not work until you enable the feature via e.g. CLI:

#register AAD-V2 feature
az feature register --name AAD-V2 --namespace Microsoft.ContainerService
#query status and wait until "Registered"
az feature list -o table --query "[?contains(name, 'Microsoft.ContainerService/AAD-V2')].{Name:name,State:properties.state}"
#when status is "Registered" run
az provider register --names

[2020-08-24 09:16] prachandabhanu opened #61423 "Unable to install k4a-tools in Ubuntu 20.04 (focal)"
I am using Ubuntu 20.04 as bellow,
[code]
I have followed the configuring Microsoft software repository for Ubuntu 20.04 as given in [here](https://docs.microsoft.com/en-us/windows-server/administration/linux-package-repository-for-microsoft-software).  And when I try to install k4a-tools,
[code]

Can you please help me to resolve this issue.

---
#### Document Details

⚠ *Do not edit this section

[2020-08-24 09:19] tuandunguit commented on #48738
We have the same issue, we need to extract table with multiple records from invoice form.
Seems Form Recognizer currently can't process it properly, the auto detected table can't be used in the most of our cases.
@NephorLabs Do you have any alternative way to do it? Really appreciate for any suggestion.

Thanks,

[2020-08-24 09:20] SwathiDhanwada-MSFT commented on #61218
@xuegao0112 As you already may know that the sampling algorithm decides which telemetry items to drop, and which ones to keep. I am not really sure if there is any process to make sure certain urls be logged.

As this more of product feedback, I would recommend you to navigate [here](https://feedback.azure.com/forums/357324-azure-monitor-application-insights) and share your feedback or suggestions

[2020-08-24 09:31] #60999 closed

[2020-08-24 09:54] psmanhas commented on #61216
@truekonrads Thank you for your patience over the matter. The AAD Login provides both authentication and authorization. The authentication is done using a device code flow, although we are working on other methods. The authorization is based on Azure RBAC.
It looks like you don’t want to use the authentication part. Do you want to have RBAC based authorization or want to completely bypass AADLogin

[2020-08-24 09:57] psmanhas commented on #61206
@darrenjoycenz Thank you for your patience over the matter.

I shared your feedback internally and came to know that there is going to be an update addressing it coming soon. Our internal team are working on the required doc update and changes will go live soon.

Hope it helps.

Do let me know in case of any queries.

Thanks.

[2020-08-24 10:06] SubhashVasarapu-MSFT commented on #61032
@StefanIvemo, Apologies for the delayed response. Looks like there is an issue with that FQDN provided. Alerts might be getting ignored. We will get back to you ASAP.

[2020-08-24 10:08] SumanthMarigowda-MSFT commented on #61130
@EdwinStraver Apologies for the delay in responding here!! Your feedback has been shared with the content owner for further review.

[2020-08-24 10:10] SumanthMarigowda-MSFT commented on #61141
@garyleowky I'd recommend posting your question in https://docs.microsoft.com/en-us/answers/topics/azure-storage-accounts.html  since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-24 10:10] #61141 closed

[2020-08-24 10:11] fskelly commented on #61106
Issue Found
Fix below

Needed to convert the $ipRange to an INTeger as well.
[int]$startIp = [int]$ipRange.Split(".")[3] + 1

[2020-08-24 10:25] vipulsparsh commented on #61411
@ShintakuNobuhiro For MyStaff feature, we use location term to refer the Administrative Unit. You can create Administrative unit from this option :

![image](https://user-images.githubusercontent.com/63580915/91034095-0bd4e680-e622-11ea-81f1-fd84ea7686e1.png)

Once created, you can then add the users under it.  You can follow this article to check further about access and roles :
https://docs.micr

[2020-08-24 10:36] RoyRK07 commented on #42906
Did someone get fix ?

[2020-08-24 10:55] SadiqhAhmed-MSFT commented on #61306
@rayne-wiselman Any update on this #61304?

[2020-08-24 10:55] kamilzzz opened #61424 "Front Door customHttpsConfiguration ARM template"
Is it possible to set certificate for custom Front Door domain using ARM templates?

That's how my ARM template looks like and it doesn't work (portal shows "Disabled" under Custom Domain Https and FD doesn't return certificate when I enter the site).

[code]

When I configure custom domain https manually through portal it adds exact the same customHttpConfiguration section to front door configura

[2020-08-24 11:09] hugohhk opened #61425 "ExpressRoute Gateway Redundancy"
This page is about HA for ExpressRoute.
It mentioned that ExpressRoute Circuit is by default redundant with Primary and Secondary circuits. However, it didn't mention whether the "ExpressRoute Gateway" is by default redundant or not.
As compared to the documentation for VPN Gateway (https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-highlyavailable), it clearly pointed out that there a

[2020-08-24 11:21] AshokPeddakotla-MSFT commented on #61423
@prachandabhanu Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-24 11:32] suineglive13 commented on #61391
Yeah, with 'sudo apt-get update' it's working, could you update this command to description then?

[2020-08-24 11:39] dzmitry-lahoda commented on #39632
@femsulu WHY IT WAS CLOSED?

[2020-08-24 11:42] JayaChatterjee-MSFT commented on #61413
@hem-sharma This seems to be application specific and needs dedicated troubleshooting. Hence I would request you to open a support ticket with Microsoft Support if you have a subscription which allows you to do so. Otherwise , you can send an email with subject line “Attn:Jaya” to AzCommunity[at]Microsoft[dot]com referencing this thread along with the subscription id.

[2020-08-24 11:43] martijnburgers commented on #50164
Used this trick as well for enabling HTTPS on Azure CDN. The pfx created by Windows `certmgr.msc` cannot be read by Azure.

[2020-08-24 11:44] AshokPeddakotla-MSFT commented on #61420
@zzzzzyyyyyy As error suggests that you have reached the maximum limit of endpoints. Allowed limit is one and you are creating two.

Please note that, the free tier only allows you to set up one endpoint. To configure multiple endpoints, you must use paid tier.

I would suggest you delete any existing endpoints before creating another one and try.

Also, note that You cannot upgrade from the free

[2020-08-24 11:55] VikasPullagura-MSFT commented on #61391
@suineglive13 Thanks for confirming that the information solved your issue.

Based on your feedback, I have updated the document and changes will go live soon.

[2020-08-24 12:01] #61391 closed

[2020-08-24 12:06] JCAMPOLPA opened #61426 "Missing CORS: adding login.microsoftonline"
For custom AzB2C pages in APIM, we also need to enable CORS for https://login.microsoftonline.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84aabaf3-e7da-3519-995c-72d36c537843
* Version Independent ID: b35afa8d-a02c-a77a-6831-2b3f6a6c1a7d
* Content: [Customize the user interface of your app with a custom policy -

[2020-08-24 12:11] TwoPatient commented on #61333
We've successfully got the proxy working for the edgeHub by setting it in the config.yaml. But as the Blob Storage creates a direct connection to Azure it ignores that proxy setting.  In the documentation for the Edge Blob Storage module it suggests you can set a HTTPS_PROXY but does not mention HTTP_PROXY. The proxy we have been given is a HTTP_PROXY.

I have set this as an environment variable f

[2020-08-24 12:39] VikasPullagura-MSFT commented on #61422
@andreasmarx
Thanks for the feedback! We are currently investigating and will update the document as required.

[2020-08-24 12:46] CHEEKATLAPRADEEP-MSFT commented on #61415
@pnarsi Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/127008](https://github.com/MicrosoftDocs/azure-docs-pr/pull/127008)
The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2020-08-24 12:46] #61415 closed

[2020-08-24 12:58] AshokPeddakotla-MSFT commented on #61093
@axorth We are yet to receive response from our product team, Appreciate your time and patience.

[2020-08-24 12:59] bertrandpons commented on #60997
@GitaraniSharma-MSFT Thank you.

It took a few days in my case

[2020-08-24 13:02] stephlocke commented on #60931
If there are literally no docs on what parameters are needed per connector then the docs should state that you need to create a version and then download it. That's a really subpar experience IMO though.

Additionally, I don't think the export template functionality actually downloads the requisite sections.

When I download them I don't see the bits I uploaded, chiefly:

[code]

[2020-08-24 13:03] dcurwin commented on #60878
Hi - the document has now been updated, and the changes should show up soon. It explains how to perform that procedure.

Thanks for your input.

#please-close

[2020-08-24 13:03] #60878 closed

[2020-08-24 13:11] suineglive13 commented on #61391
Also, well, tell me please if I need to create another request for it, one more issue with description.
The should be created 3 more VMs with autoscaling (plus to 2 that already exist), but it works only with +2 VMs for free subscriptions, as only 4 vCPUs available in free subscription.

[2020-08-24 13:13] VikasPullagura-MSFT commented on #61391
@mimckitt Can you please add your comments on vCPUs available in free subscription limitation.

[2020-08-24 13:16] AshokPeddakotla-MSFT commented on #61224
@sjalali123 I understand that you are referring to Networking tab as mentioned below. Yes, this doc needs to be updated with new screenshots from portal.

![image](https://user-images.githubusercontent.com/44426435/91047944-83157500-e638-11ea-9e0b-82b38e6fc414.png)

By default, IoT Hub's hostnames map to a public endpoint with a publicly routable IP address over the internet. Different customers s

[2020-08-24 13:24] jks05c opened #61427 "Need to be Global Admin"
Might be helpful to point out that changing from "Devices" to "Devices synching settings and app date" currently requires Global Admin.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b73959c0-20da-3945-964a-54513d561264
* Version Independent ID: 65862bfb-122b-d9b3-6e61-894aa8dd6cfc
* Content: [Enable Enterprise State R

[2020-08-24 13:30] AshokPeddakotla-MSFT commented on #61358
Adding author @RamonArguelles For further review and update the doc accordingly.

As per the above feedback there is no StorageConnectionString in the appsettings.json file. Please check this issue and provide your suggestions.

![image](https://user-images.githubusercontent.com/44426435/91050208-f79de300-e63b-11ea-9bf1-798430a120d2.png)

[2020-08-24 13:36] SnehaAgrawal-MSFT commented on #61419
@XristophD Thanks again for the feedback and reaching us on multiple forum.
Please Check: [Azure App Service - download Log files, minimal role/permission](https://docs.microsoft.com/en-us/answers/questions/74850/azure-app-service-download-log-files-minimal-rolep.html?childToView=75323#answer-75323)

Let us know if you have further questions on this.

[2020-08-24 13:36] AshokPeddakotla-MSFT commented on #61333
@TwoPatient Did you get a chance to see the above response? Do let us know if that answers your query and/or have any further  queries.

[2020-08-24 13:44] AshokPeddakotla-MSFT commented on #61330
@PingPongSet Could you please ensure that all pre-requisites are installed correctly without any issues and redeploy the project again?

[2020-08-24 13:49] XristophD commented on #61419
Hello, thank you for answering the question quickly. Unfortunately the mentioned roles  "Monitoring Contributor" or/and "Log Analytics Contributor" do not allow downloading the log via the https://.scm.azurewebsites.net/api/dump.

[2020-08-24 14:12] AshokPeddakotla-MSFT commented on #61388
@PingPongSet I understand that you have queries related to learning and basic queries related to smart contract with Azure Blockchain. You have covered the most of the documentations and I assume you have understood the pre-requites needed for Azure Blockchain Service and Workbench.

Answer to this question is yes. You need to create these files locally and upload to the **contract configuration**

[2020-08-24 14:12] #61388 closed

[2020-08-24 14:18] AshokPeddakotla-MSFT commented on #60634
@Maarten-Work We are still working on this issue and update you as earliest. Appreciate your time and patience.

[2020-08-24 14:29] tfitzmac commented on #61364
@HughDevlin - if you are using https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json# for the template schema, the portal should recognize that the template is a subscription level deployment. It will not prompt you for the resource group, but it will still ask for subscription and location in the Basics section. However, there was an issue recently with the po

[2020-08-24 14:37] alexanderperlis commented on #42906
@RoyRK07 See Jun25 response above for solution.

[2020-08-24 14:47] mimckitt commented on #61391
Yes the free subscriptions or free trial accounts have additional limitations in the number of VMs and cores you are allowed. This means you might need to adjust the number of VMs you are scaling if you are using a free account for this tutorial.

[2020-08-24 14:52] marcelkmfst opened #61429 "UDRs in Figure 3 not included"
Figure 3 is not containing the required UDRs on the NVA Spokes to make this work. I know, this is just the vWAN view but maybe confuses readers so we should either add a disclaimer that the UDRs are not shown in the figure or we should add them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 928d7a76-5472-0f2d-c6d9-100

[2020-08-24 14:58] PingPongSet commented on #61388
Hi @AshokPeddakotla-MSFT

Thank you for your prompt reply.

I still have questions regarding configuration file *.json below.

Is there a reference for configuration file *.json below?
https://docs.microsoft.com/en-gb/azure/blockchain/workbench/create-app#configuration-file

Is the file created manually, and cannot be created by tools?

Without a reference, I don't know the syntax and semantic.

[2020-08-24 15:02] cephalin commented on #54736
Fixed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/126694 which will be published today. #please-close

[2020-08-24 15:02] #54736 closed

[2020-08-24 15:04] rwiankowski opened #61430 "Storage Account VNET integration"
Hi!

The document states that:

"When you create a function app, you must create or link to a general-purpose Azure Storage account that supports Blob, Queue, and Table storage. You can't currently use any virtual network restrictions on this account. If you configure a virtual network service endpoint on the storage account you're using for your function app, that configuration will break your ap

[2020-08-24 15:05] Xyroid opened #61431 "deviceScope is missing"
Hi there,

I am getting `deviceScope` property when I create an edge device in the twin of the created device identity. The docs doesn't mention that. Please add that. I have a suggestion also. Please add `capabilities` object so that the lifecycle events can be used to determine edge or IoT device.

Thanks!
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2020-08-24 15:06] gtbuchanan opened #61432 "Are there plans to support pure on-premise ADDS environments?"
It's repeatedly stated that pure on-premise ADDS environments are not supported. Will you offer insight into the reason for this decision and whether there are any plans to support these environments in the future? As far as I know, smart cards are the only other option in this regard and they require quite a bit more setup (CA management) and cost (infrastructure and multi-purpose keys to support

[2020-08-24 15:08] AshokPeddakotla-MSFT commented on #61431
@Xyroid Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-08-24 15:09] RohitMungi-MSFT commented on #61176
@Nikash Is it possible to share your subscription id along with URL of this thread to  AzCommunity[at]microsoft[dot]com so we can  update you further on how we can enable this feature for your subsription.

[2020-08-24 15:24] VikasPullagura-MSFT commented on #61422
@andreasmarx This Feature is GA and there is no need of enabling feature flag.
Can you please share the region where you are facing the issue. We will check and get back on this.

[2020-08-24 15:29] HughDevlin commented on #61364
Thank you for your reply.

I understand the distinction between the location of a resource group and the location of the resources within a resource group, and that the locations may differ, thanks.

Yes, this issue may be reproduced using the "Create resource groups" template example as is, which invokes the 2018-05-01 subscription Deployment schema.

Here is the create resource example template

[2020-08-24 15:29] tamram commented on #61404
@yahorsi - coming soon. (-;

[2020-08-24 15:31] tamram commented on #61130
@EdwinStraver - We're working on this and it will be done soon.

[2020-08-24 15:33] assaf-grth commented on #61238
Hi @SwathiDhanwada-MSFT
I do see logs in the application insights
The logs I see related to requests do not contain a field with the request's query string parameters
Is there a specific configuration I need to use in order to see this data as well?
Can you share a link to a guide describing how this can be achieved?

[2020-08-24 15:34] roygara commented on #61378
@Vikassharmas Thanks for reaching out, we'll try to clarify:  This isn't contradictory, a Storage Sync Service isn't a sync group. A Storage Sync Service contains one or many sync groups. Does that make sense?

@KalyanChanumolu-MSFT Would you flag this as product-question? This isn't a doc-enhancement.

[2020-08-24 15:37] #61318 closed

[2020-08-24 15:40] hamiltonha commented on #61295
@markarnolditpro we are working on a fix to the B2C endpoint to support CORS for the auth code flow with PKCE. We hopefully will have this deployed in the next few weeks.

[2020-08-24 15:43] markprycemaher opened #61433 "Maximum concurrent queries for DWU2000 and above it incorrect"
In the Dynamic resource classes section - the Maximum concurrent queries is 32 for all SLO above DW1500c.
It should to going up as the SLO goes up, just like Static resource classes.

I assume this is documentation error.

Mark
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cda1766-b87c-ebb1-035b-9ea45c49cf10
* Version

[2020-08-24 15:47] Nickomang commented on #61339
Hi @amitpalviet, I was not able to reproduce. Please be certain that when creating the new service, "Stateless ASP.NET core" has been selected, not "Stateless service". If the issue persists, let me know and I will escalate to our dev team, but for now can you retry while making sure "Stateless ASP.NET core" is selected during service creation?

Thanks,
Nick

[2020-08-24 15:47] PramodValavala-MSFT commented on #61424
@kamilzzz Could you confirm if there is a specific doc that you are following here?

Please do note that this repository is primarily for addressing feedback on azure documentation. For other queries, [Microsoft Q&A](https://docs.microsoft.com/answers) is the best place to reach out to the wider community.

[2020-08-24 15:49] PingPongSet commented on #61388
Hi @AshokPeddakotla-MSFT
Thank you for your prompt reply.

I think this might be doc enhancements.

Is there a reference for configuration file *.json below?
https://docs.microsoft.com/en-gb/azure/blockchain/workbench/create-app#configuration-file

Is the file created manually, and cannot be created by tools?
Without a reference, I don't know the syntax and semantic.

[2020-08-24 15:52] MarileeTurscak-MSFT commented on #61426
@JCAMPOLPA
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-24 15:53] MarileeTurscak-MSFT commented on #61432
@gtbuchanan
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-24 15:56] suineglive13 commented on #61391
@mimckitt @VikasPullagura-MSFT Maybe it's worth adding such a comment into description? Or set by default +2 VMs?

[2020-08-24 16:05] ShintakuNobuhiro commented on #61411
Thank you. I'll give it a try.

[2020-08-24 16:05] #61411 closed

[2020-08-24 16:06] Deepakpushkarna commented on #53475
Do we have a DR solution for WVD now. Can anyone Please advise.

[2020-08-24 16:20] iainfoulds commented on #60981
This is being resolved internally #please-close

[2020-08-24 16:21] #60981 closed

[2020-08-24 16:21] iainfoulds commented on #60978
This is being resolved internally #please-close

[2020-08-24 16:21] #60978 closed

[2020-08-24 16:21] iainfoulds commented on #60975
This is being resolved internally #please-close

[2020-08-24 16:21] #60975 closed

[2020-08-24 16:22] iainfoulds commented on #58625
I've followed up again with the engineering team. If they provide any additional updates, the doc will be updated. For now, #please-close

[2020-08-24 16:22] #58625 closed

[2020-08-24 16:22] AndyBunning opened #61435 "Insufficient detail"
[Enter feedback here]
I have gone through this page several times as well as the linking page "add claims and customize user input using custom policies" but constantly get an error when trying to use the profile.  There is insufficient details on this page to support the inclusion of a custom attribute to a custom policy.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-08-24 16:24] AndyBunning commented on #61435
Every time I follow the process detailed, and then try to test against the jwt.ms website, I get the following server error:
Error: server_error
AADB2C90037: An error occurred while processing the request. Please contact administrator of the site you are trying to access.
Correlation ID: 48005b48-3499-4812-9d69-cce44ff6cd5c
Timestamp: 2020-08-24 16:23:47Z

[2020-08-24 16:26] NavtejSaini-MSFT commented on #61008
@taromielnaz At this moment we are going ahead and closing this issue. Pleas get back to us if you have any other question.

[2020-08-24 16:26] #61008 closed

[2020-08-24 16:32] ShaneBala-keyvault commented on #60119
Hello, this configuration is possible, but it requires a manual configuration using PowerShell.

You must link the Private DNS Zone with your vnet that has the private link connection, AFTER the Private link is created. This means that when you create the private link connection initially, you must choose "No" when you are presented with the option to integrate with private DNS zone. Then you must

[2020-08-24 16:32] ShaneBala-keyvault commented on #60119
#please-close

[2020-08-24 16:32] #60119 closed

[2020-08-24 16:41] duanecr opened #61436 "Azure Service Fabric picture has On-Premise instead of On-premises."
The picture on the overview page has "on-premise" instead of "on-premises".  There's no such thing as "on-premise".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 160326f9-6daa-81be-913b-68f965950964
* Version Independent ID: 373b46cd-e1ea-ee72-33cc-7d831af4dc35
* Content: [Overview of Service Fabric on Azure - Azure S

[2020-08-24 16:50] bandersmsft commented on #61406
#please-close

[2020-08-24 16:50] #61406 closed

[2020-08-24 16:52] bandersmsft commented on #61405
#please-close

[2020-08-24 16:52] #61405 closed

[2020-08-24 17:00] KumudD commented on #56212
@rpilot Thanks for your feedback. The image has been updated in this article.

#please-close

[2020-08-24 17:00] #56212 closed

[2020-08-24 17:00] kamilzzz commented on #61424
There is no  specific doc, sorry. I guess that might be indeed wrong place for such question :)

[2020-08-24 17:05] ShaneBala-keyvault commented on #60334
Hello @mike-schenk, I checked with my team and the vault itself becomes read only during a regional failover. You will not be able to make any changes to vault access policies, or the key vault firewall while it is failed over. We will add this information to the doc to make it more clear. Doc updates will appear within 48-72 hours. I am marking this issue as resolved for now. Thank you for your f

[2020-08-24 17:05] ShaneBala-keyvault commented on #60334
#please-close

[2020-08-24 17:05] #60334 closed

[2020-08-24 17:06] RoyRK07 commented on #42906
thanks

[2020-08-24 17:10] ChaitanyaNaykodi-MSFT commented on #61430
@rwiankowski, Thank you for your feedback! We will review and update as appropriate.

[2020-08-24 17:20] tfitzmac commented on #61364
Sorry for the confusion about the regions. Every time you deploy a template there is metadata that is retained. For templates deployed to a resource group, the metadata is automatically stored in the region of the resource group. Since subscriptions don't have a region, Azure Resource Manager doesn't know where to store the metadata for templates deployed to a subscription. The Region field is the

[2020-08-24 17:27] aahill commented on #60713
I'll look into this.

#please-close

[2020-08-24 17:27] #60713 closed

[2020-08-24 17:29] aahill commented on #60720
I'm not sure if we'd want to duplicate code samples across these articles, but I'm wondering if there's some linking we can do to make the quickstart code easy to get to from this article. I'll look into this

#please-close

[2020-08-24 17:29] #60720 closed

[2020-08-24 17:33] KalyanChanumolu-MSFT commented on #61378
@roygara done

[2020-08-24 17:34] kalith-ms commented on #52426
@amanmcse , Thanks for the detailed information.

Just to clarify, To enforce MFA registration policy, do the end users (non-administrators) also need Azure AD Premium P2 licenses.?

[2020-08-24 17:45] #61058 closed

[2020-08-24 17:49] ronortloff commented on #61433
dynamics are capped at 32 concurrency.

[2020-08-24 17:49] HughDevlin commented on #61364
Thank you for your reply. I understand resource groups have a location where the resource group metadata is stored.

Within a template, deployment().location reflects the setting of the Region portal parameter?
Under what conditions might one want to set the Region portal parameter different from the RgLocation template parameter? How is flexibility lost to set rgLocation?

[2020-08-24 17:50] MicrosoftGuyJFlo commented on #52426
To enable the [Azure Multi-Factor Authentication registration policy](https://docs.microsoft.com/azure/active-directory/identity-protection/howto-identity-protection-configure-mfa-policy) requires Azure AD Premium P2 licenses as Identity Protection is a P2 feature.

[2020-08-24 17:53] Codypinto23 commented on #25357
Having the same issue here. Anyone have any updates on getting this to work?

[2020-08-24 17:57] Leonardo-Ferreira opened #61438 "What does the Timestamp represents? Dependency "requested-time" or "response-time"?"
For the automatically captured dependencies, Can you please clarify if the column "Timestamp" represents the "time" the SDK captured the dependency call going out OR it represents the time of the response being received?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4ded2ce-d8c3-7118-bec9-865f6225dbe0
* Version Indep

[2020-08-24 17:58] erhopf commented on #59299
@ram-msft can you please clarify what the doc enhancement is? Thank you!

[2020-08-24 17:59] NorthHighlandNicole opened #61439 "Why build the service fabric project AND the solution?"
Hello,

As we review our work around Service Fabric and ensure best practices, the question was brought up about our build pipeline. Why is it that the default pipeline (using classic pipelines) first builds the solution and THEN also builds the service fabric project. Also this documentation shows the same (build solution, then build project).

Seems like the project is getting built twice. Can w

[2020-08-24 18:02] kalith-ms commented on #52426
@MicrosoftGuyJFlo , Thanks for the swift response.

Just to be specific, as an administrator i have Azure AD Premium P2 license. But my users have E1, E2 or E3 licenses.
In this case, if i create and enforce MFA registration policy for the users, will it work for them.? i.e. to give the users 14 days time for the registration.

[2020-08-24 18:06] MicrosoftGuyJFlo commented on #52426
Azure AD is licensed by user.

[2020-08-24 18:08] MarileeTurscak-MSFT commented on #61435
@AndyBunning
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-24 18:09] dlepow commented on #61326
@raduart - Thank you for your feedback. We use the "restricted to Linux containers" phrase in a few ACI docs in the sense of "limited to Linux containers". I appreciate that "restricted" could be interpreted as the opposite, as I think you're pointing out, and there could be simpler/clearer ways to document the limitation. I created a work item to consider this feedback when we next review the art

[2020-08-24 18:09] #61326 closed

[2020-08-24 18:17] julieMSFT commented on #51609
@golfalot Hi, I was able to run the function template without any errors. I will be updating the article to reflect the current portal configuration. I will go ahead and close this issue. If you experience the issue again please feel free to respond to item.  The @notification mechanism continues to work even after an item is closed. We hope to hear from you again.

[2020-08-24 18:17] julieMSFT commented on #51609
#please-close

[2020-08-24 18:18] #51609 closed

[2020-08-24 18:20] SaurabhSharma-MSFT commented on #61261
@tiago-alves We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-08-24 18:20] #61261 closed

[2020-08-24 18:28] craigktreasure commented on #61358
@mrwellmann Sorry about that and thanks for bringing this to our attention. Looks like we removed that by accident in our last release. I've got a [PR](https://github.com/Azure/azure-spatial-anchors-samples/pull/209) out to put it back. For now, you can simply put it back in the `appsettings.json` file.

[code]

@AshokPeddakotla-MSFT, this will be resolved ASAP.

[2020-08-24 18:29] rothja commented on #45270
#please-close

[2020-08-24 18:29] #45270 closed

[2020-08-24 18:32] travisclagrone opened #61440 "Missing section for job **run** ID/URL"
[This page](https://docs.microsoft.com/azure/databricks/workspace/workspace-details) is missing a section for job **run** ID/URL, e.g. <https://westus.azuredatabricks.net/?o=6280049833385130#job/1/run/1>. This is distinct from jobs in that a single job may have many runs. The business impact of this documentation defect is that Microsoft Support requests for information to customers are more diffi

[2020-08-24 18:32] rothja commented on #45464
@HJToland3 Jim, have you had a chance to look at this suggestion to your article?

@SudheeshGH Apologies for the delay. If you are interested, you can edit the article and make your change in a public pull request. That too will need to be reviewed, but if accepted, you become a contributor on the article at the top, and it is sometimes easier to approve than in a git issue. Either way is fine. Th

[2020-08-24 18:36] mrbullwinkle commented on #61438
@Leonardo-Ferreira timestamp represents the time that the TrackDependency() call occurred. There is a hidden function in Kusto if you want to able to look at the ingestion time to Azure so you can determine ingestion latency:

![image](https://user-images.githubusercontent.com/31510320/91082677-fe662f00-e616-11ea-9181-c0561e368f05.png)

[2020-08-24 18:38] marconipoveda opened #61441 "Improving Configure NTFS permissions on WVD Deployment"
Hello.

During a deployment of WVD I was going through section **Configure NTFS permissions** step 4 and found the following improvement.

[code]

When executing the Creator Owner permissions command (2nd commnad) got the following error.

[code]

Did a little research and found the answer in Stackover flow https://serverfault.com/questions/387515/grant-modify-on-all-subfolders-and-files-with-icac

[2020-08-24 18:43] kgremban commented on #61333
@mbialecka Does the Blob Storage on IoT Edge module support HTTP_PROXY as an environment variable, or only HTTPS_PROXY?

[2020-08-24 18:49] chitturs opened #61442 "Clarify if "sub" field in an access token claims is a GUID or not"
sub | String, a GUID
-- | --

It mentions the sub field in the claims as a GUID. When I look at a token in https://jwt.ms it doesn't look like a GUID. Can you clarify that please?

Example format in jwt.ms (not the actual value) abcdEFGHijklmoop22_qrstuvwxyz23

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2471c08b-bef

[2020-08-24 18:50] kgremban commented on #47732
@TwoPatient Linking to your issue about http_proxy for future readers: https://github.com/MicrosoftDocs/azure-docs/issues/61333

[2020-08-24 18:50] hpsin commented on #61442
Thanks! You're correct, it's not a GUID.  I'll fix that

[2020-08-24 18:54] BicoGH opened #61443 "Value for CommandID parameter"
[Enter feedback here]
In the "Powershell" section the CommandID parameter value should probably use 'RunShellScript' instead of 'RunPowerShellScript'. Btw, it should be worth mentioning that the "ScriptPath" value is relative to the location where the command is executed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-08-24 18:57] Mike-Ubezzi-MSFT commented on #60244
@MladjoA Thank you for following up on this, as it appears that `sql-managed-instance` is now a stand-alone tag for _MicrosoftDocs_. I will have this corrected in our tooling. Please let me know if you need additional steps details or the specific doc updates that need to happen. Thank you!

[2020-08-24 19:01] #61442 closed

[2020-08-24 19:10] tfitzmac commented on #61364
deployment().location reflects the location of the subscription level deployment, whether it comes from the portal, script, REST or SDK.

You may have some reason why you'd want the deployment data to be stored in one region but the new resource group to be created in a different region. If you provide the rgLocation, that is possible, but without it you have always tied those locations together.

[2020-08-24 19:15] tfitzmac commented on #61207
@tiny-dancer - you might also want to consider [Template Specs](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-specs?tabs=azure-powershell). You grant access through RBAC roles so you don't have to manage the SAS tokens. It is currently in preview.

[2020-08-24 19:15] HJToland3 commented on #45464
@arunkumarthiags, can you please review the changes suggested above and make any updates as necessary?

[2020-08-24 19:19] CharlesAtDCube commented on #25357
I circumvented it by enabling staging, which does not use the 1433 port.

Le 24 août 2020 19:54, Cody Pinto <notifications@github.com> a écrit :

Having the same issue here. Anyone have any updates on getting this to work?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/MicrosoftDocs/azure-docs/issues/25357#issuecomment-679275547>

[2020-08-24 19:31] AjayKumar-MSFT commented on #34451
Apologies for the delay! It's only one value. By default, App Service assumes your custom container is listening on port 80.

[2020-08-24 19:43] ggailey777 commented on #52396
#reassign:ggailey777

[2020-08-24 19:44] DaleyKD opened #61445 "The Helm Chart for the Ingress Controller is Deprecated"
`helm install nginx-ingress stable/nginx-ingress` appears to be deprecated.  I think the new location is https://github.com/kubernetes/ingress-nginx/tree/master/charts/ingress-nginx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 597ba957-9501-5919-73a0-6d47b1ca2c6d
* Version Independent ID: 6345fa19-b3f2-ffd6-f526-908f

[2020-08-24 19:44] ksaye opened #61446 "Getting Error: AADSTS7000218: The request body must contain the following parameter: 'client_assertion' or 'client_secret'."
When running this sample code, specifically the last line:

[code]

I get the following error message.

It would appear that we need something where we create and send client_secret, something like: https://github.com/Azure/azure-sdk-for-net/blob/Azure.DigitalTwins.Core_1.0.0-preview.3/sdk/digitaltwins/Azure.DigitalTwins.Core/samples/DigitalTwinsClientSample/Program.cs#L65

[code]

---
#### Docume

[2020-08-24 19:44] ggailey777 commented on #57060
#reassign:ggailey777

[2020-08-24 19:44] AjayKumar-MSFT commented on #56945
Thanks everyone for sharing additional details.
Some App Service plans can't scale up to the PremiumV2 tier if the underlying App Service deployment doesn’t support PremiumV2. Please see[ Scale up from an unsupported resource group and region combination](https://docs.microsoft.com/azure/app-service/app-service-configure-premium-tier#scale-up-from-an-unsupported-resource-group-and-region-combinati

[2020-08-24 19:51] AjayKumar-MSFT commented on #49245
We allow 5 websocket connections in FREE SKU in Windows.

[2020-08-24 19:51] warpdriv commented on #60633
Hi @SatishBoddu-MSFT, Number 2.

[2020-08-24 19:51] chrmarti opened #61447 "Getting 169.254.169.254 port 80: Connection timed out"
Following the doucument I get:
[code]
inside the container. `az login --identity` also shows the same timeout.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4bb823e-1c72-5777-bdd6-e89942c4f470
* Version Independent ID: eb046e79-f39c-dcca-fbd4-519c0a320201
* Content: [Enable managed identity in container group - Azure

[2020-08-24 20:05] Grace-MacJones-MSFT commented on #61425
Hi @hugohhk , thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2020-08-24 20:05] AX-DevOpsAdmin commented on #46401
I'm very sorry, could you shed any more light on this? What is it that must be changed?

[2020-08-24 20:10] Grace-MacJones-MSFT commented on #61436
Hi @duanecr, thanks for catching this error. We will investigate further and update the docs soon.

[2020-08-24 20:13] Grace-MacJones-MSFT commented on #61439
Hi @NorthHighlandNicole, T=thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2020-08-24 20:17] Grace-MacJones-MSFT commented on #61440
Hi @travis-c-lagrone, thank you for the detailed feedback. We are currently investigating and will update the docs with the missing information

[2020-08-24 20:27] MortezaDamavandpeyma-TomTom commented on #54165
Hi, is there any update when this issue can be fixed in documentation. we would like to know the error codes.

[2020-08-24 20:30] HughDevlin commented on #61364
Thank you for your patience. Please can you clarify the semantics of the "operation", portal parameter Region in contrast with the "template" location parameter required by the resource group creation schema? If I understand,
1. the Region parameter is where the meta data of the resource group is stored
2. the location parameter is where the resource group is created
and these can be different, an

[2020-08-24 20:30] wjchristenson2 commented on #51754
@shashishailaj I also am very confused on this. How do you suggest we delete system generated recommendations then? In my case, port 21 is used. I delete them from the recommendations, but then when I try and navigate out, it errors on discarding my changes. If I can't save those changes (that I want to ignore/delete those recommendations) then the recommendation/task can't be completed thus our s

[2020-08-24 20:32] MarileeTurscak-MSFT commented on #61426
I made a pull request to add a note but will leave it open for confirmation from @msmimart

https://github.com/MicrosoftDocs/azure-docs-pr/pull/127078

[2020-08-24 20:32] #61426 closed

[2020-08-24 20:36] Leonardo-Ferreira commented on #61438
@mrbullwinkle so, it's correct to affirm that timestamp represents the time of the RESPONSE of the dependency, meaning that the dependency was called at `timestamp - duration`, correct?

[2020-08-24 20:40] kalyankrishna1 commented on #60977
#please-close

[2020-08-24 20:40] #60977 closed

[2020-08-24 20:41] trboomer opened #61448 "What editor to use and file extension for Azure cli scripts"
So following your tutorial leaves me with the most basic questions unanswered. I am using the Azure CLI installation on my local machine. What editor do I use for AZ cli scripts? Is there an IDE like powerhsell ISE? Should I just place the commands in a batch file or is there a file extension I should use for AZ cli scripts?

I think your tutorial assumes I know all of that information.

Tom Boome

[2020-08-24 20:54] SyntaxWarrior commented on #46401
This works locally with docker desktop: -e environment='Production' -e ASPNETCORE_ENVIRONMENT='Production'
But not in Azure.

This works in Azure
-e environment=Production -e ASPNETCORE_ENVIRONMENT=Production

note the missing '

[2020-08-24 20:56] zr-msft commented on #55365
This issue has now been fixed:

https://docs.microsoft.com/azure/templates/microsoft.containerservice/managedclusters

#please-close

[2020-08-24 20:56] #55365 closed

[2020-08-24 21:08] Karishma-Tiwari-MSFT commented on #61439
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-08-24 21:09] Karishma-Tiwari-MSFT commented on #61441
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-08-24 21:10] Karishma-Tiwari-MSFT commented on #61445
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-24 21:14] Karishma-Tiwari-MSFT commented on #61447
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-24 21:14] csnance opened #61449 "Referenced nginx helm chart deprecated"
The helm chart referenced in this document is deprecated.
Currently it is using:
helm repo add stable https://kubernetes-charts.storage.googleapis.com/
And should be updated to ([github](https://github.com/kubernetes/ingress-nginx/tree/master/charts/ingress-nginx)):
helm repo add ingress-nginx https://kubernetes.github.io/ingress-nginx

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-08-24 21:24] mmacy commented on #42370
#reassign:mmacy

[2020-08-24 21:28] BharathNimmala-MSFT commented on #61104
@scyto Apologies for delayed response on this thread. I am assigning this issue to our document author @palanis-MSFT to further review your query and update you accordingly.

[2020-08-24 21:28] tiny-dancer commented on #61207
Well that’s mighty interesting, thanks for the forward!

RE docs, understandable. A quick win may simply be adding that statement as an inline comment.  It took me a bit to even realize there were different implementations of date in bash.

[2020-08-24 21:29] cynthn commented on #61132
Thank you!  The doc has been updated.

#please-close

[2020-08-24 21:29] #61132 closed

[2020-08-24 21:30] barclayn commented on #60203
@singhnishant40 Thank you for taking the time to contact us.  I have passed your feedback along to the product team and created a work item for us to track this internally.

[2020-08-24 21:30] barclayn commented on #60203
#please-close

[2020-08-24 21:30] #60203 closed

[2020-08-24 21:31] cynthn commented on #61098
Updated the doc to use `lsblk -o NAME,HCTL,SIZE,MOUNTPOINT | grep -i "sd"` so that you can see the LUN as well as the size, to help determine which disk is the correct one. Same\similar change has been made in several other docs as well.

Thank you!

#please-close

[2020-08-24 21:31] #61098 closed

[2020-08-24 21:33] dsindona commented on #60877
@asorokaChorus are you referring to the two steps under [customer leads](https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/create-new-customer-engagement-offer#customer-leads) that say "Read this linked documentation" and "see the linked documentation"? If so, these refer to the links in the bulleted lists of the first stpe. We can rework these steps to make this simpler.
Pl

[2020-08-24 21:33] #60877 closed

[2020-08-24 21:34] cynthn commented on #13958
For anyone else interested in how to determine which disk is the correct one, I've updated the doc to use `lsblk -o NAME,HCTL,SIZE,MOUNTPOINT | grep -i "sd"` which shows all of the disk, mounts etc with the LUN number and size. If you compare that to the Azure portal > VM > Disks, you should be able to find the disk by LUN number if all of the disks are the same or similar size. Hope this help!

[2020-08-24 21:38] claurean opened #61450 "Reading data from secondary Azure Datalake region using Databricks"
I would like to know how to follow the same tutorial BUT READING THE DATA FROM THE SECONDARY REGION -where my Datalake is supposed to be replicated- What variables should I change or so....

Thank u.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a000caa-6f6e-de6c-fb18-a342a6b1221b
* Version Independent ID: 5f638d37-66

[2020-08-24 21:40] richardlm57 commented on #60049
@JasonFreeberg app-cc-confmgr-qa-01

[2020-08-24 21:41] emuench commented on #60877
Where this topic states "Support address (link)" and "Terms of use address (link)", the "link" is simply stating another name for "address" or "URL", since these terms are used interchangeably (we're working on that).

[2020-08-24 21:45] ChaitanyaNaykodi-MSFT commented on #61163
Hello @wauters, Thank for pointing this out to us. I was able to replicate the issue that session enabled subscriptions/queues do not support auto-forwarding.
<img width="632" alt="AutoForward_not enabled" src="https://user-images.githubusercontent.com/67453298/91097591-d7a6f900-e614-11ea-9a01-f5f179e7be78.PNG">

I have added a note in the document to reflect the same.

[2020-08-24 21:45] Karishma-Tiwari-MSFT commented on #60998
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-08-24 21:47] mmacy commented on #52310
#reassign:mmacy

[2020-08-24 22:09] Imperitiv commented on #33632
I get this seemingly randomly on a set of 10 WVD VMs. I can get into some, and others I can't. If I kick all the WVD users off and reboot the VM it'll usually work fine. Sometimes it happens on a WVD VM that isn't even in use.  If this was a configuration issue I'd expect it to always be a problem, not be an intermittent issue.

[2020-08-24 22:10] BharathNimmala-MSFT commented on #61092
@sachinpanwar Thanks again for your for reaching out and sharing your valuable feedback.

Apologies for the delayed response on this. We will further take your feedback with our document authoring and Product team
and see how we can enhance the current documentation on [Machine "Failed to start"](https://docs.microsoft.com/en-us/azure/automation/troubleshoot/update-management#failed-to-start) scen

[2020-08-24 22:10] #61092 closed

[2020-08-24 22:11] alexandair opened #61452 "Incorrect prerequisites"
[code]

This is incorrect. You don't need an active Azure subscription to view registered apps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8620e16e-2440-1942-3d58-3ec08ee0030d
* Version Independent ID: d0b03ffe-a8d1-74b7-d983-017241271e35
* Content: [Quickstart: View the list of applications that are using your Azu

[2020-08-24 22:16] mattfrear commented on #61051
Hi @SumanthMarigowda-MSFT

I am using NuGet package Azure.Storage.Blobs, 12.5.0.

The source code at the GitHub link which **you** have posted above, is different to the code sample you have posted. Please check the GitHub link you posted. The source code is:

[code]

[2020-08-24 22:19] PeterCLu commented on #54398
#please-close

[2020-08-24 22:19] #54398 closed

[2020-08-24 22:21] mmacy commented on #61067
@h2floh @hpsin This looks like a further clarification of my clarification, so I've signed off on the PR that fixes this:

https://github.com/MicrosoftDocs/azure-docs/pull/61066

Actually, @hpsin since it's your article, can you `#sign-off` on that PR? PRMerger bot denied me since you're listed as author.

Thanks again for the edit, @h2floh!

[2020-08-24 22:22] PeterCLu commented on #57322
The has been updated, I'll proceed to #please-close this issue. If you feel that your documentation issues has not been addressed. Please open a new issue with additional details. Thanks!

[2020-08-24 22:22] #57322 closed

[2020-08-24 22:23] PeterCLu commented on #57494
Since we haven't heard back from you in a little while, I'll proceed to #please-close this issue. Thanks!

[2020-08-24 22:23] #57494 closed

[2020-08-24 22:24] PeterCLu commented on #59129
#please-close

[2020-08-24 22:24] #59129 closed

[2020-08-24 22:24] PeterCLu commented on #59520
#please-close

[2020-08-24 22:24] #59520 closed

[2020-08-24 22:25] PeterCLu commented on #59720
Hi @anandece4u, since we haven't heard back from you in some time, I'll proceed to #please-close this issue. If you feel that your documentation issue hasn't been resolved, feel free to open a new issue with additional details. Thank you!

[2020-08-24 22:25] #59720 closed

[2020-08-24 22:27] PeterCLu commented on #59927
As cartacioS mentioned. We are tracking this ongoing issue for bias free communication in our docs and product. I'll proceed to #please-close this issue. Thanks so much!

[2020-08-24 22:27] #59927 closed

[2020-08-24 22:28] MarileeTurscak-MSFT commented on #61452
@alexandair
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-24 22:33] MarileeTurscak-MSFT commented on #61452
I am also able to see the registrations in accounts that do not have subscriptions, and Azure comes with 10 free apps. https://azure.microsoft.com/en-us/pricing/details/app-service/windows/

I made a pull request to remove the subscription part but will leave it open for @kenwith to confirm if I am missing anything. https://github.com/MicrosoftDocs/azure-docs-pr/pull/127100

[2020-08-24 22:33] #61452 closed

[2020-08-24 22:35] JamesTran-MSFT commented on #61427
@jks05c
Are you able to provide any screenshots on your end regarding the need for a Global admin.

**Findings:**
 AzureAD -> Users -> Specific User -> "Devices" -> Show "Devices syncing settings and app data"
-Using an account with no active assigned roles.

![devicesSync-Role](https://user-images.githubusercontent.com/36619112/91103010-438e5f00-e61f-11ea-8fb1-be7058909af7.JPG)

If you have any o

[2020-08-24 22:38] alexandair commented on #61452
@MarileeTurscak-MSFT Shouldn't this issue be closed after the PR is merged?

This is not the only document with that issue. That incorrect prerequisite is often mentioned in Azure AD docs. Another example:

https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-register-app

[2020-08-24 22:55] PeterCLu commented on #61230
@sayak1711, thanks for the great spot! I've updated the instructions for visualization. I've also created a new task item to review the tutorial articles since the designer has seen quite a few updates in recent months. I'll proceed to #please-close this issue.

[2020-08-24 22:55] #61230 closed

[2020-08-24 23:01] john-crouch opened #61453 "ADFS on Server 2019 + Azure Gov"
# Update

Sorry about that - this error isn't reproducible in a Azure commercial tenant. It appears to be failing during picking up the tenant cert for Azure Gov (_in case anyone gets a similar error_) but it might be misconfiguration. Will update when I know more!

# Original comment
Has anyone been able to successfully deploy **Azure AD Connect Health with AD FS** on Server 2019? I am getting a

[2020-08-24 23:05] PeterCLu commented on #61229
Hi @praynga-wk, since we haven't heard back from you in some time, I'll proceed to #please-close this issue. If you feel that your documentation issue hasn't been resolved. Please feel free to open a new issue with additional information. Thanks so much.

[2020-08-24 23:05] #61229 closed

[2020-08-24 23:09] john-crouch commented on #61453
This still appears to be an issue in Azure Gov on Server 2019. I'm getting the same unhandled crypto exception as @milesgratz described in [#33795](https://github.com/MicrosoftDocs/azure-docs/issues/33795#issuecomment-543277488).

[2020-08-24 23:11] PeterCLu commented on #59146
#assign:@sdgilley

[2020-08-24 23:14] TravisCragg-MSFT commented on #61357
@svangeti My apologies, you are correct that Azure Load Balancers are required when making an AKS cluster. You can optionally include a Kubernetes Load Balancer (different from an Azure Load Balancer) to your cluster, which was my confusion.

Because an Azure Load Balancer is required, you will have to use an Azure Load Balancer along with an AGIC.

[2020-08-24 23:19] dlepow commented on #51738
You're welcome. I'll proceed to close this issue for now. Thanks for helping improve the docs.
#please-close

[2020-08-24 23:19] #51738 closed

[2020-08-24 23:26] JamesTran-MSFT commented on #61435
@AndyBunning
Thank you for your feedback! Were you able to complete the [pre-requisites](https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-custom-attributes#prerequisites) outlined at the beginning of this article as well?

[2020-08-24 23:27] malopMSFT commented on #56534
customDNSConfig is relatively a new API ~May 2020, only newly created Private Endpoints will have this info.

the NIC approach should work normally without any issues.

Alternative approach using azure resource graph with this query:
Resources
| where type =~ 'Microsoft.Network/networkInterfaces'
| where properties.privateEndpoint.id != ''
| project name, properties, ipConfigs = properties.ipConfi

[2020-08-24 23:31] MirzaSikander opened #61455 "Image for Azure Edge zone with Carrier is grainy"
The image for Azure Edge Zones with Carrier is very grainy and doesn't look professional.

![image](https://user-images.githubusercontent.com/2823474/91106337-42613000-e627-11ea-8740-93e900bf01b5.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb13f1e4-bb01-d483-2397-5dc4bba18033
* Version Independent ID: 1d16a67b-

[2020-08-24 23:35] js-securecom opened #61456 "Saved Searches have moved"
I think the Saved Searches have moved, https://azure.microsoft.com/en-us/updates/saved-searches-functionality-is-moving-to-query-explorer/
So these instructions are no longer valid, can they be looked at and fixed up?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8578df3-5e0c-a406-858d-7536724fe938
* Version Independ

[2020-08-24 23:38] BharathNimmala-MSFT commented on #61105
@scyto Apologies for delayed response on this thread.

@palanis-MSFT Can you please review this thread and share any pointers you might have on the query. Thank you

[2020-08-24 23:42] Karishma-Tiwari-MSFT commented on #61086
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-08-24 23:43] megaalc commented on #61316
@KalyanChanumolu-MSFT  @Heidilohr @davidbel - can you please check this thread? https://github.com/MicrosoftDocs/azure-docs/issues/53475 - i am not sure whether anything already has been done or not .. ?

[2020-08-24 23:44] SaurabhSharma-MSFT commented on #61362
@StevenTCramer Please refer to [sample](https://docs.microsoft.com/en-us/aspnet/core/blazor/security/webassembly/hosted-with-azure-active-directory-b2c?view=aspnetcore-3.1) to get an idea of using msal with Blazor.

[2020-08-25 00:01] bluephoton opened #61457 "Missing location in the doc, call will fail if body is copied as is"
[Enter feedback here]

Location required when trying to set EnableAutomaticOSUpgrade. Call fails otherwise. Need to update body in the page with this:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51c75ce7-2144-d81a-693c-fb51cc00f3e5
* Version Independent ID: cba654ea-ee84-fca4-a76d-717bfb9d9bf5
* Content: [Aut

[2020-08-25 00:03] ecfan commented on #61202
@tjohnson1010, when you say "Request Triggers", did you mean the actual ["Request trigger"](https://docs.microsoft.com/azure/connectors/connectors-native-reqres#add-request-trigger) here?

![image](https://user-images.githubusercontent.com/13206671/91074955-298a5780-e5f2-11ea-8c12-8089bfee39f7.png)

I asked the engineering team for more information, which I paraphrase here and will add to the docs

[2020-08-25 00:03] megaalc commented on #53475
@VikasPullagura-MSFT VikasPullagura-MSFT @KalyanChanumolu-MSFT @Heidilohr @davidbel  same question - cant find that documentation mentioned above

[2020-08-25 00:06] tfitzmac commented on #61364
The region parameter is where metadata about the deployment is stored. Other subscription level templates do not create a resource group but they still need the region parameter because the deployment data needs to be retained. It is part of the command you use to deploy the template. For example, [az deployment sub create](https://docs.microsoft.com/en-us/cli/azure/deployment/sub?view=azure-cli-l

[2020-08-25 00:32] TravisCragg-MSFT commented on #61425
@hugohhk Both Azure VPN Gateways and Expressroute Gateways are VMSS with at least 2 instances to handle traffic & maintain high availability. These instances are in different [Availability Zones](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/tutorial-availability-sets#availability-set-overview) which gives them resiliency to an individual node failure, hardware failure, or an Azu

[2020-08-25 00:40] TravisCragg-MSFT commented on #33632
@Imperitiv I would recommend creating a support request if you want to look into that further. Intermittent issues can be hard to track down.

[2020-08-25 00:40] swiftPeter opened #61459 "Cannot find the service principal start with Active"
Cannot find the service principal named with Active Directory to Azure Active Directory Provisioning using Graph query after creating the cloud provisioning, the SP created in the AAD is named as the local AD domain name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1503095-ac91-b631-b4f0-92dc75b935b2
* Version Inde

[2020-08-25 00:55] BharathNimmala-MSFT commented on #61100
@pksvino Apologies for the experience , after further review of the issue this seems to need further troubleshooting. Please send an email to AzCommunity@microsoft.com  with your Subscription details, support ticket number (in case if you have already opened it) and a link to this thread so we can verify and direct the request accordingly .  We'll continue to investigate this with you directly and

[2020-08-25 00:55] #61100 closed

[2020-08-25 01:03] Karishma-Tiwari-MSFT commented on #61167
@palma21 Can you please help confirm on this? Thanks. :)

[2020-08-25 01:26] 1337777 opened #61460 "Facebook federation (self-service sign-up) has bug/undocumentation (vs OK Google federation)"
P.S. Facebook federation (self-service sign-up) in contrast to Google federation has bug (or something is not documented explicitly)... For example, after sign-up and sign-in through mytenant123 myappABC, then going to https://teams.microsoft.com/?tenantId=mytenant123 doesnt recognize the existing signed-in session sso (the external guest is indeed created in Azure AD, the post-signup post-signin

[2020-08-25 01:48] AshokPeddakotla-MSFT commented on #61446
@ksaye Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-25 01:57] himanshusinha-msft commented on #61087
@pmpopovichjr  : Your friend is correct we have created a PR to update the doc . Thanks to you and your friend . The doc should be updated by tmmrw , I am going ahead and closing this issue now .

[2020-08-25 01:57] #61087 closed

[2020-08-25 02:06] svangeti commented on #61357
@TravisCragg-MSFT - is it something you want to talk to product team? If we are using AGIC, why do we need LB unless there is a need.

[2020-08-25 02:29] ashishmundrajll opened #61464 "From diagram, its not very clear that can self-hosted IR be hosted in DMZ?"
Hi All,

We have a need where we like to move data both ways (On-Prem SQL Server to Azure SQL DB and vice-versa).

The firewall diagram shows opening port 1433 to move data to/from Azure SQL Database. Can we host self-hosted IR be hosted in DMZ where opening both inbound / outbound port 1433 will not be questioned and then self-hosted IR can connect to On-Prem SQL Server on 1433 from DMZ.

Thanks,

[2020-08-25 02:33] danfromtitan commented on #61408
Same issue here, not authorized to access linked subscription '109a5e88-712a-48ae-9078-9ca8b3c81345'
I find it peculiar how the same subscription ID pops-up in both cases.

[2020-08-25 02:44] PingPongSet commented on #61330
Yes, I did.

Please see below from VSC, all tools have been installed.

[2020-08-25 02:51] tksh164 opened #61465 "Missing some resource types in the resource types list in Resource Health"
Some resource types are missing in the list on this page.

- Action Groups
- Azure Data Explorer
- Azure Kubernetes   Service (AKS)
- Azure Spring Cloud
- Backup
- IoT Central Application
- Traffic Manager profile

The following is the screenshot of the list of resource type in Resource Health on Azure Portal.

![image](https://user-images.githubusercontent.com/1618784/91117157-e51dbb00-e6c8-11ea-

[2020-08-25 02:57] hello-chenchen commented on #61294
hi @shashishailaj , are there any feasible suggestions here? thanks

[2020-08-25 03:03] PingPongSet commented on #61330
Is it possible to deploy it via other way, without using truffle command? For example, using VS IDE?

[2020-08-25 03:12] KrishnaG-MSFT commented on #61465
@tksh164 Thanks for your comment! We will review and provide an update as appropriate.

[2020-08-25 03:14] KrishnaG-MSFT commented on #61456
@js-securecom Thanks for the comment.
Assigning @MGoedtel for visibility, review and document enhancement consideration.

[2020-08-25 03:18] anthonynz opened #61467 "Conditional Access audit logs"
This article suggests you can filter logs by the service "Conditional Access", however when I attempt to filter the logs by Conditional Access, there are no results.

There is only a single category for conditional access, that is "Policy".

I know there has been conditional access policy activity, as today I created a new policy, added members to it, modified it, turned it off, turned it on, set

[2020-08-25 03:19] mluker commented on #49036
I agree, the actual question was not answered. I would also love to see this feature. Link environment variables to keyvault and have them refresh when a container is restarted. Similar to how app services work.

[2020-08-25 03:28] amanmcse commented on #61295
@hamiltonha Thank you for the udpate. @markarnolditpro Closing the issue now.

[2020-08-25 03:28] #61295 closed

[2020-08-25 03:35] amanmcse commented on #61294
@hello-chenchen This would required deeper debugging session. Please send an email at AzCommunity[at]Microsoft[dot]com with your Azure Subscription ID and subject ATTN Amanpreet, I will get a one-time free support case opened for you. Going forward, please use [Microsoft QnA](https://docs.microsoft.com/en-us/answers/questions/ask.html) for any technical assistance as we use this platform to fix do

[2020-08-25 03:41] #61048 closed

[2020-08-25 03:42] BryanTrach-MSFT commented on #61048
@rachelxj-ms Thank you for bringing this to our attention. We have added a note highlighting this. The change should be public within 24 hours.

[2020-08-25 03:45] rachelxj-ms opened #61468 "Need set node version in nodejs-docs-hello-world"
[Enter feedback here]
I noticed there was a change on app settings on portal. Previously it would set WEBSITE_NODE_DEFAULT_VERSION to 6.9, now it's removed, in https://github.com/Azure-Samples/nodejs-docs-hello-world, it didn't set node version in package.json. When you deploy this app on windows platform, it would fail to start because no node version is defined like before.

---
#### Document De

[2020-08-25 04:10] ericcwk opened #61469 "About the required setup on Azure Firewall"
Dear all,

According to the doc, it stated that config of network rules on Azure Firewall is require. And it will required to add multiple fqdn.
And according from the Azure Firewall rules doc's FQDN in network rules is still under preview, just want to make sure network that this az fw preview feature is required for machine learning custom vnet/snet integration setup.
https://docs.microsoft.com/

[2020-08-25 04:10] rlevchenko opened #61470 "Firewall rules for AKS private clusters"
Any guidance for private clusters? I suppose we don't need half of the mentioned app.rules (https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic) since the public API is not used and etc. However, there might be some extra rules we should know about. I'd say the doc should provide info for all possible scenarios not just for the most used. For instance, the doc doesn't include required

[2020-08-25 04:15] PramodValavala-MSFT commented on #61424
@kamilzzz No worries. Feel free to open a post on [Microsoft Q&A with the Azure Front Door tag](https://docs.microsoft.com/en-us/answers/topics/azure-front-door.html).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-25 04:15] #61424 closed

[2020-08-25 04:17] VikasPullagura-MSFT commented on #61422
@andreasmarx Any update on the issue?
Can you please share the region details as requested.

[2020-08-25 04:21] CHEEKATLAPRADEEP-MSFT commented on #61464
@ashishmundrajll  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-08-25 04:22] SnehaAgrawal-MSFT commented on #61468
@rachelxj-ms Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-25 04:33] anrothMSFT commented on #61204
**1) I've got a PR out to specify that this sample code actually uses a local file, not a url. So this should be updated on the docs page tomorrow AM.**

**2) If you want to use a url, you need to make a few changes to the exisitng sample. **

a) Change the content type in the header.

'Content-Type': 'application/json'

b) Remove these two lines, as these are opening your local file:

with open(s

[2020-08-25 04:37] KalyanChanumolu-MSFT commented on #61316
@Heidilohr @davidbel looks like this is a recurring ask. Could you please prioritize this request.

[2020-08-25 04:38] ram-msft commented on #59299
@erhopf Thanks, If possible could you please update the following [section ](https://docs.microsoft.com/en-us/azure/cognitive-services/face/face-api-how-to-topics/howtoidentifyfacesinimage#step-21-define-people-for-the-persongroup) of the document similar to quick-start.

![image](https://user-images.githubusercontent.com/49180516/91123562-cd3f3a80-e6ba-11ea-9e24-9eaed3f8c5a4.png)

[2020-08-25 04:49] CHEEKATLAPRADEEP-MSFT commented on #61450
@claurean For data resiliency with Data Lake Storage Gen2, it is recommended to geo-replicate your data via GRS or RA-GRS that satisfies your HA/DR requirements. Additionally, you should consider ways for the application using Data Lake Storage Gen2 to automatically fail over to the secondary region through monitoring triggers or length of failed attempts, or at least send a notification to admins

[2020-08-25 04:50] ram-msft commented on #61469
@ericcwk Thanks for the question. We are investigating the issue and will update you shortly.

[2020-08-25 04:53] Sivalingaamorthy opened #61471 "PM2 not required for Windows App Service"
Can you explicitly mention 'PM2 is not required for Windows App Service', because for windows app service IIS is the default web server.  Since there is no webserver available for Linux App Service, PM2 is available by default. (you can better word it)

To understand this, I have spent more than 3 to 4 hours, adding this in the below document would help someone out there.

---
#### Document Detail

[2020-08-25 04:54] tamram commented on #61148
#reassign: @tamram

[2020-08-25 04:57] AnuragSharma-MSFT commented on #61319
@joergmattes Just wanted to check if you have reached out to above mentioned email for the issue you have been facing.

[2020-08-25 05:03] tamram commented on #61148
@Floriszz - Thanks for your feedback!

Azure uses both terms pretty interchangeably, but here they refer to slightly different concepts (geographic region vs physical datacenter). I've clarified the terms in the doc and the changes will go live soon.

#please-close

[2020-08-25 05:03] #61148 closed

[2020-08-25 05:18] JayaChatterjee-MSFT commented on #61135
@Anitalex Thanks for reporting this item! We have updated the doc and it will be published soon. We appreciate the feedback!
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-25 05:20] psmanhas commented on #61470
@rlevchenko Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2020-08-25 05:20] psmanhas commented on #61470
@palma21 Can you please check and add your comments on this doc update request as applicable

[2020-08-25 05:25] psmanhas commented on #61449
@csnance Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-08-25 05:26] psmanhas commented on #61449
@mlearned Can you please check and add your comments on this doc update request as applicable

[2020-08-25 05:33] SuperChenSSS commented on #61050
Hi @craigshoemaker  please update the current progress of this version mismatch here, thanks.

[2020-08-25 05:37] innovative-meharwan opened #61474 "azure function"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a4532b8-8c27-ca15-edc6-85fc38cab341
* Version Independent ID: e06de78b-9271-25a4-439d-2a024f31693e
* Content: [Azure Functions C# developer reference](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library)
* Content So

[2020-08-25 05:38] SnehaAgrawal-MSFT commented on #61471
@Sivalingaamorthy Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-25 05:39] SnehaAgrawal-MSFT commented on #60777
@michael-mansour If you are still facing this issue. Could you please check if Site files were in another folder when deploying? If so, try putting the Site files in the root folder when deploying.

[2020-08-25 05:49] BryanTrach-MSFT commented on #61071
@rachelxj-ms Thank you for bringing this up. At this time, the document will remain the same due to the billing complexities across the over 24 currencies Azure supports. The point of the document is to convey to customers that a cost will be accrued if the ratio is changed.

If you require specific billing details, we suggest you open a [free billing support ticket](https://ms.portal.azure.com/?q

[2020-08-25 05:49] #61071 closed

[2020-08-25 05:56] BharathNimmala-MSFT commented on #61089
@georgedavid29 My sincere apologies for delayed response on this thread. Not sure I fully understand your scenario and do you see any errors as you run through it. Can we request you to please send an email to AzCommunity@microsoft.com  with your Subscription details, the scenario you are looking for, runbook copy (masking sensitive information you might have)  and a link to this thread so we can

[2020-08-25 05:56] #61089 closed

[2020-08-25 06:01] joergmattes commented on #61319
Hello

Thanks for checking. Yes I did as you had advised, please see attached the email I’ve written to [AskAzureDBforMySQL@service.microsoft.com <mailto:AskAzureDBforMySQL@service.microsoft.com> ].

Regards,

Jörg.

From: AnuragSharma-MSFT <notifications@github.com>
Sent: Dienstag, 25. August 2020 06:58
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: joergmattes <joerg.mattes@gmx

[2020-08-25 06:05] BryanTrach-MSFT commented on #61084
@NickDrouin We have gone ahead and created an internal thread so we can have the product group and content team on a single thread to address the multiple points of your feedback. You are CC'd on thread.

We will close out this item since the discussion has moved channels. Please ping me if you need traction on the thread.

[2020-08-25 06:05] #61084 closed

[2020-08-25 06:07] shashishailaj commented on #61453
@john-crouch Thank you for your query . However , we use github channel for improvements in documentation. We will try to see if we can find something related to your issue and provide you an update. But in all probability this is an issue which may require deeper troubleshooting and we may request you to engage with Microsoft support on this. I will update this thread after reviewing and checking

[2020-08-25 06:11] ram-msft commented on #61204
Thanks, link to the PR: #https://github.com/MicrosoftDocs/azure-docs-pr/pull/127135.
@jcbendernh We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-25 06:11] #61204 closed

[2020-08-25 06:16] shashishailaj commented on #61460
@1337777 Thank you for your query. As per your description , it seems that this could be something to do with teams as well. We will try to find something useful for you in this case however we believe it requires deeper troubleshooting we would request you to engage with Microsoft support on this. We use Github for improving Azure documentation primarily and this may be one corner cases. We will

[2020-08-25 06:19] VikasPullagura-MSFT commented on #61457
@bluephoton
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-08-25 06:19] shashishailaj commented on #61467
@anthonynz Thank you for your query and inputs. We will review this and discuss with content authors if your suggestion can be incorporated to the article .

[2020-08-25 06:20] shashishailaj commented on #61459
@swiftPeter Thank you for your query. We will investigate and update the thread.

[2020-08-25 06:22] andreasmarx commented on #61422
Hi, Sorry. Thanks for your help. We deploy in westeurope.

[2020-08-25 06:22] VikasPullagura-MSFT commented on #61443
@BicoGH
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-08-25 06:22] VikasPullagura-MSFT commented on #61443
@bobbytreed
Can you please check and add your comments on this doc update request as applicable.

[2020-08-25 06:25] vipulsparsh commented on #61392
@telnet25 Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@kkern13   Can you have a look ?

[2020-08-25 06:36] JayaChatterjee-MSFT commented on #61474
@innovative-meharwan Thank you for reaching out! I don't see any problem statement here. Could you please describe the issue here?

[2020-08-25 06:43] metof50 commented on #44910
Please check if the affected users who do not see the "I want to set up a different method" are enforced for MFA/CA MFA and their Office Phone value is empty.

If the above is true, populate the Office Phone value, wait for replication and check if the affected users see the "I want to set up a different method" option.

[2020-08-25 06:55] SubhashVasarapu-MSFT commented on #61032
@StefanIvemo, the link looks like broken, and our team is working on fixing it. We will update the doc once after the fix.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-08-25 06:55] #61032 closed

[2020-08-25 07:08] psmanhas commented on #59635
@danvalero Apologies for the delay in response and all the inconvenience caused because of the issue.

You should do the following:

- Choose type as public and SKU as Basic/Standard(depending on their VM ip sku) while creating LB. if basic, the vms should be part of same availability set. This will create a public ip address for the LB and add it to LB front end configurations.
- While creating c

[2020-08-25 07:18] StevenTCramer commented on #61362
That sample I have followed and only works with implicit flow and MSAL. Js is currently broken

 https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/MSAL-browser-B2C-CORS-issue

[2020-08-25 07:28] VikasPullagura-MSFT commented on #61448
@trboomer Thanks for the Feedback.
As stated in the start of the document, it has mention of running the commands in Cloud Shell. CLI is designed for Bash shell.

However, on your ask on how to run the Azure CLI commands in your local machine, once the cli is setup and you have login to azure you can run the command and script on cmd prompt if you can handle the quotes carefully.

For running scri

[2020-08-25 07:37] harrish0225 opened #61476 "This page is out of date for the picture of the page is not relevent with what the portal looks like which may bring trouble to the users"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe4f2bf5-0156-dc04-bd89-8f4e61f342b1
* Version Independent ID: 1dc5a1e7-c818-f5d9-46ae-639f5b664578
* Content: [What is Azure Security Center?](https://docs.microsoft.com/en-us/azure/security-center/security-center-intro)
* Content Source: [articles/s

[2020-08-25 07:38] amanmcse commented on #61398
@willemsen-it The information is correct. Security Administrators and Security Readers can view assignments to Azure AD roles in PIM but can NOT view assignments to Azure Resource roles in PIM. You would need to assign the user with at least read permission on the subscription to view assignments to Azure Resource roles in PIM.

[2020-08-25 07:38] #61398 closed

[2020-08-25 07:41] chrmarti commented on #61447
Deleting and recreating the container group made it work again. Not sure if there was something I did to break it. Closing, thanks!

[2020-08-25 07:41] FlorianBorn71 commented on #61214
We have fixed this by removing the mention of the shortcut key altogether. Thanks for your feedback!

[2020-08-25 07:45] FlorianBorn71 commented on #61214
#please-close

[2020-08-25 07:45] #61214 closed

[2020-08-25 07:48] FlorianBorn71 commented on #61133
Hi, we have enriched the instructions a bit. However we may only add links to the official store site, which is the link that is already in the docs.
Thanks for your feedback!

[2020-08-25 07:48] FlorianBorn71 commented on #61133
#please-close

[2020-08-25 07:48] #61133 closed

[2020-08-25 07:56] markleavesley commented on #61322
I have this problem also with both timechart and columnchart on newly pinned charts. In the logs blade they work fine, once pinned they are tables. Existing charts that I tried to update last week also turned into tables (though the optin message has now gone and the optin never stuck).

[2020-08-25 08:06] souravmishra-msft commented on #61389
@msmimart, Can you please take a look at the pointers shared by @rgeerkens  and update the sample.

[2020-08-25 08:07] JonathanLydall opened #61480 "Minor issue: Missing space after the full stop between two sentences"
Minor issue, there is a missing space between the following two sentences:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f947a93f-1c0c-0e6e-acae-0f27571019a2
* Version Independent ID: b214f360-3057-010b-db69-53a489218065
* Content: [What is Azure Cosmos DB Analytical Store (Preview)?](https://docs.microsoft.com/en-us/

[2020-08-25 08:11] HannahHsiao opened #61481 "Change the reservation scope - 17G"
refer to this section: https://docs.microsoft.com/en-us/azure/cost-management-billing/reservations/manage-reserved-vm-instance#change-the-reservation-scope "The scope only applies to individual subscriptions with pay-as-you-go rates (offers MS-AZR-0003P or MS-AZR-0023P), Enterprise offer MS-AZR-0017P or MS-AZR-0148P, or CSP subscription types."

Is "Azure Plan" in the support subscription types?

[2020-08-25 08:13] VikasPullagura-MSFT commented on #60760
@artisticcheese

Apologies in delayed response. I checked with internal team on this.

From documentation standpoint, It’s not wrong. To make this inline with the blog post, that you can change the ManagementPointNetworkType to Distributed if desired.

The feedback is shared with the doc author for enhancing the document calling this out.

[2020-08-25 08:14] edervaldonetoMS commented on #61408
https://github.com/Azure/AKS/issues/1819

[2020-08-25 08:16] AnuragSharma-MSFT commented on #61480
@JonathanLydall Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-08-25 08:17] n-mitic commented on #60708
I created this CT TP and put it in front of checks

                <ValidationTechnicalProfile ReferenceId="persistClientIdClaim"/>
                 ...
                <TechnicalProfile Id="persistClientIdClaim">
                    <DisplayName>Persist client Id claim</DisplayName>
                    <Protocol Name="Proprietary"
                              Handler="Web.TPEngine.Providers.Cla

[2020-08-25 08:20] palma21 commented on #61470
Yes as per the reference issue we should add that clarification to say that in the private cluster case the rules with the API as the endpoint are not required as that communication is internal/private. The rest is the same. In essence the below are not needed.

Destination Endpoint | Protocol | Port | Use
-- | -- | -- | --
*:1194OrServiceTag - AzureCloud.<Region>:1194OrRegional CIDRs - RegionCIDR

[2020-08-25 08:23] SumanthMarigowda-MSFT commented on #61480
@JonathanLydall  We have raised the PR request,  I will be update soon. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-25 08:23] #61480 closed

[2020-08-25 08:25] JasSuri commented on #60708
Try add the claims resolver in persistClientIdClaim, with the correct metadata rages for claims resolver.

<InputClaim ClaimTypeReferenceId="clientId" DefaultValue="{OIDC:ClientId}" AlwaysUseDefaultValue="true"/>

[2020-08-25 08:26] rlevchenko commented on #61470
@palma21 thanks. can you also expand this "Blocking internal subnet traffic using network security groups (NSGs) and firewalls is not supported" Imagine we have multiple pools and each pool belongs to a unique subnet. Should we enable ALL traffic between pools subnets + ALL traffic for intra-subnet communication for each subnet to meet the statement above?

[2020-08-25 08:26] GitaraniSharma-MSFT commented on #61429
@marcelkmfst , Thank you for your feedback. We'll review this and get back to you shortly.

[2020-08-25 08:31] utraghuv commented on #61327
Yes, this includes IPs required by Backup for storage.

[2020-08-25 08:34] palma21 commented on #61470
Yes all internal traffic between those should be available (in essence the default config that allows subnet to subnet internal communication). To control intra-cluster traffic please use network policies (east/west). To control cluster to external-source traffic you can use NSGs (north/south) (and those can be different by nodepool)

[2020-08-25 08:36] #61470 closed

[2020-08-25 08:37] rachelxj-ms opened #61482 "Please add more details about script in package.json when deploy Nodejs on windows"
For Nodejs on windows, it seems the setting below is very important for Kudo to deploy Nodejs application. It'll automatically generate web.config in the root folder. Would you please add more details about it? And also the node version as well. Cx doesn't know how to deploy Nodejs on windows.

   "scripts": {
        "start": "node index.js"
    }

---
#### Document Details

⚠ *Do not edit this s

[2020-08-25 08:38] Afsars12 opened #61484 "Hybrid Azure AD join not showing "Access or work school" status in settings"
Hi  Team,

I have configured AAD connect for hybrid AzureAD join for my devices, All the machines which were in registered mode turned Hybrid Azure AD join.

However, I am not able to see the Azure AD account status in Settings > Acces Work or School.

It is only showing AD domain join status.

It's showing both Hybrid AD Join and Azure AD join "Yes" in Dsregcmd /status.

Please advise if there is

[2020-08-25 08:40] cadi3s opened #61485 "Link to SDK"
On the Immersive Reader [JavaScript SDK page](https://docs.microsoft.com/en-us/azure/cognitive-services/immersive-reader/reference) there is no link to the actual SDK. Please add what you consider best practise: to either grab the sdk from github and selfhost, or use the [office.net link](https://contentstorage.onenote.office.net/onenoteltir/immersivereadersdk/immersive-reader-sdk.1.1.0.js) from t

[2020-08-25 08:44] lisamariet opened #61486 "Possible error in text"
I think there is an error on the page. This line:
$filter=(PartitionKey eq 'Sales') and (RowKey ge 'empid_000123') and (RowKey lt 'empid_000124')&$select=RowKey,Manager Rating,Peer Rating,Comments

probably should be corrected to something like this:
$filter=(PartitionKey eq 'Sales') and (RowKey ge 'empid_000123') and (RowKey lt '000123_2012')&$select=RowKey,Manager Rating,Peer Rating,Comments

--

[2020-08-25 08:47] chrmarti commented on #61447
Again a problem when updating an existing container. Deleting and recreating it makes it work.

[2020-08-25 08:48] AnuragSharma-MSFT commented on #61315
This is being assigned to the content author to evaluate and update the document accordingly.

[2020-08-25 08:48] rachelxj-ms commented on #61071
@BryanTrach-MSFT that's ok, it seems PG has updated the document here, https://docs.microsoft.com/en-us/azure/app-service/environment/using-an-ase#pricing

[2020-08-25 09:00] palma21 commented on #61375
@TomGeske @weinong

[2020-08-25 09:04] SadiqhAhmed-MSFT commented on #61481
@HannahHsiao Thanks for the question. Could you please clarify this "Is "Azure Plan" in the support subscription types?"

[2020-08-25 09:04] rakesh08 opened #61488 "Explicit documentation for configuring custom DNS servers in ACI."
When ACI is deployed to an existing vnet and the vnet is configured with custom DNS server, ACI will not inherent the custom DNS servers. And to configure ACI with custom DNS servers, the only option i see is to deploy the ACI through yaml file and not via cli or portal. Specify the DNS sever in specification of dnsConfig like below.

Configuring ACI with custom DNS servers, can this be documented

[2020-08-25 09:07] CTOUT commented on #40861
I've not yet seen this issue - so either I'm lucky or it's been fixed?

[2020-08-25 09:07] SadiqhAhmed-MSFT commented on #61306
@rayne-wiselman Could you please review the PR and take necessary action to merge it?

Current status:

![image](https://user-images.githubusercontent.com/44458118/91155413-70567b00-e6e0-11ea-95cd-f7f70367aaf7.png)

[2020-08-25 09:07] n-mitic commented on #60708
That is working, thank you very much.

[2020-08-25 09:07] #60708 closed

[2020-08-25 09:12] Patrik-Hansson opened #61489 "Eicar is not used in instructions"
Headline says to use Eicar but is not used anyware in the instructions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d9f5c7e-0c34-9b6d-53da-7353525aef8b
* Version Independent ID: 223a6f7e-bb24-a09e-2a8a-7188d7710ab7
* Content: [Alert validation (EICAR test file) in Azure Security Center](https://docs.microsoft.com/e

[2020-08-25 09:17] AndyBunning commented on #61435
All pre-requisites are OK and I have managed to enable application insights.  There is an exception showing in app insights:
"Exception": {
                "Kind": "Handled",
                "HResult": "80131500",
                "Message": "A required Metadata item with key \"ClientId\" was not found in the TechnicalProfile with id \"AAD-UserReadUsingObjectId\" in policy \"B2C_1A_signup_signin\"

[2020-08-25 09:19] hund030 opened #61490 "Code sample doesn't work in the docs Get started with the Azure CDN Library for .NET"
I followed this [code sample](https://docs.microsoft.com/en-us/azure/cdn/cdn-app-dev-net#directives-constants-main-method-and-helper-methods) to manage my CDN with .NET codes. But I failed to create a **CdnManagementClient** since constructor method of the client accept a **Microsoft.Azure.Management.ResourceManager.Fluent.Core.RestClient** object but the code sample tells me to pass a **Microsoft

[2020-08-25 09:22] hund030 commented on #61490
The constructor method of **CdnManagementClient** can be found [here](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.cdn.fluent.cdnmanagementclient.-ctor?view=azure-dotnet).
And the **TokenCredentials** can be found [here](https://docs.microsoft.com/en-us/dotnet/api/microsoft.rest.tokencredentials?view=azure-dotnet).

[2020-08-25 09:40] VikasPullagura-MSFT commented on #61488
@rakesh08
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-08-25 09:41] VikasPullagura-MSFT commented on #61488
@dlepow
Can you please check and add your comments on this doc update request as applicable.

[2020-08-25 09:45] VikasPullagura-MSFT commented on #61486
@lisamariet
Thanks for the feedback! We will update the document accordingly.

[2020-08-25 10:03] duanzy47 opened #61493 "Excel and PowerBI asking for authentications all the time"
Hello, I have an Analysis Service instance running on Azure. Based on this AAS, my users are invited as guest users in my AD tenant. And they are allowed to read the data in AAS through Excel or PowerBI. They have accepted the invitations and created their ID&Pwd, even MFA with email/phone.

Now, we have a problem at the part of logging. For users who log in with Excel and PowerBI,  azure keeps as

[2020-08-25 10:15] souravmishra-msft commented on #61390
@peymanforceman, Thank you for reaching out. I guess you can consider using the following Microsoft Graph API, which seems perfect to automate adding of custom domains to your tenant:
https://docs.microsoft.com/en-us/graph/api/domain-post-domains?view=graph-rest-1.0

Do let me know if this works out for you and if there are any more queries around this so that we can help you further.

[2020-08-25 10:17] astaykov commented on #57557
I have one more update here. Regarding `acceptMappedClaims`. This works fine for `id tokens` and has some specifics around `access tokens` - it only works if the audience is one of the verified domains, according to this error message:

So, if I define my `AppID URI` to be within one of the verified domains, e.g. `api://staykov.net/app-name`, then it works. But if the app id URI is left the defaul

[2020-08-25 10:27] ShreyaChakraborty-MSFT commented on #61330
Hi @PingPongSet , can you please check the following

1. Smart contract was compiled, in that case the will be json files for each contract in the `builds\contracts` folder.

2. Step where your contract deployment fails, this will help us identify the issue -
[code]

3. From the logs it looks like the first contract  - `migrations` was successfully deployed. Maybe while deploying the second contra

[2020-08-25 10:30] SnehaAgrawal-MSFT commented on #61482
@rachelxj-ms Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-25 10:33] souravmishra-msft commented on #61414
@truekonrads, Thank you for reaching out. The UI has changed a bit for all gallery SAML app's Provisioning blade. You need to click on the "**Get Started**" button and then in the **Provisioning mode** you need to select "**Automatic**" and that should get you the options to enter the **clientsecret** and **Secret Token**

You can refer to the following doc: https://github.com/MicrosoftDocs/azure-

[2020-08-25 11:14] AbhishekShaha opened #61494 "Add documentation about password complexity policy"
For audit & compliance purpose, looking for specific documentation on the password complexity requirement for PaaS postgresql similar to the one below here: https://docs.microsoft.com/en-us/sql/relational-databases/security/password-policy?view=sql-server-ver15#password-complexity

Can we have this addition?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-08-25 11:16] SumanthMarigowda-MSFT commented on #61486
@lisamariet The PR request has been initiated and it will be updated soon .
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-25 11:16] #61486 closed

[2020-08-25 11:20] michaelelleby opened #61495 "Reader role does not include capacity reservations"
Reader role states

Actions | Description
-- | --
*/read | Read resources of all types, except secrets.

However a call to https://management.azure.com/providers/Microsoft.Capacity/reservationOrders?api-version=2019-04-01 returns `The client '<user removed>' with object id '<object id removed>' does not have authorization to perform action 'Microsoft.Capacity/reservationOrders/read' over scope '/p

[2020-08-25 11:27] xrm-pro commented on #43277
Worked for me! Thanks

[2020-08-25 11:40] CHEEKATLAPRADEEP-MSFT commented on #61493
@duanzy47  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2020-08-25 11:45] psmanhas commented on #59636
@danvalero Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-08-25 11:45] #59636 closed

[2020-08-25 11:48] psmanhas commented on #61206
@darrenjoycenz Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

Thanks

[2020-08-25 11:48] #61206 closed

[2020-08-25 11:49] psmanhas commented on #61216
@truekonrads  Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

Thanks

[2020-08-25 11:49] #61216 closed

[2020-08-25 11:54] psmanhas commented on #61222
@yuemlu Can you please provide your inputs on the mentioned ask?

Thanks

[2020-08-25 11:55] mobaioum opened #61496 "using customer-managed TDE - PS script that on the public document not working as expected"
Working with customer on a case and customer followed the steps documented here https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/tde-certificate-migrate?tabs=azure-powershell#upload-the-certificate-to-azure-sql-managed-instance-using-an-azure-powershell-cmdlet

step # 2: Once all preparation steps are done, run the following commands to upload base-64 encoded certificate to the ta

[2020-08-25 12:01] sopelt commented on #55220
@flyingUnderTheRadar it is GA according to https://azure.microsoft.com/en-us/updates/azure-front-door-rules-engine-now-generally-available/

[2020-08-25 12:05] sopelt opened #61497 "Document if/how a rules engine can be provisioned using an arm template"
When going through this tutorial and then exporting the arm template of the resulting resource there seems to be a cyclic reference between the rules engine and the frontdoor. Should it be possible to provision a rules engine rule and use it within a routing rule without resorting to scripting?

Kind regards.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-08-25 12:11] AnuragSharma-MSFT commented on #61494
@AbhishekShaha Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-08-25 12:20] AshokPeddakotla-MSFT commented on #60541
@PingPongSet  Since your initial issue is resolved, Can this issue be closed? We will follow up on https://github.com/MicrosoftDocs/azure-docs/issues/61330

[2020-08-25 12:24] orgoldma opened #61498 "Partitioning for stateless services"
As part of "Get started with partitioning" section, it says "Singleton partitioning. Singleton partitions are typically used when the service does not require any additional routing. For example, **stateless services use this partitioning scheme by default**"
Does this mean I can get a partition ID for each stateless service instance? Would that be something I have access to from the code?

---
##

[2020-08-25 12:26] JayaChatterjee-MSFT commented on #61413
@hem-sharma We will now proceed to close this thread as this has been taken up offline. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-25 12:26] #61413 closed

[2020-08-25 13:02] epomatti opened #61499 "Custom Domain + SSL"
Is it possible to use a custom domain with SSL?

I didn't find in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 190b1ed3-0712-2f19-4e8f-a2a8519d136e
* Version Independent ID: b02adbf4-d2a8-6c84-e70a-ff59fb3cbb7b
* Content: [Setup a custom domain in Azure Static Web Apps](https://docs.microsoft.com/e

[2020-08-25 13:10] SnehaAgrawal-MSFT commented on #61499
@epomatti Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-25 13:11] #60541 closed

[2020-08-25 13:35] GiftA-MSFT commented on #61485
@cadi3s we'll review your response and get back to you shortly. Thanks.

[2020-08-25 13:42] jbkcmouli commented on #37159
Hi, Are there any plans to support sharepoint web pages; lot of knowledge content is authored in the form of Overview/FAQ pages and the business is interested to use those pages as source for the QnAMaker. S

[2020-08-25 13:43] tjohnson1010 commented on #61202
Thank you.
The only point I can see is that you could add is a mention that if a request trigger is called by another Logic App using the Logic App Connector, the called Logic App will follow the Asynchronous Pattern no matter what the setting is on the Response action.  This means that no matter how long the called Logic App takes to run, the calling Logic App will wait for it to complete.

[2020-08-25 13:47] AshokPeddakotla-MSFT commented on #61423
@prachandabhanu As mentioned in the docs, Currently, the only supported distribution is Ubuntu 18.04.

![image](https://user-images.githubusercontent.com/44426435/91181218-4adc6800-e706-11ea-8d6d-23982f93e270.png)

![image](https://user-images.githubusercontent.com/44426435/91181644-cb9b6400-e706-11ea-9161-69e502cb8b6e.png)

Please use the 18.04 version and let us know if that solves your issue. A

[2020-08-25 13:47] AshokPeddakotla-MSFT commented on #61420
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-25 13:47] #61420 closed

[2020-08-25 13:54] PramodValavala-MSFT commented on #61455
@MirzaSikander Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2020-08-25 13:54] shawon017 opened #61500 "UploadFilesAsync not working in ASP.net MVC"
Hello,

I'm trying to use the upload script in ASP.NET MVC but the CloudBlockBlob’s UploadFromFileAsync method is not working in MVC. Actually I’m trying to upload > 2gb files using the web app and need to it in chunks but not working. Could anyone please help?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79bad8c2-87

[2020-08-25 13:56] AmitavaHazra opened #61501 "Exclude new My Apps portal from CAP based MFA"
Reference:
https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/concept-conditional-access-cloud-apps#office-365-preview

We have a conditional access policy below application are under scope.
1. Microsoft Azure Management
2. Office 365 preview

Now if a in scope user access myapps.microsft.com portal they will not be asked for MFA as we are in conditional based MFA.
In this

[2020-08-25 14:11] RyanHill-MSFT commented on #52915
@kevbry PR submitted, thanks.

[2020-08-25 14:11] #52915 closed

[2020-08-25 14:18] AshokPeddakotla-MSFT commented on #61224
Notifying author @wesmc7777  to check and update the doc.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-25 14:18] #61224 closed

[2020-08-25 14:28] fallmake opened #61503 "Reservations - Guest/B2B accounts cannot create reservations, even with "Owner" role on subscription"
When trying to add a new reservation, the Azure portal displays that a user isn't an owner of the subscription, even if the user is a guest/b2b account, even if the user has the "Owner" role at that time (verified, displayed in the properties of the subscription. In this case, it was assigned via Azure PIM). The "Add" option is available and the add reservation dialogue shows, subscriptions can be

[2020-08-25 14:42] SaurabhSharma-MSFT commented on #61495
@michaelelleby Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-25 14:43] SaurabhSharma-MSFT commented on #61476
@harrish0225 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-08-25 14:44] sarah026 opened #61504 "Local credentials when domain server unreachable"
This is really a chicken and egg situation. For the instructions to be meaningful, having local credentials don't really help you when you're struggling to connect on a domain joined machine!

If I use the serial console, i need to first login to start up a cmd prompt! But i can't login because the domain server is unreachable! And the local credentialsl aren't working because domain machines aren

[2020-08-25 14:44] SaurabhSharma-MSFT commented on #61489
@Patrik-Hansson Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-25 14:46] mrbullwinkle commented on #61438
Let me ping the engineering team internally to confirm.

[2020-08-25 14:48] SatishBoddu-MSFT commented on #61446
Hello  @ksaye Thanks for reaching out to us!

- Did you see a browser window opened(triggered) when you run the sample code?

- Please verify the AAD application registration permissions in your Azure account and let us know if it is set like 'http://localhost' as a redirect URL & "Public client/native (mobile & desktop)". rather than 'Web'?

[2020-08-25 15:02] suneelsunkara opened #61505 "Private link setup in azure portal doesn't setup the CNAME recordset"
Hi,

As mentioned in the article, Private link  setup in azure portal doesn't setup the CNAME recordset as below
Name | Type | Value | Remark
mywebapp.azurewebsites.net | CNAME | mywebapp.privatelink.azurewebsites.net

Do we have to manually setup the CNAME for .azurewebsites.net?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-08-25 15:02] savbace opened #61506 "Possible circular dependency in ARM example"
There is possible [circular dependency](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/define-resource-dependency#circular-dependencies) in [ARM example](https://docs.microsoft.com/uk-ua/azure/app-service/app-service-key-vault-references#azure-resource-manager-deployment) of setting Key Vault policy and using reference to secret in Azure func.
Key Vault and Azure Func depe

[2020-08-25 15:05] zr-msft commented on #61385
Thank you @lissff for the feedback.

The limitations section lists both the *Standard* SKU load balancer and virtual machine scale sets as requirements to use multiple node pools. Using multiple node pools with virtual machine availability sets was never supported or a possible option.

cc @palma21

#please-close

[2020-08-25 15:05] hugohhk commented on #61425
@TravisCragg-MSFT Thanks for your reply.

1. Can you please show me which documentation page has the description of one ER Gateway having 2 instances? I can only find such for the VPN Gateway, but not for the ER Gateway.  Note that I am not referring to the zone-redundant SKUs (ErGwAZ).

2. What if for some regions where only one Availability Zone exists, would there be still two instances behind

[2020-08-25 15:05] #61385 closed

[2020-08-25 15:08] sdgilley commented on #59146
@BreakingBI - thanks for the insightful suggestions.  I have created a work item for this for September, and will reach out to you to review then.

#please-close

[2020-08-25 15:08] #59146 closed

[2020-08-25 15:16] TwoPatient commented on #61333
@AshokPeddakotla-MSFT yes the HTTP_PROXY environment variable is set for moby to use. We are still seeing that the edge blob container is ignoring proxy settings. We are successfully receiving telemetry data from the edgeHub via proxy.

[2020-08-25 15:19] imWildCat opened #61507 ""--set westus2" is invalid; missing @file, name, or value"
The documentation could be outdated.

Repro step:

[code]

Output:

[code]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a421fddc-eebd-2ff2-6216-b2a00bbd3fdf
* Version Independent ID: 7d902f9e-4f56-30c9-4a39-7d800f92e088
* Content: [Quickstart: Recognize speech from an audio file - Speech service - Azure Cognitive Ser

[2020-08-25 15:21] flyingUnderTheRadar commented on #55220
Yes, it is. Was able to get some inside info on when it was going to go GA :-D

We are currently using it in production systems. Thanks for the tag for the update though !

[2020-08-25 15:23] deiruch commented on #22941
Could the UI be updated as well?