[2019-03-28 22:51] SameerDoshi opened #28285 "Persistence is not working"
The app initializes a single item, but, as no persistence is setup this is the only item available:  POST (or PUT) will not create new or update the item

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbcc24f0-9856-a7db-f229-c383e5e5c57d
* Version Independent ID: 55d51b2a-c8fe-086e-a1c2-b0592f57967c
* Content: [Host RE

[2019-03-28 22:53] Ayanmullick opened #28286 "PowerShell steps"
How do I do this thru PowerShell? can someone share how to do this thru Invoke-RestMethod if the cmdlets aren't there yet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb8e2623-1f79-aee3-bd97-8b5f647b6980
* Version Independent ID: 6346b54d-cc8d-0b79-a6b8-f9144cfa2459
* Content: [Log in to a Linux VM with Azure Active

[2019-03-28 22:57] MartinJaffer-MSFT commented on #28070
I have begun reaching out to the product group for more support.

[2019-03-28 22:59] Ian-ACC commented on #27902
Thanks @Digiroka I will give that a try now

[2019-03-28 23:02] SameerDoshi commented on #28285
It appears the application is returning an HTTP 415.  Adding Content-Type: application/json to the request resolves the issue.

[2019-03-28 23:02] #28285 closed

[2019-03-28 23:06] jaryder opened #28288 "How to get verbose logging from the container locally"
How can I get my function running inside the container to output verbose logging similar to what "func host start" outputs?
The current logging output is minimal and not at all helpful for debugging issues with the function app.
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d505ab9-d351-6650-6d0c-bb65d2daa229

[2019-03-28 23:07] mahoekst opened #28289 "Code is incomplete"
When trying to compile the code you get a few errors.

You need to add import com.microsoft.identity.client.exception.*;

Also the class User cannot be found and there is no getUsers on the PublicClientApplication that needs to be replaced with getAccount()

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aecf9610-b6e2-7

[2019-03-28 23:08] mahoekst opened #28290 "compile is obsolete and needs to be replaced"
compile ('com.microsoft.identity.client:msal:0.1.+') {
    exclude group: 'com.android.support', module: 'appcompat-v7'
}
compile 'com.android.volley:volley:1.0.0'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aecf9610-b6e2-75fc-a674-869d9b95702c
* Version Independent ID: 360def71-eacf-185b-4f6d-41e60e57e610
* Content

[2019-03-28 23:17] MicahMcKittrick-MSFT commented on #28286
There is a 3rd party blog that shows how to do it using PowerShell. All this is really doing is setting the extension so using PowerShell should work fine

https://blog.azureandbeyond.com/2018/07/31/aad-login-linux/

We currently just have the official doc using CLI. This is partly because this feature is in preview so once it moves into GA more examples will be added. And also, since this is spec

[2019-03-28 23:20] MartinJaffer-MSFT commented on #28027
I have begun reaching out to the product group for more support.

[2019-03-28 23:26] DCtheGeek commented on #28182
@DrEsteban So, turns out it was my mistake. :)

The `[resourceGroups('RGPlaceholder').location]` function only works when used in a blueprint level parameter (that could then be passed to the template).  Since the template above is a resource group template, it does have context to the resource group, so `[resourceGroup().location]` will work.  If it was a subscription level template, that functio

[2019-03-28 23:30] KeiroKamioka0000 opened #28292 ""Microsoft.OperationalInsights/workspaces""
Does new metric alert will support the "Microsoft.OperationalInsights" resources?"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37e35140-5a03-b8a1-d17c-b06b7cbb03db
* Version Independent ID: 4c16ba87-0e6e-f60e-8271-ff6d9492d4ae
* Content: [Understand how metric alerts work in Azure Monitor.](https://docs.microsoft.co

[2019-03-28 23:31] Karishma-Tiwari-MSFT commented on #28115
@jamesapicken Thanks for providing the link.
I have assigned the issue to the content author to investigate further and update the document as appropriate.
@roygara Can you please confirm and update the doc as needed. Thanks.:)

[2019-03-28 23:32] #28182 closed

[2019-03-28 23:34] MartinJaffer-MSFT commented on #28282
Thank you for updating us with your status.  I will now close the issue.  Let us know if you have any more questions.

[2019-03-28 23:34] #28282 closed

[2019-03-28 23:34] barclayn commented on #24886
@Mitch-P97 Thank you for pointing this out to us. I have updated the document to remove the pointer to the incorrect article.

[2019-03-28 23:35] barclayn commented on #24886
#please-close

[2019-03-28 23:40] Karishma-Tiwari-MSFT commented on #28144
@tplas
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-28 23:41] sam90909 commented on #28175
Hello Micah,

It worked successfully you can close this.

May I know if you changed anything in after yesterday's issue. Even the chat support got the similar issue when they tried to and were speculated something wrong with Json. I am Curious to know what change accepted the variable values today so that it would help us in future.

Thanks,
Sam

[2019-03-28 23:45] MicahMcKittrick-MSFT commented on #28175
@sam90909 thanks for the update. Glad to hear it's working now.

No changes were made to the doc or template. Could have possibly been a data center issue?

https://azure.microsoft.com/en-us/status/history/

Not sure if you were trying in West Europe but there were some issues in that zone the other day.

Regardless, if something is failing it is always worth trying it in another region to see if

[2019-03-28 23:45] #28175 closed

[2019-03-28 23:52] zapdog43 opened #28293 "Can someone please fix this demo?"
I am still getting the error "in line 11" when trying to perform step #4 in "Send simulated telemetry". I just wish someone would fix the body of the demo and not lead us all down a bunch of closed cases that have ambiguous solutions.

C:\azure-iot-samples-python-master\iot-hub\Quickstarts\simulated-device&gt;python SimulatedDevice.py
Traceback (most recent call last):
  File "SimulatedDevice.py",

[2019-03-28 23:52] MartinJaffer-MSFT commented on #28236
Hello @jeffhebrank  and thank you for bringing this issue to our attention.  We will review the document and update as appropriate.

[2019-03-28 23:54] chetansriv commented on #28261
@kevintaber @jeevansd This is what zendesk say -

"We recommended customers to have the entity ID set as https://subdomain.zendesk.com due to the fact that most of them were running into the following error message: AADSTS65005: Invalid resource if the URL was amended without the https:// part.

Recommending them to amend it as per this tip: https://support.zendesk.com/hc/en-us/articles/1150157180

[2019-03-28 23:55] chetansriv commented on #28261
#please-close

[2019-03-28 23:56] Karishma-Tiwari-MSFT commented on #28077
1. Are you connecting from your home network or your corpnet? If you are using your corpnet, there is likely firewall rules put in place that are preventing you from connecting.
2. You can also check to make sure there were not Network Security Groups added to the Virtual network Subnets blocking traffic. If you are not the admin of your subscription you could have some NSGs that the admin applies

[2019-03-29 00:06] kevintaber commented on #28261
Would it be worth noting the change in case others get the error I had?

Here was my support conversation from earlier today:

Anna Roussanova (Zendesk Support)

Mar 28, 17:27 CET
Hi Kevin,

I'm Anna from the Tier 3 Support Team here at Zendesk.

Can you update the Identifier (Entity ID) in the Azure configuration to senecacompanies.zendesk.com<http://senecacompanies.zendesk.com> -- that is, remov

[2019-03-29 00:19] SnehaGunda commented on #23792
@noelram @corneliussens the above PR's should fix these issue, they are still under review by out PM team. The content will be live in a couple of days. We will now close this issue if you don't have further questions.

#please-close

[2019-03-29 00:22] zezha-msft commented on #20288
Hi @ckarras, thanks for the feedbacks.

Normally a job summary is printed after all the transfers conclude. You could try uploading a small file to see the normal behavior.

Did you put the computer to sleep when you left? Are those stack traces printed to the command line? Or did you copy them out of the log files?

Resume command can be invoked with `./azcopy resume [job-id]`. But retries are do

[2019-03-29 00:23] zezha-msft commented on #20288
To verify if the concurrency override is set properly, you could run `./azcopy env`.

[2019-03-29 00:23] Karishma-Tiwari-MSFT commented on #28234
@iainfoulds It seems like the two docs state different things:

1. https://docs.microsoft.com/en-us/azure/aks/azure-disks-dynamic-pv#feedback says : An Azure disk can only be mounted with Access mode type ReadWriteOnce, which makes it available to only a single pod in AKS. If you need to share a persistent volume across multiple pods, use Azure Files.

2. https://docs.microsoft.com/en-us/azure/aks

[2019-03-29 00:26] Adam-Smith-MSFT commented on #28235
@milazzom Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-29 00:29] SeaDude opened #28294 "GET Search POI Not Using Lat Long?"
Hello,
Using the docs found here:
https://docs.microsoft.com/en-us/rest/api/maps/search/getsearchpoicategory, I am unable to get the GET Search POI to return results near my Lat/Long.
**Here are the parameters (api-key redacted):**
![image](https://user-images.githubusercontent.com/8636973/55200986-144f9600-517e-11e9-9462-83b564256704.png)
**Here are the results:** You can tell these results are N

[2019-03-29 00:39] dcbrown16 opened #28295 "VM guest OS metrics alert migration"
My understanding is that VM guest OS metrics are treated as custom metrics under the new metric platform and require some different configuration to set up. Does Microsoft plan to support automatic and/or tool-assisted migration of guest OS metrics as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9718a085-110e-c

[2019-03-29 00:40] kazshi commented on #24460
@Mike-Ubezzi-MSFT @SnehaGunda Could please reopen this thread so that I can track about the "x-ms-cosmos-min-throughput" implementation?  I'll need to provide info of it to my customer. Thanks.

[2019-03-29 00:47] lahsrah commented on #18460
This same error message comes up if there is no invalid characters in the tag but if its longer than 120 characters.  Maybe the error message should be a bit more specific or at least mention the max length?

[2019-03-29 00:52] iainfoulds commented on #28234
The technical limitation is at the node level, since it's the underlying VM that the _disk_ is attached to. That _volume_ is then presented / passed through to the pod.

You can, in theory, attach a volume to multiple pods on the same node, however it's really not how volumes are intended for use (not specifically just in Azure/AKS), and it would really more be for a pod that had more than one _co

[2019-03-29 01:14] agilmore30 opened #28296 "Temp Tables can't be created with DISTRIBUTION=REPLICATE"
In your Temporary table limitations section, you should also mention that temporary tables can't be created with DISTRIBUTION=REPLICATE.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8131ee36-cabb-0b6a-e27c-650159833a90
* Version Independent ID: d32e56fb-1f0e-6152-85bc-743d0e04c49d
* Content: [Temporary tables in SQL

[2019-03-29 01:16] TravisCragg-MSFT commented on #28272
@colinweiner Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-29 01:26] Alberto-Vega-MSFT commented on #28243
@KingdomOfEnds Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-29 01:31] jachin84 opened #28297 "Huge amount of log data"
I recently enabled auditing to a Log Analytics instance. This resulted in over 160GB of data in under 30 days. The BATCH_COMPLETED_GROUP essentially logs every action that occurs on the database. The documentation should be more explicit about the cost implications of auditing to log analytics.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-03-29 01:34] Alberto-Vega-MSFT commented on #28252
@mibarg Thanks for the feedback! I just tested from the doc Guide to install and deploy Linux C agent of ASC for IoT agent Preview and the link resolves to https://github.com/Azure/Azure-IoT-Security-Agent-C for me

[2019-03-29 01:41] daveRendon opened #28298 "Missing parameter when creating Function"
Document Details

- Missing parameter in Create function to clean HTML
 "Before you can create a function, create a function app with these settings:"

Missing:  *Runtime Stack: .NET / Java / Javascript

Content: Tutorial: Automate handling emails and attachments with Azure Logic Apps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-03-29 01:41] adashen commented on #28243
From the error message it seems there is some invalid char in the Program.cs file '&gt' (>).   It may be caused by when copy/paste the code from the docs. @KingdomOfEnds can you check the Program.cs file to find whether there is invalid chars.

[2019-03-29 01:45] Alberto-Vega-MSFT commented on #28249
@smoms Thanks for the reaching out. Since this feedback is not for the document but for the Product Team. Would you please  post this @ https://feedback.azure.com/forums/321918-azure-iot
We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2019-03-29 01:48] pjknkda commented on #28185
Oh, I found the reason.

When I first tried, both servers respond to the same output 'f',

[code]

Meanwhile, I realized that the server name in the user name (behind @ symbol) also need to be changed (I guess Azure infrastructure use that part to proxy incoming connections to the real server), and now the response is retruned from the real slave server with the configured firewall rules.

[code]

[2019-03-29 02:02] mike-urnun-msft commented on #28298
Hi @daveRendon Thank you for reporting this issue! We will review and make any necessary changes.

[2019-03-29 02:03] mike-urnun-msft commented on #28288
Hi @jaryder Thank you for your feedback! We will review and update as appropriate.

[2019-03-29 02:35] BhargaviAnnadevara-MSFT commented on #28294
@SeaDude Thanks for the question! We're investigating this and will get back to you shortly.

[2019-03-29 02:48] davidkklim opened #28300 "this site content it outdated !!!"
I found this article that has the correct latest instructions.
https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/cisco-spark-tutorial

Please merge these 2 articles

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee0d3d2c-71f4-9366-73a3-f0c910cf9073
* Version Independent ID: 953ee878-2afd-d2b4-c5f0-a750e

[2019-03-29 02:49] Izmiyash opened #28301 "The word "Dynamics 365" is not clear"
What do you mean by "Dynamics 365"? Is it including "Dynamics 365 for Finance and Operations "?

for me, it's not clear if Dynamics 365 for Finance and Operations is supported or not. Public peering has gone, but Dynamics 365 for Finance and Operations is listed under public peering section. in addition, Dynamics 365 is listed in microsoft peering. how should we interpret it?

---
#### Document De

[2019-03-29 03:20] Leon99 commented on #27892
It's not a multi-container app. It's a pretty simple, single-container ASP.NET Core app.

[2019-03-29 03:20] SeaDude commented on #28294
Whats up with the `NON_NEAR` `querytype`? I need NEAR!!

[2019-03-29 03:21] KetanChawda-MSFT commented on #28199
@v-maroge We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-29 03:21] #28199 closed

[2019-03-29 03:22] #27665 closed

[2019-03-29 03:41] msrini-MSFT commented on #28301
@Izmiyash , Thank you for your feedback. I will review and get back to you.

[2019-03-29 03:50] neeleshray commented on #28289
@mahoekst
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-29 03:51] neeleshray commented on #28290
@mahoekst
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-29 03:51] neeleshray commented on #28300
@davidkklim
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-29 03:52] neeleshray commented on #28276
@serafing
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-29 03:53] neeleshray commented on #28251
@timpeteren
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-29 03:54] neeleshray commented on #28264
@JohnMoor
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-29 04:10] RohitMungi-MSFT commented on #28278
@mattfortech Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-03-29 04:14] jmprieur commented on #27780
@shashishailaj : you might want to redirect to the ASP.NET Core team?

[2019-03-29 04:28] SeaDude commented on #28294
Would be substantially in your debt if you can get back with me before tomorrow 0700PST!!
Hackathon showcasing your products!!
Thank you

[2019-03-29 04:38] AshokPeddakotla-MSFT commented on #28293
@zapdog43 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-29 04:45] KalyanChanumolu-MSFT commented on #28283
Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2019-03-29 04:46] #28190 closed

[2019-03-29 04:46] #6472 closed

[2019-03-29 04:47] AshokPeddakotla-MSFT commented on #28257
@craigktreasure Thanks for the update!
@valthec This has been addressed in [this](https://github.com/MicrosoftDocs/azure-docs-pr/pull/71253) PR. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-29 04:47] #28257 closed

[2019-03-29 04:49] KalyanChanumolu-MSFT commented on #28297
Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2019-03-29 04:55] #7616 closed

[2019-03-29 04:56] CHEEKATLAPRADEEP-MSFT commented on #28007
@joshua-j-morley We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-29 04:56] #28007 closed

[2019-03-29 04:57] zapdog43 commented on #28293
Thanks Ashok. This is on Windows 10 with the most up to date Windows 10 Python download

[2019-03-29 04:58] zapdog43 commented on #28293
Python 3.7.3 (32 bit)

[2019-03-29 05:01] Leon99 opened #28304 "Switching to 64 bit"
How do I do it? There is no **Platform** switch in the portal for Linux apps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e26e5a4-7b72-ba7e-cfed-e31a4a8aaef9
* Version Independent ID: dc783fe3-bd1a-c25e-2b92-903595c0822e
* Content: [Application performance FAQs - Azure App Service](https://docs.microsoft.com/en-us/

[2019-03-29 05:01] KalyanChanumolu-MSFT commented on #27906
@padmick We will now proceed to close this thread. If there are further questions regarding this issue, please comment and we will gladly continue the discussion.

[2019-03-29 05:01] #27906 closed

[2019-03-29 05:01] #8104 closed

[2019-03-29 05:02] #23792 closed

[2019-03-29 05:02] #24886 closed

[2019-03-29 05:02] #26502 closed

[2019-03-29 05:02] #27517 closed

[2019-03-29 05:02] #27728 closed

[2019-03-29 05:02] #28043 closed

[2019-03-29 05:02] #28114 closed

[2019-03-29 05:03] #28203 closed

[2019-03-29 05:06] CHEEKATLAPRADEEP-MSFT commented on #28236
@jeffhebrank Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

@Minewiskan Could you please review further and update the document as appropriate?

[2019-03-29 05:07] Leon99 commented on #28304
In fact, it seems like it's running 64 bit by default, which means that the whole paragraph is wrong.

[2019-03-29 05:10] Leon99 commented on #28304
I only now noticed it's a page for regular (Windows) app services. Given that it's linked from the App Service on Linux Documentation, I reckon it requires clarification (if anything from it is actually applicable to Linux).

[2019-03-29 05:11] KetanChawda-MSFT commented on #28113
@kristerkarto Checking in to see if the above post helped answering your question.

[2019-03-29 05:12] Leon99 commented on #27875
In addition, it's missing from the new *Configuration (Preview)* page

[2019-03-29 05:13] kazshi opened #28305 "ATP integration support in VMSS"
Is ATP integration currently supported in VMSS? I'm assuming it's true from the following page, but I'd like to make sure since it's not described clearly as far as I checked.

Upgrade to Security Center's Standard tier for enhanced security | Microsoft Docs
https://docs.microsoft.com/en-us/azure/security-center/security-center-pricing#pricing-tiers

Related issue #21360.

---
#### Document Detail

[2019-03-29 05:18] Leon99 opened #28306 "Memory consumption"
We have a bunch of small ASP.NET Core services that each appear to consume around 30MB avg. memory working set when running under Windows app services, but more than 200MB on Linux App Services. It's worth highlighting it here, along with an explanation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b421fa01-1f39-28a5

[2019-03-29 05:26] DixitArora-MSFT commented on #28298
@daveRendon I have created the [PR ](https://github.com/MicrosoftDocs/azure-docs-pr/pull/71318)which will correct the setting section . Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we

[2019-03-29 05:27] #28298 closed

[2019-03-29 05:32] msrini-MSFT commented on #28045
@OffColour , your feedback has been shared to Product Group.

Documentation is available already and it will be updated as well :https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-autoscaling-zone-redundant#known-issues-and-limitations

Closing this issue for now. Tag me if you need any help.

[2019-03-29 05:32] #28045 closed

[2019-03-29 05:39] CHEEKATLAPRADEEP-MSFT commented on #28274
@fgariepy-relation1 Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

[2019-03-29 05:42] SadiqhAhmed-MSFT commented on #28265
@richardspitz Thanks for the comment! We are checking on this and shall post the updates soon.

[2019-03-29 05:45] SadiqhAhmed-MSFT commented on #28240
@ShaunInIdaho Thanks for feedback! We've assigned this task to the content owner to further review and update as appropriate.

[2019-03-29 05:49] CHEEKATLAPRADEEP-MSFT commented on #28165
@GaretAnderson Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

[2019-03-29 05:52] CHEEKATLAPRADEEP-MSFT commented on #28176
@ShubhaVijayasarathy Could you please take a look into this issue?

[2019-03-29 05:54] ShehzadUIT opened #28308 "Windows Virtual Desktop: cannot see a Remote App"
I have published outlook and from the Get-RdsRemoteApp <tenantname> <hostpoolname> <appgroupname>, i can see that it has been published:

TenantGroupName     : Default Tenant Group
TenantName          : <My Tenant Name>
HostPoolName        : <MyTennatHostPool>
AppGroupName        : RemoteApp-Group1
RemoteAppName       : Microsoft Outlook
FilePath            : C:\Program Files\Microsoft Office\root

[2019-03-29 05:58] arvindshmicrosoft commented on #24686
Recently the bug fix for HADOOP 15969 has been included in Azure Databricks Runtime versions 5.x. This eliminiates the need to grant IAM-level permissions of any kind to the Service Principal. Just using ACLs works, as long as the OID of the Service Principal (and not the OID of the App registration) is used to define the permissions in the ACLs. Please see my [blog post](https://deep.data.blog/20

[2019-03-29 05:59] BhargaviAnnadevara-MSFT commented on #28277
@StarkCaptain Thanks for the question! We're investigating this and will get back to you shortly.

[2019-03-29 06:02] BhargaviAnnadevara-MSFT commented on #28308
@ShehzadUIT Thanks for the question! I understand that this is about the Windows Virtual Desktop Service, but in order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2019-03-29 06:03] Ian-ACC commented on #27902
Thanks @Digiroka that was the problem removed user from "Desktop Application Group" and Published Apps on both Windows 10 and Server 2016 pools then showed up. Annoying as the Admin of the pool I cannot easily test as I need 2 accounts

[2019-03-29 06:09] kazshi commented on #9641
I'll close this once I confirmed the fix is in the master. I still can see the sentence in the page of 10/29/2018 timestamped.

[2019-03-29 06:10] james-tn commented on #24686
Now I know there was a bug. I thought I misobserved my test. Suddenly it worked recently

[2019-03-29 06:18] ShehzadUIT commented on #28308
i am using this:
https://docs.microsoft.com/en-au/azure/virtual-desktop/manage-app-groups

[2019-03-29 06:23] #28231 closed

[2019-03-29 06:24] kazshi commented on #9641
My previous comment is wrong - the description in the https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-viewing-and-modifying-hostnames is correct but I couldn't check when/what was changed in this page since this issue is too old. Closing.

[2019-03-29 06:24] #9641 closed

[2019-03-29 06:28] BhargaviAnnadevara-MSFT commented on #28308
@ShehzadUIT Thank you for the response! I've routed this to the appropriate Team to investigate and update.

[2019-03-29 06:30] vainolo commented on #28297
Hi @jachin84 and thanks for the feedback.
The size of the audit is very dependent on how much activity happens in the database.
If you want to limit what is audited you can change the audit groups or use a 'WHERE' clause.

[2019-03-29 06:53] Deepudev13 commented on #28214
@BhargaviAnnadevara-MSFT I am following this url
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/hybrid-use-benefit-licensing

[2019-03-29 07:00] christiankuhtz commented on #25518
Where is the info for Azure cli?

[2019-03-29 07:02] christiankuhtz commented on #25518
That page was not discoverable from the cli docs. Can you fix please?

[2019-03-29 07:07] angoyal-msft commented on #28296
@agilmore30 Thanks for your feedback. I have assigned this issue to content author to help you further.
@ronortloff Could you please help the customer for this document idea.

[2019-03-29 07:23] nmfisher opened #28310 "Creating deployment user with '@' symbol fails"
Not sure if this is a documentation issue or an Azure App Service issue.

Relevant tutorial is here:
https://docs.microsoft.com/en-us/azure/app-service/containers/quickstart-dotnetcore

Under "Configure a deployment user", it should be clear that usernames should not contain "@" symbols (e.g. an e-mail address like "xxxx.xxxx@avinium.com").

If it does, the later step "Push to Azure from Git" will

[2019-03-29 07:29] marxxxx commented on #26228
done: [https://github.com/Azure/azure-cosmos-table-dotnet/issues/2](https://github.com/Azure/azure-cosmos-table-dotnet/issues/2)

[2019-03-29 07:31] JihongL opened #28311 "Questions about "at-least-once guarantees""
Hi.
Document describes IoT Edge provides at-least-once guarantees. also describes IoT Edge stores messages locally when if a route can't deliver the message to its sink.

Questions.
1. Where messges are stored? a folder of Edge hub container?
2. Is every messages are stored if it's failed to deliver?
3. Is same condition to every communication of modules? ex) ASA module to Function module

Thanks.

[2019-03-29 08:00] andylholloway opened #28314 "What is the minimum number Request Units for a Partitioned Collection"
Hi

What is the minimum number of RUs required to provision a partitioned collection in Cosmos?

I have read a few different articles which suggest the minimum RUs was originally 10,000 but this was reduced to 2500, and more recently 1000, but a collection can be created with a `/partitionKey` and a minimum of 400 RUs.

Does this mean the partitioned collection can be created with 400 RUs or does

[2019-03-29 08:17] BhargaviAnnadevara-MSFT commented on #28311
@JihongL Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2019-03-29 08:22] BhargaviAnnadevara-MSFT commented on #28310
@nmfisher Thanks for the question! We're investigating this and will get back to you shortly.

[2019-03-29 08:23] angoyal-msft commented on #28314
@andylholloway Thanks for your feedback.
Yes, currently the minimum throughput for a collection is 400 RUs.

Whenever you create a new collection with a /partitionKey, whatever the value you provide in the minimum throughput. That value is applicable for the entire collection.
e.g. if you give 400 RUs, Minimum 400 RUs will be allocated to entire collection, not for specific partition.

Hope it is

[2019-03-29 08:40] ManojReddy-MSFT commented on #27017
@gutjahr I will work with the author to see if we can include that in this doc. Thanks again for your feedback.

[2019-03-29 08:40] #27017 closed

[2019-03-29 08:49] ShirleyWangMSFT commented on #6243
#please-close

[2019-03-29 08:55] wenchengchuang opened #28315 "is there a way to allocate bandwidth of a expressroute circuit to each internal divisions?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-03-29 08:57] ShirleyWangMSFT commented on #7407
Apologies for the delay in responding; we will be more responsive in the future!

We have updated the xero connector doc to say that 512 bits should be used for the keygen.  Thank you so much for reporting this issue!

Can you tell me if the keyvault connection failure issue still exists?

[2019-03-29 09:05] tesharp opened #28316 "Alerts when upgrading AKS"
We are running AKS behind Azure Firewall and when upgrading AKS version I'm seeing "Alert. ThreatIntel: This is a known Phishing indicator" in firewall logs. This is towards storage.googleapi.com from AKS nodes.
Running in only Alert mode at the moment so upgrade succeeds, but this will cause problems if setting to Deny mode.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-03-29 09:09] #28057 closed

[2019-03-29 09:13] ShirleyWangMSFT commented on #9536
@blade-feng-wang not sure if you are trying to migrate objects from ADF V1 to ADF V2, but to answer your question: the ARM limit (not ADF limit) for write API calls is 2,500 per hour.

This is documented in the list of ADF limits: https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#data-factory-limits

#please-close

[2019-03-29 09:16] SubhashVasarapu-MSFT commented on #27563
@Sas002 , We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-03-29 09:16] #27563 closed

[2019-03-29 09:20] ShirleyWangMSFT commented on #9886
Hi @TheYabadabadou in ADF authoring UI, you can specify a query and use "Preview data" button to check if the query is correct or not, but it is not a full-fledged query editor for HubSpot.

To do query editing you should use an alternative query editor for HubSpot.  I did some quick search and found a few suggestions mentioned in this blog by HubSpot: https://blog.hubspot.com/marketing/sql-tutori

[2019-03-29 09:21] BhargaviAnnadevara-MSFT commented on #28315
@wenchengchuang Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2019-03-29 09:23] AjayKumar-MSFT commented on #27892
@Leon99, Thanks for the clarification. Could you please send an email to AzCommunity[at]Microsoft[dot]com referencing this GitHub issue, we would like to work closer with you on this matter. Since we will work with you offline, we will now proceed to close this thread.

[2019-03-29 09:23] #27892 closed

[2019-03-29 09:24] ShirleyWangMSFT commented on #11117
@dcpking Agree that it is very challenging to make sure all the screenshots are up to date, given all the UX enhancements we are making on a continuous basis!  We would certainly welcome any contributions from you - please create a pull request that includes the fix/change and the doc author will review & approve!

#please-close

[2019-03-29 09:25] wenbof commented on #9076
@fillipebs SAP BW via MDX connector of ADF cannot directly accept variables at present.
ADF has a new connector focusing on more flexbile filtering on large volume of data which you may be interested.
https://docs.microsoft.com/en-us/azure/data-factory/connector-sap-business-warehouse-open-hub

If you have to workaorund the current issue, given you are also using PBI, here is one way with detailed

[2019-03-29 09:31] Mike-EEE commented on #6243
@ShirleyWangMSFT if I am not mistaken, the requested information was not put into documentation yet, or have I misunderstood something?

[2019-03-29 09:36] wenchengchuang commented on #28315
This URL

https://docs.microsoft.com/en-us/azure/expressroute/

[2019-03-29 09:36] msrini-MSFT commented on #28316
@tesharp , The way how threat intelligence based filtering works is basically we maintain a list of known Malicious IP address and FQDN and any traffic to or from those IPs are marked as threat.

I guess the domain storage.googleapi.com is in that list. Yes, if you change the mode to Deny, those traffic will be blocked.

[2019-03-29 09:38] JihongL commented on #28311
@BhargaviAnnadevara-MSFT
Here it is :)
https://docs.microsoft.com/en-us/azure/iot-edge/module-composition#sink

[2019-03-29 09:44] BhargaviAnnadevara-MSFT commented on #28315
@wenchengchuang Thank you for the response! I've routed this to the appropriate Team to investigate and update.

[2019-03-29 09:44] jakaruna-MSFT commented on #28214
@Deepudev13 If we user Azure hybrid benefit, It should show the LicenseType  as `Windows_Server` only.

Reference: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/hybrid-use-benefit-licensing#powershell-1

[2019-03-29 09:45] BhargaviAnnadevara-MSFT commented on #28311
@JihongL Thank you for the response! I've routed this to the appropriate Team to investigate and update.

[2019-03-29 09:49] danielhcx opened #28317 "V2 OIDC userinfo endpoint returns sub claim only, for personal Microsoft accounts."
According to [Fetch the OpenID Connect metadata document](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-protocols-oidc#fetch-the-openid-connect-metadata-document), the oidc userinfo endpoint is https://graph.microsoft.com/oidc/userinfo. However, this endpoint returns different results for the work accounts and personal Microsoft accounts.

An application has been created in Ap

[2019-03-29 09:58] dreic commented on #27875
There is one more issue, FTP deploy is not even working with .NET core app. Why? dotnet .DLL file is locked so can't be updated with newer version. Only way to deploy newer version of the code that is procured somewhere else is zip deploy. There should be bold note somewhere for .NET core and FTP deploy.

[2019-03-29 09:59] marxxxx commented on #26228
I added structure of TelemetryTableEntity as requested.

[2019-03-29 10:02] RohitMungi-MSFT commented on #28278
@mattfortech Here is a sample project from [AndyButland](https://github.com/AndyButland/BirdRecognizer) that does exactly the same thing and more as this quickstart but it is implemented by three projects, an ASP. NET Core MVC web application, an Azure Functions application, and a class library project that contains common services and settings used by the other two.

You will need Visual Studio.

[2019-03-29 10:03] petrce commented on #28139
ok because i do not think it is even possible, it should be mentioned in docs

[2019-03-29 10:07] kurtng opened #28318 "Debugger not starting"
I am using latest Visual Studio Code and .NET Core versions but the debugger insisting on not to start for storage adapter microservice.
This is the output from the Debug Console:

-------------------------------------------------------------------
You may only use the Microsoft .NET Core Debugger (vsdbg) with
Visual Studio Code, Visual Studio or Visual Studio for Mac software
to help you develop

[2019-03-29 10:15] tesharp commented on #28316
Blocking everything from storage.googleapi.com seems a bit much, and it should be possible to upgrade AKS (a Microsoft service after all) behind a firewall. If it really is malicious IP then the fact that AKS uses that is also suspicious..

[2019-03-29 10:23] msrini-MSFT commented on #28316
@tesharp , I will follow up with Product Group and get back to you on this issue.

[2019-03-29 10:24] pkim commented on #24106
https://www.rahulpnath.com/blog/azure-key-vault-as-a-connected-service-in-visual-studio-2017/

The only thing missing is how the appSettings section in the web/app.config looks like after these changes:

<appSettings configBuilders="AzureKeyVault">
...
    <add key="Test" value="" />
...
</appSettings>

The attribute configBuilders tells the common ConfigurationManager to use the AzureKeyVault Con

[2019-03-29 10:25] jakaruna-MSFT commented on #13884
Doc is updated. I think we can close the issue now.

[2019-03-29 10:28] KetanChawda-MSFT commented on #28288
@jaryder You can control the logging behavior of function app using host.json. When function host starts, it reads log level from host.json and inject ILogger instance with corresponding filter rules. Host configurations can be modify by host.json to change log level.

[code]
`logLevel`: Object that defines the log category filtering for functions in the app. Version 2.x follows the ASP.NET Core l

[2019-03-29 10:28] mibarg commented on #28252
Cool, we can close this issue. Thanks!

[2019-03-29 10:31] jakaruna-MSFT commented on #28179
@bryhall Log analytics agent and Microsoft monitoring agent are the same.  We are int he process of migrating the terminologies. You can find more information [Here](https://docs.microsoft.com/en-us/azure/azure-monitor/terminology).  This answers your third question.

I will assign this issue to the author to answer the other questions.

@roiyz-msft Please add your comments.

[2019-03-29 10:33] jakaruna-MSFT commented on #28112
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-29 10:33] AdamSharif-MSFT opened #28319 "Clarify requirement for accountName field"
Hi team,

Please can we clarify in this documentation that the value for accountName within the config file should just be the name of the account, and not the full URI?

Kind regards,
Adam

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cef87c25-d489-ed0c-c94f-c764b3fd2413
* Version Independent ID: 7f8c5d56-2382-de90-d

[2019-03-29 10:36] DixitArora-MSFT commented on #28162
@starlinalmonte I have created the [PR ](https://github.com/MicrosoftDocs/azure-docs-pr/pull/71339) which will correct the section . Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we wil

[2019-03-29 10:37] anmtando opened #28320 "Destination column cannot contain Spaces"
When the sink is Azure Data warehouse table then its columns cannot contain spaces. I face this issue "Column name cannot contain special characters or spaces when using Azure SQL Data Warehouse or Parquet format' while validating the data flow. Shouldn't the sink table be allowed to have spaces in column names, since that is a very common part of table definition.

---
#### Document Details

⚠ *D

[2019-03-29 10:37] jakaruna-MSFT commented on #28104
@stephen-cairns  I will close this out for now. Please send an email to jluk.

[2019-03-29 10:37] #28104 closed

[2019-03-29 10:37] #28162 closed

[2019-03-29 10:41] andylholloway commented on #28314
@angoyal-msft Thanks for the quick reply.

Just to clarify, I found this post (albeit old): https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/13414590-partitioned-collections-with-10k-ru-s,

The post suggests that the minimum number of RUs that a partitioned collection can be provisioned with is 2500, but in the portal I can create a partitioned collection with 400 RUs which con

[2019-03-29 10:47] RationalAnarchist opened #28321 "Slightly confusing setup"
Hi!  I've just done this in a large group.  Great resource, but there are a few areas it could be better:

A lot of people were not sure when to stop with the "Prepare your DevKit by following the steps in Connect IoT DevKit AZ3166 to Azure IoT Hub in the cloud." step of the "Before you begin" section.  It might be helpful to be a little clearer on how much of that needs to be done or provide a se

[2019-03-29 10:48] smoms commented on #28249
@Alberto-Vega-MSFT  thanks, done. Meanwhile is possible to get a feedback from my answer? It is for curiosity.

[2019-03-29 10:48] RohitMungi-MSFT commented on #28020
@PoojaPDesai We hope you are able to use the quickstart to analyze the images.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-29 10:49] #28020 closed

[2019-03-29 10:49] mibarg opened #28322 "More detailed links"
The send_security_message method is only available in Azure IoT SDK C# _preview_ branch and C _public-preview_ branch.

To make this clear, the following sentence:
"Send security messages without using the ASC for IoT agent, by using the Azure IoT C# device SDK or Azure IoT C device SDK."

Should be (including improved links):
"Send security messages without using the ASC for IoT agent, by using t

[2019-03-29 10:50] neeleshray commented on #28305
@kazshi
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-29 10:54] sujayt commented on #17471
You can refer to the Ubuntu document.

https://wiki.ubuntu.com/Kernel/Support

Thanks,
Sujay

[2019-03-29 10:55] RohitMungi-MSFT commented on #28087
@wilsonchua20 We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-29 10:55] #28087 closed

[2019-03-29 10:56] angoyal-msft commented on #28314
@andylholloway Thanks for the feedback. User doesn't need to bother about how the partitioning is done internally. You just need to provide the appropriate throughput and correct partition key for optimal functionality.

You can refer [this](https://docs.microsoft.com/en-us/azure/cosmos-db/partition-data) document for reference.

`Unlike logical partitions, physical partitions are an internal impl

[2019-03-29 11:03] mibarg opened #28323 "Suggestions"
The following links are broken:

"ASC for IoT Security agents are developed as open-source projects, and are available from GitHub:
IoT-ASC-Agent-C
IoT-ASC-Agent-CS"

They should be:
[ASC for IoT C-based agent](https://github.com/Azure/Azure-IoT-Security-Agent-C)
[ASC for IoT C#-based agent](https://github.com/Azure/Azure-IoT-Security-Agent-CS)

---
#### Document Details

⚠ *Do not edit this secti

[2019-03-29 11:05] mibarg opened #28324 "Module name"
"Create an _ascforiot_ security module for your devices." should be
"Create an _azureiotsecurity_ security module for your devices.".
The link is ok and should remain the same.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 097380cf-dab2-7cfd-84ae-6266ed0b1301
* Version Independent ID: 5155dec5-6dbe-a75f-b6a1-5c108da15

[2019-03-29 11:07] mibarg opened #28325 "Formating"
The following text is formatted wrong:
"Verify ASC for IoT alerts in response to the simulated attack in the previous step.
* Begin verification five minutes after running the script."

It should be:
"Verify ASC for IoT alerts in response to the simulated attack in the previous step. Begin verification five minutes after running the script."

---
#### Document Details

⚠ *Do not edit this section.

[2019-03-29 11:09] nawolfin opened #28326 "The "Install Azure CLI" link is broken"
Hi,

The link to "Install Azure CLI" is broken,

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7dc4598-18d3-bdcc-e21a-f838fb752268
* Version Independent ID: edf2d399-9bbb-1c1e-e4cc-d69bf2ce0f05
* Content: [Use pod security policies in Azure Kubernetes Service (AKS)](https://review.docs.microsoft.com/en-us/azu

[2019-03-29 11:10] techiearun opened #28327 "Broken link that explains about Nagle off for Table storage"
There is a broken link to this text "Nagle's Algorithm is Not Friendly towards Small Requests" under Nagle off section. This was quite useful link, especially when I explain about table storage scalablity best practices to my team but this is broken, can it be fixed please ? Or the blog itself moved because the Nagle behaviour has changed or changing ?

---
#### Document details

⚠ *Do not edit th

[2019-03-29 11:11] nawolfin commented on #28326
@iainfoulds - FYI

[2019-03-29 11:12] wrooot opened #28328 "Update images"
Upgrade subscription page image is not up to date. For me it also showed the prices. And (i'm not 100% sure) i think it didn't show me the no support option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31d284ec-efec-44b4-8582-47b5b44a1f73
* Version Independent ID: 5be7927d-cf08-7438-ecfd-554a6928d122
* Content: [Upg

[2019-03-29 11:13] mibarg opened #28329 "Suggestions"
**schema** links are broken in the following sentences:
* Use the ASC for IoT security agent configuration **schema** to make changes.
* Make sure to validate your agent configuration against this **schema**. An agent will not launch if the configuration object does not match the schema.

Both links should be "https://aka.ms/iot-security-github-module-schema"

---
#### Document Details

⚠ *Do not

[2019-03-29 11:15] mibarg opened #28330 "Suggestion"
The following
"All data that is sent, even if marked with the correct header, must also comply with the [ASC for IoT message schema](https://github.com/Azure/ASC-for-IoT-Schemas)."

Should be
"All data that is sent, even if marked with the correct header, must also comply with the [ASC for IoT message schema](https://aka.ms/iot-security-schemas)."

---
#### Document Details

⚠ *Do not edit this se

[2019-03-29 11:24] SadiqhAhmed-MSFT commented on #28328
@wrooot Thanks for bringing this to our attention. We've shared your feedback with the content owner for further review and update as appropriate.

[2019-03-29 11:24] echanfin commented on #27795
Thanks for the help! PEBKAC :P

From: SaurabhSharma-MSFT <notifications@github.com>
Sent: March-28-19 2:44 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Chan, Emily (FINTRAC/CANAFE) <Emily.Chan@fintrac-canafe.gc.ca>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Powershell Import command returns error (#27795)

@echanfin<https://github.com/echan

[2019-03-29 11:27] Rajani-Janaki-Ram commented on #19093
@sujayt can you take a look at this?

[2019-03-29 11:27] shashishailaj commented on #28127
@hmg1 Please let us know in case you were able to follow the instructions. As for the details on MLMIC account , it may be a Microsoft account but I am not specifcally aware of it . If your MLMIC account have 2 factor authentication enabled and within 2FA if phone call verification is the method specified then you may get a call from this number. Its a host of multiple numbers from where you can g

[2019-03-29 11:27] #28127 closed

[2019-03-29 11:28] huzzeytech opened #28331 "Typo"
Quick Typo fix, look for Commpute in "Microsoft.Commpute/virtualmachines"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c08741f-dfb3-bcd0-1edd-70a2696a310a
* Version Independent ID: e21fbe12-fef9-41e6-a5f6-3cfbaa77f0c6
* Content: [View and use a virtual machine's Azure Resource Manager template](https://docs.microsof

[2019-03-29 11:28] limjianan opened #28332 "blocking exchange online and sharepoint online effectively"
this document should highlight as it is best to use block legacy authentication for most things - https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/block-legacy-authentication

This article are old and using ADFS as most blocking mechanism

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad5f26dc

[2019-03-29 11:31] AshokPeddakotla-MSFT commented on #28330
@mibarg Thanks for the feedback and reporting this. We are currently investigating and will update you shortly.

[2019-03-29 11:31] SadiqhAhmed-MSFT commented on #28295
@dcbrown16 Thanks for the comment! We will check on this and get back to you soon.

[2019-03-29 11:32] SadiqhAhmed-MSFT commented on #28295
@msvijayn Could you please comment on this?

[2019-03-29 11:33] AshokPeddakotla-MSFT commented on #28329
@mibarg Thanks for the feedback and reporting this. We are currently investigating and will update you shortly.

[2019-03-29 11:33] hmg1 commented on #28127
Thank you.  The MLMIC technical team solved the issue and I have the
access I need.

Henry

On Fri, Mar 29, 2019 at 7:27 AM ShashiShailaj-MSFT
<notifications@github.com> wrote:

--
Henry Greenberg, MD
Special Lecturer
Department of Epidemiology
Mailman School of Public Health
Institute of Human Nutrition
College of Physicians
Columbia, University

[2019-03-29 11:33] AshokPeddakotla-MSFT commented on #28325
@mibarg Thanks for the feedback and reporting this. We are currently investigating and will update you shortly.

[2019-03-29 11:35] AshokPeddakotla-MSFT commented on #28324
@mibarg Thanks for the feedback and reporting this. We are currently investigating and will update you shortly.

[2019-03-29 11:35] shashishailaj commented on #27953
@RowdyChildren We will close this issue now. Should you have any further query , feel free to engage us in the conversation and we will be happy to help.

[2019-03-29 11:35] #27953 closed

[2019-03-29 11:36] SadiqhAhmed-MSFT commented on #28292
@KeiroKamioka0000 Thanks for the comment! We are investigating on this and will get back to you soon.

@snehithm Could you please comment on this?

[2019-03-29 11:36] AshokPeddakotla-MSFT commented on #28323
@mibarg Thanks for the feedback and reporting this. We are currently investigating and will update the doc as appropriate.

[2019-03-29 11:38] AshokPeddakotla-MSFT commented on #28322
@mibarg Thanks for the feedback and reporting this. We are currently investigating and will update the doc as appropriate.

[2019-03-29 11:38] neeleshray commented on #28317
@danielhcx
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-29 11:38] shashishailaj commented on #28332
@limjianan Thank you for your feedback . We will have this reviewed and updated accordingly.

[2019-03-29 11:39] AshokPeddakotla-MSFT commented on #28321
@RationalAnarchist Thanks for the feedback and reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-29 11:41] AshokPeddakotla-MSFT commented on #28318
@kurtng Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-29 11:48] meyyazhagan opened #28333 "CI/CD automatic deployment for Dev ADF"
First of all, big thanks for nice article which really covers most of the area along with detailed note. I would like to understand more on Dev environment deployment. Is there any way to automate the dev environment deployment with Azure Pipeline without doing manual publish on Azure portal.

Kindly throw some lights on Dev pipeline automation. Thanks in advance!

---
#### Document Details

⚠ *Do

[2019-03-29 11:50] duk3ofed commented on #28234
Thanks for the clarification @iainfoulds. That all makes sense.

[2019-03-29 11:50] #28234 closed

[2019-03-29 11:51] jakaruna-MSFT commented on #27904
@tiholm Thanks for your detailed feedback.
I will assign the issue to the content author to update the document as appropriate.

[2019-03-29 12:00] #28252 closed

[2019-03-29 12:06] AshokPeddakotla-MSFT commented on #28294
@SeaDude Could you please check with any other coordinates and update the result?

[2019-03-29 12:07] BhargaviAnnadevara-MSFT commented on #28331
@huzzeytech Thanks for bringing this to our attention! We shall check and update this as appropriate.

[2019-03-29 12:10] jakaruna-MSFT commented on #28326
@nawolfin you have commented on the review link (https://review.docs.microsoft.com).
Once that merges with the public documentation, That Cli URL will be fixed automatically.

[2019-03-29 12:19] nawolfin commented on #28326
@jakaruna-MSFT - could you please give some more details ? I didn't understand what you mean by the "review link", the link you added "https://review.docs.microsoft.com" was not found (404) as well

[2019-03-29 12:30] anmtando opened #28338 "Debug Data Flow Activity"
When I run the dataflow using Data Flow activity, I am unable to see the debug details. It shows an error "ERROR LOADING DATA FLOW"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d60ca6a-bd64-a782-5c9a-4c2652a6d9a5
* Version Independent ID: 7239ee59-25fa-04cf-1423-f324fb429cdc
* Content: [Execute data flow activity in

[2019-03-29 12:38] jwargo commented on #18460
@lahsrah that's a great suggestion, I'll see what I can do about fixing it. #please-close

[2019-03-29 12:41] mdegrushe commented on #27956
@ChristianMontoya I am logging in from a non-domain joined laptop off of our corporate network.  When I click Logout it appears to log me out but then take me back to the Remote Desktop Web Client webpage and shows me all the resources available to me.  I would like it to totally log me out and force me to enter my credentials and MFA again.

[2019-03-29 12:42] MohitDhingra-MSFT commented on #28317
Hi @danielhcx,

For personal Microsoft account like outlook.com, the authentication request is processed by the Identity Provider like live.com. The Idp like Live.com does not return first name, last name and multiple other attributes and that is why you do not have this information automatically populated on the guest account with your azure AD. So if you need this information within your directo

[2019-03-29 12:48] avooca opened #28340 "Please update Endpoint URL List"
Brazil South, Japan West, etc are missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e517794d-c237-f052-8445-0280c2ba9ecd
* Version Independent ID: 36721ebd-be22-f1e6-882a-83f6d54a1b12
* Content: [Azure File Sync on-premises firewall and proxy settings](https://docs.microsoft.com/en-us/azure/storage/files/storage-

[2019-03-29 12:48] sujayvsarma opened #28341 "When is the NuGet package going to support the latest bits for Microsoft.Azure.Storage.Common ?"
The Microsoft.Azure.CosmosDB.Table's latest version is 2.1.0 and has a dependency on Microsoft.Azure.Storage.Common (&gt;= 8.6.0-preview && &lt;= 9.0.0.1-preview). However, Microsoft.Azure.Storage.Common's latest version is 9.4.2.

Because of the &lt;= constraint, the CosmosDB package will not install the latest Storage.Common package.

When is the CosmosDB package going to be updated to support t

[2019-03-29 12:53] sujayvsarma opened #28342 "Redirect to a custom directory - Multiple domains?"
Referencing the content under the heading "Redirect to a custom directory", is it possible to map different DNS records (A or CNAME or whatever is supported for the scenario) to different custom directories that are mapped under the "Virtual applications and directories" section?

For example, I'd like to:

contoso.com -&gt; \site\wwwroot
blogs.contoso.com -&gt; \site\blogs
cms.contoso.com -&gt; \

[2019-03-29 13:03] sachdevaswati commented on #28213
Hello @Sat0rN, this seems to be a bug, kindly raise a support ticket for us to debug.

[2019-03-29 13:08] mlottner commented on #28323
#sign-off

[2019-03-29 13:10] snehithm commented on #28292
It is supported. Please see https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-metric-near-real-time#metrics-and-dimensions-supported

[2019-03-29 13:14] msvijayn commented on #28295
@dcbrown16 Your question is answered with details in this article: [https://docs.microsoft.com/azure/azure-monitor/platform/alerts-understand-migration#which-classic-alert-rules-can-be-migrated](https://docs.microsoft.com/azure/azure-monitor/platform/alerts-understand-migration#which-classic-alert-rules-can-be-migrated)

[2019-03-29 13:26] bgxie opened #28344 "Random text returns "English" with a score of 1.0 rather than "unknown""
If I submit a string of pure Arabic numerals I get an "(unknown)" result   as described above.
However, if entering any other non-sensical text, like ":) :( :D" I get "English" with a score of 1.
This is not as described in the API documentation and seems to be a bug in the API.

As soon as there is any alphabetical character in the input (e.g. "12345T"), the detection result is English.

For the

[2019-03-29 13:36] AshokPeddakotla-MSFT commented on #28323
@mibarg PR has been created to update the document.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-29 13:36] #28323 closed

[2019-03-29 13:36] PramodValavala-MSFT commented on #28246
@CeciAc Thanks for catching that! We will review and update the doc accordingly.

[2019-03-29 13:55] ThirstyAdmin commented on #25298
Hey Just following up,

I have hierarchical namespace enabled and going through the REST API listed in this document https://docs.microsoft.com/en-us/rest/api/storageservices/datalakestoragegen2/filesystem/create

will not work as i receive the following error message:
Invoke-RestMethod : BlobApiNotYetSupportedForHierarchicalNamespaceAccountsBlob API is not yet supported for hierarchical namespace

[2019-03-29 13:56] AshokPeddakotla-MSFT commented on #28330
PR has been created to update the document.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-29 13:56] #28330 closed

[2019-03-29 14:14] tbolon commented on #28297
This is not cool. Security Center suggests to enable auditing on the server level (recommendation "Enable auditing on SQL server"). Only a small sentence at the end of this documentation page states about the fact that all queries are logged (seriously). If auditing means simply logging every request made against the database, this should not be encouraged at a server level.

Perhaps this feature

[2019-03-29 14:14] AndyFromVolvo opened #28345 "Storage Account Name Drop Down Not Populating (#12453 again)"
Hello,

I have the exact same issue as the one below:
https://github.com/MicrosoftDocs/azure-docs/issues/12453

Te attempt to resolve it was made by @douglaslMS and @djpmsft .

The issue was closed, as per below comment:

The workaround was to do it from an account of another user. Unfortunately, I don't have any users that can do that for me. Could you please help me with that?

Regards,
Andy

--

[2019-03-29 14:18] StingyJack opened #28347 "How can this list be exported?"
Its kind of hard to document without this ability

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 100228be-3a7f-ca84-3fe4-f3e537b27030
* Version Independent ID: 73602e3b-9ecb-05cf-ec63-e89ca1f78218
* Content: [Performance recommendations - Azure SQL Database](https://docs.microsoft.com/en-us/azure/sql-database/sql-datab

[2019-03-29 14:48] Tratcher commented on #27780
This is tracked here: https://github.com/aspnet/AspNetCore/issues/4135, including workarounds.

[2019-03-29 14:52] MZDN opened #28351 "how to enable Enable SyslogConsumer?"
Unfortunately couldn't find a doc about how to enable syslogconsumer for linux sf cluster. This link couldn't help:
https://docs.microsoft.com/bs-cyrl-ba/azure///service-fabric/service-fabric-diagnostics-oms-syslog
Any help?

---
#### Детаљи документа

⚠ *Не уређујте ову секцију. Она је неопходна за повезивање проблема слиједом docs.microsoft.com ➟ GitHub.*

* ID: 79396c72-63c9-667e-16f7-c01272cd5

[2019-03-29 14:55] BhargaviAnnadevara-MSFT commented on #28351
@MZDN Thanks for the question! We're investigating this and will get back to you shortly.

[2019-03-29 14:55] bandersmsft commented on #28328
Investigating.
#in-process

[2019-03-29 14:59] VanMSFT commented on #25302
#please-close

[2019-03-29 14:59] SeaDude commented on #28294
Yes. I just tried with the following coords:
`32.85958089`
`-97.32523147`
Both as an int and string. SAME RESULTS!

[2019-03-29 15:01] SeaDude commented on #28294
T-minus 2 hours till demo!

[2019-03-29 15:01] AlekseySokol opened #28352 "Number of AD forest supported"
Hello
We have one Azure AD connect server, one tenant, and ADFS4.0 cluster.
Could you please clarify the following points:
1) how many AD forest I could be able to sync to Azure AD?
2)Do you I need configure additionally on ADFS side?
3) Currently Azure AD Connect server configured for ADFS, if I'll add additional forests do I need to switch to Password Hash Sync options in order to provide SSO fu

[2019-03-29 15:04] nelfer commented on #27780
Fantastic! Thank you @Tratcher  and @jmprieur

[2019-03-29 15:04] Alberto-Vega-MSFT commented on #28103
@santoki-darshan Thanks for reaching out! I am glad you resolved your issue. @arjantent I'm afraid that as for now you will need to use the underlying IoT Hub that ADT creates for you. This information from Digital Twins team should be useful: https://feedback.azure.com/forums/916621-azure-digital-twins/suggestions/35996413-explain-how-to-access-the-iot-hub-created-by-the-s
I am afraid that I do n

[2019-03-29 15:07] Alberto-Vega-MSFT commented on #28225
@ganniaiuei Thanks for taking the time to provide us feedback!

[2019-03-29 15:10] YASWANTHM-MSFT commented on #28340
@avooca, Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-29 15:10] jaryder commented on #28288
@KetanChawda-MSFT
Thank you for the swift response and the pointers!  The suggestions you provided did increase the logging I was seeing but it is still not what I need.  My apologies - I was in a hurry when composing the initial issue.
Here is some more information:
I am writing a Function App in python that I would like to host using a custom image.  I have done the initial development locally,

[2019-03-29 15:15] tannersatch commented on #28072
Sorry, I commented on this post after it was closed because I didn't refresh the page.

Thanks all for the help. Got this working now. Found a post here: https://techcommunity.microsoft.com/t5/Windows-Virtual-Desktop/Windows-Virtual-Desktop-Your-computer-can-t-connect-to-Remote/m-p/389954#M87

Turns out, my issues were with AD Connect. Set up AD Domain Services instead, and it works great.

[2019-03-29 15:18] spelluru commented on #28331
Thank you for submitting the PR against the azure-docs repo:
https://github.com/MicrosoftDocs/azure-docs/pull/28335#issuecomment-477978587

I have signed off on it. The update should be merged soon.

#please-close

[2019-03-29 15:20] BhargaviAnnadevara-MSFT commented on #28345
@AndyFromVolvo Thank you very much for bringing this to our attention! I've routed this to the appropriate Team to investigate and update.

[2019-03-29 15:21] YASWANTHM-MSFT commented on #28319
@AdamSharif-MSFT, Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-29 15:22] #28324 closed

[2019-03-29 15:22] Alberto-Vega-MSFT commented on #28249
Hi @smoms  I'm sorry I'm afraid that I am not following your last request. Are you asking for help to get an answer for your post? https://feedback.azure.com/forums/321918-azure-iot/suggestions/37233724-iot-hub-twin-event-driven-update

[2019-03-29 15:23] AshokPeddakotla-MSFT commented on #28324
PR has been created to update the document.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-29 15:24] #28331 closed

[2019-03-29 15:24] smoms commented on #28249
@Alberto-Vega-MSFT  yes. Here or there would be great. thanks

[2019-03-29 15:24] AshokPeddakotla-MSFT commented on #28325
PR has been created to update the document.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-29 15:24] #28325 closed

[2019-03-29 15:25] AshokPeddakotla-MSFT commented on #28329
PR has been created to update the document.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-29 15:25] #28329 closed

[2019-03-29 15:36] slynickel commented on #28227
@Mike-Ubezzi-MSFT I think I'm following but let me make sure I understand.

The following line in the same document implies that Cosmos DB is backed by Azure storage, it follows that Azure storage uses AES 256, therefore Cosmos DB uses AES 256?

My feedback then would be that the document doesn't explicitly say that the primary database are stored on Azure Blob Storage (which uses AES 256). It jus

[2019-03-29 15:43] PsyhoLord commented on #28158
Also, need to missing instructions here.
All that I prepared in doc
OneDrive: https://1drv.ms/w/s!AoT9U2Pa3zHNhNtgQ0Pj1zBxecfzpA
Git: https://github.com/PsyhoLord/AzureNotificationHub/blob/master/MissingInformation.docx
Or maybe review, and leave most important

[2019-03-29 15:44] PsyhoLord commented on #28158
Without permissions in Manifest - it is not registering at an azure notification hub

[2019-03-29 15:45] stofte commented on #6402
@samueltuyizere If your API/UI doesn't accept the dot, yes, you can PROBABLY leave it out. It's more of a convention then anything. Eg most browsers should accept the address "https://www.google.com." (Note the trailing do, it still goes to the regular google.com ofc).

[2019-03-29 15:48] spelluru commented on #28158
@PsyhoLord - Yes. Thanks very much. I used your doc to get it working for me, updated the article, and tested it again. I think we should be good with the article now. The PR into azure-notificationhubs-dotnet repository should be merged soon with the updated sample code.

[2019-03-29 15:49] rimman commented on #28227
The primary data, indexes, all the replicas are stored on local storage - SSDs and are encrypted by default.
Backups (see here https://docs.microsoft.com/en-us/azure/cosmos-db/online-backup-and-restore  are stored for more details) are stored in Azure Blob storage and also encrypted by default. Let me know if you need further clarification. Thanks.

[2019-03-29 15:50] PsyhoLord commented on #28158
Great! Have a good day

[2019-03-29 15:57] iainfoulds commented on #28326
@nawolfin Please don't use GitHub issues for this. Follow up with me offline.

#please-close

[2019-03-29 16:04] Grace-MacJones-MSFT commented on #28158
@PsyhoLord thanks for your detailed feedback and helping us improve our documentation. @spelluru Thanks for updating the documentation.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-29 16:04] #28158 closed

[2019-03-29 16:07] mores opened #28355 "V2 - idToken signature can be verified - accessToken signature is invalid"
I am currently able to verify the JWT idToken that is returned from the v2.0 endpoint.

When I try to verify the JWT accessToken the same way I am getting: Signed JWT rejected: Invalid signature

Is there a different set of keys needed to verify the accessToken ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 628db02d-

[2019-03-29 16:12] Mike-Ubezzi-MSFT commented on #28347
@StingyJack Thank you for your inquiry. Are you looking to export any of the recommendations and information provided via the tools/processes detail in the document? Or are you looking to export something specific?
The Azure Portal does provide a list of recomandations that are being advised when you have [Automatic Tuning](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-automatic

[2019-03-29 16:13] YutongTie-MSFT commented on #28344
@bgxie
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-29 16:15] CarlRabeler commented on #26858
@Mike-Ubezzi-MSFT please close

[2019-03-29 16:16] AshokPeddakotla-MSFT commented on #28294
@SeaDude If you want to retrieve only POI results around a specific location, the nearby search method may be the right choice. This endpoint will only return POI results, and does not take in a search query parameter. See [Search - Get Search Nearby](https://docs.microsoft.com/en-us/rest/api/maps/search/getsearchnearby). Let us know if that helps.

[2019-03-29 16:17] CarlRabeler commented on #26541
@Mike-Ubezzi-MSFT please close. Engineering will be making an update to this PowerShell content

[2019-03-29 16:17] CarlRabeler commented on #28079
@Mike-Ubezzi-MSFT please close

[2019-03-29 16:18] CarlRabeler commented on #25302
@Mike-Ubezzi-MSFT please close

[2019-03-29 16:18] AjayKumar-MSFT commented on #27911
@sujayvsarma, We had been discussing on this internally, the referenced docs would be updated to reflect the new API version soon. Thanks again for a great feedback, it’s highly appreciated. We will close this out, but if you feel you need more information please just let us know.

[2019-03-29 16:18] Mike-Ubezzi-MSFT commented on #28341
@sujayvsarma Thank you for the detailed inquiry. This is a popular question. Let me investigate this to get you a thorough answer given the dependencies and all the moving parts this library is associated with.

[2019-03-29 16:19] CarlRabeler commented on #28283
@Mike-Ubezzi-MSFT please assign to @VanMSFT

[2019-03-29 16:21] CarlRabeler commented on #27047
@Mike-Ubezzi-MSFT Please close
@stevestein please review for any nice to have doc updates

[2019-03-29 16:24] LuisCabrer commented on #28088
@xizhengszhang I will create a bug on the product team related to this. Thanks for the feedback.

[2019-03-29 16:25] rachel-msft commented on #28185
Thanks for confirming.

#please-close

[2019-03-29 16:25] Mike-Ubezzi-MSFT commented on #28341
@sujayvsarma I do want to point out that there is a published workaround to this issue in the [Troubleshooting](https://docs.microsoft.com/en-us/azure/cosmos-db/table-sdk-dotnet#troubleshooting) chapter. I am going to track down a date as to when this workaround is not required.

[2019-03-29 16:35] shmahanta commented on #27047
Thanks @johnpaulkee .
@stevestein It'll be great to clarify this point in the documentation.

[2019-03-29 16:37] #11117 closed

[2019-03-29 16:37] #18460 closed

[2019-03-29 16:37] #25302 closed

[2019-03-29 16:38] #28326 closed

[2019-03-29 16:38] #9536 closed

[2019-03-29 16:38] #9886 closed

[2019-03-29 16:47] sandeepshivhare opened #28356 "Not able to sign using above steps."
Getting below error when trying to login after following above mentioned steps. Screenshot of Azure AD is also of earlier version.

"Sign in
Sorry, but we’re having trouble signing you in.
AADSTS650056: Misconfigured application. This could be due to one of the following: The client has not listed any permissions for 'AAD Graph' in the requested permissions in the client's application registration

[2019-03-29 16:50] woutervanranst commented on #13715
Suggestion to update the documentation to include the information on DHCP, DNS, Default Gateway

[2019-03-29 16:50] CarlRabeler commented on #22943
@Mike-Ubezzi-MSFT please assign to @stevestein

[2019-03-29 16:51] AshokPeddakotla-MSFT commented on #28294
@SeaDude You are calling the parameter "lon" as "long". Correct parameter is "lon". Please check this and update. See [URI Parameters](https://docs.microsoft.com/en-us/rest/api/maps/search/getsearchpoicategory#uri-parameters)

[2019-03-29 16:53] woutervanranst opened #28357 "IP Address Reservation"
The doc mentions "along with the x.x.x.1-x.x.x.3 addresses of each subnet" but this should probably be updated to "the first four" addresses to 1/ account for eg a 192.168.2.64/26 subnet and 2/ be in line with https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-ip-addresses-overview-arm

A private IP address is allocated from the address range of the virtual network subnet a res

[2019-03-29 16:53] CarlRabeler commented on #27472
@Mike-Ubezzi-MSFT please close

[2019-03-29 16:54] VanMSFT commented on #28283
Thanks @mpsingh24! I added MFA is supported by Managed Instance.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/71369

Thanks again!
#please-close

[2019-03-29 16:58] nero120 opened #28358 "How to avoid creating an empty file when using Blob Stream function output?"
I am running an async method inside of my class function, to which I am passing the Blob output Stream object, i.e:

[code]

However `myAsyncFunction` sometimes doesn't need to do write to the `fileOutputStream` depending on certain conditions. In this case it always creates an empty file but I would like to avoid creating a file at all.

How do I accomplish this?

---
#### Document Details

⚠ *Do

[2019-03-29 17:06] stevestein commented on #22943
@johnpaulkee - can you provide any info here?

[2019-03-29 17:07] SumanthMarigowda-MSFT commented on #28327
@techiearun Thanks for the question! We are investigating and will update you shortly.

[2019-03-29 17:20] mattfortech commented on #28278
@RohitMungi-MSFT Thank you so much for your help. I am using the .NET SDK quickstart guide as a hybrid approach (console instructions to web app implementation) in the meantime. As I mentioned, I keep getting the 'Not Found' output. I am just not sure if this is a result of the missing "Default" option or if I am doing something wrong?
It's not much more than 20 lines of code, I am wondering if I

[2019-03-29 17:21] stevestein commented on #27047
@shmahanta - thanks for bringing up this issue. JP's info has been added to the article. Should be live before the end of day.
![image](https://user-images.githubusercontent.com/9388190/55250780-3bed3f80-520c-11e9-8054-9fc58f939825.png)

Thanks!

[2019-03-29 17:21] Alberto-Vega-MSFT commented on #28318
Hi @kurtng this question it's better suited for developer forums like StackOverflow or MSDN were there is a community that can help. This forum is dedicated to fix documentation issues. Just out of curiosity what is your OS? this issue on VS Code repo might help https://github.com/OmniSharp/omnisharp-vscode/issues/2846

[2019-03-29 17:24] KingdomOfEnds commented on #28243
Thanks @adashen - You are correct. Several white spaces were introduced (between arrow functions and template strings) causing the errors. A new line character (between import statements) prevented the characters from appearing. Should have caught that. I am testing again now. Much appreciated!

[2019-03-29 17:29] #26858 closed

[2019-03-29 17:30] Mike-Ubezzi-MSFT commented on #26541
@A144546 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-29 17:30] #26541 closed

[2019-03-29 17:40] MarileeTurscak-MSFT commented on #28304
@Leon99
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-29 17:41] MarileeTurscak-MSFT commented on #28306
@Leon99
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-29 17:43] #28243 closed

[2019-03-29 17:46] SeaDude commented on #28294
@AshokPeddakotla-MSFT , thank you very much.
**RE: "lon" vs. "long":** I received a successful response. Feels like if my query parameter was incorrect, it would not resove.
**RE: GET Search Nearby:** I'd love to use this, but I don't see a way to specify a particular POI type. I only need HEALTH_CARE_CENTERS. Do you see how to specify POI?

[2019-03-29 17:49] ChristianMontoya commented on #27956
@mdegrushe : Interesting...your behavior is what **should** be occurring. At the moment, we don't have official support or cases, but I'll work with the team to help resolve this, since your desired experience is what we want for our users.

[2019-03-29 17:49] j-martens commented on #22444
Perhaps the user forum would result in a quicker response? @YutongTie-MSFT

[2019-03-29 17:50] j-martens commented on #25219
@YutongTie-MSFT - no response to our question for clarification. #please-close.

[2019-03-29 17:51] j-martens commented on #26758
@xiaoharper - Harper, can you please provide clarity to the user here?

[2019-03-29 17:52] jeevansd commented on #28356
@sandeepshivhare This error means that you have wrongly configured the application in Azure AD. Please make sure that the Identifier value for the app matches to the SAML Issuer value which you are getting in the SAML Request. After that the error message should go away.

Please let us know how this goes after making this change.
Thanks.

[2019-03-29 17:53] slynickel commented on #28227
@rimman Hi, the only clarification I'm looking for is what level of block cypher is used for the encryption of primary data, indexes and replicas, AES 256? When I tell a client that I use a database platform (any database platform) they always seem to want to know the block cypher is AES 256.

*As an aside I realize this is somewhat pedantic. That said it would save me time in security discussions

[2019-03-29 17:55] Mike-Ubezzi-MSFT commented on #28283
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-29 17:55] #28283 closed

[2019-03-29 17:58] Mike-Ubezzi-MSFT commented on #27472
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-29 17:58] #27472 closed

[2019-03-29 18:04] roygara commented on #28115
@jamesapicken thanks for bringing this to our attention, we appreciate it! I looked into it and concluded this is in GA. I'll update the doc to reflect that soon.

[2019-03-29 18:05] MicahMcKittrick-MSFT commented on #28351
@MZDN what about this doc did not help? There specifically is a portion for enabling it

https://docs.microsoft.com/bs-cyrl-ba/azure///service-fabric/service-fabric-diagnostics-oms-syslog#enable-syslogconsumer

Can you provide more details on what you are looking for and what is not working?

[2019-03-29 18:06] KingdomOfEnds opened #28361 "Corrected Step"
One of the steps above instructs the user to find their "Edge Hub".

![Capture](https://user-images.githubusercontent.com/43044425/55253482-ae611e00-5212-11e9-8c28-80c5abe1a992.PNG)

I've attempted to correct that to "IoT Hub" (where their Edge devices are now located). PR opened here for this: https://github.com/MicrosoftDocs/azure-docs-pr/pull/71385.

Secondly, I don't see "Edge Hub" (or even my

[2019-03-29 18:06] MicahMcKittrick-MSFT commented on #28286
@Ayanmullick I will close for now. Thank you again for all the feedback you give on the docs. It really does help us prioritize and improve them.

I have made sure to send this feedback to the product teams as well and as we move out of preview you will see more examples :)

[2019-03-29 18:06] #28286 closed

[2019-03-29 18:06] MicahMcKittrick-MSFT commented on #28128
@jfalameda any update on this?

[2019-03-29 18:13] AshokPeddakotla-MSFT commented on #27984
@saikovvuri  Did you get a chance to see the above response? We hope your query is addressed. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-29 18:13] #27984 closed

[2019-03-29 18:13] CarlRabeler commented on #21565
Azure SQL Database (all deployment options) is compliant with FedRAMP and other compliance standards - for more information, see https://www.microsoft.com/en-us/TrustCenter/Compliance/FedRAMP and  https://gallery.technet.microsoft.com/Overview-of-Azure-c1be3942

[2019-03-29 18:14] himanshusinha-msft commented on #28338
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-03-29 18:15] MarileeTurscak-MSFT commented on #28355
@mores
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-29 18:15] himanshusinha-msft commented on #28320
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-03-29 18:16] MarileeTurscak-MSFT commented on #28352
@AlekseySokol
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-29 18:17] himanshusinha-msft commented on #28333
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-03-29 18:17] roygara commented on #28115
I've just merged the change, it should go live by the EoD. Accordingly:

#please-close

[2019-03-29 18:19] j-martens commented on #28159
@xzhu1900 what version of the SDK do you have installed?

[2019-03-29 18:20] YutongTie-MSFT commented on #25219
@KeiroKamioka0000
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-03-29 18:20] #25219 closed

[2019-03-29 18:23] YutongTie-MSFT commented on #22444
@nnmer Could you please post your question to our forum https://social.msdn.microsoft.com/Forums/en-US/home?forum=MachineLearning if you are still suffering from this issue? We can help there. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-03-29 18:23] #22444 closed

[2019-03-29 18:24] Karishma-Tiwari-MSFT commented on #28115
Thanks @roygara
@jamesapicken The changes will be live shortly.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-03-29 18:24] #28115 closed

[2019-03-29 18:24] mdegrushe commented on #27956
@ChristianMontoya One other thing.  Even after logging out and closing the browser on this laptop, if I go to the Start menu and click on the Session Desktop(MyTenant) app it will prompt me for my username and password and allow me to login and access the desktop.  The prompt is what you would see if using normal RDP on your internal network, it is not the Modern Authentication with MFA that I see

[2019-03-29 18:24] YutongTie-MSFT commented on #27945
@hanzallah-ashaar
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-03-29 18:24] #27945 closed

[2019-03-29 18:29] xzhu1900 commented on #28159
@j-martens

Below is my sdk version information:

1.0.21

[2019-03-29 18:32] ChristianMontoya commented on #27956
@mdegrushe : Yes, that is also correct. The Modern Authentication with MFA should have already happened when you first signed in to the Remote Desktop client for Windows 7 and Windows 10. If your Azure AD token expired or you hit additional policy, you would see that same Modern Authentication/MFA flow as well.

[2019-03-29 18:38] j-martens commented on #28147
@yanrez - what is the desired change please?

cc: @Blackmist

[2019-03-29 18:41] scottnienhuis opened #28362 "Missing word from Note under Test the Custom Host Names"
The sentence "otherwise your browser may attempt predict a URL for you!" is missing the word "to" between "attempt" and "predict."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f40788e0-33cd-2bd0-f2a0-4254123a714a
* Version Independent ID: c7fb7321-2873-6aaa-ab5d-57aeee075e90
* Content: [Tutorial - Create custom Azure

[2019-03-29 18:42] mdegrushe commented on #27956
@ChristianMontoya So even though I logged out on the Web Client, not the desktop client, and closed the browser the Azure AD token is still alive?  I would think that we would want the Logout to kill the Azure AD token so that the user sees the Modern Authentication/MFA flow the next time they login via the browser or just opening the Session Desktop from the start menu.

[2019-03-29 18:44] AjayKumar-MSFT commented on #28081
@xizhengszhang, Thanks again for your feedback! We went ahead and made an update to the doc. The update should be public soon, so we will close this out, but if you feel you need more information please just let us know.

[2019-03-29 18:44] #28081 closed

[2019-03-29 18:45] MartinJaffer-MSFT commented on #28070
I see where you pulled this from.
https://forums.databricks.com/questions/16546/you-cannot-use-dbutils-within-a-spark-job-or-other.html

[2019-03-29 18:47] ChristianMontoya commented on #27956
@mdegrushe : In terms of the web client, yes, that is what we should be doing. "From the start menu" is a different story since the initial token you get from doing the Modern Authentication/MFA is a longer-last token that is then used to then access specific services. Browsers are much more limited and contained, so we can do that.

[2019-03-29 18:52] AjayKumar-MSFT commented on #28285
@SameerDoshi, Thanks for posting the question here and sharing the solution that worked. Kindly do let us know if you need further assistance on this issue.

[2019-03-29 18:54] jamesapicken commented on #28115
Thank you both – good to hear this is GA.

From: Karishma Tiwari - MSFT <notifications@github.com>
Sent: Friday, March 29, 2019 6:25 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: James Picken <James.Picken@simcorp.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Managed Disks and ASR (#28115)

Thanks @roygara<https://github.com/roygara>
@jame

[2019-03-29 18:58] StingyJack commented on #28347
I want to be able to export or copy the recommendation list from the SQL database panels/pages so I can circulate it for review or comments.

I managed to Ctrl+click each item and then screen cap those and paste into an Excel workbook, but it seems like something that probably has an easier way to go about it than that.

[2019-03-29 19:04] AndyEdmonds opened #28363 "Login paths not working for all except Microsoftaccount"
I have set up a test web app with microsoftaccount, facebook and twitter access. The login pages at /.auth/login/facebook and /.auth/login/twitter are returning 404s.  The microsoft account endpoint works.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4518495-4e07-ce2e-4045-5a50b7922b55
* Version Independent ID: 034d

[2019-03-29 19:12] MartinJaffer-MSFT commented on #28320
As per [the data base documentation](https://docs.microsoft.com/en-us/sql/odbc/microsoft/column-name-limitations?view=sql-server-2017):

Have you tried quoting the whitespace-containing column names?

[2019-03-29 19:14] TravisCragg-MSFT commented on #28315
@wenchengchuang could you elaborate on what you mean by "internal divisions"?

[2019-03-29 19:16] himanshusinha-msft commented on #28345
@AndyFromVolvo : Unfortunately we are still not able to repro this issue ,anyways do you think you can select the "Account select method " as "Enter Manually"  & enter the details ? it should be in the below format .

`/subscriptions/<<get the subscriptionid>>/resourceGroups/<<get the resourceGroup>>/providers/Microsoft.Storage/storageAccounts/<<StorageAccountName>>`

If you use the portal and nav

[2019-03-29 19:17] mdegrushe commented on #27956
@ChristianMontoya More info.  I rebooted the laptop and find that the Session Desktop from the Start Menu is still just prompting for the username and password via a popup.  I really like what this product is doing so far but I think there is going to be an issue if we can't fully logout the Browser and the Start Menu apps and force the Modern Authentication/MFA flow.

[2019-03-29 19:20] MarileeTurscak-MSFT commented on #28342
@sujayvsarma
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-29 19:22] Paakow789 opened #28365 "GetCredentialsAsync confusion"
The content of the GetCredentialsAsync function shown on this page is actually under another function name in the actual code entitled CreateMediaServicesClientAsync. Is this a mistake or has the convention for this process changed?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cda66a82-305c-262b-eae4-be2cf9068b38
* V

[2019-03-29 19:22] ChristianMontoya commented on #27956
@mdegrushe : Just to clarify, launching from the Start Menu is dependent on how long your Azure AD token is valid on your box: https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetimes . By default, tokens/credentials are stored/cached past reboot. I believe the action item on us is to give guidance depending on the scenarios that we would see fr

[2019-03-29 19:27] kgremban commented on #27696
@mill5james I'm surprised to see this issue because I have seen both versions working successfully. It's also not just relevant to this code sample, but would mean that something has changed in the IoT Hub message routing query language.

What method are you using to deploy? The Azure portal, Visual Studio/Visual Studio Code, CLI, etc? Perhaps some tool you're using needs the curly brackets in ord

[2019-03-29 19:27] onovotny opened #28366 "Please update this doc to remove use of Enivornment.Username"
App Insights does not recommend using any PII as the User ID. The Environment.Username is very likely to contain all or part of a person's name and is thus likely to be PII.

Please update the docs to suggest some form of hashed value instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 516c83d5-29e4-4594-8431-18e90

[2019-03-29 19:29] mill5james commented on #27696
we use a deployment.json from azure cli and VS Code

[2019-03-29 19:29] hjlarrea opened #28367 "Is there a way to enable Advanced Threat Protection using something else than the portal?"
I've evaluated different options like, ARM Templates, azcli and using the management.azure.com REST API. But for now it seems that the only available way to enable ATP is using the portal. Is this correct? And if so, is there an ETA on when other options will be available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-03-29 19:32] mganeshphani commented on #28150
@Karishma-Tiwari-MSFT  Any update on this?

[2019-03-29 19:33] kgremban commented on #27696
Very strange. I don't think this means that system properties must always have curly brackets, but that there are some scenarios in which curly brackets are needed. I'll change the code sample to cover those corner cases, but will keep the system property syntax explanation as-is. Does that work for you?

[2019-03-29 19:33] rolyon commented on #28186
Hi @neeleshray @MicrosoftDocs/azure-cxp-triage
Correct. RBAC does not have a built-in role with Collaborator in the name. It probably is Contributor.
https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles
You can assign this feedback to author to update the article as needed.

[2019-03-29 19:37] mill5james commented on #27696
Sure. This just caused issues where we literally cut-and-pasted from the documentation into the deployment.json and it did not work. It took a second reading with some trial and error to get the routing working. But then again, my team is doing identity translation on the edge and there is no documentation for that anywhere. :)

[2019-03-29 19:38] TravisCragg-MSFT commented on #28357
@woutervanranst Thanks for the feedback! I have assigned this issue to the doc author to evaluate and update as appropriate.

[2019-03-29 19:38] CeciAc commented on #7722
@tysonn @DavidPrio there is no action items on this issue, please clarify on how should we proceed from here.

[2019-03-29 19:39] allencodes commented on #28100
Yes I see it now. I was unaware that I had disabled the public IP for these
VMs.

On Thu, Mar 28, 2019 at 1:24 PM KARTHIK SRINIVAS <notifications@github.com>
wrote:

[2019-03-29 19:41] YutongTie-MSFT commented on #28064
@JoshuaMcNichols Hi, does [this tutorials](https://github.com/Azure-Samples/jfkfileshooverbot#customizing-speech-synthesis) you were using and thought it is out of date?

Does [this document]( https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-customize-pronunciation) help?

[2019-03-29 19:41] MarileeTurscak-MSFT commented on #28352
Hi @AlekseySokol

1. The hard limit is 1023 Connectors. But it is going to be impractical to manage that many long before you hit the hard limit. For now 60 forests should be fine.

1.2 The only thing at the ADFS level is an additional claim rule to make sure the ID of the domain is the right one in the user's token. This rule is automatically created by the Azure AD Connect wizard. You just need

[2019-03-29 19:41] CeciAc commented on #8582
Hello, @cchensh

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

@DavidPrio FYI

[2019-03-29 19:42] MarileeTurscak-MSFT commented on #28352
Hope this helps. We will now proceed to close this thread. If you have further questions feel free to tag me in the comments or reach out to me on [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD).

[2019-03-29 19:42] #28352 closed

[2019-03-29 19:45] CeciAc commented on #9419
@tysonn @DavidPrio there is no action items on this issue, please clarify on how should we proceed from here.

[2019-03-29 19:48] CeciAc commented on #12308
@tysonn @DavidPrio there is no action items on this issue, please clarify on how should we proceed from here.

[2019-03-29 19:50] SaurabhSharma-MSFT commented on #27943
@Jnchi Have you given Admin consent to 'Directory.Read.All' permissions ?

[2019-03-29 19:50] Ayanmullick commented on #28286
I almost got the extension to work. For me, it just keeps prompting for login and never the password.

![image](https://user-images.githubusercontent.com/17693249/55258812-50e0c780-523a-11e9-9ca9-b9572766324e.png)

[2019-03-29 19:50] TravisCragg-MSFT commented on #28362
@scottnienhuis Thanks for the feedback! I have added the missing "to". The doc should reflect the change within 24 hours.

[2019-03-29 19:50] #28362 closed

[2019-03-29 19:53] msangapu commented on #12308
Hi team, I just checked and it seems the link got updated. It should be fine to close this item.

[2019-03-29 19:54] CeciAc commented on #12922
Hello, @Castermeek
 
Thank you for your feedback.
 
Our linguistic team reviewed your linguist suggestions and accepted them. We implemented your feedback and published to the updated articles on the Docs site to the following pages https://docs.microsoft.com/ja-jp/azure/active-directory/devices/hybrid-azuread-join-plan

We truly appreciate your contribution to our articles and we encourage you to

[2019-03-29 19:54] SaurabhSharma-MSFT commented on #27917
@monhaber @msmbaldwin can you please help.

[2019-03-29 19:54] CeciAc commented on #12922
#please-close
@DavidPrio @tysonn

[2019-03-29 19:56] Mike-Ubezzi-MSFT commented on #24460
@kazshi Best course of action is to reach out to askcosmosdb at microsoft.com where you will be issued a tracking ID, as previously advised.

[2019-03-29 19:56] Jnchi commented on #27943
Yes.

[2019-03-29 19:57] MrBananaGuard opened #28369 "Service Fabric Azure DevOps Release"
The documentation does not seem to cover everything. I am getting the following error after following the documentation:

![image](https://user-images.githubusercontent.com/18513849/55258762-74246a80-526c-11e9-851d-8d54d51f6a23.png)

Deployment Process:
![image](https://user-images.githubusercontent.com/18513849/55258840-b352bb80-526c-11e9-9a2f-0a53fdfd652a.png)

Service Fabric Application Deploym

[2019-03-29 19:57] yairt1974 commented on #28316
Thanks for the feedback. This issue should not be resolved. Please follow up if you still see an issue.

Yair Tor
Principal Program Manager
Windows Azure Networking

[2019-03-29 19:58] YutongTie-MSFT commented on #28242
@erhopf Hi Eric, please let me know if you are not the right person I should reach out for this suggestion, since Jann is not in the repo now. Thank you.

[2019-03-29 19:58] MikeForster100 commented on #27917
@SaurabhSharma-MSFT - It has picked up the windows 10 machine finally

[2019-03-29 19:58] #27917 closed

[2019-03-29 20:00] himanshusinha-msft commented on #28333
@meyyazhagan : The question which you have asked is more on the implementation of a particular scenario and we suggest you to use the community forums for that . You may find others  who may have already  implemented this .

At this time we are going ahead and closing this issue , you can always come back and reopen this .

[2019-03-29 20:02] mdegrushe commented on #27956
@ChristianMontoya Thanks Christian.  I think the actual issue may be related to Intune.  The laptop I am testing with is not Domain Joined but it appeared to be Azure AD registered.  When I removed it from Intune and tried to open the SessionDesktop Start Menu app I was prompted for Modern Authentication/MFA again.  Unfortunately I am forced to either register my device or just the app.  I chose t

[2019-03-29 20:04] MartinJaffer-MSFT commented on #28070
It sounds like you have answered your own question.
I have called the notebook whose screenshot I shared (and uses dbutils to get a secret), from Azure Data Factory, and Data Factory completed successfully.
Alternatively you can pass parameters to the Notebook from Data Factory, such as [described here.](https://docs.microsoft.com/en-us/azure/data-factory/solution-template-databricks-notebook).

[2019-03-29 20:04] #28070 closed

[2019-03-29 20:06] CeciAc commented on #13380
@tysonn @DavidPrio there is no action items on this issue, please clarify on how should we proceed from here.

[2019-03-29 20:06] sethmanheim commented on #22917
@Mahesh-MSFT Sorry for the slow response. Yes, it is indeed local for the ASDK. For cloud Azure, it would be the Azure region.

[2019-03-29 20:06] sethmanheim commented on #22917
#please-close

[2019-03-29 20:08] TravisCragg-MSFT commented on #22917
@Mahesh-MSFT We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-29 20:08] #22917 closed

[2019-03-29 20:09] CeciAc commented on #13808
@tysonn @DavidPrio there are no action items on this issue, please clarify on how should we proceed from here.

[2019-03-29 20:12] Alberto-Vega-MSFT commented on #28361
@KingdomOfEnds Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-29 20:13] CeciAc commented on #16981
@tysonn @DavidPrio there is no action items on this issue, please clarify on how should we proceed from here.

[2019-03-29 20:13] MicahMcKittrick-MSFT commented on #28369
@MrBananaGuard Can you provide me with the link to the documentation you are referring to?

[2019-03-29 20:15] BryanTrach-MSFT commented on #27604
@sybrenstuvel Thank you for your persistance on this matter. We discussed this internally and agreed that it should be changed to `docker run -p 8000:8000`.

The doc author has requested to take ownership of the feedback so they can redo the doc with the change and validate that it doesn't break the doc.

[2019-03-29 20:15] itacoredemo opened #28370 "How much time does Azure Resource Graph take to return resources from the subscription I was recently granted reader access"
I was added as reader role to a subscription and then I used AAD privilege identity manager to activate the access. The ARG query doesn't return me the resources of that subscription even after hours, while working for other subscriptions I have been having access. Is there anything I miss to pass through the permission control for ARG?

---
#### Document Details

⚠ *Do not edit this section. It i

[2019-03-29 20:17] msangapu commented on #27604
Thanks for the feedback @sybrenstuvel . I can see how that is confusing. I will get this updated and follow-up when finished.

[2019-03-29 20:17] himanshusinha-msft commented on #28338
@anmtando : At the end of the document they do have some info on how to debug , i just wanted to know if you have looked at that .

**Debugging parameterized data flows**

You can only debug data flows with parameterized datasets from the Pipeline Debug run using the execute data flow activity. Currently, interactive debug sessions in ADF Data Flow do not work with parameterized data sets. Pipelin

[2019-03-29 20:17] CeciAc commented on #17364
@DavidPrio there is no action items on this issue, please clarify on how should we proceed from here.

[2019-03-29 20:17] MrBananaGuard commented on #28369
Hi @MicahMcKittrick-MSFT,

I used the following documentation: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-deploy-app-with-cicd-vsts.

[2019-03-29 20:19] DCtheGeek commented on #28370
@itacoredemo Thanks for the question! Is your session still the same or did you start a new session after your account was given 'Reader' role on the subscription? If you haven't tried creating a new session, please do so.  If that doesn't work, I will likely have to direct you to a ticket as this is more a support problem.

@MicrosoftDocs/azure-cxp-triage Please assign to me, label 'product-quest

[2019-03-29 20:21] MicahMcKittrick-MSFT commented on #28369
@MrBananaGuard thanks! I will take a look and get back to you

[2019-03-29 20:21] itacoredemo commented on #28370
I tried these: in browser log out and log in, in powershell prompt az logout and az login, close the prompt and reopen, az login. Is that what you mean by new session.

[2019-03-29 20:23] scottstout opened #28371 "Please Delete this Issue"
There is no issue here. Need to delete.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1220843e-8e78-cbd8-3407-8f73d833f446
* Version Independent ID: e5d5272d-50c8-d1dd-1293-e6c0c6a6335f
* Content: [Quickstart: Run a Spark job on Azure Databricks using Resource Manager template ](https://docs.microsoft.com/en-us/azure/

[2019-03-29 20:23] mike-urnun-msft commented on #28358
Hi @nero120 Thank you for your feedback! We will review and update as appropriate.

[2019-03-29 20:24] CeciAc commented on #17432
@DavidPrio there is no action items on this issue, please clarify on how should we proceed from here.

[2019-03-29 20:24] Karishma-Tiwari-MSFT commented on #28077
@HowardHoffman Any update? Let me know if that helped.

[2019-03-29 20:25] scottstout commented on #28371
I'm wrong. There is a button that has a template behind it.

[2019-03-29 20:25] DCtheGeek commented on #28370
@itacoredemo Yes, that's what I meant. And can you confirm the subscription you aren't seeing resources for is part of the tenant you are connected to? You can do this with PowerShell `(Get-AzContext).Account.Tenants` or Azure CLI `az account show`.  Don't share the result here, just looking to confirm.

[2019-03-29 20:28] CeciAc commented on #22187
@DavidPrio there is no action items on this issue, please clarify on how should we proceed from here.

[2019-03-29 20:28] MartinJaffer-MSFT commented on #28338
Hello @anmtando .  Could you please give us some more information?
Do you see this message after pipeline completion?
Do you see this message during the run when you click on the glasses icon?
This message usually means there is something wrong in your Flow, or the sources it uses.

Do you see a message starting with "The private preview of Mapping Data Flows is disabled now..." ?

[2019-03-29 20:29] DCtheGeek commented on #28370
@itacoredemo Actually, one step farther.  If you do `az account list` from Azure CLI, does the subscription you were granted access to show up.  If it doesn't, then it's a different issue and not Resource Graph.

[2019-03-29 20:30] itacoredemo commented on #28370
the same tenant, i could see all resources from Azure portal, az account list shows that subscription

[2019-03-29 20:31] itacoredemo commented on #28370
az account show doesn't show that subscription

[2019-03-29 20:32] eraoul opened #28372 "It is difficult to see which Azure Marketplace images are supported"
For some reason, instead of giving a list of supported base images, or even some suggestions about what sorts of base images are allowed, this doc instead requires one to create a Batch account and then write code to form an authenticated GET request to a nodeagentskus function in the Batch API:

"To get a list of Azure Marketplace image references supported by Azure Batch, see the List node agent

[2019-03-29 20:35] #28365 closed

[2019-03-29 20:40] jaypatrick opened #28373 "Is ReFS On The Roadmap?"
Been waiting over a year for ReFS to be supported. This is the filesystem that MSFT is pushing for file servers to use for data volumes, but it's not even supported for this service? This is the only thing holding us back from doing a full on cloud tiering solution, but all of our file servers use ReFS for data volumes (per MSFT recommendation).

A roadmap for ReFS support would be great as we rea

[2019-03-29 20:41] g0pinath commented on #14638
Microsoft has a new feature that allows customers to initiate the failover. This is preview and isnt available on all regions yet. During the failover there will be an outage and data loss, and after the failover, the SA becomes LRS on destination side. You need to enable GRS so that the replication starts in the opposite direction after the failover.

[2019-03-29 20:41] Mike-Ubezzi-MSFT commented on #28367
@hjlarrea Thank you for the inquiry and your interest in Azure cloud services. Advanced Threat Protection can be accessed and managed via the [Azure portal](https://portal.azure.com/) and is currently in preview. With preview status, additional features and functionality might be rolled out at GA, such as PowerShell and AzureCLI functionality.

[2019-03-29 20:43] DCtheGeek commented on #28370
`az account show` is the default subscription context.  `az account list` shows all the subscriptions you have access to within the tenant.  If it's in `az account list`, it should be accessible via Resource Graph.  Two more questions:
- What version of the extension are you using?  Use `az extension list` in Azure CLI.
- If you specify the subscription, do you get the expected results?  Use `az g

[2019-03-29 20:43] jaypatrick opened #28374 "Evaluation Tool Passes Even If Path Scanned Is ReFS"
This documentation says ReFS is not supported, but your evaluation tool reports no issues even if the -path is an ReFS volume. This is misleading, the tool should warn (or report an error) if the -path is an ReFS volume.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1aa8c1f7-dc55-7129-95be-687a0b11a636
* Version Indep

[2019-03-29 20:44] erhopf commented on #28242
@Jann-Skotdal - Do you know the answer to this question? We can update docs accordingly.

[2019-03-29 20:45] KingdomOfEnds commented on #28361
Hi @Alberto-Vega-MSFT - Thanks yes. There's a step requiring that the hosting environment be set to "Edge". If that's selected at instance provisioning. The other items will appear as stated.

[2019-03-29 20:45] #28361 closed

[2019-03-29 20:46] itacoredemo commented on #28370
az extension list return []
i ran different query in powershell like Search-AzureRmGraph -Query "where subscriptionId =~ '<subid>'" -First 2000 and return nothing

[2019-03-29 20:51] jeevansd commented on #28300
@davidkklim Cisco WebEX and WebEx meetings are two different apps. I think you are getting confused here. So please use the correct app from the gallery. We have got both these documents verified by the Cisco Identity team.

[2019-03-29 20:51] jeevansd commented on #28300
#please-close

[2019-03-29 20:51] DCtheGeek commented on #28370
In Azure PowerShell, if you use this as the query `"summarize count() by tostring(subscriptionId)"`, is the subscription and a number returned?  Can you do `Get-Command -Module 'Az.ResourceGraph'` so we see what version of the module you have?

As a note, since you don't have the Azure CLI extension installed, you'll only be able to use Resource Graph from Azure PowerShell (since you do have that

[2019-03-29 20:52] swanderz opened #28376 "Where do the log files live?"
[I'd make a pull request and do this myself, but alas, the repo is not public.]

![image](https://user-images.githubusercontent.com/8158673/55262052-dd36be80-5229-11e9-8ca8-3f053f440f74.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4fd070b-ec93-be29-9361-302d383d6724
* Version Independent ID: b1854f9d-3426-104e-

[2019-03-29 20:53] yanrez commented on #28147
I think latest one is mcr.microsoft.com/azureml/base:0.2.4

[2019-03-29 20:55] vladvino commented on #28246
@PramodValavala-MSFT I don't see any issues in the English version of the article. Original report was made against the German translation. I don't know the language and thus can't help.

[2019-03-29 20:56] itacoredemo commented on #28370
the query doesn't return that subscription in the histogram;
Get-Command -Module 'Az.ResourceGraph' returns nothing, any other way to figure the module version?
No I don't have Azure CLI extension installed.

[2019-03-29 20:56] #28246 closed

[2019-03-29 20:57] alkohli commented on #28256
@medavamshi  For now only VMFS5 are supported (as those were tested inhouse). So will leave the docs as-is until the VMFS6 support comes in (as in those get tested).

@Adam-Smith-MSFT  #please-close  We were able to provide the info on when the files do not merge. Cannot change the docs until the product starts supporting VMFS6. Once that happens, the docs will be updated. Thanks!

[2019-03-29 21:00] alkohli commented on #28273
@medavamshi   We provided you the info on why you were seeing the error.

@SumanthMarigowda-MSFT #please-close
A resolution was provided as to why the user was seeing this error. In general, this would be a support call.

[2019-03-29 21:00] femsulu commented on #27923
Short answer is yes, but this is work in progress. Azure backup currently supports automatic exclusion of Write-Accelerator enabled disks (no user action required). During VM backup, Azure backup service automatically excludes the WA enabled disk and backs up the rest of the disks in a VM.
Additional work is planned around this feature in upcoming semesters so please stay tuned.

Refer to the appl

[2019-03-29 21:01] j-martens commented on #28376
@swanderz - thanks for reporting this missing content. We'll look into it. Oops!

[2019-03-29 21:01] femsulu commented on #27923
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-03-29 21:01] #27923 closed

[2019-03-29 21:03] kgremban commented on #27696
Yes, the product group is still working on the identity translation pattern. You can cast your vote on the feedback site to have this feature prioritized: https://feedback.azure.com/forums/907045-azure-iot-edge/suggestions/32497981-code-sample-for-identity-translation-pattern

For the query example, I will create the pull request now and automatically close this issue when the update gets merged.

[2019-03-29 21:05] DCtheGeek commented on #28370
Try `Get-Command -Name 'Search-AzGraph'`.  If that doesn't work, try `Get-Command -Name 'Search-AzureRmGraph'`.  Not sure if you are using Az with the aliases enabled or AzureRm.

[2019-03-29 21:06] MartinJaffer-MSFT commented on #28320
If quoting doesn't work, you can try requesting this as a feature on the [product feedback forum](https://feedback.azure.com/forums/270578-data-factory)

[2019-03-29 21:06] #28320 closed

[2019-03-29 21:06] Grace-MacJones-MSFT commented on #28365
Hi @paakow789 I see that you have closed this issue. were you able to resolve your issue?

[2019-03-29 21:09] itacoredemo commented on #28370
Neither works for me, I don't use Az with aliases

[2019-03-29 21:09] SaurabhSharma-MSFT commented on #27943
@Jnchi I am able to get the scope with Admin Consent.  How you are giving admin consent ?
![image](https://user-images.githubusercontent.com/38112130/55262807-3d2e6480-522c-11e9-9061-fba922f8a6a4.png)

[2019-03-29 21:10] betsy-c commented on #27696
Not to say there are never any edge cases where curly brackets are required, but I think the issue in this example is casing, rather than brackets.

Working:
FROM /messages/* WHERE NOT IS_DEFINED($ConnectionModuleId) INTO $upstream
Not working:
FROM /messages/* WHERE NOT IS_DEFINED($connectionModuleId) INTO $upstream

[2019-03-29 21:13] MartinJaffer-MSFT commented on #28027
Have you tried using the Schema / Mapping sections to enforce the columns?

[2019-03-29 21:14] femsulu commented on #27154
Duplicate of #28084

[2019-03-29 21:14] Jann-Skotdal commented on #28242
@celery6131 - To use a custom MT system rather than the standard models, just add your Custom Translator category ID in the request parameters. Specifically, in the "Set the subscription key, base url, and path" section of the Python translate text quickstart,  there is a line of code:

params = '&to=de&to=it'

Just append the category ID:

params = '&to=de&to=it&category=_your-category-id_'

You

[2019-03-29 21:15] kgremban commented on #27696
Thanks for adding that info, @betsy-c. I'm also adding @varunpuranik for visibility and will hold off on updating the article until we all come to a consensus.

[2019-03-29 21:15] MicahMcKittrick-MSFT commented on #28372
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-29 21:16] bdschaap commented on #25758
There seem to be other metrics missing from the docs as well.  The Http 1xx through 4xx metrics are available within Azure Monitor but not listed in the docs.

[2019-03-29 21:18] patricklee2 commented on #26454
@mattyweb
I can't help you with the specific of your application

By default webapps are unloaded if they idle for 20 mins
setting always on will keep you app alive by sending requests every 5 mins
if your app closes on startup then docker will exit the container.  Since the container exited, there is nothing to ssh into.

[2019-03-29 21:19] #28185 closed

[2019-03-29 21:22] femsulu commented on #28084
@yobyot  we are measured on both - with emphasis on unblocking our valued customers. :)
We are more than happy to assist with your issue but please be aware this channel is reserved for bugs/issues related to Documentation/content. Issues with product samples or services are better suited in our [Azure support channels](https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azur

[2019-03-29 21:28] DCtheGeek commented on #28370
@itacoredemo Unfortunately, you've exhausted what I can help with on this platform as this is really for docs issues and not support issues. I just heard back from engineering that during preview it can take up to an hour, but you said you already waited hours. Please open a ticket through the portal so that the team can work with you directly to resolve. Thanks!

@MicrosoftDocs/azure-cxp-triage #

[2019-03-29 21:29] SeaDude commented on #28294
@AshokPeddakotla-MSFT . I was able to get things working for our hackathon. Not sure what exactly fixed the issue. I was using a PowerApps Custom Connector so some of the troubleshooting involved permissions.
- **One thing to consider:**
    - Something other than a `STATUS 200` if a query parameter is misspelled
    - ![image](https://user-images.githubusercontent.com/8636973/55263604-cc3c7c00-52

[2019-03-29 21:29] #28294 closed

[2019-03-29 21:30] kgremban commented on #27883
@njbuch Currently there is no way to route messages from the cloud to modules. The routing sources listed in this document are the only ones that the IoT Edge hub can route -- device-to-cloud messages or twin change notifications from any module or leaf device.

You can communicate from the cloud to modules using direct methods only. This information is provided in https://docs.microsoft.com/en-us

[2019-03-29 21:58] femsulu commented on #27951
@dyateseci Per existing [ASR REST API references](https://docs.microsoft.com/en-us/rest/api/site-recovery/) and I don't believe this is currently supported.

[2019-03-29 21:58] romankiss commented on #27980
@DixitArora-MSFT Using an event grid input schema requires to use an array of the events instead of the single event cloud input schema. Also, the custom input schema allows to customize only an event grid schema. It should be nice to have an option for customizing events to cloud event schema. In many cases will help this issue around the source, topic, subject, etc.

[2019-03-29 21:58] femsulu commented on #27951
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-03-29 21:58] #27951 closed

[2019-03-29 22:03] nibaccam commented on #28159
@xzhu1900 what error are you getting?

[2019-03-29 22:09] HowardHoffman commented on #28077
m in contact with a support engineer on this issue.  Her guidance was that we would not be able to RDP into the Scale Set until we did create a Network Security Group that would let 3389 flow to the VMs.

The command in the example should have created an NSG, but did not.  This command:

[code]
The content here, https://docs.microsoft.com/en-us/powershell/module/azurerm.compute/new-azurermvmss?vie

[2019-03-29 22:10] kgremban commented on #27526
Looks like I found the issue. PowerShell needs single quotes around a string in order to escape special characters, and in the example we had double quotes around the connection string.

Works:
"/etc/iotedge/configedge.sh '{device_connection_string}' "

Doesn't work:
'/etc/iotedge/configedge.sh "{device_connection_string}" '

I tested the switched quotes on bash as well, and it works. I'll update

[2019-03-29 22:18] kgremban commented on #27078
@erwelch What tool are you using to run these commands? PowerShell, Azure cloud shell, bash, etc?

[2019-03-29 22:18] yobyot commented on #28084
This _is_ a doc issue. Where are the dependencies (ADAL) described in the doc?

If this was an issue where the thing failed due to a user error or system problem, I agree it belongs in the support channels. But this is incomplete, impenetrable doc.

And your response is telling: you seem more interested in asserting that you don't have an issue because you've documented "the thing itself" even tho

[2019-03-29 22:27] xzhu1900 commented on #28159
@nibaccam Hi, as I mentioned in the issue, these two objects-- AzureFileDatastore and AzureBlobDatastore  are not from module azureml.data. So executing that code snippet will report some error like this:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: cannot import name 'AzureFileDatastore' from 'azureml.data'

[2019-03-29 22:29] Bit-Shifts opened #28378 "Getting Error Code: AADB2C90037"
AADB2C90037: An error occurred while processing the request. Please contact administrator of the site you are trying to access.

What does this error code mean, having an awfully hard time troubleshooting not knowing this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa732de6-2cab-d780-aa21-dfec80e0a8fe
* Version Ind

[2019-03-29 22:45] nibaccam commented on #28159
@xzhu1900
try this:

from azureml.data.azure_storage_datastore import AzureFileDatastore, AzureBlobDatastore

Let me know if it works and I will update the document accordingly.

I see you also mentioned this line isn't used for uploading data?

[2019-03-29 22:57] #10860 closed

[2019-03-29 22:59] SaurabhSharma-MSFT commented on #28032
@sllewe Please use the below script to get the connector names -
[code]

[2019-03-29 23:14] SogoGolf commented on #26117
Thanks Thomas that's great. Might be worth being explicit about that in the docs and listing an example?

[2019-03-29 23:28] ThomasWeiss commented on #26117
Glad it helped! [This section](https://docs.microsoft.com/en-us/azure/cosmos-db/working-with-dates) already covers date handling and we handle dates the same way in all languages (through SQL queries which are not language-specific).

#please-close

[2019-03-29 23:29] Mike-Ubezzi-MSFT commented on #26117
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-29 23:29] #26117 closed

[2019-03-29 23:40] Minewiskan commented on #28274
@fgariepy-relation1 - Please open a support issue for help with this.
#please-close

[2019-03-29 23:40] bgxie commented on #28344
Could you guys please update the API, not the documentation?  ":) :( :D:" should not return English. You end up making a wrong decision based on that. It clearly should be "Unknown".  The documentation is correct but the API doesn't work as expected.

[2019-03-29 23:46] saikovvuri commented on #27984
Thanks @AshokPeddakotla-MSFT @erjadi  for the clarification

[2019-03-30 00:00] xzhu1900 commented on #28159
@nibaccam
This works.

But this import is not needed to upload the data. I managed to just delete this line and the uploading still works.

[2019-03-30 00:08] roygara commented on #27043
@jtuliani So I confirmed with the product team: Basically you can use [grantAccess](https://docs.microsoft.com/en-us/rest/api/compute/disks/grantaccess) to generate an [accessURI](https://docs.microsoft.com/en-us/rest/api/compute/disks/grantaccess#accessuri) (which is a SAS) and then do a Get Blob action with that SAS as your request URI in order to perform an export. I hope that helps, please let

[2019-03-30 00:09] MartinJaffer-MSFT commented on #28027
Noticed similarity to #21216.

[2019-03-30 00:11] celery6131 commented on #28242
Thank you! That worked.

[2019-03-30 00:17] MartinJaffer-MSFT commented on #28027
Hi @naylor19 ,

We would like to enable a one-time free support ticket for you on this case.  Please send an email to "AzCommunity@Microsoft.com" with the below details:

Issue URL: https://github.com/MicrosoftDocs/azure-docs/issues/28027
Subscription ID: <Your subscription id>

[2019-03-30 00:17] #28027 closed

[2019-03-30 00:21] amdua commented on #28370
Please try re-login into powershell

[2019-03-30 00:23] stanupab commented on #28061
Yes, thank you!

[2019-03-30 00:23] #28061 closed

[2019-03-30 01:26] Mike-Ubezzi-MSFT commented on #28218
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-30 01:26] #28218 closed

[2019-03-30 01:42] rickijen commented on #28072
Resolved. Need to install AAD Connect and sync with AAD, add the user to the app group. The issue is that the same user must exist in both AD DS and AAD. BTW, SSO is not working yet.

[2019-03-30 01:53] kobulloc-MSFT commented on #28366
@onovotny Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-03-30 01:53] DixitArora-MSFT commented on #27980
@romankiss Raise an [User voice](https://feedback.azure.com/forums/248703-api-management) for this and do upvote it for the traction. For now we will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-30 01:53] #27980 closed

[2019-03-30 02:11] onovotny commented on #28366
If it helps, I set the ID for desktop apps like this: https://github.com/NuGetPackageExplorer/NuGetPackageExplorer/blob/3e083f4e541dc71ee9a4fe68c492ef3af07dc52b/Core/Utility/SessionTelemetry.cs#L33-L36

[2019-03-30 03:01] BhargaviAnnadevara-MSFT commented on #28371
@scottstout Thanks for reaching out! We are now going to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-03-30 03:01] #28371 closed

[2019-03-30 03:08] BhargaviAnnadevara-MSFT commented on #28373
@jaypatrick Thanks for the question! We're investigating this and will get back to you shortly.

[2019-03-30 03:11] BhargaviAnnadevara-MSFT commented on #28374
@jaypatrick Thanks for the feedback! We're investigating this and will get back to you shortly.

[2019-03-30 03:15] BhargaviAnnadevara-MSFT commented on #28378
@Bit-Shifts Thanks for the question! We're investigating this and will get back to you shortly.

[2019-03-30 03:18] #12922 closed

[2019-03-30 03:18] #28256 closed

[2019-03-30 03:18] #28273 closed

[2019-03-30 03:19] #28274 closed

[2019-03-30 03:19] #28300 closed

[2019-03-30 03:20] #28370 closed

[2019-03-30 03:52] Grace-MacJones-MSFT commented on #28363
Hi @AndyEdmonds, thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-30 04:59] SumanthMarigowda-MSFT commented on #27872
@lesterw1 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-03-30 04:59] #27872 closed

[2019-03-30 05:06] sujayvsarma commented on #28341
@Mike-Ubezzi-MSFT That workaround is not applicable to this scenario.

[2019-03-30 05:09] sujayvsarma commented on #27911
Yes, I need information that is currently missing. And what is this habit of closing tickets without providing an answer?? You close the issue after you've updated it. This is not resolved!!!

[2019-03-30 05:16] wmengmsft commented on #28341
@sujayvsarma, we recently release a new version of the Table SDK targeting .NET Standard, which is available [here](https://www.nuget.org/packages/Microsoft.Azure.Cosmos.Table). This SDK does not have the Microsoft.Azure.Storage.Common dependency problem. We recommend customers to use this SDK going forward.

[2019-03-30 05:56] sujayvsarma commented on #28341
Could you put a link on the Microsoft.Azure.CosmosDB.Table NuGet package that directs people this new package? Also, there are too many packages with similar names.. high time for a clean up! Send out deprecation/retirement notices on the old packages.

[2019-03-30 06:14] msrini-MSFT commented on #28316
@tesharp , I will go ahead and close this issue. Please tag me if you have any further questions.

[2019-03-30 06:14] #28316 closed

[2019-03-30 06:24] BryanTrach-MSFT commented on #28304
@Leon99 Can you please provide us the URL of the Linux doc that linked you to here?

[2019-03-30 06:31] sujayvsarma commented on #28341
So, I just installed the new package (Microsoft.Azure.Cosmos.Table) and look at this list -- that is the **only** package installed in this project!

Why do so many MS packages have a big list of seemingly unnecessary dependencies? Could you please reduce this clutter?

![packages.config screenshot](https://user-images.githubusercontent.com/7371750/55272494-6bbb4680-52e3-11e9-9c07-974ffea6147e.png

[2019-03-30 06:34] AndyEdmonds commented on #28363
Hi Grace,

This turns out to be caused by a misunderstanding of how your blade in the Azure portal works. I saved the new credentials for each added service. But I didn’t see that I had to then click the save button on the whole blade to save the changes. It now works.

Andy

From: Grace-MacJones-MSFT <notifications@github.com>
Sent: 30 March 2019 03:53
To: MicrosoftDocs/azure-docs <azure-docs@nor

[2019-03-30 08:17] Leon99 commented on #28304
It's in the table of contents, Resources - Troubleshooting - FAQ

[2019-03-30 08:51] AndyFromVolvo commented on #28345
Hello @himanshusinha-msft ,

Thanks for the quick reply. I tried entering manually, and I'm able to save the trigger. Unfortunately, when I try to activate it, I get:
![image](https://user-images.githubusercontent.com/49069047/55273880-4291ba80-52d1-11e9-91f1-f5614330ae02.png)
Regards,
Andy

[2019-03-30 09:18] AndyEdmonds commented on #28363
Hi Grace,

On further investigation as to why I thought I’d set up facebook and twitter accounts in the Azure authentication blade and hadn’t, the following process occurs:
If you set up facebook, and supply valid credentials, but don’t set any scopes, the blade permits you to OK the entry, without warnings, and the facebook row  reports “configured” but the save button for the whole settings blad

[2019-03-30 09:49] wrijughosh opened #28384 "Create AKS cluster ia failing because of unsupported parameters"
There are a few unsupported parameters being used here
--node-count 1 \
--enable-addons monitoring \
The above --node-count no more exists instead you can use --agent-count and
--enable-addons is no more valid.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6115d555-45a1-6539-4af6-fbc20a99f008
* Version Independent ID:

[2019-03-30 10:00] msvijayn commented on #28295
#please-close

[2019-03-30 10:20] BhargaviAnnadevara-MSFT commented on #28384
@wrijughosh Thank you very much for bringing this to our attention! We're investigating this and will get back to you shortly.

[2019-03-30 13:38] gjmoyer opened #28385 "SQL Spark connector; Connecting using Access Token; possible?"
Is it even possible to connect to a SQL instance with an access token?  In my notebook if I try to obtain a token I get HttpResponse({"error":"invalid_request","error_description":"Identity not found"},400.  How is the service principal assigned in the cluster?  Some blog post showing how to do this successfully would be great help.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2019-03-30 14:03] micrajesh commented on #21032
Guys anything are you updating, wasting a lot off our time and efforts. Not like you we are working on week end also..
Where is the resources path ?????????
New-AzureServiceProject : Could not find a part of the path 'C:\Program
Files\WindowsPowerShell\Modules\AzureRM.Profile\4.6.0\Resources\Scaffolding\General\scaffold.xml'.
Frustrating

[2019-03-30 14:28] BhargaviAnnadevara-MSFT commented on #28385
@gjmoyer Thanks for the question! We're investigating this and will get back to you shortly.

[2019-03-30 14:55] Daud23 opened #28386 "I can not get the logs"
Hello,

I can not get the different jsons from the activity logs examples, these examples only work when they are stored in the storage account?  How, can I get those jsons if the data of the logs go to log analytics directly.

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5f080ad-843f-d7be-eba6-2837993d052

[2019-03-30 15:06] AshokPeddakotla-MSFT commented on #28187
@kgremban Can you provide your insights on this issue?

[2019-03-30 15:28] lowndesc opened #28387 "Non-telemetry data-types"
Is there a way to use the advanced device approach to define a non-telemetry device model, such as simulating a camera sending image or video data?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce0da6a2-d5f1-3815-53b7-83a9cacb8806
* Version Independent ID: 8773faa9-a0bd-331c-3ff5-952b946ef763
* Content: [Create an adv

[2019-03-30 15:58] CodeVelo commented on #25862
@LTUTE, the FAQ addresses the question about POP locations.

https://docs.microsoft.com/en-us/azure/frontdoor/front-door-faq#what-are-the-pop-locations-for-azure-front-door-service

[2019-03-30 16:01] #28295 closed

[2019-03-30 16:11] MarileeTurscak-MSFT commented on #28386
@Daud23
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-30 16:12] MarileeTurscak-MSFT commented on #28387
@lowndesc
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-30 17:09] JeffGSparks opened #28388 "Is there an option to encrypt the local secrets file?"
Given it is not a good idea to store secrets in cleartext anywhere, is there a way to encrypt the locally stored secrets file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba5deb43-08e3-09fe-1696-29f49764580b
* Version Independent ID: 0c910667-1d39-47dd-c70b-ab40999ea160
* Content: [Securely saving secret application

[2019-03-30 17:32] cicorias commented on #27526
sorry i didn't get back to you quickly. yes it does work with double quotes.

[2019-03-30 17:32] #27526 closed

[2019-03-30 17:49] v-comage opened #28389 ""AzCopy on Windows" links to "Transfer data with AzCopy on Linux""
In the section:
AzCopy command examples for data transfer
The following examples follow typical scenarios for copying data to and from Azure Stack blobs. To learn more, see AzCopy on Windows and AzCopy on Linux.
The hyperlinks for both "AzCopy on Windows" and "AzCopy on Linux" link to the page https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-linux
The AzCopy on Windows shou

[2019-03-30 18:33] LukeChung opened #28391 "Is there a way to do this for a regular SQL database"
I can't tell if this is for just SQL Warehouse or any SQL Database. It'd be nice to be able to pause a regular database for security or maintenance reasons, independent of billing. I couldn't see the Pause menu option for my regular SQL Azure databases.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0b3077e-af25-be25-

[2019-03-30 20:19] mshahat opened #28393 "subdomain for services"
Hi, with the http_routing_addon I was able to use host-based routing where the addon updated DNS with records needed.
e.g. example.com as the domain for the ingress router.

I was accordingly able to use  servicea.example.com and serviceb.example.com as hosts for various applications. The DNS was updated through the addon.

how would we be able to achieve the same with this setup?

Thanks,

---
##

[2019-03-30 21:33] PingPongSet opened #28394 "Dead link: Performance and Latency of Azure Service Bus Premium tier"
Is it possible to provide the link titled: "Performance and Latency of Azure Service Bus Premium tier"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c3af764-3978-6abe-f756-2c2c4ef47e31
* Version Independent ID: c4dca68a-1c95-42af-9eb3-e1dc9a66a692
* Content: [Azure Service Bus messaging overview](https://docs.micros

[2019-03-30 21:56] iennae opened #28395 "Missing documentation on Error code ResourcePurchaseValidationFailed"
I got the ResourcePurchaseValidationFailed error today:

User failed validation to purchase resources. Error message: 'Offer with PublisherId: Sendgrid, OfferId: sendgrid_azure cannot be purchased due to validation errors. See details for more information.'

It's not super clear where I'd find more details. So I came over here to troubleshooting deployment errors and didn't see any additional info

[2019-03-30 22:23] dorox opened #28396 "Cloning private Git repository"
When cloning private git repo to azure notebooks I get the following:
`Unable to access the provided repository URL.`

Can you provide clear instruction on how to clone private repos as a whole?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7fae1567-64ad-18a3-0de2-e3ac11c3e3e0
* Version Independent ID: dc1fe7ab-b6a2-f

[2019-03-30 23:58] EisenbergEffect opened #28398 "Continuation Token Page Size and Top"
Regarding `top`, I think it would be meaningful to add a sentence or two explaining that this can be used in combination with the continuation token to set the page size. That wasn't quite clear from reading this page. I ended up learning this via another site.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 168890e7-48

[2019-03-31 01:55] MarileeTurscak-MSFT commented on #28388
@JeffGSparks
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-31 01:56] MarileeTurscak-MSFT commented on #28389
@v-comage
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-31 01:57] MarileeTurscak-MSFT commented on #28391
@LukeChung
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-31 01:58] MarileeTurscak-MSFT commented on #28393
@mshahat
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-31 01:59] MarileeTurscak-MSFT commented on #28394
@PingPongSet
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-31 01:59] MarileeTurscak-MSFT commented on #28395
@iennae
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-31 02:00] MarileeTurscak-MSFT commented on #28396
@dorox
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-31 02:01] MarileeTurscak-MSFT commented on #28398
@EisenbergEffect
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-31 04:46] tbasallo commented on #27087
Excellent question.

Additionally, it would be ideal if the portal could show what apps were running on what instances. Depending on the answer to the original question, ending up with higher-use apps on the same instance would require some management.

[2019-03-31 06:25] orgads opened #28399 "SpeechSDK: Setting RecognitionMode is not documented"
Hi,

I searched for documentation how to set RecognitionMode (I need to use Dictation, and not the default Interactive), but couldn't find anywhere how this is done. I searched all the js files in https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/samples/js/node and even the source code, but could not find it.

Can you please document it or refer me to existing docs?

Than

[2019-03-31 06:25] SnehaAgrawal-MSFT commented on #28082
@angelieri We typically try to keep the Azure-Docs channel scoped to feedback directly about the docs. Since your question goes beyond what is discussed in the doc, we kindly invite you to share your question <insert channel>. Thank you for your understanding

[2019-03-31 06:25] #28082 closed

[2019-03-31 06:26] matt-psaltis opened #28400 "Retrieve list of user managed identities"
With the Azure App Service, the user managed identity must be nominated even when there's only one. Is there an MSI endpoint alongside the /token endpoint that we can use to enumerate the list of user managed identities? Ideally the identity name and client id so that the correct user managed identity can be chosen when there's more than one based on naming conventions etc.

---
#### Document Deta

[2019-03-31 06:36] BhargaviAnnadevara-MSFT commented on #28399
@orgads Thanks for the question! We're investigating this and will get back to you shortly.

[2019-03-31 06:43] BhargaviAnnadevara-MSFT commented on #28400
@SaltyDH Thanks for the question! We're investigating this and will get back to you shortly.

[2019-03-31 07:31] oaas commented on #28250
Regarding to this page, I have a lot of concerns.
1. As per: https://docs.microsoft.com/en-us/powershell/module/az.network/new-azapplicationgatewayfirewallexclusionconfig?view=azps-1.6.0. MatchVariable is not supported by "New-AzApplicationGatewayFirewallExclusionConfig". I suppose you have to update this command.

2. In example:  $exclusion1 = New-AzApplicationGatewayFirewallExclusionConfig -Matc

[2019-03-31 08:18] vainolo commented on #28297
@tbolon - I understand what you say... I'm taking your feedback seriously (as I do all feedback :-)). We'll have to think of some way to better warn the users about this.
@KalyanChanumolu-MSFT  - please close this item. I've added it to our internal system.

[2019-03-31 08:23] vainolo commented on #28297
@tbolon - note also that you can store the audit logs in an azure storage account instead of Log Analytics and the cost will be much much lower

[2019-03-31 08:53] xenalite commented on #25169
Partial answer found here:
https://github.com/kevingbb/ready-aks-security

Lock down outbound to Port 22,443 to AzureCloud service tag.

[2019-03-31 10:25] Adi2007 opened #28401 "sladi4kodivane"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-03-31 10:30] julesman101 commented on #26552
Hi there, any progress with regards to clarifying these scenarios please?

[2019-03-31 10:35] BhargaviAnnadevara-MSFT commented on #28401
@Adi2007 Thanks for reaching out, but could you please elaborate on the issue you're facing along with the URL of the MS Doc that you were following, if any?

[2019-03-31 10:44] bmanners opened #28402 "Run time and build time telemetry"
I am trying to instrument an app we did not build (But i know has app insights telemetry)  so I am attempting to use the run time status monitor.

I noted that this doc says "If you use build time instrumentation, run time instrumention will not work even if it is turned on." and it also states the below implying that you can use run time instrumentation with build build time instrumentation. Can

[2019-03-31 11:34] mshahat opened #28403 "A records for host based routing"
Hi,
I'm trying to replicate what http_application_routing addon is doing to this setup.

I can see that the addon does create a dns zone which is then managed by "nginx external dns" pod, with every ingress it creates an A & TXT record against an "xxx.aksapp.io" entry.

I am not able to replicate the same setup, and the sub records i add are not resolving

[code]
any clue?

Thanks,

---
#### Docum

[2019-03-31 12:13] SaltyDH opened #28404 "When using a User Assigned Managed identity, SQL login fails when the identity is assigned to an Active Directory Group"
I'm using a User assigned managed identity assigned to an AAD Group. This group is then in turn assigned to the Azure SQL Database using the CREATE USER FROM EXTERNAL PROVIDER call as above. Attempting to connect to the database via a .net core 2.2 application results in SqlException: Login failed for user '&lt;UPN&gt;'.

If I assign the Managed Identity by display name to the same database, the c

[2019-03-31 12:34] CoolNamesAllTaken opened #28405 "Add Arduino Examples"
It would be great if we could get examples of common arduino libraries and their usage added to this Azure guide.  I used PubSubClient and WiFiClientSecure on the ESP32 to connect to my IoT Hub, and it was a very painful process since most Arduino examples on the internet are not geared towards Azure.

The biggest setback that I experienced was that the maximum MQTT packet size for PubSubClient wa

[2019-03-31 12:47] srdan-bozovic-msft commented on #25774
script works properly. sqlserverid is variable

[2019-03-31 12:50] srdan-bozovic-msft commented on #24546
this is know issue more then limitation. I'll document this in appropriate article

[2019-03-31 13:21] srdan-bozovic-msft commented on #22508
created PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/71479 to address those

[2019-03-31 13:22] BhargaviAnnadevara-MSFT commented on #28402
@bmanners Thanks for the question! We're investigating this and will get back to you shortly.

[2019-03-31 13:56] Miggleness opened #28406 "Image texts are barely visible in dark mode"
Image at the top of the document page uses black color to describe the function types.  These however aren't visible in dark mode.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b95729c9-f6c5-1ca3-74b1-186d5165746d
* Version Independent ID: e0a33812-e984-457b-8469-4d49f58f82ea
* Content: [Function types and features in

[2019-03-31 13:58] jayeshdshah opened #28407 "Contradictory statement - Azure Storage "does not" natively support Azure AD authentication."
Please check below links :

https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/tutorial-windows-vm-access-storage#grant-your-vms-system-assigned-managed-identity-access-to-use-storage-account-access-keys

https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/tutorial-vm-windows-access-storage#get-an-access-token-and-use-i

[2019-03-31 14:33] BhargaviAnnadevara-MSFT commented on #28403
@mshahat Thanks for the question! We're investigating this and will get back to you shortly.

[2019-03-31 14:34] BhargaviAnnadevara-MSFT commented on #28404
@SaltyDH Thanks for the question! We're investigating this and will get back to you shortly.

[2019-03-31 14:37] BhargaviAnnadevara-MSFT commented on #28406
@Miggleness Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-31 14:41] BhargaviAnnadevara-MSFT commented on #28407
@jayeshdshah Thanks for the question! We're investigating this and will get back to you shortly.

[2019-03-31 14:44] wpwoodjr commented on #9659
Thanks!

[2019-03-31 14:47] BhargaviAnnadevara-MSFT commented on #28405
@CoolNamesAllTaken Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-31 14:57] rkarlin commented on #27055
@SaurabhSharma-MSFT Hi, what do I need to do to enable you to assign it? should I add his git user as the article author?

[2019-03-31 15:45] sleebapaul opened #28412 "Tagging the trained models"
I have a trained model with a set of hyperparameters associated with it. These hyperparameters are important while predicting the output. The logging service provided by the Azure is limited only to "during training run"s, how can I set up a mapping of the trained model to its hyperparameters once the training is done? If there is already a solution to tackle this situation, please guide me there.

[2019-03-31 16:00] MicahMcKittrick-MSFT commented on #28403
#28393

[2019-03-31 16:18] joshtransient commented on #25392
Code in the example looks like it was updated to add $map5, but last line does not add $map5 in the -ClaimsMapping argument.

[2019-03-31 16:26] #28297 closed

[2019-03-31 16:27] asubmani opened #28414 "Incorrect Resource address for generating tokens with "managed Identities""
It seems the correct resource url for getting access tokens with MSI/Manasged Identities is : `https://management.core.windows.net/`

Therefore the part to generate an access token should be:

`response=$(curl 'http://169.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https%3A%2F%2Fmanagement.core.windows.net%2F' -H Metadata:true -s)`

I tried pushing a zip file to an A

[2019-03-31 16:35] MarileeTurscak-MSFT commented on #28412
@sleebapaul
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-31 16:35] MarileeTurscak-MSFT commented on #28414
@asubmani
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-31 17:45] AjayKumar-MSFT commented on #27841
@TheRealKnurft, We will close this out with doc refresh pending, but if you feel you need more information please just let us know.

[2019-03-31 17:45] #27841 closed

[2019-03-31 17:58] paule96 commented on #26379
@BryanTrach-MSFT I think this is a location problem. If I compare the link I get and you get I only see that the end of the url is different because I use a german OS with Edge. So I think some magic in the backend happends and I get the url with the de-de at the end. Can we please investiagte a little bit more here. I think this link is broken for all people that don't use a en-us Browser profil.

[2019-03-31 18:12] cloudmelon opened #28416 "Needs clarification about azure cosmos db firewall support"
Hi, there are some points not clear for firewall support of Cosmos DB,
https://docs.microsoft.com/en-us/azure/cosmos-db/firewall-support

There are two options when I specified the IP Addresses and CIDRs need access to cosmos DB while excluding public access as follows
![image](https://user-images.githubusercontent.com/4621560/55292993-f2a61700-53e8-11e9-9bb3-b91c29e64d60.png)

- Allow access from

[2019-03-31 18:20] cloudmelon commented on #27337
Hi @PramodValavala-MSFT  Just have some new thoughts come to mind, in case we should add an App Gateway and ATM behind the APIM premier to failover, it would be also possible to use APIM standard tier but put an ATM ( configured in failover ) in front of two standard APIM, it may be simpler? What do you think?

[2019-03-31 19:22] AjayKumar-MSFT commented on #27911
@sujayvsarma, The Azure Rest API reference are auto generated docs based on Swagger APIs, checkout this document for more details -https://github.com/Azure/azure-rest-api-specs, so there is no direct feedback option enabled on them. That being said, the respective engineering team has been informed about updating the API version and they would perform a doc refresh soon, but no ETA on this yet. Ap

[2019-03-31 19:45] mshahat opened #28418 "Details of the DNS Zone"
Hi,
I'm interested in the DNS Zone that is created with the HTTP add on, e.g. `xxx.northeurope.aksapp.io`
what is special about this DNS zone that subdomain A record gets created and resolve without an issue. I've tried to create one myself but it does not resolve.
For example i've created  `&lt;my-cluster-name&gt;.northeurope.aksapp.io` , added an A record e.g. `yyy.&lt;my-cluster-name&gt;.northe

[2019-03-31 19:50] Rkislu commented on #25848
I am having the same issue - Sorry, I can't hear you.

Function log shows this:

2019-03-31T19:47:43.893 [Information] Executing 'devkit_translator' (Reason='This function was programmatically called via the host APIs.', Id=XXXXXXXXX)
2019-03-31T19:47:43.893 [Information] C# HTTP trigger function processed a request.
2019-03-31T19:47:43.894 [Information] Source language: zh-CN
2019-03-31T19:47:43.

[2019-03-31 20:46] sharad4u commented on #25862
@TravisCragg-MSFT - This is now addressed in the document here - https://docs.microsoft.com/en-us/azure/frontdoor/front-door-faq#what-are-the-pop-locations-for-azure-front-door-service

#please-close

[2019-03-31 20:52] sharad4u commented on #19930
@teresayao - Can you take a look at this?

[2019-03-31 20:54] sharad4u commented on #20106
@mike-urnun-msft - This is now resolved and the documentation is live here - https://docs.microsoft.com/en-us/azure/frontdoor/front-door-diagnostics

#please-close

[2019-03-31 20:55] sharad4u commented on #19930
@mike-urnun-msft - Please work with @KumudD and @teresayao to resolve this.

[2019-03-31 21:02] sharad4u commented on #21059
@mdgattuso - Can you help here? Thanks

[2019-03-31 21:06] sharad4u commented on #17639
@YutongTie-MSFT - This isn't supported and now documented here - https://docs.microsoft.com/en-us/azure/frontdoor/front-door-faq#can-azure-front-door-load-balance-or-route-traffic-within-a-virtual-network

#please-close

[2019-03-31 21:06] PingPongSet opened #28420 "What does this row mean? !dead letter queue"
What does the row below mean?

!dead letter queue 	MaxTransferHopCountExceeded 	Null

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9c35042-f064-0f34-8d16-ad40e829ca39
* Version Independent ID: 19d4a83e-55c8-8b9c-38a0-0e9a26ba2cdb
* Content: [Service Bus dead-letter queues](https://docs.microsoft.com/en-us/azure/servi

[2019-03-31 21:07] sharad4u commented on #28033
@BhargaviAnnadevara-MSFT - This is now resolved and we have removed the broken link. We will soon be adding the documentation for being able to do this via PowerSHell and CLI. This will continue to remain unsupported via ARM templates.

#please-close

[2019-03-31 21:07] iennae opened #28421 "Twilio special offer URL no longer valid https://ahoy.twilio.com/azure"
It's unclear that any of the special offer content in this article is currently valid. The https://ahoy.twilio.com/azure URL is definitely broken in that it just redirects to twilio.com.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19e98433-a1d1-7f84-d35a-b51ffcaff482
* Version Independent ID: 45f928a4-652f-054f-d826

[2019-03-31 21:09] sharad4u commented on #16518
@MicahMcKittrick-MSFT , @NateB2 - This is now supported and documented here https://docs.microsoft.com/azure/frontdoor/front-door-http-headers-protocol#2-front-door-to-backend

#please-close

[2019-03-31 21:10] sharad4u commented on #25711
@TravisCragg-MSFT , @MicahMcKittrick-MSFT - This is now documented here - https://docs.microsoft.com/azure/frontdoor/front-door-faq#how-do-i-lock-down-the-access-to-my-backend-to-only-azure-front-door-service

#please-close

[2019-03-31 21:13] sharad4u commented on #21556
Health probes use the same IP address space as the actual machine that forwards the request to the backend. The backend IP address space for AFD is documented here https://docs.microsoft.com/azure/frontdoor/front-door-faq#how-do-i-lock-down-the-access-to-my-backend-to-only-azure-front-door-service

@Qq20180503 , @SubhashVasarapu-MSFT - THis is resolved and so #please-close

[2019-03-31 22:37] MarileeTurscak-MSFT commented on #28416
@cloudmelon
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-31 22:42] MarileeTurscak-MSFT commented on #28420
@PingPongSet
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-31 22:43] stschulznz opened #28422 "You only need to be a subscription reader to see Security Center"
This seems to be incorrect:
A user needs to be at least a subscription, resource group owner, or contributor to be able to see Security Center in Azure.

As a Subscription Reader, or Security Reader you have access to Security Center.. but without the capability to modify anything.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-03-31 22:54] MarileeTurscak-MSFT commented on #28418
@mshahat
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-31 22:55] MarileeTurscak-MSFT commented on #28421
@iennae
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-31 22:56] MarileeTurscak-MSFT commented on #28422
@stschulznz
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-31 23:03] ShehzadUIT commented on #28308
Any updates please?

[2019-03-31 23:11] dcbrown16 commented on #16981
This appears fixed in the Japanese for now, is there a fundamental issue that still needs to be fixed?

[2019-03-31 23:40] jaryder commented on #28288
Actually, it looks like the problem may be even before the python gets a chance to execute.  I started with the boilerplate example and am seeing the same failure when running inside the container:

Hosting environment: Production
Content root path: /
Now listening on: http://[::]:80
Application started. Press Ctrl+C to shut down.
info: Host.General[0]
      Host lock lease acquired by instance ID

[2019-04-01 00:17] NandishNM opened #28423 "RDS registration"
New-RdsRegistrationInfo -TenantName &lt;tenantname&gt; -HostPoolName &lt;hostpoolname&gt; -ExpirationHours &lt;number of hours&gt; | Select-Object -ExpandProperty Token &gt; &lt;PathToRegFile&gt;

Can you please explain what's been done in this step and if possible provide an example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2019-04-01 00:33] vespergo commented on #8765
Just for more info, I've tested my tiny B1ms and get 1200 Mb/s down and 871 Mb/s up. (east us region)

[2019-04-01 01:02] wilsonchua20 commented on #28087
i dont think so, can i have assistance?

[2019-04-01 01:22] BhargaviAnnadevara-MSFT commented on #28384
@wrijughosh I tried creating an AKS cluster using the same command from the quickstart using those parameters and was able to do so using the Azure Cloud Shell.

Are you trying this in your local terminal? Which version of az cli are you using? Also, have you tried creating it from Azure Cloud Shell?

[2019-04-01 01:45] kobulloc-MSFT commented on #28173
@mydiemho We will assign this to the document author so they can update the documentation accordingly.  Thank you again for bringing this to our attention!

[2019-04-01 02:05] kobulloc-MSFT commented on #28219
@artisticcheese I've assigned this to the author so that they can update the document accordingly.  In the meantime, I'd recommend checking out the following on an Application Insights plugin for Visual Studio Code (although this is Node.js Express and not .NET Core):

https://github.com/Microsoft/applicationinsights-vscode

[2019-04-01 02:06] russwilsonii commented on #16848
Did anyone ever figure out the Step 3 issue that Ghander and Gavimoss had?  I'm running into the same thing, and I don't see any follow-ups here.  Ghander or Gavimoss, did either of you have luck figuring this out?

[2019-04-01 02:18] #16518 closed

[2019-04-01 02:18] #25711 closed

[2019-04-01 02:24] MicahMcKittrick-MSFT commented on #28423
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-01 02:32] #20106 closed

[2019-04-01 02:59] NateB2 commented on #25711
Awesome, just what I was looking for - thanks!

[2019-04-01 03:00] NateB2 commented on #16518
Perfect!  This is exactly what we've been wanting. Thanks!

[2019-04-01 03:25] genlin commented on #25394
@ghuntley，Sorry for not reply earlier. I contacted with our support team and tried to understand what happened in the cases.  I will update this article with the latest "pay by invoice" template.  Thanks for the valuable feedback!

[2019-04-01 03:43] wilsonchua20 commented on #28087
this is now okay, thank you

[2019-04-01 03:45] KetanChawda-MSFT commented on #28021
@tantingjun Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-01 03:45] #28021 closed

[2019-04-01 03:46] KetanChawda-MSFT commented on #28113
@kristerkarto Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-01 03:46] #28113 closed

[2019-04-01 03:54] KetanChawda-MSFT commented on #28420
@spelluru Any thoughts on this?

[2019-04-01 03:55] ManojReddy-MSFT commented on #28332
@limjianan Thank you for reporting this. I have assigned this to the author to update the doc accordingly.

[2019-04-01 04:01] #17639 closed

[2019-04-01 04:02] #21556 closed

[2019-04-01 04:02] #25862 closed

[2019-04-01 04:03] BhargaviAnnadevara-MSFT commented on #28033
@sharad4u Thanks for the update!

[2019-04-01 04:03] #28033 closed

[2019-04-01 04:04] #28333 closed

[2019-04-01 04:10] sujayvsarma commented on #27911
Why your engineering team has the trivial problem of releasing stuff into Production without updating documentation -- that too for such a critical and widely used thing as an API -- is beyond me. This is severe feedback for the product team. This is really basic engineering stuff. Release when bugs have been fixed and documentation is up to date. It is a basic quality gate!

[2019-04-01 04:15] KetanChawda-MSFT commented on #28171
@MarcinJuraszek I can reproduce the same error when I have not created and activated a python virtual environment.

Please make sure you following the [below step](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-python#create-and-activate-a-virtual-environment):

![image](https://user-images.githubusercontent.com/28587628/55303296-e3fc4600-5462-11e9-8233-d177

[2019-04-01 04:17] KetanChawda-MSFT commented on #28211
@harouny We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-01 04:17] #28211 closed

[2019-04-01 04:18] YASWANTHM-MSFT commented on #28374
@jaypatrick , Thanks for the valuable feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-01 04:37] CHEEKATLAPRADEEP-MSFT commented on #22187
@CeciAc Could you please do try these steps to retrieve the authentication key using Azure PowerShell on Azure Cloud Shell as follows:

1. Create a self-hosted integration runtime. You can use the Azure Data Factory UI for this task.

`Set-AzureRmDataFactoryV2IntegrationRuntime -ResourceGroupName $resourceGroupName -DataFactoryName $dataFactoryName -Name $selfHostedIntegrationRuntimeName -Type Sel

[2019-04-01 04:37] KeiroKamioka0000 opened #28425 "Create NSG without delete ACL"
Is it possible to configure NSG before deleting the existing ACL?
Or does existing ACL must be deleted before configuring NSG?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4349586f-611c-3d3c-100d-862de4722f14
* Version Independent ID: f4089f30-2d41-ff1e-a576-b3104330feab
* Content: [What is an Azure network access co

[2019-04-01 04:44] KetanChawda-MSFT commented on #28394
@PingPongSet I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-04-01 04:55] SumanthMarigowda-MSFT commented on #28327
@techiearun Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

Just highlighting: Can you refer to the suggestions mentioned in the below GitHub Links.
https://github.com/Azure/azure-storage-java/issues/231
https://github.com/Azure/azure-functions-host/issues/2845

[2019-04-01 05:02] CHEEKATLAPRADEEP-MSFT commented on #28421
@iennae Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/71500](https://github.com/MicrosoftDocs/azure-docs-pr/pull/71500).

The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take

[2019-04-01 05:07] #28421 closed

[2019-04-01 05:13] SapnaSoni123 opened #28426 "Can we use BulkExecutor to pass our custom json object?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-04-01 05:13] SapnaSoni123 opened #28427 "Can we use BulkExecutor to pass our custom json object? Like "documentsToImportInBatch", can I also specify which custom object document I need to import in Batch?"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14e425a8-0912-7516-b0e4-485f903c4003
* Version Independent ID: 6d44d779-e35f-8101-3427-ebf59015a956
* Content: [Using bulk executor .NET library to perform bulk import and update operations in Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/bulk-executor-d

[2019-04-01 05:19] neeleshray commented on #28163
We will be closing this thread now. Let us know if you need further help.

[2019-04-01 05:19] #28163 closed

[2019-04-01 05:22] gsimoes commented on #16721
As a workaround, an option is to:
1. Set up cluster autoscaler with the min nodes to the current node count
2. Scale up the number of nodes in the UI
3. Drain the node you want to delete and wait for autoscaler do it's job

[2019-04-01 05:28] danielhcx commented on #28317
Thanks, @MohitDhingra-MSFT .

Creating guest accounts can't be a solution for my case, because I can't predict which live.com account will be used for the "Connect With Microsoft" in my app. Anyway, according to the OIDC spec, the sub claim is the only one required in a userInfo response. https://graph.microsoft.com/oidc/userinfo doesn't break it.

With a live.com user's consent, my app can get mo

[2019-04-01 05:35] Maqsoodp opened #28429 "default value on file upload limit doesn't work."
I have tested this without file upload limit and it dioesn't work. It always throws below error.
setting explicit value always works.

&lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"&gt;
&lt;html xmlns="http://www.w3.org/1999/xhtml"&gt;
&lt;head&gt;
&lt;meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/&gt;
&lt;ti

[2019-04-01 05:36] jakaruna-MSFT commented on #28426
@SapnaSoni123 I am closing this issue because this is a duplicate of #28427.

[2019-04-01 05:36] #28426 closed

[2019-04-01 05:37] Merurino commented on #28177
Thanks @MicahMcKittrick-MSFT , I will open a support ticket.

[2019-04-01 05:37] #28242 closed

[2019-04-01 05:37] jakaruna-MSFT commented on #28427
@SapnaSoni123 Can you provide the Documentation link which you followed?

[2019-04-01 05:42] SapnaSoni123 commented on #28427
Sure. I am following
https://docs.microsoft.com/en-us/azure/cosmos-db/bulk-executor-dot-net

[2019-04-01 05:57] KalyanChanumolu-MSFT commented on #28189
@pournejati Thank you for providing the scenario.
You can specify the fields that you want to be excluded from indexing.

[code]
Please let us know if you have further questions.

[2019-04-01 06:12] SubhashVasarapu-MSFT commented on #28425
@KeiroKamioka0000 , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-04-01 06:23] hannesne opened #28432 "CosmosDB"
Does this work for the CosmosDB trigger? I'm trying to do it for a function written in Java, and I keep getting an error System.Private.CoreLib: Exception while executing function: Functions.JobTriggerFunction. Microsoft.Azure.WebJobs.Host: Exception binding parameter 'items'. Microsoft.Azure.WebJobs.Host: The method or operation is not implemented.
I can see from the output that it's correctly re

[2019-04-01 06:43] yuharucan opened #28433 "Support scenario had better "source->target" than "target->source"."
Support scenario had better "source-&gt;target" than "target-&gt;source".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c8dc618-bff7-b1aa-be2c-b6b933f75545
* Version Independent ID: 9a608dd8-d781-eb4a-c796-34f758f0d58a
* Content: [Database migration scenario status](https://docs.microsoft.com/en-us/azure/dms/resource

[2019-04-01 06:44] vishalaj1 commented on #27697
Hi Team,

Any update on this?

Regards,
Vishal

[2019-04-01 06:49] yuharucan opened #28434 "Is this support matrix correct?"
I try to generate migration project the offline from RDS SQL to Azure DB, but the offline migration doesn't appear.
Is this support matrix correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c8dc618-bff7-b1aa-be2c-b6b933f75545
* Version Independent ID: 9a608dd8-d781-eb4a-c796-34f758f0d58a
* Content: [Database migr

[2019-04-01 06:52] yuharucan opened #28435 "This support matrix doesn't say the status."
This support matrix doesn't  show the status, show only support or not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c8dc618-bff7-b1aa-be2c-b6b933f75545
* Version Independent ID: 9a608dd8-d781-eb4a-c796-34f758f0d58a
* Content: [Database migration scenario status](https://docs.microsoft.com/en-us/azure/dms/resource-s

[2019-04-01 06:54] shashishailaj commented on #28009
@yeese Yes you can do that , It would not be a problem as long as both are on public azure instances rather than azure sovereign cloud (country specific instances) . Because there would be situations where we have a parent company registered in England , Europe and a tenant was registered there however your IT team may be across different continents. Generally it is best to register the tenant in

[2019-04-01 06:54] #28009 closed

[2019-04-01 07:06] genlin commented on #25772
@bpr-admin  Sorry for the inconvenience that have been caused to you. I will update this article with the latest "pay by invoice" template. I also contacted our support team and raised your concern to them. Thanks for the valuable feedback!

[2019-04-01 07:08] easonlauys opened #28436 "How to monitor physical memory usage"
Can anyone share any pointers on how do we monitor Azure Stack Physical Memory usage? From the Admin portal, there's no way to narrow down which VMs or subscriptions used how much memory. Even the Azure Stack Capacity Planner does not mention about this. Kindly assist.. TQ.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2019-04-01 07:27] RHAD1969 opened #28437 "DisallowedOperation - The current subscription type is not permitted to perform operationson any provider namespace. Please use a different subscription."
This walkthrough gives an error message as soon as I enter this command in de Azure CLI:

Command:
az iot hub device-identity create --hub-name MyHubName --device-id MyDotnetDevice

Error:
DisallowedOperation - The current subscription type is not permitted to perform operations on any provider namespace. Please use a different subscription.

---
#### Document Details

⚠ *Do not edit this section.

[2019-04-01 07:40] forester123 commented on #26859
Any news about this issue? It's been several weeks.

[2019-04-01 07:42] msrini-MSFT commented on #28429
@Maqsoodp , Thank you for your feedback. Can you go ahead and check your Firewall log and share me the rule which gets triggered when you are getting blocked?

Also what is the size of file that you are trying to upload?
What is the SKU that you are using?

[2019-04-01 07:53] AshokPeddakotla-MSFT commented on #28293
@wesmc7777 Please have a look at this issue and provide your insights.

[2019-04-01 08:08] AshokPeddakotla-MSFT commented on #28294
@SeaDude Sure, we will look into this.

[2019-04-01 08:08] PramodValavala-MSFT commented on #28172
@bhimjik Just following up here... Did you get a chance to try out the PowerShell doc?

[2019-04-01 08:14] rich-davies opened #28438 "Missing Descriptions for CDN actions"
There are scarcely any descriptions for any of the CDN actions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33219707-3b9f-cc6b-541e-a806dc82622a
* Version Independent ID: b4e96391-bcf9-1f30-cb44-ed339469da4f
* Content: [Azure Resource Manager resource provider operations](https://docs.microsoft.com/en-us/azure/role-

[2019-04-01 08:17] sowndarrajandr opened #28439 "Pre-Requisite URL change"
Hi Team,
in Device registration enterpriseregistration.windows.net is a http end point not https please change https://enterpriseregistration.windows.net to http://enterpriseregistration.windows.net.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 816f0138-d336-3905-9f4f-e60c04da9326
* Version Independent ID: ce5166e4-5

[2019-04-01 08:18] CHEEKATLAPRADEEP-MSFT commented on #27697
@linda33wj Could you please look into this issue?

[2019-04-01 08:20] anmtando commented on #28338
Himanshu, my datasets are not parameterized.

[2019-04-01 08:22] anmtando commented on #28338
@MartinJaffer-MSFT, I am getting this message when I click on the glasses icon during the debug run.
When I validate my data flow, there are no validation error. I also have valid source and destination Azure SQL DW Datasets(not parameterized).

No, I did not come across the message "The private preview of Mapping Data Flows is disabled now..." .

[2019-04-01 08:26] hannesne commented on #28432
I figured it out. To trigger use the CosmosDb trigger manually post an http message to <functionsbaseurl>/admin/functions/<functionname> 
i.e.
http://localhost:7071/admin/functions/mycosmosdbtriggerfunction

The body should be of the format 

{"input": "[{\"key1\": \"value1\",\"id\": \"74f88dca-08f3-4184-aba7-3f22eb3ee1bc\",\"_rid\": \"8bgAAODM64cbAAAAAAAAAA==\",\"_self\": \"dbs/8bgAAA==/colls/8bg

[2019-04-01 08:31] SadiqhAhmed-MSFT commented on #28438
@rich-davies Thanks for the comment! We have this assigned to the content author to review further and update as appropriate.

[2019-04-01 08:41] genlin commented on #27483
@KeiroKamioka0000 Thanks for the feedback. I will add this FAQ into the article.

[2019-04-01 08:44] angoyal-msft commented on #28391
@LukeChung Thanks for your feedback. As of now there is no option for pausing the SQL Database directly. Only SQL Data warehouse can be paused.

You can follow this [URL ](https://docs.microsoft.com/en-us/rest/api/sql/databases/pause) for pausing database using API.

@kevinvngo Could you please comment on this. If you have any further details whether this functionality would be available in near f

[2019-04-01 08:50] ManojReddy-MSFT commented on #28439
@sowndarrajandr Thanks for your feedback. AFAIK it is actually a HTTPS endpoint. Can you help me understand why you are suggesting otherwise?

[2019-04-01 08:51] arnaldoUltebra opened #28441 "Explanation about appSettings needed"
On the `Application settings definitions` block of this article, we only have information about 4 of 9 app settings.
It will be nice to have information about all of them. And also, what are the possible values for each one. Because right now what we can see it's the explanation of a configuration. But it does not give me enough information to know how to handle this values.

---
#### Document Det

[2019-04-01 08:52] thommck opened #28442 "Section renamed to "Access Restrictions"?"
I can't find the "IP Restrictions" under the Networking blade in my App Service. There is only an "Access Restrictions" section. Is this the same thing? It looks the same but I wanted to get this confirmed (and if so, this page updated)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d90bbf62-44f9-30a6-d6ea-bbf776f6efc5

[2019-04-01 08:53] Rutikhal opened #28443 "error executing New-RdsRoleAssignment"
Hi. I am trying executing command New-RdsRoleAssignment -RoleDefinitionName "RDS Owner" -ApplicationId $svcPrincipal.AppId -TenantGroupName $myTenantGroupName -TenantName $myTenantName

but have an error New-RdsRoleAssignment : User is not authorized to query the management service.
I am doing this using my Global Admin account which is  TenantCreator for Windows Virtual Desktop

---
#### Document

[2019-04-01 08:54] KetanChawda-MSFT commented on #28288
@jaryder

1. In Dockerfile, add `ENV AzureFunctionsJobHost__Logging__Console__IsEnabled=true` to enable logging, the setting is [omitted in the basic image](https://github.com/Azure/azure-functions-host/issues/3469#issuecomment-429183447) so we have to do it manually for now.

2. If you get 401 Unauthorized, find the file `function.json`, change authLevel to `anonymous` if it is set to `function`(

[2019-04-01 09:03] angoyal-msft commented on #28398
@EisenbergEffect Thanks for your feedback, I have assigned this issue to the content author to help you better.
@wmengmsft Could you please look at the concern of the customer.

[2019-04-01 09:06] AshokPeddakotla-MSFT commented on #28322
PR has been created to update the document.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-01 09:06] #28322 closed

[2019-04-01 09:08] davidgristwood opened #28444 "The link to Azure SQL Database elastic capabilities video in next steps is broken"
The link to the Azure SQL Database elastic capabilities video in Next steps is broken and given the retirement of MVA, a new link would be appreciated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ea31120-0699-efed-c674-621ea8683f3a
* Version Independent ID: f36998d8-78e9-d53d-feeb-e381c895eb6b
* Content: [Create and

[2019-04-01 09:11] KetanChawda-MSFT commented on #28432
@hannesne I understand you figured out the issue and I am happy to see you posting detailed solution as well as it will help others in the community .

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion.

[2019-04-01 09:14] RohitMungi-MSFT commented on #28278
@mattfortech You can post the same in MSDN Cognitive Services [forum](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=AzureCognitiveService) for anything specific to code and share that link here. The GIT issues here are used for any bugs in documentation.

Could you also confirm if which version of custom vision client was used for your console application test? I used the latest

[2019-04-01 09:16] thecpshah opened #28445 "Prediction resource ID"
What should be the value for `prediction_resource_id` and from where do I get it?

Many thanks,
Chintan

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9957cb6-3fc1-b7ae-db20-f90b6a833faf
* Version Independent ID: 90421a02-0e49-5bf4-3cd1-f94c80031b3a
* Content: [Quickstart: Create an object detection project with the C

[2019-04-01 09:26] Shekharb694 commented on #25749
This is how you guys, solve customer issues!
It has been more than a month, you guys are not providing me with any prominent solution or statement. If this SDK is not stable at least let me know, I'll switch to some other service like Google Maps or Amazon Maps.

[2019-04-01 09:33] SnehaAgrawal-MSFT commented on #28442
@thommck Thanks for the question! We are investigating and will update you shortly.

[2019-04-01 09:34] jakaruna-MSFT commented on #28403
@mshahat I think we cant create sub domains for the domainn <region>.aksapp.io . I will check with the team and let you know.

[2019-04-01 09:38] jakaruna-MSFT commented on #28418
#28393 Similar question

[2019-04-01 09:44] jakaruna-MSFT commented on #28393
@mshahat Http addon deploys an external DNS pod which scans the ingress and services(loadBalancer type) and updated the Azure DNS accordingly.
More information can be found from this [link](https://github.com/kubernetes-incubator/external-dns).
Its mentioned in document [here](https://docs.microsoft.com/en-us/azure/aks/http-application-routing#http-routing-solution-overview) as the "External DNS".

[2019-04-01 09:45] RohitMungi-MSFT commented on #28399
@orgads I think the property you need to set is [SpeechServiceConnection_RecoMode](https://docs.microsoft.com/en-us/javascript/api/microsoft-cognitiveservices-speech-sdk/propertyid?view=azure-node-latest) by using the [setProperty](https://docs.microsoft.com/en-us/javascript/api/microsoft-cognitiveservices-speech-sdk/speechconfig?view=azure-node-latest#setproperty-string--string-) method. Hope thi

[2019-04-01 09:47] jakaruna-MSFT commented on #28403
You can try with your custom domains though. That should work well.

[2019-04-01 09:47] wenchengchuang commented on #28315
such as LVMH is a big group includes many subsidaries, Fendi, Celine, Bvlgari, RIMOWA, Zenth ... etc.
Request to allocate bandwidth of a expressroute circuit to each internal divisions

[2019-04-01 09:49] AshokPeddakotla-MSFT commented on #28437
@RHAD1969 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-01 09:50] jakaruna-MSFT commented on #28105
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-01 09:55] RohitMungi-MSFT commented on #28445
#https://github.com/MicrosoftDocs/azure-docs/issues/28278

[2019-04-01 09:58] mshahat commented on #28393
Thanks, @jakaruna-MSFT ... This answers a large part of my question however it does not cover the question of using an azure based domain.

`.<region>.cloudapp.azure.com` that is available with a public IP OR
`.<region>.aksapp.io` similar to that gets provisioned with AKS http routing addon.

I am trying to avoid the need of having a custom domain.

Thanks,

[2019-04-01 10:00] dominicbetts commented on #27501
Hi @cingh-jasdeep - we haven't heard back from you in a while. I'm going ask that this issue is closed, but please reopen it if you have any further question. Thanks, Dominic

[2019-04-01 10:00] dominicbetts commented on #27501
#please-close

[2019-04-01 10:02] mshahat commented on #28403
Thanks, @jakaruna-MSFT . as asked on the other issue, I'd like to leverage an Azure-based domain if possible rather than having to come with a custom domain.

[2019-04-01 10:04] dominicbetts commented on #27718
Hi Roman,

I'll make sure this information is passed on to the product team. In the meantime, I'm going to close this issue, but please feel free to reopen it if you have any further questions.

Thanks,
Dominic

[2019-04-01 10:04] dominicbetts commented on #27718
#please-close

[2019-04-01 10:05] KalyanChanumolu-MSFT commented on #28444
@davidgristwood Thank you for letting us know.
This issue is being assigned to the content author to update as appropriate. 

[2019-04-01 10:16] DeanGross opened #28446 "Determination of Sensitive Information"
How is data determined to be "sensitive"? in O365 there is a list of built in sensitive information types, see https://docs.microsoft.com/en-us/office365/securitycompliance/what-the-sensitive-information-types-look-for, and we can create custom types. Does SQL use these same types? if so, please add a link, if not what does it use? Can we create custom types in SQL server? Please add more informat

[2019-04-01 10:22] tsubasaxZZZ opened #28447 "Antimalware doesn't support for Linux VM"
Antimalware doesn't support for Linux VM. So I think it need remove this section  or describe other solution.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e575134-c533-684a-a1ed-885b2504442a
* Version Independent ID: 6eb3f7c9-a2d4-07d6-3352-57c07cbded75
* Content: [Secure and use policies on your Linux VMs in Azure]

[2019-04-01 10:23] anmtando commented on #28338
Also, one more issue I noticed was, if I cancel (recursively) my debug run in the pipeline then the data flow activity gets cancelled but the data flow keeps on running. It kept on copying data from my source to sink even after cancellation.

[2019-04-01 10:28] KalyanChanumolu-MSFT commented on #28427
@SapnaSoni123 The intent of the BulkUpdate API is to update specific properties inside a document,
You will need to specify the list of [operations  ](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.cosmosdb.bulkexecutor.bulkupdate?view=azure-dotnet)you would like to perform on a document.

Could you please provide more details on what you are trying to achieve.

[2019-04-01 10:45] jtuliani commented on #27043
@roygara Thanks for clarifying! I suggest clarifying in the doc also, but that's up to you.

[2019-04-01 10:56] PramodValavala-MSFT commented on #28358
@nero120 You can use [`Runtime Binding`](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library#binding-at-runtime) instead. Specifically this [sample](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library#multiple-attribute-example) should help.

Note that still binding will create an empty file either way, so you would want to bind o

[2019-04-01 11:03] RohitMungi-MSFT commented on #28412
@sleebapaul To enable tracking of your model data you can turn on [logging ](https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-enable-logging)of your workspace for deployed models. There is also an option to [collect the model input data and predictions](https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-enable-data-collection) which can be analyzed using P

[2019-04-01 11:04] jakaruna-MSFT commented on #28308
@Heidilohr Please take a look at this issue.

cc: @MicahMcKittrick-MSFT

[2019-04-01 11:09] ManojReddy-MSFT commented on #27293
@sasanmcp I agree with the findings of @marcusclayton. I am assigning this to the author to consider adding a note to the doc and to confirm the difference between the two commands.

@billmath Can you take a look at this and share your thoughts ?

[2019-04-01 11:10] dominicbetts commented on #25781
Hi @ppathan - I've updated the article and clarified the links to the how-to connect articles. Thanks for pointing this out.

#please-close

[2019-04-01 11:10] erich-wang commented on #27377
@nonoxp , currenlty IoT Edge doesn't allow dot in module names, so VS extension won't support until [Iot Edge](https://github.com/Azure/iotedge/) supports dot for module names

[2019-04-01 11:11] shashishailaj commented on #28317
@CelesteDG Could you please help get this checked with engineering teams if we have any plans so that  /oidc/userinfo  endpoint returns the same information as the /v1.0/me for a personal account?

[2019-04-01 11:17] jakaruna-MSFT commented on #28447
@tsubasaxZZZ Agreed.  Thanks for the feedback. I am assigning this issue to the Author to take necessary actions.
There is a [link](https://docs.microsoft.com/en-us/azure/security/azure-security-antimalware#architecture) under Azure security which says that Linux is not supported

[2019-04-01 11:17] gokul2018 opened #28448 "Is this applicable only for the BLOB within the storage account or even for Files/tables data?"
Is this applicable only for the BLOB within the storage account? If i have Azure files/ Azure Filesync, does this feature work on those as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a558a9e-10d0-ea34-8780-d9084f87f952
* Version Independent ID: 60dda4e0-7630-f358-aa3a-6a992eae61e2
* Content: [Managing the Azu

[2019-04-01 11:21] sergaz-msft commented on #28238
@LMtx we are assigning this issue to the content author to help answer your question and enhance the doc with that info. Thanks!

[2019-04-01 11:25] AshokPeddakotla-MSFT commented on #28437
@RHAD1969 Ensure that you have required level of permissions on the subscription level to create the resources.

Also, use **az account set** with the subscription ID or name you want to switch to.
**Ex:** az account set --subscription "your subscription name/ ID"

It appears that you have not registered the name spaces. Please register all Azure name space providers for the subscription. Refer th

[2019-04-01 11:26] mmaraa commented on #28093
Yes. Deployment failed on DSC-extension until I registered the service principal as RDS Owner.

[2019-04-01 11:26] KalyanChanumolu-MSFT commented on #28385
@gjmoyer We will assign this issue to the content author to evaluate and update the document with the requested code sample. 

[2019-04-01 11:28] rkarlin commented on #15386
That seems unlikely. Please open a support ticket to troubleshoot this issue. Thanks.

[2019-04-01 11:36] AjayKumar-MSFT commented on #28220
@mattchenderson, Requesting your insights and guidance on accomplishing this specific scenario.

[2019-04-01 11:38] uitdam opened #28449 "status codes, error codes"
I do not find a overview in the documentation where all possible status codes and error codes are listed (e.g. callback when updateing deviceTwin reported properties)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ff6fbb2-5679-a9e7-b9f3-40d638cadae8
* Version Independent ID: fa51c99a-0df6-cebf-aecc-b08df5f85454
* Cont

[2019-04-01 11:41] shashishailaj commented on #27915
@pstidsen  Azure AD App per se cannot be categorized in versions hence it is better to avoid versioning of the applications on the basis of where they are made even through there are very small differences that can be seen if you use powershell. Microsoft follows nomenclature of v1, v2 for endpoints rather than apps. However for the sake of speaking conventionally , you can say that if the applica

[2019-04-01 11:41] #27915 closed

[2019-04-01 11:45] SnehaAgrawal-MSFT commented on #27893
@Leon99 We have received your email from the other GitHub Issue We will work with you offline on this.

[2019-04-01 11:47] AshokPeddakotla-MSFT commented on #27377
@erich-wang Thanks for the confirmation.
@nonoxp We hope your query is addressed. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-01 11:47] #27377 closed

[2019-04-01 11:48] #27501 closed

[2019-04-01 11:51] sergaz-msft commented on #28103
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-01 11:51] #28103 closed

[2019-04-01 11:53] alwaysautomateit commented on #28117
@MarileeTurscak-MSFT is there any guidance on how to roll this method back? I've disabled the MFA enforcement through conditional access and doublechecked the MFA portal settings (app passwords are enabled) but am still unable to view the app password page.

[2019-04-01 11:53] DixitArora-MSFT commented on #28089
@mganeshphani Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue

[2019-04-01 11:53] #28089 closed

[2019-04-01 11:53] sergaz-msft commented on #28249
@smoms you can also post an issue on any of the azure iot sdks with the same question and pointing here + uservoice. Thank you!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-01 11:53] #28249 closed

[2019-04-01 11:55] DixitArora-MSFT commented on #28140
@Arash-Sabet I have assigned this to content author to review and update as appropriate.

[2019-04-01 11:56] jtuliani commented on #27802
Thanks, that helps. It clarifies these are inbound ports to the DMS. @Mike-Ubezzi-MSFT - that's what needs to be added to the doc

[2019-04-01 11:56] sergaz-msft commented on #28318
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-01 11:56] #28318 closed

[2019-04-01 12:09] Jnchi commented on #27943
I had my administrator grant privileges for the organization,

<img width="477" alt="permissions" src="https://user-images.githubusercontent.com/44276443/55326293-63831880-5455-11e9-8e03-6986231601d7.PNG">

[2019-04-01 12:13] shashishailaj commented on #28001
We have initiated a pull request and it will be merged once the Authors approve the same. WE will close this issue now.

Thank you.

[2019-04-01 12:13] #28001 closed

[2019-04-01 12:24] shashishailaj commented on #28277
@StarkCaptain As per the error it seems your request did not have proper token when the request was made. Hence we get a 401 , Authorization header is missing . Could you pleas try this again and update us ?

[2019-04-01 12:49] dohughes-msft opened #28451 "No PowerShell support Run Command for Linux"
Unlike the CLI, it seems that the PowerShell Invoke-AzVMRunCommand cannot be used to run scripts inside Linux VMs. The script must be present on the calling machine, which is not practical.

The problem is that Azure Automation runbooks only support PowerShell and not CLI. Is there any solution to this catch-22?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2019-04-01 12:55] jakaruna-MSFT commented on #28433
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-01 12:57] jakaruna-MSFT commented on #28443
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-01 12:59] jakaruna-MSFT commented on #28435
Thanks for the question! We are investigating and will update you shortly.

[2019-04-01 13:00] jakaruna-MSFT commented on #28435
#28434 possible duplicate

[2019-04-01 13:00] jakaruna-MSFT commented on #28434
Thanks for the question! We are investigating and will update you shortly.

[2019-04-01 13:01] jakaruna-MSFT commented on #28436
Thanks for the question! We are investigating and will update you shortly.

[2019-04-01 13:04] salexu commented on #28446
The sensitivity recommendations are determined by the patterns that are defined within the information types. These can be customized, as mentioned here: https://docs.microsoft.com/en-us/azure/sql-database/sql-database-data-discovery-and-classification#define-and-customize-your-classification-taxonomy.
More specific details: https://docs.microsoft.com/en-us/azure/security-center/security-center-in

[2019-04-01 13:19] CeciAc commented on #12308
#please-close

[2019-04-01 13:20] j-martens commented on #28147
@yanrez is there a way for people to know what the current image version is? This content will be quickly out of date again otherwise...

[2019-04-01 13:27] SubhashVasarapu-MSFT commented on #27880
@nnamedieh , If the destination address is for one of Azure's services, Azure routes the traffic directly to the service over Azure's backbone network, rather than routing the traffic to the Internet. Traffic between Azure services does not traverse the Internet, regardless of which Azure region the virtual network exists in, or which Azure region an instance of the Azure service is deployed in.Al

[2019-04-01 13:31] shaikhosama opened #28455 "Oracle Linux 7.4, have issue with Accelarted networking"
Team,

Please cross check if Oracle Linux 7.4 is compatible with Accelarted Networking,
as i have faced issue similar issue with this VM flavour and please confirm if 7.4 is compatible then is it only works with any specific kernel version?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f89338c0-968d-c22f-5b0d-ed3870eb

[2019-04-01 13:33] Blackbaud-ChrisBlythe opened #28456 "Impact from deprecation of VS load test?"
I was wondering if the deprecation of web performance and load test functionality in Visual Studio (https://github.com/MicrosoftDocs/visualstudio-docs/issues/2032) will impact Availability Tests in any way since both are essentially based on Web Tests? Or, are there any plans to support tests written in other frameworks?

---
#### Document Details

⚠ *Do not edit this section. It is required for d