[2020-01-15 06:42] #45995 closed

[2020-01-15 06:54] JeffreyFowels commented on #12432
I agree with MrJinx2015 , Had it working for a few days as per the Microsoft Document only thing I can see that changed on the server were updates. The issues with Azure AD Auth is on the Gateway...Since splitting the Gateway to use pass through and RDWeb to use AzureAD ...There has been no more issues and have been testing for the passed month.. So now I can setup Conditional access for the users

[2020-01-15 07:05] v-hakob commented on #45210
Hi @kevinlam1 and @ecfan, we cannot find the action "Get file content using path" from the ISE File System connector, though it is available as the non-ISE File System connector. Do you know if there is any equivalent action, or if there is any way to get the files with ISE environment?

[2020-01-15 07:21] rojakcoder opened #46182 "Unable to trigger Function with Event Grid trigger binding"
I'm trying to run an Event Grid triggered Function locally on my development machine. Under the section "Non-HTTP triggered functions" (https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local#non-http-triggered-functions), it says I can send a POST request to `http://localhost:{port}/admin/functions/{function-name}` (which I did).

All I got back is a 400 Bad Request from the se

[2020-01-15 07:23] jeroenwo opened #46183 "Redirect http to https clarification"
At bullet 10 (creating the redirect http to https rule), can there be some clarification on the following points:
- Why is `302` used? I would expect it to be permanent (it isn't like we want to revert to http again in the future, and less traffic/redirects from FrontDoor is desirable).
- Why is `302` chosen (allows changing `POST` to `GET`) over `307`/`308`, where changing `POST` to `GET` is not

[2020-01-15 07:38] nhvduy opened #46184 "Option 2: Rewrite rule does not work if the URL contain '?'"
I upgraded my standard CDN endpoint to Verizon premium tier in order to use the option 2 in this doc.
I set my rule as the following:

Source: (container1\/.*)
Destination: $1?{my_sas_token}

But I notice that, if my path likes "https://sasstoragedemo.azureedge.net/container1/demo.jpg", it works well.
If my path likes "https://sasstoragedemo.azureedge.net/container1/abcd?demo.jpg", it does not wor

[2020-01-15 07:51] ToruMakabe opened #46185 "Do not match some settings between table and screenshot"
https://docs.microsoft.com/en-us/azure/cosmos-db/create-sql-api-python#add-a-container

Database ID and Partition key settings do not match between table and screenshot.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 995ff127-8028-8118-701e-53f07f3a7fc5
* Version Independent ID: dff7d0b8-f677-99a9-64b3-89d9bb4fde0d
* C

[2020-01-15 07:56] KrishnaG-MSFT commented on #46167
@Jeff-Schafer-Azure Thanks for the feedback.
Assigning @wesmc7777 for visibility, review and document enhancement consideration if required.

[2020-01-15 07:56] ChrisSommers opened #46186 "Use Availability Zones rather than Sets?"
It states the SQL VMs must be in an Availability Set.

Is it possible to put the SQL VMs in different Availability Zones instead?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7e54667-9299-de94-5b2c-4d54959cbf27
* Version Independent ID: 1dca831e-665a-e8c0-1654-0887732f6908
* Content: [Tutorial: Prerequisites for ava

[2020-01-15 08:00] ChrisSommers opened #46187 "Use Availability Zones rather than Sets?"
As per title, is it permissible to use Availability Zones rather than Sets for the SQL VMs?

[2020-01-15 08:02] KrishnaG-MSFT commented on #46174
@azure2439 Thanks for your comment. We will review and get back to you shortly with an update.

[2020-01-15 08:03] mike-urnun-msft commented on #45869
@mariomeyrelles Thanks for pointing this out and helping us drive improvements toward MS Docs! As part of #46138, I've created a PR that shows an example of the structure in `local.settings.json` file and the changes should be live within the next 24hrs.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the

[2020-01-15 08:03] #45869 closed

[2020-01-15 08:04] mike-urnun-msft commented on #46138
@bcowdery Thanks for pointing this out and helping us drive improvements toward MS Docs! I've created a PR that updates the sample and the changes should be live within the next 24hrs.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-01-15 08:04] #46138 closed

[2020-01-15 08:05] KrishnaG-MSFT commented on #46175
@ntachandley Thanks for your comment. We will review and get back to you shortly with an update.

[2020-01-15 08:09] KrishnaG-MSFT commented on #46177
@Jigar191089 Thanks for the feedback.
Assigning @JSeb225 for visibility, review and document enhancement consideration.

[2020-01-15 08:11] KrishnaG-MSFT commented on #46179
@Willem-J-an Thanks for your comment. We will review and get back to you shortly with an update.

[2020-01-15 08:13] markusfoss commented on #43302
I also have the same issue when trying to create a Premium Azure Function w/VNET integration. My arm template:

`{
            "type": "Microsoft.Web/sites/virtualNetworkConnections",
            "apiVersion": "2018-11-01",
            "name": "[concat(variables('functionname'), '/', parameters('name'), '_functions')]",
            "location": "West Europe",
            "dependsOn": [

[2020-01-15 08:13] ashitasharma opened #46188 "Please update Article for Suse"
For SUSE:

Add the secondary IP address to file ifcfg-eth0

IPADDR1='x.x.x.x.x'
NETMASK1='x.x.x.x'
LABEL1='0'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3b4d2d7-88a3-c493-68f9-39c89fbbcf96
* Version Independent ID: 6dff4842-197d-9e60-3c80-b34cc6aaab3e
* Content: [Multiple IP addresses for Azure virtual machines -

[2020-01-15 08:17] KrishnaG-MSFT commented on #46181
@APEThomas Good observation. Thanks for the feedback. I will correct it and update you soon.

[2020-01-15 08:20] BryanTrach-MSFT commented on #46146
@jarthu3 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-15 08:27] KrishnaG-MSFT commented on #46186
@ChrisSommers Thanks for your comment. We will review and get back to you shortly with an update.

[2020-01-15 08:31] KrishnaG-MSFT commented on #46187
Closing this issue by considering it as duplicate of #46186. If there are concerns or further questions regarding this consideration, please do let us know and we will gladly continue the discussion.

[2020-01-15 08:31] #46187 closed

[2020-01-15 08:37] KrishnaG-MSFT commented on #46182
@rojakcoder Thanks for your comment. We will review and get back to you shortly with an update.

[2020-01-15 08:40] KrishnaG-MSFT commented on #46183
@jeroenwo Thanks for your comment. We will review and get back to you shortly with an update.

[2020-01-15 08:47] MartinFuhrmann commented on #46112
It was a new tenant, nothing else like CA was configured. i just switched on the security defaults and afterwards i logged into the tenant using admin credentials. I wasn't asked for MFA. So ... my question is: does it take a certain amount of time till it works?

[2020-01-15 08:48] KrishnaG-MSFT commented on #46132
@steele82 Thanks for the comment.
Assigning @roygara for visibility, review and document enhancement consideration.

[2020-01-15 08:48] mike-urnun-msft commented on #46159
You're right, @joeljanke. However, this doc attempts to point out more of the unique characteristics of VNet Integration with the Premium plan and doesn't necessarily state that this configuration was _only_ available with the Premium plan though. Also, the [Private network connectivity](https://docs.microsoft.com/en-us/azure/azure-functions/functions-premium-plan#private-network-connectivity) sec

[2020-01-15 08:56] mike-urnun-msft commented on #46153
@Torxsmind This doc attempts to communicate the different types of Connectors that are available rather than to list all of them. The full list is maintained here: https://docs.microsoft.com/en-us/connectors/

Also, it looks like the [Teams connector](https://docs.microsoft.com/en-us/connectors/teams/) still in Preview status so I'm not sure if it should be here quite yet.

[2020-01-15 08:59] dudu-markovitz opened #46189 "There is no "Telemetry" specification in this page nor in the swagger link"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6782764c-ebd5-bb0b-718c-aac606afbf46
* Version Independent ID: 4cf2b68c-528b-b57c-eeee-4d1aae286e71
* Content: [Ingest historical telemetry data - Azure for Industry: Agriculture](https://docs.microsoft.com/en-us/azure/industry/agriculture/ingest-historical-telemetry-dat

[2020-01-15 09:21] dudu-markovitz opened #46190 ""FarmId" is missing from the "device" specification"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6782764c-ebd5-bb0b-718c-aac606afbf46
* Version Independent ID: 4cf2b68c-528b-b57c-eeee-4d1aae286e71
* Content: [Ingest historical telemetry data - Azure for Industry: Agriculture](https://docs.microsoft.com/en-us/azure/industry/agriculture/ingest-historical-telemetry-dat

[2020-01-15 09:55] frececroka commented on #46110
I was accessing the `https://login.microsoftonline.com/{}/oauth2/token` endpoint instead of the `https://login.microsoftonline.com/{}/oauth2/v2.0/token` endpoint by mistake. It works now, thanks!

[2020-01-15 09:55] #46110 closed

[2020-01-15 10:43] MohamedSahbi opened #46191 "Do we need data-gateway with Azure ExpressRoute"
Our on-premise network is connected to Azure with ExpressRoute. Do we still need a data-gateway for the on-premises data? This point is not mentioned in the documentation. It would be great to add it in "considerations" section or something similar to the case in the Azure Data Factory Self-hosted IR [documentation](https://docs.microsoft.com/en-us/azure/data-factory/create-self-hosted-integration

[2020-01-15 10:43] orspod commented on #45577
#sign-off
Change approved.

[2020-01-15 10:49] orspod commented on #45577
@Mike-Ubezzi-MSFT thanks for creating the PR and the needed change.
@algattik thanks for the feedback. Since the needed change was made, I am closing this issue.
#please-close

[2020-01-15 10:49] #45577 closed

[2020-01-15 10:49] alaahusseiny opened #46192 "REQUEST - Adding the direct link to GitHub Repo"
I think it would be an added value to add the direct clone link of the repo.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 479bff62-927a-9f71-c85f-4a1188c72bb2
* Version Independent ID: df934d01-7a9d-f7f9-d9ea-320454e32d77
* Content: [Add sign-in with Microsoft to ASP.NET Core web apps - Microsoft identity platform](h

[2020-01-15 10:53] jtourlamain commented on #18475
@vladvino Apparently the thumbprint check works when using the uppercase version of the thumbprint (maybe you can mention it in the docs that the "desired-thumbprint" must be the sha1 uppercase version of the cert).
When just copy pasting the policy that is working via the portal into ARM templates, the template fails to deploy with the same ValidationError described above.

[2020-01-15 10:55] SurferLab opened #46193 "could not intialize cloudSpatialAnchorSession"
Hello, When executing the line cloudSpatialAnchorSession = new CloudSpatialAnchorSession(); unity generates the following error :
EntryPointNotFoundException: ssc_cloud_spatial_anchor_session_create
Microsoft.Azure.SpatialAnchors.CloudSpatialAnchorSession..ctor () (at &lt;b36503265f8640b0b25527e88c19df3b&gt;:0)
AzureSpatialAnchorsScript.InitializeSession () (at Assets/Scripts/AzureSpatialAnchorsSc

[2020-01-15 10:59] madiepev opened #46194 "no directory"
Can you list the directories and files in your file system? All examples seem to include the parameter 'directory' but I don't always have my files stored in a directory in a file system.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18ec84b9-0311-d67f-60a8-428db54add42
* Version Independent ID: af6292f5-b0ca-5874-3f5

[2020-01-15 11:02] cananac commented on #46115
Hi @FrankHu-MSFT ,

Yes I understand this. I'm asking if there is a way to detect any data which had been received without being encrypted on client-side.

Thanks,
Canan

[2020-01-15 11:05] wesmc7777 commented on #46167
Thanks @Jeff-Schafer-Azure. Added a commit to make this clear with the new flyout menu mode.

[2020-01-15 11:06] robincarlsson-theswede opened #46195 "Issue with Powershell module for the runbook script"
There is an existing issue with the Az-Connect command which is used in the runbook script provided on this page. The module is still in Preview.
The command cause this error:

This issue also discussed here on Github:
https://github.com/Azure/azure-powershell/issues/9467

[2020-01-15 11:08] asergaz commented on #45917
Hi @skyizthelimit ,
Being an IoT Edge device, things can be a little different. [See this feature Request](https://feedback.azure.com/forums/907045-azure-iot-edge/suggestions/34812739-support-x-509-certificates-in-iot-edge-for-raspbia). Provision an Edge device identity using a x.509 cert via DPS is possible when using IoTEdge [1.0.9-rc2](https://github.com/Azure/azure-iotedge/releases/tag/1.0.9-r

[2020-01-15 11:14] #46167 closed

[2020-01-15 11:25] robincarlsson-theswede opened #46196 "Issues with some Powershell module"
Hi,
The cmdlet Az-Connect is not working with Az-Profile module and preview versions of Az-Connect.
The error that might occur is: Connect-AzAccount : Object reference not set to an instance of an object.

Based on my experience, the module Az-Profile did not work on version 0.70, and it is not working with Az-Account 2.0-preview. The issue is also open on Github here: https://github.com/Azure/azu

[2020-01-15 11:46] pratikgujral opened #46197 "Incorrect sample code"
The following line in the sample code has a bug.
URI_AddUtterances = f'https://{LUIS_ENDPOINT}/luis/authoring/v3.0-preview/apps/{LUIS_APP_ID}/versions/{LUIS_APP_ID}/examples'

Instead of 'versions/{LUIS_APP_ID}/examples' it should have been 'versions/{LUIS_APP_VERSION }/examples'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-01-15 11:55] madiepev commented on #40107
I'm getting the same issue. How to resolve this?

[2020-01-15 12:02] Absoblogginlutely commented on #34266
This question would be good to add to the faq as I had the same question too and the pricing page does not have that information. It also states that preview pricing is until 1/1/2020. This preview pricing either needs to be removed or the dates updated.

[2020-01-15 12:06] KrishnaG-MSFT commented on #46195
Closing this issue by considering it as duplicate of #46196. If there are concerns or further questions regarding this consideration, please do let us know and we will gladly continue the discussion.

[2020-01-15 12:06] #46195 closed

[2020-01-15 12:14] yanivlavi commented on #44936
Could you please share more info on this? Only a change in the URI and API is expected.
Did you see the changed alert name in the UI or the display name?

[2020-01-15 12:34] KrishnaG-MSFT commented on #46196
@robincarlsson-theswede Thanks for bringing this to our notice and thanks for the reference Azure/azure-powershell#9467 that is with engineering / product Azure PS team.

The referred issue looks like related to product bug & update regarding upcoming release of MSAL and [Azure/azure-powershell](https://github.com/Azure/azure-powershell/issues/new/choose) is the right place / repository to report

[2020-01-15 12:43] BakkerJan opened #46199 "Question"
"The user risk for B2B collaboration users is evaluated at their home directory. "
Can you explain how this works? Is the risk tracked by default on every tenant? What about the license requirements?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e0625bb-7367-0bb3-7380-55ac91bde11f
* Version Independent ID: efa6711d-7

[2020-01-15 12:51] KrishnaG-MSFT commented on #46184
@nhvduy Thanks for your comment. We will review and get back to you shortly with an update.

[2020-01-15 12:53] KrishnaG-MSFT commented on #46185
@ToruMakabe Thanks for your comment. We will review and get back to you shortly with an update.

[2020-01-15 12:54] KrishnaG-MSFT commented on #46188
@ashitasharma Thanks for your comment. We will review and get back to you shortly with an update.

[2020-01-15 12:57] KrishnaG-MSFT commented on #46191
@MohamedSahbi Thanks for your comment. We will review and get back to you shortly with an update.

[2020-01-15 13:00] KrishnaG-MSFT commented on #46192
@alaahusseiny Thanks for your comment. We will review and get back to you shortly with an update.

[2020-01-15 13:02] KrishnaG-MSFT commented on #46193
@SurferLab Thanks for your comment. We will review and get back to you shortly with an update.

[2020-01-15 13:03] tjrobinson opened #46201 "Propagation time for Bring Your Own Certificate cert renewals"
How long does this take to propagate? 6-8 hours?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: beac0740-af6e-61ce-bcfa-e783ca181b7d
* Version Independent ID: d97885ea-b051-5fde-bd14-ec977e34760e
* Content: [Tutorial - Configure HTTPS on an Azure CDN custom domain](https://docs.microsoft.com/en-us/azure/cdn/cdn-custom-

[2020-01-15 13:04] KrishnaG-MSFT commented on #45847
@msandbu As we didn't see any email from you until now so closing the issue for now. Feel free to drop an email so that we can try to help you further. If there are further questions regarding this matter or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2020-01-15 13:04] #45847 closed

[2020-01-15 13:07] alexlogiticks opened #46202 "Data URI 2.0.0 is returning unicode characters in localization"
I'm trying to implement localisation in custom policies and created localised resources:

[code]
When it is renders in browser, for `Correo electrónico o número de teléfono` it is showing `Correo electr&#243;nico o n&#250;mero de tel&#233;fono`

The data uri i'm using is `urn:com:microsoft:aad:b2c:elements:contract:selfasserted:2.0.0` and using my own html page. I can add one more thing, the unico

[2020-01-15 13:08] KrishnaG-MSFT commented on #46194
@madiepev Thanks for your comment. We will review and get back to you shortly with an update.

[2020-01-15 13:12] KrishnaG-MSFT commented on #46197
@pratikgujral Good observation. Thanks for the feedback. @Potapy4 has created a pull request to make the required change. Once the pull request is merged then the change would get reflected in the referred Azure document. Thanks @Potapy4. 👍

[2020-01-15 13:15] KrishnaG-MSFT commented on #46199
@BakkerJan Thanks for your comment. We will review and get back to you shortly with an update.

[2020-01-15 13:16] KrishnaG-MSFT commented on #46201
@tjrobinson Thanks for your comment. We will review and get back to you shortly with an update.

[2020-01-15 13:18] Blackmist commented on #45373
@anoopasokan @nheinbaugh  Sorry for the time this took to update the document. The doc has been updated with the steps on setting up the trigger connection string. The update will go live later today.

#please-close

[2020-01-15 13:18] #45373 closed

[2020-01-15 13:18] KrishnaG-MSFT commented on #46202
@alexlogiticks To better assist you, can you please share the Azure document link / URL for which this feedback is applicable to ?

[2020-01-15 13:21] RyanHill-MSFT commented on #45897
@StingyJack you'll have to [configure](https://docs.microsoft.com/en-us/azure/app-service/containers/configure-custom-container#enable-ssh) your docker image for SSH. This doc also contains how you can use the `az webapp log config --name <app-name> --resource-group myResourceGroup --docker-container-logging filesystem` CLI command to access docker logs via https://<app-name>.scm.azurewebsites.net

[2020-01-15 13:22] NavtejSaini-MSFT commented on #46154
@plzm The link is correct. You have click on the links provided under the header Classes to see the examples etc.
![Capture](https://user-images.githubusercontent.com/52257742/72437167-27187300-3770-11ea-9a57-556455850979.JPG)
Hope this helps.

[2020-01-15 13:27] StingyJack commented on #45897
So the multi container app service is entirely headless, with no ability to manage the individual containers a-la docker-compose. That's not going to be terribly useful for what I need, and am not keen on altering the image set just for one hosting environment/configuration. Thanks for the info though, it saved me a bunch of time.

[2020-01-15 13:28] cdanieloliveira commented on #45939
Another question does this work for both Remote Access Software and Access through the web access?

[2020-01-15 13:34] KrishnaG-MSFT commented on #46189
@dudu-markovitz Thanks for the feedback.
Assigning @uhabiba04 for visibility, review and document enhancement consideration.

[2020-01-15 13:34] alexlogiticks commented on #46202
@KrishnaG-MSFT You mean policy url? We are in a production system, so i can't share url, attaching screenhot please follow the link
[Image](https://drive.google.com/file/d/1C1dlUgAYXCBg5Aj_YI83yVbiQ4fDLSJb/view?usp=sharing)

Found one more thing with 1.2.0 same thing works fine.

[2020-01-15 13:41] KrishnaG-MSFT commented on #46202
@alexlogiticks [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions if any, product issues related to wrong doc instructions or doc related reproduction required product issues, etc.) so I was asking for Azure docum

[2020-01-15 13:43] KrishnaG-MSFT commented on #46190
@dudu-markovitz Thanks for the feedback.
Assigning @uhabiba04 for visibility, review, to provide insights and for document enhancement consideration if required.

[2020-01-15 13:55] cananac opened #46203 "User delegated SAS production use"
Hi,

Is there a planned release date for user delegated SAS that is safe for production use?

Thanks,
Canan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 356fbbd8-db87-fb87-2c0d-d50c8657e9e3
* Version Independent ID: 00553689-e763-af48-ff03-da6eb8deb274
* Content: [Use .NET to create a user delegation SAS for a contai

[2020-01-15 14:23] himadrinath opened #46205 "its confusing getting started with custom policies"
i already using b2c with few of my apis but i dont have native app yet so i didn't create any native app in my b2c but in getting started with custom policies docs its tell two create 2 application. it will be very helpful to create a video in msdn channel for just gettings started with policies from zero and simplify it...

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-01-15 14:25] alexlogiticks commented on #46202
@KrishnaG-MSFT Ok, so i'll ask in forums

[2020-01-15 14:25] #46202 closed

[2020-01-15 14:35] AlexanderViken commented on #43686
any news on when this will be updated?

[2020-01-15 14:36] KristofferBerge commented on #24844
@davidmu1 Any progress on documenting this?

As the last comment in #42747 says, the solution suggested by the documentation is specific for regular AD. After following the steps I suspect it's not affecting B2C. If I visit https://passwordreset.microsoftonline.com/?whr=xxxxxx.onmicrosoft.com I'm able to se the logo I uploaded in the company branding settings, but it's not affecting any of the B2C

[2020-01-15 14:45] NavtejSaini-MSFT commented on #46145
@karthik25 Currently there is no such option to achieve this. Please do raise a feedback for the same here:
https://feedback.azure.com/forums/217321-sql-database
This will help the PG team to look at this and add such a feature.

[2020-01-15 14:48] asergaz commented on #46193
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-01-15 14:53] NavtejSaini-MSFT commented on #46185
@ToruMakabe The Screenshot is just for the reference and you can use the Table values for creation of the container. We will check with author on how this can be modified.

@SnehaGunda Please comfirm if you can check and add the new screenshot displaying the correct values.

[2020-01-15 14:57] asergaz commented on #46062
Thanks for reporting this @ToriParla . + @vijayma to answer your question.

[2020-01-15 15:32] benjamin-goldman opened #46207 "unable to select secret in listener for Application Gateway"
you guys state:

"you can also use a key vault secret that's stored as a password-less, base 64-encoded PFX file."

This is great- because it means we can re-use the azure app service certificates which are stored this way.

Unfortunately when attempting to do this only the elements that reside in my key vaults "certificate" section are being displayed even though i have granted access to the secr

[2020-01-15 15:38] KrisDoyle opened #46208 "Typo"
Just a typo in the last link under Next Steps:
"See Integrate App Service with --&gt; Microsfot &lt;-- identity platform to learn how to configure authentication for your App Service app."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d1a08b2-74d4-6350-70c5-6661ef4f7ad1
* Version Independent ID: 52059965-3709-2520-0e

[2020-01-15 15:50] bibury opened #46209 "Please update in Azure Pricing page/Azure Portal/translation"
With regards to "If you migrate your storage account from RA-GRS to GRS or LRS, that account is billed as RA-GRS for an additional 30 days beyond the date that it was converted."
- URL: https://docs.microsoft.com/en-us/azure/storage/common/storage-redundancy#are-there-any-costs-to-changing-my-accounts-replication-strategy

This is very important information about billing. However, this isn't expla

[2020-01-15 15:52] benjamin-goldman commented on #34382
id still like to know why.

this isnt magic - it makes no sense that a cert or secret should need soft delete enabled here unless the app might need to do deletions...

[2020-01-15 15:56] rbt-eugene commented on #43680
Thanks for this @EricDahlvang, saved me a lot of pain as I was getting out of disk space error when using the emulator task.  Lesson learned, read the comments :)

[2020-01-15 16:01] CHDAFNI-MSFT opened #46210 "Service Map now available"
Per update - https://azure.microsoft.com/en-us/updates/azure-monitors-service-map-is-now-available-in-us-gov-virginia/ - the solution is now available. Please evaluate if the following statements from this article are still untrue:
"Dependency visualization functionality is not available in Azure Government as Azure Migrate depends on Service Map for dependency visualization which is currently una

[2020-01-15 16:03] vbzhu commented on #35594
The document is not useful for me as a newbie in this area.

[2020-01-15 16:04] kyriakopoulosd commented on #46034
@KrishnaG-MSFT Thank you for your reply. Please let me know when you have an update regarding my issue.

[2020-01-15 16:18] mrisaac opened #46213 "Information Needed for Sovereign Clouds"
Page needs to + information for --aad-endpoint option and point to the links https://docs.microsoft.com/en-us/azure/active-directory/develop/authentication-national-cloud#azure-ad-authentication-endpoints to get endpoints for Sovereign clouds.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8f56abd-559f-abcd-6ca4-6a21f

[2020-01-15 16:26] SonjaSaltzman commented on #44927
adding @ishasahni1 as loc content owner

[2020-01-15 16:32] curtis-stapleton opened #46214 "Use the guides below to configure your Palo Alto Networks next-generation firewall for Micro Focus ArcSight CEF-formatted syslog events collection."
The documentation Microsoft points to for forwarding logs from Palo Alto firewalls to Azure sentinel is this:
https://docs.microsoft.com/en-us/azure/sentinel/connect-paloalto#step-2-forward-palo-alto-logs-to-the-syslog-agent
Which then has a link to this:
https://docs.paloaltonetworks.com/resources/cef
The leading sentence on this page is this:
Use the guides below to configure your Palo Alto Netw

[2020-01-15 16:33] #46214 closed

[2020-01-15 16:37] gakirkwood opened #46215 "Microsoft peer AS missing"
This document is missing a crucial bit of information. When configuring BGP to Microsoft for  Microsoft Peering, a different ASN is used than Microsoft's standard AS 8075. In fact, for this service, the session must be configured with AS 12076. Nowhere in the documentation is this stated, nor does AS 12076 have a peeringdb entry that would allow for us to guess. It took a debug and packet capture

[2020-01-15 16:37] skyizthelimit commented on #45917
Greatly appreciate your comments. very helpful.
Just want to elaborate on last point

in strict sense we can't access private key from tpm. isn't it? lets say we can't access private key then it boils down to nonce challenge for tpm verification. do you mean to say that we need to customize sdk to handle nonce challenge so that device selected private key is used in the equation?

the other questi

[2020-01-15 16:41] josephwinston opened #46216 "typo"
In &lt;https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-directory-file-acl-python#connect-to-the-account&gt;,  `storage-account-key` should be spelled as `storage_account_key`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12220c1c-ebce-cf63-0ef7-41c6b6747329
* Version Independent ID: 92bd839f-13a

[2020-01-15 16:41] aleazofeifam commented on #46208
Hi Kris, I am not a moderator or anything, but just another member of the community. If you see those small issues you can try to click on the edit button in the top, fork a change in GitHub for this file and finally submit the file change for it to be reviewed.

I have actually done this, let say on your behalf (https://github.com/MicrosoftDocs/azure-docs/commit/4b88d0c83aae0ea9eec7cb8ec5ba71533d

[2020-01-15 16:41] grok1000 commented on #45241
Hello, The sample code is no longer available, it will be nice to have it back.

[2020-01-15 16:53] roygara commented on #42008
@joshlcoffin apologies for the delay. Thanks for taking the time to help improve our docs, we appreciate it! This has since been fixed so, accordingly I'm going to close this issue out.

#please-close

[2020-01-15 16:53] #42008 closed

[2020-01-15 16:58] githubsuraj opened #46217 "Document needs to be updated with new port changes"
[Enter feedback here]
This Document is not upto date https://support.qlik.com/articles/000034666
Please update as there is no dependency on 4244 and 4248

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0dd7e14f-83fb-04d1-bf7f-886e6d62acb6
* Version Independent ID: 402f1060-4882-2f95-884d-6d5f941d3733
* Content: [Azure A

[2020-01-15 16:59] ilantz opened #46218 "Object limits"
We should add a note or update the text, quoting from :
https://azure.microsoft.com/en-us/pricing/details/active-directory/

"Default usage quota is 50,000 objects. An object is an entry in the directory service, represented by its unique distinguished name. An example of an object is a user entry used for authentication purposes. If you need to exceed this default quota, please contact support. T

[2020-01-15 17:01] mrhoads opened #46219 "Include Wording Regarding RFC 6598 (100.64.0.0/10)"
Would language clearly addressing the use of RFC 6598  (100.64.0.0/10) please be included in the address space section of "Create a virtual network"?  While it currently says, "The address range you define can be public or private (RFC 1918)", RFC 6598 is considered shared address space.  Clearly addressing RFC 6598 space one way or another would be helpful.

---
#### Document Details

⚠ *Do not e

[2020-01-15 17:07] MicahMcKittrick-MSFT commented on #32846
I don't know of any documentation we have on that. I am not sure if it something the engineering team is interested in documenting. I can reach out and ask about that. We provide the info on why we need access to that public IP address and why it is safe to allow it but going into specifics of what exactly is communicated might be more than the team wants out there.

[2020-01-15 17:10] KrishnaG-MSFT commented on #46214
@curtis-stapleton Glad to know that you have self resolved and closed the issue. Thanks for the update. :+1:

[2020-01-15 17:12] fraynie opened #46220 "Link to 'Blobs' renamed 'Containers' Azure Portal"
"Create a blob container
In this section, you create a blob container named adftutorial in Azure Blob storage.

From the storage account page, select Overview &gt; Blobs"

The link on the storage account page is now called 'Containers' rather than 'Blobs' - so should read Overview &gt; Containers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2020-01-15 17:12] craig-martin commented on #44936
Thanks for seeking to resolve this.  I used three methods to view the data:
- Azure Portal
- the new API
- Azure resource manager API
In all three methods the name property changed to a GUID.  Interestingly it took a while (minutes) for the Alert Rules to show the change in the Azure Portal.  For example for a while I could see the Alert Rule with the changed name in the API and resource manager,

[2020-01-15 17:22] dlepow commented on #46105
@dany74q - Thanks for suggestion. I'll improve the regional limits table to make it clearer which regions are now GA for the feature. As for government clouds, the service is currently not supported.
#in-progress.

[2020-01-15 17:30] Adam-Smith-MSFT commented on #46213
@mrisaac Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-01-15 17:46] erikadoyle commented on #8606
#reassign @athinanthny

[2020-01-15 17:46] erikadoyle commented on #11631
#reassign @athinanthny

[2020-01-15 17:48] Adam-Smith-MSFT commented on #46203
@cananac  There is an article https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-user-delegation-sas-create-cli which shows how delegated SAS can be setup. Let me know if this helps.

[2020-01-15 17:50] Adam-Smith-MSFT commented on #46209
@bibury Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-01-15 17:53] KrishnaG-MSFT commented on #45815
@autocloudarc Thanks for bringing this to our notice. I believe @Wicaeed's comment helps you to resolve your issue. Thanks @Wicaeed for the comment.

@Wicaeed Yes, we do have Azure documents that has instructions using AzureRM PowerShell instead of Az PowerShell cmdlets. We are working on updating those documents.

@gtsdev You may follow [this](https://docs.microsoft.com/en-us/azure/automation/aut

[2020-01-15 17:53] KrisDoyle commented on #46208
Nifty, I didn’t realize we could do that…cool thanks very much ☺

Kris

From: aleazofeifam [mailto:notifications@github.com]
Sent: Wednesday, January 15, 2020 11:41 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Doyle, Kris <Kris.Doyle@tc.gc.ca>; Author <author@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Typo (#46208)

Hi Kris, I am not a moderator or anything,

[2020-01-15 17:53] Adam-Smith-MSFT commented on #45837
@v-hakob Could you please share the internal contact of the team you've spoken with ?

[2020-01-15 17:54] bruun365 commented on #12432
Deployed 2 RDS farms and for both farms i'm unable to succesfully publish it using AAD proxy. I'm unable to connect.

[2020-01-15 17:55] MGoedtel commented on #45749
@dcbrown16 - The table you refer to represents the metrics that are collected, available in the Azure Monitor metrics store, and available for review with Metrics Explorer.  This is a subset of the performance data collected from nodes in the cluster and exposed from the charts in the UX that are pulled from the LA workspace.  I'm confused by your comment that the screenshots don't show a pod unde

[2020-01-15 18:05] #46091 closed

[2020-01-15 18:18] himanshusinha-msft commented on #46220
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-15 18:21] grahamhayes opened #46223 "ACI is expanded to the wrong name"
ACI (in the context of AKS and virtual nodes) does not stand for Cisco's "Application Centric Infrastructure", It stands for Azure Container Instances.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b68f2c4-bb6c-11a2-6c61-8af4057a2438
* Version Independent ID: e3498bed-1447-6841-8353-9f1b5d3dc8df
* Content: [Create a

[2020-01-15 18:23] Nikhil-Vaish-ERC opened #46224 "Misleading statements on Rate limiting on single client vs any client"
The first para states that "The Azure Web Application Firewall (WAF) rate limit rule for Azure Front Door controls the number of requests allowed from a single client IP during a one-minute duration."
But further down the page, under title - "Create a custom rate limit rule", it provides an example - "Requests from any client to the promo page exceeding 1000 during one minute are blocked until the

[2020-01-15 18:24] jeevansd commented on #33778
@chetansriv Can we please move this note up in the article?

[2020-01-15 18:26] FrankHu-MSFT commented on #46205
@himadrinath Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-15 18:26] FrankHu-MSFT commented on #46208
@KrisDoyle Thanks for your feedback! We will investigate and update as appropriate.

Would you like to try to make this change? Or would you like for me to make it.

[2020-01-15 18:26] FrankHu-MSFT commented on #46217
@githubsuraj Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-15 18:26] FrankHu-MSFT commented on #46218
@ilantz Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-15 18:27] tamram commented on #46203
@cananac - The feature is now generally available for production use. Apologies for the error in the docs, and thanks for bringing it to our attention. I've updated the article and the changes should go live later today.

[2020-01-15 18:28] tamram commented on #46203
#please-close

[2020-01-15 18:28] #46203 closed

[2020-01-15 18:29] KrisDoyle commented on #46208
Hey Frank!

Looks like someone already jumped on it so I believe there’s already a commit for that. I didn’t realize we could do that on our own so I’ll know better for next time ☺

Thanks though!
Kris

From: Frank Hu [mailto:notifications@github.com]
Sent: Wednesday, January 15, 2020 1:27 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Doyle, Kris <Kris.Doyle@tc.gc.ca>; Mentio

[2020-01-15 18:30] CeciAc opened #46225 "Is this API working?"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.de-de/issues/613

@FredStober commented 6 hours ago — with docs.microsoft.com
I tried the powershell and python examples (after porting them to python3).
The REST API returns with status 200 - so it seems to be successful.
However in both cases I can watch how the logging table is created with the custom fields in my work

[2020-01-15 18:30] FrankHu-MSFT commented on #46208
Hey @KrisDoyle  alright sounds good, since it's already being addressed I will be closing out this git issue, please let us know if you have anymore concerns by end of day. Thanks!

[2020-01-15 18:30] PeterCLu commented on #46148
@xsqian Thanks for your report. This appears to be a product issue rather than a documentation issue. We shall proceed to close this issue, #please-close. 

If you feel that your issue has not been resolved, please reopen the documentation issue and provide additional context. For product issues, contact technical support.

[2020-01-15 18:30] #46148 closed

[2020-01-15 18:31] FrankHu-MSFT commented on #46218
@ilantz Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-15 18:35] tamram commented on #46209
@bibury - We have directed the localization issue appropriately. For the portal and pricing page updates, could you please open an issue with the product team?

This repository is for documentation, but the documentation is correct (except for the localization problem), and issues surfaced here are not necessarily seen by the product team.

Reach out to me internally if you need a contact on the p

[2020-01-15 18:38] FrankHu-MSFT commented on #46217
Hey @githubsuraj  currently we're making the change accordingly, thanks for letting us know about this. Let us know if you have anymore concerns in regards to this.

If you don't have anymore concerns, I will be closing out this issue by end of day today.

[2020-01-15 18:38] CeciAc opened #46226 "Guest accounts (Azure Identity Protection)"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/562

@BakkerJan commented 6 hours ago — with docs.microsoft.com
Does IPC also work for guest accounts? And if yes, what will be the license requirements?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 665863f8-00aa-155a-aa5d-9dc42

[2020-01-15 18:39] PramodValavala-MSFT commented on #45956
@mslot Yes. That is correct. Just one instance process it.

The queue trigger is indeed a better option considering that the polling overhead is absent.

Event Grid is a better option since it handles triggering your function without having to manual handle it yourself.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We

[2020-01-15 18:39] #45956 closed

[2020-01-15 18:39] FrankHu-MSFT commented on #46226
@BakkerJan Thanks for your feedback! We will investigate and update as appropriate.
cc : @CeciAc

[2020-01-15 18:46] jeanpoelie commented on #44735
Any idea when i can expect an answer?

[2020-01-15 18:51] femsulu commented on #46150
AKS in Azure Commercial has undergone an onboarding assessment by our FedRAMP 3PAO/auditors and has been submitted to the FedRAMP JAB for review and authorization.  We fully expect that the 3PAO onboarding assessment demonstrates compliance, but the FedRAMP authorization is pending JAB review.   We expect to have an update on authorization status soon.

3PAO = Third Party Assessment Organization
J

[2020-01-15 18:55] TravisCragg-MSFT commented on #46207
@benjamin-goldman Your best bet to follow up with this is to create a support request. If you do not have a support plan, please let me know.

[2020-01-15 18:57] TravisCragg-MSFT commented on #46215
@gakirkwood Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-01-15 18:59] martincyruswolfenbarger opened #46227 "Broken link to Azure Resource Manager call rate limits docs"
Clicking on &lt;here&gt; in the "Throttling by Azure Resource Manager vs Resource Providers" section directs you to a page that no longer exists: https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-request-limits

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00e08608-445a-e4c8-6d2e-df8b15638

[2020-01-15 18:59] TravisCragg-MSFT commented on #46219
@mrhoads Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-01-15 19:05] jnoller commented on #44735
We are working to update the dashboard version after multiple known bugs, issues, permissions and RBAC items we've identified with newer versions before updating the full fleet.

[2020-01-15 19:05] ecfan commented on #46153
@mike-urnun-msft is correct about the doc, which currently lists examples for the popular managed connectors.

[2020-01-15 19:16] CeciAc commented on #46209
Hi team,
I migrated this issue to the ko-KR repo so we can work on it
#please-close

[2020-01-15 19:16] #46209 closed

[2020-01-15 19:18] Karishma-Tiwari-MSFT commented on #46223
Cisco Application Centric Infrastructure is referred to as 'Cisco ACI'. Thank you for the feedback. I have created a PR with the update and changes will be live shortly.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-15 19:18] #46223 closed

[2020-01-15 19:22] ChristopherMoll opened #46228 "Prerequisites Error"
Following the steps under "Prepare your on-premises environment for migration", I click the link for configuring the on-premises physical servers (https://docs.microsoft.com/en-us/azure/site-recovery/physical-azure-disaster-recovery).

However, when I run the Site Recovery Setup, it fails at the prerequisites stage with the following error:

"Possible Causes = The Windows version detected on this

[2020-01-15 19:25] ecfan commented on #45210
Hi @v-hakob, you can find the ISE version for the **Get file content using path** action here:

![image](https://user-images.githubusercontent.com/13206671/72464150-9c447200-3789-11ea-9e38-2dd6bb3269de.png)

[2020-01-15 19:30] anzaman commented on #41069
Updated document
#please-close

[2020-01-15 19:30] #41069 closed

[2020-01-15 19:33] RyanHill-MSFT commented on #45897
I get that @StingyJack. I would encourage you to leave feedback at https://feedback.azure.com/forums/34192--general-feedback. Perhaps you could provide more detail on your specific scenario, I can see what I can find out.

For now, I'll close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the

[2020-01-15 19:33] #45897 closed

[2020-01-15 19:37] femsulu commented on #46150
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-01-15 19:41] #46150 closed

[2020-01-15 19:42] msjuergent commented on #46036
Hello Klaas,
Your Microsoft CSA did contact a person out of my team as well. The person of my team is investigating further. We will let you know.

Cheers  Juergen

From: Juergen Thomas
Sent: Tuesday, January 14, 2020 7:50 AM
To: MicrosoftDocs/azure-docs <reply@reply.github.com>; MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Mention <mention@noreply.github.com>
Subject: RE: [Microso

[2020-01-15 19:42] femsulu commented on #28683
For anyone interested in the status of AKS FedRAMP compliance, ref #46150

[2020-01-15 19:42] femsulu commented on #28682
For anyone interested in the status of AKS FedRAMP compliance, ref #46150

[2020-01-15 19:45] Karishma-Tiwari-MSFT commented on #46227
Thank you for the feedback. I have created a PR with the update and changes will be live shortly.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/101276
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-15 19:45] #46227 closed

[2020-01-15 19:46] AjayKumar-MSFT commented on #46005
Thanks for the response and sharing additional context. Your feedback has also been shared with the content owner (@cephalin) for further review.

[2020-01-15 19:51] RavSalgado opened #46230 "Azure Internal ASE with Firewall"
I am running a Linux container as a web app in an internal ASE. The ASE is deployed to a Vnet (secondary Vnet) which is peered to a another Vnet(Primary vnet) where an Azure firewall exists.
1.I have Enable service endpoints to SQL, Storage, and Event Hub on your ASE subnet.
2.From the Azure Firewall UI &gt; Rules &gt; Application rule collection, Set App Service Environment FQDN Tag and the Windo

[2020-01-15 20:00] AjayKumar-MSFT commented on #45823
Variables created by the user(s) does not work from my tests but only the alias (WEBAPP_STORAGE_HOME) which are defined. Having mentioned that, I'm checking on this further internally and will get back to you soon.

[2020-01-15 20:01] mwc360 commented on #46136
I have an AKV per ADF instance (dev/test/prod). AKV stores the passwords for source systems per dev/test/prod environment. This works perfectly and we have a CICD pipeline to migrate code up. The problem is that when using the Web activity we can't reference the AKV linked service as the web URL for AKV should change just as the AKV url changes with the migration to test/prod.

I found a workaroun

[2020-01-15 20:05] azsec commented on #42568
You don't really need two different queries, use the below one to classify OS type

[code]

[2020-01-15 20:06] Karishma-Tiwari-MSFT commented on #46055
@RouterBox Thank you for sharing the details. If you are impacted by the ongoing issue, you must have and will be receiving updates on Azure portal and Service health. Please continue to check there for further updates.

[2020-01-15 20:06] MarileeTurscak-MSFT commented on #45957
I am closing this out as it needs to move to support.

[2020-01-15 20:06] #45957 closed

[2020-01-15 20:07] stevensnicole commented on #45823
Awesome, many thanks for this.

If you find that this is not yet implemented, how would I raise it as a feature request?

[2020-01-15 20:13] sriramarunachalam commented on #35832
Is there a way to store secrets which are more than 25Kb?

[2020-01-15 20:15] FrankHu-MSFT commented on #46090
@allenwux see above for explanation.

[2020-01-15 20:20] AjayKumar-MSFT commented on #45823
Many thanks for your feedback!  If you wish to share any product feedback/feature request, you could always post your suggestions on the feedback forum (UserVoice) https://feedback.azure.com/forums/169385-web-apps - All of the feedback you share on those forums will be monitored and reviewed by the Microsoft engineering teams responsible for building Azure. Having mentioned that, I'll check on thi

[2020-01-15 20:20] Karishma-Tiwari-MSFT commented on #44966
Thanks @MashaMSFT for helping confirm on this.
@giovannifl Yes, as long as the third replica is not serving data to customers or running active SQL Server workloads, the license for this replica will be free, though you will still need to pay for compute, storage, and networking on the Azure VM.

[2020-01-15 20:23] #44966 closed

[2020-01-15 20:27] martincyruswolfenbarger commented on #46227
Is there automation to catch broken links like this? E.g. something to periodically crawl through the docs searching for and alerting on dead links. Or even validation when a PR is opened to check:
1. Are the links in the PR working
2. If a page name is being changed, checking if any references to it exist

[2020-01-15 20:27] himanshusinha-msft commented on #45955
Since we have not heard back on this , we are going ahead and closing the issue for now .

[2020-01-15 20:27] #45955 closed

[2020-01-15 20:27] Lukasz994 commented on #45853
Microsoft.AppConfiguration provider is what prompted my question actually. I couldn't find any reference and therefore started questioning the reliability of the list. In hindsight AppConfiguration is in preview so it makes sense it wasn't listed. Anyway my question has been answered, when in doubt I'll use "az provider operation list". Thanks for your help guys.

[2020-01-15 20:27] #45853 closed

[2020-01-15 20:30] Karishma-Tiwari-MSFT commented on #44735
Thanks @jnoller for sharing the update.
@jeanpoelie  Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-15 20:30] #44735 closed

[2020-01-15 20:30] himanshusinha-msft commented on #46004
We are closing this issue as we have not heard back from you , you can always re-open the issue if you think that appropriate .

[2020-01-15 20:30] #46004 closed

[2020-01-15 20:32] himanshusinha-msft commented on #46084
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-01-15 20:39] Karishma-Tiwari-MSFT commented on #45735
Thank you for your contribution. The PR will be merged after review from the author.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-15 20:39] #45735 closed

[2020-01-15 20:40] Karishma-Tiwari-MSFT commented on #46123
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-15 20:40] #46123 closed

[2020-01-15 20:42] robinsh commented on #44820
Fixed the link as suggested.

[2020-01-15 20:43] artisticcheese commented on #42568
Issue is the results are living in different tables entirely as you can see. So what single query can be used to get results from both tables?

[2020-01-15 20:44] MarileeTurscak-MSFT commented on #46133
@oddhair I don't know which page you were linked from. Please open a new issue on that page and we will correct it.

[2020-01-15 20:44] #46133 closed

[2020-01-15 20:46] gregbnz opened #46231 "Update OnPrem vs Gen2 VM's feature table"
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/generation-2#on-premises-vs-azure-generation-2-vms mentions features such as Secure Boot is not available on Azure Gen2 VM's, when multiple other MS docs state one of the very benefits of using Gen2 over Gen1 is inclusion of features such as Secure Boot. Can this table please be updated? Thanks

---
#### Document Details

⚠ *Do not ed

[2020-01-15 20:51] JimacoMS3 commented on #40863
#re-assign JimacoMS3

[2020-01-15 20:51] trevorbye commented on #45064
switched data sources to uses opendatasets, and a local path for the pandas example. We shouldn't be using random blobs for data sources, because they can become inaccessible like what happened here.

#please-close

[2020-01-15 20:51] #45064 closed

[2020-01-15 20:54] femsulu commented on #46224
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-01-15 20:56] pvanroos opened #46232 "AddAzureAppConfiguration method not found"
I'm following the directions as stated above but it can't find the method.  Does the package Azure.Identity contain this extension method?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0b5a566-084c-d77f-9d78-3bfd72b01080
* Version Independent ID: b22f2729-2f31-a0cd-fc61-0ead183b0aab
* Content: [Integrate with Azure m

[2020-01-15 20:56] RavSalgado commented on #46230
Would creating a public IP address tied to the Azure firewall, that NATs to the ILB internal IP address give public access to the application (after setting the firewall rules for the public IP DNS name.)?

[2020-01-15 20:56] azsec commented on #42568
Try this one

[code]

Check the result, two tables are joined together.

[2020-01-15 20:58] artisticcheese commented on #42568
This do not have single schema as result. Original question was really why tables are separated instead of having single table to have both

[2020-01-15 21:03] femsulu commented on #46210
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-01-15 21:03] JimacoMS3 commented on #40863
We are currently updating the IoT Hub documentation to reflect the V2 SDK. I'll be sure to update the screenshot and include a note about the expected behavior of the API at that time. I'll also try to make the code a little more friendly.

That said, @jmonticelli , the V2 SDK went GA in December. While there is still work going on to reach feature parity with V1.x, have you looked at it recently

[2020-01-15 21:06] femsulu commented on #46225
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-01-15 21:10] femsulu commented on #46228
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

@rayne-wiselman - any input here pls?

[2020-01-15 21:10] trevorbye commented on #45967
@mx-iao thanks for calling this out. I changed the package ref to the new location

#please-close

[2020-01-15 21:10] #45967 closed

[2020-01-15 21:11] azsec commented on #42568
The way the data capture in Linux is not different from the Windows. And even the way the patch procedures work. The two teams (Linux agent and Windows agent) should of worked together to make a consistent data model. Unfortunately as of now they look inconsistency.

I could spend time doing RE to explain more details on  and post in http://azsec.azurewebsites.net/ later.

P/S: here is for linux h

[2020-01-15 21:12] ChristopherMoll commented on #46228
Sorry, I think it’s just a misunderstanding on my part; the configuration server is a different machine than the server being migrated, and that’s the one that needs to be 2012 or later.

[2020-01-15 21:22] chepepa commented on #30370
@NingKuang , if this is a temporary shutdown, do you guys have any ETA? Or do you even plan to share it with us? Thanks!

[2020-01-15 21:23] PishPoshery opened #46233 "Proposed documentation correction"
The section:  Create the NAT rules
starts with:
 Create NAT rules with Add-AzLoadBalancerRuleConfig
According to the excerpt that follows, it should start with:
 Create NAT rules with New-AzLoadBalancerInboundNatRuleConfig

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30e19c8e-92ab-9a24-bab0-ff9a80be273a
* Version Ind

[2020-01-15 21:27] ecfan commented on #43843
@kevinlam1, can you help answer the question about what the Service Bus [**Close a session in a queue**](https://docs.microsoft.com/connectors/servicebus/#close-a-session-in-a-queue) action does? Thanks!

[2020-01-15 21:28] mscatyao commented on #43686
Ack - currently testing Helm 3 myself and will update the docs accordingly + include a note that tiller and helm init only work for pre v3 Helm.

[2020-01-15 21:28] ecfan commented on #46153
@mike-urnun-msft: #please-close. thanks!

[2020-01-15 21:28] #46153 closed

[2020-01-15 21:32] asudbring commented on #46233
Created a PR to fix:
https://github.com/MicrosoftDocs/azure-docs-pr/pull/101303

#please-close

[2020-01-15 21:32] #46233 closed

[2020-01-15 21:37] BrianLevenson commented on #45910
Hi @devszr, do you see Customer Usage Attribution in that report? I believe the name was updated to reflect the correct branding, and we may be a step behind on reflecting that in this article.

Please let me know if that is the nuance, and I can update this article. If you don't see either Tracked Templates or Customer Usage Attribution, we'll need to continue investigating.

[2020-01-15 21:38] kdutt commented on #34451
For me (docker .netwcore linux app service in Canada Central) on Free tier it works without any additional configuration changes and picks up the correct port (80).  When I scale it up to P1V2 it doesn't.  Setting WEBSITES_PORT doesn't work and PORT seems to get overwritten from what I set it to in app config.
Free Tier working without any enviroment variables set:
[code]
P1V2
[code]

[2020-01-15 21:43] dhmorrison opened #46234 "This Document Is Not Representative Of A Node.js DevOps Project"
The process described from step 1 on is not accurate for a Node.js DevOps project created in Azure Portal.  The actual process is: 1) Sign into portal; 2) Select "Create A Resource"; 3) Choose DevOps Project; 4) Select the Node.js type as you select options for the DevOps project; 5) Click Create; 6) Deployment succeeds; 7) Look for your "DevOps Project" in the portal.  That's it.  Keep looking fo

[2020-01-15 21:47] DeanGross opened #46235 "Out of date reference"
The link in the backup section points to a page that is out of date. Please provide a valid reference.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6eae6160-1db3-0eba-0dc8-02a3dff07d30
* Version Independent ID: 5c10dccc-7e3b-734a-7d5a-98af1ad92c62
* Content: [Best Practices to use Key Vault - Azure Key Vault](https:/

[2020-01-15 21:48] tntlt commented on #34360
Still not working for me either. Is there any update on it ?

[2020-01-15 21:50] KranthiPakala-MSFT commented on #46151
@vlado101 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Please do share the thread link once the query is posted in MSDN/Stackoverflow.

[2020-01-15 21:50] #46151 closed

[2020-01-15 21:51] fiveisprime commented on #45883
Okay, I take it back. I'd really like to see this use anonymous authentication. This is a 100% point of contention in all of the studies so far. It's confusing to first time users. :(

[2020-01-15 21:54] LXBdev opened #46236 "Any impact on the client credentials flow?"
See also https://stackoverflow.com/questions/59677741/actual-impact-of-deprecation-of-login-microsoftonline-com-for-b2c-tenants

My main concern is: How will this affect the client credentials grant? As far as I can see, this is only supported via login.microsoftonline.com.

Will the "Azure AD functionality" continue to work with login.microsoftonline.com indefinitely? If so, where can I draw the

[2020-01-15 21:57] TheHunter896 commented on #46058
Heyo, as far as I have tested, in windows 10 azure Python SDK it is called like that:

[code]

[code]

[2020-01-15 22:00] vhorne commented on #36918
@IanMercer
Information about the application gateway headers are described in https://docs.microsoft.com/en-us/azure/application-gateway/how-application-gateway-works#modifications-to-the-request

#please-close

[2020-01-15 22:00] #36918 closed

[2020-01-15 22:01] kevinlam1 commented on #43843
You can reference this article to understand how Service Bus Sessions work: https://docs.microsoft.com/en-us/azure/service-bus-messaging/message-sessions
The Close Session operation on the connector will release the lock on the session so that other readers can have the opportunity to take a lock on that session.

[2020-01-15 22:05] MarileeTurscak-MSFT commented on #46235
@DeanGross
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-15 22:06] RyanHill-MSFT commented on #46101
Can you further elaborate on what dependencies you’re referring to @xinjinmsn?

[2020-01-15 22:07] aahill commented on #46058
Thanks @TheHunter896 and @YutongTie-MSFT

I was able to run the code, and encountered the same issue when using `NewsSearchApi` . I've reached out to the Bing News team for comment, and to verify other documentation needs here. I hope to have an update soon!

[2020-01-15 22:10] michaelbunney opened #46237 "Small Text Mismatch with U.I."
This page refers to "Detailed Error Logging" which I believe refers to what in the current portal is labelled "Detailed error messages".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfc316af-0d30-b449-a04f-3019b7a16bc1
* Version Independent ID: 01c4c435-fda9-374a-70b3-f1d7f13c7651
* Content: [Enable diagnostics loggi

[2020-01-15 22:11] svangeti opened #46238 "Azure Blobs Immutable Storage, policies at Object level"
Can we apply Retention policies for WORM capability at blob object level instead of container level. We have a requirement to maintain the object with immutable policies as some objects need to maintain different retention policies?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50d6e6f6-8e0d-2d98-4b4d-0543a43e8452
* V

[2020-01-15 22:20] TheHunter896 commented on #46058
Thanks @aahill I appreciate the fast responses! I will wait until an update :)

[2020-01-15 22:28] MicrosoftGuyJFlo commented on #46226
@BakkerJan

Whole article https://docs.microsoft.com/azure/active-directory/identity-protection/concept-identity-protection-b2b that covers guest (B2B) users.

[2020-01-15 22:31] kprpg opened #46240 "Threat protection and scanning for Azure File Share"
Is Azure File Share also covered under the threat protection OR is this only for blob type of storage account? This is not clear in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b92c195-c670-2e27-2422-fd131586bdd7
* Version Independent ID: 75ad901d-8064-bfbe-67f5-de507bede1bc
* Content: [Configure

[2020-01-15 22:31] kobulloc-MSFT commented on #46232
@pvanroos Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-01-15 22:32] kulbirjandoria opened #46241 "Does Azure AD Supports IDP configuration with Workday Tenant ? , If yes then what are the configuration settings ?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-01-15 22:41] MarileeTurscak-MSFT commented on #46157
Thanks! I agree, as I have seen a lot of issues related to this. I created a work item to have this documented.

[2020-01-15 22:41] #46157 closed

[2020-01-15 22:45] Karishma-Tiwari-MSFT commented on #46231
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-01-15 22:51] Grace-MacJones-MSFT commented on #46237
Hi @michaelbunney, thanks for bringing this to our attention. We will investigate and update the document accordingly.

[2020-01-15 22:53] tamram commented on #46240
@kprpg - Thanks for your feedback! Advanced threat protection is currently available only for blobs, not for Azure Files.

We do state this in the note at the top of the article:

Advanced threat protection for Azure Storage is currently available only for Blob storage.

[2020-01-15 22:53] tamram commented on #46240
#reassign: @tamram

[2020-01-15 22:53] tamram commented on #46240
#please-close

[2020-01-15 22:53] #46240 closed

[2020-01-15 23:07] mcopik opened #46242 "Tutorial is outdated"
This tutorial seems to be mixing two different APIs. While the description fits the old `azure-storage` library, the instructions suggest using `azure-blob-storage` library which will not work with provided code samples. Furthermore, it refers to 'v11/example.py' file in the repository while the description assumes existence of only one `example.py` file.

---
#### Document Details

⚠ *Do not edit

[2020-01-15 23:14] cenkersoy commented on #44996
Hi, I still see the same errors. Is there a specific change I need to make before I try ?
ERROR: papermill 1.2.1 has requirement tqdm>=4.32.2, but you'll have tqdm 4.26.0 which is incompatible.
ERROR: azureml-widgets 1.0.72 has requirement azureml-core==1.0.72.*, but you'll have azureml-core 1.0.83 which is incompatible.
ERROR: azureml-widgets 1.0.72 has requirement azureml-telemetry==1.0.72.*, bu

[2020-01-15 23:15] cenkersoy commented on #44996
You can also reach me at cenker@microsoft.com. I can demo what I see over a Teams session.

[2020-01-15 23:18] g0pinath opened #46243 "Restoring a deleted database that was in an elastic pool goes to standard."
Steps to reproduce.
- Delete a DB that in an elastic pool.
- Recover the DB from deleted DB and use the latest PITR backup available.
- The restored DB doesnt go back to the original elastic pool but rather gets created as "Standard S0: 10 DTUs"

Is this the expected behaviour.

[2020-01-15 23:26] Adam-Smith-MSFT commented on #46238
it seems that the only supportable application for Immutable blobs is on the container level, there support for append blobs, but it is only supported on the container level. Let me know if this helps.

[2020-01-15 23:28] vahidtz opened #46245 "using public application with LUIS key"
LUIS key is not working to query the public application, but unlike what tutorial says authoring key works.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7a62f20-5f4b-649c-3c38-549a3800bc65
* Version Independent ID: ba1f8962-9705-6a87-3194-4566ec2dd900
* Content: [Quickstart: Get intent with browser - LUIS - Azure Co

[2020-01-15 23:28] MarileeTurscak-MSFT commented on #46226
Closing this out due to the above answer Yes, Identity Protection works for guest accounts.

[2020-01-15 23:28] #46226 closed

[2020-01-15 23:30] vladvino commented on #18475
@jtourlamain Validation error might caused by using incorrect policy content format in the ARM call. You should be using raw-xml - https://docs.microsoft.com/en-us/rest/api/apimanagement/2019-01-01/apipolicy/createorupdate#policycontentformat.

With respect to casing, I will update the example to use upper casing for the thumbprint literal.

[2020-01-15 23:31] devszr commented on #45910
We do see Customer Usage Attribution. Thanks for pointing that out. Is it possible to see Attribution/Tracked-template in Partner Center?

[2020-01-15 23:34] mhopkins-msft commented on #46242
Hi @mcopik, thank you for the feedback. I've updated the **pip** command to install the correct version of the library. Here is the updated command:

[code]

As you may have noticed, this article refers to the legacy version of the library. The article for the current is [Quickstart: Azure Blob storage client library v12 for Python](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quic

[2020-01-15 23:34] #46242 closed

[2020-01-15 23:40] MartinJaffer-MSFT commented on #45931
Hello @dtdono0  I tested this out for you.  The answer looks like: safe.

I created a factory with a SHIR in a vnet, added some pipelines and ran them.  (Factory is not using git.)  Then I opened a cloud shell and did the Set-AzDataFactoryV2  on it.  After that I reloaded the factory's UI.

Things I checked:
- Still same number of pipelines
- Integration runtime is still connected and showing gree

[2020-01-15 23:41] mcopik commented on #46242
@mhopkins-msft Thanks for the explanation and your help. The naming scheme is a bit confusing and I didn't know that `v12` is actually a newer version of `v2.1`.

[2020-01-15 23:43] lisaguthrie commented on #46232
@pvanroos it's in the `Microsoft.Azure.AppConfiguration.AspNetCore` package.

[2020-01-15 23:59] mmacy commented on #44954
Hi @jabamit, since we've not heard back in about a week, I'm going to close this one out. If you feel the issue should remain open for any reason, please let us know.

#please-close

[2020-01-15 23:59] #44954 closed

[2020-01-16 00:03] MarileeTurscak-MSFT commented on #46235
@DeanGross I agree that this can be updated but think it requires a new article. I have assigned this to the content author, @msmimart , to look into.

[2020-01-16 00:03] MartinJaffer-MSFT commented on #45931
@dtdono0  one thing that is not safe: the repository configuration
After the above tests, I added a git repo via the UI, then verified it existed via Get-AzDataFactoryV2 .  After using Set-AzDataFactoryV2 _without specifying repo configuration_ I found the repo configuration had been removed.  If you want to keep the repo configuration, include it in the Set-AzDataFactoryV2.

[2020-01-16 00:03] #45931 closed

[2020-01-16 00:05] mjlanham opened #46247 "Azure Sentinel Roles not listed in AAD-->Roles and Administrators"
my global administrator for my tenant is attempting to assign the "Azure Sentinel Contributor" role to a user, and the role is not listed in AAD--&gt;Roles and Administrators.  Where might these roles be listed so I can assign them to a small set of users?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a7e388c-e6fd-22

[2020-01-16 00:12] MarileeTurscak-MSFT commented on #46077
@HWouters

[2020-01-16 00:14] lisaguthrie commented on #41024
Hi @MoiMoiDG - we've updated this article to work with .NET Core 3.x and also to fix some problems with the code that prevented it from properly refreshing configuration values. I've run through it myself and validated that everything works. I'm going to request closing out this issue for now, but please reopen it if you're still having problems.

#please-close

[2020-01-16 00:14] #41024 closed

[2020-01-16 00:17] Grace-MacJones-MSFT commented on #46152
Hello @jeffreywcarter, I would suggest upgrading to the newest version of CLI and try to run the command  again. Please run az --version to make sure you are using newest CLI.

[2020-01-16 00:25] mmacy commented on #44943
Hi @dansiegel, just to verify - are you referring to this page layouts page?

[Select a page layout in Azure Active Directory B2C using custom policies](https://docs.microsoft.com/azure/active-directory-b2c/page-layout)

If so, it currently has a link to this article in the [Next steps](https://docs.microsoft.com/azure/active-directory-b2c/page-layout#next-steps) section:

![image](https://user-im

[2020-01-16 00:36] Grace-MacJones-MSFT commented on #46237
Thanks for catching this error in the doc! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2020-01-16 00:36] #46237 closed

[2020-01-16 00:40] Grace-MacJones-MSFT commented on #46152
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-16 00:40] #46152 closed

[2020-01-16 00:56] craigjar commented on #46084
Thank you.  After granting select any file to the user, successful jdbc connection was made.  Documentation around what this permission is for would help as it currently states that it is for file permissions nothing about jdbc connections.  Additionally as a product feedback, these permissions should be separated.  I realize this issue is for documentation only, however I thought it was worth men

[2020-01-16 00:58] Bob-Bradley opened #46249 "Workday references"
There are 3 Workday references here which presumably should read "SuccessFactors" or similar.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86afa989-3f13-743e-23c5-19cc203b2aa8
* Version Independent ID: 01e70701-b38a-cf0f-2fb7-db790507ed4a
* Content: [Tutorial: Configure SuccessFactors inbound provisioning in Azure Ac

[2020-01-16 00:59] Bob-Bradley opened #46250 "Workday references"
There are 3 Workday references here which ought to be changed to reference SuccessFactors

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90fd487d-65b9-917b-4687-650b34dc4d81
* Version Independent ID: 27a18d45-66ab-bc71-d928-93f93fb190dd
* Content: [Tutorial: Configure SuccessFactors inbound provisioning in Azure Active

[2020-01-16 01:02] SumanthMarigowda-MSFT commented on #46216
@josephwinston Thanks for your question. We are checking on this and will respond to you soon.

[2020-01-16 01:04] dpolivy opened #46251 "Clarify/show examples for how "space" works"
From reading the documentation, my takeaway is that I can achieve an OR type matching result by putting a space between multiple values -- however, I can't seem to get that to actually work in practice. Can you give some more detailed examples of how this works in the documentation?

For example, if I want a rule to match on a Host header on the incoming request for example1.com and example2.com,

[2020-01-16 01:27] femsulu commented on #46228
Thanks for the followup, @ChristopherMoll. Your clarification is spot on.
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-01-16 01:27] #46228 closed

[2020-01-16 01:28] femsulu commented on #46234
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-01-16 01:35] femsulu commented on #46241
Thanks for your comment. Please share the link to your doc you are referencing and we will investigate further.

[2020-01-16 01:37] femsulu commented on #46243
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-01-16 01:39] femsulu commented on #46247
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-01-16 01:47] 3nyaww opened #46254 "In "Check on the registration as follows:" commandlets, "-ProviderNamespace" argument is missing."
In "Check on the registration as follows:" commandlets, "-ProviderNamespace" argument is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2295b2e8-97da-2c34-6b45-72ba7273baea
* Version Independent ID: 560b5b5e-41f5-65ff-e80e-aaa44db0e07c
* Content: [Deploy IPv6 dual stack application - Standard Load Balancer - P

[2020-01-16 01:47] KrishnaG-MSFT commented on #46233
@asudbring Thanks for the quick response  :+1:

[2020-01-16 01:49] 3nyaww opened #46255 ""IPv Public IP so the load balancer has Internet-facing IPv6 connectivity""
"IPv Public IP so the load balancer has Internet-facing IPv6 connectivity", should be ""IPv6 Public IP so the load balancer has Internet-facing IPv6 connectivity""

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c245c4b3-5219-c78d-43ee-15c69c5a4303
* Version Independent ID: ba455294-133c-7492-4b5b-04c148e01691
* Content

[2020-01-16 01:50] femsulu commented on #46251
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-01-16 01:50] femsulu commented on #46251
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-01-16 01:51] KrishnaG-MSFT commented on #46242
@mhopkins-msft Thanks for the quick response. :+1:

[2020-01-16 02:09] KrishnaG-MSFT commented on #46249
Closing this issue by considering it as duplicate of #46250 If there are concerns or further questions regarding this consideration, please do let us know and we will gladly continue the discussion.

[2020-01-16 02:09] #46249 closed

[2020-01-16 02:11] KrishnaG-MSFT commented on #46250
@Bob-Bradley Thanks for your comment! We will review and provide an update as appropriate.

[2020-01-16 02:20] SumanthMarigowda-MSFT commented on #45984
@AnttiKiiski The PR request has been raised!
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-16 02:20] #45984 closed

[2020-01-16 02:21] KrishnaG-MSFT commented on #46230
@RavSalgado Thanks for your comment! We will review and provide an update as appropriate.

[2020-01-16 02:21] SumanthMarigowda-MSFT commented on #45985
@AnttiKiiski The PR request has been raised!
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-16 02:21] #45985 closed

[2020-01-16 02:25] KrishnaG-MSFT commented on #46236
@LXBdev Thanks for your comment! We will review and provide an update as appropriate.

[2020-01-16 02:35] kazshi opened #46256 "Migrating nested Hyper-V VMs on Azure VM to Azure VM"
I couldn't find a scenario of migrating nested Hyper-V VMs on Azure VM to Azure VM in documents. I'm not sure if the scenario is supported, does this content cover the scenario?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ca47ab5-b553-c0e1-5736-cf4d9081d139
* Version Independent ID: bb85e0c9-3e55-749d-769e-7953479d

[2020-01-16 02:39] dcbrown16 opened #46257 "ToC link"
Is this doc supposed to show in the Table of Contents somewhere?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7ee4990-863a-6999-1b2f-f29cc264bb14
* Version Independent ID: 59f1c304-f075-355c-c235-0cba7fde572b
* Content: [Data Sources - Azure Databricks](https://docs.microsoft.com/en-us/azure/databricks/data/data-sou

[2020-01-16 02:50] ishasahni1 commented on #44927
@rboucher Feedback 163581 ticket has been created for our loc supplier to address this issue.

[2020-01-16 02:55] nhvduy commented on #46184
Hi, I added more rule to cover my scenarios, it work well now. So please close this thread. Thanks

[2020-01-16 03:00] #46217 closed

[2020-01-16 03:00] #46208 closed

[2020-01-16 03:01] #46047 closed

[2020-01-16 03:01] GiftA-MSFT commented on #46245
@vahidtz thanks for reaching out. We will review this issue and get back to you soon.

[2020-01-16 03:23] #46184 closed

[2020-01-16 03:26] dogborne opened #46259 "Fix wording"
Just need to fix the wording in this line: Identity a domain-joined host server running Windows Server 2012 R2 or greater with minimum of 4 GB RAM and .NET 4.7.1+ runtime

Replace Identity with Identify

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6cd93860-f61c-4cb3-0151-a4358493c426
* Version Independent ID: 9cf80fa

[2020-01-16 03:34] SwiftOnSecurity opened #46260 "Update for 2020"
Hello some feedback based on my research and trying to understand what this is.
1.) At the end of the article it says: "For Windows 10, the recommendation is to use Azure AD Join for the optimal single sign-on experience with Azure AD."
This should be moved to the top of the page but be updated to say that AzureAD Join requires P1.
2.) This phrase, "Seamless SSO is not applicable to Active Directo

[2020-01-16 03:48] #46260 closed

[2020-01-16 04:26] msrini-MSFT commented on #46254
@3nyaww  , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-01-16 04:27] KrishnaG-MSFT commented on #46260
@SwiftOnSecurity Hope you have self resolved and hence closed the issue. Thanks for the update.

[2020-01-16 04:27] msrini-MSFT commented on #46255
@3nyaww  , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-01-16 04:33] KrishnaG-MSFT commented on #46256
@kazshi Thanks for your comment! We will review and provide an update as appropriate.

[2020-01-16 04:38] shashishailaj commented on #46259
@dogborne Thank you for catching that . We will have this reviewed and updated .

[2020-01-16 04:40] shashishailaj commented on #46257
@dcbrown16 Thank you for your query . We will have this reviewed and updated accordingly.

[2020-01-16 04:45] v-hakob commented on #45210
Thank you @ecfan for responding back so quickly, I confirmed I was able to add the action to Logic Apps. I will tell the cx how to..

[2020-01-16 04:57] v-hakob commented on #45210
@ecfan, just for your info, I checked file system connectors with and without ISE in Japanese, and the translation is inconsistent comparing to two file system connectors. For the better user experience, it would be nice if two connector and related actions have the same Japanese names..Thanks!

[2020-01-16 05:03] rambabu0063 commented on #45625
Hi @PramodValavala-MSFT

could you please help me to fix  URL validation issue.

[2020-01-16 05:08] rboucher commented on #30127
@azsec Thanks. @bwren. For you information.

[2020-01-16 05:10] rboucher commented on #30127
#reassign:bwren

[2020-01-16 05:15] RohitMungi-MSFT commented on #45926
@vrvrvrvrvr We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-01-16 05:15] #45926 closed

[2020-01-16 05:19] RohitMungi-MSFT commented on #45998
@AnthonyBe We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-01-16 05:19] #45998 closed

[2020-01-16 05:20] RohitMungi-MSFT commented on #46100
@baltmann We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-01-16 05:20] #46100 closed

[2020-01-16 05:24] rboucher commented on #40500
@darivuki Haven't heard from you so closing the item.  I removed the list from this page. The official list is at the link above.

[2020-01-16 05:26] vahidtz opened #46262 "none intent"
It says pizza should not belong to none intent, but it is there in the given utterances. "Order a pizza for me"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f9ac243-5252-57a9-cc1e-9ce9d41bc569
* Version Independent ID: e3e63ff4-274d-c3f4-c774-de8525425a68
* Content: [Tutorial: Predict intentions - LUIS - Azure Cogni

[2020-01-16 05:27] rboucher commented on #40500
#please-close

[2020-01-16 05:27] #40500 closed

[2020-01-16 05:47] DixitArora-MSFT commented on #46066
@ecfan Any inputs in this ?

[2020-01-16 05:52] DixitArora-MSFT commented on #46111
@rtcn2 Thanks so much for providing the feedback that help us in improving the documentation.
Vlad Vinogradsky will create the internal workitem for this. So for now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-16 05:52] #46111 closed

[2020-01-16 05:56] msrini-MSFT commented on #46255
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/101346

[2020-01-16 05:56] #46255 closed

[2020-01-16 05:58] msrini-MSFT commented on #46254
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/101348

[2020-01-16 06:04] #46113 closed

[2020-01-16 06:05] DixitArora-MSFT commented on #46113
@23min PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-16 06:06] #46254 closed

[2020-01-16 06:09] DixitArora-MSFT commented on #46124
@gavinhow Kevin Lam has already given the clarification in the above comment. So for now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-16 06:09] #46124 closed

[2020-01-16 06:13] brandilton opened #46263 "How to switch existing users to use SSO?"
I have an existing user on G Suite (olduser@contoso.com) that has tons of docs, photos, etc.  Following this article brought in all the non existing users (365@contoso.com, etc).  But my existing user still uses original g suite password and login interface.  I'd like it to use the MS login interface and password (and 2FA).  I don't want to delete the user and let it recreated since I'd lose all d

[2020-01-16 06:17] vrat87 opened #46264 "GPU metric"
When would GPU metrics be available for Virtual Machines, I only se it being available for Machine learning workspaces

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0a586c4-71fd-e60b-9c4c-1a3eb2443c74
* Version Independent ID: 2f3706cc-073b-a310-8da4-2a5a90da6473
* Content: [Azure Monitor supported metrics by resourc

[2020-01-16 06:23] VikasPullagura-MSFT commented on #46256
@kazshi I have assigned the issue to content author for checking and confirming on this ask.

@cynthn Can you please look into this and add your comments.

[2020-01-16 06:25] ChiragMishra-MSFT commented on #46257
@dcbrown16 As of now the page just lists the Apache Spark data sources provided by Databricks Runtime. It is structured the way it looks. It might be modified later on to make it a ToC.

I will now proceed to close this issue. Feel free to still comment and tag me if you have any queries related to the same.

[2020-01-16 06:26] ChiragMishra-MSFT commented on #46191
@Minewiskan Can you please take a look at this?

[2020-01-16 06:32] HWouters commented on #46077
I have now requested the optional claims in my AD

[2020-01-16 06:34] ChiragMishra-MSFT commented on #46179
@Willem-J-an The aggregate functions are listed out in the ["Expression Language" page](https://docs.microsoft.com/en-us/azure/data-factory/data-flow-expression-functions) of the documentation along with all the other functions.

It is not again mentioned here for brevity.

Aggregate functions include - avg, avgIf, count, countDistinct, countIf, sum, sumDistinct, sumDistinctIf, sumIf, min, minIf,

[2020-01-16 06:38] TerenceHinrichsen commented on #42392
@neeleshary-msft - I am sitting with exactly the same issue, what did you do to resolve it?

[2020-01-16 06:42] Shaktikantpadhi opened #46265 "How to get contact information(like: email address,institute name) for an Author from MAG-Academic Knowledge API(cognitive service)"
In the GET request, when I fired the below query I got the following results.

**Query**: https://api.labs.cognitive.microsoft.com/academic/v1.0/evaluate?expr=And(Id=2344364203, Ty = '1')&attributes=E

**Results**:
{
    "expr": "And(Id=2344364203, Ty = '1')",
    "entities": [
        {
            "logprob": -11.984,
            "prob": 6.2433104214E-06,
            "E": "{\"PC\":\"1024\",\"LKA\

[2020-01-16 06:43] karataliu opened #46266 "What does v1.0 and v2.0 in id_token mean?"
https://docs.microsoft.com/en-us/azure/active-directory/develop/id-tokens#claims-in-an-id_token
Is it aad version? Should be clear in document

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0cace34-34bf-32f7-c857-e4d71d535a77
* Version Independent ID: cdbbc4ae-5894-da21-42d7-928b3674bbd1
* Content: [Microsoft identity

[2020-01-16 06:52] Willem-J-an commented on #46179
I understand the functions are listed there, but it is not explicitly mentioned that they can be used as aggregate functions, for example, the word "aggregate" only shows up in 7 of them. The reason this is confusing is I needed to concat columns, which is not supported in aggregate, and it says: use an aggregate function. To see my aggregate function options I had to look at every function, read

[2020-01-16 06:52] #46179 closed

[2020-01-16 06:58] SumanthMarigowda-MSFT commented on #46216
@josephwinston  PR request changed has been processed.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-16 06:58] #46216 closed

[2020-01-16 07:04] dcbrown16 commented on #46257
@ChiragMishra-MSFT thanks for checking, that's not what I mean.
Doc pages typically show their location in the ToC in the left navigation bar, highlighted below. Can you make this doc show in the bar so that it is discoverable?

![image](https://user-images.githubusercontent.com/34466884/72501154-f6c1ea80-37ea-11ea-93e8-7f4d7ded822c.png)

[2020-01-16 07:17] PramodValavala-MSFT commented on #46182
@rojakcoder The Event Grid trigger at its core is a HTTP trigger with a different endpoint. The [reference docs for Event Grid](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-grid#manually-post-the-request) showcases how to test it manually/locally.

[2020-01-16 07:19] mslot commented on #45956
Thank you. I am doing all my provisioning through ARM so I haven't been able to do it with event grid because it has first recently been possible to get the correct keys to do the hooks in ARM. This solution is over a year old :)

Thank you!

[2020-01-16 07:32] kishan19 commented on #40601
Please provide sample files for creating pronunciations, so that users can prepare the .txt files based on the same format.

[2020-01-16 07:46] PramodValavala-MSFT commented on #45956
@mslot This is now possible. Refer issue MicrosoftDocs/azure-docs#44201 for more information.

This is the [exact line](https://github.com/jcbrooks92/EventGridAzureFunctionARMTemplate/blob/master/azuredeploy.json#L85) required in the sample linked in that issue. Here is the same for reference

[code]

[2020-01-16 07:58] darivuki commented on #40500
Sorry for not getting back to you. This has been resolved. Thank you.

[2020-01-16 08:06] DixitArora-MSFT commented on #46129
@bredr **Regarding Topics don't exist for basic :** PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation.

**Regarding maximum number of subscriptions for a topic for premium service bus :**

Service Bus supports up to 2,000 subscriptions per topic. ([source](https://docs.microsoft.com/en-us/azure/service-bus-me

[2020-01-16 08:06] #46129 closed

[2020-01-16 08:08] VikasPullagura-MSFT commented on #46175
@ntachandley I am assigning the issue to content author for this doc enhancement.

@JonBaker007 Can you please add your comments on this Feedback.

[2020-01-16 08:22] DixitArora-MSFT commented on #46118
@ahmelsayed Just following up again in case missed the previous communication.

[2020-01-16 08:25] DixitArora-MSFT commented on #46170
@vladvino Any inputs in this ?

[2020-01-16 08:38] uhabiba04 commented on #46190
@KrishnaG-MSFT
Hi,
Confirmed from the PM team that Farm ID is not a mandatory field and it is optional.

Thanks,
Habiba

[2020-01-16 08:38] Kriengkai commented on #41640
This linked is working correctly but i'm not sure why have duplicate content on doc.microsoft.com pls grouping.
https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/commercial-marketplace-lead-management-instructions-azure-table

[2020-01-16 08:41] ChiragMishra-MSFT commented on #46257
@dcbrown16 Thanks for clarifying the ask. Yes I am assigning this to the content owner to make the change. Thanks again for bringing this to our notice.

@mamccrea Can you please take a look at this?

[2020-01-16 08:49] viswanathtr opened #46271 "Service Fabric Cluster Move"
The documentation says that the service fabric cluster can be moved however the applications running on it cannot be moved (at least, that is my inference from the table)  .  We tested a move and it works well within the resource group.  The applications running on SFC did not have any impact while we moved and it moved succesfully.  Please adjust the documentation accordingly.

---
#### Document

[2020-01-16 08:54] RohitMungi-MSFT commented on #46262
@vahidtz Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-01-16 08:56] ChiragMishra-MSFT commented on #46179
@Willem-J-an I understand the pain point you are facing. Thank you for bringing this to our notice. I will loop in the content owner for awareness.

@kromerm Can you please take a look at this?

[2020-01-16 09:07] shdeepika opened #46273 "Support options"
As a publisher, how do i get to learn about the support functionality i can make available for my end users via marketplace?
I was expecting those details to be captured on this page as well.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65f7cfc1-2eb0-900f-17ce-5b788beccf3d
* Version Independent ID: 6eb942c5-1723-0fc2

[2020-01-16 09:24] peturh commented on #34451
We're trying to deploy a Docker image with a dotnet core project.

Before, it was actually doing:

`docker run -d -p 3298:80 --name ..........`

Then something changed, and it's starting with

`docker run -d -p 7686:7686 --name ..........`

Why? Feels like it's tied to these issues.

[2020-01-16 09:25] kiwiidb opened #46274 "FQDN keeps disappearing"
Hi there.

The FQDN I am pointing to my Load Balancer Public IP keeps disappearing every day.
Does anyone have a clue why this might be? The Load Balancer did not restart, it's IP is still the same.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada58160-dc50-b977-d3bc-65f92406e16d
* Version Independent ID: 5c5

[2020-01-16 09:27] orspod commented on #45573
@algattik thanks so much for your feedback. You are correct, the docs can be merged. In the next few weeks we will be working on revamping the access control section of the docs. We will add your merge suggestion to the list.
I am now moving to close this issue.
#please-close

[2020-01-16 09:27] #45573 closed

[2020-01-16 09:29] orspod commented on #45973
@CarlosOnline thanks for your feedback.
@kerend , please review the queries and correct if needed.

[2020-01-16 09:59] kogesaka opened #46275 "about current directory when connecting to CloudShell (PowerShell) and difference in execution result of ls -l / dir / Get-ChildItem"
Hi expert,

Current directory ($PWD) and home directory ($HOME) when connected to CloudShell (bash) are both "/home/[username]", but current directory ($PWD) when connected to CloudShell (PowerShell) is displayed as "Azure:/".

- bash
[code]
- PowerShell
[code]

Also I execute the ls -l command, the information in the "/home/[username]" directory ($HOME) is displayed, but I execute dir (Get-ChildI

[2020-01-16 10:05] tjrobinson commented on #46201
Related support request number: 120011622000765

[2020-01-16 10:08] idiazpor-ntd commented on #43192
@RohitMungi-MSFT Good morning everybody! I have a question related to languages. Here you give us the language support but I need to know if this service is language-dependent, I mean, for instance, if an user enrollment is done in English, can we identify this same user speaking in Spanish or only in the same language that we enroll the user? Thank you so much!

[2020-01-16 10:46] llgjermeni commented on #43557
Hi
I am working on with azure data fabric and I want to add a linked resource azure data lake gen2.
I am using the managed identity. Check my steeps:
Copy the Managed identity application ID from the data fabric.
Adding permission to data lake with IAM or storage explorer.
Problem:
when I add the Managed identity application ID it doesn't recognized.
I don't know if I'm doing something wrong but I

[2020-01-16 10:51] brad-dixon commented on #40805
Can I reopen this issue?  I'm having problems adding a C# module to a Linux arm32v7 project in VS 2019 Enterprise 16.4.3.  From scratch, it allows me to get as far as creating a new module and then I get the following error.

![error](https://user-images.githubusercontent.com/30847578/72518752-11a76400-38aa-11ea-9894-907eaeac4799.png)

It's really that simple.

If I skip that step and try to add a

[2020-01-16 11:40] dodzik18 commented on #45574
Hello, @himanshusinha-msft, @KranthiPakala-MSFT we've encountered the same error as @thecpshah did and the workaround proposed just above does not work after filling the host, ClientId and ClientSecret values - the error remains the same.
Is fix for this situation planned for development?

[2020-01-16 11:52] SadiqhAhmed-MSFT commented on #45847
@msandbu Just an update:
This is a known behavior/issue. Assessments and groups list blades have polling enabled where on a particular time interval a background api call is made to refresh the content.

[2020-01-16 11:53] crisansou opened #46276 "Web Activity doesn't use the current version of Key Vault"
Hello,

I created a web activity to return from Key Vault the Application Insights key, however it always returns the first version of the key. I'm forgetting something?

Below is the step by step:

**1)** Create "Web" activity:

<img width="389" alt="1-web-activity" src="https://user-images.githubusercontent.com/29444086/72522860-5ea12100-383d-11ea-8416-484bd7a683f3.png">

**2)** Create "Copy dat

[2020-01-16 12:00] KrishnaG-MSFT commented on #46263
@brandilton Thanks for your comment! We will review and provide an update as appropriate.

[2020-01-16 12:05] KrishnaG-MSFT commented on #46264
@anirudhcavale / @harelbr Any insights on this ?

[2020-01-16 12:28] ram-msft commented on #46029
@realtomkwok Please follow the below link for extracting audio.
https://github.com/microsoft/cognitive-services-speech-sdk-js/blob/master/src/sdk/TranslationSynthesisResult.ts

[2020-01-16 12:34] SwathiDhanwada-MSFT commented on #46017
We recommend engaging our technical support team to investigate further.Please file a support case using [these steps](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). If you do not have a support plan, send mail to AzCommunity@microsoft.com, include your subscription ID and a link to this MSDN thread (for context).

We will close the issue f

[2020-01-16 12:41] souravmishra-msft commented on #45903
@danmyhre, Yes, we do recommend to disable Legacy Auth protocols for a Global Admin since the Global Admin account being the most important account in the Tenant and hence protecting that account with the highest security is of utmost importance. Implementing MFA using CA policies works with only Modern Auth.

Regarding the second point, it depends on the environment and its hard to comment. But w

[2020-01-16 12:43] souravmishra-msft commented on #45903
Closing this thread for now. Please reopen this thread in case any more queries regarding this ask pops up.

[2020-01-16 12:43] #45903 closed

[2020-01-16 12:50] KrishnaG-MSFT commented on #46265
@Shaktikantpadhi To better assist you, can you please share the Azure document link / URL for which this feedback is applicable to ?

[This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions if any, product issues relat

[2020-01-16 12:54] KrishnaG-MSFT commented on #46266
@karataliu Thanks for your comment! We will review and provide an update as appropriate.

[2020-01-16 13:19] KrishnaG-MSFT commented on #46275
@kogesaka Yes this is currently default behavior.

[This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions if any, product issues related to wrong doc instructions or doc related reproduction required product issues, e

[2020-01-16 13:20] BenjaminHerbert opened #46277 "Question about base-image dependency in acr tasks"
The documentation states:

&gt; Use az acr task run to manually trigger the task and build the application image. This step ensures that the task tracks the application image's dependency on the base image.

It seems that this "first run" is necessary to enable the correct tracking.

Is there an indication, that this "first run" was not yet performed?
I guess triggers are created in the acr to tri

[2020-01-16 13:21] Torxsmind opened #46278 "Log analytics Information"
Please add Log analytics structure to get to FD data and / or sample queries to point us in the right direction.  Any Gitub repo of saved queries or shared dashboard code that meat best practices would be awesome

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62f7409d-5cbe-20d0-e37a-891981ecac97
* Version Independent I

[2020-01-16 13:24] shashishailaj commented on #46266
@karataliu The v1 and v2 id_token have differences in the amount of information they will carry as you can see from the article examples. The version essentially specifies the Azure AD platform endpoint from where it was issued. [Azure AD Oauth implementation](https://docs.microsoft.com/en-us/azure/active-directory/develop/about-microsoft-identity-platform) have gone through many changes over the

[2020-01-16 13:36] xiaoharper opened #46279 "can you add an end to end sample in doc?"
i see there is a video on ADF homepage about AML pipeline and ADF integration, there is a e2e demo in the video. can you make it available in docs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8e7af5a-71c6-bca4-d305-39875e132afe
* Version Independent ID: fc030a8e-3409-5402-72c2-7c7717aa7709
* Content: [Execute Azure

[2020-01-16 13:45] SwathiDhanwada-MSFT commented on #46027
@stephbaron  Can you provide your thoughts on the issue?

[2020-01-16 13:50] #46046 closed

[2020-01-16 13:51] SubhashVasarapu-MSFT commented on #46046
@andyjballgit , The document has been edited accordingly.

[2020-01-16 13:53] SadiqhAhmed-MSFT commented on #46273
@shdeepika You may contact the support team by creating a support request using this link - https://support.microsoft.com/en-us/getsupport?wf=0&tenant=classiccommercial&oaspworkflow=start_1.0.0.0&locale=en-us&supportregion=en-us&pesid=16230&forceorigin=esmc&ccsid=636783026157427051  to get an answer to your question.

Closing this issue for now.  You may re-open this issue if required further help

[2020-01-16 13:53] #46273 closed

[2020-01-16 13:54] NavtejSaini-MSFT commented on #46154
@plzm Please get back to us with any questions regarding this. We will close the this by EOD.

[2020-01-16 13:54] mt299 commented on #43073
I might be wrong but according to https://login.microsoftonline.com/error
50199 is:
"For security reasons, user confirmation is required for this request. Please repeat the request allowing user interaction."

In our case native mail client on iOS fails in regular time intervals. We have to remove and readd the account to the application to make it work again.

[2020-01-16 13:56] NavtejSaini-MSFT commented on #46145
@karthik25 Please get back to us if any questions. We will close the thread by EOD otherwise.

[2020-01-16 13:59] christoffer-roed opened #46280 "CustomVisionErrorException: Invalid iteration"
Hello I get the error message "CustomVisionErrorException: Invalid iteration"

Everything goes well until the last section, hope you are able to tell what goes wrong:

Creating project...
Adding images...
Training...
Training status: Training
Training status: Training
Training status: Training
Training status: Training
Training status: Training
Training status: Training
Training status: Completed

[2020-01-16 14:21] kiazhi commented on #44790
Hi @danielsollondon,

I'm also experiencing the WinRM timeout issue with Windows Server 2016 and Windows Server 2019 images. This WinRM behaviour is very random, some times causing timeout issues and other times is work like a charm.

Just to put some more context into this, my packer template includes the following settings below:

1. WinRM configuration
[code]

2. VM Size
[code]

I can provide y

[2020-01-16 14:22] Molx32 opened #46282 "[EN-US version] Bad "Conditional Access" interface path"
In the "Configuring a named location" subsection, the Conditional Access panel is now under Security. Thus a new item should be added to give the result:
"1.  Open Azure Active Directory in the Azure portal
2. Click Security
3. Click Conditional Access
[...]"

This fits with the interface on my tenant.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-01-16 14:42] DanielMabbett opened #46283 "Incorrect Object path for getting the storage account type on a managed disk"
In the code section of:
"Replicate Azure virtual machine
Replicate the Azure virtual machine with managed disks."

You have a code section stating:
[code]

This is incorrect. Should actually be  $VM.StorageProfile.DataDisks[0].ManagedDisk.StorageAccountType

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32d3f437-872e-7

[2020-01-16 14:46] erikadoyle commented on #32361
This was addressed: https://github.com/MicrosoftDocs/azure-docs-pr/pull/86570/files . #please-close

[2020-01-16 14:46] #32361 closed

[2020-01-16 14:47] sachdevaswati commented on #38558
We can highlight it clearly in the documentation. Will coordinate with David

[2020-01-16 14:49] gcormier opened #46284 "Unknown powerstate"
This needs attention in either documentation or in the backend to improve customer experience.

https://github.com/Azure/azure-cli/issues/11316

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be8729fb-9c09-1872-be3f-8a0dc1a93d38
* Version Independent ID: 51bba8e0-91a8-38c0-5ec2-9309687985b9
* Content: [Lifecycle and sta

[2020-01-16 14:50] SwathiDhanwada-MSFT commented on #46283
@DanielMabbett Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-01-16 14:51] SwathiDhanwada-MSFT commented on #46271
@viswanathtr Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-01-16 14:52] jevgenij-martynenko opened #46285 "Compatibility issues with Teams Room System"
It would help to mention that this policy currently is not compatible with Teams Room System devices.
Apparently Teams Room System devices are logging to Skype for Business Online and Exchange Online services using legacy authentication.
Workaround could be: disable Baseline policy and create a custom policy which mimics the baseline, but has Teams Room System devices excluded from the scope

---

[2020-01-16 14:54] GiftA-MSFT commented on #46280
@christoffer-roed thanks for reaching out. We will look into this issue and get back to you shortly.

[2020-01-16 14:56] yadcam opened #46286 "Information not Found on "Reusing Old Passwords""
Hello All, hope you are doing great

From this document in office, it says that we can utilize Azure AD to restrict users from utilizing an old password

https://docs.microsoft.com/en-us/office365/admin/manage/set-password-expiration-policy?view=o365-worldwide#prevent-last-password-from-being-used-again

Oddly, when the URL redirects us to this page, I find no mention of this, only that Cloud only

[2020-01-16 14:58] Molx32 commented on #46282
My mistake, the steps are:

1. Open Azure Active Directory in the Azure portal
2. Click Security (instead of click Conditional Access)
3. Click Named Location
4. [...]

[2020-01-16 15:02] DanoThom commented on #34451
I'm experiencing the same issues. I've tried using PORT, WEBSITES_PORT, -e PORT etc and it doesn't seem to respect the values in any consistent fashion. I could swear this all used to work fine.

[2020-01-16 15:06] erikadoyle commented on #34224
#please-close

[2020-01-16 15:06] #34224 closed

[2020-01-16 15:06] wbach82 opened #46287 "Set-MsolPasswordPolicy not working for federated Domains"
right now it is not clear from the documentation if you need to convert the verified Domains to "managed" but actually it is not possible to use "Set-MsolPasswordPolicy" on federated domains. Please adjust the docs.

this is the error:

PS C:\&gt; Set-MsolPasswordPolicy -DomainName some-federated-domain.com -NotificationDays 65 -ValidityPeriod 75
Set-MsolPasswordPolicy : Unknown error occurred.
At

[2020-01-16 15:06] klimcio opened #46288 "Default scope issue"
About article: [How to authorize developer accounts using OAuth 2.0 in Azure API Management
](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-oauth2)

I was trying to implement AAD in my APIM instance based on [this article](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-protect-backend-with-aad). Unfortunately when it came down to Developer c

[2020-01-16 15:13] MonikaReddy-MSFT commented on #45544
@SamShekhovtsov - I'm going to assign this to the document author so they can update the document accordingly.

[2020-01-16 15:15] ecfan commented on #46066
@kevinlam1, do you know whether the range for the **runtimeConfiguration.concurency.maximumWaitingRuns** property starts at 1? The doc page here says the minimum is 0, which is throwing an error for @ZachTB123: [Change waiting runs](https://docs.microsoft.com/azure/logic-apps/logic-apps-workflow-actions-triggers#change-waiting-runs)

[2020-01-16 15:17] ecfan commented on #45210
@kevinlam1, how do we provide feedback to the UX localization team about the Japanese translation inconsistency?

[2020-01-16 15:20] ecfan commented on #43843
@ToMakeSense, does @kevinlam1's suggestion help?

[2020-01-16 15:22] ecfan commented on #45834
@cbrooksmsft, can you confirm updating this doc to include Logic Apps on the **Trusted Microsoft services** list in the  [Configure Azure Storage firewalls and virtual networks](https://docs.microsoft.com/azure/storage/common/storage-network-security#trusted-microsoft-services) page?

[2020-01-16 15:22] challengelogic opened #46289 "script doesnt work"
Error:
Set-AzVMOSDisk : Cannot validate argument on parameter 'ManagedDiskId'. The argument is null or empty. Provide an argument that is
not null or empty, and then try the command again.
At line:37 char:20
+ ...     -ManagedDiskId $originalVM.StorageProfile.OsDisk.ManagedDisk.Id `
+                        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : InvalidData:

[2020-01-16 15:31] ecfan commented on #44921
Hi @jeffhollan, could you please confirm the default HTTP method that's used in a logic app to call Azure Functions? Thanks!

[2020-01-16 15:33] artisticcheese commented on #45834
The reason this topic is created I believe LogicApps is `NOT` trusted service and hence is absent from list since I run into issue of logic app failing to access storage account with that setting on.

[2020-01-16 15:38] crisansou commented on #46276
Hi,

I understand the problem, the secret identifier is associated with the secret version, as the version has changed I have to change in the URL. I will close the issue.

Best regards,
Cristina

[2020-01-16 15:40] Klaas- opened #46290 "Show all VMs that are deallocated"
Hi,
is it also possible to query all VMs that are deallocated, or more general show all VMs with their state? I only found https://www.reddit.com/r/AZURE/comments/bs15c0/azure_resource_graph_powered_on_vms/ but that is without answer

Greetings
Klaas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac94b233-b387-fd3e-194

[2020-01-16 15:47] asergaz commented on #45917
Hello @skyizthelimit ,
I believe the discussion is going way beyond the scope of the document where you opened this issue at and I would like to move this to the right place  (where we have our Engineering Team answering actively). Please can you file a new issue on [iot edge SDK](https://github.com/Azure/iotedge/issues) and cross-reference this one?

To try and address part of your current questi

[2020-01-16 15:48] richardspitz commented on #46170
Adding more context to why I requested this edit. The authorization server I was working with was not returning a property named "active" and this resulted in repeated "500 Internal Server Error". It took me a while to figure out that it was not the authorization server that was returning this error, rather the APIM server was, because it failed to evaluate the <choose> policy. Switching to using

[2020-01-16 15:49] dcurwin commented on #38558
The documentation has been updated.

#please-close

[2020-01-16 15:49] #38558 closed

[2020-01-16 15:53] devszr commented on #45996
That link doesn't work. It seems it's an internal Microsoft link ?

[2020-01-16 15:55] ram-msft commented on #46108
@faerols When training a custom vision model using customvision.ai, we have 2 options:So we can choose a fast training or an advanced one which take more time with better results.
The architectures of both training options are the same, the difference is the approach to transfer learning and the amount of time we are able to spend optimizing the model. Advanced training retrains up to the last 3 l

[2020-01-16 15:55] Styrna opened #46291 "Regions on Cosmos Table is set diffrently"
There is no  TableConnectionPolicy.PreferredLocations in CosmosTableClient

You need to set the region on

var tableClient = storageAccount.CreateCloudTableClient(new TableClientConfiguration()
{
     CosmosExecutorConfiguration = new CosmosExecutorConfiguration()
     {
           CurrentRegion = "East US" //region for reads
      }
});

---
#### Document Details

⚠ *Do not edit this section. It

[2020-01-16 16:02] HughDevlin opened #46292 "Acronym VHD not defined"
3 occurrances of the acronym VHD, without definition

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebabac88-6bcc-b38f-f5fe-545de103b4b4
* Version Independent ID: 8309b1f4-541a-57d9-2c41-5725b497a4be
* Content: [Resource Manager and classic deployment - Azure Resource Manager](https://docs.microsoft.com/en-us/azure/azu

[2020-01-16 16:06] stephbaron commented on #46027
1. I'm not aware of one, though I've reached out to the team to see if one was posted
2. Yes, though we don't anticipate any changes to the feed
3. We're currently investigating this and will post an update with our findings.
4. Not that I'm aware of, but we strongly recommend that customers use [Azure Service Health](https://docs.microsoft.com/bs-latn-ba/azure/service-health/service-health-overvi

[2020-01-16 16:07] qianw211 commented on #41640
Hi @kriengkai, the article in the Cloud Partner Portal is to be deprecated soon, but not yet, since not all offers have migrated to the Partner Center yet.  At this point, the lead management articles in the Partner Center should provide the most up-to-date information.  Sorry for the inconvenience this brings. Thanks!

[2020-01-16 16:07] qianw211 commented on #41640
#please-close

[2020-01-16 16:07] #41640 closed

[2020-01-16 16:10] RyanHill-MSFT commented on #46101
Hi @xinjinmsn I wanted to follow up with you for further clarification on "what missing IP dependencies" you were referring to. In the doc, you set source and destination IPs to any whilst setting the port. I believe this may be to circumvent address changes and asymmetric routing issues.

[2020-01-16 16:21] crisansou commented on #46276
Is there a way to use only the secret without putting the version?

[2020-01-16 16:31] rabrahamOpti commented on #45859
@ketan-chawda-msft Can this be reopened? It hasn't been addressed yet.

[2020-01-16 16:37] AjayKumar-MSFT commented on #45400
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2020-01-16 16:37] #45400 closed

[2020-01-16 16:39] subashsivaji opened #46293 "python example"
Can we please get an example for python SDK version 4x

database.replace_container(
    container="customer",
    partition_key=PartitionKey(path="/city"),
    indexing_policy=None
)

How do I change the indexing mode to None and then back to Consistency using latest python SDK?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-01-16 16:39] DCtheGeek commented on #46290
#assign:DCtheGeek

[2020-01-16 16:40] tlamming opened #46294 "Where is the guidance and best practices for line of business apps and office"
Many apps activate licenses, but sysprep destroys this. How do we update office and these apps without manually logging in and deactivating all of the software first? How are windows updates handled other than manually updating the master image if best practice is to disable both updating office and windows?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-01-16 16:40] ceglez opened #46295 "The MD5/SHA256 does not match.."
I have two errors after downloading the software..
1.- The MD5 and SHA256 does not match with this page.

PS C:\Local\Lab\AzureMigrateInstaller&gt; CertUtil -HashFile AzureMigrateInstaller.ps1 SHA256
SHA256 hash of AzureMigrateInstaller.ps1:
51419777fa6d00d0146b69841ee835a1cad850f3900bf063b0288ddc55310207
CertUtil: -hashfile command completed successfully.
PS C:\Local\Lab\AzureMigrateInstaller&gt;

[2020-01-16 16:41] #46293 closed

[2020-01-16 16:42] DCtheGeek commented on #46290
@Klaas Thanks for the question!  Currently, this isn't possible, but it is 'Under Review' by the team. To vote on this feature request, please see the [UserVoice entry](https://feedback.azure.com/forums/915958-azure-governance/suggestions/35638867-support-query-virtual-machines-by-state).  Since this is a feature request and not an issue with docs, I'm going to close this issue. Thanks!

@Microsof

[2020-01-16 16:42] #46290 closed

[2020-01-16 16:43] subashsivaji opened #46296 "python SDK v4 example"
Can we please get an example for python SDK version 4x

database.replace_container(
container="customer",
partition_key=PartitionKey(path="/city"),
indexing_policy=None
)

How do I change the indexing mode to None and then back to Consistency using latest python SDK?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1c7d

[2020-01-16 16:43] jamserra opened #46297 ""Upload blobs to the directory" section error"
The sentence "Choose the files or folder to upload. Select the blob type. Acceptable choices are Append, Page, or Block blob." should be removed.  The choice is not given, plus ADLS Gen2 does not support append or page blobs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdff7f5a-8cff-881b-49e3-63f8b803e218
* Version

[2020-01-16 16:46] kobulloc-MSFT commented on #46232
@pvanroos We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-01-16 16:57] SwathiDhanwada-MSFT commented on #46292
@HughDevlin Thanks for your comment. We are looking into it and will get back to you shortly.

[2020-01-16 16:58] KrishnaG-MSFT commented on #46293
@subashsivaji Hope you have self resolved and hence closed this issue. Thanks for the update.

[2020-01-16 16:58] SwathiDhanwada-MSFT commented on #46295
Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-01-16 17:01] amirgra opened #46298 "Set-AzVirtualNetwork cmdlet throw exception after a private endpoint was created in the portal"
When running the following (which shouldn't change anything)
[code]
The following exception is thrown:
Set-AzVirtualNetwork : Private endpoint network policies cannot be enabled on private endpoint subnet

Running on PowerShell version 6.2.3, Az module version 3.3.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27e733

[2020-01-16 17:01] KrishnaG-MSFT commented on #46296
@subashsivaji Thanks for the comment. We will review and provide an update as appropriate.

[2020-01-16 17:09] crisansou commented on #46276
Using the URL below worked, closing the issue:

https://kv-adventure-works-tst.vault.azure.net/secrets/application-insights-key?api-version=7.0

[2020-01-16 17:09] #46276 closed

[2020-01-16 17:10] KrishnaG-MSFT commented on #46290
@DCtheGeek Thanks for the quick response. 👍

[2020-01-16 17:12] ceglez commented on #46295
Please disregard, It was my mistake,  I had to do the check on the .zip instead of the ps1..., now all looks fine.

Sorry for the inconvenience

[2020-01-16 17:14] ceglez commented on #46295
But anyways, please fix the instructions cause the example in this documents shows the .ps1 instead of the zip...
===========
C:\>CertUtil -HashFile C:\Users\administrator\Desktop\AzureMigrateInstaller\AzureMigrateInstaller.ps1 SHA256
============

[2020-01-16 17:14] pjvander opened #46299 "Distributed AG's, Multiple Probe Ports"
Hi,

We are setting up a Distributed Availability Group between Azure VM's and on-prem.  The load balancer is configured with two LB Rules, one for 1433 and one for 5022, with associated Health Probes for the LB Rules, 59999 and 59998, respectively.  When using the PS script in this article, it only allows for one probe port (which is successful for that port), but the intent is to pass in both pr

[2020-01-16 17:15] ceglez commented on #46295
The other thing is the complain about the singing..

[2020-01-16 17:18] tlamming opened #46300 "Isnt teams supported by WVD in Machine install mode"
I thought that teams is available for wvd now, which should be installed in machine mode? Also, does the xml template have a line to disable teams if its not supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbf7e52a-b2b1-0372-0e62-12f6733fc699
* Version Independent ID: a21ed743-3fbc-0d20-6947-188744e0a2f7
* Co

[2020-01-16 17:18] tlamming commented on #46300
Never mind, I see that teams is excluded, but the fact remains that Teams I believe does support wvd.

[2020-01-16 17:20] bdschaap commented on #44706
I have the same question and wanted to follow up.

[2020-01-16 17:21] tfitzmac commented on #46292
@HughDevlin - thanks for this feedback. I'll add to the doc that VHD is virtual hard disk.

[2020-01-16 17:23] grahamhayes commented on #46223
The ACI that this page refers to is an Azure Service called Azure Container instances - see https://azure.microsoft.com/en-us/services/container-instances/

I opened #46301 to fix it.

[2020-01-16 17:24] grahamhayes commented on #46223
@Karishma-Tiwari-MSFT See above

[2020-01-16 17:27] SurferLab commented on #46193
Hi again, i found a response in this link (https://github.com/Azure/azure-spatial-anchors-samples/issues/23#issuecomment-487812797).
The problem persist but it seems that unity editor doesn't allow running the project, you deploy your project in the hololens to be able to see what you're coding. Still hard work :(
Thank you guy, i'm waiting for a bug fix.
Regards,

[2020-01-16 17:29] arrnagaraj commented on #43790
Install button is missing on the portal. Is that because my azure and office 365 accounts are trail accounts?

[2020-01-16 17:33] ketan-chawda-msft commented on #46288
@klimcio Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-16 17:45] shankarmaha commented on #46066
I think the documentation should be updated, but i think there is misunderstanding about the concepts.

When you set the concurrency to 1, the logic app instance becomes a singleton instance and any new requests will be queued by the engine.

![image](https://user-images.githubusercontent.com/4720931/72548685-1575bf00-3887-11ea-9b3d-7eece183fddf.png)

But when you use that in combination with the

[2020-01-16 17:46] MarileeTurscak-MSFT commented on #46282
@Molx32
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-16 17:47] zshorvath opened #46302 "Bash version"
**Submit data to the Azure Monitor HTTP Data Collector API using Bash**

Prerequisites:
- openssl
- xxd
- base64
- curl

This script will read the file from the first script argument.

[code]

[2020-01-16 17:50] Karishma-Tiwari-MSFT commented on #46284
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-01-16 17:51] zshorvath opened #46303 "Submit data to the Azure Monitor HTTP Data Collector API using Bash"
**Submit data to the Azure Monitor HTTP Data Collector API using Bash**

Prerequisites:
- openssl
- xxd
- base64
- curl

This script will read the file from the first script argument.

[code]

[2020-01-16 18:02] ishasahni1 commented on #44927
@fhryo-msft you ahve shared below feedback:

Second, the translation of aggregation on BlobCount seems incorrect. The English version shows "Average" but the Japanese translation is "合計" instead of "平均". This doc is owned by Azure Monitor team. Please engage Azure Monitor team to fix this issue.
English version:
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported#micros

[2020-01-16 18:07] cynthn commented on #46264
@KrishnaG-MSFT I'm not sure, you might check in with the Azure Monitor folks. FYI @anirudhcavale

[2020-01-16 18:14] ZachTB123 commented on #46066
@shankarmaha

I follow this but ultimately I am looking to remove this queuing behavior by setting it to 0 if possible. If I have an execution currently happening, I do not want new requests to queue. It just doesn't look like 0 is a possible value based on the error I posted above.

[2020-01-16 18:28] julianparismorgan commented on #46193
Hi @SurferLab, yes, you're right there. You can't use ASA in the Editor, you have to deploy to a device to use it.

[2020-01-16 18:30] julianparismorgan commented on #39964
Hi @StarWardo, thanks for your feedback, that was indeed a dcos bug. If you check the page, it's fixed now: https://docs.microsoft.com/en-us/azure/spatial-anchors/tutorials/tutorial-new-unity-hololens-app?tabs=UnityPackage#get-the-azure-spatial-anchors-sdk

Thanks for your help!

[2020-01-16 18:37] msrini-MSFT commented on #46298
@amirgra , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-01-16 18:38] mslot commented on #32522
This should be expressed in the docs!

[2020-01-16 18:44] fanshaoshan commented on #45003
Still feel confuse about this size limitation. Use below as example

properties": {
    "desired": {
      "d1": {}
    },
    "reported": {
   "r1":{
     "r1-1":{},
     "r1-2":{}
   },
   "r2":{}
  }
}

According to statement " Twin property value size increase to 4KB", So does 4k limitation apply to d1,  r1, r1-1, r1-2? The 32k limitation apply to r1, r2 combined?

[2020-01-16 18:45] Minewiskan commented on #46191
#in-progress

[2020-01-16 18:53] brahmnes commented on #40596
Hi @JavedEqbal

Your understanding is correct. You can think of it like the amount of diskspace the agent can work with for buffering data before sending them out. It's not exactly what's specified, but always slightly less than what's specified, because the agent reserves some disk space out of that quota in case for some recovery operations.

[2020-01-16 19:07] #46282 closed

[2020-01-16 19:07] iainfoulds commented on #46282
Thanks for the feedback, @Molx32. The doc has been updated and should publish in the next few hours.

[2020-01-16 19:08] vladvino commented on #46170
@richardspitz It might be easier for you to propose an edit by submitting a PR. I am not quite sure what the problem is based on your description and what action you would like us to take.

[2020-01-16 19:13] shashishailaj commented on #45936
@Milos-N The current article still applies to old users who are sill using MFA server hence the details and the attachments have not been removed. In case you woudl like to utilize MFA for RADIUS/VPN servers , we recommend to use NPS extension. We have a [detailed article on how to deploy VPN infrastructure with Azure Cloud MFA](https://docs.microsoft.com/en-us/azure/active-directory/authenticatio

[2020-01-16 19:13] #45936 closed

[2020-01-16 19:22] mslot commented on #44083
Does this still apply? As I read it, you can now host docker on consumption plan. How does the scaling work? On k8s you need keda for event driven scaling. Does this work out of the box on consumption plan and premium plan?

[2020-01-16 19:23] jamserra opened #46304 "Needed clarity"
It seems "You can also use a BlockBlobStorage account to create premium block blobs" should instead be "You can only use a BlockBlobStorage account to create premium block blobs".  Currently it sounds like BlockBlobStorage can be used with standard tier.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06288d35-3c83-c29d

[2020-01-16 19:25] jamserra opened #46305 "More clarity"
The line "A premium performance tier for storing unmanaged virtual machine disks only" does not seem to be correct, as performance tier can also be used for BlockBlobStorage to store blob files.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06288d35-3c83-c29d-95d8-a56823d910a3
* Version Independent ID: 002fb5f5-5e4a-a

[2020-01-16 19:29] yushwang commented on #44872
@RaijmakersH I am reviewing this issue - could you clarify which options were wrong? Thanks!!

[2020-01-16 19:30] femsulu commented on #46303
Closed as
Duplicate of #46302

[2020-01-16 19:30] #46303 closed

[2020-01-16 19:31] KranthiPakala-MSFT commented on #46276
@crisansou Thanks much for sharing the resolution details here. It will be helpful for others who are having similar issue. :)

[2020-01-16 19:33] KranthiPakala-MSFT commented on #46279
@xiaoharper Thanks for the feedback! We have assigned the issue to the content author to review the feedback and provide an update as appropriate.

[2020-01-16 19:35] shdeepika opened #46306 "Bulk updating managed app customer instances"
Is it possible to do bulk updates of managed app customer instances all at once?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90dec837-2a5a-a8af-5a81-f8c6ba621b2f
* Version Independent ID: c080aa15-7e64-7d25-5652-f109f2d0c9fa
* Content: [Update managed resources - Azure Managed Applications](https://docs.microsoft.co

[2020-01-16 19:35] jamserra opened #46307 "conflicting info"
One spot says "Only block blobs and append blobs can be archived", but another spot says "By selecting the right access tier for your needs, you can store your block blob data in the most cost-effective manner".  So confused if append blobs can be archived.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06288d35-3c83-c

[2020-01-16 19:36] rezasherafat commented on #45003
@fanshaoshan, @jimacoMS3, the 4KB limit applies to length of individual string property values. For example, for
{ "propname": "propvalue" }
that'd be length of UTF-8 encoding of "propvalue".

32KB cap applies to the encoded size of each twin section (tags, reported, desired).

Finally, @fanshaoshan, when you say "more than 80 sub-objects", in addition to 4KB and 32Kb limit, you also need to make

[2020-01-16 19:38] femsulu commented on #46302
@zshorvath thanks for your comment. Wanted to clarify if you had an issue with a specific Azure document and if yes, please share the link to the document and we can investigate further. Alternatively, let me know you intent for sharing the script above - e.g. to include in an existing documentation. If this is your intent, please share the pertinent link and we can take this forward.

Looking for

[2020-01-16 19:39] klaas commented on #46290
@Klaas- nice handle 💯

[2020-01-16 19:42] femsulu commented on #46306
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-01-16 19:45] DCtheGeek commented on #46290
I didn't realize handles were case sensitive... thanks for pointing that out.  I'll be more careful in the future. 😄

[2020-01-16 19:49] zshorvath commented on #46302
@femsulu thanks for the follow up. Just wanted to share a version of the script in Bash that upload content to the Azure Monitor via the data collection API. Bash version was not available in the documentation and would have been useful for us. I wrote this script and wanted to share with anybody that may need it in the future.
The link of the document: https://docs.microsoft.com/en-us/azure/azure

[2020-01-16 19:53] Klaas- commented on #46290
I don't think they are, you just forgot the "-" at the end :)

[2020-01-16 19:53] pvanroos commented on #18407
As of today, is Table Storage supported for Managed Identities?

[2020-01-16 19:54] Markus-Hanisch opened #46308 "New breadcrumb navigation to Conditional Access - Named locations in Azure portal"
The breadcrumb navigation to **Named locations** in [Azure portal](https://portal.azure.com/), mentioned in section [Configure Azure Multi-Factor Authentication Trusted IPs with Federated Users](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-adfs#configure-azure-multi-factor-authentication-trusted-ips-with-federated-users) of article [Securing cloud resources with

[2020-01-16 19:54] pvanroos opened #46309 "Is Table Storage supported for Managed Identities?"
I realize it wasn't supported a year ago, but is it supported now?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3dc128b-0ee5-1344-0034-2fce6960daa4
* Version Independent ID: b2499482-1101-4937-7f34-ad7b9fd9fdc4
* Content: [Authorize access to data with a managed identity - Azure Storage](https://docs.microsoft.com/e

[2020-01-16 19:55] pjvander commented on #46299
Disregard.  I missed this:

Each availability group uses a separate listener. Each listener has its own IP address. Use the same load balancer to hold the IP address for additional listeners. After you create an availability group, add the IP address to the load balancer, and then configure the listener.

#please-close

[2020-01-16 19:55] #46299 closed

[2020-01-16 19:56] Mike-Ubezzi-MSFT commented on #46081
@jovanpop-msft Customer is seeking details as to supportability for OLE automation procedures and I have assigned this as a Doc-Enhancement.

[2020-01-16 19:58] cpyne opened #46310 "HBase accelerated writes"
HBase accelerated writes are still listed as preview in this article, but it appears they are now GA
https://azure.microsoft.com/en-in/updates/hdinsight-hbase-accelerated-writes-is-now-generally-available/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0ef3918-6155-207b-1e36-f0540d8599bf
* Version Independent ID: e693

[2020-01-16 19:59] tamram commented on #46309
@pvanroos - Thanks for your question. Table storage does not currently support authorization with Azure AD. So no, you cannot access Table storage with a managed identity.

#please-close

[2020-01-16 19:59] #46309 closed

[2020-01-16 19:59] DCtheGeek commented on #46290
Ahhhh, I see it now.  Yup, either way, gotta be more careful. Thanks!

[2020-01-16 20:02] tamram commented on #18407
@pvanroos - No, it is not, per https://github.com/MicrosoftDocs/azure-docs/issues/46309.

[2020-01-16 20:03] shashishailaj commented on #45933
@dooleydo The [location condition / IP is evaluated when the user have successfully signed in](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/location-condition#what-you-should-know) and conditional access processing have started. In order to read the CA policy the user need to authenticate themselves so Conditional access processing does not start until the user have a

[2020-01-16 20:08] cynthn commented on #46256
@kazshi Thanks for the feedback! Just to be clear, you have an existing VM in Azure that is running Hyper-V as a host for multiple "nested" VMs. I think what you are looking for is a way to migrate the nested VMs to be hosted directly on Azure as "normal" Azure VMs?

We don't have anything that directly covers that specific scenario, but there are probably docs that could show you how to do that.

[2020-01-16 20:11] MGoedtel commented on #44898
@pmozbert & @femsulu - I will take a look at this shortly, sorry for the delay. Tomorrow I'll respond with an update - #in-progress.

[2020-01-16 20:15] KranthiPakala-MSFT commented on #46310
@cpyne Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-01-16 20:18] Adam-Smith-MSFT commented on #45834
@artisticcheese It seems that LogicApps is part of the trusted services(confirmed from internal team)
Do you happen to have a support plan from which you can submit a support case?
If you don't , Could you please reach to me via AZCommunity[AT]microsoft.com with a link to this Issue as well as your subscription ID and we can help get a support ticket opened for this issue. Please mention "ATTN Ada

[2020-01-16 20:22] RyanMannix opened #46311 "Failed deployment while creating resources"
Hello, I was deploying a basic version of the Remote Monitoring accelerator with the commands above and I got an error while it was creating the resources.  I believe it was on step 30- eventhub.  However, here is what my terminal looks like after signing into my account from "pcs login":
Successfully logged in
&lt;my directory&gt;$ pcs -t remotemonitoring -s basic -r dotnet
? Enter a solution nam

[2020-01-16 20:26] MGoedtel commented on #43683
Because the script doesn't support Server 2008 R2 and this isn't something engineering is going to resolve within the next few weeks due to other higher priorities, I'm removing reference to that OS under the Operating System subsection. #please-close.

[2020-01-16 20:31] mikennie commented on #37379
Are there any plans to fix this?

[2020-01-16 20:42] erikadoyle commented on #42682
@apraovjr here is a sample standalone cluster [config for X509.DevCluster](https://github.com/Azure-Samples/service-fabric-dotnet-standalone-cluster-configuration/blob/master/Samples/ClusterConfig.Windows.X509.DevCluster.json). You can find other config examples in that same samples repo: https://github.com/Azure-Samples/service-fabric-dotnet-standalone-cluster-configuration

Hope that helps! #ple

[2020-01-16 20:42] #42682 closed

[2020-01-16 20:49] Mike-Ubezzi-MSFT commented on #46243
@g0pinath I was able to reproduce this behavior. If I create a database in a general purpose elastic pool where there is only one database in the pool, when I delete the database so is the elastic pool instance that was created along with the database. When I go to restore the deleted database, there is no option to restore or create an elastic pool for the database.
What I didn't attempt is to cr

[2020-01-16 21:02] himanshusinha-msft commented on #45964
In the current example , we are copying in the data to a blob and for every run we are creating a new file to capture the update / insert etc .

I think for SQL to SQL copy , you can extend the current example by adding a lookup activity and a proc activity , so that we can update/insert/delete the records on the sink table .

I suggest you to put this  question on MSDN and other tech communities

[2020-01-16 21:02] #45964 closed

[2020-01-16 21:03] v-kydela commented on #44719
Related: https://github.com/MicrosoftDocs/azure-docs/issues/40089

[2020-01-16 21:04] TravisCragg-MSFT commented on #46278
@Torxsmind Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-01-16 21:07] MarileeTurscak-MSFT commented on #46308
@Markus-Hanisch
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-16 21:16] RyanMannix commented on #46311
Installing it through this link worked fine: https://www.azureiotsolutions.com/Accelerators#description/remote-monitoring

[2020-01-16 21:19] iainfoulds commented on #46308
Sorry for the confusion, @Markus-Hanisch. You're correct, and this doc is being updated, along with a few others, in https://github.com/MicrosoftDocs/azure-docs-pr/pull/101436. These doc updates should publish later on today.

#please-close

[2020-01-16 21:19] #46308 closed

[2020-01-16 21:31] ecfan commented on #45834
Hi @artisticcheese,

Also, as FYI, you can find Logic Apps listed as a trusted service, but appears in the 2nd table here:

![image](https://user-images.githubusercontent.com/13206671/72564385-7344df80-3864-11ea-8e75-3b204dad3dcb.png)

[2020-01-16 21:33] Karishma-Tiwari-MSFT commented on #46274
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-16 21:37] michaelbunney opened #46312 "Instructions in Step 3 Don't Correspond to What I See"
After successfully doing/verifying the preceding steps, Step 3 says select "Solution Explorer" &gt; "Connected Services" but there is no such node under Solution Explorer.  There's an alert in Solution Explorer that "One or more subscriptions are not supported by Server Explorer. Open Cloud Explorer to view all subscriptions," and in Cloud Explorer when I expand the relevant subscription I do see

[2020-01-16 21:42] djpmsft commented on #37379
Currently the only solution is to use the Workbook. There are no plans at this time to change the behavior. If you wish for this feature to be added, feel free to [submit feedback to the product group](https://feedback.azure.com/forums/270578-data-factory)

#please-close

[2020-01-16 21:42] #37379 closed

[2020-01-16 21:45] Karishma-Tiwari-MSFT commented on #46289
Can you check the value of $originalVM.StorageProfile.OsDisk.ManagedDisk.Id
From the error, it looks like it is coming as empty/null

[2020-01-16 21:47] Karishma-Tiwari-MSFT commented on #46277
Thanks for the question. We are currently investigating and will update you shortly.

[2020-01-16 21:48] Karishma-Tiwari-MSFT commented on #46299
Thanks for sharing the update.

[2020-01-16 21:49] Karishma-Tiwari-MSFT commented on #46294
Thanks for the question. We are currently investigating and will update you shortly.

[2020-01-16 21:50] mmacy commented on #45981
#reassign:mmacy

[2020-01-16 21:52] Karishma-Tiwari-MSFT commented on #46000
@zikalino Can you please share your insights on this. Thanks :)

[2020-01-16 21:56] riyaz-sk commented on #44790
Hi @danielsollondon and @kiazhi,

I am facing the exact same issue. It worked for me a couple of days ago when I changed the "winrm_timeout" value to "20m" from "10m", but then again it only worked for me once.
Today, I have completed removed the "winrm_timeout" from my packer code and was successful in creating the image, tested it for both 2016 and 2019 Windows Server DC edition (Azure Marketpla

[2020-01-16 21:58] djpmsft commented on #46279
Hi @xiaoharper ,

We will work to upload a ML example to our public template gallery. I have added a work item for it.

In the short term, I have uploaded the video to the documentation. The demo in the video is a single ML activity that can reference any one of your ML pipelines! If you are looking for information on how to create an ML pipeline, please consult their documentation.

Thanks,
Danie

[2020-01-16 21:58] Karishma-Tiwari-MSFT commented on #46300
This link has info about the teams support for VDI with limitations:
https://docs.microsoft.com/en-us/microsoftteams/teams-for-vdi

You can check roadmap details here:
https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=Windows%20Virtual%20Desktop

We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will

[2020-01-16 21:58] #46300 closed

[2020-01-16 21:59] maf1024 opened #46313 "Should be clearer that accessing the same data with multiple APIs is not supported"
It was a surprise to me that the API flavor can only be chosen at account creation time and cannot be changed without creating a new account and migrating over all data.

In particular, this page's phrase "we recommend using the same API for all access to the data in a given account" is somewhat misleading in that regard.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-01-16 22:06] hruday94 opened #46314 "Azure Table Storage python SDK "update_entity""
In my scenario I have a table store with one row. The row contains partition key, row key, <field_one> and <field_two>. When I try to update the row using update_entity() from python SDK it removed the field that I did not mention in the method. I want to know if that an expected behavior? On the other hand the C# sdk for table store does not delete the field that is not mentioned to update.

---

[2020-01-16 22:07] anavinahar commented on #46049
#assign:@asudbring

[2020-01-16 22:15] FrankHu-MSFT commented on #46205
Hey @himadrinath  thanks for letting us know about this, we'll definitely take this feedback into consideration and look into providing a video series accordingly. If you don't have anymore feedback/concerns in regards to this issue, I will be closing out this github issue by end of day today. Thanks -Frank

[2020-01-16 22:17] mhopkins-msft commented on #46242
I appreciate @mcopik bringing it to my attention.

[2020-01-16 22:17] FrankHu-MSFT commented on #46115
Hello @cananac no, it is assumed if you've done client-side encrypting that the file's being transferred are encrypted. If you're interested in this feature please submit it against the product feedback section and the PG team will look into implementing it accordingly. If there are no more question within the scope of this issue, I will be closing it out accordingly. Thanks, - Frank Hu
Feedback -

[2020-01-16 22:24] #45981 closed

[2020-01-16 22:24] mmacy commented on #45981
Thanks for the call-out on this, @aschip! The updated doc should be live sometime after 3PM PST today.

[2020-01-16 22:26] Karishma-Tiwari-MSFT commented on #46223
Thanks. It has been updated.

[2020-01-16 22:26] mmacy commented on #44943
@dansiegel I'll request that this one be closed for now since the article is already linked, but do let us know if you feel your request hasn't been fully addressed.

#please-close

[2020-01-16 22:29] GiftA-MSFT commented on #46245
@vahidtz thanks for your feedback. I was able to confirm that authoring and prediction keys work, but LUIS key from Azure portal doesn't. I have created a pr to update the doc.

@diberry keeping you in the loop here.

[2020-01-16 22:37] Karishma-Tiwari-MSFT commented on #46223
It is updated now. There were some extra whitespaces in the PR so I created a new one.
Thank you.

[2020-01-16 22:38] dansiegel commented on #44943
@mmacy I just took a look. The documentation still isn't quite right... If you actually have a B2C Tenant and you go to the Page Layouts the documentation linked is as follows:

- [Learn more about customizing your page](http://aka.ms/b2cpagelayouts)
- [Learn more about page layout versions](https://aka.ms/b2cpagecontractversions)

When you click this link you get a radically different help page t

[2020-01-16 22:43] #46149 closed

[2020-01-16 22:45] langstonj opened #46315 "Database categories to be audited"
"...Retain an audit trail of selected events. You can define categories of database actions to be audited...."  Is there a category list somewhere?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2d4a532-6bea-d004-4b2b-4dcf02b08715
* Version Independent ID: 43eed789-a6d4-4a11-f845-9f3593d918f3
* Content: [Azure databas

[2020-01-16 22:46] petetian opened #46316 ""az aks show --resource-group myResourceGroup --name myAKSCluster --output table" returns error"
az aks show --resource-group myResourceGroup --name myAKSCluster --output table

returns error:
Table output unavailable. Use the --query option to specify an appropriate query. Use --debug for more info.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7010bd58-42b1-5c90-3253-05deed855be8
* Version Independent ID: c890e

[2020-01-16 22:54] CeciAc opened #46317 "ClientCredentialFactory.create() was renamed"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.de-de/issues/612

@FelixJongleur42 commented 2 days ago — with docs.microsoft.com
Please adjust, ClientCredentialFactory.create() methods where renamed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08bcd9e7-d45f-1867-185a-c74636a9f448
* Versi

[2020-01-16 23:13] mwc360 opened #46318 "ADLSgen2 Staging into Synapse via ADLS Managed Identity?"
The documentation says that "When using PolyBase to load data into SQL Data Warehouse, if your source Data Lake Storage Gen2 is configured with Virtual Network endpoint, you must use managed identity authentication as required by PolyBase. See the managed identity authentication section with more configuration prerequisites."

When configuring data factory staging properties on something like a ma

[2020-01-16 23:14] asergaz commented on #46193
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-16 23:14] #46193 closed

[2020-01-16 23:15] asergaz commented on #39964
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-16 23:15] #39964 closed

[2020-01-16 23:17] GregUzelac opened #46319 "DTU IOPS units"
The line that reads "IO throughput (approximate)	1-5 IOPS per DTU	1-5 IOPS per DTU	25 IOPS per DTU", are we talking about five I/O operations per second? That's a really small unit of measure. I mean, ppl can type that fast. Or does IOPS stand for something else? Or maybe there should be a k in there as in 1k-5k.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2020-01-16 23:23] sandeepraichura opened #46320 "Error Messages"
Can this page be updated with the list of error messages and a possible solution ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b1fda35-43f9-c719-20cf-f981a5c968f5
* Version Independent ID: c7602270-15d8-e10a-c4ef-2bca60a1aa3f
* Content: [Share VM images with Shared Galleries - Azure Virtual Machine Scale Sets](http

[2020-01-16 23:23] kobulloc-MSFT commented on #46312
@michaelbunney Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-01-16 23:24] MartinJaffer-MSFT commented on #10953
http://hadoop.apache.org/docs/stable/hadoop-azure/abfs.html

[2020-01-16 23:24] #10953 closed

[2020-01-16 23:25] mmacy commented on #44943
@dansiegel Sorry Dan, please bear with me while I make sure I've got this straight. Want to ensure I update what needs updating, and correctly!

Regarding this:

Is this the link you're referring to:

![image](https://user-images.githubusercontent.com/13394541/72570790-b3ab5a00-3872-11ea-8a36-5f81288d74e0.png)

If so, that indicates you're using **user flows**. However, the link you provided here:

[2020-01-16 23:25] skyizthelimit commented on #45917
Thanks. I found following link [https://github.com/Azure/iotedge/issues/1728] that confirms that iot edge sdk doesn't support devices without access to private key from file system. My team is reaching out to IOT Edge team through our partnership program. I will revisit and open if i need  a ticket. Thanks for your time.

[2020-01-16 23:26] alathrop opened #46321 "Tune Hyperparameters for SVD Recommender?"
Is it possible to use this module with the SVD Recommender?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1b9d373-2140-ead0-e1b2-de63f8e94125
* Version Independent ID: 0bcd0103-042c-0ed8-2c8b-922ee27bff3c
* Content: [Tune Model Hyperparameters - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine-l

[2020-01-16 23:37] sathyarajv opened #46322 "How to create release pipeline across subscription?"
How to create a release pipeline to deploy code from one subscription on domain1 to another subscription on domain2? Both required different user credentials.

Thanks,
Sathyaraj

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9df9570-06ef-33e6-8cb7-8d89487099c5
* Version Independent ID: 1994a1f7-80c2-ab9e-fe90-865b81e1

[2020-01-16 23:38] g0pinath commented on #46243
Thanks Mike, I have posted this in the uservoice forum.

Thanks
Gopinath T

On Fri, Jan 17, 2020 at 7:49 AM Mike Ubezzi <notifications@github.com>
wrote:

[2020-01-16 23:38] datafisk opened #46323 "Sample JSON file is invalid"
FYI: The sample json file is invalid and fails to deploy with the deployment create command throwing the following error:

Failed to parse deployment-template.json with exception:
    Extra data: line 1 column 12 (char 11)
Suppress exception unknown locale: UTF-8
command ran in 0.410 seconds.

Cheers,

Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-01-16 23:51] dansiegel commented on #44943
@mmacy The issue is this...

- Click the link from the portal that you are showing there
- Follow the guide... write a pure HTML page with some small css/images
- Upload the resources to Azure Storage
- Update the Page Layouts to point at your custom HTML resource in Azure Storage
- Run the User Flow... you get an error that makes you think it's related to Javascript where none exists... the issue

[2020-01-16 23:53] mmacy commented on #44943
@dansiegel Excellent, that's as I expected; thanks Dan! We've reopened the issue and I'll get the doc updated. Thanks for your patience.

[2020-01-17 00:01] martincoetzer commented on #37537
This is finally fixed

[2020-01-17 00:02] martincoetzer commented on #32255
This is now fixed

[2020-01-17 00:05] Adam-Smith-MSFT commented on #46304
@jamserra Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-01-17 00:10] Adam-Smith-MSFT commented on #45834
Sent instructions to open a support case via email, will follow up till issue is resolved.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-01-17 00:10] #45834 closed

[2020-01-17 00:12] Adam-Smith-MSFT commented on #46305
@jamserra Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-01-17 00:15] Adam-Smith-MSFT commented on #46307
@jamserra Blob Append can be archived, however, the archiving tier requires a specific time for re-hydration and has higher access transaction cost in comparison with cool and hot. I'll forward the feedback to the author as well.

[2020-01-17 00:15] MarileeTurscak-MSFT commented on #46285
@jevgenij-martynenko
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-17 00:16] Karishma-Tiwari-MSFT commented on #46122
Please refer to this document: https://docs.microsoft.com/en-us/azure/virtual-desktop/install-office-on-wvd-master-image
One of the recommendation is

[2020-01-17 00:18] femsulu commented on #46314
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-01-17 00:18] MarileeTurscak-MSFT commented on #46286
@yadcam
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-17 00:18] MarileeTurscak-MSFT commented on #46287
@wbach82
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-17 00:19] kgremban commented on #45535
Thanks @ylashin. I've made a pull request with those code updates. Since you signed off on the changes, I'm going to have github automatically close this issue when that pull request is merged. If you have any further comments/concerns on this topic, feel free to post here again and we can reopen the issue.

[2020-01-17 00:23] MarileeTurscak-MSFT commented on #46317
@CeciAc
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-17 00:27] lunar87 opened #46329 "app reg check missing steps"
IF you look at https://docs.microsoft.com/en-us//azure/virtual-desktop/deploy-diagnostics#review-your-app-registration it says go to the app reg, but then doesn't actually tell you what to check under API permissions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16a4e54f-6cef-688b-b491-760ea2b25461
* Version Independ

[2020-01-17 00:27] Karishma-Tiwari-MSFT commented on #45952
@vinod83k Can you please clarify on your ask here. Are you suggesting to update the document or you are saying that there is some issue with the script in the doc? Please let me know.

[2020-01-17 00:30] #45535 closed

[2020-01-17 00:32] Mike-Ubezzi-MSFT commented on #46291
@Styrna Thank you for bringing this to our attention. I am going to make the content owner aware of this issue, since there is no specific code sample provided with this document.

[2020-01-17 00:53] roygara commented on #17766
#reassign: roygara

[2020-01-17 00:54] tehtertot commented on #41315
I sometimes see references to Microsoft.Azure.WebJobs.Extensions.CosmosDB, and also Microsoft.AzureWebJobs.Extensions.DocumentDB. What is the difference between these 2 packages?

[2020-01-17 00:57] tehtertot opened #46331 "ServiceBusTrigger with input CosmosDB binding"
I don't see an example of a ServiceBusTrigger with CosmosDB input binding. Is it possible to provide an example in C# and/or JavaScript? Is there a way to pull a specific value out of the message to use as the parameter values being referenced in the CosmosDB constructor/query?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-01-17 01:00] roygara commented on #17766
@polarapfel Apologies for the delay on this, that wasn't intentional. As for your question, this article strictly covers mounting the share and not changing or setting the size, that information is covered elsewhere.

If you wish to change or set the size for your file share, for doing this at creation please see: https://docs.microsoft.com/en-us/azure/storage/files/storage-how-to-create-file-shar

[2020-01-17 01:00] #17766 closed

[2020-01-17 01:04] roygara commented on #44730
@rrottmann Thanks for reaching out, we appreciate it. I took your feedback to the product team and spoke with them about this. The consensus is that they wanted the examples to be as simple as possible (they're really introductory examples more than anything). If users want to optimize them for their environments they're absolutely welcome to but, these are only meant to be extremely simple exampl

[2020-01-17 01:04] #44730 closed

[2020-01-17 01:05] roygara commented on #15462
#reassign: roygara

[2020-01-17 01:15] davidsandbrand opened #46332 "Images are incorrect"
The images for the general settings, default documents, and path mappings tabs are just re-used images of Application settings

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e25899c-1ed8-7cfc-2c37-73bb010a87f0
* Version Independent ID: 8b366c42-43f8-d5eb-b619-b356e75a9916
* Content: [Configure apps in the portal - Azu

[2020-01-17 01:30] Tyriar opened #46334 "Redis best practices points to deprecated gist which points back to the page you came from"
https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-best-practices points to https://gist.github.com/JonCole/925630df72be1351b21440625ff2671f here:

![image](https://user-images.githubusercontent.com/2193314/72576825-9e8bf680-3885-11ea-96a7-3c8441325222.png)

But the gist says its deprecated and points back to the best practices page:

![image](https://user-images.githubusercontent.

[2020-01-17 01:32] gurubobnz opened #46335 "Clarify how to add a SSH user to an existing VM"
Please clarify how to add a SSH user to an existing VM, the example is for adding a user at time of creation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33cf041a-95dd-6332-52bf-6a71d3767bb8
* Version Independent ID: 96efc8cf-53e0-8a1c-fcf2-122f1b50b152
* Content: [Use SSH keys with Windows for Linux VMs - Azure Lin

[2020-01-17 01:38] #9897 closed

[2020-01-17 01:55] KrishnaG-MSFT commented on #46313
@maf1024 Thanks for your comment! We will review and provide an update as appropriate.

[2020-01-17 01:57] SaurabhSharma-MSFT commented on #46315
@langstonj Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-17 02:01] GiftA-MSFT commented on #46280
@areddish I was able to reproduce this error. Please can you provide steps for [Get and use the published iteration on the prediction endpoint](https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/python-tutorial#get-and-use-the-published-iteration-on-the-prediction-endpoint) section? Thanks.

[2020-01-17 02:02] KrishnaG-MSFT commented on #46316
@petetian Thanks for your comment! We will review and provide an update as appropriate.

[2020-01-17 02:05] KrishnaG-MSFT commented on #46318
@mwc360 Thanks for your comment! We will review and provide an update as appropriate.

[2020-01-17 02:06] danmyhre opened #46337 "Please add FAQ for management via Intune"
Please add details about how to manage this application via Intune.  For example, device configuration policies to control the settings and push out the profile.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9ef898a-0b72-e018-8a3d-6f14f62e1119
* Version Independent ID: b62b5b8f-bc88-0868-a2f6-1020a5097460
* Content:

[2020-01-17 02:07] KrishnaG-MSFT commented on #46319
@GregUzelac Thanks for your comment! We will review and provide an update as appropriate.

[2020-01-17 02:10] KrishnaG-MSFT commented on #46320
@sandeepraichura Thanks for the feedback.
Assigning @axayjo for visibility, review and document enhancement consideration.

[2020-01-17 02:11] KrishnaG-MSFT commented on #46321
@alathrop Thanks for your comment! We will review and provide an update as appropriate.

[2020-01-17 02:13] davidsmatlak commented on #31198
#assign:davidsmatlak

[2020-01-17 02:13] KrishnaG-MSFT commented on #46322
@sathyarajv Thanks for your comment! We will review and provide an update as appropriate.

[2020-01-17 02:13] davidsmatlak commented on #31199
#assign:davidsmatlak

[2020-01-17 02:14] KrishnaG-MSFT commented on #46323
@datafisk Thanks for your comment! We will review and provide an update as appropriate.

[2020-01-17 02:15] davidsmatlak commented on #31199
I'll review the document and update aliases with Az module cmdlet names.

[2020-01-17 02:15] davidsmatlak commented on #31198
I'll review the document and update aliases with Az module cmdlet names.

[2020-01-17 02:17] KrishnaG-MSFT commented on #46329
@lunar87 Thanks for the feedback.
Assigning @Heidilohr for visibility, review and document enhancement consideration.

[2020-01-17 02:20] KrishnaG-MSFT commented on #46332
@davidsandbrand Thanks for your comment! We will review and provide an update as appropriate.

[2020-01-17 02:24] KalyanChanumolu-MSFT commented on #46313
@maf1024 Thank you for reaching out.
The Graph and SQL API's can be used interchangeably within a collection and support for multiple API's is being worked on by the product team.

Tagging the content owner @SnehaGunda to evaluate and update the documentation as appropriate.

[2020-01-17 02:24] KrishnaG-MSFT commented on #46026
@sunilmaram Closing this issue for now. If there are further / any questions regarding this matter or feedback on the Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-01-17 02:24] #46026 closed

[2020-01-17 02:29] KrishnaG-MSFT commented on #46181
@APEThomas Verified and updated the document as required. Thanks.

[2020-01-17 02:29] #46181 closed

[2020-01-17 02:29] karataliu commented on #46266
Thanks @shashishailaj  for the detailed clarification.
I think we might consider call this out in the doc. Because both 'v2.0->Concepts->Authentication Protocol->ID tokens' and 'v2.0->Concepts->Authentication Protocol->ID tokens' points to the same page. People may be confusing if he is only looking at 'v2/v1' doc and navigate to that page.

[2020-01-17 02:30] PramodValavala-MSFT commented on #46331
@tehtertot Similar to the `Queue Trigger + Cosmos Input` examples here, the same can be done for `Service Bus Trigger + Cosmos Input`.

Apart from fetching details from the message JSON similar to the examples here, you can use one of the available [message metadata](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus#trigger---message-metadata) values too.

[2020-01-17 02:30] KalyanChanumolu-MSFT commented on #46334
@Tyriar Thank you for the feedback.
The migration to official documentation is being worked upon.
The content on the gist is still relevant though.

@JonCole FYI

[2020-01-17 02:31] #46245 closed

[2020-01-17 02:32] KalyanChanumolu-MSFT commented on #46319
@GregUzelac Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-01-17 02:51] KrishnaG-MSFT commented on #46035
@perkops It is 'must'. Good observation! I have corrected the doc. The change should reflect on the doc within 24 hours. I will now proceed to close this thread. However, if there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2020-01-17 02:51] #46035 closed

[2020-01-17 03:10] kiranpradeep opened #46339 "Resoure type selection combo box has no options or disabled"
In step 5, the resoure type selection combo box has no options. Please find attached screenshot.

![cosmos_resource_type_selection_not_enabled](https://user-images.githubusercontent.com/1491933/72581310-ed2ca580-3904-11ea-96ee-8a39cfc69a1c.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18ca6c6c-1247-26ee-227a-ea32

[2020-01-17 03:17] kiranpradeep opened #46341 "Microsoft.AzureCosmosDB/databaseAccounts is not a supported resource type"
In step 5, if we try to provide resource ID or alias, we get error message like "_The resource type 'Microsoft.AzureCosmosDB/databaseAccounts' is not a supported resource type._" Please find attached screenshot.

![Microsoft AzureCosmosDB_databaseAccounts_is_not_a_supported_resource_type](https://user-images.githubusercontent.com/1491933/72581657-1c8fe200-3906-11ea-9da3-7286eed406de.png)

---
####

[2020-01-17 03:46] BharathNimmala-MSFT commented on #46314
@hruday94 Thank you for reaching out to us, can you please share any documentation link which you are following through , so that we can help route to respective team to further guide you.

[2020-01-17 04:02] DixitArora-MSFT commented on #46170
@richardspitz You can contribute to the doc change by submitting a PR for the edit you are proposing.

[2020-01-17 04:03] DixitArora-MSFT commented on #46118
@ggailey777 Any inputs in this ?

[2020-01-17 04:15] PramodValavala-MSFT commented on #45961
@boreys Apologies for the long wait. Looks like this has [recently been fixed](https://github.com/Azure/azure-functions-durable-extension/issues/1156) and should be available in the next release.

Since there is no doc update required here, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discus

[2020-01-17 04:15] #45961 closed

[2020-01-17 04:49] suraneti commented on #37931
Font color in diagrams should turn to white in dark mode.

[2020-01-17 04:54] mike-urnun-msft commented on #46159
@joeljanke Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-01-17 04:54] #46159 closed

[2020-01-17 04:59] souravmishra-msft commented on #45983
@samirs20, I don't see that option being disabled.
![image](https://user-images.githubusercontent.com/54057592/72585315-9ed2d300-3913-11ea-8236-9108cd82a64c.png)

Are you still not able to see this option under AzureAD-Environment-{TenantName} >>Users - All users?
Which Directory Role is the user a part of with whom you are logged into the Azure Portal and trying to upload the users csv file?
Also

[2020-01-17 05:00] realtomkwok commented on #46029
Thank you for your reply!

[2020-01-17 05:10] Zek99 commented on #36828
@the-blesss Did you have any luck solving this without running a VM as a DNS Server?

[2020-01-17 05:11] AjayKumar-MSFT commented on #45991
Apologies for the delay! We had been checking on this internally. Your feedback has been shared with the content owner for further review.

[2020-01-17 05:15] ToMakeSense commented on #43843
@ecfan Yes, It does. thanks for your @ecfan  @kevinlam1 help 👍

[2020-01-17 05:15] #43843 closed

[2020-01-17 05:31] VikasPullagura-MSFT commented on #46323
@datafisk I have assigned the issue to content author to check and update the document as appropriate.

@dlepow Can you please check and update the document.

[2020-01-17 05:45] ram-msft commented on #46029
@realtomkwok We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-17 05:45] #46029 closed

[2020-01-17 05:51] ToMakeSense commented on #43566
**Updates: this issue is fixed.**

[2020-01-17 05:51] VikasPullagura-MSFT commented on #46316
@petetian Can you check the version of Azure CLI on which you are trying this tutorial (you can check by running using `az --version`).

As per document you should run  Azure CLI version 2.0.65 and above. If you are running older version of CLI, [upgrade ](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest)and then you can check this again.

When I tried the tutoria

[2020-01-17 05:52] SumanthMarigowda-MSFT commented on #45997
@kiranpradeep Thanks for bringing this to our attention! In will be assigning this to the issue to content author however can you refer to the suggestion mentioned in this [GitHub ](https://github.com/Azure/azure-cli/issues/10673)it provides you some workaround for now.

[2020-01-17 06:08] v-hakob opened #46344 "Please update the document accordingly (For Networking and Group Policy)."
According the support engineer, "the VM is encrypted using single pass ADE, for single pass ADE, the VM is not need to have connection with internet or even with Azure public IP. the public doc is not up to date yet I think. The VM will use the internal wireserver IP 169.254.169.254 to upload the keyvault directly to host instead of the keyvault endpoint IP address. And the IP 169.254.169.254 can

[2020-01-17 06:15] himadrinath commented on #46205
@FrankHu-MSFT thanks. Close this

[2020-01-17 06:31] KrishnaG-MSFT commented on #46335
@gurubobnz Thanks for your comment! We will review and provide an update as appropriate.

[2020-01-17 06:41] VikasPullagura-MSFT commented on #46294
@ChristianMontoya Can you please check on this and add your comments.

[2020-01-17 07:00] OzBob commented on #46017
@KrishnaG-MSFT @SwathiDhanwada-MSFT
Please re-open

This screen shot needs updating
https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/media/resolve-past-due-balance/settle-balance-entry-point.png

The description:
https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/resolve-past-due-balance#resolve-past-due-balance-in-the-azure-portal
is no longer correct.

[2020-01-17 07:10] SwathiDhanwada-MSFT commented on #46017
@OzBob Apologies  for inconvenience . I have misunderstood it incorrectly .
Thanks for your feedback.

@genlin  Can you please look into it and update the document accordingly?

[2020-01-17 07:15] SadiqhAhmed-MSFT commented on #45996
@devszr Thanks for correcting me. Please see the updated response.

[2020-01-17 07:16] kiranpradeep commented on #45997
More important is the issue of create dns record set with actual dns entry.

[2020-01-17 08:00] faerols commented on #46108
@ram-msft First iteration has to train 10 hours to achieve good performance. Now I add a new classes to my data set. Will 2nd iteration use information from first iteration to train faster (i.e I will not need to train 10 hours again but only 1 hours) => it's mean transfer Learning from iteration 1 to iteration 2.

Or will iteration 2 train again from scratch => i'll have to train again my model 1

[2020-01-17 08:02] KrishnaG-MSFT commented on #46337
@danmyhre Thanks for the feedback.
Assigning @danmyhre for visibility, review and document enhancement consideration.

[2020-01-17 08:04] rojakcoder commented on #46182
Thanks. The reference docs explain it clearly. Perhaps adding that link or just stating that different trigger types require a different header in this document will help others to know to look for more information.

[2020-01-17 08:24] kmenti commented on #46034
Any update on this issue? Same Problem for me as well.

[2020-01-17 08:33] SwathiDhanwada-MSFT commented on #46010
@akramwaseem Thanks for reaching out! Each solution requires a resource entry in the resources element that defines the solution itself. This will have a type of Microsoft.OperationsManagement/solutions.

The template shown in the documentation includes Saved search,Schedule and Action group of the solution in deployment.

I am assuming that you are trying to deploy existing solution. I tried to r

[2020-01-17 08:35] KalyanChanumolu-MSFT commented on #46016
@pauloster Clicking on the deleted database should get you to step 5.
There is no missing step here. Do let us know if you are having a different experience.

We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-01-17 08:35] #46016 closed

[2020-01-17 08:40] tjrobinson commented on #46201
The support request has been resolved. There is apparently a known issue with certificates stored in Key Vault and used with the Microsoft Azure CDN. When the certificate version is updated in Key Vault, it doesn't always get picked up by the Azure CDN. The workaround was to delete the custom domain configuration, and then re-create it. Apparently this doesn't always cause a problem.

I think it w

[2020-01-17 08:42] KalyanChanumolu-MSFT commented on #46339
@kiranpradeep I have tried a couple of browsers and it works for me.

![image](https://user-images.githubusercontent.com/8835012/72597181-3a277080-3933-11ea-84dd-8bea0af4af1f.png)

Could you please sign out from the Azure portal, sign back in and let me know of if you still face the issue

[2020-01-17 08:49] PramodValavala-MSFT commented on #46182
@rojakcoder Glad we could help and thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2020-01-17 08:54] cananac commented on #46115
Thanks @FrankHu-MSFT , you can close yes please.

[2020-01-17 08:55] kiranpradeep commented on #46339
My password expires every day (admin id) and so I signin every day. I have tried from Chrome/Linux and Chrome/macOS to see the same results. The resource is in west-europe region. Is there a pre-requisite for Resource-Type options to be listed?

[2020-01-17 08:57] KalyanChanumolu-MSFT commented on #46296
@SnehaGunda @ThomasWeiss Could you please help here.
The v4 samples are not available on the [repo](https://github.com/Azure/azure-cosmos-python) yet.

[2020-01-17 09:00] ganesh-gawande opened #46346 "Not able to install AuditD framwork on Raspberry pi"
I am not able to install audit framework on Raspberry pi.

I am getting error
[code]

After searching for this error, it shows that, we need to upgrade Kernel with enable `CONFIG_AUDIT=y`

Is this documentation supports installation on Raspberry pi? Is there any other way to deploy secutiry module on Raspberry pi device?

I am using
Raspberry Pi 4 -> With Raspbian os

[2020-01-17 09:14] msrini-MSFT commented on #46298
@amirgra , Can you try the same on Azure cloudshell?

Also can you run the above command with -debug switch and share me the output ?

[2020-01-17 09:31] gjjtip opened #46347 "Output from Jar Activity"
Any ways could help me to bring some parameters from jar execution in ADF jar activity so that i could refer it in the @activity("jar").output?  Similar to the feature in Notebook activity : https://docs.microsoft.com/en-us/azure/data-factory/transform-data-databricks-notebook#passing-parameters-between-notebooks-and-data-factory

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2020-01-17 09:41] Sunny-Pahuja opened #46348 "Geo redundant storage"
GRS replicates your data to another data center in a secondary region, but that data is available to be read only if Microsoft initiates a failover from the primary to secondary region.

This point says in GRS, data on secondary region will be available for read only.

With GRS, the replica isn't available for read or write access unless Microsoft initiates a failover to the secondary region. In t

[2020-01-17 09:48] VikasPullagura-MSFT commented on #46335
@gurubobnz For adding a SSH user after creating the VM, below are few high level steps to give you an Idea:
- You have to generate new SSH keys similar to the instructions in the document
- Login to the VM and create a new user for which you have to create `.ssh/authorized_keys` directory
- Paste the content of .pub (public key) to the `.ssh/authorized_keys` file and need to add appropriate permis

[2020-01-17 09:49] VikasPullagura-MSFT commented on #46335
@cynthn Can you please check on this request and add comments as appropriate.

[2020-01-17 09:56] MikeWedderburn-Clarke opened #46350 "More rule processing detail and examples"
Please add:
1) As per the other comment, clarification on what exactly the 'infrastructure rule collection' is and a link to that page
2) Details of how rules are processed in priority order
3) Some examples of how it is supposed to work and how unexpected things might happen e.g.
3a) Network rule allowing any-any http overriding a specific block because it is at a higher priority
3b) Network rule

[2020-01-17 10:11] jbinard opened #46351 "How to configure appInsights log level in tomcat linux app service ?"
When creating a tomcat linux app service, it is possible to activate appInsights. The appInsights java agent will then be used to forward logs to appInsights. By default, this agent send only logs with WARN level (according to https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-trace-logs#using-the-application-insights-java-agent).
With the tomcat app service, the agent is automatically

[2020-01-17 10:21] theheatDK opened #46352 "Example does not work"
Hi,
This line it fails:
$aznsActionGroup = New-AzScheduledQueryRuleAznsActionGroup -ActionGroup "/subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/contosoRG/providers/microsoft.insights/actiongroups/sampleAG" -EmailSubject "Custom email subject" -CustomWebhookPayload "{ \"alert\":\"#alertrulename\", \"IncludeSearchResults\":true }"

I am no Powershell expert but as far as I can te

[2020-01-17 10:25] henkthissen opened #46353 "SP metadata XML"
I can only get a sp metadata xml file from my application. I'm facing issues when trying to fill in a "samlMetadataUrl". I uploaded the XML, and when directing to that location i don't even get to log in, I get the following message: "Sorry, but we're having trouble signing you in.
We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, please try

[2020-01-17 10:45] sumitt18 opened #46354 "One document per partition key"
Is one document per partition key a suggested/cost efficient partitioning scheme if it results in efficient querying? Any potential downsides to it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d52f6d2e-f852-45ce-c205-ee4038d5ecd1
* Version Independent ID: e45b7f29-4d75-0dda-0f13-38b644213840
* Content: [Partitioning

[2020-01-17 10:48] samirs20 commented on #45983
when I click on Bulk invite - it opens up another window (https://docs.microsoft.com/en-us/azure/active-directory/b2b/tutorial-bulk-invite <https://docs.microsoft.com/en-us/azure/active-directory/b2b/tutorial-bulk-invite>).

Even MSFT support have acknowledged that they have disabled this with no concrete plans to reactivate.

[2020-01-17 10:55] xpillons opened #46355 "Quota is now per VM type"
This page is outdated as the quota is now per VM type as well as low priority

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 941b0a34-c223-297c-4560-43c0c7dc5bcf
* Version Independent ID: e46f1e5f-606e-c42a-6374-2904e2c40a1c
* Content: [Service quotas and limits - Azure Batch - Azure Batch](https://docs.microsoft.com/e

[2020-01-17 11:00] samirs20 commented on #45975
Hello Frank - Thanks for your response. I've raised this as an idea as suggested by you. Meanwhile can you please add the statement 'there is no current deadline/period of time when this will be re-enabled.' to the document. I've been under wrong impression and hope that it was actually temporary but since it has been disabled almost since past one month with no timeline for re-activation - it wou

[2020-01-17 11:12] SychevIgor opened #46356 "Could you specify maxim retention period?"
Could you specify maxim retention period?
Based on azure portal- maximum is 365 days, but it's no exist in this article
![image](https://user-images.githubusercontent.com/578954/72608310-680cb500-3933-11ea-81f4-fc9ffd7592e8.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d40cf114-6845-83f2-1744-3f62f1c13b57
* Versi

[2020-01-17 11:37] SwathiDhanwada-MSFT commented on #46352
Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-01-17 11:50] PeteW-S365 commented on #43961
I've just received a response from Microsoft on this issue.

The options were also greyed out for myself. This was due to Classic Policies now requiring an Azure AD P1 licence (or higher). That said there is a direct URL available to access your classic policies. Microsoft advised me to delete, however simply disabling was enough to allow be to apply the security defaults.

Classic Policies Direct

[2020-01-17 11:53] pcardenasmoya commented on #43961
Thank you!!! This worked!! Fast and easy :)

[2020-01-17 11:59] KrishnaG-MSFT commented on #46341
@kiranpradeep Thanks for your comment! We will review and provide an update as appropriate.

[2020-01-17 12:01] KrishnaG-MSFT commented on #46344
@v-hakob Thanks for your comment! We will review and provide an update as appropriate.

[2020-01-17 12:02] ralphhendriks opened #46357 "Document steps how to customize default telemetry initializer"
Please extend this doc with the steps necessary to customize an default telemetry initializer (i.e. added by `.AddApplicationInsightsTelemetry()`.

Cf. microsoft/ApplicationInsights-dotnet#1636

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6440efaf-8541-515d-7d87-ce2b5ee40e39
* Version Independent ID: 8743926d-744e-fe

[2020-01-17 12:03] Trapulo commented on #43961
I delete 3 or 4 policies I found.
But: Failed to delete '[Outlook Service for OneDrive] Device policy :(

I disabled it, but still I cannot enable security defaults

[2020-01-17 12:04] souravmishra-msft commented on #46344
@msmbaldwin, Can you please check on this and update the doc accordingly.

[2020-01-17 12:04] KrishnaG-MSFT commented on #46353
@henkthissen Thanks for your comment! We will review and provide an update as appropriate.

[2020-01-17 12:08] KrishnaG-MSFT commented on #46347
@gjjtip Thanks for your comment! We will review and provide an update as appropriate.

[2020-01-17 12:08] cananac opened #46358 "Reading data inside BLOB with Owner role"
Hi,

I'm able to read data inside a BLOB in a subscription where I have Owner role(and that's the only role I have in all the scopes going down). According to the documentation ("Roles such as Owner, Contributor, and Storage Account Contributor permit a security principal to manage a storage account, but do not provide access to the blob or queue data within that account.") I should not be able to

[2020-01-17 12:12] KrishnaG-MSFT commented on #46348
@Sunny-Pahuja Thanks for your comment! We will review and provide an update as appropriate.

[2020-01-17 12:13] PeteW-S365 commented on #43961
Have you confirmed all baseline policies are also also deactivated? Once all baseline and classic policies are deactivated you should be able to proceed with the security defaults.

[2020-01-17 12:28] amanmcse commented on #46236
@LXBdev Use of b2clogin.com is enforced for b2c functionality only. Client Credentials flow is not supported for B2C Applications. Since the App registered via App Registration under Azure AD B2C, can also be used for standard Azure AD as well which supports Client Credentials flow. For standard AAD functionality, use of b2clogin.com is not applicable and requires login.microsoftonline.com only.

[2020-01-17 12:28] #46236 closed

[2020-01-17 12:33] amanmcse commented on #45978
@shAFXr I have assigned this thread to author to review and check if we can accommodate this piece of information in this document.

[2020-01-17 12:35] ZaherButt commented on #33638
@MarileeTurscak-MSFT @billmath "Yes, you can install the pass-through agent on a domain controller but it is not recommended because it is best not to install AD Connect on a domain controller."

The initial question was specific to the recommendation of the installation of PTA agents not Azure AD Connect. If Azure AD Connect is installed on a member server as recommend, is it recommended to insta

[2020-01-17 12:36] KrishnaG-MSFT commented on #46350
@MikeWedderburn-Clarke Thanks for the feedback.
Assigning @vhorne for visibility, review and document enhancement consideration.

[2020-01-17 12:41] rramoscabral opened #46359 "Using public key generated by PuttyGen"
If someone want to use the public key generated by PuttyGen is better to add Out-String when reading the public key.

$sshPublicKey = Get-Content "$env:USERPROFILE\.ssh\id_rsa.pub" | Out-String

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3883b13-efbc-dd65-f4ca-7dd3d34a74f7
* Version Independent ID: 57a50d6a-b75e-bc

[2020-01-17 12:54] ZaherButt opened #46360 "Installation on Server Core"
Is it supported to have the PTA agents installed on a Server Core operating system? The PTA agent installer does suggest a CLI option is possible. If would be great if this could be added to the FAQ.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a977c84-24c7-3f79-07f2-faa7acdfe282
* Version Independent ID: 08004960-7

[2020-01-17 13:06] phatcher opened #46361 "Access denied via Azure CLI"
I'm following the example to connect to my server via Azure CLI Bash i.e.

mysql --host &lt;server&gt;.mysql.database.azure.com --user &lt;admin&gt;@&lt;server&gt; -p

However, I get an access denied error...

ERROR 1045 (28000): Access denied for user '&lt;user&gt;'@'&lt;ip address&gt;' (using password: YES)

I have added the IP address to the Connection Security tab in the portal - ideas?

---
#

[2020-01-17 13:07] KalyanChanumolu-MSFT commented on #46356
Thank you for reaching out.
We are actively investigating and will get back to you soon.

[2020-01-17 13:10] OffColour commented on #36918
@vhorne That section doesn't cover the issue at all.

[2020-01-17 13:19] KalyanChanumolu-MSFT commented on #46354
@sumitt18 Thank you for reaching out.
PartitionKey is defined at a container level. So there is one PartitionKey per container and one logical partition for each value of the PartitionKey.

I do not completely understand what you mean by one document per PartitionKey.
Please elaborate your concern or use case for us to better assist you.

[2020-01-17 13:39] bradleyruff commented on #42443
Thank you!

[2020-01-17 13:46] D3nnisd commented on #44887
FYI: https://docs.microsoft.com/en-us/analysis-services/tutorial-tabular-1400/as-adventure-works-tutorial#next-steps This page has the old names either!

[2020-01-17 13:55] MonikaReddy-MSFT commented on #46357
@ralphhendriks - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-01-17 14:01] orsolyag opened #46362 "gateway from other subscription"
The article states that the same subscription and same region are required. But both of these requirements changed some time ago. Gateway from another subscription can be configured with PowerShell.
Please update the documentation to reflect the changes and the configuration steps with PowerShell.
Also would be good to include the information about gateway cluster support and how to configure load

[2020-01-17 14:10] RaijmakersH commented on #44872
Hello Yushun,

To be honest, the text is still valid. I was thrown off by the outdated screenshots. The interface does look quite different now:
[cid:image007.jpg@01D5CD48.2C37C710]
Met vriendelijke groet / Best regards,

Harrie Raijmakers
Trainer / Consultant
Global Knowledge
[new_linkedin_button]<https://nam04.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2Fgloba

[2020-01-17 14:16] asergaz commented on #45917
Thank you @skyizthelimit . Even though you are reaching out internally I went ahead and created the feedback request: https://feedback.azure.com/forums/907045-azure-iot-edge/suggestions/39457678-store-private-key-for-x-509-based-dps-securely-on

Please vote it so we can prioritize :). Thanks!

We will now proceed to close this thread. If there are further questions regarding this matter, please ta

[2020-01-17 14:16] #45917 closed

[2020-01-17 14:19] MonikaReddy-MSFT commented on #46052
@jfalameda - The only way to add profiler to an existing cluster is to add the WAD settings to the cluster template and redeploy. ARM should not redeploy the entire cluster. It should do an incremental update with just the changes that were added to the template.

So at this moment there are no document changes required for this document and hence We will now proceed to close this thread. If there

[2020-01-17 14:19] #46052 closed

[2020-01-17 14:27] JoostJansenMot10 opened #46363 "Powershell script incorrect"
This script is incorrect:
RegisterConnector.ps1 -modulePath "C:\Program Files\Microsoft Azure AD Connect Authentication Agent\Modules\" -moduleName "AppProxyPSModule" -Authenticationmode Credentials -Usercredentials $cred -Feature PassthroughAuthentication

Its using the wrong module name. This is the correct script:
RegisterConnector.ps1 -modulePath "C:\Program Files\Microsoft Azure AD Connect Au

[2020-01-17 14:33] vladimir-zorin commented on #43290
Getting same exception as mladedav. Can't find a solution anywhere...

[2020-01-17 15:01] Trapulo commented on #43961
![Annotation 2020-01-17 160009](https://user-images.githubusercontent.com/5655057/72621942-77472f00-3942-11ea-8020-9e2456d65f5c.png)

[2020-01-17 15:03] hansmbakker commented on #44779
@DixitArora-MSFT please reopen this issue. The issue is that the documentation provides examples that do not work with .net core 3.1 anymore.

[2020-01-17 15:04] wimdeblauwe opened #46364 "Tutorial wrong or no longer up to date"
I tried this tutorial to deploy my Spring Boot app to Azure using Jenkins, but it did not work. In the end, I got it working by checking in the webssh console what the Maven plugin did. These are the changes I did compared to the current tutorial:
* I did not need to create a web.config file
* I did not need to create a zip file
* I just copied my jar to `app.jar` and deployed that jar file like t

[2020-01-17 15:12] netresults-scott commented on #43961
Hmmm. We have a P1 grant via the MAP program, so I've been able to see the Classic Policies node since the beginning. In our case, I had initially tried to disable (no change) and have since deleted them - and we still get the blocking error about Classic policies being enabled. Haven't made any headway yet via the case we opened with Azure support, but I'll follow up if/when they come back with a

[2020-01-17 15:14] MJR3552 commented on #43961
After opening a support case, and some phone calls with MS - I was able to activate "security defaults", basline policies were deleted after enabling security defaults

[2020-01-17 15:21] Simon-HL opened #46365 "Usage error when creating web app in app service plan"
When creating a Web App in step 2. of "Host the web app in App Service", the az cli command fails and returns a usage error.

az webapp create -n &lt;your web app name&gt; -g &lt;your resource group name&gt; -p &lt;your app service plan name&gt; --deployment-local-git
usage error: --runtime | --deployment-container-image-name | --multicontainer-config-type TYPE --multicontainer-config-file FILE

-

[2020-01-17 15:23] yevhen-kuras opened #46366 "Question about UDP"
UDP is connectionless and there is no flow state tracked for UDP. If any backend endpoint's health probe fails, existing UDP flows may move to another healthy instance in the backend pool.

Please clarify if udp datagrams form the same source port will be redirected to another alive backend in case of session persistence enabled ?

---
#### Document Details

⚠ *Do not edit this section. It is requ