[2019-09-30 17:13] SumanthMarigowda-MSFT commented on #39625
@srinadhayarram Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-09-30 17:15] GiftA-MSFT commented on #39797
@kristapratico thank you for your feedback. We will look into this issue and get back to you shortly.

[2019-09-30 17:17] SumanthMarigowda-MSFT commented on #39418
@axelgMS
Is soft delete available for virtual machine disks?
Soft delete is available for both premium and standard unmanaged Disks. Soft delete will only help you recover data deleted by Delete Blob, Put Blob, Put Block List, Put Block and Copy Blob. Data overwritten by a call to Put Page is not recoverable.

Disks are pages blobs underlying. So soft delete protects all put blob, including put bl

[2019-09-30 17:17] demesg opened #39801 "csv format"
The format of bulk user delete is pretty unclear to me in the docs. It is not working how even I try..
I guess the intent is to be able to do a user export, then remove some rows in the file and then upload file for delete.. not working ...  Delete should user same csv format as user-export, its not..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-09-30 17:17] Grace-MacJones-MSFT commented on #39776
Hi @robbiedesutter, thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2019-09-30 17:18] PatrickFarley commented on #39797
I've updated the docs to fix this - https://github.com/PatrickFarley/azure-docs-pr/blob/comvis-install-bug/articles/cognitive-services/Computer-vision/quickstarts-sdk/python-sdk.md

[2019-09-30 17:18] StephenWeatherford commented on #39727
Thanks for letting me know, but I don't consider that an "of course" situation at all.

[2019-09-30 17:20] MashaMSFT commented on #39743
Hi @iampeterdaniels , thank you so much for reaching out and helping improve our documentation :) There's actually some internal work going on to add additional information to this documentation, and so your Git Issue aligns nicely with that :) ([1608074](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1608074)). I will proceed with closing out this Git Issue for the time being, bu

[2019-09-30 17:20] #39743 closed

[2019-09-30 17:20] tfitzmac commented on #39476
@ganeshvaltix - thanks for your question. I have not used Go, but it should be the same as getting a header value from any HTTP request. You would either send an HTTP request directly with Go and get the response, or use the SDK and get the HTTP response from the function. Sorry, I don't know more details. I would suggest contacting the Golang SDK team for more details.

This article lists the hea

[2019-09-30 17:21] Grace-MacJones-MSFT commented on #39530
Hi @mogadanez , Configuring execution time from web.config will not work in Azure app service. this is because App service has default time out of 240 Seconds. Please see this doc for more information: https://docs.microsoft.com/en-us/azure/app-service/faq-availability-performance-application-issues#why-does-my-request-time-out-after-230-seconds

[2019-09-30 17:21] #39530 closed

[2019-09-30 17:24] SumanthMarigowda-MSFT commented on #39418
@axelgMS We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-30 17:24] #39418 closed

[2019-09-30 17:25] tfitzmac commented on #39476
@sptramer - do you have any recommendations about how to get header values from requests made through Azure SDK for Go? There are throttling values in the response that are helpful to check.

[2019-09-30 17:29] mamccrea commented on #39771
@su-jie - Are the fields "ContainerName", "Path" and "UploadFromLocal" still supported in JobConfig.json?

[2019-09-30 17:30] Alberto-Vega-MSFT commented on #39778
@iqsarv Thanks for reaching out. Just to confirm. In order to repro I just need to follow the 3 steps under the section "[Create a Smart Contract](https://docs.microsoft.com/en-us/azure/blockchain/service/send-transaction#create-a-smart-contract)"?
From the VS Code command palette, choose Azure Blockchain: New Solidity Project.
Choose Create basic project.
Create a new folder named HelloBlockchain

[2019-09-30 17:34] BryanTrach-MSFT commented on #23942
@IanYates Can you please open a new feedback item? Feel free to reference this item if necessary.

To leave new feedback, navigate to the [doc](https://docs.microsoft.com/en-au/azure/active-directory/hybrid/how-to-connect-sync-recycle-bin), and under the feedback section, select "this page." Thank you for your understanding.

[2019-09-30 17:41] chrisscalzo commented on #34265
I've tried to deploy a couple of laravel based apps recently on Azure App Service following these instructions. All of my deployments are failing. Even when I try the most basic app and use the code/repo provided here the deployment fails. It seems to be failing on the version detection of NPM.

Could the author of the article provide an update to the deploy script in order to work around this iss

[2019-09-30 17:41] dlepow commented on #39692
I'll add a link in the doc. Thanks for pointing this out.
#assign: @dlepow

[2019-09-30 17:46] avidiyal commented on #28256
I do see this issue as well. esxi6.7 is the default downloadable available currently with VMWare. I was unable to download older versions of vmware to get support for datastore VMFS5. Could you please let us know of any link to download esxi6.5 or may be provide single vmdk file instead of merging it?

[2019-09-30 17:47] SudoBrendan commented on #39692
No problem, thanks for pointing me in the right direction!

[2019-09-30 17:47] FrankHu-MSFT commented on #39791
@cocowalla Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-30 17:47] FrankHu-MSFT commented on #39795
@tschn Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-30 17:47] FrankHu-MSFT commented on #39801
@demesg Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-30 17:49] shashishailaj commented on #39619
@jonwbstr Thank you for the detailed analysis on the subject related to reporting of [Potential stale accounts in a privileged role](https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/pim-how-to-configure-security-alerts#potential-stale-accounts-in-a-privileged-role) and providing the related links. We completely agree with you and all the industry experts that

[2019-09-30 17:49] #39619 closed

[2019-09-30 17:49] IEvangelist commented on #39397
This is unfortunately not supported and there was a mistake in the docs. #please-close

[2019-09-30 17:49] #39397 closed

[2019-09-30 17:50] Alberto-Vega-MSFT commented on #39263
@BhupalPatil Was the previous response helpful?

[2019-09-30 17:51] SubhashVasarapu-MSFT commented on #39793
@mjpagan, We are looking into this query and will update you as soon as possible.

[2019-09-30 17:54] axelgMS commented on #39418
@SumanthMarigowda-MSFT - so there's a difference between Disks and Blobs.
Soft Delete is a storage feature, so my question is "how does this apply to a Compute feature like a Disk" ?
in Classic world, the Disk objet is a logical object *above* the underlying VHD blob.
So you can soft-delete a BLOB, but you can't do that for a DISK…

My ask is to get that clarified in the doc.

[2019-09-30 17:54] sptramer commented on #39476
@tfitzmac Unfortunately not, I'm not an engineer on the SDK and am unsure who the current PM/engineering team is. I would suspect that any throttling happening in the SDK though is native to the REST API, and you could follow guidelines associated with that in order to prevent it.

[2019-09-30 17:56] MicahMcKittrick-MSFT commented on #39788
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-30 17:56] FrankHu-MSFT commented on #39795
hey @tschn that is interesting, can you try performing this with all your chrome extensions turned off? Using incognito mode or a private browsing mode?

[2019-09-30 18:01] SyntaxC4 commented on #39746
@hecflores Thank you for linking to a blog post, however we are currently evaluating topics to find their appropriate owners, and if not found we are going to retire the content. If we find an owner for this content, we'll ask if they would like to add the link provided.

#please-close

[2019-09-30 18:02] #39746 closed

[2019-09-30 18:03] arduppal commented on #39696
@codingbandit- Thank you for the feedback.

[2019-09-30 18:06] lichasu opened #39802 "Coping the contexts in the sample to portal but save failed"
@maysmiling commented on [Sun Sep 29 2019](https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/661)

When we copied the contents to outbound policy page. We found there might two points made us save failed.
Here are they:
1. the condition value is not valid.
&lt;when condition="@(context.Response.StatusCode == 200 && context.Product.Name.Equals("Starter="""))"&gt;
2. The comments in the secti

[2019-09-30 18:07] lichasu commented on #39802
Hi team, please check the issue above.

Thanks!

[2019-09-30 18:10] dhei commented on #39595
Hi @LaloCo,

As documented in https://azure.github.io/AppService/2019/07/25/Removing-Easy-Tables-and-Easy-APIs-from-Azure-App-Services.html#add-table, after creating the table in your SQL Azure Database, in order to add the table to your App Service app, you will need to manually add the "{tablename}.js" and "{tablename}.json" under the "wwwroot/tables" directory.

[2019-09-30 18:15] tschn commented on #39795
Hi Frank,

Just tried with Incognito mode, same empty response body.

Thanks for looking into this!
Todd

On Mon, Sep 30, 2019 at 1:57 PM Frank Hu <notifications@github.com> wrote:

--
Todd Schoen

[2019-09-30 18:22] barkesteijn opened #39804 "Upgrade to 1.4.18.0 disables DesktopSsoEnabled"
Azure AD Connect upgrade 1.2.70.0 to 1.4.18.0 disables Microsoft.UserSignIn.DesktopSsoEnabled option in the Azure AD Connect configuration.

Used Azure AD Connect Documenter and detected the error there.

Is this a known issue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57f5478b-3132-21d0-a420-a1140db235de
* Versio

[2019-09-30 18:22] FrankHu-MSFT commented on #39795
@tschn could you get a fiddler trace of the working and non-working scenario and send the trace to frhu[at]microsoft.com

A tutorial on how to use fiddler can be found here : 
https://blogs.msdn.microsoft.com/maheshk/2016/05/03/easy-way-to-collect-fiddler-log-fiddlercap/

[2019-09-30 18:24] himanshusinha-msft commented on #39683
@virajith : We have not heard back from on this .Please do share the document url .

[2019-09-30 18:26] peledins commented on #32933
@GBBBAS: the lowercasing should be just for "action" and not for "setAccessControl", no?

[2019-09-30 18:27] Alberto-Vega-MSFT commented on #39735
@SychevIgor Thanks for the great feedback I have assigned the issue to the content author so she can evaluate and update as appropriate.

[2019-09-30 18:30] josiahlaivins commented on #39607
@arduppal Thanks for the clarification. I changed it to:
[code]
However, I attempt to do an action like:
[code]
It hangs outputing:
[code]
And the ImageUploader module _(mcr.microsoft.com/azure-blob-storage:latest)_ outputs:
[code]
One interesting note is that the ImageUploader module does not react at all to me executing that BlobContainer code in Primary, which tells me the 2 do not seem to know

[2019-09-30 18:32] MicahMcKittrick-MSFT commented on #39794
@FISHMANPET thanks for this find. I adjusted this documentation to better show you currently have a two node cluster (If you followed the previous tutorials) and we are scaling to 3.

Once the PR merges the changes will go live after a few hours.

[2019-09-30 18:32] #39794 closed

[2019-09-30 18:34] pcreynolds opened #39807 "Cert renewal without changing ip address"
I'm trying to review a cert for an app service. The current cert is TLS/SSL type is IP SSL Based. I want to renew the cert without changing the ip address for the app service.

The phrase from the doc isn't clear:
Bind the new certificate to the custom domain you want without deleting the old one. This action replaces the binding instead of removing the old one.

Does this mean I should create a n

[2019-09-30 18:36] anzaman commented on #39495
This issue is no longer applicable and was fixed a long time ago. I will update the documents

[2019-09-30 18:36] HeidiSteen commented on #39216
@MHarrison22  I modified all of the Startup.cs files to use the reordered methods and then noted the change in the readme file.  Please let me know if you find other issues.

All of the samples work for me although for the infinite scrolling sample, I found that a simple F5 was not enough. Instead, I had to select the program name instead of IIS Express to run it.  No one else has reported that is

[2019-09-30 18:39] JonesMikael opened #39808 "Clarify what happens if client is 1903 and has TPM 1.2"
Could you please clarify into what happens if the client is 1903 and has a TPM 1.2 chip? I understand it will considered as if they don’t have a TPM at all, but will this completely fail Hybrid Azure AD join or will this switch to ”software based” and still enable Hybrid Azure AD Join to work for these older devices?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2019-09-30 18:43] SubhashVasarapu-MSFT commented on #39589
@DonPetry-EY, We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-09-30 18:43] #39589 closed

[2019-09-30 18:44] anzaman commented on #39495
@SubhashVasarapu-MSFT

[2019-09-30 18:47] SubhashVasarapu-MSFT commented on #39495
@anzaman, Thanks for the update. @sysadmin-exe, As mentioned by @anzaman  we are working towards updating the document and it would take some time for the changes to get reflected.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-09-30 18:47] #39495 closed

[2019-09-30 18:48] ghost opened #39810 ""azure-iot-sdk-c" install opration has been changed."
@ahidaka commented on [Mon Sep 30 2019](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/2839)

See the details as https://github.com/Azure/azure-iot-sdk-c/blob/master/doc/devbox_setup.md#windows
"git clone https://github.com/Azure/azure-iot-sdk-c.git --recursive" doesn't work properly.
Need "git submodule update --init" before "mkdir cmake"

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs

[2019-09-30 18:48] lichasu commented on #39810
Hi team, please check this issue.

Thanks!

[2019-09-30 18:54] rwike77 commented on #33008
Closing this issue, now.  #please-close

[2019-09-30 18:54] #33008 closed

[2019-09-30 18:55] KingdomOfEnds commented on #39737
Good Morning @SychevIgor - Thank you for your outstanding question! Yes, both libraries are presently supported. They represent two ways to authenticate with Azure Digital Twins. Both ADAL and MSAL are supported by multiple languages and implementations (client JS or backend .NET for example).

Which you prefer to use will be a matter of use scenario but, MSAL is generally encouraged. Specifics ab

[2019-09-30 19:02] Alberto-Vega-MSFT commented on #39739
Duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/39736

[2019-09-30 19:05] HeidiSteen commented on #39216
I'm going to mark this as closed but feel free to reopen if you think I missed something

#please-close

[2019-09-30 19:05] #39216 closed

[2019-09-30 19:05] GBBBAS commented on #32933
Working through the ADLS Gen 2 Rest APIs, I’ve found that even the path needs to remain as it is, including the uppercase and lowercase letters. Therefore the path and query in the API calls must respect casing and can not be converted to lower case

[2019-09-30 19:06] MicahMcKittrick-MSFT commented on #39745
@suneetnangia yes this is a special case for container instances. If you enable the premium SKU then replication between data centers does not incur a cost.

https://docs.microsoft.com/en-us/azure/container-registry/container-registry-geo-replication

[2019-09-30 19:06] #39745 closed

[2019-09-30 19:07] RyanHill-MSFT commented on #39674
Thanks for the feedback @Alienroid. I've assigned the issue to the doc author so they can update the doc indicating this API is no longer needed for .NET 3.0.

[2019-09-30 19:09] Alberto-Vega-MSFT commented on #39739
@SychevIgor Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-30 19:11] Alberto-Vega-MSFT commented on #39736
Related to https://github.com/MicrosoftDocs/azure-docs/issues/39230
@SychevIgor   Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-30 19:13] mamccrea commented on #39752
Hi @codingbandit - Thank you for raising this issue. This is a known issue and the fix will be deployed soon.

#please-close

[2019-09-30 19:13] #39752 closed

[2019-09-30 19:14] peledins commented on #32933
@tamram  - I think I see where the bug is:
instead of return sb.ToString().ToLower();

it should be
sb.Append('\n').Append(item.ToLower()).Append(':').Append(values[item]);
But return needs to be
return sb.ToString();

[2019-09-30 19:17] GBBBAS commented on #32933
Yes it is, which was the change made from the original issue raised. I’ve updated on this thread as it is related

[2019-09-30 19:23] jeevansd commented on #39062
@arungk981 In Atlassian Cloud the user mapping happens on Name IDentifier value. So you dont need extra claims here. Please note that you have to map the correct user attribute in NameID so that user mapping happens for existing users. Also alternatively you can also use our provisioning connector so that users can be provisioned into the Atlassian Cloud.

[2019-09-30 19:23] jeevansd commented on #39062
#please-close

[2019-09-30 19:23] #39062 closed

[2019-09-30 19:23] MicahMcKittrick-MSFT commented on #39782
@ashemedai thanks for this find. I updated the versions and removed the redundancy.

Once the PR merges the changes will go live after a few hours.

[2019-09-30 19:23] #39782 closed

[2019-09-30 19:24] #39786 closed

[2019-09-30 19:25] andyhammar commented on #39784
Thanks for the quick reply cijothomas.
Sorry if I was unclear, yes I found that in the docs. But my interpretation of that was that if no other Logging:LogLevel(s) were defined, that would be default. And with the hierarchical nature of appsettings Logging:LogLevel, I would expect e.g. Logging:LogLevel:ApplicationInsights:Default to inherit what Logging:LogLevel:Default has - but apparently that's

[2019-09-30 19:28] SaurabhSharma-MSFT commented on #39657
@belaie You can specify multiple openid-config elements in a single policy. APIM will accept token if it passes validation for any of configured oidc providers.

[2019-09-30 19:31] lmolkova commented on #39361
@AndreaC-MSFT thanks for the repro steps. This is a VS AppInsights search issue, I have forwarded it to the responsible team.

[2019-09-30 19:31] SychevIgor commented on #39736
Could you specify in a documentation that "The two most common are: Azure Digital Twins (external to Microsoft) and Azure Smart Spaces Service (Microsoft)." (C)

[2019-09-30 19:32] SychevIgor commented on #39737
@KingdomOfEnds thank you. I know the difference between MSAL and ADAL. It's why I asked about adding MSAL to a documentation

[2019-09-30 19:34] KingdomOfEnds commented on #39737
@SychevIgor - Yes, it's a definite improvement to the documentation to have that be brought up to date. I've also reached out to the PM and Engineering teams to verify as well and will keep you notified. Thank you!

[2019-09-30 19:37] cijothomas commented on #39784
This is intentional and by design as Application Insights is a paid service, and we wanted to only sent Warning or above by default. Only way to change is by explicit override by user.

Your settings appear correct, but i strongly recommend to read asp.net core docs on how filtering is applied as well:
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-3.0#how-filte

[2019-09-30 19:37] tfitzmac commented on #39259
@tanmaygore - do you have a minute to look at this issue? I believe you added the condition that a VM in a vnet can't be moved if all of the resources in the vnet aren't moved. Is there more clarification needed for this condition?

[2019-09-30 19:46] nibblesnbits commented on #35288
Is there any progress on this?  The client-side works fine, but this is useless without the ability to validate the token in an API.

[2019-09-30 19:47] iampeterdaniels commented on #39743
Sounds great. Thanks for the reply! 
-------- Original message --------From: Masha at MSFT <notifications@github.com> Date: 9/30/19  11:20 AM  (GMT-07:00) To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com> Cc: Peter Daniels <peter@iampeterdaniels.com>, Mention <mention@noreply.github.com> Subject: Re: [MicrosoftDocs/azure-docs] More on storage, add a page for more
  average solutions (#3

[2019-09-30 19:49] mike-urnun-msft commented on #39787
Hi @tomygrenier - Thank you for your feedback! We will review and update as appropriate.

[2019-09-30 19:59] mike-urnun-msft commented on #39802
Hi @lichasu - Thank you for your feedback! We will review and update as appropriate.

[2019-09-30 20:02] daveRendon opened #39812 "markdown"
this paragraph should be just text, not code formatted:

The log analytics workspace hosting the traffic analytics solution and the NSGs do not have to be in the same region. For example, you may have traffic analytics in a workspace in the West Europe region, while you may have NSGs in East US and West US. Multiple NSGs can be configured in the same workspace.

---
#### Document Details

⚠ *Do no

[2019-09-30 20:05] mike-urnun-msft commented on #39807
Hi @pcreynolds - Thank you for your feedback. In order for us to relay your question and feedback to the right team, could you provide us with the URL of the documentation that you were following?

[2019-09-30 20:13] angibson opened #39814 ".Net Version?"
This article should reference the minimum .Net framework version that is supported for the ASR Provider installations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3f939bc-1166-590f-ebe3-4a22fffd5e1f
* Version Independent ID: 44874c1a-8232-646c-ea1d-3da4d59a74ef
* Content: [Support matrix for disaster recovery of Hy

[2019-09-30 20:19] pcreynolds commented on #39807
Sure thing

https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-custom-ssl#renew-certificates

[2019-09-30 20:20] femsulu commented on #39814
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-09-30 20:21] femsulu commented on #39796
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-09-30 20:27] jimmylewis commented on #39727
@tfitzmac is there a basis for this limitation?  Integers in JSON are not constrained to 32-bits, and there are some values in ARM (like maxSizeInBytes for a database) which accept larger values.

[2019-09-30 20:37] aweFalafelApps commented on #38814
@AjayKumar-MSFT sorry for the delay! The only thing I did to correct the issue was append the trailing slash to the url. Without it we were getting the anonymous login error. I've actually made this mistake more than once, forgetting how to resolve it the second time. It took quite a while to figure it out each time. Thus the reason I suggested a special note in the docs calling it out. And like I

[2019-09-30 20:47] amarnathprofisssional commented on #37742
I have tried in the same approch, but getting below error while calling the token api call.

{"error":"invalid_request","error_description":"AADSTS50107: Requested federation realm object 'https://sts.windows.net/adsfjdf23343d3re/' does not exist.\r\nTrace ID: 61e097a6-dfa7-4869-b573-ea8e0ec25100\r\nCorrelation ID: 73372794-eaee-45f0-b599-3f8d9a138ac7\r\nTimestamp: 2019-09-30 20:03:53Z","error_cod

[2019-09-30 20:52] TravisCragg-MSFT commented on #39783
@JeissonL The minimum instance count on your application gateway should be 2 for high availability & redundancy. If the amount of traffic to your backend pools is higher than 1 instance of app gateway can handle without performance issues, then you will need to have more than 2. It sounds like you can run well on 1 instance, so 2 will be perfect!

A good rule for high availability is that any one

[2019-09-30 20:53] Karishma-Tiwari-MSFT commented on #39469
@cynthn @laurenhughes Did you hear back from Jon on this? Thanks :)

[2019-09-30 20:54] Alberto-Vega-MSFT commented on #39497
Closing this issue since we haven't heard back from you. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-30 20:54] #39497 closed

[2019-09-30 20:55] MashaMSFT commented on #30757
Hi @alvintai78 , thank for bringing this to our attention! I have created an internal item to track and resolve this ([1606839](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1606839)). Since we're tracking it internally, I will proceed with closing out this Git Issue, but please feel free to reach out should you need anything further in the meantime.

Thanks!
Masha from the SQL D

[2019-09-30 20:55] #30757 closed

[2019-09-30 20:58] MarileeTurscak-MSFT commented on #39790
Thanks @Joshua17Thomas ! Is there another contact we can replace it with that you are aware of?

[2019-09-30 21:11] JasonWHowell commented on #39771
#in-progress

[2019-09-30 21:13] KingdomOfEnds commented on #39739
@SychevIgor - Thank you for pointing out an area for improvement. While we do describe two AAD API id's to grant authentication they were a little confusing. I've updated and improved our documentation in light of your observations. Thanks again!

[2019-09-30 21:14] KingdomOfEnds commented on #39736
@SychevIgor - I've gone ahead and updated the documentation to more clearly explain which AAD API ID one should search for. External accounts should search for `Azure Digital Twins`. Test accounts should search for `Azure Smart Spaces Services`. Thank you!

[2019-09-30 21:15] KingdomOfEnds commented on #36796
@loup73 - I've gone ahead and further updated the documentation to improve clarity about this issue. Thank you!

[2019-09-30 21:18] arscek commented on #27904
Hello, is it necessary to use an advanced network profile for this tutorial to work? I have a limited number of available subnets and was hoping to use kubenet, also to ease configuration. Thanks!

[2019-09-30 21:20] tfitzmac commented on #39727
@jimmylewis - thanks for this feedback. I see that I was mistaking a PowerShell limit for a template limit. I have submitted a fix that clarifies the limit you might see through a tool.

[2019-09-30 21:22] codingbandit commented on #39752
Is there a planned deployment time for the fix ? Much appreciated - I just want to know when it's safe to try things again :D

[2019-09-30 21:27] cocowalla opened #39816 "Limits on number of secrets/certificates for an app registration"
The documentation doesn't mention any limits on the number of secrets or certificates that can be assigned to an AAD app registration - are there any? It would be useful to say so, either way.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42a0b4cb-1981-1cbc-ce2c-dbfd8af1527c
* Version Independent ID: d49c873c-9843-842

[2019-09-30 21:30] Virginia001 commented on #39600
@KingdomOfEnds I'm researching this.

[2019-09-30 21:30] JeissonL commented on #39783
@TravisCragg-MSFT Thank you for you answer. This means that the amount of instance on App Gateway is independent of the amount of virtual machines that I have in my backend pool. So for example what will be a good moment for grow my instance quantity to 6 inside my App Gateway settings?.
Thank you in advance.

[2019-09-30 21:30] codingbandit commented on #39696
I appreciate you listening - thank you :) Cheers to the future of Storage on Edge :D

[2019-09-30 21:30] #39696 closed

[2019-09-30 21:31] TravisCragg-MSFT commented on #39043
@sofianemad We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-30 21:31] #39043 closed

[2019-09-30 21:31] MarileeTurscak-MSFT commented on #39816
@cocowalla
Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-30 21:31] GiftA-MSFT commented on #39799
@swanderz the information you're looking for is under[ Where to Write Files](https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-save-write-experiment-files#where-to-write-files). It states "If you don't require a datastore, write files to the ./outputs and/or ./logs folder." It also specifies the pros/cons/usecase for writing to ./outputs folder. Please let me know what part of

[2019-09-30 21:32] cocowalla commented on #39687
@MicahMcKittrick-MSFT  I'm also interested in doing this. Regarding this:

Installed _where_? 😕

[2019-09-30 21:37] ShawnPOWER opened #39817 "Is there any licensing for Azure AD you would need to purchase?"
Such as Azure AD premium? If so, would you need to license each person with a premium license or just have one on the tenant to active the functionality?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b25c1c16-90b1-1cfa-9096-66ec8b064a9b
* Version Independent ID: e00282ca-b1b1-b517-e9d9-85123fdc4a79
* Content: [Tutoria

[2019-09-30 21:40] jeevansd commented on #39817
@ShawnPOWER If you are provisioning groups then you will need Azure AD Premium license for each user. If you are just using the User based provisioning and if you are under 10 apps condition then you will not need Azure AD Premium. For more details please see here https://azure.microsoft.com/en-us/pricing/details/active-directory/

[2019-09-30 21:40] jeevansd commented on #39817
#please-close

[2019-09-30 21:40] #39817 closed

[2019-09-30 21:46] tmguinn opened #39818 "Tenant Name not listed."
The commands:
Add-RdsAccount -DeploymentUrl "https://rdbroker.wvd.microsoft.com"
Get-RdsTenant

don't return the tenant names. You can use -verbose and then the tenant name is displayed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 156a552a-fe64-e5dc-b86a-b7d8ccbeee1d
* Version Independent ID: d83f235e-3ae2-ad71-30c6

[2019-09-30 21:46] TravisCragg-MSFT commented on #39785
@AlexFiala route filters only alter traffic coming from on-premise, so this will not have an effect on your Azure VNET traffic. It is possible to send the traffic from your Azure VNET that is destined for ADO back to your on-prem or to your ISP where it will be picked up by the route.

[2019-09-30 21:47] bchr02 opened #39819 "issue Deploying RemoteDesktop using command line"
https://docs.microsoft.com/en-us/azure/virtual-desktop/connect-windows-7-and-10

Using `msiexec /i RemoteDesktop_1.2.247.msi /qn ALLUSERS=1` to deploy using Group Policy does not work. It doesn't even work when running it locally as an Administrator.

[2019-09-30 21:51] KingdomOfEnds commented on #39735
@SychevIgor - I've gone ahead and updated the documentation with commands for both Azure CLI and Powershell. Thanks!

[2019-09-30 21:54] garybushey opened #39820 "Page still lists Sentinel as preview"
Page still lists Sentinel as preview

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cbfa632-1612-9d5f-7f36-3128d7305f14
* Version Independent ID: 000c1405-b54f-6668-daac-ac69c97d9601
* Content: [Connect CEF data to Azure Sentinel Preview](https://docs.microsoft.com/en-us/azure/sentinel/connect-common-event-format#feed

[2019-09-30 22:03] Virginia001 commented on #39600
@BhupalPatil
- When going for an app registration, is Azure Active Directory mandatory?
**YES**
- Is it possible to build charts using TSI JS SDK without having access to AD.
**YES**
- Can necessary keys (related to TSI environment, etc.) be sent directly?
**No, you must use the environment FQDN and an access token for TSI to query the API**
- Is TSI JS SDK strongly coupled with AD app registratio

[2019-09-30 22:08] TravisCragg-MSFT commented on #39783
@JeissonL As I stated above, assume that any one instance of app gateway can fail at any time. If your application requires 5 instances of App Gateway to function properly during peak times, scaling it to 6 will allow for optimal operation even with the loss of 1 instance.

It sounds like your application runs fine on 1 instance, so 2 will be ideal for optimal performance.

You can also [enable au

[2019-09-30 22:09] FrankHu-MSFT commented on #39665
hey @xkobal and @seagull33 we're currently looking into this issue and will let you know next steps to resolve this. Thanks for letting us know about this,

[2019-09-30 22:14] TravisCragg-MSFT commented on #39812
@daveRendon Thanks for the feedback! It looks like the note above it contains several of the numbered steps as well. I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-30 22:15] Norrch2 opened #39821 "userIdentities.issuerUserId Automatically Encoded?"
Does the issuerUserId need to be encoded prior to posting to the user endpoint? Or, does the endpoint encode the issuerId after posting?

I currently have created a user using Graph Api and the base-64 encoding seems to have happened twice. In order to get the proper userID I have to decode the issuerUserId twice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2019-09-30 22:20] MicahMcKittrick-MSFT commented on #39818
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-30 22:23] daveRendon commented on #39812
Thanks @TravisCragg-MSFT, I created a PR and @jborsecnik merged it. Now it looks fine, thank you!

[2019-09-30 22:27] JeissonL commented on #39783
@TravisCragg-MSFT So the number of instance that I need to setup inside App Gateway depends only of the traffic that my application layer getting?

[2019-09-30 22:28] MicahMcKittrick-MSFT commented on #39687
I think I figured this out, if you navigate to the Service Principal in the portal, there is an option for a certificate

1) In the portal, select Active Directory
2) Select App Registrations
![image](https://user-images.githubusercontent.com/32313503/65921315-c6b71e80-e396-11e9-86ec-70147cea8aa2.png)
3) select your AKS service principal
![image](https://user-images.githubusercontent.com/32313503/

[2019-09-30 22:31] MicahMcKittrick-MSFT commented on #39788
You should be able to see the info for the service principal after creating it as documented here

https://docs.microsoft.com/en-us/azure/aks/kubernetes-service-principal#manually-create-a-service-principal

Once you have info, you can pass it into your template to reuse that service principal. Or you could store it as a secret in keyvault and pull that info. Same idea though.

[2019-09-30 22:32] ShawnPOWER commented on #39817
@jeevansd Reason I ask is https://enterprise.arcgis.com/en/portal/latest/administer/windows/configure-azure-active-directory.htm shows "To configure Azure AD with ArcGIS Enterprise, you need a premium Azure AD subscription." (second paragraph) and it points to this document as a reference and I am confused. Also, what did you mean by "provisioning groups", I wasn't following that completely. Does

[2019-09-30 22:34] TravisCragg-MSFT commented on #39812
@daveRendon Thanks for your update! The doc already reflects the change.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-30 22:34] #39812 closed

[2019-09-30 22:37] MicahMcKittrick-MSFT commented on #39740
Yes you can enable it for SQL server. SQL is able to understand and properly write the cached data to persistent storage. This is built into the design of SQL. However if you are running a non SQL application, that ability may not be built into your application and in turn could result in data loss if the VM crashes.

So this statement is simply saying, you can enable read/write caching on data di

[2019-09-30 22:39] Alberto-Vega-MSFT commented on #39655
Hi @NovoJeep this issues are mostly for documentation feedback. Your question might be better suited for the developer forums like MSDN or StackOverflow where there is a community of developers that can help. Please share your link to the question here and I can help if you are not getting traction on the forum, with that said if you need urgent support please create a support ticket so you can ge

[2019-09-30 22:44] ecfan commented on #38509
@PgInsight: We'll have a doc update released in the morning. Thanks for your patience!

[2019-09-30 22:45] ecfan commented on #38509
@PramodValavala-MSFT: #please-close

[2019-09-30 22:45] #38509 closed

[2019-09-30 22:45] TravisCragg-MSFT commented on #39783
@JeissonL That is correct. The App Gateway takes the traffic, processes it, and distributes it to your backend pool.

[2019-09-30 22:51] cocowalla commented on #39687
@MicahMcKittrick-MSFT great news but where precisely do you install the certificate to, both on Windows and Linux?

[2019-09-30 22:55] jeevansd commented on #39817
@ShawnPOWER No the information shown in the ArcGIS documentation is not correct. To map the groups to the application in Azure AD is a Premium feature. So if you are assigning the users to the application then it is FREE. Note that you should not assigning more than 10 applications to a user when using Azure AD FREE.

[2019-09-30 23:01] MicahMcKittrick-MSFT commented on #39687
Not sure about linux. But in Windows I would assume the "my" in the cert store. I need to test to verify.

[2019-09-30 23:05] jeeszacharia opened #39822 "How to get userAgent details"
How can I get get browser details of a user through claim resolver?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fc94d79-52c2-d03a-9821-32c048ffa020
* Version Independent ID: e4303183-d476-6104-fcaf-00e3beb23787
* Content: [About claim resolvers in Azure Active Directory B2C custom policies](https://docs.microsoft.c

[2019-09-30 23:10] FrankHu-MSFT commented on #39574
Hello @LachlanJB regarding :

All updates in regards to this can be found on the tech community blog found here : https://techcommunity.microsoft.com/t5/Azure/ct-p/Azure
and here: https://azure.microsoft.com/en-us/updates/

Currently there are no updates in regards to this, so although refresh tokens have moved to the new authentication session management, access tokens currently are remaining to

[2019-09-30 23:16] MicahMcKittrick-MSFT commented on #39728
@cocowalla so turns out this is not possible as of yet. The entire registry is as low as you can go.

There is an item in uservoice requesting more control and the Product team has mentioned they are working on such permission levels. I suggest up voting the item and following it for further updates on when it will be available.

https://feedback.azure.com/forums/903958-azure-container-registry/su

[2019-09-30 23:16] #39728 closed

[2019-09-30 23:23] SaurabhSharma-MSFT commented on #39804
@barkesteijn Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-30 23:23] rohitnayakmsft commented on #39730
@ctoronavisaf The table lists all the IP addresses for Gateways in a region. Note that October 14th is when we shall start traffic migration so that your login can be processed by any of these Gateways. Hence the recommendation is to not hard code any Gateway IP address. if you do have to do this e.g.. on-premises firewall rules, then open routes to all the Gateway IP addresses in the table

[2019-09-30 23:24] Alberto-Vega-MSFT commented on #39671
Hi @emas00 did you have a chance to look into the previous question? Do you have any more feedback for the doc author?

[2019-09-30 23:27] xitia commented on #39752
Hi @codingbandit , the fix has been deployed today. Sorry for the inconvenience. Please feel free to give it a try and let us know if you hit any issue. Thanks!

[2019-09-30 23:29] MicahMcKittrick-MSFT commented on #39687
So seems this requires a few extra configuration steps some from

https://docs.docker.com/engine/reference/commandline/login/

and some from the service principal creation step

https://docs.microsoft.com/en-us/cli/azure/ad/sp?view=azure-cli-latest#az-ad-sp-create-for-rbac

All in all, if we decide to explain how to do this we likely would need another doc. I will go ahead and assign this to the c

[2019-09-30 23:35] Karishma-Tiwari-MSFT commented on #39820
Thanks for the feedback. I have created a PR with the update and changes will be live shortly.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/90202

[2019-09-30 23:36] WhitWaldo opened #39824 "Script workflow issue"
The process described in the Powershell script requires that I create a new resource group and then select an existing key vault within that group. That makes little sense - this script should instead either create the key vault within the new resource group or retrieve an existing resource group and the existing key vault within it, but the current approach doesn't make sense.

---
#### Document

[2019-09-30 23:40] Karishma-Tiwari-MSFT commented on #39819
@bchr02 I could not find related information in the doc you shared. Can you please share the doc which has the instructions you followed and needs to be updated? Thanks :)

[2019-09-30 23:42] KranthiPakala-MSFT commented on #39114
@sidk25 We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please feel free to reopen the issue. We will gladly continue the discussion.

[2019-09-30 23:42] #39114 closed

[2019-09-30 23:43] DaveClarkey commented on #38335
Thanks @shashishailaj, @billmath and the team how now posted documentation about this update. Your team really let us down on this one. Because you didn’t make any documentation available publicly or even internally to your own support team, we had to troubleshoot the 500+ pending device deletions in Azure AD Connect. We spent hundreds of dollars on external support and were unable to perform a di

[2019-09-30 23:45] KranthiPakala-MSFT commented on #39133
@tehtertot We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please feel free to reopen the issue. We will gladly continue the discussion.

[2019-09-30 23:45] #39133 closed

[2019-09-30 23:47] MicahMcKittrick-MSFT commented on #39818
@Heidilohr @ChristianMontoya can either of you confirm on this? I can update the doc as needed. I no longer have my WVD environment setup so cannot confirm. I can set up a new one though if needed.

[2019-09-30 23:48] bchr02 commented on #39819
The document does not provide instructions for scripting a mass installation using group policy. Normally, one would use a command such as the one I had notated however it is not working. Appears to be an issue with UAC. If I open an elevated command prompt with UAC then it works but this won't work when mass deploying. Perhaps it's an issue with how the RemoteDesktop_1.2.247.msi was packaged. Eve

[2019-09-30 23:54] mhopkins-msft commented on #19580
The v10 article is here:
https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-javascript-client-libraries-v10

#please-close

[2019-09-30 23:54] #19580 closed

[2019-09-30 23:56] levidehaan commented on #39594
Yeah I also added in the 3 aws specific attributes from the "connect multiple" tutorial below this one, however it doesn't work and the directions on the "connect multiple" refrences an outdated interface and so there is no way for me to know if this actually correct.

I am getting "Your request included an invalid SAML response. To logout, click here" error from AWS when i try to login using the

[2019-09-30 23:59] MicahMcKittrick-MSFT commented on #39824
We had similar feedback before

#22605

And you can use the same keyvault if you like. There is nothing stopping you and I have confirmed this works. That being said, I will assign this to the content authors to review and see if they want to update this sample to work in the manner you are describing.

[2019-10-01 00:00] palma21 commented on #39725
Adding @dkkapur for virtual nodes

[2019-10-01 00:06] Alberto-Vega-MSFT commented on #39810
@ahidaka Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-01 00:22] mikebudzynski commented on #36705
Inactive
#please-close

[2019-10-01 00:22] #36705 closed

[2019-10-01 00:22] FrankHu-MSFT commented on #39666
Adding in Image for reference :
![image](https://user-images.githubusercontent.com/6366013/65925699-b7d86800-e3a6-11e9-8167-d502f1f42d5e.png)

[2019-10-01 00:27] FrankHu-MSFT commented on #39666
It looks like there is a discrepancy between the docs and the portal experience. I'm currently engaging some more people on this issue. Thanks for letting us know about this @jheizman.

[2019-10-01 00:40] hibbertda commented on #39748
Thanks for the quick turn around. All of the links appear to be working as expected.

[2019-10-01 00:40] #39748 closed

[2019-10-01 00:41] FrankHu-MSFT commented on #39663
Hey @crixo we're still looking into this, and we'll get back to you to see if this is possible. thanks

[2019-10-01 00:42] pmontanaro commented on #28395
Still having this issue.
Yesterday, two of us attempted to deploy SendGrid free account via ARM, and it worked fine.

Come to today, and we are getting the "ResourcePurchaseValidationFailed" error, despite not having made changes to the template. It seems to be very inconsistent as it has worked a few times, but predominantly fails.

[2019-10-01 00:49] pmontanaro opened #39826 "SendGrid "ResourcePurchaseValidationFailed" error"
Hi,

I have been writing an ARM template to create a free tier SendGrid account. At first, the template worked fine, deploying with no issues.

After we made some small changes, we got this error:
[code]

We thought our changes had caused the error, but after discarding all changes back to when it had worked, we still got the same error and it doesn't seem to allow us to deploy what once was a wor

[2019-10-01 00:54] #39819 closed

[2019-10-01 00:56] bchr02 commented on #39819
I will just have the users install themselves under there own security context.

[2019-10-01 01:05] TravisCragg-MSFT commented on #39742
@Biju-Joseph Can you post the error that you are getting?

[2019-10-01 01:07] pmontanaro commented on #39826
**UPDATE**:

This error now occurs when deploying through the Portal.

[2019-10-01 02:08] zl00p3r opened #39829 "CREATE TYPE not mentioned as supported"
It's unclear if CREATE TYPE is supported CQL command. It's better to mention explicitly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6c47387-6172-e49b-5144-c843c91815a8
* Version Independent ID: 93cad71b-c859-3ae7-32c2-931ef46dd603
* Content: [Apache Cassandra features & commands supported by Azure Cosmos DB Cassan

[2019-10-01 02:11] zl00p3r opened #39830 "No details on TABLE options and why not to use those options"
Traditionally Apache Cassandra multiple table options mentioned here - http://cassandra.apache.org/doc/latest/cql/ddl.html#create-table.

However, only gc_grace_seconds has been mentioned in this page. Ideally it should be mentioned that a user needn't use these options when moving to Cosmos Cassandra since the platform is managed and it doesn't make sense to use here.

---
#### Document Details

[2019-10-01 02:12] zl00p3r commented on #39829
Also include custom TYPE under the TYPES section.

[2019-10-01 02:15] zl00p3r opened #39831 "No syntax provided for creating KEYSPACE with and without replication"
Need syntax details for KEYSPACE creation with and without replication.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6c47387-6172-e49b-5144-c843c91815a8
* Version Independent ID: 93cad71b-c859-3ae7-32c2-931ef46dd603
* Content: [Apache Cassandra features & commands supported by Azure Cosmos DB Cassandra API](https://

[2019-10-01 02:48] chrisj114 opened #39832 "Doesn't work"
I get {"error":{"code":"404","message": "Resource not found"}}

Key is my azure key, endpoint is my azure endpoint, everything else is as per the sample.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee674ddb-442c-b07e-70b6-8cd9321ecd2a
* Version Independent ID: 522d27d5-4e6b-c02d-4a44-a7b0b57c9f74
* Content: [Quickst

[2019-10-01 03:02] KrishnaG-MSFT commented on #39817
@jeevansd Thanks for the quick response. :+1:

[2019-10-01 03:07] ram-msft commented on #39443
@bsohi This repo is primarily for doc feedback. Your question might be better suited for the developer forums like MSDN or StackOverflow where there is a community of developers that can help.
If you need urgent support please create a support ticket so you can get one on one help from a support engineer.
We will now proceed to close this thread. If there are further questions regarding this matte

[2019-10-01 03:07] #39443 closed

[2019-10-01 03:11] ram-msft commented on #39454
@MrJakeReid This repo is primarily for doc feedback. Your question might be better suited for the developer forums like MSDN or StackOverflow where there is a community of developers that can help.
If you need urgent support please create a support ticket so you can get one on one help from a support engineer.
We will now proceed to close this thread. If there are further questions regarding this

[2019-10-01 03:11] #39454 closed

[2019-10-01 03:41] rbrundritt commented on #39664
Currently the id must be a string as documented on the feature and shape classes here: https://docs.microsoft.com/en-us/javascript/api/azure-maps-control/atlas.data.feature?view=azure-maps-typescript-latest#id

https://docs.microsoft.com/en-us/javascript/api/azure-maps-control/atlas.shape?view=azure-maps-typescript-latest#shape-atlas-data-geometry--string--any-

[2019-10-01 03:50] AndrewGailer commented on #38595
I have just tested again and now instead of an error, the following is returned when using managementGroups as the scope
[code]

[2019-10-01 04:00] wrooot opened #39833 "Repeating lines in changelog in 1.4.18.0"
Fixed a bug where display name for a Windows computer was written incorrectly.
Fix a bug where OS type for a Windows computer was written incorrectly.
...
Fix a bug where display name for a Windows computer was written incorrectly.
Fix a bug where OS type for a Windows computer was written incorrectly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-10-01 04:19] ram-msft commented on #39832
@chrisj114 Thanks for the question. We are investigating the issue and will update you shortly.

[2019-10-01 04:25] neeleshray-msft commented on #39833
@wrooot  Thank you for the feedback. We are assigning the thread to the author for updating the same.

[2019-10-01 04:30] chrisj114 commented on #39832
These are the keys and endpoints. There seems to be a lot of confusion and mixed terminology surrounding the key.
![Sketch](https://user-images.githubusercontent.com/56010900/65934288-085bce00-e458-11e9-8a59-ba070277ae59.png)

[2019-10-01 04:35] RohitMungi-MSFT commented on #39826
@pmontanaro Could you please let us know the Azure documentation link that you used for setting up the ARM template? This will help us redirect the issue to the correct team.

[2019-10-01 04:36] andyhammar commented on #39784
Super! Exactly the answer I was looking for. Thank you!

[2019-10-01 04:44] neeleshray-msft commented on #39808
@JonesMikael  Thank you for your query. We will check on the same and update accordingly.

[2019-10-01 04:46] neeleshray-msft commented on #39821
@Norrch2  Thank you for the query. We will check and update the thread for the same.

[2019-10-01 04:48] neeleshray-msft commented on #39822
@jeeszacharia  Thank you for the query. We will check and update on the same.

[2019-10-01 04:54] 1800Zeta commented on #39594
@levidehaan I created the following:

| Name  | Source attribute  | Namespace |
| --------------- | --------------- | --------------- |
| RoleSessionName | user.userprincipalname | https://aws.amazon.com/SAML/Attributes |
| Role 			  | user.assignedroles |  https://aws.amazon.com/SAML/Attributes |
| SessionDuration 			  | "provide a value between 900 seconds (15 minutes) to 43200 seconds (12 hours

[2019-10-01 04:56] souravmishra-msft commented on #39470
@cap273, I apologize for the delay in my response. Ideally the SSO experience from an user perspective is almost similar. But from how Azure AD Registered devices work and how the Azure AD Seamless SSo works differs a bit. SSO in case of Azure AD Registered devices completely works on the concept of [PRT](https://docs.microsoft.com/en-us/azure/active-directory/devices/concept-primary-refresh-token

[2019-10-01 05:18] warmchang commented on #18805
60 millicores, clarify/fixed by https://github.com/MicrosoftDocs/azure-docs/commit/5bac92997c4d7eeeed8517724bff5d7af1897aed#diff-6de4f7f0fd5600da4144e29d0ff8c53f

- **CPU** - dependent on cluster configuration and node type

| CPU cores on host | 1	| 2	| 4	| 8	| 16 | 32|64|
|---|---|---|---|---|---|---|---|
|Kubelet (millicores)|60|100|140|180|260|420|740|

- **Memory** - 20% of available memory,

[2019-10-01 05:19] jakaruna-MSFT commented on #39747
@delkos You can place files (new php files, others apps install...) in the file share and use the custom script extension to mount that file share to a specific path in the machine.

By this way, the extension will make sure that all new machines will have the file share mounted.
You can also make changes to the code in the file share and then trigger an update in the VMSS to replace the old nodes

[2019-10-01 05:25] FreekPaans commented on #39740
Hi, thanks for this clarification. Still, it’s unclear what an application
needs to do, e.g. are fsyncs or windows equivalant respected?

Ideally this page would describe the syscalls you need to do to flush the
cache to stable storage.

On Tue, 1 Oct 2019 at 00:37, Micah <notifications@github.com> wrote:

[2019-10-01 05:30] RazvanEmilR opened #39834 ""Got a SIGSEGV while executing native code." on iPhone 8 Plus device with iOS 13.1.1"
I apologize if the answer might be obvious but was this tested with iOS 13.1.1?

I followed the documentation and push notifications work perfectly on my iPhone 5S with iOS 12.4.2 but the same exact code give this error when testing on a iPhone 8 Plus with iOS 13.1.1:

(The crash occurs right after RegisteredForRemoteNotifications method is triggered)
==============================================

[2019-10-01 05:43] su-jie commented on #39771
Hi tikimo, the fields you mentioned are all for custom code feature which are only available in Visual Studio tools at this moment. Did you create the project in Visual Studio and then opened in VS Code? In that case it should work in VS Code automatically. You can leave those fields as blank.

[2019-10-01 05:45] su-jie commented on #39771
@tikimo the fields you mentioned are all for custom code feature which are only available in Visual Studio tools at this moment. Did you create the project in Visual Studio and then opened in VS Code? In that case it should work in VS Code automatically. You can leave those fields as blank.

[2019-10-01 05:48] iqsarv commented on #39778
Yes. that's correct

[2019-10-01 06:16] ram-msft commented on #39832
@chrisj114 I can see from your screenshot you have shared the Bing Search API. If you are following Translator API [tutorial ](https://docs.microsoft.com/en-us/azure/cognitive-services/translator/quickstart-translate?pivots=programming-language-csharp) please use the [translator Text ](https://ms.portal.azure.com/#create/Microsoft.CognitiveServicesTextTranslation) in the portal.
![image](https://u

[2019-10-01 06:24] tikimo commented on #39771
Problem is that I need those custom fields. I use VSCode. The autocompletion is a secondary issue. Primary issue is that there is no documentation for the supported fields (eg. JSON structure, field locations, names, usage)

[2019-10-01 06:24] CodeSizzler commented on #33497
Hey @Jakaruna,

Am still getting the same error and I have the app id and acr id on the same format as mention. Would really appreciate if you can add some lights over the same.

[2019-10-01 06:24] slavizh commented on #39780
Thanks! Than the wording on the announcement was not good as it leaves the impression the full services is available.

[2019-10-01 06:26] RohitMungi-MSFT commented on #39787
@tomygrenier Currently for the details in RankingResponse for web search the JSON objects for other answer types that the search results may include images and news answers or you can use the promote and responsefilter parameters to include/exclude related results.
For entity related search you can use the [entity search API](https://docs.microsoft.com/en-us/azure/cognitive-services/bing-entities-

[2019-10-01 06:27] BhupalPatil commented on #39263
Thanks @KingdomOfEnds , @Alberto-Vega-MSFT , we can close this issue

[2019-10-01 06:28] BhupalPatil commented on #39266
Thanks @Alberto-Vega-MSFT , @KingdomOfEnds , got the necessary details about pricing, we can close this issue

[2019-10-01 06:34] BhupalPatil commented on #39600
@Virginia001 thanks for the inputs.

Is it possible to build charts using TSI JS SDK without having access to AD.
YES

Can necessary keys (related to TSI environment, etc.) be sent directly?
No, you must use the environment FQDN and an access token for TSI to query the API

Is TSI JS SDK strongly coupled with AD app registration process and expects the keys. If not, what is the alternate option?
N

[2019-10-01 06:37] BhupalPatil commented on #39644
@ManojReddy-MSFT , Thanks for the pointers... we can close this issue.

[2019-10-01 06:38] axcarlin commented on #24366
I think the main problem still exist
A common use case would be a that rather a cosmos db data source the persistency of the index would be a json in the Azure Data Lake Storage, and this is not currently handled

[2019-10-01 06:39] RohitMungi-MSFT commented on #39834
@RazvanEmilR Could you please provide us the link to the documentation used before encountering the error? This will help us redirect the issue to the correct team.

[2019-10-01 06:45] RazvanEmilR commented on #39834
The link to the documentation used is:

https://docs.microsoft.com/en-us/azure/notification-hubs/xamarin-notification-hubs-ios-push-notification-apns-get-started

Sent from my iPhone

On Sep 30, 2019, at 11:39 PM, RohitMungi-MSFT <notifications@github.com> wrote:

﻿

@RazvanEmilR<https://nam02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FRazvanEmilR&data=02%7C01%7C%7Ccc8fa292a7

[2019-10-01 06:49] jakaruna-MSFT commented on #39767
@OliverRC I tried out with my azure devops account.
i gave only Code(Read) permission for my PAT.
I am able to created the task and run the task without issues.
Tat task also triggered automatically when i committed to the repo in azure devops.
![image](https://user-images.githubusercontent.com/43405697/65940131-587d6500-e445-11e9-84be-aa0c8ed4e9e2.png)

![image](https://user-images.githubusercont

[2019-10-01 06:54] #39784 closed

[2019-10-01 06:59] PeterRockstars opened #39835 "How to use this when unit tests use InMemoryDatabase?"
We configure our db context in our tests using `.UseInMemoryDatabase`. When I follow the instructions in this article and run the tests, it throws an error on `var conn = (System.Data.SqlClient.SqlConnection)Database.GetDbConnection();`:

[code]

How do I fix this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31b0d33

[2019-10-01 07:03] #39644 closed

[2019-10-01 07:08] delkos commented on #39747
@jakaruna-MSFT thanks a lot!

I will check your advices, but It sounds very well.

Regards,

[2019-10-01 07:10] OliverRC commented on #39767
I found that the issue was "higher up" where my user did not have access with the Azure DevOps project. The error message was, however, confusing as it said that the PAT token was invalid and mentioned the scopes required.

[2019-10-01 07:10] #39767 closed

[2019-10-01 07:17] SychevIgor commented on #39736
@KingdomOfEnds "External" , to be fair, it's not the best way to say- "Non-Microsoft". "External" sounds to "MicrosoftCentric/egoistic".
Of course it's just my personal opinion as an external developer

[2019-10-01 07:22] CHEEKATLAPRADEEP-MSFT commented on #39688
@falmada We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-10-01 07:22] #39688 closed

[2019-10-01 07:24] SteffanH opened #39837 "Max score is now 263"
The maximum for the Identity Score is currently *263*, not 223

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfcc3d22-db50-3c7a-a6b8-b9740a34920c
* Version Independent ID: d283a2fc-92fc-ab0e-5a7d-b92248213d2e
* Content: [What is identity secure score? - Azure Active Directory](https://docs.microsoft.com/en-us/azure/ac

[2019-10-01 07:26] SwathiDhanwada-MSFT commented on #39431
Assigning @bobbytreed for inputs

[2019-10-01 07:29] CHEEKATLAPRADEEP-MSFT commented on #38862
@tiandklerk We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-10-01 07:29] #38862 closed

[2019-10-01 07:29] SudeshSharma commented on #39773
![2019-10-01](https://user-images.githubusercontent.com/43905979/65942489-03445200-e44b-11e9-8699-12bf82a07e24.png)
Thanks @RohitMungi-MSFT
Thanks @MicahMcKittrick-MSFT  but i m reserving vm then above message(screenshot) shown on azure.

[2019-10-01 07:34] Dusted1969 opened #39838 "Persist the mount"
Quick observation/query about persisting a mount across boots.   I'm very new with this stuff so be gentle :)

If the mount point is located on the ephemeral disk (which it is on your Ubuntu builds) then after a couple of boots the mount point is no longer available and any commands in fstab then fail?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-10-01 07:34] SudeshSharma commented on #39773
![screenshot](https://user-images.githubusercontent.com/43905979/img.png)

Thanks @RohitMungi-MSFT  and @MicahMcKittrick-MSFT
But when i m reserving vm then above screenshot message shown on my screen.

[2019-10-01 07:48] Ba4bes commented on #39347
I have the same issue.
Things I have found:
- The problem is autosync through Azure DevOps GIT
- manual sync is working without issues
- I have set up source control through PowerShell with a PAT key with full access. Azure DevOps and Azure tenant are not connected through AzureAD
- Friend of mine says his sync is working. He has a manual set up sync, Azure DevOps and Azure Ad are the same tenant

[2019-10-01 07:54] aliliaqat opened #39839 "Bullshit content"
From title, I am expecting that there is a step by step process of creating a Web API with authentication from Azure Active Directory. But there is nothing such that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d91e987-b3aa-d12b-6400-5f477e827202
* Version Independent ID: e0efa72d-1e7c-b2d2-4ad9-ad51334e3da6
* Cont

[2019-10-01 08:23] ebrucucen commented on #38595
Similar issue we are facing: https://github.com/Azure/azure-sdk-for-go/issues/5843

[2019-10-01 08:29] SubhashVasarapu-MSFT commented on #39656
@ashemedai, Appreciate your patience. The team is working on fixing the document and it will take some time for the changes to get reflected.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-10-01 08:29] #39656 closed

[2019-10-01 08:30] KalyanChanumolu-MSFT commented on #39830
@zl00p3r Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-10-01 08:33] monostereo007 commented on #39595
@LaloCo
@LaloCo We are only removing Easy Tables experience from Azure portal. Your Node.js backend will continue to work even after that.

My question is:
What you mean with "experience " in your answer ? Pls could you be specify ? As we need to migrate easy tables from one account to another. And need to know exactly, what actually be removed from portal ? Thx.

[2019-10-01 08:44] ms-ishiyam opened #39840 "About outbound rule of NSG"
I found the bellow limitations about "Egress Traffic to Target VMs".
- We have to use "any" for protocol and destination port.
- We can not use AllowVnetOutBound instead of "Egress Traffic to Target VMs".

I hope you to add this limitation in this documents.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc46ceac-e45e-

[2019-10-01 08:55] florianeidner commented on #39481
Could you please add this to the official document? This is especially relevant if you are using ARM templates to set the unique key policies and I havent found any kind of official documentation regarding that.

[2019-10-01 08:57] SubhashVasarapu-MSFT commented on #39597
@ChrisSommers, It’s automatic, based on CPU usage. The service starts with 2 instances and scales up automatically as the load increases.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-10-01 08:57] #39597 closed

[2019-10-01 09:00] neeleshray-msft commented on #39837
@SteffanH Thank you for the feedback. We will confirm and update accordingly.

[2019-10-01 09:13] monostereo007 commented on #39595
Hi Elamani,
pls what you mean by "removing Easy Tables as experience " . Could you please specify ?
Thx.

[2019-10-01 09:14] canuzun commented on #10834
\n is a bit unclear. However, "SHA-256('https://<yournamespace>.servicebus.windows.net/'+'\n'+ 1438205742)" is not misleading, it is dead wrong.

Also a real example should be added, \n and HMACSHA256 and url encoding stuff may make much sense with an example and save a lot of time for us.

[2019-10-01 09:24] SubhashVasarapu-MSFT commented on #39502
@austvik, Appreciate your patience. The Azure CDN blogs are in a sequential order which starts from quick start tutorials to conceptual thoughts. So, there are some prerequisites here in this document that has to be noticed before delving into this doc.
So here are the prerequisites you have to go through,
**Step 1: Create an Azure CDN profile and endpoint.**
![image](https://user-images.githubuse

[2019-10-01 09:24] #39502 closed

[2019-10-01 09:27] mikegoatly opened #39841 ""UseMonitor" description needs clarification"
Currently the description for UseMonitor includes:
"If not set explicitly, the default is true for schedules that have a recurrence interval greater than 1 minute. For schedules that trigger more than once per minute, the default is false."

This makes it unclear what the default will be if the interval is *exactly* 1 minute.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-10-01 09:37] souravmishra-msft commented on #39839
@aliliaqat, The article you are referring, provides a broader view about the libraries and how to go about registering an application **(Web API/Web App/Native/Console Apps)** in Azure AD.

Instructions on "**Creating a Web API**" is out of the scope of this article. Regarding the application registration scenarios, you can find the details here: [https://github.com/Azure-Samples/active-directory-

[2019-10-01 09:39] axelgMS opened #39842 "Clarify the "Soft Delete available for Classic disks""
in reference to Soft Delete available for Classic disks?? #39418 https://github.com/MicrosoftDocs/azure-docs/issues/39418

there's a difference between Disks and Blobs.
Soft Delete is a storage feature, so my question is "how does this apply to a Compute feature like a Disk" ?
in Classic world, the Disk objet is a logical object above the underlying VHD blob.
So you can soft-delete a BLOB, but you

[2019-10-01 09:41] KalyanChanumolu-MSFT commented on #39829
@zl00p3r Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2019-10-01 09:43] KalyanChanumolu-MSFT commented on #39831
@zl00p3r Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-10-01 09:43] neeleshray-msft commented on #39837
@MicrosoftGuyJFlo Can this be verified and if changed, could the screenshot and text be edited [here ](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/identity-secure-score?branch=pr-en-us-52761#what-is-an-identity-secure-score)?

[2019-10-01 09:47] lukos opened #39843 "Permissions are not clear"
You have an example about running an rbac script but it doesn't really explain what is happening and I can't deploy a volume to AKS, which I suspect is a permission issue. I have made the deployment user an AKS cluster admin and have run the script mentioned above but the storage is not created and the deployment job times out. It works fine if I do not include the volume.

Does the rbac script ab

[2019-10-01 09:47] shreyasraghunath opened #39844 "Issue when deploying Remote Monitoring solution accelerator locally using VS Code"
Hello,
I followed the steps given to deploy the Remote Monitoring solution accelerator locally using Visual Studio Code and I'm running into some issues.
I saw the open thread (https://github.com/MicrosoftDocs/azure-docs/issues/32322)which highlights some of the issues and followed the steps until I could no longer resolve the issue.
Two issues seem to be causing the issue in my case.

1. connecti

[2019-10-01 09:59] shreyasraghunath commented on #32322
@sushilraje @v-krghan Any updates here?

[2019-10-01 10:05] NovoJeep commented on #39655
Hi Alberto,

                Thanks for that reply.

                I already asked the Azure Support but the contact only said something like “No Way” which is not a solution for that problem.

                Today I opened a Question at StackExchange (StackOverflow redirected me since it’s not a coding issue)

Best,

Julien

From: Alberto Vega <notifications@github.com>
Sent: mardi 1 octobre 2

[2019-10-01 10:09] ondrejhlavacek commented on #39788
@MicahMcKittrick-MSFT is it worth storing the SP credentials in a keyvault? I'm trying to avoid this step. Once they are stored in AKS cluster I don't need to access them though. If I needed to use the SP somewhere else, I'd create new credentials, so I'm treating all credentials in a "create & forget" manner.

What I missed is that you can use an empty secret in the template and AKS will keep the

[2019-10-01 10:09] #39788 closed

[2019-10-01 10:10] anfelbeghoura opened #39845 "Build and Push IoT Edge solution command"
I'm working on a CModule to insure the communication : downstream device --&gt;edge & edge--&gt;downstream devicedocker. when I got to this step: """right-click the deployment.template.json file and select Build and Push IoT Edge solution""" I noticed some commands in the Azire IoT Edge terminal.

 build  --rm -f "d:\anfel_project\anfel_raspberry_project\Azure_SDK_Gateway\IoTEdgeGateway\EdgeSoluti

[2019-10-01 10:12] SadiqhAhmed-MSFT commented on #39709
@JiayueHu and @v-miclar Any help you can offer here or redirect to right contact for assistance.

[2019-10-01 10:18] SadiqhAhmed-MSFT commented on #39572
@dcbrown16, @MarkJTBell and @szymonslipek  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-01 10:18] #39572 closed

[2019-10-01 10:23] stoff75 opened #39847 "Using PTA in multi-tenant - single on-prem AD scenario"
Imagine this weird scenario - you have one on-prem AD domain. Using OU filtering, Azure AD Connect service #1 syncs user in OU-A to TenantA and Azure AD Connect service #2 syncs users in OU-B to TenantB.
If I install PTA on Server1 and tie it to TenantA, can I install another PTA agent on Server2 and tie it to TenantB?

This would be useful in migration scenarios where you need to move from one te

[2019-10-01 10:39] austvik commented on #39502
https://docs.microsoft.com/en-us/azure/cdn/cdn-map-content-to-custom-domain
sais:
"In your browser, navigate to the address of the file by using the custom
domain. For example, if your custom domain is www.contoso.com, the URL to
the cached file should be similar to the following URL:
http://www.contoso.com/my-public-container/my-file.jpg. "

https://docs.microsoft.com/en-us/azure/cdn/cdn-create-n

[2019-10-01 10:52] kakarotto67 commented on #39664
I see, thanks.

[2019-10-01 11:01] RohitMungi-MSFT commented on #39844
@shreyasraghunath Could you please confirm if you are using the same steps as mentioned in this [link](https://docs.microsoft.com/en-us/azure/iot-accelerators/iot-accelerators-remote-monitoring-deploy-local-vscode)? This will help us direct the issue to the right team for help.

[2019-10-01 11:10] Akhilb25 opened #39848 "SAML Response"
Getting the below error in SAML response

Saml2 error_detail {"error":"Could not validate timestamp: not yet valid. Check system clock."}
Saml2 error ["invalid_response"]

[2019-10-01 11:17] ChrisSommers commented on #39597
Thank you

[2019-10-01 11:18] PeterRockstars commented on #39564
I can confirm that this does not seem to work:
`CREATE USER [your_app_service_name] FROM EXTERNAL PROVIDER;`
and this definitely does:
`CREATE USER [your_app_service_name] FOR EXTERNAL PROVIDER;`

[2019-10-01 11:42] shreyasraghunath commented on #39844
@RohitMungi-MSFT Yes, I followed the same steps.

[2019-10-01 12:01] yckwan opened #39851 "Bandwidth"
Hi Microsoft, just want to confirm is the bandwidth that you recommended above is only applicable to one user right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d22ca4d-2c4b-2ed3-8f48-d869552ca85a
* Version Independent ID: 77b77ab9-9ca2-a1fa-799d-63352034810d
* Content: [Bandwidth recommendations for remote session

[2019-10-01 12:27] hctrivedi opened #39852 "Providing specific explanation on how to consume web service to generate predictions would be good closure to this article"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bee109c-3482-efb4-f04a-a81d549ad743
* Version Independent ID: 4f8a2993-40ed-e518-e44c-914807355db2
* Content: [Create your first automated machine learning experiment - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine-learning/s

[2019-10-01 12:35] jakaruna-MSFT commented on #39721
@prvempat I will reproduce this issue in my subscription and then i will update the doc accordingly

[2019-10-01 12:36] jakaruna-MSFT commented on #39330
ok.  How are you handling the authentication?
Also try to pull the image to your laptop once to make sure we dont have any issues with firewall.

[2019-10-01 12:37] jakaruna-MSFT commented on #39014
@athinanthny Can you please update the requested details to the Document?

[2019-10-01 12:40] jakaruna-MSFT commented on #39838
@Dusted1969 The ephemeral disks has to be used only for temporary storage and its expected to be deleted on reboots. Good example is swap.
Please create the mount points in the OS disks or other data disks.

[2019-10-01 12:42] mkstephenson opened #39854 "When does the cleanup occur?"
Would it be possible to also document when the cleanup based on these retention rules occurs? Or maybe how to access the logs of what happened when running the task?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8aa2c495-4dd0-1040-cb44-2d569514de2f
* Version Independent ID: 7adea665-ebd8-8e85-7c7d-6fd070378073
* Conte

[2019-10-01 12:46] nonstoptimm opened #39855 "Use of SSML tags within text strings"
Hi guys,

I created a Jupyter notebook based on the following documentation:
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/quickstart-python-text-to-speech

The purpose of this notebook is to do a batch transcription of multiple strings in order to create an audio file for each of them. Is it somehow possible to use SSML tags within text strings? Something like that as i

[2019-10-01 12:53] DOliana opened #39856 "How to subscribe for a download"
The sentence "We recommend that you subscribe to Azure IP Ranges and Service Tags for any changes or updates." does not make very much sense, since the link points to a download for a json-document. How can that be subscribed?
Also I would expect a way to subscribe for when the integration has occurred and to the required steps to leverage that integration (when available). For cosmosDB there is a

[2019-10-01 13:05] shikham2160 commented on #39594
@1800Zeta
I am new to Azure AD, I am not able to add the above attributes that you have mentioned. I followed a video but that guy was using the older version of Azure Portal. Please help me on how to add these attributes.

[2019-10-01 13:09] SumanthMarigowda-MSFT commented on #39842
https://github.com/MicrosoftDocs/azure-docs/issues/39418
@axelgMS

[2019-10-01 13:20] xtianus79 commented on #39397
@IEvangelist this is a major deal here.  Where would be the best place to illustrate a concern about the feature that our team was planning on using may now not be possible?  The need is this, if we have a luis container that has luis cognitive services you're saying using a spellcheck key for the request api is not possible?

[2019-10-01 13:32] IEvangelist commented on #39397
I'm working with the team to determine what might have happened, I'm not certain what to say right now. I'll report back as soon as I know more.

[2019-10-01 13:34] SubhashVasarapu-MSFT commented on #39856
@DOliana, We are looking into this query and will update you as soon as possible.

[2019-10-01 13:35] #39800 closed

[2019-10-01 13:36] SubhashVasarapu-MSFT commented on #39840
@hisasima, Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-10-01 13:36] mirsaeedi opened #39857 "Idempotent Jobs"
In the "Multiple Instances" section, document states that "functions don't have to be idempotent."

I'm afraid that this is not a true argument because if a job fails, it will be processed after the lease time by another job. So, the job needs to take into account that fact that a message will be processed more than once if a failure happens.

---
#### Document Details

⚠ *Do not edit this section

[2019-10-01 13:38] anderson-rancan opened #39858 "Error code 'DeploymentFailedCleanUp' is not listed"
I just got a deployment failure message, it states that this page should contain more information, but I could not find it.
The RAW error from Azure is the following:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a114cf0c-a1a0-f73d-f8d2-0f16d62b1e86
* Version Independent ID: 203548b7-824f-eb7a-ca5b-e4cfec2c6d5

[2019-10-01 13:39] GiftA-MSFT commented on #39797
@kristapratico this has been resolved so closing thread. Thanks.

[2019-10-01 13:39] #39797 closed

[2019-10-01 13:42] mira-mayhem commented on #39586
According to this article https://buildazure.com/azure-functions-extend-execution-timeout-past-5-minutes/ an Azure Function defaults to a timeout of 5 minutes but is configurable to a maximum of 10 minutes. Which answers the question.

[2019-10-01 13:47] VikasPullagura-MSFT commented on #39851
@yckwan Thanks for the question. We are looking into this and will get back shortly.

[2019-10-01 13:53] karthiksubramanians opened #39859 "Unable to install U-SQL Extensions"
I was trying to install the U-SQL Extensions for Python using the recommended steps:
1. Going to sample scripts under Datalake analytics
2. Choosing to install the 2.5GB extensions

I am receiving an error message stating:
[code]

How should I debug the reasons for this error to install U-SQL extensions. Without installing in the portal, I am unable to install it locally in Visual Studio.

Alterna

[2019-10-01 13:54] GiftA-MSFT commented on #39800
@kristapratico this issue has been resolved, you should see an update soon. Thanks.

[2019-10-01 13:57] juanand opened #39860 "URLs"
The article mentions "https://aadg.windows.net.nsatc.net" as needed in Intranet settings.
However, https://docs.microsoft.com/en-us/azure/active-directory/devices/hybrid-azuread-join-managed-domains#configure-the-local-intranet-settings-for-device-registration mentions https://device.login.microsoftonline.com.

Are all three URLs (common https://autologon.microsoftazuread-sso.com in both articles)

[2019-10-01 14:05] the-grayest opened #39861 "Missing encryption method for certificates"
Importing of certificate encrypted with AES256-SHA256 into KeyVault throws error. Hoever 3DES-SHA1 encypted certificates can be imported without any issues. I believe such details should be specifed here. I'm running Windows 10.0.18362.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 962e9ebe-e97f-7a56-03a4-33662454bdfe

[2019-10-01 14:11] nonstoptimm opened #39862 "Use of SSML tags within text strings"
Hi guys,

I created a Jupyter notebook based on the following documentation:
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/quickstart-python-text-to-speech

The purpose of this notebook is to do a batch transcription of multiple strings in order to create an audio file for each of them. Is it somehow possible to use SSML tags within text strings? Something like that as i

[2019-10-01 14:12] SadiqhAhmed-MSFT commented on #39733
@sochan1 Azure to Azure replication is continuous, which is irrespective of what type of disk it has underneath. Since replication is continuous, the RPO is only subjective to the distance between the source/target regions, and the network traversing them. In most cases one should see a sub 5 min RPO.

[2019-10-01 14:15] SadiqhAhmed-MSFT commented on #39754
@dcbrown16 Alert fires when the job runs. You can set the time frame and frequency accordingly. You need to change the Time Period from 1 day to 1hour so that the alert checks for the job run every hour instead of every day.

[2019-10-01 14:16] SadiqhAhmed-MSFT commented on #39524
@brucedkyle We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-01 14:16] #39524 closed

[2019-10-01 14:24] levidehaan commented on #39594
Thanksz @1800Zeta

@shikham2160  you need to make sure that SessionDuration is set to a number for example: 43200 it will show up as "43200"

To add the claims you click the pencil icon to edit the attributes.
click on add new claim
then add in the data which corresponds to the column titles.

[2019-10-01 14:31] kanshiG commented on #39829
Yes this will be updated.

[2019-10-01 14:39] simon-michaud opened #39863 "Certificates during failover"
After a failover is complete, are certificates also available or they are unusble during that period ?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 123c4199-bc05-5ed6-743a-4bba1d8b1c0a
* Version Independent ID: addb45ce-93cd-2bf7-c377-f85cb5e87399
* Content: [What to do in the event of an Azure service disrup

[2019-10-01 14:41] #39859 closed

[2019-10-01 14:42] soccerjoshj07 opened #39864 "Mention that you need to add your client IP on the database server to be able to use the query editor"
By default, there are no rules in place on the database server to allow your client IP to use the query editor. It is not that hard to add, but may be something that someone misses if they are new to Azure.

Also applicable to this page: https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-tutorial-deploy-sql-extensions-bacpac

---
#### Document Details

⚠ *Do not edit th

[2019-10-01 14:52] arindam-laha opened #39865 "Misleading information about refresh token"
The section Suitable scenarios for the OAuth2 implicit grant (https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-oauth2-implicit-grant-flow#suitable-scenarios-for-the-oauth2-implicit-grant) states "The implicit grant flow does not issue refresh tokens, mostly for security reasons"; which is what I knew, however, in the first paragraph What is the OAuth2 implicit grant? it mentions

[2019-10-01 15:00] kanshiG commented on #39830
Only gc_grace_seconds are mentioned - as rest of the items are ignored. Updated documents will reflect it.

[2019-10-01 15:02] Hopechenhpe opened #39867 "Gallery Apps config in user settings"
For one of the CIS assessment the audit asks to add Gallery Apps, but there is no Gallery apps option in the user settings. Can you tell me if the Gallery Apps has been moved to another settings panel or is it no longer an option. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 849ddd08-b270-94d6-5551-ffa8746363

[2019-10-01 15:11] amason304 opened #39868 "Support multiple applications and Issuers Section"
1) Audience seems like it ought to be indicating the receiver of a given token etc and not the caller but this section has that idea reversed.

2) In the second paragraph on Issuers it refers to Audiences when it should be Issuers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6515b078-b617-baf5-0e10-0001a6af887f
* Ve

[2019-10-01 15:25] mmacy commented on #39868
@amason304 Good catch on #2, thanks! Will fix. On #1, `<audiences>`, I'll reword such that it's not "requests," but more accurately, "accept tokens with these audience claims."

#reassign:mmacy

[2019-10-01 15:35] mackrorysd opened #39869 "Please clarify what constitutes an "instance" of a file."
&gt; You can't use both Blob APIs and Data Lake Storage APIs to write to the same instance of a file.

Can you clarify what constitutes "instance" of a file here? Later comments confirm you can write a file with either API, and later overwrite that file with either API. Great. Can I write a file with one API, complete that operation, and then at a later date append to that file with the other API?

[2019-10-01 15:39] #39833 closed

[2019-10-01 15:44] cap273 commented on #39470
Thank you souravmishra-msft for your explanation! It has helped a lot. I have simplified my question in the following MSDN forums post: https://social.msdn.microsoft.com/Forums/en-US/1c1683a4-1c59-46e8-b443-d5d50bbfe158/how-to-always-require-mfa-when-accessing-microsoft-apps-through-azure-ad-registered-devices?forum=WindowsAzureAD

[2019-10-01 15:48] hawkbox opened #39870 "Something has changed and the commands don't work."
The instructions worked fine last month but when I attempt to update the rollover keys this month I get generic powershell errors.
PS C:\Program Files\Microsoft Azure Active Directory Connect&gt; Get-AzureADSSOStatus | ConvertFrom-Json
Get-AzureADSSOStatus : One or more errors occurred.
At line:1 char:1
+ Get-AzureADSSOStatus | ConvertFrom-Json
+ ~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          :

[2019-10-01 15:53] O365Team opened #39871 "Add-RdsAccount : One or more errors occurred - AggregateException"
PS C:\WINDOWS\system32> Add-RdsAccount -DeploymentUrl "https://rdbroker.wvd.microsoft.com" -Credential $creds -ServicePrincipal -AadTenantId $aadContext.TenantId.Guid -Verbose
Add-RdsAccount : One or more errors occurred.
At line:1 char:1
+ Add-RdsAccount -DeploymentUrl "https://rdbroker.wvd.microsoft.com" -C ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + Categor

[2019-10-01 15:53] ddobric opened #39872 "How to configure manually the URL of OPCUA server?"
Documentation above indicates that OPC UA server url can be manualle set:

"..As an alternative, factory operators can also manually register OPC UA devices using a known discovery URL. For example, to connect to all the OPC UA devices after the IoT Edge gateway with an OPC Twin module has been installed on the factory floor,.."

Looking for documentation, which describes how this can be done.

--

[2019-10-01 15:55] ThomasWeiss commented on #39481
@florianeidner We're actually in the process of updating [our ARM templates samples](https://docs.microsoft.com/en-us/azure/cosmos-db/resource-manager-samples) to include unique key policies, so this should land in the near future. Thanks!

[2019-10-01 15:58] PatAltimore commented on #39778
Hi @iqsarv,

The error can be caused by a dependency missing on Windows.

See https://github.com/Microsoft/vscode-azure-blockchain-ethereum/wiki/FAQ#Q-i-am-using-the-extension-to-create-a-new-solidity-project-and-i-am-getting-errors-when-creating-the-project

You need to install the C++ compiler using `npm install --global windows-build-tools`.

Let us know if that doesn't work.

Thanks,
Pat

[2019-10-01 16:06] mitchellalm commented on #39330
I can pull the image from my ACR, it works fine.
Let me put the question this way: Does MS have the instructions explicitly to configure Azure Container Agent plugin for private ACR?
The current instructions is very generic and doesn't show for ACR explicitly. That's why, I believe mine doesn't work. If there are steps for firewall, it should be in the instructions.
Having a good feature/tool is g

[2019-10-01 16:10] Virginia001 commented on #39263
#sign-off

[2019-10-01 16:11] Virginia001 commented on #39266
#sign-off

[2019-10-01 16:13] GiftA-MSFT commented on #39852
@hctrivedi thank you for your feedback. We will look into this issue and get back to you shortly. Thanks.

[2019-10-01 16:13] tvprasad opened #39873 "bash: sudo: command not found"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e86655f9-6d0b-106b-7b88-edbd20ee4544
* Version Independent ID: cf60b900-6f8a-4b28-a86b-39daadd876f5
* Content: [Update the Azure Linux Agent from GitHub](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/update-linux-agent#feedback)
*

[2019-10-01 16:15] kristapratico opened #39874 "Python computer vision client library has wrong command for pip install"
The quickstart was updated to ```pip install --upgrade azure-cognitiveservices-computervision``` which is still incorrect. This should be:
```pip install --upgrade azure-cognitiveservices-vision-computervision```

Thank you! :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13097bc4-3356-1c3f-7068-0c706b5658db
* Versio

[2019-10-01 16:26] ChristianMontoya commented on #39818
@tmguinn : To confirm, are you testing the login with the service principal?

[2019-10-01 16:26] jeevansd commented on #39790
@chetansriv and @v-nagta, @v-viinde can you please update the email alias here?

[2019-10-01 16:30] bwren commented on #39617
@luiscantero Thanks for this.  I tested it out and agree with your fix.  I'll get the article updated.

[2019-10-01 16:38] himanshusinha-msft commented on #39705
Since the blob trigger and copy tool feature are part of the ADF . Please share the feedback @
https://feedback.azure.com/forums/270578-data-factory/suggestions/19806988--azure-data-factory.

All of the feedback you share in these forums will be monitored and reviewed by the Microsoft engineering teams responsible for building Azure.

At this time we will go ahead and close this issue . At any poi

[2019-10-01 16:38] #39705 closed

[2019-10-01 16:39] himanshusinha-msft commented on #39683
We are closing this issue as we have not heard back from you , you can always re-open the issue if you think that appropriate .

[2019-10-01 16:39] #39683 closed

[2019-10-01 16:40] jgwinner opened #39875 "Where do you get it"
I think a link to purchase the hardware should be SOMEWHERE here.

I had to do a google search. (Bing sent me off in the weeds).

Thanks for listening,

        == John ==

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b03f0517-f670-b1ae-5661-3a0b087d9a3d
* Version Independent ID: 9019e3dc-7d69-07e0-ab24-49bc8d3d1963
*

[2019-10-01 16:44] mike-urnun-msft commented on #39848
Hi @Akhilb25 - Thank you for your feedback! In order for us to relay your question and feedback to the right team, could you provide us with the URL of the documentation that you were following?

[2019-10-01 16:45] KranthiPakala-MSFT commented on #39859
Hi @karthiksubramanians, I see this issue was closed by you. Just wanted to make sure if you have found a resolution and closed intentionally or closed by mistake. If you have found a resolution, could you please share the details here, so that it will be helpful for others who read this thread.

Thank you!

[2019-10-01 16:52] mike-urnun-msft commented on #39855
Hi @nonstoptimm - Thank you for your feedback! We will review and update as appropriate.

[2019-10-01 16:54] mike-urnun-msft commented on #39871
Hi @O365Team - Thank you for your feedback! In order for us to relay your question & feedback to the right team, could you provide us with the URL of the documentation that you were following?

[2019-10-01 16:59] BharathNimmala-MSFT commented on #39757
@pisees Hope the above information helps. We will go ahead and close this issue for now, however if you have any further questions please feel free to tag me in your reply and will be more than happy to continue the conversation. Thank you.

[2019-10-01 16:59] #39757 closed

[2019-10-01 17:01] PatrickFarley commented on #39874
Ah, sorry about that. Fixed

[2019-10-01 17:02] robinmanuelthiel opened #39878 "Kubenet also support Calico"
AFAIK Calico is also supported by Kubenet and not only by Azure CNI. If that is still the case, the table in the documentation here is misleading!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13ac2648-7dce-c83c-0b14-79d5b091b1af
* Version Independent ID: 6aa0b306-6926-87cc-9b59-496ac91dfba6
* Content: [Secure pods wi

[2019-10-01 17:02] BryanTrach-MSFT commented on #39835
@PeterRockstars Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-01 17:03] mustafamg opened #39879 "Is there a way to protect registration flow, so it only open if the request has bearer token"
The document describes how to call flow as follows:

client_id=2d4d11a2-f814-46a7-890a-274a72a7309e      // Your registered Application ID
&redirect_uri=https%3A%2F%2Flocalhost%3A44321%2F    // Your registered Reply URL, url encoded
&response_mode=form_post                            // 'query', 'form_post' or 'fragment'
&response_type=id_token
&scope=openid
&nonce=dummy
&state=12345

[2019-10-01 17:03] robinmanuelthiel opened #39880 "Kubenet also supports Calico"
AFAIK Calico is also supported by Kubenet and not only by Azure CNI. If that is still the case, the [table in the documentation](https://docs.microsoft.com/en-US/azure/aks/use-network-policies#differences-between-azure-and-calico-policies-and-their-capabilities) is misleading!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-10-01 17:05] BryanTrach-MSFT commented on #39857
@mirsaeedi Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-01 17:05] MicahMcKittrick-MSFT commented on #39773
Ah yes I see. So appears you cannot yet do reserved instances in those regions the error message states. We also call it out in the FAQ page here:

https://azure.microsoft.com/en-us/pricing/reserved-vm-instances/

![image](https://user-images.githubusercontent.com/32313503/65983700-ff0c3a80-e432-11e9-9052-b99c3ab6432d.png)

So if you want to purchase a reserved instance you will need to deploy the

[2019-10-01 17:10] MicahMcKittrick-MSFT commented on #39878
Duplicate of #39878

[2019-10-01 17:10] #39878 closed

[2019-10-01 17:10] MicahMcKittrick-MSFT commented on #39880
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-01 17:11] MicahMcKittrick-MSFT commented on #39873
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-01 17:11] MicahMcKittrick-MSFT commented on #39854
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-01 17:12] MicahMcKittrick-MSFT commented on #39843
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-01 17:13] ggailey777 commented on #39857
@craigshoemaker this seems to conflict with our Functions guidance. How should we addresses it?

[2019-10-01 17:21] PramodValavala-MSFT commented on #39841
@mikegoatly Looking at the [code](https://github.com/Azure/azure-webjobs-sdk-extensions/blob/9feb4f2ad6f70e443a036a135b58121c70dbdaf3/src/WebJobs.Extensions/Extensions/Timers/Scheduling/TimerSchedule.cs#L59), for _exactly_ 1 minute, its `true`.

We will work up a PR to update the doc accordingly.

[2019-10-01 17:30] GiftA-MSFT commented on #39852
@tsikiksr can you please look into this feedback for document enhancement. It seems the consume webservice link attached doesn't provide clear instructions on how to consume webservice for automated ml experiments. Thanks.

[2019-10-01 17:30] #39868 closed

[2019-10-01 17:30] MarileeTurscak-MSFT commented on #39865
@arindam-laha thanks for the feedback! If you were able to get this resolved we will close this out.

[2019-10-01 17:31] #39865 closed

[2019-10-01 17:32] MicahMcKittrick-MSFT commented on #39758
@gutzeit1106 The expected behavior is that the maintenance will happen only after the Notbefore time. Since you are polling every 5 minutes and you noticed the event at 15:10:02 that there was a freeze scheduled for 15:15:21, I am guessing that your poll at 15:05:XX missed the schedule event by a few seconds. What was the timestamp of the previous poll where you did not see the scheduled event?

A

[2019-10-01 17:33] karthiksubramanians commented on #39859
Hi,

I closed this issue here as I felt it was more appropriate in the azure/usql github page rather than azure/docs.

Here is link to that issue.
https://github.com/Azure/usql/issues/157#issue-500945826

[2019-10-01 17:34] karthiksubramanians commented on #34717
Are there any updates to this? @KranthiPakala-MSFT @linda33wj

[2019-10-01 17:35] MicahMcKittrick-MSFT commented on #39740
The doc is focused around SQL so I would assume we don't want to add extra information around this. However I will assign to the content authors to review.

[2019-10-01 17:36] tomygrenier commented on #39787
I realised my question wasn't clear about what I'm looking for. Sorry for the inconvenience.
When we search a person ou a place in Bing, there is a lot of details (state, population and mayor for cities; Born, Height and Net worth for person, ...  ) about the entity appearing in the sidebar. I tried both Web Search API and Entity Search API and they only return name, urls, description and the type

[2019-10-01 17:36] FrankHu-MSFT commented on #39879
@mustafamg Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-01 17:36] MarileeTurscak-MSFT commented on #39861
@the-grayest
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-01 17:37] jadhosn opened #39882 "model_explainability no longer in AutoMLConfig"
model_explainability cannot be found in AutoMLConfig. Please advise.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: deee583c-0e11-b1da-bfe0-defb5a6f4b29
* Version Independent ID: b58f7491-6e71-29ab-f6a4-609a7d75cfed
* Content: [azureml.train.automl.AutoMLConfig class - Azure Machine Learning Python](https://docs.micros

[2019-10-01 17:37] FrankHu-MSFT commented on #39863
@simon-michaud Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-01 17:38] KranthiPakala-MSFT commented on #39859
@karthiksubramanians Thanks for confirming and sharing the additional details.

[2019-10-01 17:39] aahill commented on #35521
I'm going to close this, as this issue has been added to the engineering backlog. Thank you. #please-close

[2019-10-01 17:39] #35521 closed

[2019-10-01 17:40] GiftA-MSFT commented on #39874
@kristapratico thank you for the followup. Closing thread since document has been updated to reflect correct command. Thanks.

[2019-10-01 17:40] #39874 closed

[2019-10-01 17:41] KranthiPakala-MSFT commented on #34717
Hi @linda33wj, Could you please have a look at the ask from user and provide some insights? - Thanks!

[2019-10-01 17:42] FreekPaans commented on #39740
How do you figure that? The doc is about VM disks in general, I think SQL
is only mentioned as an example.

It’s important for other databases as well to know which cache settings you
can use when running them.

On Tue, 1 Oct 2019 at 19:35, Micah <notifications@github.com> wrote:

[2019-10-01 17:42] Alberto-Vega-MSFT commented on #39739
@SychevIgor Can you confirm your feedback is being addressed by this PR?

[2019-10-01 17:43] FrankHu-MSFT commented on #39663
Hey @crixo
It is in fact possible to do this.
You can utilize RegEx at the claims schema level, or use Azure Functions through a REST API call as an extra orchestration step.
All these require the use of custom policies.

Using user flows seem to be the only way using JavaScript (you need to use B2CLogin domain)

Are there anymore questions in regards to this? Unfortunately there are no official d

[2019-10-01 17:43] MicahMcKittrick-MSFT commented on #39740
![image](https://user-images.githubusercontent.com/32313503/65986243-519c2580-e438-11e9-9de5-ccac1b965b90.png)

[2019-10-01 17:44] MicahMcKittrick-MSFT commented on #39740
But I wouldn't disagree. Likely should include more info or avoid just using SQL as an example throughout the whole thing

[2019-10-01 17:44] sochan1 commented on #39733
By default, Site Recovery takes an app-consistent snapshot every 4 hours. You can configure any value between 1 and 12 hours. An app-consistent snapshot is a point-in-time snapshot of the application data inside the VM -  which means the snapshot ( assuming for replication) can only be taken  every 1 hour ( lowest possible) , for e.g. if the snapshot is taken at 1AM the next snapshot will be taken

[2019-10-01 17:47] Alberto-Vega-MSFT commented on #39735
Hi @SychevIgor can you please confirm your feedback has been addressed.

[2019-10-01 17:47] bruce-solar commented on #39662
thanks for the reply. it does help me to understand why you don't mention it.

my particular use case was to read the doc and follow along. i didn't download the github repo nor look at the contents.

maybe a mention that the init.sh for each language/image will vary but there are examples in the repo?

[2019-10-01 17:49] FrankHu-MSFT commented on #39574
@LachlanJB Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please reopen this git issue if you have anymore concerns. Thanks

[2019-10-01 17:49] shashishailaj commented on #39574
@LachlanJB Hope the above clarification helped you . Should you need any further help , please let us know. We will be closing this issue now.

[2019-10-01 17:52] Nickomang commented on #10299
We've incorporated the changes into our docs. Thanks!

#please-close

[2019-10-01 17:52] #10299 closed

[2019-10-01 17:55] laurenhughes commented on #35889
@dcbrown16, we'll reach out internally, thanks!

[2019-10-01 17:56] FreekPaans commented on #39740
Yes, agreed. Just as a side note, currently for me the fact that this info
is lacking prevents me from selecting Azure VMs as a viable storage option
for databases since the implications of the cache storage settings with
regard to durability and what an application needs to do to make it durable
are - as far as I can tell - undocumented.

On Tue, 1 Oct 2019 at 19:44, Micah <notifications@github.c

[2019-10-01 18:02] Nickomang commented on #37482
#please-close

[2019-10-01 18:02] #37482 closed

[2019-10-01 18:04] MicahMcKittrick-MSFT commented on #39843
@lukos I ran through the document on a new cluster and did not hit any issues.

I started with the AKS quickstart guide to get a new AKS cluster.

https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough

After that, I ran through this entire document and was able to create the disk. Here are my inputs/ outputs:

[code]

[2019-10-01 18:06] Nickomang commented on #11951
Glad we were able to satisfy what you were looking for @eugen-nw, #please-close

[2019-10-01 18:06] #11951 closed

[2019-10-01 18:13] boteng-msft opened #39883 "Uri must be a web address"
It would be better to specify that the Uri of the linked template must be a web address instead of a local path. It took me a long time to figure out local file path not is not supported from external source.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ec87df7-43e5-2d11-3546-9f338534e560
* Version Independent ID: c

[2019-10-01 18:13] MicahMcKittrick-MSFT commented on #39873
@tvprasad which OS and version are you using?

[2019-10-01 18:18] GiftA-MSFT commented on #39882
@jadhosn thank you for your feedback. We will look into this issue and get back to you shortly. Thanks.

[2019-10-01 18:18] #39263 closed

[2019-10-01 18:19] #39266 closed

[2019-10-01 18:27] SychevIgor commented on #39739
@Alberto-Vega-MSFT I don't see the PR associated with this request. I guess @KingdomOfEnds will do it in azure-docs-pr repo and after merge private repo with public repo- we will see this PR.

[2019-10-01 18:27] SychevIgor commented on #39735
@Alberto-Vega-MSFT I don't see the PR associated with this request. I guess @KingdomOfEnds will do it in azure-docs-pr repo and after merge private repo with public repo- we will see this PR.

[2019-10-01 18:27] ghost opened #39884 "Missing APIM Application concept explanation"
@erwinkramer commented on [Tue Oct 01 2019](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/538)

Applications are an APIM concept but are never really explained.

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* ID: 2a747c49-faa5-3a76-f397-b3637e9a21f2
* Version Independent ID: 763ccd3f-d811-09e1-2bd

[2019-10-01 18:28] lichasu commented on #39884
Hi team, please check this issue.

Thanks!

[2019-10-01 18:30] martins-vds opened #39885 "Support for .Net Core 3.0"
Are there any plans to provide support for .Net Core 3.0?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1df5e2bd-489d-19b2-87d3-d993ebb82021
* Version Independent ID: 9e9d9ded-8f40-22be-4654-48c87f2c59e8
* Content: [Azure Functions runtime versions overview](https://docs.microsoft.com/en-us/azure/azure-functions/funct

[2019-10-01 18:31] bdschaap opened #39886 "Awareness of failover event"
How can I be aware that a failover event occurred in near real-time?  Does Key Vault record anything to the diagnostic logs or to the activity logs?  If so, do you have a sample log so I know what to look for and perhaps even configure an alert on?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 123c4199-bc05-5ed6-743a-

[2019-10-01 18:31] MarileeTurscak-MSFT commented on #39870
@hawkbox
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-01 18:34] scootafire commented on #39533
Any feedback here Guys?

[2019-10-01 18:39] KingdomOfEnds commented on #39737
@SychevIgor - I can confirm that both MSAL and ADAL are supported. The documentation has been updated to reflect that. Thanks!

[2019-10-01 18:42] Alberto-Vega-MSFT commented on #39845
Hi @anfelbeghoura Thanks for reaching out I have assigned the issue to the content author so she can help answer your question.

[2019-10-01 18:45] MicahMcKittrick-MSFT commented on #39880
@robinmanuelthiel are you referring to this table?

Capability | Azure | Calico
-- | -- | --
Supported platforms | Linux | Linux
Supported networking options | Azure CNI | Azure CNI
Compliance with Kubernetes specification | All policy types supported | All policy types supported
Additional features | None | Extended policy model consisting of Global Network Policy, Global Network Set, and Host En

[2019-10-01 18:47] KingdomOfEnds commented on #39735
Good Morning @SychevIgor - the documentation was updated and you should see the changes live: https://docs.microsoft.com/en-us/azure/digital-twins/security-create-manage-role-assignments. Please let me know if that addresses your concerns. Thanks!

[2019-10-01 18:48] Alberto-Vega-MSFT commented on #39585
@cofjee Was the previous comment helpful? Do you still have questions?

[2019-10-01 18:50] MicahMcKittrick-MSFT commented on #39854
@mkstephenson not sure I fully understand. Once the retention period is up, the images and artifacts are automatically removed. So not sure what exactly you are looking to have documented here.

As per the logs, you are looking for a summary of the images that were removed correct? I am not sure if that functionality is possible at this time. Possibly in the activity logs... @dlepow would you know

[2019-10-01 18:51] KingdomOfEnds commented on #39736
The Azure AD API name and ID that will appear in your Azure account depends on the tenant to which you belong:

- Standard accounts should search for `Azure Digital Twins`.
- Development test accounts should search for `Azure Smart Spaces Service`.

[2019-10-01 18:52] KingdomOfEnds commented on #39739
@SychevIgor - These changes will go live later today. Thanks!

[2019-10-01 18:58] neeleshray-msft commented on #39867
@Hopechenhpe  Thank you for your query. We will check and update the thread on this.

[2019-10-01 18:59] neeleshray-msft commented on #39847
@stoff75  Thank you for the query. We will check and update on the same.

[2019-10-01 19:02] neeleshray-msft commented on #39860
@juanand  Thank you for the feedback. We will check and update the thread on this.

[2019-10-01 19:02] msmimart commented on #39038
@AnatolN thanks for checking. Currently, creating an allow or deny list for B2B requires the Global Administrator role.

[2019-10-01 19:03] JeremyHargis commented on #39870
I'm seeing the same thing with one of my clients. I am working with Microsoft, but no solution has been identified yet.

[2019-10-01 19:03] raakeshn opened #39888 "Will this work with a Remote Desktop Services setup?"
Hi, we have a case where we have to expose RD Web and RD Gateway to public access. These will need Public IP addresses of their own. The RD Web's FQDN shall be assigned to the Azure Load Balancer (External Load Balancer) public IP.

When a user tries to access the RD Web using the FQDN bound to the Azure Load Balancer public IP address, how will the connection be directed to Azure Firewall?

Pleas

[2019-10-01 19:06] cijothomas opened #39889 "Update applicationInsights section with recent changes."
Document the recently introduced options in applicationInsights section. For eg: EnablePerformanceCountersCollection , EnableLiveMetrics  etc are not documented here.
https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Logging.ApplicationInsights/ApplicationInsightsLoggerOptions.cs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-10-01 19:13] Alberto-Vega-MSFT commented on #39570
Hi @sw-tt-janvivakotar I could not find the exact tutorial you are looking for on docs. [There is a C tutorial available though](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-auto-provision-simulated-device-linux).  Can you please open an issue with your question on the Python SDK repo for a code sample? https://github.com/Azure/azure-iot-sdk-python

[2019-10-01 19:13] TravisCragg-MSFT commented on #39661
@Chai-NED We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-01 19:13] #39661 closed

[2019-10-01 19:14] rolyon commented on #39331
Hi @toddysm
Let us know if you have any additional feedback about group as Owner. If so, you can reopen this issue.
thanks

[2019-10-01 19:14] rolyon commented on #39331
#please-close

[2019-10-01 19:14] #39331 closed

[2019-10-01 19:15] TravisCragg-MSFT commented on #39686
@JeissonL Closing this issue as a duplicate of #39783.

[2019-10-01 19:15] #39686 closed

[2019-10-01 19:16] TravisCragg-MSFT commented on #39690
@badbob001 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-01 19:16] #39690 closed

[2019-10-01 19:25] thinknetworks commented on #39870
Exact same problem seen like @hawkbox . The above commands used to work as expected for rolling over the keys, until last month. We tried to run the same commands yesterday night but the above error was seen.
Something has changed.

[2019-10-01 19:28] AjayKumar-MSFT commented on #39564
Thanks for the response and sharing additional details! I will test on this scenario and get back to you soon.

[2019-10-01 19:35] ctoronavisaf commented on #39730
Hello @rohitnayakmsft
Your recommendation is that we can open routes to all the Gateway IP addresses in the table that need to have permissions on the firewall rules. But if I do not configure one of the IP addresses that i need, maybe my service could be fail?

[2019-10-01 19:38] AjayKumar-MSFT commented on #38814
Thanks for the follow-up and sharing additional details. Your feedback has been shared with the content owner (@cephalin) for further review.

[2019-10-01 19:44] FrankHu-MSFT commented on #39663
In addition it's possible to use jQuery which is loaded by both v1 and v2 policies.

[2019-10-01 19:52] resorath opened #39890 "Signed logout requests"
In AD FS, logout requests must be signed (and AD FS must have a certificate for verifying the signature). There is no documentation about Azure AD accepting a signing certificate to verify signed logout requests (or signed login requests for that matter)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76d4eac0-25d3-b5d5

[2019-10-01 19:55] TravisCragg-MSFT commented on #39888
@raakeshn I have not personally tested this out with RDS, but I see no reason why it should not work.

The user will connect via a public IP attached to the Firewall.The traffic will need to NAT from the firewall to the public IP of the Load Balancer. [Here is an example on how to use NAT rules with Azure Firewall](https://docs.microsoft.com/en-us/azure/firewall/tutorial-firewall-dnat#configure-a-

[2019-10-01 20:07] rscottwatson opened #39891 "How to connect with AD credentials"
When trying to deploy a function with powershell I was not able to connect using AD.  ( I tried with a sql user and that worked but we don't use sql users )

[code]
This produced the error
[code]
So it appears that this is due to powershell core being used for azure functions and dot net core doesn't support AD.   Is this really the case?  That seems like a big problem.   Do you have any working e

[2019-10-01 20:07] robrich opened #39892 "`using new HttpClient()` is bad form"
[Enter feedback here]

See https://aspnetmonsters.com/2016/08/2016-08-27-httpclientwrong/ for why putting usings around HttpClient is a bad idea.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba0dfcae-d8ca-069f-e538-c36a8cf26fe4
* Version Independent ID: 36ad70c4-7a33-5c39-b440-8930ca91b9d9
* Content: [Running multipl

[2019-10-01 20:14] rohitnayakmsft commented on #39730
@ctoronavisaf  that is correct.

[2019-10-01 20:15] Karishma-Tiwari-MSFT commented on #39692
Thanks @dlepow :)
@SudoBrendan A PR has been created and changes will be live shortly.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-10-01 20:15] #39692 closed

[2019-10-01 20:22] #39820 closed

[2019-10-01 20:24] ColbyTresness commented on #30575
I'm fairly sure this has been resolved.
#please-close

[2019-10-01 20:24] #30575 closed

[2019-10-01 20:27] #39695 closed

[2019-10-01 20:31] ColbyTresness commented on #32018
This is complete
#please-close

[2019-10-01 20:32] #32018 closed

[2019-10-01 20:34] tmguinn commented on #39818
No, all I'm saying is that the command Get-RdsTenant by default doesn't display the "NAME" of your tenant. Here is the output of the commands:

Get-RdsTenant

DeploymentUrl                      TenantGroupName      UserName
-------------                      ---------------      --------
https://rdbroker.wvd.microsoft.com Default Tenant Group xxxxx@xxxxxxxxx.onmicrosoft.com

[2019-10-01 20:37] Nickomang commented on #13615
#please-close

[2019-10-01 20:37] #13615 closed

[2019-10-01 20:37] bwren commented on #39617
#please-close

[2019-10-01 20:37] #39617 closed

[2019-10-01 20:42] SaurabhSharma-MSFT commented on #39886
@bdschaap Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-01 20:45] ColbyTresness commented on #30243
This is included in the article:
"Caution
When running a function app on Windows, the external URL option yields worse cold-start performance. When deploying your function app to Windows, you should set WEBSITE_RUN_FROM_PACKAGE to 1 and publish with zip deployment."
#please-close

[2019-10-01 20:46] #30243 closed

[2019-10-01 20:48] ChristianMontoya commented on #39818
Hmm...unfortunately, we haven't seen that before. This was what we're used to seeing (and what we want users to see) whenever you run just **Get-RdsTenant**

TenantGroupName          : Default Tenant Group
AadTenantId                     : [actual-guid]
TenantName                     : Tenant1
Description                       :
FriendlyName                   :
SsoAdfsAuthority              :
SsoC

[2019-10-01 20:53] Delvor64 opened #39893 "Routing Issues Script"
Running the Routing Issues script gives and error of:

"Test-AzNetworkWatcherConnectivity : Cannot bind parameter 'NetworkWatcher'. Cannot convert the "Microsoft.Azure.Commands.ResourceManager.Cmdlets.SdkModels.PSResource" value of type
"Microsoft.Azure.Commands.ResourceManager.Cmdlets.SdkModels.PSResource" to type "Microsoft.Azure.Commands.Network.Models.PSNetworkWatcher"

I had to change the fol

[2019-10-01 20:59] alvipeo commented on #39232
ok, my hard findings:

1) using "123.45.67.89*/32*" puts App Gateway into *Failed* state
2) simply using `-Operator BeginsWith -MatchValue "https://app-x.domain.com"` doesn't work. Endpoint is still accessible from any IP

[2019-10-01 20:59] jasonzio opened #39894 "Pointer to SCX documentation needs to be updated"
The perfcfg section references the SCX (System Center Cross-Platform) provider and includes a link to the documentation on codeplex. With the closing of codeplex, that link isn't helpful anymore. That’s gone (well, turned into an archive link). Instead, the page should point to github.com/Microsoft/SCXcore. In particular, when pointing to the documentation for the SCX provider, the doc should poin

[2019-10-01 21:00] larryms opened #39895 "Page should reference EOS"
As this is a 'support reference' page, it should mention the End of Support for VMware to VMware that is documented here:  https://docs.microsoft.com/en-us/azure/site-recovery/vmware-physical-secondary-disaster-recovery
If you just read this page, you'd be led to believe that the scenarios was still supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2019-10-01 21:00] cmcapellan commented on #20848
I am very glad I found this thread, I was having the exact same confusion and also not realizing NSGs applied to East-West traffic in the same subnet. I hope this documentation is updated soon!

[2019-10-01 21:03] skiwii opened #39896 "Is data encrypted in transit?"
Is data encrypted in transit? I couldn't find any setting in the Data Sync Agent to turn this on/off  (the on-premise data gateway has an option to use HTTPS for example).
cheers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 791801be-835a-7b8d-106a-53f5e9f8eb66
* Version Independent ID: 740ebf2f-8f09-1869-6d78-2b7242a

[2019-10-01 21:03] varucell commented on #39870
I am having the same problem. I don't know if Marilee has checked in to see if they found a problem.

[2019-10-01 21:04] msmithmis commented on #33480
Same issue.  Just got url returned despite everything set up correctly.  Stopping then starting the function app (not restart) fixed it.

[2019-10-01 21:07] BharathNimmala-MSFT commented on #39892
@robrich Thank you for your valuable feedback. Assigning this issue to our doc author to further evaluate and enhance the documentation as required.

[2019-10-01 21:11] DigitalWhitewater commented on #39870
reporting the same problem

[2019-10-01 21:12] SaurabhSharma-MSFT commented on #39863
@simon-michaud After the failover the keyvault will be in read only mode for all secrets & keys which I believe includes certificates but I would defer this to the document author to validate and update the documentation for future readers.

[2019-10-01 21:17] JAMMFam commented on #39891
nice

[2019-10-01 21:21] raakeshn commented on #39888
Thanks a lot, Travis. I will have this designed and tested; shall update you after test.

[2019-10-01 21:24] SaurabhSharma-MSFT commented on #39804
@barkesteijn I see you are having a MSDN thread for the same issue and Neelesh is helping you on the same- https://social.msdn.microsoft.com/Forums/en-US/2c9295ae-5083-45e4-91ed-ed9d73195b25/upgraded-12700-to-14180-sets-desktopssoenabled-to-false?forum=WindowsAzureAD.
I will be closing this issue and check with Neelesh internally on his findings to help resolve your issue.
If there are further que

[2019-10-01 21:24] #39804 closed

[2019-10-01 21:27] Karishma-Tiwari-MSFT commented on #39430
@pdebruin Can you please share the screenshot of the error you are seeing?

[2019-10-01 21:28] Karishma-Tiwari-MSFT commented on #39430
@dougeby Can you please share your inputs on this issue? Thanks :)

[2019-10-01 21:33] Karishma-Tiwari-MSFT commented on #39894
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-01 21:37] SaurabhSharma-MSFT commented on #39886
@bdschaap As per my knowledge there won't be any logs against the failover events, however, I am checking this internally and let you know for any alternatives.

[2019-10-01 21:38] abbodh opened #39897 "How to identify whether KB has reached its limit?"
I am creating KB using basic pricing tier of Azure search. Since basic tier supports 14 KB creation, is there a way to find out that one KB has reached it's limit and there is a need to create another one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a29f839a-d836-5f3a-f58c-f60f71a4fc18
* Version Independent ID: b9a9

[2019-10-01 21:44] Hopechenhpe commented on #39867
I have the same question as to the prior as to whether or not these options as recommended by CIS Benchmark fundamentals assessment are still available as part of user  settings or if  they are now located elsewhere for the following:  1) Setting "Guest user permissions are limited" to Yes 2) Ensure that 'Members can invite' is set to 'No' 3) Ensure that 'Guests can invite' is set to 'No'. Thank y

[2019-10-01 21:44] kgremban commented on #35410
Hi @PatricioVidal. I'm sorry about the delay, but the articles have been updated with powershell commands for installing certificates at the OS level. I appreciate you pointing out this gap in the IoT Core story. Please take a look at the updated article and close this issue or let me know if you think there's more work to be done.

[2019-10-01 21:48] areddish commented on #38647
@rajurajvijay619 The error indicates that a training key is being pass to the prediction endpoint. You should find the prediction resource in the list of available resources. You need to use the key of the prediction endpoint you published to. If you only have one training and one prediction it will probably be named something like raj-vision-group_prediction.

@YuTongTie-MSFT the document is refe

[2019-10-01 21:48] ggailey777 commented on #39857
@mirsaeedi I believe that you are correct, except for specific triggers. We actually have an [article on idempotentcy](https://docs.microsoft.com/azure/azure-functions/functions-idempotent) now for Functions. I'll fix this statement.

[2019-10-01 21:50] ericsampson commented on #27024
This documentation is confusing as heck, with its mix of SDKs. It really needs to be rewritten to only talk about Microsoft.Azure.ServiceBus

[2019-10-01 21:52] bcmonk opened #39899 "Unable to run any of the Azure Powershell commands in this tutorial"
Starting with the very first command I get the following error:

New-AzResourceGroup : Operation returned an invalid status code 'Forbidden'
At line:1 char:1
+ New-AzResourceGroup `
+ ~~~~~~~~~~~~~~~~~~~~~
+ CategoryInfo          : CloseError: (:) [New-AzResourceGroup], CloudException
+ FullyQualifiedErrorId : Microsoft.Azure.Commands.ResourceManager.Cmdlets.Implementation.NewAzureResourceGroupCmd

[2019-10-01 21:52] rupeshprasad opened #39900 "Not able to dynamically format the table name for Sink dataset"
I am trying to load data from on premises SQL to Azure SQL database.

As mentioned in [article ](https://docs.microsoft.com/en-us/azure/data-factory/tutorial-bulk-copy-portal)i have done something like below :
AzureSqlDWDataset for Sink Dataset.
Click the input box for the VALUE of DWTableName parameter -&gt; select the Add dynamic content below, enter [@{item().TABLE_SCHEMA}].[@{item().TABLE_NAME

[2019-10-01 21:55] ericsampson opened #39901 "Confusing documentation re library versions"
This page, and really all the SB documentation, needs to be scrubbed so that it only refers to concepts/code in the new Microsoft.Azure.ServiceBus library. Or if it's going to cover both old and new libraries, then it needs to be very clear which examples/code are specific to each. Right now the documentation is very confusing. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-10-01 21:56] PatricioVidal commented on #35410
Looks good. Thanks Kelly!

[2019-10-01 21:56] #35410 closed

[2019-10-01 21:59] varucell commented on #39870
I just ran the powershell commands from a different machine and was able to get the commands to work. It was on a Windows 10 1903 workstation.

[2019-10-01 22:00] runecalico opened #39902 "I am a little confused on the note that you can make the standard LB an internal LB .."
I am a little confused by the note right before the "Optional - Scale the number of managed public IPs" section that you can make the STANDARD load balancer internal... when it's listed in the limitations section that it needs public ip's for egress. Does that mean when you deploy the standard LB as internal, it has BOTH a private IP and a public IP (for egress)? That seems a bit odd to have all e

[2019-10-01 22:02] crixo commented on #39663
Hi @FrankHu-MSFT,
First of all Thanks a lot for you support, I really appreciate it.
I'm aware of the capability provided by the custom policy but I'd prefer to stick w/ user flows.
I figure out the possibility of using jquery added into the custom ui template configured for a given user flow but I consider it a "fragile" option w/o  any server side validation to enforce it.
IMHO user input valida

[2019-10-01 22:04] MicahMcKittrick-MSFT commented on #39899
@bcmonk are you running this in the Azure Cloud Shell? If so, did you make sure you switched to PowerShell instead of the default CLI? You can also try removing the cloud storage account assoicated with the cloud shell and then restart cloud shell which will re-initiate it.

If you are running on prem PowerShell, make sure you have updated to the latest powershell module.

[2019-10-01 22:08] bcmonk commented on #39899
Yes I am running in the Cloud Shell with a Learn Subscription.  I switched to my own subscription and it is working there.  I just ran into another error error indicating that my subscription is not registered with NRP.  I am attempting to register it with a couple different Resource Providers now to see if that will work.

[2019-10-01 22:08] laurenhughes commented on #39469
@Karishma-Tiwari-MSFT @nick-terry1 I checked in with the team, and it looks like @cynthn is correct. The additional info will be published when the VM sizes reach general availability. Thanks again for raising the issue, and feel free to comment again if you have additional questions!

#please-close

[2019-10-01 22:08] #39469 closed

[2019-10-01 22:16] arduppal commented on #39607
@josiahlaivin:- Is ImageUploader the name of your blob storage module?
If yes, you need to change it to smallcase "imageuploader"

where is this code running?
self.super_str = 'DefaultEndpointsProtocol=http;AccountName=image_uploading;AccountKey=some_key;BlobEndpoint=http://ImageUploader:11002/image_uploading;'
self.block_blob_service = BlobServiceClient.from_connection_string(self.super_str)

If

[2019-10-01 22:23] cmcapellan commented on #20848
More confusion! The Cloud Adoption Framework guide specifically says that NSGs do *NOT* block East West traffic inside of a subnet. I've submitted a request on that page, but I would say it's pretty urgent that the Microsoft docs AGREE with each other.

Link and copy of confusing language below:
https://docs.microsoft.com/en-us/azure/cloud-adoption-framework/migrate/azure-best-practices/migrate-be

[2019-10-01 22:32] conork123 commented on #20848
@cmcapellan I ended up logging a Premier support request and have had confirmation from MS support that a subnet level NSG rule is essentially applied to the NIC of each VM on that subnet.
I don't understand why they can't explicitly just call this out in the documentation - all their digrams only show north/south traffic flows... should be pretty easy to update this doc with a simple diagram and

[2019-10-01 22:37] kgremban commented on #39845
@shizn Can you or somebody on your team take a look at this question?

[2019-10-01 22:43] GiftA-MSFT commented on #39897
@abbodh thank you for reaching out. We will look into your inquiry and get back to you shortly. Thanks.

[2019-10-01 22:53] RadioActiveLamb commented on #38230
This topic is about the REPORTS of the underlying "Risky Users" feature, not about the actual feature. I have the same problem - HUNDREDS of my users are flagged as "Risky Users", but we have just the basic AAD. We never had either premium edition. Users who are flagged are unable to do certain features, like switch organizations in Teams. Asking the people who document the REPORTS page about the

[2019-10-01 22:55] areddish commented on #38647
@YutongTie-MSFT actually the issue is your screen shot is of the project settings vs the settings for the account (which lists all of the keys vs just the key for your project).

[2019-10-01 23:01] jonmclean opened #39904 "HDInsight Oozie with Spark2"
To use Spark with Oozie on HDInsight 3.6 you need to create a shared library for the spark jars.  Follow the "Configuring Oozie Spark Action for Spark 2" instructions here:  https://docs.cloudera.com/HDPDocuments/HDP2/HDP-2.6.5/bk_spark-component-guide/content/ch_oozie-spark-action.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-10-01 23:07] bwren commented on #39344
Just verifying with engineering team before we make the update.

#in-process

[2019-10-01 23:12] GiftA-MSFT commented on #39882
@jadhosn please can you clarify? Did you receive an error when you specified model_explainability as a parameter?

[2019-10-01 23:16] bwren commented on #37649
I'm going to go ahead and close this since I think we're dealing with a support issue.  If there are updates required to the docs, please let me know.

#please-close

[2019-10-01 23:16] #37649 closed

[2019-10-01 23:17] dcbrown16 commented on #39754
Thanks @SadiqhAhmed-MSFT. I understand (and confirmed with testing) that the alert timing seems to be based on when you create it (as opposed to running at a certain time every day, for example).
I'll let you decide whether this info should be added to the document.

[2019-10-01 23:22] dcbrown16 commented on #36705
@mikebudzynski sorry I missed this question. The new storage account is created in the PowerShell reference example that I linked in the first post.
https://docs.microsoft.com/en-us/powershell/module/az.apimanagement/restore-azapimanagement?view=azps-2.7.0&viewFallbackFrom=azps-2.5.0

I was hoping that something like this example could be brought over to the main document, or at the very least tha

[2019-10-01 23:22] dcbrown16 commented on #36705
@PramodValavala-MSFT please reopen if possible.

[2019-10-01 23:24] Allbondiga opened #39905 "Transient NameID"
Confirmed, the option for Transient Name ID should be listed as supported, not as an option on the drop down, as it does not show there. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d362c1b5-1460-4de9-c53d-f0ec1ef07742
* Version Independent ID: 9dc0a4df-81c8-13eb-720f-f589a3712e42
* Content: [Customize SAML t

[2019-10-01 23:31] jocawtho opened #39906 "Awesome! Here is the direct link to that command!"
https://docs.microsoft.com/en-us/powershell/module/az.websites/restore-azdeletedwebapp

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd2233ca-e4c5-a53b-f493-310ac953bdea
* Version Independent ID: d869ec94-1c1b-9440-e2d6-5b6a4f1d068e
* Content: [Restore deleted App Service apps - Azure App Service](https://docs.microso

[2019-10-01 23:35] MarileeTurscak-MSFT commented on #39870
Thank you all for reporting this. I've checked in with the product teams. @RobdeJong is this a known issue?

[2019-10-01 23:36] MarileeTurscak-MSFT commented on #39890
@resorath
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-01 23:37] MarileeTurscak-MSFT commented on #39905
@Allbondiga
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-01 23:39] MarileeTurscak-MSFT commented on #39905
Thanks @Allbondiga ! Are you suggesting that we remove the option from the table, but make a note that it is supported?

I am happy to add this, but you are also free to make a pull request to do this if you would prefer.

[2019-10-01 23:40] Allbondiga commented on #39905
Hi Team,

Exactly, remove it from the drop down options and to add a note that it is supported, but cannot be configured on Azure’s side.

Regards,

Allen Garmendia
Support Engineer
Azure Indentity
Office: +506 (4) 1161315
v-allbon@microsoft.com<mailto:v-allbon@microsoft.com>
11AM – 8PM EST
[Microsoft]
﻿ One Microsoft Way, Redmond, WA 98052 USA
Technical Advisor  | Ivan Molina (ivan.molina@microso

[2019-10-01 23:41] jadhosn commented on #39882
I was not able to find the argument (for further details) in the [class definition](https://docs.microsoft.com/en-us/python/api/azureml-train-automl/azureml.train.automl.automlconfig?view=azure-ml-py)

[2019-10-01 23:43] TravisCragg-MSFT commented on #39893
@Delvor64 Thanks for the feedback! I have made the changes to the doc, and it should reflect within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-01 23:43] #39893 closed

[2019-10-01 23:45] BoTime opened #39909 "test"
test

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d1a08b2-74d4-6350-70c5-6661ef4f7ad1
* Version Independent ID: 52059965-3709-2520-0ed0-82c22648fea2
* Content: [Authentication in Microsoft identity platform](https://docs.microsoft.com/en-us/azure/active-directory/develop/authentication-scenarios#feedback)
* Content

[2019-10-01 23:45] mike-urnun-msft commented on #39884
Hi @erwinkramer - Thank you for your feedback! We will review and update as appropriate.

cc: @lichasu

[2019-10-01 23:45] cahann commented on #39397
Apology for the confusion but in both cases LUIS container will be calling external service (aka bing spell check) for spell correct which is a step the can easily happen as preprocessing step before calling LUIS.

[2019-10-01 23:47] alvipeo opened #39910 "Put simple Queries for LogAnalytics - queries to test Custom WAF rules!"
These queries exist in other articles - Azure Firewall, for example. Why is this so difficult?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5f080ad-843f-d7be-eba6-2837993d052b
* Version Independent ID: b6f75acf-e3ed-f6c3-a29e-8f440eb0a9dd
* Content: [Monitor access logs, performance logs, back-end health, and metric

[2019-10-01 23:47] MarileeTurscak-MSFT commented on #39909
@BoTime are we safe to close this out?

[2019-10-01 23:48] mike-urnun-msft commented on #39885
Hi @martins-vds - Thank you for your feedback. Yes, support for .Net Core 3.0 will be available soon. Please see this announcement for more: https://github.com/Azure/app-service-announcements/issues/200

[2019-10-01 23:49] mike-urnun-msft commented on #39889
Hi @cijothomas - Thank you for your feedback! We will review and update as appropriate.

[2019-10-01 23:50] mike-urnun-msft commented on #39891
Hi @rscottwatson - Thank you for your feedback! We will review and update as appropriate.

[2019-10-01 23:51] mike-urnun-msft commented on #39901
Hi @ericsampson - Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-10-01 23:53] SteveLasker commented on #39854
We're checking if this is logged to the pending Audit Logs capability. It should, if it's not.
For the occurrence of purging, it works under a queue based system.
ACR does ref counting for manifests. When a manifest no longer has a tag, it checks the purge policy. If purge policy is enabled, a manifest delete is queued, with a specific date.
There's a separate queue management job that's constantl

[2019-10-01 23:53] TravisCragg-MSFT commented on #39910
@alvipeo Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-01 23:54] KranthiPakala-MSFT commented on #39900
@rupeshprasad Thank you for reaching out and bringing this to our notice. At this time we are reviewing the ask and will provide an update as appropriate

[2019-10-01 23:57] MarileeTurscak-MSFT commented on #39909
Closing this out as it is not actionable.

[2019-10-01 23:57] #39909 closed

[2019-10-02 00:01] Alberto-Vega-MSFT commented on #39592
@arnabhetc moving conversation here: https://social.msdn.microsoft.com/Forums/en-US/34428bd2-75a7-4516-8540-596d70e259a3/module-import-error-while-building-python-module-for-edge?forum=iotedge&prof=required

[2019-10-02 00:01] #39592 closed

[2019-10-02 00:03] ryancrawcour commented on #10842
The doc has a Tip that says if you get the "no appenders could be found" message that you need to check you update the serializer correctly.

I have configured it as per the documentation, but i still get the message.

I see @luisbosquez says you can safely ignore this message. should we not indicate this in the Tip block of the document? I spent ages trying to find where i went wrong and didn't k

[2019-10-02 00:06] KranthiPakala-MSFT commented on #39904
@jonmclean Thanks for sharing your findings. Could you please confirm if there is any issue with the document content and you would like to report?

[2019-10-02 00:08] ryancrawcour opened #39911 "Host did not respond in a timely fashion"
I followed all the steps in this doc and it seems to connect ok, but as soon as i try execute any query i instantly get back "Host did not respond in a timely fashion - check the server status and submit again."

it's definitely not taking too long and timing out, it's like it doesn't even connect.
it says to check server status, the "server" which is my cosmosdb account appears to be good as i ca

[2019-10-02 00:09] mkstephenson commented on #39854
@MicahMcKittrick-MSFT @SteveLasker thanks for the info! That's really interesting to hear how this is handled internally and I'm certain I'm not the only one who would find that later part interesting in the docs. I initially thought that since it was being developed at the same time as the auto-purge tasks that it used a similar mechanism but the queue based system makes a lot more sense.
I wonde

[2019-10-02 00:15] mkstephenson commented on #39854
I'm just wondering since we enabled the feature a couple of days ago and so far no cleanup has happened of the existing repositories so I was wondering how the cleanup task worked, if there was a way of seeing if it was having an effect or not.

[2019-10-02 00:16] femsulu commented on #39858
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-10-02 00:20] MicahMcKittrick-MSFT commented on #39899
I know the learn modules were having some issues not too long ago and still is

https://social.msdn.microsoft.com/Forums/en-US/db65d6e0-c4c9-45a6-bba2-e57ddd6beed9/ms-learn-sandbox-creation-error?forum=WAVirtualMachinesforWindows

So likely related to that. The commands all work as expected when using your own subscription as well as I have tested them so I will go ahead and close this. If you sti

[2019-10-02 00:20] #39899 closed

[2019-10-02 00:20] femsulu commented on #39864
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-10-02 00:20] MicahMcKittrick-MSFT commented on #39880
adding @MicrosoftDocs/aks-pm

[2019-10-02 00:21] MicahMcKittrick-MSFT commented on #39902
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-02 00:21] femsulu commented on #39883
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-10-02 00:22] #39574 closed

[2019-10-02 00:27] KranthiPakala-MSFT commented on #39900
@rupeshprasad If you are referring to a specific used case scenario and not directly related to document content, we request you to please post your question on "_[MSDN - Azure Data Factory](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory&filter=alltypes&sort=lastpostdesc)_" and other forums (_[Stackoverflow - Azure Data Factory](https://stackoverflow.com/questions/tagge

[2019-10-02 00:27] #39900 closed

[2019-10-02 00:29] Alberto-Vega-MSFT commented on #39724
@ptranter Can you confirm that you followed step 3 here  https://docs.microsoft.com/en-us/azure/iot-hub/quickstart-control-device-python#call-the-direct-method and do you see any errors in the output during the installation?

[2019-10-02 00:34] #39600 closed

[2019-10-02 00:36] FrankHu-MSFT commented on #39879
hey @mustafamg this is not currently a fully supported flow. Why do you want only certain users to be able to see the login page? Shouldn't it be fine to only allow users who have the correct login to obtain an access token?

It shouldn't be necessary to block users from accessing a login page correct?

Thanks,
- Frank Hu

[2019-10-02 00:37] larryms opened #39913 "Article title should match name in how-to guide"
The name in the how-to guide, "Set up disaster recovery to Azure for on-premises apps", (on the left of the page in docs.microsoft.com) does not match the name of this article "What workloads can you protect with Azure Site Recovery?"
I was looking for this info and only stumbled upon it due to the misleading name in the TOC.
Since this is hard to explain, I took a screenshot so you can see what n

[2019-10-02 00:38] FrankHu-MSFT commented on #39663
Yes @crixo I agree that there is definitely room for improvement in terms of the text validation/verification. My suggestion would be to file your feedback here : https://feedback.azure.com/forums/169401-azure-active-directory?category_id=160596

And if there's enough community support the product team will look into adding this to the roadmap in the future.

Please let us know if there are anymor

[2019-10-02 00:44] Alberto-Vega-MSFT commented on #39655
@NovoJeep Is white listing 8883 not an option for you? What about MQTT over websocket is that also not an option for you?

[2019-10-02 00:44] femsulu commented on #39895
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-10-02 00:45] femsulu commented on #39895
@rayne-wiselman- kindly review and take appropriate action.

[2019-10-02 00:45] ryancrawcour commented on #39911
this was because i was using the wrong endpoint.
the endpoint i was using ended with documents.azure.com and NOT the Gremlin endpoint that ends with graphs.azure.com

[2019-10-02 00:45] #39911 closed

[2019-10-02 00:47] #39025 closed

[2019-10-02 00:49] twooley commented on #39625
Hi @srinadhayarram. Are you enrolled in the multi-protocol access preview? Please see the Note in the opening section of this article for more information. Also, please review the "Azure Blob storage lifecycle management policies" section of https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-known-issues#support-for-other-blob-storage-features. Thanks!

[2019-10-02 00:51] tamram commented on #32933
@peledins @GBBBAS - thanks so much for following up on this. I've fixed the example, and it should go live within the next day.

[2019-10-02 01:03] Ravi-WesCEF opened #39916 "Need clarification"
The document provides a method to check for all legacy Auth logins using the AAD Sign-In logs. The "Identify legacy authentication" section tell us to verify anything that comes up in Sign-In reports Client App column with "other clients". What we have found is any logins via Powershell to Exchange Online OR Dynamics365 via "Common Data Service" are also flagged as "other clients". Does this mean

[2019-10-02 01:08] IEvangelist commented on #39397
Hi @xtianus79,

We are working to get the container updated, and we will hopefully have this fixed in the next release of the container -- in a week or two.

[2019-10-02 01:41] mollycule opened #39918 "outdated hypertext for self-referencing hyperlink"
In the third paragraph, there is a hyperlink that self-references the documentation, but the hypertext has "(preview)" in it even though this isn't a preview feature (to my knowledge). Below is an excerpt from the third paragraph:
"see Tutorial: Deploy an AKS cluster or Authenticate with Azure Container Registry from Azure Kubernetes Service (preview)"

---
#### Document Details

⚠ *Do not edit th

[2019-10-02 01:55] edburns opened #39919 "Docs for uri() ARM template function don't state need for trailing slash"
I lost two hours to this and I'm a bit miffed about it.  I was using the
`uri()` function in my ARM template like so:

[code]

It was failing with an extremely unhelpful message.  Yes, it said 404
when it should be 200, and that certainly gave me a clue, but it was
this statement on the [ARM template best practices
document](https://github.com/edburns/azure-quickstart-templates/blob/master/1-CONTR

[2019-10-02 02:02] brandonh-msft opened #39921 "MQ no longer available?"
I searched and cannot find an MQ server image anywhere in our marketplace. Does this doc need to be updated to exclude MQ (and Websphere as near as I can tell)? Or am I missing something? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1b288d1-dcb0-8428-7479-40f3923dac13
* Version Independent ID: 90dbf703-6167-

[2019-10-02 02:48] jonmclean commented on #39904
The  issue with the document is that it omits the requirement for adding
the spark configuration to oozie. Usually HDInsight programs are fully
configured to work together out of the box. In this case further
configuration was necessary but Microsoft did not provide this information.
The issue with the document is that it omitted this crucial step.

Thank you.

Jon McLean

On Tue, Oct 1, 2019 at 5

[2019-10-02 02:49] asoccer commented on #38873
Good evening,

We're hitting the two week wait time here. Do I need to open a ticket with MS Support for this to get priority?

[2019-10-02 02:51] srinadhayarram commented on #39625
Hi @Tessa,

We are enrolled for preview. But still unable to see Blob API support with
soft delete and Life cycle management.

Can you provide, how to check multi access protocol enabled or not?

Thank You,
Srinadha Yarram

On Tue, Oct 1, 2019 at 7:49 PM Tessa Wooley <notifications@github.com>
wrote:

[2019-10-02 03:01] DixitArora-MSFT commented on #30381
@DanielLarsenNZ  I have assigned this to content author for further review and update.

[2019-10-02 03:02] femsulu commented on #38873
Apologies for the delayed response.
Pinged @dumartinmsft internally to see if we can fast-track a response to your question.

thanks for your patience.

[2019-10-02 03:08] gutzeit1106 commented on #39758
@MicahMcKittrick-MSFT
Thanks for your information.

I understand that the actual freeze event may happen after “Notbefore”: “Thu, 26 Sep 2019 15:15:21 GMT”. I agree that my poll at 15:05:XX might miss the schedule event. But whether the poll at 15:05:XX missed or not, the freeze event had to happen after more than 15 min from the first notification?

 I’d like to clarify what the **minimum** notic

[2019-10-02 03:18] datfinesoul commented on #33601
Based on their docs here for V2_standards
https://azure.microsoft.com/en-us/pricing/details/application-gateway/

|||
|-|-|
|Fixed | $0.20 per gateway-hour |
|Capacity Unit1 | $0.008 per capacity unit-hour |

I spun up a new V2_standard AG and left it inactive for 2 days.  Each day I had a $8.20 cost.  Based on the info about the 20 CUs default per instance, this still doesn't make sense to me.

2

[2019-10-02 03:22] vivlost commented on #37690
Wanted to know would the feature solve this "Error: Blob API is not yet supported for hierarchical namespace accounts."? i got this when trying to access my adls gen2 blob containers with blob api's.

[2019-10-02 03:22] KrishnaG-MSFT commented on #39911
@ryancrawcour Glad to know that you have self resolved the issue. Thanks for the update.

[2019-10-02 03:26] DixitArora-MSFT commented on #39755
@JakeAlmer It is mentioned in the doc https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library#environment-variables

[2019-10-02 03:26] KrishnaG-MSFT commented on #39868
@mmacy Thanks for the quick response.

[2019-10-02 03:29] ankurkhemani commented on #39854
@mkstephenson It only applies to any untagging after the policy was enabled. Manifests that got untagged in the past won't get purged automatically.

In future iteration, we will mostly come up with an intuitive way for users to review and purge the existing untagged manifests while enabling retention policy.

@dlepow Can we please cover this fact in the docs too?

[2019-10-02 03:29] KrishnaG-MSFT commented on #39913
@larryms Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-10-02 03:33] RohitMungi-MSFT commented on #39869
@mackrorysd Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-02 03:36] RohitMungi-MSFT commented on #39872
@ddobric Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-02 03:39] RohitMungi-MSFT commented on #39875
@jgwinner Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-02 03:40] RohitMungi-MSFT commented on #39896
@skiwii Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-02 03:40] ankurkhemani commented on #39854
@mkstephenson Manifests untagged after you `enable` retention policy (with `n` days)  will get purged `n` days after the untagging.

Quickest way to validate:
1. Enable retention policy with `0` days (purge immediately, no wait).
2. Push a `hello-world` image with tag `latest` (default).
3. Untag `latest` leaving the manifest corresponding to `hello-world` image untagged.
4. The manifest should ge

[2019-10-02 03:45] RohitMungi-MSFT commented on #39906
@jocawtho Could you please let us know the issue you are facing with the command so our team can help you better? Also, are you referencing an issue from other thread?

[2019-10-02 03:48] RohitMungi-MSFT commented on #39916
@Ravi-WesCEF Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-02 03:50] RohitMungi-MSFT commented on #39918
@mollycule Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-02 04:09] StingyJack commented on #34584
@msangapu - uh you sure about that?  This doc being in the section you said was windows specific, as well as being in the Quick Starts and not in an "App Service for Linux" area may be part of the reason why the question was asked.
![image](https://user-images.githubusercontent.com/15381181/66017316-42ed5700-e4a8-11e9-9ede-edb6bb8b7617.png)

Also its a good idea to not rely on the site's layout fo

[2019-10-02 04:10] RohitMungi-MSFT commented on #39919
@edburns Thanks for your contribution to fix this. We shall also check with our product team to review and fix the same.

[2019-10-02 04:11] LenCardinal commented on #33601
(dat: I'm guessing that the price difference is a discount.)

It looks like there has been some progress here. The Azure Portal **now lets you set minimum instances=0 for AutoScale deployments**. And the detailed pricing explanation at https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-autoscaling-zone-redundant has been updated to mention the '0' option for minimum ins

[2019-10-02 04:15] RohitMungi-MSFT commented on #39921
@brandonh-msft Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-02 04:21] mignonsys opened #39922 "For Isolated tier, Cert deployed in Machine store - Is it still correct?"
Hi,
We use multiple method to deploy a pfx to a isolated tier web app.
The cert only appeared under CurrentUser/my store, not the LocalMachine/my store.

Can you please double check the NOTE on this page is still valid?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee2ce9e8-8504-ddab-1880-485962b99ffa
* Version Indepe

[2019-10-02 04:22] LenCardinal commented on #33601
Shorter answer: the following should result in CU charges based purely on usage:

1) Use Auto-Scaling configurations
2) Set "Minimum autoscale instances" to '0':

![image](https://user-images.githubusercontent.com/14823886/66017872-92cd1d80-e4aa-11e9-9e85-159e0b51b9b0.png)

[2019-10-02 04:22] mdddev commented on #33480
@msmithmis do you have any IP / network access restrictions set-up?

[2019-10-02 04:29] RohitMungi-MSFT commented on #39922
@mignonsys Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-02 04:33] AakashMasand commented on #36887
Hi I tried running the Powershell snippet again today to do the check and have encountered the same error. I did not check it then, however, on re running it today I have faced the exact same issue.

$azContext = Get-AzContext
$azProfile = [Microsoft.Azure.Commands.Common.Authentication.Abstractions.AzureRmProfileProvider]::Instance.Profile
$profileClient = New-Object -TypeName Microsoft.Azure.Com

[2019-10-02 04:39] DCtheGeek commented on #36887
@AakashMasand I'd recommend opening a [support ticket](https://azure.microsoft.com/en-us/support/options/) as I'm unable to replicate the issue you are having and it may be related to other variables.  Thanks!

[2019-10-02 04:44] andrewymching commented on #39870
Same problem encountered today with a Windows Server 2012 R2 on which the rollover process ran fine last month.
And confirming the same process ran OK on a Windows 10 1903 workstation today.

[2019-10-02 05:05] msrini-MSFT commented on #39232
@alvipeo , you can use /32 IP. It will not put your application gateway to failed state. In your example, you have used an invalid IP, 333.444/32 which is out of index and hence it didn't work.

If you are able to access then you need to try tweaking the custom rule you are trying to create.

I would suggest you to create a support ticket as it is more specific to your environment

[2019-10-02 05:07] Ziimulis opened #39923 "CPU for all Series"
Hi,

Every series up to Mv2-series has described, what CPU it is based on.

But for M-series and below there is no information about that. Is that intended?

Br,
Ziimulis

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58fe6a40-0b95-f1ed-db11-7a49d4a97ecf
* Version Independent ID: 54269236-da55-a1cd-01df-79a0458d9ac9
*

[2019-10-02 05:27] bvkiran commented on #39777
For dataflow issues, always attach your DSL Plan for quick resolution. The dataflow metadata can be got by clicking "Code", then use the switch to "Plan".

[2019-10-02 06:04] mike-urnun-msft commented on #39802
Hi @maysmiling - Thank you for sharing your feedback and reporting these issues! I've created a PR that fixes the sample.

cc: @lichasu @miaojiang

[2019-10-02 06:25] mike-urnun-msft commented on #39884
@erwinkramer Could you clarify what kind of Applications you're referring to?

[2019-10-02 06:32] datfinesoul commented on #33601
@LenCardinal That's very helpful information, thank you!  On an inactive AG that is a ~42% savings over a 2 instance manual, so that's great.  Would still be nice to have all this clearly added to the price calculators @TravisCragg-MSFT.  I'll run some tests with this setup today.

[2019-10-02 06:34] arsenyspb opened #39925 "Needs adding that NVM-es in Lsv2 are also ephemeral"
There's no mentioning of this in this page, should link back to claim "[2 Local NVMe Disks are ephemeral, data will be lost on these disks if you stop/deallocate your VM.](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sizes-storage#lsv2-series)" to avoid confusion.

Otherwise reading the docs it appears there's a separate reality for NVMe-s

---
#### Document Details

⚠ *Do not e

[2019-10-02 06:37] arsenyspb opened #39926 "Needs clarification between SED and Azure Disk Encryption"
Even though ephemeral drives are a pass-through on hypervisor level, and highly likely that they may not be correctly integrated in to Azure Disk Encryption, -- most of the SSD-s that I assume Microsoft buys for their datacenters are actually Self-Encrypted Drives (SED-s)

I'd like to make sure that this article completely clarifies, both for Ephemeral drives and specifically for their subset, tha

[2019-10-02 06:59] mustafamg commented on #39879
Thanks for the reply @FrankHu-MSFT . I am talking about sign up flow, not sign in. The application should allow certain types of users to register through an invitation. So only company employees can register. Same for the company customers.
Any other user should not be able to register.

[2019-10-02 07:04] fab66m commented on #38772
May I asked why you intend to place the GW between the APIM and the App? I have placed the GW in front of APIM to leverage the WAF for security and APIM has a virtual  non-public IP.

[2019-10-02 07:18] fab66m opened #39927 "Integrate App GW and APIM via VNet peering"
I have integrated the App GW and APIM in the same VNet as per documentation (https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-integrate-internal-vnet-appgateway).

APIM is internal mode and the GW has a public IP to pass on requests through its WAF for protection.

Is it possible to move the GW into another VNet and use VNet peering to for the same integration style?

---

[2019-10-02 07:22] github2alfred commented on #12621
Hi, i confirmed you need 2 legs, each leg (connection) has 1 Gbps. Notice also the ER FAQ in the ms docs, it said you can burst to 2x of Bandwidth you purchased, although no commit/SLA for it but you can get up to 2Gbps. One more thing, when Active-active, you dont need to do anything and let ECMP algorithm on ER works by itself.

[2019-10-02 07:26] RamakrishnaPathuri opened #39928 "IOException: IDX20804: Unable to retrieve document from: '[PII is hidden]"
[IOException: IDX20804: Unable to retrieve document from: '[PII is hidden]'.]
   Microsoft.IdentityModel.Protocols.<GetDocumentAsync>d__8.MoveNext() +662
   System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task) +99
   System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task) +58
   Microsoft.IdentityModel.Protocols.OpenIdConnect.<GetAsync>d_

[2019-10-02 07:27] tkostelijk commented on #38415
Use UPN instead. Then it's possible to logon with domain credentials.

[2019-10-02 07:29] CodeSizzler opened #39929 "Error on creating a container using azcopy command"
Hi Team,

I am about to create a container by following the document which you have given and when I give the below command, I am getting landed up with the below error. Can any of you help me with the same, please?

Command - azcopy make "https://azcopysamplestorage.blob.core.windows.net/demo1"
<img width="960" alt="ticket1" src="https://user-images.githubusercontent.com/30734357/66025572-69e1728

[2019-10-02 07:32] sibbl opened #39930 "Changelog for version 1.7.0?"
As the Cognitive Services Speech SDK is not open source, I as a developer rely on the changelog.

Background: in my specific case, I'm wondering why `AudioOutputStream.CreatePullStream()` doesn't accept the `AudioStreamFormat` as a parameter anymore since version 1.7.0.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f

[2019-10-02 07:45] femsulu commented on #39476
@ganeshvaltix would also recommend you post this question on [stackoverflow](https://stackoverflow.com/questions/tagged/azure-sdk) for input from the dev community. Hope that helps.
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-10-02 07:45] #39476 closed

[2019-10-02 07:50] sibbl commented on #39930
Turns out that you moved this in my case into

`speechConfig.SetSpeechSynthesisOutputFormat(SpeechSynthesisOutputFormat.Raw16Khz16BitMonoPcm);`

as I found out digging into the sample code. It would still be awesome to have a changelog available, even the sample code repo's PR hardly help because lots of non-sdk-version related changes were made at the same time.

[2019-10-02 07:52] SychevIgor commented on #39735
Thank you. it's clear for me now.
#please-close

[2019-10-02 07:52] #39735 closed

[2019-10-02 08:21] femsulu commented on #39522
@ralmeidads  apologies for the delayed response. If you haven't already, would recommend following these updated guidelines migrating existing scripts to Az -  detailed [here](https://docs.microsoft.com/en-us/powershell/azure/new-azureps-module-az?view=azps-2.7.0#migrate-existing-scripts-to-az).

will now close this request but please Don't hesitate to respond if you have any follow-up questions.

[2019-10-02 08:21] #39522 closed

[2019-10-02 08:28] 1800Zeta commented on #39594
The Roles is key as well. If it's not passing the correct roles it will fail. You have to be importing them via SCIM, and then assigning them via the assignments panel

[2019-10-02 08:35] femsulu commented on #39632
@stuarthallows this is really valid feedback and we recommend sharing this
Thanks for your valuable feedback. We request you post this [feedback directly ](https://feedback.azure.com/forums/602299-azure-monitor-alert-management) so the responsible engineering team can review and consider adding to a future iteration of the service. This also allows other users to comment and upvote on your idea wh

[2019-10-02 08:35] #39632 closed

[2019-10-02 08:36] JamesBaxterSoftware opened #39932 "How to handle errors when performing a claims exchange?"
When performing a REST API claims exchange and an error occurs e.g. the REST API is down. Currently when a error occurs this is forwarded back to the reply URL with "error=server_error" and "error_description" parameters in the URL. Can i handle this error via custom policies and redirect to a error page? or do i need handle this via writing custom redirect code by checking the parameters in the q

[2019-10-02 08:40] kottimon commented on #39870
Same error here on:
OsName                                                  : Microsoft Windows Server 2016 Standard
OsType                                                  : WINNT
OsOperatingSystemSKU                                    : StandardServerEdition
OsVersion                                               : 10.0.14393

[2019-10-02 08:43] crixo commented on #39663
Thanks @FrankHu-MSFT for your support. Yes, you can close this issue.

[2019-10-02 08:43] fantinis commented on #39777
source(output(
		dt_created as string,
		dt_updated as string,
		dt_filename as string,
		startdate as string,
		enddate as string,
		gadate as string,
		ga30dayusers as string,
		gaaccountid as string,
		gaprofileid as string,
		gaprofilename as string,
		gawebpropertyid as string,
		gawebpropertyname as string
	),
	allowSchemaDrift: true,
	validateSchema: true,
	moveFiles: ['','ADVERITY/GA/ANA/_

[2019-10-02 09:02] alvipeo commented on #39232
@msrini-MSFT Really? Look at SR 119092724003559 of Azure Support ticket and the resolution.

For the tweaking I've everything I could... and opened another ticket.

[2019-10-02 09:11] lukos commented on #39843
It's not that I think the article doesn't work but when I am attempting to create storage using a PVC, it just seems to hang. I have extracted the deployment yaml from Octopus deploy and am running locally so it should be fine since I have admin permissions on the cluster.

I will read through what you did and see if I can spot something that is wrong.

[2019-10-02 09:21] femsulu commented on #39673
@bobbytreed can you review this doc bug ?

[2019-10-02 09:22] alvipeo commented on #39232
Besides, there are NO record in the logs about WAF:

AzureDiagnostics
| where TimeGenerated > ago(9h)
| where OperationName == "ApplicationGatewayFirewall"
| sort by TimeGenerated desc

And I have All possible metrics enabled for Log Analytics and storage account.

[2019-10-02 09:27] femsulu commented on #39693
assigning to doc authors for review.

[2019-10-02 09:31] robertomoir commented on #39870
Also seeing this issue, got a case open with O365 / Azure support for this.

[2019-10-02 09:39] msrini-MSFT commented on #39232
@alvipeo , I have checked the case details, you have entered "89.19.182.48/32." as the IP address. There was a syntax error not with the /32 but with the "." at the end of /32. So by removing the IP you are able to bring the Application Gateway to succeeded state.

/32 IP is supported and I have tested it in my environment. For other queries, please work with support engineers to get a solution.

[2019-10-02 09:41] lukos commented on #39843
OK, the original problem was that some of the content in my storage class and claim was invalid, which was partly because the articles on Azure are not completely clear about the distinction between files and disks and what modes are supported. I think it would be better to have a single page with comments about the differences since they are largely the same...anyway

The other issue is that the

[2019-10-02 09:50] lukos opened #39933 "The (html) title for this page is wrong"
I landed here by clicking a link that talks about creating a disk dynamically "for multiple pods" but this page does not describe that since it talks about Azure disks, which do not support multiple access - I have spent a lot of hours trying to work out why what I was doing was not working. Please update the title to more closely suit what this page is about.

---
#### Document Details

⚠ *Do not

[2019-10-02 10:03] erwinkramer commented on #39884
@mike-urnun-msft  sure,

When in APIM, you can go to the 'Publisher portal', in it, there is an 'Applications' menu item where we are able to see a list of Published applications and Submitted applications.

In the APIM Developer portal there is also a space to see Applications.

[2019-10-02 10:17] sergaz-msft commented on #39872
Hi @ddobric . Can you please check the following githu repo?

-  https://github.com/Azure/Industrial-IoT/blob/master/docs/modules/twin.md

I believe it has the details you are looking for.
Thanks!

[2019-10-02 10:19] femsulu commented on #39698
Hi @jwisener, sorry for the unsatisfactory experience. we take these feedback very seriously and open to any suggestion on how your experience can be improved.

Regarding your question: Here's a sample ARM [template](https://azure.microsoft.com/en-us/resources/templates/monitor-autoscale-failed-alert/) you can review and customize for your scenario. This template creates a simple alert via an acti

[2019-10-02 10:19] #39698 closed

[2019-10-02 10:29] sw-tt-janvivakotar commented on #39570
Thanks @Alberto-Vega-MSFT,  i open new issue on https://github.com/Azure/azure-iot-sdk-python

[2019-10-02 10:41] simonziegler commented on #35478
Please provide some update. This is important, because many people will have the same issue as I have, where you need two subnets. The first is accessible to the internet, while the second is attached to a security group that denies internet access. Apps on this second, private subnet are private and should not be exposed.

[2019-10-02 10:41] RohitMungi-MSFT commented on #39923
@Ziimulis Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-02 10:41] lukos commented on #39843
OK. I found the final problem here: https://github.com/Azure/AKS/issues/1114 apparently, you need to create a minimum of 100GB of premium storage otherwise you get the weird error!

[2019-10-02 10:41] #39843 closed

[2019-10-02 10:43] sergaz-msft commented on #32322
+ @avneet723 as the doc-author to make any changes\enhancements needed to the doc. I will follow-up with you on the other thread @shreyasraghunath .

Thanks!

[2019-10-02 10:44] jonimattila commented on #39870
I can confirm this issue with Server 2016 on latest updates, copied Azure ad folder to Windows 10 laptop run the commands there and successful run. Contacting O365 support just had me running the same command on server over and over.

[2019-10-02 10:54] RohitMungi-MSFT commented on #39925
@arsenyspb Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-02 10:57] RohitMungi-MSFT commented on #39926
@arsenyspb Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-02 10:59] RohitMungi-MSFT commented on #39927
@fab66m Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-02 11:00] sergaz-msft commented on #39844
Hi @shreyasraghunath I noticed you are trying this tutorial on a Mac. @avneet723 can we please confirm if the How-to guide is supported on a Mac?

Thanks

[2019-10-02 11:01] RohitMungi-MSFT commented on #39928
@RamakrishnaPathuri Could you please provide us the link to the documentation you followed before encountering this error? This will help us direct you to the right team.

[2019-10-02 11:03] RohitMungi-MSFT commented on #39929
@CodeSizzler Could you please provide us the link to the document you are referring to? This will help us direct the issue to the right team.

[2019-10-02 11:04] sergaz-msft commented on #39875
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-02 11:08] RohitMungi-MSFT commented on #39930
@BrianMouncer Is it possible to publish the changelog of release along with release notes?

[2019-10-02 11:10] blueelvis opened #39934 "Please add an example for Azure Function for PowerShell Language"
The example for the PowerShell Function is missing in this case. Could you please add that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fff7ae2f-4f02-7ed9-c2ed-a2715e407975
* Version Independent ID: 542016c1-3c25-f6af-cc83-0c5b6218e0ce
* Content: [Azure Blob storage bindings for Azure Functions](https://docs.microso

[2019-10-02 11:11] dazinator opened #39935 "What about windows containers and mounting storage"
I have deployed a windows container image (from ACR) to app service.
I don't use a docker compose file as the app service deploys directly the image from ACR.
How do I mount some persistent storage into my windows container? I assume I need to add a VOLUME to the DOCKERFILE and then what?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-10-02 11:13] alvipeo commented on #39232
Dot?! Damn... I've haven't noticed that AT ALL! Thank you.

[2019-10-02 11:13] JenszSigterman opened #39936 "Runtime does not exist"
In the "Create a Spark cluster in Databricks" section, you say to create a cluster with 5.1 runtime, whilst this runtime does not even exist anymore. Please update.

Kind regards,
Jensz

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 322a9e6d-be2e-69b0-cae0-8007aba12aa6
* Version Independent ID: 837e74fd-2554-8de6-7203-

[2019-10-02 11:15] alvipeo commented on #39232
btw, please remove that IP from your message ;)

[2019-10-02 11:38] RamakrishnaPathuri commented on #39928
While Making up for New SignIn/signup  option localhost we are getting the issue

[2019-10-02 11:43] jonimattila commented on #39870
Office 365 team will not fix this issue since they claim its Windows Server 2016 powershell version issue and they cannot escalate it to server team, basically they are telling me to upgrade 2019 version to fix it permanently

[2019-10-02 11:43] shreyasraghunath commented on #39844
Thanks @sergaz-msft, some of the above issues were mitigated and I ran into some new problems. I created a new issue, https://github.com/Azure/remote-monitoring-services-dotnet/issues/251

@avneet723 , can you please help out with the issue.

[2019-10-02 11:56] beastofbobmin commented on #39533
Do we have an eta on fixing this?

[2019-10-02 12:03] vcbinoy opened #39937 "Its not clear the performance data mentioned in thisdocument is collected in a managed or agentless scenario"
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a4a21a9-fcda-355f-6668-21cd3adf25af
* Version Independent ID: 659ad43a-882f-1510-36df-dd1d994b6a09
* Content: [Azure Migrate appliance architecture](https://docs.microsoft.com/en-us/azure/migrate/migrate-appliance)
* Content Source: [articles/migrate/migrate-appliance.md](http

[2019-10-02 12:04] akkensheen opened #39938 "python ctype check and tar error"
Hi
I have problem installing LA agent on Ubuntu 18.04 thought it's supported. First of all I don't want to install python so check worked, I already have python3 and it has ctypes.
After changing python version in omsagent-1.11.0-9.universal.x64.sh I got another error:
...
Extracting...

gzip: stdin: unexpected end of file
tar: Child returned status 1
tar: Error is not recoverable: exiting now
Fai

[2019-10-02 12:05] vcbinoy commented on #39937
Its not clear the performance data mentioned in this document is applicable to a managed (Agent) or agentless scenario. Customers are particular about every single data collected by any assessment tool. please provide some additional contexts

[2019-10-02 12:11] souravmishra-msft commented on #39821
@Norrch2, The value for "**issuerUserId**" is already base 64 encoded. You can directly decode them to get the actual value.

Do let us know if this response helped you in answering your query.

[2019-10-02 12:14] robertomoir commented on #39870
That's.... helpful.

[2019-10-02 12:21] sofianemad opened #39939 "Confusing steps to enable the connector"
I see from a previously opened issue that the steps described in the following page must be followed for the connector to work:
https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-firewall/configure-the-windows-firewall-log

If that's really a need, this must be indicated in the article.

Searching for SecurityEvent in log analytics returns results but still, the data conne

[2019-10-02 12:23] 1800Zeta opened #39940 "Example should be updated"
In the example you have

[code]
PowerShell best practice is to have $null -eq $variable, rather than $variable -eq $null.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61a8e04d-88ce-9092-221a-b615929be03e
* Version Independent ID: af069c3d-93bd-2f44-9604-50e988b215a2
* Content: [Compiling configurations in Azure Autom

[2019-10-02 12:34] LaloCo commented on #39595
Thanks for the response @dhei

I tried that, but is it normal that there are no folders inside the wwwroot? Is creating the tables folder enough? The sample code requires `azure-mobile-apps`, but there is no node modules folder, nor are there files that would have normally be created 🤔

When I try to insert to the table from a mobile app I keep getting 404 responses.

[2019-10-02 12:56] marnheus opened #39942 "Custom Track Availability tests"
The documentation is not clear on how to use this.
Are supposed to host an application somewhere that will call this method to send availability data?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10858323-1827-1c73-b93a-7c133bae54ba
* Version Independent ID: 3ed5fda4-c916-dcb0-a3b2-a0bb534d8bdb
* Content: [Monitor av

[2019-10-02 12:56] RohitMungi-MSFT commented on #39932
@JamesBaxterSoftware Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-02 12:59] NovoJeep commented on #39655
@Alberto Vega<mailto:notifications@github.com> unfortunately for adoption reason, we cannot ask customer to open  TCP 8883 and on our side, the Equipment we use (which we don’t make) is only able to communicate with standard MQTT protocol without being encapsulated in Websockets…

From: Alberto Vega <notifications@github.com>
Sent: mercredi 2 octobre 2019 02:45
To: MicrosoftDocs/azure-docs <azure-

[2019-10-02 13:07] RohitMungi-MSFT commented on #39826
@pmontanaro It would be great if you can let us know the doc link used when you encountered the issue to direct you to the right team.

[2019-10-02 13:09] RohitMungi-MSFT commented on #39928
@RamakrishnaPathuri Which service are you referring to? Please provide more details like the azure documentation link for the steps you followed.

[2019-10-02 13:09] batesandy commented on #36343
Just wanted to second the above. I'm looking at jit enablement and falling over these gotchas

[2019-10-02 13:11] RohitMungi-MSFT commented on #39933
@lukos Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-02 13:13] RohitMungi-MSFT commented on #39934
@blueelvis Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-02 13:13] gerrynicol opened #39944 "Central Store for GPO's with Azure AADDS"
Hi there,

Could there be more information added to this document detailing the lack of support for creation of a central store for GPO templates in AADDS.

https://support.microsoft.com/en-gb/help/3087759/how-to-create-and-manage-the-central-store-for-group-policy-administra

Thanks
Gerry

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-10-02 13:13] SamaraSoucy-MSFT commented on #39942
Hi @marnheus

Thank you for your question. I will take a look and get back with you shortly.

[2019-10-02 13:15] RohitMungi-MSFT commented on #39937
@vcbinoy Could you please update the document link that you are referring to? This will help us redirect the issue to the right team.

[2019-10-02 13:26] nitvit610 opened #39945 "MFA Location"
MFA is not showing up for me under Azure Active Directory &gt; MFA but instead Azure Active Directory &gt; Security &gt; MFA

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84b26750-880c-8f14-1628-436293de915e
* Version Independent ID: 518b727f-79e8-b5c2-bcb3-ff4de3444c6f
* Content: [Configure Azure Multi-Factor Authent

[2019-10-02 13:27] andreibarsa opened #39946 ".net SDK for Data Lake Storage Gen2"
Is there a release date for a .net SDK?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f41dfad-9591-8a8d-6119-259d90da18c7
* Version Independent ID: f4bc3316-a230-a486-d1f7-69962ec8030e
* Content: [Upgrade your big data analytics solutions from Azure Data Lake Storage Gen1 to Azure Data Lake Storage Gen2](https://docs

[2019-10-02 13:39] vcbinoy commented on #39937
https://docs.microsoft.com/en-us/azure/migrate/migrate-appliance

[2019-10-02 13:43] tkerkman commented on #30381
I am having the same issue with receiving the error "Could not attach to process with CustomPipeName: 'AzureFunctionsPSWorker'.. The Wait-Debugger not working.  I am using PS 6.2 and VS Code is configured as shown in black screen shots above. I followed these [instructions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-powershell):

[2019-10-02 13:52] Get-Ryan opened #39947 "Data disk limit for Azure VMs appears to have been increased"
I've noticed that Azure backups for Azure VMs with 8TB data disks are now completing successfully. This appears to have been a recent change (mid-Sept 2019), but if it is indeed a permanent change, the documentation should be updated to reflect the new support max data disk size.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-10-02 13:55] SamaraSoucy-MSFT commented on #39942
@marnheus you are correct. `TrackAvailability()` is an SDK method that allows you to send results from your own application. I've put in a PR to adjust the wording.

I am going to close this issue. If you have further questions please tag me in your comment.

[2019-10-02 13:55] #39942 closed

[2019-10-02 13:57] fantinis commented on #39777
I've discovered the issue:
according to the source "from" tooltip
All source files under the provided path will be moved. The path starts at the source container root and can point to a folder or a file. Leave this option blank to move all source files.

In fact, I'm not using any wildcards in the source path, and I left empty the "from", but since 09-26 the files doesn't move.
I'm adding the sour

[2019-10-02 14:01] bkocis opened #39948 "Client issue"
I have the Free account, set up the web app, pushed the code, the sensor data is delivering the values, the app works on localhost, but the web app gives error:
Firefox can’t establish a connection to the server at wss://<WEBAPP>.azurewebsites.net/
It is the same error in Chrome as well.
I could not find anything usable on by googling.
IS this due to the type to the account that I have (free accou

[2019-10-02 14:09] mrbullwinkle commented on #39942
@marnheus we have a new doc that should be coming out next week which provides a step-by-step example of using an Azure Function + the TrackAvailability() method to create your own customizable availability monitoring solution. Adding @lgayhardt for awareness so she can update this thread with a link when the new doc goes live.

[2019-10-02 14:16] SeanFeldman opened #39950 "Metrics names do not match"
This question stems from the [StackOverflow question](https://stackoverflow.com/questions/58202883/azure-service-bus-queue-message-proccessed-vs-active-message-proccessed/58203311). Could you please review and validate that `Messages` and `ActiveMessages` are indeed the counterparts of  Messages processed` and `Active messages processed` respectively? And if so, talk to the AppService team to alig

[2019-10-02 14:28] sampayo123 opened #39951 "Buenos dias, he tenido problemas con la conversacion de varios turnos, en QnA Maker me aparece a la perfeccion, pero al intentar probarlo en Teams o en BotFramework Emulator, no me aparecen los botones de guia, gracias de antenmano"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-10-02 14:30] #39857 closed

[2019-10-02 14:34] chijiokeNwafor opened #39952 "Documentation needs to be updated."
Hello Team,

According to this document https://docs.microsoft.com/en-us/azure/availability-zones/az-overview, it has a list of regions that has Availability Zones enabled. However, checking on the Portal, I can confirm that East US is available but the documentation states otherwise which is quite misleading.
Would appreciate if it can be updated.

---
#### Document Details

⚠ *Do not edit this s

[2019-10-02 14:40] GiftA-MSFT commented on #39855
Duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/39862.

[2019-10-02 14:40] #39855 closed

[2019-10-02 14:51] Deltaxel opened #39954 "MsalClientException: 'User canceled authentication.' on UWP app."
Hi,

I observe an issue when trying to get the interactive token in my UWP application. I tried the different samples and tutorials and the same exact error happen.

An exception with message 'User canceled authentication.' is raised. However, nothing was shown or done on the user side. Authentication fails before even starting.

I tried to add the tenant ID, add different redirect UCI, change app

[2019-10-02 14:55] DavidJFowler opened #39955 "Unable to sign up to woodgrove app"
I click "Sign Up with your work account", enter my AAD credentials and I am redirected to https://woodgrovegroceriesb2cdemo.azurewebsites.net/b2c-signin-callback

with this error message:
[code]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 245ef8a4-a811-19b7-676c-aa9b82e2126f
* Version Independent ID: ad2ec743-2aa7-b

[2019-10-02 14:56] GiftA-MSFT commented on #39799
@swanderz please let us know if you have further questions so we can continue the discussion, otherwise we'll close this thread by EOD if that's okay. Thanks.

[2019-10-02 15:01] souravmishra-msft commented on #39945
@nitvit610, Yes MFA settings have been clubbed together under the Security Section of AAD. This is a new change that has been pushed out recently.

Feel free to re-open this thread in case there are any more queries around this.

[2019-10-02 15:01] #39945 closed

[2019-10-02 15:02] bvkiran commented on #39777
As you mentioned adding the source path should solve the issue. The first empty value you see in the plan moveFiles: ['','ADVERITY/GA/ANA/_PROCESSED'],  will translate to / which is root of the container.
You can get better functionality using the wildcard  in dataflow source instead of folderPath in dataset

[2019-10-02 15:02] amarnathprofisssional opened #39956 "AADSTS50107: Requested federation realm object 'https://sts.windows.net/xxxxxxxxxxxxxx' does not exist error is coming while calling the token api with assertion token"
I have followed with the continuation of below link.
https://github.com/MicrosoftDocs/azure-docs/issues/37742

While calling the token api call, we are getting below error.

{"error":"invalid_request","error_description":"AADSTS50107: Requested federation realm object 'https://sts.windows.net/xxxxxxxxxxxxxxxxxx/' does not exist.\r\nTrace ID: 61e097a6-dfa7-4869-b573-ea8e0ec25100\r\nCorrelation ID:

[2019-10-02 15:03] souravmishra-msft commented on #39613
@crixo, I tested the V1 and V2 User flows clubbing them together, and found no issues in operation.

[2019-10-02 15:06] mmacy commented on #39955
@DavidJFowler Hi David, thanks for the heads-up! This looks like a bug in the application, can you open an issue in the application's repository, here:

https://github.com/Azure-Samples/active-directory-external-identities-woodgrove-demo

I'm happy to do so if you'd rather not. Let me know, if so.

As this isn't a doc issue, I'll request this issue be closed. We'll reference this issue in the samp

[2019-10-02 15:06] #39955 closed

[2019-10-02 15:10] solbkeston opened #39957 "Logging in with Bastion with cross domain credentials"
I have run into problems using Bastion when I need to specify the accounts domain to connect with.  For example, you have 5 VMs, each are in a different child domain in the same forest.  You have an AD account in domain A.  If you try to login to Bastion on the other 4 VMs on Domains B, C, D, and E, you get a login error.  You never get past the bastion page so there isnt an opportunity to use the

[2019-10-02 15:11] souravmishra-msft commented on #39470
@cap273, Thank you for sharing the update. I will try to post a response on the MSDN thread too.
Regarding this thread, do let me know if there are no more queries on this thread, so that we can close this thread out.

[2019-10-02 15:13] kevinsul opened #39958 "Getting 'ImportError: No module name 'azure' when running camerCapture module"
I am trying to get this to work and I can’t seem to get the cameraCapture module to run.  I can get it to deploy to my edge device along with the classifier.  The classifier runs successfully, but the cameraCapture module immediately exits with the following:

 File "./main.py", line 10, in &lt;module&gt;
    from azure.iot.device import IoTHubModuleClient, Message
ImportError: No module named 'az

[2019-10-02 15:15] GrottoKing commented on #39870
Chiming in to add I'm also experiencing this issue, and I also worked around the issue for now following @jonimattila 's recommendation. I copied the contents of "C:\Program Files\Microsoft Azure Active Directory Connect" to a Windows 10 machine and followed the usual Kerberos rollover instructions.

The machine on which I experienced the problem is running Windows Server 2016, Version 1607 (OS Bu

[2019-10-02 15:16] mbiver opened #39959 "AzCopy Error Uploading"
Following the steps above to upload a vhd as a managed disk and getting an error on the AzCopy.  Any help appreciated.

Command:
& "$env:SystemDrive\azcopy_windows_amd64_10.2.1\AzCopy.exe" copy "E:\fixed\VHDNAMEHERE.vhd" $diskSas --blob-type PageBlob

Error:
failed to parse user input due to error: the inferred source/destination combination is currently not supported. Please
post an issue on Gith

[2019-10-02 15:16] msmimart commented on #39038
Thanks again for your comment. We’ll close this issue now, but if you have additional concerns please let me know. #please-close

[2019-10-02 15:16] #39038 closed

[2019-10-02 15:19] Karishma-Tiwari-MSFT commented on #39959
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-02 15:25] msmimart commented on #39520
@ryanspletzer this is the full list of operators that are publicly available right now. Thanks for your comment and the heads up on this article; we'll make changes as updates become available. #please-close

[2019-10-02 15:25] #39520 closed

[2019-10-02 15:26] GiftA-MSFT commented on #39882
@jadhosn thanks for clarifying.
@j-martens it seems the AutoMLConfig class is missing model_explainability in the parameters. The following [document](https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-auto-train-remote#enable-model-explanations) specifies that users can set  the optional model_explainability parameter in the AutoMLConfig constructor, but details are not provid

[2019-10-02 15:32] boscoedash opened #39960 "The Configuration Template is not formatted correctly and can't be deployed"
# Summary
In the following [article](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/template-workspace-configuration#configure-a-log-analytics-workspace), the template is formatted incorrectly. The braces are out of line and the template cannot be deployed. The specific template is in **Configure A Log Analytics Workspace** section
##
The fix is as follows:
- Move the closing square

[2019-10-02 15:33] mbiver commented on #39959
I think I found the issue.

The line above:
AzCopy.exe copy "c:\somewhere\mydisk.vhd" $diskSas --blob-type PageBlob

Needs to be:
AzCopy.exe copy "c:\somewhere\mydisk.vhd" $diskSas.AccessSAS --blob-type PageBlob

[2019-10-02 15:34] xtianus79 commented on #39397
@IEvangelist awesome!!! When you say, "Get the container updated," what do you mean exactly?  Does this mean the repository the container can pull the Luis instance from?  So this would be an updated docker Luis pull?

Also, where can we follow the release of these features and addons?

Lastly, what does this mean in the sense of how the bing service will work from the container.  Meaning, when th

[2019-10-02 15:36] swanderz commented on #39799
@sanpil @lobrien  @heatherbshapiro @trevorbye this is something I've brought up a few times before.

Here's my use case:

My current workaround is to save both to the `PipelineData` _and_ to the reserved `'./outputs'` dir (see below). But this seems redundant?
[code]

[2019-10-02 15:44] MicahMcKittrick-MSFT commented on #39952
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-02 15:45] ericmitt commented on #39958
Works fine with Python 3.6.8 or 3.7.3.

[2019-10-02 15:47] MicahMcKittrick-MSFT commented on #39758
@gutzeit1106 I see you are engaged on the offline thread we have going on. We will close this and continue there. If doc updates are needed once we are are done we can take care of it.

[2019-10-02 15:47] #39758 closed

[2019-10-02 15:49] bandersmsft commented on #39548
@clarkmac I'm closing this issue for now. When we have clear guidance from the engineering team to share with readers, I'll update the article to add them.
#please-close

[2019-10-02 15:49] #39548 closed

[2019-10-02 15:49] xtianus79 commented on #39397
@cahann Are you saying the bing spell check service won't be in the same cognitive service as the Luis container? This would be very counterproductive to the on-prem solution we trying to achieve. I would like to have clarity on this as much as possible.  In the next update for the container what does that mean exactly.

In general there are vital parts and pieces that when you make the heart and

[2019-10-02 15:52] ericmitt commented on #39958
but not with Python2.7.14

[2019-10-02 15:54] MicahMcKittrick-MSFT commented on #39952
@chijiokeNwafor where does it state otherwise? The table in the doc you provided shows East US as available for AV Zones

![image](https://user-images.githubusercontent.com/32313503/66060309-47d6f880-e4f2-11e9-8544-b58d6945fc52.png)

[2019-10-02 16:02] btardif commented on #39906
@RohitMungi-MSFT I think the ask here was to link from the doc to the command reference. in that case this issue should remain assigned to me and I can do a quick doc update

[2019-10-02 16:05] LarsKemmann commented on #35171
Any update? I'm looking at setting this up as a stateful service, with a single replica per partition. In this way, we can use in-memory caches of the underlying data store (the Azure blob containers) within the replica instances, and since we'll always be directing traffic to the *only* existing instance within a replica at any given point we'll avoid cache inconsistencies between different repli

[2019-10-02 16:11] ericmitt commented on #39958
We should specify the min version of Python needed for this sample

[2019-10-02 16:11] hhmaity commented on #16950
@saurabhsensharma when I try the Remove-AzureADObjectSetting I get

Remove-AzureADObjectSetting -TargetType Groups -TargetObjectId $groupID -Id $settingId
Remove-AzureADObjectSetting : Unexpected character encountered while parsing value: <. Path '', line 0, position 0.
At line:1 char:1
+ Remove-AzureADObjectSetting -TargetType Groups -TargetObjectId $group ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2019-10-02 16:14] FrankHu-MSFT commented on #39944
Hey @gerrynicol thanks for your comment, we're currently investigating the issue and will get back to you as soon as possible.