[2022-01-25 04:02] RyanHill-MSFT commented on #86651
Apologies for the late reply @SGeorge007. Health check probing is against the app service, not a particular _type_ running on the platform. When you [enable health check](https://docs.microsoft.com/en-us/azure/app-service/monitor-instances-health-check#enable-health-check), you can set the URL to anything you want, as long as it's a valid URL for your application that will return a 200. For your a

[2022-01-25 04:02] #86651 closed

[2022-01-25 04:09] RyanHill-MSFT commented on #86755
I do believe you are correct @yutaro113. I'll submit a PR and request the doc author cofirm.

[2022-01-25 04:15] mike-urnun-msft commented on #86619
Hello @Dorus - This seems to be a temporary issue where, as the newer version is rolling out around the world across different Azure data centers, the particular version is yet to be available at the location/region you've selected. Could you try a different location instead?

@tfitzmac could you confirm the above?

[2022-01-25 04:37] ShaikMaheer-MSFT commented on #86858
@viters Thank you for sharing feedback.

@duongau Could you please validate feedback and enhance document as appropriate.

[2022-01-25 04:45] ShaikMaheer-MSFT commented on #86856
@ezYakaEagle442 Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-01-25 04:47] ShaikMaheer-MSFT commented on #86863
@jackchenwork Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-01-25 04:48] ShaikMaheer-MSFT commented on #86869
@asukumar22 Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-01-25 04:58] SwathiDhanwada-MSFT commented on #86873
@dingliu Thanks for your comment. We will review the issue and get back to you shortly.

[2022-01-25 05:16] ShaikMaheer-MSFT commented on #86559
PR merged. Changes will be reflected in next build release soon.

[2022-01-25 05:16] #86559 closed

[2022-01-25 05:18] ShaikMaheer-MSFT commented on #86560
PR will be merged and changes are going to reflect in doc in next build.

[2022-01-25 05:18] #86560 closed

[2022-01-25 05:29] SnehaAgrawal-MSFT commented on #86449
@nastassiar Thanks again for the feedback! The PR has been raised once reviewed by author will be visible in doc.

We will close this out but if you feel you need more information please just let us know.

[2022-01-25 05:29] #86449 closed

[2022-01-25 05:31] yayongwang commented on #86415
It seems the document is still not update.   "Filter for devices condition in include mode using the following rule device.trustType -ne "ServerAD" **-and** device.isCompliant -ne True"  should be used.

[2022-01-25 06:00] SatishBoddu-MSFT commented on #86828
#

[2022-01-25 06:21] Frankd4 opened #86876 "Unable to connect to Azure SQL Database using Python 3 from Mac, as per the steps mentioned in the link"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7027370-2cda-fc7c-68f4-9f6aeeb4ee80
* Version Independent ID: 025794c1-a35e-2c6e-15ae-c0985a2ee082
* Content: [Use Python to query a database - Azure SQL Database & SQL Managed Instance](https://docs.microsoft.com/en-us/azure/azure-sql/database/conne

[2022-01-25 06:56] ChaitanyaNaykodi-MSFT commented on #86869
Hello @asukumar22, the known issues and limitations of the Azure Firewall are [documented here](https://docs.microsoft.com/en-us/azure/firewall/firewall-faq). Service level limitations are [documented here](https://docs.microsoft.com/en-us/azure/firewall/firewall-faq#what-are-the-known-service-limits). Please do let us know if you have any additional concerns. Thank you!

[2022-01-25 07:06] AnuragSharma-MSFT commented on #86876
@Frankd4 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-01-25 07:30] ravipath commented on #86828
Yes, thank you. The files are present.

[2022-01-25 07:30] #86828 closed

[2022-01-25 07:34] chanuengg commented on #86824
@rabbyn Thanks for reporting the issue. We are working on a feature to report datasource(in your example Synapse tables) lineage for PBI datasets. ETA Q2 2022. The lineage will be captured by scanning PBI data source.

Scanning Synapse workspace not showing LakeDB objects is a different issue. We will amend the document to capture the current scan does not cover Lake databases. Having said that we

[2022-01-25 07:51] KrishnaG-MSFT commented on #86565
Verified and updated the document as required. The change should reflect soon i.e., in less than 24 hours. Thanks again!

[2022-01-25 07:51] #86565 closed

[2022-01-25 08:00] KrishnaG-MSFT commented on #86583
Verified and updated the document as required. The change should reflect soon i.e., in less than 24 hours. Thanks again!

[2022-01-25 08:00] #86583 closed

[2022-01-25 08:36] astaykov opened #86878 "Groups Claim customization only available for SAML Apps - please update docs"
From this documentation it is not explicitly clear that `Advanced options` is only available for SAML Apps and not for OIDC/OAuth apps.
Please update the `Important` section/s to explicitly include this information. Otherwise, an individual reading this article will think that Groups filtering is available for all apps. Which is not correct.

---
#### Document Details

⚠ *Do not edit this section.

[2022-01-25 08:59] Marusyk commented on #86799
the loophole works well

[2022-01-25 09:04] gbmarimuthu opened #86879 "Keyvault backed Secret Scope Using Databricks CLI"
[Enter feedback here]

Keyvault backed Secret Scope Using Databricks CLI  is lacking information, Please add required information to create keyvault based secret scope from Databricks CLI.

"You need an Azure AD user token to create an Azure Key Vault-backed secret scope with the Databricks CLI. You cannot use an Azure Databricks personal access token or an Azure AD application token that belongs

[2022-01-25 09:18] tomkuijsten opened #86880 "Retry policy on Service Bus doesn't work as described in documentation"
The retry policy does not work as described in the documentation for Service Bus triggers.

The reason behind this is that the SB message works with a lease lock, when this expires, another listener on the subscription/queue will receive the message. The ``` FixedDelayRetry ``` doesn't renew the lock, hence it will not work.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2022-01-25 09:29] AwdotiaRomanowna opened #86881 "separate user for replication"
hi, it's much better practice to have a separate user for replication purposes, not using the regular admin account as stated here: "Grant the admin user replication permissions."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d7e3fa6-b282-55d8-ef23-ce4a106edf3f
* Version Independent ID: d815c733-fce0-dc0e-8d8b-c8c76a

[2022-01-25 09:39] PramodValavala-MSFT commented on #86880
@tomkuijsten The Service Bus extension auto renews the lock even while the fixed delay retry is cooling off. This is the same behavior even for long running function invocations even if the lock duration is a small value. The extension handles the renewal.

[2022-01-25 09:42] csiakgyula opened #86882 "What is Secondary Key used for?"
Hi,
Could you please clarify, what is Secondary Key Value used for? Is it a "Backup Value", when Primary Key would not function within the Primary Connection String or...?
Thanks in advance for your help!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47fbe533-9b56-de1e-0bf0-b5acc091541b
* Version Independent ID: 146c6

[2022-01-25 09:52] tomkuijsten commented on #86880
This is not the behavior I see when running multiple listeners on my local machine. My setup is as follows:

- 1 topic with 1 subscription with a lock timeout of 10 seconds
- 2 instances listening on the subscription
- The listening function has the follow attribute: ``` [FixedDelayRetry(1, "00:00:30")] ```

The behavior I see is that instance #1 receives the message (DeliveryCount=1), then waits

[2022-01-25 09:56] nkumars opened #86885 "Home folder in new App services have its partitioned drive changed from D to C"
Hi,

In all new web apps I have created, I see there is a change in partitioned drive while the old app services still runs with the same partition. Attached two screenshots of old and new respectively

1. Why there is a change in the partitioned drive for **home** folder from **D** to **C**?
2. Why there is no documentation regards to the decision?

_There are many questions around it, but would

[2022-01-25 10:08] HarriJaakkonen opened #86886 "Validate signature instructions"
Signature validation page is showing wrong information I believe.

https://docs.microsoft.com/en-us/azure/active-directory-b2c/tokens-overview#validate-signature has the links in wrong format.

It's saying that the validation links are:

https://contoso.b2clogin.com/contoso.onmicrosoft.com/b2c_1_signupsignin1/discovery/v2.0/keys
https://contoso.b2clogin.com/contoso.onmicrosoft.com/b2c_1_signupsign

[2022-01-25 10:17] marcschier commented on #79082
I have added an issue on GitHub in the OPC Publisher repo to look into this.

[2022-01-25 10:23] karok2m commented on #79082
@simonfrindberg, we have created a an issue ([#1529](https://github.com/Azure/Industrial-IoT/issues/1529)) in the [product repository of OPC Publisher](https://github.com/Azure/Industrial-IoT) to track this.  If you are still seeing the problem, can you please test with the latest `2.8.1` version of OPC Publisher and check if the issue still happens in that version. If it does, can you please prov

[2022-01-25 10:31] dcurwin opened #86887 "Cloud App Security has been renamed Defender for Cloud Apps."
Cloud App Security has been renamed Defender for Cloud Apps.

I'm responsible for Defender for Cloud Apps documentation. Feel free to be in contact with me if you have questions about the rebrand.

Thanks,

David

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8eadd92
* Version Independent I

[2022-01-25 10:32] tesharp opened #86888 "Using azure portal with namespace scopes priviledges"
We only want users to have access to certain namespaces and therefore scoping rbac roles to namespaces in AKS. This works great when using `kubectl` for accessing Kubernetes, but not so great in Azure Portal. Since scoping read access to namespace it does not grant access to list namespaces, and browsing resources in Azure Portal will just give error messages then. Would be nice if you could only

[2022-01-25 10:33] Mike-E-angelo opened #86889 "Grammar Adjustment"
I may be incorrect here, and the coffee has not kicked in yet, but this appears to be two sentences when it should be one:

[code]

Should be:

[code]

In any case, I would like to voice my continuing appreciation for all the excellent work done here with Microsoft documentation. 👍

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2022-01-25 10:38] dcurwin opened #86890 "Cloud App Security has been renamed Defender for Cloud Apps."
Cloud App Security has been renamed Defender for Cloud Apps.

I'm responsible for Defender for Cloud Apps documentation. Feel free to be in contact with me if you have questions about the rebrand.

Thanks,

David

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bccc0702-4fcb-a84f-d998-d5d7e3ed90ad
* Version Independent I

[2022-01-25 10:43] romankiss commented on #86005
Hi @dominicbetts, please could you reassign this issue (IoT Central Bug) to another person?

Thanks
Roman

[2022-01-25 10:55] dcurwin opened #86891 "Cloud App Security has been renamed Defender for Cloud Apps"
Cloud App Security has been renamed Defender for Cloud Apps.

The old term appears in dozens of your pages. Can you do a search and replace where appropriate on your pages?

I'm responsible for Defender for Cloud Apps documentation. Feel free to be in contact with me if you have questions about the rebrand.

Thanks,

David

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-01-25 10:57] deyanp opened #86892 "Re-phrase the 4. Select your subscription to clearly indicate the delegated directory must be clicked!"
Section 4. Select your subscription is misleading, and it does not clearly indicate what you should do, namely - in the dropdown for Current + delegated directories the delegated directory must be checkmarked as well!

Thanks to the excellent video, which I watched later, after wasting 2-3h trying to understand why do I get the error message

when I go to the AAD B2C tenant, AAD, Diagnostic Settin

[2022-01-25 11:03] ThierryBT opened #86893 "Tag contributor RBAC"
Hello to all,
For my opinion (and tests), the tag contributor is not correct
https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#tag-contributor.
For example, unable to add tag on microsoft.storage/storageaccounts and microsoft.xxxxxxxxxsql/servers (all sql type)
Unable to add tag without reader acces (      "actions": [
        "*/read")
Have a good day.
Thierry

---
#

[2022-01-25 11:11] PriyankaRudramaina commented on #86888
Hello @tesharp,

Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@palma21 - Requesting you to review this and share an update

[2022-01-25 11:12] zeeshaanali commented on #84897
Hi @mathapli  and @sharroy ,
I agree other publishers now including me are using this. But there are things which are left to figure out on your own and each of my points mentioned in the original description holds true which forces to spend more time to solve the puzzles.

Later I was also able to make the API calls via PowerShell script. Unlike curl section, PowerShell section doesn't mentions a

[2022-01-25 11:15] koder101 commented on #85182
@mathapli @ebolton-cyber  @sharroy
Was it resolved?

[2022-01-25 11:16] jesusbagpuss opened #86894 "Inconsistencies/corrections to documenataion"
On this page there are a few pieces of documentation / example code that are inaccurate or mis-matched:

https://docs.microsoft.com/en-us/azure/site-recovery/vmware-physical-mobility-service-overview#installation-settings-1

- Step 2: `sudo ./install -d <Install Location> -r Agent -v VmWare -q`
  would be better to have optional parameters at end of argument list, indicated as such:
  `sudo ./inst

[2022-01-25 11:19] sharroy commented on #85182
@koder101 - As @mathapli has mentioned, we are working on a self-test API that will include all possible test scenarios. From the perspective of tracking progress, publishers will be communicated over email on the same before release. Does that help with the concern?

[2022-01-25 11:21] Sharmistha-Rai commented on #86894
@jesusbagpuss - thanks for the feedback. We will make appropriate changes to this documentation for better readability and error removal.

[2022-01-25 11:23] jesusbagpuss commented on #86894
No worries. If you want me to submit a PR with any of the above I can.

[2022-01-25 11:34] mark-conlan opened #86895 "Broken links"
When reading this page I clicked on links for (Windows 365 Enterprise pricing) but the link didn't work.

Error: We are sorry, the page you requested cannot be found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f5820d1-1b49-3c41-62c3-c5fd53f87bb5
* Version Independent ID: 30fe88af-8d7b-79da-a179-b25b7063e187
* Cont

[2022-01-25 11:35] dan-dimitrov opened #86896 "Definition of Docker Disks"
It is unclear as to what the "Can I protect a virtual machine that has a Docker disk?" actually means. Users are interpreting this to mean that ASR is not supported (in an Azure to Azure scenario) for any virtual machine that has Docker installed and running on top of a regular virtual machine with regular managed disks. Is this indeed the case, or is this referring to other type of Docker disks s

[2022-01-25 11:47] junghyeon-ryu commented on #85487
Hello @JimacoMS4  thank you for your update. I am happy to see the explicit explanation regarding devices connecting over HTTPS, this addresses my concerns so I hope our customer can refer to this documentation to understand the behavior.
Thank you for your help, and you can archive this case for the time being. Thank you for your effort again.

[2022-01-25 11:49] Sharmistha-Rai commented on #86894
@jesusbagpuss - that would be great. I will be happy to review and approve.

[2022-01-25 12:08] asergaz commented on #86872
Hi @kent010341 ,
Thanks for your suggestion to enhance this doc. As per Azure Functions Doc, when we use Visual Studio, samples are typically written with C#. Though when using Visual Studio Code you can find examples using Java: https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-vs-code-java .

Unfortunately we don't have sample code written in Java for this specific How

[2022-01-25 12:09] asergaz commented on #86872
.......................

[2022-01-25 12:33] jr-MS opened #86897 "Wrong link to 'create Anomaly Detector'"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a359bfb9-716c-1fcc-97e3-8745ee331363
* Version Independent ID: 3cacf1b3-8cbc-e5dc-c171-8cc4430efdd2
* Content: [Quickstart: Prerequisites for Cognitive Services in Azure Synapse Analytics - Azure Synapse Analytics](https://docs.microsoft.com/en-us/azu

[2022-01-25 12:40] #86895 closed

[2022-01-25 12:42] PriyankaRudramaina commented on #86895
Hello @mark-conlan,

I have made the necessary changes in the document and it will be refected in the public document shortly.

[2022-01-25 12:46] ankur8 opened #86899 "link for updating custom data with azure cli is not correct"
[Enter feedback here]
In FAQ it talk about updating custom data for vmss via azure cli via hyperlink which is not taking to solution instead giving  cli commands for vmss where there is not a single command where we can update custom data for vmss via azure cli. if there is solution pls take direct to that cli only. Misleading

---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-01-25 12:51] PriyankaRudramaina commented on #86899
Hi @ankur8,

Thank you for bringing this to our attention. Your feedback is current;y being review, I shall get back shortly.

[2022-01-25 12:55] Karishma-Tiwari-MSFT commented on #86838
Thanks for sharing the update.

[2022-01-25 12:58] Karishma-Tiwari-MSFT commented on #86674
\We will now close this issue. Please share the details when you get a chance and tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-01-25 12:58] #86674 closed

[2022-01-25 13:01] Ozzian commented on #86604
Perhaps the documentation could be improved around the [WEBSITE_CONTENTAZUREFILECONNECTIONSTRING  ](https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#website_contentazurefileconnectionstring)

It says

And if you follow the link, it says that it is only required for premium functions
![image](https://user-images.githubusercontent.com/8628769/150981236-b23e13b9-6a2c-40db

[2022-01-25 13:02] Karishma-Tiwari-MSFT commented on #86150
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-25 13:03] sgerace opened #86902 "Rewrite DNS example in docs not working as expected"
I'm trying to implement a simple DNS rewrite in our AKS instance and the provided example:

[code]

Is not working. If I look at the logs from the coredns pods, I see the following:

[code]

However, if I add the following:

[code]

Then it works as expected and I receive the following:

[code]

and requests are routed properly.

I'm trying to understand if this is expected and correct behavior. I

[2022-01-25 13:05] Karishma-Tiwari-MSFT commented on #86038
Thanks for clarifying. We have another issue open and assigned to the author to make updates to the document regarding the change you have requested for.
https://github.com/MicrosoftDocs/azure-docs/issues/86150

We will be tracking it with that issue.

Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a c

[2022-01-25 13:08] jfaurskov opened #86903 "Key vault for holding CAK/CKN should not be on private endpoint"
When describing the key vault it should be specified that the key vault cannot be on private endpoint since communication to ExpressRoute management plane is required.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d55ccda-fe86-6732-41d3-abea758842c8
* Version Independent ID: 4e043350-9d88-a57f-e743-a169d73d86be
* Con

[2022-01-25 13:10] raymonvt3fifty opened #86904 "following the instructions gives the error that the current tenant isnt authorized for the subscription that is hosting the image"
When using Azure CLI inside azure Devops and following the steps in this document im getting the following error:
however the current tenant '***' is not authorized to access linked subscription

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a777eea0-acf4-6f1d-9e56-e6069dddc577
* Version Independent ID: d858a0bd-ec1c-4

[2022-01-25 13:50] ShaikMaheer-MSFT commented on #86879
@gbmarimuthu Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-01-25 13:51] sinedied commented on #86546
@hpsin I created a brand new account just for this, and tested on a private session to make it's not due to extension and cookies. I also had a colleague from my team test this and he had the same result as me.

Is working for you with a brand new postman account, using the web postman version?

[2022-01-25 13:51] samgoudie commented on #78424
This is still outstanding, the following FAQ should be updated to include support for VPN via private endpoint
https://docs.microsoft.com/en-us/azure/site-recovery/site-recovery-faq#can-i-replicate-over-a-site-to-site-vpn-to-azure-

[2022-01-25 13:52] ShaikMaheer-MSFT commented on #86896
@atikmapari Could you please validate customer feedback and share details. Thank you.

[2022-01-25 13:57] yanivlavi commented on #86873
I submitted a change to this page to clarify it.
The current version of the API is scheduledQueryRules and it has two versions `2020-08-01` and `2018-04-16` both are GA.
This article is about migrating from the legacy rule management that used the log analytics API to scheduledQueryRules API.

To move from `2018-04-16` to `2020-08-01` you just need to touch the rule from 2020-08-01 and you will ge

[2022-01-25 13:58] yanivlavi commented on #86873
#please-close

[2022-01-25 13:58] #86873 closed

[2022-01-25 13:58] ShaikMaheer-MSFT commented on #86897
@jr-MS Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-01-25 14:01] ShaikMaheer-MSFT commented on #86897
Created PR for this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/186126

[2022-01-25 14:01] ChaitanyaNaykodi-MSFT commented on #86889
Hello @Mike-E-angelo
Thank you for your feedback! We will review and update as appropriate.

[2022-01-25 14:10] rahulmohan-nb opened #86906 "Typo: "united" instead of "units""
Documentation on "resources.memory" says "The only allowed **united** are gibibytes".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61f4086e-c368-eb50-6d14-97882deec44f
* Version Independent ID: 86fe5cc7-446f-4406-2c3d-1795be52662a
* Content: [Containers in Azure Container Apps Preview](https://docs.microsoft.com/en-u

[2022-01-25 14:10] gregoryagu opened #86907 "Documentation Page Missing Link to the Sample App"
This page is very informative, but it seems to be missing the link or explanation of how to download the sample application described in the article.

If that could be added, that would be appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fd30f7f-e5ce-67d5-2536-ee1d115a573d
* Version Independent ID: 6979c76f

[2022-01-25 14:15] b-ahibbard commented on #86420
The requested update was published yesterday.

#please-close

[2022-01-25 14:15] #86420 closed

[2022-01-25 14:22] thomaskennedy1066 commented on #86814
I'm using Powershell 5.1.19041.1320.  I logged into Azure with az login and the second command in this tech document failed.

![image](https://user-images.githubusercontent.com/10156425/150994200-61d9ffa1-a88d-49a1-a702-87692b9c0073.png)

[2022-01-25 14:27] ShaikMaheer-MSFT commented on #86897
PR merged. Changes will reflect in document in next cycle of build release soon. Thank you.

[2022-01-25 14:40] stowen-msft opened #86909 "This page should include a link to these Azure Marketplace Images"
It can be very difficult to locate the appropriate Azure Marketplace Images at times.  This page has a table of which RedHat Images include RHUI configuration and do not need a user to have a previous Red Hat subscription.  Here it is, excerpted

Azure offers a variety of RHEL pay-as-you-go images. These images come properly entitled for RHEL and are attached to a source of updates (Red Hat Update

[2022-01-25 15:17] raymonvt3fifty commented on #86904
It looks that this workaround is just not possible in combination with az deployment. / arm templates.
That kind of defeats the purpose for us as we are using bicep to manage our customer environments at scale.

I really hope there will be a better way to do is because right now we simply cant use gallery images.

[2022-01-25 15:20] mronnlun opened #86912 "Front door standard/premium is showing screen capture from classic Front door that is not available in Premium version"
In this section:
https://docs.microsoft.com/en-us/azure/frontdoor/troubleshoot-issues?toc=/azure/frontdoor/standard-premium/toc.json#troubleshooting-steps-1

There is this picture that is from the classic Front door and the Settings button is not available in the Standard/Premium offering.
![image](https://user-images.githubusercontent.com/13968157/151004849-e676cda2-1e82-4c37-a91e-88d382e910fd.pn

[2022-01-25 15:27] vercin7277 opened #86913 "NetApp Cloud Compliance has been renamed to NetApp Cloud Data Sense"
Cloud Compliance is an old term. In the Azure market place Cloud Compliance has been replaced by NetApp Cloud Data Sense

https://azuremarketplace.microsoft.com/en-us/marketplace/apps/netapp.cloud-compliance?tab=Overview

The URL is also incorrect and shows Cloud Compliance.
---
#### Document Details

NetApp add-ons is the first category of add-ons introduced under Storage service add-ons. It prov

[2022-01-25 15:30] GeethaThatipatri-MSFT commented on #86881
Hi, @AwdotiaRomanowna Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-25 15:36] tfitzmac commented on #86619
I don't know the details of that resource provider but it is possible that it is rolling out. The API version has been added to the [specifications](https://github.com/Azure/azure-rest-api-specs/tree/main/specification/servicebus/resource-manager/Microsoft.ServiceBus/stable/2021-11-01).

[2022-01-25 15:40] JamesTran-MSFT commented on #86878
@astaykov
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-01-25 15:41] JamesTran-MSFT commented on #86886
@HarriJaakkonen
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-25 15:42] JamesTran-MSFT commented on #86887
@dcurwin
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-01-25 15:43] JamesTran-MSFT commented on #86890
@dcurwin
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-25 15:43] JamesTran-MSFT commented on #86891
@dcurwin
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-01-25 15:45] JamesTran-MSFT commented on #86892
@deyanp
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-25 15:45] JamesTran-MSFT commented on #86893
@ThierryBT
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-25 15:46] JamesTran-MSFT commented on #86907
@gregoryagu
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-01-25 15:48] ThierryBT commented on #86893
@JamesTran-MSFT , thank you very much.

[2022-01-25 15:57] sandeeppujar commented on #86005
@romankiss , sorry for the delay, the intent for long running command patterns is to send delayed updates. The pattern is the last run/update wins, we don't support multiple long-running same commands (I will confirm this).

[2022-01-25 16:01] astaykov opened #86915 "Information on required `iat` claim missing"
The documentation about workload identity federation is missing particularly important information about **required** `iat` (issued at) claim.

Azure AD does not accept tokens that do not have the `iat` claim.

If one provides a JWT token with all valid other claims (`iss`, `sub`, `nbf`, `exp`, `aud`), but missing `iat`, Azure AD token endpoint will complain with:

[code]

I believe this to be an

[2022-01-25 16:08] astaykov opened #86916 "Information missing :: Maximum accepted token lifetime"
Documentation is missing to mention that Azure AD will only accept external tokens if their lifetime is equal or less than one day (24 hours). So, if we have configured our external IdP to issue tokens that are valid for 27 hours (for example), Azure AD will complain with error message:

[code]

This is an important requirement that should be explicitly mentioned. One shall not discover all fine r

[2022-01-25 16:11] #86724 closed

[2022-01-25 16:30] ElanShudnow opened #86917 "Outbound Inspection"
Azure Firewall using NAT Gateway isn't supported for Outbound Inspection.  I feel like that should be mentioned in this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 085a2b73-b2c0-2942-542b-83888ecfa5b5
* Version Independent ID: d5e9288c-bdc9-3a93-f43c-408da5162e3c
* Content: [Scale SNAT ports with Azure NAT

[2022-01-25 16:36] SnehaAgrawal-MSFT commented on #86885
@nkumars Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-25 16:41] ChaitanyaNaykodi-MSFT commented on #86814
Hello @thomaskennedy1066, sorry about the typo above, I meant the Azure Az PowerShell module version. As per the pre-requisite for this tutorial the Azure PowerShell module version 5.4.1 or later is required. (I have edited my comment above)

![image](https://user-images.githubusercontent.com/67453298/151016360-e6d1f02c-251f-47c0-b686-1145d79c822d.png)

Can you run the command `Get-Module -ListAva

[2022-01-25 16:45] atikmapari commented on #86896
Hello @ShaikMaheer-MSFT - Adding @ahmetb as he's the author of this article and may help you on this.

[2022-01-25 16:46] tiago-msft opened #86918 "CRS 3.2 change"
Starting on CRS 3.2 (preview) the rule `942450` is also neccessary for the developer portal.

We have not identified this in prior CRS versions (3.0 - 3.1) where it already exists.

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37c1f253-44c2-bd07-4c74-9d4c77c45e6e
* Version Independent ID: 281ce98c-115b-3c3

[2022-01-25 16:52] RyanHill-MSFT commented on #86305
Hi @pettermoe95 just to give you an update, from an Easy Auth standpoint, tokens are only good for one service; so, this workflow isn't supported (my apologies). It's something that you'll have to do inside your app.

I didn't see your exact scenario outlined [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/authentication-flows-app-scenarios#scenarios-and-supported-authentica

[2022-01-25 17:02] kobulloc-MSFT commented on #86909
@stowen-msft Thank you very much for the feedback!  We are reviewing the Azure Marketplace Images and will get back to you shortly.

[2022-01-25 17:04] #86774 closed

[2022-01-25 17:05] justinmchase opened #86919 "How to use kafka connect with port 443?"
This page is very helpful but it shows going through port `9093`, which is fine but unfortunately my corporate VPN blocks that port. In production, no problem I'll be able to go to port 9093 but to build and test it I'm sort of hamstrung.

Is there a solution where a connector can go through AMQP on port 443 / websocket, instead of the 9093 kafka projection?

---
#### Document Details

⚠ *Do not e

[2022-01-25 17:20] chrisohaver commented on #86902
Rewrites that change incoming question names to kubernetes zone names should be added to the default server block via  the `custom/*.override` import.  https://github.com/coredns/coredns/discussions/5122#discussioncomment-2044688

[2022-01-25 17:23] atikmapari commented on #86896
Hello @ShaikMaheer-MSFT - Adding @rayne-wiselman  as he's the author of this article and may help you on this.

[2022-01-25 17:29] romankiss commented on #86005
Hi @sandeeppujar, thanks for your reply.

It looks like, there is a bug implementation in the long running command pattern:

1. The long running command doesn't work for component level
2. There is no history of the Request/Response messages and also there is missing a responseCode in the portal version
3. There is no blocking mechanism for invoking a multiple long running commands
4.  Any command

[2022-01-25 17:30] #86862 closed

[2022-01-25 17:31] ChrisSidebotham opened #86923 "Resource Audit not available with Reader Roles"
Resource Audit for **Privileged Access Groups** is not available with the standard `security reader` and `global reader` roles.

what roles are required to satisfy least privilege access and be able to use resource audit for **Privileged Access Groups**?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc32d928-d9e6-3270

[2022-01-25 17:45] vhorne commented on #86082
Article updated
#please-close

[2022-01-25 17:45] #86082 closed

[2022-01-25 17:45] #86736 closed

[2022-01-25 17:46] MarileeTurscak-MSFT commented on #86916
@astaykov
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-25 17:48] tommflynn commented on #86840
Yes, I think one of the two pages should say it!

[2022-01-25 17:56] serhii-kapchynskyi-at-cantire opened #86924 "'Specify IP Address' section description is not clear"
There's no clarity over the last sentence in the description.

By following the requirement `specified IP address must reside in the same subnet as the AKS cluster` we can choose an arbitrary free IP address from the subnet. The last sentence guides us that `IP address in the range designated for the Kubernetes subnet within the AKS cluster shouldn't be used`.

What does `Kubernetes subnet within

[2022-01-25 17:58] mike-urnun-msft commented on #86882
Hello @csiakgyula - Thank you for your feedback! We will review and update as appropriate.

[2022-01-25 18:03] JimacoMS4 commented on #85487
Thanks @junghyeon-ryu. Really appreciate your feedback as well. I'll go ahead and close this issue.

Best,

Jimaco

#please-close

[2022-01-25 18:03] #85487 closed

[2022-01-25 18:05] msangapu-msft commented on #86755
Looks fine.

#sign-off

[2022-01-25 18:06] #86755 closed

[2022-01-25 18:07] msangapu-msft commented on #86755
It should say web server logs. Thanks Ryan for updating it.

[2022-01-25 18:16] mike-urnun-msft commented on #86906
Hello @rahulmohan-nb - Thank you for reporting this issue and helping us drive improvements towards MS Docs! I've created a PR that fixes the typo and the changes should be live shortly after PR approval & merge.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-01-25 18:16] #86906 closed

[2022-01-25 18:18] vhorne commented on #79876
@jonwbstr Sometimes article titles are changed. URLs can't be changed (besides deleting and creating a new article), so it is normal to keep as is unless there is a complete change in subject matter.

#please-close

[2022-01-25 18:18] #79876 closed

[2022-01-25 18:23] vhorne commented on #80750
@halkazwini Lots of screenshots in lots of articles makes it difficult to keep them all up to date, so the best use of them is to include only if words alone are not sufficient to describe the environment.
#please-close

[2022-01-25 18:24] #80750 closed

[2022-01-25 18:27] asukumar22 commented on #86869
Hi Chaitanya,

I found that the FAQ link<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Ffirewall%2Ffirewall-faq&data=04%7C01%7Casukumar%40microsoft.com%7C5352c4af3bfd4075939d08d9dfcfd74c%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637786906040594917%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C

[2022-01-25 18:29] vhorne commented on #84898
@cengxiye Perhaps this was a temporary issue, as the template is currently working.
#please-close

[2022-01-25 18:29] #84898 closed

[2022-01-25 18:38] mike-urnun-msft commented on #86871
Hello @euchungmsft - I was updated by the team that there is no immediate plan to bring ISE to Mooncake regions. The team recommends exploring [Logic Apps Standard](https://docs.microsoft.com/en-us/azure/logic-apps/single-tenant-overview-compare#logic-app-standard-resource) and its upside of being able to run it anywhere with network isolation, including [on-prem options leveraging Azure Arc](http

[2022-01-25 18:38] #86871 closed

[2022-01-25 18:41] GeethaThatipatri-MSFT commented on #86645
@Mike-Crowley did you have the chance to check my above comments, please let us know if you have any other questions.

[2022-01-25 18:41] aurnovcy commented on #86782
It looks like there have been changes to ServicePrincipal Credential Object:
- Password has been replaced by SecretText
- CertValue has been Removed
This might be the root of the error.

Because of the Azure AD to Microsoft Graph migration, there are noted changes in Azure PowerShell as documented with service principal in particular: see https://docs.microsoft.com/en-us/powershell/azure/azps-msgr

[2022-01-25 18:42] JamesTran-MSFT commented on #86915
@astaykov
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-01-25 18:46] thomaskennedy1066 commented on #86814
I got this working upgrading my az module to the newest version.  I recommend changing this warning message however because it does not align up with the documentation in the article on creating a load balancer

![image](https://user-images.githubusercontent.com/10156425/151039304-75fb4439-4007-4b22-9fca-3877acc8acb1.png)

[2022-01-25 18:47] tommy-dunn commented on #78173
@MonikaReddy-MSFT - its been 6months, this is still an issue, how can we get a status update?

[2022-01-25 18:51] tommy-dunn commented on #78173
@MonikaReddy-MSFT - nvm, this a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/46672 and should be closed.

[2022-01-25 18:54] HarriJaakkonen commented on #86886
Nice to hear, happy to help!

[2022-01-25 18:56] mrbullwinkle commented on #82778
This page is actually still accurate, though we would certainly recommend using [question answering](https://docs.microsoft.com/azure/cognitive-services/language-service/question-answering/overview) going forward. I just created a new classic QnAMaker resource to confirm. You can still change the default answer via the App Services Settings page:

<img width="685" alt="image" src="https://user-ima

[2022-01-25 18:56] mrbullwinkle commented on #82778
#please-close

[2022-01-25 18:56] #82778 closed

[2022-01-25 19:00] lobrien commented on #81113
Sent email to @Bozhong68 asking for status update.

[2022-01-25 19:00] jmprieur commented on #86907
@Dickson-Mwendia @mmacy
this quickstart seems broken:
- the make changes for me button should not be visible from docs.ms (only from the portal quickstarts)
- the download button is not visible

#assign @mmacy ?

[2022-01-25 19:00] PRMerger18 commented on #86907
The following users don't have valid GitHub IDs, or are not collaborators on this repo: mmacy ?

[2022-01-25 19:05] Adam-GIT-MS opened #86925 "customer stateset creation is bugged or documentation is incomplete/outdated."
1. The document is outdated or is missing criteria for using "exclusiveMaximum" or "exclusiveMinimum" values when creating a number range based set of style rules.

Attempting to do so gives error:
 {
    "StatesetStyle.Styles[0]": [
        "The style rule is invalid"
    ]
}

Sample ruleset:
{
    "styles":[
        {
            "keyname":"percent",
            "type": "number",
            "ru

[2022-01-25 19:11] jmprieur commented on #86907
#please-assign mmacy

[2022-01-25 19:12] asukumar22 commented on #86869
Like we have a specific document that talks about what is not supported with the application gateway here https://docs.microsoft.com/en-us/azure/application-gateway/configuration-infrastructure#supported-user-defined-routes, similarly, some specifics for Firewall as well.

[2022-01-25 19:19] mrbullwinkle commented on #83875
A fix to this issue has been merged to the internal repo and will go live in the public docs later today. Thank you for bringing this to our attention.

[2022-01-25 19:19] mrbullwinkle commented on #83875
#please-close

[2022-01-25 19:19] #83875 closed

[2022-01-25 19:21] azbluejzen opened #86926 "This seems to have stopped working"
Query, regardless of method, returns zero results. So this isn't working. I found the Advisor alert the title has changed to 'Container registry images should have vulnerability findings resolved'.  Tried updating the where properties.displayName contains to use that string. That does fix it in the Kusto version of the script. AZ CLI updated that way only shows 1 result. Did not try Powershell.

-

[2022-01-25 19:28] inknochen opened #86927 "Disk allocation and performance section is using a VM size that's not listed as current in VM sizes document"
As an example of these limitations, a **Standard_DS1v1 VM i**s prevented from achieving the 5,000 IOPS potential of a P30 disk, whether it is cached or not, because of limits at the SSD and network levels

https://docs.microsoft.com/en-us/azure/virtual-machines/sizes-general

It's also saying it cannot go beyond the limit that's specified for the VM size, which is obvious and it's pointing to "VM

[2022-01-25 19:31] MarileeTurscak-MSFT commented on #86923
@ChrisSidebotham
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-25 19:36] alexkhorton commented on #73057
Looks like I'm still having a similar issue with the tutorial. My github-hosted repository is private. Is it possible that I need to append an access token to the URL for the template?

If so, then the tutorial does not highlight that accessing the yaml template is different between public and private repositories.

[2022-01-25 19:39] MarileeTurscak-MSFT commented on #86923
Thanks for pointing this out. I made a pull request to add the role requirements. https://github.com/MicrosoftDocs/azure-docs-pr/pull/186167

CC @curtand

As noted in the related[ PIM audit document](https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/azure-pim-resource-rbac), access to audit history requires either a Global Administrator or Privileged Role Admin

[2022-01-25 19:39] #86923 closed

[2022-01-25 19:53] ChrisSidebotham commented on #86923
@MarileeTurscak-MSFT

I have submitted on MSFT StackOverflow - pretty sure its a bug if you look at this document [PIM - Least Privilege by task](https://docs.microsoft.com/en-us/azure/active-directory/roles/delegate-by-task#privileged-identity-management) then audit reports should on require Security Reader, which currently does not work.

[2022-01-25 19:57] kp2017 commented on #73057
You issue is not the same. There isn't a difference between private and public repos. You are probably having an issue due to your pipeline's yaml file location. On the pipeline edit page has the location of the yaml file. Make sure it points to the yaml file in your repo.

[2022-01-25 19:58] MarileeTurscak-MSFT commented on #86916
Thanks @astaykov! I made a pull request to add a note about the maximum accepted token lifetime. https://github.com/MicrosoftDocs/azure-docs-pr/pull/186170

[2022-01-25 19:58] #86916 closed

[2022-01-25 20:08] lobrien commented on #81961
@benchwang Can you please update the status of this item?

[2022-01-25 20:08] asukumar22 opened #86931 "Need a separate document that talks about editing XML files on Point to site VPN Client to add custom DNS servers and DNS suffixes to connect to private endpoints from Point to site VPN Client."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9ef898a-0b72-e018-8a3d-6f14f62e1119
* Version Independent ID: b62b5b8f-bc88-0868-a2f6-1020a5097460
* Content: [Configure VPN clients for P2S OpenVPN protocol connections: Azure AD authentication - Azure VPN Gateway](https://docs.microsoft.com/en-us/a

[2022-01-25 20:11] lobrien commented on #82083
@assign shivanissambare

[2022-01-25 20:15] lobrien commented on #82984
Sent email asking for status update.

[2022-01-25 20:16] SnehaGunda commented on #84062
@isdataninja @CHEEKATLAPRADEEP-MSFT I signed off on both the open PRs. They should be merged soon. Closing this issue now.

#please-close

[2022-01-25 20:16] #84062 closed

[2022-01-25 20:17] lobrien commented on #83465
Sent email asking for status update.

[2022-01-25 20:18] lobrien commented on #83730
@assign nibaccam

[2022-01-25 20:19] mishrapratyush opened #86932 "Tensorboard dashboard not launching in AzureML ComputeVM in a vNet setup"
[Enter feedback here]

Tensorboard dashboard for viewing AzureML experiment metrics fails to launch in a AzureML workspace set up in a vNET. The site is unaccessible. I have tried changing the URL from https://computevmname-6006.eastus2.instances.azureml.ms/ to https://computevmname.eastus2.instances.azureml.ms:6006/, but still the connection gets timed out.

I am trying to use Tensorboards loggin

[2022-01-25 20:21] lobrien commented on #84858
#please-close

[2022-01-25 20:21] #84858 closed

[2022-01-25 20:22] lobrien commented on #84957
Sent email asking for status update.

[2022-01-25 20:23] lobrien commented on #85544
@assign nibaccam

[2022-01-25 20:24] amibp commented on #82984
I don't see where this exists in the current documentation. Can you confirm if it still exists?

[2022-01-25 20:25] lobrien commented on #85624
Sent email asking for status update.

[2022-01-25 20:25] lobrien commented on #85638
@please-close

[2022-01-25 20:30] lobrien commented on #86452
Sent email asking for status update.

[2022-01-25 20:32] DerekHerman-MSFT commented on #86913
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-25 20:33] mike-urnun-msft commented on #86619
Hello @Dorus It may also be that the resource provider is not supported at the `westeurope` location. Our guidance on the matter is to use the version values supported at the selected region, please review: https://docs.microsoft.com/en-us/azure/azure-resource-manager/troubleshooting/error-register-resource-provider?tabs=azure-cli#symptom

Since we didn't determine any doc changes upon reviewing t

[2022-01-25 20:33] #86619 closed

[2022-01-25 20:34] #85685 closed

[2022-01-25 20:34] #86542 closed

[2022-01-25 20:37] nibaccam commented on #85544
#assign @nibaccam

[2022-01-25 20:37] Blackmist commented on #84957
@gary918 sorry for the time it's taken to respond to this. I was able to get more clarity on the requirements here. It depends on how ACR connects to the VNet. If ACR uses a __private__ endpoint to connect to the VNet, then it only has to be in the same VNet. If it uses a __service__ endpoint, then it has to be in both the same VNet and subnet.

I've updated the article to clarify this.

Thanks ag

[2022-01-25 20:37] #84957 closed

[2022-01-25 20:39] nibaccam commented on #83730
#assign @nibaccam

[2022-01-25 20:40] SnehaGunda commented on #83364
@chpouls Healthcare template wasn't available until a week ago. We now have a new template for Pharmaceuticals. It will be announced in a blog post by end of this week. I added it to the doc in the above PR. Changes will go live by EOD today.

We will close this issue now.

#please-close

[2022-01-25 20:40] #83364 closed

[2022-01-25 20:41] lobrien commented on #82984
I cannot find the referenced section or similar text. #please-close

[2022-01-25 20:41] #82984 closed

[2022-01-25 20:44] ebolton-cyber commented on #85182
@koder101 we are aware of this issue and as @sharroy mentioned we are working on adding more test scenarios to the self-test API. We will communicate with publishers over email when this capability is publicly available. I hope this addresses your concern.

[2022-01-25 20:47] MicrosoftGuyJFlo commented on #85356
@knightcott-paul we made some updates yesterday that should address your concerns. https://github.com/MicrosoftDocs/azure-docs-pr/pull/183098

[2022-01-25 20:47] MicrosoftGuyJFlo commented on #85356
#please-close

[2022-01-25 20:47] #85356 closed

[2022-01-25 20:50] rhalaly opened #86935 "Assign Role to Batch account is unclear"
[code]

This step is unclear

<img width="1213" alt="image" src="https://user-images.githubusercontent.com/8597700/151060983-38559fcf-bf1b-49a9-a0a6-1708b0deee56.png">

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2146b9a6-94f1-b2a8-972e-63602992d092
* Version Independent ID: ec164b99-5fc9-f5a1-6eb7-1d5fb1cad568
* Con

[2022-01-25 21:00] #86535 closed

[2022-01-25 21:03] ChristianJBergstrom commented on #86535
@JamesTran-MSFT Why closed without any update?

[2022-01-25 21:15] JamesTran-MSFT commented on #86535
@ChristianJBergstrom
Thank you for following up on this!

The issue was auto closed because a PR merged within the hour, which would update the documentation.
![image](https://user-images.githubusercontent.com/36619112/151060522-0a29d5c5-4116-40e7-ba23-ffccfee20b72.png)

Please allow some time for the changes to reflect and if you don't see the doc update, please let me know.
Thank you again for y

[2022-01-25 21:17] unearthnz opened #86937 "Swap around the links for AzureAD & Azure Resource request approval"
Under Azure AD section - approving activation requests: https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/pim-deployment-plan#approve-or-deny-pim-activation-requests
It links to the Azure Resource approvals page (instead of Azure AD approvals)

And under the Azure Resource section - approving activation requests:  https://docs.microsoft.com/en-us/azure/active-d

[2022-01-25 21:22] ChristianJBergstrom commented on #86535
@JamesTran-MSFT Ah.. my bad. Don't really get all this to be honest. I'm simply just adding feedback when I notice that something isn't right in the Docs. Thank you for the very prompt reply.

[2022-01-25 21:25] alexkhorton commented on #73057
My code is hosted in a github repo.

The pipeline step output I am seeing is:

ARM Service Connection deployment scope - Subscription
Checking if the following resource group exists: AzureCITest.
Resource group exists: true.
Creating deployment parameters.
##[error]Check out the troubleshooting guide to see if your issue is addressed: https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/d

[2022-01-25 21:26] jenniehubbardDB commented on #86655
@viroopax Thank you for your feedback. We have created a backlog item in our internal tracking system to correct this! DOC-3865

[2022-01-25 21:29] JamesTran-MSFT commented on #86937
@unearthnz
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-25 21:30] lobrien commented on #84122
PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/186187 #please-close

[2022-01-25 21:30] #84122 closed

[2022-01-25 21:38] VTR-AReed opened #86939 "CosmosClient.WithEncryption() does not accept AzureKeyValueKeyStoreProvider"
The steps in this documentation do not seem to be accurate.

![image](https://user-images.githubusercontent.com/88848128/151064016-7c654684-c4b8-45a3-93f6-900cd27c9dbf.png)

There also seem to be additional class names that do not match, the documentation shows:
DataEncryptionKeyAlgorithm.AEAD_AES_256_CBC_HMAC_SHA256

However in reality the object is called:
DataEncryptionKeyAlgorithm.AeadAes256Cb

[2022-01-25 21:48] duongau commented on #71312
@bdschaap Azure Front Door Standard/Premium tier is also available with internal load balancers as well. Please let me know if you have any further questions. For now I will be archiving this issue. Thank you., #please-close

[2022-01-25 21:48] #71312 closed

[2022-01-25 21:49] vhorne commented on #51024
Article updated
#please-close

[2022-01-25 21:49] #51024 closed

[2022-01-25 21:53] chetta19 opened #86940 "Page needs to be updated for Microsoft Defender for Cloud"
Instructions and screenshots are outdated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8b43b28-f8e6-a718-7bcd-b42ee2b19416
* Version Independent ID: 63f89c9e-cab7-531a-0a69-9a7e9ab0521b
* Content: [Configure Advanced Threat Protection - Azure SQL Database](https://docs.microsoft.com/en-us/azure/azure-sql/database/t

[2022-01-25 21:54] kp2017 commented on #73057
I am not sure what is happening there. I would suggest creating an additional issue specific to that regarding the documentation and possibly AzureResourceManagerTemplateDeployment@3; however, I think the documentation issue would identity if the AzureResourceManagerTemplateDeployment@3 issue is really needed.

[2022-01-25 21:58] mike-urnun-msft commented on #80080
Hello @m1stermanager - My sincere apologies for the delay occurred. I have created a PR that corrects the Python sample. Once the PR is reviewed, approved, and merged, this issue will auto-close.

[2022-01-25 22:02] alexkhorton commented on #73057
When you say documentation issue, do you mean the issue I recently posted? https://github.com/microsoft/azure-pipelines-tasks/issues/15826

[2022-01-25 22:03] duongau commented on #68491
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-01-25 22:03] #68491 closed

[2022-01-25 22:03] VTR-AReed commented on #86939
Under closer inspection, it looks like the example uses:
AzureKeyVaultKeyStoreProvider

When it should be using:
AzureKeyVaultKeyWrapProvider

[2022-01-25 22:05] #85273 closed

[2022-01-25 22:08] kasimrehman opened #86942 "Phase 1 has information that is taken out of context."
[Enter feedback here]
This section is copied rom https://docs.microsoft.com/en-us/azure/storage/file-sync/file-sync-planning#plan-for-balanced-sync-topologies. The original section contains an explanation why you should not map on-premises to Azure file shares in a 1:1 fashion if you have more than 30 shares. This limit has its origins in the file sync which is not applicable in this scenario (thi

[2022-01-25 22:09] duongau commented on #58943
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-01-25 22:09] #58943 closed

[2022-01-25 22:10] duongau commented on #51284
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-01-25 22:10] #51284 closed

[2022-01-25 22:12] duongau commented on #52122
@espray since we haven't gotten a response back from you, we'll be archiving this issue for now. Please feel free to reach back out again. #please-close

[2022-01-25 22:12] #52122 closed

[2022-01-25 22:14] duongau commented on #78229
@hb66772-home please follow the GitHub issue above for updated status. We should have this ready in a few weeks time. If you have any other questions please feel free to reach back out to us. Thank you. #please-close

[2022-01-25 22:15] #78229 closed

[2022-01-25 22:15] duongau commented on #34828
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-01-25 22:16] #34828 closed

[2022-01-25 22:18] jenniehubbardDB commented on #86588
@siddhantgawsane Thank you for filing this issue! We have created a work item in our internal system to investigate this. DOC-3866

[2022-01-25 22:18] duongau commented on #41486
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-01-25 22:18] #41486 closed

[2022-01-25 22:20] kobulloc-MSFT commented on #86935
@rhalaly Thank you for your feedback!  We'll review the documentation and get back to you shortly.

[2022-01-25 22:21] JeffSmalley opened #86943 "Mistake"
In the rules processing order example, it refers to DNATRC3 in the answer.  DNATRC3 doesn't exist in the available Rule Collections...

Regards,
Jeff Smalley MCT
Chicagoville

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6392b4a0-fa1e-fe5e-a31b-1eee48b860ef
* Version Independent ID: 551028da-b651-30ac-0e77-9ee5eebf6bb

[2022-01-25 22:21] kobulloc-MSFT commented on #86926
@azbluejzen Thank you for your feedback!  We are reviewing the documentation and will get back to you shortly.

[2022-01-25 22:23] kobulloc-MSFT commented on #86924
@serhii-kapchynskyi-at-cantire Thank you for your feedback!  We've assigned this to the document author for further review.

[2022-01-25 22:23] duongau commented on #55648
#please-close

[2022-01-25 22:23] #55648 closed

[2022-01-25 22:29] duongau commented on #84234
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-01-25 22:29] #84234 closed

[2022-01-25 22:31] mkbruhaas opened #86944 "Incomplete documentation"
Sources section (https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/diagnostic-settings?tabs=CMD#sources) does not provide helpful information. With the phrasing of the 5 word sentence I would expect at least a handful of example sources at a minimum. The past version of this section as found in GitHub was at least mildly more useful.
The intro of this article/page has a better defini

[2022-01-25 22:37] santiagxf commented on #82984
Now it’s on the “Distributed training” section, that’s why you can’t find it. Very hidden in my opinion since it’s in the sample using CIFAR dataset. Make it more explicit.

“ Datasets (File only) can be referred to in a job using the dataset key of a data input. The format is azureml:<DATASET_NAME>:<DATASET_VERSION>, so for the CIFAR-10 dataset just created, it is azureml:cifar-10-example:1.”

[2022-01-25 22:47] SamaraSoucy-MSFT commented on #86882
Best practice is to rotate the keys you use in your application regularly to avoid a situation where a key has been leaked and you need to do emergency updates. Having two lets you do this without the issue of downtime. When you want to create a new primary key, you would first swap all your resources over to using the secondary key on whatever schedule they need. That way none of them lose access

[2022-01-25 22:47] SamaraSoucy-MSFT commented on #86811
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2022-01-25 22:55] TdunkLPS opened #86949 "This document does not reflect current Azure systems. We had to recreate this from scratch."
Unfortunately after working with the Microsoft engineers we found that we were unable to follow this document. Unfortunately it says unable to remove due to being in use. There was no way to upgrade it within the portal. This was not tested via the CLI or Powershell methods. We are recreating it from scratch with the recommended settings.

---
#### Document Details

⚠ *Do not edit this section. It

[2022-01-25 22:56] SamaraSoucy-MSFT commented on #86778
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2022-01-25 23:00] TiloGit opened #86951 "any requirements of the DNS?"
what are the requirements to the DNS server?
Any particular performance or latency required (like to avoid: **CoreDNSErrorsHigh**  https://access.redhat.com/solutions/5917331

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a90f24ac-9d2e-2d2a-700e-d3b7c2d31f15
* Version Independent ID: 9a778091-559f-74fe-3f19-f1b6e3c2696

[2022-01-25 23:05] GeethaThatipatri-MSFT commented on #86939
Hi, @VTR-AReed Thanks for your feedback! I'm assigning this to the author for the feedback review.

[2022-01-25 23:06] dotnetnick commented on #86710
I have the same problem. Where from to get the value for the required assertion parameter? Trying to make it work with a managed identity "user" by sending /oauth2/v2.0/token POST from a logic app.

[2022-01-25 23:09] Danialmz96 commented on #28045
We've spent many hours going through docs trying to figure it out before stumbling on this issue.
The documentation has no mention of "ignore_invalid_headers".

[2022-01-25 23:15] lostmygithubaccount commented on #82984
Datasets (File and Tabular) are not continuing as concepts into v2. They'll be replaced by `uri_folder`, `uri_file`, and `mltable` -- the relationships are not 1:1.

This will likely be a breaking change. When this article was written, it was unclear what would happen but the lack of emphasis on Datasets was intentional. I think we can make a small adjustment for clarity or rework to remove Datase

[2022-01-25 23:24] jlichwa commented on #81154
@x509cert we were able to update REST API overview with explicitly specify what objects are supported by products.
https://docs.microsoft.com/en-us/rest/api/keyvault/
If there are more issues please open new request. #please-close

[2022-01-25 23:24] #81154 closed

[2022-01-25 23:29] RunCai commented on #82295
close as content owner has corrected.

[2022-01-25 23:29] #82295 closed

[2022-01-25 23:30] davvit opened #86952 "missing documentation/information"
[Enter feedback here]
Add how to configure clientID, Authority and clientSecret needed to get this starter to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 947d3d39-1df6-d570-0ddc-ab155c76545e
* Version Independent ID: e9174aa0-fccc-810b-a6a9-838cfc23223c
* Content: [Quickstart: Add authentication to a Node.js w

[2022-01-25 23:46] James-Hamil-MSFT commented on #86952
Hi, we are investigating your issue and will update you shortly.

Best,
James

[2022-01-25 23:48] benchwang commented on #81961
@lobrien , thanks for the reminder. I brought up a loop you were in and hope new owner can follow up.

[2022-01-25 23:54] himanshusinha-msft commented on #86919
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2022-01-26 00:19] ecfan commented on #86778
Hi @ryanperrymba, the Parse JSON section includes this link with an example definition - is that the link you mean:

[https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-data-operations-code-samples#parse-json-action-example](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-data-operations-code-samples#parse-json-action-example)

[2022-01-26 00:28] DerekHerman-MSFT commented on #86927
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-26 00:29] DerekHerman-MSFT commented on #86942
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-26 00:35] dnethi commented on #86600
what profile did you choose when deploying from portal? AKS HCI doesnt have default storage class. so you will need to select the "configure compute + storage" link and provide the names of the storage classes to be used in the blade that comes up.

[2022-01-26 00:46] andreakress commented on #86588
@KranthiPakala-MSFT, @siddhantgawsane, please note that the documentation specifies "Databricks Runtime 6.0 ML or above". These examples will not work on a non-ML cluster.

[2022-01-26 01:22] cbtboss opened #86954 "Need Updated CMDLet usage for this page"
Hello, this page currently references AzureAD and Microsoft Online MSOL powershell cmdlets. These are deprecated and will be EOL this June. Please update documentation with needed cmdlets that will work when that comes around.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c900f942-4456-5238-9f4c-a7a5bd685c04
* Version

[2022-01-26 01:27] KathiKellenberger opened #86955 "Incorrect image for Restore Disks section"
The image in the Restore Disks section does not match the instructions. The image shows "Create a new virtual machine" for the Restore Type.
![restore vm](https://user-images.githubusercontent.com/45671607/151087711-e312d377-5764-4b23-9e17-9d9f6f332d42.PNG)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66081bde-1e22-d

[2022-01-26 01:34] flang-msft commented on #84453
#re-assign: @flang-msft

[2022-01-26 01:38] munir94 commented on #86600
Hi @dnethi , here is what i have choose during the deployment .

![image](https://user-images.githubusercontent.com/39366930/151088686-172a70f1-73ad-4842-92e7-dfe11b18ea86.png)

[2022-01-26 01:50] tcox-git commented on #60995
Based on what I have read/done so far, yes I can add SPN to AD admin group and use SPN to access PostgreSQL via token-based authentication. From there, SPN can create database schema and tables and such. However SPN can't create role that's tied to an AD account (exact error I got says: "An unexpected error occurred while trying to validate user.") I guess it's due to "Service Principals don't hav

[2022-01-26 01:52] munir94 commented on #86600
Here is what i choose during the deployment

![image](https://user-images.githubusercontent.com/39366930/151090246-cc0d6920-1b7e-48fb-8a8b-90e8de779858.png)

[2022-01-26 02:07] b-hchen commented on #86913
@vercin7277 - Thank you for reminding us to reflect the name change.  This doc update has been implemented (https://github.com/MicrosoftDocs/azure-docs-pr/pull/186238 ) and should be posted on Jan 26.

cc @b-ahibbard

#please-close

[2022-01-26 02:07] #86913 closed

[2022-01-26 03:39] jinyu1122 opened #86956 "ACS SDK RelayClient return two TURN/STUN servers"
ACS SDK's relay configuration function always return two relay servers. When I use them for WebRTC connection, Firefox browser warns me that "Using more than two STUN/TURN servers slows down discovery". I think this means that too many TURN/STUN servers will make the ICE candidate gathering process longer.
So my questions are:
1) Why does SDK return more than 1 STUN/TURN server? Is it for a backup

[2022-01-26 03:49] sharroy commented on #84897
@zeeshaanali ACK. We understand that your concern is Powershell and curl does not have code parity. Let us evaluate the edits shared by you and we will close the gaps if any.

[2022-01-26 03:50] akshaymatmicrosoft commented on #85704
@ShaikMaheer-MSFT /@mamccrea/@leifbro: Its almost a month now, do we have any update on this issue?

[2022-01-26 03:52] MonikaReddy-MSFT commented on #86955
@KathiKellenberger - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-01-26 03:52] #86955 closed

[2022-01-26 05:02] DanielLarsenNZ opened #86957 "Regions that App Configuration has enabled Availability Zone support"
For [this section](https://docs.microsoft.com/en-us/azure/azure-app-configuration/faq#how-does-app-configuration-ensure-high-data-availability): Can you confirm if **Australia East** has enabled Availability Zone support and, if so, update the list?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 876582b8-4dd5-387d-a6fd

[2022-01-26 05:06] #86670 closed

[2022-01-26 05:07] ChaitanyaNaykodi-MSFT commented on #86814
Glad to hear it worked out. I will reach out to the PowerShell team to see if we can update the Zone format in the warning message.
As we primarily monitor this channel for documentation enhancements/bugs and as we could not determine any. We will now proceed to close this issue out. Thank you!

[2022-01-26 05:07] #86814 closed

[2022-01-26 05:08] alexkhorton opened #86958 "Tutorial doesn't seem to work for private github repositories"
The steps outlined in the tutorial don't seem to work with private github repositories.

The pipeline step output I am seeing is:

ARM Service Connection deployment scope - Subscription
Checking if the following resource group exists: AzureCITest.
Resource group exists: true.
Creating deployment parameters.
##[error]Check out the troubleshooting guide to see if your issue is addressed: https://doc

[2022-01-26 05:22] ChaitanyaNaykodi-MSFT commented on #86869
Hello @asukumar22
Thank you for the additional details. We have assigned this issue to the author to review further and take the next course of action.

[2022-01-26 05:24] ChaitanyaNaykodi-MSFT commented on #86903
Hello @jfaurskov
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-01-26 05:26] Karishma-Tiwari-MSFT commented on #86951
Thanks for the question. We are currently investigating and will update you shortly.

[2022-01-26 05:34] inknochen opened #86959 ""at-least once processing." contradicts the "An at-most-once delivery guarantee." in the linked document"
This document:
"This process is often called at-least once processing. That is, each message is processed at least once. However, in certain situations the same message may be redelivered. If your scenario can't tolerate duplicate processing, add additional logic in your application to detect duplicates"

The linked document
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-

[2022-01-26 05:59] SaiKishor-MSFT commented on #86912
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2022-01-26 06:41] guidovbrakel opened #86961 "Downtime Azure Firewall Premium Migration"
Please include a more detailed estimate of the expected downtime

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 326302f4-752f-4e20-cdf6-39a249548ae4
* Version Independent ID: 576f83ed-4053-40bd-f7c0-9a8f9dc3f5ae
* Content: [Migrate to Azure Firewall Premium](https://docs.microsoft.com/en-us/azure/firewall/premium-migra

[2022-01-26 06:42] ChaitanyaNaykodi-MSFT commented on #86931
Hello @asukumar22
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-01-26 06:44] ChaitanyaNaykodi-MSFT commented on #86943
Hello @JeffSmalley
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-01-26 06:45] ChaitanyaNaykodi-MSFT commented on #86949
Hello @TdunkLPS
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-01-26 06:45] kp2017 commented on #73057
Yes

On Tue, Jan 25, 2022, 5:02 PM alexkhorton ***@***.***> wrote:

[2022-01-26 06:46] ChaitanyaNaykodi-MSFT commented on #86917
Hello @ElanShudnow
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-01-26 06:50] ChaitanyaNaykodi-MSFT commented on #86961
Hello @guidovbrakel
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-01-26 07:04] kobulloc-MSFT commented on #86809
@mfthomps Thank you for bringing this to our attention!  I'm seeing the error I believe you are referring to.  I'll get a PR out to update the steps.

"Operation 'generalize' is now allowed on VM 'myVM' since the VM is running.  Please power off explicity in case you shut down the VM from inside the guest operating system."

![image](https://user-images.githubusercontent.com/37556655/151117805-549

[2022-01-26 07:10] evertonmc commented on #60995
I haven't tried that out yet, but maybe you have to set directory permission for the application related to the SP first, kinda 'Directory.ReadAll' or something similar.

[2022-01-26 07:24] haeuber opened #86962 "Error in "Rule processing using Firewall Policy""
The described rule processing order is wrong. The sentence "**The rule processing will be in the following order: DNATRC1, DNATRC3, ChDNATRC3, NetworkRC1, NetworkRC2, ChNetRC1, ChNetRC2, AppRC2, ChAppRC1, ChAppRC2.**" lists a rule "**DNATRC3**" that does not exist in the example policies.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2022-01-26 07:28] haeuber commented on #86962
AppRC2 doesn't exist as well...

[2022-01-26 07:33] ChrisSommers opened #86963 "Can AVD authenticate users against a different Tenant?"
We were looking to authenticate AVD against accounts in our Tenant which have been B2B'd. As the 'external identities' section says this is not supported, can AVD authenticate users against a Tenant which is different from the one that AVD is actually deployed in? That is, in our case, the Tenant in which those B2B accounts are actually homed.

---
#### Document Details

⚠ *Do not edit this sectio

[2022-01-26 07:47] AnuragSharma-MSFT commented on #86940
@chetta19 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-01-26 07:47] vercin7277 commented on #86913
You’re welcome Julie !

Kind regards,
Verron Martina
Cloud Solution Architect for Azure Alliance
Mobile: +31 6 2090 2089 | Email: ***@***.***

________________________________
From: Julie Chen ***@***.***>
Sent: Wednesday, January 26, 2022 3:07:51 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Martina, Verron ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] NetApp Cloud

[2022-01-26 07:47] PRMerger8 commented on #86913
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2022-01-26 08:07] ciufudean opened #86965 "Wrong page header"
The title for editing connection strings says "app settings" at this link https://docs.microsoft.com/en-us/azure/app-service/configure-common?tabs=portal#edit-app-settings-in-bulk-1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e25899c-1ed8-7cfc-2c37-73bb010a87f0
* Version Independent ID: 8b366c42-43f8-d5eb-b619-b35

[2022-01-26 08:16] ImrePyhvel opened #86967 "How long will it take for blob tags to reach the index?"
In the section "Finding data using blob index tags" it is mentioned that:

That "some time" is rather vague. Obviously it has a huge impact on ingestion process design.

For example:
* Are we talking in milliseconds/seconds/minutes?
* Does the delay change over time?  does it depend on load? schedule? number or blobs?
* What is the worst case delay? Is there some limit?
* What is the preferred way

[2022-01-26 08:34] kasimrehman commented on #86942
Both pages under "Target a cloud-only deployment" have this problem. There are many references to File Sync and descriptions of time-consuming tasks which are totally inapplicable if you are not deploying File Sync. These are errors due to the copy and paste.

[2022-01-26 08:34] YutongTie-MSFT commented on #86932
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-26 08:36] ChaitanyaNaykodi-MSFT commented on #86889
Hello @Mike-E-angelo, Thank you for your feedback. I have incorporated the suggested change in the [PR made here](https://github.com/MicrosoftDocs/azure-docs/issues/86777). It is currently under doc author's review.
We will now proceed to close this issue out. Please tag me in your response if you have any additional questions. Thank you!

[2022-01-26 08:36] #86889 closed

[2022-01-26 08:58] amanmcse opened #86968 "Microsoft Dependency Agent is missing"
I don't see Microsoft Dependency Agent in my tenant but it is shown in the [first image](https://docs.microsoft.com/en-us/azure/defender-for-cloud/media/enable-data-collection/auto-provisioning-list-of-extensions.png) of the document.

How can I get that option?
![image](https://user-images.githubusercontent.com/33834131/151132684-a7a8d050-23cb-4105-973e-fd9854de9065.png)

---
#### Document Detail

[2022-01-26 09:32] shaf3ii opened #86970 "GA Policies for AKS but AKS RP is not included in the built-in definition"
I have noticed there are many built-in definitions for azure policy for Kubernetes where mentioned to GA for AKS but they will not be applied to AKS clusters in the scope of the policy assignment.

After checking I can see that Microsoft.ContainerService/managedClusters is not included in the policyRule while AKS Engine and Microsoft.Kubernetes/connectedClusters are.

While in the following docume

[2022-01-26 09:45] Karishma-Tiwari-MSFT commented on #86963
Thanks for the question. We are currently investigating and will update you shortly.

[2022-01-26 10:02] IgnacioAlvarezArenas opened #86972 "Step 2 of Renew an uploaded Certificate could be more accurante on where to update the cert"
Step 2 of https://docs.microsoft.com/en-us/azure/app-service/configure-ssl-certificate#renew-an-uploaded-certificate is pointing out

"Bind the new certificate to the same custom domain without deleting the existing (expiring) certificate. This action replaces the binding instead of removing the existing certificate binding."

We think it might be more clear if it actually tells you to go to TLS/S

[2022-01-26 10:06] anttipo opened #86973 "Possibly incorrect conditional forwarder for on-prem DNS server"
Hello,

I believe there is an error in the documentation instructing to create a specific conditional forwarder for a zone, when the DNS servers are hosted outside Azure.

https://docs.microsoft.com/en-us/azure/machine-learning/how-to-custom-dns?tabs=azure-cli#example-custom-dns-server-hosted-on-premises

Under step 3. there is a list of zones that must be configured for conditional forwarding. Wh

[2022-01-26 10:07] fume opened #86974 "ResolveJsonPathsInJsonTokens example is wrong"
The ResolveJsonPathsInJsonTokens example is wrong.

The docs says that you could use a syntax like this: data.0.to.0.email <---WRONG
But this is wrong, since the correct syntax is data[0].to[0].email <--- CORRECT

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f5ba3c2-98fa-8d3e-393e-ad448961a37a
* Version Independent I

[2022-01-26 10:11] fume opened #86976 "ResolveJsonPathsInJsonTokens example is wrong"
The ResolveJsonPathsInJsonTokens example is wrong.

The docs says that you could use a syntax like this: data.0.to.0.email <---WRONG
But this is wrong, since the correct syntax is data[0].to[0].email <--- CORRECT

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6dff7a38-a459-4eb9-22fe-d225eeac5e34
* Version Independent I

[2022-01-26 10:36] gbparaschiv opened #86978 "New alerts in Azure Monitor do not have the setting to "Customize actions has disappeared""
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-01-26 10:42] stephlocke opened #86979 "Add RBAC needed to request JIT access to VMs"
It would be helpful if this page could provide access privilege requirements within the Azure portal to support a JIT request. This could be a link to the FAQ on this topic available at [JIT access overview](https://docs.microsoft.com/en-us/azure/defender-for-cloud/just-in-time-access-overview#faq---just-in-time-virtual-machine-access)

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-01-26 11:06] snsancar opened #86980 "Reading parquet with Decimal Data type works fine when spark.sql.parquet.enableVectorizedReader is enabled"
[Enter feedback here]

Reading parquet with decimal type just works fine using Databricks 7.3 LTS and when "spark.sql.parquet.enableVectorizedReader" is enabled.

Please find attached the screenshot from notebook.
---
#### Document [details]([url](url))
<img width="792" alt="Screenshot 2022-01-26 at 12 03 36" src="https://user-images.githubusercontent.com/3772319/151152272-d7bb2459-babc-442f-a2ec-

[2022-01-26 11:13] snsancar opened #86982 "Pyspark information on Scala with Apache spark tips page"
[Enter feedback here]

Why reading python dictionary and creating Pyspark dataframe is part of the **Scala with Apache Spark: tips and troubleshooting**  page?
---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7240ba1-5ba3-3812-59c8-43a5c9a519ca
* Version Independent ID: 4a3f39c2-270b-7972-1199-b268230f5bac
* Content: [Cr

[2022-01-26 11:13] tijmenamsing opened #86983 "Can't use User Assigned Managed Identity to obtain SSL certificate from Key Vault for APIM custom domain"
Hi,

I'm experiencing an issue when I try to use an User Assigned Managed Identity to obtain a custom TLS/SSL certificate for my API Management instance from Azure Key Vault, as described here: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-use-managed-service-identity#use-ssl-tls-certificate-from-azure-key-vault-ua.

I want to use the certificate for configuring a cust

[2022-01-26 11:17] SREbuilt opened #86984 "any plans for VM Insights Guest Health to support SUSE Linux Enterprise Server as well?"
My customer uses **SUSE Linux Enterprise Server** intensively for very large environments.
My customer has huge interest on using the [VM insights Guest Health](https://docs.microsoft.com/en-us/azure/azure-monitor/vm/vminsights-health-overview) - therefore my questions:
- Are there any [plans to support SLES](https://docs.microsoft.com/en-us/azure/azure-monitor/vm/vminsights-health-enable?tabs=pow

[2022-01-26 11:23] Dickson-Mwendia commented on #86907
Hi @gregoryagu, thanks for raising this issue. Please use https://docs.microsoft.com/en-us/azure/active-directory/develop/console-app-quickstart?pivots=devlang-dotnet-core for a complete explanation of how to download the sample app.

@jmprieur thanks for the call-outs. This article is now a portal-only quickstart since we decoupled the portal quickstarts from the docs.  I will go ahead and implem

[2022-01-26 11:24] Dickson-Mwendia commented on #86907
#reassign @Dickson-Mwendia

[2022-01-26 11:41] ekalyvio commented on #54380
@DixitArora-MSFT It seems that @rigdern & @ishepherd are right on that.
Today I spent hours searching because I had the same problem.
When setting the CRON expression on the Azure function and run it local, the WEBSITE_TIME_ZONE is totally ignored and the function triggers on the CRON based on the local time of the computer & not on the time zone set on the variable.

You have to update the docume

[2022-01-26 11:41] Karishma-Tiwari-MSFT commented on #86963
Azure Virtual Desktop doesn't currently support external identities, including guest accounts or business-to-business (B2B) identities. Whether you're serving internal users or external users with Azure Virtual Desktop, you'll need to create and manage identities for those users yourself. Per-user access pricing is not a way to enable guest user accounts with Azure Virtual Desktop.

[Understanding

[2022-01-26 11:51] Bator92 opened #86986 "Can't use App Configuration's Configuration explorer if it has private access"
Hi,

We recently turned on private access for our App Configuration, because we wanted to reach it only through our Function App. Although we would like to edit the configuration keys and values through the Azure Portal.

Currently we got the following error message:
"Public access is disabled for your store or you are accessing from a private endpoint that is not in the store’s private endpoint c

[2022-01-26 11:53] dgpoulet opened #86987 "Add the method for getting Request Charge with Python"
There's no example on how to get the request charge using PyMongo.

e.g.

[code]

Could we add this for completeness?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18138f12-8f71-2ab7-ba71-fdf8a254e3e0
* Version Independent ID: 1cd854e0-8ff9-1a4d-8ebb-2189652d4a67
* Content: [Find request unit charge for Azure Cosmos D

[2022-01-26 12:08] snsancar opened #86988 "Why disable Skew join optimisation?"
[Enter feedback here]
How disabling skew join can be a solution here? the advantage of AQE is to improve performance on join's and other scenario's. What is the point of disabling this feature?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31a75ecd-5ede-8a89-a65c-5c754393866d
* Version Independent ID: 944de949-bf77-01

[2022-01-26 12:27] asergaz commented on #86925
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-01-26 12:40] sopelt opened #86990 "Roadmap for the multi-container preview - GA ETA"
Hello,
the documentation states that multi-containers are a preview and have certain limitations. This has been the case for ~3 years.
Where can we find a roadmap for multi-container apps or get any idea if/when they can be used for production workloads?

I am aware that [Azure Container Apps](https://azure.microsoft.com/en-us/services/container-apps/#security) might at some point replace app serv

[2022-01-26 12:47] gregoryagu commented on #86907
@Dickson-Mwendia , great thank you, that works for me.

[2022-01-26 12:47] #86907 closed

[2022-01-26 12:49] AnuragSharma-MSFT commented on #86788
@msalemcode Thank you for the detailed . This is being assigned to the content author to evaluate and update as appropriate.

[2022-01-26 13:24] larrywa opened #86992 "Instructions appear to be out of sync"
Your instructions appear to be out of sync somehow.

You say to setup a repo, clone the repo and then open VS Code to get to the repo folder. You then log in to Azure and click the Static Web App Plus button.

You instructions attempt to get you to create a new static web app but you already have one from the repo that was cloned sitting there.

Maybe I'm missing something here that VS Code is sup

[2022-01-26 13:38] DeanGross opened #86993 "Configuring using Policy"
Please add information about how we can enable encryption using Azure Policy and/or ARM templates.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 626ed581-a5ca-20ef-eb0b-cc391c8400d2
* Version Independent ID: 9b419806-285e-2501-e682-8136734db7b6
* Content: [Transparent Data Encryption (Portal) for dedicated SQL pool (f

[2022-01-26 13:55] MonikaReddy-MSFT commented on #86944
@katiebrudos  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-01-26 13:55] GeethaThatipatri-MSFT commented on #86987
Hi @dgpoulet Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-26 13:56] kasimrehman opened #86994 "It is not clear why you cannot switch from ZRS to GZRS"
[Enter feedback here]

The page states:
"If you want to add or remove geo-replication or read access to the secondary region, you can use the Azure portal, PowerShell, or Azure CLI to update the replication setting. However, if you want to change how data is replicated in the primary region, by moving from LRS to ZRS or vice versa, then you must perform a manual migration."

A switch from ZRS to G

[2022-01-26 13:58] kasimrehman commented on #86994
It is also not clear where to find pricing information for this or most other migrations mentioned on this page.

[2022-01-26 14:00] ChaitanyaNaykodi-MSFT commented on #86847
Hello @idunbar46 Thank you for your feedback, I have made a PR to address this issue and it is currently under doc authors review. We will now proceed to close this issue out please tag me in your response if you have any additional questions. Thank you!

[2022-01-26 14:00] #86847 closed

[2022-01-26 14:10] MonikaReddy-MSFT commented on #86958
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-01-26 14:35] scaravacap opened #86995 ""Resolve common issues" section is not updated."
Hey team, quick observation regarding this section: https://docs.microsoft.com/en-us/azure/site-recovery/vmware-azure-enable-replication#resolve-common-issues

It says "Each disk should be smaller than 4 TB" and that is misleading, I think it could be corrected to: "Each disk should be smaller than 4 TB when replicating to unmanaged disks and smaller than 32 TB when replicating to managed disks".

[2022-01-26 15:14] JamesTran-MSFT commented on #86954
@cbtboss
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-01-26 15:17] JamesTran-MSFT commented on #86976
@fume
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-01-26 15:38] mike-urnun-msft commented on #86957
Hello @DanielLarsenNZ - Thank you for your feedback! We will review and update as appropriate.

[2022-01-26 15:39] Klaas- opened #86996 "Sync interval and availability of security updates"
Hi,
today we noticed that security updates are not propagated in a fast way within the RHUI infrastructure. I opened a support case and we were notified that rhui only syncs new packages once a day and then it takes additional time for them to propagate through the rhui-microsoft mirrors until new repository is actually available in west europe for example.

I think you should make this very slow

[2022-01-26 15:40] mike-urnun-msft commented on #86959
Hello @inknochen - Thank you for your feedback! We will review and update as appropriate.

[2022-01-26 15:42] mike-urnun-msft commented on #86983
Hello @tijmenamsing - Thank you for your feedback! We will review and update as appropriate.

[2022-01-26 16:04] KrishnaG-MSFT commented on #86995
@scaravacap Thanks for your comment! We will review and provide an update as appropriate.

[2022-01-26 16:09] 64oz-frozenmangos opened #86998 "Overriding monitoring configuration - double underscore not working as described"
The docs say that the 'dot' used is replaced with double underscores '__' in the function configuration settings. [link](https://docs.microsoft.com/en-us/azure/azure-functions/configure-monitoring?tabs=v2#overriding-monitoring-configuration-at-runtime)

However, `AzureFunctionsJobHost__logging__LogLevel__Host__Results` does not work. I was able to use `AzureFunctionsJobHost__logging__LogLevel__Hos

[2022-01-26 16:13] lgflinn opened #86999 "ARO as container option"
Recommend including Azure RedHat OpenShift (ARO) as a container option

---
[#### Document Details](https://azure.microsoft.com/en-us/services/openshift/)

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04491fb9-6ca7-c21a-5372-a966c8ee72be
* Version Independent ID: 97fa3784-c1b4-0097-1ec9-223edaa768bc
* Content: [Comparing Container Apps with oth

[2022-01-26 16:13] #86645 closed

[2022-01-26 16:16] alisonOCT commented on #83750
@v-hagamp
Can I please get an update on this?

[2022-01-26 16:21] KrishnaG-MSFT commented on #86978
Hi @gbparaschiv,

Yes, Customize actions feature in log alert rules is removed recently (in Nov'21). As informed in [this][1] Azure document, the new alert rule wizard does not include the option to customize the triggered alert's email or to include a custom JSON payload i.e., while managing alert rules created in the latest UI or using an API version later than 2018-04-16. However, refer [this][

[2022-01-26 16:31] tamram commented on #86994
@kasimrehman - Migration from ZRS to GZRS simply isn't available in the Azure portal currently, as the portal makes clear. The table in the article explains that the account must be migrated with a live migration, unless the change is for a failback operation. We can also add a paragraph about this in the text; however, the guidance won't change.

We link out to the pricing page from the article.

[2022-01-26 16:33] dannyevers commented on #86788
#reassign:smannepalle

[2022-01-26 16:33] PRMerger3 commented on #86788
The following users don't have valid GitHub IDs, or are not collaborators on this repo: smannepalle

[2022-01-26 16:50] kobulloc-MSFT commented on #86970
@shaf3ii Thank you for your question!  We've assigned this to the document author for further review.

[2022-01-26 16:51] jlundy2 opened #87000 "Get single group doesn't return group details"
[Enter feedback here]

Running `Get-AzureADGroup -ObjectId <redacted>` returns
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b994ee0-d0b5-715f-bc48-44d8256499d7
* Version Independent ID: 6fda2b17-e142-8087-b47f-f589a3cfa1d8
* Content: [PowerShell V2 examples for managing groups - Azure AD](https://docs.microsof

[2022-01-26 16:54] kobulloc-MSFT commented on #86996
Hello, @Klaas-!  Thank you for bringing this to our attention.  We're taking a look at the security update turn around time and are reviewing the documentation.  We'll update you shortly.

[2022-01-26 16:55] jlundy2 commented on #87000
Probably the same as #85477, but the other properties definitely apply to the group above.

[2022-01-26 16:55] brettpostin commented on #56834
I'm not sure if this is a valid business case for supporting ARM or we are doing something wrong, but...

We have enabled "Automatic SQL Server VM Registration" inside the SQL Virtual Machines area. This installs the SqlIaasExtension on the VM, fine.

However when doing an ARM deployment, we can see in the Activity Logs that the extension is being deleted when in Complete deployment mode. This cau

[2022-01-26 16:58] jlundy2 commented on #87000
Also, looks like the same as #8830 but again the documentation doesn't match what the command actually does.

[2022-01-26 17:00] ssabounis opened #87001 "Updating Docs due to Cx Issue"
In the "Configure your storage account credentials" section of the page, a Microsoft customer recently pointed out, by way of another MS Customer Engineer, that when mounting a read-only container, the config file should include an extra line utilizing the blobEndpoint option (see the following blog: [https://docs.microsoft.com/en-us/answers/questions/708231/unable-to-mount-container-through-blobf

[2022-01-26 17:17] vhorne commented on #83146
Article updated
#please-close

[2022-01-26 17:17] #83146 closed

[2022-01-26 17:20] alexkhorton commented on #86958
Thanks @MonikaReddy-MSFT,

Some of my formatting seems to have gotten messed up when I was copying and pasting text.

The paragraph appearing as

On a related note, when I obtain a link to the raw ARM template file contained in a private repository (as requested in step 7. Select the Raw button, the URL begins with https://raw.githubusercontent.com), the link is of the form https://raw.githubuserc

[2022-01-26 17:23] PriyankaRudramaina commented on #86826
Hello @zalent,

Yes, Only Generation 1 VMs for RHEL are support for automatic patching. The document will be updated with this details as per the product team and this will take sometime to reflect on the document.

[2022-01-26 17:23] #86826 closed

[2022-01-26 17:29] JamesTran-MSFT commented on #87000
@jlundy2
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-26 17:48] JamesTran-MSFT commented on #86890
@dcurwin
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-01-26 17:48] #86890 closed

[2022-01-26 17:53] martincoetzer commented on #86326
#please-close

[2022-01-26 17:53] #86326 closed

[2022-01-26 17:55] AlexandraKemperMS commented on #86957
Hi @DanielLarsenNZ, I can confirm that for App Configuration, we do **not**currently have Availability Zone support for Australia East. This support is a work in progress, and the list will be updated once we have AZ support in that region.

[2022-01-26 17:55] koder101 commented on #85182
@sharroy @ebolton-cyber  Thanks, I'll wait for the email being a publisher.

[2022-01-26 17:56] DerekHerman-MSFT commented on #86697
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-26 18:01] spelluru commented on #86517
@aschabus - Thanks for the feedback. I just confirmed with the PM and updated the doc.
https://review.docs.microsoft.com/en-us/azure/event-hubs/event-hubs-ip-filtering?branch=pr-en-us-186320#trusted-microsoft-services

The updated article will go live at 3 PM PST. Thanks.

#please-close

[2022-01-26 18:01] #86517 closed

[2022-01-26 18:06] YutongTie-MSFT commented on #86973
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-26 18:14] michaelschmit opened #87002 "Uptime SKU in Portal"
Where is this uptime sku displayed in the portal?  Whether you can enable it and disable it from the portal is one thing, but minimally it should be displayed some where.  I haven't been able to find it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a26e9dfe-c152-881c-5c60-e5753e0e4d2e
* Version Independent ID: e56264

[2022-01-26 18:15] MonikaReddy-MSFT commented on #86771
@cpdohert - Thanks for reaching out, this link would be reference to ARM template implementation - https://docs.microsoft.com/en-ca/azure/azure-monitor/visualize/resource-manager-workbooks

Hope that helps.

At this moment, since there is no doc update required, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will glad

[2022-01-26 18:15] #86771 closed

[2022-01-26 18:17] MonikaReddy-MSFT commented on #86708
@OwainWin - Thanks for reaching out and for being patient.

This article is getting completely restructured. But we show how to install an ARM template with PowerShell or CLI in [Resource Manager template samples for Azure Monitor - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/resource-manager-samples#deploying-the-sample-templates

Hope that helps.

At this moment, since th

[2022-01-26 18:17] #86708 closed

[2022-01-26 18:21] KranthiPakala-MSFT commented on #86775
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-01-26 18:21] #86775 closed

[2022-01-26 18:26] KranthiPakala-MSFT commented on #86980
Thanks for the feedback! We have assigned the issue to the content author to further review this and provide an update as appropriate.

[2022-01-26 18:29] JamesTran-MSFT commented on #86892
@deyanp
Thank you for pointing this out!  I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

**Error message:** `To setup Diagnostic settings to use Azure Monitor for your Azure AD B2C directory, you need to set up delegated resource management.`

**Root cause:** You have to select your Azure B2C and Azure AD directory under the `Curren

[2022-01-26 18:29] #86892 closed

[2022-01-26 18:31] MartinJaffer-MSFT commented on #86919
Well, there might be, @justinmchase , but since the point of test environment is to make sure everything works for prod environment, having 2 different solutions might invite trouble.  To make test and prod as similar as possible, how about using a proxy to do Port Address Translation?

My colleague suggested using [Network Virtual Appliance](https://azure.microsoft.com/en-us/solutions/network-app

[2022-01-26 18:34] MartinJaffer-MSFT commented on #86919
test

[2022-01-26 18:34] tamram commented on #86697
@seanmcc-msft - can you take a look at this one? I can't imagine that we actually want to recommend setting x-ms-version to 2011-08-18.

[2022-01-26 18:39] seanmcc-msft commented on #86697
https://docs.microsoft.com/en-us/rest/api/storageservices/specifying-the-range-header-for-blob-service-operations

I think this documentation is pretty clear.  The first format is supported by x-ms-version 2011-08-18 and higher, and the second format is supported by 2009-04-14 and higher.

[2022-01-26 18:39] KranthiPakala-MSFT commented on #86982
Thanks for reaching out! We have assigned the issue to the content author to further review this and provide an update as appropriate.

@mssaperla Could you please review the above ask and share your inputs? - Thanks

[2022-01-26 18:41] Grace-MacJones-MSFT commented on #86990
Hi @sopelt , thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2022-01-26 18:41] KranthiPakala-MSFT commented on #86988
Thanks for reaching out! We have assigned the issue to the content author to further review this and provide an update as appropriate.

@mssaperla - Could you please have a look at this request and share your inputs? - Thank you

[2022-01-26 18:42] Grace-MacJones-MSFT commented on #86965
Thanks for your feedback! We will review and update this doc accordingly.

[2022-01-26 18:45] JamesTran-MSFT commented on #86893
@ThierryBT
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-01-26 18:45] KranthiPakala-MSFT commented on #86993
Thank you for reaching out. At this time, we are reviewing the ask and will provide an update as appropriate

[2022-01-26 18:46] SadiqhAhmed-MSFT commented on #86216
@mathapli For assistance!

[2022-01-26 18:47] kromerm commented on #86423
#please-close

[2022-01-26 18:47] #86423 closed

[2022-01-26 18:47] kromerm commented on #86282
fixed

[2022-01-26 18:47] kromerm commented on #86282
#please-close

[2022-01-26 18:47] #86282 closed

[2022-01-26 18:48] kromerm commented on #85403
#please-close

[2022-01-26 18:48] #85403 closed

[2022-01-26 18:49] normesta commented on #86840
Thank you for the suggestion @tommflynn! I updated the intro of each upgrade article to make clear the connection to hierarchical namespaces. Thanks again.

#please-close

[2022-01-26 18:49] #86840 closed

[2022-01-26 18:49] Grace-MacJones-MSFT commented on #86965
Hi @ciufudean , are you referring to this part of the doc?
![appsettings](https://user-images.githubusercontent.com/42247081/151227343-eae0f40a-42f5-43eb-947b-3bac1a5f17f2.png)

[2022-01-26 18:50] normesta commented on #86831
Sorry for the confusion @jjjjeee. I've added a note to that area of the doc.  Thanks for raising the issue.

#please-close

[2022-01-26 18:50] #86831 closed

[2022-01-26 18:54] cpdohert commented on #86771
@MonikaReddy-MSFT

...and does the original page now contain a link to the proper ARM template reference, or the template samples page, or to https://docs.microsoft.com/en-ca/azure/azure-monitor/visualize/workbooks-automate ?

No?

Then a doc update is still required.

[2022-01-26 18:55] KranthiPakala-MSFT commented on #86993
Hi @DeanGross,

As per the below statement from [this document (Secure a dedicated SQL pool (formerly SQL DW) in Azure Synapse Analytics)](https://docs.microsoft.com/en-us/azure/synapse-analytics/sql-data-warehouse/sql-data-warehouse-overview-manage-security#encryption), it seems like, currently you can encrypt your database only using the `Azure portal` or `T-SQL` .

![image](https://user-images.

[2022-01-26 18:55] yamafaktory commented on #86697
Hi folks, thanks for the update.

In my opinion, the documentation is clear if you have some background regarding what are those versions.

It might be relevant to include a link on how to set this header - basically that's what confused me in the first place.

[2022-01-26 18:56] justinmchase commented on #86919
Its forbidden at the corporate level sadly. We have a global rule that sates all outbound traffic must be through port 80 or 443. Like I said once we push up to azure the systems there can communicate with 9093 fine but our internal systems including developer machines are affected.

I'm planning on writing an abstract called something like `StreamService`, which abstracts what I'm doing to call e

[2022-01-26 18:57] jnatour opened #87006 "Shared Azure Data Disk updates are not reflected across the other sharing VMs until they are restarted"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38b73c0b-4ef3-03ec-6d17-7085ed9a9c86
* Version Independent ID: 41c65315-c617-48b2-e273-5a8e11a62269
* Content: [Share an Azure managed disk across VMs - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/disks-shared)
* Co

[2022-01-26 19:00] jonburchel commented on #85582
Thanks @napbarnes for the clarification, and for helping us improve this doc!  I do think the wording was a little vague when describing how to find the workflow URL.  I added a clarification note now that explicitly calls out how to navigate to it instead of just assuming the user is already there.  I hope this will improve the article to make it easier to follow!  I will close this issue out for

[2022-01-26 19:00] #85582 closed

[2022-01-26 19:01] ukiguy opened #87007 "Fix difference comparison"
Under difference section you have a statement: Compared to earlier versions of the App Service Environment, there are some differences with App Service Environment v3. With App Service Environment v3. I believe that one of the App Service Environment should say V2 instead of comparing V3 with V3, it should say V3 with V2.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2022-01-26 19:02] flang-msft commented on #84453
#reassign: @flang-msft

[2022-01-26 19:05] romankiss commented on #86005
Hi @sandeeppujar, thanks for this input.

I have tried your format for command reported property name and the device model failed (_unmodeleddata), see my following screen snippet:

![image](https://user-images.githubusercontent.com/30365471/151223821-58a42442-bcb2-43ec-9dcc-2f5b43f25d22.png)

Note, that the command response has been updated, but the History still didn't show a pair of the Request

[2022-01-26 19:05] madsd commented on #87007
Earlier versions of App Service Environment = App Service Environment v1 and v2

[2022-01-26 19:05] JamesTran-MSFT commented on #86937
@unearthnz
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-01-26 19:06] mike-urnun-msft commented on #86998
Hello @64oz-frozenmangos - Thank you for your feedback! We will review and update as appropriate.

[2022-01-26 19:08] mike-urnun-msft commented on #86999
Hello @lgflinn - Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-01-26 19:09] diegobazan96 opened #87008 "CS1061 Error when running tutorial verbatim"
In the "Add a controller to handle sign-in and sign-out requests" part, step 6.

![image](https://user-images.githubusercontent.com/84939100/151229767-9a723419-e6f0-459a-92eb-af95a9b0a144.png)

How can this be resolved?

I did a lot of googling and the following did not work:
Adding using System.web;
Adding using System.web.Mvc;

[2022-01-26 19:12] santhoshb-msft opened #87009 "Change the resourceuri attribute from guid to fullyqualifiedname in the payload"
Change the resourceuri attribute from <guid> to fullyqualifiedname in the payload

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4318999-c1d5-319f-a90d-33d077702d2b
* Version Independent ID: 35343ad4-d893-016b-c4e2-2732c8c241eb
* Content: [Metering service APIs - Microsoft commercial marketplace](https://docs.microsof

[2022-01-26 19:12] bostevensspinakr opened #87010 "Use real world examples, not basic print statements"
[Enter feedback here]
Instead of a print statement like "The timer is running late," It would be much more helpful to use an example of something I might actually do...

...like start up a container. Still can't figure out how to make this work:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5527c3b-a5da-c73d-

[2022-01-26 19:15] sadukie opened #87011 "Azure Container Instances - Subnet won't allocate IPs to containers without delegation"
Going through this page as a guide on how to work with ACI and VNets, I ran into an issue where the IP addresses weren't getting assigned to the containers.  Further poking around in documents led me to realize I needed to add `--delegations "Microsoft.ContainerInstance/containerGroups"`.

So a suggested fix:

For the section **Create virtual network**, in the code after the text `Here it's named

[2022-01-26 19:22] kobulloc-MSFT commented on #87002
@michaelschmit Thank you for your feedback!  We are reviewing this and will get back to you shortly.

[2022-01-26 19:23] dresca0 opened #87012 "Enhancement suggestion"
Please include the additional app proxy configuration dependency for the office web apps farm to properly launch office files from the on premise SharePoint farm.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aad211da-8b38-846c-d439-54d8d8e2f7e2
* Version Independent ID: 734c3410-a632-8248-a93a-f2e6f240633a
* Content:

[2022-01-26 19:25] AspenForester opened #87013 "The prerequisite of needing List Secret permission is not stated"
In this document it is never noted that the operator attempting to create a KeyVault Named Value must already have the "List Secrets"  right in the target key vault.  While this might seem obvious in hindsight, when one is learning how to manage the API management service, that fact can easily be lost.

in the section [Key vault secrets](https://docs.microsoft.com/en-us/azure/api-management/api-ma

[2022-01-26 19:26] JamesTran-MSFT commented on #87000
@jlundy2
Thank you for pointing this out and for sharing the related GitHub issues!

You're correct, the output within the doc doesn't match what I recieved when running `get-azureadgroup`.
![image](https://user-images.githubusercontent.com/36619112/151231943-05dfa683-3fb1-42c2-a42f-5fb4f5eaa7c4.png)

**Related Issues:**
https://github.com/MicrosoftDocs/azure-docs/issues/85477
https://github.com/M

[2022-01-26 19:26] ciufudean commented on #86965
Yes

On Wed, Jan 26, 2022, 20:50 Grace-MacJones-MSFT ***@***.***>
wrote:

[2022-01-26 19:26] JamesTran-MSFT commented on #87012
@dresca0
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-01-26 19:27] LCKeith commented on #87013
We lost a good few hours trying this down. It was not easy to figure out.

[2022-01-26 19:34] seanmcc-msft commented on #86697
See https://docs.microsoft.com/en-us/rest/api/storageservices/versioning-for-the-azure-storage-services.

[2022-01-26 19:42] DerekHerman-MSFT commented on #86967
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-26 19:43] gvanteylingen opened #87014 "Change IP limit wording"
Please change:
Number of subnets delegated to Azure NetApp Files (Microsoft.NetApp/volumes) per Azure Virtual Network

To:
Number of IPs in a VNet (including immediately peered VNets) accessing volumes in an Azure NetApp Files hosting VNet

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93ca706a-09d1-39dc-80b5-3df2a180a

[2022-01-26 19:45] gvanteylingen opened #87015 "Change IP limit wording"
Please change:
The number of IPs in use in a VNet with Azure NetApp Files (including immediately peered VNets)

To:
Number of IPs in a VNet (including immediately peered VNets) accessing volumes in an Azure NetApp Files hosting VNet

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31580c1b-34e7-acad-dfed-db47f7dae39f
* V

[2022-01-26 19:46] BharathNimmala-MSFT commented on #86956
@jinyu1122 Thank you for reaching out with your query, our team will review it and get back to you at the earliest.

[2022-01-26 19:46] rolyon commented on #86887
Hi @dcurwin
I will contact you about the changes we should make,
thanks

[2022-01-26 19:46] rolyon commented on #86887
#please-close

[2022-01-26 19:46] #86887 closed

[2022-01-26 19:51] timamay opened #87016 "Start/Stop VMs V2"
I was pleased to see a new version of the Start/Stop VM functionality was released. However, I was under the impression that support for tagging would be included in this release. What has been released is still considerably more complicated than necessary to achieve the same solution. For instance, if I want all 130 subscriptions in my tenant to be able to use the start and stop functionality, I

[2022-01-26 19:52] yamafaktory commented on #86697
Ok, I've simply missed that link at the bottom (would have expected it within the related section). Thanks a lot and sorry for the confusion.

[2022-01-26 19:52] #86697 closed

[2022-01-26 20:03] stewartadam opened #87017 "Clarify functionality around group assignment of app roles"
The start of the article states (emphasis mine):

Just below that, it then says:

The second text is rather unhelpful as not only does it not tell users how they can proceed when assigning a group to app roles, but it directly conflicts with information stated earlier - please clarify.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2022-01-26 20:15] mrbullwinkle commented on #86253
Thank you for bringing this to our attention.

The updated ChangePoint samples can be found here:
https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/anomalydetector/Azure.AI.AnomalyDetector/tests/samples/Sample3_DetectChangePoint.cs

The latest release is here:
https://www.nuget.org/packages/Azure.AI.AnomalyDetector/3.0.0-preview.5

Changelog is here for tracking what has changed between ver

[2022-01-26 20:15] ozgur-cetinok-umg commented on #44894
Any update on this issue?

[2022-01-26 20:16] mrbullwinkle commented on #86253
#please-close

[2022-01-26 20:16] #86253 closed

[2022-01-26 20:16] MarileeTurscak-MSFT commented on #87017
@stewartadam
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-26 20:19] ozgurcetinok commented on #44894
Any update on this issue?

[2022-01-26 20:22] billmath commented on #75679
Thank you for your issue submission. Unfortunately, this appears to be a problem and a support issue. Issues in this repo are for documentation issues. You can try one of the following links for additional help.

Microsoft Support: https://support.microsoft.com/
Azure AD forums: https://social.technet.microsoft.com/Forums/en-US/home?forum=windowsazureaditpro
Stackoverflow: https://stackoverflow.co

[2022-01-26 20:22] #75679 closed

[2022-01-26 20:26] BryanTrach-MSFT commented on #86972
@IgnacioAlvarezArenas Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-26 20:28] YutongTie-MSFT commented on #86962
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-26 20:29] YutongTie-MSFT commented on #86968
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-26 20:29] YutongTie-MSFT commented on #86979
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-26 20:40] Norrch2 commented on #86290
Hello @JamesTran-MSFT may I have an update on this?

[2022-01-26 20:40] rolyon commented on #80245
Thanks for your feedback. If there are changes to the portal, we'll be sure to update docs.
thanks

[2022-01-26 20:41] rolyon commented on #80245
#please-close

[2022-01-26 20:41] #80245 closed

[2022-01-26 20:41] YutongTie-MSFT commented on #86986
@Bator92 Hello, thanks for your feedback, could you please let us know which document you are referring?

[2022-01-26 20:43] YutongTie-MSFT commented on #86984
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-26 20:45] way0utwest opened #87018 "API split not clear"
This page does not specify that each cosmos db account is for a single API only, and using multiple APIs means multiple accounts. It also doesn't say that multiple dbs in an API can be in one account. It's documentation that you have to piece together through a lot of reading and experimentation to determine. This ought to be explicitly stated.

---
#### Document Details

⚠ *Do not edit this secti

[2022-01-26 20:58] billmath commented on #79078
Thank for submitting this. I have created a work item for it and will reviewing this in the coming weeks. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2022-01-26 20:58] #79078 closed

[2022-01-26 21:00] billmath commented on #85255
Thank for submitting this. I have created a work item for it and will reviewing this in the coming weeks. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2022-01-26 21:00] #85255 closed

[2022-01-26 21:02] the-cory-smith opened #87019 "Global Reader Limitation - MEM Portal - WIP Settings"
https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference#global-reader

Global reader has a limitation in the Microsoft Endpoint Manager admin center portal when viewing the app protection policies for Windows.  Role does not allow view of the targeted apps or the advanced settings.

The API calls when viewing the properties for the WIP policy are the same and listed bel

[2022-01-26 21:05] SeanTGeoghegan opened #87020 "Verifying Current EnableMIPLabels Setting"
In regards to setting "EnableMIPLabels: True", can a section be added to confirm current settings, rather than the settings based on the template? I have noticed confusion when trying to verify if this has had a chance to propagate, without using the second set of cmdlets below:

Example:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2022-01-26 21:12] kbiondi opened #87021 "How about some F# examples?"
F# is well-suited for Azure functions. I have successfully deployed F# Azure functions, but some documentation for others would be helpful. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2646ad4-34b7-fc5e-dcc9-d53a061df394
* Version Independent ID: bbff4fda-24e4-2b62-24b9-94cda5f53bed
* Content: [Work with

[2022-01-26 21:29] JamesTran-MSFT commented on #86290
@Norrch2
Thank you for following up on this!

From the doc commit history I see the age gating link used to be `samples/tree/master/age-gating`, but the new link is pointing to `samples/tree/master/policies`.

I'm also not able to find the repo on the [Azure AD B2C community pag](https://github.com/azure-ad-b2c?q=&type=all&language=&sort=)e either.

@kengaderdus  or @yoelhor, can you either of you

[2022-01-26 21:38] robertplata opened #87023 ""DB2" should be "Db2""
Hello,
not to be picky, but IBM has changed DB2 to Db2.

Rob

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efa63aaf-3cb7-96aa-814e-b99cb262973f
* Version Independent ID: 4374af9e-c366-64a1-7562-e481aefb75ba
* Content: [Azure Purview Connector Overview - Azure Purview](https://docs.microsoft.com/en-us/azure/purview/pur

[2022-01-26 21:47] MarileeTurscak-MSFT commented on #87019
@the-cory-smith
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-26 21:49] AwdotiaRomanowna opened #87024 "typo: Can I enable or disable HA any any point of time?"
Can I enable or disable HA **any any** point of time?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 517e4390-b753-b794-f705-a3a995247917
* Version Independent ID: 7f28cd80-7ffa-ba7a-ed87-2cab1764f49a
* Content: [Overview of zone redundant high availability with Azure Database for PostgreSQL - Flexible Server](https://

[2022-01-26 21:53] ladykraken commented on #87024
Typo; at any point.. @MicrosoftDocs/azure-docs
***@***.***>

***@***.***

On Wed., Jan. 26, 2022, 4:50 p.m. AwdotiaRomanowna, <
***@***.***> wrote:

[2022-01-26 22:00] MarileeTurscak-MSFT commented on #87019
Thank you! I made a pull request to add this limitation.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/186359

@rolyon

[2022-01-26 22:00] #87019 closed

[2022-01-26 22:02] jenniehubbardDB commented on #86588
@KranthiPakala-MSFT support-request

[2022-01-26 22:09] JamesTran-MSFT commented on #87020
@SeanTGeoghegan
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-01-26 22:19] willvelida opened #87025 "Link to Managed Identity to authenticate to ACR returns 404"
The current link to the 'Use a managed identity to authenticate to an Azure container registry' under **IM-2: Manage application identities securely and automatically** returns a 404.

Current Link: https://docs.microsoft.com/en-us/azure/container-registry/container-registry-authentication-managed-identityAzure
Correct Link: https://docs.microsoft.com/en-au/azure/container-registry/container-regis

[2022-01-26 22:27] flang-msft commented on #86640
@reassign: @MSFTeegarden

[2022-01-26 22:30] jhaynesTX opened #87026 "404 Errors in azure-docs/CONTRIBUTING.md"
The following links appear to be broken in [CONTRIBUTING.md:](https://github.com/MicrosoftDocs/azure-docs/blob/a21199c677e7ad04487dfa6fb9e2b0f8470d6f0e/CONTRIBUTING.md)

["Quick edits to existing documents"](https://github.com/MicrosoftDocs/azure-docs/blob/a21199c677e7ad04487dfa6fb9e2b0f8470d6f0e/contribute/#quick-edits-to-existing-documents)

["Pull Requests" ](https://github.com/MicrosoftDocs/az

[2022-01-26 22:31] dzak83 opened #87027 "Objective C samples are missing"
Please consider adding Objective C sample code

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9c2a719-62fa-b111-03a6-1268cc4caaaa
* Version Independent ID: 2fe78b74-7717-bce9-9204-1089256563f5
* Content: [Tutorial: Create an iOS or macOS app that uses the Microsoft identity platform for authentication - Microsoft iden

[2022-01-26 22:32] James-Hamil-MSFT commented on #86525
How long does it take for it to be deleted on the VM level? I've repro'd it a few times now and the doc is correct. Are you sure that you're using a User assigned MI and not System assigned?

[2022-01-26 22:38] benjaminjnr commented on #85135
Is there any word on this?  I am also experiencing a blocker.

[2022-01-26 22:39] brthurr opened #87028 "TaskKill command incorrect"
The command to kill Edge is currently documented as:

`taskkill /F /IM MicrosoftEdge.exe /T`

The process for Edge is `MSEdge.exe`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae5719ca-617e-4f16-e1b4-8e24ac128ebd
* Version Independent ID: 8211d606-f29b-5629-f897-05985266dfc8
* Content: [Install Microsoft Office FSLog

[2022-01-26 22:39] kobulloc-MSFT commented on #87025
@willvelida Thank you for bringing this to our attention!  I'll get a PR out to fix the broken link.

[2022-01-26 22:40] Krzysztoff27 opened #87029 "Wrong picture scheme"
The website describes Pasword Hash Synchronization, but the picture included in the paragraph presents model of a Pass Through Authentication (not PHS).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aad82713-d562-5778-fbf8-035e24f9c470
* Version Independent ID: 6370cca0-c78e-4738-ba67-8fb14594b0f2
* Content: [What is

[2022-01-26 22:41] willvelida commented on #87025
@kobulloc-MSFT I've created one just now :) https://github.com/MicrosoftDocs/security-benchmark-docs-pr/pull/219

[2022-01-26 22:54] MarileeTurscak-MSFT commented on #87027
@dzak83 thanks for your feedback! I've assigned it to the content author to review.

[2022-01-26 22:55] MarileeTurscak-MSFT commented on #87029
@Krzysztoff27 thanks for your feedback! I've assigned it to the content author to review.

[2022-01-26 23:01] kobulloc-MSFT commented on #87025
@msmbaldwin It appears that this document (unlike those that neighbor it and in the rest of the documentation) lives outside the Azure docs in Security.  I believe you'll need to address this PR.

https://docs.microsoft.com/en-us/security/benchmark/azure/baselines/container-registry-security-baseline
vs
https://docs.microsoft.com/en-us/azure/container-registry/security-controls-policy

[2022-01-26 23:02] DrRobertMurphy commented on #82039
@SwathiDhanwada-MSFT , well, when I went to check Advisor today several recommendations came back AND I could not open a ticket in the manner you described:
![image](https://user-images.githubusercontent.com/12820826/151261626-a1a2b014-f1c3-4096-b0d9-9869c351be0a.png)

I'm emailing you now.
Thanks.

[2022-01-26 23:06] kobulloc-MSFT commented on #87011
@sadukie Thank you for your feedback (and for providing a solution)!  We are reviewing this and will get back to you shortly.

[2022-01-26 23:22] DerekHerman-MSFT commented on #87001
@ssabounis This page is more meant to be a guide on how to set this up. Having read access to a secondary endpoint is not a common scenario. The config options including blobEndpoint are on the readme page for blobfuse.
https://github.com/Azure/azure-storage-fuse#config-file-options

[2022-01-26 23:23] #86545 closed

[2022-01-26 23:24] DerekHerman-MSFT commented on #87006
@jnatour This is to be expected if you are not using an application to manage the cluster.

[2022-01-26 23:24] #87006 closed

[2022-01-26 23:24] kobulloc-MSFT commented on #86809
@cynthn I'll include you on the PR.  Everything looks in order with a stop added to the steps:

![image](https://user-images.githubusercontent.com/37556655/151263785-5156b310-1957-48ad-91fc-727ee88ce2bc.png)

[2022-01-26 23:28] JimacoMS4 commented on #84282
Hi @eedorenko,

Thanks very much for taking the time to provide feedback to our documentation! As you point out, the sample is archived. Archived samples are not updated. Since this sample is archived and distributed tracing is a preview feature, after checking with the product team, I removed the section where the sample was referenced from the article. That will prevent folks in the future from

[2022-01-26 23:28] #84282 closed

[2022-01-26 23:31] DerekHerman-MSFT commented on #87014
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-26 23:31] DerekHerman-MSFT commented on #87015
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-26 23:34] b-hchen commented on #87014
@gvanteylingen - Thanks, Geert.  This has been implemented (https://github.com/MicrosoftDocs/azure-docs-pr/pull/186377 ), posting by 1/27/22.

cc: @b-ahibbard

#please-close

[2022-01-26 23:34] #87014 closed

[2022-01-26 23:51] mike-urnun-msft commented on #87010
Hello @bostevensspinakr - Thank you for your feedback! We will review and update as appropriate.

[2022-01-26 23:52] mike-urnun-msft commented on #87013
Hello @AspenForester - Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-01-26 23:54] mike-urnun-msft commented on #87021
Hello @kbiondi - Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-01-26 23:58] mike-urnun-msft commented on #87016
Hello @timamay - Thank you for your feedback. Since your feedback is suggestive of adding newer improvements to the solution presented in this guide, it may be better to open a new issue on the repo of the solution itself: https://github.com/microsoft/startstopv2-deployments/issues

cc: @balas77

[2022-01-27 00:03] flang-msft commented on #53082
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question:
https://docs.microsoft.com/e

[2022-01-27 00:03] #53082 closed

[2022-01-27 00:05] flang-msft commented on #54553
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question: https://docs.microsoft.com/e

[2022-01-27 00:05] #54553 closed

[2022-01-27 00:06] flang-msft commented on #59025
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question: https://docs.microsoft.com/e

[2022-01-27 00:06] #59025 closed

[2022-01-27 00:07] flang-msft commented on #63075
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question: https://docs.microsoft.com/e

[2022-01-27 00:07] #63075 closed

[2022-01-27 00:08] flang-msft commented on #63989
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question: https://docs.microsoft.com/e

[2022-01-27 00:08] #63989 closed

[2022-01-27 00:08] flang-msft commented on #64013
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question: https://docs.microsoft.com/e

[2022-01-27 00:08] #64013 closed

[2022-01-27 00:08] vhorne commented on #83843
Updated content to explicitly create Standard Firewall and Standard Policy.
#please-close

[2022-01-27 00:08] #83843 closed

[2022-01-27 00:08] flang-msft commented on #64643
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question: https://docs.microsoft.com/e

[2022-01-27 00:08] willvelida commented on #87025
@kobulloc-MSFT Ah ok :) I'll raise an issue in that repo and address it in the PR?

Question: The link to submit feedback on that doc raises issues in the azure-docs repo. Should this be changed to raise an issue in the security-benchmark repo instead?

[2022-01-27 00:08] #64643 closed

[2022-01-27 00:09] b-hchen commented on #87015
@gvanteylingen - Thanks.  This change is implemented (https://github.com/MicrosoftDocs/azure-docs-pr/pull/186383 )
Posting ETA 1/27/22.

cc: @b-ahibbard

#please-close

[2022-01-27 00:09] #87015 closed

[2022-01-27 00:10] flang-msft commented on #64813
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question: https://docs.microsoft.com/e

[2022-01-27 00:10] #64813 closed

[2022-01-27 00:11] flang-msft commented on #66573
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question: https://docs.microsoft.com/e

[2022-01-27 00:11] #66573 closed

[2022-01-27 00:12] flang-msft commented on #66734
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question: https://docs.microsoft.com/e

[2022-01-27 00:12] #66734 closed

[2022-01-27 00:13] kobulloc-MSFT commented on #87025
@willvelida I don't usually spend much time outside of the Azure docs so this caught me a bit off guard :) Everything on your end looks like it was done correctly.  Once we hear from the document author we'll get a better idea about the placement of this document in particular.

[2022-01-27 00:14] flang-msft commented on #69158
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are closing this issue for now, but if you feel that it's still a concern, please respond and let us know. If you determine another possible update to our documentation, please don't hesitate to reach out ag

[2022-01-27 00:14] #69158 closed

[2022-01-27 00:15] flang-msft commented on #69568
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are closing this issue for now, but if you feel that it's still a concern, please respond and let us know. If you determine another possible update to our documentation, please don't hesitate to reach out ag

[2022-01-27 00:15] #69568 closed

[2022-01-27 00:16] flang-msft commented on #73511
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are closing this issue for now, but if you feel that it's still a concern, please respond and let us know. If you determine another possible update to our documentation, please don't hesitate to reach out ag

[2022-01-27 00:16] #73511 closed

[2022-01-27 00:17] flang-msft commented on #73852
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are closing this issue for now, but if you feel that it's still a concern, please respond and let us know. If you determine another possible update to our documentation, please don't hesitate to reach out ag

[2022-01-27 00:17] RyanHill-MSFT commented on #86992
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-27 00:17] flang-msft commented on #77759
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are closing this issue for now, but if you feel that it's still a concern, please respond and let us know. If you determine another possible update to our documentation, please don't hesitate to reach out ag

[2022-01-27 00:17] #77759 closed

[2022-01-27 00:18] flang-msft commented on #77966
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are closing this issue for now, but if you feel that it's still a concern, please respond and let us know. If you determine another possible update to our documentation, please don't hesitate to reach out ag

[2022-01-27 00:18] #77966 closed

[2022-01-27 00:19] flang-msft commented on #77990
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are closing this issue for now, but if you feel that it's still a concern, please respond and let us know. If you determine another possible update to our documentation, please don't hesitate to reach out ag

[2022-01-27 00:19] #77990 closed

[2022-01-27 00:20] ThomasWeiss commented on #86939
@VTR-AReed Thanks for your feedback, the article has been updated to match the API of the latest package. This update will be published by tomorrow.
#please-close

[2022-01-27 00:20] #86939 closed

[2022-01-27 00:21] flang-msft commented on #63844
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question: https://docs.microsoft.com/e

[2022-01-27 00:21] #63844 closed

[2022-01-27 00:39] darrendelorme opened #87030 "Please provide a breakdown explaination"
I've been going through these demos for about 2 weeks now trying to retrace all the connections, references and get a basic idea of how to implement Azure Spatial Anchors. In my opinion it would be a lot better if all the methods weren't buried in Switch statements.

In total I've found 4 separate Azure Spatial Anchor Demos listed Below:
1. https://docs.microsoft.com/en-us/windows/mixed-reality/de

[2022-01-27 00:52] kobulloc-MSFT commented on #87028
@brthurr Thank you for your feedback!  We are reviewing this and will get back to you shortly.

[2022-01-27 01:09] pnarsi opened #87032 "ACR Service Endpoints still in private preview."
One of the infobox on this pages says that if an ACR is exposed as a private endpoint on a VNET then we cannot use a managed identity with an AML compute cluster. The recommendation instead (to enable managed identity) is to expose the ACR as a service endpoint to the compute cluster. While technically this is possible I believe that service endpoints for ACR is in private preview (i.e. not suppor

[2022-01-27 01:09] lrtoyou1223 commented on #78296
It's been added.
https://docs.microsoft.com/en-us/azure/data-factory/azure-integration-runtime-ip-addresses

[2022-01-27 01:11] lrtoyou1223 commented on #78296
Suggest to close

[2022-01-27 01:27] lrtoyou1223 commented on #78296
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-01-27 01:27] #78296 closed

[2022-01-27 01:34] lrtoyou1223 commented on #80320
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-01-27 01:34] #80320 closed

[2022-01-27 01:41] lrtoyou1223 commented on #83185
We don't support use different SHIR in source and sink which means the case you mentioned above won't happen.

[2022-01-27 01:49] lrtoyou1223 commented on #83185
#please-close

[2022-01-27 01:49] #83185 closed

[2022-01-27 02:11] v-hagamp commented on #83750
@alisonOCT, The deployment is still in progress, will update to you once done.
Thanks for your cooperation!

[2022-01-27 02:13] kobulloc-MSFT commented on #86909
@stowen-msft I see what you mean in the marketplace.  I'd love to include more descriptive search terms and include a pre-filtered list but it looks like these are third party images with descriptions that we don't have control over.  That in turn means that the filters we set up can become outdated pretty quickly and without warning.  As an example, the screenshot below is RHEL for SAP with High

[2022-01-27 02:15] yutanglin16 commented on #86821
Your understanding is incorrect because that is not how granting the access for App Service resource provider (RP) works. It's **not** to grant any subscription or app to your certificate. It's to grant App Service (the service) itself the access to read the certificate from your Key Vault so that you can end up using the certificate in your web app. Otherwise, App Service will not be able to acce

[2022-01-27 02:19] danmyhre opened #87033 "vCPU Family"
Nothing on this page or in the app shows what vCPU family is used by Databricks SQL. It is not possible to request a quota increase when this information is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: daef80eb-015e-28e9-7a22-f6af1fc3ba4d
* Version Independent ID: ebeb92bd-8a50-6cf1-3a9b-98172d58dbb9
* Conte

[2022-01-27 02:19] lrtoyou1223 commented on #85071
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-01-27 02:19] #85071 closed

[2022-01-27 02:20] #86809 closed

[2022-01-27 02:21] lrtoyou1223 commented on #83165
Add a doc reference to managed VNET

[2022-01-27 02:21] lrtoyou1223 commented on #83165
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-01-27 02:21] #83165 closed

[2022-01-27 02:23] #87033 closed

[2022-01-27 02:27] Kyelin25 commented on #86821
My concern is that this grants the App Service resource provider in my tenant permission to access this KeyVault, which (and this is where I'm guessing) would allow anybody in any subscription trusting my tenant to create a new Application Service using that certificate. Obviously their app itself couldn't pull the certificate (as it can't operate as the resource provider), but could the provider

[2022-01-27 02:27] lrtoyou1223 commented on #77513
Thanks for providing feedback for our document improvement.
Peering between managed VNET and customer VNET is not technically supported. Firstly, cross tenant peering is not supported; secondly, it's not secure because ADF can access all the sources inside customer VNET when peering.
Additionally, I think there is a potential requirement to share the existing PE connection to other VNET and reuse

[2022-01-27 02:28] lrtoyou1223 commented on #77513
#please-close

[2022-01-27 02:29] lrtoyou1223 commented on #77517
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-01-27 02:29] #77517 closed

[2022-01-27 02:30] ram-msft commented on #87032
@pnarsi Thanks for the feedback! We will review and update accordingly.

[2022-01-27 02:39] lrtoyou1223 commented on #85651
Thanks for providing feedback to our document improvement.
For Synapse, it should still be *.frontend.clouddatahub.net.
We have updated the doc.
#please-close

[2022-01-27 02:39] #85651 closed

[2022-01-27 02:40] lrtoyou1223 commented on #84685
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-01-27 02:40] #84685 closed

[2022-01-27 02:48] SumanthMarigowda commented on #86725
@hhubik https://github.com/Azure/Azurite/issues/1139

[2022-01-27 03:09] SumanthMarigowda commented on #86874
@rpstex The PR has been initiated. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-01-27 03:09] #86874 closed

[2022-01-27 04:24] FlynnLives commented on #86793
I feel this is a documentation issue as I have further clarification. I do want to note that the Microsoft documentation was a lot better than what Salesforce offered as they had really old instructions that did not work at all due to various changes over the years.

While the documentation references User.ProfileId there are a few items that are worth mentioning

- Microsoft has no indication wha

[2022-01-27 04:30] AnuragSharma-MSFT commented on #87024
@AwdotiaRomanowna Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-01-27 04:42] RohitMungi-MSFT commented on #87026
@jhaynesTX The contribution guide is available [here](https://docs.microsoft.com/en-us/contribute/) with details about editing and PRs. I believe this document will be updated soon to fix the incorrect links by the docs content team.

[2022-01-27 04:43] yutanglin16 commented on #86821
I'm not following the part about "would allow anybody in any subscription trusting my tenant to create a new Application Service using that certificate". Feel free to share if you have a specific scenario in mind to help explain it.

Granting permission to App Service RP is purely just allowing the service itself to access the KV and it has nothing to do with what others can/cannot do with your ce

[2022-01-27 04:56] AnuragSharma-MSFT commented on #87018
@way0utwest Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-01-27 05:06] millanie opened #87037 "Different information on the translated page."
"Available vCPUs" of "Fsv2-Type3" are different between "en-us" version and "ko-kr" version.
"Available vCPUs" of "Fsv2-Type3" is 84 in "en-us" version, but 86 in "ko-kr" version.

https://docs.microsoft.com/en-us/azure/virtual-machines/dedicated-host-compute-optimized-skus
https://docs.microsoft.com/ko-kr/azure/virtual-machines/dedicated-host-compute-optimized-skus

---
#### Document Details

⚠ *

[2022-01-27 05:12] VikasPullagura-MSFT commented on #87037
@millanie Thanks for pointing this out. We are reviewing this and will update the document accordingly.

[2022-01-27 05:37] SatishBoddu-MSFT commented on #87030
Hello @darrendelorme Thanks for taking time and providing detailed feedback!

Our SME will review the feedback and get back soon.

[2022-01-27 05:53] ShaikMaheer-MSFT commented on #87008
Hi @diegobazan96 Thank you for sharing feedback. Could you please help to understand which document you are referring in this case by sharing document link here.

Please Note, GitHub forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilize Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com

[2022-01-27 05:53] AjayKumar-MSFT commented on #86514
rforster-dev,  Apologies for the delay! I'd been discussing on this internally with our product team. To use wildcard, you could as `/myfolder/subfolder/*`.  Your feedback has been shared with the content owner (@cephalin) to review further and update the document as appropriate in the next iteration.

Thanks again for your valuable feedback on this!

[2022-01-27 05:59] RohitMungi-MSFT commented on #86932
@mishrapratyush Are you using a compute instance or a compute cluster for your experiment? I am also checking internally if this scenario is supported for a workspace behind VNET, Based on my experience the access issues might be related to routing configuration that isn't supported for this scenario.

But, due to the nature of this issue I would also recommend to raise a Azure support case for ch

[2022-01-27 06:18] mathapli commented on #86216
@sharroy can you help here?

[2022-01-27 06:19] dearandyxu commented on #83443
The name of the link service can not be parameterized, but the connection setting within it can be parameterized and the value can be input into connection control table.

[2022-01-27 06:20] mathapli commented on #86216
@SadiqhAhmed-MSFT please assign to @sharroy

[2022-01-27 06:21] dearandyxu commented on #83443
#please-close

[2022-01-27 06:21] #83443 closed

[2022-01-27 06:23] SadiqhAhmed-MSFT commented on #87009
@santhoshb-msft Thank you for your feedback. We will look into this and update as appropriate.

@emuench FYI

[2022-01-27 06:30] sharroy commented on #86216
Hi @Sikkesoft, could you please refer to this link to find the list of base images that will fulfill the software compliance - https://docs.microsoft.com/en-us/azure/marketplace/azure-vm-use-approved-base#select-an-approved-base-image?

I can see as per this link [https://azuremarketplace.microsoft.com/en-US/marketplace/apps/microsoftsqlserver.sql2019-ws2019?tab=overview], "SQL Server 2019 images

[2022-01-27 06:51] shwetamathur7 commented on #86820
@KarinBerg
Hope the above clarification helped you . I would suggest to update the "Page Layout version" to current version and that should fix the issue.

In case the above does not work for you , please send us an email on azcommunity [at] microsoft [dot] com referencing this issue with a subject line "ATTN:shweta" and we will help you with alternative support options on this.

[2022-01-27 06:51] #86820 closed

[2022-01-27 07:19] MasterKolka commented on #84405
@BharathNimmala-MSFT @georgewallace Is there any news about this request? Thanks.

[2022-01-27 07:26] Klaas- commented on #86996
Just for further reference, the RHEL Updates were released by Red Hat at
2022-01-25 18:16:15 UTC (RHEL8)
2022-01-25 19:59:03 UTC (RHEL7)

It is now 2022-01-27 07:23 UTC and neither RHEL7 nor RHEL8 have the upgrade in their westeurope rhui mirror (52.174.163.213). So I am guessing the support did not have correct information either when it said it's being synced once a day :)

[2022-01-27 07:34] Sikkesoft commented on #86216
The SQL Server 2019 Base images do not include SQL Server Express 2019.
The 'most recent' SQL Server Base image that includes SQL Server Express is SQL Server Express 2014 on Windows Server 2012R2.
What I'm asking is:
If I want to use base Image: Windows Server 2019 Datacenter.
Install on the VM: SQL Server Express 2019 + our product and offer that as a plan Marketplace. Will it fail on 'Software

[2022-01-27 07:41] amandici81 commented on #86525
Hi James

After I delete the user assigned managed identity it takes almost instantly to delete the identity at the VM level
I have reproduced it twice today. I am using user managed identity.

When I delete the user assigned MI it also deletes the MI from the VM level.
It does not behave as stated here:
***@***.***

From: James Hamil ***@***.***>
Sent: Thursday, January 27, 2022 12:33 AM
To: Micr

[2022-01-27 07:47] Karishma-Tiwari-MSFT commented on #86963
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-01-27 07:47] #86963 closed

[2022-01-27 08:14] AjayKumar-MSFT commented on #86582
@mrochon, Apologies for the delay! The URL must be fixed now. Thanks for reporting this issue.

<img width="335" alt="image" src="https://user-images.githubusercontent.com/44606227/151317826-ea04635c-3568-4822-89f0-47290e251420.png">

<img width="490" alt="image" src="https://user-images.githubusercontent.com/44606227/151318490-ce6f4cc2-6331-42f4-b961-22def3572acc.png">

If you have further questi

[2022-01-27 08:14] #86582 closed

[2022-01-27 08:32] kobulloc-MSFT commented on #86996
@Klaas-, thank you for the update!

[2022-01-27 08:38] tijmenamsing commented on #86983
Thanks @mike-urnun-msft. I just found out that it seems to be related to the firewall of the key vault. I can only fetch the certificate using the User Assigned Managed Identity if I **enable "allow access from all networks" on the key vault**. The weird thing is that for System Assigned Managed Identity, I _can_ enable the key vault's firewall. When enabled, I have selected the option to allow tr

[2022-01-27 08:54] manianls opened #87039 "Support for Oracle 12c"
[Enter feedback here]

Could you specify if the solution supports older Oracle releases. This will help customers adopt the right solution.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d100ced1-4c20-3d8c-3220-f55d7957edf2
* Version Independent ID: 6c8a0d66-ed3f-ad78-bf69-53e2e5c6e5d4
* Content: [Back up and recover a

[2022-01-27 09:09] PriyankaRudramaina commented on #86899
Hello @ankur8,

There is already a similar thread reported for this issue [https://github.com/MicrosoftDocs/azure-docs/issues/85791](url)
I have reached out to the document owner on this matter to review this content and help further.

[2022-01-27 09:14] WhitWaldo opened #87040 "Should be updated to reflect .NET Isolated approach"
The examples given don't match the configuration for a .NET Isolated app. The various samples should be updated to reflect a CosmosDBOutput attribute and to indicate the updated Microsoft.Azure.Functions.Worker.Extensions.CosmosDB NuGet package for isolated Function apps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-01-27 09:15] OwainWin commented on #86708
Thanks for the additional information.
Although you could set the table retention via an running an ARM template for a Log Analytics workspace it's quicker to do so directly via the API hence the recommendation to have the PowerShell code example to do so.
I figured out how to do it but it took some time to figure out the required JSON body content type and required body format especially because

[2022-01-27 09:26] danailedms commented on #86896
@rayne-wiselman, @atikmapari is there an update on this please? The customer is waiting on a definitive answer as to whether they can use (Azure to Azure) ASR for VMs that have docker installed on them. This FAQ question/answer is causing a lot of confusion.

[2022-01-27 09:26] TedaLIEz opened #87041 "What's the meaning of CONTAINER_SKIP_CONFIGURATION when setting up app service when using container?"
I noticed this flag being checked in the startup logs of a Windows container through log. And it will fail to configure the container according to log file. As the name suggests, I could set this flag to 1 to skip the configuration. But what does this flag mean? Is it safe to set `CONTAINER_SKIP_CONFIGURATION` to 1 to skip the configuration before my container starts? I searched through the doc bu

[2022-01-27 09:43] ncarandini opened #87042 "Discouraged Configurations"
This page guide the reader to create an app secret and enable ID token implicit grant, but the Integration assistant on Azure AD B2C page list those two things as discuraged configurations:

![image](https://user-images.githubusercontent.com/139274/151332604-939b5cfb-0a8f-402b-8545-c45271e62dff.png)

Is there a different path to follow? Should the documentation be changed or should be added more i

[2022-01-27 09:46] jppitout commented on #63099
Is there a solution for subdomain routing? We are also trying to route to kubernetes clusters.

[2022-01-27 10:10] memildin commented on #86968
#reassign:ElazarK

[2022-01-27 10:12] memildin commented on #86550
#reassign:ElazarK

[2022-01-27 10:13] memildin commented on #86527
#reassign:ElazarK

[2022-01-27 10:28] dominicbetts commented on #59713
#please-close

[2022-01-27 10:28] #59713 closed

[2022-01-27 10:29] ElazarK commented on #63593
#reassign: shhazam-ms

[2022-01-27 10:30] ElazarK commented on #77706
#reassign:shhazam-ms

[2022-01-27 10:30] ElazarK commented on #80877
#please close

[2022-01-27 10:31] ElazarK commented on #80877
#please-close

[2022-01-27 10:31] #80877 closed

[2022-01-27 10:31] ElazarK commented on #77706
#please-close

[2022-01-27 10:31] #77706 closed

[2022-01-27 10:32] ElazarK commented on #81925
#reassign:shhazam-ms

[2022-01-27 10:32] AnuragSharma-MSFT commented on #87024
@AwdotiaRomanowna Thanks for reporting this, we have made the changes through a PR which could take few days to go live.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2022-01-27 10:32] ElazarK commented on #84542
#reassign:shhazam-ms

[2022-01-27 10:32] #87024 closed

[2022-01-27 10:37] fume opened #87044 "The SamlAssertionSigning Cryptographic key is not documented"
In the example published here: https://docs.microsoft.com/en-us/azure/active-directory-b2c/saml-service-provider?tabs=windows&pivots=b2c-custom-policy#enable-your-policy-to-connect-with-a-saml-application

we talk about the SamlAssertionSigning CryptographicKey but this key is not documented in the metadata section of the SAML Token Issuer. This is really important since if you want to configure A

[2022-01-27 10:41] dominicbetts commented on #83888
I've added some links from the DPS overview page to the relevant IoT Central content.

#please-close

[2022-01-27 10:41] #83888 closed

[2022-01-27 10:45] maartengo opened #87045 "Update cluster autoscaler page with explanation on which node is removed on scale down"
Please update the [Cluster Autoscaler](https://docs.microsoft.com/en-us/azure/aks/cluster-autoscaler#using-the-autoscaler-profile) page with information on scale down decisions. Currently it is never stated right out which node is removed on a scale down event. The only indication can be found from the settings of the [Using the autoscaler profile](https://docs.microsoft.com/en-us/azure/aks/cluste

[2022-01-27 11:03] marcelkmfst opened #87046 "More details about Transaction costs"
Hi,

I would appreicate if the article contains more information on the number of transcations needed per operation. The table gives an good overiew of the operations but it´s not clear under what circumstances more than one transaction is used. As a customer who wants to estimate cost, it becomes challenging.
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2022-01-27 11:26] meshkerila opened #87047 "Access scope on Service Instance and old screen snips of the AAD interface"
Hi there!

The article contains old screenshots on the user interface.
Also, it's mentioning "Azure AD Connect Health supports managing access at two levels: All Service instances - and - Service instance"
We have instructions on providing access on all service instances, but nothing on individual instances.

Is it still supported/available? If "yes" then can we have the steps for individual Servi

[2022-01-27 11:36] v-amallick commented on #85675
Hi @Joh-nnyC - Request you to please let us know if you consider the issue as resolved. Thanks.

[2022-01-27 12:16] fmms commented on #83517
To my understanding this is indeed a bug in documentation. The example on https://docs.microsoft.com/en-us/azure/databricks/dev-tools/cli/ just does not work.

One has to add an  `--resource 2ff814a6-3304-4ab8-85cb-cd0e6f879c1d` to it and then everything is fine.

[2022-01-27 12:23] okrause opened #87048 "TTL table has wrong headers"
The table with the LDAP TTLs has wrong headers. Row 1 needs to be deleted, Row 2 are the correct headers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 841b5625-812e-cd74-211f-87ea3b05e055
* Version Independent ID: 2293e372-58ee-cfd6-ec1e-8cd302eec3fa
* Content: [Configure ADDS LDAP with extended groups for Azure NetA

[2022-01-27 13:28] DrTeit commented on #85135
If you follow along in the tutorial, then you can bypass this issue by setting the version of nginx in ACR without the «v» in the tag. You do this by tagging and pushing the image to acr.

then update all references in the scripts to acommodate the new version, and you should get around this.

[2022-01-27 13:35] stdistef commented on #83843
I appreciate you getting to this but I think you misunderstood.   Firewall needs to be Premium.
Anyway, thats what I saw.  If the behavior changed in the last 3 months, maybye it will work.

[2022-01-27 13:35] ahmedsza commented on #85936
Can you also review the docs for other areas. I am looking at std and most of the docs (eg monitoring, B2B) all seem to apply to consumption/ISE.

[2022-01-27 13:35] AdamRiddick opened #87049 "Explicitly document union function ordering when working with arrays of objects in Bicep/ARM"
The [documentation of the union function](https://docs.microsoft.com/en-us/azure/azure-resource-manager/bicep/bicep-functions-array#remarks) remarks

However, there is no documentation over the ordering of arrays of objects.

I expected that the order would follow the array ordering logic, however it does not appear to be the case. I have found that union-ing two arrays of objects appears to order

[2022-01-27 13:51] javitovarv opened #87051 "Simulate eviction for Azure ML Clusters"
I haven't been able to find any example of how to work with low priority machines in AzureML. In the portal it's easy to create, and also the API is intuitive for creating the cluster. The problems raise when you have to deploy in a real scenario, it will be great to have a mechanism to simulate eviction as the existent for vms, will facilitate a lot the development using such machines.

---
####

[2022-01-27 14:01] ChrisIsidora opened #87052 "Grant azure_pg_admin to user/role"
In the documentation it's stated to create and grant additional admin. One must login with the admin username and password and execute the following:

`CREATE ROLE <new_user> WITH LOGIN NOSUPERUSER INHERIT CREATEDB CREATEROLE NOREPLICATION PASSWORD '<StrongPassword!>';

GRANT azure_pg_admin TO <new_user>;`

The GRANT always fails with: error granting role azure_pg_admin to <role>: only superusers

[2022-01-27 14:04] MayankBargali-MSFT commented on #87040
@WhitWaldo Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-27 14:17] Herman5006 opened #87053 "typo issue"
[Enter feedback here]

Q: What can **I to do** re-create the same virtual network in a different region?

==> should be "I do to"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83954572-4cc0-c757-05c3-dd3981fb5f3e
* Version Independent ID: 112ea039-5e0f-b467-fc9b-7170fecb2684
* Content: [Virtual network business continu

[2022-01-27 14:18] Axel92Dev commented on #40132
@vhorne  are you able to tell us if we should use any other tool to better address this limitation?

[2022-01-27 14:43] AnuragSharma-MSFT commented on #87052
@ChrisIsidora Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-01-27 14:44] jlundy2 commented on #87000
After much googling, adding `| fl` to the command produces the correct result.

[2022-01-27 14:49] ChaitanyaNaykodi-MSFT commented on #87053
Hello @Herman5006, Thank you for your feedback. I have made a PR to fix the typo and the changes will go live soon. We will now proceed to close this issue out. Please tag me in your response if you have any additional questions.

[2022-01-27 14:49] #87053 closed

[2022-01-27 15:06] gorankuk opened #87055 "Storage Account with hieratical name space failover"
My recommendation is to document as well the alternative solution or best practises covering failover scenario for hierarchical namespace storage account failover. At this moment it does not look that there is a viable solution and there is not data protection available. Can you address this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2022-01-27 15:11] ram-msft commented on #87051
@javitovarv Thanks for the question. We are investigating the issue and will update you shortly.

[2022-01-27 15:13] GeethaThatipatri-MSFT commented on #86987
I'm assigning this to the author for the feedback review

[2022-01-27 15:17] LitKnd commented on #86876
Some further information from chat:

[2022-01-27 15:25] ElazarK commented on #86979
@stephlocke , Thank you for bringing this to my attention. As requested I am adding a link to the FAQ section from the documentation.

[2022-01-27 15:26] #86979 closed

[2022-01-27 15:27] tamram commented on #87055
#reassign: @tamram

[2022-01-27 15:29] sweetnordic commented on #86050
ping

[2022-01-27 15:31] microbroke commented on #86978
Hi,
@gbparaschiv I've added a suggestion link:
https://feedback.azure.com/d365community/idea/496aa481-857f-ec11-a81b-0022484bfd94

[2022-01-27 15:33] Klaas- commented on #86996
RHEL7 appeared in west europe sometime around 14:00 UTC
RHEL8 appeared in west europe sometime around 10:30 UTC

[2022-01-27 15:35] tamram commented on #87055
@gorankuk - Managed failover for accounts with hierarchical namespaces isn't supported currently, as the documentation states. In the event of a disaster that affects the primary region, Microsoft will manage the failover for accounts with a hierarchical namespace. So there's really no best practice to document there, as customers will be completely reliant on Microsoft for data recovery and failo

[2022-01-27 15:35] MarileeTurscak-MSFT commented on #87044
@fume
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-27 15:36] MarileeTurscak-MSFT commented on #87047
@meshkerila thanks for the feedback! I have assigned this to the content author to look into.

[2022-01-27 15:41] #87055 closed

[2022-01-27 15:45] GuyPaddock opened #87056 "Provide more guidance about next steps after a Service Endpoint has been confgured in a VNet"
This article is great for the step-by-step of what to do to configure a Service Endpoint in a VNet, but it's missing verbiage to set expectations with the admin about how to connect _using_ the new Service Endpoint. It would also be useful for it to provide some troubleshooting steps, especially if an admin is getting the error "Client from Azure Virtual Networks is not allowed to access the serve

[2022-01-27 15:49] munir94 commented on #86600
Let me try with that and revert back to you ..

[2022-01-27 15:59] StuBeck32 opened #87057 "Step #4 is a bit ambiguous"
It would be helpful to indicate what the default plan is called to avoid confusion. In my case I have license rights with our 365 licenses, but the plan is still called "pay as you go" which is confusing.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 422e1747-6fb2-f5e5-402c-18601b8541d3
* Version

[2022-01-27 16:05] tfitzmac commented on #85238
Adding @davidsmatlak to look into this issue

[2022-01-27 16:09] #84310 closed

[2022-01-27 16:26] kobulloc-MSFT commented on #87039
@manianls Thank you for your question!  We are reviewing this and will get back to you shortly.

[2022-01-27 16:27] kobulloc-MSFT commented on #87045
@maartengo Thank you for your feedback!  We have assigned this to the document author for further review.

[2022-01-27 16:29] philon-msft commented on #84453
@massimoforni-turboden we now have .NET Core versions of these pages too. Do these provide the up-to-date information you were looking for?

https://docs.microsoft.com/azure/azure-cache-for-redis/cache-dotnet-core-quickstart
https://docs.microsoft.com/azure/azure-cache-for-redis/cache-web-app-aspnet-core-howto?tabs=core6x

[2022-01-27 16:29] kobulloc-MSFT commented on #87057
@StuBeck32 Thank you for your feedback!  We are reviewing this and will get back to you shortly.

[2022-01-27 16:36] whhender commented on #87023
@robertplata - Thank you for the feedback! We are resolving this today.

[2022-01-27 16:49] SamaraSoucy-MSFT commented on #86764
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2022-01-27 16:50] SamaraSoucy-MSFT commented on #86882
Please let me know if you have any followup questions. In the meantime, I'm going to close this thread since no updates to the docs are needed.

[2022-01-27 16:50] #86882 closed

[2022-01-27 17:07] saryeHaddadi opened #87063 "Co-administrator and "association of subscription to Azure directories""
Hi, the doc for Co-Administrator role's permissions, first bullet, says it has the "Same access privileges as the Service Administrator, but **can’t change the association of subscriptions to Azure directories**".

I don't get what are these associations are we talking about, could you help me understand? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2022-01-27 17:14] shraboin commented on #73852
@flang-msft this should take like 2 minutes to review and change for the redis doc.

[2022-01-27 17:17] flang-msft commented on #73852
#reassign: @flang-msft

[2022-01-27 17:21] kobulloc-MSFT commented on #87057
Hello, @StuBeck32!  In the note above the enrollment steps there is a link to [Understanding licensing and per-user access pricing](https://docs.microsoft.com/en-us/azure/virtual-desktop/remote-app-streaming/licensing).  This document goes into more detail about the different licenses that are used for different types of users:

- **Internal:** These would be employees within your company and requ

[2022-01-27 17:39] flang-msft commented on #73852
@shraboin - Thanks for responding. Let me look into this as the new writer on these articles. I'll reopen the issue.

#please-open

[2022-01-27 17:43] DSakura207 opened #87064 "Guide for HybridWorkerForWindows and HybridWorkerForLinux VM extension"
Is there a detailed guide for `HybridWorkerForWindows` and `HybridWorkerForLinux` extension?

I would like to run a PowerShell runbook with parameters when I install this extension.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2854aee3-7933-ee94-bb03-3a6a4c540088
* Version Independent ID: c902ddb9-46bf-c53c-46c4-e1c3

[2022-01-27 17:44] wasperen opened #87065 "hive url not correct"
Although the suggestion here help, the actual url that you can find in Ambari / Services / Hive / Summary is not correct. The zookeeper addresses in that URL are incorrect.

What works is copy the url that is suggested there, but replace the three zookeeper addresses by the ones that you can find in each of the components of Ambari / Services / SooKeeper / Summary.

Carefully copying these across

[2022-01-27 18:03] vgofaizen commented on #50339
Version 2.14.5 produces unexpected high CPU on Hyper-V VMs, need to downgrade to 2.14.4 . Please, provide a way to do this

[2022-01-27 18:08] JamesTran-MSFT commented on #87063
@saryeHaddadi
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-27 18:15] whhender commented on #86613
@msdya -
Thank you for your patience! I have been able to work with the development team on this issue this week.

If your customer is regularly seeing a delay assigning permissions, they should open a support ticket. This is not the expected behavior. Expectation is that assignment of permissions on the Purview Studio has no delay.

[2022-01-27 18:16] flang-msft commented on #85168
@reassign: @flang-msft

[2022-01-27 18:16] whhender commented on #86613
Because the expectation is that there is no delay, I will not be updating the documentation.

However, if you're regularly seeing a delay with a specific account, please open a support ticket with the development team.

https://azure.microsoft.com/en-us/support/create-ticket/

[2022-01-27 18:16] whhender commented on #86613
#please-close

[2022-01-27 18:16] #86613 closed

[2022-01-27 18:18] flang-msft commented on #79010
@reassign: @flang-msft

[2022-01-27 18:18] flang-msft commented on #80981
@reassign: @flang-msft

[2022-01-27 18:19] JamesTran-MSFT commented on #87063
@saryeHaddadi
When it comes to Co-Administrators having the same access privileges as the Service Administrator, but they `can’t change the association of subscriptions to Azure directories`. This is referring to changes such as, transferring, adding, or cancelling Azure Subscriptions associated to Azure directories.

**For more info:**
[Transfer an Azure subscription to a different Azure AD direc

[2022-01-27 18:19] flang-msft commented on #80608
@reassign: @flang-msft

[2022-01-27 18:19] flang-msft commented on #81340
@reassign: @flang-msft

[2022-01-27 18:19] flang-msft commented on #82003
@reassign: @flang-msft

[2022-01-27 18:19] flang-msft commented on #85168
@reassign: @flang-msft

[2022-01-27 18:20] mwsutherland opened #87066 "Space in path breaks IaaSVMILRExeForWindows restore process"
When restoring files from a VM backup, if you run IaaSVMILRExeForWindows.exe in a path containing a space, the process will fail with no useful output. I'm not sure where to report that as a bug but, in the meantime, having it noted in documentation would prevent a lot of frustration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2022-01-27 18:21] MarileeTurscak-MSFT commented on #87042
@ncarandini
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-27 18:22] dampee opened #87068 "SenderWorker will throw cancelledTask"
According to [Task.Delay documentation](https://docs.microsoft.com/en-us/dotnet/api/system.threading.tasks.task.delay?view=net-6.0) this method will throw a `TaskCanceledException`. The SenderService in the example code is (only) catching the OperationCanceledException.

[code]
I think this need to be replaced by TaskCanceledException.

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-01-27 18:25] siddhantgawsane commented on #86588
@andreakress thanks for clarifying, didn't notice that in the doc

[2022-01-27 18:25] #86588 closed

[2022-01-27 18:25] dampee commented on #87068
PR here: #87069

[2022-01-27 18:27] RyanHill-MSFT commented on #86815
@MohamedA-Ibrahim the samples were moved around. I've updated the doc.

[2022-01-27 18:34] joshuha-msft commented on #83840
Can we assign this to @nabhishek he has the expertise in this domain area to verify and address point 2.

[2022-01-27 18:41] WilliamBerryiii commented on #41501
@JimacoMS4 - I think the article as it exists today is fine and my original comment is no longer relevant. I'll close this as no action needed.

[2022-01-27 18:41] #41501 closed

[2022-01-27 18:53] tamram commented on #86994
I clarified a bit in the text what's shown in the table.

#please-close

[2022-01-27 18:53] #86994 closed

[2022-01-27 19:01] b-hchen commented on #87048
@okrause - Hi Oliver, great to hear from you, and thanks much for catching this table header glitch!  This is fixed and will be posted today (1/27/22; PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/186493).

Cheers,
~ Julie

cc: @b-ahibbard

#please-close

[2022-01-27 19:01] #87048 closed

[2022-01-27 19:20] yeadubs commented on #69889
Unfortunately I don't have an account that I can test with this anymore (My secondary account is a GA) but the last time the script was used it by a non GA it worked (which was at the end of December).

This has been an ongoing issue for quite some time with the powershell permissions changing and no unified role to handle this situation.  The GA role is definitely overkill for this task.

[2022-01-27 19:30] CarlosMendozaB opened #87073 "Missing logs and new category logs"
This documentation is missing the new log categories and new "allLogs" Category group.
A code example for Category group is missing. We want to capture all the logs rather that selecting each categories. Please provide ARM template example.

Current log categories

    dbfs
    clusters
    accounts
    jobs
    notebook
    ssh
    workspace
    secrets
    sqlPermissions
    instancePools
    sq

[2022-01-27 19:38] saryeHaddadi commented on #87063
Thanks @JamesTran-MSFT, I now understand that the context is Azure AD, and that in the context of AD, directory & tenant are synonymous.
To suggest an improvement, I feel to it would help contextualize to say `association of subscriptions to Azure *AD* directories`. In the first link, the terminology `Azure AD directories` is used multiple time along the page, so I fell it make sense.

[2022-01-27 19:42] SamaraSoucy-MSFT commented on #87068
Thanks for the feedback! The doc author will review the PR.

[2022-01-27 19:42] #87068 closed

[2022-01-27 19:56] MartinJaffer-MSFT commented on #86919
The point of the proxy is to let you go through 443 / 80 and then have something else change to 9093.

[2022-01-27 20:17] himanshusinha-msft commented on #86716
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2022-01-27 20:18] himanshusinha-msft commented on #86795
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2022-01-27 20:23] alvipeo commented on #86693
No, thanks guys! For those like me who's been with Azure for years it's not straightforward, so I wondered what would it be for new devs.

[2022-01-27 20:26] YutongTie-MSFT commented on #87046
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-27 20:27] YutongTie-MSFT commented on #87049
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-27 20:42] #86062 closed

[2022-01-27 20:43] ecfan commented on #86062
@DTronD An update will get published after 4 PM Pacific Time, thanks!

[2022-01-27 20:46] James-Hamil-MSFT commented on #86534
Hi @cabermu @memildin , I have created a PR here: https://github.com/MicrosoftDocs/azure-docs-pr/pull/186521

I will close this issue now. Please let me know if you have any questions.

Best,
James

[2022-01-27 20:46] #86534 closed

[2022-01-27 20:50] Kyelin25 commented on #86821
So, my understanding is that when the newly provisioned App Service needs to retrieve the certificate from the keyvault, it does so using the App Service RP's identity, which **does** have access to the keyvault, even though the user creating the App Service does not. If I'm mistaken, I don't understand why the RP needs access to the keyvault then.

[2022-01-27 20:52] cabermu commented on #86534
Hello James,

Thanks for your help. Unfortunately, I am not able to access the PR to check the status, but I will keep an eye to confirm if the doc is updated later.

***@***.***

Thanks in advance,

Carlos Bermúdez López
Support Engineer
Azure PaaS Developer
Office Phone: +506 4114-2699
***@***.******@***.***>
Working hours 8:00am to 5:00pm( UTC -6)
If you need to work with another Support Engine

[2022-01-27 20:54] ElanShudnow opened #87076 "Needs Info on how Default Rule Set differs from the OWASP Core Rule Set"
YouTube Video (https://www.youtube.com/watch?v=r8jUY6t0JVE&t=1448s) talks about how the Default Rule Set is based on OWASP 3.1.  But some official documentation in Azure Docs on this would be great.

So basically:
1. How does Default Rule Set pertain to OWASP Core Rule Set?
2. What are the differences?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2022-01-27 21:11] l00mis opened #87077 "Fork vs Clone in Copy a Query"
Hello,

I am using Databricks with Albertsons Companies and am reviewing the docs for our team. I noticed that on [Copy a Query](https://docs.microsoft.com/en-us/azure/databricks/sql/user/queries/queries#copy-a-query) section of Query Tasks the description tells users to click the 'fork' feature, but in my production environment I am seeing that as 'clone'

*MSFT Guide*
![image](https://user-image

[2022-01-27 21:15] James-Hamil-MSFT commented on #86525
Very strange! I'm working with an author to figure this out but they're out of office for a few days. I should have an answer by next week.

[2022-01-27 21:16] l00mis opened #87079 "Sidebar has repeating links"
Hello,

The sidebar for items 'in this article' has transfer ownership repeated twice and links to the same section of the page.

![image](https://user-images.githubusercontent.com/54522473/151444915-4d0f21d1-2ebd-49ec-a659-1a5725f73261.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aacda529-7e34-1bd3-82c3-f906ff5

[2022-01-27 21:18] James-Hamil-MSFT commented on #86534
Hi @cabermu , certain PRs are private but this one just merged to master if you want to check shortly.

[2022-01-27 21:19] #80080 closed

[2022-01-27 21:24] ecfan commented on #85936
@ahmedsza Thanks! Yes, we're continuing to work on getting the docs updated.

[2022-01-27 21:33] mike-urnun-msft commented on #86957
Thank you, @AlexandraKemperMS!

@DanielLarsenNZ - I hope the above provides clarity and helps you better plan what you're working on.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-01-27 21:33] #86957 closed

[2022-01-27 21:43] vhorne commented on #86917
Updated article note about limitation with secure virtual hubs
#please-close

[2022-01-27 21:44] #86917 closed

[2022-01-27 21:51] yuharucan commented on #82808
@nibaccam I manually updated the azureml-core package to 1.36.0, but the same error message. But I checked the storage and parquet files were output. It is so strange. But I have to delete this env, so I close this issue.

[2022-01-27 21:51] #82808 closed

[2022-01-27 21:58] #82636 closed

[2022-01-27 22:17] PJNield opened #87080 "2022-01-07 Missing Products"
[Enter feedback here]
Document is missing at least the following:

Microsoft 365 F5 Security + Compliance Add-on	32b47245-eb31-44fc-b945-a8b1576c439f
SOCIAL_ENGAGEMENT_APP_USER	c6df1e30-1c9f-427f-907c-3d913474a1c7
Dynamics_365_Customer_Service_Enterprise_viral_trial	1e615a51-59db-4807-9957-aa83c3657351
DYN365_REGULATORY_SERVICE	7ed4877c-0863-4f69-9187-245487128d4f
Dynamics_365_Field_Service_Enterp

[2022-01-27 22:21] MonikaReddy-MSFT commented on #87066
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-01-27 22:22] MonikaReddy-MSFT commented on #87064
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-01-27 22:26] MonikaReddy-MSFT commented on #86683
@zipon - Apologies for the delay in response.

In order to file a bug for Sandbox, you need to follow below instructions so it will go to the correct team -

![image](https://user-images.githubusercontent.com/47833949/151453675-1300dcd7-b01b-428b-b006-a1e9d906d98c.png)

Once you click on Report a problem, select problem with sandbox and it will take you to the correct repo to raise the bug.

Hope

[2022-01-27 22:26] #86683 closed

[2022-01-27 22:31] MonikaReddy-MSFT commented on #86782
@aurnovcy - Thanks for providing your insights.

@B3DTech - Hope that answers your question.

We are looking to ensure that the changes are appropriate to ServicePrincipal Credentials and PG has added this in their backlog to test it and will update the doc accordingly.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We w

[2022-01-27 22:31] #86782 closed

[2022-01-27 22:34] MonikaReddy-MSFT commented on #86856
@ezYakaEagle442 - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-01-27 22:34] #86856 closed

[2022-01-27 22:38] MonikaReddy-MSFT commented on #86680
@jochenz -
There is no method called UseAdaptiveSampling. **Adaptive sampling** is set in the app insights config

Please take a look at this doc for more info - https://docs.microsoft.com/en-us/azure/azure-monitor/app/sampling#configuring-adaptive-sampling-for-aspnet-applications

Adaptive sampling is also ON by default.

At this moment, since there is no doc update required, we will now proceed

[2022-01-27 22:38] #86680 closed

[2022-01-27 22:51] TonyRC3 commented on #62377
hello @SadiqhAhmed-MSFT do you have any estimation about when is going to be ready the allocation cost in PowerBI connector?

[2022-01-27 23:04] MatthewSteeples opened #87081 "Unavailable if you want to use Spot instances"
In the pros/cons at the top of the page, it's worth mentioning that you can't (for some reason) use Ephemeral disks if you want to make use of Spot instances.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b2c2980-a90e-dd58-d572-6da5cd05ec8b
* Version Independent ID: 67949cf4-6f6d-0563-6b45-99141924c54a
* Content: [Us

[2022-01-27 23:05] MatthewSteeples commented on #87081
The error given in the portal says

`Ephemeral OSDisk is only supported for pools consisting exclusively of dedicated nodes.`

[2022-01-27 23:17] alokhom opened #87082 "incorrect line - Expose a service via the Azure Application Gateway ingress to the internet"
The following line is not correct in this page.
Expose a service via the Azure Application Gateway ingress to the internet

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29a8fb34-c3c2-d4db-5504-89e5e7c6885a
* Version Independent ID: e9b1af50-988e-0b4e-01b2-a66621b23f5e
* Content: [Using NGINX Ingress - Azure Kubernetes

[2022-01-27 23:28] rolyon commented on #85994
Hi @o-l-a-v
Thanks for your feedback. We made an update to the Security Administrator role description.
https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference#security-administrator
Let us know if you have any additional feedback.
thanks

[2022-01-27 23:28] rolyon commented on #85994
#please-close

[2022-01-27 23:28] #85994 closed

[2022-01-27 23:33] rolyon commented on #80696
Hi @DavidTaig
Thanks for your feedback. In the Global Reader description:
https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference#global-reader
We added a link to more info in the Teams administrator roles:
https://docs.microsoft.com/en-us/microsoftteams/using-admin-roles
Let us know if you have any additional feedback.
thanks

[2022-01-27 23:33] rolyon commented on #80696
#please-close

[2022-01-27 23:39] rolyon commented on #80696
#please-close

[2022-01-27 23:39] #80696 closed

[2022-01-27 23:39] YutongTie-MSFT commented on #87056
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-27 23:43] MixolydianV opened #87083 "Self-referencing pre-requisite"
Under "Prerequisites" the third sentence says "Complete the 5-minute quickstart or the developer tutorial to create an account and populate your database" and in that sentence the words 'developer tutorial' link to the same page. It's not really a big problem, but probably not useful to include...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2022-01-27 23:43] MarileeTurscak-MSFT commented on #87080
@PJNield
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-27 23:44] kobulloc-MSFT commented on #87057
@StuBeck32, if you have per-user access enabled for external customers, you are using pay-as-you-go pricing for those external customers:

https://docs.microsoft.com/en-us/azure/virtual-desktop/remote-app-streaming/licensing#comparing-licensing-options

So in steps 4-7, you would see the following:

**Step 4**
In the list of subscriptions, select the subscription where you'll deploy Azure Virtual

[2022-01-27 23:46] StuBeck32 commented on #87057
I’m not trying to, but I also don’t want to turn this into trouble shooting my misunderstanding. My point is, for step for especially, can you put some of these pictures you just linked and explain it? That would help tremendously

Stuart
________________________________
From: kobulloc-MSFT ***@***.***>
Sent: Thursday, January 27, 2022 6:44:41 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: StuBe

[2022-01-27 23:52] #85765 closed

[2022-01-27 23:52] TLKG opened #87084 "Is not recognized as a name of a cmdlet, function, script..."
Run the `storageConnectionString=$(az storage account show-connection-string --resource-group $resourceGroupName --name $blobStorageAccount --query connectionString --output tsv)`

received

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cad5909e-e1c6-aa8e-82f1-f2851c1caced
* Version Independent ID: 42292330-aa69-9df0-5

[2022-01-27 23:52] #83486 closed

[2022-01-28 00:02] rolyon commented on #78764
Hi @lukealton
Thanks for taking the time to provide your feedback. We've contacted the team and created a work item for them to investigate the behavior of the Global Reader role.
Let us know if you have any additional feedback.
thanks

[2022-01-28 00:02] rolyon commented on #78764
#please-close

[2022-01-28 00:02] #78764 closed

[2022-01-28 00:03] flang-msft commented on #81340
#reassign: @flang-msft

[2022-01-28 00:04] flang-msft commented on #80981
#reassign: @flang-msft

[2022-01-28 00:05] flang-msft commented on #85168
#reassign: @flang-msft

[2022-01-28 00:05] flang-msft commented on #82003
#reassign: @flang-msft

[2022-01-28 00:14] flang-msft commented on #86087
#assign: @flang-msft

[2022-01-28 00:15] flang-msft commented on #54662
#reassign: @flang-msft

[2022-01-28 00:15] flang-msft commented on #79010
#reassign: @flang-msft

[2022-01-28 00:16] flang-msft commented on #80608
#reassign: @flang-msft

[2022-01-28 00:20] kobulloc-MSFT commented on #87082
@alokhom Thank you for your feedback!  We've assigned this to the document author for further review.

[2022-01-28 00:25] kobulloc-MSFT commented on #87057
@StuBeck32 Sure thing!  I'll put together a screenshot that will make per-user access enrollment more clear.

[2022-01-28 01:04] pmcilreavy opened #87086 "'Before creating the user' example request includes objectId"
The "Before creating the user" example request shows that `objectId` is sent in the request.
I don't think this is ever the case as this request is sent _before_ the user is created, so there would never be an objectId yet to send.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e32e9a4-3b2f-dafb-605e-d87350a7d58d
* Ve

[2022-01-28 01:16] YutongTie-MSFT commented on #87065
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-28 01:20] JasonWHowell commented on #87065
@YutongTie-MSFT did you try the scenario? I'm not seeing any notes from what CXP did. Thanks for any help you can provide.

[2022-01-28 01:43] jeffpatton1971 opened #87087 "Documentation out of date"
Team,

I'm working on a project and creating some reference templates, but the documentation between the API, the ARM reference, and the resource documentation are all different. Specifically, the [API documentation](https://docs.microsoft.com/en-us/rest/api/automation/automation-account/create-or-update) is for API Version: 2015-10-31. This document references the API from 2019 I believe, and the

[2022-01-28 01:51] kobulloc-MSFT commented on #87057
@Heidilohr I've got two versions of this, depending on which we feel works better:

![image](https://user-images.githubusercontent.com/37556655/151473049-579cc3a3-e30b-49bc-a464-0ed3da1a7c5c.png)

![image](https://user-images.githubusercontent.com/37556655/151473174-57a2d657-cfa5-4ff8-9be9-a3c99439f5b5.png)

[2022-01-28 01:53] MayankBargali-MSFT commented on #87084
@TLKG Thank you for your feedback! We will review and update as appropriate.

[2022-01-28 01:58] #86909 closed

[2022-01-28 02:06] kobulloc-MSFT commented on #87039
Under [Prerequisites](https://docs.microsoft.com/en-in/azure/virtual-machines/workloads/oracle/oracle-database-backup-azure-backup?tabs=azure-portal#prerequisites), the documentation calls out that the reader must create an Oracle Database 19c VM.  The request is to clarify whether or not older versions of Oracle are supported (example: using version X or newer).

[2022-01-28 02:35] RyanHill-MSFT commented on #86992
The steps outlined in [Create a static web app](https://docs.microsoft.com/en-us/azure/static-web-apps/getting-started?tabs=angular#create-a-static-web-app), you're creating a Static Web App resource that your cloned repo will be deployed to. You have the code but you don't have the site until after you complete Step 7.

If something still isn't clear, please feel free to comment down below.

[2022-01-28 02:35] #86992 closed

[2022-01-28 02:37] artisticcheese commented on #47482
2 years and still no official recommendation from Microsoft whether to patch WVD hosts directly or update base image and redeploy?

[2022-01-28 02:39] RyanHill-MSFT commented on #87087
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-28 02:39] ethanhou99 opened #87088 "How to leverage 'less' with 'substring' to check template field?"
Hi,

I'm trying to leverage the `less` with `substring` to check the `minimumTlsVersion` is greater than 1.1 for the Redis, but it didn't work. Could you please help me figure it out? Thanks!
My policy Rule:
[code]
Redis template:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9762f1b7-0e3a-d58f-fd99-a27ad948907

[2022-01-28 02:42] yutaro113 opened #87089 "Confirmation on the policy of DoS Attack Simulation"
Hi Team,
I found 2 article mentioning DoS Attack Simulation but there seems contradiction between 2 docs.
Could you please check and correct if needed? (If DDoS simulation is permitted as 2nd doc says, 1st doc needs to be updated, i think)

In one (this) doc, it's mentioned as follows:
https://docs.microsoft.com/en-us/azure/security/fundamentals/pen-testing
[code]

But in other doc, following is m