[2021-05-18 15:00] chirag-singhal commented on #75466
@KalyanChanumolu-MSFT Thank you for this. I was looking at the repo for solving it but couldn't find how the docs are generated from these markdown and yaml files.

[2021-05-18 15:03] alansingfield opened #75479 "grep is not a standard Powershell alias"
[Enter feedback here]

Many of the Powershell commands in this article use "grep" which doesn't seem to be an out-of-the-box alias for Select-String. I found "sls" substituted worked.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd4c4f41-2050-234e-e35b-750158cfba54
* Version Independent ID: 09c0145e-fa2b-210d-d1a0-4a

[2021-05-18 15:08] Klaas- commented on #74845
How do I apply this to my existing VMs? Is it enough to edit fstab or do I need to change the custom data for cloud-init?

[2021-05-18 15:24] MashaMSFT commented on #68753
Hi @swbhartims , I just wanted to let you know I've processed a change to update the name on one of the articles :)

Thanks!
Masha from the SQL Docs team

[2021-05-18 15:32] sergiosolorzano opened #75481 "cdn.Endpoints.PurgeContent param order incorrect"
[Enter feedback here]
Article shows
cdn.Endpoints.PurgeContent(endpointName, profileName, resourceGroupName, new List<string>() { "/*" });
but should be
cdn.Endpoints.PurgeContent(resourceGroupName,profileName,endpointName, new List<string>() { "/*" });

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cda67fd8-ca0e-5eb1-

[2021-05-18 15:38] epourail commented on #73019
Hi @Karishma-Tiwari-MSFT,
I opened a similar issue (today #75465) as the documentation is not clear on how to define an ephemeral disk for AKS VMs (type B2s series).
We did some tests but, unfortunately, it does not seems possible to create an AKS cluster with this configuration.

[2021-05-18 15:39] jimmymcpeter commented on #35432
Are you part of multiple orgs with your account?  I think I ran into this error when I was trying to use service provided initiated login (the Intacct login page) and I hadn't switched my org context from https://myapplications.microsoft.com

[2021-05-18 15:44] MashaMSFT commented on #69611
Hi @phatcher , thanks for your feedback! We've processed a change to add this information to the article and it will be live later this week.

I'll close out this Git Issue for the time being but please feel free to comment should you need anything further.

Thanks again and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close
#assign:MashaMSFT

[2021-05-18 15:44] #69611 closed

[2021-05-18 15:45] MashaMSFT commented on #68764
Hi @nelsonpv , thanks for contacting Microsoft! I've processed a change to add this to the documentation that will be live later this week.

I'll close out this Git Issue but please feel free to comment should you need anything further.

Thanks again for improving our docs and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close
#assign:MashaMSFT

[2021-05-18 15:45] #68764 closed

[2021-05-18 15:46] Klaas- commented on #74845
This is not enough, I still get this during boot if swap needs to be re-created:

[code]

[code]

I do see that it's not actually waiting for cloud-init, first cloud init log in journal is after the swap timeout
`May 18 15:40:18 tx000415.schaeffler.com systemd[1]: Starting Initial cloud-init job`

[2021-05-18 15:47] MashaMSFT commented on #73846
Hi @chrisswinford , thanks for reaching out! I've processed a change to update this in the documentation that should be live later this week.

I'll close out this Git Issue for the time being but please feel free to reach out should you need anything further.

Thanks again for improving our docs and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close
#assign:Ma

[2021-05-18 15:47] #73846 closed

[2021-05-18 15:49] tamram commented on #75315
@ChaiSwaddipong - Thanks for your feedback! I have fixed the issue.

#please-close

[2021-05-18 15:49] #75315 closed

[2021-05-18 15:51] namtazpro opened #75482 "Broken link. Azure Functions Core Tools"
URL link to "Azure Functions Core Tools 3.0.3447 or later" leads to a 404 page on GitHub.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbdd9c30-1bc1-7af6-158d-f65ad23f45b7
* Version Independent ID: c8828014-4369-ead5-2d05-8c3e823fc93e
* Content: [Create workflows in single-tenant Azure Logic Apps using Visual Studio

[2021-05-18 15:52] AspenForester opened #75483 "AZ CLI is not PowerShell"
The "Windows PowerShell" example in this document isn't PowerShell at all!  Please label it for what it is: Az CLI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97f03f4f-dcab-f0a6-d3c8-58208b79f4f0
* Version Independent ID: 61dda4ae-53e4-b29d-bc94-46cb61c2ddb5
* Content: [Deploy Azure Arc data controller - Azure Arc]

[2021-05-18 15:56] epourail commented on #75465
Here an additional example trying to create a B2s VM with an ephemeral disk:
[code]
gives the response:
[code]

Note: my configuration (ubuntu):
[code]

[2021-05-18 16:06] JamesTran-MSFT commented on #74928
@dave22000
Thank you for the quick follow up on this!

Can you please email me with the info below. I'll go ahead and enable a one-time free technical support request for your subscription so you can work with our support engineers to get this issue resolved.

Email: AzCommunity@microsoft.com
Subject: ATTN - James Tran
Body:
[Azure Subscription ID](https://wmatthyssen.com/2019/09/06/azure-tip-how-

[2021-05-18 16:10] markjbrown commented on #75121
Confirmed these won't change.

[2021-05-18 16:11] kobulloc-MSFT commented on #75479
@alansingfield I'm doing some additional investigation but I believe that grep was added in Azure CLI version 2.0 in 2017.  What version of Azure CLI are you running?

[2021-05-18 16:13] mmeckes commented on #40762
Like the rest of B2C. A half implemented mess.

[2021-05-18 16:25] MonikaReddy-MSFT commented on #75477
@rvahaver -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-05-18 16:27] cynthn commented on #70276
I've added some new information about simulating evictions here: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/spot-powershell#simulate-an-eviction. It includes what the response will look like and the `"EventType":"Preempt"` and not terminate.

If this content isn't helpful, or you have more questions, feel free to reopen the item or create a new one.

#please-close

[2021-05-18 16:27] #70276 closed

[2021-05-18 16:30] pnwguy opened #75484 "NCRON requirements should be updated to say it support five field format"
This documentation page says NCRONTAB requires six field format:

_NCRONTAB expression require a six field format. The sixth field position is a value for seconds which is placed at the beginning of the expression. Five field cron expressions are not supported in Azure._

However NCRONTAB does support five field format, see https://github.com/atifaziz/NCrontab.  It says it supports five or six fie

[2021-05-18 16:30] kobulloc-MSFT commented on #75479
@alansingfield It looks like the intention was for the reader to run these with Azure CLI using Bash in the Azure Cloud Shell.  That's what the "Try It" defaults to but for a Windows targeted document it looks like many people (myself included) defaulted to something else like running Azure CLI in PowerShell:

https://github.com/MicrosoftDocs/azure-docs/issues/50675

I'm going to make sure we incl

[2021-05-18 16:31] NavtejSaini-MSFT commented on #75121
Thank you for confirming @markjbrown
@sambyng-msft Please let us know if you have any other question.

[2021-05-18 16:33] aksh-h opened #75487 "Unable to deploy to app service"
After following the steps given in this document, I'm unable to deploy to app service using Azure DevOps Web deployment task.
Can anyone suggest the solution for this?

I'm getting following error

[code]
Repro steps:
1. Create v-net and added subnets
2. Create an app service with P1V2 plan
3. Created Private link and Private Endpoint - selected the app service created
4. Created a pipeline to dep

[2021-05-18 16:39] GitaraniSharma-MSFT commented on #75373
@nneo16 , thank you for your feedback. We have assigned this to the content owner/author for review.

@damendo , could you please review the feedback and provide your inputs?

[2021-05-18 16:39] JamesTran-MSFT commented on #75442
@chasexd
I just wanted to check in and see if you had any other questions or if you were able to resolve this issue?

[2021-05-18 16:39] JamesTran-MSFT commented on #75350
@glomaga
I just wanted to check in and see if you had any other questions or if you were able to resolve this issue?

[2021-05-18 16:40] aksh-h commented on #75487
https://developercommunity.visualstudio.com/t/Unable-to-deploy-to-add-service-after-se/1425866

[2021-05-18 16:42] MonikaReddy-MSFT commented on #75477
@rvahaver - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-18 16:42] #75477 closed

[2021-05-18 16:45] MonikaReddy-MSFT commented on #75460
@smallheath1919 -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-05-18 16:45] MonikaReddy-MSFT commented on #75415
@lpoulin - Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-05-18 16:51] duongau commented on #74975
Thanks @GitaraniSharma-MSFT!

@krispenner I'm working on getting this section updated. I'll let you know as soon as I have confirmation from our PG team.

[2021-05-18 17:00] glomaga commented on #75350
Hi, @JamesTran-MSFT I am still having the same problem:
![image](https://user-images.githubusercontent.com/27291517/118693282-8bb66880-b7d0-11eb-88d6-d37ae78a079f.png)

I tried with incognito, different browsers, and I have the same result.

[2021-05-18 17:05] tamram commented on #74604
@robert4os - I'm closing this out now, but you can let us know here if you think further action is required.

#please-close

[2021-05-18 17:05] #74604 closed

[2021-05-18 17:11] RyanHill-MSFT commented on #75472
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-18 17:12] tamram commented on #70118
@maggar - Thanks for your feedback! I've updated the article to use the two terms more precisely.

#please-close

[2021-05-18 17:12] #70118 closed

[2021-05-18 17:16] namtazpro commented on #75482
Will be corrected with GA rollout

[2021-05-18 17:16] #75482 closed

[2021-05-18 17:16] YutongTie-MSFT commented on #75381
@nouyang Thanks for your feedback again. I have update all related sample URLs. You will see the change soon.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-05-18 17:16] #75381 closed

[2021-05-18 17:18] Nox-MSFT commented on #74903
@jeevannagvekar , according to the importManifest.json.txt, looks like you're trying to install the older version of the image, adu-update-image-raspberrypi3**-.4889.1.swu**, (which should be ok for the most cases). However, for [reference] image-based update, the 'installedCriteria' property must be the same as the expected ADU_VERSION (stored in /etc/adu-version) in the update image. (e.g. in yo

[2021-05-18 17:18] SaiKishor-MSFT commented on #75487
@aksh-h
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.
If your issue is specific to a use case, we request you to please reach out in forums like Microsoft Q&A or Stackoverfl

[2021-05-18 17:18] #75487 closed

[2021-05-18 17:20] JamesTran-MSFT commented on #75350
@glomaga
Thank you for the quick follow up on this!

We'd like to take a closer look into your environment and issue, can you please email me with the info below. I'll go ahead and enable a one-time free technical support request for your subscription so you can work with our support engineers to get this issue resolved.

Email: AzCommunity@microsoft.com
Subject: ATTN - James Tran
Body:
[Azure Sub

[2021-05-18 17:21] NavtejSaini-MSFT commented on #75254
@langstonj These are blog archives so the messaging in this way. You can check these docs for more details -https://docs.microsoft.com/en-us/azure/azure-sql/database/database-import?tabs=azure-powershell

[2021-05-18 17:22] mmacy commented on #74488
@JamesTran-MSFT Can you remove the `doc-enhancement` label from this one, please? It is a #label:"doc-bug"

[2021-05-18 17:24] ecfan commented on #75482
The correct content was reinstated, thanks!

[2021-05-18 17:26] JakeLunn opened #75495 "CSES Prereqs: The serviceName node should also be updated in the XML if it matches the name of any role node"
Another prerequisite of updating the .cscfg file that this page references is that the "serviceName" attribute of the ServiceConfiguration root node can't be the same as any of the defined Role node "name" attributes, e.g.

BAD:
[code]

GOOD:
[code]

This was **not** a requirement for Cloud Service (classic) configs, so it's a possible issue when migrating from a classic cloud service. It will cau

[2021-05-18 17:28] RyanHill-MSFT commented on #75474
Thanks for your candid feedback. We'll work with the content author to notate this.

[2021-05-18 17:30] dave22000 commented on #74928
@JamesTran-MSFT  email sent

[2021-05-18 17:30] #74928 closed

[2021-05-18 17:31] gvanteylingen opened #75496 "Updates required to ANF section"
Hi, Geert van Teylingen (Azure NetApp Files PM b-gevant@microsoft.com) here.

This page requires few updates in the Azure NetApp Files section:

- Under protocols it should read:
SMB 2.1, 3.x (including SMB Continuous Availability optionally)
NFSv3, NFSv4.1 (this is the accurate version description)

- Under Region Availability
30+ regions

- Under Identity-Based Authentication and Authorization
A

[2021-05-18 17:33] dave22000 commented on #75344
@vipulsparsh thank you for the link and previous discussion - but that is a workaround using an external dependency which we would like to avoid. The UserInfo endpoint documentation does not specify that StringCollection claims are not supported, and having the claims issued correctly from the UserInfo endpoint is a requirement of our integration. Are there plans for Microsoft to resolve this?

[2021-05-18 17:39] KranthiPakala-MSFT commented on #75295
Hi @jixin85, I have a confirmation from Product team that they are planning to publish a doc on Azure File Storage as a supported data source within in a week.

Thank you for your feedback and bringing this to our notice.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the disc

[2021-05-18 17:39] #75295 closed

[2021-05-18 17:40] ChaiSwaddipong commented on #74969
@mepand  @BharathNimmala-MSFT  Thanks for the input. Would this work with premium blob?

[2021-05-18 17:42] lefa08 opened #75497 "web-php.net"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd76e30c-e279-2ea0-d8fb-7ca48244e445
* Version Independent ID: ddc61016-d8d5-e226-3901-81cfe728cd0f
* Content: [Quickstart: Create a PHP web app - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/quickstart-php)
* Content Source:

[2021-05-18 17:43] DerekHerman-MSFT commented on #75258
@pisees
No, NFS does not need local disk cache by default. There's an fscache option though which can use local disks to cache some data, but it's not very commonly used.

[2021-05-18 17:43] #75258 closed

[2021-05-18 17:46] RideMo opened #75498 "I believe this statement needs to be updated Not Supported: "Identity provider-initiated sign-on, where the identity provider is Azure AD B2C.""
I believe this statement needs to be updated "Identity provider-initiated sign-on, where the identity provider is Azure AD B2C."
It needs to be clarified.  We support SAML IDP initiated flows where AzureAD B2C is the SAML IDP.  We Do Not Support SAML IDP flows, when there is a federated SAML IDP (e.g. ADFS, AAD), and the desire is to start SAML IDP from the federated SAML IDP.

---
#### Document D

[2021-05-18 17:46] MonikaReddy-MSFT commented on #75193
@jonwbstr - Thanks for providing more insights on this.  You are correct, The media optimizations are only supported via the Desktop client app (msrdc) and is not available via the web client. Thanks again for bringing this to our attention.

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please

[2021-05-18 17:46] #75193 closed

[2021-05-18 17:49] #75498 closed

[2021-05-18 17:49] RideMo commented on #75498
sorry, i did not read the content correctly - no issues

[2021-05-18 17:56] AjayKumar-MSFT commented on #75439
We have raised a PR on adding a note on this ("details on authenticating with different users (AzureAD and external)")- once the PR is merged the doc would reflect the changes. We will close this for now.

[2021-05-18 17:56] #75439 closed

[2021-05-18 18:04] b-juche commented on #75337
@elfcounsel - Our team decided to make the following change:

Current consideration:
* UNIX users mounting the NTFS security style volume using NFS will be authenticated as Windows user root for UNIX root and pcuser for all other users. Make sure that these user accounts exist in your Active Directory prior to mounting the volume when using NFS."

Updated consideration:
* Create a pcuser account i

[2021-05-18 18:06] ggailey777 commented on #61747
Should be updated now. #please-close

[2021-05-18 18:06] #61747 closed

[2021-05-18 18:19] ChaitanyaNaykodi-MSFT commented on #75484
Hello @pnwguy,
Thank you for your feedback! We will review and update as appropriate.

[2021-05-18 18:21] rvahaver opened #75500 "Configure cluster probe"
When attempting to run the PowerShell I am getting errors.  Can you verify what is needed or what I may be doing wrong?

 Import-Module FailoverClusters

 Get-ClusterResource $IPResourceName | Set-ClusterParameter -Multiple @{"Address"="$ILBIP";"ProbePort"=$ProbePort;"SubnetMask"="255.255.255.255";"Network"="$ClusterNetworkName";"EnableDhcp"=0}

WARNING: Module FailoverClusters is loaded in Window

[2021-05-18 18:23] ccmartins commented on #74714
Hello @aapalm

The managed rules in Azure WAF's Default Rule Sets are there by design. For the specific example of rule 942330, we designed it to be part of the managed rule set, and customers can choose to disable them (or not). It is just not disabled by default in our WAF - as customers should assess each rule and then make the decision to disable them.

As for the availability of information i

[2021-05-18 18:23] tfitzmac commented on #75255
All of the links on this page have been fixed.
#please-close

[2021-05-18 18:23] #75255 closed

[2021-05-18 18:25] SaiKishor-MSFT commented on #75481
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-18 18:28] SaiKishor-MSFT commented on #75467
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-18 18:29] stevestein commented on #66298
#please-close

[2021-05-18 18:29] #66298 closed

[2021-05-18 18:32] b-juche commented on #75343
Thanks again, @elfcounsel!  This change has been implemented through PR 159264 https://github.com/MicrosoftDocs/azure-docs-pr/pull/159264

ETA for publishing is May 25 (due to current publishing freeze).

[2021-05-18 18:33] b-juche commented on #75343
#sign-off

[2021-05-18 18:37] danieljhern opened #75501 "Accelerated Networking Support"
NICs associated to the ANF subnet do not currently support having AN enabled. Please specify that AN is not supported for those NICs

https://docs.microsoft.com/en-us/azure/azure-netapp-files/azure-netapp-files-smb-performance#is-accelerated-networking-recommended

https://docs.microsoft.com/en-us/azure/azure-netapp-files/azure-netapp-files-smb-performance#is-accelerated-networking-recommended

⚠

[2021-05-18 18:48] ecfan commented on #75482
@ChaitanyaNaykodi-MSFT: Actually, this issue was a doc-bug.

[2021-05-18 18:51] b-juche commented on #75501
@danieljhern - Thanks.  I'll run this by our technical team members.

If you are an ANF team member, you can reach out via email at juliec@netapp.com or b-juchfw@microsoft.com for further discussion.

[2021-05-18 18:53] rvahaver opened #75502 "PowerShell version issue"
When attempting to run the PowerShell using PowerShell 7 I am getting errors.

 Import-Module FailoverClusters

 Get-ClusterResource $IPResourceName | Set-ClusterParameter -Multiple @{"Address"="$ILBIP";"ProbePort"=$ProbePort;"SubnetMask"="255.255.255.255";"Network"="$ClusterNetworkName";"EnableDhcp"=0}

WARNING: Module FailoverClusters is loaded in Windows PowerShell using WinPSCompatSession remo

[2021-05-18 18:55] Grace-MacJones-MSFT commented on #75497
Hi @lefa08, did you have specific feedback about this documentation?

[2021-05-18 18:56] retroray81 commented on #75135
@RyanHill-MSFT - that doesn't appear to work either:

az : ERROR: Method Not Allowed(<Error><Message>The requested resource does not support http method 'GET'.</Message></Error>)
At line:1 char:1
+ az rest --method GET --url /subscriptions/c21a7da1- ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (ERROR: Method N...ssage></Err

[2021-05-18 18:59] #75343 closed

[2021-05-18 19:01] caroysMSFT opened #75503 "Clarify behavior of exclusion match"
The article reads "WAF exclusion lists allow you to omit certain request attributes from a WAF evaluation. A common example is Active Directory inserted tokens that are used for authentication or password fields."

If we imagine a JSON Payload like:

{
"commits": [
  {
    "message": "Blah"
  },
  {
    "something": "blah"
  }
  ]
}

Let's say I get several rule hits on this example payload, X rul

[2021-05-18 19:04] ecfan commented on #75086
@lauradolan and @daviburg, can you take on this action item for GA?

[2021-05-18 19:06] ChaitanyaNaykodi-MSFT commented on #75482
@ecfan, Thank you for pointing it out, I have added the correct tag.

[2021-05-18 19:12] MSFTSteve opened #75504 "table confused because of non-complementary data."
The table in this document page is extremely convoluted as it blends SQL MI and SQL Azure DB and Hyperscale.  I would build one table with SQL DB and Hyperscale and another that just compares the versions of SQL MI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efd7dc24-fc18-0670-8287-70c952aaa60a
* Version Independen

[2021-05-18 19:15] SaiKishor-MSFT commented on #75271
@rbegito Thank you for your pateince while I was looking into this further. Here is some clarification for you regarding the costs:

When you deploy the firewall in multiple Azs, the nodes of the firewall itself don't communicate with each other. It is between the firewall nodes and the protected workloads only(if you have protected workloads). There is no charge otherwise. The charges for that sh

[2021-05-18 19:16] VitalyMCT opened #75505 "Result set caching defaults"
Can defaults at both database and session levels please be documented?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 893843c1-bbd0-2953-5594-b7483accd046
* Version Independent ID: 33b132fe-2c07-0c59-4766-e3b534ea010b
* Content: [Performance tuning with result set caching - Azure Synapse Analytics](https://docs.microso

[2021-05-18 19:23] DerekHerman-MSFT commented on #75469
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-18 19:27] ecfan commented on #74722
@divyaswarnkar, please confirm whether @JayaChatterjee-MSFT can create this PR?

[2021-05-18 19:40] #75350 closed

[2021-05-18 19:42] NavtejSaini-MSFT commented on #75475
@sunilagarwal According to the https://github.com/MicrosoftDocs/azure-docs/issues/34872 issue, can you help here further,

[2021-05-18 20:00] Oury-MSFT commented on #75504
@MSFTSteve Thank you for your feedback. We will look into this and get back shortly. Thanks

[2021-05-18 20:22] jonwbstr opened #75506 "Lots of Feedback"
* Confusing page name
"Built-in apps?" I'm not sure where this title comes from. However, I believe this article describes how to configure an app using powershell, which can also be configured in the web portal using the following steps:
1. Open portal.azure.com > application groups > [select an application group] > Manage - Applications
2. Click + Add

* Include instructions for adding applicati

[2021-05-18 20:24] VitalyMCT commented on #69090
@RonyMSFT, can you please expand on that port 1433 requirement?

We understand Synapse Studio talks to Synapse SQL pools over port 1433.

However, if Synapse Studio runs server-side on an Azure web server, what's the reason we need to open port 1433 on local computer and network? Are the components of Synapse Studio that communicate with SQL pool running inside the browser?

[2021-05-18 20:37] davidmrdavid commented on #74966
Hi @mike-urnun-msft,

Thank you so much for the reminder. I've created an internal PR [here](https://github.com/MicrosoftDocs/azure-docs-pr/pull/159297) that provides the missing samples :) . It should be merged in the coming days.

[2021-05-18 20:42] TheITguy666 opened #75507 "About preview status"
Is this capability still on preview?
the document was written in 2019

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f739b74-774b-5879-b613-e3eb62f49068
* Version Independent ID: fb89c4fd-3370-68c0-843d-99344072aaff
* Content: [Distributed transactions across cloud databases (preview) - Azure SQL Database](https://doc

[2021-05-18 20:49] Karishma-Tiwari-MSFT commented on #75203
Thanks for bringing this to our attention. PR is being reviewed by the author. Once the PR is merged, changes will be live. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-05-18 20:49] #75203 closed

[2021-05-18 20:54] MicrosoftGuyJFlo commented on #75336
@SanDeo-MSFT Thoughts?

[2021-05-18 20:55] MrMagooooo opened #75508 "Broken link to Quickstart template on Github"
[Enter feedback here]
Hi,
The quickstart template seems to have been removed from GitHub as it returns a 404.

Kind regards,
Sebastian

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3296143e-d11f-44c3-7d94-661e80ee5503
* Version Independent ID: b19104d3-e48a-b02b-45fb-1b1b892606d1
* Content: [Tutorial - Use quickstart

[2021-05-18 20:57] b-juche commented on #75501
@danieljhern - Our team (which includes product managers and technical stakeholders) disagrees with the change you proposed.  The team also wonders where your suggestion comes from.  Can you reach out via email at juliec@netapp.com or b-juchfw@microsoft.com?  I'll connect you with our team.  Thanks.

[2021-05-18 20:57] santhoshbomma9 opened #75509 "Can we use az rest with deployment scripts?"
Can we use `az rest` with deployment scripts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5c4c8c5-7757-a969-5800-17f2f2312649
* Version Independent ID: 9ced8dd5-43ca-6d1f-c054-842299db8327
* Content: [Use deployment scripts in templates - Azure Resource Manager](https://docs.microsoft.com/en-us/azure/azure-resource

[2021-05-18 21:02] johol545 commented on #74360
Ping @PramodValavala-MSFT

[2021-05-18 21:02] MartinJaffer-MSFT commented on #75348
@skowalik Thank you for bringing this to our attention.  I have located the missing step.

If you do not have any PowerBI service linked to your Synapse workspace, then when you go to develop, there is no PowerBI option (see below image).
![image](https://user-images.githubusercontent.com/46612670/118722375-f374af80-b7e0-11eb-9253-bd51eda4eea5.png)

What must be done is first link a PowerBI instan

[2021-05-18 21:04] MartinJaffer-MSFT commented on #75348
Whoops, I had a silly moment.  The steps are right above the section of document you linked, @skowalik  .

https://docs.microsoft.com/en-us/azure/synapse-analytics/get-started-visualize-power-bi#link-your-azure-synapse-workspace-to-your-new-power-bi-workspace

[2021-05-18 21:05] PatrickFarley commented on #73671
Thanks for this info, docs updated
#please-close

[2021-05-18 21:05] #73671 closed

[2021-05-18 21:07] MicrosoftGuyJFlo commented on #75311
@yobyot The doc was written by a PM. At some point I will get back to it to update it and make it better but like other writers I cover multiple feature areas and have multiple docs in flight at any given time. Instead of the negative attitude feel free to use the edit button and make changes that you think would make it better. Docs aren't just static content anymore. Happy to take suggestions vi

[2021-05-18 21:07] #75311 closed

[2021-05-18 21:13] BharathNimmala-MSFT commented on #75508
@MrMagooooo Thanks a lot for taking time to share your feedback. Just making sure if you are referring to below GitHub link ? I will work with respective owners and have this link fixed. Thank you

https://azure.microsoft.com/en-us/resources/templates/101-webapp-basic-linux/

![image](https://user-images.githubusercontent.com/45180002/118724117-12744100-b7e3-11eb-8984-c04b021d2a60.png)

[2021-05-18 21:15] MicrosoftGuyJFlo commented on #65745
As there has been no follow up from the Product Group on this we are going to close it out. If this is still an issue I suggest opening a support case and including this issue in your case. #please-close

[2021-05-18 21:18] MicrosoftGuyJFlo commented on #67091
Email out to PG again

[2021-05-18 21:19] mumian commented on #75508
@MrMagooooo - The new link is https://azure.microsoft.com/en-us/resources/templates/webapp-basic-linux/.  I will fix the article.

#please-close

[2021-05-18 21:19] #75508 closed

[2021-05-18 21:25] yobyot commented on #75311
Apologies for sounding like a jerk -- but your workload isn't the reader's problem.

And while I had guessed that a PM wrote this, throwing that person under the bus doesn't negate the fundamental issue with Microsoft Doc -- which is that it's generally poorly organized, poorly written, inaccurate and incomplete. That may well be because management thinks the product groups are best to document Az

[2021-05-18 21:43] MNF opened #75510 "Mention any smtp server as an alternative to SendGrid"
SendGrid Is one of mail processing companies(not the only one) and it will be good to mention alternatives for sending emails using any smtp server, as it’s suggested in https://harvestingclouds.com/post/script-sample-azure-automation-sending-email-notification/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3d18144-d

[2021-05-18 21:47] DerekHerman-MSFT commented on #75478
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-18 21:48] DerekHerman-MSFT commented on #75496
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-18 22:04] rwike77 commented on #75365
@michevnew  Thanks for pointing this out, I'll try to make updates soon.

[2021-05-18 22:22] rwike77 commented on #75401
@AlexCesarini Yes, that text was removed since you can no longer configure the lifetimes of refresh tokens.  Looks like a refresh token for a confidential client will stay alive when the password is changed by a user.  See the [revocation](https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens#revocation) section in the access token article.  Hope that helps.

[2021-05-18 22:26] himanshusinha-msft commented on #75118
We are closing this issue as we have not heard back from you , you can always re-open the issue if you think that appropriate .

[2021-05-18 22:26] #75118 closed

[2021-05-18 22:30] rolyon commented on #72602
Hi and @JazminRMT and @jessasq
Thanks very much for your feedback. We've made several updates to the administrative unit docs that hopefully are more clear. We've also add a Prerequisites doc with steps to install AzureAD and AzureADPreview modules:
https://docs.microsoft.com/en-us/azure/active-directory/roles/prerequisites

Let us know if you have any problems or additional feedback.
thanks

[2021-05-18 22:30] rolyon commented on #72602
#please-close

[2021-05-18 22:30] #72602 closed

[2021-05-18 22:31] flyingUnderTheRadar commented on #74936
Would it be possible for you to share the docker image? If not feel free to close the issue.

[2021-05-18 22:31] NavtejSaini-MSFT commented on #75507
@TheITguy666 Thank you for the feedback. The Elastic Transactions are GA now - https://azure.microsoft.com/en-us/blog/elastic-database-transactions-general-availability/
We will confirm with author and make the change.
@stevestein Once you confirm, we will make the change.

[2021-05-18 22:36] TravisCragg-MSFT commented on #75407
@opticyclic Can you give an example of what you would like to see? IP Restrictions, additional security rules, ect...

Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-05-18 22:41] stevestein commented on #66772
@davidbaxterbrowne - thanks for the feedback.

Azure SQL DB and MI both support UTF-8. The SQL collations article has ben updated.

Thanks!

[2021-05-18 22:42] davidmrdavid commented on #74966
The aforementioned PR has been merged, the docs site should be updated automatically in a few hours. I think this ticket is good to close :)

[2021-05-18 22:42] stevestein commented on #66772
#please-close

[2021-05-18 22:43] #66772 closed

[2021-05-18 22:44] timClicks opened #75513 "Simplify example code for reading from a file with Python"
I recommend simplifying the Python snippet.

Currently, it recommends this pattern:

[code]

However, the conversion from string -> list of strings -> string is unnecessary. It can be replaced with this:

[code]

(I've also taken the liberty of replacing the generic variable `x` with something more descriptive.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2021-05-18 22:47] KranthiPakala-MSFT commented on #75505
@VitalyMCT -
Thanks for the feedback! We have assigned the issue to the content author to review this and update the document as appropriate.

[2021-05-18 23:07] tamram commented on #74223
@subashsivaji - Thanks for your feedback! I have clarified the behavior in the article.

#please-close

[2021-05-18 23:07] #74223 closed

[2021-05-18 23:16] BharathNimmala-MSFT commented on #75509
@santhoshbomma9 Thank you for reaching out with your query, we will look into it and get back to you at the earliest.

[2021-05-18 23:17] BharathNimmala-MSFT commented on #75483
@AspenForester Thanks a lot for bringing this to out notice, our team will review it and fix the document accordingly.

[2021-05-18 23:17] #75348 closed

[2021-05-18 23:18] BharathNimmala-MSFT commented on #75510
@MNF Thanks a lot for taking time to share your feedback, our team will review it and get back to you at the earliest.

[2021-05-18 23:21] Disorganise opened #75515 "Typo/awkward sentence"
Hi,
The first sentence under the heading 'Log and monitor' says "One way to detect attacks is through activity monitoring activity and logging analytics."

I think one of the activities should be removed to make it easier to read, e.g., One way to detect attacks is through activity monitoring and logging analytics.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2021-05-18 23:29] kgremban commented on #70491
I'm going to close this issue now, but if there are any follow-up questions or comments on this topic please feel free to post here again and we can reopen it.

#please-close

[2021-05-18 23:29] #70491 closed

[2021-05-18 23:30] lobrien commented on #75409
No notebooks use the `OutputTabularDatasetConfig` technique, so I've removed the link entirely.

[2021-05-18 23:33] #75409 closed

[2021-05-18 23:33] xuegao112 commented on #75288
Hi @JamesTran-MSFT could you please help reopen this question? And @snakefoot , I have tried to update the packages:
NLog.Web.AspNetCore -> 4.8.6
NLog -> 4.7.10

But still with no luck...
Could you please confirm if anything else I can check?

[2021-05-18 23:35] Oury-MSFT commented on #75504
@stevestein can you please check customer feedback about changing the table in the [document](https://docs.microsoft.com/en-us/azure/azure-sql/database/service-tiers-general-purpose-business-critical) to 2 tables that just compare the versions of SQL MI and another table with SQL DB and Hyperscale. Thanks

[2021-05-18 23:45] NavtejSaini-MSFT commented on #75495
@JakeLunn We are assigning this to our author for further review and provide guidance.

[2021-05-18 23:48] dsabsay opened #75516 "Clarity needed on Key Vault AuditEvent logs in Log Analytics"
When I send Key Vault `AuditEvent` logs to a Log Analytics workspace, the resulting tables look quite a bit different than the JSON schema documented [here](https://docs.microsoft.com/en-us/azure/key-vault/general/logging?tabs=Vault) for the blob storage-based logging.

I can make some educated guesses about what many of the columns mean, but it'd be nice to have them documented similarly to the l

[2021-05-18 23:53] rwike77 commented on #72459
@morgansimonsen Thanks for the feedback.  I'll be revising the article this week or next.

[2021-05-19 00:09] SamaraSoucy-MSFT commented on #75307
It is still possible to create a dedicated pool that is not attached to a synapse workspace by creating a new resource in the portal or via the [Azure Powershell module](https://docs.microsoft.com/en-us/azure/synapse-analytics/sql-data-warehouse/create-data-warehouse-powershell#create-a-dedicated-sql-pool-formerly-sql-dw) instead of from Synapse. While it is recommended to keep SQL Pools within a

[2021-05-19 00:17] keatseongchan opened #75517 "Built-in role for Get secrets/certificate?"
[Enter feedback here]
The built-in role for RBAC does not seem to have Get/List for secrets/certificates.   Is there a reason why there is no equivalent of a reader/user role?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fe2188c-d08d-be91-bf80-9665cac23596
* Version Independent ID: e0cf82de-bdf5-97a4-f9e0-f40e8c12b0

[2021-05-19 00:28] xuegao112 commented on #75288
Hi @JamesTran-MSFT  Just want to update that I found after the upgrade for NLog package, my SDK with ILogger: il:2.17.0 could be sampled.
But the trace with nloh:2.17.0-146 still can't be sampled. Not sure if any possibilities.

[2021-05-19 00:36] chasexd commented on #75442
Nope thank you, we can close this. I'm using a native mobile app, hence the different ui.

[2021-05-19 00:36] #75442 closed

[2021-05-19 01:09] NavtejSaini-MSFT commented on #75500
@rvahaver We are checking this and will get back to you.

[2021-05-19 01:12] NavtejSaini-MSFT commented on #75502
@rvahaver This appears to be duplicate of the issue https://github.com/MicrosoftDocs/azure-docs/issues/75500 Please confirm.

[2021-05-19 01:13] NavtejSaini-MSFT commented on #75503
@caroysMSFT We are checking this and will get back to you.

[2021-05-19 01:24] sunscorch commented on #75384
ok. will do that

[2021-05-19 01:31] sunscorch opened #75519 "the doc is old for HDI4.0"
[Enter feedback here]
---------------------------------------------------------------------------------
# Configure Kafka to advertise IP addresses instead of FQDN
IP_ADDRESS=$(hostname -i)
echo advertised.listeners=$IP_ADDRESS
sed -i.bak -e '/advertised/{/advertised@/!d;}' /usr/hdp/current/kafka-broker/conf/server.properties
echo "advertised.listeners=PLAINTEXT://$IP_ADDRESS:9092" >> /usr/hdp/cur

[2021-05-19 01:49] MayankBargali-MSFT commented on #75397
@imtiaza1977 For now you can update the delay to 20 sec as the workaround in your receiver code. I have updated the doc to reflect this value.

 await delay(20000);

[2021-05-19 01:51] jfggdl commented on #75115
Acknowledged. It is indeed misleading. While there are advantages in using Event Grid trigger to integrate with an Azure Function, the limitation around propagating errors from a Function makes the recommendation not to be appropriate for cases in which there is a need to propagate error from the running code in the function. I have added a backlog item for updating this note and we will follow up

[2021-05-19 01:54] Karishma-Tiwari-MSFT commented on #75506
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-19 02:22] Karishma-Tiwari-MSFT commented on #75216
Hope that helps. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-05-19 02:22] #75216 closed

[2021-05-19 02:24] Karishma-Tiwari-MSFT commented on #75306
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-19 02:28] SnehaAgrawal-MSFT commented on #75223
@leriksen Thanks again for the feedback! We are working on this. For now, you can use the webapp commands as a work around.
Further I have updated this is document accordingly.
Will now close this if you have further question let us know.

[2021-05-19 02:28] #75223 closed

[2021-05-19 02:30] jmandel opened #75522 "Missing description of folder name"
Is there something missing here? Should it say "with the name _____"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5833e8f-1e83-b275-d3fe-0d4f81a56cbf
* Version Independent ID: e3fb6faa-305a-179b-13df-fdb08056cc03
* Content: [Executing the export by invoking $export command on Azure API for FHIR](https://docs.micros

[2021-05-19 02:59] mikesierra2 commented on #75408
@NavtejSaini-MSFT, how did you go with the research?
As a side note, any instructions on ARM template would also be good, although Powershell would be preferable for my current case.

[2021-05-19 03:00] fgielow commented on #75475
Just made a new attempt using:

[code]

[2021-05-19 03:02] Karishma-Tiwari-MSFT commented on #75334
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-19 03:28] RyanHill-MSFT commented on #75135
Sorry about that @retroray81. Remove authSettingsV2 from the URL, pulling the full sites/config. You will see a setting named `siteAuthSettingsV2`. Using [this template](https://docs.microsoft.com/en-us/azure/templates/microsoft.web/sites/config-authsettingsv2?tabs=json#template-format) as a guide, add your changes and run the PUT.

[2021-05-19 03:38] CHEEKATLAPRADEEP-MSFT commented on #75513
@timClicks  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-05-19 03:39] CHEEKATLAPRADEEP-MSFT commented on #75519
@sunscorch Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-05-19 04:13] AjayKumar-MSFT commented on #75498
RideMo, No worries. Appreciate the follow-up on this. Thanks for leveraging Azure docs feedback channel.

[2021-05-19 04:30] sunscorch commented on #75519
It looks like the issue is in ESP cluster since the security protocol is SASL_PLAINTEXT

[2021-05-19 05:19] BhargaviAnnadevara-MSFT commented on #75317
@jsandersrocks We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-05-19 05:19] #75317 closed

[2021-05-19 06:40] PramodValavala-MSFT commented on #75515
@Disorganise Thanks for catching that! We have worked up a PR to address this, which once merged should reflect in a couple of hours.

[2021-05-19 06:58] Hatsikki opened #75524 "On-premises not working"
Does this only work on VM's created by Azure? I tried to get it working on an on-premises VM that was not created by Azure, and it is not able to connect towards to Azure to send the metrics.

Telegraf error:

[agent] Error writing to outputs.azure_monitor: unable to fetch authentication credentials: azure.BearerAuthorizer#WithAuthorization: Failed to refresh the Token for request to https://weste

[2021-05-19 07:08] Johnnytechn opened #75525 "Is the policy of "Configure backup on VMs of a location to an existing central vault in the same location" not available ?"
I could not find the policy of "Configure backup on VMs of a location to an existing central vault in the same location" which is mentioned in [this ](https://docs.microsoft.com/en-us/azure/backup/backup-azure-policy-supported-skus) article in the [portal](https://ms.portal.azure.com/), please help confirm whether this policy has been deprecated?

---
#### Document Details

⚠ *Do not edit this sec

[2021-05-19 07:11] Chrniel opened #75526 "Update needed"
This section should be updated as the fix is being rolled out

Cached logon on Hybrid Azure AD joined devices
Cached logon with FIDO2 keys fails on hybrid Azure AD joined devices on Windows 10, version 20H2. As a result, users will not be able to login when line of sight to the on-premises domain controller is unavailable. This is currently under investigation.

---
#### Document Details

⚠ *Do no

[2021-05-19 07:14] alansingfield commented on #75479
I'm using Powershell 7 within Windows Terminal.

`
PowerShell 7.1.3
Copyright (c) Microsoft Corporation.

https://aka.ms/powershell
Type 'help' to get help.

PS C:\Users\xxxxx> Get-AzVMImagePublisher -location westus | grep 2019
grep: The term 'grep' is not recognized as a name of a cmdlet, function, script file, or executable program.
Check the spelling of the name, or if a path was included, ver

[2021-05-19 07:14] alexchen2016 opened #75527 "I can't see “Identity Experience Framework” in “All services -> App registrations” in portal.azure.com. Could you help to confirm the content in "Test the custom policy" segment?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ace5e69-e1db-52c5-9c57-026fc6145a84
* Version Independent ID: f6fcdaac-449a-5a37-5fc8-bef1ed731a2a
* Content: [Add user attributes and customize user input - Azure AD B2C](https://docs.microsoft.com/en-us/azure//active-directory-b2c/configure-user-in

[2021-05-19 07:23] KalyanChanumolu-MSFT commented on #75522
@jmandel Thank you for taking the time to report this issue.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-05-19 07:25] skiddder opened #75528 "Add description for LVM disk arrays"
How to create an app consistent snapshot over an LVM striped array of Managed Disks?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 119b2465-9459-a180-0a7d-f91f0f510046
* Version Independent ID: f237347a-82e5-3331-c00b-e9ec7b006968
* Content: [Create an incremental snapshot - Azure Virtual Machines](https://docs.micros

[2021-05-19 07:28] skiddder opened #75529 "Please add CLI"
Would be nice to also have the CLI approach documented here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 119b2465-9459-a180-0a7d-f91f0f510046
* Version Independent ID: f237347a-82e5-3331-c00b-e9ec7b006968
* Content: [Create an incremental snapshot - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virt

[2021-05-19 07:32] ivanthelad opened #75530 "Clarification of recommendation for azure defender on VMSS based AKS nodes in FAQ section"
There seems to be a contradiction/clarity issue in the docs regarding Azrues recommendation for defender on AKS

Here it states, azure defender is supported on AKS nodes. It also states that it must be running the log analytics agent
https://docs.microsoft.com/en-us/azure/security-center/defender-for-kubernetes-introduction#does-aks-allow-me-to-install-custom-vm-extensions-on-my-aks-nodes

This st

[2021-05-19 07:32] ccshih opened #75531 "Centralize management of network and subnet provisioning"
This document recommends to centralize:
- Management of core network functions like ExpressRoute, virtual **network and subnet provisioning**, and IP addressing.

, while [other document](https://docs.microsoft.com/en-us/azure/cloud-adoption-framework/ready/azure-best-practices/plan-for-landing-zone-network-segmentation) recommends to delegate subnet creation to the landing zone owner.

---
#### D

[2021-05-19 07:41] SadiqhAhmed-MSFT commented on #75525
@Johnnytechn Thank you for your post! We will look into this and get back to you soon.

[2021-05-19 07:46] KonnaKatala opened #75532 "Adding information about ARM complete mode and the decision to setup ADF into own RG to enable complete mode"
At the moment ADF documentation does not clearly state that if the user would like to use ARM to clean old artifacts and pipelines from their ADF environment, they could use ARM complete mode in the deployments in CI/CD. However, the complete mode requires that ADF is located in a separate RG which is not trivial choice for many. This should be clearly stated in ADF docs as well. Hence this inform

[2021-05-19 08:00] tuomastik commented on #59931
[The code snippet](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-pipelines#create-a-versioned-pipeline-endpoint) is still wrong, but now in a different way. It currently says:

[code]

The return type of [`PipelineEndpoint.get()`](https://docs.microsoft.com/en-us/python/api/azureml-pipeline-core/azureml.pipeline.core.pipeline_endpoint.pipelineendpoint?view=azure-ml-py#get-w

[2021-05-19 08:05] SadiqhAhmed-MSFT commented on #75525
@Johnnytechn The policy was renamed to: “Configure backup on VMs without a given tag to an existing recovery services vault in the same location” and is still available for use

Documentation for the same is available here: https://docs.microsoft.com/azure/backup/backup-azure-auto-enable-backup

Let me know if you need further assistance.

[2021-05-19 08:10] jschwellnus92 commented on #53672
Hi Folks,

Have we had any news on this issue? My understanding is that there are some properties that have to be written too and the `join` permission is not enough.

[2021-05-19 08:20] Johnnytechn commented on #75525
Got it, thank you for your prompt reply. @SadiqhAhmed-MSFT

[2021-05-19 08:20] #75525 closed

[2021-05-19 08:30] ggailey777 commented on #74936
The bottom line is that you should ideally be able to run the Functions runtime in a Windows container, but you would have to host that container yourself. Functions doesn't currently support hosting Windows containers: https://github.com/Azure/azure-functions-docker/issues/285

[2021-05-19 08:31] ggailey777 commented on #74936
@PramodValavala-MSFT can you please close this issue, as it's not really a documentation issue at this point.

[2021-05-19 08:42] SwathiDhanwada-MSFT commented on #75524
@Hatsikki Thanks for your comment. We will review the issue and get back to you shortly.

[2021-05-19 08:48] FallenHoot commented on #69419
@danielsollondon,
I can confirm that this works with 8.x release of RHEL support for Cloud-Init now. Please do update the document to avoid confusion.

[2021-05-19 08:49] FallenHoot opened #75535 "RHEL 8 support in agentless VMware migration and already agent based support."
Please update the document:

Per Azure Migrate PM:
RHEL 8 support in agentless VMware migration is supported as of May 2021. The support is already available for our agent based solution across the 3 stacks VMware, HyperV & Physical.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1fd6730c-cbee-156b-a606-767a18a590b8
*

[2021-05-19 08:59] CHEEKATLAPRADEEP-MSFT commented on #75532
@KonnaKatala  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-05-19 09:06] psmanhas commented on #75528
@skiddder Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-05-19 09:07] psmanhas commented on #75529
@skiddder Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-05-19 09:07] psmanhas commented on #75529
@roygara Can you please check and add your comments on this doc update request as applicable

[2021-05-19 09:22] markashton-tomtom commented on #36222
I have the same problem with my disks (created using bicep). Every other resource in the resource group has the resource group listed in lowercase but the osdisks are in uppercase. Bizarre.

[2021-05-19 09:24] JackCaster opened #75540 "Confused about pipelines' parallel steps"
I am a bit confused on the way we can define parallel steps in our pipelines.

Normal pipelines are generally defined as a combination of a `RunConfiguration` and a `PythonScriptStep`. Then they can be deployed. For example:
[code]
Now, I would like to spawn some steps across many workers so I decided to use `ParallelRunConfig` and `ParallelRunStep`. However, it looks like the way we use these com

[2021-05-19 09:27] thepaulmacca opened #75541 "Issue with Update Management Scope Configuration"
The article specifies the below when deploying via the ARM template:

`The template does not automate enabling Update Management on one or more Azure or non-Azure VMs`

This is now incorrect, as I've just used the template and it now configures the scope automatically

![image](https://user-images.githubusercontent.com/41340540/118789050-4a838e80-b88c-11eb-813c-bae12e6e39db.png)

This is a clean w

[2021-05-19 09:34] thepaulmacca opened #75542 "Scope Configuration Issue"
Also raised in #75541 but am raising it here as well

In the [Enable Update Management](https://docs.microsoft.com/en-us/azure/automation/update-management/overview#enable-update-management) section, it mentions the below:

`Using an Azure Resource Manager template to deploy Update Management to a new or existing Automation account and Azure Monitor Log Analytics workspace in your subscription. It

[2021-05-19 09:36] ezYakaEagle442 opened #75543 "Clarify Azure Stack family support : Hub and/or HCI"
I guess this pages refers to OpenShift support on  Azure Stack **Hub** ; please add official support policy for V3 & V4 , see also  :

[https://access.redhat.com/articles/3413531#header11](https://access.redhat.com/articles/3413531#header11
)

[https://access.redhat.com/solutions/4515401](https://access.redhat.com/solutions/4515401)

Azure Stack HCI is a Hyper-V plateform, like WS 2019.
It [does s

[2021-05-19 09:37] VikasPullagura-MSFT commented on #75516
@dsabsay
Thanks for your Question! We are currently investigating and will get back on this.

[2021-05-19 09:43] dukicn commented on #75478
Replaced the picture with the table and created a new PR.

[2021-05-19 09:45] VikasPullagura-MSFT commented on #75517
@keatseongchan
Thanks for your Question! We are currently investigating and will get back on this.

[2021-05-19 09:48] lpassig opened #75544 "Misaligned Information"
We describe in the "Change the Service Administrator" section: _The user with the Account Administrator role has no access to the Azure portal. The user with the Service Administrator role has full access to the Azure portal. If the Account Administrator and Service Administrator are the same user and you change the Service Administrator to a different user, then the Account Administrator loses ac

[2021-05-19 09:57] dukicn commented on #75478
Hi all,

I removed the image and replaced it with the table. PR is https://github.com/MicrosoftDocs/azure-docs-pr/pull/159381

Is there anything else needed from me on this to close the issue?

Thanks,
Niko

From: DerekHerman-MSFT ***@***.***>
Sent: Tuesday, May 18, 2021 11:48 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Niko Dukic ***@***.***>; Assign ***@***.***>
Subject: Re: [MicrosoftDocs/

[2021-05-19 10:07] EngineerHGH opened #75545 "No Telephone Number option / mapping for Writeback"
Dear MS,

There is no mapping options for telephone number in Writeback as described in this article? Even in the Show Advanced Options?

Has it been removed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be669f51-5f2a-3e2b-ebd7-b5268e473044
* Version Independent ID: ec36c599-5a24-3317-bcd0-3c6f21902fd3
* Content: [Tu

[2021-05-19 10:24] ezYakaEagle442 opened #75546 "Clarify Azure Stack family support in the FAQ"
See [https://github.com/Azure/OpenShift/issues/222](https://github.com/Azure/OpenShift/issues/222)

Could you please add in the FAQ  an **official OCP V4 support policy for Azure Stack Hub & Azure Stack HCI** ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a8cb0c6-b695-e55a-d9ec-9a799b802ea3
* Version Independent ID:

[2021-05-19 10:26] vipulsparsh commented on #75526
@Chrniel Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-05-19 10:29] vipulsparsh commented on #75527
@alexchen2016  You will need to add them as per : https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-create-user-flows?pivots=b2c-custom-policy#register-identity-experience-framework-applications

Here are the steps to add them :

Select App registrations, and then select New registration.
For Name, enter IdentityExperienceFramework.
Under Supported account types, select Accounts

[2021-05-19 10:30] vipulsparsh commented on #75530
@ivanthelad Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@memildin  Can you have a look into this ?

[2021-05-19 10:33] vipulsparsh commented on #75544
@lpassig Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-05-19 10:34] vipulsparsh commented on #75545
@EngineerHGH Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-05-19 10:57] Shukherberg opened #75547 "Error mounting File Share into Pod"
Thanks to really quick and professional Microsoft Support team, the issue was resolved.
We really appreciated the approach, with specialists with knowledge in each technology section of the problem.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a38439d0-0125-3445-1c0a-a03b940e315d
* Version Independent ID: c6436a35-94

[2021-05-19 11:12] sebastus opened #75548 "page is misleading"
The information in this section is misleading:

https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow#request-an-authorization-code

For example, the text says "the client requests the openid, offline_access, and https://graph.microsoft.com/mail.read", but reading the details in the copy/paste window just below, the example doesn't match. BUT - the link just belo

[2021-05-19 11:39] rilopes opened #75549 "Encryption of data disk with BYOK in existing AKS clusters"
Hello,

Could you please review the limitations section bellow regarding the encryption of data disks, since now is possible to enable the data disks encryption without the need to re-create the clusters?

https://docs.microsoft.com/en-us/azure/aks/azure-disk-customer-managed-keys#limitations

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2021-05-19 11:54] ulflunde opened #75550 "Unclear specification of certificate expiration"
Where it says "certificates expire after two years" it is natural to assume that it means that the certificates are valid for two calendar years, e.g. from 20 May 2019 10:00 AM to 20 May 2021 10:00 AM.

This is not so. They are valid for exactly 2 * 365 * 24 hours.

As a consequence, if there is a leap year and February 29 is included in the validity period, the validity of the certificate will be

[2021-05-19 11:57] psmanhas commented on #75550
@ulflunde Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-05-19 11:58] psmanhas commented on #75550
@mlearned Can you please check and add your comments on this doc update request as applicable

[2021-05-19 12:00] psmanhas commented on #75543
@ezYakaEagle442 Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-05-19 12:00] psmanhas commented on #75543
@haroldwongms Can you please check and add your comments on this doc update request as applicable

[2021-05-19 12:04] psmanhas commented on #75547
@Shukherberg Thank you for your feedback and I am really glad your issue was handelled professionally.

Just wanted to check if you have any further queries for us for which you have opened the issue or it was more around feedback for Support.

Do let me know if I can be of any further help.

Thanks

[2021-05-19 12:07] Shukherberg commented on #75547
At this moment everything looks fine ! Thanks again for your help.

Regards,
Ulvi

From: PreetiManhas-MSFT ***@***.***>
Reply-To: MicrosoftDocs/azure-docs ***@***.***>
Date: Wednesday, May 19, 2021 at 3:05 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Ulvi Shikhlinskiy ***@***.***>, Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Error mounting File Share into Pod (#75547)

@Shukhe

[2021-05-19 12:15] psmanhas commented on #75549
@rilopes Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-05-19 12:16] psmanhas commented on #75549
@mlearned Can you please check and add your comments on this doc update request as applicable

[2021-05-19 12:16] psmanhas commented on #75547
@Shukherberg Glad to hear that!!!

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-05-19 12:16] #75547 closed

[2021-05-19 12:26] SnehaAgrawal-MSFT commented on #75364
@olitomlinson Thanks again for the feedback! As mentioned in the doc that Azure Static Web Apps provides a streamlined authentication experience and by default, you have access to a series of pre-configured providers which includes Azure Active Directory, GitHub, Twitter. But there is also an option to register a custom provider which includes facebook, google.

Check this document link https://do

[2021-05-19 12:32] theEyeD commented on #75470
After additional debugging, it appears this is an issue when we access an API using a token generated using [ConfidentialClientApplication.AcquireTokenForClient](https://docs.microsoft.com/en-us/dotnet/api/microsoft.identity.client.confidentialclientapplication.acquiretokenforclient?view=azure-dotnet) and then try to generate a token using [ConfidentialClientApplication.AcquireTokenOnBehalfOf](htt

[2021-05-19 12:37] ezYakaEagle442 opened #75551 "Clarify Azure Stack family support : Hub and/or HCI"
could you please update this page docs with OCP v**4.7** ?

Also the RedHat doc link to install OCP IaaS on Azure is [https://docs.openshift.com/container-platform/4.7/installing/installing_azure/installing-azure-default.html](https://docs.openshift.com/container-platform/4.7/installing/installing_azure/installing-azure-default.html)

Could you please add in the docs an official OCP V4 support pol

[2021-05-19 12:39] cveld opened #75552 "Many subnets cannot be picked in the portal"
We are exploring ASEv3 in our testing subscription. This subscription contains many vnets. In one of the vnets we prepared two subnets to be consumed by the ASEv3 resource. Surprisingly we are not able to pick these two newly created subnets. Within all the vnets that we have available in this subscription, only few subnets are found.

Can you add to the documentation what filter is applied?

We w

[2021-05-19 12:41] drewberrymore opened #75553 "AWS Govcloud Cloudtrails will not connect to Azure Sentinel until late June/Early July"
Documentation should reflect that you can only connect your AWS Commercial Cloudtrail to Azure Sentinel at this time. AWS Govcloud Cloudtrails will not connect per the instructions on this page. Microsoft engineers confirmed this via support ticket and said Govcloud connection should be available by late June early July.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2021-05-19 12:43] SadiqhAhmed-MSFT commented on #75535
@FallenHoot Thanks for the comment. We will review this request with the PM team and update the doc as needed.

[2021-05-19 12:54] RohitMungi-MSFT commented on #75540
@JackCaster The parallel steps for a pipeline are different compared to the python script step. The sample [notebook ](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/machine-learning-pipelines/parallel-run/file-dataset-image-inference-mnist.ipynb)explains the steps for [file and tabular](https://github.com/Azure/MachineLearningNotebooks/tree/master/how-to-use-azur

[2021-05-19 12:59] ElazarK commented on #66557
@oliverchristen Thank you for taking the time to reach out. I will be looking into this and hope to have a response for you soon.

[2021-05-19 13:00] JayaChatterjee-MSFT commented on #75115
@markwhite00 Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2021-05-19 13:11] SadiqhAhmed-MSFT commented on #75461
@chieh1127 We need more details to investigate this issue. Kindly reply with error details and screenshot.

[2021-05-19 13:14] SwathiDhanwada-MSFT commented on #75542
@thepaulmacca Thanks for your feedback. As you have already raised an issue on appropriate document , we will close the issue as duplicate and provide you updates on the other thread . If there are further questions , please revert and we will be glad to assist you.

[2021-05-19 13:14] #75542 closed

[2021-05-19 13:15] SwathiDhanwada-MSFT commented on #75541
@thepaulmacca Thanks for your feedback. We will review the issue and get back to you shortly

[2021-05-19 13:17] amanmcse commented on #75517
@keatseongchan In Key Vault, access can be granted for Management plane or Data plane or both.

Management plane: To control operations like creating and deleting key vaults, retrieving key vault properties, and updating access policies. This require permissions to be added at the Subscription/ResourceGroup/KeyVault Resource level via RBAC.

Data plane: To control operations like reading, adding,

[2021-05-19 13:17] ianisms opened #75555 "Test"
test

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74dc7cef-39ea-97d2-2d82-a88da090cbc4
* Version Independent ID: fe858571-6f3c-1b2e-e229-a7037a82508d
* Content: [JavaScript single-page app scenario - Microsoft identity platform](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-spa-overview)
*

[2021-05-19 13:17] #75555 closed

[2021-05-19 13:18] amanmcse commented on #75516
@dsabsay I have assigned the issue to the author of the doc, to review and update as needed.

[2021-05-19 13:31] JackCaster commented on #75540
thanks. I see that they are different. I am wondering if this design decision is a bit confusing as the api are sort of similar yet they are very different

[2021-05-19 13:51] michaelelleby commented on #60995
A workaround until Microsoft fixes this limitation. This code sample is for Linux shell:

1. Create Azure AD group. Let's call it **postgres-admins** for example.
2. Set group as AD admin on PostgreSQL server.
3. Add SPN to the group.

Now you can connect to the Azure PostgreSQL server using the SPN with token-based authentication. Remember to login as the SPN before running this code:
[code]

[2021-05-19 13:54] ElazarK commented on #75440
@chuckb1300 Thank you for your feedback, Corrections have been made and should be available soon.

[2021-05-19 13:58] rvahaver commented on #75502
Yes I don't know how this one got created

[2021-05-19 13:58] #75502 closed

[2021-05-19 14:03] WillParry opened #75558 "Property name "location" not allow by the schema arm-template (schema)"
This page contains a recommendation to use a location parameter with a default value of "[resourceGroup().location]". However in visual studio code, when I include this in a template using the schema version 2019-04-01, I get a warning for the location parameter "Property name is not allowed by the schema arm-template (schema)". I could change the name, but if this is a genuine restriction of the

[2021-05-19 14:17] wcneumann219 commented on #74973
Hi folks--it's been another two weeks and still nothing from anyone. This is an easy question for the right person to answer...

[2021-05-19 14:26] MonikaReddy-MSFT commented on #75551
@ezYakaEagle442 -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-05-19 14:27] MonikaReddy-MSFT commented on #75551
@ezYakaEagle442 - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-19 14:27] #75551 closed

[2021-05-19 14:32] girirajsr10 opened #75559 "All the recommended Links points to current page."
[Enter feedback here]
All the recommended Links points to current page.

I want to look into recommended content but unable to it gets redirected to current page. Which is useless.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 750f10f8-28b3-c30d-2475-0e5217a446dd
* Version Independent ID: 66562094-9524-c37a-e493-97190

[2021-05-19 14:37] olitomlinson commented on #75364
@SnehaAgrawal-MSFT You need to update the table with the available providers. It is missing `google` and `Facebook`.

This table :

![image](https://user-images.githubusercontent.com/4224880/118831470-b7604e00-b8b7-11eb-9c39-9f530d4a3d9a.png)

[2021-05-19 14:42] gideonoost commented on #69477
Does this enable-udp-fragment-reordering option really exist? The only place I have found mention of this option is indeed in this thread? but nowhere else.

[2021-05-19 14:44] chriskabat63 opened #75560 "Solution on this page is unsupported."
We had a customer try and implement this solution but were told by support that this machine learning extension is not supported.  We should put a warning on the docs or provide other recommendations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 675d22b3-eed1-8cfe-f6b7-55758cf69a29
* Version Independent ID: 956170cb-

[2021-05-19 14:47] hotgore commented on #69477
It does, I had to ask for it to resolve an issue with a UDP app. The support person wasn't sure about it until I linked this thread and was able to get rimayber to help.

It is weird, but I don't think MS wants to accept that fragmenting UDP results in tons of out of order packets on the other end, screwing with some apps. I wish they didn't bother fragmenting anything below 1400, seems like a gre

[2021-05-19 14:48] fgielow commented on #75475
In the end I managed to restore my database in another attempt using ts-dump/ts-restore from https://github.com/timescale/timescaledb-backup. But this goes against the recommendation from Microsoft on https://docs.microsoft.com/en-us/azure/postgresql/concepts-extensions#restoring-a-timescale-database

Apparently, timescale-backup restores things in a specific order that somehow got it working when

[2021-05-19 14:51] #64313 closed

[2021-05-19 14:54] stubble2018 opened #75562 "The ingress does not show any address"
I followed this tutorial. The ingress does not show any address. It is blank [kubectl get ingress command]. So I used public ip to access UI. Public IP gave me 502 ,bad gateway output. Microsoft-Azure-Application-Gateway/v2. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94bdeded-846e-526c-8ce3-77ee36ffa852
* V

[2021-05-19 15:16] MS-jgol commented on #75559
@girirajsr10 Thank you for pointing this out!! I will take a note on updating the recommended content links, which will not take effect until the very end of May - due to the Build conference we cannot update the docs at the moment,
Meanwhile, is there anything specific you would like to know? I can help you answer the questions related to monitoring of your Java apps on Azure and using applicatio

[2021-05-19 15:25] GiftA-MSFT commented on #75560
@chriskabat63 we'll review your feedback and get back to you shortly. Thanks.

[2021-05-19 15:28] daltskin opened #75565 "Make sample code easier to configure or less verbose"
The code snippets and samples within the Identity Platform could be made less error prone by clearly demarking the values to be replaced within the string settings.  They are too easy to cut/paste over which would break the code, for example in the following snippet:

[code]

As a suggestion, you could standardise the samples and documentation to use {{}} to identify the part of the string that ne

[2021-05-19 15:28] coopzilla commented on #70491
What version do you recommend to downgrade to?  We cannot delete and are using version 1.14 with AzCopy version 10.4.2.

[2021-05-19 15:37] JamesTran-MSFT commented on #75288
@xuegao112
Thank you for the follow up on this!

To give me a better understanding of your issue and where to correctly route this, can you share the documentation that you're following? Additionally, if this is a troubleshooting type of issue, it's recommended to create a post on our [Microsoft Q&A forum](https://docs.microsoft.com/en-us/answers/products/) so our community and engineering teams c

[2021-05-19 15:40] JamesTran-MSFT commented on #75548
@sebastus
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-19 15:46] JamesTran-MSFT commented on #75565
@daltskin
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-19 15:53] RyanHill-MSFT commented on #75472
@yutaro113 the renewal should've been for a full year i.e. 365 days. Can you reach out to me with the details of the cert so we can take a closer look?

[2021-05-19 15:56] DavidMwihuri01 commented on #71320
Thanks for your dedication to our documentation. This issue is now resolved but feel free to reach out in case of anything. #please-close

[2021-05-19 15:56] #71320 closed

[2021-05-19 15:57] zr-msft commented on #66793
Thank you @kheiakiyama for the feedback!

The article and CLI reference have been updated to reflect your feedback.

#please-close

[2021-05-19 15:57] #66793 closed

[2021-05-19 16:16] MonikaReddy-MSFT commented on #75415
@lpoulin-  Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2021-05-19 16:16] #75415 closed

[2021-05-19 16:16] MonikaReddy-MSFT commented on #75460
@smallheath1919 -
Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-05-19 16:27] DerekHerman-MSFT commented on #75469
@evamshi You can view if an individual has a version in the portal. To view all the blobs with versions you would need to do this programmatically. You can use the [List blob API](https://docs.microsoft.com/en-us/dotnet/api/azure.storage.blobs.blobcontainerclient.getblobsasync?view=azure-dotnet#Azure_Storage_Blobs_BlobContainerClient_GetBlobsAsync_Azure_Storage_Blobs_Models_BlobTraits_Azure_Storag

[2021-05-19 16:30] dlepow commented on #59154
Created backlog doc work item https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1845221 to improve this conceptual information. Thanks for the feedback!
Accordingly, based on our guidelines, I will close this issue.
#please-close

[2021-05-19 16:30] #59154 closed

[2021-05-19 16:46] YsFred4 opened #75566 "Add a note about the tenant-id for the docker login"
When logging into docker with the following command, it will use the first subscription that it finds.  This may or may not be the one that you would like to use.  This was fixed by docker in July 2020 to add a tenant-id flag.

docker login azure

Please add a note to make it easier and more obvious to others trying to do this on how to login with their other tenant.

docker login azure --tenant-i

[2021-05-19 17:07] aldelar opened #75567 "Invalid container setup instructions for Web App"
If you follow the instructions to setup the docker image in the Web App, you'll end up with an invalid full URI for the docker image, with this error on startup:

2021-05-19T17:00:05.421Z INFO - Pulling image from Docker hub: mcr.microsoft.com//mcr.microsoft.com/azure-cognitive-services/custom-form/labeltool:latest-preview
2021-05-19T17:00:05.460Z ERROR - DockerApiException: Docker API responded w

[2021-05-19 17:11] elraikhm opened #75568 "Missing migration instructions from ADAL to MSAL for Golang"
[Enter feedback here]
Golang instructions are missing, would be helpful to cover equally with other languages

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d686df6b-2d78-779b-d09c-d6c3e41e4adf
* Version Independent ID: 832e4900-0aeb-c414-be10-b93ee5c1a79d
* Content: [Migrate to the Microsoft Authentication Library (MS

[2021-05-19 17:12] ggailey777 commented on #55868
#assign:ggailey777

[2021-05-19 17:16] ggailey777 commented on #27955
#reassign:stefanushinardi @stefanushinardi can you see if this issue is still valide?

[2021-05-19 17:18] ggailey777 commented on #30410
@stefanushinardi  this looks like a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/27955, can you take a look and resolve as appropriate? #reassign:stefanushinardi

[2021-05-19 17:22] YutongTie-MSFT commented on #75567
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-19 17:30] aldelar commented on #75567
It may be that Web App is actually currently having issues?
I'm unable to start up a docker image regardless of how I define the 'image name and tag' field. It keeps on failing. So maybe the doc here is still correct but Azure Web App just introduced a major regression.

If you could try these instructions yourself first and validate either way.

[2021-05-19 17:37] GiftA-MSFT commented on #75468
@JackCaster the default is False, you are correct, needs to be updated to True. Thanks bringing this up!

[2021-05-19 17:43] NavtejSaini-MSFT commented on #75254
@langstonj Please let me know if you need further info.

[2021-05-19 17:43] MarileeTurscak-MSFT commented on #75568
@elraikhm
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-19 17:43] JamesTran-MSFT commented on #75531
@ccshih
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-19 18:01] KranthiPakala-MSFT commented on #75374
@jochenschroeer Yes, you can implement increment copy when you have date value as reference for incremental data but cases where you have other primary key like row numbers as reference for incremental data the Watermark approach is better suited.

[2021-05-19 18:02] HarshitaSingh-MSFT commented on #75402
There can be 2 options for this:
- Since this is an offline detection which is triggered based on threat intelligence we get from multiple sources it is sometime triggered 24hrs after the sign in happened. If more than several hours have passed, we can't mark the sign in as risky.
- It's possible the detection was triggered by a non-interactive sign in, in which case you look for it in the AAD Sig

[2021-05-19 18:02] JohnPoetzinger opened #75570 "Inaccurate architectural recommendation because of typo"
This statement in the LRS section should Read "then LRS disks would be ideal."  This is highly misleading to our customers.

If your workflow doesn't support application-level synchronous writes across zones, or your application must meet zero RPO, then ZRS disks would ideal.

Regards,
John Poetzinger

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-05-19 18:22] HarshitaSingh-MSFT commented on #75553
Hello @drewberrymore, thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-05-19 18:24] KarsonAlford opened #75571 "Broken link to "the ORAS Library""
The link "the ORAS Library" links to https://github.com/deislabs/oras/tree/master/docs.  This returns a 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c7e8f43-8ed3-db34-a51d-99b4022702d6
* Version Independent ID: 79e30dd9-67c0-e251-a232-833fae6aad26
* Content: [Push and pull OCI artifact - Azure Container Registr

[2021-05-19 18:25] roygara commented on #75049
@MariusFlorea99 Thanks for making us aware, we appreciate it. :)

We've investigated and determined updates were necessary, we've removed the outdated alert info and updated the article to inform users they need to add an RBAC role. These changes are currently live.

Again, thanks for helping us improve the docs. :)

Accordingly, I'll close this out:

#please-close

[2021-05-19 18:25] #75049 closed

[2021-05-19 18:28] shadowkiller3 commented on #35432
@jimmymcpeter I'm not part of multiple orgs. We have a single tenant with 2 domains.

[2021-05-19 18:31] KranthiPakala-MSFT commented on #75438
Hi @mssaperla , @leifbro - Any update on this issue? - Thanks

[2021-05-19 18:31] GiftA-MSFT commented on #75560
@gvashishtha please review above feedback for doc enhancement. Thanks.

[2021-05-19 18:41] ggailey777 commented on #30410
Looks like this actually should go to @cachai2 #reassign:cachai2

[2021-05-19 18:42] ggailey777 commented on #27955
Looks like this actually should go to @cachai2 #reassign:cachai2

[2021-05-19 18:42] JamesTran-MSFT commented on #75548
@sebastus
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

![image](https://user-images.githubusercontent.com/36619112/118866826-414bef00-b897-11eb-9d78-4e143b28f922.png)

Thank you for your time and patience throughout this issue.

[2021-05-19 18:49] craigshoemaker commented on #75364
Hi @olitomlinson - the listed providers are all that are available as for the Azure Static Web Apps generally available (GA) release. This list is different from what was available in Preview. We'll update the doc as the list of pre-configured providers change.

#please-close

[2021-05-19 18:49] #75364 closed

[2021-05-19 18:51] ggailey777 commented on #75016
Fixed in referenced PR #please-close

[2021-05-19 18:52] ggailey777 commented on #74295
Addressed this feedback in the related PR. #please-close

[2021-05-19 18:52] #74295 closed

[2021-05-19 18:54] vigouredelaruse opened #75573 "possibility of improved guidance for key rotation & encrypted inputs"
[Enter feedback here]
this page references https://github.com/charleszipp/azure-durable-entities-encryption as guidance for encrypting data transfer objects destined for durable functions

a note is provided giving a warning about key rotations

this is a present issue for me as i need to provide guidance to customers who will want to use this kind of encryption on my saas docker offer.

as it is

[2021-05-19 18:56] Karishma-Tiwari-MSFT commented on #75376
Appreciate your feedback on this. As you know, this feature is currently in preview, and some limitations apply. Previews are made available to you on the condition that you agree to the supplemental terms of use. Some aspects of this feature may change prior to general availability (GA).

Limitations being:

-You can't currently assign repository-scoped permissions to an Azure Active Directory id

[2021-05-19 18:56] #75376 closed

[2021-05-19 18:57] b-juche commented on #75501
@danieljhern - Thanks again for connecting via email.  Per discussion we had with ANF team members, the FAQ is being updated to add "on your virtual machines" for clarification --

"For maximum performance, it is recommended that you configure Accelerated Networking **on your virtual machines** where possible. Keep the following considerations in mind..."

This change has been submitted for publis

[2021-05-19 18:57] Karishma-Tiwari-MSFT commented on #73835
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-19 18:58] b-juche commented on #75501
#please-close

[2021-05-19 18:58] #75501 closed

[2021-05-19 18:58] aldelar commented on #75567
The instructions in the docs are correct if you create a new Web App.

But they seem to not be valid if you try to update an existing Web App. In that case the 'Full Image Name and Tag' needs to drop the https://mcr.microsoft.com from the value, which is very inconsistent with the Azure portal creation screen.

So no bug in the FR doc, but you may want to notify the Web App team of this inconsiste

[2021-05-19 19:00] Karishma-Tiwari-MSFT commented on #74065
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-19 19:02] prosprice opened #75574 "Microsoft.DataProtection resources are not documented in the REST API"
Where is the REST API documentation for Operational Backup for Azure Blob Storage, and specifically this new kind of Backup Vault?

I'm reverse-engineering the operations from the JSON created by the portal so that I can operationalize using Ansible instead of using the portal or PowerShell.  Creating a vault, assigning RBAC policies, etc. works fine.  I cannot seem to create a policy; I get:

Exc

[2021-05-19 19:08] paulfinol opened #75576 "Maximum disk size ?"
What is the maximum disk size for a data disk, P80?

![image](https://user-images.githubusercontent.com/61812790/118869680-b3cac800-b8b3-11eb-8f64-20e894299f95.png)
![image](https://user-images.githubusercontent.com/61812790/118869729-c0e7b700-b8b3-11eb-8ea1-e96768598072.png)
![image](https://user-images.githubusercontent.com/61812790/118869992-0e642400-b8b4-11eb-90ae-006cad847ed8.png)

---
#### D

[2021-05-19 19:13] elapdan opened #75577 "Configuring elastic query for Azure Sql db over a private endpoint"
[Enter feedback here]

I'm attempting to setup Elastic Query to query between multiple Azure Sql databases, running on the same server.

This connectivity issue appears to be surfacing because we're denying public access and running over a private network.  (When I temporarily enabled public access, I was able to successfully execute an elastic query between the two databases). So it appears the e

[2021-05-19 19:15] Grace-MacJones-MSFT commented on #75497
closing this issue since there isn't any actionable feedback. Thanks.

[2021-05-19 19:15] #75497 closed

[2021-05-19 19:16] ajburnle commented on #75363
@davabergeron Thanks for providing feedback that helps improve our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are currently updating all the end-user content, we will address your issue as part of this process. We are closing the issue. #please-close

[2021-05-19 19:16] #75363 closed

[2021-05-19 19:22] billmath commented on #64427
@MarzelLaning42

Thank for submitting this. I have created a work item for it and will send this to engineering so that they can review it and provide me with updated details. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2021-05-19 19:22] #64427 closed

[2021-05-19 19:23] WillTartak commented on #74290
We are trying to use this now. When can we expect better validation?

[2021-05-19 19:28] MicrosoftGuyJFlo commented on #67091
@NileshGhodekar
The Product Team is going to update the doc with some clarification...

From the Dev:

What the doc is trying to say is that we require the union of those two sets of ports to be open.     The reason for even having two in the first place is that the proxy service relies on a relatively simple set, and we also bundle and install the Microsoft AAD Connect Agent Updater service.   We

[2021-05-19 19:28] #67091 closed

[2021-05-19 19:29] o-l-a-v opened #75578 "PublicNetworkAccess must be enabled, documentation does not say so"
When using Service Endpoint with Cosmos DB, "PublicNetworkAccess" must be enabled.

The documentation for Service Endpoint + Cosmos DB says nothing about this:

* https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-configure-vnet-service-endpoint

But documentation for Private Endpoint + Cosmos DB mentions this for Service Endpoint:

* https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-co

[2021-05-19 19:30] billmath commented on #65238
@PaulTzl

Thank for submitting this and good catch on this.   This was a item that was missed when we tried to formalize the account names.  It should be the AD DS Connector account (without Azure).   FYI, you can find the correct information in the table here:  https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-accounts-permissions#custom-installation-settings

I hav

[2021-05-19 19:30] #65238 closed

[2021-05-19 19:32] billmath commented on #65816
Thank you for your issue submission. Unfortunately, this appears to be a consult/support issue. Issues in this repo are for documentation issues. You can try one of the following links for additional help.

Microsoft Support: https://support.microsoft.com/
Azure AD forums: https://social.technet.microsoft.com/Forums/en-US/home?forum=windowsazureaditpro
Stackoverflow: https://stackoverflow.com/

#p

[2021-05-19 19:32] #65816 closed

[2021-05-19 19:35] billmath commented on #63760
Thank you for your issue submission. Unfortunately, this appears to be a support issue. Issues in this repo are for documentation issues. You can try one of the following links for additional help.

Microsoft Support: https://support.microsoft.com/
Azure AD forums: https://social.technet.microsoft.com/Forums/en-US/home?forum=windowsazureaditpro
Stackoverflow: https://stackoverflow.com/

#please-cl

[2021-05-19 19:35] #63760 closed

[2021-05-19 19:37] billmath commented on #58289
@robin-martin

Thank for submitting this. I have created a work item for it and will reviewing this in the coming weeks. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2021-05-19 19:37] #58289 closed

[2021-05-19 19:38] MashaMSFT commented on #75500
Hi @rvahaver , thanks for reaching out! Are you still having issues? It's not clear given the context of https://github.com/MicrosoftDocs/azure-docs/issues/75477

Thanks!
Masha from the SQL Docs team

[2021-05-19 19:38] mikebudzynski commented on #74290
What do you mean by better validation? Could you provide specific scenarios where the validation policies fall short of your expectations?

[2021-05-19 19:39] billmath commented on #63163
Thank for submitting this. I have created a work item for it and will reviewing this in the coming weeks. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2021-05-19 19:39] #63163 closed

[2021-05-19 19:41] billmath commented on #63909
@iiu-dk

Thank for submitting this. I have created a work item for it and will reviewing this in the coming weeks. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2021-05-19 19:41] #63909 closed

[2021-05-19 19:43] zr-msft commented on #71812
Thank you @larryclaman for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-05-19 19:45] MicrosoftGuyJFlo commented on #70398
Another note out to the PG

[2021-05-19 19:46] billmath commented on #59207
@WernerGIT

Thank for submitting this. I have created a work item for it and will reviewing this in the coming weeks.  We have issues keeping this updated in the past and I think we are going to remove this page and re-direct to the AADC version history page here:  https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-version-history

Going forward I would use this doc f

[2021-05-19 19:46] #59207 closed

[2021-05-19 19:47] billmath commented on #54714
@amanmcse

Thank for submitting this. I have created a work item for it and will reviewing this in the coming weeks. We have issues keeping this updated in the past and I think we are going to remove this page and re-direct to the AADC version history page here: https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-version-history

Going forward I would use this doc for

[2021-05-19 19:47] #54714 closed

[2021-05-19 19:47] MicrosoftGuyJFlo commented on #75449
@atvoid first party apps are managed by the Azure AD Product Group. Shoot me an email and I can hook you up with the PM who owns Conditional Access and can point you in the right direction to get an app listed. #please-close

[2021-05-19 19:47] #75449 closed

[2021-05-19 19:50] rahg-bmake opened #75580 "ARM template to assign StorageBlobDataContributor Permissions not working"
[Enter feedback here]
Upon deployment via ARM template, the StorageBlobDataContributor assignment on storage to the Syanpse Managed Identity isn't working. This RBAC associated is part of the provided quick start ARM template, it succeeds to deploy but upon checking checking for permissions, we can see that the permissions have not been granted.

Can someone please look into this?

---
#### Docume

[2021-05-19 19:51] billmath commented on #55315
@amanmcse

Thank for submitting this.  What you are seeing is what happens when the developer did not add the information to the remarks in the source code.  This content is auto-generated, so any update I attempt to make will be overwritten once these modules are updated.  I need to get with the devs and have them update it on there end.

I have created a work item for it and will send this to en

[2021-05-19 19:51] #55315 closed

[2021-05-19 19:57] amsliu commented on #73535
@Smalls1652 Thanks for providing feedback that helps improve our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are currently updating all the end-user content, we will address your issue as part of this process. We are closing the issue. #please-close

[2021-05-19 19:57] #73535 closed

[2021-05-19 19:59] femsulu commented on #75574
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

FYI - @v-amallick

[2021-05-19 20:00] ClearIt03 opened #75581 "Right"
I am looking for the "Right()" function in the documentation.  I need to take a telephone number 555-554-1234 or 44-554-553-1234 or 852-553-552-1234 and remove the "-" that I have. Then right([telephoneNumber], 10) ten numbers.  Can't get just the last ten numbers extracted.   I see a left() but every option i try does not pull the data i need.

5555541234
5545531234
5535521234

[2021-05-19 20:00] billmath commented on #58144
@tajaber

Yes, it must be domain-joined.  Per the pre-reqs.

https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-install-prerequisites#azure-ad-connect-server

The standalone reference on the accounts page refers to the gMSA.

Thanks!

#please-close

[2021-05-19 20:00] #58144 closed

[2021-05-19 20:00] amsliu commented on #72658
@BHeshka Thanks for providing feedback that helps improve our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are currently updating all the end-user content, we will address your issue as part of this process. We are closing the issue. #please-close

[2021-05-19 20:00] #72658 closed

[2021-05-19 20:01] MicrosoftGuyJFlo commented on #75336
@r-milne We will have updated guidance coming for this. Taking to my backlog and I will update when published. 1402976 #please-close

[2021-05-19 20:01] #75336 closed

[2021-05-19 20:03] amsliu commented on #72400
@zengin Thanks for providing feedback that helps improve our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are currently updating all the end-user content, we will address your issue as part of this process. We are closing the issue. #please-close

[2021-05-19 20:03] #72400 closed

[2021-05-19 20:05] #64091 closed

[2021-05-19 20:05] amsliu commented on #72369
@pvickrey Thanks for providing feedback that helps improve our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are currently updating all the end-user content, we will address your issue as part of this process. We are closing the issue. #please-close

[2021-05-19 20:05] #72369 closed

[2021-05-19 20:06] billmath commented on #61525
@singhnishant40

Thank you for your issue submission. Unfortunately, this appears to be a support issue. Issues in this repo are for documentation issues. You can try one of the following links for additional help.

Microsoft Support: https://support.microsoft.com/
Azure AD forums: https://social.technet.microsoft.com/Forums/en-US/home?forum=windowsazureaditpro
Stackoverflow: https://stackoverflow

[2021-05-19 20:06] #61525 closed

[2021-05-19 20:06] amsliu commented on #71012
@Rajneel4Orion Thanks for providing feedback that helps improve our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are currently updating all the end-user content, we will address your issue as part of this process. We are closing the issue. #please-close

[2021-05-19 20:06] #71012 closed

[2021-05-19 20:07] billmath commented on #58545
@msharsur

Thank you for your issue submission. Unfortunately, this appears to be a support issue. Issues in this repo are for documentation issues. You can try one of the following links for additional help.

Microsoft Support: https://support.microsoft.com/
Azure AD forums: https://social.technet.microsoft.com/Forums/en-US/home?forum=windowsazureaditpro
Stackoverflow: https://stackoverflow.com/

[2021-05-19 20:07] #58545 closed

[2021-05-19 20:08] amsliu commented on #70672
@YassineSOUABNI Thanks for providing feedback that helps improve our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are currently updating all the end-user content, we will address your issue as part of this process. We are closing the issue. #please-close

[2021-05-19 20:08] #70672 closed

[2021-05-19 20:08] Justinha commented on #68439
@jbrysonMSFT I added that password change is supported in the Free tier, but password reset is not.

[2021-05-19 20:08] Justinha commented on #68439
#please-close

[2021-05-19 20:08] #68439 closed

[2021-05-19 20:09] vhorne commented on #75407
Removed unnecessary public IP and open RDP port from VMs.

Tutorials are targeted at new users to teach basic functionality for those who have no experience with a service. They are not intended to represent a production deployment.  Once deployed however, anyone is free to continue to add functionality and features to experiment with a more complex deployment.

#please-close

[2021-05-19 20:09] #75407 closed

[2021-05-19 20:09] amsliu commented on #70451
@twildeman Thanks for providing feedback that helps improve our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are currently updating all the end-user content, we will address your issue as part of this process. We are closing the issue. #please-close

[2021-05-19 20:09] #70451 closed

[2021-05-19 20:10] amsliu commented on #70280
@Sumitdhiman Thanks for providing feedback that helps improve our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are currently updating all the end-user content, we will address your issue as part of this process. We are closing the issue. #please-close

[2021-05-19 20:11] #70280 closed

[2021-05-19 20:12] amsliu commented on #70063
@Aubeauch Thanks for providing feedback that helps improve our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are currently updating all the end-user content, we will address your issue as part of this process. We are closing the issue. #please-close

[2021-05-19 20:12] #70063 closed

[2021-05-19 20:13] billmath commented on #64595
@AminPasha7

Thank for submitting this. I have created a work item for it and will reviewing this in the coming weeks. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2021-05-19 20:13] #64595 closed

[2021-05-19 20:13] amsliu commented on #69964
@dcross-msft Thanks for providing feedback that helps improve our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are currently updating all the end-user content, we will address your issue as part of this process. We are closing the issue. #please-close

[2021-05-19 20:13] #69964 closed

[2021-05-19 20:14] billmath commented on #56729
@josuvil

Thank for submitting this. I have created a work item for it and will reviewing this in the coming weeks. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2021-05-19 20:14] #56729 closed

[2021-05-19 20:15] amsliu commented on #69894
@codeputer Thanks for providing feedback that helps improve our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are currently updating all the end-user content, we will address your issue as part of this process. We are closing the issue. #please-close

[2021-05-19 20:15] #69894 closed

[2021-05-19 20:17] billmath commented on #63997
@brianbar-MSFT

Thank for submitting this. I have created a work item for it and will send this to engineering so that they can review it and provide me with updated details. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2021-05-19 20:17] #63997 closed

[2021-05-19 20:18] amsliu commented on #67825
@labanex Thanks for providing feedback that helps improve our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are currently updating all the end-user content, we will address your issue as part of this process. We are closing the issue. #please-close

[2021-05-19 20:18] #67825 closed

[2021-05-19 20:19] amsliu commented on #67506
@danmyhre Thanks for providing feedback that helps improve our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are currently updating all the end-user content, we will address your issue as part of this process. We are closing the issue. #please-close

[2021-05-19 20:19] #67506 closed

[2021-05-19 20:19] MicrosoftGuyJFlo commented on #74639
@aandrew129 Spoke to one of the development managers and he feels this should work in US Gov. His suggestion was to open a support case to get the ball rolling. He is also going to have someone take a look from his side.

[2021-05-19 20:20] amsliu commented on #67286
@yannis-r Thanks for providing feedback that helps improve our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are currently updating all the end-user content, we will address your issue as part of this process. We are closing the issue. #please-close

[2021-05-19 20:20] #67286 closed

[2021-05-19 20:21] MicrosoftGuyJFlo commented on #74639
@aandrew129 if you can shoot me the case number via email (in my profile) I will get it to the PG.

[2021-05-19 20:21] MicrosoftGuyJFlo commented on #74639
#please-close

[2021-05-19 20:21] #74639 closed

[2021-05-19 20:22] rvahaver commented on #75477
Thanks for checking.  I am not have any issues now.  I thought I can closed this issue because it was as duplicate to 75500.  You just need to add a note about what version you have to use to run the command.  2019 only comes with 5.1 OOTB.

[2021-05-19 20:22] curtand commented on #59949
Hi @scottclarke1 ,
This issue was already fixed in the documentation and is live now. Thank you for your contribution!!!!

#please-close

[2021-05-19 20:22] #59949 closed

[2021-05-19 20:22] billmath commented on #63535
This github issue needs to be re-opened with SharePoint.  The issue doesn't appear to be with single sign-on.

#please-close

[2021-05-19 20:22] #63535 closed

[2021-05-19 20:22] Justinha commented on #69740
@baf I can't see in the topic history where it was corrected but it looks like MFA is listed as secondary authentication option for both OATH Hardware tokens and OATH Software tokens.

[2021-05-19 20:23] Justinha commented on #69740
#please-close

[2021-05-19 20:23] #69740 closed

[2021-05-19 20:23] amsliu commented on #65757
@joergrenn Thanks for providing feedback that helps improve our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are currently updating all the end-user content, we will address your issue as part of this process. We are closing the issue. #please-close

[2021-05-19 20:24] amsliu commented on #65675
@JBurdGitsIT Thanks for providing feedback that helps improve our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are currently updating all the end-user content, we will address your issue as part of this process. We are closing the issue. #please-close

[2021-05-19 20:24] #65675 closed

[2021-05-19 20:24] billmath commented on #61791
Thank for submitting this. I have created a work item for it and will send this to engineering so that they can review it and provide me with updated details. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2021-05-19 20:24] #61791 closed

[2021-05-19 20:25] curtand commented on #66205
Hi @georgesymonds
I added this information to the warning in the article. I'll pass the suggestion along to the product team. Thanks for your contribution!

#please-close

[2021-05-19 20:25] #66205 closed

[2021-05-19 20:26] billmath commented on #58650
Thank for submitting this. I have created a work item for it and will reviewing this in the coming weeks. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2021-05-19 20:26] #58650 closed

[2021-05-19 20:26] amsliu commented on #65428
@lengau Thanks for providing feedback that helps improve our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are currently updating all the end-user content, we will address your issue as part of this process. We are closing the issue. #please-close

[2021-05-19 20:26] #65428 closed

[2021-05-19 20:28] billmath commented on #58223
@Mojo-OG

Thank for submitting this. I have created a work item for it and will reviewing this in the coming weeks. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2021-05-19 20:28] #58223 closed

[2021-05-19 20:28] curtand commented on #60210
Hi @DhivyaG19
The PowerShell has been corrected in the article. Thanks for your contribution!!

#please-close

[2021-05-19 20:28] #60210 closed

[2021-05-19 20:28] amsliu commented on #65423
@iloving Thanks for providing feedback that helps improve our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are currently updating all the end-user content, we will address your issue as part of this process. We are closing the issue. #please-close

[2021-05-19 20:29] femsulu commented on #75576
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-05-19 20:31] billmath commented on #57908
@paratz

Thank you for this submission.   Unfortunately there is some lag time between when an English version is updated and when localization translates the changes.  I believe this has been corrected now.

#please-close

[2021-05-19 20:31] #57908 closed

[2021-05-19 20:31] #64929 closed

[2021-05-19 20:32] billmath commented on #64815
Thank for submitting this. I have created a work item for it and will send this to engineering so that they can review it and provide me with updated details. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2021-05-19 20:32] #64815 closed

[2021-05-19 20:33] curtand commented on #55889
Hi @athmanb
Thanks for your contribution!! I'm getting a PowerShell solution for this approved and will add it to the docs as soon as it is.

[2021-05-19 20:33] MashaMSFT commented on #75500
Hi @rvahaver , thanks for the clarification! I'll close out this Git Issue as we've processed a change to add this note to the prerequisites :) it should be live next week.

Thanks again for improving our docs and  hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#assign:MashaMSFT
#please-close

[2021-05-19 20:33] #75500 closed

[2021-05-19 20:35] amsliu commented on #64850
@Michal-Ziemba Thanks for providing feedback that helps improve our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are currently updating all the end-user content, we will address your issue as part of this process. We are closing the issue. #please-close

[2021-05-19 20:35] #64850 closed

[2021-05-19 20:38] billmath commented on #64827
This refers to all of the data that the service instance was collecting.  It will not remove the users.

Thanks!

#please-close

[2021-05-19 20:38] #64827 closed

[2021-05-19 20:43] zr-msft commented on #70975
Thank you @brucelowekamp for the feedback!

The [Before you begin section](https://docs.microsoft.com/azure/aks/cluster-container-registry-integration#before-you-begin) accurately describes what you need for the scenarios outlined in the article. If you are continuing to see issues, please file a support ticket.

#please-close

[2021-05-19 20:43] #70975 closed

[2021-05-19 20:46] zr-msft commented on #71335
Thank you @brobichaud for the feedback!

The [Create a new AKS cluster with ACR integration](https://docs.microsoft.com/azure/aks/cluster-container-registry-integration#create-a-new-aks-cluster-with-acr-integration) section calls out that you can use an ACR in another subscription. If you're continuing to experience issues, please file a support ticket.

#please-close

[2021-05-19 20:46] #71335 closed

[2021-05-19 20:47] curtand commented on #60797
Hi @TuanAnh207
Thanks for your contribution!!! I replaced the explanatory text with the description from the PowerShell reference.

#please-close

[2021-05-19 20:47] #60797 closed

[2021-05-19 20:48] curtand commented on #56892
Hi @soydlopez

We updated the article per your comments. Thanks for your contribution!!

#please-close

[2021-05-19 20:48] #56892 closed

[2021-05-19 20:52] sanyanil commented on #54921
Hi, I'm trying to follow the steps that have been outlined in the document. However facing 502 baad gateway issues when I place app gateway in front of azure firewall

Does the app gateway v2 support UDR to virtual appliance (firewall)?

I'm using Application Gateway as an ingress to my AKS service via Application Gateway Ingress Controller

Any help would be really appreciated

[2021-05-19 20:55] billmath commented on #62146
Thank for submitting this. I have created a work item for it and will reviewing this in the coming weeks. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2021-05-19 20:55] #62146 closed

[2021-05-19 20:59] Justinha commented on #72320
@haoewqopi thanks! It's fixed now.

#please-close

[2021-05-19 20:59] #72320 closed

[2021-05-19 21:01] Justinha commented on #71772
@abhijeet-MSFT thanks! I added GA is required.

#please-close

[2021-05-19 21:01] #71772 closed

[2021-05-19 21:05] codeputer commented on #69894
Great...not fixed and closed..so much for providing more feedback from me

[2021-05-19 21:06] femsulu commented on #75558
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-05-19 21:06] dlepow commented on #75459
@lukos - thanks for the feedback. Were you trying to log into the registry via the Azure CLI using the registry FQDN? This problem is covered in the document: https://docs.microsoft.com/en-us/azure/container-registry/container-registry-troubleshoot-login#specify-correct-registry-name

I understand your point that it would be preferable to have a complete solution listed for every possible error co

[2021-05-19 21:11] swettstein opened #75584 "Reader RBAC role cannot view object information"
Why does this require Owner or Contributor access? Why couldn't Reader be sufficient?
- View object information and metrics in the portal or a management API

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2293a04c-2b13-4087-0b20-eebf2278f522
* Version Independent ID: 9fc429b6-1f91-74e0-3f35-3b0e54ecd213
* Content: [Set

[2021-05-19 21:16] rolyon commented on #74428
Hi @nimoskovE
Thanks for your feedback. It appears that you can have only one wildcard in a custom role action. We will update the doc.
You can look at built-in roles to see examples of how a wildcard can be used in your custom role.
https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles
thanks

[2021-05-19 21:21] MicrosoftGuyJFlo commented on #74354
@pnarsi There is a service tag available for Azure AD. Covered in the doc [Virtual network service tags](https://docs.microsoft.com/azure/virtual-network/service-tags-overview#available-service-tags). The tag includes these items. #please-close

[2021-05-19 21:21] #74354 closed

[2021-05-19 21:23] minhe-msft commented on #74495
Hi @vlado101 , I'm closing this issue as the question is not directly related to the documentation. If you are still having trouble to find out the root cause, my may want to create a support ticket and work with a support engineer to get help.

#please-close

[2021-05-19 21:23] #74495 closed

[2021-05-19 21:29] terryclancy opened #75586 "Need good screen shot of a partner selecting a customer in the Scope Picker under the Billing account scope"
I believe you need good screen shot of a partner selecting a customer in the Scope Picker under the Billing account scope

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 302575cd-86c8-5ddb-97c6-b406925cf0f4
* Version Independent ID: 84c2ceb5-e2f5-f8f6-e755-4cada678cb1c
* Content: [Get started with Azure Cost Management

[2021-05-19 21:31] JamesTran-MSFT commented on #75565
@daltskin
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-19 21:41] CelesteDG commented on #75565
@daltskin - Hello. Thank you very much for your feedback. I'm making sure to pass down your suggestion to my team and we'll review your suggestions to see where it can be applied.

[2021-05-19 21:43] NavtejSaini-MSFT commented on #75546
@ezYakaEagle442 We are assigning this to author for review.
@jimzim Please check the feedback

[2021-05-19 22:21] Oury-MSFT commented on #75578
Thanks @o-l-a-v for your feedback. We are looking into this and will get back shortly. Thanks

[2021-05-19 22:22] aandrew129 commented on #74639
I've had a case open about this, I'll send along the ticket number privately. Thanks for looking into it!

[2021-05-19 22:28] NavtejSaini-MSFT commented on #75552
@cveld We are checking this and will get back to you.

[2021-05-19 22:30] NavtejSaini-MSFT commented on #75562
@stubble2018 We are checking this and will get back to you.

[2021-05-19 23:25] kgremban commented on #70491
@coopzilla Looking back through the Storage Explorer release notes, I believe version 1.11.0 is when AzCopy was first included: https://github.com/microsoft/AzureStorageExplorer/releases/tag/v1.11.0

[2021-05-19 23:28] Karishma-Tiwari-MSFT commented on #75571
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-19 23:28] Karishma-Tiwari-MSFT commented on #75570
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-19 23:31] Karishma-Tiwari-MSFT commented on #75566
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-19 23:39] xuegao112 commented on #75288
Hi @JamesTran-MSFT , the document I followed is https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-trace-logs#insert-diagnostic-log-calls. There is just a snippet of the NLog ingestion, thus suspecting if the way I used not properly, because the ILogger could be sampled well.
Yes will do it in the community. Thanks.

[2021-05-19 23:44] cavemandaveman commented on #75176
I also have this issue with version 0.1.5 of the extension.

`Permission denied (publickey,gssapi-keyex,gssapi-with-mic).`

[2021-05-19 23:59] NavtejSaini-MSFT commented on #75573
@vigouredelaruse We are checking this and will get back to you.

[2021-05-20 00:08] KranthiPakala-MSFT commented on #75580
@rahg-bmake
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-05-20 00:08] David-Engel commented on #75420
@pranavgore Thanks for noticing the missing line. I've created a PR to add it to the code like this:
![image](https://user-images.githubusercontent.com/26262303/118899861-918d7600-b8c4-11eb-8399-bdd379c2cc6e.png)

David

[2021-05-20 00:17] #75254 closed

[2021-05-20 00:39] mikesierra2 opened #75589 "Example to remove a single part of the URL path?"
These instructions are a little confusing, and I cannot get my URL rewrite to do what I am requesting. I am hoping you might be able to add a simple example to remove a single part of the path as in the example below:

Initial request to my AFD custom domain:
https://www.mydomainnamehere.com/sky/a/b/whatever.html

is configured in AFD to route to my app service here:
https://myappservicenamehere.a

[2021-05-20 00:58] ggailey777 commented on #40126
@JohnGalt1717 it sounds like this may actually be a bug per Jeff. If so, please[ open an issue in the host repo](https://github.com/Azure/azure-functions-host/issues/new/choose). In the meantime, we'll close this documentation issue. #please-close

[2021-05-20 00:58] #40126 closed

[2021-05-20 01:01] cgillum commented on #36931
The workaround mentioned here is the correct thing to do. As discussed, this isn't really a product issue since everything was behaving as expected.

#please-close

[2021-05-20 01:01] #36931 closed

[2021-05-20 01:04] cgillum commented on #45434
Durable Functions for Python is now GA. https://azure.microsoft.com/updates/python-durable-functions-support-in-azure-functions-is-now-generally-available-2/

#please-close

[2021-05-20 01:04] #45434 closed

[2021-05-20 01:06] keatseongchan commented on #75517
Thank for your response.  I figured the RBAC role needed for data plane access if we move away from access list.  Key Vault Secrets User would allow download of certificate and secrets.  However, to get Certificate metadata we need Key Vault Reader.

[2021-05-20 01:11] RonnieQuan opened #75590 "Does resource graph query supports microsoft.Authorization?"
Can you please confirm if resource graph query does not support microsoft.Authorization/*?

Seems to me it's not available, I would like to understand why resource group only certain type of resources, not all.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 824e201e-3023-45c1-d14d-488e2584b9ef
*

[2021-05-20 01:11] cconrado opened #75591 "The new method is using json instead of xml"
This looks super outdated adn doesnt mention any azure policy that you can use

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1004d268-8e8b-a08c-f31d-5b099cb38132
* Version Independent ID: 732f5f54-eb4b-97f3-a46a-d07825bd3e34
* Content: [Use Azure PowerShell to enable diagnostics on a Windows VM - Azure Virtual Machine

[2021-05-20 01:15] ggailey777 commented on #42726
#reassign:cachai2 @cachai2 can you look into this question? It's a bit stale now, so not sure if it's still relevant.

[2021-05-20 01:19] ggailey777 commented on #72899
reassign:cachai2 @cachai2 can you help us clarify these steps as suggested by @aressler38?

[2021-05-20 01:27] ggailey777 commented on #73459
@nelroosevelt I believe that the current doc recommends not setting `WEBSITE_CONTENTSHARE` so that it's generated during creation. If too long names are being generated (considering slot names) maybe this is a code bug somewhere in site creation. If you think that there is somewhere we can stop customers from accidentally creating a too long string here, please reach out to me over IM. #please-clo

[2021-05-20 01:27] #73459 closed

[2021-05-20 01:35] ggailey777 commented on #73706
@cchapin-ms you are probably right if the goal is to establish a fully-locked-down topology with Functions and SQL Database. However, this article is a more basic demonstration of using SqlClient in a function, which a much more modest scope.

\+ @cachai2 on whether this suggestion is a scenario we should consider documenting in the future. In the meantime, I'm going to close this issue. #please-c

[2021-05-20 01:35] #73706 closed

[2021-05-20 01:44] ggailey777 commented on #56302
We do [call out the in-portal limitation for Python, Java, and C# class library functions](https://docs.microsoft.com/azure/azure-functions/functions-create-function-app-portal). Keep in mind that the entire article is in the context of Consumption, which makes Python on Linux Consumption, which I'm pretty sure runs in a container. I think that the portal warning isn't as helpful because it requir

[2021-05-20 01:44] #56302 closed

[2021-05-20 01:48] ggailey777 commented on #56905
@SunnyDeng I think that "pay-as-you-go" may be a mistranslation of "consumption." The intended meaning of the "consumption" plan is that you only pay for "resources consumed during function execution." I don't think "pay as you go" is correct in this context. #assign:SunnyDeng

[2021-05-20 01:51] ggailey777 commented on #56905
@go-shinyashiki there is no easy way to add a function app to an existing Consumption plan like you can an app service plan or Premium plan. There is also no benefit to doing this as because each Consumption plan function app is scaled and managed independently even if in the same plan.

[2021-05-20 01:51] vinothrao commented on #75394
Any update on this?

[2021-05-20 02:01] ggailey777 commented on #45365
We've pared down the screenshots in [this article](https://docs.microsoft.com/azure/azure-functions/functions-create-function-app-portal). Please let us know if you see other issues. Thanks! #please-close

[2021-05-20 02:01] #45365 closed

[2021-05-20 02:11] lrtoyou1223 commented on #61781
Current diagram in ADF managed VNET doc has already shown the communications between integration runtime and data stores. For the communication between integration runtime and ADF management service, it's implementation details and not customer facing.

[2021-05-20 02:12] MonikaReddy-MSFT commented on #75581
@ClearIt03 -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-05-20 02:13] lrtoyou1223 commented on #67058
Customers can create ADF managed vnet by powershell. See the link: https://docs.microsoft.com/en-us/azure/data-factory/managed-virtual-network-private-endpoint#create-managed-virtual-network-via-azure-powershell

[2021-05-20 02:14] MonikaReddy-MSFT commented on #74831
@renaudallard - - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can provide more information regarding the same.

[2021-05-20 02:15] MonikaReddy-MSFT commented on #75591
@cconrado - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-05-20 02:18] MonikaReddy-MSFT commented on #75183
@danspotter - Thanks for reaching out.

Can you please provide your configuration and ARM Templates?

 We can't keep module as part of template.

 Working ARM template example has been provided at - [Desired State Configuration extension with Azure Resource Manager templates - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/dsc-template)

[2021-05-20 02:19] benjamincburns commented on #75230
@SumanthMarigowda the docs pages for Azure Files show how to configure everything in PowerShell and CLI, but not in terms of Azure Templates. The Azure Template reference doesn't have nearly enough detail about what the various options mean, so I would've expected these details to be clarified in the documentation, but they aren't.

The samples repository is also lacking detail. Not all of the sam

[2021-05-20 02:21] JamesTran-MSFT commented on #75288
@xuegao112
Thank you for the quick follow up on this! I've added the document metadata to your issue and will go ahead and close this out so you can work with our community on Q&A.

Thank you again for your time and patience throughout this issue.

[2021-05-20 02:21] #75288 closed

[2021-05-20 02:24] benjamincburns commented on #75231
@SumanthMarigowda I received the error when trying to run a template that was attempting to create an Azure Files share. The error came back from the Microsoft.Storage resource provider, not the SMB protocol.

Per #75230, the docs pages for Azure Files don't explain how to configure an Azure Files resource definition in an ARM template, and this error message isn't documented anywhere, so I'm stuc

[2021-05-20 02:31] yutaro113 commented on #74957
@JasonFreeberg Hi, this is just a gentle reminder but any update on this?

[2021-05-20 02:47] shizhMSFT commented on #75571
@dlepow Due to recent changes to `oras`, the `oras` has been splited to multiple repositories.
- https://github.com/deislabs/oras for `oras` CLI.
- https://github.com/oras-project for others like the library and doc.
  - https://github.com/oras-project/oras-www contains the source code for https://oras.land/.
  - https://github.com/oras-project/oras-go contains the `oras` go library code.

Please

[2021-05-20 02:48] pnarsi commented on #61781
@lrtoyou1223

The documentation seems to have been updated since I first posted this question. There is a now "Outbound communications through public endpoint from ADF Managed Virtual Network" section that says that "All ports are opened for outbound communications."

Based on this I assume this means that the managed vnet does not block connectivity to any public endpoints i.e. I could created a

[2021-05-20 02:55] go-shinyashiki commented on #56905
@ggailey777 Thanks for your reply.
My request was to remove that wording from the documentation.
I have now checked the documentation and confirmed the phrase has been removed, so you can close the case.
Thank you very much.

[2021-05-20 03:00] bh3r1th opened #75593 "Linked service and private endpoint from Synapse workspace to Azure SQL managed instance"
I created a Synapse workspace with managed virtual network enabled and "Yes" for "Allow outbound data traffic only to approved targets".

I got this error message when I tried to create a Linked Service for Azure SQL managed instance from my synapse workspace.
[code]

I also noticed that I can create private link from my Synapse workspace to Azure SQL single database but not to Azure SQL managed i

[2021-05-20 03:02] AjayKumar-MSFT commented on #75398
@petender, Requesting your comments on this feedback.

[2021-05-20 03:22] SamaraSoucy-MSFT commented on #75593
Thanks for the question! We will review and get back to you shortly.

[2021-05-20 03:49] SnehaAgrawal-MSFT commented on #75584
@swettstein Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-20 04:30] KalyanChanumolu-MSFT commented on #75577
@elapdan Thank you for reaching out.
Do you have "Allow Access to Azure Services" enabled in the firewall?

I will continue to engage with you and help you with your issue.
However, technical support on GitHub is limited to documentation issues only.
Please post future issues on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-sql-database.html) for better visibility

[2021-05-20 04:40] SamaraSoucy-MSFT commented on #75405
Confirmed that the script is broken. I'm passing this to the doc author to update that and the screenshots.

[2021-05-20 04:43] aressler38 commented on #72899
I actually got this working after many trials, but I think the app service team may have a new solution for this. If not, I have automation that seems to emulate the steps.

[2021-05-20 04:43] HarshitaSingh-MSFT commented on #75470
`AADSTS90083 `is a syntax or protocol error by the client prevented the IdP from processing the request - it is unable to determine the intent of the request in order to provide a better error message.

You can go ahead with the latter approach:

[2021-05-20 04:53] ram-msft commented on #75383
@konabuta  Thanks for the feedback.

![image](https://user-images.githubusercontent.com/49180516/118921075-26d84b00-b955-11eb-9d06-7464fd1e302e.png)

[2021-05-20 05:14] VitalyMCT commented on #25415
@CarlRabeler I agree with @m60freeman that there is a documentation gap here around transaction log rates:

1. What are the max log rates for the DTU tiers? How do they vary across the DTU performance tiers (if at all)? Are they fixed like in vCore approach or do they vary (and if so, based on what?) Currently only the vCore max log rates are documented, so we cannot make an informed decision on s

[2021-05-20 05:21] katiep23 opened #75595 "Reply URL Error/Issue"
I have followed all the step-by-step instructions for setting up custom policies to allow sign-in for multi-tenants, but I am getting the following error when I try to login from another tenant:

Request Id: cbba2385-d47a-480c-8d08-ebaf354b4200
Correlation Id: a2e0b02f-92c9-4e57-b065-a747f2ced6da
Timestamp: 2021-05-20T05:13:12Z
Message: AADSTS50011: The reply URL specified in the request does not

[2021-05-20 05:34] AlexCesarini commented on #75401
Sure
I suggest to cross reference this article in this section to add more clarity

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Ryan Wike ***@***.***>
Sent: Wednesday, May 19, 2021 12:22:45 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Lexo ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Token lifetimes with confidential cli

[2021-05-20 06:02] amanmcse commented on #75517
@keatseongchan Yes, you are right. I apologize, my response was based on how it used to work before RBAC roles for key vault were introduced.

[2021-05-20 06:09] KrishnaG-MSFT commented on #75586
@terryclancy Thanks for the feedback.
Assigning @bandersmsft for visibility, review and document enhancement consideration as appropriate.

[2021-05-20 06:38] konabuta commented on #75383
I tried to access to Azure ML studio from Microsoft Edge browser on iPad device. While Chrome browser on iPad device works.

[2021-05-20 06:48] KalyanChanumolu-MSFT commented on #75362
@swapnilpotnis

please check and confirm if you have configured the server firewall to allow the client IP address.

![image](https://user-images.githubusercontent.com/8835012/118932141-52fbc800-b965-11eb-8006-eefa3fb315e0.png)

[2021-05-20 06:56] JayaChatterjee-MSFT commented on #75291
@oadrian2 Could you provide an example of what you are expecting?

[2021-05-20 07:19] evamshi commented on #75469
Hi All,
Thank you for the reply,
we are not the programming people , could you help how to get the details , with a small example..
Thanks & Regards
Vamshi Krishna.E

    On Wednesday, 19 May, 2021, 09:58:10 pm IST, DerekHerman-MSFT ***@***.***> wrote:

@evamshi You can view if an individual has a version in the portal. To view all the blobs with versions you would need to do this programmatically

[2021-05-20 07:54] WimSchmitz opened #75599 "Specify what role is needed for this"
It would be great to see what Synapse RBAC role is needed to view this.
I need to give rights to this to a Synapse user.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24fb9511-f478-d2be-40b3-1a839da0d7c8
* Version Independent ID: 0036a800-a58b-c1c3-1c4c-7e22c0aff845
* Content: [How to monitor SQL requests in Synapse S

[2021-05-20 08:01] swapnilpotnis commented on #75362
yes @KalyanChanumolu-MSFT. I am aware how to whitelist the IP Addresses. The thing is, I am able to access the db via pgadmin but when I am trying to whitelist my AKS outbound IP address and trying to connect the microservices, I am faced with the above posted error. As the IP Address already gets shown out in the error itself, I am not sure why the issue still persists.

Also for costing saving p

[2021-05-20 08:11] JayaChatterjee-MSFT commented on #75115
@markwhite00 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-20 08:11] #75115 closed

[2021-05-20 08:21] PDM314 opened #75600 "Attribute names are not always correct"
[Enter feedback here]
Attribute names are not always correct, ex. UsageLocations should be msExchUsageLocation..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7abde7c-df25-bd14-574c-92858daed39d
* Version Independent ID: 6652a5bc-4985-d45e-36fb-54da408e5e54
* Content: [Attributes synchronized by Azure AD Connect](htt

[2021-05-20 08:32] WillParry commented on #75558
Apologies, I missed something and the error I was seeing wasn't that the location wasn't an allowed parameter name. Sorry.

[2021-05-20 08:37] EliiseS opened #75601 "Add terraform example to ´Run Azure IoT Edge on Ubuntu Virtual Machines´"
Right now the docs at https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-ubuntuvm?view=iotedge-2020-11 showcase an example of how to deploy Iot Edge enabled VM with ARM and I think it would be really useful to add an example of how to do this with terraform as well.

I've already made a terraform template for doing this here: https://github.com/EliiseS/terraform-iot-edge-vm

I

[2021-05-20 08:46] SadiqhAhmed-MSFT commented on #75461
@chieh1127 Yes, this is expected. We are updating the documentation.

[2021-05-20 08:46] #75461 closed

[2021-05-20 08:51] fmms commented on #73415
@DerekHerman-MSFT please reopen!

[2021-05-20 09:07] AdamSharif-MSFT opened #75604 "Add information regarding size restrictions for PVCs"
Please can we add clarification that for Azure Files standard tier, minimum size is 1GiB, and also that the units for the PVCs needs to be created in 1GiB units - i.e. we cannot have 1.5GiB or 0.5GiB, nor 1536Mi - additionally only integer values are supported for the capacity.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-05-20 09:09] AdamSharif-MSFT commented on #75604
Testing examples:

![image](https://user-images.githubusercontent.com/40294242/118951990-7584e580-b953-11eb-8695-e3aa3b00bafb.png)

[2021-05-20 09:09] AjayKumar-MSFT commented on #75073
sameer-kumar, Apologies for the delayed response.

In order to access the SSH port, one must first login to the Kudu container via HTTPS. If you're not using SSH, you don't have to worry about closing port 2222 because it's not exposed to the Internet.
That is, we use port 2222 for SSH into your app's container, but that doesn't mean that port 2222 is exposed over the Internet. No matter how you u

[2021-05-20 09:09] #75073 closed

[2021-05-20 09:10] CHEEKATLAPRADEEP-MSFT commented on #75599
@WimSchmitz  Thanks for the feedback! I have assigned the issue to the content author to evaluate and add those details in the document.

[2021-05-20 09:20] ponmile1 opened #75605 "Azure VPN connection drop issue"
Azure VPN Client On Mac connection dropped:

Question: Enter Point-to-Site client OS version
Answer: Catalina 10.15.7 and Big Sur 11.2.3

Question: Select the tunnel type
Answer: OpenVPN

Question: Select the authentication type
Answer: Azure Active Directory

I have configured Azure AAD authentication on Mac Os using  Azure VPN Client
I'm trying to use the Azure VPN client and unable to establish

[2021-05-20 09:21] treimers opened #75606 "Example does not run under non-US locale"
Hi,

thanks for this good documentation. I had smaller problems running this example and finally managed to get it running.

My problem was laying in my environment, as I am from Germany :)

I got a HttpStatus 403 all time and added some debug code to postData method:
[code]

By that I discovered that the dates are formatted with my locale:

`{"Error":"InvalidAuthorization","Message":"An invalid d

[2021-05-20 09:21] smedin4 opened #75607 "Update TVM section"
The content of section _Microsoft Defender for Endpoint also includes Threat & Vulnerability Management (TVM). How is this Azure Defender vulnerability assessment extension different?_ might be obsolete. TVM now supports Linux too. References:
https://www.microsoft.com/security/blog/2021/05/11/threat-and-vulnerability-management-now-supports-all-major-platforms/
https://docs.microsoft.com/en-us/mi

[2021-05-20 09:37] lukos commented on #75459
Hi @dlepow, yes this is mentioned in the document but because it is not linked to the error message, I would have to read each paragraph of the document in detail since it is not obvious from the error message that this would be caused by an invalid username. The point about using the registry name without the azurecr bit doesn't stand out to me, even reading it now and knowing what I did wrong.

[2021-05-20 09:54] PhilipAnthonyMurray opened #75608 "Order processing of Path and Redirection rules"
In the Order of processing rules section it states the order process of rules for Path based rules. What is not stated is the order of processing is you are utilising both Path based and Redirect rules in the same Request Routing rule.

Are the Path based rules matched prior to the Redirect rule or vice versa?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2021-05-20 10:06] aralvar opened #75609 "Please document in the AppGW FAQ that it's not supported to move the AppGW between subnets. This is not possible in the Portal but it works with PS or CLI"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f36f19e-caad-3e86-474a-dd86554e9eb6
* Version Independent ID: 08ad49f3-6a57-b925-794a-37215e985aba
* Content: [Frequently asked questions about Azure Application Gateway](https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-

[2021-05-20 10:10] MarekLani opened #75610 "Not clear where to paste localization elements"
Please make clear where should be localization xml elements places when using custom policy. It is not clear form the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 986c1f85-07c7-ec91-d4fb-d5da5676c6f1
* Version Independent ID: 98782e9a-7697-52a3-754c-e1c6527401bb
* Content: [Localization string IDs - Az

[2021-05-20 10:28] 0xThiebaut commented on #75402
Hello,
Thanks for the response! This does indeed clear-up how these alerts are generated and from which data-sources we can obtain additional information.

[2021-05-20 10:28] #75402 closed

[2021-05-20 10:29] dariuszbz commented on #40680
the same problem here.
AFD and app gateway internet-facing certificates are different from the ones I have internally on the backend behind app gateway.

I had to run:
az network front-door update --name myAFD `
                             --resource-group myRG `
                             --enforce-certificate-name-check Disabled

to make it work.

Without it, afd throws "CertificateNameCheckF

[2021-05-20 10:32] dariuszbz opened #75611 "AFD throws "CertificateNameCheckFailed" error in logs"
AFD and app gateway internet-facing certificates are different from the ones I have internally on the backend behind the app-gateway.

I had to run:
az network front-door update --name myAFD --resource-group myRG
--enforce-certificate-name-check Disabled

to make it work.

Without it, afd throws "CertificateNameCheckFailed" error in logs. Log query:

AzureDiagnostics
| where ResourceProvider == "M

[2021-05-20 10:35] Ivan-Ada opened #75612 "there is no Azure CLI Version 2.4 available, the last one is 2.23"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1c70623-e950-ef6e-aee4-ffbe01e2e427
* Version Independent ID: a25a96f9-b173-d6b4-6b2c-8a81cbdc3426
* Content: [Create a PowerShell function from the command line - Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/create-first-f

[2021-05-20 10:48] vishalaj1 commented on #75108
@CHEEKATLAPRADEEP-MSFT

Hi,

So we cannot use notebook streaming We have to write the code in .py in pyspark by creating streaming context etc. put the .py file in job definition and get this working.

We cannot directly transfer the notebook code to the .py file.

Do I understand youcorrectly?

Regards,
Vishal

[2021-05-20 10:58] ld0614 opened #75613 "Storage Account Doesn't support TLS1.2"
If the Storage Account is configured for TLS1.2 only:

![image](https://user-images.githubusercontent.com/20439950/118967384-8b4dd700-b962-11eb-87bc-116498a62d77.png)

It will produce the following Error:
![image](https://user-images.githubusercontent.com/20439950/118967269-6a858180-b962-11eb-99a8-b74b0b297e51.png)

TLS must be set to TLS1.0 as a prerequisite and therefore should be included in th

[2021-05-20 11:15] pankajydv opened #75614 "search.in doesn't support special characters"
[Enter feedback here]
Special characters are not working with search.in in ACS for example this doesn't fetch any value from ACS search.in(category, 'Books & reference'). I have also tried to encode the special characters but no luck.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc76a7a5-efde-2381-e9f0-24c0a054e56a
*

[2021-05-20 11:15] AshokPeddakotla-MSFT commented on #75601
@EliiseS Thanks for the feedback! I have assigned the issue to the content author @toolboc  to evaluate and update as appropriate.

[2021-05-20 11:28] vitorbencini opened #75615 "Enable Azure Communication SMS from and to European Countries"
Hi, as a finance institution I rely on SMS daily to communicate my customers on charges on their accounts and other services. It would be great to be able to transport current solution to Azure. Are there plan to be able to send SMS from and to European countries such as The Netherlands. Thanks!

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-05-20 11:29] vitorbencini commented on #75615
Also created this:
https://feedback.azure.com/forums/934536-azure-communication-services/suggestions/43043007-sms-communication-service-to-europe-netherlands

[2021-05-20 12:03] kallewesterling commented on #50600
Reopen: There is a misspelling in the error message, which is still (May 20, 2021) present: `dupcliate` should be `duplicate`.

[2021-05-20 12:03] AndreasMWalter opened #75616 "Different Conditional Forwarding Information"
The Document references that private link conditional forwardings should be done for the zones:
privatelink.api.azureml.ms
privatelink.notebooks.azure.net

However the following document specifies:
https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-dns

Either document needs updating into clarifying what is the correct approach or when way A or way B is correct.

---
#### Documen

[2021-05-20 12:04] PramodValavala-MSFT commented on #75394
@vinothrao I've tested out a simple snippet and can confirm the behavior is as expected. The `endTime` will not change for each replay.

Here is the code for reference

[code]

This API is also used within the Durable Extension itself (for things like timers, HTTP, etc.).

[2021-05-20 12:15] vinothrao commented on #75394
Is the loop exiting at appropriate time? No infinite loop?

[2021-05-20 12:24] PramodValavala-MSFT commented on #75612
@Ivan-Ada While numerically `2.23 < 2.4`, with [semantic versioning](https://semver.org/) the second number is a minor version bump and should be strictly increasing, i.e., `1.9.0 -> 1.10.0 -> 1.11.0`.

Since there is no doc update required here, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the

[2021-05-20 12:24] #75612 closed

[2021-05-20 12:28] petender commented on #75398
Hello all,

There is currently a limitation in the ARM template deployment, as it stamps the repositoryURL; the work-around for now is keeping this parameter empty if you want to run full IaC (e.g. redeploy). This will be fixed in a next update (no exact timeline yet)

For the Azure DevOps Pipeline alternative for deployment, have a look at this article in the docs:

https://docs.microsoft.com/en-

[2021-05-20 12:35] HarshitaSingh-MSFT commented on #75610
Hello @MarekLani, thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-05-20 12:37] HarshitaSingh-MSFT commented on #75595
Hello @katiep23, thanks for the question! We are taking a look into this and will get back to you soon.

[2021-05-20 12:38] Klaas- opened #75618 "Wrong command in upgrade"
Hi,
`az vm extension delete -g MyResourceGroup -n MyVm -n AADLoginForLinux`

should be

`az vm extension delete -g MyResourceGroup --vm-name MyVm -n AADLoginForLinux`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2ede563-b873-0bc3-959f-69e555f0efcc
* Version Independent ID: 8471d9e4-6c79-0cf1-c5ed-50c58e1b92aa
* Cont

[2021-05-20 12:53] oottka opened #75619 "No mention of CUDA driver requirement on Triton How-to"
[Enter feedback here]

I tried deploying a model locally using the Triton server (`az ml model deploy -n triton-resnet-service -m resnet101_triton:1 --dc deploymentconfig.json`, and I get the following error:

[code]

Relevant deployment config and logs can be found [here](https://gist.github.com/oottka/d4eef3fc6988017cdfdc9e7eef622aee).

The container logs show that I should have the NVidia CUDA

[2021-05-20 13:02] APIWT opened #75620 "Registering subscription for resource provider"
I think it would be helpful to include somewhere that by default subscriptions do not have the `Microsoft.Maps` resource provider registered, along with steps on how to enable this for a subscription prior to attempting to create the Azure Maps resource via ARM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d862b874-8

[2021-05-20 13:06] jsquire opened #75621 "[API Docs Rendering] First paragraph sometimes overlaps"
This issue was transferred from issue [#21219](https://github.com/Azure/azure-sdk-for-net/issues/21219) in the Azure SDK repository, as the topic is related to rendering of the site and not the API documentation content.

### Please be aware that @DARKinVADER is the author of the original issue and be sure to include them in any comments or questions.
---

## Original Issue Content

The 1st paragr

[2021-05-20 13:21] MasterKolka opened #75622 "Steps order for the "Advanced scenario: Key Vault firewall""
Hello,
I found one problem with the documentation here - https://docs.microsoft.com/en-us/azure/container-registry/container-registry-customer-managed-keys#advanced-scenario-key-vault-firewall

I haven't been able to assign a key from the keyvault behind a firewall (with enabled trusted services bypass) before I disabled this firewall. Maybe this happens only in West Europe region.

[2021-05-20 13:27] vipulsparsh commented on #75600
@PDM314 Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-05-20 13:28] vipulsparsh commented on #75607
@smedin4 Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-05-20 13:31] richposada opened #75623 "Typo:"
There is a typo here:
"A service principal is a type of security principal that **identities** an application or service,"

It should be "identifies"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41e002ed-e566-8407-66a0-15a7941a9406
* Version Independent ID: 7e39f152-fc9a-3b99-8982-eaa72552342f
* Content: [Authenticat

[2021-05-20 13:33] vipulsparsh commented on #75344
@dave22000 Yes this is on plan and would be coming soon.

[2021-05-20 13:34] mkeskes opened #75624 "Typo in the documentation"
Small typo is this section (https://docs.microsoft.com/en-us/azure/active-directory-b2c/troubleshoot-custom-policies#echo-the-azure-ad-b2c-correlation-id)
Troubleshoot Azure AD B2C custom policies -> Echo the Azure AD B2C correlation ID -> Step 5

"Modify the technical profile element in the relying party section to add the **city** as an output claim" should be "Modify the technical profile eleme

[2021-05-20 13:41] gvashishtha commented on #75619
The CUDA error isn't what's causing the crash in your case, it's something to do with your model repository. Remember Triton can infer the input/output tensors only for ONNX/TensorFlow models.

If you can share the structure of your model repository I can take a look

[code]

[2021-05-20 13:43] DCtheGeek commented on #75590
@RonnieQuan Thanks for the question.  While most `Microsoft.Authorization` types aren't currently supported in Azure Resource Graph, `resourceManagementPrivateLinks` is.  For the full list of supported types, see [Azure Resource Graph table and resource type reference](https://docs.microsoft.com/azure/governance/resource-graph/reference/supported-tables-resources).

#assign:DCtheGeek
#label:triage

[2021-05-20 13:43] #75590 closed

[2021-05-20 13:44] DCtheGeek commented on #75590
#label:"triaged"
#label:"assigned-to-author"
#label:"product-question"

[2021-05-20 13:44] ram-msft commented on #75383
@PeterCLu Can you please confirm on the Azure ML studio from Microsoft Edge browser on iPad device.

[2021-05-20 14:07] JustJordanT opened #75625 "Clarification for Azure AD SSO URL Values For Cisco AnyConnect SAML"
In the following link, you will find the "Configure Azure AD SSO" Which is used for configuring Cisco AnyConnect with Azure AD for MFA/SSO

https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/cisco-anyconnect#configure-azure-ad-sso

In step 4 these could be more concise. When you are configuring this on the Azure UI they give you some example URL that you should be using.

![image](h

[2021-05-20 14:15] sameer-kumar commented on #75073
I see this error " No route registered for '/dev' " when I try to access the URL you mentioned.
Secondly, don't you think its courteous to ask for confirmation before closing this on me?

[2021-05-20 14:15] yutaro113 commented on #75472
Thank you very much for the quick confirmation!
I'll summarize detail and give it to you soon...!

[2021-05-20 14:24] NavtejSaini-MSFT commented on #75589
@mikesierra2 We are checking this and will get back to you

[2021-05-20 14:25] Klaas- commented on #75618
https://github.com/MicrosoftDocs/azure-docs/blame/bbc588115503aa44d1e7889f4f929c51564a8db9/articles/active-directory/devices/howto-vm-sign-in-azure-ad-linux.md#L356

[2021-05-20 14:26] imtiaza1977 commented on #75397
@MayankBargali-MSFT sorry for the delay, let me check.

[2021-05-20 14:29] NavtejSaini-MSFT commented on #75621
@jsquire @DARKinVADER We have assigned this to doc author to take this forward.

[2021-05-20 14:32] lauradolan commented on #75086
@ecfan I've opened a work item to make these updates.

#please-close

[2021-05-20 14:32] #75086 closed

[2021-05-20 14:33] jsquire commented on #75621
Thanks, @NavtejSaini-MSFT.    However, in this case, I am the author of the API that feeds the doc.   There's no formatting within the doc comments; the site is rendering as standard paragraphs.   I'm unable to repro the described behavior with the limited context, but it would seem to point to the rendering of the site itself rather than the content.

[2021-05-20 14:47] weyCC81 opened #75627 "Extend Known issues for "new Exchange Admin Center""
This Explanation is not right:

Please extend the following Pages which are not working with new Exchange Admin Center:
* Mail flow, Rules → https://admin.exchange.microsoft.com/#/transportrules
* Organization, Sharing → https://admin.exchange.microsoft.com/#/sharing
* Organization, Add-ins → https://admin.exchange.microsoft.com/#/addins
* Public folders, Public folders → https://admin.exchange.mi

[2021-05-20 14:57] SaiKishor-MSFT commented on #75609
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-05-20 14:58] SaiKishor-MSFT commented on #75608
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-20 15:01] fredericbreu1 opened #75628 "Installation of nginx-ingress in example fails"
Hi,

Following the tutorial the creation of the ingress controller with the command below fails:
# Use Helm to deploy an NGINX ingress controller
helm install nginx-ingress ingress-nginx/ingress-nginx \
    --namespace ingress-basic \
    --set controller.replicaCount=2 \
    --set controller.nodeSelector."beta\.kubernetes\.io/os"=linux \
    --set defaultBackend.nodeSelector."beta\.kubernetes\.io

[2021-05-20 15:09] chengyu-liu-cs commented on #13515
I am also searching for solutions....

[2021-05-20 15:11] NavtejSaini-MSFT commented on #75621
@jsquire I can check the site team's contact on my end but would suggest you do the same as we don't have direct POC.
Also @darkinvader we would need your help to send few examples and repro steps to take this forward.

[2021-05-20 15:12] NavtejSaini-MSFT commented on #75615
@vitorbencini Can you please confirm which document you are referring to. Docs feedback is related to a particular document to provide you correct help. Please help with the same to route it correctly.

[2021-05-20 15:23] MatthewBrown0 opened #75629 "Action settings does not exist"
[Enter feedback here]
This article talks about changing the chunking size through the actions settings.  This setting does not exist.  I would add a photo of the settings page but I dont see a method to add the image.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8acdbe0-a74f-a747-10f3-c861c831e46a
* Version Independ

[2021-05-20 15:27] NavtejSaini-MSFT commented on #75605
@ponmile1 The Docs feedback is for the issues related to the document issues and making them better. Please share the document link of this is associated with a document.
As it looks more like an issue which needs troubleshooting, you can also raise this issue on our community forum on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html)

[2021-05-20 15:29] NavtejSaini-MSFT commented on #75611
@dariuszbz The Docs feedback is for the issues related to the document issues and making them better. Please share the document link of this is associated with a document.
As it looks more like an issue which needs troubleshooting, you can also raise this issue on our community forum on Microsoft Q&A

[2021-05-20 15:38] davejhahn commented on #35923
I'm running into this and I'm not exactly understanding the problem.....

I have a dataflow that has a source being  a dataset populated from a blog and the linked service for the storage account is in the integrated runtime.    It has a sink to a dataset that is Odbc, in a self hosted runtime (in Azure).

"Linked service with Self-hosted Integration runtime is not supported in data flow."

How am

[2021-05-20 15:39] JamesTran-MSFT commented on #75623
@richposada
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-20 15:41] JamesTran-MSFT commented on #75624
@mkeskes
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-20 15:41] Grace-MacJones-MSFT commented on #75614
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-20 15:42] JamesTran-MSFT commented on #75625
@JustJordanT
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-20 15:43] JamesTran-MSFT commented on #75627
@weyCC81
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-20 15:43] ClearIt03 commented on #75581
Here is the document that is missing the Right.

https://docs.microsoft.com/en-gb/azure/active-directory/app-provisioning/functions-for-customizing-application-data

this is how i got around it so far:
Replace(Replace([telephoneNumber], , "[()\\s-]+", , "", , ), , ".*(?=\d{10})", , "", , )

[2021-05-20 15:52] petertuton opened #75631 "Change image references of 'on-premise' to 'on-premises'"
Each image on the page uses the incorrect term, "on-premise". Please update the images to use the correct term, "on-premises".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c019b57-7a70-373c-2ca5-1a2abc8fca48
* Version Independent ID: c6ddeae6-0bb8-7a58-9272-75db173bb4fc
* Content: [Five steps for integrating all you

[2021-05-20 15:58] ecfan commented on #75086
@lauradolan: Thank you!!

[2021-05-20 16:01] ibTnJohn opened #75632 "For now, or forever, or ...?"
I get that this isn't GA doc, but a little more info, please.  The preview went from a long list of external sources to a message that they've been disabled.  And the "learn more" points to this page. Where I expected to "learn more".  But didn't.

So is this temporary, permanent, or yet to be determined?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2021-05-20 16:28] NavtejSaini-MSFT commented on #75507
@MashaMSFT Can you please confirm.

[2021-05-20 16:41] kobulloc-MSFT commented on #75479
@alansingfield That's the same thing I see as well.  The PR I have out right now should let readers know that they'll need to use Azure Cloud Shell to run the commands in the documentation if they are on Windows.

Using `az account show | grep id` on PowerShell:

![image](https://user-images.githubusercontent.com/37556655/119015711-048eff00-b94e-11eb-8c87-e74a94de243b.png)

Using `az account show

[2021-05-20 16:45] theoslocrew opened #75633 "Proxy App Url in the code"
[Enter feedback here]
What will be the "Proxy App Url" in last line of code under section Configure the native app code?
Is it going to be internal or external App Proxy URL ? Please kindly include in the documents. Customers having questions about this "Proxy App Url" code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2021-05-20 16:48] laszukdawid commented on #31136
Got an email from a recruiter with aka.ms link. Completely ignored it thinking that's some phishing attempt or weird marketing research. Was bothering me so decided to report this to Microsoft and what do you know, it's just a legit dodge looking url.

Since this thread is the first meaningful result from Google (the actual first result is in image), people will be coming here to check. And they w

[2021-05-20 16:55] cgillum commented on #57955
#please-close

[2021-05-20 16:55] #57955 closed

[2021-05-20 17:05] SumanthMarigowda commented on #75236
@tamram Firstly, apologies for the delay in responding here. Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-20 17:06] BM27 opened #75634 "error in document"
This text has an error:  "Speech Synthesis Markup Language (SSML) is an XML-based markup language used to customize **speech-to-text** outputs."

Replace "speech-to-text" with "text-to-speech".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e873515a-55f7-ecdf-37dd-9b5dbb13c211
* Version Independent ID: f8b9132b-c867-cd

[2021-05-20 17:08] elvirk opened #75635 "The property "scope" is read-only. Expressions cannot be assigned to read-only properties."
[I'm getting this error when trying this file:

I copied bicep file and try to execute it but I'm getting this error.

Warning BCP073: The property "scope" is read-only. Expressions cannot be assigned to read-only properties.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6410e6cb-3fc9-540e-ed39-964ee9f8328d
* Version

[2021-05-20 17:08] JayaChatterjee-MSFT commented on #75291
@oadrian2 Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-20 17:08] #75291 closed

[2021-05-20 17:09] SumanthMarigowda commented on #75298
@iamim  Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.
Are you facing any issue in moving the Storage account?  May I know what exactly are you trying performing?   The article is updated and I was able to perform the task as mentioned in the article.   If so I 'd recommend posting your question in https://azure.microsoft.com/en-us/support/com

[2021-05-20 17:09] #75298 closed

[2021-05-20 17:13] ajburnle commented on #72897
#reassign:@amsliu

[2021-05-20 17:20] femsulu commented on #75558
Thanks for the update @WillParry - dont hesitate to ping if you have any followup quesations

[2021-05-20 17:20] #75558 closed

[2021-05-20 17:25] KranthiPakala-MSFT commented on #75374
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank you

[2021-05-20 17:31] #75374 closed

[2021-05-20 17:34] MicrosoftGuyJFlo commented on #75618
@Klaas- Thanks for the catch. Resolved in linked PR that will go live next week after //build conference keynote. #please-close

[2021-05-20 17:34] #75618 closed

[2021-05-20 17:43] GiftA-MSFT commented on #75616
@AndreasMWalter we'll review your feedback and get back to you shortly. Thanks!

[2021-05-20 17:45] GiftA-MSFT commented on #75634
@BM27 we'll review your feedback and get back to you shortly. Thanks.

[2021-05-20 18:04] retroray81 commented on #75135
@RyanHill-MSFT I'm still having issues.  It took me hours to familiarize myself with Azure CLI and az rest and get the syntax correct for the PUT command and at the end of all that I'm **still** getting the same error:

az : ERROR: Method Not Allowed(<Error><Message>**The requested resource does not support http method 'PUT'.**</Message></Error>)

Please advise - we've chewed up a week and a half

[2021-05-20 18:12] NelGson commented on #75405
We are looking into this. @SamaraSoucy-MSFT

[2021-05-20 18:16] RyanHill-MSFT commented on #75135
@retroray81 email me at AzCommunity[at]microsoft[dot]com _ATTN: Ryan_ so we can work offline on this.

[2021-05-20 18:26] elapdan commented on #75577
Thank you for responding. Yes we do have Allow Access to Azure Services enable.

We are running azure sql over a private link and have been reading posts that elastic query may not be supported when you’re running over private link? But hopefully there’s way to do this.

Thank you!

From: Kalyan Chanumolu ***@***.***>
Sent: Thursday, May 20, 2021 12:31 AM
To: MicrosoftDocs/azure-docs ***@***.***>

[2021-05-20 18:27] bandersmsft commented on #75461
@chieh1127 You're correct. I've updated the article. It will get refreshed live next Monday.

![who-can-cancel](https://user-images.githubusercontent.com/9596428/119030006-360fc680-b95e-11eb-8550-c4ee3acd36a1.png)

https://github.com/MicrosoftDocs/azure-docs-pr/pull/159586

[2021-05-20 18:33] bandersmsft commented on #75586
@terryclancy Investigating this with the Cost Management + Billing engineering team.

[2021-05-20 18:35] DerekHerman-MSFT commented on #75411
We haven't heard back from you so closing out this issue for now. If you have further issues please let us know.

[2021-05-20 18:36] Oury-MSFT commented on #75578
@markjbrown Please see customer feedback above. This [Documentation](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-configure-private-endpoints) it is mentioned that PublicNetworkAccess can be disabled during account creation.
![image](https://user-images.githubusercontent.com/78940872/119030644-02816c00-b95f-11eb-83ba-ca97de12219a.png).
How about for Service Endpoint Documentation. Does

[2021-05-20 18:39] amsliu commented on #72897
@stevelsd Thank you for your feedback! I have incorporated this change to the documentation under "Common Verification Issues". You can view this change in this pull request: https://github.com/MicrosoftDocs/azure-docs-pr/pull/159591. If you have any other questions, let us know, otherwise I'm closing this pull request. #please-close

[2021-05-20 18:39] #72897 closed

[2021-05-20 18:40] elapdan commented on #75577
Actually, just to follow up one more time, on our Azure Sql Server’s Firewall settings, we have “Deny public network access” to Yes.  (because we’re running over a private link).

This setting disables the “Allow Azure services and resources to access this server” selection on the Firewall setting.  I’m assuming this is the setting you mention below.  So, given we denying public access, I can’t se

[2021-05-20 18:41] JohnGalt1717 commented on #40126
@jeffhollan @ggailey777   This ticket is ancient.  Largely because of this we moved to Kubernetes to avoid having to deal with all of the bugs and issues with Azure Functions.

[2021-05-20 18:44] DerekHerman-MSFT commented on #75469
You can try this code to see if it works for your use-case:

[code]
If you need further assistance I'd recommend posting your question to StackOverflow https://stackoverflow.com/questions/tagged/azure-storage-blobs since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag m

[2021-05-20 18:44] #75469 closed

[2021-05-20 19:19] BharathNimmala-MSFT commented on #75280
@pisees Apologies for delay in getting back to this thread. Post validation with our internal team it has been called out that - It might work for both since const is a new ES6 keyword and import is part of JS modules and if we change the `const ` to 'var' or 'let' then it will work with ES5.

Hope this information helps, however will discuss with our document author and take a backlog item to cha

[2021-05-20 19:19] #75280 closed

[2021-05-20 19:20] DCtheGeek commented on #75635
@elvirk I've submitted the fix PR, so I'm now going to close this issue.  Thanks again for pointing this out!

#please-close

[2021-05-20 19:20] #75635 closed

[2021-05-20 19:27] hdsheena opened #75640 "pricing tier recommendation query doesn't run"
The query doesn't run as written, and I'm struggling to figure out it's intent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fed35a55-0db9-4afa-9a80-fe9adac1e7d7
* Version Independent ID: 67af640b-9a6c-bf24-3a99-14ad8dab849f
* Content: [Manage usage and costs for Azure Monitor Logs - Azure Monitor](https://docs.micro

[2021-05-20 19:28] cchapin-ms opened #75641 "Is there a Defender version of this page?"
[Enter feedback here]
Is there a Defender version of this document? Is it still in preview (since 2019)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ffcbc35-9721-0092-8a3b-316aa3072689
* Version Independent ID: 4ef23283-a5db-e672-70a2-419d9e7e2c31
* Content: [Advanced Threat Protection for Azure Cosmos DB](https://

[2021-05-20 19:30] dave22000 commented on #75344
@vipulsparsh Thank you, please let me know when fixed. What does a rough timetable look like in case I will have to go with a workaround?

[2021-05-20 19:59] seantleonard opened #75642 "Integration with Microsoft Graph SDK for .NET"
Would like to see references or guidance for how to use MSAL.NET with Microsoft Graph SDK and the possible tradeoffs between that and creating my own HTTP calls to Microsoft Graph.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d25613b-0565-11a2-1ad3-aa1facde389d
* Version Independent ID: 2795d5da-02b6-f2f6-9911-aa427

[2021-05-20 20:02] NavtejSaini-MSFT commented on #75604
@AdamSharif-MSFT We are checking this and will get back to you.

[2021-05-20 20:05] JamesTran-MSFT commented on #75642
@seantleonard
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-20 20:13] ArvindHarinder1 commented on #46973
This has been addressed. #Please-close

[2021-05-20 20:13] #46973 closed

[2021-05-20 20:15] #63837 closed

[2021-05-20 20:48] srijang commented on #75294
This seems to be a bug, we are looking into this. I don't have ETA yet. I'll update the thread once I have additional info.

[2021-05-20 21:06] rwike77 commented on #75401
Yes, that's a good idea.  I'll do that.  Thanks for the input.

[2021-05-20 21:16] lampeTechnidoo opened #75643 "error CS1061: 'HttpClient' does not contain a definition for 'PostAsJsonAync'"
I tried this example : [https://docs.microsoft.com/en-us/azure/app-service/tutorial-auth-aad?pivots=platform-linux](https://docs.microsoft.com/en-us/azure/app-service/tutorial-auth-aad?pivots=platform-linux)

and failed on step "Modify the Front-End-Codes"
[code]
after this build fail with this error. If have tried some stackoverflow answer, but it does't worked for me. One of them let it build it

[2021-05-20 21:29] elegault opened #75645 "Clarification needed on Co-sell eligibility for Teams and M365 apps"
This [page ](https://docs.microsoft.com/en-us/azure/marketplace/co-sell-requirements) says:

But this [page](https://docs.microsoft.com/en-us/azure/marketplace/marketplace-commercial-transaction-capabilities-and-considerations) says:

If a publisher can qualify for a reduced service fee for qualifying apps, that implies that those apps qualify for Co-sell status.

---
#### Document Details

⚠ *Do

[2021-05-20 21:47] zr-msft commented on #66416
Thank you @V4A001 for the feedback.

The article has been tested recently and is working as written. We've added a task to our backlog to review the explanations and will prioritize accordingly.

#please-close

[2021-05-20 21:47] #66416 closed

[2021-05-20 21:58] rolyon commented on #73839
#reassign:tmvishwajit

[2021-05-20 21:58] PRMerger9 commented on #73839
tmvishwajit is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-05-20 22:03] TravisCragg-MSFT commented on #75408
@mikesierra2 This is not possible with PowerShell at this time. This might be possible with an ARM Template, you can use resources.azure.com to see how Front Door specifies custom domains in a template.

If you would like us to add this functionality in the future, [please leave your feedback Here at Azure Networking's feedback.azure.com page](https://feedback.azure.com/forums/217313-networking).

[2021-05-20 22:03] #75408 closed

[2021-05-20 22:03] zr-msft commented on #66847
Thank you @JohnRusk for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2021-05-20 22:03] #66847 closed

[2021-05-20 22:05] femsulu commented on #75613
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-05-20 22:14] rboucher commented on #74066
Understood  @jordaniza  and @immch.  This has to do with our underlying video platform.  I'm looking into it.

[2021-05-20 22:20] rtrigueiro opened #75647 "FIDO2 as MFA method confusion"
Hi Team,

While we have FIDO2 marked as possible for MFA on the table https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-authentication-methods#how-each-authentication-method-works

Then on the "Important" blue box we have this:
 "While FIDO2 meets the requirements necessary to serve as a form of MFA, FIDO2 can only be used as a passwordless form of authentication."

Sh

[2021-05-20 22:21] TravisCragg-MSFT commented on #75406
@opticyclic It looks like the author fixed this around the same time you made the issue (3 days ago). Please let me know if it still does not look correct!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-20 22:21] #75406 closed

[2021-05-20 22:22] femsulu commented on #75640
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-05-20 22:24] TravisCragg-MSFT commented on #75425
@Tarjei99 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-05-20 22:32] TravisCragg-MSFT commented on #75435
@asudbring Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-05-20 22:40] rboucher commented on #73438
This article is automated so we are just pulling what's listed as available on the backend.   If these are gone they will disappear soon given we update this once a month.

[2021-05-20 22:44] normesta commented on #74395
Thanks @xinmeng2. The content has been corrected and now reflects the current UI. Thanks again.

#please-close

[2021-05-20 22:44] #74395 closed

[2021-05-20 22:59] jcruiz commented on #74331
In the first part of the tutorial, you use a b2c instance from Microsoft. It's not a pre-requisite that you have one. In the how-to, once you scan the QR Code you request a credential from the issuer (the b2c tenant) in order to obtain a signed credential you do an idToken exchange between the authenticator and the b2c tenant by signing in or registering for an account. After successfully sign in,

[2021-05-20 23:04] TravisCragg-MSFT commented on #75562
@stubble2018 Just to confirm, you did this using an existing application gateway, correct?

If so, what is the SKU of your Application Gateway?

[2021-05-20 23:08] femsulu commented on #75645
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-05-20 23:31] KranthiPakala-MSFT commented on #75632
@403575
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-05-20 23:34] draggeta commented on #61032
I know this is an old issue, but it still doesn't work. Is there any information?

[2021-05-20 23:34] TravisCragg-MSFT commented on #75589
@mikesierra2 Try changing your Source Pattern Match to "/sky/*"

[2021-05-20 23:44] knicholasa commented on #75631
Hi @petertuton, you're correct, I'll look into getting these images fixed.

[2021-05-20 23:47] JamesTran-MSFT commented on #75633
@theoslocrew
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-21 00:16] rwike77 commented on #73882
@thomasonsignup  I confirmed with our engineering team- there are no plans to support setting publisher domain programmatically.  Sorry, I know that's not the answer you want to hear.  I'm closing this issue now, feel free to re-open if need be.  #please-close

[2021-05-21 00:16] #73882 closed

[2021-05-21 00:24] savjani commented on #75448
@VikasPullagura-MSFT - The changes are live. Can you please close this? thanks !!!

[2021-05-21 00:27] GoonerW commented on #75448
Looks good to me.  Hopefully future visitors will not be as confused as I was.  :)

[2021-05-21 00:30] savjani commented on #75448
Thanks @GoonerW . Indeed. Thanks for pointing that out.

[2021-05-21 00:35] NavtejSaini-MSFT commented on #75620
@APIWT We are looking into this and we will get back to you.

[2021-05-21 00:37] NavtejSaini-MSFT commented on #75622
@MasterKolka We are checking this and we will get back to you.

[2021-05-21 00:37] SatishBoddu-MSFT commented on #75620
Hello @APIWT
Our SME will review your feedback.

[2021-05-21 00:39] NavtejSaini-MSFT commented on #75628
@fredericbreu1 We are looking into this and we will get back to you.

[2021-05-21 01:23] joel-g opened #75649 "Getting error running the sample on Mac"
When I run the provided sample project on MacOS Big Sur I get this error:

System.IO.FileNotFoundException
Could not load the file 'System.Web.Entity'.

I think I am missing some DLL that would be present in Windows. Any work around?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72d855c6-51fd-a1da-5c44-8b44658c0211
*

[2021-05-21 02:49] CHEEKATLAPRADEEP-MSFT commented on #75455
@celinama Now the changes are live.

![image](https://user-images.githubusercontent.com/79183421/119074749-33b87580-ba0d-11eb-927f-c2c7fd859aae.png)

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-21 02:49] #75455 closed

[2021-05-21 03:33] YutongTie-MSFT commented on #75567
@aldelar Thank you for the advice, yes, I am reaching out to Web App team for this issue. I will close this on our end since I just verify there is no issue about this documentation. Appreciate appointing out this.

[2021-05-21 04:35] PramodValavala-MSFT commented on #75394
@vinothrao Hope my previous comments clear things up. If you are still observing the same, it would be best to post a query on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-functions.html) with your code to help troubleshoot your scenario while engaging the wider community.

This repo is primarily to address doc feedback and since there is no doc update required, we will no

[2021-05-21 04:35] #75394 closed

[2021-05-21 04:41] utraghuv commented on #75184
@TiTi I see, thanks for clarifying. Block blobs in premium storage accounts are not supported and no page blobs are supported. Operational backup supports block blobs in standard general-purpose v2 storage accounts only.
The checkable state for operational backup in the premium storage account's 'Data protection' settings looks like a bug which we are working on- even if checked this would lead to

[2021-05-21 04:43] utraghuv commented on #74969
@ChaiSwaddipong No, operational backup supports block blobs in standard general-purpose v2 storage accounts only. Please refer to this for more details: https://docs.microsoft.com/azure/backup/blob-backup-support-matrix#limitations

[2021-05-21 04:47] v-amallick commented on #75574
@prosprice

Thank you for your feedback. I will look into it and get back.

[2021-05-21 05:37] BharathNimmala-MSFT commented on #74969
Thanks a lot @utraghuv for helping on the thread.

@ChaiSwaddipong Hope the above information helps. Please feel free to revert back if you have any further queries.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue for now, however if you have any feedback/queries on the document please tag us in your reply and wi

[2021-05-21 05:37] #74969 closed

[2021-05-21 05:43] SnehaAgrawal-MSFT commented on #75413
@Catastrophe1 Thanks again for the feedback! The PR has been created will be visible soon. Will now close this if further query please let us know.

[2021-05-21 05:43] #75413 closed

[2021-05-21 05:46] vipulsparsh commented on #75647
@rtrigueiro Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-05-21 05:59] fredericbreu1 commented on #75628
Attaching some additional info:

AKS cluster:
{
    "id": "/subscriptions/76b423f3-15c5-43ca-a466-72593b1ba1f3/resourcegroups/FinturaResourceGroup/providers/Microsoft.ContainerService/managedClusters/FinturaBLPCluster",
    "location": "switzerlandnorth",
    "name": "FinturaBLPCluster",
    "tags": {
        "project": "blp"
    },
    "type": "Microsoft.ContainerService/ManagedClusters",
    "pr

[2021-05-21 06:00] HarshitaSingh-MSFT commented on #75470
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-21 06:00] #75470 closed

[2021-05-21 06:16] ozbillwang opened #75652 "FTPS should be required in your function App"
[Enter feedback here]

This is rediculous, if you are with **Consumption plan** by **Linux code,** Configuraiton -> General setting is not available for you,  because of this, it triggers the Security center alerts, that we can't fix it with current plan.

from its export template, I saw the ftps state is `AllAllowed`, but we can't change it, unless to upgrade to higher plan.

[code]

### with tab

[2021-05-21 06:17] shizhMSFT commented on #75622
@MasterKolka I am able to assign a key from a firewall-configured keyvault though the documentation, and cannot reproduce your issue in the west europe region.

Could you share the steps you have done and the error message? If you have privacy considerations in replying in the GitHub, please open a support ticket in Azure.

[2021-05-21 06:22] pnarsi commented on #61231
@leifbro @HarithaMaddi-MSFT

There is now an example quickstart template illustrating using ARM to setup DBFS encryption here: https://github.com/Azure/azure-quickstart-templates/tree/master/quickstarts/microsoft.databricks/databricks-workspace-with-customer-managed-keys.

The ARM documentation has also been updated with better descriptions of the "encryption" object and  "prepareEncryption" objec

[2021-05-21 06:23] Klaas- commented on #75618
@MicrosoftGuyJFlo you did not link a PR

[2021-05-21 06:27] tksh164 opened #75653 ""Azure resiliency technical guidance" link is valid?"
The link of "Azure resiliency technical guidance" is valid? The link referenced to non-Azure GitHub repository and that repository is archived.

https://github.com/uglide/azure-content/blob/master/articles/resiliency/resiliency-technical-guidance.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a788e4-0130-73f2-d985

[2021-05-21 07:08] #75517 closed

[2021-05-21 07:49] vosj opened #75656 "Restore VM also needs storageAccounts/write"
Ive created a custom role based on the notes under 'Restore VM', however in practice storageAccounts/write was also needed, may be added to that section

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0294f74-c28c-01e2-d096-a2ef7ce0ffc7
* Version Independent ID: a9755f49-9599-5ed6-a6ef-eed045aeee29
* Content: [Manage B

[2021-05-21 08:05] harbinur opened #75657 "Azure portal dashboard"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b9fbf1b-0eac-5494-3cb6-ee7da4e25605
* Version Independent ID: d2d457fb-fd9b-72f9-c3bb-4f99c615dca6
* Content: [Create a dashboard in the Azure portal - Azure portal](https://docs.microsoft.com/en-us/azure/azure-portal/azure-portal-dashboards)
* Conte

[2021-05-21 08:10] psmanhas commented on #75465
@epourail The document is updated and changes will go live soon.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-05-21 08:10] #75465 closed

[2021-05-21 08:20] SadiqhAhmed-MSFT commented on #75657
@harbinur Thank you for posting here!
Could you please provide more details about the query?

[2021-05-21 08:24] #75657 closed

[2021-05-21 08:24] harbinur commented on #75657
opened by mistake

[2021-05-21 08:27] pecoult commented on #75465
Hi @psmanhas, is there a chance B2s VMs will be able to support ephemeral disks in the future? We use B2s VMs for K8s and using managed Premium OS disks seems to be just a waste of money (on our side..)

[2021-05-21 08:27] SadiqhAhmed-MSFT commented on #75656
@vosj Thank you for your post!

When you create a custom role with "Scope" - Resource group in which VM will be deployed and permissions "Microsoft.Resources/subscriptions/resourceGroups/write" that should suffice the requirement. I don't think storageAccounts/write would require.

Appreciate if you could paste a screenshot of the custom role you've created for further investigation.

[2021-05-21 08:31] vosj commented on #75656
Hi, The custom role is a clone of Backup Operator, with a scope on the subscription. The role was assigned to a user on a resource group level. The additional permissions are:
![image](https://user-images.githubusercontent.com/31720003/119107484-8e5acd00-ba1f-11eb-8b1c-e430da6e87ff.png)
Blue initial state, with RG write permissions. Yellow was needed additionally, now it works.

resourceGroups/wri

[2021-05-21 08:55] dwanjuhi opened #75662 "Group Resource Management via MS Graph for Azure AD B2C resources"
The documentation doesn't show how to add groups to a user. This should be possible with MS GRaph for B2C resources, is it possible to add this to the docs?

Issue first reported by a customer in this question: https://docs.microsoft.com/en-us/answers/questions/386976/index.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-05-21 09:01] AjayKumar-MSFT commented on #75643
@lampeTechnidoo, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-05-21 09:03] AjayKumar-MSFT commented on #75649
@joel-g, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-05-21 09:06] AjayKumar-MSFT commented on #75555
Test

[2021-05-21 09:09] oottka commented on #75619
@gvashishtha good catch; after adding a proper model configuration file this works beautifully with my pytorch model!

[2021-05-21 09:09] #75619 closed

[2021-05-21 09:13] MonikaReddy-MSFT commented on #75460
@smallheath1919 -
Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2021-05-21 09:13] #75460 closed

[2021-05-21 09:14] MonikaReddy-MSFT commented on #75183
@danSpotter - I hope the above information helps.

Since we have not heard back from you we will now proceed to close this thread.
If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-05-21 09:14] #75183 closed

[2021-05-21 09:19] Miteshc1 opened #75664 "Question about FAQ on vnet peering permissions."
[Enter feedback here]

It says

Reader Role on the Virtual Network (Not needed if there is no peered virtual network).

But it is not specified WHICH network the reader role needs to be on.  Both networks in the peering or just the one the VM is attached to ?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03ec4

[2021-05-21 09:19] jeevannagvekar commented on #74903
Hello team, I could update the image successfully. Thanks for suggestions. Also I believe the image reset issue is resolved in the latest images uploaded at 0.7.0 (2021-05-14).

![image](https://user-images.githubusercontent.com/43884093/119113700-fff84280-ba42-11eb-8162-bbca720c711f.png)

I have a query though about installedCriteria field. I could see that its value is same as version in updateI

[2021-05-21 09:26] guilleabdon commented on #44425
Hi everyone. I'm here because i've got the same error one more time, this time with another AKS cluster. Few days ago, in a call with MS support guys we work around this issue following their recomendations:

1-	The NGINX was throwing a 502 error due to the certificate we were obtaining from the AKS (self-signed certificate) wasn’t matching with the one uploaded to the HTTP Settings (Trusted Root

[2021-05-21 09:54] MayankBargali-MSFT commented on #75641
@cchapin-ms Thank you for your feedback! We will review and update as appropriate.

[2021-05-21 09:54] SnehaAgrawal-MSFT commented on #75378
@Cmohan Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2021-05-21 10:02] yoelhor commented on #75624
Dear @mkeskes, thanks for the feedback. I'm updating the article with the correct claim name. A new version will publish next Tuesday, and this GitHub issue will be closed automatically (before the doc is published). If you have any questions or need further information, please open new GitHub issue.

[2021-05-21 10:08] yoelhor commented on #75318
This page is about how to create a user flow or a custom policy. Register an application in the tenant is a prerequisite. The app registration doc explains how to register the app with the ID token. I'm glad that you asked this question as we are working now to improve the app registration docs. Thanks again for the valuable feedback. I'm closing this issue for now. If you have any questions or ne

[2021-05-21 10:08] #75318 closed

[2021-05-21 10:18] yoelhor commented on #75662
Thanks for your feedback. Adding a user to security groups is not officially supported by Azure AD B2C. I mean, you can add it via Azure portal or MS graph, but on the other hand, it's not supported. So, unfortunately we currently can't document it under the [Microsoft Graph API operations are supported for the management of Azure AD B2C resources](https://docs.microsoft.com/azure/active-directory

[2021-05-21 10:20] yoelhor commented on #75610
Please check out this [how-to guide](https://docs.microsoft.com/azure/active-directory-b2c/language-customization?pivots=b2c-custom-policy)

[2021-05-21 10:44] injosef opened #75665 "Apparently only Triggers of type "Incident" are playbooks this solution supports currently."
We however do not inform of this, and if I for example have 8 Playbooks available to me, when I try and create a Rule and select to Run Playbooks as Actions, I don't see any playbooks at all (if mine are of the type "Alert" and not "Incident").

But since the UI and help on the pages do not inform that only Type "Incident trigger" is supported, users and myself gets very confused.

---
#### Docume

[2021-05-21 10:56] hyelee517 commented on #75411
Hi @DerekHerman-MSFT ,
Thankyou for your support.
and sorry for late reply.

C:\Users\hyelee\Downloads\azcopy_windows_amd64_10.10.0\azcopy_windows_amd64_10.10.0>azcopy login
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code HT94LM8T2 to authenticate.

INFO: Logging in under the "Common" tenant. This will log the account in under its home tenant.
IN

[2021-05-21 10:59] KalyanChanumolu-MSFT commented on #75393
@soportedba Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-05-21 11:07] yoelhor commented on #75595
Thank you for sharing this issue with us. Base on the error message id: AADSTS50011, it sounds to me that this error actually has been returned by the federated Azure AD. The Azure AD probably returns this error to B2C, while B2C pass that error back to your app.

Please check the redirect URL of the Azure AD app (not the B2C one). [Step 7 in this section of the article you mentioned](https://docs

[2021-05-21 11:20] openingbullet opened #75668 "Correction needed in section "Migration from previous preview""
Hello Team,

Hope you all are safe during these uncertain times;

In the section **Migration from previous preview**, the 1st step is to delete the old extension using the following syntax
_az vm extension delete -g MyResourceGroup -n MyVm -n AADLoginForLinux_

But the syntax in the step is incorrect and it throws the following error;
![image](https://user-images.githubusercontent.com/45390980/119

[2021-05-21 11:26] AjayKumar-MSFT commented on #75398
Thanks for the comments, petender. @heing, We will close this out, but if you feel you need more information please just let us know.

[2021-05-21 11:26] #75398 closed

[2021-05-21 11:35] yoelhor commented on #75527
Thanks for the valuable feedback. You should NOT create any IdentityExperienceFramework application. Sorry for the inconvenience. The document will be updated next week (Tue-Wed) with the following:

## Upload and test your updated custom policy

1. Make sure you're using the directory that contains your Azure AD B2C tenant by selecting the **Directory + subscription** filter in the top menu and c