[2019-05-29 09:33] SubhashVasarapu-MSFT commented on #31172
@jaiminsoni2017 , Just checking to see if you have checked my previous response and share an update.

[2019-05-29 09:49] SamirFarhat opened #32330 "Unresgiter or Update the Integration Runtime"
Hi,
Can you add please how to unresgiter the Self Hosted integration runtime.
Once registered, we can't see how to unresgister a VM from an Self Hosted Integration Runtime, or to change the Self Hosted IR.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32785d15-8202-6e44-f1d2-420ef0600f3f
* Version Independent

[2019-05-29 09:56] Jaffacakes82 opened #32331 "Broken GitHub link for Advanced Threat Protection"
I'm trying to view the ARM template reference for adding Advanced Threat Protection to my Azure SQL Server. However, the link provided on this page is broken.

https://github.com/Azure/azure-quickstart-templates/tree/master/201-sql-advanced-threat-protection-server-policy

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-05-29 10:05] ac2707 opened #32332 "PCS login after npm install -g iot-solutions fails"
pcs login
module.js:540
    throw err;

![image](https://user-images.githubusercontent.com/49182510/58548703-7a60a400-8227-11e9-9df8-d4e4db31eefc.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6df720f-3b6f-ef52-a032-a473f91b9a9b
* Version Independent ID: dbfbd26c-3d72-8dad-bd79-f138842825bc
* Content: [Deploy the

[2019-05-29 10:15] jaiminsoni2017 commented on #31172
Sorry for the late response.
I am checking with chrome latest version. And still I am not able to see h2 for same request.

From: suvasara <notifications@github.com>
Sent: 27 May 2019 06:02 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Jaimin Soni <jaimin.soni@cygnetinfotech.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] HTTP/2 does not sup

[2019-05-29 10:27] markarnolditpro opened #32333 "Multiple country codes in a single match condition?"
Can we match multiple country codes in a single match condition?  For example, "US, FR, EN"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d67cfb74-f875-3645-e2fc-35f7c2abf3e3
* Version Independent ID: 45db88b1-3a24-fea8-bbaa-596b2590b320
* Content: [Geo-filtering on a domain for Azure Front Door Service](https://docs

[2019-05-29 10:30] MarekLani commented on #31898
@kgremban thanks I added feedback: https://feedback.azure.com/forums/907045-azure-iot-edge/suggestions/37761754-allow-upstream-iot-hub-event-hub-to-be-different, but I gave it a second thought. The requirement of being signed in to azure subscription in order to manage IoT Edge device might not be a problem. What might be desired is that Edge Device allows upstream IoT Hub to be different as manag

[2019-05-29 10:34] vairaselvam commented on #32260
Hi Trach,

     Thanks for your reply. There is a loop going on with ticket number
#32262 for the same issue. Hope will be get resolved there. Please archive
this ticket.

Thanks & Regards,
R.Vaira Selvam

On Wed, May 29, 2019 at 1:02 AM Bryan Trach <notifications@github.com>
wrote:

--

R.Vaira Selvam

[2019-05-29 10:36] vairaselvam commented on #32262
Hi,
     I deleted the Personalizer service in Azure and recreated one with a
new key. Now it is working fine. But I could not open the Settings Blade.
It keeps showing progress dots...

Thanks,
R.Vaira Selvam

On Wed, May 29, 2019 at 12:22 PM Vaira Selvam RajaGopalan <
vairaselvam@gmail.com> wrote:

--

R.Vaira Selvam

[2019-05-29 10:39] #32332 closed

[2019-05-29 10:40] ac2707 commented on #32332
could proceed

[2019-05-29 10:43] lightupdifire commented on #31078
@ManojReddy-MSFT,
Just a question, if we will deploy Federated domain procedure but select only "down-level" via AAD Connect configuration, then this issue that people have, shouldn't apply to such setup right?

[2019-05-29 10:46] CHEEKATLAPRADEEP-MSFT commented on #32330
@SamirFarhat Thanks for the feedback! Your feedback  has been shared with the content owner for further review.

[2019-05-29 10:46] PramodValavala-MSFT commented on #32245
@rowanb I hope my previous comment clears things up.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-29 10:46] #32245 closed

[2019-05-29 10:50] mlottner commented on #32037
@kartheekakkur Thanks for providing your results. The product engineers are now trying to understand the issue and we will revert back as quickly as possible.

[2019-05-29 10:54] spacecat opened #32334 "How to define nodeSelector when having more than one nginx ingress controllers in a cluster"
When creating two nginx controllers in a cluster; how must I define `nodeSelector `for the second one?

`helm install stable/nginx-ingress --namespace ingress-basic --set controller.ingressClass="nginx-second-controller" --set controller.replicaCount=2 --set nodeSelector."beta.kubernetes.io/os"=linux --set controller.service.loadBalancerIP="1.1.1.1"`

Should I set it to `nodeSelector."beta.kuberne

[2019-05-29 10:58] wassx opened #32335 "Missing infos in docs about connection protocol, ports,.."
Hi,
I have to create a doc for our app and have to outline all outgoing connections of the app regarding: used protocols, encryption, ports,...
What is required for the spatial anchors account?

Best regards,
Stefan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6c4d018-b95c-2d64-1620-bf47bf86ff65
* Version Independen

[2019-05-29 11:08] alokchhatry opened #32336 "Can I protect a virtual machine that has a Docker disk?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-05-29 11:08] ac2707 opened #32337 "docker folder - run.cmd"
iothub_connstring not defined
![image](https://user-images.githubusercontent.com/49182510/58552497-2908e280-8230-11e9-95b0-1e4c815034e0.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6df720f-3b6f-ef52-a032-a473f91b9a9b
* Version Independent ID: dbfbd26c-3d72-8dad-bd79-f138842825bc
* Content: [Deploy the remote mo

[2019-05-29 11:09] alokchhatry commented on #32336
Can somebody please elaborate more on this topic.
Does this mean I cannot do site recovery for VMs which are hosting docker containers?

[2019-05-29 11:15] SadiqhAhmed-MSFT commented on #32191
@dcbrown16 The answer I've posted stands correct. @pvrk answered last year in a different context.

[2019-05-29 11:18] dpbangera95 commented on #31988
I am facing the same issue, I'm on Windows 7.
Thanks ,
DP

[2019-05-29 11:27] dpbangera95 opened #32339 "Unable to connect to transaction nodes"
Hello there! I am trying to connect to the deployed transaction nodes, I've defined the connection strings in "truffle-config.js" just as described in the above example.

But, whenever I execute the truffle console command to connect to alpha node, I am returned the following error:

$ truffle console --network alpha

Could not connect to your Ethereum client.
Please check that your Ethereum clien

[2019-05-29 11:29] shashishailaj commented on #32297
@TiloGit Thank you for your query . We will investigate and update further.

[2019-05-29 11:30] ChrisJWoodcock opened #32340 "Azure Functions Tools for Visual Studio 2019"
This article starts by stating this is for VS2019, but the instructions are for VS2017 - I can find this extension - I have it installed for VS2017 but I can't install or find this extension for VS2019 - I'm using community for both VS2017 and VS2019 - is this a professional only extension for VS2019?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-05-29 11:30] shashishailaj commented on #32302
@KeiroKamioka0000 Thank you for your query. We will investigate and update further.

[2019-05-29 11:30] garybushey commented on #32254
That is a great start but I don't entries for logs like the W3CIISLog,
AzureActivity, or Event among others.   Was hoping for a single place that
would provide links to all the schemas that show up in Log Analytics.

Gary A. Bushey
garybushey@gmail.com

On Wed, May 29, 2019 at 1:11 AM femsulu-MSFT <notifications@github.com>
wrote:

[2019-05-29 11:33] VikasPullagura-MSFT commented on #32334
@spacecat Thanks for the question! We are checking on this and will respond to you soon.

[2019-05-29 11:34] stevep4 commented on #18508
For me I accidentally left a training "/" on the URL... once removed it seems to work much better.

[2019-05-29 11:34] shashishailaj commented on #32305
@ericwuatms Thank you for your feedback . We will engage with the content team to see how this can be incorporated as a warning on the page and they would accordingly take the discussion after review with engineering.

[2019-05-29 11:37] shashishailaj commented on #32307
@knssub Thank you for your feedback and pointing out the same. We are engaging the content author on this to further check this.

[2019-05-29 11:38] shashishailaj commented on #32307
@TomShinder Could you please take a look at this article and help get this updated.

[2019-05-29 11:41] miksch27 opened #32341 "Oracle XE 18"
https://www.oracle.com/de/database/technologies/appdev/xe/faq.html
In this link I read about XE 18. Well, why are you using version 12c instead newer versions of XE?
Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 279359a4-139a-ee4b-027b-4f43c538b90f
* Version Independent ID: 950014e2-2457-6045-eefd-865bd1c1f

[2019-05-29 11:55] Rich-Lang opened #32343 "Introduction Text is Incorrect and does not represent activity"
The introduction text in this article is wrong.  It appears to have been copied from the "Get Intent" QuickStart"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00f18fc9-8b29-21d2-f24b-d4a276d6bc6b
* Version Independent ID: 7be8f98c-ddce-453c-8b43-cee9bf8b17f4
* Content: [Change, train app, Python - Language Understand

[2019-05-29 11:57] Rich-Lang opened #32344 "Introduction Text is MISSING"
Per my previous feedback, there are issues with the Introduction text for this article.  The previous feedback was here:
https://github.com/MicrosoftDocs/azure-docs/issues/30931.  Currently there is no introduction text and the prerequisites are listed twice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a497a51-db54

[2019-05-29 11:58] Rich-Lang opened #32345 "Introduction Text is Incorrect and does not represent activity"
The introduction text in this article is wrong.  It appears to have been copied from the "Get Intent" QuickStart"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c53b2e22-8501-de8a-9a16-83d97432de4f
* Version Independent ID: 4ee7a356-a519-49d2-e5a3-e7973f7ce650
* Content: [Change, train app, Java - Language Understandin

[2019-05-29 11:58] Rich-Lang opened #32346 "Introduction Text is Incorrect and does not represent activity"
The introduction text in this article is wrong.  It appears to have been copied from the "Get Intent" QuickStart".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a402a037-2bf4-24a5-e9af-9efa9d874eb0
* Version Independent ID: 85c80b78-b831-d37a-0b52-857daeb9a553
* Content: [Change, train app, Go - Language Understanding

[2019-05-29 12:03] AminPasha7 commented on #5401
Getting the below error:

"""""""""""""Get-ADSyncExportDeletionThreshold : Could not load type 'Microsoft.Azure.ActiveDirectory.Client.Framework.ExceptionUtils' from assembly""""""""

Name                           Value
----                           -----
PSVersion                      5.1.14409.1018
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
Bu

[2019-05-29 12:06] pvrk commented on #32191
@dcbrown16 : I sincerely apologize for the confusion. I would like to clarify now once and for all on what is the resultant behavior.

- If the user chose "Stop protection with delete data" all backups residing everywhere (snapshot + vault; scheduled+adhoc) are deleted.
- If the user chose "Stop protection with retain data", all future backups stop and all existing backups are retained _forever_ (

[2019-05-29 12:30] duckie commented on #30997
Hello @Karishma-Tiwari-MSFT

You are not trying the right image, Centos is published in various versions. The ones seen in the marketplace are not cloud init enabled.

However, you can observe the phenomenon the the "Ubuntu Server 18.04 LTS" image of the marketplace.

Additionally, the publishing protal for the marketplace as a check box asking if the published image is cloud init enable. But the

[2019-05-29 12:50] staal-it commented on #23919
@BryanTrach-MSFT do you have any update on this issue?

[2019-05-29 12:51] sauryadas commented on #32234
@weinong can you please confirm that port 22 is still required in new clusters?

[2019-05-29 12:59] timtre opened #32347 "Deployment Failure"
Hi,
I got through the above tutorial easily until I arrived at step 9. Basically, I didn’t get from step 8 to step 9, i.e. I cannot get the example app running. I get the following error message:
------------------------------------------------------------------------------------
ATAL - Installed version of Google Play services is too old
    Details: Google Play Service is missing or outdated on

[2019-05-29 13:22] krawls19 commented on #32286
Just to clarify it is not a native SF service wrapped in a container either. I have no service context. This is just a dotnet generic host app running in a docker container on SF. It has a background job to read from a queue. I would like to setup a QueueDepth metric as discussed in the article. However, I do not have access to something like this.Partition.ReportLoad. There is nothing in the Fabr

[2019-05-29 13:25] msrini-MSFT commented on #32333
@markarnolditpro , Yes, you can add multiple country code in a single match conditions.

Sample:

-MatchVariable RemoteAddr `
-OperatorProperty GeoMatch `
-NegateCondition $true `
-MatchValue "US" , "AD"

[2019-05-29 13:28] Hannah-goodridge opened #32349 "Amend package npm installs"
After trying to install the suggested packages, I get a console warning stating that that package will no longer be maintained from july 2019.

Update these from:

`npm install azure-cognitiveservices-customvision-training`
`npm install azure-cognitiveservices-customvision-prediction`

to:
`npm install @azure/cognitiveservices-customvision-training`
`npm install @azure/cognitiveservices-customvisi

[2019-05-29 13:29] SteveLasker commented on #32165
@tdihp i do believe the helm team is working on this.
One of the many reasons we inverted the registry & helm support to be natively integrated into helm was just for this reason.

Please log Helm questions in the helm/helm repo so @jdolitski and others can see and respond

[2019-05-29 13:31] jakaruna-MSFT commented on #32334
@spacecat You can use the same node selector.
You can describe a node using `kubectl describe node <nodename>`
Then look at the labels.
Pods will be deployed on the nodes where our node selector and labels matched.

[2019-05-29 13:48] bt102 opened #32351 ""Include Users" doesn't support Groups"
We use group for MFA and would like to ability to have the option to select Groups within "Include Users". It's also nice to be able to test it out with a smaller group before deploying it out to the whole environment and without having to use "Exclude Users" for service accounts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2019-05-29 13:52] adalfa opened #32352 "NRE and language support"
the phrase
"* Depending on the input and extracted entities, certain entities may omit the SubType. All the supported entity types listed are available only for the English, Chinese-Simplified, French, German and Spanish languages."
seems ambiguos in respect to the list on https://docs.microsoft.com/en-us/azure/cognitive-services/text-analytics/language-support#language-list-and-status where NRE i

[2019-05-29 13:52] laultman opened #32353 "Hopelessly out of date material"
Title covers it. Nothing in this document matches the current Azure Portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4255f572-38cc-08aa-6fb7-08c919713cf9
* Version Independent ID: c04fe4dd-e75d-1028-8f2e-154d8c303da2
* Content: [Build a .NET web app with Azure Cosmos DB using the SQL API](https://docs.microsoft.c

[2019-05-29 13:54] vs199vishal opened #32354 ""errorCode": "2600", "message": "Batch Execution failed. The response from the Machine Learning service at endpoint https://ussouthcentral.services.azureml.net/workspaces/b4c0c73937824d64ad1181cade4a76b2/services/d9be357963b24253a922ee37537a2666/jobs was 'Invalid argument provided. The blob reference: vishal/training/input has an invalid or missing file extension. Supported file extensions for this output type are: \".csv, .tsv, .arff\".'.""
[Enter feedback here]
"errorCode": "2600",
    "message": "Batch Execution failed. The response from the Machine Learning service at endpoint https://ussouthcentral.services.azureml.net/workspaces/b4c0c73937824d64ad1181cade4a76b2/services/d9be357963b24253a922ee37537a2666/jobs was 'Invalid argument provided. The blob reference: vishal/training/input has an invalid or missing file extension. Support

[2019-05-29 14:00] shashishailaj commented on #32312
@regulator-g Thank you for your feedback . we will investigate and update this thread.

[2019-05-29 14:01] CharanBR opened #32355 "az graph returning an error"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-05-29 14:01] shashishailaj commented on #32313
@PetroAzure Thank you for your feedback . We will investigate and update this thread.

[2019-05-29 14:02] tdub7229 opened #32356 "The region where this sendGrid resource is created."
FYI: the region where the SendGrid resource is created is taken from the ResourceGroup that you associate with this resource when you create it. You can't set the region during creation. Might be good to put it in the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73d91616-a93f-84af-7900-5aa34b361ffd
* Version In

[2019-05-29 14:02] shashishailaj commented on #32315
@dennisxu2019 Thank you for your query. We will investigate and update this thread.

[2019-05-29 14:03] CharanBR commented on #32355
[code]

[2019-05-29 14:04] shashishailaj commented on #32312
@rolyon Could you please look into this request and pass the idea to Microsoft learn team along with the reviewing the changes proposed by the customer.

[2019-05-29 14:10] shashishailaj commented on #32355
@CharanBR Thank you for your query. As you have mentioned that the Azure graph is not working and returning an error. Could you please let us know what graph query were you running and which was the endpoint against which you ran the query along with the failure message and we will help you accordingly.

Thank you.

[2019-05-29 14:11] gesch80550 commented on #15061
Any updates on this issue?  I am experiencing a similar problem when attempting to use listAccountSAS in my ARM Template.  I am attempting to set a variable with the AccountSAS (and also tried just outputting the AccountSAS value) and then trying to use the variable to set Web Logging container values.  But am getting:

7:32:03 AM - Error: Code=InvalidTemplate; Message=Deployment template validati

[2019-05-29 14:11] shashishailaj commented on #32351
@bt102 Thank you for your feedback . We will investigate and update this further.

[2019-05-29 14:18] ToMakeSense commented on #26865
@tfitzmac thanks for your updates!

However, if [copy element](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-create-multiple#property-iteration) could calculate the end condition dynamically within `count` like what it does in the `input`, that will be great. I really don't like the hard-coded IP addresses via parameter.

[2019-05-29 14:19] YutongTie-MSFT commented on #32352
@adalfa Thank you for your feedback, we will investigate it and get back to you soon.

[2019-05-29 14:19] YutongTie-MSFT commented on #32349
@Hannah-goodridge Thank you for your feedback, we will investigate it and get back to you soon.

[2019-05-29 14:19] YutongTie-MSFT commented on #32347
@timtre Thank you for your feedback, we will investigate it and get back to you soon.

[2019-05-29 14:20] YutongTie-MSFT commented on #32346
@Rich-Lang Thank you for your feedback, we will investigate it and get back to you soon.

[2019-05-29 14:21] YutongTie-MSFT commented on #32345
@Rich-Lang Thank you for your feedback, we will investigate it and get back to you soon.

[2019-05-29 14:21] sternlu opened #32358 "Backup of Managed Instance is not clear"
It is not clear from the page how the backup of Managed Instance works. For example, "What is a SQL Database backup?" paragraph states that "SQL Database uses SQL Server technology to create full backups every week, differential backups every 12 hours, and transaction log backups every 5-10 minutes" However. on other microsoft pages I'have read that differential backup and transaction log backups

[2019-05-29 14:22] YutongTie-MSFT commented on #32344
@Rich-Lang Thank you for your feedback, we will investigate it and get back to you soon.

[2019-05-29 14:22] YutongTie-MSFT commented on #32343
@Rich-Lang Thank you for your feedback, we will investigate it and get back to you soon.

[2019-05-29 14:28] spacecat commented on #32334
@jakaruna-MSFT Thank you. Thanks for confirming.

[2019-05-29 14:30] diberry commented on #32343
@Rich-Lang Thank you for letting me know. I'll get that fixed. #in-progress

[2019-05-29 14:31] YutongTie-MSFT commented on #32292
@al3xisb Hi Alexis, I don't think there is demo_make_series2. You need to create it according to demo_make_series1. Thank you.

@orspod Hi Ornat, please correct me if I am missing something.

[2019-05-29 14:31] YutongTie-MSFT commented on #32105
@sam-pell We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-29 14:31] #32105 closed

[2019-05-29 14:36] donrolling commented on #32119
@dlepow I'll give the azure cloud shell a try. If that fails, then I'll try disabling aliases. Thank you for your help.

The main issue here for me is that I lost my momentum on proving out some Azure tech to our team because of this issue, and may not get back to it for awhile and that is disappointing.

[2019-05-29 14:36] CharanBR commented on #32355
@shashishailaj , All I'm running is `az graph query -q "where type =~ 'Microsoft.Compute/virtualMachines' | limit 1"` which is in the document. I'm getting an error which graph is not in the az command group. I'm on the latest version of az.

[2019-05-29 14:40] femsulu commented on #31928
@ch81, I assume you've followed the validation guidance stated at the bottom of the field (shown below). Your desired domain name should be unique and adhere to the validation guidance highlighted below. Would recommend re-trying from a different IE window to see if it works. If not, please contact the [Azure Gov support alias](https://azure.microsoft.com/en-us/global-infrastructure/government/con

[2019-05-29 14:40] #31928 closed

[2019-05-29 14:41] pietrovismara commented on #14571
What a dumb way to keep webhooks alerts completely useless

[2019-05-29 14:43] rothja commented on #32329
@hiromingithub Hello! In the request above, are the *** values indicating that you don't know the limits and you're requesting we add them? Also, These new items you are requesting, are they only applicable to EA subscriptions? Or is the EA part just mentioning that in the footnote of the existing items along with the other subscription types? Thank you for clarifying.

[2019-05-29 14:43] CharanBR commented on #32355
ah I see the problem. I need to enable that extension.

`az extension add --name resource-graph`

resolved my issue.

[2019-05-29 14:43] #32355 closed

[2019-05-29 15:00] kcrosby commented on #32009
$pAddr is a collection of proxy addresses, so Strings (X500s, SMTPs, SIPs, etc.)

[2019-05-29 15:02] femsulu commented on #32027
@pwl-kdk, as you rightly indicated, the publisher has complete ownership of cost/pricing scheme and not visible to the consumer. details [here ](https://azure.microsoft.com/en-us/pricing/details/managed-applications/)(also snipped below)

![image](https://user-images.githubusercontent.com/34327711/58567830-f509cf00-81e7-11e9-82a6-0191d63a5f21.png)

[2019-05-29 15:04] #32027 closed

[2019-05-29 15:05] maisak commented on #27046
@w0ut0 suggested:
"A future improvement could be checking if the digest of the container image tag changed when a container update is called."

Are there any plans around that? It looks not very convenient to use dummy environment variable to update from **:latest** tag

@Karishma-Tiwari-MSFT

[2019-05-29 15:05] CarlRabeler commented on #31745
@Mike-Ubezzi-MSFT please close

[2019-05-29 15:11] femsulu commented on #32038
@MGoedtel can you help with @jlarrow 's question?

[2019-05-29 15:16] jdneilso opened #32359 "Encrypting connections while replicating from a managed instance to an Azure DB"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-05-29 15:17] #32096 closed

[2019-05-29 15:19] vrishni commented on #32321
@SeaDude Batch transcription is ideal if you want to transcribe a large quantity of audio using REST API. You can also use the speech SDK, access the URL from the code. I hope this helps!

[2019-05-29 15:20] jdneilso commented on #32359
Hello,

I've successfully set up replication from my managed instance to an Azure SQL database using this article.  However, when I do a Vulnerability Assessment, I get the following failure:

VA1220 - Database communication using TDS should be protected through TLS
This is for Named pipe and TCP.

Further investigation shows that these connections are for replication.  As there is no SQL Server C

[2019-05-29 15:21] Mike-Ubezzi-MSFT commented on #32328
@VadimBurshtyn Thank you very much for the detailed feedback. I will submit a PR to be approved by the Docs Team.

[2019-05-29 15:22] ToMakeSense opened #32360 "Incorrect sample for New-AzLogicApp and Set-AzLogicApp cmdlets"
The documentation I am referencing: [New-AzLogicApp](https://docs.microsoft.com/zh-cn/powershell/module/az.logicapp/New-AzLogicApp?view=azps-2.1.0) and [Set-AzLogicApp](https://docs.microsoft.com/zh-cn/powershell/module/az.logicapp/Set-AzLogicApp?view=azps-2.1.0)

The definition for  New-AzLogicApp, there is no a parameter called **AppServicePlan**, however, the examples given in the docs have tha

[2019-05-29 15:23] femsulu commented on #32216
adding @georgewallace

[2019-05-29 15:25] Alberto-Vega-MSFT commented on #32337
@ac2707 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-29 15:25] lucasmaj opened #32361 "Statefull services density limitations on Linux"
In light of https://github.com/Azure/service-fabric-issues/issues/1520 the article should better reflect stateful service density characteristics/limitations in particular on Linux OS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9bb25acc-6868-7ae8-5b42-813eee29efa4
* Version Independent ID: ba88e4b7-f27c-6d0a-7550-6

[2019-05-29 15:28] ToMakeSense commented on #32360
regarding the definition below for `Set-AzLogicApp`, I don't know how to use the **-AppServicePlan**  parameter, can't find it nowhere in the [Azure Logic Apps Documentation](https://docs.microsoft.com/en-us/azure/logic-apps/) and also in the Azure portal of a logic app instance
[code]

[2019-05-29 15:28] Mike-Ubezzi-MSFT commented on #31745
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-29 15:28] #31745 closed

[2019-05-29 15:29] femsulu commented on #32239
@rothja would it be possible to update the doc to reflect the portal values?

[2019-05-29 15:31] lucasmaj opened #32362 "Document should reflect the huge disparity of stateful service disk space requirements on Windows vs Linux."
https://github.com/Azure/service-fabric-issues/issues/1520

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 223f39ad-460e-8264-55e0-c2b9667d95eb
* Version Independent ID: ae12892f-d9ea-33c1-3c87-96ee4b0aa678
* Content: [Azure Service Fabric differences between Linux and Windows](https://docs.microsoft.com/en-us/azure/ser

[2019-05-29 15:31] hiromingithub commented on #32329
Hi Jason,

Thank you very much for your prompt reply.

The reasons why the value is closed to public in feedback section is because it might be on purpose by Microsoft.

The value/default limit is 350 for EA subscriptions.
Would you please confirm if it can be disclosed and added to the document?

CSP and Bizspark subscriptions seem to be set as 350 by default too.
Can you access the document?
htt

[2019-05-29 15:32] paddyhitch opened #32363 "Issue with hub-nva-nic & subnet_route_table_association"
Seem to be running into errors of "InvalidResourceReference" with regards to the hub-nva-nic.

Also getting an error around associating the Route Table for the GatewaySubnet.

I change nothing about the code, save for the locations to "CanadaCentral" for everything.

2 errors occurred:
        * azurerm_network_interface.hub-nva-nic: 1 error occurred:
        * azurerm_network_interface.hub-nva-ni

[2019-05-29 15:35] dlepow commented on #30693
@Zimmergren - Thanks for your question and providing additional feedback. At this time I don't have more information on where managed disks support stands on the engineering roadmap for Container Instances. If you can, I encourage you to add further detail at the [feedback site]( https://feedback.azure.com/forums/602224-azure-container-instances/suggestions/37357582-support-managed-disks) which mi

[2019-05-29 15:39] paddyhitch commented on #32363
2 errors occurred:
        * azurerm_network_interface.hub-nva-nic: 1 error occurred:
        * azurerm_network_interface.hub-nva-nic: network.InterfacesClient#CreateOrUpdate: Failure sending request: StatusCode=400 -- Original Error: Code="InvalidResourceReference" Message="Resource /subscriptions/9d67c9ef-deeb-4f5b-86d9-a9c9486c4741/resourceGroups/hub-vnet-rg/providers/Microsoft.Network/virtualN

[2019-05-29 15:39] dasaeth opened #32364 "Deprecated Link"
I already noticed that this link is deprecated but in FAQs for publisher (https://docs.microsoft.com/en-us/azure/marketplace/marketplace-faq-publisher-guide#faq-for-publishers) still redirect here, I couldn't find the new one for become a publisher, which is the new link?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-05-29 15:39] MicahMcKittrick-MSFT commented on #32341
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-29 15:41] MicahMcKittrick-MSFT commented on #32362
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-29 15:41] MicahMcKittrick-MSFT commented on #32361
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-29 15:43] Mike-Ubezzi-MSFT commented on #32331
@Jaffacakes82 Thank you very much for the detailed feedback. I will submit a PR to have this approved by the content owner.

[2019-05-29 15:45] Alberto-Vega-MSFT commented on #32339
@dpbangera95 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-29 15:45] vrishni commented on #32349
Please refer to the [migration](https://github.com/Azure/azure-sdk-for-js/blob/master/documentation/Migration.md) guide for more details.

[2019-05-29 15:45] Mike-Ubezzi-MSFT commented on #32353
@laultman Thank you very much for the detailed feedback. We are working with the content team to get this updated.

[2019-05-29 15:45] rothja commented on #32329
Thank you. I can access that document. It looks like the defaults vary a lot based on subscription type. I'm not sure we can list the values for EA without doing the other types too. Maybe the best thing to do is to add EA to the footnote along with the other subscription types but not to get specific about the variations like EA? Something like your original suggestion but with the same defaults:

[2019-05-29 15:47] Mike-Ubezzi-MSFT commented on #32358
@sternlu Thank you very much for the detailed feedback. I am working with the content team to have a PR submitted and approved that helps provide some clarity.

[2019-05-29 15:49] Alberto-Vega-MSFT commented on #32332
@ac2707 I am glad you were able to resolve the issue. Your feedback is always welcome please feel free to reach out again if you need to :)

[2019-05-29 15:50] julieMSFT commented on #31265
@angoyal-msft please assign this to @XiaoyuL-Preview

[2019-05-29 15:50] pwl-kdk commented on #32027
Your comment is inconsistent.  The additional charges are a separate item and visible to the consumer.

But thanks for answering the question.

[2019-05-29 15:53] ToMakeSense commented on #30719
@femsulu thanks for clarification! However, it's better design by giving the message like "Save is not supported in this context, find this function in the Log Analytics workspace" than "Save is not supported in this environment" + figure this out in the FAQ.

[2019-05-29 16:05] ToMakeSense commented on #30729
@femsulu let's make it clear, I just want to find a way to use the [Service-specific schemas](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostic-logs-schema#service-specific-schemas-for-resource-diagnostic-logs) template(in the case, it's apim), not use the [Top-level diagnostic logs schema](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostic-logs-schema#

[2019-05-29 16:06] Alberto-Vega-MSFT commented on #32095
@msajidirfan Since we haven't heard back from you we will be closing this issue for now.
 If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-29 16:06] #32095 closed

[2019-05-29 16:07] Alberto-Vega-MSFT commented on #32097
@chainhead We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-29 16:07] #32097 closed

[2019-05-29 16:09] Alberto-Vega-MSFT commented on #32184
We will now proceed to close this thread.  Please create a new issue whenever you are ready to continue the conversation

[2019-05-29 16:09] #32184 closed

[2019-05-29 16:09] MicahMcKittrick-MSFT commented on #32299
@clarkbreyman-yammer I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-29 16:10] MicahMcKittrick-MSFT commented on #32252
@lmiroslaw any update on this?

[2019-05-29 16:11] MicahMcKittrick-MSFT commented on #32212
@DanteNahuel I will also assign this to the content author to see about getting some PowerShell docs for this as well :)

@abhijeetgaiha can you take a look?

CC @cynthn @roygara

[2019-05-29 16:13] Alberto-Vega-MSFT commented on #32202
@marklinmao We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-29 16:13] #32202 closed

[2019-05-29 16:15] rezasherafat commented on #20049
@JetstreamRoySprowl, your link is broken, or at least I cannot access it.

[2019-05-29 16:17] sauryadas commented on #32234
@neerajkrshukla did you create a new cluster or did you upgrade old clusters?

[2019-05-29 16:29] YASWANTHM-MSFT commented on #32140
@aisog, Since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion

[2019-05-29 16:29] #32140 closed

[2019-05-29 16:31] anirudhcavale commented on #32319
@aquibqureshi26 the article goes through deploying an ARM template of a VM with a diagnostic setting enabled (the deployment is via PowerShell).
You should also be able to use the powershell call for set-azurevmdiagnisticextension to set the diagnostic setting (just ensure the config file uses the new azure monitor data sink).
We also will have UX available for this configuration on the VM blade i

[2019-05-29 16:34] andrewconnell opened #32367 "Doc incorrect: "AppConfig" not defined in Microsoft.Identity.Client"
The code in this doc is incorrect... it states:

&gt; The classes related to the app configuration are located in the Microsoft.Identity.Client.AppConfig namespace.

There is no `AppConfig` defined in the [Microsoft.Identity.Client namespace](https://docs.microsoft.com/en-us/dotnet/api/microsoft.identity.client?view=azure-dotnet), nor is it showing in v3.0.8 of the NuGet package.

---
#### Documen

[2019-05-29 16:36] aquibqureshi26 commented on #32319
Hi Anirudh,

Thanks for the quick response. Can you also add the powershell way to adding the extension with config file in the  article so that I can follow it.

[2019-05-29 16:39] MicahMcKittrick-MSFT commented on #31552
@NileshGule we would like to get you in touch with Support to get this sorted out.

If you don't have the ability to open a technical support ticket, please email me at AzCommunity@microsoft.com and provide me with your Azure SubscriptionID and link to this issue. I can then enable your subscription for a free support request.

I will close this out and be on the lookout for that email if needed :

[2019-05-29 16:39] #31552 closed

[2019-05-29 16:43] MicahMcKittrick-MSFT commented on #32286
@krawls19 thanks for the confirmation.

@masnider @dkkapur @aljo-microsoft @srrengar could any of you assist further on this?

[2019-05-29 17:03] rolyon commented on #31402
Hi @chadcarlton
I talked with Anuj who wrote the blog post. He indicated that he has updated the post. The PowerShell sample will prompt the user for MFA if the role requires MFA.
thanks

[2019-05-29 17:10] aisog commented on #32140
Hi Yes, I followed the steps accordingly to the documentation. For me this issue is no longer valid I used PS for my goal but for others, this issue can re-occur so it's worth to check.

[2019-05-29 17:12] KranthiPakala-MSFT commented on #32354
@vs199vishal Thanks for the reaching out and bringing this to our notice. At this time we are reviewing the feedback and will update you soon.

[2019-05-29 17:12] ToMakeSense opened #32370 "Typo in the Az PowerShell docs"
The documentation I am referencing: [Breaking changes for Az 1.0.0](https://docs.microsoft.com/en-us/powershell/azure/migrate-az-1.0.0?view=azps-2.1.0)

1. New-Az~~M~~MediaService -Tag @{TagName="TagValue"}
2. Four demos for `Az` in [Az.Storage (previously Azure.Storage and AzureRM.Storage)](https://docs.microsoft.com/en-us/powershell/azure/migrate-az-1.0.0?view=azps-2.1.0#azstorage-previously-azu

[2019-05-29 17:16] VaijanathB commented on #32363
@paddyhitch Thanks for taking time to report this issue. Can you please provide the repro steps and whether you followed all the mentioned sub articles in the right order.

[2019-05-29 17:17] cynthn commented on #32294
@colinweiner Thanks for the feedback! I've updated the doc to point to these two docs: https://docs.microsoft.com/en-us/azure/load-balancer/tutorial-load-balancer-standard-manage-portal and https://docs.microsoft.com/en-us/azure/load-balancer/tutorial-load-balancer-basic-internal-portal

Thank you!

#please-close

[2019-05-29 17:17] daviburg opened #32373 "Document batch message id length limit of 80 characters"
The message id parameter for the send to batch action is limited to 80 characters. Attempting to call the API with a longer message id input will result in a HTTP 400 Bad Request response. This is important to consider if using string concatenation while attempting to form a unique message id, as the concatenated string may exceed the maximum allowed message id length.
I suggest using a hash metho

[2019-05-29 17:17] christiankuhtz commented on #31797
@Darko-git This document is not intended as a tutorial for outbound rules but an overview of the functionality.  The example is intentionally a fragment to illustrate how ARM template is modeled to explain the structure (as called out above) as part of this *overview* since this foundational for all API exposures.  This document is not a how to for ARM and does not contain an example and the doc a

[2019-05-29 17:19] daviburg commented on #32373
@ecfan I'll stop by to give you context.

[2019-05-29 17:20] mikebudzynski commented on #32186
Thanks @mgrabarz - we will update the documentation accordingly.

[2019-05-29 17:25] Mike-Ubezzi-MSFT commented on #32331
The Advanced Thread Protection ARM Template does not exist. The Threat Protection ARM Template should be used doing forward until the Advanced Template is replaced.

[2019-05-29 17:25] georgewallace commented on #32216
@csmithson-qh Thanks for reaching out.. I just confirmed that syncing a python runbook works just fine.. Have you tried creating a new source control connection?

![image](https://user-images.githubusercontent.com/6796566/58577729-f644f700-81fb-11e9-85e3-9e8c3a54a4a3.png)

[2019-05-29 17:29] pvrk commented on #6264
Would like to clarify now once and for all on what is the resultant behavior.

- If the user chose "Stop protection with delete data" all backups residing everywhere (snapshot + vault; scheduled+adhoc) are deleted.
- If the user chose "Stop protection with retain data", all future backups stop and all existing backups are retained forever (snapshot + vault; scheduled + adhoc)
- If the backed up VM

[2019-05-29 17:30] jgnewton opened #32374 "resource_client creation issue"
I ran the full code above and got this error:
    resource_client = ResourceManagementClient(credentials, subscription_id)

TypeError: __init__() takes 2 positional arguments but 3 were given

ResourceManagementClient() thinks it is getting 3 arguments?

conda 3.6 windows 10 Spyder

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-05-29 17:31] jasonfare commented on #14723
@nickbrown1968 Kinda dated, but this article for migrating to a CSP shows both broken out in separate tables. https://docs.microsoft.com/en-us/azure/cloud-solution-provider/migration/on-premises-to-azure-csp/asr-capacity-planning

[2019-05-29 17:32] #32294 closed

[2019-05-29 17:33] MartinJaffer-MSFT commented on #31280
Last I heard was roughly 2 weeks.

[2019-05-29 17:34] georgewallace commented on #32280
@jmo808 Thanks for bringing this to our attention. I have submitted a PR to correct this. Once it is merged this issue will automatically close.  In the future if you see a typo that you think should be fixed.. Feel free to click the edit button on the page and submit a PR. It will come to the author to sign off and get merged.

[2019-05-29 17:40] georgewallace commented on #32199
@hadr10 You must deny the appropriate permissions to a user group to disable Run Command, to learn more see [Limiting access to Run Command](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/run-command#limiting-access-to-run-command). You can use [Deny Assignments](https://docs.microsoft.com/en-us/azure/role-based-access-control/deny-assignments-portal) to deny it at the subscription

[2019-05-29 17:41] georgewallace commented on #32118
@piotrzaremba Thanks for reaching out.. I am attempting to repro your issue, please stand by.

[2019-05-29 17:42] #32280 closed

[2019-05-29 17:45] MarileeTurscak-MSFT commented on #32367
@andrewconnell
Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-29 17:49] AjayKumar-MSFT commented on #32219
@MikeWasson, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-05-29 17:49] #32219 closed

[2019-05-29 17:52] AjayKumar-MSFT commented on #32153
Thank you @jwargo for your comments.
@thelements, We will close this out, but if you feel you need more information please just let us know.

[2019-05-29 17:52] #32153 closed

[2019-05-29 17:52] KranthiPakala-MSFT commented on #32374
@jgnewton Thanks for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will get back to you soon.

[2019-05-29 17:57] ChristianMontoya commented on #31103
@AdamWorkAccount : You mention that the host pool was not created. Are you able to create a host pool with this set of credentials (New-RdsHostPool)?

[2019-05-29 17:59] SeaDude commented on #32321
Thanks for the reply @vrishni. I’m looking for specific example of how to pass binary audio to the POST request itself.

Again, I can do this no problem using Postman, but what does it look like when defining a Swagger file or the like?

[2019-05-29 18:04] mike-urnun-msft commented on #32311
Hi @himalpatel81 Thank you for your feedback! We will review and update as appropriate.

[2019-05-29 18:05] HomEAl0nE commented on #32298
Hello

[2019-05-29 18:05] mike-urnun-msft commented on #32318
Hi @vp Thank you for your feedback! We will review and update as appropriate.

[2019-05-29 18:06] mike-urnun-msft commented on #32340
Hi @ChrisJWoodcock Thank you for your feedback! We will review and update as appropriate.

[2019-05-29 18:07] mranubansal commented on #13515
Still there is no way to capture the notebook logs from ADF pipeline.
Just because of this my client switched back to airflow orchestration.

[2019-05-29 18:08] HomEAl0nE commented on #32311
What time?

[2019-05-29 18:10] andrew-ps commented on #31765
Are there any plans to enable pushing again in the future?

If this is going away, any chance of getting a peak at the source code on the "Sync-MicrosoftAzureAutomationAccountToGitHubV1" runbook mentioned on the Legacy Source Control page to maybe develop our own push to GitHub tool?

[2019-05-29 18:12] Darko-git commented on #31797
Thanks for the explanation. I am happy to see that the ARM template doc is being added to the backlog.

[2019-05-29 18:12] #31797 closed

[2019-05-29 18:12] hrasheed-msft commented on #32124
https://github.com/MicrosoftDocs/azure-docs-pr/pull/78138

[2019-05-29 18:12] erhopf commented on #32321
@SeaDude - While I'm not sure how you would achieve passing binary data through Swagger, here's how I would approach reading from a file and passing it to the STT REST service using Java:

[code]

[2019-05-29 18:13] lhtan-dev opened #32375 "Leads not pushing into Azure Table"
I've setup the Azure table connection and publish it to my CPP according to the documentation. However i'm facing two issues

1) Do not see any table created in the storage acc. What table name should be used?
2) I do not see any leads being pushed from Appsource into my azure table.

Please advise.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-05-29 18:15] BryanTrach-MSFT commented on #32336
@alokchhatry Can you please provide us the URL of the Azure Doc that you are having issues with? We look forward to your reply.

[2019-05-29 18:16] justineechen commented on #25049
Hi there! Is it possible to use `az aks create` with a free trial account? I've been running into:
[code]
or
[code]
on my free trial account. And I don't think these accounts qualify for quota increases..
Thanks!

[2019-05-29 18:17] BryanTrach-MSFT commented on #32260
@vairaselvam We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-29 18:17] #32260 closed

[2019-05-29 18:20] Alberto-Vega-MSFT commented on #32335
@wassx Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-29 18:21] BryanTrach-MSFT commented on #32359
@jdneilso Can you please provide us the URL of the Azure doc that you are having issues with? We look forward to your reply.

[2019-05-29 18:25] Alberto-Vega-MSFT commented on #32136
@stzaske Thanks for taking the time to reach out and provide your feedback! @craigktreasure Thanks for the fix. We will now proceed to close this issue.

[2019-05-29 18:25] #32136 closed

[2019-05-29 18:25] BryanTrach-MSFT commented on #32360
@ToMakeSense Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-29 18:25] barclayn commented on #6582
@dcbrown16 Thanks again for reminding us of your feedback from before. We have not forgotten. We still have a work item for this and we will review it the next time this article is up for rewriting. We are in the process of updating our security content so I hope that we will get to this sooner rather than later.

[2019-05-29 18:30] justingden commented on #32231
Looks like you guys got it fixed. I am closing this out.

[2019-05-29 18:30] #32231 closed

[2019-05-29 18:30] Csmithson-qh commented on #32216
no dice.
Just created a new connection, the powershell scripts sync, but not the python files.

Is there any sort of chance that there is something about the python files that have to change to make them a valid runbook? Its saying it cant validate the "type" "Python2"...

"Failed to import runbook 'FirstPython.py'.
Exception: Cannot validate argument on parameter 'Type'. The argument "Python2" do

[2019-05-29 18:31] BryanTrach-MSFT commented on #32370
@ToMakeSense Please note that this GitHub channel is for feedback on Azure-Docs related documentation. The doc that you are referencing is in a different GitHub channel. Please leave specific doc feedback on each doc by scrolling to the bottom and select 'This page'.

Thank you for your understanding.

![Annotation 2019-05-29 112759](https://user-images.githubusercontent.com/20250350/58581741-1927

[2019-05-29 18:33] #32370 closed

[2019-05-29 18:33] mganeshphani commented on #31834
Thanks for that update @SadiqhAhmed-MSFT

[2019-05-29 18:38] BryanTrach-MSFT commented on #32373
@daviburg Can you please provide us the URL of the Azure doc that you are having issues with? We look forward to your reply.

[2019-05-29 18:49] markwaksman opened #32377 "ASE integration steps with Application Gateway WAF"
It would be helpful to have instructions on how to integrate Azure Application Gateway Web Application Firewall with an ASE, in addition to, the Barracuda WAF ones.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4196aaa2-92d3-7dc3-3e07-e3f525afeb41
* Version Independent ID: 1849719a-534d-2b20-1c4d-9036b51c8d24
* Conten

[2019-05-29 18:49] kgremban commented on #31898
Thanks for making that request, Marek. @Alberto-Vega-MSFT could you #please-close this issue because it's about features that aren't available in the product currently.

[2019-05-29 18:52] MicrosoftGuyJFlo commented on #32351
That is correct the selector does not allow the use of groups. If you would like to add a product feedback item to request this ability, it is available on the bottom of the document. Or can be accessed at the following link
https://feedback.azure.com/forums/169401-azure-active-directory

[2019-05-29 18:54] paddyhitch commented on #32363
@VaijanathB - thanks for responding. I was able to figure out what went wrong. Somehow I fat-fingered a location. All fixed, tested & confirmed. Cheers!

Can close this issue.

[2019-05-29 19:00] zr-msft commented on #32123
Thank you @Karishma-Tiwari-MSFT

Please assign to @TylerMSFT since he will be making the changes.

[2019-05-29 19:07] dvanderslice commented on #15894
This issue still remains.

[2019-05-29 19:25] Contadmin opened #32380 "issue with VNet peering"
I've created a CNI enabled cluster and am facing an issue with one of pods being unable to connect to an SQL Managed Instance on Azure.
I've peered both VNets and the pod gets a private IP from the subnet range but i'm getting this from the pod log "com.microsoft.sqlserver.jdbc.SQLServerException: The TCP/IP connection to the host cg*****1.*$#^*&**.database.windows.net, port 1433 has failed. Error

[2019-05-29 19:26] javs9708 opened #32381 "ConnectionFailedNoHealthyRdshAvailable"
some solution ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbd503e0-9200-4fb7-4a18-fdf3cf51f8ee
* Version Independent ID: 4b3493f3-ca0e-f64e-a884-0a27b1d18eb1
* Content: [Identify issues with the Windows Virtual Desktop Preview diagnostics feature  - Azure](https://docs.microsoft.com/en-us/azure/virtual-desktop/dia

[2019-05-29 19:31] CeciAc opened #32382 "datetimeV2 for Italian LUIS project"
@ECocca commented on [Wed May 29 2019](https://github.com/MicrosoftDocs/azure-docs.it-it/issues/275)

I tried to create a new italian project on LUIS portal, but when I add a prebuilt entity I can only see datetime instead of datetimeV2. The same thing in another project where I wanted to replace datetime entity with datetimeV2 entity. Is it only available for English project?

---
#### Dettagli d

[2019-05-29 19:41] zezha-msft commented on #20288
Hi @ckarras, the failed transfers are actually deleted.

[2019-05-29 19:50] CeciAc opened #32383 "azure is removed from ansible from version 2.8 ?"
@cpolzer commented on [Wed May 29 2019](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/369)

Please note in your docs, that azure is removed from ansible from version 2.8. https://github.com/ansible/ansible/blob/stable-2.8/changelogs/CHANGELOG-v2.8.rst#removed-features-previously-deprecated

Maybe provide link to the new solution?

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Absch

[2019-05-29 19:53] mike-urnun-msft commented on #31514
Hi @lferreirad1 Just following up here, let us know if you were able resolve that issue with the above.

[2019-05-29 19:53] zezha-msft commented on #20288
@L-Trick, it's very unlikely that we'll add back file-level retries, due to data integrity concerns: there is no guarantee that the blob/file is still in the state AzCopy left it previously; the lack of this guarantee makes file-level retries extremely dangerous and it may end up with corrupted result.

[2019-05-29 19:55] KumudD commented on #32207
@fedorovdima The TOC syntax is by design so that the user stays within the "Virtual network" TOC. Thanks!

#please-close

[2019-05-29 19:59] CeciAc commented on #32383
Hi team,
I'm moving this here since it looks like is referring to missing information
best

[2019-05-29 20:01] SnehaGunda commented on #32083
#please-close

[2019-05-29 20:02] SnehaGunda commented on #32247
@Nutriadmin Thomas submitted a PR to fix the issue. We will now close it.

#please-close

[2019-05-29 20:04] ThomasWeiss commented on #32247
@Nutriadmin That was a typo, thanks for pointing it out!

[2019-05-29 20:05] SnehaGunda commented on #32328
@VadimBurshtyn the doc already says the following.

"Currently This clause is supported for queries within a single partition only, cross-partition queries don't yet support it."

It's not a note though, because this limitation will be removed soon, I didn't want to highlight it much. Let me know if it doesn't help

[2019-05-29 20:05] ckarras commented on #20288
Then what solution do you suggest to download large files such as VHD, given that transfers always fail at some point for various reasons? There needs to be a standard solution, it doesn't make sense that people have to implement their own custom reliable file download solution using the REST API and range requests.

[2019-05-29 20:07] SnehaGunda commented on #32353
@laultman Thanks for your feedback, do you mean the screenshots in the doc are out of date? are you referring to a certain part of the content? can you please elaborate so that we can update the docs accordingly.

[2019-05-29 20:10] plzm opened #32385 "Data Factory ARM template repoConfiguration values?"
When creating an ARM template for an Azure Data Factory and trying to automate git repo integration, what are the allowable values for  --FactoryRepoConfiguration/type-- (reference https://docs.microsoft.com/en-us/azure/templates/microsoft.datafactory/2018-06-01/factories#factoryrepoconfiguration-object)? This does not seem to be documented anywhere, e.g. how to template an ADF that has git repo c

[2019-05-29 20:16] zezha-msft commented on #20288
@ckarras, why is the transfer failing though? Are you using the latest version?

[2019-05-29 20:17] josephfsaenz commented on #16409
Hi Adam: Will Azure SQL Database be added (or Polybase be added to Azure SQL Database) to whitelist so I can secure my blob storage and block traffic? it looks like this has been an issue for a while.

[2019-05-29 20:19] ckarras commented on #20288
There can be several reasons, for example:
- Lost network connection
- Azure Storage service closed connection 2 hours after the transfer started, for reasons out of my control
- Computer woke up from hibernate/sleep
- etc

If file-level resumes were supported, then reason shouldn't matter, all reasons should be handled the same way.

[2019-05-29 20:26] shashishailaj commented on #32055
When a user signs in with MFA from a trusted location , the user gets a token pair (access token+ refreh token) The access token is valid for an hour and when the time is nearing an hour the refresh token is again used by the HTTP client to fetch a new access token. This goes on until the refresh token is valid after which the user will be forced to re-authenticate. When the user moves to a differ

[2019-05-29 20:26] #32055 closed

[2019-05-29 20:26] ckarras commented on #20288
About your integrity concern: The Azure Storage REST API can return a MD5 for a blob: https://docs.microsoft.com/en-us/rest/api/storageservices/get-blob-properties  (Content-MD5 header). At the end of a resumed transfer, the server could be queried to get the Content-MD5 header, and azcopy could also calculate the MD5 locally. If there's a mismatch, the user could be warned. This should be good en

[2019-05-29 20:34] #32351 closed

[2019-05-29 20:41] shraboin opened #32386 "Blob Storage does allow hierarchial namespace"
ADLSg2 allows hierarchial namespace: https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-namespace
we should omit this line:
"Azure Blob storage is an object storage service and doesn't have a hierarchical namespace. "

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cef87c25-d489-ed0c-c94f-c764b3fd241

[2019-05-29 20:42] raalahmmad opened #32387 "Is there a way to protect just a virtual directory in web app?"
Is there a way to protect just a virtual directory in web app with AAD, while keep the whole site pages accessible for public. Example: public web site accessible for everyone with admin virtual directory accessible by few admin users.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f1c454d-73bc-5a73-5d3f-1b1ca7625044

[2019-05-29 20:43] mattyweb opened #32388 "Unclear if doc is out of date and how containers are supported"
It look like the docs are out of date (at least the images are dated), but I'm trying to understand what the steps are for logging container (Docker) apps.

If you turn on Application logging does that refer to Docker logs? That's what I see in the LogFiles directory when this is turned on.

And what about web server logs? When I turn this on it looks like nothing happens. I can't tell if this is

[2019-05-29 20:44] rbrayb opened #32389 "Policy won't upload"
This policy won't upload. Complains about "issuerUserId" not found. This has now been renamed to "socialIdpUserId".

Also, the certificate is called "SamlCert" in the documentation but in the XML is called "ADFSSamlCert".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e14a5d4c-5125-8ed2-7fda-38aee1296b76
* Version Inde

[2019-05-29 20:56] SnehaGunda commented on #26566
@rcarmo apologies for the really long delay, It looks like this doc is out of date, we will retire it soon.

When you say to a complete use case, are you referring to this doc: https://docs.microsoft.com/en-us/azure/cosmos-db/create-sql-api-python. This doc uses the latest version of "azure-cosmos" package

[2019-05-29 21:03] jastis77 opened #32391 "Complete health probe failure"
Doesn't seem to be accurate:
"If health probes fail for every backend in a backend pool, then Front Door considers all backends healthy and routes traffic in a round robin distribution across all of them"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f35a0b39-ab2f-ba8a-0907-e0f3a6b69135
* Version Independent ID: 0e6c8

[2019-05-29 21:07] YutongTie-MSFT commented on #32382
@diberry Hi Dina, has this thread done for now? Should I close it?

[2019-05-29 21:13] areddish commented on #32178
Hi @meirpr, this documentation is only for image classification exports, not object detection exports.

For object detection exports there is code to load and run the object detection model in the zip file downloaded. Along with the the export model you will find Python and C# code to exercise the model.

[2019-05-29 21:20] rbrayb commented on #32389
Ah - I see. I was using LocalAccounts but I should have been using SocialAndLocalAccounts for federation (which is confusing). In LocalAccounts, it's called "socialIdpUserId". In SocialAndLocalAccounts it's called "issuerUserId".

Maybe add a note to say you need to use a Social policy to add ADFS.

[2019-05-29 21:23] christiankuhtz commented on #31960
@dcbrown Couple of comments.

Yes, it means SNAT and no port masquerading, exactly as written. I don't see how this is ambiguous? Please explain.  The source is translated, but this is a 1:1 relationship and port masquerading is not needed here.

Standard SKUs are completely declarative, no side effects.  You should always explicitly declare outbound connectivity and should do so with [outbound ru

[2019-05-29 21:24] diberry commented on #32382
@YutongTie-MSFT Yes, please close. The fix will go live on docs in the next 24 hours. #please-close

[2019-05-29 21:25] christiankuhtz commented on #31960
@dcbrown16  no, there's no scenario 4. scenario 3 doesn't exist with Standard SKUs.

[2019-05-29 21:25] ianhinder opened #32393 "GitHub PAT permissions are insufficient"
The repo permissions given to the PAT in the current version of this page are not sufficient; creating the task fails with an error about not finding the repository.  I needed to add the hook permissions as well. (I added both read and write, but presumably write should be enough.)

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-05-29 21:26] YutongTie-MSFT commented on #32382
@diberry Thank you.

@CeciAc We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-29 21:26] #32382 closed

[2019-05-29 21:26] MicahMcKittrick-MSFT commented on #32393
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-29 21:27] MicahMcKittrick-MSFT commented on #32381
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-29 21:29] ianhinder commented on #32393
It also needs more repo permissions, otherwise the task is unable to clone the repo for building the image.  I gave it the full control permission and it was able to move past that step.

[2019-05-29 21:33] melvincanafranca commented on #31787
Hello - I've noticed that this is still open and the assignment was removed. Just wanted to confirm if 2147483647 is acceptable as a value in RetentionInDays for setting up the number of days the events can stay in a storage account.

[2019-05-29 21:36] rbrayb commented on #32389
Also just to note that the VS Code B2C extension when it generates an ADFS template uses "socialIdpUserId".

[2019-05-29 21:40] anirudhcavale commented on #32319
@aquibqureshi26 this article is pretty lengthy, I'm not sure we will be updating it with the instructions for PS, CLI etc.
However, to get this to working for yourself here's what you'll need:
1. This article has the [sample diagnostic file](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostics-extension-schema-1dot3) configs (XML and JSON), copy your preferred one into an edit

[2019-05-29 21:41] femsulu commented on #32383
@CeciAc Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-05-29 21:42] MicahMcKittrick-MSFT commented on #32381
@javs9708 we do call out this error in the doc

-2146233088 | ConnectionFailedNoHealthyRdshAvailable | The session the host user tried to connect to isn't healthy. Debug the virtual machine.
-- | -- | --

So essentially, you should look at the VM to ensure it is available and healthy.

If you need help troubleshooting the VM, please feel free to reach out to Tech Communities

https://techcommunity

[2019-05-29 21:42] #32381 closed

[2019-05-29 21:47] femsulu commented on #32364
Thanks for catching this, @dasaeth.

@ellacroi can we please update the doc?

[2019-05-29 21:55] femsulu commented on #32375
@lhtan-dev Apologies you are hitting this issue. Would recommend re-posting this question to our [support forum for Marketplace](https://social.msdn.microsoft.com/Forums/sqlserver/en-US/home?forum=DataMarket) where one of our capable engineers or community members can engage and respond with the best possible answer. Since this GH channel is reserved for documentation issues, we will now close thi

[2019-05-29 21:55] #32375 closed

[2019-05-29 21:57] MarileeTurscak-MSFT commented on #32389
@rbrayb thanks for the feedback! I'm looking into your doc update recommendation.

[2019-05-29 22:04] jaryder opened #32397 "Please describe or link to how to import a Runbook"
This page:
"You can then import it into your Automation Account or run it as a script. The instructions on how to do this can be found in the Update Azure modules runbook repository."
---&gt; GitHub readme:
See How to update Azure PowerShell modules in Azure Automation for more details.
---&gt; This Page:
…

Please explain (or link to) how to "import a Runbook into your automation account."

Thank

[2019-05-29 22:06] Grace-MacJones-MSFT commented on #32387
Hi @raalahmmad, thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-29 22:08] #32154 closed

[2019-05-29 22:09] helayoty opened #32398 "No run command in az acr anymore"
The documentation here  https://docs.microsoft.com/en-us/azure/container-registry/container-registry-quickstart-task-cli#run-the-image
refers to "az acr run" while "run" command is not available for acr anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f357648-1ce0-04eb-fab1-add2e2bce02e
* Version Independent ID

[2019-05-29 22:09] TravisCragg-MSFT commented on #32391
@jastis77 Can you give me some more information on why you do not think this is accurate? I would love to reproduce the behavior you are seeing, but I need to know how you set up your environment.

Keep in mind that the [Routing Methods](https://docs.microsoft.com/en-us/azure/frontdoor/front-door-routing-methods) you choose can have an effect on the round robin distribution.

[2019-05-29 22:13] TravisCragg-MSFT commented on #31916
@c13GitHub We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-29 22:13] #31916 closed

[2019-05-29 22:13] MartinJaffer-MSFT commented on #32385
Hello @plzm  and thank you for your inquiry.

I started created a factory in the portal, but instead of clicking "Create", I clicked "Automation Options".  From this I was able to extract a template.  A 'what-if'.

`{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "name": {
            "

[2019-05-29 22:16] MarileeTurscak-MSFT commented on #32389
I created a pull request to add these things as a note but I will let @davidmu1 make the final call on how to handle this.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/78243

Thanks @rbrayb

[2019-05-29 22:16] #32389 closed

[2019-05-29 22:18] hrasheed-msft commented on #32124
@omartin2010 @CHEEKATLAPRADEEP-MSFT the document has been updated. #please-close

[2019-05-29 22:23] MarileeTurscak-MSFT commented on #32249
@gurubn to my knowledge the expiration policy would apply in the same way. It's explained pretty well in this guide: https://docs.microsoft.com/en-us/office365/admin/create-groups/plan-for-groups-governance?view=o365-worldwide#group-expiration-policy

[2019-05-29 22:27] mikebudzynski commented on #32186
Fix committed, should propagate within a few hours.

@KetanChawda-MSFT Next time, please assign document's author to an issue.

#please-close

[2019-05-29 22:30] kgremban commented on #31703
I updated the article today to add more information about the two different classes, moduleClient and deviceClient. I also changed the text in the table to be more clear:

Do you think that is clear enough to help future readers? Please take a look and let me know if we can close this issue or if you think there's more that can be done.

[2019-05-29 22:30] sridmad opened #32399 "Improve https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-diagnostics-eventstore"
Improve the doc to make sure the changes required are clear.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c779fe31-e07e-cad0-5f97-532e802efc76
* Version Independent ID: 6e6505d7-4f1b-3fe7-5cc7-a07e887ea177
* Content: [Azure Service Fabric Event Store](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabr

[2019-05-29 22:33] MarileeTurscak-MSFT commented on #32249
You need one license for every five guest users. See: https://docs.microsoft.com/en-us/azure/active-directory/b2b/licensing-guidance

[2019-05-29 22:33] MarileeTurscak-MSFT commented on #32249
We will now proceed to close this thread. If you have further questions feel free to tag me in the comments and I will gladly continue the discussion.

[2019-05-29 22:33] #32249 closed

[2019-05-29 22:36] #32124 closed

[2019-05-29 22:39] TravisCragg-MSFT commented on #31739
@markarnolditpro WAF logging is configurable, and [you can find more information Here](https://docs.microsoft.com/en-us/azure/frontdoor/waf-front-door-monitor). If you do not want to save the logs, you can make sure that the Front Door does not have a diagnostic setting set. The diagnostic setting of a Front Door is acccessed by navigating to the Front Door resource in the portal, and selecting "D

[2019-05-29 22:39] #31739 closed

[2019-05-29 22:48] tamram commented on #31488
@acrov - We document the property size limitations [here](https://docs.microsoft.com/rest/api/storageservices/understanding-the-table-service-data-model#property-limitations). I agree that they should also be in the doc listed above, and I'll make that update.

The total size of all properties combined must be less than or equal to 1 MB. There's no 64 KB limit on an individual property. Can you pr

[2019-05-29 22:52] Grace-MacJones-MSFT commented on #32377
Hi @markwaksman, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-05-29 22:53] dcbrown16 commented on #32191
Got it, that makes sense now. One final point of detail just to confirm - if the snapshots are retained forever, does that mean that the Instant Recovery functionality also remains available forever?

[2019-05-29 22:58] aquibqureshi26 commented on #32319
Thanks Anirudh, One last question. As custom metrics in Azure Monitor is through sink and that is in preview only for VMs in selected region. I cannot create this for VMs hosted in Indian Region? Is that correct.

[2019-05-29 23:00] rolyon commented on #32312
Hi @regulator-g
I can pass along this feedback. Can you point me to where access reviews is listed as a skill? I don't see it listed in AZ-103.
https://www.microsoft.com/en-us/learning/exam-az-103.aspx
thanks

[2019-05-29 23:01] MicahMcKittrick-MSFT commented on #32398
@helayoty I am not seeing this issue

[code]

[2019-05-29 23:06] ggailey777 commented on #23986
@acollard and @kenguest, sorry for the delay. We did add a note that WebJobs is only supported on Windows. If you need to run on Linux, please consider Azure Functions (which is based on WebJobs).

#please-close

[2019-05-29 23:08] #23986 closed

[2019-05-29 23:11] Adam-Smith-MSFT commented on #32386
@shraboin Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-29 23:17] diberry commented on #32346
@Rich-Lang Thank you for reporting this. It has been fixed and published. #please-close

[2019-05-29 23:17] MicahMcKittrick-MSFT commented on #32399
@sridmad as you are an FTE, please reach out to the content author directly with any suggestions on improving this doc. Please be specific with which sections you want improved and with specifics on what can be improved.

[2019-05-29 23:17] #32399 closed

[2019-05-29 23:17] diberry commented on #32345
@Rich-Lang Thank you for reporting this. It has been fixed and published. #please-close

[2019-05-29 23:17] diberry commented on #32344
@Rich-Lang Thank you for reporting this. It has been fixed and published. #please-close

[2019-05-29 23:17] diberry commented on #32343
@Rich-Lang Thank you for reporting this. It has been fixed and published. #please-close

[2019-05-29 23:18] YutongTie-MSFT commented on #32343
@Rich-Lang We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-29 23:18] #32343 closed

[2019-05-29 23:18] Grace-MacJones-MSFT commented on #32388
Hi @mattyweb, thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2019-05-29 23:18] YutongTie-MSFT commented on #32345
@Rich-Lang We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-29 23:18] #32345 closed

[2019-05-29 23:19] YutongTie-MSFT commented on #32346
@Rich-Lang We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-29 23:19] #32346 closed

[2019-05-29 23:19] KranthiPakala-MSFT commented on #32281
@bychkov Thank you for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

@ShubhaVijayasarathy Could you please take a look at feedback from @bychkov.

[2019-05-29 23:19] YutongTie-MSFT commented on #32344
@Rich-Lang We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-29 23:19] #32344 closed

[2019-05-29 23:26] neerajkrshukla commented on #32234
@sauryadas it was cluster on version 1.12 upgraded to 1.13.5 and then 1.14.0 however port 22 requirements were there in all three versions.

[2019-05-29 23:29] TravisCragg-MSFT commented on #8231
@KrzysztofRosada This refers to how the DDoS protections operate. Basic protection operates for an entire region as a service, and is designed to protect all of Azure's public IP addresses. The guarantee is for a region, but small individual failures are possible.

For DDoS Protection Standard, it is enabled on a Virtual Network and is designed to protect resources inside that VNET, and we do guar

[2019-05-29 23:30] sauryadas commented on #32234
@neerajkrshukla Thanks .. there is some confusion around a set of clusters requiring port 22 while others requiring port 9000. We will update the docs to include how to figure out which port is required for a cluster. Apologies for the confusion.

[2019-05-29 23:30] SaurabhSharma-MSFT commented on #32117
@cconrado Are you getting any errors.  I have tried running the PowerShell Script and it worked fine.
![image](https://user-images.githubusercontent.com/38112130/58597921-f3afc500-822e-11e9-8d35-9353322bbee1.png)

![image](https://user-images.githubusercontent.com/38112130/58597932-0b874900-822f-11e9-899e-4be576b86d85.png)

[2019-05-29 23:32] gcakiroglu commented on #31166
Hi, any updates on the estimated GA date for this capability?

[2019-05-29 23:37] kobulloc-MSFT commented on #25049
@justineechen In our [AKS documentation](https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough), we both ask readers to create a free account if they don't already have a subscription and use the az aks create command to create an AKS cluster.

Looking at your errors, I would review your VM sizes and core count (if the maximum is 4, it would be easy to accidentally exceed that).

[2019-05-29 23:43] KranthiPakala-MSFT commented on #32354
@vs199vishal By looking at the error message, I am assuming that your input blob container do not have a file with proper file extension or your input Azure Data Factory dataset has incorrect "folderPath" or "fileName". Could you please confirm if you have an input file in your blob container?

Just wanted to confirm this because the error clearly says: "The blob reference: vishal/training/input *

[2019-05-29 23:45] SaurabhSharma-MSFT commented on #32009
@kcrosby Ok. I am looking into this and update you on the same.

[2019-05-29 23:45] ajlam commented on #30994
#please-close

[2019-05-29 23:55] ealsur commented on #29740
@kvbreddy What version of the SDK are you using? Are you using the "Microsoft.Azure.DocumentDB" package or "Microsoft.Azure.DocumentDB.Core"?

From what I see in the [source code](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/DocumentClient.cs#L981) that parameter is used to set the ConnectionLimit in the ServiceEndpoint, when working on NET Framework (that

[2019-05-30 00:05] dcbrown16 commented on #32191
On further review, I guess the "Instant Recovery" is not actually making the recovery faster per se, it's making it available earlier in regards to the backup start time.
Since in this scenario, we aren't taking backups any more, this function isn't particularly relevant.
I think we have all the info we need for now, thanks!

[2019-05-30 00:05] #32191 closed

[2019-05-30 00:16] #30693 closed

[2019-05-30 00:16] Mike-Ubezzi-MSFT commented on #30994
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-30 00:16] #30994 closed

[2019-05-30 00:27] SeaDude commented on #32321
I appreciate the insights. I’m attempting to use a PowerApps Custom Connector.
- I’ve recorded Audio in the PowerApp
- Sent it Azure Blob Storage (which converts it to .wav)
- Used GetFileContent to “get” the audio but it doesn’t appear to be in binary form back in the app.
- End goal is to send .wav file to Azure Cognitive Services Speech-to-Text.
Again, no problem in Postman with a local file up

[2019-05-30 00:40] anavinahar commented on #32380
Are you trying to connect to SQL MI? If so, see this: https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-faq#what-are-the-constraints-related-to-global-vnet-peering-and-load-balancers

[2019-05-30 00:40] andreslon opened #32400 "Description wrong"
The text in "10. Copy and save the Server key for later use. You use this value to configure your notification hub." is wrong, server key is not the correct, the correct way is "Legacy server key"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a03ab5f-3dda-f469-33e0-9504c90d468c
* Version Independent ID: 4f8e4309-cd06

[2019-05-30 00:44] anirudhcavale commented on #32319
So you can create the diagnostics extension, however the metrics will not successfully publish in unsupported regions. But we are trying to have all regions covered by later this summer.

[2019-05-30 00:52] femsulu commented on #32397
@jaryder thanks for the feedback. [Here](https://docs.microsoft.com/en-us/azure/automation/manage-runbooks#import-a-runbook) are the instructions on importing a runbook.
Also adding @georgewallace to review your comment on linking to the "import runbook" content.

[2019-05-30 01:09] jaryder commented on #32397
@femsulu Much appreciated!

[2019-05-30 01:35] dcbrown16 opened #32401 "Accelerated Networking"
Is support for Accelerated Networking really just "No"?
There is a whole page stating that it will be detected and enabled.
https://docs.microsoft.com/en-us/azure/site-recovery/azure-vm-disaster-recovery-with-accelerated-networking#enabling-accelerated-networking-for-replicated-vms
I think maybe this is just a new feature that requires an update here?

---
#### Document Details

⚠ *Do not edit thi

[2019-05-30 02:01] regulator-g commented on #32312
Thanks @rolyon
Hmm, I think it was used in the old AZ100 exam.. I have been using an AZ100 study guide as the 103 exam is new

[2019-05-30 02:29] PetroAzure commented on #32313
shashishailaj, Thanks for your reply. One more information: when I use Postman to get https://localhost:44332//api//tasks with accesstoken, it works.
And why it does not work when I click To-Do List on web browser and throws an exception at HttpResponseMessage response = await client.SendAsync(request); ?

[2019-05-30 02:34] RezaRahmati opened #32403 "How should I obtain the path fro other containers from docker hub?"
I have a docker image, how should I find what value should I enter for --azure-file-volume-mount-path = /aci/logs/

For example https://hub.docker.com/r/ctfd/ctfd
https://github.com/CTFd/CTFd/blob/master/docker-compose.yml

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b730fc95-951e-1acd-770d-88b3e6f2f6ef
* Version Ind

[2019-05-30 02:46] blackchoey commented on #31987
Hi @El-Hassan seems Docker CLI is not checking the correct image. Could you help follow below instructions to share some information for investigation?
1. Open the failed release
2. Click the Artifacts on the left
3. Click the link that looks like 20190530.2 (this is just a sample). This will redirect you to the build.
4. Click the ... on top right corner, choose download all logs
5. Click the Art

[2019-05-30 03:12] KrishnaG-MSFT commented on #32363
@paddyhitch Glad to know that the issue is self resolved. Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-05-30 03:12] #32363 closed

[2019-05-30 03:16] #32247 closed

[2019-05-30 03:18] #32083 closed

[2019-05-30 03:20] SubbuKonathala opened #32404 "Feeback"
For scenario "Restart Fully stopped VM's", it should just state that the operation will be failed with error
The operation requires the VM to be running (or set to run). (Code: OperationNotAllowed) or
The virtual machine 'rescue' operation failed: 'The operation is not allowed on a role that is deallocated.'. (Code: VirtualMachineOperationFailed)  or
The operation requires the VM to be running (or

[2019-05-30 03:28] KrishnaG-MSFT commented on #32356
@tdub7229 Thanks for the comment.
Adding / Assigning this to Elmer (@thinkingserious) for visibility and document enhancement considerations.
Elmer (@thinkingserious) Can you please look into it / provide your insights on this ?

[2019-05-30 03:30] MashaMSFT commented on #29526
Hi @davebern, thanks again for contacting Microsoft! Unfortunately, we were unable to reproduce the issue discussed in the blog. Perhaps it's a different OS? The blog post doesn't specify but we used Windows 2016 in our testing. We tried the PowerShell command but since we did not encounter the issue, we did not see that the command had any impact.

However, I added a note about unchecking the "ad

[2019-05-30 03:33] TomArcherMsft commented on #32383
@CeciAc I'm not entirely sure I understand your question. The changelog refers to a deprecated module being removed; not Azure support in its entirety.

[2019-05-30 04:02] VikasPullagura-MSFT commented on #32403
@RezaRahmati Thanks for the question! We are checking on this and will respond to you soon.

[2019-05-30 04:04] VikasPullagura-MSFT commented on #32056
@kumarallamraju The document is updated now with --name option. Closing the issue.

[2019-05-30 04:06] VikasPullagura-MSFT commented on #32240
@jjindrich Is there any update on the issue?

[2019-05-30 04:20] RohitMungi-MSFT commented on #32167
@tulasim88 Thanks for the update, Please do update the thread and documentation once the feature is complete. @01
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-30 04:21] #32167 closed

[2019-05-30 04:29] SadiqhAhmed-MSFT commented on #32401
@dcbrown16 Thanks for the comment! As per the link - https://docs.microsoft.com/en-us/azure/site-recovery/azure-vm-disaster-recovery-with-accelerated-networking#enabling-accelerated-networking-for-replicated-vms Accelerated Networking is supported. May I please know what is your concern when you say "Is support for Accelerated Networking really just "No"?"

[2019-05-30 04:29] Syamala2604 opened #32405 "GA date"
Hi there,

Is there any timeline as to when this feature might be Generally Available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2eeca14-80ef-c0b4-2719-80ceb286ba3d
* Version Independent ID: b7d3df23-3158-2807-eecc-73e7230c2033
* Content: [What is Windows Virtual Desktop Preview?  - Azure](https://docs.microsoft.

[2019-05-30 04:31] dcbrown16 commented on #32401
see table:
Azure VM network (after failover)
...
Accelerated Networking | No

[2019-05-30 04:41] TETZUO commented on #32093
Still an issue

InvalidTemplateDeployment template validation failed: 'The template parameter 'baseUrl' is not found. Please see https://aka.ms/arm-template/#parameters for usage details.'.

[2019-05-30 04:43] PramodValavala-MSFT commented on #32062
@fabich Since there is no doc update required here at the moment, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

As for issue of receiving empty messages, I am checking with the team internally and will keep this issue posted with updates.

[2019-05-30 04:43] #32062 closed

[2019-05-30 04:57] VikasPullagura-MSFT commented on #32404
@SubbuKonathala Thanks for your feedback. We are checking on this and will respond to you soon.

[2019-05-30 05:08] AshokPeddakotla-MSFT commented on #32289
@janlange Thanks for providing the resolution.
@robinsh Please check this and update the doc as appropriate.
Since issue is resolved, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-30 05:08] #32289 closed

[2019-05-30 05:13] jakaruna-MSFT commented on #31880
@jonbeck7  I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-30 05:14] jakaruna-MSFT commented on #32029
@swagkulkarni
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-05-30 05:14] #32029 closed

[2019-05-30 05:15] jakaruna-MSFT commented on #32152
@yuriwoof
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-05-30 05:15] #32152 closed

[2019-05-30 05:15] #31325 closed

[2019-05-30 05:17] jakaruna-MSFT commented on #32165
@iainfoulds I am assigning this issue to you so that you can act on this if doc update is required.

[2019-05-30 05:18] YASWANTHM-MSFT commented on #32268
@Sethu2488 , We currently do not have any ETA on this, It’s going to be updated soon, You may keep a track on [Azure  updates](https://azure.microsoft.com/en-in/updates/).
If you wish you may leave your feedback [here ](https://feedback.azure.com/forums/34192--general-feedback)All the feedback you share in these forums will be monitored and reviewed by the Microsoft engineering teams responsible f

[2019-05-30 05:18] jakaruna-MSFT commented on #32166
@ShadowPic is there any update

[2019-05-30 05:19] jakaruna-MSFT commented on #32201
@benhartwich is there any update

[2019-05-30 05:20] jakaruna-MSFT commented on #32223
@danis please add your comments

[2019-05-30 05:21] AjayKumar-MSFT commented on #32400
@andreslon, Thanks for the feedback! We are taking a look at this and will get back to you shortly.

[2019-05-30 05:21] jakaruna-MSFT commented on #32334
@spacecat
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-05-30 05:21] #32334 closed

[2019-05-30 05:22] benhartwich commented on #32201
@jakaruna-MSFT : the script you provide at your documentation isn´t working, because the bash pipeline doesn´t know any azure cli command. Error: az command not found.

[2019-05-30 05:27] MarkSiteRankSystems commented on #27135
It is also really important to point out the areas that CosmosDb is not a fit. I am going to be using these tables as a data source for PowerBI, and while you may call that connection between PowerBI and CosmosDb as "Preview" it is alot like testing in production. I would really like to know if you are going to kill the table storage options in the regular storage space to boost your CosmosDb offe

[2019-05-30 05:32] das-kaustav commented on #23045
Thanks @Mike-Ubezzi-MSFT

[2019-05-30 05:37] jjindrich commented on #32240
Yes, It's working on Linux (running wsl) - after updating kubectl. But on Windows still reporting same issue although I updated ak aks install-cli. Still getting old version. I tried to delete kubectl.exe from C:\Users\ME\.azure-kubectl and run ak aks install-cli again. Still getting old version. Where is kubectl located ?

[2019-05-30 05:39] VikasPullagura-MSFT commented on #32405
@Syamala2604 Thanks for your question.

Please watch this [space](https://azure.microsoft.com/en-in/updates/?product=virtual-desktop) for updates on Windows Virtual Desktop. Once this is ready for GA you see the update here.

I am assigning this to author for providing more insights on GA timeline.

Thanks.

[2019-05-30 05:40] alokchhatry commented on #32336
@BryanTrach-MSFT , Please find below URL for Azure doc:
https://docs.microsoft.com/en-us/azure/site-recovery/site-recovery-faq
2nd Faq is "Can I protect a virtual machine that has a Docker disk?"

[2019-05-30 05:40] yanancai commented on #22102
@g-dupuis  and @helloyesthisisdave , we added the data root and working directory path in USqlScriptTestResult. The fix has been released, please update your tool to the newest version - 2.3.9000.1.
The U-SQL Nuget package has been updated also. I will update the doc.

[2019-05-30 05:41] VikasPullagura-MSFT commented on #32405
@Heidilohr Can you add your comments for GA timeline on this feature.

Thanks.

[2019-05-30 05:42] vs199vishal commented on #32354
sorry the full blod ref is below
vishal/training/input/model.ilearner

ref:
https://docs.microsoft.com/en-us/azure/data-factory/v1/data-factory-azure-ml-update-resource-activity

[2019-05-30 05:44] BryanTrach-MSFT commented on #32336
@alokchhatry Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-30 05:56] VikasPullagura-MSFT commented on #32403
@RezaRahmati The path for persistent volumes are decided by the author who creates the Image.

In this case as you are referring to public image the paths for the volumes are in the below screenshot.

If you want to mount the logs directory to persistent storage in this example, then mounting will look like  --azure-file-volume-mount-path /var/log/CTFd

![image](https://user-images.githubuserconte

[2019-05-30 06:10] dcbrown16 commented on #32401
Oh I see, I must have had both VMware and Azure support matrix pages open at the same time. The Azure page says it is supported. Sorry for the trouble!

[2019-05-30 06:10] #32401 closed

[2019-05-30 06:13] SteveLasker commented on #32165
closing as this is a helm 3 requirement.

[2019-05-30 06:16] VikasPullagura-MSFT commented on #30409
@Heidilohr Thanks for updating the document.

[2019-05-30 06:17] VikasPullagura-MSFT commented on #30409
@anthony-schneider Thanks for the feedback on the document, this is updated now. Closing the issue.
Thanks.

[2019-05-30 06:17] #30409 closed

[2019-05-30 06:20] SnehaAgrawal-MSFT commented on #32276
@plzm Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-05-30 06:26] SumanthMarigowda-MSFT commented on #32008
@arsenicks Thanks for the feedback! Your feedback has been shared with the content owner for further review.

[2019-05-30 06:28] v-maroge opened #32408 "Unsupported browser for download"
Are there unsupported browsers for downloading disk?
Our customer experienced download error with Edge and Chrome, but was able to download with IE 11.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 218c3a24-424f-e928-d0c0-89c8b8349bc8
* Version Independent ID: 0ba31a4b-94cf-2b4f-1fbc-29a92fe7d97a
* Content: [Download

[2019-05-30 06:37] Praveen075100 opened #32409 "How to run powershell command on VM using Domain Admin credentials"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-05-30 06:38] dcbrown16 commented on #26915
@cephalin related to this ask, I'd like to clarify if the inbound IP being part of the outbound set means that the inbound IP could also change when scaling to or from Premium v2. @ccompy or @stefsch may know?

[2019-05-30 06:43] shashishailaj commented on #32409
@Praveen075100 Thank you for your query. As per the query provided by you , we are not sure exactly which document you have referred  hence I have updated document detail as per my understanding of the question.

[2019-05-30 06:43] msrini-MSFT commented on #32333
@markarnolditpro , Do you have any further question?

[2019-05-30 06:44] timmmay opened #32410 "Missing step?"
I had issues getting the MFA server to respond to MFA requests and while honoring the Conditional Access rules in AzureAD.  I had to run the following powershell command on the Azure/365 tenant:
Set-MsolDomainFederationSettings -domain federateddomain.com -SupportsMFA $true

Can we add this to the documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2019-05-30 06:49] shashishailaj commented on #31535
@rollandjb Thank you Rolland . I have responded you on email to take this forward as requested.

[2019-05-30 06:51] Praveen075100 commented on #32409
Invoke-AzureRmVMRunCommand -ResourceGroupName 'rgname' -Name 'vmname' -CommandId 'RunPowerShellScript' -ScriptPath 'sample.ps1' -Parameter @{"arg1" = "var1";"arg2" = "var2"}

The above command runs the powershell script in the VM with VM admin credentials but i need to run the script using Domain admin credentials

[2019-05-30 06:53] shashishailaj commented on #30802
@ManuelMos My sincere apologies for the delay . Somehow the spam filters caught that email . I have responded to you on the email thread on the next course of action.

@ajiljins We are getting this worked internally and will update the findings on this thread.

[2019-05-30 06:55] VikasPullagura-MSFT commented on #32240
@jjindrich Run this command in command prompt and check which kubectl is being used.
`for %i in (kubectl.exe) do @echo. %~$PATH:i`
Delete the kubectl.exe from the above path (or move it to a different directory).

Now install kubectl from install-cli with below command:
`az aks install-cli`
which will download the latest version of kubectl to user home directory

Now add this new path to the $PATH

[2019-05-30 06:56] jialinp commented on #30991
Yes, this feature is really needed for customer with many subscriptions. Look forward to the update. Thanks!

[2019-05-30 07:02] jakaruna-MSFT commented on #32408
@v-maroge
Thanks for the question! We are investigating and will update you shortly.

[2019-05-30 07:07] AshokPeddakotla-MSFT commented on #32198
@csamleong AFAIK, Azure IoT Edge needs a container engine to launch modules since they are implemented as containers. Please see [Azure IoT Edge supported systems](https://docs.microsoft.com/en-us/azure/iot-edge/support) for more details.

[2019-05-30 07:13] jakaruna-MSFT commented on #32408
@v-maroge It will work well in chrome and edge. Please make sure that popup is allowed.
You can also test by copying the SAS url and pasting that on the new tab.

[2019-05-30 07:26] AdamWorkAccount commented on #31103
Yes this host pool was created successfully but only after running the power shell commands manually and not via the wizard.  When i run Get-RdsHostPool the below is returned

TenantName        : adamwilkinsonstreetsheaver
TenantGroupName   : Default Tenant Group
HostPoolName      : AdamHosstpool
FriendlyName      :
Description       :
Persistent        : False
CustomRdpProperty :
MaxSessionLimit

[2019-05-30 07:40] wbpluto opened #32411 "walinuxagent should be waagent"
I think and approved "walinuxagent" should be "waagent" in all commands.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e86655f9-6d0b-106b-7b88-edbd20ee4544
* Version Independent ID: cf60b900-6f8a-4b28-a86b-39daadd876f5
* Content: [Update the Azure Linux Agent from GitHub](https://docs.microsoft.com/en-us/azure/virtual

[2019-05-30 07:50] ShengChenMSFT opened #32412 "Enable SSL issue"
Using the following code to configure the AKS webservice :

from azureml.core.compute import AksCompute
# Config used to attach an existing AKS cluster to your workspace and enable SSL
attach_config = AksCompute.attach_configuration(resource_group = resource_group,
                                      cluster_name = cluster_name)
attach_config.enable_ssl(leaf_domain_label = "myservice")

aks_targ

[2019-05-30 07:56] CHEEKATLAPRADEEP-MSFT commented on #32115
@gauravmalhot Could you look into this issue?

[2019-05-30 08:03] smoms commented on #31703
@kgremban this makes the content consistent. please close the request and thanks again.

[2019-05-30 08:07] RohitMungi-MSFT commented on #32171
@carloshm The change is now submitted by PR and should be updated in the documentation in the next 24 hours. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-30 08:08] #32171 closed

[2019-05-30 08:10] acrov commented on #31488
That’s the overall row limit of 1MB.  There _IS_ a limit on the individual property.  You actually document the column limit, albeit implicitly, within the Property Types section - https://docs.microsoft.com/en-gb/rest/api/storageservices/understanding-the-table-service-data-model#property-types by saying Edm.Binary and Edm.String have max size of up to 64k.

The error I get is a 400 Bad Request S

[2019-05-30 08:16] hadr10 commented on #32199
Ok, thank you for information.

[2019-05-30 08:19] VikasPullagura-MSFT commented on #32045
@mayanknayar Thanks for updating the FAQ document.

[2019-05-30 08:20] VikasPullagura-MSFT commented on #32045
@anas1986 This [document](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-faq#can-i-create-a-scale-set-in-an-existing-resource-group) is updated now.
Closing this issue.
Thanks.

[2019-05-30 08:20] #32045 closed

[2019-05-30 08:48] colinrippeyfinarne commented on #29870
@gregpakes I have the exact same question - seems strange we cannot find this key piece of configuration.

[2019-05-30 08:49] wsc9108 commented on #28442
Yes, because now it's not only restrict the IP but also the vNET, hence the name "IP restriction" isn't precise anymore, the new name"Access Restriction" can cover the both.
Hope this explains

[2019-05-30 08:53] sundasfarooqcs opened #32414 "Error implementing "Stream big data into a data warehouse""
Hello,
I have followed the docu. of Tutorial: Stream big data into a data warehouse (https://docs.microsoft.com/en-gb/azure/event-grid/event-grid-event-hubs-integration#).
I am using Azure Bash instead of PS as it was giving several errors. I successfully deployed everything using Azure Bash. But when I publish code of github project mentioned in this tutorial I am getting this error:

2019-05-29T

[2019-05-30 08:57] jakaruna-MSFT commented on #32411
@wbpluto for ubuntu and debian its `walinuxagent` and for redhat and centos its `waagent`.
The terminologies used in the doc is correct.

[2019-05-30 09:05] SwathiDhanwada-MSFT commented on #32199
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-05-30 09:05] #32199 closed

[2019-05-30 09:07] wbpluto commented on #32411
Thanks. I thought my VM is Ubuntu, but it in fact CentOS. So you're right and this issue should be closed.

[2019-05-30 09:07] #32411 closed

[2019-05-30 09:20] imeya opened #32415 "Some issues in limits-summary"
I have some issues in this section limits-summary: https://docs.microsoft.com/en-us/azure/azure-monitor/app/pricing#limits-summary.

1. the link for *type schemas* is broken, a 404 page now.
2.  for "Maximum event size", it's 64,000. Does it mean the length of each event size? and it's unit is bytes or something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-05-30 09:24] jjindrich commented on #32240
Perfect, many thanks, fixed. kubectl was under Docker installation...

[2019-05-30 09:24] #32240 closed

[2019-05-30 09:29] aquibqureshi26 commented on #32319
Thanks Anirudh for the detailed explanation. I'll wait till this is rolled out to other regions as My customer is in India and classic metrics is retiring I'm waiting for this sink to be present in Azure Monitor public region so that i can implement.

[2019-05-30 09:31] SumanthMarigowda-MSFT commented on #32305
@msmbaldwin Requesting you to kindly add your comments here

[2019-05-30 09:32] SnehaAgrawal-MSFT commented on #32243
@pascalnaber Thanks for bringing this to our attention. I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-05-30 09:34] mkiernan opened #32416 "share vdbench scripts & configuration"
[Enter feedback here]

Would it be possible to publish the exact vdbench scripts and configurations used to achieve these results on this azure netapp files page also please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22dcb7cc-fd7e-c1a4-c545-0e85a9be43d9
* Version Independent ID: 7c822160-afe6-4a44-020f-a6ef62d6fae

[2019-05-30 09:40] CTsiaras commented on #29819
@ricardoserradas, Thanks a lot the dmgcmd.exe -Key [AuthenticationKey]  dit the job. Thsi is clearly missing from the documentation.

[2019-05-30 09:43] BhargaviAnnadevara-MSFT commented on #32415
@imeya Thank you for bringing this to our attention! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-30 09:55] totokliem opened #32417 "Error on Publish"
After publishing, i get error : Package/Publish task  Microsoft.Web.Publishing.Task.IsCleanMSDeployPackageNeeded failed to load Web Deploy assemblies. Microsoft Web Deployment is not correctly installed on this machines. Microsoft Web Deploy v3 of higher is recommended.
I have installed web deploy but still error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-05-30 10:17] kenguest opened #32418 "PHP 7.0 isn't supported anymore. Suggest referencing PHP 7.2 instead."
PHP 7.0  isn't even maintained for security releases anymore. It has been completely End-of-Life'd.  ( https://php.net/supported-versions.php ) I'd suggest updating this page to mention a version that is supported ;-)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f970943e-c7b4-919c-65ea-6ba20831e74d
* Version Independ

[2019-05-30 10:20] MOKknudsen commented on #13879
I need my queries to reflect the data from 1 month, but when I use View Designer, everything defaults to 24 hr, which makes this useless as it returns wrong data to the IT dept. So they make wrong conclusions.
I need View Designer to use the time range defined in the query - and not overrule to 24 hr

[2019-05-30 10:20] tsubasaxZZZ opened #32419 "App Service for Linux log doesn't auto-disable after 12 hours"
App Service for Linux log doesn't auto-disable after 12 hours.
So I want you to describe that for Linux.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfc316af-0d30-b449-a04f-3019b7a16bc1
* Version Independent ID: 01c4c435-fda9-374a-70b3-f1d7f13c7651
* Content: [Enable diagnostics logging for apps - Azure App Service]

[2019-05-30 10:22] icas-code opened #32420 "Problems with public email providers?"
Using this connector to send (non-marketing) emails with a small amount of text and a link to a downloadable file in Blob storage. No problem if email address is e.g. joe.bloggs@companyname.com. But sending to any Gmail, Hotmail, Yahoo address, no delivery happens, as far as I can determine I don't even get an error, and the mail does not go to spam or junk. Is this a known limitation of the conne

[2019-05-30 10:25] SadiqhAhmed-MSFT commented on #32304
@HannahHsiao We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-30 10:25] #32304 closed

[2019-05-30 10:26] SnehaAgrawal-MSFT commented on #32419
@tsubasaxZZZ Thanks for the question! We are investigating and will update you shortly.

[2019-05-30 10:31] #32078 closed

[2019-05-30 10:31] SadiqhAhmed-MSFT commented on #32078
@wbpluto Appreciate your patience. We have updated the link and change has gone live. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-30 10:35] orspod commented on #32292
@al3xisb and @YutongTie-MSFT, unfortunately the demo_make_series tables are not currently available on on https://dataexplorer.azure.com/clusters/help/databases/Samples.

[2019-05-30 10:40] shashishailaj commented on #32409
This will require troubleshooting hence I suggest you to open a forum thread in MSDN https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=wavirtualmachinesforwindows as we use Github for feedback on azure documentation .  This request is better suited there and the team will engage with you on the same in the MSDN VM forum. We will now close this issue and would continue to help you thr

[2019-05-30 10:40] #32409 closed

[2019-05-30 10:43] lawrencegripper opened #32421 "Ubuntu 18.04 VPN Connection fails"
I've been attempting to setup a connection using the Linux guides here and I get the following on

[code]

Searching around this error code seems to relate to: https://support.microsoft.com/en-gb/help/2964556/ikev2-vpn-connection-fails-with-error-13806-when-you-use-an-ecdsa-cert

I've tried it out with both the strongswan GUI and CLI guides.

[code]

I've attempted to disable additional plugins as

[2019-05-30 10:56] sannzay commented on #21209
HI @mx-iao I was getting the same error even though I was able to run the command "conda"  perfectly fine in the docker manually. After adding the line you suggested, "**estimator.run_config.environment.python.user_managed_dependencies = True**", the run got stuck at "Starting project file download." from 2 days.

STUCKS AT:
Found Materialized image at target: sannzay/tf_serve:version4
Starting pr

[2019-05-30 11:04] mlottner commented on #32037
@kartheekakkur It’s seems to be either a permissions issue or the config file is corrupted.
Can you confirm you are running the script as Administrator, and that you have permissions to the directory the files are located in?

[2019-05-30 11:12] lawrencegripper commented on #32421
To try and rule out anything odd I've [recreated a new set of certs following this process](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-certificates-point-to-site-linux) and retried but still no joy.

[2019-05-30 11:32] netwovenIT opened #32423 "circular link to itself"
This page has a circular link to itself on the last bullet for "Next Steps" :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f7a4070-1be8-5f1f-0092-68fb6b9e2305
* Version Independent ID: cd34312f-b507-affe-555e-1e0c63e7d494
* Content: [Dynamic automatic group membership rules - Azure Active Directory](https://docs.mi

[2019-05-30 11:48] neerajkrshukla commented on #32234
thanks @sauryadas

Is this supposed to move completely to port 9000 and standardized across all clusters going forward? basically we are trying to block egress from AKS cluster and for that we create scripts for standard rules whenever we create a new cluster. identifying whether port 22 is required or 9000 will add additional manual efforts to find that out from tunnelfront.

[2019-05-30 11:50] shashishailaj commented on #32410
@timmmay Thank you for your feedback . We will investigate and update this thread .

[2019-05-30 11:52] sauryadas commented on #32234
@neerajkrshukla The plan is to move to 9000 completely (still working on an ETA) . In the meantime, i think to simplify things it is best to open both 9000 and 22

[2019-05-30 11:53] neerajkrshukla commented on #32234
@sauryadas Thanks and appreciate your quick turnaround time..

[2019-05-30 11:57] shashishailaj commented on #32423
@netwovenIT Thank you for pointing that out . We will investigate and link it correctly .

[2019-05-30 12:01] shashishailaj commented on #32423
@netwovenIT We have initiated a change request for the same and it should be updated in the next 24-48 hours as per the next release cycle. We will now close this issue. Should you have any further query, feel free to open a new issue.

Thank you.

[2019-05-30 12:01] #32423 closed

[2019-05-30 12:03] MohitDhingra-MSFT commented on #32410
@MicrosoftGuyJFlo Could you please review this request with engineering and help update this document as needed?

[2019-05-30 12:06] ggaecke commented on #32093
I'm also still getting this error when trying to deploy.

"InvalidTemplate
Deployment template validation failed: 'The template parameter 'baseUrl' is not found. Please see https://aka.ms/arm-template/#parameters for usage details.'."

[2019-05-30 12:09] jakaruna-MSFT commented on #32209
This is a known issue for the image mcr.microsoft.com/windows/servercore/iis:windowsservercore-ltsc2019 in ACI. All windows 2019 images may have this issue. This issue happens because the DNS server is not set properly.

Current workaround is to run the below commands on the container startup to set the dns server or use the windows 2016 based images( tags 1607, ltsc2016 etc)

[code]

[2019-05-30 12:10] RohitMungi-MSFT commented on #32412
@ShengChenMSFT Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-05-30 12:10] jakaruna-MSFT commented on #32201
@benhartwich I tried with AZ cli task. It worked there.
If you want to use Bash task, we need to install az cli in the build agent.

[2019-05-30 12:24] gitnwana opened #32424 "docker push exits with EOF."
While pushing a docker image onto the Azure Container Registry, after trying for a few seconds the command exits with EOF.
The network transfer speed is sufficient which might not be the issue. Any help is appreciated.

`The push refers to repository [containerregistry.azurecr.io/name]
7387f39edda5: Layer already exists
f2868d922c36: Layer already exists
a1a215f52b02: Pushing [====================

[2019-05-30 12:24] msrini-MSFT commented on #32421
@lawrencegripper , The error description for 13806 is "ERROR_IPSEC_IKE_NO_CERT | IKE failed to find valid machine certificate. Contact your Network Security Administrator about installing a valid certificate in the appropriate Certificate Store."

- Select tunnel type as SSTP in the P2S settings
- Reinstalled the VPN client

Let me know if this works for you

[2019-05-30 12:26] msrini-MSFT commented on #32333
@markarnolditpro , closing this issue. Please tag me if you have any further questions.

[2019-05-30 12:26] #32333 closed

[2019-05-30 12:31] jakaruna-MSFT commented on #28822
sadly the issue is still there.

[2019-05-30 12:35] KrishnaG-MSFT commented on #30462
@cephalin Any update on this please ?

[2019-05-30 12:36] KrishnaG-MSFT commented on #26721
@johnkemnetz Any update on this please ?

[2019-05-30 12:59] jwargo commented on #32400
@andreslon yes, you're right - we have not completed updating all of the docs yet. I'll make this change today.

[2019-05-30 13:04] marcnimbax opened #32425 "Do not get Azure Login in Jira"
I'm not able to get the Azure Login SSO button on my system dashboard.

Usually the user get redirect there but now I only see the login button on the login.jsp page
![image](https://user-images.githubusercontent.com/32781103/58634522-7f6e3380-82b9-11e9-8890-8681c7cc4b22.png)

When i try to login on the dashboard.jspa I do not see the azure login option
![image](https://user-images.githubuserconte

[2019-05-30 13:05] jwargo commented on #32400
fixed.  #please-close

[2019-05-30 13:27] judyanndixon commented on #32093
Looks like the scripts RemoveScript.ps1 and Script.ps1 are not located where the baseUrl says they are.  I found them in directory RDS-Templates\wvd-sh\Update an existing WVD host pool\Scripts.

[2019-05-30 13:36] RezaRahmati commented on #32403
Thanks, then based on these I have to use multiple volume configuration in this example, right?

[2019-05-30 13:37] jackvinson opened #32426 "What if "password reset" is greyed out?"
I would love my users to be able to reset their own password.  But when I go to the Azure Active Directory page, I find the "Password Reset" capability is disabled.  How do I enable this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90088440-454a-8698-8696-f84141ee6539
* Version Independent ID: 621d6a1d-0799-4474-7c4

[2019-05-30 13:41] justinfcoffey opened #32427 "Will the B-series VMs be added?"
Please and thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6153af8d-c2cc-b93a-2c18-3e98a65ba4e2
* Version Independent ID: be9eaf8f-0abe-5fbb-d23c-038b2749a057
* Content: [Virtual machine sizes for Azure Cloud services](https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-sizes-specs)
* Content So

[2019-05-30 13:46] ckarras commented on #20288
Or an improvement over my suggestion would be to:
* check the MD5 before starting the transfer
* then, if there's ever a need to resume the transfer, request a new MD5 hash (for the whole blob) before resuming
* if it is different from the original MD5, inform the user that the file has been modified and that resuming the transfer won't be possible
* at the end of the transfer, request the MD5 has

[2019-05-30 13:55] sergaz-msft commented on #32218
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-30 13:59] jaffadog opened #32428 "Does the introduction of the "End user protection" policy represent a shift in licensing requirements?"
The "End user protection" baseline policy includes functionality that is part of Azure AD Identity Protection:
- Requiring MFA for risky sign in events
- MFA registration with 14 day skip option

I understand these baseline policies do not require P2 licensing, whereas Identity Protection does. Does this represent a broader shift in licensing requirements for CA policies that evaluate sign in risk

[2019-05-30 14:01] jaffadog opened #32429 "Does "End user protection" work for guest accounts?"
If I enable the "End user protection" policy, will it apply to "guest" accounts in my tenant - as well as "members"?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea065ca4-8c74-a1ed-0862-35bcaf6bfb88
* Version Independent ID: fd330ca5-ac7c-8824-1381-067f050fa597
* Content: [Conditional access baseline protect

[2019-05-30 14:02] fedorovdima commented on #32207
@KumudD

I see your point, but I can't understand this design when the user stays within the "Virtual network" TOC after following a link to documentation of another product (e.g. VPN Gateway) because this TOC is no longer relevant.
As a result, the user loses his position in the "Virtual network" TOC (no item in the TOC is highlighted) as well as has no access to the relevant table of contents (i

[2019-05-30 14:03] AjayKumar-MSFT commented on #32417
@totokliem, Thanks for raising this question! What version of Visual Studio (VS) are you using? Ensure that you have the [latest SDK ](https://azure.microsoft.com/en-us/downloads/)installed and all the [Prerequisites](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-dotnet#prerequisites) are met. Close and re-open VS as ‘Run as administrator’ and then check to see if

[2019-05-30 14:07] fedorovdima opened #32430 "No item in TOC for this page"
Hi,

So the issue is described in the subject. When I click this page, I see no highlighted item in the table of contents on the left, so I have no idea what section of the documentation it is and how to quickly get back to this page via TOC in future.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57b6d-3c6f-e546-b

[2019-05-30 14:07] AjayKumar-MSFT commented on #32400
@jwargo, Thank you for the quick help!
@andreslon, We will close this out, but if you feel you need more information please just let us know.

[2019-05-30 14:07] #32400 closed

[2019-05-30 14:09] benbelow commented on #32149
I came to the same conclusion, and agree that adding to the documentation would be useful for future adopters

[2019-05-30 14:16] kartheekakkur commented on #32037
@mlottner Yes I ran the poweshell with admin permissions and I manually pasted the values in the config file it was referring to as well, its I had the issues.

Method invocation failed because [System.Xml.XPath.XPathEvaluator+<EvaluateIterator>d__1`1[[System.Object, mscorlib,
Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]]] does not contain a method named 'SetValue'.
At C:\scr

[2019-05-30 14:17] RyanHill-MSFT commented on #32418
Thanks for the feedback @kenguest! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-30 14:19] fabich commented on #32062
@PramodValavala-MSFT perfect, thank you.

Should I create a new issue in the event grid or service bus repo to track this issue?

[2019-05-30 14:29] Blackmist commented on #30938
Thanks for reporting this @tarockey . This looks like a bug in the docs. Previous versions used a deployment workflow where you registered an image as an intermediate step. It looks like this text wasn't removed as part of that update. I'll publish an update later today to fix this so it's accurate for the new workflow.

[2019-05-30 14:33] kfbehar commented on #32037
@kartheekakkur, it seems that you care trying to run the scripts from their location in the repository, while they are intended to run after you build the solution.

1. Navigate to src\Modules\Security\<the module you want to build: Linux/Windows>
2. Run dotnet publish –c <config: Release/Debug> -r <RID: get that from here https://docs.microsoft.com/en-us/dotnet/core/rid-catalog>
3. Go to the inst

[2019-05-30 14:34] mfbhatt opened #32431 "Access secured WebAPIs in Android"
I am creating an Android application which uses Azure AD for authentication. I need to access some WebAPIs on the Azure server which is secured using Azure AD authentication. I am able to generate the token. When I try to access the WebAPI it gives an 401 unauthorized error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-05-30 14:45] jgudmundson-RETSD commented on #32093
I'm also still getting the error.  Just tried it.

[2019-05-30 14:46] georgewallace commented on #32216
@Csmithson-qh What region is your Automation Account in?

[2019-05-30 14:48] Csmithson-qh commented on #32216
eastus2
![image](https://user-images.githubusercontent.com/50712809/58641050-6ae56780-82c8-11e9-9d89-f5a9f5d8c34c.png)

[2019-05-30 14:56] NDSoul opened #32432 "Change Heading on Documentation"
Could you change the heading "Attach a VPN gateway to your Managed Instance virtual network"? I believe the word "attach" implies that you have already created one. Maybe append it to say "Create and Attach...."
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4530cab5-ae29-e402-7a58-67ce623088c5
* Version Indepe

[2019-05-30 14:57] MikeBarker-MSFT opened #32433 "Example is out of date"
The examples given on this page are out of date, since Relay is no longer a service within ServiceBus.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87d84172-e255-ddb8-0e05-90bbd8e2f308
* Version Independent ID: 1d047870-e4a1-f20a-463e-2d18ff5bf70f
* Content: [Get started with Azure Relay WCF relays in .NET](https://d

[2019-05-30 15:01] georgewallace commented on #32216
[Update Azure modules](https://docs.microsoft.com/en-us/azure/automation/automation-update-azure-modules)

[2019-05-30 15:01] dvanderslice opened #32434 "No overload for method 'CreateResponse' takes 2 arguments and deprecated TraceWriter in code"
I have noticed since this is an article for Functions v1 i had to make some changes. Like create a function.proj instead of a host.json. Thats fine i can load libraries no problem, with my very basic C# skills. But even after i get an error with Azure Functions:

2019-05-30T14:56:04.060 [Error] run.csx(34,15): error CS1501: No overload for method 'CreateResponse' takes 2 arguments
2019-05-30T14:56

[2019-05-30 15:05] mike-urnun-msft commented on #31514
@lferreirad1 We will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-30 15:05] #31514 closed

[2019-05-30 15:18] roygara commented on #30260
Since there has been no response.

#please-close

[2019-05-30 15:27] Csmithson-qh commented on #32216
That was it.
I had no idea i had to update those for this fucntionality, i had assuemd this was baked into the platform as a service portion of this.

Thank you VERY much for your solution!

[2019-05-30 15:27] #32216 closed

[2019-05-30 15:28] derrycoder opened #32436 "Error re Step 23 under Creating Pipeline"
Hi, under the 'Creating a Pipeline' section  and 'Step 23' there appears to be an error/or it is out of date as it does not match what happens when following in 'real life'.

The step 23 shows selecting Azure Blob Storage as the type and then clicking on Finish.  However, instead of the Finish button we have 'continue' and we are then taken to another side window/sub step titled 'Select Format', s

[2019-05-30 15:29] sundasfarooqcs commented on #32414
[](url)

[2019-05-30 15:30] StephenFerrero commented on #16216
@bally-singh Were you able to get resolution on this? We are having a similar problem

[2019-05-30 15:33] cconrado commented on #13879
@bwren @vasivara-MSFT was this ever updated? I dont see the note on the page?

[2019-05-30 15:46] shashishailaj commented on #32429
@jaffadog Thank you for your query . We will investigate and update further.

[2019-05-30 15:46] shashishailaj commented on #32428
@jaffadog  Thank you for your query . We will investigate and update further.

[2019-05-30 15:47] shashishailaj commented on #32426
@jackvinson Thank you for your query . We will investigate and get back to you on this.

[2019-05-30 15:50] Alberto-Vega-MSFT commented on #32337
@ac2707 In the section [Deploy the services](https://docs.microsoft.com/en-in/azure/iot-accelerators/iot-accelerators-remote-monitoring-deploy-local-java#deploy-the-azure-services) Did you follow [Create new Azure Resources](https://docs.microsoft.com/en-in/azure/iot-accelerators/iot-accelerators-remote-monitoring-deploy-local-java#create-new-azure-resources) or did you go with [Use Existing Azure

[2019-05-30 15:51] iainfoulds commented on #32165
@jakaruna-MSFT As @SteveLasker notes, this is an upcoming Helm 3 requirement, so there's no current action on the existing doc #please-close

[2019-05-30 15:52] sandeepraichura opened #32437 "Sysprep Unsupported Scenarios"
Can we add a document here for unsupported scenarios to run sysprep:
https://support.microsoft.com/en-us/help/828287/unsupported-sysprep-scenarios

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d299c34-ffe1-b930-bace-f43c8d8217ca
* Version Independent ID: b9eab64c-51a9-ad18-705c-15e553e0b2fe
* Content: [Create a manag

[2019-05-30 15:54] TranKennyK commented on #32084
This appears to have resolved itself. Thank you!

[2019-05-30 15:54] sanjeev3 commented on #32084
+ @ram-msft

@TranKennyK, I just tried the Callback feature in the same way (specifed the callback URL in the workflow definition and called the Job operation with the workflow name as the parameter) and it worked fine. I did not use an Azure function though to expose my URl. I just used a regular callback URL from the public webhook.site.

I would suggest testing your Azure Function's URL from ot

[2019-05-30 15:55] hilari0n opened #32438 "Azure Storage lifecycle management - Json schema"
I haven't found in the docs any information on if a Json schema exists for Azure Storage lifecycle management policy syntax.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a558a9e-10d0-ea34-8780-d9084f87f952
* Version Independent ID: 60dda4e0-7630-f358-aa3a-6a992eae61e2
* Content: [Managing the Azure Storage lifecycle

[2019-05-30 15:56] sanjeev3 commented on #32084
@TranKennyK. Thanks for the update that it's resolved.

[2019-05-30 15:58] Alberto-Vega-MSFT commented on #32337
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-30 15:59] sundasfarooqcs commented on #32414
I think the problem is in this class which is in this path of git project:

Path: https://github.com/Azure/azure-event-hubs/blob/master/samples/e2e/EventHubsCaptureEventGridDemo/FunctionEGDWDumper/WindTurbineMeasure.cs

/azure-event-hubs/samples/e2e/EventHubsCaptureEventGridDemo/FunctionEGDWDumper/ 	WindTurbineMeasure.cs

using System;

namespace FunctionEGDWDumper
{
    // TODO, move this class t

[2019-05-30 16:00] sanjeev3 commented on #32084
@TranKennyK, Can you please resolve or close this issue? Thanks!

[2019-05-30 16:02] #32084 closed

[2019-05-30 16:02] msangapu-msft commented on #32418
Hi @kenguest. Thank you for the feedback. I will update it.

Btw, you're also able contribute updates to our article. With so many moving parts in the cloud, sometimes things get missed. See this link if you'd like to contribute: https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents

[2019-05-30 16:06] #29035 closed

[2019-05-30 16:07] Sethu2488 commented on #32268
Thank you for the information

[2019-05-30 16:17] srrengar commented on #31803
The fix will start rolling out Monday and I will update here once it's deployed globally. In the meantime you could use one of the other 10 regions, I apologize for the delay.

[2019-05-30 16:17] spzSource opened #32439 "Connection string 'RunAs=CurrentUser' is not supported in .Net Core"
Under .NET Core with connection string (`AzureServicesAuthConnectionString`) equal `RunAs=CurrentUser`, token acquiring operation fails with the following exception:

[code]
That's because `AzureServiceTokenProvider` uses ADAL library which has limited support for IWA (Integrated Windows Authentication) for .NET Core, as under this runtime  it is not possible to determine the username (UPN) of the

[2019-05-30 16:18] tadhgclifford opened #32440 "Publish remote app from network drive on Azure WVD preview"
In Azure Windows Virtual Desktop, has anyone published an app from a network drive yet? I have an Azure file share, mounted as a mapped network drive on my session host pool. I managed to publish an .exe from the file share. However, it does not run every time that I launch it. It seems to be hit and miss as to whether it will run. When it doesn't run, I get the message "the app has failed to star

[2019-05-30 16:41] CeciAc commented on #32383
Hello, @cpolzer
 
We truly appreciate your comment and we strive to improve your experience in docs.microsoft.com. However, we need more information in order to be able to address your feedback. Can you please provide more detailed information and clarify your comment?
 
Kind regards,
Microsoft DOCS International Team

[2019-05-30 16:41] hiromingithub commented on #32329
Hi Jason,

Thank you for your kind review and suggestion.
I totally understand what you clarify but
our Premier EA customer would like to put more information.
Is it possible to be like this?

Resource VM total cores per subscription
Default limit 20-350 ※per region.
Maximum limit Contact support.

Resource VM per series, such as Dv2 and F, cores per subscription
Default limit 20-350 ※per region.

[2019-05-30 16:41] tadhgclifford commented on #32440
Seems to be when you close the remote app and the session changes status from active to disconnected - then when you try to open the app again, you get the message, "the program did not start on the remote computer." Tried using "Invoke-RdsUserSessionLogoff" in PowerShell but still can't open the remote app. This only appears to be an issue for the app that I have published from the network drive/

[2019-05-30 16:44] lawrencegripper commented on #32421
This is running on a Ubuntu 18.04 install, should I re-install the `strongswan` packages? I don't believe Ubuntu has support for `SSTP` in the main set of repositories, I am attempting to connect with `IKE2`.

My `/etc/ipsec.conf` file is as follows, certs are placed in the right location (I hope checked this a fair few times but still might have an issue here).

[code]

Is that error returned by

[2019-05-30 16:56] Adam-Smith-MSFT commented on #32438
@hilari0n Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-30 16:58] mike-urnun-msft commented on #32414
Hi @sundasfarooqcs Thank you for your feedback! We will review and update as appropriate.

[2019-05-30 16:58] mike-urnun-msft commented on #32433
Hi @MikeBarker-MSFT Thank you for your feedback! We will review and update as appropriate.

[2019-05-30 17:00] barclayn commented on #32021
@MPenny-nCipher Thank you for your message. I consulted with one of the Key Vault team PMs. He said

"This has nothing to do with new or old Az or AzureRm module. The issue here is that the user creating the Key Vault, does not Azure AD graph permissions to query and get the OID for the current user, which results in a key vault created without any default access policy. That is the warning. There

[2019-05-30 17:04] #17802 closed

[2019-05-30 17:06] MPenny-nCipher commented on #32021
I am aware that there has been no change to the BYOK toolset. However, prior to the 'Az' module change, it was possible to create Key Vaults and upload BYOK packages without having to add or modify any permissions on a Key Vault.

Now, this may not be as a result of the 'Az' module change (the last time I created a new Key Vault and uploaded a BYOK package was prior to the 'Az' module change and s

[2019-05-30 17:15] barclayn commented on #32021
@MPenny-nCipher your welcome. Please let us know if anything else comes up.

[2019-05-30 17:15] barclayn commented on #32021
#please-close

[2019-05-30 17:19] mimig1 commented on #27734
@ajlam - Can you provide an update?

[2019-05-30 17:21] BryanTrach-MSFT commented on #32416
@mkiernan Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-30 17:28] BryanTrach-MSFT commented on #32420
@icas-code Can you please provide us the URL of the Azure doc that you are having issues with?

[2019-05-30 17:29] BryanTrach-MSFT commented on #32424
@gitnwana can you please provide us the URL of the Azure doc that you are having issues with? We look forward to your reply.

[2019-05-30 17:31] BryanTrach-MSFT commented on #32425
@m4gosselin Can you please provide us the URL of the Azure doc that you are having issues with? We look forward to your reply.

[2019-05-30 17:33] m4gosselin commented on #32425
Hi @BryanTrach-MSFT

https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/jiramicrosoft-tutorial

[2019-05-30 17:34] BryanTrach-MSFT commented on #32431
@mfbhatt Can you please provide us the URL of the Azure doc that you are having issues with? We look forward to your reply.

[2019-05-30 17:37] BryanTrach-MSFT commented on #32425
@m4gosselin Thank you, we have assigned your feedback and will get back to you shortly.

[2019-05-30 17:38] Ayanmullick opened #32441 "Is there an Az. version of the preview module?"
Is there an  Az. version of the azurerm.sql [4.5.0-preview]  preview module?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e22db66f-542f-bc95-c232-fe775754a015
* Version Independent ID: c08d859c-0725-7944-ef32-8ee13ccbf8fa
* Content: [Failover groups - Azure SQL Database](https://docs.microsoft.com/en-us/azure/sql-dat

[2019-05-30 17:48] emsi opened #32442 "Unable to access"
Spits message:
```Selected user account does not exist in tenant 'MS Azure Cloud' and cannot access the application 'fa4345a4-a730-4230-84a8-7d9651b86739' in that tenant. The account needs to be added as an external user in the tenant first. Please use a different account.```

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-05-30 17:49] mfbhatt commented on #32431
https://github.com/Azure-Samples/ms-identity-android-native

[2019-05-30 17:53] BryanTrach-MSFT commented on #21602
@lorenzobrito Can you please open a new issue as we believe the original issue was resolved. This will help us to ensure we give the issue you are encountering the visibility that it deserves.

@danbord We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-30 17:53] #21602 closed

[2019-05-30 17:54] marroema opened #32443 "Resize VM disk??"
According to this article, "resize disk on protected VM is Supported". However, there is a note saying that "Resizing of disk is not recommended by Azure Backup."

How is resizing supported if its not recommended then?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e2dde49-662d-fc39-a03f-c67f7f86df67
* Version Indepen

[2019-05-30 17:56] craigshoemaker commented on #32149
@DarqueWarrior - I updated [the article](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection) based on your feedback. Let me know if you feel like the changes address your concern.

cc: @fplanjer, @benbelow

[2019-05-30 17:57] BryanTrach-MSFT commented on #29526
@daveberm We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-30 17:57] #29526 closed

[2019-05-30 17:57] roysanchez opened #32444 "Create RP File says to upload wrong file"
The Create Relaying Party File section tells you to upload the TrustFrameworkExtensions.xml instead of the newly created ROPC_Auth.xml

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c21f5240-6fe2-41ec-293a-2e3b33522706
* Version Independent ID: 095c2d6b-8691-74b6-99d5-db0ee1017194
* Content: [Configure the resource own

[2019-05-30 17:58] BryanTrach-MSFT commented on #30260
@mtwelve We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-30 17:58] #30260 closed

[2019-05-30 17:58] marroema commented on #31755
Maybe System State its actually not fully supported in PowerShell? If so, Documentation should say it

[2019-05-30 17:59] BryanTrach-MSFT commented on #30960
@clmccart It appears your PR was merged. As a result, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-30 17:59] #30960 closed

[2019-05-30 18:00] BryanTrach-MSFT commented on #31898
@MarekLani We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-30 18:00] #31898 closed

[2019-05-30 18:00] BryanTrach-MSFT commented on #32165
@tdihp We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-30 18:00] #32165 closed

[2019-05-30 18:01] BryanTrach-MSFT commented on #32186
@mgrabarz We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-30 18:01] #32186 closed

[2019-05-30 18:02] pvrk commented on #31755
@marroema , @femsulu : Sorry for the delay. We have already raised the PR for documentation. Should be visible by tomorrow or definitely by early next week.

[2019-05-30 18:04] BryanTrach-MSFT commented on #32359
@jdneilso Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-05-30 18:04] #32359 closed

[2019-05-30 18:04] arsenicks commented on #32008
Good! So we don't know yet what the meaning of the asterisk ?

[2019-05-30 18:06] BryanTrach-MSFT commented on #32373
@daviburg Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-05-30 18:06] #32373 closed

[2019-05-30 18:13] mimig1 commented on #24346
@rachel-msft - Can you provide an update?

[2019-05-30 18:15] romankiss opened #32445 "The Microsoft.Devices.DeviceTelemetry event is not enriched message"
The above document should be noticed that the Microsoft.Devices.DeviceTelemetry event is published before a message is mediated (enriched).

Is this by design to have possible two different telemetry messages from the IoT Hub?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8b17e80-2e14-b191-4c23-6be66c5f8584
* Version

[2019-05-30 18:16] gurubn commented on #32249
@MarileeTurscak-MSFT: Thank you for your reply on my question. Unfortunately , links you have provided did not give me clear picture. Sorry for not being clear enough on my question.

 I understand that  one licensed user can invite up to to 5 guest (and how calculation works as mentioned in the link you have mentioned). However, What I wanted to know is,
 In below link, There is a note "For using

[2019-05-30 18:18] Csmithson-qh opened #32446 "Az Automation Credentials not working in powershell 6"
Hello,
I have multiple hybrid workers and am experiencing an issue with one of them when it come to receiving credentials.
It is a powershell core install on a linux hybrid worker.

If i use python with it and the "automationassets.get_automation_credential" it works like a champ. But anytime a powershell script is executed, there does not seem to be any credential object returned. This also seems

[2019-05-30 18:18] Karishma-Tiwari-MSFT commented on #32437
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-30 18:21] Karishma-Tiwari-MSFT commented on #32442
Thanks for the question. We are currently investigating and will update you shortly.

[2019-05-30 18:22] Karishma-Tiwari-MSFT commented on #32427
Thanks for the question. We are currently investigating and will update you shortly.

[2019-05-30 18:26] Alberto-Vega-MSFT commented on #32339
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-30 18:27] Mike-Ubezzi-MSFT commented on #32441
@Ayanmullick Thank you very much for your interest in Azure cloud services. Please find all the information pertaining to the az sql PowerShell environment ([Link](https://docs.microsoft.com/en-us/powershell/azure/new-azureps-module-az?view=azps-2.1.0#upgrade-to-az)).

Please let us know if you have additional questions.

[2019-05-30 18:29] Mike-Ubezzi-MSFT commented on #32432
@NDSoul Thank you very much for the detailed feedback. I will submit a PR to be approved by the content team.

[2019-05-30 18:32] hpsin commented on #27666
Essential indicates that if the user does not have the given claim, and the IDP has a way of asking the user to add that value, then they will be interrupted during token issuance and asked to add that value.  For most values it is ignored (including all of AAD) but for MSA the `email` claim can be accrued. Note that this will force the user to enter and validate an email address, so only use this

[2019-05-30 18:35] Karishma-Tiwari-MSFT commented on #29614
@cynthn @ramankumarlive Can you please help provide the link to the script, so that I can edit the sample script. It is a simple fix, it's just that I am not able to find the doc to edit. Thanks :)
![image](https://user-images.githubusercontent.com/20851144/58655291-a97e2080-82ce-11e9-93b5-99b244c98858.png)

[2019-05-30 18:35] georgewallace commented on #29753
@bryandam Just getting back to this.. So I confirmed with our team that all the settings defined in our doc were provided by the Config Mgr team.

[2019-05-30 18:42] cynthn commented on #29614
Here are the repos for scripts:
https://github.com/Azure/azure-docs-cli-python-samples
https://github.com/Azure/azure-docs-powershell-samples

:)

[2019-05-30 18:48] MicahMcKittrick-MSFT commented on #32440
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-30 18:53] rayne-wiselman commented on #31772
@JustinGrote. No, no API for this. Thx!
#please-close

[2019-05-30 18:54] MicahMcKittrick-MSFT commented on #32404
@genlin can you please take a look at this one?

[2019-05-30 18:55] Mike-Ubezzi-MSFT commented on #32432
@srdan-bozovic-msft Can you approve a pull request?

[2019-05-30 18:56] Karishma-Tiwari-MSFT commented on #30182
@cynthn Let me know if you need help updating this. I am not aware of the steps/process to update the screenshots.

[2019-05-30 18:56] MicahMcKittrick-MSFT commented on #32177
Thanks @spacecat @jakaruna-MSFT

As suggested, the work around is to use 2.13.1

Looks like a PR was submitted to fix this so once it goes live the newer version should work

https://github.com/jetstack/cert-manager/pull/1694

[2019-05-30 18:56] #32177 closed

[2019-05-30 19:02] bryandam commented on #29753
Thanks for following up @georgewallace.  Earlier this month I was at a conference and talked to John Messec a bit about this and got him in contact with the ConfigMgr docs team: @aczechowski and @mestew.

I'd highly recommend having them review this document.  Because yes, those _are_ ConfigMgr settings, I don't disagree, I was wrong on that.  The thing is that those settings don't make much sense

[2019-05-30 19:16] Karishma-Tiwari-MSFT commented on #32341
@romitgirdhar Can you please help answer this customer's question on XE version? Could it be just that the doc is not updated? Thanks :)
CC: @cynthn

[2019-05-30 19:23] rayne-wiselman commented on #31404
Thanks for your feedback. Yes, this is currently accurate
#please-close

[2019-05-30 19:24] xyh1 commented on #31203
Hi @tpeiffer,

Thank you using immutable blobs and for bringing doc enhancement this to our attention. I am in the process of updating the documentation on both this page and the powershell page to make it clear that removing a policy is only for unlocked policies.

Thanks,
Xin

[2019-05-30 19:29] femsulu commented on #32434
@lhtan-dev Apologies you are hitting this issue. Would recommend re-posting this question to our support forum for [Azure Functions](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=AzureFunctions) where one of our capable engineers or community members can engage and respond with the best possible answer. Since this GH channel is reserved for documentation issues, we will now close

[2019-05-30 19:29] #32434 closed

[2019-05-30 19:34] SaurabhSharma-MSFT commented on #32073
@perl-tsai We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-30 19:34] #32073 closed

[2019-05-30 19:35] femsulu commented on #32430
@fedorovdima Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-05-30 19:37] femsulu commented on #32430
@fedorovdima Kindly share a screenshot of this issue from your end. unable to reproduce this behavior.

[2019-05-30 19:43] cijothomas commented on #31544
Already fixed this:
https://docs.microsoft.com/en-us/azure/azure-monitor/app/app-map#set-cloud-role-name

#please-close

[2019-05-30 19:45] #31544 closed

[2019-05-30 19:48] nick-lvt commented on #32093
Was having the same issue yesterday and this morning. Am no longer getting this error.

[2019-05-30 19:56] ecfan commented on #32373
@daviburg, thanks for raising this issue. I created a work item to address.

[2019-05-30 19:56] femsulu commented on #32446
@Csmithson-qh Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-30 19:56] MicahMcKittrick-MSFT commented on #32093
We expected to see a fix EOD yesterday but it might have been delayed. I will give it through EOD tomorrow to see if we can get the fix out. Else, I will reach out to the product team again for a new ETA

[2019-05-30 19:57] MicahMcKittrick-MSFT commented on #32252
I will close this for now. Since you are an FTE feel free to ping me offline for any further questions or comments :)

[2019-05-30 19:57] #32252 closed

[2019-05-30 19:57] MicahMcKittrick-MSFT commented on #32398
I will close this for now. As you are an FTE feel free to ping me directly for any further questions/ comments.

[2019-05-30 19:57] #32398 closed

[2019-05-30 19:58] jsmessier-Sherweb opened #32449 "Is this product being deprecated in the near future?"
Azure MFA Server on Premise, we are looking into this, but are told not to, because it will be deprecated in the near future. Is this exact?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75965afd-b39c-5bf0-bc9a-7520bddfd4af
* Version Independent ID: be56aebb-04fb-0518-017f-5a7115c8038b
* Content: [Getting started Azur

[2019-05-30 19:59] femsulu commented on #32443
@marroema Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-30 20:00] PatAltimore commented on #32339
@dpbangera95,

I'd check your connection string in truffle-config.js.

It should look something similar to this:

var alpha = "https://alpha-pablockchainmember.blockchain.azure.com:3200/FpW82DIRBcy1Qm78xoPwned";

Get the alpha transaction node connection string from the Azure portal.  Resource groups > yourResourceGroup > yourblockchainmember - Transaction nodes > alpha - Connection strings

Pat

[2019-05-30 20:00] MicahMcKittrick-MSFT commented on #32440
@tadhgclifford I would suggest reaching out to Tech Communities with this ask. We have product group members and engineers looking at that forum as well as others in the community who might have had the same problem.

https://techcommunity.microsoft.com/t5/Windows-Virtual-Desktop/bd-p/WindowsVirtualDesktop

I will close this as there is no action needed on this specific document at this time.

[2019-05-30 20:00] #32440 closed

[2019-05-30 20:06] iharrington opened #32450 "seccomp links outdated"
I would suggest that seccomp related links for additional info be directed to https://kubernetes.io/docs/concepts/policy/pod-security-policy/#seccomp . Per this page, as of K8s 1.11, the docker defaults annotation is deprecated. If not replacing these links, at least include the k8s docs link as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-05-30 20:11] abhi9866 opened #32452 "Power BI support to CosmosDB mongo API"
Hello, Team

We are looking at way to connect to cosmosdb mongo api using power BI.
Are there any MS/ open source supported connectors?

[2019-05-30 20:15] theonewolf commented on #28822
@jakaruna-MSFT this only affects certain regions right?  Our US / EU regions I think worked fine with it, we only noticed the problem in Central India.

[2019-05-30 20:16] MicahMcKittrick-MSFT commented on #32450
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-30 20:18] jeevansd commented on #32425
@m4gosselin Thanks for reporting the issue here. We are investigating in your issue in our environment. Can you please send an email to us on this alias SaaSApplicationIntegrations@service.microsoft.com so that we can do the direct conversation with you?

[2019-05-30 20:33] MarileeTurscak-MSFT commented on #32444
@roysanchez
Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-30 20:36] vhorne commented on #31412
#please-close

[2019-05-30 20:37] MarileeTurscak-MSFT commented on #32444
Thanks @roysanchez . I created a pull request to change this, for approval by @davidmu1 https://github.com/MicrosoftDocs/azure-docs-pr/pull/78370

[2019-05-30 20:37] #32444 closed

[2019-05-30 20:38] MarileeTurscak-MSFT commented on #32449
@jsmessier-Sherweb
Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-30 20:42] MarileeTurscak-MSFT commented on #32439
@spzSource
Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-30 20:48] nelfer opened #32453 "AJAX fails after a period of time"
Hi,
So this works great with pages. In fact, if I leave a page inactive for a while, once I navigate or move to another page, it will quickly validate the token (go to active directory site for verification) and take me to my intended page without noticing much of the redirects.
The issue is in REST API calls to the same application. If I leave a page unattended for a bit (same period of time as w

[2019-05-30 20:48] aljo-microsoft commented on #32061
User Operation:
In the New Service Fabric Service dialog, choose Stateful ASP.NET Core, name the service VotingData, then press OK.

User Operation Context:
Once your service project is created, you have two services in your application. As you continue to build your application, you can add more services in the same way. Each can be independently versioned and upgraded.

User Operation:
The next

[2019-05-30 20:50] ivratche opened #32454 "Where is Microsoft 365 E5?"
I do not see it listed above. Am I missing something, or was it missed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [Product names and service plan identifiers for licensing - Azure AD](https://docs.microso

[2019-05-30 20:51] TravisCragg-MSFT commented on #31412
@kumarallamraju We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-30 20:51] #31412 closed

[2019-05-30 20:52] danewber opened #32455 "Invalid Signature in Authorization Header"
I'm getting an error regarding an invalid signature in authorization header when running the Invoke-WebRequest part of the PowerShell Log Analytics post.  This code previously worked as is.  Is this method no longer valid?

Error:
Invoke-WebRequest : {"Error":"InvalidAuthorization","Message":"An invalid signature was specified in the Authorization header"}
At C:\Program Files\Network Insights\OMSa

[2019-05-30 20:53] #32061 closed

[2019-05-30 20:58] rayne-wiselman commented on #30706
Thanks for your feedback. The support matrix is correct. That thread states that you would need to treat the machines as physical servers and not as VMware VMs. Here's the article on that - https://docs.microsoft.com/en-us/azure/site-recovery/physical-azure-disaster-recovery

#please-close

[2019-05-30 21:07] KranthiPakala-MSFT commented on #32436
@derrycoder
Thank you for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2019-05-30 21:11] brianstringfellow opened #32458 "Changing Container Throughput from Shared to Dedicated, and Vice Versa"
I do not see the explicit mention about whether or not the container throughput can be changed from shared to dedicated, and vice versa. The quickstart template has a 'prereq' example that creates a container with dedicated throughput (https://github.com/Azure/azure-quickstart-templates/tree/master/101-cosmosdb-sql-container-ru-update). There is another quickstart template that creates containers

[2019-05-30 21:15] purduegrad06 opened #32459 "Next steps after identifying rule changes"
The steps needed to actually "fix" the duplicated rules are missing.  The Synchronization Rules Editor keeps the "original" rule enabled with the warning icon, and the "revised" new rule contains any updates to the original rule but is disabled.  This allows you to see the changes between the two rules, but the process to reconcile those rules isn't listed.  For example, if the "revised" rule cont

[2019-05-30 21:20] joshmosby opened #32460 "All Regions not available for Python Functions on Linux"
As reported here https://github.com/Azure/Azure-Functions/wiki/Azure-Functions-on-Linux-Preview, you can only deploy Python Linux Functions Apps in the following regions:
West US
East US
West Europe
East Asia

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a509bdc-f8b8-8488-7ab4-2c03cae6bfb5
* Version Independent ID: 3

[2019-05-30 21:27] MarileeTurscak-MSFT commented on #32426
Do you have an Azure AD premium license associated with the tenant and are you enabling this using a global administrator account? Has SSPR been set up properly according to the instructions? https://docs.microsoft.com/en-us/azure/active-directory/authentication/tutorial-sspr-pilot

Could you please check the URL https://account.activedirectory.windowsazure.com/ChangePassword.aspx https://password

[2019-05-30 21:27] wpitallo opened #32461 "Scaling Memory Cache Question"
Hi, so just to confirm, you don't require a Redis back plane if scaling out to 100 units? Also, what happens with caching, is IMemoryCache cache, shared across units or would you need to use a cache like Redis if you wanted to caching across units?

Thanks for the help!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f

[2019-05-30 21:27] Karishma-Tiwari-MSFT commented on #32393
Thanks for sharing the details. Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-30 21:40] MashaMSFT commented on #30695
Hi @dcallegh, just wanted to reach out and let you know I'm still looking into this, and I appreciate your patience :) Thanks!

[2019-05-30 21:52] Grace-MacJones-MSFT commented on #31286
Hi @wendlandreas, thanks for your patience. Please take a look at this blog post:   [Performing single sign out of all web apps using Azure AD](https://azure.microsoft.com/en-us/resources/samples/active-directory-dotnet-web-single-sign-out/). Hope that helps. Please let me know if you have additional questions.

We will now proceed to close this thread. If there are further questions regarding thi

[2019-05-30 21:52] #31286 closed

[2019-05-30 21:57] rbrayb opened #32462 "SAML metadata link is outdated"
This link:

https://login.microsoftonline.com/te/your-tenant/your-policy/samlp/metadata?idptp=your-technical-profile

is wrong.

B2C is moving to b2clogin.com.

If your tenant is company.onmicrosoft.com, the first part is "company".

The correct link is:

https://first part.b2clogin.com/your-tenant/your-policy/samlp/metadata?idptp=your-technical-profile

e.g.

https://company.b2clogin.com/company.

[2019-05-30 21:58] PatAltimore commented on #32218
Hi @amrikmahal, Thanks for opening the issue. I deployed a new Azure Blockchain Workbench. Deployed Hello Blockchain! from the GitHub repo. I didn't get the error. The sample in the repo is current. I'm not sure why you would be getting that validation error if you have the latest version of Hello Blockchain! sample.

Can you verify you have the latest sample code?

Thanks,
Pat

#in-progress

[2019-05-30 22:08] georgewallace commented on #32397
@jaryder I have added the link to the doc in a pull request and will get this merged.. Once this is merged it will automatically close this issue.

[2019-05-30 22:09] #32397 closed

[2019-05-30 22:15] mayurpuli commented on #28035
@Meller: Thanks for the share

[2019-05-30 22:28] Karishma-Tiwari-MSFT commented on #31989
@TBurda I checked with product team and they shared that this is a known issue with the Windows Server 2019 preview feature and they are working on it. The workaround at this point is to use Windows 2016.
I will share once I get the ETA from the product team on this.

[2019-05-30 22:47] Grace-MacJones-MSFT commented on #32461
Hi @wpitallo, thanks for the question! We are currently investigating and will update you shortly.

[2019-05-30 22:48] femsulu commented on #31755
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-05-30 22:48] #31755 closed

[2019-05-30 22:48] markwaksman commented on #9769
I'm using a AppGW:WAF V2 SKU and I'm unable to retrieve the health information from my backend pool (App Service web app - internal ASE). Status "UNKNOWN". NSG on AppGW subnet has the infrastructure ports allowed. I haven't tried a V1 SKU, as @wacsintegra mentions.

Symptom of v2 SKU?

I have a ticket open, expecting a call back. I will try to share here.

[2019-05-30 22:50] brucedkyle opened #32463 "When running on Linux, the remove and add fails"
When running on Linux, the remove and add the Azure ML extension does not add or remove.

Instead, you can use the following commands to update (or install)

[code]

Test the installation by using

[code]

On a Linux DSVM, the preceding code will update the version from 0.1.48 to the current version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-05-30 22:57] #31404 closed

[2019-05-30 23:04] sawatsky opened #32465 "Update on rollout of setting Pre-warmed Instances?"
According to the list of known issues of the [public preview plan](https://github.com/Azure/Azure-Functions/wiki/Premium-plan-known-issues), with regards to setting the number of pre-warmed instances, "[t]he fix is scheduled to roll out in May."

It is now May 30th, and I'd like to inquire as to the status of this functionality.

As of now, I am currently unable to adjust the number of pre-warmed

[2019-05-30 23:04] YutongTie-MSFT commented on #32463
@brucedkyle Thank you for your feedback, we will investigate it and get back to you soon.

[2019-05-30 23:14] julieMSFT commented on #8182
@djpirra
thanks for bringing this to our attention! This article has been removed from the documentation. Please see  [Design decisions and coding techniques for SQL Data Warehouse](https://docs.microsoft.com/en-us/azure/sql-data-warehouse/sql-data-warehouse-overview-develop).
I will proceed with closing out this Git Issue, but please feel free to respond should you need anything further. Thanks!

[2019-05-30 23:16] julieMSFT commented on #8182
#please-close

[2019-05-30 23:19] Mike-Ubezzi-MSFT commented on #32458
@brianstringfellow Thank you very much for bringing this to our attention. The templates need to be run in the following sequence, as this ARM template is not for a `Fixed` collection. You cannot go back and forth between the two modes. Once deployed as fixed, you need to export/import or migrate to a new instance with the desired functionality.

Create an Azure Cosmos DB containers for Core (SQL)

[2019-05-30 23:20] mike-urnun-msft commented on #32460
Hi @joshmosby Thank you for your feedback! We will review and update as appropriate.

[2019-05-30 23:21] mike-urnun-msft commented on #32465
Hi @sawatsky Thank you for your feedback! We will review and update as appropriate.

[2019-05-30 23:24] StephenWeatherford opened #32466 "Section about starting with [[ is incomplete"
From above (https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-authoring-templates#syntax):
&gt; To have a literal string start with a bracket [, but not have it interpreted as an expression, add an extra bracket to start the string with [[.

Turns out you only need the [[ if your string starts with a bracket *and ends with a bracket*.  I.e.:

   "value": "[ChefInSpec]Ins

[2019-05-30 23:25] YutongTie-MSFT commented on #32292
@al3xisb
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-30 23:25] #32292 closed

[2019-05-30 23:28] YutongTie-MSFT commented on #32347
@timtre Hi, I think following post can help you out for Google Play out of date issue:
https://stackoverflow.com/questions/37798911/how-to-update-google-play-services-for-android-studio-2-2-emulators

[2019-05-30 23:40] YutongTie-MSFT commented on #32178
@meirpr We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-30 23:40] #32178 closed

[2019-05-30 23:44] dotMorten opened #32467 "Does it _really_ work with Xamarin?"
Q/A says it'll work with Xamarin, but everyone seems to have problems with getting this to work. Was this answer based on guesswork? Please update that Q/A, or help the community get this working.

More discussion here:
https://github.com/Azure/azure-spatial-anchors-samples/issues/24

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2019-05-30 23:45] brianstringfellow commented on #32458
@Mike-Ubezzi-MSFT  I think if the documentation is updated to specifically call out that containers cannot be changed between **shared** throughput and **dedicated** throughput, that would help users understand that they can only apply a dedicated throughput update on the container that already is configured with dedicated throughput.

[2019-05-30 23:45] femsulu commented on #32364
also adding @qianw211

[2019-05-30 23:46] rimman commented on #32458
You can specify shared or dedicated throughput mode on a container only during the time of creation. We are adding this note to our docs. So to switch, you would need to create a new container and then move the data to it. Let me know if you need anything else. Thanks.

[2019-05-30 23:47] qianw211 commented on #32364
#please-close the redirection is fixed, and the link in FAQ should pose no more problems.  Thanks!

[2019-05-30 23:48] #32364 closed

[2019-05-30 23:56] #30706 closed

[2019-05-31 00:00] mtillman commented on #30596
@Paxxi - just an updated. GitHub support is looking into this issue. They've opened a bug internally to track the problem. If they have any updates, I'll let you know. No specific timeline on when that will be.

[2019-05-31 00:16] TomArcherMsft commented on #32383
@CeciAc Thanks for correcting my incorrectly addressed question!

[2019-05-31 00:20] RezaRahmati opened #32470 "Final Json"
As a suggestion I would suggest to include the final json file as well , since it's not clear where is the `Volumes` even in `Azure Resource Manager template` link provided

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b730fc95-951e-1acd-770d-88b3e6f2f6ef
* Version Independent ID: b6445fd2-46ea-aedd-2f2c-294faa660660

[2019-05-31 00:28] varghesep commented on #26147
I got the same error when I tried with my Global Administrator account. Is the Tenant hard coded in this application? Should that be an input to this application to use the Global administrator against the Tenant the user has?

[2019-05-31 00:29] #8182 closed

[2019-05-31 00:36] michaelsrichter opened #32471 "Image doesn't render nicely in dark theme."
Image doesn't render nicely in dark theme.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e87da282-6ace-4f90-e894-b41c7e50649e
* Version Independent ID: 7702ff20-f29d-321c-2516-92d448a6c333
* Content: [Distribute data globally with Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/distribute-data-global

[2019-05-31 00:39] rboucher commented on #9448
#please-close

[2019-05-31 00:57] carlpoole opened #32472 "My app would not function until I added a route for robots933456.txt"
Hello! My custom container kept failing to start correctly. I was able to find the logs and I saw my app logs showing that it had started correctly and was listening on port 80, but then it was quickly followed by a time out after 250 seconds or so and cease to function.

It contained a Node JS app made with express. When I reviewed the logs I noticed that my app would receive many requests for "r

[2019-05-31 01:07] BryanTrach-MSFT commented on #32452
@abhi9866 Can you please provide us the URL of the Azure doc that you are having issues with? We look forward to your reply.

[2019-05-31 01:19] v-maroge commented on #32408
@jakaruna-MSFT Understood. Thanks for the advice!

[2019-05-31 01:20] roygara commented on #32299
@clarkbreyman-yammer thank you for reaching out. I've reached out to the product team and started a discussion regarding this.

[2019-05-31 01:24] #9448 closed

[2019-05-31 01:28] MicahMcKittrick-MSFT commented on #32470
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-31 01:35] mparker commented on #27152
I also can not deploy F series. I have no quota limitation. Here is the error message when deploying using the Azure Service Management API:

`Value 'Standard_F4' specified for parameter 'RoleSize' is invalid. Allowed values are 'Standard_E20_v3,ExtraSmall,Small,Medium,Large,ExtraLarge,A5,A6,A7,A8,A9,A10,A11,Standard_D1,Standard_D2,Standard_D3,Standard_D4,Standard_D11,Standard_D12,Standard_D13,Sta

[2019-05-31 01:48] BryanTrach-MSFT commented on #32455
@danewber Can you please share the URL of the Azure doc that you are having issues with? We look forward to your reply.

[2019-05-31 01:58] BryanTrach-MSFT commented on #32445
@romankiss Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-31 01:59] totokliem commented on #32417
@AjayKumar-MSFT, Thanks for fast response, but today there is no error, i dont know what happen
here my VS installed product :
Microsoft Visual Studio Community 2019
Version 16.1.1
VisualStudio.16.Release/16.1.1+28922.388
Microsoft .NET Framework
Version 4.7.03056
Installed Version: Community
ADL Tools Service Provider   1.0
This package contains services used by Data Lake tools
ASP.NET and Web To

[2019-05-31 02:12] DavidRawling commented on #31122
Do we have any progress on this? Reporting to management is terrible - people are forever having to manually update reports with the human-readable names (no-one in management knows what a WACONEDRIVESTANDARD is).

[2019-05-31 02:17] elaan opened #32474 "Last requirement unclear"
The last requirement is unclear. It states "You must log in with a user that has global administrator or security administrator permissions on each subscription you want to connect.". Global Administrator is an AzureAD role. Security Administrator exists in both AzureAD and Azure. Please clarify which role is meant. Also, if the AzureAD roles are meant, please clarify whether they are needed on th

[2019-05-31 02:28] BryanTrach-MSFT commented on #23919
@tuthan @staal-it @capraynor There is no known issue with manually routing traffic. If you are still having issues, please reach out to azcommunity@microsoft.com with your subscription ID and the URL of this forum post so we can understand exactly what is failing.

[2019-05-31 02:31] Mike-Ubezzi-MSFT commented on #32110
@srdan-bozovic-msft Pull Request has ben completed. Can you sign off?

[2019-05-31 02:33] Mike-Ubezzi-MSFT commented on #32271
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-31 02:33] #32271 closed

[2019-05-31 02:49] Mike-Ubezzi-MSFT commented on #32279
@anosov1960 Can you help me understand what ERT is based upon?

For Geo-restore from geo-replicated  the ERT is < 12 Hours, regardless of service tier.
For Manual database failover the ERT is 30 Seconds, regardless of service tier.

Auto-failover groups has no ERT. I assume ERT pertains to the Azure SQL Server fail-over estimated recovery time and Auto-failover groups does not have ERT as it is st

[2019-05-31 02:49] KalyanChanumolu-MSFT commented on #32134
@Ccccche We are unable to reproduce the error you have described.
Request you to post this issue on our [MSDN Forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=opinsights&filter=alltypes&sort=lastpostdesc) so that we can work with you to troubleshoot further and assist you.

[2019-05-31 02:50] KalyanChanumolu-MSFT commented on #32134
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-31 02:52] Mike-Ubezzi-MSFT commented on #32328
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-31 02:52] #32328 closed

[2019-05-31 02:53] Mike-Ubezzi-MSFT commented on #32331
@Jaffacakes82 We made an update to the doc to temporarily remove the ATP reference until we figure out a replacement. Thanks agains for bringing this to our attention.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-31 02:53] #32331 closed

[2019-05-31 03:25] Mike-Ubezzi-MSFT commented on #32353
I went through this tutorial and in the Create an Azure Cosmos DB account [section](https://docs.microsoft.com/en-us/azure/cosmos-db/create-sql-api-dotnet#create-an-azure-cosmos-db-account) at **Step 6**, the `Go to resource` button takes you to the `Overview` blade and not the `Quick start` blade.

At the Add a database and a collection [section](https://docs.microsoft.com/en-us/azure/cosmos-db/c

[2019-05-31 03:56] jakaruna-MSFT commented on #32408
@v-maroge
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-05-31 03:56] #32408 closed

[2019-05-31 03:57] Mike-Ubezzi-MSFT commented on #32358
The Automated backups document ([link](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-automated-backups)) discusses the back-up process for two distinct deployment options for "SQL Database" in Azure. Azure SQL Database (Singleton and Elastics Pool) and Azure SQL Managed Instance. Azure SQL Database is provisioned as part of a federated cluster where you have been provisioned a s

[2019-05-31 03:59] Mike-Ubezzi-MSFT commented on #32353
@SnehaGunda I do not have sufficient access to update the screen captures to update this doc. Can I send you screen captures?

[2019-05-31 04:04] RohitMungi-MSFT commented on #32172
@areddish Could you please let us know if more details about the prediction URL's need to be documented as requested by @carloshm ? Please review the same and let us know your thoughts.

[2019-05-31 04:08] ac2707 commented on #32337
Followed - Create new Azure resources.

[2019-05-31 04:16] angoyal-msft commented on #32471
@michaelsrichter That's a great observation. Thanks for the valuable feedback. I have assigned this issue to the content author to help you better on this issue.
@markjbrown Could you please have a look at this issue and update the document appropriately.

[2019-05-31 04:20] YASWANTHM-MSFT commented on #32268
@Sethu2488, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-05-31 04:20] #32268 closed

[2019-05-31 04:21] benoithamet opened #32476 "Unable to delete a database while associated with job account but the job account has been deleted"
Hi there

arrived here while trying to get assistance with this preview feature
as test a job account has been created and associated with a test database.
Now the job account has been successfully deleted but I'm unable to delete the database because of this error
Failed to delete the database: <database>
ErrorCode: 400
ErrorMessage: The database <database> on server <Az SQL server> is used by jo

[2019-05-31 04:38] Leon99 opened #32477 "Wrong title"
"Configure customer containers" should read "Configure custom container"

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6489b871-9cf8-7c99-9834-076ec646d0e6
* Version Independent ID: fa5d2995-5833-c04b-2530-c100bcd1e76b
* Content: [Configure customer containers - Azure App Service](https://docs.microsoft.com/en-au/azur

[2019-05-31 04:43] SnehaAgrawal-MSFT commented on #32477
@Leon99 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-31 04:45] jakaruna-MSFT commented on #32208
@porrascarlos802018
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-05-31 04:45] #32208 closed

[2019-05-31 04:46] Leon99 opened #32478 "Wrong info about the default port"
"The web server in your custom image may use a port other than 80.  You tell Azure about the port that your custom uses by using the WEBSITES_PORT app setting. "

Well, my container uses port 80 and it doesn't work without explicitly specifying it in WEBSITES_PORT. According to the logs, it tries to ping my container on port 443 by default and then just fails:
[code]
Explicitly setting WEBSITES_PO

[2019-05-31 04:46] ac2707 opened #32479 "gitHub - deploy"
Provisioning failed - deployed to West US - followed the steps : https://github.com/Azure/azure-iot-predictive-maintenance/blob/master/Docs/cloud-deployment.md
please advise.

![image](https://user-images.githubusercontent.com/49182510/58682210-4d2e0600-838d-11e9-8aaa-192e26918ddc.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-05-31 04:47] Leon99 opened #32480 "Word missing"
"You tell Azure about the port that your custom uses by using the WEBSITES_PORT app setting."
"your custom CONTAINER uses", I guess?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6489b871-9cf8-7c99-9834-076ec646d0e6
* Version Independent ID: fa5d2995-5833-c04b-2530-c100bcd1e76b
* Content: [Configure customer container

[2019-05-31 05:03] shrirampophali commented on #32173
Is there any update?

[2019-05-31 05:12] jakaruna-MSFT commented on #32166
@ShadowPic I am closing this issue for now. If you need additional help, Please mention me in the comment and then we can continue the discussion

[2019-05-31 05:22] AshokPeddakotla-MSFT commented on #32467
@dotMorten Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-31 05:23] AshokPeddakotla-MSFT commented on #32479
@ac2707 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-31 05:26] RohitMungi-MSFT commented on #32412
@ShengChenMSFT I have come across a previous [issue](https://github.com/MicrosoftDocs/azure-docs/issues/30376) that had a similar problem with SSL. Could you please let us know if the provisioning_configuration() is also set for the AKS compute target?

Once the URI is printed. Could you please try to access it with https instead and check?

[2019-05-31 05:29] shrirampophali commented on #32173
Do we need to pass -Credential to the Invoke-WebRequest @Officeparams command?

[2019-05-31 05:37] #31703 closed

[2019-05-31 05:48] dcbrown16 opened #32483 "How to onboard individual SQL resources"
Is there a way to enable Standard pricing for one SQL server or managed instance at a time?
When enabling Advanced Threat Protection from the SQL side, it prompts you to upgrade your entire subscription. Doing it in the UI there somewhat insidiously onboards every VM and App Service you have along with all your SQL resources.
If you go to control the Pricing directly from Security Center (Coverage

[2019-05-31 05:57] #32166 closed

[2019-05-31 06:00] jakaruna-MSFT commented on #28822
Yes. The AD extension gets the region from the metedata service. For some regions, region name is not matching between the meta data service and the management apis.
Because of that this issue occurs. I tested with south india and it fails there. India regions are affected. Need to check with other regions.

[2019-05-31 06:05] anandkgpt03 opened #32484 "AADSTS65001 - v1 api - native app"
I've registered a native app and trying to authenticate using v1 api
But getting the error- **AADSTS65001: The user or administrator has not consented to use the application with ID**
![image](https://user-images.githubusercontent.com/14162318/58685053-0db8e700-8398-11e9-950d-30267423ac61.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-05-31 06:13] KranthiPakala-MSFT commented on #32436
@derrycoder Thank you for pointing this out. In the 'Select Format' window you have to select 'DelimitedText' and then click continue and provide the name and linked service and then click finish.

At this we have assigned this issue to the content author. They will evaluate and update the document as appropriate.

[2019-05-31 06:16] KranthiPakala-MSFT commented on #32436
@dearandyxu Could you please take a look at the feedback from @derrycoder and update the document as appropriate.

[2019-05-31 06:19] anandkgpt03 commented on #31318
Hi @MohitDhingra-MSFT @shashishailaj
I am trying to authenticate using v1 api

POST: https://login.microsoftonline.com/<tenant ID>/oauth2/token

resource: https://anandkgu4.crm8.dynamics.com
grant_type:password
client_id:<Client_ID of my App i want to create the id_token for>
username:<email of my user>
password:<password of my user>

Getting response:
{
    "error": "invalid_grant",
    "error_de

[2019-05-31 06:21] anandkgpt03 commented on #31318
POST: https://login.microsoftonline.com/tenantid/oauth2/token

The app is native

[2019-05-31 06:23] anandkgpt03 commented on #31318
@MohitDhingra-MSFT where I can find the **access_as_user** permission that you mentioned in screenshot

[2019-05-31 06:32] SnehaAgrawal-MSFT commented on #32480
@Leon99 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-31 06:48] cpolzer commented on #32383
Hallo,

Wow that’s a quick response! If Tom‘s answer is correct, not whole azure absinke support is dropped? Then this request can be closed.

Thanks a lot!

[2019-05-31 07:10] danewber commented on #32455
Sorry for not providing it sooner.

https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-collector-api

[2019-05-31 07:13] SadiqhAhmed-MSFT commented on #32466
@StephenWeatherford Thanks for the feedback. We are looking into this and will get back to you shortly.

[2019-05-31 07:17] fedorovdima opened #32487 "Typo?"
“What disk types support snapshots?
Premium SSD, standard SSD, and standard SSD...”

Should it be “standard SSD, and standard HDD”? Standard SSD is mentioned twice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 263abdef-3478-8261-6c4c-5d608698ba4e
* Version Independent ID: 61ef3094-fda7-d7b9-e19c-4e8f6a5b2f2d
* Conten

[2019-05-31 07:21] dcbrown16 commented on #31960
Thanks for checking in, @christiankuhtz !
The ambiguity of "SNAT, port masquerading not used" is purely in the way the comma is used with no conjunction. This is the "Method" column, so it could be read as "Method is SNAT, but port masquerading is not used" (correct) or "Methods SNAT and port masquerading are not used" (wrong). I just feel that wording could be improved.

I'm mainly just concerned

[2019-05-31 07:33] fedorovdima commented on #32430
Please find the screenshot attached. (Sorry for my handwriting.)

[2019-05-31 07:36] jakaruna-MSFT commented on #32487
@fedorovdima
Thanks for the question! We are investigating and will update you shortly.

[2019-05-31 07:46] sanjeev3 commented on #32084
+ @Microsoft PhotoDNA and Moderator Support<mailto:m2support@microsoft.com>.

This is resolved.
https://github.com/MicrosoftDocs/azure-docs/issues/32084

Thanks,

Sanjeev

From: Ram <notifications@github.com>
Sent: Thursday, May 30, 2019 2:25 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Sanjeev Jagtap <Sanjeev.Jagtap@microsoft.com>; Assign <assign@noreply.github.com>
Subject

[2019-05-31 07:50] madhanan commented on #10848
Hi All,

Is there a page where Agent settings like Interval , etc are documented ?

[2019-05-31 07:53] KrzysztofRosada commented on #8231
@TravisCragg-MSFT Thank you for the response, following up with questions:

Could you tell me, what types of attacks are mitigated by the basic protection?
Because it is not stated on the page - https://docs.microsoft.com/en-us/azure/virtual-network/ddos-protection-overview
Maybe you can explain what constitutes common network-level attacks?

If I understood you correctly, the azure region means t

[2019-05-31 07:53] julesman101 opened #32488 "Remove reference to the "sign up form" because Az Deployment Manager now in Public Preview"
Azure deployment manager no longer requires users to request access via the signup form according to this announcement: https://azure.microsoft.com/en-us/blog/announcing-service-monitor-alliances-for-azure-deployment-manager/

If true, please remove the following line from the top of the page -&gt; "Azure Deployment Manager is in private preview. To use Azure Deployment Manager, complete the sign-

[2019-05-31 08:03] ToruMakabe opened #32489 "All status of containers are always "Warning""
In "Containers" selector, the status of my containers are always "Warning".  It seems the status of container is "running", and the Container Status Reason is "-" in the detail pane on the right edge of the page.  These are neither "Waiting" nor "Paused".  Aside to that, the status of Pod is "OK".
I would appreciate it if you would give me some explanation about this contradiction.

---
#### Docum

[2019-05-31 08:05] chiners68 commented on #30919
I can confirm this Group Policy setting which is set in the Microsoft Security Baseline prevents the 'Reset Password' from working.

Computer Configuration > Policies > Administrative Templates > Windows components > App Runtime >

•	Block Launching Windows Store apps with Windows Runtime API access from hosted content

[2019-05-31 08:09] tadhgclifford commented on #32440
Thanks Micah. I have posted to Tech Communities now.

Tadhg Clifford
_______________________________________________________
[Email Signature Image-01]
Azyra
LONDON        +44 (0)207 700 3772
AMSTERDAM   +31 (0)20 20 50 345
DUBLIN         +353 (0)1 293 9800

www.Azyra.com<http://www.azyra.com/>

________________________________________________________
All business is conducted under the terms and

[2019-05-31 08:27] djpirra commented on #8182
Thank you all!

Em sex, 31 de mai de 2019 às 03:14, julieMSFT <notifications@github.com>
escreveu:

--
Melhores Cumprimentos,
Luis Simões

[2019-05-31 08:40] KalyanChanumolu-MSFT commented on #32203
@weitzhandler Thank you for the detailed feedback.
We will proceed to close this issue now.
If there are further questions/feedback regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-31 08:40] #32203 closed

[2019-05-31 08:41] KetanChawda-MSFT commented on #32316
@estimizrachi It is not possible to set this dynamically today. It needs to be a proper integer during the save time of the Logic App.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-31 08:41] #32316 closed

[2019-05-31 08:45] sannzay opened #32492 "Experiment fails with custom docker image"
I have  two steps in my experiment. One is "training and testing" step and other is "hosting" step in the pipeline. Both use same compute target (Azure ubuntu vm).

[code]
[code]

 Both my vm and custom docker has default python set to python3, yet the error persists. While the first step with default image succeeded, the second step with custom image failed, though they use common compute target.

[2019-05-31 08:46] KalyanChanumolu-MSFT commented on #32251
@juho-hanhimaki This issue is being assigned to the content author to evaluate and update as appropriate. 

[2019-05-31 08:55] fdebonneval opened #32494 "Microsoft peering max prefix length in v4 and v6"
Hi,

What is the max prefix length on the Express Route + Microsoft Peering ? In v4 and v6 ?
Is it possible to announce smaller than v4 /24 and v6 /48 ?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe411166-7001-5d28-c286-def540fa690d
* Version Independent ID: 224e81f0-7093-2f50-cf57-92470f77055a
* Content: [

[2019-05-31 09:14] daveberm commented on #29526
Can you remind me again as to the page I submitted this question on?

On Wed, May 29, 2019 at 11:31 PM Masha at MSFT <notifications@github.com>
wrote:

--

David Bermingham
Senior Technical Evangelist
Microsoft Cloud and Datacenter MVP (2010 - present)

Phone : 609.953.6819 | Mobile: 856.506.1717
Email : david.bermingham@us.sios.com

[2019-05-31 09:15] genlin commented on #32404
@SubbuKonathala  Could you share more detail about the issue?

[2019-05-31 09:23] SadiqhAhmed-MSFT commented on #32488
@julesman101 Thanks for the feedback. We are looking into this and will get back to you shortly.

@tfitzmac FYI.

[2019-05-31 09:25] SadiqhAhmed-MSFT commented on #32489
@ToruMakabe Thanks for the Comment. We are actively investigating and will get back to you soon.

@MGoedtel Any idea what could be causing this issue?

[2019-05-31 09:28] mfbhatt commented on #32431
Hi Bryan,

please find the link below

https://github.com/Azure-Samples/ms-identity-android-native

On Thu, May 30, 2019 at 6:34 PM Bryan Trach <notifications@github.com>
wrote:

--
Thanks & Regards,
Mohmmad Farooq Bhat
+91-9871720477

[2019-05-31 09:29] SadiqhAhmed-MSFT commented on #32306
@dcbrown16 While “restoring disk” for managed VMs, will create the managed disks in storage account specified. The behavior for unmanaged disks is restoring the blobs however, blobs are equivalent of disks in case of managed disks. Hope this clarifies!

[2019-05-31 09:30] jackvinson commented on #32426
I have no idea. (Which probably means “no”.)We have a business Office365 account. I’d like my colleagues to be able to reset their own password.

—
Jack Vinson, Ph.D.
(m) 847.212.5789

________________________________
From: Marilee Turscak - MSFT <notifications@github.com>
Sent: Thursday, May 30, 2019 5:27 PM
To: MicrosoftDocs/azure-docs
Cc: Jack Vinson; Mention
Subject: Re: [MicrosoftDocs/azure-d

[2019-05-31 09:33] abhinavcarlsberg opened #32495 "Issue with AAD connect"
Great article, thank you.

I just wanted to highlight few issue which i couldn't find on google not sure if that can be addressed here:-
Scenerio 1:- Synchronization service is working normally but the connectors both AAD and WAD properties are greyed out in staging mode .

Scenerio 2:- aad connect is installed properly and synchronization services is also working but when u open the tool to see t

[2019-05-31 09:39] #32487 closed

[2019-05-31 09:41] #32480 closed

[2019-05-31 09:44] SadiqhAhmed-MSFT commented on #32314
@dcbrown16 Thanks for bringing this up! We have updated the documentation and the changes have gone live. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-31 09:44] #32314 closed

[2019-05-31 09:48] navinjk commented on #32093
Help ! When we used the deploy to Azure option via the Link and created a HostPool this HostPool cannot be listed using the WVD PowerShell cmdlet. We are still stuck at the error when we access using the URL we see the message (It looks like your Admin hasn't set up any resources for you yet. Try again later or contact your admin.) Please let me know if we can get this fixed ASAP. Thank you.

[2019-05-31 09:56] phw198 opened #32496 "PowerShell to force license reprocessing"
Please provide a PowerShell cmdlet to find licensing errors on users/group and then programmatically force processing on them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb0fc0fc-b772-de61-258a-a6fd4ea9711c
* Version Independent ID: 04e86827-c8da-a01a-2cb5-aeb2fbcef610
* Content: [Resolve license assignment problem

[2019-05-31 09:58] SadiqhAhmed-MSFT commented on #32303
@dcbrown16 Appreciate your time here! Based on your feedback we've updated the document to reflect MARS agent support for "System State". We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-31 09:58] #32303 closed

[2019-05-31 10:00] win2000b opened #32497 "IIS connection update script"
The link for "IIS connection update script" does not work.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 790205f3-7780-49d2-58d8-3d162f426599
* Version Independent ID: 9308d3fb-a416-9614-a7ab-024610c69382
* Content: [Set up disaster recovery fo a multi-tier IIS-based web application using Azure Site Recovery](https://

[2019-05-31 10:04] SadiqhAhmed-MSFT commented on #32277
@SHAGGAR Appreciate your time and patience! Based on your comments we have added a Note in Fix SQL sysadmin permission to resolve user concern - [Link](https://docs.microsoft.com/en-us/azure/backup/backup-azure-sql-database) We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will

[2019-05-31 10:04] #32277 closed

[2019-05-31 10:08] SadiqhAhmed-MSFT commented on #32306
@dcbrown16 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-31 10:08] #32306 closed

[2019-05-31 10:15] #32477 closed

[2019-05-31 10:18] SnehaAgrawal-MSFT commented on #32477
@Leon99 Thanks for bringing this to our attention. I have updated it and it will reflect in couple of hours.

[2019-05-31 10:21] SnehaAgrawal-MSFT commented on #32419
@tsubasaxZZZ Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-05-31 10:31] devsmart opened #32498 "Test App Service with Host Entry"
In the doc https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-custom-domain

I'd like to see the possibility to test App Service using host entry since it is not practical for other domains without changing DNS.

Ideally, when a person needs to move some of the web sites to App Service it needs to be tested before changing DNS. So I'd like to know if there is any such way

[2019-05-31 10:42] vrishni commented on #32321
@SeaDude Thanks for the details. I think there is no option to pass the audio file in POST request from the swagger.

[2019-05-31 11:02] TheEye1806 commented on #32267
Thank you for the quick update of the tutorial, I got the system up and running now !

[2019-05-31 11:06] ashley-pillay opened #32499 "Sample project does not work & missing file"
The sample project throws a runtime exception because it can't find the roslyn compiler. After fixing this by updating nuget packages, the mdf data file cannot be found. Can't even get past the first step of running the the project.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72d855c6-51fd-a1da-5c44-8b44658c0211
* V

[2019-05-31 11:09] vdweij opened #32500 "Link on page to "Ark on Azure" is dead"
Current link "Ark on Azure" point to:
https://github.com/heptio/ark/blob/master/docs/azure-config.md

This project has been renamed and has been restructured, hence the link does not work anymore. The link below is new

https://github.com/heptio/velero/blob/master/site/docs/master/azure-config.md

I figure the name of the link should also be updated to "Velero on Azure" or maybe "Ark/Velero on Azu