[2022-08-23 15:51] JamesTran-MSFT commented on #97457
@dkmikthy
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-08-23 16:00] Grace-MacJones-MSFT commented on #97073
Since we have not heard back from you we will now proceed to close this thread.

[2022-08-23 16:00] #97073 closed

[2022-08-23 16:03] Grace-MacJones-MSFT commented on #97076
These matters are outside the scope of the doc. We try to keep issues scoped to doc feedback in this repro. we will now close out this thread.

[2022-08-23 16:03] #97076 closed

[2022-08-23 16:13] Rodrigossz commented on #97452
Another doc to be assigned to @gahl-levy

[2022-08-23 16:26] mark3grahams commented on #78589
What about if the user is directly assigned the role, but it is scoped to an Administrative unit?

[2022-08-23 16:29] mark3grahams commented on #78589
Also, this seems to have been an issue for over a year. Any plans to fix this? It is kind of hard to follow best practices if Microsoft releases products that do not take best practices into account.

[2022-08-23 16:49] naeisner opened #97459 "Zones in North Central US"
According to the Azure documentations, North Central US does not support Zone redundancy on Azure regions and availability zones | Microsoft Docs (https://docs.microsoft.com/en-us/azure/availability-zones/az-overview)
When we have tried it out using pick zones then it is returning ["1", "2", "3"] for North Central US

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2022-08-23 16:50] Witness327 opened #97460 "Xamarin.Azure.NotificationHubs.iOS is no longer relevant to .NET6.0"
I am working with .NET MAUI and see that the nuget package Xamarin.Azure.NotificationHubs.iOS is no longer relevant to .NET6.0 is this correct? If so is there a workaround or separate nuget package I can use?

I am following the documentation provided here:
https://docs.microsoft.com/en-us/azure/notification-hubs/xamarin-notification-hubs-ios-push-notification-apns-get-started

Visual Studio says

[2022-08-23 16:53] naeisner commented on #97459
Is this a valid region?

[2022-08-23 17:10] Justinha commented on #87336
@uowdaniel unfortunately the table was incorrect and there is no way to download the result codes. That section has been removed from the topic. Thanks for catching this.
#please-close

[2022-08-23 17:10] #87336 closed

[2022-08-23 17:10] GeethaThatipatri-MSFT commented on #97412
Thanks, @mikaelweave for checking, so the document will be updated accordingly.

[2022-08-23 17:14] Justinha commented on #95991
@sysadmin47 Thanks for catching this error! Since 2008 release is so old now, I changed it to say any supported DFL/FFL can be used. The main point is no change to DFL/FFL should be required.

#please-close

[2022-08-23 17:14] #95991 closed

[2022-08-23 17:17] Justinha commented on #85254
@JeffBley Thanks for asking this. I corrected the doc to say you only need to run it on one server. There is nothing wrong with running it on multiple servers, but it's unnecessary. We don't have a supported way to check current version at this time. Should that become available, it will be added to the topic.

#please-close

[2022-08-23 17:17] #85254 closed

[2022-08-23 17:47] hhunter-ms commented on #94823
Hi @safari137 - Per Dapr dev team:

Hopefully this helps!

[2022-08-23 18:09] Grace-MacJones-MSFT commented on #97460
thanks for bringing this to our attention. We have assigned this issue to the author to review further and take the next course of action.

[2022-08-23 18:13] tclev commented on #96416
I can't find any information about pg_repack being removed. It can still be selected on my server and I was looking for information on how to run the command.

[2022-08-23 18:24] ntechitsolutions opened #97465 "Configure secure LDAP for an AADDS"
[No issue, just Feedback to say that this entire page (https://docs.microsoft.com/en-us/azure/active-directory-domain-services/tutorial-configure-ldaps) is well documented/laid out/easy to follow and understand! - Great work on this one Team!]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 325a9114-36b2-a6b3-d0a4-19c52

[2022-08-23 18:25] #97465 closed

[2022-08-23 18:28] Witness327 commented on #97460
Thank you!

[2022-08-23 18:29] JamesTran-MSFT commented on #97465
@ntechitsolutions
Thank you for the wonderful feedback and I'm glad that you had no issues following the [Configure secure LDAP for an Azure ADDS managed domain](https://docs.microsoft.com/en-us/azure/active-directory-domain-services/tutorial-configure-ldaps) tutorial!

cc: @Justinha

[2022-08-23 18:31] bandersmsft commented on #97238
@AZGabe @SadiqhAhmed-MSFT I've asked for input from the EA billing team about this issue. As soon as I have information to share, I'll reply here.

[2022-08-23 18:36] cynthn commented on #80621
@kiranpradeep LOL - yep, it might be good to add in a line about running chmod on the folder :)

@mattmcinnes do you think you can add something into the doc about setting permission on the folder?

[2022-08-23 18:36] Witness327 commented on #97460
Thank you!

On Tue, Aug 23, 2022 at 2:09 PM Grace-MacJones-MSFT <
***@***.***> wrote:

--

*Andres Perez*
Follower of Jesus Christ
Husband & Father
Worship at Elevation Church
C#.NET Developer at MDM Commercial

[2022-08-23 18:37] bandersmsft commented on #97445
@mike-westaway You're right, we don't document the required permissions. Sorry about that. I'll get the article updated as soon as I have input from the Billing engineering team.

[2022-08-23 18:49] #97440 closed

[2022-08-23 18:57] maschAtWork opened #97466 "Misleading "Export ARM Template" Command"
The example export ARM template code blocks don't call out the "testResourceGroup" that needs to be replaced by the user's own resource group name.

Example command should look like:
npm run build export C:\DataFactories\DevDataFactory /subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/**<rgName>**/providers/Microsoft.DataFactory/factories/**<dev datafactory name>** ArmTemplateOutp

[2022-08-23 18:59] mumurug-MSFT commented on #97440
@pgilhuijs We made the necessary changes, and it will be published soon. Thanks again for sharing the feedback.

[2022-08-23 19:09] spelluru commented on #97401
@richardcl1 - Apologize for the inconvenience. I have updated the article with an important note, which will be published around 3:30 PM PST today. Thanks.

#please-close

[2022-08-23 19:09] #97401 closed

[2022-08-23 19:11] charleswm opened #97467 "Not documented how to interactively read data assets (in a notebook for example)"
Going through the docs, it is not clear how one could read data assets into a notebook. The docs only show how to use data from a job. Is this functionality unavailable or just not documented?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5c92a0e-152f-39b0-a27f-ad608ffbcaf7
* Version Independent ID: 867dba15-0ead-ee8

[2022-08-23 19:17] davidsmatlak commented on #97102
I submitted the fix for this issue and after the pull request is merged, this issue will automatically close. After the merge, the updated document will be online within 24 hours.

[2022-08-23 19:49] cynthn commented on #22501
@Karishma-Tiwari-MSFT Is there a way to get this feedback to the storage team?

[2022-08-23 19:51] AlMataMS opened #97468 "Need the creator of this KB to add an appliance to the list, can you reach out to me."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 779fbece-f67b-28ef-143e-f58ecfa29b1d
* Version Independent ID: fe532684-022f-9006-9179-c534fd923171
* Content: [About VPN devices for connections - Azure VPN Gateway](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-vpn-devices#kno

[2022-08-23 19:53] AjayKumar-MSFT commented on #97380
@craigshoemaker, Requesting your review comments on this. Thanks!

[2022-08-23 20:00] mcdonamw opened #97469 "Page seems outdated"
I'm trying to find out how to enable Event Auditing on my Key Vaults, but this page shows completely different information that exists on my Portal page.  There is no "AuditEvent" option for keyvaults today.  Just Audit Logs, Azure Policy Evaluation Details, and All Metrics.

As such I am not sure how to proceed.  Is Audit Logs the same as AuditEvent?

---
#### Document Details

⚠ *Do not edit thi

[2022-08-23 20:08] spelluru commented on #96327
The article has been updated.

#please-close

[2022-08-23 20:08] #96327 closed

[2022-08-23 20:16] #97102 closed

[2022-08-23 20:24] rboucher commented on #86758
Hi Rachael.  So sorry for the very late reply. This slipped through the cracks. I'm sending you email now.

[2022-08-23 20:38] rboucher commented on #86758
Closing given we are in email contact. #please-close

[2022-08-23 20:38] #86758 closed

[2022-08-23 20:44] amsliu commented on #94393
@nikki-c Thank you for the feedback and we apologize for the delayed response. This suggestion has now been incorporated into the PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/208908. #please-close

[2022-08-23 20:44] #94393 closed

[2022-08-23 20:47] amsliu commented on #95511
@nikki-c Thank you for the feedback and we apologize for the delayed response. This suggestion has now been incorporated into the PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/208908. #please-close

[2022-08-23 20:47] #95511 closed

[2022-08-23 20:50] MarileeTurscak-MSFT commented on #97469
@mcdonamw
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-23 21:06] spelluru commented on #97191
@OcasoProtal - Thanks for the feedback. I have updated the article, which will go live in an hour.

#please-close

[2022-08-23 21:06] #97191 closed

[2022-08-23 21:15] ChaitanyaNaykodi-MSFT commented on #97468
Hello @AlMataMS,
Thank you for reaching out.

Can you please share some additional information on which device you want to add? Thank you!

[2022-08-23 21:37] tfitzmac commented on #97443
@chowcz - thanks for this feedback. Yes, you do need permissions to create the resources in the template spec. I'll add that info to the article.

[2022-08-23 22:28] YutongTie-MSFT commented on #97467
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-23 22:46] cwiederspan opened #97471 "When you delete..."
There's a section that says `When you delete the pod and the persistent volume is no longer required, the reclaimPolicy...`, but should it say, `When you delete the persistent volume, ....`?

The implication being whether or not deleting the _last_ pod will trigger the PVC to be deleted, thus deleting the underlying Azure Storage...?

---
#### Document Details

⚠ *Do not edit this section. It is r

[2022-08-23 22:46] LucianFrango commented on #92558
Hi @mimckitt - any timeline on when v5 SKUs will be added to the public doco?

[2022-08-23 22:48] tfitzmac commented on #97443
I have added a section with required permissions. It should get published tomorrow.

#please-close

[2022-08-23 22:48] #97443 closed

[2022-08-23 23:11] tspring418 opened #97473 "Regarding individual triggers for the required private endpoints for a storage account"
Step 5 shows you only need certain private endpoints enabled for function apps, however, this doesn't distinguish if you have triggers enabled. For instance, a queue trigger will also need a PE for the storage queue to access it. If not the host will crash, perhaps a note could be added that this just refers to a default function app.

![image](https://user-images.githubusercontent.com/22082241/18

[2022-08-23 23:17] Copennin opened #97474 "Steps in our docs are unclear on how to connect Video Indexer with Custom Vision"
The Steps are unclear in the docs: https://docs.microsoft.com/en-us/azure/azure-video-indexer/animated-characters-recognition-how-to#connect-a-custom-vision-account-with-api

Step 3, in particular, makes no sense. Provide this information where exactly?

It would also help if the documentation provided examples of what these key values looks like since we're, potentially, working with 3 different

[2022-08-23 23:19] Justinha commented on #96944
@PaulDedula thanks for raising this. I shared with our engineering team, and they will prioritize this conversion for the script. I don't have an ETA, but I've created an internal work item to incorporate your suggestions. I am closing this issue for now, but feel free to comment here as necessary. #please-close

[2022-08-23 23:19] #96944 closed

[2022-08-24 00:39] RyanHill-MSFT commented on #97444
Thanks for the feedback [@benfoster](https://github.com/benfoster). I have pending PR open linked to this issue with this fix.

[2022-08-24 00:44] RyanHill-MSFT commented on #97445
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-08-24 00:57] davidsmatlak commented on #73550
@ascott18 I noticed while making some other changes that the `body` property for the `ArmApiControl` is documented as an object. The commit history shows someone submitted the fix but the issue wasn't closed. I made some other updates to the article and when that pull request is merged, this issue will automatically close.

[2022-08-24 01:22] Karishma-Tiwari-MSFT commented on #97225
I have reached out to the internal team to confirm on this. Thanks.

[2022-08-24 01:23] DanielLarsenNZ opened #97476 "Azure search sub-resource is still incorrect."
See #85230. This has not been fixed, or has regressed.

[This table](https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-overview#private-link-resource) still reads:

[code]

It should read:

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b006a616-2f2f-8ecf-8b80-fd0a3cc62090
* Version Independent

[2022-08-24 01:44] Karishma-Tiwari-MSFT commented on #97164
@cynthn Is this something you will be able to help with? Looks like there was a document on Copy image versions across shared image galleries as mentioned here : https://azure.microsoft.com/en-au/updates/shared-image-gallery-nov2020-features/

But the document url now point to [Create an image definition and an image version](https://docs.microsoft.com/en-us/azure/virtual-machines/image-version?ta

[2022-08-24 02:36] kongou-ae opened #97477 "Need to add the URL for Azure Cloud Shell"
[Enter feedback here]

Hi PG,

I guess that this we need to add "ux.console.azure.com" or "*.console.azure.com" to "General Azure services and documentation" section for the customers who use Azure Cloud Shell.

Best regards.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8336877-da93-ecd6-829a-0cc068caaf29
* Version

[2022-08-24 02:54] #73550 closed

[2022-08-24 03:35] CHEEKATLAPRADEEP-MSFT commented on #97455
@larryclaman  Thanks for the feedback! We are investigating and will update you shortly.

[2022-08-24 03:37] CHEEKATLAPRADEEP-MSFT commented on #97456
@Imhutch Thanks for the question! We are investigating and will update you shortly.

@bmansheim Can you please share the insights on the above ask?

[2022-08-24 03:38] CHEEKATLAPRADEEP-MSFT commented on #97459
@naeisner  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-08-24 03:41] Givary commented on #96899
@IAmPetersCode As per offline discussion we had, i am marking this issue as resolved.

[2022-08-24 03:41] #96899 closed

[2022-08-24 04:23] KapilAnanth-MSFT commented on #97476
@DanielLarsenNZ , thanks for your feedback. We shall review this and get back to you shortly!

[2022-08-24 04:24] jdvuyk opened #97480 "Scoping operators missing from this articles"
There are a number of scoping operators that are available, but have no explanation as to their purpose or use.
If they are valid, an explanation is required.  If they are not supported then an **explicit** exclusion is required to explain this.

The following are missing from this article.

- &
- !&
- Present
- Valid Cert Match
- Ends With

---
#### Document Details

⚠ *Do not edit this section.

[2022-08-24 04:25] jdvuyk commented on #97480
![image](https://user-images.githubusercontent.com/15186498/186328609-fff50a87-f6b2-428f-8e4a-d0838231a4e1.png)

[2022-08-24 04:33] MayankBargali-MSFT commented on #97473
@tspring418 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-08-24 04:39] ShaikMaheer-MSFT commented on #97466
@maschAtWork Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-08-24 04:55] shishir2019 opened #97481 "Adding new SKU "Power Pages vTrial for Makers""
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-08-24 04:58] PriyankaRudramaina commented on #97471
Hello @cwiederspan,

Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-08-24 04:58] PriyankaRudramaina commented on #97471
@zr-msft - Please help to review this.

[2022-08-24 05:14] YashikaTyagi-MSFT commented on #97480
@jdvuyk
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-24 05:26] VikasPullagura-MSFT commented on #97455
@cynthn
Can you please check and add your comments on this doc update request as applicable.

[2022-08-24 05:31] RohitMungi-MSFT commented on #97474
@Juliako Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-08-24 05:35] kaylumah commented on #34378
Did any of you figure this out?

[2022-08-24 05:40] VikasPullagura-MSFT commented on #85773
@mimckitt
Can you please check and add your comments on this as applicable.

[2022-08-24 05:41] VikasPullagura-MSFT commented on #94943
@rfutrick
Can you please check and add your comments on this.

[2022-08-24 05:44] VikasPullagura-MSFT commented on #97477
@kongou-ae
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-24 05:44] VikasPullagura-MSFT commented on #97477
@JnHs
Can you please check and add your comments on this doc update request as applicable.

[2022-08-24 05:45] the-sentinental-guy opened #97483 "Feature coverage issue"
The page says 'Security Policy and Regulatory Compliance' feature is not included in Defender for Servers Plan1 but as we all know this is a 'Basic' free tier feature in Microsoft Defender for Cloud.

Check here: https://docs.microsoft.com/en-us/azure/defender-for-cloud/enhanced-security-features-overview#:~:text=Basic%20security%20features,your%20Azure%20resources.

Can I have a clarification on

[2022-08-24 05:53] karthikbhat6 opened #97484 "Multiple locales feature is not mentioned"
It is not clear if the batch transcription supports multiple languages or locales like the SDK.
Please mention if it is supported or not. If not supported, then possibility of it being supported in the future releases should be mentioned.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73fb7e76-fb80-c420-2efe-e3ca3a27b7

[2022-08-24 06:04] SnehaAgrawal-MSFT commented on #96495
@roshithrajan Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please let us know, happy to help.

[2022-08-24 06:04] #96495 closed

[2022-08-24 06:46] AjayBathini-MSFT commented on #97320
@mlibenocg
we reviewed your statement and came to the point

When the on-premises provisioning agent gets a request to create a new AD account, if you go with
 "Auto-generated password"
it automatically generates a complex random password designed to meet the password complexity requirements defined by the AD server and sets this on the user object. This password is not logged anywhere.
If you go

[2022-08-24 06:49] KapilAnanth-MSFT commented on #97367
@shyambasnet1, I see @vhorne, the author, has addressed your issue.

I shall now proceed with archiving the thread. Please do reopen the thread if you need further assistance.

[2022-08-24 06:49] #97367 closed

[2022-08-24 06:58] conraddd commented on #96519
Found the solution, this feature needs to be enabled from the admin console's "workspace setting".

[2022-08-24 06:58] #96519 closed

[2022-08-24 07:22] ggailey777 commented on #85253
This has been added in this commit: https://github.com/MicrosoftDocs/azure-docs-pr/commit/71c9c80917b488ce4e3920cf39038eccc9f9314d #please-close

[2022-08-24 07:22] #85253 closed

[2022-08-24 07:23] ganeshbalaji opened #97486 "Unclear steps for alternate scenario"
The document states that
'You can configure Site-to-Site VPN as a secure failover path for ExpressRoute, or use Site-to-Site VPNs to connect to sites that are not connected through ExpressRoute. We will cover the steps to configure both scenarios in this article.'

However the steps pertaining to 'use Site-to-Site VPNs to connect to sites that are not connected through ExpressRoute' are not explic

[2022-08-24 07:26] mkrasmus commented on #97354
@ram-msft

I believe your recommendations are too obscure for someone who at the 'tutorial level'. This is what I noted when I raised the issue. Why not just update the script in the tutorial for others to access and not have to dig around github for a solution - if they even know what this is?

[code]

[2022-08-24 07:36] KapilAnanth-MSFT commented on #97486
@ganeshbalaji, Thanks for your feedback.

Establishing an Azure VPN S2S Connection is a straightforward configuration.
Even with ExpressRoute co-existence, the process is the same as any normal S2S connection.
Hence there is no step-by-step discussion.

You can refer to the following to establish S2S :
https://docs.microsoft.com/en-us/azure/vpn-gateway/tutorial-site-to-site-portal

Please let us k

[2022-08-24 07:46] ganeshbalaji commented on #97486
@KapilAnanth-MSFT Thanks for the response. My query is not about 'Azure VPN S2S Connection'. Its about the below article
https://docs.microsoft.com/en-us/azure/expressroute/expressroute-howto-coexist-resource-manager#to-enable-transit-routing-between-expressroute-and-azure-vpn
wherein the details for setting up 'Site-to-Site VPNs to connect to sites **that are not connected through ExpressRoute**'

[2022-08-24 08:14] YashikaTyagi-MSFT commented on #97483
@the-sentinental-guy
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-24 08:35] RohitMungi-MSFT commented on #97360
@JeroenMBooij It looks like you have already created an issue on the SDK repo to support creation of workspace in a different workspace. Since, this is a service limitation currently I will go ahead and close this issue since no update is required currently in the documentation. Thanks!!

[2022-08-24 08:35] #97360 closed

[2022-08-24 08:38] AjayBathini-MSFT commented on #97418
@Justinha

I tried to perform the repro regarding the customer query and i forced user to re-register with SSPR and its not working for me too. Could you please help in resolving this issue.

Thanks.

[2022-08-24 08:45] YashikaTyagi-MSFT commented on #97469
@msmbaldwin
I have gone through the document and did the repro and There is no "AuditEvent" option for keyvaults today. Just Audit Logs, Azure Policy Evaluation Details, and All Metrics. Could you please update the document as per the latest screenshot mentioned below.
![image](https://user-images.githubusercontent.com/110381034/186372776-c49bfe6e-9385-4e0f-92dd-9ff418296bd5.png)

[2022-08-24 08:56] srinims opened #97490 "Safe url list doesn't include microsoft authentication URL"
[Enter feedback here]
Hi,

We have to enable access to login.microsoftonline.com additionally apart from below. Not sure why it has not been included. Please add them in required urls list.

Kind Regards
Srini

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 406f8b6d-6471-c983-c102-9d60a57964cd
* Version Independent ID:

[2022-08-24 09:13] VikasPullagura-MSFT commented on #97490
@srinims
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-24 09:13] VikasPullagura-MSFT commented on #97490
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2022-08-24 09:45] pejuborg opened #97491 "Update for new Sweden Central region"
Update for new Sweden Central region

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8f86bd0-7555-9be2-1015-76e3ab88062f
* Version Independent ID: 1d310402-fadf-d602-048a-b2e16bd86a7e
* Content: [Supported regions for linked Log Analytics workspace](https://docs.microsoft.com/en-us/azure/automation/how-to/region-mappin

[2022-08-24 09:54] CHEEKATLAPRADEEP-MSFT commented on #97481
@shishir2019  Please help with the link to the document on which the above document feedback request is created.

In case your query is not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community members

[2022-08-24 10:07] tenielg opened #97493 "Word change"
4. Select **Configure retention** from the action bar.
Should read **Configure policies** from the action bar, in line with the picture.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5064e69-1fb5-5f59-222c-ee4a9487bd7f
* Version Independent ID: 53c1e7d8-2e36-89da-6a1b-524bdef81007
* Content: [Change automated backup

[2022-08-24 10:17] KapilAnanth-MSFT commented on #97486
@ganeshbalaji, I understand that you are looking for Transit Routing (OnPremises1 to OnPremises2 connectivity).

Again, in the same docs, at the very last,
A reference to the document using Azure Route Server is provided.
![image](https://user-images.githubusercontent.com/107474080/186393669-d424ee9a-dae6-4dea-bb11-a9b01f94b38e.png)

You can follow the link to set up Branch-to-Branch
https://docs.

[2022-08-24 10:25] ruanvjinscorep opened #97494 "Please add python examples"
Would it please be possible to show the python version of these examples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3033ce85-b59b-f399-8348-04d00b3a3f55
* Version Independent ID: b3c2d8d0-8dca-5bc6-b12f-a93f76642047
* Content: [Getting started with Azure Cosmos DB Partial Document Update](https://docs.microsoft.co

[2022-08-24 10:26] paulspinkstr opened #97495 "Typo in step 4 of "Managing virtual network rules""
Section: Managing virtual network rules
Step 4: Add a network rule for a virtual network and subnet.

Azure CLI command given is:

subnetid=$(az network vnet subnet show --resource-group "myresourcegroup" --vnet-name "myvnet" --name "mysubnet" --query id --output tsv)

But it should be:
$subnetid=(az network vnet subnet show --resource-group "myresourcegroup" --vnet-name "myvnet" --name "mysubnet"

[2022-08-24 10:28] SnehaAgrawal-MSFT commented on #97328
@mudithac We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2022-08-24 10:28] #97328 closed

[2022-08-24 10:57] feliasson commented on #93200
_Waves from August month_ @nzthiago

[2022-08-24 11:00] shaktisingh-msft commented on #97493
Hi @tenielg,

Thanks for sharing this observation. We are looking into it and get back with an update.

[2022-08-24 11:09] shaktisingh-msft commented on #97493
Hi @SudhirRaparla ,

Could you please help in getting this document word updated:
![image](https://user-images.githubusercontent.com/110027638/186403958-6bc9b8c0-71fa-45ee-84be-65c3b1478577.png)

[2022-08-24 11:10] #94907 closed

[2022-08-24 11:16] GitaraniSharma-MSFT commented on #97364
@Ravnsgaard , I'm following up on my previous comment to check if you have any further queries. Kindly let us know if the above helps or you need further assistance on this issue.

[2022-08-24 11:17] shaktisingh-msft commented on #97494
Hi @ruanvjinscorep,

Thank you for sharing feedback. We will share updates soon.

[2022-08-24 11:19] Ravnsgaard commented on #97364
Hi

The list of IP ranges has absolutely no relation to the request here.
What i was asking for was a **geojson** file with the network, edge and datacenter locations (meaning longitude/latitude and physical routes).

[2022-08-24 11:23] RohitMungi-MSFT commented on #97484
@karthikbhat6 The batch transcription API supports multiple locales. You can retrieve the list using the [GetSupportedLocalesForTranscriptions](https://westeurope.dev.cognitive.microsoft.com/docs/services/speech-to-text-api-v3-0/operations/GetSupportedLocalesForTranscriptions/console) API with a GET call.

This is mentioned in the batch transcription operation table at the top of this page. I hope

[2022-08-24 11:24] GitaraniSharma-MSFT commented on #97364
@Ravnsgaard , I don't think such a geojson file readily exists but we can check with the backend team.

@mbender-ms , Could you please provide your insights here? Do we have a geojson file with the Azure network, edge and datacenter locations (meaning longitude/latitude and physical routes)?

[2022-08-24 11:34] karthikbhat6 commented on #97484
@RohitMungi-MSFT I wanted to send more than 1 locale in a single API. Is that possible?

[2022-08-24 11:42] melbritins opened #97496 "Support for additional Azure attribute used for provisioning - Office location"
Hi there,

The company I work for is in the process of enabling SSO access for our hosted ServiceNow instance.

Can I please request support for the Office Location attribute on the Azure AD side. We'd like to send the values across to the equivalent location attribute on the ServiceNow side.

Assuming this is possible, approximately how long will it take for the attribute to become available.

Re

[2022-08-24 11:44] shyambasnet1 commented on #97367
Thanks a lot.

On Wed, Aug 24, 2022 at 1:49 AM Kapil Ananth ***@***.***>
wrote:

[2022-08-24 11:49] larryclaman commented on #97455
OP here... I missed the sublet of the statement.... it says you can use existing provisioner scripts (which is true), and not that you can use existing JSON/HCL packer configs (which I incorrectly read it was ).

Closing this issue.

[2022-08-24 11:49] #97455 closed

[2022-08-24 12:41] SetTrend opened #97499 "Please add information pertaining to Managed Identities to the "Deploy Bicep files by using GitHub Actions" page"
Some MS documentation pages recommend to use Managed Identities in favor of Service Principals.

Would you mind elaborating on how to apply a Managed Identity to the below mentioned page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 697f2ea2-3710-1e09-2f3d-51394d780158
* Version Independent ID: 382e3393-910c-7359-ccd

[2022-08-24 12:43] DevSecNinja opened #97500 "How are offline VMs affected by the DfC Secure Score?"
The following question would be a nice addition to the FAQ. Imagine two scenarios:

1. You deploy a VM and shut it down before Defender for Cloud (DfC) has the chance to scan it.
2. You deploy a VM and shut it down after DfC scanned the VM.

What will happen with the recommendations and the Secure Score? For the first scenario I can imagine that no recommendations will be displayed, and the Secure

[2022-08-24 12:56] EddyKleinjan commented on #97240
I re-tested and found out that it doesn't work when running the code from Visual Studio Code (VSC) that is working with PowerShell 7.2. If I run the script outside VSC, a different version of PS is used (5.2) and it runs fine.

[2022-08-24 13:02] sara1511 opened #97501 "To access deployment logs from /site/deployments/ path"
Please add the deployment log folder path in the below Access Log files section for Linux:
https://docs.microsoft.com/en-us/azure/app-service/troubleshoot-diagnostic-logs#access-log-files
Its mentioned as below
Deployment logs | /LogFiles/Git/ and /deployments/ | Contain logs generated by the internal deployment processes, as well as logs for Git deployments.
-- | -- | --

The Linux app service de

[2022-08-24 14:17] RohanRao27 opened #97502 "Event handler for cache invalidation uses deprecated service bus package"
This section: [Register event handler to reload data from App Configuration](https://docs.microsoft.com/en-us/azure/azure-app-configuration/enable-dynamic-configuration-dotnet-core-push-refresh?tabs=windowscommandprompt#register-event-handler-to-reload-data-from-app-configuration) uses the old service bus package (Microsoft.Azure.ServiceBus).

It would be great if the code example could be updated

[2022-08-24 14:32] Sivaprakash1981 opened #97504 "Facing issue - Another Amqp client opened a receiver link and AmqpLinkDetachForcedException: Server Busy. Please retry operation"
Hi Team,

I am facing below issue in sandbox environment

ERROR c.m.a.s.i.d.t.a.AmqpsIotHubConnection.onSessionClosedUnexpectedly - Amqp session closed unexpectedly. Closing this connection...
com.microsoft.azure.sdk.iot.device.transport.amqps.exceptions.AmqpInternalErrorException: Another AMQP Client has opened a Receive Link

2. For same code I am getting different issue in Production environmen

[2022-08-24 15:06] ishchatul opened #97506 "dynamic groups validation fails but actually works"
[Enter feedback here]
When using the user.memberof -any (group.objectId -in  in dynamic groups the validation fails but actually works

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f7a4070-1be8-5f1f-0092-68fb6b9e2305
* Version Independent ID: cd34312f-b507-affe-555e-1e0c63e7d494
* Content: [Rules for dynamically popu

[2022-08-24 15:11] KapilAnanth-MSFT commented on #97476
Hi @DanielLarsenNZ , I have updated the docs accordingly. It might take some time to reflect in the actual documentation

@asudbring, please review the PR.

[2022-08-24 15:41] trferreira-BR opened #97508 "Disabling unnecessary 'health' and describing outdated information about Spring Boot Actuator"
Hi everyone,

I have some points to contribute.

- The document isn't updated according to Spring Boot docs. Right now, by default, Spring Boot application only exposes health. For more information, [here](https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#actuator.endpoints.exposing)

- It isn't a good idea to expose 'env' and 'info' path, otherwise you have a good reason for i

[2022-08-24 15:45] JamesTran-MSFT commented on #97496
@melbritins
Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our [Q&A forum](https://docs.microsoft.com/en-us/answers/products/)

[2022-08-24 15:45] #97496 closed

[2022-08-24 15:47] mimckitt commented on #85773
Apologies but I do not have an ETA on this. Once the visual studio team decides to add that image, we will update the docs. But until then, it is not something supported by the Visual Studio subscription.

#please-close

[2022-08-24 15:47] #85773 closed

[2022-08-24 15:49] carolga opened #97509 "Feed back for page and video"
We get a lot of cases about cx's trying to add a vanity domain with a private dns server (hosted on-prem).  Can you mention something on this page that reflects that due to domain validation, this is not possible. Might it be possible to provide an alternate solutions section or page where cx can possibly achieve this?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section.

[2022-08-24 15:50] nzthiago commented on #93200
Thank you for the ping @feliasson - the ETA remains as per above, between September and October.

[2022-08-24 15:54] mimckitt commented on #97240
Thanks for the additional info @EddyKleinjan. We will go ahead and close this then since you have confirmed it is working as expected.

#please-close

[2022-08-24 15:54] #97240 closed

[2022-08-24 15:56] #97296 closed

[2022-08-24 15:57] Grace-MacJones-MSFT commented on #97501
Hi @sara1511, thanks for bringing this to our attention. We have assigned this issue to the author to review further and take the next course of action.

[2022-08-24 16:25] mimckitt commented on #95883
We have some updates coming shortly to this doc that should address all these questions.

#please-close

[2022-08-24 16:25] #95883 closed

[2022-08-24 16:26] blhubbard opened #97511 "Misspelling in NS-1"
The word "configuration" is misspelled in the guidance for Virtual Network Integration under NS-1. Quoted misspelling below:

[Internal Virtual Network _Configuraiton_](https://docs.microsoft.com/en-us/azure/api-management/api-management-using-with-internal-vnet)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9df4415d-

[2022-08-24 16:27] mimckitt commented on #94444
@kmccullagh19 Note that fault domain is not returned when the scale set uses max spreading (platformFaultDomainCount = 1), because there is no guarantee as to how many fault domains would be used with this setting.

Are you using Max spreading?

[2022-08-24 16:28] rakotomandimby opened #97512 ""Create a Node.js web app in Azure" with "Command-line Interface" must mention to build at deployment"
Hi all,

Bascically, deploying to Azure with `az` CLI is told to be done with

[code]

The problem is this method wil zip the codebase (without `node_modules`) and upload it. We will end with many "Module not found" errors.

The command above must be preceeded by

[code]
I found that on the [Deploy files to App Service](https://docs.microsoft.com/en-us/azure/app-service/deploy-zip) page.

---
####

[2022-08-24 16:30] mimckitt commented on #92071
We are working on addressing the underlying APIs to remove the abbreviations and instead use their actual zone names. I don't have an ETA on when the work will be complete, but the correct teams have been notified and are investigating a fix.

#please-close

[2022-08-24 16:30] #92071 closed

[2022-08-24 16:40] JamesTran-MSFT commented on #97087
@jpjm
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-08-24 16:45] JamesTran-MSFT commented on #97079
@ggofthejungle
Thank you for your time and patience!

`AD FS` stands for Active Directory Federation Services. To help make this clear for others, I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

**Additional Links:**
[Active Directory Federation Services](https://docs.microsoft.com/en-us/windows-server/identity/active-directory-feder

[2022-08-24 16:45] #97079 closed

[2022-08-24 16:48] JasonWHowell commented on #94686
#please-close

[2022-08-24 16:48] #94686 closed

[2022-08-24 17:04] karthikbhat6 commented on #97484
Will that feature be added in the near future?
It is an important functionality and will be very helpful if it is added.

[2022-08-24 17:10] KrishnaG-MSFT commented on #97491
@pejuborg Let me check with product team and get back to you on this.

[2022-08-24 17:18] laujan commented on #96956
Hi @RohitMungi-MSFT,  The following text is not in the https://docs.microsoft.com/en-us/azure/cognitive-services/translator/reference/v3-0-translate article:
The array can have at most 100 elements.
The entire text included in the request can't exceed 10,000 characters including spaces.

I did locate it in the following articles that are aligned with the request limits article:
[Translator Detect

[2022-08-24 17:32] puneetg1983 opened #97514 "Please cover scenarios that can cause ConfigurationManager.ConnectionStrings not to work as expected"
There is one specific scenario for App Settings and ConnectionStrings that is used extensively by ASP.NET customers and that's when they use ConfigurationManager.ConnectionStrings["ConnectionStringName"].ConnectionString. Azure App Service code (via the Envsettings.dll) updates ConfigurationManager.ConnectionStrings collection with the values configured in the Azure Portal and a lot of customers r

[2022-08-24 17:33] mumurug-MSFT commented on #97511
@blhubbard Thanks for the feedback. We have made the changes and it will be published soon after it is merged.

[2022-08-24 17:36] billyman6675 opened #97515 "wget missing from prerequisites"
wget is not listed as a prerequisite package and is not included by default in all supported Linux distributions. Downloading cef_installer.py or executing the script will both fail with the instructions provided.

Example:
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51d97a71-892f-a346-e285-fa9ce2f4dd12
* Vers

[2022-08-24 17:39] cynthn commented on #97164
I can't update the blog post to change the links, but I might be able to make the redirects go to the correct language tab instead of dumping you into portal.

The long version is that we used to have separate articles for each image "source", but it made it diluted search results and made it hard to understand exactly how to use the CLI\PowerShell syntax (it made it look super complicated). So I

[2022-08-24 17:44] briantim16 opened #97516 "Syntax and dotnet options need updating"
The command line needs to be updated so that the 'w' in BasicSendReceiveTutorialwithFilters.dll is capitalized; because it's case sensitive and it's currently wrong.  Additionally, there should be information linked or just in this tutorial on how to bypass the dotnet version check and force it to use a newer version (if present) and not require the specific version.  The "-roll-forward Major" swi

[2022-08-24 18:08] bengelj opened #97517 "ADFS as IdP will break in sandboxes that are updtaed for enhanced domains."
[Enter feedback here]
The URL for sandboxes that are upgraded to use enhanced domains will have a change in the base URL

MyDomainName--SandboxName.my.salesforce.com will become
MyDomainName--SandboxName.sandbox.my.salesforce.com

(See: ([https://help.salesforce.com/s/articleView?id=sf.domain_name_enhanced_considerations.htm&type=5]))
This is apparently enough of an issue that Salesforce has postp

[2022-08-24 18:09] seesharprun commented on #97494
This feature is not currently supported by the Python SDK for Azure Cosmos DB SQL API. It's on the roadmap but doesn't have an ETA yet.

Here's a GitHub issue where one of the members of the product team discusses this: https://github.com/Azure/azure-sdk-for-python/issues/22033#issuecomment-1027282080

#assign:seesharprun

#please-close

[2022-08-24 18:09] #97494 closed

[2022-08-24 18:16] SudhirRaparla commented on #97493
This is fixed.

[2022-08-24 18:16] #97511 closed

[2022-08-24 18:44] rp-msft opened #97519 "Improvement suggestions for sections covering pod IP routing and service subnet ."
1) The article needs to clarify at the outset that pods are not globally routable between vnets, the leading section is somewhat confusing compared to the FAQ section that outlines that for traffic bound outside the AKS VNET there is a node IP NAT. This is relevant for customers planning hybrid solutions with AKS talking to endpoints outside of Azure.
[

With [Azure Container Networking Interface

[2022-08-24 18:45] DNAAMIRZA commented on #95276
@ilyalushnikov You are right, assignment of the Group to Exchange Admin Propagates the role to the Users PIM eligible for assignment. My question than is what is the purpose of leveraging a PAG for these Azure Roles that require Eligible Assignment like EXO or SPO admin, the main purpose we were leveraging these PAG was too give separate paths to different approvers depending on the desk they were

[2022-08-24 19:02] mike-urnun-msft commented on #97502
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-08-24 19:18] mike-urnun-msft commented on #97516
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-08-24 19:33] ilyalushnikov commented on #95276
@DNAAMIRZA yes, you are right that these two scenarios (different users having different approvers, and bundling activation of multiple roles together) would not be addressed here, unfortunately.
There is still certain value Role-Assignable Group can provide in other scenarios for EXO/SPO/SCC roles: for example, you may have group of users that would be eligible to Exchange Admin role and have per

[2022-08-24 19:48] Grace-MacJones-MSFT commented on #97509
thanks for bringing this to our attention. We have assigned this issue to the author to review further and take the next course of action.

[2022-08-24 19:55] #76582 closed

[2022-08-24 20:01] alumriel commented on #87380
still not updated

[2022-08-24 20:07] RohanRao27 commented on #97502
Thanks Mike. Updated code should look something similar to this (spent some time researching this but hope it helps).
[code]

[2022-08-24 20:08] JADEXCIO opened #97521 "Please provide details on where to enter the required URL"
Can you provide details in the instructions as to where we enter the Required URLs for Azure Virtual Desktop? Are these settings configured in the Windows Firewall of the session? If so, can you provide examples?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 406f8b6d-6471-c983-c102-9d60a57964cd
* Version Independent I

[2022-08-24 20:08] mbender-ms commented on #97364
@GitaraniSharma-MSFT I do not believe we have a geojson file. I can pass along the feedback and request to the PG.

[2022-08-24 20:10] JADEXCIO commented on #97521
Can you provide details in the instructions as to where we enter the Required URLs for Azure Virtual Desktop? Are these settings configured in the Windows Firewall of the session? If so, can you provide examples?

[2022-08-24 20:22] AaronMaxwell commented on #96678
Thanks for your dedication to our documentation. This issue is being triaged.

[2022-08-24 20:23] JamesTran-MSFT commented on #97506
@ishchatul
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-24 20:25] JamesTran-MSFT commented on #97517
@bengelj
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-08-24 20:36] spelluru commented on #97208
Event == message in this case. We will add clarification to the article.

Events are grouped by using batches. Please see https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-programming-guide#batch-event-send-operations and https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-dotnet-standard-getstarted-send#write-code-to-send-events-to-the-event-hub (step #4).

[2022-08-24 20:42] stanleyu opened #97522 "The script should be run with caution"
The script should be run with caution. If there are AKS clusters in the subscription, it could happen some disks are tied to the AKS clusters which are unattached temporarily because of the temporary failure of Pods. If the script is run before the Pods are restarted, data loss would happen.
Suggestion: Add a Tip or Notification message on the page to remind the readers for this issue, in case the

[2022-08-24 21:34] AaronMaxwell commented on #97059
Thanks for your dedication to our documentation. This issue has been triaged and approved. The PR is mentioned in the chat above. #please-close

[2022-08-24 21:35] #97059 closed

[2022-08-24 21:40] davidsmatlak commented on #38155
@AdamCoulterOz Thanks for providing feedback. Based on the comments in the issue, the question was answered but the issue wasn't closed and there were no further comments, so I'm closing the issue. For more information, see [managed application definition](https://docs.microsoft.com/azure/azure-resource-manager/managed-applications/publish-service-catalog-app#create-the-managed-application-definit

[2022-08-24 21:40] davidsmatlak commented on #38155
#please-close

[2022-08-24 21:40] #38155 closed

[2022-08-24 21:53] ggailey777 commented on #96500
Thanks @kbiondi and @MughundhanRaveendran-MSFT To provide more context...the colon (`:`) delimiters for nested app settings are supported only when running on Windows. The double underscore (`__`) delimiters are supported on both Windows and Linux, which is why we use them in our docs.

[2022-08-24 21:53] mlibenocg commented on #97320
Thanks for update Ajay. The pop-up containing the password format guidance is obscuring the screen underneath. Am I correct in assuming the initial password set is the same for all users? Is there any provision-current or planned--for establishing the initial password with a formula that can leverage some attributes contained in HR attributes? For example, a common initial password formula may inc

[2022-08-24 22:24] mrochon opened #97524 "Include User's object id in Application claims"
When configuring Application Claims issued by B2C you shouuld include User's Object Id (in addition to first/last name). Otherwise, APIM will not allow the user to sign up - it will display the signup screen after signing in in from B2C but then show 'Server error. Unable to send request. Please try again later.' when submitting the Sign Up page.

---
#### Document Details

⚠ *Do not edit this sec

[2022-08-24 22:29] barclayn commented on #97075
@ElectricLlama thank you for your feedback. I have created a work item for us to track this request internally.

[2022-08-24 22:29] barclayn commented on #97075
#please-close

[2022-08-24 22:29] #97075 closed

[2022-08-24 22:58] ggailey777 commented on #88049
The main issue here is that this tutorial is blocked waiting for Core Tools to generate an updated Dockerfile. See https://github.com/Azure/azure-functions-core-tools/issues/3073
I've escalated the issue with the C# isolated process team.

[2022-08-24 22:58] elbee19 opened #97525 "Documentation ambiguous"
The section that says 'Select the role you wish to assign to the application.' needs screenshots

For instance, when I try to add role assignment to example-app created above, I just can't find example-app in the list when I click on 'Select Members' on the role assignment page.

Either instructions are incorrect or unclear

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2022-08-24 23:03] JamesTran-MSFT commented on #97525
@elbee19
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-08-24 23:06] FernandoGualano commented on #97418
Hi @Justinha, thanks for your response. I checked the user profile and it hasn't any public authentication method info registered:

![image](https://user-images.githubusercontent.com/50090959/186538305-e709cd84-69c7-4d25-a79e-c6baa1b0a9ac.png)

The user also does not have any Authentication Methods registered:

![image](https://user-images.githubusercontent.com/50090959/186538448-bd9e7107-b029-437

[2022-08-24 23:16] Grace-MacJones-MSFT commented on #97514
Hi @puneetg1983 , thanks for bringing this to our attention. We have assigned this issue to the author to review further and take the next course of action.

[2022-08-24 23:17] DAVMUNDY opened #97526 "entry_script score.py doesn't exist"
Following this tutorial
https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-train-deploy-notebook
when deploying the model to Azure Container Instance, where inference_config parameter is specified:

`# create an inference config i.e. the scoring script and environment`
`inference_config = InferenceConfig(entry_script="score.py", environment=env)`

I receive the following error:

entr

[2022-08-24 23:27] ggailey777 commented on #88049
In the meantime, you should be able to replace the contents of the generated Dockerfile with this to make it work for .NET 6 in an isolated process:

[code]

[2022-08-24 23:34] RyanHill-MSFT commented on #97512
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-24 23:35] RyanHill-MSFT commented on #97499
Thanks for the question! We are currently investigating and will update you shortly.

[2022-08-24 23:42] RyanHill-MSFT commented on #97495
Thank you for pointing this out [@paulspinkstr](https://github.com/paulspinkstr). There's a pending PR that will address this issue.

[2022-08-24 23:45] #97444 closed

[2022-08-24 23:56] dlepow commented on #78157
#assign:@dlepow

[2022-08-24 23:57] dlepow commented on #78279
#assign:@dlepow

[2022-08-25 00:18] AaronMaxwell commented on #97154
Thanks for your dedication to our documentation. This issue has been triaged and approved. The PR is mentioned in the chat above. #please-close

[2022-08-25 00:18] #97154 closed

[2022-08-25 00:30] shishir2019 commented on #97481
Hi Team, here is the info on the MS Power Pages. Looks like this is fairly new license and not yet available for production.
Hope the link below helps as i can't find SKU details for this.
https://docs.microsoft.com/en-us/power-pages/getting-started/trial-signup

[2022-08-25 00:34] brmcmill opened #97528 "Provide List of Teams Optimizations for AVD"
Hey Team, I think it would be very beneficial for customers to have a list of what is included in Teams Optimizations for AVD.  Some of the features I've noticed are mentioned in this article, but not always specific or at least _clear_.  I understand there are blog releases for updated versions and features of Teams available -- I just think this doc could be even more beneficial to customers whe

[2022-08-25 00:34] ggailey777 commented on #90295
@tmakin that's a good question, and maybe this note is unnecessary. The point is that if the image isn't publicly accessible, it's much easier/faster to just set the connection strings as ENV variables. Let me change the `should` to `could`, which I think leaves it more up to the reader to do it the other way if they want.

[2022-08-25 00:37] ChaitanyaNaykodi-MSFT commented on #97468
Hello @AlMataMS,
Just following up here. Can you please share some additional information on which device you want to add? Thank you!

[2022-08-25 00:37] lgayhardt commented on #90028
We have retired this doc. Thank you!

#please-close

[2022-08-25 00:37] #90028 closed

[2022-08-25 00:42] lgayhardt commented on #94836
The doc has been update with a note. Thanks!
#please-close

[2022-08-25 00:42] #94836 closed

[2022-08-25 00:44] lgayhardt commented on #91457
The doc has been updated. Thanks!
#please-close

[2022-08-25 00:44] #91457 closed

[2022-08-25 00:47] ShingoHanai opened #97529 "Explanation of default plolicy value is incorrect"
Explanation of default plolicy value is incorrect now.

- Current statment
https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-exception-handling?tabs=consumption#default-retry-policy
[code]

Actual default value is fixed 4 times with 20 seconds interval.

Thanks,
CSS shhanai (Shingo Hanai)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2022-08-25 01:15] kohei-miyoshi opened #97530 "Please add information about the validation of the maximum amount of scale changes within the past hour when scaling, creating app service plan"
I found app service plan has a limitation about scaling. In the same SKU, app service plan is limited according to amount of scale changes.

If App service reaches this limitation, I'll get below error.

Now that there is no information about it in MS docs, please add I want.

[reference]
- https://kloudexpress.wordpress.com/2020/08/01/why-auto-scale-operation-failed-for-azure-web-app/
- https://h

[2022-08-25 01:28] ShingoHanai opened #97531 "Add procedure to use properties of JSON schema in child workflow's request trigger as parameters of workflow call action in parent workflow"
Add procedure to use properties of JSON schema in child workflow's request trigger as parameters of workflow call action in parent workflow.
I checked it can be used in Standard Logic Apps.

- Child workflow schema setting
![image](https://user-images.githubusercontent.com/66820701/186553244-437168f0-b96d-4b6a-bb03-b49cb0453e19.png)

- Parent workflow action setting
![image](https://user-images.gi

[2022-08-25 03:08] VanMSFT commented on #92534
Thanks, @kimjamia! I'm adding updates that will clarify your feedback in the doc.

#assign:VanMSFT

[2022-08-25 03:12] Venkateshdodda-MSFT commented on #97530
@kohei-miyoshi Thank you for your feedback! We will review and update as appropriate.

[2022-08-25 03:16] Joseblinkz147 opened #97532 "WORLD SPEED DELIVERY COMPANY LLC"

[2022-08-25 03:17] VanMSFT commented on #91416
Thanks, @span! I've added some clarification to the [Create the service principal user in Azure SQL Database](https://docs.microsoft.com/azure/azure-sql/database/authentication-aad-service-principal-tutorial?view=azuresql#create-the-service-principal-user-in-azure-sql-database) section that hopefully clears up your issue.

#assign:VanMSFT

[2022-08-25 03:18] #92534 closed

[2022-08-25 03:21] #91416 closed

[2022-08-25 03:55] VikasPullagura-MSFT commented on #97528
@brmcmill
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-25 03:55] VikasPullagura-MSFT commented on #97528
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2022-08-25 03:56] lilinvictorms commented on #95888
@matthewtatsch the error you got is for the previous version of Batch pool without public IP addresses (https://docs.microsoft.com/en-us/azure/batch/batch-pool-no-public-ip-address), which does list the prerequisite to disable both PE and PLS policies in the vnet. However for the new version of Batch pools using simplified node communication, this is not needed anymore. Please note that for now yo

[2022-08-25 04:15] AshokPeddakotla-MSFT commented on #97508
@trferreira-BR Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-08-25 04:16] AshokPeddakotla-MSFT commented on #97504
@Sivaprakash1981 Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2022-08-25 04:17] AshokPeddakotla-MSFT commented on #97500
@DevSecNinja Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-08-25 04:20] CHEEKATLAPRADEEP-MSFT commented on #97532
@Joseblinkz147  Can you share more details on your feedback and help with the link to the document on which the above document feedback request is created.

In case your query is not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on y

[2022-08-25 04:22] v-ksreedevan commented on #93506
Closing this issue since it is resolved.

#please-close

[2022-08-25 04:22] #93506 closed

[2022-08-25 04:27] RohitMungi-MSFT commented on #97484
You can submit a feedback item to through Azure feedback [forum ](https://feedback.azure.com/d365community/forum/09041fae-0b25-ec11-b6e6-000d3a4f0858)for cognitive services. Please try to add details about your use case so the service team could review and add the feature for the future releases. Thanks!!

[2022-08-25 04:37] SumanthMarigowda commented on #97522
@stanleyu Thanks for the question! We are investigating and will update you shortly.

[2022-08-25 04:54] Eivissa commented on #5717
Hello,
I have similar issues of customer project.
Do you find resources for this?

[2022-08-25 05:04] VikasPullagura-MSFT commented on #97519
@rp-msft
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-25 05:04] VikasPullagura-MSFT commented on #97519
@zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2022-08-25 05:06] VikasPullagura-MSFT commented on #97521
@JADEXCIO
Thanks for your Question! We are currently investigating and will get back on this.

[2022-08-25 05:29] MayankBargali-MSFT commented on #97529
@ShingoHanai Thank you for your feedback! We will review and update as appropriate.

[2022-08-25 05:30] MayankBargali-MSFT commented on #97531
@ShingoHanai Thank you for your feedback! We will review and update as appropriate.

[2022-08-25 05:31] MayankBargali-MSFT commented on #97524
@mrochon Thank you for your feedback! We will review and update as appropriate.

[2022-08-25 05:37] Kuenni opened #97534 "Unnecessary complex rule suggestion?"
Is the suggested rule in the section 'Create an "All users" rule' really the best way to filter for Members (or Guests)?

The rule says to filter for "objectID not null" and "user type equals member".
Under the assumption that the objectID in AzureAD can never be null because it is the immutable identifier for an entity, isn't a filter only on the user type (equals member) enough and more performa

[2022-08-25 05:37] ShaikMaheer-MSFT commented on #97386
@jonburchel Could you please validate customer feedback and update document as appropriate? Thank you.

[2022-08-25 05:40] ShaikMaheer-MSFT commented on #97466
@nabhishek Could you please validate customer feedback of replacing `testResourceGroup` with placerholder to have resource group? That may we can avoid confusion. Thank you.

[2022-08-25 05:48] RohitMungi-MSFT commented on #96956
@laujan The limits for translate API are higher but I think the recent update to link the documentation to request limits page should help pickup the limits from one page and we can close this issue.

[2022-08-25 05:48] #96956 closed

[2022-08-25 06:03] RohitMungi-MSFT commented on #97526
@DAVMUNDY Do you have the notebook and the scoring and utils python script in the same directory as mentioned in the setup?

![image](https://user-images.githubusercontent.com/46958063/186587107-29b74c00-5392-46bc-888d-7b72a93fc26e.png)

If they are in different directories, then you could add the relative path to the scoring script and try again.

[2022-08-25 06:06] CHEEKATLAPRADEEP-MSFT commented on #97515
@billyman6675  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-08-25 06:48] S-3-C-U-R-1-T-Y commented on #96603
It is NOT about too many curly brackets, see the correct JSON below

{
  "attestations": {
    "idTokenHints": [
      {
        "mapping": [
          {
            "outputClaim": "firstName",
            "required": true,
            "inputClaim": "given_name",
            "indexed": false
          },
          {
            "outputClaim": "lastName",
            "required": true,
            "

[2022-08-25 07:08] lbimsft opened #97535 "traffic flow path needs to clarify"
[Enter feedback here]

Hello team,

I have a question about traffic flow path for prefix 10.62.0.0/16.

from this statement:
If all the routes are through remote hubs, then choose route from S2S VPN connection over ER connections because any transit between ER to ER is supported only if the circuits have ER Global Reach enabled and an Azure Firewall or NVA is provisioned inside the virtual hub.

S

[2022-08-25 07:30] pejuborg opened #97536 "Menu linked wrong - Connect machines using group policy with service principal encryption"
The link that leads to this page is wrong. The TOC menu says: "Connect machines using group policy with service principal encryption" but leads to the page mentioned in document details.

![image](https://user-images.githubusercontent.com/51705186/186602860-d0136757-a5bf-4591-bc3d-0bf00472a428.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2022-08-25 07:41] psinnathurai opened #97537 "LoginAz-Account is not existing anymore"
Under Azure resource providers the cmdlet should be Connect-AzAccount instead of Login-AzAccount.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4d7411a-32db-b1a7-09b6-88fde6daccf9
* Version Independent ID: 89123a10-c752-74ca-adf8-69ed618e15a7
* Content: [Connected Machine agent prerequisites - Azure Arc](https://docs

[2022-08-25 08:07] jiankefu opened #97538 "Cloud users download the Visio file of architecture?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dff802a9-6ee1-3875-5f0b-7261f6dc4724
* Version Independent ID: 2bd75318-e74f-3b09-4a1d-c6d4d7fad9b9
* Content: [Architecture: Migrate to Azure Virtual WAN](https://docs.microsoft.com/en-us/azure/virtual-wan/migrate-from-hub-spoke-topology)
* Content S

[2022-08-25 08:58] axcap commented on #96491
@BhargavaGunnam-MSFT any updates on this?

[2022-08-25 09:02] githubths opened #97539 "Powershell Commandlet Name changed"
In the Document the old commandlet Powershell name is used
old Name : Connect-AdSyncDatabase
but it no longer exist
new name : Connect-ADSyncToolsSqlDatabase

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b5773bc-bc7f-1bf1-ceae-6022b376f4c9
* Version Independent ID: f6c58d9b-e711-1720-5d13-03c553f6355a
* Content: [Azu

[2022-08-25 09:08] YashikaTyagi-MSFT commented on #97539
@githubths
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-25 09:16] githubths opened #97541 "Note Azure AD Connect DB and part of SQL Database Availability Group"
Please make a note on the page that the Azure AD Connect database cannot be part of a SQL Database Availability Group durring setup of Azure AD Connect. The database can only be included in a SQL Database Availability Group after setup. Otherwise, an error -- Error 25009.The Microsoft Azure AD Connect synchronization services setup wizard cannot configure the specified database. Error: ALTER DATAB

[2022-08-25 09:31] tx0120 opened #97542 "ASM only available for container db ?"
In the step for creating the actual database, it mentions:
ensure create as container database is selected.

Does this mean you can not use ASM for a non-container instance/database ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2919d2c7-ca01-8d15-3f8b-1a46d4b19b66
* Version Independent ID: 799db1e8-bea0-5188-c1b2-48

[2022-08-25 09:48] mpriem opened #97543 "When is this coming out of preview?"
Multi-container support on app service has been in preview since 2018. Is there any update on when this is going GA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da05d7fa-1789-ec63-5219-e2f71a028ef6
* Version Independent ID: 5e0b8eea-f056-830f-26e1-3e3c1b9019e3
* Content: [Quickstart: Create a multi-container app - A

[2022-08-25 09:51] VikasPullagura-MSFT commented on #97345
@leandromsft Closing this as I have contacted over email.

[2022-08-25 09:51] #97345 closed

[2022-08-25 09:54] YashikaTyagi-MSFT commented on #97541
@githubths
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-25 09:55] #97395 closed

[2022-08-25 10:20] VikasPullagura-MSFT commented on #97542
@tx0120
Thanks for your Question! We are currently investigating and will get back on this.

[2022-08-25 10:23] SnehaAgrawal-MSFT commented on #97543
@mpriem Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-25 10:24] cicorias opened #97546 "The walkthrough and example code does not work"
First, there is this section of code that uses `POLICY_CONFIGURATION_DISTRIBUTED_TRACING` declaration, which does NOT exist in the shipping sdk. The best branch I could find that contained that definition was [public-preview](https://github.com/Azure/azure-iot-sdk-c/tree/public-preview)  which is obviously outdated

Then the code within the SDK even though that value gets set never sets the approp

[2022-08-25 10:26] GitaraniSharma-MSFT commented on #97535
@lbimsft , thank you for your query. We'll review this and get back to you shortly!

[2022-08-25 10:28] GitaraniSharma-MSFT commented on #97538
@jiankefu , could you please provide some more details on your query? Is your query related to the below doc?
https://docs.microsoft.com/en-us/azure/virtual-wan/migrate-from-hub-spoke-topology

If yes, could you please elaborate it a little for further discussion?

[2022-08-25 10:30] GouravGit opened #97547 "Typo a need to be changed to an (article) in "such as when you’ve deployed a Azure Databricks ...""
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 718ff743-7dad-3f77-a283-3f174b468661
* Version Independent ID: fdd9b051-88e0-5222-783e-59b101f2fd26
* Content: [Azure Databricks architecture overview - Azure Databricks](https://docs.microsoft.com/en-us/azure/databricks/getting-started/overview#feedb

[2022-08-25 10:42] SwathiDhanwada-MSFT commented on #97537
@psinnathurai Thanks for the feedback! I have fixed the referenced change, and the change should reflect on the doc within 24 hours. We will now proceed to close this thread. If there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2022-08-25 10:42] #97537 closed

[2022-08-25 10:49] melbritins commented on #97496
Hi James,

Thanks for coming back to me.

I've raised a support request with the relevant Azure team, hopefully they can make the Office Location attribute available as part of the ServiceNow sync.

Regards,

Mel

Melvin Uy
Microsoft 365 Engineer
IT Operations & Security

***@***.***
The Leadenhall Building
122 Leadenhall Street
London, EC3V 4AB

T: +44 (0) 203 857 1007
W: www.britinsurance.com

A

[2022-08-25 10:55] KrishnaG-MSFT commented on #97536
@pejuborg Thanks for your comment! We will review and provide an update as appropriate.

[2022-08-25 10:56] Christian-e-S commented on #85130
Is there any new estimate on the GA for IoT Hub Device Update?

[2022-08-25 10:57] pejuborg commented on #97536
Just realized that the article may correct, but that there's really no clear instruction on how to create the encrypted secret.

[2022-08-25 11:05] shaktisingh-msft commented on #97547
Hi @GouravGit ,

Thanks for sharing your observation. We will work on the same and update.

[2022-08-25 11:06] AshokPeddakotla-MSFT commented on #97546
@cicorias Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-08-25 11:06] kengaderdus commented on #97366
@spacecat

Thank you for your feedback and patience. We're making the changes. Note that this issue may be closed automatically before the changes go live.

[2022-08-25 11:10] shaktisingh-msft commented on #97547
Hi @mssaperla ,

Could we please get this article "a" changed to "an" at the link [https://docs.microsoft.com/en-us/azure/databricks/getting-started/overview#feedback]
![image](https://user-images.githubusercontent.com/110027638/186648909-e0f2e472-c578-4f50-83e2-ef933dd51a75.png)

[2022-08-25 11:16] GitaraniSharma-MSFT commented on #97364
@mbender-ms , thank you for the update. Please pass along the feedback and request to the PG.

@Ravnsgaard , I would also request you to leave your feedback in the below forum requesting this feature:
https://feedback.azure.com/d365community/forum/8ae9bf04-8326-ec11-b6e6-000d3a4f0789

All the feedback you share in these forums will be monitored and reviewed by the Microsoft engineering teams respo

[2022-08-25 11:16] #97364 closed

[2022-08-25 11:28] adeliab opened #97548 "Contact group requires reference id"
This example https://docs.microsoft.com/en-us/azure/cost-management-billing/costs/quick-create-budget-bicep?tabs=CLI#deploy-the-bicep-file-2 shows that an array of action group names can be passed as the contactGroups parameter

Doing this causes the CLI to throw Unauthorized - RBAC error. It expects the resourceId instead
See the issue I created here https://github.com/Azure/azure-cli/issues/2364

[2022-08-25 11:33] YashikaTyagi-MSFT commented on #97483
@the-sentinental-guy
We reviewed your statement. Could you please go through the link mentioned below as it is mentioned there that After consulting with the product managers, Author has decided to remove the "Security Policy & Regulatory Compliance" line from the comparison table because it is not related to enabling Defender for Servers.
Please go through the case to get details:
https://github.

[2022-08-25 11:40] SreejaBhattacharya-MSFT commented on #97341
any update on this?

[2022-08-25 11:41] #87933 closed

[2022-08-25 11:42] samthrusha123 opened #97549 "Issue with QnA when a grammatical word is used as a question in kb"
I created a KB for acronyms, In that one of the acronym is **WAS** but when ever I input "**was**" it is returning "No good match found in KB." but that particular acronym is there. Can anyone suggest any solution? Is it because of "was" is a grammatical word? How to fix this?

[2022-08-25 11:47] kengaderdus commented on #97457
@dkmikthy

Thank you for your feedback. Is it showing you an error just in section [Specify the UI language](https://docs.microsoft.com/en-us/azure/active-directory-b2c/enable-authentication-android-app-options?tabs=kotlin#specify-the-ui-language) or in all instances?

[2022-08-25 11:48] CraigGemmill opened #97550 "Can I specify TimerTrigger schedule from environment variable in Java Azure Function?"
Hi.  I would like to specify the schedule of my Java Azure Function's TimerTrigger from an environment variable.  It seems this is possible in C#, using the percent character ('%') to signify that the text is the name of the environment variable.  I'd like to know if a similar syntax is possible in Java?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2022-08-25 12:00] SaibabaBalapur-MSFT commented on #97427
@SteveCuriously
 We will now proceed to close this thread. If there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2022-08-25 12:00] #97427 closed

[2022-08-25 12:24] bmansheim commented on #97483
@YashikaTyagi-MSFT You are correct, but subsequently "Security Policy & Regulatory Compliance" was returned to the page.
@the-sentinental-guy Correct that "Security Policy & Regulatory Compliance" is not a Defender for Servers feature, but if a customer enabled Servers Plan 1 and no other plan, "Security Policy & Regulatory Compliance" would not be available. That's why it is listed under Plan 2 a

[2022-08-25 12:30] CHEEKATLAPRADEEP-MSFT commented on #97549
@samthrusha123  Please help with the link to the document on which the above document feedback request is created.

In case your query is not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community membe

[2022-08-25 12:41] bmansheim commented on #97500
Great question, @AshokPeddakotla-MSFT ! I can pass the question along to the product team. When we get to a conclusion, we'll add the information to the docs.
I'll close this issue and track the progress internally.
#please-close

[2022-08-25 12:41] #97500 closed

[2022-08-25 12:54] SreejaBhattacharya-MSFT commented on #97340
Hi @cynthn , could you please look into this

[2022-08-25 13:11] vhorne commented on #97142
@dangbuzhude266
The structured log feature is currently in Preview and is documented here: https://docs.microsoft.com/en-us/azure/firewall/firewall-preview#structured-firewall-logs-preview.

When it goes GA, we'll move this information to the Overview article.
#please-close

[2022-08-25 13:11] #97142 closed

[2022-08-25 13:12] lmhutch commented on #97456
Good morning

Right, on this link
Using Microsoft Defender for Endpoint in Microsoft Defender for Cloud to protect native, on-premises, and AWS machines. | Microsoft Docs<https://docs.microsoft.com/en-us/azure/defender-for-cloud/integration-defender-for-endpoint?tabs=windows>
It states with Microsoft Defender for Servers, you can deploy MDE plan 2.

To me, it was a little confusing.
Maybe somethin

[2022-08-25 13:31] Watto2022 opened #97553 "Set-MsolUser command will stop working and there is no ms graph replacement option"
[Enter feedback here]
According to the following statement MSOL module will be retired on 31st March 2023
[https://practical365.com/azure-ad-license-management-extension/](https://practical365.com/azure-ad-license-management-extension/)

And according to require MFA reregister this will be only possible if current user have MFA status to enabled or enforced already.
[https://docs.microsoft.com/en-

[2022-08-25 13:35] bh3605 opened #97554 "Static Web App Tutorial could be improved by including a YAML file section"
This page is missing content regarding the creation/modification of the yml file to build your web app. It was confusing to me to go through the quick start and to see the web app in Azure report to me there was no content for it to publish. Incorporating a basic YAML file would assist in making this a better tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2022-08-25 13:35] rtorato commented on #83858
Hey guys

Any update on this?

[2022-08-25 13:43] alberto-morillo opened #97555 "Outdated images used for"
Please update this documentation. The neworking page for Public access on Azure SQL has changed dramatically. The instructions to create a rule on the portal are showing outdated images on [this section](https://docs.microsoft.com/en-us/azure/azure-sql/database/firewall-configure?view=azuresql#from-the-database-overview-page)

![image](https://user-images.githubusercontent.com/18289713/186680313-4

[2022-08-25 13:44] bmansheim commented on #97159
The response from the Product team is that both Servers Plan 1 and Plan 2 include licenses for MDE Plan 2.

It seems then that it is not a problem in the translation because the information is correct in English and German.

Please confirm.

[2022-08-25 13:49] #97495 closed

[2022-08-25 13:55] tinomthomas commented on #13090
There is no option to add a unique key from the portal now, at least for the Mongo API. And if I create the index using the Mongo Java driver and try to in, it throws the same error received by op.

Caused by: com.mongodb.MongoWriteException: Write operation error on server qr-dev-digital-cosmosdb-westeurope.mongo.cosmos.azure.com:10255. Write error: WriteError{code=2, message='Error=2, Details='R

[2022-08-25 13:55] LouisRoberts opened #97556 "Query the allowed domains"
It would be useful to outline how you query the allowed list to enable applications to verify users can use an application that are in a domain.

The only mechanism I have found is to use the https://graph.microsoft.com/beta/legacy/policies REST call which is in beta. Is there a more formal endpoint to use ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2022-08-25 14:03] bwren commented on #97261
Thanks for this. We're in the process of getting this article updated.

#please-close

[2022-08-25 14:19] alberto-morillo commented on #97555
Thank you @GeethaThatipatri-MSFT. Have a great day!

[2022-08-25 14:25] #97366 closed

[2022-08-25 14:34] GitaraniSharma-MSFT commented on #97451
@ehsf973 , we've fixed the typo as advised. It will reflect in the doc soon.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2022-08-25 14:34] #97451 closed

[2022-08-25 14:38] semyon-gordeev commented on #97274
@neilmca-inc I had the same issue. To fix it, make sure local accounts are enabled in your cluster (enabled by default) and you use admin credentials:
[code]

[2022-08-25 14:50] javast97 commented on #86701
Hi @bellowman

How do you configure it? I have the same problem that you had

[2022-08-25 14:57] Jamal8548 opened #97557 "Node.js exposed API is http://localhost:5000/hello but in react in file "authConfig" endpoint is http://localhost:5000/api/todolist" which is wrong."
Please help me as i am student, our node js only exposed api **http://localhost:5000/hello** but in Front end  we put  http://localhost:5000/api/todolist into our file name authConfig and this route does not exist in the nodejs. I am looking forward to hear from anyone soon.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2022-08-25 15:02] SnehaAgrawal-MSFT commented on #97554
@bh3605 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-25 15:05] kengaderdus commented on #97557
@Jamal8548

Thank you for your feedback. You're right, the API endpoint is `/hello` and not `/api/todolist`. We've made the correction, but the change will take a few hours before it goes live.

[2022-08-25 15:07] kengaderdus commented on #97557
#assign: kengaderdus

[2022-08-25 15:09] seesharprun commented on #97066
#reassign:seesharprun

Yes, this is a feature not currently supported in the Python SDK. You can work around this by using the [REST API](https://docs.microsoft.com/en-us/rest/api/cosmos-db/create-a-database). If you need assistance with using the REST API, please visit our [Q&A forums](https://docs.microsoft.com/en-us/answers/topics/azure-cosmos-db.html).

#please-close

[2022-08-25 15:09] #97066 closed

[2022-08-25 15:12] JamesTran-MSFT commented on #97556
@LouisRoberts
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-08-25 15:13] JamesTran-MSFT commented on #97553
@Watto2022
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-08-25 15:13] #97319 closed

[2022-08-25 15:15] victorienfotsing opened #97558 "Staging deployment environment wit Bitbucket"
I could successfully deploy my project into the production environment using the provided documentation https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/static-web-apps/bitbucket.md

But there are no information about how to deploy to other environments than production, e.g: staging, qa, release ...
With Azure pipeline, the value can be set throw the deployment_environment parameter.

[2022-08-25 15:38] Jamal8548 commented on #97557
@kengaderdus Thanks for acknowledging! After fixing this route issue, please test your application as when you click on the **HelloApi** get request is not reaching to the backend and when you go into the network tab it will show you error. Secondly in documentation it is confusing for readers that what this application supposed to do after clicking on this button. It would be really helpful if yo

[2022-08-25 15:38] bh3605 commented on #97554
FWIW you'd need to update this page's content and add a YAML file to https://github.com/staticwebdev/angular-basic along with adding an instruction to copy/paste the api token from the Azure Portal to the api token field in the YAML file.

[2022-08-25 15:41] barclayn commented on #96671
@rextangtw Thank you so much for your feedback. We are making updates to the articles and the problem you called out will be part of that.  Expect to see changes in the next couple of days.

[2022-08-25 15:41] #96671 closed

[2022-08-25 15:46] barclayn commented on #96603
@matthewjlevy thank you for your feedback. We are making updates to the articles and the JSON provided will get updated as part of those changes. Content should be updated in the next couple of days.

[2022-08-25 15:46] barclayn commented on #96603
#please-close

[2022-08-25 15:46] #96603 closed

[2022-08-25 16:01] S-3-C-U-R-1-T-Y opened #97560 "The dotnet Bash commands for the Verified ID - Verify project contain errors (typos)"
[Enter feedback here]
**Original** Bash (Verify part)
cd active-directory-verifiable-credentials-dotnet/1. asp-net-core-api-idtokenhint
dotnet build "asp-net-core-api-idtokenhint.csproj" -c Debug -o .\bin\Debug\netcoreapp3.1
dotnet run

**Correct** Bash (Issue part since it is the same piece of code that is used)
cd active-directory-verifiable-credentials-dotnet/1-asp-net-core-api-idtokenhint
dotn

[2022-08-25 16:10] SumanthMarigowda commented on #97346
@ckuhtz Apologies for the delay response! Can you provided more context on the issue.
If you are getting any error message, please share the screenshot

[2022-08-25 16:12] SumanthMarigowda commented on #96774
@Dekard  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-08-25 16:12] #96774 closed

[2022-08-25 16:16] AlfredGieger opened #97562 "Security Issue in explained method"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d9fd1db-042c-5f44-ee84-f1a9386fb3e3
* Version Independent ID: 81cb2e37-a80c-a48a-68bd-1a03499119a7
* Content: [Copy data from SharePoint Online List - Azure Data Factory & Azure Synapse](https://docs.microsoft.com/en-us/azure/data-factory/connector-s

[2022-08-25 16:18] viskin commented on #56453
Another one here:

We have wildcard self-signed certificate. "Test Proble" fails, while "Backend Health" reports 200.

[2022-08-25 16:18] AlfredGieger commented on #97562
The document explains how to create a Bearer Token using a Web activity. According to the explanation, the developer is supposed to put the client secret for the Service Principal, which is used to authenticate against Sharepeint, as plain text into the data factory pipeline code. By that, this secret will be exposed to Git and visible for a probably much too large audience. Isn't there a better w

[2022-08-25 16:22] spelluru commented on #96457
Here's the response from the product team:

"That SDK is already deprecated so better not to take it as a reference. However, the 4MB default in the referred code is set for forward compatibility purpose. Therefore, 1MB in the documentation is the correct quota today."

[2022-08-25 16:23] spelluru commented on #96457
#please-close

[2022-08-25 16:23] #96457 closed

[2022-08-25 16:28] bh3605 opened #97563 "Circular loop between Pull Request and Branch Environment pages"
The next steps on this page links to "Review Pull Requests in pre-production environments". It should really link to Named environments. Pull request environments comes before this page. The Pull Request Environments page links to this page. This creates a circular loop.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0

[2022-08-25 16:30] spelluru commented on #97208
#please-close

[2022-08-25 16:30] #97208 closed

[2022-08-25 16:37] barclayn commented on #95419
@EugeneScully  thank you for your feedback.  We've made updates to the article that should address the problems you encountered. If you still have any issues please let us know.

[2022-08-25 16:37] barclayn commented on #95419
#please-close

[2022-08-25 16:37] #95419 closed

[2022-08-25 16:44] AaronMaxwell commented on #96678
This approach doesn’t work for Azure Functions due to a temporary feature gap between the Azure Functions .NET Application Insights SDK and OpenCensus Python SDK. This may be addressed in a future Open Telemetry release. #please-close

[2022-08-25 16:44] #96678 closed

[2022-08-25 16:47] eric-urban commented on #97258
@RohitMungi-MSFT - Got it! OK we've opened an internal work item to track this request.
#please-close

[2022-08-25 16:47] #97258 closed

[2022-08-25 16:48] eric-urban commented on #97390
The PR has been signed off. Thanks!

#please-close

[2022-08-25 16:48] #97390 closed

[2022-08-25 16:49] eric-urban commented on #97484
#please-close

[2022-08-25 16:49] #97484 closed

[2022-08-25 16:53] willcotton-msft opened #97564 "azure-docs/articles/synapse-analytics/sql/resources-self-help-sql-on-demand.md is mistitled."
This article is mistitled. It's listed as serverless self-help, but it actually contains self-help for multiple features. It should be renamed or broken into multiple articles.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24ee637b-9227-d549-9481-bbdc404cfa17
* Version Independent ID: c2f0070e-2c40-813b-f6f6-97e088a0b

[2022-08-25 16:54] rozzamozza opened #97565 "Please add *.vault.azure.net for Key Vault"
[Enter feedback here]
List is Missing *.vault.azure.net for Key Vault
May be private links too?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 790ff17b-0306-897d-f0df-59dd92441426
* Version Independent ID: 6bfac7c1-8909-73f9-4212-26cc7ffaaa81
* Content: [Reference list of Azure domains](https://docs.microsoft.com/en-us

[2022-08-25 17:02] JamesTran-MSFT commented on #97565
@rozzamozza
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-08-25 17:10] kristapratico opened #97566 "TA for Health is only available in the standard pricing tier"
The prerequisites for Text Analytics for Health say that you can use the Free tier to try out the feature, but it's actually only available in the Standard tier.

https://azure.microsoft.com/en-us/pricing/details/cognitive-services/language-service/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6fcac6e-cfe9-7133-ad37

[2022-08-25 17:25] khdownie commented on #65473
@mromp-swc you are correct. Service logon account passwords can expire in AD if they have a default password expiration age set on the AD domain or OU. But because computer account password changes are driven by the client machine and not AD, they don't technically expire in AD, although client computers change their passwords by default every 30 days. I've updated the doc to make this clear.

[2022-08-25 17:27] cynthn commented on #97340
#reassign:ericd-mst-github

@ericd-mst-github

[2022-08-25 17:28] barclayn commented on #94582
@mistokes-ppr  I attempted to reproduce the problem just now after our latest documentation and service updates and I could not repro the problem. I am hoping your testing is unblocked. If you continue experiencing problems with the documentation please let us know.

[2022-08-25 17:28] barclayn commented on #94582
#please-close

[2022-08-25 17:28] #94582 closed

[2022-08-25 17:43] thecodeman1987 commented on #96761
Any updates ?

Il giorno ven 5 ago 2022 alle 21:30 Ebenezer Nkrumah <
***@***.***> ha scritto:

[2022-08-25 17:53] khdownie commented on #65473
#please-close

[2022-08-25 17:53] #65473 closed

[2022-08-25 17:57] khdownie commented on #81693
@TommyJab the AD account name was missing. I've updated the doc:

Setspn -S cifs/your-storage-account-name-here.file.core.windows.net <ADAccountName>

Then use PowerShell to set the AD account password to the value of the kerb1 key (you must have AD PowerShell cmdlets installed and execute the cmdlet in PowerShell 5.1 with elevated privileges):

Set-ADAccountPassword -Identity servername$ -Reset -

[2022-08-25 17:58] khdownie commented on #81693
#please-close

[2022-08-25 17:59] #81693 closed

[2022-08-25 18:01] khdownie commented on #93282
@scaravacap you are correct that the Windows Server Active Directory PowerShell cmdlets in this section must be run in Windows PowerShell 5.1, not PowerShell 7.x or Azure Cloud Shell. I've updated the doc to reflect this. Thanks!

[2022-08-25 18:02] khdownie commented on #93282
#please-close

[2022-08-25 18:25] barclayn commented on #90159
@mwherman2000 thank you for your feedback.

[2022-08-25 18:26] barclayn commented on #90159
#please-close

[2022-08-25 18:26] #90159 closed

[2022-08-25 18:39] subhransusahoo opened #97570 "Use Spark 2.4 in spark pool advance setting to submit sample WordCount Scala Jar, to succeed."
[Enter feedback here]
Use Spark 2.4 in spark pool advance setting to submit sample WordCount Scala Jar, to succeed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86d23813-785f-73c5-33c6-d03c0861c17c
* Version Independent ID: f927bdb0-0e32-068d-5533-e4e4b43d46e8
* Content: [Tutorial: Create Apache Spark job definition

[2022-08-25 18:40] mahipdeora commented on #97060
Hi @bradyson, I hope you are doing well! I have updated the doc, and the changes should be reflected within the next few days. Thanks for your help!

[2022-08-25 18:43] lmhutch opened #97571 "Needs some sample logic apps"
Hello
I am looking to use the automation with ARM/Bicep
However, when you deploy the ARM template (in this case), it does not have a logic app or alert settings.

It would be helpful to suggest a few logic apps and alert settings to use

I could not find any logic apps to use for Security Automation for Specific Alerts to use on this page.
I realize that I could probably go to GitHub for this but

[2022-08-25 18:44] #95044 closed

[2022-08-25 18:48] davidsmatlak commented on #47532
@taylorturner Thanks for your feedback about the documentation. Unfortunately, your issue wasn't reviewed in a timely manner. Your issue remains open and will be reviewed, and the timeline for resolution may vary based on resourcing. There was a recent change to the content's author and I'm working through the open GitHub issues and updating documentation. I'll post a comment when I'm working on y

[2022-08-25 18:51] jonburchel commented on #89960
Hi @guignomt. Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are closing this issue for now, but if you feel that it's still a concern, please respond and let us know. If you determine another possible update to our documentation, please don't hesitate t

[2022-08-25 18:52] #89960 closed

[2022-08-25 18:55] giugnomt commented on #89960
@jonburchel this has been resolved by utilizing data factory. Thanks for your time

[2022-08-25 18:56] jonburchel commented on #90246
Thanks for your feedback to help us improve the docs @yobyot.  We invested some effort to improve this doc overall now so you should find it improved.  If you still see issues that in this or any doc, please don't hesitate to submit new issues for them too.  #please-close

[2022-08-25 18:56] #90246 closed

[2022-08-25 18:59] jonburchel commented on #90504
Hi @toddmerdermid. Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are closing this issue for now, but if you feel that it's still a concern, please respond and let us know. If you determine another possible update to our documentation, please don't hesit

[2022-08-25 18:59] davidsmatlak commented on #53365
@rsoni-git Thanks for your feedback about the documentation. Unfortunately, your issue wasn't reviewed in a timely manner. Your issue remains open and will be reviewed, and the timeline for resolution may vary based on resourcing. There was a recent change to the content's author and I'm working through the open GitHub issues and updating documentation. I'll post a comment when I'm working on your

[2022-08-25 18:59] #90504 closed

[2022-08-25 19:01] davidsmatlak commented on #54901
@xaxxon Thanks for your feedback about the documentation. Unfortunately, your issue wasn't reviewed in a timely manner. Your issue remains open and will be reviewed, and the timeline for resolution may vary based on resourcing. There was a recent change to the content's author and I'm working through the open GitHub issues and updating documentation. I'll post a comment when I'm working on your is

[2022-08-25 19:01] jonburchel commented on #90609
Hi @NaganandiniS. Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are closing this issue for now, but if you feel that it's still a concern, please respond and let us know. If you determine another possible update to our documentation, please don't hesita

[2022-08-25 19:01] #90609 closed

[2022-08-25 19:05] jonburchel commented on #90808
Hi @mgmhall1. Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are closing this issue for now, but if you feel that it's still a concern, please respond and let us know. If you determine another possible update to our documentation, please don't hesitate t

[2022-08-25 19:05] #90808 closed

[2022-08-25 19:07] jlichwa commented on #96475
#please-close

[2022-08-25 19:07] davidsmatlak commented on #73499
@benjamincburns Thanks for your feedback about the documentation. Unfortunately, your issue wasn't reviewed in a timely manner. Your issue remains open and will be reviewed, and the timeline for resolution may vary based on resourcing. There was a recent change to the content's author and I'm working through the open GitHub issues and updating documentation. I'll post a comment when I'm working on

[2022-08-25 19:07] #96475 closed

[2022-08-25 19:09] davidsmatlak commented on #78234
@JohnHKoh Thanks for your feedback about the documentation. Unfortunately, your issue wasn't reviewed in a timely manner. Your issue remains open and will be reviewed, and the timeline for resolution may vary based on resourcing. There was a recent change to the content's author and I'm working through the open GitHub issues and updating documentation. I'll post a comment when I'm working on your

[2022-08-25 19:12] davidsmatlak commented on #81525
@Mahesh-MSFT Thanks for your feedback about the documentation. Unfortunately, your issue wasn't reviewed in a timely manner. Your issue remains open and will be reviewed, and the timeline for resolution may vary based on resourcing. There was a recent change to the content's author and I'm working through the open GitHub issues and updating documentation. I'll post a comment when I'm working on yo

[2022-08-25 19:15] davidsmatlak commented on #85181
@bppn Thanks for your feedback about the documentation. Unfortunately, your issue wasn't reviewed in a timely manner. Your issue remains open and will be reviewed, and the timeline for resolution may vary based on resourcing. There was a recent change to the content's author and I'm working through the open GitHub issues and updating documentation. I'll post a comment when I'm working on your issu

[2022-08-25 19:21] jonburchel commented on #90645
Thanks for reporting the issue @WenJason. I tested and was able to import the URL specified in the doc, so I think this could be some issue with your local configuration, etc.  You can use the Azure Portal to open a free support incident with our support team, and one of our experts will help you look into the failure further. #please-close

[2022-08-25 19:21] #90645 closed

[2022-08-25 19:22] #90729 closed

[2022-08-25 19:26] jonburchel commented on #91336
Hi @sakarilaulaj. Thanks for your question. This will require additional review by our support team.  Please create a free support incident through the Azure Portal using the main menu on the upper left, under Help + Support, and one of our support team will help you look into the errors you are getting working with Excel files instead of CSV format. #please-close

[2022-08-25 19:26] #91336 closed

[2022-08-25 19:27] giancarlos29 opened #97575 "Question from Partner Perspective"
From a partner perspective where I can check all PAL Linked customers (/users/ tenants...)?

I can't seem to find It in Partner Center or Office Admin Center.

[2022-08-25 19:30] mike-urnun-msft commented on #97550
Thank you for your feedback! We will review and update as appropriate.

[2022-08-25 19:34] J227668 opened #97577 "Azure Gov"
Can CSP partners leverage these cost management features if their customer is in Azure Gov? If not, how can a CSP apply cost management principles to help their Azure Gov customers? If this is not available in Azure Gov can you please specify that in the document?

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-08-25 19:38] SadiqhAhmed-MSFT commented on #97577
@J227668 If you are referring to Cost analysis, then its still not supported. Please review this link: https://docs.microsoft.com/en-us/azure/cost-management-billing/costs/understand-cost-mgt-data#supported-microsoft-azure-offers

[2022-08-25 19:42] davidsmatlak commented on #86440
@Freia3 Thanks for your feedback about the documentation. Unfortunately, your issue wasn't reviewed in a timely manner. Your issue remains open and will be reviewed, and the timeline for resolution may vary based on resourcing. There was a recent change to the content's author and I'm working through the open GitHub issues and updating documentation. I'll post a comment when I'm working on your is

[2022-08-25 19:42] jonburchel commented on #97386
Thank you @AlexeiStrug for providing this feedback to help improve the docs. This fix is implemented now so I will close this issue, but if necessary, we can continue the conversation here, even after the issue is marked closed. #please-close

[2022-08-25 19:42] #97386 closed

[2022-08-25 19:44] davidsmatlak commented on #92769
@bppn Thanks for your feedback about the documentation. Unfortunately, your issue wasn't reviewed in a timely manner. Your issue remains open and will be reviewed, and the timeline for resolution may vary based on resourcing. There was a recent change to the content's author and I'm working through the open GitHub issues and updating documentation. I'll post a comment when I'm working on your issu

[2022-08-25 19:47] an-emma commented on #96761
Thanks for spotting it. investigating now.

[2022-08-25 19:51] lmhutch opened #97580 "Reference list for MDfC for GCP resources?"
Could we also get a reference list for GCP recommendations?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b2aeb86-0810-de8a-e4dd-22258042f5ba
* Version Independent ID: 7ebb4708-384d-bd52-6848-151bee225414
* Content: [Reference table for all Microsoft Defender for Cloud recommendations for AWS resources](https://docs.

[2022-08-25 20:04] nabhishek commented on #94565
@fRanK45jPm We have fixed the issue. Can you confirm if you still see this not working in 10.x? Also, we recommend moving to 14.x for the latest features.

[2022-08-25 20:04] nabhishek commented on #94565
#PleaseClose

[2022-08-25 20:05] seesharprun commented on #97452
#reassign:seessharprun

I'm testing locally and it looks like there's a few fixes that are needed:

- First, Python 3.6 has reached end of life. The article needs an update to say **Python 3.7+**
- There were a ton of extra Visual Studio files that needed to be removed from the sample. I also noticed that the .gitignore file didn't actually ignore any Python-specific files. That needs an update.
-

[2022-08-25 20:05] seesharprun commented on #97452
#reassign:seesharprun

[2022-08-25 20:14] Grace-MacJones-MSFT commented on #97563
Thanks for catching this error in the doc! I have submitted a PR to fix the issue and will go-live in the public docs shortly.

[2022-08-25 20:14] #97563 closed

[2022-08-25 20:18] jonburchel commented on #90992
Hi @Kachopsticks. Thanks for your feedback to help us improve the docs. I see the owner of the doc made an update that appears to address your feedback, providing a note about how to get the response body definition. I will close this issue today but we can continue the conversation here if necessary, even after it is marked as close. #please-close

[2022-08-25 20:18] #90992 closed

[2022-08-25 20:21] jonburchel commented on #91147
Hi @fujute, and thanks for your feedback to help us improve the docs. I confirmed with the owner, this has been updated now and should be working once the changes are published later in the day.  I will close this issue out now, but we can still continue the conversation here if necessary, even after the issue is marked closed. #please-close

[2022-08-25 20:21] #91147 closed

[2022-08-25 20:26] J227668 commented on #97577
What alternatives are available for cost analysis for offers that are not supported yet?

[2022-08-25 20:31] barclayn commented on #93662
@maestros thank you for your feedback. We have made content updates and I think that the issue you called out has also been fixed as part of these changes. Please let us know if you find any other issues with the documentation.

[2022-08-25 20:31] barclayn commented on #93662
#please-close

[2022-08-25 20:31] #93662 closed

[2022-08-25 20:39] mikeleuer opened #97581 "Databricks documentation did not work"
[Enter feedback here]

https://docs.microsoft.com/en-us/azure/databricks/clusters/configure#spark-configuration

Trying this example to set spark config with this bash script not working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06b57bc7-a97e-947c-442f-7ffbf13aa6cb
* Version Independent ID: 9dd5e8a5-ce82-6e15-bcf

[2022-08-25 20:40] maestros commented on #93662
@barclayn that's great, thank you.

[2022-08-25 20:40] #97452 closed

[2022-08-25 20:44] #90936 closed

[2022-08-25 20:52] lmhutch opened #97582 "Update link to show advanced protection plan not the MDC intro"
This link does not bring me to the enhanced features of Defender for Cloud
(see the highlighted section below)
Maybe use this link (even though the header says gov and national, it also includes commercial)
https://docs.microsoft.com/en-us/azure/defender-for-cloud/supported-machines-endpoint-solutions-clouds-servers?tabs=features-windows#feature-support-in-government-and-national-clouds

Why is De

[2022-08-25 21:00] ChaitanyaNaykodi-MSFT commented on #97468
Hello @AlMataMS,
Since we did not hear back from you, we will now proceed to close this issue out. Please tag me in your response if you have any questions here. Thank you!

[2022-08-25 21:00] #97468 closed

[2022-08-25 21:03] seesharprun commented on #96481
Hello @Sachid26!

I have an update to refresh the screenshots based on the state of the current portal.

Once that update has been pushed to the publish queue, this issue will automatically close. After that, the new article will be live very shortly.

Thanks for your feedback!

#reassign:seesharprun

[2022-08-25 21:04] seesharprun commented on #96663
Thanks @iriaosara!

#please-close

[2022-08-25 21:05] #96663 closed

[2022-08-25 21:14] lmhutch opened #97583 "Old Snapshots being used - please update"
Old snapshots are being used please update
https://docs.microsoft.com/en-us/azure/azure-sql/database/sql-vulnerability-assessment?view=azuresql&tabs=azure-powershell#configure-vulnerability-assessment
in this section, the snapshot still is referencing Security Center as a blade and then on the right Azure Defender for SQL and if it is enabled on a subscription

Also on the same page it references

[2022-08-25 21:17] Jamal8548 opened #97584 "authentication failed due to: Error: Cannot get AAD Federation metadata."
I am not able to fetch api results because in the documentation for API (config.json) file it is written as below:
credentials -> tenantName: The first part of your Azure AD B2C tenant name. FOR EXAMPLE CONTOSO. which is wrong,
PLEASE ADD full domain ****contoso.onmicrosoft.com****

[Enter feedback here]
<img width="373" alt="tiki" src="https://user-images.githubusercontent.com/57535574/186770337-

[2022-08-25 21:17] grminch commented on #96910
@danielgerlag, the service mode article has been edited and is presently in tech review. It will publish in a few days. I'm going to close this issue now, but please feel free to comment here if you still have concerns about the updated article. Give it a few days to finish review and merge. Thanks

#please-close

[2022-08-25 21:17] #96910 closed

[2022-08-25 21:18] kristapratico commented on #97566
closing this because TA4H actually _is_ supported on the free tier and the documentation in the link is wrong.

[2022-08-25 21:18] #97566 closed

[2022-08-25 21:26] CCampbellMSFT opened #97585 "GlobalSign CA needs to be added to section"
In the section "Integrating Key Vault with Integrated Certificate Authorities" the following needs to be changed:

From: "Azure Key Vault users can generate DigiCert/GlobalSign certificates directly from their key vaults. Key Vault's partnership ensures end-to-end certificate lifecycle management for certificates issued by DigiCert."

To: Azure Key Vault users can generate DigiCert/GlobalSign cert

[2022-08-25 21:37] Oury-MSFT commented on #97583
@lmhutch Thank you for your feedback. We are checking on this and will get back shortly.

[2022-08-25 21:38] davidsmatlak commented on #47899
I verified that `path` must use a custom provider action and doesn't accept dynamic values. I updated the article and after the pull request is merged, this issue will automatically close. After the merge, the updated document will be online within 24 hours.

[2022-08-25 21:46] fhackett-ms opened #97586 "Regions are over-represented in Cosmos DB's consistency level docs"
This issue is an extension of #95928, filed separately as it is a somewhat orthogonal idea.

Here, I will assume that my analysis was correct, and that there is no practical difference between consistent prefix and eventual consistency. Please humor me for now, and consider this thought in the context of wherever the other topic ends up.

A big source of confusion for me when reading the consisten

[2022-08-25 21:54] #47899 closed

[2022-08-25 21:57] GeethaThatipatri-MSFT commented on #97586
@fhackett-ms Thank you for reaching out. We will look into it and update you as appropriate.

[2022-08-25 21:59] Karishma-Tiwari-MSFT commented on #97225
The ACR cli that's included in the ACR task is a binary that's also available to users.
See https://github.com/Azure/acr-cli

You can use CLI's instruction if you want to use it outside of ACR task.
If you plan to use the purge functionality in a pipeline without using acr-task, this is the way to do it.

Alternatively, you can also simply invoke acr-task every time you run the pipeline.

[2022-08-25 22:14] KranthiPakala-MSFT commented on #97562
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https://docs.micros

[2022-08-25 22:14] #97562 closed

[2022-08-25 22:16] #97164 closed

[2022-08-25 22:18] KranthiPakala-MSFT commented on #97570
Thanks for reaching out here.  Could you please elaborate a bit in detail on your feedback so that we can take action accordingly? - Thank you

[2022-08-25 22:19] KranthiPakala-MSFT commented on #97564
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-08-25 22:21] calmerwaters opened #97587 "Incorrect Indentation for Cognitive Layout Service Docker compose yml"
The indentation on the docker-compose contents for the Layout container is wrong. Needs to be rectified (non-compliant yml)

https://docs.microsoft.com/en-us/azure/applied-ai-services/form-recognizer/containers/form-recognizer-container-install-run?tabs=layout#tabpanel_1_layout

*current content*

[code]

*rectified content - NB: Indentation at azure-cognitive-service-layout:*

[code]

---
#### Do

[2022-08-25 22:37] #96481 closed

[2022-08-25 22:42] BhargavaGunnam-MSFT commented on #96491
Hi @axcap,
Sorry, I am still checking with my internal team on this. I will get back to you at the earliest.

[2022-08-25 23:16] WilliamDAssafMSFT commented on #75689
#assign:WilliamDAssafMSFT

[2022-08-25 23:52] Heidilohr commented on #97521
I'm in the process of reviewing this request.

[2022-08-25 23:52] Heidilohr commented on #97490
I'm in the process of reviewing this request.

[2022-08-25 23:58] cynthn commented on #97455
@ericd-mst-github FYI - you might just want to check the wording on this anyways, to see if we can make it clearer?

[2022-08-26 00:00] davidsmatlak commented on #79056
@ngarimella Thanks for your feedback about the documentation. Unfortunately, your issue wasn't reviewed in a timely manner. I created an internal work item to update the article with some additional samples and the timeline for resolution may vary based on resourcing. I'm closing the issue but will post a comment when the article is updated.

There were recent updates to fix the example in [ArmApi

[2022-08-26 00:02] davidsmatlak commented on #79056
#please-close

[2022-08-26 00:02] #79056 closed

[2022-08-26 00:02] KarlErickson commented on #97508
@trferreira-BR thanks! I'll relay this feedback to the product team.

[2022-08-26 00:10] JamesTran-MSFT commented on #97584
@Jamal8548
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-26 00:10] JamesTran-MSFT commented on #97585
@CCampbellMSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-26 00:28] RyanHill-MSFT commented on #97548
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-26 00:41] grminch commented on #83786
The service mode article has been updated and edited for grammar.  It's in tech review now. A new version will be published in a few days. I'm closing this issue now, but if you have any more comments please feel free to post them here.

#please-close

[2022-08-26 00:41] #83786 closed

[2022-08-26 00:48] LucianFrango opened #97590 ""Inbound configuration" is not accurate"
Hello team,

The "Inbound configuration" section of this document is not accurate.
You don't create inbound route table entries with a next hop "internet" - that I would consider an outbound flow.

"however you may need to also create user-defined routes (UDR) if you have a firewall. When creating a UDR for this traffic, you can use either IP Addresses or service tags to route the traffic."

My un

[2022-08-26 01:08] jcbendernh opened #97592 "Instructions are not consistent with current functionality in Visual Studio 2019"
I am a Data & AI CSA within Microsoft and my alias is jobender.

I am walking through these instructions and the behavior shown in your document is not consistent with the experience I am seeing with Visual Studio 2019, a Synapse Dedicated Pool and Azure Dev Ops

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7b7e4bd-0

[2022-08-26 01:22] CHEEKATLAPRADEEP-MSFT commented on #97558
@victorienfotsing Please help with the link to the document on which the above document feedback request is created.

In case your query is not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community mem

[2022-08-26 01:22] CHEEKATLAPRADEEP-MSFT commented on #97575
@giancarlos29  Please help with the link to the document on which the above document feedback request is created.

In case your query is not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community member

[2022-08-26 01:23] RyanHill-MSFT commented on #97560
Thanks for discovering this. I have a pending PR that will address it.

[2022-08-26 01:34] #97560 closed

[2022-08-26 01:41] pdendukuri opened #97594 "Create user from external provider support for With OBJECT_ID"
I tried below syntax (with OBJECT_ID) and it worked. But in the Docs, there is no mention of this syntax. One of my customer is asking if this syntax is supported, why it is not available in the Docs? Can you please update Docs to reflect this?

CREATE USER [name] FROM EXTERNAL PROVIDER WITH OBJECT_ID= 'ObjectID’.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2022-08-26 01:57] davidsmatlak commented on #77708
@JustinGrote Thanks for your question. Unfortunately, your issue wasn't reviewed in a timely manner. I reviewed your question and as mentioned in the [documentation](https://docs.microsoft.com/azure/azure-resource-manager/managed-applications/create-uidefinition-overview#override-basics), the `subscription` and `resourceGroup` elements enable validations on the **Basics** tab. I wasn't able to fin

[2022-08-26 01:58] davidsmatlak commented on #77708
#please-close

[2022-08-26 01:58] #77708 closed

[2022-08-26 02:50] jiankefu commented on #97538
Hi, I am very glad to hear from you, as a reader, I have seen a lot of
network topologies in your documents, and I want to download and edit these
topologies, so cloud you upload the original files of these topologies in
the documents? Thanks very much.

Gitarani Sharma ***@***.***> 于2022年8月25日周四 18:29写道：

[2022-08-26 03:36] MarileeTurscak-MSFT commented on #97571
@lmhutch
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-26 03:46] CHEEKATLAPRADEEP-MSFT commented on #97581
@mikeleuer  Thanks for the question! We are investigating and will update you shortly.

[2022-08-26 03:47] CHEEKATLAPRADEEP-MSFT commented on #97592
@jcbendernh  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-08-26 04:08] SadiqhAhmed-MSFT commented on #97577
Modern CSP is available in Gov.

[2022-08-26 04:12] #97341 closed

[2022-08-26 04:16] VanMSFT commented on #95484
Since questions have been answered, we'll proceed to close this issue.

#please-close

[2022-08-26 04:16] #95484 closed

[2022-08-26 04:18] #97483 closed

[2022-08-26 05:24] the-sentinental-guy commented on #97483
@bmansheim Thanks for your response. Does this means that the free or basic tier users of Defender for Cloud will not have the feature of 'Security Policy & Regulatory Compliance'?

[2022-08-26 05:26] RohitMungi-MSFT commented on #97587
@calmerwaters Thanks for feedack and spotting this. I have added a PR to fix this, the doc should be updated within 24 hours of the PR merge.

[2022-08-26 05:33] RohitMungi-MSFT commented on #97590
@LucianFrango Thanks for the feedback. I have assigned the issue to the content author to review the same.

[2022-08-26 05:47] lam-man commented on #97215
I found the issue can be resolved by updating Azure CLI to the latest version. Detail on updating can be found here: https://docs.microsoft.com/en-us/cli/azure/update-azure-cli

[2022-08-26 05:47] #97215 closed

[2022-08-26 05:58] SumanthMarigowda commented on #97189
@TonnyWildeman The change feed produces several metadata and log files. These files are located in the **$blobchangefeed** container of the storage account. The **$blobchangefeed** container can be viewed either via the Azure portal or via Azure Storage Explorer.  The document has been updated!

We will now proceed to close this thread. If there are further questions regarding this matter, please

[2022-08-26 05:58] #97189 closed

[2022-08-26 06:04] eyoh5 opened #97601 "az maintenance command for dedicated host is not up to date."
[Enter feedback here]

az maintenance commands for dedicated host seems to be updated.
Lateset Azure CLI Reference : https://docs.microsoft.com/en-us/cli/azure/maintenance?view=azure-cli-latest

For example,
user should use 'az maintenance update list-parent' instead 'az maintenance update'.
https://docs.microsoft.com/en-us/azure/virtual-machines/maintenance-configurations-cli#dedicated-host-2

--

[2022-08-26 06:31] xheox opened #97602 "Typo in the page"
Typo in "Sprng Cloud"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04491fb9-6ca7-c21a-5372-a966c8ee72be
* Version Independent ID: 97fa3784-c1b4-0097-1ec9-223edaa768bc
* Content: [Comparing Container Apps with other Azure container options](https://docs.microsoft.com/en-us/azure/container-apps/compare-options)
* Conte

[2022-08-26 06:31] saiteju428 opened #97603 "Restoration of hyperscale database"
Recently, we have migrated our Database from business critical tier to hyperscale tier.

But when we wanted to have a point in time restoration DB of before migration, unable to take backup.

throws error as the destination DB is mismatched to the current DB.

Kindly help me on backup.

Note:Retention of DB is 35 days.

[2022-08-26 06:32] boydc2014 opened #97604 "Typo in doc"
[Enter feedback here]
![image](https://user-images.githubusercontent.com/3829387/186837447-de988901-fb91-4c5c-a4cc-e307bc96b49a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04491fb9-6ca7-c21a-5372-a966c8ee72be
* Version Independent ID: 97fa3784-c1b4-0097-1ec9-223edaa768bc
* Content: [Comparing Container Apps wit

[2022-08-26 06:34] SaibabaBalapur-MSFT commented on #97542
@Dbakevlar
I have gone through Docs files, but couldn't find, please could you provide your suggestion on the same.

[2022-08-26 06:46] lopeg opened #97605 "The feature is still not available in Portal UI"
[Enter feedback here]
Documentation points to Portal UI option. , but in fact it is not there still
Support claims "due to the recent challenges the new release date is 12/31"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a8d7942-08c0-0bc0-c034-bef144328a7c
* Version Independent ID: 53625933-65b7-77d4-d7c5-3c9359eb99

[2022-08-26 06:59] AjayBathini-MSFT commented on #97534
@Kuenni

As per your feedback please find the below screenshot for your reference.
<img width="515" alt="image" src="https://user-images.githubusercontent.com/111562794/186841070-a4fce61c-911b-4448-9a94-669ae2172c84.png">

 To know the Guest users and Member users of the group. You need to satisfy the first condition.
i.e. "user.objectId -ne null"

If you want your group to exclude guest users and

[2022-08-26 07:04] SaibabaBalapur-MSFT commented on #97604
@boydc2014
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-26 07:13] JesvinJoseph commented on #97225
Hi @Karishma-Tiwari-MSFT

Thank you for the update

[2022-08-26 07:13] #97225 closed

[2022-08-26 07:22] AnuragSharma-MSFT commented on #97594
@pdendukuri Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-08-26 07:30] SaibabaBalapur-MSFT commented on #97604
@boydc2014
Thanks for pointing this out, the document has been updated. Changes will go live soon.

[2022-08-26 07:34] #97604 closed

[2022-08-26 07:50] victorienfotsing commented on #97558
I send the wrong link to the documentation. Here is the right one. I've also updated it in the issue description
https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/static-web-apps/bitbucket.md

@CHEEKATLAPRADEEP-MSFT

[2022-08-26 08:09] MayankBargali-MSFT commented on #97602
@xheox Thanks for reporting this item! The issue is already addressed, and it will be published soon. We appreciate the feedback!

[2022-08-26 08:09] #97602 closed

[2022-08-26 08:24] #97557 closed

[2022-08-26 08:47] kongou-ae opened #97610 "Need to add kubernetesconfiguration.azure.com"
Hi PG,

I guess that this document doesn't have "kubernetesconfiguration.azure.com" for Azure Arc. Because my private endpoint for hybridcompute has "japaneast.dp.kubernetesconfiguration.azure.com".

<img width="438" alt="image" src="https://user-images.githubusercontent.com/3410186/186863106-37a45d19-f9c4-4ad9-a457-96a0b8a1ae41.png">

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-08-26 08:54] WKIntegrations opened #97611 "Folder blobscaninfo Does not Exist"
Under the sub-heading Blob Receipts it says this:
_To reprocess immediately, the scaninfo blob in azure-webjobs-hosts/blobscaninfo can be updated. Any blobs with a last modified timestamp after the LatestScan property will be scanned again._

However, this folder does not exist in my azure-webjobs-hosts container.  I see these:
![image](https://user-images.githubusercontent.com/95749950/186866663-

[2022-08-26 09:09] kengaderdus commented on #97557
@Jamal8548

Thank you again for catching that. It has been fixed.

[2022-08-26 09:21] the-sentinental-guy opened #97613 "Feature support through AMA and LAW agent"
The table here that shows OS support for AMA and LAW agents is being referred by the 'Change Tracking and Inventory' feature and ultimately by the 'File Integrity Monitoring' feature.

Refer:
https://docs.microsoft.com/en-us/azure/azure-monitor/agents/agents-overview#supported-operating-systems

https://docs.microsoft.com/en-us/azure/defender-for-cloud/file-integrity-monitoring-overview#:~:text=Le

[2022-08-26 09:23] the-sentinental-guy opened #97614 "Feature support through AMA and LAW agents"
The table here that shows OS support for AMA and LAW agents is being referred by the 'Change Tracking and Inventory' feature and ultimately by the 'File Integrity Monitoring' feature.

Refer:
https://docs.microsoft.com/en-us/azure/azure-monitor/agents/agents-overview#supported-operating-systems

https://docs.microsoft.com/en-us/azure/defender-for-cloud/file-integrity-monitoring-overview#:~:text=Le

[2022-08-26 09:24] v-pgaddala commented on #92799
The GA date is yet not finalized.

[2022-08-26 09:24] v-pgaddala commented on #92799
#please-close

[2022-08-26 09:24] #92799 closed

[2022-08-26 09:29] danger2520 opened #97615 "Docs Build status updates of commit _[](https://github.com/get-itips/microsoft-365-docs/commits/f68fda93f5141200ba5d87956072a8c28a0aa612)_:"
Docs Build status updates of commit _[f68fda9](https://github.com/get-itips/microsoft-365-docs/commits/f68fda93f5141200ba5d87956072a8c28a0aa612)_:

### :white_check_mark: Validation status: passed

File | Status | Preview URL | Details
---- | ------ | ----------- | -------
[microsoft-365/enterprise/connect-to-all-microsoft-365-services-in-a-single-windows-powershell-window.md](https://github.com/g

[2022-08-26 09:31] SachithKasthuriarachchi opened #97616 "Include the List of Usable Scopes for Access Token Request"
[Enter feedback here]
The documentation does not contain any reference to which scopes we can use. For an example I need to find which scope should I use if I need to access the Microsoft cost management APIs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d32f55ac-acbc-292b-d1b7-ffdd257b11e1
* Version Independent ID:

[2022-08-26 09:39] Jamal8548 commented on #97557
@kengaderdus just one short query, How Azure AD B2C authenticate with NODEJS( GraphQL-Apollo Server) API and ReactJs?
 This sample react app is authenticating with NODEJS (**express js REST API**) but there is nothing written about react App with **Nodejs (GraphQL-Apollo Server)API** authentication. Please help me as i want to apply authentication same as written in the documentation for REACT -NO

[2022-08-26 09:44] v-pgaddala commented on #44217
Table that references Source data churn and Maximum limits is available in the document.

[2022-08-26 09:45] v-pgaddala commented on #44217
#please-close

[2022-08-26 09:45] #44217 closed

[2022-08-26 09:48] v-pgaddala commented on #46515
#please-close

[2022-08-26 09:48] #46515 closed

[2022-08-26 09:56] kengaderdus commented on #97557
@Jamal8548

Thank you for your question. I don't have an answer at the moment. I'll comment back when I've something. Meanwhile, I encourage you to post you question in [Microsoft's Q&A forum](https://docs.microsoft.com/answers/index.html).

Thanks.

[2022-08-26 10:10] #97584 closed

[2022-08-26 10:14] CHEEKATLAPRADEEP-MSFT commented on #97580
@lmhutch  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-08-26 10:15] CHEEKATLAPRADEEP-MSFT commented on #97582
@lmhutch  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-08-26 10:16] CHEEKATLAPRADEEP-MSFT commented on #97603
@saiteju428  Please help with the link to the document on which the above document feedback request is created.

In case your query is not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community members

[2022-08-26 10:17] CHEEKATLAPRADEEP-MSFT commented on #97615
@danger2520  Please help with the link to the document on which the above document feedback request is created.

In case your query is not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community members

[2022-08-26 10:18] #96006 closed

[2022-08-26 10:19] #94948 closed

[2022-08-26 10:20] saiteju428 commented on #97603
Hi @CHEEKATLAPRADEEP-MSFT ,

I was trying to find in docs, for the scenario i mentioned.
But unfortunately, i was unable to find any docs.
I raised a forum request on the same.

https://docs.microsoft.com/en-us/answers/questions/982800/restoration-of-hyperscale-database.html

[2022-08-26 10:20] CHEEKATLAPRADEEP-MSFT commented on #97382
@Shoplift3020  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-08-26 10:20] #97382 closed

[2022-08-26 10:20] CHEEKATLAPRADEEP-MSFT commented on #97385
@katukam1   Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-08-26 10:20] #97385 closed

[2022-08-26 10:22] CHEEKATLAPRADEEP-MSFT commented on #97549
@samthrusha123  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-08-26 10:22] #97549 closed

[2022-08-26 10:23] richaswr opened #97618 "Please expand the Isolated Process example"
Please can you expand on the Isolated Process documentation? Specifically on this area in the code example:

`[BlobTrigger("test-samples-trigger/{name}")] string myTriggerItem`

Can you expand on what `myTriggerItem` represents? It is clearly content that needs to be converted to make use of the original file, however how do we perform that conversion or make use of the object in general? I have t

[2022-08-26 10:23] CHEEKATLAPRADEEP-MSFT commented on #97603
@saiteju428  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-08-26 10:23] #97603 closed

[2022-08-26 10:24] KapilAnanth-MSFT commented on #97486
@ganeshbalaji, As there are no active discussions on this thread, we shall archive it.

Please re-open the issue should you require further details.

[2022-08-26 10:24] #97486 closed

[2022-08-26 10:37] SaibabaBalapur-MSFT commented on #97613
@the-sentinental-guy
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-26 10:41] savas-guven opened #97620 "Is two NSGs a supported scenario for Databricks (1 for each subnet)"
I have a request for feedback regarding the following word `same`:

_If you use the [Workspace ARM template](https://docs.microsoft.com/en-us/azure/databricks/administration-guide/cloud-configurations/azure/vnet-inject#arm-workspace) or a custom ARM template, it is up to you to ensure that your two subnets for the workspace use the **same** network security group and are properly delegated. For de

[2022-08-26 10:42] SaibabaBalapur-MSFT commented on #97613
@the-sentinental-guy
Closing has duplicate issue, with the reference below ticket number.
https://github.com/MicrosoftDocs/azure-docs/issues/97614

[2022-08-26 10:42] #97613 closed

[2022-08-26 10:48] Darryl-G opened #97621 "Confusing statement statement ref NVA/Firewall"
Hello,

Slightly confused as the doc says:

"_Additionally, when you use firewall/NVA, the traffic to Azure Active Directory and Recovery Services vault will pass through the firewall/NVA and it doesn’t affect the overall backup performance._"

It says it will pass through the firewall and the firewall does not impact performance.

Yet further down there is a note:

"_NVA/Azure Firewall may add an

[2022-08-26 10:53] ag0059985 opened #97622 "Priority missing from command for app gateway"
[Enter feedback here]
Please update the app gateway create command and add "--priority '1'" in it

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5732d98e-42c7-0f11-b847-f9cf9e1ce46b
* Version Independent ID: 43e13a6e-64f5-2c6f-8e53-a6faa61293fd
* Content: [Azure CLI script sample - Integrate App Service with Applicatio

[2022-08-26 10:55] SaibabaBalapur-MSFT commented on #97616
@SachithKasthuriarachchi
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-26 11:09] AjayKumar-MSFT commented on #97558
Victorienfotsing, Thanks for the follow-up and sharing the right doc URL.

At this time, only following deployment types are available  (highlighting the ones, relevant to your requirement).

[Branch](https://docs.microsoft.com/azure/static-web-apps/branch-environments): You can optionally configure your site to deploy every change made to branches that aren't a production branch. This preview dep

[2022-08-26 11:18] SaibabaBalapur-MSFT commented on #97539
@billmath
Please could you review this case .

[2022-08-26 11:28] iamrajshah opened #97624 "Feature not existing for JS SDK"
|                   | Given a communication user, get the list of chat threads the user is part of                                           | ✔️   | ✔️  | ✔️    | ✔️  |  ✔️    | ✔️   |

For JS SDK I can't find the way to get list of chat threads for given communication user.
If there is any document which I miss, please reply for this bug

[2022-08-26 11:30] KapilAnanth-MSFT commented on #97610
@kongou-ae , Thanks for your feedback. We shall review this and get back to you shortly

[2022-08-26 11:40] AnuragSharma-MSFT commented on #97605
@lopeg Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-08-26 11:41] mtb2020 opened #97625 "if your requirements include end-to-end encryption"
[フィードバックをこちらに入力してください]

The docs says "Azure Disk Encryption provides end-to-end encryption for the OS disk, data disks, and the temporary disk with a customer-managed key."

However, end-to-end encryption is written in the chapter on Server-side encryption as follows.
https://docs.microsoft.com/ja-jp/azure/virtual-machines/disk-encryption#encryption-at-host---end-to-end-encryption-for-your-vm-dat

[2022-08-26 11:43] DrDallas opened #97626 "Deprecated Azure cmdlet used"
In the _Configure the Azure AD service principal and application_ section, the PowerShell command `Get-AzureADServicePrincipal` is deprecated and should be changed to `Get-AzaDServicePrincipal `

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25ccb59e-98fc-0382-030a-c3805494afd2
* Version Independent ID: ed04168c-41ba-e

[2022-08-26 11:56] AndrevdG opened #97627 "Confusing service principal id"
The examples contain the powershell commando for creating the required service principal as such:

`New-AzureADServicePrincipal -AppId "6ba9a5d4-8456-4118-b521-9c5ca10cdf84"`

For me the deployment failed because it was missing a service principal with another id: 2565bd9d-da50-47d4-8b85-4c97f669dc36

According to an [external source](https://schnerring.net/blog/set-up-azure-active-directory-domai

[2022-08-26 12:02] #97476 closed

[2022-08-26 12:02] AndrevdG commented on #97627
BTW, the troubleshooting page also (only) contains the, supposed, public Azure id: https://docs.microsoft.com/en-us/azure/active-directory-domain-services/alert-service-principal

[2022-08-26 12:25] SnehaAgrawal-MSFT commented on #97622
@ag0059985 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-26 12:44] iweidner opened #97628 "Unfortunately, the Set-ADSyncExchangeHybridPermissions script with the AdminSDHolder switch does not work properly."
We ran the Powershell script Set-ADSyncExchangeHybridPermissions with the switch -IncludeAdminSDHolders.
As the documentation says, the permissions are set there as follows, among other things:
Allow AD DS Connector Account -> Read/Write all properties Descendant User objects.
These permissions are also correct in my opinion, as long as they are set on an OU.
However, exactly the same permission i

[2022-08-26 13:17] KapilAnanth-MSFT opened #97630 "Transit Routing Requirements not clear"
In the Section , "Limits and limitations", It is mentioned "If you want to use transit routing between ExpressRoute and VPN, the ASN of Azure VPN Gateway must be set to 65515"

However, this is misleading as no clarity is provided that we need Azure Route Server for this actually work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2022-08-26 13:44] KapilAnanth-MSFT commented on #97610
@kongou-ae , we have assigned this to the author for further review.

@asudbring , Please review this and update the document for the Zone, "kubernetesconfiguration.azure.com" if required

[2022-08-26 13:51] arntdg opened #97631 "Article uses "the showmount""
Re:  Register the feature to disable showmount

**The disable showmount capability is currently in public preview. If you're using this feature for the first time, you need to register the feature first. By registering the feature, you disable the showmount. By unregistering the feature, you enable the showmount.**

Both times it says "the showmount" where either "the" is out of place or it should

[2022-08-26 14:15] vanessabruwer opened #97633 "Clarify RBAC rights required by customer and MSP in both tenants"
it is not clear from this (or any of the Lighthouse documentation) what permissions are needed on both sides in order to enable Lighthouse on a subscription.

Can it be specified very clearly that Owner rights are needed in the client tenant in order to enable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c68d3bb-38

[2022-08-26 14:42] sananoorani commented on #95478
Hello - This issue was closed, but I reviewed the documentation and it is still not fixed. Can someone please take a look? Customers are still having issues with this.@MarileeTurscak-MSFT @v-hgampala @jeevansd

[2022-08-26 15:02] seesharprun commented on #96237
#reassign:seesharprun

[2022-08-26 15:35] JamesTran-MSFT commented on #97627
@AndrevdG
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-08-26 15:36] JamesTran-MSFT commented on #97628
@iweidner
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-08-26 15:47] aaelony-aeg commented on #95484
I can confirm queries do work over JDBC via Clojure:

etc..
[code]

Okay to close. Thanks.

[2022-08-26 15:50] martinhenrysson commented on #97524
Had this issue as well. Can confirm that the solution @mrochon suggests works.

[2022-08-26 16:06] ChaitanyaNaykodi-MSFT commented on #97630
@KapilAnanth-MSFT has made a PR for this issue and is awaiting doc author approval.

[2022-08-26 16:33] TravisGuinn opened #97635 "Incorrect directions."
At step 1 [here ](https://docs.microsoft.com/en-us/azure/active-directory/verifiable-credentials/verifiable-credentials-configure-tenant#set-access-policies-for-the-verifiable-credentials-service-request-service-principal)the GUID is missing an "f" at the end. Displayed GUID is 3db474b9-6a0c-4840-96ac-1fceb342124 and should be 3db474b9-6a0c-4840-96ac-1fceb342124f
At step 3 it says select "Save" bu

[2022-08-26 16:42] normesta commented on #88058
#reassign:@jimmart-dev

[2022-08-26 16:43] normesta commented on #85597
#reassign:@jimmart-dev

[2022-08-26 16:43] normesta commented on #83682
#reassign:@jimmart-dev

[2022-08-26 16:43] normesta commented on #77172
#reassign:@jimmart-dev

[2022-08-26 16:44] kyleross-deckers opened #97636 "Incomplete Instructions"
The example PATCH for updating the federatedIdpMfaBehavior setting has no information on how to determine the internalDomainFederationId. This value is required for both the MSGraph PATCH command as well as the updated Set-MgDomainFederationConfiguration powershell command in the Microsoft.Graph PowerShell module.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2022-08-26 16:44] normesta commented on #56960
#reassign:@jimmart-dev

[2022-08-26 16:44] normesta commented on #51998
#reassign:@jimmart-dev

[2022-08-26 16:46] normesta commented on #93854
#reassign:@jimmart-dev

[2022-08-26 16:47] normesta commented on #44702
#reassign:@jimmart-dev

[2022-08-26 16:54] AjayBathini-MSFT commented on #97636
@kyleross-deckers
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-26 17:06] spelluru commented on #96697
Updated the screenshot. The updated article will go live before the end of the day.

#please-close

[2022-08-26 17:06] #96697 closed

[2022-08-26 17:16] KranthiPakala-MSFT commented on #97620
Thanks for the feedback! We have assigned the issue to the content author to further review this and provide an update as appropriate.

[2022-08-26 17:31] VitalyMCT opened #97637 "Preview vs. GA"
Regarding

According to https://techcommunity.microsoft.com/t5/azure-data-factory-blog/map-data-tool-in-synapse-analytics-now-generally-available/ba-p/3562966 the feature is GA.

Is my understanding correct and this article is out of date?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23d6a270-b733-753c-b6e0-4ccac0680

[2022-08-26 17:35] mmacy commented on #95025
#reassign:@OwenRichards1

Owen, can you take this one? Should be quick one-line fix. Thanks!

[2022-08-26 17:38] jonburchel commented on #90636
Thanks @billzCFGH for your question.  I researched this and confirmed both .p12 and .json files should work (we tested again to be sure nothing is wrong).  The likely cause of the failures might have been permissions on the folder where you placed the files.  You can either choose to run the SHIR as the current user, or change the file permissions to make it readable by the current SHIR service ac

[2022-08-26 17:38] #90636 closed

[2022-08-26 17:39] sshreenivasa opened #97638 "Need CCI guidance on Replicated tables"
Please include Index guidance on replicated tables. Specifically, when to use CCI or should they be used on replicated tables?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51d332d1-7b6a-bdcc-f50a-d796c3c6e7c5
* Version Independent ID: ec158270-0be7-4353-61f1-f1c122ac48c9
* Content: [Design guidance for replicated tab

[2022-08-26 17:53] mike-urnun-msft commented on #97611
Thank you for your feedback! We will review and update as appropriate.

[2022-08-26 18:03] mike-urnun-msft commented on #97618
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-08-26 18:03] spelluru commented on #96829
Updated the article H2s to differentiate between ADLS Gen 1 vs. Gen 2. The article will go live before the end of the day.

#please-close

[2022-08-26 18:03] #96829 closed

[2022-08-26 18:08] jonburchel commented on #91426
Thank you @dgpoulet for this question, and helping us improve the docs.  In fact these properties are the same thing, but parallelCopies is the JSON expression of the UI setting you can make through the Copy activity Settings tab.  I updated the document now and once that change is merged, this issue will be closed automatically.  However, you can still continue the conversation here if necessary,

[2022-08-26 18:12] jonburchel commented on #91445
Thanks @HitenBhavsarMSFT for helping us improve the docs.  I added a note confirming this requirement in the doc now and this issue will be automatically closed out once it is merged.  However, you can still continue the discussion here as necessary if you have follow up questions, even after the issue is marked closed.

[2022-08-26 18:12] #90872 closed

[2022-08-26 18:20] #91426 closed

[2022-08-26 18:22] #91445 closed

[2022-08-26 18:35] bandersmsft commented on #97238
@AZGabe As you noted, our article was out of date. I've removed the steps to download the price sheet from the article and I revised the note to say:

*The Azure Marketplace price list feature in the EA portal is retired. Currently, EA customers can't get a Marketplace price sheet.*

I know that sounds unusual, but this information is coming from the Billing engineering team. I've also been told t

[2022-08-26 18:35] #97238 closed

[2022-08-26 18:38] bandersmsft commented on #97210
@jhic I haven't forgotten about this issue. I'm still trying to get engineering team input for it.

[2022-08-26 18:44] whhender commented on #95645
@HenriHeijltjes - thanks very much for your time and patience! I've got an answer for you:

The property "applicableEntityTypes": "[\"Referenceable\"]" tells which types the business metadata is applied to, so your step 2 is part of step 1.

I'll add a note to the documentation to make this clearer. Thank you for reaching out with this question!

[2022-08-26 18:47] AZGabe commented on #97238
Much appreciated!

Will take this information in stride.

Warm regards,
Gabe Weed | Technical Advisor | Azure Subscription Management Support
Email: ***@***.******@***.***> | Manager: ***@***.******@***.***>
Working Hours: 2:30 PM-11:30 PM (Mon-Fri) UTC | Local Time <https://nam12.safelinks.protection.outlook.com/?url=http%3A%2F%2Fwww.timebie.com%2Fstd%2Fgmt.php&data=04%7C01%7CDavidB%40synnex.com%

[2022-08-26 18:50] whhender commented on #95645
The tip is added! I'll close this ticket for now, but if you have any other questions, reach out anytime!

[2022-08-26 18:50] whhender commented on #95645
#please-close

[2022-08-26 18:50] #95645 closed

[2022-08-26 19:26] MarileeTurscak-MSFT commented on #97635
@TravisGuinn
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-26 20:03] DakotaWray2 commented on #52977
The directions are backwards here for the IDPID. I would recommend you state how to get IDPID when the you reach the step rather than the reader needing to jump around the doc.

[2022-08-26 20:09] grminch commented on #74145
@fgheysels, is this still an open issue for you? What did you decide to do?

I have researched your question, and I'm _almost certain_ there's no direct way to get the principal id for the SignalR Service system assigned identity from within an ARM or Bicep template.

If you want to do the entire deployment in one step using a template, I recommend that you use a user assigned identity. The user a

[2022-08-26 20:09] #74145 closed

[2022-08-26 20:13] MarileeTurscak-MSFT commented on #97355
Hi @egoh8, if the only admin account was deleted or lost access, you will need to reach out to the Azure Data Protection team to get help getting back in. They are a bit backed up right now and may take some time to reply, but their number is 866-807-5850 .

Hope this helps and feel free to keep me posted on the progress.

[2022-08-26 20:13] #97355 closed

[2022-08-26 20:27] JnHs commented on #97633
Hi @vanessabruwer - thanks for the suggestion. This requirement is detailed on the onboarding topic (see "Important" note at https://docs.microsoft.com/en-us/azure/lighthouse/how-to/onboard-customer#deploy-the-azure-resource-manager-template), but I'll mention it here as well. Once that change has been merged, this issue will close, though it may take a bit longer for the live page to be updated.

[2022-08-26 20:28] laujan commented on #97587
Hi @calmerwaters,

I have updated the document and the changed should be live this afternoon. Thank you for the callout!

cc: @RohitMungi-MSFT

[2022-08-26 20:47] #97633 closed

[2022-08-26 20:51] tifischer opened #97642 "What is the time frame of the 500 limit"
Please let us know what the rime frame of the limit is...is it 500 ever for all of eternity and until the end of time or is it 500 events a day?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e29b6cc-f1c7-fb30-f0da-e043ec5903d6
* Version Independent ID: f47e660a-b09e-10c5-8f6b-c8c51f25bf4c
* Content: [Quotas and limit

[2022-08-26 21:04] JamesTran-MSFT commented on #97585
@CCampbellMSFT
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-08-26 21:04] #97585 closed

[2022-08-26 21:40] baf opened #97643 "Portal documentation is no longer current"
It appears that the portal content on this page no longer represents the current functionality in the product. The portal now allows (or appears to allow) app name to be separated from the geolocation map, and allows both inclusions and exclusions. This page (along with https://docs.microsoft.com/en-us/azure/active-directory/authentication/how-to-mfa-additional-context) do not reflect the new inte

[2022-08-26 21:50] MarileeTurscak-MSFT commented on #97635
@TravisGuinn Thank you for pointing these out! I made a pull request to correct these issues. https://github.com/MicrosoftDocs/azure-docs-pr/pull/209390

@barclayn

[2022-08-26 21:50] #97635 closed

[2022-08-26 21:51] MarileeTurscak-MSFT commented on #97643
@baf
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-26 21:53] bretboss commented on #97341
Sorry.  It looks like I posted this too soon.  It didn't give any indication it was running or had run.  But I was able to disprove my prior assumption by running these similar commands and seeing similar console outputs and seeing text written to files:

[code]

[2022-08-26 21:55] MarileeTurscak-MSFT commented on #97614
@the-sentinental-guy
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-26 21:59] MartinJaffer-MSFT commented on #96491
Hi @axcap .  So if I understand correctly, the issue now is you need to add a single character, ANY character to the beginning of "continuationToken" where "continuationToken" is a key in your query parameters?

Have you tried testing this same call using anything other than Data Factory?  There is the possibility there is a bug in the server, rather than the Data Factory.  I notice from your scre

[2022-08-26 22:00] KranthiPakala-MSFT commented on #97570
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-08-26 22:21] tfitzmac commented on #97548
@adeliab - thanks for this feedback. I submitted an update to use resource IDs in the variable. This update should get published Monday morning. When it is published, can you confirm the change fixes the issue?

[2022-08-26 22:22] tfitzmac commented on #97548
Here's the new syntax:
myContactGroups ='("/subscriptions/{sub-id}/resourceGroups/{rg-name}/providers/microsoft.insights/actionGroups/groupone", "/subscriptions/{sub-id}/resourceGroups/{rg-name}/providers/microsoft.insights/actionGroups/grouptwo")'

[2022-08-26 22:32] SaiKishor-MSFT commented on #97631
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-26 22:37] tfitzmac commented on #97571
@lmhutch - are you looking for example code that creates the Logic App or alert setting? I think adding that code would be beyond the scope of this quickstart but adding a link could be helpful. Would [this Logic App quickstart](https://docs.microsoft.com/en-us/azure/logic-apps/quickstart-create-deploy-bicep?tabs=CLI) or [ARM template example](https://github.com/Azure/azure-quickstart-templates/bl

[2022-08-26 22:45] tfitzmac commented on #97499
@SetTrend - thanks for this feedback. Is the information you are looking for covered in this [Learn module](https://docs.microsoft.com/en-us/learn/modules/authenticate-azure-deployment-workflow-workload-identities/2-understand-workload-identities)?

[2022-08-26 22:50] MarileeTurscak-MSFT commented on #97621
@Darryl-G
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-26 22:53] MarileeTurscak-MSFT commented on #97624
@iamrajshah
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-26 23:05] kgremban commented on #91533
I've updated the article based on this discussion and the information I gathered about certificate chain of trust flows. I'm going to close this issue as resolved. If you have any follow-up questions, please comment here and we can reopen the issue.

#please-close

[2022-08-26 23:06] #91533 closed

[2022-08-26 23:08] nickludwig commented on #96027
Hey @matthchr - IIUC, `xms_mirid` is a first party only optional claim. We have it internally documented, but I don't think we need to add it to public documentation. We don't document any other 1P claims there, so that would break pattern.

[2022-08-26 23:36] #89824 closed

[2022-08-26 23:37] Heidilohr commented on #96527
@VikasPullagura-MSFT The documentation currently has information about version 1.0.5100.1100, but not version 1.0.4739.1000.

[2022-08-27 00:19] GithubMirek commented on #92534
Thnak you @VanMSFT
#please-close

[2022-08-27 00:25] GithubMirek commented on #91416
Thnak you @VanMSFT
#please-close

[2022-08-27 00:35] rwike77 commented on #97525
@elbee19  Thanks for bringing this up.  Looks like the portal is a little different now.  In the section that says 'Select the role you wish to assign to the application.', Select Add > Add role assignment to open the Add role assignment page.

In the Role tab, select the role you want to added to the app in the list. For example "Contributor".  Select the Next button to move to the Members tab.

[2022-08-27 00:43] GithubMirek commented on #95830
The section  “Using Active Directory Service Principal” authentication in
[Using Azure Active Directory authentication with SqlClient - ADO.NET Provider for SQL Server | Microsoft Docs](https://docs.microsoft.com/en-us/sql/connect/ado-net/sql/azure-active-directory-authentication?view=sql-server-ver16)
documents the connection string used in the C## above for service principals. The code is simila

[2022-08-27 00:43] #95830 closed

[2022-08-27 01:52] RyanHill-MSFT commented on #97625
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-27 01:54] RyanHill-MSFT commented on #97626
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-08-27 02:02] Kav7 opened #97644 "Download link for Azure AD Connect V1.6 is broken"
Download link for Azure AD Connect V1.6 is broken, the link points to:
https://www.microsoft.com/download/details.aspx?id=103336

Found under heading 'Looking for the latest versions?', second bullet point.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57f5478b-3132-21d0-a420-a1140db235de
* Version Independent ID: 266

[2022-08-27 02:45] CHEEKATLAPRADEEP-MSFT commented on #97638
@sshreenivasa  Thanks for the feedback! I have assigned the issue to the content author to evaluate and add the details.

[2022-08-27 02:47] CHEEKATLAPRADEEP-MSFT commented on #97642
@tifischer  Thanks for the question! We are investigating and will update you shortly.

@spelluru Can you please take a look at the issue?

[2022-08-27 02:47] CHEEKATLAPRADEEP-MSFT commented on #97644
@Kav7  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-08-27 02:53] CHEEKATLAPRADEEP-MSFT commented on #97637
@VitalyMCT  Thanks for the feedback! We are investigating and will update you shortly.

@joshuha-msft Could you please review and approve the PR?

[2022-08-27 03:11] giancarlos29 commented on #97575
This is the link, sorry I missed it.

https://docs.microsoft.com/en-us/partner-center/link-partner-id-for-azure-performance-pal-dpor

[2022-08-27 03:41] #97630 closed

[2022-08-27 03:43] juicybaba opened #97646 "Routing setup doesnt seem to be correct on page "Route traffic through NVAs by using custom settings""
Few things don't seem to be correct under [Alternate workflow](https://docs.microsoft.com/en-us/azure/virtual-wan/scenario-route-through-nvas-custom#alternate)

1. The aggregated route of multiple branches with next as NVA wont work, because VHUB is likely have a more specific route (learned from BGP or Static route via VPN) to each branch with next hop as VPN gateway or VPN connection, and more s

[2022-08-27 04:38] Mankarse opened #97647 "Key Vault VM Extension on Windows Server 2022"
According to https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/key-vault-windows#operating-system, the Azure Key Vault VM Extension does not support Windows Server 2022. It would be helpful if the documentation gave at least one suggested alternative for integrating Azure Key Vault with Windows Server 2022.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2022-08-27 05:08] eugbyte commented on #95755
@seesharprun the [linux documentation](https://docs.microsoft.com/en-us/azure/cosmos-db/linux-emulator?tabs=mongodb-api%2Cssl-netstd21#run-the-linux-emulator-on-linux-os) does not publish port 10255. port 10255 is part of the [mongoDB connection string](https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator?tabs=ssl-netstd21#azure-cosmos-dbs-api-for-mongodb)

the emulator mongo db connect

[2022-08-27 06:32] kromerm commented on #92984
#please-close

[2022-08-27 06:32] #92984 closed

[2022-08-27 06:33] kromerm commented on #89953
#please-close

[2022-08-27 06:33] #89953 closed

[2022-08-27 07:37] rvdginste commented on #97027
I could no longer wait for this and had to write a workaround to fix the forwarding headers using configuration.

Still, I would like to have some feedback on this and know whether I am doing something wrong: it seems a bit strange that Microsoft's own ForwardedHeaders middleware would not work out-of-the-box with their own Application Gateway reverse proxy implementation....

[2022-08-27 07:39] rvdginste commented on #97027
It seems like @KapilAnanth-MSFT mentioned the wrong person in the comment, and it should really have been @greg-lindsay.

[2022-08-27 07:41] lrtoyou1223 commented on #92821
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-08-27 07:41] #92821 closed

[2022-08-27 07:50] KapilAnanth-MSFT commented on #97027
@rvdginste, this thread is assigned to the author @greg-lindsay only.

I see I had mentioned a different alias in comment section, however, @greg-lindsay shall review this and update the thread accordingly.

[2022-08-27 08:03] eissko opened #97649 "Azure Function doc - Improve this sentence "If you are using version 5.x or higher of the extension,""
[Enter feedback here]

Please, can we improve the "Azure Function" documentation?

In paragraph "Identity-based connections", there is sentence:

"If you are using version 5.x or higher of the extension, instead of using a connection string with a secret, you can have the app use an Azure Active Directory identity."

For me, is not clear what "version 5.x or higher of the extension" really means.

[2022-08-27 08:29] AlphaHasher opened #97650 "Invalid request has been sent."
I keep getting an `Invalid request has been sent.` error.

I have a valid key and endpoint, and to verify that it was not my code that was broken, I copy pasted the quickstart code and followed the requirements to run the code, and even the code found here:
https://github.com/Azure-Samples/cognitive-services-quickstart-code/blob/master/python/Face/DetectFaceAttributes.py
and I still get the same e

[2022-08-27 13:14] ArtyomVancyan commented on #28378
I had the same issue and fixed it by adding the required `OutputClaims` into the `TechnicalProfile` of my custom IdP.
[code]

[2022-08-27 13:17] GeethaThatipatri-MSFT commented on #97412
Hi, @DarqueWarrior Document will be updated soon.
Thanks, @mikaelweave for fixing the doc issue.

[2022-08-27 13:17] #97412 closed

[2022-08-27 14:36] CHEEKATLAPRADEEP-MSFT commented on #97646
Thanks for the question! We are investigating and will update you shortly.

[2022-08-27 14:37] punitkshah opened #97652 "Email address provided does not accept emails"
The email address provided in the article does not accept emails with below error message:

The group ask.graph.and.grid isn't set up to receive messages from xxx@xxx.com. Sender not allowed

---
![Error](https://user-images.githubusercontent.com/23195772/187034942-60616d98-d4af-4f67-981f-f9681e6f1f24.JPG)

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2022-08-27 14:37] CHEEKATLAPRADEEP-MSFT commented on #97647
Thanks for the question! We are investigating and will update you shortly.

[2022-08-27 14:38] CHEEKATLAPRADEEP-MSFT commented on #97649
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-08-27 14:39] CHEEKATLAPRADEEP-MSFT commented on #97650
Thanks for the question! We are investigating and will update you shortly.

[2022-08-27 14:43] AshokPeddakotla-MSFT commented on #97504
@Sivaprakash1981 We try to reserve these issues for feedback directly related to the tutorials: like if there are errors that block tutorial completion or if there are updates/changes required, suggestions for improvement, etc. If this is not the case I would suggest you, open an issue with your question on the [Microsoft QnA](https://docs.microsoft.com/en-us/answers/questions/ask.html) with appro

[2022-08-27 14:43] #97504 closed

[2022-08-27 14:59] Clayoyo opened #97653 "Superscript 2 need more details"
[Enter feedback here]
Please add the premise that the device and ACR need to be in the same region to achieve such a fast download speed (Superscript 2).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dfe5a2a3-6fd3-2cca-0387-5c0d9b19906c
* Version Independent ID: 3b1ddae9-b0c3-78ff-15a5-428abea3773e
* Content: [Registr

[2022-08-27 15:07] rednax72 opened #97654 "registrar's DNS management"
Not every registrars enables 4 nameserver entries
Are really all 4 entries necessary or does it also work with for example only 2 or 3

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cb21b82-0660-2c3f-1651-86285fa64e59
* Version Independent ID: 2829303e-b6ba-537c-2751-8497e3d591cc
* Content: [Tutorial: Host your domain

[2022-08-27 15:09] lmhutch commented on #97571
Yes just adding a link to where the customer can go to select a logic app would be perfect
It’s talked about in the article but nothing pointing the customer to where they can make that selection

Thanks!
/laura

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Tom FitzMacken ***@***.***>
Sent: Friday, August 26, 2022 6:38:08 PM
To: MicrosoftDocs/azure-docs ***@***

[2022-08-27 16:20] Sesa1988 commented on #10584
Azure still does not provide a flutter package? We need support for mobile, desktop and web.

[2022-08-27 17:04] ohadschn commented on #96027
Hey, do you have any reference for `xms_mirid` being a first-party only optional claim?
Feel free to contact me internally, alias: `ohads`. Thanks!

[2022-08-27 17:29] habeebth7 opened #97655 "resizing to 1MB issue"
Make sure that the size of the raw image is aligned with 1 MB. Otherwise, round up the size to align with 1 MB:
This part is not clear as where to run these variable and command?

MB=$((1024*1024))
size=$(qemu-img info -f raw --output json "rhel6.6.raw" | \
  gawk 'match($0, /"virtual-size": ([0-9]+),/, val) {print val[1]}')

rounded_size=$((($size/$MB + 1)*$MB))
qemu-img resize rhel-6.9.raw $roun

[2022-08-27 18:13] #97558 closed

[2022-08-27 19:04] prateekpanjla-outlook opened #97657 "Command to delete resource group is incorrect."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e30e8626-d145-a638-e3ad-6948f7897dec
* Version Independent ID: a261c750-16ff-ee26-8024-50f724feb291
* Content: [Delete resource group and resources - Azure Resource Manager](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/dele

[2022-08-27 19:05] prateekpanjla-outlook commented on #97657
az group delete --name ExampleResourceGroup
 is incorrect.
 It should be
 az group delete --resourcegroup ExampleResourceGroup

[2022-08-27 23:53] victorienfotsing commented on #97558
Tanks for the support.
Here is a better description of the solution, in case some one is also look for a solution to this issue.
https://github.com/Azure/static-web-apps/issues/899

[2022-08-28 00:56] ssabat commented on #91598
@cutecycle  Thanks for feedback. We are aware of this diagram. But, it is authored by Data Savvy. We thank Ms. Megan for this beautiful diagram. As per Azure doc policy, we cannot document  it as part of  ADF documentation as it is not drawn by us. Where possible, we too document  at https://docs.microsoft.com/en-us/azure/data-factory/how-to-create-event-trigge e.g.
![image](https://user-images.gi

[2022-08-28 00:56] ssabat commented on #91598
#please-close

[2022-08-28 00:56] #91598 closed

[2022-08-28 03:23] CHEEKATLAPRADEEP-MSFT commented on #97652
@punit Thanks for the feedback! We are investigating and will update you soon

[2022-08-28 03:25] CHEEKATLAPRADEEP-MSFT commented on #97653
@Clayoyo Thanks for the feedback! We are investigating and will update you soon

[2022-08-28 03:27] CHEEKATLAPRADEEP-MSFT commented on #97654
@rednax72
Thanks for the question! We are investigating and will update you shortly.

[2022-08-28 03:28] CHEEKATLAPRADEEP-MSFT commented on #97655
Thanks for the question! We are investigating and will update you shortly.

[2022-08-28 03:29] CHEEKATLAPRADEEP-MSFT commented on #97657
Thank you for your interest in Azure products and services. We are investigating and will update you shortly.

[2022-08-28 08:05] bmansheim commented on #97159
I'll close this for now. Please update if you think it's still an issue.
#please-close

[2022-08-28 08:05] #97159 closed

[2022-08-28 08:08] bmansheim commented on #97456
Checking...

[2022-08-28 08:14] bmansheim commented on #97580
It's on our roadmap. Please contact @rayne-wiselman for escalation.
#please-close

[2022-08-28 08:14] #97580 closed

[2022-08-28 08:21] bmansheim commented on #97582
I'll update that link to a better target. Thanks!
#please-close

[2022-08-28 08:21] #97582 closed

[2022-08-28 08:52] guywi-ms commented on #97614
#assign-reviewer: @shayoniseth

[2022-08-28 08:53] guywi-ms commented on #97614
CC: @shayoniseth

[2022-08-28 09:23] f1point2 opened #97660 "No alternate version of the article - the article links to itself and tab just provides a link to generic information."
The second paragraph contains the sentence \ link - " ... , see the [alternate version of this article](https://docs.microsoft.com/en-gb/azure/azure-functions/functions-create-your-first-function-visual-studio?tabs=isolated-process)."

The link just links to itself; there is no seperarte alternate version of the article; just a tab that links off to more information about running c# azure function

[2022-08-28 12:58] y-dima opened #97661 "Feature Request: make [In this article] navigation always visible"
To navigate easier and see the progress in reading the document content, it would be nice to keep the [In this article] navigation panel (on the right) to be always visible and do not move away when I scroll down the document.

[2022-08-28 14:11] CHEEKATLAPRADEEP-MSFT commented on #97661
@y-dima  Please help with the link to the document on which the above document feedback request is created.

In case your query is not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community members coul

[2022-08-28 14:12] CHEEKATLAPRADEEP-MSFT commented on #97660
@f1point2  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-08-28 14:16] y-dima commented on #97661
This is a general UX-related request related to all documents at https://docs.microsoft.com/

[2022-08-28 14:41] zaalion opened #97662 "<key-permissions>"
[Enter feedback here]

Hi, it is more helpful if you provide real access policies in the command instead of <key-permissions> .. etc.

Thanks
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3dd6b80d-35f6-f39b-3647-727b6d95e3a1
* Version Independent ID: 59bf3960-7a79-8072-9ba4-ddd042a02fb0
* Content: [Assign an Azure Key

[2022-08-28 15:34] zaalion opened #97664 "Storage Account Principal id"
[Enter feedback here]
Hello,

I need to grant key vault access policy to a storage account, so I need to find the Storage Account principal id (GUID). This is different from the storage account id. How can I do it using the CLI?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5706a75e-3eb6-895f-2485-a0c02ab08b9

[2022-08-28 15:41] ggailey777 commented on #97660
Thanks @f1point2 for the feedback. I was trying to be clever with switching between tabs, but I can see how this could be confusing.

[2022-08-28 17:37] tunazorlu opened #97666 "Miss-Translated sentence about declined cards."
This issue about a miss-translated info about declined cards.

On [https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/troubleshoot-declined-card](https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/troubleshoot-declined-card) it says:

Prepaid and virtual cards aren't accepted as payment for Azure subscriptions.

Let's check Turkish page.
[https://docs.microsof

[2022-08-28 17:51] chaseoli opened #97667 "Unexplained environment variable for Pod Identity Preview Docs"
Under the section [Assign permissions for the managed identity](https://docs.microsoft.com/en-us/azure/aks/use-azure-ad-pod-identity#assign-permissions-for-the-managed-identity)

There is an env variable that is unexplained. Recommend providing an explanation for *nodeResourceGroup*  in:

`NODE_GROUP=$(az aks show -g myResourceGroup -n myAKSCluster --query nodeResourceGroup -o tsv)...`

---
#### D

[2022-08-28 19:34] SaiKishor-MSFT commented on #97664
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-28 20:43] YutongTie-MSFT commented on #97467
@charleswm  There are more examples for V1 - https://docs.microsoft.com/en-us/azure/machine-learning/how-to-read-write-data-v2?tabs=CLI, Jupyter Note book - https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-train-deploy-notebook#import-data

@samuel100 Could you please help to check if we can reorg the document more friendly for customer to find the information? Thanks a lot.

[2022-08-29 01:20] AaronCreighton opened #97672 "What are the monitor services for alert processing rules?"
**Background:**
I am setting up azure alerting, starting off with service health alerts and resource health. I am at the stage or setting  action groups.

**Now:**
It makes sense to have 1 alert for all service health which sends to 1 action group that emails the general admin of the service.

Then have alert processing rules then send alerts to an action group for specific roles e.g. Security.

T

[2022-08-29 01:49] risa3110 opened #97673 "Please change the sentence (Version details May 2022) on the Japanese page."
[Enter feedback here]
The order of the words in this sentence on the Japanese page is backwards, so it has the exact opposite meaning.
Please change it as follows:

English:
Current Japanese translation: Linux ディスク メトリックでデバイス名ではなくマウント パスが一覧表示される問題を修正しました
Correct translation: Linux ディスク メトリックでマウント パスではなくデバイス名が一覧表示される問題を修正しました
---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2022-08-29 02:05] KrishnaG-MSFT commented on #97673
@risa3110 Thanks for your comment! We will review and provide an update as appropriate.

[2022-08-29 02:20] wardkeller opened #97674 "Behaviour for adding a domain in Office 365 when existing users are configured manually to use a specific UPN should be clarified."
See Microsoft Service Request #32442551

This section of the docs:
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/howto-troubleshoot-upn-changes#upns-in-azure-active-directory

Specifically:
If the value of the userPrincipalName attribute doesn't correspond to a verified domain in Azure AD, the synchronization process replaces the suffix with a default .onmicrosoft.com value.

Need

[2022-08-29 02:21] KrishnaG-MSFT commented on #97666
@tunazorlu Thanks for your comment! We will review and provide an update as appropriate.

[2022-08-29 03:59] SwathiDhanwada-MSFT commented on #97662
@zaalion Thanks for your comment. We will review the issue and get back to you shortly.

[2022-08-29 04:08] SwathiDhanwada-MSFT commented on #97667
@chaseoli Thanks for your comment. We will review the issue and get back to you shortly.

[2022-08-29 04:11] SwathiDhanwada-MSFT commented on #97672
@AaronCreighton Thanks for your feedback.

Assigning to content author @AbbyMSFT for review.

[2022-08-29 04:42] SwathiDhanwada-MSFT commented on #97423
@justinbarias Thanks for your feedback.

Assigning to content author  @JnHs for review.

[2022-08-29 04:44] SwathiDhanwada-MSFT commented on #97129
@KSchlobohm Thanks for your feedback.

Assigning to content author  @willvelida for review.

[2022-08-29 04:47] v-pgaddala commented on #96765
@adi-garg

The updates are done, and the info is live.

[2022-08-29 04:47] v-pgaddala commented on #96765
#please-close

[2022-08-29 04:47] #96765 closed

[2022-08-29 04:50] gyanisinha opened #97675 "This page should be under Overview section"
This page should be under Overview section: https://docs.microsoft.com/en-us/azure/purview/use-azure-purview-studio

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ce8f043-e870-ce21-4581-2e6f52cd1666
* Version Independent ID: de7a40ab-42d3-2c8c-49d7-ea47d6437eac
* Content: [Use the Microsoft Purview governance portal -

[2022-08-29 05:08] lbimsft opened #97676 "AFS private DNS zone name"
[Enter feedback here]
Hello Team,

it looks like we have a doc bug here. The afs privatelink dns zone name should be privatelink.afs.azure.net.
when we create private endpoint for storage sync service, it will create the following example A record.

{mysssname}management.{region}.privatelink.afs.azure.net
{mysssname}syncp.{region}.privatelink.afs.azure.net
{mysssname}syncs.{region}.privatelink.afs

[2022-08-29 05:14] YashikaTyagi-MSFT commented on #97674
@wardkeller
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-29 05:24] #97587 closed

[2022-08-29 05:29] RohitMungi-MSFT commented on #97650
@AlphaHasher Face service access is limited based on eligibility and usage criteria in order to support our Responsible AI principles. Face service is only available to Microsoft managed customers and partners. Use the [Face Recognition intake form](https://aka.ms/facerecognition) to apply for access.
Please submit the form along with the required details, the service team will review your request

[2022-08-29 05:29] SwathiDhanwada-MSFT commented on #97657
@prateekpanjla-outlook Thanks for reaching out. To delete the resource group, you can use either of the following parameters.

- --name
- --resource-group
-  -g
- -n

As there are no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2022-08-29 05:29] #97657 closed

[2022-08-29 05:42] Tiglat1 commented on #97159
Good Morning Ben,

Thank you for your e-mail - and I apologize for the delay in responding: The issue was never with the original English article but with the German translation: The German article has been updated and is now correct.

Thank you!

Maria

From: Ben Mansheim ***@***.***>
Sent: Sunday, August 28, 2022 10:05 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Maria Krafeld-Daugherty (Arv

[2022-08-29 05:49] VikasPullagura-MSFT commented on #97675
@gyanisinha
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-29 05:50] VikasPullagura-MSFT commented on #97675
@nayenama
Can you please check and add your comments on this doc update request as applicable.

[2022-08-29 05:53] v-hgampala commented on #95478
Sorry for that, you will get the updates into the document with in 48 hours.

[2022-08-29 06:07] SadiqhAhmed-MSFT commented on #97577
@J227668 Are there any other questions for us?

[2022-08-29 06:10] SaibabaBalapur-MSFT commented on #97542
@Dbakevlar
Please review

[2022-08-29 06:12] VikasPullagura-MSFT commented on #97676
@lbimsft
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-29 06:12] VikasPullagura-MSFT commented on #97676
@asudbring
Can you please check and add your comments on this doc update request as applicable.

[2022-08-29 06:14] VikasPullagura-MSFT commented on #97601
@eyoh5 The document is updated changes will go live soon.

[2022-08-29 06:14] #97601 closed

[2022-08-29 06:16] VikasPullagura-MSFT commented on #97653
@Clayoyo
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-29 06:16] VikasPullagura-MSFT commented on #97653
@tejaswikolli-web
Can you please check and add your comments on this doc update request as applicable.

[2022-08-29 06:17] VikasPullagura-MSFT commented on #97667
@chaseoli
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-29 06:17] VikasPullagura-MSFT commented on #97667
@zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2022-08-29 07:02] v-missam commented on #96580
@TonySh127-ms  - So do you want to suggest that the custom role should only have permission selected from the set of permission that you have shared previously?

[2022-08-29 07:18] gengyujie opened #97678 "Powershell now supports dual path to single path migration"
Can I migrate VMs that were encrypted with an Azure AD app to encryption without an Azure AD app?
Currently, there isn't a direct migration path for machines that were encrypted with an Azure AD app to encryption without an Azure AD app. Additionally, there isn't a direct path from encryption without an Azure AD app to encryption with an AD app.

QA mentioned above it doesn't support migration but

[2022-08-29 07:18] v-pgaddala commented on #50010
Site Recovery Contributor can enable replication.

[2022-08-29 07:19] v-pgaddala commented on #50010
#please-close

[2022-08-29 07:19] #50010 closed

[2022-08-29 07:19] XiaoYue2-22 opened #97679 "lifecycle management effective time inconsistent between document and portal"
[Enter feedback here]
The page said:
The platform runs the lifecycle policy once a day. Once you configure a policy, it can take up to 24 hours for some actions to run for the first time
![image](https://user-images.githubusercontent.com/100192253/187145986-57c2a3c2-975c-4ed8-991b-1fc3994a4525.png)

while in the portal, it is
![image](https://user-images.githubusercontent.com/100192253/187145385-d

[2022-08-29 07:26] v-pgaddala commented on #52643
As advised by @Sharmistha-Rai, closing the git issue

[2022-08-29 07:26] v-pgaddala commented on #52643
#please-close

[2022-08-29 07:26] #52643 closed

[2022-08-29 07:52] v-pgaddala commented on #62015
#please-close

[2022-08-29 07:52] #62015 closed

[2022-08-29 08:02] savvush opened #97680 "Enable the MDE unified solution at scale"
#Enable the MDE unified solution at scale
I think the REST API Endpoint is wrong. We don't have https://management.microsoft.com, but https://management.azure.com.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 970863a5-ab27-6c83-9496-b025dd6bf323
* Version Independent ID: a1f053f5-1004-6b6b-8b37-bc31599aa23b
* Content

[2022-08-29 08:02] savvush commented on #97680
#Enable the MDE unified solution at scale
I think the REST API Endpoint is wrong. We don't have https://management.microsoft.com/, but https://management.azure.com/.

[2022-08-29 08:05] YashikaTyagi-MSFT commented on #97662
@zaalion
Could you please elaborate your query so that we can help you out in resolving the issue.

[2022-08-29 08:11] RohitMungi-MSFT commented on #97526
@DAVMUNDY I hope the above suggestion helped to setup the folder structure and you can try the scenario again to check if it worked. I will go ahead and close this issue. Thanks!!

[2022-08-29 08:11] #97526 closed

[2022-08-29 08:25] cbissegger opened #97682 "Missing step after creation of the secret"
Hello,
There is a missing step in this how-to, between creating the secret and deploying the pod: One have to link the secret to the service account used by the pods, so they can reach to the container registry:
_oc secrets link default <pull_secret_name> --for=pull_
Best regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-08-29 08:41] adeliab commented on #97548
hi @tfitzmac thanks for the update! i'm not passing the parameter from the cli, but referencing the existing action group via bicep so i can't test that. but i think the changes you proposed should work :)

[2022-08-29 08:54] madsd commented on #97622
@ag0059985 This does not seem to be a required property, and the sample should work without it. What is the expected behavior change when configuring priority? And if it is not configured?

[2022-08-29 08:59] ramuvr opened #97683 "Storage Sync Agent and DFS"
Regarding section "Distributed File System (DFS)", the topic under "DFS Namespaces (DFS-N)" is misleading.

DFS namespace servers don't have any data, so the wording "You can install the Azure File Sync agent on one or more DFS-N members" suggests, you can put the agent on the Namespace servers, which is incorrect. You have to put the agent on the servers that are folder targets in the Namespace.

[2022-08-29 09:02] VikasPullagura-MSFT commented on #97678
@gengyujie
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-29 09:02] VikasPullagura-MSFT commented on #97678
@msmbaldwin
Can you please check and add your comments on this doc update request as applicable.

[2022-08-29 09:13] snerting opened #97684 "Test case not reflect the example"
The example show how to use a custom resolver for a existing REST api, but the Test case show here, is for a imported graph schema, and don't mention what the example go through.

I also wish to know more about how the resolver work. How do the restpoint know the user to retrieve? Is ut using the ID? Please add more details on how this work. Maybe I'm stupid, but I have no understanding how this w

[2022-08-29 09:18] SwathiDhanwada-MSFT commented on #97680
@savvush Thanks for reaching out. Can you please share the document that you are referring to ?

[2022-08-29 09:27] Jiannko opened #97685 ""video-only" metric to track viewers’ attention across the duration of a video"
How can I access the "video-only” metric as mentioned in the below link to track viewers’ attention across the duration of a video from Azure insights.
https://docs.microsoft.com/en-us/stream/streamnew/video-analytics-viewership-retention

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f496941-f125-1671-5de7-66438e6804

[2022-08-29 09:28] savvush commented on #97680
I was referring to this link: https://docs.microsoft.com/en-us/azure/defender-for-cloud/integration-defender-for-endpoint?tabs=windows

[2022-08-29 09:34] VikasPullagura-MSFT commented on #97683
@ramuvr
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-29 09:43] VikasPullagura-MSFT commented on #97616
@SachithKasthuriarachchi
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-29 09:43] VikasPullagura-MSFT commented on #97616
@nickludwig
Can you please check and add your comments on this doc update request as applicable.

[2022-08-29 09:51] ag0059985 commented on #97622
![image](https://user-images.githubusercontent.com/524177/187174738-36f5822f-9435-4271-bb0c-817c33203068.png)

getting this error

[2022-08-29 09:52] weyCC81 opened #97686 "Where can i check the MAU Limit/Statistics?"
Hi Microsoft

**Addition in Documnation - Where can i check the MAU Limit/Statistics?**

I have found the following page "https://aad.portal.azure.com/#view/Microsoft_AAD_IAM/AuthenticationMethodsMenuBlade/~/AuthMethodsActivity", where it mentions 162K per Month. Do i have to filter for Guest-User only and where can i do that?

![image](https://user-images.githubusercontent.com/26062079/187175153-

[2022-08-29 10:05] nkumars commented on #97157
@Givary, any update on this, you can share please?

[2022-08-29 10:07] SwathiDhanwada-MSFT commented on #97685
@Jiannko Thanks for your comment. We will review the issue and get back to you shortly.

[2022-08-29 10:26] madsd commented on #97622
@ag0059985 okay, looks like it is a recent change. Thank you for reporting. I'll take an action to get this updated.

[2022-08-29 10:28] nkumars opened #97687 "Able to login with expired password even after forcefully asked to change it"
There is a way to reproduce this case and the steps are as follows:
1. Set the password as expired
2. Try to login with the same user account
3. Will now show the password change form
    - Fill in expired password in the Current password
    - Fill in the same expired password in the new and confirm password
4. This will show an error something like, "You can't use the same password as the curren

[2022-08-29 10:49] RamanathanChinnappan-MSFT commented on #97684
@snerting ,

Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-29 10:55] YashikaTyagi-MSFT commented on #97687
@nkumars
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-29 10:55] anthony-schneider opened #97689 "The ability to resize VNets isn't supported"
Similar to the 'Is there support for BGP in VPN connectivity?' and 'Is there support for IPv6 in Virtual WAN?' FAQ questions, I would recommend adding an additional FAQ question to cover the lack of Azure VWAN support for resizing VNets without first breaking all VNET peerings (aka 'Is there support for adding/removing VNET address space without breaking peerings?').

You see, I wasn't aware Azure

[2022-08-29 11:02] anthony-schneider commented on #97689
Upon a second look, it would appear this is addressed via FAQ question 'Can you resize or change the address prefixes of a spoke virtual network connected to the Virtual WAN hub?'

As a result, this is sufficiently addressed.

[2022-08-29 11:02] #97689 closed

[2022-08-29 11:17] #95618 closed

[2022-08-29 11:27] dalmasj commented on #44894
Same issue for me even with account anme in blob endpoint : `storageconnectionstring=DefaultEndpointsProtocol=http;BlobEndpoint=http://127.0.0.1:11002/devstoreaccount11;AccountName=devstoreaccount11;AccountKey=*****`

Is there any update about this issue?

[2022-08-29 11:32] AjayBathini-MSFT commented on #97534
@Kuenni
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-08-29 11:49] YashikaTyagi-MSFT commented on #97441
@samgladstone
We reviewed your query and did the Repro from our end. As per your suggestion there was no delete button as specified in the document.
Thanks for the enhancing the document. We will be assigning the issue to Author.

@kengaderdus
Could you please look into this issue and help in enhancing the document.

[2022-08-29 11:57] v-pgaddala commented on #56754
@dcbrown16

The updates are done, and info is live.

[2022-08-29 11:58] v-pgaddala commented on #56754
#please-close

[2022-08-29 11:58] #56754 closed

[2022-08-29 12:01] RamanathanChinnappan-MSFT commented on #97180
@kenwith ,

Please look into above query and do needful

[2022-08-29 12:04] kudu-star opened #97691 "Feedback"
Hello, it would be great if this feature becomes available in Terraform so you can manage access packages using IAC

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 066dbfa5-08ba-8b7a-845b-854c873362b6
* Version Independent ID: 97d7f2b3-904a-574f-3732-9f6851291890
* Content: [Create a new access package in entitlement ma

[2022-08-29 12:54] the-sentinental-guy commented on #97614
Can I have an answer for this?

[2022-08-29 12:56] b-ahibbard commented on #97631
Thanks Arnt.
@SaiKishor-MSFT - this refers to an document that is not yet published. The doc has been fixed. #please-close

[2022-08-29 12:56] #97631 closed

[2022-08-29 13:01] jschwager opened #97692 "AMA should be mentioned in plan features"
Within the Plan Features table, the "Log Analytics 500 MB free data ingestion" feature mentions "using the Log Analytics agent". This verbiage should be updated to include the use of the Azure Monitor Agent as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8432d9d8-e414-acf4-9287-ebbafab23c7e
* Version Independen

[2022-08-29 13:17] SumanthMarigowda commented on #97679
@XiaoYue2-22 Thanks for the question! We are investigating and will update you shortly.

[2022-08-29 13:38] MayankBargali-MSFT commented on #97531
@ShingoHanai Thanks for the feedback. We have created an internal work item to trace this feedback and the feedback will be addressed on [this document](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-http-endpoint#create-nested-logic-apps). I will go ahead and close this issue as enhancement is not related to [Handle inbound or incoming HTTPS calls document](https://docs.microsoft.co

[2022-08-29 13:38] #97531 closed

[2022-08-29 14:23] whhender commented on #97675
@gyanisinha - While I understand your point, in Azure documentation, very specific articles go under "Overview" to keep documentation consistent.

However, we will continue to consider this as we move forward, as I understand why it would be useful to have this guide so prominently featured.

Thank you!

[2022-08-29 14:23] #97675 closed

[2022-08-29 14:33] Pwd9000-ML opened #97699 "Incorrect 'issuer' when federating GitHub action credential scenario"
Docs YAML is incorrect

[code]

`"issuer"` should be without trailing `/`:

[code]

With the trailing `/` causes the following error:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 112d73f5-05dc-a709-fb3b-de4f1eee1338
* Version Independent ID: 304c98c3-8226-ce31-076c-d75b101081a5
* Content: [Create a trust rela

[2022-08-29 14:36] MayankBargali-MSFT commented on #96794
@wullemsb The fix has been deployed and it should work now. In case if you still face the issue, please let me know. I will go ahead and close this issue now.

[2022-08-29 14:36] #96794 closed

[2022-08-29 14:54] SatishBoddu-MSFT commented on #97682
@cbissegger
I have assigned the issue to the content author for further review.

[2022-08-29 15:04] AbbyMSFT commented on #97672
Hi @AaronCreighton ,
Thank you for your dedication to the quality of our docs! And you are right! As a matter of fact, I just added that same information  to the documentation for creating an alert rule, since I also, felt it was missing. (That doc will be live in a few weeks.) But I am going to update the doc with the information you requested. It should be live within a few days. I will update y

[2022-08-29 15:07] Daiannec opened #97702 "Test your SAML 2.0 based identity provider"
(https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-fed-saml-idp#use-the-tool-to-verify-that-single-sign-on-has-been-set-up-correctly)

Use the tool to verify that single sign-on has been set up correctly

To test SAML 2.0, the guide indicates a download that does not exist. And on the connectivity test page there is no clear test about this configuration.

I would also

[2022-08-29 15:15] DataKnox commented on #90567
can confirm this is still an issue
The fix is to set the pip requirements to use an older version of Jinja:

`from azureml.core.model import InferenceConfig
from azureml.core import Environment
from azureml.core.conda_dependencies import CondaDependencies

environment = Environment('my-sklearn-environment')
environment.python.conda_dependencies = CondaDependencies.create(pip_packages=[
    'azurem

[2022-08-29 15:20] ghstahl opened #97704 "Please fix the JSON that is used as examples"
Problem:
1. Most of the JSON isn't valid.  Please send it through a [Validator](https://jsonlint.com/)  before posting them.  This includes **NOT** having comments in there like ```// end user's subscription renewal```.  When I click on that **COPY** button and put the json into [Validator](https://jsonlint.com/) it should give **ZERO** errors.
2. Some values in the JSON are **NULL** which doesn't

[2022-08-29 15:23] fludo commented on #83517
Still not possible to do this with python msal lib ?

[2022-08-29 15:29] RyanHill-MSFT commented on #97704
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-08-29 15:30] ericd-mst-github opened #97705 "Invalid GitHub URL for hello.sh file"
Hello,

In the [Azure PowerShell ](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/features-linux?tabs=azure-cli#azure-powershell-1) and the [Azure CLI](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/features-linux?tabs=azure-cli#azure-cli-1) examples, there seems to be an invalid GitHub link for the hello.sh file. I get a 404 error when testing the snippets.

[2022-08-29 15:37] MarileeTurscak-MSFT commented on #97699
@Pwd9000-ML
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-29 15:42] Pwd9000-ML commented on #97699
I’ve created a PR for the fix also:

https://github.com/MicrosoftDocs/azure-docs/pull/97701

[2022-08-29 15:44] MarileeTurscak-MSFT commented on #97699
Thanks! I made a pull request to update the guide but see that you've also made one.

@rwike77 https://github.com/MicrosoftDocs/azure-docs-pr/pull/209487

[2022-08-29 15:44] #97699 closed

[2022-08-29 16:03] JamesTran-MSFT commented on #97702
@Daiannec
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

![image](https://user-images.githubusercontent.com/36619112/187244364-9bf582e8-c2df-4ad0-8a36-18702778be8a.png)