[2022-09-26 12:52] GitaraniSharma-MSFT commented on #98987
@anas1986 , thank you for your feedback. We have assigned this to the content owner/author for review.

@asudbring , please review and update as appropriate.

[2022-09-26 12:54] GitaraniSharma-MSFT commented on #98992
@elygre , thank you for your feedback. We'll review this and get back to you shortly!

[2022-09-26 12:59] Naveenommi-MSFT commented on #98974
#signoff

[2022-09-26 12:59] #98974 closed

[2022-09-26 13:02] ehrnst commented on #98998
it was just the portal taking a bit too long to show this in the `users and groups` blade. closing

[2022-09-26 13:02] #98998 closed

[2022-09-26 13:02] Naveenommi-MSFT commented on #98975
@glennstephensms
Please looking this below information in Sceenshot for your reference.

<img width="506" alt="image" src="https://user-images.githubusercontent.com/113576472/192283239-30bf11ed-ad01-404b-90f9-3130d534f439.png">

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to conti

[2022-09-26 13:23] SirRacha opened #98999 "link not working"
LINK DOES NOT WORK

https://github.com/Azure/azureml-examples/tree/main/python-sdk/tutorials/automl-with-azureml

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 844580f4-5e8c-e66e-076e-2c63287d3be0
* Version Independent ID: 52ee7c20-6680-9be7-64a5-3a9378cfed29
* Content: [What is automated ML? AutoML - Azure Machine Le

[2022-09-26 13:40] Naveenommi-MSFT commented on #98971
@thanhnptran

Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-26 13:45] pm4766 opened #99000 "Managed Identity access to app in combination with "User Assignment required = yes""
Would be great if someone updates the documentation on how to provide access to the app to a managed identity once the flag "user assignment required" is set to yes.

For regular users this is achieved by assigning them under "Users and Groups" as described in the article. However, one can't select a managed identity or another app directly. Only users or groups are allowed.
Putting the managed id

[2022-09-26 13:54] tomcwilliamson opened #99001 "Deprecated API Version"
Deprecated API: apiVersion: **extensions/v1beta1**

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: df590818-cbf1-3473-b408-70b1224977fa
* Version Independent ID: 6b52d0c4-03e3-358c-0828-e1afcc676708
* Content: [Expose an AKS service over HTTP or HTTPS using Application Gateway](https://learn.microsoft.com/en-us/azure/a

[2022-09-26 13:55] mumurug-MSFT commented on #98988
@anishi1222 Thanks for your feedback. We will review and update as appropriate.

[2022-09-26 13:57] andrePKI opened #99002 "Unclear if an why "Create and associate a 'Monitored Object'" is necessary"
When AMA is installed through creation of a DCR (basically by the Extension framework) I don't see any trace of "Create and associate a 'Monitored Object'", while doing an install via the MSI this seems an extra step.
It occurs to me that one could install the agent from the MSI, create and associate a DCR and be ready to receive events. Isn't the Monitored Object created in the same manner as whe

[2022-09-26 14:28] Fuchio opened #99003 "No documentation about how to use forecast information in DTDL models"
Hey Microsoft,

Is there any guidance on how to integrate forecasted data into a DTDL model?

Specific questions would be:
- How should a full 24h weather forecast (00:00 - 23:59) with temperature values be integrated in DTDL models?
- How should trailing forecasts be integrated in DTDL models? E.g. 16:00 until 15:59 (next day).

Having a DTDL with 24 properties would be possible, but this might l

[2022-09-26 14:36] robwood894 opened #99004 "azcmagent disconnect"
azcmagent disconnect --service-principal-id <serviceprincipalAppID> --service-principal-secret <serviceprincipalPassword>

This process doesn't work.  When the service principal is created it is granted the role 'Azure Connected Machine Onboarding' which allows it to run the azcmagent connect process.  However, in the field, if you run the azcmagent disconnect process with the Service Principal yo

[2022-09-26 14:39] mudouasenha commented on #69510
@grminch you mispelled the command, but it worked for me!

`dotnet user-secrets init` is the proper command.

[2022-09-26 15:02] Norrch2 commented on #98743
Hi @MarileeTurscak-MSFT

That is the policy we tried. The problem we are facing is that the source code for this is assuming the response_type=id_token but in some scenarios may need to be code.

[2022-09-26 15:07] kev-in-shu opened #99006 "Expand an Azure Managed Disk - Resize without downtime for Linux VM not working"
The documentation states that it is possible to increase disk size without downtime.

https://learn.microsoft.com/en-us/azure/virtual-machines/windows/expand-os-disk#expand-without-downtime

* I am trying to increase the size of the data disk on my VM, but the portal is telling me that the VM needs to be shutdown before proceeding.
* Increasing the size for the same disk on the same VM via `az cli

[2022-09-26 15:10] qliu95114 commented on #95827
@damendo  any news

[2022-09-26 15:27] Jassingh819 commented on #95008
Hi @Borgquite, I don't see any reason why the script should not hit the 'while' loop. It should be iterating over the loop till either of EndTime or Exception are not null. These fields are the last ones which are populated when the job completes.

[2022-09-26 15:28] twimmers commented on #83564
SCIM is supported and access is regulated by the ISV. #please-close

[2022-09-26 15:28] #83564 closed

[2022-09-26 15:28] SharmainePopov opened #99008 "Update Section "Subnet Requirements" to improve clarity around /27 requirement"
This sentence is unclear. I read it and was not sure that this meant "only" in the portal. I was in there reading because my client completely misunderstood and read it as must be /27. They currently have some /28, /29 and were concerned that they now had an issue, thought we changed our guidance.  We have some feedback from PG that clarifies for us, and I'd like to see the further clarification r

[2022-09-26 15:33] sudharsonan opened #99010 "Why is the title listing as Preview? Can be misleading ..."
[Enter feedback here]

Given all the 3 options are already available in GA, better to remore Preview from the title to avoid confusion

Thanks
Sudharson AN

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 26b34648-3c51-238b-6068-ee8c654affcd
* Version Independent ID: 77c4f40a-ef92-014c-c501-3b2665d5be02
* Content: [Conc

[2022-09-26 15:33] ozkary commented on #98923
Thanks for the update. This should really help save time to others that may be trying to make this work based on that documentation.

[2022-09-26 15:43] AaronMaxwell commented on #98207
Thanks for your dedication to our documentation. This issue has been triaged and commented on in the App Center thread. Please continue to follow up with the App Center team for updates on MAUI within that product's roadmap. #please-close

https://github.com/microsoft/appcenter/issues/2360

[2022-09-26 15:43] #98207 closed

[2022-09-26 15:44] lukos commented on #98911
I added locks to the things I didn't want deleted and also moved them to another resource group.

I then deleted the cluster and it deleted the resource group that it created with everything in it. However, it doesn't tell you what it will delete when you delete the cluster, which is unfortunate.

Maybe the documentation simply needs to say, "When you delete an AKS cluster, it will delete the reso

[2022-09-26 15:46] somichak opened #99011 "Install-WindowsFeature -Name Web-Server is not working in WIndows container 2019 LTSC"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-09-26 15:47] #99011 closed

[2022-09-26 15:51] somichak opened #99012 "Install-WindowsFeature -Name Web-Server"
We are trying use to  RUN "Install-WindowsFeature -Name Web-Server" command in docker file on mcr.microsoft.com/windows:ltsc2019 image, It is failing all the time, invalid operation error. we also tried to install RSAT for loading servermnage module,  using
"Add-WindowsCapability -name 'RSAT.ServerManager.Tools*' -online". which not failing but unable to install servermanager module in the contain

[2022-09-26 16:00] SaibabaBalapur-MSFT commented on #98985
@balachander1964
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-26 16:02] #97749 closed

[2022-09-26 16:02] SaibabaBalapur-MSFT commented on #98990
@chaosifier
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-26 16:03] #97078 closed

[2022-09-26 16:04] SaibabaBalapur-MSFT commented on #98991
@manjitsin
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-26 16:04] jaucay opened #99013 "Can't seem to get SSO with Hybrid Azure AD Joined AVD Session hosts working"
Hello,

I have tried the steps related to this article regarding SSO and Azure Virtual Desktop. I was able to get AAD-joined session hosts to work, but not hybrid azure ad joined machines. I get an error saying that username and password is incorrect. I have created the AD Kerberos Server object and I have confirmed that it is set up correctly. I tried doing it from Azure AD joined, workgroup, and

[2022-09-26 16:06] SaibabaBalapur-MSFT commented on #98997
@Jason239
Thanks for your feedback! We will investigate and update as appropriate.

Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team

[2022-09-26 16:07] ChaitanyaNaykodi-MSFT commented on #99001
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-09-26 16:08] sroons opened #99014 "testing feedback mechanism in ACS"
testing docs feedback mechanism so I can learn how tickets are directed

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d5c2b60c-dd58-86ec-9186-2e18720f66c5
* Version Independent ID: eda0832c-3c21-2c4d-6364-25a77556fb3c
* Content: [What is Azure Communication Services?](https://learn.microsoft.com/en-us/azure/communica

[2022-09-26 16:08] khdownie commented on #98848
@enettekoven upon looking at this further, I don't think the mounting instructions should be in this article at all, since this article is about configuring directory and file-level perms. So I may just remove the section. But I'm curious, when you say "in subsequent code samples on follow-up pages the current code doesn't work," which articles/code blocks are you referring to?

[2022-09-26 16:08] SaibabaBalapur-MSFT commented on #98996
@MuralidaranCT
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-26 16:10] SaibabaBalapur-MSFT commented on #98999
@SirRacha
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-26 16:10] ChaitanyaNaykodi-MSFT commented on #98944
Hello @MzMaffei,

Thank you for reaching out. I did not understand the intended feedback here. If you can elaborate more, that will be helpful. Thank you!

[2022-09-26 16:12] SaibabaBalapur-MSFT commented on #99000
@pm4766
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-26 16:12] #99010 closed

[2022-09-26 16:15] AaronMaxwell commented on #98256
Thanks for your dedication to our documentation.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/212513

Please let me know if we would like to update our guidance to use InMemoryChannel, which supports async flushing, in lieu of  WorkService for console apps. In this case we'd need to provide new sample code. #please-close

[2022-09-26 16:15] #98256 closed

[2022-09-26 16:16] SaibabaBalapur-MSFT commented on #99002
@andrePKI
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-26 16:19] SaibabaBalapur-MSFT commented on #99003
@Fuchio
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-26 16:22] SaibabaBalapur-MSFT commented on #99004
@robwood894
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-26 16:26] JasonWHowell commented on #73974
#reassign:sreekzz

[2022-09-26 16:27] JasonWHowell commented on #75384
@sunscorch did you get confirmation?
#reassign:sreekzz

[2022-09-26 16:27] JasonWHowell commented on #82798
#reassign:sreekzz

[2022-09-26 16:27] JasonWHowell commented on #83608
#please-close We haven't heard back lately. Hope the suggestion that Guy offered is helpful. Thanks! Jason

[2022-09-26 16:27] #83608 closed

[2022-09-26 16:28] JasonWHowell commented on #87199
#reassign:sreekzz

[2022-09-26 16:28] JasonWHowell commented on #89209
#reassign:sreekzz

[2022-09-26 16:28] SaibabaBalapur-MSFT commented on #99008
@SharmainePopov
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-26 16:30] SaibabaBalapur-MSFT commented on #99012
@somichak
Thanks for your feedback! We will investigate and update as appropriate.

Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team

[2022-09-26 16:32] SaibabaBalapur-MSFT commented on #99013
@jaucay
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-26 16:34] SaibabaBalapur-MSFT commented on #99014
@sroons
Thanks for your feedback! We will investigate and update as appropriate.

Could you please elaborate the query for better understanding. So, we can assist you further.

[2022-09-26 16:40] lenniecottrell opened #99017 "Optimizely SSO guide is outdated"
Optimizely has moved from Auth0 to Okta and the SSO setup process is now different. Please contact support@optimizely.com for a thorough walkthrough of the process and all details necessary to update your article

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0f19b35-e397-d952-bb45-5dd1d037c658
* Version Independent I

[2022-09-26 16:42] AaronMaxwell commented on #98260
Thanks for your dedication to our documentation. The note regarding .NET Core's compatibility with the .config file has been simplified. #please-close

https://github.com/MicrosoftDocs/azure-docs-pr/pull/212520

[2022-09-26 16:42] #98260 closed

[2022-09-26 16:43] ericd-mst-github commented on #97705
Hi @MsGabsta just wanted to check if there are any updates to this. Thanks!

[2022-09-26 16:47] baanders commented on #98160
Hi @Fuchio,

3. Yep, that workflow is correct. To look within the patch, you'll need to look into each change notification.

As you mentioned, PublishTelemetryAsync does require the initial patch parsing, as well as an additional function app trigger and round trip to the twin. It's not included in the main suggested flow for ingesting telemetry into ADT from IoT Hub, so for your scenario it sound

[2022-09-26 16:52] AshokPeddakotla-MSFT commented on #98867
@jagreen03im Did you get a chance to see above response from Steve?
Do let us know requested details to help you further.

[2022-09-26 16:53] AshokPeddakotla-MSFT commented on #98890
@sourabhkrishna Did you get a chance to see my suggestions? Do let us know if that helps.

[2022-09-26 17:02] Jassingh819 commented on #96800
This is the list of supported VMs - https://learn.microsoft.com/en-us/azure/virtual-machines/extensions/dsc-windows#operating-system

[2022-09-26 17:02] jagreen03im commented on #98867
I’m good up to this point and there where several variations I attempted. The Context-Type is not specified. And would be nice to see acceptable variations of header name values. I was using auth with bearer token up to this point w/out issues. If I am not mistaken the send Context-Type would implicitly be “application/json”

Another thing I did notice is that for some reason West US 2 would get i

[2022-09-26 17:04] AshokPeddakotla-MSFT commented on #98930
@willyt150

Can you please add more info on the issue?

1) Which Region you have created Azure IoT Hub
2) Azure IoT Hub Tier?
3) How did you make the MQTT connection, any specific client used?
4) Any screenshots of the error or the logs would be more helpful to help you further....
5) Any log traces?

[2022-09-26 17:11] jlamhp opened #99019 "Threat modeling tool download link does not work and throws up various security messages"
When attempting to download the threat modeling tool linked on the page, it throws up various security errors depending on the browser used. For Chrome I get a deceptive site ahead message. For Edge I get a unsecure connection error (despite the link being HTTPS).

This isn't an issue with the documentation itself per se, but given that we have a link on the page that is leading to a dead end (or

[2022-09-26 17:26] brianlo-ms opened #99020 "VMIC Provider should be Disabled via GPO"
Feedback from customers and testing has shown that ADDS Clients hosted in Azure will use the VMIC Provider by default instead of the ADDS Time Hierarchy.

It is requested to verify this observation.  If observation is verified, update this document to include the requirement to Disable the VMIC Provider via GPO to maintain alignment with best practices as outlined:

https://social.technet.microsof

[2022-09-26 17:32] radubulboaca commented on #98990
@chaosifier

Hello Sagar, thank you for looking into this and for sharing your feedback. The `RoomCallLocators` you're mentioning are present in beta versions of the Calling SDKs rather than the stable ones. We will be updating the quick start documentation to reference the precise versions of these SDKs. Thank you!

[2022-09-26 17:33] eringreenlee commented on #98979
Hi @Cakoww , I believe the document is still correct.

Requiring user assignment will allow only the assigned users, groups, and apps a token to the application. It also allows users that are assigned to the application to see the application in the My Apps portal.

Separately, if an application wants to access resources on behalf of the signed-in user, the app could request for consent to access

[2022-09-26 17:35] khdownie commented on #98966
@sparkf1 You're saying you should write to the GP location instead of the system location. We honor both methods, and the system location is documented so the user doesn't have the value blown away by policy changes. It should be noted that changes to either location are not instant and require a policy refresh or a reboot to take effect. Can you tell me why writing to the system location didn't w

[2022-09-26 17:37] ChaitanyaNaykodi-MSFT commented on #97950
Hello @miqm, apologies for the delayed response here.

I have made a PR to address this issue and it is currently under doc author's review.

If I understand it correctly you received an update from the FrontDoor team regarding this query on the MVP channel and they will be providing further update regarding this query.

Apologies once again for the delayed response here. Hope this answers your qu

[2022-09-26 17:37] #97950 closed

[2022-09-26 17:40] khdownie commented on #98848
@enettekoven also - and this is probably obvious - the net use command is meant to be run from the command line, not PowerShell. At first I thought this was supposed to be a PowerShell script.

[2022-09-26 17:43] JamesTran-MSFT commented on #98241
@colmardev
Sorry for the delay on this.

I just received a response from our engineering team this morning, and they'll be able to manually link your B2C tenant to your subscription. Can you please email me with the info below, and I'll work with them to link your B2C tenant.

**After you've unlinked your B2C tenant:**

**Email**: AzCommunity@microsoft.com
**Subject**: ATTN - James Tran
**Body**:

[2022-09-26 17:44] sijucm commented on #98794
Geetha, thanks for the reply but I'm sure you can see it if you try the
option yourself. Moreover, it's not a support request but a flag for
Microsoft to check. I wish you all the best and feel free to close if you
don't find the issue yourself

On Mon, Sep 26, 2022, 19:14 GeethaThatipatri-MSFT ***@***.***>
wrote:

[2022-09-26 17:46] netapp-ahibbard commented on #98860
Thanks @EdwardKerr5. The documentation of Azure NetApp Files focuses on the Azure portal. We have added a link to the CLI commands under next steps to ease access to this content.

#please-close

[2022-09-26 17:47] b-ahibbard commented on #98860
Thanks @EdwardKerr5. The documentation of Azure NetApp Files focuses on the Azure portal. We have added a link to the CLI commands under next steps to ease access to this content.

#please-close

[2022-09-26 17:47] #98860 closed

[2022-09-26 17:49] spelluru commented on #98766
Tested the code. We don't need to specify a specific version. Works fine with the latest version. I am updating the quick start to remove the statement and also refreshing the screenshots.

[2022-09-26 17:50] rvdginste commented on #89765
I am also surprised that this is not supported on isolated. And it's not the only thing, there are several limitations on isolated.

It seems a bit foolish to invest in technology that is dead from what I understand, starting from .NET 7, only isolated can be used. So for greenfield projects it is hard to justify going with in-process.

[2022-09-26 17:51] kananb opened #99023 "Flipped Parenthesis in list element"
The second element in the nested, bulleted list under the [Next Steps section](https://learn.microsoft.com/en-us/azure/azure-functions/functions-develop-local#next-steps) looks like:
  * C# )isolated process)
instead of:
  * C# (isolated process)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ad301acd-cfb9-5413-b882-e

[2022-09-26 18:01] bwren commented on #98576
@mukisoomar Thanks for the suggestion. I'm creating a work item for this. We know we'd like to make pricing more clear, and this is a good suggestion.

#please-close

[2022-09-26 18:01] #98576 closed

[2022-09-26 18:09] lauradolan commented on #94277
#assign:iamwilliew

[2022-09-26 18:12] MashaMSFT commented on #96469
Hi @vlad-kozlov , thanks for contacting Microsoft! As it seems Sudhir was able to address your question, I'll go ahead and close out this Git Issue but please feel free to comment should you need anything further.

Thanks again for reaching out and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2022-09-26 18:12] #96469 closed

[2022-09-26 18:18] stevemunk commented on #98867
@jagreen03im You mentioned that you got the following in the response body:

Was this after step 8 when you were checking on the dataset creation process?

![image](https://user-images.githubusercontent.com/33468793/192350017-c69f6cda-21e0-421a-94f1-1129fcf6b945.png)

This indicates that the dataset was created successfully.

If not, please indicate what error (or unexpected results) you got, and

[2022-09-26 18:18] normesta commented on #98912
Thanks @SouravDutta-MSFT. The feature is still in preview. That is why the preview tag is in the title.

#please-close

[2022-09-26 18:18] #98912 closed

[2022-09-26 18:21] kapntech opened #99025 "Update password computer account even with reset exclusion?"
The Note added to this document makes it seem as if you do not need to invoke this command if you choose a Computer Account that does not have password expiration. Is that correct? Or, do you still need to invoke this command if you choose Computer Account?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 318a85d3-c5c7-

[2022-09-26 18:37] AaronMaxwell commented on #98308
Thanks for your dedication to our documentation. Although this question is beyond the scope of our feedback channel here on GitHub, which covers specific documentation fixes rather than technical support, we can help redirect you to the right support channel to get an answer to your question:

Microsoft Azure Monitor Q&A question page
https://docs.microsoft.com/en-us/answers/topics/24223/azure-mon

[2022-09-26 18:37] #98308 closed

[2022-09-26 18:42] VikasPullagura-MSFT commented on #99020
@brianlo-ms
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-09-26 18:43] VikasPullagura-MSFT commented on #99020
@NDVALPHA
Can you please check and add your comments on this doc update request as applicable.

[2022-09-26 19:01] #98661 closed

[2022-09-26 19:02] MicrosoftGuyJFlo commented on #98660
Resolved by https://github.com/MicrosoftDocs/azure-docs-pr/pull/212542 #please-close

[2022-09-26 19:02] #98660 closed

[2022-09-26 19:06] MicrosoftGuyJFlo commented on #98424
Thanks!

[2022-09-26 19:10] WilliamDAssafMSFT commented on #98679
Hi @VitalyMCT! Thanks for taking the time to provide this feedback on our Docs. You are correct, and this change has been implemented. Great catch! Your suggestions help improve our documentation.
#please-close

[2022-09-26 19:10] #98679 closed

[2022-09-26 19:10] chidhambaram55 opened #99029 "Old and New thumbprint is same in azure keyvault alerts"
Hello,
i set my certificate to auto rotate and added certificate contact to receive mails before certificate renewal and after certificate renewal. In the mail alert, after renewing the certificate successfully, both old and new thumbprint values are same. is there a any additional configuration required for receving the correct thumbprint values?

![image](https://user-images.githubusercontent.co

[2022-09-26 19:21] mumurug-MSFT commented on #99023
@kananb Thanks for your feedback. We have made the changes and it will be published soon after it is merged.

[2022-09-26 19:26] rolyon commented on #98862
Hi @swettstein
Thanks for your feedback. Unfortunately we don't know why you are seeing this message. We recommend that you create an Azure support request so that a technician can help you troubleshoot:
https://learn.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request
If you have any feedback about the docs, let us know.
thanks

[2022-09-26 19:27] rolyon commented on #98862
#please-close

[2022-09-26 19:27] #98862 closed

[2022-09-26 19:30] #99023 closed

[2022-09-26 19:32] jaucay commented on #99013
Let me know if you need screenshots or more info.

[2022-09-26 19:44] SirRacha opened #99030 "jinja not working for container deployment"
Deployment fails bc ERROR:

message": "Error in entry script, ImportError: cannot import name 'Markup' from 'jinja2

need to update somehow the ACI deployment in this tutorial

example of solution:

from jinja2.utils import markupsafe
markupsafe.Markup()

Markup('')
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue

[2022-09-26 19:52] SirRacha commented on #90567
Can also confirm this is still an issue

[2022-09-26 19:54] smrgit opened #99031 "problems downloading ClinVar dataset"
For various reasons, I have not been able to get set up with the azureml python package, and instead have been trying to use azcopy.  Although I am able to use azcopy to download the md5 file, I have not been able to do a listing of the container/folder or download the main XML file.

Specifically, this command works:
azcopy cp "https://datasetclinvar.blob.core.windows.net/dataset/ClinVarFullRelea

[2022-09-26 19:59] kev-in-shu commented on #96731
Any news on this issue?

[2022-09-26 20:06] willyt150 commented on #98930
@AshokPeddakotla-MSFT Hello, I've updated the original issue w/ **Additional Details**

Please let me know what else I can provide.

[2022-09-26 20:14] randydover opened #99032 "Run As account vs Managed Identity."
[The article gives direction for creating a Run As account. Microsoft is suggesting using Managed Identity instead of Run As Accounts for most cases. Is this a different scenario, or can you also use a Managed Identity, and if you can, would that be the preferred method?]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-09-26 20:19] randolphnz opened #99033 "Difference between single and multiple tenant"
Could we have more details for the differences between event delivery to web hook within the same and different tenant?

It would be great if we have an summary for that.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a9f056c1-cf62-d72b-0ee2-49cffdefbe59
* Version Independent ID: ffc6723a-87e8-8e5e-3128-897a6a56bacf
*

[2022-09-26 20:19] #98988 closed

[2022-09-26 20:37] swettstein commented on #98862
i did open a ticket but i also found the correct documentation that I would suggest you include in this document. In the attached article, it explains that system Managed Identities may have cached tokens for up to 24 hours which is much longer than your document states is possible.

https://learn.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/managed-identity-best-p

[2022-09-26 20:46] JnHs commented on #92885
#please-close

[2022-09-26 20:46] #92885 closed

[2022-09-26 20:49] SirRacha opened #99034 "The model will NOT deploy"
I fixed the Jinja ERROR but now get a fatal error I cannot troubleshoot bc the logs are non descriptive.  I get the new error:

Error:
{
  "code": "AciDeploymentFailed",
  "statusCode": 400,
  "message": "Aci Deployment failed with exception: Your container application crashed. This may be caused by errors in your scoring file's init() function.

First Error was -----------------------------------

[2022-09-26 20:56] mksuni commented on #93643
@VandhanaMehta  can you review this please

[2022-09-26 21:02] mksuni commented on #96468
please assign to @vivgk

[2022-09-26 21:13] spelluru commented on #98462
I have updated the section to include links to OAuth samples and also mentioned that the configuration is Java specific. Thanks for the feedback!!

#please-close

[2022-09-26 21:15] mike-urnun-msft commented on #92359
We will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-09-26 21:15] #92359 closed

[2022-09-26 21:16] spelluru commented on #98942
@fmokren - You are right. What we meant by "view" was that you can verify that the files with captured info were created in the storage, not view their contents. I will update the statement to reflect that. Thanks.

[2022-09-26 21:19] neanderson opened #99035 "Document login_hint Base54 encoding"
I think it would be useful, instead of saying that the login_hint claim is simply "opaque", to document that it's a Base64-encoded string that can be padding by '='. The '=' character is a [reserved character](https://en.wikipedia.org/wiki/Percent-encoding) in URLs. We ran into an issue where our code was stripping '=' characters from the login_hint instead of encoding them.

#### Document Details

[2022-09-26 21:22] msekkappan opened #99036 "Azure function with authentication"
We have an event grid blob triggering an Azure function endpoint and works great if authentication is not enabled.  However, if we enable authentication with an identity provider, it throws "Unauthorized".

![image](https://user-images.githubusercontent.com/22689003/192382887-b0d665f6-c3c6-4161-9aa0-2d035d480248.png)

Is there any specific audience we need to add in the "Allowed token audiences"?

[2022-09-26 21:59] mike-urnun-msft commented on #99036
Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you post this question on the [MS Q&A channel](https://learn.microsoft.com/en-us/answers/index.html) instead?

[2022-09-26 22:32] JasonWHowell commented on #98553
Thanks @matthiasguentert we'll add a background to those images to prevent the dark theme from hiding the text. It should publish later today. Thx, Jason

[2022-09-26 22:40] mijacobs commented on #98969
#assign ggailey777

[2022-09-26 22:42] mijacobs commented on #98969
#assign-reviewer ggailey777

[2022-09-26 22:42] mijacobs commented on #98969
@MayankBargali-MSFT This should be assigned to ggailey777.

[2022-09-26 23:04] WilliamDAssafMSFT commented on #95826
#assign:SnehaGunda

[2022-09-26 23:14] #98553 closed

[2022-09-26 23:22] jnlycklama opened #99038 "Region "isrealcentral" has spelled "Israel" incorrectly"
In ServiceTags_public.json:
![image](https://user-images.githubusercontent.com/8868475/192397219-65574520-36a3-4d07-a81a-7d8a6d5f1ab7.png)

List of regions called out in doc for being different than standard:
![image](https://user-images.githubusercontent.com/8868475/192397175-f36d35f1-802f-4444-af59-408926d75c55.png)

I would also love some context for why the above region names do not conform to

[2022-09-26 23:32] SnehaGunda commented on #91623
#assign:@SnehaGunda

[2022-09-26 23:33] SnehaGunda commented on #83802
#assign:@SnehaGunda

[2022-09-26 23:33] SnehaGunda commented on #96030
#assign:@SnehaGunda

[2022-09-26 23:45] rolyon commented on #98862
Hi @swettstein
Thanks for the information to help others who might encounter this scenario. We updated the troubleshooting doc and added a link to the managed identity docs.
https://learn.microsoft.com/en-us/azure/role-based-access-control/troubleshooting#symptom---role-assignment-changes-are-not-being-detected
thanks

[2022-09-26 23:50] rolyon commented on #97882
Hi @crystalgeek
Thanks for your feedback. We updated the docs to clarify the permissions apply to Microsoft Graph. The previous bullet references group owners.
https://learn.microsoft.com/en-us/azure/active-directory/roles/groups-concept#how-are-role-assignable-groups-protected
thanks

[2022-09-26 23:50] rolyon commented on #97882
#please-close

[2022-09-26 23:50] #97882 closed

[2022-09-27 00:05] SnehaGunda commented on #96597
assign:@SnehaGunda

[2022-09-27 00:30] SnehaGunda commented on #96597
@pgr-lopes thank you I submitted an updated to the doc. Changes will be live tomorrow.

[2022-09-27 00:30] SnehaGunda commented on #96597
#please-close

[2022-09-27 00:30] #96597 closed

[2022-09-27 00:32] vigouredelaruse opened #99041 "doc enhancement to clarify consumption plan billable costs"
the apim consumption plan exposes the service to the internet with no opportunity to use layer 3 defense *except* as per

* https://learn.microsoft.com/en-us/azure/api-management/api-management-sample-flexible-throttling#ip-address-throttling
[code]

what's unclear is whether or not application of this rule counts towards the 'call' count - the imprecision stems from ambiguity of the use of the wo

[2022-09-27 00:33] SnehaGunda commented on #98361
@RamanathanChinnappan-MSFT this issue needs further debugging, can you redirect it to the Synapse support team? If it results in a doc update, we can make the changes.

[2022-09-27 00:35] SnehaGunda commented on #98120
@RamanathanChinnappan-MSFT this issue needs further debugging, can you redirect it to the Synapse support team? If it results in a doc update, we can make the changes.

[2022-09-27 00:37] WilliamDAssafMSFT commented on #98955
@JasonHorner This isn't really the space to discuss the merits of a four-year old YouTube video. Product and feature capabilities have changed since. I'll pass along these questions to the product group and if any meaningful discussion or changes are proposed to docs, I'll tag this issue. Thanks for taking the time to provide this feedback.

Meanwhile if there are any Docs changes you'd propose, [

[2022-09-27 00:37] #98955 closed

[2022-09-27 00:48] joseharriaga opened #99042 "Typos in the section "How do I control the none intent?""
Under the section ["How do I control the none intent?"](https://learn.microsoft.com/en-us/azure/cognitive-services/language-service/conversational-language-understanding/faq#how-do-i-control-the-none-intent) of the FAQ for CLU, there are two typos:

- Expected:
"You can control the none intent _threshhold_ from UI through the project settings, by changing the none _inten_ threshold value."
- Obser

[2022-09-27 01:00] SnehaGunda commented on #80887
assign:@SnehaGunda

[2022-09-27 01:01] SnehaGunda commented on #80887
#please-close

[2022-09-27 01:01] #80887 closed

[2022-09-27 01:01] SnehaGunda commented on #80887
#assign:@SnehaGunda

[2022-09-27 01:16] eric-urban commented on #98946
@mewinks - I would love to understand more about this. We mention the v3 requirement [here](https://learn.microsoft.com/en-us/azure/cognitive-services/speech-service/quickstarts/setup-platform?tabs=macos%2Cubuntu%2Cdotnet%2Cjre%2Cmaven%2Cnodejs%2Cmac%2Cpypi&pivots=programming-language-python#platform-requirements), but I might be missing your point.

[code]

Otherwise, do you have a link to the po

[2022-09-27 01:17] SnehaGunda commented on #97136
The above PR fixed the doc. Closing this issue.

#please-close

[2022-09-27 01:17] #97136 closed

[2022-09-27 01:24] J227668 opened #99043 "Azure Database for PostgreSQL in Gov"
Azure Database for PostgreSQL - Flexible Server states that it is available in Gov, however, products by region says that this is unavailable in Gov. Which is correct?
https://azure.microsoft.com/en-us/explore/global-infrastructure/products-by-region/?products=postgresql

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-09-27 01:43] Jason239 commented on #98997
https://learn.microsoft.com/en-us/azure/media-services/latest/stream-streaming-endpoint-error-codes-reference

Maybe there is not enough explanation for the error code in this document.

`MPE_ENC_ENCRYPTION_NOT_SET_IN_DELIVERY_POLICY | 0x8088024D | Encryption is not set in delivery policy settings.`

I don't know what delivery policy means in Media Services v3 and how to solve this problem.
I alre

[2022-09-27 01:49] mumurug-MSFT commented on #99033
@randolphnz Thanks for your feedback. We will review and update as appropriate.

[2022-09-27 01:52] mumurug-MSFT commented on #99041
@vigouredelaruse Thanks for your feedback. We will review and update as appropriate.

[2022-09-27 02:18] chaosifier commented on #98990
I've searched up entire azure repos and can't find any trace of the class. The missing class should be in [src dir](https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/communication/azure-communication-callautomation/src/main/java/com/azure/communication/callautomation/models) as per my understainding.
It would be great help if you could link the said SDK in the comments for the moment.

[2022-09-27 02:32] chaosifier commented on #98990
Here's the link to available versions of azure-communication-calling in maven central repository. [Library versions](https://central.sonatype.dev/artifact/com.azure.android/azure-communication-calling/2.4.0-alpha.20220829.1/versions).
In the example v2.0.0 is used. The said classes are neither in earlier version, nor in the latest version of the library.

[2022-09-27 02:51] msmimart commented on #88510
Hello @astaykov, apologies for the long delay on this issue. We're investigating the problem and evaluating for a doc update. I have opened an internal work item for this issue so we can be sure to track it internally. I'll close this issue in GitHub for now, but if there is additional information or insight you'd like to add, please do. Thanks so much for your feedback.
#please-close

[2022-09-27 02:51] #88510 closed

[2022-09-27 02:52] AjayBathini-MSFT commented on #98887
@MGoedtel
Can you please check and add your comments on this doc update request as applicable.

[2022-09-27 02:54] msmimart commented on #90752
@DeanGross thank you for your feedback. I've opened a work item so we can track this investigation internally and evaluate for a doc update. I'll close the issue in GitHub for now, but if you have further info to add please go ahead. Thanks again.
#please-close

[2022-09-27 02:54] #90752 closed

[2022-09-27 02:57] msmimart commented on #92415
@jardaKarlik thanks so much for this feedback. I've opened an internal work item so we can track this request for a future update. I'll go ahead and close this issue in GitHub for now, but if you have anything to add please feel free. Thanks again.
#please-close

[2022-09-27 02:57] #92415 closed

[2022-09-27 03:01] msmimart commented on #93536
@ranvijaykumar Apologies for the delay. Thanks so much for pointing this out. I've opened an internal work item to fix this in an upcoming release. I'll go ahead and close this issue in GitHub for now, but will post back when updates are made. Thanks again!
#please-close

[2022-09-27 03:01] #93536 closed

[2022-09-27 03:20] KapilAnanth-MSFT commented on #99038
@jnlycklama, Thanks for your feedback.
We shall review this and get back to you shortly.

[2022-09-27 03:32] VikasPullagura-MSFT commented on #99032
@randydover
Thanks for your Question! We are currently investigating and will get back on this.

[2022-09-27 03:53] SaibabaBalapur-MSFT commented on #99017
@lenniecottrell
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-27 03:56] SaibabaBalapur-MSFT commented on #99019
@jlamhp
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-27 03:58] SaibabaBalapur-MSFT commented on #99025
@kapntech
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-27 04:02] AjayKumar-MSFT commented on #98998
ehrnst, Glad to know that the issue was sorted out. Thanks for the follow-up and update.

[2022-09-27 04:08] SaibabaBalapur-MSFT commented on #99029
@chidhambaram55
Thanks for your feedback! We will investigate and update as appropriate.

Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team

[2022-09-27 04:09] SaibabaBalapur-MSFT commented on #99030
@SirRacha
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-27 04:12] SaibabaBalapur-MSFT commented on #99031
@smrgit
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-27 04:13] SaibabaBalapur-MSFT commented on #99034
@SirRacha
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-27 04:14] SaibabaBalapur-MSFT commented on #99035
@neanderson
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-27 04:16] mialtamo opened #99044 "These instructions do not show how you actually access the storage account from the FrontDoor URL."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 306e03ce-8bd7-b22f-f871-c49f532fbc28
* Version Independent ID: 900e3a47-7899-8b3d-3c15-1902660290ca
* Content: [Connect Azure Front Door Premium to a storage account origin with Private Link - Azure Private Link](https://learn.microsoft.com/en-us/azu

[2022-09-27 04:16] SaibabaBalapur-MSFT commented on #99042
@joseharriaga
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-27 04:18] shaktisingh-msft commented on #99043
Hi @sunilagarwal,

Could you please look into the correctness of the document and get this updated in official page as applicable. Thanks

[2022-09-27 04:21] srozanc-mcs commented on #98825
I am currently experiencing the same issue, but for the Az.AlertsManagement module for pwsh 5.1

![image](https://user-images.githubusercontent.com/100099968/192431047-e446dfce-1686-4845-8fb8-0c1c6db4c654.png)

![image](https://user-images.githubusercontent.com/100099968/192431122-45e45776-23d3-41e7-b6dc-db8a7ef520bc.png)

[2022-09-27 04:38] ManoharLakkoju-MSFT commented on #98982
@rgkey9000
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-09-27 04:44] Zhww2018 opened #99045 "Unable to change the primary public IP due to the existing DNAT rules. Suggest adding a note about this scenario"
Unable to change the primary public IP of the firewall due to the existing DNAT rules. From the portal, it just mentioned "an internal server error occurred".

Suggestion:
Add the note that we have to remove the existing DNAT rules about the old public IP before we change the primary public IP of the firewall.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.micros

[2022-09-27 04:49] kspoojary commented on #96922
@SnehaAgrawal-MSFT I have same questions on this. After enabling "Require" option. When we try to browse the application It is expecting some certificate to be passed. But Our application is user facing application how can we pass the certificate from each individual clients browser.

Is this setting a valid option for user facing facing front end app?

We got this recommendation In MS cloud defen

[2022-09-27 04:55] chidhambaram55 commented on #99029
@SaibabaBalapur-MSFT This is the doc i followed to set the keyvault contact. https://learn.microsoft.com/en-us/powershell/module/az.keyvault/add-azkeyvaultcertificatecontact?view=azps-8.3.0 . And this is the doc i followed to set the issuance policy. https://learn.microsoft.com/en-us/azure/key-vault/certificates/tutorial-rotate-certificates?source=recommendations

[2022-09-27 04:58] ManoharLakkoju-MSFT commented on #98943
@lnavarette
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-09-27 05:02] kspoojary opened #99046 "Azure Function APP Event Grid Trigger"
I have enabled the client certificate for the function app. Function app endpoints are mainly accessed from the APIM. We are passing certificate from APIM to the backend function app an this flow works for the http triggered function. But in the same function app we do have some event gird triggers and this triggers are falling with forbidden error. How can we pass the certificate from the event g

[2022-09-27 05:02] Naveenommi-MSFT commented on #98892
@KarthikATOS22

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue there so our community, and

[2022-09-27 05:02] #98892 closed

[2022-09-27 05:10] Naveenommi-MSFT commented on #98999
@SirRacha
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

@Blackmist
Please review this.
<img width="881" alt="image" src="https://user-images.githubusercontent.com/113576472/192436982-588a8482-1346-49bb-8bf7-8a272ae3cf38.png">

[2022-09-27 05:21] Naveenommi-MSFT commented on #98973
@joseharriaga
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

@aahill
Please Review this.
![MicrosoftTeams-image](https://user-images.githubusercontent.com/113576472/192438656-2f09a867-e5fe-4bd1-aad5-230ab83bdbdf.png)

[2022-09-27 05:41] KapilAnanth-MSFT commented on #99044
@mialtamo , Thanks for your feedback.

You can directly access the FrontDoor URL, to access the storage account.
i.e, the FQDN pertaining to the route in which you have added the Storage Account as Origin.

Let me know if you require more details on this.

[2022-09-27 05:47] AnuragSingh-MSFT commented on #98758
@librucha, Thank you for the question. Here is some information that should help clarify this topic:

Java application monitoring [using Application Insights](https://learn.microsoft.com/en-us/azure/azure-monitor/app/opentelemetry-overview) is based on [OpenTelemetry instrumentation](https://opentelemetry.io/).

[Spans in OpenTelemetry](https://opentelemetry.io/docs/concepts/signals/traces/#spans-

[2022-09-27 05:50] mialtamo commented on #99044
I would love some more details/help as i have tried to access blob storage account through fd and it does not work. All authorization failures. Won't accept access keys or sas tokens. Not sure how you pass authentication through fd!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Kapil Ananth ***@***.***>
Sent: Monday, September 26, 2022 10:42:07 PM
To: Microsoft

[2022-09-27 05:54] maciejskorski opened #99047 "limitations of logging in MLFlow + SDK v2"
A major limitation I see when using MLFlow + Python SDK v2 is a worse user experience in Azure Studio, compared to native Azure's logging in SDK v1.

I think it would be beneficial to clarify this in the docs plus I am curious about plans of improving it.

Some useful features that would be great to have:

- support run properties and render in Studio tabs (properties != tags, SDK v1 could display

[2022-09-27 06:02] SaibabaBalapur-MSFT commented on #98871
@haider392
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-27 06:02] #98871 closed

[2022-09-27 06:04] RamanathanChinnappan-MSFT commented on #98895
@JimThorstad

Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-09-27 06:08] MughundhanRaveendran-MSFT commented on #98558
@innoforce-dev , There is no support for multilanguage support yet. Please see : https://github.com/Azure/api-management-developer-portal/issues/137

I am closing this issue. Feel free to reopen if required

[2022-09-27 06:08] #98558 closed

[2022-09-27 06:21] rolyon commented on #98407
Hi @josuvil
It's my understanding that custom security attributes isn't supported in Azure AD DS.
Is there a particular scenario you are wondering about?
thanks

[2022-09-27 06:24] RamanathanChinnappan-MSFT commented on #98891
@edusa

Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-09-27 06:27] RamanathanChinnappan-MSFT commented on #98904
@psignoret

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-27 06:33] SaibabaBalapur-MSFT commented on #99014
@sroons
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-27 06:33] #99014 closed

[2022-09-27 06:38] RamanathanChinnappan-MSFT commented on #98894
@viggotw

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue there so our community, and MVPs

[2022-09-27 06:38] #98894 closed

[2022-09-27 06:52] YashikaTyagi-MSFT commented on #98910
@Taborda-Web
Thanks for pointing this out. I tried to repro the issue and I am able to add guest users in a security Group.
![image](https://user-images.githubusercontent.com/110381034/192454040-7f73b641-c1d3-4f0c-bd09-78fb7faa8183.png)

[2022-09-27 06:52] YashikaTyagi-MSFT commented on #98929
@Wibusts
Thanks for pointing this out. I tried to repro the issue and I am able to add guest users in a security Group.
![image](https://user-images.githubusercontent.com/110381034/192454225-a59c3f23-6906-4d91-ae7f-9b84c7bb5f9a.png)

[2022-09-27 07:00] SouravDutta-MSFT commented on #98880
@Nickomang

Can you please check and add your comments on this doc update request as applicable.

[2022-09-27 07:02] YashikaTyagi-MSFT commented on #98910
@Taborda-Web
I have performed the required changes, once approved by the Author it will reflect in the document itself. I am closing this thread. Please feel free to reach out for further assistance.

[2022-09-27 07:02] #98910 closed

[2022-09-27 07:03] YashikaTyagi-MSFT commented on #98929
@Wibusts
I have performed the required changes, once approved by the Author it will reflect in the document itself. I am closing this thread. Please feel free to reach out for further assistance.
for reference: https://github.com/MicrosoftDocs/azure-docs/issues/98910

[2022-09-27 07:03] #98929 closed

[2022-09-27 07:07] anandadake commented on #98642
Then how could i run in background process ?
My intention is to run the script on VM and it should keep running even after i close the shell or logout from VM

[2022-09-27 07:08] SaibabaBalapur-MSFT commented on #98868
@randolive
Thank for your feedback.

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue there

[2022-09-27 07:08] #98868 closed

[2022-09-27 07:35] Naveenommi-MSFT commented on #98991
@manjitsin
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

@mssaperla
Please Review this.
<img width="914" alt="image" src="https://user-images.githubusercontent.com/113576472/192463109-7ce1cebf-5f0e-41ea-a984-c527f8a6891c.png">

[2022-09-27 08:15] alexchen2016 opened #99050 "Need your confirmation"
Hi writer team,

In the "Configure settings in the portal" section of this doc, there is a note which says "If Members can invite is set to No and Admins and users in the guest inviter role can invite is set to Yes, users in the Guest Inviter role will still be able to invite guests.". But we can't find any buttons or options to update the "Members can invite" and "Admins and users in the guest in

[2022-09-27 08:23] sopelt opened #99051 "Using AAD Groups to manage action groups (like RBAC)"
Hello, according to the [best practices](https://learn.microsoft.com/en-us/azure/role-based-access-control/best-practices#assign-roles-to-groups-not-users) RBAC roles should be assigned to AAD groups instead of having direct user assignments.

[This article](https://learn.microsoft.com/en-us/azure/azure-monitor/alerts/action-groups#email-azure-resource-manager-role) states that

Could you clarify

[2022-09-27 08:24] deyanp opened #99052 "The processor instance ... owns a higher than recommended number of partitions for average workloads"
Hi,

With the latest SDK we started getting the below error:

Azure.Messaging.EventHubs[104] The processor instance with identifier '696b32d5-0a4c-4a9f-b79e-7aabe9456f8a' for Event Hub: xxx-xxxxxxx-xxxx-xxxxxx-xxxxx owns a higher than recommended number of partitions for average workloads. Owning too many partitions can cause slow performance and stability issues. Consider monitoring performance a

[2022-09-27 08:30] AnuragSingh-MSFT commented on #98764
@RaamsdonkAJ, apologies for the delayed response. I see that you are using `SignInName` parameter with `New-AzRoleAssignment`, but the objecyId (a guid is being supplied as the value). Note that `signinId` is also known as[ Email or UserPrincipal name](https://learn.microsoft.com/en-us/powershell/module/az.resources/new-azroleassignment?view=azps-8.3.0#-signinname). Therefore, please use `-SignInN

[2022-09-27 08:33] torumakabe opened #99053 "Confirm appliance requirements (Supportability of NAT)"
I understand that Azure Migrate replication appliance consist of [Azure Site Recovery configuration server and process server internally](https://learn.microsoft.com/en-us/azure/migrate/agent-based-migration-architecture#agent-based-migration).

Azure Site Recovery configuration server [doesn't support NAT](https://learn.microsoft.com/en-us/azure/site-recovery/vmware-physical-azure-support-matrix#

[2022-09-27 08:35] AnuragSingh-MSFT commented on #98483
@kentoyo11, Apologies for the delayed response. Yes, it is strongly **recommended** to not use an existing storage account that has other, non-monitoring data stored in it so that you can better control access to the data.

I will submit feedback to get it corrected.

[2022-09-27 08:38] AnkeDubois-Ace commented on #85718
Can confirm that this is still an issue, as I get the same error following the tutorial and using Cloud Shell

[2022-09-27 08:44] GitaraniSharma-MSFT commented on #99045
@Zhww2018 , thank you for your feedback. We have assigned this to the content owner/author for review.

@asudbring , for your review.

[2022-09-27 08:45] SouravDutta-MSFT commented on #99025
@kapntech

Yes, if choose a computer account which doesn't have a password expiration, you can skip the command part.

For more reference, please go through the discussions of below link:
https://github.com/MicrosoftDocs/azure-docs/issues/95416

Kindly let me know if you need more clarifications or we can close this thread.

[2022-09-27 08:47] SouravDutta-MSFT commented on #98959
@alkohli

Can you please check and add your comments on this doc update request as applicable.

[2022-09-27 08:49] AjayKumar-MSFT commented on #99011
somichak, Thanks for leveraging Azure docs feedback channel to raise this question. Since you have closed the thread I presume the issue is resolved, if it's not the case or you need further assistance kindly just let us know.

--As a side note, this channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2022-09-27 09:12] mewinks commented on #98946
Yes, that is one place but it doesn't appear clear to use 'python3', the other is in the VS Code tab on the same page, I'm not a pro programmer so it wasn't something that I knew already :) I figured there might also be other folks who also got stuck at that point as the answer was buried in Google and landed me here: https://stackoverflow.com/a/71851918

[2022-09-27 09:20] alexchen2016 commented on #98493
Any update from your side?

[2022-09-27 09:21] alexchen2016 commented on #98685
Any update from your side?

[2022-09-27 09:23] myfope opened #99059 "Minimum Azure AD Connect Version update"
Within this section: https://learn.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-pta-quick-start#in-your-on-premises-environment at least version 1.1.750.0 is recommended. As version 1.x is out of support since August 2022 I would recommend to update the article to list at least version 2.x.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for lea

[2022-09-27 09:39] SouravDutta-MSFT commented on #99006
Hi @kev-in-shu

It is possible to increase disk size without downtime as I have just recreated the scenario and tested it. Attached Snapshot for reference.

However, a few things to consider other than OS disk can't be increased without downtime,
1. While adding or creating the Data Disk choose "LUN" number other than zero. Preferably, 1,2, 3 etc.
2. Choose the size of the disk more than previousl

[2022-09-27 09:45] KapilAnanth-MSFT commented on #99038
@jnlycklama, I have assigned this thread to author for further review.

@mbender-ms, Request you to please review this.

[2022-09-27 09:46] FerryMan-Coder opened #99060 "wrong version of azuredeploy.json in tutorial exercise templates"
The file azuredeploy.json referred to in this exercise seems to be the wrong one and is identical to (and probably taken from) the previous exercise (the previous one found here: https://learn.microsoft.com/en-us/azure/azure-resource-manager/templates/template-tutorial-use-template-reference )

According to the screenshots we are supposed to remove a section 'variables' (among other ones) in that

[2022-09-27 10:08] AnuragSingh-MSFT commented on #98687
@olavt, Thanks for opening an issue in the Azure technical documentation repository. We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.
Thanks for opening an issue in the Azure technical documentation repository. We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.
We prefer that y

[2022-09-27 10:08] #98687 closed

[2022-09-27 10:22] AnuragSingh-MSFT commented on #98460
@chorting, Thank you for the reply and apologies for the delayed response. I am looking into it and will get back to you soon.

[2022-09-27 10:38] robjhead opened #99063 "Databricks no longer recommends Access Azure Data Lake Storage using Azure Active Directory credential passthrough."
This is one of the key features of the Premium tier and no information is provided as to why this is deprecated, either on this page or other supporting pages.  Sone details of recommended alternatives would also be very helpful as this feature is widely used.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 58d39e17-42

[2022-09-27 10:41] ezYakaEagle442 opened #99064 "az ad sp create-for-rbac --sdk-auth is DEPRECATED"
az ad sp create-for-rbac --sdk-auth is DEPRECATED and should not be mentioned in the docs.
see also :
- [https://github.com/MicrosoftDocs/azure-dev-docs/issues/903](https://github.com/MicrosoftDocs/azure-dev-docs/issues/903)
- [https://github.com/Azure/actions-workflow-samples/issues/91](https://github.com/Azure/actions-workflow-samples/issues/91)

---
#### Document Details

⚠ *Do not edit this se

[2022-09-27 10:41] KarthikeyanB007 opened #99065 "How could one configure Spot VM?"
Hi,

Please help me know how to configure Spot VM for Databricks while setting ARM-based linked service of type 'AzureDatabricks'.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 794a72a8-f145-dad9-1f80-16d8ce0b587a
* Version Independent ID: be745cc3-bda5-ff52-e390-324c2a429155
* Content: [Compute environments - Azure

[2022-09-27 11:11] dknappettmsft commented on #85100
Closing the loop on this - RDP Shortpath has recently had the ability to use public networks without assigning a public IP to session hosts go to general availability. RDP Shortpath for managed networks is for a private connection, e.g. VPN, ExpressRoute private peering.  As assigning a public IP is no longer listed, I'll close this issue.

#please-close.

[2022-09-27 11:11] #85100 closed

[2022-09-27 11:12] SamBouwer opened #99067 "Typo in example code at the end of Step 3"
There is a small typo in the example code at the end of Step 3 where "namee" should be "name":

![image](https://user-images.githubusercontent.com/6918900/192510652-8c29188e-c31d-44bc-b80f-374467e7e30a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: cb86b02a-e703-09d7-01ee-48b621ab7967
* Version Independent ID: dc

[2022-09-27 11:12] AjayKumar-MSFT commented on #98906
@boclifton-MSFT, as discussed and fixed, in this thread  -[Firebase setup guidance is out of date #93552](https://github.com/MicrosoftDocs/azure-docs/issues/93552)
It should be fixed the PR: https://github.com/MicrosoftDocs/azure-docs/pull/98579  --Due credit to chrisfcarroll for sharing the steps.

 If you do not see a **Server key** on the firebase Cloud Messaging tab, follow these additional st

[2022-09-27 11:12] VikasPullagura-MSFT commented on #99032
@randydover
Looks like you are using OLD Scaling script - where you need to use Logic app and to initiate it you require a run as account.
Also, creating autoscale scaling plan for Azure Virtual Desktop (Scaling plans) is GA and available in major regions. Please refer this [document](https://learn.microsoft.com/en-us/azure/virtual-desktop/autoscale-scaling-plan).

[2022-09-27 11:13] dknappettmsft commented on #87362
Closing the loop on this - the RDP Shortpath articles have had a number of changes made since this was raised that I believe clears this up, so I'll close the issue.

#please-close

[2022-09-27 11:13] #87362 closed

[2022-09-27 11:16] dknappettmsft commented on #92310
Closing this as it is a support issue, rather than the article itself. This PowerShell script is no longer hosted within the article any longer.

#please-close

[2022-09-27 11:16] #92310 closed

[2022-09-27 11:20] ManoharLakkoju-MSFT commented on #99067
@SamBouwer
Thanks for your feedback! We will investigate and update as appropriate

[2022-09-27 11:28] Witchlord666 opened #99068 "IsValidFileExtension returns if file extension is not in dictionary"
There's an error in the code example for 'IsValidFileExtension' method. It returns true if the file extension is _not_ contained in the dictionary:
[code]

I'd suggest removing the inequality operator and then wrapping it around the code that follows for easier reading:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-09-27 11:29] andrePKI opened #99069 "Supported device types ??"
What is meant by **Supported device types**? Is the AMA not supported on the devices with No in the second column?
Why not supported but installation method is listed?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 744bf603-c4e7-5ffe-90ad-11735813335b
* Version Independent ID: 518ed1e0-13b8-0f85-03e8-d729ec99d290
* Co

[2022-09-27 11:35] SouravDutta-MSFT commented on #99060
@FerryMan-Coder
Thanks for your feedback! We will investigate and update accordingly.

[2022-09-27 11:43] mikefrobbins commented on #99029
Looping in @sebansal who is listed as the author of the referenced Key Vault tutorial.

If this issue is specific to the reference documentation for `Add-AzKeyVaultCertificateContact`, please log an issue in the [Azure PowerShell](https://github.com/azure/azure-powershell/issues/new?title=&body=%0A%0A%5BEnter%20feedback%20here%5D%0A%0A%0A---%0A%23%23%23%23%20Document%20Details%0A%0A%E2%9A%A0%20*Do

[2022-09-27 11:44] randydover commented on #99032
@VikasPullagura-MSFT , I'm not using a script, I'm quoting the article. The article states use a Run As account. (Link to the specific spot in the doc: https://learn.microsoft.com/en-us/azure/virtual-desktop/set-up-scaling-script#create-an-azure-automation-run-as-account )
Run As is older process. Current process (and therefore an update to the article) is to use a Managed Instance.
Please see my

[2022-09-27 11:46] VikasPullagura-MSFT commented on #99032
@randydover Apologies for the confusion.

I have assigned the issue to content author to check and update the document as appropriate.

[2022-09-27 11:46] VikasPullagura-MSFT commented on #99032
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2022-09-27 11:50] enettekoven commented on #98848
If you go to part 4 in this series: https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/storage/files/storage-files-identity-ad-ds-mount-file-share.md

The same malformed powershell is used / net use command is used instead of proper powershell scripting.

[2022-09-27 11:51] enettekoven commented on #98848
BTW if you follow actually go in to azure in configure Azure files, there is also a 'connect' button available, where you can also get the right powershell command to use to connect to the drive :)

[2022-09-27 12:05] mrvanes opened #99070 "redirect_uri typo in page"
In the page referenced below, the instruction is to register the IDToken client using the Redirect URI ```vcclient://openid```. This is not correct, as the VC App sends an OIDC request using redirect_uri: ```vcclient://openid/``` (take note of the trailing slash).

Please correct the documentation accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.micros

[2022-09-27 12:10] dknappettmsft commented on #85026
Consolidating this down to #85028 as they include the same request.

#please-close

[2022-09-27 12:13] AjayKumar-MSFT commented on #98801
am8448, Apologies for the delay. Changes you made in Web.config or appsettings.json works with the managed identity, in case, remove the existing connection string in App Service, which Visual Studio created deploying your app (the first time).

Kindly review Azure.Identity.DefaultAzureCredential  -

var token = credential.GetToken(new Azure.Core.TokenRequestContext(new[] { "https://database.windo

[2022-09-27 12:16] Blackmist commented on #98999
Sorry for the inconvenience @SirRacha

Last week the azureml-examples repo was reorganized and the docs were updated to point to the new URLs. I'm guessing that you may have viewed the page in the middle of the update or maybe an older version from the local browser cache. The links in the page have been updated to point to the new folder structure on the repo at this time. The files you were look

[2022-09-27 12:19] SwathiDhanwada-MSFT commented on #98756
@tinaling Thanks for your feedback. SUSE 15 SP3 is supported. We will update the document accordingly.

[2022-09-27 12:27] geertn commented on #20741
It would be interesting to have support for automatically creating tags for this Cost Analysis feature:
https://learn.microsoft.com/en-us/azure/cost-management-billing/costs/enable-preview-features-cost-management-labs#group-related-resources-in-the-cost-analysis-preview

[2022-09-27 12:32] dknappettmsft commented on #98863
Hi @Imjustdave2 - configuring scheduled agent updates is not natively available in the AVD PowerShell module. The only options currently are the Azure portal and REST API.

If you are unfamiliar with how to make REST API calls to Azure, there's an article on that here: https://learn.microsoft.com/en-us/rest/api/azure/.

Specifically, for scheduled agent updates, the AVD REST API reference contains

[2022-09-27 12:47] tinaling commented on #98756
Thanks for your feedback and follow up.
Look forward to seeing the update.

SwathiDhanwada-MSFT ***@***.***>於 2022年9月27日 週二，下午8:20寫道：

[2022-09-27 12:49] SirRacha commented on #98999
Cool @Blackmist -- working now.

[2022-09-27 12:50] #98999 closed

[2022-09-27 12:53] RamanathanChinnappan-MSFT commented on #98941
@qlycool

Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-09-27 12:59] TonySh127-ms opened #99073 "Permission scope required when run "Connect-MgGraph""
Hi Team, the PowerShell command may need to remind the permission scope

![image](https://user-images.githubusercontent.com/68043042/192532478-451029d7-1be3-45a2-be00-d60a4013ba9d.png)

The user update permission required  "User.ReadWrite.All"

Select-MgProfile -Name beta
Connect-MgGraph -scope "User.ReadWrite.All"

$user = Get-MgUser -Filter "startsWith(mail, 'john.doe@fabrikam.ne')"
New-MgInvita

[2022-09-27 13:00] RamanathanChinnappan-MSFT commented on #99034
@SirRacha

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-27 13:01] dknappettmsft commented on #94860
Thanks for the feedback. I've added some content about this to the article, which should be live later today.

#please-close

[2022-09-27 13:01] #94860 closed

[2022-09-27 13:03] dknappettmsft commented on #84695
Thanks for the feedback. Group Policy is the way we would like customers to configure screen capture protection. The underlying registry entries can of course be extracted from the template.

#please-close

[2022-09-27 13:03] #84695 closed

[2022-09-27 13:07] KapilAnanth-MSFT commented on #98641
@arnovandevenrabobank, assigning this thread to the author for further review.

@jessie-jyy, please review this and update us if the behavior is expected.

[2022-09-27 13:10] andyzhangx commented on #20741
@geertn add `tags: cm-resource-parent=""` in storage class should work.

[2022-09-27 13:10] dknappettmsft commented on #85015
Thanks for the feedback. I can't find a suitable alternate link, so I've removed the reference. The change should be visible later today.

#please-close

[2022-09-27 13:10] #85015 closed

[2022-09-27 13:11] ssvarian opened #99074 "create the credential in ADF to use it with User Managed Identity"
I dont see a way either through ARM templates or terraform  to create a credential in ADF to use it with User Managed identity when creating a linked service to ADLS

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 943cff0d-83a6-0418-b817-cdfc8472e129
* Version Independent ID: 6ed2bf58-a219-9322-496a-e1773465836b
* Cont

[2022-09-27 13:16] madsd commented on #99008
I updated the documentation to make the distinction between pre-created subnets and subnet created as part of the integration. We do not want to document /29. This should only be used in extreme edge cases where scaling traffic patterns are under strict control and there are no options to provide a safe buffer of IPs. We strongly advise not to use this configuration and documenting it will cause m

[2022-09-27 13:16] #99008 closed

[2022-09-27 13:19] dknappettmsft commented on #81606
External identities are still not supported. A clarifying note about the terminology of external identities vs external users has been added to the licensing article you linked to.

#please-close

[2022-09-27 13:19] #81606 closed

[2022-09-27 13:22] Naveenommi-MSFT commented on #99042
@joseharriaga

Thank You for point out the typos. we are updated the Docs as appropriate.

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-27 13:22] #99042 closed

[2022-09-27 13:22] ezYakaEagle442 opened #99075 "ACA App Configuration / Azure App Config"
With ACA,  with and without Dapr how to configure an App , is [Azure App Config](https://learn.microsoft.com/en-us/azure/azure-app-configuration/overview) the right way to go ?
Could you please add a section in the docs about it ?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 61f4086e-c368-eb50-6d14-97882deec44f
* Ve

[2022-09-27 13:26] mumurug-MSFT commented on #99052
@deyanp Thanks for your feedback. We will review and update as appropriate.

[2022-09-27 13:28] dknappettmsft commented on #80013
Thanks for the feedback. This article has been reworked including these specific points having been addressed. The changes should be visible later today or tomorrow.

#please-close

[2022-09-27 13:28] #80013 closed

[2022-09-27 13:28] mumurug-MSFT commented on #99075
@ezYakaEagle442 Thanks for your feedback. We will review and update as appropriate.

[2022-09-27 13:31] mumurug-MSFT commented on #99064
@ezYakaEagle442 Thanks for your feedback. We will review and update as appropriate.

[2022-09-27 13:35] #98324 closed

[2022-09-27 13:36] MicrosoftGuyJFlo commented on #98424
Resolved in https://github.com/MicrosoftDocs/azure-docs-pr/pull/212548

[2022-09-27 13:37] MicrosoftGuyJFlo commented on #98424
#please-close

[2022-09-27 13:37] #98424 closed

[2022-09-27 13:37] mumurug-MSFT commented on #99046
@kspoojary Thank you for reaching out with your question. I want to let you know that this repo is specifically for azure-docs related feedback. It would be best if you can post it in [Microsoft Q&A](https://learn.microsoft.com/en-us/answers/index.html)  and we will assist you further on this question.

We will now proceed to close this thread. Feel free to add a comment if you have any questions.

[2022-09-27 13:37] #99046 closed

[2022-09-27 13:43] richardtallent-erm opened #99076 "Creating/deploying WebJobs should not require clicking around in VS"
The instructions here require use of VS 2022. Can we please get a "no-magic" version of this article that explains how to create a WebJob without the use of a GUI, or magic CLI tools? I.e., what files need to be created, the contents of those files, and how to deploy the job using FTP.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue li

[2022-09-27 13:50] jasonhorner commented on #98955
@WilliamDAssafMSFT I'm more than happy to help with a PR here once there is clarification from the Product team. This was my original intention but then as you point out the video is old and the implementation may have changed. I hope you can understand my reluctance for spending time creating a PR that is not accurate or needed. Thanks again for your quick response and feel free to tag me if the

[2022-09-27 13:56] dknappettmsft commented on #77559
Closing the loop on this - the article was updated in November to correct "Remote Resource Feed" to "Workspaces".

#please-close

[2022-09-27 13:56] #77559 closed

[2022-09-27 13:59] dknappettmsft commented on #77455
Thanks for the feedback. There is no setting for this - it's just providing some guidance on the number of IOPs a user would use when using FSLogix Profile Container that your storage choice should be able to provide.  This applies to a single user and you can multiply that by the number of users you have.

#please-close

[2022-09-27 13:59] #77455 closed

[2022-09-27 14:08] dknappettmsft commented on #75944
Thanks for the feedback. I have added a Log Analytics workspace as an optional prerequisite. The change should be visible later today.

#please-close

[2022-09-27 14:08] #75944 closed

[2022-09-27 14:13] SharmainePopov commented on #99008
Hi Mads
Thanks!

Sharmaine Popov
Cloud Solution Architect |Microsoft Canada Inc. | ***@***.******@***.***> | 416-799-0807

From: Mads Damgård ***@***.***>
Sent: Tuesday, September 27, 2022 9:17 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Sharmaine Popov ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Update Section "Subnet Requirements" to improve clarity around /27

[2022-09-27 14:16] josuvil commented on #98407
Thanks for confirming. The scenario I'm thinking about are customers with on-prem AD synchronizing to AAD and then back-synced to Azure ADDS. Some customers may have directory extensions enabled. Although we compare directory extensions with custom security attributes, I think we should explain or mention how this feature works or does not work with Azure ADDS. Thank you.

[2022-09-27 14:28] whhender commented on #98099
@CathyInMN - I've updated the documentation page you've referenced with some more information. Thanks for pointing this out! If any more questions arise, reach out!

I always want to improve the documentation to have all the information you need.

[2022-09-27 14:28] whhender commented on #98099
https://github.com/MicrosoftDocs/azure-docs-pr/pull/212078

[2022-09-27 14:29] whhender commented on #98099
#please-close

[2022-09-27 14:29] #98099 closed

[2022-09-27 14:35] rp-msft opened #99078 "Fault tolerance"
[This article doesn't cover scenarios application developers should take into account when service events happen on AKS , for example scheduled host updates which can cause a database session to drop and cause issues in data consistency. What is the suggested fault tolerance method for application designers when an underlying even causes their sessions to drop abruptly ?]

---
#### Document Detail

[2022-09-27 14:46] dknappettmsft commented on #75063
Thanks for the feedback. I have added PowerShell commands for the registry value, which should be visible later today.

#please-close

[2022-09-27 14:46] #75063 closed

[2022-09-27 14:48] dknappettmsft commented on #74115
Thanks for the feedback. We're working on some updates that incorporates the beta client for macOS that should be published soon.

#please-close

[2022-09-27 14:48] #74115 closed

[2022-09-27 14:53] dknappettmsft commented on #68781
Thanks for the feedback. The article you've linked here is the 2nd in the series, with the first article covering creating an RDS tenant.

#please-close

[2022-09-27 14:53] #68781 closed

[2022-09-27 14:55] dknappettmsft commented on #67684
Closing the loop on this - this has been corrected.

#please-close

[2022-09-27 14:55] #67684 closed

[2022-09-27 14:55] spelluru commented on #98942
Updated the article.

#please-close

[2022-09-27 14:55] #98942 closed

[2022-09-27 15:04] n0tr4b opened #99080 "Update to Steps 5 and 6 of the Document"
The information in Steps 5 and 6 appear to no longer be accurate. I am not seeing the options for selecting the specific logs to send to the workspace. The options are now Category Groups of "audit" and "allLogs" or "AllMetrics".
![image](https://user-images.githubusercontent.com/114502732/192563291-eab549c8-54cd-40f5-a373-aac71c3652f6.png)

---
#### Document Details

⚠ *Do not edit this section.

[2022-09-27 15:04] dknappettmsft commented on #59416
Closing the loop on this - this seems to have been corrected, with steady state being lower than sign-in/out.

#please-close

[2022-09-27 15:06] samuelschnurr commented on #88751
@dlepow @MayankBargali-MSFT  @djflocko

@ujjwaldevarapalli @SaiKishor-MSFT

Is there already a solution?

I can't find a solution for our problem:

We got API Management with Application Gateway in front.
Mutual auth should me mandatory only for specific apis (via api policy).

When accessing api management directly mutual auth works.
When accessing api management via application gateway it doesn'

[2022-09-27 15:08] #99080 closed

[2022-09-27 15:09] dknappettmsft commented on #59999
There's some information on passwordless authentication for Azure Virtual Desktop: https://learn.microsoft.com/en-us/azure/virtual-desktop/authentication#passwordless-authentication. We don't document our future plans in product articles.

#please-close

[2022-09-27 15:09] #59999 closed

[2022-09-27 15:11] mh3css commented on #94235
@mike-urnun-msft We are in the same position as above. Please could you advise?

If queue trigger and HTTP trigger FixedDelay and ExponentialDelay policies are both being removed, is there an alternative retry policy we can use for queue trigger and HTTP functions that is not being deprecated? Thanks.

[2022-09-27 15:13] ChaitanyaNaykodi-MSFT commented on #98944
Hello @MzMaffei, just following up here regarding the request above.

[2022-09-27 15:14] kenwith commented on #98275
#reassign: @jenniferf-skc

[2022-09-27 15:16] dknappettmsft commented on #56704
The process in this article uses the Azure Virtual Desktop service to deploy the new VMs, so it automatically adds the agent and boot loader. You only need to do this manually if you create VMs outside of the Azure Virtual Desktop service and add them to a host pool.

#please-close

[2022-09-27 15:24] h-david-a opened #99081 "Outdated information regarding importing certificate from KeyVault secret"
"Secrets" functionality for KeyVault is deprecated. And PowerShell cmdlet is not accepting Certificate ID.
Azure CLI seems to work fine

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 4c416d5e-5bfd-c641-e9bb-324dcb921acc
* Version Independent ID: 8739a044-d471-c432-3ed1-503539408ae8
* Content: [TLS termination with Azu

[2022-09-27 15:25] dknappettmsft commented on #51357
Closing the loop on this - the action was changed in the JSON to http in a revised version posted in July 2020.

#please-close

[2022-09-27 15:25] #51357 closed

[2022-09-27 15:26] #49746 closed

[2022-09-27 15:42] SaibabaBalapur-MSFT commented on #99047
@maciejskorski
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-27 15:43] seesharprun commented on #97586
We have a new update to the article that should be live later today to address this issue.

#please-close

[2022-09-27 15:43] #95928 closed

[2022-09-27 15:45] SaibabaBalapur-MSFT commented on #99050
@alexchen2016
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-27 15:49] SaibabaBalapur-MSFT commented on #99051
@sopelt
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-27 15:53] SaibabaBalapur-MSFT commented on #99053
@torumakabe
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-27 15:56] mialtamo commented on #99044
For instance there is no configuration details of the origin path to include origin name of the storage account container name which works for get methods (if origin path is missing sas fails on get requests) however for put requests the requests fails due to an extra / being added to the sas token before the "?".

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: K

[2022-09-27 15:56] SaibabaBalapur-MSFT commented on #99059
@myfope
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-27 15:58] SaibabaBalapur-MSFT commented on #99063
@robjhead
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-27 15:59] SaibabaBalapur-MSFT commented on #99065
@KarthikeyanB007
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-27 16:01] SaibabaBalapur-MSFT commented on #99068
@Witchlord666
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-27 16:01] solstone opened #99083 "AAD Graph Deprecated"
In the prereq section, it states that the account need the following:

The account you use to run the PowerShell command must have the Azure Active Directory Graph Directory.Read.All and Microsoft Graph Directory.Read.All permissions.

But the Azure Active Directory Graph is deprecated and you can no longer add that permission. Does that need to be removed or maybe updated in someway?

Thanks!

--

[2022-09-27 16:03] SaibabaBalapur-MSFT commented on #99069
@andrePKI
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-27 16:04] sewalshmsft opened #99084 "Contact Form has changed"
In this section: https://learn.microsoft.com/en-us/azure/orbital/downlink-aqua?source=recommendations#create--authorize-a-spacecraft-for-aqua

The onboarding link in Step 9 needs to be updated to use these instructions instead:

https://learn.microsoft.com/en-us/azure/orbital/register-spacecraft#request-authorization-of-the-new-spacecraft-resource

---
#### Document Details

⚠ *Do not edit this se

[2022-09-27 16:05] SaibabaBalapur-MSFT commented on #99070
@mrvanes
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-27 16:07] SaibabaBalapur-MSFT commented on #99073
@TonySh127-ms
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-27 16:08] SaibabaBalapur-MSFT commented on #99074
@ssvarian
Thanks for your feedback! We will investigate and update as appropriate.

Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team

[2022-09-27 16:10] atrukhina opened #99085 "video does not work"
sample video on how to setup you first alert doesnt work - there's no picture, just sounds. using chrome

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 581d46fd-9672-0bc6-7152-39301c893fd4
* Version Independent ID: 202e0e14-10e9-2173-b4a5-bb8cf6cdd400
* Content: [Receive activity log alerts on Azure service notificati

[2022-09-27 16:11] SaibabaBalapur-MSFT commented on #99076
@richardtallent-erm
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-27 16:12] BryanTrach-MSFT commented on #99076
@richardtallent-erm Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-09-27 16:13] SaibabaBalapur-MSFT commented on #99078
@rp-msft
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-27 16:15] JamesTran-MSFT commented on #98241
@colmardev
Thank you for reaching out via email.

Since we're working offline on this I'll go ahead and close out this issue since our engineering team is actively working to resolve this.

[2022-09-27 16:15] #98241 closed

[2022-09-27 16:16] meepstei opened #99086 "which version of App Service Environment is this doc referring to?"
[Enter feedback here]
This doc provides steps for publicly exposing the KUDU URL using a custom domain suffix, which is not yet available for ASEv3, so is this doc specific to ASEv2? If yes, it should be explicitly stated this is for an ASEv2

Specifically the section "A valid public certificate"
"The SAN that allowing to connect to App Service kudu service. It's an optional setting, if you don't

[2022-09-27 16:16] SaibabaBalapur-MSFT commented on #99081
@h-david-a
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-27 16:17] SaibabaBalapur-MSFT commented on #99083
@solstone
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-27 16:19] SaibabaBalapur-MSFT commented on #99084
@sewalshmsft
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-27 16:21] SaibabaBalapur-MSFT commented on #99085
@atrukhina
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-27 16:23] SaibabaBalapur-MSFT commented on #99086
@meepstei
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-27 16:26] ssvarian commented on #99074
No much information in this document https://learn.microsoft.com/en-us/azure/data-factory/credentials?tabs=data-factory

[2022-09-27 16:37] lemmy commented on #97586
@seesharprun Thanks for the update.  Assuming there is a corresponding git commit somewhere, where would we find it?

[2022-09-27 16:43] dulfe opened #99087 "Account IConfiguration inside Configure method"
This page shows how to use Dependency injection in Azure Functions as well as how to customize logging, but it does not show how to get access to the configuration (IConfiguration) in the Configure method.

That is needed to configure Azure clients.

I know we can get the values from the "environment," but it would be better to use a standard way.

For example:

`public class Startup : FunctionsSt

[2022-09-27 16:44] timmi4sa opened #99088 "Please remove a misleading blanket statement before MS gets sued"
Please remove the opening statement of "Coordinated Universal Time (UTC) is the recommended time zone for the data tier of cloud solutions." since it's a total mistake to suggest this for the reasons below and it costs our company 4 days of mission critical transition to Azure time!!!!

The suggestion of "Coordinated Universal Time (UTC) is the recommended time zone for the data tier of cloud solu

[2022-09-27 16:51] jagreen03im commented on #98867
1.  POST Data Upload

https://us.atlas.microsoft.com/mapData?api-version=2.0&dataFormat=dwgzippackage
202

  1.  GET Data Upload Status

https://us.atlas.microsoft.com/mapData/operations/{{DrawingPackageResource}}?api-version=2.0<https://us.atlas.microsoft.com/mapData/operations/%7b%7bDrawingPackageResource%7d%7d?api-version=2.0>
{
    "operationId": "157a2f98-6f6c-4508-bba4-14c043a5ac33",
    "cr

[2022-09-27 16:57] madhancock commented on #90819
@SaiKishor-MSFT any news on this? We're finding AFD in general to be a bit of a mess when it comes to this.

I'm also concerned about managed cert renewal since when using Azure DNS with an Alias the AFD portal UI shows that the CNAME isn't set up - and documentation indicates the domain verification will need to be manually done.

Is there another issue tracker these should be on? Azure Container

[2022-09-27 17:00] jagreen03im commented on #98867
Steve,

I didn’t mention here that I went and recreated the maps account and maps creator as well. This time authentication local off. So, I don’t need bearer token.

From: John Green
Sent: Tuesday, September 27, 2022 12:52 PM
To: MicrosoftDocs/azure-docs ***@***.***>; MicrosoftDocs/azure-docs ***@***.***>
Cc: Mention ***@***.***>
Subject: RE: [EXTERNAL] Re: [MicrosoftDocs/azure-docs] Needed detai

[2022-09-27 17:05] tfitzmac commented on #98659
@ezYakaEagle442 - thanks for this feedback. A link to Container Apps quotas was added.
#please-close

[2022-09-27 17:05] #98659 closed

[2022-09-27 17:07] ermacia91 commented on #52836
This issue is still present in the current documentation. Please pull this statement from the document.
![image](https://user-images.githubusercontent.com/40667809/192591334-e872d8eb-3942-4c68-8573-420bc25267ff.png)

[2022-09-27 17:09] ianssoftcom opened #99090 "The behavior of 'time-generated-field' seems to have changed"
<blockquote>

time-generated-field | The name of a field in the data that contains the timestamp of the data item. If you specify a field, its contents are used for TimeGenerated. If you don't specify this field, the default for TimeGenerated is the time that the message is ingested. The contents of the message field should follow the ISO 8601 format YYYY-MM-DDThh:mm:ssZ. Note: the Time Generated

[2022-09-27 17:10] ryanwinter commented on #98642
Hi @anandadake,

This is a sample is was not written to be run as a background task, hence the reliance on user input during execution. This is not a supported scenario for any of our samples and guides.

You could modify the script to remove the STDIN reliance as a first step to what you are looking for.

Ryan

[2022-09-27 17:11] SaraALAzzani commented on #97400
Sorry management is chasing up. Any updates?

[2022-09-27 17:18] GeethaThatipatri-MSFT commented on #99088
@timmi4sa Thanks for your findings, I'm assigning this to the author for the feedback review.

[2022-09-27 17:32] ee99ee commented on #90819
So, I figured this out.

First, you have to add all of the CNAMEs and DNS entries from AFD -- NOT from the DNS tool. They haven't integrated it yet. Don't try to add a CNAME record manually and associate it with an AFD endpoint. The dropdown only pulls from AFD Classic. Instead, use the integration from AFD to have _it_ create the DNS records for you.

Does this make sense? I'm tired, so if this i

[2022-09-27 17:38] SnehaGunda commented on #97213
#assign:@SnehaGunda

[2022-09-27 17:43] #96954 closed

[2022-09-27 17:44] KapilAnanth-MSFT commented on #99044
@mialtamo, Thanks for the update.

For Storage Accounts with Private endpoint, you can just use the storage account's FQDN in the Origin Host and Header.

For Health Probes, under Path field, you can specify the path alone and not the SAS token.
The path has a restriction of 100 characters only and the SAS token may exceed that.
**P.S**: Without the SAS token, the health probes would still succeed

[2022-09-27 17:46] ecfan commented on #96954
Hi @Hjaf, "apptapps" is an alias owned by our internal Connectors team. I've asked them to change the alias to something more recognizable. Meanwhile, I've updated the doc to clarify the publisher's identity.

[2022-09-27 17:48] SnehaGunda commented on #97213
@kevchant Thank you for pointing out. I confirmed with our team and submitted a PR above to delete that line.

[2022-09-27 17:49] SnehaGunda commented on #97213
#please-close

[2022-09-27 17:49] #97213 closed

[2022-09-27 17:52] MashaMSFT commented on #97313
Hi @komirellipavan , thanks so much for contacting Microsoft and helping improve our documentation! I've updated the links and the changes should be live later this week :)  I'll go ahead and close out this Git Issue but please feel free to comment should you have any further questions.

Thanks again and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2022-09-27 17:52] #97313 closed

[2022-09-27 17:53] stevemunk commented on #98867
@jagreen03im The HTTP POST request requires the 'conversionId' of the converted Drawing package, and should look like this:

https://us.atlas.microsoft.com/datasets?api-version=2.0&conversionId={conversionId}&subscription-key={Your-Azure-Maps-Primary-Subscription-key}

It looks like you are using the `operationId` from the drawing conversion request:

![image](https://user-images.githubusercontent

[2022-09-27 17:56] mialtamo commented on #99044
Kapil,

So you are exactly right in this instruction set:

  *   Storage URL: https://.blob.core.windows.net/containerprivate/index.html
  *   Origin Path in AFD: /containerprivate (Only use the container path, not the webpage)
  *   AFD access URL: https://kapil-fwa5f9gbcncrhtgz.z01.azurefd.net/index.html<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fkapil-fwa5f9gbcncrhtgz.z01

[2022-09-27 18:35] TimothyMothra opened #99092 "FAQ: How to flush the SDK"
This page needs an additional FAQ about Flushing.

Both `TelemetryChannel`s hold telemetry in a buffer before sending.
We recommend flushing the `TelemetryClient` when an application is shutting down to ensure that telemetry in this buffer is not lost.

How to flush is described here: https://learn.microsoft.com/en-us/azure/azure-monitor/app/api-custom-events-metrics#flushing-data

---
#### Docume

[2022-09-27 18:38] TimothyMothra commented on #99092
Hi @AaronMaxwell, I need help with the wording for this.
This is the MOST asked question to the .NET sdk.

[2022-09-27 18:42] mike-urnun-msft commented on #99087
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-09-27 18:48] swettstein opened #99093 "Override host.json values"
How do I override a host.json setting whose value is an array? e.g. "functions" is an array of function names to run. If I want to override this locally to run only a subset, what is the correct format?

1. "AzureFunctionsJobHost__functions": [ "Func1", "Func2" ]

2. "AzureFunctionsJobHost__functions": "Func1,Func2"

3. "AzureFunctionsJobHost__functions": "[ \"Func1\", \"Func2\" ]"

4. ??? somethi

[2022-09-27 18:49] #98906 closed

[2022-09-27 18:56] roygara commented on #98957
@elygre Thanks for bringing this to our attention, we appreciate it!

You're correct, these are no longer required. We've updated the document removing these, these updates will be live later today.

Accordingly, I'll close this out.

Thanks, again!

#please-close

[2022-09-27 18:56] #98957 closed

[2022-09-27 19:00] craigeaw commented on #75344
@JamesTran-MSFT This is still an issue and needs to be reopened. As of right now there is no way to serialize a string collection properly when implementing the userinfo endpoint.

[2022-09-27 19:11] KitSkin opened #99094 "PowerShell script error"
The PowerShell script fails with an error on the import of the `$x509Cert.Import()` call that the object is immutable:

[code]

As it indicates, the object is immutable so we need to pass the parameters as part of its constructor.  Therefore, change the `New-Object` line to this:

[code]

and remove the `$x509Cert.Import()` line completely.

---
#### Document Details

⚠ *Do not edit this section.

[2022-09-27 19:13] munntjlx opened #99095 "Doesn't work in PowerShell Core"
[Enter feedback here]
Any plans on making this work with GraphApi? AzureAAD stuff HATES the mac / linunux non windows platform.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 51dbe039-2ab8-b9a3-531d-71de3082cf2c
* Version Independent ID: 020b443d-d664-9bad-bbc9-74dbe35c8ae2
* Content: [PowerShell for Azure AD roles in

[2022-09-27 19:17] #97375 closed

[2022-09-27 19:26] tarynpratt commented on #95537
@lawrkelly Can you elaborate on 'it uses the port as name and then rejects it"? Are you receiving an error message anywhere?

[2022-09-27 19:29] qygce8-juffIh-kubcom opened #99098 "**URL of codelab**"
**URL of codelab**

**In which task and step of the codelab can this issue be found?**

**Describe the problem**

**Steps to reproduce?**
1. Go to...
2. Click on...
3. See error...

**Versions**
_Android Studio version:_
_API version of the emulator:_

**Additional information**
_Include screenshots if they would be useful in clarifying the problem._

__Originally posted by @qygce8-juffIh-kubcom i

[2022-09-27 19:47] ULSam opened #99099 "AzureSpringCloud service tag does not exist"
AzureSpringCloud service tag does not exist

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d79e04c4-055b-826e-05ec-7edefe441cc5
* Version Independent ID: d4043afa-2e04-8700-3ffc-0465340ea8e5
* Content: [Security controls for Azure Spring Apps Service](https://learn.microsoft.com/en-us/azure/spring-apps/concept-securit

[2022-09-27 20:01] imnaseer commented on #95928
I find the explanation in the edits to be confusing. They may have made the text more accurate but does not help the reader understand how the system behaves.

[2022-09-27 20:02] KyferEz opened #99102 "Needs information on connection flow and IPs for workflows when calling external resources"
When the workflow runs, what is initiating the workflow connection? This is essential information when using an HTTP call in a request. For example, lets say that after you receive a data access request and are waiting for approval, you want to use an HTTP action to call a Logic App, and you don't want that logic App open to all IPs.

What is the network connection in this case? Is it using an IR?

[2022-09-27 20:10] craigeaw commented on #75344
@LarsKemmann or @dave22000 were you able to get this working somehow? I've tried building a json array string but it still outputs as a string like this in the JSON body: `groups: "[\"group1\","\group2\"]"`

[2022-09-27 20:29] evanjamesjackson opened #99103 "Unable to set up AKS with TLS"
In following this document (https://learn.microsoft.com/en-us/azure/aks/ingress-tls?tabs=azure-cli), I cannot seem to get HTTPS working properly with a static IP address. This doc https://learn.microsoft.com/en-us/azure/aks/ingress-basic?tabs=azure-cli works fine (I used the "Basic configuration"), but when following https://learn.microsoft.com/en-us/azure/aks/ingress-tls?tabs=azure-cli, I experie

[2022-09-27 20:30] mlibenocg opened #99104 "The Description of DateFromNum Function is vague"
The current description for the DateFromNum function states, "The DateFromNum function converts a value in AD's date format to a DateTime type." Active Directory supports two date formats: 1) a Directory Date Time as a string in the format "yyyyMMddHHmmss.0Z", and 2) a numeric value representing the equivalent of a .Net filetime. The DateFromNum function apparently handles the latter value.

see:

[2022-09-27 20:38] SatishBoddu-MSFT commented on #99003
Hello @Fuchio Thanks for posting this query.

Could you please submit a question on [**Microsoft Q&A**](https://docs.microsoft.com/en-us/answers/index.html) forum and we will address it asap?

My apologies, the scope of Github issues is limited to the queries related with the document bugs or tutorial enhancements or product issues\blockers, so we would like to request you to submit Q&A forum quer

[2022-09-27 20:40] matt961 opened #99105 "Incorrect example in section "Restore data to a newly created VM" of Azure Backup page "Restore a VM with Azure CLI""
Section `Restore data to a newly created VM` seems to have an incorrect example for using `restore-disks` to restore to a new VM.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 619ea303-7632-eaf6-c106-838ee2efec8e
* Version Independent ID: 7b0cdc68-58d4-90f3-11e9-c7bf9afb59a1
* Content: [Tutorial - Restore a VM with A

[2022-09-27 20:40] scarson opened #99106 "Duplicate or unclear list items in "Gallery onboarding checklist""
The "Gallery onboarding checklist" contains two items with nearly identical wording that are either (a) accidental duplicates or (b) insufficiently differentiated.

If (a), remove one of the items and clean up wording of the remaining one as desired.
If (b), reword one or both as necessary to make it clear what they're asking. The two items should also probably be next to each other on the list si

[2022-09-27 20:57] CLJ4050 commented on #37381
Keeping this alive.  It would be great if Azure DevOps had FedRAMP ATO.  It seems that there is interest in the Azure Government community, but I cannot find anything on whether Azure DevOps is authorized to operate.  Any information would be great.

[2022-09-27 21:01] am8448 commented on #98801
Hi Ajay, thanks for the response. I'm somewhat unclear on your post, but if I have read it right: to confirm, I have deleted the existing connection string in the app service as per step 4: Modify connection string.

Re. the Azure.Identity.DefaultAzureCredential I have amended in Models/MyDatabaseContext.cs file (the tutorial refers to Models/MyDBContext.cs which is incorrect as that file does not

[2022-09-27 21:18] sefriend commented on #98863
@Imjustdave2 and @AjayBathini-MSFT as David mentioned, there is no way of configuring this in PowerShell yet. We are working on publishing a new PowerShell version that has this in it.

[2022-09-27 21:23] grabery commented on #23006
I have the same issue using a Win 11 client.

**Command:**
New-PSDrive -Name Z -PSProvider FileSystem -Root "\\saaadkerberosdemo001.file.core.windows.net\demo" -Persist

**Error:**
New-PSDrive : The network resource type is not correct
<img width="361" alt="image" src="https://user-images.githubusercontent.com/32737611/192638190-0aa09fd7-2bd3-4c91-815f-f5d371fbebd1.png">

If I hit the exact same c

[2022-09-27 21:31] stevemunk commented on #98867
@jagreen03im Glad it is working!

[2022-09-27 21:33] OWinfreyATL commented on #98493
Hello Alex,

I am looking into this issue now. I have noticed that sentence is very old, and includes a service(Azure Germany) which is no longer offered, and I see that Azure AD is fully supported on our matrix page for China [here](https://azure.microsoft.com/en-us/explore/global-infrastructure/products-by-region/?products=all&regions=china-non-regional,china-east,china-east-2,china-east-3,china

[2022-09-27 21:52] mlibenocg opened #99110 "Only Active Directory Schema from 2006 Is Supported by Provisioning Agent"
The Active Directory attribute mapping is hard-coded as "http://schemas.microsoft.com/2006/11/ResourceManagement/ADSCIM/DynamicElement".

We have a need to use attributes that are defined in later versions of Active Directory. In particular, we are using attributes
msDS-cloudExtensionAttribute1 through 20. These are part of the schema released with Windows Server 2012 more than 10 years ago. We al

[2022-09-27 22:03] holms commented on #89424
Just a quick question.. where did this param disappeared?  It doesn't exist anymore?
![screen](https://user-images.githubusercontent.com/280958/192645383-7ef21250-e049-4faf-8158-dc24fd8a8a0a.png)

[2022-09-27 22:08] ChaitanyaNaykodi-MSFT commented on #99081
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-09-27 22:27] kamilzzz commented on #57764
Still doesn't work even with Azure Front Door - Standard/Premium.
I mean, the rule is not matched when condition is set to "Request file extension" or "Request file name", operator is "Not any" and the request is something like /, /custom-url or /whatever/nested-whatever.

Why isn't this working?

[2022-09-27 22:27] MarileeTurscak-MSFT commented on #98693
Hi @Floriszz,

I am unable to reproduce this issue. I created users both programmatically and by import and tried to create the users without the name field filled in, but in both cases received an error that the name is a required field. Please send me an email at AzCommunity@microsoft.com ("Attn: Marilee Turscak") and include screenshots showing how you were able to create these users and detail

[2022-09-27 22:27] #98693 closed

[2022-09-27 22:30] robz25 opened #99112 "Asking to clarify name configuration needed on tutorial involved resources"
Hello, even though the document is correct, I see it confusing as the example is not explicitly telling the Hybrid Connection endpoint, name of destination server, and name the certificate is issued to, must match. Or there must be an entry on the Hosts file to resolve localhost to the desired name used in the certificate.
That is implicitly done on the documentation, but since most users will try

[2022-09-27 22:32] WilliamDAssafMSFT commented on #97638
Hi @sshreenivasa -
Some guidance on this topic is available in a different article, here: <https://learn.microsoft.com/azure/synapse-analytics/sql-data-warehouse/cheat-sheet#index-your-table>. A doc update is in flight to improve linkage. Thanks for the question and the feedback, your comments help improve Microsoft Docs for everyone. If you have any further questions, this may not be the best for

[2022-09-27 23:05] catmanjan opened #99113 "Unable to restore nuget packages"
Part 3 of step 3 has you running a nuget restore, this does not seem to work in VS2022, I get this error:

![image](https://user-images.githubusercontent.com/137350/192652915-a71f1c60-b63e-497d-a17f-8507ecc05564.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a8027df4-5e60-69aa-1c0a-249053cb6e72
* Version Independ

[2022-09-27 23:24] #97638 closed

[2022-09-28 00:25] mialtamo commented on #99044
Kapil,

I got it working with PUT method. I would recommend in the docs to include a section on configuring the origin path for a complete guide on configuration.

If interested here is a simple Powershell script to test for PUT method.

$uriGet = https://<FRONTDOOR ENDPOINT NAME>.azurefd.net/TestGet.zip<https://%3cFRONTDOOR%20ENDPOINT%20NAME%3e.azurefd.net/TestGet.zip> #File Must Exist in the Sto

[2022-09-28 00:35] AnthonyAValey opened #99116 "PS command names in examples are out of date"
[Enter feedback here]

Article:
Get-AzADServicePrincipal | ForEach-Object { Remove-AzADServicePrincipal -ObjectId $_.Id }

Current:
Get-AzureADServicePrincipal | ForEach-Object { Remove-AzureADServicePrincipal -ObjectId $_.ObjectId }

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ea77d5a9-6619-0f31-9567-6085b7a4b5a2
*

[2022-09-28 00:45] mikenri opened #99117 "You need to get the original service principal ID from the audit log to restore an enterprise app and it's configuration"
This section indicates to restore the original configuration, you should delete the app via the Azure portal again then restore the deleted application using PowerShell.

https://learn.microsoft.com/en-us/azure/active-directory/manage-apps/restore-application?pivots=aad-powershell#view-restorable-enterprise-applications

Following this process restores the "new" service principal for the app that

[2022-09-28 00:53] ryoma-nagata opened #99118 "Wrong syntax CREATE EXTERNAL LOCATION"
Wrong syntax below sample code.

CREATE EXTERNAL LOCATION <location_name>
URL 'abfss://<container_name>@<storage_account>.dfs.core.windows.net/<path>'
WITH ([STORAGE] CREDENTIAL <storage_credential_name>);

Correct is

CREATE EXTERNAL LOCATION <location_name>
URL 'abfss://<container_name>@<storage_account>.dfs.core.windows.net/<path>'
WITH (STORAGE CREDENTIAL <storage_credential_name>);

---
####

[2022-09-28 01:28] woter1832 opened #99119 "State permissions may need to be re-delegated."
Under EA portal, using `New-AzSubscription` or using the legacy API, I am able to create a new subscription as an enrolment account admin, however, using the Azure portal, `New-AzSubscriptionAlias` or the new API, I get an unauthorised error.

I think it would be worth pointing out ([in the prerequisites section][1]) the fact that one may be an owner against the old API and able to create subs in

[2022-09-28 01:29] AshokPeddakotla-MSFT commented on #98867
@jagreen03im Glad to hear your issue is resolved. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-09-28 01:29] #98867 closed

[2022-09-28 01:32] #99118 closed

[2022-09-28 01:39] AshokPeddakotla-MSFT commented on #98930
@willyt150 We are checking this issue internally with our team. Please stay tuned for further updates. Appreciate your time and patience.

[2022-09-28 02:29] mikenri opened #99120 "Azure Kubernetes Service is not FedRAMP compliant with logging requirements"
The US Federal government requires long term retention of Azure Kubernetes Service Node OS logs.
Events such as the Node OS authentication and security/audit logs, etc.

Reference: https://www.whitehouse.gov/wp-content/uploads/2021/08/M-21-31-Improving-the-Federal-Governments-Investigative-and-Remediation-Capabilities-Related-to-Cybersecurity-Incidents.pdf

The Azure Monitor solution for AKS curre

[2022-09-28 02:39] mike-urnun-msft commented on #99093
@swettstein Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you post this question on the [MS Q&A channel](https://learn.microsoft.com/en-us/answers/index.html) instead?

[2022-09-28 02:59] mlibenocg commented on #99110
Follow up: While digging deeper into the Attribute Mapping UI, I discovered the long sentence with a link at the bottom, "In addition to configuring your attribute mappings through the user interface, you can review, download, and edit the JSON representation of your schema. Review your schema here.." By clicking the link under "here", I got to a page, with a JSON representation of the schema. Whi

[2022-09-28 03:00] AshokPeddakotla-MSFT commented on #98890
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

Also, if you have a product-related question, please post to [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/) and we will happily continue the conversation.

[2022-09-28 03:00] #98890 closed

[2022-09-28 03:56] jusso-dev opened #99121 "Incorrect path listed for troubleshooting tool"
This section - https://learn.microsoft.com/en-us/azure/azure-monitor/agents/agent-windows-troubleshoot#how-to-use

References this path for the troubleshooting tool:

"C:\Program Files\Microsoft Monitoring Agent\Agent\Troubleshooter"

Which is incorrect, the tool is actually located in this location:

"C:\Program Files\Microsoft Monitoring Agent\Agent\"

---
#### Document Details

⚠ *Do not edit t

[2022-09-28 04:02] SaibabaBalapur-MSFT commented on #99090
@ianssoftcom
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-28 04:30] SaibabaBalapur-MSFT commented on #99092
@TimothyMothra
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-28 04:31] SaibabaBalapur-MSFT commented on #99094
@KitSkin
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-28 04:32] SaibabaBalapur-MSFT commented on #99095
@munntjlx
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-28 04:34] SaibabaBalapur-MSFT commented on #99098
@qygce8-juffIh-kubcom
Thanks for your feedback! We will investigate and update as appropriate.

Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team

[2022-09-28 04:35] SaibabaBalapur-MSFT commented on #99099
@ULSam
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-28 04:37] SaibabaBalapur-MSFT commented on #99102
@KyferEz
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-28 04:39] SaibabaBalapur-MSFT commented on #99103
@evanjamesjackson
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-28 04:41] SaibabaBalapur-MSFT commented on #99104
@mlibenocg
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-28 04:41] RamanathanChinnappan-MSFT commented on #98941
#sign-off

[2022-09-28 04:41] #98941 closed

[2022-09-28 04:42] SaibabaBalapur-MSFT commented on #99105
@matt961
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-28 04:43] RamanathanChinnappan-MSFT commented on #98891
#sign-off

[2022-09-28 04:43] #98891 closed

[2022-09-28 04:43] SaibabaBalapur-MSFT commented on #99106
@scarson
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-28 04:45] SaibabaBalapur-MSFT commented on #99110
@mlibenocg
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-28 04:47] SaibabaBalapur-MSFT commented on #99112
@robz25
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-28 04:48] SaibabaBalapur-MSFT commented on #99113
@catmanjan
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-28 04:49] antothomas23 commented on #98704
Hi Team,

Any luck on this ?

[2022-09-28 04:49] SaibabaBalapur-MSFT commented on #99116
@AnthonyAValey
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-28 04:51] SaibabaBalapur-MSFT commented on #99117
@mikenri
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-28 04:51] Venkateshdodda-MSFT commented on #98965
@arambazamba Thanks for your patience on this.
Yes, when deploying to Static Web Apps using pre-built app content, the GitHub Action or DevOps Task will look for the assets within the path specified by `app_location`.This means that your setup must somehow make these assets available at that location.

You refer to this blog post by Anthony Chu from engineering team explains about [how to configur

[2022-09-28 04:53] SaibabaBalapur-MSFT commented on #99119
@woter1832
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-28 04:55] SaibabaBalapur-MSFT commented on #99120
@mikenri
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-28 04:56] SaibabaBalapur-MSFT commented on #99121
@jusso-dev
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-28 05:03] SaibabaBalapur-MSFT commented on #99080
@n0tr4b
this thread is resolved from your end, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-28 05:16] stevevi commented on #99120
Thanks for your feedback.  Azure Kubernetes Service (AKS) has FedRAMP High P-ATO in both Azure and Azure Commercial.  Your feedback is not related to AKS FedRAMP compliance status, and therefore it's not pertinent to **this** article.  You may want to flag this issue in the main product docs for Azure Monitor or AKS.  Adding @Jain-Garima for visibility.

[2022-09-28 05:17] stevevi commented on #99120
#please-close

[2022-09-28 05:17] #99120 closed

[2022-09-28 05:18] ezYakaEagle442 opened #99123 "Azure Container Apps limits missing"
there is no RAM limit mentioned here : 2 cores / 4 Gb RAM per App
Could you add the above limit in this quotas page please ?
See also [https://github.com/MicrosoftDocs/azure-docs/issues/98659](https://github.com/MicrosoftDocs/azure-docs/issues/98659)

az containerapp create –help

--cpu : Required CPU in cores from 0.25 - **2.0**, e.g. 0.5.
--memory : Required memory from 0.5 - **4.0** ending with

[2022-09-28 05:35] Venkateshdodda-MSFT commented on #98956
@rossbod We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-09-28 05:35] #98956 closed

[2022-09-28 05:38] Venkateshdodda-MSFT commented on #98543
@Marwaabouawad I have looped you in the internal communication with doc author to consider this feedback of document enhancement,
I am closing this issue. You can continue the conversation with doc author internally.

[2022-09-28 05:38] #98543 closed

[2022-09-28 05:42] MughundhanRaveendran-MSFT commented on #98567
Closing this issue as there is no response.

[2022-09-28 05:42] #98567 closed

[2022-09-28 05:47] Venkateshdodda-MSFT commented on #98997
@Jason239 Thanks for the details shared. This GitHub platform is for driving the documentation improvements. Going forward for any technical question I would request you to ask them [here](https://learn.microsoft.com/en-us/answers/questions/ask.html)on Microsoft Q&A platform and tag appropriate Service labels so that relevant SME can assist on it.

[2022-09-28 05:54] batamig commented on #98962
Hi @yelevin, can you take a look here?

[2022-09-28 05:58] Venkateshdodda-MSFT commented on #98997
@Jason239 I have assigned to content author @IngridAtMicrosoft to take a look and share valuable insights on this

[2022-09-28 06:06] harishavsk commented on #56253
Hi,
I'm trying to send messages from child to parent in nested IoT Edge. In the portal it shows module status as running but I'm not able to fetch the messages at the parent device.

[2022-09-28 06:18] MageshSrinivasulu opened #99127 "Azure Container Registry / Manifests - Get Attributes endpoint not working as per documentation"
As per the documentation endpoint should accept both **tag** and **digest**. But the response is only coming when I give digest. For tag getting **404 page not found**. Tried hitting the endpoint with postman as well from NodeJs code getting the same results.

![image](https://user-images.githubusercontent.com/79187874/192701636-e3a3109d-422e-425c-8dfd-07913cb812f1.png)

With digest: Masking the r

[2022-09-28 06:47] Jason239 commented on #98997
The problem with this issue was confirmed through the [sample code](https://github.com/Azure-Samples/media-services-v3-dotnet) in github.
Because HLS CBCS uses fragments from DASH-CBCS, both HLS and DASH protocols have been set up in Streaming Policy and resolved.
I have additional technical inquiries, but I will ask the link you shared.

Thanks a lot !

[2022-09-28 06:58] ManoharLakkoju-MSFT commented on #99035
@neanderson
Thank you for your suggestion. It would be helpful to provide your ideas in the below link so our product team will work on it.
https://feedback.azure.com/d365community.

[2022-09-28 07:06] edusa commented on #98891
Great, thanks for talking into consideration my suggestion.

Regards

A quarta, 28/09/2022, 05:43, RamanathanChinnappan-MSFT <
***@***.***> escreveu:

[2022-09-28 07:08] ManoharLakkoju-MSFT commented on #99067
@SamBouwer
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-09-28 07:17] SaibabaBalapur-MSFT commented on #99123
@ezYakaEagle442
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-28 07:21] Arithmomaniac commented on #98797
@hiteshpara
1) If you use .NET, the `char` type is a UTF-16 character, so using `.Length` on the loaded file content is sufficient.
2) I didn't have any problems when using the char offset using standard .NET string functions.

[2022-09-28 07:29] SaibabaBalapur-MSFT commented on #99127
@MageshSrinivasulu
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-28 07:34] lightupdifire opened #99129 "roadmap"
Hello,

Can you please share the roadmap ID for this solution?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2abd6b51-f5b4-a4f3-5cb5-c1f49fd2ce11
* Version Independent ID: 1768eb36-2628-f33a-35c0-320e895b75c7
* Content: [Configure single sign-on for Azure Virtual Desktop - Azure](https://learn.microsoft.com/en-us/azu

[2022-09-28 07:41] Kuenni commented on #97534
@barclayn, @AjayBathini-MSFT

Just asking again for any news.

Thx and greetings,
Kuenni

[2022-09-28 07:41] sopopa2 commented on #95965
Hi,

Any news on the ETA?
Thanks.

Kind regards,

Sorin Popa

Support Engineer
Azure Identity
Customer Services and Support

     Office: +40 (31) 1330447
     ***@***.***
     Mon-Fri 9:00-18:00 CET
[Microsoft Logo]
Team Manager | Vlad Vlaicu ***@***.******@***.***>
If you have any feedback about my work, please let either me or my manager know.

From: AmanpreetSingh-MSFT ***@***.***>
Sent: Wedne

[2022-09-28 07:42] SouravDutta-MSFT commented on #99078
@lastcoolnameleft

Can you please check and add your comments on this doc update request as applicable.

[2022-09-28 07:56] JochemBoersma commented on #84573
@dcrreynolds I definately agree with you.

Specific information about CO2(eq) emissions per resource would be nice, and more and more important. Our clients do asks not only a cost estimation, but more and more a CO2eq footprint.

[2022-09-28 08:01] csokaakos opened #99131 "URL links are broken"
URL links are broken

Most of the links does not work in this page:
Manual training
Feature Tables
Feature Store
Model registry
MLFlow tracking
(not checked all of them)

Please check and correct. Thx.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b8f41568-e2b1-2f7f-62f8-d63d230ba5d9
* Version Independent ID: b697ab1

[2022-09-28 08:05] BenoityipMSFT opened #99132 "How can I perform the following in multi step task"
[Enter feedback here]
 I am a MSFT employee, My alias is benyip. The documentation did not specify the following questions
1. How can I run multi step task without specify the remote source code location?
2. If Queston 1 is not supported, How can I do it in Azure Devops (not Github)? I cannot get the format of the Azure Devops location correctly?

---
#### Document Details

⚠ *Do not edit this sec

[2022-09-28 08:18] m8r1us opened #99134 "Access management for Azure resources: EA Portal -> Enterprise Administrator"
Can the "Enterprise Administrator" or the "Account Owner" from the EA Portal not also elevate access with the same method to manage all Azure subscriptions and management groups?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f0decae5-1977-1db8-8b69-7e9a46919add
* Version Independent ID: f319b342-2f2f-3d71-1beb-0a3945

[2022-09-28 08:20] shsagir commented on #98945
@n1gzd Thanks for reporting the issue. I've submitted a PR to fix the link. Until it goes live, please replace the link with: https://kustosamples.blob.core.windows.net/samplefiles/StormEvents.csv

#please-close

[2022-09-28 08:20] #98945 closed

[2022-09-28 08:21] Venkateshdodda-MSFT commented on #98997
@Jason239 Thanks for the details.

[2022-09-28 08:21] #98997 closed

[2022-09-28 08:27] hiteshpara commented on #98797
Thanks for your reply.

I am using python for all my development.

Do you have any idea how this can be done using python?

for sample loan agreements dataset i copied the text in 01.txt file and read it as string in python and cross checked the offset values. what i found is it is not matching with start index. Do you have any idea on this?

[2022-09-28 08:34] guywi-ms commented on #96843
@nbozov Thanks for the feedback! Of course. I'm opening an internal ticket for this. I'll notify you here when this update is live.

[2022-09-28 08:45] SouravDutta-MSFT commented on #99103
@evanjamesjackson
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

@rayoef
Can you please check and add your comments on this doc update request as applicable.

[2022-09-28 08:47] joteromontes opened #99136 "Verizon CDN Rules Engine 4.0 not included"
We need one example on how to achieve the same as: https://learn.microsoft.com/en-us/azure/cdn/cdn-sas-storage-support#option-2-hidden-cdn-sas-token-using-a-rewrite-rule

This process is not clear and needs more information.

Such as including what information is used in the source parameters to target the endpoint and what information is used at destiantion to include the SAS token, for example:

[2022-09-28 08:52] #98756 closed

[2022-09-28 08:53] GitaraniSharma-MSFT commented on #99136
@joteromontes , thank you for your feedback. We have assigned this to the content owner/author for review.

@duongau , for your review.

[2022-09-28 08:54] JoakimBG opened #99138 "Outdated content"
This article describes something that is not available in the azure portal. Only place I can find physical machine to copy, migrate or replicate to Azure is under Backup. This is a feature that is important for a project I am working on, so would be great if there is some updated documentation on how to do this.

Also there is a need in many cases to install a Backup server on-prem? Would be nice

[2022-09-28 09:02] nickytorstensson opened #99139 "duplicate rules"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: df56c0c4-ac20-76e5-3f99-7e5ed9c2d726
* Version Independent ID: 8b224227-1cf7-6fa7-4bee-24d243509e45
* Content: [Copy data from and to Salesforce - Azure Data Factory & Azure Synapse](https://learn.microsoft.com/en-us/azure/data-factory/connector-sale

[2022-09-28 09:02] nickytorstensson commented on #99139
Accidental creation.

[2022-09-28 09:02] #99139 closed

[2022-09-28 09:09] GitaraniSharma-MSFT commented on #98970
@kevin-presalytics , last I checked it was still in the feedback phase as below:
https://feedback.azure.com/d365community/idea/a9fb1f2a-8b26-ec11-b6e6-000d3a4f0789

But I will reach out to the Azure VPN Product Group team and get a confirmation on same. Will respond as soon as I get an update from them.

[2022-09-28 09:21] GitaraniSharma-MSFT commented on #98984
@nachoarnaz , Propagate Gateway Routes option is used to propagate your on-premises routes to the network interfaces in the subnet.

ExpressRoute and VPN Gateway route propagation can be disabled on a subnet using a property on a route table called "Propagate Gateway Routes". If you plan to associate the route table to a subnet in a virtual network that's connected to your on-premises network thro

[2022-09-28 09:28] antgonz opened #99142 "Limiting access to Run Command typo"
Hello team,

As per the documentation for Run Command on Linux VM:

Listing the run commands or showing the details of a command requires the Microsoft.Compute/locations/runCommands/read permission. The built-in [Reader](https://learn.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#reader) role and higher levels have this permission.

However on the one for Windows:

Listing the

[2022-09-28 09:41] algattik opened #99143 "Unclear text "If your scenario involves reading from Purview contact us""
The text "If your scenario involves reading from Purview contact us, as it needs to be allow-listed." is unclear.  Per the doc Purview data can already be read from the Kafka endpoint without need to contact support.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c1ebfd35-0826-2e9f-f2e8-f70e20a0796e
* Version Independ

[2022-09-28 09:44] helderpinto opened #99144 "PAYGPrice meaning does not match reality and does not consider Spot VMs scenarios"
The `PAYGPrice` column is said to be

However, when querying the Cost Details API, the returned CSVs have 0 for `PAYGPrice` for all records but Spot VMs usage ones, i.e., all usage entries for which `PricingModel` column is `Spot`, `PAYGPrice` has a value greater than 0. For all the other pricing models, `PAYGPrice` is 0, even if the unit price is greater than 0. This does not match the definition

[2022-09-28 09:47] tdo365 opened #99145 "No active link to Azure Multi-Factor Authentication Server help or alternative description"
In Step 4 of Configure the LDAP directory connection is there supposed to be a link here for the help file for the serve? I know MFA Server is no longer being used but is there an alternative way we could obtain the description of these fields such as LDAP/AD Base & Bind DN.

"In the Edit LDAP Configuration dialog box, populate the fields with the information required to connect to the LDAP direct

[2022-09-28 09:57] Augustukas commented on #99090
bump

[2022-09-28 10:00] GitaraniSharma-MSFT commented on #98992
@elygre , I've edited the doc to reflect the below statement:

Azure AD  authentication allows users to connect to Azure using their Azure Active Directory credentials. Native Azure AD authentication is only supported for OpenVPN protocol and also requires the use of the [Azure VPN Client](https://go.microsoft.com/fwlink/?linkid=2117554). The supported client operation systems are Windows 10 or la

[2022-09-28 10:01] #98992 closed

[2022-09-28 10:16] Naveenommi-MSFT commented on #99065
@KarthikeyanB007

Please refer this Docs given below & Added screenshots as well for your reference.

https://learn.microsoft.com/en-us/azure/data-factory/concepts-linked-services?tabs=data-factory

<img width="532" alt="image" src="https://user-images.githubusercontent.com/113576472/192753233-7dbcf4cc-cf25-4d7b-95c4-85474613780a.png">

<img width="499" alt="image" src="https://user-images.githubu

[2022-09-28 10:26] RamanathanChinnappan-MSFT commented on #98895
#sign-off

[2022-09-28 10:26] RamanathanChinnappan-MSFT commented on #98895
#sign-off

[2022-09-28 10:26] #98895 closed

[2022-09-28 10:34] RamanathanChinnappan-MSFT commented on #98946
@mewinks

Thanks for your feedback!!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue there

[2022-09-28 10:38] yelevin commented on #98962
@faustinopalma @ManoharLakkoju-MSFT @batamig
Thank you for the question. It has been forwarded to the relevant engineer. I will hopefully have an answer shortly.

[2022-09-28 10:44] LijuV-MSFT opened #99146 "Contradictory statements"
"During preview, you currently need global administrator permissions to enable sign-in with email as an alternate login ID. **You can use either Azure portal or PowerShell to set up the feature**."

"During preview, you can currently **only enable email as an alternate login ID using PowerShell or the Microsoft Graph API**"

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2022-09-28 10:51] SaibabaBalapur-MSFT commented on #99132
@BenoityipMSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-28 10:52] RamanathanChinnappan-MSFT commented on #99030
@SirRacha

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-28 10:53] SaibabaBalapur-MSFT commented on #99129
@lightupdifire
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-28 10:57] SaibabaBalapur-MSFT commented on #99131
@csokaakos
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-28 10:58] Naveenommi-MSFT commented on #98968
@jpgdn

Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-28 11:01] Naveenommi-MSFT commented on #99047
@maciejskorski

Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

@amibp
Please review this.

[2022-09-28 11:06] arambazamba commented on #98965
@Venkateshdodda-MSFT thanks - your reply helped a lot

[2022-09-28 11:06] #98965 closed

[2022-09-28 11:08] Naveenommi-MSFT commented on #99131
@csokaakos
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

@leifbro
Please review this issue and update as appropriate.

<img width="825" alt="image" src="https://user-images.githubusercontent.com/113576472/192763729-5d565371-7272-4bb3-b711-1a2648bb0650.png">

<img width="747" alt="image" src="https://user-images.githubusercontent.c

[2022-09-28 11:25] jaslend commented on #96642
@tbecks Is it possible for you to share how you resolved this please?  I have the same issue.  Thank you, J

[2022-09-28 11:25] kev-in-shu commented on #99006
Thanks for checking it out @SouravDutta-MSFT

I just tried again on my VM, the same one on which I tested it and provided the screenshot.
Indeed it works now via the portal, so I guess it's fine now.

[2022-09-28 11:25] #99006 closed

[2022-09-28 11:26] #99067 closed

[2022-09-28 11:41] eliaquimbrandao opened #99148 "Azcopy Copy - Supported directions missing | Azure Blob (OAuth authentication) -> Azure Blob (OAuth authentication)"
[Enter feedback here]
Hi Team,

Working with another colleague in a scenario of copying blob files from one container to another in a single storage, We came across the following message displayed in an azcopy job:

"If the source and destination accounts are in the same AAD tenant & the user%username% has
appropriate permissions on both, the source SAS token is not required and OAuth can be used

[2022-09-28 12:00] mikenri commented on #99120
We host workloads for the US Federal government on Azure commercial and they are stating we cannot use AKS because it does not meet their logging requirements.

It seems the next time Azure is audited, it will lose this ATO unless the logging issue is addressed.
What is the proper channel to report this?
It seems that a support case is not it as they have stated that it doesn't meet the logging re

[2022-09-28 12:02] Cvaniak opened #99149 "Documentation contains outdated version of code"
## Problem overview
This documentation is connected with Python code that is linked there:
https://github.com/MicrosoftDocs/azure-docs/blob/f4ab553c4aec91a089dd3f0d61877accfa09da1f/articles/notification-hubs/notification-hubs-python-push-notification-tutorial.md?plain=1#L456

How ever in the repository code was updated to version that is no longer compatible with written documentation.
## Differen

[2022-09-28 12:02] Burritos-dev opened #99150 "CSV file data is inconsistent"
Hi Team!

I've got a feedback regarding CSV file. Looks like data is inconsistent for some entries. Could you take a look and adjust it?

1.
SKU ID: 2d3091c7-0712-488b-b3d8-6b97bde6a1f5
String ID on a web page is "MCOMEETADV_GOC", while in CSV file some entries have it set to "MCOMEETADV_GOC" and some to "MCOMEETADV_GOV" (expected the same String ID for the same SKU ID).

2.
SKU ID: a460366a-ade7-

[2022-09-28 12:20] maud-lv commented on #97940
Hi @jrowe88, thank you for your suggestion. There is information about labels in this doc: https://learn.microsoft.com/en-us/azure/azure-app-configuration/concept-key-value. I suggest adding a link to this page in the doc.

[2022-09-28 12:34] lukos opened #99151 "I don't understand how to use Availability Sets with Proximity Placement Groups"
The way I understand it, a PPG is to physically co-locate entities in the group to reduce latency.

The way I understand ASs is that they can split resources across multiple fault/update zones within a region for HADR.

I want to keep an AKS cluster + DB VM inside a PPG for latency but want a *second* DB VM in an availability set (in another zone) that will be for SQL Server Availability Groups be

[2022-09-28 12:41] jaesoni commented on #89392
@Yunus-MSFT we may be able to present this information to the customer through the new metric that we are working on. Please wait until we conclude on its specifics. We may possibily want to leverage that metric and add documentation for it, instead of text just for autoscale. Thanks

[2022-09-28 12:47] #99129 closed

[2022-09-28 12:58] Yunus-MSFT commented on #89392
@jaesoni, Thank you for the update.

[2022-09-28 12:59] Cvaniak opened #99153 "Is there SDK to send message for Notification Hub?"
## Overview
I am looking for tool/package/sdk that can be used in project to send message using Azure Notification Hub.
Search for `Azure Notifaction Hub Python SDK` gives result for three main resources:

- [Azure Notification Hubs libraries for python](https://learn.microsoft.com/en-us/python/api/overview/azure/notification-hubs)
This one is about Pythons SDK for Notification Hub **Management**

[2022-09-28 13:06] madsd commented on #99086
Hi @meepstei, it should work for both ASEv2 and ASEv3. AppGw will use the internal domain name (appserviceenvironment.net) and can therefore also reach the scm site. Though you will not be able to use SSO on either, and you should log in with basic auth using /basicauthviaproxy in the url.

Direct scm custom domain for ASEv3 is currently rolling out - we expect it to be available globally by the e

[2022-09-28 13:08] goenning opened #99155 "Clarify what "Global" means in the context of a static web app?"
From the docs:

[code]

When I read this, my understanding is that by default, when enterprise edge is DISABLED, static assets deployed to Static Web Apps are distributed across some azure regions. So when a user access our site, depending on the region they are in, they might benefit from slower response times.

Which regions is it deployed to? I have a very simple app running on Azure Static Web

[2022-09-28 13:16] goenning commented on #99155
My bad, I was testing a preview URL which seems to be hosted on a single region. The "Production" environment is showing much better response times.

[2022-09-28 13:31] avirgvd opened #99157 "Commandline from this page fails"
[Enter feedback here]

blob=$(az storage blob url \
  --account-name demostorageaccount \
  --container-name appcontainer \
  --name app.zip --output tsv)

The above Azure-cli command line for creating managed application definition resource failing showing below warning, until I add "**--auth-mode login**" to the command-line.
[code]

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-09-28 13:37] lukos opened #99158 "Why put an Availability Set into the PPG?"
I already raised a previous related ticket #99151 for another page.

On this page, it specifically shows that you can add an Availability Set to a PPG. What is not clear is what benefit this would provide. My understanding is that an AS is specifically to spread machines across zones, whereas the PPG is designed to put them all into a single zone.

Perhaps this point could be clearer.

---
#### Do

[2022-09-28 13:39] MGoedtel commented on #98850
@Tushar5525 - Thanks for bringing this to our attention. I've created a bug to fix that syntax error with the helm-install command and try to update the article by the end of this week. #please-close

[2022-09-28 13:39] #98850 closed

[2022-09-28 13:44] boroneaionut commented on #40071
I am facing the same issue.

[2022-09-28 14:01] fmirdhe opened #99159 "We need to add more lines to the common question : https://learn.microsoft.com/en-us/azure/migrate/common-questions-server-migration#i-deployed-two-or-more-appliances-to-discover-vms-in-my-vcenter-server-however-when-i-try-to-migrate-the-vms-i-only-see-vms-corresponding-to-one-of-the-appliances"
As this point answers about if the customer can add the vcenter to multiple appliances can we please also mention that the customer needs to create a new project and add the appliance and then add the new vcenter if he wants to add the vcenter to another appliance because we have no option to delete the vcener once it is added to an appliance.

---
#### Document Details
https://learn.microsoft.com

[2022-09-28 14:02] #99159 closed

[2022-09-28 14:02] fmirdhe commented on #99159
As this point answers about if the customer can add the vcenter to multiple appliances can we please also mention that the customer needs to create a new project and add the appliance and then add the new vcenter if he wants to add the vcenter to another appliance because we have no option to delete the vcenter once it is added to an appliance.

[2022-09-28 14:04] FerryMan-Coder opened #99160 "resource not found when running deployment script"
I'm following the ARM template tutorial on https://learn.microsoft.com/en-us/azure/azure-resource-manager/templates/template-tutorial-deployment-script?tabs=CLI&source=docs#code-try-2

There, under heading 'Deploy the template', item no 4, the script to deploy the template has the following line of code:
`adUserId=$((az ad user show --id jgao@microsoft.com) | jq -r '.id') &&`

Are you sure that's

[2022-09-28 14:12] JananiRamesh-MSFT commented on #98804
Hi @ChadDumas could you please reproduce the error again as it can occur if white space is added accidently as shown below,

![image](https://user-images.githubusercontent.com/92862826/192801007-62349d62-a496-4c2d-a101-a39f35a34aab.png)

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussio

[2022-09-28 14:12] #98804 closed

[2022-09-28 14:14] lukos commented on #99158
So I just put an AS into a PPG and it looks like this does indeed remove fault tolerance from the AS although it does still provide update tolerance. This probably answers the contradiction but this should be called out as a limitation of doing this since it might not be obvious that you lose the fault tolerance. It is also not clear if it is possible to have a VM in an AS and a PPG *without* the

[2022-09-28 14:18] stevevi commented on #99120
Again, thanks for your concern.  As I mentioned, you can flag this issue in the main product docs for AKS or Azure Monitor that cover logging.  You can also open a support ticket to document your concerns with Azure Support.

[2022-09-28 14:21] si-chan opened #99162 "Characters (not) allowed clarification"
Characters not allowed is not clearly defined.
"Unicode characters" could refer to any Unicode character.
What I think is meant is that any character NOT mentioned in "characters allowed" is not allowed.

Based on my testing, this appears to mean accented characters are also not allowed (e.g. àáèéêö), even though many people might regard these as "lowercase characters" as mentioned in "Characters

[2022-09-28 14:25] Nicholak-MS commented on #99150
Hi @Burritos-dev I fixed the typos in both the CSV and the online table. The changes will publish later today.

Thanks
Nick

#Please-Close

[2022-09-28 14:25] #99150 closed

[2022-09-28 14:26] eric-urban commented on #98946
@mewinks -

OK I see your point now. Here's a similar repro on Ubuntu 20.04 LTS:

[code]

We can update docs with `python3` for Mac and Linux. Someone who already setup a "python" alias will still understand the instructions.

Thanks!

@RamanathanChinnappan-MSFT FYI

[2022-09-28 14:37] MGamil-MSFT opened #99164 "Command needs very important switch!!"
Hello,

The below command needs a very important switch, as it caused a mess in my environment by writeback all groups not updated or missed as the below command only is not returning the whole object groups .. it returns only the first 100 group

Simply it needs --> "-All"

Get-mggroup -filter "groupTypes/any(c:c eq 'Unified')" | Update-MsIdGroupWritebackConfiguration -WriteBackEnabled $false

it

[2022-09-28 14:44] MGamil-MSFT opened #99165 "Sync Rule script is not creating the rule properly!"
Hello All,

After copying the attached script to a txt file to create the sync rule and change the file to PS1 the script is not working as expected and it not creating the rule directly

Please have a look on the below screenshot:

PS C:\temp> .\Script.ps1
Enter a unique sync rule precedence value [0-99]: 55

cmdlet New-ADSyncRule at command pipeline position 1
Supply values for the following par

[2022-09-28 14:57] khdownie commented on #98848
@enettekoven thanks for explaining. I've fixed these issues. Appreciate you pointing them out!

[2022-09-28 14:57] #98848 closed

[2022-09-28 15:00] tfitzmac commented on #98457
@SauravB-MS - thanks for this feedback. I have added clarification about resource group names being case-insensitive. The update should get published today.
#please-close

[2022-09-28 15:00] #98457 closed

[2022-09-28 15:00] FerryMan-Coder opened #99167 "error number of resources"
The tutorial ends on this note:
"Select the resource group name. You will see a total of **six** (my emphasis) resources in the resource group."

I think this is a mistake: I see only _three_ resources, and that seems about right. After all, the scripts resources have already been cleared at this stage due to the onSuccess flag?!

This might not seem like a big deal, but it is confusing for develo

[2022-09-28 15:17] mumian commented on #99160
@FerryMan-Coder - thank you for your comments.  I will get it fixed today.

#please-close

[2022-09-28 15:17] #99160 closed

[2022-09-28 15:19] DariaSh opened #99168 "In the instruction an image to select is "Windows Server 2019 Datacenter - Gen 2" when on the validation confirmation screen it turns into Windows Server 2022 Datacenter - Gen 2"
In the instruction an image to select is "Windows Server 2019 Datacenter - Gen 2" when on the validation confirmation screen it turns into Windows Server 2022 Datacenter - Gen 2

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2e58109c-c8d3-6693-8e1d-03a89ca26168
* Version Independent ID: f20a7fc4-328a-e90d-29db-92a91aa

[2022-09-28 15:24] glenmw opened #99169 "Azure image build error"
Using https://learn.microsoft.com/en-us/azure/virtual-machines/windows/image-builder?source=recommendations#code-try-3 to create a VM from an image.

In section "Download the image configuration template", this command is unsuccessful:
sed -i -e "s/\<imgBuilderId>/$imgBuilderId/g" helloImageTemplateWin.json

It fails because $imgBuilderId (defined in section "Create a user-assigned managed identit

[2022-09-28 15:30] SaibabaBalapur-MSFT commented on #99134
@m8r1us
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-28 15:34] SaibabaBalapur-MSFT commented on #99138
@JoakimBG
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-28 15:36] SaibabaBalapur-MSFT commented on #99142
@antgonz
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-28 15:37] SaibabaBalapur-MSFT commented on #99144
@helderpinto
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-28 15:39] SaibabaBalapur-MSFT commented on #99145
@tdo365
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-28 15:40] SaibabaBalapur-MSFT commented on #99146
@LijuV-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-28 15:41] cveld opened #99170 "Windows Server Active Directory group"
Is it possible to use a Windows Server Active Directory group that is synced to Azure Active Directory, for an Azure Active Directory role assignment?

A group used for AAD role assignments must be created with the checkbox "Azure AD roles can be assigned to the group" marked.
How can we set this checkbox on the Windows Server side of things?

And can you explain why this checkbox was introduced?

[2022-09-28 15:42] SaibabaBalapur-MSFT commented on #99143
@algattik
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-28 15:46] SaibabaBalapur-MSFT commented on #99149
@Cvaniak
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-28 15:49] SaibabaBalapur-MSFT commented on #99151
@lukos
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-28 15:54] SaibabaBalapur-MSFT commented on #99157
@avirgvd
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-28 15:55] SaibabaBalapur-MSFT commented on #99158
@lukos
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-28 15:55] davidsmatlak commented on #99157
#reassign:davidsmatlak

[2022-09-28 15:56] SaibabaBalapur-MSFT commented on #99162
@si-chan
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-28 15:58] SaibabaBalapur-MSFT commented on #99164
@MGamil-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-28 15:58] davidsmatlak commented on #99157
I'll review the command shown in the article and update the content if necessary.

[2022-09-28 15:58] aahill commented on #98689
Thanks for creating this GitHub issue. I've updated the documentation with this information.

#please-close

[2022-09-28 15:58] #98689 closed

[2022-09-28 15:59] SaibabaBalapur-MSFT commented on #99165
@MGamil-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-28 16:05] SaibabaBalapur-MSFT commented on #99168
@DariaSh
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-28 16:07] SaibabaBalapur-MSFT commented on #99169
@glenmw
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-28 16:08] SaibabaBalapur-MSFT commented on #99170
@cveld
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-28 16:14] #99167 closed

[2022-09-28 16:14] josepabloc96 opened #99171 "Typo in commands for filters of the network watcher capture Azure"
There is a typo in the commands causing to be unable to capture any packets

In the commands for the filter, we can see it says Ip addresses "1.1.1.1-255.255.255" but it should be  "1.1.1.1-255.255.255.255"

This would cause the network watcher to return empty packet captures

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

*

[2022-09-28 16:15] SaibabaBalapur-MSFT commented on #99139
@nickytorstensson
This thread is resolved by customer, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-28 16:22] lastcoolnameleft commented on #99078
@rp-msft That is outside of the scope for this page.  This page focused on multi-region deployments for BC/DR, which is different than individual host failures.

My recommendation would be to work with one of the content creators and create a separate page for design principles around fault tolerance in AKS.

[2022-09-28 16:42] ChaitanyaNaykodi-MSFT commented on #99171
Thank you for your feedback! We will review and update as appropriate.

[2022-09-28 16:44] SnehaGunda commented on #91185
@willcotton-msft thank you for the suggestion. The above PR fixes the issue.

[2022-09-28 16:45] SnehaGunda commented on #91185
#please-close

[2022-09-28 16:45] #91185 closed

[2022-09-28 16:54] josemarfdc commented on #97494
It would be nice to have an example of using a stored procedure. The[ partial update example for server-side](https://learn.microsoft.com/en-us/azure/cosmos-db/partial-document-update-getting-started?tabs=dotnet#support-for-server-side-programming) partial updates is not useful at all.
1. We have no idea of what is the structure of the document the example is trying to update.
2. It's not self-con

[2022-09-28 16:58] kyleross-deckers opened #99172 "AADSTS900236 is not listed."
Error code AADSTS900236 is not present on this documet.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a826ee6f-f457-7109-9f77-67c57977d4e7
* Version Independent ID: 11766f27-492e-a579-dced-8a42528cbb47
* Content: [Azure AD authentication & authorization error codes - Microsoft Entra](https://learn.microsoft.com/en-us

[2022-09-28 17:40] joshuadmatthews commented on #86703
@jjindrich  do you remember what the issue was? I have a similar problem, I am referencing a masterKey from a secret store but in the daprd logs I can see it is trying to fetch a token with MSI for cosmos and it's complaining that there are multiple managed identities and wants me to specify which azureClientId to use. But I don't want it to use MSI at all it should use the masterKey.

[2022-09-28 17:46] EC-429 opened #99173 "Invalid Post Deployment Validation CLI"
The CLI commands listed in the Post Deployment are not valid for the On-Premise Manager. "system" is not a recognized command and all other system command parameters outlined in the documentation are not valid.

Software = On-Premise Manager version 22.2.5
Hardware = Legacy Dell PowerEdge R340
User = cyberx & support

---
#### Document Details

⚠ *Do not edit this section. It is required for learn

[2022-09-28 17:54] jenniferf-skc commented on #94232
@sarthak-git This issues has been resolved. This topic flows as per the Entra portal that was updated in July. I believe this can be closed.

[2022-09-28 17:56] jenniferf-skc commented on #94232
#reassign: @sarthak-git

[2022-09-28 18:09] lucabovo opened #99174 "Issue with pipeline execution in Synapse Workspace with Managed VNet and data exfiltration protection ENABLED"
Good evening,
we are facing with an issue with the procedure explained in this doc: https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/synapse-analytics/sql/how-to-pause-resume-pipelines.md

When we execute the pipeline, we get an error network related:
![image](https://user-images.githubusercontent.com/77054756/192854426-db176e2f-d442-4ed9-a81b-b4f73847b980.png)

This pipeline runs on

[2022-09-28 18:30] KarthikeyanB007 commented on #99065
Hi,
Thank you for responding. But I don't seem to find the option to choose a Spot VM when I configure Databricks as a compute Linked Service (illustration below). Nor do I find any mention in the documentation at say https://learn.microsoft.com/en-us/azure/data-factory/compute-linked-services#azure-databricks-linked-service. Please help for earliest resolution as there is strong push to use Spot

[2022-09-28 18:50] greg-lindsay commented on #96533
@aggerritsen I can't share the specific GA date yet because there is still engineering work going on behind the scenes, but it will be quite soon.

[2022-09-28 18:51] greg-lindsay commented on #96533
#please-close

[2022-09-28 18:51] #96533 closed

[2022-09-28 18:52] AjayKumar-MSFT commented on #99155
goenning, No worries. Thanks for the follow-up and sharing the update. It's much appreciated.

As a side note, this channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2022-09-28 18:54] sarthak-git commented on #94232
Thank you .

On Wed, Sep 28, 2022 at 1:01 PM prmerger-automator[bot] <
***@***.***> wrote:

--
Sent from Ipad

[2022-09-28 18:58] AjayKumar-MSFT commented on #98744
dereklangMSFT, Thanks for leveraging Azure docs feedback channel to share your feedback and closure. If you have questions, please let us (@MarileeTurscak-MSFT) know.

[2022-09-28 19:01] #99060 closed

[2022-09-28 19:13] AjayKumar-MSFT commented on #98801
am8448, apologies for any confusion. Thanks for the follow-up and sharing additional info. Just to clarify, could you please confirm if App Setting for the[ connection string was removed](https://learn.microsoft.com/azure/app-service/tutorial-connect-msi-sql-database?tabs=windowsclient%2Cef%2Cdotnet#modify-connection-string)? via Azure CLI.

Additional info on how to isolate/review files and logs

[2022-09-28 19:14] khdownie commented on #98532
@denver-reed I check with devs and the user needs to use a credential which has permission to create a computer account. Domain admin has this permission.

[2022-09-28 19:16] AjayKumar-MSFT commented on #98935
TheAlistairRoss, Since we're discussing on this offline with product and content team, I'll close this thread for now, based on the review the doc will be updated appropriately.

[2022-09-28 19:16] #98935 closed

[2022-09-28 19:27] AjayKumar-MSFT commented on #98964
Amondale, apologies for the delay.  Yes, the [doc section](https://learn.microsoft.com/azure/app-service/configure-ssl-bindings#powershell) does highlight this - "_Before continuing, go to your DNS configuration UI for your custom domain and follow the instructions at https://aka.ms/appservicecustomdns to configure a CNAME record for the
hostname "www" and point it your web app's default domain na

[2022-09-28 19:35] EC-429 opened #99179 "Invalid CLI Commands"
Commands listed on this page are invalid.

Software Version = 22.2.5
User = cyberx & support

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 0cebf118-0e29-396f-7610-1ef0e22726ec
* Version Independent ID: ebb72f86-9478-d24d-19c7-d6d23b0414bc
* Content: [Work with Defender for IoT CLI commands - Microsoft Defender for Io

[2022-09-28 19:44] TiloGit commented on #48501
any news on az cli support?

seem that graph api has this: https://github.com/MicrosoftDocs/azure-docs/issues/76630

[2022-09-28 19:53] StephenWeatherford opened #99180 "Article should suggest using language server Rename functionality rather than manually renaming"
[Enter feedback here]

This article suggests making changes to resource symbolic names and variables.  And then suggests users need to change all uses of those names and variables:

This is bad advice.  Please advise users to use the language server's rename functionality (in VsCode, use "Rename Symbol", which is F2 by default - in Visual Studio, if https://marketplace.visualstudio.com/items?itemN

[2022-09-28 19:54] baanders commented on #98160
I've made a few updates to the article as a result of this thread.

1. Copied over the note that filtering on array fields isn't supported, so that it also appears in the section on [digital twin change notifications](https://learn.microsoft.com/azure/digital-twins/concepts-event-notifications#digital-twin-change-notifications). Hopefully that will make this information more visible.
2. Updated so

[2022-09-28 19:54] #98160 closed

[2022-09-28 19:57] TiloGit commented on #48501
also add idea: https://feedback.azure.com/d365community/idea/576c7bc4-673f-ed11-a81b-000d3ae3db6e

[2022-09-28 20:00] mumian commented on #97956
The limit has been added to the article.

#please-close

[2022-09-28 20:00] #97956 closed

[2022-09-28 20:00] mumian commented on #97955
I have included the limited in the articles.

#please-close

[2022-09-28 20:00] #97955 closed

[2022-09-28 20:04] cveld opened #99181 "Grant access from Azure resource instances support for App Service"
Currently I don't see support for App Service in Azure Portal in order to grant access from Azure resource instances.

Maybe it is good to include a list of resource types in the docs that are currently supported and a note that some resource types are not supported yet, or will never get support, including reasoning. Maybe you can provide a roadmap.

In the resource data the whitelisted resources

[2022-09-28 20:05] StephenWeatherford opened #99182 "Mention "Azure Resources" extension as another easy way to get resource IDs"
[Enter feedback here]

Under "Insert Resource", it says: "You can find the resource ID from the Azure portal, or by using:"

You should also mention the vscode extension https://marketplace.visualstudio.com/items?itemName=ms-azuretools.vscode-azureresourcegroups as another way to easily get a resource ID.  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.mi

[2022-09-28 20:52] neanderson commented on #99035
@ManoharLakkoju-MSFT There's no issue with the product. The feedback is specifically for the documentation, this page in particular. Why is there a button to provide feedback for a particular page if that's the wrong place to provide feedback?

[2022-09-28 21:15] mialdrid commented on #97410
@idcha0s can you further explain the scenario/context here? Is the focus a UDR on the GatewaySubnet?

[2022-09-28 21:28] mumian commented on #99182
PR created - https://github.com/MicrosoftDocs/azure-docs-pr/pull/212926

[2022-09-28 21:30] StephenWeatherford commented on #99182
Perfect, thanks!

[2022-09-28 21:33] idcha0s commented on #97410
Feel free to reach out directly on Teams to ***@***.*** and I'll be happy to expand.
________________________________
From: Michael Aldridge ***@***.***>
Sent: Wednesday, September 28, 2022 2:15 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Brad Turner ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Default outbound on ExpressRoute and UDR (Issue #97410)

@idcha0s<htt

[2022-09-28 21:34] mumian commented on #99180
fixed.

#please-close

[2022-09-28 21:34] #99180 closed

[2022-09-28 21:44] odellus opened #99186 "extensions/v1beta1 is deprecated in newer aks clusters"
I'm trying to set up HTTPS for my API that I'm hosting on AKS and following along with this tutorial. Everything is going great until I try to `kubectl apply -f ing-gateway.yaml`. Seems the k8s v1.23 I get when creating a cluster by this [guide](https://learn.microsoft.com/en-us/azure/application-gateway/tutorial-ingress-controller-add-on-new) doesn't like the ingress class in extensions/v1beta. S

[2022-09-28 21:49] frankchen76 opened #99187 "Provide more information why guest user cannot leave the tenant"
I reviewed "Why can’t I leave an organization?" section and found out that even though none of those conditions met in my tenant my guest account still cannot leave the tenant. Can you provide more information if there are additional conditions which block a guest user leave tenant by themselves?

- the organization you want to leave doesn’t allow users to leave by themselves
- your account has be

[2022-09-28 22:52] MarileeTurscak-MSFT commented on #98743
Thanks for clarifying. Yes, I believe you are correct and I don't think the Claim Resolvers you want to use are supported.

These are the [Claim Types](https://learn.microsoft.com/en-us/azure/active-directory-b2c/claimsschema#claimtype) per the ClaimsSchema document. Additionally, in the [OAuth 2 Technical Profile](https://learn.microsoft.com/en-us/azure/active-directory-b2c/oauth2-technical-profi

[2022-09-28 22:52] #98743 closed

[2022-09-28 23:15] khdownie commented on #66778
Added a note to docs: You must run the script below in PowerShell 5.1 on a device that's domain joined to your on-premises AD DS, using an on-premises AD DS credential that's synced to your Azure AD. The on-premises AD DS credential must have either Owner or Contributor Azure role on the storage account and have permissions to create a service logon account or computer account in the target AD.

[2022-09-28 23:16] khdownie commented on #66778
#please-close

[2022-09-28 23:16] #66778 closed

[2022-09-28 23:21] khdownie commented on #91649
Not enough information to verify cause. Since we haven't gotten any similar reports, I'm going to close this as it seems like a support issue.

[2022-09-28 23:21] khdownie commented on #91649
#please-close

[2022-09-28 23:21] #91649 closed

[2022-09-29 00:49] ChaitanyaNaykodi-MSFT commented on #99186
Hello @odellus,

Thank you for reaching out, there is already a similar feedback item here #99001 which is assigned to the author for review and update. I will now proceed to close this issue out as duplicate. Thank you!

@greg-lindsay just a FYI.

[2022-09-29 00:49] #99186 closed

[2022-09-29 01:05] MarileeTurscak-MSFT commented on #98744
Moving to intake form.

[2022-09-29 01:05] #98744 closed

[2022-09-29 01:12] johnem-msft opened #99193 "Errors experienced with steps"
Currently we are experiencing the following errors with this article.

Failure #1 - Non-fatal, workaround available:
Out of the 3x sed commands mentioned here in the 'Download the image configuration template' section, the 3rd commands becomes invalidated as $imageRoleDefinition inevitably contains the sed separation character "/" within the variable and become separated.
Workaround:
Instead, an a

[2022-09-29 02:46] ManoharLakkoju-MSFT commented on #99035
@neanderson
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-09-29 02:50] MironAtHome commented on #63347
Any suggestions regarding set parameter in Synapse TokenLibrary for a linked service would be very much appreciated.

[2022-09-29 02:53] BryanTrach-MSFT commented on #99153
@Cvaniak This repro is mainly about doc feedback. A lot of what you have shared would be better off working on a support engineer one on one for quicker resolution.

Please email us at azcommunity@microsoft.com with the subject ATTN: Bryan and in the body of the email please include your subscription ID.

Since we will work offline at enabling you for a free technical support case, we will close t

[2022-09-29 02:53] #99153 closed

[2022-09-29 03:00] danialtham opened #99194 "Include instruction for database first approach"
A small tip box should be included in the in the **3.Modify your Project** Entity Framework section instructing them that the right way to make it work, eg:

If it's you are using Database First approach, In Web.config, find the connection string called MyDbConnection and replace its server value and table value leaving all the metadata info intact. the connection string would look similar to belo

[2022-09-29 03:13] alex--thomas opened #99196 "The developer onboarding process to get to first base needs some extra fleshing out"
OK, when I have Docker and VSCode with the mssql extension installed, I just need a few more steps explicitly described to verify using some sort of "Hello World!" process.

In VSCode I can't see a Project view (most probably because I'm very unfamiliar with VSCode (compared to VisualStudio).

I want to do something like run a 'SELECT @@@VERSION' T-SQL command.

Fleshing this page out with just a

[2022-09-29 03:35] SaibabaBalapur-MSFT commented on #99172
@kyleross-deckers
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-29 03:59] yankeecharlie opened #99197 "Some clarification with "Enable authentication for function calls""
[Enter feedback here]
Proposing 2 updates with this page to add more clarity to end users.

1. **Create app registration for your function app** (https://learn.microsoft.com/en-us/azure/logic-apps/logic-apps-azure-functions?tabs=consumption#create-app-registration-for-your-function-app)

Step 4, for "Client secret", it's stating the **Value** is "Recommended", some user interprets it as they shoul

[2022-09-29 04:10] SaibabaBalapur-MSFT commented on #99173
@EC-429
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-29 04:13] SaibabaBalapur-MSFT commented on #99174
@lucabovo
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-29 04:16] SaibabaBalapur-MSFT commented on #99179
@EC-429
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-29 04:17] SaibabaBalapur-MSFT commented on #99181
@cveld
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-29 04:19] SaibabaBalapur-MSFT commented on #99187
@frankchen76
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-29 04:20] SwathiDhanwada-MSFT commented on #98621
@dineshsppThanks for your feedback.

Assigning to content author @AaronMaxwell   for review and doc-enhancement.

[2022-09-29 04:21] SaibabaBalapur-MSFT commented on #99193
@johnem-msft
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-29 04:24] SaibabaBalapur-MSFT commented on #99194
@danialtham
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-29 04:26] SaibabaBalapur-MSFT commented on #99196
@alex--thomas
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-29 04:39] SaibabaBalapur-MSFT commented on #99197
@yankeecharlie
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-29 04:46] SaibabaBalapur-MSFT commented on #99159
@fmirdhe
This thread is resolved by user, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-29 04:47] SwathiDhanwada-MSFT commented on #98883
@janerikohman Thanks for your valuable feedback. Kindly note this channel is mainly for documentation changes. For product-feedback , kindly raise the suggestions or requests in [Azure Feedback Forum](https://feedback.azure.com/) and for technical questions, post your questions on [Microsoft Q & A Community forum](https://learn.microsoft.com/en-us/answers/products/).

For now, I have raised your f

[2022-09-29 04:47] #98883 closed

[2022-09-29 04:52] YashikaTyagi-MSFT commented on #98979
@Cakoww
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-29 04:52] #98979 closed

[2022-09-29 04:54] YashikaTyagi-MSFT commented on #99029
@chidhambaram55
Please log an issue in the [Azure PowerShell](https://github.com/azure/azure-powershell/issues/new?title=&body=%0A%0A%5BEnter%20feedback%20here%5D%0A%0A%0A---%0A%23%23%23%23%20Document%20Details%0A%0A%E2%9A%A0%20*Do%20not%20edit%20this%20section.%20It%20is%20required%20for%20learn.microsoft.com%20%E2%9E%9F%20GitHub%20issue%20linking.*%0A%0A*%20ID%3A%20a131ae3a-3ad5-ebd4-a18a-dcf8e3

[2022-09-29 04:54] #99029 closed

[2022-09-29 04:54] agray opened #99199 "Where are the Javascript examples"
Where are the working code examples to call signalR REST API from plain old javascript?

---
#### Document details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a0e5e1fc-51e4-4cb5-9a7f-0e28e1a98311
* Version Independent ID: 4acc57af-7baf-3203-c2d3-fd6af2949f38
* Content: [Azure SignalR service data plane REST API reference - v1](https://learn.

[2022-09-29 04:59] avirgvd commented on #99157
The Azure location I used is "South India". That is the only difference from what is in the documentation.

[2022-09-29 05:45] AshokPeddakotla-MSFT commented on #98930
@willyt150 Below is the response from our team. Do let us know if that helps.

We have not heard similar issue before, but it will be helpful if you can confirm

- whether your IoT Hub is on the new platform (GWV2 = GatewayV2) and whether it's specific to GWV2

- You can check this from your IoT Hub's properties as follows

<img width="328" alt="image" src="https://user-images.githubusercontent.co

[2022-09-29 05:45] ManoharLakkoju-MSFT commented on #99172
@kyleross-deckers
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-09-29 05:51] ManoharLakkoju-MSFT commented on #99095
@munntjlx
Thank you for your feedback!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue the

[2022-09-29 05:51] #99095 closed

[2022-09-29 06:15] RamanathanChinnappan-MSFT commented on #99063
@robjhead

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-29 06:25] YashikaTyagi-MSFT commented on #99073
@msmimart
Could you please provide your input on this? Thanks!

[2022-09-29 06:34] scoriani commented on #99196
Hi Alex, did you follow the steps highlighted in "Setup a local development environment" section? If you don't see a  Database Project icon in the left side bar, it's likely that the SQL Database Project extension is not installed correctly. Please take a look here: https://learn.microsoft.com/en-us/sql/azure-data-studio/extensions/sql-database-project-extension?view=sql-server-ver16

[2022-09-29 06:38] RamanathanChinnappan-MSFT commented on #99143
@algattik

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

@nayenama

Please review this issue.

[2022-09-29 06:48] erjosito opened #99201 "SQL connection settings missing"
I think you need the following settings in the template to set the SQL Server connection settings and to open the Windows firewall:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 62f1c694-5b6b-2b9c-4461-634c01f54f78
* Version Independent ID: 1a9ee951-7541-cdc3-7338-f33b5cdc22d3
* Content: [Create SQL Server VM

[2022-09-29 06:55] ManoharLakkoju-MSFT commented on #99059
@myfope
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-09-29 06:56] lucabovo commented on #99174
Thank you @SaibabaBalapur-MSFT for your prompt reply!

[2022-09-29 06:58] YashikaTyagi-MSFT commented on #99094
@sebansal
Could you provide your inputs on this? Looks like a PR already performed by one of the engineer for the same issue but has not been approved. Kindly approve it. Thanks
Refernce: https://github.com/MicrosoftDocs/azure-docs-pr/pull/190856

[2022-09-29 07:27] ManoharLakkoju-MSFT commented on #99050
@alexchen2016
For you information Please refer the below highlighted statement in documented link

https://learn.microsoft.com/en-us/azure/active-directory/external-identities/external-collaboration-settings-configure#:~:text=Member%20users%20and%20users%20assigned%20to%20specific%20admin%20roles%20can%20invite%20guest%20users%20including%20guests%20with%20member%20permissions%3A%20To%20allow%20me

[2022-09-29 07:33] joeakim opened #99202 "Recommend disabling local authentication?"
Hi there,

I am wondering, why the security baseline does not recommend disabling local authentication and using Azure AD only to send events to custom topics. It claims, that SAS tokens are used to subscribe to a custom topic. Nothing about Azure AD for the subscriptions. (Plus: I don't understand why this word is used. I think "contribute" or "ingest", etc. would be better. But well, if this is

[2022-09-29 07:40] ShiloDenis1997 opened #99203 "UI is broken"
Hello, looks like UI is broken
![image](https://user-images.githubusercontent.com/9168514/192970216-4f8f4e0f-e21f-42c3-9d8a-560744b1718c.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e433fb86-7028-39b6-95bf-260231313503
* Version Independent ID: 4de0616e-1ed5-2a3a-3ea9-f7e05ee79b37
* Content: [Extend Azure IoT C

[2022-09-29 07:49] SaibabaBalapur-MSFT commented on #99169
@glenmw
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@kof-f
Can you please check and add your comments on this doc update request as applicable.

[2022-09-29 07:49] AshokPeddakotla-MSFT commented on #99203
@ShiloDenis1997 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-09-29 07:53] MadDogofShimano commented on #92013
Apologies for necroing this, but I believe updating may still be necessary because VDDK 6.7.0 is the reported version for use both in documentation and within the Azure Migration appliance configuration manager, and after some testing it seems like the appliance refuses to/cannot recognize 6.7.0. However, I tried the same instructions carefully with VDDK 7.0.0 and it worked out fine.

[2022-09-29 07:55] SwathiDhanwada-MSFT commented on #99085
@atrukhina Thanks for reaching out.  Can you please confirm if you are facing this issue across the browsers ? [Here ](https://www.microsoft.com/en-us/videoplayer/embed/RE2OaXt)is the direct url of the video.  Kindly check if you are facing any issues in accessing it.

[2022-09-29 08:05] SwathiDhanwada-MSFT commented on #98925
@DarinMacRae Thanks for your feedback.

Assigning to content author  @AaronMaxwell for review.

[2022-09-29 08:12] SaibabaBalapur-MSFT commented on #99193
@johnem-msft
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@kof-f
Can you please check and add your comments on this doc update request as applicable.

[2022-09-29 08:17] naokitakeda14 opened #99205 "Question about Migration tool"
[Enter feedback here]
Hi
It's about Migration tool - Azure Database for PostgreSQL Single Server to Flexible Server.
According to the document, "You can migrate databases of sizes up to 1 TB by using this tool. To migrate larger databases or heavy write workloads, contact your account team to reach out to us or file a support ticket." https://learn.microsoft.com/en-us/azure/postgresql/migrate/conc

[2022-09-29 08:31] sijucm opened #99206 "How to call an Azure trigger with Javascript SDK createDocument() is missing from all documentations"
I searched the internet for an example or an api definition that says how to call the trigger when creating documents and I could not find anything. Microsoft just creates tons of documentation but not in any depth. The example here is with container.items.create(), but there is also a collection.createDocument() given in other examples, especially the stored procedures. I do not know what is the

[2022-09-29 08:34] AnuragSingh-MSFT commented on #98764
@RaamsdonkAJ, we will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-09-29 08:34] #98764 closed

[2022-09-29 08:42] kengaderdus commented on #98709
#reassign: @garrodonnell

[2022-09-29 08:43] kengaderdus commented on #98325
#reassign: @garrodonnell

[2022-09-29 08:55] sijucm opened #99207 "What does getContext().getCollection() return? Is there an API reference?"
Random code samples are thrown around without an API reference. I want to call a trigger when inserting documents, but when I go to the trigger section is shows examples with container.items.create(). Now, what is Collection and what is a Container. Microsoft just produces new and new terminology for the same thing and creating confusion for themselves and the unfortunate users.

When I try to gue

[2022-09-29 08:55] dash042 opened #99208 "AKS to Private Link connection information is missing"
Please provide information on connecting AKS to Storage Accounts using Private Endpoints.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 724d659c-dcc8-7c77-1994-b3e8cc62eb8f
* Version Independent ID: f6c82819-267b-6d05-fb0b-ced6f4eb5ca3
* Content: [Concepts - Storage in Azure Kubernetes Services (AKS) - Azure Kubernet

[2022-09-29 08:59] shriram-muthukrishnan commented on #99205
Hi, 7392 GB is roughly 7.3 TB and this is going to take a long time for the database migration to complete using the migration tool. From CSS team, please file an incident and we will route it to the right team to engage with the customer. This might require other migration tools to handle migrations for such large databases.

[2022-09-29 09:10] naokitakeda14 commented on #99205
Hi, thank you for your reply.
You mean, the customer will raise SR when they start the database migration, and CSS will create ICM and route it to the right team to engage with the customer, am I correct?

Naoki Takeda
From: shriram-muthukrishnan ***@***.***>
Sent: Thursday, September 29, 2022 6:00 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Naoki Takeda ***@***.***>; Author ***@***.***>
Subj

[2022-09-29 09:19] MughundhanRaveendran-MSFT commented on #99112
@robz25 , Which section in the document are you referring to?

[2022-09-29 09:21] shriram-muthukrishnan commented on #99205
Thats correct.

[2022-09-29 09:32] Bananenbieger1234 commented on #34591
I don't get this to work .. anyone fixed it? It worked with AADLoginForLinux, but since this is deprecated I needed to upgrade to AADSSHLoginForLinux which does not seem to work anymore.

Error is the following:
[code]

[2022-09-29 09:47] clintgrove opened #99212 "is this feature still in preview?"
is this feature still in preview?

I thought that this connector was still in preview? IT should be marked as so in the header perhaps

See this link
https://azure.microsoft.com/en-gb/updates/new-common-data-model-connector-for-apache-spark-in-azure-synapse-azure-databricks/

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

*

[2022-09-29 09:53] shaktisingh-msft commented on #99196
Hi @scoriani ,

Thanks! Assigning it to you for further interactions.

[2022-09-29 09:54] dominicbetts commented on #99203
Hi @ShiloDenis1997  - thanks for reporting this. I'm fixing the file now and an updated version will be published later today. Regards, Dominic

[2022-09-29 09:55] dominicbetts commented on #99203
#please-close

[2022-09-29 09:55] #99203 closed

[2022-09-29 09:56] shaktisingh-msft commented on #99206
Hi @sijucm,

Thanks for sharing your observation.
We will investigate and assign it as approriate.

[2022-09-29 09:57] ManoharLakkoju-MSFT commented on #99106
@scarson
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-09-29 10:02] shaktisingh-msft commented on #99206
Hi @eesharprun,

Could you please look into this request and assist as appropriate. Thanks!

[2022-09-29 10:13] sijucm opened #99213 "This is wrong "When using the Consumption plan, we recommend you always put each app in its own plan"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: edcea093-a8e4-583c-9e22-ca9c643698d8
* Version Independent ID: 45b5deca-eb72-2d6f-5f8b-8dd7f13f9631
* Content: [Improve Azure Functions performance and reliability](https://learn.microsoft.com/en-us/azure/azure-functions/performance-reliability#avoid

[2022-09-29 10:17] sijucm opened #99214 "This is wrong "When using the Consumption plan, we recommend you always put each app in its own plan""
The sentence written by Microsoft does not mean much. A function app is always in its own consumption plan because there is no way to create a consumption plan upfront and make two function apps share it.

Or did you mean put every function in its own function-app (thus separate consumption plan)? If true that sounds an extreme recommendation, but I can understand if you mean group into smaller ch

[2022-09-29 10:22] sijucm opened #99216 "How is this possible "The general recommendation is for each function app to have its own Consumption plan""
Considering this page itself says that we cannot create a consumption plan upfront, how can we make sure each function app is in its own consumption plan???

When creating the function app I can only say use consumption plan and not which consumption plan. So, I wonder whether it creates a "consumption plan" in the background!!! If yes, does it mean there is one consumption plan for the whole reso

[2022-09-29 10:26] Ajay-Belgur commented on #95950
I am facing the same issue.  Only the service bus connection string is not being read from app settings in isolated process azure function.
Getting the error: Service Bus account connection string 'ServiceBus' does not exist. Make sure that it is a defined App Setting.

[2022-09-29 10:37] csourcenl commented on #95950
Same problem here:
EventHub account connection string 'EventHub' does not exist. Make sure that it is a defined App Setting.

[2022-09-29 10:37] Darryl-G opened #99217 "Confusing statement regarding snaptshot deletion"
Hello,

This statement:  "_When the data transfer is complete, the snapshot is removed, and a recovery point is created._".
I don't think this feature is correct with "Instant Restore" now in GA.
Can you check?

Thanks

Darryl

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2bdbfa0f-4305-1b2f-2dd9-a8c23e789a78
* Versio

[2022-09-29 10:43] batamig commented on #99173
Hi @EC-429, thanks for writing into docs! We're in the process of updating the entire Defender for IoT CLI reference, and have new docs coming in the pipeline. We'll certainly consider this feedback when making our updates to make sure that we've covered all open issues.

I'm going to close this issue for now, but please feel free to continue commenting as needed.
We appreciate your contribution t

[2022-09-29 10:44] #99173 closed

[2022-09-29 10:44] batamig commented on #99179
Hi @EC-429, thanks for writing into docs! We're in the process of updating the entire Defender for IoT CLI reference and have new docs coming in the pipeline. We'll certainly consider this feedback when making our updates to make sure that we've covered all open issues.

I'm going to close this issue for now, but please feel free to continue commenting as needed.
We appreciate your contribution to

[2022-09-29 10:44] #99179 closed

[2022-09-29 10:46] SwathiDhanwada-MSFT commented on #98783
@mmassey1993 Thanks for the feedback! I have fixed the referenced change, and the change should reflect on the doc within 24 hours. We will now proceed to close this thread. If there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2022-09-29 10:46] #98783 closed

[2022-09-29 10:50] pku-csis opened #99218 "Where is the guide to setup a log collector that utilizes AMA instead of OMS Agent?"
It is known that OMS Agent will be retired on 31 August 2024 since a couple of months now, and yet there is no guide available to deploy a log forwarder to ingest Syslog and CEF logs to Microsoft Sentinel using the Azure Monitor Agent.
This is quite irresponsible of you, Microsoft!

Where is the guide to setup a log collector that utilizes AMA instead of OMS Agent?
---
#### Document Details

⚠ *Do

[2022-09-29 10:53] batamig commented on #99218
Hi @pku-csis, thanks for your feedback. I'm tagging our current content owner for this feature. @yelevin, can you take a look?

[2022-09-29 11:09] ManoharLakkoju-MSFT commented on #99083
@solstone
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-09-29 11:13] ManoharLakkoju-MSFT commented on #99113
@catmanjan
For you information Please refer the below documented link

https://learn.microsoft.com/en-us/nuget/consume-packages/package-restore#restore-packages

[2022-09-29 11:34] MughundhanRaveendran-MSFT commented on #95950
#reassign:ggailey777

[2022-09-29 11:58] jpers36 opened #99219 "Is workspace-based Application Insights still in preview?"
[This page](https://learn.microsoft.com/en-us/azure/azure-monitor/app/resource-manager-app-resource?tabs=bicep) says that workspace-based Application Insights is new and still in preview.

However:
-The Azure portal has a warning that Classic Application Insights is deprecated and should migrate to Workspace-based Application Insights
-[This page](https://learn.microsoft.com/en-us/azure/azure-moni

[2022-09-29 12:08] SaibabaBalapur-MSFT commented on #99168
@DariaSh
We have done repro the doc, no issue found i am able to get same image and validation passed successfully.
(Windows Server 2019 Datacenter - Gen2)

For your reference, we have share screenshot below.

<img width="412" alt="image" src="https://user-images.githubusercontent.com/111563669/193027119-2b1dc014-e7c0-4245-b3c5-cd2a336e7de8.png">

if there are any further questions regarding the d

[2022-09-29 12:14] selegebumussa commented on #9815
For me the command 'telcodatagen.exe 1000 0.2 2' also didn't work, the "SIM Card Fraud Probability" field had to be with a comma "," and not a period "."

So the command that worked for me was 'telcodatagen.exe 1000 0,2 2'

[2022-09-29 12:23] AnuragSingh-MSFT commented on #99119
@woter1832, thank you for the suggestion. I am assigning it to our content team for review and update, as required.

@bandersmsft, could you please review this question and share your thoughts. Thank you

[2022-09-29 12:26] AnuragSingh-MSFT commented on #99144
@bandersmsft, could you please share your thoughts on this issue. Thank you.

[2022-09-29 12:29] cveld opened #99221 "Specifying charset=utf-8 in content-type results in forbidden"
I just figured out that whenever charset=utf-8 is part of the content-type header, the rest api will result in a forbidden.

I.e. using c#
[code]

This can be useful information for others.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 657b5b68-4c41-841a-1110-67b9c2049e39
* Version Independent ID: 2237ca0e-c552-7ee8-

[2022-09-29 12:40] Naveenommi-MSFT commented on #99158
@lukos

We are working on similar case
Duplicate of #99151

   We are going to close this thread as Duplicate case but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-29 12:40] #99158 closed

[2022-09-29 12:43] AnuragSingh-MSFT commented on #99121
@jusso-dev, thank you for opening this issue. I checked a machine with LA agent on it and also installed it fresh on a new machine. In both the cases, I see the troubleshooter (which is collection of PS scripts) is located in `C:\Program Files\Microsoft Monitoring Agent\Agent\Troubleshooter` as mentioned in the doc. Is it possible that the script got moved around unintentionally in your machine wh

[2022-09-29 12:45] SwathiDhanwada-MSFT commented on #99053
@anvar-ms  Can you please provide your insights on this issue?

[2022-09-29 12:58] Naveenommi-MSFT commented on #99074
@ssvarian
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

@nabhishek
Please review this and update as appropriate.

[2022-09-29 13:01] catmanjan commented on #99113
@ManoharLakkoju-MSFT  I get the error when I attempt to restore packages

[2022-09-29 13:06] EC-429 commented on #99173
@batamig I do not accept the closing of this issue as no solution has been provided to me. I am at a client and need valid CLI commands to deploy this tool. Please provide me with the accurate commands for me to perform post deployment validation and I will accept the closure of this issue.

It's great that the docs will be update soon, but I need valid documentation now to perform my work. #pleas

[2022-09-29 13:09] EC-429 commented on #99179
@batamig I do not accept the closing of this issue as no solution has been provided to me. I am at a client and need valid CLI commands to deploy this tool. Please provide me with an unofficial list of command I can use to perform system administration and I will accept closure.

It's great that the docs will be update soon, but I need valid documentation now to perform my work. It is not right to

[2022-09-29 13:13] brtcloudgeek opened #99223 "Tenant ID value was wrongly mentioned as "Refresh-token" instead of "tenant ID" in "Refresh an Azure AD access token" script"
Hello

"tenant_id" value was wrongly mentioned as "Refresh-token" instead of "tenant ID" in "Refresh an Azure AD access token" script in this page (https://learn.microsoft.com/en-us/azure/databricks/dev-tools/api/latest/aad/app-aad-token).
Please correct the documentation

Thanks
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

[2022-09-29 13:15] sayedimac opened #99224 "The CLI and PowerShell commands for determining the actions required does not show remotely the same results"
https://learn.microsoft.com/en-us/azure/container-registry/container-registry-roles?tabs=azure-powershell#custom-roles

I expect these two commands (CLI and PowerShell) to show roughly the same results. Is the CLI command correct?
The PowerShell command produces a list of actions, the CLI option only the namespace that was provided as a parameter.

---
#### Document Details

⚠ *Do not edit this se

[2022-09-29 13:21] batamig commented on #99179
Hi @ec-429, thanks for replying and we appreciate the feedback.
I closed this issue to prevent double tracking, as we already have backlog items open to handle the updates and have the work in progress. We're only able to provide updates via the official documentation.
However you can also start a new discussion in the [Defender for IoT community](https://techcommunity.microsoft.com/t5/microsoft-d

[2022-09-29 13:37] AbbyMSFT commented on #97158
#reassign: @jacegummersall

[2022-09-29 13:41] mumurug-MSFT commented on #99213
@sijucm Thanks for reaching out. This is duplicate of #99214 and hence we will proceed to close this thread. Let's continue our conversation in other thread.

[2022-09-29 13:41] #99213 closed

[2022-09-29 13:51] AnuragSingh-MSFT commented on #98758
@librucha, I will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-09-29 13:51] #98758 closed

[2022-09-29 14:01] mumurug-MSFT commented on #99214
@sijucm Thanks for the feedback. You can create [Multiple apps in the same plan](https://learn.microsoft.com/en-us/azure/azure-functions/consumption-plan#multiple-apps-in-the-same-plan) as per below note:

![image](https://user-images.githubusercontent.com/95652148/193051706-41600a41-9ad7-46f3-b6b5-39a6982ba1ab.png)

In portal, you cannot create a function app with existing consumption plan as you

[2022-09-29 14:05] HennepinCrawler opened #99226 "Dynamic group memberships not updated from AD Group"
Hello,

I have created my office 365 groups OOTB SharePoint site creation.  I have changed the dynamic group to update based off my on-prem AD membership and that all works as expected.  What is not working is subsequent updates to the on-prem AD Group, they get synced to Azure AD but the dynamic memberships do not update unless I go into the rule, add a white space.  Then the rule runs, membershi

[2022-09-29 14:10] mumurug-MSFT commented on #99216
@sijucm Thanks for the feedback. Sorry if this caused confusion. Assigning to author for review and we will update as appropriate.

**Note:** I added a comment in #99214 about creating multiple apps in the same plan.