[2020-04-02 07:42] dcurwin commented on #51434
Thanks for your question. We've updated the document to reflect the changes in permissions.

#please-close

[2020-04-02 07:42] damochiz opened #51524 "The whitelist_models parameter settings are still incorrect."
The whitelist_models parameter settings are still incorrect. If you whitelist KNearestNeighborsRegressor, isn't it 'KNN' instead of 'kNN regressor'?

   automl_regressor = AutoMLConfig(
   task='regression',
   experiment_timeout_minutes=60,
   whitelist_models=['kNN regressor'],
   primary_metric='r2_score',
   training_data=train_data,
   label_column_name=label,
   n_cross_validations=5)

---
#

[2020-04-02 07:42] binhnguyen1984 commented on #45068
@navyasric I have looked into that. The TodoListClient is a asp.net framework 4.7.1 project, not asp.net core.

[2020-04-02 07:47] joekhoo80 commented on #51459
@VikasPullagura-MSFT , thanks for your clarification.

In the event that that happens and we find the baseline performance (20%) unacceptable, is there any way for us to purchase/top up additional credits to boost the performance ?

[2020-04-02 07:49] vivere-dally commented on #51458
Hello
So the blog post worked. Thank you very much, I've been stuck on this for days now. I think these workarounds should be made more available to the public because I've searched so much and didn't find anything.

[2020-04-02 07:55] msrini-MSFT commented on #51522
@juyamagu , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-04-02 08:00] MarcoPeretti opened #51525 "Password needs to be converted to SecureString"
Install-ADDSForest requires a secure password as argument, not plaintext. You need first to convert $Password using ConvertTo-SecureString, just like when creating the AD user account,. Just to be clear, this is not a cosmetic issue: the "Create a Windows Server AD environment" script throws an error when executed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-04-02 08:00] msrini-MSFT commented on #51522
@juyamagu , As you mentioned, ICMP is a layer 3 protocol and you don't need to mention any Port number in the NSG rules.

@KumudD , can you enhance this doc to provide better clarity ?

[2020-04-02 08:00] santhudsk opened #51526 "Lower your cost - content is mentioned twice"
In 'Lower your cost' section para "A Key feature..." has been mentioned twice. Both paras have same content.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61988aaf-ef0d-999f-536b-47af6b6b1258
* Version Independent ID: bf939211-a490-f304-16cf-db870d3fae54
* Content: [Cheat sheet for Azure Synapse Analytics (formerly SQ

[2020-04-02 08:11] LockTar commented on #31918
I had to dig into this again...

True, but that is(was) not really clear in the text. So this issue is about feedback of the documentation.

I understand, but that topic about AppRoles and Groups is difficult to find on the internet if you don't know were to search for. You need to know that the keyword is AppRoles. Adding a reference to that topic would help the users a bit more how they can crea

[2020-04-02 08:13] kishan19 commented on #47645
Understood, please refer us to the correct threads, when I sent a mail to speechsupport, it bounces back saying it is an unmonitored mailbox at the moment. Redirects me back to stack overflow, where I have posted a question and waiting. https://stackoverflow.com/questions/60737997/issue-with-speech-to-text-rest-api-in-creating-acoustic-model-similar-to-speech

Please provide a sample REST API call

[2020-04-02 08:20] BryanTrach-MSFT commented on #51069
@amitbhatia18 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please @RyanHill-MSFT in your reply. We will gladly reopen the issue and continue the discussion.

[2020-04-02 08:20] #51069 closed

[2020-04-02 08:25] balukantu commented on #51520
@ram-msft , Please find the below links. I got a few of the above-mentioned points from the Microsoft QA section from the [page](https://docs.microsoft.com/en-us/azure/cosmos-db/introduction ).

https://docs.microsoft.com/en-us/azure/cosmos-db/introduction
https://h-savran.blogspot.com/2019/03/cosmosdb-backup-options.html

**Note** :

1. I have tried exporting data from CosmosDB to AzureBlob using

[2020-04-02 08:27] wasytb72 opened #51527 "Policy Definition Name - Characters not allowed"
In the tutorial the suggested name begins with _*. Those chars are not allowed.

[2020-04-02 08:29] gaspilleur commented on #50714
When user logs on to terminal server in resource domain as account domain user, where does the virtual computer account has to be created? In the account domain and/or device domain?

[2020-04-02 08:32] ling595659851 opened #51528 "Get Token offen timeout"
Hi, When I try to get the accessToken by refreshToken(https://login.microsoftonline.com/common/oauth2/v2.0/token), I got a Socket.timeout error, how long should I set for the socket time?Now I set it as 3s.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cd73bb0-f8d5-84f7-3fc5-2022f8392a20
* Version Independent ID: d59

[2020-04-02 08:42] jpdussourd-msft commented on #51349
Only the clarification on my primary remarks, on when you can have both internal & external ips (as state in the FAQ) and when you can only have one of them (as state in this document).

[2020-04-02 08:44] BryanTrach-MSFT commented on #48890
@CKertz At this time, it is not possible nor are we aware of any workarounds to add multiple domains to a single App Service Managed Cert. This is a brand new feature that just launch a little bit ago.

With that being said, the product group is open to feedback and working towards adding additional capability. I would suggest making a request at [Azure Feedback](https://feedback.azure.com/forums/

[2020-04-02 08:44] #48890 closed

[2020-04-02 08:45] briggsb9 opened #51529 "Private Frontend Ip"
Where has 10.1.0.6 in "Test the application gateway" section 1 come from? It's not part of any IP ranges specified in this article.

The article states about the private frontend IP:
 "By default, it's a dynamic IP address assignment. The first available address of the configured subnet is assigned as the frontend IP address"

Presumably the 'configured subnet' is the App Gateway Subnet and the IP

[2020-04-02 08:46] ChrisSommers commented on #50116
Any update on this?

[2020-04-02 08:47] juyamagu commented on #51522
@msrini-MSFT thanks for the comment. Specifically, I've confirmed that now NSG requires destination "port" range contains `0` for ICMP rules in order to allow ping command, for example, from a client on-premise to a VM attached with PIP.

[2020-04-02 08:48] VikasPullagura-MSFT commented on #51459
@joekhoo80 You cannot buy credits, they have to be built automatically with Idle VM. In your case you have to switch to other VM size.
I will have @ayshakeen add more insights on this.

[2020-04-02 08:49] stefrostik commented on #51402
Hi, @DixitArora-MSFT , do you have any updates on this? This problem is very critical for me.

[2020-04-02 08:51] adbk commented on #5049
Microsoft MFA / auth solutions "is what it is". All they want to do is to close real use cases, because they work in box in my opinon. I recently began to understand this more and more when I started to work with AWS SDK:s. Basically, realize there will not be any space for community developer or partners developers in Microsoft realm regarding auth. MFA is something that is only available for MS

[2020-04-02 08:52] DixitArora-MSFT commented on #51402
@ecfan Please provide your inputs on this ?

[2020-04-02 08:54] xieofxie opened #51530 "several differences found during setup"
* As the other issue said, this 'Copy the ServiceNow Homepage value, and paste it in Sign-on URL in the ServiceNow Basic SAML Configuration section of the Azure portal.' shouldn't be done and Sign-on URL in Azure should be kept as https://<instance-name>.service-now.com/login_with_sso.do?glide_sso_id=<sys_id of the sso configuration>
* My Single Sign-on Script is not this one after setup, and it w

[2020-04-02 08:56] Tinonson commented on #46160
Can help to use the Replication of new VMs to a storage account, when use the powershell, it return "New-AzRecoveryServicesAsrReplicationProtectedItem : Cannot convert 'System.Object[]' to the type
'Microsoft.Azure.Commands.RecoveryServices.SiteRecovery.ASRProtectableItem' required by parameter 'ProtectableItem'.
Specified method is not supported.
At line:1 char:109
+ ... ReplicationProtectedItem

[2020-04-02 08:56] DashleenBhandari-MSFT commented on #50970
@v-tawe , I have not heard back from you in a couple of days. i will go ahead and close the issue. Feel free to reopen the issue if you need further assistance.

[2020-04-02 08:56] #50970 closed

[2020-04-02 08:56] #50400 closed

[2020-04-02 09:00] oleksii-gudz opened #51531 "Inject custom code in Scale in process."
Hi Guys,

Is there any option to inject custom logic into scale in process?
It can be very useful if specific node is marked for scale in but handles for example call recording and it is impossible to move it to another node or gracefully stop it. In this case custom logic can for example abort scale in for this node or delay it.

Is there anything similar to what I have described?

Thanks!

[2020-04-02 09:02] msrini-MSFT commented on #51529
@SGGIRBS , Thank you for your feedback.

@abshamsft, The documentation states, 10.0.0.0/24 is the AppGW subnet and in the screenshot it shows, 10.0.1.6 as AppGW private IP. Can this be fixed?

[2020-04-02 09:04] apsyspeople commented on #43306
I know this is closed, but I would say that the mechanism that pushes the identity provider to ServiceNow should correct for this rather than us have to alter it after the push, which will need to be done for every setup (?)

[2020-04-02 09:10] RohitMungi-MSFT commented on #51425
@kennethckh Could you please try to check the same with a different browser? I have and it works fine with chrome version 80.0.3987.149 (Official Build) (64-bit) as the error could be browser related.

If possible can you try this on a different machine or a new installation of a browser?

[2020-04-02 09:11] apsyspeople commented on #43306
In addition to my previous comment: I do see that the screenshot is updated to reflect this step, but in contrary to the other elements on the screenshot that needs attention, there's not a red square around it. I had to find the answer elsewhere:
https://community.servicenow.com/community?id=community_question&sys_id=0eb91abfdb26c4d4d82ffb243996197a

Proposal: Either mark it with a red square aro

[2020-04-02 09:13] BryanTrach-MSFT commented on #49222
@sopelt Either WEBSITE_SWAP_WARMUP* and applicationInitialization should work with Linux Web Apps and containers. Unless there is a note, the documentation for App Services tries to ensure the items work for all flavors of Web Apps.

In regards to scale out and warm up, we just wait till we see the instance is ready before routing traffic to it. There shouldn't need to be anything done on your end

[2020-04-02 09:13] #49222 closed

[2020-04-02 09:14] juanand commented on #51424
Thanks Ryan,
Objective here is avoid data exfiltration risk if an attacker compromises an app service and targets some kind of storage on port 123.
In my lab I found that NTP traffic goes only to 51.145.123.29, 51.105.208.173 and  51.137.137.111. Would be there a way to limit UDP destination, like only allow to Microsoft-owned IP ranges?
Thanks!

[2020-04-02 09:24] naqash11 commented on #51168
I think i should raise a MS Support case separately as waiting here for a comment seems useless.

[2020-04-02 09:25] BryanTrach-MSFT commented on #51476
@provtimofei Can you try to restart your site in the Azure portal under the Overview blade? This should force the latest bits.

[2020-04-02 09:27] balukantu opened #51532 "Exoprt and Import entire database or multiple containers"
Hi Team,

I am able to export data from CosmosDB to AzureBlob using the Migration Tool. Also, imported the same data from azure blob to CosmosDB using the same tool. But, we can import/export one collection at a time.

do we have the feasibility to export and import the entire database once?

[2020-04-02 09:30] kennethckh commented on #51425
Yes, I have upgraded my chrome browser to run the same version 80.0.3987.149 (Official Build) (64-bit) as yours. However, i still have the same error. But you are right about being browser related. I tried it on FireFox and i didnt get this error.

[2020-04-02 09:32] RohitMungi-MSFT commented on #51521
@kishan19 You can follow the steps mentioned [here ](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/swagger-documentation#generating-code-from-the-swagger-specification)to generate the swagger API reference.

- Go to https://editor.swagger.io
- Click File, then click Import
- Enter the swagger URL including the region for your Speech service subscription https://<your-reg

[2020-04-02 09:47] richieteh94 opened #51534 "add doc for correlation filter with message properties and forward message for Python"
Hi Microsoft,
I would like to know is there any way to create a correlation filter that uses message properties to filter because I did not see any method to add properties filter in the python SDK.
and
I also would like to know is there any way create or update subscription with a ForwardTo property because I did not see an option in the python SDK

---
#### Document Details

⚠ *Do not edit this

[2020-04-02 09:53] ChiragMishra-MSFT commented on #51173
@mamccrea Can you please take a look at this?

[2020-04-02 10:08] RohitMungi-MSFT commented on #51524
@damochiz Yes, there is a [PR ](https://github.com/MicrosoftDocs/azure-docs-pr/pull/106917)to fix the same.

@cartacioS Could you please review the PR and sign off to update this document?

[2020-04-02 10:13] lhs901 opened #51538 "Oracle Linux 5.11"
Is Oracle Linux 5.11 supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ea02d36-fca1-a329-f539-90e22b698977
* Version Independent ID: 35d1f897-0d81-98b8-1c28-af1528f1e135
* Content: [Linux distributions endorsed on Azure - Azure Linux Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/lin

[2020-04-02 10:20] chelnak opened #51539 "ARM template availability for AADv2 clusters"
The document provides an Azure CLI example. Is it possible to have an ARM template example added? Or maybe visibility of the API version used to create the v2 clusters?

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22a4b366-3eac-83f8-05bb-1302ce5c9235
* Version Independent ID: 73a9c88b-784d-2f96-becc-14e8d

[2020-04-02 10:20] shashishailaj commented on #51489
@jross1012 Thank you for catching this. I have updated the link , initiated a pull request and sent it for review internally . It should be updated within the next 24-48 hours as per next release cycle. We will now close this issue. Should you have any further query , please feel free to let us know and we will be happy to help .

Thank you.

[2020-04-02 10:20] #51489 closed

[2020-04-02 10:22] neeleshray-msft commented on #51134
@Canis-Lupis You can go to the Tenant-> Select the User -> Authentication methods -> Require reregister MFA. Ref: [Manage authentication methods](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-userdevicesettings#manage-authentication-methods)
For bulk users, you could try the script mentioned **[here](https://techcommunity.microsoft.com/t5/azure-active-directory/f

[2020-04-02 10:22] #51134 closed

[2020-04-02 10:24] neeleshray-msft commented on #51168
@naqash11 Apologies for the delay. You can contact us through Support Case as well. As for this, I would assign the thread to the Author for an update.

[2020-04-02 10:24] neeleshray-msft commented on #51168
@MicrosoftGuyJFlo Could this be verified ?

[2020-04-02 10:26] AlexeyEvlampiev commented on #27555
I have same issue with Azure Functions written in C#, despite the version is specified.

[2020-04-02 10:29] neeleshray-msft commented on #51207
@jashsayani We would need more details on the same and would suggest you to open a **[Technical Support Ticket](https://azure.microsoft.com/en-in/support/create-ticket/)** with us so that our engineers can work with you.

[2020-04-02 10:29] #51207 closed

[2020-04-02 10:33] neeleshray-msft commented on #51320
@marcelmedina We would be closing this thread now. Let us know if you need further help.

[2020-04-02 10:33] #51320 closed

[2020-04-02 10:35] shubhambhattar commented on #47830
@CHEEKATLAPRADEEP-MSFT I am facing the exact same issue that the original poster was sharing. What is the solution? I see the issues was closed before any solution or explanation was given.

[2020-04-02 10:36] neeleshray-msft commented on #51324
@scyto Here is the guide for **[Troubleshooting hybrid Azure Active Directory joined devices](https://docs.microsoft.com/en-us/azure/active-directory/devices/troubleshoot-hybrid-join-windows-current)**. Let us know if this helps.

[2020-04-02 10:37] santaur commented on #51432
@melghazali thank you for advice, I will do some experiments with both dictionary and training model.
My purpose is to automatically translate new identifiers' names, who are not in my dictionary.

For now, as a first step, I've trained model the way I wrote above and it gave me BLEU score 48.56 while Baseline BLEU score is 20.48.

[2020-04-02 10:41] erndob opened #51540 "Only Standard Microsoft pricing tier seems to be supported?"
I've tried adding WAF to Azure CDN, Verizon Standard DSA endpoint but the CND profile does not show up in the endpoint association menu. Only Microsoft Standard profiles show up.
Is that a bug or is it really not supported? Is the support planned as the feature goes out of preview, or not really?
Anyhow, the documentation should be updated, the prerequisites don't mention a pricing tier requiremen

[2020-04-02 10:47] jethrovaneetvelde commented on #35124
This is still wrong after over half a year...

[2020-04-02 10:49] jethrovaneetvelde opened #51541 "Resultcount not matching actually result in "Number of Results" examples"
They don't match and this is misleading. Shouldn't a resultcount = 15 have 15 rows?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e4d20cc-b693-ee2d-2694-832b455376a6
* Version Independent ID: 7b929793-dba5-8f94-e44f-7dace50ee018
* Content: [Common alert schema definitions for Azure Monitor - Azure Monitor](https://do

[2020-04-02 10:52] jethrovaneetvelde opened #51542 "AlertTargetIDs"
This is defined as an array, but is it also possible to have multiple resourceids there?
Trying to catch every case within automation but lots of example leave the question "is it possible to have x" open because there isn't an explanation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e4d20cc-b693-ee2d-2694-832b4553

[2020-04-02 10:53] Lycrosa opened #51543 "Can this be used to configure forced tunneling?"
If I add a custom route 0.0.0.0/0. Will all traffic from the p2s clients go through the vpn connection?

Kind Regards

Pascal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f9877ab-87ad-9743-e992-216dfa16c344
* Version Independent ID: 03649d3f-3712-8228-0af3-4bd842be5c7a
* Content: [Azure VPN Gateway: Advertise custom

[2020-04-02 10:57] MaduraDias opened #51544 "Please explain how the Account Key can be more easily compromised"
Please explain how the Account Key can be more easily compromised.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 788014ae-dc3b-f509-3dbd-933eb5a423a4
* Version Independent ID: 250d17de-f226-d3e3-7071-3ecb14da018e
* Content: [Grant limited access to data with shared access signatures (SAS) - Azure Storage](https://docs

[2020-04-02 11:08] VikasPullagura-MSFT commented on #51539
@chelnak
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-02 11:09] Fedozzz opened #51545 "F3 SKU"
Question is related to the license plan F3 introduced as of April 1st.
When I check in the portal I see that all previous licenses F1 descriptions were changed to F3.

However, when I lookup the license plan via Powershell
$AzUsrSkuid = (Get-AzureADUser -ObjectId $upn).AssignedLicenses.skuid
$Skupart = Get-AzureADSubscribedSku -ObjectId "8b86a65e-3c3a-4406-8ac3-19a6b5cc52bc_66b55226-6b4f-492c-910c

[2020-04-02 11:09] VikasPullagura-MSFT commented on #51539
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-04-02 11:26] sgiovinetti commented on #43133
It would really be interesting to know...please respond.

[2020-04-02 11:28] AshokPeddakotla-MSFT commented on #51335
@lyrana Mention https://github.com/MicrosoftDocs/azure-docs/issues/51335 directly on the PR it will link automatically.

[2020-04-02 11:36] sgiovinetti opened #51546 "Query editor considerations paragraph: please clarify firewall consideration"
Not clear to me the two bullet points. If "Query Editor works with Private Link without needing to add the Client Ip address into the SQL Database firewall" you do not need to "You will also need to add your outbound IP address to the server's allowed firewall rules to access your databases and data warehouses." Such sentences look contradicting each others.

I tried with SQL DW and indeed you do

[2020-04-02 11:39] ecki opened #51547 "Should document idle timeout in proxy mode"
This does not describe, that there is a idle connection timeout for proxy-mode connections (but not for the redirected ones it seems).

When using msjdbc and enforcing proxy mode or if I use jTDS (which only supports proxy mode) the JDBC connections will be reset by the gateway after 30 mins of idle time. When using MSJDBC in redirect mode, I haven't observed any idle time. The documentation shoul

[2020-04-02 11:40] AshokPeddakotla-MSFT commented on #51230
@manueljesusrd  Adding content author and assigning this to @kgremban for further review and update the doc as appropriate.
@kgremban Please look into this issue.

[2020-04-02 11:41] netw0rks commented on #51454
This is what I get when I run it in my tenant:

[cid:190e05db-629d-47bc-bbfe-15c4400f71e4]

And this is what I get when I use "ObjectID"
[cid:0c37d20e-b535-4d50-9ec7-c4ee69811777]
________________________________
From: SaurabhSharma-MSFT <notifications@github.com>
Sent: Wednesday, April 1, 2020 18:48
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: netw0rks <chris@chrisvess.com>; M

[2020-04-02 11:45] IryKuz opened #51548 "Configure NetDocuments SSO update"
[Hi, I am a Technical Communicator at NetDocuments, we updated our UI recently so it would be great to update this page. Please contact me and I'll provide new screenshots and workflow. Thanks! ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 208c8c82-9496-4bc0-3150-8e97a152c643
* Version Independent ID: 81a20f57-e6e3-

[2020-04-02 11:45] netw0rks commented on #51454
This is what I get when I use it in my tenant:

![1](https://user-images.githubusercontent.com/25041583/78245645-d46c6e80-74b5-11ea-9f63-0c3895873396.png)

And this is what I get when I use objectID:

![2](https://user-images.githubusercontent.com/25041583/78245692-e6e6a800-74b5-11ea-9067-8a3d5adb583c.png)

[2020-04-02 11:52] asergaz commented on #51273
Hello @orionJag ,
Please understand that the issues under this doc should be related with the doc itself, we have other support options you can leverage for custom development: [Azure IoT support and help options](https://docs.microsoft.com/en-us/azure/iot-fundamentals/iot-support-help)

I will try nevertheless to answer your questions:

1) No, and from this doc you can see: "You can have any numb

[2020-04-02 11:53] asergaz commented on #51267
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-02 12:08] mchudinov opened #51549 "Better quality screenshot"
Could you please make a screenshot of Azure portal interface a better quality  in section "Web apps".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7b1b215-0434-145b-cd11-95d0f32bc015
* Version Independent ID: d328a868-a151-1985-2b62-f3884f7ad76c
* Content: [Name resolution for resources in Azure virtual networks](ht

[2020-04-02 12:19] msrini-MSFT commented on #51543
@Lycrosa , Advertising default route via P2S is not supported. Even if you force the traffic, it gets dropped at the VPN gateway.

[2020-04-02 12:29] orionJag commented on #51273
Thanks for the prompt response and the clarification.   Appreciate all your support.

[2020-04-02 12:36] CHEEKATLAPRADEEP-MSFT commented on #47830
@spelluru Could you please look into this issue?

[2020-04-02 12:39] neeleshray-msft commented on #51528
@ling595659851 Thank you for your query . We will investigate and update the thread further.

[2020-04-02 12:40] neeleshray-msft commented on #51545
@Fedozzz Thank you for your query . We will investigate and update the thread further.

[2020-04-02 12:41] neeleshray-msft commented on #51548
@IryKuz Thank you for your query . We will investigate and update the thread further.

[2020-04-02 12:42] neeleshray-msft commented on #51525
@MarcoPeretti Thank you for your query . We will investigate and update the thread further.

[2020-04-02 12:43] neeleshray-msft commented on #51530
@xieofxie Thank you for your query . We will investigate and update the thread further.

[2020-04-02 12:45] neeleshray-msft commented on #51545
@ajayanti1 Could this be verified ?

[2020-04-02 12:46] neeleshray-msft commented on #51548
@jeevansd Could you check on this please ?

[2020-04-02 12:47] shashishailaj commented on #51445
@MarkDNL I believe the article is correct and you can setup azure files with any of the Active Directory products . Either on-premise AD or Azure AD domain services. The first link about **Active Directory (AD)** links to Active Directory Domain Services which is On-Premise AD documentation and the and the second one is about using azure files with SMB in a Azure AD domain Services Instance.  The

[2020-04-02 12:48] IEvangelist commented on #51521
Also, see this quickstart that shows how to do batch with blob storage. Note, that you'd have to change the code a bit to handle multiple files -- but the idea is the same.

[Quickstart: Recognize speech stored in blob storage](https://docs.microsoft.com/azure/cognitive-services/speech-service/quickstarts/from-blob)

[2020-04-02 12:57] SubhashVasarapu-MSFT commented on #51019
@mbiver , Appreciate your patience. I have reproduced this lab and it works without any issue.
**new-object : Exception calling ".ctor" with "1" argument(s): "The system cannot find the file specified."** --> This indicates that the expected file in that folder is missing .
**Clarification :** While exporting your root cert to physical state, you will encountered with two options,
**1. Export with

[2020-04-02 12:57] #51019 closed

[2020-04-02 13:00] SubhashVasarapu-MSFT commented on #51540
@erndob , We are looking into this query and will update you as soon as possible.

[2020-04-02 13:01] SubhashVasarapu-MSFT commented on #51523
@lee-anne , We are looking into this query and will update you as soon as possible.

[2020-04-02 13:08] jakaruna-MSFT commented on #51042
For a given version of the SF runtime you can use the specified or older versions of the SDK/nuget packages.

Newer/forward versions of the packages are not supported and may have issues targeting older/lower level clusters as they may have feature or protocol changes not supported by those environments.

Ex, as per the table in the doc, a 3.4 nuget client package could be used against a 7.0 clust

[2020-04-02 13:08] jakaruna-MSFT commented on #51042
@GitHubSachin
I will close this out for now. If you need additional help please open a new issue

[2020-04-02 13:08] #51042 closed

[2020-04-02 13:09] AshleyYang25 opened #51551 "How to manage the app in host pool?"
Hello team,
How can wvd admin to manage the app in the hostpool? For example, if the admin have created a hostpool with 200 virtual machines, and now he want to install an custom app to all these virtual machines, what can he do?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c05d017a-8ce4-d3c2-33

[2020-04-02 13:14] xywust2014 commented on #51467
Hi, the region I selected is Central South US. Currently, I am using a free trial with 200 credits, will that the reason?

Thanks,

[2020-04-02 13:16] stefrostik commented on #45323
Hi @Karishma-Tiwari-MSFT, @derek1ee . Please give some update on this problem, as now I can't check my JobSchedulers, in the root page of documentation there are link titles with commands which are not found  in Az powershell module,  even using AzureRM module with links attached, I can't execute that commands, they are not working, I'm receiving errors "AzureRM.Scheduler\Get-AzureRmSchedulerJob :

[2020-04-02 13:17] jakaruna-MSFT commented on #51177
Hi,
If you use a dsvm, then you will get only self signed certificate.

If you are using nginx, then you need to add the port of juypter as the listener.  And add the self signed certs of juypter to nginx as well so that nginx will use those certs to forward .

If you are able to run juypter on http, you can easily forward nginx traffic to juypter.

If forwarding traffic is becoming difficult, the

[2020-04-02 13:18] jakaruna-MSFT commented on #51141
Thant should work well as long as you have access to both the tenants

[2020-04-02 13:19] RyanHill-MSFT commented on #30761
Hi @kbourne, @bohleadam. This information is stale as priorities have shifted from Azure Mobile Apps which currently [use as is](https://github.com/Azure/azure-mobile-apps-quickstarts#future-of-azure-mobile-apps) in favor of App Center. This is main reason why samples such as this hasn't been updated to the latest iOS Swift. As the team began to migrate Azure Mobile Apps to App Center, feedback ha

[2020-04-02 13:23] jakaruna-MSFT commented on #50997
you can edit the "coredns"  config map which handles all the traffic. like wildcard.  then you can create specific ones for the domains which you need to forward for others.

[2020-04-02 13:25] jakaruna-MSFT commented on #49705
ok.  Lets involve azure support now.

Please send your subscription id to this email azcommunity@microsoft.com.

I will help you to enable a one time free support ticket for you.

In the email subject add "for jakaruna-msft   <this questions  title>" and add this questions url in the email body.

Once your issue is resolved, you can post the answer here.

[2020-04-02 13:26] dvkalashnikov commented on #51475
Hi @MashaMSFT, check it out, please.

[2020-04-02 13:27] jakaruna-MSFT commented on #49411
Your corporate active directory will be synched with azure AD. so it should work well.

[2020-04-02 13:28] jakaruna-MSFT commented on #47394
@dlepow Please check if you can add these details in the doc

[2020-04-02 13:49] ram-msft commented on #51226
@KevinPanJun Please follow the below for deploying the model. From the service object you can get the required logs.
Please follow the below document to deploy models with azure machine learning.
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-and-where

from azureml.core.webservice import LocalWebservice, Webservice
deployment_config = LocalWebservice.deploy_configuration(po

[2020-04-02 13:50] ishepherd commented on #44627
Thanks, @mrbullwinkle! Sorry for incredibly late response, I did not see the updates to this issue.

[2020-04-02 13:59] MarkDNL commented on #51445
I see that the article has been updated quite frequently. Either it has been solved immediately, or I was mistaken.

​Met vriendelijke groet,​
​
[cid:image002.png@01D60907.A2EEFA40]<https://www.cloudnation.nl/>
Mark Dommisse
+31 6 4664 6950<tel:+31%206%204664%206950>
mark.dommisse@cloudnation.nl<mailto:mark.dommisse@cloudnation.nl>
www.cloudnation.nl<https://www.cloudnation.nl/>

From: ShashiShail

[2020-04-02 13:59] SamirFarhat commented on #39772
@woutervanranst : Yes it's supported.
One Private Link can accept connections from multiple Private Endpoints, and these private endpoints can be in different VNETs and in different regions

[2020-04-02 14:00] ram-msft commented on #51227
@KevinPanJun Can you please share the score.py file to check.

[2020-04-02 14:01] mikanyg opened #51554 "Pre/Post deploy script hangs"
Just updated the pre post deployment script with the latest changes from this article. The version we were using is from around november 2019 and that version works perfectly.

Updated to the latest version of the script and now our CD pipeline hangs during pre deployment. Had to revert to the previous version, since there is a bug in the newly updated powershell script.

Please fix and update

--

[2020-04-02 14:11] andreatmicro opened #51556 "Ansible not being installed when I deploy this solution"
When deploying this Ansible solution as per this quickstart, Ansible is not being installed in the VM.
The extension that runs the installation command fails, and when I try Ansible commands in the VM, they aren't found.

I have tried changing the ansible version and also using different integration settings, but nothing seems to work.
Can you look into why this is happenning?

Error on provisioni

[2020-04-02 14:13] BharathNimmala-MSFT commented on #51541
@jethrovaneetvelde Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-04-02 14:15] BharathNimmala-MSFT commented on #51542
@jethrovaneetvelde Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-04-02 14:16] Chaiethanya commented on #47915
Hi, I'm also experiencing the same issue. I tried installing on Ubuntu18.04 as well as Debian Stretch - both using Python version 3.5

Getting the same error:
`ImportError: libboost_python-py35.so.1.58.0: cannot open shared object file: No such file or directory`

I had to give up and go for the Node.js version of this package instead.

[2020-04-02 14:19] vlyakh commented on #51389
Yeah, thanks a lot
@spelluru please also update the description below the screenshot
Endpoint - autogenerated - Use the endpoint URL that is generated for you.

[2020-04-02 14:22] ram-msft commented on #51228
@Naveenkhasyap can you please add more details about the use case that you are trying.
Please follow below document for input requirements.
https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/build-training-data-set#general-input-requirements

[2020-04-02 14:29] abhiSakhuja commented on #13515
Was someone able to resolve this issue in passing FAILURE exception message from Notebook to ADF?

[2020-04-02 14:30] jjindrich opened #51557 "Wrong documentation for dotNet core"
You have to use this code:
            foreach(EventGridEvent ev in events)
            {
                // Respond with a SubscriptionValidationResponse to complete the EventGrid subscription
                if (ev.EventType == EventTypes.EventGridSubscriptionValidationEvent)
                {
                    var eventValidationData = JsonConvert.DeserializeObject&lt;SubscriptionValidationEv

[2020-04-02 14:32] spelluru commented on #47830
@CHEEKATLAPRADEEP-MSFT - I couldn't reproduce the issue. This should go to support. Try sending an email to our internal alias. Thanks.

[2020-04-02 14:34] gunzip commented on #29600
hi @tony-gutierrez, I've seen another comment of you here: https://github.com/Azure/azure-storage-node/issues/455#issuecomment-407094425

in the end, do you suggest to use the agentkeepalive library or go with the native nodejs agent support ? can you share some settings that worked well for you ? we're in the same route.

[2020-04-02 14:38] idears-org opened #51558 "can not change string for display control by using the string id in this page"
# Just copy&paste the setting

===

   &lt;LocalizedString ElementType="ErrorMessage" StringId="UserMessageIfCouldntSendSms"&gt;Cannot Send SMS to the phone, please try another phone number.&lt;/LocalizedString&gt;
    &lt;LocalizedString ElementType="ErrorMessage" StringId="UserMessageIfInvalidFormat"&gt;Your phone number is not in a valid format, please correct it and try again.&lt;/LocalizedStr

[2020-04-02 14:40] SadiqhAhmed-MSFT commented on #51323
@karlochacon Have you had a chance to see the previous response? Please do let us know if that answers your question or revert if you have additional questions we can help with.

[2020-04-02 14:42] #51158 closed

[2020-04-02 14:42] PramodValavala-MSFT commented on #51162
@mperdeck Just following up here... Hope my previous comment clears things up.

[2020-04-02 14:42] coldplay5467 opened #51559 "Accidentally deleted MFA account"
How can I restore a backup from two days ago since I accidentally deleted the wrong MFA account?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b52a210-1be6-4e5f-d95c-8ea7b87919ca
* Version Independent ID: 02a43ebb-7471-d7ff-4f7e-84c9f7a66326
* Content: [Back up and recover accounts with the Microsoft Authenticator ap

[2020-04-02 14:42] PramodValavala-MSFT commented on #51162
@mperdeck Just following up here... Hope my previous comment clears things up.

[2020-04-02 14:47] AshokPeddakotla-MSFT commented on #51301
Thanks for an update.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-02 14:47] #51301 closed

[2020-04-02 14:52] SwathiDhanwada-MSFT commented on #51171
@rbhanot4739 We are still investigating the issue. We will get back with you soon.

[2020-04-02 14:56] wadstromdev commented on #50986
Sorry for the late response. I'm running it without brackets, sorry for the confusion.

Perhaps this is a clearer example?
[code]

[2020-04-02 14:56] braco commented on #38557
@LuisCabrer is this still the case?

Seems a shame to be missing such a major disambiguating feature.

[2020-04-02 15:00] smummad2-ford opened #51560 "Queries are repititive in nature."
you gave too many examples on how to filter based on key - value, where value is static. I didn't find any example on how to filter based on expression. Ex: how to get all record where grades &gt; 8.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1534d9c1-c568-f744-7cec-07f107333a3a
* Version Independent ID: 0c56ac88-b

[2020-04-02 15:08] epinto opened #51561 "Add (or link/reference) the diagram for the network that is built by this tutorial"
Add (or link/reference) the diagram for the network that is built by this tutorial
A visual representation will help tremendously.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec8503e0-6d9b-00ed-87e1-f3e15e9c7b57
* Version Independent ID: dcb28198-c501-9530-4765-9837e6a4fc97
* Content: [Tutorial - Create a hub virtua

[2020-04-02 15:08] xtianus79 opened #51562 "What about adding an intent? This seems oddly in the descriptor capability"
I can't figure how adding an intent instead of a phrase list works in this context? The option is there but there is no documentation on what or how it is actually used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c975bacb-0bee-7bb7-0d22-1296e79364b4
* Version Independent ID: 57f07a89-94d6-74ef-1ba3-846e590ac838
* C

[2020-04-02 15:14] hakanson commented on #48454
It seems like a change from the `PS Azure:\>` Azure drive to `PS /home/kevin>` - I also can't navigate into subscriptions like they are directories as the quickstart implies.

[code]

[2020-04-02 15:15] jeevansd commented on #51548
@Chetansriv and @v-nagta Can you please retest this app?

[2020-04-02 15:16] timriker commented on #49411
I don't have rights to add these machines to our existing corporate directory. Is there a way to do this without changing the setup of the corporate directrory?

[2020-04-02 15:17] MichaelGrafnetter commented on #50178
Hi, it actually IS possible to query FIDO keys through the Azure AD Graph API, although this feature is undocumented. I have created a PowerShell cmdlet that leverages this API:

[code]

See the [documentation](https://github.com/MichaelGrafnetter/DSInternals/blob/master/Documentation/PowerShell/Get-AzureADUserEx.md#get-azureaduserex) for more examples.

[2020-04-02 15:19] xtianus79 opened #51563 "What does global mean as the toggle choice"
What does global impact when choosing it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c975bacb-0bee-7bb7-0d22-1296e79364b4
* Version Independent ID: 57f07a89-94d6-74ef-1ba3-846e590ac838
* Content: [Descriptors - LUIS - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-how-

[2020-04-02 15:20] timriker commented on #49411
Also, the applies to a windows virtual machine, where this ticket is about xrdp running on a Linux virtual machine. Are there instructions to get xrdp working with any AD setup?

[2020-04-02 15:22] mimckitt commented on #50063
I believe I got mixed up with different documentation sets. You should be able to change the image sku. I am reverting the doc but taking a look and will update you today.

[2020-04-02 15:25] sujayvsarma opened #51564 "DOCS REQUIRED - Azure AD - App Permissions"
There are many apps that show up in the Azure Portal, that have no documentation to tell us what they are for, how to set it up and how to use them?

**Steps:**

* Navigate into https://portal.azure.com/#blade/Microsoft_AAD_IAM/ActiveDirectoryMenuBlade/RegisteredApps

* Open any app that is there, go into **API permissions**

* Click "+ Add a permission", go into "APIs my Organization uses"

* Her

[2020-04-02 15:31] epinto opened #51565 "Clarify what the 100,000 objects are under In-place Upgrade"
Looking at the recommendations in the in-place upgrade section is preferred for servers that have 100k objects or less but it's unclear if it is referring to Metaverse or Metadirectory objects. Please clarify

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf9169c8-ec81-9342-c93e-963647d70c6c
* Version Independent ID: 0

[2020-04-02 15:35] GuardatiSimone opened #51566 "Download from a directory"
In the section "Download from a directory" [1] we found the line:
`downloaded_bytes = file_client.read_file()`

But `file_client` is a `DataLakeFileClient` class, and that class doesn't have `read_file()` function [2]

[1] https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-directory-file-acl-python#download-from-a-directory

[2] https://github.com/Azure/azure-sdk-for-python/blo

[2020-04-02 15:37] shashishailaj commented on #51125
@johnjohnjohn87 Yes it can be and the agents would send data to different work-spaces without any issue. Should you have any further queries , please let us know and we will try to help you. In case of any technical issue with the same , We would request you to engage Microsoft support . We will now close this issue.  In case you have any feedback for the documentation , you are welcome to let us

[2020-04-02 15:37] #51125 closed

[2020-04-02 15:40] igi79 commented on #13515
Unfortunately even 6 month later this is still not working according to their own documentation 👎  Notebook always triggers success in ADF and mr. @nabhishek is IGNORING THIS ISSUE!

[2020-04-02 15:51] asergaz commented on #51273
You are very welcome. Thank you!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-02 15:51] #51273 closed

[2020-04-02 15:51] screamtracker commented on #44338
Had this issue last night, adding a service endpoint to storage in the NSG did allow the cloud witness to come online. Hopefully the documentation can be updated soon, I think a note should be on the load balancer page as that was my main reference when adding the public load balancer that caused this issue.

[2020-04-02 16:00] amergey commented on #50063
Thanks to let me know, it is what I thought.
If it can help, my guess is it may be related to plan info that is also required when you use image from market place.
For example creating a scaleset with image from market place like this
[code]

 requires  plan info otherwise creation fails
[code]
Trying to update imageReference.sku gives the 'not allowed' error, as well as trying to update plan.name

[2020-04-02 16:03] mimckitt commented on #50063
I have seen similar issues when having to include plan information. Thanks for pointing that out. That will help while I investigate.

[2020-04-02 16:04] djpmsft commented on #51554
At which step was it hanging?

[2020-04-02 16:12] evandimsby opened #51568 "Unclear - does "Guest Inviter" role override the toggle "Members can invite""
If i toggle the option "Members can invite" to Off,
and toggle the option "Admins and users in the guest inviter role can invite" to On...
will the user accounts with Guest Inviter role be allowed to send invititions to external email users or does the "member can invite" being Off override that role assignment?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2020-04-02 16:12] TravisCragg-MSFT commented on #51549
@mchudinov Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-02 16:15] Karishma-Tiwari-MSFT commented on #51527
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2020-04-02 16:15] Karishma-Tiwari-MSFT commented on #51531
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2020-04-02 16:16] Karishma-Tiwari-MSFT commented on #51532
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2020-04-02 16:17] Karishma-Tiwari-MSFT commented on #51538
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2020-04-02 16:17] Karishma-Tiwari-MSFT commented on #51564
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2020-04-02 16:22] SubhashVasarapu-MSFT commented on #51276
@david-jarman , Appreciate you patience. The doc has been edited accordingly and it would take some time for the changes to get reflected over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-04-02 16:22] #51276 closed

[2020-04-02 16:24] kureiziboi opened #51569 "Confusing: the account lockout policy will on FGPP will be applied for users on AADDS that synced from Azure AD"
On the document, it states
"Fine-grained password policies (FGPPs) let you apply specific restrictions for password and account lockout policies to different users in a domain. FGPP only affects users created in Azure AD DS. Cloud users and domain users synchronized into the Azure AD DS managed domain from Azure AD aren't affected by the password policies."
But when I see on the document: https://

[2020-04-02 16:24] TravisCragg-MSFT commented on #51082
@RaphaelFrancisco We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-02 16:24] #51082 closed

[2020-04-02 16:25] netapp-bcammett opened #51570 "Ultra is missing from the Service level description in Step 3"
Hi Julie : )

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bd492ea-1210-be9b-35a5-515ff2a917f9
* Version Independent ID: c6f027a3-f706-a871-cdc7-71b9dcf8fed1
* Content: [Set up a capacity pool for Azure NetApp Files](https://docs.microsoft.com/en-us/azure/azure-netapp-files/azure-netapp-files-set-up-capacity-pool)
*

[2020-04-02 16:25] AshokPeddakotla-MSFT commented on #51386
@qm13 Thanks for looking into this issue.
@richardeakin Does that answers your question? Do let us know if you have further queries.

[2020-04-02 16:28] mjmaldonado opened #51571 "Databricks Runtime 6.0 is out of support"
The docs state to always use Non-ML Runtime 6.0 (scala 2.11, spark 2.4.3), but this Runtime version is now out of support.  Is there a newer Runtime version that can be used for the cluster configuration?  If so, the docs should be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 955b2d92-2d6a-787e-6612-d226e09b

[2020-04-02 16:36] NavtejSaini-MSFT commented on #51339
@screig We do understand your concern but there cannot be any immediate action in this regard as feature is not available.
Do provide your feedback https://feedback.azure.com/forums/597976-azure-database-for-postgresql  for getting this feature added.
We are closing the request at this moment.

[2020-04-02 16:36] #51339 closed

[2020-04-02 16:37] AshokPeddakotla-MSFT commented on #51192
@njbuch Did you get a chance to see the above response? Do let us know if that helps.

[2020-04-02 16:39] NavtejSaini-MSFT commented on #51475
@dvkalashnikov Please provide the link to the Pull Request you created.

[2020-04-02 16:39] stathis-alexander commented on #47191
This took us about four hours to solve this morning. We were interpreting the statement incorrectly to mean that we did not need .AddAzureSignalR in net core 3.

The misleading part is that it says "Open Startup.cs and update the ConfigureServices method to use Azure SignalR Service by calling the services.AddSignalR().AddAzureSignalR() method for ASP.NET Core 2 only:"
And then immediately followe

[2020-04-02 16:40] aanandr commented on #35124
Hi @femsulu - i think you got the wrong Aanand :).

[2020-04-02 16:43] tennijo opened #51572 "Hardcoded value in example"
When going through the tutorial, I noticed there's a hardcoded value in "Create a local network gateway". Please fix the Location-param.

New-AzLocalNetworkGateway -Name $LNG1 -ResourceGroupName $RG1 `
  -Location 'East US' -GatewayIpAddress $LNGIP1 -AddressPrefix $LNGprefix1,$LNGprefix2

Should be changed to
 New-AzLocalNetworkGateway -Name $LNG1 -ResourceGroupName $RG1 `
  -Location $Location1 -

[2020-04-02 16:43] NavtejSaini-MSFT commented on #51546
@sgiovinetti We are checking this and will get back to you.

[2020-04-02 16:43] SaurabhSharma-MSFT commented on #51105
@Brinh123 I am checking this internally and update you on once I hear back.

[2020-04-02 16:44] NavtejSaini-MSFT commented on #51547
@ecki We are checking this and will get back to you.

[2020-04-02 16:46] NavtejSaini-MSFT commented on #51560
@smummad2-ford We are checking this and will get back to you.

[2020-04-02 16:49] kureiziboi commented on #47891
@luisfeliz79 and @iainfoulds
Could I confirm this one.
As explained, I understand that if I create a FGPP, it will be applied to users on ADDDS that synced from Azure AD (within the context of Azure AD DS).
So why if I create a Group Policy from Group Policy Management on AADDS to set the Account Lockout Policy, it cannot be applied to users on AADDS that synced from Azure AD? (within the context

[2020-04-02 16:51] jcbrooks92 commented on #49835
Thanks @dziedrius I'll find some time to review the info you shared.

[2020-04-02 16:51] msrini-MSFT commented on #51349
@jpdussourd-msft , You can create both internal and external IPs during the time of creation of AppGW.
![image](https://user-images.githubusercontent.com/47132998/78276183-4ed9d480-7530-11ea-847a-4cc4482b1eca.png)

[2020-04-02 16:51] davidsandbrand opened #51573 "Poor wording"
under the "Stop the Synchronization Service" heading, it says "First you can stop the service in the Windows Service Control Manager. Make sure that the service is not running when attempting to stop it. If it is, wait until it completes and then stop it.".

This wording is confusing - "make sure that the service is not running when attempting to stop it" and should be revised.

---
#### Document

[2020-04-02 16:53] AshokPeddakotla-MSFT commented on #49806
@slopezv2 Did you get a chance to see the above response? Do let us know if you have further queries.

[2020-04-02 16:54] msrini-MSFT commented on #51572
@tennijo , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-04-02 16:55] MashaMSFT commented on #51475
@NavtejSaini-MSFT , I already signed off on his pull request :)

@dvkalashnikov , thank you so much for taking the time to improve our documentation!

I'll close out this Git Issue at this point, but please feel free to comment should you need anything further from us.

Thanks!
Masha from the SQL Docs team
#please-close

[2020-04-02 16:55] #51475 closed

[2020-04-02 16:56] AshokPeddakotla-MSFT commented on #49806
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-04-02 16:56] #49806 closed

[2020-04-02 17:04] erichrockman commented on #51095
the documentation is incorrect. The switch is ALLUSERS=1 (there is an S at
the end)

[image: image.png]

On Tue, Mar 31, 2020 at 8:06 PM Karishma Tiwari - MSFT <
notifications@github.com> wrote:

[2020-04-02 17:09] AshokPeddakotla-MSFT commented on #49367
@mwlootens I have created Uservoice entry: https://feedback.azure.com/forums/906859-azure-time-series-insights/suggestions/40082614-use-instance-fields-for-calculations for this request. please provide your feedback and upvote for the same. It will also enable other users to upvote and provide feedback.

[2020-04-02 17:09] SubhashVasarapu-MSFT commented on #51195
@omerzubair , We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-04-02 17:09] #51195 closed

[2020-04-02 17:13] NavtejSaini-MSFT commented on #51475
Thank you @MashaMSFT .

[2020-04-02 17:14] alinamstanciu commented on #50307
Hi all. I assume if @armcmu reached the point of running "dotnet run ProvisionSample", he already has a Digital Twins instance provisioned. Please confirm it.
If yes, please check your AAD app registration, in Authentication, Redirect URIs that the url there matches the one in appSettings below.
The error seems very clear

The reply URL specified in the request does not match the reply URLs config

[2020-04-02 17:15] YutongTie-MSFT commented on #51571
@mjmaldonado
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-02 17:20] kcovert commented on #51301
If you run into this and you probably will.

Here’s a build error that’s happing to a lot of devs in both Visual Studio and Android Studio..

“resource drawable/icon (aka SampleXamarin.Android<http://samplexamarin.android/>:drawable/icon) not found.”

This is the only I can find to fix it…

1 change all @drawable to @mipmap

2 delete the designer file and let it be dynamically recreated.

Sent fro

[2020-04-02 17:21] spelluru commented on #51389
Thank you @vlyakh
Fixed now
#please-close

[2020-04-02 17:21] #51389 closed

[2020-04-02 17:21] iozee commented on #51457
@Karishma-Tiwari-MSFT Hi, I'm looking for the exact same stuff as the OP, but with Java SDK. I can mount a single volume, but I need two. Unfortunately, the Python example you provided doesn't seem to use multiple volumes at all. Is CLI my only option then?

[2020-04-02 17:25] haidongh opened #51574 "Correction to the page conent"
The line that says
In Connection Manager, configure Use a specific user name and password: set AppID as the username and clientSecret as the password.
It should be corrected to say
In Connection Manager, configure Use a specific user name and password: set "app:"+AppID+"@"+TenantID as the username and clientSecret as the password. For example, the user name should look like app:134942a3-7472-4925-

[2020-04-02 17:27] YutongTie-MSFT commented on #51563
@xtianus79 Thanks for your feedback, I am a little bit confused about your question. Could you please show me more information about that?

[2020-04-02 17:32] b-juche commented on #51570
@netapp-bcammett -- Thanks much for catching this! :)
Fixing right now.  Change should go live this afternoon.

[2020-04-02 17:33] YutongTie-MSFT commented on #51111
@wukun2015
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-04-02 17:33] #51111 closed

[2020-04-02 17:34] #51468 closed

[2020-04-02 17:36] RMcD opened #51575 "Compatibility with slots"
I'm not finding documentation on the intersection of the Run From Package feature with AppService slots, is it supported? Supported with caveats?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7838171-5cab-d164-cc88-2973c0d0e56e
* Version Independent ID: d888bc9c-c031-f67c-d5a0-25cc265f14e3
* Content: [Run your app fr

[2020-04-02 17:37] tony-gutierrez commented on #29600
@gunzip If you are hosting on an Azure app service, or talking to Azure APIs (cosmos, etc) you need agentkeepalive.

This is because microsoft servers drop a socket after 120seconds....whether it is active or idle. So no socket should live longer than that in your code. It's really dumb.

Here is what I use:
[code]

[2020-04-02 17:37] BryanTrach-MSFT commented on #38557
@braco Can you please create a new issue under this doc so we can get fresh eyes on your question? Thank you for your understanding.

[2020-04-02 17:38] b-juche commented on #51570
Fixed in PR#110029.  Merged for publishing by 3:30 PM 04-02-2020.

#please-close

[2020-04-02 17:38] #51570 closed

[2020-04-02 17:40] shashishailaj commented on #51346
@josephka3 The SystemAlertId must give you the Incident ID as far as i think. The powershell scripts section on the [Azure Security Center repo does define the SecurityAlert Table Schem](https://github.com/Azure/Azure-Security-Center/blob/master/Powershell%20scripts/Workflow%20automation%20and%20export%20data%20types%20schemas/SecurityAlert.schema.json)

The following is how its defined in the tab

[2020-04-02 17:42] BryanTrach-MSFT commented on #51575
@RMcD Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-02 17:45] markjbrown commented on #51520
Cosmos DB will automatically backup your data every four hours and keep two copies of this data for 8 hours of backup for free.

Customers have the option to ask for up to 100 hours of backups but will pay regular blog storage rates for this data. For more information on this please contact Azure Support.

#please-close

[2020-04-02 17:45] #51520 closed

[2020-04-02 17:45] amanmcse commented on #38588
@MickQuinlan I tested this scenario and got it working with below steps:
**Tenant1:**
**App2** (Web App) and Exposed as API with App ID URI: https://office.cloud365.in/api2/
Added below scopes:

- https://office.cloud365.in/api2/user_impersonation
- https://office.cloud365.in/api2/read

![image](https://user-images.githubusercontent.com/33834131/78280946-8435f080-7537-11ea-86b3-d1a3f1ed789d.png)

[2020-04-02 17:46] tony-gutierrez commented on #29600
As far as the bugs in agentkeepalive, no one could ever replicate the race condition, and in general it seems to be working pretty well. So my original complaint in the issue is probably not valid.

[2020-04-02 17:51] amanmcse commented on #51411
@gaelicWizard I am closing the thread now. Feel free to tag me in your reply if you have any question.

[2020-04-02 17:51] #51411 closed

[2020-04-02 17:57] pejuborg opened #51577 "Issues found by script"
The referenced script Troubleshoot-WindowsUpdateAgentRegistration, when that reports failures, would it be possible to that refer to more detailed information regarding that issue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9e7b53a-a644-3ada-8363-ae4edc62f503
* Version Independent ID: a5567355-2edb-d722-3a08-2217d

[2020-04-02 17:59] SubhashVasarapu-MSFT commented on #51046
@kktyau , Appreciate your patience. The doc has been updated accordingly and it would take some time for the edits to get updated.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-04-02 17:59] #51046 closed

[2020-04-02 18:00] scyto commented on #51324
@neeleshray-msft i read that before i posted my ticket - it appears to be written from a windows 10 only perspective.

I am looking to understand what is and isn't supported on different flavours of server 2019 in different join/registered scenarios.

There were error in dsregcmd output run on a windows server 2019 domain controller not covered in that guide and dsregcmd can't even be run on windo

[2020-04-02 18:06] luisbecerril-ips commented on #51258
Thanks, awaiting then for your response.

[2020-04-02 18:18] BharathNimmala-MSFT commented on #51526
@santhudsk Thank you for bringing this to our notice, will fix the document accordingly.

[2020-04-02 18:21] josephka3 commented on #51346
You would be trapped into thinking it is so, I was too, but apparently it's not.
Check it out and compare with the Incident link they give against the particular Incident.
It's should be part of the SecurityAlerts table like you said.
They should update the schema.

[2020-04-02 18:21] MarileeTurscak-MSFT commented on #51573
@davidsandbrand
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-02 18:24] shashishailaj commented on #51445
@MarkDNL Yes , articles are updated as per the product changes. And as Azure files is a new product , there are many sub components that are being continually improved. Hence this might have happened. At this point , I will close this issue. Should you need any clarification on any article in our documents , please feel free to open a new issue.

Thank you.

[2020-04-02 18:24] #51445 closed

[2020-04-02 18:26] shashishailaj commented on #51346
@josephka3 Let me try to check this internally then . I will update my findings here .

Thank you .

[2020-04-02 18:26] Zyxer22 opened #51579 "Please provide the updated api version or type"
The api version this page references is a preview api ["2015-08-01-preview"]. According to the azure docs here, all preview documents are deprecated and are gone as of December 2018 -- https://azure.microsoft.com/en-us/updates/postgresql-preview-api-deprecation/

When I looked for the Dashboards type in other released apis, I do not see them. I checked the available apis mentioned in the git doc -

[2020-04-02 18:27] rboucher commented on #38173
@mvelor We just added a video tutorial. Does it help?  Did you ever get this to work?

[2020-04-02 18:27] MarileeTurscak-MSFT commented on #51573
Thanks @davidsandbrand !

I made a pull request to change the wording to, "Make sure that the service is not running before you attempt to stop it.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/110045

Hope that helps! If you think it needs to be revised further you can feel free to make a pull request to the article.

[2020-04-02 18:27] #51573 closed

[2020-04-02 18:28] spelluru commented on #51505
@ketan-chawda-msft - please go ahead and assign this to me. I will need to update the steps and images.

[2020-04-02 18:33] MarileeTurscak-MSFT commented on #51568
@evandimsby good question! I'm testing in my tenant to check.

[2020-04-02 18:34] MarileeTurscak-MSFT commented on #51558
@idears-org
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-02 18:35] MarileeTurscak-MSFT commented on #51559
@coldplay5467
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-02 18:35] MarileeTurscak-MSFT commented on #51569
@kureiziboi
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-02 18:36] MarileeTurscak-MSFT commented on #51565
@epinto
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-02 18:41] JimacoMS3 commented on #50819
@dc995 Thanks very much for bringing this to our attention. I've fixed the diagram so that it has a white background. This makes it much more readable in dark mode:

![Capture](https://user-images.githubusercontent.com/47835911/78289204-a186a280-74d6-11ea-8015-5c9fb8442793.png)

I also changed this in the [c topic](https://docs.microsoft.com/azure/iot-hub/quickstart-device-streams-proxy-c).

Again

[2020-04-02 18:41] JimacoMS3 commented on #50819
#please-close

[2020-04-02 18:41] #50819 closed

[2020-04-02 18:41] davidsandbrand commented on #51573
I think you missed the point:  If the goal is to stop the service, why must one make sure that the service is already stopped before attempting to stop it?
I suspect it was supposed to say something like "make sure the service is not starting or already stopping", otherwise, this literally does not make sense (even with your edit).

[2020-04-02 18:44] challengelogic opened #51581 "Activation maximum duration slider"
Use the Activation maximum duration slider to set the maximum time, in hours, that a role stays active before it expires. This value can be from one to 24 hours.

Should be: "This value can be from 30mins to 24 hours."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 791cb6b6-4733-1c1d-75c5-9318049163af
* Version Indepen

[2020-04-02 18:45] msrini-MSFT commented on #51572
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/110050

[2020-04-02 18:46] Virginia001 commented on #51208
@MikeWilcoxMicrosoft @lyrana  The change has been made and merged.  It should appear within the next few days.

[2020-04-02 18:46] challengelogic opened #51582 "Require approval to activate"
Screenshot for "Require approval to activate" is for the older version of PIM

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 791cb6b6-4733-1c1d-75c5-9318049163af
* Version Independent ID: 4752b0bc-ab61-69e3-972f-80d6be2baa55
* Content: [Configure Azure AD role settings in PIM - Azure AD](https://docs.microsoft.com/en-u

[2020-04-02 18:47] abhiSakhuja commented on #13515
@igi79 For the quick response. Then we need to add audit within Notebook as an alternate and let Notebook fail.

Do you have any alternate solution to it?

[2020-04-02 18:51] shashishailaj commented on #51433
@rsoakford Yes , it seems that the screenshot was taken later. I will have this checked with the content team to have this updated.

[2020-04-02 18:51] shashishailaj commented on #51433
@billmath  Could you please review and see how best we can update the [screenshot in step 4 here](https://docs.microsoft.com/en-us/azure/active-directory/cloud-provisioning/tutorial-pilot-aadc-aadccp#azure-portal-agent-verification) ?

[2020-04-02 18:53] edemen commented on #23789
@pierluigilenoci

Hi
Could you please link or share a workable example that includes a yaml for a dashboard ingress, values.yaml for oauth2_proxy and any applicable settings for an Azure AD application?
I've been trying to get oauth2_proxy to work with Azure AD for several days but can't find a single full workable example that would go into sufficient detail on configuring this, and experimenting

[2020-04-02 18:54] lyrana commented on #51208
Great thank you @Virginia001 !

[2020-04-02 18:54] #51572 closed

[2020-04-02 19:07] rhubley opened #51583 "Install package Command fails"
R -e "install.packages('RODBCext', repos='https://cran.microsoft.com')"

fails with the error "package 'RODBCext' is not available (for R version 3.6.3)" also fails for R-3.5.3

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 949cfe97-f890-4989-c1af-6a497fd56b64
* Version Independent ID: 16f80dc0-6902-a9a9-64ec-945bf6aca

[2020-04-02 19:09] veyalla commented on #51230
@manueljesusrd The production guidance is that all containers including the IoT Edge runtime time containers live in your private repository: https://docs.microsoft.com/en-us/azure/iot-edge/production-checklist#manage-access-to-your-container-registry

And, you can whitelist your repo address in the firewall.

[2020-04-02 19:09] Karishma-Tiwari-MSFT commented on #49404
Thanks @arunkp89
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-04-02 19:09] #49404 closed

[2020-04-02 19:10] lyrana commented on #51208
Link to PR is [here ](https://github.com/MicrosoftDocs/azure-docs-pr/pull/110036)
#please-close

[2020-04-02 19:10] #51208 closed

[2020-04-02 19:21] Karishma-Tiwari-MSFT commented on #51095
Thanks. I have created a PR with the update, changes will be live shortly.

[2020-04-02 19:22] lyrana commented on #51246
PR [created](https://github.com/MicrosoftDocs/azure-docs-pr/pull/109986)
#please-close

[2020-04-02 19:22] #51246 closed

[2020-04-02 19:22] mamccrea commented on #51466
Thank you for providing this feedback! I've updated the doc. Please allow a few days for the change to be published.

#please-close

[2020-04-02 19:22] #51466 closed

[2020-04-02 19:28] Karishma-Tiwari-MSFT commented on #51244
Did that help answer your question?

[2020-04-02 19:28] Karishma-Tiwari-MSFT commented on #51357
Is there any update?

[2020-04-02 19:29] mamccrea commented on #51378
I have updated the doc to make this more clear. If you have any additional questions, please reopen this issue.

#please-close

[2020-04-02 19:29] #51378 closed

[2020-04-02 19:36] navyasric commented on #45068
@binhnguyen1984 My understanding is that you want a asp.net core web API sample which is provided in link above. Isn't your client app a JavaScript SPA? You will need to piece together the JS SPA client and asp.net core API.
Please let us know if we misunderstood your scenario and explain your scenario requirements.

CC: @jmprieur for help with asp.net Core samples.

[2020-04-02 19:36] mamccrea commented on #51365
Thank you for the feedback. I have update the doc. Please allow a few days for the changes to be published.

#please-close

[2020-04-02 19:36] #51365 closed

[2020-04-02 19:45] yvonnehulsmann opened #51587 "Duplicate sentence"
Heya,

There's a duplicate sentence listed on this page: Therefore, when you specify a location for the resource group, you are specifying where that metadata is stored.

Just FYI, thanks.

Kind regards,
Yvonne Hülsmann

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de5afe66-d3ca-df8d-7951-78e39706e984
* Version Indepe

[2020-04-02 19:45] A298B112 opened #51588 "-IpConfiguration is mandatory for New-AzNetworkInterface"
I think New-AzNetworkInterface now requires -IpConfiguration
I could not create NIC just by running following PS code as indicated in the article:
$webNic = New-AzNetworkInterface `
  -Location eastus `
  -Name myVmWeb `
  -ResourceGroupName myResourceGroup `
  -SubnetId $virtualNetwork.Subnets[0].Id `
  -ApplicationSecurityGroupId $webAsg.Id `
  -PublicIpAddressId $publicIpWeb.Id

---
#### Docume

[2020-04-02 19:54] MarileeTurscak-MSFT commented on #51582
@challengelogic
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-02 19:56] kiwi-cam opened #51589 "Controlling "Multi-Factor" Tokens in Azure AD Conditional Access"
We've been using Token Lifetime Policies to manage "Multi-Factor Session Token Max Age" only. Trying to replicate this in Azure AD Conditional Access doesn't appear to be possible.  We've configured "sign-in Frequency" and "Require MFA". It appears sign-in frequency only controls Single-Factor Max Age as we're re-prompted for a password, according to the set frequency, but we're not re-prompted fo

[2020-04-02 20:01] mike-urnun-msft commented on #51534
@richieteh94 Thank you for your feedback! We will review and update as appropriate.

[2020-04-02 20:03] #51588 closed

[2020-04-02 20:04] MartinJaffer-MSFT commented on #51439
@raunakjhawar  I have updated the doc as per our discussion.

[2020-04-02 20:04] #51439 closed

[2020-04-02 20:04] hsze opened #51591 "Encryption in transit should be "Yes" instead of "No" with MacSec?"
Encryption in transit (such as ExpressRoute encryption, in VNet encryption, and VNet-VNet encryption) | No

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81ea74b6-a690-6eb7-4ec8-a2fee720ad46
* Version Independent ID: 3282734b-78cb-2f42-f978-5891f9e70c2c
* Content: [Azure ExpressRoute: Security controls](https://docs.mi

[2020-04-02 20:04] MartinJaffer-MSFT commented on #51574
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-04-02 20:10] binhnguyen1984 commented on #45068
@navyasric Yes, my client app is a JavaScript SPA which is also an asp.net core app. However, the JavaScriptSPA sample is an asp.net framework 4.5.2 app and I could not use it. This question has been around for quite a while and in the mean time I have already found an answer. But still, it would be much more helpful if there is a complete sample that covers asp.net core as it will soon become sta

[2020-04-02 20:12] amanmcse commented on #51470
@jnxxx We cannot use the application manifest to perform claim transformation or to specify the format of the claim to be passed in the token in this case. It has to be done via policy files only.

Please let me know if you have any further question or shall we proceed with closure of this thread.

[2020-04-02 20:14] navyasric commented on #45068
@binhnguyen1984 Thank you for the explanation and feedback. Adding @hamiltonha and @jmprieur to take account of the feedback on this sample for future updates.

[2020-04-02 20:42] altwohill opened #51592 "Need detail on SasUrl"
Hi, what details are required for the SasUrl? I pasted in a Blob service SAS URL but this did not work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85090bbe-facd-f493-9817-b639df44f345
* Version Independent ID: 29832cb6-6676-147d-5d5f-fccbd55b2fba
* Content: [Azure VPN Gateway: Configure packet captures](https://docs

[2020-04-02 20:45] BigAl77 opened #51593 "Not sure this works anymore?"
This line (after the previous lines run correctly):
$vm = Set-AzVMOperatingSystem -VM $vm -Windows -ComputerName "Winserver01" -Credential $credential -WinRMHttp -WinRMHttps -WinRMCertificateUrl $secretURL
When running that line I get the following error:
Set-AzVMOperatingSystem: Parameter set cannot be resolved using the specified named parameters. One or more parameters issued cannot be used tog

[2020-04-02 21:05] gaikovoi opened #51594 "Azure AD auth protected back-end"
The scenario "You have Azure AD authentication which causes the redirection." is not completely described in the app gateway documentation. There is not description how to setup rewrite rule for redirects to AAD login page. E.g., see example here - https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-protocols-oidc#send-the-sign-in-request.
Azure app service with Azure AAD authentica

[2020-04-02 21:07] #49135 closed

[2020-04-02 21:10] zaalion opened #51595 "Hi"
I have an existing Application Gateway with a WAF already configured. Could you provide script on how to add this custom rule /policy to this existing WAF?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55f82804-ee47-ea10-8cfc-9ad8cad0cf0e
* Version Independent ID: 20be6e1c-3f35-de50-df18-2b4669497ac8
* Content: [Confi

[2020-04-02 21:11] GuyPaddock opened #51596 "Incorrect guidance for clusters in "failed" state"
The document provides the following advice when a cluster is in a failed state due to insufficient compute resources:

This is not an option. Once the cluster starts an upgrade, it is not possible to adjust the scale of the cluster, so it's not possible to scale back.

![image](https://user-images.githubusercontent.com/2631799/78300112-f9d49900-7504-11ea-912f-fa4913003a73.png)

---
#### Document D

[2020-04-02 21:15] YutongTie-MSFT commented on #51562
@xtianus79
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-02 21:22] binhnguyen1984 commented on #45068
@jmprieur This one I have tried before. The client is an asp.net framework app. Changing it to asp.net core with exactly the same code does not work for me.

[2020-04-02 21:22] NTDS commented on #50854
The instructions here are regarding MFA Server, which is not in use in this implementation.  This implementation of RADIUS uses Azure MFA for second factor and this activity currently only shows up in the portal under Multifactor Authenitcation->Activity Report.
[cid:4ffa2068-9a54-417b-a74d-4e4b47ae197d]

Just want to confirm that what you are saying is that currently this information *cannot* be

[2020-04-02 21:24] jberezanski opened #51597 "Securing the storage account using AAD/RBAC"
The "Configure your storage account" section states that:

Assuming I do not want to use shared access signatures, which principal should be granted the appropriate access to blob storage? Should it be one of the service principals created for the cluster when setting up authentication via AAD (https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-creation-setup-aad) - if ye

[2020-04-02 21:25] mike-urnun-msft commented on #51075
@Hazhzeng wanted to run this one by you, and see what your thoughts are. I haven't repro-d yet but would happy to do so and make the necessary doc enhancement.

[2020-04-02 21:25] zaalion commented on #44375
@msrini-MSFT does not this script overwrite the existing rules? What I need to add this rule on top of the existing ones.

[2020-04-02 21:27] BharathNimmala-MSFT commented on #51587
@MohamedSahbi We appreciate you taking time to fix the issue. Thank you.

@yvonnehulsmann Thank you for bringing this to our notice.

[2020-04-02 21:46] josiahvinson opened #51599 "Please add Event Grid"
https://docs.microsoft.com/en-us/azure/event-grid/event-schema-blob-storage

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00c03286-b7c8-2949-8fbf-e90c3f96ed12
* Version Independent ID: b053caf5-7957-193c-9ce7-3425254933a2
* Content: [Azure services that support Azure Data Lake Storage Gen2](https://docs.microsoft.com/

[2020-04-02 21:59] TomaszOledzki opened #51600 "Passing SAS Token in URI, safe?"
Is passing SAS Token as part of the URI safe? Even when using HTTPS URIs are not encrypted. SAS in URI could be intercepted on proxy or other network equipment and reused. Also it could be logged and saved on disk by network monitoring equipment.

Isn’t better approach to use Authorization header? Headers of the http requests are encrypted when using HTTPS - less chance for intercepting a SAS Toke

[2020-04-02 22:00] femsulu commented on #35124
Sorry for the mis-directioin, @aanandr

@kastromatos, @jethrovaneetvelde  - This has been fixed and the update will be live shortly. aplogoies this is super late.

[2020-04-02 22:00] #35124 closed

[2020-04-02 22:05] mamccrea commented on #47716
Hi @jackt-moran!  Thanks for your patience. Avro compression test is a known issue, and a fix is currently being worked on.

[2020-04-02 22:07] lyrana commented on #49385
Hi @hansmbakker
I got more information on the behavior that we're seeing and this is essentially by design: the same hub was used, and when the new TSI environment was created we instantiated a reader to consume from hub. The check-pointing logic that the first reader used was lost, and thus this new reader again consumed all the data available in the hub.
Data deletion is absolutely on our road-m

[2020-04-02 22:19] Virginia001 commented on #51208
Hello, Mike.

Once a PR is merged, the items it contained are no longer accessible via that PR.  The change will show up in the documentation within a few days.

Regards,
Virginia Dooley
You can have my Oxford comma when you pry
it out of my cold, dead, and lifeless hand. 😊

From: Mike Wilcox <notifications@github.com>
Sent: Thursday, April 2, 2020 2:02 PM
To: MicrosoftDocs/azure-docs <azure-docs@

[2020-04-02 22:20] diberry commented on #51562
@xtianus79 - You are asking the difference between adding an intent as a feature to a model versus adding a phrase list as a feature to model? #in-progress

[2020-04-02 22:21] lostdoco commented on #49459
+1 for this bug - was going to demo it to a customer! disappointing - but keen to know when it is fixed.

[2020-04-02 22:30] sachamicrosoft opened #51603 "code doesn't work"
copied the same into a *.py file and simply sub'd in my key. 401 returns saying you have to provide a regional endpoint. appended to eastus.api.cognitive.microsoft.com and now returns 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 229f51a7-b0ab-89a7-7c82-7e5f74ab5962
* Version Independent ID: 0a384917-c9ba-407c-1c

[2020-04-02 22:31] Virginia001 commented on #51208
Hi, Mike.

Actually, it’s out there now.

https://docs.microsoft.com/en-us/azure/time-series-insights/time-series-insights-update-create-environment#define-and-apply-a-model

Regards,
Virginia

From: Mike Wilcox <notifications@github.com>
Sent: Thursday, April 2, 2020 2:02 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Virginia Dooley (Aquent) <v-vidool@microsoft.com>; Mention

[2020-04-02 22:33] mike-urnun-msft commented on #51557
@jjindrich Thank you for your feedback! We will review and update as appropriate.

[2020-04-02 22:45] Karishma-Tiwari-MSFT commented on #51453
Looks like the doc needs to be updated as per https://github.com/MicrosoftDocs/azure-docs/issues/40300
I have reached out to the author internally to get this doc updates as soon as possible.

[2020-04-02 22:47] Karishma-Tiwari-MSFT commented on #50480
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-04-02 22:47] #50480 closed

[2020-04-02 22:48] RobertDBourne opened #51604 "@ Sign problem"
We have found that placing an @ sign in the alias or hostname field when creating a TXT record in DNS will not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 455c7ecb-4214-5ad1-dc68-88ff558e98c7
* Version Independent ID: 381e1b03-06cd-64ac-c811-9e15fa0c4457
* Content: [Add your custom domain - Azure Active Direct

[2020-04-02 22:54] robcamer opened #51605 "No examples in azure CLI"
It would be very helpful to have examples in Azure CLI in addition to the PowerShell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 801eeaa5-d78f-0dd9-e605-c27571ccc37b
* Version Independent ID: 0b4a6e97-7a60-6013-7a5b-66f4e01a81d9
* Content: [Configure virtual network based access for an Azure Cosmos account](https:/

[2020-04-02 23:10] JamesAuchters commented on #43244
@dannygovier  - Call me stupid, but I cannot for the life of me find any documentation on these parameters. The information you have provided has got me going, but any documentation would be greatly appreciated!

[2020-04-02 23:12] RyanHill-MSFT commented on #51424
No need to worry about that @juanand. This setting is for egress rules; thereby allowing the VMs to make those calls, which is dictated by the OS, for time sync. For instance, if the VMs in your ASE are Windows based, then those instances will call the Microsoft time servers on port 123, and adding the NTP sampled rule will allow the VMs to make that call outside your ASE firewall. The addresses y

[2020-04-02 23:15] BharathNimmala-MSFT commented on #51587
@yvonnehulsmann  I see the PR has also been merged now, will go ahead and close this issue. Thanks again for bringing this to our notice.

If you have any further feedback please feel free to revert back. Thank you

[2020-04-02 23:15] #51587 closed

[2020-04-02 23:17] MashaMSFT commented on #50116
Hi @ChrisSommers , thanks for reaching out once more! My apologies for the delay, still looking into this.

Thanks!
Masha from the SQL Docs team

[2020-04-02 23:23] Karishma-Tiwari-MSFT commented on #51544
Thanks for the question. We are currently investigating and will update you shortly.

[2020-04-02 23:26] #51015 closed

[2020-04-02 23:28] Mike-Ubezzi-MSFT commented on #51583
@rhubley Thank you for bringing this to our attention, and for taking the time to test with multiple version of R. I am seeing the same issue:

Copyright (C) 2020 The R Foundation for Statistical Computing
Platform: x86_64-w64-mingw32/x64 (64-bit)

You are welcome to redistribute it under certain conditions.
Type 'license()' or 'licence()' for distribution details.

Type 'contributors()' for more

[2020-04-02 23:28] turing-complet opened #51606 "Use managed identity from container group?"
I would like to deploy a container group using the [yaml](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-reference-yaml) configuration from a github action (or any CD pipeline) but it seems to require hard coding the registry credentials. I was hoping by assigning a userassigned managed identity to the container group, and granting AcrPull access to that identity, t

[2020-04-02 23:30] mamccrea commented on #51173
Thanks for your feedback, @pearcec. We are currently investigating this issue.

[2020-04-02 23:31] mamccrea commented on #49564
I will not proceed to close this issue. Please reopen this issue if you have any additional questions.

#please-close

[2020-04-02 23:31] #49564 closed

[2020-04-02 23:31] MicrosoftGuyJFlo commented on #51183
Thanks!

[2020-04-02 23:34] rhubley commented on #51583
Might even be a problem with the package

[2020-04-02 23:35] MicrosoftGuyJFlo commented on #51168
What is the question? @naqash11 I dont think I understand what you are asking. Administrators need to review the information in the reports regularly.

GitHub issues on documentation are not a support forum. If you have a critical request regarding your environment, then yes, a support case would be the best method to get immediate support.

[2020-04-02 23:35] #51183 closed

[2020-04-02 23:36] MarileeTurscak-MSFT commented on #51581
@challengelogic
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-02 23:36] Mike-Ubezzi-MSFT commented on #51583
This worked:
`R -e "install.packages('RODBC', repos='https://cran.microsoft.com')"`

Copyright (C) 2020 The R Foundation for Statistical Computing
Platform: x86_64-w64-mingw32/x64 (64-bit)

You are welcome to redistribute it under certain conditions.
Type 'license()' or 'licence()' for distribution details.

Type 'contributors()' for more information and
'citation()' on how to cite R or R packages

[2020-04-02 23:37] jmprieur commented on #45068
@binhnguyen1984, what does not work for you. Do you have repro steps?

[2020-04-02 23:47] adekle opened #51607 "Error when updating from External table source"
Based on the documentation, which states "Elastic query currently only supports read-only access to external tables", I believe I _should_ be able to run an update statement using an external table as the source for an update to a local table in my database. Something like the following, where "Table" is a normal (local) table, and "ExternalTable" is an external table:

[code]

However, I get the

[2020-04-02 23:49] Mike-Ubezzi-MSFT commented on #51583
But the second part does not install:

Warning in unzip(zipname, exdir = dest) :
  error 1 in extracting from zip file
Warning in read.dcf(file.path(pkgname, "DESCRIPTION"), c("Package", "Type")) :
  cannot open compressed file 'sqlmlutils/DESCRIPTION', probable reason 'No such file or directory'
Error in read.dcf(file.path(pkgname, "DESCRIPTION"), c("Package", "Type")) :
  cannot open the connect

[2020-04-02 23:49] bsafcik commented on #49459
lostdoco- what do you feel is a bug?

[2020-04-02 23:57] Mike-Ubezzi-MSFT commented on #51583
My file was corrupted. I had to clone the Git project and run again.

[2020-04-02 23:59] swmachan commented on #51512
@lisanhu Document has been updated - https://docs.microsoft.com/en-us/azure/cognitive-services/translator/reference/v3-0-reference
Please verify and close the ticket.

[2020-04-03 00:03] JimacoMS3 commented on #47915
Hi @lastcoolnameleft and @Chaiethanya,

Good news! The V2 SDK now includes support for c2d messaging! You should just be able to do a `pip install azure-iot-hub` to install the package. Boost, etc. are not required as this SDK is written from the ground up in Python. We'll update the documentation in the next few days, but here is a link to the cloud to device messaging sample in the SDK repo: htt

[2020-04-03 00:04] TravisCragg-MSFT commented on #51591
@hsze Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-03 00:11] TravisCragg-MSFT commented on #51592
@altwohill This needs to be the SASURL for where the packet capture should be placed in a storage account. You can find an example [Here in the docs for the Stop-AzVirtualNetworkGatewayPacketCapture cmdlet](https://docs.microsoft.com/en-us/powershell/module/az.network/stop-azvirtualnetworkgatewaypacketcapture?view=azps-3.7.0#examples).

I have assigned this issue to the author to make this more cl

[2020-04-03 00:13] kktyau commented on #51046
@SubhashVasarapu-MSFT
Thank you. I think you will also update the corresponding update info below link , right?
https://docs.microsoft.com/en-us/azure/expressroute/expressroute-locations

**Add "Singapore 2" for PCCW Global**

[2020-04-03 00:13] deceiver08 commented on #46699
Hi @Karishma-Tiwari-MSFT while issue https://github.com/MicrosoftDocs/azure-docs/issues/43898 gets sorted (which I am also desperately in need of), I also have been struggling with just getting Azure CLI to accept [your sample code](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/key-vault-linux#feedback) (First example under "Azure CLI Deployment" section). I have also tried @g

[2020-04-03 00:14] Karishma-Tiwari-MSFT commented on #51551
Thanks for the question. We are currently investigating and will update you shortly.

[2020-04-03 00:21] TravisCragg-MSFT commented on #51594
@gaikovoi Thanks for the feedback!. I have moved this issue to the [troubleshooting doc](https://docs.microsoft.com/en-us/azure/application-gateway/troubleshoot-app-service-redirection-app-service-url), and assigned the issue to the doc author to evaluate and update as appropriate.

[2020-04-03 00:31] ajlam commented on #51494
@HughDevlin - I've updated the docs. They should be live in the next 24 hours. Thanks again for the feedback.

#please-close

[2020-04-03 00:31] #51494 closed

[2020-04-03 00:42] Mike-Ubezzi-MSFT commented on #51583
@garyericson The [Install sqlmlutils](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-machine-learning-services-add-r-packages#install-sqlmlutils) section is not crystal clear, as the `RODBCext` package is not found but `RODBC` does exist. I went through this section and was able to get `sqlmlutils` installed, and looking to test this against a ML instance of SQL Database but, the

[2020-04-03 00:59] golfalot opened #51609 "The template solution no longer works likely due to bug in azure-sdk-for-js"
The Service Trigger function reports [Info] Operation request for: undefined with scale value: undefined
This bug references scheduled messages, but the symptoms are identical. https://github.com/Azure/azure-sdk-for-js/issues/6816
Template solution Git: https://github.com/microsoft/sql-data-warehouse-samples/tree/master/arm-templates/sqlDwAutoScaler

---
#### Document Details

⚠ *Do not edit this

[2020-04-03 01:03] femsulu commented on #51556
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-04-03 01:04] Karishma-Tiwari-MSFT commented on #51561
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-03 01:06] femsulu commented on #51577
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-04-03 01:08] femsulu commented on #51579
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-04-03 01:14] SaurabhSharma-MSFT commented on #51254
@LeonardoFelippine Each object only once in an Azure AD tenant is supported only if the UPNs of the users in the on-premises Active Directory instance use separate namespaces.  Please refer to [documentation](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/plan-connect-topologies#each-object-only-once-in-an-azure-ad-tenant).

[2020-04-03 01:17] BharathNimmala-MSFT commented on #51566
@GuardatiSimone Thank you for your query , our team will further look into it and get back to you at the earliest.

[2020-04-03 01:18] shreedhargowda opened #51610 "ClusterIssuer scoped across the namespace"
Under "Create a CA cluster issuer" section the example command is trying to create "ClusterIssuer" object that is not scoped to a particular namespace. Hence the kubectl apply command need not have namespace specified. If the object type "Issuer" being created then using namespace make sense.
kubectl apply -f cluster-issuer.yaml --namespace ingress-basic should have been
kubectl apply -f cluster-i

[2020-04-03 01:28] SaurabhSharma-MSFT commented on #51271
@madhanan I got to know an easy way to identify this -
You can check for  servicePrincipalType propety when using the AzureAD Get-AzureADServicePrincipal  cmdlet, MS Graph beta or AAD Graph to identify if it is a managed identity. Two different values are available: Application and ManagedIdentity (for both user and system assigned).

![image](https://user-images.githubusercontent.com/38112130/783

[2020-04-03 01:37] jiecao-574 commented on #51357
Dear MS Docs Team,

Greetings!

Sorry for my late reply.

My customer has followed the steps https://docs.microsoft.com/en-us/azure/virtual-desktop/set-up-scaling-script and found it would generate a http webhook action in logic app automatically. We ran the logic app but found it cannot stop and was always running. We have a discussion with our logic app product team and noticed that we should us

[2020-04-03 01:45] RonnieQuan opened #51611 "Access to Serivce Endpoint Secured PaaS from VNet integrated App Service"
The doc says By default, your app routes only RFC1918 traffic into your virtual network, in the mean time, it says vnet integration supports Service endpoint secured services.
service endpoint secured services is not RFC1918, how does the traffic route to the vnet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7a9880

[2020-04-03 01:50] BharathNimmala-MSFT commented on #51372
@simonech Thank you for confirming on the az --version. With 2.2 was able to get the output.

![cli-1](https://user-images.githubusercontent.com/45180002/78315433-cfd5a380-7511-11ea-86c3-154d23ac8d8e.png)

Do want to note that the documentation currently calls out that in the output we will see an object similar to below

![cli-4](https://user-images.githubusercontent.com/45180002/78315510-14613f0

[2020-04-03 02:05] Leejung168 opened #51612 "Akamai CDN uses letsencrypt.org as certificate issuer"
Hi Team,

Akamai CDN uses letsencrypt.org as certificate issuer, not digicert. In case we have CAA on DNS record, we have to add letsencrypt.org to our CAA records, otherwise we will get the following error.  Please update document accordingly.

Thank you!

{
  "statusCode": "BadRequest",
  "statusMessage": "{\"error\":{\"code\":\"BadRequest\",\"message\":\"We found a CAA record for your custom do

[2020-04-03 02:24] BharathNimmala-MSFT commented on #51463
@Chai-NED Thank you for reaching out to us, i am checking with our internal team on this will update the thread accordingly.

[2020-04-03 03:07] nazidk opened #51614 "Instructions bare no resemblance to the actual app"
Trying to connect to our WVD RDP session, the IOS app does not resemble mentioned in steps above... just hopeless...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3b22a7c-4bf1-84fa-17e8-9c7690f6e242
* Version Independent ID: a8d5060f-186b-c55b-0ff6-bb53d9278410
* Content: [Connect to Windows Virtual Desktop from iOS

[2020-04-03 03:15] neeleshray-msft commented on #51589
@kiwi-cam Thank you for your query . We will investigate and update the thread further.

[2020-04-03 03:16] neeleshray-msft commented on #51604
@RobertDBourne Thank you for your query . We will investigate and update the thread further.

[2020-04-03 03:30] shriazure opened #51615 "Using parameter in value"
Hi there, can you provide some more examples on how to use parameter values inside 'value'? I am trying to create a policy to see if a tag exists on a resource group and if so the tag is not blank. I was able to use the cited 'value' example above but how do I pass in the parameter value instead of hardcoding the tag name? Please see the snippet below.

//"value": "[less(length(field('tags.tagName

[2020-04-03 03:36] #51075 closed

[2020-04-03 03:44] mike-urnun-msft commented on #51075
@snobu Thanks for providing the details and reporting this issue. I've gone over the sample and updated it to include `"dataType": "binary"` for now. I'll work internally with the Functions team to review further and find out if this is an expected behavior vs a bug.

[2020-04-03 03:53] lhs901 commented on #51538
Thank you for your reply. Here are doc links.
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/endorsed-distros
https://support.microsoft.com/en-us/help/2941892/support-for-linux-and-open-source-technology-in-azure

[2020-04-03 03:59] ram-msft commented on #51226
@KevinPanJun We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-03 03:59] #51226 closed

[2020-04-03 04:00] ram-msft commented on #51227
@KevinPanJun We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-03 04:00] #51227 closed

[2020-04-03 04:02] ram-msft commented on #51228
@Naveenkhasyap We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-03 04:02] #51228 closed

[2020-04-03 04:09] ram-msft commented on #51603
@sachamicrosoft Thanks for the question. We are investigating the issue and will update you shortly.

[2020-04-03 04:17] braco opened #51616 "Using BingID to search?"
Hi,

Regarding the BingID response property; are there any plans to make this available as a search input parameter? It seems as though you're disambiguating entities internally but there's no way to search using the ID itself. This seems like a big missing piece for targeted searches using the API.

I believe this is possible in the bing.com website using "filters=sid:"{ID}""

It's very difficult

[2020-04-03 04:18] braco commented on #38557
Ok @BryanTrach-MSFT, posted here:  https://github.com/MicrosoftDocs/azure-docs/issues/51616

[2020-04-03 04:21] balukantu commented on #51520
@markjbrown , Thanks for the update.

I would like to know whether there is a feasibility to take backup and restore the data on customer demand.
Here I would like to have have couple of endpoints to backup and restore the data instead of contacting Azure Customer Support.

[2020-04-03 04:31] rdbraber commented on #50997
You can't edit the configmap coredns, as it's immediately changed back to the original values as soon as you change it. So we're looking for a way to override the defaults which are in the this coredns configmap. We would like to override the line 'forward . /etc/resolv.conf' to something like 'forward . 8.8.8.8 8.8.4.4'.

[2020-04-03 04:37] msrini-MSFT commented on #51543
@Lycrosa , Do you have any update on this issue?

[2020-04-03 04:37] msrini-MSFT commented on #51349
Please tag me if you have any further questions.

[2020-04-03 04:37] #51349 closed

[2020-04-03 04:41] YutongTie-MSFT commented on #51182
@diberry Hi Dina, could you please take a look of this question. I can find any reference for this question and I have not found any clue in the API document.

[2020-04-03 04:42] msrini-MSFT commented on #51595
@zaalion , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-04-03 04:42] v-nagta commented on #50721
@jfwillia We have updated the Doc as per your comments, please review

#please-close

[2020-04-03 04:42] #50721 closed

[2020-04-03 04:49] v-nagta commented on #45266
@rupertohpen We have updated the doc as per your comments, please review

#please-close

[2020-04-03 04:49] #45266 closed

[2020-04-03 04:53] AshokPeddakotla-MSFT commented on #51344
I have assigned the issue to the author @RamonArguelles to evaluate and update as appropriate.

[2020-04-03 04:56] #51352 closed

[2020-04-03 04:58] sujayvsarma commented on #51564
That's exactly it.

There is no document.

I WANT DOCUMENTS.

[2020-04-03 04:58] jakaruna-MSFT commented on #51593
@BigAl77
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-03 05:01] v-nagta commented on #50277
@snaik92 We have updated the Doc as per your comments, please review

#please-close

[2020-04-03 05:01] #50277 closed

[2020-04-03 05:17] SnehaAgrawal-MSFT commented on #51298
@twsouthwick Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-04-03 05:17] #51298 closed

[2020-04-03 05:19] SnehaAgrawal-MSFT commented on #51219
@XavUnsg Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-04-03 05:19] #51219 closed

[2020-04-03 05:27] kiranshashiny opened #51617 "Need samples on how to get ASB Active message count using NPM"
[Enter feedback here]
I want to use the NPM @azure/service-bus package to get the count of Activemessage or DLQ.
Please put up some samples. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3fb5e3e-205d-8e04-a5c9-63cc2a29d39d
* Version Independent ID: d5720861-9ba6-bdc1-0dc2-c640c3fc9298
* Content: [Azure Service

[2020-04-03 05:30] SumanthMarigowda-MSFT commented on #51600
@TomaszOledzki Thanks for your question. We are checking on this and will respond to you soon.

[2020-04-03 05:31] SumanthMarigowda-MSFT commented on #51599
@josiahvinson Thanks for your question. We are checking on this and will respond to you soon.

[2020-04-03 05:38] SwathiDhanwada-MSFT commented on #51171
@rbhanot4739 I tried to repro the issue from my end and I haven't been prompted with any error.  Also, for the second error , Removing this from the outputs of the ARM template , made the script to run and also in parameters selecting immediatePurgeDataOn30Days as False

`"portalUrl": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.OperationalInsights/workspaces', parame

[2020-04-03 05:38] #51171 closed

[2020-04-03 05:39] jakaruna-MSFT commented on #51593
i submitted a PR to update the command, Changes should reflect in hours

[2020-04-03 05:41] jakaruna-MSFT commented on #51593
Added `-ProvisionVMAgent`  to the command.

reference https://docs.microsoft.com/en-us/powershell/module/az.compute/set-azvmoperatingsystem?view=azps-3.7.0#examples

[2020-04-03 05:42] VikasPullagura-MSFT commented on #51614
@nazidk
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-03 05:43] VikasPullagura-MSFT commented on #51614
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2020-04-03 05:49] #51593 closed

[2020-04-03 05:51] jakaruna-MSFT commented on #51593
Please open a new issue, if you have any other problems

[2020-04-03 05:53] jakaruna-MSFT commented on #51596
@GuyPaddock
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-03 06:09] autodomme opened #51618 "Binding error codes don't give detail how to handle the error though"
Example - binding an input storage table to a function to retrieve a specific row.

How do you handle the 404 returned by the binding error if the row isn't found?

Would love a typescript example please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da28e92f-8a1e-9937-4547-180e26ede62e
* Version Independent ID: 2b95e

[2020-04-03 06:16] BharathNimmala-MSFT commented on #51526
@santhudsk Thanks again for bringing this to our notice, the PR for the fix has been merged and updated document will be online within next 24 Hrs. At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to reopen the thread and continu

[2020-04-03 06:16] #51526 closed

[2020-04-03 06:18] jnxxx commented on #51470
@amanmcse, too bad, but thanks,
Yes, let's close the thread.

[2020-04-03 06:18] #51470 closed

[2020-04-03 06:25] kureiziboi commented on #51444
I even cannot connect to port 9389 from our VM to my domain. Is that the reason?

[2020-04-03 06:27] RohitMungi-MSFT commented on #51182
@vikramdadwal You can set the number of answers to be returned for the question using [top](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/qnamakerruntime/runtime/generateanswer#request-body) which is part of the qnamaker options [top property](https://docs.microsoft.com/en-us/dotnet/api/microsoft.bot.builder.ai.qna.qnamakeroptions.top?view=botbuilder-dotnet-stable#Microsoft_Bot_Build

[2020-04-03 06:29] ketan-chawda-msft commented on #51617
@kiranshashiny Thank you for your feedback! We will review and provide an update as appropriate.

[2020-04-03 06:37] KalyanChanumolu-MSFT commented on #51169
@mailtogurvindersingh Issues on Learn do not appear in the GitHub documentation and are handled separately.

We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-04-03 06:37] #51169 closed

[2020-04-03 06:37] VikasPullagura-MSFT commented on #51610
@shreedhargowda Thanks for the Feedback.
I have updated the document, the changes will go live once the PR is approved.

[2020-04-03 06:37] #51610 closed

[2020-04-03 06:39] VikasPullagura-MSFT commented on #51467
@xywust2014 Yes, as you can see the details in the blog post that is the reason.
I will close the issue for now.

If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-04-03 06:39] #51467 closed

[2020-04-03 06:43] sami1178116 commented on #50753
yes, hostname at OS level is different than Azure VM name in the console.

[2020-04-03 06:46] #51444 closed

[2020-04-03 07:07] rupertohpen commented on #45266
LGTM

[2020-04-03 07:14] sachamicrosoft commented on #51603
@ram-msft - actually figured it out. it turns out the default cognitive services instance through the portal ux provisions what it seems like some different cog service version that doesn't include the bing search apis. you have to explicitly search for bing local search api and provision an instance of _that_ for the calls to work. reference: https://stackoverflow.com/questions/53856772/bing-loca

[2020-04-03 07:14] #51603 closed

[2020-04-03 07:17] binhnguyen1984 commented on #45068
In project Desktop-App-calls-Web-API, the TodoListClient is asp.net framework 4.7.1 WPF application. This works fine. But if I change it to asp.net core 3.0 WPF application, it does not work. The accounts I got is always an empty list.

[2020-04-03 07:21] marrobi commented on #46877
@msrini-MSFT Same problem here, setting the source to GatewayManager does not work. I had to set it to "*". This is not ideal and does not align with the documentation on this page, which conflicts with the rule requirements on this page https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-backend-health-troubleshooting#backend-health-status-unknown.

[2020-04-03 07:23] SubhashVasarapu-MSFT commented on #51046
@kktyau , Yes, both in "Locations by Provider" as well as "Providers by Location"

[2020-04-03 07:25] balukantu commented on #51520
@markjbrown  and @ram-msft , Using migration tool and the operations  with these tool does it cost any extra charge or RU

[2020-04-03 07:25] SubhashVasarapu-MSFT commented on #50869
@samgoudie , Appreciate your patience. Service Endpoints work by encapsulating the traffic from within the VNet to the destination (Azure Storage in this case), in a proprietary IPv6 packet.
The IPv6 header in this case contains some internal information used to identify the source and authenticate with the Storage account being accessed.
This encapsulation also ensures that the traffic does not l

[2020-04-03 07:25] #50869 closed

[2020-04-03 07:26] jakaruna-MSFT commented on #51516
@rockboyfor is there any update

[2020-04-03 07:26] jakaruna-MSFT commented on #51141
@amthomas46 Please try that out and open a new issue if you have problems.

i will close this issue for now

[2020-04-03 07:26] #51141 closed

[2020-04-03 07:27] jakaruna-MSFT commented on #50932
@amramtamir is there any update

[2020-04-03 07:32] nkamkolkar opened #51621 "CORS should be enabled"
Can you please add trouble shooting section on how to fix the CORS error that happens when going from the website to the the fhir server end point. Postman works correctly, but the published web app does not show the patient list.  I added CORS setting for the web app, yet the patient list is not shown.
The authentication succeeds.

Error is see in chrome browser is following:

Access to XMLHttpRe

[2020-04-03 07:35] marrobi commented on #46877
Ok, it seems that the errors returned by the resource provider do not match what is actually wrong. An error re GatewayManager ports "65200 - 65535" was actually an issue with the AzureLoadBalancer rule having a port restriction. Some logic as to what error gets returned seems to be muddled.

[2020-04-03 07:36] metoule opened #51622 "How do I apply splitting on custom metric sent via TrackEvent?"
I want to track a metric for multiple customers. For that purpose, I use the `TrackEvent` method, with the following parameters:

[code]

I expected this would be enough to apply splitting on the `Customer` dimension, but when I use the Metrics explorer to monitor `MyMetric`, the UI tells me that splitting is not supported for the selected metric:

![image](https://user-images.githubusercontent.co

[2020-04-03 07:39] marrobi opened #51623 "Page references App Gateway V2 Public Preview - it has been GA since May 2019"
See bottom of this page:

https://azure.microsoft.com/en-us/updates/azure-application-gateway-standardv2-wafv2-skus-generally-available/

Also not having UDR support is very restrictive when wanting to use use App GW in enterprise scenarios.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 166e6517-9190-c9fc-5ad5-757ad64

[2020-04-03 07:43] #51336 closed

[2020-04-03 07:43] nkamkolkar commented on #51621
adding the CORS setting for the FHIR server API end point worked and I was able to see the patient listing.

[2020-04-03 07:56] msrini-MSFT commented on #51623
@marrobi , Thank you for your feedback. UDR on the AppGW subnet is in our backlog.

[2020-04-03 07:57] konopkap commented on #51434
Thanks for updating. I assigned MABS user a role with this set of atributes in vCenter 6.7 but unfortunately recovery point creation fails with error 3014. After changing MABS user permissions to administrator creation finished without any errors, so I'm sure it was lack of permission problem.

[2020-04-03 07:58] msrini-MSFT commented on #51623
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/110130

[2020-04-03 08:02] #51623 closed

[2020-04-03 08:03] qusp66 opened #51624 "Incorrect, missing information"
Under #set-up-iot-edge-simulator-for-iot-edge-solution-1 you wrote:
"In device explorer on the left side"....
There is no device explorer on the "left side". I assume you mean on the "Azure IoT Extension" tab ...
So I assume that to do this sample one needs as a prerequisite to have created am Edge Device on IoT Hub. Maybe pretty obvious for some, but would not hurt to have this info in the page.

[2020-04-03 08:09] deep-mm opened #51625 "Creating New B2C Application Powershell Command"
I tried creating new B2C application using the following powershell command:
New-AzureADApplication -DisplayName "$cusprefix-API-B2C-$teamsuffix" -ReplyUrls $replyUrl_API

It did create an application, the only issue being, how do I change the supported account types option to All Users, like I see while creating using GUI:
Accounts in any organizational directory or any identity provider

What is

[2020-04-03 08:09] pierluigilenoci commented on #23789
@edemen my tips:

- don't use the default AKS dashboard, install it separately (v1.10.1) with helm
  Values for helm
  `nginx.ingress.kubernetes.io/auth-url: "https://yourvalue/oauth2/auth"
   nginx.ingress.kubernetes.io/auth-signin: "https://yourvalue/oauth2/start?rd=$escaped_request_uri"
   nginx.ingress.kubernetes.io/configuration-snippet: |
      auth_request_set $token $upstream_http_authoriz

[2020-04-03 08:23] LeonardoFelippine commented on #51254
Hello, Saurabh.

Thank you for the reply. I have based my question on the aforementioned documentation, however it does not mention Hybrid Azure AD Join.
So, just to confirm, Hybrid Azure AD Join is supported on this scenario?

Regards.

[2020-04-03 08:26] vuza commented on #40643
@DashleenBhandari-MSFT
How can I send the stdout and stderr container logs which can be found in *default_docker.log to Azure Monitor in order to use the Azure Logging solutions?

I hope this is not the entirely wrong place to ask this. However I keep on stumble upon this issue when searching for my issue, others might too.

[2020-04-03 08:33] jakaruna-MSFT commented on #51597
@jberezanski
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-03 08:34] jakaruna-MSFT commented on #51597
@athinanthny please answer the customers question and update the doc if needed

[2020-04-03 08:37] yoelhor commented on #51558
From the tenant name in the error message looks like you are trying to upload your policy to a tenant in China. The Chinese  tenant build number is not as updated as the rest of the Azure AD B2C tenants. If yes, did you try to upload the policy to a tenant in US or Europe?

[2020-04-03 08:39] yoelhor commented on #51625
@JasSuri could to check this issue?

[2020-04-03 08:41] jakaruna-MSFT commented on #51606
@turing-complet managed identities works well with ACI.

https://docs.microsoft.com/en-us/azure/container-instances/container-instances-managed-identity

Pease go through this document to setup managed identities with ACI.

This is the yaml reference for ACI.
https://docs.microsoft.com/bs-latn-ba/azure/container-instances/container-instances-reference-yaml

this had identity as the key. We need to

[2020-04-03 08:46] vuza opened #51627 "Azure Monitor and Web Apps for Containers"
In https://github.com/MicrosoftDocs/azure-docs/issues/42692 you confirmed that Web Apps for Containers can send logs to Azure Monitor.

I can download the application logs my application is writing to STDOUT and STDERR inside its docker container by following this documentation https://docs.microsoft.com/en-us/azure/app-service/troubleshoot-diagnostic-logs#access-log-files ✔️

However, I couldn't

[2020-04-03 08:48] simonech commented on #51372
After calling the deploy I only get this:

![image](https://user-images.githubusercontent.com/61557/78341848-a2800880-7598-11ea-94c4-b6ca404ae540.png)

[2020-04-03 08:49] vuza commented on #40643
⬆️ I decided to open up a separate issue after all: https://github.com/MicrosoftDocs/azure-docs/issues/51627 :)

[2020-04-03 08:56] idears-org commented on #51558
Yes，I'm using China Azure. And I'm trying to contact 21V for their support.
Haven't try to upload to US/Europe, this issue might just a issue in China region.
We can close this issue.

[2020-04-03 08:58] stefrostik commented on #51402
Hi, @ecfan , @DixitArora-MSFT , please update the status of this problem.

[2020-04-03 09:00] BryanTrach-MSFT commented on #51611
@RonnieQuan Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-03 09:03] yoelhor commented on #51488
Dear @ksavery,

Do you use your own custom HTML page? if yes, could you please switch to one of the provided HTML pages, such as `<LoadUri>~/tenant/default/unified.cshtml</LoadUri>`?

Yoel

[2020-04-03 09:07] yoelhor commented on #51479
@JasSuri  has published the [Password Reset OTP only sent if Email is registered](https://github.com/azure-ad-b2c/samples/tree/master/policies/pwd-reset-email-exists) solution, which is based on the new [Display control](https://docs.microsoft.com/en-us/azure/active-directory-b2c/display-controls) feature.

[2020-04-03 09:09] KalyanChanumolu-MSFT commented on #51605
@robcamer The document already has samples for configuring the Service endpoint using CLI.
Is there a particular example you would like to see?

[2020-04-03 09:09] DixitArora-MSFT commented on #51402
@stefrostik I am checking with Product Group internally and already expedite the process from my end. Will keep you posted for any further updates , once I got any update.

[2020-04-03 09:09] ksavery commented on #51488
Morning,

We do we use [this](https://github.com/Azure-Samples/Azure-AD-B2C-page-templates/tree/master/slate_gray) as the basis with some minor modifications. Will test this out and get back to you later.

Thanks,
Kodi

[2020-04-03 09:10] KalyanChanumolu-MSFT commented on #51607
@adekle Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2020-04-03 09:11] RohitMungi-MSFT commented on #51425
@kennethckh Glad that this works for you. I think with chrome you are facing some issue related to the browser, we will pass this on to our team so it can be handled better in the future.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-04-03 09:11] #51425 closed

[2020-04-03 09:14] RohitMungi-MSFT commented on #51432
@melghazali thanks for your help. @santaur We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT or @melghazali in your reply.

[2020-04-03 09:14] #51432 closed

[2020-04-03 09:16] RohitMungi-MSFT commented on #51469
@melghazali Could you please advise for the above query?

[2020-04-03 09:17] RohitMungi-MSFT commented on #51521
@kishan19 We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-04-03 09:17] #51521 closed

[2020-04-03 09:23] SnehaAgrawal-MSFT commented on #51627
@vuza Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-03 09:25] ksavery commented on #51488
Also this applies to the self asserted html, does it not? If so that is probably our issue.

We use a modified version of [this starter pack](git clone https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack) the [docs](https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-get-started?tabs=applications). They seem to use the self asserted html for their

[2020-04-03 09:28] CHEEKATLAPRADEEP-MSFT commented on #51609
@golfalot  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-04-03 09:31] jeffw-wherethebitsroam opened #51628 "Azure storage library information"
This page seems to be for Microsoft.Azure.Storage.Blob (or maybe even WindowsAzure.Storage?) but does not mention this anywhere. It should at least mention the version being used. In any case, it does not help with Azure.Storage.Blobs.

Ideally, it should have examples for both Microsoft.Azure.Storage.Blob and Azure.Storage.Blobs.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2020-04-03 09:49] o-l-a-v commented on #50894
It's never been possible to create or edit dynamic groups with AOBO as far as I know, and this is not a problem that suddenly appeared. I've never been able to create dynamic groups with AOBO, neither in GUI (portal.azure.com) nor with PowerShell AzureADPreview module.

[2020-04-03 09:50] petitbetty commented on #51244
Hi there,
unfortunately not. My question is what RBAC right is needed under usage of least privilege principal to scale the nodes. I went through the links you sent above but haven't found the exact answer.

[2020-04-03 09:52] drewdz commented on #51448
@Karishma-Tiwari-MSFT I have managed to get the script to execute. The cause of the problem was that the script was selecting a different account as the default. This is strange since Windows is logged in with the same account as the one with the subscription. Anyway, I made the following change to the script: force the login...

`Function Connect-AzureSubscription() {
    # Ensure the user is log

[2020-04-03 09:57] ManoKanmani opened #51629 "Workday Writeback calculated field"
Hi Team,

As per MS, the connector only supports writeback of email address and username to Workday. In our case username is our unique field, is it possible to do write back for other fields ? or can we do write back for custom field or calculated field or any other existing field in workday ?

https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/workday-inbound-tutorial#part-2-confi

[2020-04-03 09:57] ksavery commented on #51488
After updating the `.cshtml` to point to the default, I can confirm that I am still not seeing the text for either message. However, I do see branding, which I have configured in Azure AD.

[2020-04-03 09:58] souravmishra-msft commented on #51528
@ling595659851, This would be a matter of testing that has to be done. Can you try increasing the timeout value to somewhere around 10secs or 20 secs and then give it a try.

If this doesnt help, then we have to troubleshoot this with hit and trial to understand what works best and hence would be great to create a new post in the [Microsoft Q&A platform](https://docs.microsoft.com/answers/index.ht

[2020-04-03 09:58] #51528 closed

[2020-04-03 09:59] RussellMaycock commented on #47593
Totally agree with @timatactia, what is the point of you of writing the documentation, when you don't consider the audience. It's like you need to have already understood how to do it, to understand how to do it. Very frustrating.

[2020-04-03 10:03] TheKangaroo commented on #48317
I think the text says that it is tied to the enrollment account e.g. user and not to the enrollmentId.
But it would be great to have this confirmed from Microsoft side :)

[2020-04-03 10:03] lisanhu commented on #51512
It's fixed! Thank you very much!

[2020-04-03 10:03] #51512 closed

[2020-04-03 10:10] nwipfli opened #51630 "Newer version ?"
Hi,

It seems that ASR supports new OS (and versions) for the replicated machines. The updated list under https://docs.microsoft.com/en-us/azure/site-recovery/vmware-physical-azure-support-matrix#replicated-machines is from Feb 2020 however the deployment planner 2.51 is from Aug 2019.

When will a new version of the deployment planner be released ?

Thanks
Nicolas

---
#### Document Details

⚠ *D

[2020-04-03 10:13] SubhashVasarapu-MSFT commented on #51044
@D4-AzIdentity , Appreciate your patience. Thanks for sharing your feedback. The document aims at demonstrating key concepts and provides step-step instructions on how to configure outbound rules in Standard Load Balancer with a simple scenario. You can configure the probes based on your application needs with[ custom probing](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-cust

[2020-04-03 10:13] #51044 closed

[2020-04-03 10:18] nwipfli opened #51631 "Deployment Planner reporting CentOS 8 not supported"
The deployment planner 2.51 (https://docs.microsoft.com/en-us/azure/site-recovery/site-recovery-deployment-planner-history) which I have ran on a production environment reports that VMware machines running CentOS 7 and 8 (64 bits) are incompatible for ASR. However, your page https://docs.microsoft.com/en-us/azure/site-recovery/vmware-physical-azure-support-matrix#replicated-machines confirms that

[2020-04-03 10:21] pemar-MSFT opened #51632 "Authentication to ADLS Gen 2"
Can you please make clear what are the authentication methods for ADLS Gen 2? For Gen 1 we can see they are MI and user token. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2896ae0e-a559-64c7-1782-14ef1c83f509
* Version Independent ID: fdc01b78-9222-6231-f85e-68defe4eafa9
* Content: [Understand outputs from

[2020-04-03 10:24] rsrinivasanhome commented on #51218
We are looking to get the time it takes for the user to get authenticated after the user has provided the user name and password ?

[2020-04-03 10:25] PramodValavala-MSFT commented on #51355
@eparizzi Just following up here... Hope my previous comment clears things up.

[2020-04-03 10:25] stefrostik commented on #51402
@DixitArora-MSFT , thanks, sorry for pushing.

[2020-04-03 10:26] PramodValavala-MSFT commented on #51519
@y10e Just following up here... Could you confirm the key that you are using in the policy would resolve to the same value for both APIs?

[2020-04-03 10:26] simonech opened #51634 "The expiry value for the SAS doesn't get computed on on Mac"
In the CLI command to create the sad, the command used to add 2hrs to the current time doesn't work on Mac.
`date -u -d "120 minutes" '+%Y-%m-%dT%H:%MZ'`
The `-d` is not a valid argument in macOS. To add 2 hrs to current time in terminal on macOS you should use `-v+2H`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02f

[2020-04-03 10:34] simonech opened #51635 "The generate sas command should also have a -o tsv option set"
If `-o tsv` is not specified, depending on the settings of the user (maybe default to `table`) the value returned might have some strange text in it. And you would skip the need for the `sed` command to strip out invalid characters (which doesn't work with table output)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02

[2020-04-03 10:34] turing-complet commented on #51606
That document shows how to access keyvault using a managed identity, it doesn't say anything about container registry access. I have already tried this and get the following error:
[code]

Just to reiterate - the scenario I'm talking about is deploying to a multi-container group, in such a way that it can pull images from a container registry. I'm aware of two ways to do this:
* hard code the regi

[2020-04-03 10:41] yoelhor commented on #51464
Dear @sgdesmet,

Thank you for sharing this information. I'm checking this issue, but in my unit test I see the opposite. Azure AD B2C never move on to the next validation technical profile, event if with `ContinueOnError="true"`. Could you elaborate on this issue? share your policy (please remove Identifiable data and try to isolate the issue)?

Enclosed pleas find a copy of my test policy.
[TP_v

[2020-04-03 10:42] slugerrist commented on #21763
Hi @ecfan ,

Thanks, I noticed the update on the documentation. Now I understand why it still doesnt work. That's because the MQ connector still doesnt support client authentication. I dont see how server authentication is of many use when the on-premise data gateway is configured to work within an enterprise where the server is already a trusted known entity, but maybe you have thought of other p

[2020-04-03 10:44] yoelhor commented on #51428
Dear Alex, I would greatly appreciate it if you kindly give me some feedback. Did you mange to build such federation using the doc I sent you. Do you need samples for QQ an webo as well?

[2020-04-03 10:56] fgheysels opened #51636 "Configuring an EventHub as a TSI eventsource for TSI PAYG using ARM"
When an EventHub is configured as an eventsource for Time Series Insights Preview using ARM, you need to specify the EventHub Name and the EventHub namespace name.
However, to specify the EventHub Namespace name, you'll need to do that via [a property `servicebusNamespace`](https://docs.microsoft.com/en-us/rest/api/time-series-insights/management/eventsources/createorupdate#eventhubeventsourcecrea

[2020-04-03 10:56] yoelhor commented on #51218
In the first orchestration step, you need to set the current date to a claims (sign-in-date), in the last orchestration step, send both the current date + the first one (the one the you set on the first orchestrate step). Note: Azure AD B2C doesn't have a claim transformation to compare the 2 dates. So, you call call a REST API to make the calculation, or compare the values on the application insi

[2020-04-03 11:07] fgheysels commented on #47235
Yeah, things like that happen when writing without syntax highlighting or stuff like that :)

Yes, that's exactly what I would expect with this JSON message.  Send 4 values, find 4 values back in TSI.

Thx, nice to know.

Does this mean that this also affects the way you need to specify your `timeSeriesIdProperties` ?  For the JSON message that I've posted earlier, the timeseries Id Properties are

[2020-04-03 11:09] fgheysels commented on #47235
Is this because the timestamp from my message was not in a correct format ? (The seconds issue ? )

[2020-04-03 11:15] juchom commented on #49186
How do you configure the app service to pull the image from ACR?

[2020-04-03 11:20] SnehaAgrawal-MSFT commented on #51517
@ishepherd Thanks again for the feedback! Request you to provide screen shots on this to help you better on this.

[2020-04-03 11:21] simonech opened #51637 "The template from the quickstart also include a resource of type networkSecurityGroups"
The template you get from the github repo also contains a resource of type `Microsoft.Network/networkSecurityGroups`, while it is not mentioned anywhere in this article. In which part of the dependency graph should it be?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f6eb602-fe75-1400-e683-39ae6308fdf6
* Version Inde

[2020-04-03 11:22] juchom opened #51638 "Difference between LinuxFxVersion & DOCKER_CUSTOM_IMAGE_NAME"
The web app has two settings for changing the docker image name.

It's not clear when to chose LinuxFxVersion or DOCKER_CUSTOM_IMAGE_NAME.

Could you please explain the difference please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f970943e-c7b4-919c-65ea-6ba20831e74d
* Version Independent ID: 90c5dd06-ea6d-7af8-f88

[2020-04-03 11:23] eparizzi commented on #51355
Yes, Azure CLI works great. Thank you.

[2020-04-03 11:23] #51355 closed

[2020-04-03 11:32] yejiyang opened #51639 "Deploy a Vue application to Azure App service through VS code not success"
I followed this tutorial [this tutorial](https://docs.microsoft.com/en-us/azure/javascript/tutorial-vscode-azure-app-service-node-01?tabs=bash) to deploy to Azure App Service using Visual Studio Code. It works nice.
When I try to deploy a Vue application (I create a HelloWorld Vue application from [Vue-Cli ](https://cli.vuejs.org/guide/creating-a-project.html)), all seems work until I open the fin

[2020-04-03 11:32] AshokPeddakotla-MSFT commented on #51624
@qusp66 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-03 11:35] AshokPeddakotla-MSFT commented on #51636
@fgheysels Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-03 11:36] eyusubov commented on #49873
Hi @haroldwongms, was this issue fixed?

[2020-04-03 11:38] ChrisAtMAF commented on #49234
Fixed for me in 2.0.2.89, released 3 days ago. Run Update-Module AzureADPreview.

[2020-04-03 11:40] AshokPeddakotla-MSFT commented on #51448
Glad to hear that you manged to resolve the issue. Appreciate for sharing the resolution.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-03 11:40] #51448 closed

[2020-04-03 11:41] AshokPeddakotla-MSFT commented on #51192
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-04-03 11:41] #51192 closed

[2020-04-03 11:43] Yxider opened #51640 "Documentation needs to be updated for download_file_from_directory"
This part is no longer working for download_file_from_directory:
file_client = directory_client.get_file_client("uploaded-file.txt")
downloaded_bytes = file_client.read_file()
local_file.write(downloaded_bytes)

Should instead be one additional step:
file_client = directory_client.get_file_client("uploaded-file.txt")
download = file_client.download_file()
downloaded_bytes = download .readall()
loc

[2020-04-03 11:44] Yxider commented on #51566
I agree with GuardatiSimone. One additional step is needed:
download = file_client.download_file()
downloaded_bytes = download .readall()

[2020-04-03 11:46] andriktr opened #51641 "AKS API server has wrong certificate SAN's"
Hi,
We have an issue with AKS apiserver certificate. This certificate has X509v3 Subject Alternative Names:
[code]
All entries are OK except the last one "IP Address:192.168.0.2" normally here should be internal kubernetes service cluster IP address which is our case is 192.168.0.1.

Due to this some pod like nginx ingress controller are crashing with appropriate log message:
`Unexpected error dis

[2020-04-03 11:57] RicardoNiepel commented on #51059
Any update to this?

[2020-04-03 12:09] rayhogan commented on #42540
Will the Graph API ever be able to update email for B2B users?

[2020-04-03 12:10] AshokPeddakotla-MSFT commented on #50717
@locherro We hope that answers your query.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-03 12:10] #50717 closed

[2020-04-03 12:14] KiselN opened #51642 "MaxConcurrentCalls = 1 in the example, is it correct?"
In the concurrency example the code sets `MaxConcurrentCalls` to 1. As far as I understand it will not result in messages being received concurrently. I guess the code is trying to showcase asynchronous message handling but this option seems unnecessary and confusing considering the snippet is placed in the "Concurrent operations" section

---
#### Document Details

⚠ *Do not edit this section. It

[2020-04-03 12:18] Oppedijk opened #51643 "View detected attacks shows Windows RDP, not failed SSH attempts"
Please remove the Windows RDP example, and show a linux example.
The question is does Security Center detect failed logins?

With some testing this does not seem to be the case

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fe1387d-841a-84b2-56fd-55f1935958d4
* Version Independent ID: aeb91a00-1494-4c73-4269-e8bb703d9

[2020-04-03 12:22] ChiragMishra-MSFT commented on #51291
@nkkinariwala This channel is for driving improvements towards MS Docs, Since this issue is not related directly to the doc,  I would recommend you to create a thread on the forums- MSDN / Stackoverflow. Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

We will now proceed to close this thread. If there are

[2020-04-03 12:22] #51291 closed

[2020-04-03 12:28] pmozbert opened #51644 "incomplete information about supported ARM functions"
The policy functions section gives a list of functions that cannot be used in policy ARM templates.  However, this is incorrect when it comes to the nested ARM template in the effect of a  deployIfNotExists policy.   The nested deployment template supports all ARM functions.  You should state this explicitly  a very useful feature of Azure Policy.
Also, the overall documentation on deployIfNotExis

[2020-04-03 12:36] spmanjunath opened #51645 "Error while saving policy file - "Policy size exceeds allowed limit of 16 KB""
While saving Policy file `Policy size exceeds allowed limit of 16 KB` Validation error is thrown.  Is this a limitation?  I am on Consumption tier, i couldn't find any documentation highlight such limitation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 250924d9-418b-9a24-90fe-5b3835c3b2a7
* Version Independent ID: c

[2020-04-03 12:39] rabindra-harlalka opened #51646 "Incorrect statement that OnStop method returns boolean"
&gt; The OnStart and OnStop methods return a boolean value, so it is possible to return false from these methods.
Only OnStart method returns a boolean value.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2089595-7b6e-25db-d558-66eb5e838cc7
* Version Independent ID: e2e3a9a0-8b3d-c6d6-e2bb-04245c104e02
* Content: [Ha

[2020-04-03 12:42] rhubley commented on #51583
sqlmlutils_0.7.1 cannot run without RODBCext

Error: package or namespace load failed for ‘sqlmlutils’ in loadNamespace(j <- i[[1L]], c(lib.loc, .libPaths()), versionCheck = vI[[j]]):
 there is no package called ‘RODBCext’

[2020-04-03 12:55] SubhashVasarapu-MSFT commented on #50941
@JohnGalt1717 , Appreciate your patience. This might be due to the version of your Helm. The documentation was written with helm V2 possibilities. You may encounter the above mentioned error while working with helm V3.
Solution : You need to specify "**--set appgw.usePrivateIP=false**"  in the install command.
validation changed with Helm 3. The error is caused because we do not have any default v

[2020-04-03 12:55] #50941 closed

[2020-04-03 12:55] HammadKamran commented on #46668
Hi @alex-frankel,

I signed up for the ARM Template Private Previews (What-If and DeploymentScripts).

![Capture](https://user-images.githubusercontent.com/49006960/78362781-930db900-75b2-11ea-9999-28869d70677d.PNG)

I'm getting a blank response as well but I guess that's because I haven't been added to the private preview, can you please add me to the private preview as well?

Thank you!

[2020-04-03 13:00] subodhpatil commented on #51543
Is this also supported on VWAN P2S with traffic going both S2S and Express g/w

[2020-04-03 13:03] JohnGalt1717 commented on #50941
Thanks!

This should be in the docs, and the team responsible needs to get the helm chart updated asap. (also the --name part won't work either)

[2020-04-03 13:04] jakaruna-MSFT commented on #51606
Nice. Did you added the acr pull role for the manged identity?

each identity has a service principal. you can exract the service principal using this command.
https://docs.microsoft.com/en-us/azure/container-instances/container-instances-managed-identity#create-an-identity

Then you need to assign scrpull role to that service principal with the scope to the target registry.

Then in yaml or CLi w

[2020-04-03 13:06] jakaruna-MSFT commented on #51103
@jonwbstr Thanks for the info.

 I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-03 13:21] BristolJim commented on #13496
I know this is old, and closed but the OP's issue is still relevant. The .htaccess provided in the root directory for tasks example still has:

`RewriteRule ^.*$ /public/$1 [NC,L,QSA]`

@BryanTrach-MSFT - I'm not sure what that means :) (or why the issue was closed).

The .* needs to be bracketed in order for the backreference to work:

`RewriteRule ^(.*)$ /public/$1 [NC,L,QSA]`

[2020-04-03 13:22] Neelkamal10 opened #51648 "Not Enable encryption to data disk"
[diskencryption.txt](https://github.com/MicrosoftDocs/azure-docs/files/4427434/diskencryption.txt)
The above script only enable encryption to OS Disk not to Data Disk .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6624ac60-ac29-5bec-a6af-cb5a6f482c21
* Version Independent ID: 404804fb-50cc-9ea2-35b4-f44738e6831c
* Co

[2020-04-03 13:29] stawo opened #51649 "Azure Data Factory Analytics queries do not display anything"
I tried to follow the section "Monitor Data Factory metrics with Azure Monitor".
I confirmed that the logs from the Data Factory are correctly stored as I also checked "Archive in a storage account", plus I can see them in the Log Analytics workspace I created by running the following query when I select the Data Factory as the scope:
AzureDiagnostics
| top 50 by TimeGenerated asc

The problem lie

[2020-04-03 13:33] DCtheGeek commented on #51644
#assign:DCtheGeek

[2020-04-03 13:33] DCtheGeek commented on #51644
@pmozbert Thanks for the feedback.  That list is intended to clarify which ARM functions can be used within the `if` portion of a policy rule.  All ARM functions are supported in an ARM template embedded in a `deployIfNotExists` policy definition. I'll clarify that portion.

Regarding examples, the [Built-in policies](https://docs.microsoft.com/azure/governance/policy/samples/built-in-policies) pa

[2020-04-03 13:36] tfurstms opened #51650 "In preview or GA?"
As of April 3, 2020 Direct federation with AD FS and third-party providers for guest users is listed as in "preview"; however, the Azure AD portal appears to show it as GA (no longer listed as preview).

Can you confirm if this capability is no longer in preview because some customers have policies that they can only use Azure AD capabilities in production when they are in a GA status. Thank you!

[2020-04-03 13:36] hypertrends opened #51651 "Ingest & Preview URLs Empty"
Hello, we have created the Live Event exactly as described using the code above. The Live Event gets created but the Ingest and the Preview URLs are empty and the code to access these URLs is failing: string ingestUrl = liveEvent.Input.Endpoints.First().Url;
string previewEndpoint = liveEvent.Preview.Endpoints.First().Url;

Is there anything specific we need to do here to make sure that these endp

[2020-04-03 13:38] KrishnaG-MSFT commented on #51615
@shriazure Thanks for the comment!
Assigning content owner @DCtheGeek for visiblity, review and document enhancement consideration.

[2020-04-03 13:38] DixitArora-MSFT commented on #51645
Hi @spmanjunath Thanks for reaching out. We will review and update as appropriate.

[2020-04-03 13:39] DixitArora-MSFT commented on #51642
Hi @KiselN Thanks for reaching out. We will review and update as appropriate.

[2020-04-03 13:39] KrishnaG-MSFT commented on #51635
@simonech Thanks for your comment! We will review and provide an update as appropriate.

[2020-04-03 13:40] DixitArora-MSFT commented on #51618
Hi @autodomme Thanks for reaching out. We will review and update as appropriate.

[2020-04-03 13:41] KrishnaG-MSFT commented on #51637
@simonech Thanks for your comment! We will review and provide an update as appropriate.

[2020-04-03 13:42] KrishnaG-MSFT commented on #51634
@simonech Thanks for your comment! We will review and provide an update as appropriate.

[2020-04-03 13:45] KrishnaG-MSFT commented on #51630
@nwipfli Thanks for the comment!
@Daya-Patil Can you provide clarification on @nwipfli's question i.e., When will a new version of the deployment planner be released ?

[2020-04-03 13:49] KrishnaG-MSFT commented on #51631
@nwipfli Thanks for the comment!

@Daya-Patil Can you provide clarification on @nwipfli's question i.e., How can we rely on the deployment planner which is an official Microsoft tool to assess productions for ASR projects ?

@rayne-wiselman Can you provide clarification on @nwipfli's question i.e., are the information on https://docs.microsoft.com/en-us/azure/site-recovery/vmware-physical-azure-su

[2020-04-03 13:51] othmarg commented on #46726
I need the same. MS support tells me to download it as csv and filter it with excel. Works but very laborious

[2020-04-03 13:52] KrishnaG-MSFT commented on #51622
@metoule Thanks for your comment! We will review and provide an update as appropriate.

[2020-04-03 13:54] PPreamble opened #51652 "Queries result in error"
' operator: Failed to resolve table or column or scalar expression named 'WVDErrorV1_CL'

If issue persists, please open a support ticket.

Even using only 'WVDErrorV1_CL' in the query results in error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1fbeb2fb-b956-ebb4-1d0b-fb32c5ecccd0
* Version Independent ID: f225fa84

[2020-04-03 13:55] KrishnaG-MSFT commented on #51588
@A298B112 Hope you have self resolved and hence closed the issue. Thanks for the update.

[2020-04-03 13:55] #51644 closed

[2020-04-03 14:01] DCtheGeek commented on #51615
@shriazure Thanks for the question!

- There are many examples for tags, I'd recommend reviewing them [here](https://docs.microsoft.com/azure/governance/policy/samples/built-in-policies#tags). Samples include getting values from resource group or even the tag on a subscription. A specific example of what you are looking for is here: https://github.com/Azure/azure-policy/blob/master/built-in-polici

[2020-04-03 14:01] #51615 closed

[2020-04-03 14:04] johnynitro opened #51653 "Syntax error"
Under the "Create Virtual Networks" section, it states: "Write the subnet configuration to the virtual network with Set-AzVirtualNetwork, which creates the subnet," however, if you look at the codeblock, it states: "$virtualNetwork1 | Set-AzVirtualNetwork" shouldn't this be "$subnetConfig | Set-AzVirtualNetwork?" Currently, it appears to be piping the VNET config, not the Subnet config? The next c

[2020-04-03 14:07] hypertrends commented on #51651
OK, I think the URLs are only provided when the service is auto-started. We can close this issue.

[2020-04-03 14:07] PramodValavala-MSFT commented on #51162
@mperdeck Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-03 14:07] #51162 closed

[2020-04-03 14:08] msrini-MSFT commented on #51543
With Azure vWAN, transit between P2S client and the Branch which is connected via S2S or Express route is supported.

[2020-04-03 14:10] asergaz commented on #51345
Hello @chris-han , I looked at the source code and found that [config.yaml](https://github.com/Azure/iotedge/blob/master/edgelet/contrib/config/windows/config.yaml) is using "\\\\" for homedir:

- homedir: "C:\\\ProgramData\\\iotedge"

Do you have an error when using \\\ ?

Thanks

[2020-04-03 14:10] DCtheGeek commented on #51509
@brandonbrownchenega Thanks for the question! I reviewed this with the engineers, and it actually works either way (with or without the quotations). However, it appears the portal is syntax highlighting this as "wrong".  The team took a task to fix that, so for now we'll correct this in the docs to align to the experience.  Thanks for pointing this out!

As @BharathNimmala-MSFT fixed this in linke

[2020-04-03 14:10] #51509 closed

[2020-04-03 14:20] GiftA-MSFT commented on #51456
@chidiewenike this appears to be a bug and a fix is underway. You can expect for the deployment to be completed by the end of next week. A deploy was made a few hours ago on the West Central US region, but the remaining regions have dependencies that only allow the patch to be applied next week. Feel free to try the West Central US region for the time being.

[2020-04-03 14:21] hypertrends commented on #51651
We realize that the Azure Portal allows you to create the Live Event and the Ingest URL without having to "Start" the Live Event. However, the SDK does not. Is there any way we can do that? From a workflow point of view, it helps for end-users to know what their ingest and preview URLs are going to be way in advance before they even start the stream. Happy to discuss our workflow (white-labeled) i

[2020-04-03 14:22] subodhpatil commented on #51543
Yes, but the question is will custom routes also work on VWAN ?

[2020-04-03 14:23] LuisCabrer commented on #38557
Actually, the question is not about this document... It's about the capabilities of the bing cognitive services. The goal of the document is to talk about custom skills, not necessarily all the capabilities of the bing cognitive service. But to answer the question:  Nothing has changed as to the bing cognitive services capabilities.

[2020-04-03 14:25] Fabiest opened #51654 "Wrong config in ssl.client.auth shown for HDI 4.0"
Under section https://docs.microsoft.com/en-us/azure/hdinsight/kafka/apache-kafka-ssl-encryption-authentication#update-kafka-configuration-to-use-ssl-and-restart-brokers, in step 7, for HDI 4.0, the image shows ssl.client.auth with value SSL. If you do this, the brokers don't even start.
Value should be required I believe.

[2020-04-03 14:30] Fabiest commented on #51654
Don't think I opened this right so i'm closing it. It can also be deleted.

[2020-04-03 14:30] #51654 closed

[2020-04-03 14:30] LuisCabrer commented on #51616
Unfortuanately I am not aware of doing that with the Bing API.
By the way, their API is documented at https://dev.cognitive.microsoft.com/docs/services/f40197291cd14401b93a478716e818bf/operations/56b4447dcf5ff8098cef380d

I would recommend asking for that capability on UserVoice, that is the more effective way to ask for feature requests -- so the team can track demand for particular capabilities:

[2020-04-03 14:30] shashishailaj commented on #51625
@deep-mm We are trying to check this internally and will update the same soon.

Thank you.

[2020-04-03 14:31] Fabiest opened #51655 "Wrong value for ssl.client.auth when HDI 4.0"
Under section https://docs.microsoft.com/en-us/azure/hdinsight/kafka/apache-kafka-ssl-encryption-authentication#update-kafka-configuration-to-use-ssl-and-restart-brokers, in step 7, for HDI 4.0, the image shows ssl.client.auth with value SSL. If you do this, the brokers don't even start.
Value should be "required" I believe.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2020-04-03 14:31] mapoitras opened #51656 "Different values from documentation"
These States don't appear to match what is described here:  https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.resourcemanager.models.subscription.state?view=azure-dotnet

Possible values are Enabled, Warned, PastDue, Disabled, and Deleted

My client has
Right now subscriptions with the following states which aren't in this documentation:
Enabled
Disabled
Warned

---
#### Docum

[2020-04-03 14:39] Lycrosa commented on #51543
Okay, is there any other way to enable force tunneling for P2S VPN?

[2020-04-03 14:41] asergaz commented on #51364
Thanks for the feedback @bamajeed ! You are correct, I cannot also see "Scopes" when adding a new filter on my rule:

![image](https://user-images.githubusercontent.com/22173500/78372026-a9bb0c80-75c0-11ea-9880-9db9b380c42d.png)

@dominicbetts could you please validate that this is a doc-bug and we need to remove that from here?

Your device template needs to expose deviceId as a Capability type P

[2020-04-03 14:41] 3vi1 opened #51657 "URL specified in the request does not match the reply URL"
I've gone through these steps and recreated the site twice, it was originally working but at some point I started receiving "AADSTS50011: The reply URL specified in the request does not match the reply URLs configured for the application" when logging in.  I do have the reply URL configured with my correct site name + /security/signin-callback, and I've verified that the app ID matches the app reg

[2020-04-03 14:45] shashishailaj commented on #38588
@MickQuinlan Hope you are good. We have got this scenario working . we are sorry for the delay on getting this done but earlier this was not working due to some back-end issue which was fixed. We have sent you an email and will be taking this further on the same. We will close this issue now. In case you have any queries , please do reach out to us on the same.

Thank you.

[2020-04-03 14:45] #38588 closed

[2020-04-03 14:52] bamajeed commented on #51364
Hi António,

Thanks for the reply. I am using the MXChip Template, but now I understand the issue.

Regards

Basim

From: António Sérgio Azevedo <notifications@github.com>
Sent: 03 April 2020 15:42
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Basim Majeed <Basim.Majeed@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Clarify enable an

[2020-04-03 14:55] jackchenquest opened #51658 "Private endpoint configuration can't pick up existing private DNS zone."
I am working on a POC of the private endpoint.  I tried to create it in one vnet already linked to a private zone with registration enabled, but the UI doesn't give me option to pick the existing private zone.

The private DNS zone for storage account won't be useful if I can't use the private DNS zone setup for VMs.

Do we have plan to support existing private DNS zone?

---
#### Document Details

[2020-04-03 14:58] ChrisMenegay commented on #42688
I just got informed from MS Support that when setting up the CNAME, the server name must be the same, so if you MI name is contosodb.842679cd38ef.database.windows.net then the CNAME in DNS must be ‘contosodb’.  This should be emphasized in the article

[2020-04-03 14:58] simonech opened #51659 "Get-AzUserAssignedIdentity doesn't exist"
The powershell cmdlet `Get-AzUserAssignedIdentity`, used in the code in the prerequisite, doesn't exist, not even when executing the command in Cloud Shell

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 392a35b2-9a8d-2368-cd1c-4940a9e7f374
* Version Independent ID: 883c1f69-4e8c-b2d4-3e30-d45eccbdbf33
* Content: [Use t

[2020-04-03 15:00] henriquebelotto commented on #50354
Please, re-open this ticket.

As another user pointed out, there is an issue with this feature.

[2020-04-03 15:00] HWouters opened #51660 "Localization PredicateGroup"
How can we localize the helptext of a PredicateGroup?
For example in this case:

&lt;PredicateGroup Id="CharacterClasses"&gt;
        &lt;UserHelpText&gt;The password must have at least 3 of the following:&lt;/UserHelpText&gt;
        &lt;PredicateReferences MatchAtLeast="3"&gt;
          &lt;PredicateReference Id="Lowercase" /&gt;
          &lt;PredicateReference Id="Uppercase" /&gt;
          &l

[2020-04-03 15:02] shashishailaj commented on #42684
@jgudsell We are sorry for the delay in getting this handled. We have found that the credentials.azure.com is URL for one of the services within the large Azure MFA architectures which was recently introduced are checking this with the content team. We will update this space shortly .

Thank you .

[2020-04-03 15:04] neeleshray-msft commented on #51324
@MicrosoftGuyJFlo Please check on the same if we have updated document on Server 2019

[2020-04-03 15:07] rajsshah86 opened #51661 "Detail list of type of storage account that support private link/endpoint is missing"
# Detail list of type of storage account that support private link/endpoint is missing

There is no list or link where in you can see which type of storage account are supported with private link/endpoints.

For eg.   Account kind : General purpose v1
                Replication : LRS
                Performance : Standard
Above storage setting does not support private endpoint . There is not link

[2020-04-03 15:07] dagiro commented on #51655
@Fabiest, Thanks for reaching out, I am looking into this and will provide a resolution shortly.

[2020-04-03 15:07] steve19922 opened #51662 "Enable-AzSqlManagedInstanceAdvancedThreatProtection"
At the moment there are available commandlets for manipulating the Advanced threat protection settings of a managed instance:

eg: Get-AzSqlDatabaseAdvancedThreatProtectionSetting , Get-AzSqlServerAdvancedThreatProtectionSetting

However, these only work for Databases and SqlServers, but not for a Managed Instance.

It would be really helpful to have a commandlet specific for the Managed Instances

[2020-04-03 15:10] BharathNimmala-MSFT commented on #51612
@Leejung168  Thank you for your feedback , our team will further look into it and get back to you at the earliest.

[2020-04-03 15:11] henriquebelotto opened #51663 "data-preload="true" doesn't work when using Azure Containers"
Hello,

I have reported a very similar issue few weeks ago, and later on, another user reported the same issue, but it wasn't move back to Open, so I'm opening another issue.

When I use the tag "data-preload="true"" and the Azure container, as explained in this page, the unified.html and self-asserted.html doesn't work and thrown an exception in console. I have done this test multiple times, if I

[2020-04-03 15:13] YutongTie-MSFT commented on #51153
@chrismeeky
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-04-03 15:13] #51153 closed

[2020-04-03 15:13] grAIces commented on #41499
Please please PLEASE update this cause I spent 5h trying to find the mistake. The issue is closed but nothing has been done so far as far as I'm concerned.

[2020-04-03 15:16] YutongTie-MSFT commented on #51182
@vikramdadwal Hi, if you are asking how to set the max number, @RohitMungi-MSFT has answered the question. If you need more details about the max number the API can output, hope @diberry can help. ^^

[2020-04-03 15:17] BharathNimmala-MSFT commented on #51659
@simonech Thank you for bringing this to our notice, we will look into it and get back to you shortly.

[2020-04-03 15:21] Zyxer22 commented on #51579
I realize now that the deprecation I mentioned is for a different product - I am however still seeing this issue with the listed options

[2020-04-03 15:21] gtgcerint opened #51664 "Issue with redirect URL"
If you follow the exact steps above you will get the error AASDRS50011. To solve it you need to change the build of the client and force the localhost url

            PublicClientApp = PublicClientApplicationBuilder.Create(ClientId)
                  .WithAuthority(AadAuthorityAudience.AzureAdAndPersonalMicrosoftAccount)
                  .WithLogging((level, message, containsPii) =&gt;

[2020-04-03 15:25] kwill-MSFT opened #51665 "#storage-limits incorrectly points to Media Services"
https://docs.microsoft.com/en-in/azure/azure-resource-manager/management/azure-subscription-service-limits#storage-limits

This link (from the "Storage Limits" link in the right-hand nav bar) incorrectly goes to a 'storage limits' subtopic under Media Services.  It should instead link to the Storage Service limits anchor.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-04-03 15:42] brentschmaltz commented on #50379
@mike7ang1rdz can you describe your scenario, wcf is a rather large runtime with many possibilities and bindings.
'
what is your security model?
what bindings are you using?

[2020-04-03 15:51] YutongTie-MSFT commented on #51248
@VOLOTD Hi, to export the KB, please go to your KB from https://www.qnamaker.ai, click "EDIT"
![image](https://user-images.githubusercontent.com/38084098/78380063-254c9780-7588-11ea-9c64-1bb98d31bf2a.png)
You can see the option to export the KB. Please let me know if you have more question. I am closing it for now.
We will now proceed to close this thread. If there are further questions regarding

[2020-04-03 15:51] #51248 closed

[2020-04-03 15:54] ezYakaEagle442 opened #51666 "Provide CLI snippet to Associate a WAF policy with an existing Application Gateway"
Could you please provide a CLI snippet to Associate a WAF policy with an existing Application Gateway ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ee1c7b9-9a37-6bff-c82f-86266767d738
* Version Independent ID: fde4aea7-e78a-129d-8f6b-d6de65285aa5
* Content: [Associate a Web Application Firewall policy with an exist

[2020-04-03 15:54] Mike-Ubezzi-MSFT commented on #51583
@rhubley Thank you for verifying. I was attempting to test this against a ML SQL instance but was not able to test adding the glue package. Thank you for verifying.

[2020-04-03 15:55] Dmitry-Me opened #51667 "March 2020 Guest OS page section contains broken links"
This page: https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-guestos-msrc-releases in its "March 2020 Guest OS" section contains a table listing updates. Each update comes with a link to KB. All such links are broken - such as

    https://support.microsoft.com/kb/4540694%C2%A0 <<< NOTE %C2%A0!!!

each link contains percent-encoded characters. Internet Explorer fails to follow s

[2020-04-03 15:56] julieMSFT commented on #51609
@golfalot Thank you for your input. I will look into this.

[2020-04-03 15:57] izzy1993 opened #51668 "Unable to assign ContentType in broker_properties"
On the Azure service bus documentation page https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-python-how-to-use-queues#feedback

I cannot alter/assign the ContentType property with the broker_properties of a Message

 msg = Message(jsonData) ,
                          broker_properties = {"Label": "Shell.Energy.Europe.Power.Meter.Actual",

[2020-04-03 15:59] v-liatba opened #51669 "Is it possible to retrieve managed identity using ARM template"
How can I retrieve managed identity for Data Factory using ARM template which will eventually be used in linked service?

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9075f4a4-f8ca-9143-8998-41e2be0b39b8
* Version Independent ID: 60c67249-9bd5-0a3c-10e3-839d44922d2e
* Content: [Managed identity for Data Factory - Azure Da

[2020-04-03 16:02] bandersmsft commented on #51323
#please-close

[2020-04-03 16:02] #51323 closed

[2020-04-03 16:05] RyanHill-MSFT commented on #51638
Thanks for the feedback @juchom! We are currently investigating and will update you shortly.

[2020-04-03 16:06] RyanHill-MSFT commented on #51639
Thanks for the feedback @yejiyang! We are currently investigating and will update you shortly.

[2020-04-03 16:09] arunkp89 commented on #50753
Ok, then you need to update the stonith with appropriate host mapping. Something like below,

#sudo pcs stonith update rsc_st_azure pcmk_host_map="OSNAME1:PORTALNAME1;OSNAME2:PORTALNAME2"

Please modify the parameters accordingly.
OSNAME --- should be the node name what #pcs status shows &&
PORTALNAME --- Name of the VM in Portal.

[2020-04-03 16:09] msrini-MSFT commented on #51653
@johnynitro , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-04-03 16:11] msrini-MSFT commented on #51543
It is possible it WAN but this feature is not generally available yet. It is in preview and no ETA on when this feature will go GA.

[2020-04-03 16:17] Mike-Ubezzi-MSFT commented on #51583
@rhubley With R 3.4, the RODBCext package is available. https://cran.microsoft.com/bin/windows/contrib/3.4/RODBCext_0.3.1.zip

[2020-04-03 16:18] brandonbrownchenega commented on #51509
@DCtheGeek Ahh, thank you, that makes sense. I was using the policy editor with this example and it did indeed highlight the syntax error. Good information!

[2020-04-03 16:19] NavtejSaini-MSFT commented on #51259
@slopezv2 Please let us know if you need any further help here or we will go ahead and close the thread by EOD.

[2020-04-03 16:25] D-Moonesinghe opened #51670 "Should this mention Hot and Cold Storage"
The chart seems to miss one big point.  Hot vs Cold Storage.
https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-storage-tiers?tabs=azure-portal.
Or did I misunderstand this article.

Also according to link below Gen1 offers LRS, GRS & RA-GRS replication.
https://docs.microsoft.com/en-us/azure/storage/common/storage-account-overview?toc=/azure/storage/blobs/toc.json

---
#### Documen

[2020-04-03 16:28] nmakarov-artis opened #51671 "Can't donwload notebook"
Get error message every time

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4503d33-cbe7-c6a2-4e12-29e4b7008517
* Version Independent ID: 12b28e6a-62ec-29e2-d942-5ce43b08afe5
* Content: [scikit-learn model deployment on Azure ML - Azure Databricks](https://docs.microsoft.com/en-us/azure/databricks/applications/mlflow/

[2020-04-03 16:31] jmprieur commented on #45068
@binhnguyen1984 : did you have a look at this tutorial: https://github.com/Azure-Samples/ms-identity-dotnet-desktop-tutorial
(this is work in progress)

[2020-04-03 16:40] Mike-Ubezzi-MSFT commented on #51259
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-04-03 16:40] #51259 closed

[2020-04-03 16:40] MarileeTurscak-MSFT commented on #51664
@gtgcerint
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-03 16:42] MarileeTurscak-MSFT commented on #51650
@tfurstms
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-03 16:43] MarileeTurscak-MSFT commented on #51629
@ManoKanmani
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-03 16:44] MarileeTurscak-MSFT commented on #51660
@HWouters
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-03 16:45] alex-frankel commented on #46668
Hi @HammadKamran - there is going to be a public preview release of the module on [powershell gallery](https://www.powershellgallery.com/packages/Az.Resources) on 4/7. I might recommend waiting until that happens to start using what-if. If you need it earlier, I can onboard you today.

You should have access to the DeploymentScripts private preview. Can you give it a try? Docs are here: https://do

[2020-04-03 16:46] lyrana commented on #47235
Yes, that's correct, after these changes go into affect they will be applied to new TSI environments, thus you'll need to update your ARM templates. We will be sending out a communication to subscription owners as well as updating the docs.

Yes, exactly that. I had copied the exact values above and didn't realize the missing digit, when we are unable to use the configured timestamp property we de

[2020-04-03 16:51] SaurabhSharma-MSFT commented on #51663
@henriquebelotto Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-03 16:52] CeciAc opened #51672 "--attach-acr does not work for AKS cluster with MSI"
@aristosvo commented on [Fri Apr 03 2020](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/585)

`az aks update -n testmsi -g aks-rg --attach-acr testmsi` failed with `Could not create a role assignment for ACR. Are you an Owner on this subscription?`

Cluster is created with command `az aks create -g aks-rg -n testmsi --enable-managed-identity`

---
#### Documentdetails

⚠ *Dit gedeelte n

[2020-04-03 16:53] HammadKamran commented on #46668
Hi @alex-frankel,
If you would be kind enough to get me onboard that early then it would save me loads of time trying to search for alternative ways to differentiate between 2 different versions of ARM templates. I'm trying to find ways to do that so that I can configure e.g. Logic Apps to be deployed to a new RG only if it has been modified. Open to ideas and suggestions :)

I will try to access

[2020-04-03 16:53] rhubley commented on #51583
SQL 2019 has R version 3.5.2 installed

I'm having other problems installing packages to the server after installing RODBCext from github.

Maybe this isn't supported for OnPrem installs

[2020-04-03 16:57] edemen commented on #23789
@pierluigilenoci
Thank you for replying.
I have managed to get Azure AD and oauth2 proxy working today, but I am finding that many settings end up in error 500 caused by error 400 returned by login.live.com (more details in https://github.com/MicrosoftDocs/azure-docs/issues/23789 )
Essentially, if I use `set-authorization-header: "true"`, authentication with oauth2 proxy stops working at all with

[2020-04-03 16:59] msrini-MSFT commented on #51595
Lets say I already have 2 rules in WAF and I need to add 3rd rule, here is a sample:

$var3 = New-AzApplicationGatewayFirewallMatchVariable -VariableName RequestUri
$condition3 = New-AzApplicationGatewayFirewallCondition -MatchVariable $var3 -Operator GeoMatch -MatchValue "IN"  -NegationCondition $False
$rule3 = New-AzApplicationGatewayFirewallCustomRule -Name allowUS -Priority 15 -RuleType MatchR

[2020-04-03 17:00] msrini-MSFT commented on #51522
I will work internally to get this info documented. Thank you again for your feedback.

[2020-04-03 17:00] #51522 closed

[2020-04-03 17:03] yegu-ms commented on #51260
@SitecoreAgent Yes I can confirm that we've extended the deadline to May 11.

[2020-04-03 17:03] yegu-ms commented on #51260
#please-close

[2020-04-03 17:03] #51260 closed

[2020-04-03 17:06] KranthiPakala-MSFT commented on #51632
@pemar-MSFT
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2020-04-03 17:12] KranthiPakala-MSFT commented on #51669
@v-liatba Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-04-03 17:13] KranthiPakala-MSFT commented on #51649
@stawo  Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate

[2020-04-03 17:14] shashishailaj commented on #51254
@LeonardoFelippine  Hybrid Azure AD join relies on Device registration to azure AD tenant . The reason why Hybrid Azure AD join is unsupported while you sync your users to multiple tenants is because you can only have one SCP endpoint per forest and provide one single tenant name during the SCP selection while configuring this thorough Azure AD connect . [Hybrid Azure AD join requires you to have

[2020-04-03 17:14] Karishma-Tiwari-MSFT commented on #51621
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-03 17:15] Jason-ACESGroup opened #51675 "Instructions are out of date"
The instructions and screen shots on this page do not match up with today's screens and user experience - please update this page when able.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96b35262-d52a-00f0-e8f8-225322f9c156
* Version Independent ID: dd46aa98-a9b7-954e-77a5-1f2a0bcf3879
* Content: [Tutorial - Archive d

[2020-04-03 17:17] ravick4u opened #51676 "CancellationToken with PowerShell"
Can we use CancellationToken when building a function with PowerShell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04c9d43d-5bd2-87c6-2ccf-0c65ef193760
* Version Independent ID: 6bf46ebc-481f-e4ef-b269-99bf99434601
* Content: [Create your first function in Azure using Visual Studio Code](https://docs.microsoft.com/e

[2020-04-03 17:17] Karishma-Tiwari-MSFT commented on #51641
Is there something in any specific Azure doc doc you are looking to have updated or are having issues with? If yes, please share the link to the documentation. The scope for these doc issues is to help identify gaps and issues with the documentation.

Else, if you are looking for help with troubleshooting issues I would suggest reaching out to the [MSDN](https://social.msdn.microsoft.com/Forums/wi

[2020-04-03 17:18] MartinJaffer-MSFT commented on #51671
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-04-03 17:18] ecfan commented on #51214
@dcbrown16, as PM is considering this suggestion, I'll add a work item to our backlog if approved. Closing this thread for now. Thanks!

@ketan-chawda-msft: #please-close

[2020-04-03 17:18] #51214 closed

[2020-04-03 17:20] andriktr commented on #51641
Yep, agree, bit wrong place, will close the issue

[2020-04-03 17:20] #51641 closed

[2020-04-03 17:20] alex-frankel commented on #46668
I just added you.

You want to compare two undeployed ARM templates? Or compare one already deployed to an updated one? If it's the latter than What-If should be helpful.

[2020-04-03 17:21] shreedhargowda commented on #51610
Thanks for quickly addressing it.

[2020-04-03 17:26] poochwashere commented on #47793
Yup, I read this entire  page looking for that information provided by the link above. please include in the doc how to enable CAS on existing clusters.

[2020-04-03 17:28] Karishma-Tiwari-MSFT commented on #51643
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-03 17:33] BryanTrach-MSFT commented on #13496
@BristolJim I agree! I must have written that late at night. Thank you for pointing out the issue.

I reached out to the doc author and requested them to approve the PR as I lack permissions myself.

[2020-04-03 17:35] JasonWHowell commented on #51655
#reassign:dagiro

[2020-04-03 17:39] MladjoA commented on #51607
@adekle , this is a defect. Elastic Query component in some circumstances unnecessarily inspects objects in the wider environment – not just those that are relevant for the remote query but also other objects that appear it the local query. We plan to fix it with the next refresh of EQ bits, it will take several months.
I hope you can use a workaround in the meantime. For example, the contents of

[2020-04-03 17:49] #47782 closed

[2020-04-03 17:49] vladvino commented on #51645
Yes, there is a limit - see https://aka.ms/apimlimits. Looks like we bumped the limit from 4KiB to 16KiB but didn't update the doc. I'll fix it.

[2020-04-03 17:50] elamalani commented on #51430
@aximobile  You don't need to publish to Windows Store to use Windows Push Notification Services. You can register your app in Windows Developer Center with Windows Push Notification Services like the tutorial suggests.

[2020-04-03 17:55] Mitaric opened #51677 "This machine was recently offboarded. Onboard VM Insights to view Map data."
I have incorporated the VM Insights JSON into my VM Templates, but am receiving the error "This machine was recently offboarded. Onboard VM Insights to view Map data." when I try to view Insights on the Virtual Machine Blade.  I made sure to include both the Dependency Agent along with the Microsoft Monitoring Agent.  After deployment, and seeing the error posted above, it wants me to Enable Insig

[2020-04-03 17:55] ecfan commented on #21763
@mike-urnun-msft or @PramodValavala-MSFT, could please change the assignee to @ChristopherHouser? Thanks!

[2020-04-03 18:04] ecfan commented on #5988
@sberkovitz, thanks! I've passed on this scenario to the product team.

[2020-04-03 18:06] SumanthMarigowda-MSFT commented on #51628
@jeffw-wherethebitsroam Thanks for your question. We are checking on this and will respond to you soon.

[2020-04-03 18:06] SumanthMarigowda-MSFT commented on #51640
@Yxider Thanks for your question. We are checking on this and will respond to you soon.

[2020-04-03 18:14] mark-manticore commented on #33157
Just hit this today. Found this thread after setting soft delete retention to 30 days and finding you can't change it. Would love this fix to roll out.

[2020-04-03 18:14] laurenhughes commented on #50347
PR has been merged, thanks again @lastcoolnameleft

#please-close

[2020-04-03 18:14] #50347 closed

[2020-04-03 18:21] richardeakin commented on #51386
Yes thanks - looking forward to testing when it lands. We're also using Jetson TX2s.

[2020-04-03 18:26] Karishma-Tiwari-MSFT commented on #51095
https://github.com/MicrosoftDocs/azure-docs-pr/pull/110193

[2020-04-03 18:28] robertgreeneahp commented on #33988
@rhythmnewt I'm curious how this turned out for you.  We are in a similar situation with an app that only allows access from certain IPs.  We have 47 hosts in our WVD pool.  All are currently using the same Public IP it seems, but we did not assign it and I'm worried about it changing.

Scenario 2 in the article below suggests the IP is assigned to the Set for life and it wont change so long as th

[2020-04-03 18:47] #51458 closed

[2020-04-03 19:12] Vc921N13 opened #51678 "Unable to create a new CDN profile"
I've spent about an hour with support and they asked me to leave feedback here.  I was attempting to add a new CDN profile to my storage account but kept getting an error.  Here is an example of the syntax support requested I use:
New-AzCdnProfile -ProfileName mynewcdn -ResourceGroupName myresourcegroup -Sku Standard_Akamai -Location "WestUS"
New-AzCdnProfile: Operation returned an invalid status

[2020-04-03 19:28] brendanrempel commented on #11450
Has anybody said how to fix this problem?  I don't get it on all my containers but consistently on the ones that do.  None of these post's links have any workarounds or solutions

[2020-04-03 19:31] Karishma-Tiwari-MSFT commented on #51665
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-03 19:31] kristerkarto opened #51679 "TIMESTAMP BY EventDate does not seem to alter {datetime} in path"
Trying to use custom datetime pattern, especially Hive pattern, but the datetime field does not seem to be altered by TIMESTAMP BY EventDate, but still gives me injected time. Is this normal behaviour? If thats the case, it should be noted as a limitation to avoid searching for answers and debugging.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2020-04-03 19:32] Karishma-Tiwari-MSFT commented on #51648
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2020-04-03 19:34] Karishma-Tiwari-MSFT commented on #51661
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2020-04-03 19:34] Karishma-Tiwari-MSFT commented on #51662
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2020-04-03 19:36] Karishma-Tiwari-MSFT commented on #51667
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-03 19:40] chenlomis commented on #49249
@dbradish-microsoft Is this something we could help with

[2020-04-03 19:42] Karishma-Tiwari-MSFT commented on #51538
As per the doc, it is not supported any more.
[This](https://www.oracle.com/a/ocom/docs/elsp-lifetime-069338.pdf) says, only extended support available.

[2020-04-03 19:43] Karishma-Tiwari-MSFT commented on #51527
Is there any update?

[2020-04-03 19:44] palma21 commented on #38600
If you specify it to be /24 than it's /24 if you specify it be 27/ than that's what it will be.

This is referring to the node range, which would have a max of around 30 nodes (20-25 recommended) with some buffer to scale or upgrade.

It continues below on the same line:

There is no reference to --pod-cidr in the above paragraph. This is referent to the size of your Azure subnet and it will give

[2020-04-03 19:44] Karishma-Tiwari-MSFT commented on #51531
Is there any update?

[2020-04-03 19:44] Karishma-Tiwari-MSFT commented on #51532
Is there any update?

[2020-04-03 19:46] markjbrown commented on #51520
@balukantu you can contact support to discuss options for different backup frequencies.

Regardless of what tool you use or how you perform CRUD operations on Cosmos, operations always consume RU.

Thanks.

[2020-04-03 19:52] markjbrown commented on #51605
I don't know how these would be hard to find, as indicated earlier, the page you filed this issue on had the cli sample you were looking for.

Finding this content is also not difficult. The top 2 search results in Google for "cosmos db service endpoints" are both our docs for how to do this. Bing is not bad either and within the top 4 results.

I'm the first to admit our docs can always get bette

[2020-04-03 19:59] Karishma-Tiwari-MSFT commented on #51357
@Heidilohr Can you please take a look at this request? Thanks :)

[2020-04-03 19:59] jeffqu17 commented on #41001
@StingyJack I would be interested in your solution as I am encountering the same issue. Trying to connect to sql azure via powershell using MFA.

[2020-04-03 20:00] Karishma-Tiwari-MSFT commented on #49190
Apologies on the delay. Were you able to resolve this issue?

[2020-04-03 20:03] zingledot commented on #15122
This is marked as resolved, but the article is updated and an answer not given to the original question.

[2020-04-03 20:09] msmimart commented on #43642
Thanks again for your feedback and apologies for the delay while we were looking into this. Please see the new Azure AD entitlement management recommendations and the updated [create invitation api](https://docs.microsoft.com/graph/api/invitation-post?view=graph-rest-1.0&tabs=http) article. I hope this helps--we'll close this issue now, but let us know if you have further concerns.
#please-close

[2020-04-03 20:09] #43642 closed

[2020-04-03 20:13] TravisCragg-MSFT commented on #51612
@Leejung168 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-03 20:14] Mike-Ubezzi-MSFT commented on #51502
@benjamin-goldman We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion. If you don't have an [Azure Support Plan](https://azure.microsoft.com/en-us/support/plans/) to file a support request, please send me your Subscription ID and I have this tracked through the correct channel. Thank you!

[2020-04-03 20:14] #51502 closed

[2020-04-03 20:14] kfolkes opened #51681 "Add Portal View for Web App Creation to Documentation."
For ALL the application can you please provide a Portal Deployment View. Many times people already have an application just want to deploy and would like to have that experience represented in documentation not just all through VS Code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 116d6e28-471b-2cf4-3eb8-6249b4ef3016

[2020-04-03 20:16] tfitzmac commented on #51665
@kwill-MSFT - thanks for this feedback. I am submitting a fix that should get published today.

[2020-04-03 20:16] alpizano opened #51682 "mvn azure-functions:deploy creates 'not valid storage account name'"
Hi, I'm following this microsoft tutorial below and trying to deploy my azure function using the **mvn azure-functions:deploy** command. My function app name/artifactid is **ci-cd-demo**:
https://azure.microsoft.com/en-us/resources/videos/azure-friday-java-in-azure-functions/

However,  I receive an error:
[code]

I logged into the azure portal and created a Storage account. I also did this manual

[2020-04-03 20:17] msmimart commented on #44350
Thanks for the suggestion--I’ve added it to our documentation backlog for consideration in a future article update. Just wanted to let you know that we're tracking this internally. #please-close

[2020-04-03 20:17] #44350 closed

[2020-04-03 20:18] tfitzmac commented on #51665
#please-close

[2020-04-03 20:18] #51665 closed

[2020-04-03 20:18] mslot commented on #48379
I can see and completely understand that it is an edge case. Actually I use the docs so much that I have the two links as a remembered address in Edge :) I visit these pages a lot.

[2020-04-03 20:19] BharathNimmala-MSFT commented on #51186
@amergey Thank you for being patient on this , @dsindona is working with our internal teams to get answer for you, the thread will be updated accordingly.

[2020-04-03 20:23] renil commented on #43702
Why setting on key vault called: "Allow trusted Microsoft services to bypass this firewall?" is not enough for this to work?

[2020-04-03 20:24] kfolkes commented on #51639
https://docs.microsoft.com/en-us/visualstudio/javascript/publish-nodejs-app-azure?view=vs-2019.  I would makes sure  ssh into the container and check the container logs to see if your  npm install - package.json is loaded as well as FTP into the site and check the components of the /wwwroot folder. If  need more help I suggest support ticket the App Service OSS team will be glad to help you.

[2020-04-03 20:24] SubhashVasarapu-MSFT commented on #50962
@sollender , Appreciate your patience. The error indicates that you are not authorized identity to access the resource group "resourceGroups/microsoft-network-centralus". You should possess a contributor role for that particular resource group to access. so, you should be part of the users list or group who can access the resource group. Access can be given through access control (IAM) on the blad

[2020-04-03 20:24] #50962 closed

[2020-04-03 20:24] MattHartz commented on #51296
@DixitArora-MSFT I added a SO post.
https://stackoverflow.com/questions/61016198/new-azeventgridsubscription-the-attempt-to-validate-the-provided-endpoint-fail

[2020-04-03 20:27] SubhashVasarapu-MSFT commented on #51052
@hisasima , appreciate your patience. We have assigned this issue to the respective content author for updating the document accordingly. Could you please provide some more details about the error that you were facing during integration for better analysis.

[2020-04-03 20:31] KranthiPakala-MSFT commented on #51679
@kristerkarto Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2020-04-03 20:33] MatthewMcD opened #51684 "Use Connect-AzAccount rather than alias Login-AzAccount"
If you care you might want to update the scripts to use Connect-AzAccount instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c12f1ea9-6446-be01-22fe-885fb945d22c
* Version Independent ID: 634f8ace-1a8c-6811-627b-fdfbdd1942a3
* Content: [Use an Azure file share with Windows](https://docs.microsoft.com/en-us/azure/s

[2020-04-03 20:39] MartinJaffer-MSFT commented on #51671
Hello @nmakarov-artis where exactly are you getting the error?  Are you trying to download the link?  Please see below video on how to import the notebook.
![importbrickbook](https://user-images.githubusercontent.com/46612670/78403000-74a6be00-75b0-11ea-9fa2-c731c3703889.gif)

Let me know if this helps.

[2020-04-03 20:44] SubhashVasarapu-MSFT commented on #51269
@zhusulai , Appreciate your patience. You should be able to deploy custom rules using Azure CLI. Here is the [doc](https://docs.microsoft.com/en-us/cli/azure/network/application-gateway/waf-policy/custom-rule?view=azure-cli-latest) for your reference.
**Ex :**
[code]

[2020-04-03 20:45] MatthewMcD opened #51685 "The Connect Pane Screenshot is Out of Date"
The screenshot for the Connect pane is out of date.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c12f1ea9-6446-be01-22fe-885fb945d22c
* Version Independent ID: 634f8ace-1a8c-6811-627b-fdfbdd1942a3
* Content: [Use an Azure file share with Windows](https://docs.microsoft.com/en-us/azure/storage/files/storage-how-to-use

[2020-04-03 20:46] simonech commented on #51659
Yeah, no problem making it work. Just pointing it out so that docs are improved

Sent from my iPhone

[2020-04-03 20:52] mumian commented on #51659
@simonech - I appreciate your help.  I will get the content updated ASAP.

#please-close

[2020-04-03 20:52] #51659 closed

[2020-04-03 20:54] v-erswar commented on #51667
I'll take a look at it and get them repaired.

[2020-04-03 20:54] TravisCragg-MSFT commented on #48953
@staal-it your best bet is to look for server specific guidance for this in 3 steps:

1) Set up a DNS server on the OS version
2) point the DNS name of the SQL Server to the private DNS zone
3) Point your app service to use that DNS server.

These steps can differ for different types of App Service deployments and operating systems, your best bet is to look for OS specific guidance for these steps

[2020-04-03 20:54] #48953 closed

[2020-04-03 21:07] mike-urnun-msft commented on #51676
@ravick4u Thank you for your feedback! We will review and update as appropriate.

[2020-04-03 21:07] MWsys opened #51687 "Documentation out of date, enforces bad values . Screenshots need update"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-04-03 21:09] mike-urnun-msft commented on #51668
@izzy1993 Thank you for your feedback! We will review and update as appropriate.

[2020-04-03 21:11] Khyzdul commented on #45071
So, I have gotten to the point that the SAML Assertion issued by Azure AD is accepted by login.microsoftonline.com/<tenant-id>/OAuth2/v2.0/token however I get the same error you are getting:

AADSTS50107: The requested federation realm object 'https://sts.windows.net/<tenant-id>/' does not exist.

I am asking for the following grant-type: 'urn:ietf:params:oauth:grant-type:saml2-bearer' to access t

[2020-04-03 21:12] johnjohnjohn87 opened #51688 "Changing Event Set with Existing MMA Installations"
If the event set is changed on the connector page, does that change make it down to the device? Or is any configuration required at the device level for an event set change? We have several instances where existing MMA agents are installed and we will be adding a second workspace ID for log collection using this connector. Will changing the event set level for the security events connector affect

[2020-04-03 21:17] kgremban commented on #51273
@orionJag I wanted to follow up on this issue because in your original description you mentioned getting an error because the runtime can't find the container image repository in your container registry, and that you can't see it either when you go check the container registry.

Are you getting errors when you run build and push in Visual Studio Code?

You also referred to your image repository in

[2020-04-03 21:29] MarileeTurscak-MSFT commented on #51675
@Jason-ACESGroup
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-03 21:34] BillSproule commented on #49190
The existing Hyper-V deployment on Windows Server 2019 is fragile and its robustness should be improved by the product engineering team.

Until the product is more robust, the documentation should be updated to indicate that only viable option to enabling hyper-V is to reboot twice after enabling hyper-V with some settle (sleep) time after the initial enabling and after each reboot.  While this so

[2020-04-03 21:38] MarileeTurscak-MSFT commented on #51581
You're right. It's .5 hours. I'm making a pull request to update this doc.

![image](https://user-images.githubusercontent.com/13383753/78407043-c5bab000-75b8-11ea-8a91-5a6ef555d90d.png)

[2020-04-03 21:41] nmakarov-artis commented on #51671
I would get this message when trying to download the notebook in Chrome:

[cid:image001.png@01D609D6.B388B2E0]
Tried it in Edge, and it works! Weird.

Thanks,

Nikita

From: MartinJaffer-MSFT <notifications@github.com>
Sent: Friday, April 3, 2020 3:40 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Nikita Makarov <NMakarov@artisconsulting.com>; Mention <mention@noreply.github.c

[2020-04-03 21:41] MarileeTurscak-MSFT commented on #51581
Just made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/110237

Thanks @challengelogic !

[2020-04-03 21:41] #51581 closed

[2020-04-03 21:42] dagiro commented on #51655
@Fabiest, Thank you again for bringing this to our attention. I have updated the screen shot. The update should be visible shortly.

[2020-04-03 21:47] v-erswar commented on #51667
OK, got fix checked in, though not quite sure where/how it got there.  Something in the beginning of the article file was messing up the href links.  Had to copy-paste the first part of the article into notepad and then copy-paste the text back into the article and the links are working now.

[2020-04-03 21:50] sheyitx opened #51689 "AADB2C: A claim with id 'UserId' was not found"
The instruction for step 8 above (Leave the default values for Scope, Response type, and Response mode.) should be changed to reflect that scope should be set to: openid profile

Otherwise you run into problem described in: https://github.com/MicrosoftDocs/azure-docs/issues/29431

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-04-03 21:52] Grubbslinger commented on #30211
Is there an update on the FaultDomainRedirect logon error either having a code or being added to the list so we can understand what it means?

[2020-04-03 21:54] pawarbi opened #51690 "Installing Python libraries"
Statsmodels library is not pre-installed in the Designer. I installed it using Execute Python Script (EPS) with the following code:
`os.system(f"pip install statsmodels")`
`import statsmodels.api as sm`

EPS runs fine and code is executed without any issues but If add another EPS to the canvas and try to import statsmodels again, I get an error. It looks like I have to re-install statsmodels every

[2020-04-03 22:00] MashaMSFT commented on #50116
Hi @ChrisSommers , thank you for your patience! These are two alternative solutions, one is free while the other is paid. They also provide different retention period options.

I hope that helps and please let us know if you have further questions.

Thanks!
Masha from the SQL Docs team

[2020-04-03 22:06] MashaMSFT commented on #44338
Hi @CalvinG-MSFT  and @screamtracker , thank you for bringing this to our attention! I have proceed a change to the documentation, adding this requirement as a note. This change should be live early next week. I'm going to proceed with closing out this Git Issue.

Please let me know if there is anything further we can do for you, and thank you so much for helping improve our documentation! I hope

[2020-04-03 22:12] asergaz opened #51691 "delete me"
This is a test. Please delete

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f93fe26-0fea-1ff3-42f0-785cc3d30c12
* Version Independent ID: 72af83f2-54ef-c712-9346-7228d067edd7
* Content: [What is Azure FarmBeats - Azure for Industry: Agriculture](https://docs.microsoft.com/en-us/azure/industry/agriculture/overview-azu

[2020-04-03 22:13] #51691 closed