[2022-02-27 20:13] Jaws1990 opened #88849 "Conflicting information in 2 articles."
Hi,

Either I am misunderstanding the documentation or there is conflicting statements in 2 documents.

https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/develop-tables-external-tables?tabs=hadoop

The article in question states that Hadoop external tables don't allow for recursive folder scans.

https://docs.microsoft.com/en-us/sql/t-sql/statements/create-external-table-transact-sql?vi

[2022-02-27 22:35] MarkAtAgilliance opened #88850 "There is no Cloud Explorer in VS2022"
My main aim at reading this doc was to implement source control for Logic Apps.

Near this point in the doc:
https://docs.microsoft.com/en-us/azure/logic-apps/manage-logic-apps-with-visual-studio#find-logic-apps

Refers to VS2019 cloud explorer though the currently shipping version of Visual Studio is VS 2022.

Cloud Explorer has been retired from VS2022 making many of the instructions in this doc

[2022-02-27 22:44] StingyJack opened #88851 "The title says "Pull images from an Azure container registry to a Kubernetes cluster using a pull secret" but the article never actually explains how to do this."
It talks about creating a pull secret, but not actually using one to pull an image.

Unless I am missing that last example with a pull command of some sort.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b775c99-7231-2bfa-1af2-c40852c591aa
* Version Independent ID: 499f8091-28e4-b6c5-4dd1-b5fac9632769
* Content: [Auth

[2022-02-27 22:59] karolz-ms commented on #88851
In the context of Kubernetes deployments it is the Kubernetes cluster (node) software that does the image pull. [The last paragraph of the article](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-auth-kubernetes#use-the-image-pull-secret) shows a pod spec example that will ensure that Kubernetes can do the image pull from ACR successfully.

[2022-02-27 23:14] StingyJack commented on #88851
OK, I get it.

[2022-02-27 23:14] #88851 closed

[2022-02-27 23:26] krispenner commented on #88412
I used the portal for the first app to test it, then I used powershell scripts in my deployment pipeline for all the others.

On Feb 27, 2022, at 10:05 AM, AjayKumar-MSFT ***@***.***> wrote:

﻿

Kris, Hope you'd a good weekend.

To keep you posted, we're still discussing with the team on this internally.
Just a quick confirmation, did you use Azure Portal for trying to generate free certs on Apps

[2022-02-27 23:27] krispenner commented on #88412
I used the portal for the first app to test it, then I used powershell scripts in my deployment pipeline for all the others. Fingers crossed you will confirm support for it.

[2022-02-27 23:39] YutongTie-MSFT commented on #88717
@sdgilley Hello Sheri, I have seen some external blog about difference between inference cluster and compute clusters like this: https://naadispeaks.wordpress.com/2020/11/30/different-computation-options-on-azure-machine-learning/

Do you think we could add more information about the differences? Thanks.

[2022-02-28 00:54] YutongTie-MSFT commented on #88726
@likebupt Hello Blanca, could you please check on this issue? I can't find any related information about deleted component.  Thanks.

[2022-02-28 01:42] WhippsP opened #88852 "Wrong az command"
Should the command not be
az ad sp create --id b46c3ac5-9da6-418f-a849-0a7a10b3c6c

Instead of the documented
az ad ap create --id b46c3ac5-9da6-418f-a849-0a7a10b3c6c

[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b2bd8cc-1bb7-2056-5fc0-0d1e55912770
* Version Independent ID: f09fcaa5-0c6e-2adc-4

[2022-02-28 01:55] SubhashVasarapu-MSFT commented on #87532
@jsheetzati , we have assigned this issue to the respective product owner to provide the needful insights.

[2022-02-28 02:02] SaurabhSharma-MSFT commented on #88848
@bschaef14 Thanks for the feedback!  I have assigned this issue to content author to investigate and update the document as appropriate.

[2022-02-28 02:03] SaurabhSharma-MSFT commented on #88849
@Jaws1990 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2022-02-28 02:17] AshokPeddakotla-MSFT commented on #88585
@rajb865 As Venkat suggested, Please file an issue on the GitHub: https://github.com/azure/iotedge/issues
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-02-28 02:17] #88585 closed

[2022-02-28 02:43] zackliu commented on #74145
You can't specify principal id when using system assigned identity. But you can use user assigned identity. In your scenario, we suggest creating a user assigned identity and grant permission in advance. Then creating SignalR with this user assigned identity

[2022-02-28 02:44] WhippsP opened #88853 "Incorrect SP ID"
SP Should be "b46c3ac5-9da6-418f-a849-0a**0**7a10b3c6c"

You are missing a 0
b46c3ac5-9da6-418f-a849-0a7a10b3c6c

[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b2bd8cc-1bb7-2056-5fc0-0d1e55912770
* Version Independent ID: f09fcaa5-0c6e-2adc-4965-bf72ce2a391c
* Content: [Enable CloudKnox Permissi

[2022-02-28 03:20] MonikaReddy-MSFT commented on #88755
@vhalharha666 - Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2022-02-28 03:21] MonikaReddy-MSFT commented on #88367
@youngjoven - Can you please provide us with the above details  like @apwestgarth has requested?

[2022-02-28 04:19] technion commented on #81940
@JamesTran-MSFT  Can I once again ask you for a review of this problem beyond tagging the same person again?

[2022-02-28 04:35] shashishailaj commented on #88852
@WhippsP Thank you for catching this. We will investigate and update further.

[2022-02-28 04:42] v-hagamp commented on #88579
@SaraSRS, please share your email address with me, will provide access to you.

[2022-02-28 04:44] SaraSRS commented on #88579
My email address for this User is ***@***.***

On Sun, Feb 27, 2022 at 8:42 PM Hamsika ***@***.***> wrote:

[2022-02-28 04:48] AnuragSharma-MSFT commented on #88670
@LifeRyuto We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2022-02-28 04:48] #88670 closed

[2022-02-28 04:49] AnuragSharma-MSFT commented on #88675
@Shang7799 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2022-02-28 04:49] #88675 closed

[2022-02-28 04:49] AnuragSharma-MSFT commented on #88680
@Shang7799 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2022-02-28 04:49] #88680 closed

[2022-02-28 04:59] v-hagamp commented on #88579
@SaraSRS, Will you please send the request mail to this address - SaaSApplicationIntegrations@service.microsoft.com

[2022-02-28 05:09] v-hagamp commented on #88217
@dustinhess, From my end, the documentation is completely matched with your shared one. If you are expecting any changes into the document, please feel free to edit, add the steps you want and create a PR for it.
![image](https://user-images.githubusercontent.com/59013559/155927412-01551268-caf4-4c55-b3cb-4e4e7e5b980a.png)

[2022-02-28 05:46] ecfan commented on #88850
Hi @MarkAtAgilliance, thanks for the feedback! The Azure Logic Apps extension is currently unavailable for Visual Studio 2022. I'll add a note to indicate this information.

[2022-02-28 05:47] #88850 closed

[2022-02-28 05:57] yezhu6 opened #88856 "Step 5 of Grant Access is out of date"
In the step 5 of [Grant Access](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/tutorial-linux-vm-access-arm#grant-access), the selection changes. There is no 'Virtual Machine' for selection, but 'User, group, or service principal' and 'Managed identity'

![image](https://user-images.githubusercontent.com/92571997/155931857-90586c93-16d8-478d-b127-e900687

[2022-02-28 06:10] MayankBargali-MSFT commented on #88161
@mountain65 Following up to see if my above comment has helped in resolving the issue.

[2022-02-28 06:44] fazil-rf opened #88857 "need video tutorial for this article"
my huble request is that It's very difficult to follow the text based article, pls provide video based tutorial/demo for the complex conceptual things!
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a38439d0-0125-3445-1c0a-a03b940e315d
* Version Independent ID: c6436a35-94b9-6396-3b13-9291f0a17b21
* Content: [R

[2022-02-28 06:48] AshokPeddakotla-MSFT commented on #88486
@ElioZhou I am unable to reproduce the issue. Looks like you have missed out the previous steps. I suggest you, please follow the steps again carefully and run the samples. Let us know if you face any further issues.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen

[2022-02-28 06:48] #88486 closed

[2022-02-28 06:50] saurabh8391 opened #88858 "Provided Steps are not available"
Logic app interface got updated and now we don't have these steps. I am not able to see the default templated also.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b68d35f-e331-bb2b-dd1e-c951bf6baeda
* Version Independent ID: d01f87a2-a873-2e8e-37ca-94aecceb5e9f
* Content: [Quickstart - Create automated workflows with

[2022-02-28 06:53] SadiqhAhmed-MSFT commented on #88631
@jv-595759 Checking in to see if the above answer helped. Let us know if there are still any additional issues we can help with.

[2022-02-28 07:03] SadiqhAhmed-MSFT commented on #88674
@wasimahmad786 Could you please help here?

[2022-02-28 07:08] AnuragSingh-MSFT commented on #88073
@DBJDBJ, I discussed this thread, and we reached a conclusion that adding a simple curl-only solution is not possible here. The main reason being the requirement of HMAC scheme to obtain a signature key (signing of header, which will require some sort of scripting, not possible with an ONLY curl solution). It will require some mixing of scripting environment feature (BASH, commandline or PowerShel

[2022-02-28 07:08] #88073 closed

[2022-02-28 07:08] VikasPullagura-MSFT commented on #88857
@fazil-rf
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-02-28 07:08] VikasPullagura-MSFT commented on #88857
@palma21
Can you please check and add your comments on this doc update request as applicable.

[2022-02-28 07:10] shashishailaj commented on #88853
@WhippsP Thank you for catching this. We will review and get this updated.

[2022-02-28 07:14] meisterheister commented on #83128
Since the part suggesting a fix has been removed from https://docs.microsoft.com/en-us/azure/mysql/single-server-whats-new I assume there is no bugfix and no release plan anymore, right?

[2022-02-28 07:17] youngjoven commented on #88367
Sorry for late response,, BUT!@ the issue is finally solved although the Docs made me confused.
https://docs.microsoft.com/en-us/azure/app-service/manage-create-arc-environment?tabs=bash#install-the-app-service-extension

I created a new serviceaccount,"admin-user", because "default" serviceaccount didn't work for my work every single time.
and then, I provided a new clusterrolebinding to the serv

[2022-02-28 07:33] zeeshaanali commented on #88252
Hi @MonikaReddy-MSFT and @sharroy ,

Thanks for taking it further and adding to docs. However, my primary reason for creating this issue was that even after adding the port 5986 ( _as inbound and outbound_ ) on Windows, the VM certification tool cannot connect. This is exactly I wanted someone to verify and confirm.
Please reopen this issue.

Port added:
![image](https://user-images.githubusercont

[2022-02-28 07:38] SreejaBhattacharya-MSFT commented on #88822
Hello @karolz-ms , could you please review this and add your comments.

[2022-02-28 07:40] SreejaBhattacharya-MSFT commented on #88498
Hello @sarahyoon , I am still awaiting to hear from the product team on this.

Hi @bandersmsft , could you please review this and add your comments.

[2022-02-28 07:59] rockboyfor commented on #88768
@paulshealy1 , Appreciate your quick response!

Best Regards,

[2022-02-28 08:08] jyama4ta commented on #88431
it is fixed for now

[2022-02-28 08:08] #88431 closed

[2022-02-28 08:08] AnuragSingh-MSFT commented on #88793
@tv505, thank you for your question. Based on the documentation, "New ITSM connections to **Cherwell and Provance**" will not be supported. The suggestion is to use [Webhook ](https://docs.microsoft.com/en-us/azure/azure-monitor/alerts/action-groups#webhook) action to Cherwell and Provance endpoint as another solution to the integration. Please refer to[ this link](https://docs.microsoft.com/en-us

[2022-02-28 08:09] jyama4ta commented on #87630
@PriyankaRudramaina Could you please tell me current status?

[2022-02-28 08:18] youngjoven commented on #88367
The reason why I created the App Service Extension is to create a custom location for the next step.
https://docs.microsoft.com/en-us/azure/app-service/manage-create-arc-environment?tabs=bash#create-a-custom-location

However, when I declared to type the customlocation for creating, the App Service Extension was showing "failed".

![image](https://user-images.githubusercontent.com/17711472/1559482

[2022-02-28 09:09] DBJDBJ commented on #88073
@AnuragSingh-MSFT  et all

Many thanks for the time taken. I shall use the [C# sample](https://docs.microsoft.com/en-us/azure/azure-monitor/logs/data-collector-api#c-sample) as the base of my C/C++ code for sending log data to [Azure Monitor by using the HTTP Data Collector API](https://docs.microsoft.com/en-us/azure/azure-monitor/logs/data-collector-api).

Is there any info or pointer to the usef

[2022-02-28 09:14] madsd commented on #88842
Hi @kohei-miyoshi You should not see errors, but in ASEv2 you cannot run multiple scale operations concurrently as also documented here: https://docs.microsoft.com/en-us/azure/app-service/environment/using-an-ase#how-scale-works

If you are seeing errors, these should be reported to support. If you have a screenshot or specific error message, you can also post it here, and I'll see if I can find a

[2022-02-28 09:21] KrishnaG-MSFT commented on #88597
@jbt-jaime Thanks for bringing this up. I have tested it by modifying the runbook as shown below.

As you said, to avoid confusion for the people new to this, I will update the PowerShell script that appears [here](https://docs.microsoft.com/en-us/azure/automation/automation-webhooks#create-a-webhook) as the same.

[code]

<img width="477" alt="image" src="https://user-images.githubusercontent.com

[2022-02-28 09:34] KrishnaG-MSFT commented on #88597
I have verified and updated the document as mentioned in above comment. The update should go live soon i.e., in less than 24 hours.

At this point it appears that there's no other edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this topic or feedback on the documentation, please do let us know and we will gladly c

[2022-02-28 09:34] #88597 closed

[2022-02-28 09:51] AbbyMSFT commented on #39297
Hi @jcuello,
Thank you for your dedication to our documentation and for bringing this issue to our attention. We have added this issue to our product backlog. f you find another possible update to our documentation, please don't hesitate to reach out again.

#please-close

[2022-02-28 09:51] #39297 closed

[2022-02-28 09:53] AbbyMSFT commented on #81358
HI @f0o,
Thank you for your dedication to our documentation and for bringing this to our attention. We have added this to our product backlog.
Please do not hesitate to reach out again if you find another possible update to our documentation.

#please-close

[2022-02-28 09:53] #81358 closed

[2022-02-28 10:12] wasimahmad786 commented on #88674
I think its wrong wasim. Not sure what is required from me.

[2022-02-28 10:14] jmaragon opened #88861 "Problem with TimerInfo in Azure functions .net 5 version"
When using Timer binding function, the TimerInfo object is available in Microsoft.Azure.WebJobs.Extension package, but when that package is added to the project, there is a ambiguity within TimerTriggerAttribute, as it is defined both in Microsoft.Azure.WebJobs.Extension and in Microsoft Azure Functions.

Please clarify how to support binding to TimerInfo injected class should be done.

Thanks
---

[2022-02-28 10:36] youngjoven commented on #88367
But, the problem is the next thing to create "customLocation" part. It seems that the customLocation is failed because this procedure is not for EKS. I know that "this tutorial uses Azure Kubernetes Service to provide concrete instructions for setting up an environment from scratch". But there is no choice to create customLocation for EKS in tutorial. I am just wondering how I could introduce mult

[2022-02-28 11:03] SnehaAgrawal-MSFT commented on #88544
@jwshive Could you please send an email with subject line “Attn:Sneha |thread title” to AzCommunity@microsoft.com referencing this thread with your Azure subscription ID and WebApp details for a much closer look. I will follow-up with you.

[2022-02-28 11:04] jwshive commented on #88544
@SnehaAgrawal-MSFT i will do that here shortly. Thanks!

[2022-02-28 11:13] SnehaAgrawal-MSFT commented on #88580
@krispenner Thanks for reaching out to us internally, Closing it here, will share the findings here once resolved.

[2022-02-28 11:13] #88580 closed

[2022-02-28 11:23] SnehaAgrawal-MSFT commented on #88750
@xiongyu0523 Thanks again for the feedback and reaching out here! Could you please specify the duplicate content in the mentioned document to help you better on this.

[2022-02-28 11:26] SnehaAgrawal-MSFT commented on #88544
@jwshive Thanks for reply! We will close this out here since we will be working internally, will update here once resolved.

[2022-02-28 11:26] #88544 closed

[2022-02-28 11:30] jwshive commented on #88544
@SnehaAgrawal-MSFT Wil I be able to track the progress of the ticket so I can report back to my management?

[2022-02-28 11:35] Ikriva opened #88865 "Documentation about origin types which support private link connection"
The page should mention that not all origin types are supported for private link connection. For example `Storage (Static website)` is not supported. In the error message `learn more` link takes to this page, which contains no information about origins and their private link support.

![image](https://user-images.githubusercontent.com/2535237/155976493-a2e814d6-b658-4454-a89e-0c1e77238fad.png)

--

[2022-02-28 12:34] maheshau1 opened #88868 "Tenant Administrator or Global Administrator"
[Enter feedback here]
There are two references of using **Tenant Administrator** role on this page. Should these be changed to **Global Administrator** instead? The role Tenant Administrator does not exist on AAD.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e45e65a0-74ae-440c-0064-2a0b1c6bb0d9
* Version Independent

[2022-02-28 12:48] GermanCM commented on #88451
Any new on it?

[2022-02-28 12:53] himanshu2454 opened #88869 "Enable Javascript on custom html templates on Azure ad B2C user flow"
Hi Team,

I have looked everywhere, even the official #[documentation ](https://docs.microsoft.com/en-us/azure/active-directory-b2c/javascript-and-page-layout?pivots=b2c-user-flow), it says how to add but with no clear understanding as to how exactly do we need to enable.

After a lot of reading found another GitHub issue https://github.com/MicrosoftDocs/azure-docs/issues/33401 where there is some

[2022-02-28 12:55] shashishailaj commented on #88856
@yezhu6  Thank you for your feedback . We will engage the content team and they will review this request and update.

[2022-02-28 13:05] yezhu6 opened #88870 "The Encryption not found"
The step 2 in [Enable customer-managed keys for your resource](https://docs.microsoft.com/en-us/azure/applied-ai-services/form-recognizer/encrypt-data-at-rest#enable-customer-managed-keys-for-your-resource) doesn't match the current function in the page:
![image](https://user-images.githubusercontent.com/92571997/155988085-01325bbe-284a-4916-9965-41c33bfbc6b0.png)

There is no Encryption any more.

[2022-02-28 13:51] alha3411 opened #88875 "Instructions need updated due to portal changes."
The instructions need a significant update as the portal has changed quite a bit and the steps involved in creating a load balancer have changed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5508502b-91e9-3cd5-c976-23c9b9bac1af
* Version Independent ID: cf1a73b1-283f-fb88-ebf6-06d68143f5ec
* Content: [Quickstart: Cre

[2022-02-28 14:14] akshaymatmicrosoft opened #88880 "Remove note "Data protection and hierarchical namespace can't be enabled simultaneously""
Please remove the following "Note" from this document as data protection (Soft Delete Blob/Container) and hierarchical namespace **can** be enabled simultaneously and currently its the default behavior using Azure Portal.

**_Note
Data protection and hierarchical namespace can't be enabled simultaneously._**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2022-02-28 14:23] SnehaAgrawal-MSFT commented on #88758
@nhannt97 Thanks again! As its mentioned [here](https://docs.microsoft.com/en-us/azure/communication-services/concepts/voice-video-calling/call-recording#event-grid-notifications) " Azure Communication Services provides short term media storage for recordings. Export any recorded content you wish to preserve within 48 hours. After 48 hours, recordings will no longer be available."  Hope this helps

[2022-02-28 14:30] ksclubb opened #88882 "Extension does not work"
multiple errors, extension does not work, Please remove article or update to a set of useful instructions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 140b2a17-3cce-fe45-16ca-619ba9295941
* Version Independent ID: 1642c0db-0889-685c-6d08-6663870c7117
* Content: [Tutorial - Spark & Hive Tools for VSCode (Spark applic

[2022-02-28 14:31] akshaymatmicrosoft opened #88883 "Statement regarding default "Blob soft delete" behavior needs correction as Azure Portal enables it by default"
Below statement needs correction as this feature is enabled "by-default" by Azure Portal (notice "Data Protection" tab during account creation has soft delete checkbox checked for blobs/container and fileshares). Storage Account created using Powershell doesn't enable soft delete automatically so indeed this feature is not enabled in itself however since Azure Portal enables it under the cover (vi

[2022-02-28 14:31] shashishailaj commented on #88869
@himanshu2454 Thank you for your inputs . We will investigate and update the thread.

[2022-02-28 14:42] GermanCM commented on #88451
As far as I could check today, it seems that many problems are solved when using the input parameter **_index_col_** when converting from spark to pandas_on_spark, including the issue explianed here of cancelling a cell running on such pandas_on_spark dataframes.

[2022-02-28 14:42] #88451 closed

[2022-02-28 15:02] amanmcse commented on #88681
@jonasauer I just tested it out and was able to successfully obtain the email address without breaking the RESTful TP and any exception.
![image](https://user-images.githubusercontent.com/33834131/156005434-e9b96898-9295-496e-904f-6eca50675a6c.png)
The exception you are getting must be due to some other issue. To get more details about the error you need to setup App Insights as documented here: h

[2022-02-28 15:07] GeethaThatipatri-MSFT commented on #88608
Hi @MladjoA can you please provide your inputs here

[2022-02-28 15:12] #88775 closed

[2022-02-28 15:13] GeethaThatipatri-MSFT commented on #88634
Hi @connorbrown-8451 please let us know if you have any further questions.

[2022-02-28 15:15] shashishailaj commented on #87800
@davokr This may require deeper investigation . I would request you to send an email to us on azcommunity [at] microsoft [dot] com referencing this thread with a subject line "ATTN:Shashi" along with your azure subscription Id and we will help you with alternate support options offline.

Thank you.

[2022-02-28 15:15] #87800 closed

[2022-02-28 15:19] W1ll1amz opened #88887 "Example PowerShell cmdlet appears to have been nerfed"
Under "Accessing Metrics" | "Reading metric values" the PowerShell example has been mangled and appears like this:

-=-=-=-
   $resourceId = "<resource-ID>"

   $resourceId -MetricName "UsedCapacity" -TimeGrain 01:00:00
-=-=-=-

There is no mention of the Get-AzMetric cmdlet at all?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2022-02-28 15:19] amanmcse commented on #88869
@himanshu2454 No, you are not required to use Custom Policy to use JavaScript. You can use below highlighted setting in User Flow as mentioned under **_[Enable JavaScript](https://docs.microsoft.com/en-us/azure/active-directory-b2c/javascript-and-page-layout?pivots=b2c-user-flow#enable-javascript)_** section of the official #[documentation](https://docs.microsoft.com/en-us/azure/active-directory-b

[2022-02-28 15:28] W1ll1amz opened #88889 "How to access Timeseries data?"
Hi,

I get the following output when I issue the Get-AZMetric cmdlet as shown below:

Get-AzMetric -ResourceId $resourceId -MetricName "UsedCapacity"

Id         : /subscriptions/f58*******91c8/resourceGroups/rg-labvfc-storage-prod/providers/Micros
             oft.Storage/storageAccounts/labvfcprodstorage/providers/Microsoft.Insights/metrics/UsedCapacity
Name       :
                LocalizedValu

[2022-02-28 15:28] shashishailaj commented on #88868
@maheshau1 We have initiated a change request for the content team and once they approve the change it will get updated on live documentation in the next 48 hours

[2022-02-28 15:28] #88868 closed

[2022-02-28 15:41] SumanthMarigowda commented on #88880
@akshaymatmicrosoft Thanks for the question! We are investigating and will update you shortly.

[2022-02-28 15:42] SumanthMarigowda commented on #88883
@akshaymatmicrosoft Thanks for the question! We are investigating and will update you shortly.

[2022-02-28 15:56] shashishailaj commented on #87998
@ivratche This is because beta MS graph API does not exposes some detections. There are certain detections which are deprecated like "Malware linked IP address" and some of them are similar hence you do not see all of them in the list . Ideally we do not recommend to use the beta graph API and they are subject to change and are only recommended for testing . As we go ahead we continue to update th

[2022-02-28 15:56] #87998 closed

[2022-02-28 16:05] mumian commented on #88816
@specialforest - Where did you see the error?  From VSCode, the portal, or a deployment error message?

[2022-02-28 16:10] SnehaAgrawal-MSFT commented on #88679
@w0ut0 Thanks! You might want to refer to this document [Restrict your storage account to a virtual network](https://docs.microsoft.com/en-us/azure/azure-functions/configure-networking-how-to#restrict-your-storage-account-to-a-virtual-network) might be helpful,
let us know if further query or issue remains.

[2022-02-28 16:36] whhender commented on #87868
@bmtorres - Thanks for your feedback!
We have been working on updating this process because of outstanding feedback about the PowerShell commands.

The documentation has now been updated with the latest process in the portal: https://docs.microsoft.com/en-us/azure/purview/register-scan-power-bi-tenant

Please give these new features a try, and reach out again if you have any issue.

[2022-02-28 16:38] whhender commented on #82879
#please-close

[2022-02-28 16:38] #82879 closed

[2022-02-28 16:38] whhender commented on #87868
#please-close

[2022-02-28 16:38] #87868 closed

[2022-02-28 16:38] whhender commented on #81227
Thank you so much for your patience!
We have been working on updating this process, and now have a new portal process that should allow you to connect cross tenant to Power BI.

The documentation has now been updated with the latest process in the portal: https://docs.microsoft.com/en-us/azure/purview/register-scan-power-bi-tenant

Please give these new features a try and reach out again if you ha

[2022-02-28 16:38] whhender commented on #81227
#please-close

[2022-02-28 16:38] #81227 closed

[2022-02-28 16:45] #88639 closed

[2022-02-28 16:47] jjcv2304 commented on #87771
I have no problem making requests to the endpoints.

It seems like the classes holding the controllers path now are: ServiceConstants.cs and SchemaConstants.cs instead of ControllerConstants.cs

[2022-02-28 16:53] David-W-Williams commented on #88555
In the case of access to the certificates, if you don’t use the –slot “option” the certificate are not made accessible to the apps.  I experienced this when I updated an expired certificate.  The new certificate was not exposed until I designate the appropriate slot.  In this case setting the slot is not an option, as is the current example does not accomplish what it states.  So using –slot it is

[2022-02-28 16:54] #87575 closed

[2022-02-28 16:54] spontello opened #88894 "Error found on step 3 of "Update control table by copy data tool" section"
Step 3 currently reads:
"Go **throughput** the copy data tool, and it will come up with a new SQL script for you. Rerun the SQL script to update your control table."

I believe that "throughput" should be "through".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a5cbc6d-82ff-3a69-b00c-22ceb99a4318
* Version Independen

[2022-02-28 16:54] #88714 closed

[2022-02-28 17:15] rsimons7 opened #88895 "QueryDefinition.WithParameter object value behavior for bool values"
The [Changes to SqlQuerySpec](https://docs.microsoft.com/en-us/azure/cosmos-db/sql/migrate-dotnet-v3?tabs=dotnet-v3#changes-to-sqlqueryspec-querydefinition-in-v30-sdk) section describes using `QueryDefinition.WithParameter` to add parameters to a SQL query and we have an example: `.WithParameter("@AccountInput", "Account1")`

When the object value is a string representation of a bool value for exa

[2022-02-28 17:16] RohitMungi-MSFT commented on #88870
@yezhu6 Thanks for the question. Based on the screen shot in the description it looks like you have created a cognitive services multi service resource instead of a Form recognizer resource. Please try to create a [form recognizer resource](https://docs.microsoft.com/en-us/azure/applied-ai-services/form-recognizer/create-a-form-recognizer-resource#visit-the-azure-portal) from Azure portal and the

[2022-02-28 17:18] shashishailaj commented on #87911
@jkavanagh58 We checked this in a lab environment and can still see old entries. I can see old machines with their dates from long back so I believe this attribute `ApproximateLastLogonTimeStamp ` is retrievable and should not be null .

[code]
I would suggest you to open a support case. In case you do not have a support plan , please email us at azcommunity [at] microsoft [dot] com with a subject

[2022-02-28 17:18] #87911 closed

[2022-02-28 17:22] #88768 closed

[2022-02-28 17:28] brenak commented on #86101
Still happening on this link.  Any updates?

[2022-02-28 17:30] gabrielcho commented on #68917
Please let us know when this feature is released.

[2022-02-28 17:36] nabhishek commented on #87550
Can we open a support ticket to troubleshoot this? This would require more infromation.

[2022-02-28 17:36] #87550 closed

[2022-02-28 17:37] kobulloc-MSFT commented on #88641
@pagerwho Thank you again for the correction!  Looking at the documentation again, that dash really stands out in the code block.  I'll get a PR out to resolve this.

![image](https://user-images.githubusercontent.com/37556655/156030580-82906567-02e8-489c-baa8-e8ee0653c00a.png)

![image](https://user-images.githubusercontent.com/37556655/156031156-5a91547a-aff1-45cb-ae93-7d6ab864b93f.png)

[2022-02-28 17:41] kengaderdus commented on #84208
Dear @Norrch2,

Thank you for your patience.

This article [Single sign-on session providers in Azure Active Directory B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-reference-sso) was updated a few days ago. We believe it has addressed the concern.

Thank you.

[2022-02-28 17:49] shashishailaj commented on #87880
@dominikhoefling Since this is currently in preview and its great that it works well in preview however supportability is determined by multiple factors on our side.  anything in preview may work well but is not covered by same serviceability levels as any  feature in general availability so it may work but maty not be fully supported by Microsoft support at this point. However  I have initiated a

[2022-02-28 17:49] #87880 closed

[2022-02-28 17:49] srizwanhms commented on #88747
The documentation is incorrect. It seems someone copied Step 6 from "Same Power BI Tenant" to Step 12 "Cross Power BI Tenant"

Assets (+ lineage) - Failed status means the Azure Purview - Power BI authorization has failed. Make sure the Azure Purview **managed identity** is added to the security group associated in Power BI admin portal.

How can I add Purview Managed Identity from Tenant 1 into P

[2022-02-28 17:54] specialforest commented on #88816
VSCode. I also checked that it is not correct based on JSON spec. I haven't tried deploying it.

[2022-02-28 17:54] normesta commented on #88880
@SumanthMarigowda - I removed the note in this PR - https://github.com/MicrosoftDocs/azure-docs-pr/pull/189966. @akshaymatmicrosoft - thanks for reporting!

[2022-02-28 17:54] shashishailaj commented on #87506
We have engaged the content team for reviewing this thread and updating as necessary .

[2022-02-28 17:56] pagerwho commented on #88641
Awesome! So glad to help out on that.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: kobulloc-MSFT ***@***.***>
Sent: Monday, February 28, 2022 12:38:05 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Travis Page ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Sample script has typos that don't allow a direct usage. (Issue #88641)

@p

[2022-02-28 18:00] connorbrown-8451 commented on #88634
@rohitnayakmsft answered the question, thank you!

[2022-02-28 18:00] #88634 closed

[2022-02-28 18:03] JimacoMS4 commented on #86425
Hi @xiongyu0523,

The update is now live. Please have a look, and @-comment me here if you have additional feedback. If I don't hear back, I'll close this issue in the next couple of days.

Thanks again for your feedback,

Jimaco

[2022-02-28 18:04] brucelangston opened #88896 "unnecessary word and punctuation causes confusion"
On the referenced page, a word and the preceding punctuation mark, ", that's" are unnecessary and cause confusion. If I understand correctly, the "note,"

really means

"Azure Monitor doesn't include dimensions in the exported metrics data sent to a destination like Azure Storage, Azure Event Hubs, Log Analytics, etc."

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2022-02-28 18:04] chanuengg commented on #88747
@zeinab-mk Can you chime in.

[2022-02-28 18:04] SaiKishor-MSFT commented on #88875
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2022-02-28 18:05] SaiKishor-MSFT commented on #88865
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-28 18:11] neilmario70 opened #88897 "Multilingual sentence translation"
I have a sentence that has two languages or I may have a HTML page that is a mix of English and Chinese and I would like to know how does translation api handle such cases? Right now it just ignores the Chinese text. Please see screen shot below.

![image](https://user-images.githubusercontent.com/23037645/156035607-94aea2fd-2008-4af9-b4db-762643d203d8.png)

[2022-02-28 18:13] JimmyBanks commented on #83128
How can such a massive bug be let to linger for so long.

This is unacceptable from Microsoft, and really makes me doubt if Azure was the right call over AWS.

[2022-02-28 18:16] shashishailaj commented on #88853
@WhippsP You are correct . I tested this in the lab and we can see the following screenshot provides clear instructions that the service principal ID is b46c3ac5-9da6-418f-a849-0a07a10b3c6c  and the command should be as following.

az ad sp create --id b46c3ac5-9da6-418f-a849-0a07a10b3c6c

![image](https://user-images.githubusercontent.com/532022/156035083-982e9854-47c8-4210-9c41-732d7f808f4c.png)

[2022-02-28 18:25] shashishailaj commented on #88852
@WhippsP You are correct we have tested and found the following . We have initiated a change request for the content team and once they review and approve it , the changes will be live in the document .

`az ad sp create --id b46c3ac5-9da6-418f-a849-0a07a10b3c6c`

![image](https://user-images.githubusercontent.com/532022/156036570-9b564323-efe3-47bf-9e4d-7b2ae20e0a75.png)

Thank you.

[2022-02-28 18:25] #88852 closed

[2022-02-28 18:26] juliays commented on #14331
I have a case where I'm trying to stop nested edgeHub(on child device) to start at port 443. I took it out of the createOptions but edgeHub is still fighting IoTAPIProxy for port 443. what does it tell me? edgeAgent failed connection and fell back to port 443? How do I check on that to make it work right? Thanks!

[2022-02-28 18:32] SaiKishor-MSFT commented on #88068
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-02-28 18:32] #88068 closed

[2022-02-28 18:33] SaiKishor-MSFT commented on #88112
@Christian-e-S Any update?

[2022-02-28 18:35] savjani commented on #83128
@JimmyBanks @meisterheister - the fix is being rolled out in all the WW Azure region as we speak. We expect the rollout to complete by end of this week but will you all posted

[2022-02-28 18:36] mike-urnun-msft commented on #88858
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-02-28 18:38] MonikaReddy-MSFT commented on #88897
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2022-02-28 18:38] MonikaReddy-MSFT commented on #88755
@vhalharha666 - Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2022-02-28 18:38] #88755 closed

[2022-02-28 18:38] shashishailaj commented on #87105
@ElenaMST We have initiated the change request for this issue and the content team will approve or make changes as necessary after their review. Once it is approved , we will see the changes live in the documentation .

[2022-02-28 18:38] #87105 closed

[2022-02-28 18:41] karolz-ms commented on #88822
I understand @pdonovan point, but I am not sure if this documentation article is the best place to emphasize that Service Principal passwords do expire, and how to deal with that.

@dlepow has an article https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/container-registry/container-registry-auth-service-principal.md about using Service Principal authentication with ACR that might be a

[2022-02-28 18:42] shashishailaj commented on #84425
Apologies for the late reply on this. ADAL is going to be completely deprecated by June 2022 .  Hence any new change is prohibited and so you see the above behavior.

[2022-02-28 18:42] #84425 closed

[2022-02-28 18:42] mike-urnun-msft commented on #88861
Thank you for your feedback! We will review and update as appropriate.

[2022-02-28 18:52] GeethaThatipatri-MSFT commented on #88895
Hi @rsimons Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-28 19:00] shashishailaj commented on #87549
@mikerains  We have initiated a change request by changing the section to the following. as per your feedback and sent this for a review to the content team . Once this is reviewed and approved this will be updated in the live documentation .

`The app registration part that's related to API permissions is classical. The app configuration involves using the OAuth 2.0 On-Behalf-Of flow to use the J

[2022-02-28 19:00] #87549 closed

[2022-02-28 19:01] shashishailaj commented on #87999
@MicrosoftGuyJFlo Could you please help on this one ?

[2022-02-28 19:06] cartacioS commented on #88788
Hi @JuanD5 - after taking an initial look, it seems that the columns in the data may have contained empty strings. Can you confirm if this is or isn't the case so we can investigate further? If at all possible to share the data being used to generate this error, let us know.

[2022-02-28 19:06] shashishailaj commented on #88887
@W1ll1amz You are correct . We will review this and update the thread.

[2022-02-28 19:11] omar-nav opened #88901 "mention how accumulation of log files as default causes system storage to become full"
The steps cause the machine to be overloaded with log files. A mention of how to limit log files (before applying a manifest JSON) could help new users.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b7a847b-358e-f13f-2d26-f37ab97c4114
* Version Independent ID: e193b203-a88c-013f-e64a-3804f3deb053
* Content: [Create a

[2022-02-28 19:17] shashishailaj commented on #88887
@W1ll1amz We have initiated the change request and updated the documentation and fixed the command with the following . This should be updated in the live documentation in the next 48 hours.

[code]

Thank you .

[2022-02-28 19:17] #88887 closed

[2022-02-28 19:20] DerekHerman-MSFT commented on #88619
It will always be the higher number 768 would be P30

[2022-02-28 19:20] #88619 closed

[2022-02-28 19:41] alexkarcher-msft opened #88902 "Update MessageReceiver binding to indicate Track 2 class"
Hello,
Since updating to the track 2 service bus SDK with extension Microsoft.Azure.WebJobs.ServiceBus 5.0.0 and above the "MessageReceiver" binding is now of type [ServiceBusMessageActions](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.webjobs.servicebus.servicebusmessageactions?view=azure-dotnet) and no longer a message receiver at all. Ideally the docs would be updated to highligh

[2022-02-28 19:55] JuanD5 commented on #88788
Hi @cartacioS  The data does not have empty strings. I can not show you a screenshot from the data because they are the  daily sales from the company I worked on.

The tutorial I have been following is this one:  https://github.com/Azure/azureml-examples/blob/main/python-sdk/tutorials/automl-with-azureml/forecasting-hierarchical-timeseries/auto-ml-forecasting-hierarchical-timeseries.ipynb

When th

[2022-02-28 20:09] pveliz opened #88906 "Cosmos DB is retired from Azure Storage Explorer"
This information is not accurate anymore,

Cosmos DB is retired from Azure Storage Explorer

![image](https://user-images.githubusercontent.com/33209561/156051452-18f25c67-d536-40b6-8709-a32dd2a0bf8c.png)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4314a5a5-2599-b5fd-063f-a2670e4d18c5
* Versio

[2022-02-28 20:18] mumian commented on #88816
@specialforest - The deployment script looks fine. The old VSCode extension doesn't know how to parse a multi-line script. The one I have is V0.15.6. It doesn't give me an error.  Even if the old VSCode extension gives you an error, you shall still be able to deploy the template.  You can also chain the PowerShell commands (by using semicolons or \r\n or \n) into one line.

Let me know if you have

[2022-02-28 20:18] #88816 closed

[2022-02-28 20:28] WhileLoop commented on #66329
Since this issue is the only thing that comes up when searching for how to do this I will include a example here:

[code]

[2022-02-28 20:54] DerekHerman-MSFT commented on #88516
@dohughes-msft This should be supported. We have added this to the table in a PR and changes should go live later soon.

[2022-02-28 20:54] #88516 closed

[2022-02-28 21:01] GeethaThatipatri-MSFT commented on #88906
Hi @pveliz Thanks for your findings, I'm assigning this to the author for the feedback review.

[2022-02-28 21:16] thuotr opened #88913 "update needed for documentation, information is no longer valid for a section."
This section is no longer valid or correct. A password for an existing Service Principal cannot be retrieved. The password would need to be saved at the creation of the Service Principal.

# Store the registry *password* in the vault
az keyvault secret set \
  --vault-name $AKV_NAME \
  --name $ACR_NAME-pull-pwd \
  --value $(**az ad sp show --id $SP_ID --query password --output tsv**)

https://do

[2022-02-28 21:37] #85769 closed

[2022-02-28 21:48] mikhailalmeida opened #88914 "Remove Preview as Feature is GA already"
The feature is already GA - [Azure Update](https://azure.microsoft.com/en-us/updates/general-availability-audit-logs-of-azure-monitor-log-queries/) but the docs still indicate that it is in preview.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3de54e65-8484-42e4-0193-0caa0d5e7d94
* Version Independent ID: 8c968dfa-e8

[2022-02-28 21:52] bandersmsft commented on #88764
@PaulSells Yes, I have an article update in process as we speak to cover just the scenario you mentioned. It will get published
 very soon.

I'll reply here when I have more details to share.

[2022-02-28 21:56] bandersmsft commented on #88637
@jzuchora87 There's no difference in the types of agreements between Azure Government and Azure public, so there's nothing special to document in the article for Gov users. If you have an Azure Government EA enrollment, the steps in the article should work.

I'll try to troubleshoot your problem with the Billing Enginnering team. I'll reply here when I have more info to share.

[2022-02-28 22:12] bwren commented on #14580
Looks like this one got lost for awhile. The solution has been deprecated for some time though, so I don't think this fix is needed anymore.

#please-close

[2022-02-28 22:12] #14580 closed

[2022-02-28 22:28] SatishBoddu-MSFT commented on #88901
Hello @omar-nav

yes, this is a great suggestion!

We have a document on : [Prepare to deploy your IoT Edge solution in production](https://docs.microsoft.com/en-us/azure/iot-edge/production-checklist?view=iotedge-2020-11#device-configuration)

[Place limits on log size](https://docs.microsoft.com/en-us/azure/iot-edge/production-checklist?view=iotedge-2020-11#place-limits-on-log-size)

I think we

[2022-02-28 22:41] Darryl284 commented on #56597
Thanks @clement911 , we're doing a proof of concept for analytical loads. So far it seems good but there is always that fear of missing testing something. Having the capabity to be able to move back to other tiers would have made this decision so much easier.
Thanks for sharing your experience though.

[2022-02-28 22:46] mairaw opened #88915 "Should this tutorial be updated?"
Latest VS is 2022, latest NuGet package version is now 3.25, it only mentions .NET Core but not .NET but we're now in .NET 6. Probably could use a quick refresh to bring to the latest.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6367067e-e9ce-6c2a-dd5d-a9de54735e78
* Version Independent ID: 18564fed-2285-8cab-39a0-e

[2022-02-28 22:47] nickludwig commented on #84039
Opened a PR for updating default values for `response_mode`. Will investigate further and see if any other updates are necessary, as well as see how I can best include info on default behavior for optional parameters without default values.

[2022-02-28 22:55] James-Hamil-MSFT commented on #87771
Ok cool, so just to verify, everything is working, this just needs an updated path in the doc?

[2022-02-28 23:06] clement911 commented on #56597
I know what you mean. It is always really scary to not be able to revert.
That's interesting to me. Our workload is hybrid OLTP and OLAP and we use replicas heavily for all our analytical queries.

[2022-02-28 23:09] bluefooted commented on #88745
@edarsaut Does this work?

Customers who have [Software Assurance](https://www.microsoft.com/licensing/licensing-programs/software-assurance-default) and are using the Azure Hybrid Benefit licensing model can obtain their installation media from the [Volume Licensing Center](https://www.microsoft.com/Licensing/servicecenter/default.aspx). Customers who don't have Software Assurance and are using t

[2022-02-28 23:25] jalexander-bb opened #88917 "Add documentation around TTL when no hybrid connection listener is listening"
Need to add documentation around the behavior with hybrid connections as the destination and no listener is up. Our organization made design decisions based on the current documentation on how event grid works. HOWEVER the most important thing to understand that is not clear in the documentation is that when an event is about to be sent from eventgrid, it does a healthcheck first before attempting

[2022-02-28 23:30] adrianhall commented on #87629
Admins can either import an OpenAPI spec (in which case, we are advising OAS 3.0.3 compliant documents, modulo the few fields we don't support) or bringing in a Function App.  Alex should be able to assist on anything around the Function app (since that is done from the portal).

[2022-02-28 23:42] yankovj opened #88919 "Using SFMC as a sink (i.e., copying data from synapse SQL pool to SFMC)"
Hey Microsoft,

I'd like to push data from Azure (Synapse SQL pool) to SFMC as a data extension in SFMC.

It doesn't appear that SFMC can be used as an integration dataset as a sink but the other salesforce connectors can.. ?

Please advise

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec2f6a95-1e1e-408a-1afa-b67a6804

[2022-02-28 23:48] rolyon commented on #88763
Hi @Gassela
Thanks for your feedback. We adjusted the role categories based on your feedback. We added the Disk roles to Compute and the Desktop Virtualization roles to Virtual desktop infrastructure. Hopefully this helps.
https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles
Let us know if you have additional feedback.
thanks

[2022-02-28 23:48] rolyon commented on #88763
#please-close

[2022-02-28 23:48] #88763 closed

[2022-02-28 23:56] mike-urnun-msft commented on #88896
Thank you for your feedback! We will review and update as appropriate.

[2022-02-28 23:59] mike-urnun-msft commented on #88902
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-03-01 00:01] mike-urnun-msft commented on #88917
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-03-01 00:02] marcgoff opened #88920 "The verify section seems outdated"
The verify section mentions using csexport. This doesn't seem to be included in the current version of AD Connect. It also references an incorrect folder location.
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sync-staging-server#verify

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be52

[2022-03-01 00:03] #88697 closed

[2022-03-01 00:06] dlepow commented on #88822
I agree that container-registry-auth-service-principal could be better place to make that point. Adding @tejaswikolli-web who is the current writer for ACR to evaluate the update. Thanks

[2022-03-01 00:28] TLKG opened #88921 "[WARNING] Api Directory Location: 'api' could not be found. Azure Functions will not be created."
Great walkthrough steps!
One issue for [Add API location to workflow](https://docs.microsoft.com/en-us/azure/static-web-apps/add-api?tabs=angular#add-api-location-to-workflow). GitHub Action shows this in **Build and Deploy** step
![image](https://user-images.githubusercontent.com/22269729/156077033-7a9c1831-1408-4b0f-926c-4610b1f8fed0.png)

Same for `api_location` set to `/api` or `""` (default).

[2022-03-01 00:34] JamesTran-MSFT commented on #88920
@marcgoff
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-03-01 00:42] KrishnaG-MSFT commented on #88914
@mikhailalmeida Thanks for your comment! We will review and provide an update as appropriate.

[2022-03-01 00:42] EldertGrootenboer commented on #84844
@tkent In addition to my previous comment, it is possible to completely [disable the usage of SAS](https://docs.microsoft.com/en-us/azure/service-bus-messaging/disable-local-authentication). In this case, even if RootManageSharedAccessKey were to be leaked, they would not be able to use it. This does mean that Azure AD authentication will need to be used, as per our [general recommendations](https

[2022-03-01 00:47] jberry777 commented on #87629
When selecting a function from a Function App in the Logic App UI, a pop up
says that there's a better experience when using an OpenAPI definition.
It's unclear if this is still true for Function Apps that are using a
custom handler, or what the differences would be.

It's certainly not a blocker, but might be a gap in documentation for
OpenAPI definitions and custom handler Function Apps.

On Mon

[2022-03-01 00:54] bandersmsft commented on #88478
@natochia I've confirmed your statement with the Billing engineering team. Thanks for your persistence. I'm updating the articles to say as much.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/190064

#sign-off

[2022-03-01 00:54] bandersmsft commented on #88478
#please-close

[2022-03-01 00:54] #88478 closed

[2022-03-01 01:00] bwren commented on #88694
I know we need to add workspace DCRs to the [DCR structure article](https://docs.microsoft.com/azure/azure-monitor/essentials/data-collection-rule-structure). We're going to be adding a lot of additions to all this content that we just released for the new Logs features, including more details on creating custom DCRs.

In this example, the stream just represents the table. Microsoft-Table-LAQueryL

[2022-03-01 01:00] #88694 closed

[2022-03-01 01:00] tfitzmac commented on #88312
@SherryGuo1021 - thanks for this feedback. I have added steps to find a custom resource group. It should get published tomorrow.
#please-close

[2022-03-01 01:01] #88312 closed

[2022-03-01 01:08] bandersmsft commented on #88498
@sarahyoon I've updated the article to say:

## Self-service cancellation and exchanges not allowed

You can't cancel or exchange a SUSE or RedHat plan that you bought yourself. If you want to cancel or exchange a reservation, you can [create a support request](https://portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade/newsupportrequest) to have Azure support make the cancellation

[2022-03-01 01:08] #88498 closed

[2022-03-01 01:10] tkent commented on #84844
@EldertGrootenboer  - Thanks for the follow up. That is a __much__ better story. Disabling all shared access keys is what we're after.

Unfortunately, it seems that this feature is new enough that the `terraform-provider-azurerm` doesn't support it just yet. I've filed an issue in the hopes they can add it shortly. For now, we'll have to setup some tooling to enforce it.

[2022-03-01 01:26] hisasima opened #88923 "RBAC for service tag."
When we use service tag with NSG, we have to use below permission on subscription. Could you add the limitation into this document.

                    "Microsoft.Network/locations/serviceTags/read",
                    "Microsoft.Network/locations/serviceTagDetails/read"

I confirmed that the scope of service-tag was subscription.

https://docs.microsoft.com/ja-jp/rest/api/virtualnetwork/service

[2022-03-01 01:34] xujiongda opened #88924 "Connection to azure.archive.ubuntu.com/ubuntu"
azure.archive.ubuntu.com/ubuntu also need to be allowed so that user can update the security package on the cluster.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f48eda35-f874-4ea3-27be-e49fd2767399
* Version Independent ID: 8f683e01-020f-807a-624b-a4e971a6ce14
* Content: [Configure outbound network traffic restricti

[2022-03-01 01:47] tfitzmac commented on #88255
@spmanjunath - thanks for this feedback. I have added Synapse names. It should get published tomorrow.
#please-close

[2022-03-01 01:47] #88255 closed

[2022-03-01 01:49] DaveWut opened #88925 "Can't configure Always Encryption Columns - Looking for other ways to configure"
I'm trying to setup Always Encrypted columns following the guide of this page, but each time, SSMS is failing with the following error message:
![image](https://user-images.githubusercontent.com/5586283/156089312-47134bfc-eb93-4072-95d8-a3f8136d4b1e.png)

I am indeed in the correct wizard, as I am supposed to be:
![image](https://user-images.githubusercontent.com/5586283/156089232-127fc4a5-1aea-4e

[2022-03-01 01:54] racchen opened #88926 "Need Java specific example for static client"
Is it possible to provide a Java specific example for static client in Function?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb8d85a7-1ca3-71f4-85fb-7fb02850b60e
* Version Independent ID: 3d7daee4-fd6d-0e96-299a-90b3637e6150
* Content: [Manage connections in Azure Functions](https://docs.microsoft.com/en-us/azure/az

[2022-03-01 02:24] yezhu6 commented on #88870
Thanks for the correcting.

Best,
Ye Zhu

发件人: ***@***.***>
发送时间: Tuesday, March 1, 2022 01:17
收件人: ***@***.***>
抄送: Ye ***@***.***>; ***@***.***>
主题: Re: [MicrosoftDocs/azure-docs] The Encryption not found (Issue #88870)

@yezhu6<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fyezhu6&data=04%7C01%7Cyezhu6%40microsoft.com%7C5d8857c68c8a474c44a008d9fade1e8b%7C72f988bf

[2022-03-01 02:34] MonikaReddy-MSFT commented on #88882
@ksclubb  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-03-01 02:36] MonikaReddy-MSFT commented on #88889
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-03-01 02:38] MonikaReddy-MSFT commented on #88894
@spontello - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-01 02:38] #88894 closed

[2022-03-01 03:30] Oury-MSFT commented on #88915
@mairaw Thank you for your feedback. We are reviewing this and will get back.

[2022-03-01 03:35] Oury-MSFT commented on #88643
@jlautman Any resource in Cosmos DB can always use autoscale. Enabling autoscale on an existing database or container can only be done via Azure Portal, CLI, or PowerShell. By design, enabling autoscale on an existing database or container is not supported via SDKs or ARM template

[2022-03-01 03:38] VikasPullagura-MSFT commented on #88913
@thuotr
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-03-01 03:38] VikasPullagura-MSFT commented on #88913
@macolso
Can you please check and add your comments on this doc update request as applicable.

[2022-03-01 04:07] GeethaThatipatri-MSFT commented on #88925
Hi @DaveWut Thanks for your findings,We will investigate and update as appropriate

[2022-03-01 04:42] KrishnaG-MSFT commented on #88636
@andrePKI Its **[Preview]: Log Analytics extension should be installed on your Windows Azure Arc machines**. I have verified and updated the document as required. The update should go live soon i.e., in less than 24 hours. Thanks again!

[2022-03-01 04:42] #88636 closed

[2022-03-01 04:53] mrdenny opened #88938 "This example doesn't actually explain what's being done"
The example in this page does a thing, yes. But it doesn't actually explain what it's doing or why it's doing that.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: caeded30-d872-2900-f916-fb21108237c6
* Version Independent ID: 07d0ee8a-229f-84fa-2119-1b2e601cd497
* Content: [URL path-based redirection using PowerShell -

[2022-03-01 04:58] edarsaut commented on #88745
@bluefooted I think it works. Nice point by warning about deleting the deployed VM once copied the installation media to avoid additional costs.

Thank you, nice job.

[2022-03-01 04:58] #88745 closed

[2022-03-01 05:02] eric-urban commented on #88460
We are tracking the doc update, so I'll close out the issue. Thanks!

[2022-03-01 05:02] eric-urban commented on #88460
#please-close

[2022-03-01 05:02] #88460 closed

[2022-03-01 05:26] AnuragSharma-MSFT commented on #88673
@Shang7799 Thanks for pointing this out. This is being assigned to the content author to evaluate and update as appropriate.

[2022-03-01 06:26] vazhailravi commented on #87720
Thanks a lot.
On Wed, 9 Feb 2022 at 11:35 PM, James Tran-MSFT ***@***.***>
wrote:

--

Regards

Ravi

[2022-03-01 06:40] ziggyngmailcom opened #88939 "Emergency accounts - non-expiring password"
Guidance should also include for Break Glass accounts on this page:
- Exclude from MFA
- Exclude from PIM
- Set password to never expire (only through PowerShell last time I checked)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfac0ecf-e5a9-c5ff-f8c2-ce27789708f5
* Version Independent ID: 0f5e

[2022-03-01 07:21] himanshu2454 commented on #88869
@amanmcse tried it, as clarified above I've tried the above step but this still doesn't work, as mentioned I came across another GitHub issue with the same problem, the person somehow fixed it, here the [link ](https://github.com/MicrosoftDocs/azure-docs/issues/33401#issuecomment-506078473) he claims to have fixed the same with b2clogin.com as the domain which is still ambiguous, please let me kno

[2022-03-01 07:34] w0ut0 commented on #88679
Hi @SnehaAgrawal-MSFT,
the issue I raised is not mentioned on that page. Indeed, I'm aware that best practice would be to use vnet integration with service endpoint/private endpoint is the recommended way. However, due to certain restraints (cost, capacity), users might be looking for securing storage when not using VNET integration.

Logically, you would just use possibleOutboundIps, and whitelis

[2022-03-01 07:38] KrishnaG-MSFT commented on #88914
@mikhailalmeida I have verified and updated the document as required. The update should go live soon i.e., in less than 24 hours. Thanks again!

[2022-03-01 07:38] #88914 closed

[2022-03-01 07:41] mohandass-pat commented on #20701
Is there a workaround for this? We really need wildcard support for the CDN subdomains.

[2022-03-01 07:42] slavizh commented on #88694
@bwren Thanks Brian! Looking forward to the new information.

[2022-03-01 07:45] bensir4u opened #88940 ""http://localhost:5000" port 5000 is occupied by macOS..."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe56ca43-46b4-4e4c-1bc1-4a3291de286c
* Version Independent ID: 4fa938e1-82ca-f95f-bbcb-00e72d0486b0
* Content: [Run Anomaly Detector Container in Azure Container Instances - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-se

[2022-03-01 07:48] PorreKaj commented on #76214
Glad that I'm not the only one with an organization of 'Exchange Recipient Admins' that can't use it 😅

[2022-03-01 07:49] Aftabalamkhan120 opened #88941 "Genius-Tech-1998s"
- [ ] ****- - [x] [@](@) meeting Market at work on social media Digital marketing skills

[2022-03-01 08:21] RohitMungi-MSFT commented on #88919
@yankovj Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-03-01 08:23] RohitMungi-MSFT commented on #88921
@TLKG Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-03-01 08:26] James-Hamil-MSFT commented on #88791
Hi @stephajn , I created a pull request to make the doc clearer. I didn't add any screenshots, but I tried to make the wording easier to understand.

Best,
James

[2022-03-01 08:31] James-Hamil-MSFT commented on #88789
Hi @TakhirMirza , please repost this on our Q&A forum: https://docs.microsoft.com/en-us/answers/index.html Github is primarily used for docs issues, and I believe that this needs to be looked at deeper.

Best,
James

[2022-03-01 08:31] #88789 closed

[2022-03-01 08:34] AnuragSharma-MSFT commented on #88939
@ziggyngmailcom Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-03-01 08:35] James-Hamil-MSFT commented on #87771
Hi @jjcv2304 , I created a pull request and the doc should be updated shortly. Please let me know if you have any questions.

Best,
James

[2022-03-01 08:35] #87771 closed

[2022-03-01 08:38] AnuragSharma-MSFT commented on #88924
@xujiongda Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-03-01 08:38] AnuragSharma-MSFT commented on #88926
@racchen Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-03-01 08:39] AnuragSharma-MSFT commented on #88938
@mrdenny Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-03-01 08:40] AnuragSharma-MSFT commented on #88940
@bensir4u Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-03-01 08:44] AnuragSharma-MSFT commented on #88941
@Aftabalamkhan120 Could you please provide the document link or more details about the issue you are facing?

[2022-03-01 09:29] PaulSells commented on #88764
Thanks @bandersmsft I look forward to it, in advance of the document update are you able to confirm MCA/MPA to be a supported scenario, via the Azure portal billing transition tooling? We have some urgent deals that are dependent on this functionality and would be useful just to set expectations with the team. Thanks

[2022-03-01 10:01] jesweare opened #88949 "Inconsistent description in GPU requirements"
The section **Spatial Analysis container requirements** contains the passage below:

Implying that a T4 GPU is what is necessary. However, this description is inconsistent with other passages below from the same document:

**// "Azure VM with GPU" example suggests use of K80 GPU, not T4**

**// Environment variables are provided for scenarios where the device is not using T4**

It appears the actu

[2022-03-01 10:39] angusrw commented on #87816
Is there any progress on this? As I said before, when I copy the functions required from the DocDbWrapperScript into my stored procedure, which is what you said to above, I get that error re 'patch'.

[2022-03-01 10:51] brishalkumar opened #88954 "policy cannot upgrade to premium"
New-AzFirewallPolicy : Firewall Policy "firewall-policy-name" cannot change sku from SKU Tier=Standard to SKU Tier=Premium
StatusCode: 400
ReasonPhrase: Bad Request
Status: Failed
ErrorCode: FirewallPolicySkuChangeDisallowed
ErrorMessage: Firewall Policy  cannot change sku from SKU Tier=Standard to SKU Tier=Premium

[2022-03-01 10:52] Kev2222 opened #88955 "Resume on failure"
We have a self-dependent tumbling trigger that runs every 2 hours.
Currently, if the last run failed, the trigger will stop forever.
How to get it to try again every two hours?  In case, well, I don't know, say Key Vault wasn't available to ADF during the last run....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3014

[2022-03-01 11:35] ShaikMaheer-MSFT commented on #88955
@Kev2222 Thanks for question. This channel is reserved for ‘Azure docs’ feedbacks- For sharing feedback directly related to document and suggesting content improvements, it is recommend to post the technical questions on the [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/25405/azure-data-factory.html) where one of our specialized engineers in the subject or the Azure community mem

[2022-03-01 11:44] PingPongSet opened #88960 "Azure Repo support in APIM"
Is it possible to configure Azure Repos? This provides more functionalities including branching policy, pull request and code review.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d0120b7-a5fe-fead-e88b-cf1bab80ba73
* Version Independent ID: 7371e474-727d-5bd1-600d-a502e9b17581
* Content: [Configure your API Manageme

[2022-03-01 12:13] cg6 opened #88964 "Scope of protection described is misleading."
The introductory paragraph states:

Large File Shares cannot be geo-replicated. I cannot find any information indicating a snapshot of a Large File Share is geo-replicated. Therefore Azure Backup on a Large File Share does not protect against a regional Azure disaster.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97e

[2022-03-01 12:31] gerrynicol opened #88965 "Virtual Machine Guest Metrics Cost"
Hi there,

It is not clear form this document or the Azure Monitoring pricing page about the cost of storing guest vm metrics in azure monitor connected to a log analytics workspace. The Azure Monitor Pricing page states the below and then directs us to this page.

Standard metrics| Unlimited | Free

However, there is nothing on this page that advises the cost of guest level metrics being collecte

[2022-03-01 12:56] ezYakaEagle442 opened #88967 "Arc Extension for Azure Policy not lsited inthe docs"
Arc Extension for Azure Policy not listed in the docs at
[https://docs.microsoft.com/en-us/azure/azure-arc/kubernetes/extensions#currently-available-extensions](https://docs.microsoft.com/en-us/azure/azure-arc/kubernetes/extensions#currently-available-extensions)

@shashankbarsin

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-03-01 13:24] sedelrio opened #88972 "Support for Security Events in MMA"
In the table comparison we are saying that Log Analytics Agent does not support Security Events, but we do support Security Events in MMA (without filtering events).

I think that this might generate some confusion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc6e6e35-81a6-1a59-3e34-925681eb6939
* Version Independen

[2022-03-01 14:09] ricmik commented on #70296
Hi @PaulVrugt

Did you get a way to register the AAD groups to PIM through any API?
I've tried working my way around api.azrbac.mspim.azure.com but have not yet cracked the code..

[2022-03-01 14:16] #88189 closed

[2022-03-01 14:19] ctahok opened #88983 "Security PIN"
This sentence is ambiguous
"As part of adding an extra layer of authentication for critical operations, you're prompted to enter a security PIN when you perform Stop Protection with Delete data and Change Passphrase operations."

because it is not clear if the PIN feature is applicable to

DPM 2016 UR9 or later
DPM 2019 UR1 or later
MABS v3 UR1 or later

or Azure Recovery Vaults too?

There is def

[2022-03-01 14:20] maatetoth opened #88984 "Following the tutorial creates error "No url found for submodule path 'themes/hugo-future-imperfect-slim' in .gitmodules""
I was trying to follow the steps multiple times to publish a Hugo site, however, I always received an error:
"No url found for submodule path 'themes/hugo-future-imperfect-slim' in .gitmodules"

I tried a couple of solutions mentioned online, and the following change **worked** in the yml file:
uses: actions/checkout@v2.3.4
instead of
uses: actions/checkout@v2

---
#### Document Details

⚠ *Do not

[2022-03-01 14:20] ctahok opened #88985 "An ambiguous sentence"
This sentence is ambiguous
"As part of adding an extra layer of authentication for critical operations, you're prompted to enter a security PIN when you perform Stop Protection with Delete data and Change Passphrase operations."

because it is not clear if the PIN feature is applicable to

DPM 2016 UR9 or later
DPM 2019 UR1 or later
MABS v3 UR1 or later

or Azure Recovery Vaults too?

There is def

[2022-03-01 14:21] SQLAdventurer opened #88986 "Guidance needed for "+ Synapse Credential User on the WorkspaceSystemIdentity credential""
Feedback from cx.  Link to guidance on configuring "+ Synapse Credential User on the WorkspaceSystemIdentity credential" is needed here.

<html>
<body>

Debug a pipeline using the default Integration runtime | Synapse User + Synapse Credential User on the WorkspaceSystemIdentity credential | read,credentials/useSecret
-- | -- | --
Create a trigger, including trigger now (requires permission to exe

[2022-03-01 14:52] MonikaReddy-MSFT commented on #88897
Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2022-03-01 14:54] MonikaReddy-MSFT commented on #88954
@brishalkumar -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2022-03-01 14:54] MonikaReddy-MSFT commented on #88923
@hisasima - Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2022-03-01 14:59] VanMSFT commented on #88925
Hey @DaveWut - What SSMS version are you using?

[2022-03-01 15:02] thnurg opened #88987 "SSH Keys - extra explanation required"
I was tearing my hair out over why the tool would not accept my private ssh key since it was definitely of the format specified.
I finally got it to work by converting the newline characters in the key file to CRLF instead of just LF.
Most SSH keys will be created on a Linux system so will have LF as their newline character. The simplest way to fix this is to open the file in vim and type ":set te

[2022-03-01 15:07] MonikaReddy-MSFT commented on #88964
@cg6 - Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-03-01 15:09] MonikaReddy-MSFT commented on #88965
@gerrynicol  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can review and update the document accordingly.

[2022-03-01 15:09] MonikaReddy-MSFT commented on #88967
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-03-01 15:18] MonikaReddy-MSFT commented on #88972
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-03-01 15:24] GiftA-MSFT commented on #88949
@jesweare we'll review your feedback and get back to you shortly. Thanks.

[2022-03-01 15:27] csvdarius commented on #87600
Any updates here?

[2022-03-01 15:40] schdief opened #88988 "dry-run failed, reason: BadRequest, error: admission webhook \"aks-webhook-admission-controller.azmk8s.io\" does not support dry"
following the tutorial I get this error in Azure portal:
[code]

as a quick fix you should add this step: https://fluxcd.io/docs/faq/#how-do-i-resolve-webhook-does-not-support-dry-run-errors

midterm this should be done automatically, otherwise the setup doesn't work out of the box

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2022-03-01 15:46] JamesTran-MSFT commented on #88985
@ctahok
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-01 15:59] speyburner opened #88989 "Azure Load Testing in classic release pipeline"
Hi,
I'm trying to use an Azure Load Testing resource in a classic release pipeline. The example is only with yaml, but it should also work with classic task, right?
Currently it doesn't work and it doesn't even log anything...
With the missing logging and the documentation for just yaml pipelines, it is difficult to investigate the error.
Can you help me to find the error?

---
#### Dokumentdetail

[2022-03-01 16:17] bluebrown commented on #66725
Docs update isn't useful. Azures integration with NFS is just awful.  No service and no tool supports it.

[2022-03-01 16:46] CloudPlumber opened #88990 "https://docs.microsoft.com/en-us/azure/container-instances/container-instances-update#example - seems not to be working"
I tried the  command and got an error due to missing mandatory parameters(CPU, RAM, Restartpolicy...). After filling in those parameters all other set parameters (Secrets, Environment Variables) were gone and the container stopped working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df5263d2-e8da-ad3e-efcc-03c0a1088

[2022-03-01 16:57] mgilbert13 opened #88993 "Azure DevOPs??"
[Enter feedback here]
Where is Azure DevOps?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e27d0b1-56f9-2eb7-8fee-0c47cfbafeac
* Version Independent ID: 12556227-6adc-52c1-ac60-f341ae247e51
* Content: [Azure and other Microsoft cloud services compliance scope - Azure Government](https://docs.microsoft.com/en-us/azure

[2022-03-01 16:59] mike-urnun-msft commented on #88539
@raddaoui Thanks again for reporting this issue and helping us drive improvements towards MS Docs! I've created a PR that adds the missing brackets for the sample, and the changes should be live within the next 24hrs.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-03-01 16:59] #88539 closed

[2022-03-01 17:14] mike-urnun-msft commented on #88960
Thank you for your feedback! We will review and update as appropriate.

[2022-03-01 17:19] JamesTran-MSFT commented on #88985
@ctahok
Thank you for your feedback!

Because the sentence you're referring to isn't on this documentation, I'd recommend opening a new GitHub issue under the doc below.

https://docs.microsoft.com/en-us/azure/backup/backup-azure-security-feature#authentication-to-perform-critical-operations
![image](https://user-images.githubusercontent.com/36619112/156216946-ac5d7587-408a-4bd7-aece-5bf0d58728d7.

[2022-03-01 17:19] #88985 closed

[2022-03-01 17:28] erik-ha-msft commented on #85511
Thank you for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

#please-close

[2022-03-01 17:29] #85511 closed

[2022-03-01 17:32] #83538 closed

[2022-03-01 17:33] erik-ha-msft commented on #80676
Thank you for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

#please-close

[2022-03-01 17:33] #80676 closed

[2022-03-01 17:36] davokr commented on #87800
@shashishailaj I can confirm that while the "Preview resources" was not working when I submitted this issue, the functionality with dynamic membership of the network group does work.

[2022-03-01 17:40] yehudamakarov opened #88994 "need to know how to set stack settings via the cli or azure task"
The azure task for deploying a web app has `Example : -phpVersion 5.6 -linuxFxVersion: node|6.11` in the help bubble. Cannot find any reference to these settings anywhere for quite some time. What's up?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e25899c-1ed8-7cfc-2c37-73bb010a87f0
* Version Independent ID: 8b366c4

[2022-03-01 17:49] DaveWut commented on #88925
Hello,

Here is my SSMS version:
![image](https://user-images.githubusercontent.com/5586283/156221582-45aa6653-5c66-413e-a474-ff049087d181.png)

Thanks!

[2022-03-01 17:53] mike-urnun-msft commented on #88861
Hello @jmaragon - Could you elaborate on the _ambiguity_ part more? Both the `TimerInfo` and the `TimerTriggerAttribute` types are under the same `Microsoft.Azure.WebJobs` namespace: https://github.com/Azure/azure-webjobs-sdk-extensions/tree/dev/src/WebJobs.Extensions/Extensions/Timers

[2022-03-01 17:53] mikenri opened #88995 "Is the bug with MySQL client > 8.0.26 fixed?"
There was language on this page that the bug with MySQL client > 8.0.26 was fixed.
This language has been removed from the page.

My testing has shown that 8.0.28 works now, but i'd like to confirm if this bug has been fixed in all regions before updating client libraries on applications.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2022-03-01 17:54] KrishnaG-MSFT commented on #88993
@mgilbert13 [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anything in the referred Azure document then please elaborate your feedback.

[2022-03-01 17:55] mikenri commented on #88995
Specifically you can see the language here which is no longer on the page:

https://github.com/MicrosoftDocs/azure-docs/commit/728844868ab19d62ffcc90eb6ce7c6b8e8c4af0e

[2022-03-01 17:55] mike-urnun-msft commented on #88926
Thanks again for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-03-01 17:57] KrishnaG-MSFT commented on #88988
@schdief Thanks for the comment. We will review and provide an update as appropriate.

[2022-03-01 17:58] VanMSFT commented on #88925
Hey @jaszymas - Do you know if there are any issues with AE and SSMS 18.10? Can you help comment on the error? Thanks!

[2022-03-01 18:00] webpwnized opened #88996 "Cannot find Firewall Resource Group, Firewall, or Monitoring in Azure Portal"
The text says "In the Azure portal, open your firewall resource group and select the firewall. Under Monitoring, select Diagnostic settings.". In the Azure Portal, there is not a "firewall resource group", only a regular resource group. There is not a Firewall object under the regular resource group. There is not an object called "Monitoring", although there is one called "Monitor".

---
#### Docu

[2022-03-01 18:01] #88896 closed

[2022-03-01 18:02] #88995 closed

[2022-03-01 18:06] SadiqhAhmed-MSFT commented on #88631
@jv-595759 We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2022-03-01 18:06] #88631 closed

[2022-03-01 18:06] MicrosoftGuyJFlo commented on #85609
#reassign:@MicrosoftGuyJFlo

[2022-03-01 18:07] pragnagopa commented on #81222
small edit `This setting applies to all language runtimes except for dotnet-inproc`

[2022-03-01 18:08] MicrosoftGuyJFlo commented on #85609
#please-close

[2022-03-01 18:08] #85609 closed

[2022-03-01 18:08] SadiqhAhmed-MSFT commented on #88605
@assaf-grth Yes, I don't feel it will be prudent for us to delete it, we don't know what else they publisher has done with those entries after the fact.

Hope this clarifies!

Closing this issue for now. If you've any further questions, feel free to ping and will continue the discussion.

[2022-03-01 18:08] #88605 closed

[2022-03-01 18:21] johnrom opened #88997 "Please elevate this note to a large warning towards the top across RBAC + Key Vault + App Service documentation"
https://docs.microsoft.com/en-us/azure/key-vault/general/rbac-migration

![image](https://user-images.githubusercontent.com/1881482/156226050-11dd9ac4-8349-472c-be2b-0484353aca9b.png)

I have been under the assumption I was missing some key piece of the RBAC flow, because I wasn't migrating to RBAC but creating a new Key Vault with RBAC. This note isn't present anywhere in normal RBAC, Key Vault o

[2022-03-01 18:29] kobulloc-MSFT commented on #88641
@pagerwho The PR has been merged and the changes should go live shortly.  Thank you again for helping to improve the documentation!

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-03-01 18:29] #88641 closed

[2022-03-01 18:36] JamesTran-MSFT commented on #88997
@johnrom
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-01 18:40] MarileeTurscak-MSFT commented on #88302
Updated new PR here: https://github.com/MicrosoftDocs/azure-docs-pr/pull/190056

Email sent to @barclayn and @tomprice-msft to update the images.

[2022-03-01 18:40] jasongroce commented on #87604
#please-close Thanks @santhoshb-msft this is now fixed.

[2022-03-01 18:40] #87604 closed

[2022-03-01 18:41] jasongroce commented on #87833
#please-close @j5awry thank you for the feedback, this link is now fixed.

[2022-03-01 18:41] #87833 closed

[2022-03-01 18:45] #86525 closed

[2022-03-01 18:45] YutongTie-MSFT commented on #88802
@cartacioS Hello Sabina, I think the document is not consistent currently, could you please take a look and update the document? Thanks a lot.

@daviddickson-mosaic I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-03-01 18:45] benhsu opened #88999 "update this?"
Hello
This page was helpful to me, thank you! However it seems to be written for an older version of the SDK -- it still calls CosmosDb "DocumentDB". I know the latest CosmosDb v4 SDK has a different API for bulk inserts, can the example be updated to use that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f942c792-65

[2022-03-01 18:46] adrianhall commented on #87629
Now I'm confused - is this related to API Management or Logic Apps?

[2022-03-01 18:58] jlichwa commented on #87097
@takekazuomi best practices remain the same for both permission models. Individual object level should only be used when object is shared with multiple application. You can find more here:
https://docs.microsoft.com/en-us/azure/key-vault/general/rbac-guide?tabs=azure-cli#best-practices-for-individual-keys-secrets-and-certificates #please-close

[2022-03-01 18:58] #87097 closed

[2022-03-01 19:01] #88791 closed

[2022-03-01 19:02] shenglol commented on #87574
When you ran `Get-AzContainerRegistry` it listed your ACR and it throwed a time out error which is different. Since it works in cloud shell, I think this has something to do with your local Azure PowerShell modules. Do you mind trying the following steps again?
1. Run `Disconnect-AzAccount`
2. Run `Connect-AzAccount` and select context
3. Run `Get-AzContainerRegistry` to check if it lists your ACR

[2022-03-01 19:17] RyanHill-MSFT commented on #88984
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-01 19:19] mike-urnun-msft commented on #88960
@PingPongSet As long as the underlying version control system is based on Git, I believe that this feature will work regardless of whether it's Github.com or Azure Repos.

[2022-03-01 19:22] erik-ha-msft commented on #85434
Thank you for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

#please-close

[2022-03-01 19:22] #85434 closed

[2022-03-01 19:26] christgelinas opened #89001 "Compliance level are not meet because there is nothing that do compliance on the remote host browser."
Most information are related to level 2 and not meet level 3 , also level 2 and 2 need compliance technique to meet the requirement , they are not specified to meet compliance. there the nist guideline
https://pages.nist.gov/800-63-3/sp800-63b.html

Software-based authenticators that operate within the context of an operating system MAY, where applicable, **attempt to detect compromise of the plat

[2022-03-01 19:31] jbt-jaime commented on #88597
Great, thanks!

From: KrishnaG-MSFT ***@***.***>
Sent: lunes, 28 de febrero de 2022 10:34
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Salazar Lahera, Jaime ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] PowerShell script insufficient to parse WebhookData (Issue #88597)

CAUTION: This email originated from outside of the organization. Do not click links or open attachm

[2022-03-01 19:35] James-Hamil-MSFT commented on #88724
Hi @SheldonHage , thank you for your feedback! I spoke with the author and we do agree this needs to be updated. I don't have an ETA because it's going to need a re-work. I am going to close this issue out though because we have a few other open issues of the same request. Feel free to post back if you have any questions.

Best,
James

[2022-03-01 19:35] #88724 closed

[2022-03-01 19:37] jberry777 commented on #87629
I think this dovetails from one to the other. Starting in Logic Apps, when
selecting a function from a Function App, the pop up says there's a better
experience if you use an OpenAPI definition in the Function App. When
searching the Microsoft Azure documentation page for OpenAPI documentation,
it directs users to API Management.

Using API Management doesn't appear to be a requirement for using F

[2022-03-01 19:42] JamesTran-MSFT commented on #89001
@christgelinas
Thank you for your feedback! In order to better understand your issue, can you share what you'd like to improve within our docs?

If this is a product issue, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our [Q&A forum](http

[2022-03-01 19:50] SheldonHage commented on #88724
Awesome thanks!

[2022-03-01 20:06] brishalkumar commented on #88954
i am referring to below topic.
https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/firewall/premium-migrate.md#migrate-azure-firewall-using-stopstart

it work when I pass no value for $NewPolicyName = "" and it create new policy, it also work if i pass name like "fwp-001" but it fail if i do not pass any value and remove the prefix value or if i pass exact same name of existing firewall

[2022-03-01 20:06] yutanglin16 commented on #88412
@krispenner -- The support for ASMC in ASEs is still not available. This is something we do plan on supporting, but I have no ETA to share yet. Once the support is there, that portion of the doc will be updated/removed.

[2022-03-01 20:21] eosho opened #89002 "Update ASEV3 private endpoint via ARM/Bicep"
The doc states the following..."In order to enable Private Endpoints for apps hosted in your App Service Environment, you must first enable this feature at the App Service Environment level.". Can this be enabled via ARM during provisioning of an ASEV3 or after or at all?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-03-01 21:04] cartacioS commented on #88788
Hi @JuanD5 - would it be possible to remove the sales and share the rest of the data with us separately? It would be difficult to debug without it. Feel free to reach out to me at scartac@microsoft.com if that is easier.

-Sabina

[2022-03-01 21:06] MicrosoftGuyJFlo commented on #88939
@ziggyngmailcom What exactly are you trying to accomplish?

You can't create custom Conditional Access policies to exclude specific accounts when using security defaults. You would probably not have PIM either if you are using security defaults.

[2022-03-01 21:06] MicrosoftGuyJFlo commented on #88939
#reassign:@MicrosoftGuyJFlo

[2022-03-01 21:13] Oury-MSFT commented on #88999
@benhsu Thank you for your feedback. We are reviewing this and will get back to you.

[2022-03-01 21:13] adrianhall commented on #87629
Got it - this definitely needs to be triaged by the Logic Apps team.  API Management is not involved in the Logic Apps to Function Apps (it can be, and we have lots of information about importing the function app and exporting the resulting capabilities as OpenAPI specifications), but the Logic Apps to Function Apps (without API Management) should still be supported.

@dlepow - not sure how to re-

[2022-03-01 21:16] tejaswikolli-web commented on #71439
Service endpoints are in deprecation, [Private links] (https://docs.microsoft.com/en-us/azure/container-registry/container-registry-private-link). #Please-close

[2022-03-01 21:16] #71439 closed

[2022-03-01 21:25] ChristianJBergstrom commented on #85490
Bump

[2022-03-01 21:29] JeffDBTS opened #89003 "This looks like an old reference - when I'm on my cdn profile there is no rules engine you must click advanced features and manage - which brings you to a new rules engine which seems very hard to set up a simple http to https redirect for all requests. This shouldn't be this difficult for a very common task. I still can't find how to set this up, looks like it wants to redirect from one url to another not a global level for all requests."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f7c20cf-3978-d4e5-cd89-e77ae59f4afb
* Version Independent ID: 70019c90-4f00-6592-f0f7-25930287837e
* Content: [Use a rules engine to enforce HTTPS in Standard Azure CDN](https://docs.microsoft.com/en-us/azure/cdn/cdn-standard-rules-engine)
* Content

[2022-03-01 21:33] jlichwa commented on #87122
@Spaanseh in general the Key Vault is security boundary to group closely related secrets. Not sure what you mean, one per platform and one per workload - is there database with credentials which is used by platform as whole and then individual databases for workloads?.
In general, if workload is atomic, independently deployed has separate database, then it will require separate vault to store that

[2022-03-01 21:35] JeffDBTS commented on #89003
Ok I found the docs for the Rules Engine V4.0 here:
https://docs.microsoft.com/en-us/azure/cdn/cdn-verizon-premium-rules-engine
This is still quite confusing on how to enforce https redirect.  I haven't solved my issue on how to actually do this but it doesn't appear that the original document is in error to me at this time.

[2022-03-01 21:35] jlichwa commented on #87299
@x509cert there is one event for all access permission in key vault : VaultAccessPolicyChangedEventGridNotification

[2022-03-01 21:46] CloudStarMan opened #89006 "Does not work to create a App GW, just errors saying it does not exist."
These instructions do not actually create the application gateway so the second half do not even work but give multiple errors due to no application gateway being created. This was less than helpful or even useful. I guess I'll just figure it out, or move to AWS or GCP since Microsoft seems unable to even provide valid instructional tutorials. I would have thought someone had actually used them, a

[2022-03-01 21:55] SaurabhSharma-MSFT commented on #88704
@Rajarshi789 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-03-01 21:55] #88704 closed

[2022-03-01 22:02] Justinha commented on #81940
@technion sorry for delay. I merged a PR from engineering that includes fixes. There are some additional PRs that need to be resolved of merge conflicts and resubmitted.

[2022-03-01 22:07] MicrosoftGuyJFlo commented on #87998
API doc updated to include UI Detection name https://docs.microsoft.com/graph/api/resources/riskdetection?view=graph-rest-1.0#riskeventtype-values

[2022-03-01 22:08] DerekHerman-MSFT commented on #88786
@[David-W-Williams](https://github.com/David-W-Williams) Thanks for letting us know. I have created a PR to address this and the changes should go live soon.

[2022-03-01 22:08] #88786 closed

[2022-03-01 22:08] jlichwa commented on #88193
@eloekset the error is ARM/Bicep error and they are just using default for any error related to RP and they use Key Vault resource link for common errors. In this case above error does not relate to resource itself. We don't have any more information in vault resource.

[2022-03-01 22:09] Karishma-Tiwari-MSFT commented on #89003
Thanks for sharing the update.
 If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-03-01 22:09] #89003 closed

[2022-03-01 22:24] SaurabhSharma-MSFT commented on #88828
@rabbyn We will now proceed to close this thread as we have not heard back. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-03-01 22:24] #88828 closed

[2022-03-01 22:27] ctahok opened #89025 "It is not clear which products a security PIN is applicable."
The following sentence, and the article it is linked to is too vague on which product(s) it is related to"As part of adding an extra layer of authentication for critical operations, you're prompted to enter a security PIN before [modifying online backups](https://docs.microsoft.com/en-us/azure/backup/backup-azure-security-feature#prevent-attacks)."

Does it apply to Azure Backup, MARS, DPM 2016 UR

[2022-03-01 22:28] ctahok commented on #88985
Thanks James.
Done that too and logged another case with proper sentence.

[2022-03-01 22:33] mike-urnun-msft commented on #84111
@mzdimal Sorry for the late answer. With exception of Developer tier/SKU and assuming that your APIM is running on production-ready SKU (Basic, Standard, Premium), there won't be downtime for configuration changes made via Git.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-03-01 22:33] #84111 closed

[2022-03-01 22:33] SaiKishor-MSFT commented on #89006
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-01 22:34] SaiKishor-MSFT commented on #88996
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-01 22:47] aaronpowell commented on #88984
@maatetoth are you able to provide a GitHub repo that demonstrates the failing build? I'd like to review it as if there's a change needed to the workflow file, we'll need to raise this with the Static Web Apps team directly as it may be related to https://github.com/Azure/static-web-apps/issues/535

[2022-03-01 22:56] bandersmsft commented on #88764
@paulsells Hi there. I can say that the Billing engineering team is working on adding subscription transfer support (including reservations) for MCA enterprise to MPA, using the Azure portal to make the transfer. I’m working on updating this article and   https://docs.microsoft.com/azure/cost-management-billing/manage/mca-request-billing-ownership with new info and steps to support the updated Azu

[2022-03-01 22:58] bandersmsft commented on #88764
#please-close

[2022-03-01 22:58] #88764 closed

[2022-03-01 23:16] ecfan commented on #88858
Hi @saurabh8391, are you referring to the Consumption logic app? Where exactly did you notice that the interface differed?

[2022-03-01 23:45] JamesTran-MSFT commented on #89025
@ctahok
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-03-01 23:52] ramganesh19 opened #89026 "Agent Name confusing and not consistent"
[Enter feedback here]

What is reference in this page as Log Analytic Agents is referred a MicrosoftMonitoringAgent when deployed as Windows Extension and In the Heartbeat record in Log Analytic Workspace, the Category field as a value of Direct Agent.

Totally inconsistent across the various system and very confusing to endusers.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2022-03-02 00:02] hisasima commented on #88923
@MonikaReddy-MSFT

This URL
https://docs.microsoft.com/en-us/azure/virtual-network/manage-network-security-group#permissions

[2022-03-02 00:19] Karishma-Tiwari-MSFT commented on #88787
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-03-02 00:27] Karishma-Tiwari-MSFT commented on #88625
Can the autoscale feature turn off all the VMs in a host pool, or does it need to keep at least a few VMs on to work properly?
The autoscale feature can turn off all VMs in a host pool if the minimum percentage of hosts is set to 0% and there are no user sessions on the session hosts in the host pool.

How do I configure the autoscale feature so I run zero session hosts after working hours?
Ramp-d

[2022-03-02 00:27] #88625 closed

[2022-03-02 01:13] yutanglin16 commented on #76197
Added more info on requirements to ensure successful renewal for ASMC in [PR 186421](https://github.com/MicrosoftDocs/azure-docs-pr/pull/186421).

Monitoring ASMC feature is still currently being worked on. Docs will be updated once that feature is available.

#please-close

[2022-03-02 01:13] #76197 closed

[2022-03-02 01:50] eddylin-ms opened #89029 "ZRS regions are not updated to latest"
Hi team!

The ZRS supported regions listed in this documentation doesn't seem to include Central India which launched its AZ last year.

AZ for Central India was launched last year 2021/12/8:
https://news.microsoft.com/en-in/microsoft-launches-azure-availability-zones-in-its-central-india-datacenter-region/

AZ supported regions:
https://docs.microsoft.com/en-us/azure/availability-zones/az-overvie

[2022-03-02 01:58] SwathiDhanwada-MSFT commented on #88145
@langfdp I would like to know a little more about your scenario above. Please send mail to AzCommunity@microsoft.com include your Azure subscription ID and a link to this GitHub thread (for context) with Subject as [Attn]: Swathi and we can continue the conversation. Once we have a resolution, we will post the update to this thread so others in the community can benefit.

[2022-03-02 01:58] #88145 closed

[2022-03-02 02:00] Ysuuuuuuuu opened #89030 "The manual steps for Centos/Redhat seems confusing when installing CUDA driver"
In the step#3, it says:
CUDA_REPO_PKG=cuda-repo-rhel7-10.0.130-1.x86_64.rpm

This specifies the version to be installed. However, when following the same steps/commands to install, it will always install the latest version rather than the version 10.0.130.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e03790a-1bf9-14

[2022-03-02 02:13] himanshusinha-msft commented on #88256
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2022-03-02 02:18] mattfeltonma commented on #29124
As a Microsoft Cloud Solution Architect. I've had similar cases of confusion among my customers. This issue has been sitting stagnant for almost three years. Can we not get the documentation updated to address this issue?

[2022-03-02 02:26] MonikaReddy-MSFT commented on #88989
@speyburner - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can review and update the document accordingly.

[2022-03-02 02:27] MonikaReddy-MSFT commented on #88990
@CloudPlumber - Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-03-02 02:52] Ramkrishnamhaske commented on #25014
nable to infer schema for JSON. It must be specified manually.

???

[2022-03-02 02:55] rajb865 commented on #88585
@AshokPeddakotla-MSFT I have opened a new bug [Data did not match any variant of untagged enum ManualProvisioning](https://github.com/Azure/iotedge/issues/6170)

[2022-03-02 03:00] LifeRyuto commented on #88670
Hi @AnuragSharma-MSFT , thank you for your response. Does scaling storage lead to a downtime, like connections termination or failure?

[2022-03-02 04:02] #88574 closed

[2022-03-02 04:05] VikasPullagura-MSFT commented on #89030
@Ysuuuuuuuu
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-03-02 04:05] VikasPullagura-MSFT commented on #89030
@vikancha-MSFT
Can you please check and add your comments on this doc update request as applicable.

[2022-03-02 04:08] SnehaAgrawal-MSFT commented on #88994
@yehudamakarov Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-02 04:08] ohernand99 commented on #35298
Here is an update to my previous post. As reported on some forums, merging a p7b cert has become unavailable according to MIcrosoft as reported on this post from a Microsoft specialist https://docs.microsoft.com/en-us/answers/questions/713593/got-the-error-while-merging-the-certificate-in-azu.html. on Feb 2022.

Unfortunately the problem of the broken SSL chain if you decide to merge the .cer down

[2022-03-02 04:08] SnehaAgrawal-MSFT commented on #89002
@eosho Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-02 04:11] SnehaAgrawal-MSFT commented on #88679
@w0ut0 Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-03-02 04:12] SnehaAgrawal-MSFT commented on #88750
@xiongyu0523 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please let us know. We will gladly reopen the issue and continue the discussion.

[2022-03-02 04:13] SnehaAgrawal-MSFT commented on #88758
@nhannt97  We will now proceed to close this thread. If there are further questions regarding this matter, please let us know. We will gladly continue the discussion.

[2022-03-02 04:13] #88758 closed

[2022-03-02 04:24] AnuragSingh-MSFT commented on #88793
@tv505, We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-03-02 04:24] #88793 closed

[2022-03-02 04:30] #88842 closed

[2022-03-02 04:33] shashishailaj commented on #89029
@eddylin-ms Thank you for your feedback . We will investigate and update the thread.

[2022-03-02 05:09] #88584 closed

[2022-03-02 05:17] #88310 closed

[2022-03-02 05:37] AnnuKumari-MSFT commented on #88672
Hi @algattik ,
I think it probably means another dedicated factory for Integration Runtime. But only use it to host your integration runtime. Still let me take it forward to the content author for more clarification. Thanks !

[2022-03-02 05:38] AnnuKumari-MSFT commented on #88672
Hi @lrtoyou1223 ,
Requesting to validate customer feedback and enhance the document so that it gives more insights as how to set up ternary Data factory. Thankyou

[2022-03-02 05:47] RohitMungi-MSFT commented on #88870
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2022-03-02 05:47] #88870 closed

[2022-03-02 05:56] AnuragSharma-MSFT commented on #88941
@Aftabalamkhan120 Awaiting your response on this.

[2022-03-02 06:09] AjayKumar-MSFT commented on #88727
mohrin-r3ry, Apologies for the delay!

I'd followed the same instructions outlined in the doc and the steps are working/flowing fine.

**Step -3**
<img width="312" alt="image" src="https://user-images.githubusercontent.com/44606227/156303909-a2d8c23c-785a-4ec8-80db-f4716d2d1857.png">

**Step - 4**
![image](https://user-images.githubusercontent.com/44606227/156304623-ae0286fe-d72e-4cc2-918e-6be23b9

[2022-03-02 06:34] shwetamathur7 commented on #88008
Document has been updated . Closing the issue.

[2022-03-02 06:39] tomkerkhove opened #89034 "Autoscale your AKS pods using Application Gateway Metrics uses deprecated Azure Kubernetes Metrics Adapter"
The Azure Kubernetes Metrics Adapter is no longer maintained and should be updated to use another approach.

The Kubernetes application autoscaling community is defaulting on KEDA and should use the HTTP add-on for this or the Azure Monitor scaler.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b63a79cb-cc95-2135-2eee-

[2022-03-02 06:55] Shang7799 opened #89035 "Could you add the detail step about how to get the Data Size value when calculating the cost?"
[Enter feedback here]
In the [Pricing ](https://docs.microsoft.com/en-us/azure/cosmos-db/continuous-backup-restore-introduction#continuous-backup-pricing)part of Continuous backup mode,  it lists the lambda "$0.20/GB * Data size in GB in account * Number of regions" to calculate the cost. It will be better to have the detail step about how to get the "Data size" value of one cosmos DB account.

--

[2022-03-02 07:00] AnuragSingh-MSFT commented on #89026
@ramganesh19, thank you for sharing this feedback.

I understand the confusion you are going through regarding these terminologies. The following information should help clarify them.

- The very earlier version of "Agent" that could connect to Log Analytics workspace was the same as used by SCOM (System Center Operations Manager). The SCOM agent, renamed to "Microsoft Monitoring Agent" had the ca

[2022-03-02 07:10] nhannt97 commented on #88758
@SnehaAgrawal-MSFT
Sorry for the late response.
I got it, Thank you for your information!

[2022-03-02 07:11] michiproep commented on #55059
I also noted one more thing: I thought, once you redeem a refresh token, this token should be invalidated and you need to use the new refresh token for further calls. But I can use the same refresh token over and over.

I totally agree that (1) there should be a better documentation (also about the default behavior), (2) bugs need to fixed and (3) we should not need to implement custom behavior fo

[2022-03-02 07:27] tcsougan commented on #88799
From the Networking tab of my data factory named "afdpe-training-tcs", we see the private endpoint created "adf-pe"
![image](https://user-images.githubusercontent.com/68875610/156313756-1ab4941a-c796-49de-855b-8bc74c7f2af0.png)
If I click on "adf-pe", we will see the details on the PE, On the left panel by selecting **DNS configuration** we have the name of the Private DNS Zone, the FQDN and the I

[2022-03-02 07:41] GitaraniSharma-MSFT commented on #89034
@tomkerkhove , thank you for your feedback. We have assigned this to the content owner/author for review.

@mscatyao , for your review.

[2022-03-02 07:46] naokitakeda14 opened #89038 "Verifying of the document’s meaning in IOPS for SQL managed instance"
[Enter feedback here]
I'd like to confirm 3 questions about the document of IOPS.
According to the document (https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/resource-limits#service-tier-characteristics) in Data/Log IOPS (approximate), General Purpose, "Up to 30-40 K IOPS per instance*, 500 - 7500 per file *Increase file size to get more IOPS",

1. Which means about "Up to 30-40 K

[2022-03-02 07:50] jianleishen commented on #83356
Thank you for providing the feedback. This is supported when meets cases in ADF/Synapse:
When you copy files as-is from **Amazon S3/Azure Data Lake Storage Gen2/Azure Blob storage/Azure Files** to **Azure Data Lake Storage Gen2/Azure Blob storage/Azure Files** with **binary format**, you can find the Preserve option on the Copy Activity > Settings tab for activity authoring or the Settings page in

[2022-03-02 08:10] hiLemontree commented on #88595
Hi Team, could we have some update about this issue？
Sub owner didn't receive the affected VM list for planned maintenance.
Per below document, sub owner should receive that, how could we make sure sub owner could receive the mail?

Document refferred:
https://docs.microsoft.com/en-us/azure/virtual-machines/maintenance-notifications

Soon after, an email notification is sent to the subscription ad

[2022-03-02 08:10] kengaderdus commented on #88760
Dear @nahojs,

Thank you for your feedback. We're updating the code snippet in the article. Meanwhile, you can use the updated code in [Account management sample](https://github.com/Azure-Samples/ms-identity-dotnetcore-b2c-account-management). Please note that this issues may be closed automatically before the changes go live.

Thanks.

[2022-03-02 08:11] kengaderdus commented on #84610
Dear @thesheebs

Thank you for your feedback and patience. We're updating the code snippet in the article. Meanwhile, you can use the updated code in [Account management sample](https://github.com/Azure-Samples/ms-identity-dotnetcore-b2c-account-management). Please note that this issue may be closed automatically before the changes go live.

Thanks.

[2022-03-02 08:11] SnehaAgrawal-MSFT commented on #88825
@johnayoub Thanks again for the feedback! Could you please confirm if you are using Azure web app container?
As the document you are referring here  "

 seems to be Containers on windows could you please clarify to help you better on this.

[2022-03-02 08:25] jianleishen commented on #85267
thanks for the feedback.  Oracle RAC is not supported by this connector

[2022-03-02 08:36] jianleishen commented on #87284
hello @mmcguinness  @jonas-lomholdt  thank you for providing this info to us. To troubleshoot the issue before clarifying in the doc, could you please provide a sample run id and support files to have deeper investigation? it'd be better if you can raise a ticket so our engineer support can follow up with you on the issue. thanks.

[2022-03-02 08:43] tomatsue opened #89039 "Unable to find user's OATH tokens if the UPN has a single quote."
The search box on the OATH tokens page on Azure portal can't find a user if the UPN has a single quote. Also, this behavior is not well documented.

![no-result](https://user-images.githubusercontent.com/43265069/156321841-a1f837bf-49c9-4a61-a704-b79423526364.png)

There is a description for a UPN with a single quote on the doc, but it is only about uploading csv files.

I confirmed it works even

[2022-03-02 08:48] SwathiDhanwada-MSFT commented on #88638
@bartvermeersch Thanks for your feedback. The request has been documented.

<img width="396" alt="image" src="https://user-images.githubusercontent.com/48976275/156326827-5e8f1c23-cd80-42d0-858f-461a524ed13a.png">

<img width="392" alt="image" src="https://user-images.githubusercontent.com/48976275/156327131-362f6eed-aa76-46d1-b984-11cb29cf7e9d.png">

As there are no further documentation changes,

[2022-03-02 08:59] #88681 closed

[2022-03-02 09:28] tsls opened #89041 "non-domain joined machine"
Dear MS,

Could you clarify how the following works:

"If your machine is not domain joined to an AD DS, you may still be able to leverage AD credentials for authentication if your machine has line of sight of the AD domain controller."

We have tried a non-domain joined machine which has line of sight Windows AD DS but we just get denied access when prompted for a user name and password.

Could y

[2022-03-02 09:30] JBRETINMSFT opened #89042 "Add available regions"
I miss info about the available regions where Premium Tier can be deployed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50a5c504-bd11-6f5e-c96d-658e045fa6c2
* Version Independent ID: 34d0ff20-e2bb-2a96-7db1-a36fba0bbe03
* Content: [Overview of Event Hubs Premium - Azure Event Hubs](https://docs.microsoft.com/en-us/az

[2022-03-02 09:45] kimjamia opened #89043 "Wrong Application ID for Front Door (classic)"
This chapter instructs to add a service principal for granting the Front Door (classic) service permissions to read a Key Vault. However, the Application ID in the documentation differs from what the Azure Portal instructs in the "Front Door Designer / Update custom domain" view.

Documentation:
<img width="686" alt="image" src="https://user-images.githubusercontent.com/74055505/156336062-e6583498

[2022-03-02 09:46] gary918 opened #89044 "How to Generate a Shared Access Signature token with expiry date by using Azure Portal?"
In the section describing 'Generate a Shared Access Signature token' here: https://docs.microsoft.com/en-us/azure/event-hubs/authenticate-shared-access-signature#generate-a-shared-access-signature-token, should we also introduce how to do it through Azure Portal?

- I cannot find where to generate the SAS token with **expiry date** in Azure Portal
- Though Azure Portal, how can I check the **expir

[2022-03-02 09:49] madsd commented on #89002
Hi @eosho, you can set it from ARM/Bicep. You need to add a "networking" child resource to the App Service Environment.
You can specify it when creating the ASE and after creation. There is a small limitation, that you cannot change it while a provisioning operation is running, but if you change your mind during a creation, you can change it immediately after, and the operation takes less than a m

[2022-03-02 09:51] #88727 closed

[2022-03-02 09:54] memildin commented on #37712
Hi @jonwbstr , thanks for the feedback and for taking the time to help us improve the docs.

The UI, docs, and functionality have all been completely revised since this issue was opened.

So, I'm going to close this issue. Feel free to comment again here or open a new one if you have additional requests.

#please-close

[2022-03-02 09:54] #37712 closed

[2022-03-02 10:11] pkruesi opened #89045 "Connection to which Internet hosts are needed?"
Hi

To which destinations does the target virtual machine needs to connect to receive regular engine and signature updates?
We have a strict policy where we have to explicitly allow requests to targets in the internet.

Thanks & Regards

Pirmin

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08b1a2dc-7fa3-20d8-d6d9-990b

[2022-03-02 10:12] amanmcse commented on #88869
@himanshu2454
I tested it out and the instructions worked for me. After setting **Enable JavaScript enforcing page layout** to **On**, can you try using this page: https://moviesdiag132.blob.core.windows.net/b2c/unified.html as highlighted below:
![image](https://user-images.githubusercontent.com/33834131/156341052-667e39b6-664f-4d9a-a94c-932941e80683.png)
As a result of successful JS execution, y

[2022-03-02 10:12] pcompieta opened #89046 "move calendar on top"
Calendar is the most important info delivered by this page - move it on top.

note: Google is doing the work for you, reporting the calendar section as top-level info

<img width="625" alt="image" src="https://user-images.githubusercontent.com/7831067/156341449-038632a8-22b9-48a1-8398-027250181871.png">

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2022-03-02 10:14] BenPxs opened #89047 "Clarify if Key Vault RBAC can be used with Frontdoor Service Principal"
The document section here [https://docs.microsoft.com/en-us/azure/frontdoor/front-door-custom-domain-https#grant-azure-front-door-access-to-your-key-vault](url) describes required permissions for the Frontdoor Service Principal to correctly access certificates, as access policies defining certificate/secrets get permissions on the key vault.

In practice our customer prefers that we use RBAC where

[2022-03-02 10:25] kimjamia commented on #89043
I think the mess-up is because "Azure CDN" has been renamed to "Azure Front Door (Preview)". The documentation talks about "Azure Front Door" which I've understood to refer to "Azure Front Door (classic)".

It's now a bit difficult to say which product does this documentation actually relates to. Perhaps the question is: "If I want to set up a custom domain with SSL to a classic Front Door service

[2022-03-02 10:31] oliviomoura opened #89048 "Time range image is wrong, it shows the ResultCode instead of the TimeGenerated"
Time range image is wrong, it shows the ResultCode instead of the TimeGenerated.
( ResultCode is duplicated )

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a7fbec9-98e3-15e5-8a64-c8af022d9283
* Version Independent ID: fde9de60-b8ca-3c20-443e-adc4d0177bca
* Content: [Log Analytics tutorial - Azure Monitor](https://doc

[2022-03-02 10:40] RichardAtFirstImpression opened #89049 "Create draft email"
Is it possible to create a draft email? I'd rather have some control over the email / body than have it sent out immediately...
Kind Regards,
Richard Kool

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f49fe54c-0b45-e457-6a53-d94306479036
* Version Independent ID: 3c48e6c6-a387-6b8b-ed7b-af155324f82e
* Content: [Tutori

[2022-03-02 10:50] SwathiDhanwada-MSFT commented on #88728
@rboucher Can you please provide your inputs here?

[2022-03-02 10:51] diahughes commented on #33497
I have a similar problem with code designed to list the API connections in resource group.  The error I'm receiving is:
[code]

The code in question is:
foreach ($api in $apiInUseSet) {
    $apiProperties = (az rest --method get --uri ($apis[$api] + '?api-version=2016-06-01') | ConvertFrom-Json)#.properties.authenticatedUser.name
    Write-Host $apiProperties.name -ForegroundColor Red -NoNewline

[2022-03-02 10:56] SreejaBhattacharya-MSFT commented on #89046
Hello @pcompieta , thanks for the feedback. We'll look into it and update the document as appropriate.

[2022-03-02 11:03] kengaderdus commented on #87792
Hi @dulfe,

Thank you for your feedback and patience. The article [Quickstart: Set up sign in for an ASP.NET application using Azure Active Directory B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/quickstart-web-app-dotnet) intends to give you a quick feel of how app authentication looks like with Azure AD B2C. I've reviewed and everything works as expected.

If the instructions

[2022-03-02 11:17] SwathiDhanwada-MSFT commented on #88770
@cchapin2020 [This  document ](https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/understand-ea-roles#user-limit-for-admin-roles)is indeed correct. You can only have one Account Owner role for an account.  However, when it comes to Enterprise Administrator role, you can assign it to multiple accounts.

Can you please share the document where it is mentioned that multiple account

[2022-03-02 11:20] SwathiDhanwada-MSFT commented on #89048
@oliviomoura Thanks for your feedback.

Assigning to content author @guywi-ms  for review.

[2022-03-02 11:21] ElazarK commented on #87597
#please-close

[2022-03-02 11:21] #87597 closed

[2022-03-02 11:23] blessedwithsins opened #89050 "AKS Upgrade fails with auto-upgrade channel enabled"
[Enter feedback here]

We came across a scenario where the customer has enabled auto-upgrade channel. Due to which he couldn't upgrade the cluster to the next version.

As a work around, we asked the customer to disable the auto-upgrade feature and then perform the upgrade.

Please update the documentation accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2022-03-02 11:23] blessedwithsins commented on #89050
connect with me pigaur@microsoft.com or mkoduru@microsoft.com

[2022-03-02 11:24] ezYakaEagle442 opened #89051 "CSI secret store driver access usage should now refer to Azure AD Workload Identity"
[CSI secret store driver access usage](https://docs.microsoft.com/en-us/azure/aks/csi-secrets-store-identity-access#usage)
should now refer to [Azure AD Workload Identity](https://azure.github.io/azure-workload-identity/docs/introduction.html) (that should be in public preview around 2022 Q2) as anyway Pod identity V1 will NOT GA and will be replaced by AAD WI as [mentionned in the docs](https://d

[2022-03-02 11:26] baybal commented on #55765
Same issue

[2022-03-02 11:35] spowellnet opened #89052 "The need for sproc based lookups to be idempotent because of retries needs to be called out in BIG letters"
So after running our processes using a lookup activity calling out to a SPROC the transient issues and retries has created a bunch of bugs in our solution.

The relevant line from the docs when trying to log a support request is

**When query or stored procedure is used, it:
Must return one and exact one result set, otherwise, Lookup activity may fail.
Should be idempotent, as Lookup activity may

[2022-03-02 11:44] Sachin1O1 commented on #88452
@bwren any update?

[2022-03-02 12:06] pgr-lopes opened #89055 "Quickstart for Synapse deployment refers to CSP tenants as not supported"
Hi everyone,

On the link for the docs regarding the quickstart deployment of an Azure Synapse workspace, we have a warning Note claiming that you cannot create a Synapse Analytics Workspace in a CSP subscription:

https://docs.microsoft.com/en-us/azure/synapse-analytics/quickstart-create-workspace

"After creating your Azure Synapse workspace, you will not be able to move the workspace to another

[2022-03-02 12:13] v-hagamp commented on #88250
PR created for these changes.
#please-close

[2022-03-02 12:13] #88250 closed

[2022-03-02 12:34] SreejaBhattacharya-MSFT commented on #89045
Hello @pkruesi , thanks for reaching out. We will have to internally check on this.

@TerryLanfear Could you please review this and add your comments.

[2022-03-02 12:35] givin-Up opened #89056 "Bicep dependsOn can't be queried after deployment"
The page mentions the following:
`You can't query which resources were defined in the dependsOn element after deployment.`

Can't be queried where?

Could this be clarified further?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d9b9d49-4f7e-a708-dcae-6a706f1b02e9
* Version Independent ID: ad9db24b-8986-51d1-82fd-6f99

[2022-03-02 12:36] kengaderdus commented on #87792
#please-close

[2022-03-02 12:36] #87792 closed

[2022-03-02 12:39] davelobban opened #89057 "Server 2022 Support"
The list of Operating Systems does not include Server 2022. Is this a deliberate omission (indicating the extension does not work on Server 2022 VMs) ?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40aaccb8-19ba-168f-f5bf-65f1f5331541
* Version Independent ID: 6cdfd166-633a-50a3-2b45-cde0e991e540

[2022-03-02 12:43] kengaderdus commented on #87918
@psierak

Thanks for your feedback and patience. You're right. We're updating the article. Please note that this issue may be closed automatically before our changes go live.

Meanwhile, feel free to explore [Microsoft Authentication Library (MSAL)](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-overview?bc=/azure/active-directory-b2c/bread/toc.json&toc=/azure/active-director

[2022-03-02 12:48] eseres commented on #79558
I don't think it works with Azure CLI version 2.34.0. It returns:

`unrecognized arguments: --delivery-attribute-mappings`

When running the following command to get help:

`az eventgrid event-subscription create --help`

Its return value does not mention the `--delivery-attribute-mappings`.

[2022-03-02 12:58] Pav-Bahia opened #89058 "connect to workspace option not available."
followed article but for user with ML data scientist roles, the option to connect to the workspace is not available

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e281d529-6d75-3346-989c-5ca3bea1e3ee
* Version Independent ID: f6b99765-2717-0ca4-1d3e-82f4d8fffaed
* Content: [Set up Visual Studio Code extension (preview)

[2022-03-02 13:10] mhomm opened #89060 "Discrepancy between these 2 sentences"
There is a discrepancy between these 2 sentences

"Since subnet size can't be changed after assignment, use a subnet that's large enough to accommodate whatever scale your app might reach. To avoid any issues with subnet capacity for Functions Premium plans, **you should use a /24 with 256 addresses for Windows and a /26 with 64 addresses for Linux**.
**When creating subnets in Azure portal as par

[2022-03-02 13:10] maatetoth commented on #88984
It contains some trial and error, but here it is: https://github.com/maatetoth/mateblog
I did a test today with a different theme, and it worked just fine though.

[2022-03-02 13:13] AndreiDita opened #89061 "Support for CIS images"
ADE is not currently supporting CIS images and under OS supportability it is not specified whether it is not supported or not.
Unsupported scenarios also does not cover anything related to CIS image.

Can the public documentation be updated accordingly?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5c7e44e-899c-56d9-

[2022-03-02 13:15] Andrew-Coughlin-MSFT opened #89062 "Azure role-based access control"
If you do a custom role, to be able to open / view cases, wouldn't you just need the following roles and not Microsoft.Support/*:   Microsoft.Support/supportTickets/read and Microsoft.Support/supportTickets/write at the subscription level?  I was able to test this and appeared I was able to view cases and create them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2022-03-02 13:16] shashishailaj commented on #89039
@tomatsue Thank you for your feedback . We will investigate and update the thread.

[2022-03-02 13:17] SnehaAgrawal-MSFT commented on #89049
@RichardAtFirstImpression Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-02 13:20] shashishailaj commented on #89057
@davelobban Thank you for your feedback . We will investigate and update the thread.

[2022-03-02 13:23] shashishailaj commented on #89051
@ezYakaEagle442 Thank you for your feedback . We will investigate and update the thread.

[2022-03-02 13:23] GitaraniSharma-MSFT commented on #88843
@kohei-miyoshi , We have assigned this to the content owner/author for review.

@genlin , can we add more details on the [Important](https://docs.microsoft.com/en-us/azure/virtual-network/troubleshoot-outbound-smtp-connectivity) section which says "Sending email on Port 25 is unsupported from all Azure Platform-as-a-Service (PaaS) resources, including Azure App Service and Azure Functions." for mo

[2022-03-02 13:24] kengaderdus commented on #87792
@dulfe

I see and sorry about that. Can you please raise an issue against the repository (https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi) itself.

[2022-03-02 13:25] shashishailaj commented on #89061
@AndreiDita Thank you for your feedback . We will investigate and update the thread.

[2022-03-02 13:27] shashishailaj commented on #89056
@givin-Up Thank you for your feedback . We will investigate and update the thread.

[2022-03-02 13:27] shashishailaj commented on #89055
@pgr-lopes Thank you for your feedback . We will investigate and update the thread.

[2022-03-02 13:29] shashishailaj commented on #89052
@spowellnet Thank you for providing your findings in detail . We will get this reviewed and will engage the content team as required to get the document updated.

[2022-03-02 13:30] shashishailaj commented on #89035
@Shang7799 Thank you for your feedback . We will investigate and update the thread.

[2022-03-02 13:32] shashishailaj commented on #89047
@BenPxs Thank you for your feedback . We will investigate and update the thread.

[2022-03-02 13:35] shashishailaj commented on #89050
@blessedwithsins Thank you for your feedback . We will connect with you to get more information and update the documentation  accordingly as per the findings

[2022-03-02 13:37] shashishailaj commented on #89062
@Andrew-Coughlin-MSFT Thank you for your feedback . We will investigate and update the thread.

[2022-03-02 13:40] lymedo opened #89063 "Why is a Service Endpoint being added to the Service Bus Networking?"
This article is an example of implementing Private Endpoint. I don't understand why the function subnet is added to the Service Bus networking with a Service Endpoint. This would result in the Service Bus being accessed via the Public Endpoint, would it not?

[Lock down your Service Bus](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-vnet#lock-down-your-service-bus)

---
#

[2022-03-02 13:43] shashishailaj commented on #82015
We have verified and fixed this . It should be Directory.Read.All . The document has been updated.

[2022-03-02 13:43] #82015 closed

[2022-03-02 13:45] #83182 closed

[2022-03-02 14:07] pgr-lopes commented on #89055
Thanks @shashishailaj!

[2022-03-02 14:20] DavideDelVecchio opened #89065 "Consider provide more details on Back up and how it's performed"
It can be useful to have additional details about Back Up for Cassandra MI
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a28efb0b-65cc-5be9-e2a1-5e7fbd116916
* Version Independent ID: 20e7bbca-879d-982e-beb9-07c668af2882
* Content: [Frequently asked questions about Azure Managed Instance for Apac

[2022-03-02 14:29] shashishailaj commented on #89051
@ezYakaEagle442 We have assigned this issue to the author for reviewing and updating the content as needed.

[2022-03-02 14:33] DavideDelVecchio opened #89066 "Exclude information for Continuous Back up in the Recommended content"
Recomended Content in the Faq area for Cassandra Managed Instanaces show Continuous Back Up for Cosmos
<img width="576" alt="Immagine 2022-03-02 151148" src="https://user-images.githubusercontent.com/1598301/156381360-c0d198ae-bbe9-4236-97df-91d5e32be82f.png">
While one understands that this  is for Cosmos DB with Cassandra API it could be better to show this in the Cosmos Area
[Enter feedback her

[2022-03-02 14:38] Pav-Bahia commented on #89058
FYI MS ticket number 2203020050001853

[2022-03-02 14:42] jcarney4 opened #89068 "Circular Reference"
Maybe this is intended but this link just links right back to this same article through a redirect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11a73dad-9d92-d517-eeae-e730700b97de
* Version Independent ID: 775ce7f0-6aa0-38d0-7dea-4aa23d376fdd
* Content: [Deploy an app in Azure Government with Azure Pipelines - Azur

[2022-03-02 14:48] AndrewBlumhardt opened #89069 "Missing Threat Intelligence rule type"
[Enter feedback here]
This page is missing the Microsoft Threat Intelligence rule type description.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 812f54e8-49f4-8a96-10a3-cc4df43fa9f9
* Version Independent ID: 29eb00dd-7dda-b6ec-a9d0-8e8cef04ffaa
* Content: [Detect threats with built-in analytics rules in Microsoft Sen

[2022-03-02 14:49] AnuragSingh-MSFT commented on #88073
@DBJDBJ, thank you for the reply. Since the HTTP Data collector API is REST based, the following link should help you with the REST client SDK from Microsoft for CPP: https://azure.microsoft.com/en-us/develop/cpp/

I hope that this will prove useful for your use case. Thank you

[2022-03-02 14:58] KyferEz opened #89070 "Instructions not fully correct"
The section the following link takes you to states that it is necessary to add RBAC permissions for the Managed Identity to the Azure Blob Storage. This is not entirely correct. If using ACLs, this is not necessary, rather it is necessary to add an ACL with Read and Execute permissions for both Access Permissions and Default Permissions on the container to be used, add a folder in the container, a

[2022-03-02 15:01] cluelessgumshoe opened #89071 "Web Activity - it no longer has a Body field; page needs updated"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9da1816-3f64-bd45-443f-5bdb48bacc24
* Version Independent ID: e649f787-62da-fc97-2e9a-ba89765beed4
* Content: [Copy and transform data from and to a REST endpoint by using Azure Data Factory - Azure Data Factory & Azure Synapse](https://docs.microsof

[2022-03-02 15:11] ShaikMaheer-MSFT commented on #89044
@gary918 Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-03-02 15:26] #87624 closed

[2022-03-02 15:28] andrePKI commented on #88639
I understand that integration MDE-MDC and auto provisioning are two things. But the document is not clear to me. In the section **Benefits of integrating...** it is stated that this integration provides **Automated onboarding.**. In my eyes that links the two topics together. Or is it meant that _after auto provisioning whatever extension needed_ the integration effectuates the onboarding? I would

[2022-03-02 15:29] kobulloc-MSFT commented on #87624
@dcbrown16 The updated guidance is to refer to the NVIDIA website for current drivers and supported operating systems.  I've updated the documentation with a PR that should go live shortly.  Thank you again for helping to improve the documentation!

[2022-03-02 15:40] MayankBargali-MSFT commented on #89063
@lymedo Thank you for your feedback! We will review and update as appropriate.

[2022-03-02 15:40] rliberoff commented on #40089
Having this issue too when creating the QnA Maker from an ARM Template.

[2022-03-02 15:41] MayankBargali-MSFT commented on #89060
@mhomm Thank you for your feedback! We will review and update as appropriate.

[2022-03-02 15:48] takacs525 opened #89074 "Add missing step to "Install on air-gapped cloud" Windows section"
Hi,

One important step is missing in the "Install on air-gapped cloud" / Windows section:
_You need to rename the downloaded file from bicep-win-x64.exe to bicep.exe._

It only worked to me in this way.

Thanks,
Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 341ba1b9-e7ea-92a5-3181-6fe48f5df59d
* Version Indepen

[2022-03-02 15:56] spelluru commented on #88506
@XiaoYue2-22 - This is in our backlog now. We will update the article as soon as possible. Thank you!

[2022-03-02 16:14] PokeyOats opened #89075 "Wrong variable being referenced in code samples"
[Enter feedback here]
Good Day,

There is an error in this document regarding the Powershell code

From Section:
Create a Storage Account

$StorageHT = @{
  ResourceGroupName = $ResourceGroup
  Name              = 'MyStorageAccount'
  SkuName           = 'Standard_LRS'
  Location          =  $Location
}
$StorageAccount = New-AzStorageAccount @StorageHT
$Ctx = $StorageAccount.Context

Please note t

[2022-03-02 16:22] grakeshreddy684 commented on #56943
I mean if i don'r check the box  Mark as Trusted location will this still works

[2022-03-02 16:37] AndrewBlumhardt opened #89076 "The Sentinel triggers summary undervalues the role of alert-based triggers"
[Enter feedback here]

Alert-based triggers are just as important as incident-based triggers. The summary suggests that incident-based trigger use is the best practice. I have seen no evidence to support this claim. There are many places where alert-based triggers are equally important. It seems confusing to recommend one over the other. Also, this summary does not highlight how alert based trigge

[2022-03-02 16:46] kengaderdus commented on #87263
@amit2204 The screenshot is correct. We needed to update step 4 to Under **Azure services**, select **Azure Active Directory**. Or use the search box to find and select **Azure Active Directory**.

Note that this issue may be closed automatically before the changes go live.

Thanks.

[2022-03-02 16:48] bhpat opened #89077 "Change the tier of the disaster recovery storage disk"
For the bullet point "_As soon as the SAS URL is revoked, go to Configuration for the managed disk. Increase the size so that Site Recovery supports the observed churn rate on the source disk._"

Once you go to ASR seed disks, to upgrade, we have to go under "**Size + Performance**" not "**Configuration**"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2022-03-02 17:00] synerai1 opened #89078 "Section "How do I log from my user script from a remote context?" contains non-functioning code"
from azureml_user.parallel_run import EntryScript

def init():
    """Init once in a worker process."""
    entry_script = EntryScript()
    logger = entry_script.logger
    logger.debug("This will show up in files under logs/user on the Azure portal.")

def run(mini_batch):
    """Call once for a mini batch. Accept and return the list back."""
    # This class is in singleton pattern and will ret

[2022-03-02 17:01] Riddler359 opened #89079 "fornication under consent of the king"
two stars to the right

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da6b6051-1704-5bb7-a49c-fd606d35e9be
* Version Independent ID: 78af1b4d-7f4d-17ce-46df-00dca9737870
* Content: [Introduction to the Azure Internet of Things (IoT)](https://docs.microsoft.com/en-us/azure/iot-fundamentals/iot-introduction)
* Content So

[2022-03-02 17:02] nibaccam commented on #87262
#assign @jhirono

[2022-03-02 17:07] spowellnet commented on #89052
The behavior we are seeing in ADF for a long running sproc is

-- 01:49 connection 1 created sproc exec started
-- 02:04 connection 2 created sproc exec started (Lookup must be retrying internally)
-- 02:33 connection 2 exec FAIL 	-- ADF fail event is generated
-- 02:38 connection 1 exec SUCCEEDS -- ADF has long since vanished

[2022-03-02 17:18] shsagir commented on #83814
@SQLAdventurer Thanks for your feedback. We've submitted a documentation change based on your suggestion, and the updated article should be live by tomorrow. Please let us know if there's anything more we can do for you. To follow up on this issue, leave us a comment with an @mention.

Apologies for the delay in responding.

#please-close

[2022-03-02 17:18] Pav-Bahia commented on #89058
issue resolved,, VM's not assigned to users,, it was assumed that the role would allow access.

[2022-03-02 17:18] #89058 closed

[2022-03-02 17:18] #83814 closed

[2022-03-02 17:24] AbhimanyuSharmaMosaic commented on #83517
Hi Everyone, does anyone know what is this resource "2ff814a6-3304-4ab8-85cb-cd0e6f879c1d" "

[2022-03-02 17:34] #84937 closed

[2022-03-02 17:38] ckittel commented on #26247
A list of SKUs that support accelerated networking, is just one pivot of many that could be done.  The original post that this bug was opened against was a point-in-time blog post, not documentation, so it is unlikely a blog post will be retroactively updated.

Accelerated Networking SKU choice is currently defined at https://docs.microsoft.com/azure/virtual-network/accelerated-networking-overview

[2022-03-02 17:39] msmimart commented on #83941
Hi @ShaunFis, thanks so much for pointing this out! The article has been updated with the portal instructions and should go live soon.

#please-close

[2022-03-02 17:39] #83941 closed

[2022-03-02 17:40] charles-lambert-kc opened #89081 "I cannot figure out the permissions required to Install Logic Apps Management solution"
[Enter feedback here]
I cannot figure out the permissions needed to complete the Install Logic Apps Management solution portion of this How-to guide. I get the following error when I click on the Review + create button. "Validation failed. View errors details ->"
{
  "code": "AuthorizationFailed",
  "message": "The client 'charles.lambert@KinandCarta.com' with object id '59ebc32d-e95a-434b-b002-10

[2022-03-02 17:47] jonburchel commented on #78293
Thanks @islamtg for reporting this issue.  As Jianlei mentioned, please raise a ticket with support to investigate this one further.  #please-close

[2022-03-02 17:47] #78293 closed

[2022-03-02 17:47] jonburchel commented on #83356
#please-close

[2022-03-02 17:47] #83356 closed

[2022-03-02 17:51] jonburchel commented on #84563
Thanks @F-Zainab for your feedback.  The product team considered this change but ultimately decided it isn't feasible given other constraints.  #please-close

[2022-03-02 17:51] #84563 closed

[2022-03-02 17:52] jonburchel commented on #85267
#please-close

[2022-03-02 17:52] #85267 closed

[2022-03-02 17:53] jonburchel commented on #86236
#please-close

[2022-03-02 17:53] #86236 closed

[2022-03-02 17:57] TAREKME opened #89084 "CSP to EA"
Hello ,

Please clarify in the documentation the below statement what it means

"To transfer any other subscriptions from a CSP Partner to any other Azure offer, the subscriber needs to move resources between source CSP subscriptions and target subscriptions. This is work done by a partner and a customer - it is not work done by a Microsoft representative."

Does any other Azure offer includes Ent

[2022-03-02 17:58] AjayKumar-MSFT commented on #88829
Gabriel, Apologies for the delay! We have raised a PR for author's review, once the PR is merged the changes will be published.
Thanks again for taking time to share your valuable feedback.

[2022-03-02 18:01] islamtg commented on #78293
So it seems the issue is more related to the way the auth works.
GCC tries to hit Azure AAD in Commercial first, and checks for the principle there.
The principle is actually in MAG. seems like the correct way to do this for Gov customers who have dual federation enabled is to.
1) setup App on the Commercial AAD tenant.
2) follow steps in the article
and Auth should work.

The work around is to us

[2022-03-02 18:03] KranthiPakala-MSFT commented on #88686
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-03-02 18:03] #88686 closed

[2022-03-02 18:12] ckittel commented on #29096
The syntax for this requires the use of `-ParentResource`.  We have this example documented at <https://docs.microsoft.com/powershell/module/az.Resources/New-azRoleAssignment?view=azps-7.3.0#example-4>

So, in your example:

[code]

I'm going to propose we close out this issue as we have documentation this situation, and combined with this example above.

#please-close

cc: @hallihan @KumudD

[2022-03-02 18:12] #29096 closed

[2022-03-02 18:15] ssivas commented on #88579
#reassign:@v-hagamp

[2022-03-02 18:16] kengaderdus commented on #87263
#please-close

[2022-03-02 18:16] #87263 closed

[2022-03-02 18:26] KranthiPakala-MSFT commented on #89071
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

@jianleishen , @jonburchel - Could you please review the above feedback and update the document as appropriate. Thank you

[2022-03-02 18:36] KrishnaG-MSFT commented on #89074
@takacs525 Thanks for your comment! We will review and provide an update as appropriate.

[2022-03-02 18:37] KrishnaG-MSFT commented on #89068
@jcarney4 Thanks for your comment! We will review and provide an update as appropriate.

[2022-03-02 18:39] KrishnaG-MSFT commented on #89077
@bhpat Thanks for your comment! We will review and provide an update as appropriate.

[2022-03-02 18:40] YutongTie-MSFT commented on #89078
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-02 18:41] KrishnaG-MSFT commented on #88647
@Bradben We have verified and updated the document as required. The update should go live soon i.e., in less than 24 hours. Thanks again!

[2022-03-02 18:41] #88647 closed

[2022-03-02 18:46] RMarietta opened #89085 "Does this apply to Logic Apps Standard?"
I'm not seeing the workflowRuntime diagnostic setting for my Logic Apps. Does Logic App Management work with Logic Apps Standard?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7424f43b-9593-27a0-7ce8-31bd1e0b7067
* Version Independent ID: ee77f365-287a-2c85-847d-6acbf08862d6
* Content: [Monitor status, view history, a

[2022-03-02 18:54] ecfan commented on #80482
Hi @rudolphjacksonm,

I'm wondering whether the managed identity settings in your API Connection resource definition are correct. You might have to open an issue to have a support engineer review those connections. By the way, [Standard logic apps now support user-assigned managed identities](https://docs.microsoft.com/azure/logic-apps/create-managed-service-identity?tabs=standard#add-user-assigne

[2022-03-02 18:55] Markz878 opened #89086 "Page uses deprecated version of .Net SDK library"
The page at https://docs.microsoft.com/en-us/azure/cdn/cdn-manage-expiration-of-blob-content#setting-cache-control-headers-by-using-net uses a deprecated version of .Net SDK library. Please update the example on how to set Cache-Control property for the current Azure.Storage.Blobs SDK.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2022-03-02 19:04] ckittel commented on #37610
@steveesp and @kelleymh, do you feel that your new article @ https://docs.microsoft.com/azure/virtual-network/accelerated-networking-how-it-works covers the items in this request?

[2022-03-02 19:06] ckittel commented on #37610
#reassign: @steveesp @kelleymh

[2022-03-02 19:06] PRMerger12 commented on #37610
GitHub user gsilva5 has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2022-03-02 19:09] nabhishek commented on #87617
@jesseryoungVUMC Thanks for bringing this up. We have updated the doc through this PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/190326. It adds a note that web activity support async request-reply (202) pattern.

[2022-03-02 19:09] nabhishek commented on #87617
#Please-close

[2022-03-02 19:09] #87617 closed

[2022-03-02 19:10] msmimart commented on #84946
@jgudmundson-RETSD, thanks so much for raising this issue and following up with a resolution. I'll add a note to the doc. The change should publish shortly, which will close this issue. Thanks again!

[2022-03-02 19:10] SDaparti commented on #84043
This is an issue with the Mongo shell (mongosh). It seems that the mongosh has compatibility issues with supporting this. I am able to repro the issue with the mongo shell and native MongoDB, too, so this isn't an issue with the Cosmos DB product (or the MongoDB API).

A simple workaround (I verified this) is to just use the legacy Mongo shell (mongo.exe).

----------------------------------------

[2022-03-02 19:11] JordanReyesLeger opened #89087 "Missing role reader to access the bastion"
I think you are missing one role to access the bastion, needs to be like this

Reader role on the target virtual machine
Reader role on the NIC with the private IP of the target virtual machine
Reader role on the Azure Bastion resource
[Missing] Reader role on the VNET of the target virtual machine

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2022-03-02 19:15] ckittel commented on #42222
@allegradomel, I just checked today and I'm still not seeing `172.16.0.0/12` as a default `None` route (from the effective route listing in the portal).  Are there any updates on this?

[2022-03-02 19:23] JamesTran-MSFT commented on #88997
@johnrom
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-03-02 19:24] JamesTran-MSFT commented on #89001
@christgelinas
I just wanted to check in and see if you had any other questions or if you had a chance to review my previous comment?

[2022-03-02 19:25] HitenBhavsarMSFT commented on #85267
Thank you all

[2022-03-02 19:27] jeevanearform opened #89089 "Image scanning not happening"
I have enabled the Defender for containers but disabled all options in the "Advanced configuration". In the documentation it is not clear that these advanced configuration need to be enabled in order for the automatic vulnerability image scanning to work.
We are looking to leverage only the ACR image vulnerability scanning to begin with so we  disabled these options. Please refer current advanced

[2022-03-02 19:28] ssivas commented on #87672
@bobe999,

Thanks for reaching out.

In an account-resource forest topology used for scenarios where individual forest for user accounts and resources such as on-premises Exchange and Lync services

In an account-resource forest topology used when you have one or more account forests with active user accounts. You also have one or more resource forests (such as on-premises Exchange and Lync servic

[2022-03-02 19:28] #87672 closed

[2022-03-02 19:28] ChaitanyaNaykodi-MSFT commented on #89086
Thank you for your feedback! We will review and update as appropriate.

[2022-03-02 19:47] ckittel commented on #44303
@steveesp and @kelleymh, since it's fresh in your mind from working on the new article [How Accelerated Networking works in Linux and FreeBSD VMs](https://docs.microsoft.com/azure/virtual-network/accelerated-networking-how-it-works), did you run into this issue as well, where the proper `mlx*` driver needed to be `modprobe`'d first? I see we have some SLES guidance suggesting it might be necessary

[2022-03-02 19:48] #84946 closed

[2022-03-02 19:58] bruceburge opened #89091 "typo in link to mysecurityinfo"
Link on page points to https://aka.ms/mysecurityinfo.md should be https://aka.ms/mysecurityinfo

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f8368ab-5081-7c09-d7cd-8fff29804f3f
* Version Independent ID: 61c5cf00-293a-d2e7-930e-0897c93cc142
* Content: [Plan a passwordless authentication deployment in Azure Active Dir

[2022-03-02 20:03] NoNameProvided commented on #81273
The cited section has been removed from the documentation in https://github.com/MicrosoftDocs/azure-docs/commit/38579bf469df7aecea2cd5fecee1a6c97a521bd3. I assume this means it's supported now officially.

[2022-03-02 20:05] #88770 closed

[2022-03-02 20:06] NoNameProvided commented on #81273
Shameless cc for @macolso as she authored the above commit. Can you clarify if this method is now officially supported?

[2022-03-02 20:09] madmaxlax opened #89094 "A few more details would be helpful on what causes a pass vs fail"
this punnet-square-like chart showing what causes a whole fail and what doesnt is helpful! some additional details would be helpful though.
Most notably: how the 'completion' output works: if an activity that fails only has 1 activity following it, and that activity is an 'on completion' dependency, the pipeline will succeed if that 1 following completion activity is successful
somewhat similarly,

[2022-03-02 20:12] pieandcakes opened #89095 "resource symbolic-name does not allow hyphens but the examples contain hyphens"
resource symbolic-name does not allow hyphens but the examples contain hyphens.
example:
[code]

consider changing it to `<symbolic_name>`
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 935f57fb-cda4-ce03-6fe1-4ed183578915
* Version Independent ID: 48510ef7-06f1-fec9-9ec8-79837c62228e
* Content: [Declare resources in Bi

[2022-03-02 20:16] ckittel commented on #46219
I've opened a PR to add even more clarity.  The document already says that other address spaces may work, but "here be dragons" -- but being even clearer about it would be good.  Will resolve this issue once merged.

[2022-03-02 20:17] hctrr opened #89096 "Azure Security Benchmark - Recommendation name vs. Policy Name vs. Documented references"
Hello,

When you download the ASB [workbook](https://github.com/MicrosoftDocs/SecurityBenchmarks/blob/master/Azure%20Security%20Benchmark/3.0/azure-security-benchmark-v3.0.xlsxl) you get a list of Policy names.

Those same names are not matching back to when you edit the ASB initiative (to disable or apply exclusions) which makes managing ASB a bit more difficult than it should be.

Example:
![ima

[2022-03-02 20:18] #84610 closed

[2022-03-02 20:18] #88760 closed

[2022-03-02 20:18] mumian commented on #89095
@pieandcakes - thank you for your comments.  "<symbolic-name>" is a placeholder.  It is not an example.  We don't use hyphens in examples.  For example: resource stg 'Microsoft.Storage/storageAccounts@2021-04-01'.

#please-close

[2022-03-02 20:18] #89095 closed

[2022-03-02 20:22] DerekHerman-MSFT commented on #89075
@[PokeyOats](https://github.com/PokeyOats) Thanks for reporting this. I have created a PR to update the documentation. Changes should go live soon.

[2022-03-02 20:22] #89075 closed

[2022-03-02 20:27] Blackmist commented on #86746
Updated docs for this should go live later today.

#please-close

[2022-03-02 20:27] #86746 closed

[2022-03-02 20:27] ggailey777 commented on #83636
Please reopen or create a new issue if you still find a delta between English and Portuguese. #please-close

[2022-03-02 20:27] #83636 closed

[2022-03-02 20:31] #83216 closed

[2022-03-02 20:31] ckittel commented on #46369
Hey there @KjetilEVRY, our documentation on AD Domain controllers and their role with DNS is documented alongside of our Windows Server Active Directory documentation, see [Install a new Active Directory forest](https://docs.microsoft.com/windows-server/identity/ad-ds/deploy/virtual-dc/adds-on-azure-vm#dns-and-active-directory]'s DNS section.  The document you linked to is the generic documentatio

[2022-03-02 20:31] #46369 closed

[2022-03-02 20:37] hctrr commented on #89096
Additional examples:

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link id=Main-File rel=Main-File
href="file:///C:/Users/HRODRI~1/AppData/Local/Temp/msohtmlcl

[2022-03-02 20:37] ggailey777 commented on #74134
Great suggestion! Fixed in the linked private repo PR. #please-close

[2022-03-02 20:37] #74134 closed

[2022-03-02 20:38] zebak007 commented on #70222
This issue is closed but I just wanted to share that doing the copy paste using VS code, I faced exactly the same issue (and I tried 3 times...).
After switching to Notepad to create the file, I managed to deploy the profile without error and it worked on the client as expected.  Not sure what is going-on here...

[2022-03-02 20:47] tfitzmac commented on #89056
@givin-Up - thanks for the feedback. Basically, it just means the resource dependency is not stored on a property in the resource. You can't run a command or operation to see which resources depend on other resources. I'll clarify the documentation.

[2022-03-02 20:52] SaiKishor-MSFT commented on #89087
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-02 20:57] rabbyn commented on #88828
Hello @SaurabhSharma-MSFT , it's not about user knowledge it's just purely missing in the doc for this type of source. By the way I did ask already on Q&A but nevertheless it will be better is the docs can be corrected in //

[2022-03-02 21:16] WilliamDAssafMSFT commented on #82763
Hi @BenoityipMSFT!
Looks like we improved the messaging around Synapse-specific index maintenance in January [with notes in a variety of articles](https://github.com/MicrosoftDocs/sql-docs-pr/pull/21074) including this one to redirect them to the Synapse-specific indexing article: https://docs.microsoft.com/azure/synapse-analytics/sql-data-warehouse/sql-data-warehouse-tables-index
Thanks for bring

[2022-03-02 21:16] #82763 closed

[2022-03-02 21:16] WilliamDAssafMSFT commented on #82763
#assign:KevinConanMSFT

[2022-03-02 21:18] shashishailaj commented on #89091
@bruceburge Thank you for your feedback . We will investigate and update the thread.

[2022-03-02 21:19] shashishailaj commented on #89089
@bruceburge Thank you for your query. We will investigate and update the thread.

[2022-03-02 21:20] shashishailaj commented on #89076
@AndrewBlumhardt Thank you for your feedback . We will investigate and update the thread.

[2022-03-02 21:20] DamionWaltermeyer opened #89100 "This page no longer matches current menu."
[Enter feedback here]

There is no publish option shown here, but there is in the menu.

![image](https://user-images.githubusercontent.com/7000179/156451582-5272fb62-4a45-49c9-b6a2-2d4fd3f3ac0f.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b68d35f-e331-bb2b-dd1e-c951bf6baeda
* Version Independent ID: d01f87a2-a

[2022-03-02 21:21] shashishailaj commented on #89096
[hctrr](https://github.com/hctrr) We will investigate and update the thread .

[2022-03-02 21:22] shashishailaj commented on #89069
[AndrewBlumhardt](https://github.com/AndrewBlumhardt) Thank you for your feedback . We will investigate and update the thread.

[2022-03-02 21:22] bruceburge commented on #89089
I'm not a part of this thread, I think someone has mixed up our issues.

On Wed, Mar 2, 2022 at 3:19 PM ShashiShailaj-MSFT ***@***.***>
wrote:

[2022-03-02 21:32] ckittel commented on #46391
The script referenced on this page is out of date.  It attempts to install a loopback plugin that is no longer available in the upstream repo.  I've opened a ticket with the Azure CNI repo (Azure/azure-container-networking#1263) to see if it can be updated upstream.

Since I'm not sure what version of the CNI plugin is supported for the loopback step, I cannot make a recommendation in the docs to

[2022-03-02 21:33] Oury-MSFT commented on #88915
@kirankumarkolli Could you please help with latest version of the above versions.

[2022-03-02 21:37] valtynikov opened #89102 "Ingress manifest samples should use the ingressClassName field rather than the deprecated kubernetes.io/ingress.class annotation"
Per [Kubernetes](https://kubernetes.io/docs/concepts/services-networking/ingress/#deprecated-annotation) and [Nginx Ingress docs](https://kubernetes.github.io/ingress-nginx/#what-is-ingressclassname-field):

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 597ba957-9501-5919-73a0-6d47b1ca2c6d
* Version Independent ID: 634

[2022-03-02 21:41] JimacoMS4 commented on #86425
Hi @xiongyu0523,

Thanks again for your feedback. We've made some updates to the topic based on your feedback. At this time, I'm going to go ahead and close this issue. Please @-comment me here or open a new issue if you think your concerns still need to be addressed.

Thanks again!

Jimaco

[2022-03-02 21:41] JimacoMS4 commented on #86425
#please-close

[2022-03-02 21:41] #86425 closed

[2022-03-02 21:41] farroar commented on #7731
Adding my .02 to this as well. I'm trying to modify the Azure Security Benchmark. Having the same issue, where updating any policies (and associated parameters) throws this error. The policy is not assigned. The only way for me to resolve this issue is to duplicate the ASBv3 initiative and work through many MANY deprecated parameters as well as unneeded policies.

Hours worth of work to add a sing

[2022-03-02 21:44] SatishBoddu-MSFT commented on #88901
Hello @omar-nav Thanks for the great feedback on this documentation!

We have recorded this feedback and are discussing it with SMEs in upcoming review calls.

For now, we will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and will reopen the issue.

Please also do visit [Microsoft Q&A](https:

[2022-03-02 21:44] #88901 closed

[2022-03-02 21:44] JimacoMS4 commented on #78066
#assign dpypin

[2022-03-02 21:45] ckittel commented on #48905
The article has [since been updated](https://docs.microsoft.com/en-us/azure/virtual-network/accelerated-networking-overview#supported-vm-instances) to include more up to date information about supported SKUs, including a [pending PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/190297) that will allow anyone to get a real-time view of this.

At this time, I'm going to close this issue as it

[2022-03-02 21:45] #48905 closed

[2022-03-02 21:46] JimacoMS4 commented on #83482
#reassign kgremban

[2022-03-02 21:50] ckittel commented on #50056
@adainbridge -- it appears that they closed the bug as not reproducible after you opened this issue.  Can you confirm there is still a problem, or was this request only based on the fact that the upstream bug existed?

[2022-03-02 21:50] JimacoMS4 commented on #88848
#reassign kgremban

[2022-03-02 21:53] meenalsri commented on #88986
This guidance is already available in How-to's: https://docs.microsoft.com/en-us/azure/synapse-analytics/security/how-to-manage-synapse-rbac-role-assignments.

@MonikaReddy-MSFT please close this issue.

[2022-03-02 21:58] rbtr commented on #46391
The loopback plugin has been stable over a huge range of releases, so I would expect any recent version to work. We [preload 0.9.1 for AKS](https://github.com/Azure/AgentBaker/blob/38b0ec391afed8d7ab71cd3e8fda1d68d6466a13/vhdbuilder/packer/components.json#L444).

[2022-03-02 22:00] ckittel commented on #46391
Thanks @rbtr -- I've opened a PR on docs to put a recommendation in there to prevent script execution failures.

[2022-03-02 22:06] abainbridge commented on #50056
I definitely saw this problem myself. I switched to using the netvsc PMD to avoid it.

I left that job 14 months ago, so can't re-test. My memory is fading but I'm pretty sure it was 100% reproducible on all UDP flows. So if a remote machine can now send exactly one UDP packet to a failsafe PMD and that PMD actually receives it, then the bug is fixed.

[2022-03-02 22:07] ckittel commented on #37585
Thanks for the feedback @dcbrown16, the article in question has a table at the top that lists various scenarios and has App Service examples as well.  Primarily speaking, the content is still correct in that hostname resolution for VMs (and legacy role instances) can still happen.  Everything else is resolved from FQDN (either public or private link). Services that attach to a Virtual Network (lik

[2022-03-02 22:07] #37585 closed

[2022-03-02 22:09] m60freeman opened #89103 "Scaling Responsiveness is insufficiently detailed"
With regard to #scaling-responsiveness, how much time does it take for the database to scale in response to a significant increase or decrease documented? This document provides no specifics in terms of how much of a change in workload over what length of time triggers the scaling, and how long that scaling takes (seconds? minutes? hours?).

I have Azure SQL Databases that are running at low overa

[2022-03-02 22:10] ckittel commented on #50056
Interesting, too bad it got closed upstream.  Thanks for the added context -- and yeah, this was a zombie issue, sorry for it coming out of left field (and so late).

[2022-03-02 22:21] mike-urnun-msft commented on #89085
Thank you for your feedback! We will review and update as appropriate.

[2022-03-02 22:22] mike-urnun-msft commented on #89100
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-03-02 22:23] mike-urnun-msft commented on #89081
Thank you for your feedback! We will review and update as appropriate.

[2022-03-02 22:27] abainbridge commented on #50056
I have a vague memory that the first packet of a flow was special because it caused the host to be given the packet (rather than the virtual networking hardware). And correct processing required new enough drivers on the host. If so, I guess this was never a DPDK or failsafe PMD problem. And it became impossible to reproduce as the out-of-date host drivers became extinct. Or maybe I'm just talking

[2022-03-02 22:33] balas77 commented on #80589
The note section on the naming format has been moved up. Please close this issue.

[2022-03-02 22:37] ckittel commented on #50056
Sounds good.  We'll close for now, but I've noted it internally as a stretch goal to look into. Thanks!

#please-close

[2022-03-02 22:37] #50056 closed

[2022-03-02 22:48] dzsquared commented on #88206
@dkboon01 - please let me know if you can clarify or if your question was answered in the docs. I'll close this issue after a few days of no activity.

[2022-03-02 22:59] TXAggie2000 opened #89105 "Shopify service error when parametizing connection"
I am testing out the Shopify Service, and in my case, I have several shops that need to run the same code.  I am attempting to parametrize both the host and the access token that is stored in AzureKeyVault.  Here is my service code:

`{
    "name": "Shopify Service",
    "properties": {
        "type": "Shopify",
        "annotations": [],
        "typeProperties": {
            "host": "@{linkedS

[2022-03-02 23:03] beccamc opened #89106 "Add .NET Spark Code to "Analyze with Apache Spark""
Although Synapse Analytics supports .NET Spark (C#) there isn't an example in this tutorial. Can you add the code for .NET Spark in addition to the python code? I think these are the snippets...

[code]

[code]

[code]

[code]

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65331fde-51d0-365e-e182-2c3b01de8f99
*

[2022-03-02 23:04] TXAggie2000 commented on #89105
It seems that I needed to close and then reopen ADF.  That took care of the issue

[2022-03-02 23:04] #89105 closed

[2022-03-02 23:19] tfitzmac commented on #89056
The doc has been updated. It should get published tomorrow. Thanks again for the feedback.
#please-close

[2022-03-02 23:19] #89056 closed

[2022-03-02 23:23] dehoward opened #89107 "Typos in recommended content for "Use Azure IoT Tools for VSCode to manager IT hub messaging""
Seems like the title should be "Use Azure IoT Tools for VSCode to manage IoT Hub messaging"

![image](https://user-images.githubusercontent.com/52973358/156466360-7c49f8f3-7f95-43a4-99af-307527d3df72.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c1184ca-0d97-ef3d-c465-37ba88918613
* Version Independent ID: ce37d

[2022-03-02 23:26] SatishBoddu-MSFT commented on #89079
< SPAM Identified >

[2022-03-02 23:26] #89079 closed

[2022-03-02 23:31] SatishBoddu-MSFT commented on #89107
Hello @dehoward
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-02 23:36] nickludwig commented on #84039
Submitted a PR addressing default values for `response_mode`. Will be submitting another PR to address default behavior in the absence of optional parameters shortly

[2022-03-02 23:45] bandersmsft commented on #88637
@jzuchora84

To better troublehsoot, look at your request URL, request body, and response details and compare that to the examples in the article. If you can't find the problem, please open an Azure support ticket at https://go.microsoft.com/fwlink/?linkid=2083458.

In general, I recommend that you look closely at your error message:

As per the error message, enrollmentReader will be assigned for

[2022-03-02 23:45] #88637 closed

[2022-03-02 23:46] HeidiHasting opened #89109 "ADF GIT integration the default Collaboration branch name is 'master' not 'main'"
Hi,

Yesterday when I was going through the configure a repository for an Azure Data Factory V2, the Collaboration branch default was 'master' not 'main'. The documentation states 'main' and I recall a while back that all references to master across a lot of products changed to main so perhaps this was missed in ADF.
![image](https://user-images.githubusercontent.com/9391445/156468695-f33a9304-ab9

[2022-03-02 23:51] camalloy opened #89110 "Missing critical information and special Azure File syntax"
There should be an example to show what the destination looks like for an Azure File Share. I spent hours trying to figure this out with Azure Premier Support, we tried about 30 combinations before some things started to work.

robocopy D:\\ '\\<azure-file-share>.file.core.windows.net\<share-name>' /MT:8 /R:2 /W:1 /B /MIR /IT /COPY:DATSO /DCOPY:DAT /NP /NFL /NDL /XD "System Volume Information" /UN

[2022-03-02 23:58] ecfan commented on #89100
Hi @DamionWaltermeyer,

Thanks for your feedback! The **Publish** option applies only when you're creating a Standard logic app. The doc that you referenced applies only to Consumption logic apps. We'll update both Consumption and Standard docs to clarify this difference.

[2022-03-03 00:01] ggailey777 commented on #80589
Thanks @balas77 #please-close

[2022-03-03 00:01] #80589 closed

[2022-03-03 00:09] chenlonglab198 opened #89111 "acrpull role for MI is not work when ACI use managed identity to authenticate to private ACR(public access disabled)"
[Enter feedback here]
Hi,
1. Recently we did a lab follow this document: https://docs.microsoft.com/en-us/azure/container-instances/using-azure-container-registry-mi
2. when we try to deploy an ACI without vnet injected and using MI to authenticate to private ACR(public access disabled), and it's failed with error "image not accessible" when we just assign the acrpull role to the managed identity

[2022-03-03 00:13] naokitakeda14 commented on #89038
Hi, do you have any updates so far?
Thank you,

[2022-03-03 00:13] Oury-MSFT commented on #89103
@m60freeman We are looking into this and will get back shortly.

[2022-03-03 00:21] festivus opened #89112 "ServiceProxy thread safe"
I have a stateless service (stateless1) that will need to call another stateless service (stateless2). I want to use constructor injection on stateless1 to pass in an instance of a ServiceProxy for stateless2. I've seen examples of passing in the service proxy factory but not the service proxy itself. I see the documentation that says you can reuse a service proxy instance for as long as you need,

[2022-03-03 00:28] azarainey opened #89113 "Azure AD or Azure AD DS"
The documentation needs some clarification around requirements. In many sentences under the `For subscriptions without Azure AD DS or AD DS` section it references `Azure AD or AD DS` which is not in alignment with the section nor sentence context. I would do a find & replace on `Azure AD or AD DS` for `Azure AD DS or AD DS`, but a subject matter expert would be better off reviewing each replacemen

[2022-03-03 00:34] ConcreteGannet opened #89114 "Remove Storage from sources in "I can use when" image"
The image https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/media/overview/when-use-managed-identities.png on this page is wrong. Storage accounts are perfectly fine on the list of targets. However they should not be mentioned as a source, and it's confusing to imply they can be a source in some way . The list of Azure services that you *can* give a managed

[2022-03-03 00:44] #89100 closed

[2022-03-03 00:44] AnatoliB commented on #81222
@pragnagopa I'm referring to the runtime name as listed at https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#functions_worker_runtime. I understand which runtime you are referring to, but I don't think there is a runtime officially called `dotnet-inproc` in user-facing documentation or UX, there are just `dotnet` and `dotnet-isolated`, correct?

[2022-03-03 00:47] JamesTran-MSFT commented on #89114
@ConcreteGannet
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-03-03 00:54] Nickomang commented on #89051
@ezYakaEagle442, thanks for opening the issue. We are working with the product group to update our documentation in parallel with the public preview release of the feature. Closing this, as we're tracking internally.

#please-close

[2022-03-03 00:54] #89051 closed

[2022-03-03 01:05] TiloGit commented on #82379
any update on this?

[2022-03-03 01:09] kobulloc-MSFT commented on #89113
@azarainey Thank you for bringing this to our attention!  I'm reviewing the `Azure AD DS or AD DS` vs `Azure AD or AD DS` in the document for accuracy.

[2022-03-03 01:11] kobulloc-MSFT commented on #89102
@valtynikov Thank you for bringing this to our attention!  I'm reviewing the documentation and will get back to you shortly.

[2022-03-03 01:15] cmcapellan opened #89115 "Google Screenshots/UI instructions out of date"
The Google Admin portal has changed and now looks completely different. It is not clear where to go to enable API access in "Step 2. Configure G Suite to support provisioning with Azure AD".

Please update!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6eba9a3b-88e4-8156-a31e-58a74c604f28
* Version Independent ID: 2e0

[2022-03-03 01:17] trungngv opened #89116 "Access to original file name for transcription results"
[Enter feedback here]

When using batch transcription with multiple files, how do we get back the names of the original files that correspond to the transcription results? Are the URL results returned in the same order as the input to `content_urls`?

When giving a container URI, I can get the file/blob names as part of the results, but when using with single or multiple blobs, it only returns the

[2022-03-03 01:31] Oury-MSFT commented on #88643
@deborahc Could you please provide more insights on the above.

[2022-03-03 01:31] Karishma-Tiwari-MSFT commented on #87994
@roygara @v-hearya Can you please help confirm on the same? Thanks :)

[2022-03-03 01:35] jlautman commented on #88643
This is false. A cosmosdb sql database _that was created by ARM template_ without autoscaling enabled can't ever be converted to autoscale at the database scope. This is because when created from the portal, the portal automagically adds properties to provision for the possibility of adding autoscaling in the future. These properties are not automatically added to the resource if created from ARM

[2022-03-03 01:46] jlautman commented on #88643
In fact, the sample ARM template doesn't include the options section needed to make it possible to add autoscaling in the future, so a customer who uses the sample will never be able to add database scope autoscaling. https://docs.microsoft.com/en-us/azure/cosmos-db/sql/quick-create-template?tabs=CLI

[2022-03-03 01:47] Karishma-Tiwari-MSFT commented on #88627
@Klaas- My apologies. I am confirming on this internally and will get back to you. Thanks.

[2022-03-03 01:51] MonikaReddy-MSFT commented on #89084
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-03-03 01:52] MonikaReddy-MSFT commented on #89065
@DavideDelVecchio  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-03-03 01:53] MonikaReddy-MSFT commented on #89066
@DavideDelVecchio  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-03-03 02:44] MonikaReddy-MSFT commented on #88897
@neilmario70 - Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2022-03-03 02:44] #88897 closed

[2022-03-03 02:46] MonikaReddy-MSFT commented on #87431
@msshinaida - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-03 02:46] #87431 closed

[2022-03-03 02:48] MonikaReddy-MSFT commented on #88367
@apwestgarth - Thanks for providing your insights.
@raisaurabh777 & @youngjoven - Thanks again for bringing this to our attention. We will take this note and add it in the backlog to update the doc.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-03 02:48] #88367 closed

[2022-03-03 02:52] ChaitanyaNaykodi-MSFT commented on #88699
Hello @randomat123, Thank you for your feedback. I have made a PR to address this issue and it is currently under do author's review. We will now proceed to close this issue out. Please tag me in your response if you have any questions. Thank you!

[2022-03-03 02:52] #88699 closed

[2022-03-03 03:00] ecfan commented on #89081
@mike-urnun-msft: Could you please investigate with the Logic Apps team what permissions are necessary? I'll work on refreshing the doc because many screenshots and steps are outdated. Thanks!

[2022-03-03 03:16] lrtoyou1223 commented on #88672
@nabhishek to comment on CI/CD part.

[2022-03-03 03:23] aaronpowell commented on #88984
Thanks @maatetoth I'll have a look at it

[2022-03-03 04:01] shashishailaj commented on #89115
@cmcapellan Thank you for your feedback . We will investigate and update the thread.

[2022-03-03 04:06] SreejaBhattacharya-MSFT commented on #89046
Hello @palma21 , can you please review and add your comments on this doc-update request?

[2022-03-03 04:18] Oury-MSFT commented on #89103
@m60freeman
_**With regard to #scaling-responsiveness, how much time does it take for the database to scale in response to a significant increase or decrease documented? This document provides no specifics in terms of how much of a change in workload over what length of time triggers the scaling, and how long that scaling takes (seconds? minutes? hours?).**_
Serverless scale-up response time is ty

[2022-03-03 04:26] #88941 closed

[2022-03-03 04:27] AnuragSharma-MSFT commented on #88941
@Aftabalamkhan120 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2022-03-03 04:27] SudheeshGH commented on #81641
@AnuragSharma-MSFT Please close this.

[2022-03-03 04:28] ram-msft commented on #89116
@trungngv Thanks for the question. We are investigating the issue and will update you shortly.

[2022-03-03 04:33] VikasPullagura-MSFT commented on #89112
@festivus
Thanks for your Question! We are currently investigating and will get back on this.

[2022-03-03 04:34] Karishma-Tiwari-MSFT commented on #88627
I misunderstood your question initially reading it as you were able to do it on 8.5 and that's why I was waiting on author's review/confirmation. On internal investigation, I found that 8.3 is supported and not 8.5.
The result is the same while trying to select 8.5 on Azure portal, it says the image is not compatible. Apologies on the confusion.
I have closed the PR as no update required on the do

[2022-03-03 04:34] wailinoo1 opened #89117 "if else case issues"
I have some problems.
How can we use CASE as a condition in Azure Stream Analytic Query?
CASE WHEN it's something THEN do something

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0ebe9e5-9a83-b5e6-5dd6-34c841cae021
* Version Independent ID: 8c19161b-2eef-ecc9-37fe-5e665da9b2cb
* Content: [Common query patterns in Azur

[2022-03-03 04:39] VikasPullagura-MSFT commented on #89050
@zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2022-03-03 04:48] franklloydteh commented on #75354
Hi,

It seems that the [azure github pages](https://azure.github.io/application-gateway-kubernetes-ingress/how-tos/lets-encrypt/) is also outdated.

The API for the **ClusterIssuer** that worked for me is **apiVersion: cert-manager.io/v1**

[2022-03-03 04:51] johnayoub commented on #88825
@SnehaAgrawal-MSFT I'm using Azure App Service and would like to run a windows container.

[2022-03-03 04:58] habiba-h opened #89118 "Explore labeled datasets via pandas dataframe"
It's not fully explained how to access the data labeler dataset output through code. The documentation gives the following snippet of code:

[code]

But this doesn't fully work, The `image_url` column in the data labeler exported dataset is a StreamInfo type object that points to some AMLstore. Its not an standard path that could be fed into the `imread`  method.

I can see the images downloaded i

[2022-03-03 05:22] AnnuKumari-MSFT commented on #89094
Hi @madmaxlax ,
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-03 05:24] AnnuKumari-MSFT commented on #89109
@HeidiHasting ,
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-03 05:26] AnnuKumari-MSFT commented on #89106
@beccamc ,
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-03 05:43] zeeshaanali commented on #88252
Hi @MonikaReddy-MSFT and @sharroy  - Shall I open a new issue for this?

[2022-03-03 05:53] SreejaBhattacharya-MSFT commented on #89057
Hello @davelobban , yes correct, since windows server 2022 is not mentioned under the supported operating systems for custom script extension, that means it's not yet supported as of now.

Hi @amjads1 , could you please review this and add your comments.

[2022-03-03 05:57] SreejaBhattacharya-MSFT commented on #87630
Hi @jyama4ta , we are yet to receive a response on this. We have reached out to the internal team. We'll keep you posted.

[2022-03-03 05:58] MughundhanRaveendran-MSFT commented on #88819
@imeya , As mentioned in the article, the maximum burst is applied at the Elastic premium plan SKU and the scale-out limit is at the App level (one or one of the functions running in the Plan). Your understanding is correct. Even when the maximum burst is set to 20 and the scale-out limit of the app is set to 5, this particular app cannot scale more than 5 instances while the other apps inside the

[2022-03-03 05:58] #88819 closed

[2022-03-03 06:03] ram-msft commented on #89118
@habiba-h Thanks for the question. We are investigating the issue and will update you shortly.

[2022-03-03 06:04] ShaikMaheer-MSFT commented on #88801
@mssaperla / @leifbro  Requesting to validate customer feedback to check possibility to update document as appropriate. Thank you.

[2022-03-03 06:23] kobulloc-MSFT commented on #88771
@TheCitrixGuy, responses to your questions above:

**Can you please provide a further details on how the REST API method can be used?**
Using the Azure REST API is outside of the scope for this document as it gets somewhat lengthy however there is documentation on using the Azure REST API as well as REST operations for Compute (including VMs):

- [Azure REST API reference](https://docs.microsoft.c

[2022-03-03 06:23] kobulloc-MSFT commented on #88771
@TheCitrixGuy We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-03-03 06:23] #88771 closed

[2022-03-03 06:29] shwetamathur7 commented on #88846
@pmeuser We are assigning this to the content team for reviewing this request with engineering and update the content.

[2022-03-03 06:30] Dickson-Mwendia commented on #86556
Hi @anantharamakrishnans, since we're tracking this internally in a multi-part tutorial series project that's in progress, I'll close this issue.

Thanks again for opening the issue and helping improve our developer content.

#please-close

Cc: @mmacy @henrymbuguakiarie

[2022-03-03 06:30] #86556 closed

[2022-03-03 06:34] WenJason opened #89135 "How to mount a sovereign cloud storage account？"
If this article (https://docs.microsoft.com/en-us/azure/storage/blobs/storage-how-to-mount-container-linux) is only applicable for public
azure? Can we append something (e.g. **EndpointSuffix**) to define a sovereign cloud storage in the **.cfg** file? "[Configure your storage account credentials](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-how-to-mount-container-linux#configure-y

[2022-03-03 06:35] dearandyxu commented on #88243
2 GBps is an aggregate throughput from multiple copy activities running concurrently.

#please-close

[2022-03-03 06:35] #88243 closed

[2022-03-03 06:36] shwetamathur7 commented on #87638
@harald-quist-stratsys I tried tested in my end but I was not able to get a solution. This might require deeper troubleshooting and we would like to help you offline on this. Please send us an email on azcommunity [at] microsoft [dot] com referencing this issue with a subject line "ATTN:shweta" and we will help you with alternative support options on this.

[2022-03-03 06:36] #87638 closed

[2022-03-03 06:41] Dickson-Mwendia commented on #88617
Hi @nlz242,

Thanks for opening this issue. Would you please clarify which of the desktop app quickstarts you were following so I can continue looking into it. We have guidance on [UWP](https://docs.microsoft.com/en-us/azure/active-directory/develop/desktop-app-quickstart?pivots=devlang-uwp) and [WPF](https://docs.microsoft.com/en-us/azure/active-directory/develop/desktop-app-quickstart?pivots=dev

[2022-03-03 06:58] SumanthMarigowda commented on #89110
@camalloy Thanks for the question! We are investigating and will update you shortly.

[2022-03-03 07:07] StephenBethke opened #89136 "ADAL recommended but shortly no longer supported"
The security mitigation states: "Use ADAL libraries to manage token requests from OAuth2 clients to AAD (or on-premises AD)" but every ADAL reference seems to indicate that support for this is ending and I should use MSAL instead. If this is indeed the case, please update this mitigation to reflect the current best practice.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this sec

[2022-03-03 07:11] v-hagamp commented on #88579
@SaraSRS, have you sent the mail to this [SaaSApplicationIntegrations@service.microsoft.com](mailto:SaaSApplicationIntegrations@service.microsoft.com)?

[2022-03-03 07:17] shwetamathur7 commented on #88081
@graviaDaemon We have raised the request internally to update the snippet with latest changes.

[2022-03-03 07:24] SaraSRS commented on #88579
I have not. I was trying to make a courtesy update, and this has turned
into a lot more work than I expected. I have things I need to do in my own
work day that don't get done, I don't have the time to do 15 things to get
your documentation updated so that it stops providing bad information.

On Wed, Mar 2, 2022 at 11:11 PM Hamsika ***@***.***> wrote:

[2022-03-03 07:32] aconsolati opened #89138 "Small errors & Inconsistencies"
There is an odd mix of az cli commands and Azure PowerShell under the 'PowerShell' tab for command line examples.  I did not have Azure PowerShell installed, so these commands failed while the az commands worked as expected.  This can make for a frustrating experience for a beginner.

Recommend replacing PowerShell commands with az CLI for the following steps:

- Use the following command to creat

[2022-03-03 07:51] Klaas- commented on #88627
So you are only supporting trusted launch on a RHEL that is no longer supported by Red Hat?

[2022-03-03 07:53] Klaas- commented on #88627
(RHEL 8.3 has been unsupported by Red Hat since May 2021)

[2022-03-03 07:56] naokitakeda14 commented on #89038
Hi, @MashaMSFT
I just check the original author of the document (https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/resource-limits#service-tier-characteristics).
If not, sorry, but if you know something, could you answer my concerns about the document.

Thank you,

[2022-03-03 08:20] dhohle commented on #88584
Hi Shaik.
First, as the document describes, I create a Virtual Network Peerings from Databricks instance. From this I copied the url.
Then I go to a Virtual Network and click `Peerings` then `Add`, the I get:
![image](https://user-images.githubusercontent.com/1853862/156523782-234ea349-7162-408c-8fa1-e757a73200fc.png)

Your documentation says I should see - maybe that's true for the virtual networ

[2022-03-03 08:23] AnnuKumari-MSFT commented on #88799
@tcsougan , Thanks for sharing the details. I have reached out to the product team for more insights on the same.

[2022-03-03 08:30] dhohle commented on #88584
@ShaikMaheer-MSFT can you reopen this? I needed to make sure I had the right credentials, and not everything here is that fast

[2022-03-03 08:41] FaithOmbongi commented on #87162
Thank you @SDFVasantHorapeti for raising this issue and my apologies for the delayed response.

I hope I'm sharing a complete answer here.

What's referred to as the [B2C custom attributes](https://docs.microsoft.com/en-us/azure/active-directory-b2c/user-flow-custom-attributes?pivots=b2c-custom-policy#using-custom-attribute-with-ms-graph-api) are defined through the [extensionProperty resource](ht

[2022-03-03 08:54] georgalthaus opened #89139 "The Option with the A Record only works with static PIP"
The Option
A vanity DNS name, such as: app1.contoso.com. As long as this name is first configured as an A record pointing to the IP address 23.96.52.53. The name can also be pointed to another IP address in the same subscription.
only works, if the Puplic IP is static. This is not mentioned on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2022-03-03 08:57] guywi-ms commented on #89048
@oliviomoura Thanks for your feedback! We've submitted a documentation change based on your suggestion, and the updated article should be live by tomorrow. Please let us know if there's anything more we can do for you. To follow up on this issue, leave us a comment with an @mention.
#please-close

[2022-03-03 08:57] #89048 closed

[2022-03-03 09:19] davelobban commented on #89057
Thanks for the update.
However it's very disappointing to hear that a key part of automating the set up of a new VM is not possible under the latest version of the flagship OS some six months after release. Is there an alternative method of running a Powershell script on a new Server 2022 VM that I have missed?

[2022-03-03 09:38] grimstoner opened #89140 "Release date for Extension version 1.1.5.1 incorrect"
The last entry in the extension versions table reads January 2021... this should be January 2022.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8201f331-0fa7-a801-9f4d-75d65cd77625
* Version Independent ID: 86a66791-11bb-4f20-f77d-42fe58f5dcf4
* Content: [Manage the Azure Monitor agent - Azure Monitor](https://docs.mi

[2022-03-03 09:46] nth-block opened #89141 "Clarification on the possibility of ARM template deployment for this solution"
The PowerShell in essence calls a REST api for the deployment of the solution. I was wondering if there is an ARM template that is available for orchestrating the solution. This will greatly help in automation of the solution deployment across multiple subscriptions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04178

[2022-03-03 09:54] Christopher-P-Green opened #89142 "Azure Virtual Desktop UK URL's"
Hi Microsoft,

I logged a Q&A with Microsoft which you can find here: [https://docs.microsoft.com/en-us/answers/questions/757720/azure-virtual-desktop-uk-url39s.html?childToView=757759#comment-757759]

The answer suggests that the WVDAgentUrlTool.exe only works for USA URL's and does not work for all global URL's, your article does not mention this and so my feedback would be that if you could mak

[2022-03-03 10:19] #87918 closed

[2022-03-03 10:26] mascalyx commented on #76422
Hi. Is there a date when the ruleset will become general release?

[2022-03-03 10:30] KrishnaG-MSFT commented on #89140
@grimstoner Thanks for your comment! We will review and provide an update as appropriate.

[2022-03-03 10:39] bolt-io opened #89144 "Undocumented B2C page layout versions (self-asserted and Multifactor)"
The B2C Portal shows that there is a self-asserted page layout version 2.1.9 but the azure doc does not include _what_ updates there are on this page layout (https://docs.microsoft.com/en-gb/azure/active-directory-b2c/page-layout#self-asserted-page-selfasserted).
![image](https://user-images.githubusercontent.com/10209663/156548241-3d473514-9fc7-4bec-9aed-8bc2cbe63d84.png)

Multifactor is also out

[2022-03-03 10:40] bolt-io commented on #89144
#ATCP

[2022-03-03 10:54] lahaddad opened #89145 "Check DBR and Scala Version being used by SQL Endpoint"
The SQL endpoint compute resource is managed by Databricks, and user has no direct way to check DBR and Spark configuration being used.

Follow these steps to check DBR and Spark configuration being used by the SQL endpoint:

1. Go to **Databricks SQL tab** from the workspace UI.

2. Click on the **Query History** tab and select any successful query. And go to **Query Profile**.

3. Now, from the