[2021-02-03 18:25] JamesTran-MSFT commented on #69971
@Gassela
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-03 18:28] afelthe opened #69973 "How to specify dynamic fileName and partition values"
When partitioning files in Azure Data Factory many people need a dynamic naming convention that will iterate over various files of different names, version them and add an extension like .csv.  The data flow expression language does not include dataset parameters to use from the expression builder.  The documentation is silent on this common use case.  How can one accomplish this when the source i

[2021-02-03 18:37] craigshoemaker commented on #69666
@justinkneff - you make a good point here. I can restructure things a bit to make it more consistent.

Thanks for the heads up!

[2021-02-03 18:42] SatishBoddu-MSFT commented on #69941
@biltongza
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-03 18:46] JasonFreeberg commented on #69795
Hey @Dolphinsimon -- What OS were you using where `System.getenv("cloud.url")` actually worked? Periods aren't typically used in env variable names--in fact, when I try `export FOO.BAR=example` I get `-bash: export: FOO.BAR=word': not a valid identifier`. Powershell on Windows doesn't allow periods in identifiers either.

[2021-02-03 18:47] SatishBoddu-MSFT commented on #69962
@Shademan Thanks for the feedback, please let me know if the [document link](https://docs.microsoft.com/en-us/azure/data-factory/control-flow-web-activity) is the right one?
I have assigned the issue to the content author for further review.

[2021-02-03 18:48] SatishBoddu-MSFT commented on #69973
Hello @afelthe
Could you please let us know the exact MS Document link to which you have referred? I need to add the metadata so that we triage this issue as soon as possible. Thanks for your understanding.

[2021-02-03 18:51] SatishBoddu-MSFT commented on #69955
@jhueppauff Thanks for your feedback!
I have assigned the issue to the content author for further review.

[2021-02-03 18:52] SatishBoddu-MSFT commented on #69961
@RonMontU Thanks for your feedback!
I have assigned the issue to the content author for further review.

[2021-02-03 18:56] JamesTran-MSFT commented on #69964
@dcross-msft
Thank you for pointing this out!

Would you be able to share the pull request you made so we can take a look at why you aren't showing up as a contributor on this doc.

[2021-02-03 18:57] jaschrep-msft commented on #69941
@biltongza  There is not currently an equivalent of the RequireEncryption flag in v12. Can you describe how your workflow makes use of it?

The key wrap algorithm is up to you. Client-side encryption is built in such a way that you only decide on upload. The algorithm name is stored in encryption metadata and will be extracted to correctly unwrap the key on decryption, assuming your implementation

[2021-02-03 18:57] codeputer commented on #69894
Also – have two step auth enabled for the account…

richard@reukema.ca<mailto:richard@reukema.ca> which is an alias for Richard.reukema@outlook.com<mailto:Richard.reukema@outlook.com>

R

From: James Tran-MSFT <notifications@github.com>
Sent: February 2, 2021 10:04 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Richard Reukema <rreukema@hotmail.com>; Mention <mention@noreply.g

[2021-02-03 19:01] MisinformedDNA commented on #69271
The difference between the VM and this is that the VM name does not need to be globally unique, but SQL and KeyVault names do. That's the type of collision I'm referring to.

[2021-02-03 19:05] JamesTran-MSFT commented on #69916
@mjaggard
Thank you for your time and patience! I was able to sync with the author of this doc, who spoke with our Apple rep, and I'll post next steps below.

**Next Steps:**
As of right now, the documentation is currently up to date. However, if you're having issues mounting your Azure file share, we recommend creating a support request, so our support team can take a closer look into your enviro

[2021-02-03 19:10] MonikaReddy-MSFT commented on #69886
@maheshkvis - This service will be in GA either month or the next. Hope this helps.

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-03 19:10] #69886 closed

[2021-02-03 19:19] codeputer commented on #69894
I’m the administrator Im pretty sure – I had better be cause I’m the guy that’s paying!

From: James Tran-MSFT <notifications@github.com>
Sent: February 2, 2021 10:04 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Richard Reukema <rreukema@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Page has changed in terms of layout - can't navi

[2021-02-03 19:20] codeputer commented on #69894
![image](https://user-images.githubusercontent.com/611541/106797677-c75a6780-6611-11eb-95d5-5ea7cd5b2582.png)

this is the screen I'm seeing - which doesn't have the left panel that the document describes

[2021-02-03 19:21] MicrosoftGuyJFlo commented on #68792
Still waiting on the Product Group to respond... have been following up

[2021-02-03 19:30] dylan-fox commented on #69824
Hi @mstradford, thanks for looking into it. I was able to build and deploy the [Quickstart](https://docs.microsoft.com/en-us/azure/spatial-anchors/quickstarts/get-started-unity-hololens?tabs=azure-portal#prerequisites) app via Unity to my HoloLens 2 and it worked fine.  The issue specifically came up when I tried to add the Windows spatial anchors dependencies to my existing project that I had con

[2021-02-03 19:39] HeidiSteen commented on #69864
#please-close

[2021-02-03 19:39] #69864 closed

[2021-02-03 19:40] JamesTran-MSFT commented on #69894
@codeputer
Thank you for the quick follow up and screenshot!

I've assigned this issue to the author who will investigate and update the docs as appropriate.

[2021-02-03 19:43] JamesTran-MSFT commented on #69828
@cjmakwana
Thank you for your time and patience!

I've reached out to my team regarding this issue and will update as soon as possible.

[2021-02-03 19:44] ssivas commented on #69927
To answer your question, A subscription can be owned by exactly one account which has **Account Administrator** and **Service Administrator** access.

When you create a new subscription, it's hosted in your **account's Azure AD tenant**. The Account that is used to sign up for Azure is automatically set as both the **Account Administrator** and **Service Administrator**. Then, additional **Co-Admi

[2021-02-03 19:51] SadiqhAhmed-MSFT commented on #69681
@jhornych PR - https://github.com/MicrosoftDocs/azure-docs-pr/pull/145431 has been raised to update the documentation.

[2021-02-03 19:57] emuench commented on #63923
@Ari6, we'd like to create a bug for this. Can you help us with some additional information: what type of offer are you creating (or in) when this happens? Can you snapshot a screen as well? Any other info you think would be helpful, please include. Sorry for the delay, and thanks for your help.

[2021-02-03 20:00] nanefms commented on #68812
@traciezenti - we will follow up internally to get more information and details on edits then resolve

[2021-02-03 20:01] emuench commented on #68812
#please-close

[2021-02-03 20:01] #68812 closed

[2021-02-03 20:04] emuench commented on #68812
This will be resolved shortly. Wait a couple weeks and if you feel like your question(s) still hasn't be resolved, please provide additional information, or submit a support ticket at https://docs.microsoft.com/en-us/azure/marketplace/support. Thank you for contributing!

[2021-02-03 20:05] emuench commented on #69605
We have updated that link. If this does not resolve your question(s), please provide additional information, or submit a support ticket at https://docs.microsoft.com/en-us/azure/marketplace/support. Thank you for contributing! #please-close

[2021-02-03 20:05] #69605 closed

[2021-02-03 20:25] ezwiefel opened #69981 "'compute_target' in YAML not working for Databricks or PythonScriptSteps, but 'compute' seems to work"
The YAML schema appears to be wrong for the pipeline definition at least for Databricks and PythonScript Steps.

For example, this YAML doesn't work...

[code]

but this YAML does:

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac092952-4045-3862-e95f-8771d0b67649
* Version Independent ID: f33af841-db1e-91e1-790

[2021-02-03 20:35] panabaker commented on #69917
Thanks

[2021-02-03 20:35] #69917 closed

[2021-02-03 20:36] ezwiefel commented on #69981
I'm unsure if any other other step types have the same issue...

[2021-02-03 20:41] panabaker commented on #69915
this isn't super clear.  Rather, I would say "An alternative to creating an IoT Hub is to connect your device to the Azure IoT Central service.  See this document for more information:  Azure IoT Edge for Linux on Windows (EFLOW) with IoT Central"

Note, I would append "with IoT Central" to your link as it is the actual title of the linked page.

[2021-02-03 20:42] ErikMogensen commented on #69778
I asked and no one was aware of a support request for increasing the number of units so it is highly unlikely that we should have raised such a ticket.

I created a Premium instance in a MSDN subscription today and the GUI allowed me to create 20 units initially. After some opening and closing it set the maximum limit to 10 but the next time it was back to 20:
![image](https://user-images.githubus

[2021-02-03 20:45] #69639 closed

[2021-02-03 20:47] harnsin opened #69985 "Remove extra space from third cmdlet with -providernamespace"
Hello,

I would like to suggest an edit by removing extra space between parameter (ProviderNamespace) and -. See below:

ORIGINAL:
[code]

PROPOSED:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e267d760-1762-ab0d-c146-3596ea6f9c31
* Version Independent ID: 18890a3b-e256-35cc-5f11-bc7e92633a13
* Content: [Troub

[2021-02-03 21:04] kensmith-li opened #69986 "Link to the page for managing service principals as admins?"
At first glance, the documentation seems to be missing the steps for adding service principals as server admins, though it _is_ covered over in [How-To / Server / Add a service principal to the server administrator role](https://docs.microsoft.com/en-us/azure/analysis-services/analysis-services-addservprinc-admins); a link to said page, maybe in the 'When adding a security group, use..' paragraph,

[2021-02-03 21:13] ChaitanyaNaykodi-MSFT commented on #69238
Hello @lawrenceong001, apologies for the delay. As the document suggest the Notification Hub output binding in supported by v1 function apps. As [documented here ](https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions#languages) Version 1.x is based on .Net Framework. Here is the [host.json](https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json-v1) referenc

[2021-02-03 21:13] #69238 closed

[2021-02-03 21:14] SatishBoddu-MSFT commented on #69915
@panabaker
I think we should submit the issue under the target document's repo, where we started actually.  @rangv Do you have thoughts on this? Do you suggest we move this issue under the actual repo?

![image](https://user-images.githubusercontent.com/62923178/106810336-a69a0e00-6621-11eb-9133-f4610b31cc50.png)

[2021-02-03 21:19] AjayKumar-MSFT commented on #69768
Thanks for additional details. I'm reviewing this further/discussing internally, will get back to you shortly. Apologies for any inconvenience with this.

[2021-02-03 21:24] asudbring commented on #20051
#please-close

[2021-02-03 21:24] #20051 closed

[2021-02-03 21:36] krowlandson commented on #49010
I've posted a reply on stack overflow which I believe may help with both #49010 and #64178

Please check it out and let me know if this helps:
https://stackoverflow.com/a/66035997/15140671

In summary, I believe the error is caused by a confusion when replacing values surrounded by `<` `>` braces when setting the format of URL.

[2021-02-03 21:37] afelthe commented on #69973
Hello.  The doc below discusses iterating through a SQL server and grabbing all the tables.  In the case of medium to large tables, partitioning needs to occur for the ADF pipeline to work.  However, there is no instruction on how to dynamically name the files that are output from partitioning.  So, I am seeking instructions on creating an expression and/or parameter that will give me a sink datas

[2021-02-03 21:40] tholum opened #69987 "Does not seem to work"
Does not seem to work for me ( See https://github.com/Azure/azure-cli/issues/16788 )

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b20ff19-2e1e-941c-2dfc-ea5456b081ef
* Version Independent ID: 6958b886-122d-0fce-3f77-d0c74944fb0e
* Content: [Enable host-based encryption on Azure Kubernetes Service (AKS) - Azure Kuber

[2021-02-03 21:50] rbavery opened #69988 "list the availability zone codes that I can use with the azure cli"
this info isn't the top result on google when I search "Azure availability zone codes" and I keep getting `us-east-1` is invalid when trying to create a blob store.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cca70845-100f-2cfd-aba3-34b7fa4a5264
* Version Independent ID: 475b26e5-9e23-f769-3bd5-cbc4a678dbf0
* Conten

[2021-02-03 21:54] jasonhorner commented on #69933
looks like maybe you can use this as well but provide an example path: dbutils.library.install()

[2021-02-03 22:01] BharathNimmala-MSFT commented on #69778
@ErikMogensen Thanks a lot for your response and confirmation of the behavior you see in the UI . I already reached out to respective team for the same, latest information shared by would help me to further drive the conversation with the team.

Will keep you updated , thanks again for taking time to report on this.

[2021-02-03 22:04] himanshusinha-msft commented on #69736
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-02-03 22:07] AlexandraKemperMS commented on #69523
Hi @sameer-kumar, yes, I hear you. To build a better experience this is something we have prioritized and are working on.

[2021-02-03 22:15] Grace-MacJones-MSFT commented on #69881
it looks like the api version has been updated in the docs. We will now proceed to close this issue. Thanks!
![api updated](https://user-images.githubusercontent.com/42247081/106816378-2035fa00-662a-11eb-9425-b931798c49f5.PNG)

[2021-02-03 22:15] #69881 closed

[2021-02-03 22:27] elvirk opened #69989 "What roles are requiered to create ASE"
[What roles are required to create ASE. In my environment we are using customer roles and I want to ensure that least previlage role is used.

Thank you.
]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af931817-c3c8-6376-d2c2-a10795161d04
* Version Independent ID: d2b59e0c-0c35-a335-b523-64f4d6f29d09
* Content: [Intro

[2021-02-03 22:31] RonnieQuan opened #69991 "Description for Each Operation For KeyVault Access Policy"
Can you please point out where the description is documented for for all permission of the access policy?

what's the meaning for each permission, backup, update and etc?

--key-permissions {backup, create, decrypt, delete, encrypt, get, import, list, purge, recover, restore, sign, unwrapKey, update, verify, wrapKey}

--secret-permissions {backup, delete, get, list, purge, recover, restore, set}]

[2021-02-03 22:50] Jedoe830 opened #69992 "How to turn on ATP for PostgreSQL using ARM?"
[Enter feedback here]

How can I accomplish that using ARM? There is an Azure Policy for CosmosDB, but not for PostgrsSQL. So I have to edit the policy definition, but I cannot find the id for the PostgreSQL's ATP.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 433ea130-f04f-884a-9b93-673de08c464f
* Version Independent

[2021-02-03 23:12] DerekHerman-MSFT commented on #69985
Thanks for the feedback! I have created a PR and this should be updated shortly.

[2021-02-03 23:32] JamesTran-MSFT commented on #69991
@RonnieQuan
Thank you for your detailed post!

You should be able to find a description for each operation within our [Azure Key Vault REST API](https://docs.microsoft.com/en-us/rest/api/keyvault/) reference.

If you have any other questions, please let me know.
Thank you for your time and patience throughout this issue.

[2021-02-03 23:42] jovalen opened #69994 "Error when run the SQL query on a spark created table . The document shows the table uppercase"
[Enter feedback here]
This doesnt work:
SELECT * FROM mytestdb.dbo.myExternalParquetTable WHERE name = 'Alice';

Instead it should show:
SELECT * FROM mytestdb.dbo.myexternalparquettable WHERE name = 'Alice';

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d62b5d1-6a59-653b-56f2-da5c475440f7
* Version Independent ID: a

[2021-02-03 23:42] SatishBoddu-MSFT commented on #69968
Hello @maxstefaniv
What is the OS/version of Raspberry PI OS you have used?

[2021-02-03 23:48] SatishBoddu-MSFT commented on #69981
@ezwiefel
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-03 23:50] SatishBoddu-MSFT commented on #69986
@kensmith-li Thanks for the feedback!
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-02-03 23:53] SatishBoddu-MSFT commented on #69987
@tholum
Thanks for the feedback! We are currently investigating and will update you shortly.
Cc: @TravisCragg-MSFT @yonzhan

[2021-02-03 23:55] MarileeTurscak-MSFT commented on #69763
@Nicholak-MS and @kkern13 can you please add this? There was feedback left in September for this and it was closed out, but it doesn't look like this SKU was ever added. https://github.com/MicrosoftDocs/azure-docs/issues/62184

[2021-02-03 23:55] SatishBoddu-MSFT commented on #69988
@rbavery Thanks for the feedback!
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-02-03 23:56] SatishBoddu-MSFT commented on #69992
@Jedoe830
Thanks for the feedback! We are currently investigating and will update you shortly.
Cc: @NavtejSaini-MSFT

[2021-02-03 23:58] SatishBoddu-MSFT commented on #69994
@jovalen thanks for the feedback!
Our SME in this area will review the feedback and will get back to you soon.

[2021-02-03 23:59] Grace-MacJones-MSFT commented on #69989
Hi @elvirk, Thank you for the comment. We are currently investigating and will update you when we have accurate information to provide.

[2021-02-04 00:02] Minewiskan commented on #69986
#in-progress

[2021-02-04 00:16] amanjeetsingh opened #69995 "More information - Guidance on HDI Hbase failback process"
Need additional guidance on how to failback an Hbase cluster which was originally implemented with Leader-Follower replication.
Scenario
Customer has setup Leader-Follower replication pattern between two regions.
[Cluster1] = Leader in Azure Region 1
[Cluster2] = Follower in Azure Region 2

Region1 goes down which means Cluster1 is unavailable.

How would the following scenarios play out?

**Quest

[2021-02-04 00:27] Anand-Moghe opened #69996 "Deploy to Azure Static Webapp using Azure DevOps Service Repos and Pipeline"
Can you please add some information about how to deploy to Azure Static Webapp using Azure DevOps Service Repos and Pipeline? E.g. Can I use Azure CLI and use Azure Repos URL with PAT? Because portal only forces to use GitHub but Azure CLI does provide an option to deploy from Git based repos.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2021-02-04 00:31] Anand-Moghe opened #69997 "Can you add an example for using Azure Pipeline to build this app?"
Microsoft Enterprise customer would like to use Azure DevOps Pipeline option as well in addition to GitHub Action option.
Is it possible to deploy to Static webapp using Azure Pipeline and how?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59b3b161-b559-f90b-1566-f18776a5f7da
* Version Independent ID: 3e536234-16ad-2e

[2021-02-04 00:54] SaurabhSharma-MSFT commented on #69831
@muarif2000 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-02-04 00:54] #69831 closed

[2021-02-04 00:55] SaurabhSharma-MSFT commented on #69832
@muarif2000 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-02-04 00:55] #69832 closed

[2021-02-04 00:59] JakeMoe opened #69998 "Would appreciate more detail about unused options"
I'm looking to change only the Stay Signed In option, and leave everything else at defaults.  The article doesn't make it clear if I don't supply images and text for the rest of the branding, will they remain default, or will they show blank?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72f2e675-436d-dcd4-fa27-49408b

[2021-02-04 01:36] msjuergent commented on #69865
Hmm, I am reading the SLES KBA [https://www.suse.com/support/kb/doc/?id=000019547](https://www.suse.com/support/kb/doc/?id=000019547)  a bit differently. It seems indeed correct that a least in SLES 12 SP4, the command echo noop > /sys/block/vda/queue/scheduler does not allow to define the noop scheduler. However as the article continues, it does demonstrate how the noop scheduler can be configure

[2021-02-04 01:38] CESARDELATORRE commented on #69565
@qiaott Thanks for the feedback. I reviewed it and agree there's a mistake in the steps. I provided the fix and it'll be corrected/updated soon in the walkthrough by @nibaccam
Thanks,

[2021-02-04 01:40] tjxxxxx commented on #69865
Hi. Thanks for your reply.
Yes, in the SAP4 it does not work, but in other versions the noop could work.
So may I know could we kindly mention like in some specific we did not support noop parameter. If you want to use this parameter, please choose some supported versions.

[2021-02-04 01:46] nibaccam commented on #69565
Thank you for reporting the issue. The documentation has been updated and the changes will be live tomorrow. We will now proceed to close this thread. #please-close

[2021-02-04 01:46] #69565 closed

[2021-02-04 01:51] Anand-Moghe opened #70000 "Azure CLI version not working"
Is Azure CLI command `az staticwebapp create -n mstASM -g sample-static-web-app -s https://github.com/User/vue-basic.git -l WestUs2 -b master --token PAT ` working? I am not able to use it and it gives following error:

Appreciate if you can clarify whether there is a solution for this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2021-02-04 01:58] msjuergent commented on #69865
I am just pushing a PR with changes. Likely going to be released within the next 16h. Please check the changes and let me know whether those suffice

[2021-02-04 02:07] msftradford commented on #69824
Thanks for all of the info @dylan-fox. I can confirm that ASA only supports the legacy XR pipeline at this time. You should still be able to use MRTK and ASA, but unfortunately you will not be able to use the Unity XR plugin framework. As you've noted above, we are actively working to prepare ASA for Unity 2020 and the new XR framework.

[2021-02-04 02:12] dataslicer opened #70001 "Which version of Hadoop should I compile to satisfy the winutils.exe need for Azure DB Runtime 7.3 LTS?"
The Azure Databricks page:  https://docs.microsoft.com/en-us/azure/databricks/dev-tools/databricks-connect#cannot-find-winutilsexe-on-windows

Does not provide the required Hadoop version needed to compile the required `winutils.exe` needed for Azure Databricks Runtime 7.3 LTS.

The current list of Hadoop-common core versions are available here:

http://mirrors.ibiblio.org/apache/hadoop/common/

-

[2021-02-04 02:27] lawrenceong001 commented on #69238
@ChaitanyaNaykodi-MSFT  -- tks for your note. I'm actually more interested in v3 at this time given that we are based on .netcore3 (and moving to .net 5 as well). are there any references for this version?

tks

[2021-02-04 02:35] SatishBoddu-MSFT commented on #69995
Hello @amanjeetsingh
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-04 02:37] SatishBoddu-MSFT commented on #69996
@Anand-Moghe
I have assigned the issue to the content author for further review.

[2021-02-04 02:38] SatishBoddu-MSFT commented on #69997
@Anand-Moghe
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-04 02:38] dcross-msft commented on #69964
@JamesTran-MSFT

Thanks for looking into this. The pull request is #65701. It was closed, and moved to the private repo, on 11/9/20.

________________________________
From: James Tran-MSFT <notifications@github.com>
Sent: Wednesday, February 3, 2021 1:57 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: dcross-msft <danstuff@hotmail.com>; Mention <mention@noreply.github.com>
Subj

[2021-02-04 02:39] SatishBoddu-MSFT commented on #69998
@JakeMoe
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-02-04 02:42] SatishBoddu-MSFT commented on #70000
@Anand-Moghe Thanks for all the feedbacks which you have submitted, we will address them as soon as possible.
Cc: @SnehaAgrawal-MSFT @AjayKumar-MSFT

[2021-02-04 02:43] SatishBoddu-MSFT commented on #70001
@dataslicer
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-04 02:56] spelluru commented on #67301
@Hjortsberg - Thank you very much for sharing the information. Appreciate it.

I tested the script and it worked fine for me though. I did not get any errors.

[2021-02-04 03:10] athinanthny commented on #51597
@hbuckle  @jberezanski
We don’t support AAD-based authentication to storage at this time, But we support enables AAD-based auth to the cluster.
This [document ](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-creation-setup-aad) enables you to setup AAD for client auth only.

We will create backlog item to update docs to reflect what we support and don't.  We have plan

[2021-02-04 03:38] ram-msft commented on #69880
@tomconte Thanks, The worktime has been created for this.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-04 03:38] #69880 closed

[2021-02-04 04:12] psmanhas commented on #69519
@Aspire1Inspire2 Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-02-04 04:12] #69519 closed

[2021-02-04 04:46] dbreit7 opened #70003 "Wrong instructions on procedure to set up pipeline with 3 activities"
The instructions in step 3 of "Create your pipelines" (This should be pipeline, not pipeline) indicate I should clone the pipeline with the Start activity.  In fact, we want to copy and paste the activity.  We will end up with a pipeline with 3 activities, not 3 pipelines.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-02-04 04:55] SwathiDhanwada-MSFT commented on #69628
Assigning to content author @vikrambmsft for review.

[2021-02-04 05:02] savjani commented on #69914
Thanks @JoshMcl for reporting this. We have fixed it. the changes should be live in 24 hrs. @SatishBoddu-MSFT - need your help to close the issue

[2021-02-04 05:08] AnuragSharma-MSFT commented on #69866
@Vayth Awaiting your response on above comment.

[2021-02-04 05:10] AnuragSharma-MSFT commented on #69868
@dcbrown16 This is being assigned to the content author to evaluate and update as appropriate.

[2021-02-04 05:21] HarithaMaddi-MSFT commented on #70003
@dbreit7 - Thanks for your valuable feedback. We are looking into it and will get back to you shortly.

[2021-02-04 05:34] shashishailaj commented on #69959
@injosef This has been fixed and closed in MicrosoftDocs/azure-docs-pr/pull/145439. Thank you @batamig for fixing this.

[2021-02-04 05:34] #69959 closed

[2021-02-04 05:41] #69914 closed

[2021-02-04 05:46] Vayth commented on #69866
I see. so I should query manually, or look for the official document from mySql.

I still think it would be better if the default values are stated as well in the MS docs, at least like the [non-configurable section](https://docs.microsoft.com/en-us/azure/mysql/concepts-server-parameters#non-configurable-server-parameters) in the same docs.
However, this is enough to answer my question and can be

[2021-02-04 06:07] daman-sachdeva opened #70004 "Use external metadata stores in Azure HDInsight - Ranger DB support"
Hello,

https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-use-external-metadata-stores

In the above link for the document, wanted to confirm weather Microsoft supports Ranger external database while spinning HDInsight cluster.
 I was facing some issues while creating ESP enabled HDInsight cluster with Ranger DB attached, need to know if this might be the cause.

The quote from the docume

[2021-02-04 06:23] savjani commented on #69866
@Vayth - the only reason we did not chose to document it in Microsoft docs is since we dont own the product and it is community, our docs can easily become stale and out of date. Our docs are focused on service specific features which we publish and maintain, the underlying MySQL engine information can be queried from engine itself or community documentation. Hope this explains why didnt choose to

[2021-02-04 06:24] savjani commented on #69866
@AnuragSharma-MSFT - we can close this issue as per if there are no further questions from @Vayth

[2021-02-04 06:30] #69392 closed

[2021-02-04 06:32] JayaChatterjee-MSFT commented on #69392
@bgausden Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2021-02-04 06:34] AnuragSharma-MSFT commented on #69928
@dimitri-furman Thanks for fixing this.

@amanjeetsingh We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-02-04 06:34] #69928 closed

[2021-02-04 06:37] ram-msft commented on #69838
@sfarhand Here’s a repo showing how to do remote debugging via VSCode on Azure ML: https://github.com/danielsc/azureml-debug-training.

[2021-02-04 06:39] swinarko commented on #70003
The instructions are correct:
Step 1 & 2 create a pipeline for just starting SSIS IR.
Step 3 creates a pipeline for just stopping SSIS IR.
These pipelines can be triggered independently, e.g. starting SSIS IR at 9 am and then stopping it at 5 pm.
Step 4 creates a pipeline for starting SSIS IR, executing SSIS package, and stopping SSIS IR just in time.

#please-close

[2021-02-04 06:39] #70003 closed

[2021-02-04 06:59] ram-msft commented on #69877
@t-rapp Thanks , Raised PR #https://github.com/MicrosoftDocs/azure-docs-pr/pull/145567 request for the typo when setting the "region" HTTP header.

[2021-02-04 06:59] #69866 closed

[2021-02-04 07:04] ram-msft commented on #69833
@eyast We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-04 07:04] #69833 closed

[2021-02-04 07:06] ram-msft commented on #69784
@eyast We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-04 07:06] #69784 closed

[2021-02-04 07:15] ram-msft commented on #69853
@vscherbinin Thanks, We are able to successfully import AnomalyDetectorClient. Can you please install Anomaly Detector Client [Library ](https://pypi.org/project/azure-ai-anomalydetector/) for Python using the following.
 pip install azure-ai-anomalydetector.

[2021-02-04 07:19] ram-msft commented on #69932
Thanks, @edjez Could you please help with the doc update for this.

[2021-02-04 07:20] computingbee commented on #69061
I have same issue. Just created a new RSV w/ private endpoint with custom DNS. None of the below CNAMEs were created in eus.backup.windowsazure.com  zone as described in https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-dns#azure-services-dns-zone-configuration

3299XXXXXXXXXXXXXXX-ab-pod01-prot1i.eus.backup.windowsazure.com,10.1xx.1xx.5
3299XXXXXXXXXXXXXXX-ab-pod01-prot1h.eus.b

[2021-02-04 07:25] anvar-ms opened #70005 "Correct the typo in the doc"
[Enter feedback here]
Correct the typo in the common questions doc. https://docs.microsoft.com/en-us/azure/migrate/common-questions-server-migration#which-operating-systems-are-supported-for-migration-of-uefi-based-machines-to-azure

It says Windows Server 201 and should be Windows Server 201**2**.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2021-02-04 07:26] computingbee commented on #69061
Here is the result from nslookup.

Default Server:  dns.google
Address:  8.8.8.8

Server:  dns.google
Address:  8.8.8.8

------------
Got answer:
    HEADER:
        opcode = QUERY, id = 2, rcode = NXDOMAIN
        header flags:  response, want recursion, recursion avail.
        questions = 1,  answers = 0,  authority records = 1,  additional = 0

    QUESTIONS:
        3299XXXXXXXXXXXXXXX-ab-pod

[2021-02-04 07:27] MayankBargali-MSFT commented on #69922
@vlkuznet Have updated the doc to make it more clear and removed "Function State Switch" as this was referred from the classic portal. The doc is updated and it will be published soon. Thanks for reporting and We appreciate the feedback!

[2021-02-04 07:54] barisipk commented on #67002
Hello, i have the same problem, is there any update about this issue?

[2021-02-04 07:59] CHEEKATLAPRADEEP-MSFT commented on #70004
@daman-sachdeva  Thanks for the question! We are investigating and will update you shortly.

[2021-02-04 08:08] kalyankrishna1 commented on #69828
what is the audience of the Access token (AT)? Is it an API that you have registered as an app or is it some other API like https://graph.microsoft.com?
The reason I ask is that your app roles will be available in the app registrations for apps and APIs that you register. The claims in an AT for another API like Graph will be as per the Graph API's own app registration and not yours.

[2021-02-04 08:09] maxstefaniv commented on #69968
Hello @SatishBoddu-MSFT I first used:
![](https://user-images.githubusercontent.com/62515255/106767830-92630a80-663b-11eb-81de-ab5feb50434e.png)
![](https://user-images.githubusercontent.com/62515255/106767849-9858eb80-663b-11eb-8e4c-b0c228c7f8e9.png)

and with that OS it gave me the next error:
![](https://user-images.githubusercontent.com/62515255/106763516-36968280-6637-11eb-8edb-db874a0a2456.p

[2021-02-04 08:13] michaelegner commented on #66978
The links above to the code sample on how to integrate Key Vault with App Config are all broken. Could you please provide me with an updated link to an code sample?
Thanks, Michael

[2021-02-04 08:18] KrishnaG-MSFT commented on #70005
@anvar-ms Thanks for the feedback. I have raised a PR for the same and the change should go live in some time i.e., in less than 24 hours. Thanks.

[2021-02-04 08:18] computingbee commented on #69061
So I guess for Azure Backup it won't create public DNS records per https://docs.microsoft.com/en-us/azure/backup/private-endpoints#create-dns-zones-for-custom-dns-servers.

However, the screenshot here https://docs.microsoft.com/en-us/azure/backup/private-endpoints#create-dns-zones-for-custom-dns-servers is referencing .privatelink. in dns A record.  But DNS records do not match the new A records

[2021-02-04 08:18] #70005 closed

[2021-02-04 08:37] venkat1017 commented on #48983
I also faced similar issue with the UDR changes without any indication and also difficult to identify changes. is there a way where we can get the latest UDR(routes for SQL MI)

[2021-02-04 08:41] hwride opened #70006 "Code examples incorrect"
Hi,

The code examples posted are no longer correct. In addition to creating a `const connection = new Connection()` object you also need to call `connection.connect()` to actually make the connection.

See the examples in the tedious codebase: https://github.com/tediousjs/tedious/blob/master/examples/minimal.js

I've also tried this myself.

Thanks,

Hugo

---
#### Document Details

⚠ *Do not edi

[2021-02-04 08:41] oex-pbi opened #70007 "Hyperlink not working"
Please note the hyperlink for Azure Pen Testing does not direct to the right location

You might already know that Microsoft performs **penetration testing of our Azure environment**. This testing helps drive Azure improvements.

This links to https://docs.microsoft.com/en-us/samples/browse/?redirectedfrom=TechNet-Gallery

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2021-02-04 08:43] dev-manager-uk opened #70008 "Does object replication support classic storage accounts?"
The docs do not specify if object replication is supported in classic storage accounts.

I'm trying to add object replication but don't see the object replication link in the left hand menu.

Is this because my storage account is 'classic' or for some other reason?

Please could you clarify in the docs either way.

Thanks for your help :-)

My classic storage account | Screenshot from the docs
---

[2021-02-04 08:44] vittalreddy9012826 opened #70009 "Add link to storage config for SQL reference data"
For this page
https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-use-reference-data#azure-sql-database

Add storage account config to store reference data snapshots
https://docs.microsoft.com/en-us/azure/stream-analytics/data-protection#configure-storage-account-for-private-data

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2021-02-04 08:48] FrogWan opened #70010 "list role assignments only with service principal id"
Is there an API to list role assignments only with service principal id? I see there are many api need subscription Id. but my requirement is if I only have a service principal Id, how can I get all the role assignments?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99c1a0be-2dcf-fccf-8323-5fea4f227309
* Version Indep

[2021-02-04 08:49] star286 commented on #38894
@ggailey777 I see the **SendBillingEvent** is also in the `for(){}` code block, should we need to move it out of the `for(){}` code block? Otherwise, I think it will send the **SendBillingEvent** everyday, am I right?

[2021-02-04 08:51] jasonhorner opened #70011 "Why are we choosing Latin1_General_100_BIN2_UTF8 over Latin1_General_100_CI_AI_SC_UTF8"
in this article we reference using the **Latin1_General_100_BIN2_UTF8** collation for string characters from a parquet while in the article on CSV (https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/query-single-csv-file) we are told to use: **Latin1_General_100_CI_AI_SC_UTF8**

it is a bit unclear as to why there is a different recommendation for each file type, furthermore adding a qui

[2021-02-04 08:53] ValerianHts opened #70012 "New-AzureADMSAdministrativeUnit not available after Install-Module -Name AzureADPreview"
The commandlet is not available after installation of the preview AzureAD:
PSVersion                      5.1.19041.610

PS > Install-Module -Name AzureADPreview
(...)

PS > New-AzureADMSAdministrativeUnit
New-AzureADMSAdministrativeUnit : The term 'New-AzureADMSAdministrativeUnit' is not recognized as the name of a
cmdlet, function, script file, or operable program. Check the spelling of the name

[2021-02-04 09:00] shashishailaj commented on #70007
@oex-pbi Thank you for your feedback . We will have this reviewed with content authors and update the thread .

[2021-02-04 09:07] michaelegner opened #70014 "Link to an code sample on how to integrate Key Vault with App Config for Spring Boot app"
The links given to the code samples on how to integrate Key Vault with App Config in the other feedback issues to this tutorial are all broken (e.g. https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-appconfiguration-conversion-initial).

Could you please provide me with an updated link to an code sample on how to integrate Key Va

[2021-02-04 09:08] setunol opened #70015 "Broken Link"
The link to download latte.exe looks to be broken.

==========================
Load Latte.exe onto the VMs
Download the latest version of Latte.exe
===========================

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5a77eb3-1f6d-0fee-7d77-44a56fdb78b0
* Version Independent ID: 66f67a40-fcb3-9549-63fc-295e330a9c

[2021-02-04 09:27] AnuragSharma-MSFT commented on #70006
@hwride Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-02-04 09:41] SergeMoreno opened #70016 "Search on glossary term does not work"
Search on glossary terms does not work.

Contract currency is defined in glossary

And has been assign to asset:

Search does not give result:

Nor via as glossary is greyed out

[issue glossary.pdf](https://github.com/MicrosoftDocs/azure-docs/files/5924653/issue.glossary.pdf)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-02-04 09:50] biltongza commented on #69941
Well I'd just like to make sure that we'll still be able to read things that we used the v11 SDK for. I assume I would need to use the key algorithm that v11 used. Basically we just use RequireEncryption so people can't go view the blobs in Azure Portal, we don't want them to be human readable.

If we were to swap to server-side encryption, would we need to download and reupload everything?

[2021-02-04 10:04] Klaas- opened #70018 "EL 8 support"
Hi,
I can successfully update a rhel 8.3 server with update management. Is that an error or do you now support el8?

Greetings
Klaas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cda4ec71-9492-2ac6-1030-dcd004826aa0
* Version Independent ID: 7720d2be-0dd6-36c7-6eba-e1acee46d598
* Content: [Azure Automation Update Mana

[2021-02-04 10:06] #69681 closed

[2021-02-04 10:18] SadiqhAhmed-MSFT commented on #69804
@k7faq We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2021-02-04 10:18] #69804 closed

[2021-02-04 10:22] jasonhorner opened #70019 "Issues with JSON Example Queries"
The example queries have numerous issues and lack explanation of what is happening or more importantly why.

it looks like this one
https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/query-json-files#query-json-files-using-json_value
refers to columns (title, publisher) which are not present in the data set. I believe this was an artifact from the books sample which isn't being used hear

[2021-02-04 10:26] zojovano opened #70020 "Add VMSS architecture overview"
It would be useful to have an architecture overview of the VMSS. I was browsing the whole documentation for VMSS and could not find any architecture overview which could summarize the main points (deployed to VNET, NLB in front of VMs, etc)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c353c07-72b3-9a2b-2e4b-a79d6b60

[2021-02-04 10:35] rurounijones opened #70022 "Unclear how to format a pronunciations file"
It is not clear how to format a pronunciations file

1. What is it supposed to be named? (Same question with the sentences file)
2. What is the format of each line? Is it just a sentence? is it supposed to be a tab delineated line with the displayed form and spoken form? The current documentation is ambiguous and has no examples.

---
#### Document details

⚠ *Do not edit this section. It is requi

[2021-02-04 10:39] odalet commented on #67166
@elafnit I've browsed with quite some interest through this issue as I'm in the process of studying Code signing with Key Vault and Digicert. As per the doc you linked at the top of the issue, it's said the only kinds of certificates that can be requested from Digicert are **OV-SSL, EV-SSL**, this seems to indicate EV Code signing certs are not supported... or are they? With the correct undocument

[2021-02-04 10:40] SwathiDhanwada-MSFT commented on #70018
@Klaas Thanks for your comment. We will review the issue and get back to you shortly.

[2021-02-04 10:52] magnus-longva-bouvet commented on #67459
Thanks for giving this attention! Closing the issue.

[2021-02-04 10:52] #67459 closed

[2021-02-04 11:17] psmanhas commented on #70020
@zojovano Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-02-04 11:18] psmanhas commented on #70020
@mimckitt Can you please check and add your comments on this doc update request as applicable

[2021-02-04 11:29] RohitMungi-MSFT commented on #69782
@eyast We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-02-04 11:29] #69782 closed

[2021-02-04 11:30] maltalex opened #70023 "Consider using let's encrypt-staging in the example"
The documentation shows an example with the Production Let's Encrypt endpoint, which is severely rate-limited (see https://letsencrypt.org/docs/rate-limits/).

I believe that a better approach for a demo/quickstart (or at least an alternative approach worth mentioning to readers) would be using LE's staging environment (see https://letsencrypt.org/docs/staging-environment/).

---
#### Document Det

[2021-02-04 11:36] squasta opened #70024 "Missing commands for a successful preview feature registration"
In the register EnabledPodIdentity Preview section, some additional commands would be usefull (this steps are the same for all preview features on AKS)

to verify if feature is still registering or registered :
az feature list -o table --query "[?contains(name, 'Microsoft.ContainerService/EnablePodIdentityPreview')].{Name:name,State:properties.state}"

Then when feature is registered , you need to

[2021-02-04 11:40] pioardi opened #70025 "WEBSITE_VNET_ROUTE_ALL is currently not supported in Windows containers."
Can you please add more details on that?  Do this means that if I use a windows docker container WEBSITE_VNET_ROUTE_ALL  is not supported ? Or WEBSITE_VNET_ROUTE_ALL  is not supported if I use a Windows ASP ?

Thanks in advance for the clarification, if needed I am glad to contribute on that and add more details on the documentation
---
#### Document Details

⚠ *Do not edit this section. It is req

[2021-02-04 11:43] psmanhas commented on #69777
@V4A001 I tried to do repro on my side but I was not able to reproduce the issue. As mentioned by you in the issue can you please confirm if after clean installation were you able to add static ip from other resource groups with managed identities.
Awaiting your inputs so I can further have discussion on this with Product Group to make necessary changes in documentation.

Thanks

[2021-02-04 11:45] bbmfbb commented on #69777
My bad

[2021-02-04 11:50] psmanhas commented on #69774
@lissff Apologies for the delay in response and all the inconvenience caused because of the issue.

This is a known limitation which I came to know from our backend team. There is current limitation on AKS Networking where to deploy container groups to a subnet, the subnet can't contain other resource types. Remove all existing resources from an existing subnet prior to deploying it, or create a n

[2021-02-04 11:53] psmanhas commented on #70023
@maltalex Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-02-04 11:54] psmanhas commented on #70023
@mlearned Can you please check and add your comments on this doc update request as applicable

[2021-02-04 12:01] psmanhas commented on #70024
@squasta Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-02-04 12:01] psmanhas commented on #70024
@mlearned Can you please check and add your comments on this doc update request as applicable

[2021-02-04 12:10] shashishailaj commented on #70007
@TerryLanfear Could you please confirm if the link must direct to the https://download.microsoft.com/download/C/1/9/C1990DBA-502F-4C2A-848D-392B93D9B9C3/Microsoft_Enterprise_Cloud_Red_Teaming.pdf ?

Closes #69794

[2021-02-04 12:10] scotty-tarvan opened #70026 "404 Not Found Error If App Service Is Idle"
Details: Trying to activate a timer function running on a consumption plan

This method does not seem to work if running on a consumption plan. I tried for a few hours and double checked all paths and configurations.

I then added a HTTP trigger function called ping just to activate the app service, after I called that it started to work.

Maybe the App Service needs to be running before the timer

[2021-02-04 12:12] OpenWindow opened #70027 "Information is inaccurate for BlobServiceClient (v12)"
It is mentioned that use` Create`, `CreateAsync`, `CreateIfNotExist`, `CreateIfNotExistAsyn` methods to create a blob container in this page for `v12` but those methods do not exist on `BlobServiceClient` class. Am I missing something or the documentation for V12 is not correct?

![image](https://user-images.githubusercontent.com/1775405/106890926-0642f880-66b8-11eb-9988-737354ee7771.png)

---
###

[2021-02-04 12:17] shashishailaj commented on #59193
@thiruma0203 This has been fixed and the document has been updated with current information.

![image](https://user-images.githubusercontent.com/532022/106891627-fc011880-6710-11eb-89dc-ed4e8a9406e8.png)

We are now closing this issue.

Thank you

[2021-02-04 12:17] #59193 closed

[2021-02-04 12:17] psandgren opened #70028 "Blazor Wasm - Documentation for ad b2c custom challenge for password reset"
I feel that linking to a classic asp.mvc application from the blazor wasm docs is confusing. Please add a wasm-example of how to create custom challenge for password-reset. This example doesn't even nudge me in the right direction.

Regards,
Pär

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8b5f81a-f216-b345-d434-c0e

[2021-02-04 12:27] stephc-msft opened #70029 "Extending OS disk"
Note that extending the OS disk is not so simple when the system partition appears or has been set up AFTER the OS partition
As sometime happens  eg if use bitlocker prep tool
The system partition needs to be moved to the end of the newly extended disk, which is possible but 'tricky'
OR the OS partition needs to be set as a 'Combined system and OS partition' which is easier and made Active

---
##

[2021-02-04 12:29] mjaggard commented on #69916
Thank you. I've raised support ticket 121020425002091 but I'm unable to
attach the system diagnosis file because it's too large for the support
portal to upload.

On Wed, 3 Feb 2021 at 19:21, James Tran-MSFT <notifications@github.com>
wrote:

[2021-02-04 12:41] HarithaMaddi-MSFT commented on #70009
@vittalreddy9012826 - Thanks for your contribution, I've addressed this issue in PR: MicrosoftDocs/azure-docs-pr#145590

The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2021-02-04 12:49] #70009 closed

[2021-02-04 13:02] cjmakwana commented on #69828
@kalyankrishna1 here is my dilemma:

- With the current configuration in Azure Active Directory, and the MSAL library being used in mobile client app, the mobile app gets ID and Access tokens after successful login.
- The ID token contains the role claim with valid value. However, it is a short lived token (5 minutes).
- The ID token also contains a valid value of 'aud' claim (GUID of the register

[2021-02-04 13:11] SwathiDhanwada-MSFT commented on #69958
@tigerdeccan [This document](https://docs.microsoft.com/en-us/azure/azure-monitor/app/pricing#using-data-volume-metrics) might help you to understand Data point Volume metrics in application insights.

Assigning to content author @lgayhardt for review and updating the document accordingly.

[2021-02-04 13:15] ssivas commented on #70010
Hello @FrogWan, Thanks for reaching out. I am looking into this and will get back to you soon.

[2021-02-04 13:20] ssivas commented on #70028
Hello @psandgren , Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-04 13:23] ssivas commented on #70012
Hello @ValerianHts , Thanks for reaching out. I am looking into this and will get back to you soon.

[2021-02-04 13:39] SnehaAgrawal-MSFT commented on #70025
@pioardi Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-04 13:39] sblair01 opened #70031 "Conflicting information?"
https://docs.microsoft.com/en-us/azure/security-center/defender-for-kubernetes-introduction states that you can enable defender on AKS clusters, but the documentation on the page says defender might not be applicable. Can you clarify?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fdbbf80-92cd-d6b2-85fd-a8305

[2021-02-04 13:41] SnehaAgrawal-MSFT commented on #69841
@gregveres We will now proceed to close this thread. If there are further questions regarding this matter, Please let us know.

[2021-02-04 13:41] #69841 closed

[2021-02-04 13:43] SnehaAgrawal-MSFT commented on #69843
@lipalath-ms We will now proceed to close this thread. If there are further questions regarding this matter, Please let us know.

[2021-02-04 13:43] #69843 closed

[2021-02-04 13:45] janitorr commented on #60088
I´m also not sure how to use this to create identities from CI/CD.

[2021-02-04 13:46] sameer-kumar commented on #69523
Thank you for confirming @AlexandraKemperMS. Looking forward to hear soon on this.

[2021-02-04 14:01] carlreid commented on #42797
@spelluru Was there any progress on this?

We've just ran into the same issue where we would like to map a custom input schema to EventGrid but we also only receive a JObject. We can't modify the source to send an array so we're a bit stuck. Is there an option to change to accepting without the array?

[2021-02-04 14:01] gregveres commented on #69841
@SnehaAgrawal-MSFT I have been over that page you sent 5-6 times before providing the feedback. It does not provide any information on how to call a webjob function from an MVC ASP.Net application.

The docs that I have been able to find are all about deploying a webjob and about the different types of webjobs and even about how to write a webjob.

This is all fine and good if your webjob is somet

[2021-02-04 14:10] afelthe opened #70037 "This documentation leads to errors with Databricks"
Hello,
My colleagues and I have all encountered errors following this documentation.  The Databricks workspace will not synchronize with the github repo until you add a library with the databricks access token to it inside Azure DevOps.  Somehow initializing the repo is not carrying over to Databricks from DevOps. Two of us faced this same issue.
Regards,
Amy
[Enter feedback here]

---
#### Docume

[2021-02-04 14:15] SadiqhAhmed-MSFT commented on #69681
@cpercy737 To comment on the requirement.

[2021-02-04 14:22] gdbc opened #70038 "Wagent Endorsed page OSes dont match versions on github page that it references"
[Enter feedback here]

CentOS/RHEL 8 and Ubuntu 20.02 is on the endorsed page:
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/endorsed-distros

but not listed on the github page the above one references:
https://github.com/Azure/WALinuxAgent

Cheers,
gdbc

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e

[2021-02-04 14:29] timothymeyers opened #70039 "Output screenshot shows Powershell, not CLI json"
On this page, the screenshot at the end showing a successful creation is the Powershell output, not the CLI json output.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa28dc85-7097-6005-1a5b-6cfe8a7e9528
* Version Independent ID: 842a431e-cdd8-c695-70eb-78294acd80f3
* Content: [Create a Log Analytics workspace using A

[2021-02-04 14:33] ashfenixx opened #70040 "Request for update"
When will this blueprint updated to reflect more controls?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3689f40-c808-b93b-4ee2-d1b25934a7f7
* Version Independent ID: 2137fdbd-14b0-2c2b-3848-0fb42add63a4
* Content: [Canada Federal PBMM blueprint sample controls - Azure Blueprints](https://docs.microsoft.com/en-us/azu

[2021-02-04 14:35] DCtheGeek commented on #70040
#assign:parulbansal2009
#label:"product-question"

Thanks for the question @ashfenixx. I've assigned the PM that owns that Blueprint definition so that she can provide a response.

#label:"in-progress"

[2021-02-04 14:36] DCtheGeek commented on #70040
#label:"in-progress"

[2021-02-04 14:37] SumanthMarigowda-MSFT commented on #70008
@dev-manager-uk Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2021-02-04 14:39] SumanthMarigowda-MSFT commented on #70015
@setunol Thanks for the question! We are investigating and will update you shortly.

[2021-02-04 14:40] SumanthMarigowda-MSFT commented on #70027
@OpenWindow Thanks for the question! We are investigating and will update you shortly.

[2021-02-04 14:51] miwithro commented on #69634
Hello,
  For ingress it totally depends on what applications are defined in the AKS cluster.  If they have applications needing 443 and 1024, then define an NSG rule allowing those ports, and blocking everything else.  Make sense?

[2021-02-04 15:06] jomolesk commented on #70040
Hi @ashfenixx -- We do plan to add policies to address additional controls. I do not have a timeline to share at this point, but if you reach out to @parulbansal2009 in mid-April, she will be able to provide more details.

[2021-02-04 15:09] DCtheGeek commented on #70040
Thanks @jomolesk for the quick answer!

@ashfenixx Since this isn't an issue with the Docs and the question has been answered, I'm going to close this issue.  Thanks again for reaching out.

#please-close

[2021-02-04 15:09] #70040 closed

[2021-02-04 15:17] RohitMungi-MSFT commented on #70022
@rurounijones Any file name can be used for pronunciation or sentences files. They need to  be a .txt file while uploading.
The format of pronunciation file is similar to the audio+human+labeled transcript guidelines where each line should contain only one displayed form and spoken form with a tab separation between them (\t). I have used these two sample files on speech studio which processed suc

[2021-02-04 15:18] KalyanChanumolu-MSFT commented on #70014
@michaelegner Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-02-04 15:20] MCKLMT commented on #69634
Yes, this makes sense. So I don't understand that there is no requirement on the NSG to get the master-nodes communication on. Correct? If true, I would expect to have a line on this on the documentation.

[2021-02-04 15:28] spelluru commented on #42797
@jfggdl - Could you please help with this issue? Thanks

#reassign:jfggdl

[2021-02-04 15:39] k7faq commented on #69804
The Context of the document and the flow of the content is confusing and
should be revisited. The documentation for the Recovery Service Vault
should focus on the options for the RSV and not reference the Redundancy
options for a Storage Account that is unrelated.

On Thu, Feb 4, 2021 at 5:19 AM SadiqhAhmed-MSFT <notifications@github.com>
wrote:

--

Steven Rhodes

[2021-02-04 15:40] Borkason commented on #63182
Yes. Something is broken here and needs to be fixed.

[code]

[2021-02-04 15:51] SadiqhAhmed-MSFT commented on #69804
@dcurwin For visibility

[2021-02-04 15:57] dcurwin commented on #69804
@k7faq - We are always interested in improving the clarity of our documents. Could you perhaps provide more details about which document, and which sections within it, you found confusing?

[2021-02-04 16:00] rtrainer commented on #35478
This still happening for me with a slight twist

I have the app service and 3 subnets. I can attach 2 of the app services to their respective subnets, but I get a failure when I try to do the third. There is no further information in the failure message.

After the failure, the subnet does show that it is delegated to Microsoft.Web/serverfarms

[2021-02-04 16:04] TerryLanfear commented on #70007
@shashishailaj, @oex-pbi - Thank you for your feedback. The information on TechNet Gallery is no longer available. The article has been updated and the link to TechNet Gallery removed.

#please-close

[2021-02-04 16:04] #70007 closed

[2021-02-04 16:06] TerryLanfear commented on #69794
@shashishailaj, @Rmh-Tech - Thank you for your feedback. The information on TechNet Gallery is no longer available. The article has been updated and the link to TechNet removed.

#please-close

[2021-02-04 16:06] #69794 closed

[2021-02-04 16:09] rdp opened #70042 "mention sets"
This mentions zones without a link/comparison to sets...might be nice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cca70845-100f-2cfd-aba3-34b7fa4a5264
* Version Independent ID: 475b26e5-9e23-f769-3bd5-cbc4a678dbf0
* Content: [Regions and Availability Zones in Azure](https://docs.microsoft.com/en-us/azure/availabili

[2021-02-04 16:10] elafnit commented on #67166
Thanks for your interest in this thread. The answer to the original question is still outstanding. I am still investigating whether this is possibly an undocumented capability. I will definitely post the answer here. All the pieces seem to be in place.

[2021-02-04 16:11] SatishBoddu-MSFT commented on #70016
@SergeMoreno
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-04 16:14] MarileeTurscak-MSFT commented on #36607
We can update this in the backend if we know the tenant id. Right now we don't have it exposed externally. We are working on updating the document with this known issue, until we expose it externally.

So, until this is fixed you need to raise a support ticket with CSS to get rid of this digest email notification.

[2021-02-04 16:15] MarileeTurscak-MSFT commented on #36607
I'll update this thread when there is news of a fix.

[2021-02-04 16:15] #36607 closed

[2021-02-04 16:18] SatishBoddu-MSFT commented on #70011
@jasonhorner Thanks for the feedback!
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-04 16:18] miwithro commented on #69634
Correct.  @mlearned lets add a note to the document that for Ingress it is dependent on application requirements.

[2021-02-04 16:22] SatishBoddu-MSFT commented on #70019
@jasonhorner Thanks for bringing this to our notice.

Our SME will investigate this issue and will reach out to you soon.
Cc: @KranthiPakala-MSFT

[2021-02-04 16:27] SatishBoddu-MSFT commented on #70026
@scotty-tarvan
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-04 16:32] #65835 closed

[2021-02-04 16:33] TerryLanfear commented on #69859
@miyamam - Thank you for your feedback. The information on TechNet Gallery is no longer available. The article has been updated and the link to TechNet removed.

#please-close

[2021-02-04 16:33] #69859 closed

[2021-02-04 16:35] Klaas- commented on #70018
@Klaas- not Klaas, but this happens all the time, so I am guessing he is used to it by now ;)

[2021-02-04 16:35] TerryLanfear commented on #68609
@jftl6y - Thank you for your feedback. The information on TechNet Gallery is no longer available. The article has been updated and the link to TechNet removed.

#please-close

[2021-02-04 16:37] TerryLanfear commented on #59193
@thiruma0203 - Thank you for your feedback. The article has been updated and the link removed.

#please-close

[2021-02-04 16:38] SatishBoddu-MSFT commented on #70029
@stephc-msft
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-02-04 16:39] mlearned commented on #69634
We also talk about this a bit here:  https://docs.microsoft.com/en-us/azure/aks/concepts-security#azure-network-security-groups

We discourage modifying the AKS-managed NSG, talk about creating your own, and when you might do that.

[2021-02-04 16:41] SaurabhSharma-MSFT commented on #70037
@afelthe Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-04 16:42] MCKLMT commented on #69634
I read this part. However, we don't talk about the subnet level NSG requirements.

[2021-02-04 16:43] SatishBoddu-MSFT commented on #70031
@sblair01 Thanks for the query!
Our SME will verify and get back to you on this!

[2021-02-04 16:43] hau-mal opened #70043 "LCM policies for hierarchical namespace (ADLS Gen2) - more clarity needed"
We need additional documentation for the hierarchical namespace aka ADLS Gen2.
It is not clear how LCM policies work for folders. With filters policies can applied on specific folders.
Please add a section for hierarchical namespace and examples with policies on folder level.

Thanks!
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2021-02-04 16:44] KranthiPakala-MSFT commented on #70019
@azaricstefan - Could you please have  a look a this feedback? - Thank you

[2021-02-04 16:46] SatishBoddu-MSFT commented on #70038
@gdbc
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-02-04 16:47] odalet commented on #67166
For my part, I'm currently in touch with Digicert. I'll post here any relevant information as well!

[2021-02-04 16:48] Dolphinsimon commented on #69795
The application is migrated from Heroku platform，In Heroku, the environment variables can contain a '.'. If the environment variables in app service should not contain periods,there should be some messages.

[2021-02-04 16:48] vscherbinin commented on #69853
Thank you, Ram. I've done that, the issue is the same, fixed it for now as below, this did the trick for now:
#class AnomalyDetectorErrorCodes(with_metaclass(_CaseInsensitiveEnumMeta, str, Enum)):
class AnomalyDetectorErrorCodes(str, Enum):

    """The error code.
    """

    INVALID_CUSTOM_INTERVAL = "InvalidCustomInterval"
    BAD_ARGUMENT = "BadArgument"

[2021-02-04 16:49] elafnit commented on #67166
I would assume if that the EV code signing cert from the HSM can be uploaded into an Azure KV, then the rest of the process I outlined in the sample repo I provided will work. Needs to be tested.

[2021-02-04 16:49] SatishBoddu-MSFT commented on #70039
@timothymeyers
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-02-04 16:51] Dolphinsimon commented on #69795
Also, you can add an environment variable contains a '.' in windows system settings.

[2021-02-04 16:54] SatishBoddu-MSFT commented on #70043
@hau-mal
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-02-04 16:59] AlexandraKemperMS commented on #69523
Glad to help. I will now close this thread, if you have any further feedback or questions, please feel free to create a new thread anytime.

[2021-02-04 17:00] #69523 closed

[2021-02-04 17:08] KranthiPakala-MSFT commented on #69963
@SergeMoreno Thanks for reaching out.  We have assigned the issue to the content author to further review and provide an update as appropriate.

@chanuengg , @djpmsft  - Could you please have a look at this feedback ? - Thank you

[2021-02-04 17:12] msmimart commented on #66358
Hi @jasonfritts apologies for the very delayed reply, but hopefully the [Azure Active Directory pricing](https://azure.microsoft.com/en-us/pricing/details/active-directory/) and [Azure Active Directory External Identities pricing](https://azure.microsoft.com/en-us/pricing/details/active-directory/external-identities/) references linked from the article helped. The updated billing model applies to

[2021-02-04 17:31] sennendoko opened #70047 "Distinction between subscriptions"
In the diagrams, what is the meaning of the distinction between "Microsoft/Azure subscription" and "Customer subscription"? Who owns the former if not the customer, and what is the latter a subscription to if not Azure?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8e951c2-65b8-2bf2-5c67-f4b57fbab467
* Version Indepe

[2021-02-04 17:31] SatishBoddu-MSFT commented on #69635
@barmettlerl
We are working on this!.

[2021-02-04 17:33] AlexandraKemperMS commented on #70014
Hi @michaelegner, yes this link is currently broken. I have looked into it and the doc is temporarily down because it is being updated. It should be available again within the next week.

[2021-02-04 17:34] behnamizadii commented on #50228
![image](https://user-images.githubusercontent.com/12119278/106932046-26ea6d00-670f-11eb-859a-e1902df170be.png)
![image](https://user-images.githubusercontent.com/12119278/106932106-38337980-670f-11eb-9829-5c43c2b7dad3.png)

[2021-02-04 17:35] AlexandraKemperMS commented on #66978
@michaelegner I also just replied in the other thread - this link is broken because the code sample has been temporarily removed so it can be updated, should be available in the next week.

[2021-02-04 17:37] SaiKishor-MSFT commented on #69913
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-04 17:37] #69913 closed

[2021-02-04 17:38] SaiKishor-MSFT commented on #69718
@plynch66 Do you have any further questions?

[2021-02-04 17:39] SaiKishor-MSFT commented on #69440
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-04 17:39] #69440 closed

[2021-02-04 17:44] SatishBoddu-MSFT commented on #70047
@sennendoko
Thanks for the feedback!
Our SME will respond to your query soon.

[2021-02-04 17:56] dorgrin6 commented on #69817
Not my preferred way,
But I was able to use output sand another template to solve this issue
`    "outputs": {
        "iKeys": {
            "type": "array",
            "copy": {
                "count": "[length(parameters('appNames'))]",
                "input": "[reference(resourceId('microsoft.insights/components', parameters('appNames')[copyIndex()]), '2015-05-01').InstrumentationKey]"

[2021-02-04 17:56] #69817 closed

[2021-02-04 17:58] tamram commented on #70027
#reassign: @tamram

[2021-02-04 18:14] mhopkins-msft commented on #70043
#assign:normesta

[2021-02-04 18:18] hrasheed-msft commented on #69995
@amanjeetsingh It seems that the questions being posed are very detailed and are outside the intended scope of this document and would be better handled in conversation with the product group. I will connect you to a representative via email who may be able to assist with your questions.

[2021-02-04 18:19] hrasheed-msft commented on #69995
#please-close

[2021-02-04 18:19] #69995 closed

[2021-02-04 18:23] SaurabhSharma-MSFT commented on #69900
@YesPrepDataCenter Is this happening only for you.  Can you please check with Fiddler traces if you are having a local machine policy that blocks CORS calls.
I also suggest you to open a [Azure Support Ticket](https://aka.ms/azsupt) so that Identity Support engineer can check further on this issue. In case you limitations in your support plan to open support ticket please let me know.

[2021-02-04 18:23] tamram commented on #68560
@shraboin - Just following up that this was fixed in the text a few weeks ago, after our discussion.

[2021-02-04 18:26] #69741 closed

[2021-02-04 18:26] jondmcelroy opened #70050 "Sample Template links are out of date with the default templates"
This page links to the Ocean Blue and Slate Gray templates, but they are out of date with the css from the default files. Can we get links to more current templates?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84aabaf3-e7da-3519-995c-72d36c537843
* Version Independent ID: b35afa8d-a02c-a77a-6831-2b3f6a6c1a7d
* Conte

[2021-02-04 18:29] JamesTran-MSFT commented on #70050
@jondmcelroy
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-04 18:32] AlexDenton opened #70051 "Inaccurate information in the Web Apps as Endpoints section"
The documentation [here ](https://docs.microsoft.com/en-us/azure/traffic-manager/traffic-manager-endpoint-types#web-apps-as-endpoints) states that:

After working with one of your support engineers I was informed this is not quite true. You can in fact have multiple Web Apps in the same region as long **as they are not on the same App Service Plan**.

Hopefully this helps someone else in the futur

[2021-02-04 18:36] JamesTran-MSFT commented on #69964
@dcross-msft
Thank you for the quick response!

Your PR does show it was moved to the private repo and then merged from there. I'll assign this issue to the author to see what happened as to why you aren't listed as a contributor.

Thank you for your time and patience throughout this issue.

[2021-02-04 18:40] JamesTran-MSFT commented on #69916
@mjaggard
Thank you for the update!

I'm glad you were able to open a support request for this issue, and I'll monitor it to make sure you're getting the support you need. As for the logs, if our Support Engineers require them, they should be able to get on a screen share session with you to view them as needed.

Since you currently have a support request open, I'll go ahead and close out this iss

[2021-02-04 18:40] #69916 closed

[2021-02-04 18:43] JamesTran-MSFT commented on #69991
@RonnieQuan
I just wanted to check in and see if you had any other questions?

Since you're able to see the description for each operation within our [Azure Key Vault REST API](https://docs.microsoft.com/en-us/rest/api/keyvault/) reference. I'll go ahead and close out this issue at the end of the day, pending any other questions from your end.

Thank you!

[2021-02-04 19:09] Maitripatel-gep commented on #9340
@junsp Got any solution for above issue?

[2021-02-04 19:10] PeterCLu commented on #69785
#assign:@sdgilley

[2021-02-04 19:10] PeterCLu commented on #69838
#assign:@luisquintanilla

[2021-02-04 19:15] JamesTran-MSFT commented on #70031
@sblair01
Thank you for your question!

This article is specifically referring to the [integration of vulnerability assessments into your Azure machines](https://docs.microsoft.com/en-us/azure/security-center/deploy-vulnerability-assessment-vm) (VMs/Azure Arc enabled machines), by utilizing the Qualys extension. Because this extension is used, [an image in an AKS cluster](https://docs.microsoft.co

[2021-02-04 19:24] robinsh commented on #68477
I'll take a look and see if we can/are going to/fix it in the next iteration.

Robin

From: AshokPeddakotla-MSFT <notifications@github.com>
Sent: Monday, February 1, 2021 9:30 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Robin Shahan <Robin.Shahan@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Replace obsolete UploadToBlobAsync m

[2021-02-04 19:28] robinsh commented on #68599
Let’s go ahead and close this. I don’t appear to have access to the study material being referenced.
#sign-off

From: chutestrate <notifications@github.com>
Sent: Wednesday, January 20, 2021 5:28 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Robin Shahan <Robin.Shahan@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] feedback (#68599

[2021-02-04 19:30] lars-petter-madsstuen opened #70052 "ARM CI/CD should mention AzureResourceManagerTemplateDeployment task"
Have been struggling with getting the suggested Azure Powershell task to work with the linked `Deploy-AzTemplate.ps1`.

Then I realized there is an actual [AzureResourceManagerTemplateDeployment ](https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/AzureResourceManagerTemplateDeploymentV3/README.md) task that just worked straight away. Suggest that the documentation also mentions

[2021-02-04 19:30] fei0x opened #70053 "issue pasting line in instructions"
when I pasted this:

$RdpCertThumbprint = 'Cert:\LocalMachine\Remote Desktop\'+((Get-ChildItem -Path 'Cert:\LocalMachine\Remote Desktop\').thumbprint)

as instructed, it added a 3rd '(' before 'Get-Childitem'

I'm not sure why, when i paste into notepad, it looks normal. adding another ')' after pasting made the line execute.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-02-04 19:31] AjayKumar-MSFT commented on #69011
We will close this out, but if you feel you need more information please just let us know.

[2021-02-04 19:31] #69011 closed

[2021-02-04 19:34] fei0x commented on #70053
oh look the double 'ss' in session became triple s  'sss' as well...

[2021-02-04 19:34] luisquintanilla commented on #69838
Hi @sfarhand

Thanks for filing this issue. Is there a specific step in the tutorial where you're getting this error?

[2021-02-04 19:36] dev-manager-uk commented on #70008
Sure thing:
https://docs.microsoft.com/en-us/azure/storage/blobs/object-replication-overview
https://docs.microsoft.com/en-us/azure/storage/blobs/object-replication-configure

[2021-02-04 19:38] dylan-fox commented on #69824
OK, thanks for the confirmation.  You might want to include a note to that effect on the documentation here to clarify for future users. Looking forward to the new Unity 2020 pipeline!

[2021-02-04 19:42] jaschrep-msft commented on #69941
If you follow the v12 client-side encryption instructions in the document this issue was opened on, you'll be able to upload blobs with encryption and read your already-encrypted blobs on download. I'm not sure what exactly you're looking for aside from that. RequireEncryption in v11 looks like it just added behavior where it throws more eagerly on upload/download if there's no encryption detected

[2021-02-04 19:42] fei0x opened #70054 "Command in doucumentation does not work"
This line:
'remove-module psreadline icacls'
does not work... i am assuming the icacls portion should be omitted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 500257df-925a-52ad-74f3-5856c712a09c
* Version Independent ID: 6204cf81-68b6-2f92-a939-1aa2db35c063
* Content: [An internal error occurs when you make an RDP c

[2021-02-04 19:43] wassimamer opened #70055 "Arithmetic operations doesn't seem to be right!"
The values displayed on the page, pasted below, seems to be off. For example

1. why
5-1 = 4
but
1- 0 = 0?

2. why 1+5 = 4?

Operation | Num1 | Num2 | Result column | Result value
-- | -- | -- | -- | --
Addition | 1 | 5 | Add(Num2_Num1) | 4
Multiplication | 1 | 5 | Multiple(Num2_Num1) | 5
Subtraction | 1 | 5 | Subtract(Num2_Num1) | 4
Subtraction | 0 | 1 | Subtract(Num2_Num1) | 0
Division | 1 | 5 |

[2021-02-04 19:44] msftradford commented on #69824
Thanks for the suggestion @dylan-fox, I just merged a PR providing that guidance.

#please-close

[2021-02-04 19:44] #69824 closed

[2021-02-04 19:46] femsulu commented on #70052
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-02-04 19:49] SnehaGunda commented on #67363
I made some changes in the above PR. we will now close this issue.

#please-close

[2021-02-04 19:49] #67363 closed

[2021-02-04 19:57] bwarren18 opened #70057 "Is PowerShell Core really required for ARM template deployment with what-if operation?"
Hello, the article says:

This does not appear to be completely true.
I can run the whatif commands in PowerShell 5.1, the only difference I see is the coloring of the output.

Can this be verified and explained better?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a06520c-ba95-a3c7-85e4-9e9737ca1b69
* Versi

[2021-02-04 19:58] jocortems commented on #69403
@cat-mucius

Apologies for the delayed response. Unfortunately we don't have any public documentation detailing the internal implementation of Private Endpoints. Additionally, SNAT required for connecting to SQL PE when both the client accessing the PE and NVA are in the same VNET; however, SNAT is not required for connecting to Storage PE. I haven't tested other PEs but it appears they behave dif

[2021-02-04 19:59] LockTar opened #70058 "Add inputclaim for profile edit as well"
In section "Add a claim to the user interface" you give example xml for `SelfAsserted-Social` and `SelfAsserted-ProfileUpdate`. I see the `city` field apear. I can update it with the information from the "Read and write a claim" section.

So I can update the information with the ProfileEdit flow. I see the new claim in the token with the correct value. Only when you want to update the value of cit

[2021-02-04 20:06] sushruth commented on #69673
@SubhashVasarapu-MSFT Just as an extension to this, I also want to request list of all possible values for all the headers on this page if that can be done as well. Thank you.

[2021-02-04 20:12] PeterCLu commented on #68708
Hi @SanjaJo, thanks for your report. You're right, the nbconvert snippets were not correct. However you should be able to use the regular file names with spaces. I've confirmed that the following commands work and align with nbconverts documentation:

jupyter nbconvert "Diabetes Ridge Regression Training.ipynb" --to script --output train
jupyter nbconvert "Diabetes Ridge Regression Scoring.ipynb"

[2021-02-04 20:12] #68708 closed

[2021-02-04 20:14] SaurabhSharma-MSFT commented on #69947
@mtowse  Are you able to configure your CICD pipeline using ARM template ?  You need to use Synapse Plugin instead to achieve the same as you cannot use ARM template deployment task to deploy Synapse artifacts [document](https://docs.microsoft.com/en-us/azure/synapse-analytics/cicd/continuous-integration-deployment#use-the-synapse-workspace-deployment-task).

[2021-02-04 20:28] PeterCLu commented on #69696
Hi @eyast, thanks for your report. You're right this article is missing the test sections. I've added it back in with instructions for navigating to the Test tab.

I've also updated the tutorial to include information like using the Details and Consume tab to find Swagger definitions and sample code for easier consumption.

You should see the changes live in a few hours. I'll proceed to #please-cl

[2021-02-04 20:28] #69696 closed

[2021-02-04 20:39] joleito opened #70060 "Restore as "Replace Existing" unavailable for unmanaged machines"
The document says that "Replace Existing" is unsupported for classic VMs. However, one of our customers provided us with valuable feedback about that part. This is what he mentioned:
"_The term classic was typically used to mean having a deployment with ASM vs ARM.  These VM are not ASM they are ARM.  The documentation should clearly state that unmanaged VM’s are not supported._"
Maybe we can add

[2021-02-04 20:39] V4A001 commented on #69777
I am able to  use another resource group;
`echo $NETWORK_RESOURCE_GROUP
CLUSTER_MANAGED_IDENTITY_PRINCIPAL_ID=$(az identity show -g ${RESOURCE_GROUP} -n ${CLUSTER_MANAGED_IDENTITY_NAME} --query principalId -otsv)
echo $CLUSTER_MANAGED_IDENTITY_PRINCIPAL_ID
az role assignment create --assignee $CLUSTER_MANAGED_IDENTITY_PRINCIPAL_ID --role "Network Contributor" --scope /subscriptions/$SUBSCRIPTION_I

[2021-02-04 20:40] #69777 closed

[2021-02-04 20:41] wassimamer opened #70061 "Duplicate on the index pane"
This link for "Clean Missing Data" is repeated twice on the index on the left side.

https://docs.microsoft.com/en-us/azure/machine-learning/algorithm-module-reference/clean-missing-data

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0eb103e1-0c48-48b8-2f2b-3a8cf27163b6
* Version Independent ID:

[2021-02-04 20:41] SquirrelAssassin opened #70062 "great page but... how do i disable one of those checks"
You have va1288 enabled and all our scans come back with it.  Were not ready yet to implement any of that yet so we want to disable this item from the scans.  How do we turn off this one check?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65b5f76e-bbb3-b97c-bfb5-63788db27e26
* Version Independent ID: a33d089e-16dd-72

[2021-02-04 20:41] Aubeauch opened #70063 "Please update supported browsers."
Hello Team!

I hope you're well. This document lists IE 11 as a supported browser however a related document lists the supported browsers as

Microsoft Edge (the mobile version of Edge is currently the only supported mobile browser)
Google Chrome
Mozilla Firefox, version 26.0 or later

Here's a link to the doc:

https://docs.microsoft.com/en-us/azure/active-directory/user-help/my-apps-portal-end-u

[2021-02-04 20:46] dcurwin commented on #70060
#reassign:Debpriya1994

[2021-02-04 20:59] mimckitt commented on #61944
#reassign: @mimckitt

[2021-02-04 20:59] mimckitt commented on #61944
This work is now completed.

#please-close

[2021-02-04 20:59] #61944 closed

[2021-02-04 20:59] rtrainer commented on #35478
I think that I have figured this out. It is failing because the 2 app services are on the same app service plan.

[2021-02-04 21:00] RoyalSWiSH commented on #69840
So the issue is that the example doesn't explain that you need a `HttpStart` function like in the github code repo.

https://github.com/Azure/azure-functions-durable-python/blob/dev/samples/human_interaction/HttpStart/__init__.py

[2021-02-04 21:02] JamesTran-MSFT commented on #70063
@Aubeauch
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-04 21:03] JamesTran-MSFT commented on #70058
@LockTar
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-04 21:12] navyasric commented on #68550
@hamiltonha  Can you please help assign this to the right person?

[2021-02-04 21:13] LockTar opened #70065 ""Replace" ApplicationObjectId and ClientId unclear"
Hi,

Small feedback about section "Modify your custom policy". The following line is a bit unclear:
_3. Replace ApplicationObjectId with the Object ID that you previously recorded. Then replace ClientId with the Application ID that you previously recorded in the below snippet._

The word **Replace** indicates that you need to replace the word (attribute in the xml) `ClientId` and `ApplicationObjec

[2021-02-04 21:23] hamiltonha commented on #68550
#assign @j-mantu

[2021-02-04 21:44] shbijlan commented on #69981
Hi @ezwiefel, thank you for the feedback. I have opened a work item to investigate this issue and will update the results here.

[2021-02-04 21:49] #69985 closed

[2021-02-04 21:56] GiftA-MSFT commented on #70047
@sennendoko, Microsoft/Azure/user subscription mean the same thing and used interchangeable in the documentation.

[2021-02-04 22:07] dcolebatch commented on #68631
Well, today I learned there are *multiple* MPN IDs and the one you must use in the PAL screen is not your global MPN ID, but a CSP related MPN ID (for us this was one of our Location MPN IDs).

Don't mind me... I'll see myself out.

[2021-02-04 22:07] #68631 closed

[2021-02-04 22:09] vishvas opened #70067 "range function is not present in ADFV2"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76e31411-f1a2-710b-94c0-39acf9e7314b
* Version Independent ID: d5cefffe-dee0-2d2e-f3cb-8eefd5d40d17
* Content: [Expression and functions in Azure Data Factory - Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/control-flow-expre

[2021-02-04 22:12] GiftA-MSFT commented on #70061
@wassimamer we'll review your feedback and get back to you shortly. Thanks.

[2021-02-04 22:12] GiftA-MSFT commented on #70055
@wassimamer we'll review your feedback and get back to you shortly. Thanks.

[2021-02-04 22:22] nimoniyaz opened #70068 "How do I determine if a directory is approaching the limit size?"
[Enter feedback here]
For a 320 MB directory, the number of blocks is 655360, with each block size being 512 bytes. (That is, 320x1024x1024/512.) Since WAFL is 4k block, why is it using 512bytes. Ideally it should be 320MiB/4KiB = 81,920 directory blocks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 533a34cf-3791-0a45

[2021-02-04 22:28] SaiKishor-MSFT commented on #70051
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-04 22:43] ThomasWeiss commented on #51732
@michuny25 Reading through the documentation and your issue, it seems that the problem is that the "Employee index entity" only contains a list of `EmployeeId`, whereas it should contain a list of (`DepartmentName`,`EmployeeId`) pairs to be able to lookup the corresponding employees. Does that sound right?

[2021-02-04 22:47] JamesTran-MSFT commented on #70065
@LockTar
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-04 22:56] inaun commented on #43708
This answer is not at all what the OP was asking. The OP is asking for more specifics on how Microsoft has implemented Availability Zone support for Event Hub.

I'm chiming in because I'm looking for the same answer.

[2021-02-04 23:11] TerryLanfear commented on #45778
@DeanGross - Thank you for your feedback. To present a consistent set of recommendations, the Azure security best practices will align to the Azure Security Benchmark program (https://docs.microsoft.com/azure/security/benchmarks/introduction). This program includes a collection of security recommendations you can use to help secure the services you use in Azure. The Azure Security Benchmark also a

[2021-02-04 23:11] #45778 closed

[2021-02-04 23:14] rbavery opened #70069 "can't azcopy from s3 from different region"
I don't think the docs show how to correctly referenc ethe s3 bucket:

When I run
[code]

I get this which has two regions in the url
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7440c0c4-3fd0-cf6e-bdd2-5e7f4eeedbef
* Version Independent ID: 49c0fd0d-d705-7649-8a4d-c016abb0848a
* Content: [Copy data from Amazo

[2021-02-04 23:20] TerryLanfear commented on #55977
@CeciAc - Thank you for your feedback. The links seem to be working now.

#please-close

[2021-02-04 23:20] #55977 closed

[2021-02-04 23:21] SatishBoddu-MSFT commented on #70053
@fei0x
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-02-04 23:23] SatishBoddu-MSFT commented on #70054
@fei0x
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-02-04 23:24] SatishBoddu-MSFT commented on #70057
Hello @bwarren18
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-04 23:26] SatishBoddu-MSFT commented on #70060
@joleito
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-04 23:27] RyanHill-MSFT commented on #69812
Hi @w0ut0, the azure app service platform doesn't have a feature that automatically these headers. However, I did come across https://www.hanselman.com/blog/how-to-enable-http-strict-transport-security-hsts-in-iis7 that demonstrates how to add HSTS to your web.config that more than likely help.

If you run into issues, feel free to reopen this issue and tag me in your reply.

[2021-02-04 23:27] #69812 closed

[2021-02-04 23:27] SatishBoddu-MSFT commented on #70062
@SquirrelAssassin
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-04 23:28] SatishBoddu-MSFT commented on #70067
@vishvas
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-04 23:31] SatishBoddu-MSFT commented on #70068
@nimoniyaz
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-04 23:32] SatishBoddu-MSFT commented on #70069
@rbavery
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-04 23:33] andrepodnozov opened #70070 "Connection multiplexing is only supported over AMQP"
Diagrams on this page incorrectly imply that both AMQP and MQTT protocols supports multiplexing. This is not correct, according to this other page which explains that MQTT does not support multiplexing: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-protocols

Please update wording and diagrams on this page to make it clear that connection multiplexing is supported only over AMQP

[2021-02-04 23:44] dataslicer commented on #70001
I have tried to compile my own from the Apache Hadoop source code repo, but the dependencies libraries that are required to build this are more than 10 years old.  I spent 10 hours tried to satisfy the dependency and still gated by many out dated issue no longer being supported.

After some more digging, a Hadoop committer is helping out by making these precompiled binaries available [here](github

[2021-02-04 23:47] b-juche commented on #70068
I'll get input from our product management teams for this question.

[2021-02-04 23:47] tfitzmac commented on #70057
@bwarren18 - thanks for this feedback. I believe that requirement was related to installing a prerelease version of the module. At this point, the supported core PowerShell version should be the same as the general requirements for installing the latest version of the Az module. I'll update the doc.

[2021-02-04 23:47] MartinJaffer-MSFT commented on #70011
Thank you for your feedback @jasonhorner  . This has been assigned to the content owner, @azaricstefan , and will be updated as appropriate.

[2021-02-05 00:16] #70055 closed

[2021-02-05 00:18] PeterCLu commented on #70061
@wassimamer, thanks for the report. Great catch, I've removed the extra entry from the table of contents. You should see the changes live in a few hours. If you feel that your documentation question hasn't been answered, feel free to open a new issue with additional information. Have a great day!

#please-close

[2021-02-05 00:18] #70061 closed

[2021-02-05 00:36] MartinJaffer-MSFT commented on #69994
Hello @jovalen , we did some tests, and the table name is case-sensitive.  By any chance, did you create the table all lowercase?

[2021-02-05 00:38] SaurabhSharma-MSFT commented on #69921
@rbavery You can use the json content while creating the linked service
![image](https://user-images.githubusercontent.com/38112130/106973197-4087b680-6707-11eb-8771-ebcb9a3ae2ad.png)
Once you hit create button you can see the linked service on UI.
![image](https://user-images.githubusercontent.com/38112130/106973277-69a84700-6707-11eb-96b7-fb28f31dffc8.png)

[2021-02-05 00:39] MartinJaffer-MSFT commented on #69314
@dataslicer Feature requests can be submitted in the [feedback forum](https://feedback.azure.com/forums/909463-azure-databricks).

[2021-02-05 00:42] SaurabhSharma-MSFT commented on #69835
@VitalyMCT I suggest you to please post this as a feedback at [UserVoice](https://feedback.azure.com/forums/270578-data-factory). This will allow the community to upvote and for the product team to include into their plans. "This Product" button in at the bottom section of the document now to take you directly to the appropriate feedback page.

[2021-02-05 00:49] MicrosoftGuyJFlo commented on #69950
This is a known issue the PG is working to get the scripts re-published this week or next in a publicly available repository. #reassign @MicrosoftGuyJFlo #please-close

[2021-02-05 00:49] #69950 closed

[2021-02-05 01:16] Minewiskan commented on #69986
Agreed. Not sure why there wasn't a link there. There is now.
Thanks for letting me know.
#please-close

[2021-02-05 01:16] #69986 closed

[2021-02-05 01:25] dataslicer opened #70071 "databricks-connect test is skipping scala command test on Windows"
https://docs.microsoft.com/en-us/azure/databricks/dev-tools/databricks-connect#step-2-configure-connection-properties
In `Step 2` -> sub point `3` -> Running the following command: `databricks-connect test`

Everything matches exactly as the documentation except the Scala testing part:
 `* Skipping scala command test on Windows`.

[code]

I am using the latest version of the `databricks-connect` p

[2021-02-05 01:26] danielkon96 commented on #69861
Thanks! I found a repo from Azure-Samples that contains all the code. Update the page accordingly. https://github.com/Azure-Samples/cdn-dotnet-manage-cdn

[2021-02-05 01:59] VitalyMCT commented on #69835
@SaurabhSharma-MSFT I am asking a clarification question about documentation, not requesting a new feature or enhancement:

Are you saying the answer to the question is "no"?

[2021-02-05 02:02] chandrapola opened #70072 "The statement should be "connect to the cloud server through the firewall""
The below statement in the document in the section "Create the on-premises virtual machine" is not correct.

From there, you then connect to the on-premises server through the firewall.

It should be

From there, you then connect to the cloud server through the firewall.

Explanation :
a) In the said section of the documentation , we are creating a on-premises virtual machine and we are creating o

[2021-02-05 02:38] NavtejSaini-MSFT commented on #69816
@yegu-ms @yegu We are assigning this to you for further information.

[2021-02-05 02:40] NavtejSaini-MSFT commented on #69819
@yegu @yegu-ms We have assigned this to you for further feedback.

[2021-02-05 02:42] ChaitanyaNaykodi-MSFT commented on #69840
Hello @RoyalSWiSH, apologies for the delay.
I was successfully able to run the tutorial in Python as well as C#. I could not reproduce the error faced. Are you still facing the issue?
Regarding explaining `HttpStart` in the document I have reached to doc author internally.

[2021-02-05 02:48] NavtejSaini-MSFT commented on #69992
@Jedoe830 Only available method currently to enable ATP for Azure Postgresql DB is through the Azure Portal. Please raise a [feedback ](https://feedback.azure.com/forums/597976-azure-database-for-postgresql) for this feature and our product team will prioritize the same.

[2021-02-05 02:50] NavtejSaini-MSFT commented on #69350
@christopheranderson Any update regarding this.

[2021-02-05 03:00] SnehaGunda commented on #69350
I discussed this with Thomas and I will make the changes tomorrow or early next week.

[2021-02-05 03:17] KalyanChanumolu-MSFT commented on #70014
This issue is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-02-05 03:38] klawrawkz opened #70074 "Need To Clarify "Run provider setup ... as described in the next procedure.""
Hi. My name is klawrawkz. You can call me klaw. How are you? I am fine.

**Step #_8_** in this guidance states: "Run the provider setup file on each host **_as described in the next procedure._**"

Step **#_9_** in this guidance states: "**_After_** installing the provider on hosts, in Discover machines, click Finalize registration."

What is the "**_next procedure?_**" Step 8 blah, blah, blah; go

[2021-02-05 03:59] OzBob opened #70075 "Multi-line secret sample"
The KeyVault add Secret form on the Azure Portal refers to the documentation and powershell to add a multiline secret.

more information also requested here: https://social.msdn.microsoft.com/Forums/en-US/bd63fc89-fc9b-407c-bff3-4f298b507c41/how-to-input-multiple-lines-values-as-secret-in-azure-key-vault

My suggestion is to add an example, e.g. using

This is even more important when considering

[2021-02-05 04:06] AnuragSharma-MSFT commented on #69872
@leonpeeters This is being assigned to the content author to evaluate and update as appropriate.

[2021-02-05 04:20] CHEEKATLAPRADEEP-MSFT commented on #70071
@dataslicer Could you please share the complete stack trace which you get after running databricks-connect test?

Meanwhile you may checkout the steps mentioned in the article: https://datathirst.net/blog/2019/4/20/setup-databricks-connect-on-windows

[2021-02-05 04:31] vipulsparsh commented on #69952
@pramodkumarhk Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-02-05 04:57] SnehaAgrawal-MSFT commented on #70025
@pioardi Thanks for asking question! Yes you are correct,  If you use a Windows docker container WEBSITE_VNET_ROUTE_ALL is not supported.

To elaborate on Windows Container:  Azure App Service provides pre-defined application stacks on Windows like ASP.NET or Node.js, running on IIS. The preconfigured Windows container environment locks down the operating system from administrative access, softwar

[2021-02-05 04:57] #70025 closed

[2021-02-05 05:06] AshokPeddakotla-MSFT commented on #70070
@andrepodnozov Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-02-05 05:34] CHEEKATLAPRADEEP-MSFT commented on #69780
@gfree76  Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-02-05 05:48] CHEEKATLAPRADEEP-MSFT commented on #70001
@dataslicer You may checkout the steps mentioned in the article: [Setup Databricks-Connect on Windows 10](https://datathirst.net/blog/2019/4/20/setup-databricks-connect-on-windows).

To configure the environment please see the [original ](https://datathirst.net/blog/2019/3/7/databricks-connect-finally)post.

Hope this helps.

[2021-02-05 05:54] RohitMungi-MSFT commented on #69308
@ChrisOBrien93 We can confirm that the SouthAfricaNorth prediction API now returns sentiment labels. Could you please check and validate the same. Thanks!!

![image](https://user-images.githubusercontent.com/46958063/106994799-7c705980-67a3-11eb-91f2-8aaa09803bb5.png)

[2021-02-05 06:04] sanjaybhagia opened #70079 "Using Azure Storage IoT Edge as fileSink"
Hi,

I’ve checkout the Azure IoT Storage Account module on the edge. I am able to get it up and running. However there are certain bits I’m able to make it work so need your guidance to understand if those scenarios are supported.

1.	Can I used the local Storage account as fileSink?
a.	Use case: Instead of using Azure Media Services account to store images/videos (assetSink), I would like to use

[2021-02-05 06:07] SwathiDhanwada-MSFT commented on #69957
@lgayhardt  Seems the data retention values in this document and [other document](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#application-insights) are mismatch.  From my analysis, as @v-lyivan mentioned , Transaction Search is limited to 90days unlike Metrics Explorer and Analytics.

Can you please check and update the document accord

[2021-02-05 06:16] SubhashVasarapu-MSFT commented on #70072
@chandrapola, Thanks for reaching out. We will investigate and update this thread.

[2021-02-05 06:25] SnehaAgrawal-MSFT commented on #69942
@AntonioNH Thanks for asking question! If I am understanding right your query is regarding Private Endpoint support for WebApp Slots.  It is [Currently listed in the “limitations” section of the Private Endpoint documentation](https://docs.microsoft.com/en-us/azure/app-service/networking/private-endpoint#limitations).
PG is aware of this. No ETA yet.

We will now proceed to close this thread. If t

[2021-02-05 06:25] #69942 closed

[2021-02-05 07:14] michuny25 commented on #51732
@ThomasWeiss Exactly. That's what's this whole issue about and what my examples proved not to work.

Without that, it wouldn't work as the docs suggest. Also to fix this in docs, it is required to not only change the text but also the image with the suggested schema to contain the list of (`DepartmentName,EmployeeId`) pairs instead of `String containing a list of employee ids with the same last na

[2021-02-05 07:19] SergeMoreno opened #70080 "How to implement hierarchy in glossary terms?"
In the text, it is stated "Add Resources and Acronym. If the term is part of hierarchy, you can add parent terms at Parent in the overview tab."

But In the overview there is no such field.

Where do you indicate it is a parent and do you indicate its childs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad4d85f3-5796

[2021-02-05 07:21] TerryLanfear commented on #5070
@memildin - Please see last customer comment. This issue references a spreadsheet on TechNet Gallery. TechNet Gallery has been archived so the article that this issue is against may no longer be linking to the referenced spreadsheet. If the article is still linking to the spreadsheet, please check to see that information is not outdated.

[2021-02-05 07:27] muruganbalan opened #70081 "Microsoft Access Database Metadata Tables Query"
We have a requirement for automatic metadata capture (List of tables and columns) from Microsoft Access Database Tables. For this, we need to query the MS Access Database metadata tables to get the details.

As part of our project requirements, we have implemented the same for Microsoft SQL Server tables.

When we tried to query the "information_schema.tables" and "informaton_schema.columns" from

[2021-02-05 07:29] Klaas- opened #70082 "Support for new OSes"
Hi,
the announcement here: https://azure.microsoft.com/en-us/updates/new-azure-monitor-agent-available-on-latest-linux-distros-and-new-regions/
does not seem to be reflected in this document yet.

Greetings
Klaas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4753b2c-fb13-56d5-8e1d-73dddd259ee2
* Version Independent I

[2021-02-05 07:31] w0ut0 commented on #69812
@RyanHill-MSFT, thanks but I know that.

My questions is about how to use web.config, when running App service for (Linux) containers. As IIS will never (?) be able to get a file from **inside** the container, I have absolutely no idea where (and if) I should provide the web.config file.

As this is not documented, hence this issue 🙂

[2021-02-05 07:31] KrishnaG-MSFT commented on #70082
@Klaas- Thanks for your comment! We will review and provide an update as appropriate.

[2021-02-05 07:39] linda33wj commented on #69336
#please-close

[2021-02-05 07:39] #69336 closed

[2021-02-05 07:42] SnehaAgrawal-MSFT commented on #69795
@Dolphinsimon Thanks again for the feedback! I have assigned the issue to the content author for further review on this.

[2021-02-05 07:42] TerryLanfear commented on #52400
@shooker - Thank you for your feedback. The final section has a link to the article titled What is Azure Private Link? (url: https://docs.microsoft.com/en-us/azure/private-link/private-link-overview)

#please-close

[2021-02-05 07:42] #52400 closed

[2021-02-05 07:44] pioardi commented on #70025
Thanks @SnehaAgrawal-MSFT  for your answer and clarification :)

[2021-02-05 07:59] wolszakp opened #70083 "_LogOperation query on DailyCap doesn't work"
Current query for daily cap doesn't work.
` _LogOperation | where Category == "Ingestion" | where Operation == "Ingestion rate" | where Level == "Warning"`

However query based on the `Operation` works.

`Operation
| where OperationCategory == 'Data Collection Status'
| where OperationStatus == 'Warning'`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2021-02-05 08:01] rurounijones commented on #70022
Thank you, that answers my question. I think the documentation could be modified to reflect the clarifications above.

[2021-02-05 08:05] ssivas commented on #69801
@Gibbo81 ,

I had tested in my tenant which works as expected without any issue when I used following redirect URL format "https://jmYs9fMXl3ga7CALqWNFXG.b2clogin.com/jmYs9fMXl3ga7CALqWNFXG.onmicrosoft.com/oauth2/authresp".

I would recommend you refer this article [restrictions and limitations of reply url](https://docs.microsoft.com/en-gb/azure/active-directory/develop/reply-url) and make sure r

[2021-02-05 08:10] jeevanbalanmanoj opened #70084 "Customer wants exact limit at which Microsoft's authentication limiting mechanism will kick in. Please update the same in documentation asap"
The line under question is here." Microsoft may limit repeated authentication attempts that are performed by the same user in a short period of time. " What's the actual limit? More on the question [here](https://stackoverflow.microsoft.com/questions/242656). Please help me get this detail and share it across
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2021-02-05 08:13] KrishnaG-MSFT commented on #70080
@SergeMoreno Thanks for your comment! We will review and provide an update as appropriate.

[2021-02-05 08:37] barmettlerl commented on #69635
Okey Cool. So, there is a bug? And it is not just me?

[2021-02-05 08:48] sennendoko commented on #70047
Yes, that's what I thought. So in the second and third graphics in the page, in the "Create workspace" and "Snapshots" sections respectively, why is there a blue box with the title "Microsoft/Azure subscription" and a grey box with the title "Customer subscription"? The different titles make it look as if a distinction is being made here, but you're telling me the two terms are interchangeable.

F

[2021-02-05 09:25] CHEEKATLAPRADEEP-MSFT commented on #70081
@muruganbalan  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/questions/ask.html) or [Stack Overflow](https://stackoverflow.com/questions/ask)
Once you post your issue on forums, it will have visibility across the community which is a better-suited audience for such types of issu

[2021-02-05 09:28] odalet commented on #67166
Well, I was thinking of requesting the certificate from Azure Key Vault so that it is generated by Digicert into the Azure Key Vault (premium needed) HSM directly. The feasibility of taht is what I'm currently asking Digicert! If this is not possible, then yes, I'll seek a means to extract the cert + key from Digicert's token and upload it into Key Vault; although I'm really not sure this is possi

[2021-02-05 09:42] SwathiDhanwada-MSFT commented on #70083
@wolszakp Thanks for your comment. We will review the issue and get back to you shortly.

[2021-02-05 09:49] RohitMungi-MSFT commented on #69788
@eyast We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-02-05 09:49] #69788 closed

[2021-02-05 09:49] plynch66 commented on #69718
Hi,

No, I don't have anything further. Thanks for the clarification.

Paul

[2021-02-05 09:49] #69718 closed

[2021-02-05 09:50] AnuragSharma-MSFT commented on #69931
@pantanuj This is being assigned to the content author to evaluate and update as appropriate.

[2021-02-05 09:55] Debpriya1994 commented on #70060
Thank you for reaching out.
In our documentation we have specified that Replace existing is only  supported for unencrypted managed VMs.
"Replace existing is supported for unencrypted managed VMs, including VMs created using custom images"  in this [doc](https://docs.microsoft.com/en-us/azure/backup/backup-azure-arm-restore-vms)

[2021-02-05 10:06] KrishnaG-MSFT commented on #69878
@joedocker758 I have verified and updated the document as appropriate. I change should reflect in some time i.e., in less than 24 hours. Thanks again!

[2021-02-05 10:06] #69878 closed

[2021-02-05 10:32] lgayhardt commented on #69958
@tigerdeccan  Thank you for your feedback. I created a [work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1815143) to add data point volume and data point count to the log-based metrics doc.

#please-close

[2021-02-05 10:32] #69958 closed

[2021-02-05 10:44] pumpkinclarinet opened #70086 "OS versions supported on Azure to use Nested Virtualization"
There is nowhere under the Nested Virtualization documents which OS version of Windows is supported to use Nested Virtualization.
Can we add a pre requisits tab before the example to state that the OS Versions are the following ones:
* Windows Server 2016
*Windows Server 2019

-> Not supported for Windows Client versions

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2021-02-05 10:50] kmwahlstrom opened #70087 "Still confused on ms-ds-consistency-GUID"
FAQ: say
By default, cloud sync uses ms-ds-consistency-GUID with a fallback to ObjectGUID as source anchor. There is no supported way to change the source anchor.
- and -
cloud sync does not support writeback of ms-ds-consistencyGUID for any object (including user objects).

I can't figure out what scenario would need to happen for the ms-ds-consistencyGUID to be used by the lightweight agent.

Wo

[2021-02-05 10:56] SadiqhAhmed-MSFT commented on #70074
@klawrawkz Thanks for the question. We will look into it and get back to you soon.

[2021-02-05 10:59] shashishailaj commented on #70075
@OzBob Thank you for your feedback . We will investigate and update the thread.

[2021-02-05 11:01] shashishailaj commented on #70084
@jeevanbalanmanoj Thank you for your query. We will investigate and update the thread.

[2021-02-05 11:17] DARKinVADER opened #70089 "DeleteProject implementations is missing"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f6c3f20-25a4-bc19-0cb6-377eff01b00e
* Version Independent ID: 02d76c7b-cffa-c94f-2298-ba7e506d4f79
* Content: [Quickstart: Image classification with Custom Vision client library or REST API - Azure Cognitive Services](https://docs.microsoft.com/en-us

[2021-02-05 11:27] pvones opened #70090 "Insufficient documentation to create the Bearer token"
To [create the Bearer token](https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/pc-saas-registration#get-the-token-with-an-http-post) you need four parameters, the fourth parameter is **resource**.

For Azure Marketplace API, the [resource is described in the documentation](https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/pc-saas-registration#get-the-t

[2021-02-05 11:41] psmanhas commented on #70086
@pumpkinclarinet
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-02-05 11:41] psmanhas commented on #70086
@cynthn
Can you please check and add your comments on this doc update request as applicable

[2021-02-05 11:42] DavidJFowler opened #70092 "Regions and resource availability list out of date"
uksouth is not listed in [Regions and resource availability](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-virtual-network-concepts#regions-and-resource-availability) but it is possible to create an ACI in uksouth in a VNET.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c7387c7-c5ea-5

[2021-02-05 11:44] dominicallen opened #70093 "Page links incorrect in TOC"
Links in the TOC under the following structure route to root of docs.microsoft.com
Disks/Encryption/Azure Disk Encryption scenarios/Azure Disk Encryption overviews
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 288f8109-44b2-99b4-118b-b26c54326aad
* Version Independent ID: 66c3e929-608c-6f7b-653d-ca043dcafecb
* Content:

[2021-02-05 11:58] psmanhas commented on #70093
@dominicallen
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-02-05 11:58] psmanhas commented on #70093
@msmbaldwin
Can you please check and add your comments on this doc update request as applicable

[2021-02-05 11:59] psmanhas commented on #70092
@DavidJFowler
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-02-05 12:00] psmanhas commented on #70092
@macolso
Can you please check and add your comments on this doc update request as applicable

[2021-02-05 12:05] chengyu-liu-cs opened #70094 "Using a workspace over a private endpoint"
[Enter feedback here]

I am looking for how to use a private endpoint in the development.
I followed all the instruction here https://docs.microsoft.com/en-us/azure/machine-learning/how-to-network-security-overview and links inside.
Now workspace with a private endpoint (vnet and subnets) is deployed and storage, container registry are also connected to private endpoints.

But my pipeline doesnot

[2021-02-05 13:26] kushalbhabra opened #70095 "Dynamic content FAQ Extraction"
Hi Team,

The steps in the current documentation provide a way to upload document or specify a static URL for one time FAQ extraction.

Is there a way to make this point to dynamic page or document, who's content changes every day and sync it daily? Is there a programmatic way or design recommendation for achieving such solution?

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2021-02-05 13:39] joseph-msft opened #70096 "Update to instructions for YAML pipelines?"
Great page! Very thorough and useful.

Can we get a minor update for working with YAML pipelines?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e22e4d6-366f-fbf8-e141-8905ca7ab7ae
* Version Independent ID: 5be2acf2-66e7-cadf-6666-5a85a65b9771
* Content: [Continuous integration and delivery in A

[2021-02-05 13:43] madsd commented on #67247
Added Note to documentation to clarify this scenario

[2021-02-05 14:06] k7faq commented on #69804
I followed the link (to here) from the page in question. When I find more
time I will go back and look this up again. I have so many competing
priorities to worry about right now.
I would have hoped the documentation page would have been configured to
provide the reference to the page the user is directed from.

On Thu, Feb 4, 2021 at 10:57 AM David Curwin <notifications@github.com>
wrote:

--

St

[2021-02-05 14:08] moatwork opened #70097 "Confusing wording"
"Serverless SQL pool lets you query files in your data lake in read-only manner, while SQL pool lets you ingest data also."

Clients are confused by whether Serverless SQL pool has ingestion capability or not. It looks conflict with this page https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/best-practices-sql-on-demand#general-considerations.

---
#### Document Details

⚠ *Do not edit

[2021-02-05 14:13] rarandiv opened #70098 "Adding a video link in the document would be easy and quick understanding the features of Azure SQL Database Managed Instance."
While reading this features comparison document, I feel it’s very lengthy and it has lots of sub links (which goes in circles)

It would be great, if we can add the Microsoft video link in the document, would be helpful for the customer to quickly go through the video and understand it in an easy way.

Recommending to add _https://azure.microsoft.com/en-in/resources/videos/ignite-2018-azure-sql-da

[2021-02-05 14:15] elafnit commented on #67166
this document seems to indicate that a direct transfer mechanism is already provided
https://docs.microsoft.com/en-us/azure/key-vault/keys/hsm-protected-keys

[2021-02-05 14:18] sheigel commented on #66261
Two months later I can only say that I sure was sour when I created this issue. I don't remember the context. I certainly gave up on this. I would have added more context if there was anything in particular. I think I couldn't even login to AAD.

[2021-02-05 14:35] enginaar opened #70099 "Cannot find what's described in Azure Resource Explorer"
Items like config > authsettings drilldown, or Read/Write button described in "Configure App Service to return a usable access token" section don't exist in Azure Resource Explorer. Unable to complete tutorial.

https://docs.microsoft.com/en-us/azure/app-service/tutorial-auth-aad?pivots=platform-linux#configure-app-service-to-return-a-usable-access-token

---
#### Document Details

⚠ *Do not edit

[2021-02-05 14:36] dominicbetts commented on #68671
Hi @romankiss - we've added a note to article that the model ID can only be set when the device connects.

I'm closing this issue now, but if you have any follow up questions feel free to reopen it. Thanks!

#please-close

[2021-02-05 14:36] #68671 closed

[2021-02-05 14:38] RyanHill-MSFT commented on #69812
My apologies @w0ut0, since you were asking about the web.config, I thought you were implying a Windows container. web.config is associated with IIS, so it won't apply to a Linux container. Applying the header on your Linux container will be based on what webserver you're using in your image. For example, nginx has this [blog post](https://www.nginx.com/blog/http-strict-transport-security-hsts-and-

[2021-02-05 14:44] wUEZRs opened #70101 "Support for writeback (passwords, devices, groups)"
The video mentions that by General Availability, SSPR (Support for writeback (passwords) will be included. And they expect GA to be by end of 2020. The article has not been updated since 2020, so perhaps this is now available?

It's a crucial feature for Cloud sync

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70e7def

[2021-02-05 14:47] AndreasMWalter opened #70102 "Refrain from using /8 networks and use private networks"
[Enter feedback here]
Dear Microsoft,

honestly:
Please refrain from using /8 networks in your documentation since the best practice states clearly to use maximum of /16 VNETS.
People might actually deploy it this way, because they read only parts of the documentation and are unaware of the 65000 IP address limits per vnet.

Also please try to refrain from using non private networks, since the cus

[2021-02-05 14:53] #69599 closed

[2021-02-05 14:56] MonikaReddy-MSFT commented on #69912
@dgregoraz - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-05 14:56] #69912 closed

[2021-02-05 15:06] RohitMungi-MSFT commented on #70095
@kushalbhabra You would need to use the QnAMaker [API ](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/qnamaker4.0/knowledgebase/update#add)to update the KB whenever this is a change in source content and re-train your KB with the new content.

Your content can be maintained under source control as a file or a URL, the KB update operation should add, delete or update the source of you

[2021-02-05 15:07] scott-fell-std opened #70103 "Typo"
Migration guid instead of guide.

![image](https://user-images.githubusercontent.com/73960464/107050926-ae23f900-6780-11eb-9e4d-c67d2b06ce12.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13a63d7b-aac1-ac22-cee8-e2873407c251
* Version Independent ID: cb2b1a56-5313-4bad-1854-72e8525583e3
* Content: [Release notes f

[2021-02-05 15:08] rajdhandus opened #70104 "Typo in the az command"
The second command in [this](https://docs.microsoft.com/en-us/azure/confidential-computing/confidential-nodes-aks-get-started#azure-confidential-computing-feature-registration-on-azure-optional-but-recommended) section is missing a 'g'

It is -

`az feature list -o table --query "[?contains(name, 'Microsoft.ContainerService/AKS-ConfidentialComputinAddon')].{Name:name,State:properties.state}"`

It

[2021-02-05 15:10] Hjortsberg commented on #67301
@spelluru We didn't get errors when running the script either. The problem we faced was with the service principal created by the script, missing the scope property.
When you ran the script on your side, did you also verify that the SP in an event grid subscription creates tokens with the roles claim set? :)

[2021-02-05 15:10] WilliamWatterson86 commented on #69815
Also having this issue.  I am using custom policy with IEF.  I am using selfasserted:2.0.0 and unifiedssp:2.0.0 DataUri's.

Any work around for this?

[2021-02-05 15:15] spelluru commented on #67301
Thanks @Hjortsberg. I didn't test the scenario end-to-end.

So, that's when you changed the type to both "application and user", right? Thanks!!

"Change it's type to both "application and user" instead of just application, we can assign the role AzureEventGridSecureWebhook. After that, the tokens issued by EventGrid contains the roles claim to."

[2021-02-05 15:31] RohitMungi-MSFT commented on #70089
@DARKinVADER Thanks for spotting this. The implementation for delete project can be referenced in the github page [here](https://github.com/Azure-Samples/cognitive-services-quickstart-code/blob/c88b77e999c4b30ebdb6f079d949942b20f2b559/dotnet/CustomVision/ImageClassification/Program.cs#L173).

@PatrickFarley Could we add/reference this implementation in this document?

[2021-02-05 15:36] tfitzmac commented on #70052
@lars-petter-madsstuen - thanks for this feedback. The opening paragraph mentions that task and links to an article that shows how to use it, but I agree that it is not very clear. I'll rework that opening to make it clear that there is another option to consider before proceeding in this article.

[2021-02-05 15:37] onderyildirim opened #70105 "Need to map edgeHub port 1883 to host"
Instructions given in "Symmetric keys authentication without TLS" does not work and commands mosquitto_pub and mosquitto_sub fail with "connection refused"

To solve error instructions should include mapping of edgeHub container port 1883 to host.

               "edgeHub": {
                  "settings": {
                     "image": "mcr.microsoft.com/azureiotedge-hub:1.2.0-rc1",

[2021-02-05 15:41] marciomocellin opened #70106 "Sample "Recommendation - Movie Rating Tweets": UnsupportedApiVersion"
I have a problem look like a sample "Recommendation - Movie Rating Tweets"

![image](https://user-images.githubusercontent.com/40580910/107050412-f6a3dc80-67a9-11eb-96d0-3bd1bf007d73.png)

the REST endpoint was created:

![image](https://user-images.githubusercontent.com/40580910/107053905-2e148800-67ae-11eb-9290-4a04f1cd60d6.png)

But this [REST endpoint](https://brazilsouth.api.azureml.ms/pipeli

[2021-02-05 15:58] KalyanChanumolu-MSFT commented on #70098
@rarandiv Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-02-05 16:01] #70057 closed

[2021-02-05 16:02] tfitzmac commented on #70057
The update should get published later today.

[2021-02-05 16:03] Hukutus commented on #39665
The previous answer for Node no longer works because Azure AD also requires the Content-Length header. You can get the Content-Length with Buffer:

[code]

It's crazy that this problem still exists.

[2021-02-05 16:16] stnor commented on #39665
There should be memes about this bug. It's been around as long as Rick Astley.

[2021-02-05 16:19] AjayKumar-MSFT commented on #69818
@timoleo23, We're discussing on this further internally and will get back to you with more updates soon. Thanks again for your feedback.

[2021-02-05 16:19] KranthiPakala-MSFT commented on #70103
@scott-fell-std
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-02-05 16:21] KranthiPakala-MSFT commented on #70097
@moatwork
Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2021-02-05 16:21] joleito commented on #70060
Hello Debpriya, happy Friday!

Thanks for taking the time to review this.
I totally understand that part, however, the customer mentioned that he was confused by the term "classic VMs".
Do you think its possible to replace that part? Maybe something like this:

Current:
Replace existing is supported for unencrypted managed VMs, including VMs created using custom images. It's unsupported for classi

[2021-02-05 16:24] shashishailaj commented on #70087
@kmwahlstrom thank you for your query . We will investigate and update the thread.

[2021-02-05 16:32] JamesTran-MSFT commented on #70101
@wUEZRs
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-05 16:32] SatishBoddu-MSFT commented on #70079
Hello @sanjaybhagia

Thanks for trying Azure Storage on IoT Edge! We try to reserve these issues for feedback directly related to the tutorials: like if there are errors that block tutorial completion or if there are updates/changes required, suggestions for improvement, etc.  I kindly ask that you post your Technical Implementation Query/Question in [Microsoft Q&A](https://docs.microsoft.com/en-u

[2021-02-05 16:33] #69991 closed

[2021-02-05 16:34] tfitzmac commented on #70052
The update should get published later today.
#please-close

[2021-02-05 16:34] #70052 closed

[2021-02-05 16:34] SatishBoddu-MSFT commented on #70090
@pvones
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-05 16:36] SatishBoddu-MSFT commented on #70094
@chengyu-liu-cs
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-05 16:37] SatishBoddu-MSFT commented on #70096
@joseph-msft Thanks for the 'Document Feedback' to enhance it.
I have assigned the issue to the content author for further review.

[2021-02-05 16:40] SatishBoddu-MSFT commented on #70099
@enginaar
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-02-05 16:43] SatishBoddu-MSFT commented on #70102
Hello @AndreasMWalter
Thanks for the feedback! We are currently investigating and will update you shortly.

Cc: @SaiKishor-MSFT Could you please have a look at this issue.

[2021-02-05 16:44] SatishBoddu-MSFT commented on #70104
@rajdhandus Thanks for the catch!
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-02-05 16:45] SatishBoddu-MSFT commented on #70105
@onderyildirim
I have assigned the issue to the content author for further review.

[2021-02-05 16:47] SatishBoddu-MSFT commented on #70106
@marciomocellin Thanks for reporting this!
We are currently investigating and will update you shortly.

[2021-02-05 16:49] marcelkmfst opened #70107 "Links - HTTP 404 NOT Found"
The github links are not working:

https://raw.githubusercontent.com/danielsollondon/azvmimagebuilder/master/quickquickstarts/8_Creating_a_Custom_Win_Shared_Image_Gallery_Image_from_SIG/helloImageTemplateforSIGfromWinSIG.json -o helloImageTemplateforSIGfromWinSIG.json

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 857b

[2021-02-05 16:51] JonathonAnderson opened #70108 "NFS Protocol Option Missing"
After enabling the NFS provider for file shares as instructed, I do not have the option to select the NFS protocol for a new share.

![image](https://user-images.githubusercontent.com/49241459/107063274-cbb48b00-679f-11eb-88b7-f4ab19005ebf.png)

![image](https://user-images.githubusercontent.com/49241459/107063116-9a3bbf80-679f-11eb-9472-bfc8444d8ca9.png)

---
#### Document Details

⚠ *Do not edit

[2021-02-05 17:08] AlexDenton commented on #70051
Okay! I have a slight refinement. From further testing it seems it's not about the App Service Plan per se but rather that if they run on different operating systems it seems to be allowed. That's just my observation though.

[2021-02-05 17:09] agowdamsft commented on #70104
ack. Will be addressed in the next PR.

[2021-02-05 17:14] bwarren18 commented on #70057
Thanks!

[2021-02-05 17:14] PeterCLu commented on #68461
Hi @alscor, thanks for your feedback. I've added a documentation work item to track this request. Our documentation team will prioritize this request along with other similar requests.

#please-close

[2021-02-05 17:14] #68461 closed

[2021-02-05 17:16] rorieke opened #70109 "Exclusion on a deny policy for existing resource, to enable a DINE operation"
[Enter feedback here]
In your article, you note it does not make sense to create an exclusion for a deny policy on an existing resource, but a deny policy on a non compliant resource would prevent a deploy if not exists operation from happening because any changes that do not bring the resource into compliance would be prevented.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2021-02-05 17:22] DCtheGeek commented on #70109
#assign:DCtheGeek
#label:"product-question"

[2021-02-05 17:30] JamesTran-MSFT commented on #70031
@sblair01
I just wanted to check in and see if you had any other questions? Otherwise, since both of these articles are referencing different features, I'll go ahead and close out this issue at the end of the day, pending any other questions from your end.

Thank you again for your time and patience throughout this issue!

[2021-02-05 17:32] Hjortsberg commented on #67301
@spelluru, thanks for looking into this!

Yes you understood me correct. :)

[2021-02-05 17:36] TerryLanfear commented on #69131
@FOSSKolkata - Thank you for your feedback. The "Next steps" section has been updated to link to security recommendations.

#please-close

[2021-02-05 17:36] #69131 closed

[2021-02-05 17:38] sarah026 opened #70111 "Microsoft.Web/sites/"
Hi Team

I refer to this page all the time, it is very useful. Can you please expand on 'Microsoft.Web/sites/' and break down how a site can have a reader, a monitor, a contributer

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99581afb-7950-6daa-7227-055d04446b7e
* Version Independent ID: f1a5bf89-9e54-aede-3a

[2021-02-05 17:42] DCtheGeek commented on #70109
@rorieke Thanks for the quick internal discussion.  As I believe the confusion was cleared up and the article doesn't require changing, I'm going to close this issue.  Thanks again!

#please-close

[2021-02-05 17:42] #70109 closed

[2021-02-05 17:53] femsulu commented on #70090
Re-assigning to content to review and take action on doc-update request.

[2021-02-05 18:01] sarah026 commented on #70111
It is ok i found what I'm looking for here
https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations#microsoftweb

[2021-02-05 18:01] #70111 closed

[2021-02-05 18:02] agribot2 opened #70112 "New training resource ;- how to detect pre-defined objects in uploaded video"
Hi, can you provide examples that shows new users how to detect previously defined objects or scenes in a video ?
I am sure that providing that  solution and explaining how to operate it  would increase the commercial value of Azure video processing.
What I am requesting is something like the existing simple get-started interface that Azure computer vision provided that can uploads some pictures a

[2021-02-05 18:07] spelluru commented on #67301
@Hjortsberg - Got it. Thank you. I will update the documentation (script) after I test the scenario, and also add the code you shared along with links to Azure AD documentation.

[2021-02-05 18:07] marcelkmfst opened #70113 "Managed Identity"
It is not clear how the managed identity should be specified here. An example would be helpful...

 "type": "Microsoft.VirtualMachineImages/imageTemplates",
    "apiVersion": "2019-05-01-preview",
    "location": "<Region>",
    ..
    "identity": {
    "type": "UserAssigned",
          "userAssignedIdentities": {
            "<Image Builder ID>": {}
        }
---
#### Document Details

⚠ *Do not

[2021-02-05 18:22] DerekHerman-MSFT commented on #70069
@rbavery Can you try removing the last '/' from the s3 url?

[2021-02-05 18:29] dbreit7 opened #70114 "ConfigManager folder location"
The ConfigManager location for Integration Manager version 5.2.7697.1 is C:\Program Files\Microsoft Integration Runtime\5.0\Shared, not C:\\Program Files\Microsoft Data Management Gateway\2.0\Shared.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 205b724d-450d-7112-3f2e-523d8ae79e07
* Version Independent ID: cfe15589-1

[2021-02-05 18:29] GiftA-MSFT commented on #70047
@sennendoko sorry about that, I was looking at the text instead of the images, thanks for clarifying.

@sdgilley can you please elaborate on the difference between Microsoft/Azure subscription and Customer Subscription from the images in the document? There is no clear definition of these terms. Thanks.

[2021-02-05 18:36] BharathNimmala-MSFT commented on #69911
@AzureAzim Thanks again for bringing this to our notice, I have raised a PR to to reflect the feedback. Once its reviewed and approved it will be merged with live document early next week or so.

At this point it appears that there's no further edits or updates needed to the documentation, other than listed above. We will go ahead and close this issue for now, however if you have any further queri

[2021-02-05 18:36] #69911 closed

[2021-02-05 18:38] SaurabhSharma-MSFT commented on #69835
@SaurabhSharma-MSFT sorry for not being clear. No it is not possible.

[2021-02-05 18:38] kgremban commented on #70105
@ebertrams Can you review this suggested change?

[2021-02-05 18:42] MonikaReddy-MSFT commented on #70113
@marcelkmfst -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-02-05 18:42] MonikaReddy-MSFT commented on #70107
@marcelkmfst -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-02-05 18:46] klawrawkz commented on #70074
@SadiqhAhmed-MSFT, thanks for the response.

Imho, this issue arises because the documentation is fragmented. It seems to me that it needs to be made explicitly clear that one MUST create a key (or whatever is required by your scenario) via the **_Azure Migrate:SERVER ASSESSMENT_** utility interface **_BEFORE_** one attempts to use the **_Azure Migrate:SERVER MIGRATION_** utility.

```Current Prer

[2021-02-05 18:48] KranthiPakala-MSFT commented on #70103
@scott-fell-std
The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2021-02-05 18:48] #70103 closed

[2021-02-05 18:53] AjayKumar-MSFT commented on #69768
After making some latest changes on my VS, I notice the same issue. We're reviewing this further and have also shared your feedback with the content author (@cephalin) to review and update the document as appropriate.

Apologies for all the inconvenience! Thanks again for the feedback.

[2021-02-05 18:56] jfggdl commented on #42797
@romankiss and @carlreid, thank you for reporting this issue. I am the Product Manager for Event Grid. Unfortunately, single event publishing is not available for custom and event grid schemas. Given our support for open standards, our roadmap includes more features based on open standards and as a consequence, any new investment will be done on Cloud Events schema specification and not on the oth

[2021-02-05 19:02] enkrumah commented on #68885
Hello, the PM team is working on updating this document in the upcoming weeks.

[2021-02-05 19:06] AjayKumar-MSFT commented on #69771
takashiuesaka, Your feedback has been shared with the content owner for further review. I have also raised a PR, once the PR is reviewed by the author and merged, the doc would have a note on this as appropriate I'll close this for now if you have any questions please just let us know.

[2021-02-05 19:06] #69771 closed

[2021-02-05 19:08] ggailey777 commented on #50771
@munkii thanks for providing this feedback. The issue here is that this article originally had the keys info, but that subsequently got factored out into the [HTTP trigger article](https://docs.microsoft.com/azure/azure-functions/functions-bindings-http-webhook-trigger?tabs=csharp#authorization-keys) that @DixitArora-MSFT mentioned. We should have been more careful at keeping tracking of inbound l

[2021-02-05 19:44] carlreid commented on #42797
I understand the direction and completely agree with it. But in the cases where we can't control the source that sends the event in terms of the structure then it doesn't work.

I think the solution would be to have a custom mapper of some sort to the cloud event schema.

Otherwise the solution we just implemented was to have a function that takes an event, maps it and then posts to EventGrid. Jus

[2021-02-05 19:49] frozen-oranges opened #70115 "NSG Flow log billing meter"
The page mentions that NSG flow logs are billed per GB of logs collected,
I was wondering under which billing metric (meter/submeter which resource)
it's possible to follow up this consumption,
there seems to be no mention of any on this or other documentation pages that I can find.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2021-02-05 19:51] AjayKumar-MSFT commented on #69848
@madhavtr, Apologies for the delay! Kindly use "secret" header instead of  "X-IDENTITY-HEADER" - as mentioned in the doc 'Note' - "An older version of this protocol, using the "2017-09-01" API version, use the secret header instead of X-IDENTITY-HEADER and only accepted the clientid property for user-assigned."

[2021-02-05 20:05] maggar opened #70118 "Contradiction regarding GRS availability and durability."
https://docs.microsoft.com/en-us/azure/storage/common/storage-redundancy#redundancy-in-a-secondary-region is misleading/contradictory.

"For applications requiring high **availability**, you can choose to additionally copy the data in your storage account to a secondary region that is hundreds of miles away from the primary region. If your storage account is copied to a secondary region, then your

[2021-02-05 20:07] AjayKumar-MSFT commented on #69997
@Anand-Moghe, This is a great feedback.
We have an active discussion on this, I'm just copying the response posted by our PG (anthonychu). Once Azure DevOps task is  published the docs would be updated/added as required. I would request you to follow [**this discussion** ](https://github.com/Azure/static-web-apps/issues/5#issuecomment-772670678) thread for the latest updates.

We will close this o

[2021-02-05 20:07] #69997 closed

[2021-02-05 20:08] #69840 closed

[2021-02-05 20:13] saif-chaudhry opened #70119 "Local network gateway IP"
The article states follow the steps in the "Site-to-site configuration" article (https://docs.microsoft.com/en-us/azure/vpn-gateway/tutorial-site-to-site-portal) for the configuration. Though, it's not clear what IP address should be used for the OP VPN device when defining **local network gateway** for this type of setup?

The referenced "Site-to-site configuration" article is stating it's public

[2021-02-05 20:22] Grace-MacJones-MSFT commented on #70112
thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-02-05 20:27] b-juche commented on #70068
@nimoniyaz - If you are a NetApp or Microsoft team member, can you reach out to me at @juliec@netapp.com?  Our SMEs would like more clarification about your question, and it might not be appropriate to discuss through GitHub comments. Thanks.

[2021-02-05 20:27] ChaitanyaNaykodi-MSFT commented on #69840
Hello @RoyalSWiSH, Thank you for the feedback. I have added a note regarding the `HttpStart` function in the document, you will be able to see the changes in couple of days.
If you are still facing issues while running this tutorial, can I please request you to raise the question on our [QnA platform](https://docs.microsoft.com/en-us/answers/index.html) or else we can continue with our discussion

[2021-02-05 20:28] YutongTie-MSFT commented on #69873
@wukun2015 Hello Wuk, please follow the guidance to create your auth token: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/rest-speech-to-text#how-to-get-an-access-token

To get an access token, you'll need to make a request to the issueToken endpoint using the Ocp-Apim-Subscription-Key and your subscription key.

The issueToken endpoint has this format:

https://<REGION_

[2021-02-05 20:28] #69873 closed

[2021-02-05 20:46] SaiKishor-MSFT commented on #69834
@mbiver You are right about the 3 tuple. We have now updated the document accordingly. Please let us know if you have any further questions/concerns. We will proceed to close the case now.

[2021-02-05 20:46] #69834 closed

[2021-02-05 21:09] rolyon commented on #69251
Hi @souravmishra-msft
Thanks for the feedback. The following article seems to indicate that it can potentially take several hours for everything to show up properly.
https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-how-subscriptions-associated-directory
I'm doing some additional checking to see if I can find out more.
thanks

[2021-02-05 21:09] rolyon commented on #69251
#please-close

[2021-02-05 21:09] #69251 closed

[2021-02-05 21:18] SatishBoddu-MSFT commented on #69635
Hello @barmettlerl Could you please post your sample Full Twin Message and Full Sample body message ?

[2021-02-05 21:22] SaiKishor-MSFT commented on #70102
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-02-05 21:25] scseely opened #70122 "Need detail on what Marketo fields need to be added"
This article needs to explain what additional fields need to be added to the Marketo form. At this time, the documentation is to vague on this point. Essentially, this text needs to be expanded a LOT: "4. Fill in the required fields in the New Form dialog box, and then select Create."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2021-02-05 21:29] anmuk601 commented on #69560
@DBFairy On Australian Drivers License- we are trying to exhaustive about the pattern used for classification.
Thank you for the feedback on Australia medical account number; we are updating it to Australian Medicare Number

[2021-02-05 21:30] luriep opened #70123 "updates due to changes in log analytics"
The workflows on this page have changed and need to be update to reflect changes to lLog Analytics workspace UIs

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56ea7a65-07e2-1af6-9ce2-a1909aedd31b
* Version Independent ID: d9a077ff-5241-36ad-524a-33ee850e110f
* Content: [Collect data from hybrid

[2021-02-05 21:30] rajdhandus commented on #70104
thanks.. just noticed that the same typo is there in one more place in the same document

[2021-02-05 21:34] SaiKishor-MSFT commented on #70115
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-05 21:37] femsulu commented on #70122
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-02-05 21:39] femsulu commented on #70123
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-02-05 21:41] MarileeTurscak-MSFT commented on #69889
Only the global admin can enable MFA. https://docs.microsoft.com/en-us/azure/active-directory/roles/delegate-by-task#application-proxy

[2021-02-05 21:42] MarileeTurscak-MSFT commented on #69889
I would suggest leaving feedback here. Others have made similar comments on this thread. https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/10072839-allow-the-user-admin-role-to-enable-disable-mfa-fo

[2021-02-05 21:42] #69889 closed

[2021-02-05 21:50] heaths opened #70124 "Document that document keys are case-sensitive"
For Azure Cognitive Search SDKs, we take advantage of the fact that document keys are case-sensitive (as confirmed by the service team). It would be great if this were a documented fact so we're not taking a dependency on undocumented behavior, and so that customers can make informed decisions about their own caching (or key-related) needs.

[2021-02-05 21:54] MarileeTurscak-MSFT commented on #69823
In both statements, the articles are referring to two different endpoints.

Endpoints to be intranet facing only:

adfs/services/trust/13/windowstransport

adfs/services/trust/2005/windowstransport

Endpoints to renew a PRT:

/adfs/services/trust/2005/usernamemixed

/adfs/services/trust/13/usernamemixed

In the first paragraph (the note), it says that "on ADFS only usernamemixed endpoints are requ

[2021-02-05 21:54] #69823 closed

[2021-02-05 21:59] Anand-Moghe commented on #69997
@AjayKumar-MSFT This is awesome ! I am just glad that its been taken care of already! Thanks a lot!

[2021-02-05 22:07] dataslicer commented on #70071
Thank you for your response @CHEEKATLAPRADEEP-MSFT .

Below is the complete output captured with few specific information being REDACTED and noted as such.
There are no stack trace or any error messages.  It just says `* Skipping scala command test on Windows` without any additional information.

I will spend some time going over that blog link and respond back here as another follow up comment.

[2021-02-05 22:12] SaiKishor-MSFT commented on #70051
@AlexDenton Do you mean Linux or Windows in same region is allowed?

[2021-02-05 22:14] ruthbacci opened #70125 "RG Confusion"
This document needs to clearly differentiate when the user should use the user created RG and the Managed Cluster MC_ RG as variables.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eee999c1-32dd-d014-40df-8027adee1258
* Version Independent ID: 19a29c09-79f8-580a-841f-873e2801da56
* Content: [Integrate Azure Key Vault

[2021-02-05 22:16] oolukoya opened #70126 "Small change to vnet documentation"
There should be a `2.` in front of "Secure the Workspace"
![image](https://user-images.githubusercontent.com/55108205/107092382-57d2ac80-67b8-11eb-860e-db753d5585bc.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 750a9fd2-b807-0eff-2495-0cbcf3564b03
* Version Independent ID: d3be69a7-18d9-9b22-8424-92f0f43ccaa0
* C

[2021-02-05 22:17] dataslicer commented on #70071
I think I have discovered a bug in `databricks-connect get-jar-dir`:

[code]

Did you noticed the path returned?  In particular the path concatenation for the last directory at the end `/jars` assumes Unix path separator and the entire PATH may not have been constructed using the Python PATH object to handle cross OS file path.

Using the bad PATH provided, I am unable to perform basic directory l

[2021-02-05 22:31] oolukoya opened #70127 "Unclear command line arguments for Azure CLI in Private Link Tutorial"
When creating a workspace with private endpoint, it says workspace name is required for CLI command but that's not reflected in the docs.
![image](https://user-images.githubusercontent.com/55108205/107093648-776ad480-67ba-11eb-8529-8fd653c2a38f.png)

It makes sense to need a workspace name `--workspace-name`, but wasn't obvious at first
![image](https://user-images.githubusercontent.com/55108205/1

[2021-02-05 22:32] sebansal commented on #67393
Our team is testing the commands and would update accordingly.

[2021-02-05 22:33] ChaitanyaNaykodi-MSFT commented on #69862
Hello @ponchmaster, apologies for the delay.
Please note that this channel (the [Azure Docs repository](https://github.com/MicrosoftDocs/azure-docs/issues)) is only for driving improvements related to the Azure documentation. For quicker resolution it will be very helpful if you could raise this issue on the [Azure Service Bus client library for .NET ](https://github.com/Azure/azure-sdk-for-net/tr

[2021-02-05 22:33] #69862 closed

[2021-02-05 22:37] JeremyTBradshaw commented on #69823
Aha, well thanks for pointing that out to me.  Sorry to have used up the cycles (though I'm glad since I would have missed this otherwise:)).

[2021-02-05 22:41] #69759 closed

[2021-02-05 22:41] mimckitt commented on #69759
I haven't heard back and seeing as I found the videos will close this out. If there is still an issue just let me know and we can reopen and work on it further.

#please-close

[2021-02-05 22:42] SaiKishor-MSFT commented on #70119
@saif-chaudhry The next steps explain how you can enable private IPs on the VGW for ExpressRoute with Private Peering.

1. Enable Private IPs on the gateway. Select Configuration, then set Gateway Private IPs to Enabled. Select Save to save your changes.
2. On the Overview page, select See More to view the private IP address. Write down this information to use later in the configuration steps.
3.

[2021-02-05 22:46] JamesTran-MSFT commented on #70125
@ruthbacci
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-02-05 22:48] saif-chaudhry commented on #70119
@SaiKishor-MSFT thanks for taking the time and replying. The confusion was related to the 'local network gateway' not the VPNGW. Good to hear we can define the local network gateway with private IP and documentation will be updated to reflect this new functionality.

[2021-02-05 22:48] #70031 closed

[2021-02-05 22:48] oolukoya opened #70129 "Need to create a tutorial specifically for creating a vnet/subnet/nsg specifically for AzureML Private Link"
There needs to be a section in this space that shows how to create the specific vnet/subnet configuration needed before creating the workspace with private endpoint.

[This is the only tutorial](https://docs.microsoft.com/en-us/azure/virtual-network/quick-create-portal) I know of on creating a vnet but it is not good enough as a knowledge prerequisite for creating a private link workspace without

[2021-02-05 23:13] Materia-xx opened #70130 "Example of public key certificates needed"
So far this page only gives an example of a private key certificate. But cloud services support public key certificates too. Please provide or link to docs on the following.
 - Since a public certificate cannot be uploaded to keyvault as a first class "certificate" it must be uploaded straight as a secret. Please detail the exact format this needs to be in. Is it a json document? is it base64 enco

[2021-02-05 23:42] ChaitanyaNaykodi-MSFT commented on #70026
Hello @scotty-tarvan, Thank you for reaching out.
In Consumption mode Timer triggered Function App should be automatically woken up when a timer is due. Here are some [additional troubleshooting steps](https://github.com/Azure/azure-functions-host/wiki/Investigating-and-reporting-issues-with-timer-triggered-functions-not-firing) which you can try when the timer triggered function app is not firing

[2021-02-05 23:42] #70026 closed

[2021-02-05 23:56] qinxgit opened #70133 ""Backup HSM" should be "Restore HSM""
"Backup HSM" should be "Restore HSM" on this page, near the bottom and just above this line:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bbf59f5-4b33-6940-efd6-68bd48603355
* Version Independent ID: 7024e2b1-7e91-1df7-691f-084cea6fcce9
* Content: [Full backup/restore and selective restore for Azure Managed H

[2021-02-05 23:58] TerryLanfear commented on #63771
@matthewjlevy - Thanks for your dedication to our documentation! The article has been updated per your recommendation.

#please-close

[2021-02-05 23:58] #63771 closed

[2021-02-06 00:01] DerekHerman-MSFT commented on #70118
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-06 00:03] amitbapat commented on #70133
Duh - thanks for reporting. https://github.com/MicrosoftDocs/azure-docs-pr/pull/145893

[2021-02-06 00:09] SatishBoddu-MSFT commented on #70124
Hello @heaths
Could you please let us know the exact MS Document link to which you have referred? I need to add the metadata so that we triage this issue as soon as possible. Thanks for your understanding.

[2021-02-06 00:12] SatishBoddu-MSFT commented on #70130
@Materia-xx
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-02-06 00:14] SatishBoddu-MSFT commented on #70114
@dbreit7
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-02-06 00:15] JamesTran-MSFT commented on #70133
@qinxgit
Thank you for pointing this out!

The author of this doc created a PR to update the documentation therefore, I will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let us know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2021-02-06 00:15] #70133 closed

[2021-02-06 00:27] SatishBoddu-MSFT commented on #70126
@oolukoya
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-02-06 00:28] SatishBoddu-MSFT commented on #70127
@oolukoya
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-02-06 00:31] NavtejSaini-MSFT commented on #69992
@Jedoe830 Please let us know if you need any further help with this.

[2021-02-06 00:39] SatishBoddu-MSFT commented on #70129
@oolukoya
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-02-06 01:07] heaths commented on #70124
It's not a problem with a doc, but something we (Azure SDK) need documented. If I were to recommend a document where this information should be located, perhaps https://docs.microsoft.com/en-us/azure/search/search-what-is-an-index. @brjohnstmsft, what do you think?

[2021-02-06 01:20] GiftA-MSFT commented on #70094
@chengyu-liu-cs thanks for reaching out. Since Azure DevOps hosted agents won't be running in your VNET, azureml will most likely reject requests made from the hosted pools agents. It's possible to [allow requests from the hosted pools](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops&tabs=yaml#agent-ip-ranges), but that will negate most of the security benef

[2021-02-06 01:30] samyaktelsang opened #70138 "How to utilize WaitForCompletionOrCreateCheckStatusResponseAsync method when my durable function is not a HttpTrigger but a ServiceBusTrigger function"
[Enter feedback here]
I would like to understand how i could use the WaitForCompletionOrCreateCheckStatusResponseAsync when my durable function is not a HttpTrigger but a ServiceBusTrigger function. What request would I need to pass into the first parameter in the WaitForCompletionOrCreateCheckStatusResponseAsync method
Link: https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-f

[2021-02-06 01:35] SnehaAgrawal-MSFT commented on #70000
@Anand-Moghe Could you please try removing an unnecessary “.git” at the end of their URL
(i.e., it should be “-s https://github.com/User/vue-basic”, not “-s https://github.com/User/vue-basic.git”).

Let us know.

[2021-02-06 01:50] brjohnstmsft commented on #70124
@SatishBoddu-MSFT Please change the tag -- this issue is about Azure Cognitive **Search**, not Cognitive Services.

@heaths That doc seems like a good starting point. We should also update the relevant REST API reference docs (Create Index, Lookup Document, and Add/Update/Delete Documents).

[2021-02-06 01:51] BharathNimmala-MSFT commented on #69778
@ErikMogensen Wanted to keep you updated that our internal team acknowledged that it is a bug and looking to fix it. However do want to call out at this time it appears that there's no further edits or updates needed to the documentation regarding the limitation . Since this channel is focused on documentation improvements, for now will go ahead and close this issue, however will make sure to keep

[2021-02-06 01:51] #69778 closed

[2021-02-06 02:01] marywhitney opened #70140 "Is DSC extension for Linux incompatible with Azure Monitor extension (named in text), or Log Analytics extension (linked info)?"
The note at the top of the page says this:

"The DSC extension for Linux and the Azure Monitor virtual machine extension for Linux currently present a conflict and aren't supported in a side-by-side configuration. Don't use the two solutions together on the same VM."

The words "Azure Monitor virtual machine extension for Linux" point to this page, which is about the Log Analytics extension for Li

[2021-02-06 02:09] ChaitanyaNaykodi-MSFT commented on #69876
Hello @Ballzer0,
We have proposed the suggested changes to the document, this issue will be closed when the changes are merged. Please let us know if you have any further concerns. Thank you!

[2021-02-06 02:20] BharathNimmala-MSFT commented on #69798
@MoeJw Apologies for delay in getting back to this thread. Post validation with our internal team, it has been called out that recently a validation was added to confirm the metric category provided is accurate which results in the error, what you are seeing. To overcome this , we will need to request you to update your deployments to replace any metric category names with 'AllMetrics' and the dep

[2021-02-06 02:20] #69798 closed

[2021-02-06 02:20] SatishBoddu-MSFT commented on #70138
@samyaktelsang
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-06 02:24] SatishBoddu-MSFT commented on #70140
@marywhitney
I have assigned the issue to the content author for further review.

[2021-02-06 03:14] itaish9 opened #70141 "spelling mistake"
[Enter feedback here]
hi,
under the Data resilience category, it seems to be a mistake:
Site Recovery orchestrates replication without intercepting application data. When you replicate to Azure, data is stored in Azure storage, **with the resilience that provides**. When failover occurs, Azure VMs are created, based on the replicated data.

---
#### Document Details

⚠ *Do not edit this section. I

[2021-02-06 04:31] bubbaiOS commented on #25648
Why was this closed?

[2021-02-06 05:11] rsrk2008 opened #70142 "can Azure Authorization use passwords to identify a person?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3eac288-4ddd-1099-1c86-885aa42a566f
* Version Independent ID: 190585ca-8337-0644-2182-75b77f53c175
* Content: [Sign in with resource owner password credentials grant - Microsoft identity platform](https://docs.microsoft.com/en-us/azure/active-directo

[2021-02-06 06:36] agowdamsft commented on #70104
Thanks submitted a PR MicrosoftDocs/azure-docs-pr/pull/145922

[2021-02-06 07:17] DavidChenLiang opened #70143 "D3_v3 size Azure VM is not available any more"
D3_v3 size Azure VM is not available anymore, is that possible to make the tutorial up to date? Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ffa9c12-4fdc-118a-4e84-624cbcc3f4c8
* Version Independent ID: 6c5b1d1f-78a1-2c79-b37d-0367d76269da
* Content: [How to enable nested virtualization in Azure Virtual M

[2021-02-06 07:43] romankiss commented on #42797
@jfggdl thanks for info about the focusing on the Cloud Events schema.

Currently, we can use a 3rd party single event only for the AEG Custom topic created for a CloudEvent input schema (the AEG Domain topic has still an issue with the _source_ attribute, see  https://github.com/MicrosoftDocs/azure-docs/issues/43468#issuecomment-760651966) when the producer has a capability to setup the following

[2021-02-06 07:47] algattik opened #70144 "Info about update operations on digital twins relationships"
Please add information about *update* operations on digital twins relationships.
In particular, document that the target twin cannot be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f69ab4ee-a444-27d9-eba6-60e378934ba6
* Version Independent ID: 8da3d3e9-98b5-c695-b277-f9373dafcc09
* Content: [Manage the twin

[2021-02-06 09:19] Ari6 commented on #63923
Thank you for taking care of my trivial report. I am not selling any application on AppSource. I just realized when I was looking at offers in AppSource.
The link I provided was legal Agreement for https://appsource.microsoft.com/en-us/product/web-apps/timeintermediacorporation.twpsa?tab=DetailsAndSupport.

Although AppSource looks different than used to be and I found readable legal agreement wri

[2021-02-06 09:38] Maarten-Work opened #70146 "Doc Update needed"
In the documentation to create the first [Virtual Machine](https://docs.microsoft.com/en-us/azure/virtual-network/quick-create-portal#create-the-first-vm), in Step 8/9, guidance is to create a new storage account. However, the Portal has changed and it seems that a default storage account is created for the user:

![AZDocsCreateVM-Step9](https://user-images.githubusercontent.com/25533447/107114549

[2021-02-06 09:43] Jedoe830 commented on #69992
Thank you for this information. I‘ve raised a feedback request. So this has been solved.

[2021-02-06 09:43] #69992 closed

[2021-02-06 12:01] agribot2 commented on #70112
Hi
To clarify what I believe would be very valuable for Microsoft Azure and it's users ...
I recommend that the portal based functionality explained in the web page ( for static images ) ;-
 https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/getting-started-build-a-classifier
be provided for videos. The same type of simple web-based interface;-
Upload a set of training

[2021-02-06 12:14] ErikMogensen commented on #69778
All right, thank you!

[2021-02-06 13:24] femsulu commented on #70141
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-02-06 14:20] SatishBoddu-MSFT commented on #70142
@rsrk2008
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-06 14:21] SatishBoddu-MSFT commented on #70143
@DavidChenLiang
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-02-06 14:22] SatishBoddu-MSFT commented on #70144
@algattik
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-02-06 14:23] SatishBoddu-MSFT commented on #70146
@Maarten-Work
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-02-06 14:36] McClunatic opened #70147 "User flow fails with B2C AD identity provider"
Hi! Firstly, thank you for the great documentation. It's helped me learn and implement a lot already. To the problem:

I'm not having success setting up sign-in using my Azure B2C as an identity provider. I am able to follow all of the steps in [Configure Azure AD as an identity provider](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-single-tenant?pivots=b2

[2021-02-06 17:00] agribot2 opened #70148 "Please improve the instructions at the " Create a Batch pool using Batch Explorer .. “ section"
Firstly, thanks for trying to explain how a new user might be able to use Azure to run some python code.
Your task cannot be easy or simple, because the Azure system is truly awfully bad.
Thanks for your efforts.
Azure is seriously unnecessarily complex , opaque, confusing, inexplicable.
Thanks for trying to explain how to use it … step by step by step by step by step…  for new users.
I tried to f

[2021-02-06 18:04] AjayKumar-MSFT commented on #69848
madhavtr, We will close this out, but if you feel you need more information please just let us know.

[2021-02-06 18:04] #69848 closed

[2021-02-06 18:06] AjayKumar-MSFT commented on #69997
You're most welcome! We appreciate your valuable feedback.

[2021-02-06 18:35] brolifen opened #70149 "Making the documentation more clear on Azure B2C with AAD identity provider"
At "Configure Azure AD as an identity provider" point 8 the "the" causes confusion. If it's removed it becomes much cleared you should enter "openid profile" instead of "openid" which that "the" might imply. This caused me quite a bit of troubleshooting to find out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bac6db

[2021-02-06 18:41] munkii commented on #50771
I suspect I was coming from a Functions article rather than "other Azure services articles". I've also reread my comment, sorry for the typos and ambiguity

[2021-02-06 18:51] scotty2541 commented on #22167
@asergaz et.al.
I cannot use any of the Azure IoTHUB API for my project, I need to use the MQTT protocol directly.  And apparently authentication is different for "module" vs "device".

I am still trying to figure out what MS is doing when they invented these and other definitions to apply to IoT and MQTT brokers. So I was reading the "glossary" page.

In the process of looking for what could be M

[2021-02-06 18:58] inseu commented on #68605
Thank you all. I am testing the preview for access reviews announced here: https://techcommunity.microsoft.com/t5/azure-active-directory-identity/access-reviews-for-guests-in-all-teams-and-microsoft-365-groups/ba-p/1994697

[2021-02-06 19:04] ggailey777 commented on #50771
@munkii no worries 😉 I searched through our docs, and can no longer find links to the non-keys article, so perhaps we fixed these since you opened the issue nearly a year ago 🙄 If you find other issues like this, please don't hesitate to give feedback, and we'll try to respond faster in the future. #please-close

[2021-02-06 19:04] #50771 closed

[2021-02-06 19:41] madhavtr commented on #69848
I don’t know where to get the secret instead of X-IDENTITY HEADER. But
changing the version to other 2019-08-01. It worked.

Hope Microsoft document will get updated for the updated version.

Regards
Madhavan

On Sat, Feb 6, 2021 at 1:04 PM AjayKumar-MSFT <notifications@github.com>
wrote:

--
Regards
Madhavan.T.R

[2021-02-06 20:06] SatishBoddu-MSFT commented on #70147
Hello @McClunatic Thanks for your time on this document feedback.
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-06 20:07] SatishBoddu-MSFT commented on #70148
Hello @agribot2
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-02-06 20:07] SatishBoddu-MSFT commented on #70149
@brolifen
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-02-06 20:32] DeanGross opened #70150 "Existing Azure AD Tenant"
Can AAD Connect Cloud Sync be used if an org already has accounts in the cloud? Instructions for doing this with the on-prem version are at https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-install-existing-tenant,
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70e7def0-aa27-80ba-e2e5-94d8341

[2021-02-06 21:01] silverl opened #70151 "Use your variables"
The powershell script on this page for creating a VPN Gateway defines a set of variables at the top, and then ignores them, using hardcoded strings for all command parameters.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03adf4b8-7d51-e92f-a2db-6de96c335262
* Version Independent ID: 6a2f83c5-074a-1a5f-ad14-46fd1e6c5d

[2021-02-06 23:55] shahid-aman commented on #64669
Hello @ChaitanyaNaykodi-MSFT - would be nice to get an update on this.
We've recently completed a POC and considering durable functions as a candidate for long running workers - but the outdated documentation leaves a bit to be desired.

[2021-02-07 00:48] SatishBoddu-MSFT commented on #70150
@DeanGross
Thanks for the feedback! We will update you shortly.

[2021-02-07 01:17] ApolonTorq opened #70152 "https://woodgrovedemo.com/ has runtime authentication errors"
Attempting to sign up/in at https://woodgrovedemo.com/ results in failures.
That demo web site is referenced in this documentation page.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 245ef8a4-a811-19b7-676c-aa9b82e2126f
* Version Independent ID: ad2ec743-2aa7-b3c7-3350-2986a78d7c90
* Content: [What is Azure Active Dir

[2021-02-07 03:17] SatishBoddu-MSFT commented on #70151
@silverl
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-02-07 03:20] SatishBoddu-MSFT commented on #70152
@ApolonTorq
I have assigned the issue to the content author for further review.

[2021-02-07 05:02] imonkey69 opened #70154 "Misleading Run from Azure"
[Enter feedback here]
The document seems flawed for someone trying to just follow along for the FIRST time with this.
All's good until you get to the Run from Azure. You not "Expand Local Project", but what I think you mean to say is Expand the Pay Account it's deployed to.  Then drill down and "Execute Now" from there.  Spent WAY to much time with Error referring to the local version not running.

[2021-02-07 06:02] inknochen opened #70155 "Anonymous IP address"
You have Anonymous IP address and Activity from anonymous IP address. Aren't both the same?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2e83171-fd05-9fe1-3ba7-0fb20161ee63
* Version Independent ID: 2e6b2451-5ff8-a277-90ea-49aa70957977
* Content: [What is Azure Active Directory Identity Protection?](https://docs.mic

[2021-02-07 06:43] ram-msft commented on #69877
@t-rapp We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-07 06:43] #69877 closed

[2021-02-07 06:58] cjmakwana commented on #69828
Hi @JamesTran-MSFT / @kalyankrishna1 please let me know if any solution is identified for this issue. I have described the details in the comment above. If you want anything apart from that, please let me know.

[2021-02-07 08:10] scyto commented on #68695
The app is incredibly fragile and when it break it is almost impossible to fix without the cleanup script. I decided to avoid this feature like the plague and choose alternate product as this so unfinished and unreliable.

[2021-02-07 08:10] #68695 closed

[2021-02-07 08:45] henrypi73 opened #70156 "Rate needs to change"
You talk about hour but the setting is day: https://docs.microsoft.com/en-us/azure/azure-monitor/platform/logs-export-logic-app#create-a-trigger-for-the-logic-app

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57b9ca27-edf8-3473-ab07-7456f2a87dad
* Version Independent ID: 23487289-bf9d-3cd2-fc1f-17a0e62974e2
* Content:

[2021-02-07 09:06] KrishnaG-MSFT commented on #70156
@henrypi73 Thanks for your comment! We will review and provide an update as appropriate.

[2021-02-07 10:01] pauloya opened #70157 "Azure Functions Tutorial - Enter a globally unique name for the function app"
Having no experience at all with Azure functions I was confused about what to write as a globally unique name, at first I thought you wanted me to insert a made up URL, it would be good to have an example of a name, I used "PauloHttpExample", "[MyName]HttpExample"

PS: I just noticed under this section you have an image with the name "glengatempapp", you could use this name as an example.

---
###

[2021-02-07 10:12] pauloya opened #70158 "Azure Functions Tutorial - Run the function in Azure"
Under the section "Run the function in Azure"

This sentence is incorrect
"Back in the Azure: Functions area in the side bar, expand Local Project > Functions"

It should say something like
"Back in the Azure: Functions area in the side bar, expand your subscription >your created app, > Functions"

Notice that this sentence was copy pasted from another section above where it is correct.

---
####

[2021-02-07 10:34] RZomermanMS opened #70159 "Add AD configuration items"
The page does not include, nor goes into the configuration items on AD side: You can add the following items to PShell all of this:

New-ADComputer <storage account name> -ServicePrincipalNames "cifs/storageaccountname.file.core.windows.net" -Path 'DN of OU path'
#(Make sure to add the $ sign to the computer object name)
Set-ADAccountPassword -Identity 'storage account name$ ‘
-Reset ‘
-NewPasswor

[2021-02-07 11:04] SwathiDhanwada-MSFT commented on #70083
@wolszakp Have you checked if there are any records related to ingestion in Operation Table  as _LogOperation() is simplified version of Operation table ?

[2021-02-07 11:30] dcurwin commented on #69804
@Debpriya1994 can you help here?

[2021-02-07 11:41] ErikMogensen opened #70162 "The Message browsing article does not cover the newer SDKs"
As mentioned in the closed issue #61858, the article about message browsing only covers using the oldest Service Bus SDK (Microsoft.ServiceBus.Messaging) since the State property is not available in the newer Service Bus SDKs (Microsoft.Azure.ServiceBus and Azure.Messaging.ServiceBus).

Is there a way of getting the state of the message in the newest SDK? Perhaps using the [ServiceBusReceivedMessa

[2021-02-07 13:02] denishol opened #70164 "Prerequisites like enabling password writeback missing"
Please add a section to prerequisites necessary for a password reset on an on-premises user.

I suppose, you need to configure
- Configure the required permissions for password writeback
- Enable the password writeback option in Azure AD Connect
- Enable password writeback in Azure AD SSPR
as described here  https://docs.microsoft.com/en-us/azure/active-directory/authentication/tutorial-enable-ssp

[2021-02-07 13:24] RoyalSWiSH commented on #69840
Ok, I am not sure if you need to send the POST request to `.../orchestrators/Httpstart` as well instead of `http://{host}/orchestrators/E4_SmsPhoneVerification`,  and I replaced in line 17 of `HttpStart` the instance id `req.route_params["functionName"]` with `E4_SmsPhoneVerification`, at least thats what worked out for me.

[2021-02-07 14:04] Bartolomeus-649 opened #70166 "Custom domains, sub domains CNAME and multiple Front Doors..."
This just doesn't make sense. The sentences contradict each other:

First you say that a custom domain and all its subdomain has to use the same front door, then in the next sentence you say that you can put different subdomains of the same custom domain in different front doors.
The third sentence is just weird.

Also, decide on that you want to call the concept of using front door with a custom

[2021-02-07 14:49] rarandiv opened #70167 "Proposal to add SQL-Connectivity-Checker tool in this document"
Can we also add below SQL-Connectivity-Checker tool in this document?
https://github.com/Azure/SQL-Connectivity-Checker
or this link https://techcommunity.microsoft.com/t5/azure-tools/connectivity-issues-with-azure-sql-database/m-p/1749901

This tool is very handy and helpful to find exact connectivity issue/error with the Azure SQL Database and Azure SQL Managed Instance.
Once we get the cause of

[2021-02-07 15:02] kmkelly2015 opened #70168 "Virtual WAN P2S Sessions"
Hi

Are you planning to display P2S Sessions like in VNET Gateway?

![P2S-Sessions](https://user-images.githubusercontent.com/16288578/107150366-5db1c480-6955-11eb-8e68-30a0aca2a2e7.jpg)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 316afee6-13d5-4b73-5224-073b35e69737
* Version Independent ID: be1f6b3f-e7c1-0775-8e38

[2021-02-07 15:14] ktleach opened #70169 "Steps not possible"
This page needs a refresh, the portal interface has changed and you cannot follow these steps.
I tried to make a virtual network gateway in a separate subscription to simulate a 3rd party VPN.  Use it to connect to VWAN.
For external partners that may not have Azure and just a firewall of some kind, connecting to their VPN is complicated.
Perhaps show how to connect.  It seems you have to download

[2021-02-07 16:29] igorpag opened #70172 "Script in Step-3 does not work"
[Enter feedback here]
Script as reported in Step-3 does not work since variable "$jsonEncoded" is not defined anywhere in the code line below:

**$secret = ConvertTo-SecureString -String $jsonEncoded -AsPlainText –Force**

I tried an obvious fix, that is changing "$jsonEncoded" with "$JSONObject" but does not work, when creating the VM, I'm getting this error message:

`New-AzVM : Long running ope

[2021-02-07 17:06] BharathNimmala-MSFT commented on #70154
@imonkey69  Apologies for your experience, thanks for sharing your feedback. Our team will review the feedback and see how we can improve enhance the documentation experience.

[2021-02-07 17:20] hyakuhei opened #70173 "Nit: Mixed terms in diagram."
Hey Azure friends!

Just a quick nit: Does Azure support both "Availability Zones" and "Availability Domains" ?

If you look at the high level overview diagram, the Azure box on the right contains both terms.

The specific graphic is : https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/oracle/media/configure-azure-oci-networking/azure-oci-connect.png

Thanks for the nice article, ho

[2021-02-07 18:05] SatishBoddu-MSFT commented on #70155
@inknochen
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-07 18:06] SatishBoddu-MSFT commented on #70157
@pauloya
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-02-07 18:08] KranthiPakala-MSFT commented on #69874
@SergeMoreno Sorry for the delay and thanks for the additional details which helps us to repro. We are working with internal team on this and will get back to you as soon as we have an update.

 We appreciate your patience.

[2021-02-07 18:09] SatishBoddu-MSFT commented on #70159
@RZomermanMS
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-02-07 18:10] SatishBoddu-MSFT commented on #70162
@ErikMogensen
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-02-07 18:11] SatishBoddu-MSFT commented on #70164
@denishol
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-02-07 18:12] SatishBoddu-MSFT commented on #70166
@Bartolomeus-649
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-02-07 18:14] SatishBoddu-MSFT commented on #70167
@
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-02-07 18:15] SatishBoddu-MSFT commented on #70168
@kmkelly2015
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-07 18:16] SatishBoddu-MSFT commented on #70169
@ktleach
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-02-07 18:18] SatishBoddu-MSFT commented on #70172
@igorpag
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-07 18:19] SatishBoddu-MSFT commented on #70173
@hyakuhei
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-07 18:21] #69876 closed

[2021-02-07 18:23] ggailey777 commented on #70158
Yep, good catch...Thanks @pauloya!

[2021-02-07 18:32] ggailey777 commented on #70158
Fixed in the linked PR #please-close

[2021-02-07 18:32] #70158 closed

[2021-02-07 19:23] jamesliu1 opened #70174 "We never hold or short 10 shares of a stock in this simulation?"
The documentation says "We never hold or short 10 shares of a stock in this simulation,"
could anyone explain this to me?
I am a little confused, because it seems to be different from what the JavaScript UDA does.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0b6ba63-6a6f-470e-33fc-01d7fa89b0dc
* Version Independent

[2021-02-07 19:24] alvipeo opened #70175 ".NET 5.0 web app example"
Please provide .NET 5.0 web app example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 906907ec-cbe2-59b1-a84e-ce1b1343756f
* Version Independent ID: f498962c-f738-ccd8-a619-de854fac37da
* Content: [Tutorial: Enable authentication in a web application - Azure AD B2C](https://docs.microsoft.com/en-us/azure/active-direc

[2021-02-07 20:11] patuf opened #70177 "Nikolay Nikolov"
Hello,
I think there is a mistake in the regex back-reference for the annotation `nginx.ingress.kubernetes.io/rewrite-target: /$1`
The back-reference should be /$2, as in the regex path below, /$1 refers to the (/|$) group. The example on the [ingress-nginx documentation](https://kubernetes.github.io/ingress-nginx/examples/rewrite/) is very similar and it has /$2.

---
#### Document Details

⚠ *Do

[2021-02-07 21:23] V4A001 opened #70179 "How to get key without version with azure cli for cosmos db?"
Can you elaborate how to get the key name without version?

CosmosDbEncryptionKey="$(az keyvault key show --vault-name $KEYVAULT_NAME --name "CosmosDb--EncryptionKey" --query key -otsv)"
echo $CosmosDbEncryptionKey

[Enter feedback here]
{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/

[2021-02-07 22:01] V4A001 opened #70180 "Is there a programmatic way of getting the principal id of the azure cosmos db "Azure Cosmos DB"?"
Is there a programmatic way of getting the principal id of the azure cosmos db "Azure Cosmos DB"? In case the id will change in future..

export AZURE_COSMOS_DB_IDENTITY_PRINCIPAL_ID="a232010e-820c-4083-83bb-3ace5fc29d0b"
#export AZURE_COSMOS_DB_IDENTITY_PRINCIPAL_ID=$(az identity show -g ${RESOURCE_GROUP} -n "Azure Cosmos DB" --query principalId -otsv)#
echo $AZURE_COSMOS_DB_IDENTITY_PRINCIPAL_ID

[2021-02-07 22:16] MichaelKing54 commented on #68133
I am having the same issue.  I want to be able to remove my account from an older directory.

[2021-02-07 22:32] V4A001 commented on #70180
This works to get the object-id. How to query by name?

`export AZURE_COSMOS_DB_IDENTITY_PRINCIPAL_ID="a232010e-820c-4083-83bb-3ace5fc29d0b"
export AZURE_COSMOS_DB_IDENTITY_OBJECT_ID=$(az ad sp list --spn $AZURE_COSMOS_DB_IDENTITY_PRINCIPAL_ID --query [0].objectId -otsv)
echo $AZURE_COSMOS_DB_IDENTITY_OBJECT_ID

az keyvault set-policy --name $KEYVAULT_NAME --key-permissions get unwrapKey wrapKey -

[2021-02-07 22:58] williamkbentley opened #70181 "How to view logs of API"
I was wondering how to view the logs of the deployed API functions. It is not in this documentation. I have a function that works locally, but produces 500s when deployed and I am not sure why. Would be good if there was some documentation on how to find logs. Or ways of debugging deployed API functions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2021-02-08 00:00] sanjaybhagia commented on #70079
Thanks Satish,
Sure, I am asking the question on that forum.

[2021-02-08 00:00] #70079 closed

[2021-02-08 01:16] SatishBoddu-MSFT commented on #70174
@jamesliu1
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-08 01:17] SatishBoddu-MSFT commented on #70175
@alvipeo
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-02-08 01:18] SatishBoddu-MSFT commented on #70177
@patuf
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-08 01:20] SatishBoddu-MSFT commented on #70179
@V4A001
I have assigned the issue to the content author for further review.

[2021-02-08 01:23] SatishBoddu-MSFT commented on #70180
@V4A001 Thanks for the query, this looks more like a technical forum question 'How To'.

Our SME will look into this and will get back to you as soon as possible.

[2021-02-08 01:24] SatishBoddu-MSFT commented on #70181
@williamkbentley
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-08 02:01] Hakuroda opened #70183 "Java don't support in portal development."
In this paragraph, this doc says "Choose a runtime that supports your favorite function programming language. In-portal editing isn't currently supported for Python development.". It seems that only python don't support in-portal development.
https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-app-portal#create-a-function-app

I created Java runtime function then I fou

[2021-02-08 02:10] williamkbentley commented on #70181
I haven't tried this yet, but this blog post seems like what I was looking for. https://www.aaron-powell.com/posts/2020-08-12-getting-logs-from-static-web-apps-apis/

[2021-02-08 02:32] ThomasWeiss commented on #70179
@V4A001 This is described [here](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-setup-cmk#generate-a-key-in-azure-key-vault) in the feature's documentation: "Copy the key's Key Identifier, except the part after the last forward slash".

[2021-02-08 02:33] ThomasWeiss commented on #70180
@V4A001 The principal ID of the Cosmos DB service will not change in the future - this would be a breaking change. You can consider this value to be a constant and hard-code it in your client code.

[2021-02-08 02:55] ram-msft commented on #69853
@vscherbinin We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-02-08 02:55] #69853 closed

[2021-02-08 03:16] ram-msft commented on #69838
@sfarhand Could you please add more details about the specific step.

[2021-02-08 03:59] Dirkadin opened #70186 "@RabbitMQOutput not found"
I'm trying to create a RabbitMQ output binding with java but `@RabbitMQOutput` is not resolvable following the given steps.

I have pushed my project [here](https://github.com/Dirkadin/azure-function-examples).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24b47bb8-9546-0675-cdcb-249b1c7f3d51
* Version Independent ID:

[2021-02-08 04:07] Arnab-Developer opened #70187 "Line break is missing in 'using cloud shell editor' doc."
Line break is missing in 'using cloud shell editor' doc.

Document location:
azure-docs/articles/cloud-shell/using-cloud-shell-editor.md

![image](https://user-images.githubusercontent.com/3396447/107174669-cdc15880-69f0-11eb-8299-633436a25edf.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42286006-6839-08fd-bc75-

[2021-02-08 04:26] CHEEKATLAPRADEEP-MSFT commented on #70187
@Arnab-Developer  Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-02-08 04:27] CHEEKATLAPRADEEP-MSFT commented on #70187
@maertendMSFT Could you please review the pull request and approve?

[2021-02-08 04:34] CHEEKATLAPRADEEP-MSFT commented on #69835
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-02-08 04:34] #69835 closed

[2021-02-08 04:36] CHEEKATLAPRADEEP-MSFT commented on #69900
@YesPrepDataCenter  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-02-08 04:36] #69900 closed

[2021-02-08 04:42] dohdoh64 opened #70189 "Enabling KDS on server versions"
In the deployment requirements, is enabling the Key Distribution Service on DC's exclusive to Windows Server 2012, or later versions as well, such as 2012 R2 and 2016?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23e000f0-84ce-7ec7-e5ed-4bd9c49f5d49
* Version Independent ID: e636b9d1-be81-0f00-97c4-ff4fa9078be3
* Con

[2021-02-08 04:44] #69922 closed

[2021-02-08 04:51] MayankBargali-MSFT commented on #69685
@AElharouny Apology for the delay. I have got confirmation from my team that currently, it is still in preview. GA should be in late February/early March.

Please let me know if you have any queries or concerns.

[2021-02-08 04:53] AElharouny commented on #69685
OK thank you, please let the product team know that we will be waiting for the announcement of GA in the regular updates channel for APIM. Thanks.

[2021-02-08 05:04] RohitMungi-MSFT commented on #69308
@ChrisOBrien93 We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-02-08 05:04] #69308 closed

[2021-02-08 05:06] RohitMungi-MSFT commented on #70022
@rurounijones sure. I will request our content team to add the sample files in the next doc update. @trevorbye FYI, could you please review the feedback and add some samples in the documentation?

We will proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-02-08 05:06] #70022 closed

[2021-02-08 05:28] vatsalyagoel opened #70190 "Feature Request - Support Match condition on Response headers"
Currently the rules engine only supports request header matching. It would be a great feature to add response header match as well for example Response Code to then overwrite the code.

The primary use case scenario we are looking for is Location Header rewrite.

Currently we have an application with the request flow

User -> AFD -> Azure App Service

when a response from the IIS module in App Ser

[2021-02-08 05:34] psmanhas commented on #69538
@khetheri Can you please provide information as per the ask so we can help you out better?

Thanks

[2021-02-08 05:37] MayankBargali-MSFT commented on #69924
@Xiaowei-design I have updated the document to match and it will be published soon.

[2021-02-08 05:39] #69924 closed

[2021-02-08 05:41] MayankBargali-MSFT commented on #69685
sure once it is GA it will be updated in the announcement channel for APIM. I will go ahead and close this issue.

[2021-02-08 05:41] #69685 closed

[2021-02-08 05:41] ggailey777 commented on #70183
@Hakuroda sorry for the bad information. Java functions can't be done in the portal because Java uses decorating methods and parameters with Java annotations instead of direct editing of the function.json file, as described [here](https://docs.microsoft.com/azure/azure-functions/functions-triggers-bindings?tabs=csharp#trigger-and-binding-definitions). I'll make sure to update this article to avoid

[2021-02-08 06:02] psmanhas commented on #69774
@lissff Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

Thanks

[2021-02-08 06:02] #69774 closed

[2021-02-08 06:12] psmanhas commented on #70173
@hyakuhei
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-02-08 06:13] psmanhas commented on #70173
@Dbakevlar Can you please check and add your comments on this doc update request as applicable