[2021-06-10 19:40] TravisCragg-MSFT commented on #76456
@luongto As the tutorial is working as expected, I will be closing this request.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-10 19:40] #76456 closed

[2021-06-10 19:43] SamaraSoucy-MSFT commented on #76763
It's not currently possible to create a Synapse Spark cluster inside an un-managed network. If you need this capability in a Spark cluster your best option in most cases would be to use Azure Databricks instead.

[2021-06-10 19:51] yayoayala commented on #76501
Hi James, about your questions:
Is it an App created under within the Enterprise Applications service?
-- Yes, In the Enterprise Menu, on the left I go to Collection. I created a new one, but the apps are not showing.

Is your app an App registration?
No, it is not an App registration. I am just creating the Collection, the app is Salesforce Sandbox. I am attaching a screenshot.

![image](https://

[2021-06-10 20:16] Grace-MacJones-MSFT commented on #76727
@RicardoNiepel can you please specify what exactly you would like to see added to this doc? There is already a  section titled: Diagnostic tools (only for Windows app).

[2021-06-10 20:32] #75236 closed

[2021-06-10 20:45] JustYT opened #76768 "Does it work for EDU plans?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7e90747-a144-01b7-8066-31b31e4eb6aa
* Version Independent ID: 4855c2d8-d647-1ca0-fe5f-670495df5042
* Content: [SMS-based user sign in for Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-authenticat

[2021-06-10 20:49] bbennell opened #76769 "Requirements section refers to "Azure AD DS" on premises when it should be "Active Directory Domain Services""
The section below states "to get data from your on-premises Azure AD Domain Services" when it should read "Active Directory Domain Services".  End users and administrators have no ability to install software on domain controllers in Azure AD DS, and it is not on premises.

The Azure AD Connect Health agent is installed on each targeted server. | Health agents must be installed and configured on ta

[2021-06-10 20:53] JamesTran-MSFT commented on #76769
@bbennell
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-10 20:55] pjw6193 commented on #34167
![image](https://user-images.githubusercontent.com/20826349/121595714-8aaddb00-ca0c-11eb-83e9-752da4547e54.png)

"looks good" to me

[2021-06-10 21:01] MarkIannucci commented on #76694
Thanks @mike-urnun-msft , I used this as an opportunity to figure it out.  PR above.

[2021-06-10 21:03] JamesTran-MSFT commented on #76769
@bbennell
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-06-10 21:03] #76769 closed

[2021-06-10 21:14] JamesTran-MSFT commented on #76768
@JustYT
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-10 21:33] BharathNimmala-MSFT commented on #76765
@peetc1 We really appreciate you taking time for bringing this to our notice and helping us improve our Azure documentation. I have raised a PR to fix the document. Once the PR is reviewed and approved , changes would go live.

At this point it appears that there's no further edits or updates needed to the documentation, other than what has been listed above. We will go ahead and close this issue

[2021-06-10 21:33] #76765 closed

[2021-06-10 21:35] Leonardo-Ferreira opened #76771 "Forgot to mention that some headers are not "set"-able"
You cant delete/override/set headers such as "Content-Length", "Transfer-Encoding" and others

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d5c8bfc-df28-c601-ffe2-244bf261e869
* Version Independent ID: e2c3a983-4f42-3aa7-1432-6221365c74aa
* Content: [Azure API Management transformation policies](https://docs.microsof

[2021-06-10 21:39] Oury-MSFT commented on #76736
@SnehaGunda Could you please check customer feedback above and let us know if we need to raise a PR to update the doc. Thanks

[2021-06-10 21:46] SnehaGunda commented on #76509
@kamyker free tier discount lasts for the lifetime of the account. If you delete an existing account that has free tier, you can use it for a new account. The "Apply free discount" button becomes active the server doesn't detect any existing accounts with free tier.

[2021-06-10 21:55] bitsofinfo commented on #76519
https://github.com/Azure/azure-batch-cli-extensions/issues/132

[2021-06-10 22:06] SnehaGunda commented on #76741
@ciufudean There are 2 types of RU/s in this example – reservation RU/s, regular RU/s

Here is a different way to think about it, Hope this helps, we will make some tweaks to the doc.

•	For AU central2 region – 50,000 * 1.5 = 75,000 reservation RU/s needed
•	For FR South region – 50,000 * 1.625 = 81,250 reservation RU/s  needed
•	Total reservation purchase is 100,000 and AU central2 region uses 7

[2021-06-10 22:11] MarianoKovo opened #76774 "Fix Typo"
Fix Typo at "Important" Section, word "balanace" to "balance"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be44db83-d389-9662-031d-ac59d7ee7073
* Version Independent ID: 73954863-684f-12e3-80d1-a9aae6242b13
* Content: [Data loading best practices for dedicated SQL pools - Azure Synapse Analytics](https://docs.microso

[2021-06-10 22:24] SnehaGunda commented on #75466
@chirag-singhal the above PRs fix the link. Fix will be live tomorrow. We will close this issue.

#please-close

[2021-06-10 22:24] #75466 closed

[2021-06-10 22:44] anfeldma-ms commented on #74991
Hi, quick update-  Cosmos triggers are supported. There is both sync and async versions of Cosmos triggers.

Async:
https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncTrigger.java

Sync:
https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosTrigger.java

These are s

[2021-06-10 22:46] normesta commented on #73415
Ok. I confirmed that ACLs work just fine in this context. The doc has been updated to make that clear. Thank you @fmms
#please-close

[2021-06-10 22:46] #73415 closed

[2021-06-10 22:46] anfeldma-ms commented on #75181
Quick update:
* The underlying SDK used in Spring Data v2 SDK has been marked for deprecation. We highly recommend upgrading your application to the latest and greatest Spring Data v3 SDK. This is the recommended course of action from our SDK team.
* As mentioned above - here are the release notes: https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sdk-java-spring-v3

[2021-06-10 22:47] b-juche commented on #76575
Per discussion with technical team, we updated the 'pcuser' consideration as follows:

• Create a `pcuser` account in your Active Directory (AD) and ensure that the account is enabled. This account will serve as the default user. It will be used for mapping UNIX users for accessing a dual-protocol volume configured with NTFS security style. The `pcuser` account is used only when there is no user p

[2021-06-10 22:53] b-juche commented on #76575
#please-close

[2021-06-10 22:53] #76575 closed

[2021-06-10 23:21] julieMSFT commented on #75405
@MaxMeng1985 Glad you were able to run the script. I will go ahead with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2021-06-10 23:22] julieMSFT commented on #75405
#assign:julieMSFT

[2021-06-10 23:23] shivanissambare commented on #76526
Hi,
The deployment to app services documented here : https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-app-service

- this is only a recipe and not full fledged compute support like ACI or AKS in azure machine learning
- in the documentation, as you must have read, we only provide packaging function to create a docker image and later users need to use azcli commands to deploy t

[2021-06-10 23:25] emlisa commented on #76662
Hello @SarveshPandey are you looking to synchronize your data bi-directionally between Azure SQL DB and on-prem databases? If so then SQL data sync is likely a good option for you to look into, more information can be found here: https://docs.microsoft.com/azure/azure-sql/database/sql-data-sync-data-sql-server-sql-database. For Azure SQL database and Azure SQL MI there is built in high availabilit

[2021-06-10 23:26] julieMSFT commented on #75505
#assign:julieMSFT

[2021-06-10 23:26] julieMSFT commented on #75505
@VitalyMCT Thank you for contacting Microsoft. Can you give me a bit more detail on what you think needs to be added to the documentation?

[2021-06-10 23:30] VitalyMCT commented on #75505
@julieMSFT The defaults, i.e. whether the result set caching is ON or OFF at database & session levels when the option is not explicitly specified. I think it's OFF at both levels by default.

[2021-06-10 23:36] julieMSFT commented on #76774
#https://github.com/MicrosoftDocs/azure-docs-pr/pull/161958

[2021-06-10 23:36] julieMSFT commented on #76774
#assign:julieMSFT

[2021-06-10 23:37] julieMSFT commented on #76774
@MarianoKovo Thank you for contacting Microsoft. I have submitted the fix for the typo. You will see the update in the next day or so. I will go ahead with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2021-06-10 23:37] julieMSFT commented on #76774
#please-close

[2021-06-10 23:38] #76774 closed

[2021-06-10 23:41] julieMSFT commented on #75505
Thank you @VitalyMCT, I will check on this and update the doc as appropriate.

[2021-06-10 23:42] Karishma-Tiwari-MSFT commented on #76748
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-11 00:21] markjbrown commented on #76761
Hi Jeremiah. I'm not sure I'm clear.

Are you asking that I show or mention a example of shared database throughput with autoscale?

[2021-06-11 00:25] BharathNimmala-MSFT commented on #76764
@asilverman Thanks a lot for bringing this to our notice, we will review the feedback and update the document accordingly.

[2021-06-11 00:28] BharathNimmala-MSFT commented on #76754
@elvirk Thank you for reaching out to us with your query, we will review it and get back to you at the earliest.

[2021-06-11 00:31] ToruMakabe opened #76776 "The actual behavior differs from the doc (IP address used)"
Let me check the IP address used to communicate with the backend pool.

According to this doc, If the backend pool contains an internally resolvable FQDN or a private IP address, the application gateway routes the request to the backend server by using its instance private IP addresses.

Also, [another article](https://docs.microsoft.com/en-us/azure/application-gateway/configuration-infrastructure

[2021-06-11 00:33] DavidTrigano commented on #43428
#please-close

[2021-06-11 00:33] #43428 closed

[2021-06-11 00:41] twright-msft commented on #65640
@padmajauk - Sorry I never noticed you replied since the @ mention was 'traviswright' instead of 'twright-msft'.  If you are still having an issue, please open a new issue.  #please-close

[2021-06-11 00:41] #65640 closed

[2021-06-11 00:46] SamaraSoucy-MSFT commented on #76763
I will reach out to the product team and see if there is any sort of timeline that I can share publicly. VNET peering is not available yet either, but is would be another option for joining Synapse to resources in another VNET.

Currently, the way to connect Synapse within a managed network to another VNET is via Private LInk: https://docs.microsoft.com/en-us/azure/private-link/private-link-overvi

[2021-06-11 01:07] #76403 closed

[2021-06-11 01:39] 5911224141 opened #76777 "azure-docs"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-06-11 02:08] MonikaReddy-MSFT commented on #76777
@5911224141 - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-06-11 02:11] MonikaReddy-MSFT commented on #76401
@th3w4y - Thanks again for bringing this to our attention. We have added this in our backlog and will update it, it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-11 02:11] #76401 closed

[2021-06-11 02:14] MonikaReddy-MSFT commented on #76568
@FallenHoot - Thanks again for bringing this to our attention and for updating the doc. it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-11 02:14] #76568 closed

[2021-06-11 02:19] yutaro113 opened #76778 "Detail of manula renewal operation behavior wanted to be explained."
Hi Team,
I see currently Godaddy can issue TLS/SSL Certificate with maximum valid period 397 days.
https://jp.godaddy.com/help/important-notification-about-ssl-offerings-9322?lc=en-US

But in this doc it's mentioned that manual renewal operation can be executed 60 days in advance from expiration date.
In this case, new certificate's expiration date will be shorter than expected expiration date (or

[2021-06-11 03:34] piyumi25 opened #76779 "Grant for microsoft graph application permissions using admin consent v2 end point?"
I am working in Azure Application registration process to grant application permissions using V2 end point. I did following steps to do that.

1. I have added "Mail.Read" as an application permission to the azure app
2. I have used following URL to give admin consent with specified scope as "Mail.Read".
`https://login.microsoftonline.com/ff63ebda-8bfe-4e14-aba1-504db5c53970/v2.0/adminconsent ?clie

[2021-06-11 03:41] Ravivarman13 opened #76780 "Azure firewall application rules supports only HTTP/S or MSSQL protocols not other protocols"
[From the current documentation, customers thinks that they can add protocols like SSH, NTP etc with application rules beside HTTP/S or MSSQL. But it is not possible to add other protocols on application rule but only via network rule.

With the info provided in documentation customer thinks its possible.

Can we change the documentation to be specific,

**From:**
Always use application rules when

[2021-06-11 03:59] SnehaAgrawal-MSFT commented on #76778
@yutaro113 Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-11 04:06] VikasPullagura-MSFT commented on #76274
@JerrelAjoeb
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-06-11 04:07] VikasPullagura-MSFT commented on #76274
@mimckitt
Can you please check and add your comments on this doc update request as applicable.

[2021-06-11 04:30] MayankBargali-MSFT commented on #76739
@jbogard For [oprtion3](https://docs.microsoft.com/en-us/azure/api-management/api-management-kubernetes#option-3-deploy-apim-inside-the-cluster-vnet) both the figure are different. If API consumers do not reside in the cluster VNet, the **external mode** fig4 talks and if it is within cluster VNET mode then the **Internal mode**  (fig5). If you see both the images you will see one call is outside

[2021-06-11 04:32] MayankBargali-MSFT commented on #76771
@Leonardo-Ferreira Can you confirm for under which transformation policies you are talking about in this [document](https://docs.microsoft.com/en-us/azure/api-management/api-management-transformation-policies).

[2021-06-11 04:40] AjayKumar-MSFT commented on #76454
Since there is no doc update required, we will close this for now. If you have any questions on this topic please let us know.

[2021-06-11 04:40] #76454 closed

[2021-06-11 04:41] shashishailaj commented on #76780
@Ravivarman13 Thank you for your feedback . We will engage the content team and update the thread.

[2021-06-11 04:43] AshokPeddakotla-MSFT commented on #76759
@stewartadam Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-06-11 04:53] shashishailaj commented on #76779
@piyumi25 Thank you for your query . We will try to find answers for your query however we use azure-docs repository specifically for improvements in the documentation . I would suggest to open a thread on [Microsoft QnA](https://docs.microsoft.com/en-us/answers/index.html) in future where we have a vibrant community who can help you with the same.

[2021-06-11 04:55] shashishailaj commented on #76776
@ToruMakabe Thank you for your query . We will investigate and update the thread.

[2021-06-11 04:56] mandarsj opened #76781 "Improve documentation to cover nested activities for adding custom parameters."
Hello,

I had an issue in adding custom parameters to my data factory arm template. and checked the documentation.
However it does not cover a very possible scenario of nesting of activities and how to adjust arm-template-definition for the same.

I suggest to modify the documentation accordingly.

Link to my question and scenario

https://docs.microsoft.com/en-us/answers/questions/428008/add-cust

[2021-06-11 05:04] sanketdixit2013 opened #76782 "Can we use personalizer for a large number of users to show personalized options based on their past behavior?"
# Azure documentation issue guidance

Hello Team,

I have a question regarding the use of personalizer for a large number of users. So for example if I want to personalize a menu in a bot for more than 1 lakh users by giving their email or team's unique ID as context feature to differentiate between the users. Is it possible that personalizer gives proper results for all individual users based on

[2021-06-11 05:18] TimoNordstrom-Nordcloud commented on #76732
Yes, I meant policy type change is not possible. I think this should be
highlighted in documentation also as policy type change cannot be made
easily but requires (too) big operation as described in that documentation.

Best regards / Ystävällisin terveisin,

Timo Nordström

Cloud Architect

***@***.***

Mobile: +358 40 733 5046

Nordcloud Oy

Antinkatu 1, 4th floor, 00100 Helsinki, Finland

Websi

[2021-06-11 05:25] Svijay-msft commented on #76749
Thanks for the question! We are looking into this and will get back to you soon.

[2021-06-11 05:33] MaanasMSFT commented on #76304
The backup of the registry is done by MABS. You can use it to recover when a computer starts, but system files and registry are lost.

[2021-06-11 05:47] v-amallick commented on #76593
Hi @stantoni-msft

We have updated the article and the URLs for US GOV tenants are available in the following link:

https://docs.microsoft.com/en-us/azure/backup/install-mars-agent#url-and-ip-access

Thank you.

[2021-06-11 05:47] v-amallick commented on #76593
#please-close

[2021-06-11 05:47] #76593 closed

[2021-06-11 05:47] SwathiDhanwada-MSFT commented on #76482
@matuhinal As requested in my previous comment, can you please elaborate your issue ?

[2021-06-11 05:50] SnehaAgrawal-MSFT commented on #76605
@danferh Thanks again for feedback! Could you please try refreshing the page after it was validating for a while (say, 10-20 minutes), As I was able to create my domain using the @ symbol; my portal similarly hung on the "Validating" status until I manually refreshed the page. If issue persists let me know.

[2021-06-11 05:53] tlourey opened #76783 "B2C guide for Microsoft accounts leave multitenant app as unverified"
Following this guide leaves the Azure Active Directory Multi-tenant app you create in a normal AAD tenant for Microsoft Accounts to be an identity provider & login via B2C in an **unverified** state, even if your publisher domain is verified in the Azure AD Tenant (as a verified custom domain)

I don't think companies wanting to use B2C should need to become a verified publisher (which would requi

[2021-06-11 05:56] ChaitanyaNaykodi-MSFT commented on #76489
Hello @pioardi, apologies for the delay here.
As per the [security baseline document](https://docs.microsoft.com/en-us/security/benchmark/azure/baselines/event-grid-security-baseline#38-manage-azure-resources-only-from-approved-locations) currently Event Grid doesn’t use Azure Active Directory (Azure AD) for authenticating event publishing clients; it supports authentication via SAS keys.
The team

[2021-06-11 05:56] #76489 closed

[2021-06-11 06:01] VikasPullagura-MSFT commented on #76755
@ketan-chawda-msft Thanks for the Feedback.
Creation of LB is allowed while creating the VMSS as it takes less time.
For creating a App Gateway, it will take time may be the reason it is not included in the creating in VMSS by design.

However, I acknowledge the feedback on having a note on creating a App Gateway before you create a VMSS to use that while creating a VMSS.
Or this document can also

[2021-06-11 06:01] VikasPullagura-MSFT commented on #76755
@ju-shim
Can you please check and add your comments on this doc update request as applicable.

[2021-06-11 06:32] SrijitBose-MSFT commented on #76629
@RonnieQuan , is there any further query on this?

[2021-06-11 06:33] snoerenberg commented on #75182
Hi @JamesTran-MSFT @jeevansd any progress?

[2021-06-11 06:42] BhargaviAnnadevara-MSFT commented on #76722
@dogenstein The command should still create a resource group with the provided name if it doesn't already exist.

The following is the output with Azure CLI version **2.22.1** and `db-up` extension version **0.2.3**

![image](https://user-images.githubusercontent.com/44050820/121642321-fbf19a80-caad-11eb-8c71-9c5524fea698.png)

[2021-06-11 06:45] cosminstirbu commented on #76286
@MayankBargali-MSFT - thank you for clarifying this.

We will have a closer look at what might cause our cold start and create a support ticket if needed.

[2021-06-11 06:51] wagnerbsouza commented on #76735
Hey, you’re welcome!
The aiResourceId comes from the Application Insights in Azure Portal.
Once you’re in its “Overview”, click on “JSON view” on top right of it (right above the “Instrumentation Key”).
The first key in the JSON is “id”. That’s the value you want for your aiResourceId.

From: Dan ***@***.***>
Sent: Thursday, 10 June 2021 17.32
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Wagner S

[2021-06-11 06:54] BhargaviAnnadevara-MSFT commented on #76658
@nielsophey Could you please paste the exact command that you tried to run for creating the App Service Kubernetes environment?
It looks like you may have passed `--location` instead of `--custom-location`, that lead to the error.

[2021-06-11 07:04] dogenstein commented on #76722
@BhargaviAnnadevara-MSFT

Hello! Thanks for checking this out!

I've checked my Azure CLI version and it's **2.24.2**. Maybe that's it?

![resourcegroupcreation](https://user-images.githubusercontent.com/30437511/121644888-ed6ba900-cad6-11eb-9bf6-7329c5ecaa9d.png)

[2021-06-11 07:12] v-amallick commented on #76304
#please-close

[2021-06-11 07:12] #76304 closed

[2021-06-11 07:17] BhargaviAnnadevara-MSFT commented on #76582
@Harissa Thanks for the feedback. I have assigned the issue to the content author to evaluate and update the document as appropriate.

[2021-06-11 07:19] HarshitaSingh-MSFT commented on #76491
I have made changes to make both lines consistent.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-11 07:19] #76491 closed

[2021-06-11 07:23] MayankBargali-MSFT commented on #76286
@cosminstirbu We will now proceed to close this thread and Q&A post. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-06-11 07:23] #76286 closed

[2021-06-11 07:24] SnehaAgrawal-MSFT commented on #76498
@lenisha Since we didn't here from you. We will close this out but if you feel you need more information please just let us know.

[2021-06-11 07:24] #76498 closed

[2021-06-11 07:27] dbaileyut opened #76784 "Teams with Azure Virtual Desktops still shows UTC time from non-Windows clients"
[Enter feedback here]
The information blob says:
"The latest update of the Teams Desktop client version 1.3.00.21759 fixed an issue where Teams showed UTC time zone in chat, channels, and calendar. The new version of the client will show the remote session time zone."

This appears to only apply to the Windows Remote Desktop client. The time zone is still UTC for macOS Remote Desktop 10.6.6 (1883)

[2021-06-11 07:34] BhargaviAnnadevara-MSFT commented on #76528
@mxrss2 We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-06-11 07:35] BhargaviAnnadevara-MSFT commented on #76647
@FallenHoot We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-06-11 07:35] #76647 closed

[2021-06-11 07:42] ThijsLecomte opened #76785 "Generic article reference to Cisco ASA"
[Enter feedback here]
Step 3 in troubleshooting references to Cisco ASA
Checks that the parsing for Cisco ASA Firewall events is configured as expected, using the following command:

This might be confusing as this is a generic CEF troubleshooting document. Shouldn't this be updated to support other sources aswell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2021-06-11 07:46] mcurko opened #76786 "Stateless service shutdown"
When a graceful shutdown occurs (as when moving an instance to a different node), how should a method that had been called on the service earlier via the listener and is still running respond? Does it need to observe and respond to the same CancellationToken instance having been passed to RunAsync? How much time does it have before the service will be terminated (I guess it should have some time e

[2021-06-11 07:49] psmanhas commented on #76784
@dbaileyut Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-06-11 07:50] psmanhas commented on #76784
@Heidilohr Can you please check and add your comments on this doc update request as applicable

[2021-06-11 08:00] BhargaviAnnadevara-MSFT commented on #76722
@dogenstein Interestingly, yes. I just tried it with Azure CLI version **2.24.2** and could reproduce your error.

This is certainly not the expected behavior though. Could you please create a [bug report](https://github.com/Azure/azure-cli/issues/new?assignees=&labels=&template=Bug_report.md&title=) with the [Azure/azure-cli](https://github.com/Azure/azure-cli) repository so our Azure CLI Enginee

[2021-06-11 08:01] HarshitaSingh-MSFT commented on #76558
I have made these changes in the doc, so expect them to be live soon. :)

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-11 08:01] #76558 closed

[2021-06-11 08:03] HarshitaSingh-MSFT commented on #76785
Hello @ThijsLecomte , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-06-11 08:04] HarshitaSingh-MSFT commented on #76783
Hello @tlourey , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-06-11 08:05] amanmcse commented on #76779
@piyumi25 I have posted an answer to your question here: https://docs.microsoft.com/en-us/answers/questions/431784/how-to-grant-application-permissions-with-dynamic.html?childToView=432040#answer-432040

[2021-06-11 08:05] #76779 closed

[2021-06-11 08:18] amanmcse commented on #76734
@chathumdavton As of now, the tenant administrator can only approve **All Application permissions** that you have added for your app in the app registration portal. When you specify a particular permission in your call to adminconsent endpoint, it uses the concept of Dynamic Consent and adds the permissions as delegated permissions. Application permissions don't support dynamic consent as of now,

[2021-06-11 08:18] #76734 closed

[2021-06-11 08:19] nielsophey commented on #76658
@BhargaviAnnadevara-MSFT - I directly used the snippet from the docs artikel

az appservice kube create --resource-group $groupName --name $kubeEnvironmentName --custom-location $customLocationId --static-ip $staticIp

and the $customLocationId is filled with:

/subscriptions/_<my-subscription-id>_/resourcegroups/_<my-rg>_/providers/microsoft.extendedlocation/customlocations/my-custom-location

I

[2021-06-11 08:28] BhargaviAnnadevara-MSFT commented on #76722
@dogenstein Interestingly, yes. I just tried it with Azure CLI version **2.24.2** and could reproduce your error.

This is certainly not the expected behavior though. I've created a [bug report](https://github.com/Azure/azure-cli/issues/new?assignees=&labels=&template=Bug_report.md&title=) with the **Azure/azure-cli** repository so our Azure CLI Engineering Team can take a look and fix. Please fol

[2021-06-11 08:30] amanmcse commented on #76723
@Arash-Sabet Thank you for pointing this out.

We have a doc that explains various app registration configuration options here: https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-register-app#register-an-application. But there is no such doc in the B2C documentation available as of now.

I have assigned it to the content author to review and either create a separate doc or

[2021-06-11 08:31] dogenstein commented on #76722
@BhargaviAnnadevara-MSFT Haha, I think I got an email of an earlier reply you made, so I made a [bug report](https://github.com/Azure/azure-cli-extensions/issues/3498) there too too :) I'll delete mine then?

Yeah I've created the group manually and it works fine, so it's not really a big deal. Thanks for your help!

[2021-06-11 08:33] ttnkumarabhishek commented on #76716
@AshokPeddakotla-MSFT  Do we have any azure documents to allow tagging for resources of more than 10K IOT devices during DPS itself.

[2021-06-11 08:34] caiwan-msft opened #76787 ""standard page blobs are billed on used size and with each transaction" needs to add some caveats for accuracy"
[Enter feedback here]

 Hi Team,

In the 'Pricing' section of this document,  it states that "standard page blobs are billed on used size and with each transaction", and so does the "[Azure Page Blobs pricing page](https://azure.microsoft.com/en-us/pricing/details/storage/page-blobs/)".    We find the description is a little simple, and will always confuse customers.  One interesting bit of inform

[2021-06-11 08:37] BhargaviAnnadevara-MSFT commented on #76722
@dogenstein Oh, thanks for creating the bug report. Didn't want to trouble you much so I thought I could do that on your behalf. :)

[2021-06-11 08:38] rjxby opened #76788 "How can I set Login URL for Service Provider Connection Setting using an Microsoft.BotService/botServices/Connections ARM template?"
Question: how can I set Login URL for Service Provider Connection Setting using a `Microsoft.BotService/botServices/Connections` ARM template?

I am trying to configure the Azure Bot Service through the ARM template and found a strange behavior with Service Provider Connection Setting configuration. Following [this](https://docs.microsoft.com/en-us/azure/templates/microsoft.botservice/2017-12-01/b

[2021-06-11 08:40] BhargaviAnnadevara-MSFT commented on #76722
@dogenstein I look forward to seeing some updates on [#3496](https://github.com/Azure/azure-cli-extensions/issues/3496) and will proceed to close this one out then. Thank you for the feedback!

If there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-06-11 08:40] #76722 closed

[2021-06-11 08:50] ram-msft commented on #76782
@sanketdixit2013 Thanks for the question. We are investigating the issue and will update you shortly.

[2021-06-11 08:51] vipulsparsh commented on #76552
@pauldulong  Thanks for reaching out and highlighting this to us. After following the same document I can see what you meant, the instructions for single page application does not refer to the Grant API access in it to make the end user aware. The document for APS.net does include that though , I will transfer this to the concern author to have the documents updated.

[2021-06-11 09:26] SadiqhAhmed-MSFT commented on #76708
@Siby22071989 MCA offer type is not supported. Yet, Best bet is to directly use rest API.

[2021-06-11 09:36] melazrak opened #76794 "Properties are missing in the doc"
I have noticed that new properties were added to the technical configuration section of my plans.

The doc is missing on these properties and I cannot find answers to my questions

For example:
I use cloud-init on my VMs but this property is not checked on my plan, does that mean that cloud-init won't launch during the VM creation ?

I think it can be very useful to add these information on the ap

[2021-06-11 09:40] Siby22071989 commented on #76708
I am not sure if that is true @SadiqhAhmed-MSFT. Here are the debug details from one of my customer:
![image](https://user-images.githubusercontent.com/46931850/121666736-33b90c00-cac7-11eb-8868-1ef93570d0fc.png)

[2021-06-11 09:46] OliCSADoerr opened #76795 "Same Port on one AppGateway - please be more specific"
Please be more precise. The documentation states out:
"Multiple site hosting enables you to configure more than one web application on the same port of an application gateway."
BUT - this only applies when you are using the PUBLIC IP Interface. If you use the same pattern (same port, different hostname) in combination with the PRIVATE IP - it does not work (as it is stated out later on in the FAQs

[2021-06-11 09:46] thiagomoreirafjt opened #76796 "type "idenityName""
[Enter feedback here]
typo idenityName => iden**t**ityName

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd4c4f41-2050-234e-e35b-750158cfba54
* Version Independent ID: 09c0145e-fa2b-210d-d1a0-4acb8c790bc3
* Content: [Create a Windows VM with Azure Image Builder - Azure Virtual Machines](https://docs.microsoft.com/en-u

[2021-06-11 09:48] filippopovic commented on #74192
Supported data types in serverless make sense in terms of what are supported data types in extractors (FORMAT + PARSER_VERSION). Hence we focused on data types per extractor in docs. Limitations are covered in OPENROWSET article where difference between PARSER_VERSION 1.0 and 2.0 are explained (for CSV). For parquet there is table in docs which shows how parquet types map to SQL types.

[2021-06-11 09:52] chathumdavton commented on #76734
Thanks for your response.

It would be helpful if Microsoft updated the [documentation on admin-consent-v2](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-admin-consent) to clearly mentions that, currently the only piece of information you can find is available on https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent.

[2021-06-11 10:48] denishol opened #76797 "Name of the extension in az vm extension wrong"
Hello,

just tried to execute your command from section Troubleshooting

In my Ubuntu Server 20.04 VM the name of the extension however is **AzureNetworkWatcherExtension** and not **NetworkWatcherAgentLinux**

Could you please verify this?

Thanks

Denis

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c9e8ae3-4417-930b

[2021-06-11 10:48] ToruMakabe commented on #76329
Any updates? If there is no such feature or it is not open to the public, I will close this issue from the docs point of view. But if it's available, I'd love to see it published in the docs.

As stated in Azure Cloud Adoption Framework, verification between actual resource properties and desired very important. So, I think this request is essential. Thanks!

[2021-06-11 11:00] czmirek opened #76798 "Missing optional values break Diagnostic settings in VM"
The page claims that many values are **optional**  like `eventVolume` but if the value is missing in the JSON the Diagnostic settings blade in the VM simply breaks

![image](https://user-images.githubusercontent.com/18615545/121676367-d4520080-cab4-11eb-8f6a-0c9fb5e53ead.png)

This applies for `sampleRateInSeconds` and `syslogEvents` as well. I think it should be mentioned in the page.

---
#### D

[2021-06-11 11:15] dbodifee commented on #76285
I think I am ahead of things. I used the Preview portal, instead of the current one. From within the Preview Portal (which has a better interface for moving resources) this requirement is not there anymore.

Kind regards,
David Bodifée

From: Tom ***@***.***>
Sent: Wednesday, 9 June 2021 21:08
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] AppService move t

[2021-06-11 11:18] jberezanski-mdg commented on #51597
@athinanthny Thank you for the explanation (I only noticed your answer today).

Now, assuming I would like to use Shared Access Signatures to protect the sfpkg files in the storage, how long those signatures would need to be valid? Can they be valid only for the duration of the ARM template deployment (which creates the appropriate [Microsoft.ServiceFabric/clusters/applicationTypes/versions](https

[2021-06-11 11:28] ThijsLecomte opened #76799 "Wrong text in documentation"
In the 'Assess the quality of anomalies' part, it states '(in place of "Type your query here...")'

But the query shows:
where AnomalyTemplateName contains "________________________________"

So I assume the ___________ need to be replaced by 'type your query here' or the other way around?

---
#### Detalji dokumenta

* ID: 16c724fa-83ff-b7c5-481d-169fe05d6b9a
* Version Independent ID: 617297d6-13

[2021-06-11 11:36] AnuragSharma-MSFT commented on #76534
@arunmahadevan I could not locate any specific code sample on the same. I am tagging the content author for more details.

[2021-06-11 11:39] ShaikMaheer-MSFT commented on #76781
@mandarsj - Thank you for sharing feedback. We are actively validating it. We will get back to you soon

[2021-06-11 11:46] jamesread opened #76800 "Clarification; 40 -> 36 cores for Azure Red Hat OpenShift"
On this page it states;
[code]

Infact, The 3x 8-core masters and 3x 4-core workers means the minimum cluster size is 36 cores.

Could I suggest the sentance is changed to something more precise;

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93aa980e-1970-235c-228a-7b19880171b8
* Version Independent ID: 6f7937

[2021-06-11 11:53] SwathiDhanwada-MSFT commented on #76794
@melazrak Thanks for your feedback.

Assigning to content author  @mingshen-ms for review.

[2021-06-11 12:15] AshokPeddakotla-MSFT commented on #76716
@ttnkumarabhishe Could you please share the specific links which are not working? I have verified and found that all links are working.

Regarding your other query related to tagging: Can you please elaborate your scenario bit more to understand better?

You can assign the same tag to multiple resources and resource groups to categorize resources and consolidate billing. For more information, see

[2021-06-11 12:20] ShaikMaheer-MSFT commented on #76781
@nabhishek Could you please validate feedback and add requested details as appropriate

[2021-06-11 12:23] PaulVrugt commented on #52421
@souravmishra-msft @msrini-MSFT @vhorne

It's been over a year now. Can anyone please answer this question?

[2021-06-11 12:42] BobbyCGD commented on #19456
Nobody will hear us, thus is the world of the GitHub issues graveyard... thanks Microsoft

[2021-06-11 12:44] boris-tarasov-maersk commented on #67755
Hi @jimmyca15
Thank you for your suggestion.
I was not aware of such smart way of making it happen and this is interesting to try.

[2021-06-11 12:51] jbogard commented on #76739
Siiiiiiiigh I totally missed that. Thanks!

[2021-06-11 12:51] #76739 closed

[2021-06-11 12:58] tfitzmac commented on #76285
Thanks for this info. We'll close this for now but can revisit if the requirements change.
#please-close

[2021-06-11 12:58] #76285 closed

[2021-06-11 13:29] RohitMungi-MSFT commented on #76788
@rjxby I think a similar question was posted on [stack ](https://stackoverflow.com/questions/64932997/set-tenant-id-on-bot-channels-registration-connection-using-arm-template)a while ago. I hope this helps.

[2021-06-11 13:34] SandeepGuduru opened #76801 "Azure AD B2c Api Authorize giving 401 error"
I have a web application which will depends on Azure b2c for authentication. After login it will generate a bearer token and that is working with api and making requests for some hours. After that even if we login again it is giving 401 unauthorized error and again after few hours it is not giving any error. Can i know the problem.

[2021-06-11 13:41] jjadta opened #76802 "Remove period from the end of this statement: .enable plugin azure_digital_twins_query_request."
This statement has an extra period at the end.  Kindly remove the period after "azure_digital_twins_query_request"

Thanks, Taylor

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1992609-c761-0222-8c3c-b4eef1ae17fe
* Version Independent ID: 990ec366-dd00-3dea-baf2-2121f68b8038
* Content: [Querying with Azure Data Explo

[2021-06-11 13:43] KeishaW opened #76803 "I don't see the Ledger (preview) option as described in the Quickstart"
I don't see the Ledger (preview) option on the Security Tab when creating my SQL database as described in the Quickstart, therefore I can't configure ledger.

The page says "Azure SQL Database ledger is currently in public preview." but I don't see it available.

What could be the reason for this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2021-06-11 13:50] OrrinEdenfield commented on #74192
Thank you @filippopovic. If it's OK, I'll make a PR with some suggested changes to this document clarifying that information on this page is for SQL Dedicated and then link to the OPENROWSET page for information on SQL Serverless.

[2021-06-11 14:06] jamesread commented on #76800
Ah, it's noted that +4 cores are required during deployment (for the bootstrap node presumably), which are deleted after the deployment finishes.

[2021-06-11 14:10] chaholl opened #76804 "Missing a dependency"
I've found that when installing v3.1.3  via `yarn`, you need both packages:

[code]

Not a big deal since VSCode will show the missing dependency but probably worth updating the docs since the config sample doesn't work without this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dff1e826-0fac-07ef-7dc4-af24f045f349
*

[2021-06-11 14:13] MonikaReddy-MSFT commented on #76796
@thiagomoreirafjt -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-06-11 14:14] MonikaReddy-MSFT commented on #76798
@czmirek -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-06-11 14:16] MonikaReddy-MSFT commented on #76796
@thiagomoreirafjt - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-11 14:20] shubhi97 opened #76805 "how to create a table map for 100 tables in 1 database"
[Enter feedback here]
while moving the database using powershell i have 100 tables in 1 database. so is there any way of doing table mapping with some loop aur some logic so that i won't have to write name of every table manually in  it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07d69e62-9260-457d-2acd-028bdfa0a0a

[2021-06-11 14:31] jvalente-salemstate opened #76807 "Error code 50053 description"
Hi,

The description for error 50053 is inconsistent within AzureAD/Sentinel and MCAS.  In AzureAD it is recorded as "Sign-in was blocked because it came from an IP address with malicious activity." while MCAS shows the failure as "Failed log on (Failure message: The account is locked, you've tried to sign in too many times with an incorrect user ID or password.)".

Neither also indicates whether

[2021-06-11 14:33] eelcokos opened #76808 "New Azure Storage policies not mentioned in article"
This Azure Update states that policies are available for Key Rotation and Expiration for Azure Storage
https://azure.microsoft.com/en-us/updates/key-rotation-and-expiration-policies-for-azure-storage/

The Azure Update article links to the article on managing storage account keys but the new policies aren't mentioned.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2021-06-11 14:35] brandonwittwer opened #76809 "misspelling fix"
misspelling   "pervious" -> "previous"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee1eec15-6783-f8a2-81c0-ffa9d1b40dc2
* Version Independent ID: ab875981-7b0d-95be-dc5b-91f87acbe477
* Content: [Release annotations for Application Insights - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/app/ann

[2021-06-11 14:38] jto-bianchini opened #76810 "Change Application Proxy External IP without change External URL"
[Enter feedback here]
I created the first application proxy in Europe Region and when I created the second application proxy in South America it got the same Europe application proxy external IP in the default domain and it is causing a delay to access the application in South America because the connection through the application proxy goes to Europe Region.
When I created the South America appli

[2021-06-11 14:45] psmanhas commented on #76797
@denishol Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-06-11 14:56] #76796 closed

[2021-06-11 15:12] DCtheGeek commented on #76677
@wilbug1git1 I think there's a bit of confusion between the _effect_ and the _enforcementMode_.  The _effect_ is on the policy definition and determines if the policy rule is evaluated at all.  Parameterizing it means that decision can be pushed right to the assignment.  The _enforcementMode_ on the assignment of **disabled** (still different from a **disabled** as a parameter for _effect_) means

[2021-06-11 15:12] #76677 closed

[2021-06-11 15:12] Oury-MSFT commented on #76803
@KeishaW Thanks for contacting us. We are reproducing this issue from our end and will get back shortly. Thanks

[2021-06-11 15:13] DCtheGeek commented on #76211
The PR to fix this has been submitted: https://github.com/Azure/azure-cli-extensions/pull/3457

Please follow the PR for updates.  I'm going to close this as it's being fixed and not a Docs issue.  Thanks again for pointing this out!

#please-close

[2021-06-11 15:14] #76211 closed

[2021-06-11 15:15] kamyker commented on #76509
Thanks you, perhaps doc could be changed a little:

[2021-06-11 15:17] spelluru commented on #76619
@kasun04 - could you provide your input when you get a chance? Thanks!

[2021-06-11 15:24] vvasic-msft commented on #74885
@JerryMWeeks what type of SQL pool were you using? This article is for serverless SQL pool only. Dedicated SQL pool doesn't support SHARED ACCESS SIGNATURE yet.

[2021-06-11 15:33] habeebtc commented on #52421
@PaulVrugt I eventually concluded my speculation in this issue was correct.  TimeGenerated is ingestion time.  You can double check this with the Kusto function: ingestion_time()

The delta between timeStamp_t and whichever method of measuring ingestion time, is the ingestion lag for the log entries.  I had an issue where there was a big perf issue in WestUS2 for the logging back end, and was able

[2021-06-11 15:34] Oury-MSFT commented on #76803
@KeishaW This may be due to region limitation

[2021-06-11 15:37] dfatkulbayanova opened #76812 "PowerBI Cost Management app available for MCA"
[Enter feedback here]
Looks like there is a mistake here - Power BI App available only for EA customers - at least that's what is said in the link that is used on this page to install this app

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d923a067-3218-78f4-2549-be5f27f66e96
* Version Independent ID: b559798f-a9aa-09b

[2021-06-11 15:37] marc-perreaut opened #76813 "Subscription attached to the Unused Reservation cost?"
Hello,

Unused reservation cost seems to be attached to a dummy subscription at EA level.
The unused reservation cost was more expected to be attached to the subscription used for the reservation purchase.

Moreover, while the Reader role at root management group enables to get the reservation purchase cost, it seems it does not allow to get the unused reservation cost: it seems the unused reserva

[2021-06-11 15:37] jtwalters25 commented on #76761
Hi Mark,

I am requesting, if its possible, to mention "If you're looking to create an account with standard or autoscale throughput shared at the database level, simply apply the throughput settings in the Options property for the database resource."

seems straightforward enough, an example may not be necessary.

Thanks for your consideration

[2021-06-11 15:38] DerekHerman-MSFT commented on #76787
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-11 15:49] jonburchel commented on #73821
@taukhan-ace thanks for reporting this an helping make the docs better!  We updated the document to include step-by-step instructions now.  The change should be published within the next few hours.  I will close this issue now but if you have other questions you can always continue the discussion here, even after it is closed.

#please-close

[2021-06-11 15:49] #73821 closed

[2021-06-11 15:56] mike-urnun-msft commented on #76801
Hi @SandeepGuduru - Thank you for sharing your feedback! Since this channel is for driving improvements towards MS Docs, could you provide us with a specific URL of the MS Doc that your feedback is most applicable to? That way, we're able to connect you with the right team that is best suited to address your feedback.

[2021-06-11 15:57] mike-urnun-msft commented on #76807
Hi @jvalente-salemstate - Thank you for sharing your feedback! Since this channel is for driving improvements towards MS Docs, could you provide us with a specific URL of the MS Doc that your feedback is most applicable to? That way, we're able to connect you with the right team that is best suited to address your feedback.

[2021-06-11 15:58] DCtheGeek commented on #76338
@rthorn17 I submitted the PR to fix this.  once you review/approve, I'll merge it.
@sbrcloudeon Merging it will automatically close this issue.  Thanks for asking about this for more clarity!

#label:"in-progress"
#label:"assigned-to-author"
#reassign:DCtheGeek

[2021-06-11 16:07] dlepow commented on #7025
Doc recently updated with explicit steps to expose gateway, developer portal, and management endpoint.
#please-close

[2021-06-11 16:10] dlepow commented on #23009
@balajivenkataraman - Sorry for slow response. The documentation was recently updated to show Application Gateway v2 integration.

[2021-06-11 16:12] dlepow commented on #61749
This article is now updated to include configuration of the management endpoint. Thanks for the feedback!
#please-close

[2021-06-11 16:12] #61749 closed

[2021-06-11 16:13] dlepow commented on #68670
This article is now updated to include configuration of the management endpoint and integration with App Gateway v2. Thanks for the feedback!
#please-close

[2021-06-11 16:13] #68670 closed

[2021-06-11 16:15] psmanhas commented on #76667
@ChrisSommers Apologies for the delay in response and all the inconvenience caused because of the issue.

I had discussion with our internal team and got to know that This is a product bug and the product team is working on a fix. I currently don't have an ETA for this but rest assured it is being worked upon.

Since there is not much currently we can do on this issue I am closing this for time be

[2021-06-11 16:15] #76667 closed

[2021-06-11 16:18] curtand commented on #48846
Hi @scottclarke1

Thanks for your dedication to our documentation! We have continued to work to provide unified API support across Azure resource roles, Azure AD roles, and privileged access groups, and have published a new API article explaining its conceptual framework:
     https://docs.microsoft.com/azure/active-directory/privileged-identity-management/pim-apis.

However, we're not able at thi

[2021-06-11 16:18] #48846 closed

[2021-06-11 16:19] shortpatti commented on #76748
#please-close

content updated

Thank you @andyjenkins1  for your feedback :)

[2021-06-11 16:19] #76748 closed

[2021-06-11 16:24] SnehaAgrawal-MSFT commented on #76809
@brandonwittwer Thank you for your feedback! We will review and update as appropriate.

[2021-06-11 16:30] Tiberriver256 opened #76816 "Typo in Javascript sample for trackException"
The sample code for javascript is currently:

[code]

It should be (the same as node):

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 401d2997-0fbd-7966-8996-edbaab1819ff
* Version Independent ID: c3ee3318-4c69-8ded-a8d5-5059d699351b
* Content: [Application Insights API for custom events and metrics - Azure Mon

[2021-06-11 16:31] vhorne commented on #76780
updated
#please-close

[2021-06-11 16:31] #76780 closed

[2021-06-11 16:34] #42940 closed

[2021-06-11 16:34] davidcorrigan714 opened #76818 "Refresh token lifecycle text correct?"
Is the text: "The Microsoft identity platform doesn't revoke refresh tokens when used to fetch new access tokens." correct or should it be: "The Microsoft identity platform doesn't revoke refresh tokens when used to fetch new **refresh** tokens."? The text as-is wouldn't seem to fit the narrative of the explanation, and the latter case is what I'm particularly interested in and not entirely sure i

[2021-06-11 16:35] #76338 closed

[2021-06-11 16:37] Rodrigossz commented on #76621
Thank you for the heads up! It's fixed now:

https://github.com/MicrosoftDocs/azure-docs-pr/pull/162068

[2021-06-11 16:38] Rodrigossz commented on #76621
@SamaraSoucy-MSFT , can you close the issue? It seems that I don't have permissions.

[2021-06-11 16:45] curtand commented on #47119
Hi @andyjballgit
In Azure resource roles go, only certain users can manage assignments for other administrators in Azure AD PIM. They include any user that is a subscription administrator, any user that is a resource owner or any user who is a resource user access administrator. Privileged Role Administrators, Security Administrators and Security Readers don't have the necessary access, by default

[2021-06-11 16:45] #47119 closed

[2021-06-11 16:46] julieMSFT commented on #71286
@lilliansmestad Thank you for contacting Microsoft. The engineering team has created a work item to track fixing this issue. I will go ahead and close this documentation issue for now. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2021-06-11 16:46] julieMSFT commented on #71286
#assign:julieMSFT

[2021-06-11 16:47] julieMSFT commented on #71286
#https://msdata.visualstudio.com/A365/_workitems/edit/1220279

[2021-06-11 16:49] SnehaGunda commented on #76741
We will now close this issue.

#please-close

[2021-06-11 16:49] #76741 closed

[2021-06-11 16:51] #71286 closed

[2021-06-11 17:02] cbattlegear opened #76819 "Need to highlight DNN incompatibility with SQL older than 2019 during cluster creation"
Under the create a cluster section there needs to be a warning earlier on about using DNNs and Windows 2019. In the situation of running Win 2019 with SQL older than 2019 DNNs are not supported which causes the overall networking to not work without recreating the Cluster and AG as a VNN.

If possible we need to make this more obvious/give version specific instructions.

---
#### Document Details

[2021-06-11 17:03] julieMSFT commented on #74192
@OrrinEdenfield We will watch for your PR. Thank you for contributing to Microsoft Docs! I will go ahead with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2021-06-11 17:04] julieMSFT commented on #74192
#please-close

[2021-06-11 17:04] #74192 closed

[2021-06-11 17:05] curtand commented on #57055
Hi @kevball2
Thanks for your contribution!! I'm getting a PowerShell solution for this approved and will add it to the docs as soon as it is. I'm waiting on this resolution and will publish as soon as I get it.

Thanks!!

#please-close

[2021-06-11 17:05] #57055 closed

[2021-06-11 17:13] julieMSFT commented on #75256
@shanerisk Thank you for contacting Microsoft. You are correct and I have updated the document to read, "DWU1000c and above support a maximum of 1024 open sessions.' You will see this change later today. Thank you for contributing to the accuracy of Microsoft Docs. I will go ahead with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further c

[2021-06-11 17:13] julieMSFT commented on #75256
#reassign:julieMSFT

[2021-06-11 17:14] julieMSFT commented on #75256
#please-close

[2021-06-11 17:14] #75256 closed

[2021-06-11 17:15] himanshusinha-msft commented on #76731
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-06-11 17:18] KeishaW commented on #76803
I tried creating the database server in both East US and West Us. I saw a note somewhere about using West Central US but got an error when trying to do so.

I created a support ticket about my inability to create a database server in West Central US but haven't received a response yet.

What regions are this public preview available for?

[2021-06-11 17:18] SatishBoddu-MSFT commented on #76802
Hello @jjadta

Thanks for the feedback! It will be fixed soon.

[2021-06-11 17:23] JasonMAnderson commented on #76803
@KeishaW the ledger feature is only currently deployed to West Central US.  What error are you hitting when you try to create a DB in this region?

[2021-06-11 17:27] KeishaW commented on #76803
I got the following error:

[code]

I do not see West Central US listed here: aka.ms/sqlcapacity. As well as I created a support ticket as the message suggested, but haven't heard back yet.

[2021-06-11 17:28] aahill commented on #76113
Thanks for reaching out about this. Text Analytics for health is not currently out of preview, not sure why the Book of news says differently. Moving the feature to GA is planned for the near future.

#please-close

[2021-06-11 17:28] #76113 closed

[2021-06-11 17:29] jengel opened #76821 "Page graphics show spellcheck underlines"
The graphics on this page https://docs.microsoft.com/en-us/azure/active-directory/verifiable-credentials/decentralized-identifier-overview show red squiggles under unrecognized words. Consider disabling spell check before exporting the slides to graphics.

Here's an example graphic from the page: https://docs.microsoft.com/en-us/azure/active-directory/verifiable-credentials/media/decentralized-ide

[2021-06-11 17:43] jjasghar opened #76823 "Create an Azure Red Hat OpenShift 4 private cluster"
I was walking through this: https://docs.microsoft.com/en-us/azure/openshift/howto-create-private-cluster-4x from a brand new account.

I got to the "Create the cluster" step and this happened:
[code]

It seems I have to bump my quota, but I have no idea what _version_ of the CPU I need to bump. Going through the support request I had a list of over 50+ CPUs and completely overwhelmed.

Maybe add

[2021-06-11 17:43] julieMSFT commented on #75818
#assign:julie MSFT

[2021-06-11 17:43] PRMerger18 commented on #75818
julie is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-06-11 17:53] MarileeTurscak-MSFT commented on #76821
@jengel
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-11 17:54] spissay opened #76824 "Clarification on Alert and Deny Feature"
Team, where do we get the alerts on? Can we configure a plugin to report it on Slack using some bot maybe?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3638def6-dd0b-d2a8-4014-fd977164a529
* Version Independent ID: d6205d37-95dd-80e0-8baf-2c9cda805e0d
* Content: [Azure Firewall threat intelligence based filtering](ht

[2021-06-11 18:01] julieMSFT commented on #76621
#please-close

[2021-06-11 18:01] #76621 closed

[2021-06-11 18:03] SadiqhAhmed-MSFT commented on #76812
@dfatkulbayanova Thanks for your post. We will look into it and get back to you shortly.

[2021-06-11 18:05] DerekHerman-MSFT commented on #76808
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-11 18:11] curtand commented on #64130
Hi @mark-lambe-dhsc
Thanks for your feedback! The bulk upload has been improved and updated per our customer feedback. Be sure to download the current upload template before you upload to Azure AD.

#please-close

[2021-06-11 18:11] #64130 closed

[2021-06-11 18:26] Oury-MSFT commented on #76805
@shubhi97  Thank you for posting your question. Are you referring to Azure SQL, MI, SQLVM.?

[2021-06-11 18:27] Oury-MSFT commented on #76803
@KeishaW  It must be due to region limitations . Please check this [document](https://docs.microsoft.com/en-us/azure/azure-sql/database/ledger-overview) which provide the list of current region.
![image](https://user-images.githubusercontent.com/78940872/121733164-fee98c80-caa7-11eb-95fe-5a39c38fb7b1.png)

@JasonMAnderson Do you have any insights please?

[2021-06-11 18:51] BharathNimmala-MSFT commented on #76816
@Tiberriver256 Thanks a lot for bringing this to our notice and helping us improve our Azure documentation. I have raised a PR to update the document reflecting your feedback. Once the PR is reviewed and approved , changes would go live.

At this point it appears that there's no further edits or updates needed to the documentation, other than what has been listed above. We will go ahead and close

[2021-06-11 18:51] #76816 closed

[2021-06-11 18:51] Oury-MSFT commented on #76803
@KeishaW I will do a repro from my end and will let you know ASAP. Thanks

[2021-06-11 18:59] curtand commented on #58308
hi @Mlavieri
Thanks for your feedback! This updates is published from GitHub PR  https://github.com/MicrosoftDocs/azure-docs-pr/pull/162113

#please-close

[2021-06-11 18:59] #58308 closed

[2021-06-11 18:59] JamesTran-MSFT commented on #76818
@davidcorrigan714
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-11 19:01] JamesTran-MSFT commented on #76810
@jto-bianchini
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-11 19:01] datadu-de opened #76828 "there is a method to get notebook path in python"
after hours of searching a colleague found a way to access notebook path from python directly (without intermediate scala steps mentioned in the current docs):

[code]

please adjust docs accordingly so others won´t have to search.

as these are the databricks docs, I cannot create a PR myself if I understand correctly

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2021-06-11 19:04] MashaMSFT commented on #37559
Hi @artisticcheese , thanks again for your feedback! I've processed a change to update the documentation that should be live next week.

I'll go ahead and close out this Git Issue for the time being but please feel free to comment should you need anything further.

Thanks again for improving our docs and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2021-06-11 19:04] #37559 closed

[2021-06-11 19:06] MashaMSFT commented on #69868
Hi @dcbrown16 , thanks for bringing this to our attention! We've processed a change to update the documentation that should be live next week.

I'll close out this Git Issue for the time being but please feel free to comment should you need anything further.

Thanks again for improving our docs and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2021-06-11 19:06] #69868 closed

[2021-06-11 19:06] MashaMSFT commented on #74734
Hi @shgoldbe , thanks for your feedback! We've updated the link. I'll close the Issue for now but please let us know if you need anything further.

Thanks!
Masha from the SQL Docs team
#please-close

[2021-06-11 19:06] #74734 closed

[2021-06-11 19:07] MashaMSFT commented on #68584
Hi @VitalyMCT , thanks for your feedback! I've processed a change to update the documentation that should be lived next week.

I'll close out this Git Issue for the time being but please feel free to comment should you need anything further.

Thanks again for improving our docs and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2021-06-11 19:07] #68584 closed

[2021-06-11 19:08] MashaMSFT commented on #71293
Hi @tarwn , thanks again for your feedback! We've processed a change to update the documentation that should be live next week.

I'll close out this Git Issue but please feel free to comment should you need anything further.

Thanks again for improving our docs and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2021-06-11 19:08] #71293 closed

[2021-06-11 19:09] MashaMSFT commented on #75368
Hi @rvahaver , thanks for your feedback! We've processed a change to the documentation that should be live next week.

I'll close out this Git Issue but please feel free to comment should you need anything further.

Thanks again for improving our docs and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2021-06-11 19:09] #75368 closed

[2021-06-11 19:11] MashaMSFT commented on #44582
Hi @vjc216 , thanks for contacting Microsoft! We were able to confirm that indeed this is a bug and a fix is in the works. Unfortunately, we are unable to provide an ETA at this time.

I hope that helps and please let us know if we can help further. I'll close out this Git Issue but please comment if you need any additional assistance.

Thanks again for reaching out and I hope you have a wonderful

[2021-06-11 19:11] #44582 closed

[2021-06-11 19:15] MashaMSFT commented on #64133
Hi @CamyDee , thanks for  your feedback! We suspect this may be unexpected behavior. Would you mind submitting your feedback to [https://aka.ms/sqlfeedback](https://aka.ms/sqlfeedback) with as much technical detail as possible? We'd like to look into this a bit further.

I'll close out this Git Issue for the time being but please feel free to comment should you need anything further.

Thanks again

[2021-06-11 19:15] #64133 closed

[2021-06-11 19:20] julieMSFT commented on #76290
#assign:julieMSFT

[2021-06-11 19:21] julieMSFT commented on #76290
@VitalyMCT Thank you for contacting Microsoft and bringing this issue to our attention. I am reworking the article and you should see the updates in the next day or so. You are correct that materialized views only apply to dedicated SQL pool. I will go ahead with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed.

[2021-06-11 19:23] RyanHill-MSFT commented on #76804
Thanks for the feedback @chaholl. We'll get the docs update to add that.

[2021-06-11 19:25] julieMSFT commented on #76290
#please-close

[2021-06-11 19:25] #76290 closed

[2021-06-11 19:27] #76804 closed

[2021-06-11 19:29] epinto opened #76830 "Undocumented limitation that NSG logs can only be written to a storage account in the same region"
This page does not indicate a limitation that, for example, a resource like NSG flow logs can ONLY be written to a storage account in the same region as the resource itself.  There's no section for this and other limitations for this feature.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52db43c4-1dd4-9788-1f8a-e87b69

[2021-06-11 19:38] sanjaydatasciencedojo opened #76831 "Reserved pricing for scale set"
This document is not clear about how reserved pricing for scale set works. What will happen to reserved pricing if I reserve it for one VM, but it scales to 2 virtual machines?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43852e1b-711e-98e6-7f3e-e98578cad660
* Version Independent ID: 71897988-d633-024c-209e-a02997ccf

[2021-06-11 19:41] viseshag commented on #71157
#reassign:zeinab-mk

[2021-06-11 19:45] viseshag commented on #76717
@eerik47 This is documented to an extent here. https://docs.microsoft.com/en-us/azure/purview/purview-connector-overview

[2021-06-11 19:48] viseshag commented on #76717
#closed

[2021-06-11 19:48] Marusyk commented on #76423
I will check in a few days

[2021-06-11 19:58] viseshag commented on #76717
#please-close

[2021-06-11 19:58] #76717 closed

[2021-06-11 19:59] wesmc7777 commented on #76421
@girishmk0602 Can you check if you have `parson.h` and the `parson.c` source files in the parent folder of the `iot-hub-c-raspberrypi-client-app` repository folder?  If so, move them into the repository folder, and try `cmake` again.

[2021-06-11 20:04] MashaMSFT commented on #45951
Hi @empz , thanks for reaching out! When using the server or pool targets, using the master credential is recommended because the server or pool can change. As in, databases may be added or removed to the target server or pool. Having the master credential helps with dynamic enumeration of target databases in the server or pool at the time of execution.

Having said that, I agree that we may be ab

[2021-06-11 20:04] #45951 closed

[2021-06-11 20:04] PRMerger17 commented on #45951
mathoma is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-06-11 20:04] MashaMSFT commented on #45951
#assign:MashaMSFT

[2021-06-11 20:04] PRMerger20 commented on #45951
MashaMSFT is already assigned.

[2021-06-11 20:05] MashaMSFT commented on #45951
#reassign:srinia

[2021-06-11 20:05] MashaMSFT commented on #45951
#assign:MashaMSFT

sorry for spam :)

[2021-06-11 20:17] Oury-MSFT commented on #76803
@KeishaW Were you following this [doc](https://docs.microsoft.com/en-us/azure/azure-sql/database/ledger-create-a-single-database-with-ledger-enabled) to create configure Ledger?

[2021-06-11 20:19] JonesMikael opened #76834 "What if you don't have your tenant linked to a Subscription?"
Please clarify what will happen if you don't or forget to link your tenant to a subscription if you have less (or more) than 50,000 MAU. Most customers I work with have never specified this and asking what will occur if they don't select it, especially those who use Azure AD and Microsoft 365 but yet don't have any Azure Subscriptions.

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-06-11 20:24] KeishaW commented on #76803
@Oury-MSFT yes that is the document I was following.

[2021-06-11 20:51] kobulloc-MSFT commented on #76566
@Leonardo-Ferreira Labels are what you'll want to use for different environments like Dev, QA, UAT, Sandbox, and more:

https://docs.microsoft.com/en-us/azure/azure-app-configuration/howto-labels-aspnet-core?tabs=core5x

[2021-06-11 20:53] KranthiPakala-MSFT commented on #76828
Hi @datadu-de ,
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2021-06-11 20:54] wcneumann219 opened #76835 "@wcneumann219"
@wcneumann219
Thanks for your feedback! We will investigate and update as appropriate.

_Originally posted by @MarileeTurscak-MSFT in https://github.com/MicrosoftDocs/azure-docs/issues/74973#issuecomment-834730084_

No one is replying to the original post after many weeks and many requests for a response, so I'm trying yet again with a new issue...

---
#### Document Details

⚠ *Do not edit this s

[2021-06-11 20:59] SaiKishor-MSFT commented on #75608
@PhilipAnthonyMurray I apologize for the delay in response.

I did some testing with a similar setup and rules and whenever you have both path based and redirect rules in the same request routing rule, the rule that is more specific to the path is matched first. In your case, request for www.site.com/pathtoredirect is matched to the redirect rule first and anything else is matched to the path rule

[2021-06-11 21:02] SaiKishor-MSFT commented on #76349
@angrymrt Apologize for the delay regarding this issue.

I tested this setup and don't see any errors when trying to RDP to the VM using Bastion in a peered vnet and having only reader permission. I would suggest you to reach out to Azure Support to troubleshoot this issue further. Please let us know if you have any fyrther questions/concerns. Thank you!

[2021-06-11 21:07] dorseyroach opened #76837 "latest v2.1 image tag"
I'm not sure if it's an issue with the documentation or the docker image tag, but pulling from latest tag (as seen in the 2.1 steps) will still pull a v2.0 image.

Looking at the available tags at https://mcr.microsoft.com/v2/azure-cognitive-services/custom-form/labeltool/tags/list, it appears the documentation should be updated to specify `azure-cognitive-services/custom-form/labeltool:latest-2.1

[2021-06-11 21:12] ChaitanyaNaykodi-MSFT commented on #76586
Hello @codeBoarder, Thank you for your feedback.
I had a quick discussion with PG regarding this request and it was decided to not include the "autoscale" feature in this document as it might lead to some misunderstanding because autoscale is not a built-in feature in the Standard or Premium tier. It requires using Az Monitor AutoScale.
And the "Upgarde and Scale" is first document we recommend on

[2021-06-11 21:12] #76586 closed

[2021-06-11 21:14] JamesTran-MSFT commented on #76611
@Sudhirga
I just wanted to check in and see if you had any other questions or if you had a chance to review my previous comment?

[2021-06-11 21:16] wesmc7777 commented on #76421
@girishmk0602 after moving `parson.h` and `parson.c`, if you get a compile error regarding `xlogging.h` it probably means the IoT C SDK didn't build correctly during the beginning of the `setup.sh` script.

In my test, I think this was because *cmake* was not present on my RaspberryPi when I first ran the `setup.sh` script. Even after installing cmake, it failed until I manually installed libssl-d

[2021-06-11 21:19] TravisCragg-MSFT commented on #76442
@sosimon Thanks for the feedback! Could you share the Support Request # (SR#) that you worked with a support engineer on this case?

I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-06-11 21:28] Oury-MSFT commented on #76509
@SnehaGunda  Shall I raise a PR to update the statement ?

[2021-06-11 21:47] CIPop opened #76839 "X509 CA chain support for HTTPS/WebSocket"
X509 CA chain support for HTTPS/WebSocket is incorrect. A chain of 2 levels (CA->Device Certificate) already works on IoT Hub Prod.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a15f720-3efd-bcd7-ba39-d5c814bb8282
* Version Independent ID: bd3aa273-c8ae-e6ef-d4b4-e51ba614c670
* Content: [Turn on preview mode for Azur

[2021-06-11 21:53] VanMSFT commented on #76273
Thanks @y10e! Thanks for bringing up this issue! This issue has been addressed and the docs have been updated by @msftsettiy. I will go ahead and close this.

#please-close

[2021-06-11 21:53] JamesTran-MSFT commented on #76799
@ThijsLecomte
Thank you for your question! Following the documentation, you should be going to the:

Analytics blade (Active rules) -> Selecting/Copying the name of the Anomaly you want to query.
![image](https://user-images.githubusercontent.com/36619112/121751830-cc4d8d00-cac3-11eb-8006-f14d0c3d1a9d.png)

Navigating to Logs, copying the Kusto query from the documentation, and pasting it where it

[2021-06-11 21:55] VanMSFT commented on #76176
Hey @rohitnayakmsft - Can you please help explain the discrepancy between the IP addresses and the IP range for regions? Thanks!

[2021-06-11 21:57] fernandoferrini opened #76840 "New-AzureADMSRoleAssignment only creates Active Role Assignments, not Eligible ones"
The article misses an important part of the whole picture: the cmdlet **New-AzureADMSRoleAssignment** can only be used to create **Active** Role Assignments, and **not Eligible ones**. You should remark that, otherwise people can confuse about that and end up making bulk changes with the wrong assignment type.

If you create an Eligible Role Assignment using the cmdlet **Open-AzureADMSPrivilegedRo

[2021-06-11 21:59] JamesTran-MSFT commented on #76840
@fernandoferrini
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-11 22:00] TravisCragg-MSFT commented on #76776
@ToruMakabe Azure Application Gateway V2 SKU is always deployed in a way that will maintain high availability (requiring 2 instances), even if the instance count is manually configured to 1. [This is stated (indirectly) on the Application Gateway V2 SKU autoscaling & high availability section](https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-autoscaling-zone-redundant

[2021-06-11 22:07] JamesTran-MSFT commented on #76799
@ThijsLecomte
Thank you again for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-06-11 22:07] #76799 closed

[2021-06-11 22:53] SaiKishor-MSFT commented on #76533
@damendo Could you please look into this? Thank you!

[2021-06-11 22:54] TravisCragg-MSFT commented on #76485
@donchai Your understanding is correct! Each ER circuit can advertise it's own prefixes, and each circuit has a primary and secondary connection.

Your screenshot refers to the primary and secondary connection on the circuit itself, not a redundancy on the peering between your circuit and the VNET.

Please see [this document about redundancy and disaster recovery with private peering](https://docs

[2021-06-11 22:56] aronchick opened #76842 "Using an image that is public on docker"
I'm looking to use an image that's on Docker and public, and does not require a login. What should I do?

https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-custom-docker-image

When I follow these instructions:
[code]

I get: `Authentication failed for Container Registry: hub.docker.com.`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2021-06-11 22:58] SaiKishor-MSFT commented on #76830
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-06-11 22:59] SaiKishor-MSFT commented on #76824
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-06-11 22:59] TravisCragg-MSFT commented on #76795
@vhorne Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-06-11 23:06] SaiKishor-MSFT commented on #76649
Closing this as there is a similar issue-[ Github issue#76533](https://github.com/MicrosoftDocs/azure-docs/issues/76533). Please refer to the same. Thank you!

[2021-06-11 23:06] #76649 closed

[2021-06-11 23:07] SaiKishor-MSFT commented on #76203
@MasterKolka Any update?

[2021-06-11 23:19] karlochacon commented on #76749
I got this answer from support, so please update documentation for Azure Dedicated host, thanks

_Regarding you query, In case of physical node failure, Ideally you will get a notification about the failure and also Azure auto recovery mechanism will initiate and  start the SQL VM on node healthy node.  If auto recovery did not trigger   we  may need to manually stop and redeploy the VM which will

[2021-06-11 23:20] karlochacon commented on #76749
it can be assumed but stuff like that cannot be assumed so that's why I asked

[2021-06-11 23:20] Karishma-Tiwari-MSFT commented on #76800
Thanks for providing the update.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-06-11 23:20] #76800 closed

[2021-06-11 23:25] vmonge opened #76844 "Alert: A possible vulnerability to SQL Injection missing MITRE Tactics value"
Alert: A possible vulnerability to SQL Injection

Is that different sources for this alerts (SQL.VM/SQL.DB/SQL.MI/SQL.QW) can be considered as MiTRE Tactics: " PreAttack" and something else?
or all of them are "PreAttack" ?

Alerts in Security center are showing as PreAttack but not in official documentation I wonder if this is just a missing or multiple values.

![image](https://user-images.githu

[2021-06-11 23:32] SaiKishor-MSFT commented on #76659
@DanielHRio I have updated it accordingly as per [document](https://docs.microsoft.com/en-us/azure/synapse-analytics/security/how-to-connect-to-workspace-with-private-links). It will be updated soon. Thank you!

[2021-06-11 23:32] #76659 closed

[2021-06-11 23:35] SaiKishor-MSFT commented on #76665
@charwen Can you please share details regarding any updates wrt Bastion with AAD? Thank you!

[2021-06-11 23:35] Karishma-Tiwari-MSFT commented on #76819
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-11 23:37] Karishma-Tiwari-MSFT commented on #76786
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-11 23:38] YutongTie-MSFT commented on #76842
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-06-11 23:54] mike-urnun-msft commented on #76835
Hello @wcneumann219 - Apologies for the long silence, and your feedback is absolutely valuable to us. The original issue that you have opened is currently under review with our Content team and they may be tracking progress through an internal work item. We primarily use this repo/channel for driving improvements towards MS Docs, and we address How-to scenarios and product-related questions on [MS

[2021-06-12 00:23] rboucher commented on #73438
Still don't quite understand the discrepancy.  Waiting on PG.

[2021-06-12 00:25] Karishma-Tiwari-MSFT commented on #76516
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-06-12 00:25] #76516 closed

[2021-06-12 00:29] rboucher commented on #32730
#label:"CreateAzMonWIFeb2021"

[2021-06-12 00:30] rboucher commented on #38400
#label:"CreateAzMonWIFeb2021"

[2021-06-12 00:33] rboucher commented on #46604
We don't have any public announcements on this and doesn't look like we will soon.
#please-close

[2021-06-12 00:33] #46604 closed

[2021-06-12 00:36] rboucher commented on #56781
#label:"TriagedFeb2021"

[2021-06-12 00:37] rboucher commented on #59465
#label:"CreateAzMonWIFeb2021"

[2021-06-12 00:37] rboucher commented on #63098
#label:"CreateAzMonWIFeb2021"

[2021-06-12 00:38] rboucher commented on #63794
#label:"TriagedFeb2021"

[2021-06-12 00:39] BharathNimmala-MSFT commented on #76831
@sanjaydatasciencedojo Thank you for reaching out to us with your query, we will review it and get back to you at the earliest.

[2021-06-12 00:40] rboucher commented on #64027
#label:"CreateAzMonWIFeb2021"

[2021-06-12 00:41] rboucher commented on #67799
#label:"CreateAzMonWIFeb2021"

[2021-06-12 00:42] BharathNimmala-MSFT commented on #76813
@marc-perreaut Thank you for reaching out with your query, assigned this issue to our document author @bandersmsft to further review your query.

[2021-06-12 00:44] rboucher commented on #68739
#please-close

[2021-06-12 00:44] #68739 closed

[2021-06-12 00:46] rboucher commented on #69508
done.
#please-close

[2021-06-12 00:46] #69508 closed

[2021-06-12 00:49] ToruMakabe commented on #76776
@TravisCragg-MSFT Thanks. I got the background. The followings are my requests to the doc.

* Specifying capacity as "1" to be invalid. This may be a service specification but should be documented directly as it is confusing.
* It seems we cannot get the actual number of instances from Azure Management API or CLI. Should we get it from Azure Monitor [Metrics](https://docs.microsoft.com/en-us/azure

[2021-06-12 00:50] rboucher commented on #71866
#label:"CreateAzMonWIFeb2021"

[2021-06-12 00:50] rboucher commented on #73438
#label:"CreateAzMonWIFeb2021"

[2021-06-12 00:51] rboucher commented on #73435
#label:"CreateAzMonWIFeb2021"

[2021-06-12 01:03] rboucher commented on #68542
#label:"CreateAzMonWIFeb2021"

[2021-06-12 01:04] rboucher commented on #72431
#label:"CreateAzMonWIFeb2021"

[2021-06-12 01:04] rboucher commented on #72948
#label:"CreateAzMonWIFeb2021"

[2021-06-12 01:07] Karishma-Tiwari-MSFT commented on #76450
Can you please elaborate your scenario? Are you following the complete tutorial step by step and then seeing an error at this step: https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tutorial-build-task#test-the-build-task?

[2021-06-12 01:07] rboucher commented on #68596
This just merged recently. Published now.
#please-close

[2021-06-12 01:07] #68596 closed

[2021-06-12 01:24] Svijay-msft commented on #76823
Thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-06-12 01:27] Svijay-msft commented on #76834
Thanks for the question! We are taking a look into this and will get back to you soon.

[2021-06-12 01:29] Svijay-msft commented on #76837
Thanks for the question! We are taking a look into this and will get back to you soon.

[2021-06-12 01:32] Svijay-msft commented on #76839
Thanks for the question! We are taking a look into this and will get back to you soon.

[2021-06-12 01:34] Svijay-msft commented on #76844
Thanks for the question! We are taking a look into this and will get back to you soon.

[2021-06-12 02:00] rboucher commented on #74664
@reassign:normesta

Norm, can you help with this question? Or reassign as appropriate?

[2021-06-12 02:01] rboucher commented on #74664
#reassign:normesta
Norm, can you help with this question? Or reassign as appropriate?

[2021-06-12 02:41] Frankd4 opened #76845 "While Azure.Identity supports most authentication scenarios and providers that AppAuthentication has, there are some scenarios and features that are currently not supported: Windows integrated authentication provider System.Data.SqlClient.SqlAuthenticationProvider implementation (SqlAppAuthenticationProvider)"
[Enter feedback here]
What does this mean

While Azure.Identity supports most authentication scenarios and providers that AppAuthentication has, there are some scenarios and features that are currently not supported:

-Windows integrated authentication provider
-System.Data.SqlClient.SqlAuthenticationProvider implementation (SqlAppAuthenticationProvider)

On the page you are suggesting use Azure.I

[2021-06-12 02:55] wesmc7777 commented on #76421
@grishmk602 After testing again from scratch it looks like there are two problems above with the `setup.sh` script

1. Using the latest version of **Raspberry Pi OS with desktop** we don't appear to need to install the specific 1,02 version of `libssl-dev`. So try changing that section of the script as follows:

[code]

    This should resolve `cmake` not getting installed too.

2. The `wiringPi`

[2021-06-12 03:40] easonlauys opened #76846 "spearman_correlation is not available in Time Series Forecasting metric"
The table is showing spearman_correlation which is not available in Time Series Forecasting metric. Please double-check this.
Under Time Series Forecasting, there's only 3 choices in the Primary metric.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 585fff5e-cadd-8967-8c09-63d8afcb53b3
* Version Independent ID: 9527430

[2021-06-12 03:40] jonwbstr opened #76847 "Transfer Subscriptions to another tenant scenarios"
Business Mergers, Acquisitions and Sales find azure subscriptions moving between tenants regularly. An EA customer selling  one of it's business units, or acquiring new business units and wanting to merge into it's existing EA or CSP MCA agreement.

Currently the only option for a TenantA to TenantB scenario are:
Convert EA agreement to PAYGO, then transfer subscription to new tenant and leave as

[2021-06-12 03:47] nitin-narkar opened #76848 "Add request sample"
Can you please add a page that shows sample AS2 request message that can be posted via postman to the logic we just created ? That would complete full circle
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01308979-0d8a-71f3-4fb1-ebe6c35410ea
* Version Independent ID: 2591d589-8876-b1cb-906b-00b0ab

[2021-06-12 04:15] lipalath-ms opened #76849 "Guid.NewGuid in SubOrchestrator"
warning DF0102: 'Guid.NewGuid' violates the orchestrator deterministic code constraint.

I was going through https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-code-constraints#using-deterministic-apis article to understand about the above warning. The article says that 'These restrictions apply only to orchestrator functions. Other function types don't have such rest

[2021-06-12 04:53] BhargaviAnnadevara-MSFT commented on #76658
@nielsophey As discussed offline, as it seems like this issue is occurring on your local machine, please confirm if the issue persists even when run on [Azure Cloud Shell](https://shell.azure.com/bash). Cloud Shell usually runs on the latest Azure CLI versions available.

[2021-06-12 05:52] vikancha-MSFT commented on #73717
@Hecmay  We worked with the support team to get your request processed. Based on the latest updates from the support request it appears that you are unblocked and are able to deploy the NP-series VMs. Let us know if you need more help from us.

@Karishma-Tiwari-MSFT FYI, this issue can be closed.

[2021-06-12 08:08] Wahesh commented on #10766
I faced this today. Still an open issue

[2021-06-12 10:22] Svijay-msft commented on #76845
Thanks for the question! We are looking into this and will get back to you soon.

[2021-06-12 10:26] Svijay-msft commented on #76846
Thanks for the question! We are looking into this and will get back to you soon.

[2021-06-12 10:31] Svijay-msft commented on #76847
Thanks for the question! We are looking into this and will get back to you soon.

[2021-06-12 10:36] Svijay-msft commented on #76848
Thanks for the feedback! We are looking into this and will get back to you soon.

[2021-06-12 10:40] Svijay-msft commented on #76849
Thanks for the question! We are looking into this and will get back to you soon.

[2021-06-12 11:19] nekdima opened #76851 "Reflect the use of getSecret() method"
Dear,

Please reflect the use of getSecret() method which got introduced in v0.3.539 and encourage providing of a keyvault and secret name (actual resource will be referenced via *existing*) via a parameter file rather than the 'old way' of doing it via a keyvault resource id specification.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2021-06-12 12:56] sib-zi opened #76852 "unable to delete tenant (Remove domain services)"
hi all,

I am fairly new to the azure environment and sorry if this has been resolved before, I tried searching for an answer before posting but couldn't find it.
I was following [lab 1 ](https://microsoftlearning.github.io/AZ-104-MicrosoftAzureAdministrator/Instructions/Labs/LAB_01-Manage_Azure_AD_Identities.html) of AZ-104-MicrosoftAzureAdministrator, everything went smooth, but in the end, when

[2021-06-12 13:00] mandarsj opened #76853 "Data factory pipeline trigger is not activate with ci-cd deployment"
I had a daily trigger on a pipeline which was earlier in a deactivated mode on Dev and Test environment.

My deployment is being done using azure devops repo and ci-cd arm templates.

Now, I wanted to activate the trigger and accordingly publish the change in Test environment.
I did following steps:
->Activated trigger in DEV environment.
->Published changes to data factory.
->Verified in ADF repo

[2021-06-12 13:07] wolftheice opened #76854 "How does SQL know which column is the watermark column"
In the instruction for setting looking up a new watermark.
The query uses "item().waternark_column" which looks very similar to item().table_name. However, it is feasible to tell a name of a table, but not straightforward to know which column is for the watermark as there can be many columns of datetime type. I don't see the watermark column is defined or declared anywhere in the instruction.
---

[2021-06-12 13:09] #76854 closed

[2021-06-12 13:14] #73717 closed

[2021-06-12 13:46] cgillum commented on #76849
The code constraint rules such as the one for Guid.NewGuid() apply to all orchestration triggers Functions. This includes sub-orchestrator functions. Activity and entity-trigger functions are the ones that don’t have these restrictions.

[2021-06-12 14:36] michaelgobz opened #76855 "Driver 13 for Sql Server does not work yet its provided in the connection strings so what could have gone wrong"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7027370-2cda-fc7c-68f4-9f6aeeb4ee80
* Version Independent ID: 025794c1-a35e-2c6e-15ae-c0985a2ee082
* Content: [Use Python to query a database - Azure SQL Database & SQL Managed Instance](https://docs.microsoft.com/en-us/azure/azure-sql/database/conne

[2021-06-12 15:02] AnuragSharma-MSFT commented on #76855
@michaelgobz Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-06-12 15:34] mauricio-msft opened #76856 "[data-lake-storage-gen2/subsvc] .NET Azure.Storage.Blobs v12.9.0 breaks Task DumpQueryCsv"
Provided Task DumpQueryCsv sample doesn't work anymore when using .NET Azure.Storage.Blobs v12.9.0
Seems like when configuring InputTextConfiguration or OutputTextConfiguration, you must specify properties ColumnSeparator, QuotationCharacter, RecordSeparator and EscapeCharacter.

Otherwise, I get a System.ArgumentNullException for every unspecified property:

Exception: System.ArgumentNullExceptio

[2021-06-12 15:34] rwike77 commented on #72459
@morgansimonsen I'm still working out the procedure for adding custom signing keys, sorry for the delay.  If you're using custom signing keys, you should not need to set acceptMappedClaims in the app manifest.  You should either setup a custom signing key or update the app manifest, not both.  For the domain, whatever domain you have registered in the tenant should be good.  If you were getting cu

[2021-06-12 15:37] rwike77 commented on #73042
@khharper We spoke internally a little while ago.  I'm still working out the procedure for setting up custom signing keys, sorry for the delay.  Custom signing keys should be used for multi-tenant apps.  Setting acceptMappedClaims in the app manifest should only be used for single tenant apps.  Hope that helps.

[2021-06-12 15:51] mike-urnun-msft commented on #76854
@wolftheice Looks like you have closed this issue, were you able to resolve the issue?

[2021-06-12 15:55] mauricio-msft opened #76857 "[data-lake-storage-gen2/subsvc] Can't refer to columns by the name that is specified in the header row when using .NET Azure.Storage.Blobs v12.9.0"
I have an CSV file with a header row, and after updating package .NET Azure.Storage.Blobs to latest version (v12.9.0), whether I set true or false to HasHeaders property in InputTextConfiguration, it will be ignored.

So, I can't refer to columns by the name that is specified in the header row without getting an Azure.RequestFailedException

[code]

And... of course, my CSV file has a row header l

[2021-06-12 16:05] mike-urnun-msft commented on #76851
Hi @nekdima - Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-06-12 16:06] mike-urnun-msft commented on #76852
@sib-zi Thank you for your feedback! We will review and update as appropriate.

[2021-06-12 16:07] mike-urnun-msft commented on #76853
Hi @mandarsj - Thank you for sharing your feedback! Since this channel is for driving improvements towards MS Docs, could you provide us with a specific URL of the MS Doc that your feedback is most applicable to? That way, we're able to connect you with the right team that is best suited to address your feedback.

[2021-06-12 16:08] mike-urnun-msft commented on #76856
Hi @mauricio-msft - Thank you for sharing your feedback! Since this channel is for driving improvements towards MS Docs, could you provide us with a specific URL of the MS Doc that your feedback is most applicable to? That way, we're able to connect you with the right team that is best suited to address your feedback.

[2021-06-12 16:09] mike-urnun-msft commented on #76857
Hi @mauricio-msft - Thank you for sharing your feedback! Since this channel is for driving improvements towards MS Docs, could you provide us with a specific URL of the MS Doc that your feedback is most applicable to? That way, we're able to connect you with the right team that is best suited to address your feedback.

[2021-06-12 16:09] mauricio-msft commented on #76856
Hi @mike-urnun-msft - Yes, this is regarding doc: https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-query-acceleration-how-to?tabs=dotnet%2Cpowershell#retrieve-data-by-using-a-filter

[2021-06-12 16:10] mauricio-msft commented on #76857
Hi @mike-urnun-msft - Yes, this is regarding doc https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-query-acceleration-how-to?tabs=dotnet%2Cpowershell#retrieve-data-by-using-a-filter

[2021-06-12 16:13] AjayKumar-MSFT commented on #76521
@denious, Apologies for the delayed response.
If your site has a single instance, it will not be removed if it becomes unhealthy.
Hence, two or more instances should be used for Health check.

Typically, App Service restarts the underlying VM in an effort to return the instance to a healthy state.
I'm checking on this internally for the 'restart' interval.
![image](https://user-images.githubuserco

[2021-06-12 18:38] KeishaW commented on #76803
@Oury-MSFT I have a Visual Studio MSDN Subscription.

[2021-06-12 19:18] krispenner commented on #68917
Thank you for your insight @w0ut0. I was also told by Azure support that they are just confirming with their own tests and it should be officially supported by the end of July. Cheers!

[2021-06-12 19:44] kobulloc-MSFT commented on #76566
@Leonardo-Ferreira We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-06-12 19:44] #76566 closed

[2021-06-12 22:28] SAIMMINHAS opened #76858 "Cloud init feature isn't working"
Hi,

**Nginx package** is not to installing on to the Linux Virtual Machines using the 'Cloud init' feature. Below is a snapshot of:

![image](https://user-images.githubusercontent.com/30388154/121790242-47eb2f00-cbd5-11eb-8f58-b1f291d4cd3a.png)

Not sure if i'm doing it the wrong way.

Thanks.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2021-06-13 01:03] wolftheice commented on #76854
Hi Mike,

Thanks for following up. Yes, I saw the definition at the end.

Regards
Lawrence

[2021-06-13 01:51] Frankd4 commented on #76845
Thank you. I would like to connect to Azure SQL Database using "System Identity" using the new "Azure.Identity" but there are no examples for this and the documentation is confusing. Also, to get it work on a Development environment is very difficult not sure why, it works only when published to Azure App services when  using Microsoft.Azure.Services.AppAuthentication.Please help me with any step

[2021-06-13 04:04] oremao opened #76860 "Is there upgrade plan to fix Dataverse connector?"
We will receive following error when connecting to Dynamics 365 environment with ADF's Dataverse connector and Office 365 authentication method.

FCB 'EnableRegionalDisco' is disabled

Confirmed from MS Support, it was caused by regional Discovery Service deprecation, they gave RDS support extension to our tenant and we were told to migrate to service principal method.

However, is there upgrade p

[2021-06-13 04:31] Svijay-msft commented on #76858
Thanks for the question! We are taking a look into this and will get back to you soon.

[2021-06-13 07:07] vairakkumar-vairaperumal opened #76861 "upstream in coredns configuration is deprecated and generates error in 1.18.7 coredns versions in AKS 1.20+"
Adding upstream crashes coredns container

upstream in coredns configuration is deprecated and generates error in 1.18.7 coredns versions in AKS 1.20+
# upstream is no longer supported https://github.com/aws/containers-roadmap/issues/1115
# https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/#coredns-configmap-options

---
#### Document Details

⚠ *Do not edit this section.

[2021-06-13 10:45] SAIMMINHAS commented on #76858
Issue solved by myself.

[2021-06-13 10:45] #76858 closed

[2021-06-13 11:25] pascalwhoop commented on #37727
This isn't a bastion host service, it's a very expensive way to connect to your machine via web interface. A bit unfortunate. Completely defeats the point, SSH is 100x more powerful than what this service now offers

[2021-06-13 12:01] sbrcloudeon commented on #76338
@rthorn17 and @DCtheGeek:
If any RBAC assignments are currently inherited from a parent management group at the current branch or will be inherited on the new branch then our testing shows that User Access Administrator access to the subscription in question is also needed, to edit the existing or add new IAM permissions to the subscription itself.

[2021-06-13 15:43] VikasPullagura-MSFT commented on #76861
@vairakkumar-vairaperumal

Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-06-13 15:43] VikasPullagura-MSFT commented on #76861
@palma21 Can you please check and add your comments on this doc update request as applicable.

[2021-06-13 16:14] DocGreenRob opened #76863 ":( Application Error - after az webapp create --multicontainer-config-type compose"
Doing this tutorial https://docs.microsoft.com/en-us/azure/app-service/tutorial-multi-container-app

at the step where [Browse to the app](https://docs.microsoft.com/en-us/azure/app-service/tutorial-multi-container-app#browse-to-the-app)

when I browse to the application I get an error page saying:

![image](https://user-images.githubusercontent.com/7489324/121814788-e1035f80-cc40-11eb-9dfb-2510a5

[2021-06-13 16:48] mike-urnun-msft commented on #76860
Hi @oremao - Thank you for your feedback! Could you share with us the support case number, please? We will review and update as appropriate.

[2021-06-13 16:51] mike-urnun-msft commented on #76863
Hi @DocGreenRob - Thank you for your feedback! We will review and update as appropriate.

[2021-06-13 19:06] AjayKumar-MSFT commented on #76602
Apologies for the delay! As mentioned in this[ schema](https://docs.microsoft.com/en-us/azure/templates/microsoft.web/sites/config-authsettingsv2?tabs=json), loginParameters is implemented as an Array of strings. You may try to modify your file with this format.

"loginParameters": [
    "response_type=code id_token",
    "resource=xxxxxxxxxxxxxxxxxxxxxx"
]

Just highlighting more:
via azrest to i

[2021-06-13 19:14] markjbrown commented on #76761
I included a sentence with the other Important notes near the top of this article. Should merge Monday morning.

Thanks.

[2021-06-13 19:50] mlcooper opened #76864 "Document `Maximum events count`"
For the Event Hub connector for Logic Apps, if I put a number higher than 175 for `Maximum events count`, I get an error that the value must be between 1 - 175. Can you please document the `Maximum events count`?  Can you please also consider documenting how many events the Logic App will automatically set if I leave this value blank?  Thanks.

---
#### Document Details

⚠ *Do not edit this sectio

[2021-06-13 19:57] tshaiman opened #76865 "Missing tutorial on authenticating with Managed Identity"
[Enter feedback here]
may of the tutorials here use the API key as the sole mechanism for authenticating the client.
Actually storing keys in code is not recommended and should be avoided.
Even if the user will bring the API Keys from KV , Azure offers a much better way for authentication :  Managed Identity.

I was looking in the python SKD for cognitive services some samples on how to authentica

[2021-06-13 22:48] mike-urnun-msft commented on #76864
Hi @mlcooper - Thank you for your feedback! We will review and update as appropriate.

[2021-06-13 22:49] mike-urnun-msft commented on #76865
Hi @tshaiman - Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-06-14 01:20] nudbeach opened #76868 "On Event Hub SDK v2 Async"
See this,.
https://github.com/Azure/azure-cosmosdb-java/issues/382

According to the discussion, rxnetty's almost deprecated, v2 Async is based on this, this option's not available any more in conclusion. Consider this to deprecate

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7c2ad22-039f-8f84-7562-758d4fd25

[2021-06-14 01:57] ToruMakabe opened #76869 "Affinity when scaling out/in"
Does Application Gateway maintain affinity when scaling out/in?

I guess that Azure Load Balancer or the equivalent function is placed in front of Application Gateway instances. If so, the distribution of client requests may be [recomputed](https://docs.microsoft.com/en-us/azure/load-balancer/distribution-mode-concepts#use-cases) when adding or removing instances. Does Application Gateway maintain

[2021-06-14 02:56] MonikaReddy-MSFT commented on #76777
@5911224141 - Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-06-14 03:01] MonikaReddy-MSFT commented on #76798
@czmirek  - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-14 03:01] #76798 closed

[2021-06-14 03:15] AjayKumar-MSFT commented on #66479
Test issue

[2021-06-14 03:23] BretMishler opened #76871 "JSX code in JS files"
With the existence of code like the following:

[code]

shouldn't `App.js` be `App.jsx`?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5da4c0e7-0dff-f71e-efd9-ec996defef28
* Version Independent ID: 98411939-83ed-4762-076e-3033170ffa42
* Content: [Tutorial: Create a React single-page app that uses auth code flow - Micr

[2021-06-14 03:37] msdpalam opened #76872 "File 'https://contosolake.dfs.core.windows.net/users/NYCTripSmall.parquet' cannot be opened because it does not exist or it is used by another process."
I am following the article 2 Analyze using serverless SQL pool - https://docs.microsoft.com/en-us/azure/synapse-analytics/get-started-analyze-sql-on-demand, as is. When I tried to run the script below, from the article, it doesn't work for me.
SELECT
    TOP 100 *
FROM
    OPENROWSET(
        BULK 'https://contosolake.dfs.core.windows.net/users/NYCTripSmall.parquet',
        FORMAT='PARQUET'
    )

[2021-06-14 03:47] ShivaUdari opened #76873 "Portal & Doc has differences. Kindly check and do the needful"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c05d017a-8ce4-d3c2-333c-9f1decbc8e6c
* Version Independent ID: 7f2287e0-71d2-05ef-335b-45bb4cd6cfe3
* Content: [Manage app groups for Azure Virtual Desktop portal - Azure](https://docs.microsoft.com/en-us/azure/virtual-desktop/manage-app-groups?source

[2021-06-14 03:49] ShivaUdari commented on #76873
Unable to add application in App group in WVD aka Azure VD. Checked document to but found differences from portal and document.

[2021-06-14 04:03] CHEEKATLAPRADEEP-MSFT commented on #76872
@msdpalam Before you start analyze NYC Taxi data with a serverless SQL pool, make sure you have placed the sample data into the primary storage account: https://docs.microsoft.com/en-us/azure/synapse-analytics/get-started-create-workspace#place-sample-data-into-the-primary-storage-account

Hope this helps.

[2021-06-14 04:09] ShivaUdari commented on #76873
It took longer time than expected to replicate/show-up option to add Applications. Now it came up. Issue resolved 😊

Thank you!

[2021-06-14 04:09] #76873 closed

[2021-06-14 04:10] MayankBargali-MSFT commented on #76848
@nitin-narkar Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-14 04:19] AnuragSharma-MSFT commented on #76868
@nudbeach Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-06-14 04:21] VikasPullagura-MSFT commented on #76873
@ShivaUdari Thanks for confirming that the issue is resolved.

[2021-06-14 04:25] shashishailaj commented on #76871
@BretMishler Thank you for pointing that out. We will have the content team to check this and update as necessary .

[2021-06-14 04:40] SaiKishor-MSFT commented on #76203
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-14 04:40] SaiKishor-MSFT commented on #76349
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-14 04:40] #76349 closed

[2021-06-14 04:50] GitaraniSharma-MSFT commented on #76238
@tcsougan , We have assigned this to the content owner/author for review.

@duongau , I have looped you in the internal email. Please add a FAQ after discussing this issue with the PG.

[2021-06-14 04:54] GitaraniSharma-MSFT commented on #76390
@dcbrown16 , the services mentioned in [this doc](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-for-azure-services#services-that-can-be-deployed-into-a-virtual-network) are Azure services which can be directly deployed into a Virtual Network but Stream Analytics cannot be deployed into a Vnet directly, hence it is missing from the list. It only provides VNet support that a

[2021-06-14 04:54] #76390 closed

[2021-06-14 04:59] SwathiDhanwada-MSFT commented on #76482
@matuhinal As we haven't heard from you, We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-06-14 04:59] #76482 closed

[2021-06-14 05:15] psmanhas commented on #76823
@sakthi-vetrivel Can you please check on this issue and add your comment accordingly.

Thanks

[2021-06-14 05:32] SnehaAgrawal-MSFT commented on #76591
@seligj95 Thanks again for the feedback! The PR has been created for this, once verified by author would be visible.
We will now close this out but if you feel you need more information please just let us know

[2021-06-14 05:32] #76591 closed

[2021-06-14 05:33] yuharucan opened #76874 "AKV is not mandatory."
[Enter feedback here]
This page says the following:
If you enable Private Link in Azure Data Factory and block public access at the same time, make sure when you create a linked service, your credentials are stored in an Azure key vault. Otherwise, the credentials won't work.

But it seem to work well without AKV under this situation. I think AKV is not mandatory, only recommendation for security.

[2021-06-14 05:34] SnehaAgrawal-MSFT commented on #76597
@Thanks again for the feedback! The PR has been created for this, once verified by author would be visible.
We will now close this out but if you feel you need more information please just let us know

[2021-06-14 05:34] #76597 closed

[2021-06-14 05:35] SnehaAgrawal-MSFT commented on #76644
@yavar-hasanov Thanks again for the feedback! The PR has been created for this, once verified by author would be visible.
We will now close this out but if you feel you need more information please just let us know

[2021-06-14 05:35] #76644 closed

[2021-06-14 05:51] SnehaAgrawal-MSFT commented on #76605
@danferh Since we didn't here from you. We will close this out but if you feel you need more information please just let us know.

[2021-06-14 05:51] #76605 closed

[2021-06-14 05:52] jungwookim opened #76875 "There is a missing `else` in the sample code"
[Enter feedback here]
In the def of `getLibStatus`, there is a missing `else`.

[code]

I'm willing to create a pull request if I can.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56b86f59-7a22-90c6-9aa6-652b85975612
* Version Independent ID: b333ab7b-847b-7129-9b62-4b9b934747d7
* Content: [Continuous integration and

[2021-06-14 05:55] SnehaAgrawal-MSFT commented on #76635
@timoleo23 Thanks again for the feedback! This seems fine now and taken care. We will close this out but if you feel you need more information please just let us know

[2021-06-14 05:55] #76635 closed

[2021-06-14 05:57] vipulsparsh commented on #76844
@vmonge Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-06-14 06:05] ttnkumarabhishek commented on #76716
@AshokPeddakotla-MSFT  All the external links in this document are showing 404.

[2021-06-14 06:05] ankur8 commented on #66091
@Karishma-Tiwari-MSFT - I have installed aks 1.20.1 still I can see --docker-bridge-address is configured in kubernes in portal . How can we get rid of this in which version or process. ?

[2021-06-14 06:15] fmms commented on #73415
thanks. For everyone else, fix is comitted with https://github.com/MicrosoftDocs/azure-docs/commit/39b426db4d90d257b0e79dba1046f412a8ebb27e#diff-f7331dc8d6085d8fa484badcb565f9c42b7f3fbc3d85fe7ff48b3b854a727c2a .

[2021-06-14 06:18] AshokPeddakotla-MSFT commented on #76716
@ttnkumarabhishek We will check further and update the GitHub page. Meanwhile you can follow the documentation:
https://docs.microsoft.com/en-us/azure/iot-hub/tutorial-device-twins

[2021-06-14 06:20] benjamincburns opened #76877 "Page doesn't show how to enable monitoring of aks via ARM template"
This page shows how to enable monitoring of a new AKS cluster via Azure CLI and Terraform. How can I enable monitoring via a template?

Is it as simple as enabling the `omsagent` addon as shown in [this quickstart example](https://github.com/Azure/azure-quickstart-templates/blob/master/301-aks-application-gateway-ingress-controller/azuredeploy.json#L1779-L1784), or are there additional steps? Do a

[2021-06-14 06:24] CF8000 opened #76878 "Key information of "risk level" missing in table of sign-in risks"
The page is ok as such, however the key information of "risk level" is missing in the table of sign-in risks.

When formulating/configuring a conditional access policy in Azure identity protection, one has to choose risk levels where the policy should apply - however, this isn't really possible without knowing which sign-in risk carries what risk level.

Please add this info as an additional colum

[2021-06-14 06:25] benjamincburns commented on #75751
@mumian so in order to find out how to deploy a bicep template via pipelines I need to visit the ARM docs? Shouldn't this be addressed in the pipelines docs?

[2021-06-14 06:29] dshiraj opened #76879 "powershell section is incorrect"
[Enter feedback here]
The PowerShell part says that we will read the nic configuration and make the public IP Id value to be null and then update the nic.
We can't make the public IP id to $null

$nic.IpConfigurations.publicipaddress.id = $null
S C:\Users\xxxxx>  $nic.IpConfigurations.publicipaddress.id=$null
The property 'id' cannot be found on this object. Verify that the property exists and can

[2021-06-14 06:34] #76809 closed

[2021-06-14 06:35] dshiraj opened #76880 "Delete: Deletion of Public IPs requires that the Public IP object not be associated"
[Enter feedback here]

The virtual machine part says that
Set-AzPublicIpAddress to dissociate the IP address from the NIC configuration;
How?

This doesn't work.
Also, another doc is https://docs.microsoft.com/en-us/azure/virtual-network/remove-public-ip-address-vm which gives steps on how to disassociate public IP from NIC using PowerShell, which also doesn't work.
I submitted the feedback to tha

[2021-06-14 06:53] AshokPeddakotla-MSFT commented on #76839
@CIPop Thanks for the feedback! I have assigned the issue to the content author @jlian to evaluate and update as appropriate.

[2021-06-14 07:42] Skleni commented on #68279
It looks like I also need to provide a client id and secret when I set a tenant id. Where do I get these? Do I need to create an app registration manually?

[2021-06-14 08:13] varunrom opened #76882 "Content correctness"
[Enter feedback here]
Can you please review,
Can a reader role at subscription level enable traffic analytics?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a3b799a-7429-813c-c630-e6242c39b77f
* Version Independent ID: 8ad04d57-6370-c8dd-1049-1826a823bd12
* Content: [Azure traffic analytics frequently asked questions

[2021-06-14 08:13] t-souravgoel opened #76883 "How to fetch the parameters, passed to an activity function, in its function.json?"
I am trying to pass some payload from my python orchestrator function to my python activity function. I need to fetch CosmosDB data using one of the parameters value. I am using CosmosDB input binding in my activity function which has sqlQuery field using that parameter. I want to know how can I pass that variable to my CosmosDB input binding?

---
#### Document Details

⚠ *Do not edit this sectio

[2021-06-14 08:28] BhargaviAnnadevara-MSFT commented on #76658
@nielsophey Just following up to check if you have any further updates here.

[2021-06-14 08:32] ram-msft commented on #76782
@sanketdixit2013 Thanks, Personalizer learns from the collective behavior of users, through the features or attributes about them that you send to the service. It uses this information to train a shared model that’s updated with information from every interaction, improving personalization outcomes for all users.

https://azure.microsoft.com/en-us/services/cognitive-services/personalizer/#overview

[2021-06-14 08:41] juanjojulian opened #76884 "VM should be stopped but not deallocated for this feature to work"
After many tests we found out that the virtual machine should be stopped (shutdown from inside the operating system) but not deallocated for this feature to work. When a VM is stopped but not deallocated you are still charged for it.

The documentation states the following:

But in this case the VM cannot be deallocated. And it also says that this feature "lets you save costs" which is not the cas

[2021-06-14 08:47] ShaikMaheer-MSFT commented on #76874
@lrtoyou1223  Couple you please validate feedback and update details as appropriate?

[2021-06-14 08:51] cveld opened #76885 "Purging custom vision resource requires subscription scoped permissions"
We get the following error when using a service principal with an owner role on the resource group where the custom vision was located:

`
2021-06-14T07:10:25.3767866Z ##[error]AuthorizationFailed : The client '<redacted>' with object id '<redacted>' does not have authorization to perform action 'Microsoft.CognitiveServices/locations/resourceGroups/deletedAccounts/delete' over scope '/subscription

[2021-06-14 08:51] ShaikMaheer-MSFT commented on #76875
@mssaperla / @leifbro  Could you please validate feedback and add requested details as appropriate

[2021-06-14 08:57] ShaikMaheer-MSFT commented on #76860
@oremao Thanks for the question. Github forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilise Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html)

[2021-06-14 09:19] v-amallick commented on #76212
Hi @shanecastle-osharp

Thank you for letting us know. Currently, looking into the issue. Will get back soon.

[2021-06-14 09:39] amanmcse commented on #76834
@JonesMikael MAU billing model is enabled when subscription is linked to external identities. If subscription is not linked, 1:5 ratio billing model is applied, which allows up to 5 guest users for 1 Azure AD Premium license in a tenant.

When your tenant is linked to a subscription and you use External Identities features to collaborate with guest users, you'll be automatically billed using the M

[2021-06-14 09:39] #76834 closed

[2021-06-14 09:54] dstumpy opened #76886 "Inaccuracy in "Dates and timestamps" documentation for MAKE_TIMESTAMP"
I guess I found some inaccuracy in your documentation regarding the format parameter for the `MAKE_TIMESTAMP` function within the section `Construct dates and timestamps`.

I found the following code snippet, which doesn't recognizes seconds properly as uppercase `SS` does not refer to seconds.

[code]

At least lowercase formatting (`ss`) works for me and could prevent others from running into si

[2021-06-14 10:08] ram-msft commented on #76885
@cveld Thanks for the question. We are investigating the issue and will update you shortly.

[2021-06-14 10:31] HarshitaSingh-MSFT commented on #76878
Hello @CF8000 , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-06-14 10:33] BobaBrett commented on #74853
Hey. Just wondering if this has been looked into yet at all?

[2021-06-14 10:36] chamikasandamal commented on #76602
Thank you for the response.  `loginParameters` are working when we use `authsettingsV2` with V1 endpoint. However it is not working with the V2 `openIdIssuer ` endpoint. Is there anything we are missing here?

**Sample for V1 endpoint using AuthSettingsV2**
[code]

**Sample for V2 endpoint suing AuthSettingsV2** Only the changes are included. rest is same as above code

[code]

response is stuck i

[2021-06-14 10:45] SadiqhAhmed-MSFT commented on #76812
@dfatkulbayanova Just checking to see if you had a chance to look at the previous response. Please point to the doc and let us know your concern to help you further

[2021-06-14 10:48] SadiqhAhmed-MSFT commented on #76732
@TimoNordstrom-Nordcloud Thanks once again for sharing your valuable feedback.

@v-amallick For doc consideration

[2021-06-14 10:48] SnehaAgrawal-MSFT commented on #76695
@MasayukiOzawa Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2021-06-14 10:53] SwathiDhanwada-MSFT commented on #76877
@benjamincburns Thanks for your feedback.

Assigning to content author  @bwren for review.

[2021-06-14 10:54] CHEEKATLAPRADEEP-MSFT commented on #76886
@dstumPY Thanks for pointing out the issue, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/databricks-pr/pull/663](https://github.com/MicrosoftDocs/databricks-pr/pull/663)

The changes should be live once the PR is approved. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributi

[2021-06-14 11:07] MayankBargali-MSFT commented on #76883
@t-souravgoel Can you share the document that you are following for which you have observed the issue?

[2021-06-14 11:10] Sti2nd opened #76887 "Wrong number of function calls"
The documentation on [Handling errors in Durable Functions](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-error-handling?tabs=csharp#automatic-retry-on-failure) reads:

The `maxNumberOfAttempts` parameter passed in the retry options is described as "The maximum number of retry attempts" which means the total function call attempts is 4. The sentence should read:

[2021-06-14 11:11] t-souravgoel commented on #76883
It is not an issue, its more of a query
I can pass parameters to me activity function and retrieve them in the main script, but how can I retrieve the same params in function.json file of my activity function?

[2021-06-14 11:28] rjxby commented on #76788
hi @RohitMungi-MSFT , thank you for your quick response!
I saw the question on StackOverflow but it doesn't help.
The problem is that for the "Tenant ID" property parameters this approach works but for a property like "Login URL" it doesn't work.

[2021-06-14 11:30] skyline9002 opened #76888 "Not working on launch shell"
Tried the command on multiple containers one, but will print out something like log

![image](https://user-images.githubusercontent.com/7085798/121885548-67669100-cd68-11eb-9211-468984d066f5.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 227e2c2f-2305-38fc-16db-1f9a760e4caf
* Version Independent ID: fc6d1fd0-3918-

[2021-06-14 12:07] weyCC81 commented on #76214
UseCase 1 - Clarification
Used Permission: microsoft.directory/users/basic/update | Update basic properties on users
Action: Update [Attribute] name form any User

Portal | Section | Attribute | UseCase 1
-- | -- | -- | --
aad portal azure com | Identity | Name | Doesn't Work
aad portal azure com | Identity | First name | Doesn't Work
aad portal azure com | Identity | Last name | Doesn't Work
aad

[2021-06-14 12:32] routpk opened #76889 "Exception has occurred : Response status code does not indicate success: NotFound (404)"
# Exception has occurred: CLR/Microsoft.Azure.Cosmos.CosmosException

Hi all, i'm trying to read the collections from Azure cosmos db using MongoDB API account .   it fails with following error in debug window . any suggestion to fix this error ?

# Local Env Setup
- [ ] API Code written in .Net Core
- [ ] Debugging the API from local network.
- [ ] Using Mac OS .
- [ ] using VS code .

#Error Det

[2021-06-14 12:33] venkateshtarra opened #76890 "Configure Local RBAC issue for Azure FHIR API"
Hi Team,

I am working on Azure FHIR API and trying to configure Local RBAC settings  as mentioned in this article but I am unable to update Allowed Object id's in authentication blade as it is greyed out. Can anybody help me to understand if some settings should be changed in FHIR API to edit this setting.

Thanks in advance.
Venkatesh Tarra.

---
#### Document Details

⚠ *Do not edit this sectio

[2021-06-14 12:35] routpk commented on #76889
Document i have reference used for coding https://docs.microsoft.com/en-gb/azure/cosmos-db/sql-api-get-started

[2021-06-14 12:37] psmanhas commented on #76884
@juanjojulian Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-06-14 12:37] psmanhas commented on #76884
@Heidilohr Can you please check and add your comments on this doc update request as applicable

[2021-06-14 12:40] MonikaReddy-MSFT commented on #76777
@5911224141 -
Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2021-06-14 12:40] #76777 closed

[2021-06-14 12:42] psmanhas commented on #76888
@skyline9002
Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-06-14 12:45] DaveSimioneTS opened #76891 "Duplicated content in two sections"
In the sections "Identity management" and "Key Vault authentication options", the first two paragraphs are duplicated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 380a95c7-7ec9-087a-4d30-76c7cd771b9d
* Version Independent ID: 20c434b9-a72d-9c09-4eae-100604172cc0
* Content: [Azure Key Vault security overview](https:/

[2021-06-14 12:47] routpk commented on #76889
[](url)

[2021-06-14 12:49] AjayKumar-MSFT commented on #76869
@ToruMakabe, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-14 12:51] AjayKumar-MSFT commented on #76879
@dshiraj, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-14 12:53] AjayKumar-MSFT commented on #76880
@dshiraj, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-14 12:55] AjayKumar-MSFT commented on #76882
@varunrom, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-14 12:56] AjayKumar-MSFT commented on #76887
@Sti2nd, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-14 13:17] shashishailaj commented on #76891
@DaveSimioneTS Thank you for pointing this out. We will engage the content team to review and update as needed.

[2021-06-14 13:28] joaustin opened #76894 "Infiniband configuration for Windows Server on Azure is incomplete and unclear"
Steps required to configure infiniband on Windows servers are not documented on ADC. There is tribal knowledge among the HPC GBB team, but no documentation.  Here are the steps I discovered were required to configure and successfully use the infiniband adapters on the HB60, 120, and HC44 nodes.

for standalone Virtual Machines you need to put them in an availability set that is associated with the

[2021-06-14 13:30] andyjenkins1 commented on #76748
Thanks all!.

[2021-06-14 13:33] adamdost-msft opened #76895 "Docs need to explicitly state that phone call authentication is blocked on trial tenants"
Azure AD Tenants that are on trial subscriptions do not have the ability to use phone call verification. Customers should have a better experience when trying to set this up because our documentation doesn't align with what they see in the tenant. The SSPR blade will show that it's not possible but our docs page needs to have this added in the FAQ page.

![image](https://user-images.githubusercont

[2021-06-14 13:37] sven73 opened #76896 "Is there a log that contains Unauthorized access to the service bus"
We have a problem that when connection made with Azure Service Bus from VS2019, with Azure Authentication Account set, that on machine A it works fine and on machine B it doesn't work. Exactly the same code and same settings.

On the machine that doesn't work we receive the following exception:
`Unauthorized access. 'Listen,Manage,SubscriptionRuleRead' claim(s) are required to perform this operati

[2021-06-14 13:59] taraldr opened #76897 "document.title incorrectly contains "(Preview)"?"
The `document.title` of https://docs.microsoft.com/en-us/azure/cdn/endpoint-multiorigin is currently `"Azure CDN endpoint multi-origin (Preview) | Microsoft Docs"`. This indicates that the feature is in preview. However, there is no indication other than this that the feature is in preview. This makes me unsure of whether the feature is in fact in preview, or if the title of the document is simply

[2021-06-14 14:19] j-mantu commented on #67195
@DaveZimmermann Kindly clarify the comment mentioned above to ensure there's no confusion as we close this issue.

[2021-06-14 14:20] tfitzmac commented on #76764
@asilverman - thanks for this feedback. I'll update the documentation.

[2021-06-14 14:23] psmanhas commented on #76894
@joaustin Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-06-14 14:24] psmanhas commented on #76894
@vermagit Can you please check and add your comments on this doc update request as applicable

[2021-06-14 14:54] fuglede commented on #68279
That's what I assumed as well.

[2021-06-14 15:01] pumpkinclarinet opened #76900 "Enable host based encryption on existing VMs"
On same article we state that this can be configured on existing VMs and not.
Please confirm and update.

Under Restrictions (https://docs.microsoft.com/en-us/azure/virtual-machines/disks-enable-host-based-encryption-portal#restrictions):
![image](https://user-images.githubusercontent.com/53820260/121913691-84c83a80-cd29-11eb-99cb-f71dd05cee54.png)

Under deploy a VM (https://docs.microsoft.com/en

[2021-06-14 15:08] ryansimmen commented on #70732
@Bashar-MSFT is this issue fixed? It seems like it's still outstanding.

[2021-06-14 15:10] YutongTie-MSFT commented on #76623
@gholliday Hello, thanks for the feedback! I have created a PR for this and you should see this alive soon!
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-06-14 15:10] #76623 closed

[2021-06-14 15:10] YutongTie-MSFT commented on #76610
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-06-14 15:10] #76610 closed

[2021-06-14 15:11] v-amallick commented on #75774
Hi @pmaslej

Please get back to us if you have more queries.

Thank you.

[2021-06-14 15:11] v-amallick commented on #75774
#please-close

[2021-06-14 15:11] #75774 closed

[2021-06-14 15:12] baanders commented on #76578
Hi! I'm looking into this today with the code author and hope to have a resolution soon. :)

[2021-06-14 15:18] tfitzmac commented on #76764
The update will be published today.
#please-close

[2021-06-14 15:18] #76764 closed

[2021-06-14 15:19] KranthiPakala-MSFT commented on #76889
Hi @routpk,

Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https:

[2021-06-14 15:20] vhorne commented on #76637
updated
#please-close

[2021-06-14 15:20] #76637 closed

[2021-06-14 15:39] JamesTran-MSFT commented on #76895
@adamdost-msft
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-14 15:40] lgayhardt commented on #76735
Hi @wagnerbsouza thank you for bring this to our attention.  One of our community members submitted a [public PR](https://github.com/MicrosoftDocs/azure-docs/pull/76698) to fix the spacing issue. The changes should go live today or tomorrow.

Thank you!
#please-close

[2021-06-14 15:40] #76735 closed

[2021-06-14 15:43] deepakkumarsharma2007 commented on #61446
Post migratino from Angular 7 to 11
We received similar error, but from Angular App. And redirectUrl is registered as web in Authentication section of AAD App.
The problem is it works in localhost:8080

MSAL Log: [Tue, 27 Apr 2021 12:23:51 GMT] :  : @azure/msal-browser@2.14.1 : Info - Emitting event: msal:handleRedirectStart
main-es2015.f147e7f539e3d0f3fc6a.js:1 MSAL Log: [Tue, 27 Apr 2021 12:23:5

[2021-06-14 15:44] samadane opened #76903 "Office365 type not working with Regional Disco and is also deprecated"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-06-14 15:46] samadane commented on #76903
https://docs.microsoft.com/en-us/azure/data-factory/connector-dynamics-crm-office-365#example-dynamics-online-using-office-365-authentication

This type of auth is deprecated for connecting to D365 online
https://docs.microsoft.com/en-us/power-platform/important-changes-coming#deprecation-of-office365-authentication-type-and-organizationserviceproxy-class-for-connecting-to-dataverse

Also it will

[2021-06-14 15:52] dmakinson commented on #76533
any update to this please?

[2021-06-14 15:52] dmakinson commented on #76533
it seems this was closed without a resolution???

[2021-06-14 16:17] okan-aslaner-bib commented on #74615
Any update? When will the port number on the picture be corrected?

[2021-06-14 16:20] Arcalise08 commented on #49147
This is very troubling information as it directly limits how many containers can be used in one go and the complexity of the setup per container. I personally hit the limit with 7 basic containers(not using specialized networks or anything) I did have the environmental variables placed in the compose file for convenience so i have a little room to work with once I move those out. But still very li

[2021-06-14 16:27] MonikaReddy-MSFT commented on #76900
@pumpkinclarinet -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-06-14 16:29] pzerger opened #76904 "Sentinel Role Descriptions"
The Description column for all Sentinel Roles in the roles table is incorrect. Correct descriptions available at https://docs.microsoft.com/en-us/azure/sentinel/roles

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99581afb-7950-6daa-7227-055d04446b7e
* Version Independent ID: f1a5bf89-9e54-aede-3a9a-70788a95927b
* Cont

[2021-06-14 16:34] vermagit commented on #76894
Hi @joaustin, while there is no 1 page which talks specifically about all the steps you listed above, the above steps 1-4 are indeed documented. This doesn't preclude the need for a doc like you described above, so I welcome you to create one (doc or blog).
See https://docs.microsoft.com/en-us/azure/virtual-machines/sizes-hpc#cluster-configuration-options for #1. The exact steps for doing this on

[2021-06-14 16:35] zivraf commented on #76749
Hello,
There are several aspects in your question worth elaborating one:
- When VM fails, Azure will try to heal it somewhere else. The same applies when using dedicated hosts. Azure monitors your VM and host and will try to recover the VM in-place (same host). Based on the trigger (reason) and in-place recovery attempts, Azure may decide to heal your VM elsewhere on another hardware. The same thi

[2021-06-14 16:37] ChaitanyaNaykodi-MSFT commented on #76896
Hello @sven73,
Thank you for your feedback! We will review and update as appropriate.

[2021-06-14 16:42] sib-zi commented on #76852
the issue has been resolved by logging in into azure from a different country and deletion went smoothly.

[2021-06-14 16:42] #76852 closed

[2021-06-14 16:46] rp-msft opened #76905 "Details on portal options and controlplane/nodepool separate upgrade procedure"
[This section should also cover 2 more aspects of upgrade procedure:
1) options to upgrade control plane and nodepools separately
2) portal methods to upgrade clusters
]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7010bd58-42b1-5c90-3253-05deed855be8
* Version Independent ID: c890efb2-cdaf-a3eb-d54f-0e7ccbd4314d
* C

[2021-06-14 17:00] NavtejSaini-MSFT commented on #76509
@SnehaGunda Can you please check this and take decision of the Cx edit.

[2021-06-14 17:00] tnsholding opened #76907 "How can custom claims be obtained from OpenID connect provider?"
It's not clear how custom claims from an OpenID connect provider can be used.

In my concrete example I'm using Azure B2C as custom provider. The user flow in B2C adds some custom claims to the token. How can there be read from within the backend function for a static web app? - it seems the header "x-ms-client-principal" only contains the following info:

`{"identityProvider":"b2c","userId":"<gui

[2021-06-14 17:02] ecfan commented on #76864
@mike-urnun-msft,

This limit should appear on the connector's technical reference page along with any other connector limits:

[https://docs.microsoft.com/connectors/eventhubs/](https://docs.microsoft.com/connectors/eventhubs/)

Adding @ShyamSunder90 to help

[2021-06-14 17:04] ecfan commented on #76848
@divyaswarnkar, please create the doc work item and provide the sample? Thanks!

[2021-06-14 17:04] Oury-MSFT commented on #76890
@venkateshtarra Thanks for reaching out. We are looking into this issue and will get back shortly Thanks

[2021-06-14 17:04] ecfan commented on #75629
@divyaswarnkar, please advise, thanks!

[2021-06-14 17:05] ecfan commented on #74722
@divyaswarnkar, please respond, thanks!

[2021-06-14 17:06] HitenBhavsarMSFT commented on #75773
+1 @tcsougan, I am the data engineer worked with on these cases.  Customer have customer DNS and they must use the DNS forwarding which is not listed on this public facing document.  if you need case number I can provide that detail as well

[2021-06-14 17:10] HitenBhavsarMSFT commented on #75775
+1 @tcsougan, I am the data engineer worked with on these cases. Customers have customer DNS, and they must use the DNS forwarding which is not listed on this public facing document. if you want, I can provide additional information and case number detail as well.

[2021-06-14 17:10] hpsin commented on #74899
Yes, it's technically optional, but we highly recommend being precise about which target audience you want a token for.  Otherwise it's somewhat unpredictable what you will get back.  For best practices and reliability, we call it required.

[2021-06-14 17:10] hpsin commented on #74671
#please-close

[2021-06-14 17:10] #74671 closed

[2021-06-14 17:15] hpsin commented on #74347
Graph tokens are a special, non-standard JWT format that you can't validate, that is correct, as they use some special logic that's internal to MSFT (remember, there is no access token format specified in OAuth2).  Please always test using your own APIs - someday Graph tokens will be encrypted, and then you certainly won't be able to validate them.  I'll look at updating this to warn the developer

[2021-06-14 17:16] hpsin commented on #74269
@psignoret - can you take a look at this and give an opinion on better documenting prompt=consent, since it solves some of the problems of apps accepting the plaintext, unauthenticated return of /adminconsent as a validated truth?

[2021-06-14 17:17] hpsin commented on #74899
#please-close

[2021-06-14 17:17] #74899 closed

[2021-06-14 17:30] JamesTran-MSFT commented on #76501
@yayoayala
Thank you for your time and patience throughout this issue!

After creating a Collection, my Global Admin (microsoft.com) found the Salesforce Sandbox app, but my Application Admin (testuser001@currenttenant.com) wasn't able to.
![image](https://user-images.githubusercontent.com/36619112/121928829-68aaa600-ccf5-11eb-9160-b5d7ced4fe0a.png)

**Findings:**
I tried to work around this issue

[2021-06-14 17:32] #76611 closed

[2021-06-14 17:35] SaiKishor-MSFT commented on #76533
@dmakinson I closed the issue#76649 as itsa duplicate of this issue#76533. This issue is still being looked into by the author. We will update it soon with a resolution.

[2021-06-14 17:39] JnHs commented on #75180
I'm going to close this issue now but please let us know if you have additional feedback. Thanks again!
#please-close

[2021-06-14 17:39] #75180 closed

[2021-06-14 17:44] MashaMSFT commented on #69868
#assign:MashaMSFT

[2021-06-14 17:44] MashaMSFT commented on #43428
#assign:MashaMSFT

[2021-06-14 17:44] MashaMSFT commented on #74734
#assign:MashaMSFT

[2021-06-14 17:44] JnHs commented on #76671
Thanks @bitsofinfo for the feedback. I've created a task for this suggestion and will work with the PM to prioritize these updates against other work in the future. Since this is not a correction to the current doc content, I'm going to close this issue.  Thanks again!
#please-close

[2021-06-14 17:44] #76671 closed

[2021-06-14 17:45] JamesTran-MSFT commented on #76904
@pzerger
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-14 17:47] snoerenberg commented on #75182
Hi @JamesTran-MSFT @jeevansd whats the status?

[2021-06-14 17:51] BhargaviAnnadevara-MSFT commented on #76658
@nielsophey Thanks for confirming offline that the issue is now resolved. We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-06-14 17:51] #76658 closed

[2021-06-14 17:57] sashkotarasenko opened #76908 "Just make Azure Function CLI working as promised"
This how Microsoft's Azure Function runs on Microsoft's OS when trying to create function according Microsoft's guides.
Excellent product, very descriptive error output

C:\projects\nodejs\LocalFunctionProj>func new --name HttpExample --template "HTTP trigger" --authlevel "anonymous"

**One or more errors occurred. (A task was canceled.)**

---
#### Document Details

⚠ *Do not edit this section. I

[2021-06-14 18:00] whhender commented on #71157
I have spoken with @v-jheichman. The team has been through the scripts and has not been able to reproduce the issue.
This looks like a problem with the environment, potentially with the path set in the script.

@v-jheichman and team were able to work around the issue by creating new sample databases.

The issue will be closed.

[2021-06-14 18:00] whhender commented on #71157
#please-close

[2021-06-14 18:00] #71157 closed

[2021-06-14 18:05] JamesTran-MSFT commented on #76680
@desariyahmom
Since our documentation is correct, I'll go ahead and close this out. However, I'll continue to work with Sandra offline for this issue.

[2021-06-14 18:05] #76680 closed

[2021-06-14 18:17] mwestergaard opened #76909 "Typo in example"
I believe there is a typo in the first python example block. "blob_service_client_instance" is defined but then appears as "blob_service_client" in the next step.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f45a6b5-0fea-7fbb-5d4d-37e0e2583fd7
* Version Independent ID: 7be6f792-09f8-c22f-86b6-d0f690e9b3a4
* Content:

[2021-06-14 18:31] wesmc7777 commented on #53585
The issues related to this can be resolved using the following information. We will update the `setup.sh` script to address these issues...

It looks like there are two problems above with the setup.sh script

* Using the latest version of **Raspberry Pi OS with desktop** we don't appear to need to install the specific `1.02` version of `libssl-dev`. So try changing [that section of the script](ht

[2021-06-14 18:34] masnider commented on #76786
This is dependent on the listener/transport, but if there is long-running work going on then hooking onto the token passed to RunAsync is recommended. Normally we recommend that long running work be done "in the background" via RunAsync for this reason. The samples demonstrate several patterns and unfortunately this doesn't belong in this doc since it is intended just to describe the service metho

[2021-06-14 18:39] marktab commented on #76909
Thanks @mwestergaard -- this typo will be fixed in the next update

[2021-06-14 18:39] baanders commented on #76802
Looks like this change has gone live! Thanks @SatishBoddu-MSFT for making the fix.

#please-close

[2021-06-14 18:39] #76802 closed

[2021-06-14 18:41] baanders commented on #76578
#assign:danhellem

[2021-06-14 18:46] sig9 commented on #75708
Just noting here that the ticket I opened on 5/24 is still unresolved.  I've been told they can reproduce the issue, but that is it.  I don't know why Security Center status shows green if recommended remediation actions can not be executed.   I've asked them to change security center to show impaired until this can be resolved.

[2021-06-14 18:48] sig9 commented on #75708
@SaurabhSharma-MSFT if you have access to support tickets  you would see that this is not a product question.  It is either a documentation issue or product issue.  In either case I think the documentation could mention that "This feature is not currently working as verified by Azure support"

[2021-06-14 18:54] SaiKishor-MSFT commented on #76524
@tesharp Can you send more details about your configuration, like a snapshot of the rules you have configured and the error?

[2021-06-14 18:55] jvalente-salemstate commented on #76807
@mike-urnun-msft
The following all rerference 50053 as locked because too many attempts.

https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-aadsts-error-codes

https://docs.microsoft.com/en-us/azure/hdinsight/domain-joined/domain-joined-authentication-issues

https://docs.microsoft.com/en-us/azure/active-directory-b2c/threat-management

MCAS uses this as the description for

[2021-06-14 18:56] BharathNimmala-MSFT commented on #76559
Thanks again @yutaro113 for reaching out. For enabling distributed tracing for Java Function apps , one of the application setting which needs to be enabled is XDT_MicrosoftApplicationInsights_Java -> 1. For additional details on the same , please refer to [this ](https://docs.microsoft.com/en-us/azure/azure-monitor/app/monitor-functions#how-to-enable-distributed-tracing-for-java-function-apps) do

[2021-06-14 18:56] #76559 closed

[2021-06-14 19:05] SaiKishor-MSFT commented on #76720
@ishmeet177

As seen below, you cannot use the same port for 2 listeners at the same time. Are you referring to something else? Please explain further in detail if that is the case and we will be glad to assist further. Thank you!

![image](https://user-images.githubusercontent.com/68254272/121945239-6867d600-cd08-11eb-84e0-b1a3b471e7de.png)

[2021-06-14 19:06] Oury-MSFT commented on #76803
@KeishaW This type of subscription won't work. You can add your pay as go subscription yo see the option. Thanks

[2021-06-14 19:13] JamesTran-MSFT commented on #76768
@JustYT
Thank you for your time and patience throughout this issue!

When you say EDU plans, are you referring to [Azure for Student](https://azure.microsoft.com/en-us/free/students/) or [Microsoft 365 Education](https://www.microsoft.com/en-us/education/buy-license/microsoft365) plans?

If you have any other questions, please let me know.
Thank you for your time and patience throughout this issue

[2021-06-14 19:24] JamesTran-MSFT commented on #76895
@adamdost-msft
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-06-14 19:33] SadiqhAhmed-MSFT commented on #76638
@Johnnytechn Appreciate your patience.
Could you kindly explain what is system time and actual time for Azure VM Backup? In the cloud world there is only time zone set by customer, which will be used for all purposes.

Let me know if you need any other clarifications

[2021-06-14 19:33] Oury-MSFT commented on #76805
@shubhi97 It is been some time we haven't heard from you. Does this mean your issue is resolved.? Please let us know if you are referring to Azure SQL, MI,SQLVM? Thanks

[2021-06-14 19:34] carmencrincoli opened #76910 "Azure Portal default is TLS 1.2, not TLS 1.0"
This page says by default new Azure Storage Accounts enable you to use TLS 1.0 and higher, however the create account wizard in the portal defaults to TLS 1.2.  Is this an inconsistency between the Azure Portal and Azure CLI/PowerShell? Or is the page simply out of date and in need of update? Either way, the page should be updated to reflect that the Azure Portal defaults to TLS 1.2 when you creat

[2021-06-14 19:37] MarileeTurscak-MSFT commented on #75738
Closing since @LizaShak has opened the PR here: https://github.com/MicrosoftDocs/azure-docs/pull/76636

CC @johndowns

[2021-06-14 19:37] #75738 closed

[2021-06-14 19:42] MicrosoftGuyJFlo commented on #76878
Risk level are covered lower in the article un the section [Risk levels](https://docs.microsoft.com/azure/active-directory/identity-protection/concept-identity-protection-risks#risk-levels)

Each risk detection does not have a specific level low, medium, or high.

Choosing acceptable risk levels for your policies is covered in the article [How To: Configure and enable risk policies](https://docs.m

[2021-06-14 19:42] JamesTran-MSFT commented on #75182
@snoerenberg
Thank you for the follow up on this! I reached out to @jeevansd who is currently looking into your issue and will update as soon as possible on when the latest plugin will be reflecting within the download center.

[2021-06-14 19:51] jks05c opened #76911 "No banner reading "Migrate smart detection to alerts (Preview)""
Not seeing banner called "Migrate smart detection to alerts (Preview)."

Is there something that needs to happen before I can see this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d2e595b-45d5-fd63-b2e2-4c5ef787ada5
* Version Independent ID: 0bc5114f-0e4f-3cf2-e0b9-622c9a46aebd
* Content: [Upgrade Azure Monitor App

[2021-06-14 20:22] JamesTran-MSFT commented on #76904
@pzerger
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

![image](https://user-images.githubusercontent.com/36619112/121951165-6a816300-cd0f-11eb-83c8-cfde179dfb32.png)

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time

[2021-06-14 20:22] #76904 closed

[2021-06-14 20:23] rbgigo commented on #69658
@psmanhas

Just wondering, is there a move regarding ACI Vnet and Azure Load-Balancer support?

I noticed that it is possible to to configure a load-balancer backend pool referencing the IP address of a ACI container group. So in general load-balancing would work but when configuring a NSG on the VNet that owns the container instances the NSG seems to have no effect.

Can you comment regarding the

[2021-06-14 20:28] DerekHerman-MSFT commented on #76857
@mauricio-msft This seems to be a product issue/bug rather than a documentation issue. I'd recommend posting your issue in https://github.com/Azure/azure-sdk-for-net/issues This will allow our SDK team to review and potentially resolve the issue. If you feel the documentation still needs to be updated after resolution please let us know and we can reopen this issue.

[2021-06-14 20:28] #76857 closed

[2021-06-14 20:38] kwill-MSFT opened #76913 "Powershell sample doesn't include queue binding"
The Powershell examples show CosmosDB bindings using the QueueTrigger binding, but it doesn't actually include the QueueTrigger binding in the function.json.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9e3fe74-1d65-41eb-6a5e-0595e6d06029
* Version Independent ID: 8933389b-f4c0-acbd-afe3-86f18738c1f9
* Content: [Azu

[2021-06-14 21:01] YutongTie-MSFT commented on #76751
@marktab here to see if there any planned optimized solution besides the document. Thanks.

[2021-06-14 21:07] YutongTie-MSFT commented on #76756
@SepidehSaba Hello, the computer vision is under general available now from April according to the document https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/whats-new#computer-vision-v32-ga

[2021-06-14 21:07] #76756 closed

[2021-06-14 21:10] Karishma-Tiwari-MSFT commented on #76905
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-06-14 21:17] TheUniquePaulSmith opened #76915 "Unclear whether to set HTTP Custom Header"
**Custom domain overview** - Step 4, states request to AAD B2C endpoint includes a custom HTTP header that contains the original custom domain name. Yet **Create a new Azure Front Door instance**, shows a backend host header matching the b2clogin.com domain.

Should the backend host header be the custom domain name? Or the original {tenantname}.b2bclogin.com?

---
#### Document Details

⚠ *Do not

[2021-06-14 21:28] mmacy commented on #76181
@boomalator I'm going to close this issue out but it's accounted for in the proposal above and will be addressed. Let me know if you have any additional feedback on the above, would love to hear it. We digging into the nuts-and-bolts implementation soon, starting with a pilot of one app type, so any input you'd like us to consider would be good. Thanks! #please-close

[2021-06-14 21:28] #76181 closed

[2021-06-14 21:29] marktab commented on #76751
@YutongTie-MSFT  and @siddharthnobellIdtn
This page is a simple example -- see https://docs.microsoft.com/en-us/python/api/overview/azure/storage-blob-readme?view=azure-python for more options.

The options are entirely driven by what is available in the Azure API

[2021-06-14 21:30] byronthe123 opened #76916 "createChatThreadOptions participants.id example in docs"
In the @azure/communication-chat docs found at the following link https://www.npmjs.com/package/@azure/communication-chat?activeTab=readme, the createChatThreadOptions example shows the `participant.id` as a '<USER_ID>' of type string, which is incorrect and resulted in errors (see more at https://github.com/Azure/azure-sdk-for-js/issues/15600).
[code]

The correct implementation of the user id is

[2021-06-14 21:43] SHERMANOUKO commented on #76818
Hi @davidcorrigan714

The documentation has been updated with better wording. In a nutshell, you use a refresh token primarily to get new access tokens.  When you do, you also get a new refresh token. Whenever this new refresh token is sent back with the new access token, the old refresh token is not revoked by MS Identity Platform.

The docs will now read:

_Refresh tokens have a significantly lo

[2021-06-14 21:53] MashaMSFT commented on #72692
Hi @alex4108 , actually, changing that variable is insufficient in configuring an external load balancer so we're working on a more comprehensive change to this doc to better support external load balancer configuration. This change should be live next week.

I'll close out this Git Issue but please feel free to comment should you need anything further.

Thanks again for improving our docs! I hope

[2021-06-14 21:53] #72692 closed

[2021-06-14 21:55] amasover opened #76919 "App Service VNET integration does not support ipv6"
Hello, when I attempt to create an app service vnet integration to a vnet with ipv6 address space assigned I get the following error:

[code]

I tried adding `WEBSITE_VNET_SUPPORT_DUAL_STACK_SOCKETS=1` to the app service with no effect.

Please add this limitation to the documentation.

Reference:
#45991
https://feedback.azure.com/forums/217313-networking/suggestions/40968280-appservice-with-vnet-

[2021-06-14 21:57] JamesTran-MSFT commented on #76915
@TheUniquePaulSmith
Thanks for your feedback! We will investigate and update as appropriate.

[2021-06-14 22:02] brjohnstmsft commented on #76682
The examples in the docs use a [variant of EBNF that's also been used by the W3C](https://www.w3.org/TR/REC-xml/#sec-notation) (look at the "Related work" section of that Wikipedia page). We use this particular syntax in the articles because it's fed directly into a tool that generates the syntax diagrams.

[2021-06-14 22:18] JnHs commented on #76519
Hi @bitsofinfo - thanks so much for raising this issue. After investigation it looks like taskSlotsPerNode is not yet supported in Azure CLI. I have updated the document to use maxTasksPerNode instead (as it did previously), which should work. Once support for taskSlotsPerNode is available we'll update this again. I believe this should address the issue, but if you are still experiencing any issue

[2021-06-14 22:18] #76519 closed

[2021-06-14 22:40] adrienjt commented on #38116
What about Lsv2-series local NVMe disks? Are they covered by SSE? If not, are they covered by Encryption At Host?

[2021-06-14 22:55] bandersmsft commented on #76812
@dfatkulbayanova You're absolutely correct, the Power BI app only supports EA agreements. I've updated the article accordingly. Thanks for raising this issue.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/162395

#please-close

[2021-06-14 22:55] #76812 closed

[2021-06-14 23:21] ChaitanyaNaykodi-MSFT commented on #76689
Hello @brandonh-msft,  Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.
@craigshoemaker, looks like there were some changes on the SDK side and some properties are not available anymore. Could you please have a look?

[2021-06-14 23:24] ChaitanyaNaykodi-MSFT commented on #76849
Thank you @cgillum.
Hello @lipalath-ms, we will now proceed to close this issue out. Please tag me in your response if there are additional concerns. Thank you!

[2021-06-14 23:24] #76849 closed

[2021-06-14 23:29] hpsin commented on #74269
#reassign::psignoret

[2021-06-14 23:31] KranthiPakala-MSFT commented on #76897
Hi @taraldr
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-06-14 23:34] KranthiPakala-MSFT commented on #76903
@samadane
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-06-14 23:37] KranthiPakala-MSFT commented on #76907
@tnsholding
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-06-14 23:39] KranthiPakala-MSFT commented on #76908
Thank you for reaching out. At this time we are reviewing the feedback and will provide an update as appropriate

[2021-06-14 23:40] BharathNimmala-MSFT commented on #76911
@jks05c Thank you for reaching out to us with your query. As I validate with our test subscription I don't see that option either let me further validate this with our internal product team and keep you updated as I have more information. Also, based on the outcome of the discussion, we will have a backlog item to update the document accordingly.

[2021-06-14 23:40] KranthiPakala-MSFT commented on #76910
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-06-14 23:42] KranthiPakala-MSFT commented on #76913
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-06-15 00:08] bangdu-ms commented on #75753
Hi @GitaraniSharma-MSFT @vhorne @MayankBargali-MSFT Can you please kindly confirm and help with the fix? It has been open for weeks and it does not seem to be a tough one.

[2021-06-15 00:23] rbkaspr opened #76921 "E2E User Authentication tutorial is out of date and doesn't seem to work properly"
This page no longer appears to work with the v2 auth configuration and needs to be updated. The Azure Resource Explorer errors out when trying to apply the proscribed additionalLoginParameters parameter which requires using the Azure CLI tool as a workaround.

The `resource` parameter is also apparently not supported in v2, and having the setting in place causes authentication to completely break.

[2021-06-15 00:45] YusakuIto-yui opened #76922 "Adding the note for v1 solution deprecation into Japanese version"
[Enter feedback here]
In English (en-us), I can find the note that Start/Stop VMs solution (v1) will be deprecate on 5/21/2021. However, there is no note in Japanese (ja-jp) version. Could you add the same note into Japanese version as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 225c9d05-83dd-b006-0025-3753f5a

[2021-06-15 01:20] Mr-feu opened #76923 "Viettel-smart"
#sign-off

_Originally posted by @PatAltimore in https://github.com/MicrosoftDocs/azure-docs/pull/76263#issuecomment-853449949_

[2021-06-15 01:50] ram-msft commented on #76782
@sanketdixit2013 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-15 01:50] #76782 closed

[2021-06-15 02:19] TravisCragg-MSFT commented on #76776
@ToruMakabe Thank you for outlining what to add to the docs! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-06-15 02:39] Golovac opened #76925 "Powershell Sample Broken"
Hi,

The powershell sample for "Create managed virtual network via Azure PowerShell" Errors on the below lines
Create managed Virtual Network resource
New-AzResource -ApiVersion "${apiVersion}" -ResourceId "${vnetResourceId}"

New-AzResource : InvalidResourceRequest : Invalid resource request. Resource type: 'ManagedVirtualNetwork', Resource name: 'default' 'Error: Invalid payload'.

Where $apiVer

[2021-06-15 03:11] BharathNimmala-MSFT commented on #76922
@YusakuIto-yui Thanks a lot for bringing this to our notice. I am internally checking with the right contacts to see how we can update the non-English version. Will keep this thread updated. Thanks

[2021-06-15 03:12] emmet-m opened #76926 "Invalid Javascript in ADAL code snippet"
There are 3 code snippets in the [ADAL vs MSAL comparison (scopes section)](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-compare-msal-js-and-adal-js#scopes-for-acquiring-tokens) which use invalid Javascript object notation (seems to be using the C# object notation).

For example, this:
[code]
Which should be:
[code]
With the other two snippets suffering a similar mistake.

[2021-06-15 03:40] Johnnytechn commented on #76638
Let me give you an example. For example, the current system time of a customer's Linux virtual machine is 9:00 CST in China, and
 the current actual time is 1:00 UTC, there is no problem with the backup of the VM in this scenario. However, if the current system time is 18:00 CST due to some misoperation of the customer or synchronization errors of the system time, the above error will occur when t

[2021-06-15 03:42] AjayKumar-MSFT commented on #76916
@byronthe123, Thanks for taking time to share your value feedback.
I believe you're referring to the steps/example outlined in this doc:  [Quickstart: Add Chat to your App | JavaScript](https://docs.microsoft.com/azure/communication-services/quickstarts/chat/get-started?pivots=programming-language-javascript#start-a-chat-thread)  - Kindly confirm on this, while I'm checking on this.

[2021-06-15 03:44] vipulsparsh commented on #76926
@emmet-m Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-06-15 03:52] AjayKumar-MSFT commented on #76919
<a target="_blank" class="user-mention" data-hovercard-type="user" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" data-hovercard-url="users/amasover/hovercard" href="https://github.com/amasover" data-reactroot="">@amasover</a>,&nbsp;<span style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsy

[2021-06-15 03:56] AjayKumar-MSFT commented on #76921
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><a target="_blank" class="user-mention" data-hovercard-type="user" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" data-hovercard-url

[2021-06-15 03:56] Fronizzle opened #76927 "Message: AADSTS50020: User account 'Flyinfro0105@gmail.com' from identity provider 'live.com' does not exist in tenant 'Microsoft' and cannot access the application 'f44b1140-bc5e-48c6-8dc0-5cf5a53c0e34'(Microsoft Edge) in that tenant. The account needs to be added as an external user in the tenant first. Sign out and sign in again with a different Azure Active Directory user account."
[Request Id: aa3fa7d5-7196-4ff1-8100-df8eebd4c500 Correlation Id: 841e55b9-15c4-4e1f-8e93-bc78887b60a8 Timestamp: 2021-06-15T03:50:33Z Message: AADSTS50020: User account 'Flyinfro0105@gmail.com' from identity provider 'live.com' does not exist in tenant 'Microsoft' and cannot access the application 'f44b1140-bc5e-48c6-8dc0-5cf5a53c0e34'(Microsoft Edge) in that tenant. The account needs to be added

[2021-06-15 04:07] ShaikMaheer-MSFT commented on #76925
@Golovac Thank you for sharing feedback. We are actively validating it and will get back to you soon

[2021-06-15 04:20] AjayKumar-MSFT commented on #76923
@Mr-feu, Thanks for taking time to post this feedback. I see PatAltimore (our author) has **sign-off** the PR - reviewed and approved the requested changes to be merged into the repo (it's the process to perform PR merge) .  To know more about Git sign off, please [see this](https://github.com/git/git/blob/b2c150d3aa82f6583b9aadfecc5f8fa1c74aca09/Documentation/git-commit.txt#L154-L161). If you hav

[2021-06-15 04:22] AnuragSharma-MSFT commented on #76855
@michaelgobz I was looking into the article and it mentioned '**_ODBC Driver 17 for SQL Server_**'. Could you please point me to the section where driver 13 is mentioned?

[2021-06-15 04:34] vipulsparsh commented on #76713
@sgolota Thanks for reaching out.  These are all the parameters we show if we have the data, you can use anyone to calculate your FP, it also have a Device browser option which should be related to user agent string :

![image](https://user-images.githubusercontent.com/63580915/121993216-b04a3400-cdc0-11eb-9c92-76b57e38e8af.png)
![image](https://user-images.githubusercontent.com/63580915/121993271

[2021-06-15 04:45] AjayKumar-MSFT commented on #76701
yutaro113, Your feedback has been shared with the content owner for further review.

[2021-06-15 05:00] SwathiDhanwada-MSFT commented on #76535
Assigning to content author @lgayhardt for review.

[2021-06-15 05:11] tamram commented on #76910
@carmencrincoli - We state that the portal default is 1.2:

*When you create a storage account with the Azure portal, the minimum TLS version is set to 1.2 by default.*

I can't find the statement you are referring to. However, please note that although the portal defaults to 1.2, you can change it to 1.1 or 1.0. All of those versions are supported by Azure Storage. The default is the recommended

[2021-06-15 05:11] #76910 closed

[2021-06-15 05:11] HarshitaSingh-MSFT commented on #76878
@CF8000, does the response from @MicrosoftGuyJFlo help you?

[2021-06-15 05:13] Disparaitre opened #76928 "powerBI template download link invalid"
[Enter feedback here]
powerBI template download link https://aka.ms/networkwatcherpowerbiflowlogstemplate invalid

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d1e255c-292c-4128-5279-e89e4219e5ee
* Version Independent ID: 407f24da-c012-0b9c-0ef7-ac47bb49d735
* Content: [Visualizing Azure NSG flow logs - Power BI - Az

[2021-06-15 05:38] maku0119 opened #76929 "Please Update Regional availability"
Please update the regional availability as, at least, I confirmed that ZRS can be deployed in Japan East though the document describes only LRS is available in the region.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00e43ae5-d548-0d4d-570d-845b41b495c9
* Version Independent ID: 6519e9c8-5e17-c9f9-c348-e9e8e73c9ffd
*

[2021-06-15 05:48] VikasPullagura-MSFT commented on #76749
@zivraf Thanks for sharing the details.

@karlochacon Hope the provided information solves your query. Let us know if you have any further follow-ups on this.

[2021-06-15 05:54] karlochacon commented on #76749
thanks a lot, that's what I need, I totally get 2 VMs for HA but not all customer can do that

[2021-06-15 05:56] VikasPullagura-MSFT commented on #76749
@karlochacon
We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-06-15 05:56] #76749 closed

[2021-06-15 06:03] shubhi97 commented on #76805
@Oury-MSFT sorry for the delay.
I am migrating the data to Azure SQL from On-premises.

[2021-06-15 06:08] RohitMungi-MSFT commented on #76837
@dorseyroach Thanks for spotting this. These changes are now updated in the document.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-06-15 06:08] #76837 closed

[2021-06-15 06:14] #76889 closed

[2021-06-15 06:25] HarshitaSingh-MSFT commented on #76783
Thank you so much for providing this feedback! We will incorporate this feedback and make changes soon. Stay tuned!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-15 06:25] #76783 closed

[2021-06-15 06:32] HarshitaSingh-MSFT commented on #76927
Hello @Fronizzle, thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-06-15 06:53] ishmeet177 commented on #76720
Thanks @SaiKishor-MSFT.
I would request you to update below FAQ with more detailed info.

**Can I use the same port for both public-facing and private-facing listeners?
No.**

The above FAQ is true but it doesn't clarify about basic/multisite listener.
From what I have observed, if there is a basic listener already configured for App Gateway public frontend, it is not possible to create a multi-si

[2021-06-15 06:54] v-lanjli commented on #74728
Fixed in this PR [#162424](https://github.com/MicrosoftDocs/azure-docs-pr/pull/162424)

[2021-06-15 06:56] v-hagamp commented on #58879
#please-close

[2021-06-15 06:56] #58879 closed

[2021-06-15 07:03] dfatkulbayanova commented on #76812
@bandersmsft thank you for updating, since it was a bit misleading for CSP providers ( MCA or Azure Plan as of last year )

[2021-06-15 07:14] yoelhor commented on #76783
Dear @tlourey, thanks for the feedback. I'm updating the article with the relevant information. Note, verifying the app is recommended but not mandatory.  I have added a new section under the next steps. So, companies will be aware of the extra recommended steps.

[2021-06-15 07:14] joshkyh opened #76931 "Augmenting the Documentation"
Configure your environment, add:
1. For windows, Ensure that C:\path-to-anaconda3 is in your PATH environment.
2. For windows, ensure that you allow scripts to be executed.
a. `Set-Execution-Policy` -ExecutionPolicy RemoteSigned could be useful. You would need to run powershell as administrator.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-06-15 07:16] v-manish opened #76932 "We are always getting Retry-After value as 17 Second for Azure Storage"
Hello Team,

In this document, we have below statement which talks about Retry-After header value.  We are using azure storage blob service and we are always getting Retry-After value as 17 Second.

As per Product Group, this is expected behavior.  RETRY-AFTER is a suggestion rather than an exact time for mitigation. Also from the HTTP/1.1 Specification https://datatracker.ietf.org/doc/html/rfc723

[2021-06-15 07:20] tlourey commented on #76783
I think it may be required @yoelhor. I'm domain verified but not publisher verified however it still comes up as "unverified".

You may need to distinguish between domain verification and publisher verification in the update.

The issue I'm facing is that I've done Domain verification but it's still coming up as "unverified" when using a Microsoft account. The B2C docs should really distinguish be

[2021-06-15 07:24] MayankBargali-MSFT commented on #76887
@Sti2nd The section talks about the "Automatic retry on failure" and it specifically talks about the retry policy. Therefor it mentioned that the function will call three times and waits 5 seconds between each retry.
I do understand your concerns you want the first call also to be include when the durable function was the maximum three retry attempt but I feel it will create more confusion how man

[2021-06-15 07:24] yoelhor commented on #76631
Closing due to inactivity.

#please-close

[2021-06-15 07:24] #76631 closed

[2021-06-15 07:29] yoelhor commented on #76543
The implicit flow [already mentioned in this doc](https://docs.microsoft.com/azure/active-directory-b2c/tutorial-register-spa#enable-the-implicit-flow). Closing this issue.

#please-close

[2021-06-15 07:29] #76543 closed

[2021-06-15 07:37] sgolota commented on #76713
we are not able to implement any changes in the calculation process, only mark sign-ins as safe. Can it be adjusted from the Microsoft side?

[2021-06-15 07:59] davihern opened #76933 "in .net running 32 bits Direct/TCP still make queries by https"
Note: When .Net SDK and Direct + TCP is configured, if the process is running in 32bit mode the queries are still using https

As per PG explained in a support case:
For a DotNet application either on non windows platform (e.g., Linux), or on 32bit CPU arch or if the app is not specifically compiled for 64bit CPU, for each Query SDK sends a Query plan fetch request to GW over http.

---
#### Docum

[2021-06-15 08:12] SadiqhAhmed-MSFT commented on #76708
@Siby22071989 What I mentioned in the previous post is right, if you add a debug switch to the az command; you could see that the URL used is:

'https://management.azure.com/subscriptions/$subId/providers/Microsoft.Consumption/budgets/test2?api-version=2018-01-31'

![image](https://user-images.githubusercontent.com/44458118/122017042-3ecdae00-cddf-11eb-8d1f-4c31310f5bb4.png)
I don’t think the API

[2021-06-15 08:17] SwathiDhanwada-MSFT commented on #76932
@v-manish Thanks for your comment. We will review the issue and get back to you shortly.

[2021-06-15 08:27] yoelhor commented on #76915
The document is correct. Both the `Backend host name` and the `Backend host header
` should be the same. This is the default behavior. The default value for the host header field is the host name of the backend.

The header that is mentioned in the overview is not the `HOST` header. It's a custom one `X-Forwarded-Host`.

I'm updating the article and close this issue.

[2021-06-15 08:33] mpowrie opened #76934 "Please also show REST API calls"
The article lists Azure Portal and Powershell commands for managing blob backups, but not REST API calls.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb741ba5-039d-d609-7795-e4900b0174d4
* Version Independent ID: 6181e7de-8415-e07f-f6c9-a5d4c4460231
* Content: [Configure operational backup for Azure Blobs - Azure Ba

[2021-06-15 08:34] PatricSten opened #76935 "Visio diagram?"
Possible to provide the visio diagram or the link to the pack where the icon is included?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a1d3f69-74ba-0ba9-17ba-c7c1086d2662
* Version Independent ID: 7f2680d3-7d10-b253-bdc3-ca661b5da5af
* Content: [Azure Bastion](https://docs.microsoft.com/en-us/azure/bastion/bastion-o

[2021-06-15 08:52] SumanthMarigowda commented on #76697
@gary918 Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused. I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your re

[2021-06-15 08:52] #76697 closed

[2021-06-15 08:52] jitendraRai opened #76936 "Temporary Access Pass: Time between generation and use within 10 seconds is not working"
SO link:- https://stackoverflow.microsoft.com/questions/261510
Temporary Access Pass: Time between generation and use within 10 seconds is not working

---
#### Document Details

**Expectation:-** Could you please update the document with proper reason why 10 seconds is the time to use TAP code.

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ee

[2021-06-15 08:57] tnsholding commented on #76907
Some additional information:
If I set up a default web app and configure it to use the same B2C flow (using "Authentication (classic)" - Azure Active Directory and with custom issuer url pointing to B2C), I can perform a login with B2C and get all claims and id_token on the ".auth/me" endpoint.

How can the exact same configuration be done in the Static Web App version? - it seems the ".auth/me" e

[2021-06-15 09:07] SumanthMarigowda commented on #76726
@droushd Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.  Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-06-15 09:11] Sti2nd commented on #76887
@MayankBargali-MSFT Thank you for your reply! I completely understand that the section tries to explain retry, and find the current sentence confusing, (as it is wrong).

The example it refers to is this code, which calls the function **four** times, three of which are retries :)

[code]

May I suggest another rewrite

[2021-06-15 09:15] kausui opened #76937 "Azure Firewall Rule limits"
Previous version mentioned rule limits of all rule types. However, the current version mentions only network rule.
The users need to know the rule limits which include Application rule and DNAT rule too.
According to my confirmation, number of all type rules has not been changed from 10,000.
Could you improve the description about rule limit?

e.g.
10,000. Following rule types combined:
unique sou

[2021-06-15 09:20] yoelhor commented on #76544
Hi @amanmcse, @msmimart has a PR that covers the sign-in options feature. The PR should be publish very soon. You can close your PR.

[2021-06-15 09:21] yoelhor commented on #76544
Dear @pauldulong , thanks for the feedback. We are updating the article with the relevant information. A new version will publish later this week. I'm closing this issue.

[2021-06-15 09:22] #76544 closed

[2021-06-15 09:43] yoelhor commented on #76552
Please check out the [new doc](https://docs.microsoft.com/azure/active-directory-b2c/configure-authentication-sample-spa-app) we published yesterday. The new doc covers the API part as well.

Note, we are rewriting the app integration docs under the following section. Please stay tuned for further updates.

![image](https://user-images.githubusercontent.com/20111866/122031309-412c0a00-cdd7-11eb-82

[2021-06-15 09:46] MayankBargali-MSFT commented on #76931
@joshkyh Thank you for your feedback! We will review and update as appropriate.

[2021-06-15 09:57] yutaro113 opened #76938 "Minumum RBAC to enable/disable each function in Azure Functions"
Hi, team.
I'm confusing about RBAC behavior for the use case mentioned in the title. (some action seems not listed in this doc as those are needed)

Below is the detail:
To enable each function in Azure Functions, I found below action needs to be allowed in the Custom Role.
・Microsoft.Web/sites/write (to make diable button clickable)
・Microsoft.Web/sites/functions/* (to complete enable/disable ope

[2021-06-15 09:57] TheITguy666 opened #76939 "Incomplete information"
on the 'Monitoring - Sign-ins' table, the Global Reader role is missing (besides the global administrator)
According to this other document:
https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/concept-sign-ins#who-can-access-it

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f9558c0-abb6-24f8-81c

[2021-06-15 09:57] shashishailaj commented on #76936
@jitendraRai Thank you for your feedback . We will engage with the content team and see how best documentation can be updated ?

[2021-06-15 09:59] SadiqhAhmed-MSFT commented on #76934
@mpowrie Thanks for the feedback. We will check with the concerned team and get back if there is any update to share here.

[2021-06-15 10:01] shashishailaj commented on #76935
@PatricSten Thank you for your query . Can you confirm which exact Icons/Visio diagrams are you looking for ?

[2021-06-15 10:02] ClaudiaSchulz commented on #47846
@DashleenBhandari-MSFT I still haven't found any documentation on how to add authorisation for a second back-end API. Could you point me to some up-to-date documentation?
I basically want to do [this](https://docs.microsoft.com/en-gb/azure/app-service/tutorial-auth-aad?pivots=platform-linux) but with two back-ends.

[2021-06-15 10:03] shashishailaj commented on #76935
@PatricSten In case you are looking for the icons for azure services you can find the same here. https://docs.microsoft.com/en-us/azure/architecture/icons/ . These are SVG and you can download them after agreeing to the terms on the page. I am not sure if vision diagram for the picture provided on the page is available but icon sets are sure available in the architecture center.

[2021-06-15 10:15] mossywell opened #76940 "Add -AutoSize to see the VM Names"
In the first code sample in the section "Sample PowerShell scripts for Azure Disk Encryption", can I propose that you add "-AutoSize" to the last line of code. Without it, VM names are truncated too extensively to see which VMs are encrypted and which are not?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2021-06-15 10:21] HarshitaSingh-MSFT commented on #76938
Hello @yutaro113 , thanks for the question! We are taking a look into this and will get back to you soon.

[2021-06-15 10:23] HarshitaSingh-MSFT commented on #76939
Hello @TheITguy666, thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-06-15 10:27] wimvanleuven opened #76941 "References to "Azure Cache for Redis""
While reviewing this doc, I noticed many (8 in total?) reference to "Azure Cache for Redis".
I assume these are incorrect and should be Azure Cognitive Services?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 160a480d-0c64-6d6a-1b77-4e07b5b241ef
* Version Independent ID: e2307982-02d6-2975-bc32-f43ec53ae2cc
* Content:

[2021-06-15 10:27] alephenne opened #76942 "Typo in the title of one link in the Standard Connectors section : "Blog" instead of "Blob" (Azure "Blog" Storage)."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 470961ba-3289-e684-f027-8f82e826b804
* Version Independent ID: b31439c7-fbbf-9530-aee9-ec99e2a6328a
* Content: [Managed connectors for Azure Logic Apps - Azure Logic Apps](https://docs.microsoft.com/en-us/azure/connectors/managed)
* Content Source: [a

[2021-06-15 10:48] #76915 closed

[2021-06-15 10:49] shashishailaj commented on #76856
@normesta This one may need a sample update . Could you please review and help on this one ?

[2021-06-15 10:56] shashishailaj commented on #76928
@Disparaitre Thank you for your feedback . We will investigate and update the thread.

[2021-06-15 11:01] RohitMungi-MSFT commented on #76941
@wimvanleuven Thanks for spotting this. Yes, this should be "Azure Cognitive Services".
@msmbaldwin Could you please correct the document to change the references of "Azure cache for Redis"?

[2021-06-15 11:04] gclementimicrosoft opened #76944 "Error in installation steps"
In the installation steps of the page the steps 10 and 11 don't reflect the dashboard:

Step 11 comes before step 10.

Please update the documentation accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0eddfa5b-1e69-a074-db05-a9138327170c
* Version Independent ID: 7952af48-217c-d753-2ec0-a14fe75867cd
* Content

[2021-06-15 11:40] sringler opened #76945 "Chrome Extension to work"
To let the windows 10 account extension to pass the device join state successfully, you need to ensure that there is no Chrome NativeMessagingBlocklist configured. If the chrome policy is configured like
[HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Google\Chrome\NativeMessagingBlocklist]
"1"="*"
you also have to set the following key:
[HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Google\Chrome\NativeMessagingAll

[2021-06-15 12:03] Hbaele opened #76946 "Office 365 license is also sufficient"
Page is in conflict with what is stated at https://azure.microsoft.com/en-us/pricing/details/active-directory/ where Office 365 licensing is sufficient!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72f2e675-436d-dcd4-fa27-49408b201158
* Version Independent ID: 4d821732-fc10-f4a6-3c7d-77bce75299d7
* Content: [Add bran

[2021-06-15 12:12] shashishailaj commented on #76538
@GeoJim1218 You should treat the same as a single error code. read the JSON as array and return the first value for error code. As per your second questions , I am still trying to find out more on this and will update you .

[2021-06-15 12:24] Siby22071989 commented on #76708
@SadiqhAhmed-MSFT : Please close. Thank you. It would be good to have the document updated with this details as I see a lot of confusion around the documentation.

[2021-06-15 12:25] AjayKumar-MSFT commented on #76929
@maku0119, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-15 12:33] AjayKumar-MSFT commented on #76933
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><a target="_blank" class="user-mention" data-hovercard-type="user" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" data-hovercard-url

[2021-06-15 12:36] slebodat opened #76948 "Does it also work with Azure Devops?"
Hi there,

is that feature also avaialble for Azure Devops pipelines?

cheers....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b1e11ed-5b50-6a6e-5a9a-4d7e01bac87f
* Version Independent ID: 80164130-963e-df06-6789-a2c149a932ab
* Content: [Azure Defender's vulnerability scanner for container images in CI/CD workflows]

[2021-06-15 12:55] psmanhas commented on #76940
@mossywell Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-06-15 12:55] psmanhas commented on #76940
@msmbaldwin Can you please check and add your comments on this doc update request as applicable

[2021-06-15 12:56] rjxby commented on #76788
Have an update here!

Found a solution for my problem.

I didn't find this mentioned in docs, but _loginUrl_ parameter populated through the _loginUri_ variable, so **instead of**

[code]

**it should be**

[code]

The same behaver for _resourceUrl_, in ARM template it should be mentioned as _resourceUri_.

It will be nice to mention somewhere in docs, maybe someone can point me where I can create

[2021-06-15 13:00] tfitzmac commented on #76932
@v-manish - thanks for this feedback. I am not seeing which part of the documentation you think should be changed. It includes the following statement which seems to match your description:

"The response includes a Retry-After value, which specifies the number of seconds your application should wait (or sleep) before sending the next request."

Are you saying you get the Retry-After value even wh

[2021-06-15 13:01] SadiqhAhmed-MSFT commented on #76708
@Siby22071989 Thank you for confirmation. Much appreciate your feedback about doc-improvement.

@bandersmsft To review and update the documentation.

[2021-06-15 13:01] #76708 closed

[2021-06-15 13:11] MonikaReddy-MSFT commented on #76900
@roygara - Thanks for updating the doc.
@pumpkinclarinet - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-15 13:11] #76900 closed

[2021-06-15 13:15] vipulsparsh commented on #76713
@sgolota @can you send a screenshot ?

[2021-06-15 13:25] ziodave opened #76949 "link to spammy site"
The link 'The Developer's Guide to Service Bus' points to a spammy web site.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afed582b-fb3f-30b3-b119-6c4a9218bf34
* Version Independent ID: d4cf3473-21c1-2409-e7ac-9ad93fbc5895
* Content: [Compare Azure Storage queues and Service Bus queues - Azure Service Bus](https://doc

[2021-06-15 13:33] mtrangel89 opened #76950 "Customize backup policy"
Hi!

I need to customize my policy for Azure VM only monthly, but I forced select Daily or Weekly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7102948-dcb5-bc73-3a61-a4764ae6a77d
* Version Independent ID: 4a234f8c-1f05-ab83-a46c-add8b701346f
* Content: [Enable backup when you create an Azure VM - Azure Backup](http

[2021-06-15 13:40] spelluru commented on #76949
@ziodave - Thank you for reporting the issue. I just fixed the issue and the update will go live in a few hours.

[2021-06-15 13:44] v-amallick commented on #76732
Hi @TimoNordstrom-Nordcloud
Thank you for your feedback. Will consult with the product group and get back.

@SadiqhAhmed-MSFT
Thank you for looping me here.

[2021-06-15 13:45] ziodave commented on #76949
That was quick @spelluru , kudos :-)

[2021-06-15 13:48] rurounijones opened #76951 "Important instructions deleted."
At some point recently the entire section that used to be in the `#assign-a-query-prediction-runtime-resource-without-using-the-luis-portal` anchor on this page was deleted. (Full URL: https://docs.microsoft.com/en-gb/azure/cognitive-services/luis/luis-how-to-azure-subscription#assign-a-query-prediction-runtime-resource-without-using-the-luis-portal )

I searched through recent commits but cannot

[2021-06-15 13:52] jonwbstr opened #76952 "Source and target subscription must be in the same Azure AD tenant"
Hello,

Since customers can have multiple tenants, adding the following prerequisite would have avoided a service ticket and some confusion for me recently.

* Ensure that the source and target CSP subscription are in the same Azure Active Directory (Azure AD) tenant.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3673

[2021-06-15 14:04] InformTechPro opened #76953 "Create function chapter - highlight desired code in the query editor to save it as a function"
Create function chapter - when using create function feature, only highlighted text gets saved. This feature is useful for it does not require copying and pasting text. However, it would be helpful to specify that in the document. Not every operation acts the same. For example, Save Query saves everything and does not show the code to be saved..

Thank you!

---
#### Document Details

⚠ *Do not ed

[2021-06-15 14:05] sgolota commented on #76713
![zoom_fp](https://user-images.githubusercontent.com/32093852/122066971-dc36db00-cdfb-11eb-9633-7c34b08bb663.jpg)
@vipulsparsh