[2018-09-26 22:10] SaurabhSharma-MSFT commented on #15502
@willzhan I suggest you please open a new MSDN forum post with the details and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required.  Please provide the MSDN link over here so that I can help you getting answered.

[2018-09-26 22:10] BryanTrach-MSFT commented on #15607
@cliffkoh I will assign this as feedback to the doc author to have them determine if adding this information to the doc is appropriate.

In regards to receiving a technical answer on this matter, our guidance is still stands for you to post your question in the [AAD MSDN forum](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=WindowsAzureAD). Thank you for your understanding.

[2018-09-26 22:11] davidmu1 commented on #15419
The engineering team recently changed the URL to use for the B2C endpoint. The article has been updated to reflect the current URL.

#please-close

[2018-09-26 22:12] thuansoldier opened #15695 "Does deny assignment mean NotActions and NotDataActions ?"
I'm not sure if the concept of deny assignment is equivalent to listing NotActions and NotDataActions. Please elaborate

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5bc146ac-d530-fccb-0157-43cfcaeab937
* Version Independent ID: 84376ebf-b328-39b0-5435-569a31c879e1
* Content: [Understand deny assignments in Azure RBAC

[2018-09-26 22:16] MarileeTurscak-MSFT commented on #15683
@chlowell
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-26 22:18] romankiss opened #15698 "Azure portal: Missing templates for SignalR Service bindings"
Document didn't describe how to install manually an extension for SignalR Service bindings, when the binding (for example output) is declared manually, the following error is displaying:

**Error: The binding type(s) 'signalR' are not registered. Please ensure the type is correct and the binding extension is installed.**

The question is: How can be installed this extension?

Note, that adding a n

[2018-09-26 22:19] MarileeTurscak-MSFT commented on #15670
@prafullkotecha
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-26 22:30] dcbrown16 commented on #15394
Looks good, thanks @vhorne !

[2018-09-26 22:30] #15394 closed

[2018-09-26 22:33] dcbrown16 commented on #13911
@TravisCragg-MSFT a default NSG does not seem to allow inbound Internet traffic in my experience or per the documentation. Here's a screenshot of a freshly made NSG - for inbound it allows vnet and LB, then denies all else, as documented.
![nsg](https://user-images.githubusercontent.com/34466884/46112679-49176c00-c1a0-11e8-96e2-3569d706f1c3.JPG)
The "allow selected ports" dialog when creating a VM

[2018-09-26 22:33] rolyon commented on #15640
Hi @thuansoldier
If I understand your question correctly, when you create a custom role, you should be able to use any operation of type Action within the NotActions[] section of your custom role. Here is a list of the operations:
https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations

[2018-09-26 22:35] aL3891 commented on #15445
Perhaps i'm misunderstanding what you mean when you say you "went though the documentation", but in the docs there is a screenshot with a reference to additional cost, but going though the steps in the portal there is not.

That is the point of the issue here, its confusing as a reader of the docs as to if there is a cost or not with that screenshot in the docs.

I also think it would be woth to h

[2018-09-26 22:35] MarileeTurscak-MSFT commented on #15690
@JonBoice
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-26 22:36] BryanTrach-MSFT commented on #14497
@jmhmaine @csuttman @jerbro @dbuonomo @silverbackbg One additional scenario has been brought to light. If you are using an IP address for your DNS that does not match the VIP provided in the portal, we have flagged these sites as well as needing review, and thus you may have received this email.

Having a mismatched A record and VIP may not require any action but we want to ensure customers are no

[2018-09-26 22:39] anthonychu commented on #15698
@romankiss Are you trying this in the portal or locally in VSCode?

[2018-09-26 22:43] davidmu1 commented on #15690
@parakhj  - Can you confirm whether te is required in this scenario? I believe I have it working without it.

[2018-09-26 22:47] cherylmc commented on #15678
@anzaman

[2018-09-26 22:48] Alberto-Vega-MSFT commented on #15494
Are you getting any error or any other indication of failure? Where you able to complete the the previous lesson: [Lesson 9: Create Hierarchies](https://docs.microsoft.com/en-us/azure/analysis-services/tutorials/aas-lesson-9-create-hierarchies)?

[2018-09-26 22:49] thuansoldier opened #15699 "Can I modify Built-in role definition ?"
Would it be possible to modify a built-in role e.g. adding more roles?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0091902-7cb0-8dc3-2a7a-dc644f39a961
* Version Independent ID: d2757c88-1bad-8d27-b548-9e04a8ec7fe1
* Content: [Understand role definitions in Azure RBAC](https://docs.microsoft.com/en-us/azure/role-bas

[2018-09-26 22:53] mike-urnun-msft commented on #14979
@Morgma Thanks for the additional feedback. For addressing scenarios unique to your implementation and outside of this documentation, I recommend opening an issue at the [Functions runtime repo](https://github.com/Azure/azure-functions-core-tools/issues) where your feedback will be addressed directly by our product team members.

With that said, for addressing the deprecated Docker image reference

[2018-09-26 22:53] Karishma-Tiwari-MSFT commented on #15397
@mcurko Thanks for sharing this. It looks like a bug with the Azure portal where it shows blank in the 'operation' field though the operation is applied as shown in the summary screen. I will share this bug with the product team and share updates here.
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-26 22:54] mattbriggs commented on #15649
@cenkersoy Thanks! fixed. #please-close

[2018-09-26 22:56] Alberto-Vega-MSFT commented on #15686
@CODevOp Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-26 23:03] TravisCragg-MSFT commented on #15649
@cenkersoy We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-26 23:03] #15649 closed

[2018-09-26 23:19] thuansoldier commented on #15640
Thank you @rolyon . I think I got the point

[2018-09-26 23:19] #15640 closed

[2018-09-26 23:19] mamccrea commented on #15506
Hi @andrepodnozov - thanks for your suggestion! We have some samples available in this blog: https://blogs.msdn.microsoft.com/streamanalytics/2018/08/07/processing-compressed-event-streams-with-azure-stream-analytics/. I will see what we can do about incorprating more examples into our docs.

[2018-09-26 23:30] femsulu commented on #15685
@sasanmcp need a little clarification on your questions, "how the system react in these scenarios?" are you asking if the ownership transfer will succeed for each of the 4 scenarios you called out? AFAIK, AAD tenant for Commercial is completely isolated from AAD tenant for Government which means transferring ownership of a Government subscription to an AAD tenant on Commercial (or vice versa) is n

[2018-09-26 23:46] SnehaGunda commented on #15644
@Tkeyy the GitHub repository where the samples are hosted was private so you couldn't access it. I made the repo public, it might take a while for the permissions to propagate. Please let us know if you still can't access it bu tomorrow.

[2018-09-26 23:51] SnehaGunda commented on #15402
@sennendoko thank you for pointing the issue, I updated wording in the PR referenced. In future, if you see any issues, feel free to click on the edit button on the page and submit your change, We would love to take community contributions :-)

[2018-09-26 23:51] SnehaGunda commented on #15402
#please-close

[2018-09-26 23:52] SnehaGunda commented on #15644
#please-close

[2018-09-26 23:53] SnehaGunda commented on #13837
#please-close

[2018-09-26 23:55] SnehaGunda commented on #15670
@Mike-Ubezzi-MSFT  looks like this issue corresponds to the IOT service, can you please update the label.

[2018-09-26 23:56] msangapu commented on #15606
Changed merged w/ latest update.

[2018-09-26 23:56] msangapu commented on #15606
#please-close

[2018-09-26 23:56] CarlRabeler commented on #13287
#please-close

[2018-09-26 23:59] MarileeTurscak-MSFT commented on #15651
I'm closing this out for now but if you would like to continue the discussion, please leave a comment or open a new issue and I will gladly continue the conversation. You may also get some good recommendations from MSDN if you would like to ask there: https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2018-09-26 23:59] #15651 closed

[2018-09-27 00:10] anosov1960 commented on #14019
The default storage tier is RA-GRS. You don't need to reserve or limit it. It is automatically allocated as new backups are being created. The factors that define the storage consumption are: (a) size of data, and (b) rate of change (nr of transactions pre minute). The former defines the size of the full backups created weekly. The latter defines the size of diff backups created twice a day and si

[2018-09-27 00:18] #14795 closed

[2018-09-27 00:30] Minewiskan commented on #15494
@Dilipsam1 Are you saying you have no orderDate column in the FactInternetSales table?
What version of AdventureWorksDW are you using? Is it local or Azure SQL DW? Did you create a relationship between OrderDate and Date as described in the Create Relationships lesson?

[2018-09-27 00:37] brnleehng opened #15703 "How do I use Azure Monitor custom metrics with AAD service principal?"
I'm having troubles with using azure monitor plugin and the directions are unclear. Where do I place azure_tenant_id, azure_client_id and azure_client_secret in the telegraf configuration file.. In the output plugin or agent config?

https://github.com/influxdata/telegraf/blob/fb704500386214655e2adb53b6eb6b15f7a6c694/plugins/outputs/azure_monitor/README.md

---
#### Document Details

⚠ *Do not edi

[2018-09-27 00:42] kobulloc-MSFT commented on #15445
@aL3891 You are correct.  As you can see in the screenshots above, what I saw in the portal (and it sounds like what you saw as well) is that there is no mention of an additional cost outside of storage in that step.  The screenshot is out of date, and hopefully that underscores the importance of using the [pricing calculator](https://azure.microsoft.com/en-us/pricing/details/monitor/) for up to d

[2018-09-27 01:10] Mike-Ubezzi-MSFT commented on #15670
@prafullkotecha Can you please reference the tutorial or documentation that you are following. Thank you!

[2018-09-27 01:18] mack0196 opened #15705 "Topic Support Ordering"
I have been investigating message ordering with Azure Service Bus topics. As I understand FIFO ordering is achieved if all messages are processed by the same broker. When a topic DOES NOT have partitioning, there is a single broker, which means ordered messaging with or without a sessionID (of course one broker can be a performance bottleneck and at risk to fail).

With partitioning enabled, messa

[2018-09-27 01:42] Karishma-Tiwari-MSFT commented on #14795
Assigned this issue to myself and updated doc, as author had repo permission issues.

[2018-09-27 01:45] kitkatneko commented on #9004
@cbailiss my tests with SQLMI showed that once the performance tier is selected, one cannot change it to scale up/down the MI

[2018-09-27 01:54] kitkatneko opened #15706 "Columnstore indexes support"
the version is said to be 12.0.2008 (SQL2014) but SQL edition. This implies that the columnstore index features would be the same as 2014 where there had been so much improvement with 2016,2017.
For example, the following feature would then NOT be available?? Can this be documented?
Batch exec for single thread queries
snapshot isolation and read-commited snapshot isolation
specification of column

[2018-09-27 01:57] nnasaki commented on #15639
@MarileeTurscak-MSFT Thank you! I'm looking forward to!

[2018-09-27 02:06] bingosummer opened #15708 "The section "Compute generations and vCores" is outdated"
I can't create a Gen4 in EastUS. Is the doc outdated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 038ee2b6-8a76-a678-1069-3eb7c2808d73
* Version Independent ID: cd6cb2ea-9fff-9237-2168-a39eb24f2677
* Content: [Pricing tiers for Azure Database for PostgreSQL](https://docs.microsoft.com/en-us/azure/postgresql/concepts

[2018-09-27 02:19] rbrayb opened #15709 "Missing step"
After "Test the custom policy", add a step to create an application in B2C. This can be a dummy application e.g. "TestB2C" with a dummy redirectURL e.g. https://localhost:44326. This now appears in the "Application" drop-down in "Run now". If there is no application, clicking "Run now" does nothing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2018-09-27 02:28] ziesemer commented on #12273
@MohitGargMSFT - I see that this was asked to https://social.msdn.microsoft.com/Forums/en-US/ea9a9924-3840-4627-98fb-665ef6903a97/high-availability-for-nps-extension-servers?forum=windowsazureactiveauthentication .  It was not yet sufficiently answered - though I just posted a clarifying response there as well.

[2018-09-27 02:38] ecfan commented on #14808
@timmyreilly, thanks for reporting. I created a doc work item to address.

[2018-09-27 02:40] alexchx commented on #15542
@kobulloc-MSFT Thank you, more specifically, I'm actually want to use this SAML plugin for the Microsoft ADFS authentication (with accounts like xxx@microsoft.com), is that possible?

[2018-09-27 02:41] jason-j-MSFT commented on #13672
@ampac28 could you ask your question in the Stream Analytics forum:
https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureStreamAnalytics

[2018-09-27 02:41] #13672 closed

[2018-09-27 02:47] #15470 closed

[2018-09-27 02:51] jason-j-MSFT commented on #15472
@kthejoker looks like this has been fixed.

[2018-09-27 02:51] #15472 closed

[2018-09-27 02:53] jason-j-MSFT commented on #15523
@sharad4u could you take a look at this request?

[2018-09-27 03:03] jason-j-MSFT commented on #15655
@AshikJayaram
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-27 03:03] hning86 commented on #15676
run information are stored in two places:
1. logs, collected output files etc. are stored in the Azure blob storage associated with the workspace, owned by customer.
2. run metrics logged are stored in a multi-tenant Cosmos DB owned by Azure ML service.

Neither is stored in the default datastore. datastore is intended for user to upload/download data that will be accessed by your Python script.

[2018-09-27 03:04] femsulu commented on #15699
@thuansoldier Thanks for the Comment. We are actively investigating and will get back to you soon.

[2018-09-27 03:05] v-maroge opened #15710 "Configured two WebApps (App service) to backend, but in portal only shows one."
Hi,
I have configured two WebApps using this PowerShell and I could see that both are registered to the backend via "Get-AzureRmApplicationGatewayBackendAddressPool," but I can only see one of them when I check it from the portal. Is this a specification of portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c7b8bc

[2018-09-27 03:06] femsulu commented on #15703
@brnleehng Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-09-27 03:15] rolyon commented on #15699
Hi @thuansoldier, @femsulu
You can't modify the built-in roles. You would need to create a custom role.
thanks

[2018-09-27 03:40] ecfan commented on #14808
@timmyreilly I've merged an updated for publishing sometime tomorrow (9/27).

[2018-09-27 03:44] nsoneji commented on #14678
@colinweiner It got reflected now.

[2018-09-27 03:54] jantoney opened #15711 "Update to documentation"
"Group policy" option - Detailed steps &gt;&gt; STEP #4 should read as below because the current wording is confusing

The result looks like this:
VALUE NAME: https://autologon.microsoftazuread-sso.com
VALUE: 1

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d53fedc-b37d-9c37-fd71-32088e1e88d3
* Version Independent ID:

[2018-09-27 04:12] wy193777 opened #15713 "cannot get LetsEncrypt certificate after finish all steps"
After finishing all the steps, the certificate of our URL is still the Kubernetes Ingress Controller Fake Certificate.

Some output:

[code]
URL of our app: https://gr2-backend-gdev.westus.cloudapp.azure.com/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12009c1f-282d-2632-fac0-64b09c432833
* Version Independent ID: 6

[2018-09-27 04:32] yourera commented on #15500
@SaurabhSharma-MSFT
Thanks for your answer. hum... but My case this error is returned
![image](https://user-images.githubusercontent.com/42599812/46123448-82f87900-c259-11e8-90b9-adbf100ad97e.png)

.. so i check debug then real error is this
Microsoft.Azure.Services.AppAuthentication.AzureServiceTokenProviderException: 'Parameters: Connectionstring: [No connection string specified], Resource: http

[2018-09-27 04:49] femsulu commented on #15699
thanks for confirming @rolyon

[2018-09-27 04:49] #15699 closed

[2018-09-27 05:41] sumanthkannedari commented on #7596
when i am replicating my On-Premises VM to Azure, Can I use an existing Azure VM for the replication of my On-Premises VM? Is it possible if I don't want Microsoft to create a new VM with VM-asr and use existing Azure VM for the replication? Please help me on this question

[2018-09-27 05:51] nabhishek commented on #14339
@brendanstec In the Databricks Notebook activity output, we return the **runPageUrl** which has the link to the output in Databricks. This can be found in the ADF UI after activity execution. You will find the charts by accessing the **runPageUrl**.
Databricks will not return those charts to data factory as such.

[2018-09-27 05:59] nabhishek commented on #15225
@RRWin There is a known issue that Active directory guest users with DF owner/ Sub owner roles would still not be able to list the Data Factories (search would not work).
But as long as you are the 'Owner' of the Data Factory, you will be able to still grant the permissions! Just the search doesn't list anything, but you can use the exact MSI (Managed Service Identity) of the Data Factory under 'A

[2018-09-27 06:09] soorajpm opened #15715 "Signup might also needs modification"
If the account linking is used for a tenant, TP "AAD-UserReadUsingAlternativeSecurityId" should check the account in alternativeSecurityIds rather than checking alternativeSecurityId, else a linked account can be added as a new account. This should be specified before the step #1 in the example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-09-27 06:16] SaurabhSharma-MSFT commented on #15680
@ohwellwhatever Thanks for the feedback ! I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-09-27 06:19] SaurabhSharma-MSFT commented on #15692
@jgdolph Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-27 06:33] Rajeswari-Mamilla commented on #15058
@ajaguilar-viewnext , can you please raise a support request and share the request id here? That would help us to get in touch with you, clearly understand the bugs and fix them accordingly

[2018-09-27 06:38] mcurko opened #15716 "Question"
I can't make this work. Are you sure that the concept used here is good? I made a separate test with Traffic manager with subnet routing and a single endpoint whose "subnet routing setting" is "1.1.1.1-127.255.255.255" and I manage to reach the endpoint from our company premises, although our external IP address is 213.***.***.*** !!!

---
#### Document Details

⚠ *Do not edit this section. It is

[2018-09-27 06:45] options opened #15717 "Client sample json file. ""direction" : "out""
All of the clients sample function.json files specified "direction" : "out" for orchestrationClient binding.
But I think It should be updated with "direction": "in".

Below function.json file was captured in azure function portal environment. check it out.

{
  "bindings": [
    {
      "authLevel": "anonymous",
      "name": "req",
      "type": "httpTrigger",
      "direction": "in",
      "rout

[2018-09-27 06:54] anjali-intrepid commented on #15342
Yes, the first step I did. And yes, I run the second command from samples directory, i.e. iothub_convenience sample.

[2018-09-27 07:11] nblx2k4 opened #15719 "Filters aren't well explained"
Source: [https://docs.microsoft.com/en-us/azure/service-bus-messaging/topic-filters](https://docs.microsoft.com/en-us/azure/service-bus-messaging/topic-filters)

Hello,

I struggled to make the filter in place especially with this part that wasn't well explained in your documentation:

Please take into considerations that people migrate from RabbitMq or other messaging brokers that are not necessa

[2018-09-27 07:18] niceysj opened #15720 "Can I have SQL RP Server and SQL Instance are the same servers?"
Do RP server roles and SQL Instance servers need to be distributed to different servers?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe000108-7b72-9770-0c09-412a8e7bd083
* Version Independent ID: 2b8a921a-330a-4dd7-384b-2f5c213791b6
* Content: [SQL Hosting Servers on Azure Stack](https://docs.microsoft.com/en-us/azu

[2018-09-27 07:30] seb2k opened #15721 "Azure PowerShell for PIM"
Do we have have the possibility to use a PowerShell Cmdlet to activate a role?
This could be very interesting to automate a task within Azure DevOps (VSTS) which depends on specific roles ...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43125fc1-f1fb-fa8c-69a6-7866a1b3a1fe
* Version Independent ID: 174dbe2c-7469-a63a

[2018-09-27 07:34] ajaguilar-viewnext commented on #15058
@Rajeswari-Mamilla I have already raised a support request [118091819033146] a week ago. Hope this help.

[2018-09-27 07:40] cindy951357 opened #15722 "Only one in three speech-to-text examples succeeds(using the same subscription key)"
Hello,
Here I listed three official Microsoft STT .Net examples I've tried using the same subscription key.
I doubt that ever since Microsoft combined Bing and Azure cognitive services, the keys generated by Azure cognitive speech **can not** be used in the old examples which call the Bing APIs.(This is just my humble guess.)

1. success: https://github.com/Azure-Samples/cognitive-services-speech-

[2018-09-27 07:42] Nilis312 opened #15723 "Roaming profile support"
The following statement only points to Windows 10. Can you add information that Server 2016 is also supported or not for roaming profiles with Hybrid AzureAD Join?

"The registration of Windows down-level devices is not supported for devices using roaming profiles. If you are relying on roaming of profiles or settings, use Windows 10."

---
#### Document Details

⚠ *Do not edit this section. It is

[2018-09-27 07:54] skwwt88 commented on #13823
1. Internal CA is ok, all Self-Hosted IR need is a cert which trusted on the machine. So you can use both public CA & Internal CA.
2. Actually we try to load cert from localmachine/my, which required private key.
3. Wildcard is not supported.

[2018-09-27 08:10] ziad-akiki opened #15724 "Arabic -> English"
Translation from Arabic to English is missing alignment information. Per the doc here, if no info is available, the alignment property is returned but it is empty.

The URL I'm calling is https://api.cognitive.microsofttranslator.com//translate?api-version=3.0&includeAlignment=true&to=en. The response returned contains the translated text with the "to" language but is missing the alignment.

---
#

[2018-09-27 08:15] zhouwangzw commented on #15722
It is correct that the new [Unified Speech Service](https://azure.microsoft.com/services/cognitive-services/speech-services/) requires different Subscription Keys than the old [Bing Speech](https://azure.microsoft.com/services/cognitive-services/speech/). We strongly recommend to use the new Unified Speech Service. You can find documentation [here](https://docs.microsoft.com/azure/cognitive-servic

[2018-09-27 08:17] NeilPetersen opened #15725 "Broken link"
Hi,
The' modern authentication' link in https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sso-quick-start#step-1-check-the-prerequisites is broken.

Regards,

Neil

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d53fedc-b37d-9c37-fd71-32088e1e88d3
* Version Independent ID: 1d67c426-39ff-8646

[2018-09-27 08:28] elamathiJv opened #15726 "More examples for Data Assigning is needed"
We need more examples for data assigning through default supported fuctions, as we the functions are treated as string instead of evaluating the values.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9762f1b7-0e3a-d58f-fd99-a27ad948907b
* Version Independent ID: 89e28332-184e-ba84-df1f-e7698c5e0f7c
* Content: [Azure Po

[2018-09-27 08:39] cindy951357 commented on #15722
Thank you very much.
So I don't need to generate another key for the first example among the three.
I just added **config.SpeechRecognitionLanguage = "zh-TW";** inside the **RecognizeSpeechAsync()** function of the first example and now it works. The first program can realize Mandarin now~~

[2018-09-27 08:50] BryanTrach-MSFT commented on #15637
@SteveMinar I was able to run the command successfully. The steps I took were:

1. Downloaded CLI from this [link](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?view=azure-cli-latest)
2. Started Powershell (version info below)
Major  Minor  Build  Revision
-----  -----  -----  --------
5      1      17763  1
3. Ran 'az login'
4. Ran 'az extension update -n webapp'
5. I was t

[2018-09-27 08:51] awws opened #15727 "Suggest moving paragraph down one paragraph"
The id tokens, access tokens, and refresh tokens cached for the authenticated session, and they're accessible only by the associated user.

should be one paragraph down from where it is.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13176d24-57e1-33bb-1948-a086df502dca
* Version Independent ID: 1c15986a-adf6-6f99-72b4

[2018-09-27 08:58] JozoSlejko opened #15728 "Policy editing"
Can you add a section on Policy editing.
I'm finding that you cannot edit parameter section once the policy has been created in Azure portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f728627-f8e4-0e41-c747-658d9496e9aa
* Version Independent ID: 443bc940-a2a2-7c99-6d96-d7c6dd904173
* Content: [Use Azure Policy to

[2018-09-27 09:28] femsulu commented on #15726
@elamathiJv Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-09-27 09:30] femsulu commented on #15728
@JozoSlejko Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-09-27 09:49] Tulkis opened #15729 "Don't see CSP offer id in "Add new Account""
Hi, we actually have 5 subscriptions configured in cloudyn, all of them CSP. Today when I try to add another subscription I can't see the "Rate Id" MS-AZR-0145P (CSP Offer ID) in the "Add new account" popup.
Are there any issue?
Regards.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4916833a-183f-27a2-b110-281915b06a2

[2018-09-27 09:53] wh1tet1p commented on #12015
I also had this issue when using the instructions in this tutorial to create a certificate used by a .NET 4.6 app.  The solution is documented here: https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/650.  In short: add the flag -KeySpec Signature when creating the Self Signed Certificate

[2018-09-27 09:57] NommySkies commented on #15014
Hi @haywoodsloan :) checked all your three questions :)

1. Yes, I am able to reproduce the issue right now.

2. My edge version number is 42.17134.1.0

3. I exactly copied line codes written in the documentation and they point to "[...]?api-version=1" endpoints :) Here is the gist https://gist.github.com/NommySkies/7702bdaf993579876380392b36119ded

Here I have checked where are "damaged pixels" i

[2018-09-27 10:03] femsulu commented on #15434
@thuansoldier if possible, can you share the output of the command? By default it should lists all role assignments in the selected Azure subscription including built in roles.

https://docs.microsoft.com/en-us/powershell/module/azurerm.resources/get-azurermroleassignment?view=azurermps-6.9.0#description

![image](https://user-images.githubusercontent.com/34327711/46138878-f40c4200-c201-11e8-81bf-

[2018-09-27 10:04] #15434 closed

[2018-09-27 10:15] rquintino commented on #15676
thanks Hai,

relating to 1)
is this internal/nested blob storage? because I cannot find it. I created all my new azureml workspace on  new azure resource group. On that resource group I see a *single storage* account? In this one I could only find the output files, not run log files. Is there another storage account? Is this the datastore storage account?

![image](https://user-images.githubuserco

[2018-09-27 10:16] serkanozkul opened #15730 "Azure ML Workbench does not start"
In most of the Azure VMs (including Data Science VM), Azure Workbench does not run.

Some of the setup files seem to be deleted (could be by Windows Defender) so that Workbench fails to start. Issue has been going on for months. This is a critical issue and please have a look into link below for details;

https://stackoverflow.com/questions/47938277/azure-machine-learning-workbench-not-opening

It

[2018-09-27 10:41] saifuddin123 opened #15731 "auto provision as Iot Edge device"
How to have the enrolled device add as "IoT Edge device" instead of "Iot device" under Iot Hub while auto provisioning. Have selected "Enable" for option "Enable Entry" while adding Enrollment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa974dd9-d589-35b9-0f55-def84fa98d11
* Version Independent ID: 4ce7331c-2e1e-ef

[2018-09-27 10:48] nabhishek commented on #13823
@santhoshvellingiri let us know if you still have any questions.

[2018-09-27 10:51] nabhishek commented on #13817
Sorry for causing the confusion folks. This was fixed a few days back! We can close this one.

[2018-09-27 10:54] wasytb commented on #11486
Persisting Azure file share credentials in Windows - cmdkey. Invoke-Expression -command failed with + operator. Creating a variable with the whole cmd key syntax and pass it to the cmdlet did the trick

[2018-09-27 10:55] nabhishek commented on #13515
@hiteshtulsani The **runPageUrl** in the databricks activity output would contain all the exceptions thrown in the notebook. Please navigate to this Url to see the output as well exceptions.
Would this not work?

[2018-09-27 11:01] dominicbetts commented on #15411
Hi @prafullkotecha - the two additional environment variable belong to the config microservice. I updated my gist with the new version: https://gist.github.com/dominicbetts/0f63f3a40eba7f3340af4b44b6685d8d

[2018-09-27 11:06] dominicbetts commented on #15670
I think this issue is a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/15411 and there is a workaround posted in https://github.com/Azure/remote-monitoring-services-dotnet/issues/135
Thanks

[2018-09-27 11:09] nabhishek commented on #13515
#please-close

[2018-09-27 11:10] nabhishek commented on #13823
#please-close

[2018-09-27 11:10] nabhishek commented on #15225
#please-close

[2018-09-27 11:10] nabhishek commented on #14339
#please-close

[2018-09-27 11:10] nabhishek commented on #13817
#please-close

[2018-09-27 11:20] mchudinov opened #15732 "SHA-1 vs SHA-256 for SamlAssertionSigning and SamlMessageSigning"
B2C - ADFS (SAML) combination does not work with SHA-256. Only SHA-1 works at the moment.
Out of practices: even the signature hash certificate is SHA-256 on the B2C side for both SamlAssertionSigning and SamlMessageSigning. ADFS requires the SHA-1 on the relyng party trust.
Otherwise federation does not work. ADFS produced the following error:

SAML request is not signed with expected signature a

[2018-09-27 11:35] jeffgilb commented on #15720
Hi @niceysj , these GitHub issues should be related to documentation bugs. However, because I don't see where this is documented specifically, I'll provide tech support this time! If I'm understanding your question correctly, the answer is no. No, you cannot create databases on the SQL RP server. That should be created in the default provider subscription while SQL Hosting Servers should be create

[2018-09-27 12:36] adamavenant opened #15733 "Debug log location"
Given as D:\Home\... in the documentation. I can't find this (don't have a D: drive and no Home directory on C:) anywhere.

Is there a more standard location for this or a way of changing that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c59024a4-9208-9b00-43ee-f6ba936c95a6
* Version Independent ID: 5ac7705c-35e3-b2

[2018-09-27 13:05] vabed opened #15735 "requester pays buckets"
Is it possible to get data from requester pays buckets on S3?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 710d4797-888a-ee10-f3e8-67b990e2f893
* Version Independent ID: ecc41588-d311-36e0-7257-914dac216c17
* Content: [Copy data from Amazon Simple Storage Service using Azure Data Factory](https://docs.microsoft.com/e

[2018-09-27 13:18] AbhideepChakravarty opened #15736 "Stale Documentation"
Most of the documents I am trying to access to see how to make a web app talk to a VM on VNet is old. The UI given in doc does not match with the one given in portal. Portal is growing fast but not the documentation. As the portal does not have multiple versions, MS can manage to update the documents as per the latest portal features. Its frustrating to do something and see that the docs not match

[2018-09-27 13:20] panoschatz opened #15737 "Cross-subscription availability for the same gallery?"
Are private galleries cross-subscription resources? Are they supposed to provide image availability across regions in the same subscription?
I have created a gallery in one of my subscriptions, created image definition and an actual image version, but cannot deploy a VM based on that to a different subscription.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2018-09-27 13:29] lrzepka1 commented on #15419
Working with Microsoft support, I was finally able to get this to work. The article never mentioned the need to set the reply URL in the organizational AD application. The value that should be set looks like this:
 https://{your b2c tennent}.b2clogin.com/{your b2c tennent}.onmicrosoft.com/oauth2/authresp. Also to get this to work completely you need to use a certain user journey configuration that

[2018-09-27 13:29] #15419 closed

[2018-09-27 13:30] vhorne commented on #15394
#please-close

[2018-09-27 13:33] mgfink opened #15738 "Question on Contributor role"
For the Contributor role it says:

Action: Microsoft.Automation/automationAccounts/
Description: Create and manage resources of all types

I wanted to check if Action could contain the asterisk at the end to indicate access to all resources below this level?  For example "Microsoft.Automation/automationAccounts/*"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2018-09-27 13:49] WeShared opened #15739 "Doc AI"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-09-27 14:17] sergaz-msft commented on #15633
Thank you @hbraasch !
We will continue the troubleshoot of your issue [there](https://github.com/Azure/azure-iot-sdk-csharp/issues/633). The issue will be closed here, once we have 100% sure that there are no doc issues.

[2018-09-27 14:33] deadlyfingers opened #15740 "Inline Authentication code sample should use tenant"
Found an issue when following tutorial documentation:
The inline code sample in step 10 omits setting the tenant and uses "https://login.microsoftonline.com/common" as uri which fails when you follow the tutorial steps above.

Solution:
The missing steps are setting the AD Tenant value "*.onmicrosoft.com"  and using this in the AuthenticationContext $"https://login.windows.net/{Tenant}" uri. (You

[2018-09-27 14:34] Anmolgan81 opened #15741 "Express Route VPN Gateway does not support move there should be limitation in VPN Gateway section"
Hi the document should be updated as Express Route VPN Gateway does not support move, I can see the VPN Gateway in the Move lists. This should be corrected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Move

[2018-09-27 14:38] superlatch commented on #10031
Also hitting this issue.  Is there a workaround please?  Thanks

[2018-09-27 14:48] fliang-ms commented on #9539
I got the exactly same issue and find out this post. I believe that we should provide the right Python3 example. Here is the revised build_signature function working for Python3.

`def build_signature(customer_id, shared_key, date, content_length, method, content_type, resource):
    x_headers = 'x-ms-date:' + date
    string_to_hash = method + "\n" + str(content_length) + "\n" + content_type + "\

[2018-09-27 14:49] AbhishekTripathi opened #15742 "Incorrect MaxConcurrentOrchestratorFunctions description"
It looks like it is a copy/paste typo. The description of MaxConcurrentActivityFunctions is repeated for MaxConcurrentOrchestratorFunctions. It is misleading.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27150c55-615f-fb44-d5e4-7b5815631c7d
* Version Independent ID: 271006dc-afce-99f3-0790-41fa2e35b22b
* Content: [ho

[2018-09-27 14:53] DCtheGeek commented on #15726
@elamathiJv That is correct. Once the parameters are defined on a policy or initiative, the parameters definition can't be changed (although you can provider different parameter values during assignment). This prevents existing assignments of the policy or initiative from being indirectly invalidated.

I'll add a note on the policy definition for parameters to make this more clear.  Thanks for bri

[2018-09-27 14:56] deadlyfingers commented on #15740
Suggested code fix:
[code]

[2018-09-27 15:01] DCtheGeek commented on #15728
@JozoSlejko That is correct. Once the parameters are defined on a policy or initiative, the parameters definition can't be changed (although you can provider different parameter values during assignment). This prevents existing assignments of the policy or initiative from being indirectly invalidated.

I'll add a note on the policy definition for parameters to make this more clear.  Thanks for bri

[2018-09-27 15:17] ZiedMB commented on #5056
sudo apt-get install lxde -y to install an UI, additional step for newer ubuntu versions

[2018-09-27 15:28] #15728 closed

[2018-09-27 15:29] fliang-ms commented on #9539
I got the exactly same issue. Here are the changes in build_signature function which make the sample code work for python3.

    bytes_to_hash = bytes(string_to_hash, encoding='utf-8')

    authorization = "SharedKey {}:{}".format(customer_id,encoded_hash.decode('utf-8'))

[2018-09-27 15:36] aceptra opened #15743 "U-SQL Code Editor Laggy and Intellisense Not Working"
My workstation and a few colleagues of mine are experiencing some extremely laggy behavior in the editor. It disappears for a while if i reopen VS 2017. I do have latest version 2.3.5001.0 .

I turned of Intellisense on U-sql, but no different.

Intellisense was not working either.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2018-09-27 15:37] aceptra commented on #15743
To clarify. Intellisense was never working, getting a 'loading' graphic instead. I turned it off hoping to fix the lagginess, but still same with it off.

[2018-09-27 15:37] prafullkotecha commented on #15670
@Mike-Ubezzi-MSFT
https://docs.microsoft.com/en-us/azure/iot-accelerators/iot-accelerators-remote-monitoring-deploy-local
https://github.com/Azure/azure-iot-pcs-remote-monitoring-java/blob/master/docs/LOCAL_DEPLOYMENT.md
And, myriad of links within those two.

[2018-09-27 15:50] jason-j-MSFT commented on #15705
@mack0196

[2018-09-27 15:52] Mike-Ubezzi-MSFT commented on #15670
@prafullkotecha You need to ensure your .yml file is the latest and includes the following env variables:

_Known workarounds_
Bring up the docker-compose by setting PCS_SEED_TEMPLATE=default and PCS_SOLUTION_TYPE=remotemonitoring

The PCS_SOLUTION_TYPE and PCS_SEED_TEMPLATE variables to docker-compose.yml belong to the "config" microservice.

Here is an updated [docker-compose.yml](https://gist.g

[2018-09-27 15:52] #13817 closed

[2018-09-27 15:58] bwren commented on #15557
Thanks.  I just made those corrections.

[2018-09-27 15:58] bwren commented on #15557
#please-close

[2018-09-27 16:00] msangapu commented on #15648
Hi @amtrived1 you're right. Looks like you found a bug. I'm fixing the article. To get you unblocked, go ahead and use the --runtime "Node|8.11".

In the portal, update the Application Settings to the value 8.11.1

Let me know if this gets you unblocked.

[2018-09-27 16:01] sergaz-msft commented on #15731
Hello @saifuddin123 and thank you for your feedback!

Let me point you to a different doc in case you missed it. Let me know if it helped unblocking your current scenario?

[Create and provision a simulated TPM Edge device on Windows](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-auto-provision-simulated-device-windows?toc=%2Fen-us%2Fazure%2Fiot-dps%2Ftoc.json&bc=%2Fen-us%2Fazure%2Fbread%

[2018-09-27 16:03] sergaz-msft commented on #15740
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-27 16:11] Karishma-Tiwari-MSFT commented on #15713
@wy193777 Thanks for the question. We are currently investigating and will update you shortly.

[2018-09-27 16:13] xdansmith opened #15745 "Recommendation for apex/@ domain."
How do you recommend mapping the root of a domain (like contoso.com, instead of www.contoso.com), since DNS doesn't support CNAME's for the @ record?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b19a24a-e9e6-0296-69b2-d1fead57c16c
* Version Independent ID: 9d0164f0-1b82-439d-c32d-c93a4c56f314
* Content: [Tutorial -

[2018-09-27 16:16] Karishma-Tiwari-MSFT commented on #15737
@panoschatz Thanks for the question. We are currently investigating and will update you shortly.

[2018-09-27 16:21] declang opened #15746 "Screenshots"
Screenshots and location for Security Center policy updates no longer accurate as far as I can tell looking at my own subscription.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd108a9d-a7e2-ddc6-6571-85d1657aeccb
* Version Independent ID: 0e97bc62-729c-a47d-1309-03401f5e4529
* Content: [Set security policies in Azur

[2018-09-27 16:32] prafullkotecha commented on #15670
pcs-cli create a streaming job too, for ASA. Do I need to create that manually? This [document](https://github.com/Azure/azure-iot-pcs-remote-monitoring-dotnet/wiki/Manual-steps-to-create-azure-resources-for-local-setup) doesn't mention anything about it.

[2018-09-27 16:34] jegilber opened #15747 "Auth Methods"
If I select Security Questions and Mobile app code in SSPR and Mobile app code and notification in MFA, I'm still only prompted for email and phone number upon registration.

Also, if I use Authenticator only in MFA, I am only prompt once I go through the scenario covered by the CA policy. I don't have the option to configure the authenticator ahead of time like I could with https://aka.ms/mfasetu

[2018-09-27 16:37] jakemarston opened #15748 "Out of Date Information"
The shut down option is not available for Physical Machines.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d92f050-73a2-c519-2046-2aba7caeecb0
* Version Independent ID: e0fe7de0-ce70-de87-32c7-fe498552f9be
* Content: [Migrate VMs from AWS to Azure with Azure Site Recovery](https://docs.microsoft.com/en-us/azure/site-

[2018-09-27 16:44] RRWin commented on #15225
@nabhishek Adding the MSI as an owner doesn't help. The IR is not shared. Viewing the page in developer mode (while logged in as an Owner) shows the same user permissions message.
As an Admin however, the search works, as well as adding the MSI.

Thanks!

[2018-09-27 16:44] #15225 closed

[2018-09-27 16:49] msvijayn commented on #15557
@bwren - Thank you, Brian

[2018-09-27 16:51] CarlRabeler commented on #15706
@kitkatneko the version number for Azure SQL Database has no relation to the on-premise SQL Server product. In fact, Azure SQL Database generally has newer code than the SQL Server product itself.

[2018-09-27 16:59] CarlRabeler commented on #15689
@Anmolgan81 See the Data Migration Service @ https://azure.microsoft.com/en-us/services/database-migration/

[2018-09-27 16:59] rschiefer opened #15749 "Attributes are case sensitive."
The following screenshot shows the "Role" and "RoleSessionName" in all lower case.  This causes an error in AWS

"Your request included an invalid SAML response"

Here is a link to the screenshot image - https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/media/amazon-web-service-tutorial/tutorial_amazonwebservices%28aws%29_attribute.png
https://docs.microsoft.com/en-us/azure/active-

[2018-09-27 16:59] kitkatneko commented on #15706
I see. still would be nice to see what features are supported.

[2018-09-27 17:01] prafullkotecha commented on #15670
@dominicbetts, @Mike-Ubezzi-MSFT - Thanks a lot! I got the devices and alerts working, I think!! Please see attached [log file](https://github.com/MicrosoftDocs/azure-docs/files/2425049/localhost-telemetry-packages-deployments-failure-1538067032618.log) for Error messages, in Chrome Devtools Console, on "Telemetry panel on dashboard" as well as Packages, and Deployments pages, which reads "* Error

[2018-09-27 17:03] vhorne commented on #15642
@jurjenoskam Hi, can you submit a PR with this change?

[2018-09-27 17:03] CarlRabeler commented on #15706
@kitkatneko See https://docs.microsoft.com/en-us/azure/sql-database/sql-database-features Every feature of column store is supported https://docs.microsoft.com/sql/relational-databases/indexes/columnstore-indexes-overview Any limitations would be noted specifically.

[2018-09-27 17:06] vhorne commented on #14282
#please-close

[2018-09-27 17:08] MarileeTurscak-MSFT commented on #15717
@options
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-27 17:08] lenadroid commented on #10031
I should be able to take a look end of next week. I'll update the thread!

[2018-09-27 17:09] MarileeTurscak-MSFT commented on #15742
@AbhishekTripathi
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-27 17:11] mamccrea commented on #15146
@irgnosis - Does the stack trace for your error start with the following lines:

[code]

[2018-09-27 17:13] rolyon commented on #15695
Hi @thuansoldier
NotActions and NotDataActions are different than deny assignments. NotActions and NotDataActions are a way to exclude specific permissions that are allowed. Deny assignments are a way to to block access. You can't create your own deny assignments and currently they are read-only. The overview article has some additional info about deny assignments:
https://docs.microsoft.com/en-us

[2018-09-27 17:13] Mike-Ubezzi-MSFT commented on #13837
@CeciAc We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-27 17:13] #13837 closed

[2018-09-27 17:13] mike-urnun-msft commented on #15733
@adamavenant Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-09-27 17:15] fkwiatek opened #15750 "Azure Storage types"
this information page which the azure calculator takes you to for a review of types of Azure storage does not caver all the types that are listed in the Azure Calculator

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bf8f358-861a-b3e5-86c3-ad871a12b03e
* Version Independent ID: d13eea11-e440-ce33-2f2f-e6f6b98e3af2
* C

[2018-09-27 17:17] Mike-Ubezzi-MSFT commented on #15706
@kitkatneko We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-27 17:17] #15706 closed

[2018-09-27 17:21] MarileeTurscak-MSFT commented on #15719
@nblx2k4
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-27 17:27] vjamwec13579 opened #15751 "Overly complex"
I find this to be overly complex.  For example, there should be a way of doing basic things like auto-scale up when a number of pending tasks exceed n and auto-scale back down automatically.  This could be implemented in the Azure GUI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d888d2f-3a20-bb80-c600-074089e1d0f9

[2018-09-27 17:28] SaurabhSharma-MSFT commented on #15732
@mchudinov Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-27 17:28] SaurabhSharma-MSFT commented on #15746
@declang Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-27 17:29] Alberto-Vega-MSFT commented on #15735
@vabed Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-27 17:29] SaurabhSharma-MSFT commented on #15747
@jegilber Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-27 17:30] femsulu commented on #15727
@awws Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-09-27 17:30] SaurabhSharma-MSFT commented on #15749
@rschiefer Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-27 17:30] pemj commented on #10231
@MicahMcKittrick-MSFT , @dkamstra , looks like this is still missing from the docs.

[2018-09-27 17:31] SaurabhSharma-MSFT commented on #15721
@seb2k Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-27 17:31] Alberto-Vega-MSFT commented on #15743
@aceptra Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-27 17:32] SaurabhSharma-MSFT commented on #15562
@MatthewSteeples We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-27 17:32] #15562 closed

[2018-09-27 17:32] femsulu commented on #15736
@AbhideepChakravarty Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-09-27 17:32] Mike-Ubezzi-MSFT commented on #15724
@ziad-akiki Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-27 17:32] SaurabhSharma-MSFT commented on #15569
@atul407 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-27 17:32] #15569 closed

[2018-09-27 17:33] SaurabhSharma-MSFT commented on #15604
@nwhitmarsh We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-27 17:33] #15604 closed

[2018-09-27 17:33] spelluru commented on #14490
#please-close

[2018-09-27 17:33] SaurabhSharma-MSFT commented on #15613
@Najib314 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-27 17:33] #15613 closed

[2018-09-27 17:34] Mike-Ubezzi-MSFT commented on #15730
@serkanozkul Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-27 17:34] bandersmsft commented on #15729
@Tulkis I'll look into this with the enginnering team.
#in-process

[2018-09-27 17:37] Mike-Ubezzi-MSFT commented on #14490
@vit100 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-27 17:37] #14490 closed

[2018-09-27 17:44] MicahMcKittrick-MSFT commented on #14983
@badalk I will close for now. When ready let me know and we can reopen and continue.

[2018-09-27 17:44] #14983 closed

[2018-09-27 17:45] MicahMcKittrick-MSFT commented on #15259
@Cecildt just FYI, I am still working to confirm this. Many people are busy with Ignite this week so responses have been delayed.

[2018-09-27 17:46] MicahMcKittrick-MSFT commented on #15260
@charleszipp just FYI, we are working to address this in a doc update. We have an internal work item for it. I will close this issue out but we are working to get the doc updated to be more clear :)

[2018-09-27 17:46] #15260 closed

[2018-09-27 17:47] MarileeTurscak-MSFT commented on #15739
@WeShared
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-27 17:48] spelluru commented on #15601
@BrendanGrant - Thank you. Updating the article today.

[2018-09-27 17:50] MarileeTurscak-MSFT commented on #15739
@WeShared since this is not actionable and is not a doc issue I am closing this out.

[2018-09-27 17:50] #15739 closed

[2018-09-27 17:50] TravisCragg-MSFT commented on #14282
@tedsluis We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-27 17:50] #14282 closed

[2018-09-27 17:50] MicahMcKittrick-MSFT commented on #15573
@spacecat did you happen to have any luck with this? I keep getting the same results but figured it was worth an ask :)

[2018-09-27 17:51] MicahMcKittrick-MSFT commented on #15627
@CHDAFNI-MSFT closing this and will follow up with you offline shortly.

[2018-09-27 17:51] #15627 closed

[2018-09-27 17:51] TravisCragg-MSFT commented on #15720
@niceysj We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-27 17:51] #15720 closed

[2018-09-27 17:54] ajstadlin opened #15753 "Create VM from a Specialized VHD = "Forbidden""
Please fix or remove the following URL for [Create VM from a Specialized VHD](https://review.docs.microsoft.com/en-us/azure/virtual-machines/windows/create-vm-specialized-portal?branch=master) the result is "Forbidden"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b9c0d7a-bbf5-eccc-f2ca-a825bf42c82f
* Version Indepen

[2018-09-27 17:57] femsulu commented on #15741
@Anmolgan81 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-09-27 17:59] kiranjshetty commented on #13727
Does it force tunneling will break all my azure service related traffic(eg.azure backup vault,azure KMS server etc...),how would you mitigate this???

[2018-09-27 18:00] MicahMcKittrick-MSFT commented on #15713
@wy193777 are you specifying -prod or -staging? It is expected to show as a fake cert if you are running in -staging

[2018-09-27 18:00] MarileeTurscak-MSFT commented on #15745
@xdansmith
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-27 18:00] kiranjshetty opened #15754 "force tunnel and azure service traffic"
Does  force tunneling will break all my azure service related traffic(eg.azure backup vault,azure KMS server etc...),how would you mitigate this???

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e199bebd-d994-ec96-4716-c995559adc21
* Version Independent ID: 1b856aa3-2779-2600-152d-19a70c37edb9
* Content: [Configure for

[2018-09-27 18:01] femsulu commented on #15738
@mgfink Interesting question. We are actively investigating and will get back to you soon.

adding @georgewallace  in case he has a quick  answer to this.

[2018-09-27 18:02] TravisCragg-MSFT commented on #15710
@v-maroge only 1 Web App can be associated with each backend pool, so you will need multiple backend pools for multiple Web Apps. You are most likely only seeing the web app that you associated most recently.

[2018-09-27 18:02] Gonkers opened #15755 "Open SSH session from remote shell fails"
When attempting to open an SSH session from a remote shell, the instructions fail me with the command
`az webapp remote-connection create --subscription &lt;subscription_id&gt; --resource-group &lt;group_name&gt; -n &lt;app_name&gt; -p &lt;port&gt; &`

I get an error returned of
[code]
Any ideas? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-09-27 18:05] spelluru commented on #12487
#please-close

[2018-09-27 18:05] DiegoRamirez-MSFT commented on #15753
hello ajstadlin

I just tried to open the mentioned link and it seems to be working, could you please try one more time and confirm if you are seeing the same?

best

[2018-09-27 18:09] Alberto-Vega-MSFT commented on #15508
@solidcloudio Thanks again for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-27 18:15] wy193777 commented on #15713
The certificate is issued by Ingress Controller not Lets Encrypt It.

CN = Kubernetes Ingress Controller Fake Certificate
O = Acme Co

Maybe prod certificate can overwrite it?

[2018-09-27 18:16] anthonychu commented on #15698
Yes. There's not a good method of installing extensions that do not appear in the portal. But you should be able to use the console in the Azure Functions portal to manually run `func extensions install -p Microsoft.Azure.WebJobs.Extensions.SignalRService -v 1.0.0-preview1-10002` to install it.

Sounds like what happened in your case was that you added the entry to extensions.json, but `func exten

[2018-09-27 18:35] hning86 commented on #15676
1. you are indeed looking at the right blob storage account. there is only one associated with the workspace. you should be able to find folder for each run (identified by run id), and all log files in that folder.

2. even the the cosmos db is owned and operated by us, the data stored there belong is tagged as customer data and hence under strict privacy/GDPR guidelines. you have right to retriev

[2018-09-27 18:37] hning86 commented on #15676
this link might be helpful too:
https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-export-delete-data

[2018-09-27 18:40] mgfink commented on #15738
FWIW the behavior seems to suggest the '*' is NOT implied because Contributor couldn't perform a
Microsoft.Automation/automationAccounts/runbooks/read operation and was just looking for clarification.  Thanks for the help!

[2018-09-27 18:40] SaurabhSharma-MSFT commented on #15500
@LisandroSu  Please ask him to check this GitHub [Issue](https://github.com/aspnet/IISIntegration/issues/945) to fix his local environment issue.  If not, please suggest him to open a new MSDN forum post with the details and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=

[2018-09-27 18:41] SaurabhSharma-MSFT commented on #15500
@LisandroSu We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-27 18:41] #15500 closed

[2018-09-27 18:41] axayjo commented on #15737
@panoschatz, Please use RBAC to give read access to an Image Version to a user in a different subscription and then try to deploy a VM as that user. It should work. Also ensure that the Image Version is replicated to the region in which you're trying to spin up a VM.

[2018-09-27 18:41] MisinformedDNA opened #15756 "Cannot target .NET Core"
This documentation is misleading. Developers cannot target/use .NET Core 2. So while statements like

may be true, it leaves the false impression that .NET developers can target .NET Core. [They cannot.](https://github.com/Azure/Azure-Functions/issues/805)

In the languages section, the intersection of 2.x and C# reads "GA (.NET Core 2)". Again, this isn't true. It goes on to say:

Again, while th

[2018-09-27 18:43] SaurabhSharma-MSFT commented on #15692
@jgdolph Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-09-27 18:45] SaurabhSharma-MSFT commented on #15584
@vinodkmaurya We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-27 18:45] #15584 closed

[2018-09-27 18:48] SaurabhSharma-MSFT commented on #15693
@piotrp04 Please open a [Azure Support Ticket](https://aka.ms/azsupt) so that Identity Support engineer can check further on this issue. In case you limitations in your support plan to open support ticket please let me know.

[2018-09-27 18:49] lachie83 commented on #15259
@Cecildt @MicahMcKittrick-MSFT I agree that we should add some details about SSL setup for http-application-routing specifically on the same docs. Give me a week to see how much work it would require.

[2018-09-27 18:50] kgremban commented on #12861
@bhall7718 and @Mike-Ubezzi-MSFT A new article about offline capabilities was published earlier this week, and explains the deployment manifest settings that assign additional memory to the Edge Hub: https://docs.microsoft.com/en-us/azure/iot-edge/offline-capabilities#additional-offline-storage

Please review and close this issue if you think these documentation updates resolve the issue. Or, if y

[2018-09-27 18:51] msmimart commented on #15692
@jgdolph We're working on improvements to this article. Please stay tuned...thanks for your feedback!

[2018-09-27 18:51] Karishma-Tiwari-MSFT commented on #15110
@rayie123 We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-27 18:51] #15110 closed

[2018-09-27 18:51] ajstadlin commented on #15753
Steps I use to repeat the problem using Chrome browser in Windows 10 Ent 2015 LTSB (all current updates)

1. [Open the Original web page](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/prepare-for-upload-vhd-image)
    - Navigate to the [When to use sysprep](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/prepare-for-upload-vhd-image#when-to-use-sysprep-a-idstep23a

[2018-09-27 18:52] kgremban commented on #12863
@bhall7718 Is this issue considered separate from your other edgeHub issue (https://github.com/MicrosoftDocs/azure-docs/issues/12861) or is it also resolved by the new offline capabilities article (https://docs.microsoft.com/en-us/azure/iot-edge/offline-capabilities#additional-offline-storage)?

[2018-09-27 18:52] Karishma-Tiwari-MSFT commented on #15216
@tapialuism Any update?

[2018-09-27 18:54] romankiss commented on #15698
That's correct. It will be nice to have this workaround in the document.

Btw. Thanks for the SignalR Service extension bindings, it's very useful.

[2018-09-27 18:54] kgremban commented on #14196
@sebader I confirmed that CentOS is not currently in the IoT Edge testing suite, so this article is accurate. Is there anything else that I can help you with, or is this issue resolved?

[2018-09-27 18:54] Karishma-Tiwari-MSFT commented on #15368
@tapialuism Can you please share the details as asked above? thanks.

[2018-09-27 18:54] SaurabhSharma-MSFT commented on #15709
@rbrayb Thanks for your suggestion.  I have assigned this issue to content author to investigate and update the document as appropriate.
@davidmu1 Can you please help adding a note of creating/registering an application in AD before trying to use "Run Now"

[2018-09-27 18:56] Karishma-Tiwari-MSFT commented on #15600
@Marisella Can you please share the details as asked above, to help troubleshoot your issue. Thanks.

[2018-09-27 18:58] SnehaGunda commented on #15586
@vibhorrastogi87 as Mike mentioned, bulk executor library is currently not supported for .Net core. Please vote the feature in user voice.

#please-close

[2018-09-27 19:01] tjohnson1010 opened #15757 "Interfacing Event Hub"
Can I get an Event when a file is created?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 534b3ef3-5664-973e-b146-8c1f960bf536
* Version Independent ID: 57c3ce18-2857-8ed0-10a5-5061d391a079
* Content: [Frequently asked questions (FAQ) for Azure Files](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-f

[2018-09-27 19:03] oktotechnologies opened #15758 "Typo error left menu"
There is a typo on the left menu under v1.0 &gt; Concepts &gt; Oauth and the OpenID Connect protocol &gt; Oauth 2.0 client "credentails" grant.
Should be "credentials"!

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e20004e2-beab-6e67-9b98-eaa12f612442
* Version Independent ID: 2a3db0c8-d0df-cca5-fb52-36d68cd67207
* Co

[2018-09-27 19:04] wy193777 commented on #15713
I read the document carefully. On the end of the document, the staging certificate explicitly mentioned let's encrypt:
![image](https://user-images.githubusercontent.com/2449450/46168426-49217580-c24d-11e8-8b35-7e080ecff747.png)
So at least from the document, -prod or -staging isn't the problem here.

[2018-09-27 19:04] NileshGhodekar opened #15759 "Critical omission in the password hash sync process when Azure AD Domain Services feature is enabled"
When Azure AD Domain Services feature is enabled, in addition to the regular password hash sync process documented here which sends a one way SHA256 hash of the onprem MD4 hash, the original MD4 hash is also sent to Azure AD (encrypted with reversible encryption).  This needs to be documented. And in the light of this, the whole "Security considerations" sections need to be rewritten.

---
#### Do

[2018-09-27 19:09] Anmolgan81 commented on #15689
@Mike-Ubezzi-MSFT @CarlRabeler  How can I automate this? The guide that @Mike-Ubezzi-MSFT has shared is not very helpful are there ways using which I an automate this like the Azure seRviCes automation account?

[2018-09-27 19:11] anthonychu commented on #15698
@ggailey777 What's the best way to add this to docs? We should probably do it centrally across all bindings.

[2018-09-27 19:13] JECROFT opened #15760 "AppManifest Overrides"
The actors don't seem to take overrides or look at the dynamic config, you may want to add details on how to set that up for production deployments using different remoting certs between regions or dev/prod. There has been an open issue for it since January 2018: https://github.com/Azure/service-fabric-issues/issues/743

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2018-09-27 19:14] MicahMcKittrick-MSFT commented on #15751
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-27 19:14] CarlRabeler commented on #15689
@Anmolgan81 let me see what else I can find for you - stay tuned

[2018-09-27 19:15] javgarces opened #15761 "Downtime for VMs being moved across subscriptions"
I need to move VMs across subscriptions (in my case, from an EA to a CSP subscription). I'll move all the associated resources at the same time (virtual network and all VMs within it, all attached managed disks to these VMs, etc.). If the move operation is valid, will my VMs experience downtime? Will they be restarted, will they experience degradation of service? Should I deallocate them before mo

[2018-09-27 19:16] Anmolgan81 commented on #15689
@CarlRabeler ok, it will be helpful, I will wait for your reply.

[2018-09-27 19:18] maxal1917 opened #15762 "Moving from existing Service Fabric cluster in Azure to Mesh"
It would be interesting to have the question of migration from existing cluster to Mesh covered. Specifically:
1. Are there any benefits of migrating to Mesh from existing clusters?
2. How to migrate stateful services to keep the data? Is such migration possible without downtime? If yes, some instructions would be helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-09-27 19:27] SaurabhSharma-MSFT commented on #8669
@icistech We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-27 19:27] #8669 closed

[2018-09-27 19:27] Mike-Ubezzi-MSFT commented on #15586
@vibhorrastogi87 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-27 19:27] #15586 closed

[2018-09-27 19:28] Mike-Ubezzi-MSFT commented on #15539
@dluc We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-27 19:28] #15539 closed

[2018-09-27 19:30] SaurabhSharma-MSFT commented on #15711
@jantoney The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2018-09-27 19:30] #15711 closed

[2018-09-27 19:33] Mike-Ubezzi-MSFT commented on #15670
@prafullkotecha This could be related to Chrome.

There is more information here but do check the 'Network' tab to see the data type being sent.

[SyntaxError: Unexpected token < in JSON at position 0” in React App](https://stackoverflow.com/questions/37280274/syntaxerror-unexpected-token-in-json-at-position-0-in-react-app)

[2018-09-27 19:33] SaurabhSharma-MSFT commented on #15725
@NeilPetersen It works fine for me and redirects to https://aka.ms/modernauthga or https://www.microsoft.com/en-us/microsoft-365/blog/2015/11/19/updated-office-365-modern-authentication-public-preview/.  Are you using a different language version of the document e.g. instead of en-US en-au

[2018-09-27 19:34] cynthn commented on #7708
@saurabhsensharma can you try reassigning it to @roiyz-msft

[2018-09-27 19:37] ran-ten21 opened #15763 "current version of agent"
Is there a way to be able to look at a content page and know what is the most up to date version of the agent?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c04356b4-e2a0-c095-5f47-b7fc1d2b574f
* Version Independent ID: 72900c81-5858-bb03-06fb-4af272317f20
* Content: [Use Azure Backup agent to back up files and folder

[2018-09-27 19:39] SaurabhSharma-MSFT commented on #15758
@oktotechnologies Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-27 19:41] DiegoRamirez-MSFT commented on #15753
thanks for the response

I was able to repro the issue using my Hotmail credentials, looks like the root cause is this link pointing into an internal repo, we have started the process to correct this, in the meantime you can use the following link

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/create-vm-specialized-portal?branch=master

thanks for bringing this to our attention,

[2018-09-27 19:45] #15753 closed

[2018-09-27 19:46] Anmolgan81 commented on #15689
@Mike-Ubezzi-MSFT So there are no detailed documentation as to how can this be done?

[2018-09-27 19:51] kobulloc-MSFT commented on #15478
@timothies It looks like you are correct in that your scenario is not currently covered in our documentation.  The best place to get this question answered is going to be our forums which you can find here:
https://social.msdn.microsoft.com/Forums/en-US/home?forum=ApplicationInsights&filter=alltypes&sort=lastpostdesc

If you feel like this subject should be added to future documentation, please ta

[2018-09-27 19:51] #15478 closed

[2018-09-27 19:53] SaurabhSharma-MSFT commented on #15746
@declang Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

@rkarlin  Can you please help updating the documentation.  Please find below the discrepancies -

**Screenshot from documentation page**
![image](https://user-images.githubusercontent.com/38112130/46170901-ec758900-c253-11e8-96a1-aec37d3103ac.png)

**Current scre

[2018-09-27 19:53] prafullkotecha commented on #15670
@Mike-Ubezzi-MSFT - Thanks. I tried it in Firefox, and got similar [error](https://user-images.githubusercontent.com/563146/46170981-40d93280-c26d-11e8-84a2-2c08bb011dd3.png). And, it appears only when app goes to the "Dashboard" route (in React speak). When I select a device from "Select a Device" drop down, then I see "No data Found" message.
I am also getting `Error: Oops, we were not able to f

[2018-09-27 19:55] justcallmetrell opened #15765 "Modules Errors when attempting to deploy AKS via Ansible"
When attempting to deploy the AKS utilizing the "azure_rm_aks" module, I consistently run into a keyword argument error within the Python code. Using the same parameter options, I can successfully deploy the AKS using Ansible and ARM template.

Any help or insight would be greatly appreciative as I am attempting to accomplish this without the use of ARM templates.

Error(s) Returned:
---
{
    "_a

[2018-09-27 19:56] timmyreilly opened #15766 "More Examples for Output?"
Would love to see more complete solutions for Output... It took me a day to figure out that I should use ICollector when dealing with a single entry, and this also allows me to do async calls with the new CosmosDB Attribute. Check this for a sample: https://github.com/Azure/azure-webjobs-sdk-extensions/issues/507

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2018-09-27 19:56] Mike-Ubezzi-MSFT commented on #15689
There is but to clarify....how much do you need automated? Do you need to manually kick off a script that runs as a foreground process or do you need it to be scheduled (like a cron job) and to be run as a background task. Thanks!

[2018-09-27 19:58] Anmolgan81 commented on #15689
@Mike-Ubezzi-MSFT I want it to be a one time process and without being able to login onto the onpremise servers I will be able to Copy the data to Azure SQL Database, Its like deploying the Onpremise database to Azure SQL Database by exporting the data tier, can something like that be done?

[2018-09-27 20:00] Anmolgan81 commented on #15689
@Mike-Ubezzi-MSFT lets say there are 200 databases in 1 SQL Server and 100 in another one I want a script or something that will get executed by passing in onpremise details and that will export the datatier and deploy the database in azure for each of them SQL Servers.

[2018-09-27 20:04] MicahMcKittrick-MSFT commented on #15713
@wy193777 running everything under -prod should resolve the issue.

@iainfoulds could you confirm?

[2018-09-27 20:06] kobulloc-MSFT commented on #15542
@alexchx I'm going to assign this to the document author so we can get more information about the SAML plugin that is mentioned.

[2018-09-27 20:07] MicahMcKittrick-MSFT commented on #15760
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-09-27 20:07] MarileeTurscak-MSFT commented on #15759
@NileshGhodekar thanks for the feedback! I have assigned this to the content author @billmath to look into.

[2018-09-27 20:08] MicahMcKittrick-MSFT commented on #15762
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-27 20:10] Mike-Ubezzi-MSFT commented on #15398
@vetrivelmp As part of the document you are referencing, there are two sections pertaining to the Bulk Executor.

[Bulk import data to Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/bulk-executor-dot-net#bulk-import-data-to-azure-cosmos-db)

And you have the [Bulk update data in Azure Cosmos DB
](https://docs.microsoft.com/en-us/azure/cosmos-db/bulk-executor-dot-net#bulk-update-

[2018-09-27 20:12] wy193777 commented on #15713
I just successfully got the staging certificate. Running under -stage shouldn't be a problem. There are two tricks need to be more clear on the document:
1. RBAC shouldn't be set to false if RBAC is enabled on the cluster. So, on the section that installs the cert-manager, a command should be provided to let users check if they should run with or without RBAC.
2. Not really sure about this, but I

[2018-09-27 20:12] ankitshrivastava1987 opened #15767 "Error with logged batches"
Hi I was trying to do the same thing but ran into an error that can't figure out.--
 ""[Server error] message="Logged batches are not supported by the service yet. Please use unlogged batches instead."&gt;""

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a495bce-739a-3ea9-84a9-7e5e4d4ce064
* Version Independent ID: 05

[2018-09-27 20:15] SaurabhSharma-MSFT commented on #15749
@rschiefer Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-09-27 20:15] mattbriggs commented on #15553
@SychevIgor Thanks for the feedback. Updated the link. #please-close

[2018-09-27 20:15] BoAlexander commented on #8050
I'm having this error too.  It was reported in May 2018.  The doc still says do it this way, but it is September 2018.  How do you do this today?  I need to solve this problem.

[2018-09-27 20:16] Alberto-Vega-MSFT commented on #15540
Hi @khshah3  I just tried to repro and I was able to successfully connect to a repo with two factor authentication enabled. Would you please try again?

[2018-09-27 20:16] tapialuism commented on #15368
Hello Karishma,

 Sorry, I have been unavailable. I will give it another go shortly.

Thanks for the follow up.

On Thu, Sep 27, 2018 at 11:54 AM Karishma Tiwari - MSFT <
notifications@github.com> wrote:

[2018-09-27 20:16] CelesteDG commented on #15758
@oktotechnologies - Thank you very much for spotting that. Will fix right away!

[2018-09-27 20:17] mattbriggs commented on #15511
@SychevIgor I removed that. It is a bit of an explanation that will be included in an upcoming topic about the acs-engine for Kubenerentes on Azure Stack. Thanks for you feedback, however. #please-close

[2018-09-27 20:18] mattbriggs commented on #15593
@SychevIgor Thanks! I've updated. Appreciate, again, you leaving feedback. :) #please-close

[2018-09-27 20:20] mattbriggs commented on #15561
@SychevIgor I have a work item to address the rebranding for the tutorial topics. It will take some time, but I hope to have it done in this sprint. #please-close

[2018-09-27 20:20] SnehaGunda commented on #15552
@buzzfrog I updated the doc to remove the note that says it's supported for specific API's only. Referencing PR above.

[2018-09-27 20:22] WeidongShen opened #15769 "Requesting access to a VM within Azure vNet"
Editing a just in time access policy blocks access from both public and private IP. How do I request access to a VM within Azure vNet with only private IP?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25f0758b-8274-d2b5-4702-2c7ca6b0b14a
* Version Independent ID: d1215107-abf9-fefd-a63b-b20ec3f7f744
* Content: [Just

[2018-09-27 20:33] mattbriggs commented on #15510
@SychevIgor Thanks for your note. I have a question out and should be able to update shortly. My contact is at Ignite. #in-progress

[2018-09-27 20:36] diberry commented on #13062
@retrospct This doc is for Bot SDK 3.x. Are you looking for a 4.x version? Or are you saying that even as a 3.x, the doc as written doesn't work?

[2018-09-27 20:39] MarileeTurscak-MSFT commented on #15687
@anthonylax do you mean that it works fine when you set it so your account only has one address? And do you mean that in the first instance the user gets authenticated before selecting the number?

It seems that some of this behavior is by design due to the way the authentication works. https://support.microsoft.com/en-us/help/2535227/a-federated-user-is-prompted-unexp

[2018-09-27 20:43] Anmolgan81 commented on #8450
@tfitzmac Can you tell me in detail the process of moving the VSTS?

[2018-09-27 20:45] ggailey777 commented on #15698
We are working on official documentation for installing binding extensions in the portal manually. In the meantime, you can find the [instructions here](https://github.com/Azure/azure-functions-host/wiki/Updating-your-function-app-extensions#update-your-app-from-portal)

[2018-09-27 20:47] diberry commented on #8219
#in-progress

[2018-09-27 20:48] Alberto-Vega-MSFT commented on #15597
Hi @h28669

Are you still facing this issue?  If that is the case please read the below threads they should help

https://stackoverflow.com/questions/45304371/copying-7-column-table-to-6-column-table

https://stackoverflow.com/questions/52060606/copy-data-how-to-skip-identity-columns

If this doesn't work would you please share more detail on your scenario and what you have tried so far?

Thank yo

[2018-09-27 20:54] vchske commented on #15689
@Anmolgan81 Have you looked at Azure Database Migration Service? It offers several source to target scenarios with new scenarios actively being developed and released fairly often. In the case of an on prem SQL Server to Azure SQL it offers a one-time migration as well as continuous sync. In a nutshell, once you set up the service you create tasks to migrate 1 to N databases to a specified target.

[2018-09-27 20:56] tapialuism commented on #15216
Completed, all is well.

 Thanks

[2018-09-27 21:00] Anmolgan81 commented on #15689
@vchske We want to build a solution for one of out customer who wants to automate the migration of various databases attached with different SQL Server, Currently he do not want us to access the VM, although we have the access, how can we do this remotley deploying a script which will run on the VM and it will be executed externally and not on the VM and will export the data to azure SQL Databases

[2018-09-27 21:05] vchske commented on #15689
Can I ask if it's integral to deploy a script to their VM? Is their VM on Azure? If their VM can connect to a VNet then would DMS be a good candidate for them? You wouldn't need to access their VM and once the task is kicked off it just runs until the data is migrated. It's very straightforward (provided their data is ready for Azure SQL DB as there are a couple differences but they are usually mi

[2018-09-27 21:09] Anmolgan81 commented on #15689
@vchske yes the sql server is inside the azure vm, what can be the best simplified approach to use the method in order to migrate the data to azure sql database?

Do data migration service provisions the azure sql databases?

How can we use this without getting on to the vm?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: vchske <notifications@github.com>
Se

[2018-09-27 21:11] spelluru commented on #14138
@axisc

Explanations for SessionID and PartitionKey are clear to me in this section:
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-partitioning#use-of-partition-keys

Does it make sense to add the bolded statement?

Partitioned queues and topics are not supported in the Premium messaging tier. **However, sessions are supported in the Premier tier.**

@Arash-Sabet - pleas

[2018-09-27 21:13] wesmc7777 commented on #15755
@Gonkers Hi, looks like there is an error in the article.  You need to leave off the `-p port` in the command. For example,...

`az webapp remote-connection create --subscription subscription_id --resource-group group_name -n app_name &`

[2018-09-27 21:15] axisc commented on #14138
perhaps help to mention that 'sessions are supported in the Premium tier, using SessionId' to resolve confusion.

[2018-09-27 21:16] wesmc7777 commented on #15755
#in-progress

[2018-09-27 21:18] Adam-Smith-MSFT commented on #15471
@agnel123 Ah I see, I'll classify it as a Doc enhancement issue, and will assign it to the author. Thanks for the feedback!

[2018-09-27 21:24] tiny-dancer opened #15772 "CRUD operations"
I'm not seeing any content on how to update or create via sql?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f02ab33b-616c-7055-2375-43c700d609cd
* Version Independent ID: 81d1c3e3-c920-61d2-2e5f-8ed42f91c778
* Content: [SQL queries for Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sql-quer

[2018-09-27 21:28] douglaslMS commented on #14190
@bdforbes We've provided a suggestion with regard to your first paragraph at the beginning of this issue, and entered a backlog item to work with the Data Factory team to flesh out the CI/CD guidelines over time. I'm going to go ahead and request that this issue be closed. You can still add comments later with your suggestions to improve the documentation. Thank you!

[2018-09-27 21:28] douglaslMS commented on #14190
#please-close

[2018-09-27 21:30] vchske commented on #15689
@Anmolgan81 DMS has a scenario currently in private preview that allows for migrating the schema which provisions the database. That's fairly automated from soup to nuts. If there is some urgency, they can use DMA to generate a schema script and provision the Azure SQL database (that can be done via PS or Python) and then use DMS to migrate the data. DMA is handy in that it will point out any disc

[2018-09-27 21:35] douglaslMS commented on #14604
@jeffhebrank I apologize for the late response - I was on a vacation, and we don't have an automated solution for handling situations like that. To your second point, you're right, there are many places we have not repeated the instructions for installing Azure PowerShell. I will add a link to [Install Azure PowerShell on Windows](https://docs.microsoft.com/en-us/powershell/azure/install-azurerm-p

[2018-09-27 21:35] szarkos commented on #15293
#please-close

[2018-09-27 21:43] #15293 closed

[2018-09-27 21:49] vchske commented on #15689
@Anmolgan81 You should be able to onboard with the schema scenario. For that, I would direct you to talk to Raj at rajpo@microsoft.com. He will be able to walk you through the process. There will be a bit of a delay to onboard. That is why I say, if the timeline is urgent then using DMA to generate the schema(s) would be the most expedient approach.

[2018-09-27 21:50] ratchetwrench opened #15773 "Databricks Workflows v. ADF"
Should I be using the Databricks Notebook Workflows to pass data to each other and create a workflow to run a pipeline? Or Static notebook and ADF to pass data between notebooks?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1f2edef-d233-6125-1499-7f55d86ecb0c
* Version Independent ID: e994602f-882a-327e-9333-4d1cf2c

[2018-09-27 21:54] TravisCragg-MSFT commented on #15716
@mcurko I am seeing similar functionality when reproducing this issue. I am researching now to get more information and will follow up as soon as I can.

[2018-09-27 21:54] j-martens commented on #15674
We've checked in a fix. Thanks for your report. #please-close if you are satisfied with the fix.

[2018-09-27 21:55] Jann-Skotdal commented on #15724
@ziad-akiki Thank you for reporting the issue. We are currently investigating it

[2018-09-27 22:00] Adam-Smith-MSFT commented on #15641
@aquibqureshi26 I assigned the issue to @muralikk for help.

[2018-09-27 22:07] douglaslMS commented on #14728
Forwarded customer question to PM.

[2018-09-27 22:07] douglaslMS commented on #14604
Forwarded customer question about screenshot to PM.

[2018-09-27 22:14] SnehaGunda commented on #15242
@SamirFarhat  and @Mike-Ubezzi-MSFT thanks for identifying the issue and testing it. I am updating the doc to remove the symbols.

[2018-09-27 22:14] MarileeTurscak-MSFT commented on #15747
Can you try logging in incognito mode in a different browser? It's possible that your credentials are being cached.

@MicrosoftGuyJFlo can you confirm whether these scenarios are supported fully in this public preview? I will try to reproduce the issues in my lab.

[2018-09-27 22:16] agrebenyuk commented on #14717
Hi @femsulu , I have just sent all needed info to AzCommunity@microsoft.com as you suggested. An my best preference would be to keep this ticket open if possible please just for tracking purposes as it is not fully resolved yet. Regards!

[2018-09-27 22:16] Mike-Ubezzi-MSFT commented on #15767
@ankitshrivastava1987 Thank you very much for bringing this to our attention. We are actively investigating and will get back to you soon.

[2018-09-27 22:18] tapialuism commented on #15368
The error I am getting in the browser is "Cannot find server". I attached
the json.

On Thu, Sep 27, 2018 at 1:16 PM Luis Tapia <tapia.luis.m@gmail.com> wrote:

[2018-09-27 22:20] douglaslMS commented on #14950
Sent question about API for event triggers to dev. Class to use appears to be [BlobEventsTrigger ](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.datafactory.models.blobeventstrigger?view=azure-dotnet), but I want to verify. In any case, we don't currently have an example.  See #13018.

[2018-09-27 22:29] Mike-Ubezzi-MSFT commented on #10194
@c-arnab We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-27 22:29] #10194 closed

[2018-09-27 22:31] codeevaluator commented on #8050
Hi,

I actually talked to one of the guys in the Azure SQL team today att Ignite and brought this up.
He promised to reach out to Sacha since he worked with him alot.
Fingers crossed :)

[2018-09-27 22:32] Alberto-Vega-MSFT commented on #15621
@RedCruz It should not keep running. I tried the sample following the instructions in the tutorial and it works fine for me:
![pipelinesucceeded](https://user-images.githubusercontent.com/10910841/46177739-e1792380-c268-11e8-9747-b3970fd92dfb.PNG)

_Any way to exit with an error?_ If you are asking how to exit when there is an error. You would need to modify the script so it can end execution when

[2018-09-27 22:33] SnehaGunda commented on #15242
#please-close

[2018-09-27 22:38] Mike-Ubezzi-MSFT commented on #15242
@SamirFarhat We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-27 22:38] #15242 closed

[2018-09-27 22:43] TravisCragg-MSFT commented on #13727
@kiranjshetty This can sometimes happen, especially with ExpressRoutes. You can create additional routes to stay within Azure in that case.

[2018-09-27 22:45] muralikk commented on #15641
By design, data exported out of Azure storage incurs network egress charges . The customer gets the benefit of not paying for the network from their premises to Azure by using import/export.

[2018-09-27 22:50] TravisCragg-MSFT commented on #15754
@kiranjshetty This can sometimes happen, especially with ExpressRoutes. You can create additional routes to have the next hop type as "internet" in that case.

[2018-09-27 22:50] MarileeTurscak-MSFT commented on #15766
@timmyreilly
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-27 22:50] MarileeTurscak-MSFT commented on #15769
@WeidongShen
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-27 22:51] TravisCragg-MSFT commented on #15593
@SychevIgor We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-27 22:51] #15593 closed

[2018-09-27 22:53] MightyPen commented on #10194
BACKGROUND INFO - that Steve Stein emailed to me today:
.
From: Steve Stein
Sent: Thursday, September 27, 2018 3:11 PM
To: Gene Milener <genemi@microsoft.com>
Subject: FW: Passing on ownership of SaaS in a Box

FYI – on the SaaS in a box ownership handoff.
•	https://github.com/MicrosoftDocs/azure-docs/issues/10194

From: Bill Gibson
Sent: Tuesday, March 6, 2018 12:21 AM
To: Alain Dormehl <Alain.Do

[2018-09-27 23:02] axisc opened #15774 "Change the brokered connections example to reflect 5000 devices -> 2500 brokered connections"
Refer to the brokered connections examples in the FAQ section here.

https://azure.microsoft.com/en-us/pricing/details/service-bus/

cc @spelluru

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8b75004-9c4b-37ee-a3f1-b58354a497b7
* Version Independent ID: 5748d76c-fba0-939b-f43d-046e9738866a
* Content: [Service Bus pri

[2018-09-27 23:02] #14610 closed

[2018-09-27 23:02] ggailey777 commented on #15756
@jeffhollan can you address this feedback?

[2018-09-27 23:04] Adam-Smith-MSFT commented on #15750
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-27 23:05] Adam-Smith-MSFT commented on #15748
@jakemarston Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-27 23:06] Adam-Smith-MSFT commented on #15757
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-27 23:09] femsulu commented on #15765
@justcallmetrell Your comment has been shared with the content owner for review.

[2018-09-27 23:11] Karishma-Tiwari-MSFT commented on #15216
@tapialuism Glad to know it worked out for you.
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-27 23:11] #15216 closed

[2018-09-27 23:11] TravisCragg-MSFT commented on #15716
@mcurko [according to the description of Subnet traffic-routing method](https://docs.microsoft.com/en-us/azure/traffic-manager/traffic-manager-routing-methods#a-name--subnetasubnet-traffic-routing-method), the IP Address that is used to decide is the outgoing IP address of the DNS resolver used by the caller.

I am still seeing some strange functionality on my end when one endpoint does not have a

[2018-09-27 23:11] femsulu commented on #15761
@javgarces Thanks for the Comment. We are actively investigating and will get back to you soon.

[2018-09-27 23:12] Karishma-Tiwari-MSFT commented on #15600
@Marisella Thanks for the update. We will now close the issue. Feel free to reopen it, if you have additional questions.

[2018-09-27 23:12] #15600 closed

[2018-09-27 23:16] AyoOlubeko commented on #10195
@c-arnab Thanks for catching this! The files that were previously referenced are from the 'dbpertenant' flavor of the Wingtip Tickets application and their references were not purged from the solution. I've updated the solution file now to reference the correct file. As noted earlier in the thread, this should not affect you deploying and testing the app. Thanks again for reporting this

[2018-09-27 23:28] stevestein commented on #10195
#please-close

[2018-09-27 23:37] TravisCragg-MSFT commented on #15745
@xdansmith Azure Front Door requires a CNAME record, so you would need to make a new CNAME record based on your @ (A) record.

[2018-09-27 23:55] davecanderson commented on #15476
@Adam-Smith-MSFT I did add .blob.core and the test always fails however using .file.core it succeeds.

[2018-09-28 00:06] dcbrown16 commented on #15710
@TravisCragg-MSFT , that statement doesn't seem to reconcile with the information below.
"This capability enables scenarios where a back-end pool can have two or more multi-tenant PaaS services like Azure web apps and the request's host header to each member contains the host name derived from its FQDN."
https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-web-app-overvie

[2018-09-28 00:07] satishdevan opened #15777 "Invalid parameter"
-GatewayName parameter is not valid for New-AzureVNetGateway.

The command should be New-AzureVNetGateway -VNetName "MyAzureVNET" -GatewayType DynamicRouting -GatewaySKU  Standard

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce2237de-0e49-0038-ce36-3e1d2858cd40
* Version Independent ID: b225d087-ec76-2614-7eb8-9129c8

[2018-09-28 00:07] satishdevan commented on #15777
Reference - https://docs.microsoft.com/en-us/powershell/module/servicemanagement/azure/new-azurevnetgateway?view=azuresmps-4.0.0

[2018-09-28 00:10] jason-j-MSFT commented on #15773
@ratchetwrench
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-28 00:42] TravisCragg-MSFT commented on #15710
@dcbrown16 [I think you are correct](https://docs.microsoft.com/en-us/powershell/module/azurerm.network/new-azurermapplicationgatewaybackendaddresspool?view=azurermps-6.9.0), it seems multiple web apps can be added, but I will need to repro the full thing to test and make sure they are fully working.

The portal seems to have strange limitations with Web Apps and App Gateways. I will repro this an

[2018-09-28 00:58] hiteshtulsani commented on #13515
Hi @nabhishek - navigating to runPageUrl and the content therein would help when using/monitoring ADF interactively. How about batch workflows where error logging is done externally? Unfortunately, it doesn't help to just catch the runPageUrl when the databricks log content is only available for 60 days.

[2018-09-28 00:59] TomArcher commented on #15765
@kyliel Could you take a look at this issue?

[2018-09-28 01:03] Karishma-Tiwari-MSFT commented on #15397
@mcurko Our engineers found that this is an issue with Azure PowerShell version 6.8.1. Team is working on the fix for that. Just to double check, can you please share which Azure PowerShell version are you using?
@cynthn Meanwhile, can you please update the doc with the unsupported version i.e.6.8.1?
Thanks.

[2018-09-28 01:32] rschiefer opened #15779 "Invalid Email"
I receive the following error after following this tutorial:

Invalid Email
We are unable to process your request at this time, please try again later.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fdf59c4-653e-956e-d675-f7e17ed7d488
* Version Independent ID: 57b9c048-a938-6e21-633b-e0aabdd59946
* Content: [Tutorial:

[2018-09-28 01:34] kobulloc-MSFT commented on #15445
@aL3891 The document should be updated shortly.  To specifically address your question, please review the pricing change announcement made here:

https://docs.microsoft.com/en-us/azure/application-insights/app-insights-pricing#pricing-plans

[2018-09-28 01:39] nabhishek commented on #6040
@nansravn this document only applies to a self-hosted IR. Thanks for your feedback.
The official SSL certificate you are referring to is only required for encrypting node-to-node communication (between self-hosted IR nodes in case of High Availablity setup).
While connecting to any data source, the connection is always encrypted and there is no way to make it unencrypted.
Hope this clarifies the c

[2018-09-28 01:39] nabhishek commented on #6040
#please-close

[2018-09-28 01:48] nabhishek commented on #6242
@hiteshtulsani Yes, you can specify spark environment variable to specify a python 3 cluster in the databricks linked service. (In ADF UI -> Databricks linked service (new or edit) -> Additional cluster settings -> Cluster Spark environment variables, add Name -> **PYSPARK_PYTHON**, Value-> **/databricks/python3/bin/python3**)
In future, we will provide a simple dropdown in the UI to select Python

[2018-09-28 02:00] maxal1917 opened #15781 "HTTP access to static web site with custom domain"
Not clear how to configure HTTP access to static web site with custom domain. I got error AccountRequiresHttps trying to access it without HTTPS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcd3f99a-f522-6edb-6d39-eac1bb917956
* Version Independent ID: 69e9c1e5-8deb-8092-46f4-6646d076fbe4
* Content: [Static website h

[2018-09-28 02:00] MicahMcKittrick-MSFT commented on #15762
@maxal1917 I will answer your questions in two parts

**Migrating from Service Fabric to Service Fabric Mesh**
There is not a direct way to migrate from Service Fabric to Service Fabric mesh. The same is true for migrating a service fabric cluster to another subscription. You will have to redeploy your services to the new cluster either way. You could setup persistent data drives and manually move

[2018-09-28 02:01] rolyon commented on #15370
Hi @skillriver
A possible reason why you get the 500 error is because your fork is too out of date with the main repository. You might try to sync your fork.

[2018-09-28 02:02] MicahMcKittrick-MSFT commented on #15713
Thanks @iainfoulds!

@wy193777 does that help?

[2018-09-28 02:03] nabhishek commented on #15491
@Anded Yes this is the behavior by design. It is on our backlog to improve this in order to maintain the same structure.
For now, suggestion is to zip the folder, so custom activity copies it as is, and then unzip it in custom code in the path you want.

[2018-09-28 02:05] rgf-sylvain opened #15782 "sso_reload parameter on authorize endpoint is not documented"
For our integration it seems that we need to add the parameter "sso_reload" at the end of authorize request, otherwise the request never succeeds and keeps hanging.
Is it possible to know what exactly is the purpose of this parameter?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be0884d3-263f-9913-7b8c-170d8092baa2
*

[2018-09-28 02:07] maxal1917 commented on #15781
Nevermind, I figure it out, please close the issue. I'm having InvalidQueryParameterValue problem now, but will try to look more myself before asking

[2018-09-28 03:17] Anmolgan81 commented on #15689
@vchske so How can we automate the DMA mechanism?

[2018-09-28 03:45] jayasuryajeyakodi commented on #13504
try changing the port number, it worked for me. I guess the previous instance is still running causing this issue

[2018-09-28 04:04] #15695 closed

[2018-09-28 04:08] Rajeswari-Mamilla commented on #15058
@ajaguilar-viewnext, Thank you for sharing the request id. I will follow up on the case and get back to you. Since, we tracking this issue through the support request, I will go ahead and close this thread.

[2018-09-28 04:16] AdamGrossTX commented on #15211
Any update on this?

[2018-09-28 04:17] azusa opened #15784 "Redis command-line tools for Windows is out of date"
In this article, they uses [Redis command-line tools for Windows](https://github.com/MicrosoftArchive/redis/releases) for connect to redis from Windows Platform.

But GitHub Repository of Redis command-line tools for Windows moved to [MicrosoftArchive](https://github.com/MicrosoftArchive/redis). I recognize Redis command-line tools for Windows is no longer under maintanance.

 I propose that using

[2018-09-28 04:17] aquibqureshi26 commented on #15641
Hi Muralikk,

If you are saying we would not be charged for egress if we are using Import/Export Service then why there is mentioned about the Egress Charges in this article? Also the link which is mentioned in the transaction cost is of network egress pricing link. Below is the highlighted content from this article which is confusing.

"Transaction costs
The standard egress charges are applicable

[2018-09-28 04:36] #15553 closed

[2018-09-28 04:36] #15549 closed

[2018-09-28 04:36] #15560 closed

[2018-09-28 04:36] #15554 closed

[2018-09-28 04:36] #15561 closed

[2018-09-28 04:37] #15511 closed

[2018-09-28 05:10] muralikk commented on #15641
Hi Aquibqureshi26,
The online documenation article is correct. There will be egress charges if you use import/export service to export data out of Azure. Sorry if my response was not clear.

[2018-09-28 05:37] dipito31 opened #15786 "Inaccurate reference to the 1810 update"
Can the author please change the reference to the latest update of AZs to 1810 as opposed to 1710 (which is what is listed) in paragraph two of this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29f222e7-c9e3-57fd-934c-81dfb3f636aa
* Version Independent ID: eb7a87d7-82d7-82ea-4a2a-fcbd5c209eab
* Content: [Monito

[2018-09-28 05:43] henrikhallebrand opened #15787 "Confusing article"
This article mix Azure MFA settings with MFA Server settings. Very confusing. All things about MFA Server in Azure portal is for the download version on premise MFA Server and I dont Think you should mix that with settings for Azure MFA settings..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84b26750-880c-8f14-1628-4

[2018-09-28 05:47] Donnie-Zhang opened #15788 "On the Azure Stack there is no option to select the VPN type"
https://docs.microsoft.com/en-us/azure/azure-stack/azure-stack-connect-vpn#create-the-virtual-network-gateway-1

By default, Route-based is selected for VPN type. Keep the Route-based VPN type.

This should be removed on the Azure Stack.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fec5666f-c9b6-2ae6-3a46-3b390d252d1

[2018-09-28 05:59] BaymaxGroot opened #15789 "Azure Service State Through RestAPI"
As we all know, we can view the Azure Server Status through : https://azure.microsoft.com/en-us/status/ this page.

Now there are some demand need to detect the Azure Service Status through program!
I have explored many document about this, I found the Health alerts only.

So my question is:  **### Is there some API provided to call the Azure Service Status.**

![image](https://user-images.githubu

[2018-09-28 06:34] Rajeswari-Mamilla commented on #15058
#please-close

[2018-09-28 06:41] hugovoerman opened #15791 "Document endpoints please (fqdn/ip:port)"
I've read about Update Managementm Inventory,Change Traking and Configuration management. To be able to use this, I need to know what endpoints (fqdn/ip : port) are used for this services in order to make sure firewalls are configured properly. Is it possible to add this information to the documentation? Or is it documented somewhere else?

BR,
Hugo

---
#### Document Details

⚠ *Do not edit this

[2018-09-28 06:55] #15058 closed

[2018-09-28 07:02] hosebei commented on #15725
it fails for me as well. same issue with some links within the SCCM console. Your redirector determine the used language from the keyboard setting. In my Case, my keyboard setting is on de-CH. If I click on https://aka.ms/modernauthga I get to: https://www.microsoft.com/de-ch/microsoft-365/blog/2015/11/19/updated-office-365-modern-authentication-public-preview/
where you can see, there is de-Ch us

[2018-09-28 07:05] gokul2018 commented on #15761
Hi, I am looking for the answer too. Please keep us posted once you investigate the Downtime/performance degradation during the process of migration.

[2018-09-28 07:05] gokul2018 commented on #15761
Also, if there is an estimate for the time to complete, are there any factors that determine the time to complete migration, please mention them as well.

[2018-09-28 07:12] saifuddin123 commented on #15731
Thanks sergaz, I couldn't get much help from the link. Here is what we are trying to do. "Auto provisioning of IoT runtime edge devices using X509 certificates (not TPM) over group enrollment".

we prefer to do it using python as our devices is using ubuntu 16.4 LTS. I am trying to test this on my windows following this article - https://docs.microsoft.com/en-us/azure/iot-dps/tutorial-group-enroll

[2018-09-28 07:13] y4hmez opened #15792 "SDK links broken?"
hello - getting a yellow screen when hitting then SDK install links...

https://webpihandler.azurewebsites.net/web/handlers/webpi.ashx/getinstaller/MicrosoftAzure-ServiceFabric-CoreSDK.appids

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23e79576-36ff-8e39-9d21-adc897608b73
* Version Independent ID: bb904115-2166-6871

[2018-09-28 07:19] MohitGargMSFT commented on #15779
@rschiefer Thanks for your feedback! We will investigate and update soon on it.

[2018-09-28 07:20] MohitGargMSFT commented on #15782
@rgf-sylvain Thanks for your feedback! We will investigate and update soon on it.

[2018-09-28 07:29] sebader commented on #14196
Ok, thanks for the clarification

[2018-09-28 07:29] #14196 closed

[2018-09-28 07:32] niceysj opened #15793 "How can I do this "Check that you signed in using the Azure AD tenant associated with the Azure Stack instance. You can switch your sign-in by clicking the filter icon in the Azure toolbar.""
I need more detailed action guide.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4072186c-0214-fdab-a2d1-bd7965d76b66
* Version Independent ID: c254d1d2-7fd7-d623-f45b-cd6bc53e3ca2
* Content: [Deploy Kubernetes to Azure Stack](https://docs.microsoft.com/en-us/azure/azure-stack/user/azure-stack-solution-template-kubern

[2018-09-28 07:53] h28669 commented on #15597
Hi
My current workaround is to create a pseudo DateTime column in source and map it to Timestamp column in sink. The value from source is then ignored, since timestamp is created/updated on server-side. However, this is an ugly workaround, for something that MS should fix: simply do not show the Timestamp column in sink, if sink is an Azure table and do not count it when comparing number of column

[2018-09-28 07:53] #15597 closed

[2018-09-28 08:09] SychevIgor opened #15794 "Drop info about "Mobile Engagement""
"Mobile Engagement" retired and shout be dropped from "Services that can be moved"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Move Azure resources to new subscription or resource group](https://docs.micro

[2018-09-28 08:21] dominicbetts commented on #15670
@prafullkotecha - running start.cmd creates an ASA streaming job in the resource group for your solution. The output from start.cmd, in addition to the environment variables also mentions that you need to start the streaming job manually:

[code]

[2018-09-28 08:33] yuwzho commented on #15765
@justcallmetrell Would you please show the version of your `azure-mgmt-containerservice` package? It is  required >= 3.0.1 for aks module

[2018-09-28 08:46] simonholgate opened #15795 "Running sample is out of date with source code"
In the documentation above, the command 'npm start' is given to run the code. This fails with 'npm ERR! missing script: start'
The README.md that comes with the git repository corrects this, giving a number of separate commands e.g.
'node index.js --command createContainer'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2018-09-28 08:49] a-zolotukhin opened #15796 "Gateway distr is corrupted"
FYI
At the state of today link above for downloading the distributive for gateway is giving you corrupted file that can't run.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0deaa8b2-66a2-b45c-3ecd-7ea2d08503ed
* Version Independent ID: 364890ed-d3ba-9e01-c40a-ce78600319f1
* Content: [Install on-premises data gateway -

[2018-09-28 08:54] aszego commented on #13599
@ghogen, thanks, it does work.

[2018-09-28 09:00] deadlyfingers commented on #15740
@malbamsft I've submitted changes as PR - https://github.com/MicrosoftDocs/azure-docs/pull/15797

[2018-09-28 09:18] cephalin commented on #15607
@cliffkoh I agree with @BryanTrach-MSFT that this is beyond the scope of this article. Perhaps the better thing to do here is to clarify in the intro that this article isn't about customizing auth in general but just the auth feature in App Service. We are not resourced to support all auth possibilities that involve App Service, but only as pertaining to the actual usage of the feature in our serv

[2018-09-28 09:30] JohnReeson opened #15798 "FUNCTIONS_RUNTIME_VERSION is not a valid Application settings"
In section [changing-version-of-apps](https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions#changing-version-of-apps-in-azure), it says version is set through `FUNCTIONS_RUNTIME_VERSION` instead of `FUNCTIONS_EXTENSION_VERSION` my app is actually using. Is it a mistake or some naming modification to be made in the future?

---
#### Document Details

⚠ *Do not edit this section.

[2018-09-28 09:33] JurreHeesbeen opened #15799 "Required Client id and Client secret fields not included in instructions"
I'm following this instruction to add an Azure AD using the OpenID Connect (Preview) identity provider to a B2C tenant. However, when adding the OpenID identity provider, I see there are also required fields for Client id and Client secret. This document does not describe which values must be supplied for those fields. I assume that the Application ID and Secret created in the first part of the ma

[2018-09-28 09:33] cliffkoh commented on #15607
Again, if I were to interpret your response correctly that app service does not support this scenario, it would be good for this to be documented.

I mean, surely you would agree that scopes or permissions customization is a fundamental scenario of auth - specifically the main point (maybe the entire point) of getting access to an auth token? The end to end tutorial linked in next steps in the doc

[2018-09-28 09:42] mchudinov opened #15800 "Select Keys, then Passwords"
10. Select Keys, enter the key description, select a duration, and then click Save. Copy the value of the key that is displayed to be used later.

There are no description on Keys. Keys there are public keys that must be uploaded as files.
So here after select Keys user needs to choose Passwords. And then enter the _password_ description, select a duration, and then click Save.

---
#### Document

[2018-09-28 09:52] xela30 opened #15801 "How to stop Reverse Proxy on particular node?"
Is it possible to stop only Reverse Proxy service?
As far as I see the only way to do it currently is to stop the whole windows Service Fabric Host Service which literally means to take node down.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31e0a1d2-789d-240f-be0b-892d43f80b66
* Version Independent ID: aac58453-4adc

[2018-09-28 09:59] CarolineVanDuin opened #15802 "New URL gives a maintenance error"
When using the new URL (see earlier issue #14729) :
https://your-tenant-name.b2clogin.com/your-tenant-name.onmicrosoft.com/oauth2/authresp

I get the following error in the redirect URL on login.live.com which shows me a maintenance page.
The+provided+value+for+the+input+parameter+'redirect_uri'+is+not+valid.+The+expected+value+is+'https://login.live.com/oauth20_desktop.srf'+or+a+URL+which+matches

[2018-09-28 10:33] rifaterdemsahin opened #15803 "When are we going to be able to use this"
We dont want to recreate our networks

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce428f61-9be4-3d54-6060-1cbeae2259aa
* Version Independent ID: 3092b070-389e-57af-9955-a5e1e1f4320d
* Content: [Create an Azure DNS private zone using the Azure CLI](https://docs.microsoft.com/en-gb/azure/dns/private-dns-getstarted-cli

[2018-09-28 11:40] elamathiJv commented on #15726
@DCtheGeek . I actually mentioned the word 'parameter' to specify the values assigned during append operation and not the actual template parameters.

To be exact I was trying to enforce a tag name and value to a resource from its parent resource groups.
Let say I have two tags  name t1 and t2.

In the policy I have a parameter which the tag name to be inherited from its resource group. In this ca

[2018-09-28 11:45] jurjenoskam commented on #15642
@vhorne Hi, sure, just sent it.

[2018-09-28 11:45] #15642 closed

[2018-09-28 11:46] nabhishek commented on #11230
@syedhamjath the ports are now configurable. the default is 8060, but you may change it as required.

[2018-09-28 11:46] nabhishek commented on #11230
#please-close

[2018-09-28 11:48] nabhishek commented on #9338
@jdobrzen we have fixed the doc. it supports sharing across data factories.

[2018-09-28 11:48] nabhishek commented on #9338
#please-close

[2018-09-28 11:48] nabhishek commented on #6644
#please-close

[2018-09-28 11:49] nabhishek commented on #7612
@algattik thanks for the suggestion. we will add this in the coming days.

[2018-09-28 11:49] nabhishek commented on #7612
#please-close

[2018-09-28 11:52] nabhishek commented on #15662
The path signifies where your notebook exists. We have now added navigation option in the UI. so you may as well navigate and select the notebook, which will completely avoid this issue.

[2018-09-28 11:54] nabhishek commented on #6242
@bcas997 It depends on which python version are you using. this works for me.

[2018-09-28 11:54] nabhishek commented on #6242
#please-close

[2018-09-28 11:55] dominicbetts commented on #14402
Hi @Alberto-Vega-MSFT - I've just created a PR to update this article https://github.com/MicrosoftDocs/azure-docs/issues/14402. The source repositories have recently been reorganized leading to some inconsistencies. Thanks!

[2018-09-28 12:03] eosfor commented on #12771
Any news on this, where i can find a draft or a preliminary version, at least something, please.

[2018-09-28 12:04] JimmyJamesJay opened #15806 "Azure AD Password Protection DC Agent service is stopped or not responding"
When I try and change a password I get an event in the Eventlog on the DC saying
"Validation of the changed password failed with an infrastructure error. The password will be treated as valid.
 UserName: MyUser
 FullName: MyUser
 Error: 0x800706ba

Note: this error may occur when the Azure AD Password Protection DC Agent service is stopped or not responding. A correlated event log message may be p

[2018-09-28 12:04] hning86 commented on #15676
1. I see what's going on. The Pi example and the local AutoML example only use the logging API to record things from a local run. Hence there is no execution log. If you follow our examples of submitting a run through our execution services you'd see actual execution logs, such as these: https://github.com/Azure/MachineLearningNotebooks/tree/master/01.getting-started (except 01).

2. Good feedback

[2018-09-28 12:10] cephalin commented on #15607
@cliffkoh It's not that it's not supported, but that it's supportability lies in your identity provider and depends on how you configure your provider, and therefore is "beyond the scope" of the auth functionality in App Service.

Again, "scopes or permissions customization is a fundamental scenario of auth" indicates you believe this is an article about auth in general, which is not it's design (

[2018-09-28 12:11] nabhishek commented on #13515
@hiteshtulsani how about specifying _cluster log path_ in the linked service. Soon we would be adding parameterization of linked service properties and you could use DateTime partitions to push the logs in DBFS for persisting it.

[2018-09-28 12:16] mchudinov opened #15807 "essential for smooth authorization experience?"
Could you please specify what is "smooth authorization experience"? And what the "essential" claim's property actually means in practice when it is true of false.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d8e93d6-413b-34aa-3359-41f5baa442d3
* Version Independent ID: 0d657318-8058-a76a-c219-393ab3a4920d
* Content:

[2018-09-28 12:19] tfitzmac commented on #15761
@javgarces and @gokul2018 - the second paragraph describes which operations are frozen and which are not. You should not experience downtime.

[2018-09-28 12:19] tfitzmac commented on #15761
#please-close

[2018-09-28 12:28] jdogg89 commented on #12771
You should be able to change the SKU with an annotation in your deployment
yaml

On Fri, Sep 28, 2018, 8:03 AM eosfor <notifications@github.com> wrote:

[2018-09-28 12:29] Mike-EEE commented on #6242
@nabhishek forgive me if I missed something obvious here but Python had nothing to do with the issue I posted. :)  From my understanding @MicahMcKittrick-MSFT is looking for a content author to address the copy.  Please let me know what I have misunderstood here.

[2018-09-28 12:30] tfitzmac commented on #15794
@SychevIgor - thanks for the suggestion. It should be fixed this morning.

[2018-09-28 12:35] mchudinov opened #15808 "groupMembershipClaims only group's Object ID comes out"
When groupMembershipClaims  is set to either 1 or 7 then only group's object ID are issued. Not the group names. If this is a feature then please notice it in the documentation. If this is a bug then please fix it.
How to issue security group names then?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f7ced07-0b71-715f

[2018-09-28 12:40] kyurthich opened #15809 "Baseline policy: Require MFA for admins -- not allowing app passwords to be created."
I have no way to do app passwords for baseline policy for MFA for admins.

The normal MFA stuff works but I am not able to sign into desktop version of skype for business for example. Because no App Passwords!

As well one of our users was even having trouble signing into outlook for MAC. (Does this require an app password too?)

Image below has no link to app passwords at the top.

![image](https

[2018-09-28 13:10] ToddChitt opened #15810 "This looks to be for QuickBooks On Line, NOT for QuickBooks Desktop version"
Please clarify this in the title of the article. "QuickBooks", since it came first, generally refers to the desktop version. "QuickBooks On Line" is VERY different.
The fact that you need Company ID, a Service Endpoint and an OAuth key indicates this is for QB On Line.

Is there an ADF Connector or QuickBooks Desktop? If so, I don't think this is it.

---
#### Document Details

⚠ *Do not edit this

[2018-09-28 13:14] Madrawn commented on #15406
@YutongTie-MSFT
Hi, I already answered on the forum but I'll post here as well:

Hi,

it seems I already am using the linux container. When I select "switch to windows container" the error changes.

Error with windows container:

[Local mode] Pulling the image from mlcrpacrbf009701c3c3.azurecr.io/taggerv0serv:8. This may take a few minutes, depending on your connection speed...
docker.api.image :

[2018-09-28 13:21] Gonkers commented on #15755
Confirmed. This fixed my issue. Thanks!

[2018-09-28 13:28] tarifrr commented on #15496
Quick update --> I tried reinstalling the Issuer and Certificate again on multiple namespace, so far the Issuer can be retrieved upon `kubectl get Issuer`. Not sure what I did wrong the last time around. I will wait until a full 24hrs is completed and if it remains as is then I'll create a CronJob to renew the certificates by first deleting the old one and creating a new one.

[2018-09-28 13:32] sergaz-msft commented on #15008
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-28 13:32] #15008 closed

[2018-09-28 13:36] sahilpnckr123 opened #15812 "Registering your subscription for Virtual WAN"
# How can i register my subscription for Virtual WAN preview to create a Virtual WAN?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb0224af-2059-f88c-bb14-926ef69bd835
* Version Independent ID: c8859d92-dced-ecaa-a409-7af3cc064187
* Content: [Use Azure Virtual WAN to create a Point-to-Site connection to Azure](https:

[2018-09-28 14:00] #15794 closed

[2018-09-28 14:08] orangetoken commented on #15201
@femsulu does the VSTS Service Principal need to have "Monitoring Contributor" role explicitly? The SP has at the moment "only" Contributor role on the resource group where Log Analytics has been deployed but the deployment manager throw an error on unsuffcient permissions for "Microsoft.OperationalInsights/workspaces/sharedKeys/action".

[2018-09-28 14:14] jay98014 commented on #15806
Hi Jimmy,

One quick way to check if the Universal CRT is installed is to see if C:\windows\system32\ucrtbase.dll is present.   If it is not, we have some links in the documentation to the OS-specific UCRT installers, or (better yet) I'd suggest fully patching the OS via Windows Update.

However, there is another problem here which is that you say you are testing on Server 2008 R2 which is not a s

[2018-09-28 14:20] tfitzmac commented on #15656
@blueelvis - thanks for this question. I have added that information to the article. String comparisons are case-sensitive, but searching for a key in an object is case-insensitive.

[2018-09-28 14:24] ronaldvanrij opened #15813 "Is there an IN operation like SQL does?"
This'll make a lot of query much simpler.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b938908-1b0f-63e4-6e17-bccd57f8d3e8
* Version Independent ID: 7edcd9e5-13ba-f7e4-f7cd-92412a28001f
* Content: [SQL to Azure Log Analytics query language cheat sheet](https://docs.microsoft.com/en-us/azure/log-analytics/query-langu

[2018-09-28 14:40] amtrived1 commented on #15648
Hello @msangapu , above setting allowed me to create the site. But after ZipDeployment part i am receiving `You do not have permission to view this directory or page.`

[2018-09-28 14:44] msangapu commented on #15648
Hi @amtrived1 - see cephalin's comment above. Verify that you are in the root folder. In this case, you have to be inside of "nodejs-docs-hello-world-master" folder when you create the zip file.

[2018-09-28 14:45] NeilPetersen commented on #15725
https://www.microsoft.com/en-gb/microsoft-365/blog/2015/11/19/updated-office-365-modern-authentication-public-preview/ - Fails

https://www.microsoft.com/en-us/microsoft-365/blog/2015/11/19/updated-office-365-modern-authentication-public-preview/ - Works so yes looks like a locale issues.

Thanks

[2018-09-28 15:04] #15656 closed

[2018-09-28 15:04] justcallmetrell commented on #15765
Sure ...

[root@awx awx]# pip show azure-mgmt-containerservice
Name: azure-mgmt-containerservice
Version: 3.0.1
Summary: Microsoft Azure Container Service Client Library for Python
Home-page: https://github.com/Azure/azure-sdk-for-python
Author: Microsoft Corporation
Author-email: azpysdkhelp@microsoft.com
License: MIT License
Location: /usr/lib/python2.7/site-packages
Requires: azure-common, azur

[2018-09-28 15:22] AjkayAlan commented on #15756
Agreed - It is super confusing that the docs say that you can author functions using .NET Core 2.1 but in reality you have to use .NET Standard.

At this point I don't feel like its worth investing in Azure Functions V2 until they actually support .NET Core.

[2018-09-28 15:26] choovick opened #15815 "Log Analytics azure cli deployment template"
**Technology:** `Log Analytics`

**Documentation Link:**  [https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-quick-create-workspace-cli?toc=/azure/azure-monitor/toc.json#create-a-workspace](https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-quick-create-workspace-cli?toc=/azure/azure-monitor/toc.json#create-a-workspace)

**Issue:**

### 1. Update deployment templat

[2018-09-28 15:43] Mike-Ubezzi-MSFT commented on #15784
@azusa Thank you very much for your interest in Azure products and services. You have a great suggestion, and the best forum for making such requests is through the [Azure Cache Uservoice](https://feedback.azure.com/forums/169382-cache).

The Azure Portal currently offers a CLI interface that allows you this functionality and the documentation you pointed out, [How to use the Redis command-line to

[2018-09-28 15:43] SharmainePopov opened #15816 "Correlation Id for Update Options via PowerShell - eg Update-AzureRMvm"
Hi, I am trying go grab the correlation Id from resource update/modification operations performed via PowerShell, how can I code that. - Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ffeaaf5-1859-90e1-6451-aca6d7fb34b1
* Version Independent ID: 43849bff-28fe-661c-be86-d8d355ac0584
* Content: [Deployment operat

[2018-09-28 15:58] Adam-Smith-MSFT commented on #15795
@simonholgate Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-28 15:59] JoeDavis10 opened #15818 "Bug in example code"
Just a note, there's a slight error in the example provided:

# Monitor database size
az sql db list-usages \
	--name mySampleDatabase \
	--resource-group myResourceGroup \
	--name $servername  &lt;-- Should be --server instead

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61353667-8f97-46d0-3368-5dabdf6e7131
* Versio

[2018-09-28 15:59] aquibqureshi26 commented on #15641
Thanks Muralikk. if We're not using network and using HDD to transfer the data then we shouldn't get the cost of egress. If that is the answer then thanks for clarifying the same. Please close the thread.

[2018-09-28 16:00] Adam-Smith-MSFT commented on #15781
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-28 16:00] #15781 closed

[2018-09-28 16:01] davidmu1 commented on #15709
@rbrayb @SaurabhSharma-MSFT - When I run through the procedures in the article, I register two applications: IdentityExperienceFramework, and ProxyIdentityExperienceFramework. When I get to the end of the procedure, I have a policy created named B2C_1A_signup_signin, and when I get to the Test the custom policy section of the article, I am able to select the policy, click Run now and then get the

[2018-09-28 16:04] davidmu1 commented on #15452
Unfortunately, I can't do anything about the linking experience, but I did update the article to reflect the current user interface experience in Azure portal.

#please-close

[2018-09-28 16:05] davidmu1 commented on #14948
Change the values to Signature.

#please-close

[2018-09-28 16:07] davidmu1 commented on #14826
Added the following text and link to the article:

You can use Predicates and PredicateValidations elements to control the minimum and maximum date values. For more information, see the Configure a date range section of Predicates and PredicateValidations.

#please-close

[2018-09-28 16:07] Karishma-Tiwari-MSFT commented on #15368
@tapialuism Your issue is same as #15286. Network security group has to be created and assigned to the VNET subnet, with inbound port 80 open, for this tutorial to function properly. We are working on updating the docs, till then please follow as stated above. Thanks.

[2018-09-28 16:08] jason-j-MSFT commented on #15763
@ran-ten21
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-28 16:09] jason-j-MSFT commented on #15777
@satishdevan
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-28 16:10] Karishma-Tiwari-MSFT commented on #15801
@xela30 Thanks for the question. We are currently investigating and will update you shortly.

[2018-09-28 16:11] Mike-Ubezzi-MSFT commented on #9004
@cbailiss You cannot scale between performance tiers with Managed Instance. You can scale up/down the # of vCores + Storage within a given performance tier. This, I believe, is done manually in the Azure Portal for your Managed Instance deployment.

[2018-09-28 16:12] jason-j-MSFT commented on #15774
@axisc
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-28 16:12] davidmu1 commented on #14209
Adding @parakhj to help confirm?

[2018-09-28 16:13] Mike-Ubezzi-MSFT commented on #15352
@Szczechla We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-28 16:13] #15352 closed

[2018-09-28 16:13] Mike-Ubezzi-MSFT commented on #15398
@vetrivelmp We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-28 16:13] #15398 closed

[2018-09-28 16:29] sergaz-msft commented on #15774
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-28 16:30] helloguo opened #15820 "Any plan to update the standalone Azure Functions Runtime (On-premise)?"
This installer was created last year. Since Azure Function v2 is available on Azure Cloud and it has a lot of optimizations. Is there any plan to update the standalone Azure Functions Runtime (On-premise)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a304f1aa-ac44-7831-2f2c-f827238fc50e
* Version Independent ID: 6610

[2018-09-28 16:31] Mike-Ubezzi-MSFT commented on #15405
Reference:
Running with Python 3.6

Virtual environment is being created at 'C:\Users\miubezzi\source\repos\tutorial\tutorial\env'
Virtual environment was successfully created at 'C:\Users\miubezzi\source\repos\tutorial\tutorial\env'
Installing packages from 'C:\Users\miubezzi\source\repos\tutorial\tutorial\requirements.txt'
----- Installing '-r C:\Users\miubezzi\source\repos\tutorial\tutorial\req

[2018-09-28 16:32] sergaz-msft commented on #14965
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

PS: please let us know the link to the other post :).

[2018-09-28 16:32] #14965 closed

[2018-09-28 16:33] sergaz-msft commented on #15516
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-28 16:33] #15516 closed

[2018-09-28 16:34] sergaz-msft commented on #15645
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-28 16:34] #15645 closed

[2018-09-28 16:35] JimmyJamesJay commented on #15806
Thanks for your quick response.

I interpreted this   that as long as we had at least one Windows Server 2012+ DC then it would be OK.

In order for Register-AzureADPasswordProtectionForest to succeed at least one Windows Server 2012 or later domain controller must be available in the proxy server's domain. However there is no requirement that the DC agent software be installed on any domain contr

[2018-09-28 16:37] gaurav7961 commented on #11093
@linda33wj  It doesn't seem to be working, even as per StackOverflow comments, it doesn't work for him as well. "For JSON path not support dynamic content, I think that could be an UI issue. You could have a try with json code directly"

[2018-09-28 16:37] gaurav7961 commented on #11093
@linda33wj, it still doesn't work

[2018-09-28 16:37] silvermoong opened #15821 "#r "Microsoft.Azure.Documents.Client" looks like outdated"
#r "Microsoft.Azure.Documents.Client" seems to be replaced by #r "Microsoft.Azure.DocumentDB.Core"

When I was using #r "Microsoft.Azure.Documents.Client", I got

run.csx(1,1): error CS0006: Metadata file 'Microsoft.Azure.Documents.Client' could not be found

Replacing it with #r "Microsoft.Azure.DocumentDB.Core" solves the issue.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2018-09-28 16:40] jay98014 commented on #15806
The requirement that you quoted remains accurate.   However the DC agent service is still only supported on WS2012+.   From this [doc link](https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-password-ban-bad-on-premises):

All machines where Azure AD password protection components are installed including domain controllers must be running Windows Server 2012 or later.

[2018-09-28 16:43] ronaldesp commented on #12891
I found a solution for this issue:
1. Create the new app service plan in the same resource group and location of the current app service plan.
2. Change the app service plan in the web site by the new app service plan.
3. Go to new app service plan and change the resource group

I hope this works for you!

[2018-09-28 16:47] sergaz-msft commented on #15731
Hello @saifuddin123 ,
Unfortunately IoTEdge doesn't support X.509 certificates yet. Similar Threads:

- https://social.msdn.microsoft.com/Forums/en-US/fcc897f7-7338-417b-bd97-bf2797dea978/add-iot-edge-module-using-x509-ca-certificate?forum=iotedge
- https://social.msdn.microsoft.com/Forums/en-US/c08eec27-7b2e-49d5-b2d4-32f560f7828b/is-it-possible-to-use-x509-certifcates-in-azure-iot-edge-device?fo

[2018-09-28 16:47] sergaz-msft commented on #15731
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-28 16:47] #15731 closed

[2018-09-28 16:52] JamesTerHark opened #15822 "Specified tenant is not correct or not stated clearly"
In the 2nd section, Configure Azure AD as an identity provider in your tenant,  item #1 states:

"Make sure you're using the directory that contains organizational Azure AD tenant (contoso.com) by clicking the Directory and subscription filter in the top menu and choosing the directory that contains your tenant."

"your tenant' as indicated at the top of the article refers to 'contoso.com'.  So if

[2018-09-28 16:53] Alberto-Vega-MSFT commented on #15601
@BrendanGrant Thanks again for your feedback :) Now we are closing this issue. If you have any comments or questions we can reopen it.

[2018-09-28 16:53] #15601 closed

[2018-09-28 16:53] #12362 closed

[2018-09-28 16:58] robertherrera opened #15823 "Subscription Key"
The Create and Publish a product doesn't mention the setup of the Subscription Key.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c12f877-77a9-0593-a539-2b011f9f83cd
* Version Independent ID: 0d600bc9-7ec1-27f5-5d27-a5d22e2e8629
* Content: [How to create and publish a product in Azure API Management](https://docs.mic

[2018-09-28 17:00] MicahMcKittrick-MSFT commented on #15496
@tarifrr thanks for the update! I will wait to hear back from you after the 24 hour mark.

[2018-09-28 17:00] SaurabhSharma-MSFT commented on #15725
@NeilPetersen I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-09-28 17:01] MicahMcKittrick-MSFT commented on #15573
@spacecat I will close this out for now. If you want to continue the conversation let me know and we can reopen. From my tests I have been unable to get this to work as you have asked if was possible.

[2018-09-28 17:01] #15573 closed

[2018-09-28 17:02] SaurabhSharma-MSFT commented on #15661
@mwabbe12 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-28 17:02] #15661 closed

[2018-09-28 17:03] SaurabhSharma-MSFT commented on #15502
@willzhan We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-28 17:03] #15502 closed

[2018-09-28 17:03] SaurabhSharma-MSFT commented on #15612
@mrik23 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-28 17:03] #15612 closed

[2018-09-28 17:03] SaurabhSharma-MSFT commented on #15628
@saimsh We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-28 17:03] #15628 closed

[2018-09-28 17:04] SaurabhSharma-MSFT commented on #15693
@piotrp04 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-28 17:04] #15693 closed

[2018-09-28 17:04] douglaslMS commented on #15491
#please-close

[2018-09-28 17:04] MicahMcKittrick-MSFT commented on #15801
@xela30 are you running SF on premise or in Azure? Is this a standalone cluster?

[2018-09-28 17:06] douglaslMS commented on #14604
@jeffhebrank With regard to your first issue about the Script Arguments field - change the version at the top from 3.* to 2.* For some reason with 3.* the arguments field disappears. The Data Factory dev team is investigating.

[2018-09-28 17:06] vhorne commented on #15367
@qJake
I think you're correct, we need a link from the portal to our alias record overview topic:  https://docs.microsoft.com/en-us/azure/dns/dns-alias. I'll update the sceenshots in https://docs.microsoft.com/en-us/azure/dns/dns-operations-recordsets-portal, but that's not the appropriate place to start a alias record discussion.

I've sent a request to the feature team to include a help link, an

[2018-09-28 17:08] SaurabhSharma-MSFT commented on #15800
@mchudinov Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-28 17:09] Alberto-Vega-MSFT commented on #15331
@jhuepaff That would be great! Thank you :)

[2018-09-28 17:10] SaurabhSharma-MSFT commented on #15802
@CarolineVanDuin Thanks for your feedback and glad to know that you are able to resolve it yourself.

[2018-09-28 17:10] #15802 closed

[2018-09-28 17:11] MarileeTurscak-MSFT commented on #15809
@kyurthich
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-28 17:11] SaurabhSharma-MSFT commented on #15807
@mchudinov Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-28 17:12] SaurabhSharma-MSFT commented on #15799
@JurreHeesbeen Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-28 17:12] douglaslMS commented on #14950
@peterasamoah The class that you want to use in C# is [BlobEventsTrigger](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.datafactory.models.blobeventstrigger?view=azure-dotnet). We don't have a sample at the present time, unfortunately.

In PowerShell, you could follow the example provided in [Create a trigger that runs a pipeline on a schedule](https://docs.microsoft.com/e

[2018-09-28 17:12] MarileeTurscak-MSFT commented on #15812
@sahilpnckr123
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-28 17:12] SaurabhSharma-MSFT commented on #15808
@mchudinov Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-28 17:14] MarileeTurscak-MSFT commented on #15815
@choovick
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-28 17:14] SaurabhSharma-MSFT commented on #15822
@JamesTerHark Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-28 17:15] MarileeTurscak-MSFT commented on #15821
@silvermoong
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-28 17:16] SaurabhSharma-MSFT commented on #14822
@WhippsP We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-28 17:16] #14822 closed

[2018-09-28 17:16] ChipClark commented on #15667
Any updates?

[2018-09-28 17:19] ChipClark commented on #15667
Sender: https://sendertest.azurewebsites.net/
Listener: https://listenertest.azurewebsites.net/

[2018-09-28 17:19] CarlRabeler commented on #15818
@JoeDavis10 thanks - fixing now

[2018-09-28 17:26] Alberto-Vega-MSFT commented on #15646
@h28669 Have you found a solution? This question is a great candidate for the forums MSDN or StackOverflow just make sure to include more details about your specific scenario so the developer community can help. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the i

[2018-09-28 17:26] #15646 closed

[2018-09-28 17:32] mike-urnun-msft commented on #15796
@a-zolotukhin Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-09-28 17:34] mike-urnun-msft commented on #15798
@JohnReeson Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-09-28 17:37] amtrived1 commented on #15648
@msangapu, I made the zip in proper directory the only difference was i made it without node_module folder as i was trying to upload api with few npm modules installed.
I recreated the zip with node_module folder included and now its working.

But can you put few points in either creating a zip or deploying zip section as must to have (if going to deploy custom code and not the hello world).

1. p

[2018-09-28 17:41] CarlRabeler commented on #8050
@codeevaluator please try using -current for both the Set and the Get versions of the commands - as shown here: https://docs.microsoft.com/en-us/azure/sql-database/sql-database-long-term-backup-retention-configure#view-ltr-policies - and let me know what you see - this is per Sasha @anosov1960
thanks

[2018-09-28 17:41] Mike-Ubezzi-MSFT commented on #15405
@sennendoko I have assigned the issue to the content author to evaluate and update as appropriate. Perhaps this tutorial needs to be updated to work with Python 3.x.

[2018-09-28 17:45] mike-urnun-msft commented on #15820
@helloguo Thank you for your feedback! We will investigate and get back to you with the relevant info.

[2018-09-28 17:45] femsulu commented on #15816
@SharmainePopov Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2018-09-28 17:47] cflintcmc opened #15826 "Manage add/change users via PowerShell"
Is it possible to manage the users who can view the reservation via PowerShell? Looking for something like Update-AzureRmReservation -Owner [guid] -Role Owner -ReservationOrderID "1111"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9be8cdc6-1a0e-25d6-8131-a56c5c0029a5
* Version Independent ID: d27499e5-c8d4-2de0-273d-

[2018-09-28 17:48] mike-urnun-msft commented on #15823
@robertherrera Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-09-28 17:49] femsulu commented on #15794
@Sychevlgor Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2018-09-28 17:53] vinholla commented on #8277
Thanks Jason, this clarified many items, wanted to implement StorageSpace in Azure IAAS for SQL DBs.        I was struggling to find answers regarding number of columns in case if i add additional disks.
Also if you have more than 8 disks columns are always set to 8 in case if you configure StoragePool using GUI, hence started using PS command line.

[2018-09-28 17:57] BharatNarasimman commented on #15801
You can disable it at the nodetype level. If you don't specify the reverseProxyEndpointPort for a particular nodetype, then the reverse proxy will not be enabled for that nodetype.

[2018-09-28 18:02] vhorne commented on #14955
@michelleN
OK, fair enough. A note has been added to the article. Should be live this afternoon.
#please-close

[2018-09-28 18:07] femsulu commented on #15826
@cflintcmc Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2018-09-28 18:08] femsulu commented on #15826
@yashesvi - any insights into this question?

[2018-09-28 18:10] SaurabhSharma-MSFT commented on #15779
@rschiefer On which step you are getting this error ?

[2018-09-28 18:10] vchske commented on #15689
@Anmolgan81 Unfortunately you cannot automate the DMA process at this time. This is why I was asking if they have 300 schemas or 300 databases using the same schema. At any rate, I highly recommend you reach out to Raj (rajpo@microsoft.com) at this point. He is probably best qualified to walk you through all the various options. Feel free to let me know if I can help the process move forward for y

[2018-09-28 18:14] TravisCragg-MSFT commented on #15777
@satishdevan Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@cherylmc unfortunately I cannot make changes to the include file that contains the script, so I am assigning to you

[2018-09-28 18:15] #6644 closed

[2018-09-28 18:15] #7558 closed

[2018-09-28 18:15] #7612 closed

[2018-09-28 18:15] #9338 closed

[2018-09-28 18:15] #10195 closed

[2018-09-28 18:15] #11230 closed

[2018-09-28 18:15] #12297 closed

[2018-09-28 18:15] #12487 closed

[2018-09-28 18:16] #6040 closed

[2018-09-28 18:16] #13645 closed

[2018-09-28 18:16] #13823 closed

[2018-09-28 18:16] #14014 closed

[2018-09-28 18:16] #14180 closed

[2018-09-28 18:16] TravisCragg-MSFT commented on #15812
@sahilpnckr123 you can [find instructions Here ](https://docs.microsoft.com/en-us/azure/virtual-wan/virtual-wan-point-to-site-portal#register)to register your subscription for Azure Virtual WAN.

[2018-09-28 18:16] #14190 closed

[2018-09-28 18:17] #14339 closed

[2018-09-28 18:17] #14534 closed

[2018-09-28 18:17] #14678 closed

[2018-09-28 18:17] #14826 closed

[2018-09-28 18:17] #14895 closed

[2018-09-28 18:17] #14948 closed

[2018-09-28 18:17] #15053 closed

[2018-09-28 18:18] #15065 closed

[2018-09-28 18:18] #15135 closed

[2018-09-28 18:19] #15288 closed

[2018-09-28 18:19] #6242 closed

[2018-09-28 18:19] #15328 closed

[2018-09-28 18:19] #15452 closed

[2018-09-28 18:19] #15491 closed

[2018-09-28 18:19] #15552 closed

[2018-09-28 18:19] #15557 closed

[2018-09-28 18:19] #15606 closed

[2018-09-28 18:19] TravisCragg-MSFT commented on #15639
@nnasaki I have reached out to get more information, and will update you as soon as I am able.

[2018-09-28 18:20] #15607 closed

[2018-09-28 18:20] #15644 closed

[2018-09-28 18:20] #15674 closed

[2018-09-28 18:20] #15761 closed

[2018-09-28 18:30] femsulu commented on #15588
thanks for the update @tonisc .
@rem8 , @Anmolgan81 can you both confirm your managed vm migration is no longer blocked?

[2018-09-28 18:38] femsulu commented on #15588
@tfitzmac do we need to update or create a new how-to doc to ensure no one else misses the extra step to re-register the MS.Compute provider?

[2018-09-28 18:43] spelluru commented on #15667
@ChipClark - I have gone through the steps myself.

I ran the server (listener) application first, and I see:

     Online
     Server listening

I ran the client (sender) application next, and I see:

   hello!

This is what I expected by looking at the code.

The receiver application receives the HTTP request from the sender, and sends a "Hello!" response to the sender, which is displayed on the

[2018-09-28 18:43] spelluru commented on #15667
And, when I press ENTER in console windows, they close. That's expected too.

[2018-09-28 18:44] spelluru commented on #15667
Looping in @clemensv, architect for messaging services, in case you have follow up questions. Thanks.

[2018-09-28 18:46] ChipClark commented on #15667
The documentation says:

1.     Run the server application.
2.     Run the client application and enter some text.
3.     Ensure that the server application console displays the text that was entered in the client application.

I expected to be able to enter some text into the client application.  There is text in the build of the app, but the moment I enter text into the console it closes.

IF th

[2018-09-28 18:52] spelluru commented on #15667
@ChipClark - sorry about that. I will fix it. Those steps are right for the WebSockets version of the quick start, but not for the HTTP version. I apologize for the inconvenience.

[2018-09-28 18:53] tfitzmac commented on #15588
@femsulu - that step was added based on comments in this issue, so some of the above comments came before the step was documented. However, I am going reformat with numbered steps to make sure it is clear that each step is needed.

[2018-09-28 18:55] TravisCragg-MSFT commented on #15793
You will need to know what AAD tenant you associated with your Azure Stack instance. For this area, you just need to make sure that you are signed in to the Azure Portal in that tenant by selecting the "Directory and Subscription Filter" button.

![image](https://user-images.githubusercontent.com/38542241/46227866-47bb8000-c315-11e8-962f-b70a96b50945.png)

If you need more assistance, please let m

[2018-09-28 18:55] ChipClark commented on #15667
I attempted the http version and had no success.
I will try again.

Thanks,

Chip Clark
Development Engineer
(949) 851-5457 (direct)
cclark@allenmatkins.com<mailto:cclark@allenmatkins.com>

From: Sreedhar Pelluru [mailto:notifications@github.com]
Sent: Friday, September 28, 2018 11:53 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Clark, Chip <CClark@allenmatkins.com>; Mention

[2018-09-28 18:57] TravisCragg-MSFT commented on #15788
@Donnie-Zhang Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-28 18:58] TravisCragg-MSFT commented on #15786
@dipito31 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-28 19:03] ChipClark commented on #15667
In the HTTP version

1.     Sign in to the Azure portal<https://portal.azure.com/>.
2.     In the left menu, select + Create a resource. Then, select Enterprise Integration > Relay.
3.     Under Create namespace, enter a namespace name. The system immediately checks to see if the name is available.
4.     In the Subscription box, select an Azure subscription in which to create the namespace.
5.

[2018-09-28 19:07] tfitzmac commented on #14717
@agrebenyuk - sorry for delay in looking at this issue. I am back to evaluating it. The profile and endpoint must exist in the same resource group. The CDN service just validates the profile and then moves its endpoints too.

Currently, I don't have a good idea of how many services have the same behavior, or how you would know whether you need to pass in the child resource IDs for validation. So,

[2018-09-28 19:15] Alberto-Vega-MSFT commented on #15540
@khshah3 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-28 19:15] #15540 closed

[2018-09-28 19:19] Alberto-Vega-MSFT commented on #15621
@RedCruz We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-28 19:19] #15621 closed

[2018-09-28 19:20] spelluru commented on #15667
@ChipClark - The image is not coming through for some reason.

After you click **+ Create a resource**, it's **Integration** on the menu instead of "Enterprise Integration". Then, you can click **See All** in the right corner to see all services including **Relay**.

[2018-09-28 19:28] spelluru commented on #15667
@ChipClark - I have taken the ownership of this content set very recently. I will go through the steps again and update steps in the article. I have already submitted changes based on your feedback. I will need to do a thorough review of all the steps now. Thanks.

[2018-09-28 19:30] ChipClark commented on #15667
While I have you…

Hybrid Connections - .NET Websockets

Step 4. Under Policy: RootManageSharedAccessKey

You have me save four values, Primary Key, Secondary Key, Connection string-Primary Key, and Connection string-Secondary key

Then in step 3. 2) – Add constants to the program class for the hybrid connection.

private const string RelayNamespace = "{RelayNamespace}.servicebus.windows.net";
pri

[2018-09-28 19:30] ChipClark commented on #15667
Thank you.  I am just trying to help point out when there are inconsistencies.

Chip Clark
Development Engineer
(949) 851-5457 (direct)
cclark@allenmatkins.com<mailto:cclark@allenmatkins.com>

From: Sreedhar Pelluru [mailto:notifications@github.com]
Sent: Friday, September 28, 2018 12:29 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Clark, Chip <CClark@allenmatkins.com>; Ment

[2018-09-28 19:36] MarileeTurscak-MSFT commented on #15799
Yes, that's correct. The Client ID and Application ID are synonymous, and the Client Secret is just the secret you create in the Keys blade. https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-app-registration

I agree that it's a bit confusing that the documentation and code itself have different names for these terms. @davidmu1 is this something you could look into?

[2018-09-28 19:39] spelluru commented on #15667
We only need Primary Key out of these four: **Primary Key**, Secondary Key, Connection string-Primary Key, and Connection string-Secondary key.

// this is the name of the Relay namespace
private const string RelayNamespace = "{RelayNamespace}.servicebus.windows.net";

// this is the name of the Hybrid Connection
private const string ConnectionName = "{HybridConnectionName}";

// This is the name

[2018-09-28 19:40] DougPetrole opened #15828 "Handling additions"
How are additional VMs of the same type handled? If one is added a year and a half into a 3 year reservation, is it added to the original 3 year term or is the additional VM now on a new, additional 3 year reservation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edda1fe4-6ce9-ccf2-bc1b-65e9818b1060
* Version Indepen

[2018-09-28 19:45] MarileeTurscak-MSFT commented on #15810
@ToddChitt
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-28 19:45] MarileeTurscak-MSFT commented on #15803
@rifaterdemsahin
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-28 19:50] MarileeTurscak-MSFT commented on #15813
@ronaldvanrij
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-28 19:59] timmyreilly commented on #14159
In the same vain, I'm trying to use the DocumentClient, how do I install the proper package/extensions?

I get this error:
[code]

[2018-09-28 20:01] ChipClark commented on #15667
If I understand this correctly:

Relay namespace = HybridConnectTest     (which is what I named the relay)

Hybrid Connection = hc1 (which is what I named the connection, same as in the example)

Still not sure what about the SASKeyName

Chip Clark
Development Engineer
(949) 851-5457 (direct)
cclark@allenmatkins.com<mailto:cclark@allenmatkins.com>

From: Sreedhar Pelluru [mailto:notifications@gith

[2018-09-28 20:05] tfitzmac commented on #15816
@SharmainePopov - thanks for the good question. Here is how you get the correlation ID:
(Get-AzureRmResourceGroupDeployment -ResourceGroupName mygroup -DeploymentName azuredeploy).CorrelationId

I'll add that the article.

[2018-09-28 20:05] #15572 closed

[2018-09-28 20:06] TravisCragg-MSFT commented on #15803
@rifaterdemsahin there are currently no restrictions on Azure DNS. Could you please elaborate more on your question / feedback?

[2018-09-28 20:07] ecfan commented on #15125
@DonPetry-EY We added info to this article, which should help and is queued up for publishing. Feel free to check back after 4 PM or tomorrow, and let us know whether the update helps. Thanks!

[2018-09-28 20:07] juongithub commented on #13645
please note that there are wrong markdown tags

[2018-09-28 20:11] chetanku commented on #10326
Hello, I am facing the same issue. I have setup my client as native and I am using user@useroutlook.onmicrosoft.com account. But I am still not able to get it working. Any help will be great.

[2018-09-28 20:11] DCtheGeek commented on #15726
@elamathiJv Thanks for clarifying the scenario.  You are correct, that combination of the `resourceGroup` and `parameters` functions won't evaluate.  It's not currently possible to parameterize the resourceGroup function in that way. I believe it's in the list of things the engineers would like to do. If this is something you urgently need, the best way to get visibility is to request it on the **

[2018-09-28 20:13] MarileeTurscak-MSFT commented on #15800
This article is referring to the Key in the App Registration. You can see the description section here. ![image](https://user-images.githubusercontent.com/13383753/46231269-23b16c00-c320-11e8-9380-0986d85c45df.png)

[2018-09-28 20:13] MarileeTurscak-MSFT commented on #15800
I'm closing this out for now but if you want to continue the discussion, please leave a comment or open a new issue and I will gladly continue the conversation.

[2018-09-28 20:13] #15800 closed

[2018-09-28 20:16] ToddEvansHome commented on #15756
I just spent some considerable amount of time reading the documentation, selling the conversion from Azure Functions v1 to v2 to management, only to learn I have to use .NET Standard.

Please address this feedbacks.

[2018-09-28 20:27] cwargula26 opened #15831 "Errant Link"
Under 'Next Steps' the link for Event Grid is pointing to Azure Functions:

&lt;li&gt;Learn more about &lt;a href="https://docs.microsoft.com/azure/azure-functions/" data-linktype="external"&gt;Event Grid&lt;/a&gt;.&lt;/li&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e25005c-06da-1e87-ab0d-05f641d7e795
* Version

[2018-09-28 20:34] JamesTerHark opened #15832 "Modify your sign-up or sign-in custom policy"
In the section, Modify your sign-up or sign-in custom policy, its states to add the listed BuildingBlocks code sample to your signuporsignin.xml file.   This does not work. When you upload the file with this code added you get an error stating that &lt;BuildingBlocks&gt; is not accepted.  I believe that this block of &lt;ContentDefinitions&gt; code needs to be added to the &lt;BuildingBlocks&gt; s

[2018-09-28 20:34] kapopken commented on #10326
@chetanku are you using groups or roles? If groups make sure it is the Group object ID

[2018-09-28 20:35] chetanku commented on #10326
@kapopken I am using roles.

[2018-09-28 20:37] kapopken commented on #10326
@chetanku  can you post your Rolebinding

[2018-09-28 20:37] spelluru commented on #15667
It's RootManageSharedAccessKey by default.
On the page for **Relay**, If you click **Shared Access Policies** link on the left menu, you see the name of the policy/key.

All the updates I made so far will go live around 3:30 PST today. I will add a step about this too. Thanks.

[2018-09-28 20:42] #15816 closed

[2018-09-28 20:44] tfitzmac commented on #15741
@Anmolgan81 - thanks for the feedback. The Express Route service is listed as not supporting move.

[2018-09-28 20:44] tfitzmac commented on #15741
#please-close

[2018-09-28 20:51] BiGuRuNot opened #15833 "Enable refresh from Power BI service"
This works great on Desktop. However.....We need a solution that allows API authentication when you publish the report up to the Power BI Service.  I have tried all sorts of authentications and cannot get this to work. I know this has been voted in Power BI suggestions to allow users to schedule refresh the reports/dashboards.

Error:
Expression.Error: The 'Authorization' header is only supported

[2018-09-28 20:54] kgaipal opened #15834 "Incorrect link for "EnumeratingActors" page in doc"
[Enter feedback here]
Enumerating Actors hyperlink is pointing to incorrent page. It should be
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-actors-enumerate
but instead its point to
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-actors-platform

Please correct it

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-09-28 21:00] CarlRabeler commented on #15818
https://github.com/MicrosoftDocs/azure-docs-pr/pull/53767

#please-close

[2018-09-28 21:03] CarlRabeler commented on #13645
@juongithub thanks - fixing now

[2018-09-28 21:07] Mike-Ubezzi-MSFT commented on #8050
@codeevaluator Are you running this in the Cloud Shell or from a local installation of PowerShell. If you are running this from a local PowerShell installation, please ensure that you are at version 6.1.0.

PS Azure:\> get-host

Name             : ConsoleHost
Version          : 6.1.0
InstanceId       : 031afaf5-f013-4558-8b18-b9aecf3a8cd5
UI               : System.Management.Automation.Internal.Ho

[2018-09-28 21:10] Mike-Ubezzi-MSFT commented on #15818
@JoeDavis10 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-28 21:10] #15818 closed

[2018-09-28 21:13] mattbriggs commented on #15793
@niceysj I'm sorry I am not sure I folllow your question. The doc is asking you to open up global azure (portal.azure.com) and sign in to your tenant associated with Azure Stack (although to create the service principle you are in global Azure rather than your local Azure Stack. Are you having trouble finding the Directory switcher? #in-progress

[2018-09-28 21:21] mattbriggs commented on #15786
@dipito31  Thanks for your note. Azure Stack 1810 has not been released yet. We are preparing for 1809. Can you confirm you mean 1810? Thanks, Matt #in-progress

[2018-09-28 21:25] rupaks opened #15836 "Configuring the Chef workstation"
I have downloaded the chef-starter.zip as mentioned above. but I don't see all those files as shown in the screenshots: like .pem files and knife.rb file.

Does this tutorial is still valid?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48933ef2-fdcd-9f32-5ae9-bac175c8ffbd
* Version Independent ID: d2f31ebc-3c71-fd49-

[2018-09-28 21:33] burstingninja opened #15838 "Cannot install Azure ML CLI"
Error thrown by PIP while trying to install Azure ML CLI

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6013f381-38ac-acff-3d9e-b45c5e8420cc
* Version Independent ID: 52a0e03a-fbf0-b679-79b4-06374ea96466
* Content: [About the Azure Machine Learning CLI extension](https://docs.microsoft.com/en-us/azure/machine-learning/

[2018-09-28 21:38] craigshoemaker commented on #15795
@simonholgate The sample repo is now updated with the code to match the article. Please let me know if you have any further issues, but for now I'll ask them to #please-close this issue.

Thanks again for taking the time to send your feedback! 😃

[2018-09-28 21:42] alohaninja opened #15839 "Log Analytics - App Service - Unsupported for Diagnostic Logs"
We should callout here - just like we do for [network watcher](https://github.com/MicrosoftDocs/azure-docs/issues/13463) that we don't support Log Analytics with App Services, diagnostic logs (such as IIS and event logs) are not ingested. Log Analytics only supports VMs (IaaS) - not App Services (PaaS) resources

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2018-09-28 21:44] CarlRabeler commented on #14013
@kazshi I will review again on Monday - the "coming soon" should be updated soon, very soon

[2018-09-28 21:48] chetanku commented on #10326
@kapopken here is the file:

[code]

[2018-09-28 21:48] CarlRabeler commented on #11237
@Mike-Ubezzi-MSFT   Please assign to @craigg-msft

[2018-09-28 21:56] SharmainePopov opened #15840 "Respository of Current Log and Alert Schemas"
Hi, it would be great if there was a nicely formatted managed and maintained repo for current log and alert schemas in one convenient location. Right now the best I can do is search documentation. If I've missed the location please point me to it. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d191c7d-1448-447e

[2018-09-28 21:58] hiesus commented on #14402
Thanks Dominic.

I will try it next week and feedback you.

Best regards.

Sent from my iPad

[2018-09-28 22:02] Karishma-Tiwari-MSFT commented on #15828
@DougPetrole Thanks for the question. We are currently investigating and will update you shortly.

[2018-09-28 22:16] Mike-Ubezzi-MSFT commented on #15833
@BiGuRuNot Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-28 22:18] Mike-Ubezzi-MSFT commented on #15838
@burstingninja Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-09-28 22:19] mattbriggs commented on #8689
@AzureStackNerd I haven't heard from the team regarding this for some time. I've let them know and we had a discussion about it. I am going to close this thread for now. Thanks again for passing this insight along. #please-close

[2018-09-28 22:21] SharmainePopov commented on #15816
Hi, please don’t close this. As per my previous response – when I use powershell to update a vm with update-azurermvm, there is no deployment or deployment name to reference.

Thanks

Sharmaine Popov
Cloud Solution Architect |Microsoft Canada Inc. | sharmaine.popov@microsoft.com<mailto:sharmaine.popov@microsoft.com> | 416-799-0807

From: PRMerger15 <notifications@github.com>
Sent: Friday, Septembe

[2018-09-28 22:30] SaurabhSharma-MSFT commented on #15808
@mchudinov Yes, that is correct and today Azure AD sends only the objectId of the group. You can use that ID for constructing the URI of the group itself in the directory. You can use later use Microsoft Graph to use the Group URI to retrieve the actual group name.

[2018-09-28 22:36] Karishma-Tiwari-MSFT commented on #15577
@kagarmoe I am able to download the publish settings file using Get-AzurePublishSettingsFile in Azure PowerShell.
When you run it in Azure PowerShell, you will see a browser tab open up and it looks like below:

![image](https://user-images.githubusercontent.com/20851144/46236519-1c945900-c334-11e8-8966-b21b6140128f.png)

Select your subscription from the dropdown and click on 'Validate'. Then cli

[2018-09-28 22:37] mattbriggs commented on #9792
This question has been answered. #please-close

[2018-09-28 22:38] Karishma-Tiwari-MSFT commented on #15737
@panoschatz Hope the answer helped you.
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-28 22:38] #15737 closed

[2018-09-28 22:43] MarileeTurscak-MSFT commented on #15809
Have you made sure that you have two-step verification turned on? You won't see the App Passwords section until you have enabled this. https://support.microsoft.com/en-us/help/12408

[2018-09-28 22:43] mattbriggs commented on #11169
This content has been added. #please-close

[2018-09-28 22:45] mattbriggs commented on #11546
@Velmurugan-n Sorry this item fell through the cracks. The portal now only allows you to upload the .VHD image. #please-close

[2018-09-28 22:46] mattbriggs commented on #11939
@Herpmyderp Thanks. I've updated the file. #please-close

[2018-09-28 22:47] #15834 closed

[2018-09-28 22:47] TravisCragg-MSFT commented on #11939
@Herpmyderp We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-28 22:47] #11939 closed

[2018-09-28 22:48] MarileeTurscak-MSFT commented on #15809
You'll need to have your credentials set up with the Authenticator app if you haven't already. If you have already done those things then the option should show up there.

[2018-09-28 22:52] MarileeTurscak-MSFT commented on #15809
We use this section on Github for doc comments only. Since this does not appear to be a doc issue, I suggest that you either open an issue on the doc itself, leave a post on [MSDN](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=WindowsAzureAD), or open a support ticket. Closing this out for now.

[2018-09-28 22:52] #15809 closed

[2018-09-28 23:00] SaurabhSharma-MSFT commented on #15807
@mchudinov Essential when marked as true specify that the it is necessary to return the specific claim value like auth_time. When it is false the claim is treated as a voluntary claim it is not essential for the specific task requested by the End User.  Please refer to [Open ID Document](https://openid.net/specs/openid-connect-core-1_0.html#IndividualClaimsRequests) for more details.

[2018-09-28 23:32] SaurabhSharma-MSFT commented on #15832
@JamesTerHark Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-28 23:36] Karishma-Tiwari-MSFT commented on #15282
@akx Any updates?

[2018-09-28 23:44] SaurabhSharma-MSFT commented on #15782
@rgf-sylvain I do not see this parameter on the documentation page you have shared.  Can you please provide the details where exactly you are seeing sso_reload parameter.

[2018-09-28 23:47] AyoOlubeko commented on #11237
@andyce1010 : You are correct, it is not immediately obvious what the use of the traffic manager is in the deployment. The goal of the series of tutorials was to showcase patterns that can handle the scale of a complex production environment. In such a case, for example, you would have multiple web apps distributed across the globe, colocated with databases and you would need traffic manager to ro

[2018-09-28 23:49] mike-urnun-msft commented on #15831
@cwargula26 Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-09-28 23:51] Karishma-Tiwari-MSFT commented on #15836
@rupaks Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-29 00:10] DaveEM opened #15845 "Please add information about the # of DHCP addresses used by the ASDK"
I managed to consume all available DHCP addresses on my local subnet when installing the ASDK and the networking team is asking how many addresses I need.  It would be great to have this doc page include that information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e46293a4-00e4-46d5-d052-09f49c99d3c9
* Version Inde

[2018-09-29 00:16] tamram commented on #15378
@binoyjt - Can you take a look at it again?

I just tried it, and I am seeing the expected behavior, according to the documentation. It's possible there was a bug here that was fixed within the last week.

![image](https://user-images.githubusercontent.com/1189479/46238571-2624bd80-c342-11e8-8a0b-b9bb29a89892.png)

[2018-09-29 00:19] wy193777 commented on #15713
Yes, it's very helpful. Also, I would recommend using another namespace instead of kube-system because resources inside kube-system imply that they are created by kube itself.

[2018-09-29 00:40] cynthn commented on #12654
@jkodroff thank you for the contribution! It looks like the object_id was removed at some point, so I believe the topic is correct now. Thank you!

#please-close

[2018-09-29 00:46] #12654 closed

[2018-09-29 01:34] forester123 opened #15847 "P15 only supported for managed disk"
In "Premium Storage Disk limits" section, it says "Azure offers eight types of premium storage disks: P4(Managed Disks only), P6(Managed Disks only), P10, P15, P20, P30, P40, and P50". Is P15 only supported for managed disk? If so, please explicitly point this out, like in this doc https://docs.microsoft.com/en-us/azure/virtual-machines/windows/premium-storage-performance#premium-storage-disk-size

[2018-09-29 01:36] jeffwmiles opened #15848 "WAF and vulnerability updates"
This article states, "A WAF solution can also react to a security threat faster by patching a known vulnerability at a central location... ".

Does Application Gateway WAF actually react and patch vulnerabilities in any way, through the use of new signature or detection rules?

For example if there's a new exploit discovered that isn't specifically protected by an OWASP ruleset, will this WAF offe

[2018-09-29 04:21] ashisa opened #15849 "new article proposal: ML.NET tutorial on logistic regression using column ranges in datasets"
The ML.NET documentation features tutorials on binary classification, regression and clustering. We would like submit a tutorial for multiclass classification on MNIST dataset using Logistic Regression. We have a working sample which we can fine-tune and elaborate on in the tutorial. A differentiator is that it demonstrates use of column ranges in the input data class which is very common in machi

[2018-09-29 04:58] Mike-EEE opened #15850 "Incorrect Content"
Hello,

It appears #6242 was closed in error.  I did do a check and the content is still inaccurate.  Copy and pasting from the (now closed) issue below:

---

"In the New Linked Service window, select Data Store &gt; Azure Databricks, and then select Continue."

Should be:

"In the New Linked Service window, select **Compute** &gt; Azure Databricks, and then select Continue."

---
#### Document D

[2018-09-29 05:07] MarileeTurscak-MSFT commented on #15840
@SharmainePopov
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-29 05:08] MarileeTurscak-MSFT commented on #15848
@jeffwmiles
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-29 05:09] MarileeTurscak-MSFT commented on #15845
@DaveEM
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-29 05:10] MarileeTurscak-MSFT commented on #15847
@forester123
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-29 05:11] MarileeTurscak-MSFT commented on #15839
@alohaninja
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-29 05:57] newtonsheikh opened #15851 "https://docs.microsoft.com/en-us/azure/automation/automation-tutorial-update-management"
In the document:

https://docs.microsoft.com/en-us/azure/automation/automation-tutorial-update-management

I am not able to find the process on the azure portal. The Runbook name options just doesnt show up

For Runbook Name, click the + sign and enter Patch-MicrosoftOMSComputers as a custom name. For Status, choose Failed or click the + sign to enter Failed.

[2018-09-29 07:45] lebronJ commented on #14641
@PatrickPan2012 We have updated the API reference here: https://westus.dev.cognitive.microsoft.com/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f30395239. For other regions, the update is under deploying and may have some delay.

I think this is OK to be closed.

[2018-09-29 08:01] yuwzho commented on #15765
I can run your playbook in the [cloud shell](https://shell.azure.com/) with version 2.6.3 successfully. Can you show the Ansible version by `ansible --version`? And show the result of `python -c "import azure;print azure.__file__"`.

[2018-09-29 08:04] HarryLeboeuf opened #15852 "When looking for the NuGet package this one is not in the list !"
This package is not listed, a similar Microsoft.Azure.WebJobs.service bus can be found but does not contain what is listed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 217f29ba-3552-f406-58d3-d2e0c3bd4d2c
* Version Independent ID: 003342a6-6fc5-fae4-31f4-369b561cfd89
* Content: [Get started with Azure Service Bus qu

[2018-09-29 10:52] dipito31 commented on #15786
I did indeed mean 1810 as the features listed above do no apply to 1710 :)

[2018-09-29 11:26] akx commented on #15282
Sorry for the delay! I've been traveling - will check whether things work first thing on Monday.

[2018-09-29 11:48] tfitzmac commented on #15816
You can see correlation IDs through the
[Activity Log](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-audit)

[2018-09-29 12:21] vamsitp opened #15854 "SpeechFactory deprecated?"
SpeechFactory class does not exist in the latest version of Microsoft.CognitiveServices.Speech (1.0.0)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a756e8cc-971e-8041-764a-b9ba59288024
* Version Independent ID: 2b808a31-6303-8e50-5fe5-d1f11d1495f3
* Content: [Use Speech C# SDK with LUIS - Azure Cognitive Services](ht

[2018-09-29 13:12] tfitzmac commented on #14438
@Forrin - thanks for this feedback. I have submitted a change to add the registration step.

The script syntax looks right to me because it is a variable assignment in BASH scripting.

[2018-09-29 13:15] #14438 closed

[2018-09-29 14:17] alohaninja commented on #11824
Seems like there is interest in this feature in azure feedback - app log, server logs, httperr logs, etc should be easy to query.

###References
[HTTP Error Logs](https://feedback.azure.com/forums/169385-web-apps/suggestions/13978917-provide-access-to-httperr-logs)
[Server Logs](https://feedback.azure.com/forums/169385-web-apps/suggestions/33864499-support-sending-web-server-logs-to-oms-log-analyt

[2018-09-29 14:19] alohaninja opened #15855 "Blob Storage Ingestion"
Is it possible to support data ingestion from data already living in Azure Blob Storage - or do we have to use python libraries or event hubs ONLY?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5808ed2-5d09-4c56-dc0b-4e3650f8fc16
* Version Independent ID: 10ebaf9d-0cc0-b59b-ae95-63bc7b1be4b5
* Content: [Quickstart: I

[2018-09-29 14:49] PatrickPan2012 commented on #14641
Thanks!

[2018-09-29 14:50] #14641 closed

[2018-09-29 16:11] MarileeTurscak-MSFT commented on #15855
@alohaninja
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-29 16:13] MarileeTurscak-MSFT commented on #15851
@newtonsheikh
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-29 16:14] MarileeTurscak-MSFT commented on #15850
@Mike-EEE
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-29 16:14] MarileeTurscak-MSFT commented on #15849
@ashisa
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-29 16:15] MarileeTurscak-MSFT commented on #15849
@ashisa
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-29 16:16] MarileeTurscak-MSFT commented on #15854
@vamsitp
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-29 16:18] MarileeTurscak-MSFT commented on #15852
@HarryLeboeuf
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-29 16:58] #15831 closed

[2018-09-29 17:00] mike-urnun-msft commented on #15831
Hey @cwargula26 Thanks again for reporting this! The doc has been updated with a correct link.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-29 17:31] MicahMcKittrick-MSFT commented on #15834
@kgaipal Thanks for the feedback! @Karishma-Tiwari-MSFT has fixed the issue. The changes should be live shortly.

[2018-09-29 19:08] aL3891 commented on #15445
Great, thanks!

[2018-09-29 19:14] parakhj commented on #14209
The app will not get to know the social IDP's user ID if you're using the policies created through the portal. It is possible to configure this though via custom policies.

The other option is to look up the user object via the Graph API, and get the information from there (its stored under the property "userIdentities")

[2018-09-29 20:06] rmandil opened #15857 "Github link not working"
404 error not found

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0dde163d-9125-5bb2-b2e1-5dd1376d4a4b
* Version Independent ID: 91c8c25b-d380-d591-6bec-9114ce827d39
* Content: [Describing images - Computer Vision - Azure Cognitive Services](https://docs.microsoft.com/en-ca/azure/cognitive-services/computer-vision/con

[2018-09-29 22:03] SharmainePopov commented on #15816
Well yes but we need to automate extraction/capture  of those correlation ids as part of the powershell scripts doing the update.  Looking them up manually is not a solution. How can I get the correlation id associated with an update in an automated way?

Sharmaine Popov
Cloud Solution Architect |Microsoft Canada Inc. | sharmaine.popov@microsoft.com<mailto:sharmaine.popov@microsoft.com> | 416-799-

[2018-09-29 22:39] y4hmez commented on #15792
Hi Karishama – yes that was the problem link, it working now for me

Thanks

James

________________________________
From: Karishma Tiwari - MSFT <notifications@github.com>
Sent: Saturday, September 29, 2018 4:25:23 AM
To: MicrosoftDocs/azure-docs
Cc: y4hmez; Mention
Subject: Re: [MicrosoftDocs/azure-docs] SDK links broken? (#15792)

@y4hmez<https://eur02.safelinks.protection.outlook.com/?url=http

[2018-09-29 23:08] jason-j-MSFT commented on #15857
@rmandil
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-30 00:08] #8689 closed

[2018-09-30 00:08] #9792 closed

[2018-09-30 00:08] #11169 closed

[2018-09-30 00:08] #11546 closed

[2018-09-30 00:09] #15726 closed

[2018-09-30 00:09] #15741 closed

[2018-09-30 00:09] #15795 closed

[2018-09-30 00:55] femsulu commented on #15588
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2018-09-30 00:56] #15588 closed

[2018-09-30 01:07] MNF opened #15859 "Link to clarify DTUs vs vCores"
It will be useful at the top of the article to add link https://docs.microsoft.com/en-us/azure/sql-database/sql-database-service-tiers  to clarify DTUs vs vCores

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94c33577-a694-bd91-d0fa-791ff3cbee13
* Version Independent ID: 449ad3ed-7959-aca2-07aa-e4e43d333ec7
* Content:

[2018-09-30 01:07] femsulu commented on #15738
You are correct @mgfink. Using the wildcard expression (*) isn't supported. IF this is a feature you would like to see supported please share the feedback directly with the Automation feature team using [this link](https://feedback.azure.com/forums/246290-automation).

[2018-09-30 01:09] femsulu commented on #15738
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2018-09-30 01:09] #15738 closed

[2018-09-30 01:27] XanderM1960 opened #15860 "az webapp up -n <app-name> doesn't work"
It seems to require a -l locationName as well. However it anywhere say what the location name format should be.  "West US" WestUS westus?

Maybe tell how to get a list of location names?

Then it doesn't work at all anyway:
~/quickstart$ az webapp up -n appname --location westus
Resource group 'appsvc_rg_Windows_westus' already exists.
Creating App service plan 'appsvc_asp_Windows_westus' ...
__in

[2018-09-30 03:12] wensdayh-s opened #15861 "Azure AD Configurable Token Lifetimes not being Applied"
Hello, I want to change the default token lifetimes in Azure AD , but it looks like the changes are not being applied.
Firstly:
[code]
And then:
[code]

Using ``Get-AzureADPolicyAppliedObject -ObjectId <policy-id>`` I confirm that my policy has been applied to my application

when I attempt to retrieve a fresh access token during login , I can see that the expiry date is still at the default of 1

[2018-09-30 03:12] MarileeTurscak-MSFT commented on #15849
Hi @ashisa , thank you for your contribution. This would be valuable to have. Many of our documents are open source and you can create your own documentation with your Github account. Please see the guidelines below:

 https://docs.microsoft.com/en-us/contribute/how-to-write-workflows-major

I suggest for you to email opencode@microsoft.com and send a tweet to @docsmsft, who can put you in contact

[2018-09-30 03:15] MarileeTurscak-MSFT commented on #15849
Thanks for your willingness to contribute!

Please let me know if you have any further questions. I'm closing this out for now but am happy to continue the conversation in the comments and will also reach out to someone on my team on Monday as well to see if there are any additional aliases with whom you can connect.

[2018-09-30 03:15] #15849 closed

[2018-09-30 03:27] MarileeTurscak-MSFT commented on #15860
@XanderM1960
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-30 03:28] MarileeTurscak-MSFT commented on #15859
@MNF
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-30 03:33] XanderM1960 commented on #15648
For me, with both the 8.11 and the node_modules tips in the .zip, it still doesn't work. I still get the 500 error.

Using git to deploy … how would that work? the .gitignore has node_modules in it. I tried removing node_modules from .gitignore and pushing the entire node_modules but that doesn't work either.

[2018-09-30 03:45] XanderM1960 commented on #15648
Ok finally got it. I had to go to cloud shell and do "where node.exe" and add the path to the iisnode like this:
<iisnode
        nodeProcessCommandLine="D:\Program Files (x86)\nodejs\0.10.28\node.exe"
        watchedFiles="web.config;*.js"/>

[2018-09-30 03:45] XanderM1960 commented on #15648
nodeProcessCommandLine="D:\Program Files (x86)\nodejs\0.10.28\node.exe"

[2018-09-30 05:09] Alberto-Vega-MSFT commented on #15743
@aceptra We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-30 05:09] #15743 closed

[2018-09-30 05:30] SeaDude opened #15862 "Create Multiple Database-Level Firewall Rules in One SQL Statement"
How do I set MULTIPLE database-level firewall rules in one SQL expression? I have many IP addresses to whitelist over multiple DB's. I'm looking to do something like the following:

EXECUTE sp_set_database_firewall_rule
@name = N'Test1',
@start_ip_address = 'x.x.x.x', @end_ip_address = 'x.x.x.x',
@name = N'Test2',
@start_ip_address = 'x.x.x.x', @end_ip_address = 'x.x.x.x',
@name = N'Test3',
@start

[2018-09-30 06:40] MNF opened #15863 "increasing-servicce-tier-of-your-database"
In section https://docs.microsoft.com/en-us/azure/sql-database/sql-database-performance-guidance#increasing-servicce-tier-of-your-database there is a spelling mistake servicce and also basic/standard/premium tiers are alpplcable to DTU based, not VCore model

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8861a34a-7684-

[2018-09-30 06:56] fullenw1 opened #15864 "Picture at the top incompatible with dark mode"
I had to switch between dark and light mode in order to be able to read the blue text in the picture at the top of the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c075d54-1d74-18f5-4fe1-efb8d4a2e114
* Version Independent ID: e5c52c87-5f62-63ca-1331-ab3128806d97
* Content: [Managing Applications with Azure

[2018-09-30 08:10] Anmolgan81 commented on #15741
@tfitzmac I dont see the express route gateway in the VPN Gateway limitations??

[2018-09-30 08:11] Anmolgan81 commented on #15741
@tfitzmac Express route vpn gateway dont supports a move.

[2018-09-30 10:21] frankjlinden opened #15865 "Confusing subnet instructions"
Hello,
In Section1, Create a Virtual Network, Step 1,  we are instructed to use myBackEndSubnet as the Subnet name when creating the virtual network. However, the screenshot in Step 2 shows the Subnet name of mySubnet.
Then, throughout the rest of the procedure mySubnet and myBackendSubnet are referred to as though they were created as two different subnets. I'm sorry if I'm missing something, but

[2018-09-30 12:04] chaholl opened #15866 "rbac is now the default when creating a cluster via AZ CLI"
Since rbac is now the default when creating a cluster using the CLI, the --enable-rbac argument is deprecated.
[code]
should be:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a47c6df7-5103-1336-eb0b-68f95155e6c8
* Version Independent ID: f4420b08-9b57-f581-fcb4-f069afdd5b0c
* Content: [Integrate Azure Active Di

[2018-09-30 12:07] chaholl commented on #15866
actually, there's a typo on the warning that's generated if you use the enable-rbac switch. It refers to 'enable_rbac' as opposed to 'enable-rbac'

[2018-09-30 14:16] rahulrai-in opened #15867 "Can Azure File Persistent Volume be used on Minikube?"
Is there any guidance on using Azure files as Persistent Volume with Minikube? I am getting this error when I try to mount Azure File Persistent Volume on my pod.

D:\>kubectl describe pvc
Name:          remind-me-api-pvc
Namespace:     default
StorageClass:  azurefilestorage
Status:        Pending
Volume:
Labels:        app=remind-me-api
Annotations:   kubectl.kubernetes.io/last-applied-configura

[2018-09-30 14:26] orangetoken commented on #15201
The ARM deployment agent gives actually an incorrect error message. We had a typo in our template, meaning that we had an inexistent OMS namespace but we were getting this permissions error.

[2018-09-30 16:17] eugen-nw commented on #14371
No, I do not have the time to provide this, so please do not count on my contribution.

Thank you,  eugen

On Sep 17, 2018, at 5:01 PM, Jason H <notifications@github.com<mailto:notifications@github.com>> wrote:

@eugen-nw<https://github.com/eugen-nw> we have a lot of pending work, but we will track this request to do it. Thinking of the github issues as a Q&A place, the answer is, Yes, we like you

[2018-09-30 16:40] MarileeTurscak-MSFT commented on #15861
@wensdayh-s
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-30 16:44] MarileeTurscak-MSFT commented on #15867
@rahulrai-in
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-30 16:45] MarileeTurscak-MSFT commented on #15865
@frankjlinden
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-30 16:46] MarileeTurscak-MSFT commented on #15862
@SeaDude
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-30 16:47] MarileeTurscak-MSFT commented on #15863
@MNF
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-30 16:48] MarileeTurscak-MSFT commented on #15864
@fullenw1
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-30 16:50] MarileeTurscak-MSFT commented on #15866
@chaholl
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-30 16:52] ashuthinks opened #15869 "How to exclude Particular day from Automation Start/Stop VM?"
How to exclude Particular day from Automation Start/Stop VM?

In settings it is having options for StartDateTime For Daily and StopDateTime For Daily

But How to setup this automation for Monday to Friday 9AM to 6PM and stop on Saturday and Sunday ?

# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the prima