[2018-10-11 17:43] CelesteDG commented on #16584
@MarileeTurscak-MSFT @MicahMcKittrick-MSFT @MohitGargMSFT @SaurabhSharma-MSFT The issue has been fixed. #please-close Thank you.

[2018-10-11 17:43] YutongTie-MSFT commented on #8387
@diberry Thanks a lot.
@daniel-lorenzin We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-11 17:43] #8387 closed

[2018-10-11 17:45] MohitGargMSFT commented on #16650
@dougmclelland Thanks for your feedback! We will investigate and update soon on it.

[2018-10-11 17:45] PramodValavala-MSFT commented on #16350
@graham-sportsmgmt Thanks for the recommendation!

We will work up a draft of the updated doc with a note mentioning the same and update the code sample as well.

[2018-10-11 17:46] YutongTie-MSFT commented on #10244
@p2netdev Thanks for reporting this issue. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

@diberry Thanks a lot.

[2018-10-11 17:46] #10244 closed

[2018-10-11 17:47] ajlam commented on #16023
Hi all, the doc changes should have been published earlier this morning. Thanks for the feedback!

[2018-10-11 17:48] sahilpnckr123 commented on #16648
https://docs.microsoft.com/en-us/azure/virtual-wan/virtual-wan-site-to-site-portal

On Thu 11 Oct, 2018, 10:46 PM Micah, <notifications@github.com> wrote:

[2018-10-11 17:49] mospike commented on #16643
In addition, it would be helpful if there were more cost transparancy for SQL Database backups. If I need to account for the backup costs for a given month, where do I go?

[2018-10-11 17:49] klaaslanghout commented on #16003
yohanb, you make a good point.  SPA should be do-able with CSS though it's constrained compared to server side execution.  I added a task to provide more clarity on SPA.

[2018-10-11 17:49] JennyLawrance commented on #16184
@houssemFat-DDF , this quick start tutorial is specific to Python on Linux. For windows based deployments, you'll also need a web.config in order for the site to load python app correctly.

[2018-10-11 17:49] klaaslanghout commented on #16003
#please-close

[2018-10-11 17:50] #16584 closed

[2018-10-11 17:51] MicahMcKittrick-MSFT commented on #16648
@sahilpnckr123 thanks!

@TravisCragg-MSFT can you take a look at this one?

[2018-10-11 17:54] douglaslMS commented on #16170
@Anded I'm pleased to hear that your pipeline is working as expected, and that you've figured out what was going on. Thanks for giving us the opportunity to clarify in the docs how SecureString works.

[2018-10-11 17:54] douglaslMS commented on #16170
#please-close

[2018-10-11 17:54] YutongTie-MSFT commented on #16358
@fmegen Thanks a lot!

@DanyWind We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-11 17:54] #16358 closed

[2018-10-11 17:55] NikolaTotev commented on #16184
@JennyLawrance what should be in the web.config file?

[2018-10-11 17:56] mike-urnun-msft commented on #16639
Hi @sylvaingirardbe Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-10-11 18:00] mike-urnun-msft commented on #16651
Hi @shapeh Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-10-11 18:02] sandeeppujar commented on #16307
@schillit, we are moving to use DPS for device connectivity to IoT Central. This enables IoTCentral customers to leverage the rich capabilities of DPS. Which language are you using to connect your devices ? If you have code and using connection strings we have a tool you could use to get the device connection string - https://docs.microsoft.com/en-us/azure/iot-central/concepts-connectivity#getting

[2018-10-11 18:05] YutongTie-MSFT commented on #14432
@christiandekker Thanks for your feedback, I will reopen the issue and cc the author.

@georgewallace Can you please check the response? Thanks a lot!

[2018-10-11 18:05] YutongTie-MSFT commented on #14855
@v-jerkin Hi, any update?

[2018-10-11 18:07] georgewallace commented on #14432
@christiandekker I am reaching back out to the group responsible for writing the solution to share your feedback.

[2018-10-11 18:09] mike-urnun-msft commented on #16656
Hi @miller79 Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-10-11 18:10] devops-brain opened #16673 "Web app is left open to the internet!"
for those who flunked Security 101, if the app is still openly available over the internet, It does not count as behind the WAF.  I've got a bunch of friends who'd love to demonstrate this (for a fee of course).  This is the equivalent of building a door without a wall:  funny in Blazing Saddles, useless everywhere else.

People following this guide who don't have a firm grounding in security will

[2018-10-11 18:17] YutongTie-MSFT commented on #16580
@v-jerkin Hi, this is a doc-bug in REST API document, which I can not modify. Can you please update it? Thanks a lot!

[2018-10-11 18:18] Karishma-Tiwari-MSFT commented on #15282
@cynthn Is this something you can help with or do you know who will the right person to help out on this issue? Appreciate your help. Thanks.

[2018-10-11 18:30] CelesteDG commented on #16005
Hello @frankhu1234 - Please see the updated content. As confirmed by @hpsin, we've added the following note to clarify support for optional claims. Thank you.

**NOTE:**
At this time, apps that support both personal accounts and Azure AD (registered through the app registration portal) cannot use optional claims. However, apps registered for just Azure AD using the v2.0 endpoint can get the option

[2018-10-11 18:30] CelesteDG commented on #16005
@SaurabhSharma-MSFT @MarileeTurscak-MSFT @MicahMcKittrick-MSFT The doc has been updated to address customer question. #please-close Thank you.

[2018-10-11 18:34] TravisCragg-MSFT commented on #16648
@sahilpnckr123 I am reaching out to get more information, and will update you as soon as I am able.

[2018-10-11 18:36] BryanLa commented on #11828
@Phydeauxman, @rohancragg - Please accept our apologies for the long delay on this. The article in question (Azure Key Vault Storage Account Keys) was recently rewritten, removing the conflicting text regarding the Set-AzureKeyVaultManagedStorageSasDefinition cmdlet and parameters. Please have a look at the article again, and let us know if you have any additional questions or feedback.

cc: @pras

[2018-10-11 18:36] cynthn commented on #15282
@rayne-wiselman Rayne - is this something you can help with or do you know who could?

[2018-10-11 18:36] TravisCragg-MSFT commented on #16661
@simonua Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-10-11 18:37] TravisCragg-MSFT commented on #16658
@torfulle Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-11 18:37] BryanLa commented on #12897
@lnodaba, @rohancragg - Please accept our apologies for the long delay on this. The article in question (Azure Key Vault Storage Account Keys) was recently rewritten, removing the conflicting text regarding the Set-AzureKeyVaultManagedStorageSasDefinition cmdlet and parameters. Please have a look at the article again, and let us know if you have any additional questions or feedback.

cc: @prashant

[2018-10-11 18:40] xurui203 commented on #14973
@kevinfms01 Event hubs are not intended as a permanent data store, so if you wish to replay the data from more than 7 days ago you can simply read the Captured data that has been pulled into a more permanent storage destination like Azure Storage. If your downstream systems need to process the events they can read it directly from your Azure Storage blob.

[2018-10-11 18:40] Karishma-Tiwari-MSFT commented on #16349
@tapialuism Please refer to this [link ](https://stackoverflow.com/questions/43301218/authenticating-with-azure-active-directory-on-powershell) and try the solution specified there.
We are definitely missing some steps here in this doc, I will make sure those steps get added.

1. Install the AzureAD Powershell module using `Install-Module -Name AzureAD`
2. `Connect-AzureAD` -TenantId
3. `Get-Azure

[2018-10-11 18:40] YutongTie-MSFT commented on #9722
@soso-maitha @benjguin I have fixed it. You should see the change shortly. Thanks for reporting it.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-11 18:40] #9722 closed

[2018-10-11 18:42] cynthn commented on #15461
@zr-msft Hey Zach, could you take a look at this?

[2018-10-11 18:44] v-jerkin commented on #14855
I haven't heard anything about Node.js support yet, but the Speech team has been releasing monthly updates since May. Keep an eye on the [Release Notes](https://docs.microsoft.com/azure/cognitive-services/speech-service/releasenotes) which I'm sure will announce Node.js support when it's released.

@YutongTie-MSFT Please note @erhopf is taking over the Speech service documentation going forward; t

[2018-10-11 18:45] Karishma-Tiwari-MSFT commented on #16487
@WilldotNET Any update?

[2018-10-11 18:46] v-jerkin commented on #16580
@YutongTie-MSFT The Speech service documentation is being transitioned to @erhopf and this issue should probably be assigned to him.

[2018-10-11 18:46] schillit commented on #16307
Hi @sandeeppujar; I guess my point was if IoT Central is going to be offered as a SaaS solution, and MS is providing 5 free devices a month to test with; it would seem reasonable to me to provide an easy way to extract the connection string easily for simple testing scenarios, to determine if the product is a good fit.  By creating a difficult path to do such a simple task, i don't think is a good

[2018-10-11 18:53] sandeeppujar commented on #16307
@schillit; good point and feedback, the complexity (of needing to use command lines to get connection string etc.) you are seeing is due to the lack of SDK support for DPS (for languages other than C), we are quickly closing that gap. If you are using C, you should be already be able to use DPS SDK for C and connect to IoT Central and not have to get the connection string using the command line.

[2018-10-11 18:56] #16005 closed

[2018-10-11 18:57] xurui203 commented on #11481
Hi @chasedai the Storage account you created when using Event Processor Host is used for internal resource management like checkpointing and partition ownership tracking. You can read more about it [here](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-event-processor-host).

To deliver your events automatically to an Azure Storage account, check out our cool [Capture](https://docs.mi

[2018-10-11 18:57] #16003 closed

[2018-10-11 18:58] MicahMcKittrick-MSFT commented on #16669
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-11 18:59] MicahMcKittrick-MSFT commented on #16672
@EhRom please provide us with the link to the documentation you are referring to so we can better assist.

[2018-10-11 19:04] YutongTie-MSFT commented on #14855
@v-jerkin Sure.

[2018-10-11 19:05] MicahMcKittrick-MSFT commented on #16636
@PIaH I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-10-11 19:14] TomArcher commented on #13806
@BryanTrach-MSFT #please-close
@johannesnormannjensen , @paul-mateos  - Please let us know if you need additional assistance.

[2018-10-11 19:16] BryanTrach-MSFT commented on #13806
@johannesnormannjensen We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-11 19:16] #13806 closed

[2018-10-11 19:17] erhopf commented on #16580
@mattquinn4 - To clarify, you're looking for how to articles for each of the listed topics or API reference material?

[2018-10-11 19:20] TomArcher commented on #15004
@hemalatha-pal Thanks again for your input. I am working with the feature team on documenting this.

@femsulu #please-close

[2018-10-11 19:20] MohitGargMSFT commented on #16567
@ri-we We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-10-11 19:20] Anmolgan81 opened #16675 "I cannot connected to Redshift data source?"
How can I whitelist my Integration Runtime IP in Redshift security group, without knowing which IP it is?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72915b57-8b87-a071-6f77-9690d3380c31
* Version Independent ID: b7cf7a74-225f-765a-b912-ea4c517e6bcb
* Content: [Copy data from Amazon Redshift using Azure Data Factory

[2018-10-11 19:20] lswright opened #16676 "Incomplete guide"
This deployment method does not work for custom applications.  The guide does not provide information on web.config or config.py and so on.
---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0077a811-b0b7-93b1-80b0-a4d45615ef4b
* Version Independent ID: cc95198d-5560-2bf1-09ae-b8d210e45f2d
* Content: [Create a Python web ap

[2018-10-11 19:27] MohitGargMSFT commented on #16596
@chendley80 To sign in to password-based single sign-on, you must use the extension. After the extension is installed, you can sign in to it to enable additional features by selecting Sign in to get started. Refer to this document for more details - [My Apps Secure Sign-in Extension](https://docs.microsoft.com/en-us/azure/active-directory/user-help/active-directory-saas-access-panel-introduction#m

[2018-10-11 19:30] MicahMcKittrick-MSFT commented on #16645
@MichalBecko I ran through this doc and was able to successfully complete the steps

[code]

![image](https://user-images.githubusercontent.com/32313503/46829001-5f512a80-cd51-11e8-9652-3f297ab111df.png)

I did run the steps through the [Azure Cloud Shell](https://docs.microsoft.com/en-us/azure/cloud-shell/overview) rather than on prem. Are you using a local instance of Azure CLI? Could you try th

[2018-10-11 19:32] Alberto-Vega-MSFT commented on #16671
@JonathanPalmerGD An option to the portal CLI is to run CLI locally please read: [Install Azure CLI on Windows](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?view=azure-cli-latest)

[2018-10-11 19:37] mattquinn4 commented on #16580
@erhopf I am looking for documentation on the following speech services REST APIs:
Create Accuracy Tests
Upload datasets for model adaptation
Create & manage speech models
Create & manage model deployments
Manage Subscriptions
Create & manage model deployments
Create & manage model deployments

[2018-10-11 19:38] SnehaGunda commented on #14762
@upoppe sorry about the delay in getting back, thanks for your feedback, unfortunately, I don't have much context about the query performance and execution. These are great questions, would you mind sending an email to askcosmosdb@micosoft.com alias. A broader audience including our dev team can take a look at your questions and address them as needed.

[2018-10-11 19:41] MarileeTurscak-MSFT commented on #16505
@chrift I am closing this out for now since I have not heard back yet. I hope this helps but if this does not fully answer your question or you have further queries, please leave a comment and I will gladly continue the discussion. Also feel free to leave a post on MSDN. https://social.msdn.microsoft.com/Forums/en-US/home

[2018-10-11 19:41] #16505 closed

[2018-10-11 19:41] Karishma-Tiwari-MSFT commented on #16592
@Prasad-Pillutla It depends on which distribution you are using as described in the following doc: https://github.com/Huachao/azure-content/blob/master/articles/virtual-machines/virtual-machines-linux-remote-desktop.md
Can you please share if you are using Ubuntu 16.04 LTS VM or Opensuse or any other distribution?

[2018-10-11 19:42] SnehaGunda commented on #16500
@tomasaschan thanks for the feedback, I had a chat with Luis about this issue. Currently, Gremlin.Net library version 2.6.0 is Supported by Node.js, Version 3.0 is not yet supported. So we can't make the doc changes until the support is available. Can you please log this issue in our uservoice  https://feedback.azure.com/forums/263030-azure-cosmos-db and help us prioritize the request.

[2018-10-11 19:43] SnehaGunda commented on #16519
@plutoscarab ping! let us know if you are blocked or if we can close this issue.

[2018-10-11 19:45] MohitGargMSFT commented on #16642
@HeineLysemose Allow users to unlock accounts without resetting their password - Designates whether or not users who visit the password reset portal should be given the option to unlock their on-premises Active Directory accounts without resetting their password. By default, Azure AD will always unlock accounts when performing a password reset, this setting allows you to separate those two operati

[2018-10-11 19:46] nozzlegear commented on #9799
I think it might be a good idea to add this to the docs still, if it hasn't been already. I've been struggling with this for a good 30 minutes trying to figure out how to deploy from a private image on Docker Hub. As far as I can tell, there's tons of documentation for deploying from ACR, but nothing for deploying from Docker Hub. The thing that tripped me up was the "Image registry login server".

[2018-10-11 19:46] SnehaGunda commented on #16134
@jjgriff93 I had a chat about this with our dev team and they confirmed that same sample should work with ASP.Net core as well. Did you had a chance to try it or run into any issues?

[2018-10-11 19:46] SnehaGunda commented on #16435
@jjgriff93 I had a chat about this with our dev team and they confirmed that same sample should work with ASP.Net core as well. Did you had a chance to try it or run into any issues?

[2018-10-11 19:46] Grace-MacJones-MSFT commented on #16460
@tommoran91 what are you seeing in place of the "Application Settings"? what does your view look like? if you created a web app in Azure App Service you should see a "Application Settings" blade like the image below.

![app settings](https://user-images.githubusercontent.com/42247081/46829784-99bbc700-cd53-11e8-85f8-5ba43a2bc201.PNG)

[2018-10-11 19:47] davidmu1 commented on #16505
@chrift @MarileeTurscak-MSFT I received this from the PM this morning:

It depends which on they are referring to.  If the need the AAD version it stays on login.microsoftonline.com.  For B2C it will be, https://your-tenant-name.b2clogin.com/tfp/your-tenant-ID/policyname/v2.0/.well-known/openid-configuration

The key thing here is to realize that the b2c config endpoint has a reference to a policy

[2018-10-11 19:49] i255d opened #16677 "More to Having VM's in Azure What I See Here"
I will never build a server where there will be so little related to the server than what this information shows here.  I want to have backup, logging, anti-virus, join to my domain, make the OS hard drive a certain size, and add and label a data disk.  Have the VM register with Chef once it is created and tell it run specific recipes.  Does anything that we see on this page make someone think tha

[2018-10-11 19:53] jeffgilb commented on #16549
Hi all,

I've updated the doc, this change should be live later today or early tomorrow with the following update:

#Register Azure Stack
$AzureContext = Get-AzureRmContext
$CloudAdminCred = Get-Credential -UserName AZURESTACK\CloudAdmin -Message "Enter the credentials to access the privileged endpoint."
$RegistrationName = "<unique registration name>"
$UsageReporting = $true # Set to $false if yo

[2018-10-11 20:06] nikbanerjee commented on #16428
@ahmedelnably My account subscription expired (was on Free Trial), set up a new one and tried to reproduce the issue (to then debug it) but it seems to be working this time around. Not sure what I've done differently. Maybe best to close it and wait until another one of the same is opened by someone else.

[2018-10-11 20:12] erhopf commented on #16580
@mattquinn4 - Looking into this.

[2018-10-11 20:27] jason-j-MSFT commented on #16675
@Anmolgan81
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-11 20:28] JennyLawrance commented on #16184
This is the full set of instructions for setting a python app on Windows App Service Plan.
https://docs.microsoft.com/en-us/visualstudio/python/configure-web-apps-for-iis-windows?view=vs-2017

[2018-10-11 20:29] Karishma-Tiwari-MSFT commented on #16555
@mcurko When a new machine is created from an image, a copy of the image VHD is created and you will be able to read and write on that. Generally that will be your C drive in windows. (https://docs.microsoft.com/en-us/azure/virtual-machines/windows/about-disks-and-vhds#operating-system-disk)
Another VHD (https://docs.microsoft.com/en-us/azure/virtual-machines/windows/about-disks-and-vhds#temporary

[2018-10-11 20:31] zlayer123 commented on #10829
Is it possible that it will take some time to reflect on his tenant?

[2018-10-11 20:31] Anmolgan81 commented on #16675
Hi,

Please let me know how can I find the IP of the IR gateway and whitelist the same in aws redshift

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Jason J <notifications@github.com>
Sent: Friday, October 12, 2018 1:57:53 AM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/azure-docs] I cannot connected to Redshift data so

[2018-10-11 20:31] carlfm01 commented on #16638
Hello @Karishma-Tiwari-MSFT, sorry for the delay, if you tag me in a edit the Github email notification system doesn't send the notification of the new tag.
My suscription: Microsoft BizSpark without expending limit, offer ID: MS-AZR-0064P.
Vm type: NC6 v2 single GPU
Region: South Central US

For the firts type of Linux image I'm experiencing the half of performance with exact dependencies compare

[2018-10-11 20:33] TomArcher commented on #16392
@clarenceb Thanks for the correction!

@femsulu I fixed this in azure-docs-pr on a PR that has been auto-merged. #please-close

[2018-10-11 20:38] Vasanth1981 opened #16678 "Application Secrets validity period?"
Is there any validity for Application Secrets/Type: Password?

[2018-10-11 20:41] Alberto-Vega-MSFT commented on #16432
@ravick4u I went over the tutorial and it's not broken. I was unable to repro the issue I'm using.

Azure RM 5.7.0

Powershell 5.1.17134.228

On the StackOverflow thread you mentioned that it works on your other machine. So it seems to be an issue with your Powershell instance or the version that you have.

This issues are meant for documentation feedback we do not provide that kind of support her

[2018-10-11 20:41] hning86 commented on #16623
Hi, sorry about the lack of documentation. We will improve on that shortly. Meanwhile:

1. The error you are seeing "Main file or dependency file failed to download, after multiple attempts" is due to a service bug that we are in the middle of rolling out to all regions. This should complete within a few more days. You can simply wait and try again later.

2. The Dockerfile you specify is appended

[2018-10-11 20:42] nansravn opened #16679 "[Azure Machine Learning Service] application/octet-stream instead of application/json"
Nowadays the only type of data accepted as an argument for AzureML Deployed Webservices on AKS are JSONs (application/json)? Is it possible to send binary data to the webservice (application/octet-stream)?

For example: if I want to make an Object Detection Webservice, I would prefer to send the binary images without any base64 or ASCII encoding, because the encoding would enlarge the body of my r

[2018-10-11 20:45] Adam-Smith-MSFT commented on #16409
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-11 20:45] #16409 closed

[2018-10-11 20:51] jeffgilb commented on #16549
#please-close

[2018-10-11 20:51] AlverezYari commented on #9448
These thinks all 404! I'm trying to setup Metric logs to stream into eventhubs and finding a lot of missing documentation. @rboucher Can you point me to any resources that cover this? I'd rather not use VStudio if I don't have to. Seems like the CLI would do it but I can't find a good tutorial/walk through. Be on this for hours, any help would be much appreciated!

[2018-10-11 20:52] ravick4u commented on #16432
Thanks for the update. I will go ahead and update

[2018-10-11 20:52] #16432 closed

[2018-10-11 20:54] jason-j-MSFT commented on #16675
@Anmolgan81 if you are using an Azure IR, you will have to whitelist the datacenter IP range as referenced in the prerequisite section:
https://docs.microsoft.com/en-us/azure/data-factory/connector-amazon-redshift#prerequisites

If you are utilizing a self hosted IR, that would suggest you have access to the host or VM the IR is installed on, and you could locate and whitelist that IP.

[2018-10-11 20:54] #16675 closed

[2018-10-11 20:56] timmyreilly opened #16681 "Where is the Static Client for SQL?"
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-cosmosdb-v2#supported-apis

Suggests using the SQL Bindings for interacting with SQL, but is there a way to use the static client from JavaScript for SQL? Would be great to see that link in the list with the rest of the static clients - the bindings are good for simple stuff, but sometimes I need to read from multiple docume

[2018-10-11 21:07] Alberto-Vega-MSFT commented on #16452
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-11 21:10] MohitGargMSFT commented on #16650
@dougmclelland Thanks for the inputs on the content. I have assigned the issue to the content author to investigate and update as appropriate.

[2018-10-11 21:11] carlfm01 commented on #16638
Here's the deploy.json that the portal generates, I removed the suscription ids.

`{
  "id": "/providers/Microsoft.Resources/deployments/microsoft.vmss-20181011144201",
  "name": "microsoft.vmss-20181011144201",
  "properties": {
    "templateHash": "16003712594483244245",
    "parameters": {
      "location": {
        "type": "String",
        "value": "southcentralus"
      },
      "vmssName":

[2018-10-11 21:13] Neckross opened #16683 "REQUIRE_USER_MATCH in HKLM\SOFTWARE\Microsoft\AzureMfa"
We were trying to address this to users who are not setup or enabled for Azure MFA license, but still need to authenticate and login to the VPN client. These users are AD Synced to Azure AD. These users are scoped within the security group defined in the RADIUS server policies configuration to allow who can connect to the VPN client. When we add the "string" (REQUIRE_USER_MATCH) and set the value

[2018-10-11 21:15] timhiggs commented on #16023
No problem :) Thank you!

[2018-10-11 21:15] hpatel01 opened #16684 "Is there a plan or when SQL Database Managed Instance be able to support windows NT authentication besides integrated Azure AD."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-10-11 21:16] Neckross commented on #16683
nvm! I spoke too soon...
After rebooting the NPS (RADIUS server + Azure MFA extension)... it started working.
Awesome!

[2018-10-11 21:18] TravisCragg-MSFT commented on #16549
@AzureStackNerd We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-11 21:18] #16549 closed

[2018-10-11 21:19] TravisCragg-MSFT commented on #15976
@rathishrms this is fixed in #16549

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-11 21:19] #15976 closed

[2018-10-11 21:19] TravisCragg-MSFT commented on #15981
@rathishrms this is fixed in #16549

[2018-10-11 21:19] #15981 closed

[2018-10-11 21:21] telalwar opened #16685 "Where i can find documentation for 3.x"
Is WebJobs SDK is 3.x still in preview ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e9e1a8a-6284-a230-061e-7cb27258571a
* Version Independent ID: 43390e30-04d6-6d4e-018e-21419dbb11e8
* Content: [Get started with the Azure WebJobs SDK](https://docs.microsoft.com/en-us/azure/app-service/webjobs-sdk-get-started)
* Co

[2018-10-11 21:28] MicrosoftGuyJFlo commented on #14404
Resolving in a private PR

[2018-10-11 21:31] tamram commented on #10537
@panoschatz - Thank you for your feedback, and sorry it wasn't addressed in a timely manner. I have updated the article, and it should go live soon.

#please-close

[2018-10-11 21:33] MicrosoftGuyJFlo commented on #14785
Adding to PR in private repo

[2018-10-11 21:35] tamram commented on #9787
Hi @goforgold - Thanks for your feedback, and sorry for our slow response. There is no change to your existing data when you switch to a managed key.

#please-close

[2018-10-11 21:36] timmyreilly opened #16686 "If I add a package.json to my deployment will the listed dependencies be installed?"
https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node#dependency-management

At section linked above, its suggested to add a package.json file, and then locally install my packages and then push my node_modules directory with my project? What if I'm using source control and git deployments in azure? Do I have to maintain a seperate branch with all these node modules insta

[2018-10-11 21:40] MicahMcKittrick-MSFT commented on #16678
@Vasanth1981 please provide us with the documentation you are referring to so we can better assist.

[2018-10-11 21:40] TravisCragg-MSFT commented on #10537
@panoschatz We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-11 21:40] #10537 closed

[2018-10-11 21:40] MicahMcKittrick-MSFT commented on #16679
Thanks for the question! We are investigating and will update you shortly.

[2018-10-11 21:41] lakasa commented on #8610
When you rotate the key in Key Vault it only re-encrypts the root account key (AEK) for encryption. All unique writes are encrypted using a derived key Data Encryption Key (DEK). This is derived from AEK. When user rotates the key in Azure Key Vault, the AEK is re-encrypted with the new key from AKV. Hope that helps!

[2018-10-11 21:43] SnehaGunda commented on #14762
@upoppe we will close this issue but track it in the askcosmosdb alias.

#please-close

[2018-10-11 21:44] MicahMcKittrick-MSFT commented on #16677
@i255d thanks for the feedback. These docs are designed to give people a starting point to creating VMs in Azure using PowerShell. There are obviously positives and negatives of using any deployment method. We have additional docs that help you configure stuff more in depth as well. However for the purpose of these specific ones, they are just an entry point.

If we add to much information it can

[2018-10-11 21:44] #16677 closed

[2018-10-11 21:47] grayjeremy opened #16687 "Anything not in preview"
What options do I have that aren't in preview?  This doesn't seem to work with the Microsoft.Identity.Client.

ConfidentialClientApplication cca = new ConfidentialClientApplication(ClientId, Authority, RedirectUri, new ClientCredential(ClientSecret), userTokenCache, null);

AuthenticationResult result = await cca.AcquireTokenByAuthorizationCodeAsync(code, Scopes);

Error Message is "Authority vali

[2018-10-11 21:48] mflduncan opened #16688 "Conflicting browser consideration"
Header says "Google Chrome (macOS only)" but descriptions specifies "For Google Chrome on Mac OS **and other non-Windows platforms**"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d53fedc-b37d-9c37-fd71-32088e1e88d3
* Version Independent ID: 1d67c426-39ff-8646-139d-51cd5e9fe44e
* Content: [Azure AD Connect: Seamless

[2018-10-11 21:53] Grace-MacJones-MSFT commented on #16428
@nikbanerjee we are glad you were able to resolve your issue. We will now proceed to close this thread.

[2018-10-11 21:53] #16428 closed

[2018-10-11 22:00] MarileeTurscak-MSFT commented on #13705
I am closing this out for now due to lack of detail/response. Please leave a comment or open another issue if you wish to continue the conversation.

[2018-10-11 22:00] #13705 closed

[2018-10-11 22:05] Alberto-Vega-MSFT commented on #16453
Hi

This link should help https://docs.microsoft.com/en-us/azure/data-factory/tutorial-copy-data-tool
It illustrates that you have to [create the sink SQL table in your SQL database](https://docs.microsoft.com/en-us/azure/data-factory/tutorial-copy-data-tool#create-a-sink-sql-table)

[2018-10-11 22:06] MarileeTurscak-MSFT commented on #16683
@Neckross glad you were able to resolve this!

[2018-10-11 22:07] #16683 closed

[2018-10-11 22:11] YutongTie-MSFT commented on #14855
@WSturman Thanks.

@ea167 We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-11 22:11] #14855 closed

[2018-10-11 22:15] scott1138 opened #16689 "Lack of custom log JSON information"
I would like to use code to create our custom log file collection sources but I can't find any documentation on the acceptable values or formats for the object properties.  The example above only lists new line as the delimiter.  What do I do for Timestamp?  The documentation for the PowerShell command is just as vague.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2018-10-11 22:26] dave-read opened #16690 "Consider adding 2.1 SMB client with "Secure transfer required" enabled on storage account as another potential source of connection issue."
In the common causes for "Cannot connect or mount an Azure file share", I think another possible reason is a SMB 2.1 client trying to connect to a share where the storage account has "Secure transfer required" enabled.  That's covered in the docs but I think can be easy to miss. See: https://docs.microsoft.com/en-us/azure/storage/files/storage-how-to-use-files-linux#prerequisites-for-mounting-an-a

[2018-10-11 22:26] JohnDelisle opened #16691 "Incompatible with Azure Traffic Manager"
It'd be nice to include mention in the docs that enabling client certificate auth is incompatible with your Traffic Manager product.  We didn't spot this until well into a deployment, and are still re-working things as a result.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb440603-950a-c224-f6c9-222ca502d5a5
* Versi

[2018-10-11 22:33] rkondru opened #16692 "Update : Configuring Azure AD single sign-on"
Under "On the BlueJeans Domain and URLs section, perform the following steps:".....
#3 B.  Identifier Textbox needs to be https://samlsp.bluejeans.com instead of https://&lt;companyname&gt;.BlueJeans.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b12befba-4d71-4c63-49d7-70a94babe794
* Version Independent ID: a68c63

[2018-10-11 22:33] xurui203 commented on #15891
@Molotch We are using Avro version 1.8.0, with the Apache.Avro NuGet package and the following libraries: Avro, Avro.Generic, Avro.IO, Avro.File, Avro.Generic.

[2018-10-11 22:38] CelesteDG commented on #15871
Hello @nicholasriviera - Thank you very much for your feedback. I've updated the app manifest and optional claims topics to include the following info. The updated text for app manifest should go live in the next hour or less. The changes are highlighted:

![image](https://user-images.githubusercontent.com/16906646/46837851-a1876580-cd6b-11e8-9072-254d0e8e7652.png)

[2018-10-11 22:41] JasonFreeberg commented on #16145
Thanks everyone! @rloutlaw @BryanTrach-MSFT @Karishma-Tiwari-MSFT

[2018-10-11 22:41] #16145 closed

[2018-10-11 22:42] CelesteDG commented on #15871
@MarileeTurscak-MSFT @MicahMcKittrick-MSFT @MohitGargMSFT @SaurabhSharma-MSFT the PR is here: https://github.com/MicrosoftDocs/azure-docs-pr/pull/54882 and should go live by 4pm today. #please-close Thank you.

[2018-10-11 22:43] tiny-dancer commented on #16206
thanks for the info! it would be help to call the community vs officially supported options, similar to the hashi [vault docs](https://www.vaultproject.io/api/libraries.html).  we had written off using Azure Monitor app insights in favor of another vendor as it wasn't listed as supported in the docs.

[2018-10-11 22:43] Karishma-Tiwari-MSFT commented on #16654
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-11 22:43] #16654 closed

[2018-10-11 22:49] sjyang18 opened #16693 "Is this code working?"
I followed the document to create a console app that retrieves the access_token from MSI. I see the TokenCredential created properly, but code set storageCredential.IsAnonymous to true, thus later it generates StorageException: (Server failed to authenticate the request. Make sure the value of Authorization is fomed correctly including the signatgure. Which version of SDK work for this code?  I ha

[2018-10-11 22:51] kgremban commented on #13313
@theangellmethod The simple answer is, it's a small VM that's low cost and sufficient to run IoT Edge. There wasn't a decision around which series of VM was better than any other. Do you have a concern about this being b-series?

Also, I'm not sure why the B-series isn't listed on the pricing page. It is in their documentation: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/sizes-ge

[2018-10-11 22:51] sjyang18 opened #16694 "Is this code working?"
I followed the document to create a console app that retrieves the access_token from MSI. I see the TokenCredential created properly, but code set storageCredential.IsAnonymous to true, thus later it generates StorageException: (Server failed to authenticate the request. Make sure the value of Authorization is fomed correctly including the signatgure. Which version of SDK work for this code? I hav

[2018-10-11 22:52] sjyang18 commented on #16693
wrong place to file. closing

[2018-10-11 22:52] chojrak11 commented on #16132
Aren't backups and restores important to you? It's just about exposing the facility that you already have in more friendly way to end users. Current way doesn't work. Once I've waited almost a month for a response to a request to restore a Cosmos DB database (thanks god it wasn't a production database).

I think for my future projects I'll just find a database and a provider that allows me to do b

[2018-10-11 22:53] Grace-MacJones-MSFT commented on #16676
Hi @lswright, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-11 22:56] SaurabhSharma-MSFT commented on #16687
@grayjeremy Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-11 22:56] TravisCragg-MSFT commented on #16673
@devops-brain Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-11 22:57] SaurabhSharma-MSFT commented on #16692
@rkondru Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-11 22:58] SaurabhSharma-MSFT commented on #16688
@mflduncan Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-11 23:02] TravisCragg-MSFT commented on #15981
@rathishrms correction, this was not fixed in #16549, however the command still works as given.

[2018-10-11 23:03] ccarns opened #16696 "Kudos -"
I went through the tutorial and learned a lot. So first and foremost great work.

Suggestion:
This tutorial show command line usage for most part.  I may be a-typical but I tend to use the azure portal vs command line so it would be great if in future tutorials you described both ways.  I ended up looking at the commands and seeing if I could do it via the portal and was successful for the most pa

[2018-10-11 23:06] MicrosoftGuyJFlo commented on #14785
#please-close

[2018-10-11 23:06] MicrosoftGuyJFlo commented on #14404
#please-close

[2018-10-11 23:06] Grace-MacJones-MSFT commented on #16685
Hi @telalwar, its not in preview. It has been released.

https://www.nuget.org/packages/Microsoft.Azure.WebJobs/3.0.0
https://github.com/Azure/azure-webjobs-sdk/releases/tag/v3.0.0

[2018-10-11 23:07] bawilless opened #16697 "Pin to dashboard for DPS not on Azure GUI"
The instructions under step 3 state:  "Pin to dashboard: Select this option to have the instance pinned to your dashboard making it easier to find."

I just created a DPS and this option was not on the Azure GUI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a75512f-47db-ecee-70d3-9e2e5f470e1c
* Version Independent I

[2018-10-11 23:08] YutongTie-MSFT commented on #16646
@heatherbshapiro Hi, the document is not so clear for customers. I can not reproduce the process as well. I think there should be something missing. Can you please update the document with more details? Thanks a lot!

[2018-10-11 23:08] jeevansd commented on #16692
@chetansriv Can you please review this? I will suggest to test the app again.

[2018-10-11 23:09] rezasherafat commented on #10037
You can provide a property without a value, e.g.:

`devices/{device_id}/messages/events/user=`

[2018-10-11 23:10] Grace-MacJones-MSFT commented on #16670
Hi @github33, thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-11 23:12] zeronines commented on #16549
Do I do that or a moderator?

Keith

From: Jeff Gilbert <notifications@github.com>
Reply-To: MicrosoftDocs/azure-docs <reply@reply.github.com>
Date: Thursday, October 11, 2018 at 1:51 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Keith Fukuhara <keith@zeronines.com>, Comment <comment@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] The correct lines (#16549)

#plea

[2018-10-11 23:12] Grace-MacJones-MSFT commented on #16691
Hi @JohnDelisle, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-11 23:14] #14404 closed

[2018-10-11 23:14] rezasherafat commented on #10414
Thanks for reporting this - the doc was meant to read as follows:

I will publish a PR to fix this.

[2018-10-11 23:15] rezasherafat commented on #16306
It is always good practice to be explicit about the version that your code will be accessing; otherwise, you may experience difficulties if a future api change is not backward compatible.

[2018-10-11 23:17] Mike-Ubezzi-MSFT commented on #16681
@timmyreilly Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-11 23:17] TravisCragg-MSFT commented on #16549
@zeronines I have closed the issue, nothing else is needed.

[2018-10-11 23:18] BryanLa commented on #9368
@yadcam - apologies for the long delay on this. This issue was cleaned up earlier this week (including this article), as part of a larger effort to remove the "all" permission, and replace with enumerated lists (as you suggested). In each case, I fixed both the article text and the PowerShell script, as appropriate for the given Key Vault object type(s). They are also aligned/categorized in sync w

[2018-10-11 23:20] MohitGargMSFT commented on #16663
@toanyonebutyou Self-service group management is available only for Azure AD security and Office 365 groups. It is not available for mail-enabled groups, distribution lists, or any group that has been synchronized from your on-premises Windows Server Active Directory (AD).

[2018-10-11 23:21] 0GiS0 opened #16698 "You need to enable CORS for the website"
In order to complete the deployment you have to enable CORS for the website. If not you receive a bunch of errors because you cannot call the API. The problem is the App Service is a Linux site with containers and you don't have a way to enable CORS from the portal...

how can I do this?

thanks

Cheers,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-10-11 23:27] Mike-Ubezzi-MSFT commented on #16684
@hpatel01 Thank you very much for your interest in Azure products and services. Azure SQL Database including Managed Instance, Single Database, and Database Pools will not support NT Authentication. I think SQL Server deployed to an Azure VM might support this functionality. Let me check.

[2018-10-11 23:28] Adam-Smith-MSFT commented on #16693
I'll investigate and will follow up on the other open case.

[2018-10-11 23:28] #16693 closed

[2018-10-11 23:30] sjyang18 commented on #16694
Found a bug in my side. Resource parameter should be 'storage.azure.com'. I was using my library that set 'managment.azure.com'. I will close this. Sorry.

[2018-10-11 23:30] #16694 closed

[2018-10-11 23:44] #12495 closed

[2018-10-11 23:50] YutongTie-MSFT commented on #16666
@pragyan019 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-11 23:50] mikewiegand opened #16699 "Error"
Hi
using the recommended link (vs 2017), using a vanilla IoT Edge Project, I get an error (I cannot attach an image). The error message is a 400 error, ArgumentInvalid: BadRequest, absolutely no other info.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b7b666c-1e95-d0dd-7fd8-a2367369d190
* Version Independent ID: 3ef

[2018-10-11 23:55] mikewiegand commented on #16699
Here are all the details:
iotedgehubdev start -i "input1"
Welcome to iotedgehubdev!
-------------------------
Telemetry
---------
The iotedgehubdev collects usage data in order to improve your experience.
The data is anonymous and does not include commandline argument values.
The data is collected by Microsoft.
You can change your telemetry settings by updating 'collect_telemetry' to 'no' in C:\Pr

[2018-10-11 23:56] vinitkhera commented on #16150
Thanks

This was helpful.

-------- Original message --------
From: TheJayMann <notifications@github.com>
Date: 10/11/18 09:42 (GMT-08:00)
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: vinitkhera <vinitkhera90@hotmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] How is the "sub" claim value derived? (#16150)

With some more searching, I was

[2018-10-11 23:56] kgremban commented on #13596
Hi @creationsoft, just checking in to see if you've had a chance to retry the steps and reproduce your issue?

[2018-10-12 00:00] SaurabhSharma-MSFT commented on #16687
@grayjeremy  It might seems a code issue to me as I see B2C working samples available using the ConfidentialClientApplication.  Please can you refer to this [B2C Sample](https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi) and validate your code if you are missing anything.

[2018-10-12 00:02] SaurabhSharma-MSFT commented on #16688
@mflduncan Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-10-12 00:03] xurui203 commented on #16552
@StefH Thanks for letting us know! We will look through and update the screenshots as needed.

[2018-10-12 00:04] Alberto-Vega-MSFT commented on #16689
@scott1138 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-12 00:10] chetanku commented on #16516
@MicahMcKittrick-MSFT Thanks for your reply. How can I achieve "If you already have a LB created then it already has an IP address associated. You can still use that load balancer you would just want to associate the service with that LB and the correct IP."?

[2018-10-12 00:24] v-maroge opened #16700 "Back up limitations for striped disk"
I did not see any limitation of disk size for back ups, besides of the number of disk attached, but is there no limitation in size? (For Recovery Service I believe it was 4TB) What I want to ask is if I were to stripe two 4TiB disks and create on logical 8TiB disk (i.e. RAID0) will Azure Backup support this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2018-10-12 00:52] grayjeremy commented on #16687
That's the same example I'm using.  I've used this sample lots of times with other identity providers.  Want me to invite you to the Azure DevOps project?

[2018-10-12 00:59] mike-urnun-msft commented on #16686
Hi @timmyreilly Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-10-12 01:08] #16350 closed

[2018-10-12 01:09] dufc1923 opened #16702 "nice feature , but...."
when will we see Powershell support to allow this to be enabled during provisioning, or to retrospectively enable it around all existing storage accounts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b92c195-c670-2e27-2422-fd131586bdd7
* Version Independent ID: 75ad901d-8064-bfbe-67f5-de507bede1bc
* Content: [Monito

[2018-10-12 01:19] grayjeremy commented on #16687
My bad this one is me, I don't know the issue, but its across all providers.  Lets close this.

[2018-10-12 01:19] #16687 closed

[2018-10-12 01:30] keikhara commented on #16544
@badalk The agent gets installed only on the agent nodes of AKS. It does not get on the master node. Is there any information you are looking for which is not available on Log Analytics.

[2018-10-12 01:30] Vasanth1981 commented on #16678
Here you go,
https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-overview

[2018-10-12 01:33] MicahMcKittrick-MSFT commented on #16678
Thanks @Vasanth1981. I assigned the issue to our AD engineer @MarileeTurscak-MSFT to investigate further.

[2018-10-12 01:50] BryanTrach-MSFT commented on #16618
@mayurpuli We replied to your query internally. As a result, we will close this thread. Please share any additional concerns on the email thread.

[2018-10-12 01:50] #16618 closed

[2018-10-12 02:34] toanyonebutyou commented on #16663
@MohitGargMSFT Thanks for the reply. I should have been more clear, when I say existing groups I meant existing cloud only groups.

I may have found the answer in that you have to assign a group owner, then have the group owner log into myapps and change it themselves. I dont see a way for a global admin to change this from either the Azure AD console or O365 Console.

[2018-10-12 02:38] badalk commented on #16544
it is not about missing information but I wanted to understand how the  logs are emitted from master, pods and clusters within it and synced with log analytics workspace if the agent is only installed on the node (and not on masters)

Also does it use metric server internally?

Regards
Badal

[2018-10-12 02:39] bingosummer opened #16703 "Is accelerated networking supported on Azure China Cloud?"
The doc mentions `Available in all public Azure regions as well as Azure Government Clouds.`. Do public Azure regions include Azure China Cloud?
In Azure China Cloud, I can create a NIC with accelerated networking enabled.
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f89338c0-968d-c22f-5b0d-ed3870ebc2fa
* Vers

[2018-10-12 02:45] badaisamoedra commented on #16456
in my local env, actually i have installed python 2.7.15. and i have upgraded my pip. and i have also followed the instructions as you mentioned.

Thank you!

[2018-10-12 02:48] mekkimuyeeb opened #16704 "How does SSO deal with Accent marks?"
WE have an app that is used in both france and the USA. some users have accent marks in their name. We found that they can't login using SSO provided bya azure. Is their a way to deal with that ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d362c1b5-1460-4de9-c53d-f0ec1ef07742
* Version Independent ID: 9dc0a4df-81c8-

[2018-10-12 02:55] badaisamoedra commented on #16456
hi @sergaz-msft, thank you for your attention. i have successfully installed the packages in OS windows 10. but if i'm using Mac OS the packages can't install. okey maybe this case is close.

Thank You!

[2018-10-12 03:29] MicahMcKittrick-MSFT commented on #16667
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-12 03:45] #16410 closed

[2018-10-12 03:53] #14363 closed

[2018-10-12 03:56] femsulu commented on #16544
@MGoedtel any insights on this please?

[2018-10-12 03:58] parilla commented on #14535
I had this same problem and resolved it by entering **Configuration mode** on the MXChip device and setting the IoT Hub connection string via the command: `set_az_iothub`

For some reason it appears the IoT Workbench wasn't saving the connection string to the device.

[2018-10-12 04:11] github33 commented on #16670
After the above changes, the project still has two build errors. It's so close.
![image](https://user-images.githubusercontent.com/6945785/46847576-5ccaf100-cda2-11e8-8cf0-35644ef7e21b.png)
![image](https://user-images.githubusercontent.com/6945785/46847614-8e43bc80-cda2-11e8-8d0b-b3d1fd357f70.png)
![image](https://user-images.githubusercontent.com/6945785/46847619-93087080-cda2-11e8-9c20-390c1746

[2018-10-12 04:30] jakaruna-MSFT commented on #16697
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-12 04:31] rathishrms commented on #15976
Curious if ill have my name light up on the page as a contributor? 😊

From: TravisCragg-MSFT <notifications@github.com>
Sent: Friday, October 12, 2018 2:50 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Rathish Ravikumar <rathishr@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] $UsageReporting = True (#15976)

@rathishrms<https://na

[2018-10-12 04:33] jakaruna-MSFT commented on #16698
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-12 04:37] jakaruna-MSFT commented on #16699
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-12 04:41] jakaruna-MSFT commented on #16703
Thanks for the question! We are investigating and will update you shortly.

[2018-10-12 04:41] PramodValavala-MSFT commented on #16350
@graham-sportsmgmt Thanks for contributing to MS Docs! We have updated the docs accordingly.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-12 04:44] jakaruna-MSFT commented on #16704
Thanks for the question! We are investigating and will update you shortly.

[2018-10-12 04:46] jakaruna-MSFT commented on #16700
Thanks for the question! We are investigating and will update you shortly.

[2018-10-12 04:47] jakaruna-MSFT commented on #16702
Thanks for the question! We are investigating and will update you shortly.

[2018-10-12 04:56] #9368 closed

[2018-10-12 04:57] #11828 closed

[2018-10-12 04:58] #12897 closed

[2018-10-12 04:58] #14762 closed

[2018-10-12 04:58] #14785 closed

[2018-10-12 04:59] #15004 closed

[2018-10-12 04:59] #16170 closed

[2018-10-12 05:00] #16392 closed

[2018-10-12 05:05] cplemm opened #16706 "error: inbound vs. outbound"
In the final sentence of the 'Next Steps' section it should say 'inbound and outbound IP addresses in Azure App Service' instead of 'outbound and outbound IP addresses in Azure App Service'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2cc9a983-cc11-dde3-1f88-127240105a31
* Version Independent ID: 36188633-6acf-fe86-

[2018-10-12 05:16] venkateshwj opened #16707 "Azure b2c - Msal js - SPA - Edit profile redirects to sign in"
Did anyone try 'profile edit' with MSAL with spa? If so can you please point me to some demo samples? Thanks in advance.

I was able to integrate 'SignIn', 'SignUp' and 'PasswordReset' but when integrating profile edit it did the route to 'profile edit' policy but the issue is, the application is asking to sign in again to edit the user profile.

Below is the code,

private clientApplication: Msal

[2018-10-12 05:24] dragmz opened #16708 "No description for step 9."
As per the title, there's no description for step 9. which is named "Message" on the architecture-processing-of-incoming-relay-requests diagram.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: deea65e5-431c-ca5e-116d-f909056b9867
* Version Independent ID: 72813784-5da8-8b30-0629-a0a6ea130ec3
* Content: [What is Azure Re

[2018-10-12 05:51] klaaslanghout commented on #16278
Have an update pending to make this more clear.  Thanks for the feedback @mdenieffe !

[2018-10-12 06:05] gavinfish commented on #13806
I encounter this error when I go through the [Set up continuous integration and deployment to Azure App Service with Jenkins](https://docs.microsoft.com/en-us/azure/jenkins/java-deploy-webapp-tutorial) too. Then I find that the commands in our articles may lead our customers into this.

In the [Configure azure app service](https://docs.microsoft.com/en-us/azure/jenkins/java-deploy-webapp-tutorial#

[2018-10-12 06:33] kazshi opened #16710 "Device Id cannot be changed?"
Looks like Device Id cannot be changed once it's saved - do I need to re-add device if I want to change the device id?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e8b0b77-3c5d-5d9f-8f78-d750f5e620e5
* Version Independent ID: c6eafb84-e897-5d29-f217-70de61273fea
* Content: [Understand the Azure IoT Hub identity regi

[2018-10-12 06:46] DanyWind commented on #16358
@YutongTie-MSFT  @fmegen thank you both !

I have another question : I want to use Azure Speech for a long time, which could take one hour, and therefore we need to make several requests to Azure Speech.

I noticed that it takes some time after I allowed the microphone use before it starts. So my question is :
What would be the best practice to use Azure Speech for a long time ? I think that the c

[2018-10-12 07:17] gavinfish commented on #15875
Hi @Mimetis , errors like
[code]
is a bug of ubuntu. You can find more information [here](https://bugs.launchpad.net/ubuntu/+source/unscd/+bug/1611520). But it is not a block. Could you please try to restart the Jenkins VM after you change the user group.

[2018-10-12 07:45] andig opened #16711 "Cannot use without RBAC enabled?"
Following the steps above I notice that the CLIENT_ID and CLIENT_SECRET end up empty or rather `Cg==`. This crashes the autoscaler:

	I1012 07:40:38.763120       1 cloud_provider_builder.go:158] Creating Azure Manager with default configuration.
	F1012 07:40:38.763137       1 cloud_provider_builder.go:162] Failed to create Azure Manager: ARM Client ID not set

Is it possible to deploy the autoscal

[2018-10-12 08:10] andig commented on #16711
Root cause is missing permissions for `az ad sp create-for-rbac`. Might still- for experimentation purposes- be interesting to show what need be changed without RBAC?

[2018-10-12 08:12] xNiklasJern opened #16715 "Sign-in risk"
Hi,

Is sign-in risk still a part of the conditional access? It seems like the condition has been removed from were you configure the CA policys and moved to identity protection?
i noticed that because policyies I've configured on CA with sign-in risk, still exists, But the conditions has just disappeared on them.

Regards,

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2018-10-12 08:19] BartJocque commented on #15922
@jetsten please note you need only the decrypt the three login URL's and not the content URL's of O365

[2018-10-12 08:20] frederimandin opened #16716 "Table missing?"
The first note at the top of the page states that there is a table describing the publishing options, storefront selection etc. This table is supposed to be located above the note :

However There is no such table above in this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ad22423-b979-4382-1412-e58e2a5b083f
*

[2018-10-12 08:37] skgitti opened #16717 "esxi backup"
can you protect single esxi server without vcenter?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56ab6c2f-0846-e344-2613-808078b627cb
* Version Independent ID: 4afbc90f-4e26-e4e1-b1ec-b4cddb402447
* Content: [Back up VMware servers with Azure Backup Server](https://docs.microsoft.com/en-us/azure/backup/backup-azure-b

[2018-10-12 08:39] poojasaxena opened #16718 "Execure-Python-Script showing 'queued' status and not being Run"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-10-12 08:43] HeineLysemose commented on #16642
@MohitGargMSFT Thank you for the detailed guide and explanation.

Just to confirm I am running Azure AD Connect v. 1.1.882.0 and I have set the option to "yes" to allow unlocking the account without resetting the password. I am also able to successfully reset the password which also unlocks the user account in the on-prem AD.

I can also confirm that I see the option from to unlock with resetting

[2018-10-12 08:47] jakaruna-MSFT commented on #16711
Thanks for the question! We are investigating and will update you shortly.

[2018-10-12 08:50] dinoreborn opened #16719 "This content is very confusing"
This content is very confusing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8344f7fd-5395-652f-c2ee-00067776f248
* Version Independent ID: e7e21974-e1ef-5074-686b-7ae441e9c536
* Content: [View or analyze Azure Log Analytics data collected](https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-tutorial-vi

[2018-10-12 08:59] MichalBecko commented on #16645
Hi,

thanks for response :-)

I use web based Azure Cloud Shell. I Tried a local, but there is problem right et the begining with the commands of creating group, etc. So I focuse to he web Azure Cloud Shell.

But lets get back to the issue. Issue complains about starting MySQL server on a Azure Cloud.
Our App contains MySQL DB which has been correctly build to image and pushed to specific containe

[2018-10-12 09:00] jaikritnegi opened #16720 "Need updates to Infrastructure Backup Limits"
With 1807 backup enhancements, this section need update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ccbacbb-dfa5-80b2-133b-db05c323168e
* Version Independent ID: 3fb4dab3-7c78-3806-5788-8545e18487b4
* Content: [Azure Stack Infrastructure Backup Service reference](https://docs.microsoft.com/en-us/azure/azure-stack/

[2018-10-12 09:08] jakaruna-MSFT commented on #16711
@andig We wont be able to deploy autoscaler without RBAC.
Please checkout the [prerequisite](https://docs.microsoft.com/en-us/azure/aks/autoscaler#prerequisites) on that article.

[2018-10-12 09:20] jakaruna-MSFT commented on #16718
@poojasaxena, Please provide us with the link to the documentation you are referring to so we can better assist.

[2018-10-12 09:27] bramvdklinkenberg opened #16721 "Removing a node "manually" from an AKS cluster"
Is there a instruction or best practice to remove a node from an AKS cluster?

[2018-10-12 09:36] JimiSweden opened #16722 "the rss link is still broken - please... fix it, validate it"
As previous closed feedback items.. the RSS link does not work (not even in Edge ;) )
{"Error":{"Code":"UnsupportedApiVersion","Message":"The HTTP resource that matches the request URI 'https://docs.microsoft.com/Home/Error?search=%22whats%20new%20in%20azure%20active%20directory%22&locale=en-us/' does not support the API version '0.1'."}}

---
#### Document Details

⚠ *Do not edit this section. It

[2018-10-12 09:42] ivana61 commented on #16473
When I schedule the task with data factory indeed the task container settings are missing. I can see that in the properties of the task created with ADF in Azure Batch:
![image](https://user-images.githubusercontent.com/37874763/46861817-dcdd6f00-ce13-11e8-9387-5b5c9eb4669a.png)
How can I give the task container settings through ADF?

[2018-10-12 09:45] jjgriff93 commented on #16435
@SnehaGunda - there are some inconsistencies which I was able to work through but some people might not be able to:

- Configuration works differently in asp.net core - there is no web.config file for you to put the Cosmos DB connection strings in, you have to use appsettings.json and dependency injection instead. For somebody just looking to start out this might take them a while to figure out
-

[2018-10-12 09:46] jjgriff93 commented on #16134
@SnehaGunda please see my response on the other thread - the example will not work in ASP.NET Core without some changes

[2018-10-12 09:52] ivana61 commented on #16473
@MicahMcKittrick-MSFT Can this be the problem actually? That ADF custom activities cannot be used to schedule a task on a container enabled pools?

[2018-10-12 10:07] ccit-spence opened #16724 "DevOps Project within Azure Portal says Deprecated?"
What is the correct way to perform these operations with the portal version being deprecated.

 Starting September 28th, 2018 you will no longer be able to create Team Projects or view them in the Azure portal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5573bc6e-0482-2240-2d07-2d0f54ccf5eb
* Version Independent ID:

[2018-10-12 10:13] HemantChandurkar opened #16725 "complete list of the fields for logging"
I configured APIM logger to EventHub using article
https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-log-event-hubs
In the example some of the fields are given viz.
`DateTime.UtcNow, context.Deployment.ServiceName, context.RequestId, context.Request.IpAddress`
I want to configure more like who is referrer, result, time etc.
Where I can find complete list of the fields?

--

[2018-10-12 10:16] ArvidBaa opened #16726 "How to migrate the scoring file (or perhaps 'how to set up the scoring file')"
In this migration guide it says that I do not need to change anything in my scoring files when migrating. However, I can not find any information on wether the scoring files will still need to generate a `schema.json`, or if that part is deprecated. In none of the example files in the documentation that I have seen so far is there any reference to a `schema.json` file. And, when I try to run my ol

[2018-10-12 10:18] JimiSweden commented on #16722
this url will "work" as commented in another issue (closed) but I haven't been able to find the "whats new" using this (probably docs belongs to another channel) https://azure.microsoft.com/en-us/updates/feed/?product=active-directory

[2018-10-12 10:29] sergaz-msft commented on #15589
Hello @LisandroSu we [will update](https://github.com/MicrosoftDocs/azure-docs-pr/pull/54950) the document soon, please let us know if you still see the issue and give us a better description of what can we enhance?

[2018-10-12 10:29] sergaz-msft commented on #15589
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-12 10:29] #15589 closed

[2018-10-12 10:32] stefanrothnet commented on #15349
@SaurabhSharma-MSFT I ran in the same issue as @EliWallic . What is the solution to have the SQL RP on 1808

[2018-10-12 10:46] ddentrec commented on #16582
Update: I tried on a different network and it seems to be working - much more stable. No errors. I also did more testing and found that the Raspberry Pi wifi is not very reliable with this 'Raspberry Pi to Azure IoT Hub' setup - about 30% of the connections failed in 30 mins, then it seems to hang. **So I would recommend that a wired connection is used**

If you have to use a wifi connection and y

[2018-10-12 11:07] barclayn commented on #13139
@waheedhussain  sorry for the slow response. I contacted a PM and I am waiting for updates.

[2018-10-12 11:09] ThierryBT opened #16727 "V-NET requirements for AADDS and new Azure Active Directory authentication over SMB for Azure Files"
Hello and sorry for my english
I see in this link https://docs.microsoft.com/en-us/azure/active-directory-domain-services/active-directory-ds-getting-started-network
The subnet you've selected must have at least 3-5 available IP addresses in its address space.
In my exemple, if I have 3 Ip in my subnet.
I added two administration machines in the domain AADDS.
Now, I want to test Azure Active Direc

[2018-10-12 11:16] jeffgilb commented on #15349
Hi @SaurabhSharma-MSFT  these issues are for doc-related and not technical support feedback. That said, you have to switch to the previous PowerShell profile for 1.1.24.0 of the DB RPs
We’re shipping the next version of the RPs to support the new profile soon. Please stay tuned.

[2018-10-12 11:40] #16727 closed

[2018-10-12 11:41] ThierryBT commented on #16727
Sorry, no pb...

[2018-10-12 11:43] bramvdklinkenberg commented on #16721
Hi @jakaruna-MSFT , with scaling (through portal, cli) you cannot choose a specific machine to remove. If you have node-0, 1 and 3 and you scale to 6 and scale down to 3 again then 0, 1 and 2 will stay in the cluster. But sometimes I noticed a machine is not always properly functioning, but doesn't get replaced by azure. So sometimes you would like to maybe "manually" delete a machine and scale ba

[2018-10-12 11:44] bramvdklinkenberg commented on #16721
But maybe I am looking for a solution or workaround for Infra issues on Azure side here.

[2018-10-12 11:51] sahilpnckr123 commented on #16648
Okay @TravisCragg-MSFT

[2018-10-12 11:58] #16519 closed

[2018-10-12 12:00] #16199 closed

[2018-10-12 12:40] adwk67 commented on #16383
@sergaz-msft Thanks, I'd missed that! Now the options show up as expected.
Closing this issue.

[2018-10-12 12:40] #16383 closed

[2018-10-12 12:47] sergaz-msft commented on #16383
Thank you for letting us know. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-12 13:01] cephalin commented on #15205
@mganeshphani The suggested text is not quite right, but I worked with the PU to have a revised and expanded explanation. This should be published within the next day.

[2018-10-12 13:07] telalwar commented on #16685
@Grace-MacJones-MSFT Ok, Thank you. May be documentation need to be updated here(https://docs.microsoft.com/en-us/azure/app-service/webjobs-sdk-get-started)  , it still says The `latest version of the WebJobs SDK is 3.x, but it is currently in preview`

[2018-10-12 13:07] #16685 closed

[2018-10-12 13:28] amel00 commented on #16493
@MohitGargMSFT
I guess my question would be more along the lines, does a BYOD registered device store any certificates or hash any passwords or access tokens on the personal device that is not controlled via intune or some other mobility management service since these devices are personal devices that are being registered.

I know for instance if you are hybrid joined then a user cert is stored on

[2018-10-12 13:32] mganeshphani commented on #15205
Thankyou. please do let me know when its live..i would like to read the new
statement.

On Fri, Oct 12, 2018 at 8:01 AM Cephas Lin <notifications@github.com> wrote:

--
Ganesh Phani Majeti.

[2018-10-12 13:34] cephalin commented on #15205
You can already read it in the repo. It’s just not published to doc.microsoft.com yet.

From: Ganesh Phani Kumar Majeti <notifications@github.com>
Sent: Freitag, 12. Oktober 2018 15:33
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Cephas Lin <Cephas.Lin@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Not able to move App service between

[2018-10-12 13:35] fmegen commented on #16614
Hi @jpetitte,
thanks a lot for your offer.

(@wolfma61) there are plans to opensource the library but currently there is date decided on when.

[2018-10-12 13:39] wolfma61 commented on #16358
Hey - I strongly recommend looking at the sample github repo at https://aka.ms/csspeech/samples. We are just in the process of updating the samples, as we will do in the future. You can also use the 'Issues' on the sample repo for questions ... at least for us it makes it easier to track speech sdk specific issues.

I wouldn't expect long delay in starting the recognition session, please give us s

[2018-10-12 13:42] ArvidBaa opened #16731 "Image creation and connection to model"
In the section [Option 3: Deploy from image](https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-deploy-to-aci#option-3-deploy-from-image) the method used for creating the image is `ContainerImage.create()`. I am unable to find this method in the SDK documentation for the [azureml.core.webservice](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.image.contai

[2018-10-12 13:59] i255d commented on #16677
@MicahMcKittrick-MSFT Thanks for the response.  I have done a lot of work on these types of things using ARM Templates.  I was up in Washington for the PowerShell Summit a few month back when they announced that they were going to be moving the PowerShell team in with the Azure team to help with better coordination and communication.  They said at the time that they planned on doing a lot of work

[2018-10-12 14:00] krasnovandr opened #16732 "Dead link to the GitHub repo for vulcano sample data"
Hi there,

Could you please provide corect link to the vulcano sample data  repository. I get 404 on this one

https://github.com/Azure-Samples/azure-cosmos-db-sample-data/blob/master/SampleData/VolcanoData.json

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db43c478-6301-7b69-131a-c4289797c49d
* Version Independent ID

[2018-10-12 14:06] Sulster commented on #15279
I don't know if I was doing something massively wrong, but it seems WAF_v2 won't accept .cer files when setting HTTPS Settings.

[2018-10-12 14:09] SamirFarhat opened #16733 "Peering between different Azure AD tenants"
"The virtual networks can be in the same, or different Azure subscriptions, as long as both subscriptions are assigned to the same Azure Active Directory tenant"
--&gt; I think this is supported now

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb26c6d6-dfeb-fc3d-b511-a0677abdcb44
* Version Independent ID: be6048bf-bf

[2018-10-12 14:18] Nirmal931 commented on #5530
Hi guys,

Did anyone ever find a solution to this issue?

I've got the exact same issue...

[2018-10-12 14:21] nkolchakov opened #16734 "Debug 500 Error"
I'm Using a Virtual Machine.
Running in debug mode, prividing the Device Connection String, I'm getting this error.

`Error: Could not start container: {id} : 500 Server Error: Internal Server Error ("driver failed programming external connectivity on endpoint edgeHubDev ({id}): Bind for 0.0.0.0:8883 failed: port is already allocated")`

After checking which proccess is using the port, the result

[2018-10-12 14:22] sergaz-msft commented on #16582
Hello @ddentrec this is a report that Product Group would definitely love to hear about and probably get into more details on the logs. Also please notice that depending on the SDK you are using some behaviors may or may not happen. In this case you are using Node SDK so can you be so kind to add a new issue [here](https://github.com/Azure/azure-iot-sdk-node/issues) with your observations (you can

[2018-10-12 14:27] nkolchakov opened #16735 "Debug 500 Error"
I'm Using a Virtual Machine.
Running in debug mode, providing the Device Connection String, I'm getting this error.

`Error: Could not start container: {id} : 500 Server Error: Internal Server Error ("driver failed programming external connectivity on endpoint edgeHubDev ({id}): Bind for 0.0.0.0:8883 failed: port is already allocated")`

After checking which proccess is using the port, the result

[2018-10-12 14:27] alpinedelight opened #16736 "Unable to find certificate with subjectName Azure IoT CA TestOnly Intermediate 1 CA"
Once I run 'New-CACertsCertChain rsa' followed by 'New-CACertsEdgeDevice "CIPEDGEDEVICE"' I get the following on Windows 10: Unable to find certificate with subjectName Azure IoT CA TestOnly Intermediate 1 CA
The certs *DO* however exist in the cert store. If I open a new powershell window it seems to be happy.

Can you replicate/ confirm, and if true update documentation?
Thanks

---
#### Documen

[2018-10-12 14:28] nkolchakov commented on #16734
Ops wrong place, im closing it

[2018-10-12 14:28] #16734 closed

[2018-10-12 14:37] sergaz-msft commented on #16018
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-12 14:37] #16018 closed

[2018-10-12 14:51] spelluru commented on #15618
The redirection is in place now.

When user navigates to https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-fundamentals-hybrid-solutions, the user is redirected to https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-messaging-overview.

#please-close

[2018-10-12 14:52] sergaz-msft commented on #16302
Hello @richardasavie . I have assigned this issue to @dominicbetts that will revisit the documentation and update the special characters section. I consider that you are unblocked with the workaround  of using '00' instead of '+'.

Thank you and let us know if you have other questions?

[2018-10-12 14:55] sergaz-msft commented on #16582
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

PS: If you open the issue please let us know the link here. Thanks!

[2018-10-12 14:55] #16582 closed

[2018-10-12 15:05] DCtheGeek commented on #16176
@lesterw1 - Just checking in... did my response clear things up?  Let me know!

[2018-10-12 15:16] jtuliani opened #16738 "Obsolete links?"
Links to resource ratecard API and resource usage API go to pages on MS docs that contain a banner saying they are no longer maintained.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a56e729-7981-9a51-9c5c-00ea13a8d888
* Version Independent ID: 01fb14e5-e8a4-49e0-5908-b6069566a8de
* Content: [Azure Billing APIs](http

[2018-10-12 15:17] mrdfuse opened #16739 "NSG allowed on Gateway subnet but Portal says not?"
You can only deploy an Application Gateway into the subnet of type 'Gateway'. But on a Gateway Subnet, the option to configure a NSG is locked with a tooltip saying: "Assigning a network security group to a gateway subnet is not supported as virtual network gateway management and gateway connectivity may fail."
Am I missing something here?

---
#### Document Details

⚠ *Do not edit this section. I

[2018-10-12 15:18] Mike-Ubezzi-MSFT commented on #16732
@krasnovandr Thank you very much for your interest in Azure products and services. In looking through the document, I am not experiencing any HTTP 404 errors from any linked pages.

[2018-10-12 15:19] Mike-Ubezzi-MSFT commented on #16732
![screenshot 418](https://user-images.githubusercontent.com/37126106/46878182-79dddf00-cdf7-11e8-968d-68ac4a55dafc.png)

[2018-10-12 15:23] krasnovandr commented on #16732
I was able to reproduce when I clicked on the sample-volcano-data link. Therefore doesn't work for me.

![image](https://user-images.githubusercontent.com/5543488/46878369-ce12ae80-ce4b-11e8-8b77-9af53793c100.png)

[2018-10-12 15:44] kazshi commented on #16710
@sergaz-msft That's what I wanted to make sure. Thank you!

[2018-10-12 15:44] #16710 closed

[2018-10-12 15:47] MicahMcKittrick-MSFT commented on #16734
Thanks for the update :)

[2018-10-12 15:53] MicahMcKittrick-MSFT commented on #16707
@venkateshwj Please provide us with the link to the documentation you are referring to so we can better assist.

[2018-10-12 15:53] MicahMcKittrick-MSFT commented on #16724
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-12 16:06] MicahMcKittrick-MSFT commented on #16677
@i255d completely makes sense. I think a foot note would be great however until the product team provides us with some useful templates to link customers to from that footnote I am not sure we would have much to reference to. Besides random ARM templates from powershell. There is a lot of work being done to improve the modules as you know. Working with the documentation our team is in a tight loop

[2018-10-12 16:06] #15327 closed

[2018-10-12 16:08] #15960 closed

[2018-10-12 16:30] intrepidsoldier opened #16743 "The download doesn't work"
I tried clicking multiple times but nothing downloads

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76771dfe-6e20-07b3-1c61-3a79d98ac90f
* Version Independent ID: 4add6294-87b5-924d-5242-ba318a87a123
* Content: [Abstract-Azure Functions and Serverless Platform Security](https://docs.microsoft.com/en-us/azure/security/

[2018-10-12 16:31] Alberto-Vega-MSFT commented on #16736
@alpinedelight Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-12 16:35] Karishma-Tiwari-MSFT commented on #16235
@mmarkzon Any update?

[2018-10-12 16:35] douglaslMS commented on #16454
#please-close

[2018-10-12 16:38] Karishma-Tiwari-MSFT commented on #16340
@MGoedtel Thank you for helping out. Did you hear back from the product team?

[2018-10-12 16:39] Karishma-Tiwari-MSFT commented on #16465
@ratocego Did that help? Any update?

[2018-10-12 16:39] Karishma-Tiwari-MSFT commented on #16487
@WilldotNET Can you please share the details as asked above?

[2018-10-12 16:40] Karishma-Tiwari-MSFT commented on #16555
@mcurko Did the above answer help? Let us know.

[2018-10-12 16:40] Karishma-Tiwari-MSFT commented on #16592
@Prasad-Pillutla Any update? Did you get a chance to go through the answer above?

[2018-10-12 16:41] heatherbshapiro commented on #16646
@YutongTie-MSFT Can you please provide more information of what specific part is confusing. Where are you getting stuck? This will help with fixing it.

[2018-10-12 16:42] georgewallace commented on #15791
This has been added to the doc and will go live today.

[2018-10-12 16:45] GamerLivingWill commented on #15082
Same here.  Has this command been removed?  If so, is it permanent?  I was attempting to demo to a customer and it wasn't available.

[2018-10-12 16:45] mike-urnun-msft commented on #16708
Hi @dragmz Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-10-12 16:45] #15791 closed

[2018-10-12 16:45] Prasad-Pillutla commented on #16592
Sorry hit send button soon.
I created vm in my azure subscription, just in case if it helps. I created
vm using standard images provided in azure dashboard

On Fri, Oct 12, 2018, 22:14 Prasad V Pillutla <prasad.pillu@gmail.com>
wrote:

[2018-10-12 16:45] SnehaGunda commented on #16732
@krasnovandr the repo was private so you couldn't access it. I changed it to Public. You should be able to access it now.

[2018-10-12 16:46] mike-urnun-msft commented on #16725
Hi @HemantChandurkar Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-10-12 16:46] Grace-MacJones-MSFT commented on #16706
Hi @cplemm, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-12 16:47] Alberto-Vega-MSFT commented on #16689
@scott1138 Can you share more about your specific scenario? Also I found a doc that might be useful, it describes how to send JSON data to Log Analytics using REST API calls, but it touches on how to format the data  [Log Analytics Data Collector API](https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-data-collector-api#record-type-and-properties) and Working with JSON and data Str

[2018-10-12 16:47] Mimetis commented on #15875
I finally gave up and found another solution;
Thx

[2018-10-12 16:47] #15875 closed

[2018-10-12 16:49] Adam-Smith-MSFT commented on #16514
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-12 16:49] #16514 closed

[2018-10-12 16:49] Adam-Smith-MSFT commented on #16585
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-12 16:49] #16585 closed

[2018-10-12 16:50] Adam-Smith-MSFT commented on #16589
@tplas Was the answer provided helpful for you ?

[2018-10-12 16:52] Alberto-Vega-MSFT commented on #16459
@RoopAnymous We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-12 16:56] Alberto-Vega-MSFT commented on #16671
Thanks for the detailed feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-12 16:58] MohitGargMSFT commented on #16567
@ri-we We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-10-12 16:58] #16567 closed

[2018-10-12 16:58] MGoedtel commented on #16340
@Karishma-Tiwari-MSFT @tFable - I've talked with the PM and needed to confirm something.  I've pinged him again and am waiting for a response.

[2018-10-12 16:58] MohitGargMSFT commented on #16596
@chendley80 Please let us know if you have any further query in this regard else we will move ahead to close this issue. Thanks.

[2018-10-12 17:00] MarileeTurscak-MSFT commented on #16722
@JimiSweden thanks for your response! I have assigned this issue to the content author, @CelesteDG , to look into.

[2018-10-12 17:01] MohitGargMSFT commented on #16642
@HeineLysemose Request you to please open[ Azure Support Ticket](https://aka.ms/azsupt) so that Identity Support Engineer could further check your issue and help resolve it.

[2018-10-12 17:04] #16454 closed

[2018-10-12 17:09] scott1138 commented on #16689
@Alberto-Vega-MSFT I am looking to create custom log sources through code.  Here is the portal version of what I am trying to do - [Custom Logs in Log Analytics](https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-data-sources-custom-logs?toc=/azure/azure-monitor/toc.json)

This document shows how to create a custom log source using this PowerShell command
`New-AzureRmOperationalIns

[2018-10-12 17:11] MarileeTurscak-MSFT commented on #16715
@xNiklasJern
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-12 17:12] MarileeTurscak-MSFT commented on #16727
@ThierryBT glad you were able to resolve this!

[2018-10-12 17:12] MicahMcKittrick-MSFT commented on #16481
@gs9824 any update on this?

[2018-10-12 17:13] MicahMcKittrick-MSFT commented on #16615
@shahanur I will close this for now. Please see my above comment and we ready we can reopen and continue.

[2018-10-12 17:13] #16615 closed

[2018-10-12 17:13] MicahMcKittrick-MSFT commented on #16672
@EhRom any update on this?

[2018-10-12 17:14] SaurabhSharma-MSFT commented on #16489
@asasine We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-12 17:14] #16489 closed

[2018-10-12 17:14] MarileeTurscak-MSFT commented on #16743
@intrepidsoldier
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-12 17:17] hpsin commented on #16678
Hi @Vasanth1981 - the client secrets created in the app registration portal never expire. You can see this in the manifest, to verify start and end dates yourself.

[2018-10-12 17:18] cynthn commented on #16677
@i255d The major PowerShell improvements that I know are happening are the move to parity between PowerShell and PowerShell Core, plus the addition of the simplified parameters for VM creation. I don't know that PowerShell will ever be a replacement for templates, but I do know that the focus is returning to templates as more customers start to use them. I think statistics were showing that folks

[2018-10-12 17:19] MicahMcKittrick-MSFT commented on #16724
@ccit-spence managed devOps projects will need to be done exclusivly though https://app.vsaex.visualstudio.com as mentioned in the FAQ

I will assign this to the author to review and see if we can get this doc updated to reflect those changes.

@mlearned can you take a look?

[2018-10-12 17:19] tplas commented on #16589
Actually, no.  By “definition”, I was asking about the specification of “IO operation” --  What is the max KB transferred in one IO operation.  Which I did locate in a different place, in a forum posting, as being 4 MB.  So blob transfers of more than 4 MB are considered as multiple IO operations.

I suggested to the Chat representative on the documentations page (and they agreed), that this info

[2018-10-12 17:20] Vasanth1981 commented on #16678
Yes. Got it. Thanks a lot.

[2018-10-12 17:20] #16678 closed

[2018-10-12 17:22] #16349 closed

[2018-10-12 17:26] ronbok opened #16745 "Example Resource Group?"
"Resource Groups	Subscription	Create a new resource group for use by other artifacts within the blueprint. These placeholder resource groups enable you to organize resources exactly the way you want them structured and provides a scope limiter for included policy and role assignment artifacts as well as Azure Resource Manager templates."

Would be nice to have an example of how to include a Resour

[2018-10-12 17:34] MicahMcKittrick-MSFT commented on #16473
@ivana61 Pradeep is one of our engineers. I reached out and confirmed with him on this.

So yes, the issues seems to be that this scenario is not currently possible/ supported :(

[2018-10-12 17:36] Molotch commented on #15891
Thanks, I’d suggest this information is made available in the Event Hub Capture GUI. Some sort of release management if the library is updated is probably a good idea too.

[2018-10-12 17:38] PramodValavala-MSFT commented on #16382
@abhinav-jain09 I believe the problem here seems to be that the generated `pom.xml` file doesn't have its property values evaluated as expected. They are something like this

[code]

This seems to be an issue with how eclipse is generating the project since the generation of the same using the following command works as expected
[code]
You should be able to use this command as a workaround to gene

[2018-10-12 17:39] cherylmc commented on #16545
Reviewing with the PM.

[2018-10-12 17:40] curtand commented on #16137
@MohitGargMSFT
Hi Mohit. It turns out this is an Intune-only attribute, and not Azure AD at all. Can you reassign? I'm not sure who specifically that is.

[2018-10-12 17:41] MicahMcKittrick-MSFT commented on #16516
Check out this: https://docs.microsoft.com/en-us/azure/aks/egress#create-a-service-with-the-static-ip

Essentially, you are creating a service and assigning it to the LoadBalancer type and setting the IP and the port you want to associate.

[2018-10-12 17:44] YutongTie-MSFT commented on #16731
@ArvidBaa Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-12 17:44] MicahMcKittrick-MSFT commented on #16645
@MichalBecko thanks for the extra details.

Seems there might be something regarding your specific account setup as I cannot seem to repro this issue.

Can you email me at AzCommunity@microsoft.com and provide me with your SubscriptionID and link to this issue? I can enable your subscription for a support request so we can get you in contact with a support engineer to work 1:1 with to get this sor

[2018-10-12 17:44] #16645 closed

[2018-10-12 17:44] YutongTie-MSFT commented on #16726
@ArvidBaa
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-12 17:53] nastassiar opened #16748 "DotNet Container Error"
I wanted to leave a comment for anyone else struggling with getting a dotnet core container running on Linux and see if there was an explanation or I'm just misunderstanding.

I kept getting errors saying that it couldn't find dotnet even though the container ran fine locally and on ACI. After reading the section Container settings for the task I decided to randomly try changing the dockerfile to

[2018-10-12 17:53] cherylmc commented on #16267
Thanks @matevarga - good catch! I'm making the update now.

[2018-10-12 17:54] cherylmc commented on #16267
#please-close

[2018-10-12 17:54] SaurabhSharma-MSFT commented on #16704
@mekkimuyeeb I have checked in my environment for SAML claims with accent marks and I am not facing any issue and able to get the claims correctly -
![image](https://user-images.githubusercontent.com/38112130/46885490-ffb85500-ce0c-11e8-91cb-e1931165a9be.png)
Can you provide me specific accent mark for which you are getting this issue ?

[2018-10-12 17:59] Chiramisu opened #16749 "Organizations Section Missing"
I do not have this section either in my menu or profile. I have an issue where my work email was added as a guest to another organization, but I do not want to accept their TOS and am therefore not joined to their organization, leaving me with no option to leave or block their organization from generating notifications in my Teams client or online.

I would request that the documentation be update

[2018-10-12 18:03] cephalin commented on #16706
@cplemm Thanks for reporting. The fix should be published in the next few hours. #please-close

[2018-10-12 18:05] #16706 closed

[2018-10-12 18:11] Chiramisu commented on #16749
I would request that the documentation be updated to explain why this section may be missing.

[2018-10-12 18:13] mentalinc opened #16750 "Ubuntu 18.04 LTS supported?"
This page says only Ubuntu 14.04 LTS and 16.04 LTS (x86/x64) are supported however on the OMS GitHub page (https://github.com/microsoft/oms-agent-for-linux) it says "Ubuntu Linux 14.04 LTS, 16.04 LTS and 18.04 LTS"

Please confirm which is correct as I have update agent issues...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-10-12 18:18] curtand commented on #15174
Hi @Markus-Hanisch
I added your suggested content. Thank you for your contribution and your patience.

#please-close
@MarileeTurscak-MSFT

[2018-10-12 18:39] femsulu commented on #16738
@jtuliani Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-12 18:39] MohitGargMSFT commented on #16663
@toanyonebutyou Thanks for the update. Yes, you are correct the group onwer will be able to do it.

[2018-10-12 18:43] femsulu commented on #16716
@frederimandin Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-12 18:45] femsulu commented on #16738
adding @Erikre - unable to resolve @tonguyen10

[2018-10-12 18:45] ashutoshsharma15 opened #16751 "Child Table error while querying using ODBC driver"
On Previewing Child document table I am getting below error in Design view.I am not getting any error for parent table .I am using collection mapping method.Child and parent on Cosmos db reside in same heterogeneous collection.I have tried using Table delimiter method but still got same error

Below is the trace:
An error occurred while previewing.
java.lang.Exception: [HY000]: [Microsoft][Support

[2018-10-12 18:58] Ovyone commented on #13155
I am getting the exact same error now too (in the original screenshot).

[2018-10-12 19:00] YutongTie-MSFT commented on #16726
@hning86 Hi Hai, can you please take a look of this suggestion about score file and also update the document as necessary? Thanks a lot!

[2018-10-12 19:03] SnehaGunda commented on #16732
#please-close

[2018-10-12 19:05] SaurabhSharma-MSFT commented on #16749
@Chiramisu Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-12 19:08] ellacroi commented on #16716
@frederimandin sometimes the table doesn't load properly at the top of the page, please try hitting refresh?

[2018-10-12 19:11] YutongTie-MSFT commented on #16666
@pragyan019 Sorry, for now, if you want to use a local image: 1. upload it and use the URL, 2.upload it in the body of the request as an octet stream. Thanks a lot!

[2018-10-12 19:13] spelluru commented on #16708
@dragmz - Thank you for reporting the issue. I will add the description today.

[2018-10-12 19:15] krasnovandr commented on #16732
Works for me. Thanks for the quick fix!

[2018-10-12 19:15] #16732 closed

[2018-10-12 19:16] BryanLa commented on #12457
Hi @nickwalkmsft - thanks very much for this feedback, and apologies for the delay in getting back to you.

I would tend to agree with you, that the "octet" term doesn't add a lot of value, and as you said, might even be confusing to some folks. As such, I'm going to propose the following changes:

- in the [intro paragraph of About keys, secrets, and certificates](https://docs.microsoft.com/azure

[2018-10-12 19:18] YutongTie-MSFT commented on #16731
@raymondlaghaeian Hi, can you please take a look and update the document for more details as necessary? Thanks a lot!

[2018-10-12 19:22] josere opened #16753 "Encrypting from C#"
Looks like the encryption can be done in code using https://docs.microsoft.com/en-us/dotnet/api/system.fabric.security.encryptionutility.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15436b0f-9b50-269f-7cab-36740b1f862c
* Version Independent ID: 050deec3-d788-1d80-b826-f8ad644ed112
* Content: [Manage Azure Service Fa

[2018-10-12 19:25] jeffmalin opened #16754 "Trouble following this tutorial"
Hi Microsoft team - the tutorial is very confusing to follow - it seems to show that you have to download the metadata file from an established Salesforce SSO config to create the Azure connection, but then it requires the metadata from Azure to establish the SSO config in Salesforce… so it’s a chicken-and-egg (circular reference) - there is no way to get started.  Also it appears that the screens

[2018-10-12 19:34] Adam-Smith-MSFT commented on #16717
@skgitti per the support matrix: [here](https://docs.microsoft.com/en-us/azure/backup/backup-mabs-protection-matrix), ESXI is supported on the following versions: 5.5/6.0/6.5, but 6.7 is in progress, no ETA when it will be supported. Let me know if this helps.

Thanks,
Adam

[2018-10-12 19:37] MGoedtel commented on #16452
@dcbrown16 @Alberto-Vega-MSFT - I will create a work item based your feedback as we are actively planning the re-write of a lot of content in this documentation set that is related to your point.  Thanks!  #please-close

[2018-10-12 19:38] v-kydela opened #16755 "Tag dropdown in portal"
When you assign a tag in the portal, the dropdown is populated with tags that supposedly already exist. What determines the tags that appear in this dropdown? I've added the tag "DoNotDelete" many times but it's still not in the dropdown. How do I put it there?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc003943-8b

[2018-10-12 19:40] frederimandin commented on #16716
I have tried refreshing, and tried 4 different browsers :)
Maybe I misunderstand what the page is supposed to look like.
Here is what I get :
![capture](https://user-images.githubusercontent.com/15192504/46890480-50f53280-ce67-11e8-8267-a20c7f01103c.png)

[2018-10-12 19:44] kobulloc-MSFT commented on #16607
@MisinformedDNA Thank you again for pointing this out.  The link has been fixed so we are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2018-10-12 19:44] #16607 closed

[2018-10-12 19:44] Alberto-Vega-MSFT commented on #16689
@scott1138 Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2018-10-12 20:04] MarileeTurscak-MSFT commented on #16579
These specific properties cannot be returned programmatically.

However, you can use `Get-AzureADUser -All $True ` to [return all user objects](https://github.com/Azure/azure-docs-powershell-azuread/issues/64).

Then you can do something like: Get-AzureADUser -all $true | where-object -property DirSyncEnabled -eq "True"

This will give you all of the synced users. You can user -ne if you want clou

[2018-10-12 20:05] mrbullwinkle commented on #16206
We do that in this doc [here](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-platforms?toc=/azure/azure-monitor/toc.json). But I agree the discoverability is not great and the doc itself could use some improvement. I will update the doc and see if we can find a more prominent location for it to live in the table of contents/make sure it is linked to from enough other docs

[2018-10-12 20:05] saulcp95 opened #16756 "Add V2 Storage Accounts to the unsupported limitations"
As of now Storage Accounts V2 are not supported by Azure File Share Backup, please go ahead and add them to unsupported scenarios on the limitations section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc12f304-5826-fb32-1728-5e43f1b05d8a
* Version Independent ID: 7cc3d5a7-9b0e-dd6b-3b34-2036219f5bd6
* Content: [Sup

[2018-10-12 20:05] MarileeTurscak-MSFT commented on #16579
Based on the Powershell output this seems to be as far as it is possible to go. @msmimart can you confirm?

[2018-10-12 20:06] MarileeTurscak-MSFT commented on #16579
Closing this out as this appears to be the best available solution. Feel free to leave a comment if you would like to continue the discussion.

[2018-10-12 20:06] #16579 closed

[2018-10-12 20:09] saulcp95 commented on #16756
I put in the wrong threat it was meant to be added in https://docs.microsoft.com/en-us/azure/backup/troubleshoot-azure-files#limitations-for-azure-file-share-backup-during-preview

[2018-10-12 20:11] MarileeTurscak-MSFT commented on #16493
@amel00 there are no passwords or certificates stored on the device. Based on all existing documentation the registration token is the only thing that is passed to the device.

[2018-10-12 20:11] #16493 closed

[2018-10-12 20:14] saulcp95 opened #16758 "Add V2 Storage accounts on the unsupported components in the limitations section"
Hi team,
You may edit this section:
https://docs.microsoft.com/en-us/azure/backup/troubleshoot-azure-files#limitations-for-azure-file-share-backup-during-preview

Adding Storage Accounts V2 as an unsupported component, because as of now is not possible to use Azure File Share Backup product if customer has Storage Accounts V2.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-10-12 20:19] curtand commented on #16658
Hi @torfulle
I fixed your issue as requested in this PR:
https://github.com/MicrosoftDocs/azure-docs-pr/pull/55042

#please-close @TravisCragg-MSFT

[2018-10-12 20:24] rbrundritt opened #16759 "FAQ appears to be outdated"
This solution accelerator was migrated from Bing to Azure Maps, this FAQ still talks about Bing Maps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82161f24-b35f-e054-606e-cd7829a5435d
* Version Independent ID: 7c4570a5-fe6e-2f9e-b791-08d41a423dd5
* Content: [Connected Factory solution FAQ - Azure](https://docs.micros

[2018-10-12 20:33] Karishma-Tiwari-MSFT commented on #12971
@jpconnock Any chance you heard back from the product team on this one?

[2018-10-12 20:51] ghogen commented on #16419
Yes, we're updating to reflect this. Should be updated shortly. #please-close

[2018-10-12 20:53] YutongTie-MSFT commented on #15978
@shivp950 Any update?

[2018-10-12 20:54] MohitGargMSFT opened #16761 "Nesting an Office 365 Group in an Azure AD Group"
As per discussion in below MSDN thread it seems this is currently not supported. Please clarify.

https://social.msdn.microsoft.com/Forums/en-US/a6ff37c5-1a7c-4788-9b44-430f70cdd11d/nesting-an-office-365-group-in-an-azure-ad-group?forum=WindowsAzureAD

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe42976d-da2c-c20a-25

[2018-10-12 20:55] #16419 closed

[2018-10-12 20:57] MohitGargMSFT commented on #16761
@eross-msft There is discussion on below MSDN thread which states that nesting of groups is not supported. Customer points to this document. Please help clarify if this document is stating a valid scenerio.

https://social.msdn.microsoft.com/Forums/en-US/a6ff37c5-1a7c-4788-9b44-430f70cdd11d/nesting-an-office-365-group-in-an-azure-ad-group?forum=WindowsAzureAD

[2018-10-12 21:00] MicahMcKittrick-MSFT commented on #16753
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-12 21:01] MicahMcKittrick-MSFT commented on #16748
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-12 21:02] MicahMcKittrick-MSFT commented on #16745
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-10-12 21:03] #12457 closed

[2018-10-12 21:03] #15174 closed

[2018-10-12 21:03] #15205 closed

[2018-10-12 21:03] #15618 closed

[2018-10-12 21:03] #16267 closed

[2018-10-12 21:03] #16452 closed

[2018-10-12 21:03] mike-urnun-msft commented on #16368
Hi @vladkosarev NodeJS/Javascript approach may vary depending on specific scenarios. Please open a thread on either [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureFunctions) or [Stackoverflow](https://stackoverflow.com/questions/tagged/azure-functions) detailing your unique scenario so that the community as well as Azure engineers can recommend optimal approach unique to you

[2018-10-12 21:03] #16368 closed

[2018-10-12 21:04] #16658 closed

[2018-10-12 21:04] #16722 closed

[2018-10-12 21:07] andretms commented on #15339
@codecrasher99 - to clarify - you don't need to add a redirect URL in your code as long as in your application registration information, you have the URL `urn:ietf:wg:oauth:2.0:oob` -- therefore, you can follow the instructions that @CelesteDG has pointed out, or - if you registered your application in apps.dev.microsoft.com, make sure that you have a `urn:ietf:wg:oauth:2.0:oob` added to your appl

[2018-10-12 21:08] mike-urnun-msft commented on #16382
Hi @abhinav-jain09 Please review the suggestion above and see if that resolves the issue that you're facing. Since we didn't find any faulty step in this documentation, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-12 21:08] #16382 closed

[2018-10-12 21:09] TravisCragg-MSFT commented on #16703
@bingosummer I do not believe that "all public azure regions" includes Azure China Cloud in most cases, but accellerated networking is available. you can find a [list of services offered in Azure China Here](https://www.azure.cn/en-us/home/features/products-by-region).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We w

[2018-10-12 21:09] #16703 closed

[2018-10-12 21:12] mfaulkinbury opened #16762 "Typo in DeleteConnectors.ps1 execution example"
The line:
    .\OM2012_DeleteConnectors.ps1 “Microsoft.SytemCenter.Advisor.DataConnector” &lt;ManagementServerName&gt;
should read
    .\OM2012_DeleteConnectors.ps1 “Microsoft.SystemCenter.Advisor.DataConnector” &lt;ManagementServerName&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4096fac2-6f38-0e29-45a7-5eedc9ab

[2018-10-12 21:14] SaurabhSharma-MSFT commented on #16715
@xNiklasJern yes but you need to enable the Azure AD Identity protection to use it.  Also, I am able to see sign-in risk conditions available in my existing policies. I also have checked by creating a new policy with sign-in risk conditions and I could see that available in conditional policy itself.
![image](https://user-images.githubusercontent.com/38112130/46894381-1d93b300-ce29-11e8-883c-1e81f

[2018-10-12 21:15] jeevansd commented on #16754
@jeffmalin Thanks for providing your feedback here. I will suggest that you should use the new Single sign-on experience in Azure AD. When you go to the Enterprise application -> Single sign on page then you see this option at the top, to try the new experience.

This new experience does provide the option to download the Federation Metadata file. Then you can upload this file in Salesforce and th

[2018-10-12 21:15] jeevansd commented on #16754
@jeffmalin  Also step 17 is part of the new experience and soon it will be the default experience for single sign-on page.

[2018-10-12 21:19] gpduck opened #16763 "AAD Connect hardware requirements clarification"
In the Installation Prerequisites document for AAD Connect, the hardware requirements table says "Number of objects in Active Directory".  Does it truly mean the total number of objects in the directory, or is it based on the number of objects that will be syncing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06faa42

[2018-10-12 21:19] TravisCragg-MSFT commented on #16658
@torfulle We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-12 21:20] TravisCragg-MSFT commented on #16631
@dcbrown16 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-12 21:27] hpatel01 commented on #16684
Does SQL managed instance support Active Directory integrated authentication? Believe Azure SQL database supports Active Directory integrated authentication for federated domains.

[2018-10-12 21:30] ghogen commented on #15244
Added a note as suggested. Thanks!

#please-close

[2018-10-12 21:31] SaurabhSharma-MSFT commented on #16749
@Chiramisu If I understood it correctly then you have not joined any organization yet and that is why you may not be seeing the organizations section on the page. You need to ask the organization admin to remove yourself the invited guest users list.

[2018-10-12 21:33] tapialuism commented on #16349
Thanks Karishma.

[2018-10-12 21:33] #7198 closed

[2018-10-12 21:34] SaurabhSharma-MSFT commented on #16763
@gpduck Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-12 21:35] MicahMcKittrick-MSFT commented on #16748
@nastassiar I have assigned this to the content author to review and see if we can add anything to this doc to make it more clear.

[2018-10-12 21:37] MicahMcKittrick-MSFT commented on #16753
@josere thanks for this. I will assign to the author to review and see if this is something we want to include in this doc.

CC @aljo-microsoft

[2018-10-12 21:38] MGoedtel commented on #16218
#please-close as I believe I have appropriately answered the question and have not heard back from @akramwaseem indicating otherwise.

[2018-10-12 21:39] jeevansd commented on #16754
#please-close

[2018-10-12 21:40] ghogen commented on #14663
Other people have reported seeing permissions issues.  You might find some troubleshooting ideas here:

https://stackoverflow.com/questions/51527932/configuration-error-azure-key-vault-as-a-visual-studio-connected-service-configu

[2018-10-12 21:43] TravisCragg-MSFT commented on #16739
@mrdfuse App Gateways do not have the restriction of being deployed into gateway subnet, and you can put NSGs on the App Gateway Subnets.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-12 21:43] #16739 closed

[2018-10-12 21:50] TravisCragg-MSFT commented on #16733
@SamirFarhat this limitation is also still listed in [the Requirements and Constraints of VNET Peering](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-manage-peering#requirements-and-constraints). Is this something that was announced recently?

[2018-10-12 21:51] TravisCragg-MSFT commented on #16720
@jaikritnegi Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-12 21:52] #15244 closed

[2018-10-12 21:54] mrbullwinkle commented on #16276
@fusionet24 I believe what you are probably looking for is located under **Usage and estimated costs** >**Daily Cap** ![data cap](https://raw.githubusercontent.com/mrbullwinkle/GitHub_Issues/master/16276/16276.png)

[2018-10-12 21:56] scott1138 commented on #16689
I opened ticket 118101221002524 with support.  It does seem more like a documentation thing and if it isn't documented internally I don't know if support will be able to help me.

@richrundmsft if you are able to help me I would be super grateful!

[2018-10-12 22:02] Adam-Smith-MSFT commented on #16758
@saulcp95 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-12 22:03] Adam-Smith-MSFT commented on #16756
@saulcp95 Thanks for the feedback, I assigned the other thread to the author.

[2018-10-12 22:03] #16756 closed

[2018-10-12 22:06] #15740 closed

[2018-10-12 22:10] femsulu commented on #16750
@mentalinc Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-12 22:12] femsulu commented on #16755
@v-kydela Thanks for the Comment. We are actively investigating and will get back to you soon.

[2018-10-12 22:28] fusionet24 commented on #16276
@kobulloc-MSFT Yes, Subject was "Data Collection for <Application Insights Instance> has hit its daily cap.

At the bottom of the email the following appears:
![image](https://user-images.githubusercontent.com/315909/46896713-7f2e3e80-ce76-11e8-9bbe-2e72dba7276a.png)

[2018-10-12 22:29] fusionet24 commented on #16276
Thanks that's great. Are there any plans to change this granularity in the roadmap?

[2018-10-12 22:31] YutongTie-MSFT commented on #16623
@dbczumar Please check the update.

@hning86 Thanks Hai.

[2018-10-12 22:32] sergaz-msft commented on #16710
Thank you! If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-12 22:32] #16015 closed

[2018-10-12 22:35] rowong opened #16768 "POST purge link is broken"
The link https://docs.microsoft.com/en-us/rest/api/application-insights/components/purge in the following content:
POST purge - takes an object specifying parameters of data to delete and returns a reference GUID
goes to a 404 page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6dd1160d-4337-13eb-bffd-24743ea225ef
* V

[2018-10-12 22:42] mrbullwinkle commented on #16276
@fusionet24 Thanks for confirming, I am updating the doc now. As far as granularity can you expand on what you are looking for? (Ability to specify an adjustable list of recipients rather than just emailing the admins or something else?)

[2018-10-12 22:44] YutongTie-MSFT commented on #16646
@heatherbshapiro Hi, 1. According to the document, I can not reproduce the same result. 2. I think we need to comment about we should import the zip file as a data set, rather than using the import data feature. It's confused for customers.

[2018-10-12 22:46] YutongTie-MSFT commented on #16557
@gopitk Hi, can you please clarify the details in the document? Thanks a lot!

[2018-10-12 22:46] fusionet24 commented on #16276
@mrbullwinkle  Yes, similar ability to the general azure alerts. Either Specific People or AD group.

[2018-10-12 22:47] aashishb commented on #14431
Done with the change. Should show up soon on the page -> https://docs.microsoft.com/en-us/azure/machine-learning/desktop-workbench/model-management-cli-reference

[2018-10-12 22:49] YutongTie-MSFT commented on #14431
@aashishb Thanks a lot!!

@ArvidBaa We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-12 22:49] #14431 closed

[2018-10-12 22:56] curtand commented on #15590
Hi @grayjeremy
I'm a writer for the Azure team. I'm not understanding where the dropdown occurs in the UI. What's the setting being selected?

@TravisCragg-MSFT
I'm helping out for Jim Dial temporarily.

[2018-10-12 22:57] mrbullwinkle commented on #16276
@fusionet24 perfect, thank you. I've pinged the PM/engineering lead for that aspect of the portal. I will let you as soon as I have an answer.

[2018-10-12 22:59] JimInWA opened #16769 "Page is missing some of the new templates"
If you go to https://github.com/Azure/azure-quickstart-templates and look at the files that are prefaced with 101-webapp or 201-webapp, you will see that there are several new templates that haven't been included.

For example:
- https://github.com/Azure/azure-quickstart-templates/tree/master/101-webapp-basic-linux
- https://github.com/Azure/azure-quickstart-templates/tree/master/101-webapp-basic-

[2018-10-12 23:06] TravisCragg-MSFT commented on #15590
@curtand when enabling Service Endpoints, you select the Service that you are going to add. There is a drop down where you select a list of existing Azure Services.

![image](https://user-images.githubusercontent.com/38542241/46897642-aebe5600-ce38-11e8-8e91-9f23298188b7.png)

[2018-10-12 23:13] MarileeTurscak-MSFT commented on #16707
Hi @venkateshwj please either open this issue on a specific document or open the issue in the Azure Active Directory forum on MSDN. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

Currently there is no sample or document specifically for this. This document is the closest tutorial available. https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-

[2018-10-12 23:17] MarileeTurscak-MSFT commented on #16566
Hi @mada360 ,
I hate to direct you elsewhere but for these types of troubleshooting issues it is better to post in the Azure Active Directory forum. Can you please post this same thread and document link here and we can better assist? https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2018-10-12 23:17] MarileeTurscak-MSFT commented on #16566
Closing this out for now but I'll be happy to keep track of this issue in the comments and ensure that your question gets resolved.

[2018-10-12 23:17] #16566 closed

[2018-10-12 23:23] MarileeTurscak-MSFT commented on #16707
Closing this issue as it needs more information and is better suited to MSDN, but I'm happy to continue the discussion here and keep the thread updated.

[2018-10-12 23:23] #16707 closed

[2018-10-12 23:29] mrbullwinkle commented on #16276
@fusion24, engineering just responded back. They are aware of the ask and it is currently on their backlog. Thanks for bringing it up, knowing that more customers want this will help the team prioritize. There is also currently a feedback item open [on this topic](https://feedback.azure.com/forums/357324-application-insights/suggestions/20500102-daily-data-cap-alerts). I just added a vote, but ple

[2018-10-12 23:30] TravisCragg-MSFT commented on #15504
@hajjat could you elaborate on your first question a bit more?

routes are shared via BGP. You can configure custom routes on your VNET and on-premise environments.

[2018-10-12 23:34] TravisCragg-MSFT commented on #16469
@mcurko  This is not a limitation of that endpoint type. If you are still having an issue adding the 2 endpoints, please create a support request. If you do not have a support plan, please Email me at AzCommunity@Microsoft.com and I will enable a one-time free support request for this issue.

[2018-10-12 23:48] dlepow commented on #16071
@devchop - Update: We plan to publish a document in the near future showing how to configure [TurboVNC](https://www.turbovnc.org/) and OpenGL on NV-series VMs. I'll update this issue when that publishes.  One thing to try in the meantime - if you’re connecting with VNC via the public IP of the virtual machine, traffic will need to be allowed via a Network Security Group (NSG) or the connection wil

[2018-10-13 00:12] BryanTrach-MSFT commented on #16769
@JimInWA Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-10-13 00:30] MicahMcKittrick-MSFT commented on #16735
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-13 00:31] MicahMcKittrick-MSFT commented on #16759
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-13 00:32] #16218 closed

[2018-10-13 00:32] #16754 closed

[2018-10-13 00:50] alvipeo opened #16770 "InvalidDataException: Input asset does not have primary file"
I changed the code slightly, I use DataMovement library to copy an asset (mp4) file within azure blob storage.

Here's the snippet of CreateInputAssetAsync method:
…
            Asset asset =
                await client.Assets.CreateOrUpdateAsync(resourceGroupName, mediaServicesAccName, assetName,
                    new Asset());   // name: assetName

            AssetContainerSas response = awa

[2018-10-13 00:53] YutongTie-MSFT commented on #16666
@pragyan019 We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-13 00:53] #16666 closed

[2018-10-13 01:30] BryanTrach-MSFT commented on #16616
@shahanur Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2018-10-13 01:31] #16616 closed

[2018-10-13 01:31] #13268 closed

[2018-10-13 01:34] BryanTrach-MSFT commented on #16467
@tsouker Can you please reach out to us at azcommunity@microsoft.com with your Azure subscription ID and the URL of this post? We would like to work closer with you on this matter.

Since we will be working with you offline, we will proceed to close this channel and work with you offline.

[2018-10-13 01:34] #16467 closed

[2018-10-13 01:42] BryanTrach-MSFT commented on #16502
@infovore We invite you to share the feedback about adding Media OCR API as an option to the Azure Portal at [Azure User Voice](https://feedback.azure.com/forums/169396-azure-media-services
). The product group reviews this site for product suggestions.

In regards to updating the doc to include examples for REST API or CLI, we are going to assign the feedback to the doc author to have them determ

[2018-10-13 02:15] BryanTrach-MSFT commented on #16670
@github33 I verified that I receive the same errors about missing directives or assembly references. As a result, we have assigned the feedback to the doc author to have them investigate if the sample requires an update.

[2018-10-13 02:28] brilang commented on #14535
Thanks @parilla. I googled that command, set_az_iothub, and found a document that got me to a working Serial monitor in Mac OS Terminal. Now I'm seeing the expected output. Maybe I'm missing something in my VSCode setup that was preventing the Output pane in there to show the Serial Monitor correctly. https://microsoft.github.io/azure-iot-developer-kit/docs/use-configuration-mode/

[2018-10-13 02:40] brilang opened #16772 "Add instructions for Mac Users"
I was unable to get VSCode to show the Serial Monitor as listed in these instructions. I had to use another set to open my Mac OS Terminal and set it up as the Serial Monitor before I was able to get the desired results. Alternate instructions that worked for me are here: https://microsoft.github.io/azure-iot-developer-kit/docs/use-configuration-mode/

---
#### Document Details

⚠ *Do not edit thi

[2018-10-13 02:46] CharlesZHENG commented on #14316
I am experiencing the same problem ,I uninstall the sf sdk and runtime,reinstall sf sdk and runtime, then the porblem happened. Please help. Here are my logs:
DownloadManager Information: 0 : Loading product xml from: https://aka.ms/webpifeed51
DownloadManager Information: 0 : https://aka.ms/webpifeed51 responded with 301
DownloadManager Information: 0 : Response headers:
HTTP/1.1 301 Moved Perman

[2018-10-13 03:56] chrispadgettlivecom opened #16773 "b2clogin.com and CORS"
It'd be good to mention that, when changing from `login.microsoftonline.com` to `your-tenant-name.b2clogin.com`, any CORS configuration that has been created for [the page UI customization feature](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-ui-customization#the-page-ui-customization-feature) must also be updated from `login.microsoftonline.com` to `y

[2018-10-13 04:47] bretthackermsft commented on #5729
Ideally, the sample should articulate a protocol-less URI like "//www.atmrum.net/rum.js". In fact, that file itself calls the client source the same way.

[2018-10-13 05:17] bizinbarefeet opened #16774 "Nuget won't install for .net framework 4"
Doesn't seem to be a practical solution to .net websites only a few year old

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73d91616-a93f-84af-7900-5aa34b361ffd
* Version Independent ID: f202a678-4853-d024-55c5-19f89558415c
* Content: [How to use the SendGrid email service (.NET)](https://docs.microsoft.com/en-us/azure

[2018-10-13 07:33] devchop commented on #16071
Thanks for the update.We will wait for the document.

[2018-10-13 08:31] gatneil commented on #16638
@carlfm01 yes, you should be able to deploy that VM image to a low-pri scale set.

The error message about "plan" means that you need to:
1) Accept the pricing for that VM image in the portal
2) provide the "plan" object in your ARM template (or other deployment method)

It's a tad involved, so I wrote up a blog post on how to do this: [https://negatblog.wordpress.com/2018/10/13/azure-os-images-wh

[2018-10-13 09:24] ddentrec opened #16775 "'I/O' and 'read' errors; BME280 sensor is not waterproof"
Be aware that the BME280 sensor is not waterproof. If the unit gets wet or damp it will stop working and you may see random 'I/O' and 'read' errors when running the app.

My suggestion is to enclose the unit in a waterproof but breathable housing if you intend to measure outside temperature and humidity.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-10-13 09:31] ddentrec commented on #16775
You will also see 'I/O' and 'read' errors if:

1. The connection wiring between the Pi and the BME280 sensor is too long: I used 1M (3 feet) cable and this caused issues. A shorter cable worked OK.

2. The electrical connections between the Pi and the sensor are loose or of poor quality. Ensure that the connections are tight and cannot be bent or flexed.

Hope this helps.

[2018-10-13 11:45] SamirFarhat commented on #16733
Hi,
Announced at Ignite.
https://azure.microsoft.com/en-us/updates/cross-aad-vnet-peering/

Samir

[2018-10-13 12:17] gs9824 commented on #16481
@MicahMcKittrick-MSFT , sorry not yet. I have first been trying to get the file share working by trying to execute some chmod commands during container creation. So far without luck.

[2018-10-13 12:50] xNiklasJern commented on #16715
@SaurabhSharma-MSFT Thanks for for you answer.
To see if I understands you correctly, the sign-in risk condition, shouldn't be visible as a condition. If you haven't a P2 license assigned to it and the AAD identity proection is enabled/onboarded?

Do you know if policies that has been designed to have a security risk, were the conditions has disappeared. Will it re-appear if assigning P2 licenses

[2018-10-13 13:57] rhpoon opened #16781 "Potential Error / mistmatch in Codes:"
Hi I run this on an Interactive Hive cluster, but suppose should behave the same:

1. When I first run, all i can see is a /example/data   where data is NOT folder, but a blob file instead so nothing can happen
2. I created another /data folder, and upload my own csv, it works

It maybe that version of Interative Hive has no preloaded csv.... log...in example/data or
I dont understand still why th

[2018-10-13 13:57] aalev commented on #7882
To fully clarify the examples, it would be interesting add an 'hour 5' where the sum of matching VM consumption is less than the reservation level, and explain that the reservation capacity for this hour is partially or totally lost.

[2018-10-13 14:47] bingosummer commented on #16703
Thanks @TravisCragg-MSFT .
It's better to document that `accelerated networking is available in Azure China Cloud` in this doc.
And, I can't anything about accelerated networking in https://www.azure.cn/en-us/home/features/products-by-region

[2018-10-13 15:32] arindam-laha opened #16783 "Pattern 2 requires update"
Pattern 2 mentioned in this document requires update.
Public peering has been disabled on new ExpressRoute circuits. Azure services are mostly available on Microsoft peering.
https://docs.microsoft.com/en-us/azure/expressroute/expressroute-faqs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a760d39c-1eae-e617-3aa8-df57

[2018-10-13 15:34] pragnagopa opened #16784 "[AzureFunctions]Clean up Azure Functions Java documentation"
- Remove https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-java#function-method-overloading

[2018-10-13 15:35] pragnagopa commented on #16784
@asavaritayal - Can you please add link where NotificationHub Output binding documentation needs to be deleted?

[2018-10-13 15:53] MicahMcKittrick-MSFT commented on #16751
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-13 15:54] MicahMcKittrick-MSFT commented on #16770
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-13 15:54] MicahMcKittrick-MSFT commented on #16781
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-13 15:55] MicahMcKittrick-MSFT commented on #16775
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-13 15:56] MicahMcKittrick-MSFT commented on #16774
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-13 15:56] MicahMcKittrick-MSFT commented on #16773
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-13 16:34] Yaming-Liu1978 opened #16786 "Azure Cosmos DB Emulator cannot be installed on AD domain controller machine"
The Azure Cosmos DB Enumerator is working well when running on regular computers, but when I tried to install in on one domain controller machine, I got following error:

Application: DocumentDB.StartupEntryPoint.exe
Framework Version: v4.0.30319
Description: The process was terminated due to an unhandled exception.
Exception Info: System.Security.Principal.IdentityNotMappedException
at System.Sec

[2018-10-13 16:51] SaurabhSharma-MSFT commented on #16479
@MarkDixonTech Yes, it seems while we escalate this issue internally to the product team on visual studio template issue meanwhile I am assigning this issue to author to add a note in the documentation about the same.

[2018-10-13 17:09] ddentrec opened #16787 "Incorrect Pi data being displayed in Power BI"
I did some detailed testing with my working Raspberry Pi and BME280 sensor.

My config.json file is configured for an interval of 5 minutes (300000 ms). The "SimulatedData" attribute is false i.e. is using 'live' Pi data.

Sample app is run at the start of each hour e.g. Pi data is 'pushed' at 5 min intervals of 13.05, 13.10, 13.15, etc

Raspberry Pi time is correctly set and matches Microsoft BI.

[2018-10-13 17:38] MicahMcKittrick-MSFT commented on #16784
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-13 17:38] MicahMcKittrick-MSFT commented on #16786
@Yaming-Liu1978 please provide us with the link to the documentation you are referring to so we can better assist

[2018-10-13 17:39] MicahMcKittrick-MSFT commented on #16783
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-13 18:41] Zimmergren commented on #12578
👍 on this. Getting this option in the Azure CLI would be extremely beneficial.

[2018-10-13 18:56] raphaelkoeppel opened #16790 "POST /refreshes Location header missing"
Hi , thanks for this API

The response from POST /refreshes does not contain a Location header. (witch is neccesary to get the status of the refresh)
Only the response from POST /sync contains it.

(Model COMPATIBILITY = 1400)

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f706b7d-0a82-4535-f7ec-3851bd204bf

[2018-10-13 18:59] MicahMcKittrick-MSFT commented on #16787
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-13 19:46] charlesb87 opened #16791 "Unable to peer two VNET in different subscription and different Azure AD tenant"
Hi,

Despite what is written in the documentation, I was unable to peer two vnets of two differents subscription with two different Azure AD Tenant:

The client has permission to perform action 'Microsoft.Network/virtualNetworks/peer/action' on scope '/subscriptions/XXXXXXX/resourceGroups/myResourceGroupA/providers/Microsoft.Network/virtualNetworks/myVnetA/virtualNetworkPeerings/myVnetAToMyVnetB',

[2018-10-13 20:00] zezarzz opened #16792 "Thailand"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-10-13 20:00] dkchittimilla commented on #16644
Thanks for your reply's. But I mainly want to pre-populate the field using code (I should pass a value while calling the Sign Up policy and this value should be pre-populated). Is there any way we can do that. Lets say some default value I want to populate in my email text box by the time Sign Up page loaded.

[2018-10-13 20:49] Juliako commented on #16502
@infovore, if you need OCR support from the command line please use Media Services v3 (https://docs.microsoft.com/en-us/azure/media-services/latest/) with VideoAnalyzer.

thank you,
Julia

[2018-10-13 20:49] Juliako commented on #16502
#please-close

[2018-10-13 21:00] alvipeo opened #16793 "Describe how to encode UHD (or 4K) 60p for adaptive streaming"
I tried to encode UHD 60p video with BuiltInStandardEncoderPreset and it generated videos up to Full HD. But I need them up to UHD. How can I do this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbb1b380-b6ad-7aa6-fe8b-35b43cbec4da
* Version Independent ID: de24cc7a-f877-f593-91e7-63954fad392a
* Content: [Use the St

[2018-10-13 23:00] BorisB2015 commented on #16638
(via email)

@Ankit Sud<mailto:Ankit.Sud@microsoft.com> - you have debugged this error message for me before (see comments in the GitHub thread - missing plan parameter when provisioned via portal):

[cid:6f431c42-59c2-4999-a36d-8e9c0d5a5629]

This refers to the following image being deployed via portal:

"image": { "type": "Object", "value": { "sku": "linuxdsvm", "publisher": "microsoft-ads", "ve

[2018-10-14 00:00] carlfm01 commented on #16638
Thanks @gatneil, I enabled both images in the portal but still getting the same error.  I tried using the portal but failed, then edited the deploy to add the plan and imagereference still failing.
For nvidia image I usde, still the same error.

`"imageReference": {
                        "publisher": "nvidia",
                        "offer": "ngc_azure_17_11",
                        "sku": "nv

[2018-10-14 00:23] VladimirAlexiev opened #16794 "Is westus.api down?"
https://westus.api.cognitive.microsoft.com/academic/v1.0/interpret?query=papers%20by%20jaime&complete=1&count=2 gives error 404

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 542b3244-7bcb-6213-20fa-75c2d72fbc26
* Version Independent ID: 67b7d380-34f4-186c-13f4-1372e77ef499
* Content: [Interpret method - Academic Knowl

[2018-10-14 00:26] prara06 opened #16795 "file missing in the gallery"
Enable-AzureRMDiagnostics.ps1 is not found in the gallery

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b8c554e-507d-9642-e363-4e8e329385f9
* Version Independent ID: 087215f5-0406-6da7-76f3-d2841e2dec6b
* Content: [Collect Azure PaaS resource metrics with Log Analytics](https://docs.microsoft.com/en-us/azure/log-anal

[2018-10-14 02:52] MicahMcKittrick-MSFT commented on #16792
@zezarzz thanks for reaching out. If you have a question please open a new issue and include all details so we can take a look.

[2018-10-14 02:52] #16792 closed

[2018-10-14 02:53] MicahMcKittrick-MSFT commented on #16794
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-14 02:53] MicahMcKittrick-MSFT commented on #16790
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-14 02:54] MicahMcKittrick-MSFT commented on #16795
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-14 02:54] MicahMcKittrick-MSFT commented on #16791
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-14 02:54] MicahMcKittrick-MSFT commented on #16793
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-14 02:55] #16502 closed

[2018-10-14 03:13] zzulueta opened #16796 "Some feedbacks"
I went thru the documentation and was able to make the functionality work. However I have some feedback that may be helpful:
1. maybe you can explain more how to get : {url_scheme_of_your_app}.  I was able to get it only thru stackoverflow.
2. the step Add com.android.support:customtabs:23.0.1 to the dependencies in your build.gradle: didnt work because the version is old. maybe you can send reade

[2018-10-14 04:49] vincez commented on #6788
Hey David, this seems to be a regression in the emulator. I've been using it since its first release on a domain-joined virtual machine. This only broke when I upgraded to 2.0.0. Can you look into what caused the regression?

[2018-10-14 05:51] lukeb1961 opened #16798 "SQL Server Data Tools (SSDT)"
this should state what SSDT is, before using the acronym.
could even have a link!
https://docs.microsoft.com/en-us/sql/ssdt/download-sql-server-data-tools-ssdt?view=sql-server-2017

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f0e1195-b6a2-d789-a950-4454798f265e
* Version Independent ID: d8ea7415-3b97-5985-44e7-1b89b

[2018-10-14 05:54] lukeb1961 opened #16799 "ARM or ASM or.. what?"
This page leaves me confused.
I use New-AzureRmAnalysisServicesServer to create the server, but
Add-AzureAnalysisServicesAccount to add users?  Isn't one ARM and the other ASM?

Where the heck is a proper example of creating and configuring this thing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b49823a9-5194-20fa-6

[2018-10-14 08:15] avik-so opened #16800 "Receive Configuration Error when combining the Secrets and deployment into one file."
I had to apply the Secrets and Deployment files separately to fix the error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 301b44e3-4be7-6364-01b4-c2a55ff9b14a
* Version Independent ID: 62569967-65c6-ece6-2d1e-689a73dd59ca
* Content: [Kubernetes on Azure - Cluster Autoscaler](https://docs.microsoft.com/en-us/azure/aks

[2018-10-14 10:01] jfcomst opened #16802 "Include details about using DateTimeOffset"
This document should cover using DateTimeOffset in addition to regular DateTimes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c256dbf4-122d-1569-c4c3-0e401766c712
* Version Independent ID: 747c3f05-167d-2048-6f1b-fa1d7d856f66
* Content: [Working with dates in Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/co

[2018-10-14 10:34] tjaydk opened #16803 "Missing --sku-name"
Good tutorial, but there is missing a list of SKUs for the setup of the database. Please add this information to the guide.

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7d301ba-4ace-99a8-deba-4ed7f3413de0
* Version Independent ID: 62100f8c-36be-3817-74da-ba72e75685f7
* Content: [Build a PHP and MySQL web

[2018-10-14 10:47] bjthomson commented on #14663
Thanks, that SO issue describes my problem. The suggested solution is to add a connection string to the config file.. but we want to move connection strings out of config files into KeyVaults…!

I'll investigate further next week.
Can I suggest adding some notes to the MS Docs? Particularly the page that is loaded up when you add the connected service?

And from an architectural viewpoint: is it t

[2018-10-14 11:54] infovore commented on #16502
Thanks, Julia. That's what I had already figured I needed to do.

Except: all the examples in the Media Services v3 doc, especially for VideoAnalyzer, are all .NET examples. I was just suggesting it'd be useful if the docs were as comprehensive in their examples as the older versions are. As it stands, all I have to go on are trying to translate the .NET examples into something using the CLI API m

[2018-10-14 13:55] JipingWang commented on #6788
DA is very special, I've found many applications require no DA. I will never install DA if possible(fortunately, we have Azure AD now), otherwise would not install Cosmos DB on DA.

[2018-10-14 14:06] vincez commented on #6788
This issue impacts machines joined with an Azure AD directory as well. This issue is a regression that bricks the emulator for users who want to use (or are required to use) single-sign-on for their development machines.

[2018-10-14 16:55] mathieu-benoit opened #16804 "Add a "Supported Kubernetes versions" section"
Could we add a section "Supported Kubernetes versions" which will be the result of "az aks get-versions -l eastus" for example.
KubernetesVersion    Upgrades
1.11.3               None available
1.11.2               1.11.3
1.10.8               1.11.2, 1.11.3
1.10.7               1.10.8, 1.11.2, 1.11.3
1.9.10               1.10.7, 1.10.8
1.9.9                1.9.10, 1.10.7, 1.10.8
1.8.15

[2018-10-14 17:45] JasonKleban opened #16805 ""Write logs in JavaScript functions" context.log default level and category"
"Write logs in JavaScript functions"  What is the default log level?  Is it INFO?  What category are context.log emits?  I'm asking because I try logging like context.log('blah blah blah') but it doesn't show up in the Log Streaming, so I assume I have to configure it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 136

[2018-10-14 17:49] JasonKleban commented on #16805
oh, I see "Function" category

[2018-10-14 18:06] snehithm commented on #16147
Hi @cconrado,
Thanks so much for reporting this. This is indeed a typo. We will get it fixed.

@femsulu could someone take care of this? Let me know if I should raise a PR instead.

Snehith

[2018-10-14 18:13] snehithm commented on #16257
Hi @DaveKlassen
It's likely an issue with metric alerts and not resource explorer.
Looks like we missed some steps because of which metric alerts are not showing up there. I will investigate this and get back to you with an answer/ETA.

[2018-10-14 18:18] snehithm commented on #16061
Hi @johndowns,

Thanks for reporting it. I will investigate and get back to you. Could you email me at snmuvva at microsoft dot com? I would like to reach out as I need some details about how you are emitting custom metrics today?

Regards,
Snehith

[2018-10-14 18:29] deosandeep commented on #12986
Thanks for your feedback. This has been fixed.

[2018-10-14 18:51] wesmc7777 commented on #16697
@bawilless That option has been removed. To pin the resource to your desktop, you need to click the pin in the upper right corner on the overview page of the resource

[2018-10-14 19:16] Anmolgan81 opened #16807 "Does Managed Instances supports move?"
Does managed instances supports move or not?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Move Azure resources to new subscription or resource group](https://docs.microsoft.com/en-us/azure/azure-resource-ma

[2018-10-14 19:35] sirredbeard opened #16808 "Remove OpenBSD page"
This page should be removed as the instructions are out of date, waagent is broken on OpenBSD 6.3 and the issue has been labeled wontfix (see https://github.com/Azure/WALinuxAgent/issues/1360), and waagent is generally not supported on OpenBSD.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d71856c8-5330-866b-06b2-090b

[2018-10-14 19:36] sirredbeard opened #16809 "Remove FreeBSD page"
This page should be removed as the instructions are out of date, waagent is broken on FreeBSD (see https://github.com/Azure/WALinuxAgent/issues/1343), and waagent is generally not supported on FreeBSD.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0cd7ebd-e262-7a75-5c90-abade813d597
* Version Independent ID: a5f67d3b

[2018-10-14 19:44] danieljsmarda commented on #13607
@Mike-Ubezzi-MSFT I am no longer working on this project but I wanted to say thank you, I really appreciate your help!

[2018-10-14 19:45] danieljsmarda commented on #11502
@kgremban @Mike-Ubezzi-MSFT I apologize for the delay; I am no longer working on this project but thank you for your help while I was!

[2018-10-14 19:48] sirredbeard opened #16811 "Update with information on Debian Stretch 9.5"
Debian Stretch is the current stable release of Debian.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5be23fa1-7083-e231-3bcc-6b86c57412a7
* Version Independent ID: 14f6de07-473f-7993-5493-6ded9ded4435
* Content: [Prepare an Debian Linux VHD in Azure](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/debia

[2018-10-14 19:49] sirredbeard opened #16812 "Update with information on openSUSE Tumbleweed and Leap 15"
openSUSE is now a rolling distribution in the form of Tumbleweed and available in release form in Leap 15.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d631641-5f49-36ae-ecc5-7baf95f0506d
* Version Independent ID: 7f4f39d2-41ed-8259-48e8-0879245dee92
* Content: [Create and upload a SUSE Linux VHD in Azure](https://d

[2018-10-14 19:53] sirredbeard opened #16813 "Update with information on Ubuntu 18.04, remove 12.04"
Ubuntu 18.04 is the new LTS release for Ubuntu.

Also 12.04 should be removed as it reached EOL on April 28, 2017 and is no longer secure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4138584e-7488-4750-84b8-9e00bc3cf975
* Version Independent ID: d750001e-90ab-e1ec-ab35-8ef9a4b556a9
* Content: [Create and upload an U

[2018-10-14 20:05] AnomisCefu opened #16815 "VP One Microsoft Way"
Highlight Definition implemented first time on LG

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecae7814-3a8b-1401-34b7-a3f53d22b9e5
* Version Independent ID: 30254acc-2901-0565-e7dc-619c279f8b78
* Content: [Introduction to Azure Advisor](https://docs.microsoft.com/en-us/azure/advisor/advisor-overview)
* Content Sourc

[2018-10-14 20:06] deosandeep commented on #13094
Thanks for the feedback. The verify section will be updated to also include DeviceTrustLevel to say Managed.

[2018-10-14 20:29] MicahMcKittrick-MSFT commented on #16798
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-14 20:30] MicahMcKittrick-MSFT commented on #16799
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-14 20:30] MicahMcKittrick-MSFT commented on #16802
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-14 20:31] MicahMcKittrick-MSFT commented on #16807
Thanks for the question! We are investigating and will update you shortly.

[2018-10-14 20:31] MicahMcKittrick-MSFT commented on #16796
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-14 20:31] MicahMcKittrick-MSFT commented on #16803
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-14 20:32] MicahMcKittrick-MSFT commented on #16800
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-14 20:32] MicahMcKittrick-MSFT commented on #16804
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-14 20:34] MicahMcKittrick-MSFT commented on #16809
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-14 20:34] MicahMcKittrick-MSFT commented on #16811
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-14 20:34] MicahMcKittrick-MSFT commented on #16813
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-14 20:34] MicahMcKittrick-MSFT commented on #16812
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-14 20:35] MicahMcKittrick-MSFT commented on #16805
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-14 20:35] MicahMcKittrick-MSFT commented on #16808
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-14 21:42] sem27 opened #16817 "Logic Apps - SQL Connector - how to set guid() field with existing uniqueidentifier value?"
Hello everyone.

I have a trigger, which will be executed every time when a row has been added into a table, and it will then populate another table.

This another table needs two guids - one is from the newly added record in the first table and the second guid is a known one (I know which value must be placed there) and this should be static.

How can I set this guid with an existing value?

Than

[2018-10-14 21:46] iFoton opened #16818 "ADF Web Activity Basic authentication doesn't work"
Basic authentication for Web Activity is not available via GUI, and even I setup it by code according documentation it doesn't work. When I try run activity in debug mode it works properly, but failure when triggered.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34b3d465-6a2b-88ad-6e80-4fb784cd489e
* Version Independ

[2018-10-14 22:12] PhantasmNZ commented on #10147
Are you taking the ****?

The whole point of this issue is that Active Learning is something that we need.  Just saying that the training API has been removed because the Active Learning feature has been mysteriously and unpopularly removed, without explanation, is ridiculous.

Please comment on when Active Learning/Training API will be available again please.

[2018-10-14 22:19] KeiroKamioka0000 opened #16819 "Retention Period?"
If there is Retention Period do exist in SR History, please mention it somewhere in the document please.
If not, please mention in the document that SR History won't be deleted by time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a977f678-4268-cb72-3c94-7fc6ac25cec0
* Version Independent ID: 362294c0-d91c-3c73-e879-

[2018-10-14 22:53] MisterGabe commented on #12862
Docs are out of date. There is no "SSL Certificate" option anymore, it is "SSL Settings" and that doesn't provide an option to "Import Certificate" at all.

[2018-10-14 23:31] parilla commented on #14535
Interesting, I'm using Mac OS also.

[2018-10-14 23:46] kcsportal commented on #5850
Yes, I also have this question. When users are provisioned I need them to be moved to a specific OU based on the security group they are in. (Since it is my understanding that Azure AD only supports groups and not OUs. And Google Only supports OUs and not groups.)

[2018-10-14 23:48] Juliako commented on #16502
@infovore , we are planning on adding many more samples to https://docs.microsoft.com/en-us/azure/media-services/latest/cli-samples. Can you please suggest what scenarios would you want us to cover first.

[2018-10-14 23:52] MicahMcKittrick-MSFT commented on #16817
Please provide us with the link to the documentation you are referring to so we can better assist.

[2018-10-14 23:53] MicahMcKittrick-MSFT commented on #16818
Please provide us with the link to the documentation you are referring to so we can better assist.

[2018-10-14 23:54] MicahMcKittrick-MSFT commented on #16815
@AnomisCefu can you elaborate on your ask in regards to this document?

[2018-10-14 23:54] MicahMcKittrick-MSFT commented on #16819
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-14 23:56] shizn commented on #15970
Hi @timmyreilly . You just need to use any of the connection string from your registered IoT Edge device(s). For the local run, the connectionstring is used for generate the certs for modules to run.

[2018-10-15 00:06] anilmur commented on #16793
Thanks for reporting this - the built-in AdaptiveStreaming preset indeed stops at 1080p. If you need to encode to UHD resolutions with H.264 codec, you will have to built a custom preset as outlined [here](https://docs.microsoft.com/en-us/azure/media-services/latest/customize-encoder-presets-how-to). That example shows a simple preset with just two layers. You could add other layers on top, such 1

[2018-10-15 00:26] cmeyertons opened #16820 "Can you provide steps for adding this to an existing VM in terraform?"
I'm currently stuck on this:

vsts-agent.tf:
[code]

error log:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a19a3d2-875b-69c3-a34c-088c3e6fa4bf
* Version Independent ID: f29cf7a3-6df8-d7cc-dea0-ba97de404a97
* Content: [Use the Azure Docker VM extension](https://docs.microsoft.com/en-us/azure/virtual-machines

[2018-10-15 00:28] cmeyertons commented on #16820
I've tried a slew of different values for type_handler_version (1.*, 1, etc.) and no dice :(

[2018-10-15 00:48] cmeyertons commented on #16820
Problem solved by using 1.0 (docs say 1.*) -- i think it was having some sort of clash with the name.

Changing it to vsts-agent-vm1-docker resolved the issue

[2018-10-15 01:43] Yaming-Liu1978 commented on #16786
Sorry, there is a typo in the original comment, it's "line" not "link".

Here is my detail about the investigation. I use reflector to decompile the source code of DocumentDB.StartupEntryPoint.exe where the event error is coming from.  In the Microsoft.Azure.Documents.Services.ServiceStartupEntryPoint.ServiceStartupEntryPoint class GatewayInit() method, there is following code:

   private static

[2018-10-15 01:57] ebibibi opened #16821 "CSR doesn't include Extension Host entries."
I just used "Microsoft.AzureStack.ReadinessChecker".
generated CSR doesn't include any "Extension Host" related entries.

- *.adminhosting.&lt;region&gt;.&lt;fqdn&gt; (Wildcard SSL Certificates)
- *.hosting.&lt;region&gt;.&lt;fqdn&gt; (Wildcard SSL Certificates)

in the document, "8. Review the output:" includes "Extension Host" related entries.

 "Microsoft.AzureStack.ReadinessChecker" should be

[2018-10-15 02:11] dhirschfeld commented on #7835
As a Windows Python user I'd like to know which method I should be using.

Is there anything to back this up? It may well be true but it's not a strong justification for someone trying to decide which method to use.

[2018-10-15 02:17] JustinDickens opened #16822 "Screenshots need updating"
When the portal was updated, the wording and location for elevating Global Admin access has been changed in the Properties blade, which does not match the screenshots in this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0decae5-1977-1db8-8b69-7e9a46919add
* Version Independent ID: f319b342-2f2f-3d71-1beb-0a

[2018-10-15 02:36] dcbrown16 opened #16823 "Preview pricing"
There doesn't seem to be any pricing info here or on the Monitor pricing page:
https://azure.microsoft.com/en-us/pricing/details/monitor/
Do the data ingestion and retention limits and prices apply to this solution? Are there any additional costs?
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77f273ec-aed5-1f6

[2018-10-15 02:57] pragnagopa commented on #16337
There is no support to bind to strong types yet for java functions. You need to use azure-service bus-java libraries directly to work with strong types.

[2018-10-15 02:58] ggianelli commented on #16009
Hi,

I mentioned because my customer added a P1 and he still got he message until he purchased P2.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Curtis Love <notifications@github.com>
Sent: Tuesday, October 9, 2018 6:51:40 PM
To: MicrosoftDocs/azure-docs
Cc: ggianelli; Mention
Subject: Re: [MicrosoftDocs/azure-docs] License i

[2018-10-15 03:03] ebibibi commented on #16821
I'm sorry. Version of my AzureStack PowerShell is old.
re-install AzureStack PowerShell resolved issue.

[2018-10-15 03:03] #16821 closed

[2018-10-15 03:19] proctorm opened #16824 "Error in VS Code when creating IoT Edge module project"
Hi,

I have encountered an error in VS Code at the following point in the Python IoT Edge module tutorial: Step 5 under the heading "Create an IoT Edge module project", subheading "Create a new solution". I am being asked to run the command "Azure IoT Edge: New IoT Edge solution" in the command palette.

The command being executed by VS Code appears to be:
cookiecutter --no-input https://github.co

[2018-10-15 03:40] lextm commented on #7835
@dhirschfeld There seems to be even more changes in the coming months.

I opened this issue in April and at that time Microsoft seemed to be supporting both the open source FastCGI handler and HttpPlatformHandler on Azure App Service. That's why I asked if one should be preferred to the other, but now you can read from

https://docs.microsoft.com/en-us/visualstudio/python/managing-python-on-azure-

[2018-10-15 03:41] #7835 closed

[2018-10-15 03:46] awwillis commented on #6530
The Gremlin.NET library now returns a collection of server attributes with the query result (or in an the exception in the case of a failed query).

The attributes include all the cosmos-db specific attributes such as the cost of the query in RUs, the request status code, and the 'back-off' time to wait.

[2018-10-15 04:03] dhirschfeld commented on #7835
Thanks for the info/link. I'm running on-prem so I guess I'll continue to just use wfastcgi.

[2018-10-15 04:03] MicahMcKittrick-MSFT commented on #16820
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-15 04:10] ravimandal47 opened #16825 "Misinformation in screenshot"
On Step 6, the endpoint is dragged into Timestamp text box. It should be in URI instead.
On Step 7, runAt is dragged into URI text box. It should be in Timestamp instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8d495c3-9afc-f758-5d04-c47a89b9d895
* Version Independent ID: 5b95e62c-7a05-353d-5766-62ccd4cd4833
*

[2018-10-15 04:18] jakaruna-MSFT commented on #16711
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2018-10-15 04:18] #16711 closed

[2018-10-15 04:39] kprpg commented on #7844
I am also facing the same issue of not beign able to browse to the application after deployment. Tried mapping as mentioned by @c42-arun. Sill no luck. Can this be verified and clear instructions given to browse to the application end point.

[2018-10-15 04:49] mike-urnun-msft commented on #16784
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e85de04-2f8b-68ea-eeb9-dcc65f216332
* Version Independent ID: db26953c-f234-3828-4c38-493ad410e25a
* Content: [Java developer reference for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-java#function-method-overloading)
* Conte

[2018-10-15 04:52] mike-urnun-msft commented on #16784
Hi @pragnagopa Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-10-15 04:56] mike-urnun-msft commented on #16805
Hi @JasonKleban Did you have any further questions regarding this matter?

[2018-10-15 04:59] SaurabhSharma-MSFT commented on #16543
@daviburg We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-15 04:59] #16543 closed

[2018-10-15 04:59] SaurabhSharma-MSFT commented on #16600
@LisandroSu We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-15 04:59] #16600 closed

[2018-10-15 04:59] shizn commented on #16824
Hi @proctorm . Have you successfully get a python module project in VS Code? Looks like it's your proxy issue. If you haven't resolved this issue, I'd suggest first you can manually download the files from here (https://github.com/Azure/cookiecutter-azure-iot-edge-module/tree/master/%7B%7Bcookiecutter.module_name%7D%7D) and put it in the `modules` folder. Make sure you update the module.json and d

[2018-10-15 05:30] thuansoldier opened #16827 "Privilege to activate role"
Is there any privilege required to activate a role? Or the target user can activate the role?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a831056-b759-8539-ca86-9fbb84f331d7
* Version Independent ID: 8fca63cc-bd36-d774-1f31-eca19502b006
* Content: [Activate my Azure resource roles in PIM](https://docs.microsoft.com

[2018-10-15 05:38] miaoran opened #16828 "DMV for DWU usage"
Is there any DMV can be used to get DWU Used/DWU Percentage or get current DWU usage?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73d18754-6ffe-e890-3ccb-3edfcb3f4b58
* Version Independent ID: 35516444-7bb9-8420-dd7b-4b5b6a22194e
* Content: [Data Warehouse Units (DWUs, cDWUs) in Azure SQL Data Warehouse](https://doc

[2018-10-15 05:43] kuhussai commented on #16589
I think you're referring to the operations involved when uploading data based on block size. You can use PutBlob to upload a single object up to 256 MB which will count as a single write operation. Anything larger than 256 MB will require you to upload blocks (any size up to 100MB per block) using PutBlock and then commit the object using PutBlockList. The latter approach will result in multiple w

[2018-10-15 05:46] zzulueta opened #16829 "Error: Program type already present: android.support.v4.app.LoaderManager$LoaderCallbacks"
I have been getting this error messages when I am on the step: Add Firebase Cloud Messaging to the project. Once I add the following statements in the gradle:
1. project level
classpath 'com.google.gms:google-services:4.1.0'
2. app level:
implementation 'com.google.firebase:firebase-core:16.0.4'
implementation 'com.google.firebase:firebase-messaging:17.3.3'
bottom of app gradle:
apply plugin: 'com

[2018-10-15 05:54] zzulueta opened #16830 "Deprecated Methods in the Firebase calls"
The following are already deprecated:
1. getToken()
FirebaseInstanceId.getInstance().getToken();

2. ontoken refresh()
public class ToDoInstanceIdService extends FirebaseInstanceIdService {

    @Override
    public void onTokenRefresh() {
        ToDoActivity.registerPush();
    }
}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2018-10-15 06:13] JeanQian opened #16831 "Can central OS 7.5 be supported by AAD login?"
Can central OS 7.5 be supported by AAD login?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb8e2623-1f79-aee3-bd97-8b5f647b6980
* Version Independent ID: 6346b54d-cc8d-0b79-a6b8-f9144cfa2459
* Content: [Log in to a Linux VM with Azure Active Directory credentials](https://docs.microsoft.com/en-us/azure/virtual-machin

[2018-10-15 06:14] Karishma-Tiwari-MSFT commented on #14316
@ChrisSfanos Would either of you be able to share some information on this issue? It looks like more customers are seeing this issue.

[2018-10-15 06:31] JamesRandall commented on #6530
Great! Thanks for the update. I'm currently doing quite a lot of work with Gremlin against Cosmos so will give that a go.

[2018-10-15 06:39] Karishma-Tiwari-MSFT commented on #16465
@ratocego We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-15 06:39] #16465 closed

[2018-10-15 06:40] Karishma-Tiwari-MSFT commented on #16487
@WilldotNET We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-15 06:40] #16487 closed

[2018-10-15 06:40] Karishma-Tiwari-MSFT commented on #16555
@mcurko We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-15 06:40] #16555 closed

[2018-10-15 06:54] BorisB2015 commented on #16638
Umm, there was a bug in the portal which the team fixed some time ago, this should never be hit while deploying an image from the portal.

Can you confirm that?

From: Boris Baryshnikov
Sent: Saturday, October 13, 2018 4:01 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>; MicrosoftDocs/azure-docs <reply@reply.github.com>; Ankit Sud <Ankit.Sud@microsoft.com>
Cc: Mention <mention@nor

[2018-10-15 07:36] tomasaschan commented on #16500
@MicahMcKittrick-MSFT I respectfully disagree that this is resolved. #please-reopen

[2018-10-15 07:41] ArvidBaa commented on #14431
Since this is part of the deprecated documentation, I am surprised too see that it has been updated.

Thank you!

[2018-10-15 08:16] Minewiskan commented on #15494
#please-close
No response.

[2018-10-15 08:17] simkadic opened #16832 "Unable to create a container in existing subnet"
Hello!
I am trying to deploy a container to an existing subnet delegated to Azure Container Instances on West Europe. However, I keep getting this error:

Deployment failed. Correlation ID:[ id ]. Operation failed with status: 200. Details: Resource state Failed.

I've tried creating the ACI both with and without a YAML. The container runs seamlessly if it is setup with a public IP, or if with a n

[2018-10-15 08:17] iFoton commented on #16818
[Documentation](https://docs.microsoft.com/en-us/azure/data-factory/control-flow-web-activity#authentication).
[code]
It works in debug. But I get "Wrong password" error in another cases.

[2018-10-15 08:38] gs9824 commented on #16481
@MicahMcKittrick-MSFT  As far as I understand, this would involve setting up a complete AKS cluster. I just wanted to run Grafana as a simple Azure Container Instance, without modifying anything in the container.

[2018-10-15 09:09] rajeshkhanikar opened #16836 "Add AAD B2C to CSP"
In this user voice page, it says "This is planned for the end of 2018" (ref: https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/32534266-add-aad-b2c-to-csp). Please let us know when this will become available for CSP customers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10c6698d-da67-a802-3

[2018-10-15 09:12] thecpshah opened #16837 "Connection to workspace fails"
Hello!

When I run ws = Workspace.from_config(), it asks to enter the code. It shows message saying the authentication successful.

Then it asks to enter the code again. It then says authentication successful.

Then it throws error saying I do not have access to subscription XYZ but i have access to subscription ABC. I have no idea, where subscription ABC came from.

It then suggests to do az logi

[2018-10-15 09:13] WenJason opened #16839 "Content feedback"
Hi all,
I have a feedback: In step 1, the article says "The name may contain only lowercase letters, numbers, hyphens, and underscores." . But I find that underscores may be unsupported. Could please review and confirm if so?
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c89e744-3f5b-df29-7194-be4d5856148a
*

[2018-10-15 09:22] giovannifl opened #16840 "Should Function App and Storage Account be in the same Azure subscription ?"
It could be obvious, but please could you confirm if a Function App and the Storage Account that will be used for its operation must be in the same subscription ?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c4cf342-0f52-5ebb-aeb2-a1ae5a2b6133
* Version Independent ID: 7c75fc5a-df94-4254-2d85-e1118f401fd7
* C

[2018-10-15 09:32] jakaruna-MSFT commented on #16831
Thanks for the question! We are investigating and will update you shortly.

[2018-10-15 09:32] ArvidBaa opened #16841 "Service does not seem to recognize image update"
When I update my image, due to changes in my scoring file, I expect the service to automatically update the reference to the newest version of the image. However, when inspecting the service, e.g. by calling `service.image.id` or looking in the portal, it still refer to the previous image id. I tried manually updating the service by calling `service.update(image=updated_image)`, but then the `scor

[2018-10-15 09:38] Flodu31 opened #16842 "The term 'Find-AzureRmResource' is not recognized as the name of a cmdlet"
The script must be adapted with this command : Get-AzureRmResource -Name

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da68121a-fabb-7637-aa9e-03300570dba5
* Version Independent ID: a67a5678-af06-9b4d-718b-09a2c67e38ea
* Content: [Automated script to create Service Manager Web app to connect with IT Service Management

[2018-10-15 09:38] mf-fm opened #16843 "How to customize the WebUI not only locally but for a remote deployment"
I would like to know how the basic and standard deployments can be changed so a customized web ui will be deployed remotely.

In this article series: https://docs.microsoft.com/en-us/azure/iot-accelerators/iot-accelerators-remote-monitoring-customize you show us how to make changes to the UI locally.

I would like to adapt the basic/standard deployment process via CLI as shown here: https://docs.m

[2018-10-15 09:40] PeerMohamedMydeen commented on #16583
Thanks @Mike-Ubezzi-MSFT. Any update on this.

[2018-10-15 09:42] simkadic commented on #16832
Thank you! I've also noticed that the diagrams of both vnets (the generated vnet and the previously existing vnet) don't show the ACI. This might be related.

[2018-10-15 09:43] kudlatiger opened #16844 "Can API management talks to Azure functions?"
I am planing to use independent azure functions against API's listed in API management instead of ASP.NET API App. will this scale?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e70c1f08-ac94-5cd1-f1fd-57548c0124da
* Version Independent ID: 978fef6b-dea0-55b1-85fd-d7d81c754741
* Content: [Using API Management service

[2018-10-15 09:50] jakaruna-MSFT commented on #16721
@bramvdklinkenberg    we can look at the Insignts (under monitoring) of that particular node if its not functioning as expected. Most of the time some containers which are running on those machines may consume more resources than expexted and that may be the reason for slowdown.

We also have a workaround to delete a particular node on the cluster. But thats not RECOMMENDED.

1. you can find the n

[2018-10-15 09:58] WenJason opened #16846 "Feedback"
Hi. I have a feedback:
1. If the prerequisites section can be add some contents such as "The .NET Framework 4 must be installed on the copy machine."
2. Step 2: "The name may contain only lowercase letters, numbers, hyphens, and underscores. " The underscores may be unsupported.
Thanks a lot.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2018-10-15 10:00] mikebarrattvcs commented on #16702
Does this require Azure Security Standard or is this available with the free subscription?

[2018-10-15 10:04] mikebarrattvcs opened #16847 "ACS Version"
Does this require Azure Security Center Standard or is this available using the free subscription?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b92c195-c670-2e27-2422-fd131586bdd7
* Version Independent ID: 75ad901d-8064-bfbe-67f5-de507bede1bc
* Content: [Monitoring Threats in Azure Storage](https://docs.microsoft.co

[2018-10-15 10:04] ktilk opened #16848 "Obsolete property"
WindowsAzureActiveDirectoryBearerAuthenticationOptions.Audience is obsolete, use WindowsAzureActiveDirectoryBearerAuthenticationOptions.TokenValidationParameters instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d91e987-b3aa-d12b-6400-5f477e827202
* Version Independent ID: e0efa72d-1e7c-b2d2-4ad9-ad51334e3da6
*

[2018-10-15 10:07] jakaruna-MSFT commented on #16804
@mathieu-benoit   I think updating this page for each version changes may require more effort.
But having the information about the possible versions will be good.
We can also think about adding a FAQ to list the versions via CLI. We can add JMESPath queries  to match a particular version also.
Linking with ACS-Engine version also looks like a good option.
Share your thoughts.

[2018-10-15 10:08] jakaruna-MSFT commented on #16804
I am assigning this issue to the content author to investigate further and update the document as appropriate.

[2018-10-15 10:10] JYOTHIRMAISURI commented on #16842
@snehithm

Hi Snehith,

Please go through and advise.

[2018-10-15 10:15] dominicbetts commented on #11313
Hi @rbarrioss - the article has recently been updated and now has all the required steps. Thanks for bringing it to our attention. I'm going to request that this issue is now closed, but feel free to re-open it if you have and follow-up questions. Thanks!

[2018-10-15 10:15] dominicbetts commented on #11313
#please-close

[2018-10-15 10:17] daveheywood commented on #9246
Is there any update on this. This is still one of the highest ranking pieces on getting B2C authentication to work between Apps and Api, and it would be good if was maintained.

[2018-10-15 10:33] dominicbetts commented on #16302
Hi @richardasavie  - I've added a note to the docs about the special characters. Although they are supported by the IoT Hub service, they are not currently supported by the device SDKs.

[2018-10-15 10:33] dominicbetts commented on #16302
#please-close

[2018-10-15 10:33] #11313 closed

[2018-10-15 10:38] sergaz-msft commented on #16302
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-15 10:38] #16302 closed

[2018-10-15 11:06] arunakshi commented on #5530
@rboucher,

I was trying to create Alerts in Applicatiuon Insights. And I am getting error while creating alerts in application insights for the custom metrics.

[2018-10-15 11:08] arunakshi commented on #5530
Hi Nirmal,

 I was not able to find the solution for this problem. We left out creating alerts manually at the moment. If you find a solution for this, please share us.

[2018-10-15 11:16] dominicbetts commented on #16671
@JonathanPalmerGD - what type of Azure subscription are you using - I see you mentioned that you couldn't set up the Azure cloud shell - can you provide more detail? The Quickstart specifically uses the Azure cloud shell to minimize the setup required on your local machine. Thanks!

[2018-10-15 11:33] PramodValavala-MSFT commented on #16686
@timmyreilly When deploying functions from source control, any folder with `package.json` present in your repo will trigger an `npm install` in that folder.

Since each `package.json` would trigger an `npm install`, it is best to have a single `package.json` at the root of your function app with all the dependencies for all your functions there.

In case you need a package of a specific version fo

[2018-10-15 11:33] atullalwani opened #16849 "replicate-do-db"
Hello,
I need to replicate mysql single schema on-premise MySQL into Azure MySQL DBaaS and want to incorporate "replicate-do-db" on slave side config. May I know what Stored Procedure and its syntax to limit only required schema gets replicated. I am not in position to edit master config file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2018-10-15 12:20] Frank-Voortman opened #16850 "Windows 10 1809 and Hybrid Azure AD configuration"
At Ignite I was told that with Win 10 rel 1809 it would be possible to create an Azure AD joined machine through auto pilot and then register with AD. This documentation still tells me the opposite scenario. Where is the new documentation or is this scenario non supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-10-15 12:36] snehithm commented on #6515
@JYOTHIRMAISURI can you close this issue? Looks like this still shows up as open

[2018-10-15 12:44] snehithm commented on #16842
@Flodu31, thanks for reporting it.

Looks like the cmdlet Find-AzureRmResource was removed from ARM PS a version ago. We are looking into this and will update the script.

[2018-10-15 12:51] ahgithub opened #16851 "Password rest window cancel button is not working properly"
I use an Azure ADB2C account in my application and while testing the login via the Azure login page I wanted to test the password reset option.

After klicking a password reset page is displayed. On this page a cancel links is visible, but clicking it refreshes the page, rather then ge back to my login page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2018-10-15 13:06] ksreekumar opened #16852 "Iteration Count for ForEach"
It would be good to have a way to get the current iteration number, for example, if we were iterating through structure(from Get Metadata activity) and was capturing this data or writing this data using a stored proc in the foreach activity, the order(current iteration) of the metadata would have been useful

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2018-10-15 13:30] sergaz-msft commented on #16307
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-15 13:31] sergaz-msft commented on #16384
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-15 13:32] sergaz-msft commented on #16525
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-15 13:41] sergaz-msft commented on #16613
Hello @GuuB are you sitll experiencing this issue? This seems to be a portal issue. Please let us know if you are still blocked? We [had some Azure Portal issues ](https://azure.microsoft.com/en-us/status/history/)which I am wondering if it can be related...

Thank you!

[2018-10-15 13:44] sergaz-msft commented on #16620
Thanks @JonathanPalmerGD ! Nice catch. I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-15 13:51] sergaz-msft commented on #16653
Hi @mikewiegand did you follow all the [prerequisites](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-develop-csharp-module#prerequisites)?

![image](https://user-images.githubusercontent.com/22173500/46954905-9b55f980-d089-11e8-893f-42589ce2105a.png)

What is the step in the tutorial that you see this error? + @shizn to comment on this.

Thanks!

[2018-10-15 13:59] sergaz-msft commented on #16698
Hello @0GiS0 can you check this [MSDN Issue](https://social.msdn.microsoft.com/Forums/en-US/6a893568-cbf4-434d-8220-7b9e700fdbe4/not-able-to-see-the-appsno-option-to-add-new-app-on-azure-blockchain-workbench-web-url?forum=azureblockchain) and let us know if it relates with yours?

This was the solution found there. Can you try that part?

![image](https://user-images.githubusercontent.com/22173500

[2018-10-15 14:01] Minewiskan commented on #12310
@GaretAnderson Sorry for the delay on this. I understand what you are stating, but I was unable to reproduce the processing error. I tried refreshing permissions and changing Privacy Level on multiple datasources from both PBID and SSMS.  If this is still an issue for you, can you open a support request in the portal? Support might have more knowledge of this and will better be able to test and fi

[2018-10-15 14:06] jakaruna-MSFT commented on #16832
@simkadic   The subnet which we are going to deploy container instances has to be [empty](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-vnet#existing-virtual-network). Since the same image got deployed on the new subnet and fails to deploy on the existing subnet,  please cross check if the existing subnet is empty.

If you are deploying on an existing subnet make s

[2018-10-15 14:15] mikewiegand commented on #16653
F5. Run

On Mon, Oct 15, 2018, 6:51 AM António Sérgio Azevedo <
notifications@github.com> wrote:

[2018-10-15 14:15] sergaz-msft commented on #16699
Hello @mikewiegand this seems to be related with the other issue you opened: https://github.com/MicrosoftDocs/azure-docs/issues/16653 . Can you let us know if it is related and if so, what step in which tutorial are you seeing the error? Thanks!

[2018-10-15 14:15] curtand commented on #16137
All I know is Arvind Harinder is the PM.

[2018-10-15 14:16] mikewiegand commented on #16653
Lmk if u would like to setup a quick call I can walk u thru this in about
one minute or less

On Mon, Oct 15, 2018, 6:51 AM António Sérgio Azevedo <
notifications@github.com> wrote:

[2018-10-15 14:17] mikewiegand commented on #16699
Phone call is the best way at this point

On Mon, Oct 15, 2018, 7:16 AM António Sérgio Azevedo <
notifications@github.com> wrote:

[2018-10-15 14:18] jakaruna-MSFT commented on #16831
@JeanQian Please provide more info about the Central OS.
I am able to install the vm extension (Microsoft.Azure.ActiveDirectory.LinuxSSH) for centos 7.5 VM. so if your question is about centos 7.5, It should work.

[2018-10-15 14:19] sergaz-msft commented on #16699
For assisted support you can file a support request @ https://aka.ms/azsupt and reference this issue in the description? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

Thank you!

[2018-10-15 14:20] unpredictablegourav commented on #10893
Hi All,

What we can do, just enable event collection for system source in OMS and set an alert for event IDs. Generally we have 6008 event ID for unexpected Reboot so this can work like a charm here. But you also need deep dig your event viewer to check if you have another event IDs as well as these IDs also depend on Server OS versions

Hope this helps :)

[2018-10-15 14:20] sergaz-msft commented on #16653
For assisted support you can file a support request @ https://aka.ms/azsupt and reference this issue in the description? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

Thank you!

[2018-10-15 14:22] mikewiegand commented on #16653
I have Developer support so I should have access to you. Unless they
changed my support plan.

On Mon, Oct 15, 2018 at 7:20 AM António Sérgio Azevedo <
notifications@github.com> wrote:

[2018-10-15 14:26] fcobo95 opened #16853 "Downtime"
Is there any sort of downtime using this method or is this 100% ONLINE and zero downtime?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04c3b39d-7881-8c85-0a66-e5cd6f971427
* Version Independent ID: b5cb6daf-f6da-f62d-4bfb-d6eee57c8b4a
* Content: [Use the Azure Database Migration Service to perform an online migration

[2018-10-15 14:29] joseph-cloudthing opened #16854 "Windows/Linux names/types mixed in examples."
Despite the note
&gt; You can also configure for Linux by using ManagedIdentityExtensionForLinux instead, for the "name" and "type" elements. The VM extension is planned for deprecation in January 2019.
there are two examples where Linux is used in the Name, but Windows in the type?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2018-10-15 14:32] florianrusch commented on #6837
There is still a misstake in the note. The Azure Disk is mountable to multiple pods on one node, like as @MSIH already sayed in his initial issue message.

But currently the text says: "[...] which makes it available to only a single pod in AKS. If you need to share a persistent volume across multiple pods, use Azure Files."

It should be more: "[...] which makes it available to only **pods on the

[2018-10-15 14:33] manigandham commented on #7307
There should be a note added to this page so that we can quickly go to the advanced installation article (instead of checking for comments).

[2018-10-15 14:35] sergaz-msft commented on #16759
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-15 14:38] sergaz-msft commented on #16772
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-15 14:39] sergaz-msft commented on #16775
Thanks for the feedback @ddentrec :). Good info to share! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-15 14:42] sergaz-msft commented on #16787
Hi @ddentrec was this justified by the findings you describe on the other issue? https://github.com/MicrosoftDocs/azure-docs/issues/16775

Thanks

[2018-10-15 14:43] femsulu commented on #16822
@JustinDickens Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-15 14:44] femsulu commented on #16825
@ravimandal47, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-15 14:57] sergaz-msft commented on #7870
Closing this issue since the doc no longer exists. Moved and updated [here.](https://docs.microsoft.com/en-us/azure/iot-hub/tutorial-firmware-update)

[2018-10-15 14:57] #7870 closed

[2018-10-15 15:00] sergaz-msft commented on #7394
Changes were done to the document. Closing this thread.
If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-15 15:00] #7394 closed

[2018-10-15 15:00] pochiraju commented on #16853
There will be a brief downtime with online migration scenario.
When you are ready to do the migration cutover, we recommend you to stop all incoming transactions to source databases, make sure that the pending transactions counter shows zero on DMS cutover window and then initiate the cutover the at DMS.  Your downtime starts from the time, you stop incoming traffic to sources, initiated the cutov

[2018-10-15 15:05] sergaz-msft commented on #6854
Fixes were done to the doc.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-15 15:05] #6854 closed

[2018-10-15 15:07] mosharafMS opened #16855 "Service map is in Canada Central region"
Please review the supported regions because I can see Service Map now in Canada Central. It seems it depends on on Log Analytics and as long as there's Log Analytics in a region, then it works

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b462a919-2014-9aa3-5fba-6568cb2c6cfe
* Version Independent ID: 3417842d-423f-7d9

[2018-10-15 15:11] sergaz-msft commented on #8786
@dominicbetts this is an old thread. The image was changed in the meanwhile. Now the image needs to be updated again. Can you take care of that? Thanks!

[2018-10-15 15:16] sergaz-msft commented on #9278
This doc was substantially changed.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-15 15:16] #9278 closed

[2018-10-15 15:17] sergaz-msft commented on #9395
The document was updated.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-15 15:17] #9395 closed

[2018-10-15 15:28] SychevIgor opened #16857 "Update "create UX" screenshots to follow latest UX"
Both images now looks different. It will be nice to update for a latest UX
https://docs.microsoft.com/en-us/azure/includes/media/cosmos-db-create-dbaccount-table/create-nosql-db-databases-json-tutorial-1.png
https://docs.microsoft.com/en-us/azure/includes/media/cosmos-db-create-dbaccount-table/azure-cosmos-db-create-new-account.png

image 2:
![image](https://user-images.githubusercontent.com/57895

[2018-10-15 15:32] sergaz-msft commented on #10705
The document was updated.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-15 15:32] #10705 closed

[2018-10-15 15:42] sergaz-msft commented on #10623
This was fixed.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-15 15:42] #10623 closed

[2018-10-15 15:48] Adam-Smith-MSFT commented on #16702
We currently don't support the use of powershell but it should be in the next year. The PM team suggested to use the REST API:

More info here: https://docs.microsoft.com/en-us/rest/api/securitycenter/advancedthreatprotection
you need to generate an ARM token in order to use this.

PowerShell snippet that uses this REST api:

$prodStorageSubscription = "xxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxxxxxx"
$pr

[2018-10-15 15:48] #16702 closed

[2018-10-15 15:50] Adam-Smith-MSFT commented on #16717
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-15 15:50] #16717 closed

[2018-10-15 15:58] Adam-Smith-MSFT commented on #16664
I submited a change, which is awaiting the Author's approval.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-15 15:58] #16664 closed

[2018-10-15 16:05] shivangipatwardhan2018 commented on #16134
You mentioned that `ASP.NET Core without some changes`. What are these changes?  I am trying to run some test cases for an ASP.NET Core application and the MongoClient keeps timing out when using the connection string to use the CosmosDb emulator from within the Build. (if this is not the correct location for this query, please excuse me -- where might be the correct location?)

[2018-10-15 16:09] aku163 opened #16859 "Q : Does One load balancer support multiple backend pools?"
Can multiple backend pools be configured with one load balancer (private)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18af85d1-49ae-b6ba-dee9-56d5aff977b2
* Version Independent ID: c14ce560-9cdd-e4af-a0d8-f8541a6c3659
* Content: [Multiple Frontends for Azure Load Balancer](https://docs.microsoft.com/en-us/azure/loa

[2018-10-15 16:13] simkadic commented on #16832
@jakaruna-MSFT thank you for your reply.

The subnet in question was empty in the way that the only resources it once had was one aci, which had been deleted. I did not however try the extra steps.

Could you please tell me if there a way to create a network profile manually?

I will get back to you with results.

[2018-10-15 16:19] JohnDelisle opened #16860 "How do I configure custom headers for TM profile and endpoints in an ARM template for a TM?"
I've created an Azure Traffic Manager with custom header in both the TM profile and the endpoint config using the Azure Portal.  However, I cannot find this configuration within the ARM automation script, or when navigating via resources.azure.com.

How to I create a TM with custom headers using ARM templates?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2018-10-15 16:29] Mike-Ubezzi-MSFT commented on #16857
@SychevIgor Thank you very much for your interest in Azure products and services. I have assigned this to the content owner to update as appropriate.

[2018-10-15 16:33] mattbriggs commented on #16821
@ebibibi Thanks for your feedback in any case! Please feel free to DM if you have any additional notes. Cheers, Matt

[2018-10-15 16:33] SychevIgor opened #16861 "VSTS is an AzureDevOps now"
Could you update the file name as well as old VSTS screenshot to address latest brand name- Azure DevOps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 617f002c-f40e-28a0-2ab7-e3227e08e37c
* Version Independent ID: a06ba438-55c8-e77c-ec89-095d44fbf4f3
* Content: [Set up CI/CD pipeline with the Azure Cosmos DB emulator