[2019-01-09 08:01] imeya commented on #21840
thanks @AmanGarg-MSFT,  regarding frequency(like set to 5 minutes), if fail rate is reached during the 5 minutes(like between 12:00-12:05), it will send an alert? right? If my understanding is correct, then for the following 5 minutes(like 12:06-12:10), if fail rate is reached again, what would happen? send another alert?

[2019-01-09 08:08] kazshi opened #21957 "Backup Configuration"
Looks like the UI to access to the Backup Configuration (in Set Storage Replication section) was changed and the current content is obsolete. Now it's accessible from Properties &gt; Backup Configuration (Update). Please update the content accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f9edc7e-ff2d-47fd-7

[2019-01-09 08:10] YvonneArnoldus commented on #21014
I can use Get-AutomationVariable without problems, which is in the same automation module.

So I would say that it should be available unless the connection of a VM to Automation is not correctly done by Azure.

[2019-01-09 08:10] kobulloc-MSFT commented on #21900
@johndowns Thank you!  We're following up in the MSDN thread that you've created.

We are going to close this (GitHub) thread but if there are any questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-01-09 08:10] #21900 closed

[2019-01-09 08:11] BigBadPhysicist commented on #21773
@LazarusX  thanks for the feedback.

But it looks like there was a problem with the insert-code funtion.

The Json file on my machine has the escaping and everything. But if I insert it here it get changed and the escaping is removed.

Let me try again.

deployment.template.json

[code]

deployment.amd64.json

[code]

the file and creation works on my side, but the properties.desired are missing i

[2019-01-09 08:13] MSSedusch commented on #21888
@rjohnson318 How did you deploy the RHEL VM? Did you use a VM Image from the Azure gallery, if yes, which one? How did you install the Azure fence agent? If you send me more details, I can try to repro the issue.
Thanks

[2019-01-09 08:36] radhagpt opened #21958 "List of nics along with VM Size details"
Is there any command or API available through which we can fetch the number of nics available on different VM Sizes . As this command Get-AzureRmVmSize will fetch only a specific attributes from the table mentioned above excluding the no. of nics.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9bb1d37c-6337-0906-42ff-b

[2019-01-09 08:44] CHEEKATLAPRADEEP-MSFT commented on #20909
@yuharucan We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-09 08:44] #20909 closed

[2019-01-09 08:49] wilsonchua20 commented on #21343
should we whitelist the ip address and any port of your uri: westus.api.cognitive.microsoft.com ?

[2019-01-09 08:52] loopfish opened #21959 "I want to create a shared image from a custom image I already have. There is nothing in the documentation to explain how to do this"
It is not clear from the documentation how you share an existing managed image.

The 'Create an image definition' step (below) assumes you have a gallery image definition already, but the steps to create an image definition really don't seem to allow anything other than a brand new, vanilla market place VM...:

az sig image-definition create \
   -g myGalleryRG \
   --gallery-name myGallery \
   -

[2019-01-09 08:52] adithyaonline opened #21960 "Update documentation for `Categories in the Activity Log`"
as of Jan 2019 this document says -  `Policy - This category does not contain any events; it is reserved for future use.`

how ever i'm seeing a lot of audit events with this category... nearly 40-50% of all of my event data are of this category...
pls advice on what they mean, and how i can make sense of them

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2019-01-09 09:01] AmanGarg-MSFT commented on #21840
@imeya Yes, it will send an alert every 5 minutes if fail rate is reached in the last 24 hours.
For e.g. If your rule gets activated at 2 pm on 9th Jan, it will run the query from 2 pm, 8th Jan to 2 pm, 9th Jan and will send an alert if the query fails between this time. Then after 5 minutes, it will run the query again from 2:05 pm, 8th Jan to 2:05 pm, 9th Jan and will send an alert if the query

[2019-01-09 09:06] imeya opened #21961 "why I see the error when visit the ftp server?"
I tried to visit the ftp server of the web app, and I use the credentials from Deployment center -&gt; FTP -&gt; app level. (btw, after I click ok button on the error prompt, and I can see the files/folders there)

![kudu-ftp-error](https://user-images.githubusercontent.com/25738099/50888604-0321a380-1431-11e9-8834-144e52174bd0.JPG)

---
#### Document Details

⚠ *Do not edit this section. It is re

[2019-01-09 09:10] axatix commented on #21776
Hi,
but the SLA definition of Standard Loand balancer include definition 2 VMs in https://azure.microsoft.com/en-us/support/legal/sla/load-balancer/v1_0/

What is strange that SLA for basic is in the document directed to SLA of VMs while SLA for standard is defined in another document but using same definition with 2 VMs

it doesn't look that LB it self has any SLA

best regards
Jozef

[2019-01-09 09:14] weyCC81 commented on #21760
Hi @TravisCragg-MSFT

In this case i got the right command for the status, it would be nice if [Detect the VM Agent with PS](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/agent-windows#powershell) would be extended with this information.

[2019-01-09 09:40] pacambi opened #21962 "Github token has to be used as a password for jenkins (not a secret text)"
For information at the step 3 of  "Create a Jenkins project" :
I kept getting an authentication error when trying to insert my githup token as a secret text in Jenkins.
It worked when I inserted my github username and the github token as a password.
https://stackoverflow.com/questions/48330402/secret-text-git-credentials-not-showing-up-in-jenkins-project-source-code-mana?rq=1

---
#### Document De

[2019-01-09 09:42] PramodValavala-MSFT commented on #21731
@bikashkarmakar Just following up here... Were you able to check for `node` and try again?

[2019-01-09 09:48] nigelainscoe commented on #21901
When you update it, please ensure that the usage of keys are explained properly. As I said, the terminology is to vague to know which storage account keys are being referred to. Thanks. Nigel

[2019-01-09 09:56] bikashkarmakar commented on #21731
Sorry for the late response , after installing node using brew , I am getting a node version error.
I can now see the  HTTPTrigger: [GET,POST] http://localhost:7071/api/HTTPTrigger in the logs but it does not start the debugger.

[09/01/2019 09:49:14] Executing 'Functions.HTTPTrigger' (Reason='This function was programmatically called via the host APIs.', Id=93c1de6a-d253-4c92-b431-78555a6bc252)
[

[2019-01-09 09:57] KetanChawda-MSFT commented on #21952
@SamirFarhat Thank you for your feedback! We will review and get back to you with our findings.

[2019-01-09 09:57] lonevvolf opened #21963 "Where should ports be opened?"
Though I am assuming that the ports listed are meant as incoming ports on the AD Domain Services, it is unclear from the article if this is really the case.  Even with the NSG section, it is not clear if this NSG is applied on the network which has the AD clients, or the AD infrastructure itself.  Please advise/clarify.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-01-09 10:01] weyCC81 commented on #21846
We try to setup two "IKEv2 responder" on one firewall which serves to two AzS NGW in two different VNet's.

We don't know what to set on the following Parameters
**Phase 1**
Peer identifier (Types: IP Address, Peer IP Address, DN, User DN, ASN.1, KeyID tag)

**Phase 1**
Reauth Settings (rekeying / make-before-break / ...l)

[2019-01-09 10:15] TomasHubelbauer opened #21964 "Explain how to get storage account and storage access key from az storage account keys list"
When I do `az storage account keys list -n thestorageaccount` I get:

[code]

Is the `key1`'s value for `AZURE_STORAGE_ACCOUNT` and `key2`'s value for `AZURE_STORAGE_ACCESS_KEY`? Is it always guaranteed to come in this order? There is a step missing between "run this command" and "set these environment variables". To what values? Where did I get them from?

---
#### Document Details

⚠ *Do not edi

[2019-01-09 10:20] ChiragMishra-MSFT commented on #21633
@jarodzhu Thanks for leaning in to clarify here.

@ravikiran-srini I will now proceed to close this issue. If you have any more questions, please feel free to comment and tag me.

[2019-01-09 10:20] #21633 closed

[2019-01-09 10:22] TomasHubelbauer commented on #21964
Figured it out, looks like `AZURE_STORAGE_ACCOUNT` is the name from `az storage account create` (that makes sense, my bad) and that `AZURE_STORAGE_ACCESS_KEY` can be either of the keys?

Could the docs please say that `AZURE_STORAGE_ACCOUNT` is not supposed to be filled from `az storage account keys list` but is the actual storage account resource name and that the other variable can be either of

[2019-01-09 10:33] SumanthMarigowda-MSFT commented on #21964
@TomasHubelbauer Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review and update the document as appropriate.

[2019-01-09 10:34] PramodValavala-MSFT commented on #21731
@bikashkarmakar The core tools is looking for a specific version of NodeJS. Try installing the required version like this

[code]

In this case, you should be able to use `10` instead of `8` too I suppose.

Also, its usually easier to use something like [`n`](https://github.com/tj/n) or [`nvm`](https://github.com/creationix/nvm) when dealing with different versions of NodeJS.

[2019-01-09 10:36] PramodValavala-MSFT commented on #21952
@SamirFarhat This is more of a NodeJS specific query. I believe you should be able achieve this by setting the `npm prefix` for that user.

Refer [this](https://stackoverflow.com/questions/38570209/making-global-npm-packages-available-to-all-users-on-windows-2012-server) SO thread which discusses the same.

[2019-01-09 10:36] AshokPeddakotla-MSFT commented on #21816
@futurexpe Could you follow the next steps and update the result? Check the steps 'View generated data' to verify deployed module running successfully and also watch the messages arrive at your IoT hub by using the [Azure IoT Hub Toolkit extension for Visual Studio Code](https://marketplace.visualstudio.com/items?itemName=vsciot-vscode.azure-iot-toolkit) (formerly Azure IoT Toolkit extension).

[2019-01-09 10:41] jakaruna-MSFT commented on #21962
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-09 10:42] jakaruna-MSFT commented on #21951
Thanks for the question! We are investigating and will update you shortly.

[2019-01-09 10:43] jakaruna-MSFT commented on #21958
Thanks for the question! We are investigating and will update you shortly.

[2019-01-09 10:53] bramvdklinkenberg opened #21965 "Setting PodSecurityPolicy before applying pod security contexts"
Hi, I was wondering if this functionality implies that the PodSecurityPolicy admission controller has been enabled for AKS and from which version?
If so, then the admin can create the PodSecurityPolicy (https://kubernetes.io/docs/concepts/policy/pod-security-policy/)?
With kind regards,
Bram

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-01-09 10:53] sergaz-msft commented on #21449
Thank you for your patience @SeaDude . We identified an issue on the path parameter thanks to your feedback and for now we decided to remove it from the doc until it is fixed (ETA mid-February). We apologize for the inconvenience and want to thank you all your time troubleshooting this with us.

I want to suggest the following alternative as of today: https://docs.microsoft.com/en-us/azure/azure-m

[2019-01-09 10:54] sergaz-msft commented on #21449
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-09 10:54] #21449 closed

[2019-01-09 10:55] dfencegit opened #21966 "Incorrect PEP Command"
The PEP command to get stack info is get-azurestackstampinformation not get-azurestackinfo (in 1809 at least).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cf7c779-041d-a232-b441-b769be1aaa67
* Version Independent ID: 620aa3f3-4351-5ad3-996e-38140d50f108
* Content: [Azure Stack datacenter integration - DNS](https://

[2019-01-09 10:56] algorni opened #21967 "Build and Push image now seems different on the latest version of Visual Studio 2017 tools"
Hi,

https://docs.microsoft.com/en-gb/azure/iot-edge/how-to-visual-studio-develop-csharp-module#build-and-push-images  at the step 4 (Right-click AzureIoTEdgeApp1 and select Build and Push Edge Solution to build and push the Docker image for each module.) now it seems different.

I can see two separated options:
"Build IoT Edge Modules" and "Build and Publish IoT Edge Modules"

---
#### Document d

[2019-01-09 11:03] BigBadPhysicist opened #21968 "Solution with multiple modules only usable if not ProjectReference is used"
Due to the placement of the dockerfiles inside of the modules, one cannot use

&lt;ItemGroup&gt;
    &lt;ProjectReference Include="..\ExternModule\ExternalProject.csproj" /&gt;
  &lt;/ItemGroup&gt;

to include a ClassLibary or something similar.

The local debug works fine, but "Build and Push Image" will break with the error message:

Skipping project "/ExternModule/ExternalProject.csproj"
/usr/s

[2019-01-09 11:04] SadiqhAhmed-MSFT commented on #21837
@rbouche, could you please help here?

[2019-01-09 11:17] KetanChawda-MSFT commented on #21926
@AlexanderLiuzm Looking at the code [here](https://github.com/Azure/azure-functions-microsoftgraph-extension/blob/master/src/MicrosoftGraphBinding/Services/ExcelService.cs#L111) it seems it is not getting `Microsoft.O365Bindings.values`. Can you please try the below snippet and let us know if that works.

[code]

[2019-01-09 11:18] shashishailaj commented on #21762
@tidug Thank you for providing details on the document . Please check the [AAP & Tableau document ](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-proxy-integrate-with-tableau) if that helps you . Please update us on this thread in case you have any further comments. We will have this article reviewed by the article owner for updating the content .

[2019-01-09 11:21] shashishailaj commented on #21762
@barbkess  Could you please review the article [AAP & Tableau document](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-proxy-integrate-with-tableau) and update the section which says "Some third-party applications like Tableau Server don't like this method of authenticating" as it seems that now Tableau is supported with AAP.

Thank you.

[2019-01-09 11:21] jomuld opened #21969 "Cancellation context is not clear"
Current text says "Refunds are limited to $50,000 per year". This results in two questions:
1. What is the scope for the 50k/yr? Is that per reservation? per enrollment? per subscription? per customer?
2. When I cancel a reservation that holds &gt; 50K, do I get 50K in year one and the rest in year 2 or is anything above 50k lost?

Thanks for this excellent document and the opportunity for me to g

[2019-01-09 11:22] ArvidBaa commented on #20351
I am the author of the original post in the MSDN forum, and I just wanted to make myself known. Also, I write this post so I will get notifications on further development.

Has there been any development regarding this? I would be happy to be able to automate the deployment process using the pipelines!

[2019-01-09 11:31] annegi commented on #17901
An application can have multiple pods. So, does this mean that all the application pods can use a single azure disk ?

[2019-01-09 11:33] djaus2 commented on #21915
Just did a complete re-setup from the top (of this page) and still get no edgeAgent module running.

Another issue, once you perform the first step in "Remove the IoT Edge runtime" docker is removed so the following commands that use docker don't work.

[2019-01-09 11:33] itorian commented on #20149
Alright, just posted it here https://feedback.azure.com/forums/169396-azure-media-services/suggestions/36481177-inserting-insertsilenceifnoaudio-and-insertblackif

[2019-01-09 11:40] djaus2 commented on #21915
Also
iotedge restart edgeAgent
fails
    [192.168.0.26]: PS C:\> iotedge restart edgeAgent
iotedge : A module runtime error occurred
    + CategoryInfo          : NotSpecified: (A module runtime error occurred:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError

        caused by:
Could not restart module edgeAgent
        caused by:
Client error

[2019-01-09 11:41] shashishailaj commented on #21710
@danmyhre Thank you for pointing that out . We have created an internal pull request for merging the changes . It will be rectified after review.

@curtand Hello Curtis , Could you please review the document and help process the proposed change as per this [request](https://github.com/MicrosoftDocs/azure-docs-pr/pull/62547).

[2019-01-09 11:41] PramodValavala-MSFT commented on #21731
@bikashkarmakar It seems the vscode task is timing out before the function host starts up.

Try setting a higher timeout in `.vscode/launch.json`

![image](https://user-images.githubusercontent.com/43602528/50897080-1765a080-1431-11e9-9892-2038fe83ea39.png)

[2019-01-09 11:41] SamirFarhat commented on #21952
Shouldn't be mentioned that the -g will not install the tools for every user?

[2019-01-09 11:49] djaus2 commented on #21915
We'll get to the bottom of this. Looks like its pulling the image but then it can't use it:
        9/01/2019 9:55:29 PM  info: edgelet_core::watchdog -- Checking edge runtime status
        9/01/2019 9:55:29 PM  info: edgelet_core::watchdog -- Creating and starting edge runtime module edgeAgent
        9/01/2019 9:55:29 PM  info: edgelet_core::watchdog -- Updating identity for module $edgeAgent

[2019-01-09 11:49] Toominator commented on #21873
Yes, I want to build my project using Azure DevOps.
So to build locally using the SA tool one needs to add a packages.config to the project, download nuget.exe and run Nuget restore.

[2019-01-09 11:53] djaus2 commented on #21559
This looks like the same problem I am getting. See "Check on logs mucks up iotedge service "

[2019-01-09 11:57] SadiqhAhmed-MSFT commented on #21960
@adithyaonline, thanks for question. Assigned this to our experts to clarify.

@bwren and @johnkemnetz, could you please help here?

[2019-01-09 11:59] shashishailaj commented on #21911
@johndowns Thank you for the detailed description of the issue you are facing . We will investigate and update this thread further.

[2019-01-09 12:00] EwanNoble commented on #20348
Exclusively? Or will ARM template support be delivered as well?

[2019-01-09 12:00] Futtrup87 commented on #21559
I tried running the Hello-World app and found out that Docker wasnt able to extract the imagas pulled from the source. I found out that a WatchGuard application was the cause of this. Im guessing the WatchGuard app was scanning the files While Docker tried to Extract them, so a Process trying to handle a file already in use by another process....

So when i changed the install script as mentioned

[2019-01-09 12:02] StevenLiekens commented on #21783
@hpsin I tried again with different credentials and apparently this does work with other accounts... just not the one that I use for testing.

[2019-01-09 12:07] SumanthMarigowda-MSFT commented on #20736
@bendodge-xwis Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review and  update the document as appropriate.

[2019-01-09 12:07] LarsCelie commented on #14133
This issue helped as I wanted to do exactly that, but didn't find it in the documentation.

[2019-01-09 12:11] neilbmclaughlin commented on #21474
I've created a repo with a working version of the sample with all the tweaks I needed to make and the gotchas I encountered documented in the readme.

https://github.com/neilbmclaughlin/durablefunctiontest

[2019-01-09 12:12] StevenLiekens commented on #21783
@hpsin I tried my original request again with different credentials and apparently consent does work with other accounts... just not the one that I use for testing.

I revoked all app permissions for the "broken" account, logged back in and now I do see all the expected scopes on the consent page... but it seems that the consent doesn't stick because I keep seeing AADSTS65001.

[code]

[2019-01-09 12:15] shashishailaj commented on #21908
@techresa Thank you for pointing the same. We will have it reviewed and edited internally .

Thanks.

[2019-01-09 12:16] ManojReddy-MSFT commented on #21744
@dcbrown16 I am checking in to see if the above answer was helpful. Let me know if you have any other questions.

[2019-01-09 12:17] padillah commented on #21795
After a support call with Andrew Setiawan <Andy.Setiawan@microsoft.com> I realized this is for CustomScriptExtension on a VM, not a VMss and they are different.

It may not be a bad idea to mention that in each article and cross-link to the other article in case others don't know the difference either.

This error can be ignored. I was using it wrong.

[2019-01-09 12:21] rkarlin commented on #21772
@pagrenin thanks for your contribution! I'm double-checking with the PM who wrote the article and will update you shortly.

[2019-01-09 12:29] kung-foo opened #21971 "batchCount expression"
Is it possible to make `batchCount` dynamic via a parameter?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 633f2967-1c61-51de-5787-a6ca7ac5bdae
* Version Independent ID: d2862926-36d8-4e84-0c93-afdef9e373e2
* Content: [ForEach activity in Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/control-

[2019-01-09 12:33] DaveRuijter commented on #16361
Thanks, that helped. TLDR: check the "time-generated-field" property. The sample code leaves it empty, removing it from the headers was the solution for me.

[2019-01-09 12:40] pixieheath opened #21973 "Folder Structure not showing obj folder"
Under the Folder Structure section of this article you have:

"The binding extensions required in version 2.x of the Functions runtime are defined in the extensions.csproj file, with the actual library files in the bin folder. When developing locally, you must register binding extensions. When developing functions in the Azure portal, this registration is done for you." -&gt; following the section

[2019-01-09 12:47] kung-foo opened #21974 "store function key in key vault"
Can this activity retrieve the `function key` from key vault rather than hard coding it in the linked service?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 965d9ab8-6b54-daba-9693-206845821d0c
* Version Independent ID: 08725018-92a0-6b2c-8130-6debcc535b7a
* Content: [Azure Function Activity in Azure Data Factory](htt

[2019-01-09 12:51] shashishailaj commented on #21772
@pagrenin We have verified this and a review is underway for document update .

[2019-01-09 13:04] jakaruna-MSFT commented on #21962
@pacambi Thank you very much for reporting.
When I added a secret text, Jenkins didn't show that secret text in the credentials drop down.
But when i added with username and password, It showed in the drop down. I tested in jenkins 2.150.1.
we know that access tokens can be used in place of passwords.
I am assigning this issue to the author to investigate further and update the documents as needed

[2019-01-09 13:04] PramodValavala-MSFT commented on #21952
@SamirFarhat I believe that would be out of scope for this document as its more related to the way `npm` works.

The global flag (-g) for `npm install` basically installs the node module into the folder defined in `npm`'s configuration with key `prefix`. You can check this value by running `npm config get prefix`.
In case of windows, it would be something like `C:\Users\<username>\AppData\Roaming\

[2019-01-09 13:10] su-jie commented on #21873
This tutorial https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-tools-visual-studio-cicd-vsts has the step by step intructions for how to use this nuget package in Azure DevOps. Please let us know if you need further help.

[2019-01-09 13:20] energetic-it opened #21976 "Documentation error - Powershell Az is not supported by the FileSync agent"
After you install the Azure PowerShell module: Az
You will get an error when you launch the File Sync Agent:

&gt;Retry server registration after performing the following actions:
&gt;Install the latest AzureRM PowerShell module by following the documentation: &gt;https://go.microsoft.com/fwlink/?linkid=856959.

I tried enabeling the "Enable-AzureRmAlias", but that does not work.
The only way to m

[2019-01-09 13:22] djaus2 commented on #21559
@Futtrup87 specifically which comment above are you referring to?
Thx

[2019-01-09 13:30] YASWANTHM-MSFT commented on #21976
@energetic-it, Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-09 13:42] pcolmer opened #21977 ""In Windows 10, only the primary account for the device can be used for settings sync" - not quite true"
The documentation states "In Windows 10, only the primary account for the device can be used for settings sync". This does not seem to be the complete picture. On Windows 10 devices where the primary account is a Microsoft account, if the user add a work or school account to the device (visible under Access work or school on Settings), typically through installing Office 365, then syncing breaks/s

[2019-01-09 13:45] rifaterdemsahin opened #21978 "We are unable to use the reverse proxy and getting the error after securing it"
I have an ON PREMISE setup.
We have configured service fabric with the reverse proxy and it is not responding.

The endpoint I get from the service fabric explorer works
http://10.0.4.175:56968/4cd0892d-be48-456b-ac39-5334e9525888/131913483344987537/a47a06bd-d192-467f-a388-98b412479bd0/definition/

This one does not work ( So I suspect the naming service /Reverse Proxy does not work )
http://local

[2019-01-09 13:48] rifaterdemsahin commented on #21978
asked to Mark
https://www.linkedin.com/in/mfussell/

Still having no progress we might need to pull the plug if we cant make SF work onpremise

[2019-01-09 13:51] davemedvitz opened #21979 "HTTP Proxy Config?"
I've been unable to get this to work in an environment that uses an HTTP proxy, instead getting a message stating that I have an Invalid IP address.  This message appears during the registration process, after providing a computer name.  The IP address on this machine is good.  I can validate by opening powershell and using Invoke-WebRequest to access both internal and internet based sources.  I c

[2019-01-09 13:52] rifaterdemsahin opened #21980 "Reverse proxy on premise not included here"
We are getting these errors and microservices are not working

https://localhost:19081/xxx.xxxx/WebApi/api/xxx/Authenticate?PartitionKey=1&PartitionKind=Int64Range, verb = POST, remote (client) address = ::1, resolved service url = http://10.0.4.230:56158/4cd0892d-be48-456b-ac39-5334e9525888/131913483489829291/ec2a4606-7ce7-45c9-84eb-8b7035fe8f03/api/Principal/Authenticate, request processing star

[2019-01-09 14:01] OffColour commented on #14687
This is a documentation error, not a product error.
For clarity, the samples should have
$rgNameVM and $rgNameVault

[2019-01-09 14:02] okaicomputer commented on #21814
I have the C drive followed by this 550 MB system partition, followed by the unallocated space.  Reducing the auto-calculated space does not help.  I have reduced it by as many as 10 gigs.  I have a case open with MS, the tech was not able to figure it out on 1/7, did not contact me on 1/8, and did not escalate per my request.  We are having issues deploying builds because of this problem.

[2019-01-09 14:04] sammosov commented on #8535
Yes please, check the docs, for example I came here from  https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-3rdparty-device-config-cisco-asa to check for detailed information on UsePolicyBasedTrafficSelectors.

[2019-01-09 14:06] narcis-pv commented on #12552
For anyone looking, correct v2 url can be found [here](https://login.microsoftonline.com/common/v2.0/.well-known/openid-configuration)

and more precisely:
`"issuer":"https://login.microsoftonline.com/{tenantid}/v2.0"`

[2019-01-09 14:10] ManojReddy-MSFT commented on #21784
@moojjoo I see that you are working with the support team regarding this and you have made lot of changes to the CA policiesin the past. Currently I see two polices in your tenant and I understand they are not being applied for the guest users.

Can you check the sign in logs of the guest users and check the Conditional access tab to see if the policy is getting applied or not in the logs. It shou

[2019-01-09 14:17] SumanthMarigowda-MSFT commented on #21374
@okrasz We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-09 14:17] #21374 closed

[2019-01-09 14:37] hjlarrea commented on #21529
@BryanTrach-MSFT we have just tried and it looks like it is still failing. We have deployed everything from a scratch, new app service plan, new web app and new app service certificate, but we are still experiencing the issue. If you can look into it, it would be awesome!

[2019-01-09 14:48] Wollno commented on #21793
I'm having a similar issue, though it may be caused by both mysql and mariadb resources sharing an IP address (all are CNAME entries to one domain), so multiple TLS connections to the same IP. Example: https://docs.microsoft.com/en-us/azure/app-service/troubleshoot-domain-ssl-certificates

[2019-01-09 14:57] washraf opened #21983 "Newtonsoft.Json.JsonSerializationException"
I am using the exact code of yours but I have an exception
Error converting value "Microsoft.ServiceFabric.Services.Remoting.V2.ServiceRemotingResponseMessageBody, Microsoft.ServiceFabric.Services.Remoting" to type '***.Serialization.JsonBody'. Path '$type', line 1, position 133.
Inner Exception: Could not cast or convert from System.String to ***.Serialization.JsonBody.

---
#### Document Details

[2019-01-09 15:03] Addisco opened #21984 "How to receive restricted claims"
I'm missing the information of how I can get the claims of the restricted claim set.
e.g. I'd like to get the `tenant_display_name` claim.

I found a similar [question on stackoverflow](https://stackoverflow.com/questions/46692756/azure-active-directory-returning-restricted-claims-set-when-creating-new-claim) without any answers.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2019-01-09 15:04] neeleshray commented on #21757
Let us know if this has worked for you or if you need further assistance.

[2019-01-09 15:07] vhorne commented on #18018
@ebashmakov
Content updated to add more info about pathpattern

[2019-01-09 15:13] woutervanranst opened #21985 "Add Key Forbidden"
Add-AzureKeyVaultKey results in "Forbidden" when following these exact steps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86b44bac-c760-a06d-e618-149f275e0d0e
* Version Independent ID: bcaaf53e-87c1-59aa-c51b-d3359ebb9046
* Content: [Encrypt disks on a Windows VM in Azure](https://docs.microsoft.com/en-us/azure/virtu

[2019-01-09 15:16] woutervanranst commented on #21985
WARNING returned in the previous command (New-AzureRmKeyVault): "WARNING: Access policy is not set. No user or application have access permission to use this vault. This can happen if the vault was created by a service principal. Please use Set-AzKeyVaultAccessPolicy to set access policies."

[2019-01-09 15:18] barclayn commented on #21655
@hhcakir Thank you for pointing this out. I have fixed the quick start article and it should be updated externally within 24 hours.

[2019-01-09 15:23] woutervanranst commented on #21985
The document mentions "For both protection models, the Azure platform needs to be granted access to request the cryptographic keys when the VM boots to decrypt the virtual disks." --> this is a bit light for a crucial step and should be elaborated (eg using the portal or powershell cmd)

[2019-01-09 15:29] MikeInSwitzerland opened #21986 "SqlPackage parameters"
The documentation for SqlPackage is a little lacking.  It took me a while to find what values are allowed for the "DatabaseServiceObjective" parameter....    And, it's a shame Azure doesn't let you do "Import database.." directly from a bacpac file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65a16702-87ad-4801-5171

[2019-01-09 15:34] femsulu commented on #21979
@davemedvitz Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-09 15:38] KetanChawda-MSFT commented on #21973
@pixieheath Thank you for your feedback! We will review and get back to you with our findings.

[2019-01-09 15:39] barclayn commented on #21655
#please-close

[2019-01-09 15:47] #21655 closed

[2019-01-09 15:51] pixieheath commented on #21973
@KetanChawda-MSFT - No problem, it might also be worth mentioning local.settings.json as well but I think this is a little more self explanatory.

[2019-01-09 15:55] femsulu commented on #21758
@imeya Here are the [steps](https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request) to raise a support tickets with Azure technical support. If you already have a support plan. If you don't, please send mail to AzCommunity@microsoft.com with your subscription ID and a link to this Github thread (for context) and we will assist you with engaging Azure techni

[2019-01-09 15:55] #21758 closed

[2019-01-09 16:00] SQLSteveT commented on #21371
Am not able to test right now as I’m traveling.

Have reviewed the steps you’ve added, and it looks a LOT clearer to me.

Thank you for your help.

From: Dina Berry <notifications@github.com>
Sent: Thursday, January 3, 2019 2:37 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Steve Thompson [MVP] <configmgrmvp@live.com>; Mention <mention@noreply.github.com>
Subject: Re: [Micros

[2019-01-09 16:01] StevenLiekens commented on #21783
@hpsin Here's what I'm seeing

**scope=api://xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/Identity** (renamed from user_impersonation)
![scope=Identity](https://user-images.githubusercontent.com/1583241/50910722-b0df8300-142e-11e9-8677-044e5cbeb7c5.png)

**scope=api://xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/.default**
![image](https://user-images.githubusercontent.com/1583241/50911203-a8d41300-142f-11e9-9a7d

[2019-01-09 16:04] AlekseySokol commented on #21643
Hello Marilee!
Thank you very much for provided guideline!

[2019-01-09 16:06] cconrado commented on #17092
@jason-j-MSFT can this issue be updated to see if the rewrite is happening?

[2019-01-09 16:13] areddish commented on #21521
@GeisaFaustino, thanks for the feedback.

The iteration_id is optional only if you set a **default iteration.** Otherwise a valid iteration id must be passed in so that the endpoint can load the correct iteration. It's returning NotFound because it can't find a default iteration - but the error message could be clearer and we'll look into it.

In the training section of the referenced QuickStart t

[2019-01-09 16:23] TracyGH opened #21987 "Is it possible to use app-only authentication for Azure Logic App connectors?"
A response to the thread below implies that it is possible, but if so, I cannot figure out how to achieve it via the Logic App designer.  If it is not possible, do you have suggestions for how to get around MFA?

https://stackoverflow.com/questions/44540147/logic-app-o365-connector-multi-factor-authentication

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-01-09 16:24] sergaz-msft commented on #21967
Thanks for the feedback @algorni ! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-09 16:24] #21872 closed

[2019-01-09 16:31] Cupovboy opened #21989 "Automated partitioning"
Is there any snippet available for parallel indexer or are there any plans to make a built in feature for the parallel indexer? @HeidiSteen @nsschonni

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e990abaf-1e21-6de6-c6e8-fecf49e6cf23
* Version Independent ID: 55fdf842-baf2-7c13-7332-76907a1cc0ca
* Content: [Index larg

[2019-01-09 16:33] GeisaFaustino commented on #21521
Hi Andrew,

Thank you so much for the explanation. 😊

Regards,
Geisa

From: Andrew <notifications@github.com>
Sent: Wednesday, January 9, 2019 2:30 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Geisa Faustino <Geisa.Faustino@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Problems using the default prediction endpoint (#21521)

@Ge

[2019-01-09 16:37] orspod commented on #20454
@guthubavi Thank you for your feedback. Sorry for the delayed response due to holidays. You can find additional documentation on your question regarding the various symbols at: https://docs.microsoft.com/en-us/azure/kusto/query/datatypes-string-operators

[2019-01-09 16:47] roygara commented on #21964
@TomasHubelbauer thank you for taking the time to reach out! I don't think that the docs need to be that explicit on every point, as you yourself noted it makes sense as-is. But, I do think the doc can be improved by explicitly highlighting that the value of either key1 or 2 are suitable for `AZURE_STORAGE_ACCESS_KEY`. This would also have the benefit of the implicit notion that the `AZURE_STORAGE

[2019-01-09 16:49] rifaterdemsahin opened #21990 "Where is the standalone installer ?"
we need to install on-premise cannot locate the on-premise installer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23e79576-36ff-8e39-9d21-adc897608b73
* Version Independent ID: bb904115-2166-6871-6347-0941dbb32d2a
* Content: [Set up a Windows development environment for Azure microservices](https://docs.microsoft.co

[2019-01-09 16:57] cherylmc commented on #21527
Hi @sbdoroff - Thanks for the suggestion. We have it on the list to add portal steps to a different article once this is out of preview. This particular article is specifically PowerShell and won't contain portal steps.

[2019-01-09 16:58] cherylmc commented on #21527
#please-close

[2019-01-09 16:59] AmanGarg-MSFT commented on #21840
@imeya We are going to close this thread but if there are any questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-01-09 16:59] #21840 closed

[2019-01-09 17:07] hhcakir commented on #17233
As __Lroca88__ and  __xcruzz__ asked before:
How to run the Node.JS webapp locally?

[2019-01-09 17:08] diberry commented on #20746
@meghanahickey I was wondering what scenario you had in mind for the containers? Are you hoping to have a load balanced group of LUIS containers? Can you give me an idea of what you container plan was?

[2019-01-09 17:14] cherylmc commented on #6261
Here we go, from Jared on the product team: ASM to ARM migration is in the same subscription. Cross subscription is not supported – see below.

https://docs.microsoft.com/azure/azure-resource-manager/resource-group-move-resources#services-that-cannot-be-moved

[2019-01-09 17:15] iainfoulds commented on #21842
Sorry there's confusion. I can review the current text, but the wording seems quite specific in that you specify a name for a resource group, and the Azure platform then creates a second prefixed with _MC__

@jakaruna-MSFT For now, #please-close

[2019-01-09 17:18] g-dupuis opened #21991 "Test U-SQL scripts - are these instructions valid for the latest version of VS 2017 (15.9.5)?"
Test U-SQL scripts - are these instructions valid for the latest version of VS 2017 (15.9.5)? I did a fresh install of VS 2017 this morning including the Azure Data Lake tools but I'm not seeing "Create Unit Test" in the context menu and my project properties are missing the "U-SQL Local Run" section as shown in the screenshot above. My installed components are as follows...

Microsoft Visual Stud

[2019-01-09 17:24] DLN-India commented on #20171
Unable to ssh into a newly created VM, reasons same as the error above. It just goes to an infinite loop of entering code at devicelogin

[2019-01-09 17:31] Mike-Ubezzi-MSFT commented on #20454
@githubavi I hope this provides you the clarification you are seeking. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-09 17:31] #20454 closed

[2019-01-09 17:34] MicahMcKittrick-MSFT commented on #21978
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-09 17:36] MicahMcKittrick-MSFT commented on #21990
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-09 17:37] diberry commented on #20746
Continuing conversation offline. #please-close

[2019-01-09 17:37] MicahMcKittrick-MSFT commented on #21969
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-09 17:39] MicahMcKittrick-MSFT commented on #21980
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-09 17:40] MicahMcKittrick-MSFT commented on #21965
Thanks for the question! We are investigating and will update you shortly.

[2019-01-09 17:43] bearrito opened #21992 "Applicability to SDK's"
It is not obvious from the docs that this functionality is not available for all Cosmos SDK's and in all languages. It would be helpful if those limitations were spelled out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae1b1c71-a8ca-2bba-202e-f74a9414ced4
* Version Independent ID: 65ce6b13-2e3d-39ea-167a-ebdc1864f66

[2019-01-09 17:44] MicahMcKittrick-MSFT commented on #21795
@padillah ah okay. I did not realize you were using VMSS. Yes the two are different. Cross linking is a good idea.

[2019-01-09 17:51] nadaraj15 opened #21993 "CreationDataCreateOption paramater not working."
On Step 4:Create a managed data disk from the data VHD file and add it to the new VM, "-CreationDataCreateOption" paramater is not working. I had to replace it with "-CreateOption"

Please find the working command below:

$dataDisk1 = New-AzureRmDisk -DiskName $dataDiskName -Disk (New-AzureRmDiskConfig '
-AccountType Premium_LRS -Location $location -CreateOption Import '
-SourceUri $dataVhdUri ) -

[2019-01-09 17:51] lostromb opened #21994 "No category on feedback.azure.com for speech service or cognitive services"
I want to leave product feedback by following the link that says "Product feedback" but it takes me to Azure general feedback and there doesn't appear to be any specific category for this speech service, only for the Bing speech API, and even that is hard to find

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6021ebc-

[2019-01-09 17:56] poortom1004 commented on #10120
+1, I had the same problem with G Suite.

[2019-01-09 17:56] MicahMcKittrick-MSFT commented on #21993
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-09 17:57] lostromb opened #21995 ""audio/ogg; codec=audio/pcm; samplerate=16000" should be "audio/ogg; codecs=opus""
I'm pretty sure the "codec=audio/pcm" is a typo and is meant to be "codecs=opus", following the RFC spec: https://tools.ietf.org/html/rfc7845#section-9

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6021ebc-4b2a-fbb3-84a4-1753b80442c3
* Version Independent ID: 4af2b683-7cc6-3aa4-eeb5-cf5a087094d1
* Content: [Speech Se

[2019-01-09 17:59] Mike-Ubezzi-MSFT commented on #21986
@MikeInSwitzerland Thank you for your interest in Azure cloud services. You have a couple things going on here. Firstly, all the `sqlpackage` parameters can be found with the following document: [SqlPackage.exe](https://docs.microsoft.com/en-us/sql/tools/sqlpackage?view=sql-server-2017)
It is possible that the "Import a BACPAC fie..." document could use a link to the SqlPackage.exe document for re

[2019-01-09 18:00] tobrienultima opened #21996 "PowerShell null SKU"
Using the PowerShell commands listed gives an error that the SKU cannot be a null value when setting the licence type. By default the SKU property is however null. As a workaround the CLI commands work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2600a44-9090-4144-b91d-326b027e617b
* Version Independent ID: 329fdb8

[2019-01-09 18:02] MicahMcKittrick-MSFT commented on #21990
@rifaterdemsahin it is in this doc.

https://www.microsoft.com/web/handlers/webpi.ashx?command=getinstallerredirect&appid=MicrosoftAzure-ServiceFabric-CoreSDK

You install the SF SDK installer and it will install everything you need to be able to create a local cluster. Such as installing the Service Fabric Local Cluster Manager. Once installed you can spin up a cluster and deploy apps using Visua

[2019-01-09 18:02] lostromb commented on #21995
Also, fixed sample rates and channel count are a bit nuanced when speaking about Opus audio because the decoder can choose whatever sample rate and channel count it wants from any input file, so it's not really reasonable to enforce a very specific input format on the encoder.

[2019-01-09 18:02] Karishma-Tiwari-MSFT commented on #21842
@sanjaiganesh We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-01-09 18:02] #21842 closed

[2019-01-09 18:03] Karishma-Tiwari-MSFT commented on #21527
@sbdoroff  We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-01-09 18:03] #21527 closed

[2019-01-09 18:03] Mike-Ubezzi-MSFT commented on #21986
@MikeInSwitzerland Please be aware of the [Limitations](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-import#limitations) of importing a .bacpac file to an elastic pool.

[2019-01-09 18:03] Karishma-Tiwari-MSFT commented on #21371
@SQLSteveT We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-01-09 18:03] #21371 closed

[2019-01-09 18:05] OffColour opened #21997 "Microsoft Monitoring Agent"
How do these tie in with the Microsoft Monitoring Agent referenced in the Security Center Documentation? https://docs.microsoft.com/en-gb/azure/azure-monitor/platform/agents-overview

So many agents, extensions and rebranding that it's getting very confusing.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4753b2c-fb13

[2019-01-09 18:06] MicahMcKittrick-MSFT commented on #21980
Duplicate of #21978

[2019-01-09 18:06] #21980 closed

[2019-01-09 18:08] Alberto-Vega-MSFT commented on #21774
It makes sense. I have assigned the issue to the content author @shizn to evaluate and update the documentation as appropriate.

[2019-01-09 18:08] Karishma-Tiwari-MSFT commented on #21959
Thanks for the question. We are currently investigating and will update you shortly.

[2019-01-09 18:09] lostromb opened #21998 "Latency for finishing speech recognition regresses terribly compared to bing speech API"
Don't know where else to put this feedback, but anyways....
Even though the bing speech API and azure speech API use a very similar structure and underlying protocol, I have noticed that the latency when fetching the final speech response is much higher on the newer azure API. Specifically, these are the numbers I measure:
Bing Speech API
50th percentile: 45ms
Average: 112ms

Azure speech API (goi

[2019-01-09 18:10] MicahMcKittrick-MSFT commented on #21996
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-09 18:12] cynthn commented on #21993
@nadaraj15 Thanks for the feedback! Yes, it looks like the parameter name changed and it didn't get changed for that line. I'm updating and re-testing the doc. Hopefully the fix will publish late today. Thanks again!

#please-close

[2019-01-09 18:16] andrewkittredge commented on #6753
The indenting in this example is incorrect, therefor the example does not work.

[2019-01-09 18:22] tchristiani commented on #21521
#please-close

[2019-01-09 18:23] rjohnson318 commented on #21888
@MSSedusch I deployed the RHEL VM through the portal (RHEL 7.6). Configured the cluster using this document [https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/high-availability-guide-rhel-pacemaker]

specifically using this command to create it:
`
![image](https://user-images.githubusercontent.com/8972701/50919792-ca260680-1411-11e9-898c-1aa71a657c84.png)
`

[2019-01-09 18:26] Shell32-Natsu opened #21999 "Do you plan to support pure internal load balancer for standard_v2 sku?"
I know that currently standard_v2 sku must have a public IP address to work. But we want to use it as a pure internal load balancer. Do you have a plan to support this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: faa5b8a2-11a1-6a2d-07cb-ffcf39643ed4
* Version Independent ID: 298a134e-fb27-f16d-bff2-d43eb0f766fd
* Co

[2019-01-09 18:30] troyhopwood commented on #20047
@JetstreamRoySprowl indeed this doc is talking about the schema for a simulated device. Whether you are using Remote Monitoring or Device Simulation, both use this schema to define the capabilities for a simulated device. Physical devices typically don't need a schema defining the capabilities, but you could certainly use this as a starting point if needed.

"DateTime" is the proper spelling for t

[2019-01-09 18:32] shizn commented on #21774
@BigBadPhysicist  The project in VS always requires the *.sln and extra files to work. Specifically for IoT Edge projects, there are some slight differences between VS solution folder structure and VS Code solution folder structure.

VS IoT Edge solution folder structure
- AzureIoTEdgeApp1 Folder
    - AzureIoTEdgeApp1.iotedgeproj
    - deployment.template.json
- [Optional] AzureIoTEdgeApp2 Folder

[2019-01-09 18:32] Karishma-Tiwari-MSFT commented on #21786
@brandonwatts We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-01-09 18:32] #21786 closed

[2019-01-09 18:33] SumanthMarigowda-MSFT commented on #21957
@kazshi Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-09 18:34] Grace-MacJones-MSFT commented on #21989
Hi @Cupovboy, thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-09 18:36] daveabrock opened #22001 "Update 'Indexes' view with up-to-date screenshots"
Excellent work on this one. As hard as it is to keep up with Azure UI changes, I did notice that the 'Indexes' View looks a little different now.

For example, when you say `Scroll to the bottom of the list to enter a new field`, that is no longer true as there is not an `Add/Edit Fields` button at the top.

![image](https://user-images.githubusercontent.com/275862/50920531-3d784a00-140b-11e9-87ac

[2019-01-09 18:38] Karishma-Tiwari-MSFT commented on #14757
@anirudhcavale @femsulu Can either of you please share your insights on the customer's questions. Thanks. :)

[2019-01-09 18:42] sergaz-msft commented on #21968
Thanks for the feedback @BigBadPhysicist . Can you detail on which step of this tutorial do you get an error? If you are not following the tutorial as is I would ask you to open an issue directly on iotedge repo [here.](https://github.com/Azure/iotedge/issues)

Thanks!

[2019-01-09 18:43] Karishma-Tiwari-MSFT commented on #14687
@mestew Can you please take a look. Thanks. :)

[2019-01-09 18:44] Karishma-Tiwari-MSFT commented on #21860
@roiyz-msft Can you please help confirm on this one? Thanks. :)

[2019-01-09 18:45] YutongTie-MSFT commented on #21892
@wolfma61 Hi Wolfgang, I tried to reproduce the bug and followed the whole document, but I can see a error:
![image](https://user-images.githubusercontent.com/38084098/50920948-9e982180-13fb-11e9-8d29-122a8b060493.png)
Can you please help to check if there anything I am doing wrong? Thanks.

[2019-01-09 18:52] Grace-MacJones-MSFT commented on #21961
Hi @imeya, Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-09 18:52] Karishma-Tiwari-MSFT commented on #20171
@DLN-India Did you get a chance to try the solution that solved the issue for the original poster? Let me know.

[2019-01-09 18:54] xizhengszhang opened #22003 "Behavior of output when used with Text Split?"
When document/content has more than 50000 characters, a way to feed it to Key Phrase Extraction is to use text split, and run Key Phrase Extraction for each page. Let's assume there are n pages. There are two options for output:
1. output to /document/pages/*/
In this case, there are n output arrays. When flatten all these arrays to an index field, there may be duplicate elements.
2. output to /do

[2019-01-09 18:54] iainfoulds commented on #21962
I've just ran through this tutorial and it works correctly. The instructions don't indicate to select your credentials from the drop-down menu after adding the 'Secret text' PAT from GitHub as aren't needed for the current flow of the tutorial. They're shown as option, but if your repo was private, then yes, you'd likely need to change this given the way Jenkins currently handles them. I'm going t

[2019-01-09 18:55] mike-urnun-msft commented on #21987
Hi @TracyGH Thank you for your feedback! We will review and update as appropriate.

[2019-01-09 18:58] crpietschmann opened #22004 "How does async/await affect the execution timeout limit for Consumption plan?"
The documentation isn't clear on how the use of asynchronous programming (ala async/await keywords) affects the execution timeout. Sure a function has default execution timeout of 5 minutes with Consumption plan, but when I use "await" to call an external, third-party REST API and it goes for 2 minutes before returning back a response and resuming execution of my function, does this 2 minutes coun

[2019-01-09 19:01] MarekLani commented on #21785
@KingdomOfEnds thanks for code sample, when browsing the repo I must have overlooked it.

[2019-01-09 19:04] MarekLani commented on #20563
It is perfectly clear now. Thank you :)

[2019-01-09 19:06] axayjo commented on #21959
Thanks @loopfish for your question. The image definition is only a placeholder and is not an image with which you can create a VM. You need to create an image version under the image definition that'll take managed image as an input. Once you have that, you can create a VM, share it with other users in different subscriptions who can then use it as well.

Hope that clears things up!

[2019-01-09 19:09] vhorne commented on #21779
@pcnate

Ya, this issue is a product of how all the various shells handle quotes differently. So, for example, in PowerShell the command looks  like this:

az vmss extension set --publisher Microsoft.Azure.Extensions --version 2.0 --name CustomScript --resource-group myResourceGroupAG --vmss-name myvmss --settings '{ \"fileUris\": [\"https://raw.githubusercontent.com/Azure/azure-docs-powershell-sa

[2019-01-09 19:09] AjayKumar-MSFT commented on #21815
@blarsonrp, Glad that the information was helpful. We will close this out but if you feel you need more information please just let us know.

[2019-01-09 19:09] #21815 closed

[2019-01-09 19:10] HeidiSteen commented on #21989
@Cupovboy there are no snippets or samples for this specific scenario, but the idea is that you would partition data in your external data source (table1, table2, table3), and then create an Azure Search "Data Source" that provides a connection string to each one. You would then pair those data sources with an indexer (or multiple indexers, one for each data source).  The indexers should all point

[2019-01-09 19:12] #21993 closed

[2019-01-09 19:13] aljo-microsoft commented on #19766
@rwike77 @Liversage @hellkama @MicahMcKittrick-MSFT

Only MSFTE can provision any Azure domain certs

The following is a user asking the same questions:

https://github.com/MicrosoftDocs/azure-docs/issues/20918

and I provide steps to buy a GoDaddy Domain, provision a DNS Zone, update Name Servers, and create alias records for your custom domain.

[2019-01-09 19:13] #21521 closed

[2019-01-09 19:13] MohitGargMSFT commented on #21977
@pcolmer Thanks for your feedback! We will investigate and update soon on it.

[2019-01-09 19:14] TravisCragg-MSFT commented on #21863
@arkein Let me verify that and get back to you.

[2019-01-09 19:15] #21962 closed

[2019-01-09 19:21] MohitGargMSFT commented on #21984
@Addisco Thanks for your feedback! We will investigate and update soon on it.

[2019-01-09 19:22] kgremban commented on #21915
@djaus2 There's a lot going on in this issue and I'm going to try and address everything you've mentioned, but if I forgot any pieces please let me know.

For unblocking your most recent status update, I've heard from some other users that the current installation bits are buggy on IoT Core. Download https://raw.githubusercontent.com/alextnewman/iotedge/3b87d6805fed1e2bdc74dc6f2d3f45cfea328b3e/scr

[2019-01-09 19:23] Anmolgan81 commented on #21565
Hi @Mike-Ubezzi-MSFT @CarlRabeler Any updates on the FedRAM Compliance's from the PG team?

[2019-01-09 19:23] Mike-Ubezzi-MSFT commented on #21992
@bearrito Thank you for your feedback. I did some looking around and the get/set TTL is available in the [Java SDK](https://docs.microsoft.com/en-us/java/api/com.microsoft.azure.documentdb.document.gettimetolive?view=azure-java-stable) for Cosmos DB. I could not find anything for Nodejs related to [Document methods](https://docs.microsoft.com/en-us/javascript/api/%40azure/cosmos/document?view=azur

[2019-01-09 19:25] g-dupuis commented on #21991
To anyone that also runs into this, please make sure that your "Azure Data Lake and Stream Analytics tools" are updated via Tools -> Extensions and Updates -> Updates. I found that the fresh VS 2017 install didn't seem to bring along the latest version. After updating, I'm now seeing the "Create Unit Test" context menu option.

[2019-01-09 19:25] #21991 closed

[2019-01-09 19:28] psoukal-ms opened #22006 "MultipleConnectistopOnons - incorrect setting"
In step 6 of https://docs.microsoft.com/en-us/azure/security-center/security-center-enable-data-collection#manual-agent-provisioning-a-namemanualagenta

The following setting is incorrect:

"MultipleConnectistopOnons": true

it should read:

"stopOnMultipleConnections": true

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-01-09 19:29] jcbrooks92 opened #22007 "Sampling may affect seeing all the executions of the timer"
A short blurb indicating the log sampling may cause some the executions to not show up in the monitor blade. There have been a number of issues reported where sampling was the cause of executions not showing up in Application Insights.

https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#applicationinsights

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2019-01-09 19:30] isaac73 commented on #9105
@rbrundritt If Azure Maps is not supported in certain countries, the map should show that message to the user. In other words this exception needs to be handled in a proper way and throw a user friendly message. Is this something in your to-do items?

The reason I ask for this change is because as a end-user, I'll be waiting for the map to load not knowing that  azure maps is not supported in my a

[2019-01-09 19:30] MicahMcKittrick-MSFT commented on #21930
@pltillman this doc might help explain

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-reliable-collections-transactions-locks#locks

Basically, you would see timeouts. So operations not completing and returning timeout errors.

[2019-01-09 19:35] TravisCragg-MSFT commented on #21999
@Shell32-Natsu If you would like us to implement this feature in the future, [please Leave your Feedback Here](https://feedback.azure.com/forums/217313-networking?).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-09 19:35] #21999 closed

[2019-01-09 19:39] #22004 closed

[2019-01-09 19:44] MicahMcKittrick-MSFT commented on #21965
@iainfoulds @seanmck could either of you comment/ confirm on this ask?

[2019-01-09 19:46] MikeDodaro commented on #21693
Fixed in PR #62553  Published this morning.

[2019-01-09 19:50] MicahMcKittrick-MSFT commented on #21978
@rifaterdemsahin have you checked our reverse proxy doc to see if it helps?

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reverseproxy-configure-secure-communication

If you remove the cluster and redeploy a new one do you get a consistent error?

@aljo-microsoft any suggestions on this?

[2019-01-09 19:51] mike-urnun-msft commented on #22004
@crpietschmann Nice! Glad to hear it, and thank you for sharing this answer! Surely, it'll benefit others visiting this thread who may have the same question.

[2019-01-09 19:51] Karishma-Tiwari-MSFT commented on #21768
@biren1234 We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-01-09 19:51] #21768 closed

[2019-01-09 19:51] SeaDude commented on #21449
Hi @sergaz-msft . Thank you for the response. Do you have a fix for the basic vs. hybrid issue shown a couple replies up? See how the land west of the points mentioned "disappears"?

[2019-01-09 19:52] MicahMcKittrick-MSFT commented on #21983
@washraf can you point me to the point in the doc that you are referring to? This doc has multiple samples so not sure exactly which code you are referring to.

[2019-01-09 19:54] Karishma-Tiwari-MSFT commented on #21848
@reubenrajan Can you please share the doc you have been following so that we can direct the question to the right team? Thanks.

[2019-01-09 19:54] MashaMSFT commented on #21996
Hi @tobrienultima , thanks for your feedback! Are you  using PowerShell to register with the resource provider, or are you using PowerShell to switch the license?  Would you mind sharing the code you're running, and the error you're getting please? Thanks!

[2019-01-09 19:55] #21760 closed

[2019-01-09 19:56] YutongTie-MSFT commented on #21693
@MikeDodaro Thank you Mike.
@lbacaj We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-01-09 19:56] #21693 closed

[2019-01-09 19:57] anirudhcavale commented on #14757
@DJChamp how are you collecting these memory metrics? Using an agent? Or are you asking if VMs make this metric available by default?
@allanalewis How did you submit the memory metrics? Using Telegraf?

[2019-01-09 20:01] wolfma61 commented on #21892
will investigate

[2019-01-09 20:02] cynthn commented on #21906
@hahazeMSFT Thanks for the feedback! I broke that sections up and added some text to be clearer about only needing to do the format and partition on a new disk (and don't do it on an existing disk with data). Hopefully that makes it clearer :) Thanks again!

#please-close

[2019-01-09 20:02] justinhauer opened #22009 "Clean up resources clarification"
In the cleanup resources section, is `adf_client.factories.delete(rg_name,df_name)` supposed to go under main? adf_client isnt imported anywhere so no sure where this should go......

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06b12410-3d72-8cc9-be6c-3b8e8521b90d
* Version Independent ID: 9ef477fb-8321-4763-d340-0fe

[2019-01-09 20:04] YutongTie-MSFT commented on #21998
@lostromb
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@wolfma61
Hi Wolfgang, can you please check this issue? Please tell me if there is a specific product group folk I should assign. Thank you.

[2019-01-09 20:07] BryanTrach-MSFT commented on #21529
@hjlarrea troubleshooting this further would require sharing publicly identifiable information. To avoid that on a public forum, can you please email us at azcommunity@microsoft.com and provide us with your custom domain, subscription ID, and the URL of this forum post? We look forward to your reply.

[2019-01-09 20:16] MGoedtel commented on #21860
@mchmelaroriflame - The Set-AzureRMVMExtension is only intended to install the VM Extension for Log Analytics agent and not configure it afterwards to report to another workspace or a different one.  To do that you would use some PowerShell code, Azure Policy, or you could consider using Azure Automation DSC to accomplish this.  The PowerShell code would look something like this -

$workspaceId =

[2019-01-09 20:18] cynthn commented on #21746
@nellyontour thanks for the feedback! I've incorporated the fixes that @jakaruna-MSFT proposed. Thanks again!

#please-close

[2019-01-09 20:20] YutongTie-MSFT commented on #21995
@lostromb
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@erhopf
Hi, can you please check it and update the document as necessary? Thanks a lot!

[2019-01-09 20:28] amitlalaawaz opened #22011 "Details about Migrations"
Nice Document - some typos found in document

Pilot Phase (Optional) Section 2 (2 times Export)
Export Export, Export file upload

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1d03d98-260b-ac9a-ee54-f702562dcf08
* Version Independent ID: 73aacf2e-44c7-b84c-cc3e-269e9cf2a999
* Content: [SAP workload planning and deplo

[2019-01-09 20:32] YutongTie-MSFT commented on #21994
@lostromb Thanks for your feedback Logan. For now, you can put it in General Feedback page. I will ask for more information and forward your feedback to Product team.

@noellelacharite  Hi Noelle, Do we have any plan for specific bucket about Cognitive Service in Feedback page, or using General Feedback page is good?

[2019-01-09 20:33] spelluru commented on #19921
@ahofman - I have updated the article. Thank you!

#please-close

[2019-01-09 20:34] benstott-eduserv commented on #21081
@roygara Was this looked into? I have the latest version of the AZ module and am getting the following error:

PS C:\WINDOWS\system32> $queue.CloudQueue.AddMessage($QueueMessage)
Method invocation failed because [Microsoft.WindowsAzure.Storage.Queue.CloudQueue] does not contain a method named 'AddMessage'.
At line:1 char:1
+ $queue.CloudQueue.AddMessage($QueueMessage)
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2019-01-09 20:34] #21906 closed

[2019-01-09 20:35] #20746 closed

[2019-01-09 20:35] CarlRabeler commented on #21565
No, not yet.

From: Anmolgan81 <notifications@github.com>
Sent: Wednesday, January 9, 2019 12:28 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Carl Rabeler <Carl.Rabeler@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Any Compliance information around Azure Managed Instance? (#21565)

Hi @Mike-Ubezzi-MSFT<https://nam06.safelinks.pr

[2019-01-09 20:35] benstott-eduserv commented on #21083
@roygara Was this looked into? I have the latest version of the AZ module and am getting the following error:

PS C:\WINDOWS\system32> $queue.CloudQueue.GetMessage($invisibleTimeout)
Method invocation failed because [Microsoft.WindowsAzure.Storage.Queue.CloudQueue] does not contain a method named 'GetMessage'.
At line:1 char:1
+ $queue.CloudQueue.GetMessage($invisibleTimeout)
+ ~~~~~~~~~~~~~~~~~~~

[2019-01-09 20:36] mhoeger opened #22012 "[Azure Functions] Clarify Function app == unit of deployment"
In our developer guide in the [section about function apps](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference#function-app), we should make it explicit that the function app is the expected unit of deployment.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7aff040c-9c09-c184-d0e7-fb3bbb80ceec
*

[2019-01-09 20:40] benstott-eduserv commented on #21083
Sorry, above final line should read:
Using GetMessageAsync as referenced by @Agazoth and which is available, is the only way I can retrieve a message from the queue, but this does not include the message text (AsString).

[2019-01-09 20:41] HeidiSteen commented on #22001
Hi Dave! Good to hear from you.  Can you tell me what region your service is provisioned in?  My UI looks different.  Not sure if they are doing A-B testing or what but I don't have usage tiles on my index page, and I don't have an Add/Edit field command either...

[2019-01-09 20:48] peter-foreman opened #22014 "Out of date"
This article appears to be out of date with respect to the changes to Monitor and Activity Logs as of Jan 2019.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbec33b5-f832-874c-5800-b147d1a9c49c
* Version Independent ID: 67418df5-5fad-5c31-b38f-71f5a8c8abe0
* Content: [Archive Azure metric and log data using Azure Sto

[2019-01-09 20:56] vhorne commented on #21779
@pcnate
Oops. The escape character didn't make it through the previous post. Hopefully this works better:

`az vmss extension set --publisher Microsoft.Azure.Extensions --version 2.0 --name CustomScript --resource-group myResourceGroupAG --vmss-name myvmss --settings '{ \"fileUris\": [\"https://raw.githubusercontent.com/Azure/azure-docs-powershell-samples/master/application-gateway/iis/install_ngi

[2019-01-09 20:56] rbrundritt commented on #9105
This isn't possible as the platform as a whole is blocked at the DNS level and nothing is sent to the client. That said, most countries will become unblocked in the near future and this won't be an issue anymore.

[2019-01-09 20:57] cynthn commented on #21513
@bshurts thank you for the feedback! Shared Image Galleries are still in preview, so the docs are somewhat bare at this point. We will be releasing more content as this moves to GA. For now, I've removed the line about deleting resources, since it isn't in the docs yet. I'll add it back when we add in more content around managing the galleries. Thanks again!

#please-close

[2019-01-09 20:59] shizn commented on #21967
This is an UI issue in VS extension we need to have a fix. @erich-wang

[2019-01-09 21:00] iainfoulds commented on #21965
The best practices article details using pod security contexts, which are a little different than pod security policies. Policies are cluster wide and enabled at the API server level, so yes, require the use of admission controller. Pod security policies are on the upcoming roadmap, but aren't currently available in AKS.

[2019-01-09 21:02] billmath commented on #15615
Yes, Edge currently is not supported.  We will update the document once it is.  Thanks.

#please-close

[2019-01-09 21:06] kgremban commented on #20563
@Alberto-Vega-MSFT would you #please-close this issue as resolved?

[2019-01-09 21:09] KumudD commented on #21789
Thanks for noticing this, @tjprescott. The image rendering issue should be fixed in the next publish cycle this week.

#please-close

[2019-01-09 21:10] MohitGargMSFT commented on #22006
@psoukal-ms Thanks for your feedback! We will investigate and update soon on it.

[2019-01-09 21:11] MicahMcKittrick-MSFT commented on #22011
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate as I am not sure if this is intentional or not.

CC @cynthn

[2019-01-09 21:13] billmath commented on #15759
@NileshGhodekar I have taken this item in-house and hopefully will have this addressed by next month.  At this point, we can go ahead and close this issue and I will re-open it with an update once the information is available in he Azure AD Connect library.  Thanks!

#please-close

[2019-01-09 21:18] billmath commented on #16150
Following up with engineering.

[2019-01-09 21:19] daveabrock commented on #22001
Hey, Heidi - likewise! That's very interesting - I didn't think of that. My search service is in the South Central US region.

[2019-01-09 21:21] christiankuhtz commented on #21776
Basic LB does not have an SLA.  It's a free resource.
Standard LB does have an SLA.  It's a billed resource.

The reference to the VM SLA was added a while back through a proposed edit.  I will back it out since it seems to be causing more confusion than it helps.

[2019-01-09 21:25] badalk opened #22017 "Two factor authentication"
RBAC with Azure AD works but in our case Azure AD is integrated with PingID for two factor authentication. In that case the authentication flow is not returning the token back and Kunbernetes is asking the end user to login again on device login with newly generated code. What might be going wrong and Do I have to configure anything elsewhere? Please note, we have similar pattern implemented for J

[2019-01-09 21:33] jontreynes opened #22018 "Recovery Plan Context Description"
Recovery Plan Context description here (https://docs.microsoft.com/en-us/azure/site-recovery/site-recovery-runbook-automation#considerations-for-adding-a-script) does not show the allowed values.

For example. FailoverDirection simply says "Specifies whether recovery is to a primary or secondary site." with an example  "FailoverDirection":"PrimaryToSecondary",

I assume that the value for Failover

[2019-01-09 21:35] ppatino commented on #19426
@jasonavocette in case this adds more useful info for you / anyone else experiencing this problem: invitations suddenly started working for the user / organization we were having problems with. We had re-generated invitations ~20-30 days ago when I initially commented on this ticket, and got the same error every time. This time around, the user simply accepted their latest invite from 20 days ago,

[2019-01-09 21:36] Karishma-Tiwari-MSFT commented on #22012
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-09 21:36] erhopf commented on #21995
As this references the code base, please confirm with @PanosPeriorellis. If the proposed change indeed works I’ll update the documentation accordingly. Thanks!

[2019-01-09 21:37] #21746 closed

[2019-01-09 21:38] #21513 closed

[2019-01-09 21:38] #19921 closed

[2019-01-09 21:38] kgremban commented on #14719
@gauravagarwal28 I updated the quickstart articles to include some more detail about what kind of data is generated by the simulated temperature sensor, and included a link to the source code (https://github.com/Azure/iotedge/blob/027a509549a248647ed41ca7fe1dc508771c8123/edge-modules/SimulatedTemperatureSensor/src/Program.cs -- the one you had included in your comment was an older version). The ch

[2019-01-09 21:39] #15615 closed

[2019-01-09 21:39] Alberto-Vega-MSFT commented on #21894
@boiledeggs  Thanks for your valuable feedback.  I have assigned the issue to the content author to evaluate and update the document as appropriate.

[2019-01-09 21:42] pburkholder opened #22019 "Access Logs"
I'd like to have access logs for my static web content. Can you please provide guidance on how to enable that? Here's what I've tried:

I've enabled storage account logging with:

[code]

and I can see that logging is enabled:

[code]

But I don't see any $logs container:

[code]

I have waited for over an hour as suggested at https://docs.microsoft.com/en-us/rest/api/storageservices/enabling-stor

[2019-01-09 21:46] MicahMcKittrick-MSFT commented on #21983
@washraf thanks for that.

@aljo-microsoft @vturecek any suggestions?

Section is directly liked here: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-communication-remoting#use-custom-serialization-with-a-remoting-wrapped-message

[2019-01-09 21:50] #21789 closed

[2019-01-09 21:51] MicahMcKittrick-MSFT commented on #22017
Thanks for the question! We are investigating and will update you shortly.

[2019-01-09 21:57] hellkama commented on #19766
Finally some sense. So a custom domain is required. Documentation should be clear about this and provide instruction how to set the custom domain to the cluster.

[2019-01-09 21:58] yujhongmicrosoft commented on #21912
Hello, here are the instructions to connect from Eclipse to Azure Gov:

We do have a workaround for connecting to Azure Gov from both Eclipse and IntelliJ.
The steps are below:

To change to environment, you need to create a file: AadProvider.json under the AzureToolsForEclipse folder, which can be found under your main home directory.
•	AzureToolsForIntelliJ for IntelliJ
•	**AzureToolsForEclipse

[2019-01-09 22:00] msjuergent commented on #22011
Embarrassing mistake: Please change to “Export source database, Export file upload….”

If you could do the change, would be great. If not, I can do the change.

Thanks  Juergen

From: Micah <notifications@github.com>
Sent: Wednesday, January 9, 2019 1:35 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Juergen Thomas <Juergen.Thomas@microsoft.com>; Assign <assign@noreply.github.

[2019-01-09 22:01] MicahMcKittrick-MSFT commented on #22011
@msjuergent no worries :) I am happy to make the change. Thank for your clarifying on what it should be. I will submit the PR shortly.

[2019-01-09 22:02] MicahMcKittrick-MSFT commented on #22017
@badalk thanks for the question on this. It is an interesting question as you are combining AKS with AAD and PingID (a 3rd party multi-factor authentication provider)

That being said, it is a bit outside the scope of what I am able to assist with on this issue. I have no experience with PingID and there could be some configuration options needed on their end in order to get this to work. And I am

[2019-01-09 22:02] #22017 closed

[2019-01-09 22:04] #21886 closed

[2019-01-09 22:05] mganeshphani opened #22020 "I am not able to see the version buttons"
I am not able to see the version buttons(neither "Add Version" nor "Version History") in applications page.. what is powering this feature? am I using old version of the Workbench? should I do any additional settings in Azure AD App to enable versioning?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 738693f1-fd30-a5c7

[2019-01-09 22:05] PatrickFarley commented on #5934
@noellelacharite Is there still something in progress?
@BryanTrach-MSFT , please reassign to KellyDF as this is a product issue and not a doc issue.

[2019-01-09 22:05] MGoedtel commented on #21860
#please-close I'm going to bug this and make sure the article states you can only use this method for installing the agent and providing initial configuration and make reference to other methods for post-install config changes to agent.

[2019-01-09 22:06] PatrickFarley commented on #6892
No repro, #please-close

[2019-01-09 22:08] HeidiSteen commented on #22001
Holy cow, I just learned that the version I'm working on is early-release, internal-only.  I didn't know.  If you are taking screenshots, you should wait until next week (Tuesday/Wednesday) when the new UI rolls out.

[2019-01-09 22:09] MicahMcKittrick-MSFT commented on #22011
@amitlalaawaz I corrected the doc. Once the PR merges the changes will go live in a few hours.

Thanks again for pointing this out :)

[2019-01-09 22:09] #22011 closed

[2019-01-09 22:10] #6892 closed

[2019-01-09 22:13] josere commented on #16753
Scenarios are covered but not linked. Developers might find the info on secret management but might want to encrypt from its own code, rather than calling cmdlet.

[2019-01-09 22:13] badalk commented on #18597
@cmeyertons would you mind adding the curated scripts. I am running into the same issue !

[2019-01-09 22:18] PatrickFarley commented on #7523
This has since been updated to show the split Maven libraries.
#please-close

[2019-01-09 22:22] miaojiang commented on #17336
@jaq316  what is your scenario?

[2019-01-09 22:25] daweins opened #22021 "Standard disk performance - correct limits?"
The limits in this page (2000 IOPS/500MBs) throughput don't gibe with past knowledge or announcements (500 IOPS/60MBs)

(https://azure.microsoft.com/en-us/blog/preview-standard-ssd-disks-for-azure-virtual-machine-workloads/)
Can we please verify this page's information?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99

[2019-01-09 22:33] Mike-Ubezzi-MSFT commented on #21597
@michaelmilligan We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion but, this channel is for addressing doc issues. I understand that the Oracle piece is missing in this case but the actual product (Azure CLI for Oracle in this case) needs to exist before we can document it. Please detail your re

[2019-01-09 22:33] #21597 closed

[2019-01-09 22:34] roygara commented on #21083
@benstott-eduserv it is still actively being looked into but, thank you for reaching out. We appreciate it. :)

[2019-01-09 22:35] Karishma-Tiwari-MSFT commented on #21951
@dcbrown16 Yes, as per [this doc](https://azure.microsoft.com/en-us/pricing/details/monitor/), Charges for metric queries, and custom metrics will go into effect on April 1, 2019.
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-09 22:37] YutongTie-MSFT commented on #9712
@YeeSuan95
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-01-09 22:37] #9712 closed

[2019-01-09 22:41] PatrickFarley commented on #8145
@inglesuniversal , if you used a REST call, it will only return a JSON string and you will need to parse it yourself to get just the text you want from it. If you use a native SDK instead, it will return the data in a native object model, which is easier to parse.
#please-close

[2019-01-09 22:45] jason-j-MSFT commented on #21991
@g-dupuis thanks for the follow up!

[2019-01-09 22:45] PatrickFarley commented on #8210
@YutongTie-MSFT , please reassign to @KellyDF as this is a reference doc issue.

@KellyDF, please consider updating your Swagger file for the Analyze Image function; this user recommends adding "InvalidImageDimension" to the list of Possible Errors in the Response 400 section.

[2019-01-09 22:46] Karishma-Tiwari-MSFT commented on #21951
@sbtron I am not able to assign this issue to you as you are not a member of Azure docs repository. Since you are listed as author of the doc, can you please join the repo so that issues can be assigned to you. Thanks :)

[2019-01-09 22:46] jason-j-MSFT commented on #21971
@kung-foo
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-09 22:47] rolyon commented on #21555
Hi @mybayern1974
If I understand your question, the Contributor role does allow you to create resources at the scope that it is assigned.

An alternative description might be:
Let's you manage everything for a resource except you can't grant access to other security principals.

Am I answering your question?

[2019-01-09 22:48] jason-j-MSFT commented on #21974
@kung-foo
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-09 22:49] jason-j-MSFT commented on #22009
@justinhauer
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-09 22:51] PatrickFarley commented on #9541
Hi @jge002 , could you please share a sample image for which you are getting different results?

[2019-01-09 22:52] YutongTie-MSFT commented on #5934
@LSUPERMAN735 According to the response from Kelly, we don't have any plan about that. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-01-09 22:52] #5934 closed

[2019-01-09 22:52] mganeshphani commented on #21577
I am aware of that blog.. just interested in knowing what other on the fly
functions like these are available

On Tue, Jan 8, 2019 at 4:40 AM Grace-MacJones-MSFT <notifications@github.com>
wrote:

--
Ganesh Phani Majeti.

[2019-01-09 22:52] johnkwaters opened #22023 "Slightly modified configuration code... no snapshots?"
I have an AspNetCore 2.2 app deployed to an Azure app service, and am not getting any snapshots, ever.
The app insights view in the Azure portal also recommends that I upgrade to the latest Snapshot debugger, which I already have...so something is wrong and I don't know where to start looking.
My configuration  varies slightly from that documented, using a little more DI, and I wonder if that coul

[2019-01-09 22:53] mganeshphani commented on #21603
Can you mention that in documentation that its a polling based.

On Wed, Jan 9, 2019 at 4:27 AM Mike Urnun <notifications@github.com> wrote:

--
Ganesh Phani Majeti.

[2019-01-09 22:54] hpsin commented on #21783
This one is correct based on my testing:
scope=api://xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/.default

This takes the values in the required resource list of your middle tier application and injects them into the consent request if no consent exists between your client and the middle tier resource- to ensure proper testing, also use prompt=consent in your request to force the correct consent screen.

[2019-01-09 22:55] mike-urnun-msft commented on #22007
Hi @jcbrooks92 Thank you for your feedback! We will review and update as appropriate.

[2019-01-09 22:55] amitlalaawaz opened #22024 "SAP Link not available"
[Enter feedback here]
Hi there,
Pilot Phase (Optional) section #2, Platform combinations as documented, for example, in Database Migration Option (DMO) of SUM 2.0 SP04.   --> Link to SAP Note https://launchpad.support.sap.com/#/notes/2644872 is broken link.

Amit Lal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1d03

[2019-01-09 22:58] DaveEM opened #22025 ""Build your IoT Edge solution" section should include a "docker login" step"
"Build your IoT Edge solution" currently includes directions to log in to your Azure container registry, but doesn't tell you that you need to also do a "docker login" or you will get the following error when building:

Sending build context to Docker daemon  720.9kB
Step 1/10 : FROM microsoft/dotnet:2.1-sdk AS build-env
Get https://registry-1.docker.io/v2/microsoft/dotnet/manifests/2.1-sdk: unaut

[2019-01-09 23:00] PatrickFarley commented on #9681
This is indeed a support issue. In any case, the conversation ended months ago, so I think we can consider it resolved.
#please-close

[2019-01-09 23:02] PatrickFarley commented on #10441
@hjpark914 ping

[2019-01-09 23:02] msjuergent commented on #22024
Link as posted in this email does work for me. However, it does need, as with every SAP support note an valid login as SAP customer.

Cheers  Juergen

From: amitlalaawaz <notifications@github.com>
Sent: Wednesday, January 9, 2019 2:56 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Juergen Thomas <Juergen.Thomas@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [Mic

[2019-01-09 23:03] MicahMcKittrick-MSFT commented on #22024
Thanks @msjuergent

It also works for me.

[2019-01-09 23:04] MicahMcKittrick-MSFT commented on #22021
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-09 23:08] johnkwaters commented on #18483
Who should I contact for this question?

[2019-01-09 23:11] PatrickFarley commented on #12513
@karimisoup , it looks like the sample code in the doc is using --data-ascii and you are using --data-binary. Does this resolve your issue?

[2019-01-09 23:13] xyh1 commented on #21831
Yes, there is a "Premium" access-tier. You will have to sign-up join our preview in order to create a Premium Blob account in certain preview regions, which will allow you to use the Premium access tier.

Currently, in preview, we do not support changing the tier from Premium to Hot/Cool/Archive or from Hot/Cool to Premium but that is something we're working on.

[2019-01-09 23:15] PatrickFarley commented on #13049
@wahyuen and @fe77 , please review the doc in its current state and verify that the issues are resolved. The doc has been updated and there is no longer any reference to ComputerVisionAPI or AzureRegions.

[2019-01-09 23:15] MicahMcKittrick-MSFT commented on #21990
@rifaterdemsahin also this

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-creation-for-windows-server

[2019-01-09 23:17] femsulu commented on #22018
@jontreynes Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-09 23:18] rolyon commented on #21546
Hi @john-louden
Currently, you can think of RBAC is an additive model where permissions are attached to a user at a particular scope. Adding a role doesn't really take away permissions that were added with another role.

Consider your example where Person A is a Contributor for a subscription and a Reader for a resource group. In this case, Person A could write to the resource group.

[2019-01-09 23:18] KingdomOfEnds commented on #21785
@MarekLani - Certainly, it was a helpful opportunity to improve linking directly to the exact code block!

[2019-01-09 23:21] femsulu commented on #22014
@peter-foreman Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-09 23:21] axatix commented on #21776
Hello,
Then I see two other topics
1. 2 vms in availability set can have sla 99.95 only with standard lb I can't use basic. May be it will be good to highlight that
2. Standard lb has sla based on the link for lb sla when there are 2 vms 99.99. But in case two vms in one zone in availability set is the Sla of lb 99.95 or 99.99? Is the Sla of lb defined properly? Lb is services which is not created

[2019-01-09 23:22] femsulu commented on #21997
@OffColour Thanks for the Comment. We are actively investigating and will get back to you soon

[2019-01-09 23:23] KeiroKamioka0000 opened #22026 "Certificate for www*.~~~~"
Hello, address start with such as "www2~~~~" "www3~~~~"
Is it possible to buy certificate for these?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa7e21c2-d024-dda5-a468-b140422b9fae
* Version Independent ID: 5475c8e6-1186-8ed1-2ad6-6eaa2cac871f
* Content: [Buy and configure an SSL certificate from Azure - App Servic

[2019-01-09 23:34] #20918 closed

[2019-01-09 23:36] wmengmsft commented on #21854
@WieserSoftware, are you accessing the Table API via SDK or via Rest API? If via SDK, which SDK and version are you using? When using SDK, request headers should be automatically set for you.

[2019-01-09 23:38] starforce commented on #20918
@starforce @hrushib @jakaruna-MSFT @MicahMcKittrick-MSFT

I will try this and get back to everyone. Why the rush to close this issue until  i verify that it works for me ?

[2019-01-09 23:39] philliplyle opened #22027 "two issues with the passwordless experience"
There are several issues and this is not production ready yet:

1)  Passwordless login doesn't seem to always be respecting conditional access policies for trusted sites.  This is most evident with the #2 issue below, where our apps are configured to bypass MFA when on premise, but yet the notification is still being sent.
2)  When combined with seamless sign-on, our test users will get a MFA noti

[2019-01-09 23:40] philliplyle commented on #22027
Sorry, that's 3 issues ;)

[2019-01-09 23:40] MohitGargMSFT commented on #22006
@psoukal-ms Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

[2019-01-09 23:40] aashishb commented on #21186
This is not supported today.

[2019-01-09 23:42] Karishma-Tiwari-MSFT commented on #21860
@mchmelaroriflame Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-01-09 23:42] #21860 closed

[2019-01-09 23:42] PatrickFarley commented on #13522
Hi @leakymutant , sorry for the hiccup; it looks like the library was updated before the doc was. We have since updated the doc to no longer use a ComputerVisionAPI class.
#please-close

[2019-01-09 23:43] MicahMcKittrick-MSFT commented on #20918
Thanks @aljo-microsoft for all the hard work and explanations.

@starforce at this point we have addressed as much as we are able to within the scope of this issue. We use these issues to identify doc problems and we of course try to help further than that when possible.

Please let us know your results. If you need further assistance from here we would need you to open a technical support ticket

[2019-01-09 23:44] StevenLiekens commented on #21783
Initially, yes. I added `openid` to see if that would help (it didn't).

[2019-01-09 23:46] starforce commented on #20918
@MicahMcKittrick-MSFT .. Thank you. Hopefully it will work. Would i need to buy a Technical Support plan to open a technical support issue?

[2019-01-09 23:48] sadiehenry commented on #19493
Hi folks - I have tested this issue and confirmed that it is a known limitation. I verified that, regardless of which domain the username has, users are not prompted for SSPR registration when they go to https://account.activedirectory.windowsazure.com. However, if users go to https://portal.azure.com or other sites where they are prompted to sign in with their AAD account, they will be prompted.

[2019-01-09 23:48] Adam-Smith-MSFT commented on #22019
@pburkholder How long did take to check after enabling the logs ? it can take up to an hour for log data to appear in the blobs in the $logs container because the frequency at which the storage service flushes the log writers.

Thanks

[2019-01-09 23:49] MicahMcKittrick-MSFT commented on #20918
@starforce if it comes to that I can enable you for a free request so no worries :) Let me know the outcome and we can go from there.

[2019-01-09 23:50] hpsin commented on #21783
Did using just /.default still result in the consent error? What scope are you requesting from the middle tier to Graph?

[2019-01-09 23:51] PatrickFarley commented on #15016
Hi @DarinMacRae ,
The Face recognition REST call should be perfectly doable in PowerShell, but it is just not a common enough developer scenario to warrant its own doc.
#please-close

[2019-01-09 23:51] aljo-microsoft commented on #20918
@starforce and @MicahMcKittrick-MSFT
I have also resolved the issue with connecting to my machine using my custom domain.

By configuring my DNS Zone "Alias record set" for both my "A" and "C" record; set the "A" record to all IP address backends being fronted by TM, and use a "C" record set it to the TM DNS name.

[2019-01-09 23:53] #7523 closed

[2019-01-09 23:53] #8145 closed

[2019-01-09 23:53] #9681 closed

[2019-01-09 23:53] starforce commented on #20918
@aljo-microsoft  Thank you for everything!!

[2019-01-09 23:54] #15759 closed

[2019-01-09 23:54] #20563 closed

[2019-01-09 23:54] jasonmatthewrowe commented on #20026
I had to add some additional libs for Raspbian Stretch since these instructions were written for Raspbian Jessie.  "pip install azure" did it for me.

[2019-01-09 23:56] Karishma-Tiwari-MSFT commented on #22023
@johnkwaters Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-01-09 23:57] #15016 closed

[2019-01-10 00:04] christiankuhtz commented on #21776
In the context of Load Balancer, this is the only SLA that applies and is only applicable to Standard Load Balancer: https://azure.microsoft.com/en-us/support/legal/sla/load-balancer/v1_0/

The definition of the SLA is within that document. It further calls out "Service Level Exceptions -
No SLA is provided for Basic Load Balancer"

VM SLA is for VM availability and credits go against VM.

As I wr

[2019-01-10 00:07] MohitGargMSFT commented on #22027
@philliplyle Thanks for your feedback! We will investigate and update soon on it.

[2019-01-10 00:07] aljo-microsoft commented on #19766
@hellkama
The following was added to the referenced document and is in a PR (will be published shortly):

"
## Get a certificate
First, get a certificate from a [certificate authority (CA)](https://wikipedia.org/wiki/Certificate_authority).  The common name of the certificate should be for the custom domain you own, and bought from a domain registar. For example, "azureservicefabricbestpractices.c

[2019-01-10 00:16] futurexpe commented on #21816
I do not see the module deployed to my iot edge device. I am using the iotedge list command.

[2019-01-10 00:19] adpick commented on #21674
#please-close

[2019-01-10 00:47] LuisCabrer commented on #22003
I think the right thing to do would be to output to /document/pages/*/, and then create a simple custom skill that merges and removes duplicates.

As this may be a common scenario, I added a uservoice idea (https://feedback.azure.com/forums/263029-azure-search/suggestions/36487777-add-a-skill-to-merge-arrays ) -- you may want to vote for it.

Thanks!
-Luis

[2019-01-10 00:50] Karishma-Tiwari-MSFT commented on #22021
@daweins I couldn't find 2000 IOPs information [in this doc](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/standard-storage)
Can you please confirm if this is the doc you are referring to or if you can point me to the right section in this doc where you saw the incorrect info. Thanks :)

[2019-01-10 01:00] Karishma-Tiwari-MSFT commented on #21969
@yashesvi @yashar Can either of you please share your insights on the customer's questions. Thanks :)

[2019-01-10 01:01] JinYam commented on #13163
Parallel up to the TPS limit.

Jin
Computer Vision/OCR

From: Patrick Farley <notifications@github.com>
Sent: Wednesday, January 9, 2019 3:25 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Jin Yamamoto <jinyam@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] handling multiple requests in parallel clarification request (#13163)

@JinY

[2019-01-10 01:07] MashaMSFT commented on #19420
Hi @phatcher , thanks for the suggestion! I modified the image slightly; I removed the far left hand blade, but I think keeping the "SQL servers" blade there will help customers orient themselves. Can I proceed with closing out this Issue? Thanks!

[2019-01-10 01:08] BryanTrach-MSFT commented on #22003
@LuisCabrer Thank you for the response.

@xizhengszhang We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-10 01:08] #22003 closed

[2019-01-10 01:16] KeiroKamioka0000 opened #22033 "When do I use [Alter Index rebuild]????"
Hello, May I ask when to use [Alter Index rebuild] ??

Do I use before the [Start the upgrade] Step???

thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5420c88a-e3ef-c4d5-c6b7-4d0687a517d3
* Version Independent ID: 51c05994-b001-e853-4726-ca8deb82e6f9
* Content: [Upgrade to the latest generation of Azure SQL Data

[2019-01-10 01:22] Karishma-Tiwari-MSFT commented on #21951
@johnkemnetz Saurabh shared that he does not work in Azure anymore. I have assigned the issue to you, can you please help me identify the right person to be listed as author of this doc. I will edit the doc with that information.

[2019-01-10 01:32] #13522 closed

[2019-01-10 01:33] Karishma-Tiwari-MSFT commented on #21674
@lunar87  We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-01-10 01:33] #21674 closed

[2019-01-10 01:42] ebashmakov commented on #18018
@vhorne great, thank you! looks good

[2019-01-10 01:46] TravisCragg-MSFT commented on #21847
@kazshi "Azure Global Services" currently only refers to Azure DevOps however other services might be added to this tag in the future. All other Azure Services are identified by region.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-10 01:47] imeya opened #22035 "Can we get the table creation date by c#?"
Is there a way to get the table creation date by c#?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9ca205b-55ab-683a-46ee-afc9f6fc239b
* Version Independent ID: 065b8cb0-d218-b759-ce69-e8901d89b422
* Content: [Get started with Azure Table storage and Azure Cosmos DB Table API using .NET](https://docs.microsoft.com/en

[2019-01-10 01:49] msjuergent commented on #22024
You are right. It is not yet released to the public. It worked for me since I have a SAP C-User which does show me also non-released SAP support notes already. I will change to the SP03 support note. A PR request is coming in the next 15min

Sorry  Juergen

From: amitlalaawaz <notifications@github.com>
Sent: Wednesday, January 9, 2019 2:56 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github

[2019-01-10 01:51] kazshi commented on #21847
@TravisCragg-MSFT Thank you for the information. I'll provided it to my customer for now.

[2019-01-10 01:52] TravisCragg-MSFT commented on #21672
@agregacontabil We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-10 02:16] JesseJ12345 opened #22036 "**Update Firmware** with python"
@dominicbetts , Could you give a sample or link about how to use python to **Update  Firmware**  with python SDK  not js?  I just got the sample to [reboot the device](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/iot-hub/iot-hub-python-python-device-management-get-started.md)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-01-10 02:17] dikadali opened #22037 "Unable to deploy packer image: ERROR: -> UnsupportedResourceOperation : The resource type 'snapshots' does not support this operation. ==> azure-arm:"
I followed this article to deploy packer image but struck with below error. Also, tried deploying different templates from github, it’s still same error. I've also checked that service principal has contributor rights. Please let me know if i'm missing anyting.

==&gt; azure-arm: Powering off machine ...
==&gt; azure-arm:  -&gt; ResourceGroupName : 'packer-Resource-Group-y2plok0ale'
==&gt; azure-a

[2019-01-10 02:20] imeya commented on #21621
@SumanthMarigowda-MSFT , hello, I think you misunderstand my questions. The issue is nothing to do with size.

[2019-01-10 02:21] amitlalaawaz commented on #22024
Thanks Juergen! Good to see your response.
Have a wonderful evening.

Cheers,
Amit Lal

[2019-01-10 02:41] pburkholder commented on #22019
HI @Adam-Smith-MSFT,

Thanks for getting back to me. I'd waited an hour+ before reporting. Still no '$logs' container showing:

[2019-01-10 02:43] msjuergent commented on #22024
Corrected PR got merged. New reference and link works with S-user as well.

Cheers  Juergen

From: Juergen Thomas
Sent: Wednesday, January 9, 2019 5:49 PM
To: 'MicrosoftDocs/azure-docs' <reply@reply.github.com>; MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Mention <mention@noreply.github.com>
Subject: RE: [MicrosoftDocs/azure-docs] SAP Link not available (#22024)

You are right. It

[2019-01-10 03:16] KeiroKamioka0000 opened #22038 "Explanation of Move Operation?"
ShuffleMoveOperation,
BroadcastMoveOperation,
TrimMoveOperation,
PartitionMoveOperation,
MoveOperation,
CopyOperation

Sorry If I post to wrong place, is there are document or reference that explain the Per MoveOperations???

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c1d3d23-bf8a-1b97-0d2c-81f37f30bca1
* V

[2019-01-10 03:22] asubmani opened #22039 "Example without HTTP Application Routing?"
Is there an example of deploying a .NET core app to AKS without HTTP application routing? I have a example of enabling this using `kubectl create -f appname.YAML` but looking for Visual Studio based solution as other parts of my customer's solution are Visual Studio based.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-01-10 04:38] AshokPeddakotla-MSFT commented on #22025
@DaveEM Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-10 04:41] CHEEKATLAPRADEEP-MSFT commented on #22038
@KeiroKamioka0000  Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2019-01-10 04:46] dcbrown16 commented on #6261
Thanks @cherylmc! Sounds like the sentence in the OP should be replaced with some kind of note stating that cross-sub migration is not supported.

[2019-01-10 04:51] jakaruna-MSFT commented on #21394
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-01-10 04:51] #21394 closed

[2019-01-10 04:52] jakaruna-MSFT commented on #21944
@dinu99 Is there any update?

[2019-01-10 04:52] jakaruna-MSFT commented on #21851
@miguelangelopereira Is there any update?

[2019-01-10 04:54] AshokPeddakotla-MSFT commented on #22036
@JesseJ12345 Thanks for the feedback! We are currently investigating and will update you shortly.
Can you please link the document that you are referring to?

[2019-01-10 04:59] CHEEKATLAPRADEEP-MSFT commented on #22035
@imeya Thank you for your interest in Azure products and services. We are investigating and will update you shortly.

[2019-01-10 05:02] JesseJ12345 commented on #22036
THANKS A LOT , This link is [Manage firmware updates](https://docs.microsoft.com/en-us/azure/iot-hub/tutorial-firmware-update)with Node.js, and I hope you can provide python sample

[2019-01-10 05:02] CHEEKATLAPRADEEP-MSFT commented on #22033
@KeiroKamioka0000 Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2019-01-10 05:03] walidshaari opened #22043 "size of updates and md5sum"
I have a disconnected Azure stack 1809 for now. the update is 316 K, and hotfixes around 340M is that correct, can you specify these as part of the announcement with a hash for the files? also, are these enough one hotfix and the update to bring 1809  to latest 1811?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59a27

[2019-01-10 05:06] jakaruna-MSFT commented on #22037
#21944 Same issue.
Please go through this [comment](https://github.com/MicrosoftDocs/azure-docs/issues/21944#issuecomment-452597596).

[2019-01-10 05:20] AshokPeddakotla-MSFT commented on #22020
@mganeshphani Note that, previous versions of the application are disabled. You can individually re-enable past versions.
You may need to re-add members to application roles if changes were made to the application roles in the new version.
An existing deployment of Azure Blockchain Workbench can be upgraded to the latest version.
You can either deploy a new instance of Workbench through the Azure

[2019-01-10 05:37] moojjoo commented on #21784
@ManojReddy-MSFT Here is what I am seeing:

![2019-01-10_0-29-42_azure01](https://user-images.githubusercontent.com/6118065/50948269-de98ec00-146f-11e9-8029-7cd439240015.jpg)

![2019-01-10_0-29-42_azure02](https://user-images.githubusercontent.com/6118065/50948276-e6589080-146f-11e9-9d1b-951c22a777e4.jpg)

[2019-01-10 05:40] kazshi commented on #21245
@CHEEKATLAPRADEEP-MSFT Looks like the timestamp of the content hasn't been updated. Please update the timestamp. I'll verify the content. Thanks.

[2019-01-10 05:43] YASWANTHM-MSFT commented on #21976
@energetic-it , I reproduced the issue by installing the new AZ PowerShell module on the file sync server and it’s thrown an error as shown below.
![image](https://user-images.githubusercontent.com/44457111/50948479-9b1e9c00-14c8-11e9-9fb7-131cf24b0996.png)
After installing the AzureRm modules, I was able to register the file sync server successfully.
![image](https://user-images.githubusercontent

[2019-01-10 05:45] YASWANTHM-MSFT commented on #21976
Thanks for bringing this to our attention! Your feedback has been shared with the content owner for further review and update the document as appropriate.

[2019-01-10 05:48] SumanthMarigowda-MSFT commented on #21641
@florianeidner We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-10 05:48] #21641 closed

[2019-01-10 05:51] LazarusX commented on #21773
@BigBadPhysicist Looks like I still cannot reproduce your issue. Below is the deployment.json generated on my side:

[code]

And here is the sceencast:
![module-twin](https://user-images.githubusercontent.com/716650/50948800-d62bca00-14de-11e9-900a-c061f918e1d8.gif)

[2019-01-10 05:57] AjayKumar-MSFT commented on #22026
@KeiroKamioka0000, Thanks for the question! We are taking a look into this query and will update you shortly.

[2019-01-10 06:36] axatix commented on #21776
Aha there it was removed. Because same definition in in the table where is compared basic vs standard. Line sla. I thought this was removed for basic lb. Where is link to sla for vms

[2019-01-10 06:41] msvijayn commented on #21062
#please-close

[2019-01-10 06:44] kazshi opened #22058 "definition of Service Administrator"
What is definition of the Service Administrator? Is it different from the Server Admin (specifying when creating SQL DWH)? I'm not clear since I cannot find any information about the Service Administrator in the other pages for SQL Data Warehouse Documentation (I found it only in Azure subscription documentation) and "The service administrator is the user created during the provisioning process."

[2019-01-10 06:48] SumanthMarigowda-MSFT commented on #21571
@patpicos We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-10 06:48] #21571 closed

[2019-01-10 07:10] dcbrown16 commented on #21744
@ManojReddy-MSFT thanks so much, yes, sorry for the delay.
I'll close for now and let you know if there are any follow-up questions (I'm supporting a customer on this issue through Pro Direct).

[2019-01-10 07:10] #21744 closed

[2019-01-10 07:11] WieserSoftware commented on #21854
Via the rest API.  I was attempting to use it via a react-app, and testing just using the browser.

From: wmengmsft
Sent: Wednesday, January 9, 2019 11:36 PM
To: MicrosoftDocs/azure-docs
Cc: Tony Wieser ; Mention
Subject: Re: [MicrosoftDocs/azure-docs] OData queries seem to need authentication? (#21854)

@WieserSoftware, are you accessing the Table API via SDK or via Rest API? If via SDK, which SD

[2019-01-10 07:12] #6333 closed

[2019-01-10 07:15] msvijayn opened #22062 "Doc comments"
Suggest making a note or important alert for text "Starting __,2019, creating or modifying log alert rules that use search, or union operators will not be supported the in Azure portal. Using the operators in an alert rule will return an error message like alert incompatible command like 'search', 'union *' used.."

For text: "Existing alert rules and alert rules created and edited with the Log An

[2019-01-10 07:16] msvijayn commented on #22062
Adding @yossi-y

[2019-01-10 07:31] neeleshray commented on #21861
Let us know if this has worked for you or if you need further assistance.

[2019-01-10 07:45] Futtrup87 commented on #21559
Its a reply to this, and my own comments following.

[2019-01-10 07:46] neeleshray commented on #21977
The Microsoft account and your Office 365 account would be on different tenants. Suggest you join the computer with the same account as your Office 365, then it should be working fine.

[2019-01-10 07:47] MikeInSwitzerland commented on #21986
I had already read the webpage under the link you sent me "Firstly, all the sqlpackage parameters can be found with the following document:"   but all it had to say about the "DatabaseServiceObjective" was "Defines the performance level of an Azure SQL Database such as "P0" or "S1""
Errr, so you've quote two of the possible values, but what others are there ?   I wanted to use a Basic DatabaseEdit

[2019-01-10 07:51] BigBadPhysicist commented on #21774
I understand that one might want to only develop with one solution.

But for example in my chase, I am working in a larger development team and we are using Git to share the code.

I created the main struktur of the project, the whole team is now forced use my chosen IDE,
or we would have to provide 2 different solutions.

I understand that this is not a hugh concern, but maybe this could be kept

[2019-01-10 07:52] BigBadPhysicist commented on #21968
I will open an Issue in iotedge, thank you.

[2019-01-10 07:57] CHEEKATLAPRADEEP-MSFT commented on #22058
@kazshi Azure has several different roles. To manage access to resources, you can use the Azure subscription administrator roles, such as Service administrator and Co-administrator, or a newer authorization system called role-based access control (RBAC).

By default, when you sign up, the Service administrator is the same as the Account administrator.
Here Azure AD admin is Server Admin.

### Expl

[2019-01-10 08:01] Sihomiri opened #22063 "Key rollover question"
When the key rolls over will the kid value in a JWT? I use the kid value to know which key to use when retrieving it from https://login.microsoftonline.com/common/discovery/keys.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9969132-6172-2284-d67f-45c211fb10f0
* Version Independent ID: 6f90f91f-6d84-4e6a-c486-3067c08

[2019-01-10 08:04] BigBadPhysicist commented on #21773
@LazarusX I am using:
Visual Studio Enterprise 2017 update 15.9.5
Visual Studio Build Tools 2017 update 15.9.5
Azure IoT Edge Tools - Preview version 0.1.3
Windows 10 Pro Version 1803

I tried with your file with VS 2017 and still all properties.desired are not copied.
I migrated the project to VS Code and the correct deployment.json was created.

I looks like it a bug with VS 2017 or Azure IoT Ed

[2019-01-10 08:07] y4test opened #22064 "DataActions and NotDataActions support"
Are DataActions and NotDataActions supported when using REST API to create/update a custom RBAC role?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9192bf50-7630-5749-0f6c-18f324de0adf
* Version Independent ID: 0d2b409f-31ac-ca98-4fd2-6cff52424250
* Content: [Create custom roles using the REST API - Azure](https://doc

[2019-01-10 08:10] kazshi commented on #22058
@CHEEKATLAPRADEEP-MSFT Thank you for the information. Now I understand the Service Administrator is the same one in the Azure subscription documentation - that's what I wasn't sure. And I was totally misunderstanding what "...during the provisioning process." means.

[2019-01-10 08:13] TopsyKretz9 commented on #21684
Hi, what if I want to process the data for machine learning?

[2019-01-10 08:14] #21968 closed

[2019-01-10 08:14] #21773 closed

[2019-01-10 08:36] loopfish commented on #21959
Hi @axayjo unfortunately, that still doesn't give a guide as to how to do that...any chance you could elaborate that part of the documentation to give and example of the CLI commands to create an image definition from a custom image ID?

[2019-01-10 08:41] jakaruna-MSFT commented on #21985
@woutervanranst Which credentials you used for login into Azure using the PowerShell?
It will be your user credentials or a service principal.
You can use `Get-AzureRmContext` to see the user.

You can also check the access policies for your key vault.
In Portal, Go to the key vault and in the left pan click on "access policies" under settings.

If your current logged in user or service principal

[2019-01-10 08:42] pacambi commented on #21962
OK, I had setup a private GitHub repo... This is why the token was mandatory and in my case I had to enter it as a password and not as a secret text in Jenkins. A public repo makes things easier for the sake of this tutorial. Thanks.

[2019-01-10 08:43] mjiderhamn commented on #15703
This seems to be incorrect. Telegraf 1.9.1 does not accept `azure_tenant_id`, `azure_client_id`, `azure_client_secret` neither as part of `[[outputs.azure_monitor]]` config.
The error is
[code]

In fact, the word "tenant" only appears in two places in the Telegraf sources; in the [Azure Monitor output plugin REAME.md](https://github.com/influxdata/telegraf/blob/release-1.9/plugins/outputs/azure_mo

[2019-01-10 08:47] wolfma61 commented on #21998
This is being investigated and we are in contact with the customer. Collecting data/scenario etc.

[2019-01-10 08:48] skysrc commented on #10441
Apparently, the demo page are using "vision/v2.0/recognizeText" api. So i had switched to this for the solution.

[2019-01-10 08:58] KetanChawda-MSFT commented on #21926
@AlexanderLiuzm Any update on this ?

[2019-01-10 08:58] bramvdklinkenberg commented on #21965
Hi @iainfoulds , ah I see now... I mixed it up :s. When are the pod security policies planned?

[2019-01-10 08:59] #21965 closed

[2019-01-10 09:07] anttipo opened #22065 "Application Gateway v2 not supporting user defined routes"
It seems like the APPGW v2 doesnt support subnets that have a UDR in place. I attempted this in order to deliver traffic through a firewall appliance but the deployment fails:

{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details.","details":[{"code":"BadRequest"

[2019-01-10 09:08] pcolmer commented on #21977
@neeleshray I appreciate the suggestion but (a) that isn't what the documentation says is required and (b) joining the computers to Azure AD potentially breaks things like store ownership since everything would then shift to Azure AD and lose any information pertaining to the Microsoft account previously used.

I'm trying to resolve the syncing issue separately with MS Support but I wanted to flag

[2019-01-10 09:11] jge002 commented on #9541
Hi Patrick,

The difference was caused by the parameter &handwriting=false.
For printed text, setting the parameter to &handwriting=true, gives a better result.

Kind regards,
Jos Geraerds

From: Patrick Farley <notifications@github.com>
Sent: woensdag 9 januari 2019 23:51
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Geraerds, Jos <jos.geraerds@accenture.com>; Mention <mention@

[2019-01-10 09:12] rolandkru opened #22066 "Wrong Link"
The link under "Next steps" is not correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce0da6a2-d5f1-3815-53b7-83a9cacb8806
* Version Independent ID: 8773faa9-a0bd-331c-3ff5-952b946ef763
* Content: [Create an advanced simulated device model - Azure](https://docs.microsoft.com/en-us/azure/iot-accelerators/iot-accele

[2019-01-10 09:13] ThierryBT opened #22067 "Schema Error ?"
Hi an sorry for my English,

I don't understand the schéma (chapter Site-to-Site and ExpressRoute coexisting connections, link https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-vpngateways#coexisting)
In red, I think it's Hardware VPN VIP (Cisco for exemple). And I see a VPN Gateway Azure (On-premises ?).
Thank's for your help.

PS : It's the same case in French documentation (h

[2019-01-10 09:14] ThierryBT commented on #22067
Hi,
The image.
![git azure](https://user-images.githubusercontent.com/28751337/50958226-7c1c0c00-14c0-11e9-8108-d269b5a7cbee.png)

[2019-01-10 09:15] MSSedusch commented on #21888
I was not able to reproduce the issue. I deployed a new RHEL 7.6 image from the Azure marketplace and executed the following commands on the VM

sudo subscription-manager register
sudo subscription-manager attach --pool=<pool id>
sudo subscription-manager repos --disable "*"
sudo subscription-manager repos --enable=rhel-7-server-rpms
sudo subscription-manager repos --enable=rhel-ha-for-rhel-7-serv

[2019-01-10 09:16] tobrienultima commented on #21996
Hi, yes I registered the resource provider with PowerShell and then also switched the licence with PowerShell once it was registered:
Following the commands in the MS documentation provides the output:

Set-AzureRmResource : Cannot validate argument on parameter 'Sku'. The argument is null or empty. Provide an argument that is not null or empty, and then try the command again.

Running:
$sqlvm | f

[2019-01-10 09:19] prempillai commented on #7913
Is there any way to enable MFA for a specific set of users or group?

[2019-01-10 09:20] FlorianLautenschlager opened #22068 "Question: API to upload acoustic or language data, to create models and to create custom endpoints?"
The documentation is clear and everything worked out. I wonder if an (hidden) API is available to upload data and to create models and endpoints?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50d8bb98-fbcd-7562-99ed-54211fd9afd3
* Version Independent ID: bd23e619-aee5-2b6e-b2d7-03ab5f7302af
* Content: [Tutorial: Creat

[2019-01-10 09:30] wilsonchua20 commented on #21343
the java program seems to be working through wifi, however, when connected through network, it always say unknown host exception..is there anything we can check on our network/router to solve this problem?

[2019-01-10 09:33] thommck commented on #21861
I was hoping for the official way to do this in the enterprise via commands/scripts, not a user-based interactive approach from an unofficial blog article.

The blog steps mentioned for Win 1803 don't seem to work on a domain joined PC

[2019-01-10 09:41] Grace-MacJones-MSFT commented on #21577
@mattchenderson any insights on additional functions?

[2019-01-10 09:47] dikadali commented on #22037
Thanks @jakaruna-MSFT it worked.

[2019-01-10 09:51] swenyang opened #22069 "How to understand "duration_s" property of Log Analytics?"
There are several occurrences of "duration_s" in this document, but they are inconsistent.

1. Query example 1

	30000 = 3ms?

2. Query example 2

	Looks like "duration_s" calculates in miliseconds here.

3. Property description

	Now it calculates in tick. How long is a tick?

These confuses me. Can the documentation be more consistent on this property?

---
#### Document Details

⚠ *Do not edit

[2019-01-10 09:55] CHEEKATLAPRADEEP-MSFT commented on #22069
@swenyang Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2019-01-10 09:55] aquibqureshi26 opened #22070 "Azure Policy weird behaviour while creating resource group without tag"
I've applied Azure policy which forces the user to assign a tag while creating a Resource Group.
When i create a new VM and then fill in all the fields, i create a new Resource Group in the same wizard and then click review and create button. This time azure policy is triggered properly and blocks me as the newly created RG is not created with tag.
But when I go to resource group policy and click

[2019-01-10 09:56] imeya opened #22071 "how to get the files in a directory in fileshare?"
I tried to use "get-azurestoragefile -sharename $sharename -Context $storagecontext -path $path" to get the files in a directory,
 the structure in azure file share like that:  myfileshare-&gt;mydirectory-&gt;some files, like a.txt, b.txt,  but the above command seams does not take effect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-01-10 10:04] dbsanfte opened #22072 "Why is it seemingly not possible to create alerts to action groups for Resource Health events?"
Or am I missing something?

This is stuff that most people would want to alert on. Is there some documentation available on how to do this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aee61956-ad7e-4573-3bbb-461f3043bcb1
* Version Independent ID: cdf50dff-210a-54d9-cc3c-717dc690d4b3
* Content: [Azure Resource Health

[2019-01-10 10:05] idohalevi opened #22073 "Diagnostic settings METRIC"
It seems like METRIC section, in the service diagnostic settings, is not available anymore. Is that on purpose? if so how do you recommend to stream metrics to eventHub?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e239e2a7-944f-4ca9-31bb-42141db9920b
* Version Independent ID: 4d7c59bc-8a3a-506e-3f7f-3b287f18a1c3
* C

[2019-01-10 10:14] idohalevi commented on #22073
![image](https://user-images.githubusercontent.com/32218210/50961747-31ef5680-14d1-11e9-8c60-6191e234d592.png)

[2019-01-10 10:25] saifuddin123 opened #22076 "X509 auto provisioning and device information"
Hi,
 I have followed the the documentation at https://docs.microsoft.com/en-us/azure/iot-dps/quick-create-simulated-device-x509 . After the device is provisioned it returns the IoT Hub name and the device ID that was created.  For further processing to send messages to hub we will need the complete IoTHub connection string with sharedaccesskeyName & sharedAccessKey.

Hot do we get the complete con

[2019-01-10 10:33] chasedai opened #22077 "Will connect virtual networks reduce latency?"
for example I want to connect one VM in East Asia with another VM in East US.
would it be any help in reducing network latency if I the two VM talk to each other using private IP?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d84d04de-a015-145b-caed-5547833ff6ce
* Version Independent ID: 0f8c7347-35f4-9dea-856c-447b4c

[2019-01-10 10:39] yll090 commented on #8899
So any news about using GCM in the FCM tutorial? Anyone?

[2019-01-10 11:11] rishikakkarster opened #22078 "Are Multiple Identity Providers of the Same On-Premises Applic"
# Are Multiple Identity Providers of the Same On-Premises Application Supported

I have Tried to create two SharePoint On-Premises application for two different webapp, with different TrustedIdentityTokenIssuer

First Webapp Url redirection is working fine, when we open Second Webapplication Url is redirecting to First Webapp URL

# Azure documentation issue guidance

Thanks for opening an issue i

[2019-01-10 11:40] #22062 closed

[2019-01-10 11:46] vimalamaldas commented on #21186
Thanks. According to this documentation , it is possible to  create and store  image to ACR from model and App Web for Containers seem to provide the ability to pull images for ACR.

[2019-01-10 11:46] shashishailaj commented on #21790
@amel00 Thank you for your query. Creating custom connectors in AD connect is not supported .  You might need to use [MIM 2016](https://docs.microsoft.com/en-us/microsoft-identity-manager/reference/microsoft-identity-manager-2016-connector-genericldap) if you would like to create custom MAs. However , it does not prevent any user from creating a custom management Agent / connector. While defining

[2019-01-10 11:46] #21790 closed

[2019-01-10 11:57] Sethu2488 opened #22079 "France region - Public IP Prefix"
Any plans in adding more regions like France to the Public IP Prefix. I would like to know by when this feature would be generally available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f5d33e9-bcb3-3358-f859-c2ff3e71b131
* Version Independent ID: 5498280e-dd3c-bd46-9877-3506ad926dbd
* Content: [Azure Public IP add

[2019-01-10 12:06] amel00 commented on #21790
@shashishailaj
You misunderstand. I appreciate the response but this is not a custom made, this is a built in default MA, like connecting to another domain within the same aad connect instance.
I created the run profiles but just wanted to add it the sync scheduler instead of trying to run it on a separate task. thanks so much for your time and support

[2019-01-10 12:07] SumanthMarigowda-MSFT commented on #22071
@imeya Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-10 12:16] sergaz-msft commented on #21449
Welcome! I believe that is by design due to it's description they should present different results?

**basic** -  Returns an image containing all map features including polygons, borders, roads and labels.

**hybrid** - Returns an image containing borders, roads, and labels, and can be overlaid on other tiles (such as satellite imagery) to produce hybrid tiles.

Thanks

[2019-01-10 12:20] buildmystartupio commented on #21106
+ 1

[2019-01-10 12:33] MisinformedDNA commented on #21886
Side note: Don't you think you were a little quick to close this? People get busy sometimes.

Yes, that was the issue. I was still on v13 and didn't even know a v14 had come out. Worked fine after that.

[2019-01-10 12:33] ChiragMishra-MSFT commented on #22068
@FlorianLautenschlager As described in the doc, you can create a custom accoustic model using Speech Service API.

After you have created custom acoustic models or language models, you can deploy them in a custom speech-to-text endpoint. To read more about that, please refer the following doc :
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-create-custom-endpoint

[2019-01-10 12:33] #22068 closed

[2019-01-10 12:33] PramodValavala-MSFT commented on #21731
@bikashkarmakar Just following up here... Did you get a chance to try this out after setting a custom timeout value as mentioned in my previous comment?

[2019-01-10 12:34] PramodValavala-MSFT commented on #21952
@SamirFarhat Just following up here... Hope my previous comment clears things up.

[2019-01-10 12:36] AshokPeddakotla-MSFT commented on #22036
@dominicbetts Please check this and provide an example with python if available any.

[2019-01-10 12:39] sergaz-msft commented on #21559
Thanks for letting us know your solution @Futtrup87 :)!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-10 12:39] #21559 closed

[2019-01-10 12:51] amel00 commented on #21790
Actually I see it now. You just have to make sure the run profiles are named exactly like the default MAs that the wizard creates.. the they are automatically added to the sync schedule

[2019-01-10 12:56] lesterw1 opened #22080 "Approving the LUIS application"
Does the approval for the app tcikbox "Consent on behalf of the organization" mean the app is approved for all users?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f03f7ab5-ddf7-e01e-9d60-a80040935edd
* Version Independent ID: a8e117e6-d21a-3106-ac2f-19e3339375a6
* Content: [Collaborate with others - Language Understa

[2019-01-10 12:58] shashishailaj commented on #21884
@tescales That is a great idea and thank you for the feedback. We will have this request reviewed by the content author for validation and further action as needed.

[2019-01-10 13:11] djaus2 commented on #21915
Still not getting any love out of this.  Have tried various combinations.
NB --OfflineInstallation   is not an option
and --OfflineInstallationPath is for the zip files

[2019-01-10 13:16] SnowGhost21 commented on #9883
@tchristiani Hi Terry, how are you? I solved this problem using another translate api, so i don't know if this issue still happens.

[2019-01-10 13:32] helderpinto opened #22081 "There's downtime if SQL IaaS extension is not installed"
It is very important to highlight that, if the VM does not have the SQL IaaS extension, this extension will be installed during the process, causing a restart of the SQL Server process. Therefore, please remove the "no downtime" from the article or, at least, make a clear point about this exception. It is also important to clarify whether a VM having an older version of the SQL IaaS extension (1.*

[2019-01-10 13:32] bikashkarmakar commented on #21731
yes , tried to increase the "timeout": 90000" from "timeout": 10000" but no effect

[2019-01-10 13:37] djaus2 commented on #21915
Got here a little later:
192.168.0.26]: PS C:\> iotedge list
NAME             STATUS           DESCRIPTION      CONFIG
edgeAgent        running          Up a minute      mcr.microsoft.com/azureiotedge-agent:1.0
[192.168.0.26]: PS C:\> :)

Had to be patient a let everything spin up.  If I did
iotedge list
after it says it was finished got nothing.
But I followed the logs (using the last 5 minutes s

[2019-01-10 13:37] algattik opened #22082 "Add explanation of increasing disk via portal"
The managed disk can also be resized (increased) via the portal, as a convenient alternative to PowerShell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ccc58c74-7913-f1f6-8681-1823bbd8f050
* Version Independent ID: c11bab28-a82a-29a1-84bf-fb3dfb9a5cb2
* Content: [Expand the OS drive of a Windows VM in an Azure](http

[2019-01-10 13:39] djaus2 commented on #21915
NB: Seems some escape characters have snuck in again!.  Could someone edit my comments above to fix this thanks.

Also another NB: The downloaded script worked without any editing.

[2019-01-10 13:40] helderpinto opened #22083 "Does a major version upgrade of the extension restart SQL Server?"
The document states that "if the extension is not already installed, installing the extension restarts the SQL Server service". Is this true as well for major version upgrades, for example 1.2.30 to 2.0.8? It is important to add this note as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24255026-2d1c-0607-77e6-f

[2019-01-10 13:41] festivus commented on #21889
The only inbound traffic to the vnet is through the app gateway, aside from rdp when needed and a vpn connection. I'm thinking the Azure Firewall is probably not needed.

[2019-01-10 13:43] djaus2 commented on #21915
Kelly
I am.an MVP.
Can I get your email address so I can take my deliberations offline with you.
It would e good to emphatically clear this up for Iot-Core.
Thanks for your help.

Sent from my Windows 10 device

________________________________
From: Kelly Gremban <notifications@github.com>
Sent: Thursday, January 10, 2019 7:27:23 AM
To: MicrosoftDocs/azure-docs
Cc: David Jones; Mention
Subject: R

[2019-01-10 13:43] mrityunjay0510 opened #22084 "Cannot read property 'protocol'"
Getting  Cannot read property 'protocol' of undefined  error while uploading image in second chapter.

[2019-01-10 13:44] LazarusX commented on #21773
Sorry I just realized that you are using VS instead of VS Code. We will also take a look.

[2019-01-10 13:51] PramodValavala-MSFT commented on #21731
@bikashkarmakar Hmm... Could you confirm if the port mentioned in `.vscode/launch.json` and `.vscode/tasks.json` is the same.

Based on the error message you shared, it should be set to **9229** in both places.

[2019-01-10 13:52] festivus commented on #21889
Another question, does the app gateway and azure firewall work when both are applied? Do they step on each other in any way? If so, does one override the other?

[2019-01-10 13:53] ganeshmedhekar opened #22085 "How to use private DNS for Azure container instances"
How to use private DNS zone for Azure container instances resides in Azure VNET

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d766d17-0650-407e-1aed-d94966ea4932
* Version Independent ID: 0254b3d9-adaf-8292-c3d3-93cb665b7504
* Content: [Use Azure DNS for private domains](https://docs.microsoft.com/en-us/azure/dns/pri

[2019-01-10 13:57] bikashkarmakar commented on #21731
There is no port specified
{
  "version": "0.2.0",
  "configurations": [
    {
      "name": "Attach to JavaScript Functions",
      "type": "node",
      "request": "attach",
      "timeout": 90000,
      "preLaunchTask": "runFunctionsHost"
    }
  ]
}
----
{
  "version": "2.0.0",
  "tasks": [
    {
      "label": "runFunctionsHost",
      "type": "shell",
      "command": "func host start",

[2019-01-10 14:01] PramodValavala-MSFT commented on #21731
@bikashkarmakar The default is **5858** for `.vscode/launch.json` but the error message that you have shared mentions **9229**.

Could you add `"port": 5858` as shown in the screenshot in my previous comment to the `.vscode/launch.json` file?

[2019-01-10 14:04] Axxeption commented on #16837
I have the same issue... any official comments on this?

[2019-01-10 14:08] bikashkarmakar commented on #21731
Thanks for your help.
This is now resolved.

[2019-01-10 14:08] #21731 closed

[2019-01-10 14:21] jknightly opened #22086 "Run shell script from portal"
Just a suggestion that we should provide guidance that some ssh tasks can be done from the azure portal on the node directly by using "run shell script" in the VM blade of the AKS node.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b81a147-db1c-b92f-88d1-6dd0991a72fe
* Version Independent ID: f5a2c949-498f-5848-d89c-

[2019-01-10 14:32] MGoedtel commented on #21997
@OffColour & @femsulu - The Log Analytics Windows agent and Microsoft Monitoring Agent are the same agent.  We just formally refer to it as the LA Windows agent.  Azure Security Center is using the same agent and relies on a Log Analytics workspace in order to deliver it's core functionality.  Maybe you have seen this overview article already in the ASC content -  https://docs.microsoft.com/en-us/

[2019-01-10 14:41] gbryniarski opened #22088 "Secrets without version"
What is the time frame to get a secret - without having to provide version information?  I see it mentioned that this feature is desired - but I am wondering when it might happen?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7feaa3d0-7233-a3cb-cb9b-a9a55b1f0d7a
* Version Independent ID: f41f9d51-52f8-1f45-1043-1344a3

[2019-01-10 14:42] aquibqureshi26 opened #22089 "how can i modify this policy so that I can add multiple tag names and values in array."
This examples shows one tag and values which should be enforce, in my org we use set of tags.
so I wanted to add an array which consist of set of tags. and when user creates the RG and specifies one of the tag present in the policy array then it will allow else the policy will block if any of the tag mentioned in the RG doesn't matches tags mentioned in the policy.

---
#### Document Details

⚠ *D

[2019-01-10 14:43] MGoedtel commented on #20565
#please-close as I updated the article and the new version of the article should be released today.  Thanks!

[2019-01-10 14:49] vhorne commented on #22065
@anttipo

This information belongs with the article about v2. This has not been a frequently asked question, so that's why it doesn't appear there.

[2019-01-10 14:54] CasperJ commented on #20318
Still same error

LinkedService
[code]

Pipeline:
[code]

Gives this error:
[code]

But it all works if I use the Web Activity :)
[code]

[2019-01-10 14:55] admintgal opened #22090 "v1.0 Timeline/Plans"
Not trying to be rash here, as I know its likely very far out, but is there any timeline to remove the v1.0 endpoint?  There are developers that I support that want to use the v2.0 endpoint immediately (and are having issues getting it to work)  due to concerns that they may have to refactor their apps for the v2.0 endpoint in the near future once the v2.0 endpoint work is complete.  I'm trying to

[2019-01-10 14:56] sergaz-msft commented on #21406
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-10 14:56] #21406 closed

[2019-01-10 14:58] BMichaelJ opened #22091 "Commands examples wrong"
Please change the examples to reflect the AZ module.

Ex:
Search-AzureRmGraph -Query "summarize count()"

Is not working, the correct command is

Search-AzGraph -Query "summarize count()"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d477e300-fccf-298b-fb97-d67d2f5acaec
* Version Independent ID: 78f816e8-7ccf-9398-cbd

[2019-01-10 14:59] sergaz-msft commented on #21730
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-10 14:59] #21730 closed

[2019-01-10 15:06] mganeshphani commented on #22020
@AshokPeddakotla-MSFT I have upgraded to 1.6.0.. but still not able to see the version buttons visible

Expected:
![image](https://user-images.githubusercontent.com/22988320/50976852-9a7d0a00-14b6-11e9-9697-3f83d94976d5.png)

Current:
![image](https://user-images.githubusercontent.com/22988320/50976884-ae287080-14b6-11e9-92ff-381243a5d280.png)

Question: are the version buttons supposed to be visi

[2019-01-10 15:12] Futtrup87 opened #22092 "Deploy Issue"
Is this supposed to work with the new Windows Container Edge Runtime (https://docs.microsoft.com/en-us/azure/iot-edge/quickstart)
I'm not able to deploy this to my Edge.
A few month ago when the Edge Runtime was a Linux Container i was able to deploy this, but now that its a Windows Container i cannot.

Can some one verify that the OPC Publisher module works with the Windows Container Edge Runtime

[2019-01-10 15:30] vhorne commented on #18018
#please-close

[2019-01-10 15:36] RePinheiro opened #22093 "FaceClient Error Rules Security"
Error FaceClient:

{"Inheritance security rules have been violated by type: 'System.Net.Http.WebRequestHandler'. Derived types must match the security accessibility of the base type or be less accessible.": "System.Net.Http.WebRequestHandler "}

[2019-01-10 15:45] cconrado opened #22094 "Does this alert exist for non-azure vm?"
Looking for the metric Total Update Deployment Runs but for non-azure machines

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3461048-c7fc-3979-a818-39af99d5e6bb
* Version Independent ID: d0e5e766-ef63-d934-b21b-678933a5cc65
* Content: [Manage updates and patches for your Azure Windows VMs](https://docs.microsoft.com/

[2019-01-10 15:45] vhorne commented on #21741
@davidobrien1985
The [DNS FAQ](https://docs.microsoft.com/en-us/azure/dns/dns-faq#are-there-any-limitations-for-private-zones-during-this-preview) states the following:

A virtual network can't have any virtual machines with a NIC attached when it links for the first time to a private zone as a Registration or Resolution virtual network. **In other words, the virtual network must be empty**. The v

[2019-01-10 15:59] edm-ms commented on #15622
Can we get B series added too?

[2019-01-10 16:04] philippschaefer4 commented on #19855
Hi @YutongTie-MSFT,

I am still not able to update my web service with REST-Calls. I have retrained it via BATCH and the output (model.ilearner) is stored in a storage container for which I got an SAS token.

Now I want to update the actual predictive web service with a PATCH-call as the reference mentioned above by @kumaranpravin suggests is possible.
But I already don't understand the necessary

[2019-01-10 16:27] abhiramani-iptiq opened #22095 "Create AKS with AAD from Azure Portal"
When Azure Portal will be modified so we can Create AKS with AAD  integration and add below parameters from Azure Portal.
 --aad-server-app-id
  --aad-server-app-secret
  --aad-client-app-id
  --aad-tenant-id

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a47c6df7-5103-1336-eb0b-68f95155e6c8
* Version Independent ID: f

[2019-01-10 16:30] kevin-meyer opened #22096 "The javascript example of `trackTrace` has the parameters out of order."
The javascript example of `trackTrace` has the parameters out of order. The second parameter takes the properties, not the severity level.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 401d2997-0fbd-7966-8996-edbaab1819ff
* Version Independent ID: c3ee3318-4c69-8ded-a8d5-5059d699351b
* Content: [Application Insights A

[2019-01-10 16:32] montereyharris opened #22097 "Azure AD Conditional Access Policy Hierachy"
Which policies applies first? If 2 policies apply to the same access which one goes first?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 625bb1b2-81fd-9804-c0b5-3cd2904decd9
* Version Independent ID: e4468b05-200e-24ae-75e9-29fb2b3a6ddc
* Content: [What are conditions in Azure Active Directory conditional access?](htt

[2019-01-10 16:32] kevin-meyer commented on #22096
Disregard. I misread the documentation.

[2019-01-10 16:32] #22096 closed

[2019-01-10 16:43] RussellHaley opened #22098 "Not Accurate/incomplete"
So I followed these directions and my app functions are readonly. The best answer I've found so far is to delete a line from function.json. Instructions here: https://jaredrhodes.com/2017/11/13/your-app-is-currently-in-read-only-mode-because-you-have-published-a-generated-function-json/

EXCEPT that every time I deploy, I have to make the same change. Where is the documentation on this?

WHAT IS T

[2019-01-10 16:44] jfuller05 opened #22099 "Unable to Peer VNets in different subscriptions and different Azure AD tenants"
I haven't had success with vnet peering between the two tenants and subscriptions.

When trying to make the peering (via Powershell) I get the error _"message": "The client has permission to perform action 'Microsoft.Network/virtualNetworks/peer/action' on scope '...', however the current tenant '...' is not authorized to access linked subscription '...' "_

Documentation used

https://docs.micros

[2019-01-10 16:51] DiegoRamirez-MSFT commented on #22086
hello @jknightly I have assigned this to the author to validate any possible update

[2019-01-10 16:54] DiegoRamirez-MSFT commented on #22082
hello @algattik thanks for your feedback, usually this happens when we try to separate steps from command line tools and portal, however I have assigned this to the content author to evaluate any possible update

[2019-01-10 16:54] Anand-Moghe commented on #21912
@yujhongmicrosoft  I added the file and tried to use Interactive/automation login and I am getting errors - AD Auth token endpoint returned HTTP status code 400

Should I deleted any existing files in  AadProvider.json   because I previously signed in to Azure Commercial using Eclipse and there are few files already in the folder.

[2019-01-10 17:10] Danrawlings-msft opened #22100 "Schema information for Policy category is missing"
There is schema info for the other event categories but not for Policy. Is this due to be added?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f45f57cb-5482-db31-c268-ff2322eb64ef
* Version Independent ID: 4e6ce5b3-578f-8a6f-25ea-9a15f706c65b
* Content: [Azure Activity Log event schema](https://docs.microsoft.com/en-u

[2019-01-10 17:12] kobulloc-MSFT commented on #22096
@kevin-meyer Thank you for reaching out to us!

[2019-01-10 17:12] curtand commented on #20572
Hi @SamirFarhat I’ll see if I can get this staged for review today.

[2019-01-10 17:15] simoneb opened #22101 "Alfa Romero"
Alfa Romero is not a make of cars. It's probably Alfa Romeo what you want to refer to here. In other words, the data set has a typo.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdd7dec4-a353-0ad5-2de3-1300ade6ad87
* Version Independent ID: 3f024fa1-7c94-a0a1-f72b-df98b33540a5
* Content: [Simple experiment - Azure Ma

[2019-01-10 17:15] g-dupuis opened #22102 "Unclear how to actually write tests"
Hello,

This documentation seems unclear on how one can actually write proper test cases for their U-SQL scripts. There's a couple big issues that I'm having.

First of all, there seems to be no way to create a different set of use cases to test against a single script. I would think that I could create a set of input and expected output documents to run against a script and have a test method for

[2019-01-10 17:16] kobulloc-MSFT commented on #22039
@asubmani Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-01-10 17:20] Danrawlings-msft commented on #22100
On page https://docs.microsoft.com/en-us/azure/azure-monitor/platform/activity-log-schema there is schema info for events in all categories (Administrative, Service Health, Resource Health, Alert, Autoscale,  Security and Recommendation) but there is no schema data for events in the Policy category.

https://docs.microsoft.com/en-us/azure/azure-monitor/platform/activity-logs-overview in the Catego

[2019-01-10 17:22] hawkbox opened #22103 "What role is required to add users?"
Contributor doesn't appear to be adequate and I don't intend to give out Owner.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 163a1f88-c268-18aa-a1e6-89b4a11bfb01
* Version Independent ID: 1136a613-48f8-fb67-39d3-d9abdd351a0f
* Content: [Assign a user or group to an enterprise app in Azure Active Directory](https://do

[2019-01-10 17:30] Karishma-Tiwari-MSFT commented on #22076
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-10 17:31] andersponders commented on #10894
@madymantha hey, if youre still interested, i made a little node.js version of the middleware [here](https://github.com/andersponders/BotBuilder-PersonalityChat-nodejs)
npm package is `botbuilder-personalitychat-nodejs`

@YutongTie-MSFT let me know if you guys want to merge it in to your main repo

[2019-01-10 17:31] agentHoover opened #22104 "Incorrect database identification in step 5 of the first strategy"
In the first strategy, if I understand correctly, the text describing the 5th step incorrectly indicates that the PRIMARY database should be put in RW mode and upgraded. Should this not be the SECONDARY database? In any case it doesn't match the diagram.
"3. Turn the primary database to read-write mode and run the upgrade script in the stage slot (5)."

---
#### Document Details

⚠ *Do not edit th

[2019-01-10 17:31] Karishma-Tiwari-MSFT commented on #22078
@rishikakkarster Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-01-10 17:32] Karishma-Tiwari-MSFT commented on #22084
@mrityunjay0510 Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-01-10 17:33] nhart12 opened #22105 ""targetResourceType property is missing or invalid.""
When deploying an alert from an ARM template that monitors a single resource we are receiving the following error:
'{
  "Code": "BadRequest",
  "Message": "targetResourceType property is missing or invalid."
}'

It is my understanding that we only need to provide targetResourceType when monitoring multiple VMs. This seems to only happen on newer versions of Azure powershell. It work on another mac

[2019-01-10 17:33] aquibqureshi26 commented on #22070
hey karishma, this is related to Azure Policy for resource group.

using this policy, it gets triggered properly when I'm using powershell. but there is some flaw in the Azure portal.

[2019-01-10 17:33] Karishma-Tiwari-MSFT commented on #22093
@RePinheiro Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-01-10 17:34] Karishma-Tiwari-MSFT commented on #22099
Thanks for the question. We are currently investigating and will update you shortly.

[2019-01-10 17:38] #21997 closed

[2019-01-10 17:39] Karishma-Tiwari-MSFT commented on #21062
@dpapkin We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-01-10 17:39] #21062 closed

[2019-01-10 17:39] Karishma-Tiwari-MSFT commented on #20565
@mrdfuse Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-01-10 17:39] #20565 closed

[2019-01-10 17:39] #18018 closed

[2019-01-10 17:40] Karishma-Tiwari-MSFT commented on #21848
@reubenrajan  We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-01-10 17:40] #21848 closed

[2019-01-10 17:42] garyericson commented on #22101
@simoneb - Wow, good catch! That's been there a long time and no one has noticed it! I'll file this as a bug against the dataset in Studio, with a note to update the documentation when the dataset is corrected. I'll go ahead and close this GitHub issue. Thanks for submitting this.

#please-close

[2019-01-10 17:44] Karishma-Tiwari-MSFT commented on #22023
@johnkwaters Can you please provide the link to the documentation you are following, so that I can direct this issue to the right team.

[2019-01-10 17:45] simoneb commented on #22101
@garyericson no worries, being a owner of Alfa Romeo helped spot the bug.

I see it appears in quite a few screenshot and video tutorials, being always at the top of the data set. Good luck fixing the docs :)

[2019-01-10 17:45] aashishb commented on #21186
Yes, you can download image from ACR to any where you would like to but what I was trying to clarify is that this is not an officially supported path.

[2019-01-10 17:48] DCtheGeek commented on #22091
@BMichaelJ Both should continue to work as both are still supported. What environment are you trying this from (Cloud Shell, Windows PowerShell, PowerShell Core)?  There's a schedule for converting AzureRm to Az for each service and the change over for this docset will happen on that schedule (tentatively this month or next).

From Cloud Shell (using PowerShell), I just used both:

[code]

@Micros

[2019-01-10 17:48] YutongTie-MSFT commented on #22080
@lesterw1
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-10 17:51] kgremban commented on #22025
@DaveEM When you say that you "also do a 'docker login'" what does that mean? You should only have to log in to the container registry where you're pushing the module image. Did you run two docker login commands, one to log in to your Azure container registry, and another to log in to your docker registry?

Can you provide more information about your development environment? What operating system

[2019-01-10 17:54] femsulu commented on #22072
@dbsanfte Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-10 17:56] femsulu commented on #22073
@idohalevi Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-10 17:57] SamirFarhat commented on #20572
Thanks.
I can answer it myself now.
1- To register the Gateway fitst, any Azure AD user can do it
2- To create the Op data gateway on Azure, you just need to standard role to create a resource, like Contributor role on the RG.

Thanks,
Can be closed.

[2019-01-10 17:58] PatrickFarley commented on #9541
@jge002 , Ah, that makes sense, thank you for sharing the solution with us.
#please-close

[2019-01-10 18:00] jason-j-MSFT commented on #21586
@sharonlo101 could you take a look?

[2019-01-10 18:02] jason-j-MSFT commented on #21653
@douglaslMS could you take a look?

[2019-01-10 18:05] MicahMcKittrick-MSFT commented on #22095
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-10 18:06] MicahMcKittrick-MSFT commented on #22083
Thanks for the question! We are investigating and will update you shortly.

[2019-01-10 18:11] bwren commented on #21082
This really isn't a documentation issue any more.  The article is using the correct code for a warning event in Log Analytics. If we want some background on any conversations that may be occurring in that collection, then we would need to follow up with the engineering team.

[2019-01-10 18:17] SaurabhSharma-MSFT commented on #22063
@Sihomiri

[2019-01-10 18:18] codebeaulieu opened #22106 "Does this need an update?"
When attempting to intall into a brand new project I am receiving the following error:
NU1202: Package WindowsAzure.Messaging 0.1.7.4 is not compatible with xamarinios10 (Xamarin.iOS,Version=v1.0) / win-x86. Package WindowsAzure.Messaging 0.1.7.4 supports: win8 (Windows,Version=v8.0)

Have there been any updates?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-01-10 18:19] DaveEM commented on #22025
I had to run "docker login" to log in to the docker.io registry with my docker hub credentials.  Until I ran that command and entered my docker hub credentials the build failed when it tried to pull the microsoft/dotnet:2.1-sdk image that is used as part of the build.

My development environment is Windows 10 RS5 RTM (17763.195) with Docker CE stable installed (Version 2.0.0.0-win81 (29211) config

[2019-01-10 18:23] MicahMcKittrick-MSFT commented on #21862
@aloneguid I will close for now. When ready let me know and we can reopen and continue.

[2019-01-10 18:23] #21862 closed

[2019-01-10 18:24] DaveEM opened #22107 "Mounts target has too many backslashes"
This:
"Mounts": [{"Target": "C:\\\\mssql","Source": "sqlVolume","Type": "volume"}],

Should be:
"Mounts": [{"Target": "C:\\mssql","Source": "sqlVolume","Type": "volume"}],

When there are too many backslashes the following error occurs creating the sql module on Windows Server 2019 build 17763.195:
warn: edgelet_utils::logging -- 	caused by: invalid mount config for type "volume": invalid mount pa

[2019-01-10 18:29] DaveEM opened #22108 "Tutorial should note that it currently doesn't work on Windows build 17763 (e.g. Server 2019)"
The instructions in this article should note that the steps don't work on Windows build 17763 (e.g. Server 2019. RS5 RTM) since the sql module won't start due to an OS version mismatch and there is no sql module available for 17763 yet.  The error that is logged is similar to the following:

warn: edgelet_utils::logging -- 	caused by: CreateComputeSystem 7ea7598953a349e35f46b6de2607c9ae75db9db15f9

[2019-01-10 18:31] YutongTie-MSFT commented on #20346
@strategywise We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-01-10 18:31] #20346 closed

[2019-01-10 18:31] hecflores commented on #22088
I agree with this comment. By requiring the version we are still are coupling the app settings with the key vault secret at provision time, making this new (Awesome!) feature lose so much potential impact.

If the version is not required and the latest is fetched at run time then this will enable the organization to decouple their key vault and configuration pipelines easing the pain of circular d

[2019-01-10 18:32] YutongTie-MSFT commented on #21186
@aashishb Thank you.

@vimalamaldas
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-01-10 18:32] #21186 closed

[2019-01-10 18:32] YutongTie-MSFT commented on #20178
@lauraRuzicka Hi, since it's back. I will close this issue. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-01-10 18:32] #20178 closed

[2019-01-10 18:33] YutongTie-MSFT commented on #20529
@thananstr
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-01-10 18:33] #20529 closed

[2019-01-10 18:34] curtand commented on #21710
Hi @danmyhre
I just signed off for this update in https://github.com/MicrosoftDocs/azure-docs/pull/22047. Thanks!!

[2019-01-10 18:34] YutongTie-MSFT commented on #20437
@thananstr
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-01-10 18:34] #20437 closed

[2019-01-10 18:50] PatrickFarley commented on #15060
@LanceMcCarthy Thanks for calling this out. I have updated the sample code to use updated libraries (with HttpClientBuilder). The change should be live by end-of-day.
#please-close

[2019-01-10 18:51] LanceMcCarthy commented on #15060
Thanks!

[2019-01-10 18:51] #15060 closed

[2019-01-10 18:52] jagulliv commented on #17397
@iainfoulds is the right point of contact for this, just discussed this with him and he will be making the changes to the document. https://docs.microsoft.com/en-us/azure/aks/scale-cluster

[2019-01-10 18:52] axayjo commented on #21959
Once you've created the image definition, run the following command to create an image version:

az sig image-version create \
   -g myGalleryRG \
   --gallery-name myGallery \
   --gallery-image-definition myImageDefinition \
   --gallery-image-version 1.0.0 \
   --target-regions "WestCentralUS" "SouthCentralUS=1" "EastUS2=1" \
   --replica-count 5 \
   --managed-image "/subscriptions/<subscripti

[2019-01-10 18:52] TravisCragg-MSFT commented on #22043
@walidshaari I can confirm that the Hotfix is ~340M, but the Update first downloads an updater program. I show the full 1811 update to be 3.31GB. These 2 updates should bring your 1809 system to 1811. Please note that this will not work with the ASDK.

For size updates to the doc, I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-10 18:54] Karishma-Tiwari-MSFT commented on #22081
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-10 18:59] BryanTrach-MSFT commented on #22088
@gbryniarski and @hecflores Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-10 19:06] dlepow commented on #21720
Doc update published, so closing this issue. Thanks again @skybear2014 for letting us know.
#please-close

[2019-01-10 19:08] femsulu commented on #22089
@aquibqureshi26 Thanks for the Comment. We are actively investigating and will get back to you soon.
@DCtheGeek do you have a sample for the above scenario?

[2019-01-10 19:09] TravisCragg-MSFT commented on #22067
@ThierryBT You are correct, This is an on-premise device used to connect to an ExpressRoute.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-10 19:13] TravisCragg-MSFT commented on #22077
@chasedai Virtual Network Peering uses [Microsoft's internal backbone network to transfer the data](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-peering-overview), instead of sending it across the public internet.

This has the potential to lower latency, depending upon the paths taken. For your scenario, I would recommend peering 2 networks on the 2 regions and testing t

[2019-01-10 19:13] #22077 closed

[2019-01-10 19:13] georgewallace commented on #21190
@kvenkazure Thanks for reaching out, this verbiage is indeed confusing.. I have updated the content and when it is merged it will close this issue out.

[2019-01-10 19:19] PatrickFarley commented on #16475
no repro
#please-close

[2019-01-10 19:21] eadluru commented on #21892
hi,
the code is actually now working without any errors but when i execute the code in Linux there is no problem and I am getting the correct output. but in Windows it directly displays the message in last if statement (i.e.)
if (result->Reason == ResultReason::Canceled)
	{
		auto cancellation = CancellationDetails::FromResult(result);
		cout << "CANCELED: Reason=" << (int)cancellation->Reason <<

[2019-01-10 19:23] femsulu commented on #22094
@cconrado Thanks for the Comment. We are actively investigating and will get back to you soon.

@zjalexander any insights on the comment above?

[2019-01-10 19:24] curtand commented on #20572
#please-close

[2019-01-10 19:34] benstott-eduserv opened #22111 "Update or upgrade domain?"
The article makes reference to fault domains and update domains in the first paragraph, but in the second it references fault domains and upgrade domains. Are the terms update domain and upgrade domain interchangable in the context of Azure Storage?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80a76666-a7d3-9615-0e32

[2019-01-10 19:34] arsing opened #22112 "Updating device twin reported properties returns 204, not 200"
The "Update device twin's reported properties" section says that the success return code is 200. In fact the success return code is 204 (No Content).

https://github.com/MicrosoftDocs/azure-docs/blob/9b814b4a5f3697364e18be161aadeae97888a797/articles/iot-hub/iot-hub-mqtt-support.md#L245-L249

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2019-01-10 19:36] Mike-Ubezzi-MSFT commented on #22104
@agentHoover Thank you for the detailed feedback. The information can be understood at a high level but if you were to try and follow these steps specifically, there would be a period of time where end-users will experience an interruption of the service. Between this step:

and the next step:

At this point in time, per the graph, the secondary is not receiving traffic and the primary is in a rea

[2019-01-10 19:37] SamirFarhat commented on #20572
Sorry, the answer is for another issue. So i will remove my comment.

[2019-01-10 19:37] dahlbyk commented on #15958
As of this update, I would expect an Azure AD user with only **Storage Blob Data Contributor (Preview)** (or Reader) permission, either on the Storage Account or an individual Container, to be able to use Storage Explorer to access the appropriate containers. That does not currently seem to be the case?

I'll try also granting **Storage Account Contributor**, but that's more access than this user

[2019-01-10 19:37] TravisCragg-MSFT commented on #21889
Yes, they both will work, as they serve different roles. With proper routing, they will not conflict with each other.

Typically traffic destined for the app gateway will not cross the firewall, and traffic for the firewall will not cross the app gateway.

[2019-01-10 19:39] SamirFarhat commented on #21363
Thanks.
I can answer it myself now.
1- To register the Gateway fitst, any Azure AD user can do it
2- To create the Op data gateway on Azure, you just need to standard role to create a resource, like Contributor role on the RG.

Thanks,
Can be closed.

[2019-01-10 19:43] #21889 closed

[2019-01-10 19:45] rabur116 opened #22114 "The template doesn't work"
The JSON template to create a new Resource Group does not work. I get error "\"No HTTP resource was found that matches the request URI 'https://management.azure.com/subscriptions ****" when I ran the template. Any idea?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9fcea54-677c-dbcb-f61b-765aa9

[2019-01-10 19:49] CarlRabeler commented on #22104
Adding @MashaMSFT to coordinate answer in conjunction with @anosov1960

[2019-01-10 19:50] jason-j-MSFT commented on #22102
@g-dupuis
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-10 19:54] cephalin commented on #21878
Here is a statement from DigiCert:
“The protocols used for encryption and the certificate are completely separate. The protocols such as TLS 1.0 and 1.1 are server settings and have nothing to do with the certificate other than the fact that they require a certificate to work. So as long as the server supports ECC certificates, it will function on any protocol(s) the server uses.”

[2019-01-10 19:55] TomArcherMsft commented on #20862
Adding @grayzu for input.

[2019-01-10 20:03] daweins commented on #22021
It looks like the data table with the incorrect data was removed yesterday - that helps limit the problem.  However, I'm not comfortable with what remains either:
The doc now states:
****
Unlike Premium Disks, the input/output operations per second (IOPS) and throughput (bandwidth) of Standard Disks are not provisioned. The performance of standard disks varies with the VM size to which the disk is

[2019-01-10 20:04] TomArcherMsft commented on #19248
@GWBasic Does the input from @bbi-yggy address the issue?

[2019-01-10 20:04] Grace-MacJones-MSFT commented on #22106
Hi @codebeaulieu, Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-10 20:08] mike-urnun-msft commented on #22098
Hi @RussellHaley Thank you for your feedback! We will review and update as appropriate.

[2019-01-10 20:12] BMichaelJ commented on #22091
Ok, makes sense, just installed the AZ module and following the steps in this doc it is recommended to uninstall AzureRM.
So just going according the guide and the steps it gets confusing when the examples do not work.

[2019-01-10 20:30] #21785 closed

[2019-01-10 20:31] TomArcherMsft commented on #19094
@w00dbury Definitely a bug. I'll fix and reply here when done. Thanks!

[2019-01-10 20:34] meixger commented on #21878
@cephalin I got this info directly from Azure support. I had a Let's Encrypt ECC certificate on an App Service and TLS 1.0 and 1.1 didn't work. After replacing the certificate with a RSA one all TLS 1.0, 1.1 and 1.2 worked.

[2019-01-10 20:34] Karishma-Tiwari-MSFT commented on #22070
@aquibqureshi26 I have updated the issue with the document link. please confirm this is the doc you have been following.
We are currently investigating and will update you shortly.

[2019-01-10 20:36] aquibqureshi26 commented on #22070
yes. You can replicate the issue in your lab as well.

[2019-01-10 20:36] #21720 closed

[2019-01-10 20:38] Karishma-Tiwari-MSFT commented on #22021
@yuemlu Can you please take a look at the document improvement suggestions and update as doc as appropriate. Thanks :)

[2019-01-10 20:42] tfitzmac commented on #22114
@rabur116 - how did you try to deploy it? I just tested the Azure CLI and PowerShell commands through CloudShell and both worked as expected.

[2019-01-10 20:43] tchristiani commented on #9883
#please-close

[2019-01-10 20:44] CelesteDG commented on #19304
Fix is now live. #please-close

[2019-01-10 20:58] RussellHaley commented on #22098
Thanks for responding! This is the first time anyone has responded to a comment on a document.

[2019-01-10 20:59] jhealy opened #22115 "service settings - wth is it?"
Well, after two hours finally got super bot guy to tell me its under profile stuff.  He won't let me put his name in here but....
&gt;&gt;&gt; Log in to the QnA Maker portal, and go to Service settings.
&gt;&gt;&gt; Log in to the QnA Maker portal, and go to your Profile, then click Service settings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-01-10 21:05] anirudhcavale commented on #14757
@DJChamp so Memory metrics are offered by default on VMs. To collect it you are correct that you can enable extended metrics. However, those metrics are not written to Azure Monitor, they are written to a Storage account. Metrics sent to the storage accounts are visible in the Azure Portal, but the Get Metrics API doesn't read those metrics.
There is a oublic preview currently going on where you c

[2019-01-10 21:06] taromielnaz commented on #21078
OK, regardless of the documentation , what about the portal? How can I run a F# script on Azure?

[2019-01-10 21:09] vhorne commented on #18959
@fsimonazzi
Updated certificate info.

[2019-01-10 21:12] Karishma-Tiwari-MSFT commented on #21867
@cgros The nodes generated are configured by Azure platform and there is no manual configuration that we can perform. Therfore I do not think there is a way to automatically add labels on nodes created using Cluster autoscaler.

@iainfoulds Can you please share your insights and help us confirm on this one? Thanks. :)

[2019-01-10 21:16] wolfma61 commented on #21892
what is the error you receive?

[2019-01-10 21:18] iainfoulds commented on #22086
Thanks for the suggestion, @jknightly. Yes, you can run some scripts that communicate with the Azure VM agent on each node. It's not an interactive process though, so depending on the troubleshooting you're trying to perform, may not provide enough information or control. The goal and steps in this doc describe how to enable and then use SSH to connect to nodes if you need more of that interactive

[2019-01-10 21:20] cninja01 opened #22117 "AnyConnect client using NPS Extension with SMS not sending av-pair"
We are having an issue with using NPS Extension with Anyconnect clients, whereas SMS clients do not pass av-pairs back to the Radius server from Azure NPS Extension resulting in user being assigned to a default policy instead of the one they are expected to be authorized for.  We have success with OATH, App Verification/Acceptance, Phone call, but SMS just does not work.  Is there something we cou

[2019-01-10 21:20] CelesteDG commented on #22090
Hi @admintgal - Thank you for your question. Apps built with ADAL will continue to work and be supported. Some info is here: https://docs.microsoft.com/en-us/azure/active-directory/develop/about-microsoft-identity-platform

For more specific roadmaps on our SDKs, the .NET team has a detailed roadmap published here: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki#roadmap

[2019-01-10 21:32] #22101 closed

[2019-01-10 21:34] Alberto-Vega-MSFT commented on #22092
@Futtrup87 Thanks for your feedback. It should work for more info you could check: https://github.com/Azure/iot-edge-opc-publisher Can you share the error you are seeing?

[2019-01-10 21:34] eadluru commented on #21892
@wolfma61 this is the output i got.

 Say something...
CANCELED: Reason=1
CANCELED: ErrorCode= 5
CANCELED: ErrorDetails=Connection failed (no connection to the remote host). Int
ernal error: 8. Error details: 998. Please check network connection, firewall se
tting, and the region name used to create speech factory.
CANCELED: Did you update the subscription info?
Please press a key to continue.
ma6

[2019-01-10 21:34] MohitGargMSFT commented on #22097
@montereyharris Thanks for your feedback! We will investigate and update soon on it.

[2019-01-10 21:35] MohitGargMSFT commented on #22103
@hawkbox Thanks for your feedback! We will investigate and update soon on it.

[2019-01-10 21:36] aljo-microsoft commented on #21978
@rifaterdemsahin and @MicahMcKittrick-MSFT

I appreciate your contribution to our community and product.

I've reviewed the documentation referenced and was unable to identity any errors.

Please open a support ticket to resolve your issue, and close this.

Context:
User opened an issue on a concept document, and the only thing I see being wrong given the context the user provided is he isn't foll

[2019-01-10 21:39] Cupovboy commented on #21989
@HeidiSteen  Thank you so much :D. Is there any documentation on how to make the indexers point to the same indexer inside the azure portal? or should I use postman ?

[2019-01-10 21:39] #21873 closed

[2019-01-10 21:40] #21190 closed

[2019-01-10 21:43] aljo-microsoft commented on #16753
@josere

We are only prescriptive of how a user writes their code when the user takes a dependency on our programming models, and we document supported scenarios. If the user isn't following supported prescriptive scenarios, then the user is recommended to follow applicable API documentation, or obtain applicable support if they need help writing their code.

SF Support Options:
https://docs.micro

[2019-01-10 21:45] #16753 closed

[2019-01-10 21:46] HeidiSteen commented on #21989
@Cupovboy  I think you should use Postman.  The Import data wizard in the portal requires you to create an index and indexer.  The only thing you can reuse is a data source.  LMK if I didn't understand your question correctly.

[2019-01-10 21:46] rolyon commented on #21297
Hi @DanielBirmingham
Thanks for your feedback. We are in the process of updating this article. I'll let you know when it is published.

[2019-01-10 21:46] shizn commented on #21774
You scenario makes total sense to me. If you have to keep the project working in both VS and VS Code, I'd suggest, for now, probably you can write a script to make the deployment.template.json keeps syncing in two folders. Let me add a note at the beginning of the tutorials, saying that for now it's fully compatible. We will also take this scenario into consideration in our design - https://github

[2019-01-10 21:52] MicahMcKittrick-MSFT commented on #21978
Thanks @aljo-microsoft

@rifaterdemsahin I will close for now.

If you are unable to open a technical support ticket let me know and I can enable your subscription for that request.

[2019-01-10 21:52] #21978 closed

[2019-01-10 21:52] rabur116 commented on #22114
@Tom - I tried it using ARM Template and copied the exact JSON script from the article. It failed. Let me know if you have tried successfully using template too.

[2019-01-10 21:53] #17397 closed

[2019-01-10 21:53] DCtheGeek commented on #22091
When you installed the Az module per the steps under 'PowerShell Core', did you perform step 3 - `Enable-AzureRmAlias`?  This should enable an Az install (where AzureRm is uninstalled or was never installed) to use AzureRm cmdlets as aliases.  This is what enables all the existing command samples to work for either AzureRm or Az install.

[2019-01-10 21:55] Karishma-Tiwari-MSFT commented on #22081
@MashaMSFT For context, As per [this doc](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-sql-server-agent-extension),

[2019-01-10 21:57] pilor commented on #22070
Your policy is checking to see if the "tags" property exists.  This property can exist even if tags are not being set on the resource.  (i.e.  "tags": {}).  Policy doesn't have a good mechanism right now for this scenario where you don't care about WHAT tag is present, just that there is any tag present.  The more typical scenario is checking if a specific tag exists.

However, in the next month o

[2019-01-10 22:00] anair-rms commented on #21944
I had the same issue as @dinu99 and I can confirm that _downgrading to Packer 1.3.2 resolves the problem_. I am attaching the Packer log output below.

[code]

[2019-01-10 22:02] DCtheGeek commented on #22070
Thanks @pilor!

@aquibqureshi26 Please let us know if that didn't answer your question.  A request such as this is typically better suited for a support case.  If you have feedback or questions about the docs, please feel free to open another issue here.  If you have suggestions, please check out the [Governance UserVoice](https://feedback.azure.com/forums/915958-azure-governance).  Thanks!

@Micr

[2019-01-10 22:03] tfitzmac commented on #22114
I mean how did you deploy the template? If you used the portal, you'll get an error because the portal doesn't currently support subscription level deployments.

[2019-01-10 22:04] #22070 closed

[2019-01-10 22:15] aquibqureshi26 commented on #22070
@pilor thanks for sharing it.

I've tried to create policy which check specific tags but it is not working. can you please take a quick look.

{
  "if": {
    "allOf": [
      {
        "field": "type",
        "equals": "Microsoft.Resources/subscriptions/resourceGroups"
      },
      {
        "anyof": [
          {
            "field": "tags.Env",
            "exists": false
          },

[2019-01-10 22:15] BMichaelJ commented on #22091
No i did not enable the aliases, maybe i should read the documentation better.

[2019-01-10 22:16] DCtheGeek commented on #22089
@aquibqureshi26 Just for clarity, are you checking that each tag is being set on the resource, but don't care what value is used, or that you just want to be sure at least one of a list of tags is used and still don't care about the value? In either case, you wouldn't do it as a single condition as each tag is a matched field by the tagName. However, you could accomplish it by using the [logical o

[2019-01-10 22:16] PrometheusRising1 opened #22118 "Please give more examples"
I know this is older, but give examples or at least show syntax with multiple inputs and outputs.  Also, leave a not about difference V1 vs V2.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d7e7a59-4299-5efe-cf48-be4d229df40b
* Version Independent ID: eaff9ce5-575f-31a7-cfca-9c4edece92d6
* Content: [Transform data us

[2019-01-10 22:17] #21774 closed

[2019-01-10 22:18] DCtheGeek commented on #22091
Give the aliases a try and let me know if that fixes it.  I'll leave the issue open until you confirm in case that doesn't fix your issue and it's something else.

[2019-01-10 22:21] BMichaelJ commented on #22091
It is ok, i am running the AZ module going forward and if i need the AzureRM i can install that and enable the aliases. Was not an issue once i figured out that the examples for AZ.

[2019-01-10 22:24] grayzu commented on #21695
@jacksonp2008 thanks for the suggestion and confirmation that this would be a useful feature.

[2019-01-10 22:24] DCtheGeek commented on #22091
Ok, just wanted to make sure we solved it for you.  For clarity, you don't install AzureRm to enable the aliases. `Enable-AzureRmAlias` basically created aliases for the old AzureRm cmdlets to the new Az cmdlets.  This way if you have legacy code or, in this case, samples, that continue to use AzureRm cmdlets, the samples will still work on your Az only install.  Thanks for the question and please

[2019-01-10 22:31] paulrennan commented on #12877
OAuth V2 uses scope instead of resource as well.

[2019-01-10 22:32] DCtheGeek commented on #22089
@aquibqureshi26 Thanks for clarifying the scenario.  What you should look at doing then is creating a policy for each tag/value pair that you require (using the enforce tag and its value sample you started with) and then group them together into an Initiative.  Then assign the Initiative and it will validate each policy within it.

[2019-01-10 22:41] Alberto-Vega-MSFT commented on #22107
@DaveEM  Thanks for your contribution. I assigned the issue to the content author.

[2019-01-10 22:45] rabur116 commented on #22114
That’s what it was, I deployed it through the portal so it failed. My primary intent is to create a RG and tagged it during creation. PS and CLI can accomplish that, however, most of our SysAdmins are not comfortable writing codes. We are new in Azure. That said, I need to create a GUI-based way to create a RG.

Only RG is what I can’t create using portal, other resources we don’t have problem.

D

[2019-01-10 22:47] ams0 opened #22119 "A more secure, read-only dashboard"
The instructions in this doc will assign a very broad (broadest) permission set to the dashboard service-account; this is very insecure and it's better to at least enlist a read-only option. Inspired by [this article](http://blog.cowger.us/2018/07/03/a-read-only-kubernetes-dashboard.html), I suggest to use [this template](https://gist.githubusercontent.com/ams0/677fe4fb1d523afef6e1cebb6d4a6035/raw

[2019-01-10 22:48] DCtheGeek commented on #21507
@cloudmelon Thanks for the question. In the sample, each hard-coded GUID corresponds to a built-in object of that _artifact_ type. The **roleDefinitionId** is used for the **Role Assignment** artifact.  In your environment, if you perform the following in Azure CLI, you'll see the built-in role for **Contributor**:

[code]

You'll notice it matches the hard-coded GUID used in the example. The same

[2019-01-10 22:49] patobtx commented on #21878
This indicates a client side issue, not a server side issue. What exactly is your client browser version? You can scan the available SSL ciphers on the Web App using your favorite SSL scanning utility. The client and the server need to share a common cipher.

I scanned a default App Service and found that it serves ECDHE ciphers on TLS 1.0 and 1.1.

To say that "ECC does not support TLS 1.0 and 1.

[2019-01-10 22:50] rakeshmotghare opened #22120 "ResourceNotFound error"
I am trying to execute dot net code in the custom activity. I have tried the same in ADF v1 and it works well. I have uploaded .exe and other dlls in a container in a blob storage account. When click on debug under the ADF pipeline, I am getting below error, its not even going into the exe. In the console application, I am just logging the activity extended property. Somehow its not finding the .e

[2019-01-10 22:54] aquibqureshi26 commented on #22089
Thanks David.
Can you please let me know if I'm correct?

{
  "if": {
    "allOf": [
      {
        "field": "type",
        "equals": "Microsoft.Resources/subscriptions/resourceGroups"
      },
      {
        "field": "tags.Env",
        "exists": false
      },
      {
        "field": "tags.use",
        "exists": false
      }
    ]
  },
  "then": {
    "effect": "deny"
  }
}

[2019-01-10 22:56] estebanpv opened #22121 "Errors and warnings when executing "sudo npm install""
Hello,

I am getting this when executing "sudo npm install":

npm WARN deprecated crypto@0.0.3: This package is no longer supported. It's now a built-in Node module. If you've depended on crypto, you should switch to the one that's built-in.
npm WARN deprecated circular-json@0.3.3: CircularJSON is in maintenance only, flatted is its successor.

&gt; i2c-bus@1.2.5 install /home/pi/iot-hub-node-rasp

[2019-01-10 22:56] Alberto-Vega-MSFT commented on #22112
@arsing Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-10 22:57] DCtheGeek commented on #22089
@aquibqureshi26 No, you are trying to put all the tags into a single policy.  I recommend using the [initial sample](https://docs.microsoft.com/azure/governance/policy/samples/enforce-tag-value) since it has both the tag and value comparison already.  Clone it into a new Policy definition for each tag/value combo you have, and then group them all together in an Initiative.  Then just assign the In

[2019-01-10 23:03] swatibhartiya commented on #16386
What's a CIDR block?

[2019-01-10 23:04] aquibqureshi26 commented on #22089
if I group multiple tags and values in an initiative. let's say one policy says tagname = Env and tag values = prod.
second policy says tagname = OS and tag value = Windows.
if i bind both the policies in an initiative then if my user specifies Env as tagname and values as prod then it will allow user to create RG.

It won't block it saying one policy in the same initiative doesn't match hence use

[2019-01-10 23:06] Karishma-Tiwari-MSFT commented on #21959
**bold**
_Italic_
[hyperlink](https://github.com/MicrosoftDocs/azure-docs/issues/21959)

`var a = "hello"`

1. Bullet1
2. Bullet2
3. Bullet3

- dot1
- dot2
- dot3

### Fontsize
https://github.com/MicrosoftDocs/azure-docs/issues/21959

[2019-01-10 23:06] Karishma-Tiwari-MSFT commented on #22023
**bold**
_Italic_
[hyperlink](https://github.com/MicrosoftDocs/azure-docs/issues/21959)

`var a = "hello"`

1. Bullet1
2. Bullet2
3. Bullet3

- dot1
- dot2
- dot3

### Fontsize
https://github.com/MicrosoftDocs/azure-docs/issues/21959

[2019-01-10 23:07] DCtheGeek commented on #21424
@theheatDK Just to make a note, you asked for tenant but responded that you solved it with subscriptionId.  Those are different things.  Subscriptions belong within a tenant.  It's probably what you meant and needed, just wanted to point that out for clarity.

[2019-01-10 23:09] TomArcherMsft commented on #19006
@qoricode Thanks for the feedback. I'm testing this today and will reply with my findings...

[2019-01-10 23:11] DCtheGeek commented on #22089
@aquibqureshi26 My mistake, I see now what you are going for and that is correct.  At this point, the request is outside an issue with the docs themselves.  Can you please open a support case to get this answered for you since it's a specific situation and not an issue with the samples or language docs?  Thanks!

[2019-01-10 23:11] TravisCragg-MSFT commented on #16386
you can [find more information Here](https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing). It is a way of describing IP Adressses and ranges.

[2019-01-10 23:20] MicahMcKittrick-MSFT commented on #22119
@ams0 thanks for the feedback. We generally keep these docs on the simpler side to give users a chance to try features out without adding additional steps. So in some cases you are right, it might not be the most secure setup that one would want to use in a Production scenario.

Regardless, I will assign to the content author to review.

[2019-01-10 23:21] Karishma-Tiwari-MSFT commented on #21720
![alt text](https://wtv3.blob.core.windows.net/media/diwali-feature.jpg?sv=2017-04-17&sr=b&sig=BOntobrj4ioqoESXYc6rQJ3kVXbfSV6nZ4Fmx5qbQ3Q%3D&st=2019-01-10T23%3A14%3A03Z&se=2022-01-10T23%3A19%3A03Z&sp=rw "diwali-feature.jpg")

[2019-01-10 23:34] MashaMSFT commented on #19420
Hi @phatcher , thanks again for sharing your feedback with Microsoft! #please-close

[2019-01-10 23:34] MashaMSFT commented on #21996
Hi @tobrienultima , can you please paste the entire code snippet you're executing? We need to see which parameters you're utilizing when switching the licensing model. Thanks!

[2019-01-10 23:36] ColbyTresness commented on #21706
@ggailey777 Probably yes. Node 11 won't work with Functions at all, and that's documented elsewhere, but probably good to change the phrasing at least to "LTS Version of Node", "Node 8.x or 10.x", or "8<=x=<10"

[2019-01-10 23:40] Anand-Moghe commented on #21912
I tried the same process for IntelliJ and that does not work. Same problem as Eclipse.

[2019-01-10 23:41] MashaMSFT commented on #21563
Hi @johnstaveley , thank you for contacting Microsoft! I did some research and unfortunately was unable to find an Azure Quickstart Template that configures backups. Can you please share your request with the engineering team via [UserVoice ](https://feedback.azure.com/forums/217321-sql-database) so they know this is a need customers have? Since there is little the content team can do to assist yo

[2019-01-10 23:48] beneuto opened #22124 "What about Azure Dev Ops?"
I have no idea how to connect to Azure Dev Ops for deployment.   I have tried using my AD login and Alternate Credentials but neither work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 754dcf9b-e64a-922b-6108-bd1152a758f0
* Version Independent ID: 58247335-c4e9-705b-297d-97637b872c02
* Content: [Configure deployment

[2019-01-10 23:48] MashaMSFT commented on #22081
Hi @helderpinto , thanks for bringing this to my attention! Let me investigate this further. Thanks!

[2019-01-10 23:53] femsulu commented on #22089
Here are the [steps](https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request) to raise a support tickets with Azure technical support. If you already have a support plan. If you don't, please send mail to AzCommunity@microsoft.com with your subscription ID and a link to this Github thread (for context) and we will assist you with engaging Azure technical sup

[2019-01-10 23:53] #22089 closed

[2019-01-10 23:58] becke-ch-s0-v1 opened #22125 "B2C quick-start/tutorial implementation not correct aligned"
Hi, the b2c quick-start/tutorial implementation see "https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-quickstarts-web-app" respective download here "https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi/archive/master.zip" is not correct aligned and still using "login.microsoftonline.com"
See: active-directory-b2c-dotnet-webapp-and-webapi-ma

[2019-01-10 23:58] MashaMSFT commented on #21996
Hi @tobrienultima , can you please also provide the output of of the $sqlvm | fl * command? Thanks!

[2019-01-11 00:00] Karishma-Tiwari-MSFT commented on #21959
![diwali feature](https://user-images.githubusercontent.com/20851144/51004730-cb7a3080-14f0-11e9-98ea-e19650510d91.jpg)

[2019-01-11 00:02] becke-ch-s0-v1 opened #22126 "B2C quick-start/tutorial implementation not correct aligned with Set redirect URLs to b2clogin.com for Azure Active Directory B2C"
Hi, according to https://docs.microsoft.com/en-us/azure/active-directory-b2c/b2clogin
...In the past, login.microsoftonline.com was used, now you should be using b2clogin.com...
BUT the b2c quick-start/tutorial implementation see "https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-quickstarts-web-app" respective download here "https://github.com/Azure-Samples/active-d

[2019-01-11 00:03] jlee-vi opened #22127 "Thank you"
I have been critical of some of your documentation over the year, and have been submitting bug reports through github more and more recently.

But I wanted to take a moment to say - great work! It would be great to see more of this type of documentation where, sometimes confusing product changes, are clearly explained.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-01-11 00:05] CelesteDG commented on #21690
Hi @melzoghbi - Thank you for the feedback. I'll make sure to add this error code now along with the following remediation info (updated with some specifics for the case you reported):

The application you registered was not found in the tenant named 'XXXXXX'. This can happen if the application with identifier bbe6ea72-3498-452b-9125-787be7a187d4 has not been installed by the admin of the tenant o

[2019-01-11 00:07] #22086 closed

[2019-01-11 00:08] Karishma-Tiwari-MSFT commented on #22117
@cninja01 Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-01-11 00:13] anneomcl opened #22128 "Replication Guarantees for Lua Scripts"
I'm wondering what the replication guarantees are specifically for lua scripts at different subscription tiers. When Azure Redis fails over, are the loaded scripts copied over? Does it save the state of any currently executing scripts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d381e32-2963-1767-3763-905ae05eca82

[2019-01-11 00:17] Johirsch opened #22129 "Typo in "Change compute resources""
In the section "vCore-based purchasing model: Change compute resources", the sentence "The length of time for the switch-over varies, but is generally under 4 seconds is less than 30 seconds 99% of the time." states that the switch-over is both "generally under 4 seconds" and "less than 30 seconds 99% of the time".  The wording as-is makes it unclear whether 1) someone intended to replace the 4-se

[2019-01-11 00:34] TomArcherMsft commented on #19094
@w00dbury Great report. Turns out it is a bug in the build system that emits the fragment identifier twice for external links. I've reported it to the team that owns that internal doc-build product for them to fix. Thanks again.

@femsulu As this is not a content bug, #please-close

[2019-01-11 00:35] Alberto-Vega-MSFT commented on #22121
@estebanpv I'm sorry you are facing this issue. It seems like the sample app needs to update it's dependencies. There is an issue already open in this repo https://github.com/Azure-Samples/iot-hub-node-raspberrypi-client-app/issues/22
would you please add your case to that one.