[2021-11-16 13:56] delarooster opened #83927 "Deploy Customer Attribution from BICEP"
I've been attempting to run this Customer Usage Attribution using BICEP; same resource type, layout, etc and continue to get one of two errors:
**Setup one** _(as template or templateLink are not required parameters of this resource type)_:
[code]
error: `The deployment 'pid-<guid>' must have either the TemplateLink or Template property set`

**Setup two:**
[code]
`Required property '$schema' not

[2021-11-16 13:58] georgewallace commented on #83755
@JPadster Thanks for raising this concern. At this time, I don't have anyone to look at this. Once I have someone available to look at it we will look to correct the sample.

[2021-11-16 14:24] mehulmistry-accelya opened #83928 "Data type for claims transformation input parameter ignoreCase"
[Enter feedback here]

String claim transformation docs for CompareClaims and CompareClaimToValue specify input parameter ignoreCase as having datatype boolean, however the following sample for claim transformation usage uses datatype string instead.

Kindly fix the documentation as per correct usage.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-11-16 14:32] KranthiPakala-MSFT commented on #83902
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2021-11-16 14:35] KranthiPakala-MSFT commented on #83899
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2021-11-16 14:45] jd1984 commented on #78589
Hi James,
Did you ever hear back from your engineering team?
This still does not work with role assignable groups.
Thank You

[2021-11-16 14:47] hatasaki opened #83929 "Issues on creating ARO using portal"
I faced several issues on creating ARO using portal.
1) On the Authentication page, It seems I need to choose Select Existing for Application service principal, but need to leave Create New for Azure Red Hat OpenShift Resource Provider. And once I change the option for Azure Red Hat OpenShift Resource Provider, I need to reset all creation settings.
  If it is impossible to change an option for Az

[2021-11-16 15:00] sujitks opened #83930 "KeyVault RBAC model does not seems to support managed idenitty."
[Enter feedback here]

I am trying to improve our secret management to make it more controlled and secure. Azure AD based RBAC seems to be good fit to use, however when I have changed a keyvault to use Azure RBAC based access our application gateway are no longer able to get certificates from it.

I have already assigned certificate officer and security officer role to the managed identity of the

[2021-11-16 15:12] miqm opened #83932 "How to disable a function when running in Container on AKS?"
Hello,

Can you provide details how to disable particular function (how to format the environment variable I guess) when running Functions Host in Container outside App Service i.e. on AKS? Or if it cannot be done, please add to considerations that this is not possible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b

[2021-11-16 15:13] MicrosoftGuyJFlo commented on #83805
@milesgratz

Support recommends opening a case for this as there are too many permutations of things that could be associated with your setup. @JamesTran-MSFT can assist you if you need help opening a case. #please-close

[2021-11-16 15:13] #83805 closed

[2021-11-16 15:35] ghost opened #83934 "Perform network intrusion detection with Network Watcher and open source tools - more details required"
Page does not descript how to connect Network Watcher to Suricata, nor provide any links

[code]
how to obtain pcapfile?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69e3a36e-ac7d-51a0-eb02-f8151b750a6a
* Version Independent ID: 38eaf5d3-b74f-8795-85f4-aa115b8151da
* Content: [Perform network intrusion detection with

[2021-11-16 15:50] mike-urnun-msft commented on #83918
Hello @HairyPorker - Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-11-16 16:01] diberry commented on #83224
@bencb13 Can you tell let us know what operating system and python version you are using?

[2021-11-16 16:03] sethmanheim commented on #83732
cc @spelluru

[2021-11-16 16:05] GeethaThatipatri-MSFT commented on #83857
@aristosvo Auto-Rotation feature for Azure SQL DB and MI hasn’t yet been announced publicly.
The Portal changes have been deployed which is why customers are being to see the “Auto-Rotate key” option.

We are hoping to release this in public preview by end of CY,

When this feature is released, customers can enable Auto-Rotation when configuring the TDE Protector on the server. With auto-rotation

[2021-11-16 16:06] kobulloc-MSFT commented on #83924
@bm97ppc Thank you for the feedback!  I believe the author's intent here was to provide Y as an example drive letter, but still give readers the option to choose something else.  If Y was already taken or the reader simply preferred using something else, this gives them the freedom to do so:

![image](https://user-images.githubusercontent.com/37556655/142021438-f442c1ab-1315-4a2e-a758-c7b007c15641

[2021-11-16 16:19] vyrotek opened #83938 "Email are not sent to documented address when using afdverify and adding a certificate"
In the section labeled "Custom domain is not mapped to your Front Door" it mentions that an email will be sent to "admin@<your-domain-name.com>" when using the afdverify flow and adding a certificate to a domain. This is not accurate.

After working with Azure and DigitCert support it was found that DigitCert will not send validation emails if they are not the root domain. Meaning, if you're addin

[2021-11-16 16:25] spelluru commented on #83732
Hi @sethmanheim - The article is for Notification Hubs, right? I don't see a reference to Event Hubs. Thanks.

[2021-11-16 16:28] phillipgibson commented on #83664
@ardacetinkaya Those commands are not required to enable the AKS OSM add-on. Please follow the steps listed [here](https://docs.microsoft.com/en-us/azure/aks/open-service-mesh-deploy-addon-az-cli).

[2021-11-16 16:30] vyrotek commented on #83938
More details and discussion:
https://docs.microsoft.com/en-us/answers/questions/627957/why-does-frontdoor-domain-validation-with-certific.html

[2021-11-16 16:34] sethmanheim commented on #83732
So sorry @spelluru, I didn't realize it was for notification hubs. Sorry for the false alarm!

[2021-11-16 16:37] spelluru commented on #83732
@sethmanheim - no problem at all :).

[2021-11-16 16:44] SteveWohl commented on #81926
#please-close

[2021-11-16 16:44] #81926 closed

[2021-11-16 16:51] JamesTran-MSFT commented on #83928
@mehulmistry-accelya
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-16 16:56] JamesTran-MSFT commented on #83930
@sujitks
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-16 17:05] SQLSourabh commented on #83861
We are working on an improvement which will allow users to query backup metadata information using T-SQL commands. This is expected to land in the coming months.

[2021-11-16 17:07] tfitzmac commented on #81791
@jikuja - thanks for this feedback. I have added an explanation about targeting more than one scope and links to the those articles for implementation options. It should get published later today.
#please-close

[2021-11-16 17:08] shants123 commented on #83907
This is incorrect statement. Maintenance Control does not elongate the freeze duration. There can be multiple freezes but a single freeze is going to be same as in normal deployment. Its not a cumulative freeze. Please reject the change.

[2021-11-16 17:10] braest commented on #83861
Thanks! Will this thread be updated?
Appreciate your help in this!

[2021-11-16 17:24] tfitzmac commented on #83913
@Boostah - I like your suggestion. I'll add the limitations to the tag support article.

[2021-11-16 17:38] SQLSourabh commented on #83861
I will make a note of it. In any case, Azure SQL Documentation and blogs will be updated when the change is released.

[2021-11-16 17:48] bencb13 commented on #83224
@diberry I'm using Python 3.9 on Mac OS 12.0.1. It also seems like that `bulk_upload.py` is giving me a "Not Found" when I try to open it.

[2021-11-16 17:50] ShaunFis opened #83941 ""Manage B2B collaboration" link in Azure Admin portal"
Hi - If we create an external mail-enabled user on-prem, have that synchronized via AADConnect, and then click "Manage B2B collaboration" link when viewing their user profile, doesn't that also send the appropriate invitation type?  If so, can that method be added to this page too?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2021-11-16 17:52] MartinJaffer-MSFT commented on #83882
Thank you for your feedback. This has been assigned to the content owner and will be updated as appropriate.

[2021-11-16 17:53] SaiKishor-MSFT commented on #83925
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-16 17:55] Jackson-Woods commented on #81296
Hi @ericgoudriaan - apologies for the long wait for help here. Yes, since I was asked to pick this up I've been doing a comprehensive investigation on permissions/resource limits and will be making updates to cover this more comprehensively.

I confirmed today that the 50 resource limit on AAD only apps is intended and I will make a quick update to the doc you highlight just to get that incorrect

[2021-11-16 17:55] xomemayol opened #83942 "ResultType field error values list and clear explanation of each not available"
[Enter feedback here]
Can you add the link to the detailed description of the different values of the ResultType field, when the result is an error as well as the meaning of each.
I did this same questions here: find https://github.com/MicrosoftDocs/azure-docs/issues/57529
But the question was not answers and the information is not anywhere I can find.

If the information is somewhere else, it wou

[2021-11-16 17:57] SaiKishor-MSFT commented on #83934
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-11-16 17:59] ardacetinkaya commented on #83664
@phillipgibson maybe as of this moment but a week ago when I followed the documents; also the one you shared, I couldn't enable the add-on. I got the following error.

(OpenServiceMeshAddonFeatureFlagNotEnabled) OpenServiceMesh addon is not allowed since feature 'Microsoft.ContainerService/AKS-OpenServiceMesh' is not enabled. Please see https://aka.ms/aks/previews for how to enable features.

Afte

[2021-11-16 17:59] diberry commented on #83224
Here is the code.

[code]

[2021-11-16 18:01] SaiKishor-MSFT commented on #83915
@cpinotossi Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.
If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https://

[2021-11-16 18:01] #83915 closed

[2021-11-16 18:08] phillipgibson commented on #83664
Ok. Thanks for reaching out. We'll close this now.

[2021-11-16 18:12] JamesTran-MSFT commented on #83928
@mehulmistry-accelya
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

![image](https://user-images.githubusercontent.com/36619112/142041791-3e7bc3e2-8493-463c-96ba-c4845eff71d4.png)
![image](https://user-images.githubusercontent.com/36619112/142041695-6c26435c-a514-4a49-9ee1-38d59ae01920.png)

I will n

[2021-11-16 18:12] #83928 closed

[2021-11-16 18:13] toupeiro commented on #49896
Greetings.  In November 2021 it appears that this issue persists.  Is there any update on when PoSH 7 may see this addressed?

[2021-11-16 18:14] JamesTran-MSFT commented on #83930
@sujitks
Thank you for your post!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our [Q&A forum](https://docs.microsoft.com/en

[2021-11-16 18:14] #83930 closed

[2021-11-16 18:14] erajuarez commented on #83893
Hi,

No, the code runs it's just not uploading the translation to the target

If I remove the glossary section it does upload the file

CODE THAT DOESN'T GIVE ME AN OUTPUT FILE

payload=   {
    "inputs": [
        {
            "source": {
                "sourceUrl": myblob+sourceName + "?"+ sas_token_source,
                },
            "targets": [
                {
                    "targ

[2021-11-16 18:20] MartinJaffer-MSFT commented on #83919
Thank you for bringing this issue to our attention.  We will let you know when we have more information.

[2021-11-16 18:31] roygara commented on #83010
@kailashmsft Thanks for reaching out, we appreciate it! The article has been updated with this information. Accordingly, I'll close this out.

#please-close

[2021-11-16 18:31] #83010 closed

[2021-11-16 18:35] nuclear0wl commented on #83840
Hello Colleagues, I also ran into the issue that documentation differs from the real behaviour. I would add that example of the PowerShell script is also incorrect and may not be used. It will be highly appreciated if you could also provide updated version of a script in documentation.

[2021-11-16 18:36] simonkurtz-MSFT opened #83944 "Why is HTTP/2 Disabled By Default?"
From the documentation: _By default, HTTP/2 support is disabled._

Could we expand the documentation to state the reason for this decision, please? Having that context may help our customers make a more informed decision.

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77782ee2-e389-8851-3061-02a8f70aeb41
*

[2021-11-16 18:41] chucksnow commented on #40977
Why is this still an issue?  I just installed the Azure MFA NPS extension and ran into the same issue.

[2021-11-16 18:43] chucksnow opened #83945 "Missing steps to enable Multi-Factor Auth Client and Multi-Factor Auth Connector"
I went through all these steps and kept getting the following errors showing up.

NPS Extension for Azure MFA:  CID: b9368876-0a25-4876-ba73-9b733c4f4a2e :Exception in Authentication Ext for User myusername :: ErrorCode:: CID :b9368876-0a25-4876-ba73-9b733c4f4a2e ESTS_TOKEN_ERROR Msg:: Verify the client certificate is properly enrolled in Azure against your tenant and the server can access URL in

[2021-11-16 19:06] eric-urban commented on #83512
#please-close

[2021-11-16 19:06] #83512 closed

[2021-11-16 19:14] ermacia91 opened #83946 "Snowflake new SSO configuration: Security Integration"
Some of our customers that use Snowflake have gone away from the documented steps here to use saml_identity_provider and are using Security Integration.

Snowflake has a document detailing how to manage the security integration: https://community.snowflake.com/s/article/HOW-TO-Setup-SSO-with-Azure-AD-and-the-Snowflake-New-URL-Format-or-Privatelink

Please, under the section 'Configure Snowflake SS

[2021-11-16 19:16] SubhashVasarapu-MSFT commented on #83481
@HugoPordeus, since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-11-16 19:16] #83481 closed

[2021-11-16 19:20] YutongTie-MSFT commented on #83760
@SidneyPhoon Thanks for the feedback again, I have created a PR for it.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-11-16 19:20] #83760 closed

[2021-11-16 19:23] PaulEdlund opened #83947 "Instructions are confusing and ambiguous"
[Enter feedback here]
The instructions are ambiguous and should probably be clarified for the value "KeyVault secret name" which states that "Enter the name of the secret used to store the client secret."  This is confusing because a) it uses the word secret twice and b) it's not specific nor c) does it give an example or reference someplace else in the documentation where you created this variabl

[2021-11-16 19:24] roygara commented on #80399
#assign:roygara

@sizzler-5g Thanks for bringing this to our attention, we appreciate it! We've gone ahead and corrected the article. These updates will be live later today. Accordingly, I'll close this out.

#please-close

[2021-11-16 19:24] #80399 closed

[2021-11-16 19:24] PRMerger8 commented on #80399
The following users don't have valid GitHub IDs, or are not collaborators on this repo: roygarasizzler-5g thanks for bringing this to our attention, we appreciate it! we've gone ahead and corrected the article. these updates will be live later today. accordingly, i'll close this out.#please-close

[2021-11-16 19:25] bencb13 commented on #83224
Making some progress, the suggester is appearing now! It seems now like the suggester is only recommending one set of books, I've attached screenshots belo
<img width="705" alt="Screen Shot 2021-11-16 at 1 23 19 PM" src="https://user-images.githubusercontent.com/50370475/142051923-9ce60a3d-4849-444f-95a8-dae96d33efdb.png">
<img width="683" alt="Screen Shot 2021-11-16 at 1 23 36 PM" src="https://us

[2021-11-16 19:25] roygara commented on #79718
@olufea-dev Thanks for bringing this to our attention, we appreciate it! We've gone ahead and corrected the article. These updates will be live later today. Accordingly, I'll close this out.

#please-close

[2021-11-16 19:25] #79718 closed

[2021-11-16 19:41] MarileeTurscak-MSFT commented on #83834
This appears to be more of a product question than a documentation issue, so I recommend posting this to Microsoft Q&A. https://docs.microsoft.com/en-us/answers/index.html

[2021-11-16 19:41] #83834 closed

[2021-11-16 19:55] MarileeTurscak-MSFT commented on #83941
@ShaunFis
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-16 20:13] SQLSourabh commented on #73978
The document has been updated to reflect the limitation around Immutable Storage

[2021-11-16 20:27] mcrooks83 commented on #83735
thanks for this...just experience the same issue.  2.30.0 works fine.

[2021-11-16 20:28] nitinme commented on #82205
#reassign:eric-urban

[2021-11-16 20:28] nitinme commented on #81876
#reassign:eric-urban

[2021-11-16 20:29] nitinme commented on #81554
#reassign:eric-urban

[2021-11-16 20:29] nitinme commented on #81732
#reassign:eric-urban

[2021-11-16 20:30] nitinme commented on #82873
#reassign:eric-urban

[2021-11-16 20:39] KranthiPakala-MSFT commented on #83671
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank you

[2021-11-16 20:39] #83671 closed

[2021-11-16 20:41] markingmyname commented on #74615
Hi, @fhokholdMSFT
Changes are now live.

closing this issue.

[2021-11-16 20:41] markingmyname commented on #74615
#please-close

[2021-11-16 20:41] #74615 closed

[2021-11-16 20:58] #80147 closed

[2021-11-16 20:58] #83130 closed

[2021-11-16 20:58] #83507 closed

[2021-11-16 21:06] anastasia-ms commented on #61966
This is fixed and should be closed

[2021-11-16 21:06] #61966 closed

[2021-11-16 21:10] anastasia-ms commented on #61966
#reassign stevemunk

[2021-11-16 21:10] himanshusinha-msft commented on #83451
Hello @mosharafMS ,

Thanks for the patience . if you have a support plan you may file a support ticket, else could you please send an email to azcommunity@microsoft.com with the below details, so that we can create a one-time-free support ticket for you to work closely on this matter.
Subscription ID:
Subject : Attn Himanshu
Please let me know once you have done the same.

Thanks
Himanshu

[2021-11-16 21:10] anastasia-ms commented on #63056
#reassign stevemunk

[2021-11-16 21:10] anastasia-ms commented on #74516
#reassign stevemunk

[2021-11-16 21:11] anastasia-ms commented on #76998
#please-close

[2021-11-16 21:11] #76998 closed

[2021-11-16 21:11] anastasia-ms commented on #77019
#reassign stevemunk

[2021-11-16 21:11] anastasia-ms commented on #77297
#please-close
#reassign stevemunk

[2021-11-16 21:11] #77297 closed

[2021-11-16 21:12] anastasia-ms commented on #77721
#reassign stevemunk

[2021-11-16 21:12] anastasia-ms commented on #77844
#reassign stevemunk

[2021-11-16 21:12] anastasia-ms commented on #78414
#reassign stevemunk

[2021-11-16 21:13] anastasia-ms commented on #80136
#reassign stevemunk

[2021-11-16 21:13] anastasia-ms commented on #82863
#reassign JimacoMS4

[2021-11-16 21:14] anastasia-ms commented on #82929
#reassign JimacoMS4

[2021-11-16 21:14] anastasia-ms commented on #83888
#reassign JimacoMS4

[2021-11-16 21:23] mike-urnun-msft commented on #83922
Hello @Ozzian - Thank you for your feedback! We will review and update as appropriate.

[2021-11-16 21:28] molfinn commented on #83094
Our article is
https://cobaltio.zendesk.com/hc/en-us/articles/360058406992-Setting-up-SAML-for-Azure-AD
.

Please visit step 4 for the updated screenshots of the cobalt app.

On Thu, Nov 11, 2021 at 8:26 AM Hamsika ***@***.***> wrote:

[2021-11-16 21:55] Hector-Mina-98 opened #83952 "Information to get specific fields in the response"
According to [ this documentation ](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/batch-transcription) ,
the transcription result contains these fields:
 `lexical`,
`itn`,
`maskedITN`,
`display`

But, i would like to know if there is a parameter to get only `display` field in the result.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2021-11-16 21:59] zr-msft commented on #83664
#please-close

[2021-11-16 22:08] kmadof commented on #64660
As far I understood `ETA for global rollout is mid-December.` - means that at most it will be delivered in the mid-December. So there are chances that we will get (or at least some of us) earlier, however no one will guarantee this. After all our machines could be the last which would be updated.

And two months is not so long for rolling out ;)

[2021-11-16 22:13] diberry commented on #83224
@bencb13 Please replace `./api/Suggest/_init_.py` method of **main** with the following code.

[code]

[2021-11-16 22:14] JimacoMS4 commented on #83888
#reassign wesmc7777

[2021-11-16 22:15] tristan-rice opened #83953 "Single ADFS federating multiple Azure AD and Azure MFA"
In this scenario, with one instance of ADFS federating multiple Azure AD tenants, can we support Azure MFA from both Azure AD tenants?  If so, how is this accomplished?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ff136fb-c076-b37a-9772-1c30a07fabec
* Version Independent ID: ea5cf8c8-2ff3-7ebc-1c16-adc80912cb50
* Co

[2021-11-16 22:16] JimacoMS4 commented on #82863
#reassign wesmc7777

[2021-11-16 22:18] microsmith opened #83954 "Clarification on dynamic IP addresses on VM stop and restart."
Can the text for the "The address remains the same" sentence be clarified? The second sentence says that when stopped and restarted the IP address can change. The next sentence says that the address remains the same if the virtual machine is stopped. So what is difference between "stopped and restarted" and "stopped (and assumed to restarted at a later time)"?

---
#### Document Details

⚠ *Do not

[2021-11-16 22:18] mrochon opened #83955 "Link to 'Azure Active Directory Application Request' is dead"
The link with the [above title on this page](https://aka.ms/aadapprequest) takes me to Bing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 035a9b42-a420-6329-26e4-0e5d05c83f7f
* Version Independent ID: f45f26d2-6d5d-273a-18d2-2acc5ae07268
* Content: [Understand how Application Provisioning in Azure Active Directory](h

[2021-11-16 22:18] JamesTran-MSFT commented on #83942
@xomemayol
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-16 22:20] JamesTran-MSFT commented on #83953
@tristan-rice
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-16 22:21] JamesTran-MSFT commented on #83955
@mrochon
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-16 22:27] GeethaThatipatri-MSFT commented on #83861
@SQLSourabh Thanks for responding to this query.
@braest I am going to close out this git issue for time being but feel free to comment below if you have any further questions.

[2021-11-16 22:27] #83861 closed

[2021-11-16 22:31] James-Hamil-MSFT commented on #83855
Hi @xonstone , thank you for pointing this out. I have created a PR here: https://github.com/MicrosoftDocs/azure-docs-pr/pull/180128

I will now close this issue unless you have any further concerns.

Best,
James

[2021-11-16 22:31] #83855 closed

[2021-11-16 22:37] YuichiTorigoe commented on #83907
@shants123

I have contacted you regarding the Maintenance Control discussion.
We need to discuss this issue with a comprehensive evaluation.

[2021-11-16 23:13] halter73 commented on #74516
@anastasia-ms Sorry I didn't see your reply until now. The tutorial was fine. That's what helped me figure out that the "subscription key" parameter is a `subscription-key` query string parameter that can be added to any maps api call. It was azure-maps-authentication.md that wasn't super clear to me.

I was suggesting a change along the lines of https://github.com/MicrosoftDocs/azure-docs/pull/83

[2021-11-16 23:22] YutongTie-MSFT commented on #83952
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-16 23:23] KranthiPakala-MSFT commented on #83850
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank you

[2021-11-16 23:23] #83850 closed

[2021-11-16 23:23] KranthiPakala-MSFT commented on #83866
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank you

[2021-11-16 23:23] #83866 closed

[2021-11-16 23:33] KranthiPakala-MSFT commented on #83912
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-11-16 23:38] KranthiPakala-MSFT commented on #83920
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-11-16 23:40] KranthiPakala-MSFT commented on #83921
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2021-11-16 23:47] KranthiPakala-MSFT commented on #83927
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-11-16 23:51] KranthiPakala-MSFT commented on #83929
Thanks for the feedback! We have assigned the issue to the content author to further review this and provide an update as appropriate.

[2021-11-16 23:58] MicrosoftGuyJFlo commented on #83916
Good catch!

[2021-11-17 00:00] KranthiPakala-MSFT commented on #83932
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-11-17 00:02] KranthiPakala-MSFT commented on #83938
Thanks for the feedback! We will review this feedback and provide an update as appropriate.

[2021-11-17 00:03] JamesTran-MSFT commented on #83947
@PaulEdlund
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-17 00:05] #83916 closed

[2021-11-17 00:09] KranthiPakala-MSFT commented on #83944
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-11-17 00:19] kobulloc-MSFT commented on #83924
@bm97ppc Thank you again for the feedback!  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-11-17 00:19] #83924 closed

[2021-11-17 00:19] James-Hamil-MSFT commented on #83791
Hi @rlabinot, I reached out to the author about this and I'll let you know when I hear back!

Best,
James

[2021-11-17 00:20] James-Hamil-MSFT commented on #83695
Hi @Neckross , I reached out to the product group about this to find out more. I'll let you know when I hear back.

Best,
James

[2021-11-17 00:37] Chago2016 opened #83959 "This page contains many grammatical errors"
Please review this page.  It contains many grammatical errors, making it difficult to read.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1a34b3c-a9b8-29ce-1eca-86f7f42981a1
* Version Independent ID: 61d6e6b3-ec54-552d-1bef-86bbcbfea8ff
* Content: [Integration runtime - Azure Data Factory & Azure Synapse](https://doc

[2021-11-17 00:43] celica013 commented on #83909
Can we calculate estimate price use pricing calculator to estimate Azure
BackUp cost if we want to backup SQL DB or VMs on premise?

Regards,

Ivan.S

On 16/11/2021 20:52, MonikaReddy-MSFT wrote:

[2021-11-17 00:45] hyparki opened #83960 "Update request for "Services that can be deployed into a virtual network""
One of customer requested the list of "Services that can be deployed into a virtual network" but it looks not updated yet.

Azure database for MySQL Flexible server also can be deployed in to a virtual network and dedicated delegation is necessary.
I think Azure database for MySQL Flexible server has to be included on this list.
I would appreciate if you check this feedback as soon as possible.

[

[2021-11-17 00:46] GeethaThatipatri-MSFT commented on #83857
@aristosvo do you have any further queries on this?

[2021-11-17 00:50] prafulbusa opened #83961 "Disable Just In time, Doc is not updated"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4d2c104-84df-a487-8a15-110e535512cb
* Version Independent ID: e6cd74cf-b992-2cf6-bb85-d260bd2a1e3a
* Content: [Just-in-time virtual machine access in Microsoft Defender for Cloud](https://docs.microsoft.com/en-us/azure/defender-for-cloud/just-in-time

[2021-11-17 01:05] Themanthanvishen commented on #19897
Thank you so much!

[2021-11-17 01:16] MashaMSFT commented on #81862
Hi @rsocol , thanks for contacting Microsoft! We've updated the documentation to identify versions where the DNN is supported.
![image](https://user-images.githubusercontent.com/32783170/142091494-df6c8eb8-5986-4f6a-834e-11dbe88d301c.png)

Hope that helps and please let us know if we can help further in the comments.

Thanks again for reaching out and I hope you have a wonderful rest of your day!

[2021-11-17 01:16] #81862 closed

[2021-11-17 01:18] MashaMSFT commented on #79857
Hi @stefanminehan , thanks so much for bringing this to our attention! I've submitted a change to update the documentation:
![image](https://user-images.githubusercontent.com/32783170/142091665-1b9ee4fa-97ba-448b-b94c-1ae6f2c1cf28.png)

Hope that helps and please let us know if we can help further in the comments.

Thanks again for reaching out and hope you have a wonderful rest of your day!
Masha

[2021-11-17 01:18] #79857 closed

[2021-11-17 01:20] MashaMSFT commented on #58816
Hi @OmegaMadLab , thanks for bringing this to our attention and our apologies for the delay. The article has been rewritten :)

Hope that helps and please let us know if we can help further.

Thanks again for reaching out and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2021-11-17 01:20] #58816 closed

[2021-11-17 01:49] JimacoMS4 commented on #83426
Hi @jesweare -- Thanks for your feedback! I believe the documentation was just recently updated. Please check out the purple note here: https://docs.microsoft.com/en-us/azure/iot-dps/iot-dps-ip-filtering#when-to-use . Thanks again for reporting this and please let me know if there's anything else.

Jiimaco

[2021-11-17 01:58] JimacoMS4 commented on #83888
@dominicbetts sent you and Jim email about this.

[2021-11-17 03:04] hyparki commented on #83960
The customer has a concern about the list. They want to make sure what service is needed to delegate before consider using the service.
It is different between "Services that can be deployed into a virtual network" list on this documentation and Azure portal "Delegate subnet to a service" list.
Is it possible to sync both lists?

Azure Portal> Virtual Network > Subnets > **Delegate subnet to a ser

[2021-11-17 03:18] CHEEKATLAPRADEEP-MSFT commented on #83959
@Chago2016 Thanks for the feedback. When you say "This page contains many grammatical errors", could you please share some of the examples to understand?

[2021-11-17 03:20] rbywater opened #83963 "Confusing information about Automatic Backups for Flexible Postgresql Server"
The first sentence of the Automatic Backup section needs rewriting as currently it looks like its missing some key words or something and is confusing : "The flexible server service automatically creates server backups and stores them in user configured locally on zone redundant (ZRS)."

I'm assuming that its referring to storing the backup on ZRS storage (that maybe is user configured) but having

[2021-11-17 03:33] CHEEKATLAPRADEEP-MSFT commented on #83865
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-17 03:33] #83865 closed

[2021-11-17 03:38] Chago2016 commented on #83959
Sure...

- "you should choose the type that best serve the data": serve**s**?
- "SSISDB without incurring excessive traffics": traffic?
- "so there isn't need to scale": **a** need?
- "When customer creates a Data Factory instance": **a/the** customer?
- Inconsistent casing: Linked Service, linked service, linked Service
- "A good practice would be to ensure Data flow runs": **D**ata **F**low?

Th

[2021-11-17 03:48] yansyunchen opened #83965 "Ask the purpose to valid certificate"
Since certificate is public access, so we can get the certificate easily. What's the purpose to valid like thumbprint, issuer... etc. on our code?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb440603-950a-c224-f6c9-222ca502d5a5
* Version Independent ID: 0b5c4944-0327-91fc-2b0b-c19a1b873b64
* Content: [Configure TLS

[2021-11-17 03:56] CHEEKATLAPRADEEP-MSFT commented on #83959
@Chago2016  Thanks for the details. I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-11-17 04:02] #83692 closed

[2021-11-17 04:02] AshokPeddakotla-MSFT commented on #83692
[@Ilheu](https://github.com/Ilheu) Thanks for the confirmation. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-17 04:08] jesweare commented on #83426
Thank you @JimacoMS4. the updated content looks good to me.

[2021-11-17 04:08] #83426 closed

[2021-11-17 04:19] TeddyBear1314 opened #83966 "Writing to dedicated sql pool external table needs the 3rd parameter location"
[Enter feedback here]
![image](https://user-images.githubusercontent.com/16427747/142134040-964e172b-6002-4270-9723-c90fde02a99c.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f102b5ad-f6a9-9ab6-913f-98f5c7559f8f
* Version Independent ID: 0f5d7c5d-4514-6b2a-4518-33ad76a578b4
* Content: [Import and Export data betw

[2021-11-17 04:32] arnoldtropo opened #83967 "These instructions do not work!"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1026434-050e-b1d5-7cac-47cf5d5d2cad
* Version Independent ID: bfb4d3c9-af35-f08b-710a-afc3281e3d87
* Content: [Upload image data in the cloud with Azure Storage](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-upload-process-images?tabs=

[2021-11-17 04:35] RyanHill-MSFT commented on #83965
Hi [@yansyunchen](https://github.com/yansyunchen), the section you pointed out [Access client certificate](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-configure-tls-mutual-auth#access-client-certificate) is for inbound traffic. Outbound traffic, your app will pull the certificate from either key vault or imported cert. All that section is saying is if a client sends a certif

[2021-11-17 04:35] #83965 closed

[2021-11-17 04:52] GitaraniSharma-MSFT commented on #83954
@microsmith , thank you for your query. We'll review this and get back to you shortly!

[2021-11-17 04:57] sumangeorge6 opened #83968 "Azure data lake query accelaration very slow."
I am using ADLS query to read data. It's very slow. A single search is taking more than 1 minute.
I have used MS recommended code for this query. Please let me know why it's this slow and how can we improve the perforamnce.
I tried using bufferStream which saved me around 10 seconds only.

`var blobServiceClient = new BlobServiceClient(this.accessKey);
                 var containerClient = blobSe

[2021-11-17 06:15] dijiflex commented on #32472
I having the same problem on my express and react.js app running on azure web app. below are my logs
![image](https://user-images.githubusercontent.com/45859301/142145001-987e500d-b437-4c01-8856-a6eb16acac99.png)

[2021-11-17 06:31] aristosvo commented on #83857
Not really. I'll try again when in preview, thanks for your answer!

[2021-11-17 06:31] #83857 closed

[2021-11-17 06:40] rwike77 commented on #83312
Hi @blackchoey, a little further up in [Scopes and permissions](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent#scopes-and-permissions) the resource identifier is described as being the application ID URI.  In several other articles that describe using scopes, resource identifier and application ID URI are used interchangeably.  For example, see the scope

[2021-11-17 06:52] dracan commented on #64660
If it's a bug that is taking customers' sites down - then two months is a _very_ long time.

[2021-11-17 07:05] g138 commented on #32472
Hey Team,

*You can safely ignore this message. `/robots933456.txt` is a dummy URL
path that App Service uses to check if the container is capable of serving
requests. A 404 response simply indicates that the path doesn't exist, but
it lets App Service know that the container is healthy and ready to respond
to requests.*

Thanks & Regards

Gaurav Gupta
FullStack Developer @ Dev Centre House
Master

[2021-11-17 07:11] LuisPicoSogeti commented on #83671
@KranthiPakala-MSFT The Fail activity is still not deployed correctly. I've tried yesterday and it deploys as an activity of type 'Activity' and of course, doesn't work.

[2021-11-17 07:11] dijiflex commented on #32472
I finally understood it. I realized I did error handling but I was not returning a 404 status code

[2021-11-17 07:31] SwathiDhanwada-MSFT commented on #83759
Assigning to content author @bwren for doc-enhancement

[2021-11-17 07:32] CatchSandeepVaid opened #83969 "Include real usecases in documentation - https://docs.microsoft.com/en-us/azure/active-directory/develop/custom-rbac-for-developers"
[](https://docs.microsoft.com/en-us/azure/active-directory/develop/custom-rbac-for-developers)
The documentation should include real usecases as well. One of the use case could be:

Lets say, In our platform, We have 2 web applications. Our platform supports multiple organizations. Each organization can have multiple projects.

We want to define authorization access based on "WebApp + OrgName + Pr

[2021-11-17 07:32] v-hagamp commented on #73337
#please-close

[2021-11-17 07:32] #73337 closed

[2021-11-17 07:36] SumanthMarigowda commented on #83967
@arnoldtropo Thanks for the question! We are investigating and will update you shortly.

[2021-11-17 07:43] OzBob opened #83970 "netcoreapp3.1 prerequisite for Azure Function add API to static webapp"
VS Code Azure Functions (Extension) seems to have a prerequisite of netcoreapp3.1.

The error message on vscode is:

[code]

The install link to [netcoreapp3.1](https://dotnet.microsoft.com/download/dotnet/3.1) could be added to
https://docs.microsoft.com/en-au/azure/static-web-apps/add-api?tabs=vanilla-javascript#prerequisites

This may be a related to an issue in [Azure Function about not detect

[2021-11-17 07:47] SaiKishor-MSFT commented on #83960
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-17 07:57] ZekeLiuu opened #83971 "The Global Announcement time. We would like to know when will the resource provider and the azure policy will be Global Announcement?"
[Enter feedback here]
We noticed that Microsoft.KeyVault.Data resource provider mode is currently supported as a preview |

refer to https://docs.microsoft.com/en-us/azure/governance/policy/concepts/definition-structure#resource-provider-modes

and Azure policy [Preview]: Certificates should not expire within the specified number of days is in a preview state

When the mentioned above resource pro

[2021-11-17 08:03] Nickelodeon111 commented on #83834
Thanks MarileeTurscak-MSFT. I've just posted it.
https://docs.microsoft.com/en-us/answers/questions/630381/continuous-export-to-log-analytics-workspace-for-s.html

[2021-11-17 08:12] troll-os commented on #64660
Quick question around `acrUseManagedIdentityCreds `, if I set this property from the portal should I keep this string format or go UPPER_SNAKE like most of the properties ?

I can't find anything in the docs around it...

[2021-11-17 08:12] rolyon commented on #78977
Hi @AlexFilipin
Thanks for your feedback. We added links to articles about how to assign roles at different scopes and create custom roles.
https://docs.microsoft.com/en-us/azure/active-directory/roles/delegate-by-task
Let us know if you have any additional feedback.
thanks

[2021-11-17 08:12] rolyon commented on #78977
#please-close

[2021-11-17 08:13] #78977 closed

[2021-11-17 08:13] ankku opened #83973 "Parameters Audience is not supported for creating a generic rest endpoint in ADF"
[Enter feedback here]
I am creating a RESt endpoint to generate tokens and I have the necessary parameters credentials to be passed and I am able to successfully generate the token in Postman, but when trying to do it in ADF, I keep getting the below error

`Error details
Error code
20150
Details
Failed to get access token from your token endpoint. Error returned from your authorization server: {"

[2021-11-17 08:14] batamig commented on #83947
Hi @PaulEdlund - thanks for sending your feedback into docs! Indeed, this looks like a confusing bug.
This field defines the name of the secret that will store your AAD app secret, which you created - as you noted - in step 3.

I'm going to close this issue while I make the update, but feel free to continue commenting here as needed.
We appreciate your contributions to docs!

#please-close

[2021-11-17 08:14] #83947 closed

[2021-11-17 08:30] SwathiDhanwada-MSFT commented on #83525
@Keke8273 Yes, your understanding is quite correct. When using your own storage account, retention is up to you. Log Analytics won't delete logs stored on your private storage. Instead, you should set up a policy to handle the load according to your preferences.

Are you still facing the issue and unable to view the linked storage account?

[2021-11-17 08:30] SaiKishor-MSFT commented on #83744
We currently don’t support changing the recommended private DNS zone name when using the private endpoint to access the azure resources. That is because, azure will always use the CNAME record for example, <yourdatabasename>.privatelink.database.windows.net for your storage account <yourdatabasename>.database.windows.net. Even though, you can change the private DNS zone name to something like 'myp

[2021-11-17 08:30] #83744 closed

[2021-11-17 08:41] SwathiDhanwada-MSFT commented on #82039
@OverengineeredNetwork I have missed your comment. Apologies for late response. I have checked the above recommendations from my end and I have an option to exempt it.

![image](https://user-images.githubusercontent.com/48976275/142165344-f60d6b7a-3a5b-4944-82ce-59f864e21a97.png)

I could see next two recommendations in my subscription. But there is a similar recommendation for which I could see t

[2021-11-17 09:03] SwathiDhanwada-MSFT commented on #83971
@ZekeLiuu  Thanks for your comment.

@georgewallace Can you please provide your inputs on this?

[2021-11-17 09:06] blackchoey commented on #83312
Thank you @rwike77 I may misunderstood the sentences and thought they are different things. I have a further question on this: in my recent experiment, seems providing "{client_id}/{scope_name}" to AAD as scope also works. Do you know whether this is officially supported?
Based on my experiment, I was thinking client id may be the resource identifier mentioned in the document. I really want a fixe

[2021-11-17 09:14] SaiKishor-MSFT commented on #83846
@mscatyao Can you please look into this? Thank you!

[2021-11-17 09:39] SadiqhAhmed-MSFT commented on #83945
@chucksnow Thank you for your post. We will look into this and get back to you soon.

[2021-11-17 09:42] v-hagamp commented on #83094
@molfinn , I didn't find any _Create Cobalt test user_ steps in the article you shared. So, I am mentioning this step as it is -

_Create Cobalt test user
In this section, you create a user called B.Simon in Cobalt. Work with Cobalt support team to add the users in the Cobalt platform. Users must be created and activated before you use single sign-on._

and I was created PR for these changes, plea

[2021-11-17 10:05] GitaraniSharma-MSFT commented on #83938
@vyrotek , thank you for the feedback. We have assigned this issue to the respective product owner for review.

@jessie-jyy , Could you please provide your insights here?

[2021-11-17 10:09] SadiqhAhmed-MSFT commented on #83676
@MikeWedderburn-Clarke We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2021-11-17 10:09] #83676 closed

[2021-11-17 10:10] SadiqhAhmed-MSFT commented on #83690
@assaf-grth Closing this for now. Feel free to ping if you've further questions in this matter.

[2021-11-17 10:10] dominicbetts commented on #83888
Hi @jimbobbennett - DPS is the only supported way for a device to connect to IoT Central and there are various doc resources that show how this works:

- https://docs.microsoft.com/en-us/azure/iot-central/core/tutorial-connect-device - tutorials that cover multiple languages
- https://docs.microsoft.com/en-us/azure/iot-central/core/concepts-get-connected - includes conceptual information about the

[2021-11-17 10:27] Jerry-ky-chen opened #83978 "How to mount blob storage to databricks to save data in databricks default database table"
[Enter feedback here]

I use Power BI to connect databricks and get data from databricks default database table. How could I save data in databricks default database table which save data in blob storage physically?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58d39e17-424d-1db6-f600-15f272bf3a7c
* Version Independen

[2021-11-17 10:31] abu3lia opened #83979 "User name prepending when accessing the share"
[Enter feedback here]

Hello Team,
Regarding the step to mount the file share with prepending the user name with AZURE\, the screen-shots shows AZURE\, but the script on the Portal uses localhost\. I tried on my end, and I was able to access the share both ways, I even tried without prepending anything in front of the Storage Account name, and it worked. Can you please address this?

BR
---
#### D

[2021-11-17 10:37] airwings17 opened #83980 "Clearly Mention RUs distribution/cost across containers in case of AutoScale setting"
[In section "set-throughput-on-a-database' , its should be mentioned that how RUs distributed across containers in case of Autoscale
User should be given a example something like below
![image](https://user-images.githubusercontent.com/14163470/142184827-1e8cbf61-5513-4919-8bc8-0a26a6bc594f.png)

]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2021-11-17 10:37] keke8273 commented on #83525
@SwathiDhanwada-MSFT Thanks for getting back to me. I have made some progress. My observation is the problem is somehow related to the `region` in which the resources `storage account` and `log analytics workspace` are created. I have not exhausted all the regions yet. So far, I can link storage accounts to log analytic workspace in `East US`, `Australia Central` but failed to link in `Australia E

[2021-11-17 10:47] v-hagamp commented on #83595
@LeahZho , Thanks for your feedback!
We are updating the document as per the above suggestion. The changes will reflects within 4-5 working days into the main article.
#please-close

[2021-11-17 10:47] #83595 closed

[2021-11-17 10:48] v-hagamp commented on #83094
#please-close

[2021-11-17 10:48] #83094 closed

[2021-11-17 11:10] eveymat opened #83981 "Action Required Email"
Hello Microsoft Support,

I keep getting these "Action Required: review your access" emails. When I click on the Review Access button I get the following error:

![image](https://user-images.githubusercontent.com/83077934/142189725-2ae28751-53ba-4b7c-a23c-085bfc243a01.png)

The email says if I have questions then to "contact us", which brings me to this page which is no help.

---
#### Document De

[2021-11-17 11:19] CHEEKATLAPRADEEP-MSFT commented on #83966
@TeddyBear1314  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-11-17 11:19] assaf-grth commented on #83690
Thank you @SadiqhAhmed-MSFT for your assistance

[2021-11-17 11:20] CHEEKATLAPRADEEP-MSFT commented on #83973
@ankku  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2021-11-17 11:21] CHEEKATLAPRADEEP-MSFT commented on #83978
@Jerry-ky-chen  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2021-11-17 11:48] keke8273 commented on #83525
@SwathiDhanwada-MSFT Another question how does the `Custom Logs` appear in the storage account? Does the `Custom Logs` appears a blob or file or table in the storage?

I have been able to ingest custom logs via a private link. I am fairly confident that the custom logs are ingested via the private link since I have `Accept data ingestion from public networks not connected through a Private Link Sc

[2021-11-17 12:12] msftnadavbh opened #83983 "Command to publish GitHub Actions for Container Apps fails"
This command :

az containerapp github-action add \
  --repo-url "https://github.com/<OWNER>/<REPOSITORY_NAME>" \
  --docker-file-path "./dockerfile" \
  --branch <BRANCH_NAME> \
  --registry-url <URL_TO_CONTAINER_REGISTRY> \
  --registry-user-name <REGISTRY_USER_NAME> \
  --registry-password <REGISTRY_PASSWORD> \
  --service-principal-client-id <CLIENT_ID> \
  --service-principal-client-secret <C

[2021-11-17 12:43] yooakim opened #83984 "State that these pexamples only works with .NET Core 3.1"
I tried to follow these examples but they do not work with current version of NET Core (6.x) or 5.x.

They require .NET Core 3.1 to work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1079f088-3443-65d7-dce9-8125b59fc431
* Version Independent ID: e0c9e431-8cfa-06be-79a4-642b8973da24
* Content: [Tutorial - Use Azure Key

[2021-11-17 13:00] Ofer-Gal opened #83985 "Manage in Cloud Explorer does not show in VS 2022 like the page suggests"
Manage in Cloud Explorer does not show in VS 2022 like the page suggests.
How can I get to "Cloud Explorer" ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e88ea08-81ef-2b5a-b9d6-539e85592672
* Version Independent ID: f2d8b7b4-906a-d1f5-5201-fc22a7890955
* Content: [Quickstart: Create your first C# function in Azure

[2021-11-17 13:10] SadiqhAhmed-MSFT commented on #83961
@prafulbusa Thank you for your feedback. Appreciate if you could provide more details about the same.

[2021-11-17 13:18] ktremain opened #83986 "doc needs updating - example text still present"
section: stop-the-upgrade
currently says:
You can stop the migration before it completes. **Something here about what happens when you stop it.**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3980b9c2-7327-4112-2874-616c7621aa68
* Version Independent ID: 232e4b34-556d-01ed-d624-e6a74e515116
* Content: [Upgrade Azure B

[2021-11-17 13:20] waqar-anwar1990 opened #83987 "IP Firewall Rules more than 128"
Hello Team,

It appears that we will have more than 128 IP whitelisting rules. The current limitation is only 128 and we need to expand that. Is there any work-around to achieve this? Please help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79891897-a11e-6e20-9d41-e4fbbb84311e
* Version Independent ID: c8317b35-e80a

[2021-11-17 13:22] Arsalan-Tahir commented on #83987
*BUMP*

[2021-11-17 13:39] durayakar-aflac opened #83988 "App Service Certificate registration requires Microsoft.Web/certificates/write permissions at the subscription level."
The requirement is not documented here.
Microsoft.Web/certificates/write permissions are not in the App Service or Resource Group scope.

An App Service Contributor:

- Can successfully purchase an App Service Certificate and charge it to the subscription
- CANNOT associate the certificate with the app service

So, neither a resource group owner, nor resource group contributor can perform this reg

[2021-11-17 13:47] SadiqhAhmed-MSFT commented on #83963
@rbywater Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-11-17 13:50] SadiqhAhmed-MSFT commented on #83968
@sumangeorge6 Thank you for reaching out to us. Please note that this channel (the [Azure Docs](https://github.com/MicrosoftDocs/azure-docs) repository) is only for driving improvements related to the Azure documentation. It would be great if you can share the documentation link you are referring, so that we can assist you accordingly.

[2021-11-17 13:58] SaiKishor-MSFT commented on #83925
@yushwang Can you please let me know if the screenshot can be updated accordingly?

[2021-11-17 14:17] gpayne007 opened #83989 "Outdated Image"
[Enter feedback here]
The image that shows a red box around "Report Only" on the Sign-in Logs page doesn't work like that anymore.  Please show how to filter for logins in "report-only" mode.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f70889b-b30f-8295-c6d1-60a6c1d7fc7f
* Version Independent ID: b322053d-123b-db51

[2021-11-17 14:17] pravinkpatil opened #83990 "SAP HANA Version Support"
[Enter feedback here]

Currently Support HANA Version is HANA 2.0 Rev55 which is considerably old. When will the backups support latest Rev58?
is there any roadmap page which we can refer to?

Pravin

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0518f91e-08dc-a4d9-d163-7bffb2b0ebf1
* Version Independent ID: 4bcce184-7

[2021-11-17 14:28] RyanHill-MSFT commented on #83970
Hi [@OzBob](https://github.com/OzBob), if I'm not mistaken the [static webapps extension](https://marketplace.visualstudio.com/items?itemName=ms-azuretools.vscode-azurestaticwebapps) should download the necessary .net core dependencies if not already installed. If you change your Azure Functions runtime version to ~3, it should pull the .NET Core 3 LTS. See [Let users change Functions version when

[2021-11-17 14:44] delarooster commented on #83927
See [resolution in BICEP repo](https://github.com/Azure/bicep/issues/5186) for solution.

[2021-11-17 14:44] #83927 closed

[2021-11-17 15:14] ewahner opened #83992 "Many grammatical errors."
Someone really needs to re-read the entire post.  There are numerous grammatical errors to the point where some of the documentation doesn't seem to make any sense.

https://docs.microsoft.com/en-us/azure/event-hubs/schema-registry-overview#why-we-need-a-schema-registry

**Issue:**

It's hard to know what is being said here.  Maybe it should read:

_When you use schema driven formats, the producer

[2021-11-17 15:18] Quantil-MA opened #83993 "Continuous integration and delivery on Azure Databricks using Azure DevOps - Error in line 62 of installWhlLibrary.py"
Error in the conditional "if" of line 62, there is one more parenthesis

`if (getLibStatus(shard, token, clusterid, dbfslib) is not None:`
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56b86f59-7a22-90c6-9aa6-652b85975612
* Version Independent ID: b333ab7b-847b-7129-9b62-4b9b934747d7
* Content: [Continuous integration

[2021-11-17 15:19] masoncusack opened #83994 "azureml-contrib-services package"
Hi, is it still true that anything in namespace azureml.contrib of the package azureml-contrib-services "should be considered a preview that's not fully supported by Microsoft", as said on this page?

I see the releases have passed 1.0. https://pypi.org/project/azureml-contrib-services/#history

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-11-17 15:25] mcrosstx opened #83995 "Requirements for the Domain Controller to exist within the AVD subscription are not clearly outlined."
The requirement for a DC to be located within the subscription isn't clearly stated in the "Requirements" section. Its implied, but isn't called out explicitly until later when going through the actual configuration:

"For Domain controller resource group, select the resource group where the AD DS VM is either located or peered to. The resource group with the domain controller must be in the same

[2021-11-17 15:26] Quantil-MA commented on #83993
On the other hand, the pipeline for the library installation ends well but when I go to the Cluster the installation has an error and the status is FAILED.

`java.lang.RuntimeException: ManagedLibraryInstallFailed: java.util.concurrent.ExecutionException: java.io.FileNotFoundException: dbfs:/dbfs/libs/funcadd-0.0.1-py3-none-any.whl for library:PythonWhlId(dbfs:/dbfs/libs/funcadd-0.0.1-py3-none-any

[2021-11-17 15:32] mike-urnun-msft commented on #83985
Hello @Ofer-Gal - Thank you for your feedback! We will review and update as appropriate.

[2021-11-17 15:46] mike-urnun-msft commented on #83983
Hello @msftnadavbh - Thank you for your feedback! We will review and update as appropriate.

[2021-11-17 15:52] ronortloff commented on #82599
doc is updated.

[2021-11-17 15:53] ronortloff commented on #82599
#please-close

[2021-11-17 15:53] #82599 closed

[2021-11-17 15:58] yairgil commented on #39297
Hello @jcuello, can you share with us the rule that you were trying to create? It will help us figure out what the issue can be,

[2021-11-17 16:05] Klaas- opened #83997 "Change existing VMs to use trusted boot"
Hi,
the page currently states:
https://docs.microsoft.com/en-us/azure/virtual-machines/trusted-launch#how-can-i-convert-existing-vms-to-trusted-launch
`For Generation 2 VM, migration path to convert to trusted launch is targeted after general availability (GA).`

The feature is now GA, when can I expect to be able to change my existing (gen2) VMs to use trusted launch?

Greetings
Klaas

---
#### D

[2021-11-17 16:05] kengaderdus commented on #82558
Due to inactivity, #please-close

[2021-11-17 16:05] #82558 closed

[2021-11-17 16:08] simonvane opened #83998 "Document use of APPINSIGHTS_INSTRUMENTATIONKEY environment variable"
It would be helpful to document that the AzureLogHandler can be added as follows as long as your Application Insights instrumentation key is stored in an environment variable named `APPINSIGHTS_INSTRUMENTATIONKEY`:

`logger.addHandler(AzureLogHandler())`

P.S. I think the same goes for `APPLICATIONINSIGHTS_CONNECTION_STRING`.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-11-17 16:09] abudhu opened #83999 "Hierarchical namespace support - Preview Link Invalid"
https://docs.microsoft.com/en-us/azure/storage/blobs/immutable-storage-overview#hierarchical-namespace-support

List this link as the Preview Signup link:

https://forms.microsoft.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR2EUNXd_ZNJCq_eDwZGaF5VUOUc3NTNQSUdOTjgzVUlVT1pDTzU4WlRKRy4u

But that page returns broken.

Please update with the correct Preview link.

---
#### Document Details

⚠ *

[2021-11-17 16:10] iamim commented on #49672
Why was this closed? I'm using a template from B2C samples repo that was created 8 days ago and have this same issue.

[2021-11-17 16:17] JaimieWi opened #84000 "Incorrect link / naming"
[Enter feedback here]
Parse appears twice in the table. The first appearance of "parse" takes you to 'New branch' .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 272cc4cc-156e-69f6-e78b-c9bfa33f21b3
* Version Independent ID: 17b40412-cfd6-e3bc-6a81-40a5b30f3808
* Content: [Mapping data flow transformation overview - A

[2021-11-17 16:27] mayoness1983 commented on #69541
I tried to create an automation account with system managed identity. I am able to assign the role to manage identity in the ReourceGroup scope but not in Subscription.  Can somebody help me with some tip ?

The part of the code is from nested arm template where in the first part I create Automation Account in different $schema
[code]

The scope assignment is working fine in PowerShell. But I do n

[2021-11-17 16:32] xavierjohn opened #84001 "How do you model complex type in C#?"
How do you model complex type in C#?  The example only covers JavaScript.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eabe2975-9ff9-12cb-0a19-c2857127390c
* Version Independent ID: d2fc3b74-ab07-3432-fb6c-a91830b81536
* Content: [How to model complex data types - Azure Cognitive Search](https://docs.microsoft.com/en

[2021-11-17 16:34] JamesTran-MSFT commented on #83969
@CatchSandeepVaid
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-17 16:35] JamesTran-MSFT commented on #83981
@eveymat
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-17 16:41] JamesTran-MSFT commented on #83989
@gpayne007
Thank you for your post!

When it comes to the image within our documentation it looks like it's still current, since I'm able to see the same thing within my Azure Active Directory Sign-in logs.

![image](https://user-images.githubusercontent.com/36619112/142243022-450b5af8-940d-4014-baae-42c8ea4fa6fd.png)
Can you share some more details or screenshots of what you're seeing, when it co

[2021-11-17 16:45] SenthuranSivananthan opened #84002 "AzCLI doesn't support az bicep restore"
Azure CLI doesn't support `az bicep restore` yet.

Azure CLI Version
[code]

Bicep Version
[code]

Subcommands for Bicep

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7fe999ac-9725-acab-6e80-8317528855b6
* Version Independent ID: d34be1f8-e759-a829-4650-548e495110b0
* Content: [Bicep CLI commands and overview

[2021-11-17 16:47] gpayne007 commented on #83989
James,

  I see it there, too, but I was trying to filter on the first page (the one that has the "Add filters" button) to only show "report-only" errors.   I was hoping to find a filter for "report-only" or status=report-only.

    Thanks for checking up on this.

------------------------------

Greg Payne

Sr Programmer / Analyst

Galena Park ISD

832 386-1096

________________________________
F

[2021-11-17 16:49] abatishchev commented on #83574
@roygara, @FuzziWumpus ping please.

[2021-11-17 17:00] taminta opened #84003 "The script for IIS is garbled on Japanese page."
[Enter feedback here]
This document has sample IIS script. We found that the script of double quote is garbled. Please see below and please rewrite it. Thanks.

Correct - English
https://docs.microsoft.com/en-us/azure/application-gateway/create-url-route-portal#install-iis

     $publicSettings = @{ "fileUris" = (,"https://raw.githubusercontent.com/Azure/azure-docs-powershell-samples/master/applic

[2021-11-17 17:01] simonkurtz-MSFT commented on #38772
mTLS for the V2 SKUs of App Gateway has been in [preview](https://docs.microsoft.com/en-us/azure/application-gateway/mutual-authentication-overview) this year. I can't allude to when it may go GA, but it's worth keeping an eye on it.

[2021-11-17 17:01] weyCC81 opened #84005 "Recomendation for "sourceAnchor""
Is this still the recommendation form Microsoft, i think the default source Anchor has changed to "ms-DS-ConsistencyGuid" since around Azure AD Connect version (1.1.553.0) in Juni 2017?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d02a10e-bd9c-a622-e341-17be6c539013
* Version Independent ID: 86e2c83c-0778-5f54-2286-

[2021-11-17 17:12] JamesTran-MSFT commented on #83989
@gpayne007
Thank you for following up on this!

As of right now, you can only find the `Report-Only` option within the Sign-in logs Activity Details. When it comes to filtering the Sign-in logs by `report-only`, this currently isn't possible. However, you can always try to filter by `Conditional Access` to see all the failed/succeeded CA attempts.
![image](https://user-images.githubusercontent.com

[2021-11-17 17:12] #83989 closed

[2021-11-17 17:12] SadiqhAhmed-MSFT commented on #83990
@pravinkpatil Thank you for your post. We will check with the team and get back to you shortly.

[2021-11-17 17:14] JamesTran-MSFT commented on #83955
@mrochon
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-17 17:14] gpayne007 commented on #83989
James,

    Thanks again for the follow-up.  I'll try the filter by Conditional Access.  I think that will get me very close to what I need.  Thanks again.

------------------------------

Greg Payne

Sr Programmer / Analyst

Galena Park ISD

832 386-1096

________________________________
From: James Tran-MSFT ***@***.***>
Sent: Wednesday, November 17, 2021 11:12 AM
To: MicrosoftDocs/azure-docs **

[2021-11-17 17:15] JamesTran-MSFT commented on #83953
@tristan-rice
Thank you for your time and patience throughout this issue!

Since this issue isn't directly related to improving our docs, I'd recommend leveraging our [Q&A forum](https://docs.microsoft.com/en-us/answers/products/) by posting your issue there so our community, and MVPs can further assist you in troubleshooting this issue or finding potential workarounds.

[2021-11-17 17:15] #83953 closed

[2021-11-17 17:21] roygara commented on #83574
Hello, @abatishchev . Thanks for reaching out. I pinged the product team a while ago and have heard back. Instead of maintaining this table, we will direct users to the finding supported VM sizes section in the [Azure PowerShell](https://docs.microsoft.com/azure/virtual-machines/windows/disks-enable-host-based-encryption-powershell#finding-supported-vm-sizes) and [CLI](https://docs.microsoft.com/a

[2021-11-17 17:21] #83574 closed

[2021-11-17 17:24] tamram commented on #46309
We now support Azure AD auth for tables in preview:

[Authorize access to tables using Active Directory \(preview\)](https://docs.microsoft.com/azure/storage/tables/authorize-access-azure-active-directory)
[Assign an Azure role for access to table data \(preview\)](https://docs.microsoft.com/azure/storage/tables/assign-azure-role-data-access?tabs=powershell)

Any type of Azure AD security principa

[2021-11-17 17:48] himanshusinha-msft commented on #83451
We are closing this issue as we have not heard back from you , you can always re-open the issue if you think that appropriate .

[2021-11-17 17:48] #83451 closed

[2021-11-17 17:51] MDG025 opened #84006 "Add the SQL zone redundant capability to the business continuity table"
Article below describes the zone redundant SQL database capability that leverages always-on technology to provides resilience to server failures with 99.99% availability SLA and RPO=0 within one region and deployed in multiple (3) Availability zones.
https://azure.microsoft.com/en-gb/blog/azure-sql-database-now-offers-zone-redundant-premium-databases-and-elastic-pools/

De Business continuity over

[2021-11-17 17:54] VinnyBonner opened #84007 "Can you add a link to the OpenID scope doc"
Under the Configure a custom identity provider section on the OpenID Connect tab, at the bottom where it says "The login object allows you to provide values for: custom scopes, login parameters, or custom claims."

Could you add in a link to the OpenID connect scopes: https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent#openid-connect-scopes

Additionally, sin

[2021-11-17 18:00] stevemunk commented on #77844
@manhquang144 did the previous suggestion of creating a new layer and adding the symbol to that layer as described in the article [Add a symbol layer to a map](https://docs.microsoft.com/en-us/azure/azure-maps/map-add-pin) solve your issue?

[2021-11-17 18:05] YutongTie-MSFT commented on #83994
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-17 18:08] DerekHerman-MSFT commented on #83979
@abu3lia Thanks for the feedback! The MacOS and Linux instructions both use storage account name. As you have already tested the username is not required to be set to anything particular. Perhaps we should update the document and screenshots to be consistent with the portal instructions to avoid confusion.
I have assigned the issue to the content author to investigate further and update the docume

[2021-11-17 18:10] stevemunk commented on #77721
@hk-chahal

Just want to verify that the solution in the updated docs solves your problem, if not please let me know.

[2021-11-17 18:17] bbrandt opened #84009 "Please document how GetStatus for Async HTTP APIs Would Be Configured If Azure Functions is Behind APIM"
When Azure Functions is setup to only [allow IP Ranges from Azure APIM](https://docs.microsoft.com/en-us/azure/azure-functions/ip-addresses?tabs=portal#ip-address-restrictions) and APIM is setup to [validate a JWT](https://docs.microsoft.com/en-us/azure/api-management/api-management-access-restriction-policies#ValidateJWT).

What is the recommended approach for allowing external clients to call in

[2021-11-17 18:18] GeethaThatipatri-MSFT commented on #83869
@sebhe please check my comment above and let us know if you need additional clarification or have further questions, Thank you.

[2021-11-17 18:22] BryanTrach-MSFT commented on #83988
@durayakar-aflac Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-17 18:28] YutongTie-MSFT commented on #83761
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-11-17 18:28] #83761 closed

[2021-11-17 18:32] JimacoMS4 commented on #82837
Hi @plutoscarab thanks for your feedback! The connection string has indeed changed -- we'll look into the SDK behavior and get back to you soon.

@v-gpettibone Can you please validate the error with the node.js SDK in this topic. Can you also please see whether the same behavior exists for the other languages? Note: [Get started with device management](https://docs.microsoft.com/en-us/azure/iot-hu

[2021-11-17 18:35] KranthiPakala-MSFT commented on #83992
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2021-11-17 18:38] ronwarner opened #84013 "Resilience"
Usages of "resiliency" in this document should be replaced with "resilience," as the former is generally considered to be incorrect, a less preferred variant, and/or lacking sophistication.  In formal writing, "resilience" is preferred.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6dce7dff-6689-f91b-64b7-2817b9d52e5e

[2021-11-17 18:39] DerekHerman-MSFT commented on #83986
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-11-17 18:42] DerekHerman-MSFT commented on #83999
Please follow this open issue for updates. https://github.com/MicrosoftDocs/azure-docs/issues/82896

[2021-11-17 18:42] #83999 closed

[2021-11-17 18:43] KranthiPakala-MSFT commented on #83993
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[@leifbro](https://github.com/leifbro), [@mssaperla](https://github.com/mssaperla) - Could you please review this feedback and update the doc as needed. Thank you

[2021-11-17 18:45] KranthiPakala-MSFT commented on #84000
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-11-17 18:46] mattygrecgrec opened #84015 "Button style and Microsoft use confirmation"
Is there a resource or a hotline that we can contact to validate that our app design follows the Microsoft branding guidelines?  Before compiling/publishing/releasing our app, we'd like to be absolutely sure that our use of the Microsoft logo for sign in is acceptable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 142

[2021-11-17 18:46] nephinj opened #84016 "Follow up prompts links broken"
Follow up prompts hyperlinks return 404 not found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 995aed4a-f5e1-c5c4-a87a-45e5fe63907d
* Version Independent ID: 4bfed100-9f9f-d003-4066-548071824f4c
* Content: [Edit a knowledge base - QnA Maker - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive

[2021-11-17 19:01] SaiKishor-MSFT commented on #84003
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-17 19:05] sedwardstx opened #84017 "Service Fabric does not support this feature"
Please update this article and mention **Service Fabric** does not support this feature.  Service fabric uses a different mechanism which overrides scheduled events in the FC.

https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-terminate-notification#enable-terminate-notifications

thanks
Steve

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-11-17 19:21] tamram commented on #79772
@lagase - Can you use AzCopy to move your blobs? That's the tool that we recommend for moving a large number of blobs.

[Copy or move data to Azure Storage by using AzCopy v10](https://docs.microsoft.com/azure/storage/common/storage-use-azcopy-v10)

We are investigating whether there's any issue with the az storage blob move command.

[2021-11-17 19:22] tamram commented on #79772
@evelyn-ys FYI

[2021-11-17 19:23] tamram commented on #82896
@ellievail FYI

[2021-11-17 19:35] krispenner opened #84019 "Does patch path require a / prefix?"
I used the [example here](https://docs.microsoft.com/en-us/azure/cosmos-db/partial-document-update#partial-document-update-specification) and included below as a template for my C# code:

[code]

However, in C# it is required to prefix `path` with a slash `/` otherwise it fails. The error message returned is also not helpful if you do not include this prefix. `"Input invalid."` Something like `"Pa

[2021-11-17 19:36] kobulloc-MSFT commented on #83995
@mcrosstx Thank you for the feedback!  We've assigned this to the document author for further review.

[2021-11-17 19:39] brjohnstmsft commented on #84001
@HeidiSteen Is this the right sample? https://github.com/Azure-Samples/search-dotnet-getting-started/tree/master/DotNetHowTo/DotNetHowTo

Could we update the doc to point to it?

[2021-11-17 19:39] kobulloc-MSFT commented on #83997
@Klaas- Thank you for your question!  We've assigned this to the document author for further review.

[2021-11-17 19:39] MarileeTurscak-MSFT commented on #84005
@weyCC81
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-17 19:40] krispenner commented on #84019
Based on the very [next example](https://docs.microsoft.com/en-us/azure/cosmos-db/partial-document-update#document-level-vs-path-level-conflict-resolution) in that same document (see conflict image), it does require a `/` prefix on `path` in the REST API. So please update above example accordingly.

[2021-11-17 19:41] kobulloc-MSFT commented on #84017
@sedwardstx Thank you for your feedback!  This has been assigned to the document author for further review.

[2021-11-17 19:57] vasug opened #84021 "Screenshot of Metrics blade needs update"
The screenshot for container's physical partitions in the Storage section of the Metrics blade of the Azure portal needs update. It does not reflect the current Azure Cosmos DB account metrics blade.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d52f6d2e-f852-45ce-c205-ee4038d5ecd1
* Version Independent ID: e45b7f29-4

[2021-11-17 19:57] lobrien commented on #80335
#assign:@Blackmist

Not sure who the new PM / SME for this would be.

[2021-11-17 19:57] PRMerger12 commented on #80335
The following users don't have valid GitHub IDs, or are not collaborators on this repo: blackmist not sure who the new pm / sme for this would be.

[2021-11-17 20:00] lobrien commented on #80335
#assign:Blackmist

[2021-11-17 20:02] lobrien commented on #80506
#please-close fixed

[2021-11-17 20:03] #80506 closed

[2021-11-17 20:05] StefArroyo commented on #81410
Hello! That is correct. The sample query available is for SQL API. Here are some sample queries for Mongo DB: https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb/diagnostic-queries-mongodb?tabs=resource-specific

[2021-11-17 20:05] StefArroyo commented on #81410
#please-close

[2021-11-17 20:05] #81410 closed

[2021-11-17 20:06] billmath commented on #68611
Thank for submitting this. I have created a work item for it and will send this to engineering so that they can review it and provide me with updated details. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2021-11-17 20:06] #68611 closed

[2021-11-17 20:10] StefArroyo commented on #82654
Please reassign to @kushagraThapar for adding additional Java samples.

[2021-11-17 20:10] lobrien commented on #81181
#please-close fixed

[2021-11-17 20:10] #81181 closed

[2021-11-17 20:11] StefArroyo commented on #82654
#reassign @kushagraThapar

[2021-11-17 20:11] KranthiPakala-MSFT commented on #83980
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-11-17 20:12] j82w commented on #73829
The CosmosClient holds the connections and different caches which make it very important to use as a singleton. The Microsoft.Azure.Cosmos.Container is thread safe and it is recommended to be pooled. Caching avoids object creation and garabage collection so it is more performant compared to recreating the object.

The sample use a singleton container and reuse it across all the operations: https:/

[2021-11-17 20:13] StefArroyo commented on #73829
#please-close

[2021-11-17 20:13] #73829 closed

[2021-11-17 20:16] porrascarlos802018 opened #84023 "Please clarify in the document if ADDS LDAP feature can be implemented with AKS and the steps required."
Please clarify in the document if ADDS LDAP feature can be implemented with AKS and the steps required to have it fully working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 841b5625-812e-cd74-211f-87ea3b05e055
* Version Independent ID: 2293e372-58ee-cfd6-ec1e-8cd302eec3fa
* Content: [Configure ADDS LDAP with extende

[2021-11-17 20:18] lobrien commented on #81556
#please-close

[2021-11-17 20:18] #81556 closed

[2021-11-17 20:27] lobrien commented on #82211
#please-close

[2021-11-17 20:27] #82211 closed

[2021-11-17 20:28] MicrosoftGuyJFlo commented on #81445
#please-close content was retired and redirected.

[2021-11-17 20:28] #81445 closed

[2021-11-17 20:28] MicrosoftGuyJFlo commented on #81445
#reassign:@MicrosoftGuyJFlo

[2021-11-17 20:28] GeethaThatipatri-MSFT commented on #83987
@waqar-anwar1990  Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-11-17 20:33] samlh opened #84025 "Mod function needs docs on behavior with negative numbers"
https://docs.microsoft.com/en-us/azure/logic-apps/workflow-definition-language-functions-reference#mod

Needs examples and results for
[code]

I also have similar questions about https://docs.microsoft.com/en-us/azure/logic-apps/workflow-definition-language-functions-reference#div

That is, should we think of these functions [as implementing](https://en.wikipedia.org/wiki/Modulo_operation) truncat

[2021-11-17 20:40] sandervandevelde opened #84026 "Azure IoT Central integration with The Things Network needs V3 update"
It seems the incoming TTN message format has changed with the new V3 portal.

I got null exceptions with the original JavaScript sample.

I examined the incoming message (using a webhook tester). From there, I rewrote the TTN part:

        // TTN V3 specific lines
        req.body = {
            device: {
                deviceId: req.body.end_device_ids.device_id.toLowerCase()  // req.body.dev_

[2021-11-17 20:45] saachigopal commented on #82813
The documentation has been updated to remove the link.

[2021-11-17 20:50] lobrien commented on #82612
#reassign:nibaccam

[2021-11-17 20:52] James-Hamil-MSFT commented on #83642
Hi @pkieper , thank you for pointing this out. I have made a PR here: https://github.com/MicrosoftDocs/azure-docs-pr/pull/180264

I will now close this issue. Please reopen this issue if you have any questions.

Best,
James

[2021-11-17 20:52] #83642 closed

[2021-11-17 20:56] Blackmist commented on #80335
@alanflanders-teck Sorry for the late response on this.

I've asked the PM team if they can provide any information on what the script would look like for this sort of scenario. If it's supported, and they can provide an example, we'll update the docs to include the information.

[2021-11-17 20:58] luisquintanilla commented on #81075
Thanks @denniseik. Looks good to me.

Closing this issue @lobrien

#please-close

[2021-11-17 20:58] #81075 closed

[2021-11-17 21:04] KranthiPakala-MSFT commented on #84015
Thanks for reaching out. To better assist your query, could you please share the document link which you are currently following so that we can involve the appropriate team? 

In case if your question is generic and not specific to a document feedback, I would recommend you to please post your query in [Microsoft Q&A](https://docs.microsoft.com/answers/products/azure?product=all) forum, where we h

[2021-11-17 21:07] Britt-Henderson commented on #82853
This issue will affect the outcome of an IcM raised against the pricing calculator.
Calculator currently shows all VM's, including the ones with less than 2 VM's. An update will need to be made, but that update will depend on the outcome of this documentation case
https://portal.microsofticm.com/imp/v3/incidents/details/267488467/home

[2021-11-17 21:08] Britt-Henderson commented on #82853
@MarileeTurscak-MSFT is there an ETA for a resolution to this issue?

[2021-11-17 21:11] swatig007 commented on #82793
Thanks for trying the tutorial and submitting feedback. We have a PR to update the training data link and the cluster name.
For the remaining issues, can you pls check to ensure that you have the latest SDK installed. thanks,

[2021-11-17 21:29] scarson opened #84031 "No ACU values listed for Dv5 and Dsv5 VMs"
[Enter feedback here]
This VM family's info page does not include their [ACU](https://docs.microsoft.com/en-us/azure/virtual-machines/acu) values. This data point is important to customers looking to compare them to prior generations and other instance families.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06761944-b

[2021-11-17 21:30] scarson opened #84032 "No ACU values listed for Ddv5 and Ddsv5 VMs"
This VM family's info page does not include their [ACU](https://docs.microsoft.com/en-us/azure/virtual-machines/acu) values. This data point is important to customers looking to compare them to prior generations and other instance families.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b040274d-e9e8-5ede-7ffe-2858dfec

[2021-11-17 21:32] v-asymes opened #84033 "V2A Preview"
[Enter feedback here]
The mobility agent for V2A preview install manually should be in it own section under
VMware to Azure Recovery->Manage-> <>   to match upgrade the mobility agent (preview)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d179f813-5826-7ec3-30c5-9b6b9c0a9acc
* Version Independent ID: 3141a3e5-ea3b-cba

[2021-11-17 21:32] dsmithcloud commented on #55489
Blocking ```ux.console.azure.com``` seems to work fine for Cloud Shell in a browser, but Cloud Shell via Windows Terminal (v1.11.2921.0) still works.

How do we block Cloud Shell access via Windows Terminal?

[2021-11-17 21:32] scarson opened #84034 "No ACU values listed for Dav5 and Dasv5 VMs"
This VM family's info page does not include their [ACU](https://docs.microsoft.com/en-us/azure/virtual-machines/acu) values. This data point is important to customers looking to compare them to prior generations and other instance families.

The bottom of the page says:
"Next steps:
Learn more about how Azure compute units (ACU) can help you compare compute performance across Azure SKUs."

but peo

[2021-11-17 21:41] nibaccam commented on #82793
The PR has been merged and documentation edits will be published later today. We will now proceed to close this thread. If you have further questions, please feel free to comment here.
#please-close

[2021-11-17 21:41] #82793 closed

[2021-11-17 21:42] scarson opened #84037 "ACU entries for D(a)*v5 VMs are missing"
The ACU page does not include entries for any of the new D(a)*v5 VMs which are now GA.

The doc pages for the D(a)*v5 VMs are missing ACU values as well, for which I've submitted separate issues.

The Dv5 VM doc pages say:
"Next steps
Learn more about how Azure compute units (ACU) can help you compare compute performance across Azure SKUs." and link to the main ACU page here. Neither

These ACU da

[2021-11-17 21:48] mimckitt commented on #84037
We are aware we do not have the ACU numbers. We do not currently have them available. When we do, we will update the pages.

#assign: @mimckitt

[2021-11-17 21:48] mimckitt commented on #84034
We are aware we do not have the ACU numbers. We do not currently have them available. When we do, we will update the pages.

#assign: @mimckitt

[2021-11-17 21:48] mimckitt commented on #84032
We are aware we do not have the ACU numbers. We do not currently have them available. When we do, we will update the pages.

#assign: @mimckitt

[2021-11-17 21:48] mimckitt commented on #84031
We are aware we do not have the ACU numbers. We do not currently have them available. When we do, we will update the pages.

#assign: @mimckitt

[2021-11-17 21:52] DHowett commented on #55489
Copying my comment from microsoft/terminal#11775:

This will be true of Visual Studio Code's Azure Cloud Shell extension as well as `azshell` (an open-source project)

[2021-11-17 21:57] dwoodwardgb opened #84039 "Provide default values for optional parameters"
Documentation for the endpoints is great except optional params don't have their default values listed. This must be some kind of oversight...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13b44819-ed7b-84bc-f5d2-2b937029f7df
* Version Independent ID: db9f8408-c234-90d0-4817-3516e5fc3ba0
* Content: [Microsoft identity

[2021-11-17 22:20] #84037 closed

[2021-11-17 22:21] #84034 closed

[2021-11-17 22:21] #84032 closed

[2021-11-17 22:21] #84031 closed

[2021-11-17 22:25] sunilagarwal commented on #74398
AAD Admin can be a role and with many service principal can be made part of that role. May be I am missing your ask?

[2021-11-17 22:28] mimckitt commented on #83621
Follow up, we are currently reevaluating how we calculate Azure Compute Units weights for our Virtual machine performance benchmarks to account for updates in processor architecture from our CPU providers.

In the meantime, we will be omitting the ACU numbers from these specific v5 series. When updates are available, the public docs will also be updated.

[2021-11-17 22:28] JamesTran-MSFT commented on #84039
@dwoodwardgb
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-17 22:33] diberry commented on #83224
@bencb13 the tutorial has been updated with these changes. I'm closing the issue now. If you have other issues, feel free to reopen this issue. #please-close

[2021-11-17 22:33] #83224 closed

[2021-11-17 22:34] kgremban commented on #80924
We've connected offline and gotten Eugene access to the DevOps Starter repo to implement his changes. I'm going to close this github issue as there's currently no docs work to track. We can reopen the issue if that changes.

#please-close

[2021-11-17 22:34] #80924 closed

[2021-11-17 22:47] jasonzio opened #84040 "All storage SDK documentation "Main Page"s have no content"
This page links to the [Azure SDK for C++](https://azure.github.io/azure-sdk-for-cpp/storage.html) page, which has a left-side tab for "Storage". All of the links on that tab (azure-storage-blobs, azure-storage-common, etc.) lead to pages which claim to be generated by doxygen, and have the usual doxygen page chrome, but otherwise have no content at all. For example, [this page](https://azuresdkdo

[2021-11-17 23:08] alunmj opened #84041 "Could be clearer about using quotes to avoid "Duplicate keys .. are not allowed in hash literals" message"
The example requirements.psd1 file contains the string "Az" with no quotes, and in a later example, the string "Az.Accounts" with quotes. I spent a long time assuming that it was impossible to get this to actually work (in my case, I needed "Az" and "Az.ResourceGraph").

Turns out, all that was needed is the quotes. To be clear, this requirements.psd1 produces an obtuse error:

[code]

But this ve

[2021-11-17 23:10] v-gpettibone commented on #82837
Hi @plutoscarab, can you tell me what error you are receiving that tells you that you are using the wrong connection string and the point at which you receive the error?

[2021-11-17 23:29] jslootweg commented on #83970
I'm getting the exact same issue trying to use the 'Create HTTP Function' option to add an API to an existing Azure Static Web Apps project and selecting a C# function.

[2021-11-17 23:36] KranthiPakala-MSFT commented on #83998
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-11-17 23:40] KranthiPakala-MSFT commented on #84002
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-11-17 23:43] mattygrecgrec commented on #84015
Specifically, we’re wondering about this article.  Specifically, the Visual Guidelines for Sign-in.
https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-add-branding-in-azure-ad-apps <https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-add-branding-in-azure-ad-apps>

[2021-11-17 23:43] plutoscarab commented on #82837
It's when I try JobClient.fromConnectionString(jobConnectionString).

I get "ArgumentError: The connection string is missing the property: SharedAccessKeyName".

The connection string that I get from "az iot hub device-identity connection-string show --device-id xxxx --hub-name xxxx" looks like (redacted) "HostName=xxxx.azure-devices.net;DeviceId=xxxx;SharedAccessKey=xxxx"

[2021-11-17 23:43] KranthiPakala-MSFT commented on #84006
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-11-17 23:44] KranthiPakala-MSFT commented on #84007
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-11-17 23:54] shivanissambare commented on #82083
Documentation is updated : https://github.com/MicrosoftDocs/azure-docs-pr/pull/177791

To be clear, this statement is true:
Azure Machine Learning does not support TLS termination with Internal Load Balancer. Internal Load Balancer has a private IP and that private IP could be on another network and certificate can be recused.

[2021-11-17 23:55] kyle-patterson commented on #84040
The doxygen pages should include our class reference docs, navigation is currently under the "Classes" navigation item.

@RickWinter is there a way we can include the README from each library in the landing page for the respective libraries?

[2021-11-17 23:56] markingmyname commented on #74398
#reassign @kabharati

[2021-11-18 00:00] norcis commented on #80372
Please update documentation! Waisted a lot of time because of outdated instructions.

[2021-11-18 00:03] rolyon commented on #74995
Hi @BryRamCam
Thanks for noticing this. We have updated the Graph API examples in the doc.
https://docs.microsoft.com/en-us/azure/active-directory/roles/admin-units-manage
thanks

[2021-11-18 00:03] rolyon commented on #74995
#please-close

[2021-11-18 00:03] #74995 closed

[2021-11-18 00:04] v-gpettibone commented on #82837
Hi @plutoscarab, I'm not able to reproduce that error (aside from the fact that show-connection-string should be connection-string show). I think what's going on is that you need to pull the connection string from the https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-node-node-schedule-jobs#get-the-iot-hub-connection-string section before before running scheduleJobService.js. It sounds like y

[2021-11-18 00:05] jamesorlando opened #84042 "Needs Clarification for Azure US Gov Cloud"
Under "Generate the installation script from the Azure portal" Step 3: This step does not align with the Gov Cloud blade. There is no generate script option under Add Servers at scale.
![image](https://user-images.githubusercontent.com/68352831/142301799-431c7902-93bd-455b-9c7b-4a718bb01185.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-11-18 00:07] aaronpowell commented on #84007
I'm not sure that the link you've provided would be the right one to put in there, as it's within the Azure AD docs and while it does talk about OIDC scopes, it's talking about them in context of Azure AD which I feel would add confusion to the generic OIDC section (given there's an Azure AD section there as well).

Regarding your second point, I'll check with the product team as I thought there w

[2021-11-18 00:07] kobulloc-MSFT commented on #83822
@annerajb The PR has been merged and the page should be updated shortly.  @Juliako, the attached screenshot (above) will need to be included.

[2021-11-18 00:07] #83822 closed

[2021-11-18 00:17] ikhapova commented on #77162
@artisticcheese Thank you for reaching out. We have migrated our forum to the new platform where customers can submit ideas for new recommendations. Please, give it a try at [https://aka.ms/advisorfeedback](https://aka.ms/advisorfeedback).

[2021-11-18 00:29] VinnyBonner commented on #84007
Hi Aaron,

I appreciate taking a look. I do understand that it can be confusing. I have found the scopes within the OpenID connect docs which might be better suited: Draft: OpenID Connect Basic Client Implementer's Guide 1.0 - draft 40<https://openid.net/specs/openid-connect-basic-1_0.html#Scopes>

Essentially, I had a case where it was using PING Identity, and they had followed this guide but wou

[2021-11-18 00:33] WilliamDAssafMSFT commented on #24641
#assign:williamdassafMSFT
#assign:dimitri-furman

[2021-11-18 00:33] PRMerger18 commented on #24641
The following users don't have valid GitHub IDs, or are not collaborators on this repo: williamdassafmsftdimitri-furman

[2021-11-18 00:34] WilliamDAssafMSFT commented on #24641
#assign:dimitri-furman

[2021-11-18 00:34] WilliamDAssafMSFT commented on #24641
#assign:williamdassafMSFT

[2021-11-18 00:35] PRMerger-2 commented on #24641
Users williamdassafmsft are already assigned.

[2021-11-18 00:59] ikhapova commented on #78147
@joeljanke Thank you for reaching out. We are evaluating impact of this issue to prioritize for development, however there is no committed date yet.
We have migrated our forum to the new platform where customers can submit theirs and vote on ideas of others. Please, give it a try at https://aka.ms/advisorfeedback.

[2021-11-18 01:00] kgremban commented on #83911
Hi @Ngapuke, can you provide more information about where you're seeing this error? Is it when you build the module in Visual Studio Code, in the module logs on the device, or at another point?

[2021-11-18 01:38] WilliamDAssafMSFT commented on #24641
Will address this documentation in an updating content push. In progress here: https://github.com/MicrosoftDocs/azure-docs-pr/pull/180321
#please-close

[2021-11-18 01:38] #24641 closed

[2021-11-18 01:45] JimacoMS4 commented on #68131
#reassign v-gpettibone

[2021-11-18 01:51] SamaraSoucy-MSFT commented on #83778
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-11-18 01:52] SamaraSoucy-MSFT commented on #83836
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-11-18 01:53] ricowang-msft opened #84043 "`.explain({"executionStatistics": true })` returns `MongoshInvalidInputError: [COMMON-10001] verbosity must be a string`"
`.explain()` still works, but *per docs* `.explain({"executionStatistics": true })` returns the following error:

[code]

The error is quite straightforward. Referencing [cursor.explain()](https://docs.mongodb.com/v4.0/reference/method/cursor.explain/) (as well as 3.2 and 3.6), the `explain` operator all seems to accept a single string.

As far as I had tested, Cosmos DB does not concern what mode

[2021-11-18 01:55] SamaraSoucy-MSFT commented on #84025
Thanks for the feedback! We will review and get back to you shortly.

[2021-11-18 01:55] SamaraSoucy-MSFT commented on #84041
Thanks for the feedback! We will review and get back to you shortly.

[2021-11-18 02:20] OzBob commented on #83970
my settings.json says:
[code]
and there is a line in 'tastks.json' that refers to 'net6.0'
[code]

[2021-11-18 02:33] SadiqhAhmed-MSFT commented on #84033
@v-asymes Thank you for your feedback. We will this with the feature owner and update as appropriate.

[2021-11-18 02:33] SadiqhAhmed-MSFT commented on #84033
@Sharmistha-Rai FYI

[2021-11-18 02:51] evelyn-ys commented on #79772
`az storage blob move` is in `storage-preview` extension. To use this command, you need to install extension with `az extension add --name storage-preview`.

But I won't suggest you to use this command since it's for ADLS storage account only and has been deprecated.
If you want to move a file(blob) in ADLS storage account, you can use `az storage fs file move`.
If you want to move a blob in commo

[2021-11-18 02:57] CoreyFlies opened #84044 "Documentation Update"
The documentation for connecting to Azure Virtual Desktop needs to be updated. Current versions of Remote Desktop on Android use the term "Workspaces" instead of "Remote Resource Feed."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 671614a5-60a1-e453-1f3b-1c53fc6b670f
* Version Independent ID: 6c47f487-ad60-c165-b7ef-

[2021-11-18 02:57] jasonzio commented on #84040
OK, you're telling me the problem is "the main page is empty", which I agree is a real problem. I'll change the issue title.

The "Concepts and Related Pages" page is almost completely empty, having only a revision history link; that, too, is a problem.

[2021-11-18 03:00] YutongTie-MSFT commented on #84016
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-18 03:29] AshokPeddakotla-MSFT commented on #84026
[@sandervandevelde](https://github.com/sandervandevelde) Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-11-18 03:51] swinner95 commented on #83730
@RohitMungi-MSFT I think Cody Peterson @cody-dkdc may be the right contact for this item.

[2021-11-18 03:52] insankim opened #84047 "Add annotation for M416s_v2 and M416ms_v2"
[Enter feedback here]
Accelerated networking does not work old kernel version for RHEL 7.6 and 7.7 on VM size having more than 256 vCPUs.
This is due to RHEL kernel bug specific for hyper-v and fixed in errata versions. Please add this information as a note for 416 core sizes.

Reference doc on hyper-v)
Note 16) For RHEL 7.6, support for >256 vcpus is available in kernel 3.10.0-957.38.1 or later a

[2021-11-18 04:02] vipulsparsh commented on #83945
@chucksnow Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-11-18 04:03] abhirockzz commented on #84019
Hi @krispenner The section you're referring to will be updated soon. In the meanwhile, I would recommend looking at this sample https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos.Samples/Usage/ItemManagement/Program.cs

[2021-11-18 04:19] AnuragSharma-MSFT commented on #84019
@abhirockzz Thanks for clarifying this.

@krispenner We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-11-18 04:20] AnuragSharma-MSFT commented on #84021
@vasug Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-11-18 04:21] AnuragSharma-MSFT commented on #84043
@ryocown Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-11-18 04:29] PramodValavala-MSFT commented on #83459
@WillParry Just following up here... Could you share more details as mentioned in my last comment?

[2021-11-18 04:46] v-hagamp commented on #82639
@velushomaz-splunk
You can also edit the document yourself by clicking on **Edit** icon in the article. Please add changes to the doc as per your requirement and share the PR link to us for review.
![image](https://user-images.githubusercontent.com/59013559/142353201-719fd737-fcaf-441b-b3ed-11d8e9692692.png)

[2021-11-18 04:46] SnehaAgrawal-MSFT commented on #83732
@OwainWin It seems your query is related to Event Hub and the document you are referring to is of Notification hub could you please confirm and the share the related document link to help you better on this.

[2021-11-18 04:47] benkeeney opened #84048 "Table: Users and contacts > Default guest user permissions"
Add  • Invite guests

According to the default setting in Manage external collaboration settings - Guest invite settings  ○ Anyone in the organization can invite guest users including guests and non-admins (most inclusive)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 510faed7-b79d-b8ec-f32f-e64

[2021-11-18 04:54] GeethaThatipatri-MSFT commented on #83987
@waqar-anwar1990  Could you please provide more information *why* you need this. Is it because you have a large set of end-users who need to connect directly to Azure SQL DB over the public Internet?

[2021-11-18 04:59] amichel opened #84049 "Documentation is not clear regarding creation of service principals"
The page says that workspace admin can create a service principal via SCIM API. On the other hand, SCIM API manual for Azure states that Azure AD application id is required and describes POST method as "Add service principal" (unlike AWS documentation, that describes POST method as  "Create service principal" and applicationId is auto-generated).
In practice it means that in order to create a serv

[2021-11-18 05:11] GitaraniSharma-MSFT commented on #83663
@luodun2020 , below is the response from the Product Group team on this query:

Today we need subnet/write permissions to modify a property called _privateEndpointNetworkPolicies_ and set it to disabled.

Soon with NSG support coming, this requirement will no longer be needed and all instructions will no longer list this operation as needed.
Refer : https://azure.microsoft.com/en-us/updates/public

[2021-11-18 05:16] SadiqhAhmed-MSFT commented on #84023
@porrascarlos802018 Thank you for the feedback. We will review and update as appropriate.

[2021-11-18 05:17] SadiqhAhmed-MSFT commented on #84009
@bbrandt Thank you for your post. We will look into it and get back to you soon.

[2021-11-18 05:24] peter-bertok opened #84050 "Please stop hiding the hard part under the carpet"
I'm frustrated with Azure document pages where I need the syntax for some parameter value only to find that instead of the samples showing an *example value* as expected, they just sweep the complexity under the carpet by making it an opaque "string" input parameter with no sample specified.

This like like saying that the "string" input takes a "string" value.

Well, of course. We know that. WHAT

[2021-11-18 05:40] likebupt commented on #82242
you can use [Execute Python Script ](https://docs.microsoft.com/en-us/azure/machine-learning/component-reference/execute-python-script)module to train xgboost model
Or, we just public preview custom module, which is more flexcible than Execute Python Script module, you can refer to [this article](https://docs.microsoft.com/en-us/azure/machine-learning/concept-component)

[2021-11-18 05:48] SnehaAgrawal-MSFT commented on #83703
@kraiz Could you please send an email to AzCommunity[at]Microsoft[dot]com referencing this issue, we would like to work closer with you on this matter. Looking forward for your email and assist there. Will close here.

[2021-11-18 05:48] #83703 closed

[2021-11-18 05:51] VikasPullagura-MSFT commented on #84047
@insankim
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-11-18 05:51] VikasPullagura-MSFT commented on #84047
@ayshakeen
Can you please check and add your comments on this doc update request as applicable.

[2021-11-18 05:55] jhirono commented on #81906
Sorry for my delay, It was our documentation bug and we have fixed this in early Nov. Thanks for your feedback.

[2021-11-18 06:21] likebupt commented on #82244
list the installed modules by a script it the most reliable way, and it's also included in the module article
![image](https://user-images.githubusercontent.com/39058063/142363011-6c898f68-3409-4533-86d4-bc87447a6060.png)

[2021-11-18 06:28] sanglt commented on #53950
I want to follow up this document.

This solution is not longer working for us. Because we created cluster with RBAC with disable local account: https://docs.microsoft.com/en-us/azure/aks/managed-aad#disable-local-accounts

[2021-11-18 06:40] CatchSandeepVaid opened #84052 "Assign roles to different users and groups - Here group means Azure AD Group?"
`https://docs.microsoft.com/en-us/azure/active-directory/develop/custom-rbac-for-developers`

When you say

By groups, do you mean Azure AD Group or some other group?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5dc830f1-65af-6a40-c11c-4b394b808b5a
* Version Independent ID: 1443081c-71c8-1606-2312-793f89f0b645
* Cont

[2021-11-18 07:07] yooakim commented on #83984
We can close this, I had an issue with a local NuGet misconfiguration. Sorry.

[2021-11-18 07:07] #83984 closed

[2021-11-18 07:32] SumanthMarigowda commented on #83830
@meenalsri This articles explain the major difference feature of ADLS gen2 and Blob encryption
https://docs.microsoft.com/en-us/azure/storage/blobs/storage-feature-support-in-storage-accounts
This article shows whether a feature is fully supported, supported at the preview level, or is not yet supported. Support levels are impacted by storage account type, and whether certain capabilities or proto

[2021-11-18 07:32] #83830 closed

[2021-11-18 07:36] JAYTAS commented on #21652
Hi team, we are exploring this feature for one of our business cases, could you please let us know the current status of this feature?

[2021-11-18 07:36] SumanthMarigowda commented on #83841
@shivams619 The link is working fine.
 Research and Innovative Technology Administration, Bureau of Transportation Statistics.
https://www.transtats.bts.gov/DL_SelectFields.asp?gnoyr_VQ=FGJ

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-18 07:36] #83841 closed

[2021-11-18 07:40] waqar-anwar1990 commented on #83987
Hello @GeethaThatipatri-MSFT, Yes we have a large set of users who will be accessing the DB. We do not want to make our DB public but also want to enable our users pool to access it. So the rules will fall short.

[2021-11-18 07:50] nailenTV commented on #83985
Hi, got the same issue, no Cloud Explorer.

[2021-11-18 07:59] CHEEKATLAPRADEEP-MSFT commented on #84049
@amichel  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-11-18 08:40] SDedik opened #84054 "Storage classes parameters reference"
The **Storage classes** section of this document provides an example on how custom Storage class is defined. As can be seen from the example, the parameters block defines key characteristics of the storage class. However, the documentation is missing reference of parameters options and their possible values.
For instance, the example shows `storageaccounttype: Premium_LRS`, but what other options

[2021-11-18 08:48] madsd commented on #64660
The fix is being pushed out as fast as we can respecting our [Safe Deployment Practice](https://azure.microsoft.com/en-us/blog/advancing-safe-deployment-practices/). We currently have West Central US and North Central US complete, and many other regions will follow in the coming weeks.

@troll-os this property is currently not possible to set in portal. The UX team is working on a revision of Depl

[2021-11-18 09:51] cpinotossi commented on #44048
To me Example 1a json still looks wrong. I would have expected the json match condition to look similar to this:

"matchConditions": [
{
    "matchVariables": [
        {
            "variableName": "user-agent"
        }
    ],
    "operator": "Regex",
    "negationConditon": false,
    "matchValues": [
        "evilbot"
    ]
 }
]

[2021-11-18 10:08] SrijitBose-MSFT commented on #84054
@SDedik , you can find the complete list of parameters for different azure storage class provisioners [here](https://kubernetes.io/docs/concepts/storage/storage-classes/#azure-disk).

In your particular case (using managed Azure disks), the following parameters are available:

* `storageaccounttype`: Azure storage account Sku tier. Default is empty.
* `kind`: Possible values are `shared`, `dedicat

[2021-11-18 10:17] GitaraniSharma-MSFT commented on #83954
@microsmith , the clarification on this lies in the power states of an Azure VM.

Difference between Stopped and Stopped (Deallocated) are as follows:

**Stopped :** The Virtual Machine is allocated on a host but not running. Also called PoweredOff state or Stopped (Allocated). This can be result of invoking the PowerOff API operation or invoking shutdown from within the guest OS. The Stopped stat

[2021-11-18 10:17] #83954 closed

[2021-11-18 10:23] SDedik commented on #84054
@SrijitBose-MSFT great answer, thank you! Having this information and links added to the documentation page will be valuable.

[2021-11-18 10:35] snowei commented on #80335
You can return any JSON-serializable value.
Please check the sample score.py in https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/deployment/deploy-multi-model/multi-model-register-and-deploy.ipynb.

[2021-11-18 10:51] SrijitBose-MSFT commented on #84054
@SDedik , thank you for your feedback. We have shared the same with the content author(s). This will now be visible in their backlog.

[2021-11-18 11:08] harithamaddi-ops opened #84057 "Suggestion on limitation of 4000 characters in nvarchar columns"
Hi Team,

We are loading data from parquet files into Synapse where it is observed that few files have string columns with length >20k where as in Synapse limit is to store only 4k for nvarchar columns and hence load is failed.

An alternative we have seen recommended is to break the column into multiple columns during load and concat them in final views which can be shared with the application th

[2021-11-18 11:08] blomm opened #84058 "why is there no mention that id and partition key needs to be passed into .items(id, partitionkey)"
as I've also commented here:
https://stackoverflow.com/questions/64616447/azure-cosmosdb-nodejs-entity-with-the-specified-id-does-not-exist-in-the-syste

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3033ce85-b59b-f399-8348-04d00b3a3f55
* Version Independent ID: b3c2d8d0-8dca-5bc6-b12f-a93f76642047
* Content: [Getting

[2021-11-18 11:10] lukewar commented on #47611
Hey @RyanHill-MSFT I was integrating "Sing in with Apple" and I was struggling with many similar things people have been mentioning in this thread. How long do you think this feature will be in Preview mode, it's been some time since the original release.

I would kindly suggest that, the documentation requires an update. While this doc is pretty good https://docs.microsoft.com/en-us/azure/app-ser

[2021-11-18 11:14] benchwang commented on #81961
@asears, thanks for raising the issue.

Below the comment, there is a code sample:
[code]

You suggest us to:
1. Add a full sample using this code.
2. Add a full sample to show how to reference a module not in Python sys path.

Is my understanding right? We can improve the doc after elaboration.

[2021-11-18 11:21] OwainWin commented on #83732
Apologies If raised this in the wrong area as I was looking at Event Hub's.
Please close and I can raise this in the create place.

Best regards

Owain

From: SnehaAgrawal-MSFT ***@***.***>
Sent: 18 November 2021 04:47
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Owain Winterbone (ITCS - Staff) ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Event Hub Update Disruption

[2021-11-18 11:25] SnehaAgrawal-MSFT commented on #83732
@OwainWin Thanks for confirming. Closing this here.

[2021-11-18 11:25] #83732 closed

[2021-11-18 11:44] AnuragSharma-MSFT commented on #84058
@blomm Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-11-18 12:10] SadiqhAhmed-MSFT commented on #84042
@jamesorlando Thank you for the feedback. We will review this request and update accordingly.

@georgewallace For visibility

[2021-11-18 12:15] SadiqhAhmed-MSFT commented on #84048
@benkeeney Thank you for the feedback. We will review it and update accordingly.

[2021-11-18 12:23] take-4c opened #84059 "A single resource group and region means a combination of them?"
Hi,

As a app service limit, this page says that the total content size of all apps across all App service plans in a single resource group and region cannot exceed 500 GB.
Does this mean that no resource groups or regions can exceed 500GB?
Otherwise, does it mean no combinations of resource group and region can exceed 500GB?

Best Regards,
Takeshi Katayama

---
#### Document Details

⚠ *Do not ed

[2021-11-18 12:27] drmanhatin commented on #75615
I have the same ask, for the same country. Doesn't necessarily have to be a Dutch phone number, just allow us to send to the Netherlands ;)

[2021-11-18 12:35] zadjii-msft opened #84061 "Blocking `ux.console.azure.com` seems to work fine for Cloud Shell in a browser, but Cloud Shell via Windows Terminal (v1.11.2921.0) still works."
Blocking ```ux.console.azure.com``` seems to work fine for Cloud Shell in a browser, but Cloud Shell via Windows Terminal (v1.11.2921.0) still works.

How do we block Cloud Shell access via Windows Terminal?

_Originally posted by @dsmithcloud in https://github.com/MicrosoftDocs/azure-docs/issues/55489#issuecomment-972067811_, and in https://github.com/microsoft/terminal/issues/11775

[2021-11-18 12:38] isdataninja opened #84062 "new Synapse RBAC are roles no longer in preview"
new Synapse RBAC roles are no longer in preview, please update

- Synapse Contributor
- Synapse Artifact Publisher
- Synapse Artifact User
- Synapse Compute Operator
- Synapse Credential User

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cd443b5-c0b0-0506-09ea-e8776b924819
* Version Independent ID: 466a89e7-0271-35df

[2021-11-18 12:40] alanta opened #84064 "Link to CloudCover episode 177 is broken"
Under  [Example using policy expressions](https://docs.microsoft.com/en-us/azure/api-management/api-management-caching-policies#example-using-policy-expressions-1) the link to the video is broken. I think it should link to https://channel9.msdn.com/Shows/Cloud+Cover/Episode-177-More-API-Management-Features-with-Vlad-Vinogradsky

---
#### Document Details

⚠ *Do not edit this section. It is require

[2021-11-18 12:50] Heloiseboanerges opened #84065 "Review documentation "Set up disaster recovery for a multi-tier SAP NetWeaver app deployment""
Hi,

I was reading the article https://docs.microsoft.com/en-us/azure/site-recovery/site-recovery-sap#vms-running-sap-central-services-clusters and found this:

To support the failover cluster environment, SIOS DataKeeper Cluster Edition does the cluster shared volume function. In the function, SIOS DataKeeper Cluster replicates independent disks owned by the cluster nodes. **Because Azure does no

[2021-11-18 13:10] SadiqhAhmed-MSFT commented on #83961
@prafulbusa Would be glad to help if you could share more details about the doc updated you are referring to.

[2021-11-18 13:22] MACEL94 commented on #79578
up?

[2021-11-18 13:23] alexeyshishkin01 opened #84066 "Azure Database for PostgreSQL Flexible Server - container or virtual machine ?"
[Enter feedback here]

https://docs.microsoft.com/en-us/azure/postgresql/flexible-server/concepts-servers#what-is-an-azure-database-for-postgresql-server
says that Flexible Server is a container: 'Is a container with strong lifetime semantics - delete a server and it deletes the contained databases'
on the other hand
https://docs.microsoft.com/en-us/azure/postgresql/flexible-server/overview#high-a

[2021-11-18 13:34] acscampos commented on #83621
Thank you

[2021-11-18 13:36] microsmith commented on #83954
So, you see no need to clarify that article? Perhaps add a link to the page you referenced above. Better, add a note about "stopping through the OS" vs. "stopping through Azure".  (Just trying to help my students and clients understanding Dynamic IPs.)

[2021-11-18 13:39] SadiqhAhmed-MSFT commented on #83968
@sumangeorge6 Appreciate if you could share the document you are referring to.

[2021-11-18 13:45] SadiqhAhmed-MSFT commented on #84050
@peter-bertok Thank you for the feedback. We will review the content and update accordingly.

[2021-11-18 14:25] csnarain opened #84067 "Key error when running script"
Running the script 'run-pytorch.py' as provided by the documentation throws a key error when run. I believe the code has an issue in getting the environment object.

Instead of the existing lines:

**env = ws.environments['AzureML-PyTorch-1.6-CPU']
config.run_config.environment = env**

I used the following, which fixed the problem

**env_name = 'AzureML-PyTorch-1.6-CPU'
env = Environment.get(work

[2021-11-18 14:25] dineshazure commented on #64188
We have also come across this role issue as pg_dump only takes schema backup and we have databases configured with custom roles.

[2021-11-18 14:26] 72gm opened #84068 "Article dates are misleading"
[Enter feedback here]
A consistent issue with B2C documentation is trying to find documentation that is up to date and relevant given there have been so many changes over the last couple of years ... one of the big problems is you don't show the created date for an article (probably showing last updated?)

So I see this article posted here (23rd Nov 2020)
![image](https://user-images.githubusercon

[2021-11-18 14:26] mrbullwinkle commented on #84016
@YutongTie-MSFT that article was accidentally retired during the build release. I have created the PR linked above to resolve the issue.

[2021-11-18 14:27] DougPetrole opened #84069 "Publication Steps Out of Order"
Hi Team,

Thanks for taking the time to review this!

I am an avid publisher in the Azure Marketplace and I note that the Certification step is now after both Preview and Go Live, not before as shown in the documentation here.

Can we please update this? The steps and impact of clicking Go Live at the third step imply that your solution will be live, but there is still the Certification step and t

[2021-11-18 14:41] dineshazure opened #84070 "Download report option is froze all time in Database Migration Service for PostgreSQL"
There is a Download Report option in DMS Monitor page however it is not enabled at anytime. Not during migration or after cutover so would like to check what is that option is for? (https://docs.microsoft.com/en-us/azure/dms/tutorial-postgresql-azure-postgresql-online-portal#monitor-the-migration).
 Also screenshots given in the documentation (https://docs.microsoft.com/en-us/azure/dms/tutorial-po

[2021-11-18 14:46] juliakm commented on #83735
@pdebruin Thanks! I'll update the doc.

[2021-11-18 14:59] bsaxbergMS opened #84072 "Updated information"
[Enter feedback here]
Seems the screens and menus have changed in the portal since this document was created.
The document says to click on Update Management which now has a button of Guest + host updates.
I am not sure what I just volunteered for. :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0059e10-c9c8-14aa-94

[2021-11-18 15:02] geekydonna opened #84073 "Regarding Container Apps"
Looking at the doc for : https://docs.microsoft.com/en-us/azure/container-apps/containers
I would like to mount a file share to inject some files into the container that are used at start up. How would I do such a thing and if the directory is something like /mountshare would I need to be a "privileged" user to do so.

Thank you!
Donna

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-11-18 15:09] metaxiom opened #84074 "Where is the code that publishes to event grid?"
The publish to event grid function code appears to be missing.  There is code for the functions that listen but not for publishing to event grid.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 581df4e3-3d93-8265-c6a5-8de0389ceeb6
* Version Independent ID: 58482e43-7122-a416-6601-4c889122ee41
* Content: [Durable Functio

[2021-11-18 15:15] BhargaviAnnadevara-MSFT commented on #84061
@zadjii-msft @dsmithcloud Thanks for the question. We're investigating this and will get back to you shortly.

[2021-11-18 15:29] HeidiSteen commented on #84001
@xavierjohn @brjohnstmsft  In the 10:00 a.m. PST publish, the complex type doc will show 3 tabs under "Create complex types" for portal, rest, and C# instructions, where the C# provides snippets and links to the SDK sample.  I don't think there is further action here so I'll close the issue, but @xavierjohn if you have questions or suggestions, please respond back on this issue.

#please-close

[2021-11-18 15:29] #84001 closed

[2021-11-18 15:36] pemsft opened #84075 "Information about Azure Route Server impact missing"
Thank you for excellent documentation!

In the documentation section about Border Gateway Protocol (BGP) there is no mention about Azure Route Server:
https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-udr-overview#border-gateway-protocol
It would clarify the documentation a bit if Azure Route Server would also be mentioned there.
Azure Route Server: https://docs.microsoft.com

[2021-11-18 15:40] VanMSFT commented on #83987
Hi @waqar-anwar1990 - The stated limitation in the doc is correct. To discuss different options, I would suggest you open a support ticket with Microsoft Support in the Azure portal.

[2021-11-18 15:48] waqar-anwar1990 commented on #83987
Thank you for your response. I will do that.

[2021-11-18 15:49] MarcLaf opened #84077 "Handling Devices with Azure AD Registered State"
In the documentation there is a note that says

If a device is added to Autopilot's device list and becomes registered in Azure AD, it cannot be removed from AAD Devices manually (or even through this new process automatically). There is no mention in this document how post 1803 handles devices with Azure AD Registered State if they also belong to Autopilot. From my current testing, the local regi

[2021-11-18 15:54] kobulloc-MSFT commented on #84072
@bsaxbergMS Thank you for reporting this!  We will investigate this and get back to you shortly.

[2021-11-18 15:54] abudhu commented on #82896
The link as it appears now links to an Editable Form that has the option to add New Fields.

https://forms.office.com/Pages/DesignPage.aspx#FormId=v4j5cvGGr0GRqy180BHbR9iuLyDgXDNIkMaAAVSMpJxUMVdIOUNDMlNESUlJRVNWOExJVUoxME1CMS4u&Token=60e8e4cd986e48689b435d8c4255f79a

Is this intended?

[2021-11-18 15:55] SadiqhAhmed-MSFT commented on #84065
@Heloiseboanerges Thank you for your post. We will look into it and get back to you soon.

[2021-11-18 15:57] SadiqhAhmed-MSFT commented on #84052
@CatchSandeepVaid Thank you for your post. We will look into it and get back to you shortly.

[2021-11-18 15:58] MonikaReddy-MSFT commented on #84059
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

@tfitzmac - Hey Tom, do you have any insights on the above that you can share with the customer?

[2021-11-18 16:03] tfitzmac commented on #84059
@msangapu-msft - has started investigating this issue.

[2021-11-18 16:04] SumanthMarigowda commented on #83649
@ii-batman Firstly, apologies for the delay in responding here! I  have assigned the issue to the content owner for further review.

[2021-11-18 16:05] ram-msft commented on #84067
@csnarain Thanks for the question. We are investigating the issue and will update you shortly.

[2021-11-18 16:11] BhargaviAnnadevara-MSFT commented on #84061
@zadjii-msft @dsmithcloud This is an interesting ask! Unfortunately, [this](https://docs.microsoft.com/en-us/azure/cloud-shell/troubleshooting#disabling-cloud-shell-in-a-locked-down-network-environment) seems to be all the guidance there is to restrict Cloud Shell in a locked down network environment.

I've opened an issue with the [Azure/azure-cli](https://github.com/Azure/azure-cli/) repository

[2021-11-18 16:11] #84061 closed

[2021-11-18 16:13] titans2016 opened #84078 "Azure App Service Access Restrictions does not find"
This page [https://docs.microsoft.com/en-us/security/benchmark/azure/baselines/app-service-security-baseline](url) in point 1.3: Protect critical web applications Link Azure App Service Access Restrictions going not to exist page. Please fix it!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d2f5657-ed79-040c-9b9f-225

[2021-11-18 16:17] saasguide commented on #82259
The purpose of  "endDate" is to denote the term end date for the current subscription term.
On renewal, the term start and end date will change according to the term duration.

[2021-11-18 16:18] saasguide commented on #82259
#please-close

[2021-11-18 16:18] #82259 closed

[2021-11-18 16:18] kushagraThapar commented on #82654
@abinav2307  - tagging you here as you are already working on this.

[2021-11-18 16:36] ChaitanyaNaykodi-MSFT commented on #84075
Hello @pemsft
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-11-18 16:42] vhorne commented on #82956
Updated the **Important** note in the article to include the following information:

_For both the v1 and v2 SKUs, rules are processed in the order they are listed in the portal. The best practice when you create path rules is to have the least specific path (the ones with wildcards) at the end. If wildcards are on the top, then they take priority even if there is more specific match in subsequent

[2021-11-18 16:49] eric-urban commented on #82205
@ignaciofls - Thanks for reporting this issue! We have updated documentation e.g., [Create subscription config](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/spx-basics?tabs=windowsinstall%2Cpowershell#create-subscription-config).

[2021-11-18 16:49] eric-urban commented on #82205
#please-close

[2021-11-18 16:49] #82205 closed

[2021-11-18 16:51] RickWinter commented on #84040
@kyle-patterson We can certainly add the readme to be the index.html content.  I've opened a feature-request to do so.
https://github.com/Azure/azure-sdk-for-cpp/issues/3121

[2021-11-18 16:59] spelluru commented on #83992
@ewahner - Thanks for the feedback. Appreciate it. I will review, update, and re-publish the article in a day or two. Thanks.

[2021-11-18 16:59] mrbullwinkle commented on #84016
The PR resolving this issue has been merged internally. The changes will go-live in the public docs between 1 -2 PM (UTC-5)

[2021-11-18 17:00] mrbullwinkle commented on #84016
#please-close

[2021-11-18 17:00] #84016 closed

[2021-11-18 17:02] RobBiddle commented on #27368
Upvote has been given here: https://feedback.azure.com/d365community/idea/0a7d8569-b525-ec11-b6e6-000d3a4f0789?page=1

Also, I have some related feedback for anyone at **@Microsoft** who is listening.

I manage a somewhat similar but slightly more complex environment.
Single-Forest.
Lots of Child Domains.
Child Domains cannot communicate with each other (i.e. no network connectivity between them,

[2021-11-18 17:02] JamesTran-MSFT commented on #84068
@72gm
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-18 17:04] wetsai opened #84079 "How to public symbols to symbol server http://symbol/"
[Enter feedback here]
We are using the "Index sources and publish symbols" task in Azure DevOps.  It seems the symbols are published to our Org's artifact repository.  We are trying to onboard Azure Watson which requires symbols to be indexed and published to http://symbol/
How do we use this task to index and publish symbols to http://symbol/ ?

---
#### Document Details

⚠ *Do not edit this sect

[2021-11-18 17:07] wetsai commented on #84079
Sorry, wrong area.

[2021-11-18 17:07] #84079 closed

[2021-11-18 17:08] GeethaThatipatri-MSFT commented on #83987
@VanMSFT  Thanks for your comment, @waqar-anwar1990 I am going to close out this git issue but feel free to comment below if you have any further questions.

[2021-11-18 17:08] #83987 closed

[2021-11-18 17:21] lainreza28 opened #84081 "can i change from number with the name?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01e4cdb3-5af8-6048-4b34-43894563fd19
* Version Independent ID: 908e5c44-4f62-20a0-11a8-4ba2e92875ad
* Content: [Quickstart - Send an SMS message - An Azure Communication Services quickstart](https://docs.microsoft.com/en-us/azure/communication-service

[2021-11-18 17:22] robece commented on #81891
Hi @jayendranarumugam thanks for replying, and apologies for the late response, let me see if I understand, you want to access to the Event Grid DLQ events stored in Azure Storage Account, if so, when you create the Event Grid subscription you need to configure your storage for DLQ, during the subscription creation will be assigned the permissions write into your storage account container, you can

[2021-11-18 17:35] MartinJaffer-MSFT commented on #83840
@DianGermishuizen I believe you are correct.  I see the same behavior, global parameters as part of the `/factory/{factory_name}-arm-template parameters.json`
I vaguely recall it having a separate folder in the past, so I agree the documentation is outdated.

[2021-11-18 17:37] ChaitanyaNaykodi-MSFT commented on #84013
Hello @ronwarner, Thank you for your feedback. I have made a PR to address this issue and it is currently under doc author's review. We will now proceed to close this issue out. Thank you!

[2021-11-18 17:37] #84013 closed

[2021-11-18 17:38] MartinJaffer-MSFT commented on #83840
Thank you for bringing to my attention the impact of the changed location @nuclear0wl .  I will assign this to content owner for update.

[2021-11-18 17:45] MartinJaffer-MSFT commented on #83840
Thank you for your feedback. This has been assigned to the content owner @joshuha-msft  and will be updated as appropriate.

@joshuha-msft  there are 2 points to be fixed in this document.
1. the location of global parameters in the arm template
2. the powershell script which relies on the global parameters

I can fix 1, but I do not know what to do for the 2.  As these elements rely on each other

[2021-11-18 17:56] Jackson-Woods commented on #81296
Docs PR has been submitted, and the same information is in a PR for the Microsoft Graph permissions reference doc. Feedback is welcome on these PRs:

https://github.com/MicrosoftDocs/azure-docs/pull/83958
https://github.com/microsoftgraph/microsoft-graph-docs/pull/14963

@ericgoudriaan we have recorded the ask to raise the limit internally.

Closing this issue.

[2021-11-18 18:10] sylvia0409 opened #84084 "Can't dissociate a public IP address through powershell"
hi Team, we are trying to automatically remove public IP and network interface in our resource group through PowerShell scripts,
but when we were trying to dissociate public IP address from network interface, the error shows “cannot set property”, while this command works a few weeks ago, so we were wondering is it possible that we could make it work again? is there any extra steps we should take?

[2021-11-18 18:19] billmath commented on #69482
Thank for submitting this. I have created a work item for it and will send this to engineering so that they can review it and provide me with updated details. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2021-11-18 18:19] #69482 closed

[2021-11-18 18:19] MartinJaffer-MSFT commented on #84057
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-11-18 18:20] MartinJaffer-MSFT commented on #84062
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-11-18 18:21] jmagosta opened #84085 "Imprecise directions to find templates."
The page directions to find a template do not match the current Synapse workspace page.  There is no "learn" link, and there is no mention of a gallery on subsequent pages

These are the instructions in question in the docs:

What there is in Synapse is a workspace page with a "learn more" link under "Documents".

Alternately there  upon entering the workspace  a set of choses for "Knowledge Cente

[2021-11-18 18:21] billmath commented on #69586
Thank for submitting this. I have created a work item for it and will be reviewing the installation screen.  Unfortunately, overtime it can diverge from what we originally documented.  I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2021-11-18 18:21] #69586 closed

[2021-11-18 18:24] billmath commented on #69587
Thank for submitting this. I have created a work item for it and will reviewing this in the coming weeks. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2021-11-18 18:24] #69587 closed

[2021-11-18 18:24] KranthiPakala-MSFT commented on #84085
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-11-18 18:25] sqlworldwide opened #84086 "Create Azure Database Migration Service in Portal"
Is [this section ](https://docs.microsoft.com/en-us/azure/dms/quickstart-create-data-migration-service-hybrid-portal#create-an-instance-of-the-service)still correct?  I do not see this in my portal?
![image](https://user-images.githubusercontent.com/26484126/142474013-e52054e3-d86a-4362-b770-d87d405c8065.png)

I am seeing only this, and when I press the NEW  button, nothing happens. What am I miss

[2021-11-18 18:25] billmath commented on #69588
Thank for submitting this. I have created a work item for it and will reviewing this in the coming weeks. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2021-11-18 18:25] #69588 closed

[2021-11-18 18:27] billmath commented on #70204
Thank for submitting this. I have created a work item for it and will send this to engineering so that they can review it and provide me with updated details. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2021-11-18 18:27] #70204 closed

[2021-11-18 18:32] MarcLaf commented on #84077
@JamesTran-MSFT Thanks. I received a reply from Michael Niehaus indicating seeing two objects with this scenario is normal and he doesn't think the AAD device object created when adding through AP ever gets removed when joining Hybrid. But it would be nice to have this indicated in the docs if it is indeed accurate.

[2021-11-18 18:34] DianGermishuizen commented on #83840
Hi @MartinJaffer-MSFT

Thank you for actioning this.

I recently made a blog post about this and "attempted" to make a corrected PowerShell script. Check it out here > [Global Parameters 101 in Azure Data Factory
](https://diangermishuizen.com/global-parameters-101-in-azure-data-factory/)
Look at the heading "Custom PowerShell for factory config file globalParamters attribute alteration" for the a

[2021-11-18 18:43] #84044 closed

[2021-11-18 18:45] fjbsaper opened #84087 "VPN connection example"
[Enter feedback here]
There is a serious step missing here. There is no global overview and nowhere is it stated if the vnet-gateway is to emulate the On Prem VPN or how to set the scenario up emulating an On Prem VPN, from say, another az network.

So the reader is left to guess, that the missing part is the VPN config from On Prem to the VPN gateway, and also left to wonder why the connection cr

[2021-11-18 18:53] tfitzmac commented on #83914
@nubgamerz - thanks for this information, I have added it to the article. The update should get published later today. The troubleshooting part was moved to a separate article that is just focused on installation troubleshooting.
#please-close

[2021-11-18 18:53] #83914 closed

[2021-11-18 18:59] ChaitanyaNaykodi-MSFT commented on #83912
Hello @SomaniVipul
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-11-18 19:11] tshaiman opened #84089 "Maintenance and Auto-Upgrade Channel"
[Enter feedback here]
It is not clear if the maintenance window applies also to the automatic Node Image Auto-Upgrade Channel :
https://docs.microsoft.com/en-us/azure/aks/upgrade-cluster#set-auto-upgrade-channel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ae4303e-dc21-d795-49ae-3798906fcd53
* Version Independent ID

[2021-11-18 19:14] KranthiPakala-MSFT commented on #84015
THank you @mattygrecgrec .

[2021-11-18 19:15] ssivas commented on #84048
Thank you for your feedback, I have assigned this issue to content author to review and update accordingly. Thanks.

[2021-11-18 19:18] RyanHill-MSFT commented on #47611
Thanks for the feedback @lukewar. We'll get the docs updated for providing those missing steps. As for a Preview -> GA timeline, I don't have any information but will ask for update. I'll also highlight your submitted feedback item to product group.

[2021-11-18 19:19] RyanHill-MSFT commented on #83780
We will now proceed to close this thread. If there are further questions regarding this matter, please tag us in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-11-18 19:19] #83780 closed

[2021-11-18 19:20] KranthiPakala-MSFT commented on #83919
@jianleishen - Could you please review the above request from user? -  Thank you

[2021-11-18 19:26] RDukes425 opened #84090 "Update Bastion Screenshot - Conflict with Minimum Subnet Requirement /27 vs /26"
Hello Team
I received a support case regarding the minimum requirement for Azure Bastion Subnet. The documentation states that a prefix of at least /26 is required however the associated screenshot appears outdated and shows /27 as the minimum requirement.

In testing in Gov, the verbiage is updated to /26.
![image](https://user-images.githubusercontent.com/66752282/142483335-7190a1ee-05d7-4cd8-ae

[2021-11-18 19:35] ChaitanyaNaykodi-MSFT commented on #84087
Hello @fjbsaper
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-11-18 19:36] ChaitanyaNaykodi-MSFT commented on #84084
Hello @sylvia0409
Thank you for your feedback! We will review and update as appropriate.

[2021-11-18 19:37] ChaitanyaNaykodi-MSFT commented on #84090
Hello @RDukes425
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-11-18 19:37] anthonychu commented on #83970
@alexweininger @nturinski Any idea what's happening here?

[2021-11-18 19:58] GeethaThatipatri-MSFT commented on #84066
@alexeyshishkin01 Thanks for reaching out, We will Investigate and update you shortly

[2021-11-18 20:06] JimacoMS4 commented on #81714
#reassign JimacoMS4

[2021-11-18 20:12] JimacoMS4 commented on #60550
@SteveSilver Thanks for your feedback. Substantial changes have been made to the article in the PR mentioned above. Can you let me know if you have any additional concerns? I'll leave the issue open for a week or so, and then close it. Thanks again for your help with our documentation!

-Jimaco

[2021-11-18 20:23] sebansal opened #84091 "Screenshots look outdated"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fd769b4-4c68-88be-bf6c-30ad3c355b82
* Version Independent ID: e5b2d116-ac1c-84ef-eeec-e9107019b982
* Content: [Use Key Vault when deploying managed app - Azure Managed Applications](https://docs.microsoft.com/en-us/azure/azure-resource-manager/manage

[2021-11-18 20:24] JimacoMS4 commented on #77185
#reassign JimacoMS4

[2021-11-18 20:26] JimacoMS4 commented on #60958
#reassign JimacoMS4

[2021-11-18 20:28] Grace-MacJones-MSFT commented on #84064
Hi @alanta, Thanks for your feedback! We will review and update this doc accordingly.

[2021-11-18 20:28] msangapu-msft commented on #84059
Hi @take-4c it's the combination of resource group + region can't exceed 500 GB.

[2021-11-18 20:30] msangapu-msft commented on #83877
Hi @rashair The limit is total storage usage across all apps deployed in a single Isolated tier (ASE) (regardless of how they are allocated across different resource groups) is 1 TB. I see how the footnote is confusing so I'll get that updated.

[2021-11-18 20:35] GeethaThatipatri-MSFT commented on #84086
@sqlworldwide Thanks for reaching out, We will Investigate and update you shortly

[2021-11-18 20:40] kenneth-vinje commented on #10957
I'm trying some 3rd-degree transformation, but get an InnerException on the Replace function. It passes multivalue, but returns that it expects MultiValue, StringValue, or NullValue. It just looks strange that it throws an exception when it clearly states that it already has passed such a value???? The documented function does not work, because then I get a comma exception: **Replace([member], "te

[2021-11-18 20:47] RyanHill-MSFT commented on #84069
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-11-18 20:49] harshith79 opened #84092 "Peek and receive for subscription not working when sessions are enabled."
Peek and receive are not functional when sessions are enabled for subscription. Receive executes with no result. While peek doesn't do anything.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4473571e-db99-fd3c-5861-1ba66e3a6890
* Version Independent ID: a2ebb61f-e901-a778-cca0-503fb10ae42b
* Content: [Use Azure Servic

[2021-11-18 20:53] sqlworldwide commented on #84086
Thank you very much.

[2021-11-18 21:00] baf opened #84093 "Windows Server 2022 support"
Is the Azure AD Connect Health for AD DS agent officially supported on Server 2022? If so, the documentation should be updated to reflect that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b4b9ec9-9ce6-dcff-b557-2816d40459b8
* Version Independent ID: b2f56dc2-506e-4ff0-fec5-b7241f7fc4fc
* Content: [Azure Active Dire

[2021-11-18 21:03] JamesTran-MSFT commented on #84093
@baf
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-18 21:07] EvanCahill opened #84094 "Update Secret repositories key vault settings"
It looks like in version 4 of the host runtime the `AzureWebJobsSecretStorageKeyVaultName` setting was replaced with `AzureWebJobsSecretStorageKeyVaultUri` and additional settings were added: `AzureWebJobsSecretStorageKeyVaultTenantId`, `AzureWebJobsSecretStorageKeyVaultClientId`, `AzureWebJobsSecretStorageKeyVaultClientSecret`.

Fore reference see https://github.com/Azure/azure-functions-host/pul

[2021-11-18 21:08] KranthiPakala-MSFT commented on #84073
Thanks for the feedback! We have assigned the issue to the content author to further review this and provide an update as appropriate.

[2021-11-18 21:09] GeethaThatipatri-MSFT commented on #83980
@airwings17 This [Document ](https://docs.microsoft.com/en-us/azure/cosmos-db/provision-throughput-autoscale) provides a good example with a formula. kindly check and let us know if you still looking for anything which needs to be updated.
![image](https://user-images.githubusercontent.com/92763260/142496783-6a1df37a-3809-4a4f-9686-7d9a4fbee42c.png)

[2021-11-18 21:10] EvanCahill commented on #84094
New settings should also be added to https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings

[2021-11-18 21:11] KranthiPakala-MSFT commented on #84070
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2021-11-18 21:13] #83877 closed

[2021-11-18 21:13] KranthiPakala-MSFT commented on #84078
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2021-11-18 21:15] KranthiPakala-MSFT commented on #84074
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-11-18 21:17] Grace-MacJones-MSFT commented on #84064
Thanks again for the feedback! I have submitted a PR to update the doc, the change is merged internally and will go-live in the public docs shortly.

[2021-11-18 21:17] #84064 closed

[2021-11-18 21:30] bandersmsft commented on #80592
@donovand4 I'm going to close this for now as we've been discussing this issue offline with the EA billing team. If a doc change is needed, I'll make it after the team gives clear details about any needed changes.
#please-close

[2021-11-18 21:30] #80592 closed

[2021-11-18 21:45] bandersmsft commented on #83368
@v-sahig Updated the article as we discussed offline. The article will get refreshed live today at 3:30 PM Redmond time.
#please-close

[2021-11-18 21:45] #83368 closed

[2021-11-18 21:51] Scottie2z opened #84096 "Expired CMK Doesn't Seem To Matter"
I have an expired RSA-HSM key version in my AKV that is being used to encrypt a storage account (SSE) with that customer-managed key, why does everything still appear to be working when this key expired last week?

The only reason that I noticed the CMK was expired was because I was unable to enable a new storage account for CMK - "The operation failed because of authentication issue on the keyvau

[2021-11-18 21:53] bandersmsft commented on #83381
@smorczak Thanks for letting us know about this issue. I've updated the article.
#please-close

[2021-11-18 21:54] #83381 closed

[2021-11-18 22:10] JamesTran-MSFT commented on #83981
@eveymat
Thank you for your time and patience throughout this issue.

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our [Q&A f

[2021-11-18 22:10] #83981 closed

[2021-11-18 22:13] Grace-MacJones-MSFT commented on #84081
Hi @lainreza28, can you please give us so more details for your scenario ? Are you trying to change your phone number?

[2021-11-18 22:15] atkulp opened #84097 "Please provide better guidance on Application Insights User AccountID field"
[Enter feedback here]
Account ID is listed as "In multi-tenant applications this is the account ID or name, which the user is acting with. Examples may be subscription ID for Azure portal or blog name for a blogging platform."

This isn't clear at all and I haven't been able to find any definitive guidance on using it.  In common usage, saying "account ID" could be referring to the user whose acco

[2021-11-18 22:20] JamesTran-MSFT commented on #84093
@baf
Thank you for your time and patience throughout this issue! I've reached out to our engineering team to confirm if Windows Server 2022 is supported with the Azure AD Connect Health for AD DS agent, and will update as soon as possible.

[2021-11-18 22:22] prafulbusa commented on #83961
Other day when I was on a call with someone, I needed to stop the JIT access that was enabled on the VM but this document seems old and now the new portal view (with dashboard) seem to have different design. So, please check and change the necessary content on this doc in order to get quick way an idea of how to disable the JIT on the VM.

[2021-11-18 22:30] asears commented on #81961
That's correct.  A more detailed structure and working example of a pipeline with an entry script and a separate folder for the inference script would be useful, rather than just the snippet.  Seeing a lot of syspath issues related to pipelines vs. entry scripts and the working folder differences.

[2021-11-18 22:31] ChaitanyaNaykodi-MSFT commented on #83825
Hello @tekgnu, Thank you for your feedback I have made a PR to address this issue. I have added the "--name" parameter and included the `az extension add --name ssh` which will add the ssh extension.
Regarding your third point, currently this feature is in preview and supported only by the native client on your Windows computer.  Hope this helps.
We will now proceed to close this issue out. Please

[2021-11-18 22:31] #83825 closed

[2021-11-18 22:31] mosolano commented on #83115
thank you!

[2021-11-18 22:38] tifischer opened #84098 "Please make clear that SHIR does not work with MSI. Please provide a link to connecting securely"
Please make clear that SHIR does not work with MSI.  Please provide a link to connecting securely

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ca3773c-adab-edfa-3cba-66be4cb1a307
* Version Independent ID: 6d254ab7-77c1-f920-60d5-30c6a9341afb
* Content: [Register and scan Azure SQL DB - Azure Purview](https://docs.mi

[2021-11-18 22:54] bt115 commented on #84058
a

[2021-11-18 23:16] mmacy commented on #83455
Hi @pauloporto, thanks for the feedback. We've had two similar requests filed as issues on this article:

* https://github.com/MicrosoftDocs/azure-docs/issues/78782
* https://github.com/MicrosoftDocs/azure-docs/issues/73988

As mentioned in my reply to @trevorhawes in https://github.com/MicrosoftDocs/azure-docs/issues/73988#issuecomment-828672823, we prioritize building and maintaining code sample

[2021-11-18 23:16] #83455 closed

[2021-11-18 23:21] capmgn opened #84100 "Feedback link doesn't go to feedback site"
This page states:
"If you would like to see other operating system and browser support, please leave feedback using the product feedback tool at the bottom of the page."

However, instead of going to https://feedback.azure.com, the feedback link goes to https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/support-help-options. Where are we supposed to submit this feedback?

I would

[2021-11-18 23:45] James-Hamil-MSFT commented on #84100
Hi, we are investigating your issue and will update you shortly.

Best,
James

[2021-11-18 23:46] jberry777 opened #84101 "Sentinel; output"
[Enter feedback here]
It would be very helpful for engineers working with Sentinel and attempting to build integrations if there was a sample of the output that could be expected from Sentinel whenever an alert or an incident is encountered. No such example is currently available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2021-11-18 23:55] DerekHerman-MSFT commented on #84096
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-11-19 00:02] ryepup opened #84102 "linux runtimes"
I think the sample code on finding runtimes is misleading.

Here's what I get when running it today, 2021-11-18

[code]

This is excluding net5 and net6 options:

[code]

_However_, to get an app configured for net6 LTS via [`azurerm_app_service`](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/app_service), I had to use the unlisted `DOTNETCORE|6.0`. I opened https

[2021-11-19 00:28] JamesTran-MSFT commented on #84101
@jberry777
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-11-19 00:29] jenellea opened #84103 "Column widths"
The large table is very difficult to read because the column widths have not been optimized. Is it possible to make this table more user friendly?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f496941-f125-1671-5de7-66438e68043f
* Version Independent ID: ce30fce1-45a5-4f00-e0e9-57a00cc07687
* Content: [Azure Monitor

[2021-11-19 00:48] rwike77 commented on #83312
That's a good question.  I see the client ID is used as the resource identifier in the example in [this section](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent#using-the-default-scope-with-the-client).  So I guess it works.  The article doesn't really say whether is supported or recommended, though.

@psignoret is it supported to use a client ID as a res

[2021-11-19 00:53] RavennMSFT commented on #83805
We get this error when cert endpoint URL is missing in the MEX file, which is required for smartcard logon. Please check with the 3rd party IDP to configure the cert endpoint URL correctly.

[2021-11-19 01:13] taiyokato opened #84105 "CSES migration DNS name is incorrect"
https://docs.microsoft.com/en-us/azure/cloud-services-extended-support/in-place-migration-technical-details#cloud-service-and-deployments

Under the "Cloud Service and deployments" section, it says the DNS name (cloudapp.azure.net) will remain the same.

The correct DNS name is "*.cloudapp.net" in classic and extended support. (Tested and confirmed)
![image](https://user-images.githubusercontent.c

[2021-11-19 01:14] kobulloc-MSFT commented on #84089
@tshaiman Thank you for your question!  We are reviewing this and will get back to you shortly.

[2021-11-19 01:39] kamfaima opened #84106 "Wording for redundancy option is incorrect"
When selecting either GRS or GZRS redundancy, you can select _Make read access to data available in the event of regional unavailability_ option which the user _assumes_ converts it to RA-GRS or RA-GZRS.

Firstly, I believe the "unavailability" wording is incorrect. With RA-GRS and RA-GZRS you can always read your data in the secondary region even if the primary region is available, **not** just w

[2021-11-19 01:56] torumakabe opened #84107 "A sample command that doesn't work (giving experiment permission)"
A sample command in "Give experiment permission to your AKS cluster" doesn't work.

First, "Azure Kubernetes Cluster User Role" does not exist. Instead of it, there is ["Azure Kubernetes Service Cluster User Role"](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#azure-kubernetes-service-cluster-user-role).

And, "Azure Kubernetes Service Cluster User Role" doesn't s

[2021-11-19 02:03] RicZhou-MS opened #84108 "Databricks platform and runtime release note for Azure China (mooncake)"
[Enter feedback here]

Hi team,

This Databricks platform release note and runtime release note are very useful. and with more and more customers in China having Databricks deeply used, considering the releasing pace of Databricks in Azure China currently is not always consistent with Azure global.  Having a dedicated release note page will be extremely useful and necessary for those customers.  t

[2021-11-19 02:17] cmatskas commented on #83455
Hi all,

I haven't had the chance to play with PHP but a quick search found this awesome library that implement OIDC for PHP
https://github.com/jumbojett/OpenID-Connect-PHP

Any OIDC compliant library should work out of the box. @pauloporto please give this a go and if you get issues feel free to reach out if you get stuck/need help. I hope this helps

[2021-11-19 02:55] likebupt commented on #78809
#please-close

[2021-11-19 02:55] #78809 closed

[2021-11-19 03:23] benchwang commented on #81961
Got it. I shared this with our team mates. One team mate will start to work on this next week when he comes back from OOF. He will follow up with you.

[2021-11-19 03:37] mzdimal opened #84111 "Repository Sync Downtime"
When using repository sync feature is there any downtime to active apis that are being updated or will requests be queued and dispatched once the sync completes?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d0120b7-a5fe-fead-e88b-cf1bab80ba73
* Version Independent ID: 7371e474-727d-5bd1-600d-a502e9b17581
* Content:

[2021-11-19 03:56] ZeyuZhaoXYZ opened #84112 "Fail to grant access for AAD when using service to service authentication."
Hi, I follow the instruction in this doc, but fail to grant my service access to connect data lake storage gen1.
Anyone could help with this issue?
![image](https://user-images.githubusercontent.com/90363031/142562355-c757a6fe-3c33-4005-9624-e40af0072c8c.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4e5070f-4944

[2021-11-19 04:10] SadiqhAhmed-MSFT commented on #84091
@sebansal Thanks for the feedback. We will review the content and update it accordingly.

@tfitzmac FYI

[2021-11-19 04:31] SadiqhAhmed-MSFT commented on #83961
@prafulbusa Thank you for sharing the details. We will review the doc with content author and update it accordingly.

@memildin FYI

[2021-11-19 04:35] SadiqhAhmed-MSFT commented on #84065
@sideeksh Your inputs please.

[2021-11-19 04:55] kr-arjun commented on #65620
@Keevyn-Flores  Did this failure happen even with  spark.sql.hive.metastore.jars set to maven or 1.2.x metastore jars directory?

[2021-11-19 05:02] BharathNimmala-MSFT commented on #84103
@jenellea Thank you for sharing your feedback , assigned this issue to our document author to evaluate the feedback and see how the document can be further enhanced.

[2021-11-19 05:05] BharathNimmala-MSFT commented on #84097
@atkulp Thanks for your feedback, assigned this issue to our document author to further evaluate the feedback.

[2021-11-19 05:06] SadiqhAhmed-MSFT commented on #84092
@harshith79 Thank you for your post. We will look into it and get back to you soon.

[2021-11-19 05:08] SadiqhAhmed-MSFT commented on #84094
@EvanCahill Thank you for the feedback. We will review the content and update accordingly.

[2021-11-19 05:13] KranthiPakala-MSFT commented on #84092
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-11-19 05:37] John-HLC opened #84116 "Static Web App .. API route "Allowed Roles" is not allowing authenticated users to access the function API"
This is a continuation of this issue.  I am creating a new issue because a contributor closed the issue and I cannot reopen as asked if needed to.   [GitHub Issue #82900](https://github.com/MicrosoftDocs/azure-docs/issues/82900)

===============================================================

My Setup (trying to give as much high level setup as possible)

- Static Web App :  Building from GitHub

[2021-11-19 05:54] John-HLC commented on #84116
@mkarmark , @RyanHill-MSFT  (and @anthonychu )
You two helped me get most of the way there in the other issue 82900.
And.. the problem is simpler than described in that issue.
But the core issue is the same. I cant access a locked down API despite the logged in user being in the necessary role.

the one glaring possibility i can see... and i hope this helps rather than cloud the issue..

but When

[2021-11-19 05:59] pnarsi opened #84117 "Support for Private Git Repo as source for cloning onto Share Workspace/"
For the git clone feature that is mentioned in the screenshot below. Does the source git repo need to be accessible via the internet or does AML also support cloning from a internal git repo hosted on premise i.e. can AML leverage an Express Route or VPN tunnel back to a customer site to enable cloning from an internal git repo not accessible via the internet.

It is unclear from the documentation

[2021-11-19 06:10] GeethaThatipatri-MSFT commented on #84086
@sqlworldwide This is an additional screen we introduced to help customers launch the new Azure SQL Migration extension in Azure Data Studio from the Azure Portal and we want to promote the usage of it with customers (migrating to SQL MI or SQL VM). existing customers, who want to continue with the existing workflow to use DMS in the portal, they can select the second option (on the right).
![imag

[2021-11-19 07:34] SadiqhAhmed-MSFT commented on #84098
@tifischer Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-19 07:35] jayendranarumugam commented on #81891
Hi @robece  ,  Thanks for the response.  Let me explain what I'm thinking of

1. is the above statement is it officially documented anywhere?
2. From the response I see it as more generic, do we know exactly what's been done for the below
     - What kind of write access has been given. to eventgrid? Whether an RBAC role / SAS Key / Access key? If RBAC what exact role has been given e.g, Storage c

[2021-11-19 07:36] SadiqhAhmed-MSFT commented on #84102
@ryepup Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-19 07:40] ruffy91 opened #84119 "Release notes for new oms-windows version missing"
It would be great if new versions could be updated in the documentation when new versions are available in production.
The newest version available in Azure is 1.0.18062.0 while the newest version in the documentation is only 1.0.18053.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cefed4e0-440d-18d5-8b8d-4a345f396e9

[2021-11-19 08:00] pavel-sha commented on #63099
Yes, I also have a question about routing subdomains through the Azure Front door service.
I have a Kubernates cluster in which an ingress controller is configured for services by subdomain names (for example, service1.mydomain.com, service2.mydomain.com, service3.mydomain.com, etc.). I have configured using the * dns wildcard entries for my domain on the Azure Front door service (*.mydomain.com i

[2021-11-19 08:33] ecormaksin opened #84121 "The description of `function name` property should be improved."
When we call Durable Functions on Azure Data Factory, I think that `function name` property's value would be `orchestrators/{functionName}`. I struggled about calling Durable Functions on Azure Data Factory. However, [this article](http://datanrg.blogspot.com/2020/10/using-durable-functions-in-azure-data.html) helped. This `orchestrators/{functionName}` is the settings in `route` section of  Http

[2021-11-19 08:57] tunayokumus opened #84122 "Azure DevOps Artifact feed links are actually VSTS links."
These two links are provided as example in the document:

[code]

These are for customers with Visual Studio subscription and not necessarily for all customers with Azure DevOps subscription.
Can you please update or add links for the customers on the dev.azure.com domain?

Example:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-11-19 09:20] lukewar commented on #47611
Thank you @RyanHill-MSFT, very much appreciated ❤️.
From experience I know that those things tend to take time. Do you think that you would be able to provide resolution steps to the refreshing session issue? Or maybe provide a point of contact to product team who could help resolve that problem? I tried reaching out [here](https://github.com/Azure/app-service-announcements-discussions/issues/212)

[2021-11-19 09:42] AshokPeddakotla-MSFT commented on #83531
@JesvinJoseph Our team is actively working on this and will update you once it is fixed. Let us know if you are blocked due to this.

[2021-11-19 09:58] filippopovic commented on #84057
#reassign:mstehrani

[2021-11-19 09:58] filippopovic commented on #84057
@mstehrani page is for dedicated, could you please take a look?
Thanks

[2021-11-19 10:09] HydTechie commented on #51171
BadRequest - senses its not getting enough number of "required" parameters...

[2021-11-19 10:25] p0shkar opened #84123 "Video is unavailable"
Video is unavailable, don't seem to be a temporary issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c650df29-72e7-ea25-ee53-f467f925ef39
* Version Independent ID: fed9f82b-4206-c231-84a3-8791d912ca33
* Content: [Azure AD Connect: Getting Started using express settings](https://docs.microsoft.com/en-us/azure/active

[2021-11-19 10:27] dominicbetts commented on #84026
Hi @sandervandevelde - thanks for pointing this out. I've updated the article and the changes should be live later today.

#please-close

[2021-11-19 10:27] #84026 closed

[2021-11-19 10:34] norvegec opened #84125 "Confidential ledger overview - broken link to demo"
_For more information, you can watch the Microsoft Ignite 2020 Azure confidential ledger demo._
Cannot view the demo by link - authorization failure.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 756d7e9d-e984-8189-75e4-0e08b26c114a
* Version Independent ID: de71656d-4c71-cf7f-632e-695c018c9644
* Content: [Microsoft Az

[2021-11-19 10:40] minnieshi opened #84126 "create login does not work"
[
after create the login in master DB by "CREATE LOGIN data_explorer WITH PASSWORD = blahblhablah"

below command did not work (assumed it should run in "DataExplorationDB" DB,

CREATE USER data_explorer FOR LOGIN data_explorer;
GO
GRANT ADMINISTER DATABASE BULK OPERATIONS TO data_explorer;
GO

error message
'data_explorer' is not a valid login or you do not have permission.

]
---
#### Document D

[2021-11-19 12:08] SadiqhAhmed-MSFT commented on #84105
@taiyokato Thank you your feedback. We will review it and update accordingly.

@hirenshah1 FYI

[2021-11-19 12:11] SadiqhAhmed-MSFT commented on #84106
@kamfaima Thank you for your feedback! We will review further and take the next course of action.

[2021-11-19 12:13] SadiqhAhmed-MSFT commented on #84107
@ToruMakabe Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-11-19 12:15] SadiqhAhmed-MSFT commented on #84108
@RicZhou-MS Thank you for your feedback! We will review further and take the next course of action.

[2021-11-19 12:18] SadiqhAhmed-MSFT commented on #84111
@mzdimal Thank you for your post. We will  look into it and get back to you soon.

[2021-11-19 12:29] kengaderdus commented on #84068
@72gm Thank you for your feedback. What you see in the Azure portal, the date, is just an announcement when that feature was released e.g. for public preview or general availability. The one you see (date) in docs.microsoft.com is one when the article was updated. Nevertheless, we understand your confusion and we'll do a better job to ensure that does not happen.

#please-close

[2021-11-19 12:29] #84068 closed

[2021-11-19 13:21] SadiqhAhmed-MSFT commented on #84116
@John-HLC Thank you for reaching out!

@RyanHill-MSFT FYI

[2021-11-19 13:22] SadiqhAhmed-MSFT commented on #84112
@ZeyuZhaoXYZ Thank you for your post. We will look into it and get back to you soon.

[2021-11-19 13:27] vibrunazo opened #84128 "Cannot sign in."
[Enter feedback here]
Quick start fails at Publish your Webapp step 4: sign in.

My Microsoft account already shows up on the top right. Selecting it doesn't do anything. I try clicking "Already have an account? Sign in" and I put again the credentials of my Microsoft Account. Then nothing happens, it just gets me back to the same screen, asking me to sign in. No error message.

---
#### Document

[2021-11-19 13:36] SadiqhAhmed-MSFT commented on #84117
@pnarsi Thank you for your post. We will look into it and get back to you shortly.

[2021-11-19 13:42] gary918 commented on #83744
@SaiKishor-MSFT  Got it. Thanks a lot for your detailed reply!

[2021-11-19 14:03] RyanHill-MSFT commented on #47611
@luewar, send me an email to AzCommunity[at]microsoft[dot]com so I work more closely with you regarding the token refresh issue.

[2021-11-19 14:04] RyanHill-MSFT commented on #84116
Thanks @SadiqhAhmed-MSFT.

@John-HLC I'll reach out to @mkarmark to see what your issue may be. Also, apologies that you couldn't reopen the issue. I'll check to see what's going on with that as well.

[2021-11-19 14:48] molislaegers opened #84130 "Docs Tutorial: Atlassian Cloud Provisioning not possible"
Atlassian Cloud provisioning page in Enterprise applications gives the message:

Out of the box automatic provisioning to Atlassian Cloud is not supported today. Ensure that Atlassian Cloud supports the SCIM standard for provisioning and request support for the application as described here. To determine if the application suports SCIM, please contact the application developer.

(including typo).

[2021-11-19 14:53] pjmcglynn opened #84132 "Timeline for additional MS Apps"
When will additional MS Apps be added to the supported shared mode for Android?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0072c083-6b6c-2d36-d70f-4d63da44d178
* Version Independent ID: 9cc2ce29-7861-2886-c27b-b29da4d864ef
* Content: [Shared device mode for Android devices - Microsoft identit

[2021-11-19 14:54] John-HLC commented on #84116
No worries Ryan - i took the month off moving everything to VS 2022 and getting Hot Reload and .NET 6 working.. Besides that other thread is polluted with my misconceptions on being new to Static Web App.

[2021-11-19 15:02] KranthiPakala-MSFT commented on #84119
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-11-19 15:11] JesvinJoseph commented on #83531
@AshokPeddakotla-MSFT We are using a vulnerable image in production. So concerned about the security. Functionality-wise it's ok. Please let me know when a new image is available.

[2021-11-19 15:12] KranthiPakala-MSFT commented on #84121
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-11-19 15:13] molislaegers commented on #84130
Re-added the app and it works.

[2021-11-19 15:13] #84130 closed

[2021-11-19 15:14] KranthiPakala-MSFT commented on #84122
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-11-19 15:16] KranthiPakala-MSFT commented on #84123
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-11-19 15:24] spelluru commented on #83992
The article is updated now. We will take it through another formal editing review and update it soon. Thanks.

#please-close

[2021-11-19 15:24] #83992 closed

[2021-11-19 15:25] KranthiPakala-MSFT commented on #84126
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-11-19 15:44] sandervandevelde commented on #84026
Excellent!

[2021-11-19 15:46] juliakm commented on #81246
@idrm There's a new version of Azure Login that you can use with OpenID Connect. We're working through updating articles but in the meantime you can follow the instructions [here](https://docs.microsoft.com/azure/developer/github/connect-from-azure?tabs=azure-portal%2Cwindows#use-the-azure-login-action-with-openid-connect).

[2021-11-19 15:59] byronbayer commented on #65655
I am having the same issue as @vincent-yeah  I get
Unable to grant read/list permission to Databricks service principal to KeyVault 'https://mykvname.vault.azure.net/': key not found: https://management.core.windows.net/"

[2021-11-19 16:04] MarileeTurscak-MSFT commented on #84125
@norvegec
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-19 16:04] #83735 closed

[2021-11-19 16:11] philwelz commented on #82469
@tfitzmac is there any update on that?

[2021-11-19 16:19] normesta commented on #82896
Thanks @gzmrst-sr  and @abudhu - links are now current in the docs.

#please-close

[2021-11-19 16:19] #82896 closed

[2021-11-19 16:21] liiamjones opened #84134 "Missing Esp32MQTTClient.h"
The docs fails to advise of the [Espmqttclient ](https://www.arduino.cc/reference/en/libraries/espmqttclient/)prerequisite. This can be installed via the Arduino IDE library manager.

Without this, the sample code fails to compile with

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78884cad-41dd-0c66-8173-50614

[2021-11-19 16:34] liiamjones commented on #84134
wrong repo, sorry

[2021-11-19 16:34] #84134 closed

[2021-11-19 16:36] AC740 opened #84135 "External Ip address from my logic app is not in the ip list on MS Logic App doc page."
[Enter feedback here]

External ip addresses on my logic app properties are not the same in the https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-limits-and-config?tabs=azure-portal#configuration

Do I still have to include the ip addresses on the page as well? (Or is it ok to use only the ip address in the logic app properties?)

Thanks, Andrew

---
#### Document Details

⚠ *Do not edi

[2021-11-19 16:44] NikhilD16 commented on #81307
Is there any update here?
As per the naming convention, https://docs.microsoft.com/en-us/azure/virtual-machines/vm-naming-conventions following machines needs classification of Constrained vCPU. But we are not seeing this in https://docs.microsoft.com/en-us/azure/virtual-machines/constrained-vcpu

Standard_HB120-96rs_v3, Standard_HB120-64rs_v3, Standard_HB120-32rs_v3, Standard_HB120-16rs_v3

Can y

[2021-11-19 16:55] vermagit commented on #81307
@NikhilD16 : Yes, the listed HBv3 VM sizes are indeed constrained core sizes as you correctly inferred from the naming convention. For details on the HBv3 VM sizes, please refer to their docs: https://docs.microsoft.com/en-us/azure/virtual-machines/hbv3-series and the associated topology in https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/hpc/hbv3-series-overview.

@Karishma-Tiwar

[2021-11-19 16:57] originalnetadmin opened #84138 "Conflicting statements in document"
In the disk sizes section (https://docs.microsoft.com/en-us/azure/virtual-machines/disks-shared-enable?tabs=azure-portal#disk-sizes), it has conflicting information. Right in the first paragraph of that section, it states

<i>For premium SSDs, the disk sizes that support sharing their disks are P15 and greater.</i>

A little below that, in the table under "Premium SSD ranges", it states:

<html>
<

[2021-11-19 17:01] akamud opened #84139 "How to add claims from `claimsMappingPolicy` in Guest user's Access Token (JWT)"
We're trying to add extra claims to a **guest** user's access token (JWT format) from our Azure AD (**not** B2C). We tried a few different things: opening the "Token configuration" options, adding the "optional claim" in the access token works. So if I add, for example, the `upn` claim, and provide the additional options to put its value in the guest user's claim, it shows up in the access token c

[2021-11-19 17:02] RyanHill-MSFT commented on #84074
Hi @metaxiom, the doc assumes you already have an existing [durable functions project](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-event-publishing?tabs=csharp-script#configure-event-grid-publishing). If you don't have an existing project, check this [sample project](https://docs.microsoft.com/en-us/samples/azure-samples/durable-functions-producer-consumer/prod

[2021-11-19 17:02] tfitzmac commented on #82215
@CHDAFNI-MSFT - thanks for this feedback. When installing manually, you want to select a location that is different than the one used by the instance managed by Azure CLI. However, for air-gapped environment, the install and upgrade commands don't work, so you need to manually install it to the location expected by Azure CLI.

I have added clarification to this article. The update will get publish

[2021-11-19 17:02] #82215 closed

[2021-11-19 17:03] GeethaThatipatri-MSFT commented on #83869
@sebhe Happy to help if you have any additional questions.

[2021-11-19 17:03] spygi commented on #80913
Thank you @markjbrown for the thorough response and clarifications. I think what felt off was the "exactly once" wording but I understand now what was meant.

 Great to verify that too, thanks.

[2021-11-19 17:22] Cisien opened #84141 "404 on the feedback forum link"
In the last question on this page there is a link for requesting features via the feedback forum, this link is a 404.

`https://aka.ms/webapps-uservoice`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ad93cdc-b192-914c-796c-b1e022d31df5
* Version Independent ID: 56f48dbd-a0f0-a2ce-6ccc-0a82ae51a876
* Content: [App Ser

[2021-11-19 17:25] scottrowles commented on #63558
Hey.  As a followup.  I can't find any documentation on HOW/FORMAT to send replica sets as a parameter to the New-AzResource method.  I tried using the New-AzAdReplicaSet command and pass the returned json, but it throws an error.  Can you point to some documentation of how to create/format the replica set data for this New-AzResource method?

[2021-11-19 17:33] alexweininger commented on #83970
Nathan's replied here https://github.com/microsoft/vscode-azurefunctions/issues/3002#issuecomment-973453019.

[2021-11-19 17:38] davidmu1 commented on #82684
Could not locate updated content. Removed the link for now.

#please-close

[2021-11-19 17:38] #82684 closed

[2021-11-19 17:40] tfitzmac commented on #84002
@SenthuranSivananthan - thanks for this feedback. Because of a temporary issue, the restore command is currently only available when you call the Bicep CLI directly. You can use it with "bicep restore" but not "az bicep restore". I have changed this article to show that usage. The update will get published later today.
#please-close

[2021-11-19 17:40] #84002 closed

[2021-11-19 17:41] tfitzmac commented on #84059
@take-4c - hopefully that answers your question, we'll close this issue for now.
#please-close

[2021-11-19 17:42] #84059 closed

[2021-11-19 17:45] tiagopsantos commented on #35291
https://github.com/MicrosoftDocs/azure-docs/issues/45171

Just a warning the Outbound IP will be one of the subnet
It will depend of IP of the internal load balancer and APIM instances whenever you scale up

[2021-11-19 17:45] CHDAFNI-MSFT commented on #82215
Hi @tfitzmac ,

I don't believe this addresses the concern. Please let me know if you disagree with the below:

For 3 different of the different Windows installation methods for Bicep:

1. Azure CLI (it is self-contained) - nothing else to say here
2. '[Manual with PowerShell](https://docs.microsoft.com/en-us/azure/azure-resource-manager/bicep/install#manual-with-powershell)' which reflects an ins

[2021-11-19 17:46] MartinJaffer-MSFT commented on #83532
Is it working now?

[2021-11-19 17:55] kar400 opened #84143 ""Your" not "You're""
In the file formats section: https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-best-practices#file-formats

Last paragraph in that section, third sentence.
It currently reads: You're queries are much more efficient because...

Is should read: Your queries....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-11-19 18:01] tfitzmac commented on #82215
If you are not in an air-gapped environment and you're using Azure CLI, then just let Azure CLI manage the instance. If you're not in an air-gapped environment and not using Azure CLI, then it's better to keep these installations separate. You may later decide to add Azure CLI. For air-gapped, there is no chance of Azure CLI installing the executable so you are in sense doing that for Azure CLI.

[2021-11-19 18:07] rwike77 commented on #83312
@blackchoey,  I'll close this now since we answered your original question.  Started up an internal email thread for your follow up question.  I can update the article with whatever recommendation comes from that thread.  #please-close

[2021-11-19 18:07] #83312 closed

[2021-11-19 18:10] Giant-Kraken opened #84145 "SQL Server Enterprise and Standard Pay as you go license unclear"
Section: https://docs.microsoft.com/en-us/azure/azure-sql/virtual-machines/windows/pricing-guidance#pay-per-usage

Going to the virtual machine pricing page and trying to infer per core price for Server Enterprise or Standard yields inconsistent results. Can this be called out explicitly? This is particularly important given that the Azure Retail Prices API does not provide this level of detail (o

[2021-11-19 18:14] JamesTran-MSFT commented on #84139
@akamud
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-19 18:15] JamesTran-MSFT commented on #84132
@pjmcglynn
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-19 18:18] tfitzmac commented on #82215
One other option is to install and update through Azure CLI, but add that location to your PATH so it's available to PowerShell. This way you have just one installation but it is still being managed through Azure CLI.

[2021-11-19 19:02] blhubbard opened #84146 "Template note left in document on Traffic Manager Azure Security Baseline control AM-2"
The following note that appears to be guidance intended for the Azure Security Baseline author has accidentally been left in the [Traffic Manager baseline on control AM-2.](https://docs.microsoft.com/en-us/security/benchmark/azure/baselines/traffic-manager-security-baseline#am-2-ensure-security-team-has-access-to-asset-inventory-and-metadata)

Misplaced guidance italicized above.

---
#### Documen

[2021-11-19 19:09] ChaitanyaNaykodi-MSFT commented on #83903
Hello @MinaPiao, Thank you for your feedback. I have made a PR to address this issue which is currently under Doc Author's review. We will now proceed to close this issue out. Please tag me in your response if you have any additional questions.

[2021-11-19 19:09] #83903 closed

[2021-11-19 19:15] ChaitanyaNaykodi-MSFT commented on #84146
Hello @blhubbard
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-11-19 19:20] billmath commented on #71037
Thank for submitting this. I have created a work item for it and will reviewing this in the coming weeks. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2021-11-19 19:20] #71037 closed

[2021-11-19 19:21] billmath commented on #71528
Thank for submitting this. I have created a work item for it and will reviewing this in the coming weeks. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2021-11-19 19:21] #71528 closed

[2021-11-19 19:23] billmath commented on #71690
Thank for submitting this. I have created a work item for it and will reviewing this in the coming weeks. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2021-11-19 19:23] #71690 closed

[2021-11-19 19:24] billmath commented on #71867
Thank for submitting this. I have created a work item for it and will reviewing this in the coming weeks. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2021-11-19 19:24] #71867 closed

[2021-11-19 19:25] billmath commented on #73116
Thank for submitting this. I have created a work item for it and will reviewing this in the coming weeks. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2021-11-19 19:25] #73116 closed

[2021-11-19 19:26] billmath commented on #73182
Thank for submitting this. I have created a work item for it and will reviewing this in the coming weeks. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2021-11-19 19:26] #73182 closed

[2021-11-19 19:28] billmath commented on #73332
Thank for submitting this. I have created a work item for it and will reviewing this in the coming weeks. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2021-11-19 19:28] #73332 closed

[2021-11-19 19:34] GeethaThatipatri-MSFT commented on #84066
@sunilagarwal @Bashar-MSFT  can you please provide some clarification on the above.

[2021-11-19 19:40] v-gpettibone commented on #82837
Hi @plutoscarab, I changed show-connection-string to connection-string show. Please have a look and close this if there are no further issues with the article. Thanks!

[2021-11-19 19:55] #82837 closed

[2021-11-19 19:56] plutoscarab commented on #82837
Confirmed fixed

[2021-11-19 19:57] #80321 closed

[2021-11-19 20:03] douglasmaciver opened #84147 "Create and deploy VM applications: instruction error"
Step 3  "...select VM **image** definition..." should be "...select VM **application** definition..."

Incorrect:

Corrected:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1990fefe-9aee-5205-04aa-02ad58016077
* Version Independent ID: 9737fc6f-99a0-563a-b809-348326155834
* Content: [Create and deploy VM application pa

[2021-11-19 20:20] MarileeTurscak-MSFT commented on #84052
Yes, the article is referring to Azure AD Groups. These are mentioned later on in the [Groups ](https://docs.microsoft.com/en-us/azure/active-directory/develop/custom-rbac-for-developers#groups)section as well.

See also, [How to assign Azure Active Directory (Azure AD) role to an Azure AD group](https://docs.microsoft.com/en-us/azure/active-directory/roles/groups-assign-role).

[2021-11-19 20:20] #84052 closed

[2021-11-19 20:20] douglasmaciver opened #84148 "Create and deploy VM application: Instructions omit required "Create a VM Application Version" step"
I'm new to this feature, but aren't these instructions missing the significant step of creating the VM application version?

After step 8 of creating the application definition, the instructions move on to deploying the application:

⚠ *missing content?*

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1990fefe-9aee-5205

[2021-11-19 20:26] MarileeTurscak-MSFT commented on #84125
Thank you! I made a pull request to add an updated demo. https://github.com/MicrosoftDocs/azure-docs-pr/pull/180565

[2021-11-19 20:26] #84125 closed

[2021-11-19 20:31] kobulloc-MSFT commented on #84145
@Giant-Kraken Thank you for your feedback!  As a quick disclaimer it's important to remember that the most up to date and accurate pricing information can be found on the [Azure Pricing Calculator](https://azure.microsoft.com/en-us/pricing/calculator/) and the [Azure Pricing Page](https://azure.microsoft.com/en-us/pricing/details/virtual-machines/windows/).

As a general statement, the increase in

[2021-11-19 20:38] kobulloc-MSFT commented on #84147
@douglasmaciver Thank you for bringing this to our attention!  I will review the documentation and get a correction out shortly.

[2021-11-19 20:39] kobulloc-MSFT commented on #84148
@douglasmaciver Thank you for your feedback!  I'm reviewing the documentation and will get back to you shortly.

[2021-11-19 20:47] beniluul opened #84149 "Please make a correction to 1 line in this KB"
[
Not sure if my Edit suggestion came through. In regard to the section "**Configure Saba TalentSpace SSO**"

For step **4**. where it says:
**b. As "Unique Identifier Maps" To, select "Username".**

Please change that line to:
**b. As "Unique Identifier Maps" To, select "Username", "Email Address", or "Employee ID". This is the field that needs to match with the Azure primary attribute.**

Thank

[2021-11-19 20:53] safouenmzah opened #84150 "Event Driven definition question?"
What are the events referred to in the first figure?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c371f78c-6289-eba8-a8fb-426d12b20fce
* Version Independent ID: d6345fe9-98cc-9467-37a6-b9c48b3c5d36
* Content: [Event-driven scaling in Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/event-driven

[2021-11-19 20:59] DerekHerman-MSFT commented on #84138
Thanks for reporting this! We have created a PR for this issue and the changes should go live later today.

[2021-11-19 20:59] #84138 closed

[2021-11-19 21:14] DerekHerman-MSFT commented on #84143
Thanks for reporting this. We have created a PR and the changes should go live later today.

[2021-11-19 21:14] #84143 closed

[2021-11-19 21:20] JamesTran-MSFT commented on #84149
@beniluul
Thanks for your feedback! We will investigate and update as appropriate.

[2021-11-19 21:21] johnayoub opened #84152 "Secret-less Configuration"
Given the new release of the [Azure Job Extensions](https://devblogs.microsoft.com/azure-sdk/introducing-the-new-azure-function-extension-libraries-beta/) could you update the docs with which settings this applies to.

I'm interested in how I can use this for the following two properties where I can avoid specifying the account key

- AzureWebJobsStorage
- WEBSITE_CONTENTAZUREFILECONNECTIONSTRING

[2021-11-19 21:34] Blackmist commented on #80335
Hi @alanflanders-teck
To expand on what @snowei mentioned above, Power BI expects an array (list) of values that matches the number of rows of data passed as input. But within that array of results, you can use any Python structure that can be serialized as JSON. For example:

[code]
That assumes that the model returns a dataframe formatted into rows of columns 'a1' and 'a2' values. In Power BI, y

[2021-11-19 21:50] BharathNimmala-MSFT commented on #83613
@LorenzoGalizia My sincere apologies for delay in getting back to this thread, I am further validating on this and will keep you updated at the earliest.

[2021-11-19 22:03] Blackmist commented on #80335
Doc has been updated. The update will go live later today. Thanks for helping us improve our docs @alanflanders-teck !

#please-close

[2021-11-19 22:03] #80335 closed

[2021-11-19 22:03] sitaramaprasad-e opened #84153 "DNS Resolution Issue on AKS due to i/o timeout"
Hi Team,

Our AKS cluster throwing an intermittent DNS issue(DNS resolution failed)

20210915T201241.606Z [0x80e00783][network][error] dns(Main-Name-Service): tid(1311): Cannot resolve host name 'xxxx.fsis.usda.gov' after 17046 ms..

When I checked the coreDNS logs, I found the below errors.

[ERROR] plugin/errors: 2 xxxx.fsis.usda.gov. A: read udp 10.201.x.20:43262->10.201.x.148:53: i/o timeout
[

[2021-11-19 22:18] laserprec opened #84154 "Role of BGP in VNET-2-VNET Connection"
Hi. I was able to follow the documentation to create connections across two vnets from different subscriptions. However, the subnet IPs are not discoverable across the vnets even with the VNET-to-VNET connection established and reporting "connected" status. It took me a while to figure out that the issue was BGP not being turned on. The documentation didn't mention about BGP so I figured it would

[2021-11-19 22:50] mike-urnun-msft commented on #83833
Since we haven't heard back, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-11-19 22:50] #83833 closed

[2021-11-19 23:02] kobulloc-MSFT commented on #84147
@douglasmaciver You are correct, of course, and I'll get a PR out to address this:

![image](https://user-images.githubusercontent.com/37556655/142701935-3889e97b-5477-4801-a3f5-55ba16b3dfb7.png)

![image](https://user-images.githubusercontent.com/37556655/142701961-5795645f-3240-4099-98e4-6a3f21f68895.png)

[2021-11-19 23:04] congyiwu opened #84157 "recommended network API version 2021-11-01 doesn't exist"
Did you mean 202*0*-11-01?

I got this error from `bicep build`:

The latest version on https://docs.microsoft.com/en-us/azure/templates/microsoft.network/networksecuritygroups?tabs=bicep is 2021-03-01, and 202*0*-11-01 exists.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23da86c6-04f4-231e-fba5-f2af84973b64
* Versio